[2019-08-28 10:17] ily-R opened #25302 "Dataloader crashes if num_worker>0"
If I define my dataloader as follows:
[code]

My training loop runs well.
If however I Implement my dataset class:

[code]

[code]

the code crashes! I tried different choices:
- pin_memory = False
- non_blocking=True/False during fetching the dataset
- CUDA 10.0 with Pytorch 1.1.# or 1.2.0 and Python 3.6.9 or 3.7

here's the error that pops out:

[code]

Thank you

cc @SsnL

[2019-08-28 10:18] vadimkantorov commented on #25297
Is torch.as_tensor supposed to zero-copy with bytearrays?

[2019-08-28 10:20] soumith commented on #24137
cc: @mrshenli @pietern we should fix this with upcast + transfer + downcast

[2019-08-28 10:35] soumith commented on #14165
@yf225 apparently this is fixed in latest MKL-DNN upgrade. It is pending land https://github.com/pytorch/pytorch/pull/22910

[2019-08-28 10:44] SahithiParsi commented on #10443
tried this issue but got this  error

(virenv) C:\Users\sahithi\Desktop\ner\BERT-NER>pipenv install torch==0.4.1
Courtesy Notice: Pipenv found itself running within a virtual environment, so it will automatically use that environment, instead of creating its own for any project. You can set PIPENV_IGNORE_VIRTUALENVS=1 to force pipenv to ignore that environment and create its own instead. You can s

[2019-08-28 10:52] SahithiParsi commented on #10443
@adamshamsudeen
 i am still facing the same issue. Please suggest a work around.

'No matching distribution found for torch==0.4.1 (from -r C:\\Users\\Public\\Documents\\Wondershare\\CreatorTemp\\pipenv-r1wamorj-requirements\\pipenv-88xg7w6t-requirement.txt (line 1))']
ERROR: ERROR: Package installation failed...

Courtesy Notice: Pipenv found itself running within a virtual environment, so it wil

[2019-08-28 10:55] ptrblck commented on #24157
Related issues from the forum:
* https://discuss.pytorch.org/t/why-there-is-no-graph-when-i-use-tensorboard-to-visualize-my-model/54513
* https://discuss.pytorch.org/t/tensorboard-not-displaying-graph/54497
* https://discuss.pytorch.org/t/graphs-not-showing-in-tensorboard-pytorch-1-2/53543
* https://discuss.pytorch.org/t/seeking-help-the-model-does-not-appear-in-the-graphs-with-tensorboard/53572

[2019-08-28 10:59] #25171 closed

[2019-08-28 11:30] zhixuanli commented on #15253
Waiting for the batch version and hoping the implementation of @jacobrgardner can be integrated into the official version.

[2019-08-28 11:41] vadimkantorov commented on #25297
@soumith do you mean using spawn mode for data loader? Otherwise, i don’t know how to “create subprocess using spawn”

[2019-08-28 11:52] pietern commented on #25299
Please include the version of PyTorch you're using.

An invalid argument error from NCCL indicates something in NCCL itself is going wrong. Can you run again with NCCL debugging enabled and report back what you see? Please refer to https://pytorch.org/docs/stable/distributed.html#other-nccl-environment-variables for the relevant environment variables.

[2019-08-28 11:55] beichen2012 opened #25303 "libtorch(c++) Adam and RMSProp optimizer memory leaks in CUDA"
## 🐛 Bug

libtorch(c++) Adam and RMSProp optimizer memory leaks in CUDA

## To Reproduce
libtorch1.2, cuda10,win10, vs2015, win64
Steps to reproduce the behavior:
please refer to the test code:  https://github.com/beichen2012/pytorchAdamMemLeak
open gpu-z to inspect the GPU Memory...

## Expected behavior

1、there will be no memory leaks in CPU
2、 the leaks num is : 2M every time...

## Environmen

[2019-08-28 12:51] lanpa commented on #24904
@as754770178 I can't find so-called `featuremaps` in PyTorch-YOLOv3.

[2019-08-28 13:18] as754770178 commented on #24904
sorry, I change backbone.
[code]

[2019-08-28 13:19] zaccharieramzi commented on #23725
Just had this error right now with version `1.2.0`. I tried to do it with the nightly build (`1.3.0.dev20190828`), but got the same error.
The code I used to have this error:

[code]

This is basically the beginning of [the tutorial for tensors and autograd](https://pytorch.org/tutorials/beginner/examples_autograd/two_layer_net_autograd.html#pytorch-tensors-and-autograd) but with a complex dtype (

[2019-08-28 13:29] ezyang opened #25304 "DistributionsTest is failing on Windows on master"
[code]

https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-win-ws2016-cuda9-cudnn7-py3-test2/44741//console

The HUD log fingers https://github.com/pytorch/pytorch/pull/25258 as the culprit commit but I don't see how the that patchset could have caused this failure.

cc @vincentqb @fritzo @neerajprad @alicanb @vishwakftw @peterjc123 @syed-ahmed

[2019-08-28 13:42] soumith commented on #23725
@zaccharieramzi a `dtype` of `torch.complex64` doesn't actually have any implementations. It is not supported.

[2019-08-28 14:00] dpappas commented on #3166
Perfect! Thank you very much.

[2019-08-28 14:11] Will-Hui opened #25307 "How do I go forward without saving variables that are not needed for back propagation?"
## 🚀 Feature

## Motivation

[2019-08-28 14:17] soumith commented on #25307
please use https://discuss.pytorch.org for questions

[2019-08-28 14:17] #25307 closed

[2019-08-28 14:33] zaccharieramzi commented on #23725
Yes I saw that even for a fourier transform you actually need an extra dimension for imaginary and real.
Still I think the error message should be better.

Also, what is then the purpose of `torch.complex64`? (maybe not the place to ask)

[2019-08-28 14:38] zhjw0927 opened #25309 "An error occurred while loading the model with libtorch"
When I loaded the model with libtorch, I got the following error：
![image](https://user-images.githubusercontent.com/42128459/63865613-7722b300-c9e4-11e9-93f2-1258d66a658f.png)
How can I do it, I hope to get help
Thanks！

[2019-08-28 14:42] soumith commented on #25309
please use https://discuss.pytorch.org for questions

[2019-08-28 14:42] #25309 closed

[2019-08-28 14:43] soumith commented on #23725
`torch.complex64` stubs were added so that complex Tensor support can be added in a separate package, by @Roger-luo and others. But I dont think much progress has happened.

[2019-08-28 14:47] johncwok opened #25310 "Handling of packed_sequence by activation functions and linear layers"
## 🚀 Feature
It would be absolutely great, more efficient and simplify usage of batched processing of variable length-input, if activations functions and linear layer could handle packed_sequences.

## Motivation

I noticed that it is not possible to feed ```packed_sequences``` to things like activation functions or linear layers. With NLP applications in mind, it forces me to design models having

[2019-08-28 14:52] #24200 closed

[2019-08-28 14:52] soumith commented on #25310
@johncwok we are working on Nested Tensors, a generalized version of Lists of Tensors. Tracked in https://github.com/pytorch/pytorch/issues/25032
Maybe that'll help.

As to the question of why more stuff doesn't support packed sequences, they were written as a limited datatype to be compatible with CuDNN's packed sequences, and much thought wasn't given as to whether they are truly what we need to

[2019-08-28 14:56] ezyang opened #25312 "Converter.ExternalOutputs flaky on Windows"
[code]

https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-win-ws2016-cuda9-cudnn7-py3-test2/44750/console

cc @peterjc123

[2019-08-28 15:50] egrefen opened #25315 "No double backwards implemented for several RNN ops"
As flagged in pytorch/pytorch#5261, there are no second derivatives for several RNN modules when running on GPU due to CUDNN limitations. One proposed solution is to run the code for such modules with the `torch.backends.cudnn.flags(enabled=False)` context manager, but this yields runtime errors. Here is some repro code:

## This code block works
[code]

## This code block returns `RuntimeError: d

[2019-08-28 16:25] izdeby opened #25316 "torch.Tensor([True]) returns different result than torch.tensor([True])"
**Actual**:
[code]

**Expected**:
[code]

[2019-08-28 16:36] sarimmehdi opened #25318 "Custome Dataset class gives TypeError: __call__() missing 1 required positional argument: 'target'"
Hi, this is the code for my custom dataset class:
[code]
And this is how I call it:
[code]
This is the error I am getting:
[code]
**Why am I being told of a missing positional argument?**

**EDIT:**
I decided to import a different transform:
`import torchvision.transforms as transforms`
But now I get the following error:
[code]

[2019-08-28 16:49] cloudhan opened #25320 "Compilation Error on Windows"
#### ~~How to reproduce~~

[code]

## Configuration Log
<details><summary>Expand for detail</summary>
<p>

[code]

</p>
</details>

## First Error
<details><summary>Expand for detail</summary>
<p>

[code]

</p>
</details>

## Second Error
<details><summary>Expand for detail</summary>
<p>

[code]

</p>
</details>

## Third Error

The third one is same to the second one, but happens to target `caffe

[2019-08-28 16:53] cloudhan commented on #25320
NOTE, I have solved the first one and walk around the second and third one and I have successfully built it. Maintainer can skip this issue for now before I making a PR to fix it.

[2019-08-28 17:17] ShahriarSS commented on #25293
@soumith I'll fix this.

[2019-08-28 17:52] #25234 closed

[2019-08-28 19:25] #25072 closed

[2019-08-28 19:52] patrick-kidger opened #25340 "Memory leak: autograd contexts not being garbage collected when assigned output Tensors as attributes"
## 🐛 Bug

Autograd contexts (I think they're called this - the `ctx` variable used with `autograd.Function`) are not garbage collected by Python when the *output* of the `autograd.Function` is assigned to them as an attribute. In particular this means that every other attribute of the context also sticks around, and memory usage quickly spirals out of control.

MWE:
[code]

We expect the weakref t

[2019-08-28 20:15] cpuhrsch opened #25347 "polygamma undocumented"
## 📚 Documentation

polygamma appears undocumented

[code]

Yes [the docs](https://pytorch.org/docs/master/search.html?q=polygamma&check_keywords=yes&area=default) don't seem to mention it.

It's also not in our [docs file](https://github.com/pytorch/pytorch/blob/687aa781dfafca0e182560806cc0437007911493/torch/_tensor_docs.py).

cc @vincentqb @fritzo @neerajprad @alicanb @vishwakftw

[2019-08-28 20:16] andreaskoepf commented on #25316
@izdeby in your example you used the lower-case `torch.tensor()` method. This does already now produce a `BoolTensor`.

If you write `torch.Tensor([True])` or `torch.Tensor([1])` ... it will invoke the ctor of the default tensor type ( (by default `FloatTensor`) in both cases even though a list of boolean or an integer values is passed. The default tensor type can be set by `torch.set_default_tens

[2019-08-28 20:42] patrick-kidger commented on #25340
Actually I think the cause is pretty obvious: `y` has a reference to `ctx` (via its `grad_fn` attribute), and `ctx` obviously has a reference to `y`, giving a reference cycle.

I'm guessing the `grad_fn` attribute is handled in the C++ side so the cycle isn't being correctly detected and collected by Python's GC.

[2019-08-28 20:58] andreaskoepf commented on #25310
@johncwok if you want to apply functions position independent (for all symbol-embedings equally) you could implement yourself a simple helper function, e.g.

[code]

You could use it to pass the elements of a packed sequence through a linear layer:

[code]

Or combine linear + softmax further simply use:

[code]

[2019-08-28 21:08] ecr23xx commented on #6402
You can use operator `StopGradient`.

Read details in https://github.com/caffe2/caffe2/issues/1744.

[2019-08-28 21:13] patrick-kidger commented on #25340
A little further testing: using `save_for_backward` in place of assigning as an attribute also gives expected results.

I'm aware `save_for_backward` is the preferred method for storing Tensors. I stumbled across this bug in a somewhat more involved context, when the thing being assigned isn't actually a Tensor itself, but is a complicated structure that happens to include a reference to the outpu

[2019-08-28 21:25] JohnGiorgi commented on #17630
@soumith Hi, I am also getting the same issue in my setup. I am trying to run k-fold cross-validation. In each loop of my cross-validation code, I initialize a model, optimizer and scheduler. Memory on my GPU accumulates until I get `RuntimeError: CUDA out of memory`.

## To Reproduce

Steps to reproduce the behavior:

[code]

It does not seem to matter which scheduler I use. I originally ran into

[2019-08-28 21:26] HapeMask opened #25360 "[JIT] JIT frontend uses len(op_token) before checking for None"
## 🐛 Bug

If you try to script a module with an unsupported unary op (in this case, `Invert` applied to a tensor like `~X`), `build_UnaryOp()` tries to use `len(op_token)` before checking if the token is None. Instead of printing the actual error message, it then fails with a ValueError:

[code]

If I add a check for None and use 0 instead of `len(op_token)` in that case, I get the real error whic

[2019-08-28 21:49] lara-hdr commented on #20075
I was adding a test in test_jit.py and noticed a test test_trace_checker_arange_as_constant was already added in https://github.com/pytorch/pytorch/pull/10841 to ensure that arrange was traced as a constant.
@jamesr66a why is this needed? can we allow arrange to have variable args like mentioned above?

[2019-08-28 21:49] Wronskia commented on #3718
@magic282 , I think the implementation of @rdspring1 is assuming a multiclass format.

[2019-08-28 21:59] #10532 closed

[2019-08-28 21:59] #24778 closed

[2019-08-28 22:01] VitalyFedyunin commented on #22294
#22910 landed, can someone please verify it is fixing the issue

[2019-08-28 22:24] egrefen commented on #25315
Sorry if I wasn't clear, but we're specifically just looking for non-CUDNN double backward support on GPU.

This has been pointed out, but the issue is that what are are trying to do has incompatibility issues with torchscript which are being separately addressed.

[2019-08-28 22:25] dashesy opened #25362 "[ONNX] export torch.jit.script with List[List[int]] input"
## 🐛 Bug

ONNX cannot export a jit script with List input

## To Reproduce

Steps to reproduce the behavior:

I have a jit script that accepts some lists

[code]

When exporting it to ONNX I get the error:

## Expected behavior

Export an use `Loop` and `if` constructs from ONNX

## Environment

PyTorch version: 1.2.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 16.04.6 LTS

[2019-08-28 22:45] dashesy commented on #25251
If it is exported already to ONNX, you should open an issue [here](https://github.com/Microsoft/onnxruntime/issues).

[2019-08-28 23:14] driazati commented on #25360
The error is pretty unclear but we don't support the `~` operator currently, there is a PR to add it in #22324 that we'll try to push through

[2019-08-28 23:24] patrick-kidger commented on #25340
With apologies for leaving 4 comments in a row -

For anyone else reading this who's hit the same bug (and cannot for whatever reason use `save_for_backward`), the easiest way around it that I've found is to break the reference cycle by instead assigning `ctx.y = y.detach()`. In particular *not* breaking the cycle by doing `return y.detach()`: this will successfully break the reference cycle and s

[2019-08-28 23:36] HapeMask opened #25367 "[JIT] Modules with ParameterList members cannot be torch.jit.script()'ed"
## 🐛 Bug

A `torch.nn.Module` with a `ParameterList` as a member cannot be `torch.jit.script()`'ed.

## To Reproduce
[code]

[code]
## Expected behavior

Script runs with no errors.

## Environment

 - PyTorch Version (e.g., 1.0):  '1.3.0.dev20190816'
 - OS (e.g., Linux): linux
 - How you installed PyTorch (`conda`, `pip`, source): conda
 - Python version: 3.7
 - CUDA/cuDNN version: 10 / 7.6
 - GP

[2019-08-28 23:37] soumith commented on #25340
https://github.com/pytorch/pytorch/issues/3818#issuecomment-346236024 and https://github.com/pytorch/pytorch/issues/18643 look suspiciously close.

cc: @ezyang @albanD I think this has come up before, though I might just have lapsed memory.

[2019-08-28 23:38] soumith commented on #25340
@ezyang please bump priority if needed.

[2019-08-28 23:40] soumith commented on #24413
this and other autograd tasks (especially high pri ones) would be great for Alban to tackle once he's back into the world next week :)

[2019-08-28 23:41] soumith commented on #25315
i can take a crack at double backward for `_thnn_fused_lstm_cell_backward` on a long flight. will report back what I find

[2019-08-28 23:48] soumith commented on #25310
@cpuhrsch @zou3519 let me know if I missed anything wrt future plans in this direction. If NestedTensor is the way to go and this is a `wontfix` please close the issue after giving John a heads-up.

[2019-08-28 23:49] soumith commented on #25316
@andreaskoepf for all intents, `torch.Tensor` is considered a legacy constructor.

@izdeby are you going to fix this, or is it meant to go to a general queue? if you plan to fix it, assign yourself.

[2019-08-28 23:52] soumith commented on #25347
original PR that added them was https://github.com/pytorch/pytorch/pull/4399

cc: @jlin27 to see if you are interested in helping fix this

[2019-08-28 23:53] soumith commented on #25320
thank you, looking forward to the PR!

[2019-08-28 23:54] soumith commented on #25318
please use https://discuss.pytorch.org for questions

[2019-08-28 23:54] #25318 closed

[2019-08-29 00:03] Wulfsta commented on #25210
@mijosch so are you saying that it's just a matter of compiling the latest version of hip-thrust and adding it to the path?

[2019-08-29 00:08] soumith commented on #25297
@vadimkantorov if you give a self-contained repro, will request @ptrblck and team to take a look

[2019-08-29 00:10] soumith commented on #25303
cc: @yf225 you should take a look

[2019-08-29 00:14] soumith commented on #25302
I'd like to reproduce the issue on my end as a first-step in getting to the bottom of it. Is there a small self-contained script I can run to repro it? You almost have a reproduction script, but some of the code is incomplete or missing.

[2019-08-29 00:14] #24987 closed

[2019-08-29 00:16] soumith commented on #25301
thanks for the well-defined issue and digging into what exactly is going on.

@VitalyFedyunin as someone who worked on CUDA IPC closely, can you have a look?

[2019-08-29 00:17] soumith commented on #25298
cc: @yf225 @peterjc123

[2019-08-29 01:08] andreaskoepf commented on #25316
(@izdeby sry, I was not aware to respond to a core dev, I am still catching up...)

I looked at [legacy_tensor_ctor()](https://github.com/pytorch/pytorch/blob/91db62a8bb80675df7c652096d5050cae0e27a3e/torch/csrc/utils/tensor_new.cpp#L415) and [tensor_ctor()](https://github.com/pytorch/pytorch/blob/91db62a8bb80675df7c652096d5050cae0e27a3e/torch/csrc/utils/tensor_new.cpp#L557). I am not convinced tha

[2019-08-29 01:29] jotterbach commented on #24005
Thanks for the update @mrshenli . I will give this a try and report back when I run into any problems!

[2019-08-29 01:38] XiaobingSuper commented on #25101
@ailzhang , I will try it. Thanks!

[2019-08-29 01:49] pritamdamania87 commented on #23795
It seems like the consensus here is to drop support in 2020, if so should we communicate this more widely to users? We could also add some warning messages when you `import torch` using Python2, that Python2 support will be dropped in 2020.

[2019-08-29 02:26] Ir1d commented on #15262
https://pytorch.org/docs/stable/nn.functional.html#binary-cross-entropy The docs changed and this issue can be closed.

[2019-08-29 02:34] peterjc123 commented on #25298
Yes, this is actually a known issue and you could use the following code as a workground.
[code]
If you want to help us with solving the problem, could you please build it in the debug configuration (including PyTorch/LibTorch) and post the stacktrace here?

[2019-08-29 02:40] XiaobingSuper commented on #21700
@ezyang , can you update this issue? I can't reproduce it in PyTorch master branch . Thanks!

[2019-08-29 02:41] peterjc123 commented on #25298
Well, this seems to be another initialization problem just like https://github.com/pytorch/pytorch/issues/22681.

[2019-08-29 02:43] Balandat commented on #23795
Communicating would be good, I don't think we need to worry too much about warning that py2 support will be dropped - after all python itself is dropping support...

[2019-08-29 02:53] jjsjann123 commented on #18110
Closed and fixed in cudnn_7.6.1 @ngimel

[2019-08-29 02:59] jackroos commented on #1355
No. I just turn off distributed training in that case.

[2019-08-29 03:23] hugovk commented on #23795
Some ideas:
* Put it on the README
* Pin this issue
* Post in the forums, Slack and newsletter
* Sign https://python3statement.org

[2019-08-29 03:50] #25067 closed

[2019-08-29 04:05] SsnL commented on #25045
@zudi-lin This looks like a CUDA config issue. Can you reproduce this on another CUDA machine?

[2019-08-29 04:37] mijosch commented on #25210
I compiled it successfully in the rocm 2.5 docker container with my r7 1700 and Vega.
You can also use the rocm 2.5 Deb packages from the archive

[2019-08-29 04:49] vadimkantorov commented on #25297
I’ll try, but it may take some time :(

Le jeu. 29 août 2019 à 03:09, Soumith Chintala <notifications@github.com> a
écrit :

--
Vadim Kantorov
+33 6 03 29 27 69

[2019-08-29 04:52] absin1 commented on #22259
Facing similar issue. How do I check magma for that version?

[2019-08-29 06:03] rgommers commented on #14893
I have tried to reproduce this on macOS 10.14 (Mojave, most recent version), with all combinations of:

- Python 2.7.13 as well as 2.7.16 from the conda defaults channel
- PyTorch 1.2.0 and latest nightly

This doesn't reproduce anymore.

I also looked at https://github.com/OpenNMT/OpenNMT-py/pull/1188 and agree with @flauted that that's unrelated.

No other reports in the last 8 months (except fo

[2019-08-29 06:09] XiaobingSuper commented on #16445
@cpuhrsch , I remember there has an issue about memory issue in conv2d, i.e. https://github.com/pytorch/pytorch/issues/21537 which has been fixed, so @clements2's problems is  disappeared.
@eepaul, can you help verify your script using pytorch master? I test your test case using the latest PyTorch master code and runing about 1,100,000 iterations, the memory used is stable, you can see the follwin

[2019-08-29 06:11] #14893 closed

[2019-08-29 06:12] MAhmad-nn opened #25379 "Pytorch memory allocation"
How the size in CudaCachingAllocator.cpp  gets calculated?

[2019-08-29 06:12] #18110 closed

[2019-08-29 06:14] eepaul commented on #16445
Could you please tell me how to install pytorch master with conda?  I'll
try verify with pytorch master if I can install it successfully

On Thu, Aug 29, 2019 at 2:10 PM XiaobingZhang <notifications@github.com>
wrote:

--
Things don' happen. Things are made to happen.

[2019-08-29 06:19] XiaobingSuper commented on #16445
@eepaul , you can follow the [steps](https://github.com/pytorch/pytorch#install-dependencies) in READEME.md to install pytorch by building source code, please tell me if you have any problem. Thanks!

[2019-08-29 06:26] rgommers commented on #25164
`pip` version may not matter, that `cachecontrol` code hasn't been touched in 2 years: https://github.com/pypa/pip/blame/master/src/pip/_vendor/cachecontrol/serialize.py#L72

Is this a machine with little memory? The wheel is 749 MB, and monitoring memory usage during `pip install` it looks like nothing crazy happens - certainly no more than 2 GB is used.

[2019-08-29 06:39] sam1902 opened #25380 "FFT not possible with macOs pip binaries"
## 🐛 Bug

When trying to use `torch.fft` or any other FFT function (`torch.rfft` and inverses), the user is faced with:
[code]

## To Reproduce
Steps to reproduce the behavior:

1. On macOs, install PyTorch using `sudo pip3 install torch` or `pip3 install torch --user`
2. Open a prompt and run:
[code]
You'll get `RuntimeError: fft: ATen not compiled with MKL support`.

## Expected behavior

To wor

[2019-08-29 06:59] fmassa commented on #16445
You can also install the nightly version of PyTorch

[2019-08-29 07:03] eepaul commented on #16445
Hmm, I'll try the nightly version and let you know the result later

On Thu, Aug 29, 2019 at 3:01 PM Francisco Massa <notifications@github.com>
wrote:

--
Things don' happen. Things are made to happen.

[2019-08-29 08:11] vainaijr opened #25381 "regarding builtin_function_or_method"
## 🚀 Feature

some way to see the code for builtin_function_or_method
## Motivation

consider this scenario
1) I am using google colab, I want to see the implementation of nn.Dropout
2) I ctrl+click on nn.Dropout, it takes me to dropout.py, where I find Dropout class, which returns
`
F.dropout(input, self.p, self.training, self.inplace)
`
3) so, I ctrl+click on F.dropout, it takes me to functional

[2019-08-29 08:23] reuben commented on #14165
Seems to work for me with latest libtorch! Thanks for fixing this! \o/

[2019-08-29 08:30] pietern commented on #21640
This has been added in #24949.

[2019-08-29 08:30] #21640 closed

[2019-08-29 09:16] ToBigboss opened #25383 "In torch::jit::script::Module module = torch::jit::load("xxx.pt"), How to release module?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

cc @suo

[2019-08-29 09:19] ToBigboss commented on #25383
![image](https://user-images.githubusercontent.com/40013733/63927836-18f7dd80-ca81-11e9-8fde-bd2d9ae16fd0.png)

[2019-08-29 09:21] ToBigboss commented on #25383
![](https://user-images.githubusercontent.com/40013733/63927836-18f7dd80-ca81-11e9-8fde-bd2d9ae16fd0.png)

Whether module needs to be released,   and how to release it.

[2019-08-29 09:38] branfosj commented on #25172
The determinants of those three are: -1.0408340855860843e-17, -2.168404344971009e-19, and 0. So two are very close to being singular and one is. This means that there'll be particularly susceptible to accumulation of numerical errors during the decomposition (apply_lu) process and differences in pivot choices is a strong possibility for the differences we are seeing in results.

[2019-08-29 10:02] XSeanLiu commented on #25009
Any body can give me a help or a reason?

[2019-08-29 11:16] xsacha opened #25385 "[jit] windows libtorch module cannot be used concurrently"
## 🐛 Bug

When loading a torch::jit::script::Module, it seems it is never possible to use the same module in different threads at the same time.

Workarounds I have tried:
`model.to(torch::kCUDA, deviceIndex);`

This has to be called inside the thread where forward is used otherwise I get an error about model being on the wrong device. If I call it in the right thread, I get a CUDA internal error.

[2019-08-29 11:45] julioasotodv commented on #25251
@dashesy I'm not sure about that... I believe that the ONNX export is incorrect, and therefore causing the issue; as I cannot load it with Caffe2 either...

[code]
Fails with:
[code]

So I believe that the jit is exporting a malformed ONNX model file.

[2019-08-29 12:03] ezyang opened #25386 "test_numerical_consistency is flaky"
[code]

https://circleci.com/gh/pytorch/pytorch/2614322?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

*please please please* determinize your Hypothesis tests!!

cc @jerryzh168 @jianyuh @dzhulgakov

[2019-08-29 12:08] jjsjann123 opened #25387 "[DRAFT] Auto-casting in JIT - Automatic mixed precision"
## 🚀 Feature

We want to support automatic precision casting as a JIT optimization pass. This is part of a grand plan to improve PyTorch performance by leveraging hardware acceleration on reduced precision arithmetics.
For more background and motivation, on automatic mixed precision, #25081 provides far more details.

## Motivation

Whitelist-blacklist auto-casting has been proven to work on many

[2019-08-29 12:32] ily-R commented on #25302
Hello, Try running this:

[code]

[2019-08-29 12:56] JacobYuan7 commented on #15797
@cristinasegalin, what do you mean by 'compiling pytorch from source'?

[2019-08-29 12:57] JacobYuan7 commented on #15797
Excuse me, I have a question. @cristinasegalin  what do you mean by 'compiling pytorch from source'?

[2019-08-29 13:37] ezyang opened #25389 "Windows CI build failure: thrust/detail/allocator/allocator_traits.inl(101): error C2065: 't': undeclared identifier"
[code]

https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-cuda9.0-cudnn7-windows-trigger-build/65967/

In this case it failed while `Building NVCC (Device) object caffe2/CMakeFiles/torch.dir/__/aten/src/THC/generated/torch_generated_THCTensorMaskedShort.cu.obj`

It doesn't seem to happen reliably which is very mysterious.

cc @peterjc123

[2019-08-29 13:52] GANWANSHUI commented on #8786
Hi, how to Add CUDA to logspace and linspace declarations in Declarations.cwrap specifically

[2019-08-29 13:54] lecoan opened #25390 "dist.new_group() failed. BUG or I misunderstood something?"
## 🐛 Bug

For some reason, I want to divide all training processes into several subset, and do communication in each of them. As the division may change during Traing, after some research, I want to use dist.new_group(). Howerver, I keep getting error like ConnectionRefused or just stuck.

## To Reproduce

[code]

Steps to reproduce the behavior:

1. run the script above witch Gloo

At most time,

[2019-08-29 13:55] hhuuggoo commented on #25164
I've been doing repo2docker builds with 2g ram, and also building on my laptop which has 16gb.   I'll dig into it further (hopefully today)  and follow up.  Thanks all!

[2019-08-29 13:57] SsnL commented on #8786
@GANWANSHUI it has been fixed already.

[2019-08-29 13:58] SsnL commented on #25302
@peterjc123 Could you try running this on windows? On ubuntu it works as expected.

[2019-08-29 14:01] GANWANSHUI commented on #8786
the problem still came out since I need to use the 0.41 version of the torch, what should I do then?

[2019-08-29 14:04] SsnL commented on #24915
I'm wonder what functionalities are planned for `torchdata`. Most of the proposed features sound already doable nowadays. I think additional explanation on what the exact needs are and why the current code can't do the job will be helpful for discussion.

For example,

sounds similar to `torch.hub`'s download utility function

 sounds doable just with the current data loading infra.

[2019-08-29 14:04] ily-R commented on #25302
Im using windows 10 with : Intel(R) Core(TM) i7-5820K CPU 3.3GHz ( 12 CPUs)

[2019-08-29 14:05] ezyang commented on #25340
Yes this is exactly #3818. We have a patch from @skrah that is very close to being done; I invite you to try the PR at #24368 to see if it works for you (we have some ancillary correctness concerns with the PR which is why it hasn't merged yet, but it should fix the leak you see here.)

[2019-08-29 14:09] ezyang commented on #21700
It's possible this got fixed with the recent mkldnn update. However @CamiWilliams got a very similar build error when she was trying to build with MKLDNN. Cami, do you remember what exactly you did that resulted in this?

[2019-08-29 14:14] GANWANSHUI commented on #8786
@SsnL  sorry, I am really new to the problem, I don't know how to operate like ' build at a commit after that patch ', was there an example to refer? thanks for your reply!

[2019-08-29 14:25] ezyang opened #25393 "Windows CI intermittent error: C2993: 'Derived': illegal type for non-type template parameter '__formal"
Kind of similar to #25389

Sometimes our Eigen build fails this way:

[code]

It doesn't seem to reliably repro.

cc @ezyang @gchanan @zou3519 @seemethere @peterjc123

[2019-08-29 14:36] #14165 closed

[2019-08-29 14:39] #24309 closed

[2019-08-29 14:44] SsnL commented on #8786
@GANWANSHUI Checkout that commit in your local copy of this repo and follow the instructions in README.md.

[2019-08-29 14:44] VitalyFedyunin commented on #25379
https://github.com/pytorch/pytorch/blob/25d1496d581dcc3e2c0e15c38b5f19455800971f/c10/cuda/CUDACachingAllocator.cpp#L459

[2019-08-29 14:44] #25379 closed

[2019-08-29 14:45] #15262 closed

[2019-08-29 14:48] #21817 closed

[2019-08-29 14:50] ezyang commented on #25380
Closing this as a dupe of #18996

[2019-08-29 14:50] #25380 closed

[2019-08-29 14:50] VitalyFedyunin commented on #25381
Unlikely we will ever find resources to implement this feature. I'm leaving it open in case of open source community contributions.

[2019-08-29 14:51] ezyang commented on #18996
This bug got duped so I'm bumping it up in triage review

[2019-08-29 14:55] ezyang opened #25394 "Caffe2 Windows CI is not using sccache"
Evidence: I got it to print verbose commands, and I see:

[code]

https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-cuda9.0-cudnn7-windows-build/63473/console

cc @peterjc123

[2019-08-29 14:56] ezyang commented on #25394
In contrast, the PyTorch build is using sccache https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-win-ws2016-cuda9-cudnn7-py3-build/70444/console

[2019-08-29 15:08] mrshenli commented on #25390
Hey @lecoan, the doc says:

In the code snippet above, you have:

[code]

So all processes will enter `dist.new_group` but with different `group` ranks. As a result, all of them will enter `_new_process_group_helper` together with a smaller world size and duplicated group ranks.

https://github.com/pytorch/pytorch/blob/590619ab8c2d237d4e0b55c8cc3552932afe7da5/torch/distributed/distributed_c10d.py#

[2019-08-29 15:10] peterjc123 commented on #25394
That's right. Currently, only the cu code will go through sccache for Caffe2 Windows builds. That's because we used the VS generator previously, and it is not compatible with sccache. But since it is switched to Ninja, it can be enabled for the whole build process.

[2019-08-29 15:11] arijit17 commented on #22069
@spandantiwari all right, thanks! Based on what you are saying, I believe I need to educate myself with Script mode before ONNXifying with Pytorch.
My model has: input-dependent control flow!

Unfortunately, I cannot share codes externally.
But, I will be super obliged if you could point me to appropriate documentation (for my education) on how to ONNX-ify Pytorch model (written in Eager mode) whi

[2019-08-29 15:23] shbm opened #25395 "Feature Request:🚀 MISH Activation Function"
https://arxiv.org/ftp/arxiv/papers/1908/1908.08681.pdf
𝑓(𝑥) = 𝑥 ⋅ 𝑡𝑎𝑛ℎ(𝑠𝑜𝑓𝑡𝑝𝑙𝑢𝑠(𝑥)) = 𝑥 ⋅ 𝑡𝑎𝑛ℎ(ln(1 + 𝑒𝑥))

Using this Non-Monotonic Neural Activation Function, the author has shown the best Test Top-1 Accuracy on CIFAR-10 and CIFAR-100

Fast.ai students have also beaten the 5 epoch ImageWoof leaderboard score using the same activation.
https://forums.fast.ai/t/how-we-beat-the-5-epoch-imagewoof-le

[2019-08-29 15:36] sneheshs commented on #16268
THANKS A LOT @gchanan!!! This really saved the day for me in https://github.com/SungjoonPark/FactorRotation/issues/9

After commenting out the `p='fro'` param in `torch.norm` and using the default value, at least it worked pretty well for me.

[2019-08-29 15:48] #24542 closed

[2019-08-29 15:56] VitalyFedyunin commented on #25395
cc @soumith

[2019-08-29 15:59] ezyang opened #25396 "torch::RegisterOperators is undocumented"
I searched for all occurrences of RegisterOperators and there are no occurrences of this string in docs.

[2019-08-29 16:08] GANWANSHUI commented on #8786
@SsnL  Thank you, I use the replace torch.linspace by torch.arange for compromise, hope no more errors!

[2019-08-29 16:11] VitalyFedyunin commented on #25396
cc @goldsborough if I'm not mistaken he introduced this functionality

[2019-08-29 16:12] VitalyFedyunin commented on #16268
Hi! Bit unclear, do we want to fix docs or we want to fix the operator code?

[2019-08-29 16:26] ngimel commented on #25315
Doing autograddable backward that would allow automatic double backward is probably easier, similar to how it is done for weight norm now.

[2019-08-29 16:37] theo-m opened #25399 "No type hints on nn.Parameter"
## 🐛 Bug

Mypy fails on simple calls on `nn.Parameter`

## To Reproduce

Steps to reproduce the behavior:

1. `conda create -n torch-issue python=3.6 -y`
2. `conda activate torch-issue`
3. `conda install pytorch torchvision -c pytorch -y`
4. `pip install mypy=0.720`
5. Run with `mypy test`
[code]

This yields:
[code]

## Expected behavior

Type check should pass

## Environment

Please copy and pa

[2019-08-29 16:40] cloudhan commented on #25320
# the first compilation error

Manually compile the obj and find all included files, I find that in `C:\Program Files (x86)\Windows Kits\10\include\10.0.18362.0\um\combaseapi.h`, there is
[code]
on line 174. While in file https://github.com/pytorch/pytorch/blob/07fe66f25e3aac91ae29fdd8a43bb662cda6080f/aten/src/ATen/core/dispatch/OperatorOptions.h#L10-L16 , the `PURE` is expanded.

the full include

[2019-08-29 16:54] raghuramank100 opened #25401 "pack weight and bias to the same struct for fbgemm quantized conv and linear ops"
Current FBGEMM implementation packs the weights into a struct for efficient implementation of the actual conv.  However, the bias is not packed and kept as a seperate parameter.

QNNPACK implementation for mobile requires that the bias be packed into a single struct. For unifying API, FBGEMM API for conv and linear needs to pack both weights and biases.

cc @jerryzh168 @jianyuh @dzhulgakov

[2019-08-29 17:10] spandantiwari commented on #22069
@arijit17 OK. You can look at this page for more details https://pytorch.org/docs/master/onnx.html . The "Tracing vs Scripting" section is relevant for input-dependent control flow.

I will close this issue now.

[2019-08-29 17:10] #22069 closed

[2019-08-29 17:18] VitalyFedyunin commented on #25399
Feel free to submit PR to fix it

[2019-08-29 17:28] ezyang commented on #24859
WS 2008 may not be so easy; I literally cannot get Packer to log into the WS 2008 base image (I'm using

[code]

[2019-08-29 17:31] ezyang commented on #24859
@peterjc123 Are machines booted from the stock images acceptable?

[2019-08-29 17:33] ifedan commented on #24690
https://github.com/pytorch/pytorch/pull/24952

[2019-08-29 17:33] #24690 closed

[2019-08-29 17:35] xush6528 commented on #23948
Not urgent

[2019-08-29 17:35] #23948 closed

[2019-08-29 17:49] dylanbespalko commented on #755
@ezyang

Are you able to merge complex number support on the CPU without AVX/SSE support?  I plan to submit the following in separate merge-requests:

- [ ] Added complex support of CPU BinaryOp kernels
- [ ] Added complex support of CPU TensorFactories
- [ ] Added complex support of CPU FillKernels
- [ ] Added complex support of CPU Range kernels
- [ ] Added complex support of CPU Unary kernels
-

[2019-08-29 17:49] #25293 closed

[2019-08-29 18:01] zou3519 commented on #25386
`ERROR: test_conv_api (__main__.ModuleAPITest)` is also flaky (should I open a separate issue for that?)

[2019-08-29 18:02] ai559031 opened #25407 "Cannot import torch in python3 but works in python2"
I am using Mac and jupyter notebook(anaconda).

From the PyTorch website, I've tried to install PyTorch by:

`conda install pytorch torchvision -c pytorch`

and

` pip3 install torch torchvision`

When I import torch in jupyter notebook, the error shows:

`ModuleNotFoundError: No module named 'torch'`

However, in the terminal, if I enter python3 environment by:` $ python3`, then `import torch`, t

[2019-08-29 18:04] rgommers commented on #23777
The differences are of order 1e-2. This doesn't look like a bug though. The root cause is that both embeddings use the same `vectors` input with `freeze=False`:
[code]
The default for `freeze` is `True`; using that all asserts pass. Changing the use of the second embedding to use a unique tensor input:
[code]
also makes the asserts pass.

tl;dr the input vector gets modified in place, and since th

[2019-08-29 18:09] rgommers commented on #23777
Okay I'll close this, since it seems pretty clear-cut. @ezyang @Rearcher please comment if you disagree.

[2019-08-29 18:09] #23777 closed

[2019-08-29 18:19] VitalyFedyunin commented on #25407
Please use https://discuss.pytorch.org (https://discuss.pytorch.org/) for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-08-29 18:19] #25407 closed

[2019-08-29 18:33] driazati opened #25410 "[jit] NamedTuples don't respect `__new__`"
If a NamedTuple has a `__new__` defined it silently does not get called. This is a problem for RNNs since `PackedSequence` has a `__new__` constructor.

[code]

outputs

[code]

[2019-08-29 18:37] jerryzh168 commented on #25386
@zou3519 yeah please open another issue.

@ezyang OK, I'll derandomize it.

[2019-08-29 18:44] yf225 commented on #25303
I wasn't able to reproduce this with libtorch 1.2 + Ubuntu 16.04 + CUDA 9.2. (The peak GPU memory usage stays at 515MiB.)

@peterjc123 Could you check if this is a Windows-specific problem?

[2019-08-29 18:53] VitalyFedyunin commented on #24749
Done

[2019-08-29 18:53] #24749 closed

[2019-08-29 18:55] #24761 closed

[2019-08-29 18:55] #24626 closed

[2019-08-29 19:05] jeffling commented on #15638
@teng-li could this also be an issue with `destroy_process_group()` as well? I notice when it just hangs on the 'master' thread.

[2019-08-29 19:05] zou3519 opened #25413 "test_conv_api (__main__.ModuleAPITest) is flaky"
[code]

on: https://github.com/pytorch/pytorch/pull/25344

cc @jerryzh168 @jianyuh @dzhulgakov

[2019-08-29 19:09] dashesy opened #25414 "[ONNX] Invalid onnx exported: input without type information"
## 🐛 Bug

After exporting a model I [cannot load it in ONNXRuntime](https://github.com/microsoft/onnxruntime/issues/1726) (0.4/0.5) with this error:

## To Reproduce

Steps to reproduce the behavior:

1. torch.onnx.export
2. load the model

## Expected behavior

To export the model correctly

## Environment

PyTorch version: 1.2.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu

[2019-08-29 19:28] mrshenli opened #25416 "Add GPU support to c10d allreduce_coalesced"
@jfc4050 added CPU `allreduce_coalesced` in #24949. The next would be adding GPU support to `ProcessGroupNCCL` and `ProcessGroupGloo`.

[2019-08-29 19:28] hhuuggoo commented on #25164
I can confirm that manually downloading the wheel and installing it with pip is no problem.  I'm trying to re-install from pypi again

[2019-08-29 19:29] hhuuggoo commented on #25164
It worked this time - maybe my system was low on memory when I was attempting it before.  I'll mark this issue as closed.  Thanks

[2019-08-29 19:29] #25164 closed

[2019-08-29 19:33] mrshenli opened #25417 "Add a mode to check input tensor sizes in allreduce_coalesced"
@jfc4050 added CPU `allreduce_coalesced` in #24949. The current version flattens all input tensors into one, and then allreduce that tensor. It works, even if, say, process 0 provides a tensor of size 4 and process 1 provides two tensors of size 2 each. This is a reasonable shortcut to avoid using additional communications to check tensor sizes, but it will be good to add size checking in the defa

[2019-08-29 19:41] ezyang commented on #25399
Yes, almost definitely.

[2019-08-29 19:46] ezyang commented on #23777
Thanks @rgommers!

[2019-08-29 19:48] gottbrath commented on #23657
Jianhui, do I understand this correctly that this optimization only makes sense for inference use cases?

[2019-08-29 19:51] rgommers commented on #25164
That must have been it, 2 GB is really borderline. Thanks for following up Hugo.

[2019-08-29 20:41] Jianhui-Li commented on #23657
@gottbrath  The optimization we are implementing at this stage is for inference.  But the fusion and mkl-dnn format propagation can be extended to work for training as well, which depends on those pending training PRs on imperative mode enabling the MKL-DNN backward operation.

[2019-08-29 20:50] dashesy commented on #25414
Here is how to reproduce the error and test across PyTorch 1.0, 1.1 and 12

[code]

The above works on 1.0 but 1.1 and 1.2 have issues

[2019-08-29 20:56] ailzhang commented on #25367
cc: @driazati  do we support ParameterList yet?

[2019-08-29 21:16] driazati commented on #25367
We don't, it's also treating `params` as a submodule for some reason and trying to compile it which may be a bug

[2019-08-29 21:17] ezyang commented on #21738
@RickKohrs Are you building PyTorch? I'm afraid the PyTorch GH issue tracker is not the right place to debug non-PyTorch issues

[2019-08-29 21:21] mrshenli opened #25427 "test_allreduce_coalesced_stress is flaky"
Passed: https://circleci.com/gh/pytorch/pytorch/2624121
Failed: https://circleci.com/gh/pytorch/pytorch/2624119

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera

[2019-08-29 21:23] mrshenli commented on #25427
test disabled in #25419

[2019-08-29 21:39] gottbrath commented on #23657
In the meeting today you said you had a concern with weights being treated as constants or not. Can you articulate this question/request either here or in another issue? I think we have the right people watching.

[2019-08-29 21:58] Jianhui-Li commented on #23657
Yes. The question is whether you have plan for the support of freezing graph, i.e. mark model weight to be constant to allow constant propagation and subexpression elimination. TF supports this https://www.tensorflow.org/guide/extend/model_files#freezing. User needs to call this explictly to enable optimization for inference.

[2019-08-29 22:07] Chillee commented on #25396
Isn't this the new operator registration API that @smessmer introduced?

[2019-08-29 22:12] Wulfsta commented on #25210
@mijosch I see what you mean. I was under the impression that PyTorch was not being hipified properly, and that those type errors that you mentioned were a part of CUDA that should be translated to [HIP syntax](https://rocm-documentation.readthedocs.io/en/latest/Programming_Guides/Programming-Guides.html) during hipification. I might try adding hipThrust to my path and running the hipify script ag

[2019-08-29 22:39] hartb commented on #25172
And I guess even small differences in those very small determinants would map to much larger than tolerated differences in logdet() and slogdet().

I'm also seeing seeing some diffences in the cases where the calculated determinant is very small negative vs expected 0, which then maps to `nan` vs `-inf` in the logdet() results, which the test also won't tolerate.

Looking to see if I can find a fa

[2019-08-29 23:26] hx89 opened #25433 "[jit] Can't script .type()"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]
Got error:
[code]

cc @suo

[2019-08-29 23:27] Lyken17 commented on #17159
Any news?

[2019-08-29 23:37] cristinasegalin opened #25434 "pytorch ONNX cnn rnn conversion"
I am trying to convert a pytorch cnn followed by rnn to onnx.
Not sure if I have to export them separately or there is a way to export the combined network in one pass only.

[2019-08-29 23:38] rgommers commented on #18996
Here's a complete reproducer:
[code]

That will result in:
[code]

The 1.2.0 wheel is linking against `Accelerate` rather than `MKL`:
[code]

The 1.2.0 conda package does link against `MKL`:
[code]
[code]

I'm assuming the use of `Accelerate` in the wheels is unwanted, it should be using `MKL` for everything?

[2019-08-30 00:10] Santosh-Gupta commented on #1285
Besides SparseAdam and Adagrad, are there any other current optimizers for sparse training (word2vec, glove, etc)?

[2019-08-30 00:14] peterjc123 commented on #25434
It works either way. As for latter one, please try out https://discuss.pytorch.org/t/combining-trained-models-in-pytorch/28383 to combine the models first.

[2019-08-30 00:14] #25434 closed

[2019-08-30 00:28] jfc4050 commented on #25427
ok so i think i have some idea what is going on. I can't reproduce this locally and I only really have the CI check output to go off, so I have no way of knowing if my proposed changes will fix the issue but let me know if you want me to make a PR

so this is the error message from CI
[code]

the call to `assertEqual` in `_test_allreduce_coalesced_stress`
[code]
I noticed that in #25334 `None` was

[2019-08-30 01:03] XiaobingSuper commented on #25101
@ailzhang, I can reproduce the memory problem which your said even using the new release, it is our problem, we are now solve it and will upgrade MKLDNN soon. Thanks!

[2019-08-30 01:18] tribbloid commented on #16453
@shenyingying concat output? I only have 1 output as I tested in an IDE

here you go:

[code]

[2019-08-30 01:19] tribbloid commented on #16453
If you want the source code that generates this output, I also have it:

[code]

[2019-08-30 01:21] VivekPanyam opened #25443 "Incorrect output from a `ScriptModule` using a dictionary"
## 🐛 Bug

In a `ScriptModule`, modifying a tensor and returning it as part of a dictionary undoes the modification.

## To Reproduce

[code]

## Expected behavior

The output should be `tensor([0., 0., 5., 0., 0.])`.

Any of the following changes cause the model to return the correct output:
- Switching `out` to `out.clone()` in the dictionary
- Returning the tensor directly (without a dictionary)

[2019-08-30 01:25] peterjc123 commented on #25394
If we want to fix this, you'll need to change the caffe2 build script in Jenkins, that is to add the following lines:
[code]

[2019-08-30 01:26] peterjc123 commented on #25320
OMG, these macros in the Windows SDK are so annoying.

[2019-08-30 01:31] nojeffrey commented on #24891
I don't have NVIDIA Nsight Systems installed but also getting `RuntimeError: Error in dlopen or dlsym: libcaffe2_nvrtc.so: cannot open shared object file: No such file or directory` error.

pytorch 1.2

[2019-08-30 01:32] peterjc123 commented on #25302
Yes, I can reproduce this one locally.

[2019-08-30 01:35] peterjc123 commented on #25302
Sorry, looks like the functions are not protected. Could not reproduce with the following code.
[code]
And the following are my specs:
[code]

[2019-08-30 01:49] lecoan commented on #25390
thanks for your reply! the problem solved @mrshenli

[2019-08-30 01:49] #25390 closed

[2019-08-30 02:10] peterjc123 commented on #24859
@ezyang Sure.

[2019-08-30 02:28] sublee commented on #24891
@nojeffrey How do I reproduce it without NVIDIA Nsight Systems?

[2019-08-30 03:36] rfejgin commented on #24157
@lanpa: I wasn't sure what you meant by the thumbs-up - does the tutorial code work for you?
I've seen this problem (graph not displayed) both with the tutorial code and my own models. Given that others have observed the same, something seems broken in the graph functionality...

[2019-08-30 03:37] sukuya commented on #25443
Issue reproducible even for Python3.6 with CUDA10.1 and PyTorch 1.3.0.dev20190828

[2019-08-30 04:07] nojeffrey commented on #24891
python 3.7.4
fastai==1.0.57
torch==1.2.0
torchvision==0.4.0
cudatoolkit=10.0

    from fastai import *
    from fastai.vision import *

    path = untar_data(URLs.MNIST_SAMPLE); path
    tfms = get_transforms(do_flip=False)
    data = ImageDataBunch.from_folder(path, ds_tfms=tfms, size=24)

    data.show_batch(rows=3, figsize=(9,9))

For me returns:

<blockquote>
----------------------------------

[2019-08-30 04:37] tso-si opened #25448 "Linux CUDA9.0 Failed to Download .whl file with Corresponding url"
I want to install pytorch in Linux with CUDA90. However, I found that the url provided by pytorch.org is a blank page and thus I have no access to download .whl file. The url is below:
https://download.pytorch.org/whl/cu90/torch_stable.html

[2019-08-30 05:16] SsnL commented on #25448
You don't need to go to the webpage. Just run the pip command.

[2019-08-30 05:19] jesen8 opened #25452 "graphic capacity exception when load same model twice in python use mutilthreading"
## 🐛 Bug

## To Reproduce
when i first to load the rnn model once, use `nvidia-smi` tool can watch current python thread used 611M capacity and inference one image only need about 0.2s , but when i load the same model twice by mutilthreading because i want to start two threads to save time,and i find it's only use 663M, and both inference one image need about 0.5s. I don't understand why the speed

[2019-08-30 05:19] SsnL commented on #25302
Oh @peterjc123 is totally right. Thanks!

Maybe we should error in dataloader `__iter__` if it is in a worker process and `num_workers>0`? You'd almost never want to have each worker spawn more workers. It could detect case where the code is not guarded. What do you think, @peterjc123 ?

[2019-08-30 05:33] peterjc123 commented on #25303
Could not reproduce locally on Windows either. The GPU memory won't exceed 409M (6%).

[2019-08-30 05:36] beichen2012 commented on #25303
It should be wait a moment,
just 1 or 2 minutes;
the gpu memory would be rise。
I have tested in win10 and win7。

[2019-08-30 05:39] peterjc123 commented on #25302
@SsnL But without that if clause, it shouldn't be able to run. @ily-R Are you using python in interactive mode?

[2019-08-30 05:42] peterjc123 commented on #25303
I'm already running it for more than 10 mins.

[2019-08-30 05:43] peterjc123 commented on #25303
Would you please try building it with CUDA 10.0 and VS 2017 14.11 installed?

[2019-08-30 05:43] MAhmad-nn commented on #25379
https://github.com/pytorch/pytorch/blob/25d1496d581dcc3e2c0e15c38b5f19455800971f/c10/cuda/CUDACachingAllocator.cpp#L626

Thanks for replying but I want to know about the 'size' , from where it is getting calculated.As I am not able to backtrace it. The function which you told me is using that pre calculated size.

[2019-08-30 05:44] beichen2012 commented on #25303
![image](https://user-images.githubusercontent.com/10824490/63995757-359d1f80-cb2c-11e9-919f-2b7b9365350e.png)

[2019-08-30 05:45] peterjc123 commented on #25303
I know, but without reproducing it on my own machine, how can I know what's wrong there.

[2019-08-30 05:50] MAhmad-nn opened #25453 "GPU memory allocation"
## ❓ How and where  pytorch source calculates the size of memory? Does it allocates whole memory of the graph at a time or is it layer wise ?

[2019-08-30 05:51] #25448 closed

[2019-08-30 05:52] tso-si commented on #25448
Thank you for your reply. Problem solved.

[2019-08-30 05:55] yaroslavvb opened #25454 "type annotation for torch.nn.functional is missing"
It was missing for me but I fix it locally by adding the following line

```from . import functional as functional```

to the following file

https://github.com/pytorch/pytorch/blob/master/torch/nn/__init__.pyi

cc @ezyang

[2019-08-30 05:55] MAhmad-nn opened #25455 "Add new argument similar to output in pytorch depthwise convolution"
## ❓ I would like to know how to add a new arguement to pytorch source code  which i can return?
The function in which I want to add is depth wise convolution?

[2019-08-30 05:56] beichen2012 commented on #25303
Was the binaries provided by the official website compiled with vs2017 ?

[2019-08-30 05:57] nojeffrey commented on #24891
Actually I can't reproduce it now, was endlessly playing around with versions and now I can't make it crash again.

[2019-08-30 05:57] peterjc123 commented on #25303
Yes, we use VS 2017 14.11 toolset. And from your log, it seems that you don't have CUDA 10.0 installed.

[2019-08-30 06:00] peterjc123 commented on #25303
![image](https://user-images.githubusercontent.com/9998726/63996516-79912400-cb2e-11e9-8904-f0ca4d3d0716.png)

[2019-08-30 06:01] beichen2012 commented on #25303
yes, CUDA9.0 is installed。 but the binaries will link to the downloaded cuda libs with is cuda10.0

OK, I will download the vs2017 14.11 and test again.

[2019-08-30 06:02] beichen2012 commented on #25303
thanks a lot.

[2019-08-30 06:11] peterjc123 commented on #25173
cc @soumith

[2019-08-30 06:13] peterjc123 commented on #25165
Please run the model on CPU first, and you'll get what's wrong there.

[2019-08-30 06:18] peterjc123 commented on #17840
I tried the code with PyTorch 1.2.0 and it cannot be reproduced anymore.

[2019-08-30 06:18] #17840 closed

[2019-08-30 06:55] beichen2012 commented on #25303
emmm, I have installed vs2017 14.11 ,but the leaks is still there. ..
![image](https://user-images.githubusercontent.com/10824490/63999507-30dd6900-cb36-11e9-81f6-73e0b96566b4.png)

[2019-08-30 06:58] Alex18947 opened #25457 "Libtorch torch::cat fails with C++ memory exception after upgrading to 1.2 stable"
## 🐛 Bug

Using Pytorch 1.2 stable on Windows, a simple torch::cat of two GPU tensors generates a C++ memory exception. With CPU tensors, no problem happens.

## To Reproduce

Steps to reproduce the behavior:

Run this code to reproduce in a C++ console:

	auto t1 = torch::rand({ 2, 2 });
	auto t2 = torch::rand({ 2, 2 });
	t1 = t1.to(torch::kCUDA);
	t2 = t2.to(torch::kCUDA);
	auto t3 = torch::cat(

[2019-08-30 06:58] nojeffrey commented on #24891
OK, somewhat figured out, this has to do with starting Jupyter notebook with optirun(Optimus hybrid graphics)

If I start a standard Jupyter notebook, and run `torch.cuda.is_available()` it returns `False`.

If I modify `/opt/anaconda/share/jupyter/kernels/python3/kernel.json` and add `'optirun',` to the first argument, restart the Jupyter server and rerun `torch.cuda.is_available()` it now return

[2019-08-30 07:03] peterjc123 commented on #25303
So you are using the debug configuration? I didn't see that from your post.

[2019-08-30 07:12] beichen2012 commented on #25303
both debug and release. leaks the same .

[2019-08-30 07:20] peterjc123 commented on #25303
Still can't reproduce on my side. The debug build actually crashes here. Did you copy all the DLLs of LibTorch to where your executable locates?

[2019-08-30 07:30] beichen2012 commented on #25303
yes .... But, actually, I set the environmet:
the exe will first searching the libtorch's dlls
![image](https://user-images.githubusercontent.com/10824490/64001738-0fcb4700-cb3b-11e9-81ec-f4cba0ea0fe1.png)

[2019-08-30 07:36] suo commented on #25443
Thanks for the report, and sorry for the inconvenience. This was fixed by https://github.com/pytorch/pytorch/pull/25425, which landed today in master. I confirm the repro prints:
[code]
for me.

[2019-08-30 07:36] jesen8 commented on #22524
hi, @soumith ,i have the same question, But I hope that the capacity of the graphics card can be doubled when i load two model in same python process,how i solve it? thanks.

[2019-08-30 07:36] #25443 closed

[2019-08-30 07:46] CaoZhongZ commented on #23657
We did experiments to 'freeze graph', and described the intension and expected results in:
https://gist.github.com/CaoZhongZ/34c2796deef1cc8871039b3d7441f770

Also some code snippets.

[2019-08-30 08:18] smiletobingxue commented on #23687
Anyone fixed this problem for cuda9.0, need help and thanks in advance!

[2019-08-30 08:45] hongzhen1 commented on #23874
Hi, @jerryzh168 @raghuramank100, @jgong5 . we also find this correctness issue  for bias quantization. how about  keep bias as float32 in from_float() and do one time quantize in forward function to keep better accuracy. we have one complete PR for this, including modification for qconv, qlinear and nniq(conv_relu/linear_relu), but seems conflict with your modification.

[2019-08-30 08:58] linko994 commented on #25165
I wanted to try that, but now it just worked anyway and I have no clue why.

But the thing is: It's actually running a lot slower than before. And it doesn't really matter if I choose "cpu" or "cuda" as device, both are equally slow, while not specifying a device is way way faster.

[2019-08-30 09:40] theo-m commented on #24831
I get the same with this build script:
[code]

[code]

[2019-08-30 09:47] theo-m commented on #25399
I will, I've looked up merged PR with `module: typing` as a label but only two came up so I'm a bit unclear on steps to do it.

I'm also unclear on whether if the typing code should be in `torch/__init__.pyi.in` or in `torch/nn/__init__.pyi` given that the latter imports the `Parameter` class from the source.

[2019-08-30 10:03] jinfagang opened #25460 "Build link not right"
I am using CUDA10.1 so that I build libtorch from source, but after building, used I just need replace `lib` with official libtorch downloaded and everything can works.

From libtorch-nightly begain,  I can not do this anymore, the lib generates always link to my another folder where it builds:

[code]

And when I build libtorch program, it just can not found related functions:

[code]

What shoul

[2019-08-30 10:06] arijit17 opened #25461 "error on "INTRODUCTION TO TORCHSCRIPT""
## 🐛 Bug

## 📚 Documentation

Running this example (https://pytorch.org/tutorials/beginner/Intro_to_TorchScript_tutorial.html) on Google CoLab gives an error while running this cell:

[code]
[code]

Seems to using Pytorch 1.1.0.

cc @suo

[2019-08-30 10:09] daniyar-niantic commented on #16762
I'm also having issues with topk, even with the latest version available on conda. The differences in behaviour between inf and nan handling on cpu and gpu are quite disruptive:
[code]
[code]

[2019-08-30 10:20] Godricly opened #25462 "Cannot use forward references for types"
## 🐛 Bug
The JIT can't pass following code when I tried to passing another instance with same class type.
## To Reproduce
### not working in python3.6
[code]
### working in python3.6

[code]
## Expected behavior
RuntimeError:
Expression of type string_literal cannot be used in a type expression:
at demo_class.py:8:23
    def copy(self, b: 'A'):
                       ~ <--- HERE
        self.v = b

[2019-08-30 10:24] ssdyue opened #25463 "torch.distributed.gather(): the type of gather_list parameter must be list[Tensor]?"
torch.distributed.gather(tensor, gather_list, dst, group=group.WORLD, async_op=False)
One of the source code is as follows：

[code]

so is this logic reasonable?

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera

[2019-08-30 11:08] peterjc123 commented on #25457
This seems to be another initialization problem just like #22681.

[2019-08-30 11:15] yuuho commented on #24823
I also encountered a bug related to grid_sample.

This is an example where bugs can be easily reproduced.
[code]
I want it to be 0.
That is a zero-padded space.

[2019-08-30 11:33] jinfagang commented on #25460
I am using

[code]

to build libtorch, I think it should set link path to current dir with relative path not absolute path..

[2019-08-30 11:38] jinfagang commented on #25460
From official website downloaded lib, the ldd shows:

[code]

But what I build is linked to local absolute path, if I am copied that lib to somewhere else it can not work anymore, how to make my build same as official download link format?

[2019-08-30 11:54] VolodymyrAhafonov commented on #24149
Any updates?

[2019-08-30 12:26] hxtk opened #25464 "Build instructions clarification"
## Issue description

[The instructions on the "Start Locally" page](https://pytorch.org/get-started/locally/#linux-from-source) seem to indicate Cuda 8.0 is supported here:

[code]

However, when I run the commands specified, I get the following output from `python setup.py install`:

[code]

Unless I am missing something, it appears the documentation has fallen out of sync with the latest build.

[2019-08-30 13:06] fmassa commented on #24149
ONNX support for maskrcnn models in torchvision is being worked on, and will be supported in the coming months.

Cc @lara-hdr

[2019-08-30 13:09] ily-R commented on #25302
If I call it from command prompt using:
`
if __name__ == '__main__':
`
it runs perfectly.

If I remove `
if __name__ == '__main__':
` or use Jupyter notebook it doesnt work. Here's the error im receiving:

`
RuntimeError: DataLoader worker (pid(s) 15996, 14988, 3636, 10076, 9212, 9240, 16968, 10268) exited unexpectedly
`

I tried pytorch 1.1.0/1.2.0, py36/py37, cuda 10.0

[2019-08-30 13:21] ezyang commented on #18996
I'm not sure, actually. @soumith, when we build wheels on Linux, do we statically link in MKL?

[2019-08-30 13:24] ezyang commented on #25173
So, I thought we don't build CUDA 9.0 binaries anymore. Do we still do so for Windows?

[2019-08-30 13:30] peterjc123 commented on #25173
No, we don't do that. But this issue about users get cuda 9.0 binaries when specifying CUDA 10.0.

[2019-08-30 13:34] ezyang commented on #25399
You should generally put typing definitions in the pyi file of whatever module originally defined them. That way, direct access to the module gets typed directly.

For general docs about typing, I find the mypy docs are pretty good: https://mypy.readthedocs.io/en/latest/

[2019-08-30 13:35] ezyang commented on #25454
@yaroslavvb Thank you! Can you open a PR for this?

[2019-08-30 13:37] ezyang commented on #25173
So, I made a bunch of packaging changes for Linux/OS X to make it more difficult to get the wrong binary when you installed torch (specifically, I hard-code a specific dependency on +cu100, etc. version in the setup.py). But I didn't apply those changes to the Windows packaging. Maybe that is what is at fault.

[2019-08-30 13:40] peterjc123 commented on #25302
Use it in jupyter notebook is a different story. Please read this post for more details. This
is actual not the error on our side. https://medium.com/@grvsinghal/speed-up-your-python-code-using-multiprocessing-on-windows-and-jupyter-or-ipython-2714b49d6fac

[2019-08-30 13:40] #25302 closed

[2019-08-30 13:42] yaroslavvb commented on #25454
https://github.com/pytorch/pytorch/pull/25456
TIL this kind of PR can be done through github in-browser editor

[2019-08-30 13:43] peterjc123 commented on #25173
I apply the same changes to the Windows packages and from their description, they are having Ubuntu as the operating system.

[2019-08-30 13:50] ezyang opened #25466 "Windows: Removing non-existent dependency file: TH/generic/THStorage.h"
After #24331 the amount of Windows logspam is greatly reduced. However, when running with `CMAKE_VERBOSE_MAKEFILE` I still get:

[code]

Example: https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-cuda9.0-cudnn7-windows-build/63561/consoleFull

We should figure out why this is showing up.

cc @peterjc123

[2019-08-30 13:52] vadimkantorov commented on #25147
About minimal pipeline: yes, the pipeline works well without sox or when I call sox as a subprocess (which slows things down significantly)

[2019-08-30 14:02] peterjc123 commented on #25466
It somehow means that some include dirs are missing. See a related issue in Torch: https://github.com/torch/cutorch/issues/100.

[2019-08-30 14:06] ezyang commented on #25394
We probably also need to install sccache. It probably shouldn't go in `build_windows.bat`. Maybe we should just get rid of the caffe2 build now that it's not running on VS generator.

[2019-08-30 14:11] peterjc123 commented on #25394
@ezyang I'm okay with removing that.

[2019-08-30 14:14] mrshenli commented on #25463
@ssdyue what's suggestion here? Are you suggesting to drop the check on `gather_list` in non-dst ranks? What's the reason for non-dst ranks to pass in a non-empty `gather_list`?

[2019-08-30 14:28] mrshenli commented on #25427
@jfc4050 thanks for the detailed analysis. This looks reasonable to me. One nit is that, would it be more clear if we use `message="Some error message"` instead of setting `prec`?

@pritamdamania87 Do you know why the string message is converted to unicode? Curious, how did you come up with the adding `None` solution?

[2019-08-30 14:30] mrshenli commented on #25427
@jfc4050 could you please also take a look at #25465? Somehow `ProcessGroupGloo` thinks `t1.cuda()` and `t2.cuda()` are using different device types.

[2019-08-30 14:31] #17893 closed

[2019-08-30 14:32] tanguycdls opened #25469 "ONNX export with EmbeddingBag"
## 🐛 Bug
I have a dummy model used to test if Embedding Bag is compatible with ONNX or not. The model takes one sparse input for Embedding Bag and one tensor of 2 dim (test both usage).
I tried exporting it in :
- Opset 9 /  operator_export_type=OperatorExportTypes.ONNX -> model loads Ok on ONNX : Onnx runtime:

- Opset 10 /  operator_export_type=OperatorExportTypes.ONNX -> ONNX loads it and say O

[2019-08-30 14:38] jfc4050 commented on #25427
yes, that would be my preferred change, seems more clear and would be less likely to be broken in the future.

[2019-08-30 14:39] ezyang commented on #25173
oh oops, I assumed it was Windows because you were commenting XD

[2019-08-30 14:40] jfc4050 commented on #25427
I have to leave in about 30mins, but i'll take a look and make a comment in #25465 if I find anything between now and then. Be back on for about an hour at noon

[2019-08-30 14:56] VitaMusic commented on #19336
the problem is not solved for intel compilers. how to do it for intel compilers ? is it possible just comment the line 278 of ArrayRef.h ?

[2019-08-30 14:59] #25454 closed

[2019-08-30 15:02] umanwizard commented on #16762
Sorry, I am not working on this anymore

[2019-08-30 15:06] 1160300929 opened #25471 "doubts about requires_grad = False"
what happens when requires_grad is false?

[2019-08-30 15:10] nairbv opened #25472 "Expose `can_cast` and `result_type` once type promotion is merged"
When we have the ability to promote types per https://github.com/pytorch/pytorch/pull/22273, it will be beneficial for users to be able to check the types that will result for various operations.

similar to:
https://docs.scipy.org/doc/numpy/reference/generated/numpy.can_cast.html
and
https://docs.scipy.org/doc/numpy/reference/generated/numpy.promote_types.html

[2019-08-30 15:21] eellison commented on #25433
Thanks for the report! We should fix this but as a workaround until then you can use `x.to(torch.int8)`

[2019-08-30 15:25] tanguycdls opened #25473 "[TORCH NIGHTLY] Embedding bag Dynamic Axes ONNX Caffe2 Backend"
## 🐛 Bug
Embedding bag Does not work with dynamic axes with ONNX loaded in Caffe2 Backend On the nightly version of TORCH.

Related to #25469 (with ONNX runtime  )

## To Reproduce
[code]

## Expected behavior

Inference Batch Size is 100 so the shape should be (100, 12) and not (10, 12) 10 being the shape while the env was captured.
- If Embedding Bag is not supported the user should be warned.
#

[2019-08-30 15:29] Chillee commented on #25461
This API was changed with Pytorch 1.2.0. Prior to 1.1.0 `torch.jit.script` was called on class types, instead of class instances.

[2019-08-30 15:31] julioasotodv commented on #24824
However, even if the traced nn.Dropout layer works, it is not applied correctly, since the dropout is still applied when the model is in `.eval()` mode.

[2019-08-30 15:32] ezyang commented on #11559
This is fixed now.

[2019-08-30 15:32] #11559 closed

[2019-08-30 15:39] julioasotodv commented on #25251
Ok it turns out that the ONNX runtime raises the exception given that the operation:

[code]
Where `x` is a float32 tensor and `i` is an int64 (long) tensor is valid in Pytorch (and apparently TorchScript), but it isn't in ONNX; where the `onnx:Add` operation has to be between two tensors of the exact same datatype.

I'm not sure whether an exception should be raised in the `export()` function in

[2019-08-30 15:51] colesbury commented on #24912
Thanks for including code to reproduce the issue.

1. You need to set `torch.autograd.profiler.profile(use_cuda=True)` when profiling CUDA code. Otherwise you're just measuring CPU time, which can include long waits for CUDA kernels to execute in more or less arbitrary places (basically any time you launch a CUDA kernel it may block on previous launches).

2. Even with `use_cuda=True`, the timing

[2019-08-30 15:53] #22963 closed

[2019-08-30 16:00] SsnL commented on #25471
Ops on this tensor are not tracked for gradient computation. Use discuss.pytorch.org for questions please.

[2019-08-30 16:00] #25471 closed

[2019-08-30 16:09] colesbury commented on #24912
nvprof shows an average of 824.48us for `indexSelectLargeIndex` (which is embedding forward), which matches my expectations.

I'm not sure why the event-based measurements (like the autograd profiler) are off.

[2019-08-30 16:16] ezyang opened #25478 "Delete TensorOptions::operator=="
We defined an equality test on TensorOptions but we really shouldn't have; the semantics are completely non-obvious.

What we should define instead is probably something like `TensorAxes` which is the tuple of `(DeviceType, Layout, DType)` which maps into TensorTypeId and uniquely specifies how dispatch computation happens. (Should Variable show up in here eventually? Probably.)

[2019-08-30 16:16] ezyang commented on #25478
(Deleting the equality test is small; TensorAxes probably is not.)

[2019-08-30 17:10] suo commented on #25410
Can we changed PackedSequence to use `__init__`? I'm not familiar with why we do `__new__`. @SsnL you appear in the history of that file, do you have more context?

[2019-08-30 17:17] suo commented on #25461
You need to run the first cell in the notebook, which installs the latest pytorch version. Thanks for the report!

[2019-08-30 17:17] #25461 closed

[2019-08-30 17:29] tsuttaket2 opened #25479 "Install old version pytorch"
## ❓ Help

I am looking for ways to install **pytorch 0.3.1.post2** as it is the version that the paper I read implemented with. However looking through the https://pytorch.org/get-started/previous-versions/ I cannot find such version.

Can you please suggest me how to install such version

Thanks

cc @ezyang

[2019-08-30 17:37] ezyang opened #25480 "Vectorize bool operations"
While reviewing #25373 I realized that our bool operations are not vectorized. There isn't really any good reason they're not vectorized, right? We should vectorize them.

cc @izdeby

[2019-08-30 17:49] SsnL commented on #25410
@suo There is a comment in the code:
https://github.com/pytorch/pytorch/blob/fea4225b8a394014b09d82c431d54d419e255ad2/torch/nn/utils/rnn.py#L66-L73

LMK if more context is needed.

[2019-08-30 18:06] VitalyFedyunin commented on #25379
size is the tensor size in bytes, which is number of elements multiplied by element size

[2019-08-30 18:17] orionr commented on #24157
cc @sanekmelnikov @natalialunova

[2019-08-30 18:19] yaroslavvb opened #25481 "[feature request] symmetric matrix square root"
This is needed when incorporating curvature information into optimization

There's PyTorch implementation of symmetric matrix square root op [here](https://github.com/msubhransu/matrix-sqrt) but they use PyTorch for backward pass only, and use scipy for forward pass

I've hacked something together below by borrowing logic to detect 0 eigenvalues from scipy.linalg.pinvh

[code]

[2019-08-30 18:25] yaroslavvb commented on #25481
I actually need a batched version of this, cc @vishwakftw for ideas

[2019-08-30 18:31] suo commented on #25410
@SsnL Thanks! However, this comment only explains why we have those particular argument names for BC, but not why we use `__new__` instead of `__init__`. Do you remember why that change was made?

[2019-08-30 18:44] vishwakftw commented on #25481
One naive idea would be to compute the symmetric eigendecomposition and compute the square root of the eigenvalues

[2019-08-30 18:45] vadimkantorov commented on #25481
There is also a Newton step-based matrix squared root: https://github.com/pytorch/pytorch/issues/9983#issuecomment-431806692

[2019-08-30 18:58] magus96 opened #25484 "Sparse Adam with weight decay"
## Feature Request

Is it possible to implement sparse Adam with weight decay?

cc @vincentqb

[2019-08-30 19:25] SonaPi opened #25487 "Pytorch version conflict on Colab"
I tried to run PyTorch transfer learning codes on Colab for my project. The codes need Pytorch 0.3.1 and torchvision 0.2.0. I have uninstalled the current version of PyTorch and try to install the needed version via:
!pip3 install torch==0.3.1 torchvision==0.2.0 -f https://download.pytorch.org/whl/torch_stable.html

however, the Cuda did not install. I have searched for several days to find the so

[2019-08-30 19:29] ZaydH commented on #24962
Closed based on PR #25018

[2019-08-30 19:29] #24962 closed

[2019-08-30 19:31] ZaydH commented on #25487
You may get better responses if you post on the [Pytorch forums](https://discuss.pytorch.org/).

[2019-08-30 19:37] ezyang commented on #25386
Still flaking https://circleci.com/gh/pytorch/pytorch/2637286?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-08-30 19:45] pirros opened #25489 "Multiple statically linked instances of libtorch in the same process"
I have the following scenario:

- I have build static library libtorch.a
- Module A (libA.so) links to libtorch.a and loads a jit script
- Module B (libB.so) also links to libtorch.a and loads another jit script
- Main process dynamically loads modules A and B.

When only one of A or B is linked, everything is fine and the module is working as expected. However, when both A and B are loaded then t

[2019-08-30 19:45] MAhmad-nn commented on #25379
Thanks , but I would like to know where they are doing that in sources.

[2019-08-30 19:46] ranahanocka commented on #24345
Confirming this issue is also happening for me (cuda 10, python 3.6, Ubuntu).
Is there a work around / patch?

[2019-08-30 20:03] jfc4050 opened #25491 "test_c10d.py: running with -pt option causes failing tests to pass"
## 🐛 Bug
running tests with `-pt` option for `test_c10d.py` allows failing tests to pass. I tried to reproduce this in some other test files, including `test_distributed.py` and it doesn't seem to be an issue there.

## To Reproduce
add something like this to `test_c10d.py`
[code]
run `➜ python test/run_test.py -v -pt -i c10d` and get `test_c10d.py::ProcessGroupGlooTest::test_demonstrate_pytest_pr

[2019-08-30 20:04] ailzhang commented on #24870
Hi @bnehoran , thanks for the great proposal! Here're decisions came out of our meeting:

[code]

We can safely remove the [Discussion] label on the approved items. :D

[2019-08-30 20:04] ailzhang commented on #24870
Contributions to this list are very well welcome, if you are interested in helping, please drop a comment here and we're happy to help getting started.

[2019-08-30 20:14] ezyang opened #25492 "clang-tidy job merges with master which can lead to hard to understand errors"
All of the Azure jobs appear to run on `/merge` rather than the real commit, so they line up with ROCm behavior but not the rest of the behavior. Ordinarily I'd say this was bad... but it actually was good: in #24937 @pearu had a diff which would have caused a `GEN_TO_SOURCE` failure after merging with master, but the merge-with-master caught it. Except... it was really confusing and hard to tell

[2019-08-30 20:24] aalibey commented on #24345
cdist is coded in C++, and I think it has to be re-coded in C++ in order to work as before. I don't see any turnaround for now, I came back to pytorch 1.1.0 so that I can use cdist.
Even pdist has the same problem, since I tried to python-code cdist using pdist.

[2019-08-30 20:34] albanD commented on #25340
@ezyang I think this one is slightly different no? It is the simple case where you save an output in the ctx. That is why `save_for_backward` exists. There is no backward involved in the example above.

[2019-08-30 20:36] SonaPi commented on #25487
I've posted on Pytorch too, but I did not get any response.

[2019-08-30 20:41] yf225 commented on #25491
@mrshenli @pietern Would you like to take a look?

[2019-08-30 20:44] yf225 commented on #25489
@pirros Can you share with us the error you saw and the code to reproduce it? I believe this scenario should work.

[2019-08-30 20:44] jerryzh168 commented on #25386
@ezyang will send a PR today

[2019-08-30 20:44] #21703 closed

[2019-08-30 20:50] yf225 commented on #25487
Unfortunately we don't provide CUDA binaries for PyTorch v0.3.1 anymore (we've already had 6 releases since then). The oldest version we currently support is v0.4.1 for CUDA 9.2, or you can build PyTorch v0.3.1 from source (https://github.com/pytorch/pytorch/tree/v0.3.1) if version upgrade is not an option.

[2019-08-30 20:50] #25487 closed

[2019-08-30 20:53] jfc4050 commented on #25491
oh and also
[code]

[2019-08-30 20:55] yf225 commented on #25484
@magus96 Yes it should be possible, and we would love contributions in this area if you are interested in implementing it.

cc @vincentqb

[2019-08-30 20:59] zhaojuanmao commented on #25491
it was being fixed in #25441

[2019-08-30 20:59] #25491 closed

[2019-08-30 21:01] yf225 commented on #25479
Currently we only provide v0.3.1 binaries for CPU on Linux and macOS: https://download.pytorch.org/whl/torch_stable.html. Please consider building PyTorch v0.3.1 from source https://github.com/pytorch/pytorch/tree/v0.3.1, or running the script with newer versions of PyTorch and let us know what errors you encounter.

[2019-08-30 21:02] #25479 closed

[2019-08-30 21:11] ailzhang commented on #25101
@XiaobingSuper FYI I added a bit more about transposed conv and also `dilation` for my local test case. Just want to let you know that the gist is updated in case you are interested. Thanks for looking into this!

[2019-08-30 21:15] emankov commented on #25101
You meant @emfomenk, I believe.

[2019-08-30 21:21] NekuSakuraba commented on #25484
I'd like to contribute with this implementation.
Can you give me a starting point?

[2019-08-30 21:25] magus96 commented on #25484
Currently I'm just looking at the sparse adam which has already been implemented and making some minor changes and we can see where we go from there.

[2019-08-30 21:29] yf225 commented on #25460
If you are building libtorch from source, you shouldn't need to download official libtorch again. The *.so files should be in the `build/lib` folder and you can directly link to them.

[2019-08-30 21:32] yf225 commented on #25460
On the other hand, you can add the current dir to `LD_LIBRARY_PATH` to let the dynamic linker search the current dir first: https://unix.stackexchange.com/a/367682.

[2019-08-30 21:35] #25320 closed

[2019-08-30 21:35] yf225 commented on #25464
Yes I think we should update the instructions to reflect that we don't support CUDA 8.0 anymore.

[2019-08-30 21:38] yf225 commented on #25455
@MAhmad-nn Would you like to post the question in https://discuss.pytorch.org/ ? You'll get more timely help there.

[2019-08-30 21:38] #25455 closed

[2019-08-30 21:40] yf225 commented on #25453
@MAhmad-nn Would you like to post the question in https://discuss.pytorch.org/ ? You'll get more timely help there.

[2019-08-30 21:40] #25453 closed

[2019-08-30 21:42] cai-lw opened #25497 "`pad_packed_sequence` outdated documentation"
## 📚 Documentation

The documentation for `pad_packed_sequence` says "Batch elements will be ordered decreasingly by their length.", but that's not true if the packed sequence is created with `enforce_sorted=False`. (It was true before the introduction of `enforce_sorted=False`)

Rather, another statement in the documentation "It is an inverse operation to pack_padded_sequence()" is true - the ret

[2019-08-30 21:50] yf225 commented on #25452
My understanding is that PyTorch CUDA program uses the entire GPU by default, so running two programs in parallel won't necessarily increase the throughput.

cc. @mrshenli Do you know what's a good way to get numbers on GPU utilization?

[2019-08-30 21:51] yf225 commented on #17159
cc. @mrshenli Do you think we have data regarding this?

[2019-08-30 21:52] patrick-kidger commented on #25340
Judging by [this comment on #3818](https://github.com/pytorch/pytorch/issues/3818#issuecomment-346236024), this seems to be a different reference cycle.

I think the general reference cycle here is essentially
`output --[.grad_fn]--> ctx --[.some_datastructure]--> arbitrary_datastructure --[.some_attribute]--> output`, if you follow my notation.

Since there's no control over what can be set as an

[2019-08-30 21:53] dashesy opened #25498 "[jit] torch.jit.script range() input type raises isInt() when used with int tensor values"
## 🐛 Bug

I have a `Tensor[int]` passed to `torch.jit.script` when I do

## To Reproduce

Steps to reproduce the behavior:

Run this script:

[code]

[code]

Even if I change it to

[code]

I get the same assertion about `isInt`

## Expected behavior

`range()` to accept input from a tensor of int

## Environment

PyTorch version: 1.2.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS:

[2019-08-30 22:03] AlexTS1980 commented on #1204
This seems to be a really strange error. I tried a lot of things, because it doesn't really say what the glitch or bug is ( in my opinion). So it turns out I didn't _define_ the loss variable:
[code]
Without the `loss` variable in the second line I'd get that error.

[2019-08-30 22:07] xsacha commented on #25489
Does the issue only happen with CUDA models? Are the models running at the same time?

[2019-08-30 22:08] yf225 commented on #24192
Yes we need to fix it.

[2019-08-30 22:30] SonaPi commented on #25487
Thank you very much for your reply.
Would you please tell me how can I install pytorch==0.3.1 torchvision==0.2.0 on windows?

[2019-08-30 22:30] dashesy opened #25501 "[ONNX] export torch.zeros() inside torch.jit.script"
## 🐛 Bug

Error message is vague as to specify what input exactly is `prim::Constant`. I know `confs` is not constant, it is a list of tensors that are not constant, but `child` is constant `List` of `Tensors`.
While for `child` I may be able to use a list of `int`s instead, I have no option about `confs` because that is the only way to pass more than one tensor to `torch.jit.script` (a fixed numb

[2019-08-30 22:42] driazati commented on #25498
Your example works for me on master (after removing the return type ` -> Tuple[Tensor,Tensor,Tensor]`), could you try the nightly PyTorch package?

[2019-08-30 22:47] dashesy commented on #25498
Is there a way to try it with pip? then I could install it in a virtualenv and try. Or do I need to build it?

[2019-08-30 22:47] xsacha commented on #25464
Yes, CUDNN requires a card with CUDA compute 3.0. you could turn off CUDNN but if you want to use anything serious, just get a newer card. A supported one can be found for under $50.

[2019-08-30 22:49] dashesy commented on #25501
I added some debugging in `utils.py` it seems I get that error when I do this

[code]

So I cannot create tensors in the script and export to ONNX?

It also means just passing `op_name` to `op_fn` function could have provided me with the culprit causing the issue and have a better error message.

[2019-08-30 22:53] driazati commented on #25498
You can find more info on https://pytorch.org/ with the Quick Start selector (change it to "Preview (Nightly)" at the top), but this should work for your env:

[code]

[2019-08-30 22:58] driazati commented on #25462
This is something we'd like to support eventually but right now our type system requires that types be fully defined before they are used/referenced so there'd need to be some structural changes first.

[2019-08-30 23:24] yaroslavvb commented on #25481
@vadimkantorov these are the same guys that did PyTorch op for matrix square root. So I wonder why they chose to use scipy for the forward pass. They mention that Newton step convergence radius is limited. I've seen this problem when playing with Newon method for matrix inversion (Schultz iteration), the initial guess had to be pretty close to the answer to get reasonable performance.

[2019-08-30 23:32] dashesy commented on #25501
I moved the `torch.zeros` to outside the `torch.jit.script` and now it can proceed, halting on another issue. Please include `op_name` in the error message.

[2019-08-30 23:43] dashesy opened #25508 "[ONNX] Exception when export Loop from torch.jit.script"
## 🐛 Bug

Please support for-loop with `range`

## To Reproduce

Inside a `torch.jit.script`

[code]

[code]

I printed `new_op_outputs` and it is `()` it is empty

## Expected behavior

To export Loop, or give better error message. Which loop? I have for-loop and while-loop

## Environment

PyTorch version: 1.2.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 16.04.6 LTS
GCC

[2019-08-30 23:48] #25214 closed

[2019-08-30 23:53] dashesy commented on #25508
By printing the `inputs` I found that this is the for-loop. ONNX does not support for-loop with `range` in torch script it seems. I changed that to while loop.

[2019-08-31 00:01] dashesy opened #25510 "[ONNX] Support list operators (len/pop/append) in torch.jit.script"
## 🐛 Bug

`len` does not work for lists. It seems we can create lists but cannot use `len`

## To Reproduce

Inside a torch.jit.script

[code]

[code]
## Expected behavior

Support `len`

## Environment

PyTorch version: 1.2.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 16.04.6 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
CMake version: version 3.14.0

P

[2019-08-31 00:03] dashesy commented on #25510
`pop` and `append` are not supported either

[2019-08-31 00:09] dpmcgonigle opened #25512 "Can't import torch after installing with Conda on Ubuntu"
## 🐛 Bug

I installed CUDA and CUDNN via the following tutorial: (https://docs.nvidia.com/deeplearning/sdk/cudnn-install/index.html), then,
I installed pytorch on Ubuntu 18.04 according to the pytorch website, selecting stable (1.2), Linux, Conda, Python3.7, CUDA10.0, using a virtualenv.  Then, when I go to import:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNot

[2019-08-31 00:19] jerryzh168 commented on #25386
https://github.com/pytorch/pytorch/pull/25513

[2019-08-31 00:22] jerryzh168 commented on #25413
https://github.com/pytorch/pytorch/pull/25513

[2019-08-31 00:53] cannon opened #25514 "Multithreaded backpropagation with custom autograd.Functions"
## 🚀 Feature
By using DataParallel, the engine creates a thread for each GPU. It should do this for backpropagation too, including within python-implemented autograd.Functions.

## Motivation
We're trying to implement synchronized batchnorm for one machine/one "main" process using an interface like the traditional DataParallel. To synchronize the forward pass (computation of the mean+variance) we

[2019-08-31 00:58] ai559031 commented on #4827
I also face the same issue... But above methods are not works for me...
I am using Mac and jupyter notebook(anaconda).

From the PyTorch website, I've tried to install PyTorch by:

`conda install pytorch torchvision -c pytorch`
and

`pip3 install torch torchvision`
When I import torch in jupyter notebook, the error shows:

ModuleNotFoundError: No module named 'torch'
However, in the terminal, if I

[2019-08-31 02:47] XSeanLiu opened #25515 "ONNX export failed on ATen operator upsample_bilinear2d"
## 🐛 Bug

When I use torch.onnx.export , I met opset support problem:
[code]

## To Reproduce

Steps to reproduce the behavior:

1. pytorch inference file
2. change the output to onnx.export

## Environment

 - PyTorch Version (e.g., 1.0): 1.2
 - OS (e.g., Linux): Centos
 - How you installed PyTorch (`conda`, `pip`, source): Conda
 - Build command you used (if compiling from source):
 - Python ver

[2019-08-31 03:52] liyinhua4346 commented on #25165
I　have some problem with you when I run the B-CNN,I run this code on CPU，It works well,but when I run it by GPU,it accurs problem like this problem.

[2019-08-31 03:55] peterjc123 commented on #25165
Is there a minimal reproducible code that I can try?

[2019-08-31 04:01] pritamdamania87 opened #25516 "[RPC] ProcessGroupAgent::enqueueSend and ProcessGroupAgent::enqueueRecv should handle exceptions appropriately"
The above mentioned methods don't handle exceptions correctly in the lambda functions run in the threadpool. The exceptions are swallowed by the threadpool and the RPC ends up blocking forever since the future is never satisfied. For `enqueueRecv` we should have a try-catch block around it and return MessageType::Exception. For `enqueuSend`, we can pass the future into the lambda, have a try-catch

[2019-08-31 04:31] SsnL commented on #25410
@suo Sorry that I misinterpreted the question. I didn't implement the original `__new__`, however, I do believe that for namedtuple subclassing with optional parameters, you have to use `__new__` possibly due to the `__slot__` thing python does,

[2019-08-31 04:33] peterjc123 commented on #24145
@yf225 Have you rebuilt sccache? However, the issue is still there and it only occurs when trying to build the binaries through CMD.

[2019-08-31 04:49] harryhan618 commented on #25110
@soumith
Hi, May I ask '-inf' in softmax is numerical stable?

Here's my situation:
Say, I have `x` of shape (nB, nC, H, W) and a `0/1` `mask` same shape.
I want those masked position won't get involved in `softmax` at dimension `nC`:
[code]

I wanna know if this should be a proper way.
Thanks!

[2019-08-31 05:28] IAMAl opened #25518 "Assign torch.cuda.FloatTensor to List tensor"
## ❓ Questions and Help

I make custom cell and use eager execution on CUDA.
Then I meet segmentation fault to assign torach.cuda.FloatTensor to List tensor.

List Tensor is defined in __init(self)__ as;
[code]

And the self.x is done as;
[code]
Then output is
[code]
How to avoid from the fault?

[2019-08-31 06:07] ai559031 commented on #4827
@jithinjk Can you please talk more about how you "installing Jupyter notebook application from Anaconda navigator for my environment(torch)"? Thank you.

I've tried above methods, but they do not work :(

[2019-08-31 06:08] vadimkantorov commented on #25481
It seems that https://github.com/msubhransu/matrix-sqrt/blob/master/matrix_sqrt.py does not use any scipy... I couldn't find any "scipy" substring

[2019-08-31 08:14] jinfagang commented on #25460
@yf225  You said is right. I am not using official libs, instead, I am just using it's cmake to find libtorch, previous version if I replaced those downloaded libs with what I built, it can work well.

But master build libtorch linked with absolute path. Link to directly where I am build is an optional, but not every good, since my executable program can not run if I moved directly where I build.

[2019-08-31 08:50] npuichigo opened #25520 "pytorch c++ api cannot call operator() on torch::nn::Sequential"
## 🐛 Bug

pytorch c++ api cannot call operator() on torch::nn::Sequential.

[code]

The error is "no viable conversion from torch::detail::return_type_of_forward_t to function return type torch::Tensor"

## To Reproduce

Steps to reproduce the behavior:

invoke operator() on torch::nn::Sequential

## Expected behavior

the same as torch::nn::Suqnential::forward

## Environment

Please copy and pas

[2019-08-31 09:11] yaroslavvb commented on #25481
You are right, I was thinking of this implementation, which is from different authors https://github.com/steveli/pytorch-sqrtm

[2019-08-31 10:16] vadimkantorov commented on #25481
@yaroslavvb Ah, I see. Though they seem to use scipy both for forward and backward (using a Sylvester equation solver in scipy) :)

[2019-08-31 11:02] Alex18947 commented on #25457
In contrast to [22681](https://github.com/pytorch/pytorch/issues/22681) this happens in release mode. It sounds similar to [25298](https://github.com/pytorch/pytorch/issues/25298).

I honestly don't understand how can I be the first one to bring this out - seems like nobody is using Windows anymore ;). With these basis tensor ops failing, the entire 1.2 framework is just unusable. Maybe it's time

[2019-08-31 11:08] vadimkantorov commented on #24915
@soumith Any thoughts on my suggestion about `transforms` interface? (i.e. making them normal pytorch functions / modules to support better reuse)

[2019-08-31 12:13] albanD commented on #25340
Two solutions:
- If you don't use double backward (gradients of gradients), then detaching the Tensor that you save will do the trick.
- If you do need double backward, then you cannot use detach (or the gradients of gradients can be wrong) and you will have to make sure that you **never** save a Tensor that is either an input or an output inside ctx. You will need to save these with save_for_back

[2019-08-31 12:13] #25340 closed

[2019-08-31 12:51] vadimkantorov opened #25522 "[dataloader] Problem in exception reraise mechanism"
For some reason my implementation of `dataset.__getitem__` is throwing a `subprocess.CalledProcessError` (a problem in my dataset loading code).

If I pass to DataLoader `num_workers > 0`, I get the following - probably some issues with exception reraising (missing exception args).
[code]

[2019-08-31 13:14] tsuttaket2 commented on #25479
Thank you

[2019-08-31 15:03] jakubLangr opened #25523 "Illegal instruction (core dumped) when using Conv2d"
## 🐛 Bug
Illegal instruction (core dumped) when using Conv2d using [this as input](https://github.com/jakubLangr/perses/raw/master/input).

## To Reproduce

Steps to reproduce the behavior:
[code]

## Expected behavior

Conv runs

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_en

[2019-08-31 15:29] ptrblck commented on #25518
Additional information:
Issue was reported in the discussion board and the Segmentation fault should be avoided using `model.x[0] = x[0][0][time].cuda()` as described [here](https://discuss.pytorch.org/t/runtimeerror-expected-device-cpu-and-dtype-float-but-got-device-cuda-0-and-dtype-float/54783/25?u=ptrblck).

That being said, this particular error is created by simply calling:
[code]
Using `gdb`

[2019-08-31 15:43] jakubLangr commented on #25523
Part of the problem also is that debugger does not allow me to go one level deeper. Eventually I end up here and even stepping into the file, dumps the core. So I can't even see the traceback.
[code]

[2019-08-31 15:55] IAMAl commented on #25518
Again, thank you very much, ptrblk-san!
This experience is my valuable one.

[2019-08-31 16:56] SsnL commented on #25522
Yeah, this is awkward as `CalledProcessError` has a different ctor signature than most other exceptions. We should special case if similar to what we did for `KeyError`.

[2019-08-31 17:18] vadimkantorov commented on #25522
And maybe add some generic path that catches this "reraise error", prints some raw exception info and asks the user to file a bug?

[2019-08-31 20:21] pirros commented on #25489
I didn't post any details in case this was a known issue, here are some:
I have compiled pytorch from version **77c08aa** with the following options:
`-DUSE_OPENMP=OFF -DMKL_THREADING=SEQ -DBLAS=MKL -DUSE_CUDA=OFF -DUSE_CUDNN=OFF -DUSE_MKLDNN=OFF -DBUILD_SHARED_LIBS=OFF -DUSE_DISTRIBUTED=OFF -DGLIBCXX_USE_CXX11_ABI=0`

An exception is thrown when the second module tries to load the jit model (the

[2019-08-31 20:34] RuiShu commented on #25092
I think if we wish to reset the model parameters without relying on the work around of (remove spectral norm-reset parameters-reapply spectral norm), we'll either have to:

1) Re-write all the spectral normalizable layers to be aware of spectral norm so that the layer knows to reinit layer.weight_orig instead of layer.weight, or
2) Re-write SpectralNorm as a fully-fledged nn.Module that borrows th

[2019-08-31 21:19] xsacha commented on #25457
I am using 1.2 on Windows :) In production. Using torch::cat for CUDA tensors hundreds of times a second as well.
There must be some other condition triggering this one.

[2019-08-31 21:24] pritamdamania87 opened #25525 "DistAutogradContext should be cleaned up on other nodes."
High level design: https://github.com/pytorch/pytorch/issues/23110

Currently, we clean up the distributed autograd context only on the local node once we're done. We need a framework call RPCs on other nodes and clean up the context on other nodes. This needs to be fault tolerant in the sense that we should retry the clean up operation in case of any failures and have some way of dealing with cle

[2019-08-31 22:00] ezyang commented on #25487
You'll have to build it from source. If you have some preexisting codes, it's probably best to try running them on a Linux system. Esp since you originally said you wanted to run on colab...

[2019-08-31 23:56] baobablyh commented on #24853
Looks like I hit the same issue. Before we get to the fix, is there any quick workaround helping unblock? Thanks.

[2019-09-01 00:51] mrshenli commented on #17159
The perf numbers highly depend on the model and the hardware.

The numbers below show the **per-GPU** training throughput on a Huggingface BERT model, where M=machine, and G=GPU per machine. (credits to @chenyangyu1988)

[code]

On a single server, DDP scales almost linearly (drops ~10% when scaling from 1 GPU to 8 GPUs). With two machines, DDP uses NVLink on the same machine and Ethernet across m

[2019-09-01 01:01] pritamdamania87 opened #25528 "Enhance forward pass for distributed autograd to work with Python UDFs"
https://github.com/pytorch/pytorch/pull/25527 and https://github.com/pytorch/pytorch/pull/24876 add the necessary autograd functions for the forward pass when we use distributed rpc for builtin operators. However, this functionality is not yet implemented for Python UDFs.

@zhaojuanmao We need to update our serialization format to be consistent across the board with `tensor_table` support in Pytho

[2019-09-01 01:06] mrshenli commented on #25452
I agree with @yf225's comments.

IIUC, there will be one CUDA context per **process**, which might consume ~500MB GPU memory. When using two threads, they will share the same context, and hence the total GPU memory consumption will not be doubled.

As there is only one GPU, the two threads will share that GPU, and also compete for the Global Interpreter Lock.

Regarding profiling tool, [nvprof](ht

[2019-09-01 01:19] pritamdamania87 opened #25531 "[RPC] ProcessGroupAgent should clean up futures on failures/timeouts"
ProcessGroupAgent keeps a map of `futures_` for pending RPCs. In case the destination worker hangs/fails for some reason, these futures will never be marked as complete. We should have some sort of clean up mechanism for these futures where after a timeout, futures which have not been fulfilled are marked completed with an exception indicating they timed out.

cc @ezyang @gchanan @zou3519 @pietern

[2019-09-01 01:20] mrshenli opened #25532 "[RPC] Support send to self in ProcessGroupAgent"
Currently RPCs using `ProcessGroupAgent` always go through Gloo, which does not support sending message to self yet. `ProcessGroupAgent` should bypass Gloo if destination is self by directly enqueuing a task into the thread pool.

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera

[2019-09-01 01:20] pritamdamania87 commented on #17882
@pietern Should we close this out? @mrshenli created a follow up for error handling within the server: https://github.com/pytorch/pytorch/issues/24906.

[2019-09-01 01:25] pritamdamania87 commented on #24906
@mcarilli @ngimel I was wondering if you could provide some more context about why NCCL APIs aren't reporting errors when something fails within a machine. One way to repro this issue is to run the script `https://github.com/pytorch/pytorch/blob/master/test/simulate_nccl_errors.py` in two different processes on the same machine.

[2019-09-01 03:15] lk1983823 opened #25533 "Export to Onnx error: "_thnn_fused_lstm_cell""
Hi guys:
I have build a seq2seq model using nn.LSTMCELL in it. And I want to export a trained one to onnx form. However, when I do this, I have an error says:

[code]
I think this maybe due to the opset nort supporting nn.LSTMCELL.
Any one could help and share some advice?
Thank you！

cc @albanD @mruberry @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof @zou3519

[2019-09-01 05:13] soumith commented on #18996
with Linux, yes, with OSX no.

The right fix is to patch https://github.com/pytorch/builder/blob/master/wheel/build_wheel.sh
While we traditionally didn't link MKL on OSX because Accelerate was just fine as a BLAS, we are now starting to rely on MKL-specific functionality as above, and so we need to fix this to statically link MKL on OSX as well.
I can attempt it sometime this weekend.

[2019-09-01 05:33] Alex18947 commented on #25457
For me, torch::NoGradGuard makes no difference. And yes, some other condition must be triggering this, in #25298 the same problem with globalATenDispatch happens when copying to GPU, so in a different place.

[2019-09-01 05:36] soumith commented on #25457
@yf225 @peterjc123 we run a full suite of Python+Windows tests on every CI commit, but have we enabled them for libtorch / C++ frontend? If not, can we please enable them asap, so that something like this and #25298 cannot repeat. Please let me know if I misunderstood the context.

[2019-09-01 05:45] dylanbespalko commented on #24953
I have also noticed an up-tick in the number of tests that don't run on the Jetson TX2

**test_autograd.py**
Ran 1010 tests in 1806.564s
FAILED (errors=4, skipped=6, expected failures=1)

**test_nn.py**
Ran 1453 tests in 1400.445s
FAILED (failures=2, errors=61, skipped=64, expected failures=2)

Would it be possible to reduce the resources by decreasing tensor sizes?

Attached is the test log
[tx2_

[2019-09-01 06:16] askerlee commented on #15067
How about mapping each param to its module name? I guess that's enough for most scenarios.

[2019-09-01 06:22] veritas9872 commented on #15864
@fmassa @colesbury The precise location of the deformable convolution is https://github.com/open-mmlab/mmdetection/tree/master/mmdet/ops/dcn.
I think that this code is all that is needed to implement deformable convolution in Pytorch.

Many thanks in advance to anyone who could assign themselves the task.

[2019-09-01 06:45] shbnm21 commented on #21453
@hexiaoting have u seen the code,what is the causing error?Please help

[2019-09-01 07:36] TomorrowIsAnOtherDay commented on #22866
@AravindChandradoss  Try : torch.set_num_threads(1)
[code]

[2019-09-01 07:40] TomorrowIsAnOtherDay commented on #22866
I don't think the current setting is sensible for running multiple experiments at a machine with 8 GPUs.
I want to start 8 experiments at the same time but I find that the first experiment has already used all the CPUs.
While I was writing the code in tensorflow with the GPU environment, I did not have any issues about CPU usage.

[2019-09-01 07:43] TomorrowIsAnOtherDay commented on #22866
Another problem is that when I had 8 experiments started, it's hard for me to edit the code as these experiments had occupied all the CPU resources.
Why tensorflow does not have this issue?

[2019-09-01 09:47] jesen8 commented on #25452
yes,i agree with you, @mrshenli , @yf225 ,but in my situation,i don't want that the two threads share the same context  on same GPU , so,is threre any solution for me? does mutilprocess is ok?

[2019-09-01 10:44] #23868 closed

[2019-09-01 10:45] WeiChihChern commented on #23868
incorrect saving method were performed on my python end.  Loading on libtorch has no problem now on prebuilt release libtorch 1.2

[2019-09-01 11:14] peterjc123 opened #25535 "[Proposal] Pin Windows SDK and MSVC compiler versions in LibTorch"
## Background

According to https://gitlab.kitware.com/cmake/cmake/issues/16202#note_140528, we should always pin windows sdk version and the msvc compiler version when possible. Due to our limited infra and staffing, it is impossible to test every combination of MSVC compiler version and Windows SDK. So the solution is to pin these versions on default and check them during configuration. We can p

[2019-09-01 11:30] SongLongZhang opened #25536 "nn.ConvTranspose2d output_padding not padding 0"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)
 m = nn.ConvTranspose2d(1, 1, (2, 2), stride=(2, 2), padding=(1, 1), output_padding=(

[2019-09-01 11:40] SongLongZhang commented on #25536
How can I replace ConvTranspose2d（output_padding） with ConvTranspose2d(no output_padding)?I want to ConvTranspose2d with output_padding in MXNet ?

[2019-09-01 12:21] lr91-089 opened #25537 "RuntimeError: CUDA error: device-side assert triggered - yesterday it worked"
I have problems running this file on my machine: https://colab.research.google.com/github/Curt-Park/rainbow-is-all-you-need/blob/master/08.rainbow.ipynb

Yesterday everything worked fine, now I am alway getting this CUDA error. Appears also on my other code, which was working fine before.

cuda
Traceback (most recent call last):

  File "<ipython-input-14-f1898308ae81>", line 1, in <module>
    ru

[2019-09-01 12:25] peterjc123 commented on #25303
Would you please run the executable generated by me for a longer time? (e.g. 10 mins - 20 mins)
The executable is here: [train_pytorch.zip](https://github.com/pytorch/pytorch/files/3563454/train_pytorch.zip)

[2019-09-01 12:35] peterjc123 commented on #25303
It that problem doesn't appear anymore, then it may be related to https://github.com/pytorch/pytorch/issues/25535. Please set Windows SDK version to 8.1 and make sure toolset 14.11 is selected. (v141 doesn't necessarily mean 14.11, it actually mean 14.1X). More details could be found in https://github.com/peterjc123/pytorch-scripts/issues/23 and https://devblogs.microsoft.com/cppblog/side-by-side-

[2019-09-01 12:40] soumith commented on #25457
okay, I spoke to @peterjc123 and we actually have libtorch tests enabled in the CI, and everything described in this post works on Windows for our CI version of VS / WinSDK.

I wish you maybe asked a bit more nicely, instead of coming to some kind of drastic conclusion. Developers like @peterjc123 maintain PyTorch for Windows in their free time and put a lot of time and energy to help make the pro

[2019-09-01 13:20] peterjc123 commented on #24859
Oh, I just found out that I missed that post. I think it will be better if we could have our own nightly build machines. Because the parallelism of Azure Pipelines is only 10x. It will block the CI tests of the main repo during the building process of nightlies. Currently, we are depending on the three build machines provided by Microsoft, which we could not directly take control of.

[2019-09-01 13:23] peterjc123 commented on #25537
Could you find something useful here?
https://github.com/pytorch/pytorch/issues/1204

[2019-09-01 14:02] andyljones commented on #25301
My C++ is pretty weak so this might be a red herring, but I've just noticed that `collect()` appears twice in the stack. It grabs `limbo_mutex_` each time and that's not a reentrant lock.

[2019-09-01 14:31] vadimkantorov commented on #23756
On the batchnorm story side this could be:
1. implement inverse() for BatchNorm and LeakyReLU (an idea about extensions: a generic way to add inverse for existing functions, maybe also a way of automatic computing a function inverse in the compiler if it's a composition of invertible functions?)
2. implement inplace argument for BatchNorm (if inplace is used, it uses inverse to reconstruct the inp

[2019-09-01 14:38] ezyang commented on #24953
Can you try some of the workarounds posted in #8103 and see if they help? We might need to adjust thread size choices for Jetson.

More generally, we haven't been testing against Jetson in our CI, so this kind of breakage is going to keep happening until we do so. Maybe we should; I'm not sure about relative priority for Jetson.

[2019-09-01 14:39] ezyang commented on #24953
Other examples of us having fixed this type of problem: #17144, #7680

[2019-09-01 14:40] ezyang commented on #25535
SGTM. Let's do it.

[2019-09-01 14:41] ezyang commented on #25413
Also https://circleci.com/gh/pytorch/pytorch/2644855?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-09-01 14:42] ezyang commented on #24859
Our own nightly build machines are possible. However, we might be able to increase the parallelism of Azure Pipelines. Let me talk to the relevant people.

[2019-09-01 14:43] soumith commented on #25536
please use https://discuss.pytorch.org for questions

[2019-09-01 14:43] #25536 closed

[2019-09-01 15:07] mrshenli commented on #25452
@jesen8 Yes, multi-process would create a new context per process, checkout [this](https://pytorch.org/docs/stable/notes/multiprocessing.html).

If you prefer multi-threads, you can try use different streams in different threads, checkout [this](https://pytorch.org/docs/stable/notes/cuda.html#cuda-streams). This could help to overlap device <-> host communication with GPU computation.

[2019-09-01 15:13] lr91-089 commented on #25537
Thanks @peterjc123
Partly. I did a pytorch and cuda downgrade to conda install pytorch=0.4.1 cuda90 -c pytorch, now it works.

Any idea why the new versions are not working?

Full error message:

cuda
5C:/w/1/s/tmp_conda_3.6_114131/conda/conda-bld/pytorch_1567251986110/work/aten/src/THC/THCTensorIndex.cu:189: block: [25,0,0], thread: [63,0,0] Assertion `dstIndex < dstAddDimSize` failed.
Traceback

[2019-09-01 15:28] WeiChihChern commented on #23999
got same error too

[2019-09-01 15:39] peterjc123 commented on #25537
What about setting the environmental variable `CUDA_LAUNCH_BLOCKING=1` and then rerun that example?

[2019-09-01 15:51] lr91-089 commented on #25537
Then I got the error message in my second post.
But downgrading seems  to work. I also installed a new nvidia driver today, maybe this is causing the issue? But I also un- and reinstalled the driver.

[2019-09-01 16:12] peterjc123 commented on #25537
Could you please insert some code before this line and print out these values and their shapes?
[code]

[2019-09-01 16:14] lr91-089 commented on #25537
Would the input be the x in this line?
[code]

[2019-09-01 16:16] peterjc123 commented on #25537
Yes, it should be `x`. But I  want to know the other two values `bias` and `weight` too.

[2019-09-01 16:38] lr91-089 commented on #25537
[code]

Mhm... is this a batch-size - layer missmatch? I am quite new in this tensor and neural network operations, so I don't really understand this so good...

[2019-09-01 16:52] Arjunbala opened #25540 "Enabling multi-stream per-thread default stream"
## Issue description
I am trying to use CUDA streams to concurrently execute kernels on different streams (Ref: https://devblogs.nvidia.com/gpu-pro-tip-cuda-7-streams-simplify-concurrency/). Using Nvidia Visual Profiler, I am able to see the kernels launched on their respective streams but they are getting serialized with respect to the default stream(legacy streams behavior). Upon further analysi

[2019-09-01 21:30] ngimel commented on #25540
Additional streams are created in pytorch with cudaStreamNonBlocking attribute, so they don't serialize with respect to the default stream. There are other reasons you won't see overlap in the execution - e.g. if the kernels are too small, the launch overhead (both cuda and CPU overhead introduced by pytorch) will prevent overlap. Alternatively, if each of the kernels is large enough to use all th

[2019-09-01 21:30] #25540 closed

[2019-09-01 22:57] Arjunbala commented on #25540
I am not sure if any of those factors are at play. When I write the same program using CUDA, I am able to see the kernels execute concurrently (as visible in Nvidia Visual Profiler)

[2019-09-02 00:21] beichen2012 commented on #25303
my pytorch was downloaded from website(version: cuda10, pytorch1.2). and your train_pytorch.exe is different with the libriaries:
![image](https://user-images.githubusercontent.com/10824490/64084124-acb7fb00-cd5a-11e9-8b09-199028dbe4e6.png)

[2019-09-02 00:24] beichen2012 commented on #25303
I had changed the sdk verison to 8.1, but nothing changed....
![image](https://user-images.githubusercontent.com/10824490/64084166-146e4600-cd5b-11e9-8049-ada631009828.png)

[2019-09-02 00:49] ssdyue commented on #25463
@mrshenli when I don‘t define `gather_list`, or define it to be empty, or define it to be `List[tensor]` in non-dst's code, which will report the corresponding error. So I don't know how to handle it.

[2019-09-02 01:06] jgong5 commented on #23657
One thing I would like to clarify on "freezing graph" feature support is that it is not specific to MKL-DNN. It is a general feature applicable to all backends.

[2019-09-02 01:43] sukuya commented on #25443
Yeah, it works now.

[2019-09-02 02:20] peterjc123 commented on #25537
No, the inputs are correct. I checked the result locally, but could not reproduce that.
@soumith @ezyang  Any ideas?

[2019-09-02 02:21] #25160 closed

[2019-09-02 02:23] peterjc123 commented on #25303
That's weird. I downloaded them from pytorch.org, following the path of `Stable, Windows, LibTorch, C++, 10.0`. Could you please check the `build_hash` file in the LibTorch folder, which should be `8554416a199c4cec01c60c7015d8301d2bb39b64`?

[2019-09-02 02:32] peterjc123 commented on #25303
About your second post:
Please read the **following** carefully.
v141 doesn't necessarily mean 14.11, it actually only means that you are using VS 2017. More details could be found in peterjc123/pytorch-scripts#23 and https://devblogs.microsoft.com/cppblog/side-by-side-minor-version-msvc-toolsets-in-visual-studio-2019/.

[2019-09-02 02:43] smoothclear commented on #25484
I'm also interested in this topic. Could I also join? @yf225 @NekuSakuraba @magus96

[2019-09-02 03:04] dpmcgonigle commented on #25512
User error.  Aliased python to anaconda3/bin/python instead of letting the virtual environment do its magic in deciding which interpreter to run.  Sorry!

[2019-09-02 03:04] #25512 closed

[2019-09-02 03:17] liuyizhuang commented on #10942
same problem.ssd_moblienetv3 to onnx
py3.6.8, torch 1.0,torchvision 0.2.1

('v', 'is', 'is', 'is', 'i', 'i') 2222222222 (502 defined in (%502 : Float(1, 16, 75, 75) = onnx::BatchNormalization[epsilon=1e-05, momentum=1](%497, %16, %17, %18, %19), scope: SSD/MobileBlock/Sequential[depth_conv]/BatchNorm2d[1]
), 519 defined in (%519 : int[] = prim::ListConstruct(%514, %518), scope: SSD/MobileBlock/Squ

[2019-09-02 03:23] CappuccinoMocha opened #25546 "Confusion about torch.Tensor"
First I define a torch Tensor, then I inspect it in Pycharm Debug Window, a odd problem occurs.
![image](https://user-images.githubusercontent.com/50699884/64088346-936f7880-cd73-11e9-89d5-ccea6710c09b.png)
it seems that I can have endless t.T.T.T... , and they have the same value and structure, the same as t.data.data.data, could anyone give me an explansion.
![image](https://user-images.githubus

[2019-09-02 03:44] vraivon commented on #22327
I tried with what you said, but catch an exception as well.
Would you mind post the code that can load model with istream successfully？

[2019-09-02 03:45] beichen2012 commented on #25303
the content of file build_hash is diffence.
My content is:
`142c973f4179e768164cd578951489e89021b29c
`
I download the libtorch(pytorch1.2 stable cuda10, c++) in 2019-08-21 and the  torch.dll timestamp is:
![image](https://user-images.githubusercontent.com/10824490/64088803-c450ad00-cd75-11e9-8475-c4c2a1815a9a.png)

I will re-download the library from official-website and have a try.

[2019-09-02 05:14] Godricly opened #25547 "nonexistent attribute __class__ when defining class with jit"
## 🐛 Bug
[code]
## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

[code]
## Environment
Collecting environment information...
PyTorch version: 1.2.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 18.04.3 LTS
GCC version: (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0
CMake version: version 3.10.2

Python version: 3.6
Is CUDA available: Yes
CUDA runtime

[2019-09-02 06:13] magus96 commented on #25484
In fact I've already worked on it some. Check out the notebook linked and see if you can benchmark it.

[2019-09-02 06:28] peterjc123 commented on #25537
@lr91-089 Does it error out if you call this line directly?
[code]

[2019-09-02 06:39] HZY302 commented on #19302
have you solved this problem?

[2019-09-02 06:45] HZY302 commented on #19302
Do you know how to solve this problem?

[2019-09-02 06:48] crystalwan opened #25548 "The inference speed of the torch c++ dynamic library compiled manually is slower than the torch library officially provided"
## ❓ Questions and Help
I compile the torch c++ library(v1.2.0) with the command "python tools/build_libtorch.py". And then load the model of renet50 with the compiled library(batchsize=5), the speed  is  20fps. But when I load the model resnet50 with the library officially provided from the website  https://download.pytorch.org/libtorch/cu100/libtorch-shared-with-deps-1.2.0.zip, the speed is 130f

[2019-09-02 06:50] robert780612 opened #25549 "The math formula of "kaiming_uniform_" and "kaiming_normal_" are not general enough."
## 📚 Documentation
Hi everyone,
I found that the math formulas of "torch.nn.init.kaiming_uniform_" and "torch.nn.init.kaiming_normal_" are not general enough.
The complete formula for "kaiming_uniform_" should be

Am I right?

https://pytorch.org/docs/stable/nn.init.html#torch.nn.init.kaiming_uniform_
https://pytorch.org/docs/stable/nn.init.html#torch.nn.init.kaiming_normal_

[2019-09-02 06:51] crystalwan commented on #25548
inference on GPU cuda10 cudnn7.6

[2019-09-02 06:52] Alex18947 commented on #25457
Well, after reading #25298 which has the exact same symptoms I was under the impression that this is a general problem. So now it's clear that it is not that easy, so I will try to be less ignorant and investigate further on my side. I am sure that #25298 and my problems are actually of the same nature.

[2019-09-02 07:05] xsacha commented on #25457
Did you try avoiding the GPU copy?
As:
[code]

I never copy in my code. I leave everything on the GPU it came on. That could be the cause of all those issues.

[2019-09-02 07:17] bbrighttaer commented on #11223
@SsnL any update on the segment_*ops?

[2019-09-02 07:37] pietern commented on #25463
This works for me:

[code]

That said -- we can improve this such that the non-dst doesn't have to specify `gather_list`.

[2019-09-02 07:52] HZY302 commented on #23219
Can you tell me how to load  libtorch V1.1.0

[2019-09-02 08:26] lr91-089 commented on #25537
No. When I just put in the tensors above, the code executes correctly.

[code]
This old build is working on another conda environment through: conda install pytorch=0.4.1 cuda90 -c pytorch

[2019-09-02 09:18] beichen2012 commented on #22681
I got the same error in : net->to(device) where the device is cuda:0

[2019-09-02 09:21] iofu728 commented on #23823
This problem also occurs in my Windows OS 18965.1005.

[2019-09-02 09:26] pirros commented on #25489
This might be specific to the GCC version I'm using (5.4.0). I will investigate this a bit further ...

[2019-09-02 09:35] pietern commented on #24268
Another instance of this same flakiness issue: https://circleci.com/gh/pytorch/pytorch/2651845

[2019-09-02 09:48] robert780612 commented on #25546
You are right.
"T" means transpose, so you can have endless transpose operations.

[2019-09-02 10:03] ksnzh opened #25550 "If a module passed to DistributedDataParallel has no parameter required gradient, expect_sparse_gradient[0] in _ddp_init_helper function will raise error."
## 🐛 Bug

If a module passed to DistributedDataParallel has no parameter required gradient, expect_sparse_gradient[0] in _ddp_init_helper function will raise error.

In `self.criterionPerceptron`, it's set that `for param in xxx.parameters(): param.requires_grad=False`

[code]

## To Reproduce

Steps to reproduce the behavior:

1. create a module that does not required gradients
2. pass it to Dist

[2019-09-02 10:34] madsbk commented on #24912
I see something similar as @colesbury when running @heiner's code on my machine, a Quadro GV100.

`CUDA_LAUNCH_BLOCKING=1 python simpleembed.py` shows an average of
  - 326.48us for `indexSelectLargeIndex` (embedding forward)
  - 575.75us for `EmbeddingBackwardKernel` (embedding backward)

Full nvprof output here: https://gist.github.com/madsbk/c67f358710e7024f3cad3f4a68bf980b

[2019-09-02 10:56] pietern commented on #25550
Thanks for reporting.

What is your intended use here? If there are no parameters for which gradients are computed, then there is no use for DDP to begin with. The error message should be a bit friendlier though :)

[2019-09-02 11:02] ksnzh commented on #25550
Emm, to compute perceptron loss such as fixed VGG-19.

[2019-09-02 11:10] pietern commented on #25550
Sure, but why do you need `DistributedDataParallel` for that?

[2019-09-02 11:19] ksnzh commented on #25550
@pietern Oh, it's my fault. I just replace the old Dataparallel with DistributedDataParallel. It seems no need to use DistributedDataParallel for computing the loss. Just for a examplar use: https://github.com/open-mmlab/mmsr/blob/master/codes/models/SRGAN_model.py#L72

[2019-09-02 11:35] DerHaddy opened #25551 "Model export ONNX C++"
Hey all,

is there a way of exporting a trained model from PyTorch C++ API (libtorch) into ONNX format?

Thanks

[2019-09-02 12:09] Alex6D commented on #7322
Have you solved this issue? I run into the same needs, the gradient seems to be interrupted. Thanks

[2019-09-02 12:13] pietern opened #25552 "Usage of DDP on a module that doesn't require gradients"
Per #25550, this raises a terrible error message.

Instead, we can choose to do one of two things:
* Raise a nicer error message to say it's not needed to use DDP.
* Allow this and become a non-functional pass through.

@mrshenli @zhaojuanmao @pritamdamania87 Thoughts?

[2019-09-02 12:14] pietern commented on #25550
I see, that clarifies things. I also see you use a single GPU per process (per the `device_ids` kwarg), so there is also no need / value in using `DataParallel` for the loss computation here either.

Closing the issue in favor of #25552.

[2019-09-02 12:25] primakov commented on #4518
I had the same problem on python: 3.7.3, cuda 10.1, pythorch 1.2.
for me reinstalling the package with conda solved the problem:
[code]

[2019-09-02 13:40] Usama-Zafar commented on #20200
@pietern sorry for a very late reply, have been traveling. I have closed it because it was part of another bug already reported. I was getting the issue when I was trying to create threads and using them for communication. It was reported here: https://github.com/pytorch/pytorch/issues/16559

[2019-09-02 14:10] xsacha commented on #25548
It could be that the prebuilt uses a dependency that wasn't in your environment at time of build and hence was excluded.
Maybe pastebin a build log.

What CUDA and CUDNN version did it build with?

[2019-09-02 14:18] pirros commented on #25489
I compiled with GCC 7.4.0 and got the same error.

[2019-09-02 15:01] Alex18947 commented on #25457
Ok, so here is the story. Maybe it helps others experiencing these C++ memory exceptions (e.g. #25298) Looking closer at libtorch 1.1 vs. 1.2 prebuilt binaries, I now see that there are 3 new nvrtc libraries added (runtime compilation). Since I was always building from source, I failed to add these libraries to the final application folder. I checked, of course, the torch.dll 1.2 dependencies (whe

[2019-09-02 15:01] #25457 closed

[2019-09-02 15:03] ezyang commented on #24859
@peterjc123 has got his Windows machines, unassigning myself.

[2019-09-02 15:06] ezyang commented on #25537
I ran your script on PyTorch 1.2.0 on Linux with Tesla M40 Driver Version: 396.69 and was not able to repro. In your original test were you running 1.2.0 on CUDA 10? Can you try running it with 1.2.0 with CUDA 9.2?

[2019-09-02 15:07] ezyang commented on #22681
@beichen2012 There is a partial (but unsound) patch which resolves this error in #24360 you might give it a try.

[2019-09-02 15:20] #25304 closed

[2019-09-02 15:46] lr91-089 commented on #25537
Mhm after downgrading some scripts are working again, but the main file not. Is it maybe an error because of the input of my tensors? But it is basically a 5 d numpy array with each input values ranging from 0-1.

[code]

[2019-09-02 16:41] baobablyh commented on #24853
Confirmed that building from source with zeros_like solved the issue. It worked for me.

[2019-09-02 16:43] vikramjit-sidhu commented on #24900
I am getting a similar error, the dimension of the tensor to which i apply the SVD is [200, 130560].

However, I set the 'some' flag on the SVD to False, which is when I get this error:

`u, s, v = torch.svd(W, some=False)`

I can provide more details if necessary.

[2019-09-02 17:01] vishwakftw commented on #24900
When `some=False`, `V.shape` = `n x n`. This means you are trying to return a `130560 x 130560` tensor, which is roughly 63.5 GiB.

[2019-09-02 20:37] ahkarami commented on #2260
I think this issue must be re-open.

[2019-09-02 20:55] makslevental commented on #22095
note that this also happens with `nn.BatchNorm2d` layers if `track_running_stats` because of

[code]

[2019-09-02 21:51] VitalyFedyunin commented on #25301
Thanks, I'm looking into it. Might take few days to find fix.

[2019-09-03 00:34] ssdyue commented on #25463
@pietern thanks for your help, I understand it.

[2019-09-03 01:20] blindpikachu commented on #4107
Could it be related to lack of remaining memory on GPU device?

[2019-09-03 02:51] novioleo commented on #2260
fine

---Original---
From: "Amir Hossein Karami"<notifications@github.com&gt;
Date: 2019/9/3 04:38:35
To: "pytorch/pytorch"<pytorch@noreply.github.com&gt;;
Cc: "State change"<state_change@noreply.github.com&gt;;"Tao Luo"<744351893@qq.com&gt;;
Subject: Re: [pytorch/pytorch] [Feature Request] Deformable Convolution (#2260)

I think this issue must be re-open.

—
You are receiving this because you mo

[2019-09-03 02:59] DeqiangWang commented on #24398
I also meet the same issue, I fine the pytoch doc(https://pytorch.org/docs/stable/notes/randomness.html) tell me to set :
torch.backends.cudnn.deterministic = True
torch.backends.cudnn.benchmark = False
but no use, and I try a lot time, find if I delete torch.backends.cudnn.deterministic = True and set torch.backends.cudnn.benchmark = True, get heighter training speed.....

[2019-09-03 03:30] soumyadipghosh opened #25570 "Remote memory access similar to MPI one-sided in pytorch"
torch.distributed package currently implements two-sided point to point communication, i.e. send and recv. However, one-sided communication, i.e., put, get and accumulate routines are getting popular in mpi due to performance benefits and dynamic communication patterns. It would be great to implement these routines in pytorch.

[2019-09-03 03:37] mayurnewase opened #25571 "Wrong crossentropy loss calculation"
## 🐛 Bug

I tried nn.CrossentropyLoss() using weights with reduction of none, sum, mean.None and sum is working as expected but with mean loss is wrong

## To Reproduce
`
suppose 3 classes

pred = torch.tensor([[0.2, 0.3, 0.5], [ 0.5, 0.2, 0.3 ]])
y =  torch.tensor([2, 1])
weights = torch.tensor([2., 4., 6.])

loss_function = nn.CrossEntropyLoss(weight = weights, size_average = None, ignore_index

[2019-09-03 05:27] qingzhouzhen opened #25572 "How to change dynamic model to onnx?"
## 📚 Documentation
I want to change [Extremenet](https://github.com/xingyizhou/ExtremeNet) to onnx, which programmed a dynamic model, I searched
1 https://pytorch.org/docs/stable/onnx.html#tracing-vs-scripting
2 https://github.com/onnx/tutorials
It seems not told how to change a dynamic pytorch model to onnx， where is the example of change dynamic model to onnx?
below is core dynamic code patch:

[2019-09-03 05:56] wandering007 opened #25573 "assignment bug of advanced indexing"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

The output should be:

[code]

while got:

[code]
I suspect that `a[8]` was assigned with 7 first and then its value was indexed and assigned to `a[9]`.

The behavior of `numpy` lib is correct:

[code]

## Environment

 - PyTorch Version (e.g., 1.0): 1.2.0
 - OS (e.g., Linux): Mac OSX 10.13.3
 - How you inst

[2019-09-03 06:03] crystalwan commented on #25548
The libtorch I build is linked to cudnn7.6 cuda10,  execute the command" ldd libtorch.so" The result is :

- linux-vdso.so.1 =>  (0x00007ffdc17d5000)

- libcudart.so.10.0 => /usr/local/cuda/lib64/libcudart.so.10.0 (0x00007f3cb47cc000)

- libgomp.so.1 => /usr/lib/x86_64-linux-gnu/libgomp.so.1 (0x00007f3cb459a000)
- 	libpthread.so.0 => /lib/x86_64-linux-gnu/libpthread.so.0 (0x00007f3cb437d000)
- 	li

[2019-09-03 06:31] #25484 closed

[2019-09-03 07:10] kealennieh commented on #18626
This feature will be very useful.

[2019-09-03 07:30] pietern commented on #25427
@jfc4050 @pritamdamania87 Any idea why the message kwarg issue resulted in test flakiness? I expected this to either fail all the time or not at all, instead of being intermittent.

[2019-09-03 07:32] pietern commented on #25427
Closing this because the fix in #25557 is landing.

[2019-09-03 08:06] beichen2012 commented on #25303
@peterjc123 Thanks a lot. it turns out that libtorch's build hash was not equal...

the problem solved by:
1, bought a new computer
2, installed cuda10 and cudnn7.6.2;
3, downloaded libtorch from official website and  check build_hash to be the same;

but in debug mode , a new question occurs....
same to : https://github.com/pytorch/pytorch/issues/22681#issuecomment-527179141

[2019-09-03 08:06] #25303 closed

[2019-09-03 08:08] beichen2012 commented on #22681
Thanks , but it only occurs in debug mode. so I will debug in cpu and publish in gpu...

[2019-09-03 08:19] peterjc123 commented on #24859
@ezyang I managed to run some simple smoke tests using the CUDA binary on WS 2008 R2 that is generated on WS 2016. But when I tried to run `test_cuda.py`, there are many `unspecified launch errors`, but this is the same for our current 1.2.0 binaries.

[2019-09-03 08:42] NeilWangziyu opened #25576 "Build PyTorch with c++11 ABI"
## 🚀 Feature
build the pyTorch package with with c++11 ABI

## Motivation
Since in libtorch, we have release with Pre-cxx11 ABI and c++11 ABI, it is also necessary that we have the PyTorch package with both the Pre-cxx11 ABI and c++11 ABI.

cc @ezyang

[2019-09-03 09:13] richard-vogl commented on #4107
definitely not lack of memory since there is more than enough memory available on the cards I used.
but I originally thought that it is somehow related to matrix size, see https://github.com/pytorch/pytorch/issues/4107#issuecomment-512336351

but as you can also see from the update/edit - it seems to be related more to the shape of the tensor than its size...
if someone wants to debug this and is

[2019-09-03 09:17] machine52vision opened #25577 "transforms.Resize(())"
## 🐛 Bug
transforms.Resize(()) is based python image library(PIL)，But PIL's resize and opencv's resize results are inconsistent,Experiments show that there are bugs in resize of PIL.

[2019-09-03 10:52] LIANGXINKAI commented on #19106
I also get the same problem. DO YOU ALREADY SETTLE IT?

[2019-09-03 11:30] peterjc123 commented on #19106
This is because the cpu jit fuser is diabled on Windows. I'll figure it out during free time.

[2019-09-03 11:47] troyliu0105 commented on #18520
same problem when using apex O1 config. But okay with O2

[2019-09-03 12:20] luanyunteng commented on #25173
I just reinstall it again, and the error is fixed. However, I do not know why.

[2019-09-03 12:21] theo-m commented on #25399
Hi, some follow up:

I made some changes to `nn/__init__.pyi` but I can't build from source, hence I can't test locally and I wouldn't push a PR without having tried something.
I'm encoutering issues that I describe in [this comment](https://github.com/pytorch/pytorch/issues/24831#issuecomment-526536609).
I couldn't get an answer there, maybe you can help?

[2019-09-03 12:28] peterjc123 commented on #25173
Maybe it's just something wrong about the cache. Closing it.

[2019-09-03 12:28] #25173 closed

[2019-09-03 12:32] LIANGXINKAI commented on #19106
look forward your work

[2019-09-03 13:00] richard-vock commented on #24157
Can confirm the same issue with tutorial code as well as custom model.
Verbose output looks fine, graph does not load with console error in chromium:

    (index):24242 Uncaught (in promise) TypeError: Cannot read property 'node' of null
        at (index):24242
        at arrayEach ((index):13920)
        at Function.forEach ((index):14082)
        at B.buildSubhierarchy ((index):24242)
        a

[2019-09-03 13:12] ezyang commented on #25537
`THCTensorIndex.cu:189: block: [50,0,0], thread: [127,0,0] Assertion `dstIndex < dstAddDimSize` failed.` looks relevant.

Are you doing an indexing operation somewhere in your program? (You didn't run this example with `CUDA_LAUNCH_BLOCKING=1` so the backtraces are too late--if you rerun with this envvar you'll get better back traces). If so, can you check that your indices are all in bounds?

[2019-09-03 13:22] ezyang commented on #24859
Hmm... I wonder if a build from source on WS 2008 would be OK. But that doesn't sound promising :(

[2019-09-03 13:23] ezyang commented on #24831
@theo-m Yours looks like a different issue, please file a new bug.

[2019-09-03 13:27] Wuziyi616 commented on #25537
Yeah, I also came across this error yesterday and it turned out to be "index out of range" error. Maybe you should check your index via pdb and make sure they're not out of range. Hope it will help you!

[2019-09-03 13:28] theo-m opened #25580 "Build from source on MacOS fails"
## 🐛 Bug

Closely following build instructions from the README yields build failures on MacOS.

## To Reproduce

- `conda create -n torch-source python=3.6`
- `source activate torch-source`
- `conda install numpy ninja pyyaml mkl mkl-include setuptools cmake cffi typing -y`

Then this build script of mine (again following the Readme):

[code]

[code]

(Truncated) stacktrace:
[code]

[2019-09-03 13:34] ezyang commented on #25399
If you're pretty sure your PR is fine, you can just push and let CI do its thing. Not too sure about your build error; maybe you can uninstall google protobuf from your system and try again.

[2019-09-03 13:42] theo-m commented on #25399
Well that's the thing I'm not too sure of my changes.

1. the `.pyi` file imports `Parameter`, my understanding is that if I were to type it I'd have to remove that initial line, but not sure, would like to test.
2. Ideally I'd like the typing of `Parameter` to inherit what's been done in the root `.pyi.in` file for the `Tensor` class since `Parameter` is a child of the latter. I can't do that sin

[2019-09-03 13:43] dyl0101 opened #25581 "NVIDIA driver's version is not match."
## ❓ Questions and Help

###
NVIDIA driver's version:384.130
cuda version:10.0
python:3.6
The following error occurred while running the program：
AssertionError:
The NVIDIA driver on your system is too old (found version 9000).
Please update your GPU driver by downloading and installing a new
version from the URL: http://www.nvidia.com/Download/index.aspx
Alternatively, go to: https://pytorch.org

[2019-09-03 13:44] pbelevich commented on #25580
@theo-m please post more log lines(at least 300-400) before final error message.

[2019-09-03 13:55] theo-m commented on #25580
Here are the last 500 lines:
[code]

[2019-09-03 13:59] pbelevich commented on #25577
@machine52vision please provide more information about the issue and steps to reproduce

[2019-09-03 14:02] peterjc123 commented on #24859
@ezyang No need to test this, it's probably related to the TDR settings.

[2019-09-03 14:11] ersaijun commented on #574
problem:
from torch._C import *
ImportError: No module named 'torch._C'

environment：
3.5.6 |Anaconda, Inc.| (default, Aug 26 2018, 16:05:27) [MSC v.1900 64 bit (AMD64)]

solve：
I reinstall torch by pip3 ,then it works.

pip3 install torch==1.2.0+cpu torchvision==0.4.0+cpu -f https://download.pytorch.org/whl/torch_stable.html

[2019-09-03 14:17] pbelevich commented on #25572
We appreciate your interest in PyTorch. I'm closing this issue, because it's not a bug report, feature request, or documentation mistake. Please use https://discuss.pytorch.org/ for such questions.

[2019-09-03 14:17] #25572 closed

[2019-09-03 14:23] digantamisra98 opened #25584 "Adding Mish Activation Function"
I released Mish activation function a couple of weeks ago and it has a significant improvement in performance over ReLU, Swish and other commonly used activation functions. Full details along with the paper link provided in my repository here - https://github.com/digantamisra98/Mish
Mish was also used along with Ranger Optimizer to beat 12 records on the Fast.ai ImageNette and ImageWoof benchmarks

[2019-09-03 14:48] ezyang commented on #25399
In general, you should replicate the module import structure of the original py files, which definitionally don't have a cycle. It's possible we messed up some imports in the pyi files; in that case, you'd have to fix it.

[2019-09-03 15:21] pbelevich commented on #25551
We appreciate your interest in PyTorch. Please use https://discuss.pytorch.org/ for such questions.

[2019-09-03 15:21] #25551 closed

[2019-09-03 15:28] pbelevich commented on #25546
@robert780612 thank you for the explanation. I'm closing the issue, @CappuccinoMocha feel free to reopen if you have any questions.

[2019-09-03 15:28] #25546 closed

[2019-09-03 15:33] pbelevich commented on #25533
@lk1983823 please provide steps to reproduce

[2019-09-03 15:54] pietern commented on #17882
@pritamdamania87 Yep, sounds good.

[2019-09-03 16:00] triple-tam commented on #7792
For me, I tried to load the html link for the pip cuda 8.0 build, but the html page was blank. On Mozilla, I right-clicked "view page source" and then the .whl links appeared!

[2019-09-03 16:06] #25463 closed

[2019-09-03 16:08] #25427 closed

[2019-09-03 16:12] vainaijr opened #25587 "automatic transition to 'cuda' if available"
## 🚀 Feature

transfer tensor to GPU, if available without having to do `to('cuda')`
## Motivation

Errors such as -

RuntimeError: Input type (torch.cuda.FloatTensor) and weight type (torch.FloatTensor) should be the same

RuntimeError: Expected object of backend CPU but got backend CUDA

## Pitch

## Alternatives

## Additional context

[2019-09-03 16:19] psinger commented on #18626
Supporting this.

[2019-09-03 16:31] #7416 closed

[2019-09-03 16:38] #12309 closed

[2019-09-03 17:36] pbelevich opened #25590 "Replace "NVIDIA driver" with "CUDA Toolkit" in _check_driver() error messages"
[_check_driver()](https://github.com/pytorch/pytorch/blob/b22adeb0074f57c501422a6f44c5e0ad6f1c4adb/torch/cuda/__init__.py#L90) uses a term "NVIDIA driver" instead of "CUDA" and confuses users.

NVIDIA driver is obviously NVIDIA video card driver, which has versions like 384.130
CUDA Toolkit has versions like 9.0 and represented as 9000 in int values.

The error message confuses users:

And should

[2019-09-03 17:39] pbelevich commented on #25581
This error message is misleading, because 9000 is actually CUDA version 9.0 which is detected on your system(maybe it's installed after CUDA 10.0?). I suggest you to uninstall/reinstall CUDA to have only one version on your system or to download PyTorch compiled with CUDA 9.0

[2019-09-03 17:43] pbelevich commented on #25581
I created [an issue](https://github.com/pytorch/pytorch/issues/25590) to fix the error message, but I don't see any other problems in this behavior, that's why I'm closing this issue. Feel free to reopen it if you have any questions.

[2019-09-03 17:49] ezyang commented on #21821
Comments from @skrah:

[2019-09-03 17:49] yxjiang opened #25591 "IValue pickle does not work properly if an empty tensor table is not provided"
## 🐛 Bug
According to the description for the torch::jit::pickle API, the parameter tensor_table is optional. If not provided, the tensors are expected to be stored in the same byte stream as the pickle data. See https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/pickle.h#L9-L39.

However, if we only pass IValue without an empty tensor_table. The program will throw exception:

[code]

#

[2019-09-03 17:57] ezyang commented on #25393
I got some sort of similar-ish error persistently on a test branch:

[code]

[2019-09-03 18:02] dashesy commented on #25510
Even though I seems I can pass `List[Tensor]` but I cannot get the individual tensors in it:

[code]

This is the list input

Lack of support for `List[Tensor]` is very limiting, even if other values are not supported, this is the only way to overcome lack of `*args` arguments in jit script

[2019-09-03 18:07] dashesy commented on #25362
It seems even though `List[Tensor]` inputs do have a `prim::ListConstruct` support, I cannot index them and thus cannot use the inputs (resulting in `__getitem__` throwing)

[2019-09-03 18:08] driazati commented on #25591
Loading for pickle's without a tensor table isn't implemented yet. The `jit::pickle` and `jit::unpickle` were also kind of confounded with `torch::save` and `torch::load`, so once #25502 and #25109 are done (both works in progress), `torch::save` should be considered the blessed way to serialize `IValue`s from C++ rather than `jit::pickle` and likewise for `unpickle` and `load`

[2019-09-03 18:14] pbelevich commented on #25587
The system works as designed, we don't move tensors between devices implicitly. It's a breaking compatibility changes so we are not going to do this.

[2019-09-03 18:14] #25587 closed

[2019-09-03 18:16] ezyang commented on #25393
Not that persistently; a PR stacked on the failing one succeeded. So there is something nondeterministic going on here.

[2019-09-03 18:16] #25360 closed

[2019-09-03 18:24] pbelevich commented on #25515
Maybe a duplicate of #22906

[2019-09-03 18:34] hadaev8 commented on #24991
@andreaskoepf
Are you gonna PR it?

[2019-09-03 18:34] NekuSakuraba commented on #25571
Hello!

I tried to understand and reproduce the problem.
Actually, I don't know if it's a problem because you passed weights, so it gave to us a weighted average.

The first observation had a weight of 6 and the second one had 4,
so (5.6390 + 4.9593)/(6+4) = 1.0598.

[2019-09-03 18:48] smessmer commented on #25393
another instance: CI on https://github.com/pytorch/pytorch/pull/23888

[2019-09-03 18:53] #22124 closed

[2019-09-03 20:19] pbelevich commented on #21700
I have the same issue when I use [llvm linker](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#use-a-faster-linker) and DEBUG=0 or unset for dynamic linkage. 100% reproducible on devgpu and devfair.
[code]

[2019-09-03 20:22] pbelevich commented on #21700
I had to switch back from LLD 8.0.0 to GNU ld version 2.27-34.base.el7

[2019-09-03 20:40] glungu opened #25600 "Win10, No CUDA: ImportError: DLL load failed: The specified module could not be found."
## 🐛 Bug

After successful installation of pytorch and torchvision, importing torchvision produces the following error:
ImportError: DLL load failed: The specified module could not be found.

## To Reproduce

Steps to reproduce the behavior:

1. Create virtual environment: `python -m venv xxx` and activate it
1. Install pytorch as prescribed: `pip install https://download.pytorch.org/whl/cpu/torch

[2019-09-03 20:53] ezyang opened #25601 "Avoid non-POD data in thread_local"
I have heard that @jamesr66a ran benchmarks indicating that thread local access in PyTorch was quite slow. While most of the overhead is probably coming from the mandatory use of `_tls_getaddr()` which happens when you compile with `-fPIC`, a little bit of overhead is probably also coming from the extra wrapper code that has to be inserted if you put a non-POD data type in `thread_local`: https://

[2019-09-03 21:06] soumith commented on #25571
closing via Neku's comment

[2019-09-03 21:06] #25571 closed

[2019-09-03 21:08] soumith commented on #25590
it doesn't return the CUDA version. It returns "Returns the latest version of CUDA supported by the driver.".

If you have CUDA10 installed, but driver that only supports CUDA9, it will return `9000`

[2019-09-03 21:11] soumith commented on #25584
We don't think this method should be in pytorch core, as opposed to your own personal repository or something like https://github.com/pytorch/contrib , at least not yet in time.

Our reservation is that we want to include methods that the community uses as a standard, or else the code maintenance problem balloons up for us.
We do show discretion based on what the paper shows as evidence, for examp

[2019-09-03 21:11] #25584 closed

[2019-09-03 21:12] soumith commented on #25577
please reopen issue at https://github.com/pytorch/vision

[2019-09-03 21:12] #25577 closed

[2019-09-03 21:24] #24686 closed

[2019-09-03 21:24] #24738 closed

[2019-09-03 21:28] skrah commented on #21821
Yes, I just want to explain the "magically fixed" part as briefly as possible. I'm not working on `pytorch` this week so there may be some inaccuracies.

I could not replicate #21638 (i.e. the problematic test passed with cuda-memcheck and the stream tests re-enabled).

I'm not sure if @vishwakftw has taken extra steps to ensure stream safety in the `svd` port, but I didn't notice anything explici

[2019-09-03 21:29] dashesy opened #25603 "[ONNX] Exception when exporting jit script with `.max()` in the body"
## 🐛 Bug

[code]

## To Reproduce

Steps to reproduce the behavior:

Include this in a jit script
[code]

The indexing results in exception

## Expected behavior

No exception, support indexing in `torch.jit.script` when ONNX export

## Environment

PyTorch version: 1.2.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 16.04.6 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5

[2019-09-03 21:30] yxjiang commented on #25591
@driazati, thanks for the clarification. Do you mean in the future we will use torch::save(IValue ivalue) and IValue torch::load(const char* data, size_t size)?

I checked these two issues, seems for #25502 (https://github.com/pytorch/pytorch/pull/25502/files) there is **pickle_save(const torch::IValue& ivalue)** added and no **IValue pickle_load(const char* data)**.

For #25109, in serialize.h, i

[2019-09-03 21:32] vishwakftw commented on #21821
To echo @skrah, I didn't take care of any stream safety issues during the port, so just could have been the fact that multiple SVD calls were replaced by a single one.

[2019-09-03 21:38] vishwakftw commented on #25573
Related to https://github.com/pytorch/pytorch/issues/8212.

[2019-09-03 21:47] huzecong opened #25605 "Reference cycle in _LRScheduler"
## 🐛 Bug

## To Reproduce

In the following code introduced in version 1.2.0 by #20124, when constructing the `_LRScheduler`, the `step` method of `optimizer` is replaced with a new closure that captures the `optimizer` itself.

https://github.com/pytorch/pytorch/blob/9cb9f15989b08d71fcf0ad0ddda84299c0854c2d/torch/optim/lr_scheduler.py#L29-L40

This makes the optimizer reference itself, thus creat

[2019-09-03 22:23] mruberry commented on #21589
I enabled this flag on TestCUDA and TestNN in my branch with #8354 and the existing tests work fine. Ironically one of the tests I added fails (as expected) because it's doing something atypical, but I think there's a straightforward fix for that, too.

[2019-09-03 23:59] driazati commented on #25591
The API isn't finalized yet so the names may change, we could probably have a version of `torch::save/load` that takes in a function to write/read chunks of data from a stream (like the existing API for `jit::pickle`) in addition to the filename-based API. Does that work for your use case?

[2019-09-04 00:09] soumith commented on #25605
this is probably high-pri because holding on to memory is not good for training.
Also marking it for next release

[2019-09-04 00:35] #24403 closed

[2019-09-04 00:46] peterjc123 commented on #25600
Please try the following.
[code]

[2019-09-04 00:47] pbelevich commented on #2260
maybe a duplicate of #15864 ?

[2019-09-04 00:47] #24853 closed

[2019-09-04 01:03] pbelevich commented on #25590
@soumith thanks for the explanation

[2019-09-04 01:03] #25590 closed

[2019-09-04 01:05] pbelevich commented on #25581
After discussion in #25590 I'd suggest to update graphic card driver as well, because 384.130 seems 1.5 year old

[2019-09-04 01:14] ezyang commented on #25605
@huzecong This is a nice catch. Do you think you could submit a Pr for this?

[2019-09-04 01:30] novioleo commented on #2260
@pbelevich this issue proposed in 2017

[2019-09-04 01:37] AshkanAliabadi opened #25621 "Move QNNPACK micro kernels under ATen"
## 🚀 Feature

Move QNNPACK micro kernels under ATen.

## Motivation

The initial motivation for this move was born out of an observation in a performance study that revealed Lenet and XRayMobileV3 could benefit from caching qnnpack_create calls.  In caffe2 the cached state is stored as part of the qnnp_operator handle, but in PyTorch we currently create this handle for each operator invocation.

[2019-09-04 01:38] crystalwan commented on #25548
Yes, I build and inference on the same machine. I inference 10 times with the same input data, then compute the average cost time.
As you say, I calculate the inference time every cycle.I found that the inference speed at the first is slower, and then it will be as fast as the libtoch offered by officially. But the first inference speed by the libtorch offered by officially （24fps）is faster than t

[2019-09-04 02:09] schen119 commented on #22259
I have the same issue. My cuda version:10.0, driver version: 410.70 with torch 1.2.0

[2019-09-04 02:12] huzecong commented on #25605
@ezyang Sure, I can do that. But I'm wondering what would be the ideal implementation? Comments in #20124 suggest that the current code for detecting calls to `optim.step` may be missing a few cases.

[2019-09-04 02:54] LIANGXINKAI commented on #23004
Can u share the experience how to settle the problem?

[2019-09-04 02:55] peterjc123 commented on #24859
@ezyang Is it possible to get a Win7 AMI on EC2?

[2019-09-04 03:07] LJXLJXLJX commented on #23004
@LIANGXINKAI  I have not solved this problem.

[2019-09-04 03:08] Anjum48 opened #25627 "FasterRCNN and MaskRCNN doesn't work with DataParallel or DistributedDataParallel"
## 🐛 Bug

FasterRCNN and MaskRCNN doesn't work with DataParallel or DistributedDataParallel

## To Reproduce

Steps to reproduce the behavior:

1. Open the `PennFudanDataset` Colab example from the tutorial
2. Switch to local runtime on a machine with more than 1 GPU
3. Add `model = torch.nn.parallel.DataParallel(model)` after `model.to(device)` in cell 11
4. Set batch size > number of GPUs

[code

[2019-09-04 03:10] veritas9872 commented on #2260
However, it was re-opened only yesterday...

[2019-09-04 03:11] LIANGXINKAI commented on #19106
How can I use the “[WIP] Enable CPU fused kernel on Windows #25578”
 ? Is there fixed release libtorch for windows?

[2019-09-04 03:44] mayurnewase commented on #25571
I did not understand your calculation.
Formula for crossentropy with weights from docs is
`loss(x,class)=weight[class][−log( exp(x[class]) / ∑exp(x[j]) )]`
so in this case i think it should be
`a = 6 * (-np.log(np.exp(0.5) / ∑exp(x[j])))
b = 4 * (-np.log(np.exp(0.2) / ∑exp(x[j])))`
**reduction: sum**
`a+b`
**reduction:mean**
`a+b/2`
sum is correct here,mean is not

[2019-09-04 03:48] wangyexiang commented on #24460
Can you please provide instructions to build pytorch using mingw/cygwin on windows? @peterjc123

[2019-09-04 04:12] peterjc123 commented on #24460
There's no instruction available and it is very likely this path is broken. You'll have to try it by yourselves. I may give you guys some advice/hints but I won't actually do it.
Reasons:
1. It's time-consuming to maintain another compiler stack on Windows.
2. It's limited to be used on the CPU.
3. Make the building process pass maybe not so difficult, but making tests pass is rather complicated.

[2019-09-04 04:46] yang-song commented on #7500
It would be great if batched `pinverse` can be added.

[2019-09-04 05:42] chenzhekl opened #25635 "[C++] Support negative index in `torch::TensorAccessor::size()`"
## 🚀 Feature

Add support for negative indices in `torch::TensorAccessorBase::size()` and `torch::PackedTensorAccessorBase::size()`

## Motivation

Negative indices are widely used in LibTorch. For example, `torch::Tensor::size()` have proper support for index like `-1`. It would be great if `torch::TensorAccessor::size()` and `torch::PackedTensorAccessor::size()` could have such supports as well.

[2019-09-04 05:50] #17882 closed

[2019-09-04 06:05] veritas9872 commented on #2260
I would like to mention again, however, that the code is already available in https://github.com/open-mmlab/mmdetection/tree/master/mmdet/ops/dcn and that all we need do is copy-paste it and maybe add some backward-compatibility.
I would be most grateful if someone with the proper authorization would take up this task.

[2019-09-04 06:22] donydchen commented on #7425
Hi @soumith , thanks for your solution. Using your amended code fix the bug.

But I'm curious about the reason. The main difference between your code and the original post's is the way of tensor initialization. It looks like both ways are normal and correct ways to create tensor on CUDA device.

So what really causes the difference? Could you please kindly enlighten me? Thanks.

[2019-09-04 06:27] as754770178 opened #25636 "DataParallel error"
I use `DataParallel` that device_ids is [1, 2], but only gpu 1 is used.
[code]

[2019-09-04 06:29] suo commented on #25248
This flakiness is causing noise on my (and I assume everyone else's) PRs. @zafartahirov, @jerryzh168, can we disable the flaky tests ASAP while you investigate? We should not inflict known flakiness on everyone.

[2019-09-04 06:46] fmassa commented on #25627
It is expected that the model wobt work with DataParallel because the inputs to the model are different than what DataParallel expects. But it does work with DistributedDataParallel, for one example see the references/detection/train.py file in torchvision.

[2019-09-04 06:46] #25627 closed

[2019-09-04 06:58] Godricly opened #25637 "Unable to subscirpt self-defined class in torchscript function"
## 🐛 Bug
Unable to call \_\_getitem\_\_ of self defined class in torchscript function
## To Reproduce
[code]

## Expected behavior
[code]
## Environment
PyTorch version: 1.3.0.dev20190902
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 18.04.3 LTS
GCC version: (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0
CMake version: version 3.10.2

Python version: 3.6
Is CUDA available: Yes
CUDA ru

[2019-09-04 07:12] kohtala opened #25639 "Implement pep 503 Simple Repository API for deployment"
## 🚀 Feature
Add files to https://download.pytorch.org/whl/ to implement [PEP 503](https://www.python.org/dev/peps/pep-0503/) for `pip --extra-index-url` and for pipenv Pipfile extra source urls.

## Motivation

pipenv install using package configuration like `torch = {file = "https://download.pytorch.org/whl/cu100/torch-1.1.0-cp36-cp36m-linux_x86_64.whl"}` fails with hash mismatch. I guess the pr

[2019-09-04 07:14] as754770178 commented on #25636
In test, I set batch_size=1. I forget to revert.

[2019-09-04 07:20] glungu commented on #25600
This did help indeed.
Thank you very much for quick response.

[2019-09-04 07:20] #25600 closed

[2019-09-04 07:43] WUhailing opened #25640 "torch.rfft segfaults with CPU, but works with GPU"
## 🐛 Bug

torch.rfft does not work with CPU

## To Reproduce

Steps to reproduce the behavior:

1. use example from docs: help(torch.rfft)
2. test torch.rfft on PyTorch 1.0 and 1.2,  return same segfaults info
3. test torch.fft with CPU and GPU, everything is fine

       torch.Size([5, 3, 2])

       Segmentation fault (core dumped)

## Expected behavior

 help find the root cause and fix the bug

[2019-09-04 07:48] meiluzhu opened #25641 "[distributed] all_gather on a List of Tensors directly"
## 🚀 Feature
Now, latest pytorch version only gather or reduce the single tensor from different nodes a time. So we need use a loop to aggregate all tensors of the model on different nodes. if my understanding is not wrong, it needs much communication time and is very time-consuming, so I want to know whether there are ways to gather the tensor list (or gather all the tensors of a model) a time, n

[2019-09-04 08:13] madsbk commented on #24912
@heiner, could you try to run `nvprof python simpleembed.py`and post the profiling output?

[2019-09-04 08:18] Anjum48 commented on #25627
I am getting the same size mismatch error (same code but not run in Colab) with DistributedDataParallel as per the train.py example

[2019-09-04 08:33] vikramjit-sidhu commented on #24900
@vishwakftw You're right, in my case that was the problem.

[2019-09-04 09:13] kaonick commented on #19106
My case:
C++ Operation Time(s) 8.87875s
Python Operation Time(s) 2.6850814819335938s
in windows10,CPU.

[2019-09-04 09:38] zhiheLu opened #25642 "The gradient changes after concatenating in pytorch"
## Issue description

I found after concatenated the gradient of the input is different. Could you help me find why? Many thanks in advance.

## Code example
[code]

But when I compute the gradients by hand, the results are as follows:
[code]

- PyTorch:
- PyTorch version: '1.2.0'
- Python version: '3.7.4'

[2019-09-04 09:44] BynaryCobweb commented on #17614
Training torchscript modules with the C++ frontend works fine for me, but it seems like it's impossible to switch between `train()` and `eval()` mode (eg. switch dropout/batch norm on and off) with the current API.

[2019-09-04 09:53] hiroaki-santo opened #25643 "Number of prefetch in DataLoader"
I can see that ``DataLoader`` prefetch ``2 * num_workers`` data in:

https://github.com/pytorch/pytorch/blob/4fe857187c8ccdb911667f3bd3c4fbd5b228c286/torch/utils/data/dataloader.py#L708

https://github.com/pytorch/pytorch/blob/791347642b637ca5769998f5d95f597cb8f81d18/torch/utils/data/dataloader.py#L824

Is there any reason to limit this number?

[2019-09-04 10:05] BynaryCobweb opened #25644 ""Using PyTorch C++ Frontend" TorchModule generator architecture is erroneous"
## 📚 Documentation

I followed the DCGAN tutorial on the page ["Using the PyTorch C++ Frontend"](https://pytorch.org/tutorials/advanced/cpp_frontend.html).

Instead of using the sequential version of the generator I used the TorchModule one, and I realized that the two do not match. Additionally, the TorchModule version of the generator does not work with the discriminator.

Here is the sequential

[2019-09-04 10:25] peterjc123 commented on #19106
@LIANGXINKAI It's not finished yet. This issue will be closed when it's ready.

[2019-09-04 10:26] lr91-089 commented on #25537
@ezyang I did run this example with CUDA_LAUNCH_BLOCKING=1. Its the second output above. I have put os.environ['CUDA_LAUNCH_BLOCKING'] = "1" in the code, that is correct right?

@Wuziyi616 could you please provide me more information about pdb debugging?
I basically pass values to the network, I want to investigate, right? And could you give me more information about what kind of index error? Mayb

[2019-09-04 11:19] Nikronic commented on #25523
Hi,
I have run the code in my environment and I cannot reproduce the issue.

My env:
[code]

[2019-09-04 11:34] yash1994 opened #25645 "Normalization transformation with multi-processing results in error"
## 🐛 Bug

I have a task in which I have to vectorize lots of images for that purpose I am using multi-processing process pool to open the image from the file path and apply transformation (Resize, ToTensor, Normalize) and return image tensor. If I remove normalization transformation then everything runs smoothly.

## To Reproduce

[code]

## Error Trace Stack

[code]

## Environment

 - PyTorch Ve

[2019-09-04 11:44] yash1994 commented on #25645
Sorry, my bad, the issue was with 'RGBA' image mode. Closing issue.

[2019-09-04 11:44] #25645 closed

[2019-09-04 12:16] ezyang commented on #25548
My guess is that CUDA is JIT compiling PTX on your first run for your source build, because the PTX hadn't been built. However, normally, if you build on the same machine as the GPU you're going to run on, autodetection will figure out the correct arch to build PTX for. Is it possible for you to post your full cmake build log?

[2019-09-04 12:16] ezyang commented on #22259
Bumping priority because of user activity

[2019-09-04 12:18] ezyang commented on #25605
It's probably better to fix the reference cycle first, and handle the comment on the PR separately. The comment does seem like a reasonable thing to also fix, so if you want to roll them together in one PR, that'd be fine by me too.

[2019-09-04 13:26] soumith commented on #25644
cc: @jlin27 @ShahriarSS @yf225 for fixing this

[2019-09-04 13:26] soumith commented on #25643
it is because making this larger means you eat a lot of memory. Caching 2 mini-batches upfront seemed sufficient as a default.

[2019-09-04 13:26] #25643 closed

[2019-09-04 13:27] soumith commented on #25642
please use https://discuss.pytorch.org for questions

[2019-09-04 13:27] #25642 closed

[2019-09-04 13:29] NekuSakuraba commented on #25571
Since you passed the weights, the mean should be a weighted mean.

Let's say...
`a = (-np.log(np.exp(0.5) / ∑exp(x[j])))`
`b = (-np.log(np.exp(0.2) / ∑exp(x[j])))`

Then...
**sum**
`6*a + 4*b`
**mean**
`(6*a + 4*b)/(6+4)`

[2019-09-04 13:29] soumith commented on #25636
please use https://discuss.pytorch.org for questions

[2019-09-04 13:29] #25636 closed

[2019-09-04 13:37] ezyang commented on #24859
https://www.quora.com/Can-we-launch-a-Windows-7-instance-on-AWS-If-so-what%E2%80%99s-the-whole-process seems to imply it's not possible. You'll probably have to VirtualBox it or something :/

[2019-09-04 13:38] ezyang commented on #25537
@lr91-089 I actually think this does not actually work. Can you set the environment variable outside of the script?

[2019-09-04 13:49] hiroaki-santo commented on #25643
You say "as a default", but it is hardcoded and I feel it is not easy to just change it by inheritance. Especially, do we need the assertion?
But anyway, if the limitation is only from the size of memory, I can change the size.
Thank you.

[2019-09-04 13:52] yxjiang commented on #25591
@driazati, yeah, name does not matter. It would be great as long as there are two APIs that can convert between IValue and bytes, e.g. **char * foo(IValue val)** and **IValue bar(const char* bytes)**.

BTW, is there an estimated timeline for this feature? We can plan on our side accordingly.

[2019-09-04 14:30] mylofty opened #25646 "libtorch forward memory leak"
when I input arbitrary size to my network, the memory will increase all the time。but when i fix my input on 224 * 224, the memory will not increase!
I have tried export my network using torch.jit.script and torch.jit.trace. this problem always exist !
by the way, I use libtorch1.1

[2019-09-04 14:43] vincentqb commented on #20124
The change was introduced in #7889, and documented in #20203.

[2019-09-04 15:03] imaluengo opened #25648 "Torch.jit.trace unexpected error with `torch.cat(…, dim=-1)`"
Find below a Minimum Reproducible Example that crashes both in Pytorch 1.1 and Pytorch 1.2 with CUDA (it works with CPU).

[code]

Surprisingly the above works with CPU backend but not with CUDA backend. It also works when `torch.cat(..., dim=1)` but crashes with a negative dimension refering to the same one `torch.cat(..., dim=-1)`.

Find the jit.trace error below (not very explanatory):
[code]

[2019-09-04 15:11] lr91-089 commented on #25537
Any ways to set it up in anaconda on windwos?

CUDA_LAUNCH_BLOCKING=1 python myscript.py does not work and did not find any other method than the os method.

[2019-09-04 15:15] yf225 commented on #25460
@jinfagang Thanks for the information and it's very helpful. I am wondering have you tried adding the current dir to `LD_LIBRARY_PATH` so that it can be searched first?

[2019-09-04 15:29] yf225 commented on #25460
@jinfagang We can do the following to let the built libs not link with absolute path:
Step 1: Install patchelf from source
[code]
Step 2: Patch all *.so files in lib/ using the following:
[code]
Step 3: Use `ldd file_name.so` to check that the linkage is right.

[2019-09-04 15:43] pietern commented on #25492
We don't do any automated clang-format today, right? Do you mean clang-tidy?

[2019-09-04 15:43] jinfagang commented on #25460
@yf225  Thank u so much for such a solution!! I will try it.

[2019-09-04 16:02] chenzhekl commented on #25640
Probably it’s related to this according to the documentation of rfft

[2019-09-04 16:09] WUhailing commented on #25640
Ya, I did check the docs and test that MKL is installed. Problem is I cannot find any source code of rfft to check if something does not work inside. :(

come from dingtalk mailbox------------------------------------------------------------------
Sender:Zhe Chen<notifications@github.com>
Date:2019/09/05 00:03:44
Recipient:pytorch/pytorch<pytorch@noreply.github.com>
Cc:WUhailing<hailing@smartahc.co

[2019-09-04 16:44] suo commented on #25637
Thanks for the report! @eellison, can you look? I thought we got magic methods for class types wired up

[2019-09-04 16:55] ezyang commented on #25537
Yes, the last trace looks better. What's the full contents of the line at line 338?

[2019-09-04 16:55] ezyang commented on #25492
Yes you're right

[2019-09-04 17:00] fmassa commented on #25627
You should run the code as follows:

[code]
and you should have things working as expected.

[2019-09-04 17:09] gottbrath commented on #23657
@suo I don't think I've heard "freezing" as a stage in our desired JIT workflow but I can see how knowing that the weights are constant could allow optimizations that wouldn't be possible otherwise. What are your thoughts on this topic?

[2019-09-04 17:18] lr91-089 commented on #25537
Do you mean the tensors? This is the last output.

[code]
Got a new error message this time:
[code]

[2019-09-04 17:33] ptrblck commented on #24018
We ran some tests with different setups and could isolate the issue and failing cublas version.

This bug was solved in cublas `10.2.0.186`.
The latest public version of cublas is `10.2.1.243` that was released with CUDA 10.1 Update 2.

@yuribd Could you update CUDA to this version, build PyTorch from source, and try to run the code again?

If this issue comes up often, we might want to build the

[2019-09-04 17:39] dashesy commented on #25508
It also seems the exported module (with while loop) is not correct!

[2019-09-04 17:41] ailzhang commented on #25581
Yea I think the current error message is clear that it suggested `Please update your GPU driver by downloading and installing a new version from the URL: http://www.nvidia.com/Download/index.aspx
Alternatively, go to: https://pytorch.org to install a PyTorch version that has been compiled with your version of the CUDA driver.` Closing the issue for now, please feel free to reopen if this doesn't r

[2019-09-04 17:41] #25581 closed

[2019-09-04 17:42] pengyu965 commented on #3022
I have this issue with both CPU and GPU, which means rebooting happens even when I physically uninstall the GPU and only train the network on CPU **without** using dataloader

My power supply is EVGA 850w gold power supply, and CPU: i7-8700k, GPU: GTX 1080ti (just 1 piece)

And I have a ECO switch on my power supply, if I switch it to "on", it happens more often.

Just like what others said, the p

[2019-09-04 17:45] ailzhang commented on #25635
Personally I think is useful to get cpp frontend match python behavior.

[2019-09-04 17:47] Chillee commented on #25648
The cause of this error is similar to https://github.com/pytorch/pytorch/issues/25135

[2019-09-04 17:50] ailzhang commented on #25644
I removed high pri label and added this to 1.3 milestone instead.

[2019-09-04 17:51] ailzhang commented on #25646
Hi @mylofty , would you mind give a minimal example for us to repro? Thanks!

[2019-09-04 17:52] gchanan commented on #25523
can you try on version 1.2?

[2019-09-04 17:56] ailzhang commented on #25640
@WUhailing Hmm I cannot reproduce this on master, would you mind try installing from source and see if that works?

[2019-09-04 17:57] yf225 commented on #25635
@chenzhekl Thanks! Please let us know if you are interested in contributing to this feature.

[2019-09-04 18:01] huzecong commented on #25605
I think I'll fix the cycle & the problem mentioned in that issue thread together. Should probably take a day or two.

[2019-09-04 18:55] mnauf opened #25659 "Cuda out of Memory"
[code]
I am working on the Horses vs humans dataset. [This is my code](https://github.com/mnauf/horses_humans/blob/master/Untitled.ipynb). I am using `criterion = nn.BCEWithLogitsLoss()` and `optimizer = optim.RMSprop(model.parameters(), lr=0.01)`. My final layer is `self.fc2 = nn.Linear(512, 1)`, because i read that if its horse, our last neuron should display 0 and in other case 1, so instead of

[2019-09-04 18:59] simonhollis opened #25661 "finfo operator not bound into JIT"
## 🐛 Bug

When calling torch.jit.script() on code using torch.finfo, a Runtime Error is generated with:
`Unknown builtin op: aten::finfo.`

## To Reproduce

Steps to reproduce the behavior:

1. Use `torch.finfo(torch.float32).eps` in an expression in a forward() function
1. Tag forward() with `@torch.jit.script`
1. Run model

    class Foo(torch.autograd.Function):
    @torch.jit.script
... in scr

[2019-09-04 19:13] ezyang commented on #25537
Sorry, not the tensor, I mean the code.

[code]

looks like an indexing operation. Though maybe `PRINT_OPTS` is just a plain old number?

[2019-09-04 19:15] ezyang commented on #25639
When I wrote up #23656 I was not aware `provides-dist`. It sounds like a good choice; better than local version identifiers, which are not actually very good for what we are using them for. @soumith, do you have any experience with this flag?

[2019-09-04 19:16] mnauf opened #25663 "ValueError: Target size (torch.Size([16])) must be the same as input size (torch.Size([16, 1]))"
[code]
I am working on the Horses vs humans dataset. [This is my code](https://github.com/mnauf/horses_humans/blob/master/Untitled.ipynb). I am using `criterion = nn.BCEWithLogitsLoss()` and `optimizer = optim.RMSprop(model.parameters(), lr=0.01`). My final layer is `self.fc2 = nn.Linear(512, 1)`,. Out last neuron, will output 1 for horse and 0 for human, right? or should I choose 2 neurons for ou

[2019-09-04 19:19] mnauf commented on #25659
I reduced the batch size to 16 and this error was solved.

[2019-09-04 19:23] hartb commented on #25172
For me the failure occurs only in the `sing` case of the test, where `random_square_matrix_of_rank()` is called to construct a matrix with rank < size // 2. Those input matrices have the vanishingly-small determinants and the test failure is then either:

- small difference in _very small_ det() => gross difference in logdet() & slogdet()
- _very small_ det() calculated as 0 on one platform vs ver

[2019-09-04 19:23] #24000 closed

[2019-09-04 19:28] vishwakftw commented on #25172
I can understand the point of failure - thank you @hartb for the detailed analysis! I will look into resolving the issue as soon as possible, and this might include rewriting the random_square_matrix_of_rank function.

[2019-09-04 19:29] yuribd commented on #24018
Many thanks @ptrblck !!

[2019-09-04 19:32] vishwakftw commented on #25663
Please provide information about the environment where you see this error using the environment collection script.

[2019-09-04 19:37] ailzhang commented on #25659
@mnauf I'd suggest using `torch.cuda.memory_allocated(device=None)` to check which part takes more memory that expected.
I'll close this issue for now, please feel free to reopen if you think OOM is a bug on Pytorch side.

[2019-09-04 19:37] #25659 closed

[2019-09-04 19:37] mnauf commented on #25663
@vishwakftw
Collecting environment information...
PyTorch version: 1.0.0
Is debug build: No
CUDA used to build PyTorch: 9.0

OS: Microsoft Windows 10 Home
GCC version: (MinGW.org GCC-6.3.0-1) 6.3.0
CMake version: Could not collect

Python version: 3.7
Is CUDA available: Yes
CUDA runtime version: 10.1.168
GPU models and configuration: GPU 0: GeForce GTX 960M
Nvidia driver version: 425.25
cuDNN vers

[2019-09-04 19:43] pritamdamania87 commented on #25532
What is the use case for this? Is this mostly for testing/debugging purposes?

[2019-09-04 20:03] mrshenli commented on #25532
@pritamdamania87 Yes, testing/debugging is one use case. Another use case would be creating an `OwnerRRef` as the return value of a local UDF execution, and share the RRef with others. Without `dist.remote` call to self, it has to wait until the UDF finishes and then wrap it with an RRef.

[2019-09-04 20:09] cpuhrsch commented on #24422
Created module: nestedtensor

[2019-09-04 20:11] cpuhrsch commented on #25310
Yes, NestedTensors are supposed to replace PackedSequence

[2019-09-04 20:13] mrshenli commented on #25641
@jfc4050 added `all_reduce` a list of CPU tensors in #24949. Under the hood, it flattens all input tensors into one tensor, and allreduces that in one shot. To `all_gather` a list of tensors, you can do something similar in Python: cat/stack input tensors into one tensors, `all_gather` that big tensor, and then extract smaller tensors from that big tensor.

[2019-09-04 20:19] mrshenli commented on #25552
I'd vote for option 1: adding an error checking in DDP constructor to make it explicit.

[2019-09-04 20:54] jakubLangr commented on #25523
This is fascinating. @Nikronic I will try again with python 3.6, I think that was an option. I will try to convince our sys admin to also update cuDNN version, as you seem to be using a significantly newer version.

@gchanan I could try but the code I am running has a dependency on torch 1.1.0 or earlier at the moment.

Will post an update tomorrow.

[2019-09-04 20:58] ezyang commented on #24422
@cpuhrsch subscribe yourself to it?

[2019-09-04 21:03] soumith commented on #25663
please use https://discuss.pytorch.org for questions

[2019-09-04 21:03] #25663 closed

[2019-09-04 21:09] soumith commented on #25639
`provides-dist` actually sounds great, I didn't know about the existence of this flag either. This overall proposal sounds nice.

@kohtala are you offering to take up this work, or should we take it up?

[2019-09-04 21:15] soumith commented on #23657
@dzhulgakov and I have talked quite a bit about "freezing". It was a topic especially for MKL-DNN packing. Without user-marking code that a weight is locked / frozen, I don't think we have a way to do this across iterations (i.e. we separate the pointers given as inputs from the graph, so we have no guarantees on the pointers corresponding to the same Tensor, or even the same data)

[2019-09-04 21:27] vincentqb opened #25669 "fatal error: 'string.h' file not found"
## 🐛 Bug

Compilation error:

[code]

## To Reproduce

Steps to reproduce the behavior:

[code]

## Environment

PyTorch version: N/A
Is debug build: N/A
CUDA used to build PyTorch: N/A

OS: Mac OSX 10.14.5
GCC version: Could not collect
CMake version: version 3.14.0

Python version: 3.7
Is CUDA available: N/A
CUDA runtime version: Could not collect
GPU models and configuration: Could not collect

[2019-09-04 22:02] soumith commented on #25514
@cannon have you considered using `DistributedDataParallel` even for single machine multi-gpu case? In that case, you just need to all reduce once, instead of the `DataParallel` model which does get more complicated. We even have SyncBatchNorm implemented for the DistributedDataParallel case: https://pytorch.org/docs/stable/nn.html?highlight=syncbatchnorm#torch.nn.SyncBatchNorm

[2019-09-04 22:09] lr91-089 commented on #25537
Yes sorry, the second or new error message was just because I wrote the tensors to the csv files for tracing the error/result.
[code]

[2019-09-04 22:27] gchanan commented on #25669
why is this labeled caffe2?

[2019-09-04 22:29] vincentqb commented on #25669
The paths with errors link to caffe2. I'll remove the tag anyway based on your question.

[2019-09-04 22:38] vincentqb commented on #25669
As recommended by @zou3519, this works:
[code]
I had experimented with CUDA on mac a couple of days ago, so the explicit `NO_CUDA=1` removed the link to it.

[2019-09-04 22:38] #25669 closed

[2019-09-04 22:40] ptrblck commented on #24018
I'm not aware of the current plans to update the CUDA version for the binaries, but @soumith might know.

[2019-09-04 22:42] driazati commented on #23594
This should be fixed on master and has a more informative error now as well

[2019-09-04 22:42] #23594 closed

[2019-09-05 00:04] ZolotukhinM commented on #23657
@soumith @dzhulgakov, how about we perform the MKLDNN conversion as a module to module transformation? In this transform we would create a copy of the original module with all weights packed appropriately and all ops rewritten to mkldnn counterparts?

[2019-09-05 01:08] dyl0101 commented on #25581
I tried to install a new version of the graphics driver yesterday.But when I trained my program, I made the following new mistakes:
RuntimeError: cuda runtime error (10) : invalid device ordinal at /pytorch/aten/src/THC/THCGeneral.cpp:50
Besides, my tensorflow-based program can't run on GPU.

[2019-09-05 01:13] soumith commented on #23657
@ZolotukhinM here's sample code that will fail with program transform:

[code]

[2019-09-05 01:13] soumith commented on #24018
hope to move to 10.1 by next release.

[2019-09-05 01:25] pritamdamania87 commented on #23110
Had a question regarding this part of RRef:

If the RPC caller fails to notify the owner of the RRef about the new fork (lets say due to intermittent network issues). Isn't the callee now running an RPC with an RRef fork that is not valid? Also, the owner might actually delete the RRef since it didn't receive the new fork_id and basically the RRef could be deleted while the callee is still running

[2019-09-05 01:26] rbrigden opened #25681 "[ONNX] dynamic_axes incorrect validation"
## 🐛 Bug

Exporting ONNX model with dynamic axes complains on validation that the input/output names are not specified when they currently are.

## To Reproduce

Steps to reproduce the behavior:

Attempt to export any model with dynamic axes feature.

[code]

Output: `Provided key input for dynamic axes is not a valid input/output name
`

## Expected behavior

The specified parameters are expected

[2019-09-05 01:27] crystalwan commented on #25548
Is this file "pytorch/build/CMakeFiles/CMakeOutput.log"?
[CMakeOutput.log](https://github.com/pytorch/pytorch/files/3577067/CMakeOutput.log)

[2019-09-05 01:54] mylofty commented on #25646
this is an example for my question. the virtual and real memory will increase all the time
`
// test.cpp
#include "torch/script.h"
#include <torch/csrc/autograd/grad_mode.h>
#include <opencv2/opencv.hpp>
#include <vector>
#include <string>

int main(int argc, char const *argv[])
{
	torch::NoGradGuard no_grad;
	std::string _modelPath = "retinaface_trace.25.pt";
	torch::jit::script::Module _module =

[2019-09-05 01:55] mylofty commented on #25646
this is an example for my question. the virtual and real memory will increase all the time
[code]

![image](https://user-images.githubusercontent.com/12760424/64305521-3b7a8100-cfc2-11e9-9a56-af360adbdc25.png)

my model is A RPN network， which can got in https://github.com/bogireddytejareddy/retinaface-pytorch/blob/master/retinaface.py

[2019-09-05 01:57] mylofty commented on #25646
@ailzhang  this is an example for my question. the virtual and real memory will increase all the time
[code]

![image](https://user-images.githubusercontent.com/12760424/64305521-3b7a8100-cfc2-11e9-9a56-af360adbdc25.png)

my model is A rpn network， which can got in https://github.com/bogireddytejareddy/retinaface-pytorch/blob/master/retinaface.py

[2019-09-05 02:03] ZolotukhinM commented on #23657
I would expect it to be slightly different:
[code]
Do you think it's still confusing?

[2019-09-05 02:13] pukkinming commented on #18153
Normalizing before applying cosface loss helps too for my situation.

[2019-09-05 02:21] Godricly opened #25682 "JIT tracing class wrapped variable fails"
## 🐛 Bug
If a tensor is wrapped in class, the tracing fails.
## To Reproduce
Run the script.
## Demo code
[code]
## Expected behavior
[code]
## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:

[2019-09-05 02:22] mylofty commented on #25646
I have upload my model to github. https://github.com/mylofty/learning_notes/tree/master/deeplearning/question
I find the memory used by libtorch are influenced by the number of input size

[2019-09-05 02:48] fnando1995 opened #25683 "GPU Inference Multithread problem"
Hello,

I've been working with a Yolov3 Pytorch Implementation. Quite impresive the Inference time in GPU. But, i need to process simultaneously (multithreads) videos.

I design a simply main file which select some videos and send them to be processed by a function

[code]

Lets say that VIDEOS_LIST is a list of list of 3 internal lists:

[code]

So each thread will "generate_dets" with the videos

[2019-09-05 02:50] fnando1995 commented on #17797
quite the same at #25683

[2019-09-05 03:02] HobbitLong opened #25684 "Missing pip install wheels from the PyTorch official website"
## 📚 Documentation

I am not sure this should be named as doc issue, but I cannot find better.

The installation website https://pytorch.org/get-started/previous-versions/ points us to CUDA8.0 and CUDA9.0 wheels for pip install. But it's empty there:
https://download.pytorch.org/whl/cu80/torch_stable.html
https://download.pytorch.org/whl/cu90/torch_stable.html

[2019-09-05 03:12] CaoZhongZ commented on #23657
Yes, we expect user to explicitly specify which 'params' are constants otherwise there is no safe way we could pre-pack weight for inference. Although we required this feature from MKL-DNN’s perspective however cuDNN would also benefit from it when cudnnReorderFilterAndBias call is possible after user guaranteed they won’t change weight and bias.

[2019-09-05 03:37] soumith commented on #23657
that's not confusing, that's what we need to figure out, a locking / unlocking API

[2019-09-05 03:37] peterjc123 commented on #24859
@ezyang Okay, I just tested the binary on WS 2012 R2, it seems it is working fine and the CUDA tests passed. It makes wondering what is the difference between the CUDA_win10_setup.exe and CUDA_win_setup.exe. Someone mentioned that there's something related to WDDM, but if that's true, how can we use these libraries on a different OS.

[2019-09-05 03:38] soumith commented on #25683
please use https://discuss.pytorch.org for questions

[2019-09-05 03:38] #25683 closed

[2019-09-05 04:18] Anjum48 commented on #25627
Thanks! I've finally got it to work :)

I'm no expert on this but I think I found a few issues with the `train.py` example after studying the [documentation](https://github.com/pytorch/pytorch/blob/master/torch/distributed/launch.py) for `torch.distributed.launch` as some of the `args` used are not set anywhere as far as I can tell.

For example:
-  `args.gpu` should be `args.local_rank`
- `device

[2019-09-05 04:24] XSeanLiu commented on #25515
Same

[2019-09-05 04:24] #25515 closed

[2019-09-05 04:38] meiluzhu commented on #25641
@mrshenli  Thanks you very much.

[2019-09-05 05:05] lapolonio opened #25688 "Torch 1.1.0.post2 doesn’t contain “manylinux” wheel files. Who can push them?"
## 🐛 Bug

According to https://pypi.org/project/torch/1.1.0.post2/#files
The manylinux versions don't exist for the different python versions.

## To Reproduce

Steps to reproduce the behavior:

1. Compare:
https://pypi.org/project/torch/1.1.0/#files
https://pypi.org/project/torch/1.1.0.post2/#files

## Expected behavior

The manylinux versions will exist for 1.1.0.post2

[2019-09-05 05:25] Immocat commented on #19106
@peterjc123 have the same issue. I'd appreciate if you could fix it.

[2019-09-05 05:45] jeasinema commented on #4126
@soumith  Congrats! Time to cite the NeurIPS'19 paper now? https://neurips.cc/Conferences/2019/AcceptedPapersInitial

[2019-09-05 06:04] yezhejack opened #25690 "Dropout behaves differently on different devices"
I have two machines. One has a P100 and another has 4 K80s.
I found the following code output differently on the two machines.
It means seeding doesn't make the output of dropout reproducible on different devices.
Is it by design?
If we can not make the output reproducible on different devices, it may be a trouble of comparing different models.
[code]
The output of P100 machine is always
`
tensor(

[2019-09-05 06:21] fmassa commented on #25627
We don't need `args.local_rank` because of the `use_env` argument from launch that I pasted just before.
Same thing for the comment on device

[2019-09-05 06:22] vadimkantorov opened #25691 "[dataloader] Hang because of too many open files (and probably some process dead)"
After many hours of training I got this. After this the training process is hung (maybe during running the finalizers). I imagine some workers are killed, and the main process somehow can't detect that.

Unfortunately the backtrace isn't very easy to parse.

[code]

[2019-09-05 06:42] Godricly commented on #25637
a little update with this. It works in following way.
[code]
@eellison Can you also check this one please?

[2019-09-05 07:13] KleinXin commented on #22906
change the upsampling mode to 'nearest' can solve this problem
'bilinear' interpolation will be supported in the newer version as mentioned [here](https://github.com/pytorch/pytorch/pull/24805)

[2019-09-05 07:47] IamSunGuangzhi opened #25692 "When load same model twice， happen error"
## 🐛 Bug
When using `torch::jit::load` to load the same model twice one time, i find a error:
[code]
## To Reproduce
Steps to reproduce the behavior:
1.torch::jit::script::Module model1 = torch::jit::load("model1.pt")
2.torch::jit::script::Module model2 = torch::jit::load("model2.pt")
model1.pt same as model2.pt
## Expected behavior
I want get model1  and model2 .

## Environment
 - PyTorch Versio

[2019-09-05 08:13] TomHeaven opened #25693 "Pytorch 1.2.0 produce `unspecified launch failure` on Mac OS using CUDA."
## 🐛 Bug

The same OS and hardware run Pytorch 1.1.0 fairly well, but encounter this bug using Pytorch 1.2.0. Binary pytorch packages for Mac OS with CUDA support are available at: https://github.com/TomHeaven/pytorch-osx-build/releases.

## To Reproduce

Steps to reproduce the behavior:
Simply run the following demo code in console:
[code]

The stack trace looks like this:
[code]

## Environment

[2019-09-05 08:16] zzhuolun commented on #25684
You can use command line to download the wheels:

to see the content of the URL
`$ curl https://download.pytorch.org/whl/cu90/torch_stable.html`

e.g. download torch-1.1.0-cp36-cp36m-linux_x86_64.whl
`wget https://download.pytorch.org/whl/cu90/torch-1.1.0-cp36-cp36m-linux_x86_64.whl`

[2019-09-05 08:23] #25692 closed

[2019-09-05 08:49] eduidl opened #25694 "No type hints on nn.Identity"
## 🐛 Bug

Mypy fails on simple calls on `nn.Identity`

## To Reproduce

Steps to reproduce the behavior:

1. `pipenv --python 3.6`
1. `pipenv shell`
1. `pip install torch==1.2.0 mypy==0.720`
1. `mypy --strict test.py`

[code]
This yields:

[code]

## Expected behavior

Type check should pass like `from torch.nn import Linear`.

## Environment

Please copy and paste the output from our
[environment

[2019-09-05 09:06] yuribd commented on #24018
Many thanks, @ptrblck  and @soumith!
Sorry, last question on this subject - and what's the ETA for next release?

[2019-09-05 09:08] jinfagang commented on #25460
This method does not work.

I convert link path to libtorch lib folder:

[code]

It's still have some link issues.

BTW, what I am wonder, how does official libtorch able to genereates libs that does not link with absolute path?

[2019-09-05 09:20] johncwok commented on #25310
Nested tensors would be a great idea ! I hope they will be available soon.

[2019-09-05 09:51] jakubLangr commented on #25523
Okay, so under `python3.6` and `torch 1.2.0` this operations succeeds on the same machine. No cuDNN update. There must be something about the combination that messes the system up.

[2019-09-05 09:51] #25523 closed

[2019-09-05 10:19] agiokas-dbg commented on #16559
I am getting the same issue, at random internals.
- ubuntu 18.04
- python 3.6.8
- pytorch 1.2.0
- Driver Version: 418.87.00
- CUDA Version: 10.1
- libcudnn.so.7.6.3
It seems to be related to threading/workers IMHO, because I have a custom Dataloader, which when I use concurrent futures or threads (or forks) I get this error. The one instance where I run a single thread which loads images from disk

[2019-09-05 10:22] VitaMusic opened #25698 "PyTorch C++ API : VS2017 and Intel v19 and Windows 7 x64 compilation problem"
## 🐛 Bug

https://discuss.pytorch.org/t/vector-subscript-out-of-range-and-other-errors-with-intel-c/55156

## To Reproduce

Steps to reproduce the behavior: VS2017 + Intel v19 compilers + libtorch

[code]

-------------------------------------------------------------
## Expected behavior

- Working VS runtime for DEBUG mode, compatibility with Multi-threaded Debug DLL (/MD)
- Compiling with Intel

[2019-09-05 10:30] VitaMusic opened #25699 "PyTorch C++ API as a static lib: how to compile ?"
## ❓ Questions and Help

this questions is linked to the bug described in the issue https://github.com/pytorch/pytorch/issues/25698

I'd like to have instructions on how to compile PyTorch C++ API (libtorch project) as a statical library to link with my C++ projects :

- for Linux, Windows and MacOS
- with the last Intel compilers if possible
- mode with and witout GPU support (CPU vs GPU),  with

[2019-09-05 11:21] kgizdov commented on #23573
I've got this
[code]
and I still see the error

[2019-09-05 11:22] jinfagang commented on #25699
Better using dynamic lib.

[2019-09-05 11:22] jinfagang opened #25702 "Build from master only got pytorch1.1.0"
Just clone master branch of pytorch, after build, it's still pytorch1.1.0

[2019-09-05 11:25] VitaMusic commented on #25699
Why?

чт, 5 Сен 2019 г., 13:23 JinTian <notifications@github.com>:

[2019-09-05 11:47] chenzhekl commented on #25635
@yf225 Sure, I would like to work on it. :)

[2019-09-05 12:23] HobbitLong commented on #25684
Thanks @zzhuolun. Solved!

[2019-09-05 12:23] #25684 closed

[2019-09-05 13:00] hartb commented on #25172
Thank you @vishwakftw; we'll watch for a change to land.  And thanks really to @branfosj for pointing out that the determinants were very small. That was the key.

[2019-09-05 13:03] mnauf opened #25704 "Loss is not converging in pytorch, but does in tensorflow"
[code]
My loss is not converging. I am working on Horses vs humans dataset. There is an [official notebook](https://colab.research.google.com/github/lmoroney/dlaicourse/blob/master/Course%201%20-%20Part%208%20-%20Lesson%202%20-%20Notebook.ipynb) in tensorflow for that and it worked like a charm. When I am trying to replicate the same with pytorch, loss is not converging.

I am using `criterion = n

[2019-09-05 13:10] yuanjunchai commented on #958
This problem may be caused by the huge size of validation dataset, you could select a small dataset and then test by input the huge dataset.

[2019-09-05 13:23] jsboer opened #25705 "install from source with -mcmodel=medium meet error:inconsistent operand constraints in an 'asm'"
## 🐛 Bug
I compile pytorch from source,and meet the error :

[code]
i fond it might be the memory limit ,so i set c flag -mcmodel=medium,however i meet error again:
[code]
after google i found it may be with medium model some register are used in X64,so what should i do?more specification about error before and after setting mcmodel=medium are in the attached txt,please help me,thank you!

## To R

[2019-09-05 13:28] agiokas-dbg commented on #16559
Furthermore proof that this is thread-related (at least in my case) is that when I try the following:

[code]

The above is part of my custom dataloader procedure.
The below is the actual load iteration

[code]

This behaviour is triggered. I would assume that the thread context copying the tensors is having synchronisation issues? As soon as the above code is removed and executed only within the

[2019-09-05 13:43] soumith commented on #25704
please use https://discuss.pytorch.org for questions

[2019-09-05 13:43] #25704 closed

[2019-09-05 13:45] ezyang commented on #9064
This is still applicable, though the failure isn't always a segfault:

[code]

https://circleci.com/gh/pytorch/pytorch/2674906?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-09-05 13:56] soumith commented on #25395
Answered here: https://github.com/pytorch/pytorch/issues/25584

[2019-09-05 13:56] #25395 closed

[2019-09-05 14:02] soumith commented on #25691
wonder if changing to file system strategy can help.
basically your process is running against file handle limits...

[2019-09-05 14:03] soumith commented on #25690
we dont guarantee that the RNG outputs the same sequence across different GPU models.

The guarantees of RNG are in https://pytorch.org/docs/stable/notes/randomness.html?highlight=deterministic

[2019-09-05 14:03] #25690 closed

[2019-09-05 14:06] soumith commented on #4126
@jeasinema thanks, we are still in progress of writing some more papers, as there are a lot of subsystems and authors since the 0.4 release that are not covered in that paper.

[2019-09-05 14:07] soumith commented on #25688
post2 was only released for osx, as a build number bump (because we botched the build number 1 binaries on OSX). one should just have the constraint `1.1.0` and pypi will resolve it to either 1.1.0 or 1.1.0.post2 appropriately

[2019-09-05 14:07] #25688 closed

[2019-09-05 14:10] ezyang commented on #25537
Yeah, I don't know why the trace isn't showing up. You should manually audit your code looking for indexing operations.

[2019-09-05 14:23] ezyang opened #25706 "toDense is misdocumented as a method on sparse tensors"
https://pytorch.org/docs/stable/sparse.html#torch.sparse.FloatTensor.toDense

It's not toDense, it's `to_dense`

[2019-09-05 14:24] yezhejack commented on #25690
Is it possible to make the RNG output same sequence across different GPU. The performance (metrics) of my generation model may change more than 20% on different GPUs.

[2019-09-05 14:25] soumith commented on #25699
libtorch has download links on pytorch.org that look like this:

[code]

You can replaced "shared" with "static" and get URLs like this:

[code]

They exist, we generate them. I just dont remember if they work properly, but they do pass some smoke tests.

[2019-09-05 14:25] #25699 closed

[2019-09-05 14:25] soumith commented on #25702
No: https://github.com/pytorch/pytorch/blob/master/setup.py#L261

[2019-09-05 14:25] #25702 closed

[2019-09-05 14:37] mayurnewase commented on #25571
Oh gotcha...
Thanks

[2019-09-05 14:43] ezyang commented on #25548
It doesn't look like this has the relevant info. I'm interested in what cmake prints to stdout/stderr when it runs.

[2019-09-05 14:43] peterjc123 commented on #25698
FYI, below are the answers to your questions
(1.) The debug binaries are separate from the release ones. As you can see from pytorch.org, there are two download links for LibTorch on Windows.
(2.a) It is not a big problem, just because some unsupported c++11/14 functions get used in https://github.com/pytorch/pytorch/blob/master/c10/util/Deprecated.h#L34-L83. You may need to make some code changes