[2020-10-19 18:56] mcarilli commented on #40497
@pomelyu Can you post the exact layer/input sizes that caused a problem?  Maybe there's an op I need to wrap.

[2020-10-19 19:04] aneeshnema opened #46546 "torch.matmul does not work for complex numbers"
## 🐛 Bug

I was trying to implement torch.nn.Linear for complex numbers by reusing the source of torch.nn.Linear and making changes in it.  On giving my new layer input, it throws a RuntimeError.
On further investigations, it seems that it was complex matrix multiplication is not supported.

## To Reproduce
#### Short version:
[code]

[code]

#### Long version (what I was trying to do):
[code]

[c

[2020-10-19 19:15] pritamdamania87 commented on #46491
@froody Could you confirm this is working for PyTorch >= 1.7? If so, we can close this out.

[2020-10-19 19:19] kkoehncke commented on #45746
Ah okay great, thanks!

[2020-10-19 19:24] wanchaol opened #46549 "[jit] Support module dict operations when called inside ignore function"
Some bugs underlying is causing the moduledict behave weird in `ignore` functions:

[code]

errors out like below
[code]

cc @gmagogsfm

[2020-10-19 19:27] #46380 closed

[2020-10-19 19:30] pritamdamania87 opened #46554 "[RFC] RemoteDevice Format"
# Motivation

The goal is to finalize the string format of how we plan to address RemoteDevices, this proposal doesn’t cover the full RemoteDevice proposal and only focusses on what the format should be for the string representation. This would help in unblocking some of our work for RemoteModule.

# Proposal

[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqche

[2020-10-19 19:30] wanchaol opened #46555 "[jit] Support `named_parameters` in TorchScript"
We support it in C++ Script::Module

https://github.com/pytorch/pytorch/blob/ccd9f3244babe972b87bd1f0ec43aade9ac54d49/torch/csrc/jit/api/module.h#L161

This is added in https://github.com/pytorch/pytorch/pull/28828

but it only works in the cpp_module (module._c) and didn't propagate well into python, I think it's because there're still some api difference with the [module.py's one](https://github

[2020-10-19 19:33] suo commented on #45592
Link to release branch PR: https://github.com/pytorch/pytorch/pull/46556
Link to master PR: https://github.com/pytorch/pytorch/pull/46556
Criteria category: fixes test breakage when built with BUILD_TEST=0 (which the RC builds do)

[2020-10-19 19:55] IvanYashchuk opened #46557 "torch.inverse based on cuSOLVER does not raise error for singular input"
## 🐛 Bug

The cuSOLVER path in `torch.inverse` seems not to raise an error for non-invertible input.

## To Reproduce

Single matrix and 2xNxN batched input inversion is based on cuSOLVER
[code]
General batched input case is based on MAGMA
[code]

## Expected behavior

`torch.inverse` should raise an error for singular input when input is single matrix or a batch of matrices with batch size less o

[2020-10-19 20:00] AnthonyBarbier commented on #42444
I think that's the issue in my case: https://bisqwit.iki.fi/story/howto/openmp/#OpenmpAndFork

Calling model.half() before creating the DataLoader will spawn some omp threads to copy the tensors. Then the DataLoader will call fork to create a child process and it will hang when the child try to make use of OMP (Randperm or just another tensor copy)

[2020-10-19 20:02] vadimkantorov commented on #45009
These low-channel, low-batch-size, giant-spatial tensors would be frequent in signal/audio processing

[2020-10-19 20:03] mruberry commented on #44506
Some timing / prioritization info:

- This will probably take two half-days of collaborative work (me + someone from the JIT team to help parse the current JIT tests and develop the new ones)
- It is blocking the removal of method_tests
- After this change, the tests in method_tests will still need to be ported to use the OpInfo based approach
- To eliminate method_tests this quarter, this would p

[2020-10-19 20:09] mthrok commented on #46409
@SsnL Nothing happened with that change. Both `multiprocessing` and `torch.multiprocessing` worked fine.

@cpuhrsch Setting the start method to `"spawn"` seems to open a can of worms, I see a bunch of different errors. I will summarize it and get back.

[2020-10-19 20:33] froody opened #46559 "Exception raised in rpc_async context is silently handled"
## 🐛 Bug

If an exception is thrown inside a rpc_async context, it is just silently handled and execution continues. This is incredibly frustrating with multiple async calls, as I have to wrap the body of each in try-except in order to find the exception.

## To Reproduce

Steps to reproduce the behavior:

1. python [rpc_exception.py](https://gist.github.com/froody/e59c9d739e485f0de7f24656f9153a18

[2020-10-19 20:42] heitorschueroff commented on #18027
While working on torch.einsum here #46398 I came across the need for this as well. I added a case in my PR that reduces to torch.dot as it is significantly faster than torch.bmm, but with batched dot this optimization could apply to many more cases.

[2020-10-19 20:45] zasdfgbnm commented on #46187
Besides deciding on how PyTorch should behave, is it also a good idea to request a feature on python to support a new syntax like
[code]
and maybe also
[code]

This would make the bc concerning of pytorch easier, because if most users used
[code]
rather than
[code]
we can easily add a new return value without worrying about python side bc-breaking.

[2020-10-19 20:50] ngimel commented on #46187
@zasdfgbnm you can already do that as
[code]
That won't break if `some_op` starts to return more elements. But it's a less pleasant code.

[2020-10-19 21:07] mrshenli commented on #46559
Hey @froody, thanks for bringing this up. This is currently by design, and the error should be thrown when `wait()` is called on the return `Future` objects. Are you suggesting we should instead print the error when the response comes back to the sender, regardless what is running on the main thread at that time?

We did have a debate on the behavior, and one argument for the current behavior is t

[2020-10-19 21:09] kurtamohler commented on #42125
I ran the above uwsgi command, then in another terminal, I ran this command to debug the worker process:
[code]
The SIGINT command is necessary in order to avoid interfering with the SIGINT signals that uwsgi uses. After gdb connected, I did a CTRL+C on the uwsgi application. gdb caught two SIGINT's first, so I just ran `continue`. But then, it picked up a SIGSEGV:

<details closed>
<summary>Click

[2020-10-19 21:49] jlamypoirier opened #46561 "_group_count global variable corrupted on failed distributed process group initialisation"
## 🐛 Bug

On process group initialisation failure the global variable `torch.distributed.distributed_c10d._group_count` can be incremented by one even though no process group is created. This is because the counter is incremented at the beginning of `_new_process_group_helper` (https://github.com/pytorch/pytorch/blob/master/torch/distributed/distributed_c10d.py#L491) while the other global variabl

[2020-10-19 21:51] BramVanroy commented on #43300
@malfet So in other words, this issue will be fixed in 1.7?

[2020-10-19 21:53] vkuzo opened #46562 "fx quantization: nn.sequential not fuseable"
Running `torch.quantization.prepare_fx` on a toy nn.Sequential model fails.  From early inspection it looks like something in quantization creates a name which starts with a digit, which then violates an assumption in FX.

code:
[code]

trace:
[code]

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a @vkuzo

[2020-10-19 21:54] xwang233 commented on #46536
Related https://github.com/pytorch/pytorch/pull/45332

[2020-10-19 21:54] vkuzo commented on #46562
@jerryzh168 , would you be interested in taking a look? Otherwise I can.

[2020-10-19 21:54] spandantiwari commented on #43948
OK thanks for confirming @j-paulus . We have added this as a test case. Once we have a replacement/improved implementation of `_C._jit_pass_lower_graph` , we will update this thread.

[2020-10-19 21:54] malfet commented on #43300
@BramVanroy Yes

[2020-10-19 22:00] jerryzh168 commented on #46562
please go ahead, it takes some time to land my current PRs.

[2020-10-19 22:01] jamesr66a commented on #46430
That call to `is_leaf_module` is unrelated to `FloatFunctional`, it's actually from tracing the `activation_post_process` module. Calling methods on modules outside of the call syntax `m(*args, **kwargs)` syntax is not recorded in the trace

[2020-10-19 22:02] vkuzo commented on #46562
sg

[2020-10-19 22:03] eellison commented on #46187
As atrocious as the current script behavior is, the bit of effort put in to support this really was very little, and a long time ago. If more work was put into it the API would be a lot nicer.  Something like
[code]

[2020-10-19 22:04] jerryzh168 commented on #46430
`activation_post_process` is also an attribute of `FloatFunctional` I think: https://github.com/pytorch/pytorch/blob/master/torch/nn/quantized/modules/functional_modules.py#L36

Could you support this?

[2020-10-19 22:36] mrshenli opened #46564 "Clean up request_callback_no_python.cpp"
The comment in the code speaks for itself:

https://github.com/pytorch/pytorch/blob/30d687522d708fb3e4041e378d4f4ce420a86157/torch/csrc/distributed/rpc/request_callback_no_python.cpp#L234-L239

We can do this in two steps.

Step 1: extract the processing logic for each message type into a dedicated function. For example, similar to `processPythonCall`, we can have a `processScriptRemoteCall` for `

[2020-10-19 22:36] mrshenli commented on #46564
self-assigned to reserve this for onboarding.

[2020-10-19 23:49] Waasem commented on #46525
@ganeshbhargav : Thanks for your response. You are right about the model class definition Net(). But this is counter-intuitive in a sense that I want to use the saved model for inference at a system which does not know about the class definition. So how would I load a model for inference without knowing the class it was defined on? Moreover, my pipeline of code uses varying structures of models fo

[2020-10-20 00:14] Kipok commented on #46213
Any feedback on this proposal?

[2020-10-20 00:24] mariosasko commented on #46546
Hi,

it should work for complex numbers on cuda on master (for more details, see [this](https://github.com/pytorch/audio/issues/768)). If you can't wait for PyTorch 1.7, try the nightly build.

[2020-10-20 00:48] #46515 closed

[2020-10-20 01:27] GeoffreyChen777 commented on #46534
Rebuild GCC7.4 from source solved this error.

[2020-10-20 01:27] #46534 closed

[2020-10-20 01:47] #46392 closed

[2020-10-20 01:55] zhangguanheng66 commented on #46545
When writing the tutorial, we didn't have the JIT support for nn.Transformer. The JITable nn.Transformer is covered by the [CI test](https://github.com/pytorch/pytorch/blob/5b0f40048899e398d286fe7b55f297991f93ba2c/test/test_jit.py#L14368-L14404). I do a quick test and we don't need to generate the attention mask within the forward function. Actually, if you move the attention mask out of Transfome

[2020-10-20 02:07] lamhoangtung commented on #12873
Thanks @dhruvbird. It's great to know someone are working on this.
Since you mention using tracing to figure out used ops, I have some question for you:
1. Are scripted model (using TorchScript) running with LibTorch are being supported as well ?
2. Do you have a timeline yet ?
3. Are there anything that we can help to speed this amazing feature up?

[2020-10-20 02:45] gmagogsfm commented on #46375
Hi @tengerye,

I can't repro your segfault issue with latest PyTorch. Instead I got a clear error message detailing why TorchScript failed. Could you migrate to latest PyTorch (1.7) and try again?

This is the error I got:
[code]

[2020-10-20 03:33] yanz0920 commented on #46024
There are several possible points：
1. torch.backends.cudnn.benchmark = False
2. replace Adam to SGD

reference to https://www.learnopencv.com/ensuring-training-reproducibility-in-pytorch/
Good Luck！

[2020-10-20 04:54] shijianjian commented on #41412
Yes, 1.7.0. Sorry for the typo. Good to know that it will be supported in 1.8.0. Thank you!

[2020-10-20 04:58] ngimel commented on #46187
@ezyang, @ljk53 how can we use codegen to achieve behavior described above: "So we should probably still only have situations where torch.unique(Tensor) -> Tensor but then the moment you add the boolean flag it always returns a tuple"?
[code]
in native_functions.yaml or in C++ is ambiguous because bool args have default values, but we can't make `bar` or `baz` non-defaulted to remove that ambiguit

[2020-10-20 05:00] Coderx7 commented on #6381
@soumith has anything changed regarding your policy since roughly 2.5 years ago?

[2020-10-20 05:53] ljk53 commented on #46187
For eager binding, maybe something like this?
[code]

[2020-10-20 05:54] david-macleod commented on #35901
@jeffdaily the new allocator definitely fixes our fragmentation issue! We go from getting OOM when around only 45% of the total GPU memory allocated, to being able to utilize closer to 90-95%. Don't have definitive numbers on performance yet as I think there was an issue with flags used in our local PyTorch build, but will get back to you when I do.

[2020-10-20 05:57] psubhasc opened #46574 "Mismatch between the documentation and implementation of caffe2 PReLU operator"
The documentation provided for caffe2 PReLU operator in https://caffe2.ai/docs/operators-catalogue.html#prelu specifies that the input x to be of 1D tensor.
However, the implementation (https://github.com/pytorch/pytorch/blob/master/caffe2/operators/prelu_op.cc) does not specify any such restriction on the input x.

cc @jlin27 @mruberry

[2020-10-20 06:52] JP-Lisn commented on #43948
Same issue here too, went through a lil deep dive before I found this issue. My conclusion was that it appears that any torch module utilizing a register_buffer would not be supported by _C._jit_pass_lower_graph... my situation was also batchnorm... glad to see this is on the radar though!

@spandantiwari @suo, Thanks for the alternative route, I'll see if tracing works for this model.

[2020-10-20 07:23] linjiapro commented on #31690
@xwang233 @ngimel  thanks for investigating and fixing this. I am experiencing exactly the same issue. Do we have a plan to push the fix to 1.7 release branch?

[2020-10-20 09:20] TianzhongSong opened #46580 "Torch Script export issue"
## 🐛 Bug

Encountering `RuntimeError` with traced model when moving the model to another gpu.

## To Reproduce

Steps to reproduce the behavior:

1. Running follow codes on a multi-gpu machine

[code]

## Expected behavior

Error log:

`RuntimeError: Input and hidden tensors are not at the same device, found input tensor at cuda:1 and hidden tensor at cuda:0`

## Environment

Please copy and paste

[2020-10-20 09:26] zbh2047 opened #46581 "Pytorch does not call cuda kernel for custom cuda extension"
## 🐛 Bug

I write a simple custom cuda function using this tutorial: https://pytorch.org/tutorials/advanced/cpp_extension.html . However, when I call this cuda function, pytorch does not call cuda kernel, even if the corresponding cpp function is called.

## To Reproduce
The cuda file `kernel_cuda.cu`:
[code]
The cpp file `kernel.cpp`:
[code]
The setup file `setup.py`
[code]
The test file `run.py`

[2020-10-20 09:34] TianzhongSong commented on #46580
Same issue with follow codes:

[code]

Then I found follow codes in the saved model(test.pt):

[code]

Device has been fixed to `cuda:0`

[2020-10-20 09:59] InfiniteLife opened #46582 "Debug build fails on Windows"
## 🐛 Bug

Debug build fails on Windows platform.

## Expected behavior

Build pass

## Environment

 - PyTorch sources from master around a week ago
 - Windows 10
 - CUDA 10.1
 - v142 ( Visual Studio 2019)
 - Python 3.6.10:

## Additional context
Console last words:

[code]
Release build is passing without errors.

I'll attach cmake cache may be there is some relevant info.
I need this lib to only

[2020-10-20 10:40] MishinVD commented on #36323
@miccio-dk
Good day! could you share how did you implement backward function in your case.?

[2020-10-20 11:05] Zrealshadow opened #46583 "A Tiny Mistake in Demo code of SWA (Stochastic Weight Averaging)"
## 📚 Documentation

url: https://pytorch.org/docs/stable/optim.html#stochastic-weight-averaging
In Stochastic_Weight_Averaging / Putting_it_all_together chapter

The displayed demo code:

[code]

Mistake is In this line
[code]
should be  this
[code]

Just a Tiny mistake. QAQ

cc @jlin27 @mruberry @vincentqb

[2020-10-20 11:54] RoySadaka opened #46585 "padding_idx and provided weights in nn.Embedding and nn.functional.embedding"
**1)** nn.Embedding documentation says:

But, In case of using the `from_pretrained` version, if input is equal to padding_idx, weigths[padding_idx] gets returned and not a vector of zeros.

Code example for reproducing:
[code]
The 3rd vector in the result is not a zero vector.

This might be a documentation issue, and the doc should say that in case of using `from_pretrained`, padding_idx will no

[2020-10-20 12:51] manuelbaum commented on #42368
they would come in pretty handy because i am implementing a differentiable extended kalman filter. having batch jacobian computation in there would help with

1.) batch training the models in that filter, because here jacobian computation is actually part of the algorithm that i want to learn parameters for.
2.) e.g. for 6D EKF slam on a [D = 6 + 3*n_landmarks] dimensional state, the full state-tr

[2020-10-20 13:08] villmow commented on #20897
Why close this? Wouldn't `long` tensor matrix multiplication require more memory than `integer` matrix multiplication?

In my case memory is crucial and I know the content of my matrices, so I could savely multiply 2 `short` or `int` matrices to save memory, while the resulting matrix could remain the same datatype.

[2020-10-20 13:35] shlomi-amitai opened #46586 "pytorch to .onnx missing operator"
## 🚀 Feature

torch.ROLL
## Motivation
want to shift an array

gets the error :
RuntimeError: Exporting the operator roll to ONNX opset version 11 is not supported. Please open a bug to request ONNX export support for the missing operator.

## Alternatives

## Additional context
pytorch version 18.5

[2020-10-20 13:56] llv22 commented on #34451
@zw0610 so if we still stick to macOS 10.13 + Xcode 10.1, how can we work around for it? rollback to XNNPACK early version? or it's just a kind of no-go

[2020-10-20 14:00] frgfm commented on #34219
Since the documentation has been updated, and support has been extended at least in release `1.6.0`, I'm closing this issue. Feel free to reopen if you think I might have missed something!

[2020-10-20 14:00] #34219 closed

[2020-10-20 14:23] cuixing158 opened #46587 "conda install pytorch error?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.
envs: win10
cuda:10.2
cudnn: 8.0

when i  use `conda install pytorch torchvision cudatoolkit=10.2 -c pytorch` install pytorch, it get error? how to solve it ?
Collecting package metadata (repodata.json): failed

# >>>>>>>>>>>>>>>>>>>>>> ERROR REPORT <<<<<<<<<<<<<<<<<<<<<<

    Traceba

[2020-10-20 14:27] albanD opened #46588 "Update retain_grad message to be less confusing"
Update the error message [here](https://github.com/pytorch/pytorch/blob/1542c41a67b5ea8e533674b379f378e83d237806/torch/csrc/autograd/saved_variable.cpp#L106-L109) to mention that the previous "backward" can be from either a `.backward()` or `autograd.grad()` call.

"Specify retain_graph=True when calling .backward() or autograd.grad the first time."

cc @ezyang @albanD @zou3519 @gqchen @pearu @nik

[2020-10-20 14:43] ezyang commented on #6663
Most of the cited examples here look fixed:

[code]

Going to close this.

[2020-10-20 14:43] #6663 closed

[2020-10-20 14:43] frgfm commented on #39674
Hey everyone :wave:

Thanks a lot for all your thoughts on this topic!
I'm happy to work on a PR if we are all on the same page regarding the approach to take here. Here is my suggestion:

1. make `track_running_stats` a constructor argument only specifying whether running stats attributes should be initialized
2. create a dynamic flag `update_running_stats`: controls whether the buffer should be

[2020-10-20 14:44] ezyang commented on #6704
@avmgithub Do you know if this is still affecting you?

[2020-10-20 14:46] ezyang commented on #6705
Upstream reports this bug is fixed https://bugs.kde.org/show_bug.cgi?id=353370 so I'm gonna assume that you can get a recent enough version valgrind to work aroudn this problem

[2020-10-20 14:46] #6705 closed

[2020-10-20 14:46] ezyang commented on #6721
Closing as WONTFIX

[2020-10-20 14:46] #6721 closed

[2020-10-20 14:47] ezyang commented on #6739
closing as WONTFIX; uses the explicit `sizes` syntax if you need the inducitve case.

[2020-10-20 14:47] #6739 closed

[2020-10-20 14:47] #6750 closed

[2020-10-20 14:49] ezyang commented on #6767
This now raises a warning

[code]

[2020-10-20 14:49] #6767 closed

[2020-10-20 14:50] ezyang commented on #6767
Closing this in favor of https://github.com/pytorch/pytorch/issues/41027

[2020-10-20 14:51] ezyang commented on #6797
special case still exists at torch/csrc/jit/serialization/export.cpp

[2020-10-20 14:52] nlgranger commented on #46034
May I suggest editing the github issue template to mention this error? It is not obvious where the error is coming from when using pytorch so many users might be tempted to report it.

[2020-10-20 14:55] #46514 closed

[2020-10-20 15:07] ezyang commented on #46519
please see https://discuss.pytorch.org/t/how-to-do-advanced-indexing-with-libtorch/67181/3

[2020-10-20 15:07] #46519 closed

[2020-10-20 15:09] VitalyFedyunin commented on #46507
Hello! How do you time it? Are you sure that you are not counting coda context initialization time?

[2020-10-20 15:10] ezyang commented on #46522
Your original command is failing because it is picking up an ancient version of PyTorch. We don't generally support installing from source from PyPI. I recommend getting a source tarball and building from source for ARM.

Releng crew is CC'ed as this is effectively a feature request for aarch64 official binaries.

[2020-10-20 15:15] ezyang commented on #46527
I know peterjc123 has improved support for cpp extension in the past, but I am not sure why it is not working here. There should be a vcvars bat file that you can use to add MSVC to the PATH; trying running that before running your Python script.

[2020-10-20 15:15] RiverShi opened #46592 "caffe2_detectron_ops_gpu.dll makes import torch occur OSerror，[WinError 193] %1 is not a valid Win32 application"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. after installing pytorch from https://pytorch.org/ using pip, I try to import torch, but I get an OSerror [WinError 193] %1 is not a valid Win32 application, Error loading "e:\pythonenv\base38\lib\site-packages\torch\lib\caffe2_detectron_ops_gpu.dll" or one of its dependencies.

    it shows something wrong with caffe2_detectron_ops_g

[2020-10-20 15:31] ezyang commented on #46525
In that case you would look for something like TorchScript as a way of more hermetically exporting the entirety of your model. I suggest asking on the forums for more guidance here.

[2020-10-20 15:31] #46525 closed

[2020-10-20 15:32] VitalyFedyunin commented on #46529
Spawning workers takes time, more in Windows, less in unix based OS. You need to significantly increase number of samples to be more accurate.

Also you likely oversubscribing as each worker with use `torch.set_num_threads(int)` threads and multiplying it by number of workers can result of running more threads than your hardware can efficiently do.

[2020-10-20 15:32] miccio-dk commented on #36323
hey @MishinVD, see the code i was trying to get to work at https://github.com/pytorch/pytorch/issues/36323#issuecomment-671329543

I'm currently using the nightly build of pytorch, which implements a new `from torch.fft` module.
Therefore, the new code is:
[code]

Hope this helps.

[2020-10-20 15:36] mariosasko commented on #46585
Hi,

I agree a small note would help to clarify that if input is equal to `padding_idx`, `weigths[padding_idx]` gets returned and not a vector of zeros.

The names prefixed with an underscore are meant to be private (a convention) and it's fine to have them undocumented. To pass the user-defined weight matrix, use `nn.Embedding.from_pretrained(...)`. The `_weights` param are used internally for th

[2020-10-20 15:38] ezyang commented on #46581
This is almost certainly because your CUDA kernel is not written correctly. You can try debugging it out in the forums.

[2020-10-20 15:38] #46581 closed

[2020-10-20 15:39] ezyang commented on #46582
fwiw the log you posted isn't enough, the error is probably further up

[2020-10-20 15:48] peterjc123 commented on #46527
Are you sure you are using PyTorch 1.6.0? https://github.com/pytorch/pytorch/blob/v1.6.0/torch/utils/cpp_extension.py#L239 refers to a line with comments only.

[2020-10-20 15:48] InfiniteLife commented on #46582
You right! Seems like I just need to get python debug libs

`LINK : fatal error LNK1104: cannot open file 'python36_d.lib' [D:\dev\cpp_projects\pytorch\build\caffe2\torch\torch_python.vcxproj]`

[2020-10-20 15:55] peterjc123 commented on #44283
Nobody knows how to update XNNPACK in the confu-deps directory. So, I cannot go any further in #45830. But anyway, it works on Windows.

[2020-10-20 15:57] peterjc123 commented on #46582
Actually, the debug support for PyTorch is missing. But we do have the debug version of LibTorch.

[2020-10-20 16:03] peterjc123 commented on #46592
Not a problem if you don't use caffe2 or detectron.

BTW, the error "[WinError 193] %1 is not a valid Win32 application, Error loading "e:\pythonenv\base38\lib\site-packages\torch\lib\caffe2_detectron_ops_gpu.dll" or one of its dependencies." means that you have a conflicting DLL loaded while loading `caffe2_detectron_ops_gpu.dll`. As for as I know, it relies on `VCOMP140.DLL` and `LIBIOMP5MD.dll`

[2020-10-20 16:13] mrshenli commented on #46561
Hey @jlamypoirier

Thanks for reporting this. And thanks for the detailed analysis and submitting a fix!

[2020-10-20 16:14] mruberry commented on #20897
I edited the other issue to clarify the request is for integer matmul support.

[2020-10-20 16:38] InfiniteLife commented on #46582
Yeah, but it wont work with CUDA... I've opened issue about it here https://github.com/pytorch/pytorch/issues/46161

[2020-10-20 16:56] mruberry commented on #46468
Thanks for filing this issue, @bderrett. We would accept a PR adding this functionality as long as its performance impact was minimal and the code was easy to maintain.

[2020-10-20 17:07] wconstab commented on #24032
@wconstab move to PE board

[2020-10-20 17:08] RoySadaka commented on #46585
@mariosasko
thx for helping, I've updated the issue

[2020-10-20 17:10] Krovatkin commented on #24032
thanks @wconstab !!!

[2020-10-20 17:10] RiverShi commented on #46592
I find VCOMP140.dll in pythonenv\base38\Lib\site-packages\sklearn\.libs and  C:\windows\system32
LIBIOMP5MD.dll in  pythonenv\base38\Lib\site-packages\torch\lib

[2020-10-20 17:11] RiverShi commented on #46592
I find VCOMP140.dll in pythonenv\base38\Lib\site-packages\sklearn.libs and C:\windows\system32
LIBIOMP5MD.dll in pythonenv\base38\Lib\site-packages\torch\lib

[2020-10-20 17:14] wconstab commented on #46180
@Coderx7 Just wanted to follow up- if you'll be able to produce a simpler example for us to debug that'd help a lot!

[2020-10-20 17:17] ezyang commented on #27878
Context manager doesn't give you desirable behavior, as it will also affect library code that allocates tensors. A lot of the resistance against a global "set default device" API is because it will make it difficult for library authors to write code in a way that will work no matter what the default device is. A module-like torch context object bypasses this problem as the device defaulting is lex

[2020-10-20 17:17] wconstab commented on #36461
@theycallmefm Any chance you can share the model code?  If not, or regardless, can you confirm if the issue is still happening with the latest nightly builds? Thanks!

[2020-10-20 17:24] dzhulgakov opened #46597 "Suggestion: link individual APIs in docs with tutorials that use them"
## 📚 Documentation

It'd be pretty useful to link each function in pytorch docs to example usages of it in tutorials or in other curated sample stuff (e.g. maybe some TorchHub models or ipython notebooks). These links can be probably auto-generated if we run tutorials code with monkey-patched PyTorch that keeps track of which APIs has been invoked.

The inspiration from TF (see the "Used in" secti

[2020-10-20 17:29] wconstab commented on #46368
triage notes:
suspect inconsistencies with c++ resolver and py resolver, could enhance c++ resolver to support forked functions

[2020-10-20 17:36] wconstab commented on #46555
@wanchaol to add a repro and more details about possible fix

[2020-10-20 17:45] ezyang commented on #46187
@eellison A strategy where there is a Python wrapper over native functions is something I agree is plausible. What Natalia and I looked at was whether or not we could incorporate the literal signatures *directly* into `native_functions.yaml`. It seemed like a pretty huge task for not much payoff.

[2020-10-20 17:47] Coderx7 commented on #46180
@wconstab I'm on it! I have been training on a new model, the simplest model I could. I noticed during training there is no slow down whatso ever. so far. I'll update tomorrow when the training is finished. I'll see what changes we have

[2020-10-20 17:49] jamesr66a commented on #46430
Since `FloatFunctional` does not appear as a call target anywhere in the nodes, the `Module` that appears in its place in the `Module` hierarchy is notional and not actually an instance of `FloatFunctional`: https://github.com/pytorch/pytorch/blob/e6ed8879089c92edb6dd698980c4d7b353ee95e6/torch/fx/graph_module.py#L139

Discussed offline, the problem being solved (no-oping FloatFunction) can be done

[2020-10-20 17:52] ezyang commented on #3667
bumping priority based on user activity

[2020-10-20 17:55] wconstab commented on #46517
@ismymajia Could you help us out with a more detailed repro? it looks like only part of the relevant code is pasted.  If this pertains to an internal task/diff you could post the number here for the sake of clarity.

[2020-10-20 17:59] wconstab commented on #46580
@TianzhongSong This issue looks similar to one that was fixed after 1.6.0 release.  Could you confirm if you see the problem on the latest nightly build?

Also, there may be a workaround you can try, tracing the model with an input tensor on d0 and tracing it again with an input tensor on d1.  This is due to freezing the device information on input tensors when tracing.

[2020-10-20 18:00] msieb1 commented on #46507
Yes, I accounted for that. Feel free to try
[code]

[code]

[2020-10-20 18:03] ngimel commented on #46557
@IvanYashchuk is it because `info` is not checked for cuSolver (that would be an easy fix then), or because cuSolver just returns bogus results?

[2020-10-20 18:17] ngimel commented on #46507
Yeah, that's because for number of slices > 65K it's offloaded to naive implementation which launches O(65K) kernels https://github.com/pytorch/pytorch/blob/e6ed8879089c92edb6dd698980c4d7b353ee95e6/aten/src/THC/generic/THCTensorMode.cu#L210-L280. That can be fixed, easy workaround is to split your tensor into 65K slices and loop over them.

[2020-10-20 18:18] linjiapro commented on #31690
This is my temporary workaround for this issue.
There is a formula about how to calculate output size:
https://pytorch.org/docs/stable/generated/torch.nn.ConvTranspose2d.html

In real usage cases, the output size and input size are usually fixed, and we need to tune the padding, dilation, etc. We can set output_padding = 0, and design other parameters to make sure output size and input size is fit

[2020-10-20 18:25] IvanYashchuk commented on #46557
Taking a quick look at the code, `info` is being checked [here](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/BatchLinearAlgebraLib.cu#L120).
cuSOLVER correctly returns `info = 3` for this input (checked via CuPy).

[2020-10-20 18:40] #46483 closed

[2020-10-20 18:47] Buckeyes2019 opened #46602 "GPU memory does not clear with torch.cuda.empty_cache()"
## 🐛 Bug

**When I train a model the tensors get kept in GPU memory. The command torch.cuda.empty_cache() "releases all unused cached memory from PyTorch so that those can be used by other GPU applications" which is great, but how do you clear the used cache from the GPU?  Is the only way to delete the tensors being held in GPU memory one by one?  And if so, how do you do that?  Thanks!**

Note:

[2020-10-20 18:51] mrshenli commented on #46166
Hey @blizda, sorry that we missed this, does setting [`find_unused_parameters`](https://github.com/pytorch/pytorch/blob/master/torch/nn/parallel/distributed.py#L298) work for you?

[2020-10-20 18:52] hx89 opened #46604 "torch.concat doesn't raise an error in a quantized model"
## 🐛 Bug

I created a quantized model with torch.concat and it runs without requantization of the output whereas I believe it raised an error previously (bc the recommended route is to use FloatFunctional.cat so we can add activation observer)
It runs fine so what's the issue:
without the requantization, the scale and zero point of the output appears to be copied using just the first input (withou

[2020-10-20 18:55] mrshenli commented on #46166
What does `parameter_sharing` do?

[2020-10-20 19:08] lqf96 opened #46609 "Weird behavior of `Tensor.expand` under `torch.no_grad`"
## ❓ Questions and Help
Under PyTorch's no gradient mode, any tensor returned by operations shouldn't create a new or extend an existing computation graph (i.e. `requires_grad` should be false and `grad_fn` should be `None`). However, when using `Tensor.expand` this is clearly not the case. Consider the following code:

[code]

Although variable `c` is not attached to the computation graph that co

[2020-10-20 19:26] Jomonsugi commented on #32994
After running into this [issue](https://github.com/pytorch/pytorch/issues/38718) when using the argument `as_tuple` and converting to torchscript, I reverted to not using the argument as follows (nevermind that the code is nonsensical, it's just to show an example):

[code]
where I would have wanted to do something like the following to get away from the warning:
[code]

So in this case I can't us

[2020-10-20 19:55] avmgithub commented on #6704
@ezyang I'll close this for now. We'll re-open or create a new issue if necessary.  thanks.

[2020-10-20 19:55] #6704 closed

[2020-10-20 20:10] mruberry commented on #46496
Updating the documentation sounds great. We could also look at implementing torch.linalg.lu consistent with SciPy's in the future.

[2020-10-20 20:11] kwhkim opened #46611 "the part that explains TorchScript"
## 📚 Documentation

from the [TorchScript Tutorial](https://pytorch.org/tutorials/beginner/Intro_to_TorchScript_tutorial.html),

I found that the output from

`print(traced_cell.code)` and
`print(traced_cell.code)` are essentially the same, which are not meant to be from the text.

One output is from `torch.jit.trace` and the other is from `torch.jit.script`.

[code]
and

[code]

I do understand t

[2020-10-20 20:15] kiukchung commented on #46561
@jlamypoirier you mentioned that you run into this issue more frequently with "elastic" training. May I ask how you are running elastic training? Do you implement your own train loop or use a library like torchelastic (https://pytorch.org/elastic)?

[2020-10-20 20:31] aneeshnema commented on #46546
@mariosasko thanks, torch.matmul() works on the nightly build for both cpu and cuda.

As for creating a model that could work with complex numbers. My above implementation of ComplexLinear works, but for loss calculation while training, `torch.nn.functional.mse_loss` has not been implemented for ComplexFloat, for both cpu and cuda.

Interestingly, I defined my own mse_loss function
[code]
and  use

[2020-10-20 20:37] jlamypoirier commented on #46561
@kiukchung I am running a custom elastic training. The reason is that I am running in a highly variable cluster where nodes can be added or removed very often, and I need to minimise the downtime when it happens. `torchelastic` has too much downtime for my use case because it resets the workers for every change in the cluster.

[2020-10-20 20:56] vincentqb commented on #46409
Does setting the default non-spawn on python 3.8 also reproduce the error occurring on 3.6 and 3.7?

[2020-10-20 21:02] supriyar opened #46614 "prepare_fx doesn't work for nn.Sequential"
We are able to symbolically trace nn.Sequential but it throws an error during fusion in prepare_fx

To Repro
[code]

Throws the error
[code]

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a @vkuzo

[2020-10-20 21:09] xwang233 commented on #46557
https://github.com/pytorch/pytorch/blob/d75c402755af27c44c9f909dcc65e7ba35dffd91/aten/src/ATen/native/cuda/BatchLinearAlgebraLib.cu#L28-L35

I found the problem. In your example, `getrf` returns `info = 3`, but it was later overwritten by `getrs` with `info = 0`. So we definitely need to check `info` returned by the first call as well.

I was thinking if we can do this asynchronously to avoid perf

[2020-10-20 21:24] ngimel commented on #46557
You can use 2-element infos to save both.

[2020-10-20 21:26] eellison commented on #46187
@ezyang if theres consensus around using a python wrapper over native functions I can file an issue and write up a description of what adding `Literal` would look like

[2020-10-20 21:54] marjimbel commented on #46465
i am actually having the same issue

[2020-10-20 22:00] jerryzh168 commented on #46614
dup of https://github.com/pytorch/pytorch/issues/46562

[2020-10-20 22:00] #46614 closed

[2020-10-20 22:28] cocoaaa commented on #44172
Hi, I'm having the same error when building from the source. Could you share a tentative solution for this issue?

[2020-10-20 22:29] mrshenli commented on #46248
Hey @Flamefire

Sorry for dropping the ball on this.

This is great discovery. I wonder for this use case, should the application create two different `ProcessGroup` objects? One for [0, 1, 2], and one for [0, 5, 6]?

We totally want to go there, but there are legacy applications that's preventing us from retiring that DDP mode. Hopefully, we can retire it in the next few releases.

IIUC, users ca

[2020-10-20 22:45] osalpekar commented on #46248
Thanks for the investigation! We've been working on a number of fixes for NCCL reliability in general so we should take this case into account as well. Let me dig into this and try to fix the incorrect communicator usage

[2020-10-21 00:43] tyui592 opened #46628 "Wrong Examples in torchvision.ops.deform_conv2d"
## 📚 Documentation

In documentation of [torchvision.ops.deform_conv2d](https://pytorch.org/docs/stable/torchvision/ops.html?highlight=deform#torchvision.ops.deform_conv2d),
[code]
When executing the above script, the following error occurs,
[code]
the `offset` to be `torch.rand(1, 2 * kh * kw, 8, 8)`

cc @fmassa @vfdev-5

[2020-10-21 00:53] mmcloughlin opened #46631 "error in bazel build //..."
## 🐛 Bug

`bazel build //...` fails with an error in `XNNPACK`.

## To Reproduce

Steps to reproduce the behavior:

1. `bazel build //...`

[code]

## Expected behavior

Expect to be able to build an entire project without errors.

## Environment

 - PyTorch Version (e.g., 1.0): current `master` f83cf2dab39bae12eeb95a2fe0b7e54db4571713
 - OS: Linux
 - How you installed PyTorch: build from source w

[2020-10-21 01:11] anjali411 commented on #46546
@aneeshnema thanks for filing this issue. As @mariosasko mentioned, `matmul` has added for complex in 1.7 and is available on the nightly as well.

Can you file an issue for `torch.adcmul` support for complex?

We are working on a plan to extend complex support to nn modules, and loss functions. I think some loss functions work for complex, but many others need to be fixed. Let me know if you'd be

[2020-10-21 01:26] TianzhongSong commented on #46580
@wconstab Thank you.

Same issue with the latest nightly build.

It may be not flexible when tracing the model with an input tensor which has specified device id, if I running the saved model in a cpp project with unconfirmed gpu id.

[2020-10-21 01:33] malfet commented on #46587
Please use https://discuss.pytorch.org/ to ask general questions about PyTorch

Although, very likely you just running into a network installation problem

[2020-10-21 01:33] #46587 closed

[2020-10-21 01:35] malfet commented on #46586
Can you please run `python3 -mtorch.utils.collect_env` and paste its output here?

[2020-10-21 02:10] #42354 closed

[2020-10-21 02:26] gmagogsfm commented on #44466
@SungmanHong Is the suggestion from @SplitInfinity good enough to solve your issue? If so, could we close this ticket?

[2020-10-21 02:38] zerovirus123 commented on #46527
Hi guys. I downloaded MSVC C++ build tools and added it to PATH, and now the builder can locate a compiler. Thanks for your help.

[2020-10-21 02:59] zw0610 commented on #34451
I believe I slightly tweaked the source code of XNNPACK and successfully compiled pytorch. However, I no longer process a MacBook with Nvidia GPU so it will be difficult for me to reproduce it.

The main idea of the tweak is to tell compiler use `__cvtu32_mask16` defined within XNNPACK instead of clang library, where such function does not exist.

[2020-10-21 03:47] WenLi-o00o opened #46638 "RuntimeError: one of the variables needed for gradient computation has been modified by an inplace operation: [torch.FloatTensor [1, 32, 3, 3]] is at version 2; expected version 1 instead. Hint: enable anomaly detection to find the operation that failed to compute its gradient, with torch.autograd.set_detect_anomaly(True)."
Hi guys,
I'm a new pytorch user, when I try to run a code, an error occurs, I tried to search existing similar issues but found they are not helpful, could you please help me with this? Many thanks.

the code is described as follows:
class Discriminator(nn.Module):

    def __init__(self, in_channels=1):
        super(Discriminator, self).__init__()

        def discrimintor_block(in_features, out

[2020-10-21 05:19] anjali411 opened #46642 "Loss functions for complex tensors"
## 🚀 Feature
Loss functions in `torch.nn` module should support complex tensors whenever the operations make sense for complex numbers.

## Motivation

Complex Neural Nets are an active area of research and there are a few issues on GitHub (for example, https://github.com/pytorch/pytorch/issues/46546#issuecomment-713122245) which suggests that we should add complex number support for loss function

[2020-10-21 06:41] Nanco-L opened #46643 "Autograd support for the tensor multiplication of sparse tensors"
## 🚀 Feature

Autograd support for the tensor multiplication of sparse tensors (sparse * sparse, sparse * dense).

## Motivation

Currently, an error occur during the calculation of autograd of a tensor generated by multiplication of sparse tensors.
The detail of error and sample code is described the link below.
https://discuss.pytorch.org/t/autograd-error-for-sparse-tensor-pytorch-1-6/99927

Sin

[2020-10-21 07:05] iremonur opened #46644 "ERROR GENERATING FILE (caffe2)"
## ❓ Questions and Help

Hi, after I run “python setup.py install”, I get this error :

[3894/5004] Building NVCC (Device) obj…cuda_generated_THCTensorTopKShort.cu.o
FAILED: caffe2/CMakeFiles/torch_cuda.dir//aten/src/THC/generated/torch_cuda_generated_THCTensorTopKShort.cu.o
cd /home/ionur1/pytorch/build/caffe2/CMakeFiles/torch_cuda.dir//aten/src/THC/generated && /home/ionur1/anaconda3/envs/conda_

[2020-10-21 07:40] jo7ueb commented on #46522
@ezyang

Simply why?

I just want to build with pip.
This is usual way to install python package!

[2020-10-21 07:41] jo7ueb commented on #46522
Anyway, thanks for the comment.

[2020-10-21 08:06] blizda commented on #46166
About parameter_sharing:

Another attempt to introduce memory savings in the paper was to introduce parameter sharing between projections. This is mentioned in section 4 of the paper; in particular, there were 4 different types of parameter sharing that the authors discussed, and all have been implemented in this repo. The first option takes up the most memory, and each further option reduces the

[2020-10-21 08:11] ppwwyyxx commented on #44284
This is not yet fixed for `tensor.nonzero()` due to https://github.com/pytorch/pytorch/pull/45413#issuecomment-703947414. Could you reopen or open a new issue?

[2020-10-21 08:13] GangyiTian opened #46647 "No kernel image is available for execution on the device"
## ❓ Questions and Help

Dear developer：

Hello, I ran into the problem as indicated in the title (**actually, I googled this question**).  The problem is that the Compute Capability of my graphics card cannot meet the requirements, and I installed the 1.6 pytorch version. Starting from version 1.3, the Compute Capability required by pytorch requires at least 3.6(>3.5). However, my graphics card i

[2020-10-21 08:16] bb-1357 commented on #46465
I find a solution, downgrade torchtext to 0.3.1.Since I cannot change my development environment,I copy all the torch 0.3.1 files, and paste them in my torchtext 0
.7.0 .My colleagues are very satisfied with my method.Hope this can help you too.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2020-10-21 08:23] GangyiTian commented on #46647
- NVIDIA-SMI 418.165.02   Driver Version: 418.165.02   CUDA Version: 10.1
![image](https://user-images.githubusercontent.com/26830967/96693326-aef37380-13b9-11eb-91a0-bd8196ec9419.png)

[2020-10-21 09:22] toshas commented on #32293
And another one by me: https://github.com/toshas/torch_truncnorm

[2020-10-21 09:22] aneeshnema commented on #46546
@anjali411 I am interested in contributing. It would be great if you could help me get started.

[2020-10-21 09:23] zbh2047 commented on #46581
This code works on all my other servers with Pytorch 1.4 (cuda 10.0) and Pytorch 1.6 (cuda 10.2). The bug appears only on one server. The code is so simple and I don't think the code is not correct.

[2020-10-21 10:01] llv22 commented on #34451
exactly, the guy in XNNPACK let us do an adjustment for detection macros

On Wed, Oct 21, 2020 at 11:00 AM Wang Zhang <notifications@github.com>
wrote:

[2020-10-21 10:01] PiotrJander opened #46648 "Dataloader crashes if num_worker>0 on MacOS with Python 3.8"
## 🐛 Bug

When using a `DataLoader` with `num_workers` > 0, the process crashes with a stack trace which contains

[code]

The full stack trace is here: https://gist.github.com/PiotrJander/e82ca1d94ae85e746f33a18d7ca2d492

The error does not occur when `num_workers` is set to 0.

The error only occurs on MacOS (specifically tested on 10.15.7) with Python 3.8 (specifically tested with Python 3.8.5)

[2020-10-21 10:23] TianzhongSong opened #46649 "autocast get OOM with c++ api"
cc @mcarilli @yf225 @glaringlee

[2020-10-21 10:28] TianzhongSong commented on #46649
Oh, I found the solution:
[code]

but get OOM when using `torch::NoGradGuard guard;`

This issue looks similar to https://github.com/pytorch/pytorch/issues/45910

[2020-10-21 10:43] pomelyu commented on #40497
@mcarilli

There is the code
[code]
The grad would be None and thus let the scale down to below 1 in about 200 iterations. I has no ideas why this line cause problem. It's just a workaround.

[2020-10-21 11:21] leockl commented on #25481
Hi All, I was wondering if there has been any updates on this yet? It has been about 8 months since the last comment above.

I have a related question to this which I have posted in Stackoverflow here: https://stackoverflow.com/questions/64462253/pytorch-square-root-of-a-positive-semi-definite-matrix. I was wondering if anyone could assist me with this question. Would really appreciate it!

[2020-10-21 11:27] TianzhongSong commented on #46649
Issue will disappear if comment `x = self.linear(x)` in the forward function

[code]
Why linear gets OOM when it takes LSTM's output as input?

[2020-10-21 11:28] HeYingnan opened #46650 "when trace a program, it run three times?"
when i use traced_script_module = torch.jit.trace(self.am_model, example_inputs) to trace a model, and i write a print in forward fuctions, i found the print show 3 times, is it right?

cc @gmagogsfm

[2020-10-21 11:29] ismymajia commented on #46517
1. The export_pt.py file is as follows ：

import torch
from fairseq.checkpoint_utils import load_model_ensemble_and_task
from fairseq.sequence_generator import SequenceGenerator
model = load_model_ensemble_and_task([args.input_model])[0][0]
model.eval()
model_dict = model.decoder.dictionary
generator = SequenceGenerator([model], model_dict, beam_size=args.beam_size)
scripted_generator = torch.jit.

[2020-10-21 12:10] renjingc opened #46651 "use share_memory_, Segmentation fault (core dumped)"
when I use share_memory_(), when append 65080, core dumped

[code]

cc @ezyang @gchanan @zou3519 @bdhirsh @heitorschueroff

[2020-10-21 12:28] JonathanVacher commented on #25481
Many implementations are available in this issue and you can use any of them. There is no direct implementation in pytorch as the issue is still open.

[2020-10-21 12:45] #45420 closed

[2020-10-21 13:08] fritzo commented on #32293
I'd be happy to review a PR if anyone wants to submit one. #32377 appears to be abandoned.

[2020-10-21 13:54] vtasStu commented on #20140
THX

[2020-10-21 14:00] nikitaved commented on #25481
I am just about start working on general matrix square root, [FR](https://github.com/pytorch/pytorch/issues/9983#issuecomment-626629006) My plan is to use IN iteration (Higman, Functions of Matrices, page 142, formula 6.20) with scaling and some compensation scheme for better precision. The good thing it does handle rank deficient cases as the iteration does start with a matrix `X + I`.
It is also

[2020-10-21 14:23] nikitaved commented on #25481
@ModarTensai , thank you for the sylvester equation code! It will be of use for the analytic backward!

[2020-10-21 14:24] zou3519 commented on #6836
I remember storage was made untyped (or was it StorageImpl?) in #33950, so is this still relevant?

[2020-10-21 14:28] zou3519 commented on #46651
I can repro this (mine crashes at 65042). Marking high-pri for crash.

Maybe the OS just ran out of shared memory? Nevertheless a nice error message would be better than a crash here.

[2020-10-21 14:33] zou3519 commented on #46644
Seems like https://github.com/pytorch/pytorch/pull/46535 should fix this

[2020-10-21 14:35] ModarTensai commented on #25481
@nikitaved, you are most welcome. Please, let me know if you need anything else. Currently, I am busy with CVPR but I will gladly join this effort, if needed, after the deadline.

[2020-10-21 14:35] zou3519 commented on #46643
This is probably something we should support.

[2020-10-21 14:37] zou3519 commented on #46583
Thanks for reporting @Zrealshadow. We would accept a patch that fixes this

[2020-10-21 14:38] zou3519 commented on #46628
This should go on the torchvision issue tracker (https://github.com/pytorch/vision), please consider cross-posting there.

[2020-10-21 14:42] zou3519 commented on #46647
@seemethere @malfet what is the minimum compute capability we support on PyTorch 1.6?

@GangyiTian https://discuss.pytorch.org/t/gpu-compute-capability-support-for-each-pytorch-version/62434/3?u=richard suggests a method of checking the compute capability that a pytorch binary supports.

[2020-10-21 14:46] vfdev-5 commented on #46628
@tyui592 thanks for reporting, this is already fixed on master :
https://github.com/pytorch/vision/blob/34708e4c3b549933695446d8770fd0e064eae911/torchvision/ops/deform_conv.py#L42-L52

[2020-10-21 14:46] #46628 closed

[2020-10-21 14:47] iremonur commented on #46644
Thank you but I don't understand what I must to do solve this problem. Could you explain?

[2020-10-21 14:50] zou3519 commented on #46638
Please ask questions on our [forums](discuss.pytorch.org)

I don't see any in-place operations in your code, but a few of the functions definitions aren't included (criterion_GAN, criterion_identity).

The error message suggests to use anomaly mode to figure out which operation is causing the error:
https://pytorch.org/docs/stable/autograd.html#torch.autograd.detect_anomaly

Closing this issue bec

[2020-10-21 14:50] #46638 closed

[2020-10-21 14:52] zou3519 commented on #46644
Can you patch #46535 into your local pytorch checkout and see if it compiles?

[2020-10-21 14:52] mrshenli opened #46653 "Future returned by RPC should print a warning message on destruction if it's not waited"
#46559 mentioned that it's hard to debug async RPC, as the error is only thrown when users call `Future.wait()` but users might miss that.

@lw suggested that, to have a better user experience, one option could be let the `Future` object record whether it has been waited or not. If it was not waited but destructed, it can print a warning message to remind users.

[2020-10-21 14:53] omeryasar opened #46654 "Converting object detector model to TorchScript"
Hi,
Currently I try to convert this https://github.com/yhenon/pytorch-retinanet implentation of retinanet to torchscript so be able to make inference in c++ environment. But faced with some problems.

P5_x : torch.Tensor = self.P5_1(C5) , in this line I had an error as : Tried to access nonexistent attribute or method 'P5_1' of type 'Tensor (inferred)'.:

So P5_1 is nn.Conv2d(C5_size, feature_size

[2020-10-21 14:53] zou3519 commented on #46609
This is a duplicate of https://github.com/pytorch/pytorch/issues/11390 so I am closing this issue. Please feel free to voice your support there.

[2020-10-21 14:53] #46609 closed

[2020-10-21 14:56] #46583 closed

[2020-10-21 14:57] zou3519 commented on #46585
The second case,
[code]
seems like a silent correctness error (padding_idx doesn't do what it is advertised to do) so I am marking this as hi-pri.

[2020-10-21 15:02] zou3519 commented on #46648
PyTorch lightning is a separate project from PyTorch. @PiotrJander you may want to cross-post there: https://github.com/PyTorchLightning/pytorch-lightning

[2020-10-21 15:06] GangyiTian commented on #46647
Okay, let me try it. Thank you for taking the time to reply！

[2020-10-21 15:06] zou3519 commented on #46602
`empty_cache` releases unoccupied cached memory. If a Tensor is still being held by the script or by the framework (for backwards computation during training), then it will not get freed.

Do you have a self-contained script which we could use to reproduce your OOM?

[2020-10-21 15:26] praveentn commented on #21819
this fixed the issue for me @prameth thanks!

[2020-10-21 15:42] #45165 closed

[2020-10-21 15:56] #43477 closed

[2020-10-21 16:02] Immortalin commented on #6381
@apaszke especially since Ryzen cores are very common now

[2020-10-21 16:11] wconnell commented on #21645
This was very helpful to come across @EvenOldridge.

Agreed. An example would be quite helpful in the least. With increasing tabular data use cases I don't think it is wild to consider including this type of class in core. The default automatic batching and collation setup has its own data type biases imo.

[2020-10-21 16:12] mariosasko commented on #46585
Seems justified. Had to go through the source the first time I was using `nn.Embedding.from_pretrained` to understand what's actually happening with `padding_idx`.

[2020-10-21 16:36] malfet commented on #46647
@GangyiTian can you please run deviceQuery sample from NVIDIA toolkit and post its output here?
If your GPUs compute capability is sm_35, then we indeed do not ship binaries that support that capability but you should be able to rebuild PyTorch from source to enable that.

[2020-10-21 16:37] mxkrn commented on #30517
Bump on this, interested in seeing support for this op.

`Exporting the operator broadcast_tensors to ONNX opset version 12 is not supported. Please open a bug to request ONNX export support for the missing operator.`

[2020-10-21 16:44] yz-cnsdqz commented on #15541
I have experienced this problem again. My pytorch version is 1.6.0.
what I run is
`torch.load(model_path, map_location='cuda:0')`
What it outputs is
`*** RuntimeError: Attempting to deserialize object on CUDA device 6 but torch.cuda.device_count() is 1. Please use torch.load with map_location to map your storages to an existing device.`

[2020-10-21 16:59] mruberry commented on #44284
Sure.

[2020-10-21 17:14] spandantiwari commented on #46586
@shlomi-amitai - is there a model where this op is needed?
We don't have this on our immediate roadmap. Please consider submitting a PR for this.

[2020-10-21 17:26] iremonur commented on #46644
Thank you for your response, I checked out GitHub Pull Request #46535 but now, I get this error :

Building wheel torch-1.8.0a0
-- Building version 1.8.0a0
cmake --build . --target install --config Release -- -j 8
[0/1] Re-running CMake...
-- std::exception_ptr is supported.
-- Turning off deprecation warning due to glog.
-- Current compiler supports avx2 extension. Will build perfkernels.
-- Curr

[2020-10-21 17:26] minertom opened #46659 "Excluding image processing operators due to no opencv"
I was able to compile pytorch from source. Yes, it runs. However, there was a warning letting me know that Opencv was not found. I am running pytorch in the same virtual environment in which I have opencv running (import cv2 works).

I am running on ubuntu 18.04.

I did look at CMakeLists.txt but found no indication as to where or how pytorch looks to see if opencv is installed.

Thank You
Tom

[2020-10-21 17:43] dhruvbird commented on #12873
Currently custom build is applicable only for mobile (specifically for the CPU backend) and works for any torchscript model (whether it be traced or scripted). For your use-case, this would need to be made available for CUDA.

My very rough timeline is to have a working prototype (for mobile FB internal only) ready by end of 2020. This includes basic versions of all the mechanisms I alluded to abo

[2020-10-21 17:44] xsacha commented on #28224
Auto (what Pytorch currently uses), looks like it does the correct thing here.

CU_CTX_SCHED_AUTO: The default value if the flags parameter is zero, uses a heuristic
based on the number of active CUDA contexts in the process C and the number of logical
processors in the system P. If C > P, then CUDA will yield to other OS threads when
waiting for the GPU (CU_CTX_SCHED_YIELD), otherwise CUDA will n

[2020-10-21 18:01] Lilyjjo commented on #46326
Implementation pointers:

The error message is generated in torch/csrc/jit/frontend/schema_matching.cpp’s `tryMatchArgument(...)`. There are multiple ways of solving this issue, so feel free to take a different approach.  One way would be to get `is_inferred_type()` on the value’s type in this function to return true. The return value of `is_inferred_type()` is determined by /aten/src/ATen/core/ty

[2020-10-21 18:01] vkuzo opened #46665 "FX: unable to symbolically trace forward decorated with contextlib.contextmanager"
Currently using `contextlib.contextmanager` decorators is not symbolically traceable.  From a few minutes debugging, looks like the `self` variable in a decorated function ends up missing from `co.co_varnames` inside of `torch.fx.symbolic_trace`.  Would love thoughts on whether there are plans to support this or if users will have to work around.

Repro:

code:
[code]

trace:

[code]

[2020-10-21 18:03] Lilyjjo commented on #46326
For reference, this is a way to give the needed type annotations to resolve the error:
[code]

[2020-10-21 18:04] vkuzo commented on #46665
cc @jerryzh168 , @jamesr66a  as a heads up

[2020-10-21 18:07] GangyiTian commented on #46647
![截屏2020-10-22 01 57 58](https://user-images.githubusercontent.com/26830967/96759371-85af0380-140a-11eb-9bec-9d153e258a3f.png)
Hello, I tried to use deviceQuery and found that the **compute capability is indeed 3.5**. In addition, I will try to compile pytorch from source code, thank you for your reply, and I will close this issue. Have a nice day!

[2020-10-21 18:07] gmagogsfm commented on #37516
Hi @edqwerty10 @yf225,

@lilyjjo just added new API to meet your need. Can you try replace all your `isinstance` calls with `torch.jit.isinstance`, which should support checking types like `Dict[str, Tensor]` and behave the same in eager and JIT mode. Let us know if it works out for you.

[2020-10-21 18:08] #46647 closed

[2020-10-21 18:16] #46527 closed

[2020-10-21 18:19] ezyang commented on #46522
Oh, good news, I learned yesterday that 1.7 we will start providing official ARM64 binaries, so that's another option.

@soumith do you remember why we stopped providing source dists on pypi? I think the reason is that for most people it will take several hours to finish building PyTorch (and chances are they don't have all the toolchain they need either), so it's almost certainly not the right fa

[2020-10-21 18:22] ezyang commented on #6836
The Python storage bindings still distinguish dtype for bc compat, we should have another issue for making these untyped as well.

[2020-10-21 18:23] ezyang commented on #46651
You are almost certainly running out of shared memory on your system. You can try changing the limits using ulimit.

It still probably shouldn't crash, though I'm not sure if it will be easy to fix.

[2020-10-21 18:52] soumith commented on #46522
@ezyang the number of dependencies and submodules we have is the first reason, the compile time is the second. we'd rather fail fast rather than take users through painful hell.

[2020-10-21 19:32] lw commented on #46653
Let me also add that it wouldn't be an unheard-of thing: Python's asyncio also considers it bad practice to not await on futures, and offers debugging tools to catch these: https://docs.python.org/3/library/asyncio-dev.html#detect-never-awaited-coroutines. (We could also offer such debugging tools if it becomes necessary, for example recording the stack trace when a future is created and printing

[2020-10-21 19:39] malfet commented on #46631
Thank you for reporting the issue. Can you please confirm that `bazel build :torch` works for you?
And if you have a pull request in mind that can fix the issue, please do not hesitate submitting it.

[2020-10-21 19:52] tobiasfshr commented on #43192
@zou3519 Thanks for the suggestion! I'm actually repeating the tensor in my code along a dimension with size > 1. Specifically, I have a tensor x with size B*N, C and the tensor y that is to be repeated, which has size B, C. To concatenate them, i repeat the tensor N / B times. However, you can solve this also in this way by expanding y:
`y.unsqueeze(1).expand(B, N, C).contiguous().view(-1, C)`

[2020-10-21 19:57] mmcloughlin commented on #46631
Yes `bazel build //:torch` works just fine :)

If my theory is correct, this would need two PRs:

* PR on `XNNPACK` to replace `@//` with `//` in a few places.
* PR on pytorch to update dependency on `XNNPACK`

I guess you could apply a patch to the `XNNPACK` build file in the interim.

It's also possible I'm missing something... I know only enough bazel to get by. I've just been bitten by this `@

[2020-10-21 20:07] #46561 closed

[2020-10-21 20:27] pritamdamania87 commented on #46321
@mrshenli It looks like we're adding a copy of our examples into the PyTorch repo (https://github.com/pytorch/pytorch/pull/46510). I thought the examples repo itself has a CI and we had a plan to extend the CI on that repo to run the examples? It would be hard to maintain two copies of the same source.

[2020-10-21 21:09] mruberry commented on #34257
Thank you for reporting this issue, @mickypaganini. @albanD, maybe we need a module for hook-related issues, too?

[2020-10-21 21:24] zou3519 opened #46681 "torch.heaviside internal assert for cuda tensor and cpu scalar tensor"
## 🐛 Bug

torch.heaviside gives an internal assert when passed a cuda tensor and a cpu scalar tensor.

## To Reproduce

[code]

## Expected behavior

It should not internal assert. If this is not supported, we should fail without internal assert.

## Environment
master

cc @mruberry @rgommers @heitorschueroff

[2020-10-21 21:28] ggeor84 commented on #42351
Just wanted to add my vote for this feature. Any current plans?

[2020-10-21 21:34] zpahuja commented on #42351
Please consider adding support for this to enable amp for training this half

[2020-10-21 21:43] cndn opened #46682 "Missing support in TorchScript: "in" operator to check if a string contains substring"
## 🐛 Bug

Calling `"a" in "abcd" ` in TS model throws an error

RuntimeError:
Arguments for call are not valid.
The following variants are available:

  aten::__contains__.str_list(str[] l, str item) -> (bool):
  Expected a value of type 'List[str]' for argument 'l' but instead found type 'str'.

  aten::__contains__.str(Dict(str, t) dict, str key) -> (bool):
  Could not match type str to Dict[str

[2020-10-21 21:52] albanD commented on #34257
I don't think this is really hook related but the way pruning works.
The attached PR does solve the issue. I'll see with @mickypaganini to merge it.

[2020-10-21 22:06] spandantiwari commented on #39349
Added through PR https://github.com/pytorch/pytorch/pull/45678

[2020-10-21 22:06] #39349 closed

[2020-10-21 22:11] spandantiwari commented on #44012
@jinfagang - just checking if you were able to try the suggestion and if it helped.

[2020-10-21 22:12] spandantiwari commented on #42995
Please reopen the issue if you are still having this issue.

[2020-10-21 22:12] #42995 closed

[2020-10-21 22:13] suo opened #46684 "[jit] TestWarn fails when running tests in parallel"
repro:
[code]
You'll see that `TestWarn` fails, I assume because it is testing something that does not correctly preserve when tests are run in multiple processes?

cc @gmagogsfm

[2020-10-21 22:13] suo commented on #46684
@gmagogsfm I think you implemented the warning functionality/tests, mind taking a look if there's a way we can rewrite them to work when run in parallel?

[2020-10-21 22:14] #20643 closed

[2020-10-21 22:25] gmagogsfm commented on #46684
thanks, will take a look

[2020-10-21 22:38] vukovicnikola commented on #37068
+1 for torch.distributed for windows

[2020-10-21 22:42] lukasheinrich commented on #30517
just to post that this is also important for us over at the pyhf project https://github.com/scikit-hep/pyhf

[2020-10-21 23:28] SplitInfinity commented on #41443
Hello everyone, the remaining cases are ones that are no longer suitable for open-source contributors because they require substantial internal changes. I am leaving the tasks open because they are not done but will remove the label that marks them as good for first time contributors.

[2020-10-21 23:31] vincentqb commented on #46405
Thanks for opening an issue for this! Since the warning has been part of pytorch for a bit, we can now simply remove the warning, and add a short comment in the docstring reminding this. The reference pull request explaining this is #43352.  Do you want to open a pull request to do this? Thanks again!

[2020-10-21 23:41] rohan-varma commented on #27647
cc @jiayisuse Is this issue still relevant? Feel free to close if not.

[2020-10-21 23:41] rohan-varma commented on #46564
Is this the same as https://github.com/pytorch/pytorch/issues/39351?

[2020-10-21 23:47] jamesr66a commented on #46665
This isn't directly an issue with `contextmanager`, but is actually an issue with wrapped functions (i.e. defined via `functools.wraps`, which `ContextManager` uses in its `__call__` implementation). Interestingly, `inspect.signature` does the right thing for these scenarios through special-casing for wrapped function invocations: https://github.com/python/cpython/blob/3c69f0c933d4790855929f1fcd74

[2020-10-22 00:08] ezyang commented on #46382
As a workaround, you can switch to the new registration API, which still has the ability to register as unboxed only.

[code]

[2020-10-22 00:42] chengjunlu commented on #46382
@ezyang As the RegisterOperators is a legacy API and we have an alternative new API with the same feature, I think this issue can be closed. Can we?

[2020-10-22 00:54] ezyang commented on #46382
I feel like it still shouldn't be possible to trigger an internal assert here, but I do agree that this is lower priority than just getting everyone to the new API.

[2020-10-22 01:25] chengjunlu commented on #46382
This is because the "generated_unboxing_wrappers_everything.cpp" set a default boxed kernel for the aten schema.
`// @generated from tools/jit/templates/generated_unboxing_wrappers.cpp
// This file contains manual unboxing wrappers for ops that aren't
// use_c10_dispatcher: full `
I used the `RegisterOperators::Options::kernel`, which generates the boxed kernel from the unboxed c++ fucntion, to re

[2020-10-22 02:27] ismymajia opened #46695 "Tried to access nonexistent attribute or method 'new' of type 'Tensor'"
## ❓ Questions and Help

We know that the nn.module.register_buffer func works fine when using its new method, but there is an error in torch.jit. Is there any problem here?

When i convert to torch.jit.script by below code:
model = load_model_ensemble_and_task([args.input_model])[0][0]
model.eval()
model_dict = model.decoder.dictionary
generator = SequenceGenerator([model], model_dict, beam_size=

[2020-10-22 02:35] renjingc commented on #46651
I have use ulimit -n 655350. when I append 60000, I view shared memory，df -lh
![image](https://user-images.githubusercontent.com/9279431/96817608-41475600-1452-11eb-86d5-d94ef3f66c99.png)

[2020-10-22 03:02] gemfield commented on #19053
Seems this warning happens in script mode, and in trace mode we don't see it.

[2020-10-22 03:23] v-qjqs opened #46697 "Different outputs in nn.MultiheadAttention with exactly the same weights and inputs during training mode"
## ❓ Questions and Help
Hi I'm newer to transformer and I have questions to nn.MultiheadAttention.
I'm implementing DETR in the mmdet framework following the official DETR repo. I found nn.MultiheadAttention output different 'attn_output' and 'attn_output_weights' during **training** mode  between two independent experiments, even though I loaded exactly the same learnable weights and inputs (incl

[2020-10-22 03:55] bigbigbigball commented on #23868
I got a similar problem, enviroment libtorch 1.6 cpu version ,window 10 VS2017, Loading the model and trying to test the model (model.forward) give me the C10::Error at memory location ,How can I solve this problem? THANK YOU!

[2020-10-22 03:58] ZhangHongYang-zhy commented on #23868
I have the same problem，also want to know the specific resolution details.THANKS!

[2020-10-22 04:04] peterjc123 commented on #46592
@RiverShi You can use Debugging Tools for Windows to get a full log. https://github.com/peterjc123/pytorch_dll_load_smoketests#how-to-contribute-or-report-issues

[2020-10-22 04:51] #46557 closed

[2020-10-22 06:16] Heermosi commented on #45028
you may try a larger input. the timing might be inaccurate dues to inaccurate system timing, it was 50ms around in windows system, maybe you can make it larger than 1 second then compare it.

[2020-10-22 06:28] mariogeiger commented on #45136
Alternatively, what do you think about using `pickle` instead of `torch.save`/`load` ?

[2020-10-22 07:31] pearu commented on #44634
Suggest adding https://github.com/pytorch/pytorch/pull/45695 to 1.8, the PR is about replacing `_indices()` with `indices(coalesce=False)` and introducing `nse` method.

[2020-10-22 08:15] ycli90 opened #46702 "torch.multinomial behave unexpectedly on float16 GPU input tensor"
## 🐛 Bug
torch.multinomial behave unexpectedly on float16 GPU input tensor when num_samples=1 and replacement=True
1. fails on probability distribution with odd items
2. produce unrepeatable result for large input tensor

## To Reproduce

Steps to reproduce the behavior:

For problem 1, simply run
`print(torch.multinomial(torch.rand(2, 3, dtype=torch.float16, device="cuda"), num_samples=1, replace

[2020-10-22 08:25] mruberry commented on #42666
@ptrblck, @xwang233

I had a chance to look at outstanding linear algebra PRs and a few ops. Since we have PRs updating the UX of [SVD](https://github.com/pytorch/pytorch/pull/45562/files) and [Cholesky](https://github.com/pytorch/pytorch/pull/46083), what would you think about seeing if qr, lu, or solve could be switched from MAGMA to cuSolver?

When switching an op we should look at:

- performa

[2020-10-22 08:31] zhousteven commented on #42441
My environment is Win10 , Pytorch:1.6.0+cpu、Torchvision:0.7.0+cpu、numpy：1.19.2,use pyinstaller:4.0 to make an .exe file, have try to change numpy to 1.18.5 or 1.17.5 or 1.15.0 still have this error :
Traceback (most recent call last):
  File "vgg.py", line 9, in <module>
  File "d:\programdata\anaconda3\envs\vgg\lib\site-packages\PyInstaller\loader\pyimod03_importers.py", line 623, in exec_module

[2020-10-22 08:35] jo7ueb commented on #46522
@soumith @ezyang Thanks for the comment.
I understood there's some reason not to provide source dist on pypi.

If there's an error/warning message telling user to build manually, we can follow as instructed.
I suggest to implement some error/warning message instead.

Thanks.

[2020-10-22 08:43] jo7ueb commented on #46522
Marking related issues.
#27815 #34798 #42832 #41310 #19406 #37126 #40203 #37379 #29090 #29395 #29394 #28840

[2020-10-22 08:54] #44203 closed

[2020-10-22 08:57] jingqiao commented on #46702
It is a crucial issue that the above torch.multinomial issue leads to (hidden) irreproducibility of experiments even with the same seed in situations which are supposed to be deterministic.

For now, a valid and simple workaround is to simply set num_samples=2 and use one of its output. Look forward to someone identifying the root cause and providing a solution/fix soon.

[2020-10-22 09:10] #44635 closed

[2020-10-22 09:22] ppwwyyxx opened #46703 "[jit] metacompile if-statements with boolean literal or boolean constants"
## 🚀 Feature

## Motivation

Skipping compilation when not needed is in general helpful for migrating code to torchscript.

## Pitch
[code]

cc @gmagogsfm

[2020-10-22 09:26] jackyfaster opened #46704 "Could i transplant caffe2 to arm?"
## ❓ Questions and Help
Hi,
    I want to know that could i transplant caffe2 to arm, if can, there is any help documentation or suggestion?

[2020-10-22 10:03] peterjc123 commented on #42441
@zhousteven @WestbrookZero What if you do just `import numpy`?

[2020-10-22 10:13] hlahkar opened #46705 "torch.eye not supported for sparse layout"
Steps to reproduce the behavior:

1. Call torch.eye with layout = torch.sparse_coo

Below is a code sample:

import torch

x = torch.eye(4, layout=torch.sparse_coo, device=torch.device('cuda'))
print(x)

## Actual behavior
Traceback (most recent call last):
  File "sparse_tensor.py", line 46, in <module>
    x = torch.eye(4, layout=torch.sparse_coo, device=torch.device('cuda'))
RuntimeError: Could

[2020-10-22 10:42] mszhanyi commented on #42441
@zhousteven , could you try the below in your app.sepc
![image](https://user-images.githubusercontent.com/16190118/96861146-475f2600-1496-11eb-961d-66846ea3ca0c.png)

[2020-10-22 11:21] kshitij12345 commented on #46458
Currently diverging ops
* [ ] `torch.sin` Reference PR #45733
* [ ] `torch.cos` Reference PR #46706
* [ ] `torch.tan` Reference PR #46706

[2020-10-22 11:29] lcrew11 opened #46707 "Quantization article mentions PyTorch 1.3 but should be updated to 1.6"
## 📚 Documentation

In this article on quantization: https://pytorch.org/docs/stable/quantization.html there is a note mentioning the 'PyTorch 1.3 doesn’t provide quantized operator implementations on CUDA yet - this is direction of future work. '

But it should be clarified what quantization can be implemented on the GPU in 1.6. It's very unclear as to what operations can be run on the GPU in PyT

[2020-10-22 12:43] ZhiyuanChen commented on #46707
I don't think it has been implemented now, maybe it's better to make it as for the current edition?

[2020-10-22 12:57] LiuXiaoxuanPKU commented on #18111
Hi, autograd for to_sparse() works but if I add the param, it does not work, for example, to_sparse(ndim). Is it also possible to support that? Thanks!

[2020-10-22 13:28] eliegenois commented on #33152
Hi, having `torch.einsum` available on CUDA for Complex Tensors would be very helpful for my applications. It gets down to the error

I don't know if this feature will be added together with the point `torch.bmm [CUDA, waiting on TH to ATen port]`, but it would be great to have it. Do you have an estimation as to when this support will be added?
Thank you!

[2020-10-22 13:41] louis2889184 opened #46711 "A random split function that return the datasets following specific target (label) distribution."
## 🚀 Feature
A random split function that return the datasets following specific target (label) distribution.

## Motivation

Sometimes, we might want to control the data distribution while splitting the data. For example, uniformly distributed labeled data in semi-supervised learning (10 classes and each class has 100 data) and constructing imbalance/distribution-shift data.

## Pitch

[code]

##

[2020-10-22 13:53] rahuln32 commented on #38731
PR enabling the tests that catch these to run on all operators has been pushed. Fixed some broken test logic along the way along with one operator's alias annotation (conj).

[2020-10-22 13:53] #38731 closed

[2020-10-22 14:16] vincentqb commented on #46583
Thanks for reporting! This was fixed in #45944. The doc online should be refreshed with the next sync.

[2020-10-22 14:53] mrshenli commented on #46564
Hey @rohan-varma this is slightly different. This does not target addressing the message unwrap problem. Instead, this is just better-organizing the code structure.

[2020-10-22 14:55] rmcavoy opened #46712 "The documentation for c10::Dict is completely empty."
## 📚 Documentation

The documentation for c10::Dict is completely empty. I'm trying to run in C++ a traced model that return a dict and I've successfully converted the resulting IValue to c10:Dict with toGenericDict. I haven't actually been able to get any data out of the c10::Dict because nothing I've tried seems to work (Why doesn't it share its API with OrderDict?) and the documentation is comp

[2020-10-22 15:42] albanD commented on #45592
Link to landed master PR: https://github.com/pytorch/pytorch/pull/46673
Link to release branch PR: https://github.com/pytorch/pytorch/pull/46718
Criteria category: Remove public functions that should not be public called `valgrind_*`.

[2020-10-22 15:43] albanD commented on #45592
Link to landed master PR: https://github.com/pytorch/pytorch/pull/46680
Link to release branch PR: https://github.com/pytorch/pytorch/pull/46719
Criteria category: Remove public functions that should not be public for `__torch_function__` feature

[2020-10-22 15:50] cippo1987 commented on #2731
Still have the issues after removing and reinstall numpy.
I still do not get how people like python.Anyway:
[code]

[2020-10-22 15:51] adamjstewart commented on #23482
I just got my allocation renewed on the system on which I originally reported build issues, so I'll be trying to build the latest version of PyTorch. I'll send you the `build.ninja` and any other build logs hopefully sometime today!

[2020-10-22 16:01] LiuXiaoxuanPKU opened #46720 "autograd for to_sparse(dim)"
## 🚀 Feature
autograd for to_sparse(dim)

## Motivation
This is related to another GitHub [issue](https://github.com/pytorch/pytorch/issues/18111), that issue is fixed by the [commit](https://github.com/pytorch/pytorch/pull/20458). However, it seems it only supports non-parameter version. I want to have autograd for to_sparse(dim).

To be more concrete, the following (case 1) is supported
[code]

[2020-10-22 16:23] ShangxuanWu commented on #16123
Under PyTorch 1.6, `ModuleDict` string indexing is still giving me `Only ModuleList, Sequential, and ModuleDict modules are subscriptable:` error. Is there any ETA for fixing this? If we cannot using string to index dict, this basically defeats the purpose of dict right?

[2020-10-22 16:36] Krovatkin commented on #46458
cc: @ZolotukhinM

[2020-10-22 16:51] kurtamohler commented on #46144
Hey @anjali411 , since your PR should fix this issue, I figured I'd assign this to you, just to filter it out of the unassigned issues list.

[2020-10-22 17:00] bertmaher commented on #46458
It'd be cool if there were some way to automatically keep fusers' type promotion rules in sync with operators'.  I don't see any straightforward path to that but I'd be interested in ideas.

[2020-10-22 17:02] eellison commented on #46458
I'm still surprised as to why this failed exactly. We should be using the types from the profiled run, which are kept in sync with the type promotion rules of operators

[2020-10-22 17:09] kurtamohler commented on #31102
Has this issue shown up at all after PR #36605 was merged. If not, perhaps this issue can be closed since it has been several months.

[2020-10-22 17:14] sebastienwood opened #46723 "Torch import fail"
## 🐛 Bug

When trying to import torch from a fresh install, it fails with the error message
[code]

## To Reproduce

Steps to reproduce the behavior:

1. Install and import torch
2. Notice the error

## Expected behavior

The import should success.

## Environment

Collecting environment information...
PyTorch version: 1.6.0
Is debug build: No
CUDA used to build PyTorch: 10.2

OS: CentOS Linux rel

[2020-10-22 17:16] Coderx7 commented on #46180
Here's a small update of the ongoing process.
I've tried to replicate this issue with cifar10 classification to no avail.
I also tried the arcface loss which I'm using at work again to no avail thinking maybe somehow this has something to do with it! Eveything works fine on the cifar10 MRE(minimal repreducible example) that I have been working on so far.
However, I have not yet tried the DataParal

[2020-10-22 17:26] wconstab commented on #46180
just off the top of my head, i guess a couple things you could check quickly to narrow it down are
* threading: i didn't fully understand what your threading setup is, but you can run the fast and slow with htop open and get a visual sense of whether there are a different number of threads being used during the compute intensive part.  if so, it may be an issue with one of the _NUM_THREADS variabl

[2020-10-22 17:41] gchanan commented on #46704
Please ask questions on the forum, discuss.pytorch.org

[2020-10-22 17:41] #46704 closed

[2020-10-22 17:44] iremonur opened #46724 "PROBLEM WITH INSTALLATION PYTORCH FROM SOURCE"
## ❓ Questions and Help

Hi, after I run  "$ python setup.py install" command, I get this error :

--
-- ******** Summary ********
-- General:
--   CMake version         : 3.18.2
--   CMake command         : /home/ionur1/anaconda3/envs/siamfc_cuda/bin/cmake
--   System                : Linux
--   C++ compiler          : /usr/bin/c++
--   C++ compiler id       : GNU
--   C++ compiler version  : 8.4

[2020-10-22 17:45] mruberry commented on #46681
I think this is gpu_kernel -> gpu_kernel_with_scalars here:

https://github.com/pytorch/pytorch/blob/439930c81b5c711f30e739e900db7a0599659ead/aten/src/ATen/native/cuda/BinaryMiscOpsKernels.cu#L105

A test_binary_ufuncs.py test suite would be helpful in testing for this. I doubt heaviside is the only affected op.

[2020-10-22 17:48] mruberry commented on #31102
I don't think it has, @kurtamohler. Let's close it.

[2020-10-22 17:48] #31102 closed

[2020-10-22 17:59] #33258 closed

[2020-10-22 18:27] mmwebster commented on #24826
+1 on it being odd that nn.Transformer doesn't implement positional encoding. The lack of word embeddings makes sense, but it seems like the vast majority of transformers would require positional encodings.

Also, example usage for nn.Transformer training and evaluation would improve the docs a lot. It seems like nn.Transformer has been abandoned in favor of the encoder, decoder, etc. classes that

[2020-10-22 19:04] SsnL commented on #46723
I guess you have a local file named `multiprocessing.py` or a local folder named `multiprocessing`. Naming file/folders same as python core libs is strongly advised against.

[2020-10-22 19:08] sebastienwood commented on #46723
Indeed, good catch ! Many thanks :)

[2020-10-22 19:08] #46723 closed

[2020-10-22 19:10] xwang233 commented on #42666
Thanks @mruberry . I would prefer to prioritize cusolver `svd` since it's having some bad performance with MAGMA. I haven't check performance or related issues about `cholesky` or others.

I agree with your idea that we need to check performance and numerical accuracy when adding cusolver implementations.

For cusolver, the CPU-GPU data sync is mostly the `info` check. Usually `info` is calculated

[2020-10-22 19:12] kurtamohler commented on #3818
Should someone take over? I think the fact that there's still an open PR that hasn't had any activity for more than a year might be dissuading people. I could try to take a stab at it--perhaps I could build off of #24368 and try to address the problems brought up there.

[2020-10-22 19:37] Vichoko commented on #24826
Yeah, right. Also it could be useful to provide an implementation of new alternative positional encodings, for example, relative positional encodings.

[2020-10-22 19:58] seyeeet opened #46734 "Building Autoencoders"
## 📚 Documentation
can we have a toturial like this in pytorch
https://blog.keras.io/building-autoencoders-in-keras.html

[2020-10-22 20:00] eliegenois commented on #33152
Thank you for your quick reply. Yes, I have pytorch nightly `1.8.0.dev20201022` and your command works as well, but the following does not (on the CUDA now):

as I get the following complete error message

[code]
Thank you for your help in solving this, it is much appreciated.

[2020-10-22 20:09] guilhermeleobas opened #46735 "Enable torch.nn.parallel.comm typechecks during CI"
`TestTypeHints.test_run_mypy` should pass with `[mypy-torch.nn.parallel.comm]` deleted from mypy.ini

cc @mruberry @VitalyFedyunin @ezyang @malfet @rgommers @xuzhao9 @gramster @albanD

[2020-10-22 20:17] neonbjb commented on #37730
Running backward() inside of the autocast block does not work for me, it causes CUDA to run OOM. It seems that autocast does some caching which defeats the memory-saving purposes of checkpointing. Probably for smaller models this issue does not present itself.

A rather unsavory workaround is to edit torch's checkpoint.py. Add "with torch.cuda.amp.autocast():" before this line:
https://github.com/

[2020-10-22 20:21] bertmaher commented on #46458
It looked to me like the root cause is that tensorexpr doesn't know to cast the `sin` input, so it tries to do `sin((char)...)` and that, I assume, fails to compile.

[2020-10-22 20:27] zhangguanheng66 commented on #46697
Do you see this difference during inference? It would be great if you could put together a simple code snippet so I could reproduce the difference.

Did you change `dropout` to non-zero? `dropout` introduces some randomness.

[2020-10-22 20:44] #31690 closed

[2020-10-22 20:54] alekseynp opened #46739 "torch.utils.tensorboard.SummaryWriter.add_embedding fails for some label_img sizes"
## 🐛 Bug

`torch.utils.tensorboard.SummaryWriter.add_embedding` fails for some label_img sizes.
Suspect that square and non-square width>height works, but non-square width<height fails.

## To Reproduce

[code]

[code]
## Expected behavior

Success.

## Environment

[code]

Tagging @bornaghotbi who contributed to this issue.

[2020-10-22 21:47] csimo005 opened #46741 "Tensor with read only memory mapped numpy array causes seg fault."
## 🐛 Bug

If you use a memory mapped numpy array and open it read only, pytorch won't respect that it's read only. If you accidentally write to it, it causes a seg fault. It does give a warning that you may overwrite your data unexpectedly, but not that you may end up segfaulting.
## To Reproduce

Steps to reproduce the behavior:

cc @ezyang @gchanan @zou3519 @bdhirsh @heitorschueroff @jlin27 @mru

[2020-10-22 21:57] suo commented on #41674
Hey, sorry for the late response here. The ONNX exporter—and the CoreML exporter, which is based on the ONNX exporter—does not handle modification of module attributes within a forward graph, because ONNX does not support doing that operation (not sure whether CoreML does, but I'm guessing it doesn't either).

[2020-10-22 22:14] kurtamohler opened #46743 "Add nondeterministic error for `index_copy_` if duplicate indices are given"
`index_copy_` is nondeterministic if the indices argument contains duplicate entries. When `torch.set_deterministic(True)` is set, it should produce an error.

[2020-10-22 22:19] kurtamohler commented on #46743
@ngimel, is `index_copy` also nondeterministic with duplicate indices, or is it just the in-place operation?

If it's only the in-place operation, then perhaps we should just fix the nondeterminism by using a temporary result tensor and copy it to `self` afterward. We could check if the deterministic flag is set and there are duplicate indices--only use a temp tensor in that case.

[2020-10-22 22:59] jamesr66a commented on #46665
Fix is landed. Let me know if you see any further issues

[2020-10-22 22:59] #46665 closed

[2020-10-22 23:16] nrxszvo opened #46745 ""Unconvertible NCCL type" with DataParallel and complex tensor"
## 🐛 Bug

`RuntimeError: Unconvertible NCCL type` when trying to execute a module containing complex tensors using DataParallel and 2+ GPUs

## To Reproduce

Steps to reproduce the behavior:

[code]

Output:
[code]

## Expected behavior

No error

## Environment

 - PyTorch Version (e.g., 1.0): 1.6
 - OS (e.g., Linux): Linux
 - How you installed PyTorch (`conda`, `pip`, source): conda
 - Build com

[2020-10-22 23:49] dskhudia opened #46748 "FX: Issue with handling infinity"
## 🐛 Bug

After symbolically tracing values like float("-inf") don't behave as expected.

## To Reproduce

Steps to reproduce the behavior:
[code]
output:
[code]

## Expected behavior

Same as original python code.

cc: @jerryzh168 @jamesr66a

[2020-10-23 00:36] ngimel commented on #46743
Yes, `index_copy` is also non-deterministic with duplicate indices.

[2020-10-23 00:41] vkuzo opened #46749 "Quantization - we need a better solution for tracking quantization backend settings in a model"
## 🐛 Bug: Quantization - we need a better solution for tracking quantization backend settings in a model

Currently, there are various points of confusion:
1. a target backend (qnnpack / fbgemm) is usually chosen during model preparation, but it is not saved in the model
2. in a Python environment, a global flag `torch.backends.quantized.engine`, which must be manually set, controls whether qnnpac

[2020-10-23 00:43] leockl commented on #25481
Hi @JonathanVacher, many thanks for your reply.

However, I am looking for an implementation which works for positive **semi-definite** matrices. All the implementations that are available in this issue are only applicable for positive **definite** matrices?

[2020-10-23 01:12] x12901 opened #46752 "Problems installing the C++ version of PYTORCH"
## 🐛 Bug

https://pytorch.org/cppdocs/installing.html#installing-c-distributions-of-pytorch
I followed the instructions on the website and tried to install libtorch.I was able to build example-app.cpp correctly, but had trouble changing to my code.I installed w_mkl_2020.3.279 and still have the problem.

## To Reproduce

Steps to reproduce the behavior:

[code]
[code]

## Environment

[code]

## M

[2020-10-23 01:38] v-qjqs commented on #46697
Hi @zhangguanheng66, thanks for your comments. There is no difference during inference.
Yeah I use dropout with non-zero probability 0.1, I guess this might be the reason and I will check it.
Thanks.

[2020-10-23 02:10] zhousteven commented on #42441
@mszhanyi i have try this way, still occuring  the same error

[2020-10-23 02:12] abcyzj opened #46753 "Memory leak when creating new tensors inside nn.DataParallel on multiple GPUs"
## 🐛 Bug

I need to create tensors of different shapes in my module's forward method. When running on multiple GPUs using nn.DataParallel, the memory of the created new tensors is not properly freed, causing huge memory leakage.

## To Reproduce

Steps to reproduce the behavior:

1. Save the following code to a main.py file
[code]
2. Run `python main.py` on a Linux machine with two or more GPUs.
3

[2020-10-23 02:14] mszhanyi commented on #42441
Could you please tailor you project and provide a small demo for us?

[2020-10-23 02:24] ezyang commented on #46522
I wonder if we can upload a fake source package that just errors when you try to build it. Maybe PyPI won't like that though...

[2020-10-23 02:27] ezyang commented on #46720
This seems reasonable to support.

[2020-10-23 02:29] ezyang commented on #46712
I guess there's something wrong with the cpp docs. The source file `aten/src/ATen/core/Dict.h` does have comments describing the API; does that help you solve your problem?

[2020-10-23 02:32] raghuramank100 commented on #46749
These are good ideas. We will need to also emphasize that a created quantized model for one backend can also be used in another.  This is currently done by setting the backend prior to loading a model. We will need to explain how a model can be transferred to a different backend. Perhaps a model.to_backend() sort of API would be useful?

[2020-10-23 02:32] ezyang commented on #46702
cc @vishwakftw who enabled float16 on multinomial in #29266. Also cc @kshitij12345 who most recently worked on the algos here and may have some insights.

[2020-10-23 02:42] #37493 closed

[2020-10-23 02:46] #44873 closed

[2020-10-23 02:55] glaringlee commented on #45505
landed

[2020-10-23 02:55] #45505 closed

[2020-10-23 02:57] soumith commented on #46522
there are some pypi packages that do that. in fact, we have such a fake package for `pip install pytorch`: https://pypi.org/project/pytorch/1.0.2/#files

The entire source is a setup.py (and some metadata) that look like this:

[code]

[2020-10-23 03:22] lastsongforu commented on #31914
I meet the same problem. my network also include torch.inverse(), how to process it?

[2020-10-23 03:37] HumberMe opened #46756 "why the scales in quantization are floats not in the format of m/2^n"
on the hardware, while we are doing quantized model inference, we use featmap*m/2^n to simulate resaling from one layer(int32) to another(int8).
but in the pytorch quantization, it is found that the scale is simply calculated by (max-min)/255, while max and min are both floats.
due to the m and n are both integer, scale(m/2^n) is not totally equal to scale((max-min)/255)

For example, max = 3.1415

[2020-10-23 03:49] sidml commented on #43845
In windows 10, I get the following error when i try to import pytorch.

As mentioned earlier, the error can be resolved by installing Microsoft Visual C++ 2015-2019 Redistributable.

[2020-10-23 03:58] zhousteven commented on #42441
@peterjc123 Have tried your idea, when i only import the relate packages, there isn't an error occring, when i use .exe file; the code coped below:
#!/usr/bin/python
# -*- encoding:utf-8 -*-
import numpy
import torch
import torch.nn as nn
from torchvision import transforms
from torch.autograd import Variable
from torchvision import models

from PIL import Image
import logging.config
import yaml
im

[2020-10-23 04:17] #35660 closed

[2020-10-23 04:23] adamjstewart commented on #23482
Alright, I tried building the master branch of PyTorch without any patches. I used GCC 5.3.0, Python 3.8.6, CUDA 9.1.85, and binutils 2.35. @malfet here are the relevant files you asked for:

* [build log](https://github.com/pytorch/pytorch/files/5427298/spack-build-out.txt)
* [build env](https://github.com/pytorch/pytorch/files/5427299/spack-build-env.txt)
* [build.ninja](https://github.com/pytor

[2020-10-23 04:27] Buckeyes2019 commented on #46602
I am following this tutorial script exactly.

https://ohmeow.com/posts/2020/05/23/text-generation-with-blurr.html

Again, it works well through the learning rate finder cell (learn.lr_find(suggestions=True)), but the following cell (learn.fit_one_cycle(1, lr_max=3e-5)) generates the OOM error.  If I reboot and go straight to the (learn.fit_one_cycle(1, lr_max=3e-5)) cell I can run it successfully

[2020-10-23 04:40] SplitInfinity commented on #46549
I investigated this and the issue is that `self.module` is scripted, even when accessed in an ignored function. The interface for `ScriptModule` doesn't have `items()` because it is used for all scripted modules, even those that are not `ModuleDicts`. I found this workaround:

[code]

[2020-10-23 04:42] ngimel opened #46757 "negative second argument in `torch.eye` is ignored"
If second argument to `torch.eye` is negative, it is treated as missing argument (e.g. `torch.eye(5,-1)` is the same as `torch.eye(5)`.
We should either error out, or document this behavior.
Numpy errors out for negative second argument.

cc @jlin27 @mruberry @vishwakftw @jianyuh @nikitaved @pearu @heitorschueroff

[2020-10-23 05:45] peterjc123 commented on #46752
Please download the MKL package and run the following script to set it up.
[code]

[2020-10-23 06:13] kshitij12345 commented on #46458
Yes that is the case but since `sin(char)` matches both `sin(double)` and `sin(float)` compiler error with ambiguous overload.
https://www.godbolt.org/z/bdvK76

[2020-10-23 07:03] curehabit commented on #30655
I meet the exception too. Have you resolve it?

[2020-10-23 07:08] omeryasar opened #46759 "torch.jit.unused"
Hi,
I have an pytorch model which I want to be able to make inference in c++. So to do that I try to obtain torchscript model. But as you know torchscript do not allow all some datatypes, some code flows(try except blocks) etc. But I have some dependencies like numpy and other libraries that torch.jit.script do not likes. So when I use @torch.jit.unused annotation is this have a meaning that I can

[2020-10-23 08:43] x12901 commented on #46752
Thank you.

[2020-10-23 08:44] #46752 closed

[2020-10-23 09:04] max-niu opened #46760 "How to define a new data type in native_functions.yaml?"
How to define a new data type in  native_functions.yaml?
Such as there is exist a data type "int[]"，bu i want a data type "float[]"，what sould i do?
Looking forward to your advice, I will be very grateful！

[2020-10-23 09:24] JiJunhua commented on #3492
yep!!!

[2020-10-23 09:36] zhousteven commented on #42441
@mszhanyi @peterjc123@WestbrookZero first, best appreciate yours kindly help and useful idea. after trail and error find that below method solved my error:
before input package commandline, enter "chcp 65001", after that
enter "pyinstaller -F vgg.py"

[2020-10-23 10:27] hlahkar opened #46761 "torch.abs() not working for sparse tensor"
Steps to reproduce the behavior:

Call torch.abs on a sparse tensor
Below is a code sample:

import torch

i = torch.LongTensor([[0, 1, 1],
                      [2, 0, 2],
                      [2, 0, 2]])

v  = torch.FloatTensor([3, -44, -5])

s = torch.sparse.FloatTensor(i, v, torch.Size([2, 4, 4]))

print(s.abs())

Actual behavior
Traceback (most recent call last):
  File "sparse_torch_abs.py"

[2020-10-23 11:06] v0dro commented on #38115
@ailzhang I have a question about `TransformerDecoderLayer` and other related layers. I'm currently using the following snippet, which fails. However could you please verify if making this layer work with such inputs is necessary at all? It fails with the error: `RuntimeError: cannot reshape tensor of 0 elements into shape [-1, 0, 64] because the unspecified dimension size -1 can be any value and

[2020-10-23 11:22] rmcavoy commented on #46712
Yes, I eventually figured it out.

[2020-10-23 12:26] km19809 opened #46763 "Raise a TypeError when nn.Module.train parameter misuse."
## 🚀 Feature

Raise a Type Error when a user misuses nn.Module.train
## Motivation

I requested this because the TypeError prevents misuse. \
Pytorch has type hint, but I do not think that is enough. \
When I was training a pytorch model, I met an error:\
 `TypeError: dropout(): argument 'train' (position 3) must be bool, not torch.device`\
I tried to find that, but the argument 'train' did not ex

[2020-10-23 13:22] li012589 opened #46764 "einsum ignore transpose(.t) when input matrix dimension is big?"
## 🐛 Bug

einsum ignore matrix transpose method (`tenosr.t()`) when inputs dimensions are big.

## To Reproduce

I found this piece of code reports an error when I try to implement a simple kronecker product. In theory, the assert statment shouldn't report anything. Also, when change `lineSize`  to 128, the error will not be reported.

And a close examination shows that when `lineSize` is 256, kro

[2020-10-23 13:36] leoheck commented on #45971
How do you update sleep version? I would like to do it manually to give it a try.

[2020-10-23 13:55] ezyang commented on #46712
Issue still stands to debug rendering problems in C++ docs

[2020-10-23 14:21] ezyang commented on #46522
@malfet seems like a good task to add to the infra list

[2020-10-23 14:38] albanD commented on #45592
Link to landed master PR: https://github.com/pytorch/pytorch/pull/46676
Link to release branch PR: https://github.com/pytorch/pytorch/pull/46765
Criteria category: Remove public functions that should not be public `add_relu`.

[2020-10-23 14:40] cobie8a opened #46766 "Unable to compile from code v1.6.0"
## 🐛 Bug

FAILED: caffe2/CMakeFiles/op_registration_test.dir/__/aten/src/ATen/core/op_registration/op_registration_test.cpp.o

## To Reproduce

Steps to reproduce the behavior:

Run the snippet below:
export \
  CFLAGS="${CFLAGS/-fno-plt/}" \
  CXXFLAGS="${CXXFLAGS/-fno-plt/}" \
  USE_CUDA=1 \
  USE_CUDNN=1 \
  CUDNN_LIB_DIR=$CUDA_HOME/lib64 \
  CUDNN_INCLUDE_DIR=$CUDA_HOME/include \
  MAGMA_HOME=

[2020-10-23 15:03] lw commented on #46561
I need to revert this PR because it broke the functional tests of [PyTorch-BigGraph](https://github.com/facebookresearch/PyTorch-BigGraph). It causes a Gloo internal assert to fail when calling `torch.distributed.new_group`. This is the full log:
[code]

[2020-10-23 15:04] LucaMarconato commented on #30525
same issue on CentOS
[code]

[2020-10-23 15:06] glaringlee commented on #46712
It seems doxygen failed to generate the entire doc for c10:Dict. It probably because there are something specials in the comments which doxygen doesn't support well (eg. Macros). I will dig a bit later.

[2020-10-23 15:18] nikitaved commented on #46496
LAPACK returns 1-indexed pivots because of Fortran, SciPy subtracts 1 to make it C-style. Is there a chance that PyTorch will switch to the C-style indexing, @mruberry ?

The reason I am asking is because now that LU does support backward, I want to extend it to LU_solve. LU_solve is in ATen, and I need `lu_unpack` which comes from Python. Hence I either need to implement `lu_unpack` in ATen, or c

[2020-10-23 16:23] JonathanSum commented on #32516
So...it doesn't support window10 ?

[2020-10-23 16:29] Balandat commented on #46496
I definitely support getting rid of 1-indexing in all user-facing functions for consistency, this is just too big of a gotcha.

[2020-10-23 16:51] gmagogsfm commented on #46759
If you have part of code that's not TorchScript-friendly and not actually used in the model, you can annotate those method calls with `@torch.jit.unused` so that TorchScript won't error out during compilation and exporting.

More info can be found here:
https://pytorch.org/docs/stable/generated/torch.jit.unused.html

Closing for now, feel free to reopen if you have additional questions.

[2020-10-23 16:51] #46759 closed

[2020-10-23 17:17] mcarilli commented on #46649
Amp isn't intended for use with the C++ API yet.  Please follow the feature request for updates: https://github.com/pytorch/pytorch/issues/44710.

[2020-10-23 17:17] #46649 closed

[2020-10-23 17:21] mcarilli commented on #46649
In your case you could try hacking it as follows but don't consider it stable.
[code]

[2020-10-23 17:23] bertmaher commented on #46458
Oh, I see now, nvcc automatically gives you `float` and `double` overloads but not integer types.  I was assuming this was the cpp standard `sin` which does have an integer overload.  Anyways, fix is easy, should have it up in a few minutes.

[2020-10-23 17:33] ppwwyyxx commented on #45910
I think the existing doc only says it should be used on forward passes but not "per-forward-pass". The doc uses training as an example and there the two concepts are equivalent. But for inference it can be confusing.

[2020-10-23 17:33] jerryzh168 commented on #46749
doesn't that require rerunning the whole quantization flow?

[2020-10-23 17:38] jerryzh168 commented on #46749
Sounds good, I think we should be more explicit about the backend. However I'm also thinking about why we used global flag in the first place and I think we should address the concerns that leads to that decision as well. One thing I can think of is that we are currently using this global flag to decide which kernels to run, e.g.: https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native

[2020-10-23 18:05] BigDvsRL opened #46775 "Error with installing through Pip"
Since i havent found that Topic yet....

I'm always getting an Error when i'm trying to install Pytorch through Pip3 on my Windows 10 system

Error:

Collecting torch
  Using cached torch-0.1.2.post2.tar.gz (128 kB)
Requirement already satisfied: pyyaml in c:\users\flo\appdata\local\programs\python\python37-32\lib\site-packages (from torch) (5.1.1)
Building wheels for collected packages: torch
  B

[2020-10-23 18:05] supriyar commented on #46749
Right. I believe that was one of the main motivation. We would need an additional "backend" in dispatch to distinguish between FBGEMM/QNNPACK and any other potential future optimized backends we want to run on. The idea was that we would use the QuantizedCPU backend and switch between different architectures based on the global runtime flag.

Another use-case where this is used in the PT codebase

[2020-10-23 18:08] ngimel commented on #46702
It looks like sampleMultinomialOnce kernel is busted.
So we have 2 options here:
1) look over it and fix what's broken. The kernel is not the easiest one to look at, and fixing weird errors where cumsum of positive numbers is not guaranteed to be monotonic is very painful (for sample-more-than-once there's a special kernel fixing that weirdness I believe)
2) use sample without replacement algorith

[2020-10-23 18:25] #7134 closed

[2020-10-23 18:35] xwang233 opened #46782 "distributed/_pipeline/sync/skip/ tests have different arg parsers"
## 🐛 Bug

distributed/_pipeline/sync/skip/ tests have different arg parsers, introduced in https://github.com/pytorch/pytorch/pull/44090

## To Reproduce

Steps to reproduce the behavior:

[code]
`-f` is a flag for fail fast which works for all other test modules but not tests introduced in this PR. There should be some consistency for all tests.

[code]

but

[code]

## Expected behavior

No fail

[2020-10-23 18:55] anderspapitto commented on #41162
it should be possible to speed this up while maintaining bitwise determinism by implicitly using something like a parallel prefix sum (https://en.wikipedia.org/wiki/Prefix_sum#/media/File:Hillis-Steele_Prefix_Sum.svg).

E.g. instead of summing 10^6 values directly into a single result, sum each 10^3 chunk into each of 10^3 artificial accumulator variables, then sum those 10^3 in a second pass. The

[2020-10-23 19:08] vkuzo commented on #46749
We could break this down into separate dependent issues:
1. the most pressing - a quantized model does not contain explicit information on which backend, if any, the model targets.  We can attach that information, and set right global flags automatically based on this metadata during inference, and throw warnings or exceptions if the user is trying to do something unexpected (reduce_range, unsuppo

[2020-10-23 19:09] zhangguanheng66 commented on #46734
move to pytorch/torchvision

[2020-10-23 19:13] zhangguanheng66 commented on #46741
Compatibility issue with numpy.

[2020-10-23 19:26] vadimkantorov commented on #40373
My simple "shapeguard"-like experiment: https://gist.github.com/vadimkantorov/71155662378b46cd07b6287f6be7c951

[2020-10-23 19:27] zhangguanheng66 commented on #46775
Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)

You can get the script and run it with:
[code]

[2020-10-23 19:28] malfet commented on #46775
Please download PyTorch Windows wheels from download.pytorch.org rather than from PyPi repo, as documented in
https://pytorch.org/get-started/locally/
For example, trying installing using the following command:
[code]

[2020-10-23 19:28] #46775 closed

[2020-10-23 20:01] zhangguanheng66 commented on #46764
See different behavior with a lineSize of 128 and 256.

[2020-10-23 20:06] vadimkantorov commented on #44026
A similar hack I did: https://gist.github.com/vadimkantorov/71155662378b46cd07b6287f6be7c951

[2020-10-23 20:59] JesseLivezey commented on #22620
#46284 closes this for the full rank case!

[2020-10-23 21:07] nikitaved commented on #22620
@JesseLivezey , unfortunately, not yet. It is the combination of `lu` and `lu_solve` in forward which is required to propagate to the original input you call `lu` on. So, the next step is to implement backward for `lu_solve`.

Since `lu_solve` is implemented in ATen, the easiest way to implemented is to make an ATen version of `lu_unpack`.

[2020-10-23 21:17] DarkGeekMS opened #46787 "Clearer error messages for 'different devices' error in the RNN module"
Hello,
I have been working with PyTorch's RNN module and I came across some vague error messages.

## Problem Description
Here is a snippet of the code I'm working on :
[code]
[code]
An error was produced because the model and the batch data were on different devices (GPU and CPU, respectively). Here is the error trace :
[code]

## Solution
This was solved by moving the batch data to GPU :
[code]

[2020-10-23 21:20] #44283 closed

[2020-10-23 22:27] jerryzh168 commented on #42351
cc @raghuramank100 could you assign this issue to someone if we want to support this in this half?

[2020-10-23 22:28] jerryzh168 commented on #46005
this is no longer needed, we'll have fixed qparams for sigmoid

[2020-10-23 22:28] #46005 closed

[2020-10-23 22:34] jerryzh168 commented on #46562
@vkuzo looks like I need this now, I'll take a look.

[2020-10-23 22:37] osalpekar commented on #46782
cc @pritamdamania87 seems like the pipeline parallel tests introduced in #44090 don't respect the `-f` fail-fast flag

[2020-10-23 22:55] yaroslavvb commented on #25481
Should work for singular matrices, that's what `above_cutoff` logic is for

[2020-10-23 23:27] 3DTOPO opened #46794 "Nightly build not working with GeForce 3090"
## 🐛 Bug

I just installed a 3090, NVIDIA 455.23.04 and installed PyTorch nightly with:

`conda install pytorch torchvision cudatoolkit=10.2 -c pytorch-nightly`

When I try to run I get this message:

The current PyTorch install supports CUDA capabilities sm_37 sm_50 sm_60 sm_61 sm_70 sm_75 compute_37.
If you want to use the GeForce RTX 3090 GPU with PyTorch, please check the instructions at https

[2020-10-23 23:32] 3DTOPO commented on #46794
Looks like the solution is in issue #45028:

'conda install pytorch torchvision cudatoolkit=11 -c pytorch-nightly'

I'm trying that now (I have to install cuda 11 first) and will report back.

[2020-10-23 23:35] osalpekar commented on #46745
Confirming that I was able to repro this issue. Seems like the error message is coming from `torch/csrc/cuda/nccl.cpp` when converting from `at::ScalarType` to NCCL types. Based on https://github.com/pytorch/pytorch/issues/45760, we are adding complex tensor support to the collectives individually (using `torch.view_as_real()`) since NCCL does not support complex types natively (see [here](https:/

[2020-10-23 23:42] osalpekar commented on #45760
@anjali411 @bdhirsh @mrshenli  Can we use this approach to add complex tensor support to `broadcast_coalesced` as well? nn.DataParallel replicates the model across GPUs using `broadcast_coalesced`, and it throws an exception when trying to broadcast complex tensors (for reference: https://github.com/pytorch/pytorch/issues/46745).

[2020-10-23 23:44] osalpekar commented on #46753
@abcyzj Thanks for reporting this! DistributedDataParallel provides maximum performance and efficiency for distributed training, so I would encourage using that if possible. In the meantime, I can try to repro and trace through the code to see if there's a potential memory leak.

[2020-10-24 00:13] 3DTOPO commented on #46794
I'm up and running now, might be nice to add the above line to the configurator.

[2020-10-24 00:13] #46794 closed

[2020-10-24 00:28] frgfm opened #46797 "Missing support of typing for torch.maximum"
## 🐛 Typing support of bare torch functions

Hello there :wave:

Just reporting a small typing miss I just noticed.
Apparently, `torch.maximum` does not support typing. I suspect there might be others as well.

## To Reproduce

Running mypy on the following snippet
[code]
yields
[code]

## Expected behavior

Typing verification with mypy should run smoothly on this snippet.

## Environment

 - PyT

[2020-10-24 00:37] #46458 closed

[2020-10-24 00:43] #46489 closed

[2020-10-24 01:09] abcyzj commented on #46753
@osalpekar Thanks for your advice, I have switched to DistributedDataParallel after encountering this bug.

[2020-10-24 01:31] kroq-gar78 commented on #34116
Compiling with commit 789e9353044eb2227462ef470e4b362ac025be4d , this bug still exists. I would contribute a patch myself, but I wouldn't know where to start if I wanted to.

cc @gmagogsfm ? (sorry if you're the wrong person to tag!)

[2020-10-24 01:48] peterjc123 commented on #46775
Also, please use Python x64 instead.

[2020-10-24 02:00] anderspapitto commented on #41162
here's a proof of concept of manually applying the transformation - but pytorch could do it automatically. 30x speedup, still deterministic

[code]

[code]

[2020-10-24 03:21] Coderx7 commented on #46318
I could really appreciate a feedback on this.

[2020-10-24 03:31] zrss opened #46800 "torch in cloud(randomly sche) may have server connect timeout problem"
TcpStore listen at all addresses (0.0.0.0), as it listen at `port`

https://github.com/pytorch/pytorch/blob/789e9353044eb2227462ef470e4b362ac025be4d/torch/lib/c10d/TCPStore.cpp#L301-L310

a pytorch server proc will start a tcp-daemon and then connect to it by `address:port`

recently, we have this case, launch the pytorch in two nodes (n1:192.x.x.0, n2:192.x.x.1), and due to the proc of pytorch is

[2020-10-24 04:13] yxchng opened #46802 "DataLoader gives "Broken pipe" error on Linux platform"
## 🐛 Bug

Pytorch's DataLoader gives "Broken pipe" error on Linux platform (not Windows). Using `num_workers=0` suppresses the error but that not a satisfying solution (more of a workaround) because it will largely reduce the efficiency of the code.

## To Reproduce

Steps to reproduce the behavior:

[code]

Stack trace:
[code]
## Expected behavior

Runs without any error.

## Environment

Please

[2020-10-24 04:28] #44038 closed

[2020-10-24 04:33] llv22 opened #46803 "About 2 bug-fixes on macOSX 10.13.6"
## 🐛 Bug

During building pytorch 1.7 on macOSX 10.13.6, cuda 10.1(update2), Xcode 10.1(clang 1000.11.45.5), I found the following two bugs and adjusted code accordingly on my local mac. Just update information to you in case that you need to fix as well.

## To Reproduce

Using "MAGMA_HOME="/usr/local/lib/magma-cu101" MACOSX_DEPLOYMENT_TARGET=10.9 CC=clang CXX=clang++ USE_OPENMP=OFF USE_FBGEMM=OF

[2020-10-24 05:41] faizankshaikh commented on #46724
Possibly similar to #25150 ?

[2020-10-24 06:01] szhengac opened #46806 "Compile Pytorch with MAGMA Issue"
I tried to compile pytorch from source with magma. I compiled magma from source and it is installed in `/usr/local/magma` The following compilation log shows that magma lib can be found:

[code]

But when I tried `torch.svd(torch.rand(3,3).cuda())`, I received `RuntimeError: svd: MAGMA library not found in compilation. Please rebuild with MAGMA.` Any help on it is very appreciated.

[2020-10-24 06:18] walterddr commented on #46766
looks like your system collect_env.py result shows you dont have CUDA properly installed (but you have cuDNN verison. Can you check whether you have your CUDA lib installation correctly?

[2020-10-24 06:37] stas00 opened #46807 "[tf-nightly] segfaults"
## 🐛 Bug

`malloc(): invalid size (unsorted)`

it works fine under pytorch-1.6

## To Reproduce

Steps to reproduce the behavior:

[code]

I don't know anything about this code.

log:
[code]

## Environment

it works fine under pytorch-1.6, segfaults under nightly

[code]

[2020-10-24 06:46] cpuhrsch opened #46808 "batch_norm const running_mean/_var modified in-place"
## 🐛 Bug

batch_norm modifies [running_mean](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/Normalization.cpp#L260) and [running_var](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/Normalization.cpp#L264) in-place and yet [the schema](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/native_functions.yaml#L743) indicates the arguments are

[2020-10-24 07:29] arsenzaryan commented on #46024
@yanz0920 those suggestions don't help, I tried. Neither separately nor in combination. It seems there is something deeper here.
Thanks anyway

[2020-10-24 08:19] AD2605 opened #46809 "Including AdaBound in the list of Optimizers."
### 🚀 Feature

Hello all,
I would like to add Adabound to the list of existing optimizers in the torch.optim module.
Here is the link to the paper - https://openreview.net/pdf?id=Bkg3g2R9FX

### Motivation

In most of my models, I realized Adam started off good but never converged or got stuck even after scheduling the learning rate, and if I started with SGD, the loss turned into NaNs soon. Out o

[2020-10-24 13:15] Coderx7 opened #46811 "Mismatch between torch.range() and Python's range()"
## 🐛 Bug

The behavior of `torch.range` (and its libtorch counterpart) is different than the expected Python's built-in `range`.

## To Reproduce

Steps to reproduce the behavior:
[code]
outputs :
[code]

## Expected behavior

It should behave in the same way as Python's `range`.

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubuserconten

[2020-10-24 13:45] Coderx7 commented on #46811
Seems range is deprecated and `torch.arange` is recommened. the torch.arange seems to be having the same behavior as Pythons

[2020-10-24 13:45] #46811 closed

[2020-10-24 15:10] IvanYashchuk commented on #42666
MAGMA implementations are generally hybrid CPU/GPU. They have several variants of functions distinguished by a suffix, the suffix indicates in what memory the input data starts and ends. In the case of SVD, there are no implementations with the `_gpu` suffix. It's not clear whether they are going to implement this ([link](https://icl.cs.utk.edu/magma/forum/viewtopic.php?t=3807)). [There are severa

[2020-10-24 17:06] SsnL commented on #46808
see also https://github.com/pytorch/pytorch/issues/13402

[2020-10-24 18:49] tovacinni commented on #27212
+1

[2020-10-24 19:56] #46047 closed

[2020-10-24 21:10] martinjankowiak opened #46814 "median on GPU is wrong for discontiguous tensors"
## 🐛 Bug

`median` produces incorrect results on GPU (but not CPU afaict).

## To Reproduce

[code]

my apologies if this is covered by existing issues.

## Environment

PyTorch version: 1.6.0
Is debug build: False
CUDA used to build PyTorch: 10.1
ROCM used to build PyTorch: N/A

OS: Debian GNU/Linux 9.12 (stretch) (x86_64)
GCC version: (Debian 6.3.0-18+deb9u1) 6.3.0 20170516
Clang version: Could

[2020-10-24 23:31] nikitaved commented on #25481
@leockl, if it is the backward you are concerned about (reciprocals of pairwise sums), note that the matrix square root is a function of matrix, which allows to get the gradient by running the function of a matrix on a larger input.
Check out:
[code]
It is exactly how the backward for the matrix exponent is implemented in PyTorch.

[2020-10-24 23:40] nikitaved commented on #25481
On the note regarding `symeig.backward` stability. It is only stable for inputs of full rank with distinct eigenvalues.

[2020-10-25 01:00] brando90 commented on #32909
@Coderx7  I'm confused, is this custom binaries for pytorch for the CPU knl (Knights Landing)? Or what is this issue about?

[2020-10-25 02:27] tengerye commented on #46375
@gmagogsfm Hi, thank you for your kind reply. But the error message still indicates the problem from a in-library module `rnn.py`.

[2020-10-25 08:07] dugudongfangshuo opened #46816 "TORCH.JIT.UNUSED 's code can't run"
## 📚 Documentation
document url is [https://pytorch.org/docs/stable/generated/torch.jit.unused.html](url)
in there code is
[code]
in the  __init__  the var is use_memory_efficent
but in   def forward the var is use_memory_efficient
so this code can't run
correct is all use_memory_efficent
i hope you can fix it

cc @gmagogsfm

[2020-10-25 10:45] JoabeSilva commented on #43054
Hi,

I have the same problem. @izdeby, is ther any solution on forums? I couldn't find it there either.

[2020-10-25 11:19] ferrine commented on #46159
I played around with different suggestions, this was the best one

[2020-10-25 11:19] #46159 closed

[2020-10-25 11:49] ozen commented on #46034
[Official announcement from NVIDIA](https://forums.developer.nvidia.com/t/nvidia-driver-not-yet-supported-for-linux-kernel-5-9/157263):

For future reference, the latest NVIDIA Linux driver version as of this writing is 455.28.

[2020-10-25 11:49] #46034 closed

[2020-10-25 12:18] minghuisvn opened #46818 "working as the eval() mode, but the net with the batchnorm layer will raise an error, suggesting needing more than one sample input."
## 🐛 Bug

Net with BatchNorm layer , which was set as eval(),  raised an error  when giving an tensor containning only one sample as  input. The error is as follow:
ValueError: Expected more than 1 value per channel when training, got input size torch.Size([1, 1150])

## To Reproduce
My code is:
[code]

## Expected behavior
For one sample input, I hope the net will give an entry output since I hav

[2020-10-25 12:44] brando90 commented on #32909
related: https://discuss.pytorch.org/t/custom-cpu-binaries-for-intel-knights-landing-for-pytorch/100563

[2020-10-25 13:24] Rizhiy opened #46819 "Specify input dimensions where they are not obvious"
## 📚 Documentation

It would be great if all modules where input dimensions are not obvious would specify them explicitly in documentations/docstrings. e.g. `nn.TransformerEncoder` has `src = torch.rand(10, 32, 512)` as part of example, but it took me some time to confirm that input should be (S,N,C).

[2020-10-25 13:29] linqingfan opened #46820 "simple v *= v_scale error"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
v *= v_scale

RuntimeError: diff_view_meta->output_nr_ == 0 INTERNAL ASSERT FAILED at "../torch/csrc/autograd/variable.cpp":363, please report a bug to PyTorch.

I printed the v value as

tensor([[[[ 1.2014e-02,  1.2068e-02,  9.7856e-03,  8.8714e-03,  8.5734e-03,
            2.9168e-03,  2.1199e-05, -2.8829e-03, -8.2607e-03, -1.5328e-02,

[2020-10-25 13:34] Coderx7 commented on #32909
@brando90 this is/was about the current status of formerly known `MKLDNN`/`DNNL`/`oneDNN`/`OneAPI` support in Pytorch. I'm not aware of the latest changes, and how much pytorch implemented and suports oneDNN features.

[2020-10-25 13:41] SlowMonk opened #46821 "DistributedDataParallel device_ids and output_device arguments only work with single-device CUDA modules, but got device_ids 1"
tryint to do the multi gpu training.

got

`DistributedDataParallel device_ids and output_device arguments only work with single-device CUDA modules, but got device_ids 1`

[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528 @osalpekar @jiayisuse @agolynski

[2020-10-25 14:27] meganset opened #46822 "C++ Optimizer: remove warning on Optimizer::size method"
When optimizer groups were implemented in the c++ api,
warnings were placed on Optimizer methods that did not extend to multiple parameter groups,
e.g. in _**api/src/optim/optimizer.cpp**_

[code]
The warning makes sense since the returned vector of parameters omits any additional parameter groups.
But for the **_size()_** method, the count of parameters is accurate in the case of multiple paramet

[2020-10-25 14:34] arbellea commented on #11813
@w-hc
Your solution looks very useful! Could you post a short code snippet of how to use it?
Thanks

[2020-10-25 15:27] deKeijzer commented on #46205
Sorry for the late response, it has been quite busy.

The problem seems to persist with Python 3.9.0 64-bit, CUDA 10.2 and pip 20.2.4.

[2020-10-25 16:16] BigDvsRL commented on #46775
Result:

C:\Users\Flo>pip install torch===1.6.0 torchvision===0.7.0 -f https://download.pytorch.org/whl/torch_stable.html
Looking in links: https://download.pytorch.org/whl/torch_stable.html
ERROR: Could not find a version that satisfies the requirement torch===1.6.0 (from versions: 0.1.2, 0.1.2.post1, 0.1.2.post2)
ERROR: No matching distribution found for torch===1.6.0

[2020-10-25 17:11] peterjc123 commented on #46775
@BigDvsRL Two possible reasons:
1. You are using Python x86. But we only support Python x64.
2. You are using Python 3.9. But we only support Python 3.6-3.8.

[2020-10-25 17:17] BigDvsRL commented on #46775
Now i installed Python 3.7 64-bit

Current Error:

Collecting torch
  Using cached torch-0.1.2.post2.tar.gz (128 kB)
Requirement already satisfied: pyyaml in c:\users\flo\appdata\local\programs\python\python37\lib\site-packages (from torch) (5.3.1)
Building wheels for collected packages: torch
  Building wheel for torch (setup.py): started
  Building wheel for torch (setup.py): finished with statu

[2020-10-25 17:33] peterjc123 commented on #46775
Please use `pip install torch===1.6.0 torchvision===0.7.0 -f https://download.pytorch.org/whl/torch_stable.html
Looking in links: https://download.pytorch.org/whl/torch_stable.html` with Python x64.

[2020-10-25 17:37] w-hc commented on #11813
@arbellea
There is no clean solution at the moment, esp given the added complexity of DDP training.
I have not been using it myself either.

[2020-10-25 17:58] jsrozner commented on #43352
Hi, I tried to do the pretty simple pull request. I'm not sure if I need to also recompile documentation or make any other changes?

[2020-10-25 18:02] BigDvsRL commented on #46775
You're right, it worked

I read through the Website. Maybe you should write it down somewhere that 64bit is needed

[2020-10-25 18:20] jamarju opened #46824 "new_ones() missing 1 required positional arguments: "size""
I'm getting this unexpected error on pytorch nightly (1.8.0.dev20201025) when I subclass Tensor and call `new_ones` on an instance of my subclass.

## To Reproduce

[code]

## Expected result

A tensor of 320 ones.

## Actual result

[code]

## Environment

[code]

cc @hameerabbasi @rgommers

[2020-10-25 19:58] Nicolae93 commented on #4224
Thanks to this [link](https://gauravm.gitbook.io/about/blogs/installing-pytorch-and-transformers-on-ibm-powerpc-architecture) I finally installed PyTorch 1.5.0 on ppc64le server using conda environment.

[2020-10-25 21:04] jamarju opened #46826 "x.shape return tuple instead of torch.Size"
## 🐛 Bug

Pytorch 1.8.0.dev20201025 here. Calling `x.shape` on Tensor `x` should return a `torch.Size` object but it returns a tuple instead.

## To Reproduce

[code]

## Expected result

[code]

## Actual result

[code]

## Environment

[code]

## Quick workaround in the meantime

[code]

cc @hameerabbasi @rgommers

[2020-10-25 22:35] asanakoy commented on #36524
what is `_stacklevel` by the way?

[2020-10-25 22:37] vadimkantorov commented on #36524
It is somehow related to Python's warning suppression mechanism

[2020-10-26 00:39] Atcold opened #46829 "Mixing Numpy's arrays and PyTorch tensors"
## 🐛 Bug

`t + a != a + t`, where `t` is a tensor and `a` is an array.

## To Reproduce

[code]

## Expected behavior

`t + a == a + t`.

## Environment

 - PyTorch Version (e.g., 1.0): 1.5.1

[2020-10-26 01:21] gchanan commented on #46820
do you get a warning like the following?

```__main__:1: UserWarning: Output 0 of SplitBackward is a view and is being modified inplace. This view is an output of a function that returns multiple views. Inplace operators on such views are being deprecated and will be forbidden starting from version 1.8. Consider using `unsafe_` version of the function that produced this view or don't modify this v

[2020-10-26 01:47] kyoung-myft commented on #41486
I have the exact same issue and cannot figure it out. Any progress?  Anything I can do to assist?

[2020-10-26 03:08] llv22 commented on #46803
@osalpekar I tried to figure out how to submit a minor merge for the bug. Anyway, submit patch here.
[orlando-for-patch-torch1.8-mac.patch.txt](https://github.com/pytorch/pytorch/files/5436595/orlando-for-patch-torch1.8-mac.patch.txt)
this also apply for 1.5-1.7

[2020-10-26 03:11] llv22 commented on #9257
@jiapei100
[orlando-for-patch-torch1.8-mac.patch.txt](https://github.com/pytorch/pytorch/files/5436600/orlando-for-patch-torch1.8-mac.patch.txt)
change orlando-for-patch-torch1.8-mac.patch, then apply it.
This is caused by installation for submodule peachpy, but in cmake no instruction generation has been triggered.

[2020-10-26 03:20] #46144 closed

[2020-10-26 03:21] anjali411 commented on #46144
fixed in #46275

[2020-10-26 04:40] ngimel commented on #46814
Easy repro
[code]
cc @heitorschueroff

[2020-10-26 05:54] freedom9393 commented on #4241
@zou3519 thanks, worked for me 👍

[2020-10-26 07:33] feihaochen commented on #34948
Hi, my suggestion is you can add a line before "model.eval ( )"

[2020-10-26 09:09] mruberry commented on #42666
Starting with SVD sounds OK. The UX work going on currently with SVD probably won't affect the performance investigation.

We are interested in improving the performance and stability of Cholesky. @heitorschueroff is going to start investigating workarounds to MAGMA's segfaults, but I imagine that any workaround will negatively impact MAGMA performance.

No global flags please. Either returning th

[2020-10-26 10:03] #46255 closed

[2020-10-26 10:08] linqingfan commented on #46820
Yes, the following is the warning, what could have been the problem?:

UserWarning: Output 1 of SplitBackward is a view and is being modified inplace. This view is an output of a function that returns multiple views. Inplace operators on such views are being deprecated and will be forbidden starting from version 1.8. Consider using `unsafe_` version of the function that produced this view or don't

[2020-10-26 11:15] linqingfan commented on #46820
Thanks for the hints. I just changed the following and it works now:

    u, v = flow.chunk(2, dim=1)
    #u *= u_scale
    u1 = u_scale*u
    u = u1.clone()
    #print(v,v_scale)

    #v *= v_scale
    v1 = v_scale*v
    v = v1.clone()

[2020-10-26 12:20] mruberry commented on #46763
Thanks for the suggestion, @zhangguanheng66! We would accept a PR implementing this check.

[2020-10-26 12:22] mruberry commented on #46761
Thanks for this feature request, @hlahkar. We would accept a PR implementing abs for tensors in sparse formats, but I would like to see the sparse test suite updated so the function is easy to test, first.

[2020-10-26 12:26] mruberry commented on #46496
I think we should, but we need to be mindful of deprecating these functions for existing users. In this case we have an easy solution - we can create a new function with the updated behavior for people to switch to and leave (possibly deprecating) the previous one.

[2020-10-26 14:35] offset-null1 commented on #25004
Run cmake as `cmake -DCMAKE_PREFIX_PATH=/path/to/libtorch ..`  from the build directory please refer the [docs](https://pytorch.org/tutorials/advanced/cpp_frontend.html)

[2020-10-26 15:04] ezyang commented on #46745
cc @bdhirsh

[2020-10-26 15:16] ezyang commented on #46760
Hi @max-niu, it would help as a lot if you could describe in a little more detail what you are trying to do (for example, if you are adding new custom operators to PyTorch, we typically advise people go through the flow at https://pytorch.org/tutorials/advanced/torch_script_custom_ops.html rather than edit `native_functions.yaml`)

That being said, `float[]` is already supported in `native_functio

[2020-10-26 15:22] vadimkantorov commented on #38349
feature request (probably turned up somewhere in issues, but a quick search did not found it): [numpy.diff](https://numpy.org/doc/stable/reference/generated/numpy.diff.html)

[2020-10-26 15:49] zhangguanheng66 commented on #46545
We have a PR to make `TransformerModel` JITable. https://github.com/pytorch/tutorials/pull/1197

[2020-10-26 15:59] ejguan opened #46848 "TorchScript not recognize -0.0 as argument"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Add a test `('copysign', (S, S), (-0.0,), 'scalar_neg_zero', (False,))` with `-0.0` as an input to [torch/testing/_internal/common_methods_invocations.py](https://github.com/pytorch/pytorch/blob/master/torch/testing/_internal/common_methods_invocations.py).
The PR is #46396.
1. Got an `AssertError` for `TestJitGeneratedAutograd` at ht

[2020-10-26 16:11] boeddeker opened #46849 "clip_grad_norm_ silently passes when not finite"
## 🐛 Bug

The function `clip_grad_norm_` ignores non-finite values.
Suggestion: Raise an Exception.

## To Reproduce

Steps to reproduce the behavior:
[code]
this yields on my notebook:
[code]

## Expected behavior

Raise an Exception to report, that `grad_norm` calculation was not successfull and
**don't change** the parameters.

Or alternatively, provide a non inplace version of `clip_grad_norm_

[2020-10-26 16:16] msbaines commented on #39662
I think there are issues with the c10d extension API. List[ranks] is not passed when creating a new group. MPI requires this. I worked around by replacing the builtin MPI. Also, MPI requires all ranks participate when creating a new group. The current implementation only calls the create method on the ranks that are part of the new group. In summary, it is not possible to "cleanly" implement Proce

[2020-10-26 16:45] vadimkantorov commented on #33043
Stumbled on this again. Explicit `ignore_key` is less error-prone and more explicit than leaving `strict = False` and validating `missing_keys`, `unexpected_keys` manually

[2020-10-26 16:54] mruberry commented on #46808
Linking other proposed batchnorm changes: https://github.com/pytorch/pytorch/issues/39674.

[2020-10-26 16:55] mruberry commented on #46818
Thank you for reporting this issue, @minghuisvn.

[2020-10-26 16:55] izdeby commented on #9257
Please, use our [forums](http://discuss.pytorch.org/) for questions. thank you

[2020-10-26 16:55] #9257 closed

[2020-10-26 16:56] mruberry commented on #46819
Thanks for the suggestion, @Rizhiy. This is tricker to make actionable since it's such a broad request, but we would accept any PRs that significantly improve the clarity of the documentation.

[2020-10-26 17:03] rgommers commented on #46829
This is a natural consequence of NumPy being more forgiving than PyTorch on what kinds of things it accepts and tries to convert to `ndarray`s.

Note that `t + a` will also error if `t` doesn't live on CPU.

I'm not sure there's a behaviour change to be made here. If there is, it'd be returning `NotImplemented` from `Tensor.__add__` rather than raising a `TypeError`. But I suspect that that then h

[2020-10-26 17:04] abhinavkulkarni opened #46854 "Unreliable behavior of torch::pickle_save"
## 🐛 `torch::pickle_save` not working for `module->parameters()`

## To Reproduce

I have the following simple program:

[code]

I am loading the weights saved above in Python as follows:

[code]

However, if I comment out the line containing `linear->parameters()` and uncomment the one below that where I construct the vector individually, I get the correct output in Python:

[code]

## Environmen

[2020-10-26 17:05] supriyar commented on #46756
PyTorch quantization docs has more details on this https://pytorch.org/docs/stable/quantization.html#quantized-tensors.

Closing this as it is not an issue/bug. If there are specific questions about quantization please use the discussion forums - https://discuss.pytorch.org/c/quantization/17

[2020-10-26 17:05] #46756 closed

[2020-10-26 17:06] mruberry commented on #46814
Not a regression from PyTorch 1.6.

[2020-10-26 17:08] mruberry commented on #46741
We would accept a PR improving the error message and the function's documentation to clarify this behavior.

[2020-10-26 17:09] supriyar commented on #46707
Thanks for flagging this, we will update the docs. cc @z-a-f

[2020-10-26 17:09] VitalyFedyunin commented on #46802
can you please comment what you are trying to archive with this line `input_search, target_search = next(iter(valid_queue))` as it looks like faulty to me as it creates new iterator on every outer loop and causing validation dataset workers to die sooner.

[2020-10-26 17:10] ezyang commented on #46808
This is not actually true; you can still use inplace ops on a `const Tensor&` reference.

[2020-10-26 17:12] ezyang commented on #46803
@llv22 would you mind opening a pull request for your patch?

[2020-10-26 17:12] albanD commented on #46808
This is a known issue.
Closing in favor of the original issue that has a lot of discussion already: https://github.com/pytorch/pytorch/issues/13402

[2020-10-26 17:12] #46808 closed

[2020-10-26 17:13] ezyang commented on #46849
Not sure about the other bits, but we should definitely do this.

[2020-10-26 17:15] louiskirsch commented on #22069
I'm facing the same issues. Any updates on this @Rishav1?

[2020-10-26 17:15] gchanan commented on #46820
related: https://github.com/huggingface/transformers/issues/8022

[2020-10-26 17:16] gchanan commented on #46820
Should we be throwing a better error message?

[2020-10-26 17:20] ezyang commented on #3667
@ngimel is concerned that cudnn apis may have changed since the time this issue was filed, so the immediate api request may no longer be valid.

[2020-10-26 17:23] ezyang commented on #46741
Error message => warning message

[2020-10-26 17:23] supriyar commented on #43209
I'm unable to repro this issue.

[code]

@Flamefire, can you check if you see the same issue with PT nightly?

[2020-10-26 17:26] ezyang commented on #46849
Raising an exception is not so easy when we're on CUDA.

[2020-10-26 17:29] ezyang commented on #46803
By the way, CUDA on OS X is an unsupported configuration (we're happy to take your fixes, but we won't be testing these continuously)

[2020-10-26 17:34] ezyang commented on #46849
We briefly discussed this in our triage meeting but we weren't sure what the correct API was; in particular, raising an exception is not something we want to do because it would imply a CUDA sync, which this method doesn't currently do.

It might be easier for us to say what to do if you could describe to use what your intended remediation for this situation would be!

[2020-10-26 17:42] kurtamohler commented on #46024
The new `torch.set_deterministic(True)` function (which hasn't been released yet, as far as I know) sheds a little bit of light. When I run your script with that, I get this error:

[code]

This error happens with some of the CUDA matrix multiply operations. When I set `CUBLAS_WORKSPACE_CONFIG=:4096:8`, this particular source of nondeterminism goes away. However, now I get another error:

[code]

[2020-10-26 17:43] mcarilli commented on #40497
What if you don't touch the convs, but force the muls to float, ie
[code]

[2020-10-26 17:51] donrax commented on #7068
With upsampling, interplation in 2D conv you can use:
`F.interpolate(x, scale_factor=2)`
Instead of
`F.interpolate(x, scale_factor=2, mode='bilinear', align_corners=True)`
To get deterministic behaviour.

[2020-10-26 17:54] boeddeker commented on #46849
Ok, I try to explain my motivation.
In our framework around pytorch ([padertorch](https://github.com/fgnt/padertorch/blob/62ae19fd1ffe9056b49a3d6a4e32667082420326/padertorch/train/trainer.py#L704-L744)) we do some
cheap error checks to save the user some hours for the bug search.
So we check the loss if it is finite and report this to the user.

Sadly, it turns out, that it is more likely that a f

[2020-10-26 18:03] mrshenli opened #46863 "test_async_function_remote_multi is flaky"
This seems to be rare, so not disabling the test yet.

https://app.circleci.com/pipelines/github/pytorch/pytorch/231065/workflows/d7cdc999-62a6-42a1-a298-8385c873451a/jobs/8453200/steps

[code]

[2020-10-26 18:28] albertotono commented on #28321
running

`pip install torch==1.3.1+cu92 torchvision==0.4.2+cu92 -f https://download.pytorch.org/whl/torch_stable.html`

gave me this error,

[code]

[2020-10-26 18:37] albertotono commented on #28321
Ok, I needed to install python 3.6 first.

[2020-10-26 18:59] ngimel commented on #44866
Closing, please reopen if this reproduces on the latest version.

[2020-10-26 18:59] #44866 closed

[2020-10-26 19:15] albanD commented on #46820
After discussing it on slack, the right solution here is most likely to finish the deprecation cycle for the view/inplace behavior. This will make it have the proper error message and not an internal assert error.
This would consist in:
- update it here: https://github.com/pytorch/pytorch/blob/b5662ba0f0cb6d99805a44dd5b6bcda128468c83/torch/csrc/autograd/variable.cpp#L491
- update the messages just

[2020-10-26 19:21] mothguib opened #46868 "Pytorch 1.6 does not detect CUDA (GPU)"
## Issue description

Pytorch 1.6 does not detect CUDA (GPU).

Installed with the following command:

`conda install pytorch torchvision cudatoolkit=10.2 -c pytorch`

## Code example

[code]

## System Info

`python -m torch.utils.collect_env`

returns

[code]

- OS: Arch Linux
- PyTorch version: 1.6
- Python version: 3.8
- CUDA/cuDNN version: 11.1 and 10.2 (tested with both)
- GPU models and conf

[2020-10-26 19:33] ezyang opened #46869 "[META] DO NOT DELETE THIS LABEL"
These labels are used to label pull requests and don't necessarily have an issues labeled with them. Don't delete this label just because it doesn't look used!

[2020-10-26 19:34] ezyang commented on #46869
cc @mruberry

[2020-10-26 19:59] coreyjadams opened #46870 "Can't use mpi4py + DDP"
## 🐛 Bug

When using MPI to launch processes, and mpi4py to assign ranks and get world size, DDP fails to initialize.

## To Reproduce

Steps to reproduce the behavior:

Here is a complete reproducer script:
[code]

I launch this with `mpirun -n 2 python reproducer.py`

For each rank, I see this:
[code]

Is it possible that the mpi4py call to MPI_Init is being duplicated in pytorch? I know this wa

[2020-10-26 20:09] albanD commented on #46818
This is surprising as the check should only run in `training` mode: https://github.com/pytorch/pytorch/blob/3924c55f4c7b15c37c11a666eeccf40498d7bc84/torch/csrc/api/include/torch/nn/functional/batchnorm.h#L20

@mruberry could this be linked to the recent changes in batchnorm to clarify the tracking stats behavior?

[2020-10-26 20:21] mruberry commented on #46818
@albanD I'm not familiar with any changes like that recently.

[2020-10-26 20:21] jamesr66a opened #46872 "[FX] Methods called on Module parameters are not recorded"
[code]

[code]

In all cases except for direct use of the Module parameter, method dispatch on those values is not recorded. Instead, the actual method is called on the Tensor value itself, and since these `Tensor` values are actually concrete, we get another concrete `Tensor` out of them. Thus, when the result of these methods is seen in the trace, it is recorded as a tensor constant (see here ht

[2020-10-26 20:22] sbelharbi commented on #7068
@donrax why is that? and can you provide an example? thanks

F.interpolate(x, scale_factor=2)
Instead of
F.interpolate(x, scale_factor=2, mode='bilinear', align_corners=True)
To get deterministic behaviour.

[2020-10-26 20:23] mruberry commented on #46818
This reproduces in version 1.6.0+cu101 on Colab.

[2020-10-26 20:24] pritamdamania87 commented on #46821
You need to move your model to `args.gpu` as well: `model.to(args.gpu)`.

[2020-10-26 20:32] albanD commented on #46818
Ho ok so maybe it's always been this way !

[2020-10-26 20:49] osalpekar opened #46874 "[RFC] Asynchronous Error Handling for Distributed Training with NCCL"
## Motivation

DistributedDataParallel (DDP) training on GPUs using the NCCL process group routinely hangs, which is an unpleasant experience for users of PyTorch Distributed. In various situations (desynchronizations, high GPU utilization, etc.), one of the ranks in the process group may be slower to call the collective than the remaining ranks. Often, the slow rank is blocked on a previous CUDA

[2020-10-26 20:53] #25043 closed

[2020-10-26 20:55] KaleabTessera commented on #2244
Any progress?

[2020-10-26 21:15] guilhermeleobas opened #46875 "Enable torch.storage typechecks during CI"
`TestTypeHints.test_run_mypy` should pass with `[mypy-torch.nn.storage]` deleted from mypy.ini

cc @ezyang @malfet @rgommers @xuzhao9 @gramster

[2020-10-26 21:23] brianjo commented on #45592
Link to release branch PR: #46845
Criteria category: Documentation improvements.

[2020-10-26 21:25] jsappl commented on #46868
Same problem here on plain pip installation with
* OS: Arch Linux
* PyTorch version: 1.6.0
* Python version: 3.7.8
* system CUDA version: 10.2
* GPU models and configuration: GeForce GTX 1080 Ti

[2020-10-26 21:43] ezyang commented on #46797
This might be fixed in master; can you download a nightly and see?

[2020-10-26 21:43] ezyang commented on #46797
In my build I see

[code]

in `torch/_C/_VariableFunctions.pyi`

[2020-10-26 21:46] kurtamohler commented on #41486
Is there any way to fix this issue? If I understand correctly, the problem is that the reproduction code is creating OpenMP threads with `concurrent.futures.ThreadPoolExecutor` and then executing pytorch code that uses MKL inside those threads. MKL will create its own OpenMP threads, and OpenMP simply does not behave well in this situation.

Instead of using `concurrent.futures.ThreadPoolExecutor`

[2020-10-26 21:47] vadimkantorov commented on #40373
Comment originally at https://github.com/pytorch/pytorch/pull/45828#issuecomment-715539223:

"expressing shaping information a bit similar to #40373. E.g. allowing tracing some constraints like assert size(X, 1) == size(Y, 2) and size(X, 2) == 64 and ndim(Z) == 3 etc and then using them for compilation/optimization (in my example in #40373 I annotate tensors with strings like BTC and BC and then c

[2020-10-26 21:49] ezyang commented on #46849
Thanks, this is very helpful.

For reference, here is the implementation of `clip_grad_norm_` right now:

[code]

I notice that we do not actually do mutations until

[2020-10-26 22:05] vpirogov commented on #41486
Initial report by @danielpcox indicates that the problem goes away with `MKL_DISABLE_FAST_MM=1`. This indicates that the observed behavior is not a memory leak, but normal behavior of Intel MKL. Intel MKL has internal memory manager that caches up to 5 buffers per thread in order to improve performance of memory allocations. Intel MKL has three functions that allow to manage this behavior:
* [`mkl

[2020-10-26 22:10] osalpekar commented on #45592
Link to landed master PR: https://github.com/pytorch/pytorch/pull/46856
Link to release branch PR: https://github.com/pytorch/pytorch/pull/46879
Criteria category: Docs fixes

[2020-10-26 22:20] vadimkantorov opened #46881 "[docs] Flatten module duplicates all Module's methods and show up in search"
https://pytorch.org/docs/master/generated/torch.nn.Flatten.html has all methods like `register_buffer`, and Flatten's `register_buffer` (no other modules do!) shows up in search results: https://pytorch.org/docs/stable/search.html?q=register_buffer&check_keywords=yes&area=default

cc @jlin27 @mruberry

[2020-10-26 22:20] vkuzo commented on #46749
cc @dreiss

[2020-10-26 22:23] kurtamohler commented on #41486
@vpirogov, the initial report says that `MKL_DISABLE_FAST_MM=1` does not fix the problem.

[2020-10-26 22:32] vpirogov commented on #41486
@kurtamohler, indeed, I misread the report...

[2020-10-26 22:35] vadimkantorov commented on #7313
I'm working on adapting some code from pyannote.audio and tried the following code for reparametrizing Conv1d as SincConv1d. Gradients for `low_hz_` seem to be produced, both forward and backward passes seem to work:

[code]

[2020-10-26 22:35] dreiss commented on #46749
This might be annoying to deal with because (1) freezing could delete it, and (2) it would no longer be visible if you put your quantize model inside of another nn.Module (which sometimes do when exporting a model for production).

This would be a significant change.  I think we should try to avoid it if possible.

This is a good point, but choosing the "right" backend for qclamp is less important

[2020-10-26 22:39] wanchaol opened #46883 "[RFC] Distributed optimizer with TorchScript support"
## Motivation

PyTorch provides a broad set of optimizers for training algorithms, and these have been used repeatedly as part of the python API. However, users often want to use multithreaded training instead of multiprocess training as it provides better resource utilization and efficiency in the context of large scale distributed training (e.g. Distributed Model Parallel) or any RPC-based train

[2020-10-26 22:53] AndersGarpebring opened #46884 "is_pinned throws an exception"
## 🐛 Bug

I create a small tensor on cpu that is not pinned. When I call is_pinned I get an exception if Im in Debug mode, but not in Release. I use torchlib (windows) version 1.6. However the issue seems to be a bit random, not always giving the issue.

## To Reproduce
auto v = torch::zeros({2, 2})
v.is_pinned();

Steps to reproduce the behavior:

1. Run the code above.

## Expected behavior

The

[2020-10-26 22:53] jerryzh168 commented on #46749
Is there implications on performance as well between different backends? e.g. in server is fbgemm always faster than qnnpack?

Also the availability of backends in different environments? Is it true that qnnpack is available in all platforms and fbgemm is only available in server?

[2020-10-26 23:07] dreiss commented on #46749
In my experience, yes, fbgemm is always faster than qnnpack when it is available.  I believe this is partially due to the fact that fbgemm uses SIMD instructions that are not available on mobile x86 processors.

More-or-less yes.  I believe FBGEMM is available on x86_64 only (server and most desktop/laptop environments).  qnnpack is available on arm32, arm64, x86, x86_64, and we include it in both

[2020-10-26 23:12] vadimkantorov opened #46886 "Support deleting a parameter/buffer by name"
This is need for some reparametrization code.

Weight norm [code](https://github.com/pytorch/pytorch/blob/6dc763df3098485f158eeed2b9621cffaa229669/torch/nn/utils/weight_norm.py#L44) uses `del module._parameters[name]` for that.

Also requested on forum: https://discuss.pytorch.org/t/how-to-unregister-a-parameter-from-a-module/36424 and many other: https://discuss.pytorch.org/t/exclude-parameters-f

[2020-10-26 23:16] izdeby commented on #46868
Please, use our [forums](https://discuss.pytorch.org/) for questions.

[2020-10-26 23:16] #46868 closed

[2020-10-26 23:29] z-a-f commented on #45592
Link to landed master PR: #46858
Link to release branch PR: #46890
Criteria Category: Documentation improvement: Quantization docs had a specific version to describe unsupported features. Changed to more general wording.

[2020-10-26 23:55] jerryzh168 commented on #46749
in that case how do we decide which backend to use for other operators? I think there are two ways:
1.
What is described in the proposals, always set to qnnpack (also no user api for modifying quantized engine), thus no numeric issues, but perf might be a problem when fbgemm is available and user wants to use it.
2.
We will set the quantized engine based on the availability of backend + performanc

[2020-10-27 00:24] jerryzh168 commented on #44926
We'll do this in quantization

[2020-10-27 00:25] jerryzh168 commented on #45176
this is expected, we have workaround to define a subclass of GraphModule, e.g. https://github.com/pytorch/pytorch/blob/master/torch/quantization/fx/standalone_module.py

[2020-10-27 00:25] #45176 closed

[2020-10-27 00:35] osalpekar commented on #46874
Closed by stack starting from PR https://github.com/pytorch/pytorch/pull/41050

[2020-10-27 00:35] #46874 closed

[2020-10-27 01:23] HumberMe commented on #46756
PyTorch quantization docs has no details about this issue

[2020-10-27 01:59] llv22 commented on #46803
@ezyang actually I tried with create new branch from master and can't push this branch to torch to create pull request. Is it caused by some missing rights? or we can have another process to make pull request ready?

[2020-10-27 02:03] vadimkantorov commented on #7313
It seems that this is allowed because we can create properties with the derived class without fighting setattr

[2020-10-27 02:11] vadimkantorov commented on #7313
@ezyang Could PyTorch relax the constraints on what we can setattr in a module? In fact properties-weights (some python accessor object) seem to work okay, so torch.nn.Parameter or None constraint is too restrictive

[2020-10-27 02:24] vadimkantorov commented on #7313
Maybe one way to solve all this would be enabling LazyTensors/Parameters that allow caching/recomputation. Then @t-vi's approach would become much easier.

There is already some LazyTensor discussion: https://github.com/pytorch/pytorch/issues/28341 https://github.com/pytorch/pytorch/issues/29523

And recently experimental LazyModules got merged

[2020-10-27 02:47] oneway234 opened #46898 "[ONNX] error with pytorch "RuntimeError: Unexpected node type: onnx::Cast""
## ❓ Questions: Coverting to ONNX issue
It seems like the same issue as [this.](https://github.com/pytorch/pytorch/issues/43417)
So I rewrote the function "overlap_and_add" as following:

    def overlap_and_add(signal, frame_step):

    outer_dimensions = signal.size()[:-2]
    frames, frame_length = signal.size()[-2:]
    subframe_length = math.gcd(frame_length, frame_step)  # gcd=Greatest Commo

[2020-10-27 03:03] zyh3826 opened #46899 "CUDA out of memory when using torch.load"
## 🐛 Bug

Yesterday I use the same code, and the program is well, but today I get this error, RuntimeError: CUDA error: out of memory

## To Reproduce

Steps to reproduce the behavior:

1. I instantiate my model like this:
`model = NSP(my_config)`
NSP is a Bert Next Sentence Prediction model using huggingface's transformers, and the nvidia-smi got this:
![image](https://user-images.githubuserconte

[2020-10-27 03:13] HeyangQin commented on #31620
In my case, this error was caused by a corrupted saved file. So I switch to older checkpoints and the problem is gone.

[2020-10-27 03:21] vadimkantorov commented on #7313
I tried creating a derived class dynamically (in order to add properties) and initialize it from an existing instance, but this is not easy and does not work yet. Maybe someone can make it work.

[code]

[2020-10-27 03:32] linqingfan commented on #46820
Hi, I found that I 've gotten very bad results compared to the original inplace operation in pytorch 1.6.0
After verifying with v1.6.0, I got different results for the following codes:

original code:
    u, v = flow.chunk(2, dim=1)
    u1 = u_scale*u
    v1 = v_scale*v
    return torch.cat([u1, v1], dim=1)

vs new code:
    u, v = flow.chunk(2, dim=1)
    u *= u_scale
    v *= v_scale
    return

[2020-10-27 04:06] #45210 closed

[2020-10-27 05:52] HangJie720 opened #46902 "How to use clang as a cuda compiler instead of nvcc?"
I want to ask if we can use clang as a cuda compiler instead of nvcc, such as 'TF_CUDA_CLANG', 'CLANG_CUDA_COMPILER_PATH' options similar to tensorflow/third_party/gpus/cuda_configure.bzl?

[2020-10-27 06:56] gmagogsfm commented on #46611
Both tracing and scripting generate TorchScript IR, which can then be reverse-converted back into Python code, which is what you see. So as far as I know they don't have fundamental differences in content. The difference is just how the IR is generated from user code. Hope this helps.

[2020-10-27 07:22] sjtuytc commented on #4107
I resolve it by adding contiguous() after permute(). This is NOT only a cuddn issue. See https://www.gitmemory.com/issue/pytorch/pytorch/32395/577134996.

[2020-10-27 07:33] gmagogsfm commented on #46654
Could you provide more details to repro this issue? I wrote a minimal program that's similar to the Conv2d you referred to, but it is compiled without a problem at HEAD.

[code]

[2020-10-27 07:34] mli0620 commented on #34857
@as754770178 Hi, have you solved the problem?

[2020-10-27 07:40] donrax commented on #7068
I didn't do a deep dive into this, however, a quick test with PyTorch 1.6.0 on a single GPU where `Hx % 2 = 0` and `Wx % 2 = 0` on a `2D` input yielded repeatable results.

[2020-10-27 07:48] gmagogsfm commented on #46650
Hi HeYingnan,

I think this is because of `check_trace`, which verifies generated trace function matches original behavior. So the 3 prints are from:

1) Tracing the python function
2) Running the traced python function once as part of `check_trace`
3) Running the original python function once as baseline for `check_trace"

If you add `check_trace=False` to `torch.jit.trace` call, the function wou

[2020-10-27 07:53] gmagogsfm commented on #46682
Thanks for reporting.

Could you try using a few known work-around to check substring? For example, following code works:

[code]

[2020-10-27 08:54] hatala91 opened #46904 "Authentication for RPC"
## 🚀 Feature
Consider a multi machine setup with an open network infrastructure. At the moment pyTorch RPC provides no way of securing the masters endpoint through authentication methods. This leads to following two vunrabilities:
- Attackers might query gradients/ weights from the master node to gain access to a model without owning the data.
- Anyone could disquise as a worker and send random gr

[2020-10-27 09:33] RunningLeon commented on #27212
Do we have any suggestion to this issue? THX.

[2020-10-27 09:58] rjkilpatrick commented on #44272
Works on nightly
[code]

Steps to reproduce:
1. install cuda v10.2
1. `pip install numpy`
1. `pip install --pre torch torchvision -f https://download.pytorch.org/whl/nightly/cu102/torch_nightly.html`

Recommend issue be closed.

[2020-10-27 10:50] hlahkar commented on #46761
@mruberry - Thanks for accepting the feature request; I can take it up along with the test cases for the same

[2020-10-27 11:07] ChenDRAG opened #46907 "SummaryWriter delete data automatically when there are too many"
## ❓ Questions and Help

I use SummaryWriter torch.utils.tensorboard to record data every epoch (1k global timesteps). At first SummaryWriter worked out fine, but I found out that after around 300 epochs(event file about 1M), the Summary starts to lose data. (Like when you see tensorboard visualizer at around 30 epochs, all data are kept and it goes like 1,2,3,4,5,6,7...  and at around 300 epochs

[2020-10-27 12:45] tczhangzhi commented on #8853
@weiyangfb, I am working on graph convolutional neural networks, and need to perform `expm1` operations on sparse tensors. In this s  #46914 PR, I implemented an `expm1()` with autograd. It would be nice if someone can help review it.

[2020-10-27 13:57] HeYingnan commented on #46650
Thank you very much.

[2020-10-27 14:33] darsnack commented on #46546
For some more clarification, is `torch.matmul` supported for batched mode on the GPU (CUDA + ROCm)?

Here's some context:
[code]

The offending line of code and error message:
[code]

[2020-10-27 14:37] ezyang commented on #46884
note for triager (@izdeby): this is clearly a Windows related issue and should get the Windows tag

[2020-10-27 14:39] ezyang commented on #46803
Make a fork of PyTorch, and then push your branch to that fork and then open a PR from that branch

[2020-10-27 15:08] manuelbaum opened #46918 "Jacobians computed by autograd.functional.jacobian with compute_graph sometimes set requires_grad True"
## 🐛 Bug

The Jacobians computed by torch.autograd.functional.jacobian sometimes have require_grad=True when compute_graph=True is given, but not always. It depends on the concrete function that is input to the Jacobian computation.

## To Reproduce

Steps to reproduce the behavior:

`import torch

def f1(x):
    return x

def f2(x):
    return x*x

x0 = torch.tensor([4., 2., 2.])
print("x0.requri

[2020-10-27 15:11] mrshenli commented on #46824
I tried locally, and I confirm I can reproduce. But this only happens to the derived class `MyTensor` not `torch.Tensor`. Adding this to triage review to check whether we want to support derived Tensor classes.

[2020-10-27 15:15] mrshenli commented on #46826
I can confirm this. Same as #46824, adding "triage review" to check whether we expect derived Tensor class.

[2020-10-27 15:16] mrshenli commented on #46824
Hey @jamarju, could you please share some more info on why do you need a derived Tensor class?

[2020-10-27 15:21] mrshenli commented on #46907
cc @orionr

[2020-10-27 15:30] orionr commented on #46907
I'm surprised by that, but there might be some bad buffering going on. cc @cryptopic, @nataliakliushkina, @edward-io to help investigate.

[2020-10-27 16:15] kyoung-myft commented on #41486
I just made it to the root problem of my issue and it was indeed on my end.  I now have an A3C - LSTM setup with multiple threads running each running multiple gym environments without memory leaks on LINUX.  For my specific issue, it was the management of c_x and h_x.  Given I had multiple environments and multiple threads, it was necessary to store these values for each environment outside my mo

[2020-10-27 16:32] #46650 closed

[2020-10-27 16:34] eellison commented on #46682
This can be bound in `builtin_functions.cpp` to desugar to what @gmagogsfm suggested

[2020-10-27 16:35] #44272 closed

[2020-10-27 16:39] JialeTao commented on #24397
Hi, how do you solve this? I met the same problem whenm set model.eval() with DistributedDataParallel of pytorch1.5.

[2020-10-27 16:40] vkuzo commented on #46562
Seems like the issue is caused by `copy.deepcopy` failing on GraphModule instances of `nn.Sequential`:

[code]

[2020-10-27 16:43] vkuzo opened #46925 "FX: unable to copy.deepcopy a traced instance of nn.Sequential"
Symbolically tracing and then `copy.deepcopy`'ing an instance of `nn.Sequential` currently fails:

[code]

This is needed to unblock the resolution of https://github.com/pytorch/pytorch/issues/46562, which in turn is needed for expanding production model coverage.

[2020-10-27 16:44] vkuzo commented on #46562
filed https://github.com/pytorch/pytorch/issues/46925 for the issue in FX, will see if someone from FX core can take a look

[2020-10-27 16:45] vkuzo commented on #46925
cc @jamesr66a , thoughts if someone on FX could take a look?

[2020-10-27 16:46] dreiss commented on #46749
This is not quite right.  My proposal is to always set to qnnpack *only* for prepacked objects that have been tagged as requiring the full numerical range.

[2020-10-27 16:49] eellison commented on #46695
Hi, `new` is a legacy op. Please use a different constructor. This is covered by https://github.com/pytorch/pytorch/issues/30780

[2020-10-27 16:51] eellison commented on #46816
Good catch, thanks for the issue!

[2020-10-27 17:01] morawi commented on #11202
@tomerip >

:) just came back to this after I am in a need for this pair-wise thing. Just to would like to comment after giving everything a try, `cosine_similarity_n_space` also gives back a 10x10 matrix. Hence, where row `i` represents the cosine similarity between vector `i` and vectors `0-9`.

Test:

[code]

[2020-10-27 17:06] eellison commented on #46848
Bootcamp: check out the printing of constants in python_print and make sure we're including the sign for zero value'd consants

[2020-10-27 17:10] eellison commented on #46580
Could you try replacing `torch.zeros(2, x.size(1), 256).to(x.device)` with `torch.zeros_like(...)` ?

[2020-10-27 17:18] raghuramank100 commented on #46749
@dreiss: Wanted to check if my understanding of
1. Quantized Model with packed weights containing information on reduce range (lets call it backend so that it is general).
2. When model is de-serialized, the backend  information is loaded. Can the user override this information? For example, one could have a model quantized for FBGEMM, that can run on QNNPACK with no numerical changes. Also, down

[2020-10-27 17:22] ngimel commented on #32395
Closing, this issue is fixed.

[2020-10-27 17:22] #32395 closed

[2020-10-27 17:34] jerryzh168 commented on #46749
then the question what is the api for people to explicitly request qnnpack?

[2020-10-27 17:38] heitorschueroff opened #46929 "Pooling code does not allow sliding window starting in right padded region"
The current pooling code does not allow the sliding window to start inside the right padding when ceil_mode=True which is inconsistent with the equation on the docs. This PR https://github.com/pytorch/pytorch/pull/46558 adds a note to the documentation but does not address this issue because it requires further investigation into existing code assumptions.

[2020-10-27 17:45] albanD commented on #46820
Unfortunately, the old version was not doing the right thing and so was silently returning wrong gradients. This is why we are doing this BC-breaking change to prevent people from doing that.

[2020-10-27 17:54] anjali411 commented on #46546
batched matrix multiplication for complex tensors will be supported on CUDA once #42553 is merged.

[2020-10-27 17:59] pritamdamania87 commented on #46904
@hatala91 Thanks for providing feedback on the RPC framework! In terms of authentication and encryption, were you mostly looking for some sort of TLS based system for this or did you have something else in mind?

[2020-10-27 18:03] ccoulombe opened #46930 "v1.7 requirement "dataclasses" is not compatible with python > 3.6"
## 🐛 Bug

v1.7 for Python 3.7 and 3.8 has requirement for `dataclasses` but it is not compatible with 3.7 and 3.8.
[code]
This result in not install torch.

Note :  `dataclasses` is part of Python 3.7 : https://docs.python.org/3.7/library/dataclasses.html

## To Reproduce
Install pytorch in a virtual env. freshly created. With python 3.7
[code]

## Expected behavior

Install correctly without pack

[2020-10-27 18:21] froody opened #46931 "torch.futures.waitall() doesn't throw if an exception is raised in one of the futures"
## 🐛 Bug

torch.futures.waitall() doesn't throw if an exception is raised in one of the futures

## To Reproduce

python [waitall.py](https://gist.github.com/froody/b13cb281e1386363e69e4751799a2e10)

I get a timeout after 60 seconds:
[code]

## Expected behavior

An exception is thrown almost immediately from the callsite of `waitall`.

## Environment

Collecting environment information...
PyTorch

[2020-10-27 19:10] Anonymani commented on #28258
would it be possible to address this sooner?

[2020-10-27 19:28] seemethere commented on #46930
`dataclasses` shouldn't produce an issue like this since the wheel for dataclasses should work for any Python version

We did see issues though if users have a version of dataclasses installed prior to installing PyTorch.

We did resolve this in https://github.com/pytorch/pytorch/pull/45844, but it didn't make the cut for the release

I also haven't been able to reproduce this locally using fresh

[2020-10-27 19:30] ccoulombe commented on #46930
the `dataclasses` on PyPI is a backport for 3.6 and says :
https://github.com/ericvsmith/dataclasses/blob/75b24ef6d01d6c7a728b7ce6228b66f14c25db4f/setup.py#L23

[2020-10-27 19:32] zou3519 opened #46936 "PowBackward always operates in Complex dtype"
## 🐛 Bug

`auto` in the following line is always deduced to be c10::complex:
https://github.com/pytorch/pytorch/blob/bbe5bfaa4f5ec1d80cd971198e4abcfd2ea96a7a/torch/csrc/autograd/FunctionsManual.cpp#L188
This leads to PowBackward always operating on complex tensors due to type promotion:
https://github.com/pytorch/pytorch/blob/bbe5bfaa4f5ec1d80cd971198e4abcfd2ea96a7a/torch/csrc/autograd/FunctionsMa

[2020-10-27 19:36] hatala91 commented on #46904
Hi @pritamdamania87, thanks for the quick response. I had something like OAuth in mind for authentication (layer 7 in terms of the OSI layer model).

[2020-10-27 19:36] seemethere commented on #46930
Even with that the regular wheels should still work since the `pip` resolver should pick the `dataclasses` version that's compatible with your version of python.

In a fresh minconda container with `python v3.7.6` and `pip v20.0.2` it resolves to pick `dataclasses v0.6` for me which is compatible with `python v3.7.6`:

[code]

As well doing a install of just `dataclasses` on `python v3.7.6` yields

[2020-10-27 19:40] mboisson commented on #46930
please leave conda out of a python discussion

[2020-10-27 19:42] ccoulombe commented on #46930
The latest version of  `dataclasses` is 0.7 and not 0.6.

[2020-10-27 19:46] jamarju commented on #46824
Yes: the fast.ai library uses subclassing to add semantics and/or metadata to Tensors, eg: TensorImage, TensorMask, TensorPoint, TensorBBox, etc. Issue #22402 has some discussion and elaborates further on that.

[2020-10-27 19:47] seemethere commented on #46930
Even with that the `pip` resolver should pick up the latest version of `dataclasses` that works with your version of `python`

Here's a trial with the base `python:3.7` image:
[code]

And for posterity here's the same command with `python:3.6`
[code]

[2020-10-27 19:49] mboisson commented on #46930
What version of pip is that ?

[2020-10-27 19:51] seemethere commented on #46930
Should be `pip v20.2.4` for both of those

[2020-10-27 19:53] mboisson commented on #46930
It seems like `pip` is not resolving correctly when using `--find-links`  (which is in our default config).

[2020-10-27 19:54] ccoulombe commented on #46930
Indeed it should, we are looking into this pip issue on our end but the requirements should still be marked for python 3.6

[2020-10-27 19:55] mboisson commented on #46930
[code]

[2020-10-27 19:56] seemethere commented on #46930
Couldn't reproduce with `--find-links` either when trying to install from download.pytorch.org 😕

[code]

[2020-10-27 19:57] mboisson commented on #46930
So, there is a bug in both `pip` and in the requirements file for torch.   (and arguably, in `dataclasses`... it makes no sense to introduce new development for python 3.6 only...)

[2020-10-27 19:57] rsdmse opened #46939 "Cannot pip install torchvision==0.8.0+cu110"
## 🐛 Bug

Cannot pip install torchvision==0.8.0+cu110

## To Reproduce

Steps to reproduce the behavior:

1. Copy command from pytorch website.
1. `pip install torch==1.7.0+cu110 torchvision==0.8.0+cu110 torchaudio===0.7.0 -f https://download.pytorch.org/whl/torch_stable.html`
1. Error message as follows

[code]

## Expected behavior

0.8.0+cu110 should be listed in https://download.pytorch.org/wh

[2020-10-27 20:00] seemethere commented on #46930
Sure, going to consider this one closed since I cannot reliably reproduce it, feel free to continue the discussion and if we find that this is a serious issue for a majority of users we can re-open.

Thanks for filing the issue and the discussion!

[2020-10-27 20:00] #46930 closed

[2020-10-27 20:01] mboisson commented on #46930
Why not update the `requirements.txt` file for pytorch  as suggested by Charles ?

[2020-10-27 20:09] ccoulombe commented on #46930
As stated earlier, the requirements.txt should still be updated. I've even made the PR ;)
Any reason to keep a deprecated requirement for python 3.7 and up?

[2020-10-27 20:14] heitorschueroff commented on #46764
This seems to be an issue wit either TensorIterator or cpu_kernel_vec as shown in the following snippet. The code works for size 128, but for size 256 it only works if the input is contiguous. This error happens with both mul and add kernels (and likely any kernel using cpu_kernel_vec).

[code]

[2020-10-27 20:19] ezyang commented on #44714
@SsnL I just understood what your comment here meant. Let me try to elaborate it for the benefit of @janeyx99 .

The most basic version of this bug that needs to be fixed is that we allow you to do this: `torch.randperm(3, device='cpu', generator=torch.Generator(device='cuda'))`. This is obviously wrong and should raise an error (as should all other variants of it.

However, there is a more subtle

[2020-10-27 20:19] Felix-Petersen commented on #32584
I have the same issue with PyTorch 1.6.0 (cuda: 11.0) on one of my machines.
The respective machine has 4x Titan Xp.

If I run my code independently on 2 GPUs, it crashes after some (maybe 3-15 minutes) time.
If it is running on 3 or 4 GPUs simultaneously, 1-3 of them crash within seconds.
If I run it on a single GPU, there is no issue at all.
(Note that I do not use multiple GPUs per script, I ju

[2020-10-27 20:22] BowenBao commented on #46545
@zhangguanheng66 - Thank you for explaining the issue and making the tutorial jitable. Closing the issue.

[2020-10-27 20:22] #46545 closed

[2020-10-27 20:36] seemethere commented on #46930
Currently shipping your PR @ccoulombe

[2020-10-27 20:38] ccoulombe commented on #46930
Great! :+1:

[2020-10-27 21:06] ezyang commented on #44714
Oh ok, maybe the problem runs more deep than I thought. Some investigation sounds necessary :)

[2020-10-27 21:11] EvanZ commented on #38684
I was looking to see if this was implemented, but apparently not. Is there a way to use the Gumbel distribution for purposes of inference on rankings?

[2020-10-27 21:20] pritamdamania87 commented on #46931
It looks like one of the RPC functions does this:

[code]

Is this intended since the function would never return? What is happening is that `wait_all` is waiting for this function to finish and hits the RPC timeout and hence you get an error indicating the RPC timed out. The contract for `wait_all` currently is that it waits for all the futures to finish and doesn't exit early if one of the futur

[2020-10-27 21:23] alanhdu opened #46944 "Export TorchScript Classes as TorchScript code"
## 🚀 Feature

Add an option to export TorchScript classes as when `torch.jit.save`-ing a module. That way, the resulting file will be hermetically sealed, without relying on any particular code versioning to get it to execute.

## Motivation
Right now, if you `torch.jit.script` a class, PyTorch relies on the actual class code to being available after `torch.jit.load`-ing the model for instance, in

[2020-10-27 21:25] froody commented on #46931
The `while True` is a placeholder for any blocking operation. If I replace it with `torch.distributed.all_reduce` then I still see the timeout.

[2020-10-27 21:28] #46735 closed

[2020-10-27 21:29] mrshenli opened #46945 "test_async_function_remote_multi (__main__.ProcessGroupJitRpcTestWithSpawn) is flaky"
https://app.circleci.com/pipelines/github/pytorch/pytorch/231917/workflows/f4cc5808-fb65-425d-ab6e-7d8ce9878fb2/jobs/8505619/steps

[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar @jiayisuse @agolynski

[2020-10-27 21:30] mrshenli commented on #46863
Another occurrence, but a different error:

https://app.circleci.com/pipelines/github/pytorch/pytorch/231917/workflows/f4cc5808-fb65-425d-ab6e-7d8ce9878fb2/jobs/8505619/steps

[code]

[2020-10-27 21:31] alanhdu opened #46946 "Changing order of field assignments breaks TorchScript classes"
## 🐛 Bug

If I have a `TorchScript` class, changing the order of assignments in the constructor breaks loading old models, even though this entails no logical Python change

## To Reproduce

Consider the following script:

[code]

Notice that the only difference between the two definitions of `A` is the *order* to which we assign `self.b` and `self.a` -- but the *values* should still be the same.

[2020-10-27 21:31] mrshenli commented on #46945
closing and tracking it in #46863

[2020-10-27 21:31] #46945 closed

[2020-10-27 21:37] kurtamohler commented on #29515
Should we add a retry for this download? We could attempt to download 3 times, and then throw the error.

[2020-10-27 21:51] carlosgmartin opened #46947 "Add Optimistic Mirror Descent (OMD)"
## 🚀 Feature

Add Optimistic Mirror Descent (OMD) to PyTorch's [optimizers](https://pytorch.org/docs/stable/optim.html).

OMD is described in Algorithm 1 of paper 1 and Algorithm 3 of paper 2.

Papers:
1. [Training GANs with Optimism](https://arxiv.org/abs/1711.00141) (2017)
2. [Optimistic mirror descent in saddle-point problems: Going the extra (gradient) mile](https://arxiv.org/abs/1807.02629) (

[2020-10-27 21:52] cpuhrsch commented on #46808
Sure, but should you?

[2020-10-27 22:03] vadimkantorov opened #46948 "Record shaping assertions and use them for tracing / scripting optimization and codegen"
Motivated in https://github.com/pytorch/pytorch/issues/40373#issuecomment-716842407 :

Recording assertings `assert X.shape[1] == Y.shape[2] and X.shape[2] == 64 and Z.ndim == 3` as part of tracing / scripting can help and streamline codegen (as can eliminate unneeded checks or broadcasts). https://github.com/pytorch/pytorch/issues/40373 contains a wider discussion, but @ezyang suggested that a mo

[2020-10-27 22:19] seemethere commented on #45592
Hey everyone, 1.7.0 has been released so I'm going to close this.

Thank you everyone for the work towards getting v1.7.0 out of the door!

[2020-10-27 22:19] #45592 closed

[2020-10-27 22:26] pritamdamania87 commented on #46931
@froody Adding allreduce as a blocking operation works for me and it raises the appropriate exception without waiting for 60sec: https://gist.github.com/pritamdamania87/adf30c5017813843d00421979509b8b3.

If the blocking operation in the RPC call takes more than 60seconds, you will see the RPC timed out error. If you have an RPC that needs to run for more than 60 seconds, you can specify a larger t

[2020-10-27 23:34] froody commented on #46931
@pritamdamania87 right, but in your example, the all_reduce will complete before the exception is thrown, which doesn't really prove anything. An updated example [here](https://gist.github.com/froody/60c79532b1c577383409210bf8df8900) shows a case of raising *before* all_reduce on one worker only

[2020-10-27 23:46] pritamdamania87 commented on #46931
@mrshenli Chatted with @froody offline about this, and his suggestion was that having `wait_all` exit as soon as it encounters an error would be a nice user experience. I was wondering if it makes sense to add a `exit_on_error` flag to `wait_all` such that we don't break the existing contract of `wait_all` but also allow the flexibility to users such that `wait_all` exits as soon as any one of the

[2020-10-27 23:49] matthewfeickert commented on #38349
Hi @mruberry. As a follow up to Issue #35977, PR #39417 implemented `quantile` but only with a linear interpolation method. It would be great to have [all the interpolation methods supported by NumPy](https://numpy.org/doc/stable/reference/generated/numpy.quantile.html), JAX, and TensorFlow: `linear`, `lower`, `higher`, `nearest`, `midpoint`.

[2020-10-27 23:52] #46681 closed

[2020-10-28 00:08] jamesr66a opened #46962 "[FX] Make a subgraph rewriter API"
We've had a few requests for writing simple transformations that take one set of operators and their data dependencies and replace them with another. This problem could be formulated similarly to the one that the `SubgraphRewriter` in TorchScript solves: https://github.com/pytorch/pytorch/blob/53839ac9d740da3cd4ab162cfe2b4628cce4bd6c/torch/csrc/jit/passes/subgraph_rewrite.h

In FX this might look

[2020-10-28 00:12] david-waterworth commented on #24826
I agree positional encoding should really be implemented and part of the transformer - I'm less concerned that the embedding is separate.

In particular, the input shape of the PyTorch transformer is different from other implementations (src is SNE rather than NSE) meaning you have to be very careful using common positional encoding implementations.

I also find it a little odd/confusing that src

[2020-10-28 00:59] ptrblck commented on #4107
@sjtuytc could you post a code snippet to reproduce this issue?
The linked code snippet runs fine on `1.8.0a0+17f8c32` and doesn't produce the error.
Also, all other provided code snippets work in this version.
https://github.com/pytorch/pytorch/issues/4107#issuecomment-350906473
https://github.com/pytorch/pytorch/issues/4107#issuecomment-352937808
https://github.com/pytorch/pytorch/issues/4107#is

[2020-10-28 01:02] sjtuytc commented on #4107
I'm using 1.3.0 because I only have cuda 10.0.

[2020-10-28 01:03] ppwwyyxx opened #46964 "torch.jit.Final does not work in Pytorch1.7 + Python3.6"
## 🐛 Bug

## To Reproduce

[code]

Error:
[code]

It works if we change 3.6 to 3.7.

cc @gmagogsfm

[2020-10-28 01:05] pritamdamania87 commented on #46782
@xwang233 Those tests use the pytest package instead of unittest. As a result you can achieve the same behavior by using the `-x` flag: `python test/run_test.py -i distributed/_pipeline/sync/skip/test_api -- -x`.

[2020-10-28 01:05] ptrblck commented on #4107
@sjtuytc The latest stable release binaries (`1.7`) ship with CUDA9.2, 10.1, 10.2, and 11.0.
You can find the install instructions [here](https://pytorch.org/get-started/locally/).

Also note, that you would only need to install the appropriate NVIDIA driver, if you want to run native PyTorch workloads.
A local CUDA installation is necessary, if you want to build from source or use custom CUDA ext

[2020-10-28 01:09] xwang233 commented on #46782
Sure, but your argparser is not consistent with the argparser used in `test_nn` and other unittest modules. When I run a complete test, I run `python run_test.py -- -f (or some other args)` but not just distributed/_pipeline tests only. So either unittest or your pytest module needs to be changed to make them consistent I guess.

[2020-10-28 01:43] YuanTingHsieh commented on #34948
I had the same issue, added model.eval() solved my problem

[2020-10-28 01:56] peterjc123 commented on #46884
@ezyang @AndersGarpebring  If that's the case, there should a line that says sth like `error in LoadLibraryA` according to https://github.com/pytorch/pytorch/blob/v1.6.0/aten/src/ATen/DynamicLibrary.cpp.

[2020-10-28 02:18] peterjc123 commented on #46884
Since you are using Visual Studio, you should be able to see the loaded DLLs in the output window. Could you please kindly share the info for both successful and failed runs?

[2020-10-28 02:40] pritamdamania87 commented on #46782
I think https://github.com/pytorch/pytorch/pull/46967 should resolve this issue, let me know if anything else needs to be fixed.

[2020-10-28 02:43] peterjc123 commented on #46318
@Coderx7 I guess you might try the RelWithDebInfo builds by `set REL_WITH_DEB_INFO=1` instead of `set DEBUG=1`.

[2020-10-28 02:58] llv22 commented on #46803
@ezyang OK, refer to https://github.com/pytorch/pytorch/pull/46968.

[2020-10-28 02:58] freedom9393 commented on #41794
You can try this:
`import torch.utils.data`

[2020-10-28 04:03] Coderx7 commented on #46318
@peterjc123 Thanks a lot will test it right now.
Also I really dont need to build statically if thats a problem, just like release, the /MT dll (dynamically built ) is fine with me as well.

[2020-10-28 04:36] Coderx7 commented on #46318
@peterjc123  Sadly this failed as well with the `torch_cpu.lib : fatal error LNK1248: image size (1000642A9) exceeds maximum allowable size (FFFFFFFF)` error (I guess this is what you were talking about earlier?!)
[code]
Anyway is  there a way to ditch the static build and instead just like the dynamic one, build with MT but for debug? clearly this worked for the release dlls. so I guess I should

[2020-10-28 04:44] jiachenwhite commented on #22400
We are also waiting for this feature. Any estimated date?

Is there a way to get access to the content in below link? Or could someone copy and paste information here? Thank you!

[2020-10-28 05:03] ngimel commented on #4107
Closing based on @ptrblck comment. Please don't reopen, if you have new repros on the latest builds, please open new issues.

[2020-10-28 05:03] #4107 closed

[2020-10-28 05:06] ngimel commented on #46764
This is not an issue with cpu_kernel_vec, mul/add produces correct output for both cases. It is an issue with reshape, here's a repro:
[code]

[2020-10-28 07:15] zl751209a opened #46971 "GeForce RTX 3080 with Yolov5 detect.py(ingerence) Error:Torch.nn.modules.module.ModuleAttributeError: 'Hardswish' object has no attribute"
## ❓ GeForce RTX 3080 with Yolov5 detect.py(ingerence) Error:Torch.nn.modules.module.ModuleAttributeError: 'Hardswish' object has no attribute

version is following:
NVIDIA-SMI 456.71       Driver Version: 456.71
torch 1.7.0+cu110
torchaudio 0.7.0
torchvision 0.8.1+cu110
Cuda compilation tools, release 11.1, V11.1.74

 Training goes well. Ingerence has this problem"Torch.nn.modules.module.ModuleAt

[2020-10-28 07:31] Masterkmp opened #46972 "Running Error"
### There is a error in running process,and error is  as follows:how to make it?

Traceback (most recent call last):
  File "D:/CodingProject/PycharmProjects/Codes/main.py", line 47, in <module>
    get_train(model, Epochs, train_loader,test_loader,test_y_labels,optimizer, loss_func)
  File "D:\CodingProject\PycharmProjects\Codes\classify.py", line 77, in get_train
    get_test(test_loader,test_y,

[2020-10-28 07:44] Sanghoon94 commented on #38607
Hope this issue gets fixed soon!

Is there any workaround besides @co42 's solution?
It's kind of frustrating to execute the command every time.

[2020-10-28 07:48] ydcjeff opened #46973 "torch.utils.collect_env return True in Is debug build"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Go to https://colab.research.google.com
1. install pytorch 1.7 `pip install torch==1.7.0+cu101 torchvision==0.8.1+cu101 torchaudio==0.7.0 -f https://download.pytorch.org/whl/torch_stable.html`
1. run `python -m torch.utils.collect_env`

## Expected behavior

Is debug build: False

## Environment

Please copy and paste the output from

[2020-10-28 07:57] weiaicunzai opened #46974 "RuntimeError: CUDA error: an illegal memory access was encountered"
## 🐛 Bug

Hi, every one, I can not figure out where went wrong, I need some help, thanks in advance.

I've just installed pytorch1.6 + cuda10.2 using conda on my server
[code]
My server is installed with cuda11.1, here is the output of ```nvidia-smi```command of my server:
[code]

When I tried to train my network, always throws me at this runtime error:
[code]

**I've tried installed pytorch1.6 wi

[2020-10-28 08:31] elephaint commented on #11004
I am experiencing this issue on Pytorch 1.7 with Windows when trying to build a custom CUDA kernel. I also had the issue with Pytorch 1.6 but then manually applied the solution given by @qwesdfok to the pybind11 file. Hence, I'll simply reapply this trick to get it working but just wanted to document that the issue still persists.

`
PyTorch version: 1.7.0
Is debug build: No
CUDA used to build PyT

[2020-10-28 09:19] tomerip commented on #11202
@morawi
The results look correct so I guess now it's only a matter of efficiency.
I'm not entirely sure how to benchmark on GPU correctly so I won't do that. I think the `for` loop in `cosine_similarity_n_space` might cause it to be a bit slower than `cosine_pairwise` I suggested but testing it properly is probably the way to go.
Another thing to consider/test is the RAM usage of each function as

[2020-10-28 09:35] TianzhongSong commented on #46580
Same issue with `torch.zeros_like`

[code]

Saved model:

[code]

device is still fixed to 'cuda:0'

[2020-10-28 09:41] ZhiyuanChen commented on #23144
Hi, thank you for answering. But in our expeiments, it looks like returned in random order. Is it a bug?

[2020-10-28 09:58] qute012 opened #46979 "[JIT] scripting torchaudio.transforms.MFCC() error"
Hi. I face problem when i use torchaudio.transforms.MFCC() as preprocessing on android app. Help ME

---version---
pytorch::1.7.0
torchaudio::0.7.0

scripting from nn.Module
[code]

When Module implements on android's java code, it doesn't work, Module forward function don't recognize forward in script.
errors:
[code]

[2020-10-28 09:59] qute012 commented on #46944
Add gradle dependencies

[code]

[2020-10-28 10:00] qute012 commented on #46979
Add gradle dependencies

[code]

[2020-10-28 10:37] sigeisler commented on #7356
@Daulbaev how did you solve this issue finally?

[2020-10-28 10:41] hlahkar opened #46980 "torch.acos not supported for sparse layout"
Steps to reproduce the behavior:

Call torch.acos on a sparse tensor
Below is a code sample:

import torch
i = torch.cuda.LongTensor([[0, 1, 1],
                      [2, 0, 2],
                      [2, 0, 2]])

v  = torch.cuda.FloatTensor([3, -44, -5])

s = torch.sparse_coo_tensor(i, v, torch.Size([2, 4, 4]), device=torch.device('cuda'))
print(s.acos())

Actual behaviour
Traceback (most recent c

[2020-10-28 11:11] whatyouknow123 commented on #46237
I have meet the same problem when I try to trans pytorch model to onnx. I also try to set the opset_version=11, but it dose't works. Because when I try to use onnxruntime.InferenceSession to predict, it inform me that onnxruntime.capi.onnxruntime_pybind11_state.InvalidArgument: [ONNXRuntimeError] : 2 : INVALID_ARGUMENT : invalid indice found, indice = -1

Do you fix your problem? If you have fix i

[2020-10-28 11:15] EraProphet commented on #45021
hi，i encounter the same problem as you , could you tell me the code  `TORCH_CUDA_ARCH_LIST='8.0+PTX'` should be in which line, thanks.

[2020-10-28 11:54] morawi commented on #11202
@tomerip
well, `cosine_pairwise` can run with GPU by using `to(device) `on the `tensors`. The case is that for big data, one will face memory problems (overflow); which was the case for me.
Hence, the idea is to do some kind of batching to control the memory usage; and that's how the loop does the trick. Again, for smaller data, the GPU would work, or even just the CPU. It is always a tradeoff.
Ch

[2020-10-28 12:09] weiaicunzai commented on #46974
I've tried to downgrade nvidia-driver from 455  to 450, still the same problem:
[code]

[2020-10-28 12:10] ahtik commented on #46974
@weiaicunzai You can have the latest NVIDIA drivers installed and still use any of the CUDA 10.x or 11.x.
Just make sure to install and update CUDA together with CuDNN separately from the driver installation.

For CUDA 11 you need to use pytorch 1.7, released yesterday.

For pytorch 1.6 both CUDA 10.1 and 10.2 should be fine.

PS. nvidia-smi CUDA Version field can be misleading, not worth relying

[2020-10-28 12:53] tomerip commented on #11202
OK, I think we were referring to "batch" as two different things. Please correct me if I'm still not on the same page with you.

You mean:
There are two matrices `m1` and `m2` and we want to calculate pairwise cosine similarity between all of the rows of `m1` with all of the rows of `m2`. Since in general this calculation may consume all the RAM and therefore fail, you want to split `m1` into batc

[2020-10-28 12:56] rjkilpatrick opened #46982 "Mean_cuda not implemented for complex types"
## 🐛 Bug

Tensor averaging not implemented for complex types

## To Reproduce

[code]

Same for float, `torch.complex64`, `torch.complex32`.

## Expected behaviour

Calculates mean across tensor, e.g.
[code]

## Environment

PyTorch version: 1.8.0.dev20201027
Is debug build: True
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: Manjaro Linux (x86_64)
GCC version: (GCC) 10.2.0

[2020-10-28 13:26] fritzo opened #46983 "Constructing a ParameterDict raises a warning"
## 🐛 Bug

Constructing a `ParameterDict` raises a `UserWarning`.

## To Reproduce

Install PyTorch 1.7
[code]

## Expected behavior

PyTorch should not raise warnings in normal usage. Tests should verify this.

## Environment

[code]

cc @ezyang @gchanan @zou3519 @bdhirsh @heitorschueroff @albanD @mruberry

[2020-10-28 13:33] kshitij12345 commented on #42515
Promote Integer to Float Operators

* [ ] torch.angle
* [ ] torch.exp
* [x] torch.log #46810
* [x] torch.log2 #46810
* [x] torch.log10 #46810
* [ ] torch.expm1
* [ ] torch.log1p
* [ ] torch.sqrt
* [ ] torch.reciprocal (this would be divergent from NumPy, but that's OK)
* [x] torch.sin #45733
* [ ] torch.cos #46706
* [ ] torch.tan #46706
* [ ] torch.asin
* [ ] torch.acos
* [ ] torch.atan
* [ ] torc

[2020-10-28 14:08] weiaicunzai commented on #46974
Thanks for your replay,  The nvidia driver has downgraded to  ``450.80.02``,  but the error still exists. I do not know what happened,
 I tried your solution to  set path variable, but it seems like Pytorch still uses  conda's  cudatoolkit.

Any other possible suggestions? Thank you. I still can not figure out where could possiblly went wrong.

[2020-10-28 14:26] ahtik commented on #46974
@weiaicunzai I think you can still have the latest drivers, the problem is likely with cuda or cudnn.

What's curious about your environment is the `8.0.4` cudnn that was picked up in env collection, but later it shows the reference to `py3.6_cuda10.2.89_cudnn7.6.5_0 `. cudnn 8.0.4 is compatible only with CUDA 11.x, so one would need 7.6.5.

Could be worth trying to install pytorch to regular pyth

[2020-10-28 14:38] dheerajmpai commented on #16203
The problem still exists. Any solution to the problem? I am facing thins while loading s3fd face detector

[2020-10-28 14:42] henryiii commented on #11004
I think this will be properly fixed when #46415 is ready.

[2020-10-28 14:47] weiaicunzai commented on #46974
Since I do not have root privilege, so I created a python virtual environment using conda, installed pytorch1.7 with cuda11.0 support, but with no luck , still the same error.
here is my detected  cuda version and cudnn version using Pytorch
[code]
Is my problem related to  #21819?

[2020-10-28 14:49] antocuni opened #46985 "flake8 errors are not shown by github actions"
## 🐛 Bug

Look at this failed [flake8 job](https://github.com/pytorch/pytorch/runs/1320258832): from the output log, you can't see what's wrong. Running it locally showed two actual problems (which, for reference, were solved by [this commit](https://github.com/antocuni/pytorch/commit/0e0484357e6bfd873fc49018d6c31d6c154d0aad).
[code]

I think that the problem is here:
https://github.com/pytorch/py

[2020-10-28 14:54] ezyang commented on #46808
@cpuhrsch yes it is by design. See https://github.com/zdevito/ATen/issues/27

[2020-10-28 14:56] vincentqb commented on #43352
Once a PR has landed, the documentation should be propagates automatically to [master](https://pytorch.org/docs/master/optim.html). :) All that is needed is removing the warning, and adding a comment in the docstring :)

[2020-10-28 15:06] ezyang commented on #38607
@malfet do you know if we fixed this in 1.7?

[2020-10-28 15:10] malfet commented on #38607
@ezyang No, it isn't fixed yet.
@Sanghoon94 can you please share exact steps how you reproduce this issue (and your OSX version)?

[2020-10-28 15:18] samestep commented on #46985
Good catch, thanks! I'll go ahead and fix that, sorry for introducing the regression

[2020-10-28 15:41] antrec commented on #7455
Thanks for the discussion. There are a few points that remain unclear and look like mistakes to me:

- the weight tensor in @PistonY 's implementation
- the equivalence between KL divergence and label-smoothing (@suanrong  )

#### About the weights:

[The label smoothing paper](https://arxiv.org/pdf/1906.02629.pdf) states `y_k = smoothing / n_classes + (1 - smoothing) * y_{one hot}`. So the value

[2020-10-28 15:42] morawi commented on #11202
'batch-size' or here is very similar to the one used to train deep neural nets; and yes, the splitting is done at the DataLoader level. Batch here just partitions the two matrices. Again, the batch size depends on how much memory one is willing to use or has, and how large the two matrices are.

[2020-10-28 15:44] SsnL commented on #46980
the result will be mostly dense so you probably should just `to_dense().acos()`

[2020-10-28 15:46] Sanghoon94 commented on #38607
@malfet Sure.
I am using macOS 10.15.7 with Xcode 12.1 (12A7403), but I have seen the identical problem on previous versions, too.
Also, I have faced this issue using both 1.6.0 & 1.7.0 release for macOS.

I have configured the dependency settings on Xcode like the following.
1. Header search paths: ${LIB_ROOT}/include
2. Library search paths: ${LIB_ROOT}/lib
3. Other linker flags: -lc10 -lcaffe2_

[2020-10-28 15:51] pranjaldatta commented on #45816
@pfeatherstone @KsenijaS Sightly A beginner question: I am running into the same error when I try to convert a custom EfficientDet implementation to ONNX using a combination of scripting and tracing. After looking at this [response](https://github.com/pytorch/pytorch/issues/45816#issuecomment-707350127), I assumed it' something to do with returning a list of tensors and all. I refactored the code

[2020-10-28 15:53] hlahkar opened #46987 "torch.floor not supported for sparse layout"
Steps to reproduce the behavior:

Call torch.floor on a sparse tensor
Below is a code sample:

import torch
i = torch.cuda.LongTensor([[0, 1, 1],
                      [2, 0, 2],
                      [2, 0, 2]])

v  = torch.cuda.FloatTensor([3.2, -44.5, -5.1])

s = torch.sparse_coo_tensor(i, v, torch.Size([2, 4, 4]), device=torch.device('cuda'))
print(torch.floor(s))

Actual behavior
Traceback (m

[2020-10-28 15:55] AshokBhat commented on #46522
Hi @ezyang, This is great news. Where are the binaries being hosted? Reason - I cannot seem to find Arm64 binaries in either 1.7 PyPI repo (https://pypi.org/project/torch/#files) or PyTorch wheel repo (https://download.pytorch.org/whl/torch_stable.html. )

[2020-10-28 15:56] hlahkar opened #46988 "torch.ceil not supported for sparse layout"
Steps to reproduce the behavior:

Call torch.ceil on a sparse tensor
Below is a code sample:

import torch
i = torch.cuda.LongTensor([[0, 1, 1],
                      [2, 0, 2],
                      [2, 0, 2]])

v  = torch.cuda.FloatTensor([3.2, -44.5, -5.1])

s = torch.sparse_coo_tensor(i, v, torch.Size([2, 4, 4]), device=torch.device('cuda'))
print(torch.ceil(s))

Actual behavior
Traceback (mos