[2018-07-14 04:39] ezyang commented on #7228
Maybe the problem has to do with the parsing code when getting to Device. Is the index really `256` by the time you get an `at::Device`?

[2018-07-14 04:41] ezyang commented on #8653
@t-vi What do you mean by regular properties?

[2018-07-14 04:46] ezyang commented on #3909
@DJS2018 Can you file a new issue describing your problem?

[2018-07-14 06:45] naren142 opened #9437 "/usr/bin/ld: warning: libcudart.so.8.0, needed by //usr/local/lib/libnccl.so.1, not found (try using -rpath or -rpath-link)"
Username:
Linux chandu 4.15.0-24-generic #26~16.04.1-Ubuntu SMP Fri Jun 15 14:35:08 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

This is the process I have followed:
[https://caffe2.ai/docs/getting-started.html?platform=ubuntu&configuration=compile](url)

1).
sudo apt-get update
sudo apt-get install -y --no-install-recommends \
      build-essential \
      cmake \
      git \
      libgoogle-glog-dev

[2018-07-14 07:14] limwenyao opened #9439 "OOM when using Adam optimizer compared to SGD when using same batch size."
I tried training a VGG model with the torch.optim.Adam and torch.optim.SGD. I can train my model on SGD batch_size = 8 for SGD, but Adam throws me OOM error with batch_size 8, but it works for batch_size 4. Model is imported from torchvision.

[code]

[code]

- PyTorch installed from conda
- OS: Windows 10
- PyTorch version: 0.4.0
- Python version: 3.5.2
- CUDA/cuDNN version: 8.0/5.1
- GPU models

[2018-07-14 07:17] t-vi commented on #8653
@ezyang: Currently we use a custom `ContextProp` class
[code]
and then in `CudnnModule`:
[code]
the [standard Python way](https://docs.python.org/3/library/functions.html#property) would be to define getter and setter like:
[code]
(with a new `check_not_flags_frozen` utility function to avoid the boilerplate in the properties).

It is a tad longer (at least if you have more than one or two propert

[2018-07-14 07:23] t-vi commented on #9439
Adam is more stateful than SGD, so it is expected that it uses more memory (proportional to the total size of the optimized parameters).

[2018-07-14 07:26] TommeyChang opened #9440 "PyTorch ImportError"
## Issue description
ImportError                               Traceback (most recent call last)
<ipython-input-1-eb42ca6e4af3> in <module>()
----> 1 import torch

/usr/local/lib/python3.5/dist-packages/torch/__init__.py in <module>()
     78     pass
     79
---> 80 from torch._C import *
     81
     82 __all__ += [name for name in dir(_C)

ImportError: /usr/local/lib/python3.5/dist-packages/tor

[2018-07-14 10:44] snakers4 commented on #1512
**Hi guys, I faced a similar issue and found an elegant and ingenious solution!**

What if I have a multi-head model (in my case it is **several image sizes and aspect ratios**), and I would like to learn shared representations, but do not want to iterate over several datasets (in my case it caused sequential over-fitting and poorer performance)?
Yeah, ConcatDataset does not help either in this ca

[2018-07-14 10:54] vadimkantorov commented on #8996
[code]

[2018-07-14 11:13] soumith commented on #9439
closing based on t-vi's comment.

[2018-07-14 11:13] #9439 closed

[2018-07-14 11:14] soumith commented on #9430
@bhushan23 go for it.

[2018-07-14 11:15] soumith commented on #4053
closed via #8774

[2018-07-14 11:15] #4053 closed

[2018-07-14 11:16] zasdfgbnm commented on #9407
@gchanan
I'm not sure if I understand the explanation at [gather-explanation](https://github.com/gchanan/pytorch/wiki/Broadcasting-Notes#gather-explanation):

Shouldn't this always be the case for numpy? Since numpy always has `dim=0`. Also, shouldn't the examples in `i > index.dim()` case belong to the `i <= index.dim() < n` case? Also, is there any difference between `i <= index.dim() < n` and `

[2018-07-14 12:32] t-vi commented on #9408
The right IMO way to do this is by using -1 for the other dimensions (and I would expect the case of having a variable number of dimensions to be particular enough to not warrant a general torch api for it).
[code]
Supporting (more of) expand would be nice for the JIT, though...

[2018-07-14 12:42] Dorozhko-Anton opened #9442 "log_prob returns positive values for small cov"
## Issue description

Log prob returns positive value for small covariance matrix.
Is it a bug or I did something wrong ?

## Code example
[code]

## System Info

[environment collection script]
Collecting environment information...
PyTorch version: 0.4.0
Is debug build: No
CUDA used to build PyTorch: 8.0.61

OS: Ubuntu 16.04.3 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.10) 5.4.0 20160609
CMake

[2018-07-14 13:45] zasdfgbnm commented on #9408
@t-vi Yes, this do looks better. Currently it gives RuntimeError `input: Assertion inputs_.size() == 1 failed.` I can take a look at that.

[2018-07-14 14:02] pbloem commented on #358
Sorry to rake this one up again, but having to name each module in a Sequential model when I add them one-by-one really ruins the readability of my code.

Would it be a solution to add an extend() to the sequential model (with the same contract as that in ModuleList)?

This would allow you to write
[code]
for a single module and has the benefit of expanding to
[code]
for multiple modules. Which lo

[2018-07-14 14:18] vishwakftw commented on #7228
I think the issue's not with parsing. It is probably about how [Python's C-API handles `int`](https://docs.python.org/3/c-api/long.html#c.PyLong_FromLong).

[2018-07-14 14:47] ezyang commented on #9260
Nice analysis and follow up, thank you!

[2018-07-14 14:50] fmassa commented on #358
For you use-cases, can't you put the modules in a list and just use the constructor of `nn.Sequential`?

[2018-07-14 14:56] ezyang commented on #7228
That doesn't make any sense. Even if the PyObject for the long returned by device hash is different, the number it represents should be the same, and therefore the print should also be the same.

[2018-07-14 14:58] ezyang commented on #1708
PyTorch 0.4 with cuDNN should be sufficient.

[2018-07-14 15:01] ezyang commented on #8653
Aha! If it works, I'm all for it.

[2018-07-14 15:07] ezyang commented on #9218
The problem is probably because the RPATH is wrong, and it is hardcoding a path to the dynamic library which doesn't match where it is on lambda.

Do we have for building the libraries with relocatable RPATH? I know in PyTorch, this is done externally in our distribution scripts. That would solve @krishnakt031990's problem. Otherwise you'll have to do it by hand.

[2018-07-14 15:16] amirtaherkhani opened #9444 ""ImportError: No module named tools.setup_helpers.env" when "python setup.py egg_info""
Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/private/var/folders/25/n99fqy7d35x3zp9209b8q0jc0000gn/T/pip-install-hBquje/caffe2/setup.py", line 108, in <module>
        from tools.setup_helpers.env import check_env_flag, check_negative_env_flag
    ImportError: No module named tools.setup_helper

[2018-07-14 15:28] ezyang commented on #8987
@cycleuser @cenaliu @Rahul-Venugopal @jdsalmonson Could you please paste the error message which is causing build to fail? There are two distinct error messages in this issue already, and I don't know which one you are referring to.

[2018-07-14 15:31] ezyang commented on #8987
@StatML Can you run the following commands:

[code]

and the try rebuilding? If that doesn't work, can you make a fresh conda environment and rebuild?

[2018-07-14 15:37] Awdrtgg opened #9445 "Build error: float_hash_map.h(226) C2133"
## Issue description

When building the caffe2 on a Windows 10 using pytorch\scripts\biuld_windows.bat, 5 errors occurred:
[code]

## Code example

Simply run the build_windows.bat as instructed on the website https://caffe2.ai/docs/getting-started.html?platform=windows&configuration=compile.

## System Info

- PyTorch or Caffe2: Caffe2
- How you installed PyTorch (conda, pip, source): source
- Bu

[2018-07-14 16:06] fmassa commented on #9408
I think there are some people voting for adding a `broadcast` function. That would solve your problems, right?

[2018-07-14 16:06] vishwakftw commented on #7228
@ezyang I have fixed it, finally. There was a minor oversight that led to these issues.

[2018-07-14 16:21] zasdfgbnm commented on #9408
@fmassa Do you mean https://github.com/pytorch/pytorch/issues/8076? Yes, it solves the problem for using things like stack.

[2018-07-14 16:30] pbloem commented on #358
Fair enough, that would work too. It's a little less direct, but not a big deal. With the current code that's certainly the most readable option.

[2018-07-14 16:34] praveenkumarchandaliya opened #9446 "RuntimeError: The size of tensor a must match the size of tensor b at non-singleton dimension 0 pytorch"
def forward(self, input, hidden):
        hx, cx = hidden
        **gates = self.conv_ih(input) + self.conv_hh(hx)**

RuntimeError: The size of tensor a (32) must match the size of tensor b (18) at non-singleton dimension 0
i am using pytorch 0.3.1 version

[2018-07-14 16:44] ezyang opened #9447 "Get rid of Storage View, IPC will not preserve storage structure"
Storage views are currently used to implement CUDA IPC with the caching allocator. The basic problem is that you can only do IPC with a chunk of memory returned by cudaMalloc, but when you are using the caching CUDA allocator, lots of logically distinct allocations are together on the same cudaMalloc block, and you have no choice but to IPC the whole thing. A storage view was used to implement thi

[2018-07-14 17:09] praveenkumarchandaliya commented on #9446
i am using pytorch 0.3.1 version

[2018-07-14 17:11] vishwakftw commented on #9442
The values of the `pdf` can be arbitrarily large but never negative. This is completely acceptable, and I am sure this is not a bug.

Simple example: normal distribution with standard deviation = 0.000001 and mean = 0. The `pdf` at `x = 0` is `1000 / (2 * pi)`, and the natural log of this is clearly greater than 0.

[2018-07-14 18:18] fmassa commented on #9092
@colesbury with the TensorIterator PR, aren't we going to reduce the usage of the kernelPointwiseApply functions (for now it's only for a few ops, but I suspect that we will extend it to all pointwise ops, right?), which have many specializations?

[2018-07-14 18:20] ezyang commented on #8982
Another one https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-mkl-ubuntu16.04-test/8282/console

[2018-07-14 18:30] praveenkumarchandaliya commented on #2491
I have face same problem and i am using torch 0.3.1 and cuda 9.1  ubuntu OS
Traceback (most recent call last):
  File "main.py", line 204, in <module>
    fixed_z = netE(fixed_img_v, encoder_h_1, encoder_h_2, encoder_h_3)
  File "/usr/local/lib/python2.7/dist-packages/torch/nn/modules/module.py", line 357, in __call__
    result = self.forward(*input, **kwargs)
  File "/home/mnit/Desktop/RNN_CAAE_

[2018-07-14 18:45] t-vi commented on #8653
OK, I'll send a PR.

[2018-07-14 18:50] ezyang opened #9449 "PredictorTest.SimpleBatchSizedMapInput intermittently hangs"
Example: https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-cuda9.0-cudnn7-ubuntu16.04-test/8089/console

[code]

[2018-07-14 18:51] ezyang commented on #9449
CC @jerryzh168 who originally added this test.

[2018-07-14 19:14] anderspapitto opened #9450 "[Feature Request] enable C++ frontend support on Windows"
at a minimum, this will require removing the setting of NO_API in tools/build_pytorch_libs.bat as discussed here: https://github.com/pytorch/pytorch/pull/8792#discussion_r202519792

[2018-07-14 20:38] weiyangfb commented on #9129
Hi @xtannier, any update? Were you able to install fastText from source?

[2018-07-14 20:39] weiyangfb commented on #9129
@cympfh would you like to try installing pytorch (0.4.0) and fastText from source and see if it works?

[2018-07-14 20:41] Dorozhko-Anton commented on #9442
Sorry, you are right. That's log of density

[2018-07-14 20:41] #9442 closed

[2018-07-14 21:01] weiyangfb commented on #339
closing this because copy from NumPy array have already been supported. Please feel free to open an issue if there is any other need.

[2018-07-14 21:01] #339 closed

[2018-07-14 21:29] vishwakftw commented on #9416
Can I take this up?

[2018-07-14 21:31] ezyang commented on #9416
sure thing

[2018-07-15 01:33] assassint2017 commented on #1708
cuDNN7？

[2018-07-15 01:43] jacksonly opened #9453 "dist.init_process_group() doesn't work in multiple gpu training"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

I want to training LeNet on two GPU cards, but I have always got error ("proc_group_name != group_n

[2018-07-15 01:45] jacksonly commented on #9453
RuntimeError: proc_group_name != group_name at /opt/conda/conda-bld/pytorch_1518244421288/work/torch/lib/THD/process_group/General.cpp:17

[2018-07-15 06:04] felipellrocha commented on #566
What is the status on this?

[2018-07-15 06:37] SsnL commented on #9450
cc @goldsborough

[2018-07-15 06:44] t-vi commented on #8985
So here is the code I'm using, copypasting much of BatchNorm, a bit of that could also be achieved by subclassing.
[code]

[2018-07-15 06:52] chrisyeh96 opened #9455 "torch.tensor() does not respect device placement when initialized with numpy array"
## Issue description

`torch.tensor()` does not respect device placement when initialized with numpy array if a dtype is not given.

## Code example

[code]

Output
[code]

## System Info

[code]

[2018-07-15 09:59] matthiasreisser commented on #9418
I have re-compiled pytorch from tag v0.4.0 and still the same behaviour

[2018-07-15 10:11] Kaixhin commented on #8985
Here's the code I'm using, think it's better to reduce code reuse and just use the components we have already:

[code]

[2018-07-15 11:10] soumith commented on #566
this can be closed. we have pip wheels built and uploaded.

[2018-07-15 11:10] #566 closed

[2018-07-15 11:23] qimw opened #9456 "Run Error CUDNN_STATUS_NOT_INITIALIZED"
## Issue description
I build the caffe2 from source on ubuntu 16,and then run the detectron with
`
python2 tools/infer_simple.py \
    --cfg configs/12_2017_baselines/e2e_mask_rcnn_R-101-FPN_2x.yaml \
    --output-dir /tmp/detectron-visualizations \
    --image-ext jpg \
    --wts https://s3-us-west-2.amazonaws.com/detectron/35861858/12_2017_baselines/e2e_mask_rcnn_R-101-FPN_2x.yaml.02_32_51.SgT4y

[2018-07-15 12:13] xtannier commented on #9129
Hi, yes, I got fastText installed with `pip install .` from git clone, but with a warning on wheel and pybind11, which could be related again to https://github.com/onnx/onnx/issues/358
[pip_install_fasttext.txt](https://github.com/pytorch/pytorch/files/2195702/pip_install_fasttext.txt)

[2018-07-15 13:48] SsnL commented on #4994
This is possible now!

[2018-07-15 13:48] #4994 closed

[2018-07-15 14:24] SsnL commented on #9446
You used some op that expects two inputs to have same size, but they don't. This is not a bug in the framework, but in your code.

[2018-07-15 14:24] #9446 closed

[2018-07-15 15:54] praveenkumarchandaliya commented on #9446
Same code running of 8581 image but when i have added any image then give this error

[2018-07-15 16:30] dimamillion commented on #5858
Hello, please help me
I had a problem with installing pytorch, Win 8.1, Python 3.6, PyCharm 2017.3.3 x64

I saw you had such a problem, how did you solve it?

------
Traceback (most recent last call last):
  File "<string>", line 1, in <module>
  File "C: \ ProgramData \ Miniconda3 \ lib \ multiprocessing \ spawn.py", line 105, in spawn_main
    exitcode = _main (fd)
  File "C: \ ProgramData \ Min

[2018-07-15 19:38] ezyang commented on #5858
Have you tried the guidance in the error messagE:

[code]

[2018-07-15 21:51] ezyang commented on #9092
It looks like the problem is that CUDA kernels marked `__global__` on Windows get exported from the DLL by default, even if they're not tagged `__declspec(dllexport)`. I checked and saw that marking the kernel as `static` does prevent this export from happening, but for obvious reasons this won't work for kernels which are referenced from multiple compilation units. So, if there is some way to mak

[2018-07-16 00:34] TommeyChang commented on #9440
I did not work in the the directory where I built pytorch

[2018-07-16 01:13] peterjc123 opened #9461 "Windows CPU version much slower than Unix versions"
Actually, this was first detected when we tried to build 0.4 packages and do some benchmarking. At first, I thought the reason may be that `OpenMP` is not well supported. But recently, when I managed to build PyTorch CPU version with Intel C++ Compiler, it was still much slower in some of the complex networks like SqueezeNet and MobileNet. So I tried to use `Intel Advisor` to locate the problems.

[2018-07-16 01:38] peterjc123 commented on #9092
@ezyang I wonder if there's any way to get it done with some modification to NVCC, since the [document](https://docs.nvidia.com/cuda/cuda-compiler-driver-nvcc/index.html#code-changes-for-separate-compilation) only mentions that it can be controlled by using `static/extern` . However, [this post](https://stackoverflow.com/questions/13029038/hiding-functions-in-static-library) mentioned a rather ugl

[2018-07-16 01:51] ezyang commented on #9092
Yes, but then we'll end up with a copy of the kernel every time it's instantiated. Maybe this won't add too many extra duplicates (because it's already a template that is being instantiated per use site) but it seems a bit dangerous. But it might still be worth a try (and we can see how much binary size increases.)

[2018-07-16 04:21] weiyangfb commented on #9129
@xtannier Thanks for the updates! Yeah, I feel like the installation log is bit strange.. Mine was the following:

[code]

I remember you had python3.6 at your previous conda env, but this time it became python2.7? Can I see your `conda list`?

[2018-07-16 05:07] dimamillion commented on #5858
Hi . I added, but still an error?
====
.....
def run():
    torch.multiprocessing.freeze_support()
    print('loop')
if __name__ == '__main__':
    freeze_support()     %--- here
def _check_not_importing_main():
    if getattr(process.current_process(), '_inheriting', False):
        raise RuntimeError('''
        An attempt has been made to start a new process before the
        current process h

[2018-07-16 05:15] SsnL commented on #9461
Intel Advisor is so cool :D

[2018-07-16 06:16] peterjc123 commented on #5858
@dimamillion Add it to your code, not the Python code.

[2018-07-16 06:16] peterjc123 commented on #9461
@SsnL Yes, and expensive too.

[2018-07-16 06:50] peterjc123 commented on #9461
@SsnL It actually can be used in Linux.

[2018-07-16 06:59] austingg commented on #1708
latest cudnn7 patch has supported depthwise conv path

[2018-07-16 08:40] mhusseinsh opened #9462 "lr_scheduler import error"
Hello
I am having a problem in running pytorch
I receive the following error
[code]

If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

Provide a shor

[2018-07-16 08:52] mhusseinsh opened #9463 "conda install torch v0.4"
I am trying to install a requirements file, which has torch>=0.4 using conda
and this is the error I get

[code]

If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issu

[2018-07-16 09:21] peterjc123 commented on #9461
Finally got the tabular version:
[loop in   THFloatVector_fill_AVX at AVX.cpp:160] | 18.620s | Scalar | outer loop was not auto-vectorized:   consider using SIMD directive
-- | -- | -- | --
[loop in   THNN_FloatThreshold_updateGradInput at Threshold.c:54] | 16.449s | Scalar Versions | 1 loop with multiple exits cannot be vectorized unless it meets search   loop idiom criteria
[loop in   THNN_Float

[2018-07-16 09:27] mhusseinsh opened #9464 "run pytorch using GPU on windows"
Hello,
I am using windows 10 and I have pytorch installed and I have a GPU
when running a pytorch script, it uses by default the CPU, not the GPU, and accordingly, I have `cuda runtime error: out of memory
`
How can I force the script to uses GPU not the CPU ?

In lunix platform, I usually write `CUDA_VISIBLE_DEVICES=x` but that is not possible on windows

any idea ?

If you have a question or wou

[2018-07-16 09:36] zwangby commented on #6310
How to solve the problem?

[2018-07-16 09:41] peterjc123 commented on #9464
Why is that not possible on Windows? The environment settings process is only a bit different.
[code]

[2018-07-16 11:30] peterjc123 commented on #9445
Which version of VS are you using?

[2018-07-16 11:31] vadimkantorov commented on #9461
would be so cool to have something like this in the benchmarking CI - to detect failures of auto-vectorization like in https://github.com/pytorch/pytorch/pull/9206. If not Intel Advisor, maybe at least some verbose gcc/clang output?

[2018-07-16 11:32] Awdrtgg commented on #9445
VS 2015

[2018-07-16 11:33] peterjc123 commented on #9445
Could you please update to at least VS 2015 Update 3?

[2018-07-16 11:44] shaibagon commented on #8594
I am facing the same issue (running the same example code).
[code]
I also have no `/etc/nccl.conf` on my machine.

[2018-07-16 12:52] vishwakftw commented on #9462
This is not reproducible on master.

[2018-07-16 12:55] vishwakftw commented on #9463
I believe it should have been `pytorch >= 0.4.0` and not `torch >= 0.4.0`.

[2018-07-16 13:25] zhanghaoyue commented on #9461
I wonder how many people actually use windows version.. Have you tried GPU version? I tried windows version with gtx 1080ti and surprisingly the training is much slower than linux version with a 1060. both platforms use cudnn, cuda 9.0

[2018-07-16 13:47] soumith commented on #9463
closing via Vishwak's comment. also pytorch package is available via the pytorch anaconda channel.

[2018-07-16 13:47] #9463 closed

[2018-07-16 13:48] soumith commented on #9462
you have an old version of pytorch installed. print(torch.__version__) would show you your installed version.

[2018-07-16 13:48] #9462 closed

[2018-07-16 14:03] toodef commented on #7571
Seem like it moved to separate module 'tutorials'. May be this link can help:
https://github.com/caffe2/tutorials/blob/master/helpers.py

[2018-07-16 14:39] peterjc123 commented on #9461
@zhanghaoyue GPU version should be okay. According to the benchmark done at 0.4.0, the difference should be very small. So there must be something else wrong there. However, for the CPU version, it may be 1.5x-2x slower in Resnet50, SqueezeNet, DenseNet and about 10x slower in MobileNet.

[2018-07-16 14:46] rotabulo opened #9465 "Floating point exception (core dumped) with Conv2d"
## Issue description

The following code produces a `Floating point exception (core dumped)` on Volta series with fp16:
[code]

By changing the convolution parameters by +1/-1 the code works.

I suspect this to be a cudnn bug.

## System Info
[code]

Reproducible also on V100.

[2018-07-16 14:52] apaszke commented on #358
@fmassa that's true, but what if the `Sequential` isn't coming from you? I think `list(seq) + my_modules` might work, but I'm not 100% sure, and not everyone would come up with that. I wouldn't be opposed to having `.extend`.

[2018-07-16 15:52] ezyang commented on #46
This is no longer relevant because we're going to drop support for storage slices.

[2018-07-16 16:06] mcarilli commented on #7733
DistributedDataParallel and replicate.py (used by both DistributedDataParallel and DataParallel) also use tensors as dict keys:
https://github.com/pytorch/pytorch/blob/master/torch/nn/parallel/distributed.py#L188
https://github.com/pytorch/pytorch/blob/master/torch/nn/parallel/replicate.py#L11
These are just examples I've stumbled across.  There may be any number of other instances where tensors w

[2018-07-16 16:12] vishwakftw commented on #7733
I also did notice that some of the tests also use tensors as a hashable type, while trying to make this change, but haven't found all of them yet.

[2018-07-16 16:19] ml7 commented on #9444
Hello Amir, can you provide more details about the install process you followed up until this point?

[2018-07-16 16:34] pjh5 commented on #9437
How did you install NCCL? NCCL is a library provided by Nvidia. You can download it and read more about it here https://developer.nvidia.com/nccl . There are different NCCL libraries for different CUDA versions. You have CUDA 9 but it looks like your NCCL was built for CUDA 8, so you will have to reinstall the correct NCCL version. Please reopen this issue if reinstalling the correct NCCL doesn't

[2018-07-16 16:34] #9437 closed

[2018-07-16 16:35] pjh5 commented on #9436
Where diid you install opencv from? Can you try a newer version of opencv?

[2018-07-16 16:39] pjh5 commented on #9373
The instructions only specify the packages needed for the tutorials, not the extra packages that are also needed to run the tests.

Please read https://caffe2.ai/docs/faq.html#why-do-i-get-import-errors-in-python-when-i-try-to-use-caffe2 and https://caffe2.ai/docs/faq.html#null__how-do-python-installations-work before changing your PYTHONPATH. You probably should not change your PYTHONPATH.

Since

[2018-07-16 16:39] #9373 closed

[2018-07-16 16:46] mariosfourn commented on #5286
I added map_location='cpu' and I still get the same error

[2018-07-16 16:53] pjh5 commented on #9028
@celticssssss can you give the outputs that I asked the original author for? Could you also post your cmake output and all the commands you used to install Caffe2?

@qimw I just noticed that you're using conda. Note that the instructions say that to use scripts/build_anaconda.sh for GPU builds you have to pass "--cuda your-version --cudnn your-version" to the script.

[2018-07-16 17:07] macaodha commented on #6934
I haven't explored it but it looks like there is a Tensorflow SSIM [implementation](https://www.tensorflow.org/api_docs/python/tf/image/ssim) as part of their code base.

[2018-07-16 17:11] dimamillion commented on #5858
Hi, Now it works but does not show the picture as in tutorials
please tell me why does not the picture
![image](https://user-images.githubusercontent.com/15218442/42772719-f0d6d7b4-8933-11e8-9b34-8d3134ccef0d.png)
image in /data
![image](https://user-images.githubusercontent.com/15218442/42772791-2e5b6ffa-8934-11e8-895d-03a2a1d208be.png)

Out
-----
Files already downloaded and verified
Files alrea

[2018-07-16 17:17] pjh5 commented on #9444
@amirtaherkhani what are you trying to do? If you want to build Caffe2 you have to use "FULL_CAFFE2=1 python setup.py"

[2018-07-16 17:54] vadimkantorov commented on #9433
I used `git submodule update`, but I assume `git submodule sync` would also help

[2018-07-16 18:36] krishnap25 opened #9468 "[bug] Multiplication of tensor with numpy scalar does not always work"
Thanks for the amazing software. I stumbled across (what I believe is a) bug when multiplying a torch tensor with a numpy scalar.

## Issue description

Multiplication of a torch tensor with numpy scalars exhibits unexpected behavior depending on the order of multiplication and datatypes. Specifically, multiplication of torch.FloatTensor with np.float32 does not work. Multiplication of torch.Float

[2018-07-16 19:54] piercefreeman commented on #4107
Do we know whether this is isolated to convolutional layers?  Or any other specifics on when we can expect to see this issue surface? @ngimel

[2018-07-16 20:48] ailzhang commented on #9453
Hi @jacksonly , would you minding sending a minimal complete script for the repro? Thanks!

[2018-07-16 21:49] li-roy commented on #8582
Could you please provide a minimal reproduce for this bug? It would make this a lot easier to solve.

[2018-07-16 21:56] SsnL commented on #9468
reproduced the bug at trial 2 on master

[2018-07-16 22:41] #46 closed

[2018-07-16 22:41] #9447 closed

[2018-07-16 22:41] #9409 closed

[2018-07-16 23:15] ezyang commented on #9092
With the help of @ngimel, we noticed that a minimal repro does NOT export symbols when they're marked `__global__`, so it must be something else (a compile flag, or some other pragma) which is causing these symbols to leak.

Here's the repro:

[code]

I used the following batch script on the CI server to reproduce the error with as much fidelity as possible:

[code]

[2018-07-17 00:10] vadimkantorov commented on #9132
`torch.isinf` merged in, `torch.isfinite` not implemented yet

[2018-07-17 00:11] TommeyChang commented on #9440
I used 4.9.4, I have made a mistake while reported the problem.

[2018-07-17 00:16] varunagrawal commented on #6103
Note that this should now be `at::ones(at::CPU(at::kFloat), {3, 4});`

@goldsborough @apaszke we really need ATen docs and stability. :slightly_smiling_face:

[2018-07-17 01:02] motiur commented on #1901
@avijit9 How to add multiple gpu's :
Is it os.environ["CUDA_VISIBLE_DEVICES"]="1,2"
I am just guessing.

[2018-07-17 01:50] ezyang opened #9479 "test_as_strided intermittently fails"
Examples: https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-trusty-py2.7.9-test/11014/console https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-macos-10.13-py3-test1/3757/console

[code]

CC @SsnL, since you fixed `as_strided` backward recently.

[2018-07-17 01:53] SsnL commented on #9479
ah I know what's wrong. will fix tomorrow.

[2018-07-17 03:41] ezyang commented on #1901
Please ask your question in the support forum https://discuss.pytorch.org/

[2018-07-17 04:20] peterjc123 commented on #9092
@ezyang Yes, I've checked your example and got the same result. So I'll check what's wrong there in the code.

[2018-07-17 04:58] bhushan23 commented on #9132
I thought isinf and inan should suffice the isfinite requirement as well!!
But, for consistency with other frameworks and ease of use, we can provide that.

[2018-07-17 05:58] khorshidisamira opened #9484 "WARNING:root:This caffe2 python run does not have GPU support. Will run in CPU only mode. WARNING:root:Debug message: libcurand.so.9.0: cannot open shared object file: No such file or directory Segmentation fault (core dumped)"
HI,
I have GPU and CUDA, CuDNN, and NCCL. My OS is Ubuntu 16.04, I followed this tutorial to install Coffe2 with GPU support (
conda install -c caffe2 caffe2-cuda9.0-cudnn7
) and the installation finished successfully but this command: python2 -c 'from caffe2.python import workspace; print(workspace.NumCudaDevices())'

returns: WARNING:root:This caffe2 python run does not have GPU support. Will ru

[2018-07-17 06:07] peterjc123 commented on #9092
Actually, I've checked the number of the exported symbols of `ATen.dll` at 0.4.0. It is only about 8k. So the problem probably is brought by the merge of Caffe2 and ATen.

[2018-07-17 07:02] rotabulo opened #9486 "Benchmarking of Cudnn convolutions is bugged when Tensor Cores are used."
## Issue description

The CUDNN function `cudnnFindConvolutionForwardAlgorithmEx` (used in https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cudnn/Conv.cpp#L481) searches an optimal algorithm satisfying the provided workspace constraint by varying the algorithm type but also by changing the math type. The current code fixes the math type to `CUDNN_TENSOR_OP_MATH` if fp16 is used

[2018-07-17 07:09] jacksonly commented on #9453
Okay, this is my complete script.
#!/usr/bin/env python

import os
import torch
import torch.distributed as dist
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
import time
import random
from math import ceil
from random import Random
from torch.multiprocessing import Process
from torch.autograd import Variable
from torchvision import datasets, transforms

class P

[2018-07-17 07:11] jacksonly commented on #9453
I always got this Runtime error:
Torch.distributed.init_process_group: RuntimeError: proc_group_name != group_name

[2018-07-17 07:42] 008karan opened #9489 "git clone --recursive https://github.com/caffe2/caffe2.git gives error that Eigen repository is not found."
1. Installing caffe2 is being a nightmare now for me. Many methods follow cloning caffe2 which results in error that eigen repository is not found. I came to know that it has been moved to another place called eigen git mirror. So how to proceed now as it not able to find it by cloning caffe2.

2. When I follow builing from source [method ](https://caffe2.ai/docs/getting-started.html?platform=ubun

[2018-07-17 08:29] bhavesh2109 commented on #8831
Hey I had the same error and this fixed it for me (https://discuss.pytorch.org/t/solved-source-compile-error/9490/2). It might help you all as well @TensorDL .

[2018-07-17 08:30] MRJTM commented on #9484
I have solved this problem by doing the below command:

sudo cp /usr/local/cuda-9.0/lib64/libcurand.so.9.0 /usr/local/lib/libcurand.so.9.0 && sudo ldconfig

then I run the script again and it shows that other libxxxx.so can't not be found, then I did the command above again to copy the libxxxx.so from  /usr/local/cuda-9.0/lib64/ into /usr/local/lib/
again and again , when I copied several libxxxx.

[2018-07-17 08:50] my462 commented on #8996
I also have met the same problem on ubuntu 14.04

[2018-07-17 08:58] iamhatesz opened #9490 "Compile PyTorch/Caffe2 with /MD runtime library"
## Issue description

I have a VS project with a lot of dependencies compiled for /MD runtime. By default, Caffe2 compiles into /MT runtime, so it's not working together. I read somewhere that setting BUILD_SHARED_LIBS to ON sets runtime to /MD, but for me it results with the following linker error:

`       "C:\Users\XXX\Libs\pytorch\build\ALL_BUILD.vcxproj" (default target) (1) ->
       "C:\Use

[2018-07-17 09:00] peterjc123 commented on #9092
Actually, a `.def` file is generated now before linking. After inspecting that file of caffe2_gpu, the number of the exported symbols seems to be nearly 80000. I've also checked the object files under ATen. They're all good and not exporting additional symbols. So, my question is how is the `.def` file generated? Are we using some flags like `WINDOWS_EXPORT_ALL_SYMBOLS`?

[2018-07-17 09:02] cbecker commented on #9092
@peterjc123 I checked a month ago and that was the issue, exporting all symbols. I think this will require manually exporting the symbols that are necessary and hiding the rest.

[2018-07-17 09:08] JerryShih commented on #9375
Here is the example of this BatchNormalization node.
It comes from the official onnx model zoo.
https://github.com/onnx/models/tree/master/models/image_classification/resnet
https://s3.amazonaws.com/onnx-model-zoo/resnet/resnet18v1/resnet18v1.tar.gz

This node contains the caffe2's unhandled attribute "spatial".
From the definition https://github.com/onnx/onnx/blob/master/docs/Operators.md#batchno

[2018-07-17 09:16] peterjc123 commented on #9092
@cbecker Okay, I'll try to add them. If you know what is missing, just tell me directly.

[2018-07-17 09:38] JerryShih commented on #9375
Here is the PR #9492 to handle the spatial attrib.

[2018-07-17 10:40] qimw commented on #9028
@pjh5 yes, I have passed this option

[2018-07-17 11:44] lunzueta commented on #9444
I have the same issue when I just put `pip install caffe2` in the command prompt (in Windows 10, with all the Python stuff installed). More specifically, I get the following output:

[code]

[2018-07-17 13:01] ezyang commented on #9092
@peterjc123 Very nice catch, I don't know how we forgot about this.

Adding sufficient API annotations to Caffe2 is probably going to take a lot of work, because Caffe2 was never written with correct symbol annotations in mind. I wonder if there is a way to selectively apply "export all" to certain files instead.

[2018-07-17 13:04] ezyang commented on #9092
Actually, let me be more specific: as @cbecker pointed out, I don't want you to underestimate the work involved in getting Caffe2 to be export clean. There is a lot of code to fix. If we can figure out how to set things up so that we can incrementally fix the situation (and farm things out to Caffe2 devs), that would be much, much more sustainable.

CC @Yangqing

[2018-07-17 13:10] peterjc123 commented on #9092
@ezyang What about deleting some lines in the `.def` file before linking to make the symbol table smaller?

[2018-07-17 13:13] cbecker commented on #9092
@ezyang I tried that but didn't succeed, because with the export all symbols option of CMake it's not possible to get in between cmake and vsc++ to modify the def file (at least as far as I reached).
(i.e. cmake calls msvc to export all symbols and then starts the linking process, and I didn't find a way to split this process in two so I can modify the .def file)

[2018-07-17 13:14] Amir-Arsalan commented on #9456
@soumith  @ngimel
This could be relevant to what I posted earlier [here](https://github.com/pytorch/pytorch/issues/9289).

[2018-07-17 13:19] peterjc123 commented on #9092
@cbecker Then what about we just generate the def file, turn the flag off, delete some lines in it and use the modified one directly?

[2018-07-17 13:21] cbecker commented on #9092
That could work. I am no MSVC guru so I didn't know how to generate the .def file from many projects/libs as CMake did internally.

The cleanest solution IMO is to define exports manually and enforce that for linux & mac. I understand that this is time consuming, but will free us from having this type of problems later, plus we know what's exported and keep the rest as 'private'

[2018-07-17 13:21] iamhatesz commented on #9490
After brief investigation of generated caffe2_pybind11_state.vcxproj for both BUILD_SHARED_LIBS=ON and OFF configurations, I see onnx libs are not being linked, when building with BUILD_SHARED_LIBS=ON. Why is that? Should I build it on my own and provide it to the linker?

[2018-07-17 13:44] jleni commented on #4827
@atan4583
Yes, oddly enough.. I had the following situation:

from a new console
- create conda environment  'conda create -n test'
- installed torch
- run 'import torch'  works

from a jupyter console
- switch to the same environment  'source activate test'
- conda list -> torch is already there (and just tested)
- run 'import torch' in the jupyter console window fails

[2018-07-17 13:51] soumith commented on #4827
the Jupyter package must be installed in the base environment and not in this new environment. From inside a Jupyter console, if you do `switch to the same environment 'source activate test'`, that does not update the Jupyter's PYTHONPATH at all.

[2018-07-17 13:56] snkchrist commented on #9444
Same here with  pip install caffe2

Collecting caffe2
  Using cached https://files.pythonhosted.org/packages/0f/b5/b4824aeeef2fc0a54e6f9f090545a486c2e5db0e18faae011c16465ee917/caffe2-0.5.0a0.dev100.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "C:\Users\onnx\AppData\Local\Temp\pip-build

[2018-07-17 13:57] jleni commented on #4827
True, but I tried to load in the same jupyter-lab console where I switched to the other environment. That is why it is odd.

[2018-07-17 14:10] zou3519 commented on #9455
This has been fixed on master with https://github.com/pytorch/pytorch/pull/6995

[2018-07-17 14:10] #9455 closed

[2018-07-17 14:21] jleni commented on #4827
mm.. It seems I hit this issue here: https://github.com/jupyterlab/jupyterlab/issues/4672

[2018-07-17 14:21] ezyang opened #9493 "tools/setup_helpers/generate_code.py imports torch build products"
Steps to reproduce:
1. Take master and build it
2. Apply this patch

[code]
3. Rebuild it

Build will fail on:

[code]

(though, cmake won't report the segmentation fault, it'll just say `generate_code.py` failed).

Cleaning solves the problem, so probably `generate_code.py` is pulling in a torch module.

This is similar to #8553

[2018-07-17 15:47] SsnL opened #9499 "Move ConstantPadNd into ATen"
`ConstantPadNd` is currently implemented in Python at [torch/nn/_functions/padding.py](https://github.com/pytorch/pytorch/blob/master/torch/nn/_functions/padding.py). We'd like it to be implemented as a native function in ATen. Note that you will need to update `pad(..)` in `nn/functional.py` after porting.

Reading material:

1. How to add a native function: https://github.com/pytorch/pytorch/tre

[2018-07-17 15:55] #9416 closed

[2018-07-17 15:59] vishwakftw commented on #9499
Sorry about this: `ConstantPadNd` resides in `torch/nn/_functions/padding.py`.

[2018-07-17 16:02] khorshidisamira commented on #9484
Do you have cuda-9.0 or cuda 9.2?
I tried those commands and same for others but finally I got this:
WARNING:root:This caffe2 python run does not have GPU support. Will run in CPU only mode.
WARNING:root:Debug message: /usr/local/cuda-9.2/lib64/libcurand.so.9.0: version `libcurand.so.9.0' not found (required by /home/samira/anaconda2/lib/python2.7/site-packages/caffe2/python/caffe2_pybind11_state_

[2018-07-17 16:18] zou3519 commented on #9490
cc @peterjc123

[2018-07-17 16:20] zou3519 commented on #9486
cc @ezyang what do you think?

[2018-07-17 16:24] zou3519 commented on #9440
What do you mean when you say "I can install it with a previous version?"

Are you building from the 0.4 branch or master?

Could you try cleaning with the following:
- pip uninstall torch
- pip uninstall torch (yes, twice)
- "python setup.py clean" and rebuilding?

[2018-07-17 16:34] zou3519 commented on #9408
It sounds like the conclusion is that the JIT should have better support for this

[2018-07-17 16:51] zou3519 commented on #9384
Does this succeed when running on CPU?

[2018-07-17 16:56] #4090 closed

[2018-07-17 17:00] vadimkantorov commented on #9384
I didn't try (it was a throw-away expermiment for visualization, I moved on to other things), but the attached file should repro it on GPU. Does it repro on your machine?

[2018-07-17 17:02] vadimkantorov opened #9502 "[docs] [pytorch] torch.meshgrid missing docs online"
https://pytorch.org/docs/master/search.html?q=meshgrid&check_keywords=yes&area=default returns nothing.

Might be useful to have some linter in the build process to find Python functions missing `autofunction`

[2018-07-17 17:16] vadimkantorov opened #9503 "[pytorch] torch.meshgrid to return a tensor"
Currently it returns a sequence of tensors of same size
 (https://github.com/pytorch/pytorch/blob/master/torch/_torch_docs.py#L5890)

Should it not return a (stacked over dim0) tensor instead? Users will still be able to deconstruct it as:
[code]
meshgrid can further be used in expressions for computing distances between cell positions (or position encoding), which is more convenient if coordinate

[2018-07-17 17:56] #7883 closed

[2018-07-17 17:57] SsnL commented on #7883
@Rikorose Now the master has a `stft` with a new signature consistent with `librosa` and using `fft`.

[2018-07-17 18:11] jongwook commented on #2001
I wanted minimal changes but wanted to show the number of parameters, like:

![image](https://user-images.githubusercontent.com/266841/42837079-013e5d74-89cb-11e8-9b49-25197774e743.png)

[code]

[2018-07-17 18:11] #5311 closed

[2018-07-17 18:11] bhushan23 commented on #9132
We also need to update https://pytorch.org/docs/stable/tensors.html

[2018-07-17 18:17] jerryzh168 commented on #9489
feels like it's protobuf version mismatch, cc @pjh5 could you help?

[2018-07-17 18:39] SsnL commented on #7038
@erogol In the next release, `stft` will have consistent signature and behavior with `librosa`

[2018-07-17 18:50] yf225 commented on #9092
We probably need this for the 0.4.1 release because rolling back the Caffe2-PyTorch merge in the build system would be difficult and more like unnecessary work.

[2018-07-17 19:09] zou3519 opened #9507 "[docs] document torch.nn.functional.bilinear"

[2018-07-17 20:01] vishwakftw commented on #4048
I think this can be closed now.

[2018-07-17 20:56] zou3519 commented on #9486
Could be related: #9465

[2018-07-17 21:01] rotabulo commented on #9486
@zou3519 this and #9465 are two different bugs. The only thing in common is that both are affected by the use of fp16.

[2018-07-17 21:51] weiyangfb commented on #9129
@xtannier I am looking into this. In the meanwhile, would you like to provide your system info following the issue template? You can probably get them from running `python collect_env.py`. Thanks!

[2018-07-17 22:39] SsnL opened #9513 "[jit] support at::optional"
Currently we can't use `at::optional` in input argument of a native function. I am aware of some on-going work for this which plans to trace `None` numeric types as `nan`. IMO, this isn't ideal because:
1. `nan` is a perfect valid input, and we can't differentiate python input `None` from `math.nan`.
2. `nan` doesn't make sense for integral types.
3. what about other types like `at::optional<std::

[2018-07-17 22:49] pjh5 commented on #9444
Does it work if you do "FULL_CAFFE2=1 python setup.py install" instead?

[2018-07-17 23:00] pjh5 commented on #9489
https://github.com/caffe2/caffe2.git is a few months out of date. The code moved to https://github.com/pytorch/pytorch.git

This path in your error message "/home/g008kaaraan/pytorch/build/caffe2/python/" tells me that you are still trying to run Caffe2 out of your build directory. You should not run your commands from your root Caffe2 directory (which should actually be the root pytorch directory

[2018-07-17 23:07] colesbury opened #9515 "Proposal: type promotion logic (torch.result_type)"
This proposes an algorithm for computing the result type of a mixed-type operation like `torch.add`. The function will be exposed to Python via `torch.result_type(*tensors)`. This proposal covers the default result type calculation; some operators may override the default behavior.

The similar NumPy function is [`numpy.result_type`](https://docs.scipy.org/doc/numpy/reference/generated/numpy.resul

[2018-07-17 23:33] pjh5 commented on #9490
FYI there is /MD fiddling here https://github.com/pytorch/pytorch/blob/master/CMakeLists.txt#L241 .

I don't think this is actually related to ONNX; I don't think Caffe2 links against ONNX and you don't need ONNX to build Caffe2. Can you find that missing symbol in an onnx library or somewhere else?

[2018-07-18 01:14] ezyang opened #9517 "Test binaries are not built with rpath to libnccl.so.1"
Steps to reproduce:
1. Do a build
2. Try to run `build/bin/atest` or any other binary

Actual result: complains that libnccl.so.1 could not be found.

Workaround: prepend `LD_LIBRARY_PATH=$PWD/third_party/build/nccl/lib`

[2018-07-18 01:22] ezyang commented on #9486
@rotabulo The proposed solution sounds good to me. Are you planning to submit a PR?

[2018-07-18 01:33] soumith commented on #9489
closing this via https://github.com/pytorch/pytorch/issues/9489#issuecomment-405755002 's comment

[2018-07-18 01:33] #9489 closed

[2018-07-18 01:39] soumith commented on #9464
if you have questions please use https://discuss.pytorch.org , not github issues.

[2018-07-18 01:39] #9464 closed

[2018-07-18 02:02] #4048 closed

[2018-07-18 02:04] wang5566 opened #9519 "[Caffe2] caffe2/python/caffe2_pybind11_state.so: undefined symbol: _ZN10onnx_torch11TensorProtoD1Ev"
I built caffe2 from latest pytorch source code and sudo make install sucessfully.
But I when I run "python -c 'from caffe2.python import core'" from terminal, I got:

WARNING:root:Debug message: No module named caffe2_pybind11_state_hip
CRITICAL:root:Cannot load caffe2.python. Error: /home/workspace/pytorch/build/caffe2/python/caffe2_pybind11_state.so: undefined symbol: _ZN10onnx_torch11TensorProt

[2018-07-18 03:53] fehiepsi opened #9521 "[distributions] dirichlet pathwise gradient does not work well with .expand"
The issue happens in pytorch master: when the expanded shape has a singleton (1) dimension. Samples get constant values at some dimension. This does not happen in pytorch 0.4.
Here is the code to replicate the issue
[code]
@SsnL @fritzo

[2018-07-18 05:48] MRJTM commented on #9484
I am using **_### cuda9.0 and cudnn7.1.4 on Ubuntu16.04_**
and I installed caffe2 pre-build Binaries after I have installed cuda and cudnn by the command bellow:
conda install -c caffe2 caffe2-cuda9.0-cudnn7
I can run the script in my terminal by when I run the script from pycharm , I encountered the WARNING that you've met
I suggest that you should **_### install and configure your cuda and cudnn

[2018-07-18 05:50] MRJTM commented on #9484
You can try cuda9.0 and cudnn7.1.4 just like me

[2018-07-18 06:43] xtannier commented on #9129
Result of `python collect_env.py`

[code]

[2018-07-18 06:51] 008karan commented on #9489
So I followed your method of creating a new environment and installing caffe2 as 'conda install -c caffe2 caffe2'. It passed both tests:
[code]

Then I moved ahead for densepose by following [this](https://github.com/facebookresearch/DensePose/blob/master/INSTALL.md). I am getting error in this line:
`cd $DENSEPOSE && make ops`

output:

mkdir -p build && cd build && cmake .. && make -j1
-- Caffe2

[2018-07-18 06:57] mariogeiger commented on #7228
Thanks @vishwakftw !

[2018-07-18 07:16] weiyangfb commented on #9129
@xtannier Thanks for the system info! I have a quick question. So you successfully installed pytorch 0.4.0? Is the issue still persistent when importing both of fastText and torch?

[2018-07-18 07:18] t-vi commented on #9507
Oh, bilinear, I missed that last time I looked at it. I'll add a docstring.

[2018-07-18 08:14] 008karan commented on #9489
After researching I got to know that it is probably because of my old cmake version(3.5).
So I removed it and updated using the following command:
[code]
Then I created new environment and installed caffe2 again and when this time I run `cd $DENSEPOSE && make ops` I get following error message:

**Reading package lists... Done
Building dependency tree
Reading state information... Done
The followin

[2018-07-18 08:44] celticssssss commented on #9028
@pjh5
I reinstall caffe2, and i find the same question
![1531902809 1](https://user-images.githubusercontent.com/35193543/42869718-6c8460a0-8aa8-11e8-9a72-4e41e3fe2e07.jpg)
and my installation procedure is follow https://caffe2.ai/docs/getting-started.html?platform=ubuntu&configuration=compile
but i don't install with the GPU support
![1531903074 1](https://user-images.githubusercontent.com/351935

[2018-07-18 09:38] marchbnr opened #9526 "MarginRankingLoss with multiple examples per batch is broken"
## Issue description
Using the MarginRankingLoss with multiple examples per batch seems to be broken.

It seems like this has been implemented here:
https://github.com/pytorch/pytorch/issues/972

but is broken after this change:
https://github.com/pytorch/pytorch/pull/5346

## Code example
[code]

This results in the following Exception:
Traceback (most recent call last):
  File "<stdin>", line 1,

[2018-07-18 10:20] naren142 opened #9527 "AttributeError: Method AffineChannelNd is not a registered operator. Did you mean: [AffineChannel]"
Traceback (most recent call last):
File "tools/test_net.py", line 151, in
main(ind_range=args.range, multi_gpu_testing=False)
File "tools/test_net.py", line 113, in main
engine.test_net_on_dataset(multi_gpu=multi_gpu_testing)
File "/home/chandu/workspace/tracking/DaT/lib/core/test_engine.py", line 321, in test_net_on_dataset
all_boxes, all_segms, all_keyps = test_net()
File "/home/chandu/workspace

[2018-07-18 11:03] marchbnr commented on #9526
Ok after reading the documentation more carefully I realized, that the target tensor has to be of the same shape as the inputs.

[2018-07-18 11:03] #9526 closed

[2018-07-18 11:06] fancyerii opened #9528 "torch.onnx export Segmentation fault"
I trained a simple linear regression model and wanted to export it using onnx.
import torch.onnx
input = Variable(torch.zeros(1, 1, dtype=torch.float))
model_path="/home/lili/lr.onnx"
torch.onnx.export(model, input, model_path)

the last line exit with: "Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)"
full codes can be found here: https://gist.github.com/fancyerii/0287893f

[2018-07-18 11:27] fmassa opened #9530 "[feature request] Add option to return matched / unmatched / unexpected in `load_state_dict`"
Currently, loading checkpoints using `strict=False` can be fairly error-prone. An extra level (for example with a `nn.DataParallel`) could lead to completely missing loading all the weights, and there is no sign that this has happened.

### Proposal:
A way to enable user-code to verify for possible mistakes would be to add an option to `load_state_dict` to return matched / unmatched / unexpected k

[2018-07-18 11:52] icyhearts opened #9531 "[caffe2]train on GPU and test on cpu failed"
I am learning caffe2. I want to train on a Machine with GPU, and I want to test the trained model on an ARM  cpu without GPU.
I tried the cifar10 tuorial on
[https://github.com/caffe2/tutorials/blob/master/CIFAR10_Part1.ipynb](url)
to speed up the training , I use GPU mode while training
[code]
the trained model is saved in
[code]
the directory's contents is like this:
[code]
Then I followed this

[2018-07-18 12:21] rhls-jon commented on #9310
Hi,

since I have the exact same error, I will also post the requested output here, I hope that is fine and it helps:

Here is the full cmake consol log:
[code]

ldconfig gives:
[code]

And here some system info just in case:
[code]

full cmake log and error log:
[CMakeError.log](https://github.com/pytorch/pytorch/files/2205694/CMakeError.log)
[CMakeOutput.log](https://github.com/pytorch/pytorch/f

[2018-07-18 12:53] iamhatesz commented on #9490
I did diff between above-mentioned caffe2_pybind11_state.vcxproj files, and here's what I've found:

caffe2_pybind11_state.vcxproj @ /MT
`<AdditionalDependencies>C:\Users\XXX\AppData\Local\Programs\Python\Python37\libs\python37.lib;-WHOLEARCHIVE:C:/Users/XXX/Libs/pytorch/build/lib/Release/caffe2.lib;-WHOLEARCHIVE:C:/Users/XXX/Libs/pytorch/build/lib/Release/caffe2_protos.lib;..\lib\Release\nomnigra

[2018-07-18 13:04] SeanNaren commented on #3420
I plan on deprecating my warp-ctc package for @t-vi ATen supported package, so if anyone plans to use warp-ctc I'd suggest using this: https://github.com/t-vi/warp-ctc

[2018-07-18 13:54] CarlosYeverino opened #9533 "Caffe2 - How to save a trained model as proto file and as C++?"
Hi all,

can you please share the way I can save a trained Caffe2 model network as proto file. Is it also possible to save it directly as C++ files?

[2018-07-18 14:29] mittagessen opened #9534 "CPU hidden state tensor in GPU lstm layer causes CUDA corruption"
## Issue description

This is probably halfway between feature request and bug report.

When doing a forward pass on a GPU LSTM layer with a GPU input tensor but a CPU hidden state tensor, the argument type check doesn't trip, a `CUDNN_STATUS_EXECUTION_FAILED` is raised, and the CUDA stack is left in a corrupted state (`.to('cuda')` raises error 77).

While running these operations is obviously st

[2018-07-18 14:53] soumith commented on #9465
I couldn't reproduce this. Did you have to use a specific set of weights? maybe setting the random seed in your repro `torch.manual_seed(seed) # seed is an integer` will help me reproduce the issue.

[2018-07-18 14:54] ChangliangSun opened #9535 "but torch.cuda.is_available() is False."
Very strange error. I compiled the pytorch by source. It can import success. But when I run my video_test.py. I got an error.
My platform is Nvidia TX2
![_20180718225336](https://user-images.githubusercontent.com/33341284/42889916-13c6bbda-8ade-11e8-90d0-9ebc33dfb069.jpg)

[2018-07-18 14:55] soumith commented on #9534
thanks, this needs to be fixed with better error checking. We'll push a patch.

[2018-07-18 14:58] soumith commented on #9535
please use our issue template. There's no information in this issue.

[2018-07-18 15:01] soumith commented on #9535
is this master branch, or did you use a versioned branch?

[2018-07-18 15:04] rotabulo commented on #9465
@soumith I could reproduce irrespective of input or weights. The only variable that affect the outcome are the convolution parameters. I do not a Volta machine available right now to fix the seed, but I will do asap. If it can help, the bug is triggered only on volta series and only when a conv algorithm based on tensor cores is selected (e.g. by turning off cudnn.benchmark the code above might wo

[2018-07-18 15:31] henryliu00 opened #9536 "RuntimeError: cuda runtime error (30) on Ubuntu18,CUDA9.1,cudnn7.0.5 when torch.cuda.is_available() returns True"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description
"torch.cuda.is_available()" returns True, but when I call ".to(device)" it cause following error:

T

[2018-07-18 15:31] engharat commented on #9127
I have the same issue and I do not understand what is causing it. it appears every time I run a training, but the training itself seems to go okey, the warning seems to not produce any noticeable effect.

[2018-07-18 16:03] SsnL commented on #9326
i can't reproduce this on latest master. it only gives True for me too.

[2018-07-18 16:16] pjh5 commented on #9444
Why do you want to use egg_info? My understanding was that `setup.py install` builds and copies libraries/source-code into your Python installation so that it can be used and that `setup.py develop` builds and symlinks libraries/source-code into your Python installation so that it can still be used but still refers to source code in the build folder that's more easily modifiable. What do you need

[2018-07-18 16:21] pjh5 commented on #9028
Can you post your cmake output https://caffe2.ai/docs/faq.html#what-is-the-cmake-output ?
Can you try the points in https://caffe2.ai/docs/faq.html#why-do-i-get-import-errors-in-python-when-i-try-to-use-caffe2 to fix your import error? Make sure you are not running python in your Pytorch root directory.

[2018-07-18 16:21] hmc-cs-mdrissi commented on #9413
As a note, I'd also find the first arg scalar version of this feature helpful as I have one model that is currently using the convert to list and index stuff. I use it because the model at each step chooses which weight matrix to use based off a value it computed at the prior step.

[2018-07-18 16:43] soumith opened #9540 "if system NCCL2 and anaconda NCCL1 are both present, c10d linking fails"
Repro steps:
- System NCCL2 is given via env variable `NCCL_ROOT_DIR`
- in the conda env, `conda install nccl` (it comes with installing `cupy`, for example)
- `python setup.py install`

Will fail with:

[code]

Also, related warnings that appear are:

[code]

Fix is to link to the full library path, not just the library-name.

[2018-07-18 17:18] samuela commented on #8079
As tricky as this may be to fix, it's still a bug in a very real sense. Allowing C errors to creep into Python code is the result of a leaky abstraction.

[2018-07-18 17:21] soumith commented on #8079
@samuela i completely agree. Unfortunately there's no easy fix. We cant set a signal trap, or catch an exception in C land to catch a Floating point exception. The only solution is to actually never do an integer divide by zero, so the entire set of C kernels have to guard against this.

[2018-07-18 17:31] vadimkantorov opened #9542 "[feature request] [pytorch] torch.argsort for convenience"
A similar method exists in NumPy (https://docs.scipy.org/doc/numpy/reference/generated/numpy.argsort.html) and in TensorFlow (https://www.tensorflow.org/api_docs/python/tf/contrib/framework/argsort).

Something like:
[code]

[2018-07-18 18:21] weiyangfb commented on #9129
@xtannier also, to build from source, I will do the following:
[code]

[2018-07-18 18:28] Amir-Arsalan commented on #9289
@ngimel @soumith I hope you didn't get me wrong. I never meant PyTorch does not compile with CuDNN 7.1.4. In fact, it compiles and doing `torch.backends.cudnn.version()` shows the correct CuDNN version. The problem is training does not work. I just compiled PyTorch using the same Singularity definition file with the only difference being I downgraded the CuDNN version (I tried a couple of versions

[2018-07-18 18:47] apaszke commented on #9530
Why would you want to verify the mismatches in your code? If you use `strict=True` it will report a full list of errors in the exception message.

[2018-07-18 18:57] soumith commented on #9530
the use-case is to do `strict=False` and at the model level, handle the unmatched / unexpected keys with custom logic. For a large project like detectron that will last a few years, it makes sense for them to handle "old" state dicts or "partial" state dicts with their own logic.

[2018-07-18 19:24] weiyangfb commented on #4204
`grad_fn=<Error>` is caused by #9412

[2018-07-18 19:30] weiyangfb commented on #1550
closing this because it is unclear which op is needed: mm(S, S) or mul(S, S), where the later is already implemented. Please reopen this or create a new issue if needed in the future.

[2018-07-18 19:30] #1550 closed

[2018-07-18 19:37] SsnL commented on #9129
@xtannier Hi, I've looked into this. Basically if two libs both using `pybind11` are compiled using incompatible compilers, this will happen (see https://github.com/pybind/pybind11/issues/1262). By "incompatible" I mean e.g., `gcc` and `clang`, `gcc < 4.9.2` and `gcc >= 4.9.2`. To avoid such issue as much as possible, we compile our release binaries with `gcc 4.9.2`. So if you are compiling `fastt

[2018-07-18 19:40] pushytoxin commented on #482
This was annoying me for a while on a completely unrelated project, but I figured out why it appears.

he reason for the error message is that the actual file name of the .whl is not the same as the .dist-info directory that's in the zip/whl file.

To fix, you have to rename the .whl file!

[2018-07-18 19:48] ezyang opened #9554 "test_neg is still failing out of range UBSAN"
[code]

It seems #9431 was not enough. CC @yf225

[2018-07-18 20:11] SsnL commented on #9554
failing for me too!

[2018-07-18 20:14] fmassa commented on #8079
@samuela can you try to see what happens if the divisor is a `tf.constant` as well, potentially with more than one element?

[2018-07-18 20:16] xtannier commented on #9129
Good catch!
[code]

See next comment for the happy conclusion!

[2018-07-18 20:16] markalexander opened #9559 "[feature request] Rename `Subset` -> `Resample` to reflect wider use"
Very minor but I believe `torch.utils.data.dataset.Subset` might better be named `Resample` (or something similar), since it's possible to use for oversampling via duplicated indices.  This is a common use case for imbalanced data, and I had actually made my own before realizing that `Subset` was exactly the same indices-array method as I had done.

The switch would make it clear (a) that it can b

[2018-07-18 20:18] BelBES opened #9560 "Incorrect term in _LRScheduler."
So, _LRScheduler use 'epoch' (last_epoch etc.) as a term which describe step of learning rate. But epoch is an artifical term, more commonly we operate in terms of steps. And I think that rename of 'last_epoch' to 'last_step' will be more correct.

[2018-07-18 20:29] xtannier commented on #9129
For the record, the problem was:
 - in a conda environment, I installed pytorch with `conda install`(as described on pytorch web site) and fastText with `pip install .` from their git clone.
 - that resulted in a segfault when doing `import fastText` and `import torch`

Reason:
 - pytorch is compiled with gcc 4.9.2
 - conda's default gcc is 4.8.5

Fix:
 - install gcc-4.9 in conda (e.g. `conda inst

[2018-07-18 20:30] SsnL commented on #9129
Thanks for writing the procedure out!

[2018-07-18 20:30] #9129 closed

[2018-07-18 20:57] ezyang opened #9563 "batch_sampler intermittently fails with address already in use on OS X"
Sample log:

[code]

log: https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-macos-10.13-py3-test1/4002/console

[2018-07-18 21:05] bapriddy opened #9564 "Failed to compile PyTorch on IBM Power8 arch same as #8787"
@zuoxingdong ,  @avmgithub , @soumith   see  #8787

I am also using the IBM Power 8 architecture (ppc64le) with CUDA 9.2 and latest cudnn/6.0 and nvcc/9.2. Since none of this is supported with conda or pip installs, I attempeted a build from the source instruction after reading the same issue posted by @zuoxingdong.   It get the following error...

~    /pytorch$ python setup.py install
running in

[2018-07-18 21:41] #7800 closed

[2018-07-18 22:21] ricbl opened #9570 "[feature request] More options for Fractional Max Pooling"
Two things from the Fractional Max Pooling paper (https://arxiv.org/pdf/1412.6071.pdf) are not currently implemented:
- what is called random increments in the paper (in contrast with what is called pseudorandom increments, which seems to be the only possible kind of increments in the current implementation);
- what is called disjoint regions in the paper (in contrast with overlapping regions, whi

[2018-07-18 22:29] #9564 closed

[2018-07-18 22:30] bapriddy commented on #9564
I may have solved it. I'll repost if it fails

[2018-07-18 22:45] Kaixhin opened #9572 "[feature request] RNN Wishlist"
PT has fairly basic options for RNNs, mainly due to keeping parity with cuDNN - something that should be alleviated by 1.0, which would allow a more flexible RNN API (https://github.com/pytorch/pytorch/issues/711). This issue details some possible options that we may want to provide. Sonnet's [gated_rnn file](https://github.com/deepmind/sonnet/blob/master/sonnet/python/modules/gated_rnn.py) provid

[2018-07-18 23:40] samuela commented on #8079
@fmassa

[code]

is mostly the same:

[code]

and

[code]

is also basically the same:

[code]

[2018-07-19 00:30] internetingofthings commented on #5426
Different application, I found that processing an array in pytorch using CUDA device is very fast, but displaying the result incurs 200 msec penalty when converting back to numpy array.

example:
torch_array = torch.from_numpy(numpy_array) # less than 1msec
do processing on torch_array  # less than 1 msec on GPU @ 99%
numpy_array = np.array(torch_array) # greater than 200 msec

does anyone know a

[2018-07-19 00:42] ChangliangSun commented on #9535
Yes, It is the master branch. The error log reminder me that Cuda is not available. But if I run `torch.cuda.is_available()`, It shows True.

[2018-07-19 00:42] TommeyChang commented on #9440
I have installed PyTorch 0.3 from source. Then I did the three steps to clean the previous installation. I can install the PyTorch 0.4 with the binary format and work properly. But I failed to install from the source.

[2018-07-19 00:53] matrixguy181 opened #9578 "can't open file 'setup.py': [Errno 2] No such file or directory"
So I'm trying to install PyTorch from source.  But when I'm trying to run the final command,
`MACOSX_DEPLOYMENT_TARGET=10.9 CC=clang CXX=clang++ python setup.py install`
my terminal throws this
`python: can't open file 'setup.py': [Errno 2] No such file or directory`

So how can I get rid of this and install PyTorch?

INFO :
OS : macOS 10.13.6
CUDA version : 9.2
cuDNN : 9.2
xcode CLT ( macOS 10.12

[2018-07-19 02:00] bhushan23 commented on #9530
regarding the API, why not always return matched, unmatched, unexpected set?
If what we return is depended on input parameter, it will be pain for the developers to port to new behavior.
Or
we want to go ahead with returning only if user is interested in to save some time?

[2018-07-19 02:07] bhushan23 commented on #9530
Regarding interface I see two options -
1. Keep interface consistent - Return matched, unmatched, unexpected set always
     Pros- Consistent interface, Portability of new usage and switching between these modes
     Cons - Existing code needs changes
2. Conditional return (Above proposal)
     Pros- Simplifies sources of user no needing this feature, as if this doesn't exists
     Cons- Inconsist

[2018-07-19 02:50] sadatnfs opened #9580 "[Caffe2] undefined reference to mkldnn_*"
## Issue description
I'm trying to compile PyTorch, and it's failing at compiling Caffe2 when I use MKL-DNN with the following error:

[code]

## System Info

- PyTorch or Caffe2: Caffe2
- How you installed PyTorch (conda, pip, source): source
- Build command you used (if compiling from source):
[code]

[2018-07-19 02:59] bhushan23 commented on #9578
are you sure you have synced correctly and you are indeed in correct directory?
also do git submodule update --init (This is not required for above error)

[2018-07-19 03:07] sadatnfs commented on #9580
Can confirm that Caffe2 builds when I had the MKLDNN directories unset

[2018-07-19 04:24] JerryShih opened #9582 "[Caffe2] caffe2 onnx backend doesn't suport onnx opset8"
## Issue description

The caffe2 onnx frontend will export opset8 onnx model, but the backend side still uses opset7
https://github.com/pytorch/pytorch/blob/45f0d05202f0506f39dad7e5cc537b5851dbb298/caffe2/python/onnx/frontend.py#L41
https://github.com/pytorch/pytorch/blob/45f0d05202f0506f39dad7e5cc537b5851dbb298/caffe2/python/onnx/backend.py#L142

Then, we will have the error like:

UserWarning: T

[2018-07-19 04:51] ailzhang commented on #9453
@jacksonly If I understand correctly, you are initializing with Gloo backend instead of MPI.

`def init_processes(rank, size, fn, backend='gloo'):`
`p = Process(target=init_processes, args=(rank, size, run))`

[2018-07-19 05:48] nathlacroix commented on #9444
Thank you for your answer. My comment wasn't very clear : how should I use the pip command such that I can launch the `setup.py install` ? Because as soon as I use pip, it automatically does the command `python setup.py egg_info` and I thus get the error. So when / how / where specifically should i run the `setup.py install` command ?
Pip downloads the files in a temporary folder but when I try to

[2018-07-19 06:00] zasdfgbnm commented on #9413
@fmassa

Not really, for example:
[code]
gives
[code]
But what I want is
[code]

[2018-07-19 06:00] t-vi commented on #9572
I have a pure-python-PyTorch LSTM where I expanded the one from pytorch/benchmark to reflect all current options (plus some dropout). If that can be of use for making a reference to test against, I'd be happy to put that up somewhere.

[2018-07-19 06:18] fmassa commented on #9413
The information that you want is in the returned tensor from my function, it just needs a transformation to add your `-1` indices. The last column is the index of the retrieved value

[2018-07-19 06:52] celticssssss commented on #9028
thanks for you help。
i don't think my fault is not running python in root directory
LOL

[2018-07-19 07:05] Kaixhin commented on #9572
@t-vi if you've already got a Python PyTorch version of these that you can share then posting a link would be useful, thanks.

[2018-07-19 07:19] BrettRyland commented on #9208
This issue also occurs on Debian/unstable with CUDA 9.2 compiling with `gcc-7` (`7.3.0-26`) as the main compiler and `-DCUDA_HOST_COMPILER=/usr/bin/gcc-6` due to the flag `-faligned-new` not existing in `gcc-6` (`6.4.0-18`).
Commenting out the appropriate lines in the main `CMakeLists.txt` allows compilation to proceed:
[code]

[2018-07-19 08:22] henryliu00 commented on #9536
Thank you so much! It worked! I didn't realize it could be a root issue(my bad). Now I would just run everything related with sudo.

[2018-07-19 08:22] #9536 closed

[2018-07-19 09:54] jshin49 commented on #1128
Is it possible to pack a padded 4d tensor for multi-turn dialog scenario?

(B x T x L x D)

[2018-07-19 11:02] ninjakx opened #9585 "cuda runtime error (59) : device-side assert triggered at /pytorch/aten/src/THC/generic/THCTensorCopy.c:20"
I am running this code on google colab:

[code]
This is the error i am getting:
[code]

[2018-07-19 11:15] matrixguy181 commented on #9578
I'm running this command from my home directory. Which directory am I supposed to be in?

[2018-07-19 11:16] matrixguy181 commented on #9578
@bhushan23 , I'm running this command from my home directory. Which directory am I supposed to be in?

[2018-07-19 13:05] soumith commented on #9578
@matrixguy181 you need to be in the freshly cloned pytorch directory. https://github.com/pytorch/pytorch/blob/master/README.md#get-the-pytorch-source

[2018-07-19 13:05] #9578 closed

[2018-07-19 13:33] zou3519 commented on #9440
Do you mean the build failed, or the import failed like above? If your source build failed, could you post a full build log?

[2018-07-19 13:39] ezyang commented on #9086
Log where it hung:

[code]

https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-xenial-py3-clang5-asan-test2/4180//console

[2018-07-19 13:42] ezyang commented on #9563
Not always batch sampler; here is `test_worker_seed`:

[code]

https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-macos-10.13-py3-test1/3632//console

[2018-07-19 13:45] ezyang opened #9586 "test_grad_assignment intermittently fails with SIGSEGV"
[code]

Unfortunately, the error message is not very helpful.

I've seen it twice. Here's one log:
https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-xenial-cuda8-cudnn6-py3-NO_AVX-NO_AVX2-test2/3736//console

[2018-07-19 14:19] ksemianov opened #9587 "Unable to convert models to ONNX with Sequential of Sequential in single Module"
## Issue description

Unable to convert models to ONNX  with Sequential of Sequential in single Module. Code example is self explanatory.

## Code example

[code]

Output
[code]

## System Info
PyTorch version: 0.5.0a0+54db14e
Is debug build: No
CUDA used to build PyTorch: None

OS: Mac OSX 10.13.5
GCC version: Could not collect
CMake version: version 3.11.1

Python version: 3.6
Is CUDA available:

[2018-07-19 15:08] vishwakftw opened #9589 "[docs] Document torch.bincount"
`torch.bincount` is not available in the docs page, but the doc string has been added in `_torch_docs.py`. This was mentioned earlier in https://github.com/pytorch/pytorch/issues/4570#issuecomment-402002818

[2018-07-19 15:35] matrixguy181 commented on #9578
@soumith, As you said I ran `MACOSX_DEPLOYMENT_TARGET=10.9 CC=clang CXX=clang++ python setup.py install` in the pytorch directory and it seemed to work fine (It ran for an hour. Isn't it unusual?). But `torch.cuda.is_available()` still return `False`. I don't know what's going wrong. The log is pretty long so I'm posting last few lines of the log.

`copying build/lib.macosx-10.9-x86_64-3.6/torch/l

[2018-07-19 15:53] jacksonly commented on #9453
yeah, I want to use Gloo as backend.

[2018-07-19 15:55] #9554 closed

[2018-07-19 16:03] Amir-Arsalan commented on #9289
It looks like the new version of the Docker file does not set the environmental variables after making the container; it only sets them while making the container and that's why PyTorch/Torch and other framewkros recognize CuDNN while compilation. Setting the environmental variables manually after the container is built fixed the issue. Sorry for the confusions.

[2018-07-19 16:03] #9289 closed

[2018-07-19 16:11] pjh5 commented on #9444
The command you need to use is "FULL_CAFFE2=1 python setup.py install" in the Pytorch root directory.

[2018-07-19 16:12] #9479 closed

[2018-07-19 16:21] ngimel commented on #9572
cudnn supports projection layer in LSTM starting from 7.1.2, it is not exposed in pytorch though, as we did not see a lot of demand for it. cudnn will support LSTM cell clipping in the next version.

[2018-07-19 16:30] Amir-Arsalan commented on #9456
@qimw Try setting the environmental variables manually and see if things work.

[code]

[2018-07-19 16:40] soumith commented on #9578
@matrixguy181 do you have CUDA installed on your Mac, and do you have a NVIDIA GPU on your mac?

[2018-07-19 16:53] pjh5 commented on #9028
@celticssssss I have never seen once seen this error caused by a bug on our end, so I have a _very_ strong prior that something is wrong with your Python setup. Python setups can actually be quite tricky, and imo are very unintuitive and easy to mess up. Running python from the pytorch root directory is AFAICT the most common cause of errors like this.

[2018-07-19 17:02] yf225 commented on #9382
Related: https://github.com/pytorch/pytorch/issues/8686.

We will need zero-dim size support to implement `numpy.split` semantics properly, because it supports returning sections that have zero elements, which means we need support for `narrow` with zero length.

[2018-07-19 17:06] pjh5 commented on #9489
Sorry, I did not realize you were trying to install detectron. It looks like detectron expects to find Caffe2 through find_package, which right now requires Caffe2 to be built from source. What's causing that error message is that a source build (through Caffe2's cmake) populates a "Caffe2 target" that tells other cmake projects (Detectron) where to find Caffe2. These extra cmake files aren't incl

[2018-07-19 17:09] matrixguy181 commented on #9578
@soumith , CUDA v9.2 is installed (the latest version). I have GeForce GT 650M.  I also downloaded cuDNN v7.1.4 (latest version) and moved the library files to cuda folder by running the commands below.

`sudo mv cudnn.h  /usr/local/cuda/include/`
`sudo mv libcudnn*  /usr/local/cuda/lib/ `

Then I downgraded xcode CLT to v8.2, set the cmake prefix path, cloned pytorch. Building also seemed to work

[2018-07-19 17:12] soumith commented on #9578
GeForce GT 650M is of CUDA capability 3.0. PyTorch supports graphics cards of CUDA capability 3.5 or higher (we removed CC 3.0 support starting pytorch 0.3 onwards).

https://developer.nvidia.com/cuda-gpus for reference

[2018-07-19 17:38] matrixguy181 commented on #9578
@soumith , Thanks for the info.

[2018-07-19 17:43] Amir-Arsalan commented on #9289
@ngimel After copying my container to our servers things broke down again. Our servers use CentOS 7.4 and I'm afraid the new Docker file does not account for that :( I wonder, since you work at NVIDIA, could you please let the team behind CuDNN know about this issue? I could fix things on my side if I knew what environmental variables of the mother OS (CentOS 7.4 in this case) the Docker image dep

[2018-07-19 17:54] ngimel commented on #9289
I'm not quite sure what your issue is. If you think problem is with nvidia-docker file an issue at nvidia-docker https://github.com/NVIDIA/nvidia-docker, if you think base images are faulty file an issue at https://gitlab.com/nvidia/cuda/. Docker image should not depend on host OS environment variables.

[2018-07-19 18:17] maxme1 opened #9592 "nn.Conv* incostintent error depending on stride"
## Issue description

Convolutions do not raise an exception for too small input shape if `stride > 1`.

## Code example

Suppose we have a following convolution:
[code]
This code raises a `RuntimeError: Given input size per channel: (4 x 4). Calculated output size per channel: (0 x 0)`. Which is quite expected.

Now change the `stride` to 2:
[code]
Which gives `torch.Size([1, 1, 1, 1])`. Is this

[2018-07-19 18:24] ailzhang commented on #9453
@jacksonly , I can run your script without any issue though. Could you switch to master branch and try again?

[code]

[2018-07-19 18:30] #9404 closed

[2018-07-19 18:40] Amir-Arsalan commented on #9289
@ngimel Moved the Singularity containers built with older versions of CuDNN to our servers. Everything works okay with older versions. I'm gonna file an issue to NVIDIA repos.

[2018-07-19 18:49] jamesr66a opened #9595 "[JIT] Unify python -> SugaredValue construction + fix inlining of graphs with Tuple-typed inputs"
1. Remove stuff like this https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/script/init.cpp#L87 and move it into a unified python -> SugaredValue constructor (e.g. `create()`). This will require having flags that indicate that a value is e.g. constant or a submodule.

2. Fix disabled tests for annotated script functions and methods that are taking in Tuples. The simplest form is to get

[2018-07-19 19:59] SsnL commented on #3959
Hi @todpole3 , I think what you saw isn't a memory leak. If it wasn't run with `volatile=True`, then some necessary variables are saved for backward computation. Then as you run more iterations, it uses more memory. This explanation is also consistent with your observation that neither numpy topk nor torch topk with `volatile=True` increases memory used.

I'm closing this for now. Feel free to reo

[2018-07-19 19:59] #3959 closed

[2018-07-19 20:55] pandezhao opened #9602 "Bugs in batch normalization layer of nn.batchNorm1d()?"
There is something wrong with the 1 dimension batch normalization layer, the output of normalization layer is not related to the input, but only related to the BN's parameter.
For example:
`a = Variable(torch.Tensor([[1000,5000],[50,20]]))
b=torch.nn.BatchNorm1d(2)
c = b(a)
`
then we only got
`c tensor([[ 0.8070,  0.8190], [-0.8070, -0.8190]])`
This value is not related with input, but only relate

[2018-07-19 21:01] diegovalenzuelaiturra commented on #2166
what about now ?

[2018-07-19 21:20] 008karan opened #9604 "WARNING:root:This caffe2 python run does not have GPU support. Will run in CPU only mode. CRITICAL:root:Cannot load caffe2.python. Error: libcaffe2.so: cannot open shared object file: No such file or directory"
So I tried to install caffe2  from source because I want to build densepose. I installed cuda and cudnn as well.
Getting above error when I do `from caffe2.python import core`

my cmake output:

**-- ******** Summary ********
-- General:
--   CMake version         : 3.11.4
--   CMake command         : /usr/local/bin/cmake
--   Git version           : v0.1.11-9388-gf33cd36
--   System

[2018-07-19 22:31] RLisfun commented on #4741
Always setting the training parameter to True and manually setting momentum to 0 on eval is a workarund that solves this bug in the software.

[2018-07-19 23:54] mttbx commented on #7096
yes, you are right, here's my new code!
[code]

[2018-07-19 23:54] #7096 closed

[2018-07-20 00:41] jerryzh168 commented on #9449
Is this related to net_async? I just did simple interface changes, and I don't feel it is related to hanging. cc @ilia-cher

[2018-07-20 01:08] ilia-cher commented on #9449
easy way to check if this is related to async executor is to change "dag" to "simple" in predictor_test.cc and check if it hangs, from the quick look at predictor_test.cc and logs I don't see the reasons yet why it might be caused by async executor, we need to run this test with "simple" to be sure

[2018-07-20 01:33] emmra opened #9611 "git clone ERROR:fatal: 无法克隆 'https://github.com/Maratyszcza/NNPACK.git' 到子模组路径 'third_party/NNPACK'"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

Provide a short description.

## Code example

Please try to provide a minimal example to repro the

[2018-07-20 01:33] isalirezag opened #9612 "small bug in torchvision.datasets.ImageFolder"
This is not a huge bug, but it is kinda a bug.
In linux sometimes the names are like img.JPEG instead of img.jpeg, and apparently `torchvision.datasets.ImageFolder` is not happy with that and throw an error that it just likes the jpeg not JPEG.
If you guys can consider that that would be nice.
Thanks

[2018-07-20 01:41] vishwakftw commented on #9612
Please open this issue in [vision](https://github.com/pytorch/vision).

[2018-07-20 01:46] #9611 closed

[2018-07-20 01:53] #9612 closed

[2018-07-20 02:11] DuaneNielsen commented on #9097
I understand python 3.7 not supported yet.  However when it comes time, there does appear to be something that needs to happen in the pip repo.

environment was python 3.7 on macOS, installing using pip 10.0.1

(gym) niedu02mac1454:~ niedu02$ pip install torch
Collecting torch
  Using cached https://files.pythonhosted.org/packages/5f/e9/bac4204fe9cb1a002ec6140b47f51affda1655379fe302a1caef421f9846/

[2018-07-20 03:02] TensorDL commented on #8831
running install
running build_deps
-- The C compiler identification is GNU 4.8.5
-- The CXX compiler identification is GNU 4.8.5
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C compile features - done
-- Check for working CXX com

[2018-07-20 07:12] rotabulo commented on #9465
@soumith I have tried different seeds and I always get the same exception.

[2018-07-20 07:36] sairampillai opened #9621 "LSTM training crashes Python process for long sequences"
## Issue description
Training an LSTM on CPU for long sequences fails with Python process error.
The sequence length upto 320 is working fine  but anything above that crashes python process with error:
`Process finished with exit code -1073741571 (0xC00000FD)`

The error occurs after the loss function has finished calculating loss.

Debugging python with the Visual studio JIT debugger shows the fo

[2018-07-20 08:04] TommeyChang commented on #9440
I could build and install, but failed to import

[2018-07-20 09:16] wise-east commented on #2198
@Stonesjtu Hi may I know how you visualized the following in your reply?

I would really like to be able to use something like it to monitor my gpu usage in terms of what objects were taking up my memory. Thanks in advance.

`current memory use: 1.37623977661
                                              types |   # objects |   total size
=================================================== | =====

[2018-07-20 09:56] Stonesjtu commented on #2198
@wise-east  I'm sorry I just forget that. Actually the printed information does not help when debugging OOM problem.

But to profile the GPU memory usage I would recommend this gist, i wrote it speically for pytorch (https://gist.github.com/Stonesjtu/368ddf5d9eb56669269ecdf9b0d21cbe).

Because Pytorch uses cached memory allocation, you may also want to check out this. (https://pytorch.org/docs/mas

[2018-07-20 12:09] MdAshrafulAlam commented on #5563
@ankita-kalra could you please elaborate your answer please? when i run my source code it shows no module named torch, but
![p80720-195030](https://user-images.githubusercontent.com/27885238/43001126-aaff0e98-8c56-11e8-8692-dc517807a464.jpg)
 already installed successfully.

[2018-07-20 12:11] soumith commented on #5563
in the first command you used `python3`, second command you used `python`.

[2018-07-20 13:40] themightyoarfish opened #9624 "Pycuda interoperability"
For doing computations on tensors with `pycuda`, I can do this
So going from `Tensor` to `pycuda.gpuarray.GPUArray`
[code]
however, I'm stumped on how to convert back to a Tensor without copying the data. How can this be done?

[2018-07-20 13:43] zou3519 commented on #9621
The patch is not in 0.4 iirc.

[2018-07-20 14:13] vishwakftw commented on #2014
I think this can be closed due to #2953 .

[2018-07-20 14:18] PetrochukM commented on #9572
- [ ] To help with gradient explosions, gradient clipping at every step of the RNN. As suggested in the [original paper](https://arxiv.org/abs/1211.5063), that introduced gradient clipping. Difficult to train RNNs on long sequences otherwise without get a NaN.

[2018-07-20 14:19] SsnL commented on #9621
@sairampillai We will release 0.4.1 soon, which likely contains a fix for your problem. When the release happens, please try it and let us know if it solves the bug.

[2018-07-20 14:56] #9589 closed

[2018-07-20 14:57] #9507 closed

[2018-07-20 14:57] #9502 closed

[2018-07-20 14:57] #9390 closed

[2018-07-20 15:02] soumith commented on #2014
closed via #2953

[2018-07-20 15:02] #2014 closed

[2018-07-20 15:04] CarlosYeverino commented on #9533
Hello @BIGBALLON ,

thanks for the code, man!

do you know also how I can save a trained network in python? I am trying the following saving way, however, when I load the saved files I got an error.

[code]
I got the following error:
Traceback (most recent call last):
  File "D:\Yeverino\Python_scripts\intro_tutorial\intro_tutorial.py", line 99, in <module>
    load_net(INIT_NET, PREDICT_NET, devi

[2018-07-20 15:18] BIGBALLON commented on #9533
@CarlosYeverino

- save net without BN layer:

[code]

- save net **with BN layer** :

[code]

[2018-07-20 15:42] #4176 closed

[2018-07-20 16:17] mxbi opened #9634 "Model only has gradients when "x = x + bias" and not when "x += bias""
## Issue description

I've built a simple model with a single bias layer (adding a set of constants to the inputs) as follows:

[code]
However, when I try training with this with an Adam optimizer, the weights of the bias layer do not change at all. Checking `list(model.parameters())` shows that it is indeed in the optimizer, and checking `list(model.parameters()[0].grad)` after running `loss.back

[2018-07-20 16:46] themightyoarfish commented on #9624
Yes, that seems to be the only viable solution right now. But if we assume that I want to have some complex chain of calculations where calculating the final shape would we cumbersome, it would be nice to just write down the formulas with pycuda or scikit-cuda and then wrap the resulting memory/GPUArray back into a tensor.

[2018-07-20 17:22] t-vi commented on #9634
Yes, this is intended behaviour.
The `=+, =*, ...` ops are inplace operations (like add_) and you cannot keep backward through them.
When using `x = x + y` the old `x` stays around (but doesn't have a name anymore) and will be visited in the backward.

[2018-07-20 17:33] mxbi commented on #9634
Thanks, I will watch out for this in the future.

[2018-07-20 17:33] #9634 closed

[2018-07-20 17:57] t-vi commented on #9468
The problem is that the left operand is the default operand to execute the `__mul__`.
The numpy scalar's `__mul__` will then call the tensor's `__array__` and that fails (and there isn't a way out).
The solution seems to be to set a high `__array_priority__`, then the scalar (and an array) will call the Tensor's `__rmul__` instead.
Standard numpy scalars have a strongly negative priority, standard

[2018-07-20 17:59] soumith commented on #9468
seems like a good idea. please do send a PR :)

[2018-07-20 18:01] cuimenc opened #9642 "RNNCell doc on weight_ih has the shape dimension reversed"
## Issue description

RNNCell doc on weight_ih has the shape dimension reversed

Doc says:

But the actual shape is (hidden_size x input_size)

`self.weight_ih = Parameter(torch.Tensor(hidden_size, input_size))`

[2018-07-20 18:12] t-vi commented on #9468
I wonder whether one might allow numpy() for tensors with grad after that. The potential of accidental conversion seems to be much lower (but I won't do that now).

[2018-07-20 18:17] vishwakftw opened #9645 "Local build without CUDA fails on master: undefined reference to `dlclose'"
## Issue description

I am trying to build PyTorch without CUDA, but the build keeps failing. [This](https://gist.github.com/vishwakftw/6ff0252793d333f2fead8286049c14c1) is a log of the build process.

## System Info
- PyTorch or Caffe2: PyTorch
- How you installed PyTorch (conda, pip, source): source (on https://github.com/pytorch/pytorch/commit/1d4d9fc7da4c09c64fa276a47032291e3d0f77b6 )
- Build

[2018-07-20 18:36] mruberry opened #9646 "Perf overhead of creating and destroying CUDA streams"
There is a cost to creating, retaining, and destroying CUDA streams in PyTorch master. In particular:

- Tracking CUDA streams requires atomic refcounting
- Destroying a CUDA stream can (rarely) cause implicit device synchronization

The refcounting issue has been raised as a concern for expanding stream tracing to allow streaming backwards, for example, and it's clearly best to avoid implicit dev

[2018-07-20 18:39] djangoma commented on #494
Need pytorch=0.2.0 for windows, tried the following line which results in error below.
Any suggestions ?

conda install -c peterjc123 pytorch=0.2.0
Solving environment: failed

PackagesNotFoundError: The following packages are not available from current channels:

  - pytorch=0.2.0

[2018-07-20 18:40] soumith commented on #494
@djangoma we didn't release 0.2.0 for windows. We only released windows support starting 0.3.0

[2018-07-20 18:55] t-vi commented on #8358
Isn't this likely to be caused by the gcc versions again?
PyPI currently seems to have sentencepiece compiled with an older GCC version:
[code]
Indeed, I get the segfault when using that but it goes away when I compile my own with GCC 5.

[2018-07-20 18:56] SsnL commented on #8358
@t-vi Ah seems like that is the reason indeed!

[2018-07-20 18:57] SsnL commented on #8358
@t-vi Thank you!!!

I didn't look into it too much once I realized that this is not the pybind11 problem.

[2018-07-20 18:57] #8358 closed

[2018-07-20 18:58] SsnL commented on #8358
@bheinzerling @ryonakamura See @t-vi 's comment above. PyTorch binaries are compiled with gcc 4.9.2. However, gcc before and after that version are not incompatible. Hence the segfault you see when pulling them into the same address space. Using a sentencepiece compiled with later gcc will solve the issue.

[2018-07-20 19:00] Amir-Arsalan opened #9649 "Unable to load nngraph-built Lua Torch models in PyTorch, even with unknown_classes=True flag"
I am trying to convert/load a model I built and trained some time ago using Lua Torch's nngraph in PyTorch but I get the following error:

`torch.utils.serialization.read_lua_file.T7ReaderException: don't know how to deserialize Lua class nn.gModule. If you want to ignore this error and load this object as a dict, specify unknown_classes=True in reader's constructor`

So I made an instance of the

[2018-07-20 19:05] soumith commented on #9649
pytorch doesn't support models built with `nngraph`

[2018-07-20 19:05] #9649 closed

[2018-07-20 19:06] SsnL commented on #9624
This is probably hard because pycuda doesn't support dlpack..

[2018-07-20 19:09] Amir-Arsalan commented on #9649
@soumith Could you please at least suggest some other way to do this? I cannot train that particular model anymore and need to convert it to PyTorch. Is there a way to convert nngraph models to normal modules in Torch?

[2018-07-20 19:11] Amir-Arsalan commented on #9649
@soumith Honestly I am surprised. Whole bunch of people used nngraph in Torch to build their models in the past and I'm surprised that PyTorch has no functionality to convert such models. I hope there is no assumption that people never want to load their nngraph-built models in PyTorch. Please advice!

[2018-07-20 19:16] soumith commented on #9649
we dont have any mechanism that has nngraph -> pytorch. You can read the nngraph model manually, convert it to torch7's `nn` model and then save it to disk.
Alternatively, you can construct same model architecture in PyTorch, and only save the `parameters` of the `nngraph` model to disk and load those parameters into PyTorch and copy into this carefully constructed new model.

[2018-07-20 19:19] t-vi commented on #9468
The last two cases are strange an *not* solved by the PR. So even though they both are float32 now (one torch, one numpy), they are not compatible...

[2018-07-20 20:00] koulanurag commented on #2496
Hi @SsnL, @soumith

Here is a simple script to replicate the issue:

[code]
Output:

[code]
Ran over torch '0.4.0' , Python 3.5.1, CentOS 7.
It works fine on OSX with same dependencies.

[2018-07-20 20:22] koulanurag commented on #2496
Just to Update:

It works fine if we use 'spawn' start method.

Updated Snippet:

[code]

[2018-07-20 20:47] t-vi commented on #8582
I think this might very well be a duplicate of #7722. If so, it is fixed in master and would be with the next release.

[2018-07-20 21:17] t-vi commented on #9468
To not leave it at idle talk: I tried and it seems to work relatively easily.

[2018-07-20 22:46] t-vi commented on #9602
This is a mathematical property of batch norm - with 2 inputs, there aren't many options to force the first and second moment (you can have various signs and the effect of eps, but other than that it's +1 and -1).

[2018-07-20 22:56] Kaixhin commented on #9572
@ngimel Do you have a reference for where cell clipping originated from? I've been trying to track down its source but haven't turned up anything so far.

@PetrochukM Is this something different to [`clip_grad_norm_`](https://pytorch.org/docs/stable/nn.html?highlight=clip#torch.nn.utils.clip_grad_norm_) or [`clip_grad_value_`](https://pytorch.org/docs/stable/nn.html?highlight=clip#torch.nn.utils.c

[2018-07-21 00:44] ryonakamura commented on #8358
Thank you @SsnL and @t-vi !!

[2018-07-21 01:02] youkaichao opened #9672 "how to post a new topic at pytorch forum?"
Sorry that I asked such a  silly question. But in order to post a new topic, I have to load all topics here until I reach the end, then I can see "Why not create a topic?.". This is annoying when I want to add a new topic for autograd which has almost 1K topics -- I have to load them all in order to post a new topic!

What's worse, when I post a topic, the site says **You are not permitted to view

[2018-07-21 01:03] soumith commented on #9672
there should be a "New Topic" button right at the top.
If you cant see it, your account must have been auto-flagged to not have the ability to post new topics.

<img width="1132" alt="screen shot 2018-07-20 at 9 02 42 pm" src="https://user-images.githubusercontent.com/1310570/43030598-5a92d1ba-8c60-11e8-9c08-ba87f8ca76f4.png">

[2018-07-21 01:03] #9672 closed

[2018-07-21 01:18] youkaichao commented on #9672
why I'm auto-flagged to not have the ability to post new topics? how can I fix it?

[2018-07-21 01:35] shianiawhite commented on #7318
As others have been having trouble, I just wanted to note that @kimdwkimdw 's fix is working for me. This is with Python 3 on macOS. Using:
[code]
I did delete my stubs manually, though I don't know if that was needed. In any case, it at least works on my system.

[2018-07-21 02:45] djangoma commented on #494
@soumith , @krikru , Thanks.
I was looking for pytorch0.2.0 as it is mentioned in the requirements of https://github.com/r9y9/gantts

[2018-07-21 03:10] youkaichao opened #9673 ""arguments are located on different GPUs" at backward pass"
I have seen other posts about this error, but theirs are different from mine.

after spending a whole night debugging, I located the error, but I can't fit it (can't figure out why it's happening).

here is the minimum code to reproduce it ::

[code]

error happens at this line ``loss.backward()``.

there are 3 places that I marked in the code above.

I have made 2 observations:

1.  if code at **

[2018-07-21 03:40] PetrochukM commented on #9572
@Kaixhin Yeah it is. Those functions operate after the entire gradient has been computed.

That’s fine if the sequence is short but with long sequences the gradient could explode to infinity before it’s clipped.

[2018-07-21 04:03] weiyangfb opened #9674 "Sparse Tensor Note"
# Sparse Tensor Note

## Purpose

This note tries to summarize the current state of sparse tensor in pytorch. It describes important invariance and properties of sparse tensor, and various things need to be fixed (e.g. empty sparse tensor). It also shows some details of sparse operators.

## Semantics

### Construct a sparse tensor
[code]

### More approaches in creating a sparse tensor
[code]
Sho

[2018-07-21 04:15] bstriner commented on #494
Says `>=0.2.0`, so you can try current pytorch. Even if it doesn't work immediately, should only be a few minor updates to get it running on 0.3.1 or 0.4.

[2018-07-21 04:39] LuteceSong commented on #821
is that real we can not use __init__ even on the module when we want to use multiGPU? is this problem fixed now?

[2018-07-21 04:53] soumith commented on #9673
use https://discuss.pytorch.org
I have checked your account and unmarked it, you can create new topics now.

[2018-07-21 04:53] #9673 closed

[2018-07-21 05:13] youkaichao commented on #9673
![1532149891 1](https://user-images.githubusercontent.com/23236638/43032376-ce83b2b0-8ce7-11e8-8ff1-65619e255631.png)

I don't know why but still I can't add new topics.

[2018-07-21 05:36] djangoma commented on #494
Thanks.

On Sat, 21 Jul 2018, 9:45 am Ben, <notifications@github.com> wrote:

[2018-07-21 05:42] youkaichao commented on #9673
@soumith I have created a new account named youkaichao1 , then I can add new topics. But then I'm on hold again...
so sad. feel like being abandoned by the pytorch community T_T

[2018-07-21 07:10] celticssssss opened #9676 "[caffe2]running problem, No module named caffe2_pybind11_state_hip"
I follow the Detectron installation, and i succeed install caffe2
![1532156622 1](https://user-images.githubusercontent.com/35193543/43033153-b049446c-8cf7-11e8-816d-f67d6fca3ab0.jpg)
but i don't test the GPU support, so sad for this.

and i install cocoapi and detectron
when i finish this, and want to test detectron.
it appear this problem
![1532156829 1](https://user-images.githubusercontent.com

[2018-07-21 10:14] shkit opened #9677 "build_pytorch_libs.bat should be end with CRLF."
## Issue description

I try to build PyTorch on Windows, but build fails on some machines with following message.
[code]
When I convert tools\build_pytorch_libs.bat' EOL from LF to CRLF, build succeeds.

Not all machines fail to build with LF, but batch file should be end with CRLF, I think.

[2018-07-21 11:18] CarlosYeverino commented on #9533
Hi @BIGBALLON ,

thanks for all the info, man.

[2018-07-21 11:18] #9533 closed

[2018-07-21 11:56] thuyen commented on #9353
Close. Turns out we can use generic blobs (without context) to pass whatever we want.

[2018-07-21 11:56] #9353 closed

[2018-07-21 12:29] zwx8981 opened #9678 "Remove BatchNorm layers once the training is completed."
In PyTorch, is there any way to remove the batchnorm layers by merging their parameters into their preceding convolutional layers?

ps: If you are familiar with the model deployment function in MatConvNet, you should know what I mean :)

[2018-07-21 12:38] forestriveral opened #9679 "[Caffe2] Build Errors : undefined reference to `google::FlagRegisterer::FlagRegisterer<std::__cxx11::basic_string"
I'm trying to build Caffe2 (with gpu supported) from source codes in Ubuntu16.04.
And I followed the official instructions on the Caffe2 page.
https://caffe2.ai/docs/getting-started.html?platform=mac&configuration=compile#anaconda-install-path

[code]
Errors ocurred during running the command
` $ sudo make install -j8`

## Issue description
I activated the specific conda environment `Caffe2`.
When

[2018-07-21 12:39] vishwakftw commented on #9674
`acos`, `cos`, `cosh` and `exp` could make the sparse tensor dense right?

[2018-07-21 13:34] soumith commented on #9673
your post is on the main page:

<img width="1115" alt="screen shot 2018-07-21 at 9 34 07 am" src="https://user-images.githubusercontent.com/1310570/43036137-3e4d9238-8cc9-11e8-9aa5-94eaf2bf5078.png">

[2018-07-21 17:31] zdevito opened #9680 "15x regression in 0-change build time for torch C++ files."
When debugging the C++ files in torch, to get consistent debugging signal, we need to _always_ rebuild before running the python tests. Previously because torch files were all building in the `develop` phase, a non-changed build would take ~1 second, making it easy to run it all the time.

Now that some _but not all_ files have moved into the `build` phase, non-changed builds take 15 seconds, a 15

[2018-07-21 18:33] apaszke commented on #9680
An improvement is to do `python setup.py build_caffe2`, but it still takes 3-5x longer than our previous build.

[2018-07-21 20:49] ezyang commented on #9674
But embedding is a really important use case!

With hybrid COO, this is not really true. The values() of a coalesced hybrid COO tensor is a valid values() of a CSR tensor; you just need to reconstruct the index tensors. Indeed, `_to_csr_int` does precisely this.

We'll have 0-dim support soon.

This is just as bad as returning a sparse dense tensor. The argument I have made is that we would rather

[2018-07-21 20:51] ezyang commented on #9680
IIUC, most of the problem is that it keeps rerunning cmake, is that right? `(cd build && ninja install)` might be a workaround if you just want to build.

[2018-07-21 21:21] vishwakftw commented on #9645
I fixed it via a hack of sorts: modify these lines
https://github.com/pytorch/pytorch/blob/a01d6f01b5547a396d6e28f95538cd061e14d29a/torch/CMakeLists.txt#L362
https://github.com/pytorch/pytorch/blob/a01d6f01b5547a396d6e28f95538cd061e14d29a/torch/CMakeLists.txt#L414

to
[code]
[code]
respectively.

@ezyang is this is a good enough fix ?

[2018-07-21 21:42] soumith commented on #9602
BatchNorm1d is not BatchNorm. It's the `channel`-ized version of BatchNorm.

In BatchNorm1d, the channels are treated to be independent of each other.
In fact, the input to BatchNorm1d should be 3D, not 2D.

BatchNorm and BatchNorm*d are implemented exactly as described in the paper.

[2018-07-21 21:42] #9602 closed

[2018-07-21 21:43] konstantinosKokos commented on #3665
Issue appears to still be present (cudnn 7.1.4, cuda 9.2, 384.130)

[2018-07-21 22:01] JesseTG commented on #9585
This affects me, too.  Sometimes.  I'm not yet sure how to reproduce it reliably.

[2018-07-21 23:56] rohan-varma commented on #566
I'm still seeing a ` RuntimeError: PyTorch does not currently provide packages for PyPI (see status at https://github.com/pytorch/pytorch/issues/566).` when running `pip3 install torch torchvision`- any reason that this could still be happening?

[2018-07-22 02:09] vmirly opened #9682 "Documentation for torchvision.RandomAffine() refers to a wrong URL"
The doc for the **resample** option in `torchvision.RandomAffine()` refers to Pillow docs version 3.4.x but this link gives **Permission Denied**. However, the links for version 5.2.0 and the stable version work, so I think it will be good to update the link.

Documentation Page for `torchvision.RandomAffine()`:
https://pytorch.org/docs/stable/torchvision/transforms.html#torchvision.transforms.Ran

[2018-07-22 02:54] SsnL commented on #9674
I agree with all @ezyang's points including the speculation about the "sparse + constant" idea.

Additionally, I wonder if it's possible to support autograd on `_values` (after exposing it) and sparse tensor construction. It would really allow people to write their own operations with sparse tensor and make the sparse-dense interactions much more flexible.

[2018-07-22 03:43] fjz15056311771 commented on #8275
i dont think this change is friendly for user! this small question make me confuse for a long time

[2018-07-22 05:35] zdevito opened #9684 "gdb stack traces for libtorch are missing debug symbols"
Example:
[code]
Note that files like `script/init.cpp` which are still part of _C.so have debug symbols. This makes it extremely hard to debug anything.

[2018-07-22 05:44] ZGHAP opened #9685 "How can I load the trained PyTorch model with C++"
Hi all,

Can I use C++ to load a model trained by Pytorch?

[2018-07-22 05:51] ZGHAP commented on #9685
I mean I implement all operation in C++ but not calling PyObject.

[2018-07-22 07:52] qimw commented on #9456
@Amir-Arsalan @SsnL @eklitzke @huitseeker @jfsantos Thank you very much! I have solved this problem. This is because detectron do not support cuda9.1, so I use cuda8.0 and it is ok now.

[2018-07-22 07:53] #9456 closed

[2018-07-22 08:16] tobyclh opened #9687 "[feature request] Transpose() should not check dimensions"
Currently, applying transpose `some_tensor.t()`,
on 1D Tensor, pytorch throws error as discussed at #301

my desired behaviour
`some_tensor.t() == some_tensor` should be true

This follows numpy's behaviour, make it much easier to port code from numpy and seems to me more natural and practical.

Thank you.

[2018-07-22 11:33] c-hofer opened #9688 "[BUG] Wrong gradient for slicings if parent nodes include undefined gradients"
## Issue description

If we have a calculation graph where a node includes values with undefined gradients and we de-select
those values, the resulting gradient is wrong.
Let `f` be a function not dependent on some input variable `x` then the corresponding differential
`df / dx = 0`
E.g., let `f(x_1, x_2) = x_2` then `d f / d x_1 = 0`.

However the following code snippet does not comply to this be

[2018-07-22 11:42] vishwakftw commented on #9682
Please open this issue in [vision](https://github.com/pytorch/vision) .

[2018-07-22 13:08] themightyoarfish commented on #764
I'm a bit confused, how does swapping axes make the underlying memory suddenly non-contiguous?

[2018-07-22 13:15] sairampillai commented on #9621
@SsnL  @zou3519  Thank you for the prompt reply. I will try the update once 0.4.1 is available, and let you know.

[2018-07-22 13:50] soumith commented on #9685
this will be part of 1.0 release, we dont have this feature at the moment.

[2018-07-22 13:50] #9685 closed

[2018-07-22 14:04] idansc commented on #39
torch.mm on 2D and 3D tensor returns
`RuntimeError: matrices expected, got 2D, 3D tensors at /Users/soumith/code/builder/wheel/pytorch-src/aten/src/TH/generic/THTensorMath.c:2028`

I'd change term _matrices_ to `2D tensors`

[2018-07-22 14:16] vmirly commented on #9682
Right, so I close this issue here and open one in vision.

[2018-07-22 14:16] #9682 closed

[2018-07-22 14:18] duhaijun opened #9689 "How to get the output shape of a layer via caffe2?"
The title already contains the full question, any help would be appreciated.

[2018-07-22 15:18] ezyang commented on #39
@idansc Sure, sounds reasonable. Are you interested in submitting a PR?

[2018-07-22 16:24] SsnL opened #9692 "[proposal] PixelUnshuffle"
I have a basic implementation. Will submit a PR next week.

[2018-07-22 17:53] shianiawhite commented on #7318
However, I've found that both `torch.float32` (and other datatypes) and `torch.backends.cudnn` are still unresolved by PyCharm (at least in my case).

[2018-07-22 19:09] alexskates opened #9695 "Build issue: ld: library not found for -lgcc_s"
## Issue description

I'm trying to build pytorch, and have tried both with and without CUDA. Both fail. I get the error:
[code]
The output from the install script can be found [here](https://gist.github.com/alexskates/e911aa975efe45fabed19702c6353183)

Also, some of the steps I'd taken to try and get it to work had been detailed in [this issue on discuss](https://discuss.pytorch.org/t/keeps-refer

[2018-07-22 19:30] alicanb commented on #9521
It's not only dirichlet; `_standard_gamma` and `poisson` have this problem as well. I think it's due to the way they're implemented in `Distributions.cpp`

[2018-07-22 19:58] SsnL commented on #9521
I’ll take a look after 0.4.1

[2018-07-22 20:33] t-vi commented on #825
Oh, I think it's just a matter of having a function that writes the kernel with some boilerplate to a file, executes an extension build, and loads it, but I think it's really neat to be able to quickly iterate those from Python rather than having to do these externally.

[2018-07-22 22:13] yaroslavvb opened #9696 "Possible deadlock in dist.init_process_group"
I'm observing hangs in `dist.init_process_group`. This happens reliably (100% of the time for me) when launching PyTorch distributed training runs on AWS using official DLAMI.

It goes away when I pre-warm the volume. This workaround makes PyTorch startup much faster, hence I suspect the failure is caused by some handshake logic not being robust to variability in distributed worker timings.

Using

[2018-07-23 02:22] ll884856 opened #9699 "[Build error] libcudnn.so: error adding symbols: File in wrong format"
## Issue description

When I build Caffe2 from source on my Jetson TX1, there are errors like this:

[ 93%] Linking CXX shared library ../lib/libcaffe2_gpu.so
/usr/local/cuda/lib64/libcudnn.so: error adding symbols: File in wrong format
collect2: error: ld returned 1 exit status
caffe2/CMakeFiles/caffe2_gpu.dir/build.make:2913: recipe for target 'lib/libcaffe2_gpu.so' failed
make[2]: *** [lib/libc

[2018-07-23 02:51] soumith commented on #9211
closed via the discussion in #9237

[2018-07-23 02:51] #9211 closed

[2018-07-23 03:10] ChangliangSun commented on #9535
Sorry, I made a mistake.

[2018-07-23 03:10] #9535 closed

[2018-07-23 04:20] SsnL opened #9701 "[request] speed-up multidim slicing backward"
The current way of apply slicing (indexing) isn't very efficient ([here](https://github.com/pytorch/pytorch/blob/7160846c81d9ebd298a4c1608d67b8f4bd76fee7/torch/csrc/autograd/python_variable_indexing.cpp#L151-L199)). Each slicing at each dim is applied as a separate autograd op, making the backward extremely inefficient:
[code]
The backward of this would be:
[code]
, incurring extra copying and mal

[2018-07-23 04:30] SsnL opened #9702 "Improve grid_sample"
- [x] move into ATen (relevant issue #8928)
- [x] reflection padding
- [x] Nearest neighbor interpolation (relevant issue #5565)

[2018-07-23 04:30] SsnL opened #9703 "multidim operators"
- [x] mean
- [x] var, std
- [ ] max, min

cc @VitalyFedyunin @ngimel

[2018-07-23 04:52] daquexian opened #9704 "A newer protobuf should be used, so that cmake install will work when building for mobile"
## Issue description

As Yangqing noted in https://github.com/pytorch/pytorch/blob/master/cmake/ProtoBuf.cmake#L77, we should eliminate `EXCLUDE_FROM_ALL` after https://github.com/google/protobuf/pull/3878 merges. I have a corresponding PR(https://github.com/pytorch/pytorch/pull/7085) but the updating of protobuf breaks iOS build. I think it is needed to find a proper protobuf version and enable c

[2018-07-23 05:03] kimdwkimdw commented on #7318
@shianiawhite Good point. Thanks. I think I should add more updates to Pull Requests.

@zou3519

[2018-07-23 09:16] zsef123 commented on #7176
In Mac, Python 3.6.5

Install on this command : `pip3 install caffe2`

[code]

[code]

I thinks caffe2 on pytorch directory(just torch)

[2018-07-23 12:20] arieltci opened #9706 "AttributeError: 'torch.FloatTensor' object has no attribute 'to'"
On version 0.3.0.post4, on google colab, doing the pytorch tutorial, I got the above error.

[2018-07-23 13:18] Tron-x opened #9707 "[caffe2]mpirun multi-node multi GPU in Distributed mode ,run resnet50_trainer.py get RuntimeError"
run with MPI
MPI is for coordinating machine rendezvous through MPI
so is it possible just using MPI as rendezvous but not redis or nfs?
i do not use redis and nfs
as my caffe2 is included in the container singularity ，
i run the under command:
mpirun -np 4 singularity exec /public/DL_Data/cnic_ai_20180316.img python resnet50_trainer.py --train_data  ~/ILSVRC/ilsvrc12_train_lmdb --num_gpus 8  --ba

[2018-07-23 13:19] Tron-x opened #9708 "[caffe2]mpirun multi-node multi GPU in Distributed mode ,run resnet50_trainer.py get RuntimeError"
run with MPI
MPI is for coordinating machine rendezvous through MPI
so is it possible just using MPI as rendezvous but not redis or nfs?
i do not use redis and nfs
as my caffe2 is included in the container singularity ，
i run the under command:
mpirun -np 4 singularity exec /public/DL_Data/cnic_ai_20180316.img python resnet50_trainer.py --train_data  ~/ILSVRC/ilsvrc12_train_lmdb --num_gpus 8  --ba

[2018-07-23 13:41] #9092 closed

[2018-07-23 13:46] carmocca opened #9709 "TypeError when creating a custom extension"
## Issue description

TypeError when compiling master branch

[code]

Where `kwargs.get('extra_compile_args', [])` is `{'cxx': ['-std=c++11', '-O2', '-fopenmp'], 'nvcc': ['-std=c++11', '-O2', '-ccbin=gcc-4.9']}`

## System Info

- PyTorch or Caffe2: PyTorch
- How you installed PyTorch (conda, pip, source): source
- Build command you used (if compiling from source): `python setup.py install`
- OS:

[2018-07-23 13:47] #9706 closed

[2018-07-23 13:48] peterjc123 commented on #9092
@cbecker Fixed in both master and v0.4.1. You can have a try.

[2018-07-23 16:35] pjh5 commented on #9679
Can you post a separate issue for the "conda install -c caffe2 caffe2-cuda9.0-cudnn7" failure so that other users with the same problem can find it?

For the first issue, you need to install gflags into your conda environment and pass -DCMAKE_PREFIX_PATH=/home/forestriveral/anaconda3/envs/caffe2 as well. There's an explanation for why you need to do that https://caffe2.ai/docs/getting-started.html

[2018-07-23 16:38] pjh5 commented on #9676
Can you give your cmake output and all the commands you used to install cocoapi and detectron? Also what python environment you installed them into?

[2018-07-23 16:45] pjh5 commented on #9604
/home/g008kaaraan/anaconda2/bin is in your PATH. Do you have Anaconda? If you have Anaconda but your Python is still /usr/bin then you did not install Anaconda correctly. If you don't have Anaconda, I recommend that you do install it. It is actually much easier and safer to work with then the default Ubuntu Python.

Please follow the advice in https://caffe2.ai/docs/faq.html#why-is-caffe2-not-work

[2018-07-23 16:46] vadimkantorov opened #9714 "[pytorch] [feature request] Multidim min, max"
Would be nice to have `min` / `max` available with multidim, helpful for min-max normalization across spatial image dimensions.

[2018-07-23 16:53] pjh5 commented on #9519
1. Did you run `git submodule update --init --recursive` right before you built Caffe2?
2. Did you install ONNX separately from source?
What were the commands you used to build Caffe2 and what was the https://caffe2.ai/docs/faq.html#what-is-the-cmake-output ?

[2018-07-23 16:53] bhushan23 commented on #9687
Current implementation only support transpose for 2D tensors.
We should implement generic for N-D tensors.

[2018-07-23 16:59] ayush1999 opened #9716 "Backward prop for LRN"
Looks there there is an implementation for forward pass of LRN layer, however I was not able to find the backward propagation equations. Could someone point them out to me? Or does pytorch not support backward pass for LRN at this point?

[2018-07-23 17:06] pjh5 commented on #9580
First, you need to get rid of all of the "&&" in that command. If you run `MKLDNN_LIBRARY=/usr/local/lib python setup.py install` then the environment variable MKLDNN_LIBRARY will have the value /usr/local/lib during the duration of the `python setup.py install` command. But if you use `MKLDNN_LIBRARY=/usr/local/lib && python setup.py install` (notice the &&) as you are doing above, then bash will

[2018-07-23 17:10] SsnL commented on #824
closing in favor of #9703

[2018-07-23 17:10] #824 closed

[2018-07-23 17:11] SsnL commented on #9714
incorporated into #9703 ! Closing in favor of that issue. :) Thanks!

[2018-07-23 17:11] #9714 closed

[2018-07-23 17:12] SsnL commented on #9716
Since the forward uses autograd ops, the backward happens automatically.

[2018-07-23 17:12] #9716 closed

[2018-07-23 17:14] goldsborough commented on #825
We have this, we call them JIT C++ extensions: https://github.com/pytorch/pytorch/blob/master/test/test_cpp_extensions.py#L200 They've been around for a few months, but they appeared after the official tutorial, so you might have missed them.

[2018-07-23 17:20] zou3519 commented on #9709
Could you try the following:
- pip uninstall torch
- pip uninstall torch (yes, twice)
- reinstall pytorch and see if the error still happens?

At any rate the logic does look wrong, so we'll look into it

[2018-07-23 17:23] vadimkantorov commented on #9714
:) thanks for adding these small but useful things!

[2018-07-23 17:32] yaroslavvb commented on #9696
Sorry for not isolating the issue, this seems to only happen in a large-scale run and I don't have a small repro. Complicated repro is to follow instructions in
https://github.com/diux-dev/cluster/tree/master/pytorch and then run

python launch_nv.py --name yaro8 --num-tasks 8 --zone us-west-2c --spot --attach-volume imagenet_high_perf  --params x8ar_args

I'll update this bug if I can isolate thi

[2018-07-23 17:34] yf225 commented on #9695
@alexskates We actually need Command Line Tools from Xcode 8.2 (macOS 10.12) to build PyTorch with CUDA on macOS. The correct steps should be:

1. Install Command Line Tools from Xcode 8.2 (macOS 10.12) from https://download.developer.apple.com/Developer_Tools/Command_Line_Tools_macOS_10.12_for_Xcode_8.2/Command_Line_Tools_macOS_10.12_for_Xcode_8.2.dmg

2. Set `export DEVELOPER_DIR=/Library/Develo

[2018-07-23 17:46] zou3519 commented on #9687
@bhushan23 `torch.transpose()` supports ND tensors. `tensor.t()` only supports 2D tensors. It is an open discussion for if `tensor.t()` should match numpy's ndarray.T behavior, and/or if we should add an uppercase T attribute.

[2018-07-23 17:46] #9695 closed

[2018-07-23 17:54] zou3519 commented on #9678
This could be an interesting JIT pass.

But it might be easier to do this by hand right now, @zwx8981

[2018-07-23 17:55] li-roy commented on #9674
Sorry if it's a bit unclear, but I wasn't suggesting that we should not support embedding. Instead, I think it might be better to have a few specialized operations for embedding and avoid supporting hybrid tensors on all ops.

@weiyangfb and I actually also discussed this possibility, but it seemed like a bad idea at the time. But I can't remember exactly why we scrapped it.

[2018-07-23 17:58] carmocca commented on #9709
Hi, thank you for your reply.

[code]

Doing the steps you mentioned I realized that I am not getting the TypeError when installing Torch but a custom extension of mine (My bad!).

However, it uses the class `BuildExtension` from torch/utils/cpp_extension.py which has the following [comment](https://github.com/pytorch/pytorch/blob/master/torch/utils/cpp_extension.py#L126-L127):

This seems to sugg

[2018-07-23 18:48] sadatnfs commented on #9580
Thanks @pjh5 , this is what I changed my build call to in my Docker:
[code]

Here's the CMake configuration :
[code]

[2018-07-23 19:06] Fuchai commented on #1106
Try [this snippet of mine](https://gist.github.com/Fuchai/12f2321e6c8fa53058f5eb23aeddb6ab) if you need to split Dataset into training and validation.

[2018-07-23 19:09] pjh5 commented on #9580
Are you getting the same error after making those changes?
Can you change https://github.com/pytorch/pytorch/blob/master/CMakeLists.txt#L135 to ON instead of OFF (there's no easy way to propogate flags through setup.py).

[2018-07-23 19:16] SsnL commented on #9674
Is the proposal having two sparse representations? One being embedding gradients (i.e. hybrid), and the other being more naive COO (matrix only) or CSR? If so, I strongly disagree. It would be really confusing to users that embedding's sparse gradient is not the same as other sparse tensors.

[2018-07-23 19:33] sadatnfs commented on #9580
Yep same undefined references to the MKL DNN. I'll start a Build with that manual switch now, and keep you updated!

[2018-07-23 19:37] gabsens commented on #1637
@yubeic Any update on the slow performance of the 1950x ?

[2018-07-23 19:52] sadatnfs commented on #9580
Still breaking (trace below):

This is how I built my MKL DNN btw in my Docker:

[code]
error trace for Caffe2:

[code]

[2018-07-23 20:19] vishwakftw commented on #9692
This was brought up earlier in https://github.com/pytorch/pytorch/issues/2456 .

[2018-07-23 20:22] gwgundersen commented on #3600
I like the idea of a warning and fallback as well. But FWIW, I currently just use this utility function:

[code]

[2018-07-23 21:05] ailzhang commented on #9696
Hi @yaroslavvb , what kind of pre-warm did you use?

Also could you give this a try and see if it helps? https://github.com/pytorch/pytorch/blob/master/torch/nn/parallel/distributed.py#L72

[2018-07-23 21:11] weiyangfb commented on #9674
@li-roy I don't recall that either... but now it looks like `Sparse tensor + Constant` can be a good representation and allow generic `add()` for sparse as well. In general, this works well on all pointwise one tensor ops. Ops will get slower for pointwise two tensor and BLAS, but it uses much less memory in exchange.

[2018-07-23 21:19] SsnL commented on #9674
@weiyangfb :) To avoid calling specific ops on the scalar (and if we want to be even crazier), we can even do this: augment the `_values` tensor to add an extra slice in dim0 so its shape becomes `(nnz + 1, ....)` with the first slice being the "constant" values. Then the whatever pointwise function calls can be done on this entire tensor. And we can give people `_values[1:]` when they require val

[2018-07-23 21:44] yaroslavvb commented on #9696
My "warm-up" is to attach an existing EBS volume from a previously successful run, instead of initializing new volume from AMI.

Another workflow that works is this
1. run it on all machines immediately after instance allocation (as soon as SSH succeeds)
2.  things get stuck in "dist.init_process_group" (>20 mins)
3. kill all Python processes, repeat commands again
4. things now work

[2018-07-23 21:47] weiyangfb commented on #9674
@SsnL Bravo!! This is beautiful! I don't see a reason why we should not do this.

[2018-07-23 21:48] ailzhang commented on #9696
@yaroslavvb This is a bit hard for us to repro. A smaller repro will definitely help. but if it's not possible, next time it happens to you, could you get a full gdb bt trace of all process & threads? For each process, `thread apply all bt` should do the work.

[2018-07-23 21:55] gchanan opened #9732 "ATen Tensor dim(), sizes(), strides() should be non-virtual"
See https://github.com/pytorch/pytorch/pull/9727 for an example where we potentially created a performance regression as part of the 1.0 refactoring.  We should either make these functions non-virtual or measure that it doesn't matter that they are virtual.

[2018-07-23 21:55] yubeic commented on #1637
@gabsens I switched to 7960x to save some time. For more details, I have put my benchmarks under the github discusson under openBLAS project if you google "1950x openBLAS". My conclusion is that the software is not there.

[2018-07-23 22:01] weiyangfb commented on #9674
Totally agree! This is going to save the effort to write specific ops that apply on nnz only, e.g., `s_add`.

@SsnL Would you like to give a simple example on the kind of ops that will be more flexible? Also, I wonder who's responsible for maintaining the invariance after user applying ops on `_values`?

@ezyang Did you mean users have to write the derivative formula (backward) when they define th

[2018-07-23 22:05] SsnL commented on #9674
Well, here is one we want to discuss on this +constant idea before doing it:
Additional not-so-easy concept for users to understand to use sparse. For example, two sparse tensors can’t just add together in a straightforward way, which may confuse users.

Additionally, we are diverging more with standard sparse formats. But I guess this isn’t too much a problem because we are always a superset of c

[2018-07-23 22:10] jerryzh168 commented on #9689
are you using caffe2's python API? are you asking about the shape of the output of a caffe2 operator? If so, you could run the net and get the blob from workspace.

[2018-07-23 23:30] weiyangfb commented on #9674
@SsnL For `add(Sparse, Sparse)`, I guess we can hide the internal representation from the user. But yes, users have to be more careful while working on `_values` directly.

So I recalled some of the previous discussion with @li-roy. With the `Constant` representation, they might be confused since `nnz` is actually `nnc`, and zeros in sparse tensor will take place in `_values`. But I think it is fi

[2018-07-23 23:46] CarlosYeverino opened #9736 "Cannot open db - LMDB, via python, Windows 10"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description
I was able to compile pytorch with the aim of using Caffe2. I have tested some libraries using pytho

[2018-07-24 00:06] SsnL commented on #9674
Sparse tensors are still listed as experimental API and nnz isn’t exposed
(iirc) so changing the internals should be fine.

On Mon, Jul 23, 2018 at 19:31 Wei Yang <notifications@github.com> wrote:

[2018-07-24 01:12] farleylai opened #9743 "Potential incompatibility with v0.3 pre-trained models using weight_norm(..., dim=None)"
## Issue description

Calling load_state_dict() to load a pre-trained PyTorch-0.3 model that uses `weight_norm(..., dim=None)` leads to mismatched tensor `XXX_g` dimension error: torch.Size([]) while torch.Size([1]) expected.

Source [issue](https://github.com/jnhwkim/ban-vqa/issues/7)

## Code example

In the weight_norm.py:
[code]

`return p.norm().reshape(1)` feels like a backward compatible wo

[2018-07-24 01:14] salavi commented on #566
`RuntimeError: PyTorch does not currently provide packages for PyPI (see status at https://github.com/pytorch/pytorch/issues/566).

Please follow the instructions at http://pytorch.org/ to install with miniconda instead.
`
I was using pip to install pytorch with the following command:
`pip3 install torch torchvision`
which I found in pytorch.org. Is this issue really resolved?
On my mac os everyth

[2018-07-24 02:09] soumith commented on #566
@salavi pytorch doesn't provide packages for 3.4. It only provides packages for 3.5, 3.6, 2.7 at the moment (and 3.7 from next release)

[2018-07-24 03:39] JerryLauzzz commented on #7030
You can try
[code]
This command will clean all the conda cache.

[2018-07-24 05:04] JerryLauzzz opened #9750 "Cannot build from source with anaconda python2.7"
I get a string problem when I try to build pytorch/caffe2 from source with anaconda python2.7.
I create a virtual env with python2.7. And I activate the env. Then I try to build pytorch/caffe2. However, the result package is for python3.6. I think the problem is the same as [caffe2 issue 2360](https://github.com/caffe2/caffe2/issues/2360)

If I run
[code]
 I get
[code]
You can see that the /home/d

[2018-07-24 05:20] StatML commented on #8987
Hi  @SsnL @ezyang Thanks for your help! uninstalling ONNX then reinstalling does work. :)

[2018-07-24 05:20] #8987 closed

[2018-07-24 07:32] avrum opened #9752 "Failed to run "build_android.sh" i686-linux-android-g++: error: unrecognized command line option '-fno-limit-debug-info'"
## Issue description

I want to compile all the android native libraries (.a & .so) to x86 processor.
While running the "build_android.sh" script i'm getting failed error regarding the make file.

## Code example

I tried running both for x86 and arm64, failed to do so in both scenarios:

 ./scripts/build_android.sh -DANDROID_ABI=arm64-v8a -DANDROID_TOOLCHAIN=clang
./scripts/build_android.sh -DAND

[2018-07-24 09:11] xuchong opened #9753 "dataloader stuck at sched_yield =0"
**My docker envs**:
Description:    Debian GNU/Linux 8.9 (jessie)
Pytorch: 0.4.0
cuda: 8.0
python: 3.6.5

After a few epochs of training and validation,  dataloader of  validation suddenly stuck at sched_yield =0. I set dataloader worker = 10. I can see one subprocess use CPU at 100% and other 9 processes just use CPU at 0%. RAM and GPU memory doesn't release. The whole program just hangs up.
__Mo

[2018-07-24 09:49] t-vi opened #9754 "Logsumexp is broken with out, as it is not inplace"
Logsumexp is broken with out, as it is not inplace.
[code]
compare with `sum` in place of `logsumexp`.
I'll have a PR shortly.

[2018-07-24 10:03] lantiga commented on #5939
Solved with #8067

[2018-07-24 10:03] #5939 closed

[2018-07-24 10:16] alexskates commented on #9695
I keep trying to use clang, but it uses gcc every time. I've tried passing it into command I'm using to build (as in your example), ensuring it was added to PATH (first), setting the environment variables $CC, $CXX, $CMAKE_C_COMPILER, $CMAKE_CXX_COMPILER and so on but every time it references gcc-5. Am I missing something?

[2018-07-24 12:00] peterjc123 commented on #9677
@shkit Why is this a problem? Git should handle this well if you set `core.autocrlf` to `true`, which should be a default value in Git. So how did you get the code? Did you try to copy the files from Linux to Windows?

[2018-07-24 12:04] peterjc123 commented on #9122
@xkszltl `C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC` is the PATH of VS2015. You are using the wrong version.

[2018-07-24 12:30] davidbau opened #9756 "torch.bincount errors on empty input"
## Issue description

`torch.bincount` gives an error when given an empty tensor, rather than just returning zero counts like `numpy.bincount`.  Trips up edge cases when counting filtered data.

## Code example

[code]

[2018-07-24 12:38] XiongChengxin commented on #9689
Hi@jerryzh168 , How could I get the name of each layer? The blob name I get from 'net.Proto()' are too similar, the details are as follows. I can't distinguish which is I need. Looking forward to your reply, thanks in advance.

external_input: "gpu_1/comp_13_conv_2_w"
external_input: "gpu_1/comp_13_spatbn_2_s"
external_input: "gpu_1/comp_13_spatbn_2_b"
external_input: "gpu_1/comp_13_spatbn_2_rm"
e

[2018-07-24 13:02] alexskates commented on #9695
`rm -r build` fixed it!

[2018-07-24 13:11] shkit commented on #9677
@peterjc123  I set `core.autocrlf` to `false` manually on Windows, because it is problematic setting for me. (I sometimes copies from/to Unix-like systems, and so on)
Doing `git --local core.autocrlf true` in local repository also fixes this problem, but I think adding `.gitattributes` file (like below) could be a appropriate fix. (bat's EOL is always set CRLF whatever user settings is)
[code]
How

[2018-07-24 13:39] zou3519 commented on #9756
@davidbau Numpy doesn't document this behavior [docs here](https://docs.scipy.org/doc/numpy/reference/generated/numpy.bincount.html) for the `numpy.bincount([])` case.

The docs suggest the output should be

The result of binning the input array. The length of out is equal to np.amax(x)+1.

but if `x` is `[]`, the size of the output isn't well defined. Do you think `torch.bincount(torch.LongTensor

[2018-07-24 13:56] Wuchangwen opened #9759 "No such file or directory--/relu_op_test.py"
w@w-Lenovo-Y50-70:~/pytorch$ python caffe2/python/operator_test/relu_op_test.py
python: can't open file 'caffe2/python/operator_test/relu_op_test.py': [Errno 2] No such file or directory

- PyTorch or Caffe2:
--   BUILD_DOCS            : OFF
--   BUILD_PYTHON          : ON
--     Python version      : 2.7.12
--     Python executable   : /usr/bin/python
--     Pythonlibs version  : 2.7.12
--     Py

[2018-07-24 13:58] davidbau commented on #9756
Producing an empty vector from an empty count makes sense to me, although I find that in practice, I'm always using minlength, in which case the right output shape is unambiguous.

[2018-07-24 14:02] peterjc123 commented on #9677
@shkit Nice idea, could you submit a PR on this?

[2018-07-24 14:16] zou3519 commented on #9513
cc @wanchaol

@SsnL the nan is a temporary stopgap. I believe the end state is indeed to support `at::optional` or something similar.

[2018-07-24 14:20] zou3519 commented on #9503
I think we wanted `torch.meshgrid` to follow numpy semantics. `numpy.meshgrid` returns a list of ndarrays:
[code]
I'm not sure what would be useful: having a stacked tensor or returning two outputs. Perhaps we could add an option to meshgrid to return a stacked tensor?

[2018-07-24 14:30] ezyang opened #9760 "[JIT] Parsing of declarations at static initialization time leads to very strange errors when _C.so is stale"
The root cause is the same as #9493 but I think some stuff JIT is doing is exacerbating the problem.

I was doing a rebuild of PyTorch one day after making some modifications, and I got this error:

[code]

Deleting torch/*.so fixed the problem.

I think there are a few problems here:

1. This is ostensibly some sort of internal error for the JIT schema, but the error gives no indication as such
2

[2018-07-24 14:31] XiongChengxin opened #9761 "[caffe2] TypeError: conv_transpose() takes at least 6 arguments (9 given)"
I need to use conv_transpose(), but I always receive the same error. My code are as follows, any help would be highly appreciated. Thanks in advance.

upconv = brew.conv_transpose(
    model,
    blob_in = final_avg,
    blob_out = 'upconv',
    dim_in = =512,
    dim_out = 2048,
    kernels = [4,1,1],
    strides = [2,1,1],
    pads = [1,0,0],
)

[2018-07-24 14:58] fmassa commented on #9503
I think we should still return a tuple of tensors, as they can directly be passed as inputs to a tensor for advanced indexing.

As an example, it is annoying that `nonzero` returns a stacked tensor in PyTorch, it would have been better if it directly returned a tuple of tensors (as in numpy), for the same reasons as above (indexing).
This is specially annoying while we don't have full support for

[2018-07-24 15:44] vadimkantorov commented on #9503
(my usecase for stacked returned tensor is to create a grid in order to evaluate some function on an image, depending on spatial coordinates - happens in PDEs too)

[2018-07-24 16:04] pjh5 commented on #9750
Can you post your cmake output ?

Can you also make sure to follow these recommendations https://caffe2.ai/docs/faq.html#why-is-caffe2-not-working-as-expected-in-anaconda ?

This reading might also help in the future https://caffe2.ai/docs/faq.html#why-do-i-get-import-errors-in-python-when-i-try-to-use-caffe2

[2018-07-24 16:30] pjh5 commented on #9580
Can you try patching https://github.com/pytorch/pytorch/pull/9474 ?

[2018-07-24 16:32] jerryzh168 commented on #9689
@XiongChengxin the you can find that in the definition of operators in the proto file. There are inputs and outputs for each operator definition.

[2018-07-24 16:34] zou3519 commented on #9527
Could you please fill out the issue template so that we have more information to work with? In particular, a code sample would be helpful.

[2018-07-24 16:43] JerryLauzzz commented on #9750
[code]
Yes, I make sure I follow those recommendations.
It is really strange. I used the python2 env. But in the cmake output, it seems the script find root env(python3).

[2018-07-24 16:45] JerryLauzzz commented on #9750
You can see that the Python executable/library/includes is not the same as https://caffe2.ai/docs/faq.html#what-is-the-cmake-output. So I try to run ```conda clean -all``` and try again. I get the same result.

[2018-07-24 16:56] pjh5 commented on #9759
Use caffe2/python/operator_test/activation_ops_test.py instead of relu_op_test.py . I will update the documentation.

[2018-07-24 16:56] #9759 closed

[2018-07-24 17:06] sadatnfs commented on #9580
I cloned from that PR (your fork) and tried to build but found an error even earlier. Looks like `ideep.hpp` isn't getting picked up?

[code]

[2018-07-24 17:14] naren142 commented on #9527
I have resolved this issue by following the instructions in the installation process.

[2018-07-24 17:14] #9527 closed

[2018-07-24 17:17] bapriddy opened #9771 "Support for ppc64el arch?"
When will there be support for ppc64el arch?  I read an old post that said never!  Is this still the consensus?

[2018-07-24 17:36] wanchaol commented on #9513
Yes ultimately we want to use at::optional to represent None, the nan solution is temporary in JIT/ATen to support the clamp use case.

[2018-07-24 18:02] zdevito commented on #9760
I think the root cause is the major problem, because it breaks the build.  But it would be a good idea to delay operator registration until it is needed anyway to lower startup times.

We can make parsing lazy by:

1. switching Operator to have a .schema() function, and only lazily generating the schema if initialized from a string.
2. in registration of an operator just putting the operators in a

[2018-07-24 18:22] zou3519 opened #9774 "[docs] torch.nn.functional.dropout not documented"
https://pytorch.org/docs/master/nn.html?highlight=dropout#torch.nn.functional.dropout

![image](https://user-images.githubusercontent.com/5652049/43158146-f7e8ee24-8f4c-11e8-8c4c-13fcc49ff6f8.png)

Maybe we should start having tests for if a function's documentation shows up or not

[2018-07-24 18:32] veugene opened #9776 "`InstanceNorm1d` does not match documentation and is redundant."
`InstanceNorm1d` expects only 3D inputs, while the documentation states:

"Applies Instance Normalization over a 2D or 3D input (a mini-batch of 1D inputs with optional additional channel dimension)"

Furthermore, `InstanceNorm1d`, `InstanceNorm2d`, and `InstanceNorm3d` appear to be redundant as they add nothing to their parent class `_InstanceNorm` except an input dimension check.

Proposal A:
Fi

[2018-07-24 18:40] veugene commented on #9776
`BatchNorm1d`, `BatchNorm2d`, and `BatchNorm3d` are similarly redundant.

[2018-07-24 18:48] SsnL commented on #9774
maybe i should revive https://github.com/pytorch/pytorch/pull/9008/files#diff-c66288b9ce36978f377a1a20d32ec53dR553 at some point

[2018-07-24 18:59] #6906 closed

[2018-07-24 19:00] lemairecarl opened #9778 "clamp_ has inconsistent behaviour"
## Issue description

`tensor.clamp_` has inconsistent behaviour when used on subtensors produced with different indexing methods.

## Code example

### Exhibit 1

[code]

### Exhibit 2

[code]

## System Info

[code]

[2018-07-24 19:11] #9378 closed

[2018-07-24 19:21] veugene opened #9779 "Occasionally misleading error message with `Tensor` type checking."
When a `Tensor` is created with an integer size, unless the integer type is specifically "int", the error message is:

[code]

Where `<type>` is the type of value passed to `Tensor`.

Examples:
[code]

Perhaps a better message would be:

[code]

[2018-07-24 19:42] #9754 closed

[2018-07-24 19:49] pjh5 commented on #9580
Can you leave out the changes in cmake/Dependencies.cmake ?

[2018-07-24 20:06] pjh5 commented on #9750
https://github.com/pytorch/pytorch/pull/9780 should fix your problem. Please patch it and then try building again in a new environment.

[2018-07-24 20:15] ezyang opened #9784 "globalContext() deadlock if Context is not initialized before libtorch (variable hooks) is loaded"
Steps to reproduce:
1. Write a patch that eliminates `globalContext()` initialization from the static initializers of `libcaffe2.so`. Here is one sample branch: https://github.com/ezyang/pytorch/tree/issue/deadlocks
2. Build and run

It deadlocks in the following trace:

[code]

So there is a circular call of `globalContext()`, but ONLY if the variable registration static initializer is called bef

[2018-07-24 21:02] CarlosYeverino commented on #9736
Hi @pjh5 ,

when the compilation fails, I delete the folder pytorch\build and then set configurations(including set USE_LMDB=ON) and finally execute build_windows.bat

thanks for your help. I installed lmdb via python 2.7 using:
`pip install lmdb`

lmdb is installed in path C:\Python27\Lib\site-packages. There are two folders:
lmdb and lmdb-0.94-py2.7.egg-info

![image](https://user-images.githubu

[2018-07-24 21:14] iotamudelta commented on #9219
@odellus 1.8.2 is out - there are still issues in PyTorch on ROCm which we are working on solving.

[2018-07-24 21:35] jerryzh168 commented on #9761
The error message doesn't make sense to me, but for arguments, I think pads should have 6 elements.

[2018-07-24 21:36] jerryzh168 commented on #9761
Since you are doing 3d conv according to the arguments.

[2018-07-24 21:36] anderspapitto commented on #9680
so, what exactly do we want here? If I combine the above suggestions, I can do

[code]

is it enough to just make `setup.py rebuild` be a synonym for this?

[2018-07-24 21:37] jerryzh168 commented on #9752
@Maratyszcza  do you know?

[2018-07-24 21:38] soumith commented on #9680
rerunning cmake shouldn't take very long if all the relevant variables are cached. So, ideally looking into caching all relevant cmake variables has to be done.
Anders' solution looks reasonable as well, if we dont need to spend too much time on this.

[2018-07-24 21:39] jerryzh168 commented on #9582
@houseroad

[2018-07-24 21:41] houseroad commented on #9582
This is expected, since some of the opset 8 features are not supported yet in C2 backend. We are still working on this.

[2018-07-24 21:44] ezyang commented on #9680
I think the problem is that the old build workflow keeps rerunning cmake, and there was never any communication how to do rebuilds without rerunning cmake.

[2018-07-24 21:45] bhushan23 commented on #9687
Adding stakeholder's as per the git history for transpose
@apaszke @ezyang @gchanan @zou3519 what are your views on following?
1. Make .t() behavior similar to numpy
2. Do not introduce .T attribute

[2018-07-24 21:50] anderspapitto commented on #9680
@soumith is there a way to ask cmake which variables are uncached?

[2018-07-24 21:59] ZmeiGorynych opened #9791 "Problem building pytorch under Windows"
## Issue description
Trying to build PyTorch on a new laptop, Windows 10 Pro and a fresh install of VS2017 Community with every build tool option that looked remotely useful.

Following the changes to the standard instructions described [here](https://github.com/pytorch/pytorch/issues/6109) I can get the build script to start; however it then fails with the following error:
[code]
After googling t

[2018-07-24 22:01] t-vi commented on #9774
A long while ago, I played around with regenerating the examples in the docstring:
https://github.com/pytorch/pytorch/compare/master...t-vi:docstring_regeneration
As part of that, I also scanned for missing docstrings - but I didn't compare to the sphinx docs.

[2018-07-24 22:12] soumith commented on #9680
there seems to be a way to print out all variables: https://stackoverflow.com/questions/9298278/cmake-print-out-all-accessible-variables-in-a-script

And then you can print out cached variables: `cmake -LA`. You can invert to get uncached variables.

[2018-07-24 22:13] t-vi commented on #9778
The fundamental reason you're seeing this is that a[m] and a[[0]] is a new tensor with elements copied from a and a[0] is a view of a.

Numpy does very tricky things to support a[m] and a[[0]] on the left hand side of assignments:
[code]

[2018-07-24 22:18] sadatnfs commented on #9580
Still same error

[2018-07-24 22:44] Balandat commented on #9378
Many thanks!

[2018-07-25 00:14] augustofg opened #9797 "Build torch as a submodule with static linking doesn't work (CAFFE2_PERF_WITH_AVX2 is not defined)"
## Issue description

Hi,

I'm trying to compile a simple C++ program using the Caffe2 library. I include the pytorch repository as a git submodule to my project because I want to make this project as self-conteined as I can (the systems I want to target doesn't have the caffe2 lib installed).

The file layout of my project is the following:
[code]

I'm using the following CMakeLists.txt file:

[c

[2018-07-25 00:15] Maratyszcza commented on #9752
@avrum NDK 14 is very old, and for some reason your build doesn't use clang (`i686-linux-android-g++` is gcc). I tried the same command with NDK r15c, the oldest we support, and it builds just fine.

[2018-07-25 01:00] apaszke commented on #9530
Ok, if we really think there's value in having this method, then can we avoid adding yet another function to `load_state_dict` (which is already pretty complex)? Maybe we could have `diff_state_dict` that would return you the difference between them?

[2018-07-25 01:02] gautamkmr opened #9800 "Size discrepencey of libAten.so on same binary"
I am trying to understand the pytorch pip binary available on pytorch.org and manually building using the build_wheel.sh available under builder repository.

The interesting thing is pytorch.org pip binary for python-2.7 is of size 75MB while using the build_wheel.sh its size is 49 MB.

I am building for CPU with NO_CUDA=1 and pytorch.org binary is also for cpu.
After extracting the wheel package

[2018-07-25 01:02] gautamkmr commented on #9800
@soumith  any help?

[2018-07-25 01:06] JerryLauzzz commented on #9750
Yes, it works well. Thank you.

[2018-07-25 01:06] #9750 closed

[2018-07-25 01:37] XiongChengxin commented on #9761
@jerryzh168 The whole error message are as follows. At the same time, for 3d conv, pads should have 3 elements, one for temporal dimension, two for spatial dimension.

Ignoring @/caffe2/caffe2/contrib/nccl:nccl_ops as it is not a valid file.
Ignoring @/caffe2/caffe2/contrib/gloo:gloo_ops as it is not a valid file.
Ignoring @/caffe2/caffe2/contrib/gloo:gloo_ops_gpu as it is not a valid file.
E0724

[2018-07-25 01:41] bhushan23 commented on #9530
I liked Introducing `diff_state_dict` approach
Interface of `load_state_dict` remains consistent and pretty intuitive to use for users

[2018-07-25 01:58] #9679 closed

[2018-07-25 02:19] XiongChengxin commented on #9689
@jerryzh168 Thanks for your reply. I don't understand what do you mean by 'proto file'. Do you mean the information returned by command 'net.Proto()', or is there similar file like the prototxt file in caffe? If the former, the information I get is also ambiguous. This op don't have names(I copied part of it down here), so I still can't distinguish them. Any help would be appreciated.

op {
  inpu

[2018-07-25 02:50] Wuchangwen commented on #9759
thank you

[2018-07-25 03:01] soumith commented on #9800
the wheel on pytorch.org statically links MKL, and hence the additional size.

[2018-07-25 03:01] #9800 closed

[2018-07-25 05:00] qlwang25 opened #9808 "How index_select part tensor value in a particular dimension in Pytorch？"
## Issue description
The index_select function can not personalize for each sample.
for example:
[code]
The first sample is only reversed to a length of 2;
The second sample is only reversed to a length of 1;

I want to know if pytorch has such a method.
or
please tell me how to do it?

[code]

[2018-07-25 05:16] r-chna opened #9809 "'package not found error',while installing pytorch on anaconda python 3.5."
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

Provide a short description.

## Code example

Please try to provide a minimal example to repro the

[2018-07-25 06:34] avrum commented on #9752
@Maratyszcza

Thanks for the quick replay, I just tried it again on my Ubuntu machine (14) with:
NDK: r17b
cmake: 3.12
clang version 3.8.0-2ubuntu4 (tags/RELEASE_380/final)
Target: x86_64-pc-linux-gnu

I managed to run successfully the "build_android.sh" without any parameters
but when run:

./build_android.sh -DANDROID_ABI=x86 -DANDROID_TOOLCHAIN=clang

## I'm now getting this error:
(*Attaching

[2018-07-25 06:51] XiongChengxin commented on #9689
Thanks!

[2018-07-25 07:36] kylemcdonald commented on #3867
Here is a very simple Conv2d layer with `same` padding:

[code]

[2018-07-25 08:44] 0phoff opened #9811 "DataParallel does not work with tensors of dimension 0"
## Issue description
I have a network that return a single value, which is a dimensionless tensor as of PyTorch 0.4.0
However, when I wrap my model in a ``torch.nn.DataParallel`` for execution on multiple GPUs, it complains about not being able to gather the different tensors because they have no dimension.
imo the tensors should then be combined in a new dimension?

My specific usecase, is that I

[2018-07-25 08:55] doudoubilly commented on #8369
@soumith I just train a small LSTM. For several epochs. Error below occur.

*** Error in `python': double free or corruption (fasttop): 0x00007ff260038490 ***
======= Backtrace: =========
/lib/x86_64-linux-gnu/libc.so.6(+0x777e5)[0x7ff37596d7e5]
/lib/x86_64-linux-gnu/libc.so.6(+0x8037a)[0x7ff37597637a]
/lib/x86_64-linux-gnu/libc.so.6(cfree+0x4c)[0x7ff37597a53c]
/usr/lib64/nvidia/libcuda.so.1(+0x1d

[2018-07-25 09:00] arogozhnikov commented on #9776
(confirm that in 0.4 InstanceNorm1d doesn't work with 2D inputs)

[2018-07-25 10:40] sharpsy commented on #9811
I believe that it is not a good idea for PyTorch to combine those return values in a new dimension. This change would make a shape of the return value dependent on the number of GPU devices used to calculate the result. As I see the `DataParallel` class, its job is to transparently split the workload on available GPUs so the result is indistinguishable from the result you would get from running th

[2018-07-25 10:58] peterjc123 commented on #9791
[code]
So the reason seems to be that you haven't installed the complete toolset.

[2018-07-25 11:08] shkit commented on #9677
@peterjc123 Thanks for comment. Ok, I'll submit PR.
Though I plan to add only `.bat` to .attributes file, any other suffixes should be added?
(Looking into some files, I suspect adding '.bat' is sufficient)

[2018-07-25 11:11] peterjc123 commented on #9677
@shkit Yes, `.bat` is enough.

[2018-07-25 11:44] kanza-ali opened #9814 "Assertion Error"
## Issue description
I am new with deep learning and pytorch. This is the first project I am trying to work.
I am training a network but when I run training commands I have the following error:

raise AssertionError("Invalid device id")
AssertionError: Invalid device id

## Code example

python3 train.py --lr 0.0003 --batch-size 80 --arch resnet152 \
        --data-name ucf101 --representation ifr

[2018-07-25 12:38] 0phoff commented on #9811
Yeah but then the loss computations are not split over the different GPUs, thus increasing the training time.

This problem is also bigger than computing losses in the forward pass of a module. Any network that outputs only one number will have this problem with the `DataParallel` class.

Your point about the output being dependent on the number of GPUs is valid though. Not sure how to tackle this

[2018-07-25 13:17] arogozhnikov commented on #9587
However, same example works if Net2 is the following.
[code]

Hence the problem is in overlapping of parameters for submodels.

[2018-07-25 13:25] oujieww opened #9815 "training memory fluctuates"
is there any one have this kand of problem,but while training go on, the memory is changing all the time,from 2G to 11G, anyone can help me ?XD thank you
i have tryed python2.7 with pytorch0.2  and python3.5 with pytorch0.4
after epoch 1 ,the memory is change small and loss change small ,This is so ~~~ i have no idea about this....

i have check code with my other project, the only one different a

[2018-07-25 13:45] jpainam opened #9816 "TypeError: '<' not supported between instances of 'NoneType' and 'str' in load_lua"
Hi
[code]
gives the following error
[code]

[2018-07-25 13:46] sharpsy commented on #9811
It is true, the loss computation could increase the training time. My hunch is that loss calculation is usually the fast part of the model training. I'm thinking of all other computation that takes place besides the loss calculation - forward pass, gradient calculation, weight updates...

To check this, I just benchmarked `CrossEntropy` on 10000 items and 10000 classes and loss computation took 2.

[2018-07-25 13:47] SsnL commented on #9811
Fixed on master

[2018-07-25 13:47] #9811 closed

[2018-07-25 13:48] SsnL commented on #9814
can you post a minimal working example or a full trace please?

[2018-07-25 13:58] zou3519 commented on #7733
One way to find use cases is to throw an error in __hash__() and then run the pytorch tests, examples, and tutorials. This isn't comprehensive but it should be a good start.

[2018-07-25 14:11] vishwakftw opened #9817 "masked_copy should have been removed, but it hasn't been yet"
`torch.Tensor.masked_copy` and its inplace variant still exists on master, despite this:
[code]

[2018-07-25 14:15] Bill-McCormick opened #9818 "Pytorch install problems on clean Windows 7 system using pip"
## Issue description

Installing PyTorch from PIP on a clean Python3.6 system on Windows 7 fails silently.    The install succeeds, but torch cannot be imported.

(rl-env) D:\>python
Python 3.6.6 (v3.6.6:4cf1f54eb7, Jun 27 2018, 03:37:03) [MSC v.1900 64 bit (AMD6
4)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>"

[2018-07-25 14:17] #6890 closed

[2018-07-25 14:20] yaroslavvb commented on #9696
Here's an example of things hanging, it looks stuck in `discoverMaster`
[code]

[2018-07-25 14:36] awaelchli commented on #1637
Recently I had a segfault when training, shortly after that the system would freeze. This happened a few times in the past but very rare (once every month). A kernel update did not fix the problem, it seems. The log files say something about a locked page or a removed page.

[syslog-jul-25.txt](https://github.com/pytorch/pytorch/files/2228267/syslog-jul-25.txt)

Did anyone with threadripper have t

[2018-07-25 14:40] lemairecarl commented on #9778
Are you sure? What bothers me the most is this:

[code]

If the second method above works, I think the first one (in-place) should also work. Also, the in-place method makes the code a bit cleaner.

I will add this snippet to the issue message.

[2018-07-25 14:52] SsnL commented on #9811
Allowing modules that return scalar to be used in DataParallel (will return a vector).

[2018-07-25 15:10] ZmeiGorynych commented on #9791
I have installed every toolbox I could find, both VS and build tools, rebooted :), and am still getting the same behavior. After doing that, a third file called Microsoft.Cpp.Default.props has appeared under C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\Common7\IDE\VC\VCTargets, and setting the VCTargetsPath to that gives exactly the same behavior.

![image](https://user-images.gi

[2018-07-25 15:17] t-vi commented on #9778
I am relatively sure because I double checked. What happens is that `a[m] = something` translates to the Python `__setitem__` method, where the slicing is handled as a view. When you have `a[m]` "anywhere else than in an assignment", it will translate to `__getitem__`. That returns a tensor with new storage when used with boolean indexing. It's not limited to `clamp_`, either, any inplace (e.g. `.

[2018-07-25 15:23] lemairecarl commented on #9778
Ah, I see.

This is what I missed. I thought pytorch provided tensor view objects to support this.  Thanks for your time.

[2018-07-25 15:23] #9778 closed

[2018-07-25 15:31] HenryJia opened #9820 "Unable to compile with MAGMA support on Arch Linux"
Hi
Struggling to compile with magma support, I'm using this build script

[code]
ldconfig -p also gives
[code]

Currently the build script gives
[code]

Any suggestions?

[2018-07-25 15:34] HenryJia commented on #9820
Actually just noticed I was missing a \ after MAGMA_HOME=/opt/magma, that seems to have fixed it :P

[2018-07-25 15:34] #9820 closed

[2018-07-25 15:56] cbecker opened #9822 "[bug/feature request] Slice export not propagating negative indexes"
## Issue description
When exporting a pytorch model to ONNX that contains a slice operation with negative indexes, i.e.
[code]

Then the ONNX slice operation does not contain the negative indexes, but are instead replaced by positive indexes depending on the input's size at the time of the trace/export.

This can be very limiting because in the case of FCNNs that use a crop or other slicing operat

[2018-07-25 16:05] peterjc123 commented on #9791
@ZmeiGorynych You are not picking the correct `msbuild.exe`. It should be the one in `C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin`.

[2018-07-25 16:15] srams2018 opened #9824 "Pytorch Install error -Segmentation Fault"
Configuration Info:-
# python /data/apps/pytorch/torch/utils/collect_env.py
Collecting environment information...
PyTorch version: 0.4.0
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: Red Hat Enterprise Linux Server 7.2 (Maipo)
GCC version: (GCC) 4.8.5 20150623 (Red Hat 4.8.5-11)
CMake version: version 3.5.0

Python version: 3.6
Is CUDA available: Yes
CUDA runtime version: 9.0.176
GPU

[2018-07-25 16:31] johntiger1 commented on #6339
Has this been fixed in Pytorch 0.4?

[2018-07-25 17:18] Balandat commented on #7277
This happens even when using a pure python list literal:

[code]

[2018-07-25 18:15] GusSand commented on #6098
I have the latest nvidia driver and still getting the same issue. I even installed the CUDA SDK.  My laptop is a SurfaceBook running bash on ubuntu on Windows 10 which has a GPU.

Any suggestions?
BTW

torch.backends.cudnn.enabled()

returns true

thanks!

[2018-07-25 18:31] ezyang opened #9832 "TestReduceFrontSum.test_col2im_gradients flaky"
Sample log:

[code]

https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-gcc5-ubuntu16.04-test/9359//console

[2018-07-25 18:32] ezyang commented on #9832
CC @asaadaldien who added this test

[2018-07-25 18:37] ezyang opened #9833 "RecurrentNetworkTest.test_sum_mul flaky on master"
Sample log:

[code]

https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-cuda8.0-cudnn6-ubuntu16.04-test/9411//consoleFull

CC @salexspb who added this test

[2018-07-25 18:56] fmassa commented on #9530
@apaszke I'm not sure that this would solve the problem a 100%.

It's currently very easy for an external user to obtain the `matched` / `unmatched` / `unexpected` tensors given the current behavior of `load_state_dict`.

If we add this functionality in a separate function, say `diff_state_dict`, we should enforce that it is in sync with `load_state_dict`.
If it's in the same function, it's easy t

[2018-07-25 19:34] jerryzh168 commented on #9761
I think we'll need 6 for pads, we'll need 2 pads in each direction. e.g. left pad and right pad

[2018-07-25 19:35] #9689 closed

[2018-07-25 20:11] yf225 commented on #9674
I think `Sparse tensor + Constant` is a good idea if it makes implementing pointwise one tensor and two tensor ops easier. Storing the constant tensor in `_values` makes the internal representation a bit complicated, and it might be simpler to store it in a separate field.

[2018-07-25 22:12] #6271 closed

[2018-07-25 22:37] isalirezag commented on #1608
@albanD so if i want to use gpu 0 and 1 what should i do?

[2018-07-25 23:23] achalshah20 commented on #9235
@jiapei100 I am also facing the same issue. Any update?

I am using cuda 9.2 + GCC 7. There shouldn't be compatibility issue from nvidia side in this case!!

[2018-07-25 23:46] vadimkantorov commented on #9384
Maybe there's an underlying MKL bug that needs to be submitted to Intel..

[2018-07-26 00:16] weiyangfb commented on #7733
@vishwakftw Are you working on this? Or you wanna give it a try?

[2018-07-26 00:21] vishwakftw commented on #7733
I was working on this earlier, but I had some other work to do in the meanwhile. I can work on from next week onwards, once my internship's over.

[2018-07-26 00:39] ezyang opened #9853 "TestSequenceOps.test_gather_padding failing"
[code]

Sample: https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-cuda9.0-cudnn7-aten-ubuntu16.04-test/4954/consoleText

[2018-07-26 00:40] ezyang opened #9854 "TestConvolution.test_conv_separate_stride_pad_gradients failing"
[code]

sample: https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-cuda9.0-cudnn7-ubuntu16.04-test/9399/console

[2018-07-26 01:11] vadimkantorov commented on #9784
Is this one related as well? https://github.com/pytorch/pytorch/issues/8605 It doesn't do a deadlock, but seems still related to registration of variable hooks to a static map at library load time.

[2018-07-26 01:18] Stonesjtu commented on #9696
You can test whether your master port is reachable from worker nodes

[2018-07-26 01:21] ailzhang commented on #9696
@yaroslavvb this is likely because AWS give you some machines within different subnets so not all of them are reachable from each other.

[2018-07-26 01:31] weiyangfb commented on #2136
Closing since this has been fixed vix https://github.com/pytorch/pytorch/pull/2792

[2018-07-26 01:31] #2136 closed

[2018-07-26 01:34] kanza-ali commented on #9814
![3](https://user-images.githubusercontent.com/33715985/43236331-82f2ff50-90bf-11e8-8005-eb3b4e4dd55a.png)

[2018-07-26 01:39] soumith commented on #9814
the code you are running must be for 2-GPU or 4-GPU and you probably have lesser GPUs than what it's hard-coded for.

In the future, post questions at https://discuss.pytorch.org

[2018-07-26 01:39] #9814 closed

[2018-07-26 01:54] Stonesjtu commented on #8290
Actually writing the NCCLUniqueId to a shared file system should work well with file lock enabled. No need to create other sockets.

[2018-07-26 01:57] dashesy commented on #8290
File lock works in theory on nfs, but only in throry it works well. On a cluster with many users, it is terrible.

[2018-07-26 02:01] Stonesjtu commented on #8290
@dashesy Could you describe more about the problem?

[2018-07-26 02:11] Stonesjtu opened #9859 "inter-node capability with NCCL1"
## Issue description

Hi there, I've installed pytorch from `pip`. After searching the internet I find that NCCL1 is not designed for inter-node communication.
But amazingly I succeed to run the inter-node `all-reduce` when using the pre-built NCCL1 backend.
The nodes are connected by both IB network and Ethernet.

## System Info

[code]

[2018-07-26 02:50] sadatnfs commented on #9580
it's weird since the errors come in way before the dependency issue we're getting in the previous set of errors

[2018-07-26 02:55] soumith commented on #9859
the backend shipped with 0.4.0 is nccl2.

[2018-07-26 02:55] #9859 closed

[2018-07-26 02:56] lith0613 opened #9863 "How large batch size should I set for imagenet training"
I just use the default setting of batch size 256 and 8 TiTAN XP gpus on resnet34， it takes about 1.5 hours for one epoch, I want to speed up the training process, Can I increase the batch size ?

[2018-07-26 03:19] Aspire1Inspire2 commented on #7092
Still have the same bug for multi-GPU with Pytorch 0.4.0
removing flatten_parameters() gives another warning of downgrading performance.

Another problem with DataParallel is that the hidden state of RNN is batched on the second dimension.
The (dim=1) argument of DataParallel works only on the input/output slicing, disregarding that the RNN hidden state has this batching on the second dimension.
T

[2018-07-26 03:33] peterjc123 commented on #9818
@Bill-McCormick It's a known issue, which is already listed in the master doc and fixed in the upcoming release.

[2018-07-26 03:34] Stonesjtu commented on #9418
Reproduced on openmpi-1.10

I debug the program via `mpirun -n 2 cuda-memcheck python test.py`. It reports that the receive buffer's pointer was on CPU, which is unexpected at all. (https://www.mail-archive.com/users@lists.open-mpi.org/msg29456.html)
However if you add an extra `torch.cuda.synchronize` before all the mpi calls, the snippet runs without error.

So there may be some bugs under the h

[2018-07-26 04:15] ezyang commented on #9016
Another instance: https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-cuda8.0-cudnn6-ubuntu16.04-test/9523//console

[2018-07-26 04:30] ailzhang commented on #9696
Hi @yaroslavvb , do you compile pytorch from source? If so, could you add a few print statements around https://github.com/pytorch/pytorch/blob/04a3616de01c612557d12e3a371d31aa37c8e508/torch/lib/THD/base/init_methods/InitMethodUtils.cpp#L52
and
https://github.com/pytorch/pytorch/blob/04a3616de01c612557d12e3a371d31aa37c8e508/torch/lib/THD/base/init_methods/InitMethodUtils.cpp#L70.
The GDB trace ind

[2018-07-26 04:43] weiyangfb commented on #9559
Just want to comment on this, [Subset](https://github.com/pytorch/pytorch/blob/ba062e7da986bae28fea41f45bc85a1f8a74573d/torch/utils/data/dataset.py#L90-L106) looks more like an iterator to get a subset of data defined by `indices`. It is probably more appropriate to put Samplers under `torch.utils.data.sampler`

[2018-07-26 05:08] peterjc123 commented on #9816
@jpainam Is this a pre-trained model from Unix systems? If yes, please try specifying `long_size=8` when using `load_lua`.

[2018-07-26 07:06] jpainam commented on #9816
The pre-trained model is from Oxford VGG [http://www.robots.ox.ac.uk/~vgg/software/vgg_face/](http://www.robots.ox.ac.uk/~vgg/software/vgg_face/). So I can't say if it's from Unix Systems. But I guess so.
Specifying `long_size=8` worked.
Thank you

[2018-07-26 07:06] #9816 closed

[2018-07-26 07:56] wang5566 commented on #9519
I thought my problem is protobuf version. I reinstalled my system and built pytorch, torchision in anaconda from source, then I built caffe2 from source into system folder ,like "/usr/local" not using anaconda python, finally i built onnx from source instead of pip installation and pip install onnx-caffe2 tool to convert pytorch model to caffe2 model.
I solved it through this way.

[2018-07-26 08:00] xhran2010 opened #9869 "RuntimeError: Expected object of type Variable[torch.FloatTensor] but found type Variable[torch.cuda.FloatTensor] for argument #1 'mat2'"
Hey guys! When I'm running a pytorch code:
`class BatchRNN(nn.Module):
def __init__(self, input_size, hidden_size, rnn_type=nn.LSTM,
        bidirectional=False, batch_norm=True, dropout = 0.1):
    super(BatchRNN, self).__init__()
    self.input_size = input_size
    self.hidden_size = hidden_size
    self.bidirectional = bidirectional
    self.batch_norm = SequenceWise(nn.BatchNorm1d(input_size)

[2018-07-26 08:02] brave-hannah commented on #6422
@shijieheping How do these two nodes know each other? I find no IP param in resnet50_trainer.py usage description.

[2018-07-26 08:07] #9251 closed

[2018-07-26 08:13] brave-hannah commented on #9708
Hi, have you met the error below when you ran resnet50_trainer.py?

E0726 08:00:33.794942 27793 operator.cc:475] Operator: input: "gpu_0/conv1_spatbn_relu" output: "gpu_0/pool1" name: "" type: "MaxPool" arg { name: "order" s: "NCHW" } arg { name: "kernel" i: 3 } arg { name: "stride" i: 2 } arg { name: "ws_nbytes_limit" i: 67108864 } arg { name: "cudnn_exhaustive_search" i: 1 } device_option { devi

[2018-07-26 08:52] sharpsy commented on #9811
@0phoff , just to add an idea to your use case that minimizes the amount of data transfered between GPUs. You can use `size_average=False, reduce=True` as arguments. Losses on each GPU will be summed, but not divided by the batch-size-on-GPU. You then sum all parallel losses and divide by the size of the whole batch.

[2018-07-26 09:06] SelvamArul commented on #1608
@isalirezag Could you please elaborate on what you mean by using gpu 0 and 1. Tensors lie on just one card. The device context manager controlls the card to used for creating a new tensor.

Do you mean only card 0 and 1 should be made available to your PyTorch program?
Is [CUDA_VISIBLE_DEVICES](https://devblogs.nvidia.com/cuda-pro-tip-control-gpu-visibility-cuda_visible_devices/) what your are loo

[2018-07-26 09:36] zuoxingdong opened #9871 "[Problem report] GPU 0 out of memory even if assigning one GPU for each model in multiprocessing"
I am using Python multiprocessing to train a model with different random seeds (not using PyTorch multiprocessing because we do not want to share the model or the memory, but independent training). For example I have 7 GPUs in the server and created 7 training script each for a different random seeds. And in each file assign a specific gpu i.e. `torch.device(f'cuda:{i}')` where i is in the range [

[2018-07-26 10:52] zhangchenkai opened #9873 "Pytorch is slow when only using CPU, and cannot utilize multicore of CPU"
When I testing the acceleration effect on CPU by decomposing convolution layers, I found pytorch is slow  and cannot utilize multicore of CPU.

[code]

[code]
Output is that while cpu usage is 100%-200%

![pytorch](https://user-images.githubusercontent.com/10665923/43258302-eca30248-9104-11e8-8045-49d8d63819a4.PNG)

However, Keras (TF  back-end)  is faster and multi-threaded.
[code]
Output is that

[2018-07-26 11:40] rednoah91 opened #9874 "[Caffe2] backend can't translate Onnx Gemm to Caffe2 FC"
## Issue description

It's seems we have no chance to translate Onnx gemm to Caffe2 FC after onnx opset-6?
(after onnx opset-6, the broadcast attribute of gemm is removed)

In https://github.com/pytorch/pytorch/blob/master/caffe2/onnx/backend.cc "CreateGemm"
[code]
so I think we should remove the broadcast check in the if condition?

[2018-07-26 12:08] lizhen2017 opened #9875 "onnx to caffe2 err"
## Issue description

Provide a short description.
from pytorch model to onnx, and from onnx to caffe2, err ocurr, help me please, thanks all.
## Code example
from torch.autograd import Variable
import torch.onnx
import torchvision

dummy_input = Variable(torch.randn(10, 3, 224, 224)).cuda()
model = torchvision.models.alexnet(pretrained=False).cuda()
torch.onnx._export(model, dummy_input, "alexnet

[2018-07-26 12:15] enamoria commented on #7318
I successfully built @kimdwkimdw 's PR and manually delete `python_stub` in `~/.PyCharmCE2018.1/system`. Didn't work for me

[2018-07-26 12:47] ankitsinghalIITD commented on #4111
Hi ,
Hi, I have installed torch and torchvision from pip. But, now I am getting seg fault when I import torch.
I have seen various posts on this issue like
https://github.com/pytorch/pytorch/issues/4101.
But none of them actually helped.
I have done a user installation by command
pip install --force-reinstall torch torchvision --no-cache-dir --user
I have added /usr/lib/nvidia-390 to LD_LIBRARY_PA

[2018-07-26 13:06] themightyoarfish commented on #755
Is there any ETA on complex numbers? Does "much easier" mean "will probably be done quickly"?

[2018-07-26 13:18] johan-gras commented on #7330
Any workaround to allow both retro and pytorch to work together ?

[2018-07-26 13:31] avrum commented on #9752
Ammm doesn't look like it...
I just print all env variable and it doesn't there:

**root@aviram-VirtualBox:~/Workspaces/pytourch/pytorch/scripts# printenv**
LC_PAPER=he_IL.UTF-8
LC_ADDRESS=he_IL.UTF-8
LC_MONETARY=he_IL.UTF-8
SHELL=/bin/bash
TERM=xterm-256color
LC_NUMERIC=he_IL.UTF-8
OLDPWD=/home/aviram/Workspaces/pytourch/pytorch
USER=root
LC_TELEPHONE=he_IL.UTF-8
LS_COLORS=rs=0:di=01;34:ln=01;36:

[2018-07-26 13:33] ezyang commented on #7330
If it's a pybind11 issue, you should be able to fix it by compiling source with both pybind11 submodules pinned to the same version. Give that a try: try building retro with pytorch's pybind11 submodule, and maybe vice versa.

[2018-07-26 13:48] ezyang commented on #9853
This issue only occurs when Hypothesis is upgraded past 3.59

[2018-07-26 13:48] ezyang commented on #9854
This issue only occurs when Hypothesis is upgraded past 3.59

[2018-07-26 13:52] Stonesjtu commented on #1183
Any update on that? This bug prevents pytorch from training on extremely big data. (disable CUDNN backend slows training speed)

[2018-07-26 14:00] zuoxingdong opened #9876 "[Documentation report] `Tensor.flatten()` does not show in latest documentations"
Recently there is a method `flatten()` implemented, and already added to the [docs file](https://github.com/pytorch/pytorch/blob/302adb7cc827adbcf5cd29c531cd8cbe52b2f7dc/torch/_torch_docs.py#L1613-L1635), it has been a month and still not shown in the [latest documentation](https://pytorch.org/docs/master/search.html?q=flatten&check_keywords=yes&area=default). Just quickly to make sure if it is an

[2018-07-26 14:08] matthieuheitz commented on #6171
@kose-y Did you finda workaround ? I'm thinking about trying to adapt the same function `THCSTensor_(spaddmm)`, and wrapping it in the same way, so that I can call it from PyTorch. Did you start doing something of the sort by any chance ?
I also noticed that these files have disappeared now in master. So, you should maybe update the links in your first comment, to v0.4.0 for example.

[2018-07-26 14:33] ezyang commented on #9784
Yeah, it might be some sort of loop or SFINAE problem. Definitely worth investigating further.

[2018-07-26 14:36] Bill-McCormick commented on #9818
I see it now.   Here's the link

https://pytorch.org/docs/stable/notes/windows.html

from torch._C import *
ImportError: DLL load failed: The specified module could not be found.
The problem is caused by the missing of the essential files. Actually, we include almost all the essential files that PyTorch need except VC2017 redistributable. You can resolve this by typing the following command.
conda

[2018-07-26 14:48] peterjc123 commented on #9818
`pip install intel-openmp` Have you tried this?

[2018-07-26 15:03] isalirezag opened #9878 "feature request, linear normalization"
Can pytorch consider providing a linear normalization for tensors.
Meaning, if I have tensor `BxCxDxD`, I can make each layer or whole tensor or other each batch, etc to be normalized and have the values between `[a b] `

[2018-07-26 15:07] apaszke commented on #9811
I'm also not very happy with stacking the scalars. We've discussed that in #7973, where he claimed that this was the behavior before his fix, so I passed on arguing further. However, if this wasn't the case in the previous release, then I do think we should raise an error if we see scalar outputs. @SsnL?

[2018-07-26 15:12] SsnL commented on #9811
I agree that returning a vector is unexpected here. But I was under the
impression that 0.3.1 (before the tensor variable merge) behaved that way.
I’ll test and report back here.

On Thu, Jul 26, 2018 at 11:08 Adam Paszke <notifications@github.com> wrote:

[2018-07-26 15:20] yanlei08 opened #9881 "cannot open caffe2.lib in VS2015 debug mode"
Environment:
Win10 64Bit, VS2015, Caffe2 CPU Only mode

issue:
I build caffe2.lib successfully  in VS2015 debug mode, but link error happened when I build project caffe2_pybind11_state.
 link error message: LNK1104 can not open “../lib/debug/caffe2.lib”

file caffe2.lib exceed 2.6G, is that reason?

[2018-07-26 15:50] Bill-McCormick commented on #9818
I just installed intel-openmp-2018.0.3.   The openmp library is installed in Python36\Library\bin, and the problem is still there.

However, if I manually copy the openmp binaries over to Python36\lib\site-packages\torch\lib the problem goes away.    This is a little odd, I would have expected Python to append it's Library\bin directory to the path.

Thanks for your help.

[2018-07-26 16:06] ngimel commented on #1183
@Stonesjtu what's your cudnn version, cuda version and driver version?

[2018-07-26 16:19] pjh5 commented on #9519
If that works for you then great. For new readers who see this thread, I recommend reading https://caffe2.ai/docs/faq.html#null__how-do-python-installations-work before attempting to set up your own Python environment in this way.

[2018-07-26 16:19] #9519 closed

[2018-07-26 17:08] ezyang opened #9883 "NetTest.OperatorWithExecutorHelper intermittently hangs"
Sample log:

[code]

sample log: https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-cuda9.0-cudnn7-aten-ubuntu16.04-test/5029/console

[2018-07-26 17:11] SsnL opened #9885 "[doc] example tensor printings are not updated"
@li-roy

[2018-07-26 17:41] SsnL opened #9886 "[doc] FeatureAlphaDropout not documented"

[2018-07-26 17:52] apaszke commented on #9067
We no longer use descriptors, so this is fixed.

[2018-07-26 17:52] #9067 closed

[2018-07-26 17:52] weiyangfb commented on #9674
@yf225 Yeah, that's possible too. One thing I am not sure is, please correct me if I am wrong, to have `Constant` as an extra field means to maintain/align tensor type between `_values()` and `Constant`. Maybe we will need a thorough discussion on this.

[2018-07-26 17:55] Maratyszcza commented on #9752
@avrum Have you deleted your previous `build_*` directories? CMake may not properly re-generate all files when you re-configure for a new platform in the same directory

[2018-07-26 18:16] #9582 closed

[2018-07-26 18:31] anderspapitto opened #9893 "interaction with FindCUDA causes spurious re-cmakes"
(see https://github.com/pytorch/pytorch/pull/9845 for a discarded potential solution)

FindCUDA generates a C++ source file at CMake time. When building with ninja (haven't tested with make), a dependency is recorded of build.ninja on that generated file. After invoking cmake manually, that generated file is (for some reason - it doesn't make sense to me why this is the case, and poking around to

[2018-07-26 18:43] anderspapitto commented on #9893
looks like this doesn't happen with Make, only with Ninja

[2018-07-26 18:57] zou3519 opened #9894 "[docs] Script for release"
I have a script but I need to clean it up a little. Leaving this issue here to remind myself.

[2018-07-26 19:43] csarofeen opened #9898 "[Feature Request] Checkpoint manager"
Would like to see a checkpoint manager taking a module, dataloader, and optimizer at construction that would be able to:
- Save the module
- Save the optimizer (including state)
- Save the dataloader state (be able to continue from the middle of an epoch)
- Save RNG states (CPU, GPU, including data sampler)
- Call every iteration and automatically checkpoint every X minutes (for preemptible instan

[2018-07-26 19:49] anderspapitto commented on #9680
there's two big chunks to the cost. One is build_pytorch_libs, and the other is generate_code(), also called from setup.py (and which still gets called even if you do `python setup.py build_caffe2`

[2018-07-26 20:03] kierkegaard13 opened #9899 "Segfault when running model in eval mode and using .numpy()"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description
I'm training a model using pytorch and when I try and create predictions using the same model and ex

[2018-07-26 21:20] weiyangfb commented on #8585
similar to https://github.com/pytorch/pytorch/issues/9129, have you tried ` gcc 4.9.2 `?

[2018-07-26 21:26] jayanthkoushik opened #9903 "3.7 cpu wheel compiled without numpy"
The 3.7 wheel for cpu/linux appears to have been compiled without numpy support.

    $ python --version
    Python 3.7.0 (default, Jul 15 2018, 05:19:52)
    [GCC 8.1.0]
    $ python -m venv test_env
    $ source test_env/bin/activate
    (test_env) $ pip install numpy
    (test_env) $ pip install  http://download.pytorch.org/whl/cpu/torch-0.4.1-cp37-cp37m-linux_x86_64.whl
    (test_env) $ python

[2018-07-26 21:32] raulpuric commented on #9898
* save lr schedule

[2018-07-26 21:38] avmgithub opened #9906 "[ppc64le pytorch] Failure when running test_c10d.py on CPU only server"
when building pytorch master from July 25,   I'm getting failure described below.
I'm building on CPU only system.

Possibly caused by #9670

Maybe just add a check to see if a GPU is available if not skip the test.
I do have CUDA libraries installed but it is just running on a system without a GPU.

here is the build log :  https://powerci.osuosl.org/job/pytorch-master-nightly-py3-linux-ppc64le/3

[2018-07-26 21:49] MillionIntegrals commented on #9903
I'm getting the same issue with CUDA wheels for 3.7 as well.

[2018-07-26 21:52] soumith commented on #9903
sorry, i know what the issue is. We'll regenerate binaries and upload in a few hours.

[2018-07-26 21:53] SsnL commented on #9811
@apaszke @0phoff Here is what it used to be
[code]

I didn't really add any new behavior.

[2018-07-26 21:58] avmgithub commented on #9771
pytorch is supported on ppc64le  (both Ubuntu 16.04 and above and  RH 7.4 and above).   You have to build it from source.  See this for reference : https://github.com/ppc64le/build-scripts/tree/master/pytorch

[2018-07-26 23:04] paduraru2009 opened #9910 "CRITICAL:root:Cannot load caffe2.python. Error: DLL load failed: A dynamic link library (DLL) initialization routine failed."
I just built Caffe2 using shared libraries option on Windows 10 and i'm getting the error in the title when I try to "import from caffe2.python import core".

- I built everything from sources
- I use only a single version of python on my PC, 2.7.14.
- I've copied the pyd file to C:\Python27\DLLs
- It works well with static linking..

I don't even understand what the error says and what could be i

[2018-07-26 23:12] vadimkantorov commented on #9885
Also, many docs use e.g. `torch.rand(3, 3)` to generate matrices. In many cases a fixed matrix like `torch.arange(9).view(3, 3)` may be more preferable for repeatability.

[2018-07-26 23:46] ezyang opened #9912 "Stop ifdef'ing out scatter/gather (comm) in libtorch"
@goldsborough @mruberry

[2018-07-27 00:10] #9743 closed

[2018-07-27 00:23] zetayue opened #9914 "[doc]Wrong example for torch.as_tensor"
The example shown under torch.as_tensor doesn't mention 'torch.as_tensor' at all. Actually, the last part of it is the same as the example of torch.from_numpy:

https://pytorch.org/docs/stable/torch.html?highlight=torch%20as_tensor#torch.as_tensor

[2018-07-27 01:40] Stonesjtu commented on #1183
cudnn6 and cuda8 driver 390.30 on 1080Ti. The leak appears only in the training step, so I'm wondering if the backward of RNN is the culprit.

[2018-07-27 02:18] fritzo opened #9917 "BUG torch.bernoulli(p.expand(shape)) is broken"
## Issue description
This is blocking Pyro from updating from Pytorch 0.4.0 to 0.4.1. (along with #9521)

## Code examples
[code]
[code]

## System info
[code]

[2018-07-27 02:18] fritzo commented on #9917
cc @neerajprad @apaszke @SsnL

[2018-07-27 02:31] fritzo commented on #9917
Thanks @SsnL! Let me know if I can help in any way. I believe this and #9521 are our only blockers.

[2018-07-27 03:16] soumith commented on #9903
the binaries have been regenerated, uploaded to PyPI and links to wheels have been updated on https://pytorch.org

Thanks a ton for reporting the issue.

[2018-07-27 03:16] #9903 closed

[2018-07-27 03:35] soumith commented on #9530
what @fmassa means is that `load_state_dict` can easily have subtly different behavior than `diff_state_dict`. For example, what happens if there are collisions and `load_state_dict` is resolving them in one way, while `diff_state_dict` resolves them in another way.

I see @fmassa 's point, but I dont think it's that hard to keep consistent. We just have to refactor the `load_state_dict` code to u

[2018-07-27 03:39] Stonesjtu commented on #3665
I want to share some of my recent logs on the memory leaking issues.

testing scipts:

[code]

## logs:

### Driver=390
[code]

### Driver=375.26

[code]

[2018-07-27 03:41] soumith commented on #9878
@isalirezag you can do this easily with autograd ops (i.e. mean, std and subtraction, division), or with special ops like InstanceNorm, LayerNorm

[2018-07-27 03:41] #9878 closed

[2018-07-27 03:50] soumith commented on #755
@themightyoarfish by much easier, I mean that we will not be blocked on what can be pushed to pytorch master. We haven't set an ETA. I'll scope out the work once we get open registration into PyTorch.

[2018-07-27 03:53] soumith commented on #9873
@zhangchenkai you will see great improvement if you build from source from these instructions: https://github.com/pytorch/pytorch#from-source

The instructions will build and link with mkl-dnn and that will show you remarkable improvements to what you see.

[2018-07-27 03:53] neerajprad commented on #9917
I think a related issue (?) is `NaN` values when we sample from the `Beta` distribution using the `sample_size` arg.

[code]

[2018-07-27 03:56] soumith commented on #9871
@zuoxingdong can you also set `torch.cuda.set_device(f'cuda:{i}')` right after `import torch` in the child process.

[2018-07-27 03:56] #1885 closed

[2018-07-27 03:56] #9817 closed

[2018-07-27 03:56] #9876 closed

[2018-07-27 03:57] soumith commented on #9869
if you want help, go to https://discuss.pytorch.org
The issues are only for bug reports.

[2018-07-27 03:57] #9869 closed

[2018-07-27 03:58] soumith commented on #9863
if you want advice or have a question, use https://discuss.pytorch.org

[2018-07-27 03:58] #9863 closed

[2018-07-27 03:59] soumith commented on #9418
thanks for the repro @Stonesjtu . @ailzhang can you see if with this repro you can issue a fix?

[2018-07-27 04:06] soumith commented on #6339
this is fixed in 0.4.1 which just released.

[2018-07-27 04:07] fmassa commented on #9530
Having `load_state_dict` use `diff_state_dict` sounds good to me

[2018-07-27 04:09] soumith commented on #9824
`Segmentation fault ${CMAKE_VERSION} .. ` when running CMake / gcc, that just looks fundamentally broken. I dont have an idea of what's going on. Try upgrading your CMake and see if it helps. Use a different compiler, maybe gcc 4.9.2 from [devtoolset-3](https://www.softwarecollections.org/en/scls/rhscl/devtoolset-3/)

[2018-07-27 04:10] soumith commented on #9822
cc: @houseroad

[2018-07-27 04:13] soumith commented on #9815
please use https://discuss.pytorch.org for questions. Also provide a clear reproducible to help us help you.

[2018-07-27 04:13] #9815 closed

[2018-07-27 04:13] soumith commented on #9587
cc: @houseroad @bddppq

[2018-07-27 04:15] soumith commented on #9776
let's go with proposal A. We planned to deprecate (not delete) `InstanceNorm*d` in favor of a universal `InstanceNorm`, but haven't gotten around to it.

[2018-07-27 04:19] soumith commented on #9809
there's not a lot of information in this issue, but I can guess what it is. Try this:

`conda update conda; conda install pytorch -c pytorch`

It's a known issue with old `conda` which didn't support organization channels.

[2018-07-27 04:19] #9809 closed

[2018-07-27 04:20] soumith commented on #9808
please use https://discuss.pytorch.org for questions. (thank you :) )

[2018-07-27 04:20] #9808 closed

[2018-07-27 04:21] ailzhang commented on #9418
Sure I will look into it! @Stonesjtu Thanks!

[2018-07-27 04:29] soumith commented on #8024
@kyuusaku you can trace a model accurately with pytorch and get the graph.
For example:

[code]

[2018-07-27 04:52] soumith commented on #9097
python 3.7 binaries are live on PyPI, conda and on https://pytorch.org

[2018-07-27 04:52] #9097 closed

[2018-07-27 04:58] soumith commented on #8909
`nccl` or `nccl2` are not shipped with CUDA. Atleast last I checked. I wonder if this changed with CUDA 9.2.

[2018-07-27 04:59] soumith commented on #8424
release is live. links to wheels and conda packages with cuda 9.2 are on https://pytorch.org

[2018-07-27 04:59] #8424 closed

[2018-07-27 05:01] soumith commented on #7082
Yes, PyTorch uses threads in general, via OpenMP, MKL and also has it's own threads for a few things like `autograd`

[2018-07-27 05:01] soumith commented on #9179
cc: @houseroad @bddppq

[2018-07-27 05:04] soumith commented on #8712
@sleepinyourhat sorry for the late reply, but is it still an issue, if so can we help? (feel free to pm me).
No releases of PyTorch (>= 0.3.1) were built with 4.8.

[2018-07-27 05:05] soumith commented on #8823
closing the issue while awaiting response.

[2018-07-27 05:05] #8823 closed

[2018-07-27 05:08] soumith commented on #2389
We recently did a full audit of the state of sparse, and have a detailed note here: https://github.com/pytorch/pytorch/issues/9674

We will start focusing more on sparse, and get the autograd coverage it badly needs.

[2018-07-27 05:09] soumith commented on #8365
i checked that this is now working in 0.4.1. It was either implcitly or explicitly fixed, but the issue was not closed.

[2018-07-27 05:09] #8365 closed

[2018-07-27 05:58] linguichao opened #9921 "A serious problem when installing caffe2. Anyone can help me?"
[ 88%] Building CXX object caffe2/CMakeFiles/caffe2_gpu.dir/operators/tanh_op_cudnn.cc.o
In file included from /home/lgc/pytorch/caffe2/core/context_gpu.h:19:0,
                 from /home/lgc/pytorch/caffe2/operators/activation_ops_cudnn.h:4,
                 from /home/lgc/pytorch/caffe2/operators/tanh_op_cudnn.cc:3:
/home/lgc/pytorch/caffe2/core/common_cudnn.h:24:17: note: #pragma message: CUDN

[2018-07-27 06:18] Weyne168 opened #9922 "accessing the attributes of grad_fn such as kernel_size, stride"
## Issue description
Are there any methods to get the conv module input params from the ‘grad_fn’ in the newest version of pytorch?

in pytorch 0.2, we can get convolution parameters, such as kernel_size, padding, and stride from grad_fn, this way is very useful to convert the trained model to caffe prototxt.
but, in pytorch 0.4, the ThnnConv2DBackward and CudnnConvolutionBackward  do not support

[2018-07-27 06:19] t-vi commented on #8582
@nabihach Could you please check if 0.4.1 fixes this? If not we would need to take a deeper look.

[2018-07-27 06:39] chzhan commented on #7330
We have always wanted to use Pytorch research to Reinforcement learning, so we have been expecting this problem to be solved.

[2018-07-27 06:47] deepali-c commented on #9886
`DistributedDataParallelCPU `needs to be added.

[2018-07-27 06:50] Stonesjtu commented on #2198
@wise-east It's pympler,  check this out https://stackoverflow.com/a/29923561/6759409  !

[2018-07-27 07:01] t-vi commented on #5694
Contrary to what the title suggests, the crash resulting from the types, it is about division by 0 for long.

To for the scalar case, this is easily caught by checking == 0 in div_DEFAULT (and possibly others) and made into an exception (or should it be a warning as in NumPy?).
For the tensor case, that also has this, this is not all that efficient, so we might need to have a signal handler, have

[2018-07-27 07:21] josephnunn commented on #7082
Hi there, I've got the exact same problem.

`from torch._C import *
ModuleNotFoundError: No module named 'torch._C'`

This from an empty file excepting
`import torch`

But of course, it works when run from the command line.

I build pyTorch from the github source against cuda 9.2 and intel mkl on Linux.  I'm using Eclipse + pyDev as the IDE.  Clearly something is getting set wrong in the environme

[2018-07-27 07:48] ClementPinard commented on #8366
Quick question regarding this feature. I stumbled acrosse tha `accessor` feature, and it seems to do some of the work discussed here ?

This is stated [here](https://github.com/pytorch/pytorch/tree/master/aten#efficient-access-to-tensor-elements),

and you can see a test example [here](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/test/atest.cpp#L51)

would it be a good idea to then

[2018-07-27 08:07] t-vi commented on #8366
Currently, to me it looks like TensorAccessor is CPU-only (in contrast to DeviceTensor, the strides+sizes aren't copied, as far as I can see; also the largest user of TensorAccessor seems to be sparse, but only on CPU).

[2018-07-27 08:11] hmc-cs-mdrissi opened #9923 "Cuda 9.2 pip install having trouble finding the right cuda"
## Issue description

As the binaries for 0.4.1 just added support for 9.2, I decided to upgrade to cuda 9.2 and upgrade pytorch. I purged my cuda 9.0 install and made sure locate cuda-9-0 gave no results and also made sure that the LD_LIBRARY_PATH, PATH, and CUDA_HOME all don't reference cuda-9-0 anymore. nvcc -V also shows 9.2 as the version present. When I try importing torch, I get this error

[2018-07-27 08:24] zhangchenkai commented on #9873
Why dosen't PyTorch provide a compiled version directly, like other packages TF, Numpy, Tensorly etc. ?

[2018-07-27 08:42] vadimkantorov commented on #5694
I agree there are two problems: divbyzero signal handling and implicit type casting.

But the second one is important as well: if implicit casting is supported, it should not lead to such severe type demotion and divbyzero.

[2018-07-27 09:36] wang5566 opened #9925 "[Caffe2]Build caffe2 for android having large .a lib"
I built caffe2 for android using script/build_android.sh and passed through. But I got libcaffe2.a not libcaffe2.so and the .a lib is too large about 1G. Is it normal?

[2018-07-27 09:55] 0phoff commented on #9811
@SsnL, I guess pytorch 0.3.1 had this unintended behaviour because there were no scalar tensors.
While you indeed set the behaviour back to how it was, I am not sure this is what we want for PyTorch?
This would mean that wrapping a model in `DataParallel` is not a transparent behaviour as __sharpsy__ explained.

Anyway, I am not a big contributor, so I'll let you guys figure this one out :innocent

[2018-07-27 10:07] EKami opened #9926 "Wrong version number for the 0.4.1 release"
## Issue description

The `__version__` provided by Pytorch is wrong

See [this line](https://github.com/pytorch/pytorch/blob/v0.4.1/setup.py#L246)

[2018-07-27 10:45] sharpsy commented on #9811
Current behavior leads to fickle code. If backwards compatibility is the reason to leave it as it is - version 1.0 is a great time to solve this.
In https://github.com/pytorch/pytorch/pull/7973, @SsnL wrote down other reasons for this behavior.

Parallel loss calculation is a valuable feature, and we want to keep it. As the example I wrote showed, automatic loss function reduction in the `DataPara

[2018-07-27 11:30] xingkongliang commented on #6992
@prigoyal Do you solve this problem?

[2018-07-27 11:56] ClementPinard commented on #8366
It seems to serve also for custom CPU kernels, since when implementing a looped operation, e.g. for something not available with a classic vectorwise Aten function, you access the tensor many times by `Tensor[h][w]` (just an example).

What about a `kernel_accessor` then ? only for global Cuda kernel operators.

[2018-07-27 12:01] t-vi commented on #8366
Oh I don't mean to disagree, it's just that you need those two extra arrays on the device. I sure know that my CTC PR would look much nicer with a device (or kernel) accessor and you cannot typo the strides, either.

[2018-07-27 12:02] MayorPain commented on #6339
On windows, following the install instructions, this error still appears

[2018-07-27 12:51] ClementPinard commented on #8366
Unrelated question, what does CTC stand for ? PR is Pull Request I guess, but I don't have the first acronym.

Anyway thanks for your answers ! I plan on publishing with pip (and maybe in pytroch/contrib) a custom implementation of correlation module (see [here](https://github.com/pytorch/pytorch/issues/4073) ) as soon as an official kernel accessor is available ! :D

[2018-07-27 13:07] vadimkantorov opened #9928 "[docs] Missing docs for torch.as_strided"
https://pytorch.org/docs/master/search.html?q=as_strided&check_keywords=yes&area=default is empty.

I was looking to PyTorch'ify matting laplacian NumPy code and it uses `as_strided`: https://github.com/NVIDIA/FastPhotoStyle/blob/master/photo_smooth.py#L96

[2018-07-27 13:17] vishwakftw commented on #9926
The `__version__` is set correctly. See https://github.com/pytorch/pytorch/issues/7954#issuecomment-394443358 .

[2018-07-27 13:21] EKami commented on #9926
In that case the `__version__` isn't set correctly somewhere else because I compiled Pytorch from source on the `0.4.1` branch and here is what I get:
[code]

[2018-07-27 13:34] vadimkantorov opened #9929 "[pytorch] torch.einsum: minor API discrepancy with NumPy and TensorFlow"
In NumPy it accepts `*operands`, in PyTorch it accepts `operands`.

https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.einsum.html:
[code]

https://pytorch.org/docs/master/torch.html?highlight=einsum#torch.einsum:
[code]

https://www.tensorflow.org/api_docs/python/tf/einsum:
[code]

Are there good reasons for keeping it different from NumPy / TensorFlow?