[2019-10-21 02:25] RasinGue commented on #25088
Hi, is there any progress here?
It seems pytorch has not support max_unpool2d yet. I dont find any `max_unpool2d` in there source code.

[2019-10-21 02:31] yf225 commented on #25883
@jokerkeney No it's my fault - my apologies that I didn't check them close enough when I wrote the list. :(  Yes it sounds awesome and thanks so much for your help! Please let me know if I can help in any way :D

[2019-10-21 02:32] yf225 commented on #25883
@jokerkeny No it's my fault - my apologies that I didn't check them close enough when I wrote the list. :(  Yes it sounds awesome and thanks so much for your help! Please let me know if I can help in any way :D

[2019-10-21 02:44] hans1929 opened #28351 ""module has no attribute 'downsample'" when scripting torchvision's resnet"
The "torch.jit.script()" doesn't work for resnet from torch vision.
When I run:
`model = torchvision.models.resnet18()`
`sm = torch.jit.script(model)`

I have:

  File "convert_model_to_cpp.py", line 63, in <module>
    sm = torch.jit.script(model)
  File "/home/hans/Documents/vehicle_verification/env_pytorch/lib/python3.6/site-packages/torch/jit/__init__.py", line 1203, in script
    return torch

[2019-10-21 03:55] suo commented on #16847
@kindloaf, unfortunately we do not plan to support this. Dictionary types in TorchScript must be statically typed, with a common type for all values.

[2019-10-21 04:07] bywbilly opened #28353 "torchvision.utils.save_image description not accurate"
## 📚 Documentation

If what I found is correct, the torchvision.utils.save_image will scale the tensor **in place** and save them. This is not warned in the documentation, which may cause some weird bug. I think it would be better if you add some notation about that.

Thanks!

[2019-10-21 04:24] suo commented on #28322
This behavior is actually intentional (and the same as what you would get in eager mode)

The error message contains a hint as to why: coercing a tensor more than one element to a boolean is ambiguous. The equality operator on Tensor (which is what `remove()` is using for its comparison) returns a bool tensor where each element says whether the corresponding elements on the two operands are equal,

[2019-10-21 04:24] #28322 closed

[2019-10-21 05:04] SsnL commented on #28353
fixed in https://github.com/pytorch/vision/pull/1244

[2019-10-21 05:04] #28353 closed

[2019-10-21 05:48] jon-tow commented on #25883
@yf225 Constructing `scale_factor` and `size` with a single initializer-list of values causes an error. Because of the `c10::optional` wrapper one would need to nest the list, e.g.
`UpsampleOptions().scale_factor({{0.5}})`.
I'll submit a WIP PR and maybe we could discuss it more there? Thanks for the help :)

[2019-10-21 06:09] vikashranjan opened #28357 "Quantisation of object detection models."
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

Any examples to quantise object detection models ?

I get the following error when I

[2019-10-21 06:25] kindloaf commented on #16847
@suo Thanks for the info.

[2019-10-21 07:18] eellison commented on #28339
Hi, thanks for the report & succinct repro!

This issue is related to https://www.google.com/search?q=index+into+modulelist . Because Modules aren't fully first class in the type system we don't have a way of representing the type you get out of `moduledict[key]`. We are aware of this limitation and would like to fix it but it will likely be at least a few releases.

As with ModuleLists, Moduledic

[2019-10-21 07:24] aligoglos opened #28359 "Python3.8"
## 🚀 Feature
Please release python 3.8 package.

[2019-10-21 07:30] IlyaOvodov opened #28360 "Execution of traced function results in unexpected modification of an argument"
## 🐛 Bug
Execution of traced function results in unexpected modification of an argument

## To Reproduce
[code]

## Expected behavior
argument shouldn't change

## Environment

Collecting environment information...
PyTorch version: 1.3.0a0+de394b6
Is debug build: No
CUDA used to build PyTorch: 10.0

OS: Њ ©Єа®б®дв Windows 10 Pro
GCC version: Could not collect
CMake version: version 3.12.2

Python

[2019-10-21 08:27] saulzar commented on #27841
This simpler net gives the same error, apparently.

[code]

[2019-10-21 08:36] saulzar commented on #27841
Seems like this is an onnx issue which has been fixed but not released yet.
https://github.com/onnx/onnx/issues/1655

[2019-10-21 08:44] saulzar commented on #27841
Still has the same behaviour with latest github onnx, not convinced it's the same problem.

[2019-10-21 08:46] saulzar commented on #27841
Even this doesn't work:

`model = nn.AvgPool2d(2)`

onnx.onnx_cpp2py_export.checker.ValidationError: Node () has input size 1 not in range [min=2, max=3].

`==> Context: Bad node spec: input: "input" output: "1" op_type: "Pad" attribute { name: "mode" s: "constant" type: STRING } attribute { name: "pads" ints: 0 ints: 0 ints: 0 ints: 0 ints: 0 ints: 0 ints: 0 ints: 0 type: INTS } attribute { name:

[2019-10-21 09:10] saulzar commented on #27841
This only seems to happen with opset_version=11

[2019-10-21 09:47] Sarah20187 commented on #16417
same problem here. When I use pytorch0.4.1, batch size=4, it's ok. But when I change to pytorch1.3 and even set the batch size to 1, I have the oom problem.

[2019-10-21 09:59] pietern commented on #27168
@zhaojuanmao @pritamdamania87 Does this warrant more discussion or do you think we can close this? Having a more systemic way to deal with this would be preferable over cherry picking configurations that have broken in the past, but what that approach would be, I don't know.

[2019-10-21 10:06] hameerabbasi opened #28361 "Improved Tensor subclassing support, preserving subclasses on function/method calls"
## 🚀 Feature

Related: #22402

This feature proposes passing through `Tensor` subclasses via `__torch_function__`.

### Desired Behaviour
Example desired behavior would be:

[code]

### Goals

Quoting #22402

Additionally, from https://github.com/pytorch/pytorch/issues/28361#issuecomment-544520934:

### Rough Sketch of Implementation
Anything with a type like a built-in tensor will bypass `__torch

[2019-10-21 10:18] harkiratbehl opened #28362 "output of torch.autograd.grad"
## 📚 Documentation

What is the return value of torch.autograd.grad function? The common way is to just use it like this:
gradients = torch.autograd.grad(loss, model.parameters())

which is fine. But I have also seen people using this:
(gradients,) = torch.autograd.grad(loss, model.parameters())

I just want to know the exact return values of the grad function.

[2019-10-21 10:26] soumith commented on #18996
so, it turned out that `delocate`'s pip binary has a bug that was fixed in master over a year ago, i.e. commit: https://github.com/matthew-brett/delocate/commit/a2a4e576d1b8001ae465d96e541dbf95761a3438

I kicked of binaries with `delocate` master instead of `pip` and will file an issue to them to do a new release

[2019-10-21 11:08] ModarTensai commented on #25481
I have few points to make here since I worked on [the same problem before](https://github.com/ModarTensai/network_moments/blob/f66bfb44d5407024e1ef43ef19deb1da31133c27/network_moments/torch/utils/ops.py#L168-L207):

- `b.t()` should be replaced by `b.transpose(-2, -1)` to support batching
- `b.diag()` should be replaced by `b.diag_embed()` to support batching
- `A @ b.diag_embed()` should be repla

[2019-10-21 11:25] vadimkantorov commented on #25481
@ModarTensai about eps, is [`torch.finfo(s.dtype).eps`](https://pytorch.org/docs/stable/type_info.html?highlight=finfo#torch.torch.finfo) useful here?

[2019-10-21 11:28] ModarTensai commented on #25481
You are absolutely right. Last time I checked, they didn't port `finfo` from numpy yet. I will update it in the original comment.

[2019-10-21 12:42] ezyang commented on #28361
Can you explain what exactly the delta from this proposal and #22402 is? Or is this just a pattern that subclasses of Tensor can use to implement extensions?

[2019-10-21 13:16] toosi commented on #17334
Same issue
RTX2080 torch 1.1.0 cuda10.0 cudnn7.5
It happens after running some epochs, seems quite random

[2019-10-21 13:17] ashishpatel26 opened #28363 "ImportError: DLL load failed: The specified module could not be found."
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-3-eb42ca6e4af3> in <module>
----> 1 import torch

~\.conda\envs\py3\lib\site-packages\torch\__init__.py in <module>
     79 del _dl_flags
     80
---> 81 from torch._C import *
     82
     83 __all__ += [name for name in dir(_C)

Im

[2019-10-21 13:27] hameerabbasi commented on #28361
@ezyang Please see the update to the issue, I've added more details on how this can be made automatic. I've also added an example use-case.

It basically sets out how (if we allow `__torch_function__` on subclasses), we can, by a simple extension, create a default `__torch_function__` that will make passing through subclasses automatic.

[2019-10-21 13:39] mrshenli commented on #25641
cc @jfc4050 I assigned this to myself to reserve it as a bootcamp task and to avoid duplicated contributions from us. :)

[2019-10-21 13:43] rgommers commented on #28361
@hameerabbasi I'd suggest editing the description some more. The relevant goals are:

- Support subclassing `torch.Tensor` in Python
- Preserve `Tensor` subclasses when calling torch functions on them
- Preserve `Tensor` subclasses when calling `Tensor` methods
- Propagating subclass instances correctly also with operators, using views/slices/etc.

There's no delta, we just need an issue for this

[2019-10-21 14:13] albanD commented on #25888
Hi,

I don't really see why the hooks on Module could help you do that.
But both DataParallel and DistributedDataParallel already overlap computation and communication if I remember correctly.

[2019-10-21 14:19] timothyman commented on #28216
While writing a unit-test, I found that the issue is not as straight-forward as I was initially led to believe.

This test fails in PyTorch 1.3.0.

[code]
This alternate version, however, passes:

[code]
 The only difference is whether I instantiate a new optimizer version for every new LR scheduler. It looks like the optimizer keeps the state of the previous LR schedule. I'm not sure if this is i

[2019-10-21 14:20] albanD commented on #28362
Hi,

Pleas use the forum: https://discuss.pytorch.org/ to ask questions.

For your particular question, the doc [here](https://pytorch.org/docs/stable/autograd.html#torch.autograd.grad) should give you all the informations. Basically the same thing as the inputs.

[2019-10-21 14:20] #28362 closed

[2019-10-21 14:29] f0k commented on #28224
As @ezyang said, the default should be not to call `cudaSetDeviceFlags`, or to call it with `0` (automatic scheduling), to not change existing behavior.

I'd personally set it to 4 (blocking sync). It *can* be minimally slower, and it *can* reduce CPU use significantly, but both depends on the experiment. In my current case, it's reducing CPU usage by 30% and runs ~0.5% slower (that's 18 seconds p

[2019-10-21 14:37] ptrblck commented on #27738
@mohamedaboali1990 as @phongnhhn92 explained, you won't be able to use the `.cuda` calls, if you don't have an NVIDIA GPU.

@isalirezag did you (re)install the binaries after the fix was published?

[2019-10-21 14:42] Norfo commented on #28276
Thank you very much! After making changes to the model, loading is carried out correctly both on the side of python and c ++. Unfortunately, I did not have time to check using the nightly package. I will try to do this soon.

I currently have an error using the ```forward()``` method of this model.
[code]
Of course, I understand that it will be quite difficult to figure this out without the necess

[2019-10-21 14:44] ezyang opened #28365 "setup.py: TypeError: expected str, bytes or os.PathLike object, not NoneType"
[code]

was just doing a normal build

[2019-10-21 14:46] ezyang commented on #28365
cc @xuhdev it looks like this happens if I have a cmake cache with `USE_CUDA` on, but somehow CUDA detection from setup.py no longer picks up cuda (so `CUDA_HOME` is None)

[2019-10-21 14:46] ptrblck commented on #25241
@felix-schneider Could you run the code again with the PyTorch 1.3.0 binaries + CUDA10.1.243, as it should be fixed?

[2019-10-21 15:00] ptrblck commented on #21819
@zhixuanli are you seeing the same error using the latest PyTorch release (1.3.0)?
Could you post the setup you are using, so that we could try to reproduce this issue, since we weren't able to do so until now.

[2019-10-21 15:03] izdeby commented on #26247
Reopening in order to fix the CPU path

[2019-10-21 15:08] ezyang commented on #28224
@f0k I'm as clueless as you. Can we maybe breakpoint the relevant driver/runtime api functions in gdb and see which ones are getting hit?

[2019-10-21 15:13] ezyang commented on #27627
Why don't you post your build problems here and we can try to help resolve them.

[2019-10-21 15:16] felix-schneider commented on #25241
The output is now:
[code]
which is expected. It seems that the problem is fixed.

[2019-10-21 15:16] #25241 closed

[2019-10-21 15:21] ayush-1506 commented on #28033
From what I could understand, the overall objective is to move the [test_doc](https://github.com/pytorch/pytorch/blob/fd3d6587e60de816106d6b8dc0f586f9fa52a7ac/test/test_torch.py#L183) to a member function inside TestDocCoverage ([here](https://github.com/pytorch/pytorch/blob/master/test/test_docs_coverage.py#L15)), since testing for documented functions is the purpose of both these.

At the moment

[2019-10-21 15:23] yf225 commented on #25883
@jon-tow Ah I see, yes we can discuss it in the WIP PR - I think there might be a way to get around this problem by explicitly having two function overloads for `.scalar_factor`, one takes `c10::nullopt_t` and the other takes `std::vector<double>`, but we might need to experiment it to see if it works :D

[2019-10-21 15:40] orionr commented on #28206
cc @sanekmelnikov, @natalialunova and @lanpa

[2019-10-21 16:10] adefossez opened #28368 "`clamp` does not return the right result for upper bound 20878924."
## 🐛 Bug

Run
[code]

## Expected behavior

Expected `torch.tensor(20878924.).clamp(0, 20878923.)` to return `20878923.` but instead it returns `20878924.`. This is not the case if using long tensor.

## Environment

Collecting environment information...
PyTorch version: 1.3.0
Is debug build: No
CUDA used to build PyTorch: None

OS: Mac OSX 10.14.6
GCC version: Could not collect
CMake version: ver

[2019-10-21 16:19] sagarpant1 opened #28369 "subprocess.CalledProcessError: Command '['cmake', '--build', '.', '--target', 'install', '--config', 'Release', '--', '/maxcpucount:8']' returned non-zero exit status 1."
[build.log](https://github.com/pytorch/pytorch/files/3751883/build.log)

When compiling the PyTorch from Github, after I execute

python setup.py install

after a few minutes, the following problem occurs:

subprocess.CalledProcessError: Command '['cmake', '--build', '.', '--target', 'install', '--config', 'Release', '--', '/maxcpucount:8']' returned non-zero exit status 1.

I have also added logs

[2019-10-21 16:25] xf3227 commented on #22049
I was recently encountering the same problem. I guess PyTorch or the backend library is implemented in such manner due to the synchronization issue. My walk-around is to set the gradients of all 'freezed' parameters to zeros, right after calling `<any_loss>.backward()`. This solution is not necessary to be perfect for those non-stateless optimizers (e.g. SGD with momentum, Adam etc.), but the redu

[2019-10-21 16:29] adefossez commented on #28368
Nevermind, I am an idiot, this is simply because of float32 precision...

[2019-10-21 16:29] #28368 closed

[2019-10-21 16:54] albanD commented on #25888
Hi,

The same thing can be done using hooks on Tensors with `register_hook()`. These work as expected.

[2019-10-21 16:55] lly-zero-one commented on #28346
Could you take a look? @jamesr66a

[2019-10-21 16:59] lly-zero-one commented on #28357
It seems you passed the normal Tensor to quantized kernel. Could you check whether you add quant for the input tensor?

[2019-10-21 17:08] cpuhrsch commented on #27682
Since this is on Windows, @peterjc123 do you have time to take a look?

[2019-10-21 17:12] lly-zero-one commented on #28331
I think the zero_point and scale should be kept in the model. Can you let us know how to reproduce the issue?

[2019-10-21 17:13] jerryzh168 commented on #28198
cc @VitalyFedyunin @ifedan

[2019-10-21 17:15] jerryzh168 commented on #27968
this seems to be a dup of another issue

[2019-10-21 17:15] lly-zero-one commented on #28337
@dskhudia @jianyuh  Could you help to take a look? Seems to be building issue.

[2019-10-21 17:27] albanD opened #28370 "`at::parallel_for` does not propagate thread-local variables to child threads in embedding_renorm_"
See repro below:

[code]
Outputs:
[code]

Current supposition is that multi-threaded operations and thread local NoGradGuard could be problematic.

cc @ezyang @gchanan @zou3519 @jerryzh168 @SsnL @albanD @gqchen @VitalyFedyunin @ngimel @mruberry

[2019-10-21 18:09] xuhdev commented on #28365
Could you test #28373?

[2019-10-21 18:09] albanD commented on #25888
The PR for it is here: https://github.com/pytorch/pytorch/pull/26568

[2019-10-21 18:27] yaroslavvb commented on #25481
@ModarTensai nice tips!
- I got the 1e3 and 1e6 factors from scipy.linalg.pinv2 . However, in master, [they were removed](https://github.com/scipy/scipy/pull/10067) and I couldn't track down where they came from
- solve_sylvester can be extended to no solution/multiple solutions case by [discarding eigenvalues](https://gist.github.com/yaroslavvb/1a258310b266ac7ade35b025c9e6fae3) below the cut-off.

[2019-10-21 18:35] cpuhrsch commented on #27687
@jatentaki - Ok this makes sense! I'll flag this as a documentation issue.

[2019-10-21 18:35] vincentqb commented on #28216
Schedulers are now chainable. The first case is simply applying the new scheduler where the other left off. You do need to create a new optimizer. If both are passing, the scheduler is therefore not chainable in its implementation. If there's a way to preserve that property, we should.

[2019-10-21 18:42] raghuramank100 commented on #28328
This looks like a high-priority issue. @lly-zero-one : Can you flag it as such?.

[2019-10-21 18:49] fritzo commented on #21760
Note that @springer13 has been working on a [cuTENSOR](https://developer.download.nvidia.com/video/gputechconf/gtc/2019/presentation/s9593-cutensor-high-performance-tensor-operations-in-cuda.pdf) at Nvidia. Pros: the library has already worked out copy-free versions of many pairwise einsum shapes. Cons: It does not address small tensor dimensions, and is not yet released. Paul do you think any par

[2019-10-21 18:50] lhty24 commented on #18626
Supporting this. This would be a very useful feature. I was actually surprised to find out that Pytorch doesn't have this.

[2019-10-21 18:51] isalirezag commented on #27738
@ptrblck I reinstalled it  and it is good now

[2019-10-21 18:55] frkl commented on #20822
Thanks for pointing out. Just checked and indeed that looks like what we need -- pandas with gpu tensors. Pandas with pytorch tensors could save a few more lines but numpy is used for interoperatability.

[2019-10-21 18:59] cpuhrsch commented on #22169
@dashesy  - Thanks for the comment!

At this point I'd implement something like this via

[code]

[2019-10-21 19:04] fritzo commented on #21760
@SsnL what are the input sizes of your `bshk,bhksc` tensors?

[2019-10-21 19:17] hx89 opened #28375 "torch.quantization.convert() doesn't remove observer from empty Sequential() module, causing error when scripting"
## 🐛 Bug

torch.quantization.convert() doesn't remove observer from empty Sequential() module, causing errors when scripting the model since observers are not scriptable.

Steps to reproduce the behavior:

[code]

The printed model has observer in it:
[code]

Got error:
[code]

cc @suo @jerryzh168 @jianyuh @dzhulgakov @raghuramank100

[2019-10-21 19:25] izdeby commented on #25316
Closing as fixed.

[2019-10-21 19:25] #25316 closed

[2019-10-21 19:25] izdeby commented on #25316
I dont think we gonna do it for now.

[2019-10-21 19:28] izdeby commented on #25176
Already fixed.
Repro code:
[code]

output:
_tensor([1, 2, 4])
../aten/src/ATen/native/IndexingUtils.h:20: UserWarning: indexing with dtype torch.uint8 is now deprecated, please use a dtype torch.bool instead.
tensor([1, 2, 4])_

[2019-10-21 19:28] #25176 closed

[2019-10-21 19:29] #24918 closed

[2019-10-21 19:34] SsnL commented on #21760
@fritzo A labmate asked me about this. I don't know the exact dimensions...

[2019-10-21 19:53] jph00 commented on #28361
Thanks gang. I have no comment on the proposed implementation, but the goals look great. :)

Although it's covered already implicitly by the stated goals, I should mention that we've had trouble getting `__getitem__` working correctly in subclasses - so this might be something to make sure you test carefully. E.g. be sure to test passing tensors of various types as indices, including bool mask ten

[2019-10-21 19:57] kafura0 commented on #16417
solved it by updating my pytorch to the latest... conda update pytorch

[2019-10-21 19:57] izdeby commented on #26247
@TheodoreZhao, can you provide repro code? This should work.
Tested via
[code]

Output:
_(tensor([0], device='cuda:0'),)
(tensor([0]),)_

[2019-10-21 19:58] ljk53 opened #28379 "Failed to load model on mobile for device type "c10::DeviceType::CUDA""
## Failed to load model on mobile

Reported on forum: https://discuss.pytorch.org/t/anyone-tried-out-the-pytorch-mobile-demo-apps-yet/58336/12

Looks like it's trying to create device_="c10::DeviceType::CUDA" empty tensor while loading the model, while sample mobile model has device="c10::DeviceType::CPU".

## To Reproduce

* Download model: https://drive.google.com/file/d/1fAhLpkoqNR32KQtzEkWe0Lh

[2019-10-21 20:06] LeonhardFeiner opened #28380 "Enable applying min, max, argmin, argmax over nonzero dims of tensor containing dims of size 0"
## 🚀 Feature
Applying `tensor.min(dim)`, `tensor.max(dim)`, `tensor.argmin(dim)`, `tensor.argmax(dim)` causes an error when any dimension of the tensor is of size 0.
[code]
In my opinion this error should only be thrown, if the `dim` is associated to a dimension which is of size 0.

## Motivation

The current behavior is inconsistent with numpy and requires unnecessary case handling for empty tens

[2019-10-21 20:15] suo commented on #27694
Hi @huang229, thank you for your detailed reply. Have you had a look at our [tutorial](https://pytorch.org/tutorials/advanced/torch_script_custom_ops.html) on how to build custom extensions that are accessible from TorchScript? You will need to build a shared library that is linked into your C++ executable, but otherwise it should all work.

[2019-10-21 20:16] lkhphuc commented on #28379
Thanks for responding so quickly.

[2019-10-21 20:32] rgommers commented on #28361
Thanks @jph00, that's exactly the type of input we need.

[2019-10-21 20:41] zhangguanheng66 commented on #27968
This is a duplicate issue as https://github.com/pytorch/pytorch/issues/24816.

Since you are padding a full sequence, a tensor of zeros is passed to the `softmax` func within `MultiheadAttention` func. We have discussed the results of `NaN` and it makes sense for the `softmax` func (https://github.com/pytorch/pytorch/issues/25110).

[2019-10-21 20:41] #27968 closed

[2019-10-21 20:42] suo commented on #28339
Going to close this as https://github.com/pytorch/pytorch/issues/16123 is already tracking. Thanks for the report!

[2019-10-21 20:42] #28339 closed

[2019-10-21 20:43] suo commented on #16123
Just wanted to give a quick update here: this is a high priority item for us, but the fix is not easy given the way TorchScript is implemented so it will take some time. Thanks for the reports, everyone!

[2019-10-21 20:56] suo commented on #28055
[code]
looks like a separate issue

[2019-10-21 21:02] suo commented on #25646
@mylofty sorry for the delay, perhaps this is the underlying issue? https://github.com/pytorch/pytorch/issues/27971#issuecomment-543067718

[2019-10-21 21:24] ezyang opened #28386 "Per-TensorTypeId fallthrough opt-in"
@mcarilli shares with me a use case that is not handled well by the current dispatcher. He would like to provide a toggleable AMP mode that, when turned on, results in specific functions calling an AMP implementation, rather than the usual VariableType implementation. While this can be implemented using boxed fallback (#26368) it is a bit awkward, because the implementor has to write a giant if st

[2019-10-21 22:00] bwasti commented on #28386
I'm not really sure the implementation details here.  Using `registerOp` for normal overrides and then `registerFallbackBoxedOp` to strip the TensorTypeId from the typeset and re-dispatch seems like a really easy thing to pull of with the current API.  I don't understand where the if-statement comes in.

[2019-10-21 22:06] ludovicdelfau opened #28389 "The affinity of a worker process is reset after torch.randperm is called"
## 🐛 Bug

The affinity of a worker process is reset after `torch.randperm` is called in the worker process.

## To Reproduce

Steps to reproduce the behavior:

1. Change the worker process affinity in the `worker_init_fn` function.
1. Call `torch.randperm` in the `__iter__` method of an IterableDataser.
1. Now the worker process affinity is back to the original one.

The following code sample repr

[2019-10-21 22:17] ifedan opened #28390 "torch.multinominal ignores elements from cumulative distribution"
## 🐛 Bug

torch.multinominal for CPU calculates cumulative distribution internally to generate samples. If the exponents of the probabilities in one row have significantly different values (e.g. half < 1e-15 and others > 1e+15) the optimized local cumulative sum does not work as expected. The issue exists because we lose mantissa when calculating cumulative distribution, summarizing large and smal

[2019-10-21 22:34] smessmer commented on #28386
- call it "fallthrough" dispatch instead of "fallback" dispatch, I think we have too many things we're calling "fallback" right now.
- This will degrade perf for ops going through fallthrough dispatch but not for ops that find a kernel before fallthrough.
- How are you planning to support AMP with this? Will there be an AMPTensorId that has fallthrough enabled? Does this mean all our tensors will

[2019-10-21 22:47] felixlaumon commented on #4107
@ptrblck I can reproduce this `CUDNN_STATUS_NOT_SUPPORTED` on `BatchNorm1d` on a Collab notebook (https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fcolab.research.google.com%2Fdrive%2F1MMukaj-kfLAdvVWxI4ccsR07gaA90PFe&authuser=0&hl=en&flowName=GlifWebSignIn&flowEntry=ServiceLogin)

It seems `BatchNorm1d` / `cuDNN` has a upper limit batch size of `2 ** 16`.

[code]

[code]

[c

[2019-10-21 22:49] sermakarevich commented on #13273
it looks like the issue remains even in `torch==1.3`
I need to filter out some part of the model output and this causes the error
[code]

any updates ?

[2019-10-21 23:53] #25810 closed

[2019-10-22 00:29] gimgane commented on #28064
I am sorry to reply late.
But AFAIK [Caffe2 has been merged into PyTorch](https://caffe2.ai/blog/2018/05/02/Caffe2_PyTorch_1_0.html) since 2018.

Do you mean Caffe2 is no longer maintained by PyTorch?
But [Caffe2's Github repository is closed](https://github.com/facebookarchive/caffe2), then where could I get help with Caffe2 usage?

[2019-10-22 00:40] ljk53 commented on #28379
Looks similar to issue #22395? I was thinking of adding "map_location='cpu'" for mobile but seems it didn't really work and the recommendation there was to "switch it to CPU mode before tracing it and exporting it". Not sure if things have changed since then cc: @zdevito

[2019-10-22 01:38] ebarsoum opened #28394 "Where did the GPU memory go"
Hi Guys,

I am trying to understand the overhead of GPU allocation. I run the below 2 code snip-it on Titan V GPU with PyTorch 1.3.

First code use PyTorch to allocate a small tensor, here what I get:

Before: used GPU Memory: 0.9375 MB
Max memory cached: 2.0 MB
After: used GPU Memory: 1008.1875 MB

The actual memory cache in PyTorch allocator is pretty small, but the overall CUDA allocation is ar

[2019-10-22 02:14] huang229 commented on #27694
@suo Thank you very much for your reply. I have seen this application example for a long time, but it is an application under Ubuntu system. I need an application instance under Windows system. Do you know if it is convenient for me?

[2019-10-22 02:41] ksnzh commented on #5565
Hope trilinear interpolation will be added.

[2019-10-22 03:01] peterjc123 commented on #27682
I think that he is just sending mail from a Windows device.

[2019-10-22 03:04] springer13 commented on #21760
Thanks for looping me in. This tensor contraciton actually looks like a GEMV with multiple batched dimensions; cuTENSOR supports this contraction withou transpositions. However, we've not looked into this particular use case very closely so far, so there's likely room for improvement.

I assume the data type is fp16?

[2019-10-22 03:08] as754770178 opened #28403 "distribute process error"
My data save in NFS, so I want to copy it to SSD in my computer.
I writer a function in my DatasetClass, and start it by Process, the code such as:
[code]
But when I use multiprocessing `mp.spawn`, the program report error:
[code]

[2019-10-22 03:10] foocker commented on #1355
why so much zan?

[2019-10-22 03:10] springer13 commented on #21760
@fritzo cuTENSOR can certainly be used within a fork of pytorch (maybe via CuPy's cuTENSOR wrappers: https://github.com/cupy/cupy/tree/master/examples/cutensor); whether this would be accepted into the public version is a different question.

[2019-10-22 03:28] jiacheng1gujiaxin opened #28404 "[Quantization] (Error): No function is registered for schema aten"
## ❓ Questions and Help
    I tried to quantizate my own shuffle model through 'STATIC QUANTIZATION WITH EAGER MODE IN PYTORCH'.
    But when it comes to forward propagation, the time to assess model losses, I failed:

[code]

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100

[2019-10-22 03:42] peterjc123 commented on #28369
The actual error is
[code]
We saw the similar error report at the pytorch/vision side, and finally solved that by using the native toolchain of VS 2017/2019. Would you please tell me a bit more about your MSVC environment?

[2019-10-22 03:44] peterjc123 commented on #28363
Please post more info here about your environment. Otherwise, the issue will be closed.

[2019-10-22 03:46] kdexd commented on #24236
I see a potential use-case with distributed training as well — it would be convenient to have an easy way to turn all the SummaryWriter method calls to no-op, I could do that for all processes in the process group except the main process (RANK = 0).

Such a feature is usually implemented in several logging libraries, [tqdm](https://github.com/tqdm/tqdm) has a `disable` argument to turn off progres

[2019-10-22 03:50] as754770178 commented on #28403
I create Dataset Object in __name="__main__" filed, so the init function of Dataset only call once.

[2019-10-22 03:50] kdexd commented on #24236
Another alternative is having `.disable()` and `.enable()` methods, which might provide more flexibility and control to the user.

[2019-10-22 04:10] yourh commented on #28275
Any one help?

[2019-10-22 05:04] rohan-varma opened #28410 "Move ProcessGroup C++ tests to use gtest"
## 🚀 Feature/Enhancement
These tests don't use gtest right now and instead throws `runtime_error`s when the tests fails, but it would probably be better for maintainability & testing if they used gtest. We should refactor these tests to use gtest.

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528

[2019-10-22 05:35] Suyash458 commented on #25883
@yf225 The `AlphaDropout` module doesn't have an `inplace` parameter. Do we plan to add that to the Python/C++ API? For now, I've extended `DropoutImplBase` and added a functional/module test

[2019-10-22 05:57] pietern commented on #16608
It is still flaky, see https://circleci.com/gh/pytorch/pytorch/3298238?

[2019-10-22 06:18] pietern commented on #25912
Fixed in #28376.

[2019-10-22 06:25] alsrgv opened #28411 "torch.jit.script and inheritance"
## 🐛 Bug

While trying to run [DeepLabV3+](https://github.com/pytorch/vision/blob/master/torchvision/models/segmentation/deeplabv3.py) model with TorchScript, I noticed that ASPPPooling operation was failing due to shape mismatch:

[code]

After further digging, it turned out that `torch.jit.script` seems to have issue with inheritance and ignores this instruction: https://github.com/pytorch/visio

[2019-10-22 06:36] alsrgv commented on #28411
Nevermind, saw the fix in #27549

[2019-10-22 06:36] #28411 closed

[2019-10-22 06:38] vikashranjan commented on #28357
I used the following to quantise input tensor
[code]
I now get the following error.

```RuntimeError: No function is registered for schema aten::empty.memory_format(int[] size, *, ScalarType? dtype=None, Layout? layout=None, Device? device=None, bool? pin_memory=None, MemoryFormat? memory_format=None) -> Tensor on tensor type QuantizedCPUTensorId; available functions are CPUTensorId, CUDATensorId,

[2019-10-22 07:08] pietern commented on #28278
I doubt we'll end up doing something like this. The sheer amount of configurables for a function like that (both at the beginning, and the new ones it will solicit) makes me think it'll always be easier and more flexible to write a function that does exactly what you want.

[2019-10-22 07:11] pietern commented on #28288
Thanks for reporting.

Do you know whether this is clang specific or libc++ specific? CI is fine and we do compile with clang there, so I wonder what triggers this.

[2019-10-22 07:14] pietern commented on #28286
@zou3519 Will you work on a fix for this?

[2019-10-22 07:23] pietern commented on #28313
Relevant discussion for making `torch.load` use default encoding `utf-8` in #26421.

You can still pass an `encoding` kwarg to `torch.load` to override it.

[2019-10-22 07:23] pietern commented on #28321
@tharindu-mathew Did updating the driver fix your issue?

[2019-10-22 07:26] tharindu-mathew commented on #28321
I'm unable to do that, right now. I downgraded to use cuda 10.  Closing the issue.

[2019-10-22 07:26] #28321 closed

[2019-10-22 07:32] pietern commented on #28329
The in place version would choose the src tensor if the condition is true and take an additional tensor of the same size as argument to choose from if the condition is false, I assume?

This seems like a reasonable additional.

[2019-10-22 07:34] pietern commented on #28320
The exact same command for installation works for me.

Can you confirm the sha1 of the file?

[code]

[2019-10-22 07:35] WilliamZhaoz opened #28414 "memory leaky when using torch.onnx.export()"
when I use:
torch.onnx.export()
to convert my pytorch model to onnx model,
I can monitor the memory is used up by the converting process.
and then the process is killed.
no any other logs, just killed.

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2019-10-22 07:38] pietern commented on #28336
Stable releases are cut from master and then continue to receive commits. This is why they are separate from the master lineage and why the tags for stable releases are not in the master history.

@soumith Can we remove this tag entirely?

[2019-10-22 07:40] pietern commented on #28340
@twoertwein Are you interested in submitting a fix for this?

[2019-10-22 07:40] jaychou790118 opened #28415 "randperm is only implemented for cpu when i train pytorch model.Who can solve it ,thx much."
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2019-10-22 07:44] pietern commented on #28345
@lutzroeder Do you happen to get more output during the crash, as to why it failed to start?

[2019-10-22 07:48] pietern commented on #16203
Take a look at the [contents of vgg16_from_caffe.pth](https://github.com/Wanger-SJTU/FCN-in-the-wild/blob/master/FCN/pretrain_model/vgg16_from_caffe.pth).

It's an HTML file for some Google Drive error...

[2019-10-22 07:48] #16203 closed

[2019-10-22 07:51] pietern commented on #28347
Thanks for the report. Does this always happen at `N=50`?

[2019-10-22 07:52] pietern commented on #28359
Duplicate of #21741.

[2019-10-22 07:52] #28359 closed

[2019-10-22 07:55] pietern commented on #28380
@LeonhardFeiner Are you interested in submitting a PR for this?

[2019-10-22 08:32] banshee1 opened #28416 "Caffe2: how can I get channels in some positions during ResNet"
I am doing a project with caffe2, python2. Now I have a problem and don't know what to do.

I am running ResNet50 with I3D.

Here is what I am trying to do:
    the feature map out from res2 is (2,256,16,64,64) with respect to (batch, channels, temp, width,height)
 I want to get the channels of one position to form a feature vector. For example, with coordinate (0,32,34), I need to get the channel

[2019-10-22 09:23] eellison commented on #18627
@driazati some of the builtins were marked finished that are not actually implemented: `all`, 'any', `sum`

[2019-10-22 09:26] johnmarkwayve opened #28417 "Patch: Fix for using `clang` to compile CUDA"
## 🐛 Patch (bug seemed the closest category I could choose)

If you write custom kernels using the libtorch API and use `clang` rather than `nvcc` to compile the CUDA code, you receive (at least) the following compilation error:

[code]

AFAICT, this is probably due to [clang's CUDA compilation model](http://llvm.org/docs/CompileCudaWithLLVM.html#compilation-models) possibly combined with differen

[2019-10-22 10:10] prasunanand commented on #28347
This also happens at `N=98, 103, 107, 196`. I can work on a fix.

[2019-10-22 10:55] talhakabakus commented on #21741
Any ideas when will the next release be released? @soumith

[2019-10-22 10:56] banshee1 commented on #28416
Is there anyone who can help me? plzzzz!

[2019-10-22 12:17] aa12356jm commented on #28404
me too

[2019-10-22 12:26] suo commented on #28351
Thanks for the report! cc'ing @eellison who has been working on Torchvision script compat—is this a known issue?

[2019-10-22 12:31] fmassa commented on #28351
I believe you need to use a nightly version of torchvision (and thus a nightly version of PyTorch) for resnet to be scriptable.

[2019-10-22 12:40] francoishernandez commented on #28197
Hey guys,

We also have some strange behaviors with [OpenNMT-py](https://github.com/OpenNMT/OpenNMT-py) when updating to pytorch 1.3.

Pytorch 1.2 - CUDA 10.2
The same inference command outputs exactly the same each time.

Pytorch 1.3 - CUDA 10.2
Running the same translate command several times does not give consistent output.
(Note: on CPU, inference runs are consistent.)

This is easily reproduc

[2019-10-22 12:43] suo commented on #28360
Thanks for the report! This looks like a serious bug in an optimization pass, I will investigate today.

[2019-10-22 12:53] suo commented on #28360
One of our peephole optimizations assumes Tensor `x` + scalar 0 can be replaced with just `x`. This is of course not true if there is a reference to `x` living anywhere in the graph (since the `add` operator will not create a copy as it should). I will put up a fix when I get a sec today, sorry for what I presume was an annoying bug.

[2019-10-22 13:06] eellison commented on #28351
Yes this was fixed in https://github.com/pytorch/vision/pull/1343

As @fmassa said, you need to be on torchvision nightly

[2019-10-22 13:06] #28351 closed

[2019-10-22 14:52] twoertwein commented on #28340
I can work on a fix :)

I just noticed that this might be a duplicate of issue https://github.com/pytorch/pytorch/issues/8104

To fix the issue, `load_state_dict` would need to get a list of all buffers (including None-buffers). If we make `named_buffers` aware of None buffers, they would also be saved in the `state_dict` which might not be a good idea, see https://github.com/pytorch/pytorch/issue

[2019-10-22 14:53] ElegantLin commented on #22676
Someone @s me. I always used conda to manage my Python environment. So if I met the problem that I could not uninstall it successfully, I would delete the environment and restart a new one. I hope this helps.

[2019-10-22 14:54] ahmedalbahnasawy commented on #19453
i had the same issue but i solved it by using
self.rnn.flatten_parameters()
inside the forward function.
i hope it work with you

[2019-10-22 15:02] xqding commented on #13811
Hello, any progress on adding von Mises-Fisher distribution for higher dimension? Thanks.

[2019-10-22 15:24] sagarpant1 commented on #28369
I am using Visual Studio 16 2019 Enterprise edition

[2019-10-22 15:25] alanhdu opened #28418 "[jit][script] torch.jit.script does not support nn.RNN"
## 🐛 Bug

`torch.jit.script` does not seem to support `nn.RNN`

## To Reproduce

Running

[code]

fails with

[code]

## Expected behavior

That you can successfully jit `nn.RNN` like you can with `nn.LSTM` and `nn.GRU`.

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or

[2019-10-22 16:13] julioasotodv opened #28423 "[ONNX] Export pack_padded_sequence and pad_packed_sequence doesn't respect padding_value"
## 🐛 Bug

It looks like a scripted module that contains `nn.utils.rnn.pack_padded_sequence` and `nn.utils.rnn.pad_packed_sequence` fails with a KeyError.

## To Reproduce

[code]

The following code raises the following in the export:

[code]

## Expected behavior

ONNX export working.

## Environment
 Pytorch 1.3.0, both in Mac and Linux (from conda's `pytorch` channel)

Tested with ONNX opsets 8

[2019-10-22 16:14] ezyang commented on #21743
@sadanand-singh Thanks, that sounds serious. Can you please open a new issue and cc me on it

[2019-10-22 16:17] raghuramank100 commented on #28357
We are working on adding support for torchvision classification models and PRs: https://github.com/pytorch/vision/pull/1471 and https://github.com/pytorch/vision/pull/1503 will add this support.

[2019-10-22 16:20] sadanand-singh commented on #28313
No, the issue is dill does NOT even take an argument of `encoding`. CCing @ezyang as he had opened the original #21743 issue.

[2019-10-22 16:21] sadanand-singh commented on #21743
Thanks @ezyang. I have opened a new issue #28313 and CCed you.

[2019-10-22 16:22] nmilosev commented on #28313
@ezyang please advise how to fix this, I would like to help

[2019-10-22 16:39] #27691 closed

[2019-10-22 16:39] izdeby commented on #27691
Fixed

[2019-10-22 16:59] zhaojuanmao commented on #27168
closing this, @ezyang helped added py35 tests to CI now

[2019-10-22 16:59] #27168 closed

[2019-10-22 17:03] ahmadsalim commented on #13811
@xqding I have a PR with some code in Pyro that you may reuse: https://github.com/pyro-ppl/pyro/pull/1745 . I had some issues with testing which I still have to resolve, but the distribution in the PR should work reasonably if you want to use it now 😄

[2019-10-22 17:15] suo commented on #28360
re-assigning to @Krovatkin as he is going to look into this

[2019-10-22 17:18] suo commented on #28418
Thanks for the report! afaik this should work—@wanchaol, @eellison, can you take a look?

[2019-10-22 17:34] ezyang commented on #28386
Yeah, there are a few reasons why I don't want to recommend @mcarilli use fallback boxed op here:
* It's a pointless slowdown for his use case. He doesn't actually need or want dispatch to go through the boxed path, but using the boxed fallback will go through a lot of pointless boxing, and call to JIT, and then unboxing to get back out again. (Also there's the really slow Operator lookup, althoug

[2019-10-22 17:38] #28010 closed

[2019-10-22 17:53] ngoldbaum opened #28430 "The docstring for torch.addcdiv can't be correct"
## 📚 Documentation

Currently the signature of `torch.addcdiv` is documented to be:

[code]

See e.g. https://pytorch.org/docs/stable/torch.html#torch.addcdiv

This can't be correct because it has positional arguments following keyword arguments, which is invalid in Python.

When I intentionally pass an invalid number of arguments, I get:

[code]

So I guess `value` *is* optional and it should be

[2019-10-22 18:06] jpellman commented on #24081
I think the best workaround will be to fix #10657 :)

[2019-10-22 18:21] ezyang commented on #26288
I think in the past when people have asked for this, we explicitly bound the backward functions for them; for example, convolution backwards can be called explicitly. I am not sure if there is a more generic way.

I am not sure exactly what you are asking, but if you want to know what implements `at::batch_norm`, the answer is simple: as there is no dispatch for it in `native_functions.yaml`, the

[2019-10-22 18:25] yaroslavvb commented on #28341
As another illustrating example, consider how structured representations could improve day-to-day PyTorch operations.

Use autograd to compute Frobenius norm of Hessian of a simple quadratic, using @apaszke's [hessian](https://gist.github.com/apaszke/226abdf867c4e9d6698bd198f3b45fb7) utility

[code]

The reason norm can be found in 0.48 ms is because the rank-4 Hessian tensor factorizes as `Tkilj=

[2019-10-22 18:27] vadimkantorov commented on #26288
Hmm, there is a dispatch entry `native_batch_norm` that references these functions, that’s how I found them. So I was worried what would happen if I add an out variant of that dispatch entry, what should be the c++ signature (if it is generated automatically).

[2019-10-22 18:35] xqding commented on #13811
@ahmadsalim Thanks. Does it work for high dimensional (> 5) von Mises-Fisher distribution? I read it a bit and it seems it only works on 3D. Or am I missing something?

[2019-10-22 18:51] z-a-f opened #28434 "Quantized concatenation returns `-inf` for zero input"
## 🐛 Bug

[code]

returns the values that have `-inf` as a result.

cc @ezyang @gchanan @zou3519 @jerryzh168 @jianyuh @dzhulgakov @raghuramank100

[2019-10-22 18:52] vadimkantorov commented on #26288
Is this dispatch entry relevant?

For now I’ll then just adjust c++ functions and will send a pr for forward method and we can discuss specifics in the PR

[2019-10-22 18:59] ahmadsalim commented on #13811
It only works with 3D currently. I have not been working on higher dimensional cases, but they probably can be based of the same distribution with slight modification 😄

[2019-10-22 19:00] ngoldbaum commented on #28430
addcmul has the same problem: https://pytorch.org/docs/stable/torch.html#torch.addcmul

[2019-10-22 19:02] phongnhhn92 commented on #28272
I am about to make the same issue.

[2019-10-22 19:02] soumith commented on #2125
`pip install torch` will fix this now. Sorry for the delay, root-causing it and issuing new binaries took time.

[2019-10-22 19:02] #2125 closed

[2019-10-22 19:08] ezyang commented on #28313
A cheap and cheerful fix is to pass utf-8 in, and if the call fails due to an argument error, retry again without that argument.

[2019-10-22 19:17] ezyang commented on #26288
Oh, but the out variant won't use those functions. Go look at the examples of out variants in the file: they all get separate bindings. You'll have to write similar bindings too.

As for what the C++ entry is, the rule is explained in native/README.md. Or you can just add the native function entry and then look at the header

Yes. There are plenty of examples in the file, take a look at them.

[2019-10-22 19:29] yf225 opened #28440 "Python/C++ API Parity: torch.optim optimizers"
Currently, `torch.optim` optimizers in PyTorch C++ API behave slightly differently from the Python API. In order to achieve parity, we should check the following aspects of an optimizer:

1. Make sure the C++ optimizer takes the same set of constructor arguments as the Python optimizer.
2. Make sure the C++ optimizer's constructor has the exact same logic as the Python optimizer's `__init__()` fun

[2019-10-22 19:37] yf225 commented on #27682
@T43113452 Could you share with us the `"model.bin"` file, for easier debugging?

[2019-10-22 19:38] vadimkantorov commented on #26288
Thanks for guidance :) I think I now understand, I’ll try to get it compile and will send a pr

[2019-10-22 19:56] bdusell commented on #28329
Correct, with the usual broadcasting semantics for the condition and second tensor. The function is basically a no-op for elements where the condition is true and a copy where the condition is false.

[2019-10-22 19:58] torabin opened #28441 "gradient of Dirichlet.log_prob gives nan"
## 🐛 Bug

Hi there, I am trying to apply backward/grad on the dirichlet.log-prob(x). The input(i.e x) is the output of a call to stick-breaking transform. However, grad output includes nan and -inf for the following x (note that x may not be precise since it comes from execution of my code)
x = tensor([1.7647e-01, 7.2429e-01, 1.1665e-39, 9.9239e-02]

It seems an overflow for log_prob happens since

[2019-10-22 19:59] himanshivitcc commented on #2125
I am facing the same issue:

Traceback (most recent call last):
  File "pytorch_fastai.py", line 221, in <module>
    ds_train = PyTorchDataset('data/testing_folder_1/training/', batch_size = 8)
  File "/anaconda3/lib/python3.7/site-packages/fastai/basic_train.py", line 200, in fit
    fit(epochs, self, metrics=self.metrics, callbacks=self.callbacks+callbacks)
  File "/anaconda3/lib/python3.7/site

[2019-10-22 20:21] EBJames opened #28444 "Problem installing from source on CentOS 6.5"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

I ran the following code:

1. conda create detectron2 python=3.7
2. conda activate detectron2
3. conda install numpy ninja pyyaml mkl mkl-include setuptools cmake cffi typing
4. git clone --recursive https://github.com/pytorch/pytorch
5. cd pytorch
6. export CMAKE_PREFIX_PATH=${CONDA_PREFIX:-"$(dirname $(which conda))/../"}
7. python set

[2019-10-22 20:25] albanD commented on #28370
## Identification of the current problem
So the problem is that `parallel_for` does not propagate thread local states into the thread pool it uses.
The problematic states here are the `GradMode::enabled` and wether or not to unwrap variables during dispatch.
Indeed, in the original function, we work with Tensors and GradMode is disabled. While in some of the worker threads, we now work with Variab

[2019-10-22 20:40] henribru opened #28457 "No type hints for `Tensor.T`"
## 🐛 Bug

There are no typehints for `Tensor.T`, so MyPy can't tell it exists.
## To Reproduce

Steps to reproduce the behavior:

1. Define `test.py` as:
[code]
1. Run `mypy test.py`:
[code]

## Expected behavior
The file should not give a type error.

## Environment

[code]
## Additional context

cc @ezyang

[2019-10-22 20:57] z-a-f commented on #28308
This is blocking #27939

[2019-10-22 21:01] #24588 closed

[2019-10-22 21:01] #24638 closed

[2019-10-22 21:05] #28365 closed

[2019-10-22 21:23] VitalyFedyunin commented on #24734
Completed by @andreaskoepf

[2019-10-22 21:23] #24734 closed

[2019-10-22 21:23] VitalyFedyunin commented on #24735
Completed by @andreaskoepf

[2019-10-22 21:23] #24735 closed

[2019-10-22 21:26] soumith commented on #28394
yes, you are not taking into account  the pytorch, cudnn, nccl GPU kernels being loaded into GPU memory in the former case(PyCuda doesn't have any kernels loaded).

[2019-10-22 21:26] #28394 closed

[2019-10-22 21:29] bwasti commented on #28386
How much of a slowdown?  Is this unavoidable & consequential?

Seems unrelated.

**I support the idea of registering an easy fallback.** However, since this proposal implies some implementation details, I'd like to also clarify that I believe this should be built on top of the current APIs first.  I think we should avoid adding yet another special set of IDs that are handled differently until we k

[2019-10-22 21:33] soumith commented on #21741
sometime in december

[2019-10-22 21:35] soumith commented on #28336
i have no idea how to fix this. if anyone has an idea I'm happy to run the relevant command

[2019-10-22 21:42] soumith commented on #2125
@himanshivitcc `pip install -U torch` will fix it

[2019-10-22 22:02] gchanan commented on #28370
This statement is a bit ambiguous to me.  By big feature, do you mean "a lot of work" or "an important feature"?

[2019-10-22 22:09] yurivict commented on #28336
Easy: just make a release from the master branch - problem solved.

[2019-10-22 22:16] gottbrath commented on #27618
Resolved in the doc changes as part of the release. no longer present in the doc.

[2019-10-22 22:16] #27618 closed

[2019-10-22 22:19] gottbrath commented on #27451
I still see the "same as" issue here.

<img width="1078" alt="Screen Shot 2019-10-22 at 3 18 23 PM" src="https://user-images.githubusercontent.com/45861273/67339052-41c7ac80-f4df-11e9-9dfd-579199ae41b4.png">

note that this is only on the nn.intrinsic version of these functions. About a page up there is a very similar function where it renders correctly.

[2019-10-22 22:27] albanD commented on #28370
@gchanan sorry, I meant "a lot of work". Updated above.
In particular, it would require for it to work and be sustainable to have a common way of using thread_local across the code base. Both to ensure that this actually works in all corner cases and that when new thread_local variables are added, this does not break.

[2019-10-22 22:35] gottbrath commented on #27450
I am still planning on fixing this .. low priority though.

[2019-10-22 22:37] gottbrath commented on #27433
done

[2019-10-22 22:37] #27433 closed

[2019-10-22 22:39] gottbrath commented on #27432
yea .. fixed.

[2019-10-22 22:39] #27432 closed

[2019-10-22 22:39] gottbrath commented on #27431
still looks good in the final doc. Closing.

[2019-10-22 22:39] #27431 closed

[2019-10-22 22:40] gottbrath commented on #27430
Yea, looks good in the final doc! Closing.

[2019-10-22 22:40] #27430 closed

[2019-10-22 22:42] gchanan commented on #28370
This analysis looks correct -- I'd file an issue about collecting the thread_locals across the code base to support that kind of thing.

[2019-10-22 22:44] dashesy commented on #20287
Just a note. All the [docs for cpp extensions](https://pytorch.org/tutorials/advanced/cpp_extension.html) still use `AT_ASSERTM` that is why many users (like me) hooked in using them.

[2019-10-22 22:44] gottbrath commented on #27430
The PR that fixed this specific issue was https://github.com/pytorch/pytorch/pull/27850

[2019-10-22 22:45] gottbrath commented on #27428
resolved. Confirmed in the stable doc.

[2019-10-22 22:45] #27428 closed

[2019-10-22 22:46] gottbrath commented on #26990
I re-reviewed the documentation. I think we still might want a little more color around this. What do you think @raghuramank100 ?

[2019-10-22 22:52] z-a-f opened #28471 "Split hypothesis tensor to generate different types"
## 🚀 Feature

Currently `test/hypothesis_utils.py:tensor` generates a tensor or a "quantized tensor". We might want create different strategies for per-channel, per-tensor, or non-quantized.

[2019-10-22 22:52] neginraoof commented on #28306
This PR will take care of case 2: https://github.com/pytorch/pytorch/pull/28470
But for cases 3 and 4, shape attribute of onnx random ops should be a constant, so current spec does not allow for exporting torch.rand(x.size())

[2019-10-22 22:53] dashesy opened #28472 "at::Tensor::data() is deprecated but no other way is suggested for cpp extensions"
## 🐛 Bug

Even the official [docs for cpp extensions](https://pytorch.org/tutorials/advanced/cpp_extension.html) use `gates.data<scalar_t>()` but I get deprecation warning.

## To Reproduce

## Expected behavior

Provide a non-deprecated way for cpp extensions. Similarly, no alternative to `AT_CHECK`/`AT_ASSERTM` nor `torch::jit::RegisterOperators()` is provided for cpp extensions.

## Environment

[2019-10-22 22:59] gottbrath commented on #26899
ok .. reviewing these issues again. this one still seems to be open. When i look at the docs on stable I see:
<img width="1002" alt="Screen Shot 2019-10-22 at 3 53 32 PM" src="https://user-images.githubusercontent.com/45861273/67341272-2612d500-f4e4-11e9-8ef3-0b8f44990841.png">

for the nn.instrinsic versions of these functions.

but for the QAT versions I see:

<img width="1091" alt="Screen Shot

[2019-10-22 23:06] gottbrath commented on #27938
Zafar, I think I see what to do for this. Do you mind if I take a stab?

[2019-10-22 23:07] gottbrath commented on #27938
also .. curious why the test that is supposed to measure doc coverage didn't catch this omission.

[2019-10-22 23:10] gottbrath commented on #26834
confirming this in the stable doc.

[2019-10-22 23:10] #26834 closed

[2019-10-22 23:11] gottbrath commented on #27295
this is done. Thanks to all the folks who worked on this list @dzhulgakov @z-a-f @raghuramank100 (and possibly others, I don't recall).

[2019-10-22 23:11] #27295 closed

[2019-10-22 23:13] gottbrath commented on #27296
this is done see the various functions in https://pytorch.org/docs/stable/tensors.html

[2019-10-22 23:13] #27296 closed

[2019-10-22 23:35] ljk53 commented on #28379
@lkhphuc do you want to try calling [model.cpu()](https://pytorch.org/docs/stable/nn.html#torch.nn.Module.cpu) before tracing and exporting your gpu-trained model?

[2019-10-22 23:36] markisus opened #28478 "How to train a torch::jit::script::Module?"
Existing documentation / tutorials show only how to train a `torch::nn::Module` https://pytorch.org/cppdocs/frontend.html#end-to-end-example

I have attempted to make a training loop in the following manner
[code]

but the loss never changes. I have also posted about this on the pytorch forums. https://discuss.pytorch.org/t/jit-module-parameters-are-not-updating-when-training/58945

cc @suo @yf225

[2019-10-22 23:55] ebarsoum commented on #28394
Thanks @soumith , I didn't expect that the delta is that large.

[2019-10-23 00:32] BIT-silence opened #28480 "Add Conv3dInt8 with Fbgemm backend"
## 🚀 Feature

Add Conv3dInt8 with Fbgemm backend.

## Motivation

Currently our quantized conv ops only support 2d conv. In order to support video understanding models, we have to add quantized version of 3d conv. In caffe2 we have the quantized 3d conv implementation with Fbgemm backend. So we can add the quantized Conv3dInt8 with Fbgemm backend here.

## Pitch

## Alternatives

## Additional con

[2019-10-23 01:26] xsacha commented on #15982
MKL-DNN is enabled in the Linux prebuilts/nightlies but not in the Windows one.
Is it easy to just switch it on or is there bugs in the Windows implementation right now?

[2019-10-23 01:37] thiyagu145 opened #28483 "Didn't find kernel to dispatch to for operator 'quantized::conv2d'"
## 🐛 Bug

model(x) failing for models with layers QuantizedConv2d and QuantizedReLU

## Error:
[code]
## Environment

PyTorch version: 1.3.0
Is debug build: No
CUDA used to build PyTorch: 10.1.243

OS: Ubuntu 18.04.2 LTS
GCC version: (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0
CMake version: version 3.10.2

Python version: 3.7
Is CUDA available: Yes
CUDA runtime version: 10.1.243
GPU models and configur

[2019-10-23 02:26] jinfagang opened #28486 "Pytorch DCN native support"
Since DCN make convolution networks gain a massive accuracy, it's that possible adding DCN inside pytorch natively?

Or does it already supported in somewhere in someway?

[2019-10-23 02:30] vikashranjan commented on #28357
Thanks, @raghuramank100

[2019-10-23 02:30] #28357 closed

[2019-10-23 02:56] vippeterhou commented on #28331
@lly-zero-one

[code]
The output as follows:
[code]

[code]
It's obvious that the latter has not quantization information, such as zero point, scale, etc.

Thanks.

[2019-10-23 03:52] xkszltl commented on #15982
ideep does not compile in vs since vs only support openmp2

Sent from my iPhone

[2019-10-23 03:55] myuanqing opened #28490 "How does execute() in MKL-DNN call functions 'jit_*'"
## ❓ Questions and Help

I am tracing the calling process of torch.nn.Conv2d.
Here, I am into the file third_party/ideep/mkl-dnn/src/cpu/cpu_engine.cpp.
![cpu_engine](https://user-images.githubusercontent.com/40328758/67356072-9de80a80-f58b-11e9-8967-9715fdfac630.png)
What confuses me is that what is the next step. It seems that convolution has something to do with jit_avx2, but I cannot figure ou

[2019-10-23 03:57] jamesr66a commented on #28331
It’s more likely that the special ‘__repr__’ functions are not saved, resulting in a different print out. Please check if scale and zero_point exist as attributes on the modules rather than relying on print

[2019-10-23 03:58] peterjc123 commented on #15982
Yes, but if it is not an essential component, then we can bypass it.

[2019-10-23 04:17] raghavsonavane commented on #28404
Currently, the support for modules is experimental and includes only Conv2d, Linear, ReLU, MaxPool2d. Details for which is given here: https://github.com/pytorch/pytorch/wiki/torch_quantization_design_proposal
That means, you need to either convert your native modules to supported modules or fuse onto these modules.

[2019-10-23 04:20] VCBE123 commented on #22107
How to get the new feature? Now My Pytorch version is 1.10.

[2019-10-23 04:24] dreiss opened #28491 "TorchScript gives a confusing error message for a protobuf as module attribute"
## 🐛 Bug

When using torch.jit.script with a module that has an attribute of type google.protobuf.pyext._message.RepeatedScalarContainer (where tuple or list is expected), it generates the error "module has no attribute '{attr_name}':", which is inaccurate.

## To Reproduce

Steps to reproduce the behavior:

https://nbviewer.jupyter.org/gist/dreiss/584fb8be601889d7d611c13b1e9bf96c

## Expected beh

[2019-10-23 05:25] shiyemin commented on #28472
I use .data_ptr to replace .data. There is no warning then. But i am not sure whether this is the suggedted api.

[2019-10-23 06:34] peterjc123 commented on #28369
I don't think clang is used here because the message style in the log is still the MSVC one. Anyway, you can update VS 2019 to a newer version, which may solve this problem.

[2019-10-23 06:36] peterjc123 commented on #28369
Modifying the variable CC and CXX is only available if you have ninja installed. Please try `pip install ninja` first and make sure you do `python setup.py install --cmake` to wipe out the cache file in CMake.

[2019-10-23 06:38] sevenguin commented on #24880
it's in torch/text, not torch/torch

[2019-10-23 07:19] meiluzhu opened #28495 "Adding timeout for work.wait()"
## 🚀 Feature
Set timeout for work handle wait(), for example,
        work = pg.recv_anysource([tensor], tag)
        work.wait(timeout = timedelta(minutes=30))

## Motivation
Sometimes, we hope work handle to wait in self-defined time threshold.

[2019-10-23 07:29] qAp commented on #27738
How do you update the Nvidia driver?  Is there a one-liner?  I'm on a GCP instance.

[2019-10-23 07:57] phongnhhn92 commented on #27738
I am using Ubuntu so it's very easy to change nvidia driver.
![image](https://user-images.githubusercontent.com/11288381/67370553-8a38a600-f583-11e9-9231-db949089c667.png)
According to this link, it seems like the current version of NVIDIA driver is 410.79. Right now I am using version 435 and it is working fine for me.

[2019-10-23 08:10] #28495 closed

[2019-10-23 08:11] peterjc123 commented on #15982
Well, I searched for the keyword `ideep` in the project. Looks like it is used in both ATen and Caffe2. We have to fix the Windows build for ideep first. However, it is not an easy task.

[2019-10-23 08:22] xkszltl commented on #15982
Just wondering who is maintaining ideep? I thought it's Intel...

Sent from my iPhone

[2019-10-23 08:38] aliutkus commented on #1552
well, as I mentioned above, I implemented a 1D linear implementation for pytorch already:
[https://github.com/aliutkus/torchinterp1d](https://github.com/aliutkus/torchinterp1d)

[2019-10-23 08:39] peterjc123 commented on #15982
@xkszltl Maybe intel is maintaining it. Well, it isn't that important. Actually, I tried to fix the repo gradually by replacing `__attribute__((visibility("default")))` with `__dllspec(dllexport)` and hiding unsupported OpenMP clauses, but then I'm blocked by the usage of the inline assembly code in that project.

[2019-10-23 08:53] sbaio opened #28496 "Unexpected behavior of nn.DataParallel by setting model by default to training mode"
## 🐛 Bug

Unexpected behavior of nn.DataParallel by setting model by default to training mode.

## To Reproduce

[code]

Output is
[code]

One would expect the training mode not to change, since wrapping a model in DataParallel does not mean setting it in training mode.

## Environment

PyTorch version: 1.2.0.dev20190715
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 18.04.1 L

[2019-10-23 09:07] sbaio commented on #28496
Had a discussion with @fmassa about this.

Actually we are not sure what the expected result might be, same thing could be said about CPU / CUDA.

if you do
model.cuda()
model.add(nn.Linear(..))

would you expect the linear to be on the CPU or on GPU?

Actually,

[code]
gives the output

[code]

So it's just the DataParallel module wrapper which is set to training mode True, and should not affect

[2019-10-23 09:07] #28496 closed

[2019-10-23 10:05] xzswater opened #28497 "Problem when installing pytorch 1.4 from source on Centos 6.3"
## 🐛 Bug

Problem when installing pytorch 1.4 from source on Centos 6.3

[402/3429] Building CXX object third_party/fbgemm/asmjit/CMakeFiles/asmjit.dir/src/asmjit/x86/x86features.cpp.o
[403/3429] Building CXX object third_party/fbgemm/asmjit/CMakeFiles/asmjit.dir/src/asmjit/core/ralocal.cpp.o
../third_party/fbgemm/third_party/asmjit/src/asmjit/core/ralocal.cpp:833:79: warning: unused parameter ‘co

[2019-10-23 10:09] Aspirinkb commented on #18318
Hi all, I read the official tutorial about quantization in '[(experimental) Static Quantization with Eager Mode in PyTorch](https://pytorch.org/tutorials/advanced/static_quantization_tutorial.html)'.  Now I try to run the code in this tutorial, but to find that there is no dataset and pre-trained model available. Any one would like to provide the address of the dataset and model file?
Thanks in ad

[2019-10-23 10:37] Wangweilai1 commented on #19453
THx, That's OK for me, but I found a problem, If me changed running device，the bug reappears. example: self.__model = torch.jit.load(model_path, map_location="cuda:0") changed self.__model = torch.jit.load(model_path, map_location="cuda:1").

[2019-10-23 10:40] huang229 opened #28498 "Libtorch calls CUDA and reports an error."
The calling code is as follows:
#include <torch/script.h>
torch::randn({ 3, 4 }, torch::dtype(torch::kFloat32).device(torch::kCUDA, 1).requires_grad(true));
The code runs here and reports an error：
  Device exchangeDevice(Device d) const override {
    return impl_->exchangeDevice(d);
  }
c10::Error，In memory location 0X000000400433F670
How can I solve this problem?

[2019-10-23 11:06] mbahri opened #28500 "Sparse tensor creation ignores indices placement"
## 🐛 Bug

Attempting to create a sparse tensor from a tensor of indices and values placed on another GPU than `cuda:0` (for instance `cuda:1`) fails with error `device of indices (0) must match device of values (1)`.

Placing the values on `cuda:0` while leaving the indices on `cuda:1` works and returns a sparse tensor on `cuda:0`.

The following demo should show the bug:
[code]

## To Reproduce

[2019-10-23 11:31] fmassa commented on #28403
We use GitHub issues to track bugs and feature requests.
Please redirect questions like this to the forums http://discuss.pytorch.org

[2019-10-23 11:31] #28403 closed

[2019-10-23 11:33] fmassa commented on #28275
Can you provide a minimal script reproducing the issue? Without further information it is very hard for us to try spotting where the problem might be.

[2019-10-23 11:34] fmassa commented on #28414
Can you write a minimal example reproducing the problem?

[2019-10-23 11:36] fmassa commented on #28415
`torch.randperm` is implemented in the GPU as well
[code]
Make sure you have a recent enough version of PyTorch, the available is present in PyTorch 1.2 and 1.3 at least

[2019-10-23 11:36] #28415 closed

[2019-10-23 11:39] fmassa commented on #28417
We should discuss in our meeting if we want to support compiling CUDA kernels with clang instead of `nvcc`.

[2019-10-23 11:49] fmassa commented on #28430
The docstring is actually (partially) correct.

The `value` is the second argument, but only in the case where the second argument is not a tensor.

[code]

This unfortunate behavior is legacy from Lua-Torch, where named arguments did not exist, so we needed to have a way to make a difference between different overloads of the function.

Changing this behavior is unfortunately a BC-breaking change

[2019-10-23 11:50] DaDaMrX opened #28502 "Boolean tensor transpose bug in 1.3.0"
## 🐛 Bug

There is problem when use a transpose a boolean tensor. It seems like that it hasn't been transposed.

## To Reproduce

[code]

I got

[code]

## Expected behavior

[code]

However, when I try an int tensor, it doesn't happen.

## Environment

pytorch 1.3.0

cc @ezyang @gchanan @zou3519 @jerryzh168 @izdeby

[2019-10-23 11:51] mbahri opened #28503 "Inconsistent behaviour in einsum with fp16"
## 🐛 Bug

torch.einsum seems to have inconsistent behavior with half-precision tensors, as illustrated in the snippet below (minimal non-working example):

[code]
As we can see in the example above, the results we get in fp16 can be significantly different from the fp32 (all the 0.000) but are also inconsistent for the same computation as highlighted in the comments.

## To Reproduce

**See snippe

[2019-10-23 11:58] fmassa commented on #28441
Can you add a full runnable example that reproduces the issue? `x_unconstrained` is not defined (I suppose it might be equal to `x`, but it's not 100% clear, given that the shapes do not match)

[2019-10-23 12:16] #23432 closed

[2019-10-23 12:28] yourh commented on #28275
@fmassa Here is a minimal script, thanks very much.

[code]

[2019-10-23 12:37] fmassa commented on #28444
Looks like the the compiler segfaulted during linking time.
Maybe you run out of memory during compilation?

[2019-10-23 12:40] fmassa commented on #28457
We would be happy to accept a PR fixing this

[2019-10-23 12:43] fmassa commented on #28486
Duplicate of https://github.com/pytorch/pytorch/issues/15864 and https://github.com/pytorch/pytorch/issues/2260

Let's add such a layer in torchvision

[2019-10-23 12:43] #28486 closed

[2019-10-23 12:45] fmassa commented on #28472
As @shiyemin mentioned, `.data_ptr<scalar_t>()` is the recommended approach now.
For `AT_CHECK`, use `TORCH_CHECK`.
For `torch::jit::RegisterOperators()`, use `torch::RegisterOperators()`

[2019-10-23 12:47] fmassa commented on #1303
What's the status of torch.sparse`? Should we be documenting it, or is it going to go away somehow?

[2019-10-23 12:49] fmassa commented on #1328
This is being worked on in https://github.com/pytorch/pytorch/pull/26776

[2019-10-23 12:52] fmassa commented on #1331
This can be achieved by passing a negative pad in `torch.nn.functional.pad`.

[2019-10-23 12:52] #1331 closed

[2019-10-23 12:55] henribru commented on #28457
I had a look but found the mix of manual and generated type hints a bit confusing. Is this a simple matter of adding it in the stub file or does the generation need to be changed?

[2019-10-23 13:28] albanD commented on #28498
Hi,

Please use the forum https://discuss.pytorch.org/ to ask for questions.

We keep github issues for known bugs or feature requests.

[2019-10-23 13:28] #28498 closed

[2019-10-23 13:42] albanD commented on #28502
Hi,

As a temporary workaround, you can use boolean:
`print(a.t() == False)` will work as expected.

We still have a problem as the two following print show the same thing:
[code]

[2019-10-23 13:46] fmassa commented on #28457
@t-vi might know better, I'm not sure of the details for the state of type hints in PyTorch

[2019-10-23 14:11] t-vi commented on #28457
I hope to not do know, but as a rule of thumb, only the things generated from `native_functions.yaml` are autogenerated. `.T` is defined manually `python_variable.cpp` below, so the hints would be manual, too.
https://github.com/pytorch/pytorch/blob/ee920b92c4d52c3481ce4fa1594893fde8ccdd93/torch/csrc/autograd/python_variable.cpp#L491

[2019-10-23 14:30] ezyang commented on #28386
I mean, in the very short term, it has an immediate impact for the usability of AMP. As long as boxed fallback doesn't support inplace operations, an AMP implementation that uses boxed fallback will choke if you call an inplace operation inside of the AMP-ified region. An AMP implementation that uses fallthrough as described in the proposal above will support all operations immediately out of the

[2019-10-23 14:37] zhangguanheng66 commented on #27972
I got the same warning for my transformer examples/tutorials.

[2019-10-23 14:38] ngoldbaum commented on #28430
Ah, thank you! That make more sense. It's definitely a little surprising for a Python module to behave that way.

I also noticed that ranint_like is also listed has having a positional argument (`high`) after a keyword argument (`low=0`): https://pytorch.org/docs/stable/torch.html#torch.randint_like.

For context, I'm going through the whole torch API right now to support work on `__torch_function

[2019-10-23 14:47] littlelittlemoon commented on #21061
yes, I have the same problem, and also the memory usage remaining high after I terninated PyTourch, did you have solved this problems?

[2019-10-23 14:58] vincentqb commented on #22107
It's in master: you need to compile from source for now.

[2019-10-23 15:40] zhangguanheng66 opened #28508 "Inconsistent results from `mask == 0`"
## 🐛 Bug

With the master branch or v.1.3, the results of masked_fill func are not correct. There may be some changes that I don't realize.

Because of this issue, my transform example is broken (https://github.com/pytorch/examples/issues/642).

## To Reproduce

Steps to reproduce the behavior:

1. Use the follow code to reproduce the error.
[code]

With PyTorch 1.3 or above, I have
[code]

## Exp

[2019-10-23 15:58] uyongw commented on #19092
Hi @VitalyFedyunin, we saw the named tensor was supported in PyTorch 1.3. Can that solve (or partially solve) the concerns on NHWC (or even blocked) format support? Is there any plan to move forward the NHWC state based on named tensor?

[2019-10-23 16:03] yf225 commented on #25883
@divyanshsinghvi Curious are you currently working on `InstanceNorm{1,2,3}d`, and is there anything I can do to help unblocking? Thanks!

[2019-10-23 16:12] VitalyFedyunin commented on #19092
We are moving ahead with channels last support, I will publish roadmap this week here and in slack channels. We are not considering adding blocked formats any time soon (as it will require rewriting ALL operators).

[2019-10-23 16:13] vpirogov commented on #28490
Here's [relevant discussion](https://github.com/intel/mkl-dnn/issues/576) on DNNL Github.

[2019-10-23 16:48] ezyang opened #28515 "Get rid of libc10.so"
I finally have a good reason to merge libc10.so into libtorch.so (and corresponding libc10_cuda.so into libtorch_cuda.so, etc.): I am trying to devirtualize access to AutogradMeta, but because TensorImpl lives in c10 and AutogradMeta lives in torch, I cannot do this as the destructor would have to cross a dynamic library boundary. By absorbing c10 into torch I will be able to do this.

Some danger

[2019-10-23 16:51] daquilnp commented on #28423
Hey,
I believe torch.jit.script will not work with pack_padded_sequence and pad_packed_sequence because these functions are not data-dependent. Based on the tutorial [Deploying a Seq2Sq model with TorchScript](https://tutorials.pytorch.kr/beginner/deploy_seq2seq_hybrid_frontend_tutorial.html) it looks like the encoder that uses pack_padded_sequence and pad_packed_sequence can be converted to Torch

[2019-10-23 17:00] uyongw commented on #19092
Thanks. That’ll be good!

[2019-10-23 17:05] #28331 closed

[2019-10-23 17:07] jamesr66a opened #28517 "[JIT] __repr__ support for ScriptModules"
It would be nice if we could preserve original module `__repr__`s while scripting. e.g.:

[code]

Prints

[code]

whereas it would be nice if it would print `foo 3` every time.

This has been confusing for users, e.g. https://github.com/pytorch/pytorch/issues/28331

[2019-10-23 17:08] jamesr66a commented on #28331
Closed in favor of https://github.com/pytorch/pytorch/issues/28517

[2019-10-23 17:08] torabin commented on #28441
Thanks @fmassa for looking into that. I updated the description, let me know if you still need more info.

[2019-10-23 17:13] jamesr66a commented on #28483
Hi @thiyagu145, the error message you've encountered says that you're trying to run the quantized Conv2d operator, but you're passing in an unquantized tensor.

Please take a look for where we use `QuantStub` in the [tutorial](https://pytorch.org/tutorials/advanced/static_quantization_tutorial.html#model-architecture) and [workflow documentation](https://pytorch.org/docs/stable/quantization.html#q

[2019-10-23 17:16] jamesr66a opened #28518 "[quantization] Dispatch key error message is confusing to users"
For example: https://github.com/pytorch/pytorch/issues/28483

User encounters the following inscrutable error message:

[code]

We should figure out a way to print a more friendly error message, such as:

[code]

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100

[2019-10-23 17:19] ezyang commented on #27215
I was reviewing our library structure and maybe one way to alleviate this problem is to actually split `libtorch.so` into `libtorch.so` and `libtorch_cuda.so`. I had thought we had this split, but actually we don't.

[2019-10-23 17:20] driazati opened #28519 "[jit] C++ Documentation"
Things like `script::Module` have no user facing documentation

[2019-10-23 17:36] albanD opened #28520 "Unified management of thread local variables"
We should add a centralized thread local handling (in c10).
This would have two main advantages:
- Make the code cleaner as all thread local elements can easily be identified and worked with.
- Allow improvement for example in `at::parallel_for` where it will be able to handle any Tensor operation within the loop.

(Setting high priority only to be discussed for triage)

cc @ezyang @gchanan @zou35

[2019-10-23 17:40] ezyang commented on #28515
One hiccup along the way: caffe2 perfkernels depends on c10/util/Half.h. It looks like it's fine if you don't explicitly track this dependency (and perfkernels already depend on caffe2 headers) but it's something to be aware of.

[2019-10-23 17:56] driazati opened #28522 "[jit] `nn.Transformer` not scriptable"
See https://discuss.pytorch.org/t/try-to-use-torchscript-on-torch-nn-transformer/58967 for details

[2019-10-23 17:57] #28522 closed

[2019-10-23 18:01] fritzo commented on #28441
As a quick workaround, you should be able to `x.clamp_(min=1e-8)` or similar.

[2019-10-23 18:01] yaroslavvb commented on #28503
I suspect this to be a driver issue, nvidia fp16 support for gaming cards tends to lag behind datacenter versions.

It seems to work as expected in Colab (which Tesla/K80)
https://colab.research.google.com/drive/1MMMRcJkvlrNFPQj1J4AktGuXjWe3vaj2#scrollTo=ZmyKW9pxwViQ

[2019-10-23 18:11] #27874 closed

[2019-10-23 18:18] driazati commented on #20356
Sorry for the delay, #25502 only implements the serialization from C++ that can be loaded in Python, the path from Python -> C++ is still a WIP in #25109 which is blocked on some bigger serialization changes (see #26567 for details).

As a workaround in the meantime you can use `Module`s as a container to move values between C++ and Python:
[code]

and load them in C++

[code]

[2019-10-23 18:23] amn5277 commented on #25883
hi there i am new to opensource and would love to contribute to pytorch can any body suggest on how can i  help

[2019-10-23 18:25] ezyang commented on #28389
cc @ilia-cher

[2019-10-23 18:26] #24869 closed

[2019-10-23 18:30] ezyang commented on #28515
This PR is the payoff of doing this: https://github.com/pytorch/pytorch/pull/28526

[2019-10-23 18:41] ezyang opened #28532 "TestTorch.test_c10_layer_norm fails if you run it on a build of PyTorch with BUILD_CAFFE2_OPS=0"
Failure:

[code]

[2019-10-23 18:56] cpuhrsch commented on #26957
@gkossakowski - were your issues resolved? I'm currently evaluating whether we need a wider support for more complex data pipelines via some set of new low-level abstractions.

[2019-10-23 19:27] mbahri commented on #28503
Hi Yaroslav

Thank you for your reply.

### Testing on a Tesla and a Quadro with consumer cards drivers

I tried on a Tesla V100 in our lab and got the following:
[code]
On a Quadro GV100 on the same machine:
[code]
The other GPUs on that server are older Titan Xp and the driver is a bit old (418.56) and I suppose it's a GeForce driver. CUDA is version 10.1.

So this means the problem arises on Qu

[2019-10-23 19:46] hi-ogawa commented on #28502
Not sure if it helps, but It seems that this generally happens when non-contiguous tensor (e.g. transposed tensor) is type-promoted (e.g. int32 to int64, float32 to float64), for example:

[code]

Also while digging into this, it looks like current type-promotion `maybe_promote_common_dtype` (which does `to(dtype)`) makes a contiguous tensor (so "strides" are different from original transposed ten

[2019-10-23 19:48] fehiepsi commented on #28441
@torabin I think the issue happens because your `x_unconstrained` takes a so small value `-8000`. Many transforms will give `nan` if we start with "bad" `x_unconstrained` (e.g. ExpTransform). How did you get `x_unconstrained=-8000`? If the initial steps of your inference are unstable, [clip_grad_norm](https://pytorch.org/docs/stable/nn.html#clip-grad-norm) can be helpful.

@neerajprad Increasing t

[2019-10-23 19:51] zhangguanheng66 commented on #28508
@zou3519 @izdeby any ideas?

[2019-10-23 19:59] mbahri commented on #28503
First I should take a second to indicate the CUDA version that was actually loaded in the previous tests, as installed by conda and as in the path on the machines, was probably 10.0 in spite of what nvidia-smi was showing.

Brand new installation of CUDA 10.1 and CUDNN 7.6. System python (3.6.8). GCC 8.3.0

### New virtualenv

`ubuntu@ip-172-31-40-147:~$ nvidia-smi
Wed Oct 23 19:33:33 2019
+------

[2019-10-23 20:06] mbahri commented on #28503
I've updated CUDA to 10.1 in the conda environment and now it's working as expected on a 2080 Ti.

My apologies for the unnecessary report.

[2019-10-23 20:15] mruberry opened #28537 "Scripting module with type annotations and torch.jit.ignore fails"
## 🐛 Bug

This bug was reported internally (https://fb.workplace.com/groups/329222650990087/permalink/513552499223767/).

Appears to be an issue with how we're scripting Modules with method and type annotations.

@suo, @zdevito

## To Reproduce

[code]
[code]

cc @ezyang @gchanan @zou3519 @jerryzh168 @suo

[2019-10-23 20:39] #28216 closed

[2019-10-23 21:00] driazati commented on #28537
This seems to be an issue with the Python frontend type parser, using a comment-style mypy type works correctly:
[code]

[2019-10-23 21:08] vincentqb commented on #27730
Fixed in #28026

[2019-10-23 21:08] #27730 closed

[2019-10-23 21:14] jph00 commented on #1552
Yes this is already included in the links in the above comment.

But it would be very helpful to have this functionality as part of PyTorch, rather than requiring an external dependency, that needs to be compiled and packaged for each target environment.

[2019-10-23 21:23] izdeby commented on #28508
I'm not sure what might it be. Looks like a regression. Would have to take a look to figure out

[2019-10-23 21:25] izdeby opened #28548 "Conversion to .bfloat16() makes require_grad False"
[code]
True

[code]
True

[code]
False

cc @ezyang @gchanan @zou3519 @jerryzh168 @SsnL @albanD @gqchen

[2019-10-23 21:26] vincentqb commented on #25549
Fixed with #25638

[2019-10-23 21:26] #25549 closed

[2019-10-23 21:27] zasdfgbnm opened #28549 "Expose DifferentiableGraphBackward to python"
## 🚀 Feature

Currently, there is no easy way of visualizing the graph generated by autodiff in jit. We want something that could do

[code]

## Additional context

In autograd, the `Node` for `grad_fn` of a JIT graph is defined as

[code]
in `torch/csrc/jit/graph_executor.cpp`

This class does not have python correspondence, therefore python only views it as a general `CppFunction`. We need to cr

[2019-10-23 21:30] snie2012 commented on #28537
@driazati Thanks for the tip, but it still gives me the following error:

[code]

Any suggestions?

[2019-10-23 21:31] soumith commented on #3059
fyi to everyone on this thread, Adam posted a working fix in https://github.com/pytorch/pytorch/pull/28536 and after a review it will be merged.
No more RTLD_GLOBAL after it's merged.

[2019-10-23 21:34] zhihanyang2022 commented on #21061
I'm not sure if what I'm going to say is related, but a similar error can be caused by typing this code `5 * torch.randn(50000, 1) - 5 * torch.randn(50000)`:

`[enforce fail at CPUAllocator.cpp:64] . DefaultCPUAllocator: can't allocate memory: you tried to allocate 10000000000 bytes. Error code 12 (Cannot allocate memory)`

The reason is that both vectors will be broadcasted as (50000, 50000). So,

[2019-10-23 21:36] ezyang opened #28550 "test_rand_quantization is flaky"
[code]

https://circleci.com/api/v1.1/project/github/pytorch/pytorch/3326220/output/105/0?file=true

cc @ezyang @gchanan @zou3519 @jerryzh168 @jianyuh @dzhulgakov @raghuramank100

[2019-10-23 21:39] sagarpant1 commented on #28369
Thanks a lot @peterjc123
I'll follow your resolution steps and get back to you with whatever the outcome is.

[2019-10-23 21:50] xush6528 opened #28552 "User could rendezvous twice, but it does not actually support it"
## 🐛 Bug

It should put some special key in the store to mark the rendezvous has reached, and the same store path could be not used for rendezvous again.

## To Reproduce

[code]

## Fix

Might need to use PrefixStore to supports versioning.

[2019-10-23 22:13] yf225 commented on #14277
This is related to https://github.com/pytorch/pytorch/issues/14573.

[2019-10-23 22:19] snie2012 commented on #28537
@driazati Never mind, figured it out. It's in my user code.

[2019-10-23 22:42] elbamos commented on #27627
@ezyang That's going to be a rather lengthy process.  Can you at least point me to commits that are useful starting places here?  I don't want to keep spending time, and tying up my machine for hours, just to test a commit like #20162 that doesn't appear to include any potentially relevant code, where we then don't learn anything from testing after compiling.  I'm happy to do it with some guidance

[2019-10-23 23:05] gchanan opened #28558 "We should suggest using as_strided_ instead of set_"
## 📚 Documentation

Here in the description of resize:
[code]
`as_strided_` has clearer semantics than `set_` (which can also change the storage, which isn't relevant for the situation in question.

[2019-10-23 23:18] driazati opened #28559 "[jit] Function attributes skipping other attributes"
[code]

outputs

[code]

Removing the `self.activation = ....` makes it work

cc @suo

[2019-10-23 23:29] vadimkantorov commented on #28090
as far as I understand, part of the question is semantics of view_as (does it take into account strides or not). and the accompanying question of treatment of -1 (whether C-contiguity of dimensions is enforced regardless of strides)

[2019-10-23 23:51] ailzhang commented on #28549
Note that the graph exposed here is not eager autograd but symbolic autodiff in JIT. But yea I think it's good to have if not much effort is necessary.

[2019-10-23 23:53] zasdfgbnm commented on #28549
@ailzhang Yes, I understand it is not eager autograd. I am looking at the performance on the backward pass with jit and feeling that this feature would be very helpful for debugging.

[2019-10-24 00:08] gavrielstate commented on #13807
@kwea123 The issue I had in May was fixed with https://github.com/pytorch/pytorch/pull/21861 - I believe that this made it into PyTorch 1.2. If you're seeing this you are either:
a) Using an older version
b) Hitting something new
c) Hitting a regression

I just looked at https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/DynamicLibrary.cpp which is where the Windows DLL loading code got

[2019-10-24 00:36] ailzhang commented on #28519
#28478

[2019-10-24 00:37] jamesr66a commented on #28550
NB this is caffe2

[2019-10-24 00:47] jerryzh168 commented on #23875
cc @z-a-f can you add this error message

[2019-10-24 00:49] jerryzh168 commented on #23986
is this casting from double to quint8? I don't think we will support that

[2019-10-24 00:51] ailzhang commented on #28490
This `jit_*` seems to be the MKLDNN functions so I agree that https://github.com/intel/mkl-dnn/issues/576 is a better place for discussion.
I'm going to close this issue for now, but feel free to reopen if I'm wrong.

[2019-10-24 00:51] #28490 closed

[2019-10-24 00:51] jerryzh168 commented on #28234
@z-a-f is this fixed now?

[2019-10-24 00:53] jerryzh168 commented on #28404
Yeah, please fuse batchnorm, see tutorial: https://pytorch.org/tutorials/advanced/static_quantization_tutorial.html

[2019-10-24 00:54] jerryzh168 commented on #28404
I'm going to close this for now, feel free to reopen if the issue persists

[2019-10-24 00:54] #28404 closed

[2019-10-24 01:02] z-a-f commented on #28518
On it!

[2019-10-24 01:17] ailzhang commented on #28491
Oh hmmm my guess is torch.jit.script didn't understand this type so it didn't copy it over. @driazati Do you know whether it's possible we give a better error message in this case?

[2019-10-24 01:52] xush6528 commented on #28302
#27943 and #28025 should close this? @mrshenli

[2019-10-24 01:54] lsrock1 commented on #25883
@yf225 Can i tackle ParameterList and ParameterDict?

[2019-10-24 01:57] soumith commented on #14727
this is fixed now with fixed binaries that are re-uploaded.

[2019-10-24 01:57] #14727 closed

[2019-10-24 01:58] kwea123 commented on #13807
Thank you. I was using pytorch 1.1.0. Will update to 1.2 to see what happens.

[2019-10-24 02:24] elepherai commented on #17714
@danFromTelAviv  Hi Dan, do you have any progress on this experiment? w/o nnpack.

[2019-10-24 04:37] #28302 closed

[2019-10-24 04:55] aliutkus commented on #1552
please note it's not, I linked here to an implementation of unstructured 1d linear interpolation, not to the searchsorted function (which is indeed a dependency)

[2019-10-24 05:01] jianyuh opened #28568 "Add intra-op parallel support for the dynamic linear operator"
## 🚀 Feature
We would like to enable the intra-op parallel support for the dynamic linear operator.

## Motivation
 For the latency bounded application (e.g, neural machine translation) which is running on servers with lower CPU utilization, this can bring some benefits without too much loss on the throughput.

## Pitch

https://github.com/pytorch/pytorch/pull/28477

[2019-10-24 05:16] ayush-1506 commented on #28033
Ping @ezyang @zou3519

[2019-10-24 06:24] danFromTelAviv commented on #17714
@elepherai no. i never got it to run faster unfortunately.
i did 2 alternative things.

the first is i create a library of basic operations in cython. i haven't really been maintaining it but its a good starting point to show you how and what. i actually did create a working stacked qrnn network but it's proprietary and i can't share it.

the second thing i did was ask keras to create an np backen

[2019-10-24 06:41] kHarshit opened #28571 "Unexpected behaviour of torch.BoolTensor on `not` operator"
## 🐛 Bug

## To Reproduce

If I create a nxn `BoolTensor` using the following method:

[code]

On using the `~` (NOT) operator, it fails on `True` values:

**Case 1;** mask contains only False -> works fine
[code]

**Case 2:** mask contains only True -> fails

[code]

**Case 3:** mask contains both True and False -> falis
[code]

**Note:** It works fine when I explicitly give values to BoolTensor:

[2019-10-24 06:42] divyanshsinghvi commented on #25883
@yf225 yes I am working on the issue. I was trying to understand the structure of the code. I will get back to you with my initial draft in a 2-3 days. Will it be fine?

[2019-10-24 06:54] rudvlf0413 commented on #28272
I have a same issue...

[2019-10-24 07:07] KoalaSheep commented on #27738
Sorry for bothering you, but I still meet the problem after reinstall pytorch 1.3.0.

my env is:
nvidia Driver Version: 418.87.00
Cuda :                        V10.1.243
cuDNN :                     7.6.3
os :                             Ubuntu 18.04.2 LTS

When use the official way:  'conda install pytorch torchvision cudatoolkit=10.1 -c pytorch'

pkgs/main/linux-64::cudatoolkit-10.1.168-0 will be

[2019-10-24 07:11] lutzroeder commented on #28345
@pietern There is no other output. No error with the workaround @kgodara suggested. Repros reliably on macOS Catalina.

[2019-10-24 07:27] elepherai commented on #17714
@danFromTelAviv ok, thank you for sharing your alternative scenarios.

[2019-10-24 07:54] t-vi commented on #17714
From what I can see, building with NNPack and QNNPack works out of the box on both raspbian and arm64 (Raspbian 64 bit kernel + Debian arm64).
So I think it might be time to close the bug. (And maybe have a new more specific one for other things.)

[2019-10-24 08:10] xiaoLiuxiaoLiuxiaoLiu opened #28572 "About Save Files(.pt) and Reload Inference Accuracy"
## 🐛 Bug

There is a problem happened on my case at Libtorch1.1.0
Training and Directly Inference get a normal and correct result, however, Training-Save and Load-Inference get a innormal and competely wrong result.
Any HELP?

Here is my flow path of my code, Step 6 outputs are same but Step 7 not and competely different:

## To Reproduce

Steps to reproduce the behavior:
1. Model Initialization
2

[2019-10-24 08:12] t-vi commented on #20856
So given that this didn't see any response and we now have PyTorch mobile with an [official instructions page](https://pytorch.org/mobile/android/#building-pytorch-android-from-source), I'm closing the issue.
If the instructions linked above, please do reopen.

[2019-10-24 08:12] #20856 closed

[2019-10-24 08:22] tiankai opened #28573 "import torch failed."
## ❓ import torch failed after I installed PyTorch via pip3 install torch===1.3.0 torchvision===0.4.1 -f https://download.pytorch.org/whl/torch_stable.html

### Below is my local progress.

C:\Users\t****k>pip3 install torch===1.3.0 torchvision===0.4.1 -f https://download.pytorch.org/whl/torch_stable.html
Looking in links: https://download.pytorch.org/whl/torch_stable.html
Collecting torch===1.3.0

[2019-10-24 08:23] jjsjann123 commented on #25387
Current prototype to demonstrate the implementation: https://github.com/jjsjann123/pytorch/pull/1/files

I'll update the draft proposal. Overall technique used for auto-casting is about the same. Post optimization to cancel out neighboring casting across blocks are not implemented yet.

Meanwhile, updated the exposure to end user.

[code]

In the example here, context manager enables auto-casting

[2019-10-24 08:23] elepherai opened #28574 "Segmentation Fault when assign tensor on Raspberry Pi"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Build pytorch 1.1.0 from source on Raspberry Pi 3B+
2. Run the code bellow and get segmentatioin fault error in the last line

[code]

## Expected behavior

Run successfully.

## Environment

PyTorch version: 1.1.0
Is debug build: No
CUDA used to build PyTorch: None

OS: Raspbian GNU/Linux 10 (buster)
GCC version: (Raspbian 8.3.0-6+rp

[2019-10-24 08:39] tiankai commented on #28573
I'm so sorry for that the problem was caused by my mistake choose options when I try to install via a url proposed by official site docs.
I forgot my local machine has no graphic device on it. So I should select '**CUDA => None**'
### Now it worked!

[2019-10-24 08:39] #28573 closed

[2019-10-24 08:51] davzha opened #28575 "PoissonNLLLoss does not compute the value documented"
## 🐛 Bug
When the forward pass of torch.nn.PoissonNLLLoss does not compute the same value as described in the documentation.

## To Reproduce

Steps to reproduce the behavior:

[code]

2.2944302994414967 2.2777856082516754 -2.4930615425109863
## Environment

pytorch 1.3.0

[2019-10-24 08:56] jaychou790118 commented on #28415
Thx bro.

| |
13032926926
|
|
邮箱13032926926@163.com
|

Signature is customized by Netease Mail Master

On 10/23/2019 19:37, Francisco Massa wrote:

Closed #28415.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-10-24 09:42] prasunanand opened #28576 "torch.mm seems to be broken. It doesn't enforce the dimensionality of out tensor"
## 🐛

`torch.mm` seems to be broken. It doesn't enforce the dimensionality of out tensor. Is it okay to allow resizing for out Tensors for Torch APIs ?

## To Reproduce

Steps to reproduce the behavior:

[code]

### Output
[code]
## Additional context

https://github.com/pytorch/pytorch/issues/28347

cc: @rgommers

cc @ezyang @gchanan @zou3519 @jerryzh168

[2019-10-24 10:39] henribru opened #28577 "`Tensor.__reversed__` breaks protocol for reversible objects"
## 🐛 Bug

The `__reversed__` method of `Tensor` (https://github.com/pytorch/pytorch/blob/master/torch/tensor.py#L292) does not follow the protocol specified in https://docs.python.org/3/reference/datamodel.html#object.__reversed__. It should return an iterator that iterates in reverse, not a reversed `Tensor`.
## To Reproduce

## Expected behavior

## Environment
[code]
## Additional context

[2019-10-24 11:02] dniku commented on #2793
One could also use `torch.where`, similar to the way suggested in [this thread](https://discuss.pytorch.org/t/how-to-threshold-each-channel-in-a-tensor-selectively/43612).

[2019-10-24 11:11] henribru commented on #28457
^ I made a PR for this.

[2019-10-24 11:39] rilesdg3 opened #28579 "caffe2-pytorch/caffe2/onnx/helper.h:13:9: error: ‘::ONNX_NAMESPACE’ has not been declared"
I am using caffe2 version .8 c++ api and ONNX version 1.6 on Ubuntu 16 and I am trying to convert a .onnx model to caffe2

I have tried including all sorts of headers files from ONNX but that did not seem to work.
I changed ::ONNX_NAMESPACE:: to ::onnx_c2:: and that seemed to fix this issue but then it brought up another issue of incompatible ir.version

thank you

cc @houseroad @spandantiwari @la

[2019-10-24 11:43] t-vi commented on #28457
@henribru Francisco already beat me to approving and is landing your PRs, but let me say: thank you!

As a nit: Note that the top message of the PR will be the commit message, so cross-referencing unrelated PRs will be recorded for eternity. (Not that I always get the commit messages as good as I want them.)

[2019-10-24 12:53] ptrblck commented on #27738
@KoalaSheep Your local CUDA (and cudnn) installations won't be used, as the PyTorch binaries ship with their own CUDA, cudnn and other libs.

Could you create a new conda environment and reinstall the latest PyTorch version, please?
Let us know, if you still face this issue.

[2019-10-24 13:03] pietern commented on #28336
OK, turns out this is not as easy as removing a tag. Earlier PyTorch versions were all tagged off of master without cutting a release branch. This means we can remove `v1.0rc0` but then `git describe --tags` will return `v0.1.11`.

We can do a few different things (elaborating for posterity):
* Nothing. It's not the end of the world if this is not accurate.
* Add a new empty commit on top of all p

[2019-10-24 13:06] albanD commented on #28549
FYI: you can find [here](https://github.com/pytorch/pytorch/blob/master/torch/csrc/autograd/functions/init.cpp) an example of how to create a custom Node with additional available field.

[2019-10-24 13:14] fedor-chervinskii commented on #28345
Same here, different example, but also fails the first iteration of Dataloader, with exactly the same output, OSX 10.14.5. `num_workers=0` solves the problem

[2019-10-24 13:15] albanD commented on #28571
Hi,

This is expected behavior. Constructors with capital letters give you uninitialized memory. So The content could be anything.
In some sense, not unknown is also .

[2019-10-24 13:16] #28571 closed

[2019-10-24 13:24] pietern commented on #27168
@zhaojuanmao Can you point to the commit/PR that added py35 to CI?

[2019-10-24 13:25] pietern commented on #28329
Are you interested in submitting a PR for this?

[2019-10-24 13:26] pietern commented on #28313
(removing triaged label to make sure it is discussed in triage review)

[2019-10-24 13:38] pietern commented on #28340
Looking at the issue you link and discussion in linked issue, this turns out to be trickier than I expected...

You could opt to simply pass `strict=False` to `load_state_dict` and call it a day.

[2019-10-24 13:39] danFromTelAviv commented on #17714
@t-vi
In theory it did build with nnpack. In practice it wasn't any faster than building without nnpack. This is strange since other libraries were faster with nnpack bindings.
I left my previous job where this was relevant for me but I really do think it's worth investigating farther. The speed doesn't add up.

[2019-10-24 13:39] #17714 closed

[2019-10-24 13:39] heiner commented on #18283
Hey @yf225: I start to suspect this is an issue relating to some kind of binary incompatibility. Have you tried reproducing the steps above on a MacBook after installing Pytorch via `pip install torch`?

[2019-10-24 13:43] pietern commented on #13273
@sermakarevich An error calling `_queue_reduction` means you're not using `DistributedDataParallel` from PyTorch 1.2 or 1.3. This sounds like either an issue with Apex, or a misconfiguration. Please open a new issue if this is indeed a problem.

[2019-10-24 13:55] pietern commented on #22049
@xf3227 Did you try the fix that the error message suggests (`find_unused_parameters=True`)?

If you freeze a subset of parameters, there is currently no way for DDP to know if the same set is frozen across all processes. Therefore, the parameters that don't receive gradients will be made to contribute zeroes, and the reduction is executed as expected. If the parameters are frozen on all processes

[2019-10-24 13:58] heiner commented on #18283
Notice that I was wrong here but nobody paid enough attention to correct this. `c10::Error` is in fact a `public std::exception`. But when using PyTorch via the pre-built wheel on MacOS one cannot catch these errors with `catch (const std::exception &e)`. However non-portable code like this

[code]

will give a hint to what the actual problem was.

This is another incidence of a weird bug showing

[2019-10-24 14:05] t-vi commented on #17714
I know that there there are people interested in benchmarking and they'd appreciate any reasonably concrete hints. My usual method is to build a small C++ extension wrapping the would-be faster function and run it.
So one thing that surfaced is that we currently don't use the inference part.

[2019-10-24 14:33] vadimkantorov commented on #28090
e.g. currently: `(a_ == a_.reshape(...).reshape_as(a_)).all() == True`. If reshape is smartened without smartening reshape_as, this invariant will break

[2019-10-24 14:35] twoertwein commented on #28340
I currently use `strict=False` to avoid the error message and then load the unexpected keys myself. It works, but it feels like there should be a more elegant solution, after all the None-buffer was registered. I'm closing this issue in favour of https://github.com/pytorch/pytorch/issues/8104.

[2019-10-24 14:35] #28340 closed

[2019-10-24 14:53] albanD commented on #28090
Ho your point was about `view_as`. Yes it is currently just a shortcut for view:  `b.view_as(a) == b.view(a.size())`.
More generally, the `*_as()` functions always ignore strides.

The related attempt that exist is the new memory format system that more and more functions support and that is preserved by some operations.

And I'm going to go back on what I said: In your case, the reshape here cann

[2019-10-24 14:59] lanpa commented on #28206
addressed here already: https://github.com/lanpa/tensorboardX/issues/520

Once JIT team supports this, it's easy to visualize it.

[2019-10-24 15:04] vadimkantorov commented on #28090
I think we are saying the same thing: existing reshape / reshape_as have semantics that does not use strides. If one uses strides to be smart and avoid realloc, semantics are different (so maybe a new name or at least kwarg would be needed).

In practice I stumbled upon this in https://github.com/pytorch/pytorch/pull/27621/files#diff-7541a840cb6478a343d371533cd95a7aL678 that does reshape in order

[2019-10-24 15:04] CodingMyLife opened #28583 "EXTENDING PYTORCH::Extending torch.autograd have something wrong with output dimension setting to 1"
## 📚 Documentation
[https://pytorch.org/docs/stable/notes/extending.html](url)
following this tutorial, when i change this code:
`from torch.autograd import gradcheck
input = (torch.randn(20,20,dtype=torch.double,requires_grad=True), torch.randn(30,20,dtype=torch.double,requires_grad=True))
test = gradcheck(linear, input, eps=1e-6, atol=1e-4)
print(test)`
to
`from torch.autograd import gradcheck
i

[2019-10-24 15:11] CodingMyLife commented on #28583
enviroment:: pytorch 1.2.x

[2019-10-24 15:21] zhangguanheng66 commented on #28508
High priority because it broke nn.Transformer examples and tutorial. Better to fix it soon.

[2019-10-24 15:23] albanD commented on #28508
Hi,

I think this is not due to masked_fill but some error in type promotion, see https://github.com/pytorch/pytorch/issues/28502

Could you try the same code with `mask == False` instead of `mask == 0` ? Does that solve the issue?

[2019-10-24 15:24] zhangguanheng66 commented on #28503
Please re-open the issue if you still have a problem.

[2019-10-24 15:24] #28503 closed

[2019-10-24 15:28] zhangguanheng66 commented on #28548
Mark as high priority because of the unexpected behavior of bfloat16()

[2019-10-24 15:30] jramapuram opened #28594 "[BUG] Can't Deepcopy module with weightnorm"
## 🐛 Bug

A module with `weight_norm` applied cannot be deep copied.

## To Reproduce

Steps to reproduce the behavior:

Example:

[code]

Result:

[code]

## Expected behavior

Proper deepcopy of nn.Module

## Environment

PyTorch version: 1.3.0
Is debug build: No
CUDA used to build PyTorch: None

OS: Mac OSX 10.15
GCC version: Could not collect
CMake version: version 3.15.2

Python version: 3.7

[2019-10-24 15:37] ezyang commented on #28336
Because we cut release branches, there will never be an accurate release signifier. I suggest (3). When we rev version numbers on master, we should also add a tag like `v1.4.0.dev0` just saying when development on 1.4.0 started. This will give you accurate info to correlate with nightlies, which is what I think the issue author here actually cares about

[2019-10-24 15:40] zhangguanheng66 commented on #28508
Yes. I had a similar thought. Switching to `mask == False` gives me consistent results.

[2019-10-24 15:48] zhangguanheng66 commented on #28572
Mark as high priority because of the inconsistent behaviors of `torch.load()` and `torch.save()`.

[2019-10-24 15:49] jotaf98 commented on #22577
I have the same problem, even worse (120x slowdown):

[code]

Using float64 somewhat improves the *relative* slowdown, but of course is very slow in absolute terms -- so I would say the "has workaround" label is a bit optimistic...

[code]

[2019-10-24 15:51] zhangguanheng66 commented on #28572
@xiaoLiuxiaoLiuxiaoLiu Please provide us a script to reproduce the bug.

[2019-10-24 15:53] zhangguanheng66 commented on #28574
Try to use v.1.3 or the master branch.
Feel free to re-open the issue if you still have a question.

[2019-10-24 15:55] zhangguanheng66 commented on #28575
able to reproduce the error.

[2019-10-24 15:57] jph00 commented on #1552
Ah yes sorry for the mix up!

[2019-10-24 15:58] zhangguanheng66 commented on #28583
Have you tried with pytorch 1.3 and above?

[2019-10-24 16:01] zhangguanheng66 commented on #28594
you should remove `nn.utils.weight_norm` there. The error message says everything.

[2019-10-24 16:06] zxydi1992 opened #28598 "masked_scatter change elements even the the self and source tensor are of same values"
## 🐛 Bug

Tensor.masked_scatter() change elements even the the self and source tensor are of same values

## To Reproduce

Steps to reproduce the behavior:

1. run the script below:
#!/usr/bin/env python
import torch
import numpy as np

t1 = torch.rand(16, 100)
t2 = t1.clone()

m = np.zeros((1, 100), dtype=np.int64)
m[0, :10] = 1
m = torch.tensor(m, dtype=torch.bool)

print(t1)

print(t2)

print(t

[2019-10-24 16:07] jramapuram commented on #28594
Not really sure this is a solution. I think `weight_norm` should be deep-copyable since deepcopy of a module is a simple and elegant solution to exact copy duplication.

In fact the error message (in a complicated project) does not provide any information that weight_norm is the problem:

[code]

[2019-10-24 16:07] zhangguanheng66 commented on #28576
Mark as high priority. It's supposed to work.

[2019-10-24 16:10] albanD commented on #28508
I'll close this in favor of the original issue then.
Thanks for the report !

[2019-10-24 16:11] albanD commented on #28502
As discussed in other reports, this breaks potentially a lot of code, including our own examples.
cc @gchanan

[2019-10-24 16:13] gchanan commented on #28245
@smessmer I believe you are supposed to put at least one module on an issue before marking it as triaged.

[2019-10-24 16:13] zhangguanheng66 commented on #28508
I want to keep it open for now since it's high priority issue. Both transformer tutorial and examples are affected.

[2019-10-24 16:14] zhangguanheng66 commented on #28598
I have a feeling that it could be a promotion issue. Similar issue https://github.com/pytorch/pytorch/issues/28508
https://github.com/pytorch/pytorch/issues/28502

[2019-10-24 16:15] zhangguanheng66 commented on #28502
@gchanan I think it is definitely a very high priority issue. It would be great if we could fix it soon.

[2019-10-24 16:16] albanD commented on #28508
Sure, could you just rename it to state that the issue is with the `mask == 0` line and has nothing to do with the masked_fill function?

[2019-10-24 16:17] zhangguanheng66 commented on #28594
So you do need a nn module with exactly same weights?

[2019-10-24 16:22] jramapuram commented on #28594
Yes, consider a situation of sequential generative replay: one model replays data to a new model at a new task. At this boundary the original model is copied and having to remove weight_norm to deepcopy is potentially error prone. I'm sure there are other use cases as well, but this is what I am currently doing.

[2019-10-24 16:23] nairbv commented on #28502
I just verified that this will be fixed by: https://github.com/pytorch/pytorch/pull/28253

[2019-10-24 16:29] gchanan commented on #28347
The description of the issue isn't quite right.

This happens when the computed number of elements of the output doesn't match the number of elements of the input.  In the cases you found, that happens because floating point math isn't exact.

Try it in python3:
[code]

The behavior for `arange(..., out=)` is to resize the input to the computed shape (which is always 1-dimensional) when the number

[2019-10-24 16:29] gchanan commented on #28347
Also, at a minimum, we should document the behavior of arange -- it behaves differently than other functions but isn't documented as such.

[2019-10-24 16:38] zasdfgbnm commented on #28549
@albanD Thanks!

[2019-10-24 17:02] anandhperumal opened #28600 "Cuda check"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. model.to(device) or nn.DataParallel(model) moves the model to the GPU but is there a way to check if the particular device is already in use by any other process.
The actual problem is when some else is training something on the server I don't want my program to disturb their process and my program to fail so that I can allocate some

[2019-10-24 17:19] gchanan commented on #28347
A short term improvement would be to warn if the output tensor has more than 0 elements but not the correct number of elements.

[2019-10-24 17:30] albanD commented on #28600
Hi,

We use github issue for bug report only. Please use the forum https://discuss.pytorch.org/ to ask questions.

[2019-10-24 17:30] #28600 closed

[2019-10-24 18:05] leopd commented on #28347
Yeah, the curse of being friendly is the surprises when the system is helpful in unexpected ways.  It's always a trade-off.

A warning certainly would have saved me a chunk of debugging.  But IMHO a hard error on re-size makes sense, because when I supply something to out= I expect the same thing to come back more or less.  But y'all know much better than I do how to make it consistent with the re

[2019-10-24 18:06] leopd commented on #28347
(Sorry didn't mean to close - mouse slipped.)

[2019-10-24 18:07] driazati commented on #28491
This should be fixed on master
[code]

outputs this (which could use some more detail but is accurate)

[code]

[2019-10-24 18:13] albanD commented on #28090
Is the following what you want?

[code]

The problem with this approach is that you need to make sure that the intermediary function does not do any copy otherwise the result won't be correct.
I can't really thing of an api that would allow users to do this "safely". Do you have a proposition?

[2019-10-24 18:20] csvoss commented on #16574
Hiya @ezyang! I want to contribute towards this feature.

I've read [CONTRIBUTING.md](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md) and [contribution_guide.rst](https://github.com/pytorch/pytorch/blob/master/docs/source/community/contribution_guide.rst).

Some questions for context on this particular issue – my read of the progress made in https://github.com/pytorch/pytorch/pull/

[2019-10-24 18:24] dashesy opened #28607 "[ONNX] Invalid model is exported (input without type information)"
## 🐛 Bug

Exported model does not keep input data type, resulting in this error:

## To Reproduce

[code]

Now run

[code]

Also:

`opset_version=9` has the same error, but it uses `dynamic_slice` instead of slice

## Expected behavior

Input to have correct type

## Environment

PyTorch version: 1.3.0

[2019-10-24 18:27] ailzhang commented on #28549
cc: @zdevito as well to see whether this fits the plan.

[2019-10-24 18:37] dreiss commented on #28491
Awesome!

[2019-10-24 18:37] #28491 closed

[2019-10-24 18:42] dashesy opened #28611 "[ONNX] incorrect export of opset10 slice with dynamic_axis"
## 🐛 Bug

When using `dynamic_axes` the `slice` operator (since opset10) always should use `shape` information instead of fixed constants. Currently fixed sizes are used and the only workaround is to use jit.

## To Reproduce

[code]

Results in this fixed slice, even though dynamic_axes is used:

![FixedSliceOpset10](https://user-images.githubusercontent.com/873905/67514509-b4589980-f651-11e9-9df

[2019-10-24 18:44] prasunanand commented on #28347
I am working on a PR.

[2019-10-24 18:46] prasunanand commented on #28576
I am working on a PR. Other APIs that allow resize as well should give a hard error on resize.

[2019-10-24 18:48] csvoss commented on #16574
It also seems that we're deprioritizing this until Python 2 goes away, but if it's all the same to folks, I'd be interested in doing the work anyways (even if that means adding annotations to Python 2-related code that is soon-to-be-removed.)

[2019-10-24 18:53] gchanan commented on #28347
@prasunanand I laid out a number of options -- which are you taking?

[2019-10-24 18:57] prasunanand commented on #28347
I would like to go with "Give a hard error on resize."

[2019-10-24 18:59] gchanan commented on #28572
actually, I'm just going to kill high priority, there's no information to go off of here.

[2019-10-24 19:11] zhangguanheng66 commented on #28572
If we can reproduce the error with @xiaoLiuxiaoLiuxiaoLiu 's help, it could be a high priority issue.

[2019-10-24 19:18] gchanan commented on #15070
why is this not triaged?

[2019-10-24 19:26] neginraoof commented on #28611
@dashesy the fix for this was merged yesterday. I just tried your code snippet and I get the dynamic model exported. Are building the latest master?

[2019-10-24 19:27] CodingMyLife commented on #28583
@zhangguanheng66 thanks for your reply..there is nothing about the version..But at:
`class LinearFunction(torch.autograd.Function) `
at: `@backwards` function.
change
`if bias is not None and ctx.needs_input_grad[2]:
            grad_bias = grad_output.sum(0).squeeze(0)`
to
`if bias is not None and ctx.needs_input_grad[2]:
            grad_bias = grad_output.sum(0).unsqueeze(0)`
or to
`if bias is

[2019-10-24 19:28] dashesy commented on #28611
@neginraoof Thanks! I will try the nightly. So no need for `jit` workaround any more?

[2019-10-24 19:30] xf3227 commented on #22049
@pietern Thank you for pointing that out. I guess I somehow misstate my idea. What I was trying doing was not to `detach` anything on the fly. After calling `<any_loss>.backward()` and before `<any_optimizer>.step()`, we have a chance to manually modify the gradients. Based on @fuzihaofzh‘s description, he wanted to train two models alternatively, then he could just replace the gradients of one mo

[2019-10-24 19:30] yf225 commented on #14573
My current understanding is as follows:
Based on https://github.com/pytorch/pytorch/blob/d8c66c1576295431ec3828e62514934721d425c5/caffe2/CMakeLists.txt#L174-L190, because we have Caffe2 and ONNX APIs (which uses protobuf symbols in their function signatures) in libtorch, we need to expose protobuf symbols as part of libtorch.so. Therefore, at the moment we won't be able to hide those protobuf symb

[2019-10-24 19:37] bdusell commented on #28329
Yes.

What is the criterion for adding an underscore method to `Tensor`? There are some point-wise operations that do not have one yet also have a function with an `out` argument. A good example is max: there is no `.max_` method on `Tensor`, but there is a `torch.max` function with an `out` argument.

[2019-10-24 19:46] gchanan commented on #5154
this works now.

[2019-10-24 19:46] #5154 closed

[2019-10-24 19:49] pietern commented on #28336
I like that idea @ezyang. I went and found the most recent series of version bumps:

* `1.0.0a0` -- 73738ec570fa907045e89dd573d2fd945aa2585c (#11717)
* `1.1.0a0` -- 4c5b1cc02601ae5bcc00cefa592874139f4e22c2 (#15554)
* `1.2.0a0` -- 47043220ee3f532ab01a265336ef78d18f6b6645 (#20812)
* `1.3.0a0` -- a1d945b295d367ec32c889de5d2e74dbf8ab9479 (#23895)
* `1.4.0a0` -- 2c51e0659b79dce39b27efb9d5e6755524eeb21c

[2019-10-24 19:49] gchanan commented on #5272
See also https://github.com/pytorch/pytorch/issues/5272.

[2019-10-24 19:50] gchanan commented on #28576
I'd be careful here.  This is the behavior of the majority of torch functions, and there are proposal for better semantics, see e.g. https://github.com/pytorch/pytorch/issues/8989.

[2019-10-24 19:53] gchanan commented on #28576
So I don't think this specific issue is high priority.

And we'd need to get general agreement on the semantics before pursuing a fix.

[2019-10-24 19:55] pietern commented on #28329
@gchanan Can you comment on this?

[2019-10-24 19:57] pietern commented on #22049
It's safe, but it's better to not synchronize at all if you don't have to.

[2019-10-24 20:05] albanD commented on #28329
From what I see:
- inplace operation (`*_`) are only possible if the output is the same size as the input.
- `out=` construction is always possible as the Tensor given to out will be resized to the need of the function (potentially being backed by new memory after the resize).

So if you want an inplace version, you want a `*_` method. Note that the output must be the same size as the input becaus

[2019-10-24 20:08] csvoss commented on #16574
I found [`pytorch/test_type_hints.py`](https://github.com/pytorch/pytorch/blob/59b14a762094825613ab061e4ff96586555d15ee/test/test_type_hints.py), I'll see where that leads me.

[2019-10-24 20:13] bdusell commented on #28329
I see, so in this case it would make sense to add both `Tensor.where_()` and `torch.where(..., out)`.

[2019-10-24 20:14] albanD commented on #28576
The semantic of `out=` is definitely that it will resize if needed.
The point of this api is to be able to reuse existing Tensors as buffers to reduce memory usage if needed.

@gchanan might have more experience about the latest function, but **all** the ones coming from torch7 will resize the `out=` argument.

[2019-10-24 20:14] ezyang commented on #16574
Hey @csvoss, nice to see a familiar face :)

Here's my personal thinking on the matter. I've worked on a few (smaller than PyTorch) codebases with Python type checking, and the primary way we keep the type annotations correct in these settings is to actually typecheck all of the code in our codebase that uses the types, so you can check both inside and outside the function are consistent with your

[2019-10-24 20:21] albanD commented on #28329
If we had only one, `Tensor.where_()` feels more useful.

I think there aren't that many people that make use of the `out=` api anymore (mainly because it does not support autograd). And with the good allocators we have now (especially on gpu), reusing buffers is not as useful as it used to be.

[2019-10-24 20:34] gchanan commented on #27598
@anjali411 is going to look into this one.

[2019-10-24 20:39] gchanan commented on #27614
@ifedan is going to take a look.

[2019-10-24 20:41] gchanan commented on #25763
Going to optimistically close based on @peterjc123's comment.

[2019-10-24 20:41] #25763 closed

[2019-10-24 20:47] gchanan commented on #23401
@zhangguanheng66 can you post the patch you expected to fix this?

[2019-10-24 20:48] gchanan commented on #18757
@ezyang do we still build libtorch statically on windows?

[2019-10-24 20:52] gchanan commented on #17930
@VitalyFedyunin is going to verify that this is fixed.

[2019-10-24 20:53] gchanan commented on #26287
@albanD will verify this is fixed.

[2019-10-24 20:55] gchanan commented on #26165
@yf225 will try to reproduce this.

[2019-10-24 21:06] zhangguanheng66 commented on #23401
@gchanan I just checked that `set_device` func does report the proper error message. I fixed it for the issue https://github.com/pytorch/pytorch/issues/17357.

[2019-10-24 21:10] zhangguanheng66 commented on #5272
@gchanan I guess you mean this one https://github.com/pytorch/pytorch/issues/28576

[2019-10-24 21:14] jerryzh168 commented on #28328
https://github.com/pytorch/pytorch/pull/28612

[2019-10-24 21:18] neginraoof commented on #28611
No that should not be needed.

[2019-10-24 21:21] VitalyFedyunin opened #28619 "[DRAFT] Channels Last (NHWC) support plan."
Release goals:

- Support ResNet50, AlexNet, ResNeXt and proof performance gain on mixed precision models + Volta GPUs.
- Unlock developers to extend channels last operators coverage.

Tasks:

- [ ] Change factory functions (`_like` and similars) to optionally preserve format (#27979) and land with docs.
- [ ] Switch factory functions to preserve memory format by default (BC breaking) and fix all

[2019-10-24 21:30] gchanan commented on #28
This works now after type promotion.

[2019-10-24 21:30] #28 closed

[2019-10-24 21:38] gchanan commented on #20921
This was fixed in the referenced PR.

[2019-10-24 21:38] #20921 closed

[2019-10-24 21:39] yf225 commented on #25883
@lsrock1 Thanks a lot for your interest! I think one of our teammates is going to work on ParameterList and ParameterDict - curious would you be interested in working on `CrossMapLRN2d`? Thanks!

[2019-10-24 21:40] yf225 commented on #25883
@divyanshsinghvi Yes that sounds awesome, thanks so much for your help! :D

[2019-10-24 21:41] lcskrishna opened #28623 "argmax for half datatype."
## 🐛 Bug

In pytorch version 1.2.0, argmax is supported for half datatype.
However, in the current version, it generates a runtime error that argmax_cuda is not supported for half.
## To Reproduce

Steps to reproduce the behavior:

Version : 1.2.0a0+eddebaf
[code]
Where as with the current versions,
[code]
I have seen that there were some changes done in this PR #26181
So, is there a way to run ar

[2019-10-24 21:43] dashesy commented on #28611
@neginraoof Yes this is fixed in the nightly! thanks.
Just one quirk, why do I still get this warning:

While the exported model is actually correct:

![SliceOpset10](https://user-images.githubusercontent.com/873905/67527718-8896dd00-f66c-11e9-9b71-74d9d795ff33.JPG)

These warnings are quite useful if they are not false positives.

[2019-10-24 21:54] gchanan commented on #21566
This is covered by other issues, e.g. https://github.com/pytorch/pytorch/issues/24596.

[2019-10-24 21:54] #21566 closed

[2019-10-24 22:00] hadarporat opened #28624 "video module is missing or was moved from torchvision latest release"
## 🐛 Bug

import torchvision.models.video
## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTo

[2019-10-24 22:05] gchanan commented on #23675
it's documented now.

[2019-10-24 22:05] #23675 closed

[2019-10-24 22:06] xsacha commented on #18757
I would like if it worked :)

[2019-10-24 22:08] gchanan commented on #23652
I'm going to close this because it's not actionable:
1) there's no reproduction
2) the specific error check in question is correct
3) it's very likely a problem with a downstream library

[2019-10-24 22:08] #23652 closed

[2019-10-24 22:12] gchanan commented on #22744
this has been fixed.

[2019-10-24 22:12] #22744 closed

[2019-10-24 22:13] spott opened #28625 "nn.AvgPoolxd raises error for too small input."
## 🐛 Bug

`nn.AvgPool1d` and `nn.AvgPool2d` (and presumably others) will raise an error when the input shape is less than the kernel size.  This is a change in behavior from version 1.1 where it would just act like the identity function.

## To Reproduce

[code]

in v1.1: `torch.Size([1, 2048, 1])`
in v1.3: `RuntimeError: Given input size: (2048x1x1). Calculated output size: (2048x1x0). Output siz

[2019-10-24 22:13] gchanan commented on #22432
This has been completed.

[2019-10-24 22:13] #22432 closed

[2019-10-24 22:14] gchanan commented on #22158
`new` is deprecated.

[2019-10-24 22:15] gchanan commented on #20452
This has been addressed (the code above works).

[2019-10-24 22:15] #20452 closed

[2019-10-24 22:16] gchanan commented on #19149
NumPy's behavior seems reasonable.

[2019-10-24 22:18] #27824 closed

[2019-10-24 22:18] #28502 closed

[2019-10-24 22:18] gchanan commented on #1193
this is covered by https://github.com/pytorch/pytorch/issues/8989.

[2019-10-24 22:18] #1193 closed

[2019-10-24 22:20] #2560 closed

[2019-10-24 22:20] gchanan commented on #2560
prefer tracking in the master issue.

[2019-10-24 22:38] gchanan commented on #28329
I agree with @albanD's take.

Also the `out=` API is broken, see e.g. https://github.com/pytorch/pytorch/issues/8989, so we are generally hesitant to add to it unless there is a good reason (and since inplace covers your usecase, there isn't really a good reason here).

[2019-10-24 22:55] zhaojuanmao commented on #27168
I'm not sure which PR added py35 to CI, but I checked that py35 tests ran in my recent PRs even I did not specify [test all]. for example, there is active PR https://github.com/pytorch/pytorch/pull/28485, you can see that py35 build is running

[2019-10-24 23:10] sunyuanxi commented on #20981
According to my experiment:
Inputs:
[code]
Outputs:
[code]
Inputs:
[code]
Outputs:
[code]

Therefore, I think that there's a bug in the GitHub source code for circular padding (```nn/functional.py``` line 3104 to line 3124):
[code]
It doesn't take into account the situation when ```padding[-1] = 0```.
If ```padding[-1] = 0```, then:
[code]
will select nothing, and thus lead to the error in circula

[2019-10-24 23:15] ezyang commented on #28336
Use the version.txt verbatim, whatever it is :>

[2019-10-24 23:21] zdevito commented on #28549
Improving the debuggability of the JIT is a good thing. There are some things to keep in mind though when designing any interface around this. First, DifferentiableGraphBackward is an implementation detail of the JIT and should remain that way. It is used when part of the graph is symbolically differentiable, but there is no guarantee that a single call to the backward of the output of a script fu

[2019-10-24 23:44] zhangzibao commented on #16417
thanks, i addressed the error through this way.

[2019-10-24 23:48] mruberry commented on #23907
This is a great and natural idea, but...

1. It seems straightforward to create your own (suboptimal) version of this function, like in your examples.
2. Even if there was a version of torch.count_nonzero() that ran instantly, how much would e2e MaskRCNN training time be reduced?

PyTorch is designed to let you build functions like count_nonzero. If it provides an implementation for users would th

[2019-10-24 23:50] zhaojuanmao commented on #28552
@xush6528 in which case you want to rendezvous twice?

[2019-10-25 00:03] lsrock1 commented on #25883
@yf225  i am interested in CrossMapLRN2d, parameters_to_vector and vector_to_parameters. Is it possible?

[2019-10-25 00:05] xush6528 commented on #28552
@zhaojuanmao

I mean there is no code to forbidden users from doing this.

I hit a bug that rendezvous V1 on node A matches rendezvous V2 on node B. Then rendezvosu V2 on node A hangs forever,

[2019-10-25 00:24] zhaojuanmao commented on #28552
@xush6528 I'm trying to understand why we need to forbidden users to do rendezvous twice? why not users are aware: rendezvous twice may result in same store path are used twice, and users handle that properly?

[2019-10-25 00:29] xush6528 commented on #28552
@zhaojuanmao
It just has a low chance of causing hanging, if we are ok with leting users to handle this hanging, then I think we are good.

[2019-10-25 00:41] vadimkantorov commented on #28090
A scope reduction: I am meaning only the stride consideration when the flattened area is in fact contiguous in memory. If we can check it is contiguous, then it's only order of dimensions that is important, i.e. we can sort the dimensions by strides first, then do conventional view, then apply whatever operation (including a copy one) we wish, then reshape back, then permute back.

bad pseudo code

[2019-10-25 01:17] xiaoLiuxiaoLiuxiaoLiu commented on #28572
@gchanan Hello, last night I supposed this bug killed. It is a bug about unreasonable Program Design due to without ptr to eval() and train() of the model on my Reloading Class. So there exists quite different output result. I suggested that this issue can be closed.
Thank You！

[2019-10-25 01:18] xiaoLiuxiaoLiuxiaoLiu commented on #28572
@zhangguanheng66 Hello, last night I supposed this bug killed. It is a bug about unreasonable Program Design due to without ptr to eval() and train() of the model on my Reloading Class. So there exists quite different output result. I suggest that this issue can be closed.
Thank You！

[2019-10-25 01:59] raghavgurbaxani commented on #28483
@thiyagu145  were you able to solve this issue ? I am stuck on the same problem

[2019-10-25 02:26] yurivict commented on #28337
This issue stops me from creating a FreeBSD port for PyTorch.

[2019-10-25 02:28] jiacheng1gujiaxin commented on #28404
you can  fuse the batchnorm or merge it with conv manually

[2019-10-25 02:47] ZisIsNotZis commented on #27600
For `jupyter`, one way to recover automatically is to catch the exception, save all things necessary, and run

[code]

[2019-10-25 04:06] raghavgurbaxani commented on #28404
@jiacheng1gujiaxin  merge it manually ? how ?

[2019-10-25 04:33] peterjc123 commented on #25763
@gchanan Well, https://github.com/pytorch/pytorch/issues/25763#issuecomment-535274864 is a reply to https://github.com/pytorch/pytorch/issues/25763#issuecomment-535218977, not the problem itself. But anyway, I haven't seen this error for a long time. So it's okay to close this issue.

[2019-10-25 05:23] #28559 closed

[2019-10-25 05:55] XiaobingSuper commented on #20583
@sakaia , I verify that MKLDNN v0.21.1 can solve this problem, we have upgrade mkldnn to [0.21.1](https://github.com/pytorch/pytorch/pull/27597), you can test it your side by `pip install --pre torch torchvision -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html` or build the pytorch source code according to [README.md](https://github.com/pytorch/pytorch). Thanks!

[2019-10-25 06:02] xsacha opened #28639 "Set CUDA device is expensive operation"
## 🐛 Bug

Calling cudart::cudaApiSetDevice appears to be a very expensive operation. However, as my system has only a single GPU, it is unnecessary to call it at all.

Tested on Windows.

![image](https://user-images.githubusercontent.com/61218/67546817-99188780-f740-11e9-9566-792c5eab40e4.png)

## To Reproduce

Steps to reproduce the behavior:

1. Run models with benchmarking turned on
2. Profile

[2019-10-25 06:02] titaneric opened #28640 "Support bool type for torch.unique with return_counts=True"
## 🚀 Feature

## Motivation
I've faced the situation that I want to count the number of True in the tensor, after looking the documents and searching, I found that the torch.unique is probably the most suitable solution.

However, I found that the return counts option didn't support for Bool type, even the torch.unique method itself, as the figure shown.

![torch](https://user-images.githubusercon

[2019-10-25 06:25] TheodoreZhao commented on #26247
https://pytorch.org/docs/stable/torch.html#torch.where
It looks the types of `x` and `y` in `torch.where(condition, x, y)` cannot be BoolTensor.

[code]

[code]

[code]

[code]

[2019-10-25 07:00] PierreHao opened #28644 "Bug with torch.matmul?（CPU torch1.3）"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. if we use torch.matmul(a, a.t()) on cpu with torch1.3 (a is a tensor with size (1024, 2)),  we will get Segmentation fault
1. if tensor size is (5, 2), it runs well
1. if matmul on gpu, it runs well. and with torch1.1, it runs well on cpu

1. import torch as th
2. a = th.ones(5,2)
3. th.matmul(a, a.t())
it runs well
4. a = th.ones(102

[2019-10-25 07:06] titaneric commented on #28640
There is another PR #28374 related to this, it seems that the version 1.3.0 didn't support this.
I'm sincerely sorry for the miss, I will close this issue.

[2019-10-25 07:06] #28640 closed

[2019-10-25 07:08] pietern commented on #28336
Pushed tags for above commits:

[code]

Confirmed that `git describe` now returns something more sensible on master:

[code]

[2019-10-25 07:08] #28336 closed

[2019-10-25 07:10] pietern commented on #27168
@zhaojuanmao This is not the case. If you click on those builds, you see they are getting skipped.

They show up in the check list because they have to be triggered before we can check if they should be skipped. Unfortunately there is no custom GitHub status for _skipped_ that I know of...

[2019-10-25 07:13] XieZixiUSTC commented on #1633
yeah, i am getting the same problem too,may be is the problem of version or the path

[2019-10-25 07:35] pietern commented on #28552
The fix is always to use a unique path in the `init_method` that captures the versioning. When the nodes come and go you can't rely on some "rendezvous counter" to fix this.

The file that backs the file store is removed as soon as all processes have destructed the store. This doesn't fix the case where you create a new one before the old one is gone, though. The other rendezvous methods are very

[2019-10-25 07:53] pietern commented on #28345
Can you confirm that `/usr/local/lib/python3.7/site-packages/torch/bin/torch_shm_manager` exists?

I ran the same commands, in a fresh conda environment with PyTorch 1.3, on macOS 10.14, and the process happily starts training and I never get to see this crash.

[2019-10-25 08:02] pietern commented on #28294
@baobablyh Are you actively working on this? If not, we keep the "assigned" field empty (and this is why @soumith unassigned you from the issue). Let's discuss before we dive into a specific solution.

We know upfront which parameters will be used and which ones won't, through the unused parameter checking code. This means that before we start the backward pass, we can already build a bitmap to re

[2019-10-25 08:39] VitaMusic opened #28645 "compiling from source error on rhel 7.2"
## 🐛 Bug

error during compilation from source, see stdout/stderr in attachment for details

File "/opt/anaconda3/envs/pytorch/lib/python3.6/subprocess.py", line 311, in check_call
    raise CalledProcessError(retcode, cmd)

[pytorch_install_stdout.txt](https://github.com/pytorch/pytorch/files/3771015/pytorch_install_stdout.txt)
[pytorch_install_stderr.txt](https://github.com/pytorch/pytorch/files

[2019-10-25 08:54] bthyreau commented on #22961
I also clearly observed this problem, where a RTX 2080 is slower than GTX 1080.
This is a minimal script that already exhibit the difference:
[code]

[2019-10-25 09:00] bthyreau commented on #22961
On RTX 2080ti (different centos-7 machine):

GeForce RTX 2080 Ti|GeForce RTX 2080 Ti|GeForce RTX 2080 Ti
-|-|-
torch  1.0.0|torch  1.1.0|torch  1.3.0
cudnn  7401|cudnn  7501|cudnn  7603
40 (3.87 s)|40 (3.30 s)|40 (2.77 s)
80 (11.65 s)|80 (10.89 s)|80 (9.10 s)
120 (19.42 s)|120 (18.51 s)|120 (15.44 s)
160 (27.20 s)|160 (26.15 s)|160 (21.78 s)

With the older Quadro P4000 (roughly equal to a GTX 107

[2019-10-25 09:22] j-luo93 opened #28646 "Python crashes after repeatedly calling `refine_names` to get named tensors"
## 🐛 Bug

Python crashes after repeatedly calling `refine_names` to get named tensors.

## To Reproduce

Steps to reproduce the behavior:
Python will crash with
[code]
If `x` is only created once, then it runs fine:
[code]
However, removing rebinding `x` triggers the crashes again:
[code]
Also, the issue seems to be related to `refine_names` only, since declaring names in `torch.randn` works fine:

[2019-10-25 10:06] Tieftaucher opened #28647 "GPU Memory Leak when using lambdas in nn.Modules"
## 🐛 Bug

First of all thank you for this awesome library. I found one issue, you are maybe interested in:

When using a lambda, that references to the object itself in the constructor of a class, the object will not be deleted from GPU Memory (ever).

When having something like that:
[code]
and you put it on the GPU via
`net = net.cuda()`
and then recreate the net and send it to cuda again, the G

[2019-10-25 10:29] Marco-MP commented on #28645
Hi,
in pytorch_install_stdout.txt Line 1135:

Did you try a newer GCC Version already?

[2019-10-25 11:05] JoeJoeMango opened #28648 "Can't successfully install pytorch with python3.6 on my pi 4"
**my pi info:**
Linux raspberrypi 4.19.50-v7l+ #895 SMP Thu Jun 20 16:03:42 BST 2019 armv7l GNU/Linux

It gets to this point in the installation and I get this err:

[code]
I need it to run on python3.6
Is this enough info to get some advice?

[2019-10-25 12:09] serhii-havrylov opened #28649 "error with detect_anomaly and SparseTensor"
When using the code snippet bellow, I get this error: `RuntimeError: No function is registered for schema aten::ne(Tensor self, Tensor other) -> Tensor on backend SparseCUDA`

[code]

PyTorch version is 1.2.0

cc @ezyang @gchanan @zou3519 @jerryzh168 @SsnL @albanD @gqchen

[2019-10-25 12:37] v0dro commented on #24669
Here's my progress so far:

The current implementation essentially relies on the `shape_` array
inside TensorIterator that is populated by `compute_shape` when the
iterator is built. This array is built using an algorithm that can
figure out how the shape of the output tensor can be broadcast over
the input tensor. Say for example we have an output of shape `[1,4]`
and input of `[3,4]` it means th

[2019-10-25 12:41] serhii-havrylov opened #28650 "Weird interaction between sum, scalar multiplication and sparse tensor"
## 🐛 Bug
There is a weird behaviour of a backward function when performing a reduction operation (sum) on a dense tensor generated from the sparse one. For example, just multiplying the dense tensor by one causes the generation of the RuntimeError during the backward pass: `view size is not compatible with input tensor's size and stride (at least one dimension spans across two contiguous subspaces

[2019-10-25 12:49] olix86 commented on #27738
Is this issue specific to conda? I'm having the same problem with CUDA 10 and pytorch 1.3.0 but using pip

[2019-10-25 13:35] zou3519 commented on #27627
#20162 adds a USE_NAMEDTENSOR build flag, but doesn't actually add any named tensor code. The named tensor code was added incrementally.

[2019-10-25 13:43] zou3519 commented on #28033
When I opened this issue, I was thinking that we should consolidate all of our docs tests into one test file. i.e., `TestTorch.test_doc` and `TestTorch.test_doc_template` should be moved into the same test file as TestDocsCoverage.

The reason for this is to consolidate our docs tests and to perhaps share a blacklist/whitelist between them. Perhaps we should move `TestTorch.test_doc` and `TestTorc

[2019-10-25 13:54] ezyang commented on #28336
@pietern we need to add info to add these tags to a release checklist somewhere so we don't forget in the future

[2019-10-25 13:57] ezyang commented on #28572
OK, thanks for the update~

[2019-10-25 13:57] #28572 closed

[2019-10-25 13:57] dtcrong commented on #18318
Hi all, is there any way to run QAT on NVIDIA GPU?
 I success to run QAT and Post training. But the speed is too low, I spent several hours in a iteration in my own dataset. I tried to run it with CUDA device but met with errors. Is there any doc/tutorial about this?

[2019-10-25 14:00] dtcrong opened #28653 "QAT with CUDA"
Try post train with my own network and dataset but accuracy is not good enough.
Try QAT with too slow.
Any way to quickly run QAT on NVIDIA GPU?

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a

[2019-10-25 14:00] ezyang commented on #18757
@xsacha did you get the workaround to work, at least?

[2019-10-25 14:00] pietern commented on #28336
@ezyang +1 --  do we have one currently?

[2019-10-25 14:02] ezyang commented on #28245
So... is model parallel the same team as distributed? If not, we should promote model-parallel to a top level label, same as distributed.

[2019-10-25 14:03] ezyang commented on #22577
@jotaf98 did turning on deterministic help you rcase?

[2019-10-25 14:04] ezyang commented on #28336
Not that I'm aware of. cc @soumith @kostmo @mingbowan

[2019-10-25 14:04] albanD commented on #28647
Hi,

Thanks for posting.
I changed a bit your code snippet to show the problem:
[code]

Few things:
- You create a ref cycle so you need to wait for python gc to run (which happens very rarely unless there is memory pressure)
- The cuda memory is cached, so it is expected not to be freed when the object is deleted. You can use `torch.cuda.empty_cache()` to force release this memory but in any actu

[2019-10-25 14:04] #28647 closed

[2019-10-25 14:06] albanD commented on #28648
Hi,

Could you give more informations about you environment? gcc version in particular?

[2019-10-25 14:11] JoeJoeMango commented on #28648
Hey AlbanD,
I am running a conda enviorment, python3.6 and my gcc version is (Raspbian 8.3.0-6+rpi1) 8.3.0

[2019-10-25 14:49] VitaMusic commented on #28645
non thank you for point it out. I did not see this message
is it possible to use intel c++ instead of gcc ?
if yes how to configure the compilation with intel ?

[2019-10-25 14:52] albanD commented on #28648
Does the fix proposed in https://github.com/pytorch/pytorch/issues/22898 works for you?

[2019-10-25 15:10] gchanan commented on #28639
This has always been shown to be a profiling artifact, see e.g. https://github.com/pytorch/pytorch/issues/18048.

What I think we'd need to see is actual, runnable benchmarking that demonstrates it's a real issue (you can see how to make the calls no-ops in the linked issues).

[2019-10-25 15:10] #28639 closed

[2019-10-25 15:22] gchanan commented on #28625
This is a bug fix, see: https://github.com/pytorch/pytorch/issues/26610

[2019-10-25 15:22] #28625 closed

[2019-10-25 15:23] gchanan commented on #28624
CC @fmassa.

[2019-10-25 15:25] gchanan commented on #28646
This looks serious, we should fix it.

[2019-10-25 15:28] gchanan commented on #28645
Closing because this isn't supported and the error message is clear.

For questions, you can use the forums: https://discuss.pytorch.org/.

[2019-10-25 15:28] #28645 closed

[2019-10-25 15:33] gchanan commented on #28623
This bug was introduced in 1.3.

[2019-10-25 15:34] gchanan commented on #28623
I don't believe there is anyway to run argmax on half currently.  Your options are to run `max` and take the second return value or convert to-and-from `float`.

[2019-10-25 15:34] PiotrDabrowskey commented on #28623
I have exactly the same problem with pytorch 1.3.0.

[2019-10-25 15:38] JoeJoeMango commented on #28648
This step is a bit confusing:
Change CMAKE_CXX_FLAGS variable in CMakeLists.txt file (in the main directory). i.e. add line
There are so many lines that start with this:
`set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -latomic")`

Do you know where specifically I need to replace it

[2019-10-25 15:40] zou3519 commented on #28646
I can reproduce this on master. I will look into this.

[2019-10-25 15:44] gchanan commented on #28644
I wasn't able to reproduce this with the wheel you mentioned.

[2019-10-25 16:14] neginraoof commented on #24268
@ezyang Can we close this? Issue has been fixed.

[2019-10-25 16:15] vadimkantorov opened #28657 "[docs] Unclear input/output format for TransformerEncoderLayer"
https://pytorch.org/docs/master/nn.html?highlight=transformerencoderlayer#torch.nn.TransformerEncoderLayer does not mention the input/output tensor dimension order. Is it B(atch)T(ime)C(hannels)?

Existing docs for torch.nn.GRU explain this more clear.

Also RNNCell uses `nonlinearity` keyword whereas Transformer* uses `activation`. If this difference is not intentional, it would be nice to unify

[2019-10-25 16:21] vadimkantorov commented on #28657
Also reference formatting is not clean:
[code]

Also I have troubles understanding `Users may modify or implement in a different way during application`...

[2019-10-25 16:28] vadimkantorov commented on #24155
also encountered this... Quite strange to see the warning at every call.

[2019-10-25 16:29] vadimkantorov opened #28658 "[docs] Docs missing online for RNNBase.flatten_parameters"
flatten_parameters missing docs online: https://pytorch.org/docs/master/search.html?q=flatten_parameters&check_keywords=yes&area=default

While docs are there in the code:
https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/rnn.py#L99

cc @ezyang @gchanan @zou3519 @jerryzh168

[2019-10-25 16:42] zhaojuanmao commented on #28552
@pietern what you are suggesting is to let user to specify unique path if they are using file store and want versioning in their application, right?

[2019-10-25 16:56] zhaojuanmao commented on #28294
@baobablyh I'm assigning this back to you as @mrshenli mentioned you are actively working on this.

The solution proposed by @pietern sounds good to me as well.

@baobablyh which solution are you working on right now?

[2019-10-25 17:09] vadimkantorov commented on #28657
Also, for some reason the `dim_feedforward` arg is third, compared to `hidden_size` in GRU which is second. If it were called the same and was in the same position, the user code would be a bit more consisten.

[2019-10-25 17:10] gchanan commented on #28650
interesting.   I'm not sure why off the top of my head the multiplication makes the difference.

[2019-10-25 17:14] #28305 closed

[2019-10-25 17:14] gchanan commented on #28649
I was able to reproduce this on 1.3 and can verify that it is a result of `detect_anomaly`.

The error message indicates that it's because `ne` isn't implemented for sparse tensors -- we probably just need to make the anomaly detector smarter to just check the values or something in this case.

[2019-10-25 17:18] nairbv commented on #28508
this is fixed by:
https://github.com/pytorch/pytorch/pull/28253

[2019-10-25 17:18] #28508 closed

[2019-10-25 17:18] #24268 closed

[2019-10-25 17:19] neginraoof commented on #28611
@dashesy This warning is at autograd level for slice indexing, not exporter directly. But we might be able to remove it now. I'll check that. I think we can close the issue.

[2019-10-25 17:21] #28611 closed

[2019-10-25 17:21] vadimkantorov commented on #28658
Related issue: where and when to call it so that a warning is not printed at every iteration
https://github.com/pytorch/pytorch/issues/24155

[2019-10-25 17:22] albanD commented on #28648
They all append to the current value.
So you can put it anywhere it's going to run, [here](https://github.com/pytorch/pytorch/blob/3f119a5f52210f599ad9f5916c83186b8a01856a/CMakeLists.txt#L192) for example

[2019-10-25 17:24] neginraoof commented on #28611
cc @colesbury
The issue for tracing slice index dynamically has been resolved here:
https://github.com/pytorch/pytorch/pull/26549
Do you think we can remove this warning?
https://github.com/pytorch/pytorch/blob/46f96d153864f6da798700d97eea8255d1e3ddf4/tools/autograd/templates/python_variable_methods.cpp#L312

[2019-10-25 17:24] JoeJoeMango commented on #28648
I did it and it seems to be running great. At 99% at the moment.
I was gonna give you a thumbs up when I get to 100%

[2019-10-25 17:26] zou3519 commented on #28646
I think the bug is that we're not incrementing Py_None when returning it as a part of `tensor.names`. See https://stackoverflow.com/questions/15287590/why-should-py-increfpy-none-be-required-before-returning-py-none-in-c for details.

I'll attempt to submit a bugfix soon. Thank you for the detailed report, @j-luo93

[2019-10-25 17:43] soumith commented on #28624
please report to https://github.com/pytorch/vision

[2019-10-25 17:43] #28624 closed

[2019-10-25 17:49] soumith commented on #28345
this was fixed with the release of `1.3.0.post2` binaries for OSX. Please do `pip install -U torch` to fix it.

[2019-10-25 17:49] #28345 closed

[2019-10-25 17:52] raghavgurbaxani commented on #28404
@jerryzh168  I am still stuck on this issue, could you please help ?
I have already put in the Qstub and Destub blocks, but I am stuck on the layer fusion part.

I am trying to use the model here -
https://github.com/clovaai/CRAFT-pytorch/blob/master/craft.py

[2019-10-25 18:01] soumith commented on #28278
Please have a look at http://github.com/pytorch/ignite or https://skorch.readthedocs.io/en/stable/ or https://github.com/williamFalcon/pytorch-lightning which give you roughly what you are looking for. Based on what pietern said, we're unlikely to do this in core.

[2019-10-25 18:01] #28278 closed

[2019-10-25 18:16] wanchaol commented on #28280
@driazati can you take a look on this?

[2019-10-25 18:23] zhaojuanmao commented on #27168
@pietern I see!  did not realize builds and tests could be skipped in check list.

but since Edward added PY35 to [test all] list in #27293, i think it is also fine to close this PR for now.

[2019-10-25 18:36] JoeJoeMango commented on #28648
still says
`ModuleNotFoundError: No module named 'torch'`

[2019-10-25 18:36] albanD commented on #28649
Does that just boils down to implementing `.ne` for sparse Tensors?

[2019-10-25 18:44] gchanan commented on #28649
That would be one way to solve, but I'm not sure we need it?  Is detect_anomaly just checking if there are any NaNs/infs?  Where you could just look at the values.

[2019-10-25 18:53] Balandat commented on #28119
I think a kwarg here would be the easiest? Not quite sure how to name it though. For `p=2` it would be `squared`, but that doesn't generalize. Maybe `raise`? Could be misinterpreted..

[2019-10-25 19:00] vadimkantorov commented on #14190
I have a fairly recent PyTorch install (from September) and the example in the original post still seems to fail. Given that now type promotion is being worked on, probably this can also be fixed soon: `torch.FloatTensor([0.0, 1.0]) * torch.tensor(0)` works fine

Another type promotion thing: `torch.exp(torch.tensor(3))` - `RuntimeError: exp_vml_cpu not implemented for 'Long'`

[2019-10-25 19:04] elbamos commented on #27627
@zou3519 Yeah, that's my point.  That's the commit that you had suggested I start with.

That is why I said, if I'm going to be bisecting this through a period when the code had a lot of build problems, and working through those problems with you guys, which is going to consume a lot of my time, then please at least point me to some commits that involve some relevant code.

[2019-10-25 19:09] albanD commented on #28648
Did you use the same python to install and test?
Make sure you don't try to import torch from the pytorch root directory as the folder named `torch` confuses the python import?
Did the installation completed without any errors?

[2019-10-25 19:11] albanD commented on #28649
It is only looking for `NaNs`.
Indeed, checking the Tensor of values will work for sparse Tensors.

[2019-10-25 19:13] SsnL commented on #28649
@albanD I haven't read the anomaly detection code, but both `isnan` and `any` should be trivial to implement for sparse tensors.

[2019-10-25 19:30] gchanan commented on #14190
the first example works fine now.

Do you mind filing an issue for torch.exp?  Our current type promotion doesn't cover that case, it only looks at the dtypes of (actual) arguments.  There's a similar issue with supporting e.g. true_division.

[2019-10-25 19:33] zou3519 commented on #27627
@elbamos my apologies, I didn't read through the entire thread before replying to your above comment asking for which commit brought in named tensor code and instead gave you the beginning and end points.

I don't think any of the named tensor code interacts with AVX at all so it is difficult for me to give you code pointers.

However, here are some things that might be of interest:
- https://gith

[2019-10-25 19:37] zhaojuanmao commented on #28232
"Oct 17 07:40:32 AssertionError: tensor(87.) not less than or equal to 1e-05 : Mismatch in interation 87"

the problem is: I tried to run this asan test locally a few times, they all passed, it is hard to debug without reproducing the failure.

@jfc4050 and @mrshenli any insights about possible reasons?

[2019-10-25 19:40] soumith commented on #28272
cc: @zhangguanheng66

[2019-10-25 19:44] soumith commented on #28417
@mruberry @ngimel if it's a small patch, shall we merge?

[2019-10-25 19:50] vadimkantorov commented on #14190
By the first you mean `torch.FloatTensor([0.0, 1.0]) > torch.tensor(0)`, right?

I'll file a separate issue about torch.exp

[2019-10-25 19:50] soumith commented on #28416
The caffe2 frontend is unsupported now and will slowly be deprecated. Hence, we're not looking to add code or answer questions on this module unless critical.

[2019-10-25 19:50] #28416 closed

[2019-10-25 19:52] vadimkantorov opened #28703 "[type promotion] torch.exp does not work on integral types"
`torch.exp(torch.tensor(3))` - RuntimeError: exp_vml_cpu not implemented for 'Long'

I guess other real-input scalar functions like sin, cos etc also don't work for Long types, but could work  by using a default float type

(follow up on https://github.com/pytorch/pytorch/issues/14190#issuecomment-546473334 @gchanan  )

[2019-10-25 19:55] gchanan commented on #14190
Sorry for not being clear, I meant:
`torch.FloatTensor([0.0, 1.0]) * torch.tensor(0)` works

`torch.FloatTensor([0.0, 1.0]) > torch.tensor(0)` also works now, although it gives you a `torch.bool` result now.

[2019-10-25 20:01] vadimkantorov commented on #14190
Cool! If `torch.FloatTensor([0.0, 1.0]) > torch.tensor(0)` works, I'll close this issue!

[2019-10-25 20:01] #14190 closed

[2019-10-25 20:02] zhangguanheng66 commented on #28272
@soumith It's issue related to type promotion.
The master branch has been fixed by https://github.com/pytorch/pytorch/pull/28253

[2019-10-25 20:02] #28272 closed

[2019-10-25 20:05] soumith commented on #24334
@adamjstewart here's a simple workaround: `export CMAKE_PREFIX_PATH="/opt/intel/compilers_and_libraries_2019.4.233/mac/mkl:$PATH"`

[2019-10-25 20:20] albanD commented on #28649
`isnan()` did not exist back when anomaly mode was added. But yes adding `isnan` and `any` is better than `ne` and `any`.

[2019-10-25 20:21] jianyuh commented on #28337
@lly-zero-one  @dskhudia We currently don't have a FreeBSD 12 for reproduce. It might take some time to look at this issue. @ezyang Do we have the OSS CI test for FreeBSD?

For now, you might disable FBGEMM for building PyTorch on FreeBSD:
`USE_FBGEMM=0 python setup.py install `.

[2019-10-25 20:29] ngimel commented on #28417
It's a small patch and we can merge if it does not break other tests in CI. However, clang+cuda builds are not in our CI, so we won't be testing this particular functionality and it might break in future. @johnmarkwayve if that's ok and you can prepare a PR, we can go from there.

[2019-10-25 20:30] raghavgurbaxani commented on #28483
@jamesr66a

I am trying static quantization of vgg_16_bn

import torch
from torchvision.models import vgg16_bn
model = vgg16_bn()
model.eval()
example = torch.rand(1, 3, 224, 224)
traced_script_module = torch.jit.trace(model, example)
traced_script_module.save('vgg16_bn_float32.pt')
model.qconfig = torch.quantization.default_qconfig
torch.quantization.prepare(model, inplace=True)
quantized=torch.q

[2019-10-25 20:31] hossein1387 opened #28705 "Error Exporting Quantized model to ONNX"
## 🐛 Bug

I am using Pytorch 1.3 with quantization feature.
After the model is quantized, you can no longer export it to ONNX. I used the exact same code provided in Quantization tutorial to quantize Mobilenet2 model but failed to export the quantized model to onnx.
## To Reproduce

Steps to reproduce the behavior:

1. Follow instruction from step1-3 Quantization tutorial: https://pytorch.org/tuto

[2019-10-25 20:56] ezyang commented on #27627
Alternately, if you can give us access to an OS X box with GPU we can try debugging it.

[2019-10-25 20:57] z-a-f commented on #28653
CUDA quantization is not yet supported.

[2019-10-25 20:58] ezyang commented on #28119
Seems reasonable. Is there a numpy version of this function?

[2019-10-25 20:59] ezyang commented on #28337
We don't have any FreeBSD CI, and there are no plans in our roadmap for it.

[2019-10-25 21:00] z-a-f commented on #28653
QAT supports CUDA through (FakeQuantize)[https://pytorch.org/docs/stable/quantization.html#torch.quantization.FakeQuantize]. You can follow the (tutorial)[https://pytorch.org/tutorials/advanced/static_quantization_tutorial.html#quantization-aware-training], but you will need to adapt it to use CUDA.

[2019-10-25 21:01] ngimel commented on #28119
I could not find it.

[2019-10-25 21:04] z-a-f commented on #28653
@dtcrong Closing this. If you have any questions about quantization, you can direct it to the [Forum](https://discuss.pytorch.org/c/quantization)

[2019-10-25 21:04] #28653 closed

[2019-10-25 21:06] vainaijr opened #28709 "torch.where gives weird output"
![Screenshot (54)](https://user-images.githubusercontent.com/43755000/67604533-c43dbe00-f7b6-11e9-9843-2869638aade5.png)

[2019-10-25 21:07] Balandat commented on #28119
There is [sqeuclidean](https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.distance.sqeuclidean.html#scipy.spatial.distance.sqeuclidean), but that's just for distance between two vectors.

I guess numpy/scipy don't have to worry much about raising the result of `cdist` to a power since they're not concerned with the autograd non-differentiabiliy issues.

[2019-10-25 21:08] Hippogriff commented on #27036
I implemented the least squares using QR factorization that seems to be most stable. For under-determined system, I am using a lambda penalty for regularization. lamb ~ 0.01 works fine and gives results similar to numpy least square implementation.

[code]

[2019-10-25 21:12] z-a-f commented on #28705
We currently don't support ONNX for the quantized kernels.

[2019-10-25 21:12] #28705 closed

[2019-10-25 21:15] anuar12 commented on #27729
@dzhulgakov
For example I am using 3D Resnet from torchvision and want to deploy in Xavier. Currently trying with TensorRT but TensorRT is extremely badly documented, has non-intuitive API and has some bugs.

[2019-10-25 21:17] cpuhrsch commented on #15849
Flagging this for https://github.com/pytorch/pytorch/issues/24915

[2019-10-25 21:34] VitalyFedyunin opened #28714 "Channels last max_pool2d fails with specific inputs"
Repro:
[code]
[code]

cc @VitalyFedyunin @jamesr66a

[2019-10-25 21:41] VitalyFedyunin commented on #23403
Moving progress tracking and extending scope in https://github.com/pytorch/pytorch/issues/28619

[2019-10-25 21:41] #23403 closed

[2019-10-25 21:42] VitalyFedyunin commented on #19092
Tacking tasks and progress inside of https://github.com/pytorch/pytorch/issues/28619

[2019-10-25 21:49] elbamos commented on #27627
@ezyang I have an old pre-AVX mac pro sitting around I'd donate to the cause. It doesn't have a GPU in it - you wouldn't need one to debug this, but you could put an old one into it to help debug future OS X GPU build issues (they come up a lot).

@zou3519 Thanks, I'll try those today!

[2019-10-25 22:07] michaelcandido opened #28716 "Gradient on Embedding padding vector is nonzero after forward on inputs longer than 768 on GPU"
## 🐛 Bug

According to torch.nn documentation, the Embedding module allows assigning a padding_idx to one embedding vector. This vector (assuming default initialization) will always be 0's and have 0 gradient. While working with a long sequence model (32 x 1000 inputs), I noticed the embedding vector for the padding index was becoming nonzero during training. To debug, I created an isolated repro

[2019-10-25 22:12] xsacha commented on #18757
Was that the one with removing the static initializers? I had another problem at the time but haven't tried the latest version.

[2019-10-25 22:14] xsacha commented on #28639
Thanks

[2019-10-25 22:22] henripal commented on #17199
fyi, I am seeing similar behavior with the NCCL backend on multi node / multi gpus.
if `set_num_threads` is not set to 1 before spawning, the MWE below never terminates:

[code]

[2019-10-25 22:47] vadimkantorov opened #28719 "Improve error message in nn.MultiheadAttention"
https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/activation.py#L688 says
`assert self.head_dim * num_heads == self.embed_dim, "embed_dim must be divisible by num_heads"`. Given that MultiheadAttention is used within TransformerEncoderLayer, this error message does not say much, since it was not the user who directly passed in these bad values. It would be better if it used sth like

[2019-10-25 22:55] jjsjann123 commented on #25387
Just to track our discussion yesterday.

Upstream expressed concerns on inconsistent optimization behavior between our auto-casting optimization pass and eager auto-casting with context manager. The consequences of this inconsistency makes the potential optimization pass not debuggable by the eager user, as there's no easy way to reproduce the mechanism through eager execution.

Upstream proposed

[2019-10-25 23:11] z-a-f commented on #28483
There are multiple issues with this code. The working version of the code is below

1. You need to disable the "inplace" flag in all the ReLU's. This is my bad, sent a PR to fix that: #28710
2. Before `prepare` you must create a list of the modules you would like to fuse. Unfortunately, this is a manual process, and you have to tell the system which parts of your model are about to be fused. I pro

[2019-10-25 23:20] vadimkantorov opened #28721 "[docs] Improve docs of nn.MultiheadAttention"
https://pytorch.org/docs/master/nn.html?highlight=multiheadattention#torch.nn.MultiheadAttention currently says:

- **Note** – if kdim and vdim are None, they will be set to embed_dim such that
- **key, and value have the same number of features.** (*query,*) –

i.e. formatting went badly.

Also docs don't mention that `embed_dim` must be divisible by `nheads` and what's the reason for this requir

[2019-10-25 23:22] vadimkantorov commented on #28721
also no space between `wherehead_i` and notation is not very clear in this equation

[2019-10-25 23:41] rohan-varma commented on #28124
Done in #28485

[2019-10-25 23:42] #28124 closed

[2019-10-25 23:56] baobablyh commented on #28294
@zhaojuanmao I was working on the solution proposed by @mrshenli originally. I like the solution proposed by @pietern too. My concern is what the performance impact by the global bitwise would look like?

[2019-10-26 01:06] vadimkantorov commented on #28721
Also the return type is not clear. Is it a tuple? always a tuple, regardless of `need_weights`? Also naming of `need_weights` is not consistent with older `return_indices` (of maxpool).

[2019-10-26 01:21] vadimkantorov commented on #27464
the fixing PRs have been merged, closing this

[2019-10-26 01:21] #27464 closed

[2019-10-26 01:21] dashesy opened #28733 "CPU MaxPool2d is very slow"
## 🐛 Bug

MaxPool2d is too slow, it is better to replace it with Conv2d and stides

## To Reproduce

[code]

## Expected behavior

For MaxPool2d to have performance that is within the same range as convolution

## Environment

PyTorch version: 1.3.0
Is debug build: No
CUDA used to build PyTorch: 10.1.243

OS: Ubuntu 16.04.6 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
CMake ver

[2019-10-26 01:22] pritamdamania87 opened #28734 "Enhance autograd profiler to support detailed profiling of RPC, RRef and distributed autograd"
## 🚀 Feature

## Motivation

In a distributed system is very useful to have detailed profiling information across multiple different layers of the system to easily determine which components might be taking up most of the CPU time. We should enhance the autograd profiler to provide a detailed view into RPC calls, RRef calls and various operations that distributed autograd/optimizer execute under t

[2019-10-26 01:30] yf225 commented on #25883
@lsrock1 Thanks so much for your interest and definitely! I just mentioned your name next to the layer and the functions :D

And thanks a lot for the investigation! Yes I think we will need to write the custom backward and forward functions for `CrossMapLRN2d`. Currently we don't have a tutorial for writing custom Functions in C++, but I think we can use https://github.com/pytorch/pytorch/blob/dbf

[2019-10-26 02:08] botcs commented on #23907
thanks for the questions @mruberry
1. I doubt that it is intuitive, and as I was able to come up with multiple implementations that have the same effect but different efficiency it proves that it is not straightforward.
1. This problem scales. When an image can be inferred in approx 1 sec (upper bound for maskrcnn) having a 261 msec count nonzero algorithm for evaluation scales up and adds 7.25 ex

[2019-10-26 03:48] mruberry commented on #23907
@botcs You make a great case.

[2019-10-26 04:19] jizongFox commented on #20967
@sublee  Hi, this issue has not been solved yet (PyTorch=1.3.0). Any alternative ways to deal with BN statistic tracking with `track_running_stats`=False?

[2019-10-26 04:43] jizongFox commented on #16793
@SsnL  See the reproduction of the bug:
[code]
There is indeed something wrong with this implementation for `PyTorch 1.3.0`

[2019-10-26 05:12] calclavia opened #28738 "GELU should work with fp16"
## 🚀 Feature

When using `nn.Transformer` with FP16, this error will occur when using GPU:
RuntimeError: "GeluCUDAKernelImpl" not implemented for 'Half'

## Motivation

GELU FP16 support will speed up training.

## Alternatives

Temporarily use RELU activation, which makes it harder to replicate models such as BERT.

[2019-10-26 05:25] standbyme opened #28739 "[JIT] `iterator expression` is expected to accept `Tensor`"
- PyTorch 1.3.0
- Python 3.6.9
- CUDA 10.1

[code]
Now, this code will output
[code]
However, this feature is useful for the framework lacks the function which is able to do the follow work:

Convert
[code]
To
[code]

Thanks!

cc @suo

[2019-10-26 06:18] phongnhhn92 commented on #28272
Hello, does this new build available on pytorch conda package ?

[2019-10-26 07:13] elbamos commented on #27627
The problem does appear in #23193 (commit 505fa83, July 29).  I also tested the immediately preceding commit, d3fcb4c, however, and the issue was present there as well.

Can you point me to the earliest PR or commit that contained testable namedtensor code? (Meaning that if torch loads, there is some sequence of calls I can execute to confirm the presence of compiled namedtensor code.)

[2019-10-26 09:00] sunskyhsh opened #28741 "onnx parsing issue due to Gather[axis=0] in onnx model converted from pytorch model"
## 🐛 Bug

Onnx can't parse the onnx model converted from pytorch '.pth' model, and reports following issue:
[code]

This is how I convert pytorch model to onnx model.
[code]

In the output log of above conversion  I find the Gather[axis=0] operations:
[code]

And the Gather[axis=0] operations come from the 239th and 240th line in seg_hrnet.py:
[code]

## To Reproduce

Steps to reproduce the behavi

[2019-10-26 09:22] vadapalliravikumar opened #28742 "torch.as_tensor does not create named tensors"
## 🐛 Bug

torch.as_tensor() fails to create named tensors

## To Reproduce

1. try to create a tensor from numpy ndarray using torch.as_tensor()

        image = cv2.imread(imgPath)
        image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)
        image = torch.as_tensor(image, dtype=torch.uint8, names=('H', 'W', 'C')).align_to('C', 'H', 'W')

E       TypeError: as_tensor() got an unexpected keyword

[2019-10-26 12:09] quickwritereader commented on #27678
I'd like to resume working on this in the coming weeks and open pull request so that we could discuss based on modifications.

[2019-10-26 12:50] daniel-j-h opened #28743 "Sampler for IterableDataset"
## 🚀 Feature

The IterableDataset is too restrictive by not allowing the combination with samplers. Sampling from a stream is well understood and possible on the fly. IterableDataset should support these use cases.

## Motivation

The IterableDataset abstraction is great for abstracting a stream of data we want to iterate over in a forward fashion. Right now it is not compatible with samplers, tho

[2019-10-26 13:46] liushuainudt opened #28744 "Building PyTorch locally on Macos 10.15 error: ptrdiff_t typedef redefinition with different types"
When building PyTorch from source on latest version of MacOS (10.15), I get an error about  typedef redefinition with different types.

### **Output of collect_env.py**
PyTorch version: N/A
Is debug build: N/A
CUDA used to build PyTorch: N/A

OS: Mac OSX 10.15
GCC version: Could not collect
CMake version: version 3.11.1

Python version: 3.6
Is CUDA available: N/A
CUDA runtime version: Could not co

[2019-10-26 13:59] IlyaOvodov commented on #27568
You fixed error No.4.
But what about No.3: Set Unicode carachter set in the project settings: you have an error .\libtorch\include\torch\csrc\jit\pickler.h line 34 with
UNICODE = 'V',
?
This issue shouldn't be closed.

[2019-10-26 14:04] liushuainudt commented on #28744
**I find a possible solution:**
On file: **tclInt.h**
change
[code]
to
[code]

[2019-10-26 14:21] peterjc123 commented on #27568
Thanks for pointing out. Actually for no.3, the workground is obvious. Just define another macro to save the value of `UNICODE`, unset it, include the torch headers and then restore the value. However, I couldn't figure out an elegant solution without changing the name of that variable to avoid the conflict between the macro and the variable. Any ideas, @ezyang?

[2019-10-26 14:49] jc-hou opened #28745 "Problem when installing Pytorch from source on CentOS 7.4"
## 🐛 Bug
[3171/3442] Building CXX object caffe2/torch/CMakeFiles/torch_python.dir/csrc/jit/init.cpp.o
In file included from ../c10/core/Device.h:5:0,
                 from ../c10/core/Allocator.h:6,
                 from ../aten/src/ATen/ATen.h:3,
                 from ../torch/csrc/utils/pybind.h:5,
                 from ../torch/csrc/jit/init.cpp:2:
../torch/csrc/jit/pybind_utils.h: In function

[2019-10-26 15:03] woxuankai opened #28746 "super().__init__() not called in torch.nn.Module.__init__"
## 🐛 Bug

`torch.nn.Module.__init__` doesn't call the `__init__` of its parent class , which will case troubles in multiple inheritance.

## To Reproduce

For example,
[code]
will only print
[code]
while `MyBase.__init__` is NOT called.

## Expected behavior

print
[code]

## Environment

PyTorch 1.3.0

## Additional context

[Deep Thoughts by Raymond Hettinger](https://rhettinger.wordpress.com/20

[2019-10-26 17:11] vadapalliravikumar opened #28747 "pytorch 1.3, addition of different data typed tensors after permute giving incorrect results"
## 🐛 Bug

- Addition of different data typed tensors after permute giving incorrect results.
- Addition of same data typed tensors is fine
- Addition of different datatyped tensors was not allowed in pytorch 1.2, so this never happened in 1.2 version.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

[code]

## Environment
PyTorch version: 1.3.0
Is debug build: No
C

[2019-10-26 19:41] yurivict commented on #24810
I was able to build PyTorch, thank you for your help.

It fails in the runtime, however. I'll create a separate issue for this.

[2019-10-26 19:44] yurivict opened #28749 "Fails on FreeBSD: ImportError: /usr/local/lib/libtorch.so: Undefined symbol "cpuinfo_isa""
[code]

FreeBSD 12.
Got this in an attempt to create a FreeBSD port. The port builds and installs, but fails with this error.

https://people.freebsd.org/~yuri/py-pytorch.shar

[2019-10-26 19:52] fmassa commented on #28747
Seems like a pretty serious bug.

[2019-10-26 22:19] galv commented on #22256
Handled now: https://github.com/pytorch/pytorch/issues/17492#issuecomment-524692441

This should be closed.

[2019-10-26 23:22] adamjstewart commented on #24437
For the record, this bug still occurs in PyTorch 1.3.0.

[2019-10-26 23:22] adamjstewart commented on #23482
For the record, this bug still occurs in PyTorch 1.3.0.

[2019-10-27 00:19] j-luo93 commented on #28646
Thanks for the quick response! Is there any workaround that I can use right now?

[2019-10-27 00:25] soumith commented on #24093
closed via https://github.com/pytorch/pytorch.github.io/commit/98f41eab2df3bfa0fccbfedebccaa5d624f13767

[2019-10-27 00:25] #24093 closed

[2019-10-27 01:38] myhub commented on #19106
face The same problem, windows libtorch 1.3.0 dowloaded from official site much slower

[2019-10-27 04:59] SsnL commented on #16793
@jizongFox `track_running_stats ` is meat to be set at constructor, not afterwards, because it changes how buffers area created. Also, what you described is unrelated from what this issue was about.

[2019-10-27 08:04] SayantiBardhan commented on #20864
@soumith I am facing a similar CuDNN issue, when I import tensorflow-gpu before pytorch. Not sure how to solve such an issue.

[2019-10-27 09:06] yurivict commented on #28749
I solved this by replacing AMD64 -> amd64 in one cmake file.

[2019-10-27 09:06] #28749 closed

[2019-10-27 09:07] yurivict opened #28751 "Runtime failure: ImportError: /usr/local/lib/libtorch.so: Undefined symbol "_ZN2at6native12DispatchStubIPFvRKNS_6TensorEPS2_ENS0_10GeluKernelEE4AVX2E""
What is missing during the build?

FreeBSD 12

[2019-10-27 09:08] Limingxing00 opened #28752 "RTX 2080Ti on pytorch"
# device
RTX 2080Ti
pytorch 0.4.1_cuda9.2_cudnn7.1.4

# question
RTX 2080Ti  cannot run with pytorch 0.4.1_cuda9.2_cudnn7.1.4? I find I can run my device on cuda10, but now I want to reproduce the work of others which is cuda9.2.
I don't know how to solve this contradiction now, please help me, thank you.

[2019-10-27 09:58] qzhong0605 opened #28753 "some caffe2 header files are not included on a built torch package"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Build a torch wheel package with the following command:
[code]
2. Install the above built package:
[code]
3. The header files on `math` and `threadpool` are not included on the built package
[code]

## Expected behavior

The  header files on `math` and `threadpool` should be included on the built package because they
are included on t

[2019-10-27 11:00] gloryVine commented on #18626
I need this too.

[2019-10-27 11:44] #28457 closed

[2019-10-27 11:51] maxwellfrom commented on #22197
Hi @jinfagang
Have you solved the problem? I met the same problem recently, looking forward to  your help, Thank you!

[2019-10-27 12:33] maxwellfrom commented on #14352
Hi @

Hi ,Have you solved the problem? ,I met the same problem, looking forward to you help, thank you!

Hi ,Have you solved the problem? ,I met the same problem, looking forward to you help, thank you!

[2019-10-27 13:00] t-vi commented on #25833
Fixed by: Use grad_out for cudnn CTC loss #27039
Thank you for reporting!

[2019-10-27 13:00] #25833 closed

[2019-10-27 13:31] patrick-kidger opened #28754 "ABI backwards compatibility"
## 🚀 Feature
Add backwards compatibility to the ABI for LibTorch.

## Motivation

At present LibTorch doesn't seem to have a backwards compatible ABI. For those of us writing LibTorch-dependent libraries, it would be beneficial if the binaries we distribute don't break when end users update their version of PyTorch.

In particular tools such as `pip` are essentially ignorant of such concerns, and

[2019-10-27 13:49] henribru commented on #16574
There are some functions and methods in Pytorch where the return type depends on the value of an argument. An example is `nonzero` with its `as_tuple` argument. Contrary to this comment in `__init.pyi.in`, these functions can actually be typed correctly:
[code]
This requires a combination of overloads and the `Literal` type. Unfortunately it doesn't exist in the stdlib until 3.8, but it is include

[2019-10-27 13:55] #28744 closed

[2019-10-27 14:34] #22256 closed

[2019-10-27 14:54] ezyang commented on #16574
I personally think `typing-extensions` is OK, but we'll have to update the packaging if/when we add it.

[2019-10-27 16:08] j-luo93 commented on #28646
nvm, I just manually increase refcount for None after each refine_names call, based on this https://stackoverflow.com/questions/17732816/is-there-any-way-to-manually-decrease-the-reference-count-of-an-object-in-python.

[2019-10-27 16:24] yurivict opened #28756 "aten/src/ATen/CMakeLists.txt"
This file has
[code]

which ignores ```${all_cpu_cpp}``` when none of ```AT_MKL_ENABLED``` and ```AT_MKLDNN_ENABLED``` are defined.

There are two bugs:
1. The above code should be ```if() ... else if() .... else ERROR(no mkll defined) endif```
2. The top-level cmake file should disallow having both ```AT_MKL_ENABLED``` and ```AT_MKLDNN_ENABLED``` be ```OFF```.

[2019-10-27 16:24] yurivict commented on #28751
This bug is possibly caused by https://github.com/pytorch/pytorch/issues/28756

[2019-10-27 16:59] vadimkantorov opened #28757 "[feature request] Docs for fuse_conv_bn_eval"
Even if it is internal/experimental, it's quite useful for end users as well.

Curently [`fuse_conv_bn_weights`](https://github.com/pytorch/pytorch/blob/master/torch/nn/utils/fusion.py#L22) assumes 2d convolution and hard-codes 4-dim weights, which is not true for Conv1d/Conv3d. However it's easy to support any dimension:
[code]

[2019-10-27 17:01] yurivict commented on #28756
Looking further, you have cmake/Modules/FindMKLDNN.cmake who's apparent purpose should be finding ```mkl-dnn``` but instead it looks for some other package called ```ideep```.

The ```mkl-dnn``` package actually provides cmake find, and FindMKLDNN.cmake shouldn't be necessary in PyTorch.

[2019-10-27 17:03] koelscha opened #28758 "Bug in tensor.mul() with different dtypes"
When I multiply two sliced tensors of different dtypes, the result is arbitrary. This happens silently without even a warning being printed. As this works fine in numpy I expected it to work in pytorch as well.
Apparently, this can be avoided by making the slices contiguous.

Here's a notebook for reproducing the behavior: https://gist.github.com/koelscha/4dc9255a83e39b36b1cf20afa3c6fa74

PS: I'm

[2019-10-27 17:05] yurivict commented on #28756
Could you please remove the bogus file cmake/Modules/FindMKLDNN.cmake ?

[2019-10-27 17:47] mansoorcheema commented on #25883
Hi @yf225 I have completed the implementation code for LocalResponseNorm #28759  and wrote some tests. Can you have a look, specially at the tests. By looking at module tests for other modules, It seems that the output from the module is compared with the output from respective native function in aten, but for LocalResponseNorm there is no direct call to underlying native functions. For functional

[2019-10-27 18:00] fmassa commented on #28758
I believe this is a duplicate of https://github.com/pytorch/pytorch/issues/28747
Let's keep the discussion there, I think this is a pretty serious bug

[2019-10-27 18:00] #28758 closed

[2019-10-27 19:25] crowsonkb opened #28761 "torch.tensor() is very slow when it is passed an h5py Dataset."
## 🐛 Bug

`torch.tensor()` is very slow when it is passed an h5py Dataset.

## To Reproduce

Create a new HDF5 file with a 1000x1000 float32 dataset:

[code]

Then load it back into a Tensor:

[code]

It's very slow. However, if the dataset is converted into a NumPy array first, it performs much faster:

[code]

The resulting tensors are equal. Perhaps the manual NumPy array conversion avoids an e

[2019-10-27 20:17] IlyaOvodov commented on #27568
@peterjc123, I can't guess it is elegant :) but I can propose solution to do it inside pickler.h:
[code]
Because workaround to do the same in outer code is really obvious (I did fix it this way), but only after you've found the source of the error, and still seems even less elegant :)
An idea to change the name of the variable also seems not bad.

[2019-10-27 20:24] elbamos commented on #27627
First build problem to resolve:
With f51de8b (June 26), I get an error linking libtorch:

[code]

[2019-10-27 20:52] jjsjann123 opened #28762 "[JIT] with statement support in ScriptModule"
## 🚀 Feature

We request the consideration of supporting `with` statement inside `nn.Module` in scripting. The scope of enclosed operations by the `with` statement should be properly represented in ScriptModule, to support consistent behavior between eager execution and graph execution.

## Motivation

As in proposal #25081, *Auto-Casting* section proposes to use `with` guard to expose knobs for u

[2019-10-27 20:54] jjsjann123 commented on #28762
cc'ing @mruberry @ngimel @csarofeen for visibility.

[2019-10-27 20:55] jjsjann123 commented on #25387
Filed #28762 to track the feature request for with statement support in JIT. Without which we cannot have proper AMP support in `torch.script`

[2019-10-27 22:32] vfdev-5 opened #28765 "Tensorboard SummaryWriter.add_hparams does not log hparam metric with spaces"
## 🐛 Bug

## To Reproduce
The following code logs correctly
[code]

<img width="1436" alt="Screen Shot 2019-10-27 at 23 26 49" src="https://user-images.githubusercontent.com/2459423/67642957-8f924980-f911-11e9-81af-64bbacdda12f.png">

and this code does not log `hparam/test accuracy` values
[code]
<img width="1433" alt="Screen Shot 2019-10-27 at 23 28 25" src="https://user-images.githubusercontent

[2019-10-27 23:04] vadimkantorov commented on #28761
Does `torch.as_tensor()` instead of `torch.tensor()` perform as badly?

[2019-10-27 23:09] crowsonkb commented on #28761
Yes.

[2019-10-27 23:15] vadimkantorov commented on #28757
I think this will be required to support fusion for the Conv3d quantized variant as well in https://github.com/pytorch/pytorch/pull/28768

[2019-10-27 23:57] SsnL commented on #28752
CUDA 9 does not support RTX cards so there is nothing we can do.

[2019-10-27 23:57] #28752 closed

[2019-10-28 00:00] SsnL commented on #28743
Hi, could you let us know how you'd imagine IterableDataset to work with samplers?

[2019-10-28 02:11] litaozijin opened #28771 "why the data-type of output is quint8 in static quantize? what static quantize does under the hood?"
Here is a example of static quantize,My python is version 3.7 and torch is 1.3.:
`
import torch
import torch.nn as nn
m = nn.quantized.Linear(20,30)
input = torch.randn(128.20)
input = torch.quantize_per_tensor(input,1.0,0,torch.quint8)
output = m(input)
print (output.dtype)
`
I feel confused why the data-type of output is quint8 rather than float or int-32 in static quantize，it may  will cause ac

[2019-10-28 02:48] #28751 closed

[2019-10-28 02:49] yurivict opened #28772 "PyTorch fails in the runtime: ImportError: /usr/local/lib/libtorch.so: Undefined symbol "cpuinfo_isa""
[code]

Version 1.3.0
FreeBSD 12

[2019-10-28 02:52] heiyuxiaokai commented on #21819
I met the same problem with 2080ti. Setting batch from 2 to 1 and reducing the gtBoxes of per image didn't work.

[2019-10-28 03:12] zhanwenchen commented on #22526
Hi @jjsjann123. This may be broken again. I just built from source (1.4.0) with CUDA 10.0 on NVIDIA 1060. Happened in Upsample scale_factor = (1, 2).

[code]

[2019-10-28 03:51] uddmorningsun opened #28775 "[feature request] Whether or not any planning to support mips64 arch environments"
## 🚀 Feature
pytorch can be compiled in `mips64` arch successfully, and then utilize related API to develop :+1:

## Motivation
I'm working on compiling pytorch in mips64 arch, but it doesn't work

[code]
I have tried add `-I /home/yancy/pytorch/third_party/sleef/src/arch/` in `build/CMakeCache.txt` and `make rebuild_cache`, same error happened.

## Pitch
pytorch can be compiled in `mips64` arch

[2019-10-28 04:13] vippeterhou opened #28776 "How to use torch.quantization.get_observer_dict(mod, target_dict, prefix='')"
## ❓ How to use torch.quantization.get_observer_dict(mod, target_dict, prefix='') to get the observer dict

Can you provide an example for this usage? Thanks a lot!

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a

[2019-10-28 04:34] Multihuntr opened #28777 "cudnn.determinstic=True causes dilated convolution to be >10x slower"
## 🐛 Bug

If you set `torch.backends.cudnn.deterministic=True`, and then create and use a Conv2d layer, it's MUCH slower than if you use `torch.backends.cudnn.deterministic=False`. My tests found it to be between 10-80x slower.

## To Reproduce

I wrote a timing script to see how much slower:

[code]

Which I coordinated with a bash script:

[code]

Which gives:

[code]

## Expected behavior

Alth

[2019-10-28 04:40] adamjstewart commented on #24334
@soumith it worked, thanks!

I'm fine with closing this issue, although we should probably:

1. Add your `CMAKE_PREFIX_PATH` suggestion to the `Please specify library location` error message, and/or
2. Come up with a more robust way of locating the library.

[2019-10-28 04:42] hexiangquan opened #28778 "andoroid quantization model (mobilenetv2) first forward very slow? but second forward faster why how to fix it"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a

[2019-10-28 05:34] #28772 closed

[2019-10-28 05:37] yurivict opened #28780 "'import torch` fails with Illegal instruction"
While trying to create a FreeBSD port for ```PyTorch```.

The port builds, but crashes with ```Illegal instruction```: https://people.freebsd.org/~yuri/py-pytorch.shar

Not sure where to go from here.

[2019-10-28 06:03] dylanbespalko commented on #755
@ezyang,

I am beginning to mess around with complex number CUDA support.

There are two binary compatible options:
  1.  [cuComplex](https://github.com/pathscale/nvidia_sdk_samples/blob/master/matrixMulCUBLAS/build/cuda/5.0.35-13978363_x64/include/cuComplex.h): Very basic add, sub, mul, div, real, imag support.
  2. [thrust::complex](https://github.com/thrust/thrust/blob/0d2bcb3af4e1b39bd5bb77809

[2019-10-28 06:12] heiyuxiaokai commented on #21819
@ptrblck I tried the PyTorch(1.3.0), still having the same problem
Trian log:

invalid argument
an illegal memory access was encountered
an illegal memory access was encountered
Traceback (most recent call last):
  File "tools/train_net.py", line 174, in <module>
    main()
  File "tools/train_net.py", line 167, in main
    model = train(cfg, args.local_rank, args.distributed)
  File "tools/train_

[2019-10-28 07:55] PierreHao commented on #28644
I have tried with torch1.2, the same problem. But with torch1.1 it runs well.
mkl-fft 1.0.0
mkl-random 1.0.1
numpy 1.14.3
and any other libs do torch.matmul depend on ?

[2019-10-28 08:04] Tieftaucher commented on #28647
Thank you for the fast reply and for the hints.
You are right, when using gc.collect() and empty_cache the gpu memory is freed. So, I guess there is no bug.

[2019-10-28 08:17] koelscha commented on #28758
Oh, sorry. Did not see this issue. Thanks for referencing.

[2019-10-28 08:18] koelscha commented on #28747
This is not only happening for addition, but also for other operands, cf. reference above

[2019-10-28 09:12] vlad-i commented on #27738
I'm also looking into this

[2019-10-28 09:20] edumucelli commented on #11111
I was having the same issue and ended up building my own wheels with CUDA 9.1. The wheels for PyTorch 1.0, 1.1, 1.2, and 1.3 with CUDA 9.1 are in [this](https://github.com/edumucelli/build-pytorch/releases) repository if you want.

[2019-10-28 09:20] JoeJoeMango commented on #28648
Hey does this happen to look familiar to you?

`[  9%] Linking CXX static library ../../../lib/libbenchmark.a
[  9%] Built target benchmark
[  9%] Linking CXX static library ../../../lib/libgtest.a
[  9%] Built target gtest
make: *** [Makefile:141: all] Error 2
Failed to run 'bash ../tools/build_pytorch_libs.sh --use-nnpack --use-mkldnn --use-qnnpack caffe2'
`

[2019-10-28 10:00] daniel-j-h commented on #28743
Sure,

1. when the user knows the IterableDataset's size in advance a sampler should be a able to iterate the dataset and e.g. sub-sample it (similar to `itertools.compress`)

2. when the user does not know the IterableDataset's size in advance a sampler should be able to e.g. sub-sample while iterating, as it can be achieved e.g. with the reservoir sampling technique

[2019-10-28 10:46] rainker89 commented on #27841
found the same err on opest_version=11

[2019-10-28 11:18] rgommers commented on #28576
This looks like a bug (at least for anyone used to NumPy semantics), but it is designed behavior and not specific to `mm`. So this bug report is probably not all that useful - how about closing this, closing gh-5272 as well, and updating gh-8989 with a complete description of the potential issues and use it as the one tracking issue for `out=` behavior?

[2019-10-28 12:25] JoeJoeMango commented on #28648
I am pretty sure thats what I am doing. Yes it completed with no errors.
When I try to use it I get this:
`Traceback (most recent call last):
  File "demo_cli.py", line 4, in <module>
    from encoder import inference as encoder
  File "/home/pi/Desktop/Real-Time-Voice-Cloning/encoder/inference.py", line 2, in <module>
    from encoder.model import SpeakerEncoder
  File "/home/pi/Desktop/Real-Time

[2019-10-28 13:22] albanD commented on #28648
You have the intructions [here](https://github.com/pytorch/pytorch#from-source).

[2019-10-28 13:24] Mxbonn commented on #28375
I'm having the same issue
https://discuss.pytorch.org/t/error-when-converting-quantization-aware-trained-model-for-evaluation/59021/3

[2019-10-28 13:26] JoeJoeMango commented on #28648
I have done this and it built with no errors and it still does not see the module torch

[2019-10-28 13:31] albanD commented on #28648
You need to make sure that the `python` you use to run the `python setup.py install` is the same as the one you use to check. Otherwise you can try to uninstall torch with `pip uninstall torch` (associated with the same python above).

[2019-10-28 13:34] ayush-1506 commented on #28033
Right, that probably makes sense. Please let me know if I should go ahead with this.

[2019-10-28 13:35] albanD commented on #28576
Hi,

yes the other issues already discuss the limitations of the `out=` keyword.
Unfortunately anything beyond adding warnings in the dangerous cases would be breaking changes and can be tricky to roll out.
Feel free to post in these issues if you have ideas about how to improve the API while limiting breaking current code that uses it.

[2019-10-28 13:35] #28576 closed

[2019-10-28 13:40] ezyang commented on #27568
Yes, let's rename the macro. Send in a PR and assign me as reviewer.

[2019-10-28 13:41] ezyang commented on #27627
For the mkldnn errors, build with `USE_MKLDNN=0` (this is under the assumption that MKLDNN isn't the library which is causing the problem, which to be honest, it's pretty high on the suspicious list.) For the `aten_op.h` error, you need to do a clean before rebuilding (`aten_op.h` doesn't recompile correctly).

[2019-10-28 13:43] prasunanand commented on #27365
Fix: https://github.com/pytorch/pytorch/pull/28643

[2019-10-28 13:43] #27365 closed

[2019-10-28 13:49] whyang9701 opened #28781 "run run_test.py has error"
## ❓ Questions and Help
hi
I am new at pytorch

i try to install pytorch with ROCm and step by step following https://rocm-documentation.readthedocs.io/en/latest/Deep_learning/Deep-learning.html#building-pytorch-for-rocm

output of "PYTORCH_TEST_WITH_ROCM=1 python test/run_test.py --verbose" should all correct ,but i got some error like this

[code]
test_lerp_tensor_weights,
test_unused_output_dev

[2019-10-28 13:52] ezyang commented on #755
1. I think the difficulty with using `thrust::complex<double>` universally for CPU and CUDA is that we don't actually build against thrust if you do a CPU only build. I guess there are a bunch of options; we could roll our own complex type (similar to how we roll our own half type), or you could just reinterpret cast your way to victory, because `std::complex<>` is defined to have a specific binar

[2019-10-28 14:01] #28646 closed

[2019-10-28 14:08] zhangguanheng66 commented on #28272
Not yet. We may need a point release for that.

[2019-10-28 14:36] peterjc123 commented on #27568
I'm fixing it with #28782.

[2019-10-28 14:51] JoeJoeMango commented on #28648
I wiped it from my system and started over:
Put that one line in the CMake file
I cant get past this point now:
[code]

[2019-10-28 15:01] #24334 closed

[2019-10-28 15:07] zou3519 commented on #28747
cc @nairbv

[2019-10-28 15:07] phongnhhn92 commented on #28272
So if i uninstall the conda pytorch and install it again using pip then it might be fixed ?

[2019-10-28 15:11] soumith commented on #28272
no

[2019-10-28 15:16] zhangguanheng66 commented on #28703
@nairbv

[2019-10-28 15:27] hi-ogawa commented on #28598
Hi @zxydi1992, I think your expectation about `masked_scatter` is not correct here and it does not (necessarily) satisfy the equation you showed `t.masked_scatter(mask, t) == t`.
If carefully read documentation (of [masked_scatter_](https://pytorch.org/docs/stable/tensors.html#torch.Tensor.masked_scatter_)), it says:

which means, for example, it does something like this:

[code]

So, I believe, i

[2019-10-28 15:28] anjali411 commented on #27598
PR: #28784

[2019-10-28 15:30] FDSJK commented on #3387
How can deal with the margin problem when I using unfold function for many times to extract 3d patches, because I found that some of pixels in margin will be ignored when the patch size can not be exactly divided.

[2019-10-28 15:30] SsnL commented on #28743
These definitely make sense and are valid uses! They are a bit different
from the current sampler interface in PyTorch though, since the PyTorch
samplers are used for sampling keys before data loading rather than the
data after obtaining them. The current recommended way to implement the sub
sampling procedure you described is to directly put them in your
IterableDataset code. Do you think that is

[2019-10-28 15:31] zhangguanheng66 commented on #28709
I reproduce the error with the following deterministic test.

[code]
@nairbv

[2019-10-28 15:37] albanD commented on #28648
Unfortunately I don't have a pi to test this.
You want to make sure that your code is compiled with the `-latomic` flag. From the informations at the beginning of the setup.py file, you can try `CFLAGS=-latomic python setup.py install` ?

[2019-10-28 15:43] zhangguanheng66 commented on #28598
@zxydi1992 Could you check the master branch and report it here. Feel free to reopen the issue if you still have questions.

[2019-10-28 15:43] #28598 closed

[2019-10-28 15:52] julioasotodv commented on #28423
Hi @daquilnp,

Indeed, in this case it would work. However, if I add other layers in the model that are not traceable due to its dynamic nature (eg. nn.LSTM) the traced model would be wrong.

Torchscript added support for pack_padded_sequence and pad_packed_sequence in #21282, so the problem is in the ONNX export and not in torch.jit. script IMO.

[2019-10-28 16:02] gchanan commented on #28430
IMO we should:
1) document the signature as `addcdiv(input, tensor1, tensor2, *, value=1, out=None) -> Tensor`

2) actually deprecate (print a deprecated warning) for the overloads to addcdiv, addcmul).

[2019-10-28 16:06] gchanan commented on #28747
This looks to be fixed on master.

[code]

[2019-10-28 16:24] mrshenli opened #28786 "RPC couldn't match torch.ones with requires_grad=True"
## 🐛 Bug

I was trying to use `rpc.remote` to create a tensor with `requires_grad=True`, but hit the following error:

[code]

### To Reproduce

[code]

### Work Around

Wrap `torch.ones` into a user function can pass that user function to remote, e.g.,

[code]