[2022-02-28 21:40] ezyang opened #73539 "Tensor subclasses cannot interpose make_dual via __torch_dispatch__"
### 🐛 Describe the bug

Issue has been modified, scroll down

----

[code]

This prints

[code]

### Versions

master

cc @ezyang @albanD @zou3519 @gqchen @pearu @nikitaved @soulitzer @Lezcano @Varal7

[2022-02-28 22:24] zou3519 opened #73541 "forward ad failure with F.batch_norm"
### 🐛 Describe the bug

Maybe I shouldn't be trying to get the forward-mode AD with respect to the saved _mean and saved_var, but it should throw a nicer error message than the following:
[code]
gives RuntimeError: Setting a forward grad that itself has a forward gradient at the same level0 is not supported.

### Versions

master

cc @ezyang @albanD @zou3519 @gqchen @pearu @nikitaved @soulitzer @L

[2022-02-28 22:47] zhaojuanmao commented on #73515
@carmocca the out_tensor_list in the forward of all_gather is a list of tensors and are not necessarily continuous.

torch.distributed has a more efficient version of all_gather, called "_all_gather_base", it will return a flat continuous tensor. I think the 'torch.distributed.functional.all_gather' can use '_all_gather_base' to fix this issue and run more efficiently.

are you interested in contr

[2022-02-28 22:50] bdhirsh commented on #73537
Oh I think I know why. It's exactly because I changed my `::redispatch`s to `::call`s, which causes the functionalization kernel to not actually be re-entrant.

I'm not sure what the best way to deal with this problem is, but first I'll walk through what breaks.

**The Problem**

The dispatch chain looks something like this:
[code]

**Potential Fixes**

Fix 1: Change my `::call()`s in the function

[2022-02-28 23:07] rohan-varma opened #73542 "Investigate why tensor shapes are not populated when printing WorkNCCL for broadcast"
### 🐛 Describe the bug

When creating a `WorkNCCL` with `broadcast` OpType, sometimes the tensor shapes are not populated which results in the shape not being printed in logs making things harder to debug, we should look into why this is the case and fix.

### Versions

Main

[2022-02-28 23:12] sdberardinelli commented on #70297
A work around would be to cast SIGSTKSZ as an **int**.  However this may have unforeseen implications, so it's not necessarily a fix.

pytorch/third_party/breakpad/src/client/linux/handler/exception_handler.cc:144
[code]
to
[code]
After doing this, I was able to successfully compile (native aarch64).

[2022-02-28 23:37] zhaojuanmao opened #73547 "Check mismatched number of parameters in DDP _verify_params_across_processes"
### 🚀 The feature, motivation and pitch

Some use cases may encounter errors like mismatched number of parameters in DDP, _verify_params_across_processes should check this error before checking shapes and sizes of parameters

### Alternatives

_No response_

### Additional context

_No response_

cc @ezyang @gchanan @zou3519 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @g

[2022-02-28 23:37] janeyx99 commented on #61375
Further progress now tracked in #72556 and #72558

[2022-02-28 23:37] #61375 closed

[2022-02-28 23:39] acxz commented on #70297
The proper solution is the one included in the PR associated with this issue.

[2022-02-28 23:42] thiagocrepaldi commented on #68975
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-02-28 23:42] #68975 closed

[2022-02-28 23:44] thiagocrepaldi commented on #21455
@CaichaoGitHub we need the full script, not just a URL for the model you mentioned. If you are unable to provide it, we will close this issue

[2022-02-28 23:46] thiagocrepaldi commented on #25508
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-02-28 23:46] #25508 closed

[2022-02-28 23:46] thiagocrepaldi commented on #25510
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-02-28 23:46] #25510 closed

[2022-02-28 23:46] thiagocrepaldi commented on #25603
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-02-28 23:46] #25603 closed

[2022-02-28 23:47] thiagocrepaldi commented on #25794
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-02-28 23:47] #25794 closed

[2022-02-28 23:47] thiagocrepaldi commented on #26073
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-02-28 23:47] #26073 closed

[2022-02-28 23:47] thiagocrepaldi commented on #25362
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-02-28 23:47] #25362 closed

[2022-02-28 23:47] thiagocrepaldi commented on #26103
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-02-28 23:47] #26103 closed

[2022-02-28 23:48] thiagocrepaldi commented on #26785
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-02-28 23:48] #26785 closed

[2022-02-28 23:48] thiagocrepaldi commented on #26138
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-02-28 23:48] #26138 closed

[2022-02-28 23:49] thiagocrepaldi commented on #26888
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-02-28 23:49] #26888 closed

[2022-02-28 23:49] thiagocrepaldi commented on #26956
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-02-28 23:49] #26956 closed

[2022-02-28 23:50] thiagocrepaldi commented on #27032
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-02-28 23:50] #27032 closed

[2022-02-28 23:50] thiagocrepaldi commented on #27718
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-02-28 23:50] #27718 closed

[2022-02-28 23:50] thiagocrepaldi commented on #28741
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-02-28 23:50] #28741 closed

[2022-02-28 23:53] zhaojuanmao commented on #68407
maybe related to #66504

[2022-03-01 00:37] awgu commented on #72183
Closed by https://github.com/pytorch/pytorch/pull/72446.

[2022-03-01 00:37] #72183 closed

[2022-03-01 00:45] rohan-varma opened #73552 "DISABLED test_custom_sharding_spec_shard_tensor (__main__.TestCustomShardingSpec)"
### 🐛 Describe the bug

Example failure: https://github.com/pytorch/pytorch/runs/5365860804?check_suite_focus=true

### Versions

main

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @SciPioneer @H-Huang

[2022-03-01 01:15] bdhirsh commented on #73537
It runs with this patch (I didn't test the logging behavior though)
[code]

[2022-03-01 01:27] miesav opened #73554 "Build failure using GCC 11.2.0"
### 🐛 Describe the bug

Steps used:

[code]

Output:

[code]

Build is successful with GCC 9.1.0.

### Versions

pytorch 1.10.2
pytoh 3.8.3
gcc 11.2.0
Centos 7.9.2009

[2022-03-01 01:35] mszhanyi commented on #67720
Let's see more stat. since https://github.com/pytorch/pytorch/pull/72795 was merged on Last Friday.

[2022-03-01 01:41] soulitzer commented on #73539
I think this is just a printing issue, running `fwAD.unpack_dual(y).tangent is tangent` returns True

[2022-03-01 02:22] samuela opened #73556 "Files exported by `profiler.export_stacks()` are not compatible with flamegraph"
### 🐛 Describe the bug

I'm attempting to profile a bit of PyTorch code, and the stack traces as exported by `profiler.export_stacks()` are not accepted by flamegraph.pl. In particular I'm getting errors of the form
[code]

You can see the operative bit of profiling code here:

https://github.com/samuela/cifar10-fast/blob/a660ec033899d10820a1e57b480f949d6033716e/dawn.py#L86-L109

For convenience I

[2022-03-01 02:23] samuela commented on #73556
For context, see https://github.com/google/jax/discussions/9669.

[2022-03-01 02:26] samuela commented on #73556
I'm attempting to follow the examples provided in the official docs [here](https://github.com/google/jax/discussions/9669).

[2022-03-01 02:28] kyrie-23 commented on #72763
This error still occured when I changed the model class to PLMNISTModel as below, which only forward one param.

[code]

[2022-03-01 02:31] ezyang commented on #73537
Can you argue for me why you think this patch is right? :)

I was actually thinking that functionalization shouldn't set the exclude when it goes down a level, because it does unwrapping. So it's surprising to me that this patch twiddles around with included/excluded sets.

[2022-03-01 03:17] ezyang opened #73557 "Forward AD silently loses tangent of dual number tensor subclass"
### 🐛 Describe the bug

I was playing around to see if I could simulate multiple levels of forward AD with tensor wrappers but it doesn't work. One reason it doesn't work is that `make_dual` seems to silently lose tangents when you pass a (wrapped) dual tensor as argument to the primal.

[code]

prints

[code]

If you delete the WrapperTensor call you get

[code]

which is very reasonable

### Ver

[2022-03-01 03:21] ezyang commented on #73539
Yeah, I agree with this assessment. Very odd!

[2022-03-01 03:41] mlinxiang commented on #61517
i think my question is focus on the export interface but not ONNX operator, as now torch.onnx.export parameters only support tensor or  tuple tensor, which is very limited for stateful scenes such as seq2seq model which need cache previous result of chunk input

[2022-03-01 05:01] harmonypiano opened #73559 "torch.linspace exports incorrectly to ONNX"
### 🐛 Describe the bug

`torch.linspace` gives incorrect results when exported to ONNX, as shown in the following code:

[code]

It gives the incorrect results:
[code]

The correct results from PyTorch:
[code]

[code]

### Versions

PyTorch version: 1.10.2+cu102

[2022-03-01 06:16] TestSomething22 opened #73561 "`torch.msort` is not consistent with `torch.sort`"
### 🐛 Describe the bug

Based on the documentation of `torch.msort`, `torch.msort(t)` is equivalent to `torch.sort(t, dim=0)[0]`. However, when the the input tensor's 0-dimension is 0, this fails

[code]

### Versions

pytorch: 1.10.1

[2022-03-01 06:18] machuanjiang commented on #29042
Has anyone taken this feature?

[2022-03-01 06:30] ZhongYFeng commented on #52848
I also facing the same issue even with torch==1.9.1+cu102
Have you solved this problem? Why has this question been closed? I don't see any solution.

[2022-03-01 06:32] mikeb127 commented on #73176
Seeing as no-one has objected and said they are already working on it, I will make the changes and test them over the next few days. PR be ready to go sometime next week.

[2022-03-01 06:59] 18445864529 commented on #52848
The problem is usually due to wrongly set world size / ranks, for example when you tell it there are a total of 8 workers (gpus) but it can only find 4.

[2022-03-01 07:08] jianan-gu opened #73562 "<c10d/debug.h> included in c10d/ProcessGroup.hpp makes <c10d/ProcessGroup.hpp> unable to expose to users"
### 🐛 Describe the bug

In the release 1.11 branch https://github.com/pytorch/pytorch/commits/release/1.11

1.  <c10d/ProcessGroup.hpp> is supposed to expose to users
2.  <c10d/ProcessGroup.hpp> recently added include files <c10d/debug.h> in this [commit](https://github.com/pytorch/pytorch/commit/055052bf64ab9ed6196324df38c03107c574f1fe), while <c10d/debug.h> is not exposed to users
      _pytorch

[2022-03-01 07:30] #73135 closed

[2022-03-01 07:33] three-sheep commented on #62470
解决了嘛，哥们。我突然打开遇到这个问题，之前用都好好的

[2022-03-01 07:37] Miezhiko commented on #70297
@acxz maybe we need to ping some people for review? I'm not fully sure.

[2022-03-01 08:08] zhanglonghao1992 commented on #49828
@pankajkumar Hi, did you solve this?

[2022-03-01 08:59] yuezhuang1387 opened #73563 "Pytorch Installation from source fails"
logs
[code]
my envs
[code]

[2022-03-01 09:04] yuezhuang1387 commented on #44726
hi, how did you solve it? I have a similar problem

[2022-03-01 09:12] lw commented on #72267
@malfet @seemethere Could you take a look at https://github.com/pytorch/pytorch/issues/72267#issuecomment-1054063875? Thanks!

[2022-03-01 11:34] AleiChan commented on #39388
Hiiiiiiiii, i same error! Do you fill it?

[2022-03-01 12:53] hachreak commented on #34704
+1

I have the same issue wit torch 1.10.0

[2022-03-01 13:01] fengyx8 commented on #30664
-----------------------------
Recently I came across the same problem and fortunately I fixed it in the end. As for me, the troublesome problem occured when I deployed inappropriate versions of Cuda & Torch, and here is my solution:
1. Note that my project works on Linux.
2. I check my Nvidia & Cuda version on Linux through a simple command `nvidia-smi`.
3. Log in to [CUDA Toolkit and Correspondin

[2022-03-01 13:47] meganset opened #73565 "C++ ModuleList/ModuleDict segfault with at<ModuleType>() method"
### 🐛 Describe the bug

The at<ModuleType>() method of ModuleList and ModuleDict containers both dereference a null pointer if specified type does not match containted type.

in nn/modules/container/modulelist.h

[code]

To reproduce:

[code]
The second print attempt will segfault.

Maybe replace the last line with something like:

[code]

### Versions

I think this bug is in all libtorch versions

[2022-03-01 13:58] albanD commented on #73561
Hi,

I am not sure to follow? You compared msort and argmax here?
Also is there a specific reason for you to use an empty Tensor (one of the size is 0).

[2022-03-01 13:59] vkuzo opened #73566 "Log spew from quantization reference modules"
### 🐛 Describe the bug

When using `convert_fx` with the reference flow, there is log spew related to tensor creation inside of reference modules:

[code]

We should fix this.

### Versions

master

cc @jerryzh168 @jianyuh @raghuramank100 @jamesr66a @vkuzo

[2022-03-01 13:59] vkuzo commented on #73566
@jerryzh168 , could you find someone to help? Ideally we can improve this by the next release.

[2022-03-01 14:09] albanD commented on #73503
Thanks for the report.
We would accept a PR that makes this function a no-op for empty inputs.

[2022-03-01 14:10] albanD commented on #73502
Hey!

Note that complex32 was disabled for the upcoming release and should not be used at the moment as it is WIP

[2022-03-01 14:11] albanD commented on #73501
cc @mikaylagawarecki who has been looking at these functions recently.

[2022-03-01 14:13] albanD commented on #73498
Hi,

We use the github issue to track bug and feature requests only.
Please follow the template when filing an issue.

Also the error message seems quite actionable here: you need to change your version of torch to install this particular version of torchtext.

[2022-03-01 14:14] albanD commented on #73485
Hi,

We use github issues only for bugs or feature requests.
Please use the forum to ask questions: https://discuss.pytorch.org/

Make sure to share some code to reproduce the issue when you post there.

[2022-03-01 14:14] #73485 closed

[2022-03-01 14:15] albanD commented on #73482
Hi,

This is the expected behavior with any floating point number: anything smaller than 1e-7 for single precision should be considered 0.
Note that numpy uses double precision by default as well.

More details here: https://pytorch.org/docs/master/notes/numerical_accuracy.html

[2022-03-01 14:15] #73482 closed

[2022-03-01 14:16] albanD commented on #73481
Hi,

Could you share the code you used to reproduce such behavior?

[2022-03-01 14:18] albanD commented on #73475
Hi,

This is very much possible if an early layer is not deterministic and leads to small errors that then get amplified by the rest of the network.
You can try to use the https://pytorch.org/docs/stable/generated/torch.use_deterministic_algorithms.html?highlight=deterministic#torch.use_deterministic_algorithms flag to force determinism.

[2022-03-01 14:23] XiaobingSuper commented on #73554
@[vpirogov](https://github.com/vpirogov)

[2022-03-01 14:23] albanD commented on #73424
Hi,

Thanks for the report.
We do not backport fix to older versions so I think tht as this is fixed in maser, we can close this issue?

[2022-03-01 14:25] albanD commented on #73165
Hi,

We would be happy to accept a fix that avoid the floating point exception here.

[2022-03-01 14:27] albanD commented on #73218
Hi,

Since your Module has to run on all the GPU at once, we have to duplicate it.
Also, because all of these run in parallel, you don't know which of the two case will actually run first. So you may run the one that prints the output before the one that sets it.

[2022-03-01 14:30] #73500 closed

[2022-03-01 14:30] albanD commented on #73204
Hi,

It is hard to say without more information.
Could you share more details on what is different and how you capture it.
Even better, a minimal code sample to reproduce the issue?

[2022-03-01 14:30] NirHeaven commented on #73500
您好！我是杨明敏，邮件已收到，我会尽快答复

[2022-03-01 14:32] zou3519 commented on #73557
This is how composing jvp transforms in functorch works -- jvp(jvp constructs a TensorWrapper(TensorWrapper(x)) where each TensorWrapper has its own tangent and the DynamicLayerStack handles avoiding level confusion

[2022-03-01 14:33] #73200 closed

[2022-03-01 14:34] albanD commented on #73187
Hi, we made significant changes to this function recently. Could you try if you still see this happening in a nighlty?

[2022-03-01 14:40] TestSomething22 commented on #73561
So sorry for my mistake. Let me close it.

[2022-03-01 14:40] #73561 closed

[2022-03-01 14:46] TestSomething22 commented on #73502
Hi, based on the [reply](https://github.com/pytorch/pytorch/issues/71680#issuecomment-1035337126), `complex32` may be supported in future version, so I think we need to pay some attention on it

[2022-03-01 15:12] mszhanyi commented on #73339
@seemethere
I tried deleting these zips in my test PR #73342 and the build can pass.
https://github.com/pytorch/pytorch/runs/5374161317?check_suite_focus=true.

But I don't think it could be a solution because I don't the exact root cause now.
Why does it only occur in GHA and Why these zips?

[2022-03-01 15:19] Mirocos commented on #73204
Never mind, I made a stupid mistake, sorry to bother you

[2022-03-01 15:21] albanD commented on #73204
No worries!

[2022-03-01 15:21] #73204 closed

[2022-03-01 15:24] janeyx99 commented on #65253
Update: the test still fails for 11.3

[2022-03-01 15:26] vpirogov commented on #73554
@miesav, @XiaobingSuper, this is the result of C++ 11 breaking backward compatibility: https://github.com/oneapi-src/oneDNN/issues/1075. oneDNN 2.2.4 and up have the fix.

[2022-03-01 15:37] vadimkantorov commented on #73466
Another useful feature would be natively supporting downloads from private GitHub repo releases (it's a simple useful way to share checkpoints during project development in collaboration). For it to work, a few lines of code are needed to conact GitHub API and allow to pass in a GITHUB_TOKEN (similar to how https://github.com/github/hub/blob/master/commands/release.go#L378, https://github.com/gith

[2022-03-01 15:39] atalman commented on #72267
Please note: We don't accept cherry-picks anymore on this Issue. Thank you!

[2022-03-01 15:55] flpgrz commented on #32221
It seems it's slow also when `replacement=False`.
Apparently, the time required for sampling scales with the size of the dataset.
I'm trying to balance 1899075 samples, of which 1747117 are negative, and 151958 are positive.

[2022-03-01 15:59] danielmohansahu commented on #73424
Hi @albanD - I suppose so if there's no possibility of backporting. I am a bit confused by that though, since I see references to LTS versions of PyTorch like 1.8.2 as install options. Are those administered by the [Enterprise Support Program](https://pytorch.org/enterprise-support-program)?

[2022-03-01 16:20] davidireland3 opened #73568 "Bug when using `nn.Linear`"
### 🐛 Describe the bug

I have the strangest bug that I will try my best to explain. Note that the error only occurs when I use the GPU, and when using CPU works as expected with no errors. Note that the error that kills the script does not come from this line, but it is the cause of it -- the errors flags when I try to take a softmax of these nan values and passing into a Categorical distribution

[2022-03-01 16:24] cbalioglu commented on #72267
@atalman is there going to be another time window for cherry-picks? @lw's work (a fairly small PR) is a follow-up to #73358 and fixes an important regression.

[2022-03-01 16:37] #73377 closed

[2022-03-01 16:49] wconstab opened #73571 "conv with padding='same' fails on lazy torchscript nvfuser"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

Provide a short description.

## Code example

Please try to provide a minimal example to repro the

[2022-03-01 17:10] #71844 closed

[2022-03-01 17:10] Wulfsta commented on #73444
@malfet I don’t think this was a local build, I think I pulled a nightly build from somewhere? I can’t upgrade immediately, but will try sometime within two weeks.

[2022-03-01 17:13] nhendy commented on #73188
I'm guessing it'd need to be greater than zero right? I opened a PR #73577

[2022-03-01 17:23] jbschlosser commented on #73288
Thanks for the report! This was already addressed in #70220 and the fix is present in the [master version of the docs](https://pytorch.org/docs/master/generated/torch.nn.CrossEntropyLoss.html). Closing as completed.

[2022-03-01 17:23] #73288 closed

[2022-03-01 17:29] jbschlosser commented on #71080
Hey @ajcost, yes we would accept a PR addressing this if you'd like to contribute :)

[2022-03-01 17:32] ajcost commented on #71080
@jbschlosser thanks I assume I should throw `ValueError` in this case

[2022-03-01 17:36] janeyx99 commented on #67720
It looks like the last instance was found on Feb 17:

https://circleci.com/gh/pytorch/pytorch/17006834

So this seems fixed!

[2022-03-01 17:36] #67720 closed

[2022-03-01 17:48] jbschlosser commented on #71080
@ajcost Yes, that's correct.

[2022-03-01 17:56] jbschlosser commented on #73565
Hey @meganset, thanks for the report! We'd accept a PR fixing adding the check if you'd like to contribute.

[2022-03-01 17:57] qihqi commented on #41417
hi @norabelrose, thanks for the interest in this issue. Feel free to get started!

[2022-03-01 17:57] kurtamohler commented on #72766
@LvJC, at the moment, they are implemented using an algorithm that can add numbers together in a different order each time it's run. Due to floating point error, different orders can produce slightly different results

[2022-03-01 18:03] garymm commented on #61517
@thiagocrepaldi that's not accurate. The position of the dict arg shouldn't matter.
But the caveats in the first link are relevant here:

[2022-03-01 18:15] ngimel commented on #73176
@mikeb127 typically we don't do `.min().item()` checks in cuda functions because they cause device synchronization, and instead do kernel asserts where necessary.
@ilovepytorch please provide minimum reproducible examples for other functions you list.

[2022-03-01 18:18] neochristou commented on #73187
Hello, the function still crashes in nightly (version `1.12.0.dev20220301`).

[2022-03-01 18:18] jbschlosser commented on #73172
Hey @pilot7747, thanks for the request! As you mentioned, it should be straightforward to create such a square layer by subclassing `LazyLinear` or `LazyModuleMixin`, but please feel free to post here if you run into problems doing so. Note that, to reduce maintenance costs, we try to minimize the set of modules we provide in PyTorch core to those that are widely used or expected to be present. If

[2022-03-01 18:23] #889 closed

[2022-03-01 18:27] ngimel commented on #32221
Yes, this was fixed after 1.3

[2022-03-01 18:27] #32221 closed

[2022-03-01 18:35] malfet commented on #72267
@cbalioglu abovementioned PR was merged, but it will probably be a good indication that something as non-trivial as https://github.com/pytorch/pytorch/pull/73358 should not have been picked into the branch one day before final RC

[2022-03-01 18:37] xiaomengy opened #73582 "Add torch.distributions.MultivariateNormalDiag"
### 🚀 The feature, motivation and pitch

Currently in torch.distributions we only have torch.distributions.MultivariateNormal which needs to pass the full covariance_matrix. While in a lot of cases, we just need the multivariate normal distributions with all of the dimensions independent to each other. In that case the covariance_matrix is a diagonal matrix. So it will be much more convenient to h

[2022-03-01 18:45] xiaomengy opened #73584 "Consider to have something like torch.distributions.functional"
### 🚀 The feature, motivation and pitch

Currently we have many distribution classes in torch.distributions. For some case, if the arguments of a distribution is generated from a network or nn.Module and we want to do auto grad for the arguments, we have to construct a new distribution class for each pass. If we can have something like torch.distributions.functional as torch.nn.functional as the f

[2022-03-01 18:52] xiaomengy opened #73585 "Add optional log_scale argument for torch.distributions.Normal"
### 🚀 The feature, motivation and pitch

Currently our torch.distributions.Normal received scale as the stddev for normal distribution. While when computing log_prob and entropy, what we actually uses is `torch.log(self.scale)`.  In RL practice, we usually generate mean and std for a Normal distribution from a neural network and do autograd on that. Then we have to do something below. The log_std

[2022-03-01 19:21] Rediness opened #73587 "Deterministic indexing operation fails in indices size check"
### 🐛 Describe the bug

Similar to this solved [bug](https://github.com/pytorch/pytorch/issues/61032).

# To Reproduce

[code]
## Additional context

The code runs fine when using torch.use_deterministic_algorithms(False).

### Versions

Pytorch 1.10.2 and Cuda toolkit version 11.3. I basically ran the following command in windows 10:
[code]

[2022-03-01 19:23] bdhirsh commented on #73537
I don't think that patch is the "user API" we want 😛 . We also definitely don't want the failure mode to be a segfault if you forget to do the right thing. Maybe we should have a larger discussion on failure modes in python subclassing (can we eliminate segfaults completely as a failure mode?)

It would be nice if TLS wasn't involved at all (and instead the decision of "do we hit the functionalize

[2022-03-01 19:23] ngimel commented on #73587
Fixed on master/nightlies/1.11, please reopen if you still see the issue

[2022-03-01 19:23] #73587 closed

[2022-03-01 19:28] aaronenyeshi opened #73588 "Skip ROCm test using profiler due to latest Kineto Submodule Update"
### 📚 The doc issue

The latest Kineto submodule update will cause some ROCm tests to fail when using torch.profiler.profile. This submodule update can be found here: https://github.com/pytorch/pytorch/pull/73090

There is a segmentation fault found in `test_norm_fusing_type_promotion_cuda_bfloat16` when updating the Kineto Submodule. The test will be skipped to unblock the submodule update of the

[2022-03-01 19:29] ngimel commented on #73568
Sorry, without a small self-contained reproducing script this bug is not actionable for us.

[2022-03-01 19:29] aaronenyeshi commented on #73588
Jeff and Michael from AMD are looking into the issue.

[2022-03-01 19:31] kiukchung commented on #73320
I just verified that passing `--master_port=0` with `--rdzv_backend=c10d` will assign a random port already. This would only work for single-node, multi-worker usecases. And you'd also have to manually mask GPUs by setting `CUDA_VISIBLE_DEVICES` accordingly (if you are using `env["LOCAL_RANK"]` to set the device in your training script).

[code]

[2022-03-01 19:31] #73465 closed

[2022-03-01 19:31] davidireland3 commented on #73568
What is the best way for me to do this?
I would be happy to privately share the repository I am working on, if that is acceptable.

[2022-03-01 19:34] vadimkantorov commented on #73320
@kiukchung I think that this mode should be more explicit or even default. This is the most frequent way of using the distributed regime. The workaround you proposed is quite complex and easy to get wrong. I think that this mode should be the one described first in all tutorials, since it's the least demanding of machines / resources (especially for academic environments).

[2022-03-01 19:36] ngimel commented on #73568
We'd need a minimum standalone reproducer script, not part of the large repository.

[2022-03-01 19:47] mrshenli commented on #73294
Hey @surak, by compilation you mean building PyTorch from source? Looks like that assert code is executed, so seems it is a run time error?

[code]

[2022-03-01 19:50] ngimel commented on #73538
This is expected behavior, as `result_type` outputs the output type of pointwise operation on its inputs subject to pytorch type promotion rules https://pytorch.org/docs/master/generated/torch.result_type.html?highlight=result_type#torch.result_type. `matmul`, even without autocast, doesn't comply to these type promotion rules.

[2022-03-01 19:55] JulesGM commented on #73359
That would be really great, and I think it's exciting.

[2022-03-01 19:57] fritzo commented on #73582
For diagonal covariance matrix, use `Independent(Normal(mean, cov_diag.sqrt()), 1)`, See [Independent](https://pytorch.org/docs/stable/distributions.html#independent).

[2022-03-01 19:57] #73582 closed

[2022-03-01 19:57] kiukchung commented on #73320
thanks for the feedback, I'll add a section in the docs to help users discover `--master_port=0` for multiple simultaneous runs in local mode. As for making `master_port` by default 0, is not a decision we can take lightly since it would technically break backwards compatibility and we have seen many usages of `torchrun` in a multi-node context.

Slightly off-topic (but I find it relevant enough t

[2022-03-01 20:07] cpuhrsch commented on #73479
@vadimkantorov - does this hold true on the latest nightly?

[2022-03-01 20:08] cpuhrsch commented on #73426
@vadimkantorov - Thank you for submitting the issue! Does this hold true on the latest nightly?

[2022-03-01 20:08] vadimkantorov commented on #73320
Well, if `--master_port=0` is the single place, it'd be a great and intuitive way for single-node.

The others: specifying rdv method and manually settting gpu device are much less intuitive and easy to mess up.

[2022-03-01 20:10] kiukchung commented on #73320
oops one correction, the option should've been `--rdzv_endpoint localhost:0` not `--master_port 0`, so

[code]

[2022-03-01 20:10] vadimkantorov commented on #73320
I would argue that this most useful, most basic and most frequent single-node multi-gpu regime deserves a  simple support into torch.distributed.run directly (and hopefully not even requiring the magic wrapper torchrun)

[2022-03-01 20:13] vadimkantorov commented on #73426
don't have time to check right now :( i can check in two weeks

[2022-03-01 20:13] vadimkantorov commented on #73479
haven't checked - will check in two weeks...

[2022-03-01 20:16] #1150 closed

[2022-03-01 20:18] kiukchung commented on #73320
torchrun isn't a magic wrapper, its just a python console_entrypoint (see: https://github.com/pytorch/pytorch/blob/master/setup.py#L861) added for convenience (`torchrun` versus `python -m torch.distributed.run`)

[2022-03-01 20:23] vadimkantorov commented on #73320
Even if it's not magic, the other points still are relevant IMHO. If `--master_port 0` is sufficient to enable random port selection, it would be perfect!

[2022-03-01 20:25] xiaomengy commented on #73584
This is actually related to the MultivariateNormalDiag issue. If we construct a MultivariateNormal class, we need to run torch.linalg.cholesky each time. But if we already have Independent it seems it is fine. We can close it now.

[2022-03-01 20:25] #73584 closed

[2022-03-01 20:34] #69443 closed

[2022-03-01 20:34] zhaojuanmao opened #73600 "Add a section in DDP tutorial to explain why DDP sometimes is slower than local training and how to improve it"
### 📚 The doc issue

Add a section in DDP tutorial to explain why DDP sometimes is slower than local training and how to improve it

### Suggest a potential alternative/fix

_No response_

[2022-03-01 20:39] zhaojuanmao opened #73602 "Report DDP efficiency metric to users and guide them for setting up DDP correctly"
### 🚀 The feature, motivation and pitch

Report DDP efficiency metric to users and guide them for setting up DDP correctly

### Alternatives

_No response_

### Additional context

_No response_

[2022-03-01 20:51] kiukchung commented on #73320
I see, yes, thanks for pointing out the lack of documentation regarding the difference between `torchrun` and `torch.distributed.run`. I've clarified this in https://github.com/pytorch/pytorch/pull/73598 as well as added a section for stacked, single-node, multi-worker usecase.

[2022-03-01 20:59] vadimkantorov commented on #65936
It would be nice to have random port selection by default: https://github.com/pytorch/pytorch/issues/73320, without having to set up num_proc_per_node beforehand and without passing rdv-related changes (as proposed in https://github.com/pytorch/pytorch/pull/73598)

[2022-03-01 21:11] evren-cerebras opened #73603 "Multiworker dataloader with persistent workers is non-deterministic after first epoch"
### 🐛 Describe the bug

Using a dataloader on an IterableDataset with num_workers > 0 and persistent_worker = True does not generate the same data after the first epoch from run to run.  If the dataloader is run multiple times for 2 epochs, the data produced in the first epoch match from run to run, the second epoch and on do not always match.  The issue is non-deterministic and varies from run to

[2022-03-01 21:16] garymm commented on #65666
Will wait to see these hopefully added to the next ONNX op set by https://github.com/onnx/onnx/pull/3741 or similar.

[2022-03-01 21:20] garymm commented on #31317
STFT will hopefully be added to the next ONNX op set by https://github.com/onnx/onnx/pull/3741 or similar. We already have #65666 covering export of STFT so closing this in favor of that one.

Duplicate of #65666.

[2022-03-01 21:20] #31317 closed

[2022-03-01 21:21] ezyang opened #73604 "Support views in custom autograd functions"
### 🐛 Describe the bug

Currently this fails:

[code]

with

[code]

But we can actually support this today after XLA added the concept of view function. We just stash the custom autograd function in the view function and then replay it (lazily) when the base got mutated. Gradients would be preserved in this case.

Lack of support for this is causing this test to fail in NegativeTensor: https://gi

[2022-03-01 21:22] cpuhrsch commented on #69359
cc @george-qi for https://pytorch.org/maskedtensor/main/index.html

[2022-03-01 21:23] seemethere commented on #72956
Marking as high priority now since we need to finish out the GHA migration sooner rather than later

[2022-03-01 21:26] seemethere opened #73605 "Migrate nightly Android builds to Github Actions"
Follow up to https://github.com/pytorch/pytorch/issues/72902 and https://github.com/pytorch/pytorch/pull/72903

We need to migrate the jobs found in https://github.com/pytorch/pytorch/blob/master/.circleci/cimodel/data/simple/nightly_android.py to Github Actions

cc @ezyang @gchanan @zou3519 @seemethere @malfet @pytorch/pytorch-dev-infra

[2022-03-01 21:27] garymm commented on #31941
linspace is supported as of https://github.com/pytorch/pytorch/pull/60246 (opset version 9 and above)
flip is supported as of https://github.com/pytorch/pytorch/pull/20533 (opset version 10 and above)

Closing this issue due to age and lack of clear reproduction instructions.
If you want to open a new issue, please provide the full repro code, including the model definition and the call to `torch.

[2022-03-01 21:27] #31941 closed

[2022-03-01 21:28] seemethere commented on #73339
These zips appear to be testing zips, I had a PR to test if not including the zips in the build manifest would actually fix but it doesn't appear as though that did fix: https://github.com/pytorch/pytorch/pull/71793

[2022-03-01 21:29] garymm commented on #32041
@stoneyang / @egbertYeah please provide clear repro instructions including the model code, the call to `torch.onnx.export` and the expected vs actual behavior.
If possible please try the latest PyTorch nightly version.

[2022-03-01 21:31] garymm commented on #32110
Closing due to age and lack of reply from @kaishian. Feel free to open a new issue with clear reproduction instructions, including the model definition and the call to `torch.onnx.export`.

[2022-03-01 21:31] #32110 closed

[2022-03-01 21:31] kingyj7 commented on #32110
信件已收到:)

[2022-03-01 21:35] garymm commented on #32280
Fixed by #40006

[2022-03-01 21:35] #32280 closed

[2022-03-01 21:38] garymm commented on #32341
Closing due to lack of reply from @jinfagang. If there's a more optimal ONNX representation of GroupNorm, please re-open or open a new issue and clearly state what the better ONNX sub-graph would be.

[2022-03-01 21:38] #32341 closed

[2022-03-01 21:45] albanD commented on #42132
@froody forgot about this but https://github.com/pytorch/pytorch/pull/57488 should have fixed it.
Feel free to re-open if that happens again!

[2022-03-01 21:45] #42132 closed

[2022-03-01 21:45] garymm commented on #32434
Very unclear what this is asking for since the code has changed so much in the past 2 years. Please open a new issue with more details and a GitHub permalink to the code in question if this is still relevant.
If `torch.onnx.export` is not working for a particular model, include the model source code and the call to `export()`.

[2022-03-01 21:45] #32434 closed

[2022-03-01 21:47] garymm commented on #32637
Yes this would be less verbose, but it would only support the case where all dynamic axes start at 0 and there are no gaps. So we'd have to support both, and I don't think the benefits of the less verbosity for one case is worth the added complexity of having multiple ways to do the same thing.

[2022-03-01 21:47] #32637 closed

[2022-03-01 21:50] garymm commented on #32696
I'm pretty sure this is referring to running the model on caffe2. If so, caffe2 is not actively developed and so this won't be fixed. If this is *not* caffe2 specific, please open the issue against whatever ONNX implementation you're using, e.g., ONNX Runtime or TensorRT.

[2022-03-01 21:50] #32696 closed

[2022-03-01 21:54] garymm commented on #32765
@bharatk101-dckap is this still an issue on latest PyTorch nightly?
If so, could you please provide some repro code?

[2022-03-01 21:57] garymm commented on #32391
Round is only supported with `opset_version >= 11`. The Round operator was added to the ONNX standard in op set 11, so it's unlikely we'll be able to support it in the exporter for older op sets:
<https://github.com/onnx/onnx/blob/main/docs/Changelog.md#round-11>

[2022-03-01 21:57] #32391 closed

[2022-03-01 22:02] garymm commented on #32926
I think fixed by https://github.com/pytorch/pytorch/pull/34069. Please re-open with more details if this is not the case.

[2022-03-01 22:02] #32926 closed

[2022-03-01 22:03] garymm commented on #32956
FYI ONNX.js became ONNX Runtime for Web so if you still have this issue you should try it on ONNX Runtime and report problems there.
Closing since it doesn't seem like `torch.onnx` is buggy here.

[2022-03-01 22:03] #32956 closed

[2022-03-01 22:05] garymm commented on #33399
Celu is supported for `opset_version >= 12`.

[2022-03-01 22:05] #33399 closed

[2022-03-01 22:13] garymm commented on #33488
From the stack trace and error message, it appears this is a problem inside `torch.jit.script` and has nothing to do with ONNX.

I think this issue was discussed in https://github.com/pytorch/pytorch/issues/16123.

Closing this. If I'm wrong please feel free to open a new issue with clear reproduction instructions.

[2022-03-01 22:13] #33488 closed

[2022-03-01 22:21] BowenBao commented on #68003
@gnloch created #73607 to fix this.

[2022-03-01 22:24] vpirogov commented on #73554
Pytorch 1.10.2 uses [oneDNN v2.2.3](https://github.com/oneapi-src/oneDNN/releases/tag/v2.2.3) apparently, which is 9 month old.

[2022-03-01 22:29] garymm commented on #33489
Things working differently from disk vs in-memory is probably an issue with ONNX Runtime or your particular installation of it.
The failure to load MaskRCNN from in-memory seems like it could be a separate issue.
I was unable to reproduce that using:

torch 1.10.0+cu111, torchvision 0.11.1+cu111, onnxruntime 1.10.0

Closing since there doesn't appear to be any bug in `torch.onnx.export`. If you ha

[2022-03-01 22:29] #33489 closed

[2022-03-01 22:31] cpuhrsch commented on #71652
This should be resolved now that https://github.com/pytorch/pytorch/pull/71963 landed.

[2022-03-01 22:31] #71652 closed

[2022-03-01 22:34] garymm commented on #33495
Seems this works in PyTorch 1.10.0.

[2022-03-01 22:34] #33495 closed

[2022-03-01 22:38] garymm commented on #33813
@bhaveshkr is this still an issue with the latest PyTorch nightly?
If so, could you please provide code that we can use to reproduce?
In particular please provide code for `Load the pre-trained transformer_iwslt_de_en model`.

[2022-03-01 22:41] garymm commented on #33932
Caffe2 is no longer being developed, so closing this.

[2022-03-01 22:41] #33932 closed

[2022-03-01 22:46] garymm commented on #34002
Original code from @whl287 and smaller repro from @IlyaOvodov both seem to work properly with torch 1.10.0, torchvision 0.11.1, so closing the issue. If someone still has problems please open a new issue with clear reproduction code including the call to `torch.onnx.export` and everything before it.

[2022-03-01 22:46] #34002 closed

[2022-03-01 22:47] garymm commented on #34296
Caffe2 is no longer being developed.

[2022-03-01 22:47] #34296 closed

[2022-03-01 22:51] garymm commented on #34342
I don't really understand what's being requested here. @eslambakr @dashesy can you please give a concrete example of a model that would be treated differently under this proposal, and why `dynamic_axes` or `torch.jit.script` of a sub-module or sub-function can't be used to achieve what you want?

[2022-03-01 22:52] garymm commented on #34390
Seems fixed by https://github.com/pytorch/pytorch/pull/43558. Please open a new issue if this is still a problem.

[2022-03-01 22:52] #34390 closed

[2022-03-01 22:57] garymm commented on #34731
@stereomatchingkiss is this still an issue with latest PyTorch and ONNX Runtime?

[2022-03-01 23:07] garymm commented on #34743
As of now this is infeasible to fix because the ONNX AveragePool does not support a dynamic kernel size.

If someone wants ONNX AveragePool to support a dynamic kernel size, please file an issue in github.com/onnx/onnx and explain the use case. If / when that change to ONNX is made, then the exporter can support it for future opset versions.

[2022-03-01 23:07] #34743 closed

[2022-03-01 23:07] garymm commented on #34780
Duplicate of #34743.

[2022-03-01 23:07] #34780 closed

[2022-03-01 23:09] nimashoghi opened #73608 "`torch.jit.load` fails when function parameters use non-ASCII characters"
### 🐛 Describe the bug

When you want to load a JIT-compiled ScriptModule that has some function (in the recursive ScriptModule chain) which contains a parameter with a non-ASCII name, you will get a `RuntimeError` with no error description.

See the example below:
[code]
The code above will produce the following error:
[code]
This took me quite some time to debug, as (1) there's no error descript

[2022-03-01 23:10] garymm commented on #34876
@mdztravelling is this still an issue with latest PyTorch and ONNX Runtime?

[2022-03-01 23:13] garymm commented on #35285
It seems like the scope name is now totally omitted from the output when `verbose=True` so I guess this is obsolete.

[2022-03-01 23:13] #35285 closed

[2022-03-01 23:15] garymm commented on #35287
Closing due to lack of reply from @briliantnugraha . Please open another issue if this is still not working with latest PyTorch nightly.

[2022-03-01 23:15] #35287 closed

[2022-03-01 23:17] garymm commented on #35291
Seems fixed in PyTorch 1.10.0.

[2022-03-01 23:17] #35291 closed

[2022-03-01 23:20] garymm commented on #35293
Seems fixed in PyTorch 1.10.0 (or earlier).

[2022-03-01 23:20] #35293 closed

[2022-03-01 23:22] garymm commented on #35295
@qiuqiangkong please provide code that can be run to reproduce the problem on the latest nightly version of PyTorch, including the call to `torch.onnx.export` and everything before it.

[2022-03-01 23:22] suo commented on #73039
Notes from offline discussion:

The current ROCm runner pool is ~55 hosts, and it is not possible in the short term to add more hosts. Generally at peak hours we see 50-100 jobs queued, which suggests we need to get 2-3x capacity back to avoid queueing.

We can trade signal for capacity in various ways. We discussed the following tactics:
- Do not run distributed jobs on PRs. Back of the envelope

[2022-03-01 23:23] thiagocrepaldi commented on #73538
Thanks for the input @ngimel. From the point of view of the users, does it make sense to compute output's `dtype` based solely on type promotion rules? My understanding is that users want to know the output dtype, regardless of what feature/capability is enabled. By reading the function description (aka `Returns the torch.dtype that would result from performing an arithmetic operation on the provi

[2022-03-01 23:25] garymm commented on #35536
Tracked internally at Microsoft by <https://msdata.visualstudio.com/Vienna/_workitems/edit/1682084>

[2022-03-01 23:25] suo commented on #73039
My 2c: if we can punt distributed jobs to master, we will have mostly solved the queueing problem except at extreme peaks. Since it's pretty simple to implement, I think we should try it first.

[2022-03-01 23:28] #68221 closed

[2022-03-01 23:34] ngimel commented on #73538
But it's not just autocast-enabled region, e.g. `mm` on float16/float32 won't work, but `result_type` for float16/float32 will happily output `float32`. Regular pointwise operations (for which `result_type` generally predicts correct result type) will run the same whether in the autocast-enabled region or outside of it, difference is only for ops like `mm`, and `result_type` has only tensor args,

[2022-03-01 23:44] albanD commented on #73187
Thanks for checking!

[2022-03-01 23:49] BowenBao commented on #73559
Should be fixed by #73610

[2022-03-01 23:52] albanD commented on #73188
Thanks for the PR.
You can add a one-off test in `test/test_nn.py` that makes sure you get the error you expect!

[2022-03-01 23:53] BowenBao commented on #73420
hi @abdessamad-abid, could you please try running the ONNX model with ONNXRuntime?

[2022-03-01 23:54] rohan-varma commented on #66178
# 2/22 - 3/1

## No PR signal
- https://github.com/pytorch/pytorch/pull/73468 (XLA PR CI was accidentally disabled in https://github.com/pytorch/pytorch/pull/72496)
- https://github.com/pytorch/pytorch/pull/73217 (broke job on master, but job was already red, so not considering it ignored)
-
## Ignored Signal

## Land races
- https://github.com/pytorch/pytorch/pull/71399
- https://github.com/pytor

[2022-03-01 23:54] albanD commented on #73502
Ho yes for sure! Just wanted to let you know that now might be a bit early to use it as there are still quite a few rough edges.

[2022-03-02 00:16] mszhanyi commented on #67720
Thanks @janeyx99
The latest sccache is updated on Feb 17.
![image](https://user-images.githubusercontent.com/16190118/156270335-e13c3ff8-a0ea-40db-8ef8-6c16a1f8411f.png)
If there isn't any other significant changes, it should be caused by this change.

[2022-03-02 00:54] miesav commented on #73554
Gave it a try with:

[code]

Built ok after fixing this null pointer:

[code]

I haven't tested it yet.

Thanks!

[2022-03-02 01:27] Alokia opened #73616 "`create_feature_extractor` V.S. `_utils.IntermediateLayerGetter`"
### 🐛 Describe the bug

When I used `resnet50` in `torchvision.models`, I replaced `BatchNorm2d` with `FrozenBatchNorm2d`. Then I needed to extract the output of `layer4`, but I found that `create_feature_extractor` does not display `FrozenBatchNorm2d`. Then I used `IntermediateLayerGetter` and it displayed it properly.
As shown below:

[code]

The partial output of `create_feature_extractor` is a

[2022-03-02 01:31] dashesy commented on #34342
Basically, would be nice to have an attribute to declare the shape of and intermediate tensor (to help shape inference with dynamic shapes). This is to help shape inference where otherwise it is difficult to correctly find the shape.
This will be helpful even with custom ops, or when we manually change the exported onnx later

[2022-03-02 01:33] ngimel commented on #73616
This looks like a torchvision issue, maybe refile it there.

[2022-03-02 01:34] #1183 closed

[2022-03-02 01:36] #1745 closed

[2022-03-02 01:38] #2614 closed

[2022-03-02 01:39] Alokia commented on #73616
ok

[2022-03-02 01:39] Alokia commented on #73616
https://github.com/pytorch/vision/issues/5508

[2022-03-02 01:41] #2267 closed

[2022-03-02 01:56] ezyang commented on #73537
It seems to me like we should reset all of the modes to their entry values too when we get down to `torch_dispatch`. The exclusion is an internal implementation detail but once we've gotten to the end of the dispatch chain it's no longer relevant, so it shouldn't "leak" out.

[2022-03-02 02:07] mvhv opened #73619 "ONNX export fails with a `resolve_conj` op when a tensor slice is printed."
### 🐛 Describe the bug

Exporting a module as ONNX fails when the module involves a tensor slice being (maybe also any view) passed to `print()`. The export fails with a message stating that the `resolve_conj` op is not available.

It appears that printing a view invokes `resolve_conj`, which causes ONNX exports to fail even in cases where the branch is extraneous. As far as I understand, the ONNX

[2022-03-02 02:14] davidberard98 opened #73620 "[JIT] NVFuser tests that fail on windows"
### 🐛 Describe the bug

Some tests are failing/erroring. See https://gist.github.com/davidberard98/9941a73de26347f531e17d4167656ba6 for the full errors.

Other tests are timing out. For example, previously windows CI tests would get stuck on `test_autocast_1` for about 2-3 hours before the job was killed due to timing out. For the other tests labeled as "timing out" below, the criteria was running

[2022-03-02 02:19] mikeb127 commented on #73176
@ngimel ok no problems. Will adjust the solution to directly use an assert and avoid .min(),item()

[2022-03-02 02:23] necludov opened #73622 "torch.det behaviour for large batch sizes on cuda"
### 🐛 Describe the bug

torch.det() behaviour depends on the batch size when executed on GPU.
[code]

### Versions

PyTorch version: 1.10.1
Is debug build: False
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.6 LTS (x86_64)
GCC version: (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
Clang version: 6.0.0-1ubuntu2 (tags/RELEASE_600/final)
CMake version: version 3.10.2
Libc v

[2022-03-02 02:53] QiyaoWei commented on #49171
Hi, thanks a lot for the development on this! This is super-useful work! In my situation, I would like to calculate the hessian, so I naively changed the code like this

[code]

but I got the following error

[code]

[2022-03-02 02:59] ain-soph commented on #49171
@QiyaoWei Hessian requires a function which returns a scalar value, while your current function returns `model(inp)`, which is not scalar.

In the previous Jacobian example, Jacobian requires a function which returns a vector. This is the difference.

[2022-03-02 03:13] QiyaoWei commented on #49171
oops, it's only totally obvious when someone points it out :)

I have verified that setting `model(inp)` with shape `(1,1)` indeed allows for a Hessian calculation. However, I wonder if there's more to do in order to calculate the Hessian wrt loss in this example? I changed my code to

[code]

which results in an error that seems to complain about the loss function not having any trainable paramet

[2022-03-02 03:14] LvJC commented on #72766
@kurtamohler When you said "add numbers together in a different order each time it's run", do you mean CUDA `atomicAdd()` function?

[2022-03-02 03:36] QiyaoWei commented on #49171
Works like a charm! Thank you so much for your patient answers!

[2022-03-02 03:37] TestSomething22 opened #73624 "`FractionalMaxPool{2,3}d` trigger segmentation fault when `output_size` contains 0"
### 🐛 Describe the bug

`FractionalMaxPool{2,3}d` trigger segmentation fault when `output_size` contains 0

[code]

[code]

### Versions

pytorch: 1.10.1

cc @ezyang @gchanan @zou3519

[2022-03-02 03:53] ezyang commented on #69813
A slight name bikeshed: I'd rename `set_output_stride_on_resize` to `set_output_raw_strided` (the "raw" here means you will see the exact output strides in the impl if they are explicitly specified. I was hoping to come up with punchy, self-explanatory names but it was too hard. I also wanted to deter people from using `set_output_contiguous`, because it means that you didn't think about how to do

[2022-03-02 04:28] chh7411898 commented on #1494
so  how to solve it ?  i have the same que

[2022-03-02 04:35] kurtamohler commented on #72766
Yep, that's right

[2022-03-02 04:38] TestSomething22 opened #73628 "`kthvalue` triggers segmentation fault"
### 🐛 Describe the bug

`kthvalue` triggers segmentation fault with some specific value

[code]

### Versions

pytorch: 1.10.1

cc @ezyang @gchanan @zou3519

[2022-03-02 05:39] emcastillo commented on #73628
Seems like in the current master branch now this throws a proper exception.

[code]

[2022-03-02 05:54] stas00 commented on #72138
So happy to see this RFC. Thank you for working on it!

I am curious how could there be such an indepth writeup and not have it mention https://github.com/microsoft/DeepSpeed even once?

[2022-03-02 06:06] ain-soph opened #73631 "[docs bug] wrong indexing of class name"
### 📚 The doc issue

Search `torch.device` in docs, and you can only find `torch.torch.device`, which is a wrong class name.

So it is for `torch.dtype`, `torch.layout` and `torch.memory_format`.

<img width="439" alt="image" src="https://user-images.githubusercontent.com/13214530/156300832-118298b5-ce8c-43c0-ad7f-07f3334fd97e.png">

### Suggest a potential alternative/fix

I'll link a pull reques

[2022-03-02 07:04] emcastillo commented on #73624
Sent a small PR to fix this, thanks for the report!

[2022-03-02 08:10] pmeier opened #73638 "addcdiv is failing the ASAN test for zero divisors"
See [this CI run](https://github.com/pytorch/pytorch/runs/5350307603) for an example. Zero division is no longer undefined behavior since integer inputs are disallowed

[code]

[code]

and `dtype = torch.float` exhibits the correct behavior

[code]

We are probably missing a

https://github.com/pytorch/pytorch/blob/2cefbb71cf65696e28ee1bdfce06d6846285e5fb/c10/macros/Macros.h#L27-L28

annotation th

[2022-03-02 08:15] arthuryuan1987 opened #73639 "JIT decompose pass: To enable decomposition only for GPU device"
### 🐛 Describe the bug

The purpose is to enable decomposition pass only for GPU device, here listed two reasons,
1. On our device backend, we hope to have an operator level optimization for BatchNorm and LayerNorm (mkldnn support) on JIT graph. So we don't want to decompose these two operators.
2. According to the current implementation and my understanding, decomposition pass only benefits GPU d

[2022-03-02 08:20] arthuryuan1987 commented on #73639
#https://github.com/pytorch/pytorch/pull/73637

[2022-03-02 08:46] #73616 closed

[2022-03-02 09:21] charliebudd commented on #72712
Related issue on the pytorch builder repo... https://github.com/pytorch/builder/issues/468

[2022-03-02 09:59] surak commented on #73294
Yes, it is compiling pytorch from source.

[2022-03-02 10:21] Spraitazz opened #73640 "Allow torch.Generator to be passed to torch.nn.init functions"
### 🚀 The feature, motivation and pitch

I think that would make a lot of sense.

### Alternatives

At the moment, before initializing a neural net I have to set the global random seed by calling torch.random.manual_seed(seed)

### Additional context

_No response_

[2022-03-02 10:21] pat749 commented on #73638
yes i also saw it but i leave it ,i think it was some documentation error but thank you for clarifying this

[2022-03-02 11:11] olegggatttor commented on #70886
Hi, @iamlockelightning! Which PyTorch version should I use to access this feature?

[2022-03-02 11:28] miquel-espinosa commented on #31935
I am also encountering the error: `RuntimeError: CUDA error: misaligned address`.
It happens when float16 is used together with multiple GPUs.

With more detail:

- To enable training on multiple GPUs, I am using nn.DataParallel().
- To use half precision, I am using torch.cuda.amp.GradScaler().

When both (multi-GPU and float16) used simultaneously, it yields the mentioned error.
(If used indepen

[2022-03-02 11:46] pearu commented on #69359
I believe https://github.com/pytorch/pytorch/pull/72723 tackles this issue.

[2022-03-02 12:10] pearu commented on #73479
To answer some of the "why" questions here: In general, operators on sparse tensors return a coaleased or uncoalesced sparse tensor. Which one is returned, depends on the operator and if the operator is able to detect/ensure/guarantee that the constructed sparse tensor is truly coalesced. It is preferable for an operator to return a coalesced tensor but only if no coalesce op is required. Otherwis

[2022-03-02 12:50] Lezcano commented on #69813
So, `1.` is just a convenience function for `set_output_strided` when you pass strides equal to the default contiguous strides for the given size. Note that, because of this, there are cases when you do want to have contiguous tensors and you can just handle thoso. For example, when you need to call a library that expects a contiguous tensor.
As such, we just have to care about cases 2. and 3.

Ca

[2022-03-02 12:50] MultiTrickFox commented on #73481
The original code comes from YourTTS which is based on CoquiAI's TTS module. But I tracked it all the way from there to the weight_norm.py - bypassed all weight_norms, now no more memory buildup - just with that change.

My source is:
https://colab.research.google.com/drive/1ftI0x16iqKgiQFgTjTDgRpOM1wC1U-yS

The function "synthesis" is where it occurs, and I went all the way down to weight_norm.

[2022-03-02 12:59] vadimkantorov commented on #73479
I think I had the same results in live debugging session. Tensor `a` was uncoalesced even before saving.

I think zeros_like should always produced a coalesced-marked tensor, especially given that nnz=0.

I also think that to_sparse() and maybe sparse_coo constructor should also mark a tensor as coalesced if nnz=0, regardless of what operator has produced it.

I guess preserving of coalesced-ness

[2022-03-02 13:18] liuyugeng opened #73644 "Unable to open shared memory object </torch_5566_0> in read-write mode"
### 🐛 Describe the bug

Traceback (most recent call last):
  File "test.py", line 336, in <module>
    train_baseline(args)
  File "test.py", line 317, in train_baseline
    train_model(args.lr, device, model.to(device), train_loader, [clean_loader, poisoned_loader], save_path, args.epoch)
  File "test.py", line 174, in train_model
    for inputs, targets in test_set:
  File "/home/c02yuli/anacond

[2022-03-02 13:20] alexrenz commented on #73141
I agree that the second option seems safer. However, if we change this in libtorch only, I understand there would be API differences between PyTorch and C++: in PyTorch, users would call `set_epoch` on the sampler object; in libtorch, they would call `set_epoch` on the data loader object. This seems undesirable. Do you suggest to change this in the Python API, too?

[2022-03-02 13:50] sadakmed commented on #73475
even this didn't work and the results are way more different.
On google Colab(K80) even without determinism still gives the same results.

I traced the operations, and even a simple addition like `residual + hidden_states` gives different results on different batch_size

[2022-03-02 13:55] albanD commented on #73475
If that raised an error that means that the algorithm is indeed non-deterministic.
Note that non-deterministic doesn't mean that it will always be different. Only that it can be (depending on a lot of things including version of dependency/hardware/input values/etc.

[2022-03-02 13:56] kazimpal87 commented on #23425
Did this problem ever get solved? I am in a similar situation except that some batches will just have no ground truth and there is no loss. In a single-gpu scenario i can just set the loss to a manually created zero tensor and it works just fine, but in a DDP setting, if one of the gpus gets such a batch, the process hangs indefinitely. Is there any simple way to return a zero loss tensor, with th

[2022-03-02 14:01] albanD commented on #73481
I am not familiar with this code so it is hard to figure out what is happening there.
The "synthesis" function seems to be doing the whole final creation of the wav so that's a lot of things in there.

Do you have a simple input for which calling weight_norm triggers this?

[2022-03-02 14:02] yechens commented on #44931
The scalar_value should be float or int type, and it will raise this error when the type is str ...

[2022-03-02 14:18] elliotwaite commented on #32956
Thanks for the update. I just confirmed that this issue has been resolved for ONNX Runtime Web.

[2022-03-02 14:22] kazimpal87 opened #73645 "DDP training hangs when one GPU returns zero loss"
Hi

This issue is similar to https://github.com/pytorch/pytorch/issues/23425

I have a situation where I am training a multitask detection model. The model is performing object detection as well as a number of subsequent classification tasks on each detected bounding box, but the loss is computed only on these classification tasks. The detection part of the model is frozen.

This means that if a b

[2022-03-02 14:37] albanD commented on #73604
Unfortunately this is not really true :(
The problem is that the user custom Function can have arbitrary side effect and so, contrary to our view ops, it is not safe to replay it.

[2022-03-02 14:38] ejguan commented on #73141
Thanks for pointing it out. I don't think we want to change the Python API. If that's the case we have to go from the first solution, IIUC. But, we need to take care if BC breaking happens.

[2022-03-02 14:41] denfromufa opened #73646 "Pure C binding/wrapper with libtorch for inference applications"
### 🚀 The feature, motivation and pitch

The motivation for pure C binding/wrapper with libtorch is easier FFI c-binding to languages such as Swift, which don't have C++ FFI. Swift iOS developers have to learn Objective C to use libtorch in their applications.

### Alternatives

This library claims that Pytorch may provide this natively in the future:

https://github.com/lighttransport/c-libtorch

[2022-03-02 14:52] albanD commented on #73539
Not sure what the problem is here?
You override the `__str__` for your subclass to be `f'WrapperTensor({self.elem})'`. So it indeed only prints `'WrapperTensor'` followed by the plain Tensor that you wrap.

This links to Joel's discussion about printing though: how can we provide a good default printing so that users do not hide this information mistakenly. (@jbschlosser did you open an issue abou

[2022-03-02 15:12] pearu commented on #73479
@vadimkantorov If you don't mind creating an issue for torch.save/load vs sparse coo tensor discrepancy, then that would be great!

[2022-03-02 15:20] mruberry commented on #31935
I'm sorry to hear you're hitting that issue, @miquel-espinosa -- would you file a new issue describing your problem and include some example code we can use to reproduce it? It sounds like a different problem

[2022-03-02 16:01] janEbert opened #73656 "torchrun: Hostname/endpoint mismatch not handled"
### 🐛 Describe the bug

TL;DR: I need to monkey patch `torchrun` to be able to handle a `rendezvous_endpoint` with a format different from `socket.gehostname()`.

# Description

I have a very peculiar setup for a Slurm cluster: if I want to communicate across InfiniBand cells, the addresses must have an "i" appended. Let's assume node adresses follow the regular expression format `node[0-9]` (or `

[2022-03-02 16:03] janeyx99 commented on #55173
This is done!

[2022-03-02 16:10] ezyang commented on #73539
So it turns out that there is a deeper problem, which is what lead me to not realize this was a printing problem. The following modified program makes matters clearer:

[code]

This prints out:

[code]

We see that the WrapperTensor is indeed at the top level, rather than on the inside of the dual number (which is what I originally intended to do with this example).

I suppose this is reasonable s

[2022-03-02 16:11] ezyang commented on #73604
OK... so let's add a decorator that says that a custom function is pure/referentially transparent, and then enable it in this case :)

[2022-03-02 16:13] MultiTrickFox commented on #73481
Sorry I do not have a simpler code, but I'm pretty sure leak wouldn't be noticeable in a simple code, as this model is fairly big enough - and run consecutively, to make it noticeable.

But I could help in this way;
The modules which cause memory leak are located under:
TTS.vocoder.models.* and TTS.tts.models.*
The usage of "weight_norm" in these files is in the form of:
self.something = nn.Module

[2022-03-02 16:15] janeyx99 commented on #56745
This is something the dev infra team has been working towards with our efforts to improve stability and keep our trunk (master) CI green such as detecting flaky tests and notifying users about ci: sevs on the [HUD](https://hud.pytorch.org/ci/pytorch/pytorch/master). We have an on-call who looks out for flakiness and we are adding alerts to streamline that process. I think it is okay to close this

[2022-03-02 16:15] #56745 closed

[2022-03-02 16:21] ezyang commented on #69813
I'm not sure what you mean by "strides are given/not given". To make the conversation more concrete, here are the type signatures for the variants I propose (ignoring dimnames for now):

[code]

In particular, in case (3), you still have to pass strides to the call to `set_output_raw_strided`, because you may not get user-specified strides via an explicit out parameter (in the functional case), an

[2022-03-02 16:27] ejguan commented on #73141
I think providing constructors to accept rvalue reference or lvalue reference would help.

[2022-03-02 16:27] janeyx99 opened #73657 "Develop Required Status Checks/MergeQueue"
As we are moving towards GitHub First (GH1), we want to be able to use a merge queue to validate commits as they land. However, before we get to a merge queue, we should start with required status checks!

https://docs.google.com/document/d/1emBy5I_yeEch6FXfiDjzeh56e5qv4MIB8fhooU_00HY/edit for context

Milestones:
- [x] Test viability MergeQueue beta available from GitHub on pytorch/canary. --> GH

[2022-03-02 16:34] janeyx99 opened #73658 "Add functionality to allow a comment to rebase a PR"
cc @seemethere @malfet @pytorch/pytorch-dev-infra

[2022-03-02 16:48] janeyx99 opened #73659 "Measure OSS DevX KPIs and have dashboards on Grafana for it"
<meta charset="utf-8"><b style="font-weight:normal;" id="docs-internal-guid-ab812ef6-7fff-b479-0367-a5f92671f832"><div dir="ltr" style="margin-left:0pt;" align="left">

KPI | Specific Grafana chart
-- | --
P0: 7d % red on trunk is under 1% | https://metrics.pytorch.org/?orgId=1&refresh=5m&viewPanel=63
P0: 7d % # red rows / total commits is under 50% | https://metrics.pytorch.org/?orgId=1&refresh=5

[2022-03-02 16:54] soulitzer commented on #73557
This is probably happening because we always wrap the wrapped tensor in a fresh wrapper every time but the tangent was on the old wrapper.

[2022-03-02 16:54] puzzleshark opened #73661 "`ProxyableClassMeta` does not work if Proxy objects are not included in constructor arguments"
### 🐛 Describe the bug

`ProxyableClassMeta` methods are not traced if proxy object is not included as argument for the class constructor.

[code]
produces
[code]
As expected. However if I remove the `tracer_arg` parameter from the constructor
[code]
I get
[code]
however I would expect
[code]

### Versions

Collecting environment information...
PyTorch version: 1.10.2
Is debug build: False
CUDA us

[2022-03-02 16:57] zengk95 opened #73662 "Harden Alerts so that they are actionable most of the time"

[2022-03-02 17:13] jbschlosser opened #73665 "Nice way to override string representation of tensor subclasses"
### 🐛 Describe the bug

It's natural for tensor subclass writers to want to control how a subclass is printed. The pythonic way to do this is to override `__repr__()` or `__str__()`:

[code]

While this seems okay on the surface, fully overriding `__repr__()` or `__str__()` leads to subtle violations of printing expectations. Specifically, additional properties that may be associated with a tensor

[2022-03-02 17:14] jbschlosser commented on #73539
Opened an issue in #73665; feel free to add discussion there :)

[2022-03-02 17:31] suo commented on #71563
Potentially good candidate to retry: https://github.com/pytorch/pytorch/runs/5391828478?check_suite_focus=true

[2022-03-02 17:53] ejguan commented on #73141
Emmm. I see. It seems that we are encountering the same problem as tensor. We want to make `Sampler` object in CPP behave like a pointer (reference) in Python.
I don't know if there is a better way to do so. We need `own` for rvalue but `borrow` for lvalue.
cc: @VitalyFedyunin

[2022-03-02 18:01] vkuzo commented on #73507
Hi @michal-kierzynka , thanks for filing.  This would be valuable to have, one key missing piece of functionality would be kernels that do this efficiently on 1p PyTorch backends (fbgemm, qnnpack).  We don't have plans to work on this particular op in the near future, but we would be happy to help review a PR if anyone else is interested in contributing.

As a workaround, you could also dequantize

[2022-03-02 18:04] garymm commented on #70886
Fix merged into master in #73103.
@olegggatttor PyTorch nightly. Should be released in 1.12.

[2022-03-02 18:04] #70886 closed

[2022-03-02 18:37] albanD commented on #73604
Sure we could do that.
Not sure what the final API would look like but I agree that if the user guarantees that this is ok to do, then we can do this.

[2022-03-02 19:59] d4l3k opened #73682 "c10d/TCPStore: hostname lookup failures are fatal causing jobs to fail on Kubernetes"
### 🐛 Describe the bug

Kubernetes creates the DNS entries at the same time or after the pods are created since it's based around a service model. This means that the DNS hostnames may not be immediately resolvable due to latency. Some various online reports say this may take up to 30 seconds.

TCPStore currently treats lookups as a fatal error and won't retry. This means that the jobs sporadicall

[2022-03-02 20:07] rohan-varma opened #73683 "test_broadcast_coalesced_nccl fails on A100 GPUs"
### 🐛 Describe the bug

This test fails consistently on A100s - results in this output: https://gist.github.com/rohan-varma/eb893076e5721099c20746f26d99b97f

To reproduce, build pytorch and run the following:

[code]

### Versions

main

[2022-03-02 20:09] soulitzer commented on #73539
make_dual is not composite though (anymore)

We could make make_dual composite again though if we also introduce a detach that is backward differentiable but not forward differentiable.

Perhaps we should do that?

[2022-03-02 20:39] thiagocrepaldi commented on #73538
@ngimel yes, ops that do not accept mixed precision out of the box (most of them?) will raise an exception related to the type mismatch. But the same op wrapped by autocast would work properly. This in particular shouldn't be a problem for `result_type`

On the other hand, you brough a great point! `result_type` only take tensors as input, not operator [name].

What do think think about adding a s

[2022-03-02 20:44] michal-kierzynka commented on #73507
@vkuzo Thanks for reply. I wonder about the performance impact if all the SiLU activations are dequantized, they are all around the network. Maybe someone reading this thread will volunteer to prepare PR :-)

[2022-03-02 21:03] rohan-varma commented on #70546
Forgot to triage this one during my oncall - cc @pritamdamania87, let's discuss it in next week's oncall meeting?

[2022-03-02 21:05] rohan-varma commented on #72908
@janeyx99 For oncall: distributed issues could we avoid adding triaged label, to make sure we discuss it during our distributed oncall meeting? Thank you!

[2022-03-02 21:13] janeyx99 commented on #72908
Ah okay. I will remove the bot functionality to add triaged as well for any of the labels as well.

[2022-03-02 21:31] #73541 closed

[2022-03-02 21:47] aaronenyeshi commented on #73588
There are many distributed tests that rely on profiler. So I don't want to disable all of them. That may introduce more regressions from other patches.

[2022-03-02 21:52] albanD commented on #73539
That doesn't change anything :)

[2022-03-02 21:53] malfet commented on #44187
Codecov has been disabled, closing

[2022-03-02 21:53] #44187 closed

[2022-03-02 21:53] malfet commented on #48392
Codecov has been disabled, so I guess we can close this one

[2022-03-02 21:53] #48392 closed

[2022-03-02 22:00] zasdfgbnm opened #73688 "/usr/include/c++/11.2.0/cstdlib:75:15: fatal error: stdlib.h: No such file or directory"
### 🐛 Describe the bug

When compiling PyTorch, I am seeing the following error:

[code]

The failure seems to be caused by some recent changes in our build. If I remove the `-isystem /usr/include` from the compilation command, I will build this file successfully.

### Versions

[code]

cc @malfet @seemethere

[2022-03-02 22:17] jbschlosser commented on #73640
Thanks for the request! Is this a duplicate of #65049? There was a PR #65139 to address this but it stalled out. I believe the problem was that TorchScript doesn't support the Generator type. cc @eellison can you confirm this?

[2022-03-02 22:21] #73631 closed

[2022-03-02 22:22] malfet commented on #73688
Can you run the entire collect_env script please? And does it succeed while building first 5000+ files?

[2022-03-02 22:26] seemethere commented on #73339
* I think https://github.com/pytorch/builder/pull/982 might resolve, testing in https://github.com/pytorch/pytorch/pull/73393

[2022-03-02 22:28] brando90 opened #73697 "Improving error message RuntimeError: One of the differentiated Tensors appears to not have been used in the graph. Set allow_unused=True if this is the desired behavior."
### 🐛 Describe the bug

I get this error:
[code]

but it doesn't tell me the name of the tensors throwing that issue. Can be displayed in the error to make easier to debug?

### Versions

[code]

[2022-03-02 22:29] jbschlosser commented on #73646
Thanks for the request! Without taking a stance on whether I think this is a good idea, I will mention that it's unlikely to happen anytime soon. It's quite a bit of work to do correctly and we do not have developer bandwidth to do so at the moment. That said, I'll leave this open to continue gathering feedback, and if this request becomes popular enough, maybe this can be revisited.

[2022-03-02 22:29] brando90 commented on #73697
forum realted post: https://discuss.pytorch.org/t/runtimeerror-one-of-the-differentiated-tensors-appears-to-not-have-been-used-in-the-graph-set-allow-unused-true-if-this-is-the-desired-behavior/43679/7

[2022-03-02 22:34] zasdfgbnm commented on #73688
@malfet Yes, the first 5k+ files succeed. The complete environment is:
[code]

[2022-03-02 22:48] zou3519 opened #73699 "How to get tolerance override in OpInfo-based test?"
### 🐛 Describe the bug

The documentation appears to be wrong, it suggests to use self.rtol and self.precision:
https://github.com/pytorch/pytorch/blob/4168c87ed3ba044c9941447579487a2f37eb7973/torch/testing/_internal/common_device_type.py#L1000

I did find a self.rel_tol, is that the right flag?

### Versions

main

[2022-03-02 22:59] #72812 closed

[2022-03-02 23:06] zou3519 commented on #73699
Furthermore, self.rel_tol and self.precision both print as 0 in my experiments (I would expect these to not be 0?), but maybe I'm doing something wrong

[2022-03-02 23:07] jbschlosser commented on #73699
I think you can use the `@toleranceOverride` decorator with `DecorateInfo`:
https://github.com/pytorch/pytorch/blob/4168c87ed3ba044c9941447579487a2f37eb7973/torch/testing/_internal/common_methods_invocations.py#L8425-L8429

Of course that's a per-op setting. If you need it set globally, `rel_tol` should do it. Example from optim:
https://github.com/pytorch/pytorch/blob/4168c87ed3ba044c994144757948

[2022-03-02 23:17] soulitzer commented on #73557
Whoops, actually for the code example in this issue, primal isn't a WrappedTensor, so it's losing the tangent because we're calling alias on the elem when autograd has already been disabled. The reason it works for functorch is that dynamic layer back reenables the autograd key.

[2022-03-02 23:25] kit1980 commented on #73059
@pytorchbot merge this

[2022-03-02 23:34] soulitzer commented on #73557
Since we are operating beneath autograd, we actually lose ALL autograd information (e.g. view relationships) for the wrapped tensors, so it is expected that we would also lose the tangent information:
[code]

[2022-03-02 23:34] janeyx99 opened #73701 "Build and upload nightly docker"

[2022-03-03 00:31] zasdfgbnm commented on #73688
Related commit: https://github.com/pytorch/pytorch/commit/6302cdb9bc8bbd2f77d002db296f272ef882d2fc

[2022-03-03 00:48] pchankh opened #73709 "DropIT: Dropping Intermediate Tensors for Memory-Efficient DNN Training"
### 🚀 The feature, motivation and pitch

We are working on training large transformer and DNN. Any approach for saving GPU memory is valuable.
[https://arxiv.org/pdf/2202.13808v1.pdf]
DropIT seems to be fitting into pytorch tensor management area.
Will be good to explore if we can offer this feature in pytorch training.

Cheers
Dr.

### Alternatives

_No response_

### Additional context

_No resp

[2022-03-03 01:02] wconstab opened #73710 "Refactor/Cleanup Lazy Tensor Core"
General tracking issue for refactor/cleanup wishlists.

- #72960 Codegen Infra
- <todo> LazyTensor, LTCTensorImpl, Data
- <todo> Shape Inference stuff

cc @JackCaoG

[2022-03-03 01:05] wconstab opened #73711 "Refactor/Cleanup LazyTensor, LTCTensorImpl, Data"
Harvesting feedback from @ezyang on this PR https://github.com/pytorch/pytorch/pull/73445

I think there are 2 directions I could go-

a more modest cleanup

* we kill the 'Data' class and its shared_ptr inside LazyTensor and fold its stuff into LazyTensor directly
* a bit more polish on the LazyTensor ptr in LTCTensorImpl: maybe make it a unique_ptr after all, maybe change the naming conventions

[2022-03-03 01:15] henridwyer opened #73714 "Release pytorch docker images with newer python versions"
### 🚀 The feature, motivation and pitch

Currently the most recent pytorch docker images published to docker hub (https://hub.docker.com/r/pytorch/pytorch/tags) uses python 3.7.

Projects like numpy or pandas have dropped support for python 3.7 in their newer releases. It would be great to able to use the pre-built torch container with the lastest versions of packages from the ecosystem.

### Alte

[2022-03-03 01:16] ezyang commented on #73711
I like this. It'd subclass LazyTensorImpl.

[2022-03-03 01:16] henridwyer commented on #73714
@seemethere since you seem to have done most recent pytorch docker releases

[2022-03-03 01:38] wqh17101 commented on #73487
I have the same problems for my WSL  Ubuntu 18

[2022-03-03 01:51] mszhanyi commented on #73487
@wqh17101 did you run `pip uninstall torch`  and use `pip show torch` to check the status before running conda install

[2022-03-03 01:57] wqh17101 commented on #73487
@mszhanyi right，i use `pip install torch` and `pip install torch-1.10.2+cu113xxxx.whl` to compare. Also try conda but get the same issue.

[2022-03-03 02:01] wqh17101 commented on #73487
What makes me confused is that `pip install torch` will install torch for cu102,`pip install torch-1.10.2+cu113xxxx.whl` will install torch for cu113,why `pip install torch` can recognize the gpu for my cuda is 116,and `pip install torch-1.10.2+cu113xxxx.whl` can not.

[2022-03-03 03:18] mszhanyi commented on #73487
`What makes me confused is that pip install torch will install torch for cu102,pip install torch-1.10.2+cu113xxxx.whl will install torch for cu113`
For this question, the reason is cudnn size exceeds the pypi limit since cuda 11.
So, pytorch packages with cuda 11.X are hosted in Pytorch site, not in PyPI

[2022-03-03 03:20] wqh17101 commented on #73487
@malfet what i mean is that why `pip install torch` can recognize the gpu for my cuda is 116, and torch+cu113 can not

[2022-03-03 03:27] mszhanyi commented on #73487
related to https://github.com/pytorch/pytorch/issues/45028

[2022-03-03 03:28] ezyang opened #73721 "Audit exception rewrapping to ensure stack traces are preserved"
### 🐛 Describe the bug

I feel like half of the time I have remote errors in distributed, I lose the backtrace. Part of the problem is that code in distributed is rewrapping exceptions without preserving the original exception (which has the useful backtrace). Here is an example of a recent instance I fixed: https://github.com/pytorch/pytorch/pull/73720

We should audit all of the exception rethro

[2022-03-03 03:43] ezyang opened #73722 "Why is distributed RPC using the default pickler?"
### 🐛 Describe the bug

While @kurtamohler was working on https://github.com/pytorch/pytorch/pull/66970#issuecomment-1057634489 we noticed that although we had modified torch.save/load to be BC/FC compatible with the storage model, unpickling wasn't working in a distributed test (specifically  caffe2/torch/fb/distributed/model_parallel/tests:test_rpc_shared_memory - test_rpc_shared_memory). While

[2022-03-03 04:02] norabelrose commented on #41417
@qihqi Okay, so the most obvious way to implement this is to essentially _flatten_ the inheritance hierarchy on the Python frontend side, simply copying over all the (used?) methods from the superclasses into the `ClassDef` AST fragment that we pass to the TorchScript interpreter, perhaps doing some name-mangling to allow for multiple implementations of the same method to coexist and handle `super

[2022-03-03 04:40] TriB90 opened #73726 "RuntimeError: An attempt has been made to start a new process before the current process has finished its bootstrapping phase. This probably means that you are not using fork to start your child processes and you have forgotten to use the proper idiom in the main module: if __name__ == '__main__': freeze_support() ... The "freeze_support()" line can be omitted if the program is not going to be frozen to produce an executable."
### 🐛 Describe the bug

**I am trying to run this code:https://github.com/Jee-King/TSAN
As per my understanding, the code is wriiten for both GPU and multithreading. As this code is run on GPU. it should use GPU environment. But it is running on multithreading. How to change it to run on GPU?
I got this runtime error:**

rm: cannot remove 'experiment/TSAN_X4/log.txt': Device or resource busy
this

[2022-03-03 04:43] JackCaoG commented on #73711
Hmm, if I understand correctly, following the suggestion 2 we will have
1. XlaTensorImpl to subclass LazyTensorImpl
2. XlaLazyTensor to subclass LazyTensor
3. XlaTensorImpl to maintain a XlaLazyTensor(non-pointer)

I guess as long as we set the device to be `lazy`, tensor will get dispatched to the xla(once we register ourself as a backend). Is there any implication of subclassing `LazyTensorImpl`

[2022-03-03 05:30] chh7411898 commented on #40403
I have the same problem. How did you solve it at last
I try to set workers=0 ,But it slows down the training speed

[2022-03-03 05:45] malfet commented on #73714
Makes sense, @atalman can you please update the script to pick say 3.8 or 3.9?

[2022-03-03 06:01] ykk648 commented on #27212
any update now?

[2022-03-03 07:53] wanglei91 commented on #37384
# Transformer.
#transformer_output, presents = self.transformer(xx)
There should be this kind of code in your model definition, jit.trace not support list output, I've successfully fixed the error.

[2022-03-03 07:57] wyh196646 commented on #45028
I slove this problem by using `pip3 install torch==1.9.0+cu111 torchvision==0.10.0+cu111 torchaudio==0.9.0 -f https://download.pytorch.org/whl/torch_stable.html`

[2022-03-03 07:57] MrStarry commented on #45028
我已收到您的邮件，将尽快处理并回复

[2022-03-03 08:35] #73319 closed

[2022-03-03 09:04] mysteryjeans commented on #73534
I am facing same issue but for **amdgcn-amd-amdhsa--gfx1010:xnack- - [Not Found]**

[code]

[2022-03-03 09:10] DrChuan opened #73735 "Cannot load faster-rcnn model with libtorch in C++"
### 🐛 Describe the bug

I cannot load the model which is generated by torch.jit.trace in C++ with libtorch. The model is faster-RCNN archetechture. Pytorch version is 1.2.0 (I've also tried with 1.7.0).

The error message is `ASSERT FAILED at "..\\..\\torch\\csrc\\jit\\frontend\\schema_matching.cpp":520, please report a bug to Pytorch".`. Nothing more can I get.

[code]

[code]

### Versions

Coll

[2022-03-03 09:37] ysiraichi commented on #69813
Ah, so we are on the same page! I had misunderstood your last comment. Will work on it.

[2022-03-03 10:08] fatcat-z commented on #73619
This is being tracked internally by Microsoft at https://msdata.visualstudio.com/Vienna/_workitems/edit/1685669

[2022-03-03 10:39] daigo0927 commented on #27212
Latest ONNX opset16 seems to support GridSample by https://github.com/onnx/onnx/blob/main/docs/Changelog.md#GridSample-16.
I think we are waiting PyTorch for relate the `F.grid_sample` with GridSample of ONNX 🤔

[2022-03-03 11:21] lamhoangtung commented on #69078
Same issue, work with 1.8.2, does not work with 1.10.2

[2022-03-03 11:23] npbaskerville commented on #71951
Ah, good point. I agree `LowRankMultivariateNormal` provides equivalent functionality, so it would be overkill to add the distribution class I proposed to the library.

[2022-03-03 11:25] lightsalt2011 commented on #27212
onnx 1.11 has include this grid_sample  op, but pytorch's onnx max op version is 14 still, how to update onnx manully ?

[2022-03-03 12:28] KrishPro commented on #73645
Why don't you filter all the data points without ground truth, Before Hand ?

[2022-03-03 13:09] dfalbel commented on #69471
Hi @ezyang,

The R bindings to LibTorch and AFAICT other bindings (Rust, OCaml, Elixir) depend on Declarations.yaml, is the plan to completely remove it or maybe having another kind of file listing functions in the API?

[2022-03-03 13:14] mauricewells commented on #43615
i also got the same as above

[2022-03-03 13:25] mauricewells commented on #43615
I solved that error
we should use the following command "bash ./scripts/build_pytorch_android.sh" instead of "sh ./scripts/build_pytorch_android.sh"

[2022-03-03 14:03] zhuhaozhe opened #73737 "torch.jit.trace will fail on nn.Module with nn.ParameterList"
### 🐛 Describe the bug

Module with ParameterList
[code]

will be failed to trace
[code]

### Versions

Collecting environment information...
PyTorch version: 1.12.0a0+gitf94b9e3
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.3 LTS (x86_64)
GCC version: (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0
Clang version: Could not collect
CMake version: ver

[2022-03-03 14:39] zou3519 commented on #73699
Thanks Joel! To clarify my problem:
- We are using the `@toleranceOverride` decorator with `DecorateInfo`
- As far as I understand this makes it so that self.assertEqual calls use a different tolerance for that OpInfo
- However, for reasons*, I want to pass atol and rtol directly to `self.assertEqual`

The documentation suggests that when using `toleranceOverride`,
[code]
Unfortunately self.rel_to

[2022-03-03 14:44] vkuzo opened #73738 "torch.ao.quantization.ReuseInputObserver should also reuse the dtype of the input"
### 🐛 Describe the bug

Currently ReuseInputObserver signals to reuse the observer from the input, but it has a default dtype. This leads to dtype mismatches throughout FX graph mode quantization.  We should change the behavior for this observer to also use the dtype of its input.

### Versions

master

[2022-03-03 14:55] albanD commented on #73557
@soulitzer could you edit the code sample above to be what happens? Is it True or False?

[2022-03-03 15:18] dagitses commented on #73622
Forgive my daftness, but why do you think the issue is related to the batch size?

[2022-03-03 15:27] dagitses commented on #73638
Thanks for the catch. We would accept a patch that fixes this.

[2022-03-03 15:29] dagitses commented on #73644
Assigning high priority given the internal assert failure.

[2022-03-03 15:30] #73644 closed

[2022-03-03 15:31] necludov commented on #73622
I'm sorry for the short description. Indeed, it's maybe related not to the batch size but to the total size of the input tensor. However, I've made this assumption since the function works properly for the tensor C of size [8,2,2] but fails on the tensor D of size [9,2,2] and also fails for larger sizes like [100,2,2].

[2022-03-03 15:32] dagitses commented on #73657
This issue does not require triage.

[2022-03-03 15:33] jbschlosser commented on #73699
(1) will take precedence over (2): using the decorator directly on the test function decorates it immediately, and using `DecorateInfo` will decorate it later when `instantiate_device_type_tests()` is called. That's strange you're seeing `self.rel_tol` and `self.precision` as 0 - I did some quick experimentation and it seems to work for me. Do you have some test code you could link where this is h

[2022-03-03 15:39] #73624 closed

[2022-03-03 15:56] dagitses commented on #73662
I don't believe this requires triaging. Please remove label if I am mistaken.

[2022-03-03 16:10] iiSeymour commented on #63558
@jisaacso how do you do that?

[2022-03-03 16:11] janeyx99 commented on #73039
+1 that not running distributed jobs on PR would be the best here

[2022-03-03 16:40] davidberard98 commented on #73474
cc @eellison (also #73473 )

[2022-03-03 17:37] sbrl commented on #24205
As I mentioned here: https://github.com/pytorch/pytorch/issues/30532#issuecomment-1058307380

Looks like your error message for this is buggy:

[code]

It would be helpful if you actually filled in the `%d` values here. Tested on a Tesla K40m on my University's HPC with Python 3.8.8 & PyTorch 1.10.2+cu102. I came through [this StackOverflow answer](https://stackoverflow.com/q/61104083) which has o

[2022-03-03 18:33] #68957 closed

[2022-03-03 18:33] brando90 commented on #73697
it should be trivial from the pytorch dev side. If you PyTorch already knows some params are NOT in the forward pass since it failed to do backprop -- then instead of giving me an existential quantifier tell me which one concretely is not being used. Then I can debug it. Otherwise, where do I even start in a large model?

[2022-03-03 18:36] dagitses commented on #73709
We generally wait for research to stabilize before incorporating it into PyTorch proper. Was this published in feb/2022?

[2022-03-03 18:37] dagitses commented on #73710
This does not require triage. Please remove the label if I am mistaken.

[2022-03-03 18:40] garymm commented on #34342
Thanks for explaining.

If the user sets `dynamic_axes` on the inputs, this should be propagated through to intermediate tensors by shape inference.
Is there an example where this doesn't work?

[2022-03-03 18:43] dagitses commented on #73735
Hi, We use github issues only for bug reports or feature requests. Please use the forum to ask questions: https://discuss.pytorch.org/

[2022-03-03 18:43] #73735 closed

[2022-03-03 18:44] dagitses commented on #73645
Hi, We use github issues only for bug reports or feature requests. Please use the forum to ask questions: https://discuss.pytorch.org/

[2022-03-03 18:44] #73645 closed

[2022-03-03 18:48] dashesy commented on #34342
Sometimes with `dynamic_axes` still some shape is not correctly inferenced (for some intermediate tensor) as being dynamic. I remember some cases special-cased certain shapes (Flatten was an example at the time). Also, custom ops break the shape inference.

[2022-03-03 18:52] albanD commented on #73697
I would have a couple clarifying questions for you:
- What do you mean by `the name of the tensors` ? You mean the name of the python variable?
- How do you call `autograd.grad()` exactly when you get this error?

[2022-03-03 19:02] KrishPro commented on #73645
I would suggest mentioning the link to your forum page here, So we can help you there !

[2022-03-03 19:04] seemethere commented on #73339
Update to this, deleting the zip files prior to the conda build did not seem to resolve fully. For CUDA builds I'm now observing header files being missing so I'm trying to figure out why particular files aren't getting included.

https://github.com/pytorch/pytorch/runs/5400316763?check_suite_focus=true#step:10:31478

[code]
[code]

[2022-03-03 19:43] brando90 commented on #73697
This happens in nn.Module. I have big neural net I compiled and then did backprop and it threw me that error. It must know some layer in my net is not in the forward pass otherwise it wouldn't have done this issue.

I later discovered I had a final layer named .cls and .classifier. But if pytorch would have told me which nn.module is not updating I would have solved this issue in 1 second but isnt

[2022-03-03 20:06] ptrblck commented on #73113
Seems related to https://github.com/pytorch/pytorch/issues/70297 with potential workaround https://github.com/pytorch/pytorch/issues/70297#issuecomment-1054796850

[2022-03-03 20:34] tvercaut commented on #72212
@nikitaved, in the actual use case I was looking at, I am interested in indexing with `dim=0` only but it's a bit specific and I assume indexing with `dim=1` (and `dim=2`) as well would serve other use cases.

More specifically, my use case involves a sparse matrix L and I am intested in (conceptually) extracting a sub matrix from L@L.T using the same indices for `dim=0` and `dim=1`. In my current

[2022-03-03 20:45] janeyx99 opened #73755 "CI: Bake as many dependencies as we can in the AMI (windows)"
This would stamp out network flakiness in our CI for windows

- [ ] Miniconda
- [ ] conda/pip install commands (will expand which ones later)
- [ ] sccache
- [ ] Document how to update the AMI @seemethere

[2022-03-03 21:01] Lezcano commented on #73622
This is a MAGMA error. For batches of size > 8 we use MAGMA in the `lu_factor` that we use inside of `linalg_det`. MAGMA does not seem to handle matrices with small values as well as cuSolver.

I suggest we benchmark again whether MAGMA is still faster than cusolver for this operation and update the heuristic accordingly

Then, we can see whether MAGMA is still faster than cuSolver at all (it migh

[2022-03-03 21:03] Lezcano commented on #73622
@necludov In the meantime, you can use `torch.backends.cuda.preferred_linalg_library("cusolver")` to default to the cuSolver backend.
Remember that this is a global flag, and after performing this operation you'll need to reset it to the `"default"` backend.

[2022-03-03 21:14] cpuhrsch commented on #72212
@nikitaved - on CSC support @pearu was planning to work on it next.

[2022-03-03 21:18] Lezcano commented on #62545
See https://github.com/pytorch/pytorch/pull/71258#issuecomment-1058503649

[2022-03-03 21:32] jbschlosser commented on #67913
For anyone who stumbles onto this issue and wants to help out: the idea is to migrate test input structure from the old-style of using dicts, with multiple dict entries per module:
https://github.com/pytorch/pytorch/blob/22a3a17ea0d61660b53f6642fe22529a7e4e2649/torch/testing/_internal/common_nn.py#L101-L110

to the new-style `ModuleInfo` entries, with a single entry per module and a `module_inputs

[2022-03-03 21:35] necludov commented on #73622
Thank you, @Lezcano, for an amazingly detailed and swift response! My version doesn't seem to have `torch.backends.cuda.preferred_linalg_library()`, but I'll figure that out. Thanks!

[2022-03-03 21:37] #73096 closed

[2022-03-03 21:45] eellison commented on #73640
@jbschlosser yes, although as pointed in the comment almost all of the support is there and should b pretty minimal changes to add full support

[2022-03-03 21:49] desertfire opened #73756 "Allow LTC to handle special scalars (0, 1) differently"
### 🚀 The feature, motivation and pitch

Allowing handling special scalar for the TS backend generates `aten::ScalarImplicit` in the TS graph which will call `.item()` and cause a DtoH data sync. As a quick fix, I disabled that special scalar handling in https://github.com/pytorch/pytorch/pull/73580, which showed [a substantial perf gain](https://docs.google.com/spreadsheets/d/1lU0tgJDLuIcJDe0rrPc

[2022-03-03 22:02] ngimel commented on #73622
It has been recently added, so you'd need nighlty/1.11 rc binaries to get it

[2022-03-03 22:11] rohan-varma opened #73757 "[FSDP] Hide ConfigAutoWrap"
### 🚀 The feature, motivation and pitch

torch.distributed.fsdp.wrap.ConfigAutoWrap is public but this shouldn't be a public API, users can use enable_wrap, wrap, and auto_wrap_policy APIs.

### Alternatives

_No response_

### Additional context

_No response_

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @SciPioneer @H-Huang

[2022-03-03 22:35] pritamdamania87 commented on #73722
I think it makes sense for RPC to have its own serialization and more control over serialization for the following reasons:

1. torch.save()/torch.load are designed around serializing models to disk however for RPC we are serializing objects over the wire and we need to optimize for speed (ex: probably not use zipfile).
2. If you look closely at torch/distributed/rpc/internal.py, there is logic th

[2022-03-03 22:43] garymm commented on #34342
@dashesy there's already an API for custom ops to specify output shapes, though I guess it's not documented:

[2022-03-03 23:10] BowenBao commented on #62936
Should be fixed by #73760

[2022-03-03 23:41] emailweixu commented on #47908
Same observation for torch 1.8.2 on a 2080ti machine. The overall speed of one of my training job is about 20% slower with cu11 than cu10.2.

[2022-03-03 23:45] kristian-georgiev opened #73764 "Group convolution slower than manually running separate convolutions in CUDA streams"
### 🐛 Describe the bug

Calling `nn.Conv2d(..., group=n)` is slower than manually executing `n` separate convolutions.

[code]

Running both the separate convolutions and the fused convolution through the torch profiler as follows
[code]

shows that the single grouped convolution is slower:
[code]
Additionally, in both cases there are `num_convs` calls to the same CUDA kernel (`sm80_xmma_fprop_imp

[2022-03-03 23:49] kristian-georgiev commented on #73764
@GuillaumeLeclerc

[2022-03-04 00:41] rohan-varma opened #73767 "[Discussion][FSDP] Enhancements to auto_wrap_policy"
### 🚀 The feature, motivation and pitch

For meta device support, the following API has issues:

[code]

for details, see: https://github.com/cbalioglu/torchdistx/issues/3

To summarize the issue, when recursively nesting FSDP instances and composing that with deferred_init, tensors in `apply()` function can be created in fake tensor context resulting in issues. In general, it feels like using `au

[2022-03-04 00:57] pritamdamania87 commented on #70546
@suo Are there any examples I can look at? The recent examples link doesn't have anything since it is probably outdated now: https://www.torch-ci.com/failure/test_tensorpipe_set_default_timeout%2C%20TensorPipeTensorPipeAgentRpcTest.

I tried the test history tool as well and it looks like there are no reports: https://gist.github.com/pritamdamania87/35790a03dafa59cf6fa063335836a101

cc @janeyx99

[2022-03-04 00:59] ezyang commented on #69471
The plan is to officially publish our codegen as part of PyTorch so it can be used directly! (And in the meantime, Declarations.yaml isn't going anywhere, we're not going to go out of our way to delete it)

[2022-03-04 01:08] suo commented on #70546
Went to our data backend and there were two examples:

   -
   https://github.com/pytorch/pytorch/runs/4666724994?check_suite_focus=true
   -
   https://github.com/pytorch/pytorch/runs/4564324852?check_suite_focus=true

raw logs:
https://ossci-raw-job-status.s3.amazonaws.com/log/4666724994
https://ossci-raw-job-status.s3.amazonaws.com/log/4564324852

On Thu, Mar 3, 2022 at 4:58 PM Pritam Damania *

[2022-03-04 01:13] wqh17101 commented on #73487
So let me guess that torch`s cuda module does not support the system whose kernel  built without NUMA support.

[2022-03-04 01:16] johngrabner commented on #52288
I'm using the prebuilt docker images and was on pytorch/pytorch:1.6.0-cuda10.1-cudnn7-runtime.  The comment "PyTorch-1.7.1 with CUDA-11.0 should work with your GPU, although would have less than optimal performance".  I just purchased 2 A6000 and when I try the prebuilt docker image pytorch/pytorch:1.10.0-cuda11.3-cudnn8 I get the error

All distributed processes are registered. Starting with 2 pr

[2022-03-04 01:21] pritamdamania87 commented on #70546
Thanks a lot, I was wondering if you could share how to get these examples from the data backend? I usually try to use the `test_history` tool, but in this case it looks like for some reason it couldn't pick up these examples.

[2022-03-04 01:25] pritamdamania87 commented on #70546
Looking at https://ossci-raw-job-status.s3.amazonaws.com/log/4564324852, it seems like an "Address already in use error":

[code]

cc @lw Was wondering if you had any idea why this might be happening at the TensorPipe level?

[2022-03-04 01:31] janeyx99 commented on #70546
Ah, I think they are missing reports because the upload test stats step doesn't get to do the uploading part. The step fails when trying to access RDS to upload failures, but this should be fixed now after permissions were set. https://github.com/pytorch/pytorch/issues/73458

And for the data, you can query the scuba table like https://fburl.com/scuba/opensource_ci_jobs/k53dbso4

[2022-03-04 02:06] pritamdamania87 commented on #73168
@TianhangWang Not sure if this might be an issue with serialization/ddp. Can you share a simple self-contained repro script with DDP, torch.save and torch.load so that we can narrow down the issue?

[2022-03-04 02:15] pritamdamania87 commented on #73562
@jianan-gu Is this part of the bazel build and would https://github.com/pytorch/pytorch/pull/73629 resolve your problem? If not, could you provide some more details about how you are building?

cc @cbalioglu

[2022-03-04 02:22] pritamdamania87 commented on #73294
@surak Could you share the command you are running that triggers the reported error?

[2022-03-04 02:30] #73539 closed

[2022-03-04 04:27] rohan-varma commented on #68407
@zhaojuanmao Might be different and might be due to a bad diff that landed a while ago - I'll take a look soon.

[2022-03-04 04:40] rohan-varma commented on #66059
@awgu Would you like to take a look at this one?

[2022-03-04 04:59] ezyang commented on #11390
The view still requires grad:

[code]

[2022-03-04 05:15] Krovatkin commented on #73756
👍

[2022-03-04 06:20] BodyCSoulN opened #73775 "NCCL Error 2: unhandled system error of `DataParallel`"
### 🐛 Describe the bug

When I try to use mutil-GPUs with `DataParallel`, it occurs the error infos after servel times.

[code]
The outputs is below:
[code]

And I try to print the debug info  by add `os.environ["NCCL_DEBUG"] = "INFO"`
The outputs is below:
[code]
What can I do?
Thanks

### Versions

torch: 1.10.0
cuda: 11.3
platform: Ubuntu docker contianer of pytorch/pytorch:1.10.0-cuda11.3-cudn

[2022-03-04 06:42] krshrimali commented on #62545
From my comment [here](https://github.com/pytorch/pytorch/pull/71258#issuecomment-1058879269), I still think that it's an issue because the ordering is technically _wrong_. However, if everyone feels that this issue should be closed without being resolved anytime in the future, I'm okay with it, but my suggestion would be to keep this open even if there is no active plan to fix it. But again, as I

[2022-03-04 07:13] cdeepali commented on #73775
https://github.com/NVIDIA/nccl/issues/290#issuecomment-582524869

[2022-03-04 07:26] BodyCSoulN commented on #73775
Thanks for your kind reminder.

Why this didn't happen at the first few times of my training？

And if I want to keep this docker container, do you have any suggestions?

[2022-03-04 07:42] jakubMitura14 opened #73778 "Feature Request: Hausdorff distance"
### 🚀 The feature, motivation and pitch

I developed CUDA C++ algorithm for calculating Hausdorff distance for 3 dimensional arrays. Algortihm is developed for evaluation of medical image segmentation, but can be adapted to other 3D usecases, and preliminary benchmarks shown it is probably the fastest implementation based on mathemathical morphology ( 10 times faster then previous fastest develope

[2022-03-04 07:52] mwmuni opened #73779 "Poor performance when chaining operations"
## Issue description

There appears to be a problem when PyTorch tensors are resolving chained operators. Instead of performing the operation all at once, it appears to do them sequentially.

## Code example

[code]

tadd tensor(0.0252)
add tensor(0.0801)
seq tensor(0.0838)
pre tensor(0.0277)

Changing the offending line to:

[code]

Fixes the issue with the times showing:

tadd tensor(0.0250)
add

[2022-03-04 07:55] jianan-gu commented on #73562
Thanks, @pritamdamania87 , this https://github.com/pytorch/pytorch/pull/73629 did solve the issue here.

[2022-03-04 07:55] #73562 closed

[2022-03-04 07:59] pritamdamania87 commented on #73562
@jianan-gu It looks like https://github.com/pytorch/pytorch/pull/73629 was closed but not really committed in the repo, are you able to build fine in PyTorch master despite https://github.com/pytorch/pytorch/pull/73629 not being committed?

[2022-03-04 08:08] NakitaOza commented on #32881
@zihaozhang9 @debvrat I am facing the same problem. I have Nvidia RTX 3060 12 GB. I think hardware is not the issue. Did you find any solution yet?
I am using Pytorch 1.4.0, WSL 2 Ubuntu 20.4 on Windows 11. CUDA 11.6.
I have also tried multiple combinations of versions for the above and still could not find a solution.

[2022-03-04 08:08] zihaozhang9 commented on #32881
我已收到您发送的邮件。我会及时查看。

[2022-03-04 08:09] jianan-gu commented on #73562
Hi @pritamdamania87,   https://github.com/pytorch/pytorch/pull/73629 was closed because this commit https://github.com/pytorch/pytorch/commit/46f85865c09be6af232015a539f5260fe3ac344b was landed in the "release/1.11" repo and fixed this issue (works fine with the building). Thanks for your double-check.

[2022-03-04 09:15] sakh251 commented on #72329
Have you found any solution?

[2022-03-04 09:16] mszhanyi commented on #73339
@seemethere
I think I might find the root cause.
The github windows runner doesn't enable the `LongPathEnabled` while circleCI runner does
https://github.com/pytorch/pytorch/runs/5419753343?check_suite_focus=true#step:7:40
![image](https://user-images.githubusercontent.com/16190118/156734254-de66db30-d085-485d-9cda-51e75fee4a15.png)

![image](https://user-images.githubusercontent.com/16190118/1567

[2022-03-04 09:19] IvanYashchuk commented on #60854
The last part that needs to be done from the original list of tasks is [batched CSR support](https://github.com/pytorch/pytorch/issues/60854#batched-CSR-computation).

[2022-03-04 09:36] peterjc123 commented on #73339
I think the better way is to shorten the name of that file. Otherwise, it’s still not usable at the user side when they have long path disabled.

[2022-03-04 09:52] dongqi-liu opened #73782 "TORCHTEXT.DATASETS.IWSLT2017"
### 🐛 Describe the bug

[code]

Traceback (most recent call last):
  File "/Users/darcy/Desktop/dependency_forest_NMT/code/IWSLT/en-de/labeled_forest/try.py", line 6, in <module>
    train_iter = IWSLT2017(split='train', language_pair=('en', 'de'))
  File "/Users/darcy/opt/anaconda3/envs/supar/lib/python3.7/site-packages/torchtext/data/datasets_utils.py", line 257, in wrapper
    return func(root=

[2022-03-04 10:23] you74674 commented on #18631
<details>

[code]

</details>

I tested @samson-wang's implementation on TITAN Xp, and get 1~4x speed up depends on kernel and image size.
I cannot test it on 2070 because of cuda runtime error (701). It seems to be related to grid size or thread number but I don't know how to fix it.
One thing I notice about current pytorch implementation is that it only use 1 dimension of cuda grid. If I can som

[2022-03-04 10:27] AnirbanHFX commented on #34040
Facing the same issue when trying to build PyTorch 1.10.2 on ARMv7l (Odroid XU4) using g++ (Ubuntu/Linaro 7.5.0-3ubuntu1~18.04) 7.5.0.

XNNPACK build fails due to the following error -
[code]

Has anyone solved this issue?

[2022-03-04 12:31] lw commented on #70546
I had a deja-vu feeling when seeing this and indeed I think this was hit before: https://github.com/pytorch/pytorch/issues/64093 https://github.com/pytorch/pytorch/issues/69480. I gave my thoughts on this in those two issues, do those explanations make sense here?

[2022-03-04 14:14] cdeepali commented on #73775
I think best is to start a new container.

[2022-03-04 14:45] awgu opened #73784 "[FSDP] Add Gradient Accumulation Outside `no_sync()` Compatibility with CPU Offloading"
https://github.com/pytorch/pytorch/pull/73535 adds gradient accumulation outside the `no_sync()` context manager. However, it does not support the case when also using CPU offloading. With the PR, trying to do so yields the incorrect result since the newly-reduced gradient is used directly instead of accumulating with any existing gradient. This issue is meant to track this feature gap.

cc @zhaoj

[2022-03-04 14:48] Lezcano commented on #70486
I agree with @nkaretnikov. I believe that his PR https://github.com/pytorch/pytorch/pull/72324 solves this issue.

[2022-03-04 14:50] zou3519 commented on #73699
@jbschlosser I found some interesting behavior that makes rel_tol and precision unexpectedly equal 0 despite the tolerance overrides. I changed test_composite_compliance in test/test_ops.py to look like the following:

[code]
Then, running, `pytest test/test_ops.py -v -k "composite and linalg_det"`, it looks like self.rel_tol and self.precision are both 0, bu I would expect them to be 54321 and 12

[2022-03-04 15:21] jbschlosser commented on #73699
Ah that's unfortunate - looks like the overrides are not granular enough. `@toleranceOverride` replaces the entire dictionary of overrides:
https://github.com/pytorch/pytorch/blob/8a47d9cf869ceb44580a5e333741382323b7e637/torch/testing/_internal/common_device_type.py#L1016-L1018

We could potentially do `fn.tolerance_overrides.update(self.d)` if a `tolerance_overrides` was previously set on the tes

[2022-03-04 15:28] mszhanyi commented on #73339
@seemethere
test PR passed
https://github.com/pytorch/pytorch/pull/73342
https://github.com/pytorch/pytorch/runs/5420554904?check_suite_focus=true

I think it'd better to set in image.

[2022-03-04 16:05] t-vi opened #73789 "JIT: Fuser failures when calling a script function from multiple threads"
### 🐛 Describe the bug

I'm seeing crashes of various from an shape when trying to run a program that calls the following function
[code]
from multiple threads.

Unfortunately, I cannot share the full repro code, but here is a sample traceback:

[code]

### Versions

Version: master branch from Feb 24.

[2022-03-04 16:08] albanD commented on #73697
thanks for the clarification.
I am a bit surprised here. You were not using `autograd.grad()` when getting this error?

[2022-03-04 16:13] johngrabner opened #73790 "A6000 Docker Ligthning ddp NCCL WARN Failed to open libibverbs.so"
### 🐛 Describe the bug

[pytorch-lightning](https://pytorch.org/docs/stable/distributed.html) say "NCCL backends are built and included in PyTorch distributed (NCCL only when building with CUDA)"

When I upgrade my driver and docker from

to

and train with lightning ddp I get the error
`misc/ibvwrap.cc:63 NCCL WARN Failed to open libibverbs.so[.1]`

I just upgraded my 2x (Titan RTX with nvlink) t

[2022-03-04 16:34] brando90 commented on #73697
This is the code I was using:
[code]

So not, just the normal .backwards().

[2022-03-04 16:48] albanD commented on #73697
Thanks for the details!

First, related to your original question, the main problem with improving this error message is that at the autograd level, we don't know what are the variable names for the Tensors that are being manipulated. You can even have multiple variable name for a single Python object in general.
The information we try to give for the inplace failure for example is the shape of th

[2022-03-04 16:56] brando90 commented on #73697
Hi! Glad it was helpful :)

So, this in the context of an nn.module. So if I print the modules I can see what the class is and they all have names:

[code]

so I'd expect it to tell me becase the names are above! :)

So if the error happened in the above I'd expect it to tell me which module is doing it.

Does that help?

-----

I tried reproducing the error but it seems I might need more work to

[2022-03-04 16:57] brando90 commented on #73697
Yes that would be useful! But see my previous message about the modules. In that case you should know the names. Right? Perhaps its harder to get them than I expected.

working on it but might take me a few days to do...

will keep trying for sure.

[2022-03-04 17:03] CJMenart opened #73792 "Bug: torch.distributions.mixture_same_distribution._pad_mixture_dimension"
### 🐛 Describe the bug

I already tracked down what's going on with this one; there is a bug in mixture_same_distribution._pad_mixture_dimension. It uses numel() on Size objects in order to get the number of dimensions in its tensors--however, Size.numel() multiplies all the elements of the size tensor together (it's telling you how many numel are in the tensor whose size it represents!), thus ret

[2022-03-04 17:18] ngimel commented on #73764
cc @xwang233
@kristian-georgiev do those convolution parameters come from real workloads? The number of input/output channels is 512*200, which is far outside the ranges typically encountered in convnets, and thus far outside the ranges that cudnn is optimized for.
Also, for best performance try using half datatype.

[2022-03-04 17:36] kristian-georgiev commented on #73764
The parameters above come from a workload I was considering. However, similar behavior is observed for a more standard vision setup:
[code]
which would be similar to the workload during training an e.g. ResNet-18 architecture. The parameters above result in
[code]

[2022-03-04 17:44] mwootton commented on #73588
Reverted the breaking change and cleaned up a bit in:
https://github.com/pytorch/kineto/pull/553

[2022-03-04 17:52] ngimel commented on #73764
Can you try your script with `torch.backends.cudnn.benchmark=True`?

[2022-03-04 18:18] kristian-georgiev commented on #73764
With cudnn benchmarking, using
[code]
and running the profiler for more iterations (20) to make sure the benchmark converges, the results are
[code]

[2022-03-04 18:30] dfalbel commented on #69471
Ohh right! Thanks very much! I was scared that it was going away completely :P

[2022-03-04 18:37] seemethere commented on #60983
I'm not entirely sure if this is still a priority for the dev infra team, going to remove from our backlog

[2022-03-04 18:38] seemethere commented on #68379
This is not currently a priority for the dev infra team, removing from the dev infra backlog

[2022-03-04 18:38] seemethere commented on #68379
Going to close, please re-open if more context is gathered

[2022-03-04 18:38] #68379 closed

[2022-03-04 18:41] seemethere commented on #69683
Nightly builds now work, closing

[2022-03-04 18:41] #69683 closed

[2022-03-04 18:42] eellison commented on #73789
Fix here: https://github.com/pytorch/pytorch/pull/73800

[2022-03-04 18:42] #71257 closed

[2022-03-04 18:44] seemethere commented on #72368
This still appears to be an issue, perhaps a higher priority issue now?

[2022-03-04 18:46] zinovya commented on #43359
@VitalyFedyunin do you know if there is a blog post or some kind of article describing how to build pytorch for risc-v?

[2022-03-04 18:47] seemethere commented on #72368
@b0noI has suggested that our current primary submit a PR to disable ASAN for now until we can figure out how to re-balance (@atalman)

[2022-03-04 18:54] seemethere commented on #72552
We've assessed that we don't really need to do this right now. Maintaining 2 different CI systems is a greater cost than the benefit of having the switch over capability.

[2022-03-04 18:54] #72552 closed

[2022-03-04 18:59] seemethere commented on #72553
There currently exists a script to view our self hosted runners at https://github.com/pytorch/test-infra/blob/main/tools/self-hosted-runner-utils/check_runners_state.py,

Functionality is coming from github as well per this blog post: https://github.blog/2022-02-23-new-way-understand-github-hosted-runner-capacity/

[2022-03-04 18:59] #72553 closed

[2022-03-04 19:00] seemethere commented on #72555
We've identified this as a low priority item, going to remove from the Dev Infra backlog

[2022-03-04 19:03] seemethere commented on #62738
Duplicate of #70881, closing in favor of that issue

[2022-03-04 19:03] #62738 closed

[2022-03-04 19:04] seemethere commented on #64856
Probably not that necessary but a nice to have, might not be possible without using rootless docker

[2022-03-04 19:04] #64856 closed

[2022-03-04 19:06] miquel-espinosa commented on #31935
Sorry for the late reply.

I tried to reproduce the error with a simple vanilla network, but the error did not arise in such case.
So I suspected that it must have been thrown from a code error or some hardware specific thing.

But later on, I decreased the batch size and the error does not appear now, and I'm able to train correctly the model.
Therefore, I think it was probably an issue with the

[2022-03-04 19:06] eellison commented on #72267
https://github.com/pytorch/pytorch/pull/73802 - data race issue for multi-threaded inference with dynamic shapes on GPU as seen in https://github.com/pytorch/pytorch/issues/73789. sorry I know this is late :/

[2022-03-04 19:07] dvolgyes commented on #69666
What is the status? As I see this is the last open issue in the 1.11.0 milestone,
it would be nice to resolve it.
https://github.com/pytorch/pytorch/milestone/26

[2022-03-04 19:07] seemethere commented on #62598
We're not currently running libtorch tests anymore for our nightly / release binary workflows. Users haven't reported issues yet so I'm assuming that these binary tests weren't actually important in the first place. Closing, feel free to re-open if the problem resurfaces.

[2022-03-04 19:07] #62598 closed

[2022-03-04 19:09] seemethere commented on #62580
We went over this in our backlog review meeting and we don't think there is a big potential net benefit feature. Going to close, feel free to re-open if necessary.

[2022-03-04 19:09] #62580 closed

[2022-03-04 19:13] seemethere commented on #61809
We've identified scribe as a deprecated way of reporting test stats and are instead moving towards a more OSS oriented solution, closing.

[2022-03-04 19:13] #61809 closed

[2022-03-04 19:14] seemethere commented on #62973
Removing from Dev infra backlog, not related to dev infra projects for right now.

cc @albanD to find the correct owner for this

[2022-03-04 19:15] seemethere commented on #62370
I believe @suo is already work towards this but his proposal is a bit different. Going to close since this issue does not contain the relevant issue anymore, feel free to re-open if necessary.

[2022-03-04 19:15] #62370 closed

[2022-03-04 19:20] seemethere commented on #56556
This is no longer relevant, closing

[2022-03-04 19:20] #56556 closed

[2022-03-04 19:23] seemethere commented on #73755
Can we get statistics on failures related to network flakiness? Trying to see how much we should prioritize this work

[2022-03-04 19:23] seemethere commented on #73755
Also related to https://github.com/pytorch/test-infra/issues/92

[2022-03-04 19:27] albanD commented on #73697
Actually we don't have the names. Autograd is an independent system that sits bellow torch.nn. And the only thing it sees are plain Tensors. It is not aware of the nn specific logic.
Also note that the names you see printed above are for Modules, not Tensors (or Parameters).

[2022-03-04 19:31] stas00 commented on #69666
Have you tried with the 1.11-rc? It should work again, try:

[code]

[2022-03-04 19:31] wconstab commented on #73711
XlaLazyTensor to subclass LazyTensor
XlaTensorImpl to maintain a XlaLazyTensor(non-pointer)

I was actually wondering out loud if it is possible to fold LazyTensor and LtcTensorImpl into one class.

I already wanted to fold Data and LazyTensor into one class,

And I thought that logically LTCTensorImpl is a 1:1 mapping to a LazyTensor, so why keep them separate at all?

[2022-03-04 19:35] #69444 closed

[2022-03-04 19:35] #73757 closed

[2022-03-04 19:40] dvolgyes commented on #69666
I haven't, since I never had this issue. But this issue seems to be on the milestone list, actually the last one, and it is not clear if this could be closed, or there is remaining work, does it block v.1.11 release, or 1.11 will be just released with this open? And I haven't seen any update in 2.5 weeks. So it was just a friendly question / reminder.

[2022-03-04 19:53] stas00 commented on #69666
I can't answer for the general case. I can only tell what I shared here: https://github.com/pytorch/pytorch/issues/69666#issuecomment-1040706609 - i.e. my original bug report has been addressed.

And as I stated I don't know how and where it has been resolved, it just started working when I tried again 3 weeks ago.

[2022-03-04 20:28] rohan-varma opened #73809 "Investigate default auto_wrap_policy"
### 🚀 The feature, motivation and pitch

Currently, FSDP does not recursively wrap submodules by default, which can result in some usability issues as all users will have to figure out a wrapping policy for their use case or manually annotate some models with wrap().

We could run some experiments on key workloads and come up with a general policy, perhaps based on # of parameters to wrap, that ap

[2022-03-04 20:30] mrshenli commented on #73767
First, thanks @rohan-varma and @zhaojuanmao for helping me understand the context.   Below are my thoughts.

Suppose we have three types of scenarios:

A. Perf-critical scenarios, do whatever necessary to optimize perf
B. Non-perf-critical scenarios w/o access to model source code, say users just wanna apply a 3rd-party model to their own application. No changes are allowed to the model source cod

[2022-03-04 20:54] carlosgmartin commented on #49171
@zou3519 @albanD I think it would be great for PyTorch to move toward a more purely-functional API. What do you think of the following JAX-inspired approach, which keeps parameters in a tree and feeds this parameter tree directly into the model together with the input?

[code]

To maintain purity with respect to state and randomness, one could pass additional `state` and `rng` arguments down the m

[2022-03-04 21:03] JackCaoG commented on #73711
I actually is not sure why `XlaTensorImpl` and `XlaTensor` is a separate class, to me it is a bit more clean because `XlaTensorImpl` needs to inherited from `c10:TensorImpl` and implement some upstream request like `size`. `XlaTensor` is cleaner and focus on xla specified logic. maybe @ezyang and @ailzhang has better ideas regarding why `XlaTensorImpl` is being done this way😄 .

[2022-03-04 21:46] #73559 closed

[2022-03-04 22:02] pritamdamania87 commented on #70546
@lw Thanks for the pointers, looking through those two issues it seems like there are two potential reasons for this:

1. This should be avoidable if PyTorch passes a separate port for each multiplexing lane.
2. This might be what's going on here: we're turning up and tearing down connections at such a rate that all ports are unavailable.

Regarding 1. can you point to where exactly we pass in thi

[2022-03-04 22:42] brando90 commented on #73697
Oh yea I am aware they are modules.

Seems autograd works differently than I hoped... :/

Thanks regardless! I obviously still think this is a drawback of the current autograd but perhaps its not a priority right now. But would be very very appreciated.

[2022-03-04 22:53] pritamdamania87 commented on #73683
@rohan-varma This seems to be working fine for me on the A100 machine I tried out:

[code]

[2022-03-04 22:53] janeyx99 opened #73812 "Enable squid proxy to use TLS + work with HTTPS"
### 🚀 The feature, motivation and pitch

The squid proxy would be useful in caching existing dependencies and eliminating flakiness when pulling dependencies. Currently it only works with http which is unfortunate as the modern world (rightfully) uses https.

It may be a game changer for eliminating network flakiness if we could get this working!

Current code for this is hosted at https://fburl.c

[2022-03-04 23:16] pritamdamania87 commented on #70546
@lw Although looking at the code here: https://github.com/pytorch/pytorch/blob/master/torch/csrc/distributed/rpc/tensorpipe_agent.cpp#L456, it seems like we only pick a default address for UV and not port. If so, I'm assuming the port will always be 0 and the OS should pick one for us. In that case, it is indeed weird that we have an "Address already in use" error.

[2022-03-04 23:17] connorbrinton opened #73813 "AArch64 Python 3.10 wheel accidentally released?"
### 🐛 Describe the bug

Hi, I recently noticed that there is a Python 3.10 AArch64 wheel uploaded to PyPI for Torch 1.10.2:
https://pypi.org/project/torch/1.10.2/#files

I've read elsewhere that Python 3.10 support [won't be backported](https://github.com/pytorch/pytorch/issues/71632#issuecomment-1018706501) to the 1.10.x series. Perhaps an in-development CI job for Python 3.10 support was acciden

[2022-03-04 23:21] seemethere commented on #73339
Maybe long path issue in this case (and in the case of CircleCI) is only due to the amount of nesting we do for CI since we install our conda environment in the actual build directory.

@mszhanyi thanks for the fix though! This is huge!!

[2022-03-04 23:26] dashesy commented on #34342
Yes that would address all the issue, thanks

[2022-03-04 23:26] yulonglin commented on #73190
@malfet While playing around with inputs and looking at the code to understand this issue, I noticed that you created a PR. However, while attempting to understand the issue, I noticed the following behavior which I don't think are resolved by your PR https://github.com/pytorch/pytorch/pull/73769, should I create separate issues (and potentially PRs) about them?

Using the code in the description

[2022-03-04 23:49] #73068 closed

[2022-03-05 00:12] ezyang commented on #73711
I have never touched XlaTensorImpl haha. I'm guessing in the early days it wasn't so well documented how to set things up so XLA did it one way and it stuck.

[2022-03-05 00:58] bdhirsh commented on #73557
One thing I'm wondering - PythonTLSSnapshot doesn't let you distinguish between re-entrant dispatcher `::call`s in C++ (e.g. a `CompositeImplicitAutograd` op that calls base ops) vs. re-entrant calls in python (every layer of unwrapping that you would do in a `__torch_dispatch__` wrapper object.

Is it important to be able to distinguish those? It seems like... maybe? For a `CompositeExplicitAutog

[2022-03-05 01:05] bdhirsh commented on #73557
One way to do that (that I just realized actually tries to do something similar to @soulitzer 's referenced commit above) is with side-car TLS:
[code]

[2022-03-05 01:27] TianhangWang commented on #73168
Thank you for your advise, I create a simple repro which contains train adn test file, please check [repro](https://github.com/TianhangWang/debug-pytorch-ddp) for more details.

[2022-03-05 03:05] ptrblck commented on #73790
`NCCL WARN Failed to open libibverbs.so[.1]` shouldn't be an issue as it would enable RDMA only, but shouldn't create a hang (I'm seeing the same warning when trying to reproduce).
So far I wasn't able to reproduce the hang on an 8xA100 and 2x3090 node (I don't have a node with multiple A6000s available yet) using `pytorch/pytorch:1.10.0-cuda11.3-cudnn8-runtime` and the `bug-demo.py` script.

I as

[2022-03-05 04:20] pritamdamania87 commented on #73790
@johngrabner If this is indeed a hang in addition to `NCCL_DEBUG=INFO` can you also set the environment variable `TORCH_DISTRIBUTED_DEBUG=DETAIL`. That would provide a lot more detailed debug information to enable troubleshooting this issue further.

[2022-03-05 07:31] TNTWEN commented on #69031
Hi！
@rohan-varma
Is there any alternative solution to this issues? It seems that torch (Preview Nightly)still can't track used/unused parameters.

[2022-03-05 07:54] adk9 opened #73825 "TypeError: cannot pickle 'torch._C._distributed_c10d._ProcessGroupWrapper' object"
### 🐛 Describe the bug

I'm trying to save a simple model (`LinLayerNet` in the example below) that takes as input a reference to a new process group being used for collective communication:

[code]

`torch.save` fails with the following traceback:
[code]

Any idea how I can get around this issue?

### Versions

1.10.2

[2022-03-05 08:04] nipunbatra opened #73826 "Better Error report in torch.distribution.*.sample (when passing a non-iterable)"
### 🐛 Describe the bug

[code]

While for someone experienced, the error might be obvious. For someone looking at this the first time, I wonder if a better message might be that Expected `torch.Size()` but found `int` followed by a quick sample usage also shown as a part of the error. This should be a quick and easy fix. Perhaps there are more such places where such better error messages might be

[2022-03-05 12:48] xkszltl opened #73827 "Layer name mismatched in RNN"
### 🐛 Describe the bug

See details in https://github.com/pytorch/pytorch/pull/24388
PR for a simple fix has been opened for years but seems lost in the process.

### Versions

All current releases.

[2022-03-05 13:22] volkov-maxim commented on #17179
Hi!
How can I zip `ModuleList` and `List` of tensors?

[2022-03-05 13:34] tarunbhatiaind commented on #32651
@zakajd . Thanks for your solution, but in my case no hyparameters are logged at all. I am adding after each epoch. I hope this was not intended from the code. I am using pytorch with tensorboard dev.

[2022-03-05 13:53] NicolasHug opened #73828 "torch.profiler schedule function doesn't work as expected"
### 🐛 Describe the bug

Perhaps I'm completely misunderstanding how the `schedule` function should behave so please correct me if I'm wrong, but it looks like there are many unexpected results with the profiler.

[code]

[code]

### Versions

[code]

cc @ilia-cher @robieta @chaekit @gdankel @bitfort @ngimel @orionr @nbcsm @guotuofeng @guyang3532 @gaoteng-git

[2022-03-05 14:01] TheGreatGalaxy opened #73829 "Run examples: libtorch_cuda_cpp.so: undefined reference to `cudaStreamUpdateCaptureDependencies@libcudart.so.11.0'"
### 🐛 Describe the bug

When run the pytorch example:  https://pytorch.org/cppdocs/installing.html

CMakeLists.txt files:
[code]

cpp:
[code]

cmake command:
[code]

will  appears:
[code]

but seems the file dependencies is ok：

[code]

### Versions

libtorch version:
https://download.pytorch.org/libtorch/cu113/libtorch-cxx11-abi-shared-with-deps-1.10.2%2Bcu113.zip

os: Ubuntu 18.04

cmake version

[2022-03-05 14:16] daigo0927 commented on #27212
FYI: Microsoft offers contrib GridSample ops. We can register the contrib GridSample operation as a counterpart of `F.grid_sample` like below:

[code]

This is officially used in [onnxruntime](https://github.com/microsoft/onnxruntime/blob/master/onnxruntime/python/tools/pytorch_export_contrib_ops.py) and I have check with my [gist](https://gist.github.com/daigo0927/8c8b3005cffb61983e80ceab6c1f2274

[2022-03-05 15:49] johngrabner commented on #73790
Updated [minimal example of issue](https://github.com/johngrabner/NCCL-WARN-Failed-to-open-libibverbs.git) with suggested TORCH_DISTRIBUTED_DEBUG=DETAIL and  NCCL_DEBUG=INFO
The output is now:
[code]

[2022-03-05 15:57] JuanFMontesinos commented on #71680
Hi,
currently working in audio-visual here.
After some deprecation warnings I just decided to ask for support for complex32.
Pytorch is doing an effort to close the gap in the production scenario with tensorflow. At least that's my feeling after seeing
native support for half precision, torchscript and jit etcetera...
As I briefly addressed in [#1337 ](https://github.com/pytorch/audio/issues/1337)

[2022-03-05 15:58] johngrabner commented on #73790
Working on [nccl-test](https://github.com/NVIDIA/nccl-tests). My host only has nvidia driver installed, everything else (CUDA, pytorch, etc) is in docker.  So working on dockerizing ncc-test.

[2022-03-05 17:22] johngrabner commented on #73790
[ptrblck](https://github.com/ptrblck) when you say

does this mean you ran inside docker ie: run.sh or that you ran 'bug-demo.py' in a terminal on your host?

The reason I ask is to eliminate the possibility that docker, docker-compose, or nvidia plugin for docker is contributing to the issue.

[2022-03-05 18:05] johngrabner commented on #73790
I installed CUDA, pytorch, etc on the host directly. Same behavior, so docker, docker-compose and nvidia plugin not implicated. Here is the output of a local run:
`

(base) john@john-trx40-designare:/Disk2/Documents/GitHub/NCCL-WARN-Failed-to-open-libibverbs$ python bug-demo.py
****************************
Collecting environment information...
PyTorch version: 1.10.2
Is debug build: False
CUDA use

[2022-03-05 19:15] MartynaKsyta commented on #73071
@BowenBao  Hi! Yes, they are the same. I'm created [the issue in onnxruntime repo](https://github.com/microsoft/onnxruntime/issues/10783)

[2022-03-05 19:15] #73071 closed

[2022-03-05 19:43] ptrblck commented on #73790
Thanks for the updates @johngrabner. Were you able to build and run the `nccl-test`s? Based on the current output I cannot see any obvious issues (yet).

[2022-03-05 20:03] ptrblck commented on #73790
@johngrabner Could you check if disabling `IOMMU` helps as described [here](https://docs.nvidia.com/deeplearning/nccl/user-guide/docs/troubleshooting.html#pci-access-control-services-acs) as it could also cause a hang?

[2022-03-05 20:37] norabelrose commented on #72901
My PR fixing this issue got merged, but then reverted a few days later with a commit stating that it "broke fluent2 tests." I don't know what fluent2 is- I'm assuming some internal Meta thing- but I'm honestly a bit upset that this was reverted without any explanation as to how I could fix the issue. If @qihqi or anyone else could help me get this re-landed I'd greatly appreciate it. I don't want

[2022-03-05 21:15] johngrabner commented on #73790
**re: Were you able to build and run the nccl-tests?**

ncc-test needs a link to CUDA and NCCL , I can't seem to find these inside the docker image  pytorch/pytorch:1.6.0-cuda10.1-cudnn7-runtime or any later docker image. Other than that I wrapped everything into a [docker nccl-test](https://github.com/johngrabner/nccl-tests.git)

I never installed NCCL on my host, at least not intentionally. I as

[2022-03-05 21:28] ptrblck commented on #73790
Use the `-devel` container, which should ship with the CUDA toolkit and would allow you to build the tests.

Also, make sure to use the CUDA 11 toolkit for your A6000s. E.g. `pytorch/pytorch:1.10.0-cuda11.3-cudnn8-devel` should work.

[2022-03-05 21:33] johngrabner commented on #73790
will do

[2022-03-05 22:12] johngrabner commented on #73790
Not confident with the above results.
[code]
So I don't see nccl in /usr
and readme of nccl-test says

[code]
but I just did the default make as in
[code]

[2022-03-05 22:29] johngrabner commented on #73790
uploaded the updated [docker image of nccl-test for 2 GPUs](https://github.com/johngrabner/nccl-tests.git)
Could someone try
`sh run.sh`
to verify that it works correctly. On my system, it freezes as I indicated in the log above.

[2022-03-05 23:03] johngrabner commented on #73790
[ptrblck](https://github.com/ptrblck) your suggestion  [to disable IOMMU](https://docs.nvidia.com/deeplearning/nccl/user-guide/docs/troubleshooting.html#pci-access-control-services-acs) was the solution.  Now everything started working. Thank you so much. I would have never found this without your help. Thank you.

The [docker of nccl-test for 2 gpu](https://github.com/johngrabner/nccl-tests.git)

[2022-03-05 23:03] #73790 closed

[2022-03-06 01:50] TestSomething22 commented on #73499
@albanD Is this a bug or precision feature?

[2022-03-06 04:10] ezyang opened #73832 "Legacy sparse tensor constructor (e.g. torch.cuda.sparse.FloatTensor) silently ignores device kwarg"
### 🐛 Describe the bug

[code]

Ordinarily this would be low priority to fix because this is the legacy constructor but I notice that the code here is getting copy pasted a lot so I think we should somehow delete this functionality or tighten up the API, fix this problem and un-deprecate it.

### Versions

master

[2022-03-06 04:10] ezyang commented on #73832
(Please don't attempt to fix this right now, I'm working on a massive refactor of this file)

[2022-03-06 04:16] #64485 closed

[2022-03-06 06:37] zhuzilin opened #73833 "Support unscaling grad on CPU"
### 🚀 The feature, motivation and pitch

For now, the kernel for unscaling gradients `_amp_foreach_non_finite_check_and_unscale_` only has cuda version. However, as the scale of pretrained models are growing larger and larger, the solutions for reducing memory usage during training, e.g. [microsoft/DeepSpeed](https://github.com/microsoft/DeepSpeed), [Tencent/PatrickStar](https://github.com/Tencent

[2022-03-06 07:04] BodyCSoulN commented on #73775
Thanks so much,
I have solved this problem.

[2022-03-06 11:03] joshivinod opened #73834 "Perceptual Hashing (pHash) support in torch or torchvision to identify duplicate images"
### 🚀 The feature, motivation and pitch

## Context
Any machine learning problem starts with data cleansing and pre-processing and so does for computer vision as well. One of the initial tasks during image processing is to validate the quality of input images. One aspect of checking the quality is "finding duplicate images in the data"

This is where [perceptual Hashing ](http://www.phash.org/down

[2022-03-06 11:07] mikeb127 commented on #73165
As a possible hint from a brief look......Look at the if statement in line 485 of file pytorch/aten/src/ATen/native/LossNLL.cpp

Both 'Sum' and 'None' reduction work fine, so consider lines 494 and 505.

I want to finish my other PR first, but when I am done with it I will take this one as well if no-one has picked it up by then

[2022-03-06 11:13] vadimkantorov commented on #73320
@kiukchung As you see, people it's not clear to users that `torchrun` is a synonym for `python -m torch.distributed.run`: https://github.com/pytorch/pytorch/issues/73656 and that it's torch.distributed.run that should be checked for modifications.

Maybe would be good for torch.distributed.run to print out it's own arguments or add a print indicating that it's torch.distributed.run that's running.

[2022-03-06 11:33] mikeb127 commented on #73165
Actually, I've fixed now. Will create PR

[2022-03-06 11:38] HaoZeke opened #73835 "ENH: Adding dropdown panels to the documentation"
### 🚀 The feature, motivation and pitch

## Motivation
I've been writing up a small document on NumPy compatibility over at https://github.com/pytorch/pytorch/pull/71688 and one of the things which stood out is that there is no current mechanism to provide optional details without directing the reader to an issue or pull request comment. In that PR, the optional details would be [this block descri

[2022-03-06 12:16] entalent commented on #14954
## Issue description

Trying to build PyTorch from source (using branch release/1.10) but failed with the following error:

[code]
The environment variable CMAKE_PREFIX_PATH is already set to `${CONDA_PREFIX:-"$(dirname $(which conda))/../"}`.

## System Info

- PyTorch or Caffe2: PyTorch
- How you installed PyTorch (conda, pip, source): source
- Build command you used (if compiling from source):

[2022-03-06 13:28] SysuJayce commented on #68880
Suffering from the same problem.

If we use `padding="same"` in Conv Module, training stage will be ~5% faster, but can not convert to onnx.

[2022-03-06 14:11] himkt commented on #11134
Let me close because there are good libraries for CRF in pytorch (e.g. pytorch-crf).

[2022-03-06 14:11] #11134 closed

[2022-03-06 15:30] MaxTranced commented on #52286
@navahgar What do you mean to say when you say "for this"? You mean that the dynamic shape fusion can be turned on using that API? Is that documented? What version of PyTorch is it available from?

[2022-03-06 16:18] ezyang opened #73838 "Tensor.new_tensor now preserves input tensor device, making it inconsistent with documentation"
### 🐛 Describe the bug

[code]

However, docs say:

The regression was caused by https://github.com/pytorch/pytorch/pull/41984 (cc @gchanan @mruberry) which was intended to change the behavior of non-method constructors but accidentally also affected method constructors as well.

Please don't actually try to fix this, I'm in the middle of a big refactor at https://github.com/pytorch/pytorch/pull/7

[2022-03-06 16:46] malfet commented on #73068
Verified that libtorch-win-shared-with-deps-debug-latest.zip was generated on Mar 6th

[2022-03-06 20:01] FeiDao7943 commented on #47702
The M1 MacBook needed GPU acceleration on PyTorch, the GPU has the heart to rest while code running and other devices working so hard?

[2022-03-06 21:57] yulonglin opened #73840 "max_pool1d(): argument 'dilation' must be tuple of ints, but found element of type int at pos 1"
### 🐛 Describe the bug

`max_pool1d(): argument 'dilation' must be tuple of ints, but found element of type int at pos 1` when arguments are large.

### Example to reproduce
Using the code below, I vary three arguments `kernel_size`, `stride` and `dilation variables` (using a variable `i`).

Set `i` (i.e. the value of the variables) to be beyond the range of `int64_t` e.g. `sys.maxsize + 1` (i.e.

[2022-03-06 22:05] yulonglin commented on #73840
I'd like to work on this.

[2022-03-06 22:18] yulonglin opened #73841 "`max_pool1d()`: `RuntimeError: [enforce fail at CPUAllocator.cpp:68] . DefaultCPUAllocator: can't allocate memory`"
### 🐛 Describe the bug

`RuntimeError: [enforce fail at CPUAllocator.cpp:68] . DefaultCPUAllocator: can't allocate memory` for `max_pool1d()`.

### Example to reproduce

Using the following code, I set all three arguments `kernel_size`, `stride` and `dilation variables` (using a variable `i`). I set `i = 2147483697`

[code]

### Result

[code]

### Expected behavior

An error like `RuntimeError: m

[2022-03-06 22:38] mikeb127 commented on #73176
@ilovepytorch do you have mre's for the other functions available?

PR to fix MultiLabelMarginLoss is ready to go. Happy to add other when available. Otherwise we can merge without them if you like

[2022-03-07 01:40] #73775 closed

[2022-03-07 01:44] tanmodong commented on #47885
Upgrade to NCCL 2.11.4 resoleved my problem in pytorch 1.7.1

 1) cuda/11.0/11.0.3     2) cudnn/8.0/8.0.5      3) nccl/2.11/2.11.4-1

below list is my torch environment
Package                       Version
----------------------------- -----------
accelerate                    0.5.1
backcall                      0.2.0
backports.functools-lru-cache 1.6.4
certifi                       2021.10.8
cyc

[2022-03-07 02:49] RangeLiu opened #73843 "Warning: Constant folding - Only steps=1 can be constant folded for opset >= 10 onnx::Slice op"
### 🐛 Describe the bug

When converting my .pth model to onnx, I got the following warning.
`Warning: Constant folding - Only steps=1 can be constant folded for opset >= 10 onnx::Slice op. Constant folding not applied.`

My converting codes:
`
 # set the model to inference mode
    model.eval()
    # Let's create a dummy input tensor
    dummy_input = torch.autograd.Variable(
        torch.randn(1

[2022-03-07 02:53] cdzhan commented on #46802
I encountered the same "BrokenPipeError" occasionally when I broke the loop in middle of the iterations. I was using Pytorch 1.6.
[code]
After debugging the code, I found `worker_result_queue` may close reader of itself before the writing of pipe finish. @Vi

[2022-03-07 09:22] snowzm opened #73848 "torch.distributions.multinomial.Multinomial (an example mistake of docs)?"
### 🐛 Describe the bug

The tutorial example:
[https://pytorch.org/docs/stable/distributions.html#multinomial](url)
`m = Multinomial(100, torch.tensor([ 1., 1., 1., 1.]))`
`x = m.sample()  # equal probability of 0, 1, 2, 3`
`tensor([ 21.,  24.,  30.,  25.])`

`Multinomial(probs=torch.tensor([1., 1., 1., 1.])).log_prob(x)`
`tensor([-4.1338])`

**I met an Error and the value was not  -4.1338, whilst

[2022-03-07 10:22] lw commented on #70546
Regarding 1, there's no "explicit" ports ever being used by TensorPipe. What happens during these tests is that we might use an explicit port to initialize the TCPStore (or maybe not even that, if we use a FileStore) but, once the store is established and passed to the TensorPipe agent, we only ever create sockets bound on "automatic" ports (i.e., a port of 0, which tells the kernel to find a free

[2022-03-07 12:14] cxmscb commented on #38222
Any news? It is 2022

[2022-03-07 13:59] cbalioglu commented on #73767
@mrshenli I believe Rohan's latest PR to torchdistx which allows you to pass a lambda to `materialize_module()` to filter modules, fixes the problem with `wrap` and `deferred_init`.

`FakeTensor` already exposes `has_storage()` like all other `TensorImpl` subclasses. In fact #70383 I attempted to introduce a Python binding for `has_storage` to handle similar use cases, but the core team was hesita

[2022-03-07 14:10] ezyang commented on #73838
I'm bailing on https://github.com/pytorch/pytorch/pull/73824 but let's chat if you wanna work on this

[2022-03-07 14:10] ezyang commented on #73832
I'm bailing on https://github.com/pytorch/pytorch/pull/73824 but let's chat if you wanna work on this

[2022-03-07 14:31] rohan-varma commented on #73767
Following up re the end of @mrshenli's comment and @cbalioglu's response - the issue can indeed be fixed in torchdistx, the crux of the fix being avoiding recursively calling `apply()` on FSDP modules to initailize parameters, which is not needed as FSDP modules are built bottom up. This avoids the storage exception entirely, which should be the case here, as we should not be running that portion

[2022-03-07 14:39] rohan-varma commented on #73767
@mrshenli C indeed seems a little bit complicated although I'm not sure if I explained my proposal correctly.

Yep, agree with this.

Overall my proposal for (C) is to not use `enable_wrap` at all, but a combination of `wrap` and `auto_wrap_policy`. Concretely as mentioned in the overall issue, if not in a `enable_wrap` context, `wrap` will just annotate the module that it should be wrapped, and u

[2022-03-07 14:52] rohan-varma commented on #73767
Regarding A, we could also provide a set of policies after doing some studies / experiments on the best ways to wrap with FSDP on canonical workloads, and users may get better ease of use as well as good perf by experimenting or writing their own policies. However until we build something like autotuning, there may not be a 1:1 substitute for manual wrap + enable_wrap which provides the user the m

[2022-03-07 15:02] mruberry commented on #73792
Would you extend this issue with a small code snippet that demonstrates the bug and shows the before/after with the proposed fix?

Yep, just open a pull request for your branch to be merged with master and we'll be able to review it.

[2022-03-07 15:04] mruberry commented on #73782
Please file this issue on the torchtext GitHub: https://github.com/pytorch/text/

[2022-03-07 15:04] #73782 closed

[2022-03-07 15:06] mruberry commented on #73779
This analysis is correct and expected. PyTorch executes each operation eagerly so in some cases this is performing one tensor x scalar operation, and in other cases the above performs multiple tensor x scalar operations to compute the same result.

[2022-03-07 15:06] #73779 closed

[2022-03-07 15:41] jakubMitura14 commented on #73778
Yes, I suppose I did not made my statement clear I do not state that I want to add unique new metric - I state My algorithm is probably most efficient algorithm to calculate Hausdorff distance.

[2022-03-07 15:56] eellison commented on #73789
Closed on master..

[2022-03-07 15:56] #73789 closed

[2022-03-07 16:16] zou3519 commented on #73212
Our options right now so far seem to be:
- kick tools/codegen (including native_functions.yaml!) into a `torch.utils._codegen` package
- figure out how to package tools/codegen into its own pip installable
- move functorch codegen into pytorch/pytorch

I'm not comfortable with moving functorch codegen into pytorch/pytorch because I want to be able to refactor it with less than 1 day (i.e. waiting

[2022-03-07 17:12] ngimel commented on #73499
It's not a precision "feature", but there's no expectation that `mean` and `mean_var` functions should produce the same results.

[2022-03-07 17:12] #73499 closed

[2022-03-07 17:47] H-Huang commented on #73825
@adk9 thanks for the repro! A workaround is to save the state_dict:

[code]

which can be loaded like this:

[code]

cc @pritamdamania87, should we add pickling support for ProcessGroups?

[2022-03-07 18:05] ngimel commented on #73628
No, we don't backport fixes like this.

[2022-03-07 18:05] #73628 closed

[2022-03-07 18:06] malfet commented on #73813
One can try Python-3.10 wheels for the upcoming 1.11 release from https://download.pytorch.org/whl/test/

[2022-03-07 18:14] seemethere commented on #73813
Going to go ahead and close this since we've decided on keeping the binary on pypi.

Thanks for the report though!

[2022-03-07 18:14] #73813 closed

[2022-03-07 18:17] seemethere opened #73859 "ci: Check if docker daemon is running and start it if it isn't"
Some workflows currently fail with the following message: ([example](https://github.com/pytorch/pytorch/runs/5450990477?check_suite_focus=true))
<img width="1197" alt="Screen Shot 2022-03-07 at 10 15 59 AM" src="https://user-images.githubusercontent.com/1700823/157093611-01147ee3-7b80-4951-8c62-d2ec9f390ca8.png">

We should add a check / step to our EC2 linux setup common scripts see if the docker

[2022-03-07 18:19] mruberry commented on #62973
From offline discussion: what is the point of `C10_UNUSED`? Some cases seem like they should just be removed, but other uses seem legit? Maybe those latter cases need to be renamed for clarity.

[2022-03-07 18:24] mruberry commented on #73187
Thank you for filing this issue @neochristou! We would accept a PR fixing this.

[2022-03-07 18:25] mattangus opened #73860 "tensor subclass and `__torch_function__` Performance issues"
### 🐛 Describe the bug

Sorry If i'm submitting this as the wrong issue type. I would like to subclass `torch.Tensor` to add some additional data/functionality for my use case. This is useful because I would rather have the data encapsulated inside the object rather than having to pass around tuples of tuples of... For example this can be very useful to store meta data, with the advantage of not n

[2022-03-07 18:27] mruberry commented on #73840
This seems like "edge case" behavior that is unlikely to occur in practice, although if it can occur with more natural inputs that would be interesting. We would accept a fix for non-adversarial inputs.

[2022-03-07 18:27] nkaretnikov commented on #73187
will take a look at this one once i'm done with whatever i'm currently doing (a few days maybe)

[2022-03-07 18:28] mruberry commented on #73154
Thank you for reporting this issue, @TestSomething22. We would accept a fix for this!

[2022-03-07 18:28] mruberry commented on #73159
Thanks @ilovepytorch. We would accept a fix for this so long as it was straightforward.

[2022-03-07 18:31] CollinsPeriodLee opened #73862 "Get different gradients by torch.autograd.grad and torch.gradients"
### 🐛 Describe the bug

The framework of my network is like
[code]
The input of the Net is
[code]
Then I want to calculate the derivative of the output of Net with respect to t. There are 2 ways to implement it.

One is the torch.autograd.grad, the other is calculating it numerically by torch.gradient.

[code]
The results of Grad_Num and Grad_auto are different. Is there anyone having similar situ

[2022-03-07 18:32] navahgar commented on #52286
Here is the API I was referring to.
Python API: https://github.com/pytorch/pytorch/blob/master/torch%2Fcsrc%2Fjit%2Fpython%2Finit.cpp#L661
C++ API + documentation: https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/api/module.h#L304-L341.

It is available on master and should be part of the 1.11 release.

[2022-03-07 18:32] #52286 closed

[2022-03-07 18:42] adk9 commented on #73825
@H-Huang Thanks for the suggestion. In my actual use case, I run into this error when cloning/deep-copying the model. Is there a workaround you can think of that'd work for all models where I only have access to the model object and not the `Module` class that was used to instantiate it?

[2022-03-07 19:01] CJMenart commented on #73792
Example given:

The below snippet, under the current version, will throw "RuntimeError: only tensors with up to 64 dims are supported", because the bug is trying to create a 1000-dimension tensor. It correctly prints the mean of the gaussian mixture (100 zeros) under the fix.

[code]

[2022-03-07 19:05] pritamdamania87 commented on #73825
Is there a reason to clone/deep copy the DDP module itself instead of ddp.module and then wrapping that with DDP instead?

[2022-03-07 19:19] pritamdamania87 commented on #73825
Pickling ProcessGroups is tricky and needs more careful attention since there is a lot of dependency on the environment (rank, world_size, backend etc.). I don't see a way of it working as-is with `torch.save` since at load time the environment might be different and we probably need some sort of specialized API to pickle/unpickle ProcessGroup. Although, in terms of DDP and the use case here, pick

[2022-03-07 19:32] #70587 closed

[2022-03-07 19:35] fritzo commented on #73826
This seems pretty easy to fix, in that we could add a single informative error message to `Distribution._extended_shape()`

[2022-03-07 20:17] rohan-varma opened #73869 "[FSDP][BE] TestAutoWrap should inherit from MultiProcessTestCase"
### 🚀 The feature, motivation and pitch

Since it currently does not, skip decorators such as `skip_if_lt_x_gpu(2)` are not properly handled which was discovered as a part of https://github.com/pytorch/pytorch/pull/73687.

### Alternatives

_No response_

### Additional context

_No response_

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @

[2022-03-07 20:34] yulonglin commented on #73840
I see, no worries! This was inspired by the high-priority issue https://github.com/pytorch/pytorch/issues/73190 with inputs obtained using fuzz testing, but I see why segfaults (as seen in that issue) may be more serious while this issue isn't.

[2022-03-07 20:41] garymm opened #73871 "ONNX: Document public API for shape inference for custom symbolics"
(forked from #34342)

There's already an API for custom ops to specify output shapes, though I it's not public and not documented. Example usage:

https://github.com/microsoft/onnxruntime/blob/e788cc2a2370946977b91b2456166d466df4d14a/orttraining/orttraining/python/training/ortmodule/_custom_op_symbolic_registry.py#L69

This issue tracks making it public and documented.

Tracked internally at Micro

[2022-03-07 20:41] garymm commented on #34342
Filed https://github.com/pytorch/pytorch/issues/73871 to track. Closing this one.

[2022-03-07 20:41] #34342 closed

[2022-03-07 20:44] #62936 closed

[2022-03-07 21:08] seemethere commented on #72956
Re-opening since #73788 did not include macOS binary smoketests

[2022-03-07 21:32] Lezcano commented on #73622
Actually, on a closer look, what's going on here is that cublas does not handle properly subnormal numbers.

Note that the smallest non-subnormal floating point number is `1.175494 × 10-38`. As such `10-40` is approximated to a subnormal number. `lu_factor` (or `getrf` really) in cublas / cusolver checks whether this number is zero. It is not. Then they proceed to compute `0/x` where `x` is the su

[2022-03-07 21:47] Lezcano commented on #73622
Of course, the other way to mitigate this problem is to cast the inputs to `torch.double` before running these functions. This is very much recommended if precision is important (and not so much speed).

[2022-03-07 21:48] janeyx99 opened #73880 "Both HUDs (HUD 1 and HUD 2) down"
## Current Status
*Status could be: preemptive, ongoing, mitigated, closed. Also tell people if they need to take action to fix it (i.e. rebase)*.
ongoing, please use https://www.torch-ci.com/

## Error looks like
*Provide some way users can tell that this SEV is causing their issue.*
Both HUD1 and HUD2 are inaccessible:
hud2.pytorch.org:
<img width="755" alt="image" src="https://user-images.githu

[2022-03-07 22:32] seemethere commented on #73880
Both appear to be back up now, closing.

[2022-03-07 22:33] #73880 closed

[2022-03-07 22:40] seemethere commented on #73339
Just merged the windows conda migration with long key fix here:
* #73262

Will close this issue after we get a successful nightly run with the new windows conda binaries

[2022-03-07 22:42] mehtanirav commented on #73859
@seemethere Thanks for adding details on the task. I will work on it.

[2022-03-07 22:49] tillahoffmann opened #73883 "Possible issue with memory allocation."
### 🐛 Describe the bug

Allocating small tensors and keeping a reference to them can severely degrade performance. This seems to be a less of an issue for larger tensors, suggesting that it may have something to do with memory fragmentation. Is this something I should expect or is this a bug?

The script below illustrates the issue. It allocates memory for tensors of different sizes and, depending

[2022-03-07 23:01] zhaojuanmao opened #73884 "FSDP optimizer state dict APIs"
### 🚀 The feature, motivation and pitch

FSDP flatten parameters and shard these flatten parameters among ranks.  After that, these sharded flatten parameters are passed to optimizers. Optimizers will optimize for these sharded flatten parameters locally in the training loop.

When saving original unflatten parameters' states in optimizer, we need APIs to help all_gather the sharded flatten parame

[2022-03-07 23:01] rohan-varma opened #73885 "operation not supported crash when initializing RPC tensorpipe"
### 🐛 Describe the bug

To reproduce,  install fairscale + pt from source and run this test:

[code]

results in the following

[code]

### Versions

main for both fairscale and PT

[2022-03-07 23:31] #65642 closed

[2022-03-08 00:13] gahdritz commented on #72450
I just wanted to bump this up---are any of you able to reproduce the discrepancy in my previous post?

[2022-03-08 00:18] ngimel commented on #72450
For the snippet above, apparently jax is able to get away without fully materializing gradOutput for the softmax_backward operation (it's probably just an expanded single-element tensor), whereas pytorch needs to fully materialize it, leading to 2 full-size tensors being present, and this causes OOM.
In real workloads though I wouldn't expect gradients flowing into softmax_backward to be expanded

[2022-03-08 00:20] gahdritz commented on #72450
What do you mean by the gradients being expanded small tensors?

[2022-03-08 00:21] ngimel commented on #72450
Like single element tensor implicitly broadcasted to the full size of softmax output

[2022-03-08 00:24] gahdritz commented on #72450
And you're saying that the memory would be comparable if there were more operations after the softmax?

[2022-03-08 00:26] ngimel commented on #72450
Yes, I think so (although I didn't test) - at the expense of jax probably using more memory.

[2022-03-08 00:35] rohan-varma opened #73890 "[FSDP] summon_full_params + named_params clean full path"
### 🐛 Describe the bug

#### Clean full path of parameters

- summon_full_params() makes sure that FSDP model .parameters() method works properly i.e. it is the same as local model, see `test_params_count_and_value` in https://github.com/pytorch/pytorch/blob/master/test%2Fdistributed%2Ffsdp%2Ftest_fsdp_summon_full_params.py. However, this is not true for the named counterpart `named_parameters` as

[2022-03-08 00:50] rohan-varma opened #73891 "[FSDP] summon_full_params gradient access issues"
### 🐛 Describe the bug

Under a summon_full_params context, there are issues when accessing .grad field of parameters from parameters() or named_parameters() function.

For example, in the following test:
[code]

for named_parameters() this results in:

[code]

and for `parameters()`, this results in just `None` for param.grad.

For both function, `.grad` attribute works well outside of the contex

[2022-03-08 00:51] rohan-varma opened #73893 "[FSDP][Docs][BE] Document FSDP behavior of parameters(), named_parameters()"
### 📚 The doc issue

As mentioned in a few different issues such as https://github.com/pytorch/pytorch/issues/73891 and https://github.com/pytorch/pytorch/issues/73890, FSDP modules may behave differently than what the user expects both within and outside of `summon_full_parameter` context. If we aim to support these APIs in beta release (i.e. expect users to access them), we should override them

[2022-03-08 00:54] gahdritz commented on #72450
Is there anything else that might account for the AlphaFold 2 anecdotal evidence I mentioned above (fitting a 12GB softmax onto a 16GB TPUv3 core)?

[2022-03-08 01:13] qihqi commented on #72901
Hi @norabelrose; Yes sorry about that. Yes I'll try to get it relanded.

Totally understand... I am also in the process of figuring out what tickled it (it was a segfault in their end, which is super wierd given this is a pure python change). Anyways I'll keep you posted. Apologies again. I'll keep this issue open to track progress.

[2022-03-08 01:18] norabelrose commented on #72901
@qihqi Thank you for this, I really appreciate it.

[2022-03-08 01:57] medlen commented on #26276
I had the same problem, I solved it by downgrading python version from 3.10 to 3.8.

[2022-03-08 02:51] ezyang commented on #73557
Hot take: we should use less TLS (lol) and figure out a way to get all of our internal dispatch passes only using redispatch and stop using exclude key guards

[2022-03-08 03:11] Chillee commented on #72450
@ngimel

I think the in-place operations are also what matters.

First of all, re: @gahdritz, I think this is a pretty tricky situation to solve, particularly in an eager-mode framework :P Since you can't even maintain 2x the `softmax` tensor in memory, lots of things that would normally be fairly easy become quite tricky.

This is true in many situations - for example, the class of in-place sorts

[2022-03-08 04:00] cieske opened #73901 "[torchrec] Minor typo"
### 📚 The doc issue

Minor typo
In TORCHREC.DATASETS docs, "pr-eprocessing" -> "pre-processing"

### Suggest a potential alternative/fix

_No response_

cc @brianjo @mruberry

[2022-03-08 04:03] gahdritz commented on #72450
Thanks @Chillee! This is super helpful.

One little addendum to the original issue: I had initially written that torch's softmax requires 2x the memory of its input. I ran some even simpler experiments, and that appears to be an underestimate. Even if I use the nightly build,
the real multiple seems to be 5x:

[code]

This yields the following:

[code]

I thought at first this had something to do

[2022-03-08 04:30] ngimel commented on #72450
@gahdritz in your example, you have a large leaf variable that pytorch has to hold on to, and it artificially inflates memory values that you are getting. I slightly modified your script, to make the leaf variable small:
[code]
Note that in this case memory after forward = size of the allocated tensor (softmax does not hold on to extra memory), memory after backward is also = size of the allocated

[2022-03-08 04:32] gahdritz commented on #72450
Unfortunately, the leaf tensors in my use case are very large (actually 4x larger than this one).

[2022-03-08 04:33] Mob97 opened #73902 "No option for Keyword Arguments (**kwargs) in torch.multiprocessing.spawn"
### 🚀 The feature, motivation and pitch

I have a function like this:
`
def foo(a, b, **kwargs):
    pass
`
I read the document and see no option for the **Keyword Arguments**.
How can I deal with this by using mp.spawn?

Thank you!

### Alternatives

Python multiprocessing library have kwargs option:
`class multiprocessing.Process(group=None, target=None, name=None, args=(), kwargs={}, *, daemon=

[2022-03-08 06:21] khushi-411 opened #73905 "`torch.amax` and `torch.amin` returns random values, if `dim` arg is not provided"
### 🐛 Describe the bug

1. `torch.amax` and `torch.amin` will return random values for empty tensors if `dim` arg is not provided. See:
[code]
In contrast, as [documented](https://pytorch.org/docs/stable/generated/torch.amax.html); `torch.amax` and `torch.amin` should be similar to `torch.max/min` and hence, I think it should raise error.

2. `torch.max` and `torch.min` throws an error as shown
[c

[2022-03-08 07:10] zc277584121 opened #73907 "the `DistributedSampler` instance can not iterate the dataset in each process when using `Process` in `torch.multiprocessing`."
### 🐛 Describe the bug

When I use `Process` in `torch.multiprocessing` packages to spawn multi processes, the `DistributedSampler` instance can not iterate the dataset in each process.

[code]
It's the output:
[code]
It can not iterate the dataset and can not print `print('finished...')` on screen. So I think the process was killed.

Strangely enough, when I use the val dataset, such as
[code]
it

[2022-03-08 07:12] Chillee commented on #72450
I don't think so. Tbh, I think folks think that fragmentation is a bigger problem than it really is :P In particular, in this case, there aren't even that many memory allocations at all, so I don't expect fragmentation to be a significant problem.

The 5x peak memory occurs during `aten::_softmax_backward_data`. 1x comes from the original leaf tensor, 1x comes from div (one of the inputs to softma

[2022-03-08 07:22] ngimel commented on #72450
@chillee in my example there's no original leaf tensor (leaf tensor is negligibly small), good catch with `tmp`, I've forgotten about it. We should probably get rid of it.

[2022-03-08 07:22] wyy-class opened #73909 "SummaryWriter reports encoding error"
### 🐛 Describe the bug

### Problem Description
Encoding error is reported just by introducing a class
[code]
### error
[code]

### Versions

torch : 1.6.0
tensorboard : 2.8.0

[2022-03-08 07:45] ramkrishna1121 commented on #61881
@vkuzo will this support be added in the near future?

[2022-03-08 08:26] aman5319 opened #73910 "Adam optimizer doesn't work with CyclicLR scheduler but works with OneCycleLR."
### 🐛 Describe the bug

Adam doesn't work with CyclicLR  - Here is a code snippet with the error

[code]

Error

[code]

Looking at the code of CyclicLR it is pretty evident why it doesn't work with Adam because Adam uses beta parameters and CyclicLR doesn't support beta
https://github.com/pytorch/pytorch/blob/5372dcd9bb0e94a9bad1b04b602dc9e2e7e5c20f/torch/optim/lr_scheduler.py#L1144-L1153

But Ad

[2022-03-08 08:50] majestichou opened #73911 "Libtorch dosen't has the function like python api (TORCH.SET_PRINTOPTIONS)"
### 🚀 The feature, motivation and pitch

Libtorch (C++ API of pytorch)  dosen't has the function that can set the precision of output number like python api (TORCH.SET_PRINTOPTIONS) .
For example:
[code]
the out put is as follows:
![image](https://user-images.githubusercontent.com/43713443/157200423-51a56c50-f25a-443c-8927-bee64c04b572.png)
the abs of complex number is quoted in four decimal place

[2022-03-08 09:19] MaxTranced commented on #52286
Thank you for the answer @navahgar! The C++ API comment really helps! I hope that in the future the defaults will be OK for most cases and that the options will be documented more comprehensively.
In the meantime for my project I will use an explicit warmup step with more than 20 hardcoded requests.

[2022-03-08 10:10] rgommers commented on #73860
This is quite surprising. Even the absolute numbers - the overhead you show is ~10 ms over 100 iterations, so 100 us per iteration. The overhead for a single `__torch_function__` call should be sub-microsecond.

It would to use `line_profiler`, `pyspy` or similar to get a better sense of where the time is being spent.

[2022-03-08 10:17] 24werewolf commented on #72790
HI, did you solve this problem

[2022-03-08 10:18] 24werewolf commented on #72790
I also have the same problem

[2022-03-08 10:23] HeConnor opened #73912 "libtorch model predict cuda convert to cpu: C10::error at memory location"
### 🐛 Describe the bug

hello,

  CPU tensor and CUDA tensor can be converted to each other：
[code]

**but  when  I converted the model prediect CUDA Tensor** to CPU tensor,  so confused!

Unhandled exception at 0x000007FEFCFDA06D in LibTorchDll.exe: Microsoft C++ exception: **c10::Error at memory location 0x00000000001CD900.**

part of code as blow:

[code]

### Versions

- window 7 x64, GTX 1080

[2022-03-08 10:45] MattiaSarti commented on #73905
I'd like to work on this issue

[2022-03-08 10:53] 1212Prajwol-Pdl opened #73913 "torch.linalg.eigh not returning eigenvectors correspoding to it's eigenvalues."
### 🐛 Describe the bug

When using the torch.linalg.eigh on certain matrices in torch version 1.10.2 the method doesn't return the eigenvalues of their corresponding eigenvectors.

input:
`a = torch.tensor([[-1,0,0],
                 [0,2,0],
                 [0,0,-11]], dtype=torch.double)`

`eig_value, eig_vector = torch.linalg.eigh(a)`

`print("eig_val",eig_val)`
`print("eig_vec",eig_vec)`

out

[2022-03-08 11:13] #73913 closed

[2022-03-08 11:13] Jackiexiao commented on #20356
a full snippet from http://vra.github.io/2021/03/21/torch-tensor-python-to-cpp/

[code]

[code]

[2022-03-08 11:27] khushi-411 commented on #73905
Hey, @MattiaSarti! Thanks for your interest. Unfortunately, I had already started working on this locally. See #73914
Could you pick some other exciting issue in PyTorch? Thanks :)

[2022-03-08 11:33] MattiaSarti commented on #73905
Sure, @khushi-411

[2022-03-08 11:36] Fun772283153 opened #73915 ""clamp_min_cpu" not implemented for 'ComplexDouble'"
### 🐛 Describe the bug

import torch

a = torch.zeros([1], dtype=torch.complex128)
a[0] = -3.2427e-04+5.8708e-03j
b = torch.zeros([0], dtype=torch.complex128)
print(a)
print(torch.clamp_min(a, b))

### Versions

PyTorch version: 1.10.2
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: macOS 12.2.1 (x86_64)
GCC version: Could not collect
Clang version: 13.0

[2022-03-08 12:01] ZiyuBao commented on #73843
same question. if i use opset 11, pad will be unfolded and the slice op. in it will not be quantizable. any solution please? if i use opset 9, no problem when converting to onnx and use onnx to infer. however, quantizing it using snpe can result in segmentation fault

[2022-03-08 12:15] zgplvyou opened #73916 "Invalid code inrandom_ kernel"
### 🐛 Describe the bug

the random_ kernel is implemented in aten/src/ATen/native/DistributionTemplates.h.
in  line 132 and 133:
132        constexpr int64_t scalar_t_max = static_cast<int64_t>(1) << std::numeric_limits<scalar_t>::digits;
133       to_inc = scalar_t_max > std::numeric_limits<int64_t>::max() ? std::numeric_limits<int64_t>::max() : static_cast<int64_t>(scalar_t_max);
it seems that t

[2022-03-08 12:30] davidireland3 commented on #32998
@zou3519 I'm not sure if OP ever replied but I came across this post and I'm looking for a feature that will take a batch of matrices, i.e. a tensor of shape (B, M, M) and return the B maximums of each M by M matrix.

[2022-03-08 13:39] JeffreyJosanne commented on #5209
down again

[2022-03-08 13:41] vkuzo commented on #61881
there are no plans to enable torch.load and torch.save for quantized models, we recommend that people use the state dict

[2022-03-08 13:42] surak commented on #73294
Oh boy.... it's the full compilation process. It happens this during the testing.

[2022-03-08 14:18] albanD commented on #73862
Hi,

These two functions do very different things.
- `autograd.grad` computes the gradients between the outputs and inputs provided https://pytorch.org/docs/stable/generated/torch.autograd.grad.html?highlight=grad#torch.autograd.grad (this uses automatic differentiation to compute the gradient at the given point).
- `torch.gradient` computes the gradient of a function given a set of samples for th

[2022-03-08 14:18] #73862 closed

[2022-03-08 14:23] patel-zeel commented on #73826
@fritzo I am working on a PR to fix this and open it soon.

[2022-03-08 14:43] CollinsPeriodLee commented on #73862
Hi, albanD. Thanks for your response. I don't think it is expected. since if I consider to compute
[code]
I will get
[code]
they are almost the same, but if I consider to compute
[code]
I will get
[code]
The only difference is that the later case uses the `torch.einsum`.

And I also posted [this](https://discuss.pytorch.org/t/get-different-gradients-by-torch-autograd-grad-and-torch-gradients/14556

[2022-03-08 15:44] atalman commented on #72267
Link to landed master PR (if applicable):
* https://github.com/pytorch/pytorch/pull/73805

Link to release branch PR:
* https://github.com/pytorch/pytorch/pull/73900

Criteria Category:
* Critical Fix to CI

[2022-03-08 15:51] atalman commented on #72267
Closing Issue since no more Cherry Pickings are accepted.

[2022-03-08 15:51] #72267 closed

[2022-03-08 16:05] albanD commented on #73862
`autograd.grad` is going to be more accurate as it does not rely on finite difference and the runtime will be comparable.
Alse, when using this one, you don't need to generate many samples, you can simply get the gradient at an input point `x` by doing `grad, = autograd.grad(f(x), x)`. So this is going to be much faster than computing the forward for many points.

Also, the `torch.gradient` method

[2022-03-08 16:14] antoniojkim opened #73919 "LazyTensorCore Overriding Kernel Registrations"
### 🐛 Describe the bug

When implementing a custom Lazy Tensor Core backend with custom autogen, I get many many warnings similar to
[code]
Looking at it more closely, the previous kernel registration occurs at `aten/src/ATen/RegisterCPU.cpp:21233` where I see
[code]
And `csrc/backend/RegisterLazy.cpp:2070` has
[code]
Which clearly shows that the dispatch keys are different. So, the `Overriding a

[2022-03-08 16:32] rohan-varma opened #73923 "DISABLED test_data_parallel_module_kwargs_only_empty_list_cuda_float32 (__main__.TestDataParallelDeviceTypeCUDA)"
### 🐛 Describe the bug

[test_data_parallel_module_kwargs_only_empty_list_cuda_float32 (__main__.TestDataParallelDeviceTypeCUDA)](https://github.com/pytorch/pytorch/runs/5466538017?check_suite_focus=true)

### Versions

main

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @SciPioneer @H-Huang

[2022-03-08 16:33] rohan-varma commented on #73923
cc @cbalioglu should we stop running data parallel tests depending on the status of DP deprecation?

[2022-03-08 16:34] rohan-varma opened #73924 "torch.cuda.amp: Remove SPMD DDP doc portion"
### 📚 The doc issue

https://pytorch.org/docs/stable/notes/amp_examples.html#distributeddataparallel-multiple-gpus-per-process mentions SPMD DDP mode, but this is no longer support in PyTorch so it should be removed.

### Suggest a potential alternative/fix

_No response_

[2022-03-08 16:39] bdhirsh commented on #73919
oh I see. @wconstab it seems pretty reasonable to set things up so that the registration code doesn't run until you call some init function from python, so you can use LTC utils without causing registrations. WDYT?

[2022-03-08 17:02] #67558 closed

[2022-03-08 17:03] albanD commented on #73557
To come back to the original question and code sample, I am not sure what the problem is here?
Doing `WrappedTensor(x)` is not a differentiable op in general and so you look requires_grad-ness on x as well as any forward grads.

[2022-03-08 17:05] mattangus commented on #73860
Also @rgommers the calculation of time is per iteration. So the added overhead is ~10ms per iteration not 100us.

[code]

[2022-03-08 17:20] CollinsPeriodLee commented on #73862
Hi, albanD, Thanks for the explanation. `torch.gradient` indeed expects a function that is values in `R`, it is the reason I sliced the output `test[:,0,:,0]`.

I still keep my doubts about why the results `torch.gradient` and `torch.autograd.grad` are different, but I will use `torch.autograd.grad` in the computation of gradients as you recommended, even though, I checked the the 2nd order finite

[2022-03-08 17:21] #55224 closed

[2022-03-08 18:32] adk9 commented on #73825
Thanks @pritamdamania87. Using ddp.module works for the reproducer above. In my actual use case however, the model I'm trying to deep-copy is not a DDP module and, yet, it contains ProcessGroup information. Is it possible to skip pickling/unpickling of ProcessGroup in this case?

[2022-03-08 18:38] ezyang opened #73930 "User raised TypeError from __torch_dispatch__ gets turned into generic "unsupported operand type" message"
### 🐛 Describe the bug

https://github.com/albanD/subclass_zoo/blob/1829825ecb74eba57945f6900a6fd22399311978/bug_zoo.py#L8-L16

[code]

This doesn't work, instead you get

[code]

Suppressing the original TypeError message is confusing because it might have been due to a bug in `__torch_dispatch__` which we would like to surface to user.

### Versions

master

[2022-03-08 18:58] #72947 closed

[2022-03-08 19:12] pritamdamania87 commented on #73825
You could define a custom `state_dict` and `load_state_dict` method for this module to only extract out the state needed and not pickle everything.

[2022-03-08 19:23] ezyang opened #73933 "Calling super().__torch_dispatch__ with arguments list causes segfault"
### 🐛 Describe the bug

https://github.com/albanD/subclass_zoo/blob/33d7afe63c2a336e01eaf3e81fba085a68e3955f/bug_zoo.py#L18-L24

[code]

This segfaults probably because not doing enough type check in CPython. Maybe `__torch_function__` also has same problem.

### Versions

master

cc @albanD @zou3519

[2022-03-08 19:25] #72813 closed

[2022-03-08 19:31] wanchaol opened #73935 "[shard] use dist.gather instead of dist.gather_object"
### 🚀 The feature, motivation and pitch

See context https://github.com/pytorch/pytorch/pull/71624

Coping some here:

Now we have `dist.gather` support on NCCL, but `ShardedTensor.gather` couldn't use it for some reasons:

1. We can use gather_object for metadatas, but we couldn't simply use gather for the local shard tensors, mainly because local_shards() is a list of tensor, but input of gather

[2022-03-08 19:47] mattangus commented on #73860
Also here is the `line_profiler` on my own code.

[code]

I also stumbled across the [benchmarks folder](https://github.com/pytorch/pytorch/tree/master/benchmarks/overrides_benchmark) and ran the `bench.py` with the following output:

[code]

My `__torch_function__` is called 23700 times. So the difference of `~3.81us*23700 = ~90.3ms` for the whole program so ~9ms per iteration. This is pretty clo

[2022-03-08 19:52] #72747 closed

[2022-03-08 20:09] nkaretnikov commented on #71673
(for numpy, the code is pretty much the same, just replace tensor with array)

[2022-03-08 20:12] pritamdamania87 commented on #67764
@malfet Was wondering if anyone of our CI jobs run on A100 machines? It would be hard to maintain a test suite sanity if we don't run on A100s and we discover several broken tests like these manually while running on A100s.

[2022-03-08 20:20] nkaretnikov commented on #71673
cc @yf225 (author of the original patch), @ezyang (reviewer). thoughts?

[2022-03-08 21:05] seemethere commented on #66178
# 3/1 - 3/8

## No PR signal
- https://github.com/pytorch/pytorch/pull/73685
  - Missing macOS signal
- https://github.com/pytorch/pytorch/pull/73090
  - missing cuda 10.2 signal on PR
- https://github.com/pytorch/pytorch/pull/73579
  - missing xla signal on PR (probably would've been ignored anyways)
- https://github.com/pytorch/pytorch/pull/73262
  - missing windows libtorch signal on test PR

#

[2022-03-08 21:09] Linux-cpp-lisp commented on #68903
@Gamrix just to confirm what I'm seeing here: this was still broken in 1.10, but will be fixed in 1.11?

[2022-03-08 21:12] suo commented on #71005
Some feedback on the flaky test view, recorded from offline discussion:
- At a high level, we should thing about the user story of: I got a flaky test issue and clicked this link, how can I understand what is flaky, why, and how to fix it?
- Can we add an orderby to the query? Right now it reorders each time there is data pull from the backend.
- Clickable anchor links should be added for various

[2022-03-08 21:23] datumbox commented on #69434
We get a similar problem at TorchVision at https://github.com/pytorch/vision/pull/5568. Our goal is to define params as `Union[List[int], List[float], int, float]`. Unfortunately when we do, JIT fails with:
[code]

[2022-03-08 21:48] andrewor14 opened #73941 "[Quant] Framework observes weight in convert, changing numerics"
There are a few places where the framework observes the weight during the convert step, e.g.

https://github.com/pytorch/pytorch/blob/11231b0f935c092598c994a4bab686485aac1856/torch%2Fao%2Fquantization%2Ffx%2Fquantization_patterns.py#L638
https://github.com/pytorch/pytorch/blob/11231b0f935c092598c994a4bab686485aac1856/torch%2Fao%2Fquantization%2Ffx%2Fquantization_patterns.py#L915
https://github.com

[2022-03-08 22:01] bdhirsh commented on #73912
@HeConnor do you have a minimum repro with a code snippet? Does the bug only reproduce on windows?

[2022-03-08 22:13] #68003 closed

[2022-03-08 22:14] Gamrix commented on #68903
That is correct. This is shipping with the 1.11 release.

[2022-03-08 22:17] ezyang commented on #55093
Let's revive this, it is giving trouble for https://github.com/pytorch/pytorch/pull/73942

[2022-03-08 22:20] antoniojkim commented on #73919
I'm not entirely convinced about this. My backend has no `#include <lazy_tensor_core/...>` imports. Only `#include <torch/csrc/lazy/...>`. So, I'm not sure where a dependency would stem from, if there is one at all.

Furthermore, I commented out the registrations in the TS backend, and things appeared to work fine with my backend.

I agree. No backend should rely on another distinct backend. Howev

[2022-03-08 22:24] #68903 closed

[2022-03-08 22:27] nkaretnikov commented on #73187
started looking at this

[2022-03-08 22:42] malfet commented on #72956
Closing as https://github.com/pytorch/pytorch/pull/73949 has been landed

[2022-03-08 22:42] #72956 closed

[2022-03-08 22:58] briandw commented on #47702
Have you tried out nod yet? Does it work for training? I only saw benchmarks for inference

[2022-03-08 23:00] Linux-cpp-lisp commented on #68903
@Gamrix great, thank you for the confirmation and the work to resolve this issue.

[2022-03-08 23:05] jeremy-rutman commented on #47702
I didn't get the time yet to try nod but did fool with some training under tensorflow and man that m1 chip is impressive - barely burning 2 watts at full bore at what looks like speed better than my razr blade stealth laptop gpu, albeit I've not seen the tf performance benchmarks yet

[2022-03-09 01:37] #73339 closed

[2022-03-09 02:19] ezyang commented on #73930
I think this is our fault, somehow. Here is the direct Python magic method behavior:

[code]

[2022-03-09 03:28] mostafa-saad commented on #15515
I am suffering from this problem so far for some time!
I can see it on my Ubuntu 18, but not on my Windows 10
So weird

[2022-03-09 03:40] pytorch-bot[bot] opened #73955 "DISABLED test_seqential_batch_workers (__main__.TestDataLoaderPersistentWorkers)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](http://torch-ci.com/failure/test_seqential_batch_workers%2C%20TestDataLoaderPersistentWorkers) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/actions/runs/1954693100).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 1 red and 3 green.

cc @SsnL @Vital

[2022-03-09 03:43] majestichou opened #73958 "Libtorch torch::einsum(...) need support real tensor and complex tensor do einsum."
### 🚀 The feature, motivation and pitch

Now the latest version of Libtorch does not support  real tensor and complex tensor do einsum at the same time.  See the following code:
[code]
The code can compile succussfully but run error. The error information is as follows:
[code]
And if I change the code as follows to make two complex tensor do einsum.
[code]
The above code can run successfully.
###

[2022-03-09 03:55] malfet commented on #66178
# 2/8 - 2/15

## No PR signal
* #68328 (https://github.com/pytorch/pytorch/commit/a34d2849cd3d39c2ce912402bfd90aea75162d1f )
Missing Mac tests
## Ignored Signal
* #72675 (https://github.com/pytorch/pytorch/commit/2fa34fb7b9ca5a7ead13c5481e18bd78045a5b13 )
Doc build jobs were failing
## Land races
* #72623 (https://github.com/pytorch/pytorch/commit/f1a9650e4f4032aa336cd286036f9f650ebe2a9c )
Depends

[2022-03-09 05:24] channakesa commented on #32694
I am also facing the same issue, getting ninja: build stopped subcommand failed: on directory path so, if i went inside the directory path showed as python installation package
after that getting this error: Finished task "Ru DvsCore" with result failed.
what could be the reason for unable to run build successfully
Thans in advance!

[2022-03-09 05:50] DMNK20888 commented on #71083
Hello @Entretoize what do you mean by upgrading everything in conda and how would you do it?
Thanks

[2022-03-09 06:26] Entretoize commented on #71083
I don't remember exactly, I know there's a command `conda update --all` but I also remember one time I had to uninstall conda itself in install the last version because it never updated itself alone.

[2022-03-09 06:39] ngimel commented on #73915
Comparison ops are not implemented for complex numbers, this is expected behavior https://github.com/pytorch/pytorch/issues/36444#issuecomment-613153990

[2022-03-09 06:39] #73915 closed

[2022-03-09 06:42] ngimel commented on #70674
Tracked in #73905

[2022-03-09 06:42] #70674 closed

[2022-03-09 06:44] ngimel commented on #73958
duplicate of #61909

[2022-03-09 06:44] #73958 closed

[2022-03-09 07:09] majestichou commented on #73958
Thanks a lot!

[2022-03-09 07:47] dtoniolo commented on #54789
Found the same problem on Linux, but on macOS things work fine. Very annoying and possibly a deal breaker: finding all the possible places in which it may pop up in a codebase is a daunting, error prone task.

[2022-03-09 11:52] Lezcano commented on #73915
In my opinion, this operation makes sense, and it could potentially be performed independently on the real and imaginary part independently.

`clamp` is an operation that's used for stability to clamp values that are too small or too large. Too small or too large can be understood in a metric sense (complex numbers do have a metric) as "I don't wan't to have any value that has norm larger/smaller

[2022-03-09 12:10] baikaishui35 commented on #62470
后来解决了，是numpy这个库的问题，你环境里本来就有一个numpy库，结果装torch的时候又给你装了另一个版本的numpy库，调用的时候就出现了调用错乱的问题。先把numpy库卸载，看环境里还有没有numpy库，有的话就不用动了，没有的话再装个numpy。

[2022-03-09 12:50] johnnynunez commented on #47702
I can't imagine pytorch with m1 ultra with ultrafusion 2.5tb/s. The memory unified can admit large models

[2022-03-09 12:59] jinfagang commented on #69894
Still got error on torch1.110.2

[code]

[2022-03-09 13:07] phu54321 commented on #47702
Just waiting for pytorch beta on wwdc 2022

[2022-03-09 13:35] wangxueping78 commented on #27588
I adjust batch_size to 1, but still get this error!!!!what should I do?

[2022-03-09 13:58] rgommers commented on #73860
@hameerabbasi thanks for the correction. The code in the issue description is:
[code]
where `super()` is `torch.Tensor`. So the code is doing nothing specific yet. The only extra work is in `_convert`:
[code]

That indeed looks like a consistent story now. But looking at the benchmarks, it's the fact that you're subclassing `Tensor` mostly, rather than adding a custom `__torch_function__` to it. T

[2022-03-09 14:48] desertfire opened #73962 "Lazy Tensor: TorchBench correctness issues in the noopt mode"
Here is a report of recent LTC noopt run on TorchBench, https://docs.google.com/spreadsheets/d/1pMv84eJH0DmmD-50pbBtXDfDzMcdVafKQ6aIeQuJmn8/edit#gid=264312471 . The failures can grouped into the following categories:

**Eval**
- [ ] #74566
- [x] #73966
- [ ] #73989
- [x] #74099
- [ ] #74134
- [x] #74182
- [ ] #74565
- [ ] Timed out: pyhpc_turbulent_kinetic_energy
- [ ] Unknown reason: Background_M

[2022-03-09 14:48] desertfire opened #73963 "RuntimeError: approximate argument must be either none or tanh: hf_Bart, hf_Bert, hf_Longformer, timm_vision_transformer"

[2022-03-09 14:48] desertfire opened #73964 "RuntimeError: CUDA out of memory: hf_Reformer, fastNLP_Bert, hf_BigBird"

[2022-03-09 14:48] desertfire opened #73966 "Incorrect results: Super_SloMo, fastNLP_Bert, opacus_cifar10. Could be caused by precision difference, and needs to be verified."

[2022-03-09 14:55] #73603 closed

[2022-03-09 15:23] tjyuyao opened #73967 "`torch.mv` report `CUBLAS_STATUS_INVALID_VALUE` error with cuda 11.3"
### 🐛 Describe the bug

The script to reproduce the bug:

[code]

Error message:
[code]

### Versions

This machine failed:
[code]

This machine works:
[code]

cc @csarofeen @ptrblck @xwang233

[2022-03-09 15:53] ezyang commented on #71673
I think the fix should be fairly simple.

In more detail: we have `x[m,0]`. Because PyTorch's algorithm is two phase, we want to turn this into `x[:,:,0][m]` which gives the correct result. In other words, we first do the simple view ops, and then we do the actual indexing kernel. PyTorch already handles the `x[m,0]` case correctly when m is a 1D tensor, translating this into `x[:,0][m]`, but beca

[2022-03-09 15:56] hameerabbasi commented on #73930
Well, `.tp_add` "incorrectly" catches `TypeError` and returns `NotImplemented`, which results in the above.

[2022-03-09 16:36] suo opened #73971 "cudatoolkit version in docker builds needs a bump"
Last nightly docker published failed with the message that cudatoolkit=11.3.0 not available: https://github.com/pytorch/pytorch/runs/5480439616?check_suite_focus=true

Looks like our pinned version needs to be bumped, anaconda also doesn't have it: https://anaconda.org/nvidia/cudatoolkit/files

cc @ezyang @gchanan @zou3519 @seemethere @malfet @pytorch/pytorch-dev-infra

[2022-03-09 16:36] ezyang commented on #73915
Does numpy implement clamp in this way? :)

[2022-03-09 16:39] ezyang commented on #73930
We should redo what @peterbell10 but instead of the global try catch, teach the argument parser to handle this directly (and return NotImplementedError instead of raising). Or we can have a special sentinel exception that gets NotImplementedError'ized when it gets to the boundary.

[2022-03-09 16:51] janeyx99 commented on #73971
Oh, bumping the pinned version will cause the base image not to be found (see https://github.com/pytorch/pytorch/pull/73918). A better solution could be to cut the minor version: ${CUDA_VERSION%.*}

[2022-03-09 16:58] dizcza commented on #59219
It *is* possible to run pytorch v1.10.2 on old-fashioned sm_30 arch gpus.

For further issues like this you can refer to the Dockerfile I'm maintaining specifically for this need. https://github.com/dizcza/pytorch-sm30-docker

[2022-03-09 17:06] fzimmermann89 opened #73972 "Forward_AD and Torchscript Functions results in Nones or wrong values."
### 🐛 Describe the bug

Hi,

it seems that the combination of nested functions inside torchscript causes the forward_ad to missfunction on the second call.
Depending on the 'bad function', the tangent returned will be either None or (for example, if stacking) zeros.
Not sure if I am holding it wrong or if this is an undocumented bug.

[code]

output:

[code]

### Versions

PyTorch version: 1.12.0.

[2022-03-09 18:15] qihqi commented on #41417
Let me see if I understood it correctly:
Say we have
[code]
We add methods `_A_foo` to `B` and change all calls to `super().foo()` with `self._A_foo()` in bodies of `B`. Then add method `bar` to `B` without mangling as there is no `bar` in `B`?

I think this would work. Assuming that all calls to `super()` is followed by a method call. Also we'd need the mangling to be consistent: so that if we ha

[2022-03-09 18:16] antoniojkim commented on #73919
@wconstab Here's my proposed fix for this issue: https://github.com/pytorch/pytorch/pull/73973. Please take a look and let me know what you think.

[2022-03-09 18:26] ptrblck commented on #73967
I can reproduce the issue with the stable CUDA 11.3 binaries, while the CUDA 11.5 nightlies seem to work.
@tjyuyao as a workaround you could try to install the nightly wheel with 11.5 e.g. via:
[code]
and verify if this is working for you?

[2022-03-09 18:56] hwangjeff commented on #62821
hi @malfet, have there been any new developments on this? many of torchaudio's feature extraction utilities rely on fft — enabling fft support for mobile builds by default would facilitate wider adoption of torchaudio on mobile

[2022-03-09 18:59] kumpera commented on #45760
While this approach works for users using collectives through `torch.distributed` this won't work with those using them with `ProcessGroup`. There's a growing amount of code using the later instead as it's needed by higher level building blocks like DDP / FSDP / etc.

[2022-03-09 19:30] seemethere commented on #73971
#73974 goes through and bumps cuda version to `11.3.1` to match what's available in docker hub as well as `cudatoolkit`

Since we indiscriminately just ask for `11.3` during our build process I'm assuming `11.3.1` should be okay considering it's the latest available

[2022-03-09 20:25] norabelrose commented on #41417
Cool. Yes I think modifying `torch.jit.isinstance` to do the right thing would be simplest to implement. In principle though it seems like it should be possible to change how the TorchScript compiler handles `isinstance`. But that could wait until a later release after we have a polymorphism MVP.

I will try to get started on a PR for this this weekend.

[2022-03-09 20:44] kofi2614 commented on #52584
Hi @jinfagang, I'm looking at the exact same code and having the same issue. Have you resolved this? Do you know what's the reason of mismatch?

[2022-03-09 21:15] kushalj001 commented on #2159
Is this behavior only restricted for `nn.Linear` layers or is it implemented in all `nn` modules. I specifically want to know if the internal weight matrices are transposed for an `RNN` layer. I can see that the `weight_ih` that is input to hidden matrix is transposed while storing but I cannot be sure about the `weight_hh` since it's a square matrix. I need to know since I am updating weight manu

[2022-03-09 22:17] davidberard98 opened #73984 "[JIT] cannot parse IR for "prim::Constant[value=annotate(List[int], []))]""
### 🐛 Describe the bug

Repro:
[code]

Error:
[code]

### also...

[code]

Context: this comes from the log extract script https://github.com/pytorch/pytorch/pull/72889 running on torchbench.

### Versions

version `1.12.0a0+git2e79740`

[2022-03-09 22:20] albanD opened #73985 "Release note bot is not sending messages on PRs anymore"
https://github.com/pytorch/pytorch/pull/73961 landed 2 hours ago without any release notes/topic label but the bot didn't message there.

Is that expected?

[2022-03-09 22:26] seemethere commented on #73971
Closed with #73974

[2022-03-09 22:26] #73971 closed

[2022-03-09 22:36] ejguan commented on #73907
It's not related to Distributed training. This is because you are initializing threads prior to forking. And, by default, python would use fork as the starting method for multiprocessing on Ubuntu. When `MNIST` Dataset initializes, it would invoke https://github.com/pytorch/vision/blob/d367a01a18a3ae6bee13d8be3b63fd6a581ea46f/torchvision/datasets/mnist.py#L535, which would use multithreading inter

[2022-03-09 22:36] #73907 closed

[2022-03-09 22:41] alanwaketan opened #73989 "Invalid example tensor: detectron2_maskrcnn"

[2022-03-09 22:47] desertfire commented on #73963
This relates to the gelu/gelu_backward declaration changes at https://github.com/pytorch/pytorch/pull/61439

[2022-03-09 23:34] jamesr66a opened #73992 "[FX] Tensor constants are not lifted to attributes in direct Graph construction"
### 🐛 Describe the bug

[code]

[code]

We currently lift tensor constants into attributes in `Tracer.create_arg`, but this is never called when someone constructs a `GraphModule` from a manually-created `Graph`. We should figure out a way to make this behavior consistent, e.g. by pulling this logic from `Tracer` or reorganizing the code

### Versions

Collecting environment information...
PyTorch

[2022-03-09 23:35] alanwaketan commented on #73964
Didn't see any OOM in my local A100 runs. So this should probably just due to the fact the T4 GPU has so limited memory.

[2022-03-09 23:35] #73964 closed

[2022-03-09 23:45] mpottinger commented on #47702
128GB GPU memory on just this gen M1 Ultra, imagine next gen with 256GB GPU Ram. Supporting this platform is a must, it will allow training of models that would previously require multi-GPU hardware not accessible to most people.

[2022-03-09 23:51] wconstab opened #73994 "Lazy: add support for index ops"
See deleted/unused code https://github.com/pytorch/pytorch/pull/73993

Intend to use codegen for new implementations, but expect it needs updating to handle inplace-only variants

[2022-03-10 00:19] SharanSMenon commented on #47702
Are we close to seeing a public beta release of PyTorch acceleration for macOS? The Mac Studio has a ton of GPU power just waiting to be harnessed.

I also notice this job listing over at Apple: https://jobs.apple.com/en-us/details/200265506/accelerating-pytorch-on-macs-with-bnns

It seems they are looking into accelerating PyTorch with BNNS and the Accelerate Framework.

[2022-03-10 00:50] zou3519 opened #74004 "Alpha dropout documentation or implementation is wrong"
### 📚 The doc issue

The documentation suggests that "For an input with zero mean and unit standard deviation, the output of Alpha Dropout maintains the original mean and standard deviation of the input"

https://pytorch.org/docs/stable/generated/torch.nn.AlphaDropout.html#torch.nn.AlphaDropout

Let's try this out.

[code]

### Suggest a potential alternative/fix

Either the documentation should b