[2020-07-29 20:41] Xsurgeon commented on #41794
same issue here

[2020-07-29 20:51] kundanapillari commented on #41304
I cloned the [deepvoice3](https://github.com/r9y9/deepvoice3_pytorch) github repo to access the files.
Python and PyTorch versions:
* Python >= 3.5
* PyTorch >= v1.0.0

I didn't use tensorflow. It also did not state in the requirements:
[code]

[2020-07-29 20:57] KsenijaS commented on #41304
Can you please share your pytorch version that you have installed in your conda environment.
I found that exception: "TypeError: split_with_sizes(): argument 'split_sizes' (position 1) must be tuple of ints, not Tensor" has been fixed in pytorch 1.5
https://github.com/pytorch/pytorch/issues/27551
https://github.com/pytorch/pytorch/pull/32493
If you have lower pytorch version can you try upgrading

[2020-07-29 20:58] zou3519 commented on #10223
This looks great overall. Some minor question and comments for when you get a chance. github issues don't seem to have the best UI for asking questions, so please let me know if I should just message the questions individually.

so FwGradMode enabled by default?

Views and inplace are so much easier in forward mode than reverse mode 😅

Out of curiosity, what are the use cases for double forward? M

[2020-07-29 21:16] neginraoof commented on #39613
@bzinodev I want to follow up on this issue. We're looking to try the freeze_module pass for models in training mode to triage the problem. This is currently the main blocker we're facing.

[2020-07-29 21:18] anjali411 commented on #24553
making it hi priority because `torch.eig` is a useful op for audio community (e.g., ESPnet) and needs to be supported for complex tensors.

[2020-07-29 21:18] anjali411 commented on #24693
making it hi priority because `torch.eig` is a useful op for audio community (e.g., ESPnet) and needs to be supported for complex tensors.

[2020-07-29 21:18] vishwakftw commented on #41688
Hi @leockl, sure I think adding a note would be fine, but I think this is not really an issue with PyTorch, but rather based on the initialization of the procedure `syevd` (for `torch.symeig`), `geev` (for `torch.eig`)  used internally.

[2020-07-29 22:11] mthrok opened #42258 "Cannot load certain function from dumped Torchscript file"
## 🐛 Bug

JIT throws `RuntimeError: classType INTERNAL ASSERT FAILED at "../torch/csrc/jit/python/pybind_utils.h":894, please report a bug to PyTorch.`, when loading **certain function** from dumped Torchscript object,  (this does not happen on all the functions.)

Interestingly, this does not happen if dumping scripted function to a file and loading the file in the same Python execution. **This o

[2020-07-29 22:35] albanD commented on #10223
That is a very good point!
My current code does. But mostly because it is a copy paste of the GradMode struct.

Looking back at it, having GradMode (and FwGradMode) disabled by default might be better?
From a point of view of a power-user that want to control when things happen I think it make sense.
From a newcomer point of view, I think it adds another thing "to know about" before being able to

[2020-07-29 22:54] suo commented on #40679
Sorry for the late reply. I think the second fix is better: if sizes can sometimes (really only under tracing) be composed of tensors, then we should update the primitives operating on sizes to expect that. An additional place to edit would be the place where we bind `_infer_size` into the JIT ([here](https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/runtime/register_special_ops.cpp#L2

[2020-07-29 23:05] ggeor84 commented on #30214
any update on this?

[2020-07-29 23:28] #41734 closed

[2020-07-29 23:32] xsacha commented on #19786
@omaralvarez The code I supplied works properly and I use it in a production product.
The poster above has an unrelated issue (CUDA not initialised).

[2020-07-29 23:53] sandeepkumar-skb opened #42265 "torch.inverse() performing very poorly on GPU vs CPU"
## 🐛 Bug
We observed a big increase in inference latency after adding `torch.inverse()` in the code path. After investigation and comparison with moving the op to CPU we found that there is a huge difference in performance of that op on GPU vs CPU.
The matrix size in our case is 4x4 which small for the GPU but `torch.inverse()` should be using `magma` library which has heuristics to move the op to

[2020-07-30 00:00] mthrok commented on #42213
I confirm that I could reproduce the issue.

|                             |    Total   | Par Call |
|-----------------|:--------:|:------:|
| PyTorch 1.6.0      | 9.0404 | 0.904 |
| torchaudio 0.5.0 | 0.1052 | 0.010 |

<Details><Summary>script</Summary>

[code]

</Details>

<Details><Summary>Env 1: PyTorch 1.6.0</Summary>

[code]

</Details>

<Details><Summary>Env 2: torchaudio 0.5.0</Summary>

[

[2020-07-30 00:02] ptrblck commented on #42265
@xwang233 could you try to grab the nsight profiles and check the call trace for these methods, please?

[2020-07-30 00:21] mcarilli commented on #42183
Do you imagine this option will be used only with `find_unused_parameters`?  If not, it may become tricky:  If a bucket isn't receiving gradients, during backward (without find_unused_parameters) Reducer has no way to tell if the bucket expects to receive gradients or not.  It will wait for that bucket to receive gradients, other buckets (which do receive gradients) will be serialized behind it, a

[2020-07-30 00:25] gmagogsfm opened #42267 "assertRaisesRegxWithHighlight isn't triggered correctly"
Patch:
https://github.com/pytorch/pytorch/pull/42259/files

Run:
test_any_return_type_disallowed

[2020-07-30 00:27] nbcsm commented on #42160
thanks for reporting.
we will look into it and get back to you.

[2020-07-30 00:39] xuezu29 commented on #41177
Yeah,  time was the fifth picture.  @t-vi @glaringlee

[2020-07-30 00:58] shz0116 opened #42268 "how to enable CUDNN_TENSOR_OP_MATH for float32 torch.mm operator"
I am wondering in pytorch, how to enable tensor cores for float32 torch.mm operations.
I posted the same question at https://discuss.pytorch.org/t/using-nvidia-tensor-core-for-float-mm-computation/90901,
but got no response. Thanks.

cc @ngimel

[2020-07-30 01:43] albanD commented on #42243
Note that we have https://github.com/pytorch/pytorch/pull/33344 that would be very related and would make this very simple to implement.

[2020-07-30 01:44] pritamdamania87 commented on #41546
Thanks for going through all my comments! I think creating a new RFC would be great. Although, I had a few more comments which we might want to discuss before creating that RFC.

I guess understanding the details of how a new node is added in the elastic world would help. Does the user leverage the `torchelastic.distributed.launch` script for this and specify a role for the new node and we generat

[2020-07-30 01:48] ngimel commented on #42268
Responded on the forum.

[2020-07-30 01:48] #42268 closed

[2020-07-30 01:49] albanD commented on #42242
Hi,
In general, we don't recommend saving the model itself. You should only save the state dict.
I think this is exactly to avoid this kind of issues where you end up with an old class that tries to use the new code.

That being said, we should try to avoid breaking this indeed. And we can update this function to add an empty set [here](https://github.com/pytorch/pytorch/blob/d68705bd81484cf246b0b

[2020-07-30 01:50] TomHeaven opened #42271 "Pytorch 1.6.0 linking error when linking `libtorch_cuda.dylib` on macOS 10.13.6 with CUDA support"
## 🐛 Bug

There is a linking error when linking `libtorch_cuda.dylib`.

## To Reproduce

Steps to reproduce the behavior:

1. git clone https://github.com/pytorch/pytorch
1. cd pytorch
1. git checkout v1.6.0
1. git submodule sync
1. git submodule update --init --update ---remote --force
1. python3 setup.py bdist_wheel

## Expected behavior

The error occurs when linking `libtorch_cuda.dylib`. It s

[2020-07-30 01:52] albanD commented on #42271
Triage review to discuss the priority given that this is in the 1.6 branch.

[2020-07-30 02:06] albanD commented on #42224
Hi,

Are you using gcc 5 by any chance? It seems to say that this might be related to that?

[2020-07-30 02:24] sharvil commented on #42242
Thanks for the heads-up and pointer, @albanD. I'll take a look soon.

[2020-07-30 02:33] malfet commented on #42224
Pytorch-1.5 needs a C++14  compatible compiler. You are trying to compile PyTorch-1.6.0 with gcc-4.8.5, which is not fully C++14 compatible.
Is there a reason why you can not try to compile it with at least gcc-5.4?

[2020-07-30 02:34] farleylai commented on #42239
According to the [note](https://github.com/pytorch/pytorch/blob/8c653e05ff713bd5b94766c4ca54591cac4d25ca/torch/serialization.py#L353), the zip format is the default in v1.6 in `torch.save()`:

        zipfile-based file format. ``torch.load`` still retains the ability to
        load files in the old format. If for any reason you want ``torch.save``
        to use the old format, pass the kwarg ``

[2020-07-30 02:48] TomHeaven commented on #42271
I found the cause of the error in `aten/src/THC/generic/THCTEnsorMasked.cu:63`. The following code calls the function `item<ptrdiff_t>()` and triggers the linking error.
[code]
A naive workaround is to comment out the line and the following checks of tensor size in line 62-69.
[code]
The same change is also required in line 129-135.

I guess the real fix is to find where the function item() is def

[2020-07-30 03:22] iffiX commented on #41546
@pritamdamania87 Thank you for your detailed response!

Yes, that't how roles are assigned in the design. Though I think `torchelastic.distributed.launch` should not require users "specify a role for the new node", roles are asssigned to nodes automatically, although we design an assign scheme which assigns same roles to a node.

The major motivation was messy naming, that access restriction was a

[2020-07-30 04:49] lxuechen opened #42281 "`torch.Generator` produces segfault when input is `device='cuda'` on a machine that is not CUDA-enabled"
## 🐛 Bug
The bug is as described in the title. The bug appears to be only with v1.6.0.

The case of inputting `device='cuda'` on a machine that is not CUDA-enabled might be rare. But a segfault as outcome doesn't seem to be desirable in any scenario.

## To Reproduce
Run the following on a cpu-only machine:
[code]
Outcome:
[code]

## Environment
PyTorch version: 1.6.0
Is debug build: No
CUDA used

[2020-07-30 04:58] froody opened #42282 "cudaErrorIllegalAddress printing result of torch.nn.Linear(1, 1).cuda()(torch.Tensor([[0.5]]))"
## 🐛 Bug

[code]

## Expected behavior

Print out the value of the tensor and not crash

## Environment

Collecting environment information...
PyTorch version: 1.6.0
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Ubuntu 18.04.3 LTS
GCC version: (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0
CMake version: version 3.10.2

Python version: 3.7
Is CUDA available: Yes
CUDA runtime version: 10.1.105
GP

[2020-07-30 05:04] yukw777 commented on #42239
@tgaddair https://github.com/PyTorchLightning/pytorch-lightning/blob/8ab5bcda3d040fbe6fd616ff45793e3dfd1061ce/.github/workflows/ci-testing.yml#L104 why do we skip 3.8? can we add it back in?

[2020-07-30 05:46] tgisaturday opened #42288 "Pytorch 1.6.0 Quantization quantized tensor support on CUDA is not working"
## 🐛 Bug

As version 1.6.0 released and quantized tensor support on CUDA is included in the release note, I'm trying to run quantized_mobilenetv2 (from torchvision) in GPU. #37081[](https://github.com/pytorch/pytorch/pull/37081)
After I fused the model and run torch.quantization.convert, Pytorch throws me this error:
[](url)
RuntimeError: Could not run 'quantized::conv2d_prepack' with arguments fr

[2020-07-30 05:51] thinking-tower commented on #38237
Hey @suo, I noticed that this issue is still open. I'm happy to work off what @ShawnZhong's done if it's ok!

[2020-07-30 06:02] thinking-tower commented on #42217
@glaringlee I'd be interested in this!

[2020-07-30 06:08] thinking-tower commented on #41362
Hey @rohan-varma, I'm keen on working on this issue! Could you go into more detail about what's the expected resolution for this?

[2020-07-30 06:10] aayn commented on #42223
From #32867:

@mruberry @vadimkantorov Does it make more sense to emulate NumPy first and then expand its scope, or to write the more general version straight up?

[2020-07-30 06:13] mruberry commented on #42223
Focusing on implementing the function like NumPy does sounds great. Further potential enhancements should be separable.

[2020-07-30 06:17] DeepakVelmurugan commented on #41701
@SplitInfinity Can you review my PR?

[2020-07-30 06:40] #33746 closed

[2020-07-30 06:44] rohan-varma commented on #41362
The tricky part here is that per https://docs.nvidia.com/deeplearning/nccl/user-guide/docs/api/types.html#ncclredop-t, NCCL only supports those operations and I'm not sure if something like BAND/BOR can be implemented using those. We could always roll our own solution (which is what the [Gloo backend](https://github.com/pytorch/pytorch/blob/master/torch/lib/c10d/ProcessGroupGloo.cpp#L137) does). I

[2020-07-30 06:57] natangold85 opened #42292 "bug in conversion torch model to onnx model"
## 🐛 Bug
I'm converting a pytorch model to onnx model. in this model there assignment of tensor to a slice of another tensor.
when i'm running the converted model with onnxruntime he crashes when trying to assign the small tensor to the big tensor and ignoring the slice operation.

## To Reproduce
i created a stand alone model to reproduce the problem. this is the error when trying to run the mode

[2020-07-30 07:03] rotabulo commented on #42109
@ngimel thank you for digging into the issue. I can safely cast the type to float64 and work with that at speed. Maybe it could be useful to make people aware of this performance issue in the documentation.

[2020-07-30 07:10] omaralvarez commented on #19786
@xsacha Thanks for the quick answer. Got it, I will try the code out.

[2020-07-30 07:14] nbcsm commented on #25393
@maxluk

[2020-07-30 07:24] guyang3532 opened #42293 "Circleci Windows cu101 build fail"
## 🐛 Bug

The failure job link:
https://app.circleci.com/pipelines/github/pytorch/pytorch/194077/workflows/5124798c-02aa-4049-bec7-295358b25c3e/jobs/6397617

Error message:
[2907/3629] Building NVCC (Device) object caffe2/CMakeFiles/torch_cuda.dir/operators/torch_cuda_generated_elementwise_mul_op.cu.obj
FAILED: caffe2/CMakeFiles/torch_cuda.dir/operators/torch_cuda_generated_elementwise_mul_op.cu.o

[2020-07-30 07:29] shenao1994 opened #42294 "This is a question about classification labels."
I am dividing a set of image data into five categories. I want to set the label like this, because these data are related. Can you tell me how to modify the related code?My original label is [0, 1, 2, 3, 4]

**1 1 0 0 0 0
2 1 1 0 0 0
3 1 1 1 0 0
4 1 1 1 1 0
5 1 1 1 1 1**

Thanks！

[2020-07-30 07:43] phamquiluan opened #42295 "KeyError: 'track_running_stats' in batchnorm.extra_repr"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. `import torch`
2. `state = torch.load("./rot-000003456-020897.pt")   #  checkpoints can be found at here https://github.com/NVlabs/ocrorot`
3. `print(state)`

## Expected behavior

[code]
## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/t

[2020-07-30 07:43] lingdoc commented on #16733
After installing Pytorch with the following instructions (as per https://pytorch.org/):
[code]

I'm getting this error message:
[code]
Is sm_75 code not included for cuda 10.1? Training still runs, but it seems not to take advantage of the instruction set.

[2020-07-30 08:16] ctivanovich commented on #1204
In my case, I had an inappropriate loss function chosen. Make sure you understand the particular use case for your loss function.

[2020-07-30 09:31] CallHoganZhang commented on #19053
Sorry,I met this issue and the solution you provided can fix the problem on libtorch?

[2020-07-30 09:33] dlrac commented on #36428
@mcarilli Will it land in Pytorch 1.6.x once that is released?

[2020-07-30 09:40] CallHoganZhang commented on #19053
I met the issur same but I can not fix the problem from the above soluiton.Would you Mind tell me the soluiton you have fixed?

[2020-07-30 09:57] mattip commented on #32004
The tutorials repo has [CI](https://github.com/pytorch/tutorials/blob/master/.circleci/config.yml) that builds the [website](https://pytorch.org/tutorials). How did the original error slip through?

[2020-07-30 10:47] vadimkantorov commented on #42223
Also, NumPy packbits API for undoing padding is a little unintuitive. Even PyTorch fft `signal_sizes` is more intuitive.

I really wish PyTorch gets a more usable, modernized version of packbits / quantization as well. Of course it can be a separate improvement.

[2020-07-30 11:25] kaimingkuang commented on #37730
Thanks for the workaround! However, backward with autocast isn't recommended according to PyTorch docs. I wonder why autocast backward isn't a recommended practice? And why in this particular case it is safe to do so?

[2020-07-30 11:34] FateScript opened #42300 "strange warning about mixed memory format"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. I tried code below, and I got warning like
[code]
2. Then I comment the second nn.ReLU in self.bbox_subnet, rerun the code, and I got a warning free running.
This is strange for me.

Here is the code:
[code]

## Expected behavior
A warning-free running.

## Environment

Please copy and paste the output from our
[environment collection

[2020-07-30 11:43] lironmo commented on #36989
any update, it's still failed on latest version

[2020-07-30 11:59] FateScript commented on #42300
here is a better implementation to reproduce:
[code]
It seems that only if you use elementwise operation(such as nn.Sigmoid, etc.) at last, This warning will be displayed.

[2020-07-30 12:04] Markus-Goetz commented on #42155
I can confirm that setting `shared=False` works for me. However, the tensor then becomes effectively detached from the file. I would want that changes to the tensor are reflected back to disk.

[2020-07-30 12:23] easquelcannotcode opened #42301 "Is it possible that one-version pytorch supports two gpu (GTX TITAN X and TITAN) using at the same time?"
## 🐛 Bug

I have two individual gpu cards on my computer (of which are GTX TITAN X and TITAN), but when I use pytorch to create a tensor on gpu TITAN X, it shows that "Cuda error: no kernel image is available for execution on the device". It is okay to create a tensor on gpu TITAN.

Actually I noticed this issue [Cuda error: no kernel image is available for execution on the device #31285](https://

[2020-07-30 12:44] BruceMaggs opened #42303 "frame_length reference in pytorch.stft documentation"
## 📚 Documentation

Hi,

On the web page https://pytorch.org/docs/master/generated/torch.stft.htmlwhich documents torch.stft, normalization is defined as follows:

f normalized is True (default is False), the function returns the normalized STFT results, i.e., multiplied by (frame_length)−0.5(\text{frame\_length})^{-0.5}(frame_length)−0.5 .

But frame_length is not defined anywhere on the page.  I

[2020-07-30 12:49] zy885137 opened #42304 "iOS Issue - pytorch 1.60"
Unknown builtin op: aten::mul.
Could not find any similar ops to aten::mul. This op may not exist or may not be currently supported in TorchScript.
:
  File "<string>", line 3

def mul(a : float, b : Tensor) -> Tensor:
  return b * a
[code]

[2020-07-30 12:52] tgaddair commented on #42239
Hey @yukw777, regarding the Horovod Python 3.8 thing, the underlying issue was fixed in Horovod 0.19.2.  So provided the min version is at or above that, we can remove the checks against Python 3.8.

[2020-07-30 13:16] GordonDongZHAO commented on #27212
+1

[2020-07-30 13:25] mberr opened #42305 "Upgrading to 1.6 produces pylint `abstract-method` warning for custom modules"
## 🐛 Bug

The following trick for mypy

https://github.com/pytorch/pytorch/blob/269ec767cabe9c47baab18e58fad5d6485d4e65d/torch/nn/modules/module.py#L223-L239

introduced with 1.6 leads to pylint warnings

[code]

when extending `nn.Module` for custom modules.

## To Reproduce

Steps to reproduce the behavior:

1. Create MWE
[code]
2. run pylint
[code]

## Expected behavior

No warnings if `forward

[2020-07-30 13:53] BruceMaggs commented on #42303
or perhaps it should be nfft?

[2020-07-30 14:06] brianjo commented on #32004
That tutorial (Using the PyTorch C++ Frontend) is an [rst file](https://github.com/pytorch/tutorials/blob/master/advanced_source/cpp_frontend.rst). These don't get built by the CI.

[2020-07-30 14:12] OMalenfantThuot commented on #42242
@albanD  Thanks for the heads up on saving the state_dict instead of the full model. The error was coming from a project I'm not editing, but I'll try and do this instead in the future.

@sharvil Thanks for the fix. Appreciated.

[2020-07-30 14:19] HawkRong commented on #42077
I called `torch.cuda.memory_allocated` to check memory usage on the 4 gpus I used, and the results are:
[code]
and the gpus all have memory capacity as 16 GB, so I don't think the error stemed from 'out of memory'. @prajjwal1

[2020-07-30 14:20] glaringlee commented on #42217
@thinking-tower
We have a people newly joined the pytorch team, I want to assign him this task as an onboarding task.
Thanks a lot for providing help anyway!

[2020-07-30 14:31] Daniel-Kelvich opened #42308 "Quantized model on android?"
Does pytorch support quantized models on android? I have a quantized model which works on intel cpu and can be traced but fails to be run on android. Unfortunately, I cannot share the model. I get the following error.

`java.lang.IllegalArgumentException: at::Tensor scalar type is not supported on java side`

## Environment

PyTorch version: 1.7.0.dev20200727
Is debug build: No
CUDA used to build

[2020-07-30 15:07] gchanan commented on #42188
Both fair points.  It's definitely at least a documentation problem (as I noted above), but it's also true that people often don't read documentation unless you alert them that there is a potential issue (through error or warning).

The design problem is probably true too -- it's trying to provide a NumPy-like API in a case that NumPy doesn't have to worry about (what happens with autograd?).

[2020-07-30 15:16] egpbos commented on #41508
Amazing, thanks for this timely thread! I was just facing a similar problem.

For me, the fix has to be in `nn.functional`; I'm only using a `key_padding_mask` (I have an input signal of audio samples with unequal lenghts, so I pad them). The fix that works for me in [functional.py (current master)](https://github.com/pytorch/pytorch/blob/master/torch/nn/functional.py#L4133) and below, which is cu

[2020-07-30 15:25] gerwin3 opened #42311 "Inconsistent results when trying to enable Tensor Cores on NVIDIA T4"
## 🐛 Bug

Im am trying to figure out if my model is correctly using Tensor Cores on NVIDIA T4 but it seems that PyTorch is not enabling them correctly.

Context: I'm trying to get Tensor Cores to work with I3D. The model is converted to TorchScript and I'm executing it through the C++ API. I've converted the model to FP16 with `.half()`. And I'm seeing the following cudnn logs:

[code]

As can be

[2020-07-30 15:29] Smthri opened #42312 "Quantized Conv2d yields incorrect results (torch 1.6.0)"
## 🐛 Bug

Quantized torch.nn.Conv2d layer calculates convolution incorrectly, meaning that the dequantized output strongly (sometimes > 1) differs from the float output prior to quantization.

## To Reproduce

Steps to reproduce the behavior:

1. Initialize random 3x3 weight matrix and 3x3 input.
2. Manually quantize weights, input and perform calculations.
3. Create torch model as nn.Conv2d layer

[2020-07-30 15:39] gchanan commented on #42300
this looks expected.  It's not a good warning, though, because it doesn't tell you what to do about it.

[2020-07-30 15:40] jspisak commented on #42239
@jamesr66a - can you take a look?

[2020-07-30 15:42] loretoparisi opened #42314 "Mimic Torch.bucketsize in 1.5"
Pytorch 1.6 offers the new function [torch.bucketsize](https://pytorch.org/docs/stable/generated/torch.bucketize.html).
Is it possible to mimic this function with torch 1.5?

Thank you.

[2020-07-30 15:45] loretoparisi opened #42315 "Mimic torch.bucketsize in 1.5"
Pytorch 1.6 beta offers the new function [torch.bucketsize](https://pytorch.org/docs/stable/generated/torch.bucketize.html)
Is it possible to mimic this function in torch 1.5.1?

Thank you

[2020-07-30 16:02] vkuzo commented on #42308
Quantization should work on Android.  Two things might be helpful to help debug:
* is the model quantized with the `qnnpack` backend?  That is the right one to use for mobile.
* can you run a toy quantized model (a single conv layer, for example) on Android?   That would bisect the problem to something with the environment versus something with your real model.

[2020-07-30 16:03] #42014 closed

[2020-07-30 16:04] vkuzo commented on #42113
@dskhudia , thoughts on if this is a KP?

[2020-07-30 16:05] mcarilli commented on #37735
Autocast is not available in 1.5 or 1.5.1.

[2020-07-30 16:06] albanD opened #42316 "Proper testing of `nn.Module` loading backward compatibility"
Even though we recommend not saving `nn.Module` but the state dict to avoid this kind of issues, we actually have code inplace that make it (mostly work).
This code should be tested.

A couple of things to keep in mind:
- We have multiple file formats that all should be tested
- How old should the "old model" be?
- How do we actually test that? Should we do something based on the nightly build lik

[2020-07-30 16:12] wconstab commented on #42227
This is a duplicate of #42078.  Closing issue

[2020-07-30 16:12] #42227 closed

[2020-07-30 16:20] wconstab commented on #42170
This is expected behavior, closing.

[2020-07-30 16:23] wconstab commented on #41961
Please respond with a small, self contained repro script that illustrates the issue.

[2020-07-30 16:30] wconstab commented on #41869
Please provide more details about how to reproduce this issue, such as which input arguments to supply to the function.  Ideally, provide a whole self-contained repro .py script.

[2020-07-30 16:33] geoffsmith commented on #31009
Any suggestions for a workaround for this that we could use in the meantime?

[2020-07-30 16:34] wconstab opened #42317 "Instance norm annotation is incorrect"
See #41361 for background

Fix instance norm annotation

[2020-07-30 16:36] wconstab commented on #41361
@benschreiber We've filed #42317 to track the instance norm annotation.  Can you respond if there are other specific issues here, or otherwise close this out?  Thanks!

[2020-07-30 16:40] wconstab commented on #41513
Possible approach: desugar 'if val' to 'if val is not None'

[2020-07-30 16:43] wconstab commented on #41512
new_tensor is deprecated and would require significant changes to for jit support.  If new_tensor is identical in functionality to tensor, consider mapping it over, else, throw descriptive error and don't support new_tensor.

[2020-07-30 16:48] wconstab commented on #41449
one fix could be to add support for new key operators, another could be to support arbitrary hashable keys, but unclear if that's worth the effort if that's significantly harder.

[2020-07-30 16:51] #41361 closed

[2020-07-30 16:56] wconstab commented on #41355
Ping @suo for design/implementation guidance

[2020-07-30 16:57] gchanan commented on #42282
Looks like a regression, here's 1.5.1:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/data/users/gchanan/anaconda3/envs/pytorch1.3_py3.6/lib/python3.6/site-packages/torch/nn/modules/module.py", line 550, in __call__
    result = self.forward(*input, **kwargs)
  File "/data/users/gchanan/anaconda3/envs/pytorch1.3_py3.6/lib/python3.6/site-packages/torch/nn/modules

[2020-07-30 16:57] gchanan commented on #42282
btw, the problem is that your input tensor isn't on cuda, but the error is definitely a bug.

[2020-07-30 16:57] eellison commented on #29037
PR https://github.com/pytorch/pytorch/pull/36183

[2020-07-30 17:01] fritzo commented on #31009
@geoffsmith I would recommend constructing distributions lazily, as-needed.

Closing this as infeasible.

[2020-07-30 17:01] #31009 closed

[2020-07-30 17:04] JosueCom commented on #37735
Thank you. Just found out recently. Had to download the nightly version. But, I believe it was recently brought to the stable version a few days ago

[2020-07-30 17:05] zhaojuanmao commented on #42183
@mcarilli yes, this option will be used only with find_unused_parameters, otherwise it will not work properly as you mentioned. So we probably need to design the API carefully. Otherwise, we have to wait until "Modularize DistributedDataParallel" is implemented, which allow DDP package is configurable.  see https://github.com/pytorch/pytorch/issues/37002

[2020-07-30 17:12] spandantiwari commented on #42230
@sidkashyap-at-Intel - yes, torch.distributions APIs are not supported in the exporter. Please consider contributing a PR for that.

[2020-07-30 17:17] ezyang commented on #42095
I hope "port" here means "adjust the existing source code so that it is MSVC compatible" ;)

[2020-07-30 17:18] spandantiwari commented on #42235
@rajeevsrao - can this be handled as a ONNX -> ONNX transformation? Would you consider contributing a PR for this.

[2020-07-30 17:23] nlpconf commented on #41869
Hi, Thanks for replying. The input1 and input2 are just 2d encoded padded text sequences with size [batch_size, max_length]. For example, [[1,2,3,4,5],[2,3,5,0,0], ...], mask_len Is the real text length, for example, [5,3,...]. The model is like this:
[code]
Without the steps using packed_padded_sequence and pad_packed_sequence, it works fine.
This is how I saved the model
[code]

[2020-07-30 17:28] wconstab commented on #25758
This appears to have been fixed by a previous change.  I'm able to run the following snippet with a recent pytorch build.  Please reopen if there is still an issue.

`import torch
from typing import Dict, Tuple, List

@torch.jit.script
def foo(v: Dict[int, int], k: int):
    if k in v:
        return True
    else:
        return False

@torch.jit.script
def foo1(v:List[int], k: int):
    if k in

[2020-07-30 17:28] #25758 closed

[2020-07-30 17:38] ezyang commented on #40373
Support for variadics in mypy out-of-the-box is *really* bad. You'll almost definitely need to do a mypy plugin, or maybe use pyre instead.

[2020-07-30 17:38] wgale commented on #41508
Sorry about the delay - I've now created a PR for this issue. I'll create a PR for torchtext when this one is merged.

[2020-07-30 17:43] ezyang commented on #41794
due to activity marking as a high priority bug for type checking. I bet it is not too hard to do; just need to add stubs for utils.

[2020-07-30 17:45] YilunZhou commented on #28716
looks like it is already fixed? I can't reproduce the error on the colab script anymore.

[2020-07-30 17:50] VitalyFedyunin commented on #42155
Apparently you need 59,604 Gb large file to store your tensor. Error here is `storage = torch.DoubleStorage.from_file(filename, shared=True, size=1000000000000)
` not complaining about too small file, which is probably caused by int32 overfill somewhere.

[2020-07-30 18:04] rohan-varma commented on #41574
That sounds good to me as well, although we'd probably want to be a bit careful to ensure that adding new fields to the `Message` class does not have to result in too much refactoring around the ivalue future. Having a generic (non-ivalue) future could also be useful in future cases where parts of PT want to use futures without ivalues, although since there isn't a use case for that currently, I c

[2020-07-30 18:06] vadimkantorov commented on #40373
I'd first like to do simply annotation for doc purposes, without even any type checking, so this should not be an issue...

[2020-07-30 18:08] suo commented on #41400
Sadly, we no longer have official support for PowerPC and it is no longer tested in CI. We should update the readme to reflect this. We'd be happy to accept any PRs to fix things up for ppc, but we can't provide any guarantees about keeping it working.

[2020-07-30 18:11] ailzhang commented on #42239
FYI I'll send a fix for this later today.

[2020-07-30 18:13] mrshenli commented on #37359
addressed by #39272

[2020-07-30 18:13] #37359 closed

[2020-07-30 18:22] gchanan commented on #42282
almost certainly https://github.com/pytorch/pytorch/pull/40927.

[2020-07-30 18:31] yfsong0709 opened #42327 "Wrong in nn.ParameterList and nn.DataParallel, pytorch1.6"
When using nn.ParameterList and nn.DataParallel at the same time, the length of ParameterList will be 0 after DataParallel.

See and run this code (with pytorch=1.6+cu101 installed by pip):
[code]

And the results are:
[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528 @osalpekar @jiayisuse @agolynski @albanD @mruberry

[2020-07-30 18:35] jramapuram commented on #27036
Any official support for this? Tensorflow has had support for this since 1.x

[2020-07-30 18:38] Daniel-Kelvich commented on #42308
@vkuzo thank you for your answer! Yes the model is quantized with `qnnpack`. I think the problem appears because some of the operations in the model use fp32 (after a dequantize function). I will post my results here after some debugging.

[2020-07-30 18:41] SplitInfinity commented on #41701
@DeepakVelmurugan Someone else has already worked on this and their PR is ready to merge.

[2020-07-30 18:46] gchanan opened #42328 "INTERNAL ASSERT FAILED for searchsorted with requires_grad inputs."
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

Note: either of the inputs requiring grad triggers the assert.

## Expected behavior
See:
https://github.com/pytorch/pytorch/blob/26d58503c220a709117582f48cff77a6fc418d6d/torch/csrc/autograd/functions/utils.h#L57-L58

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubuserc

[2020-07-30 19:14] suo commented on #41288
We do not allow users to close over globals in torchscript, as TorchScript functions need to not contain any references to the outer Python scope. The error message can be improved here by checking if the symbol (`ACT_RELU`) is available in the Python `globals()` table and error with a more specific message if it is.

[2020-07-30 19:16] pritamdamania87 commented on #42095
Thanks for working on this gunandrose4u!

I'm wondering what is the reason for these changes? These seem unrelated to supporting torch.distributed on Windows since they're part of the rpc package and not torch.distributed.

I'm assuming we'll also enable our windows CI to run tests like `test_c10d.py` on Windows with gloo?

[2020-07-30 19:31] #40580 closed

[2020-07-30 19:34] xuhdev commented on #42246
cc @nairbv (I'm not sure whether adding cc in the original message would send out a notification)

[2020-07-30 19:43] jramapuram commented on #27749
Any update on this? Seems like a lot of other linalg ops have support, but not the least squares solver: probably one of the most common operands in machine learning.

[2020-07-30 19:50] dzhulgakov commented on #42308
Most likely you’re trying to return a quantized tensor (we should improve the error message :slight_smile: ). We don’t have Java binding for quantized tensor yet. You can try to dequantize the tensor within your model (something like result.dequantize()) or return individual components of the tensor (result.int_repr(), result.q_scale(), result.q_zero_point())

cc @IvanKobzarev for at least a bette

[2020-07-30 19:53] rohan-varma commented on #41929
Related to https://github.com/pytorch/pytorch/issues/28410

[2020-07-30 19:55] rohan-varma commented on #25162
This should be resolved by https://github.com/pytorch/pytorch/pull/41171. If you pass in `drop_last=True` into the constructor, the tail of the data will be dropped and there won't be duplicates. We still ensure that the sampling is even across all the processes.

[2020-07-30 19:56] rohan-varma commented on #35391
The profiler has been changed significantly since this was filed, and I can no longer repro the memory issue. Feel free to reopen if the issue persists.

[2020-07-30 19:56] #35391 closed

[2020-07-30 19:57] rohan-varma commented on #34149
should be done by https://github.com/pytorch/pytorch/pull/34150

[2020-07-30 19:57] #34149 closed

[2020-07-30 20:12] thinking-tower commented on #42217
@glaringlee no worries then. Thanks for letting me know!

[2020-07-30 20:25] weikunhan opened #42331 "The random seed for torchvision transforms is not fixed in PyTorch 1.6"
## 🐛 Bug

## To Reproduce

I create an "ImageFolderSuperpixel" data loader, which is working fine in PyTorch 1.5. In 1.6, there is a problem that transforms Compose can NOT get fix random seed for transforms.RandomHorizontalFlip(),. For example
            transforms.Compose([
                transforms.RandomResizedCrop(30),
                transforms.RandomHorizontalFlip(),
                trans

[2020-07-30 20:25] KsenijaS commented on #41304
Can you please share what kind of setup have you done to run test file inside the clone github repo.
I get this error when tried to run your scrip inside github repo:
  File "test.py", line 3, in <module>
    from deepvoice3_pytorch.train import build_model
  File "/home/ksenija/deepvoice/deepvoice3_pytorch/deepvoice3_pytorch/__init__.py", line 3, in <module>
    from .version import __version__
M

[2020-07-30 20:37] Animadversio commented on #5953
Face the same issue here...
So from my limited knowledge of the algorithm, https://en.wikipedia.org/wiki/Limited-memory_BFGS I feel whenever the Hessian matrix is relative ill posed, then there will be some dimensions that has a very small `y_k` that will generate a large `\rho_k` which explodes during its update of inverse Hessian and send the point far far away. If the domain of function is limi

[2020-07-30 20:38] SsnL commented on #42327
related to the distributed changes on `.parameters()`

[2020-07-30 20:41] VitalyFedyunin commented on #42311
Can you please try to convert your input tensors and model into channels last memory format

[2020-07-30 20:43] VitalyFedyunin commented on #42315
Hello! It is better to ask such kind of questions at https://discuss.pytorch.org/. I will close this issue, feel free to reopen if you think that you need to report a bug or make feature proposal. Thanks.

[2020-07-30 20:43] #42315 closed

[2020-07-30 20:47] jeffreysijuntan opened #42332 "RuntimeError: ProcessGroupNCCL does not support recv (torch-nightly)"
## 🐛 Bug

pytorch recently upgraded the nccl version to 2.7.3 https://github.com/pytorch/pytorch/pull/40622, which has support for point-to-point communication such as send and recv. However, I encounter `RuntimeError: ProcessGroupNCCL does not support recv` when using a nccl backend for send and recv. `torch.cuda.nccl.version()` returns `273`.

## Stack trace

[code]

## Environment

 - PyTorch V

[2020-07-30 20:51] VitalyFedyunin commented on #42305
CC @ezyang

[2020-07-30 20:55] wconstab commented on #41865
@estrulyov Can you let me know if [this gist](https://gist.github.com/wconstab/548ce30bcc1f46de447ec4d0c779dcbc) is an accurate repro for your issue?  I'm building with FBGEMM and no *NNPACK libs currently, and the results i'm seeing are below.

I'm confirming, because while the throughput scaling for quant=True is worse than quant=False, i'm not sure if it's as bad as what you were seeing.

[code

[2020-07-30 20:56] VitalyFedyunin commented on #42295
Related to #42316

[2020-07-30 20:57] VitalyFedyunin commented on #42294
Hello! It is better to ask such kind of questions at https://discuss.pytorch.org/ I will close this issue, feel free to reopen if you think that you need to report a bug or make feature proposal. Thanks.

[2020-07-30 20:57] #42294 closed

[2020-07-30 21:03] xuhdev commented on #24152
Can we close this issue now if it is fixed?

[2020-07-30 21:04] ngimel commented on #42301
You'll have to recompile pytorch again, it should autodetect both your cards and compile for them, provided that your driver is sufficient for your newer card.

[2020-07-30 21:16] vkuzo commented on #42288
hi @tgisaturday , thanks for the report! https://github.com/pytorch/pytorch/pull/37081 is only the first step in adding quantized inference support on GPU, but the actual functionality of running inference of real quantized models on GPU is not expected to work at the moment.

[2020-07-30 21:43] pritamdamania87 commented on #41546
I guess we can have a design proposal for grouping, but it's probably better to leave it out of the first version to keep things simple. We can always built this on top of the first version right? I think "grouping" is a nice concept, but we should probably see at least 2-3 different use cases requiring this before we build out the feature.

Sounds good, could you create a gh issue for uniqueness

[2020-07-30 21:43] mrshenli commented on #42095
I guess this is to make sure the code can build on Windows, as TensorPipe does not support Windows yet. IIUC this means adding some ifdef to guard TensorPipe code? Another option is that we disable the entire RPC package on Windows in the first step.

[2020-07-30 21:46] vkuzo commented on #42312
hi @Smthri , thanks for the report.  Would you mind adding the repro in a non-zip format (ideally as plain text, perhaps via gist.github.com)?

[2020-07-30 21:50] neginraoof opened #42334 "Remove Mutation on List/Tuple elements"
## 🐛 Bug

Currently, remove_mutation pass does not handle tensors that are put in a list/tuple, even when the tuple/list does not escape the graph.

## To Reproduce

[code]
## Expected behavior

The inplace add_ node within the graph should be replaced by its functional equivalent op.

## Additional context

The issue here is that all elements within the List are marked as WILDCARD in alias DB.

c

[2020-07-30 21:52] neginraoof commented on #42334
cc @eellison

[2020-07-30 22:05] ezyang commented on #42155
It seems... reasonable to request an mmap-backed tensor, but I don't know if this is actually supported anywhere in the library.

[2020-07-30 22:06] ezyang commented on #40373
Still fairly certain that variadics are a "soup for me, not for you!" mypy feature 👍

[2020-07-30 22:09] mcarilli commented on #42311
If inputs are FP16 and CUDNN_TENSOR_OP_MATH is set on the convolution descriptor, Tensor Core use is allowed but not guaranteed.  Cudnn may still choose a non-tensor-core algo if its heuristics expect the non-tensor-core algo to be faster for your convolution sizes.

The fact that CUDNN_TENSOR_OP_MATH appears not to be set sometimes for FP16 inputs is unexpected.  Afaik Pytorch's convolution backe

[2020-07-30 22:15] vadimkantorov commented on #40373
Aliasing `Tensor = typing.Tuple` works :)

[2020-07-30 22:32] kundanapillari commented on #41304
@KsenijaS  I ran this statement to fix the error: python setup.py develop

[2020-07-30 22:35] vkuzo opened #42336 "Audit quantization functions to ensure proper argument sizes"
Context: https://github.com/pytorch/pytorch/pull/42079, we now throw a runtime error if an out argument is supplied to a function but it's the wrong size

@mruberry mentioned that we should fix `qadd` and `qmul`, but ideally we should look at all the quantized ops with an `out` argument and fix them if necessary.  Ideal timeline is by v1.7.

[2020-07-30 22:40] kundanapillari commented on #41304
@KsenijaS Thanks! I am using pytorch 1.5 and I don't get that error anymore. However, I am getting this error when converting:
[code]
I don't know why this error is showing because when I run my deepvoice3 pytorch model and give dummy_input as my input, I don't get an error and it produces the right output

[2020-07-30 22:40] pritamdamania87 commented on #41362
I think the first step would be throw an exception to the user indicating that the operation is not supported instead of silently using ncclSum.

Are you suggesting that we should do an allgather of all the tensors and then do the reduction ourselves? Do we need to do the D2H copy and vice-versa? We can probably use something like [torch.bitwise_and](https://pytorch.org/docs/master/generated/torch

[2020-07-30 22:53] mruberry commented on #42336
Hey @vkuzo, we're just throwing a warning message for now, but plan to throw a runtime error in the future (after the 1.7 release).

I think my PR fixes `qmul`, but @ngimel pointed out that `qadd`'s broadcasting behavior will need an update, too. I'll let @ngimel elaborate, but it looks like `qadd` can support broadcasting and does, in some cases, but doesn't size its output correctly when it does

[2020-07-30 22:54] KsenijaS commented on #41304
@kundanapillari I still cannot run the file, now I get this error:
ModuleNotFoundError: No module named 'deepvoice3_pytorch.train'

Can you please list all the steps how did you install deepvoice3_pytorch

[2020-07-30 22:58] kundanapillari commented on #41304
@KsenijaS you probably need to cd into deepvoice3_pytorch and then run it
[code]

[2020-07-30 23:05] xwang233 commented on #42265
I can reproduce this slow GPU impl on CUDA 11 + magma 2.5.4 and CUDA 10.2 + magma 2.5.1.

Testing script
[code]

nvprof nvtx results:
[code]

It seems like there are some memcpy between host and device. I guess this code is the culprit
https://github.com/pytorch/pytorch/blob/e98ad6c05b21f9ee04447de69e809af42f4e114a/aten/src/ATen/native/cuda/BatchLinearAlgebra.cu#L703-L705

`Tensor ipiv` is initiat

[2020-07-30 23:06] KsenijaS commented on #41304
@kundanapillari I did that and it doesn't work for me

[2020-07-30 23:15] kundanapillari commented on #41304
@KsenijaS what specific file are you running again. The repo doesn't have "test.py" file

[2020-07-30 23:57] pritamdamania87 commented on #42327
@ngimel I'm wondering if this is related to https://github.com/pytorch/pytorch/pull/33907?

[2020-07-31 00:10] iffiX commented on #41546
@pritamdamania87 I agree, that issue is a necessity for the elaticity to work correctly, but sadly I do not have enough time to create and maintain a seperate issue noe, could you please find someone else to work on this issue? Please notify me if you think the new gh issue is necessary to be referenced in the new RFC.

[2020-07-31 00:10] iffiX commented on #41546
Closing this RFC in favor of the second refined version

[2020-07-31 00:10] #41546 closed

[2020-07-31 00:19] IvanKobzarev commented on #40027
Hello @maxmx911 ,
Sorry for my delay with this reply.

I tried to reproduce this issue (we have a test_app inside pytorch repo: https://github.com/pytorch/pytorch/pull/42344)
But I failed to repro it and get NaNs, my output was always normal floats.

I scripted your model with pytorch 1.5.0 and tested it with  'org.pytorch:pytorch_android:1.5.0' gradle dep.
I repeated the same with the latest mast

[2020-07-31 00:22] pritamdamania87 commented on #39272
Re-opening since we had to revert the original PR. @sinannasir feel free to close this when we land the second version.

[2020-07-31 00:37] pritamdamania87 opened #42345 "Generate unique `worker_id` for each node in the RPC framework for the store."
The RPC framework uses the user specified `worker_id` to generate globally unique ids using first 16 bits as the worker_id and next 48 bits being an in memory auto increment counter. This works well in the case of a static set of workers where the user can specify unique ids.

But as we plan to support elasticity (see discussion here: https://github.com/pytorch/pytorch/issues/41546#issuecomment-66

[2020-07-31 00:38] VhalPurohit commented on #3867
any updates??

[2020-07-31 00:39] pritamdamania87 commented on #41546
I created a gh issue for this and let's reference that in the latest version: https://github.com/pytorch/pytorch/issues/42345

[2020-07-31 00:53] estrulyov commented on #41865
1. Model should not be reinstantiated in run_model. It's enough to load it once.

2. I am seeing no improvement at all from multiple threads.

[2020-07-31 01:02] rohan-varma commented on #42345
For BC purposes, how will we support APIs such as `get_worker_info(worker_id)` and `worker_name(worker_id)` if the `rank` argument is no longer used in constructing the unique worker ID? Generally the arguments passed into those functions are the rank the user initialized the worker with, although I guess with this we will have a different notion of worker_id. If we allow the user to just use `ran

[2020-07-31 01:05] rohan-varma commented on #41362
Sounds good, @thinking-tower I think the first step for now can just be to throw a descriptive error if the operation is not supported (not in the `ncclOp` map) and probably update our distributed documentation indicating that BAND, BOR, and BXOR is not supported with the NCCL backend currently.

In the longer term, we can discuss with NCCL and see if there is demand for these ops from users.

[2020-07-31 01:08] #41701 closed

[2020-07-31 01:14] Palashio opened #42347 "using pytorch for UNET issue"
Using this UNet implementation: https://github.com/kilgore92/PyTorch-UNet

With this instantiation of the UNet object:

[code]
Whenever I try running my training script with the dataLoader I get this error: `RuntimeError: Expected 4-dimensional input for 4-dimensional weight [64, 1, 3, 3], but got 5-dimensional input of size [1, 1, 128, 128, 128] instead`

Here's more information:

This is my trai

[2020-07-31 01:45] gunandrose4u commented on #42095
@pritamdamania87 , @mrshenli , as Shen said, I will add ifdef _WIN32 to disable compile code related to TensorPipe in RPC. Mainly target on,
1. TensorPipeAgent
2. TensorPipeRpcBackendOptions
3. tensorpipeSerialize
4. tensorpipeDeserialize

[2020-07-31 01:52] yfsong0709 commented on #42327
I run this code with pytorch1.4 and pytorch1.5 installed by anaconda, and the results are correct.

[2020-07-31 01:57] ngimel commented on #42327
#33907 is part of 1.5, so that means it's not the problem?

[2020-07-31 02:01] lfcarol opened #42349 "I want to build the pytorch and link with openblas static library, so how to modify the CMakeList.txt ?"

[2020-07-31 02:07] CallHoganZhang opened #42350 "An error occurred deploying CRNN using libtorch"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

I trained the model on Pytorch and deployed it on libtorch, which I tried in both versions 1.1 and 1.4. They all run successfully in CPU mode, but in GPU mode, the model can be loaded into CUDA normally, but once the reasoning is done, the GPU footprint goes up to 100% and the program exits. The error message is:Warning: Weights are not

[2020-07-31 02:23] OodapowUiPath commented on #39072
@imanpalsingh can you link the duplicate please?

[2020-07-31 02:38] boy2000-007man commented on #39053
@spandantiwari
I can repro this issue with `torch.nn.functional.normalize`
[code]
outputs
[code]

[2020-07-31 02:45] killTheHostage commented on #39053
THANK YOU VERY MUCH
Because I have given up exporting the ONNX model of WS-DAN and switched to other networks without problems, I did not continue to follow up on this issue. THANK YOU FOR YOUR REPRO AGAIN. I almost forgot about this 😂

[2020-07-31 02:59] gunandrose4u commented on #42095
@ezyang , yes, exactly.

[2020-07-31 03:08] liaomingg commented on #1684
In [10]: x = torch.randn((1, 4, 2, 2))

In [11]: x
Out[11]:
tensor([[[[ 1.1784,  0.2635],
          [-0.9363, -0.6162]],

         [[ 0.2314, -0.4491],
          [-1.1700, -1.3934]],

         [[-0.9268,  0.2151],
          [ 0.9150, -0.1797]],

         [[ 0.0940,  0.9673],
          [-0.8963, -0.3925]]]])

In [12]: y = torch.pixel_shuffle(x, 2)

In [13]: y
Out[13]:
tensor([[[[ 1.1784,  0.2314,

[2020-07-31 03:10] yfsong0709 commented on #42327
Sorry, pytorch1.5 is also incorrect, only pytorch1.4 outputs correct results. Maybe #33907 is a solution, I'm testing now.

[2020-07-31 03:17] g-karthik commented on #32034
@fmassa @ATriantafyllopoulos I have a somewhat related question:

Suppose I have N datasets, each with tensors of shape `(B, num_cands, seq_len)` where `B`, `num_cands` and `seq_len` may vary across the N datasets. I want to run a single **DistributedDataParallel** training job, where each mini-batch (in each GPU) comes from any one of the N datasets. I do not want a given mini-batch to have examp

[2020-07-31 03:23] ezyang commented on #38221
Yes, I think this would be quite useful. Not sure how easy this will be to fix; might be as simple as adding it to the dep list... or maybe not.

[2020-07-31 03:29] louisace commented on #22095
@HapeMask I set broadcast_buffers=False in the DDP module constructor. But the error does not solve.  Is there anything else that could cause the problem?

[2020-07-31 03:30] mruberry commented on #3867
@peterbell10 has linked a draft PR that you can follow.

[2020-07-31 03:32] ShijianXu commented on #21819
There seems to be multiple possible causes. Just for reference, I encountered the same problem but when I switched from one GPU server(cluster) to another, the error disappeared. So, the device may be one possible cause.

[2020-07-31 03:41] ezyang commented on #42305
Ugh, this sucks. @mberr, I don't have a lint easily setup right now, but if we "hide" the `raise NotImplemented` in some way (e.g., by putting it in a lambda and then immediately invoking it) does that appease the lint? If so I'd be happy to take the patch.

[2020-07-31 03:41] #24152 closed

[2020-07-31 03:43] FateScript commented on #42300
I wonder why commenting elementwise operation(for example, nn.ReLU) could make this warning disappear.

[2020-07-31 03:49] VitalyFedyunin commented on #42300
It is happening because ` tensor = box.reshape(N, -1, 4, H, W).permute(0, 3, 4, 1, 2)` outputs channels last 3d tensor. And when it comes in the mix with non channels last model this warning appears. If it makes you nervous, you can add `tensor = box.reshape(N, -1, 4, H, W).permute(0, 3, 4, 1, 2).contiguous()` to make this warning disappear.

[2020-07-31 03:55] vinnamkim commented on #41332
It is fixed. Close the issue.

[2020-07-31 03:55] #41332 closed

[2020-07-31 04:31] yfsong0709 commented on #42327
I find the solution. Do this modification in torch.nn.parallel.replicate.py:

wrong code (around line 147):   setattr(replica, key, param)
modified code:   setattr(replica, key, Parameter(param))

and also need to add the code (from torch.nn import Parameter) in the beginning.

Then this bug will output correct results.

But I wonder if this modification will break other things.

[2020-07-31 05:03] FateScript commented on #42300
Actually I tried but this warning still exists and it seems that this warning is caused by elementwise operation.

As far as I know, commenting nn.ReLU in my example code is the only way to make this warning disappear. This shouldn't be an expected behaviour.

[2020-07-31 06:16] Stonesjtu opened #42351 "fake_quantize_per_tensor_affine failed on float16 input"
## 🚀 Feature

To support float16 (optionally bf16) in `fake_quantize_per_tensor_affine` /  `fake_quantize_per_channel_affine`

## Motivation

When `amp.auto_cast` is enabled, the fake_quantize may fail.

cc @ezyang @gchanan @zou3519 @bdhirsh @heitorschueroff @mcarilli @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a @vkuzo @ppwwyyxx

[2020-07-31 06:54] mberr commented on #42305
Replacing https://github.com/pytorch/pytorch/blob/269ec767cabe9c47baab18e58fad5d6485d4e65d/torch/nn/modules/module.py#L223-L227 by

[code]

stops pylint from raising the `abstract-method` in the MWE from above. However, now it also fails to correctly detect cases where `forward` is not overridden, e.g.

[code]

does not raise any `abstract-method` warning.

[2020-07-31 07:23] theAkhileshRai opened #42353 "Error while trying to install pytorch on pycharm"
## 🐛 Bug

Correct way of installation is torch.
This should be removed as it is misleading.

ERROR: Command errored out with exit status 1:

## To Reproduce

Steps to reproduce the behavior:

1.Install Pycharm
2.Select Preferences
3.Python interpreter
4.Select +
5. Search Pytorch
6. Click on OK

## Expected behavior

Collecting pytorch
  Using cached pytorch-1.0.2.tar.gz (689 bytes)
Building wheel

[2020-07-31 07:27] gmagogsfm opened #42354 "%-based string format should be supported in TorchScript"
## 🚀 Feature
Support %-based string formatting in TorchScript.

## Motivation

It is commonly used to construct strings in Python, even though there is easy workaround of using "str.format", it is still nice to have.

## Pitch

%-based string formatting should work in TorchScript

[code]

cc @suo @gmagogsfm

[2020-07-31 07:30] wujw13 commented on #37377
Had the same problem with PyTorch 1.5.1 installed with conda. The CPU is Intel(R) Xeon(R) CPU E5-2690.
After uninstalling PyTorch and reinstall it (1.5.1) using pip, the problem disappeared. This may be the quickest method to solve it.

[2020-07-31 07:31] boy2000-007man commented on #39053
seems fixed and can't repro with `pytorch 1.6`

[2020-07-31 07:38] fatalfeel opened #42355 "nn::Sequential Link error in Android version"
#NDK 21C Build ok
cd pytorch
export ANDROID_NDK=/opt/android-ndk
export ANDROID_ABI=arm64-v8a
export ANDROID_NATIVE_API_LEVEL=28
./scripts/build_android.sh

/////////////////

build link ok
at::Tensor ref_res = at::zeros({23, 23});

build link error
nn::Linear	actor = nn::Linear(8, 64);

#error message
1 warning generated.
[arm64-v8a] Compile++      : ppo <= actorcritic.cpp
rm -f ./obj/local/arm64

[2020-07-31 07:39] lw commented on #42095
There is already a `USE_TENSORPIPE` flag, both for CMake and for guarding code with #ifdefs, isn't that already enough?

[2020-07-31 07:57] mberr commented on #42305
@ezyang I think I found a solution, cf. #42356

[2020-07-31 08:28] edgarriba opened #42357 "JIT runtime error after upgrading to 1.6.0"
## 🐛 Bug

We are getting a runtime error during the testing with the JIT version of `kornia.rgb_to_grayscale` [[fcn](https://github.com/kornia/kornia/blob/master/kornia/color/gray.py#L40-L61)] [[fcn_jit](https://github.com/kornia/kornia/blob/master/kornia/jit/__init__.py#L6)] after upgrading to PyTorch 1.6.0.

NOTE: The error is only raised when the CUDA backend is enabled - CPU seems to be
fine.

[2020-07-31 08:28] edgarriba commented on #42357
/cc @ngimel

[2020-07-31 08:41] Smthri commented on #42312
Link to gist: https://gist.github.com/Smthri/e7a414798d7fa32fc9f41f44c9bd1b11

[2020-07-31 08:45] ChaiKnight opened #42358 "Type mismatch error in Autocast enabled region"
## 🐛 Bug

I'm testing the new AMP in torch 1.6, but I receive:

`RuntimeError: expected scalar type Float but found Half`

In my fully connected layer.

## To Reproduce

Steps to reproduce the behavior:

1. I created a Resnet18 model, changing the fc layer to Linear(512,10)
1. I followed the guide here, utilizing code samples to enable AMP: https://pytorch.org/docs/stable/amp.html#

The following

[2020-07-31 08:57] tejasvi commented on #30664
In my case, I had `cpuonly` package installed which needs to be removed.

[2020-07-31 09:07] fatalfeel commented on #42355
its seems mobile phone does nto have this function build

/root/pytorch_debug/CMakeLists.txt
# purpose.
if(ANDROID OR IOS OR DEFINED ENV{BUILD_PYTORCH_MOBILE_WITH_HOST_TOOLCHAIN})
  set(INTERN_BUILD_MOBILE ON)

  if(DEFINED ENV{BUILD_PYTORCH_MOBILE_WITH_HOST_TOOLCHAIN})
    # C10_MOBILE is derived from Android/iOS toolchain macros in
    # c10/macros/Macros.h, so it needs to be explicitly set here

[2020-07-31 09:07] ashkanmy commented on #17614
Hi,
I have already trained my model in Python. My model is combination of two other sub-models. I establish my model by calling :

my_model = ModelAllInOne(num_of_classes,num_of_outputs)

where ModelAllInOne is just a class that puts my two sub-models to gather. Note, I did not mention the sub-models since I believe they have no impact on this question and its probable answers.

However, to export

[2020-07-31 09:38] ChaiKnight commented on #42358
Well, this was a dumb user error.

I was looking for type mismatch errors (as per the error log), but in reality I should have looked at device errors: Namely, that I created the new fc layer (on cpu as per default) AFTER model.to(device).

I would suggest rewording the Error message so dumb mistakes like this don't happen, but ultimately it falls on me.

[2020-07-31 09:38] #42358 closed

[2020-07-31 09:44] gerwin3 commented on #42311
Looking at some of the convolutions I posted above, do you think that might be the case? I can't really see anything that indicates that Tensor Cores wouldn't help.

I did an experiment from the Python code base as you said. I set `torch.backends.cudnn.benchmark = True`, took the vanilla model, applied `model.half()`, converted input to FP16 and then did some inference (I also didn't use amp or JI

[2020-07-31 09:53] ggoossen commented on #42170
@wconstab How do you mean this is expected behaviour? Is this documented? None of the other operations I know behave like this, all other operations, when given cuda tensors as input they return a cuda tensor, and this behaviour doesn't change when tracing (independent on whether the tracing was done with cpu tensors or using cuda tensors), only this operator has different behaviour and starts con

[2020-07-31 10:05] jifengtuo commented on #41389
hello,I also have the same error,can you tell me how to correct the error in specific file?thank you

[2020-07-31 10:15] v0dro commented on #41768
I can take this up.

[2020-07-31 10:22] jifengtuo commented on #41389
thanks, I have solved the problem with your advices

[2020-07-31 11:21] gerwin3 commented on #42311
@VitalyFedyunin I think that there's no support for NDWHC in `Conv3D`-layers? At least I can't seem to find it.

[2020-07-31 11:48] zy885137 opened #42361 "iOS Issue - PyTorch is not linked with support for cpu devices"
Calling torch:: JIT :: Load () I got an error message:

PyTorch is not linked with support for cpu devices (getDeviceGuardImpl at /Users/distiller/project/c10/core/impl/DeviceGuardImplInterface.h:216)
(no backtrace available)

cc @suo @gmagogsfm

[2020-07-31 11:57] mberr commented on #42305
@ezyang It seems like the fix lead to a failure for one specific build, `pytorch_macos_10_13_py3_test`, but I cannot make much sense out of the error log I see there.

[2020-07-31 12:14] erip opened #42362 "libpytorch_jni is not provided in conda builds"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. `conda create -n tmp -y python=3.6`
1. `conda install -c pytorch pytorch -y`
1. `find "$CONDA_PREFIX" -name "libpytorch_jni.*"`

## Expected behavior

The conda artifact should include `libpytorch_jni`.

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/

[2020-07-31 13:12] MrNeither opened #42363 "unclear behavior of the torch.cummax function on CUDA"
Hello. I encountered a problem with the torch.cummax function working on tensors in cuda. I would appreciate any information to understand what the problem might be.
## To Reproduce

Steps to reproduce the behavior:
[code]

Output:
[code]
## Expected behavior

At first glance, it seems that cummax used transpose, flatten, and reshape, If you look at the column values.

## Environment

PyTorch vers

[2020-07-31 13:15] mattip commented on #32004
The tutorial refers to code (in the [conclusion](https://github.com/pytorch/tutorials/blob/master/advanced_source/cpp_frontend.rst#conclusion)) from the examples repo, so now that there is CI for the examples that particular instance of the general principle should be covered. With that, I think there may be some value to reducing the copy-paste of code into the tutorial RST files. Maybe if we mov

[2020-07-31 13:48] kshitij12345 commented on #42363
Looks like the issue is fixed on master (not sure about 1.6)
[code]

[2020-07-31 13:58] MrNeither commented on #42363
So I need to update the version?

[2020-07-31 14:02] kshitij12345 commented on #42363
You can try that or maybe you can wait for more details from maintainers.

[2020-07-31 14:30] anjali411 commented on #24539
@zasdfgbnm are you still planning to work on this?

[2020-07-31 14:30] KsenijaS commented on #41304
@kundanapillari test.py is your script that I tried to run inside the clone repo. Tell mw hoe to easily repro your failure:
1.where do you run your script
2. how did you install deepvoice3_pytorch package
3. are there any additional steps

[2020-07-31 14:30] anjali411 commented on #24539
making it hi priority because it's important for complex tensors

[2020-07-31 14:59] djordjemiladinovic opened #42364 "Adamax not working in Pytorch1.6"
## 🐛 Bug

I updated my pytorch from 1.5.1 to 1.6 and now I am not able to run my code. I managed to localize the error and it is related to Adamax optimizer e.g. if i switch back to Adam, then the code works fine, however Adamax is what I need.

I also noticed that in another project Adamax is working just fine.

## Error

  File "/cluster/home/djordjem/projects/snn/lib/de/ImageVE.py", line 207, i

[2020-07-31 15:19] ezyang commented on #41857
One idea that I had for implementing a conj flag is to implement it as a dispatch key with backend fallback. Tensors with the conjugate bit set would also carry the Conjugate dispatch key. The fallback handler would materialize the conjugation and then call the underlying operation; however, specific operations which support conjugations on certain inputs could simply strip the conjugate bit and f

[2020-07-31 15:27] ezyang opened #42366 "Stop implementing JIT stack as a std::vector"
@zou3519 in https://github.com/pytorch/pytorch/pull/41943 reported an unexpected interaction, where references to value on the stack (which had not been popped) because invalidated when he pushed further arguments on the stack. The reason for this is, of course, that when pushing new arguments onto the stack, it triggered a reallocation, which forced ALL of the elements on the stack to get moved.

[2020-07-31 15:27] ezyang commented on #42366
cc @zdevito

[2020-07-31 15:29] ezyang commented on #32004
The "easiest" way to do this is have PyTorch CI check out a specific hash of example/tutorials repo and then run the test that way. We would then need to occasionally update this hash as new changes are landed to examples.

[2020-07-31 15:31] AsakusaRinne opened #42367 "A question about torch.nn.Module.__Call__"
In torch.nn there is an important class named Module, and it implements __Call__ with the code below:
`__call__ : Callable[..., Any] = _call_impl`
The "__Call__" returns the return of "_call_impl", how does it works? The "__Call__" doesn't has an "explicit return" while it actually returns a value, why?
I'm not familiar with Python and pytorch yet, so my question may seems a little dull...I will a

[2020-07-31 15:41] amrishparmar commented on #42367
In Python functions are treated as first class objects, so you can assign a function object to another variable trivially. Consider the following example:
[code]
The same is happening here. `_call_impl` is being assigned to `__call__`.

The `: Callable[..., Any]` in the middle is just a type annotation. It doesn't affect the logic of what's happening

[2020-07-31 15:45] rgommers commented on #38221
Looks like it should be pretty straightforward, it's pure Python and packaged in conda as well, so don't see any major stumbling blocks. I'll give it a go.

[2020-07-31 15:53] zou3519 opened #42368 "RFC: torch.vmap"
TL;DR: We’re implementing a prototype torch.vmap (inspired by jax.vmap) for PyTorch and are looking for early adopters! Please go to https://github.com/pytorch/functorch and follow installation instructions there.

JAX provides jax.vmap, a program transformation that automatically “vectorizes” a function. What this means is that it parallelizes a function over some dimension of the inputs. jax.vma

[2020-07-31 16:04] zou3519 opened #42369 "Can't build PyTorch on master"
## 🐛 Bug

I am getting the following error after pulling the latest master and updating the submodules:

[code]
## To Reproduce

Build PyTorch from source

## Environment
Ubuntu 18.04.3 LTS, conda python

[2020-07-31 16:05] #42242 closed

[2020-07-31 16:07] anujgupt-github opened #42370 "Add NMS version which can do confidence based thresholding"
## 🚀 Feature
Add NMS version which takes confidence threshold and prunes out low confidence scores from the entire prediction.

## Motivation

Motivation is that if Pytorch NMS requires only boxes which cross confidence threshold, it means that the filtering should be done apriori. This filtering usually results in an ONNX NONZERO operator, and if using GLOW, NONZERO can't be supported, owing to t

[2020-07-31 16:18] vkuzo commented on #41396
Hi @skurzhanskyi , quantization of `nn.Embedding` and `nn.EmbeddingBag` is in the works.  We don't have a specific timeline we can share, but it should be ~months (not weeks or years).

[2020-07-31 16:20] vkuzo commented on #40759
Hi @anguoyang , we don't have quantized softmax yet because we haven't found many instances where softmax is a performance bottleneck (so it's usually OK to leave it in floating point).  We would be happy to review the PR if someone wants to add it sooner.

[2020-07-31 16:47] rotabulo opened #42371 "linear function and the different convs functions retain unnecessary buffers"
## 🐛 Bug

The function `torch.nn.functional` but also the different `torch.nn.functional.convXd` keep allocated the input also when the weight does not require the gradient.

## To Reproduce

The following code shows the issue by comparing `torch.nn.functional` against a custom implementation of it.

[code]

The output I get:
[code]

## Expected behavior

`torch.nn.autograd.linear` should return t

[2020-07-31 16:49] kwmaeng91 commented on #40561
Any update on this topic? I am having a same problem and I wonder if anyone found a workaround

[2020-07-31 17:26] #41882 closed

[2020-07-31 17:42] seemethere opened #42372 "[macOS] [nightlies] dlopen --: Library not loaded: @rpath/libuv.1.dylib J"
Nightly builds for macos conda packages are currently failing when testing imports:

[CircleCI Logs](https://app.circleci.com/pipelines/github/pytorch/pytorch/195335/workflows/4a03e875-785d-4a2a-bfd2-3e5a31eb405b/jobs/6450505)
[code]

Failures were introduced somewhere in this change set: https://github.com/pytorch/pytorch/compare/0444bac940695ccfa43854f9241839f759ba5f28...2f840b1662b487d5551d7230

[2020-07-31 17:46] malfet commented on #42372
Very likely https://github.com/pytorch/pytorch/commit/352e15f1a2df6b93689a28c14b71a0f87f29cc02 should fix that

[2020-07-31 17:48] seemethere commented on #42372
Alright, I'll keep this issue open until we see a run through of the nightly pipeline with the revert

[2020-07-31 18:07] weikunhan commented on #42331
Someone can confirm it is a bug in Pytorch 1.6?

[2020-07-31 18:10] izdeby opened #42374 "TensorIterator fails while adding tensors of different dtype"
Repro:
[code]

Result:
**RuntimeError: common_dtype_ != ScalarType::Undefined INTERNAL ASSERT FAILED at "../aten/src/ATen/native/TensorIterator.cpp":89, please report a bug to PyTorch.**

cc @ezyang @gchanan @zou3519 @nairbv

[2020-07-31 18:19] vfdev-5 commented on #42331
@weikunhan you can set the seed with `torch.manual_seed(seed)`. Previously, it could be done with python's `random.seed(seed)`.
The change is due to input unification (PIL + Tensor).
Hope this helps.

[2020-07-31 18:21] SteffenCzolbe commented on #41661
Dumped hours of debugging time into this issue since upgrading to torch 1.6.0, still have no clue what causes it. Some of my models work fine, while others abort with the previously mentioned error.

Only fix I found was downgrading to 1.5.1 :/

[2020-07-31 18:23] ailzhang opened #42375 "Torchscript missing `sorted` support for str"
[code]

RuntimeError: To sort a list of str must be of Tensors, ints, floats, bools or a User Defined Class that defines the __lt__ compare method, got list of str

cc @suo @gmagogsfm

[2020-07-31 18:26] mrcslws opened #42376 "torch.save() serializes a bound method in OneCycleLR's state_dict, causing CUDA problems"
## 🐛 Bug

If you `torch.save` a `OneCycleLR` state dict, bad things happen. Anybody who `torch.load`s that checkpoint will often later start seeing crashes like `CUBLAS_STATUS_ALLOC_FAILED`, `CUDNN_STATUS_NOT_INITIALIZED`, or they will run out of CUDA memory. Also, the saved checkpoint is much larger than it needs to be; the serialized LR scheduler state dict contains (unintentionally) the entire

[2020-07-31 18:38] zou3519 opened #42378 "Dispatcher fallback mechanism internal asserts for operators with multiple returns"
## 🐛 Bug

I attempted to call an operator on a tensor extension that goes through a fallback mechanism. For an operator that has multiple returns (like `torch.var_mean`), the implementations push multiple returns onto the stack. However, that causes an error message to be raised in the dispatcher. The error message implies that the dispatcher only expected a single return on the stack.

Is pushing

[2020-07-31 18:41] zou3519 commented on #42369
Fixed.

[2020-07-31 18:41] #42369 closed

[2020-07-31 19:32] EugenHotaj opened #42379 "TensorBoard Summaries Written with `SummaryWriter.add_scalars()` are not Purged"
## 🐛 Bug

When writing TensorBoard summaries, `SummaryWriter` does not purge summaries written with `SummaryWritter.add_scalars()`. However, summaries written with `SummaryWriter.add_scalar()` are purged correctly.

## To Reproduce

Steps to reproduce the behavior:

1. Save metrics using `SummaryWriter.add_scalars()`.
1. Save metrics using `SummaryWriter.add_scalar()`.
1. Create a new `SummaryWrit

[2020-07-31 19:58] bhosmer commented on #42378
Hi Richard - yeah, the boxing wrapper is expecting a tuple of return values currently, but it looks like that's wrong - it should expect the individual values. Should have a fix up shortly, thanks for flagging!

[2020-07-31 20:01] mrshenli commented on #41614
@froody and @blefaudeux brought up a good point that, it might be too much hurdle for users to initialize twice (c10d and RPC), it might be easier to use if we support initializing an RPC gang using an initialized ProcessGroup.

I recall we discussed the possibility to have a new `init_rpc` API that takes a Store instead of `rank`, `world_size`, `init_method` etc. Can this be one step further for

[2020-07-31 20:06] zasdfgbnm commented on #24539
@zasdfgbnm No, I am not working on this right now.

[2020-07-31 20:31] vkuzo commented on #41640
hi @Coderx7 , here are some initial thoughts, I hope this is helpful:

[code]

It could be easier to implement PReLU via something like this:

[code]

Also, check out Graph Mode quantization which was released in v1.6, it would simplify the implementation by placing the quant/dequants for you.

[2020-07-31 20:47] vkuzo commented on #42113
@Daniel-Kelvich , would you mind sharing what kind of CPU you are running this on?

[2020-07-31 20:48] dskhudia commented on #42113
Discussion is here: https://discuss.pytorch.org/t/slow-quantization/90954

[2020-07-31 20:54] wconstab commented on #42170
So, which part do you want changed?
 - there is a recording of device type on b during tracing, which I believe is intentional to fix the issue you mentioned (#13969), which is frozen into the traced program
 - the converted version of the tensor appears to be used throughout the rest of the trace, rather than the original version

[2020-07-31 21:02] vkuzo commented on #41652
for dynamic quantization, weight observer is used to determine the weight quantization parameters (https://github.com/pytorch/pytorch/blob/master/torch/nn/quantized/dynamic/modules/linear.py#L77).  Activation observer is not needed / not used.  Perhaps you are thinking of post-training static quantization, where both weight and activation observers are used?

[2020-07-31 21:29] mrshenli commented on #40378
Reopen this issue as it occurs again:
https://app.circleci.com/pipelines/github/pytorch/pytorch/195326/workflows/b4d67acd-38e4-4558-936b-b89b5840957d/jobs/6450811/steps

[code]

[2020-07-31 21:36] mruberry commented on #4864
Closing this issue due to age. If this is still occurring with a recent version of PyTorch please update and reopen.

[2020-07-31 21:36] #4864 closed

[2020-07-31 21:36] mruberry commented on #4845
Closing this due to age. If this issue still occurs with a recent version of PyTorch and cuDNN please update and reopen.

[2020-07-31 21:36] #4845 closed

[2020-07-31 21:37] mruberry commented on #4844
Closing due to age and lack of response. If you're still experiencing this issue on a recent version of PyTorch then please update and reopen it.

[2020-07-31 21:37] #4844 closed

[2020-07-31 21:37] mruberry commented on #4843
Closing this issue due to age. If you still experience this problem with a recent version of PyTorch then please update and reopen it.

[2020-07-31 21:37] #4843 closed

[2020-07-31 21:39] mruberry commented on #4832
Closing this issue due to age. Although our documents certainly do need updating and this is the right place to file such issues. If you still notice doc issues like this please open a new issue.

[2020-07-31 21:39] #4832 closed

[2020-07-31 21:40] vkuzo commented on #41534
hi @lamipaul , thanks for the report.  Note: you can already do this if the model is in eval mode.  To support QAT, we'll need to add `torch.nn.intrinsic.qat.ConvBn1d`.

[2020-07-31 21:40] mruberry commented on #4829
Updating title to reflect remaining work.

[2020-07-31 21:41] mruberry commented on #4800
Closing this due to age.

Please open an updated issue using a recent version of PyTorch if you'd still like to discuss new features/functionality.

[2020-07-31 21:41] #4800 closed

[2020-07-31 21:42] mruberry commented on #4757
Closing due to age. If you're still experiencing a similar issue on a recent version of PyTorch then please update and reopen this issue.

[2020-07-31 21:42] #4757 closed

[2020-07-31 21:44] vkuzo commented on #36001
@supriyar , is this one finished and ready to close?

[2020-07-31 21:50] vkuzo commented on #42022
thanks for the report @chenxie95 .  Closing since this seems fixed.

[2020-07-31 21:50] #42022 closed

[2020-07-31 21:51] #36001 closed

[2020-07-31 21:53] vkuzo commented on #41642
hi @Coderx7 , are you still having trouble with quantizing BatchNorm2d?

[2020-07-31 21:55] wconstab commented on #41865
@estrulyov I've updated [my gist ](https://gist.github.com/wconstab/548ce30bcc1f46de447ec4d0c779dcbc) to reuse the model.  Can you send me the output from the running the latest gist on your setup?

Can you also send more info about how you got your pytorch binary?  I'm interested in the build configuration, because build-time options like FBGEMM lib or NNPack lib could be relevant.

[2020-07-31 21:55] mruberry commented on #42376
Thanks for reporting this issue, @mrcslws. I believe we would accept a PR fixing this, although I don't know offhand how invasive a fix would be.

[2020-07-31 21:56] vkuzo commented on #40278
if this reproes on the tutorial, we should call it out in the tutorial

[2020-07-31 22:04] vkuzo commented on #38600
hi @jafermarq , FakeQuantize does use STE in the backward pass.  The CUDA code you mentioned is zeroing out the gradient only if the forward pass clipped the original value to be inside the quantization params (cc @raghuramank100  to confirm in case I'm misreading the code).

https://arxiv.org/pdf/1806.08342.pdf section 2.4 might also be helpful

[2020-07-31 22:06] vkuzo commented on #36802
closing this since we fixed all of these for v1.6.  @semchan , could you please let us know if you are still hitting these issues after updating to v1.6?

[2020-07-31 22:06] #36802 closed

[2020-07-31 22:08] vkuzo commented on #32764
hi folks, we are working on improving quantization support for transformers and multihead_attention.  We don't have a timeline to share, but hopefully it should be months (not weeks / years).

[2020-07-31 22:29] estrulyov commented on #41865
[code]

This is consistent with what I've seen previously. We get optimal throughput right around 10 threads (though for real models the throughput improvement is significantly larger than this test shows). We see no improvement for quantized models.

We have torch==1.5.0 in requirements.txt, so it probably just installed the default build. Let me know if you need any more info.

[2020-07-31 22:35] gmagogsfm opened #42388 "Constant strings aren't captured in TorchScript function"
## 🐛 Bug

## To Reproduce

[code]
[code]

## Expected behavior

fn() should return constant string

cc @suo @gmagogsfm

[2020-07-31 22:44] suo commented on #42388
I think we should consider this a duplicate of #41288 (my comment there applies here as well)

[2020-07-31 22:45] suo commented on #42388
This issue description and repro is more accurate though (although this behavior applies to all python values, not just strings)

[2020-07-31 22:59] rohan-varma commented on #41485
It looks like we should be able to compile gloo with ibverbs support using `USE_IBVERBS=1` flag? Although, I currently get:

[code]

(because I haven't actually tried installing the ibverbs lib yet)

[2020-07-31 23:13] smpurkis opened #42391 "RuntimeError: Only tuples, lists and Variables supported as JIT inputs/outputs. Dictionaries and strings are also accepted but their usage is not recommended. But got unsupported type int"
I am receiving this error on pytorch model export to onnx:
RuntimeError: Only tuples, lists and Variables supported as JIT inputs/outputs. Dictionaries and strings are also accepted but their usage is not recommended. But got unsupported type int

The error says that tuples are supported but got unsupported type NoneType. I checked the type of the variable out and it is a tuple at the error `out_v

[2020-07-31 23:18] SplitInfinity commented on #41702
Closed by #42100.

[2020-07-31 23:18] #41702 closed

[2020-07-31 23:27] gmagogsfm commented on #41288
Thanks! I will try to improve the error message.

[2020-07-31 23:30] gmagogsfm commented on #42388
Closing as it is a dup of #41288

Moving the problem description there as well

[2020-07-31 23:30] gmagogsfm commented on #41288
## To Reproduce

[code]
[code]

[2020-07-31 23:34] weikunhan commented on #42331
@vfdev-5 Thanks for the information. I tried to use torch.manual_seed(seed) in PyTorch 1.5 and 1.6. It couldn't pass the test case. However, random.seed(seed) is working fine in PyTorch 1.5 but not work fine in 1.6.

Right now, I find a way to hack it. I use torch.manual_seed(5) and random.seed(5) same time. It can pass all test cases. I think it will help someone who has the same problem.

[2020-07-31 23:34] #42331 closed

[2020-07-31 23:59] yf225 commented on #42375
Note that this is blocking PyPer model's conversion to TorchScript - without this we might have to resort to writing sorting algorithm in Python (perf is bad), or writing a custom op for sorting list of string (which involves much more effort).

[2020-08-01 00:06] gmagogsfm commented on #42375
This seems like a quick fix, I will give it a try.

[2020-08-01 00:12] vfdev-5 commented on #42331
@weikunhan indeed, that's true that to completely fix random seed for all transformations with torchvision 0.7 we need to use both expressions:
- `random.seed(seed)`
- `torch.manual_seed(seed)`
This due to the fact that not all transformations are already unified.

[2020-08-01 00:13] yf225 commented on #42375
Thanks so much for your help @gmagogsfm!

[2020-08-01 00:22] AsakusaRinne commented on #42367
Your answer is simple and clear, thank you very much!

[2020-08-01 00:23] #42367 closed

[2020-08-01 01:58] calclavia commented on #40073
I'm running into a similar memory issue from a Pytorch 1.5 -> 1.6 upgrade, but haven't pinpointed a way to reproduce it in minimal code yet.

[2020-08-01 01:59] aayn commented on #42223
I'd be interested to work to the improvement after this too. For some reason, I'm having issues building PyTorch from source right now.

[2020-08-01 02:00] sniklaus commented on #42218
Is there a workaround that we could use until 1.6.1 is released? Would it make sense to have an if statement that checks if one of the two tensors is half precision but the other one not and then cast the other one to half precision?

[2020-08-01 02:52] Coderx7 commented on #41642
Hi @vkuzo, yes, for some reason the last bn (self.bn3) doesnt get quantized like all previpous ones. I however tried to solve this by doing a self.dequant prior to it as I showed in the previous post.

[2020-08-01 03:44] Coderx7 commented on #41640
@vkuzo Thanks a lot really appreciate your time and kind response.
Your QPReLU fails as well with this error message :
[code]

Also since I'm trying to use this in a pretrained model, and thus using the weights from the existing prelu, I thought lets cloning the weights, maybe this is the culprit! so I changed the PReLU_Quantized to this :
[code]
With this change, I get a different error message w

[2020-08-01 04:37] EthanZhangYi commented on #42224
@albanD @malfet
Solved by install a gcc5.4 locally.

[2020-08-01 04:37] #42224 closed

[2020-08-01 05:22] #42388 closed

[2020-08-01 05:31] mszhanyi commented on #42160
Linux has the same issue.

[2020-08-01 05:50] gmagogsfm commented on #41274
I think this is WAI, closing.

[2020-08-01 05:50] #41274 closed

[2020-08-01 06:01] snakers4 commented on #32764
Hi,

If this is any help, my I tested my above snippet in two scenarios:

- with quantization it works faster on CPU as expected
- the accuracy of the network stays more or less the same

[2020-08-01 06:06] Daniel-Kelvich commented on #42113
@vkuzo It's  `Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz`

[2020-08-01 06:17] gmagogsfm commented on #41288
Any suggestion on how to implement it? The only way I can think of is improving ResolutionCallBack function to tell caller whether an object is in globals() of frame/closure/env or not. But it seems a bit complicated.

[2020-08-01 06:50] Huanianss opened #42402 "Reading data speed slower than tensorflow"
I tried two version code for iterating MNIST data to compare the elapsed time.

Pytorch version
[code]
**Tensorflow 2.x version**
[code]

And the result are TF elapsed 2s and Pytorch elapsed 15s. So, why Pytorch is slower than Tensorflow in reading data?
Am I setting it wrong?
Thanks!

[2020-08-01 08:09] mruberry commented on #42370
Should this actually be a request for torchvision, since it implements nms? (https://pytorch.org/docs/stable/torchvision/ops.html?highlight=nms#torchvision.ops.nms)

[2020-08-01 08:12] mruberry commented on #42364
A snippet to reproduce this issue would be very helpful, @djordjemiladinovic. Without it I'm not sure we'll be able to make progress.

[2020-08-01 08:23] mruberry commented on #42350
Sorry to hear you're experiencing this issue, @CallHoganZhang. Do you have a short Python program that can reproduce this issue? Or does it only appear when loading with libtorch?

[2020-08-01 08:25] mruberry commented on #42349
This question is more appropriate for the PyTorch forums at https://discuss.pytorch.org/. These issues are intended for bug reports and feature requests.

[2020-08-01 08:25] #42349 closed

[2020-08-01 08:26] mruberry commented on #42347
This question is more appropriate for the PyTorch forums at https://discuss.pytorch.org/. These issues are intended for bug reports and feature requests.

[2020-08-01 08:26] #42347 closed

[2020-08-01 08:38] mruberry commented on #42363
I also see this issue is fixed on nightlies. Looks like you'll need to update. Sorry you hit this issue, @MrNeither, but good news that it's already been fixed.

[2020-08-01 09:05] CallHoganZhang commented on #42350
Thanks for your reply.Yes,I met this problem just in libtorch and occur in when running cuda model.

[2020-08-01 09:05] CallHoganZhang commented on #42350
Thanks for your reply.Yes,I met this problem just in libtorch and occur in when running cuda model.``

[2020-08-01 09:06] #40986 closed

[2020-08-01 09:17] CallHoganZhang commented on #42350
Thanks for your reply.Yes,I met this problem just in libtorch and occur in when running cuda model.
`import torch.nn as nn
import torch

class BidirectionalLSTM(nn.Module):
    # Inputs hidden units Out
    def __init__(self, nIn, nHidden, nOut):
        super(BidirectionalLSTM, self).__init__()

        self.rnn = nn.LSTM(nIn, nHidden, bidirectional=True)
        self.embedding = nn.Linear(nHidde

[2020-08-01 10:05] anujgupt-github commented on #42370
OK @mruberry . How do you propose I migrate the request to torchvision?

[2020-08-01 10:31] andylida opened #42404 "How to deploy a "LSTMcell" style attention by torch.onnx?"
I'm deploying a NMT network and I fail when I try to define attention module.
The first thing is that,when i put nn.LSTMcell in my init function,it would raise some errors which may caused by no inplementation in torch.onnx.

And when I want to replace it with nn.LSTM, i still get an error with torch.onnx:
[code]
Any help would be thankful!

cc @suo @gmagogsfm @houseroad @spandantiwari @lara-hdr @

[2020-08-01 12:30] GrimReaper420 commented on #40593
I'm getting the same exact issue on windows and I am compiling from master.  The commit above by xwang233 states "CUDA release >= 10.2 and not windows", is it safe to remove the `!defined(_MSC_VER)` from the if statement?

[2020-08-01 12:33] poedator opened #42405 "slow data loading in VisionDataset - need to allow batch loading."
## 🚀 Feature
VisionDataset  is slow in loading large batches. This happens because of data being loaded and transformed by single item in regular Python cycle.

## Motivation
I have a bit of frustration when seeing slower Pytorch code vs TF in data loading functions.

## Pitch
1) fix __getitem__() for VisionDataset so it allows loading and transforming batches at once
2) allow auto_collation = Tru

[2020-08-01 12:55] GrimReaper420 opened #42406 "Aten looking for function cusparseDcsrmm2 in cuda 11 header, windows"
## 🐛 Bug

An error occurs when building PyTorch from master regarding "undefined identifiers". It seems that "Aten looking for function cusparseDcsrmm2 in Cuda 11.0.1 header but this is no more" (#40593)

The issue above is the same issue as mine but the resolution failed (building from master). The code cited by @xwang233  (in the issue above, the code: https://github.com/pytorch/pytorch/blob/291

[2020-08-01 13:51] J-zin opened #42407 "torch.distributions.multinomial.Multinomial cannot be used in batch"
torch.distributions.multinomial.Multinomial(total_count=1, probs=None, logits=None, validate_args=None)

the total_count is must be int, but not tensor, so I can't use this function in a batch scenario.  It's quite inconvenient.
![image](https://user-images.githubusercontent.com/30493522/89102992-f7e1fe80-d440-11ea-971b-e111e3cb94c4.png)

[2020-08-01 15:09] dhirensr commented on #41652
@vkuzo : for static quantization there are many layers which are currently not supported and also cannot be fused with. for eg; LayerNorm and also few operations like division ,sin,cos etc are not yet supported. Hence I chose to dynamically quantize the network.

[2020-08-01 15:29] albanD commented on #4952
Note that we made a big progress towards this in https://github.com/pytorch/pytorch/pull/39400 and continuing it in https://github.com/pytorch/pytorch/pull/41490 and https://github.com/pytorch/pytorch/pull/41821.

[2020-08-01 15:48] HawkRong commented on #42077
After setting CUDA_LAUNCH_BLOCKING=1, the error report located the real issue which is caused by a .so file compiled from a problematic .cu file in the codebase I used.

[2020-08-01 15:53] HawkRong commented on #42077
However, why the former error reports constantly pointed to an irrelevant sentence without setting CUDA_LAUNCH_BLOCKING=1 is not understood with my limited knowledge.

[2020-08-01 15:53] #42077 closed

[2020-08-01 17:17] angelolovatto opened #42411 "Missing ops in scripted function"
## 🐛 Bug

Hi everyone,

I’ve come across some interesting behavior regarding TorchScript and index ops. The following two functions do the same job.

## To Reproduce

Steps to reproduce the behavior:

[code]

Outputs:
[code]

## Expected behavior

Upon inspection of the TorchScript code, one can see that in the latter the JIT compiler completely removes an assignment operator: data_sigma[data_sigm

[2020-08-01 17:41] gmagogsfm commented on #42361
Hi Yang,

Do you mind sharing your environment and steps to repro using the[ bug report template](https://github.com/pytorch/pytorch/issues/new?template=bug-report.md)? Thanks!

[2020-08-01 17:54] xwang233 commented on #42406
Thanks for the report. You can remove `!devined(_MSC_VER)` as a temporary fix on windows with cuda 11.

The reason of this restriction was that the generic API `cusparseSpMM` was not available on windows for cuda 10.2, so it was removed. https://docs.nvidia.com/cuda/archive/10.2/cusparse/index.html#cusparse-generic-function-ref

Now the latest document of cuda 11 doesn't have this limitation on wi

[2020-08-01 18:00] Shaul-Z commented on #11004
Same issue when building OpenCV 4.4.0 from source.
When I build "ALL_BUILD" and "INSTALL" projects using VS2019 Windows10 I got 2000 somthing warnings (only warnings no errors at all) saying:
"Warning: field of class type without a DLL interface used in a class with a DLL interface" and
"Warning: base class dllexport/dllimport specification differs from that of the derived class"
Pre install CUDA

[2020-08-01 18:01] SsnL commented on #42402
MNIST is entirely in memory so sometimes using `num_workers > 0` will slow things down.

[2020-08-01 18:01] xwang233 commented on #42406
@malfet @peterjc123 Do you know if we are going to have cuda 11 + windows CI soon?

[2020-08-01 19:02] ngimel commented on #42332
While nccl itself supports point to point communications, this functionality has not been added to pytorch yet. @mrshenli, @pritamdamania87 what are the plans here?
There are PRs to implement all2all functionality using nccl's p2p https://github.com/pytorch/pytorch/pulls?q=is%3Aopen+is%3Apr+author%3Asrinivas212+nccl, but as far as I can see they don't expose p2p directly.

[2020-08-01 19:03] ngimel commented on #4948
Closing, perf testing is done differently now.

[2020-08-01 19:03] #4948 closed

[2020-08-01 19:37] fatalfeel opened #42414 "diagonal() bug!"
int64_t scale		= 4; //1x4
	float	value 		= 0.5;

        Tensor	std_action 	= torch::full({scale}, value);
	Tensor	act_mat  	= torch::diag(std_action);

	IntArrayRef s00 		= act_mat.sizes();
	float*	   data_out00 	= (float*)act_mat.data_ptr();
	for(int i=0; i<4; i++)
	{
		std::cout << data_out00[i*4+0];
		std::cout << " ";
		std::cout << data_out00[i*4+1];
		std::cout << " ";
		std::cout << data_o

[2020-08-01 19:40] xkszltl opened #42415 "Undefined reference to fbgemm."
## 🐛 Bug

This is a build regression within last few days.
We got undefined reference `void fbgemm::CodeGenBase<unsigned char, signed char, int, int>::storeCRegs<asmjit::x86::Zmm, 64>(asmjit::x86::Emitter*, int, int, asmjit::x86::Gp, asmjit::x86::Gp, bool)`

<img width="1064" alt="image" src="https://user-images.githubusercontent.com/5203025/89109182-7a82b200-d471-11ea-90e8-66d0adb25120.png">

Sin

[2020-08-01 19:48] mahmoodn opened #42416 "Missing torch after some home modifications"
I had installed PyTorch from source and now since some home and other folders are changed on my system, I get this error:

[code]
However the following paths are set before that command

[code]

Is there any workaround for that without reinstalling torch again?

cc @malfet

[2020-08-01 20:03] poedator commented on #42405
Sorry, I meant `allow auto_collation = False in _MapDatasetFetcher` which allows `self.dataset[possibly_batched_index]`. but this creates issue with  `__getitem__`. I fixed the original post.

[2020-08-01 20:03] mkolod commented on #42265
For more context, here's an implementation of sgetri_gpu from MAGMA 2.5.3. This particular file is code-generated, so can't be found int he MAGMA source, but I'm copying from magma/src after a make build:

[code]

Indeed, it looks like cuSOLVER use is the best solution here.

Thanks @xwang233 for the PR!

@ptrblck @ngimel ^^

[2020-08-01 20:05] ParadoxRobotics commented on #38394
Does anyone know someone working on the Aten vol2col / col2vol ?

[2020-08-01 20:25] SsnL commented on #42405
You can also do that by batch_size=None.

On Sat, Aug 1, 2020 at 16:03 Poedator <notifications@github.com> wrote:

[2020-08-01 20:28] vishwakftw commented on #42265
At the outset, I raised this issue a long time back https://github.com/pytorch/pytorch/issues/13546.

Can you try benchmarking the implementations - I'm not sure how different the speeds are - although TensorFlow is as fast as LAPACK for this problem size, and IIRC, TensorFlow uses cuSolver.

Re: `ipiv`, yes, MAGMA expects storage on the CPU. If I remember correctly, for small matrices, MAGMA reso

[2020-08-01 21:19] boeddeker opened #42418 "einsum fails in THCudaBlas_DgemmStridedBatched only when running on GPU"
## 🐛 Bug

I called `torch.einsum` with manipulated strides. And got the error (Two errors, because I tested in different environments):
[code]

## To Reproduce
I did some memory optimizations for https://github.com/fgnt/nara_wpe/pull/47/files .
To keep it simple in this issue, I produced a toy example that also fails:

[code]

The stdout on one computer is:
[code]

and on another:

[code]

## Expe

[2020-08-01 22:25] mruberry commented on #42370
You could open an issue on the torchvision github: https://github.com/pytorch/vision/issues.

[2020-08-01 22:26] mruberry commented on #42350
I see, thank you for the update @CallHoganZhang! I've relabeled the issue so the right people can review it.

[2020-08-01 22:33] mruberry commented on #42418
Thank you for reporting this issue, @boeddeker! We would accept a patch fixing this.

[2020-08-01 22:35] mruberry commented on #42415
Did you update your submodules, clean, and then try building?

[2020-08-01 22:36] mruberry commented on #42416
Installing Torch again shouldn't take that long and is probably the simplest solution without knowing more about your setup.

[2020-08-01 22:41] mruberry commented on #42407
Thank you for the feature suggestion, @J-zin! I'll let our distributions experts comment on it.

[2020-08-01 23:09] mariosasko commented on #42407
Since the `distributions` package follows the design of the `tensorflow_probability` package and the latter supports `total_count` in the form of a number or a list of numbers (the list has to be broadcastable to match the outer dimensions of `probs/logits`, e.g. in Tensorflow `tfd.Multinomial(total_count=[30, 10, 20], probs=[[0.1, 0.9], [0.5, 0.5], [0.2, 0.8]])`, I think it makes sense to add sup

[2020-08-01 23:12] mruberry commented on #42407
@mariosasko It sounds good to me, @mariosasko! But let's have one of our area experts confirm.

[2020-08-01 23:28] xkszltl commented on #42415
It is a fresh clone, no reused repo.

[2020-08-01 23:29] xkszltl commented on #42415
I tried the commit before https://github.com/pytorch/pytorch/pull/42302, and that works.

[2020-08-02 00:06] wconstab commented on #41865
Ok, sorry to iterate but I'm still not sure if I'm able to repro the same scenario as you, and I need a stable repro before I go digging for a fix.  I reran on mac with torch==1.4,1.5,1.6, and I also used threads=1,2,4,8,16, with larger workloads.  I didn't see much variation across torch versions, and I did see improvement from multiple threads in all cases.  Scaling efficiency tends to drop for

[2020-08-02 00:57] mszhanyi commented on #36461
@theycallmefm, Is this issue still exist?

[2020-08-02 01:05] andylida commented on #42404
ok now I fixed it.
I change torch.stack to torch.concatenate belonging to while-loop.And here is my code.

[code]

I still find that whenever I try to manipulate a list(like return a list),there would raise some error and it asks me to report a bug.
So is that a bad idea to do so and it's better to use tensor as possible?

[2020-08-02 01:26] leockl commented on #9382
Hi @gchanan and @yf225,

Similar to what @ptrblck had mentioned, would be great to have `torch.chunk` match the behavior of that of `np.array_split`.

[code]
[code]
Output:
[code]
[code]
Output:
[code]
where `np.array_split` includes an empty array when the number of `indices_or_sections` specified is greater than the number of dimensions in the specified `axis`.

**This issue has been sitting her

[2020-08-02 02:12] peterjc123 commented on #42406
@xwang233 I'm working on it. I have already compiled magma for CUDA 11.

[2020-08-02 02:55] estrulyov commented on #41865
I modified your script to use a real model (distilbert-base-uncased). Here are the numbers I'm getting:

[code]

Make sure you run export OMP_NUM_THREADS=1 first.

[2020-08-02 02:56] estrulyov commented on #41865
`import torch
import torch.nn as nn
from concurrent.futures import ThreadPoolExecutor
import time
import argparse
from tabulate import tabulate
from transformers import DistilBertModel, DistilBertTokenizer

def run_model(tokenizer, model, txt):
    input_ids = torch.tensor(tokenizer.encode(txt, add_special_tokens=True)).unsqueeze(0)
    outputs = model(input_ids)
    return outputs

if __name__ ==

[2020-08-02 03:07] gmagogsfm commented on #17291
PR merged, closing.

[2020-08-02 03:07] #17291 closed

[2020-08-02 06:25] epignatelli opened #42422 "torch.split sometimes returns an unexpected number of elements when used in DistributedDataParallel"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
Bug is intermittent, and I have not ben able to isolate to root cause - I am opening this issue to ask about that.
When using `DistributedDataParallel`, `torch.split(torch.randn(16, 7, 3, 256, 256), 3, dim=1))` sometimes returns three tensors of shape: `(16, 3, 3, 256, 256)`, `(16, 3, 3, 256, 256)` and `(16, 1, 3, 256, 256)`.

## Expected

[2020-08-02 06:31] epignatelli commented on #42422
Apologies, I just check that this is actually the expected behaviour.

[2020-08-02 06:31] #42422 closed

[2020-08-02 08:14] ankitaggarwal23 commented on #42334
can I contribute in this issue

[2020-08-02 08:29] naveenggmu commented on #41534
@lamipaul Were you able to solve this issue? I am not able to fuse conv1d and batchnorm1d as well. Getting the same error.

[2020-08-02 09:22] peterjc123 commented on #42293
Doesn't seem to be a problem anymore.
See recent builds.
https://app.circleci.com/pipelines/github/pytorch/pytorch/195771/workflows/9306fc22-60c5-4df0-bb24-20dfde8febda
https://app.circleci.com/pipelines/github/pytorch/pytorch/195651/workflows/1edd947b-5904-4225-b619-38a92323d31e

[2020-08-02 09:22] #42293 closed

[2020-08-02 10:53] VinodSKumar opened #42424 "Model Parameters of MultiheadAttention is different in python and C++"
## MultiheadAttention model parameters are different in python and C++.
In C++, MultiheadAttention module's parameter is no set, its Linear sub-module's parameters can be retrieved C++.
In python parameters of the module and sub module can be retrieved.

The corresponding C++ code with output is as follows
[code]
C++ Output:

 Module name :torch::nn::MultiheadAttention
 Module name :torch::nn::Lin

[2020-08-02 11:00] VinodSKumar commented on #37756
@glaringlee could you please help to confirm this issue [42424](https://github.com/pytorch/pytorch/issues/42424). For TransformerDecoderLayer UT, we need to initialize the (sub)modules parameters.

[2020-08-02 13:50] drorpip commented on #30704
Hi,
Is the problem still exist?
I have pytorch 1.5.1

[2020-08-02 17:03] yf225 commented on #9382
@mruberry Curious would this be part of the numpy compat work? Thanks Mike!

[2020-08-02 17:52] Mon-ius opened #42426 "support torch.fft without MKL support, cannot compute on ppcle arch in cpu mode"
I am working on the IBM POWER9 Series cluster. When compute the fft with torch. I have to transfer it to GPU and then transfer back to CPU. It's real bad experience espcially when realted code called on Dataloader. Then I have to disable the multi-worker to prevent the error.

[code]

[2020-08-02 19:34] concretevitamin commented on #42327
This is a serious issue preventing us from upgrading to 1.6.  Working around ParameterList (e.g., assign directly as attributes) is non-ideal as it breaks loading prior checkpoints.  Adding glue code to load prior checkpoints would work, but it's something I don't expect from a stable release.

Also related to issue #36035.

[2020-08-02 19:35] concretevitamin commented on #36035
This is a serious issue preventing us from upgrading to 1.6. Working around ParameterList (e.g., assign directly as attributes) is non-ideal as it breaks loading prior checkpoints. Adding glue code to load prior checkpoints would work, but it's something I don't expect from a stable release.

Also related to issue #42327.

[2020-08-02 19:48] fatalfeel opened #42427 "./scripts/build_android.sh need support nn::module nn::Functional nn::Linear"
hope build_android can support nn::module nn::Functional nn::Linear

want to train in android app

[2020-08-02 19:55] fatalfeel commented on #42414
i trace into bottom
result  = as_strided      return error number

[2020-08-02 20:01] ezyang commented on #41661
raising priority based on activity

[2020-08-02 20:25] AhmadM-DL opened #42428 "KeyError: xxxxxxxxxx when calling optimizer.state_dict()"
## 🐛 Bug

When calling optimizer.state_dict() it raises a KeyError:

[code]

## To Reproduce

It is not straightforward to reproduce the error as it doesn't happen in all environments.
It runs normally locally but it raises an error on colab or cloud.

I am training a deep convolution model unsupervised-ly based on [deepcluster ](https://github.com/facebookresearch/deepcluster) pipeline. The appro

[2020-08-02 20:27] AhmadM-DL commented on #42428
It seems that the problem resides in the following part of `optimizer.state_dict()` method:
`param_mappings[id(k)]`. The id of a certain parameter in the `optimizer.state` doesn’t exist in `param_mappings`.

Do you have any thoughs?

I believe that the problem resides in the fact that I am removing `param_groups` as following:
`del optimizer.param_groups[1]`

This is removing the second param grou

[2020-08-02 20:55] xkszltl opened #42429 "min/max refuse to work on non-zero dimension of empty tensors"
## 🐛 Bug

min/max refuse to work on non-zero dimension of empty tensor.
My understanding is the "op does not have identity" issue should only apply to zero dimension.

## To Reproduce

[code]

## Expected behavior

Empty tensor with proper size for non-zero dimensions.

## Environment

[code]

 - PyTorch Version (e.g., 1.0): master (1.7.0a0+72378e9)
 - OS (e.g., Linux): Ubuntu 18.04
 - How you ins

[2020-08-02 22:27] acxz opened #42430 "[ROCm] [Build Error] [caffe2] `cuda.h/cuda_runtime.h` file not found"
## 🐛 Bug

When compiling pytorch with ROCm, pytorch fails when trying to compiling caffe2 related code. Even with `BUILD_CAFFE2_OPS=0`

[code]

## To Reproduce

Steps to reproduce the behavior:
High level:
1. git clone
2. python tools/amd_build/build_amd.py
2. python setup.py build

Technically I am using the following PKGBUILD script [here](https://github.com/rocm-arch/python-pytorch-rocm/blob/ma

[2020-08-02 23:48] z-a-f commented on #42415
I have the same issue: https://gist.github.com/z-a-f/41ea79225bff7f6fde96832ea96d9984

[2020-08-03 01:01] aoyulong commented on #18300
Hi, I have the same problem and also want to use broadcast to do send/recv. Is there any way to make sure the communicators to be initialized in order in the main thread before launch the other helper thread? @deepakn94 @pietern

[2020-08-03 02:07] leockl commented on #41688
Thanks @vishwakftw.

From my other post [here](https://github.com/pytorch/pytorch/issues/9382), I understand there is a numpy compatibility work being done by @mruberry.

Would it be possible to put this up for consideration in the numpy compatibility work too?

[2020-08-03 02:09] ngimel commented on #42429
Duplicate of #34907, closing.

[2020-08-03 02:09] #42429 closed

[2020-08-03 02:10] ngimel commented on #34907
Bumping priority based on user activity, we should review if #38238 fixes it.

[2020-08-03 02:23] ngimel commented on #42414
This is not a bug, `diagonal` returns a view into the source matrix, so you should not print consecutive elements of the result and expect them to be diagonal elements. If you want a copy of diagonal elements rather than a view into source matrix, use `diag`.

[2020-08-03 02:23] #42414 closed

[2020-08-03 02:50] Codingrunningman opened #42433 "Why is CPU utilization so low when using OpenBLAS as BLAS?"
### Why is CPU utilization so low when using OpenBLAS as BLAS?
I compile the source code(version:v1.4.1) on ARMv8 machine(aarch64). MKL do not support ARM, so I choose the OpenBLAS as the BLAS.
And when I installed it successfully, I found it has a low CPU utilization.Does the architecture or the source code cause this?

### configuration
[code]
machine
[code]
compile message
[compile message](htt

[2020-08-03 02:58] glaringlee commented on #42424
@VinodSKumar
Yep, I found this as well. I think I fixed it and the code is merged already. Can you try using latest master branch and let me know if this still the problem?

[2020-08-03 03:04] zy885137 commented on #42361
Hello there,
1. I use cocoaPods to reference pytorch 1.5.0 to run my demo, and it works normally.
2. I added the .a library and header files of pytorch1.5.0 in the pod to the static library, and then called the static library.
3. After calling torch::jit::load(filePath.UTF8String); received an error: PyTorch is not linked with support for cpu devices.
4. macOS:10.15.6 XCode:11.6.

[code]

[2020-08-03 03:56] oke-aditya opened #42435 "Cannot Import SWA Utils"
## 🐛 Bug

Unable to import `swa_utils`.

PyTorch: - Version 1.6
OS: - Windows and Linux
Tested on CUDA as well as CPU only installation

This import failed on all.

### To reproduce

Simply run

[code]

### Possible Fix

The problem may be in the init file [here](https://github.com/pytorch/pytorch/blob/master/torch/optim/__init__.py)
`swa_utils` is not imported.

Adding line from `.swa_utils impor

[2020-08-03 04:03] fatalfeel commented on #42414
not agree!
because need diagonal() in to another Tensor and data is wrong!
when i use in python it correct

[2020-08-03 04:51] ngimel commented on #42371
This is because of how `mm` derivative is defined https://github.com/pytorch/pytorch/blob/bfa94487b968ccb570ef8cd9547029b967e76ed0/tools/autograd/derivatives.yaml#L700 - it references `self` tensor instead of just its sizes and strides. It should not be necessary - the backward function uses only sizes, strides and is_sparse from `self` argument, so that's what backward formula should be capturing

[2020-08-03 04:56] ngimel commented on #42414
You are not printing elements of the tensor, you are printing elements of the underlying memory storage ignoring strides information of the tensor. Try `std::cout << act_mat` and you'll see that actual tensor elements are right.

[2020-08-03 04:59] mruberry commented on #41688
@leockl yes! You can request torch.linalg.eigh, analogous to NumPy's numpy.linalg.eigh, on this rollup issue for now: https://github.com/pytorch/pytorch/issues/38349.

[2020-08-03 05:02] mruberry commented on #9382
Definitely a candidate @yf225, but I have to review further.

[2020-08-03 05:20] aayn commented on #42223
@mruberry What's the best/recommended way to do reduction along a particular `dim` within PyTorch? This is so that I can packbits along that dimension.

[2020-08-03 05:37] t-vi commented on #42430
So I don't run into this, even though I also have the include statement.
Two things that come to mind, even though I don't know if that's the root cause:
1. My ROCm (from AMDs debs) comes with an empty (well, one lf char) cuda.h somewhere (but I don't know if its in the search path):
[code]
2. I actually do have `cuda.h` installed in `/usr/include/cuda.h`, though it would be bad if we relied on th

[2020-08-03 05:50] bhosmer commented on #42378
@zou3519 #42432 should fix this. Will land as soon as I can get @smessmer to eyeball it 😁

[2020-08-03 06:12] mruberry commented on #42223
TensorIterator has code to make generic reductions, but packbits is not really a reduction, like sum, since it does not involve all the values in an axis but rather 8 element segments of that access.

For example,

[code]

Here the array is 2D 10x2 (10 rows and 2 columns). If we packbits along axis 0 we get:

[code]

Which is a 2x2 matrix. If we had taken the sum of a, however, we'd get:

[code]

[2020-08-03 06:14] xifanlover opened #42439 "How to use libtorch on Jetson TX2"
Refer to https://forums.developer.nvidia.com/t/pytorch-for-jetson-nano-version-1-5-0-now-available/72048，I successfully installed Pytorch 1.0.0 and torchvision0.2.2 on jetpack4.3.According to the authentication method, I also succeeded in authentication: python–>import torch…
However,I want to call a scriptModel by libtorch on a QT project.but meet the error:
error:undefined reference to ‘nvrtcGet

[2020-08-03 07:24] MrNeither commented on #42363
@mruberry @kshitij12345  I updated the pytorch version. I still have a problem. I installed the latest version initially (1.6.0), and then using the command
[code]
However the behavior of the cummax method is still erroneous.

And how can I install a version of 1.7.0? Sorry if the question is stupid, I'm pretty bad at installing packages

[2020-08-03 07:34] FlyingFishBird commented on #18101
mark

[2020-08-03 07:46] vadimkantorov commented on #42223
Fast "shift and reduce" draft implementations are available in https://github.com/pytorch/pytorch/issues/32867#issuecomment-662619393 However, they only work for padded tensors. Given that this is about perf optimizations in the end, it would be nice to avoid copies...

[2020-08-03 08:04] codender commented on #42292
occurs this error too~~~

[2020-08-03 08:10] abitrolly commented on #37459
* [ ] https://pytorch.org/tutorials/intermediate/rpc_tutorial.html

What else?

[2020-08-03 08:43] miranov25 commented on #29209
Hello @albanD

My collaborators implemented requested functionality in our RootInteractive repository.
See source code, test and PyTorch/numpy benchmark in:
https://github.com/miranov25/RootInteractive/tree/master/RootInteractive/Tools/Histograms
and presentation in:
https://docs.google.com/presentation/d/1vYPTTsn5Zs7X9OWaewUTlnw9hqJ3XKJNGKiAViHv-cY

In case of interest we will be happy to make a

[2020-08-03 08:51] balachandarganesan opened #42440 "[feature request].Time Series Algorithms"
Want to develop Time series algorithms Holt Winter under pyTorch.

[2020-08-03 09:20] WestbrookZero opened #42441 "ImportError: numpy.core.multiarray failed to import"
My environment is Win10 , Pytorch:1.15.1、Torchvision:0.6.1、numpy：1.19.1 , when i change Torchvision to 0.2.2. Post 3 , hiddenimports=['numpy.core.dtype_ctypes'] and change numpy to 1.18.5 or 1.16.4 or 1.15.0 still have this error :

[code]

cc @mruberry @rgommers @peterjc123 @maxluk @nbcsm @guyang3532 @gunandrose4u @smartcat2010 @mszhanyi

[2020-08-03 09:29] ak-source commented on #42411
```data_sigma[data_sigma < 1e-12]```
this creates a new tensor (there is no masked array concept in pytorch), so fill_ result is never used

[2020-08-03 09:47] artintel2017 opened #42444 "torch.random.randperm stuck in multiprocess"
## 🐛 Bug

torch.random.randperm() will hung in multiprocess running, (which results in DataLoader hung as well)
I managed to reproduce it in a few lines of code

## To Reproduce

 just run the sample code below:

`import multiprocessing as mp
import torch

if __name__ == '__main__':
    length = 2**15+1 # with 2**15 or less, it will be OK
    print("========== randperm in main process ==========")

[2020-08-03 10:08] zy885137 commented on #42361
Before this error, I also encountered an error: Catalina C++: Using <cmath> headers yield error: no member named'signbit' in the global namespace.
I found: Error in C++ system classes cmath and math.h

So my temporary solution is:
1. In the cmath file #include<math.h> is changed to an absolute path #include</Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/include/

[2020-08-03 10:09] CescMessi commented on #42444
In fact, the problem exists in most tensor operation functions, and there is also a limit of 2**15. Replace `torch.randperm(length)` with other functions will produce the same situation. I have tried the following functions and it can be reproduced.

[code]

[2020-08-03 10:12] mruberry commented on #42363
Hm, that's odd. I always build from source so wouldn't be the best person to ask.

[code]

Should be the correct commands. When you launch PyTorch, can you check the version and see if you still get this behavior? You're using CUDA 10.2, right?

[2020-08-03 10:12] cvJie opened #42445 "how to run SVM/Random forest/xgboost on the pytorch?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2020-08-03 10:14] theycallmefm commented on #36461
@ezyang I'm sorry for my late response. Yes it failed on nightly build and code works on 1.4 . I was trying to use nightly build since it had better indexing options. The main problem was, sometimes tensor values are changing after I use my saved module's functions.

@mszhanyi  I switched to 1.4 and I don't have any problem right now. Currently I don't have nightly build in my computer so I am not

[2020-08-03 10:22] MrNeither commented on #42363
[code]

Output
[code]

I executed the same command as You. I have version 1.6.0 and I don't know if 'nighly'should be displayed somehow
Yes, I'm use CUDA 10.2.

[2020-08-03 10:22] kan-bayashi opened #42446 "Group conv with a large kernel_size causes `RuntimeError: label is redefined`"
## 🐛 Bug

In pytorch 1.6, group conv with a large kernel_size causes `RuntimeError: label is redefined`.
Pytorch 1.0.1 - 1.5.1 works without any errors.

## To Reproduce

[code]

This causes the following error:
[code]

## Expected behavior

We can call `backward()` without the error.

## Environment

PyTorch version: 1.6.0+cpu
Is debug build: No
CUDA used to build PyTorch: Could not collect

OS:

[2020-08-03 10:29] angelolovatto commented on #42411
Indeed, I overlooked that fact. Here's the new example, which produces the expected output.

[code]

Output
[code]

Thank you so much for your help. I think it's safe to close this issue now.

[2020-08-03 10:36] tmassingham-ont opened #42447 "OneCycleLR argument `pct_start` used as a proportion not percentage"
## 📚 Documentation

The documentation for the `OneCycleLR` learning rate schedule refers to the argument `pct_start` as being a percentage [0,100], whereas it actually used as a proportion [0,1] in the code.

compared to the implementation in `torch.optim.lr_scheduler.OneCycleLR`
[code]

[2020-08-03 10:38] MrNeither commented on #42363
I figured out how to install the night version.I deleted the normal version, and then use the command above.
But the problem persists
[code]

[2020-08-03 10:41] mruberry commented on #42363
Interesting. Reopening this issue until we get to the bottom of this discrepancy.

[2020-08-03 10:49] VinodSKumar commented on #42424
@glaringlee Thanks for the fix. we are able to access the parameters in c++.

Below is the logs from latest

Module name :torch::nn::MultiheadAttention
in_proj_weight: 0.2995  0.5297 -0.4092 -0.3857
-0.5304  0.2763  0.1851 -0.2845
-0.5156 -0.2275  0.4313 -0.5464
 0.3775 -0.5362 -0.5905 -0.1312
-0.3380  0.1951 -0.5954  0.6012
-0.1113  0.5641 -0.1052  0.1242
 0.2003 -0.4684 -0.4139 -0.3167
-0.3513 -

[2020-08-03 10:50] Godricly opened #42448 "torch.jit.is_tracing returns returns a object"
## 🐛 Bug

[code]

## To Reproduce

Steps to reproduce the behavior:

1. run the demo code.

[code]
## Expected behavior
[code]
## Environment
[code]

cc @suo @gmagogsfm

[2020-08-03 10:53] Godricly commented on #33437
This demo still bugs in recent 1.6.0 release.

[2020-08-03 10:58] bastianalt opened #42449 "Wrong documentation of torch.distributions.negative_binomial"
## 📚 Documentation
Strange behavior in torch.distributions.negative_binomial:
https://pytorch.org/docs/stable/distributions.html#negativebinomial

When trying out the negative binomial distribution I found that the second input parameter prob (success probability) is actually the failure probability --> not consistent with documentation. This is also not consistent with other software such as scip

[2020-08-03 10:58] artintel2017 commented on #42444
@CescMessi

yeah, I figure it out. "torch.zeros" reproduce the bug too.

[2020-08-03 11:10] SSS135 commented on #38645
Bug is still present in PyTorch 1.6.0

[2020-08-03 11:10] GrimReaper420 commented on #42406
Thanks for the response . I'm recompiling the code.

[2020-08-03 11:35] mahmoodn commented on #42416
Yes. I did that. Thanks.

[2020-08-03 11:35] #42416 closed

[2020-08-03 11:39] mahmoodn opened #42450 "libtorch_python.so: undefined symbol: _Py_ZeroStruct"
Hi
Is there any idea about this error?
[code]
I didn't have such a problem. I also tried to reinstall pythorch via `python3 setup.py install --user`. I don't see any problem with this output:
[code]
Any note on that?

cc @ezyang @seemethere @malfet

[2020-08-03 12:19] MrNeither commented on #42363
I found that torch.cummin works correctly on my example
[code]

Output:
[code]

[2020-08-03 12:20] acxz commented on #42430
Ah thanks for commenting on that. Yeah ROCm does provide a `cuda.h`. I have it in the same location as well on Arch Linux. hmm we need to analyze what files are being linked/included when building caffe2, do you know which files these would be? The problem is that `cuda.h` is just not in the include path.

Would you be willing to try to reproduce the error by removing your `/usr/include/cuda.h` fi

[2020-08-03 12:40] amritkumar9595 commented on #34470
i am running into this error, every time I am trying to resume my training from the checkpoint. How did u solve this issue?

[2020-08-03 12:41] fatalfeel commented on #42414
thanks pretty will try~~~

[2020-08-03 12:44] raimis commented on #31565
We are hitting the same context problem (https://github.com/openmm/openmm-torch/issues/13), while trying to integrate PyTorch with OpenMM (https://github.com/openmm/openmm).

Would it be difficult to modify `torch::jit::load` to reuse an existing context? Or has somebody found a workaround?

[2020-08-03 12:45] acxz commented on #42430
So the CI is using caffe2 from a docker with sccache? Not really sure how this is working, but it seems like pytorch might not even be building caffe2 but just getting it from somewhere else. I could try to replicate that part of the CI on my local script and see what happens.

https://github.com/pytorch/pytorch/blob/master/.jenkins/pytorch/build.sh#L134

[2020-08-03 13:05] avloss opened #42452 "`device-side assert triggered` - when probability > 1.0"
## 🐛 Bug

When using CUDA, getting non-descriptive runtime error, which makes any future calls to CUDA fail, and requires runtime restart. When not using CUDA, error is nice and descriptive, and doesn't break the runtime.
## To Reproduce

Steps to reproduce the behavior:

[code]
This results in:
[code]
Any subsequent calls to CUDA (even with valid instructions), result in:
[code]

## Expected beha

[2020-08-03 13:25] fatalfeel commented on #42414
try fail

action = torch::stack(vec_act).reshape({1,-1});
	IntArrayRef s01 		= action.sizes();
	double*		data_out01 	= (double*)action.data_ptr();
	for(int i=0; i<4; i++)
	{
		std::cout << data_out01[i*4+0];
		std::cout << " ";
		std::cout << data_out01[i*4+1];
		std::cout << " ";
		std::cout << data_out01[i*4+2];
		std::cout << " ";
		std::cout << data_out01[i*4+3];
		std::cout << std::endl;
	}

[2020-08-03 13:29] Lmy0217 opened #42455 "fatal error: tensorpipe/tensorpipe.h: No such file or directory"
## 🐛 Bug

build master failed
[code]

cc @malfet @osalpekar @jiayisuse @lw @beauby @pritamdamania87 @mrshenli @jjlilley @gqchen @rohan-varma

[2020-08-03 14:00] gchanan commented on #42314
Please post questions to https://discuss.pytorch.org/, we use this for bug and feature requests.

[2020-08-03 14:00] #42314 closed

[2020-08-03 14:48] kimishpatel commented on #42039
The issue stems from freeze_module pass. This PR fixes that: https://github.com/pytorch/pytorch/pull/42457

[2020-08-03 14:53] zou3519 commented on #42378
Thank you @bhosmer for the quick fix!

[2020-08-03 14:54] peterbell10 commented on #24701
I think this was reopened because of a reverted PR https://github.com/pytorch/pytorch/pull/24405#issuecomment-607460590. However, that only reverted the CUDA implementation so closing.

[2020-08-03 14:54] #24701 closed

[2020-08-03 15:16] malfet commented on #42415
Can you please share a full build log that leads to the failure? Symbol in question should be  defined in `GenerateKernelU8S8S32ACC32.cc`, as following command shows:
[code]
And mangled version of the same symbol is: `_ZN6fbgemm11CodeGenBaseIhaiiE10storeCRegsIN6asmjit3x863ZmmELi64EEEvPNS4_7EmitterEiiNS4_2GpES8_b`

[2020-08-03 15:31] mszhanyi commented on #39723
No user inputs for 2 months. close it
@munavircp If you still have this issue, feel free to reopen it.

[2020-08-03 15:31] #39723 closed

[2020-08-03 15:32] zou3519 commented on #42053
If there is any debate or design decision over how aliases should work, here is a data point and an opinion. From a Tensor extension point of view, it is nicer for aliases to not be defined as operators.

A tensor extension generally has to override all operators (or most operators). Adding aliases into native functions (like how absolute is implemented) increases the surface area for tensor exten

[2020-08-03 15:34] fritzo commented on #42407
@J-zin How do you intend to use `torch.distributions.Multinomial`?

- If you intend to draw a batch of samples via `.sample()`, then this feature request is blocked by limitations of the underlying [torch.multinomial()](https://pytorch.org/docs/master/generated/torch.multinomial.html) which requires integer total count. Please open a corresponding issue.
- If you intend to score a batch of samples

[2020-08-03 15:39] gchanan commented on #42364
I don't think we actually need a snippet to reproduce the adamax failure; what's going on is pretty clear.

Here's the line in question:
https://github.com/pytorch/pytorch/blob/4cdbe5c4952ee6b7be24ff15b1d45d0fb593b13f/torch/optim/adamax.py#L83

`exp_inf.new().long()` will create a contiguous tensor, but there's no guarantee that `exp_inf` is contiguous: https://github.com/pytorch/pytorch/blob/4cdb

[2020-08-03 15:40] angelolovatto opened #42459 "[JIT] Runtime error when backpropagating through input gradient"
## 🐛 Bug

## To Reproduce

[code]

## Expected behavior

All tests should pass without fail, however the second, 6th, and 8th ones raise a `RuntimeError` when executing `ograd.mean().backward()`

Example output when running `test_ograd(
    torch.jit.script(Combiner(obs_dim, act_dim)),
    obs, act
)`
[code]

It seems that modules that **concatenate** inputs at some point in the forward pass are p

[2020-08-03 15:40] mrshenli commented on #18300
Hey @aoyulong, NCCL in general is not thread safe: https://docs.nvidia.com/deeplearning/nccl/user-guide/docs/usage/threadsafety.html

We were also told that using multiple NCCL communicators per device could also result in NCCL hang.

In your application, is it possible to do all NCCL broadcast in one thread?

[2020-08-03 15:41] jeffdaily commented on #42430
I'm trying to reproduce.

Concerning sccache, ROCm builds do support it, and there are recent efforts to improve it.
- https://github.com/pytorch/pytorch/commit/79cdd84c81e8915b7ce0593a16f2ece305ec9641
- https://github.com/pytorch/pytorch/commit/2bc7dae2fc7ac09bb003973fdcfb76899a59b157

[2020-08-03 15:41] gchanan commented on #42364
Probably: https://github.com/pytorch/pytorch/pull/39029

[2020-08-03 15:47] mrshenli commented on #37459
Hey @abitrolly, thanks to suggestions.

The [parameter server](https://pytorch.org/tutorials/intermediate/rpc_param_server_tutorial.html) is also not using the new RRef helper API.

Thinking about this again, I am not sure if it is still necessary to make all RPC tutorials to use RRef helpers. Because:

1. RRef helpers are already demonstrated in [dist pipeline tutorial](https://pytorch.org/tutori

[2020-08-03 15:49] zshn25 opened #42460 "Training with AMP gives overflow warning"
## 🐛 Bug

WARNING:root:NaN or Inf found in input tensor while using AMP but no such warning without AMP

AMP gives the following warning

[code]

[2020-08-03 15:56] gchanan commented on #42376
@vincentqb can you take a look?

[2020-08-03 15:57] gchanan commented on #42374
this isn't a crash.

[2020-08-03 15:59] vkuzo opened #42462 "ASAN failure on module freezing"
## 🐛 Bug

ASAN failures on master when calling module freezing on optimize_for_mobile on a module which has a child module.

For context, this is blocking full testing of https://github.com/pytorch/pytorch/pull/42041

## To Reproduce

1. patch this PR (https://github.com/pytorch/pytorch/pull/42461)
2. build with ASAN and run the test case, it will fail:

[code]

## Expected behavior

no ASAN failu

[2020-08-03 16:00] z-a-f commented on #42415
This is the full log: https://gist.github.com/z-a-f/41ea79225bff7f6fde96832ea96d9984

[2020-08-03 16:01] z-a-f commented on #42415
Also, the third_party/fbgemm/CMakeFiles/ is not generated. Maybe the error thrown before it is?

[2020-08-03 16:10] vkuzo commented on #41640
This means that you are passing a quantized tensor to a `quantize_per_tensor` function.  To fix this, you would need to place `torch.quantization.QuantStub / torch.quantization.DeQuantStub` each time you want to to from floating point to quantized / back to floating point.  You would need to modify my example, as that assumes the tensor coming in is in floating point and quantizes it.

[2020-08-03 16:17] ngimel commented on #42414
I don't know what exactly is wrong with your code, for one, you are reshaping `action` to be a 1xn tensor. The following example works:
[code]
and produces
[code]
As I've said, `diagonal` creates a view of original tensor, `diag` produces a new tensor, so use whichever suits your needs better.

[2020-08-03 16:20] mrshenli commented on #36035
This seems to be another error instances caused by the changes we made in #33907?

If the goal is to access parameters in replicated models, it will no longer work after #33907. I temporary work-around is to access them from `_former_parameters` as we did in DDP.

@ngimel do we have a long-term solution for this? This error seems to emerge quite frequently.

[2020-08-03 16:23] abitrolly commented on #37459
I am not sure the RPC tutorials help me. My story is that right now I've spent a day training 40/150 epoch of https://github.com/NeuroSYS-pl/objects_counting_dmap and it is still 110 epoch or 3 days to go on my CPU notebook. At the same time people proposed me access to more powerful hardware, but I don't feel like the experience of repeating everything I did locally over SSH. I'd rather give them

[2020-08-03 16:24] vkuzo commented on #41642
looks like this is happening because you have a `BatchNorm1d`, and eager mode quantization of that is not supported yet (see here: https://github.com/pytorch/pytorch/blob/master/torch/quantization/default_mappings.py#L23).

As a workaround, you could use `BatchNorm2d` and squeeze/unsqueeze the dims as needed.

[code]

[2020-08-03 16:25] zou3519 commented on #16322
Related: `torch.split_with_sizes` should not be bound; it is used as an implementation detail of `torch.split` and `torch.chunk`

[2020-08-03 16:26] vkuzo commented on #42351
@supriyar , would you know if this is already planned?

[2020-08-03 16:31] vfdev-5 commented on #36035
@mrshenli in this PR : https://github.com/pytorch/pytorch/pull/40589 I tried to propose a fix for this issue with DP and ParameterList/Dict. Could you please take a look and give a feedback ? Thanks

[2020-08-03 16:35] xta0 commented on #42304
Hi @zy885137. Do you mind sharing your steps so that I can repro?

[2020-08-03 16:44] maxmx911 commented on #40027
Hi @IvanKobzarev,

Previously I have not tried running the project on a real device, I just found out if I run the project on a real device (I tried with Oppo CPH1729, arm64-v8a and Asus_X00TD, arm64-v8a), the results would be consistent and accurate (on both pytorch 1.5 and 1.6).

However, below is the result i got when running the project on x86 emulator (Nexus 5X API 29 x86).
I was tracing the

[2020-08-03 16:45] vkuzo commented on #42312
hi @Smthri , you can use the `reduce_range` flag in observers to fix this issue, this is happening because without this flag some values  can overflow in the `fbgemm` backend.  For example, `MinMaxObserver.with_args(reduce_range=True)`.

Keeping this issue open until we either throw a warning or explain this better in the quantization docs.

[2020-08-03 16:47] spandantiwari commented on #42404
@andylida - it is definitely better to use Tensor as much as possible. For loop there are still some scenarios (such as inplace mutation of lists that are not fully supported in ONNX export.

Thanks for working this out. Feel free to reopen this issue if there's any reason.

[2020-08-03 16:47] #42404 closed

[2020-08-03 16:51] vkuzo commented on #41652
makes sense.  In dynamic quantization, only the weight observer is used, so modifying activation observers is likely not going to make a difference.

[2020-08-03 16:52] agolynski commented on #42433
Cross referencing https://discuss.pytorch.org/t/the-difference-between-openblas-and-mkl/91321

Seems like openblas uses one thread here? How did you install openblas, did you enable openmp when installing it, e.g. https://github.com/xianyi/OpenBLAS/issues/1591.

[2020-08-03 16:52] husthyc commented on #42361
Could you clarify your #1 and #2 please? Did you do them separately? or you did #2 on the basis of #1?

[2020-08-03 16:55] ngimel commented on #36035
@mrshenli not really. In case of ParameterList/ParameterDict #33907 exposed a deficiency in ParameterList/ParameterDict design that already made them incompatible with reparameterization, see e.g. the following example where ParameterList fails without any data_parallel replication:
[code]
Note that while one should not access `parameters()` in the forward pass (and this is the only thing that #33

[2020-08-03 17:02] gchanan commented on #42364
confirmed it is in fact #39029 that broke this.

[2020-08-03 17:04] supriyar commented on #42415
+1, seeing the same error.

[2020-08-03 17:05] mruberry commented on #42374
This is fixed on the latest master.

[2020-08-03 17:05] #42374 closed

[2020-08-03 17:05] ezyang commented on #42415
@dskhudia

[2020-08-03 17:06] malfet commented on #42281
Grabbing for myself

[2020-08-03 17:07] dskhudia commented on #42415
I am taking a look at it.

[2020-08-03 17:09] gchanan commented on #42371
probably the codegen isn't smart enough to save is_sparse, so we'd have to implement that.

[2020-08-03 17:10] fatalfeel commented on #42414
Thank you Pretty.........will check again what's happen!!!
you give a good idea to check!
thank u
thank u

[2020-08-03 17:11] malfet commented on #42160
@wconstab since the failure is not windows specific, can you please consider it for JIT Triage?

[2020-08-03 17:11] agolynski commented on #42439
Would this be a problem with jetson distribution, if so, maybe ping their forum?

[2020-08-03 17:12] ezyang commented on #42271
Note that we don't support CUDA on OS X anymore (because NVIDIA doesn't support it). If there is a simple patch that fixes this one, we'll take it, but re @albanD I don't count this as high priority.

[2020-08-03 17:14] malfet commented on #42426
Is a duplicate of https://github.com/pytorch/pytorch/issues/41592, isn't it?

[2020-08-03 17:16] supriyar commented on #42351
We had this as a P2 item last half in the operator support. But I don't think it is planned for this half so far.

[2020-08-03 17:16] ezyang commented on #42372
https://app.circleci.com/jobs/github/pytorch/pytorch/6472161 Looks fixed

[2020-08-03 17:16] #42372 closed

[2020-08-03 17:16] agolynski commented on #42441
Could you give an example repro?

[2020-08-03 17:17] agolynski commented on #42445
Could you post this on discussion forum?

[2020-08-03 17:17] #42445 closed

[2020-08-03 17:25] ezyang commented on #42188
I support the `requires_grad=False` API idea, it seems pretty nice and explicit

[2020-08-03 17:25] ezyang commented on #42426
closing as dupe

[2020-08-03 17:25] #42426 closed

[2020-08-03 17:26] mruberry commented on #42213
cc @vincentqb

[2020-08-03 17:28] ezyang commented on #42163
We didn't think this should be labeled high priority, but this does seem like a desirable property to have, and if we can come up with a good way of enforcing it, let's do it.

[2020-08-03 17:28] agolynski commented on #42446
Seems like the error is coming from mkl dnn lib. just make sure: you are using mkl dnn in your installation?

[2020-08-03 17:31] gchanan commented on #41661
@SteffenCzolbe can you post the envirnoment information (see above example, which is on master).

[2020-08-03 17:33] mruberry commented on #42371
Triage review believes this may be happening in more places, too.

[2020-08-03 17:33] fritzo commented on #42449
@jamestwebber do you have an opinion on the `NegativeBinomial` interface?

[2020-08-03 17:41] malfet commented on #42415
This most likely should fix the issue:
[code]

[2020-08-03 17:48] abitrolly opened #42466 "torchfetch - detect hardware capabilities for PyTorch install"
## 🚀 Feature

Provide small script that detects hardware system capabilities for running PyTorch and/or different types of payloads.

## Motivation

I'm always frustrated when I don't understand if I have sufficient hardware for certain tasks (distributed computing, virtualisation), and what the performance of my hardware would be. It would be very nice to fork/extend tools like `neofetch` to show

[2020-08-03 17:49] pbelevich opened #42467 "module.h(483): error: a member with an in-class initializer must be const"
https://github.com/pytorch/pytorch/pull/40675 introduced an issue with building `torch/csrc/jit/api/module.h` on Windows with nvcc:
[code]

[2020-08-03 17:52] gchanan commented on #42467
I think CONSTEXPR_EXCEPT_WIN_CUDA just needs to be `const` when it's not `constexpr`.

[2020-08-03 17:52] suo commented on #41683
Sorry for the delay! I'll be looking into this today

[2020-08-03 17:53] suo commented on #41242
@markdjwilliams can you comment on the platform/environment you're seeing this issue on?

[2020-08-03 17:55] vpirogov commented on #42446
Thank you for the report @kan-bayashi. I confirm that this is a oneDNN issue affecting systems with Intel AVX512 support.

[2020-08-03 17:58] agolynski commented on #42450
Could you try following instructions here?
https://github.com/pytorch/pytorch/issues/31483

[2020-08-03 18:00] jamestwebber commented on #42449
Not particularly, except that the documentation should match! I imagine I went through this same discovery at some point but wasn't responsible enough to raise an issue about it. Matching other implementations and resources like wikipedia would be good.

[2020-08-03 18:02] supriyar commented on #42415
Thanks! Confirming that this fixes the issue for me.

[2020-08-03 18:14] fatalfeel commented on #42414
double shape = 4;
double scale = 0.5
Tensor action_std	= torch::full({shape}, scale);
Tensor mat_std 	= torch::diag(action_std);
mat_std	= mat_std.diagonal();

	IntArrayRef s02 		= mat_std2.sizes();
	double*		data_out02 	= (double*)mat_std2.data_ptr();
	std::cout << data_out02[0];
	std::cout << " ";
	std::cout << data_out02[1];
	std::cout << " ";
	std::cout << data_out02[2];
	std::cout << " ";
	st

[2020-08-03 18:18] scopatz commented on #40829
It seems like it would be better to `conda install` into the target directory, rather than copying over and having to deal with weird linkage issues. Sinc this is suppossed to be cross-platform, would a python script be good enough? Do you want a `conda pytorch dev` command or something similar?

[2020-08-03 18:18] nitin2212 opened #42470 "ONNX : Exporting HardShrink or SoftShrink operator to ONNX opset version 9 is not supported"
##Bug
RuntimeError: Exporting the operator softshrink to ONNX opset version 9 is not supported.

I tried to export a simple model having SoftShrink/HardShrink Activation layer  but it give the error:

[code]

## To Reproduce

Steps to reproduce the behavior:

Export this model :

[code]

## Expected behavior

Successfully export the model to onnx.

## Environment

torch version : 1.5.1
onnx versio

[2020-08-03 18:21] lw commented on #42455
Make sure you update your submodules: `git submodule update --init --recursive`. Let me know if that persists.

[2020-08-03 18:28] rgommers commented on #40829
Sounds cool. Is it possible to make sure that that command doesn't overwrite files that are under version control?

[2020-08-03 18:31] scopatz commented on #40829
Yep! That is doable.

[2020-08-03 18:42] ngimel commented on #42363
The issue (with original snippet) is not fixed on nightlies. The input to cumsum is not contiguous in the original snippet. cc @anjali411

[2020-08-03 18:46] xuhdev opened #42473 "Inconsistent output dtype of arithmetic operators between single-element/multi-element tensors"
## 🐛 Bug

The output dtypes of arithmetic operators between a single-element tensor and a multi-element tensor, and that of arithmetic operators between two multi-element tensors, are inconsistent.

## To Reproduce

Steps to reproduce the behavior:

[code]

Note that the dtypes on lines 4 and 6 are different.

## Environment

PyTorch version: 1.7.0a0+ed44269
Is debug build: Yes
CUDA used to build

[2020-08-03 18:57] mrshenli commented on #37459
In this case you might want to start from `DistributedDataParallel`?

This is not possible in `torch.distributed.rpc` yet. For `DistributedDataParallel`, there is a [`torchelastic`](https://pytorch.org/elastic) project built for this purpose. cc @kiukchung

[2020-08-03 18:59] gchanan commented on #42364
probably forcing the same strides would work, something like:

`torch.empty_strided(x.size(), x.stride(), dtype=torch.long, layout=x.layout, device=x.device)`

[2020-08-03 19:12] mrshenli commented on #36035
Hey @vfdev-5, based on @ngimel's comments above, the fix for `ParameterList` should be general one that works for both with and without `DataParallel`?

[2020-08-03 19:12] XinDongol opened #42478 "Using hooks with `DataParallel` gets `autograd` error"
## 🐛 Bug

Using hooks with `DataParallel` gets `autograd` error

## To Reproduce

Steps to reproduce the behavior:

1. Run the following code
2. This bug is very wired. The first 2 iterations just work without any error. However, after the first 2 iterations, you can see this bug forever.

Code to reproduce

[code]

Error I got,

[code]

## Expected behavior

This code works well on a single devic

[2020-08-03 19:23] Smthri commented on #42312
Thank you!

[2020-08-03 19:34] vadimkantorov commented on #38349
`xlogy` would also be very useful (and is present in scipy): https://github.com/pytorch/pytorch/issues/22656

[2020-08-03 19:36] louis-aptiv opened #42479 "cdist sometimes returns wrong results when using matrix multiplication"
## 🐛 Bug

When using `torch.cdist` in matrix multiplication mode (either by using the flag `compute_mode='use_mm_for_euclid_dist'`, or by using the flag `compute_mode='use_mm_for_euclid_dist_if_necessary'` with enough inputs) results are sometimes completely wrong depending on the input values.

## To Reproduce

Steps to reproduce the behavior:

Just run this code in Pytorch >= 1.4.0
[code]

## Ex

[2020-08-03 19:38] Smthri commented on #42312
Thank you! Can you please explain what that flag does in detail?
Also, with this flag, we still get large errors, link to gist: https://gist.github.com/Smthri/7e862838093532f1aa38857d345e2816
Error:
![image](https://user-images.githubusercontent.com/16116223/89220268-ed0ea180-d5d9-11ea-83f7-ec670f0b9356.png)

[2020-08-03 19:46] jeffdaily commented on #42430
I'm not able to reproduce the error.  I prepared a docker image based on archlinux and the rocm-arch packages (https://github.com/rocm-arch/rocm-arch).  I followed your steps rather than trying to use your PKGBUILD.  I did see an error for find(RCCL), and tried your patch (https://github.com/rocm-arch/python-pytorch-rocm/blob/master/find-rccl.patch), which allowed the build to proceed but failed t

[2020-08-03 19:53] vadimkantorov commented on #37734
Oh wow. I didn't know cdist supported computation algorithm choosing: https://github.com/pytorch/pytorch/issues/42479

[2020-08-03 19:56] ita9naiwa commented on #40980
Hi @pandeydeep9, and @albanD

I needed this feature, so I searched and came around here!

I found some implementation references:
1. Scipy https://github.com/scipy/scipy/blob/v1.5.2/scipy/special/_basic.py#L1077-L1117

2. Tensorflow https://github.com/tensorflow/tensorflow/pull/1834

This wouldn't be extremely tough. if @pandeydeep9 didn't embark already, I can go on it...!

[2020-08-03 20:00] pandeydeep9 commented on #40980
Hi @ita9naiwa I have not started working on it. If you want, you can go ahead. Let me know once you are done.

[2020-08-03 20:16] jamestwebber commented on #42449
@fritzo do you know if there's any interest in adding `GammaPoisson` to pytorch itself?

[2020-08-03 20:20] glaringlee opened #42481 "[Macos][CircleCI] Test failed in test_dataloader.py"
Keep getting CI test failure in test_dataloader.py within pytorch_macos_10_13_py3_test.
File this issue to track the root cause if necessary.

https://app.circleci.com/pipelines/github/pytorch/pytorch/194865/workflows/761bdf70-27f0-4dde-84f1-dd5d6a85fff8/jobs/6477760

cc @ezyang @seemethere

[2020-08-03 20:24] malfet commented on #42481
@glaringlee please do not disable the test, but rather rebase your PR past  https://github.com/pytorch/pytorch/pull/42191 (test fails if run with python-3.8 on Mac)

[2020-08-03 20:28] mcarilli commented on #37002
Love these!  (Many are already done.)  I would add
- use multi tensor apply to perform bucketing (+ pre-allreduce div) and unbucketing with a single kernel launch, which saves CPU overhead (requires https://github.com/pytorch/pytorch/pull/41554 and a followup PRs with multi tensor mul_ support).  This would also allow dynamically allocating and filling each bucket when that bucket's gradients are

[2020-08-03 20:30] mrshenli commented on #42332
Yep, we don't support send/recv in `ProcessGroupNCCL` yet, but this is on our roadmap. cc @mingzhe09088

[2020-08-03 20:36] vfdev-5 commented on #36035
@mrshenli I see. As far as I understand `weight_norm` issue with `ParameterList` is that we can not simply add and fetch tensors from those structures. For example, a regular module after `weight_norm` of a parameter contains 1 tensor and 2 parameters
[code]
but for `ParameterList` we lose original parameter and have 2 additional parameters:
[code]

So, naively, the fix for `ParameterList` is to b

[2020-08-03 20:47] fritzo commented on #42449
@jamestwebber I don't know whether anyone else is interested in `GammaPoisson`. In Pyro we have a few conjugate-pair distributions ([conjugate.py](https://github.com/pyro-ppl/pyro/blob/dev/pyro/distributions/conjugate.py) and [hmm.py](https://github.com/pyro-ppl/pyro/blob/dev/pyro/distributions/hmm.py)) that have extra methods beyond the basic distribution interface. Also I'm holding off on portin

[2020-08-03 21:07] yf225 opened #42487 "Support recursive data type in TorchScript"
## 🚀 Feature

It would be really awesome to support recursive data type in TorchScript. For example:
[code]

## Motivation

Many DPER3 modules take input of nested data types like `Dict[str, Dict[str, Dict[str, torch.Tensor]]]`, and it will be really hard to maintain if we had to add support to all variations of those nested data types to TypedDataDict (which is DPER3's typed dictionary object). B

[2020-08-03 21:09] #42411 closed

[2020-08-03 21:13] suo opened #42489 "10x model preprocessing spending huge amount of time in JIT compilation"
Context: https://fburl.com/qydqd8q2
Local devserver repro here: https://fburl.com/ki68thiw

cc @ezyang @gchanan @zou3519 @suo @gmagogsfm

[2020-08-03 21:20] ruotianluo commented on #41661
I did a binary search. I am not having trouble (getting regular error trace) with 1.6.0.dev20200411+cu101.
But got:
[code]
between 412-421

422-424 I just got segmentation fault.
and
425-427 there are no proper wheels.
428 I start to get the error in the title.

The code I use is here https://gist.github.com/ruotianluo/54c25460b2ca43a274f50e1a7daa409a.

[2020-08-03 21:20] malfet commented on #42281
Issue is not specific to Mac or CUDA,  https://github.com/pytorch/pytorch/pull/42490 should fix it.

[2020-08-03 21:22] jeffdaily commented on #42430
See my suggestion to your find rccl PR https://github.com/pytorch/pytorch/pull/42072.  It allowed me to finish my pytorch build.

[2020-08-03 21:36] scopatz commented on #40829
@ezyang - What where you doing exactly to test that this was working?

Also the straight `conda install` into the git repo probably won't work because the structure of the package tarball doesn't match the structure of the repo.

[2020-08-03 21:57] ezyang commented on #40829
You definitely don't have to do it the way I tried to hack it up, I just mostly wanted to see if it was feasible. A Python script seems good.

Things I'm most interested in enabling:

* Working on docs locally without having to build
* Working on type annotations without having to build
* Maybe simple work on Python tests (but nothing too fancy; since most core functionality changes would require

[2020-08-03 21:57] vkuzo commented on #42130
glad it helped.  Closing for now, we might revisit this in the future.

[2020-08-03 21:57] #42130 closed

[2020-08-03 22:10] IvanKobzarev commented on #36541
The problem is addressed in https://github.com/pytorch/pytorch/pull/42393, changes are merged into https://github.com/pytorch/pytorch/pull/40950

[2020-08-03 22:14] wconstab commented on #41865
Great, thanks, this helps a lot, I'm able to repro now, so I'll update when I have found something.

[2020-08-03 22:28] SplitInfinity commented on #42459
cc: @eellison @Krovatkin

[2020-08-03 22:56] Krovatkin commented on #42459
I'll try to take a look tomorrow.

[2020-08-03 23:11] jerryzh168 opened #42497 "state_dict for quantized models"
According to https://discuss.pytorch.org/t/nightly-packed-params-no-longer-returned-via-state-dict-method/84588/6, state_dict for quantized model seems to be problematic in 1.6

to repro:
[code]

cc @ezyang @gchanan @zou3519 @mruberry @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a @vkuzo

[2020-08-03 23:26] beew opened #42498 "pytorch tests failed"
## 🐛 Bug
compiled pytorch from source successfully, but some tests failed

## To Reproduce
After finish installing, run python testsrun_test.py, 5 tests failed
[code]
export BUILD_ONNX_PYTHON=1 USE_CUDA=1 USE_CUDNN=1 USE_MKLDNN=1 USE_TENSORRT=1 USE_OPENCV=1 USE_FFMPEG=1 USE_LMDB=1

python setup.py build

python setup.py install
[code]

[2020-08-03 23:31] #42281 closed

[2020-08-03 23:52] seemethere commented on #41680
This is currently blocking: https://github.com/pytorch/pytorch/pull/40950

[2020-08-04 00:12] mariosasko commented on #42428
@AhmadM-DL yes, you are right about the cause of the issue. Each `optim.step` call stores/rewrites in the `optimizer.state` optimizer-specific information (exponential average, etc.) about model parameters (these parameters are the keys) so even if you remove a `param_group`, its parameters are still stored in the `optimizer.state` (the next `optim.step` call doesn't touch these parameters and onl

[2020-08-04 00:14] ita9naiwa commented on #40980
@pandeydeep9  #42499

I will finish GPU version of it in two or three days, because I'm not able to do tests on GPU machines now

[2020-08-04 00:46] tomzx commented on #29383
The problem is still present on the CPU only version of PyTorch 1.6.0, Python 3.7.5, Windows 7 x64.

Execution stack of the thread that is left alive:

[code]

[2020-08-04 01:27] malfet commented on #41680
Hmm, this looks like a matplotlib bug to me:
[code]
Following works with matplotlib-3.2.1 and fails with 3.3.0

[2020-08-04 01:31] raghuramank100 commented on #42351
We should plan on adding support for this to enable amp for training this half as a QAT perf enhancement

[2020-08-04 01:37] raghuramank100 commented on #42497
Not sure if this is something that should be fixed. Once you have a script model, there is no notion of a state dict, we need to provide an API to access the quantized weights of a scripted model instead of using state_dict. @jerryzh168 , would you be able to work on this?

[2020-08-04 01:48] kurtamohler opened #42501 "CUDA is unreliable in subprocesses spawned by unit tests in Windows"
## 🐛 Bug

In PR #41377 (extra details about this issue can be found there), I was trying to add a new test to `TestTorchDeviceTypeCUDA` in `test_torch.py` which spawns several new processes using `subprocess.Popen()`. These subprocesses all create new CUDA tensors and run operations on them. The test works fine for all CI jobs except `pytorch_windows_vs2019_py36_cuda10.1_test2`, in which the subpr

[2020-08-04 01:58] Lmy0217 commented on #42455
oh! no error after update submodules.

[2020-08-04 01:58] #42455 closed

[2020-08-04 01:59] raghuramank100 commented on #42312
More information about reduce_range can be found at:
https://github.com/pytorch/pytorch/blob/38bf5be24f2d4bed3f448e95a09d7175c5f40f54/torch/quantization/observer.py#L321
This flag reduces the input activation dynamic range to 7 bits, This avoids saturation in the kernels for conv and linear.

The script is missing quantizing the outputs of the convolution, once we model that the error is zero. If

[2020-08-04 02:01] raghuramank100 commented on #41652
Are you trying to model the numerics of quantization in fp32 and trying to simulate the effect of quantizing only weights or activations?

[2020-08-04 02:09] jamesal1 opened #42502 "[proposal] batch mode for randperm"
## 🚀 Feature
I'd like to implement some features for randperm. What I've thought of so far:
-batch parameter, allowing multiple permutations to be sampled at the same time.
-partial or k-permutations

These would be accessible using optional arguments whose default behavior match current behavior (i.e. batch=1, k=None).

I'm uncertain about what options would be given for controlling the shape of

[2020-08-04 02:16] kurtamohler commented on #42501
I'd be happy to look more into this issue, just let me know if it's high enough priority.

[2020-08-04 02:16] La-fe commented on #21819
check   torch.backends.cudnn.benchmark=Ture
use   torch.backends.cudnn.benchmark=False  or   #  torch.backends.cudnn.benchmark=True

[2020-08-04 02:42] peterjc123 commented on #29383
@tomzx Does the hotfix mentioned in https://support.microsoft.com/zh-cn/help/2582203/a-process-that-is-being-terminated-stops-responding-in-windows-7-or-in help?

[2020-08-04 02:49] Multihuntr commented on #30704
@drorpip The problem is fixed.

The problem was already fixed in the master branch at least on Feb 25th 2020. And pytorch 1.5.1 was released on Jun 19th 2020. But you can try it yourself by pasting this into the python interpreter

[code]

If it runs without crashing and gives the same answer for CPU and CUDA, then this issue is fixed in your version.

[2020-08-04 02:54] LunarSun commented on #5301
change num_workers=0 works

[2020-08-04 02:58] nbcsm commented on #42406
@peterjc123, since you are already working on it, can I assign this issue to you? thanks.

[2020-08-04 03:02] #42406 closed

[2020-08-04 03:02] ioou opened #42505 "how to use get_trace_graph to get the attribute of a node in trace graph in pytorch 1.6?"
In pytorch 1.1 when using get_trace_graph to trace the model, we could get the node's attibution as follows:
%469 : bool = prim::Constant[value=0](), scope: Model/Backbone[backbone]/ConvBn[conv1]/BatchNorm2d[bn]
Then we could get the the attribution of the Node: backbone.conv1.bn and its class BatchNorm.

Then how to get the attribution name of the node in pytorch 1.6, as we can only get
%23 : flo

[2020-08-04 03:04] peterjc123 commented on #42406
@nbcsm Sure.

[2020-08-04 03:07] #38221 closed

[2020-08-04 03:26] nairbv commented on #42473
This is intentional. We don't include the dtype of a scalar operand in type promotion if it's dtype is in the same "category" as the dimensioned operand. This rule allows, for example, `uint8_tensor * 5` to return a uint8 and not an int64.

See more examples here:
https://pytorch.org/docs/stable/tensor_attributes.html

[2020-08-04 03:35] mjkim720 opened #42506 "Floating point exception in torch.fmod"
## 🐛 Bug

`torch.fmod` throws a floating point exception when the parameter `out` is False and `input` is a tensor of integer numbers.

## To Reproduce

Steps to reproduce the behavior:
[code]

## Expected behavior

No floating point exception with proper error handling.

## Environment
PyTorch version: 1.5.0
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Ubuntu 18.04.4 LTS
GCC version:

[2020-08-04 03:49] leeyeetonn commented on #41776
@ezyang Thanks for your interest! Our tool is a Fuzzing-based technique for the API functions. It’s still a work-in-progress. We’d love to share more details once it’s ready!

[2020-08-04 04:13] min-xu-ai opened #42508 "mypy type checking errors"
## 🐛 Bug

Hi, this could be partially fixed in #32824. I have some mypy errors like:

[code]

This is from 1.5.1

Feel free to close if already fixed.

cc @ezyang @malfet @rgommers

[2020-08-04 04:18] mjkim720 opened #42509 "Segmentation fault in functional.adaptive_avg_pool2d"
## 🐛 Bug

`torch.nn.functional.adaptive_avg_pool2d` causes a segmentation fault when the parameter `output_size` is an empty tuple, `()` or an empty array `[]`.

## To Reproduce
[code]

## Expected behavior

Proper error handling for an empty tuple or empty array like `adaptive_avg_pool1d`.

## Environment
PyTorch version: 1.5.0
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Ubuntu 18.04

[2020-08-04 04:23] Codingrunningman commented on #42433
Actually, I set the variable USE_OPENMP to 1 before I compile the source code. I am not sure if this will make openblas compile correctly into a multithread version.
In the compile message, I found it
[code]
So I think I install openblas with oepnmp successfully.

[2020-08-04 04:25] #42424 closed

[2020-08-04 04:38] VinodSKumar opened #42512 "master Build failure : undefined reference to `void fbgemm::CodeGenBase<unsigned char, signed char, int, int>::storeCRegs<asmjit::x86::Zmm, 64>(asmjit::x86::Emitter*, int, int, asmjit::x86::Gp, asmjit::x86::Gp, bool)"
## 🐛 Bug

Master branch build failure

## To Reproduce
git pull --rebase
git submodule sync --recursive
git submodule update --init --recursive

python setup.py develop

[3978/4367] Linking CXX executable bin/kernel_function_legacy_test
FAILED: bin/kernel_function_legacy_test
: && /usr/bin/c++  -Wno-deprecated -fvisibility-inlines-hidden -DUSE_PTHREADPOOL -fopenmp -DNDEBUG -DUSE_FBGEMM -DUSE_QNNPA

[2020-08-04 04:41] #39210 closed

[2020-08-04 04:41] aayn commented on #42223
I still want to go ahead with implementing packbits. Given that it's challenging, I think I'll be able to learn a lot from this.

Point taken, will avoid copies to the extent possible.

[2020-08-04 04:44] mruberry commented on #42223
Avoiding copies is always good but I wouldn't go crazy over it. Other functions also sometimes have to copy their inputs and outputs, especially if the data comes in discontiguous.

[2020-08-04 04:44] #41680 closed

[2020-08-04 05:37] mruberry opened #42515 "Unary Ufunc tracking issue"
Tracking issue for tasks related to unary "[universal functions](https://numpy.org/doc/stable/reference/ufuncs.html?highlight=ufunc)," elementwise functions of a single tensor input.

**Tasks**
- [ ] Alias rad2deg and degrees
- [ ] Alias deg2rad and radians
- [ ] torch.real and np.real are divergent on non-complex dtypes
- [ ] torch.imag and np.imag are divergent on non-complex dtypes
- [ ] Alias

[2020-08-04 05:42] leockl commented on #38349
Hi All,

Would be great if we could have `torch.linalg.eigh` to be analogous to `numpy.linalg.eigh`, in particular with the +ve/-ve signs of the eigenvalues when the eigenvalues are very very small and close to 0.

A more detailed description of this is here: [#41688](https://github.com/pytorch/pytorch/issues/41688)

[2020-08-04 05:43] leockl commented on #41688
That's great, many thanks @mruberry.

[2020-08-04 05:49] vadimkantorov commented on #42223
In principle - sure. I mean for the case when input/output are contiguous

[2020-08-04 05:53] zy885137 commented on #42361
Yes, #1 and #2 are made separately.

#1   It can ensure that my demo can work normally through pod.
#2  I copied libtorch in the pod and used it as a static library.

You can take a look at my picture of this project

![WX20200804-135120](https://user-images.githubusercontent.com/6452049/89257932-ba0bf280-d659-11ea-83f9-b71f270d0e9d.png)

[2020-08-04 05:59] leockl commented on #38349
Hi All,

Would be great if we could have `torch.chunk` to match the behavior of that of `numpy.array_split`.

A more detailed description of this is here: [#9382](https://github.com/pytorch/pytorch/issues/9382)

*Ps: I think the initiative in this issue is fantastic! I have recently developed a Scikit-learn estimator and now I am wanting to make the estimator GPU accessible. I stumbled upon quite

[2020-08-04 06:00] mruberry commented on #38349
That's great to hear, @leockl. Would you detail the other functions you found that behaved differently?

[2020-08-04 06:20] ruguowoshiyu commented on #35180
thanks a lot, it worked

[2020-08-04 06:26] srinivas212 opened #42517 "NCCL Alltoall Process Group introducing time-out of other NCCL tests"
## 🐛 Bug

PR https://github.com/pytorch/pytorch/pull/42514 added NCCL Alltoall support to NCCL process group using NCCL Send/Recv. This seems to cause unrelated NCCL tests to time-out. This feature has been disabled by default.

## To Reproduce

Steps to reproduce the behavior:

Set ENABLE_NCCL_A2A=1 to enable NCCL A2A support using NCCL send/recv. See: https://github.com/pytorch/pytorch/pull/4251

[2020-08-04 06:35] leockl commented on #38349
Hi @mruberry.

There's one on `argmax` and `argmin` ([#22853](https://github.com/pytorch/pytorch/issues/22853)) which I think @kshitij12345 had put through a PR but it isn't successful (yet).

Another one (perhaps not directly related to Numpy) is `torch.multiprocessing.pool`. Since PyTorch have the same `multiprocessing.pool` module as the Python one, but the PyTorch one doesn't work or behave th

[2020-08-04 06:36] mruberry commented on #38349
Thank you for the update, @leockl. I'll try to take a look at all these issues soon.

[2020-08-04 06:57] JiaRu2016 opened #42518 "Shared memory manager connection timed out error. In nested multiprocess program and with dataloader num_workers > 0"
## 🐛 Bug
I have a training program whose architecture like this:
- use ONE data but 4 different hyper-parameter, so `main()` spawns 4 process, each for one hyper parameter
- for each hyper-parameter training process, spawn one sub-process for asynchronous evaluation
- all the 8 (=4 * 2) process use the same data resource:  a dict-of-SharedMemoryTensor

After started, It works as expected for a whi

[2020-08-04 07:03] aoyulong commented on #18300
@mrshenli In my application, each thread use a different group and so will use different communicators. I think this satisfy the nccl thread safe requirement ` Multiple threads should use separate communicator objects`. Besides, I overlap the computation and communication in the pipeline parallel: 1) the main thread will get data from the recv queue, feed the model, store output to send queue; 2)

[2020-08-04 07:03] vineeths96 opened #42519 "NCCL operation fails with torch.int16 tensors"
## 🐛 Bug

NCCL operations (like torch.distributed.all_gather()) fails with error "Unsupported data type for NCCL process group" when tensors of toch.int16 type are used.

## To Reproduce

Steps to reproduce the behavior:
1. Code for the MWE
[code]
1. Launch with torch.distributed.launch by
[code]

Error trace:
[code]

## Expected behavior
Successful NCCL operation.

## Environment

Please copy and

[2020-08-04 07:32] mszhanyi commented on #36895
@skn123 does the issue still exist? As https://github.com/pytorch/pytorch#from-source, there're some additional env variables need to set for VS.
Since there's no update for more than 3 months and VS 2019 is working well in our CI pipelines.
We'll close this thread soon.

[2020-08-04 07:53] rasa200 commented on #15738
Hi!

I just want to comment that we run in a similar issue in Rust: small parameters for Beta leads to erroneous samplings. The fix was to change the sampling algorithm for something more robust. We are still improving the performance though.

You can see the issue [here](https://github.com/rust-random/rand/issues/999) and the solution [here](https://github.com/rust-random/rand/pull/1000#issuecomm

[2020-08-04 07:57] z-a-f commented on #42415
This is not fixed, as the submodule reference is not updated

[2020-08-04 07:59] Smthri commented on #42312
Thank you!

[2020-08-04 08:39] Codingrunningman commented on #42433
I tried to compile the numpy with OpenBLAS. Then I found numpy can not use multi threads. However I compile the OpenBLAS with this command
[code]
and I compile it successfully. I do not know the reason. Thanks for your help, I will detect it.

[2020-08-04 09:21] vsuhasm commented on #35600
Hi, I'm facing the same issue when calling torch.jit.trace in a loop. Any workaround?

[2020-08-04 09:55] tengerye commented on #21154
Hi, any update?

[2020-08-04 10:09] dhirensr commented on #41652
@vkuzo : I didn't get your point regarding only weight observer is being used.
 I see that now QConfigDynamic is taking 2 args (https://github.com/pytorch/pytorch/blob/master/torch/quantization/qconfig.py#L41) so I was trying to use something like default_weight_only_qconfig  or default_activation_only_qconfig for QConfigDynamic but it doesn't works.

@raghuramank100 : yes, I'm training in fp32 an

[2020-08-04 10:34] BreakVoid opened #42524 "ProcessGroupRpcBackendOptions cannot found"
## 🐛 Bug

ImportError: cannot import name 'ProcessGroupRpcBackendOptions' from 'torch.distributed.rpc' (C:\Users\kesongyu3\Anaconda3\envs\torch\lib\site-packages\torch\distributed\rpc\__init__.py)

## To Reproduce

Steps to reproduce the behavior:

1. Run [main.py](https://github.com/pytorch/examples/blob/master/distributed/rpc/ddp_rpc/main.py) directly.

## Expected behavior

Since the unexpected

[2020-08-04 11:04] wangerxiao001 opened #42525 "inplace operation error when using nn.ReLU without setting inplace=True"
## ❓ When I try to pass some preseted params to nn.ReLU activation function without setting inplace=True, but still got inplace operation error as follows.

1. my code

- initialize

`
self.p6_w1 = nn.Parameter(torch.ones(2, dtype=torch.float32), requires_grad=True)
self.p6_w1_relu = nn.ReLU()
`

- using
`
p6_w1 = self.p6_w1_relu(self.p6_w1)
`

- error
`
  File "/home/ubuntu/wangxinglie/.conda/env

[2020-08-04 11:09] Lyoko-Jeremie commented on #35534
Hi, i have same issue there.

i'm use `torch::jit::load` to load a `.pt` file that save in python use `torch.jit.trace()` then `.save()` .

all the code work in about 2019/08/28 , today i want to find the old project and use it as a demo example.
but when i re-complete the code, then this issue happend.

the code and the `.pt` file are not change,
and i try the old version libtorch (libtorch-win-s

[2020-08-04 11:31] Lyoko-Jeremie commented on #35534
now i change to use vs2017 Community v15.9.18 , it same.

the error output
[code]

the load code
[code]

[2020-08-04 11:35] mariosasko commented on #42525
You must be missing something. The only thing that `model.train()` does is that it changes the `self.traning` flag of the main module(model) and its submodules(nn.Dropout(), etc.). This flag is important in cases where the module's behaviour between the training phase and the evaluation differs (nn.Dropout, nn.BatchNorm, etc.). `nn.ReLU` just ignores that flag.

[2020-08-04 11:44] tingxueronghua commented on #1051
Sorry, but I don't fully understand what you mean. When I use "register_buffer" to get a buffer and I update it during forward, do you mean that I cannot get the correct corresponding value on each GPU if I use DataParallel? Does it mean all the GPUs have to use the buffers on GPU:0?

[2020-08-04 12:24] fsdoma opened #42526 "Python3 segfaults or doesn't load torch after installation"
#42035

 after installing torch using ``pip3 install torch''

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'torch'     ## before installation

Segmentation fault (core dumped)                            ## after installation
frank@thunderstorm:~$ python                                ## installed torchvision using ``pip3 install -U t

[2020-08-04 12:27] chenbohua3 commented on #39308
@voznesenskym anything new? :)

[2020-08-04 12:34] acxz commented on #42430
Sweet, happy that you got pytorch building on Arch! Thx for your time in investigating this.
At least we got down to the rccl issue from this.

So I tried not using the PKGBUILD, and just the steps I listed. (with `USE_CUDA=OFF`) and I got further along but still ended up with this error: https://github.com/pytorch/pytorch/issues/42512

As for why the PKGBUILD is not working, I guess it is probabl

[2020-08-04 12:34] #42430 closed

[2020-08-04 12:38] acxz commented on #42512
My error:
[code]

My env:
 - PyTorch Version (e.g., 1.0): 1.6.0
 - OS (e.g., Linux): Arch Linux
 - How you installed PyTorch (`conda`, `pip`, source): source
 - Build command you used (if compiling from source): `python setup.py build`
 - Python version: 3.8.5
 - CUDA/cuDNN version: N/A
 - GPU models and configuration:
 - Any other relevant information: ROCm

[2020-08-04 12:53] kan-bayashi commented on #42446
I checked the cases with the following installations:
- `conda install pytorch=1.6 cudatoolkit=10.2 -c pytorch`
- `pip install torch==1.6.0+cpu -f https://download.pytorch.org/whl/torch_stable.html`
This error happens in both cases. But if we run to gpu, no error happens.

[2020-08-04 13:29] AhmadM-DL commented on #42428
It should be possible to reproduce the error regardless of the environment.

Yup, that is annoying. Though it is actually happening.
I can privately send you a link to a colab notebook that raises the error.

[2020-08-04 14:15] beew commented on #42498
run_test.py for pytorch 1.6.0 on python3.7.8 gives these additional errors in the begining
[code]

[2020-08-04 14:22] #42473 closed

[2020-08-04 14:24] SsnL opened #42529 "renorm dim argument is extremely confusing"
In `torch.renorm`, `dim` means

That is, if one wants to renormalize each row tensor (i.e., tensor along dim **`1`**) of a matrix, they need to specify `dim=0`. This means inconsistency with `.norm` and many other ops. E.g, users will be confused when they see

[code]

I don't know what is the proper thing to do, but there should be some improvements done.

[2020-08-04 14:35] agolynski commented on #42478
@XinDongol Could you include some details about your setup, e.g. do you train on 8 GPUs? (e.g. in your error message "expected device cuda:0 but got cuda:7")

[2020-08-04 14:40] XinDongol commented on #42478
@agolynski Yes. I am using 8 GPUs+CUDA11. I tried PyTorch 1.7 and 1.5 (both have this error).

[2020-08-04 14:51] wangerxiao001 commented on #42525
Thanks, I will check it!

[2020-08-04 14:55] malfet commented on #42467
@pbelevich what version of Visual Studio are you using?

[2020-08-04 15:02] zou3519 opened #42532 "master docs push isn't working"
https://github.com/pytorch/pytorch/pull/41228 added docs for Stochastic Weight Averaging. However, they haven't appeared on the master documentation yet (https://pytorch.org/docs/master/optim.html, scroll all the way to the bottom).

I suspect something is up with https://github.com/pytorch/pytorch/pull/42136 (@seemethere, do you know how to check if the jobs that PR introduced are running?), whic

[2020-08-04 15:08] agolynski commented on #42479
@vadimkantorov There must be some kind of loss of precision here.

[code]

and works fine.

[2020-08-04 15:10] jeffdaily commented on #42512
Duplicate of #42415 .  Fixed by https://github.com/pytorch/FBGEMM/pull/396.

[2020-08-04 15:10] #42512 closed

[2020-08-04 15:15] colesbury opened #42539 "Docs for Tensor.copy_ non_blocking should mention pinned memory"
## 📚 Documentation

The description on non_blocking should mention pinned memory, since `non_blocking` only affects copies between pinned memory (on the CPU) and GPU.

The current description for the non_blocking argument says "if True and this copy is between CPU and GPU, the copy may occur asynchronously with respect to the host. For other cases, this argument has no effect."

The docs for `Tens

[2020-08-04 15:19] zou3519 commented on #42532
Hmm, looks like the nightly doc pushes have failed for the past week: https://circleci.com/gh/pytorch/workflows/pytorch/tree/nightly

[2020-08-04 15:24] IvanKobzarev commented on #40027
Hi @maxmx911 ,
1. If inconsistency happens only with x86 emulator - that could be an issue with emulator part or x86 build.
Interesting that on my x86 emulator I did not reproduce it, but I tried on it on linux x86_64 machine.

What type of machine (OS, arch) do you run your emulator?

2. About

Our gradle builds support `ABI_FILTERS` argument(comma separated android abis list) to filter android a

[2020-08-04 15:29] agolynski commented on #42506
same exception for `torch.fmod(torch.tensor([1,2,3,4,5]), 0)
`

[2020-08-04 15:33] agolynski commented on #42505
@ioou Could you give more context for this issue?

[2020-08-04 15:36] agolynski commented on #42508
@min-xu-ai Could you provide code that is causing these failures?

[2020-08-04 15:46] lironmo commented on #36913
any update?

[2020-08-04 15:46] YHuiX opened #42540 "Is there another way to install pytorch in the develop mode?"
I want to install pytorch in the develop mode, so I have to build it from source code according to the tutorial. But the errror strike me, telling me that my memory is insufficient.
I have find similar issue, peterjc123 say that it is mainly caused by the merging of caffe.
It seems that I can't build it from source code, SO I want to ask is there another way to install TORCH in the develop mode?
t

[2020-08-04 16:12] z-a-f commented on #42415
@dskhudia Does FBGEMM automatically sync? If yes, how often?

[2020-08-04 16:23] DNXie opened #42541 "torch.as_strided segfault when stride is empty tuple"
## 🐛 Bug

## To Reproduce

[code]

The above code snippet would cause segmentation fault:

[code]

## Expected behavior

Shouldn't cause segfault even though the input is not valid

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

[2020-08-04 16:30] louis-aptiv commented on #42479
Thank you @agolynski, I tested the `.double` version and it seems to also have some problems (which are probably the same problems as in #37734), although not as critical:
[code]
which gave me this output:
[code]

[2020-08-04 16:34] sinannasir opened #42542 "DDP Communication Hook: single process multiple device mode"
DDP communication hook introduced by #39272 does not support single process multiple device (SPMD) mode.
In `Reducer::register_comm_hook`,  we check this condition by
https://github.com/pytorch/pytorch/blob/fc1801774fa2addd13cfc2a3ea8359bcc578d2fb/torch/csrc/distributed/c10d/reducer.cpp#L1135-L1137

Since `process_group.allreduce()` gets list of Tensor, SPMD should work, but we don't promise on fe

[2020-08-04 16:53] xw285cornell opened #42544 "torch rpc lose device information between rpc calls"
## 🐛 Bug

I use rpc.remote() to instantiate a trainer class on the remote worker, and then call train() function from the rref. The `__init__` function sets the cuda device, and move the model to the right device. However, the current device information is lost during the remote call of train() function. This can cause a mismatch between the model (which is on the target device) and the current ma

[2020-08-04 16:55] xw285cornell commented on #42544
cc. @ngimel, @mrshenli, @rohan-varma  , @pritamdamania87

[2020-08-04 17:04] mcarilli opened #42545 "CuDNN RNN bindings are basically all deprecated in cudnn 8"
Many (all?!!) the raw cudnn calls in
https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/cudnn/Descriptors.h
https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cudnn/RNN.cpp
are deprecated according to
https://docs.nvidia.com/deeplearning/cudnn/api/index.html#api-changes

Not house on fire, we have until cudnn 9 to update, filing so we don't lose track.  I don't mind taki

[2020-08-04 17:08] mrshenli commented on #42524
Hey @BreakVoid, `torch.distributed` does not support Windows yet. There is an on-going effort to add Windows support. See #42095. I am closing this issue, please feel free to open an new issue if you hit similar errors in Linux or MacOS. Thanks!

[2020-08-04 17:08] #42524 closed

[2020-08-04 17:10] spandantiwari commented on #42470
Yes, this is most likely not supported in the exporter. Could you please consider submitting a PR for it?

[2020-08-04 17:14] #42363 closed

[2020-08-04 17:20] markdjwilliams commented on #41242
@suo, this is my environment:

- pytorch 1.6.0
- python 3.7.4
- CentOS 7.7.1908
- gcc 6.4.0
- cmake 3.18.0
- cuda 10.0.130
- cudnn 7.6
- mkl 2019.5
- numpy 1.17.3

I'm building from source and setting KMP_INIT_AT_FORK=FALSE in my runtime test environment due to https://github.com/ContinuumIO/anaconda-issues/issues/11294

This same configuration and build script works well with pytorch 1.5.1 (and e

[2020-08-04 17:25] #42370 closed

[2020-08-04 17:26] anujgupt-github commented on #42370
opening the FR in torchvision.

[2020-08-04 17:32] spandantiwari commented on #42292
OK, we will take a look.

[2020-08-04 17:37] xuhdev commented on #42473
@nairbv I understand when one operand is a scalar, but the examples above are on two tensors. I think the issue might be that `b` on Input 5 is seen as a scalar, not a tensor...

[2020-08-04 17:39] bnymnsntrk commented on #30664
how did you delete it?

[2020-08-04 17:53] glaringlee commented on #42541
@DNXie Can you try latest version in pytorch master branch?  it might be fixed already
I did not get segfault, but get
[code]

[2020-08-04 17:55] mruberry commented on #42053
That's an excellent point but I don't see how we can avoid it completely. Just focusing on Python for the moment, we could naturally define aliases like this:

[code]

But if an extension monkey patches `foo` they'll still have to update `foo_alias`. If they override the actual mapping from Python bindings to C++ functions then they'd be OK, though.

[2020-08-04 18:00] glaringlee commented on #42526
@fsdoma
Can you check `pip3 list` see whether torch is installed?

[2020-08-04 18:07] vadimkantorov commented on #29554
My current workaround:
[code]

[2020-08-04 18:15] zou3519 commented on #42053
For the Python example, I would argue that monkey-patching is different from dispatching to different implementations. A tensor extension wouldn't monkey-patch `foo`; `foo` should contain some logic that dispatches to the implementation requested by the tensor extension. I agree there's no way to support aliasing with monkey-patching, as your code example shows.

In C++, using `absolute` as an exa

[2020-08-04 18:18] mruberry commented on #42053
I was also thinking that, although maybe we can just do:

[code]

analogous to Python.

[2020-08-04 18:20] rohan-varma commented on #42544
I think this might be because functions run on the remote Trainer can run in different worker threads, and `torch.cuda.set_device()` does not seem to propagate across threads (see [gist](https://gist.github.com/rohan-varma/9b9a02db6d131081209bc33b09383390)).

As a workaround, would it suit your use case to save the device in init, and then set that device in the `train()` function?

Also note that

[2020-08-04 18:22] rohan-varma commented on #42542
Have we added the relevant documentation that this is not expected to work with SPMD mode somewhere in the docs?

[2020-08-04 18:41] arrayslayer commented on #19213
Same issue. I cannot run multiprocessing pool because pytorch uses all threads

[2020-08-04 19:03] GrimReaper420 opened #42549 "Caffe2 Error: more than one operator "+" matches these operands, windows and Cuda 11"
## 🐛 Bug

An error occurs while building PyTorch from the latest master on Win10 with VS2019 and Cuda 11. The error seems to be from Caffe2 (refer to the error quote below). Thanks in advance.

## To Reproduce

Steps to reproduce the behavior:

On Windows 10 Home:
1. Download and install the latest NVIDIA drivers and Visual Studio 2019 (with Visual C++).
2. Download and install the latest Cuda Too

[2020-08-04 19:34] vincentqb commented on #42428
Do you have a minimal example that reproduces the issue?

[2020-08-04 19:47] xsacha commented on #42311
Shouldn't it be automatically transposed to whichever memory format (channels last) will allow half-precision? I thought CUDNN was doing this already, otherwise torchscript.

[2020-08-04 19:51] nairbv commented on #42473
We also differentiate zero-dim tensors from dimensioned tensors, similar to scalar literals:

https://pytorch.org/docs/stable/tensor_attributes.html
[code]

[2020-08-04 19:53] agural opened #42557 "symeig memory leak"
## 🐛 Bug

`torch.symeig()` uses additional memory on each application when the argument matrix dimensions are different from dimensions of matrices applied previously. This issues appears on the GPU, but not the CPU and only for `symeig`, not `eig`.

## To Reproduce

Run the code below to reproduce the behavior (requires `psutil`).

[code]

Example output on my system shows memory increasing at ea

[2020-08-04 19:57] xsacha commented on #42439
As you've identified, you use the lib and include directories from pytorch release to use libtorch.

As for your nvrtc linker errors, you must not have linked to your cuda libraries, specifically nvrtc. They are expected to be installed by Jetpack and so should be on your system (not in PyTorch).
Look in: /usr/local/cuda-10.2/targets/aarch64-linux/lib/

[2020-08-04 19:58] vincentqb commented on #42213
@albanD -- @mthrok mentioned you would follow up on this?

[2020-08-04 20:26] KevinMusgrave commented on #37154
Was this supposed to be fixed in 1.5.1? Here's some code I ran on google colab:
Code:
[code]
Output:
[code]

Code:
[code]
Output:
[code]

[2020-08-04 20:30] DNXie commented on #42541
@glaringlee Just checked. It is gone in nightly version. Thanks! I will close this commit.

[2020-08-04 20:30] #42541 closed

[2020-08-04 21:03] froody opened #42560 "Exception raised in backward() loses backtrace information"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
1. Run the code below

[code]

## Expected behavior

Stacktrace at the point of raise, showing the error to be from `Foo.backward`

## Actual output
[code]
## Environment
(same issue in 1.5.1 and 1.6.0)

Collecting environment information...
PyTorch version: N/A
Is debug build: N/A
CUDA used to build PyTorch: N/A

OS: Ubuntu 18.04.3 LTS
G

[2020-08-04 21:06] kurtamohler commented on #41776
Unassigning myself because I think this issue requires someone who know a bit more about Lapack and orgqr.

As far as I could tell, it seemed like the root cause of the error was coming from the `dorgqr_` and `sorgqr_` Lapack functions themselves in `THLapack_(orgqr)` in `aten/src/TH/generic/THLapack.cpp`. When I comment those functions out (or if I comment out the second `THLapack_(orgqr)` call i

[2020-08-04 21:08] yf225 opened #42562 "Support default argument values in `object` subclass constructor in TorchScript"
## 🚀 Feature

Support default argument values in `object` subclass constructor in TorchScript.

Example:
[code]
which currently fails with the following error:
[code]

## Motivation

Many custom data structures in fbcode (e.g. `FeatureInfo` https://www.internalfb.com/intern/diffusion/FBS/browse/master/fbcode/caffe2/caffe2/fb/dper/feature_proc/feature_info_types.py?commit=a37530385ebcce452222136ac0

[2020-08-04 21:21] debermudez opened #42564 "Sequence ID assignment change from 1.5 to 1.6 breaking fprop and bprop correlation"
## 🐛 Bug

Pytorch 1.6 is no longer emitting sequence ids that allow for correlation between forward and backward propagation using the torch.autograd.profiler.emit_nvtx context manager.

We are seeing the following behavior:

1. Operations are associated with multiple sequence ids.
2. Sequence Ids are being reused from one operation to another.

## To Reproduce

Steps to reproduce the behavior:
Us

[2020-08-04 22:12] scopatz commented on #40829
OK - I have a basic version for linux working (I think). I'll flesh out the two functions that need it for mac and windows tomorrow.  Then hopefully, you can test it!

[2020-08-04 22:23] husthyc commented on #42361
Please follow https://pytorch.org/mobile/ios/#build-pytorch-ios-libraries-from-source if you want to use PyTorch as static library.

[2020-08-04 22:28] #42375 closed

[2020-08-04 22:45] glaringlee commented on #42549
@GrimReaper420
Can you try build this under cuda 10.x see whether it can be built?
@malfet
It seems we don't have windows + cuda 11 coverage in CI, I saw all the cuda10.x CI tests passed though. Do you think this is caused by cuda 11?

[2020-08-04 22:46] vincentqb commented on #36913
This works for me:

[code]

[code]

[code]

[code]

Does the code above resolve your issue?

Note that I am not calling `step(epoch=0)` here, since schedulers need to be called at the end of the loop, after the optimizer. Your issue is specifically with `step(epoch=0)` then, is that correct?

[2020-08-04 22:53] vincentqb commented on #36913
Can you describe what you are trying to do? There may be alternative approaches to using epoch as a parameter to step.

[2020-08-04 22:54] dskhudia commented on #42415
It does not automatically sync. It used to instantaneously but not anymore. Commits to fbgemm create a submodule PR such as https://github.com/pytorch/pytorch/pull/42496 and then we manually merge the PR if the pytorch CI tests look ok.

[2020-08-04 22:56] dskhudia commented on #42415
@z-a-f: I just landed the PR

[2020-08-04 22:58] #42415 closed

[2020-08-04 23:03] xw285cornell commented on #42544
Thanks @rohan-varma for the quick response! It's good to know that rpc is not supporting GPU operators also.

Yes, the workaround works for us (and we actually did this already :) ). But this is actually not very intuitively and could be hard to debug (it actually takes us a while). Just wondering if rpc can somehow save/restore the device info as part of the context.

[2020-08-04 23:11] vincentqb commented on #40362
In order to resolve this, we'd need a test case that fails with the current implementation with the exact expected values. In particular, in #21258 there are tests that were added. Is one of them not agreeing with an external references? We should also verify that the parameters available indeed can't reproduce that source.

[2020-08-04 23:12] #42418 closed

[2020-08-04 23:18] vincentqb commented on #42435
Thanks for catching this! Do you want to open a pull request to add the module in `__init__`? This should work:
[code]

[2020-08-04 23:26] dskhudia commented on #34074
Server side conv1d addition is still in progress. cc @shz0116

[2020-08-04 23:27] mcarilli commented on #42564
According to @ilia-cher on Pytorch slack, fix is PRed here https://github.com/pytorch/pytorch/pull/42565.

[2020-08-04 23:48] nbcsm commented on #42501
thanks for reporting, we will take a look.

[2020-08-04 23:48] husthyc commented on #42361
Did you try to set up your Xcode project following https://pytorch.org/mobile/ios/#xcode-setup step by step?

[2020-08-04 23:49] peterjc123 commented on #42549
9ed210e75701d8760a0b7cc9e11498b3R40

[2020-08-04 23:56] GrimReaper420 commented on #42549
I am doing so now.

[2020-08-04 23:59] #42448 closed

[2020-08-05 00:05] min-xu-ai commented on #42508
Thanks @agolynski. In this PR: https://github.com/facebookresearch/fairscale/pull/19/files#diff-0602a4e171eb461bdf6cd20fa788c4cfR133-R135

The lines with # type: ignore are the corresponding code.

[2020-08-05 00:21] ngimel commented on #42479
This is an expected behavior, given that mm distance is calculated as a^2-2*a*b+b^2. If a and b are close, then catastrophic cancellation happens and result is imprecise (can even be negative, but we clamp it to be non-negative).
Using matrix multiplication dramatically improves performance, but if accuracy is not enough for your application, then you should not use it.

[2020-08-05 00:21] #42479 closed

[2020-08-05 00:30] jakirkham opened #42571 "View/Reinterpret Tensor as a different type w/o copying"
## 🚀 Feature

It would be useful to have a way to reinterpret the type of existing data as another type (without copying). For example, one can do this with NumPy (or CuPy) like so...

[code]

## Motivation

In some cases users may feed data into PyTorch, which comes from more raw formats (like `bytes` and `bytearray`). So they don't really have the type factored in when provided. In these cases w

[2020-08-05 00:47] anibali commented on #40362
I feel like perhaps you haven't understood what I am trying to say. The current implementation of 1cycle in PyTorch does not allow you to replicate the recommended policy from the paper (3 phases, first two being symmetrical) and defaults to a policy that I've never seen suggested anywhere (asymmetrical 2 phases, no third phase). The best you can achieve (in terms of matching the source paper) is

[2020-08-05 01:03] vincentqb commented on #42435
Thanks for catching this! PR opened to address this.

[2020-08-05 01:25] glaringlee commented on #42526
@malfet
This is not really build, probably user env issue.
We don't have a 'installation' related tag, mark this as build for now.

[2020-08-05 01:47] brianhhu commented on #37154
I think this has been fixed in the latest stable version of Pytorch (1.6). I remember trying after 1.5 and 1.5.1, but cdist still produced NaN gradients. Hope this helps!

[2020-08-05 01:56] KevinMusgrave commented on #37154
@brianhhu Thanks, I'll try 1.6

[2020-08-05 01:57] peterjc123 commented on #42549
Please see https://github.com/pytorch/pytorch/pull/42420/files#diff-9ed210e75701d8760a0b7cc9e11498b3R40.

[2020-08-05 01:58] #42525 closed

[2020-08-05 01:58] wangerxiao001 commented on #42525
error found in model initialize

[2020-08-05 01:59] gmagogsfm commented on #42258
Hi mthrok,

Thanks for reporting this issue. Your guess is correct, it is exactly Python class `AudioMetaData` causing trouble in type parsing. If you are looking for a quick work-around, I think rewriting implementation of info without AudioMetaData should get you going.

The superficial issue is that when importing saved module, a type `__torch__.torchaudio.backend.sox_io_backend.AudioMetaData`

[2020-08-05 01:59] mjkim720 commented on #42506
Floating point exception also occurs when there is a `0` element in the tensor of `other`.
For example, `torch.fmod(torch.tensor([1,2,3,4,5]), torch.tensor([1,0,1,1,1]))`

[2020-08-05 02:06] ioou commented on #42505
I want to trace the model to get the reference of the input layer of a given layer in the model.
if given a model,
[code]
In pytorch1.1,
[code]
With the scope information, we could get the attribution of  node '%input.1' is model.backbone.conv1, and its input is %0. In line '%input',  we could get its reference "model.backbone.bn1" and its input "%input.1" with the reference model.backbone.conv1.

[2020-08-05 02:06] gunandrose4u commented on #42095
I tried that flag before, for windows it is not enough, still will lead compile errors.

[2020-08-05 02:43] oke-aditya commented on #42435
👍 Great.

[2020-08-05 02:51] vadimkantorov commented on #42571
Related: https://github.com/pytorch/pytorch/issues/29013

[2020-08-05 03:17] mjkim720 commented on #42509
The same input does not give a segfault in `adaptive_avg_pool3d`.

[2020-08-05 03:23] mjkim720 opened #42578 "Segmentation fault in adaptive_avg_pool3d"
## 🐛 Bug

In `torch.nn.functional.adaptive_avg_pool2d` and `torch.nn.functional.adaptive_avg_pool3d`, a segmentation fault occurs when passing an empty tuple (or an empty array) for `output_size` parameter. It occurs even though passing a valid 4D tensor for `input` parameter.

## To Reproduce

[code]

## Environment
PyTorch version: 1.5.0
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: U

[2020-08-05 03:36] QWERDF007 commented on #41177
I use libtorch v1.6 and v1.2 to test deeplabv3+, the result of v1.2 is faster than v1.6.

[2020-08-05 03:37] chsasank opened #42581 "Build script complains that gcc is < 6 even though gcc version is 8"
## 🐛 Bug

Build script complains that gcc is < 6 even though gcc version is 8. see environment for evidence

## To Reproduce

Steps to reproduce the behavior:

1. Install miniconda3.
1. Follow instructions to clone and build pytorch: https://github.com/pytorch/pytorch/#from-source
1. python setup.py bdist_wheel

[code]

## Expected behavior

Build and install happens smoothly.

## Environment

Ple

[2020-08-05 03:45] malfet commented on #42540
Please share the error message you are seeing.
And  what are the reason you want to build pytorch in develop mode?
If you just want to use libtorch C++ interface, then one can download it from https://download.pytorch.org/libtorch/cu102/libtorch-win-shared-with-deps-debug-1.6.0.zip

[2020-08-05 03:48] zy885137 commented on #42361
I checked, I only added other linker flags: -all_load in the static library project.
I now add other linker flags: -all_load to my demo project. Now it can run normally and can work.
Thank you!

[2020-08-05 03:58] zdevito commented on #42366
I think std::vector makes sense here. You want the capacity to never decrease, because you do not want your interpreter having to reallocate stack space all the time. Most implementations go in the other direction and pre-allocate a big enough stack and just stack overflow on error. Taking references to item in the stack isn't really necessary: just copy the thing by value because it is only 16 by

[2020-08-05 04:06] #42361 closed

[2020-08-05 04:11] mijungk opened #42582 "Segmentation fault when passing large value for adaptive_avg_pool*"
## 🐛 Bug

For `adaptive_avg_pool` `1d`, `2d`, and `3d`, segmentation faults occur when `output_size` is a large value even though a valid tensor for `input` parameter is given.

## To Reproduce

[code]

## Expected behavior

If `output_size` is not as large as above, the function throws an exception with a proper error message like `RuntimeError: [enforce fail at CPUAllocator.cpp:64] . DefaultCPUA

[2020-08-05 04:14] glaringlee commented on #41177
@QWERDF007
Can you paste some benchmarks and code pieces?

[2020-08-05 04:33] chsasank commented on #42581
Turns out conda is doing some random things with env variables which seem to be messing things up. See https://docs.conda.io/projects/conda-build/en/latest/resources/compiler-tools.html

[code]

Even the `/home/users/sasank/miniconda3/envs/torch_cpu/bin/x86_64-conda_cos6-linux-gnu-gcc` is >6 version anyway.

[2020-08-05 04:59] #41326 closed

[2020-08-05 05:10] neginraoof commented on #41833
Looks like export of this torch op is not supported yet.

[2020-08-05 05:48] Huzaib commented on #41739
Is someone working on this?
And what exactly is to be done?

[2020-08-05 06:01] #32983 closed

[2020-08-05 06:05] mahmoodn commented on #42450
Sorry for duplication. I will try reinstalling one more time.

[2020-08-05 06:05] #42450 closed

[2020-08-05 06:07] mruberry commented on #42053
See https://github.com/pytorch/pytorch/pull/42586. That PR actually implements aliases using redispatch as you suggested, @zou3519, because I thought implementing it using language features would result in a proliferation of lists. The PR enumerates some pros/cons of both approaches.

[2020-08-05 06:08] thinking-tower commented on #42581
@chsasank what happens if you explicitly passed in the locations of the compiler?

`CC=<where your gcc8.0 is> CXX=<where your g++8.0 is> python setup.py bdist_wheel`

[2020-08-05 06:11] chsasank commented on #42581
Unfortunately, I got the same error as above.

Since then, I have removed the existing miniconda3 installation and reinstalled miniconda (again). And the error for gcc is gone. I can work on reproducing the issue with fresh miniconda installation.

[2020-08-05 06:41] QWERDF007 commented on #41177
@glaringlee  ![image](https://user-images.githubusercontent.com/46773878/89380232-c3fd2680-d729-11ea-8af7-a39488cf4b2d.png)

[2020-08-05 06:42] pomelyu commented on #40497
In my case, the `scale_` in scaler finally goes down to about 1e-39, which cause `inv_scale` goes to infinite while calling  `scaler.unscale_()`,
https://github.com/pytorch/pytorch/blob/7cdf786a07b2ca434983a0a508e2e42c75a4697d/torch/cuda/amp/grad_scaler.py#L252

As the results, the optimizer update the NaN unscaled gradient to the network and finally cause the loss become NaN in the next iteration

[2020-08-05 06:46] xsacha commented on #41852
7.6.5 Changelog has:

which seems most relevant.

[2020-08-05 06:47] VinodSKumar commented on #37756
@glaringlee Request your help to review the PR [42587](https://github.com/pytorch/pytorch/pull/42587) for TransformerDecoderLayer

In the meantime, I will look into the implementation of  TransformerDecoder

[2020-08-05 06:50] ParadoxRobotics commented on #499
Hi,
Is it possible to have also the transposed version of a locally connected network ?
It seems the fold operation doesn't support 4D tensor like the fold operation used here...

[2020-08-05 06:54] QWERDF007 commented on #41177
And I set environment variable CUDA_LAUNCH_BLOCKING=1.

[2020-08-05 07:04] ghk829 opened #42588 "CUDA Error in batchNorm"
## 🐛 Bug

---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-93-52a0569421b1> in <module>
----> 1 loss.backward()

/opt/conda/lib/python3.7/site-packages/torch/tensor.py in backward(self, gradient, retain_graph, create_graph)
    183                 products. Defaults to ``False``.