[2020-05-07 21:44] farid-fari commented on #37985
Looking quickly through the implementation it seems iffy... It's reading directly any file-like that has a `fileno` except for those that are from specific modules (namely `gzip`).

Shouldn't it treat all file-like objects the same? Isn't this the goal of the file-like object abstraction? I agree adding `lzma` would fix it but there's potentially infintely many more modules that offer file-like ob

[2020-05-07 21:47] SsnL commented on #37985
I am just guessing here but I think with a raw file the serialization takes an optimized path..

[2020-05-07 21:51] xuhdev commented on #37488
I believe this is relatively new. I bisected and 93cd05b0f4ebb82a0f075f05d284efae1ec9e538 seems to be the culprit.

[2020-05-07 21:54] tstandley commented on #31498
@vadimkantorov Can you explain what a momentum parameter of none does differently? "simple average" and "cumulative moving average" both could mean different things, and the documentation doesn't disambiguate.

[2020-05-07 22:07] MaybeS commented on #19302
I have same issue.

Env:
- Windows 10
- CUDA 10.1
- LibTorch 1.4.0
- Visual Studio 2019

There is no `caffe2_gpu.dll` and `torch_cuda.dll` in [libtorch 1.4.0 release](https://download.pytorch.org/libtorch/cu101/libtorch-win-shared-with-deps-1.4.0.zip)

Code
[code]

I put below files in [Linker - Input]:
- c10.lib
- c10_cuda.lib
- torch.lib
- opencv_world411d.lib

[2020-05-07 22:10] #37680 closed

[2020-05-07 22:11] rgommers commented on #32824
This is all fixed (3 is a user code snippet that needs changing as in the comment above), so closing.

gh-38062 replaces `is_tensor` usages in this repo in anticipation of adding mypy typechecking on that code, to avoid potential issues.

[2020-05-07 22:11] #32824 closed

[2020-05-07 22:14] ZolotukhinM commented on #37728
This is fixed by the PR mentioned above.

[2020-05-07 22:14] #37728 closed

[2020-05-07 22:28] vadimkantorov commented on #31498
Default mode uses momentum and thus is a form of exponential moving average. None is a simple average mode. But I'm not a core dev :)

[2020-05-07 22:33] rgommers commented on #31753
The main issue was fixed by gh-33762, annotation is now `Optional[Union[_device, _int, str]]=None`.

This was also fixed, it's present in `torch/cuda/random/pyi`.

So closing, thanks all.

[2020-05-07 22:33] #31753 closed

[2020-05-07 22:40] rjknight commented on #37488
I added another PR which should resolve the issues with https://github.com/pytorch/pytorch/commit/93cd05b0f4ebb82a0f075f05d284efae1ec9e538   See: https://github.com/pytorch/pytorch/pull/37865

[2020-05-07 22:41] rgommers commented on #23731
The PRs linked above fix most of the problem, there was one small issue left, an attribute named `defaults` was named `default` in the stub. gh-38067 will close this.

[2020-05-07 22:51] rahulunair commented on #26555
Also facing this issue when using `-march=skylake-avx512` to build pytorch

[2020-05-07 22:55] zasdfgbnm opened #38074 "[Feature] Elementwise operator complex_tensor.normalize()"
## 🚀 Feature

This elementwise operator converts each complex number `R * exp(i * theta)` to `exp(i * theta)`.

I am just feeling that having this operator will be convenient, and it is easy to implement such an operator using TensorIterator, and it could be implemented much faster than `t / t.abs()` on CUDA (native implementation of normalize has 1 memory read, 1 memory write, while `t/t.abs()` h

[2020-05-07 23:02] vadimkantorov commented on #38074
A naming consideration: if ever F.normalize gets moved to core ops (and even if not), there may be confusion

[2020-05-07 23:17] SplitInfinity commented on #37668
Dumb question but compile how? `CompilationUnit::define` gives back a list of functions :(

[2020-05-07 23:36] nihiluis commented on #32861
[code]

Not sure if this is relevant here

[2020-05-07 23:37] vkuzo opened #38081 "Quantization: FakeQuant and Observers should sync enabled flags with DDP"
## 🐛 Bug

We should make sure that the following work properly in DDP by moving the state variables to in observer.py and fake_quant.py to buffers:

[code]

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/c

[2020-05-07 23:41] xwang233 commented on #32861
Hi @nihiluis , thanks for the report! Yes, this is relevant. Most pytorch code using `add` should already be fixed in this repo except some tests. Can you provide your use case? Are you running code from a third party library? If so, they may have some python code that is not updated so far.

[2020-05-07 23:54] farid-fari commented on #37985
Maybe in this case the optimized path should only be used if the file is specified by filename? (Once more I have no expertise in the implementation so it's just an idea :smile: )

[2020-05-07 23:57] frgfm commented on #37823
@SsnL yes, I agree with the change in behaviour.
Correct me if I'm wrong, but shouldn't it be :
[code]
which is equivalent to
[code]
?

I opened a PR with my suggestion above #38084, let me know what you think!

[2020-05-08 00:24] Tylersuard opened #38090 "ImportError: libtorch_cpu.so: cannot open shared object file: No such file or directory"
## Issue description

Attempting to run Detectron 2, getting the above error

## Code example
python demo.py –config-file ../configs/COCO-InstanceSegmentation/mask_rcnn_R_50_FPN_3x.yaml   --webcam \  --opts MODEL.WEIGHTS detectron2://COCO-InstanceSegmentation/mask_rcnn_R_50_FPN_3x/137849600/model_final_f10217.pkl

Ubuntu 20
Pytorch 1.4.0
Python3.7

## System Info
Traceback (most recent call last):

[2020-05-08 00:42] #36834 closed

[2020-05-08 01:17] rohan-varma commented on #38015
I think we can close this, since the error message indicates in was an issue with my PR (I took out the 77 exit skip code). The PR should now be fixed.

[2020-05-08 01:17] #38015 closed

[2020-05-08 01:17] rohan-varma commented on #38016
I think we can close this, since the error message indicates in was an issue with my PR (I took out the 77 exit skip code). The PR should now be fixed.

[2020-05-08 01:17] #38016 closed

[2020-05-08 01:32] VitalyFedyunin opened #38095 "Remove all self.assertEqualIgnoreTypes instances"
As `self.assertEqual` now compares tensor's dtypes as well as values, there are some number of tests which are unhappy with it. So we temporarily replaced such cases of `self.assertEqual` with `self.assertEqualIgnoreTypes`.

However it is temporary measure, as `self.assertEqualIgnoreTypes` calls need to be reviewed on case-by-case basis and replaced with `self.assertEqual` calls and proper dtypes

[2020-05-08 01:42] ezyang commented on #35566
Sounds good to me!

[2020-05-08 01:42] #35566 closed

[2020-05-08 01:50] mrshenli commented on #38028
Hi @malhotraa, thanks for reporting the issue and identifying the culprit code. Would you like to contribute a PR to fix this? :)

[2020-05-08 01:57] ezyang commented on #38054
It looks like an OpenMP problem. Does the TSAN failure go away if you run with only 1 omp thread?

[2020-05-08 02:19] twoertwein opened #38098 "torch.save doesn't support cloudpickle"
## 🐛 Bug
Objects, such as lambda functions, that are supported by `cloudpickle` cannot be pickled with `torch.save` even when the user asks to use cloudpickle. `torch.save` calls `pickle_module.Pickler`, in case of `cloudpickle` this is the Pickler from `pickle` [1]!

This becomes more important when tensors cannot be pickled anymore [2].

[1] https://github.com/cloudpipe/cloudpickle/blob/70dc1df5

[2020-05-08 02:23] nflu opened #38100 "Allow Devices >= device_num or Get Device by UUID in CUDA Memory Utils"
## 🚀 Feature
It would be nice if we could get GPU by UUIDs or GPUs by indices that are >= device_num but in CUDA_VISIBLE_DEVICES. I've opened up a [pull request](https://github.com/pytorch/pytorch/pull/38097) for the second feature.

If you use the built-in [CUDA memory usage functions](https://github.com/pytorch/pytorch/issues/24463) with CUDA_VISIBLE_DEVICES=1 and GPU 1 it will fail [due to this

[2020-05-08 02:38] SsnL commented on #38100
Once you set `CUDA_VISIBLE_DEVICE`, user of CUDA (PyTorch in this case) does not see devices outside the specified indices. Moreover, it sees the first in the specified list as device 0, the second as device 1, etc., which means that if `CUDA_VISIBLE_DEVICES=3,2,1,0`, the user program will in fact use gpu #3 when they ask for device numbered 0. Moreover, the user program will have no way to access

[2020-05-08 02:38] #38100 closed

[2020-05-08 02:54] #36064 closed

[2020-05-08 03:04] soulslicer commented on #4987
I have the same issue, 'ConvTranspose2d' causes a deadlock

[2020-05-08 03:12] nflu commented on #38100
Ah thanks for the explanation! That makes sense.

I suppose you can close [this as well](https://github.com/pytorch/pytorch/issues/24463) since that user should just be doing `device = torch.device("cuda:0")`

[2020-05-08 03:13] #23731 closed

[2020-05-08 03:32] glaringlee commented on #38010
Add triage review label since assigning 'module:docs' won't cc POCs.

[2020-05-08 03:36] #37703 closed

[2020-05-08 03:41] glaringlee commented on #38024
mark high priority since this blocking windows users.

[2020-05-08 03:48] glaringlee commented on #38032
triage review for clarifying internal POC.

[2020-05-08 03:59] #37183 closed

[2020-05-08 04:09] glaringlee commented on #38090
@Tylersuard
I think it might be better to post this issue here:
https://github.com/facebookresearch/detectron2/issues

[2020-05-08 04:11] ngimel opened #38107 "Unary and binary operations don't preserve strides of `out` argument"
## 🐛 Bug
Unary and binary operations don't preserve strides of `out` argument for correctly sized `out`.
## To Reproduce
[code]
## Expected behavior
When `out` is incorrectly sized, we either error out or resize it, there is not a lot of consistency unfortunately.  However, completely restriding correctly sized `out` is unexpected and incompatible with numpy

This behavior was introduced by #33165

[2020-05-08 04:15] soulslicer commented on #4987
Resolved: had to do

[code]

instead of

[code]

[2020-05-08 04:15] aluo-x commented on #26555
@ezyang Could a fix based on [pull request #35359](https://github.com/pytorch/pytorch/pull/35359) be merged? Looks like it needs a rebase, but the original author abandoned it.

The provided fix resolves it for me with setting mtune native & march native.

[2020-05-08 04:26] pommedeterresautee commented on #32861
Training with 2.8 huggingface transformers library produces this warning (standard training script from the lib).

[2020-05-08 04:26] brycelelbach commented on #38024
Is this a regression?

What specific version of MSVC is being used?

[2020-05-08 04:30] brycelelbach commented on #38024
May be related to https://github.com/thrust/thrust/issues/1090

[2020-05-08 04:35] #37499 closed

[2020-05-08 04:44] glaringlee commented on #38107
@ngimel
Ah, I know this behavior.
The fast setup will flatten the non-contiguous tensors to 1d if all input tensors have same shape and stride. So the pointwise iteration will be applied to a 1d array in sequence which increase the iteration performance, but the output tensor needs to have exact the same shape and stride as input, so the output tensor is re-strided even the output tensor has a sam

[2020-05-08 04:46] brycelelbach commented on #38024
So the symptom we are seeing is caused by an MSVC debug iterator getting passed to Thrust algorithms. This never should have worked, though. It's possible that Thrust's contiguous iterator detection was broken by an update to MSVC:

https://github.com/thrust/thrust/blob/master/thrust/type_traits/is_contiguous_iterator.h

[2020-05-08 04:59] brycelelbach commented on #38024
Is this build using the MSVC 16.5 release?

[2020-05-08 05:00] brycelelbach commented on #38024
My team (Thrust engineering) is getting pretty confident that this is some sort of MSVC regression. We're discussing with the MSVC team.

[2020-05-08 05:11] #37786 closed

[2020-05-08 05:17] sharvil commented on #37138
Glad to to hear it. I'm going to drop this PR and bug. I've implemented my own pruning module to work around this issue in the meantime so I'm unblocked.

[2020-05-08 05:17] #37138 closed

[2020-05-08 05:28] v0dro opened #38108 "Accept 0-batch size for all nn layers."
## 🚀 Feature

All the NN modules within the `torch.nn` namespace must accept 0-batch size tensors for forward and backward.

Follow up from https://github.com/pytorch/pytorch/issues/12013 since the list is long. Recommeneded way of solving this would be to club at least a few of the layers into a single PR.

Note that this list is work under construction and more layers may crop up as I discover m

[2020-05-08 05:28] v0dro opened #38109 "Accept 0-batch size for all nn layers."
## 🚀 Feature

All the NN modules within the `torch.nn` namespace must accept 0-batch size tensors for forward and backward.

Follow up from https://github.com/pytorch/pytorch/issues/12013 since the list is long. Recommeneded way of solving this would be to club at least a few of the layers into a single PR.

Note that this list is work under construction and more layers may crop up as I discover m

[2020-05-08 05:29] v0dro opened #38110 "0-batch size for all modules within torch.nn."
## 🚀 Feature

All the NN modules within the `torch.nn` namespace must accept 0-batch size tensors for forward and backward.

Follow up from https://github.com/pytorch/pytorch/issues/12013 since the list is long. Recommeneded way of solving this would be to club at least a few of the layers into a single PR.

Note that this list is work under construction and more layers may crop up as I discover m

[2020-05-08 05:36] nflu commented on #24463
Quoting from this [reply](https://github.com/pytorch/pytorch/issues/38100#issuecomment-625597025)
"Once you set CUDA_VISIBLE_DEVICE, user of CUDA (PyTorch in this case) does not see devices outside the specified indices. Moreover, it sees the first in the specified list as device 0, the second as device 1, etc., which means that if CUDA_VISIBLE_DEVICES=3,2,1,0, the user program will in fact use gp

[2020-05-08 05:42] rgommers commented on #34032
This is fixed in https://pytorch.org/docs/master/ (1.5.0 still has the heavy page). For current status and follow-up ideas for further improvements, see https://github.com/pytorch/pytorch/pull/37419#issuecomment-625227494

Closing, thanks @mattip for tackling this.

[2020-05-08 05:42] #34032 closed

[2020-05-08 05:44] rgommers commented on #32838
This is fixed after gh-37419. Results in https://pytorch.org/docs/master/ (post-1.5.0). Thanks @mattip, all.

[2020-05-08 05:44] #32838 closed

[2020-05-08 05:46] rgommers commented on #27765
Since gh-38011 (duplicate) has the info on the exact Sphinx flags needed, I'll close this issue as a duplicate.

[2020-05-08 05:46] #27765 closed

[2020-05-08 05:47] rgommers commented on #38011
I closed gh-27765 as a duplicate. Of the remaining items after https://github.com/pytorch/pytorch/pull/37419#issuecomment-625227494, I think this is the most important one.

[2020-05-08 05:54] Lyusungwon commented on #37377
Same issue. Pytorch 1.5 / fairseq 0.9 / 2 P40. Error message is keep printing. Anyone solved this?

[2020-05-08 06:07] abdelrahmanhosny commented on #16417
I have been having this bug for some time. For me, it turns out that I keep holding a python variable (i.e. torch tensor) that reference the model result, and so it cannot be safely released as the code can still access it.

My code looks something like:
[code]

The fix for this was to transfer `p` to a list. So, the code should look like:
[code]
This ensures that `predictions` hold values in the

[2020-05-08 06:14] cloudhan opened #38111 "GCC 5.5 compilation error on master"
## 🐛 Bug

[code]

## To Reproduce

Steps to reproduce the behavior:

should be reproducible on 2b41b9bceb01851df83d40c1280b3d3b09e1395b

1. just compile with gcc 5.5
[code]

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist be

[2020-05-08 06:35] SplitInfinity commented on #37530
The problem is here, in `pytorch/torch/jit/annotations.py`:
[code]

In the case of the declaration `def cat(cls, box_lists: List):`, the annotation object corresponding to `List`, the annotation for `box_lists`, has nonempty `__args__` for some reason, and the value of `__args__` is `(~T,)` (probably some metavar, if I had to guess?). The attempt to convert `~T` to a type returns `None`, but that

[2020-05-08 06:35] stu1130 commented on #37038
@ezyang we are not able to reproduce the issue with pure C++ and have a few question.
In order to put the torch::Tensor object to the heap memory of C++, we do this
[code]
We found the crash only happen when Java GC call the delete method. If we manually call delete and disable Java GC we don't observe the crash. We suspect the `delete tensor_ptr;` is not thread safe. Also what is `tensor_ptr.rese

[2020-05-08 07:07] #29906 closed

[2020-05-08 07:13] roceh commented on #27837
If it helps I see the same thing with any windows nvidia driver above 431.68. Using 431.68 or below seems to be fine.

[2020-05-08 07:21] Abhishek-kumar-k commented on #4507
In which file we have to set num_workers=0 ?

[2020-05-08 07:22] Abhishek-kumar-k commented on #4507
RuntimeError                              Traceback (most recent call last)
<ipython-input-1-e19a41c0004b> in <module>
    292
    293     })
--> 294     run(args)

<ipython-input-1-e19a41c0004b> in run(args)
    212         t_start = time.time()
    213
--> 214         train_loss, train_auc = train_model(mrnet, train_loader, epoch, num_epochs, optimizer, writer, current_lr, log_every)
    215

[2020-05-08 08:19] v0dro opened #38113 "0-batch dim size for all torch.nn modules."
## 🚀 Feature

All the NN modules within the `torch.nn` namespace must accept 0-batch size tensors for forward and backward.

Follow up from https://github.com/pytorch/pytorch/issues/12013 since the list is long. Recommended way of solving this would be to club at least a few of the layers into a single PR.

Note that this list is work under construction and more layers may crop up as I discover mo

[2020-05-08 08:20] v0dro opened #38114 "torch.nn modules should accept 0-batch size."
## 🚀 Feature

All the NN modules within the `torch.nn` namespace must accept 0-batch size tensors for forward and backward.

Follow up from https://github.com/pytorch/pytorch/issues/12013 since the list is long. Recommended way of solving this would be to club at least a few of the layers into a single PR.

Note that this list is work under construction and more layers may crop up as I discover mo

[2020-05-08 08:20] v0dro opened #38115 "torch.nn modules should accept 0-batch dim tensors."
## 🚀 Feature

All the NN modules within the `torch.nn` namespace must accept 0-batch size tensors for forward and backward.

Follow up from https://github.com/pytorch/pytorch/issues/12013 since the list is long. Recommended way of solving this would be to club at least a few of the layers into a single PR.

cc @albanD @mruberry @jbschlosser

[2020-05-08 08:30] EzioA commented on #27958
It works. Thanks for these codes!

[2020-05-08 08:38] guol-fnst commented on #32186
Can you provide outputs of "collect_env.py"?

[2020-05-08 09:36] Kiyosora commented on #32910
I'm a newbie of pytorch, and I'd like to have a try on this. :)

[2020-05-08 09:36] echaozh commented on #37571
When setting blocking wait, the synchronize() function sleeps a while and check for completion. The constant length of each sleep is 10ms, which is too long. Or can you tune down the constant to microsecond level?

[2020-05-08 10:35] seeker-Liu commented on #21967
I think you should create a tuple of tensors. Feeding a vector of tensor means forward one tensor each time.

[2020-05-08 12:52] #38110 closed

[2020-05-08 12:53] #38108 closed

[2020-05-08 12:53] #38109 closed

[2020-05-08 12:53] #38113 closed

[2020-05-08 12:53] #38114 closed

[2020-05-08 12:56] nihiluis commented on #32861
Thank you boss.. yes it is correct.. i use this lib.

[2020-05-08 13:34] radimspetlik commented on #23233
Built myself:

https://github.com/radimspetlik/pytorch_rpi_builds

RPI4 builds:
1.5.0 stable
1.6.0 (latest) commit 9d7a79a

Download! Don't kill polar bears!

[2020-05-08 13:54] adrianosantospb commented on #36268
I have got the same issue on my code. To solve it, I have used the following code (downgrade the version):

`pip install torch==1.4.0+cu100 torchvision==0.5.0+cu100 -f https://download.pytorch.org/whl/torch_stable.html`

[2020-05-08 14:00] NortonAhu opened #38117 "pytorch-mobile memory leak or emptyCache api"
I use the latest pytorch version 1.5.0， build mobile static lib by use script/build_pytorch_android.sh and use this libs link in my project just like android directory use。but when i use it load my module and forward running in android device ，the native memory is increasing。but is not increase in Linux system(ubuntu)。i suppose it because module have cache something，but i can‘t find api to clear t

[2020-05-08 14:04] mrshenli commented on #36268
Hey @adrianosantospb which version were you using? This should have been fixed on master/nightly. I just tried the sample code above and it works for me.

But, It's true that the fix was not included in 1.5.0.

BTW, do you mind share some more details of your use case? What is the reason for using single-process multi-device (SPMD) mode of DDP? We are considering retiring this mode in future relea

[2020-05-08 14:08] rgommers commented on #37818
@DavidS3141 `torch.backward` does not exist, and `torch.autograd.backward` does have a `retain_graph` keyword. This typechecks fine:
[code]

Could you please give a reproducible example?

[2020-05-08 14:17] bewagner commented on #26889
@vsiles If there is any way I can help you with this, I would be glad to do so. I would love to see this feature in pytorch!

[2020-05-08 14:18] mattip commented on #37590
We only need to check coverage once. It would be useful to do this while building documentation in the CI `pytorch_python_doc_push` job. Would a failure there show up correctly in CI?

[2020-05-08 14:33] rgommers commented on #37590
Guess so, why wouldn't it? You may have to nudge it along with something like `set -o pipefail`, but must be possible.

[2020-05-08 14:35] mrshenli opened #38118 "Add helpers to save/load RPC-based models"
Currently, there is no convenient ways to save and load RPC models. Applications need to implement this in the user code, e.g., by using RPC to tell all participating works to trigger local save/load. Moreover, we intentionally disabled RRef pickling to avoid messing up reference count, which makes the save/load process even trickier.

## Pitch

We should add a helper to save/load RPC-based models

[2020-05-08 14:59] renesax14 commented on #31285
What does the error even mean? what is actually going wrong?
[code]

[2020-05-08 14:59] albanD commented on #38054
I haven't tried. Just reported an internal failure here for more visibility.

The bot seem to have picked my "cc" as its own and so added everyone there. Only @yf225 was metioned there initially.

[2020-05-08 15:00] albanD commented on #38054
After trying on my local machine, I cannot reproduce this. Maybe an artifact of the test env. Closing for now.

[2020-05-08 15:00] #38054 closed

[2020-05-08 15:10] zetyquickly commented on #32680
Same problem if QAT is performed with 'fbgemm' parameters
[code]
But it works with 'qnnpack' parameters

The error is following:
[code]

CUDA: 10.2
PyTorch: py3.7_cuda10.2.89_cudnn7.6.5_0
OS: Ubuntu 18

[2020-05-08 15:26] peterjc123 commented on #31285
It means that there is no binary for your GPU card. We only compile binaries for NV cards with CC 3.7 and up.

[2020-05-08 15:27] anjali411 commented on #38074
Hey @zasdfgbnm great point! We [discussed](https://github.com/pytorch/pytorch/issues/36323#issuecomment-613569847) to add this feature as `torch.sgn`

[2020-05-08 15:53] RobertoLat commented on #11931
I also bumped into this issue.

I solved using algorithm A of this [paper](https://utopia.duth.gr/~pefraimi/research/data/2007EncOfAlg.pdf)

`p = torch.from_numpy(np.random.rand(1_000_000))`
`want = 1000`

The following line took 1.5s on my laptop (CPU)

`a = torch.multinomial(p, want, replacement=False)`

while the following two should be equivalent and only took 53ms

`rand = torch.empty_like(p)

[2020-05-08 15:56] bcharlier opened #38122 "Pybind11 cpp extensions broken with pytorch v1.5.0"
## 🐛 Bug

Dear community,

I am a dev from [KeOps project](https://github.com/getkeops/keops/) building optimized operations written in C++/Cuda that are compatible with pytorch (among others scientific languages).

We successfully build python modules compatible with pyTorch since the pyTorch v0.2... But the last v1.5 broke our modules with a runtime error complaining about [missing symbols](http

[2020-05-08 15:58] malfet commented on #38111
Thank you very much for reporting the issue and proposing the fix.
Can you please publish a PR against `pytorch:master` branch?

[2020-05-08 16:00] peterjc123 commented on #38024
Well, I don't know the answer. Because this is only a warning and we suppress all warnings. Until recently, we passed in `--Werror cross-execution-space-call` and it failed in debug builds.

It is Visual Studio 2017 with C++ toolchain 19.16.27039.0.

[2020-05-08 16:02] peterjc123 commented on #38024
Yes, maybe. But it may also because `__thrust_exec_check_disable__` is not working in debug builds.

[2020-05-08 16:02] peterjc123 commented on #38024
I can give it a shot and update the results here.

[2020-05-08 16:05] greeneggsandyaml commented on #21819
I would like to add that I'm encountering the same issue on PyTorch 1.3 with CUDA 10.0. I'm using 8 GPUs and the problem only occurs on GPU 4.

[2020-05-08 16:06] agolynski commented on #37985
@SsnL: Thanks for looking at the issue and adding the correct label! apologies for mis-labeling it in the first place

[2020-05-08 16:15] malfet commented on #38024
I though it's a well known limitation of CUDA on Windows: one can not compile CUDA code with Windows iterator /template instrumentation enabled.
Next problem that is likely to appear after compilation is resolved are linker crashes (becuase .dll with debug information would be over 4Gb in size)
@peterjc123, have you tried  `RelWithDebInfo` mode? (Used to work for old caffe2 builds)

[2020-05-08 16:16] peterjc123 commented on #38024
@malfet It should work I think. But users want the Debug ones.

[2020-05-08 16:17] ngimel commented on #11931
Thanks for reporting. Couple questions to people on this thread
1) Are you more interested in CPU or GPU performance?
2) What's the typical shape[1] of the `input` parameter (i.e. do you want to sample from a single distribution, in which case shape[1] is 1, or are you sampling from multiple distributions?
Thank you!

[2020-05-08 16:17] ngimel commented on #11931
Bumping priority based on user activity.

[2020-05-08 16:19] RobertoLat commented on #11931
I am sampling from a classifier. So the first dimension is the batch which for me is anything between 100 and 2000.

[2020-05-08 16:23] malfet commented on #38024
@peterjc123, can you please check if compilation would succeed if
``
  list(APPEND CUDA_NVCC_FLAGS "--Werror" "cross-execution-space-call")
  list(APPEND CUDA_NVCC_FLAGS "--no-host-device-move-forward")
`` be removed from the https://github.com/pytorch/pytorch/blob/master/cmake/public/cuda.cmake#L468

[2020-05-08 16:24] peterjc123 commented on #38024
@malfet It should work too. And that's my plan for fixing it in the short term.

[2020-05-08 16:57] ngimel commented on #38018
This is a silent wrong answer, bumping priority.

[2020-05-08 17:25] tlemo commented on #38024
For reference, I can also repro this issue with Cuda 10.1 + VS 2019.

- Visual Studio 2019 (16.4.6)
- C++ toolchain 19.24.28319.0
- Cuda compilation tools, release 10.1, V10.1.105

[2020-05-08 17:26] Peterisfar opened #38129 "how to get the libtorch code from the python?"
![image](https://user-images.githubusercontent.com/31852119/81431554-ea93db80-9193-11ea-96f4-d2f1df0982ce.png)

in the python, it's easy to slice, but in the libtorch i don't find any information about it? so please tell me how to get the code from the above python code? thanks

[2020-05-08 17:44] zou3519 commented on #38122
Marking high-pri tentatively for regression

[2020-05-08 17:44] zou3519 commented on #38007
Marking high-pri tentatively for internal assert

[2020-05-08 17:52] zou3519 commented on #38129
@Peterisfar please ask your question on the pytorch forums (https://discuss.pytorch.org/). We like to keep issues open on our issue tracker for real bug reports / feature requests to minimize noise.

To answer your question, you are looking for https://pytorch.org/cppdocs/notes/tensor_indexing.html?highlight=index

[2020-05-08 17:52] #38129 closed

[2020-05-08 17:53] adrianosantospb commented on #36268
Hi, @mrsalehi . Using SPMD we have got improved multigpu speed substantially instead of DataParallel mode.

[2020-05-08 17:57] malfet commented on #38122
@bcharlier, thank you very much for reporting the issue.

[2020-05-08 18:00] tlemo commented on #38024
@peterjc123: cross-execution-space-call indicates ill-formed code, and ignoring it is not generally safe (ie. it's very likely that the code will fail at runtime)

Removing -Werror may work as a temporary workaround, but it would be great if we can resolve the root issue. @brycelelbach, any suggestions?

[2020-05-08 18:07] peterjc123 commented on #38024
@tlemo Yes, but actually those reported here are false negatives. Because thrust ignores them through `__thrust_exec_check_disable__ `. However, this seems not working in debug builds.

[2020-05-08 18:07] malfet commented on #38090
@Tylersuard thank you for reporting the issue. Can you please check if ` python -c 'import torch;print(torch.eye(3))'` works as expected. Also, please use post the output of `collect_env.py` tool, for example by issuing `python -c 'from torch.utils.collect_env import main; main()'` command

[2020-05-08 18:11] lw commented on #37784
I think the immediate problem this issue was about has been fixed in #38052. The agent however is still accepting a rank and a world size even though it doesn't really need it, just so that it can implement the `getWorkerInfo(s)` methods. It would be great if we could avoid that.

In principle, we can implement those methods without knowing each worker's rank and the world size in advance, using t

[2020-05-08 18:11] #37784 closed

[2020-05-08 18:33] ezyang opened #38135 "test_cpp_warnings_have_python_context_cpu fails under some build configurations"
On my local DEBUG build I have

[code]

This is because two warnings are emitted:

[code]

The first warning is:

[code]

[2020-05-08 18:34] zou3519 commented on #38007
So here's the breakdown of what is going on here:
- This operation works on CPU, on 1.5.0
- This operation fails on CUDA, on 1.5.0
- This operation works on both CPU and CUDA on master. https://github.com/pytorch/pytorch/pull/36351 is the PR that fixed this.

I'll leave this issue open just in case we want to add it to a potential 1.5.1 milestone. That would involve cherry-picking and testing #363

[2020-05-08 18:34] ezyang commented on #38135
cc @mruberry who introduced the test

[2020-05-08 18:35] malfet commented on #38122
For some reason `THPVariable_Wrap(at::Tensor)` function implementation were moved from `libtorch` to `libtorch_python`

[2020-05-08 18:37] ezyang opened #38137 "Functions in torch._C._nn and torch._C._onnx are not pickleable"
This is due to the same bug fixed in https://github.com/pytorch/pytorch/pull/38136 We need to apply the same fix in the other situations too

cc @ezyang @gchanan @zou3519 @bdhirsh

[2020-05-08 18:40] mrshenli commented on #36268
Hi @adrianosantospb, the recommended mode of DDP is Multi-Process-Single-Device (i.e., create multiple processes and let each process to exclusively work on one device), it should be even faster than SPMD mode of DDP. [This](https://pytorch.org/docs/master/notes/ddp.html#example) is an example.

[2020-05-08 18:48] dzhulgakov opened #38138 "TorchScript to support == None, != None"
## 🐛 Bug

We do support `is None`, `is not None` in TorchScript. We should also allow `== None` and `!= None` because unless the comparison operator is overwritten for the left hand side they behave equivalently.

Note that PEP8 recommends `is` version, but both work in python (https://docs.quantifiedcode.com/python-anti-patterns/readability/comparison_to_none.html)

## To Reproduce

[code]

produ

[2020-05-08 18:51] adrianosantospb commented on #36268
Great, @mrsalehi . I will try it.

[2020-05-08 19:05] jamesr66a opened #38142 "[JIT] Aliased Python references to script::Object escape reference counting"
Test class: https://github.com/pytorch/pytorch/pull/38141

Test script:

[code]
After you run this script, looking at the zip archive indicates that the serialized tensor was written out redundantly:

[code]

This is because of the two references to the `script::Object` in the module. Since these references don't bump the use_count for the underlying IValue, the memoization check in the pickler fa

[2020-05-08 19:14] mruberry commented on #38135
"This message is only visible when compiled in debug mode." ... Cool! I'll see if there's a good way to address this.

[2020-05-08 19:31] albanD opened #38148 "Warn the user when creating custom Function with differentiable Integer output"
Follow up of https://github.com/pytorch/pytorch/issues/37680

The users could have a valid reason to do this, but this is very likely a bug and should not be allowed.
The user should use `ctx.mark_non_differentiable()` for non-differentiable outputs.

cc @ezyang @SsnL @albanD @zou3519 @gqchen

[2020-05-08 19:37] malfet commented on #38117
@NortonAhu can you please provide more information on which tools did you use measure memory utilization on Android and Linux?

It would be also very helpful if you could provide an example code that demonstrates the issue using a sample model.

[2020-05-08 19:42] mruberry commented on #36722
Here's what I think is going on. The following script is a simple repro on multigpu systems with p2p access disabled:

[code]

To disable p2p access you can edit this line https://github.com/pytorch/pytorch/blob/0d9e3b48c4ef54a7b5395c501ee370a8eba34bad/aten/src/THC/THCGeneral.cpp#L130
to `if (false) {`. This will prevent PyTorch from enabling p2p access.

Running under cuda-memcheck then reveals:

[2020-05-08 19:51] adrianosantospb commented on #36268
Hi, @mrsalehi . Just to notify you that I have done the test using:

`model = torch.nn.parallel.DistributedDataParallel(model, find_unused_parameters=True)`

The DDP is faster then DataParallel. But the Pytorch V 1.5.0 problem remain.

[2020-05-08 19:55] mrshenli commented on #36268
Hi @adrianosantospb

Yes, the fix (#36503) didn't get into v1.5.0, as that was too close to the release date. We managed to land it soon after the v1.5.0 release and is now available on master.

[2020-05-08 20:06] ezyang commented on #38122
This may be related to our changes to `RTLD_GLOBAL`

[2020-05-08 20:12] SplitInfinity commented on #35319
Just wanted to follow up on this. I have seen a variety of commit and PR messages, some to my liking, and some not, and it would great to have some standard of what's expected and what's not.

[2020-05-08 20:25] #38111 closed

[2020-05-08 20:30] ngimel commented on #11931
@jacobkimmel, both `numpy.random.multinomial` and `torch.distributions.Multinomial` are doing sampling with `replacement=True`, so your issue is different from this one. Please open a separate issue for this.

[2020-05-08 21:03] malfet commented on #38122
You are right, ` TORCH_USE_RTLD_GLOBAL=YES python -c 'import torch; import test_module;print(test_module.foo(3))'` indeed make symbol visible.

[2020-05-08 21:25] tayo commented on #32192
Closing this for now as unreproducible.  Thank you @ptrblck @soumith @ngimel  for your awesome help!

[2020-05-08 21:25] #32192 closed

[2020-05-08 21:32] xwang233 opened #38155 "Python script name with "profile.py" will run twice"
## 🐛 Bug

Python script name with "profile.py" will run twice

## To Reproduce

1. (optional) Create an empty folder outside pytorch source code foder.
2. Create a new file with name "profile.py".
3. Add following code to the file

[code]

4. Run with `python profile.py`

## Expected behavior

Run once?

## Environment

This behavior exists when pytorch is compiled from source, or installed with p

[2020-05-08 22:22] malfet commented on #38155
Thank you for reporting the issue. Can you please share the your build environment, but invoking `python -c 'from torch.utils.collect_env import main; main()'`?
Also, please include output you are seeing vs what you expect to see.
This is how it looks on my machine, which matches my expectations:
[code]

[2020-05-08 22:29] xwang233 commented on #38155
Thanks! Here is my environment.

[code]

[2020-05-08 23:02] brycelelbach commented on #38024
So if y'all use `thrust::device_vector` instead of `std::vector`, you won't have this issue.

[2020-05-08 23:03] brycelelbach commented on #38024
Sounds like this isn't a regression or related to the above.

[2020-05-08 23:04] brycelelbach commented on #38024
I can't really tell where the problem is. Perhaps try changing all the `std::vector`s in https://github.com/pytorch/pytorch/blob/master/caffe2/utils/math_gpu.cu to `host_vector`s.

[2020-05-08 23:09] oguzserbetci commented on #28380
I would like to try submitting a PR, but I can't even figure out where I should look at. I'd appriciate if someone can point me to the related code.

[2020-05-08 23:22] choidongyeon commented on #36655
I spent some time working on this but it seems beyond my current understanding of PyTorch. @kshitij12345 , would you like to take this issue?

[2020-05-08 23:28] saigol17 opened #38168 "So I updated the pytorch and I am trying to run a 2dtodepth.py program which fails to run as it does not find the module torch but Ive tested on jupyter and conda list and it is there."
So I updated the pytorch and I am trying to run a 2dtodepth.py program which fails to run as it does not find the module torch but Ive tested on jupyter and conda list and it is there. The issue now i am having after updating the pytorch is entry point not found.

[2020-05-08 23:29] saigol17 commented on #38168
![pytorch](https://user-images.githubusercontent.com/62231162/81456932-1d64b200-9149-11ea-9669-4c58a58f828f.png)

[2020-05-08 23:30] ncdejito commented on #38090
installed the previous version in the meantime
`wget https://dl.fbaipublicfiles.com/detectron2/wheels/cu101/detectron2-0.1.1%2Bcu101-cp36-cp36m-linux_x86_64.whl
pip install detectron2-0.1.1+cu101-cp36-cp36m-linux_x86_64.whl`

[2020-05-08 23:40] diff7 opened #38170 "OneCycleLR step_num + 1 after it is already more than excepted."
I am not sure but maybe it is better to remove +1 in the print statement because it rises only when num_step is greater than total_steps,  therefore, debugging without +1 will be a bit clearer.

[code]

[2020-05-09 00:37] Justin-Huber commented on #35954
I'm finally getting around to this and have a few questions. Are there any tests/documentation for finfo? Is the expected behavior the same as numpy's finfo and are the only complex types np.complex_, np.complex128, np.complex64?

[2020-05-09 01:11] SplitInfinity commented on #37617
This was fixed in #38089

[2020-05-09 01:11] #37617 closed

[2020-05-09 01:29] peterjc123 commented on #38024
Thanks. I'll try your suggestion.

[2020-05-09 02:00] rohan-varma opened #38174 "[RFC] Join-based API to support uneven inputs in DDP"
## 🚀 Feature
with @pritamdamania87 @mrshenli @zhaojuanmao
This RFC is to summarize the current proposal for supporting uneven inputs across different DDP processes. Related discussion in https://github.com/pytorch/pytorch/issues/33148. An example pain point from a user is on the [PyTorch forums](https://discuss.pytorch.org/t/best-practice-for-uneven-dataset-sizes-with-distributeddataparallel/67308

[2020-05-09 02:36] jakiechris opened #38177 "valgrind says libtorch has memory leak"
linux c++ app with libtorch
valgrind report that at::native::mm_cpu_out in libtorch_cpu.so cause "possibly loss" in memory leak checking.

[2020-05-09 03:52] leezu commented on #25393
Seems to be a nvcc bug https://github.com/thrust/thrust/issues/1090#issuecomment-626080333

[2020-05-09 04:14] peterjc123 commented on #25393
@leezu Thanks for reminding. I have commented there.

[2020-05-09 04:30] #34999 closed

[2020-05-09 04:38] peterjc123 opened #38180 "Building with sccache on Windows is flaky"
## 🐛 Bug

Error text:
[code]
PyTorch jobs:
https://circleci.com/gh/pytorch/pytorch/5412064?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
https://circleci.com/gh/pytorch/pytorch/5408975?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

Binary jobs:
https://circleci.com/gh/pytorch/pytorch/5413952?utm_campaign=vcs-integration-link

[2020-05-09 04:44] RoopIITGN opened #38181 "Not able to change the size/dimension of a fully connected layer (torch.nn.linear)"
## ❓ Questions and Help
I am trying to change the size/dimension of a particular fully connected layer of a pre-trained model.

Previously this code used to work perfectly :
net.state_dict()["fc1.weight"].resize_( size_1, size_2)

But now it's throwing the error message :
RuntimeError: set_sizes_contiguous is not allowed on a Tensor created from .data or .detach().
If your intent is to change the

[2020-05-09 05:46] xwang233 opened #38183 "autograd profiler with use_cuda=True has memory not released"
## 🐛 Bug

autograd profiler with `use_cuda=True` has memory not released

## To Reproduce

Steps to reproduce the behavior:

Run the following code and monitor the memory usage of the python process, e.g. `top` on linux.

[code]
The memory usage of the python process keeps increasing. Using `gc.collect()` or `torch.cuda.empty_cache()` doesn't help. Change device of x to 'cuda' shows similar behavi

[2020-05-09 05:50] mruberry commented on #1516
This appears to have been fixed. Following the provided script, a recent comparison is:

(actual)
[code]

vs.

(expected)
[code]

[2020-05-09 05:50] #1516 closed

[2020-05-09 06:02] mruberry commented on #1938
This issue appears to refer to deprecated functionality. Please reopen if it's still a non-deprecated problem.

[2020-05-09 06:02] #1938 closed

[2020-05-09 06:04] mruberry commented on #2176
This should be subsumed by the discussion in https://github.com/pytorch/pytorch/issues/7313.

[2020-05-09 06:04] #2176 closed

[2020-05-09 06:05] mruberry commented on #2260
It appears this. issue has been addressed! Please reopen if it hasn't.

[2020-05-09 06:05] #2260 closed

[2020-05-09 06:18] mruberry opened #38184 "Feature Request: Log uniform candidate sampler"
Analogous to TensorFlow's https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/log-uniform-candidate-sampler.

This was first proposed in https://github.com/pytorch/pytorch/issues/3718.

[2020-05-09 06:20] mruberry opened #38185 "Feature Request: Sampled softmax loss"
Analogous to TensorFlow's https://www.tensorflow.org/api_docs/python/tf/nn/sampled_softmax_loss.

This was first proposed in #3718.

[2020-05-09 06:21] mruberry commented on #3718
Since this is an older issue conflating two feature requests, I filed two separate new issues tracking each proposal:

https://github.com/pytorch/pytorch/issues/38184 for the log uniform sampler
https://github.com/pytorch/pytorch/issues/38185 for the sampled softmax loss

[2020-05-09 06:21] #3718 closed

[2020-05-09 06:30] mruberry commented on #4291
Closing this issue due to age and the lack of a reproduction to validate against. If this still occurs with PyTorch 1.5 please post a script reproducing the issue!

[2020-05-09 06:30] #4291 closed

[2020-05-09 06:47] mruberry commented on #10243
Closing this due to age and because PyTorch's initialization schemes are now documented. If you have a more specific/actionable feature request or suggestion please let us know!

We agree: initialization is surprisingly important!

[2020-05-09 06:47] #10243 closed

[2020-05-09 06:57] mruberry commented on #12670
Closing this issue due to age and because ignore_index is documented (it need not be in the class label range, for example).

[2020-05-09 06:57] #12670 closed

[2020-05-09 07:03] seeker-Liu opened #38186 "Scripted Model gave totally wrong result on iOS, but was correct on C++ frontend"
## 🐛 Bug
We have a model created, trained and exported by scripting in Python. However, when we are trying to deploy it, it gives totally wrong result on iOS platform. On the other hand, it gives correct result on C++ frontend on my linux devices with exactly same input. After ruling out many other possibilities, we suspect iOS frontend has some bugs triggered by our model.

## To Reproduce
Our wo

[2020-05-09 07:08] mruberry commented on #17912
Closing due to age and lack of clarity about the request. Please reopen addressing @SsnL if this is still an issue.

[2020-05-09 07:08] #17912 closed

[2020-05-09 07:09] mruberry commented on #17930
I can confirm this is now resolved!

[2020-05-09 07:09] #17930 closed

[2020-05-09 07:10] seeker-Liu commented on #38186
At the beginning we thought this must be caused by some incorrect settings. But we just can't come up with an idea about where could possibly go wrong.

[2020-05-09 07:20] mruberry commented on #18837
This issue seems to be a question more suitable for the PyTorch forums at https://discuss.pytorch.org/.

[2020-05-09 07:20] #18837 closed

[2020-05-09 07:40] mruberry opened #38187 "test_linspace takes too long to run"
As a result of this PR https://github.com/pytorch/pytorch/pull/27957 test_linspace(_cpu) is timing out on some internal test runners.

@xuhdev Maybe we can keep the test effective but reduce its runtime?

cc @mruberry

[2020-05-09 07:43] mruberry opened #38188 "test_interpolate_nearest_scale_3d in test_nn takes too long to run"
It's timing out on an internal test runner. Maybe there's a way we can keep the test effective but speed it up?

[2020-05-09 07:44] mruberry opened #38189 "test_LocalResponseNorm_3d_custom_params (test_nn.TestNN) takes too long to run"
This test is timing out in one of our internal test runners.

[2020-05-09 07:45] mruberry opened #38190 "test_ReplicationPad3d (test_nn.TestNN) takes too long to run"
This test is timing out in one of our internal test runners.

[2020-05-09 08:32] NortonAhu commented on #38117
module code
`import torch

print(torch.__version__)

# simple module

class SimpleModule(torch.nn.Module):
    def __init__(self):
        super(SimpleModule, self).__init__()
        self.conv = torch.nn.Sequential(
            torch.nn.Conv2d(1, 32, 3, 2),
            torch.nn.ReLU(),
            torch.nn.Conv2d(32, 32, 3, 2),
            torch.nn.ReLU()
        )

    def forward(self, chunk):

[2020-05-09 08:52] xuhdev commented on #38187
#38093 might be a solution

[2020-05-09 09:00] xuhdev commented on #38187
I looked back at #27957 again and I think I made a mistake: The benchmark there was run with neither TBB nor OpenMP enabled. #38093 should be able to remedy this and make the code utilize both parallelization and SIMD (the version before #27957 did not use SIMD).

[2020-05-09 09:01] QuantScientist commented on #19302
See https://github.com/QuantScientist/DarkTorch/blob/master/001_verify/CMakeLists.txt

You need to copy all these:

torch.dll
caffe2_gpu.dll
c10_cuda.dll
opencv_world400.dll
hdf5.dll
zlib.dll
nvToolsExt64_1.dll

[code]

[2020-05-09 09:06] MaybeS commented on #19302
@QuantScientist
Thanks for the reply.

But there is no `caffe2_gpu.dll` in `libtorch 1.4.0-cu101 release`.
I put all other DLLs in the project directory.

[2020-05-09 09:18] bcharlier commented on #38122
thank you guys for the quick and useful feed back. I have lost hours on that...

The `TORCH_USE_RTLD_GLOBAL=YES` does the trick and fix the pykeops issue.

Do you plan to change this flag in a future release or should I considered the new standard to link the module ?

[2020-05-09 09:24] peterjc123 commented on #19302
Just copy all the DLLs in LibTorch to the directory of your executable.

[2020-05-09 10:16] absorbguo commented on #22906
same error occurred with torch==1.2.0

[2020-05-09 10:33] ehsankf opened #38192 "The accuracy of the model drastically dropped"
## 🐛 Bug
I am training a model on MNIST and during the training the accuracy of the model drops drastically to 10%.

Epoch: 37
468 469 Loss: 0.078 | Acc: 97.338% (58403/60000)
78 79 Loss: 0.046 | Acc: 98.860% (9886/10000)
Best Test Score tensor(98.8800)
Epoch:  38

Epoch: 38
468 469 Loss: 0.068 | Acc: 97.795% (58677/60000)
78 79 Loss: 0.053 | Acc: 98.780% (9878/10000)
Best Test Score tensor(98.880

[2020-05-09 11:11] DavidS3141 commented on #37818
That is interesting, for me your example does not work, e.g. it produces exactly the mypy typecheck error I was reporting (see below).

I am a bit stumped about `torch.autograd.backward` having the keyword, I thought I saw a function declaration somewhere without it. Might this be a version issue, because I use pytorch 1.5.0 for CUDA 9.2 instead of 1.5.0 for CUDA 10.1 (or whatever is the most rece

[2020-05-09 11:16] oguzserbetci commented on #28380
#35062 #34907 There is already an effort to fix this for max and min. I will try to understand the changes and port it to argmin and argmax.

[2020-05-09 11:38] kshitij12345 commented on #38192
@ehsankf
Hi,

I believe, this belongs to the discussion forum - http://discuss.pytorch.org

[2020-05-09 11:41] ehsankf commented on #38192
Are you sure it is not a bug in Pytorch?

[2020-05-09 11:42] ehsankf commented on #38192
Are you sure it isn't a bug in Pytorch?

[2020-05-09 11:46] Xetd71 commented on #15515
+

[2020-05-09 11:48] Xetd71 commented on #5209
![image](https://user-images.githubusercontent.com/31419846/81472958-1d75b800-9204-11ea-880c-67ba5db51192.png)

[2020-05-09 12:18] Hansoluo commented on #26400
Same error too while multigpu train of CenterNet

[code]

[2020-05-09 12:20] rgommers commented on #37818
Thanks, that helps. In a clean conda env with pytorch 1.5.0 and mypy 0.770 I can reproduce your issue. In master it is fixed:
[code]

Type annotations are improving quickly at the moment; the fix for this will be in 1.6.0. Thanks for the report @DavidS3141.

[2020-05-09 12:20] #37818 closed

[2020-05-09 12:24] jjqcat opened #38194 "libtorch1.5 CUDA10.1 Windows10_x64 GPU failed"
my env is windows10 x64 platform, GTX 1660ti and NVIDIA driver is 445.87 , and download libtorch 1.5 for c++, call torch::cuda::is_available() return  false, but the same version of pytorch works well and it return true

[2020-05-09 12:33] rgommers commented on #31765
I can reproduce this with 1.4.0 and see that it's fixed in 1.5.0. The reason it works there is that in `module.pyi` `forward` is now annotated as:
[code]
And in master it typechecks fine as well. Running mypy over `test/test_nn.py` (not working yet) will cover this in the test suite, so there's no need to add a separate test case. So closing. Thanks for the report @jeongukjae and everyone else for

[2020-05-09 12:49] peterjc123 commented on #38194
Please copy all the DLLs to the directory of your executable.

[2020-05-09 13:13] mmaaz60 commented on #36227
Hi @RobbyHuang,

Are you able to fix this issue? I am also having this issue. Any information to fix this would be appreciated. Thanks

[2020-05-09 14:25] jjqcat commented on #38194
I have solved this configure problem, and done following cmake, because my old project links libtorch1.4, much different from new version. please close this issue. thanks

[2020-05-09 15:24] #38194 closed

[2020-05-09 15:25] kadir-gunel commented on #35414
@fbarulli  the solution is to install cuda 10.0 and system link it to the pytorch installation. So that the installation script will be able to see the missing dynamic lib.
It does not matter if you have cuda version 10.2, just download cuda 10.0. Different cuda version can live together.

[2020-05-09 15:57] ezyang commented on #38137
Actually please apply the fix as seen in https://github.com/pytorch/pytorch/pull/38136

[2020-05-09 16:24] mmaaz60 commented on #19457
Does anyone was successful in building PyTorch0.4.1 with Cuda10.0? Thanks

[2020-05-09 16:26] 742617000027 commented on #37844
`padding_mode='reflect'` also results in an error for `Conv2d` when I use `padding=(20, 0)` on a (5,11,80,1)-Tensor:

I think it has to do with` _ConvNd`'s `self._padding_repeated_twice` parameter that is passed to `F.pad()` within `Conv2d`, but I'm not sure when` padding_mode != "zeros"`, but I'm not sure.

[2020-05-09 16:36] Jkasnese opened #38196 "Can't create tensor from tensor list, but tensor from numpy arrays list works fine"
## 🐛 Bug

I'm able to create a torch.Tensor from a list of numpy arrays, but I'm not able to create torch.Tensor from a list of torch.Tensors, raising:

`ValueError: only one element tensors can be converted to Python scalars`

## To Reproduce

Steps to reproduce the behavior:

This code raises above error:

[code]

While this code works fine:
[code]

## Environment
PyTorch version: 1.5.0
Is debug

[2020-05-09 16:51] Baranowski commented on #24534
I have ported `addmm` but `addbmm` and `addr` depend on it, so I suggest I will move those to ATen in the same PR.

[2020-05-09 17:27] Uroc327 opened #38197 "Why no `torch.randperm_like`?"
## ❓ Questions and Help

I am looking at various tensor generators in the `torch` module and I've noticed, that `torch.randperm` seems to miss a `randperm_like` alternative, although it supports all the necessary flags (`dtype`, `device` and `layout`).

I want to permute the elements of a tensor `a` along an axis, using an index tensor generated with `randperm`. This tensor `a` might be a cuda ten

[2020-05-09 17:50] t-vi commented on #11931
@RobertoLat Awesome method, I was completely unaware! I'll implement this.

Curiously, I haven't really found where the paper proves the crucial Theorem 1 (maybe it was more trivial to the authors than to me), so here is a small proof I came up with:
![image](https://user-images.githubusercontent.com/20787943/81481086-d0a6d700-922d-11ea-8ae7-e9e4f9ac7a53.png)

[2020-05-09 18:10] SplitInfinity commented on #37200
I think Zach's suggestion indicates that he probably already figured out everything I'm about to say, but I thought I'd give some more detail on what's happening in case we decide to bootcamp this task.

It is true that we are recording whether a type is inferred or not in the `is_inferred_type_` member of the `Argument` class. And so, the `FunctionSchema` generated for `dot` does indeed have this

[2020-05-09 18:49] occam-ra-zor opened #38198 "ValueError: can't optimize a non-leaf Tensor"
## ❓ Pytorch Doesn't Support Variational Dropout in LSTM cell. So I have borrowed one from fastAI implementation. But there is Slight Glitch.

[code]
then one should use it like

[code]
It works fine when I print its parameters . but when I pass parameters to Adam optimizer

`optimizer = torch.optim.Adam(dp_module.parameters() , lr = 1e-3)`

It gives error as

**ValueError: can't optimize a non-le

[2020-05-09 18:56] nikitaved commented on #36493
@zwacke , out of sheer curiosity, could you please tell why you use `p<1`? `||x||_p` is not even a norm then...

[2020-05-09 19:16] ngimel commented on #38198
Please ask questions on the forums, discuss.pytorch.org.

[2020-05-09 19:16] #38198 closed

[2020-05-09 19:25] ngimel commented on #38181
Please ask questions on the forums, discuss.pytorch.org. You cannot change sizes of the pretrained models weights - how would you know what to fill it with?

[2020-05-09 19:25] #38181 closed

[2020-05-09 20:14] KarthikMgk opened #38199 "NameError: name 'yesno_data' is not defined"
## 📚 Documentation

I was going through the [https://pytorch.org/tutorials/recipes/recipes/loading_data_recipe.html](new) documentation. I tried to run the google colab notebook and looks like there is this error.

[2020-05-09 20:33] yinghai commented on #35937
Any update?

[2020-05-09 22:23] NortonAhu commented on #38117
can you help me check my code have something wrong?

[2020-05-09 23:12] winswang commented on #38090
Hi I encountered the same issue. the eye(3) gave me the results as expected. The collect_env gave me:
PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch: 10.0

OS: Ubuntu 18.04.4 LTS
GCC version: (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
CMake version: version 3.10.2

Python version: 3.7
Is CUDA available: Yes
CUDA runtime version: 10.2.89
GPU models and configuration:
GPU 0: GeForce R

[2020-05-10 00:39] patrick-kidger opened #38202 "IndexError reports the wrong dimension when fancy indexing"
## 🐛 Bug

When using fancing indexing (i.e. indexing one tensor via another tensor), such that the index tensor has indices that are large enough to cause an `IndexError`, then the dimension reported in the error message is always 0, regardless of what the problematic dimension actually is.

## To Reproduce

[code]

## Expected behavior

Should instead read "dimension 1" in the error message above

[2020-05-10 00:40] fritzo commented on #11578
@ezyang what are your thoughts on allowing `import pytest`?

I'd like to move more Pyro distributions upstream to PyTorch so we can share code with @nimar and @jpchen and team inside Facebook. However I'm reluctant to move that code unless we can move the tests mostly intact, and those tests heavily use `pytest.mark.parametrize`.

[2020-05-10 02:24] wangwwno1 commented on #38197
Hello @Uroc327 , 'torch.index_select(a, dim, permuted_idx)' or 'a.index_select(dim, permuted_idx)' should be sufficient if you only want to permute along one axis.
The 'permuted_idx' must at the same device with 'a', you can move it by calling 'permuted_idx.to(a.device)'.

[2020-05-10 03:32] occam-ra-zor commented on #38198
Sure. But no is responding there. So, I thought there is a section for help and thought of giving it a try.

[2020-05-10 04:23] mruberry commented on #20903
This appears to be fixed!

[2020-05-10 04:23] #20903 closed

[2020-05-10 04:29] mruberry commented on #25166
ignore_index does appear to be confusing: see also https://github.com/pytorch/pytorch/issues/18206. However it appears this issue has been addressed, so I'm going to close it. But please reopen if you'd still like to see something addressed!

[2020-05-10 04:29] #25166 closed

[2020-05-10 04:36] Hansoluo commented on #26400
There is some error in my code, model had different return values and dimentions. I fixed it by assert the same value.

[2020-05-10 05:48] xwang233 commented on #37743
The GPU part of this should be fixed. You can test that using the nightly build. Waiting for someone to also fix the CPU part.

[2020-05-10 06:26] adamlichtl commented on #34451
I'm hitting the same issue - torch @ v1.5.0, macOS 10.13, clang-1000.11.45.5 / Xcode 10.1

[2020-05-10 07:59] mruberry commented on #37430
I believe this was addressed by https://github.com/pytorch/pytorch/pull/38120.

[2020-05-10 07:59] #37430 closed

[2020-05-10 08:10] peterjc123 opened #38204 "missing dependency `protobuf` for caffe2 on Windows"
## 🐛 Bug

[code]
Related test runs:
https://app.circleci.com/pipelines/github/peterjc123/pytorch_dll_load_smoketests/5/workflows/4acbc28f-a2c4-46c9-94a5-820697652370/jobs/11
https://app.circleci.com/pipelines/github/peterjc123/pytorch_dll_load_smoketests/5/workflows/4acbc28f-a2c4-46c9-94a5-820697652370/jobs/12
https://app.circleci.com/pipelines/github/peterjc123/pytorch_dll_load_smoketests/5/workf

[2020-05-10 09:27] pwiercinski commented on #21779
Is this issue still of interest? I would be happy to submit a PR.

[2020-05-10 09:51] mruberry opened #38205 "RFC: Disable zero-dim CUDA tensors interacting with CUDA tensors on other devices"
Today in PyTorch the following program is valid:

[code]

Even though `a` and `b` are on different devices they can be multiplied since `a` is a zero-dim tensor.

This seems to violate one of PyTorch's fundamental rules: no implicit device synchronization or data movement. As such, I propose we change our behavior to throw an error when a user attempts to do this, just like if they were trying to

[2020-05-10 09:51] mruberry commented on #36722
@ngimel Identified the issue in a follow-up. While TensorIterator identifies a "common device" and moves zero-dim tensors to it, that device is never used. The kernel is launched on the device of its first CUDA argument. When p2p access is enabled this would work because a kernel would launch on device 0 and access two tensors on device 1 (since TensorIterator would move the zero-dim tensor to dev

[2020-05-10 10:57] CaoZhongZ commented on #35937
Many findings.

Major observation according to the test case was: unfold + GEMM vs. 3 reorder + conv. Formal solution expand 9x input and later containing 3 reorder. We used to focus on chained operations which required less reorder.

For the extreme small input, in this case. GEMM is small, weight is huge, 9x input was much cheaper than reorder weights, which contributed the major execution time.

[2020-05-10 10:57] mruberry commented on #35954
@Justin-Huber There are existing tests for finfo in test/test_type_info.py and it's documented here https://pytorch.org/docs/master/type_info.html?highlight=finfo#torch.torch.finfo.

I would focus on complex64 and complex128 and yes, the expected behavior is the same as NumPy's. It'd be great to see a PR for this.

[2020-05-10 11:01] ntenenz commented on #37768
@ngimel @ezyang, given the decision will be largely made based on API and maintenance concerns rather than technical concerns, I was wondering if there's anything I should do to further flesh out the idea to enable an informed discussion.

[2020-05-10 12:32] n-gao opened #38206 "Loops are very slow compared to tensorflow"
## 🐛 Bug

Having loops in PyTorch are very expensive especially if the data of the last iteration is needed for the next one. TF is about 8 to 10 times as fast. This affects mainly CUDA execution but also the CPU performance is worse by a factor ~3.

## To Reproduce
PyTorch:
[code]

Tensorflow:
[code]
## Expected behavior
Performance equivalent to tensorflow would be desired.

## Environment
 - Py

[2020-05-10 14:03] peterjc123 commented on #38206
Well, you compared the compiled function in Tensorflow against the unoptimized function in PyTorch. After compiling the function in PyTorch, the difference is much smaller.

PyTorch:
[code]

Tensorflow:
[code]

[2020-05-10 14:10] n-gao commented on #38206
I tried that but it does not make a big difference. If you check the output its a CPU tensor. To make it run on the GPU the code would be:
[code]
Elapsed seconds: 2.568353515625

[2020-05-10 14:12] n-gao commented on #38206
That seems to be a seperate bug, that TorchScript does not default to the default tensor set by `torch.set_default_tensor_type`.

[2020-05-10 14:22] malfet commented on #38177
@jakiechris Can you please share full valgrind report here, preferably with `--track-origins=yes` option specified.
Also please run and paste the output of https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py

[2020-05-10 14:28] malfet commented on #38199
Thank you for reporting the issue. Can you please share an error message here? (And perhaps also attach a screenshot that shows where it happened)

[2020-05-10 14:30] malfet commented on #38197
Thank you for reporting the issue. We would accept a patch that fixes this.

[2020-05-10 14:59] zamnius commented on #2001
NameError: name 'th' is not defined
For example in the line: x = [Variable(th.rand(1,*in_size)).type(dtype) for in_size in input_size]
What is missing?

[2020-05-10 15:01] malfet commented on #38192
@ehsankf Is it always reproducible for you? Have you made any changes to the dataset?

[2020-05-10 15:02] malfet commented on #38202
Thank you for reporting the issue.

[2020-05-10 15:04] malfet commented on #38180
This looks like a networking error, isn't it?

[2020-05-10 15:08] peterjc123 commented on #38180
Yes and no. Yes because it contains `An existing connection was forcibly closed by the remote host. (os error 10054)`. But actually, it is because the server process exited so it is not accessible anymore. We will need to know why it exited.

[2020-05-10 15:13] malfet commented on #38196
Thank you for reporting the issue. We would accept a patch that fixes this.

[2020-05-10 16:44] zhangguanheng66 opened #38207 "[JIT] Inconsistent results of string `split` func on JIT mode"
## 🐛 Bug

The string `split` func on JIT mode has different results with the python mode, when the strings have multiple spaces.

## To Reproduce

Steps to reproduce the behavior:

1. Run the following code sample

[code]

## Expected behavior

The python and JIT modes are expected to return same results.

## Environment

Please copy and paste the output from our
[environment collection script](ht

[2020-05-10 16:58] n-gao commented on #38206
Maybe this is more about `jit` cuda compilation of `torch.where` being blocking/expensive compared to the `tf.function` implementation of `tf.where`. Without the `where` operator both platforms perform about equally on CPU/CUDA and dynamic/static graph. However, using the `tf.where` function on a precompiled graph on the GPU is significantly faster than PyTorch's `torch.where` on a compiled graph

[2020-05-10 17:32] geyang opened #38208 "nn.Module Abstract Class attribute overrides Child."
## 🐛 Bug

I would like to define struts for a class of modules. I include attributes to make it clear that those should exist (purely syntactically). However, these attributes defined on the abstract class overrides the child's attribute with the same name.

## To Reproduce

this does not work with class attributes.

[code]

gives 'None'.
## Expected behavior

I expect it to give `<Sequential Conv

[2020-05-10 17:50] adamjstewart commented on #35185
I'm seeing the same issue. Was this fixed upstream?

[2020-05-10 18:37] bauerbach95 commented on #37154
@albanD Hi there. I am running into this same issue when trying to run a backward pass after using cdist to compute the pairwise euclidean distances among samples.

Forgive me if this is obvious...but how can I get your changes for the updated PyTorch cdist function? Thanks for your help!

[2020-05-10 18:58] rgommers commented on #17501
This was fixed by gh-36612, closing.

[2020-05-10 18:58] #17501 closed

[2020-05-10 19:39] ngimel commented on #37154
You can get pytorch nightly builds, use the commands provided on pytorch.org

[2020-05-10 19:40] ngimel commented on #37768
cc @vincentqb for optimizer API concerns.

[2020-05-10 19:43] ngimel commented on #35937
@CaoZhongZ in the meantime, is it possible to provide a crude heuristics so that in cases like this native TH implementation is called instead of OneDNN, even if oneDNN is enabled?

[2020-05-10 20:02] bauerbach95 commented on #37154
Thanks @ngimel !

[2020-05-10 21:26] Evpok commented on #31571
I have been tracing this a bit and it boils down to [`reduce_storage`](https://github.com/pytorch/pytorch/blob/e75fb4356b752097d093c7013ba85c9eb82961ef/torch/multiprocessing/reductions.py#L322) calling [`mp.reduction.DupFd`](https://github.com/python/cpython/blob/077061a7b24917aaf31057885c69919c5a553c88/Lib/multiprocessing/reduction.py#L191) which in turn calls [`mp.popen_spawn_posix.Popen.duplica

[2020-05-10 21:28] successar opened #38209 "internal assert failed bug due to argmax gradfn"
## 🐛 Bug

Following code returns an internal assert error. Possibly due to argmax result having a gradfn attribute (which should not be the case, argmax is not differentiable).

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Should not return any errors

[code]
## Environment

Please copy and paste the output from our
[environment collection script](https://raw.gi

[2020-05-10 22:35] ngimel commented on #38051
This issue did not get copied to anyone, and I don't want it to just disappear, so setting triage review to decide what to do about it.

[2020-05-11 01:38] nolifenameless commented on #35575
debug info exist in these links below,
https://app.circleci.com/pipelines/github/pytorch/pytorch/147327/workflows/b0fd43f7-d18a-4b47-a6c2-8c881c1cac63/jobs/4972041/steps
https://app.circleci.com/pipelines/github/pytorch/pytorch/147327/workflows/b0fd43f7-d18a-4b47-a6c2-8c881c1cac63/jobs/4972041/tests
would we disable them all or keep one of them?

[2020-05-11 02:03] ezyang commented on #38057
As the profile suggests:

[code]

means that the backwards is backending to our slow (but full featured) internal convolution implementation. This probably is because MKLDNN doesn't have an efficient kernel for this case.

[2020-05-11 02:04] ezyang commented on #26555
Sure thing

[2020-05-11 03:26] ezyang commented on #37038
Aha! Your new code fragment helps a lot. There seems to be a misconception about what `torch::Tensor` is, so let me clear that up first. Unlike classic C++ objects, `Tensor` is not actually the class that holds the tensor data (that's `TensorImpl`); think of `Tensor = shared_ptr<TensorImpl>`. So typically if you're doing a language binding, you stack allocate Tensor (aka the shared ptr) and let RA

[2020-05-11 03:26] #37038 closed

[2020-05-11 03:29] CaoZhongZ commented on #35937
How crude are we talking about? 😄

According our theory and tests, H*W / OC < 0.16 would be a line that DNNL's strategy no-longer positive. So, for 512 OC, H, W > 9 would worth the efforts to reorder weight. However this is bounded by our test environment of Skylake server for Single thread.

[2020-05-11 04:00] adamjstewart commented on #35185
Where exactly did you add this line? In which CMakeLists.txt?

[2020-05-11 04:01] adamjstewart commented on #23482
Now I'm trying to build PyTorch 1.5.0 on the same system. The same patches are needed, plus I run into a new issue: #35185. Still figuring out the appropriate patch for this one.

[2020-05-11 04:11] pinzhenx commented on #38057
A quick fix: just enable MKLDNN dilated convolution.
But we cannot guarentee that it won't go wrong, because we found some memory issues with some specific shapes in dilated convolution of current DNNL v1.2, which will be fixed in future releases.
[code]

[2020-05-11 04:58] #37320 closed

[2020-05-11 05:19] ptrblck commented on #38208
Double post from the [forum](https://discuss.pytorch.org/t/parent-struct-attribute-always-overrides-child-module-class/80590/2?u=ptrblck) with suggested solution.

[2020-05-11 05:26] ptrblck commented on #38192
Double post from the [forum](https://discuss.pytorch.org/t/accuracy-of-the-model-drastically-drops/80388/6?u=ptrblck).
My best suggestion is that the model is overtraining (epoch22 - epoch42 yield a noisy accuracy around 97.2%) and an "unlucky" update step might knock the model out.
Suggested workaround: lower the learning rate or try to use an adaptive optimizer.

[2020-05-11 05:32] ptrblck commented on #38009
Hi @adam-mahmood,

would you mind creating a topic in the [forum](https://discuss.pytorch.org/) so that we could discuss your use case there?
This would keep the GitHub Issues to bugs and feature requests.

[2020-05-11 05:47] techie879 opened #38212 "Please help, building failing with MAGMA support"
Hello,

I am very new to building pytorch, I managed to build it in CentOS 6.9 without MAGMA support and its my turn to build with MAGMA support.  My build fails with somewhere in the middle of compiling 4638 objects.  And, of course, I have no idea, why this fails.

Below is my build script, build summary output snippet, and output of the object failing to build.

build script:
[code]
I installed

[2020-05-11 05:48] ngimel commented on #38155
fwiw, similar behavior has been reported on slack:
https://pytorch.slack.com/archives/C3PDTEV8E/p1583520385061400

[2020-05-11 06:09] NortonAhu commented on #38117
@malfet hi, we found that the pytorch mobile static lib libnnpack.a is the reason for memory leak, w rebuild pytorh mobile without nnpack , is work fine

[2020-05-11 06:17] #37996 closed

[2020-05-11 06:21] pinzhenx commented on #38212
Seems that it failed in `Linking CXX shared library lib/libc10_cuda.so` with error `cannot find -lcudart`

[2020-05-11 07:08] techie879 commented on #38212
Aah, thank  you for pointing that out!  Needless to say, I missed it.

But, it looks like build system found cuda 10.0 correctly(see below), then is there something else I need to do, like setting LDFLAGS? or something ?

[code]

[2020-05-11 07:15] feiyangsuo opened #38214 "_pickle.PickleError: ScriptModules cannot be saved using torch.save."
The full error log:
[code]
I'm using pytorch 1.1.0 and torchvision 0.2.0 under cuda 9.0.
This error was raised when executing `torch.save(model, model_path)`. I've never seen error like this before, even have no idea what a `ScriptModule` is...
This error didn't show up when I run the same code under another environment with pytorch 1.5.0 and torchvision 0.6.0 under cuda 10.0. But the later enviro

[2020-05-11 07:36] emcastillo commented on #38018
I have been able to create a small reproduced for this

[code]

Should make debug easier

[2020-05-11 07:46] xwang233 commented on #38018
Well, I wasn't able to exactly reproduce the original poster's code, but I found something more interesting.

[code]
gives
[code]

However,
[code]
gives
[code]
Note that you can get this in C++
[code]
which is very interesting.

My environment
[code]

[2020-05-11 07:55] emcastillo commented on #38018
in `eq_with_nan` having `v` and `kValue` both `nan` is returning false when it should be true.
The implementation for double is using `__double_as_longlong` and comparing their bits,
but the bits values obtained for both are different!
` 9221120237041090560` for v
`9223372036854775807` for kValue

[2020-05-11 08:11] CoarseSand commented on #15359
@ezyang which pytorch version has the deterministic F.interpolate function? is it starting from pytorch 1.6?

[2020-05-11 08:35] heliqi opened #38218 "[onnx]export model error,Attribute 'axes' is expected to have field 'ints'"
## 🐛 Bug

When export torch model to onnx, threw an error:
[code]
## Environment
Pytorch Version == 1.5.0+cu101
OS == Linux
onnx == 1.6.0
CUDA Version == 10.1
## Additional context
Here's a similar error:  https://github.com/pytorch/pytorch/issues/5146.
But I didn't find any problem with “Squeeze".

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2020-05-11 08:39] Zethson opened #38219 "Model not reproducible on different hardware, but same platform (Docker)"
## 🐛 Bug

A simple MNIST model is not reproducible on CPU nor GPU, even with fixed seeds and deterministic CUDA settings enabled.
Basically, it is reproducible on a single hardware (e.g. my laptop), but does yield different results on another hardware (which by itself has different, but reproducible results).

e.g. Laptop:
[code]

Cluster:
[code]

## To Reproduce

Steps to reproduce the behavior:

[2020-05-11 08:58] ehsankf commented on #38192
I progressively lower the learning rate and it worked. I believe the network jumped out from minimum.

[2020-05-11 08:58] #38192 closed

[2020-05-11 09:14] adam-mahmood commented on #38009
Hi @ptrblck

Thank you for your reply. I have created a topic and I would appreciate it if you could take a look at
[](https://discuss.pytorch.org/t/resnet-model-always-predicting-same-label/80669?u=adam_mahmood)

[2020-05-11 09:48] zasdfgbnm commented on #18776
Can we distinguish the case where the user explicitly set the flag during the run of the model, from the case where the flag is set outside the model?

In specific, I mean, we should trace/script `torch.backends.cudnn.enabled = False` as an operator `aten::setBenchmarkCuDNN(false)` or `prim::setBenchmarkCuDNN(true)`

[2020-05-11 09:56] Plwy commented on #10910
met the same error.i solved this by
`pip3 uninstall torch
 pip3 uninstall torchvision
 pip3 install https://download.pytorch.org/whl/cu100/torch-1.1.0-cp36-cp36m-linux_x86_64.whl
pip3 install https://download.pytorch.org/whl/cu100/torchvision-0.3.0-cp36-cp36m-linux_x86_64.whl
`
thanks @Holmeyoung

[2020-05-11 10:31] #38117 closed

[2020-05-11 10:42] nikitaved commented on #9983
Is anyone working on it? I could give it a try.

[2020-05-11 10:52] Lezcano commented on #9983
Not that I know. The state of affairs is that we have an implementation that works for batches and all in
https://github.com/Lezcano/expm
(in particular, the Taylor one, as it is faster in GPU), and that should be ported to ATen.

The implementation currently uses a poor man's version of `torch.matrix_power` that accepts a sequence of indices in the exponent term. A good implementation of the matr

[2020-05-11 10:59] loretoparisi commented on #23652
@gchanan I can reproduce this error systematically. I'm running FB [LASER](https://github.com/facebookresearch/LASER) model. It happens at the very first pre-trained model inference, after loading. The second inference does not show this error.

[2020-05-11 11:41] rgommers opened #38221 "Adding typing_extensions as a dependency of pytorch"
## 🚀 Feature

Make the `typing_extensions` dependency non-optional to better support type annotations in pytorch.

## Motivation

All type annotations are being moved inline (see gh-16574) and the aim is to make all code using pytorch type-checkable. In gh-38201 we ran into needing `typing_extensions`, in that case to use `Literal`. The `typing_extensions` package is already an optional dependency

[2020-05-11 12:09] mattip commented on #37584
gh-35363 will fix gh-29093. The [cpuinfo PR](https://github.com/pytorch/cpuinfo/pull/37) was already merged to master. What remains is
- set up a CI build job with an environment close to the one used in [conda/conda-forge](https://github.com/conda-forge/pytorch-cpu-feedstock/blob/master/conda-forge.yml)
- use the environment variables in @pearu 's scripts  in the CI job
- carefully read through t

[2020-05-11 12:17] Jkasnese commented on #38196
Cool! I'll do my best on Saturday! Thanks for incentivizing! (:

[2020-05-11 12:25] kadirbeytorun opened #38222 "torch to onnx, affine_grid_generator operator is not supported"
## 🐛 Bug

RuntimeError: Exporting the operator affine_grid_generator to ONNX opset version 11 is not supported. Please open a bug to request ONNX export support for the missing operator.

## To Reproduce

Steps to reproduce the behavior:

1. Just trying to convert this pytorch project in link to onnx model, using the code below in eval.py

"https://github.com/D-X-Y/landmark-detection/tree/master/S

[2020-05-11 12:39] liuchanglab opened #38223 "RuntimeError: [enforce fail at context_gpu.cu:239] . peer mapping resources exhausted"
When I use workspace..FeedBlob("image", image,  device_option= device_option) for GPU memory
It raise error: [enforce fail at context_gpu.cu:239] . peer mapping resources exhausted
What is the problem?

## To Reproduce
1、pip install torch
2、from caffe2.python import core, workspace
3、workspace feedblob get an error

python 3.7
[GCC 7.3.0] :: Anaconda, Inc. on linux
It is ok for create memory use t

[2020-05-11 12:42] feiyangsuo commented on #38214
Another strange thing is, when I check `torchvision.__version__` it's 0.3.0, but `conda list torchvison` tells  me my torchvision is 0.2.0.  Since I can use module `torchvision.models.detection`, I think it's actually 0.3.0.

[2020-05-11 12:43] rgommers commented on #37584
I agree.

There's a whole bunch of stuff there that's better left for a follow-up. A job that exactly matches the setup on our current build server seems like the better first step. Doing it the conda-forge way  requires more changes, patching conda-smithy, relying on mutex packages, etc.

I think the scope of this issue is "stop the bleeding".

[2020-05-11 12:44] avisrazo opened #38224 "Issues with namespace c10 in ‘jit/ir/ir.h’"
Hi,
I’m trying to include PyTorch library in my CPP project.
I’m using ndk21 and C++14, torch version 1.5.0 for CPU.

I get the following compilation error:

pytorch-1.5.0-py3.7_cpu_0\Lib\site-packages\torch/include\torch/csrc/jit/ir/ir.h:66:17: error:

 no namespace named 'prim' in namespace 'c10'; did you mean simply 'prim'?*
using namespace ::c10::prim;

           ^~~~~~~~~~~*
           prim*

[2020-05-11 12:45] rgommers commented on #37584
Those are both issues. gh-37506 is the PR that upgrades NCCL

[2020-05-11 12:57] Linkeyboard opened #38225 "Perform backward process in libtorch"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)
Now I have models trained by pytorch, and I hope to load and finetune my models with

[2020-05-11 13:22] vadimkantorov commented on #38185
Related feature request: https://github.com/pytorch/pytorch/issues/634

[2020-05-11 13:38] zou3519 commented on #37995
@physicsrob does `my_named_tensor.align_to('x', 'y', 'z')` work? The argument against implementing unsqueeze support for named tensors is that single `unsqueeze` is hard to read compared to `align_to`, which can provide the same functionality.

[2020-05-11 13:43] zou3519 commented on #29023
@physicsrob we'd be happy to review a contribution to this. In terms of API, I think something from the original named tensor prototype (https://github.com/harvardnlp/namedtensor#named-indexing) looks reasonable, where you specify which dimension to index into with a dictionary.

We'd have to take special case to ensure that this doesn't slow down the regular indexing-without-named-tensors use cas

[2020-05-11 13:58] ezyang commented on #38122
The flag will not be changed in a future release, since RTLD_GLOBAL means you have to make sure all of your C++ symbols line up properly across all of your libraries, or you'll get mysterious segfaults. We will always keep this as an option, however, for cases when you have control over all of the binaries you're linking against.

That being said, a more direct and correct fix is probably to link

[2020-05-11 14:06] kshitij12345 commented on #36655
@choidongyeon
Sure I would like to give it a shot.

@mruberry @anjali411
I am planning to use the existing `abs` and `div` operation to implement the op.
Also, I am planning to return `0` when `abs(z) == 0`
and otherwise `z/abs(z)` (even for extreme values. I'll also check if `z/abs(z)` agrees with numpy on extreme values).
Let me know if you have any suggestions on the same.

[2020-05-11 14:10] ezyang commented on #11578
Since we have hypothesis in the test suite now, my judgment is that I think pytest should be fine.

[2020-05-11 14:20] anjali411 commented on #36655
Implementation wise I think we should return tensor corresponding to (r, θ) = (1, z.angle()) which makes me think if we should add API to get complex tensors when input (r, θ) until we don't have polar coordinates.

cc. @dylanbespalko @zasdfgbnm

[2020-05-11 14:27] Naruto-Sasuke opened #38227 "Docs of KLDivLoss seems incorrect"
## 📚 Documentation
![{F510068B-29A9-4020-A7A2-C6172C4C7543}_20200511222346](https://user-images.githubusercontent.com/7830725/81572821-4a79c480-93d6-11ea-95fb-06f301a146d9.jpg)

KLDivLoss, the formulation is incorrect.
It should be
$l_n = y_n \cdot (log_{y_n} - log_{x_n})$ ?

[2020-05-11 14:38] colesbury opened #38228 "pybind11::gil_scoped_release: crash on exit with daemon threads"
## 🐛 Bug

Our use of `pybind11::gil_scoped_release` can cause crashes when used with daemon threads (from the `threading` package) and with C++ created threads that acquire/release the GIL. Note that we previously used AutoNoGIL, but that has the same problem.

This manifests as a crash on exit with a message like:

[code]

The problem occurs when a thread tries to acquire the GIL during Python in

[2020-05-11 14:40] fmassa opened #38229 "Store TORCH_CUDA_ARCH_LIST in torch and use it for C++ extensions"
When compiling C++ extensions, users sometimes need to worry about specific implementation details like `TORCH_CUDA_ARCH_LIST`, which specifies the CUDA compute capabilities that we will be computing the CUDA code for the extensions, even though they might just be using a pre-compiled PyTorch installations which was compiled for all CUDA architectures.

I propose to store the `TORCH_CUDA_ARCH_LIST

[2020-05-11 14:46] colesbury opened #38230 "Crash on exit in Python 3.9.0a6"
## 🐛 Bug

PyTorch programs that use autograd crash on exit with Python 3.9.0a6. The underlying cause is the same as #38228, but changes to the implementation of `PyEval_RestoreThread` means this happens much more frequently in Python 3.9.0a6 than with previous Python versions.

In previous Python releases, threads that called `PyEval_RestoreThread` after the interpreter shutdown would deadlock. No

[2020-05-11 14:50] colesbury opened #38231 "Python autograd engine threads never terminate in Python 3.5-3.8"
## 🐛 Bug

In our supported versions of Python (3.5-3.8) the autograd engine threads never fully exit. This is probably fine, but it's worth noting in the context of issue #38230, and because the engine has code to shutdown threads when it's destructed (#21438).

The threads stall in the destructor of `pybind11::gil_scoped_release`

https://github.com/pytorch/pytorch/blob/6f396e18c33efbb8547b7ca9d4

[2020-05-11 15:00] albanD commented on #38057
Note that using the custom Function and `torch.nn.grad` is expected to be less efficient: you manually do multiple calls to compute the backward.

I agree that 60x slower is not good, but comparing a single unified kernel that use custom implementation vs multiple calls that fall back to the default implementation does not sound that bad.

[2020-05-11 15:13] mrshenli opened #38232 "DISABLED test_backward_node_failure (__main__.DistAutogradTestWithSpawn)"
https://app.circleci.com/pipelines/github/pytorch/pytorch/167142/workflows/f9f81117-4442-4d4f-a792-a0cf8ccef7a9/jobs/5411466/steps

[code]

[code]

cc @ezyang @gchanan @zou3519 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar

[2020-05-11 15:14] ezyang opened #38233 "When TorchScripted module has bad type annotation you get bad error message"
Suppose that you incorrectly annotated bias in Conv as `Tensor` rather than `Optional[Tensor]`. When you script it you get this error:

[code]

This is a super useless error message. It doesn't tell you any context about the error in question.

[2020-05-11 15:15] mrshenli opened #38234 "DISABLED test_graph_for_builtin_call (__main__.DistAutogradTestWithSpawn)"
https://app.circleci.com/pipelines/github/pytorch/pytorch/167150/workflows/2511637a-170c-4e0e-899a-46bfc66adbf3/jobs/5411670/steps

[code]

[code]

cc @ezyang @gchanan @zou3519 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar

[2020-05-11 15:16] ezyang opened #38235 "Parameter is not a valid type annotation on TorchScripted modules"
Workaround is to use Tensor instead. But it should be valid to declare things as Parameter.

cc @suo

[2020-05-11 15:16] mrshenli commented on #37765
https://app.circleci.com/pipelines/github/pytorch/pytorch/167340/workflows/311b4c04-d48f-4203-b5a2-5dd9b51f77b1/jobs/5415118/steps

re-open as this error occurs again.

[2020-05-11 15:26] soumith commented on #23482
@malfet we should look into this and patch before 1.6.0

[2020-05-11 15:28] mrshenli opened #38236 "DISABLED test_self_remote_rref_as_rpc_arg (__main__.RpcTestWithSpawn)"
Same error as #37795. Looks like the GIL fix is not sufficient.

https://app.circleci.com/pipelines/github/pytorch/pytorch/166686/workflows/dab671cc-3e57-460d-b588-85c1c7715fd4/jobs/5401139/steps

[code]

[code]

cc @ezyang @gchanan @zou3519 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar

[2020-05-11 15:28] albanD commented on #2456
The status is that we would be happy to accept a PR adding this feature!
But not core dev is working on this at the moment.

[2020-05-11 15:30] mrshenli commented on #37795
Occurs again in #38236, the fix was not sufficient.

[2020-05-11 15:32] malfet commented on #38122
I plan to add new `PYTHON_TORCH_LIBRARIES` (or `TORCH_PYTHON_LIBRARIES`) cmake variable, that extend `TORCH_LIBRARIES` by adding `libtorch_python.so` (and will be a no-op on Windows)

[2020-05-11 15:36] ezyang opened #38237 "torch._C._jit_tree_views.SourceRange should print more descriptively by default"
By default you get something like `<torch._C._jit_tree_views.SourceRange object at 0x7f263a771ab0>` even if you run `str()` on it. This is not very nice. You should print something more descriptive.

[2020-05-11 15:46] #34826 closed

[2020-05-11 15:47] BrettRyland commented on #38209
Seems to work in the nightly: `pip3 install --upgrade --pre torch torchvision -f https://download.pytorch.org/whl/nightly/cu102/torch_nightly.html`

[2020-05-11 15:55] successar commented on #38209
Fixed by https://github.com/pytorch/pytorch/pull/37789

[2020-05-11 15:55] #38209 closed

[2020-05-11 16:05] geyang commented on #38208
Thanks @ptrblck for the work around!

It is a bit bizarre though, is there a way to modify `nn.Module` so that parent class attributes are resolved as expected?

I usually use either barebone class or `NamedTuple`, so the syntax should be

[code]
The following syntax works, but it is not as clean.
[code]

[2020-05-11 16:11] eellison commented on #38233
Can you post a repro?

[2020-05-11 16:21] vsuryamurthy opened #38239 "Failed to link torch_library using cmake"
## 🐛 Bug

When I compile a simple package (**a** for instance) using cmake, the exported ${TORCH_LIBRARIES}$ is as follows,
[code]
Package **a** compiles successfully even if the linker fails to link **torch_library**.

The actual problem arises when I have another package (**b**), dependent on the already created package **a**. When I build, it fails with error

[code]

The reason has to do with

[2020-05-11 16:22] ezyang opened #38240 "RuntimeError: arg_types.size() == param_names.size() - (moduleSelf_ ? 1 : 0) INTERNAL ASSERT FAILED"
Steps to reproduce: edit `Module.__call__` to add a seemingly innocuous type signature:

[code]

This results in an assert failure:

[code]

some prints from relevant internal variables:

[code]

[2020-05-11 16:57] zwacke commented on #36493
Sure. When training a neural network for classification, the class score is usually derived by some form of classifier from an embedding vector. The functional form expressed by this classifier describes the score distribution which feeds into the logsoftmax which in turn results in the probability distribution predicted by the network.
The functional form heavily influences the relative weight of

[2020-05-11 17:01] surak opened #38241 "SIGXCPU at test_cholesky_solve with AMD EPYC 7742 64-Core Processor"
## 🐛 Bug

RuntimeError: test_autograd failed! Received signal: SIGXCPU

## To Reproduce

Steps to reproduce the behavior:

1. `python test/run_test.py -v `

[code]

## Expected behavior

To pass the test

## Environment

`cpu time               (seconds, -t) 7200`

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/tor

[2020-05-11 17:05] adamjstewart commented on #23482
@malfet @soumith I'm happy to test any patches you come up with! Most of these bugs only occur for glibc 2.11 and older, so they're hard to test if you don't have access to an ancient machine.

[2020-05-11 17:06] surak opened #38242 "AssertionError: tensor(1.3351e-05) not less than or equal to 1e-05 :"
## 🐛 Bug

One of our new supercomputers gives this error when skipping #38241

## To Reproduce

Steps to reproduce the behavior:

1. `python test/run_test.py -v`
[code]
## Expected behavior

Well, I expected it to behave like the other machines with the same software stack

## Environment

 - PyTorch Version (e.g., 1.0): 1.4
 - OS (e.g., Linux): CentOS Linux 7 (Core)
 - How you installed PyTorch (

[2020-05-11 17:10] vadimkantorov commented on #38227
The `x_n` seems to be accepted in log-probs format while `y_n` in probs format:
[code]
so there seems no error in the formula

[2020-05-11 17:10] ezyang commented on #38051
cc @nairbv

[2020-05-11 17:13] ezyang commented on #11931
FYI @ngimel has made a very minor improvement to the performance of multinomial in #38046 but it shouldn't be considered to fix this issue

[2020-05-11 17:14] nikitaved commented on #36493
@zwacke , thanks for the reference, I will definitely have a look! So, you solve a classification problem and you produce probabilistic scores, right? Do you use `|| ||_p` as a distance between distributions, or as a regularization for the weights in your network?

[2020-05-11 17:19] tierex opened #38245 "Make torch.rpc accept store as optional parameter"
## 🚀 Feature
This feature is about modifying torch.distributed.rpc.__init__.py (init_rpc) method to accept the store parameter as a part of the **rpc_backend_options** .

## Motivation
Currently init_rpc method performs rendezvous to create a common store. This may not always work in the environment that also uses other forms of communication, e.g. process groups: if the rendezvous has already bee

[2020-05-11 17:31] #13638 closed

[2020-05-11 17:33] malfet commented on #14157
Closing, as those are no longer run in CI.

[2020-05-11 17:33] #14157 closed

[2020-05-11 17:36] ezyang commented on #21589
Deprioritizing as we've introduced non-default stream to many tests, and the rest are not high priority

[2020-05-11 17:39] jerryzh168 commented on #38056
when does this start to fail? is this related to @jamesr66a 's PR of using TorchBind for LinearPackedParams?

[2020-05-11 17:42] ezyang commented on #18283
There's more fine grained control over RTLD_GLOBAL in PyTorch 1.5, which should have made this better. I'm going to optimistically downgrade the priority here, subject to user activity

[2020-05-11 17:43] supriyar commented on #38056
I think there are known issues with QNNPACK tests when ASAN/UBSAN is enabled. This test was recently added to run on qnnpack backend, I guess it is failing since then. I've disabled QNNPACK tests when TSAN is enabled as well now.
cc @kimishpatel for visibility.

[2020-05-11 17:44] ezyang commented on #27097
Downgrading priority as quantization has worked around this a different way

[2020-05-11 17:49] allisonvacanti commented on #25393
This is indeed an nvcc bug. There is no known workaround at the moment, but the next release of the CUDA toolkit will contain a fix.

Ref thrust/thrust#1090.

[2020-05-11 17:50] ngimel commented on #21589
I suggest closing, we fixed the streaming bugs we were aware of and moved all the tests we wanted to run on a non-default stream to do so, additional bugs that can surface will need their own issues rather than this umbrella one.

[2020-05-11 17:50] #21589 closed

[2020-05-11 17:53] ngimel commented on #38018
#16762 can be related (it's topK though, not media/Kth value).

[2020-05-11 17:56] nikitaved commented on #24622
I am currently working on it, and I see that `gpuAtomicAdd` does not support complex types. Is there a chance that `gpuAtomicAdd` will be extended?

[2020-05-11 18:00] surak commented on #33089
@ezyang which cpu is this?

[2020-05-11 18:01] LequanatUCI commented on #13568
I still encounter this error using colab and torchvision version is 0.5.0. Is there any way to solve this?
Thanks.

[2020-05-11 18:03] seemethere commented on #37855
TODO note, (from chatting with @albanD), we'll need to identify the impact this change may have on downstream repositories that also consume our CI docker images, like torchvision

[2020-05-11 18:13] choidongyeon commented on #37436
@ezyang  I think this issue can be closed now.

[2020-05-11 18:23] ngimel commented on #38219
This is expected behavior, we don't guarantee bitwise accuracy for different hardware.

[2020-05-11 18:23] #38219 closed

[2020-05-11 18:24] Zethson commented on #38219
@ngimel
Thanks. Is there any information on that? Any docs or the origin of this behavior?

I could not find anything.

[2020-05-11 18:28] ngimel commented on #38219
https://pytorch.org/docs/stable/notes/randomness.html#reproducibility

[2020-05-11 18:29] Zethson commented on #38219
@ngimel I've read that several times already. There's not really a mention on hardware impact.

[2020-05-11 18:29] ngimel commented on #11931
@t-vi was actually going to implement `replacement=False` fix, reassigning him.
@t-vi feel free to unassign yourself if you decide you don't want to do it after all.

[2020-05-11 18:43] ngimel commented on #38219
[code]
Different platforms means different hardware.

[2020-05-11 18:46] Zethson commented on #38219
I interpreted that as operating system, but all right.

Still, sorry to bother you. What are the reasons behind them? Trying to learn more about the sources and the design reasons behind them.

[2020-05-11 18:57] ngimel commented on #38219
Vendor libraries and compilers that pytorch relies on don't quarantee bitwise accurate results for different hardware they run on.

[2020-05-11 19:05] zwacke commented on #36493
I use it as a distance between an embedding vector and a class-center vector. I invert this distance to yield a score (logits). This score is then fed into the standard routine of the crossentropy loss: 1) logsoftmax to produce the (normalized) class likelihood distribution and the loss is then calculated via NLL.

It can however also be used for weight regularization. Standard weight decay is equ

[2020-05-11 19:05] Zethson commented on #38219
Thanks. Final question (won't bother you about this anymore then - pinky promise):

Are there any plans on replacing the vendor libraries and moving to a different compiler for reproduciblity reasons in the future?

XGBoost for example is hardware reproducible and it also makes usage of several highly optimized libraries.

There are a manifold of reasons, one obvious one being legal guarantees for

[2020-05-11 19:39] nairbv commented on #38051
Potential duplicate:
https://github.com/pytorch/pytorch/issues/22331

Related to:
https://github.com/pytorch/pytorch/issues/5411

Note integer division behavior is expected to change:
[code]
...meaning the actual fix will probably be in the right-hand variant of true_divide.

cc @mruberry

[2020-05-11 19:42] bakhsanzh commented on #32994
Just installed torch 1.5 and having similar issue.
/pytorch/torch/csrc/utils/python_arg_parser.cpp:756: UserWarning: This overload of nonzero is deprecated: nonzero(Tensor input, *, Tensor out)

[2020-05-11 19:43] mruberry commented on #38051
I'm actually planning on changing integer division this week on master!

Want me to take this issue?

[2020-05-11 19:48] pritamdamania87 commented on #38245
@tierex Could you share where exactly this fails (maybe with an error message)? Would https://github.com/pytorch/pytorch/issues/33583 fix this issue or this is a separate issue specific to the store initialization.

[2020-05-11 19:54] nairbv commented on #38051
Sure! If you're already changing the `int/int` behavior to float, I think this just means making sure we have an __rtruediv__ to complement __truediv__.

[2020-05-11 20:05] pritamdamania87 commented on #38174
A slight improvement here would be to avoid waiting for 2.b and instead schedule both 2. b and 2. c together and wait for all results together. This would ensure ranks that are not in `join` are not waiting too long for the allreduce in 2. c. Also, this is symmetric to what we do for ranks not in ddp.join(): They schedule the torch.tensor(1) op and the bucket allreduce ops together and wait for al

[2020-05-11 20:06] mrshenli commented on #38236
Tried a few thousands of times locally and in CI docker, but can no longer reproduce on master. Closing for now to let it run.

[2020-05-11 20:06] #38236 closed

[2020-05-11 20:08] VitalyFedyunin commented on #24622
CC @anjali411 who is complex numbers support expert

[2020-05-11 20:09] SsnL commented on #33181
How does an interface like this sound?
[code]

[2020-05-11 20:10] eellison commented on #38233
For
[code]

The error message is:

Expected a default value of type Tensor on parameter "x". Because "x" was not annotated with an explicit type it is assumed to be type 'Tensor'.:
  File "test/test_jit.py", line 4188
        @torch.jit.script
        def foo(x = None):
[code]

[2020-05-11 20:22] malfet commented on #38204
Updated the title, since it's not specific to caffe2.

[2020-05-11 20:24] VitalyFedyunin commented on #24534
SGTM

[2020-05-11 20:26] #37259 closed

[2020-05-11 20:26] #20156 closed

[2020-05-11 20:27] xwang233 commented on #38183
might be related to #37313

[2020-05-11 20:58] avigupta2612 commented on #37766
To correct this, I just need to change
[code]

to
[code]
[here](https://pytorch.org/tutorials/advanced/cpp_frontend.html) ?

[2020-05-11 20:58] #37736 closed

[2020-05-11 21:00] mruberry commented on #11578
What happens when these tests are run using unittest, though? Do they run as expected?

[2020-05-11 21:02] rpryzant commented on #11714
Thirded! Ints and tuples would be nice indeed.

[2020-05-11 21:08] malhotraa commented on #38028
@mrshenli for sure. will create a PR shortly.

[2020-05-11 21:10] rgommers commented on #13568
@LequanatUCI this is still under discussion / TODO. The issue for it is gh-36560, which is still open. This issue is closed simply because it's a duplicate.

[2020-05-11 21:13] ngimel commented on #38205
I think this is the right thing to do. As @mruberry notes, this behavior introduces implicit synchronization that we try to avoid, and due to current improper device guard setting it also introduces a significant performance regression on systems with p2p enabled, or crash and destruction of cuda context on the systems with p2p disabled. Rather than fixing this bug we should disallow undesirable b

[2020-05-11 21:17] #37530 closed

[2020-05-11 21:20] mruberry opened #38270 "Feature Request: A method of generating tensors for easier variant testing"
Today we can easily specify a test to run on multiple devices and dtypes, but generating tensors for multiple dtypes is often challenging. We should provide a mechanism to facilitate test writing that makes it easy to:

- test extremal (-inf, inf, nan, 0,) values per device x dtype
- test values with the appropriate range per device x dtype

This would greatly simplify many multidtype tests and ma

[2020-05-11 21:22] choidongyeon commented on #23141
Hi, I would like to work on this issue. Can anyone help me get started?

[2020-05-11 21:25] choidongyeon commented on #32971
Hi, I'd like to work on this issue. Can anyone help me get started?

[2020-05-11 21:29] choidongyeon commented on #36176
Hi, I would like to work on this issue.

[2020-05-11 21:30] mruberry opened #38271 "PyTorch's flip returns a new tensor, but NumPy's flip returns a view"
PyTorch's flip returns a new tensor, which is inconsistent with NumPy's behavior of flip returning a view and PyTorch's own transpose behavior.

[2020-05-11 21:31] mruberry opened #38272 "PyTorch's rot90 returns a new tensor, inconsistent with NumPy's returning a view"
PyTorch's rot90 returns a new tensor, which is inconsistent with NumPy's returning a view and PyTorch's own handling of similar operations, like transpose.

[2020-05-11 21:32] albanD commented on #38205
The only change that happened is these lines: https://github.com/pytorch/pytorch/blob/1456515f1526560822ac5b2376af5d74e96a24fc/torch/csrc/autograd/engine.cpp#L616-L619
This is still needed when the origin is on the CPU, so we will need to keep it in.

[2020-05-11 21:36] SsnL commented on #38272
Well... we don't have negative strides...

[2020-05-11 21:49] CoderHam opened #38273 "Adding model metadata in TorchScript model file"
## 🚀 Feature
Adding model metadata in TorchScript model file including:
1. Number of inputs and outputs
2. Datatype of inputs and outputs
3. Shape of inputs and outputs

It would greatly simply and improve model deployment and error handling for TorchScript models and add to the stability of the C++ Backend.

## Motivation

We are working on the [Triton Inference Server](https://github.com/NVIDIA/

[2020-05-11 21:50] mruberry commented on #37386
Hey @Balandat, sorry for the long wait, @albanD and I recently started monitoring module: nn issues.

This sounds like a great idea!

Would you signify Persistent vs. NonPersistent Buffers somehow, or do you see that as a separate issue? My quick guess is that all buffers should be included and users should use a separate mechanism to check if they're persistent or not, should the need arise.

[2020-05-11 21:54] mruberry commented on #38035
Great idea, @vincentqb!

[2020-05-11 21:59] Balandat commented on #37386
I guess I'm not sure about what a non-persistent buffer is? Just a tensor that is not considered part of the model state? I.e., not actually a buffer?

The idea is to have this register everything with `register_buffer`. A full implementation of this is here: https://github.com/pytorch/pytorch/pull/37385

[2020-05-11 22:22] mrshenli commented on #37795
Cannot reproduce in CI env, closing for now and let it run on master.

[2020-05-11 22:22] #37795 closed

[2020-05-11 22:32] mruberry commented on #5411
In PyTorch 1.6 we plan to prevent integer division using torch.div, and in 1.7 we expect torch.div will perform true division like Python and NumPy do.

[2020-05-11 22:47] rohan-varma commented on #37795
@mrshenli Could it be possibly related to a TSAN issue? If you run this test under TSAN, it pretty reliably fails (need to do about 50 runs)

[2020-05-11 22:57] jhrmnn commented on #5411
Will `torch.pow` be included in this change as well?

[code]

[2020-05-11 23:01] ShawnZhong commented on #32910
This issue is resolved in https://github.com/pytorch/pytorch/pull/37942

[2020-05-11 23:08] #36946 closed

[2020-05-11 23:20] mruberry commented on #5411
Not part of the same change, no, but that behavior will also likely happen in a future release.

[2020-05-11 23:22] #36594 closed

[2020-05-11 23:38] mruberry commented on #32100
@ezyang is right that you shouldn't expect this to work, and the error is generated by NumPy, not PyTorch. Think of it as if you're sticking a strange Python object into a NumPy function: the NumPy function goes to look for an attribute but discovers it's not there. Fixing this likely requires changes in NumPy.

[2020-05-11 23:38] #32100 closed

[2020-05-11 23:44] mruberry commented on #34308
Dupe of https://github.com/pytorch/pytorch/issues/11695.

[2020-05-11 23:44] #34308 closed

[2020-05-11 23:54] mruberry commented on #34452
Dupe of https://github.com/pytorch/pytorch/issues/29522. I updated the title of that issue to clarify its scope.

Thanks for reporting this issue, @mglisse!

[2020-05-11 23:54] #34452 closed

[2020-05-11 23:54] mruberry commented on #29522
Could be resolve with https://github.com/pytorch/pytorch/issues/11695 depending on the implementation.

[2020-05-11 23:56] mruberry commented on #33831
The actual issue here is that PyTorch doesn't have a uint16 dtype, and that's why we don't support converting NumPy arrays of that type into torch tensors. As you mention, you'll have to convert to another dtype, like int32, first.

You could file a new issue requesting that PyTorch add support for the uint16 dtype, if you like.

[2020-05-11 23:56] #33831 closed

[2020-05-12 00:00] mruberry commented on #36363
Dupe of https://github.com/pytorch/pytorch/issues/11695.

[2020-05-12 00:00] #36363 closed

[2020-05-12 00:01] vishwakftw commented on #38242
This should have been fixed in 1.5, refer #34764.

[2020-05-12 00:06] anjali411 opened #38285 "Scientific notation is not correctly handled for complex dtypes"
[code]

Tests similar to the [tests](https://github.com/pytorch/pytorch/blob/1ab4f35499aa933677152aca6a1ba2cbe86639f8/test/test_torch.py#L3771) for floating point dtypes in `test_print` should be added for complex dtypes as well.
cc @ezyang @anjali411 @dylanbespalko

[2020-05-12 00:13] anjali411 commented on #38285
Some other minor nits:
[code]
Similar to the floating point tests, complex should follow [this](https://github.com/pytorch/pytorch/blob/1ab4f35499aa933677152aca6a1ba2cbe86639f8/test/test_torch.py#L3819-L3827) behavior as well

[2020-05-12 00:17] anjali411 commented on #38285
[code]

[2020-05-12 00:20] #36996 closed

[2020-05-12 00:22] OrdinaryCrazy opened #38289 "Error While installing pytorch"
[3795/4814] Building NVCC (Device) object caffe2/CMakeFiles/torch_cuda.dir/__/aten/src/THC/generated/torch_cuda_generated_THCTensorSortHalf.cu.o
[3796/4814] Building NVCC (Device) object caffe2/CMakeFiles/torch_cuda.dir/__/aten/src/THC/generated/torch_cuda_generated_THCTensorSortDouble.cu.o
[3797/4814] Building NVCC (Device) object caffe2/CMakeFiles/torch_cuda.dir/__/aten/src/THC/generated/torch_c

[2020-05-12 00:40] choidongyeon opened #38291 "Is Tensor.is_distributed() always going to return False?"
## 🐛 Bug

I'm studying the code and having difficulty understanding what ```Tensor.is_distributed()``` is supposed to do. As noted in https://github.com/pytorch/pytorch/issues/37442, there is no documentation, so I can only go off of this [this line](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/TypeProperties.cpp#L14). But unless I'm missing something, this means that ```is_

[2020-05-12 00:43] pritamdamania87 commented on #34997
@xush6528 Thanks for all the work on this! Since https://github.com/pytorch/pytorch/pull/35849 and https://github.com/pytorch/pytorch/pull/35154 are closed, could you update this issue with any outstanding items that we still need to address?

[2020-05-12 01:39] #37752 closed

[2020-05-12 02:25] alsrgv commented on #31765
I'd like to double check statement about this working fine in 1.5.0:
[code]
cc @rgommers

[2020-05-12 02:31] jeongukjae commented on #31765
I checked this issue again but the error still exists.

[code]

tested on macOS, python 3.7.5, pytorch 1.5.0.

I think this issue should be reopened.

[2020-05-12 02:56] jm90korea opened #38300 "AssertionError: Default process group is not initialized"
## 📚 Documentation

There is error in Google Colab
=======
INFO:lightning:GPU available: True, used: True
INFO:lightning:CUDA_VISIBLE_DEVICES: [0]
Traceback (most recent call last):
  File "/content/gdrive/My Drive/Google_Colab_Notebooks/2020-CURT/fastMRI-playground-29Apr20/models/unet/train_unet.py", line 229, in <module>
    main()
  File "/content/gdrive/My Drive/Google_Colab_Notebooks/2020-CUR

[2020-05-12 02:59] ezyang commented on #33089
[code]

[2020-05-12 03:01] #37436 closed

[2020-05-12 03:35] #38024 closed

[2020-05-12 03:51] supriyar commented on #38056
@albanD could you confirm if these tests are fine now? I'm not sure what CI run I should be checking for this. Thanks

[2020-05-12 03:55] supriyar commented on #37747
@zhangruiidol2013 are you comparing the raw output values? In that case there may be difference between float and quantized models.
Please use the discussion forum for questions related to quantization. https://discuss.pytorch.org/c/quantization/17

[2020-05-12 03:55] #37747 closed

[2020-05-12 03:55] supriyar commented on #37495
@raghuramank100 this should be resolved now, right?

[2020-05-12 03:57] supriyar commented on #37343
cc @kimishpatel

[2020-05-12 03:59] supriyar commented on #37343
cc @kimishpatel @dskhudia

[2020-05-12 04:26] ngimel commented on #38272
Same for `.flip` - numpy returns a view, we return a new tensor, but as @ssnl said, since we don't have negative strides, we don't have options here.

[2020-05-12 04:29] ngimel commented on #38225
Please ask questions on discuss.pytorch.org. libtorch does not support finetuning a model. If you want to fine-tune a model in C++, you can use C++ front-end APIs.

[2020-05-12 04:31] #38225 closed

[2020-05-12 04:47] DongpingQ commented on #37209
I am having the same problem. @FBMachine  May I ask if you have solved this? Thank you!

[2020-05-12 04:54] peterjc123 commented on #37209
Currently the easiest fix is replace your local copy of `__init__.py` with [this one](https://gist.github.com/peterjc123/bcbf4418ff63d88e11313d308cf1b427) on Gist.

[2020-05-12 04:58] kshitij12345 opened #38303 "[CI] test_broadcast_coalesced (__main__.TestCuda): Memory exception on virtual address"
https://ci.pytorch.org/jenkins/job/pytorch-builds/job/py3.6-clang7-rocmdeb-ubuntu16.04-test2/27223/console

[code]

cc @ezyang @gchanan @zou3519

[2020-05-12 05:05] mruberry commented on #37386
I understand. `register_buffer` takes an optional persistent kwarg (https://pytorch.org/docs/master/generated/torch.nn.Module.html?highlight=register_buffer#torch.nn.Module.register_buffer) that determines whether the buffers are serialized as part of the state_dict or not.

[2020-05-12 05:12] rohan-varma commented on #34952
It looks like this came up again: https://github.com/pytorch/pytorch/issues/38232

[2020-05-12 05:19] LequanatUCI commented on #13568
Thanks for your quick reply, really appreciate it.

[2020-05-12 05:19] DongpingQ commented on #37209
Yeah, any attempt of using CUDA fails on my computer though CPU-only installation works. Good to know and thanks! @peterjc123

[2020-05-12 05:48] kshitij12345 commented on #38303
Link to similar issues for reference:
* https://github.com/RadeonOpenCompute/ROCR-Runtime/issues/52
* https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/302

[2020-05-12 06:08] Balandat commented on #37386
I see. How about just giving `BufferDict` that same kwarg as constructor? Then a `BufferDict` could itself have its own (persistent) `persistent` boolean buffer that indicates whether its elements are supposed to be persistent or not.

`BufferDict(persistent=True)` (the default `BufferDict()`) would work as in the PR, and when constructed as `BufferDict(persistent=False)`, we would register the bu

[2020-05-12 06:15] ShairozS opened #38305 "torch.dot() doesn't match np.dot() behavior"
I need to convert an image to grayscale on the fly within the forward method of my module. I noticed that the following code:

`import numpy as np`
`img = np.random.random((96,96,3))`
`np.dot(img, [0.29, 0.58, 0.11])`

works fine when completely in Numpy but when converted to Tensor form:

`import torch`
`img = np.random.random((96,96,3))`
`torch.dot( torch.Tensor(img), torch.Tensor([0.29, 0.58, 0

[2020-05-12 06:22] GPPyeye commented on #20030
Thx bro I've solved my problem

[2020-05-12 06:29] mruberry commented on #37386
Hm... what are a couple common use cases you see for BufferDict, and how would they work in that model?

You can just assign a ParameterDict to a module's parameter attribute, for example, but buffers now have this additional piece of metadata that's actually tracked separately in a set today:

https://github.com/pytorch/pytorch/blob/3569c5960090a3424f5cb41f7f9bc866e93c6038/torch/nn/modules/module

[2020-05-12 06:34] kurtamohler commented on #15359
I'd be happy to start working on this

[2020-05-12 06:43] bcharlier commented on #38122
adding an explicit linking against `libtorch_python` is indeed the way to go. It fixed the issue.

@malfet : yes! the `TorchConfig.cmake` definitely deserve a little bit of clean up... I should confess that I do not use it because:

1. the CMake files shipped with pytorch do not honor the new `find_package()` behavior. Cmake 3.17 now throws dev warning. E.g.
[code]

2. when doing a `find_package(T

[2020-05-12 06:52] jose1711 commented on #32770
Same issue on Arch Linux with gcc 9.3.0. @rgommers fix worked, thanks!

[2020-05-12 06:54] aviaisr commented on #38224
All the errors can be found below:
C:\REPOS\CPU\libtorch-shared-with-deps-latest\libtorch/include\torch/csrc/jit/ir/ir.h:67:17: error: no
namespace named ‘prim’ in namespace ‘c10’; did you mean simply ‘prim’?
using namespace ::c10::prim;
^~~~~~~~~~~
prim
C:\REPOS\CPU\libtorch-shared-with-deps-latest\libtorch/include\torch/csrc/jit/ir/ir.h:66:11: note: namespace
‘prim’ defined here
namespace prim {

[2020-05-12 07:33] suanrong commented on #7455
Assumed you already have smoothed label, you can just use torch.nn.KLDivLoss since the difference between them is entropy of the label and is a constant.

[2020-05-12 07:53] rgommers commented on #32770
@jose1711 are you using conda-installed Python as well?

[2020-05-12 08:30] curiosity2 commented on #21819
Same problem here, but when I change the batch size from 16 to 12 the problem disappeared,
pytorch 1.4, v100

[2020-05-12 08:35] ptrblck commented on #21819
@HanxunHuangLemonBear @yczhang1017 @XinMing0411 @greeneggsandyaml @curiosity2
If you are not running into the illegal memory access with the posted code from comment 1, please create a new issue with information about your script and setup (using the provided template).

[2020-05-12 08:38] jose1711 commented on #32770
nope, Python is standard, distribution-supplied.
[code]

[2020-05-12 08:39] kouohhashi commented on #21819
Have you checked GPU memory usage?
In my case, illegal memory error meant out of GPU memory error.

[2020-05-12 08:46] armansamimi commented on #34798
It did work for me, thanks!

[2020-05-12 09:08] SlowMonk opened #38309 "is this right way to use gpu in pytorch?"
trying to use the train the cocodataset 2014 for detection <br/>
I don't think my code is using GPU.
this program does not using the gpu and stop at

`output = net(images) <------------------stop at here `

The entire code is here

[code]

[2020-05-12 09:12] shyney7 opened #38310 "Compiling errors when trying to cross-compile the C++ API for RTOS (QNX)"
I am currently trying to implement the Pytorch C++ API into production. RTOS are indispensable in the production environment so I'm trying to do cross-compiling with cmake for QNX Neutrino.
However, when compiling a simple test program (empty main() function just including "#include <torch/torch.h>")
I get the following compiler errors:

https://github.com/shyney7/libtorch-cross-RTOS-test/blob/mas

[2020-05-12 09:44] chengjinfang1216 commented on #37398
@mruberry Thank you for your kind reply. I have fixed this issue locally and will open a pull request later.

[2020-05-12 09:49] johanlantz opened #38312 "Status of support for training on mobile"
Hi,

I need to build a prototype for federated learning on mobile (initially iOS). I have succeeded to transfer the pytorch model with torchscript and running inference of the dataset works perfectly in iOS.

Now for the next step I would need to actually train the model on the device and according to this:
https://github.com/pytorch/pytorch/pull/34958

it seems it might not yet be possible?

I di

[2020-05-12 09:49] #29652 closed

[2020-05-12 10:04] usbhub commented on #38090
So I ran into this issue with maskrcnn-benchmark and came across this page when googling for a solution. Turns out what happened was I had downgraded my pytorch from 1.5.0 to 1.3.1 (for an unrelated reason) but had built maskrcnn-benchmark against the 1.5.0 torch, which has separated out static libraries libtorch_cpu.so and libtorch_cuda.so (instead of just libtorch.so), see: https://github.com/py

[2020-05-12 10:17] rgommers commented on #31765
Sorry, reading my comment above the `mypy` behavior changed on that code snippet, actually running it still raises that error in both 1.5.0 and master. Reopening.

[2020-05-12 10:21] ntenenz commented on #37768
A snippet to illustrate a basic use case. Namely, I'd like to avoid maintaining the duplicate lists which can be error prone.

[code]

[2020-05-12 10:53] mfuntowicz opened #38314 "[ONNX] CumSum exported as Aten.CumSum instead of onnx.CumSum"
When exporting Roberta model from 🤗 transformers, the initial `positional_embeddings` operates a cumsum over the provided input.

Running PyTorch **v1.4.0** exports this `cumsum` to `onnx.CumSum` while using PyTorch **v1.5.0** it exports as `Aten.cumsum` which makes the loading fail on `onnxruntime`

[code]

![image](https://user-images.githubusercontent.com/2241520/81675663-76855c00-944f-11ea-8c9

[2020-05-12 11:05] foreignmeloman commented on #37822
FYI This issue seems to be fixed in #31602 as backporting the change from 1.5.0 solved the issue.

[2020-05-12 11:08] rhaps0dy opened #38315 "Parameter `incx`=0 (and shouldn't be) in CUBLAS gemv in a gradient"
## 🐛 Bug

I think the vector strides are passed incorrectly to `gemv` on GPU. It works well on CPU.

## To Reproduce

[code]
Here I get:

Originally I found the bug as an issue during DGER in the gradient of `mat @ vec`, in the generated function `MvBackward::apply` in `torch/csrc/autograd/generated/Functions.cpp`. The error message is the same as cornellius-gp/gpytorch#834 .  But, attempting to w

[2020-05-12 11:28] vadimkantorov commented on #38271
I think this is another instanace of "PyTorch should support negative strides": https://github.com/pytorch/pytorch/issues/16424

[2020-05-12 13:56] ultmaster commented on #3473
I believe the following code snippet solves the problem, to some extent.

[code]

Usage:

[code]

[2020-05-12 14:01] mrshenli opened #38317 "DISABLED test_backward_multiple_output_tensors (__main__.DistAutogradTestWithSpawn)"
https://app.circleci.com/jobs/github/pytorch/pytorch/5438276

[code]

[code]

cc @ezyang @gchanan @zou3519 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @SciPioneer @H-Huang @kwen2501 @jjlilley @mrzzd @bdhirsh @xush6528

[2020-05-12 14:04] fritzo commented on #11578
@mruberry Oh good point, `python -m unittest` does not collect pytest-style tests, so we would need to switch to the `pytest` runner at least for test_distributions.py

https://github.com/pytorch/pytorch/blob/4c99a9b6721c445a8c427020e54b63da0dbe622c/CONTRIBUTING.md#L215-L223

What would it take to officially support pytest as the test runner? Would that require reconfiguring facebook internal syst

[2020-05-12 14:07] guyiyifeurach opened #38318 "with emit_nvtx, but got nothing except the word:<torch.autograd.profiler.emit_nvtx object at 0xxxxxxx>"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)
I use the profile tool to get the time of cuda with conv-one-layer run on gpu, but I

[2020-05-12 14:08] guyiyifeurach commented on #38318
![43bdf5453c856db9f62f9accca339a32-685865](https://user-images.githubusercontent.com/32059046/81701837-1ddcb000-949d-11ea-878e-81b021b12dcf.jpg)

[2020-05-12 14:09] Balandat commented on #38315
This appears to be a duplicate of #29984.

[2020-05-12 14:12] rhaps0dy commented on #38315
Ah, good to know. It would have saved me the better part of a day to include an error message: "This is legacy code, please use this as a workaround.". I hope future people running into this can find this workaround, before the legacy code is removed.

[2020-05-12 14:12] aviaisr opened #38319 "c10/macros/cmake_macros.h do not exists"
Hi,
I'm trying to include pytorch/script.h in my CPP android project.
I'm using ndk21 and C++14.
I cloned the repository and used "git submodule update --init --recursive" to update sub=modules.
I'm getting the following compilation error:

In file included from C:\REPOS\pytorch\torch/script.h:3:
In file included from C:\REPOS\pytorch\torch/csrc/api/include/torch/types.h:3:
In file included from C

[2020-05-12 14:13] Balandat commented on #29984
Is there a timeline for the `gemv` fix? Seems odd that we've known for more than half a year that  matrix-vector multiplication is broken on the GPU.

[2020-05-12 14:13] jjlilley commented on #38232
Shen, any ideas on what we should do with these?

As a group communication protocol, the underlying gloo/process_group doesn't seemed to be designed to be very elastic or resilient during the teardown phase? (maybe this is a mistaken perception? though I spent a bit of time looking at the teardown of this test case).

Once there's one dead receive socket, things seem to be effectively over.. even

[2020-05-12 14:22] ezyang commented on #31611
@peterjc123 Do you think maybe the strategy here might work? https://github.com/pytorch/vision/issues/2134#issuecomment-625075418

Then they have to import a CUDA specific header, but that is all.

[2020-05-12 14:32] kimishpatel commented on #37343
@supriyar, this is a known issue. Requantization in add still follows old integer arithmetic. I will try to benchmark this again and see on variety of devices what is the result we get. But if it persist, we gonna have to live with this one off difference.

[2020-05-12 14:35] Balandat commented on #37386
In general we may use this for all the same settings where having a `ParameterDict` is useful. Say you dynamically construct a set of parameters depending on the input features that are present, and you need to create accompanying buffers for each of these parameters. It's nice to reference those consistently in associated `ParameterDict` and `BufferDict` containers. Here the buffers may or may no

[2020-05-12 14:41] qhaas commented on #38229
In the meantime, one can use [CUDA bin utils](https://docs.nvidia.com/cuda/cuda-binary-utilities/index.html#cuobjdump) to determine this via scripting.  A developer could verify the list upon deploying the dependency before compiling:
[code]

[2020-05-12 14:43] alexandreCameron opened #38322 "Installation on windows python 3.8 32bits"
## ❓ Questions and Help

Is there a way to run pytorch on a windows machine with pythonn 3.8 32 bits ?

cc @peterjc123 @nbcsm @guyang3532

[2020-05-12 14:44] vincentqb commented on #37768
Thanks for opening the discussion. There are a few ways we could make something like this happen, but I would worry about schedulers that could be "hybrid" and updated at each batch and each epoch as you mentioned.

I'm not agreeing the a new interface yet, but let's see what could be potential ideas.

1. Add two properties `step_on_batch` or `step_on_epoch`.
1. Add one property `step_on_batch`.
1

[2020-05-12 14:47] peterjc123 commented on #31611
@ezyang That one sounds more portable and both methods should be effective.

[2020-05-12 14:49] ezyang commented on #38233
Apply this patch:

[code]

Then run

[code]

You get

[code]

[2020-05-12 14:56] #37435 closed

[2020-05-12 15:02] nairbv opened #38323 "Support alternate casting rules"
torch.can_cast only supports one default casting rule:
https://pytorch.org/docs/master/generated/torch.can_cast.html

Numpy supports multiple kinds of casting rules:
https://docs.scipy.org/doc/numpy/reference/generated/numpy.can_cast.html

We should define and implement alternatives for more flexibility and improved numpy parity.

Alternate casting rules could potentially also eventually be used t

[2020-05-12 15:02] mrshenli commented on #37765
Cannot reproduce on master anymore using `pytorch_linux_xenial_pynightly_test` docker env. Close now to let it run.

[2020-05-12 15:02] #37765 closed

[2020-05-12 15:02] ShawnZhong commented on #38305
Batch dot product is not supported in PyTorch. You can find some alternatives and discussion at https://github.com/pytorch/pytorch/issues/18027

[2020-05-12 15:06] mrshenli opened #38324 "DISABLED test_embedding_bag_with_no_grad_tensors (__main__.DistAutogradTestWithSpawn)"
https://app.circleci.com/jobs/github/pytorch/pytorch/5435365

[code]

[code]

cc @ezyang @gchanan @zou3519 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar

[2020-05-12 15:21] mrshenli commented on #34716
It has been a while, not sure if some of any recent fixes solved this problem. Close for now and let it run on master.

[2020-05-12 15:21] #34716 closed

[2020-05-12 15:23] vincentqb commented on #38006
Can you mention give an example that changes the closure where you would not expect it to?

Note that the documentation says "should not" which implies that it may still happen. :)

[2020-05-12 15:33] nairbv opened #38328 "Provide an issubdtype API"
We should provide an issubdtype API, similar to that in numpy:
https://docs.scipy.org/doc/numpy/reference/generated/numpy.issubdtype.html

We often want to determine if a dtype is of a particular kind:
https://github.com/pytorch/pytorch/pull/34312

But the approach of adding is_xxx for complex, quantized, floating, integral, etc is complicated and not mutually exclusive. An API that provides "sub"

[2020-05-12 15:39] WaterKnight1998 commented on #37735
@mcarilli have you discovered something?

[2020-05-12 16:07] ailzhang commented on #38309
Hi you can double check whether it's using GPU by `nvidia-smi`. Closing as this is not a bug report.

[2020-05-12 16:07] #38309 closed

[2020-05-12 16:09] ailzhang commented on #38291
Yea we should either delete it or document it. We can record progress in #37442. Thanks!

[2020-05-12 16:09] #38291 closed

[2020-05-12 16:10] peterjc123 commented on #38322
You'll need to compile PyTorch from source.

[2020-05-12 16:12] ailzhang commented on #38289
Closing as this report didn't include the real error message. Please feel free to reopen with the right error report later

[2020-05-12 16:12] #38289 closed

[2020-05-12 16:12] ailzhang commented on #38242
Closing via https://github.com/pytorch/pytorch/issues/38242#issuecomment-627028761

[2020-05-12 16:12] #38242 closed

[2020-05-12 16:15] ailzhang commented on #38227
Closing via https://github.com/pytorch/pytorch/issues/38227#issuecomment-626832274

[2020-05-12 16:15] #38227 closed

[2020-05-12 16:24] ailzhang commented on #38170
We'll happily accept a PR to better rephrase it :D Thanks!

[2020-05-12 16:29] glaringlee commented on #38239
@vsuryamurthy
Can you take a look at our installing instruction here?
https://pytorch.org/cppdocs/installing.html
There is a section which has the guide on what need to be added into CMakeLists and how to compile, and let me know if this works for you. thx

[2020-05-12 16:34] ailzhang commented on #38168
Closing as this doesn't include enough information about the error message and how to repro. Please feel free to reopen with a detailed repro instruction. Thanks!

[2020-05-12 16:34] #38168 closed

[2020-05-12 16:38] ailzhang commented on #38241
Hmmm we don't have the hardware to reproduce the error. It'll be better to narrow down where the SIGXCPU happens using gdb and provide more information. Thanks!

[2020-05-12 17:03] Aravindbolloju commented on #34074
Hello Sir..
@raghuramank100 @supriyar @dskhudia
I build a pytorch model based on conv1d. I gone through quantization and implemented some cases as well but all those are working on conv2d, bn,relu but In my case, my model is built on conv1d and PReLU. Does this quatization valid for these network layers? Because when I did quantization only the layers which are included in mapping is only quantize

[2020-05-12 17:05] mattip commented on #27837
@roceh does running with `torch.autograd.set_detect_anomaly(True)` and a newer driver crash and produce a useful stack trace?

[2020-05-12 17:08] ailzhang commented on #38186
Is it possible that you can provide a minimal repro? Thanks!

[2020-05-12 17:11] Evpok commented on #31571
One non-obvious situation where this could happen is when unbinding tensors, I ran into this when doing something boiling down to

[code]

[2020-05-12 17:17] ailzhang commented on #38214
It looks like you're trying to save a ScriptModule in pytorch 1.1 (IIRC it was not supported in that version).

You'll either have to downgrade your torchvision or upgrade your pytorch verison.

[2020-05-12 17:17] #38214 closed

[2020-05-12 17:20] ailzhang commented on #38224
This report doesn't contain enough information to debug as it lacks steps to repro, please reopen a minimal repro if possible. Thanks!

[2020-05-12 17:20] #38224 closed

[2020-05-12 17:20] spandantiwari commented on #38314
@mfuntowicz - can you share the repro. Specifically, which exact model are you exporting and your export code.

[2020-05-12 17:23] pritamdamania87 commented on #38081
Is there a reason to apply these quantization methods on DDP itself instead of applying it to the original model and then wrapping the original model with DDP?

[2020-05-12 17:26] pritamdamania87 commented on #37571
@echaozh A microsecond level constant might cause a tight busy wait loop. Usually collective operations are expensive network calls and hence we have a constant of 10ms. Could you elaborate how a microsecond level constant would help in your case?

[2020-05-12 17:29] ailzhang commented on #38206
@n-gao fyi `torch.set_default_tensor_type` will be deprecated in the future releases.
cc: @gchanan

On the other hand, we might be able to look into the `torch.where` perf.

[2020-05-12 17:30] vkuzo commented on #38081
https://github.com/pytorch/pytorch/blob/8d6a8d2b3fd2a6ec788378843fc518824acf274b/torch/nn/parallel/distributed.py#L147 has some more context.

Yep, the quantization methods should be created before DDP.  This issue is just to track that currently some of the quantization flags are not buffers, so they will not be replicated properly if wrapped with DDP and then changed in the middle of training.

[2020-05-12 17:32] n-gao commented on #38206
Sorry if this is off-topic, but if `torch.set_default_tensor_type` is going to be deprecated, what is going to be the easiest way to let all tensors be created on the gpu?

[2020-05-12 17:50] mfuntowicz commented on #38314
Sure, I'm observing this behavior on a PR I'm currently working on https://github.com/huggingface/transformers/pull/4253

The file involved:
https://github.com/huggingface/transformers/blob/onnx-export/src/transformers/convert_graph_to_onnx.py

I tried with different opsets (11, 12) but results were pretty similar, at least for `roberta-base` which is essentially `bert-base` without the `token typ

[2020-05-12 17:54] zou3519 opened #38334 "nn.functional.upsample `scale_factor` parameter description makes no sense"
## 📚 Documentation

https://pytorch.org/docs/master/nn.functional.html#torch.nn.functional.upsample

![image](https://user-images.githubusercontent.com/5652049/81728167-07f8cc00-9458-11ea-913f-8928a4bd3ab9.png)

It says it "has to be an integer", but the parenthesis says it can be a "float or Tuple[Float]".

[2020-05-12 17:56] GrzegorzKarchNV opened #38336 "a %= b not supported in TorchScript"
## 🐛 Bug

An attempt to jit script `a %= b` results in an error `unsupported kind of augumented assignment`

## To Reproduce

Steps to reproduce the behavior:

In interactive Python run
[code]
this will throw an error:
[code]
an alternative with `fmod_` works as expected:
[code]

## Expected behavior

Successful compilation of the scripted function.

cc @suo

[2020-05-12 17:59] zou3519 opened #38337 "Clicking "Click here to view docs for latest stable release." on some pages leads to nowhere"
## 📚 Documentation

To reproduce:
- go to https://pytorch.org/docs/master/generated/torch.geqrf.html?highlight=geqrf#torch.geqrf
- Click  "Click here to view docs for latest stable release."
- Watch as it leads to a 404 page.

[2020-05-12 17:59] oke-aditya commented on #37766
Yes there as well as [here](https://pytorch.org/tutorials/advanced/cpp_export.html) and also [here](https://pytorch.org/cppdocs/installing.html).
I am unsure of Pytorch docs improvement etc. Hence I am unsure of raising PR here. :(

[2020-05-12 18:00] ntenenz commented on #37768
Completely understand the reluctance to consider them when selecting a design. They don't exist today, so it may be over-engineering. However, with the flag approach, it appeared to be a low-effort way to future-proof ourselves. Regardless, they're not the primary motivation, at least in my mind, for introducing two flags instead of one.

My preferred approach as stated for reasons above. Namely,

[2020-05-12 18:18] albanD commented on #37386
It feels like this would be nice to do https://github.com/pytorch/pytorch/issues/35735 before this. So that the persistent argument is just a property of the Buffer object (removing the set() we have today).
And the BufferList/BufferDict is just a collection of these.

That might be a simpler solution here no?

[2020-05-12 18:30] #36744 closed

[2020-05-12 18:46] mravanelli opened #38342 "jit much slower with pytorch 1.5 (on custom rnns)"
## 🐛 Bug

During the development of SpeechBrain, we observed that our jitted custom rnn models are significantly slower with pytorch 1.5 compared to pytorch 1.4. After doing some tests, I realized that any kind of "long" for loop (even doing simple operations only) is much slower. Let me share a minimal example in the following (I have a larger example that I can share on demand) that basically im

[2020-05-12 18:55] neginraoof commented on #38314
Hi @mfuntowicz
Could you please verify the opset version for export one more time?

I have pytorch 1.5 installed, and I'm running the code from onnx-export branch with the following command:
python convert_graph_to_onnx.py --model roberta-base --framework pt onnx/roberta-base.onnx --check-loading

This command seems to succeed to export and run model with ORT, with following output:

Setting ONNX

[2020-05-12 19:13] gchanan commented on #36459
We don't think this is worth having in core currently -- there hasn't been many requests (it existed in LuaTorch but we couldn't find any requests for it before this) and it's fairly easy to do one-off modules that implement this functionality when needed.  Alternatively, you can write a third-party library that implements this fairly easily.

[2020-05-12 19:22] gchanan commented on #9046
we don't think this necessitates a new API (yet) -- I'm going to file a separate issue for updating the documentation to make it clear what the different behavior is for the combination of `requires_grad_` and/or `train`.  We would need to document that anyway, because the behavior isn't obvious from the name, so starting with the documentation seems like the right choice.

[2020-05-12 19:27] malfet commented on #38155
@xwang233 Do you mind modifying your profile.py to something like below and share its output again:
[code]
It looks like you have some module which pytorch depends on that imports `profile` , but I don't know which one it is.

[2020-05-12 19:29] vsuryamurthy commented on #38239
@glaringlee Following the link, I get

[code]
when I print ${TORCH_LIBRARIES}.

I have the same problem of failing to link torch_library as there is no **libtorch_library.so** in libtorch/lib.

[2020-05-12 19:30] malfet commented on #38155
And good rule of a thumb, is to invoke your main routine only if .py file is executed as main module.
For example,  if you modify your code to something like:
[code]
it almost definitely will execute `main` function only once.

[2020-05-12 19:39] mruberry opened #38349 "NumPy-like Functionality Request Rollup"
PyTorch often receives requests for [NumPy](https://numpy.org/)-like functionality. This issue is a "rollup" of these requests. It will be continue to be updated with additional requests and helpful links for implementing them.

Newer contributors, checkout the [Wiki](https://github.com/pytorch/pytorch/wiki) and read the [Contribution Guide](https://pytorch.org/docs/stable/community/contribution_g

[2020-05-12 19:45] seemethere commented on #35975
Hey so one little wrinkle that I hadn't considered is how the target specifier works on pushes.

Pushes would be broken if we started to split things up and gate them through target specification.

## Problem overview and context
This thought came about when I was considering how to implement the target specification for the binary workflow we have setup for release builds here in this repository.

[2020-05-12 19:52] mfuntowicz commented on #38314
Hum interesting ...

Here is the output I have after reinstalling my dev environment:

[code]

[2020-05-12 19:52] mfuntowicz commented on #38314
I'm installing from pypi through:

`pip install torch==1.5.0+cu101 -f https://download.pytorch.org/whl/torch_stable.html`

[2020-05-12 20:28] neginraoof commented on #38314
Thanks, this error is from onnxruntime.
If you specify --opset 11, you should be able to run the model successfully with onnxruntime 1.2.

For opset 12, onnxruntime has recently added support for these ops in master. So, it could be that the onnxruntime version you have is not supporting all opset 12 ops.
I'm running this model with latest ort-nigthly build (from pip install -i https://test.pypi.o

[2020-05-12 20:41] ezyang commented on #1927
It seems like there are a few things going on here.

1. With respect to the very first post, there are a bunch of operators which don't support arbitrarily many batch dimensions. When an operator supports arbitrarily many batch dimensions, you don't need `TimeDistributed`, since things will automatically generalize even if you have a batch dimension and a sequence dimension. So one way to make lif

[2020-05-12 20:43] mattorourke17 opened #38353 "svd_backward() consumes unnecessary amount of memory for tall / fat matrices"
## 🐛 Bug

For tall or fat input matrices ```A``` to ```svd```, the ```svd_backward``` function consumes an unnecessary amount of memory. Consider the following source code snippet from ```svd_backward```:

[code]

If our input matrix ```A``` had dimensions ```m x n```, where for example maybe ```m >> n```, this code actually forms an identity matrix ```im``` of size ```m x m``` and then computes a

[2020-05-12 21:02] seemethere commented on #35975
After a chat with @ezyang we have decided to go with solution 2

[2020-05-12 21:04] vincentqb commented on #38353
Have you considered some of other implementations we have? See [here](https://github.com/pytorch/pytorch/pull/29488).

[2020-05-12 21:06] datatalking opened #38354 "Can I add documentation on"
## 📚 Documentation MISSING

[2020-05-12 21:11] vincentqb commented on #37768
How about `step_on` attribute that can be `batch` or `epoch`? and maybe others later?

[2020-05-12 21:16] albanD commented on #3502
This is out of date. You can assign it now and it works as expected.

[2020-05-12 21:16] #3502 closed

[2020-05-12 21:17] glaringlee commented on #38239
@malfet Can you pls advise on this? Thanks.

[2020-05-12 21:24] #24538 closed

[2020-05-12 21:35] vincentqb commented on #32545
Have you tried the modification mentioned above?

[2020-05-12 21:36] eellison opened #38357 "[JIT] Allow Named Arguments with torch.jit._fork"
## 🐛 Bug / Feature

Named Arguments work with `torch.jit_fork` in script mode, but not in eager / tracing.
[code]

[code]
`torch.jit.trace(caller, (torch.tensor(2),))`

    1. (*args) -> torch._C.Future

Being able to used named arguments is nice for readability.

cc @suo

[2020-05-12 21:41] #32910 closed

[2020-05-12 21:48] xwang233 commented on #38155
Thanks for the help. I tried the main guard and that can fix the problem. I also tried your code above (with script named profile.py) and here is my result (replaced comma to comma + newline)  https://gist.github.com/xwang233/272165bcec1ef9bf09d53e16e1665302

[2020-05-12 21:50] mthrok opened #38360 "C++ extension with nightly build generates undefined symbol."
## 🐛 Bug

I am building a torchscript custom class with an external library (`sentencepiece`). I noticed that when I build the extension with PyTorch I compiled from the source, it works fine, but when I use nightly build version of PyTorch, it introduces an undefined symbol to the resulting extension and it fails to import the extension.
I am not sure if this is bug or I am not compiling the exte

[2020-05-12 21:53] ezyang commented on #38360
It looks like a C++ compiler version mismatch

[2020-05-12 21:55] mthrok commented on #38360
Where can I find the correct compiler version?
I thought if the compiler version is wrong, the build process would produce warning.

[2020-05-12 22:00] Ar-Kareem commented on #12831
Sadly not, this is a huge performance issue on windows even if you're a using GPU

[2020-05-12 22:00] malfet commented on #38239
@vsuryamurthy `torch_library` is interface defined in `Caffe2Targets.cmake`
But it looks like there are no reason why TORCH_LIBRARIES need to depend on Caffe2_MAIN_LIBS.
Let me figure out the best way to patch it.

[2020-05-12 22:19] mthrok commented on #38360
So according to [this](https://github.com/pytorch/builder/blob/f0dd04b3d803980d6c6a39ca3e19523272fe476a/conda/Dockerfile#L10), nightly build uses gcc `7.3.1`.

[code]

and my environments have gcc `7.5.0`

[code]

 Is 7.5 not compatible with 7.3?

[2020-05-12 22:41] ppwwyyxx commented on #36061
More creative, but no luck:
[code]

[code]

[2020-05-12 23:13] osalpekar commented on #33984
Closed by #38265 and #38266

[2020-05-12 23:13] #33984 closed

[2020-05-12 23:18] mthrok commented on #38360
Yes, it was just a compiler mismatch.

[2020-05-12 23:18] #38360 closed

[2020-05-12 23:48] vkuzo commented on #37576
hi @s-bernard , just to confirm, this is on PyTorch v1.4.1 and not on master?  I believe https://github.com/pytorch/pytorch/pull/26853 should have fixed this, and I can't repro on master.

[2020-05-12 23:50] kimishpatel commented on #33466
https://github.com/pytorch/pytorch/pull/37683 and https://github.com/pytorch/pytorch/pull/35856/ should resolve this issue.

[2020-05-13 00:26] vkuzo commented on #35465
@whl287 , please let us know how to reproduce this, happy to take a look.  Closing until that time, and we can reopen if needed.

[2020-05-13 00:26] #35465 closed

[2020-05-13 00:39] zasdfgbnm commented on #38155
The root cause of this could potentially be jupyter, I run a jupyter notebook on a directory that has a `profile.py` and jupyter is failing.

[2020-05-13 00:41] anjali411 commented on #24622
@nikitaved it eventually needs to be done since a lot of nn layer functions use it, but there's non ongoing work for it rn. would you like to work on it?

[2020-05-13 01:05] ezyang commented on #31765
This will get fixed when we move the Generic include inline into module.py... assuming I can fix the JIT bugs in this PR: https://github.com/pytorch/pytorch/pull/38211

[2020-05-13 01:23] ezyang commented on #11578
I am not quite sure I understand your question. Are you saying that, after converting the tests to use pytest features, it would be *mandatory* to run `pytest` to run these tests? (E.g., we couldn't do something like https://www.avivroth.com/2018/03/06/python-embedding-pytest-in-code/ to ensure that `python test/test_nn.py` kept working?) If the runner mechanism changes completely, it wouldn't jus

[2020-05-13 01:26] guol-fnst commented on #32699
Do crashes of remainder and addcdiv operators  have been fixed? @Baranowski

[2020-05-13 01:28] ezyang commented on #38231
Tentatively assigning myself

[2020-05-13 01:29] #38018 closed

[2020-05-13 01:33] Balandat commented on #37386
Yeah that would indeed be simpler, let's do that.

[2020-05-13 01:33] malfet commented on #11578
To the best of my knowledge, pytest should be compatible with most of the existing unittest tests, for example I can run almost all the tests from quantization folder:
[code]

[2020-05-13 02:09] seeker-Liu commented on #38186
Yes, regarding the minimal repo, will an iOS minimal project and a scripted model suffice?

[2020-05-13 02:16] #37579 closed

[2020-05-13 02:16] liuchanglab commented on #38223
I have fixed this error by reducing the device from 4 to 1 in docker:
--device /dev/nvidia0:/dev/nvidia0  --device /dev/nvidia1:/dev/nvidia1  --device /dev/nvidia2:/dev/nvidia2  --device /dev/nvidia3:/dev/nvidia3

to  only use --device /dev/nvidia0:/dev/nvidia0

[2020-05-13 02:16] #38223 closed

[2020-05-13 02:18] guyiyifeurach commented on #38318
And this is the Pytorch1.0.0 version.

[2020-05-13 02:24] aayn opened #38372 "Implementing deg2rad, rad2deg"
It's finally here :slightly_smiling_face:!  Since I'm somewhat new, I'd like to start with a simple one. Let me try `deg2rad` and `rad2deg`. What would be right place to put that @mruberry?  #38349

Also, I don't have write access to assign labels.

cc @mruberry

[2020-05-13 02:30] mruberry commented on #38372
Cool!

Take a look at how similar functions, like sin, are implemented. See: https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/UnaryOps.cpp for the device-independent part of the code. Then you have the CPU and CUDA-specific parts in ATen/native/cpu and ATen/native/cuda, respectively.

[2020-05-13 02:31] aayn commented on #38372
Gotcha, thanks!

[2020-05-13 02:32] cloudhan commented on #38372
I'd suggest starting with #24507 to port some trivail legacy TH functions to ATen to get some sense of kernel dispatch. After that, implementing `deg2rad` and the like will be straightforward.

[2020-05-13 02:48] a157801 opened #38375 "Bug when applying all gather in different group"
## 🐛 Bug

I use a 8-gpu machine, and set 0-3 4-7 as two seperate group with new_group function. Then I use distributed.all_gather in each group. But there is a RuntimeError: Broken pipe.

## To Reproduce

Steps to reproduce the behavior:

[code]

` python ddp.py --rank 0`

## Expected behavior

I hope that thread 0-3 output [0,1,2,3] and 4-7 ouput [4,5,6,7]. But the result is confusing

[code]

 a

[2020-05-13 02:50] alsrgv commented on #31765
Somewhat unrelated, but similar - is there a plan to make `# type: ignore` possible for situations where mypy is unhappy on a per-function basis?  Currently JIT crashes upon seeing such annotations.

[2020-05-13 02:55] cloudhan opened #38377 "Implementing logaddexp, logaddexp2"
I'd like implement logaddexp for cpu and cuda mentioned in #38349. these functions are perticularly useful when doing long probability accumulation and maintaining good numerical precesion.

cc @mruberry

[2020-05-13 03:27] aayn commented on #38372
Okay, will do! However, at first glance, most trivial legacy functions seem to already have been ported. I'll probably study a few of those PRs in detail and then start implementing this.

[2020-05-13 03:33] #37986 closed

[2020-05-13 04:10] neo4dev commented on #30525
I had this issue as well, and the solution is to restart tensorboard in the terminal

[2020-05-13 04:30] mruberry commented on #38377
You don't need to file an issue just work on something ;) But if you have questions or there's an issue please ask here.

It'd be great to have logaddexp and logaddexp2.

[2020-05-13 04:34] mruberry commented on #28703
This is subsumed by https://github.com/pytorch/pytorch/issues/36571.

[2020-05-13 04:34] #28703 closed

[2020-05-13 05:06] mruberry commented on #11578
We do try to keep our test suite working with pytest, but actually switching to it seems like a lot of lift. It would also prevent people who prefer using unittest from using it, at least on this test file.

What would you think about adding a similar decorator to the generic test framework instead? We, could, for example, add a @parameterize decorator that accepted an iterable of strings, then yo

[2020-05-13 05:21] suo commented on #38342
cc @ZolotukhinM, @Krovatkin

[2020-05-13 05:22] RobbyHuang commented on #36227
Sorry, I didn’t solve this problem, and I finally used pytorch 1.0.0

[2020-05-13 05:34] #37403 closed

[2020-05-13 06:14] Ar-Kareem opened #38383 "Implementing HyperLSTM"
## 🚀 Feature
Add implementation for HyperLSTM.
A model described in [Ha et al. (2016)](https://arxiv.org/pdf/1609.09106.pdf) published by Google Research and accepted by ICLR 2017.
The approach uses an LSTM, which acts as a hypernetwork, to generate the weights for another LSTM.

## Motivation

The results of the proposed network as given in the paper are state-of-the-art (although this was 3/4 ye

[2020-05-13 06:45] vadimkantorov commented on #37581
Related: https://github.com/pytorch/vision/issues/2194

[2020-05-13 06:53] avisrazo commented on #38224
1. I have a CPP android project. I'm compiling it using ndk-build (ndk21 and C++14).
2. I have a file named "main.cpp" and I'm trying to **#include "torch/script.h"**.
3. I downloaded libtorch using this command:
**wget https://github.com/Kitware/CMake/releases/download/v3.15.2/cmake-3.15.2.tar.gz**
4. In my Android.mk file, I'm giving the path to:
LOCAL_C_INCLUDES += $(TORCH_REPO_PATH) \
					$(T

[2020-05-13 06:59] vadimkantorov commented on #38377
Isn't logaddexp just a synonym for logsumexp. PR mentions that logsumexp doesn't support global reduction. But in that case it'd be better to add that support to logsumexp and make logaddexp just another name for logsumexp.

Some related logsumexp issues: https://github.com/pytorch/pytorch/issues/31837, https://github.com/pytorch/pytorch/issues/31829

A more general question: should PyTorch have s

[2020-05-13 07:00] alexandreCameron commented on #38322
@peterjc123 : is there a tutorial / reference to do that ?

[2020-05-13 07:08] cloud-oak commented on #38006
It's more the other way around I guess.

After reading the documentation, I assumed that the optimizer (e.g. LBGFS) will do the `loss.backward` by itself. After all, my closure should not modify `.grad` unless otherwise specified. Needless to say, my model didn't learn anything at all in that experiment.

Do you understand why I think the remark about not changing the parameter's `.grad`s is misle

[2020-05-13 07:15] vsuryamurthy commented on #38239
@malfet Precisely my point.

I have fixed it by removing ${Caffe2_MAIN_LIBS} in https://github.com/pytorch/pytorch/blob/master/cmake/TorchConfig.cmake.in#L41 (which means removing if-else too). This works for me but I am not sure if this is the way to go about it.

[2020-05-13 07:19] cloudhan commented on #38377
But I also suspect whether should I add this op. Since to use similar `logsumexp`, all you need is concat 2 tensors and do the reduction over the axis.

So for now, I might leave this here, until someone point me out the significance of this op. Otherwise feel free to close this in the future.

[2020-05-13 07:19] peterjc123 commented on #38322
Please refer to the docs here. https://github.com/pytorch/pytorch#install-pytorch Most of the steps should be the same.

[2020-05-13 07:22] alexandreCameron commented on #38322
Thanks @peterjc123  : I'll try it out.

I saw some ideas were also shared in:

https://github.com/pytorch/pytorch/pull/17865

[2020-05-13 07:24] mruberry commented on #38377
They're two different ops. Please read the documentation. Even their signatures are different: logsumexp ([documentation](https://pytorch.org/docs/master/generated/torch.logsumexp.html?highlight=logsumexp#torch.logsumexp)) is a reduction and logaddexp is a binary pointwise operation.

[2020-05-13 07:26] mattip commented on #4440
I can imagine two strategies:
- try to proactively parse the test runners in the `.jenkins/pytorch/*test.sh` and `.jenkins/pytorch/win-test-helpers/test_python_nn.bat`
- try to analyze the uploaded test results (circleci uploads to `/home/circleci/project/test-reports/` - is there a way to access that?)

In any case, is it safe to say the set of tests to be run is the one in `run_tests.TEST`?

[2020-05-13 07:30] mattip commented on #4440
There are also two jobs on Jenkins, a build and a test, the test one reports
[code]

Are those also relevant for this issue?

[2020-05-13 07:36] ljk53 commented on #38319
@avisrazo How did you add PyTorch to your CPP android project? You cannot simply add source files to your project. You will need call PyTorch's cmake to run some necessary codegen scripts.
I think you have several options:
1. You can use the prebuilt binaries we released for mobile, see details: https://pytorch.org/mobile/home/
2. You can build it from source on your own for Android

3.

[2020-05-13 07:41] #36484 closed

[2020-05-13 07:41] mattip commented on #32703
xref issue gh-38011 about failing documentation CI build if there are build warnings.

It seems the topic of this issue has changed from "Can't build ..." to "Documentation build should not error on missing components". Does that change the priority?

[2020-05-13 07:55] peterjc123 commented on #38204
You mean Windows, right?

[2020-05-13 07:58] peterjc123 commented on #38204
There are two plans:
1. Add the dependencies to `requirements.txt` and `meta.yml`.
2. Deprecate the python interface for `caffe2.python`.

What do you think, @ezyang @seemethere @malfet @soumith ?

[2020-05-13 08:01] Baranowski commented on #32699
@guol-fnst remainder has been fixed but not addcdiv:

[code]

[2020-05-13 08:05] yueyihua opened #38385 "Segment Fault after model inference all images using C++ API"
## 🐛 Bug

Segment Fault After model inference all images usnig C++ API

## To Reproduce

Steps to reproduce the behavior:

1. c++ code load my model
2. do inference
3. input all images
4. before return, error occur

My dbg error message:

[code]

My code:

[code]

## Expected behavior

No error occur.

## Environment

Please copy and paste the output from our
[environment collection script](https:

[2020-05-13 08:13] kshitij12345 commented on #38349
Hi,

I'd like to work on `fliplr` and `flipud`

[2020-05-13 08:17] vadimkantorov commented on #38377
Sorry for confusion. @cloudhan @mruberry You are right

[2020-05-13 08:21] vadimkantorov commented on #27522
Related: https://github.com/pytorch/pytorch/issues/38377

[2020-05-13 08:28] exploreZJ opened #38386 "Inefficient data copy between cpu and gpu after inferring-forward"
## ❓ Questions and Help

I tested a model on gpu.
data = data.cuda()  0.00166s
out = model(data)  0.00492s
data = torch.from_numpy(np.random.rand(1,1)).cuda()  0.0354s
**After the inferring, a very small numpy.array ([1*1]) is copyed from cpu to gpu, but this step takes 0.0354s. It's incredible！！！！**

But if "out = model(data)" is not processed,  "data = torch.from_numpy(np.random.rand(1,1)).cuda(

[2020-05-13 08:32] rgommers commented on #14686
This was fixed in the doc restructure in gh-37419. https://pytorch.org/docs/master/nn.html loads fast now. So closing this.

[2020-05-13 08:32] #14686 closed

[2020-05-13 08:33] rgommers commented on #15760
This was fixed in the doc restructure in gh-37419. https://pytorch.org/docs/master/nn.html loads fast now. And a duplicate issue with gh-14686. So closing this. Thanks for the report @guillaume-chevalier

[2020-05-13 08:33] #15760 closed

[2020-05-13 08:35] rgommers commented on #14991
This was fixed a long time ago, closing. Thanks @beneyal and @brsoff

[2020-05-13 08:35] #14991 closed

[2020-05-13 08:38] rgommers commented on #27705
`javasphinx` is present in `docs/requirements.txt`, and how to install `katex` globally or separate is explained in `CONTRIBUTING.md`, so closing. For further doc build issues, see gh-32703.

[2020-05-13 08:38] #27705 closed

[2020-05-13 08:40] rgommers commented on #32703
I suspect not @mattip. Building the docs should be easy, it's quite fragile right now. Making sure there's no errors or extra warnings without `torchvision` and with `USE_DISTRIBUTED=0` would be good.

Now that the docs are broken up in more pages, it may also be worth checking page load time. KaTeX is ~2x faster than MathJax 3 still (see [here](https://www.intmath.com/cg5/katex-mathjax-comparison

[2020-05-13 09:06] rgommers commented on #38349
@mruberry there's a number of functions in there that the NumPy devs consider mistakes or are outdated. We'd like to be able to deprecate those, but *backwards compat discussions*. Examples are `heaviside` (too trivial), `kaiser` and all other window functions (belongs in `scipy.signal`), `ptp` (unreadable, bad idea), `percentile` (`quantile` is almost identical but slightly better), `sinc` (belon

[2020-05-13 09:22] sheep94lion commented on #14531
I am also interested in this question.
Currently, I have some ideas: Multiprocess here is actually talking about CPU, not about GPU.
But I still do not understand what happens when you run this script in two processes.
Do you have an answer or can you point me to some related materials?

[2020-05-13 09:51] ofirbb commented on #22488
+1

[2020-05-13 09:58] chengjinfang1216 commented on #37000
@ngimel  @albanD  Could I work on this issue？ I want to confirm with you about the fix princinple

[2020-05-13 10:01] chengjinfang1216 commented on #37000
@ngimel  @albanD  Could I fix this issue as follows?
1. about error message, change "Variable" to "Tensor".
2. when use "with torch.no_grad():", allow user to call numpy() directly although its requires_grad is true.

[2020-05-13 12:19] sheep94lion commented on #35472
Will this be faster than infer each element of data sequentially?

[2020-05-13 12:30] ParadoxRobotics opened #38394 "4D tensor support for torch.nn.functionnal.fold() (col2im)"
## 🚀 Feature
Implementation or modification of col2im function/method for 4D tensor support in torch.nn.functionnal.fold().

## Motivation
I came to this "issue" when i was working on a custom locally connected decoder.
(the layer behave like a transposed convolution but without the weight sharing)
I initially build a locally connected network for encoding purpose using the torch.nn.functional.unf

[2020-05-13 13:28] nikitaved commented on #24622
@anjali411 , thank you! Yeah, I could have a look.

[2020-05-13 13:39] rgommers commented on #24622
Just a scope question here: is complex support required for migrating `scatter_add_` (maybe because the TH version supports complex already)? If not, I would suggest to keep adding complex support separate.

[2020-05-13 13:44] zou3519 commented on #32703
We decided to use KaTeX a while ago though because of the page load times were bad without it. But I agree, if load times are OK without KaTeX, then we should definitely remove it. As you noted, the KaTeX dependency is not very portable and kind of weird.

[2020-05-13 13:58] mattip commented on #24982
Currently sccache is installed
- in the docker image via `docker/caffe2/jenkins/common/install_ccache.sh` which downloads https://s3.amazonaws.com/ossci-linux/sccache
- windows via `.jenkins/pytorch/win-test-helpers/installation-helpers/install_sccache.bat` which downloads `https://s3.amazonaws.com/ossci-windows/sccache{,-cl}.exe` or s3://ossci-windows/sccache{,-cl}.exe
- in macos via `.circleci/v

[2020-05-13 14:09] ezyang commented on #38354
We probably just have to set `long_description` in setup.py. Would be happy to accept a patch on this.

[2020-05-13 14:09] ezyang commented on #38354
cc @soumith @seemethere

[2020-05-13 14:11] alexandreCameron commented on #38322
@peterjc123 :

With the following config:

[code]

[code]

With:
[code]

When executing:

[code]

I get the following error:

[code]

Do you have any idea of how to fix this ?

[2020-05-13 14:14] ezyang commented on #38385
cc @mcarilli @zasdfgbnm, this looks like a recurrence of the "we have problems when destructing the cudnn handle pool" problems

[2020-05-13 14:18] ezyang commented on #38386
CUDA is asynchronous: to get accurate timings, you have to run with `CUDA_LAUNCH_BLOCKING=1`, or synchronize. You're attributing cost of `out = model(data)` to the line below.

If you have more questions about this, please follow up in the forums!

[2020-05-13 14:18] #38386 closed

[2020-05-13 14:20] ezyang commented on #14531
How to increase gpu utilization is a complex topic, and I recommend posting on the forums with more particulars about your problem. However, I would generally not expect having multiple processes use the same gpu device increase utilization, since typically you are having a problem with the launched kernels themselves (e.g., your batch sizes are too small).

[2020-05-13 14:20] #14531 closed

[2020-05-13 14:22] ezyang commented on #38394
In the codebase we have implementations of `vol2col` and `col2vol`, so the solution to this might just be as simple as making sure unfold/fold backend to these in the case of 4D tensors.

[2020-05-13 14:30] SsnL commented on #37581
given that we don't support nonwritable tensor, shouldn't as_tensor just copy the data for nonwritable np arrays?

[2020-05-13 14:37] kshitij12345 opened #38395 "[CI] test_gloo_backend_2gpu_module (__main__.DistributedDataParallelTest)"
https://ci.pytorch.org/jenkins/job/pytorch-builds/job/py3.6-clang7-rocmdeb-ubuntu16.04-test2/27582/console
[code]

cc @ezyang @gchanan @zou3519 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528 @osalpekar

[2020-05-13 14:40] kshitij12345 opened #38396 "[CI] rocmdeb-ubuntu : test_*_bfloat16_cuda (__main__.TestNNDeviceTypeCUDA)"
https://ci.pytorch.org/jenkins/job/pytorch-builds/job/py3.6-clang7-rocmdeb-ubuntu16.04-test1/31353/console

https://ci.pytorch.org/jenkins/job/pytorch-builds/job/py3.6-clang7-rocmdeb-ubuntu16.04-test1/31369/console

[code]

[2020-05-13 14:52] nikitaved commented on #24622
The kernel of scatter_add dispatches over complex numbers already, so, yes, it should work with complex numbers as well.
There are three possible solutions: 1. to either use the hack I already introduced in the port for scatter_add, or 2. Make `gpuAtomicAdd` support complex number. 3. Remove complex dispatch in the scatter/gather kernel.

I believe that solution #2 is the best. What do you think?

[2020-05-13 15:08] fritzo commented on #11578
Thanks for looking into this!

:+1: I wasn't aware of this solution, and it seems like an ideal solution from my perspective: it would preserve your `python test.py` idiom and would support all pytest features used in existing tests I'd like to port. I think you're right that the unittest runner would not be supported for this file `python -m unittest test_distributions.py`.

Would you be ok if we

[2020-05-13 15:11] peterjc123 commented on #38322
@alexandreCameron What about `python setup.py install --cmake`?

[2020-05-13 15:14] peterjc123 commented on #24982
@mattip The update is currently done manually.

[2020-05-13 15:23] glaringlee commented on #38310
@shyney7 please installed libc and libc6-dev, upgrade glibc and try build again.

[2020-05-13 15:35] vadimkantorov commented on #37581
Often these non-writable NumPy tensors appear as wrapper of some contig memory from an external source (like read file). An optional no-copy behavior is often desirable even in these cases.

[2020-05-13 15:37] ShairozS commented on #38305
Thank you, that answers my question

[2020-05-13 15:37] #38305 closed

[2020-05-13 15:41] gchanan commented on #38007
closing this, since the milestone label is there we won't forget it if we do a 1.5.1.

[2020-05-13 15:44] alexandreCameron commented on #38322
@peterjc123 : Thanks, it helped, but I'm now getting:

[code]

[2020-05-13 15:46] peterjc123 commented on #38322
@alexandreCameron Please try `git submodule sync && git submodule update --init --recursive` and `python setup.py setup --cmake`.

[2020-05-13 15:57] alexandreCameron commented on #38322
seems better, but the build is long, last time it took 3h

[2020-05-13 16:02] valgur opened #38401 "load_state_dict_from_url() download location inconsistency"
## 🐛 Bug

The state dict download location for [`torch.hub.load_state_dict_from_url()`](https://github.com/pytorch/pytorch/blob/61bea93fca35ad7ace2c9856499d3f478ffb1377/torch/hub.py#L435) varies depending on whether any of [`torch.hub.list()`](https://github.com/pytorch/pytorch/blob/61bea93fca35ad7ace2c9856499d3f478ffb1377/torch/hub.py#L256), [`torch.hub.help()`](https://github.com/pytorch/pytorch

[2020-05-13 16:17] SsnL commented on #1337
@josh-gleason @javierbg this is being relaxed in #38403

[2020-05-13 17:03] ParadoxRobotics commented on #38394
It would be great !
Is it possible to make this change in the next revision ?
Or do I need to create a fork of the repo ?

[2020-05-13 17:08] #24561 closed

[2020-05-13 17:11] anjali411 commented on #24622
@nikitaved I think we should use the hack you used in your PR and add `gpuAtomicAdd` for complex later

[2020-05-13 17:27] SsnL commented on #37581
Fair points. I wonder if we should just support nonwritable tensors.... given that we already have nontions of views and inplace ops.

[2020-05-13 17:36] albanD commented on #37000
Hi,

Yes sure !
First point is correct.
For the second one, yes, I think you can simply modify the conversion code that throw this error to check for `at::GradMode::is_enabled()` and not throw the error when it is not enabled.

You can add me as a reviewer to the PR when it is ready for review !

[2020-05-13 17:37] albanD commented on #37581
The problem with that is that the notion of view and inplace are only true for the autograd. So everything that is done outside the scope of the autograd (most of our low level code) will not respect these constructs :/

[2020-05-13 17:39] mruberry commented on #38349
Always great to hear from you, @rgommers!

Let's follow-up offline.

[2020-05-13 17:42] ntenenz commented on #37768
Also a very reasonable choice. An `enum.Enum` would be a clean way of succinctly capturing valid options. A list of valid strings would also be possible but would be less amenable to type hinting and static validation. While the `steps_on` attribute would limit the "step on batch and epoch" scenario, this functionality could be recovered (if desired) by using an `enum.Flag` instead of an `enum.Enu

[2020-05-13 17:42] SsnL commented on #37581
@albanD Hmm but suppose we just add an `assert self->storage().is_mutable()` or something in codegen of inplace methods and nonconst `storage.data_ptr()`. What else could trigger inplace writes?

[2020-05-13 17:46] RMeli opened #38410 "mypy error with reproducible code"
## 🐛 Bug

When I use `mypy` with the following [reproducible](https://pytorch.org/docs/stable/notes/randomness.html#reproducibility) code
[code]
I get an error:
[code]

I think the problem arises from the fact that `deterministic` and `benchmark` are not defined in `torch.backends.cudnn.__init__`. Is there a workaround for this error (which is making my CI fail)?

## To Reproduce

Steps to reprodu

[2020-05-13 17:52] albanD commented on #37581
Ho I'm not saying it's impossible. But is a bit of work I think.

Does all the methods use `storage.data_ptr()` to access the content? Don't we ever go around it?
Also Tensors created from blobs can be writen by anything else.
Or a user that gets the `data_ptr()` in python and write into it by other means.

Also I think the jit would benefit from knowing that a Tensor is immutable :)

But that fee

[2020-05-13 17:57] Krovatkin opened #38411 "Switch `c10::optional<ShapeSymbol>` with just `ShapeSymbol`."
## 🚀 Feature
* Simplify the `symbolic_sizes_` property of TensorType API. `TensorType` is a class to represent a tensor type in TorchScript IR. `TensorType` tracks various properties of a tensor such as tensor shape, strides, device, requires_grad, etc.  TorchScript IR consists mostly of `Node` and `Value` . `Node`s denote operations that produce outputs (`Value`s) . Each value is statically typed

[2020-05-13 18:03] Krovatkin commented on #38411
@suo Please reassign accordingly since I don't know yanan's GH handle.

[2020-05-13 18:09] mruberry commented on #37581
On Master we decided to warn when creating a tensor from a read-only NumPy array. Users can mark the array as writeable, make a copy of it, or avoid writing to it. Disallowing the creation seemed onerous.

In the future it'd be great to support read-only tensors.

[2020-05-13 18:09] xuhdev commented on #38187
Could you test again? #38093 has been merged to master now.

[2020-05-13 18:10] zasdfgbnm commented on #38385
Does the note by @soumith and @colesbury explain things? Should we disable `cudnnDestroy` globally, instead of having a Macro to switch it on?

https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/cudnn/Handle.cpp#L12
[code]

[2020-05-13 18:12] zasdfgbnm commented on #38385
cc: @ptrblck

[2020-05-13 18:17] MichaelLutter opened #38412 "No MKL Compatible Conda installation for PyTorch 1.5"
## 🚀 Feature
Right now having the conda nomkl package installed is a comfortable way to ensure that numpy is linking to openblas instead of Intel mkl, which is (in my experience) slower for AMD processors. If the no mkl package is installed, the conda pytorch installation resolves to an older pytorch version.

I.e. the command
`conda install pytorch torchvision cudatoolkit=10.2 -c pytorch`

instal

[2020-05-13 18:19] SsnL opened #38413 "CUDA irfft may be doing unnecessary cloning of input"
Context:
1. In [cuFFT,](https://docs.nvidia.com/cuda/cufft/index.html#data-layout)

2. We therefore had this check in `CuFFTPlanCache.h`
https://github.com/pytorch/pytorch/blob/899a075b25300460614169394588b22937a900f4/aten/src/ATen/native/cuda/CuFFTPlanCache.h#L177-L192
3. Users still reported irfft input being modified on T4 https://github.com/pytorch/pytorch/issues/34551
4. An unconditional inpu

[2020-05-13 18:19] albanD commented on #38231
Might be related: https://github.com/pybind/pybind11/issues/1360

But not sure what is the right fix here...

[2020-05-13 18:20] albanD commented on #38318
Hi,

As you can see in the body of the issue you posted, we use github issues only for bugs or feature requests.
Please use the forum to ask questions: https://discuss.pytorch.org/

[2020-05-13 18:20] #38318 closed

[2020-05-13 18:24] mruberry commented on #38349
That's great! But no need to announce what you're working on ;) Go for it!

[2020-05-13 18:38] n-gao commented on #22329
Is there any update on this issue? It would be great to be able to implement our own functions and still use jit!

[2020-05-13 18:39] MADHAVAN001 commented on #15797
I faced the same issue with PyTorch 1.0.1 + CUDA 10.1.

Reinstalling torch solves it for me.

[2020-05-13 18:54] tmbdev opened #38419 "[RFC] Add tar-based IterableDataset implementation to PyTorch"
Problem
=======

As datasets become larger and larger, storing training samples as individual files becomes impractical and inefficient. This can be addressed using sequential storage formats and sharding (see "Alternatives Considered" for other implementations).  PyTorch lacks such a common storage format right now.

Proposal
========

[WebDataset](http://github.com/tmbdev/webdataset) provides an

[2020-05-13 19:13] chauhang commented on #38419
Thanks @tmbdev We will review and get back to you

[2020-05-13 19:13] soumith commented on #38419
this seems like a very appealing RFC. I am generally supportive.

Can you talk about how you plan to integrate it into PyTorch core?
- What's the outline of where you want to put it, what files / folders do you plan to add?

Can you talk about whether you or others are volunteering to maintain it, responding to feature requests and issues wrt this Dataset?

[2020-05-13 19:35] SsnL commented on #38419
Thanks for the RFC. I haven't read enough details yet but I just want to say thank you for the detailed the request and making us aware of a great library and a great use of IterableDataset.

I may look at this in more depth and express my thoughts later. But either way, I'd be happy to assist review if this makes its way into core.

[2020-05-13 20:07] mruberry commented on #38383
Hey @Ar-Kareem! First, if you want to make a model with PyTorch: go for it! That's what PyTorch is for. But we don't typically put models into the PyTorch repo (unless they're examples/tutorials). Usually models live in their creators' repositories or in more specific packages like torchvision.

In this case, I'd encourage you to build the model how you like and write a blog post if you'd like to

[2020-05-13 20:09] mruberry commented on #35472
@sheep94lion Do you mean is multiprocessing faster than running in a single process? The answer depends on your program and your hardware. If you can distribute your computation effectively and you have multiple accelerators then it's likely to give you a significant speedup.

[2020-05-13 20:18] mruberry commented on #11578
Cool, seems like we're narrowing down to a couple reasonable-looking options.

If we did make our own parameterize it would probably only apply to our generic tests. Are you familiar with that framework, and what do you think about moving test_distributions to it? It's a great way to generate device and dtype test variants, so this functionality would be a natural extension for it.

[2020-05-13 20:18] vadimkantorov commented on #36796
https://github.com/microsoft/onnxruntime/issues/3922#issuecomment-628213684 by @hariharans29 explains that this "no-op" squeeze behavior contradicts ONNX spec. So it would be nice if export is modified on PyTorch side, e.g. to sth like:
[code]
or at least that `squeeze(dim)` errors out in no-op case if the call is being traced/exported to ONNX.

[2020-05-13 20:34] Ar-Kareem commented on #38383
I see, that makes sense. Thanks for the response @mruberry.

There is one thing, however I don't know if I should open another issue or if it's not really worth discussing.

Inside the hyperLSTM, two regular LSTM's exist. However, one of them needs LayerNormalization applied to the variable `c` (the long term memory) before it is multiplied by the output gate. The original paper on LayerNormalizat

[2020-05-13 21:01] SplitInfinity opened #38431 "[JIT][to_backend] Move code that is not related to the user-facing API out of `jit/backends/backend.h`"
## Background
JIT recently added a feature that allows a `Module` to be lowered for execution on a non-JIT specialized backend, such as Glow. The API for declaring specialized backends is in `torch/csrc/jit/backends/backend.h`. However, there is code in there that is not templated (e.g. `getPreprocessSchema`) and does not need to be in that header. Its continued presence can be confusing for end-u

[2020-05-13 21:37] eellison opened #38437 "[JIT] torch.tensor needs a Tensor overload"
## 🐛 Bug

`torch.tensor` in python eager can accept a Tensor, which it then copies into a new tensor. Because JIT does not have a tensor overload, an implicit conversion to float gets inserted which will fail at runtime.

[code]

[2020-05-13 21:42] mrshenli opened #38439 "Future callbacks in RPC should capture and restore autograd context id"
In early versions of RPC, all threads on server side are block-waiting until the request is fully processed. Hence we use a guard to clear the `thread_local` autograd context.

https://github.com/pytorch/pytorch/blob/3d0279862db2602d684ec246e18424c405582f5d/torch/csrc/distributed/rpc/request_callback_impl.cpp#L563-L564

However, since we gradually making the RPC non-blocking on server side, the ab

[2020-05-13 21:53] xush6528 commented on #38439
FTI, worked on a similar issue recently. https://github.com/pytorch/pytorch/pull/36395
Adding extra argument seems more like a temporary fix rather than a scalable one.

I think we should consider leveraging ThreadLocalState.cpp this time. It also transfers profiler thread-local state. Otherwise, an ad-hoc fix will still leave the profiler broken after RPC thread switch.

[2020-05-13 22:03] vincentqb commented on #38006
Thanks for clarifying :)

On one hand, the comment you referenced says not to modify the gradient in the closure.

https://github.com/pytorch/pytorch/blob/4e93844ab168ee0cf1aaa1b4712d6aad0e2972f8/torch/optim/optimizer.py#L174-L176

On the other, the example given does do the backward pass in the closure. And the [documentation](https://pytorch.org/docs/stable/optim.html) adds "Some optimization al

[2020-05-13 22:08] rohan-varma opened #38443 "JitTest.testAutogradProfiler is broken in test_misc.cpp"
## 🐛 Bug

The test here https://github.com/pytorch/pytorch/blob/master/test/cpp/jit/test_misc.cpp#L1186 is broken. I'm not sure whether these tests run in any of the CI systems, but the test does not pass running locally. It looks like the tests expects a count to be 200, but it is actually 600 from running it locally (https://github.com/pytorch/pytorch/blob/master/test/cpp/jit/test_misc.cpp#L1211

[2020-05-13 22:09] mrshenli commented on #38439
@xush6528 Thanks for the suggestion! Didn't realize we have a ThreadLocalState util before. Will learn its usage from autograd/engine and autograd/profiler.

[2020-05-13 22:20] suo commented on #22329
No updates as of now unfortunately, but it's definitely on our radar!

[2020-05-13 22:20] mrshenli commented on #38439
@xush6528 Looks like the existing `ThreadLocalState.h` is an overkill as it contains things like dispatch key, debug info, callbaks, while what we need for now is just an autograd context id. Are you suggesting that, instead of using existing `ThreadLocalState`, we should create our own ThreadLocalState type like profiler did with `ProfilerThreadLocalState`?

[2020-05-13 22:25] xush6528 commented on #38439
ThreadLocalState was initially added by https://github.com/pytorch/pytorch/pull/34360.

But dist_autograd_context_id is removed from ThreadLocalState in https://github.com/pytorch/pytorch/pull/35523, because of considering thread jump introduced in https://github.com/pytorch/pytorch/pull/33157 where the dist_autograd_context_id shouldn't be transferred.

For Facebook employee:
See https://www.inte

[2020-05-13 22:26] mruberry commented on #38383
I would encourage you to start by implementing your own. PyTorch is designed to be a framework/toolkit for you to build neural networks on top of, and not every component will be available "off the shelf." If a component is very hard to implement in current PyTorch or becomes very common, then we would think about making it available in the framework, too.

[2020-05-13 22:30] Ar-Kareem commented on #38383
Got it, will do.

Thanks again for the response.

[2020-05-13 22:30] #38383 closed

[2020-05-13 22:40] mrshenli commented on #38439
I see,  makes sense, will put up a PR for that.

[2020-05-13 22:43] xush6528 commented on #38439
@mrshenli

The 3 elements you mentioned, dispatch key, debug info, callbacks are all thread-local states used by profiler. We need to transfer them as well to make profiler work after RPC server thread continuation.

They might be too much for the concern of a single PR, but we eventually need it so that distributed profiler can work correctly. Now it's broken.
This thread switching on user thread

[2020-05-13 23:00] cpuhrsch commented on #38419
Thank you for this RFC! This looks great! Here are some comments

In general this seems like adding a monolith that could, maybe with a few more extensions, represent a revamp of PyTorch's data functionalities. There are data source abstractions (path, cloud storage, web, etc.), generic python functionalities (reading and decoding tar files on the fly), shuffling schemas (inter and intra-shard shu

[2020-05-14 00:14] carlosgmartin commented on #38349
Should [`take`](https://numpy.org/doc/stable/reference/generated/numpy.take.html) be added to the list?

[2020-05-14 00:36] carlosgmartin commented on #38349
The following seems to work for [`quantile`](https://numpy.org/doc/stable/reference/generated/numpy.quantile.html):

[code]

Note that `q` could potentially be a tensor rather than just a scalar.

[2020-05-14 00:47] tmbdev commented on #38419
Great!

I haven't looked at it in detail, but from a user's point of view, `torch.utils.webdataset` might be a good place.

I'm happy to maintain and support it (and I'm using the library for a lot of my work). In general, NVIDIA sees fast access to storage as an important enabler for large scale deep learning (cf Mellanox and SwiftStack acquisitions and the AIStore server), so there is corporate

[2020-05-14 00:51] thiagocrepaldi commented on #37136
Hello folks, I am trying to call `torch.jit.script` on a `MasterModule(torch.nn.Module)` that calls a remote `ChildModule(torch.nn.Module)`, but I am getting all sorts of error. It seems it is related to the `input` for the `ChildModule`, but I can't be sure

Here is a simple repro,, but a more complete example is trying to call TorchScript on [Pytorch RPC RNN example](https://pytorch.org/tutorial

[2020-05-14 01:26] ibrahimsoliman97 commented on #35547
I am facing this problem using libtorch 1.5 C++ CPU Debug x64 version.
Here is my full log:
`The following operation failed in the TorchScript interpreter.
Traceback of TorchScript, serialized code (most recent call last):
  File "code/__torch__/detectron2/export/caffe2_modeling.py", line 16, in forward
    _5, _6, _7, _8, _9, _10, = (_2).forward(input, )
    _11 = (_1).forward(_5, _6, _7, _8, _9,

[2020-05-14 01:30] malfet commented on #35547
@ibrahimsoliman97 not sure how this problem is related to abovementioned issue. But did you run into it using your own build of pytorch or using binaries downloaded from https://pytorch.org/get-started/locally/

[2020-05-14 01:38] ibrahimsoliman97 commented on #35547
It might be related since the error massage is : `RuntimeError: [enforce fail at roi_align_op.h:39] . Not Implemented.`
I downloaded the binary from pytorch https://pytorch.org/get-started/locally/
I am trying the GPU version now and will let you know the result.

[2020-05-14 01:41] malfet commented on #38310
@shyney7 the first step to enable PyTorch on QNX is to cross-compile the library for the platform(x86_64 binaries for Linux can not be used for QNX). Or have you already finished that step?

[2020-05-14 01:48] seemethere commented on #38354
Yup setting a `long_description` should just work the next time we upload a package to `pypi`.

I wish we could just update it post-upload but that functionality was removed when they moved to the new PyPA warehouse. https://github.com/pypa/warehouse/issues/2170#issuecomment-361176123

[2020-05-14 02:14] sheep94lion commented on #35472
Thanks for your reply. If I only have one GPU and say 10000 images to process (inference), will multiprocess give me any speedup? Or should I use a properly large batch_size (instead of processing the image one by one) to reduce the overall processing time?

[2020-05-14 02:20] mruberry commented on #35472
The answer to your question is too dependent on your specific problem. You could try both.

[2020-05-14 02:28] ezyang commented on #31765
cc @suo for the JIT question. However, I think the JIT relies on being able to determine accurate types since it's compilation process assumes well-typed programs.

[2020-05-14 02:31] ezyang commented on #4440
I don't think so, actually; I think sometimes people add more test files to `test/` and forget to update `run_tests.py` I think this is a more rare occurrence.

Yeah, the test reports are relevant; they could be used to aggregate information about what tests actually ran versus not.

[2020-05-14 02:32] ezyang commented on #38204
@malfet was recently talking about how, for our binary builds, we should just not ship caffe2 by default (you have to build from source if you want caffe2). I think that definitely pushes us towards (2) here. I definitely don't want to add protobuf to the dependency list here.

[2020-05-14 02:35] FzuGsr commented on #29724
+1 for quantized model export onnx.

[2020-05-14 02:38] ezyang commented on #38394
It is probably up to some interpret OSS contributor to see if they will fix it, I don't think anyone on our end is committed to fixing this.

[2020-05-14 02:38] ezyang commented on #38394
If you find a way to adjust the code so this case works, please send a PR, tag me as reviewer.

[2020-05-14 02:39] ezyang commented on #38385
Yeah maybe it is simplest just to leak these all, unfortunately.

[2020-05-14 02:41] mruberry commented on #38349
Yes but we need a properly registered C++ implementation since PyTorch has both Python and C++ APIs.

[2020-05-14 02:43] ibrahimsoliman97 commented on #35547
After my testing:
I can run my model successfully using PyTorch 1.5 on Python CPU and GPU versions (Linux),
Furthermore, i can run the model successfully using PyTorch 1.5 on C++ GPU version (Windows10).
**Finally, I am facing this error `RuntimeError: [enforce fail at roi_align_op.h:39] . Not Implemented.` on PyTorch 1.5 C++ CPU version (Windows10).**

All my PyTorch are installed from binaries p

[2020-05-14 03:06] peterjc123 commented on #38204
So is it possible to stop compiling them through some CMake options? If we don't want to ship them, then it's just a waste of time building them (at least in release builds).

[2020-05-14 03:13] peterjc123 commented on #38412
It seems that MKL is also usable with AMD CPUs, but you'll need to set `MKL_DEBUG_CPU_TYPE=5` as the environment variable.

Reference:
https://www.extremetech.com/computing/302650-how-to-bypass-matlab-cripple-amd-ryzen-threadripper-cpus

[2020-05-14 03:24] peterjc123 commented on #35547
I think this error is caused by the fact that `CAFFE_ENFORCE_EQ` is not implemented on Windows.

[2020-05-14 03:27] peterjc123 commented on #38180
Trying to do that with https://github.com/pytorch/pytorch/pull/38390.

[2020-05-14 03:45] glaringlee commented on #37707
include_dirs now support both absolute and relative paths.

[2020-05-14 03:45] #37707 closed

[2020-05-14 03:51] ptrblck commented on #38385
We could use this as a workaround and I can start bisecting to isolate a potential commit, which causes this (new) issue.

[2020-05-14 03:57] malfet commented on #38204
We should still compile them, but perhaps for just configuration on the platform.

[2020-05-14 04:00] Califax commented on #18626
This would be really useful for sharing gpus especially in kubernetes clusters.

[2020-05-14 04:04] peterjc123 commented on #38204
@malfet What about still compiling them in PyTorch CI jobs but skipping them in binary jobs?

[2020-05-14 04:05] malfet commented on #38204
@peterjc123 sounds reasonable to me.

[2020-05-14 04:06] peterjc123 commented on #38204
@malfet So the problem is how to do that using CMake?

[2020-05-14 04:07] peterjc123 commented on #38204
Currently I could not find a CMake option to turn off the building of Caffe2 sources.

[2020-05-14 04:19] peterjc123 commented on #24982
Sorry, I didn't see this question. The Windows one correspond to the latest commit in pytorch/sccache and the other two points to the commit in yf225/sccache.

[2020-05-14 04:20] SplitInfinity commented on #38443
I don't think it runs in CI because it's not a part of the tests listed by `build/bin/test_jit  --gtest_list_tests`, and I'm curious how you ran it in the first place.

This test was added in [#16580](https://github.com/pytorch/pytorch/pull/16580) by @zdevito and disabled (maybe by accident?) in [#17947](https://github.com/pytorch/pytorch/pull/17947) by @suo. Do either of you two know why this tes

[2020-05-14 04:20] #24559 closed

[2020-05-14 04:39] yuanzhangzhu commented on #34040
also hit this issue , aarch64 host , build pytorch, failed in XNNPACK,  anybody know the reason, thanks!

[ 53%] Linking C static library ../../lib/libXNNPACK.a
[ 53%] Built target XNNPACK
Makefile:140: recipe for target 'all' failed
make: *** [all] Error 2
Traceback (most recent call last):
  File "setup.py", line 745, in <module>
    build_deps()
  File "setup.py", line 316, in build_deps
    cm

[2020-05-14 04:47] tmbdev commented on #38419
WebDataset is actually derived from a previous library called (`dlinputs`) that was based around processing pipelines and represented such a revamp. Experience and feedback from users suggested that refactoring and an incremental approach was better than an all-at-once replacement. The refactoring of `dlinputs` created several separate libraries:
- WebDataset provides general Python processing pip

[2020-05-14 05:06] shivampotdar commented on #2714
My /cat/proc/cpuinfo lists sse4_1 and sse4_2, does that still count as SSE4 @soumith ?

[2020-05-14 05:35] rohan-varma commented on #38443
@SplitInfinity I was able to run it by adding the test to `tests/cpp/jit/tests.h` and then run it internally with buck.

[2020-05-14 05:58] kzielnicki opened #38457 "Named Tensor and Indexing"
First of all, thanks for all the great work on PyTorch! It's been a pleasure to use, and to watch it continue to improve. I was also excited about Named Tensor, for all the reasons described in the initial proposal: there's painful gotchas in unnamed dimensions, and opportunity to write clearer, safer code with named dimensions.

However, when we tried to use named tensors, we ran into some troubl

[2020-05-14 06:00] AshkanAliabadi commented on #34040
Unfortunately it's difficult for me to replicate this issue without having access to an ARM based host.  Can you see anything in the logs that may suggest where this is happening?  Any error messages besides that can help root cause this?  As a workaround you can just pass USE_XNNPACK=OFF to CMake to disable XNNPACK for the time being.

[2020-05-14 06:00] kzielnicki commented on #38457
Tagging @zou3519, @jspisak, and @chauhang per email convo with Carlos

[2020-05-14 06:03] SplitInfinity commented on #38443
That makes sense; what was the underlying motivation for doing so?

[2020-05-14 06:15] zasdfgbnm commented on #38074
Closing this because there is already a discussion about `torch.sgn`.

[2020-05-14 06:15] #38074 closed

[2020-05-14 06:22] zasdfgbnm opened #38458 "[Feature] View a floating point tensor as complex tensor, and vice versa"
## 🚀 Feature

[code]
gets a float tensor of shape `(M, N, 2)` and dtype `torch.float32` **sharing the same data_ptr**. That is: `r[..., 0] == t.real()` and `r[..., 1] == t.imag()`.

[code]
gets a complex64 tensor of shape `(M, N)` and dtype `torch.complex64` **sharing the same data_ptr**. That is, `r == t[..., 0] + t[..., 1] i`.

This operator could be easy to implement, and most importantly, this

[2020-05-14 06:24] yuanzhangzhu commented on #34040
https://github.com/pytorch/pytorch/pull/35157/commits/5c318611978a7f9add5b889ad70e4af5b10a9c00
gcc don't support MOV V8.4s, V9.4s
change MOV V8.4s, V9.4s  to MOV V8.16b, V9.16b works

[2020-05-14 06:27] AshkanAliabadi commented on #34040
So this has nothing to do with XNNPACK?

[2020-05-14 06:32] yuanzhangzhu commented on #34040
seems gcc issue.

[2020-05-14 06:33] yuanzhangzhu commented on #34040
XNNPACK better rewite in "c" , asm is hard to maintain

[2020-05-14 06:38] AshkanAliabadi commented on #34040
Right so to be clear there is a difference between QNNPACK and XNNPACK.  These are two separate libraries.  I want to make sure that the link you provided actually solves the issue you are seeing.  The fix you linked to is in the QNNPACK library which is different from XNNPACK.  With that patch applied, can you actually build PyTorch successfully without any issues?

[2020-05-14 06:40] yuanzhangzhu commented on #34040
root@pytorch:~# uname -a
Linux pytorch 4.15.0-99-generic #100-Ubuntu SMP Wed Apr 22 20:33:59 UTC 2020 aarch64 aarch64 aarch64 GNU/Linux
root@pytorch:~# python3
Python 3.6.9 (default, Apr 18 2020, 01:56:04)
[GCC 8.4.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

1.5.0a0+4ff3872

[2020-05-14 08:00] alanpurple opened #38464 "pytorch.org blocks our company's ip address"
## ❓ Questions and Help
our company's ip is blocked by pytorch.org

is there anyway we can get to pytorch.org?

thank you in advance

company information

Company: Wemakeprice, inc,  Korea
Blocked ip address: 211.174.55.156

https://www.cbinsights.com/company/wemakeprice-inc
https://apps.apple.com/us/developer/wemakeprice-inc/id427155549
https://www.bloomberg.com/profile/company/1318984D:KS
http:/

[2020-05-14 08:18] alanpurple commented on #38464
I confirmed, thank you!!

[2020-05-14 08:18] #38464 closed

[2020-05-14 08:39] wizcheu commented on #3867
Here is my solution for Conv1D **SAME** padding(only works correctly when `dilation==1` & `groups==1`, more complicated when you consider dilation and groups):
[code]

[2020-05-14 08:54] IlyaOvodov commented on #36061
Actually this problem limits usage of TorchScript to simple demo examples. Some very popular repositories besides detectron2 that can't be scripted for the same reason:
* https://github.com/qubvel/segmentation_models.pytorch
* https://github.com/ultralytics/yolov3
(... list can be continued)
not to mention many private solutions, I suppose, since this approach with iterating list of modules is wid

[2020-05-14 09:09] alexandreCameron commented on #38322
I got the following error message:

[code]

In the logs, there is also:

[code]

I've attached the 9 450-line long log in a separate document:

[2020-05-14_build-log-pytorch-cp37-win32.txt](https://github.com/pytorch/pytorch/files/4627189/2020-05-14_build-log-pytorch-cp37-win32.txt)

[2020-05-14 09:14] peterjc123 commented on #38322
`pip install numpy` and then regenerate the project.

[2020-05-14 09:16] vadimkantorov commented on #38458
Maybe related: https://github.com/pytorch/pytorch/issues/29013

[2020-05-14 09:19] zasdfgbnm commented on #38458
@vadimkantorov Thanks for the cross-reference! I was thinking about it, but I don't remember the issue number.

[2020-05-14 09:19] vadimkantorov commented on #38458
Also, there may be some need for constructing a complex tensor out of two separate real + imaginary tensors. Copying may be needed, though copying may be avoided if they are just slices of a tensor (but this is a bit magical)

[2020-05-14 09:22] peterjc123 commented on #38322
And make sure you are activating a X86 VC env and use X86 Python. BTW, you can speedup the build by `pip install ninja`.

[2020-05-14 09:29] zasdfgbnm commented on #38458
@vadimkantorov Do you mean something like `torch.complex(real_tensor, imag_tensor)` that does
[code]
? That sounds like a great idea to me, maybe it deserve a separate issue for discussion?

[2020-05-14 09:33] zasdfgbnm commented on #38458
Another benefit is, when `view_as_floating` is implemented, then `torch.real` could be implemented as `torch.view_as_floating(z)[..., 0]` which is copy-free.

[2020-05-14 09:34] shyney7 commented on #38310
@malfet
Thank you for your help! No I just used the zip file from the Get Sarted Pytorch Website for Linux.
Do you think that the errors are caused by using the Linux Release?
I've search for how to compile libtorch from source and only found this Page:
https://github.com/pytorch/pytorch/blob/master/docs/libtorch.rst

There it is described that you should use a Python script to compile. Unfortunat

[2020-05-14 09:35] v381654729 commented on #21819
I encounter the same problem when running a script for fine-tuning gpt2. It is probably caused by some bugs in CUDA or pytorch.

**CUDA error: an illegal memory access was encountered (insert_events at /pytorch/c10/cuda/CUDACachingAllocator.cpp:764)**

Upgrading torch to 1.5.0 and cuda to 10.2 solves my problem.

[2020-05-14 10:00] zasdfgbnm opened #38468 "Should torch.real, torch.imag be implemented as a view?"
Complex numbers obey [array-oriented access](https://en.cppreference.com/w/cpp/numeric/complex), therefore, we could implement `torch.real` and `torch.imag` just by creating a new tensor metadata and reuse the same data_ptr. This implementation will make `real` and `imag` copy-free, therefore improving performance. The user would also be able to change the real/imag part of a tensor in place by do

[2020-05-14 10:03] mattip commented on #37584
All the docker images call [`install_base.sh`](https://github.com/pytorch/pytorch/blob/master/.circleci/docker/common/install_base.sh). Is that OK as a base or should we build an entirely new image without the packages installed there?