[2020-10-28 15:57] attardi opened #46989 "inconsistent results by tensor.min on different machines"
## 🐛 Bug

torch.Tensor.min returns different results for the indices on the same tensor on different machines..
This hinders the replicability of experiments.

## To Reproduce

Steps to reproduce the behavior:

    import torch
    t = torch.tensor([[41., 16., 26., 49.,  7.,  6.,  0.,  8., 76., 31., 54., 48., 28., 73.,
         27., 21., 13., 23., 20., 64., 45., 58.,  3., 15., 43., 38.,  1., 29.,

[2020-10-28 16:11] #46651 closed

[2020-10-28 16:39] #36455 closed

[2020-10-28 16:45] janeyx99 commented on #44714
Update: After some investigation, I believe this is the reason the above happens.

https://github.com/pytorch/pytorch/blob/7e91728f6816962cb82e3103e039321327dc0600/aten/src/ATen/native/cuda/TensorFactories.cu#L91-L95

In the cuda implementation of `randperm_out`, we offload computation to the CPU when `n` is smaller than 30000 without giving any consideration of the generator device.

To confirm t

[2020-10-28 16:47] gchanan commented on #46987
@hlahkar are you trying to use these operations for something or are you running comprehensiveness tests?  We are aware of the limitations on sparse modules, it would help us prioritize if you gave some context.

[2020-10-28 16:48] VitalyFedyunin commented on #46972
Hello! Looks like you are passing invalid sized tensor into the `bmm` operator. But it is hard to say without seeing your code. As it seems coding mistake for me (and not pytorch bug), please refer all further questions to the forum https://discuss.pytorch.org/

[2020-10-28 16:48] #46972 closed

[2020-10-28 16:52] VitalyFedyunin commented on #46989
Dimensional min is not deterministic, but you can try to make it so by setting number of threads to one. However it is not documented and not guaranteed to be supported.

I'm leaving this issue open as I think we need to make docs more clear about it.

[2020-10-28 16:56] soandrey opened #46995 "max_pool2d always fails on native Android app"
## 🐛 Bug

The C++ TorchScript always crashes on Android when trying to execute `torch.max_poo2d`. This was found using the operation as part of a bigger model, but also the error was reproduced with and simple model containing the operation only.

Simple model to reproduce the error:

[code]

Input creation on C++:

[code]

Error traceback:

[code]

## Environment

 - PyTorch Version: 1.6.0
 - OS:

[2020-10-28 16:56] VitalyFedyunin commented on #46974
Could be code problem as well, have you tried to run model with `CUDA_LAUNCH_BLOCKING`?

[2020-10-28 16:58] zou3519 opened #46996 "Add batching rule for squeeze"
## 🚀 Feature
squeeze() is a view operation that is used in PReLU's double backward formula. To support second batched gradient computation, for PReLU, we would like to be able to vmap through PReLU's double backward formula. One blocker to doing that is that the batching rule for squeeze() isn't implemented

## To Reproduce
[code]
raises
[code]

## Resources

- [How to write a batching rule](https

[2020-10-28 16:59] spandantiwari commented on #46898
@oneway234 - Several updates have been added to ONNX exporter in PyTorch since PyTorch 1.3.1. Could you please try with the latest version of PyTorch (1.7) and see if this issue is resolved.

[2020-10-28 17:01] gchanan commented on #46983
Also happens for `ParameterList`

[2020-10-28 17:08] gchanan commented on #46983
it's coming from the top-level Module.

[2020-10-28 17:11] gchanan commented on #46983
CC @albanD can you take a look?

[2020-10-28 17:23] mruberry commented on #46989
The docs linked are for PyTorch 1.7 but you're using PyTorch 1.5. The PyTorch 1.5 docs describe the behavior you're seeing: https://pytorch.org/docs/1.5.0/torch.html?highlight=min#torch.min. If you update to PyTorch 1.7 I believe you'll get the behavior you expect.

[2020-10-28 17:25] attardi commented on #46989
@mruberry Thanks, I had not noticed that.

[2020-10-28 17:26] zou3519 opened #46999 "F.softmax(torch.tensor(2.), dim=0) doesn't make sense"
## 🐛 Bug

F.softmax allows passing in a scalar tensor with dim=0. However, the scalar tensor has no dimensions, so asking to compute softmax over dimension 0 doesn't make sense.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

This should probably error out or we should update our documentation

## Environment
master

[2020-10-28 17:27] mruberry commented on #46988
@hlahkar, see @gchanan's question here: https://github.com/pytorch/pytorch/issues/46987#issuecomment-718065283.

Instead of opening an issue for each of these, maybe posting a list of functions you'd like supported (and why) to the sparse rollup issue would be more helpful? It'd be easier to track. That issue is here: https://github.com/pytorch/pytorch/issues/44634.

[2020-10-28 17:28] mruberry commented on #46980
Hey @hlahkar, see questions on similar issues.

[2020-10-28 17:33] dreiss commented on #46749
Yes.

I don't think this capability is necessary for production use cases, but it might be helpful for debugging.

Like, if you train a model without reduce_range on a op that qnnpack doesn't support?  I suppose in that case we'd have to fail since we have no way to run that op.

Yes, I agree with this, but if you train a model without reduce_range, it's simply not safe to run it with fbgemm.

I t

[2020-10-28 17:34] zou3519 commented on #46999
FWIW numpy has the same behavior, so this is probably expected behavior:
[code]

[2020-10-28 17:44] jamesr66a commented on #46925
This should be resolved by https://github.com/pytorch/pytorch/pull/46958

Please let me know if you see any further issues

[2020-10-28 17:44] #46925 closed

[2020-10-28 17:45] jamesr66a commented on #46748
This should be resolved by https://github.com/pytorch/pytorch/pull/46894

Please let me know if you see any further issues

[2020-10-28 17:45] #46748 closed

[2020-10-28 17:54] mruberry commented on #46971
Is that hardswish layer quantized? The inplace attribute for quantized hardswish was removed in https://github.com/pytorch/pytorch/pull/36545. cc @vkuzo.

[2020-10-28 17:55] mruberry commented on #46989
Please reopen this issue if you're still seeing unexpected behavior on PyTorch 1.7.

[2020-10-28 17:55] #46989 closed

[2020-10-28 18:12] malfet opened #47003 "`torch.version.debug` returns True for release builds"
[code]

cc @malfet @seemethere @walterddr

[2020-10-28 18:25] dme65 commented on #46496
In that case we can change the name from `torch.lu` to `torch.linalg.lu_factor`, which is the name SciPy uses anyway, and then we can eventually deprecate `torch.lu`.

[2020-10-28 18:25] mrshenli commented on #43368
closing this issue to see if it is still flaky with the latest version.

[2020-10-28 18:25] #43368 closed

[2020-10-28 18:36] freud14 opened #47007 "RuntimeError: "mul_cuda" not implemented for 'Bool'"
## 🐛 Bug

I just upgraded to PyTorch 1.7 and I now get an this error when multiplying a Python bool with a cuda bool tensor. I do not get the error on CPU. Furthermore, it was working well on the previous version (1.6).

## To Reproduce

![image](https://user-images.githubusercontent.com/1090012/97480979-88d65200-192a-11eb-8414-4afe5eb7be71.png)

## Environment

Collecting environment information.

[2020-10-28 18:44] ngimel commented on #46974
The most common cause for this error is invalid user data (e.g. your target is larger than the number of classes). Please run with CUDA_LAUNCH_BLOCKING as Vitaly suggests, and post the error that you are getting.

[2020-10-28 18:55] lw commented on #46863
Found two more instances today:
- https://app.circleci.com/pipelines/github/pytorch/pytorch/231065/workflows/d7cdc999-62a6-42a1-a298-8385c873451a/jobs/8453200
  which has the same error as the first instance above
- https://app.circleci.com/pipelines/github/pytorch/pytorch/232227/workflows/de0f3b9e-9d1b-4f2c-9e24-fbb3c5466ebe/jobs/8524563
  which seems to be similar to the second instance

[2020-10-28 19:13] albanD commented on #46983
Indeed since ParameterList inherits from the Module class and the Module class sets attributes (like `.training`) we have this warning. Not sure how this was not caught before :/
I think we should only enable the warning after the `super(ParameterList, self).__init__()` has been called.
I guess this is one more quirk of this object being a nn.Module but not really.

[2020-10-28 19:42] eellison opened #47010 "[JIT] Tracing turns None Device Input into a Constant"
## 🐛  Bug Tracing turns None Device Input into a Constant

[code]

  _0 = torch.zeros_like(x, dtype=6, layout=0, device=torch.device("cpu"), pin_memory=False, memory_format=None)
  return _0

Ideally we would insert `device` as `None`, so that this trace could be reused with a different device. I suspect this is some tricky interaction w/Tensor Options, where we set the optional device at the pyth

[2020-10-28 19:45] eellison commented on #46580
Okay, i've filed an issue here for the specific issue that is preventing this trace from working: https://github.com/pytorch/pytorch/issues/47010 In general, there are a number of rreasons why traces wont work across dtypes/devices, but I think if we make enough targeted fixes this could be improved over time. To consolidate things I'm going to close this issue, please reopen as you see fit.

[2020-10-28 19:45] #46580 closed

[2020-10-28 19:51] #46973 closed

[2020-10-28 20:03] NikhilKothari commented on #9997
@ptrblck This doesn't work!

`a = torch.tensor([[1, 0, 2], [1, 0, 0], [2, 3, 3]])
  torch.unique(a, dim=1)

                  [0, 1, 0],
                  [3, 2, 3]])`

Please help!

[2020-10-28 20:18] anthonyfuller7 commented on #46794
How did you install CUDA 11.0 on the 3090? I tried installing it via the local runfile:

`wget https://developer.download.nvidia.com/compute/cuda/11.0.3/local_installers/cuda_11.0.3_450.51.06_linux.run`

But that driver version 450.51.06 is not supported by the 3090. I tried to swap out driver versions that would be supported by the 3090, but couldn't find the files. I then tried via the deb (netw

[2020-10-28 20:29] mrshenli opened #47012 "[POLL][RFC] Can we retire Single-Process Multi-Device Mode from DistributedDataParallel?"
## Update 03/22/2021

@SciPioneer started working on retiring SPMD and it's planned to be removed in v1.9. Please let us know if you have concerns.

---------------------------

## Background

As of today, applications can use either **Single-Process Multi-Device** (SPMD) mode or **Single-Process Single-Device** (SPSD) mode in DDP by setting `device_ids` argument in DDP's constructor. E.g.:

[code

[2020-10-28 20:30] 3DTOPO commented on #46794
I installed the 455.23.04 driver then installed Cuda 11 without incident. Although, I'm confused now myself because it shows Cuda 11.1:
<img width="562" alt="Screen Shot 2020-10-28 at 2 27 03 PM" src="https://user-images.githubusercontent.com/352383/97492916-d0101300-1929-11eb-8b94-ab2d64d98989.png">

But if I look at /usr/local I have 'cuda-11.0' not 'cuda-11.1' shown there.

Anyhow, I think you

[2020-10-28 20:33] stephenroller commented on #47012
The ranking model distributed setting (where the many negatives benefits) has been de-prioritized in ParlAI due to advancements in generative models. It's acceptable for me to lose that functionality now.

[2020-10-28 20:36] stephenroller commented on #47012
Also, single process pipeline model parallelism can let us achieve the same result, as transformers are easy to mix with GPipe/Megatron parallelism these days, which works well with DDP as is.

[2020-10-28 20:39] williamFalcon commented on #47012
cc @SeanNaren

[2020-10-28 20:43] anthonyfuller7 commented on #46794
Interesting... Looking at /usr/local I have 'cuda-11.1'. And nvcc --version also says it is CUDA 11.1

But I successfully installed stable PyTorch (that specifies 11.0), and ran a quick test putting a random tensor on the GPU, and it worked...

[2020-10-28 20:44] 3DTOPO commented on #46794
Cool, glad you're up and running!!

[2020-10-28 20:52] ailzhang commented on #45786
For missing dependency you'll need to pip install yourself. Hub doesn't only detects but don't install automatically. Closing, please feel free to reopen if you have any followup questions.
`pip install -q hydra-core`

[2020-10-28 20:52] #45786 closed

[2020-10-28 20:54] skrsna commented on #41327
Hi,

I'm having issues with `dataclass` and DDP. My use case is that I have a `dataclass` as output and I tried the fix suggested by  @stas00 but the code crashes with

[code]
Then I also tried converting the data class output to dict to no avail. It crashes with the following error when output is converted to dict from dataclass
[code]

I also noticed that the latest pytorch v1.7 has scatter/gath

[2020-10-28 20:59] zhangguanheng66 commented on #47012
My understanding is that SPMD mode in DDP is similar to `DataParallel`. Before retiring the SPMD mode, should we provide a mitigation example and show those users how to transfer to `DataParallel` (if they really want to).

[2020-10-28 21:21] mattcyu1 commented on #46749
Commenting here to give a user perspective as this has bitten me twice in the past couple weeks:

*User forgets to set the same backend during evaluation as export*
We are building a model to be deployed on mobile. We set `torch.backends.quantized.engine="qnnpack"` and run ptq, save the model as TorchScript. In a separate operator (lets say we're doing this on another server), we load the model an

[2020-10-28 21:26] SsnL commented on #44714
Oh no... even if we do not offload to CPU when generator is defined, this means **nondeterministism when CUDA seed is set**...

[2020-10-28 21:30] SsnL commented on #44714
[code]

[2020-10-28 21:32] gchanan commented on #46999
Yes, we allowed this because of numpy and also because 0-dim tensors came after reductions, so it would have been a compatibility nightmare.

[2020-10-28 21:34] meixitu17 commented on #47012
I always use SPSD after I know this skill

[2020-10-28 21:41] janeyx99 commented on #44714
Hm so what would be the right thing to do here? I'll submit a PR for a quick fix to the first issue, but I'm not quite sure how to handle the small tensor with cuda generator case.

[2020-10-28 22:08] KsenijaS commented on #45816
@pranjaldatta here prim::ListUnpack is created as a result of this code: nB, nC, nH, nW = pred.shape.
In aten graph output of pred.shape is int list. It's hard to say why you are getting the same issue without looking at your code. Also keep in mind that some operators behave differently in tracing vs scripting, thus creating different aten graph.
ONNX graph is not supposed to have prim nodes, and

[2020-10-28 22:22] pranjaldatta commented on #45816
@KsenijaS Grateful for the pointer! I have removed ```nB, nC, nH, nW = pred.shape.``` type code structures from the code. I'll open another issue with code snippets etc! Thanks!

[2020-10-28 22:35] VitalyFedyunin commented on #47012
No please. We are looking to release very-long-term DataParallel deprecation plan (with reasons). Promoting it as replacement for SPMD is bad idea.

[2020-10-28 22:39] gchanan commented on #47007
Problem is introduced in https://github.com/pytorch/pytorch/pull/44286, CC @malfet.

[2020-10-28 22:40] mrshenli commented on #47012
Hey @zhangguanheng66, is there any torchtext application that is using SPMD DDP and might be hard to migrate to SPSD DDP?

[2020-10-28 22:43] gramster opened #47027 "Fix the way imports are done to be more correct for static type checkers"
## 🐛 Bug

There are a number of imports in torch of submodules that are implicitly reexported. E.g. you can do (and it is commonly done in examples):

[code]

In `__init__.py`, the submodules are imported as (using the `nn` example):

[code]

But to be properly re-exported for static type checkers, this is not correct. Instead, something like:

[code]

is needed.

[2020-10-28 22:44] gchanan commented on #47007
Maybe just changing, includeBool to `true` will work. https://github.com/pytorch/pytorch/blob/cd26d027b3357cd913412ee13060cdbb28fc178a/aten/src/ATen/native/cuda/BinaryMulDivKernel.cu#L68

[2020-10-28 22:51] jeffdaily opened #47028 "torch.autograd.backward() fails to sync with other stream"
The new test written for https://github.com/pytorch/pytorch/pull/45787 suggests a possible failure scenario, which indeed occurs.  It is a race condition, most often encountered by ROCm CI.

https://github.com/pytorch/pytorch/pull/45787/files#diff-893b1eea27352f336f4cd832919e48d721e4e90186e63400b8596db6b82e7450R1772-R1773

Putting torch.cuda.synchronize() right after backward() fixes the problem.

[2020-10-28 22:57] malfet commented on #47007
Yeah, that would fix that, but we want tensor by scalar optimizations for boolean types, don't we?

[2020-10-28 23:18] zhangguanheng66 commented on #47012
In the BERT model, we use SPSD DDP so SPMD is not a concern for torchtext.

[2020-10-28 23:26] zhangguanheng66 commented on #47012
That's why I said "if they really want to". I agree we shouldn't promote DataParallel as a replacement but the current SPMD users might need a backup plan for this.

[2020-10-28 23:47] jamarju commented on #46824
If it helps, `new_zeros` **does** work:

[code]

Result:

[code]

[2020-10-29 00:35] CatNofishing commented on #37387
I have the similiar problem

[2020-10-29 01:15] meiji163 commented on #7965
Works great! Just need to add super(Conv2dUntiedBias, self).__init()__ and return output

[2020-10-29 02:39] hitvoice opened #47037 "Change "_next_index()" in DataLoader to a public and stable API"
## 🚀 Feature

Change "_next_index()" in DataLoader to a public and stable API.
## Motivation
When a training task is resumed in PyTorch, the DataLoader should be synchronized to its previous state. A straightforward way is to call `next(data_iter)` (`data_iter=iter(dataloader)`) multiple times, but actual data fetching will be executed and `collate_fn` will be called each time which is a huge wast

[2020-10-29 02:46] zimenglan-sysu-512 commented on #32221
@michielkallenberg
have u solve the problem? if the size of weights is to larger, and set 'replacement' False, will cost too much time.

[2020-10-29 03:05] carmocca opened #47038 "PyTorch 1.7.0 CUDA driver warning"
## 🐛 Bug

The following warning appears only on `torch==1.7.0`

[code]

Looking at the [pull request](https://github.com/pytorch/pytorch/pull/42249) that introduced it, no warning should be raised for "call to device_count()" with "no gpus"

Having to filter this warning every time `device_count` is called is not ideal.

## To Reproduce

`torch.cuda.device_count()`

## Expected behavior

Does not

[2020-10-29 03:10] ZhiyuanDang commented on #33296
i have same problem without opencv

[2020-10-29 03:14] ChuanchuanZheng commented on #33899
@ptrblck Could you show how to solve the segmentation fault with your test code?
Recently, I encountered the same fault when moving model to cuda (modle.cuda()). Great Thanks.

[2020-10-29 04:37] P3n9W31 opened #47039 "Convolution operations are extremely slow on RTX 30 series GPU"
## 🐛 Bug

I'm using PyTorch on an RTX 3090 GPU, and trying to train different types of networks (e.g., CNN, RNN, Transformer), but the training speed is really abnormal when training the CNN. To illustrate, another RTX 2080ti was used for the comparison:

(All the data in the table are in "s/batch", i.e, seconds per batch, and under the same network architecture(row).)

|                    | RTX

[2020-10-29 04:38] guozhiyao opened #47040 "Dose DDP support second-order derivative?"
## ❓ Questions and Help
I am studying the meta learning which needs the second-order derivative of parameters. I wrap my model by DDP and use only one device, which will return the correct value, while the value will be 0 when I use multi-devices.

- [Discussion Forum](https://discuss.pytorch.org/)

[2020-10-29 05:25] oneway234 commented on #46898
Thanks for help
But I got same issue. RuntimeError: Unexpected node type: onnx::Cast

  subframe_length = math.gcd(frame_length, frame_step)  # gcd=Greatest Common Divisor
/Users/wei/work/python_all/signal_processors/conv_tasnet/utils.py:39: TracerWarning: Converting a tensor to a Python integer might cause the trace to be incorrect. We can't record the data flow of Python values, so this value wi

[2020-10-29 05:31] #46757 closed

[2020-10-29 05:46] ptrblck commented on #33899
@ChuanchuanZheng Which PyTorch version are you using?
This error was reported for an older PyTorch release and should be fixed by now.
For `1.7` I get:
[code]

Trying to work around this error yields:
[code]

Using the suggested `cpu` flag yields an undefined tensor:
[code]
While the original error cannot be reproduced, we might face a new one.
My code snippet shows wrong usage, but I'm afraid use

[2020-10-29 06:13] ptrblck commented on #9997
@NikhilKothari The method works as intended and returns the unique columns, since you've specified `dim=1`, and reflects numpy's behavior:
[code]
If you want to get the unique elements from each row separately, you could use:
[code]
Note that the forum is a better place for these kind of questions ;)

[2020-10-29 06:15] oneway234 commented on #46898
I opend an issue on onnx, and the contributor said maybe the problem is due to conveter.

Could you please test the modle, as I can't rewrite the code of Pytorch. Thank you.

[2020-10-29 06:16] ptrblck commented on #47039
The binaries use cudnn8.0.3, which doesn't ship with tuned heuristics for 3090 and cudnn8.0.5 will provide them.
Until then performance regressions on these devices are unfortunately expected.

[2020-10-29 06:23] Cassieyy commented on #27588
I have the same issue, so... the only method now is to reduce the batch size, right?

[2020-10-29 06:30] ptrblck commented on #46818
@minghuisvn You are currently recreating all modules in the `forward` pass, so that they will never be properly registered.
Calling `net.eval()` changes the internal `.training` of `MLP` to `False`, but doesn't change the behavior of the newly created layers in `forward`.

A workaround would be to use:
[code]
however, I still don't think this is what you want, since you would still recreate these

[2020-10-29 06:41] ptrblck commented on #46807
@stas00 Could you install PyTorch `1.7.0` with CUDA11.0 and rerun the test? Also which device are you using?
I used your instructions and the test passes on `1.7.0+CUDA11.0` on a TitanV and RTX2080Ti.

That being said, I'm a bit confused about the test command and the output log, as it seems to indicate TensorFlow was used (which was also installed using your commands):
[code]

The test command al

[2020-10-29 06:51] P3n9W31 commented on #47039
Very thanks for your help.😃
So the solution may be: I should compile PyTorch from source once when cuDNN 8.0.5 is available？

[2020-10-29 07:15] zl751209a commented on #46971
The script has been running without any issue.
`yolov5-master>python detect.py --weight best.pt`
Ingerence has this problem"Torch.nn.modules.module.ModuleAttributeError: 'Hardswish' object has no attribute 'inplace'"
`yolov5-master>python detect.py`
(default yolov5s.pt)

[2020-10-29 07:20] mruberry commented on #46818
Thanks @ptrblck!

[2020-10-29 07:20] #46818 closed

[2020-10-29 07:43] stas00 commented on #46807
I did as you requested:
[code]
this crashes as in the original report.

If I switch to 10.2 as below:
[code]
it passes.

If I completely remove pytorch and cudatoolkit:
[code]
it now works again.

This is with GeForce GTX TITAN X

A brief look shows that this code runs tf-only, yet it somehow seems to get impacted by the cudatoolkit.

I wonder whether the test suite attempts to load pytorch anyway

[2020-10-29 07:45] stas00 commented on #46807
[code]
[code]
[code]

[2020-10-29 07:48] stas00 commented on #46807
Do you know which tf .so object I should check? There are so many of them.

But we know it's loading system-wide cuda files, since it's a requirement to install it.

From the original report above:

[code]

[2020-10-29 07:55] ptrblck commented on #46807
So the error seems indeed to be raised by both installations.
Could you run the code via:
[code]
and post the backtrace here?

[2020-10-29 07:57] ptrblck commented on #47039
Yes, that should help once it's released.
We are currently verifying it internally.

[2020-10-29 08:00] stas00 commented on #46807
That didn't work, I did:

[code]

bt:
[code]

[2020-10-29 08:04] stas00 commented on #46807
`/usr/lib/x86_64-linux-gnu/libcuda.so.1` came with `libnvidia-compute-455`

[2020-10-29 08:05] ptrblck commented on #46807
Thanks, it seems `/usr/lib/x86_64-linux-gnu/libcuda.so.1`, which should come from your local CUDA10.1 installation runs into this `assert` when `cudatoolkit=11.0` is installed.
In my run my local 10.2 installation was used in TF, so let me try to point to 10.1 instead and rerun the code.

[2020-10-29 08:17] pranjaldatta opened #47042 "ONNX Export: RuntimeError: !node->kind().is_aten() && !node->kind().is_prim() && !node->kind().is_attr()"
## 🐛 Bug

ONNX Export of a Custom Implementation of EfficientDet fails. The full error is,

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Download the Requirements mentioned [here](https://gist.github.com/pranjaldatta/e9653ab788c24dc080d5d89001e83844#file-requirements-txt)
2. Copy the main file [here](https://gist.github.com/pranjaldatta/e9653ab788c24dc080d5d89001e83844#file-infer_

[2020-10-29 08:21] stas00 commented on #46807
I also checked `/home/stas/anaconda3/envs/py38-pt17/lib/libcudart.so` for both 11 and 10.2 cudatoolkits - and they are linked identically. I guess this is the `.so` for `cudatoolkit`.

[2020-10-29 08:28] coquelin77 opened #47043 "torch.arange numerics are different after 1.7 update on CPU"
## 🐛 Bug

The floor operation is not working properly for float64 dtype. other dtypes not tested.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

see code snippet.

## Environment
[code]

## Additional context

Only tested on CPU.

cc @ezyang @gchanan @zou3519 @bdhirsh @heitorschueroff

[2020-10-29 08:36] hengyeliu opened #47044 "Exporting the operator _thnn_fused_lstm_cell to ONNX opset version 12 is not supported."
## 🐛 Bug
While convert an RNN to onnx, it report this error.
![屏幕截图(4)](https://user-images.githubusercontent.com/37336300/97544558-c14a5e80-1a04-11eb-81f3-cf6fbac242c6.png)
## To Reproduce

Steps to reproduce the behavior:
1.While run this code on GPU this error will be reported.
2.But if i run this code on CPU there is no error reported
`
    import torch
    import torch.nn as nn

    class Sta

[2020-10-29 09:14] maxfiedler commented on #46995
I am facing the same issue, it seems. I can run this minimal model without issues on an Ubuntu 18.04 docker container with Pytorch1.6.0 installed (no CUDA, just CPU) but it fails with this error when running it on Android in a minimal app on a random Tensor input.
I even tried to load it with `torch::jit::_load_for_mobile`  from `torch/csrc/jit/mobile/import.h`, but this already fails at build tim

[2020-10-29 09:31] maxfiedler commented on #35464
I am bit confused:
in Dec 2019 yf225 wrote that saving a model written in the C++ front end to TorchScript Module is not possible: https://discuss.pytorch.org/t/how-to-save-torchscript-model-using-cpp/59743/10?u=mxf

Is this a way to do this now? Or am I misunderstanding the use-case that you are pursuing here?

[2020-10-29 09:53] oneway234 commented on #46898
Hi, I also tried to simplify network model(Only two layer).

But it came out the same error.

Export onnx code:
`# model
    model = torch.load('../checkpoints/only_coder.pth')
    print(model)

    # input data
    torch.onnx.export(model.eval(),
                      dummy_input,
                      "../checkpoints/conv_tasnet/only_coder.onnx",
                      export_params=True)`

[2020-10-29 09:53] v0dro commented on #22378
@ngimel question about behaviour of scatter reduction when using `min` or `max` reduction options:

In the pytorch-scatter, there is no need to supply the `input` tensor since it is initilzed to `0` internally and therefore something like `max` only concerns the `src` tensor. Therefore, for pytorch-scatter the code turns out as:

[code]

However, in pytorch, scatter expects another `input` tensor

[2020-10-29 09:59] maxfiedler commented on #35464
and what is the purpose of the `_save_for_mobile` functions in https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/api/module.h ?

[2020-10-29 11:11] weiaicunzai commented on #46974
thanks for your reply. @ngimel  @VitalyFedyunin

I've tested two cuda versions: 10.1 and 10.2, gives me different error messages:
-  For pytorch1.6 + cuda10.2+python3.6:
    1.  ``conda install pytorch==1.6.0 torchvision==0.7.0 cudatoolkit=10.2 -c pytorch``
    1.  ``CUDA_LAUNCH_BLOCKING=1 python train.py -net resnet18 -gpu``
    1.   Error message is: ``Files already downloaded and verified
Files

[2020-10-29 11:43] weiaicunzai commented on #46974
Thank you , the same code can run on Google Colab smoothly,  but locally would gives me runtime error, so I do not think it's the code which occurs this error, and I also have other projects can occur  the same bug after my server upgrading cuda version(includes nvidia driver version), they were also smoothly running on my server before upgrading:

Just in case if you need:
Google Colab  ``nvidia-

[2020-10-29 11:46] maxfiedler commented on #46995
In the meantime I tried loading the minimal max_pool TorchScript module into the libtorch C++ frontend and reserializing it with both `torch::jit::Module::save` and `torch::jit::Module::_save_for_mobile` and then loading the result of each into my minimal test app, but this results in the same error:

[code]

[2020-10-29 12:17] pranjaldatta commented on #47042
Also, Any pointer regarding the reason for the occurrence of these warnings would be very helpful.
[code]

[2020-10-29 12:51] coquelin77 commented on #47043
this is a machine epsilon error i believe. not sure why it ran clean on previous versions

[2020-10-29 13:05] caddyless opened #47049 ""RuntimeError: Not compiled with video_reader support" raises when I use the new fine-grained VideoReader API"
## 🐛 Bug

I wanna compare the performance of the new fine-grained video read API in pytorch 1.7 to that in opencv, thus I do a experiment.
When I wanna to read a MP4 format video with the new VideoReader API in the torchvision.io.video, a "RuntimeError: Not compiled with video_reader support"  raised. Referring to the source code, I found it's caused by the _HAS_VIDEO_OPT variable is False. More p

[2020-10-29 13:15] suanrong commented on #7455
Thanks @antrec !

You are right. I ignored the logsoftmax function and made a mistake.

[2020-10-29 13:31] uniartisan opened #47050 "PyTorch bug:rebuilt parameter indices size is not same as original model parameters size.156 versus 22776"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.conda install pytorch torchvision torchaudio cudatoolkit=10.2 -c pytorch
1. install latest mmcv mmdetection
1. ./tools/dist_train.sh configs/faster_rcnn/faster_rcnn_r50_fpn_1x_coco.py 2

[code]
## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.c

[2020-10-29 13:45] jph00 opened #47051 "Tensor subclasses lose type when pickling"
## 🐛 Bug

Pickling and then unpickling a subclass of `Tensor` should result in an object of the same class as what was pickled. However, it doesn't - instead it always creates something of class `Tensor`.

## To Reproduce

The following prints `torch.Tensor`, however it should print `_T`.

[code]

## Expected behavior

It should print `_T`.

## Environment

`torch.__version__` == 1.7.0, running on

[2020-10-29 14:37] albanD commented on #46999
So I guess we should just update the doc to mention this behavior and keep it as is?

[2020-10-29 14:41] albanD commented on #47028
So the proper fix is just to add the synchronize in the test right?

[2020-10-29 14:44] ezyang commented on #46522
IIRC, ARM binaries were delayed for after the release, but IIRC we are still on track to release them.

[2020-10-29 14:45] hameerabbasi commented on #47051
I guess `pickle.loads`/`pickle.dumps` isn't meant to be fast, so the proposed fix should be okay. Thoughts?

[2020-10-29 14:47] albanD commented on #47043
You mean that the `2.` returned by the `arange` is atually `2-eps` ?

[2020-10-29 14:51] albanD commented on #47039
Closing as this looks solved: current binaries are not tuned and reduced perfs are expected.

[2020-10-29 14:51] #47039 closed

[2020-10-29 14:53] albanD commented on #47040
Hi,

We use github issues only for bugs or feature requests.
Please use the forum to ask questions: https://discuss.pytorch.org/

[2020-10-29 14:53] #47040 closed

[2020-10-29 14:55] rjkilpatrick opened #47052 "Activation functions for complex tensors"
## 🚀 Feature

Activation functions in `torch.nn` should support complex activation functions.

## Motivation

Complex numbers are different from just a simple pair of numbers with their inherent periodicity.
Complex neural networks are a growing research field.
Allowing for these would allow [physical simulation](https://arxiv.org/abs/2009.11810) of complex neural networks with optics.
Complex neu

[2020-10-29 14:59] coquelin77 commented on #47043
yes. but only for this specific case. since `1.4` in hex would be `0x1.66666666666p+0` and that isnt easily represented by a float. by the time it gets to the `2.` value in the `arange` it is less than 2.0 but above `2-eps`.

[2020-10-29 15:07] gchanan commented on #47007
If you are talking about the optimization in div I don't think applies, see comment in PR.

[2020-10-29 15:08] kyteinsky commented on #2830
Instead of moving optimizer to cuda after loading it in cpu, you could load the checkpoint directly in cuda:

[code]

[2020-10-29 15:08] francoisfleuret opened #47054 "max_pool1d crashes (segfault)"
## 🐛 Bug

A call to max_pool1d crashes on my machine, on CPU and GPU.

## To Reproduce

Run the code

    import torch
    from torch.nn import functional as F
    x = torch.rand(2500, 100, 4).permute(0, 2, 1)
    F.max_pool1d(x, 1)

## Environment

PyTorch version: 1.7.0
Is debug build: True
CUDA used to build PyTorch: 11.0
ROCM used to build PyTorch: N/A

OS: Debian GNU/Linux 9.13 (stretch) (x86

[2020-10-29 15:09] gchanan commented on #46999
ya, that sounds good.

[2020-10-29 15:22] jeffdaily commented on #47028
@albanD, I'd like @mcarilli to weigh in here.  It wasn't clear to me if they had something else in mind to fix this.

[2020-10-29 15:27] alanhdu opened #47055 "[types] torch.utils.data.{Dataset, Sampler} are not Sized"
## 🐛 Bug

The base classes for `torch.utils.data.Dataset` and `torch.utils.data.Sampler` do not define a `__len__` method, which means that downstream code relying on PyTorch (with typehints) cannot assume that the class is supposed to have a `__len__` method (adhering to the "Sized" protocol).

There's a fairly lengthy comment about why this is the case:

https://github.com/pytorch/pytorch/blob/d

[2020-10-29 15:34] speedcell4 commented on #1794
[`torchrua`](https://github.com/speedcell4/torchrua) provides a function, `reverse_packed_sequence`, to reverse `PackedSequence`, you can `pack_padded_sequence` your sequences first and then `pad_packed_sequence` them back. The `reverse_packed_sequence` implementation is very efficient.

[code]

[2020-10-29 15:55] lijunzh opened #47056 "Training slows down and memory usage increases when upgrading from PyTorch 1.6 to 1.7"
## 🐛 Bug

[Original Post]
I noticed a significant slowdown of my training script this morning after upgrading from 1.6 to 1.7. GPU memory usage also has a noticeable increase.

## To Reproduce

~~I will come back and add a MWE to reproduce this later.~~

[Edited on 11/20/2020]
First, we need to prepare two conda environments
[code]

 Following the distributed training by [pycls](https://github.com

[2020-10-29 15:59] albanD commented on #47052
Hi,

Thanks for the feature request!
For reference, we have https://github.com/pytorch/pytorch/issues/46374 that tracks support for complex numbers across `torch.nn`.

The main question I would have is about the choice between "the real and complex parts, or uses the argument and the magnitude.".
As replacing what a Module computes in torch.nn is tricky, we want to make sure that we make the right

[2020-10-29 16:03] albanD commented on #47054
Hi,

I cannot reproduce this on colab. Could you give more details on how you installed pytorch and the hardware you're using please?

[2020-10-29 16:14] heitorschueroff commented on #47054
I can reproduce the error, I'll look into it ASAP.

[2020-10-29 16:15] albanD commented on #46918
Hi,

This is expected as mentioned in the doc: `Note that when strict is False, the result can not require gradients or be disconnected from the inputs. `
This is true for the autograd in general where independent gradients can be represented by disconnected graph (and so result that does not require gradients) or a graph that returns a Tensor full of 0s.

[2020-10-29 16:17] ailzhang commented on #46231
Closing as this is mostly done, deprecation part will be more closely related to @bdhirsh 's work moving to new registration APIs.

[2020-10-29 16:17] #46231 closed

[2020-10-29 16:19] manuelbaum commented on #46918
I agree that it is expected that the results should not require gradients, but the problem is that in this case *they do*! The unexpected behavior that the result has require_grad=True is the bug that I am referring to.

[2020-10-29 16:21] ngimel commented on #33899
Thanks for digging in @ptrblck! Please open a new issue, this is different from original.

[2020-10-29 16:21] izdeby opened #47060 "[PT_BREAK] XLA test fails on PR"
I have this [PR](https://github.com/pytorch/pytorch/pull/46215)
It [fails](https://app.circleci.com/pipelines/github/pytorch/pytorch/231542/workflows/0fc4525f-9040-4fd6-89de-b1e19530f9b0/jobs/8482714) on XLA on `test_accurracy` test.
Other tests are passing fine.

Can you, please, help figure it out?

[2020-10-29 16:39] soulitzer opened #47061 "When input is empty but not None, `torch.autograd.grad` populates .grad of leaf Tensors"
## 🐛 Bug

When input is empty but not None, `torch.autograd.grad` populates .grad of leaf Tensors

## To Reproduce

The code below fails:
[code]

## Expected behavior

Gradients should not accumulate into leafs for `torch.autograd.grad`

## Environment

PyTorch version: 1.8.0a0+2518abb
Is debug build: True
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: CentOS Linux 8 (Core)

[2020-10-29 16:40] gchanan commented on #47038
that warnings looks sensible given we can't tell the number of devices if a cuda driver isn't installed.  We could potentially have it only warn once per process.

Does `torch.cuda.is_available()` warn in your case?

[2020-10-29 16:43] albanD commented on #47061
This behavior is definitely wrong.
We should definitely change this to be an error, or just return an empty tuple without calling into the autograd.

@gchanan do you think we need to go through a full deprecation with warning then error? Or we can make it an error right now?

[2020-10-29 16:43] NikhilKothari commented on #9997
@ptrblck Thanks! Actually I wanted to do this in a vectorized way without list comprehension. But I don't even know if it's possible. I mean is it possible in pytorch to have a tensor with varying row length? I've been looking for the answer since 3 days now.

And I am sorry, I'll take such questions in the forum going further.
Thanks for your help!

[2020-10-29 16:51] lemonahmas opened #47062 "The official pytorch install command with gpu support not compiled with CUDA"
## ❓ Questions and Help
By following the official install command "conda install pytorch torchvision torchaudio cudatoolkit=11.0 -c pytorch", I still cannot find cuda support.
### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our disc

[2020-10-29 16:54] #43345 closed

[2020-10-29 17:01] SsnL commented on #47055
No. We can't make them `abstractmethod` or `Sized`, because `__len__` is **optional**. Not required.

[2020-10-29 17:03] SsnL commented on #47055
The problem with returning `NotImplemented` is that there is no stack trace and the error message is confusing.

[2020-10-29 17:03] SsnL commented on #47055
Really `Sampler` is just an `Iterable`, not `Sized`.

[2020-10-29 17:04] abhinavkulkarni commented on #46854
This issue is moot and should be closed. There is an issue about in-place modification of parameters.

I worked my way around using `fill_` function to fill the weight and bias tensors with constant values.

Thanks for looking into this.

[2020-10-29 17:04] #46854 closed

[2020-10-29 17:39] #41768 closed

[2020-10-29 17:55] zou3519 commented on #47060
You probably meant to post in https://github.com/pytorch/xla/issues?

[2020-10-29 18:03] Kipok commented on #46213
Actually, I ended up implementing this myself. You can see the draft of the code here: https://github.com/Kipok/pytorch/tree/cudnn_projections (based on 1.6 tag). There is almost 2x speed up for bidirectional LSTM models when sequence length is large over the JIT-based implementation. If it is to be merged, I will need to clean it up (currently some cases, e.g. when there are no biases are broken,

[2020-10-29 18:06] ezyang commented on #44714
This seems tricky, and related to https://github.com/pytorch/pytorch/pull/46148 . cc @mcarilli

I guess, hypothetically, because we currently store CUDA rng state on cpu, we *could* have some way of using the CUDA state to feed the CPU generator in this case. This would be hard to do if CUDA rng state lived entirely on GPU, which seems like a better end term state. But then I think we're just out

[2020-10-29 18:31] dreiss commented on #46749
I don't think this is correct.  If you change your notebook to use fbgemm all the way through, then even the first saved model has the larger size.  I think this is due to a separate issue that we could address separately if it's a problem.  Here's what I think is going on with model size:

These quantized convolutions store their weights in memory in a "packed' form for fast execution.  However,

[2020-10-29 18:44] rjkilpatrick commented on #47052
When you are extending a real activation function `f` (e.g. ReLU) to complex numbers `z = a + ib = re^(iθ)`, in general there are two ways:
1. `f(z) = f(a) + i f(b)`, as a real-imaginary activation function, i.e.:
[code]
Where the two components are handled separately. This activation function is consistent with the currently implemented functions, as real numbers are just `a + 0i`. However, when

[2020-10-29 18:59] jph00 opened #47069 "`new_ones` fails with tensor subclasses"
## 🐛 Bug

`new_ones` fails with tensor subclasses.

## To Reproduce

[code]

This throws:

[code]

## Expected behavior

It should create the tensor:

[code]

## Environment

`torch.__version__` == 1.7.0, running on Ubuntu.

## Additional context

`new_full(..., 1)` is a workaround which does work correctly.

I'm also going to keep a list here of issues I find in the new subclassing support, so th

[2020-10-29 19:02] clthorre commented on #4145
Just commenting to also express confusion at having set batch_first=True and then having the output which I'm using, h_n, not have the first dimension as batch.

Maybe even specifically saying in the docs it does not impact h_n, c_n. Because it currently says it changed input and output tensors, which causes confusion because it changes the tensors named "input" and "output" but there are more out

[2020-10-29 19:04] #46985 closed

[2020-10-29 19:11] #46326 closed

[2020-10-29 19:13] albanD commented on #47043
Ok that sounds good. I am not sure if there is anything we can do on the pytorch side here?

[2020-10-29 19:15] mruberry commented on #47069
Thank you for reporting this issue, @jph00.

[2020-10-29 19:25] albanD commented on #46918
I am not sure what you expect?
The second example to have `requires_grad=False` because `x0.requires_grad=False`?
I am afraid this one falls in the second category of what I mentionned above: "a graph that returns a Tensor full of 0s or None gradient".

[2020-10-29 19:25] alanhdu commented on #47055
Hm.. if that's the case, would it make sense to have two different base classes for `Dataset` have `IterableDataset` (that only requires `__iter__`) and then have `MapStyleDataset(IterableDataset)` that requires (`__getitem__` and `__len__`)? The current setup (where `Dataset` has `__getitem__` and `IterableDataset` inherits that requirement) seems backwards.

[2020-10-29 19:28] jph00 commented on #47069
I don't know how to fix it @mruberry

[2020-10-29 19:28] mrshenli commented on #42849
Yep, we are reviewing a detailed implementation plan for #37002 internally. And should be able to share it on github in a few weeks.

[2020-10-29 19:29] SsnL commented on #47055
Re dataset: Yeah, that would be ideal, although I don't have ideas to resolve this. The current status is due to the fact that `IterableDataset` was added after `DataSet` and we wanted to still `isinstance(iterable_dataset, Dataset)` and maintain BC.

[2020-10-29 19:29] mruberry commented on #47069
haha, no worries @jph00. We just like to indicate our willingness to accept PRs on issues, not necessarily PRs from the person who filed the issue.

[2020-10-29 19:35] tchaton commented on #20822
Hey All,

This library would be great if integrated in Pytorch: https://github.com/uber/petastorm for better training on cluster.

Best regards,
T.C

[2020-10-29 19:37] albanD commented on #47060
Cannot transfer the issue there I'm afraid. You will need to open a new one.

[2020-10-29 19:37] #47060 closed

[2020-10-29 19:39] albanD commented on #47062
Hi,

We use github issues only for bugs or feature requests as mentioned in the template that you filled!
Please use the forum to ask questions: https://discuss.pytorch.org/

For your particular issue, you should make sure that you have a GPU properly installed with recent nvidia drivers and no cuda install that conflicts with the one from conda.

[2020-10-29 19:39] #47062 closed

[2020-10-29 19:40] albanD commented on #47056
Hi,

Without more details, I'm afraid there isn't much we can do.
Can you re-open the issue when you have a code sample or more details.
Also I would recommend using the forum if you have any question: https://discuss.pytorch.org/

[2020-10-29 19:41] carmocca commented on #47038
Yes:

[code]

### collect_env.py output:

[code]

[2020-10-29 19:47] mattcyu1 commented on #46749
Yup that was unclear, should have been something like "loading a model saved using qnnpack engine and then saving with fbgemm increased model size". Can confirm that model size remains the same with fbgemm (but is larger than qnnpack).

[2020-10-29 19:49] suo commented on #37387
I think one way to attack this from the JIT side is to name output values from `prim::getattr` nodes according to the attribute they're getting. Seems like a decent bootcamp task.

[2020-10-29 20:50] VitalyFedyunin commented on #47055
@alanhdu @SsnL

We are looking into the option to have something similar to:

[code]

and derive them properly in different situations.

However it might not happen before PyTorch 1.10 (~ sooner than 2-4 month)

[2020-10-29 21:19] wzdutd commented on #15797
I solved this problem just following YiruS and RizhaoCai.
RTX Titan + cuda 10.0!
Thank you!

[2020-10-29 21:31] jakebailey commented on #47027
For context on this, there's a typing-sig thread here about settling on some common behaviors in py.typed packages: https://mail.python.org/archives/list/typing-sig@python.org/thread/YLJPWECBNPD2K4TRIBRIPISNUZJCRREY/

Which we distilled into a doc here: https://github.com/microsoft/pyright/blob/master/docs/typed-libraries.md

[2020-10-29 21:38] zou3519 opened #47088 "TestTensorDeviceOps auto-generated tests are not actually being run"
## 🐛 Bug

I don't think the tests autogenerated from https://github.com/pytorch/pytorch/blob/71c0133e23cf961e492710cee124c227494d0c8b/test/test_torch.py#L20391 are being run at all.

## To Reproduce

Steps to reproduce the behavior:

1. Change the first 'add' to 'something_ridiculous', or the precision 1e-2 to 0 (lol)
2. Run `python test/test_torch.py`
3. See that there are no test failures

I've

[2020-10-29 21:39] zou3519 commented on #47088
I'm marking this as high-pri because "I would be willing to pay money to get this fixed", but also because if these tests don't run then that leaves room for regressions to sneak in

[2020-10-29 21:52] jph00 commented on #47069
Ah splendid - it's good news for all that you're not relying on me!

[2020-10-29 21:59] jph00 commented on #47051
I originally wrote this for, IIRC, pytorch 1.4, since we added our own subclassing support back then when PyTorch didn't support it. At the time, I largely copied, pasted, and refactored code from PyTorch to do so. So it shouldn't be any slower than PyTorch, unless things have changed since then.

[2020-10-29 22:17] spandantiwari commented on #47042
@KsenijaS - can you please take a look at this issue.

[2020-10-29 22:26] spandantiwari commented on #47044
This is a duplicate of https://github.com/pytorch/pytorch/issues/25533. Closing this one, and we will track that issue. Please reopen if this is not a duplicate.

[2020-10-29 22:26] #47044 closed

[2020-10-29 22:26] neginraoof opened #47089 "User Defined Class Not Supported a Constant"
## 🐛 Bug

GetAttr node is not being handled in freeze module pass. In this case, although there is no mutation on attribute, getAttr node is not handled correctly. We face this issue when testing Faster RCNN, Mask RCNN, and Keypoint RCNN models from torchvision.
In the repro example below, nodes %3 and %16 should be handled in freeze module pass:

## Repro
[code]

cc @gmagogsfm

[2020-10-29 22:32] jph00 commented on #47069
@mruberry I guess this isn't worth creating a new issue for - let me know if you want me to.

I just found that `new()` incorrectly returns an empty tensor for subclasses:

[code]

That returns:

    _T([], dtype=torch.int64)

[2020-10-29 22:36] mruberry commented on #47088
From a recent test run:

[code]

Seems like they're being run?

[2020-10-29 22:40] jph00 commented on #47069
Here's another bug on the same theme - again, let me know if you want me to create a new issue. `torch.max` does not create a named tuple if applied to a subclass, although the docs say it should be.

[code]

That returns

    (tensor(2), tensor(1))

[2020-10-29 22:41] #46764 closed

[2020-10-29 22:45] #39694 closed

[2020-10-29 22:45] mruberry commented on #47088
If I run this locally I get the expected behavior. I changed the first function to "aardvark":

[code]

and running

[code]

shows

[code]

These tests are probably just confusing because most of them only run on CUDA and there's not a direction connection between the list and the test names?

[2020-10-29 22:53] dzhulgakov commented on #46749
This actually sounds like a bug. We should just fix it and preserve aliasing through packing/unpacking cycle. One way to do it is to preserve the original tensor during load but resizing it to 0 (to free up memory while running) and then restoring it only once during packing back (so that only the first instance of packed weight would populate it). That way the save/load cycle would still preserve

[2020-10-29 22:53] mruberry commented on #47069
It's a great bug and a new issue would be helpful.

[2020-10-29 23:00] jph00 opened #47090 "`torch.max` does not create a named tuple if applied to a subclass"
## 🐛 Bug

In PyTorch 1.7 on Ubuntu 20.04, `torch.max` does not create a named tuple if applied to a subclass, although the docs say it should be.

[code]

That returns

    (tensor(2), tensor(1))

It should return a named tuple.

cc @hameerabbasi @rgommers @mruberry

[2020-10-29 23:03] mruberry commented on #47090
It definitely should follow the docs. We would accept a PR fixing this.

[2020-10-29 23:05] jph00 opened #47091 "`F.grid_sample` fails to dispatch correctly when args are of different subclasses"
## 🐛 Bug

`F.grid_sample` fails to dispatch correctly when args are of different subclasses on PyTorch 1.7 on Ubuntu 20.04.

This works correctly:

[code]

However this raises "no implementation found for 'torch.nn.functional.grid_sample'":

[code]

I don't see any reason why dispatch should fail in this case - it looks like a bug to me. However, I might be missing something.

Sorry @mruberry for

[2020-10-29 23:07] mruberry commented on #47091
@jph00 No apologies needed, these are great! I think we would accept a PR fixing this.

[2020-10-29 23:24] dreiss commented on #46749
I'm confused.  Do you mean resize it destructively?  Wouldn't that break if you do `p1 = pack(w); p2 = pack(w);` because `p2` would see a zero-size tensor?

Wouldn't this be one if you make 2 packs with the same weight?

[2020-10-29 23:27] ptrblck commented on #9997
This might be possible with [NestedTensors](https://github.com/pytorch/nestedtensor) in the future, but I'm not familiar with the current roadmap.

[2020-10-29 23:58] dzhulgakov commented on #46749
Sorry, I was just thinking about the loading part. You're right that it should work correctly even when pack is called several times one after another.

I tried to poke the sharing behavior more. I actually don't think we should fix it at PackedParams level because it semantically behaves like a "tensor". And as you point out it's pretty hard to detect when the second pack happens that the first o

[2020-10-30 00:10] dreiss commented on #46749
Can we move the size discussion to https://github.com/pytorch/pytorch/issues/45465 ?

[2020-10-30 00:11] dzhulgakov commented on #45465
@nikithamalgifb - see the description in https://github.com/pytorch/pytorch/issues/46749#issuecomment-719089875 specifically https://colab.research.google.com/drive/1qWUq6PQ4fj67TBbD3xg_BvYJve9E91AZ?usp=sharing

[2020-10-30 00:12] zl751209a commented on #46971
The script has been running without any issue.
yolov5-master>python detect.py --weight best.pt
This script has this problem"Torch.nn.modules.module.ModuleAttributeError: 'Hardswish' object has no attribute 'inplace'"
yolov5-master>python detect.py
(default yolov5s.pt)
Why?:)

[2020-10-30 00:13] dreiss commented on #46749
Yes, this is what I was proposing.

Yes.

[2020-10-30 00:15] #46814 closed

[2020-10-30 00:32] #43897 closed

[2020-10-30 01:31] SplitInfinity commented on #41355
I edited the issue to provide some more detail on the planned implementation

[2020-10-30 01:40] Guptajakala commented on #30532
@jayenashar
That's so great to see your releases!
I'm planning to subscribe to your future releases as well if you still plan to keep update with later pytorch releases. Would you plan to always release to that forked repo? Where should I request specific build, here or elsewhere?

[2020-10-30 01:46] jayenashar commented on #30532
@Guptajakala yes i will release to that forked repo, unless someone knows a better place.  i tried pypi but it seems they have a file size limit and that is the reason the official builds don't support old GPUs.  i can try an anaconda channel.

right now i'm taking requests here as it seems to be the discoverable place.

[2020-10-30 03:02] hlahkar commented on #46988
@mruberry I would like to contribute to the development of the Sparse Framework. I was taking one operator at a time and implementing the same; hence I was raising the issues. Please let me know how I can cooperate on the development of the Sparse rollup

[2020-10-30 03:05] zhangruiskyline commented on #33296
I have checked the the source code for dataloader, basically we could set a timeout

   def _try_get_data(self, timeout=_utils.MP_STATUS_CHECK_INTERVAL):
        # Tries to fetch data from `self._data_queue` once for a given timeout.
        # This can also be used as inner loop of fetching without timeout, with
        # the sender status as the loop condition.
        #
        # This raises a `

[2020-10-30 03:05] malfet opened #47098 "Many `vec256<float>` operations returns incorrect result on aarch64 if compiled by gcc-7.5.0"
## To Reproduce

Steps to reproduce the behavior:

1. Install Ubuntu-18.04 + gcc-7.5.0
1. Build Pytorch
1. Run `python3 -c "import torch;print(torch.hypot(torch.tensor([1.]), torch.tensor([1.])))"`

The result would be a surprising `tensor([1.])`.

## Expected behavior

Hypotenuse of unit triangle should be close to square root of 2, i.e.:
[code]
## Environment

[code]

[2020-10-30 03:05] malfet commented on #47098
And problem disappears if compiled by gcc-8.4.0 or newer

[2020-10-30 03:13] serg06 commented on #27837
Note that, although `torch.backends.cudnn.enabled = False` seems to solve the issue, it comes with the same performance penalty as `os.environ['CUDA_LAUNCH_BLOCKING'] = '1'`.

[2020-10-30 04:23] jingbanghu commented on #31914
u should do it at C++ code by yourself,not in the network

[2020-10-30 04:34] HeroadZ commented on #35661
Same problem here. torch 1.6 + cuda 10.2.
Will this problem be solved？

[2020-10-30 04:38] xwang233 commented on #35661
Please check the workaround in the doc and in the above comment. https://pytorch.org/docs/stable/generated/torch.nn.LSTM.html?highlight=lstm#torch.nn.LSTM

We have to wait for fix in cublas and cudnn libraries, or you have to use `torch.backends.cudnn.enabled = False` to disable cuDNN.

[2020-10-30 04:43] Guptajakala commented on #30532
@jayenashar
Hi, does this work with python 3.6.9?
![image](https://user-images.githubusercontent.com/40518028/97660709-c29d7a80-1a48-11eb-858a-41ddd37e4f13.png)
I downloaded this one and run command
`conda install ./pytorch-1.6.0-py3.7_cuda10.1.243_cudnn7.6.3_0.tar.bz2`
It says
`No module named 'torch'`

[2020-10-30 04:46] jayenashar commented on #30532
no you can't use a py3.7 pytorch with python 3.6.

do you want me to build you one for python 3.6?

[2020-10-30 04:47] Guptajakala commented on #30532
@jayenashar
that would be great, thank you!

[2020-10-30 06:23] jayenashar commented on #30532
@Guptajakala https://github.com/UNSWComputing/pytorch/releases/tag/v1.7.0

[2020-10-30 07:16] mszhanyi opened #47103 "Test case failed but test job passed."
## 🐛 Bug

Test case failed but test job passed in windows CI.

## To Reproduce

Steps to reproduce the behavior:

1. Check  recent PR's ci report, pytorch_windows_vs2019_py36_cuda10.1_test1 passed but in fact there's always one test cases failed.
It's the example [link ](https://app.circleci.com/pipelines/github/pytorch/pytorch/233135/workflows/f5cf2f9d-3f45-45d7-ac3c-cd6d9e4860f4/jobs/8578221)

#

[2020-10-30 07:18] KinWaiCheuk opened #47104 "torch.fft does not give the same result as torch.stft"
## 🐛 Bug
I would expect that `torch.stft` is built on `torch.fft` and will slices the audio frames with `n_fft` sample each.
However, when I run slice my audio frames and run `torch.fft`, the result is different from `torch.stft` and other libraries such as `librosa.stft` and `scripy.fft.fft`

## To Reproduce
I have a colab code this demonstrate how `torch.fft` is different from others
https://col

[2020-10-30 07:55] mszhanyi commented on #47103
The snapshot
![image](https://user-images.githubusercontent.com/16190118/97674327-506c7a80-1ac8-11eb-91ec-6022ab456178.png)

[2020-10-30 08:11] hameerabbasi commented on #47091
This one is actually according to the RFC, so it's more of a design decision as to whether the RFC should be changed. Specifically, in [this section](https://github.com/pytorch/rfcs/blob/master/RFC-0001-torch-function-for-methods.md#proposal)

By "unrelated class trees", I mean that not all the classes have a common descendant that we can return the type of. You wouldn't want the output type to de

[2020-10-30 08:20] tkuenzle commented on #46944
This is the root cause for https://github.com/pytorch/pytorch/issues/42258. As @alanhdu mentioned, it works if the class is available when running the model. But this only works for Python and is a real blocker when running the model in another environment, eg. C++.

[2020-10-30 08:43] LukeAI opened #47109 "Pytorch 1.7/Cuda 11.1 binaries"
Will Pytorch 1.7/Cuda 11.1 binaries be provided or only CUDA 11.0?

[2020-10-30 09:10] manuelbaum commented on #46918
As I wrote above, I expect that J2.requires_grad should be False, but it is True.

J3_requires_grad is indeed False, as expected. I just included that to show that the behavior depends on the concrete function used for the jacobian computation.

[2020-10-30 09:17] hameerabbasi commented on #47069
This one is in progress: #47110.

[2020-10-30 09:25] hoodar opened #47111 "THCudaShutdown should be called before THCState_free"
td::unique_ptr<THCState, void (*)(THCState*)> CUDAHooks::initCUDA() const {
  C10_LOG_API_USAGE_ONCE("aten.init.cuda");
  THCState* thc_state = THCState_alloc();

  THCudaInit(thc_state);
#ifdef USE_MAGMA
  THCMagma_init(thc_state);
#endif
  return std::unique_ptr<THCState, void (*)(THCState*)>(
      thc_state, [](THCState* p) {
        if (p)
		{
			THCudaShutdown(p);
			THCState_free(p);
		}

[2020-10-30 10:07] ptrblck opened #47112 "Legacy tensor ctor returns uninitialized tensor when input and output device differ"
## 🐛 Bug

Follow-up from https://github.com/pytorch/pytorch/issues/33899#issuecomment-718374923:
Using the legacy tensor constructor with a `CUDATensor` as the input and specifying `device='cpu'` returns an uninitialized tensor.
Note that other combinations seem to work properly and yield a proper error message.

## To Reproduce

[code]

Reproduced on the latest nightly binary `1.8.0.dev20201029`

[2020-10-30 10:14] ptrblck commented on #47109
PyTorch 1.7.0 binaries will ship with CUDA11.0, as we were unable to build them with CUDA11.1 due to an internal error in `nvprune`.

[2020-10-30 10:19] LukeAI commented on #47109
ok, thanks for reply! Is it likely that this will be resolved and CUDA 11.1 binaries will be provided in the near-future?

[2020-10-30 10:26] ChuanchuanZheng commented on #47112
@ptrblck Reply here. My PyTorch version is 1.3.0. The segmentation fault problem was solved by upgrading torch version to 1.6.0. Thanks for your kindly reply.

[2020-10-30 10:40] mpariente commented on #47052
From what I understood, the Cauchy-Riemann equations doesn't need to be satisfied (https://pytorch.org/docs/master/notes/autograd.html#what-are-complex-derivatives).

Intuitively, I'd choose (2) over (1). But (1) seems more non-linear than (2), and maybe it would be a good thing.
IMO, it's too early to choose because the community won't agree.

Would it be possible/feasible to provide wrappers for

[2020-10-30 11:29] hameerabbasi commented on #47069
I'm fixing the title issue in #47114.

[2020-10-30 11:36] hameerabbasi commented on #47051
Yes, `__reduce_ex__` seems to have changed significantly and so the proposed impl is too simple to do what it needs to do.

[2020-10-30 12:59] jph00 commented on #47090
Currently being worked on in https://github.com/pytorch/pytorch/pull/47110

[2020-10-30 13:04] femaref opened #47116 "trying to Installing pytorch on python3.9 via pip results in an non-descript error"
## 🐛 Bug

I update to python 3.9, and had to reinstall pytorch. pip tried to use version 0.12, which failed with a stacktrace regarding `tools.nn`. After looking through a few issues I found one saying that pytorch only supports 3.8 at the moment.

## To Reproduce

Steps to reproduce the behavior:

1. try to install pytorch via pip (`pip install torch`) on python 3.9.

## Expected behavior

either

[2020-10-30 13:09] hameerabbasi commented on #47051
Being worked on in #47115

[2020-10-30 13:32] mlamarre commented on #22402
I noticed that `ctx.save_for_backward` doesn't honor the 1.7 documentation.
Easy to try with the  `LoggingTensor` tensor from the Extending PyTorch doc.
Put a LoggingTensor tensor in `ctx.save_for_backward()`  and `ctx.saved_tensors`  returns a plain `torch.Tensor` .
Note that the autograd and subclassing examples are on the same documentation page.
Is there a workaround?

[2020-10-30 13:41] hameerabbasi commented on #22402
@mlamarre Can you open a new issue with a reproducer? If I understand correctly, however, we do the equivalent of `t.alias()` to create a subclass, which means the original `Tensor` is the only thing in `ctx.saved_tensors`. Or maybe we need to add class handling to `type(ctx)`.

[2020-10-30 13:42] ArtistBanda commented on #47116
![image](https://user-images.githubusercontent.com/36930204/97711819-9551da80-1ae3-11eb-9709-65afc9de0b82.png)

`
File "C:\Users\chira\AppData\Local\Temp\pip-install-xvrzwc4k\torch\setup.py", line 51, in run
from tools.nnwrap import generate_wrappers as generate_nn_wrappers
ModuleNotFoundError: No module named 'tools.nnwrap'
`

[2020-10-30 13:44] peterbell10 commented on #47104
The difference is because torch.fft's second argument isn't the transform axis, instead it's `signal_ndim` or the number of dimensions to transform. So, `torch.fft(x_torch, 3)` is actually equivalent to `scipy.fft.fftn(x_scipy, axes=(-1, -2, -3))`. For a more `numpy`-like interface use the new [`torch.fft.fft`](https://pytorch.org/docs/master/fft.html#torch.fft.fft) function, or if you're stuck wi

[2020-10-30 13:44] #47104 closed

[2020-10-30 13:46] Guptajakala commented on #30532
@jayenashar aweseome!

[2020-10-30 13:58] makslevental commented on #3823
This is a pretty old issue but it is now possible to use `CUDNN_ACTIVATION_IDENTITY` with  `cudnnConvolutionBiasActivationForward`. Is there any interest in getting this implemented? I'd be interested in trying to submit a PR...

[2020-10-30 14:09] alexlana commented on #21578
I had the same error, even building from repository folder. In my case, when I downloaded a zip file it don't have a .git folder inside. When I opened it in GitHub Desktop the folder .git is there and all works.

[2020-10-30 14:09] albanD commented on #47052
I guess you can write a generic wrapper like this?
[code]

[2020-10-30 14:15] albanD commented on #46918
I am afraid this is expected as an independent gradient can show up as: "a graph that returns a Tensor full of 0s or None gradient".
And if we create a graph, then the Tensors will have require_grad=True.

I do agree that this is not the state we would have in an ideal world but we cannot detect what is the reason for these Tensors to require gradients (side effect of the computation we do or a Te

[2020-10-30 14:21] walterddr commented on #47103
duplicate of https://github.com/pytorch/pytorch/issues/45864 ?

[2020-10-30 14:43] mlamarre opened #47117 "ctx.save_for_backward doesn't save torch.Tensor subclasses fully"
## 🐛 Bug

Saving a torch.Tensor subclass with `ctx.save_for_backward` only saves the base Tensor. The subclass type and additional data is removed (object slicing in C++ terminology).

## To Reproduce

Following the [Extending PyTorch](https://pytorch.org/docs/stable/notes/extending.html) doc. `LoggingTensor` is copy-pasted from there.

[code]

## Expected behavior

I would expect the subclass typ

[2020-10-30 14:46] mlamarre commented on #22402
@hameerabbasi https://github.com/pytorch/pytorch/issues/47117

[2020-10-30 15:04] mpariente commented on #47052
Yes, something like that is completely possible, and simple to implement in downstream projects.
What do you think, should it be implemented in downstream projects, or in PyTorch?

[2020-10-30 15:13] nrjvarshney opened #47118 "How to specify the instances for batches"
I am trying to solve a multi-task learning problem where I want to implement a homogeneous epoch sampling strategy (i.e in a single batch, instances from only one task are present and such batches are shuffled).

For example, Bij represents ith batch during training is of jth task
Let's assume tasks are A,B,C
B1A, B2B, B3A, B4C, B5B, ....
So a batch contains instances of one task only.

How can th

[2020-10-30 15:16] hameerabbasi commented on #46824
This is a duplicate of #47051

[2020-10-30 15:25] ezyang commented on #47027
Thanks for the report, we should definitely fix these.

[2020-10-30 15:32] gchanan commented on #47038
ok thanks, warning once seems sensible.

[2020-10-30 15:33] ezyang commented on #3823
Yeah, assuming it improves speed, we should do it.

[2020-10-30 15:40] ezyang commented on #47117
This is nasty one. We actually do some very strange stuff to tensors (unpack them into "saved tensors") when you pass them into `save_for_backward` so it is not surprising that we lose all this information. Note that we can't just *directly* save the Python object, because that is likely to result in reference cycles (as the saved tensors themselves contain references to the autograd graph which r

[2020-10-30 15:41] ezyang commented on #47052
For me, it comes down to a matter of how "established" things are. A bad outcome would be for PyTorch to pick one of two mutually exclusive choices to put into its library, and then the community going down the other road, leaving PyTorch with an outdated API that it can't update (because BC) which isn't actually useful for anyone in practice. That being said, when things are easy or obvious, ther

[2020-10-30 15:44] carmocca commented on #47038
But `is_available()` shouldnt warn right? If no driver is installed, it is not available.

[2020-10-30 15:48] mszhanyi commented on #47103
Yes. Sorry, I didn't see it

[2020-10-30 15:49] gchanan commented on #47112
reproduced and verified it's not a regression from 1.6.

[2020-10-30 15:56] gchanan commented on #47054
I was able to reproduce this on 1.7.0 and it does not crash on 1.6.0.

[2020-10-30 15:57] gchanan commented on #47043
this doesn't explain why the behavior changes in 1.7 (I confirmed it does).

[2020-10-30 16:06] rgommers commented on #41365
This was fixed by gh-41995, so closing. Your diagnosis of the issue was correct @Flamefire, thanks!   And thanks @choidongyeon for reporting.

The fix was included in 1.7.0 The test file changed too, it's now:
[code]

[2020-10-30 16:06] #41365 closed

[2020-10-30 16:06] zou3519 commented on #47088
Oh, I see. The tests I was looking at only run on CUDA -- locally I tested on a CPU build and the CI build I pulled was from a CPU-only build

It wasn't clear to me that the tests in the table only run on CUDA, but that's my fault. Thanks for clearing it up, @mruberry, I'm closing this issue.

PS: As a testing ask, it would be nice if we made it easier to discover where or how a test gets generate

[2020-10-30 16:06] #47088 closed

[2020-10-30 16:10] mruberry commented on #47088
I don't think it's your fault, @zou3519, I think it's confusing and we should consider this a point of feedback for how to improve the test suite's readability.

Exactly, I think this is the correct takeaway.

[2020-10-30 16:11] albanD commented on #47052
@ezyang what do you think about adding a cleaned up version of the `ComplexAct` above in `torch.nn.utils`. It will allow people to experiment easily without having to rely on third party libs and does not block us in any choice.

[2020-10-30 16:27] supriyar commented on #44926
@jerryzh168 did we plan for this in the API changes?

[2020-10-30 16:28] supriyar commented on #43209
Closing as there is no local repro. Please re-open if the issue persists with latest PT version.

[2020-10-30 16:28] #43209 closed

[2020-10-30 16:38] SsnL commented on #47118
Use a custom batch_sampler for your dataloader.

Use forums for questions. Github is for bugs and issues.

[2020-10-30 16:38] #47118 closed

[2020-10-30 16:40] #45357 closed

[2020-10-30 16:41] jph00 commented on #47091
Thanks for the explanation @hameerabbasi . Unfortunately, it does mean that subclassing Tensor causes breakage in things that work fine with Tensor itself, as in this case. I currently use this very hacky workaround in our base class for all fastai tensors (`first` is the same as `next`, but returns `None` instead of raising `StopIteration`):

[code]

Is there some more elegant and correct way I c

[2020-10-30 16:48] mcarilli commented on #44714
Silent offload to CPU for N<30000 is also annoying for me right this second because it won't be captured by cuda graphs...

There are calls to retrieve relevant Philox state values from CUDA generators which could seed a CPU generator, but only if the CPU generator also uses philox.

The GPU-state maintenance added by my PR provides the same interface to retrieve Philox state values.  It syncs as

[2020-10-30 16:58] mcarilli commented on #47012
Does anyone remember a few months ago when I discovered SPMD DDP was unusably broken?  The fact that no one reported it, and my tests were the first to discover it, indicates there were no "current SPMD users."  There could not have been.  It simply didn't work.

[2020-10-30 17:03] decodyng opened #47123 "Independent Distribution Wrapper Disguises Negative StdDev in Underlying Normal Distribution"
## 🐛 Bug

When you wrap a `Normal` distribution in an `Independent` wrapper to change its relative batch vs event dimensions, this leads to a situation where calling `wrapped_dist.stddev` can produce incorrect values with respect to the underlying `base_dist.stddev` when `base_dist` has been accidentally created with negative standard deviation values, since `wrapped_dist.stddev` seems to by desig

[2020-10-30 18:08] zou3519 opened #47127 "torch.trace type promotion behavior is different on CPU vs CUDA"
## 🐛 Bug

torch.trace type promotion behavior is different on CPU vs CUDA.

Discovered while working on #47126.

## To Reproduce

[code]

## Expected behavior

## Environment
PyTorch 1.7 / master

cc @ngimel @nairbv @mruberry

[2020-10-30 18:19] mrshenli commented on #47012
Hey @mcarilli, thanks for the comment. According to the discussion in #36268, it's working for <= v1.4. And your fix make it work for >= v1.6. It does not work for v1.5 is a known issue. So if users jump from v1.4 to v1.6, they probably wouldn't notice that.

[2020-10-30 18:38] danieltudosiu opened #47128 "AMP doesn't gracefully handle optimizers for disabled regions"
## 🐛 Bug

When we have optimizers for multiple parts of the networks and one such part has the amp context disabled through     `@torch.cuda.amp.autocast(enabled=False)` the optimizer for that part will error out with `AssertionError: No inf checks were recorded for this optimizer.`

## To Reproduce

Create a VAE and have the code processor (where we split into mean and logvar, do the reparameteri

[2020-10-30 20:18] ngimel commented on #7092
Closing due to age

[2020-10-30 20:18] #7092 closed

[2020-10-30 20:19] ngimel commented on #7087
Closing, parallelization changed a lot since.

[2020-10-30 20:19] #7087 closed

[2020-10-30 20:19] ngimel commented on #7083
Closing due to age.

[2020-10-30 20:19] #7083 closed

[2020-10-30 20:20] #6999 closed

[2020-10-30 20:21] #7008 closed

[2020-10-30 20:21] ngimel commented on #6892
closing due to age

[2020-10-30 20:21] #6892 closed

[2020-10-30 20:22] ngimel commented on #6884
closing due to age

[2020-10-30 20:22] #6884 closed

[2020-10-30 20:24] ngimel commented on #6852
closing due to age.

[2020-10-30 20:24] #6852 closed

[2020-10-30 20:26] ngimel commented on #6963
closing due to age.

[2020-10-30 20:26] #6963 closed

[2020-10-30 21:03] malfet commented on #47098
Updated the title to reflect that issue is not limited to `hypot`, but affects lots of operators accelerated with `neon` intrinsics.
For example 37 tests from https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/test/vec256_test_all_types.cpp, namely:
[code]

[2020-10-30 21:03] guilhermeleobas opened #47133 "Enable torch.cuda typechecks during CI"
`TestTypeHints.test_run_mypy` should pass with `[mypy-torch.cuda]` deleted from mypy.ini

cc @ezyang @malfet @rgommers @xuzhao9 @gramster

[2020-10-30 21:13] mruberry commented on #47127
We would definitely take a PR fixing this.

[2020-10-30 22:12] mcarilli commented on #47128
`AssertionError: No inf checks were recorded for this optimizer` comes from `GradScaler`.  `autocast` is completely modular from `GradScaler`, so I suspect the error comes from `GradScaler` control flow.  Remove instances of autocast from your code and see if the error persists.  Also, can you post a minimal example, so I can check GradScaler control flow?

[2020-10-30 22:27] willsq commented on #44952
Think this is already addressed here?
https://github.com/pytorch/pytorch/blob/master/torch/csrc/cuda/shared/cudart.cpp#L36

[2020-10-30 22:47] erikwijmans opened #47138 "Jit Error with CUDA and FP16 -- identifier "aten_add_flat__1" is undefined"
## 🐛 Bug

When running a scripted module with a cuda device and with fp16, I get the following error when computing the backwards pass:
[code]

## To Reproduce

Steps to reproduce the behavior:

`python repro.py` where repro  has the following contents:
[code]

I have minified this as much as I can (started with the actual module from my network and removed stuff that didn't cause the error)

Runn

[2020-10-30 23:09] seyeeet opened #47139 "AttributeError: module 'tensorflow._api.v2.io.gfile' has no attribute 'get_filesystem'"
I am using pytorch 1.7 on ubuntu 14.04 and python 3.6.6
I am running this [document](https://pytorch.org/tutorials/intermediate/tensorboard_tutorial.html) from the pytorch doc for visualization but it gives me the following error at the stage:

[code]
I get this error:

[code]
I am also using this version for tf and tb
[code]

[2020-10-30 23:12] xwang233 commented on #46782
@pritamdamania87 Thanks for the fix in test arguments. I have verified that works. However, I'm seeing another failure for empty tests selected by `-k`. For example

empty tests in unittest returns **pass**
[code]

but empty tests in pytest returns **fail**
[code]

[2020-10-31 00:11] #46872 closed

[2020-10-31 00:35] mrshenli opened #47145 "Simplify RPC Message Request/Response type check"
As we add more and more message types, the request/response type check function needs to go through more and more comparisons. I wonder if we should organize bits to simplify it. E.g., we can have the lowest 8 bits representing the message type, and then the next 8 bits serve as flags. And have a `kIsRequestMask=0x10` mask. In this case `SCRIPT_CALL` will be `kIsRequestMask | 0`, etc. Then the `is

[2020-10-31 00:36] mrshenli commented on #47145
Self-assigned to reserve for onboarding

[2020-10-31 01:39] linjiapro commented on #33933
@duaisha, look at this if you are on a linux/ubuntu machine: https://www.linuxatemyram.com/

I think the point is that if you keep touching disk to do saving, Linux OS will start to allocate memory for "disk cache" and the memory on your machine will look low but actually the available memory is high. Things are fine.

[2020-10-31 01:45] KsenijaS commented on #47042
@pranjaldatta runtime error is caused by prim::ListUnpackand will be fixed by this patch: https://github.com/pytorch/pytorch/pull/46264
Warnings are caused because ONNX scalar type analysis wasn't being consistent with PyTorch and will be fixed by this patch: https://github.com/pytorch/pytorch/pull/46629

[2020-10-31 02:56] kitsing opened #47146 "torch.view() after torch.expand() complains about non-contiguous tensor"
## 🐛 Bug

I cannot reshape an expanded tensor without allocating extra space, even though the expanded tensor uses a contiguous memory chunk

## To Reproduce

Steps to reproduce the behavior:

1. `torch.arange(3*4*5).reshape(3,4,5)[:, None, :, :].expand(3,10,4,5).view(30,4,5)`

`RuntimeError: view size is not compatible with input tensor's size and stride (at least one dimension spans across two c

[2020-10-31 04:30] laizewei opened #47147 "libtorch 1.6.0: How to make the data of each batch have different sizes"
libtorch 1.6.0 win10 x64 .

I wrote an OCR model of the dataset.The word is encoded with different lengths as the label input.How to make the data of each batch have different sizes?
example:
data:123.png datasize:[batchsize,3,180,32]   ,label: 123,labelsize:[batchsize,3]
data:3234.png datasize:[batchsize,3,180,32]  ,label: 3234,lablesize:[batchsize,4]
[batchsize,3]!=[batchsize,4]
The dataset in P

[2020-10-31 06:23] #46348 closed

[2020-10-31 07:11] pranjaldatta commented on #47042
@KsenijaS Thanks a lot! Would be waiting for the fixes! In the meantime, could you suggest some ways to bypass this at the first place, like the code snippets in the example above, that is causing this? So that I can refactor and avoid these at the first place?

Sorry if that's asking too much, kinda a beginner in these things.

[2020-10-31 07:41] carlosgmartin opened #47149 "Allow all torch.nn modules to accept arbitrary batch dimensions"
## 🚀 Feature

Allow all [`torch.nn`](https://pytorch.org/docs/stable/nn.html) modules (e.g. [`Conv2d`](https://pytorch.org/docs/stable/generated/torch.nn.Conv2d.html), [`GRUCell`](https://pytorch.org/docs/stable/generated/torch.nn.GRUCell.html), etc.) to accept arbitrary batch dimensions, like [`Linear`](https://pytorch.org/docs/stable/generated/torch.nn.Linear.html) does.

## Motivation

This pre

[2020-10-31 08:00] Coderx7 commented on #27569
@suo is exporting an already jit traced model to onnx supported/possible in pytorch?
attempting to do so in the latest stable release (1.7) fails!

[2020-10-31 08:23] krush11 commented on #46391
I would like to work on this repo but i am new to it. Can you direct me on how/where to start?

[2020-10-31 10:11] Chillee opened #47151 "[FX] FX doesn't print out the line where an error occurs"
[code]

results in
[code]
crucially missing the last line.

I imagine that `exec` has some kind of hardcoded thing, kinda like https://github.com/python/cpython/blob/fb5db7ec58624cab0797b4050735be865d380823/Lib/code.py#L134 (I don't think this is the actual reason).

[2020-10-31 11:18] vadimkantorov commented on #46948
If these are recorded, it may be useful to let user access these (shape inference) "type hints".
One way this could be done is by: `assert torch.record_shapes(lambda X, Y, Z: X.shape[1] == Y.shape[2] and X.shape[2] == 64 and Z.ndim == 3, X, Y, Z)` and then accesssing by `hints = torch.get_recorded_shape_hints(X, Y, Z)`

[2020-10-31 13:27] jacobjwebber commented on #42175
Hi all, was going to make a new issue, but this seems an appropriate place
Using torch.stft() now returns a not-very-easy-to-understand warning.

[code]
Presumably this could be fixed by changing stft to point to the new fft module?

This is with today's nightly build 1.8.0.dev20201031

[2020-10-31 14:59] kshitij12345 opened #47153 "import torch: AttributeError: module 'torch.distributed' has no attribute 'BuiltinCommHookType'"
After building the latest master https://github.com/pytorch/pytorch/commit/ee0033af9b7531ba0a453844dc621f8cfa140c20 with,

[code]

On importing torch, I get the following error,
[code]

Previously there was no issue with the same.

Probably related to https://github.com/pytorch/pytorch/commit/ee0033af9b7531ba0a453844dc621f8cfa140c20

cc @ezyang @gchanan @zou3519 @bdhirsh @heitorschueroff @pietern

[2020-10-31 15:07] vwxyzjn commented on #29973
@ljk53  that was a very move profiling. Any updates with this?

[2020-10-31 15:27] budui opened #47154 "difference between torch.bmm and a batch of torch.mm become larger when matrix dimension become smaller"
## 🐛 Bug

difference between `torch.bmm` and a batch of `torch.mm` become larger when matrix dimension become smaller

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

difference  will be 0 at all times, or difference will be larger when matrix get larger.

## Actual behavior

[code]

## Environment

[code]
## Additional context

[2020-10-31 15:28] esqu1 commented on #37516
@gmagogsfm  @Lilyjjo It seems that this is giving different behaviors between whether the module subclasses ScriptModule or not:

[code]
will return `torch.Tensor([2])`, but
[code]
will return `torch.Tensor([3])`. Are you able to reproduce this on your end?

[2020-10-31 16:06] lemondante commented on #46930
Sorry, emmm...I have the same problem...
ERROR: Package 'dataclasses' requires a different Python: 3.7.0 not in '>=3.6, <3.7'
Is there any simple solution to help me install pytorch?

[2020-10-31 16:43] AlexTS1980 commented on #33298
In my case it was a glitch I didn't notice first. I created an FPN in `backbone_utils` and the `AnchorGenerator`:

[code]
but I forgot to delete `extra_blocks` output in FPN, so it kept having two outputs!

[2020-10-31 16:44] jonasteuwen opened #47157 "Complex dtype and named tensors don't go along"
## 🚀 Feature
Support differentiation for complex-valued named tensors.

## Motivation
Complex datatypes and named tensors are an important (yet experimental) feature yey `view_as_complex` and `view_as_real` will not support differentiation of complex tensors.

**Problem:**
[code]
Results in:

`RuntimeError: alias does not support automatic differentiation for outputs with complex dtype.
`

There i

[2020-10-31 17:04] ccoulombe commented on #46930
@lemondante
You can patch the wheel to remove the requirement in the metadata.
Or install it in two steps from the latest requirements (or manually) :
[code]

[2020-10-31 18:27] jianlong-yuan commented on #46974
same error

[2020-10-31 19:33] jpetkau opened #47160 "Spurious "NumPy array is not writeable" warning on `torch.tensor(np_array)`"
## 🐛 Bug

`torch.tensor(a)`, for non-writeable numpy array a, produces this warning:

```UserWarning: The given NumPy array is not writeable, and PyTorch does not support non-writeable tensors. This means you can write to the underlying (supposedly non-writeable) NumPy array using the tensor. You may want to copy the array to protect its data or make it writeable before converting it to a tensor.`

[2020-10-31 19:50] mfkasim1 commented on #38948
Hi @nikitaved, I've implemented the backward for symmetric A & B in [xitorch](https://github.com/mfkasim1/xitorch/blob/master/xitorch/linalg/symeig.py) for your reference. I have to admit it was not an easy task. I can write down the math derivation if you want.

[2020-10-31 19:58] nikitaved commented on #38948
@mfkasim1 , hi! The symmetric case is already in PyTorch. The case for B requires the matrix square root, there is an issue I am assigned too. Maybe it is possible to avoid it. I am about to make a write-up. We could compare the math or become co-authors, up to you! You can check the code in torch/_lobpcg.py.

[2020-10-31 20:11] mfkasim1 commented on #38948
@nikitaved Ah, I thought you haven't implemented for non-identity `B`.
I'm using implicit matrices/linear operator for `A` and `B` in xitorch (only need to know `Av` and `Bv`), so it works for sparse matrices if you're interested in implementing that too. However, it involves iterative solve (e.g. cg, bicgstab, etc).

[`xitorch.linalg.symeig`](https://xitorch.readthedocs.io/en/latest/api/xitorch_l

[2020-10-31 20:28] nikitaved commented on #38948
I see, thank you! Then you are right! B is only identity as of now. Would be cool to see alternatives which involve different methods.

Well, at least arXiv would be great for starters...

[2020-10-31 20:35] peterbell10 commented on #42175
Yes, I forgot to update `stft` when I deprecated it. Thanks for bringing this up.

[2020-10-31 20:59] lobpcg commented on #38948
The math trick avoiding the square root of B is to notice that inv(B)*A is symmetric in the B-based scalar product, i.e. x'Bx. So one can apply whatever standard theory or algorithms for generalized eigenvalue problems, as soon as B is SPD (our case). After the substitution, in many places one gets inv(B)B so it just goes away. But in a few key spots one still needs implementing  vector multiplica

[2020-10-31 21:50] froody opened #47161 "sefault during shutdown with torch1.7"
## 🐛 Bug

I'm seeing a sporadic crash in one of my unit tests due to PyThreadState_GET() returning NULL while the GIL is held

## To Reproduce

Steps to reproduce the behavior:
1. Install torch 1.7.0 (I used python 3.7.8) and pytest
2. Checkout https://github.com/froody/fairscale/tree/torch17_crash
3. execute `while true; do pytest -k "test_python_autograd_function[PipelineStyle.MultiProcess]" -s

[2020-11-01 03:51] ngimel commented on #47146
Runtime error thrown in this case is correct, you cannot view you expanded tensor with the sizes you want without materializing the expanded form first. `.view()` is an operation that sets logical strides to view physical memory as a tensor with specified sizes. In your case, not strides can do that.

[2020-11-01 03:51] #47146 closed

[2020-11-01 03:52] ngimel commented on #47147
Please ask questions on discuss.pytorch.org.

[2020-11-01 03:52] #47147 closed

[2020-11-01 04:16] ngimel commented on #47154
You are comparing very large numbers, on the order of 10^8. The differences you are observing stem from floating point accuracy. cublas can use different kernels that sum the numbers in the different orders, there's no guarantee that results you are getting will exactly match single matrix multiplication or that the error will grow with the matrix size.

[2020-11-01 04:16] #47154 closed

[2020-11-01 04:36] ngimel commented on #47160
Thank you for your bug report, warning is indeed spurious in this case.

[2020-11-01 04:43] ngimel commented on #7144
Closing due to age, please reopen if this is still an issue.

[2020-11-01 04:43] #7144 closed

[2020-11-01 05:06] nikitaved commented on #38948
Upon further inspection, I can see how to extend the already implemented method to the generalized problem. And, yes, it does not require the matrix square root.

[2020-11-01 05:57] meremeev opened #47162 "Custon C++ classes are not traceable"
## 🐛 Bug

Attempt to trace model utilizing custom C++ classes built according to https://pytorch.org/tutorials/advanced/torch_script_custom_classes.html
end up with error below:
[code]
Note, model is script-able, but not traceable.

## To Reproduce

build any class according to https://pytorch.org/tutorials/advanced/torch_script_custom_classes.html and trace it

## Expected behavior

I would expec

[2020-11-01 06:12] weiaicunzai commented on #46974
It's definitely a nvidia or Pytorch bug.

[2020-11-01 06:15] #46592 closed

[2020-11-01 06:29] weiaicunzai commented on #46974
I've solved this issue, For someone who needs the solution, I'll post mine solution here, hope it can help someone.

I've tried reinstall ubuntu,  tried each cuda version that 2080ti supports, and each installation  method(apt-get, deb, run file...), none of them worked. Then I started to wonder whether my 2080ti was broken. I explicitly specified the gpu id using
``net.cuda(device=0)``, magically

[2020-11-01 07:02] henbucuoshanghai commented on #17148
the same error    mine is cuda10.0  nvidia418,cudnn7.6         help

tmpxft_00006b56_00000000-5_maxpool_layer_kernels.compute_70.cudafe1.cpp:(.text+0xff5): undefined reference to `__cudaPushCallConfiguration'
obj/maxpool_layer_kernels.o: In function `__device_stub__Z34forward_local_avgpool_layer_kerneliiiiiiiiPfS_(int, int, int, int, int, int, int, int, float*, float*)':
tmpxft_00006b56_00000000-5

[2020-11-01 09:14] CatNofishing commented on #37387
any  way to solve this issue?

[2020-11-01 09:48] xingxinggui opened #47163 "Grad strides do not match bucket view strides."
[W reducer.cpp:313] Warning: Grad strides do not match bucket view strides. This may indicate grad was not created according to the gradient layout contract, or that the param's strides changed since DDP was constructed.  This is not an error, but may impair performance.
grad.sizes() = [1024, 1024, 1, 1], strides() = [1024, 1, 1024, 1024]
bucket_view.sizes() = [1024, 1024, 1, 1], strides() = [1024

[2020-11-01 10:12] MimoiGaming opened #47165 "Import error with successfully install of torch"
## ❓ Questions and Help
Hello, I got an issue while importing torch in python

I installed CUDA 11.1 on my Windows 10 pc. Then i installed torch with following command:
 `pip install torch===1.7.0+cu110 torchvision===0.8.1+cu110 torchaudio===0.7.0 -f https://download.pytorch.org/whl/torch_stable.html`
What also worked without any issue. But when i ran python 3.8 and try to import torch with `impor

[2020-11-01 10:15] xingxinggui commented on #47163
my code is cnn
`nn.Conv2d(1024, 1024, 1)`

[2020-11-01 10:28] xingxinggui commented on #47163
I use DDP

[2020-11-01 11:04] AndersGarpebring commented on #46884
Here is result from the output window. It is a bit complicated since it is the result from a unittest in c# which calls a c# dll which in turn call a c++ dll that uses the libtorch library. I hope it can give some insights.

'testhost.exe' (Win32): Loaded 'C:\Users\anders\.nuget\packages\microsoft.testplatform.testhost\16.5.0\build\netcoreapp2.1\x64\testhost.exe'.
'testhost.exe' (Win32): Loaded 'C

[2020-11-01 11:10] #47165 closed

[2020-11-01 11:25] AndersGarpebring commented on #46884
The pinning problem seem to popup in other functions too. If I cat GPU tensors I sometimes get an error with some references to the pinning.

**Error Trace:**
error in LoadLibraryA
Exception raised from DynamicLibrary at ..\..\aten\src\ATen\DynamicLibrary.cpp:53 (most recent call first):
00007FFB9FB86F3200007FFB9FB865E0 c10.dll!c10::detail::LogAPIUsageFakeReturn [<unknown file> @ <unknown line num

[2020-11-01 14:54] wangleiofficial commented on #7455
The implementation of a label smoothing cross-entropy loss function:
[code]

[2020-11-01 15:53] jianjiandandande opened #47167 "Distributed weight updates"
## ❓ Questions and Help

I used a distributed training model, but encountered errors in updating gradients
 the code is

[code]
the error is

[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528 @osalpekar @jiayisuse @agolynski

[2020-11-01 16:15] siddancha opened #47168 "Order of sum and indexing matters for GPU tensors"
## 🐛 Bug

Computing the sum (along a dimension) and then indexing into a tensor should produce the same result as indexing first and then computing the sum. This holds for CPU tensors but doesn't seem to hold for GPU tensors. Is this expected behavior?

## To Reproduce

Steps to reproduce the behavior:

Please run `python test.py`

[code]

## Expected behavior

I expected to get "Test passed!" but

[2020-11-01 16:29] amirzaei1367 commented on #30923
a = torch.eye(3)
a = a>0

[2020-11-01 18:07] anna245 opened #47169 "Accuracy and loss value are stable"
I'am beginner in deep learning,  I used pytorch to create 3DCNN,
accuracy and loss values ​​decrease and increase.
notice: if I delete dropout layer the accuracy and loss values remain unchanged for all epochs.
Input image: 120 * 120 * 120
Do you know what I am doing wrong here?

Thanks in advance!
[code]

Result :
[code]

[2020-11-01 18:14] anna245 opened #47170 "Accuracy and loss values are stable"
I'am beginner in deep learning, I created 3DCNN using Pytorch.
the problem that the accuracy and loss are increasing and decreasing (accuracy values are between 37% 60%)
note: if I delete dropout layer the accuracy and loss values remain unchanged for all epochs
input image: 120 * 120 * 120
Do you know what I am doing wrong here?

Thanks in advance!
[code]
Result:

[code]

[2020-11-01 18:41] SsnL commented on #47168
floating point sum is not associative.

[2020-11-01 18:51] siddancha commented on #47168
I see, so the order of summation is not guaranteed to be fixed on GPUs but it is on CPUs?

[2020-11-01 18:53] SsnL commented on #47168
it's fixed for same input shape and same argument, but not the same across CPU vs CUDA, nor `A[1].sum()` vs `A.sum(dim=X)[1]`.

[2020-11-01 18:56] siddancha commented on #47168
That really helps. Thank you!!

[2020-11-01 18:56] #47168 closed

[2020-11-01 19:18] yasser-h-khalil commented on #21092
Hello,

I am getting the same issue. Did anyone find a solution for this?

Thanks.

[2020-11-01 20:03] jonasteuwen commented on #47153
Same problem on OS X.

[2020-11-01 21:00] norpadon opened #47175 "[feature request] Show warning if optimizer.zero_grad() was not called before optimizer.step()"
## Issue description

It is easy to introduce an extremely nasty bug in your code by forgetting to call `zero_grad()` or calling it at the beginning of each epoch instead of the beginning of each iteration.

I propose adding a simple check to ensure that `zero_grad()` is called before each `step()` and show a warning if it is violated. If this behavior is intentional (e.g., for gradient accumulati

[2020-11-01 21:12] ngimel commented on #47170
Please use discuss.pytorch.org for questions.

[2020-11-01 21:12] #47170 closed

[2020-11-01 21:12] #47169 closed

[2020-11-01 21:14] ngimel commented on #47163
cc @mcarilli. In this case it seems the warning is spurious, strides are nominally different but physical layout is the same.

[2020-11-01 21:31] dvolgyes commented on #47116
And the same for conda install: python 3.9 is not supported.

We had have this issue with python 3.8 last year too.
It would be nice to add python betas and release candidates to testing automatically,
and when new python is released, then creating compatible pip/conda packages automatically.
Since now there is a predictable python release calendar, we know this issue will arise
next october again

[2020-11-01 23:02] vadimkantorov commented on #44636
hmm, it seems it should already be supported: https://github.com/pytorch/pytorch/blob/master/torch/onnx/symbolic_opset9.py#L2292

will check again why it failed in my case

[2020-11-01 23:55] timothybrooks commented on #37583
This error message occurs for me with pytorch 1.7.0 when calling sum on a large tensor on GPU. The tensor is of shape `torch.Size([8, 1, 128, 1024, 1024])` and the call was x.sum(dim=1).

[code]

[2020-11-02 00:34] msollami-sf commented on #43665
The static solution above leaves out the inplace bool argument.

[2020-11-02 00:36] adgaudio commented on #46034
For those of you checking on this thread:

It appears Nvidia released a working driver.  Cuda and pytorch work for me now.

 nvidia-455.38-1  works with linux 5.9.2.arch1-1

[2020-11-02 00:55] CoinCheung commented on #15359
@t-vi Hi, Now that pytorch 1.7 is released, has the interpolation backward kernel been updated ?

[2020-11-02 01:32] ngimel opened #47176 "Dropout broken on cuda for discontiguous channels-last input"
## 🐛 Bug

Per title

## To Reproduce

[code]
<details>
<summary>output</summary>

[code]

</details>

None of the values are dropped out, instead they are permuted in a weird way. This happens because for discontiguous input the non-vectorized branch of the code is taken, and it assumes that the output and mask are contiguous tensors when in fact for channels-last they are not. For contiguous chan

[2020-11-02 01:36] ngimel commented on #47176
High priority for silent wrong answers, this is not a regression from 1.6, has been in for a long time.

[2020-11-02 01:44] tangyanf commented on #27212
It's been a year, no one has dealt with this problem yet？

[2020-11-02 02:05] snsun opened #47177 "LayerNorm on Android will cause very high cpu usage"
## 🐛 Bug

Recently, I deploy my model to android phone with arm32 cpu. I found that even my model is very simple, for example, only has one Linear and one LayerNorm, the cpu usage is still very high (about 40% when observing with top). After I discard LayerNorm layer or I can re-write laynorm by myself, the cpu usage drops to 2%~3%. Because I am working on streaming speech recognition, I do infere

[2020-11-02 02:32] peterjc123 commented on #46884
The following line is suspicious.`'testhost.exe' (Win32): Loaded 'C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.1\bin\cublasLt64_10.dll'. Module was built without symbols.` From the line `'testhost.exe' (Win32): Loaded 'C:\Users\anders\Documents\GitHub\cstorch\cstorch_solution\bin\Debug\nvrtc64_102_0.dll'.`, we know that you are using the CUDA 10.2 libtorch binaries, but it tries to load

[2020-11-02 05:30] FlyingFishBird commented on #35535
BLAS api are used in ATen and eigen blas libraries.
But apple only enable to use CBLAS API.

ATen use eigen_blas as the blas library, and we use ATen for tensor computations

So, there are two soluations:
1. Rename all blas api in eigen blas and ATen libraries. You can define a marco at project level and append it to BLAS api
2. Modify the ATen libraray, replace all BLAS api with  CBLAS api and li

[2020-11-02 06:54] shekhirin commented on #30622
I suppose it's a resolved issue since https://github.com/pytorch/pytorch/commit/941b42428aaf51489a7e1848bfc145205d372eb7 is merged

[2020-11-02 07:22] t-vi commented on #15359
So the CUDA upsampling kernels and backwards lie in `aten/src/ATen/native/cuda/UpSample*` .  A grep suggests that linear, bilinear, cubic have nondeterministic backwards (they have a warning marker), but nearest do not.
@kurtamohler would be the much better person to ask, though.

[2020-11-02 08:34] ofeknesher2 commented on #27212
+1

[2020-11-02 08:58] GeoffreyChen777 commented on #44511
same problem.

[2020-11-02 09:00] snsun opened #47180 "Quantized model has higer cpu usage on Android"
## 🐛 Bug

Hi all,

Recently, I am deploying my model to Android. I found that my quantized model has very high cpu usage, even much higher than fp32 float model. So I tried to run a model with only one Linear layer like:

x = self.Linear(x)
 x = self.dequant(x)

Then I export this model using torch.jit.script and do inference in C++.

Even this simple model, the quantized model's cpu usage is abou

[2020-11-02 09:44] hameerabbasi commented on #47117
From the design side of things, I think the usual `mytensorlike.__torch_function__(FunctionClass.apply, types, args, kwargs)` might work to wrap it back into a subclass. For the extra metadata, one could do the processing in `__torch_function__` as usual.

[2020-11-02 09:59] sergedurand commented on #47139
Hi,
I have the same error when running the example from https://pytorch.org/docs/stable/tensorboard.html#torch.utils.tensorboard.writer.SummaryWriter.add_embedding

[code]

Same error in a jupyter notebook local runtime, directly as .py file locally, and also on a google colab notebook:
https://colab.research.google.com/drive/1xQnGKw_1DECksgzXvpMyiqDs430hSw1y?usp=sharing

Also with tensorboard 2.3

[2020-11-02 10:01] ArtistBanda commented on #47160
Should I create a PR which removes the warning from ../torch/csrc/utils/tensor_numpy.cpp:135 ?
![clip](https://user-images.githubusercontent.com/36930204/97855253-8146ec80-1d20-11eb-84cf-86accd24da8b.png)

[2020-11-02 10:07] ArtistBanda commented on #47160
Hello! I am new to open source development and would like to help to resolve this issue. It would help a lot with a bit of guidance here.

[2020-11-02 10:08] hameerabbasi commented on #47091
I would suggest something like the following, so it affects *only your subclasses*. Incidentally, if you're doing this kind of thing it might be wise to wrap `Tensor` instead of subclass it, but that ship has sailed, I think. Anyways here's a small sampler of what can be done.

[code]

[2020-11-02 10:14] mruberry commented on #47160
You probably want to suppress the warning from here:

https://github.com/pytorch/pytorch/blob/8d5256e6ddb080cc651e0b2aae21b3371a7f7e81/torch/csrc/utils/tensor_new.cpp#L273

when `copy_numpy` is true. Then add tests for the callsites to verify the behavior is correct.

[2020-11-02 10:18] mruberry commented on #47149
Thank you for the suggestion, @carlosgmartin.

[2020-11-02 10:21] oneway234 commented on #46898
Hi,
I convert it sucessfuliy, and it work.
My model is has single and mutiple inputs, so it can't convert directly.
Please convert it separately.

[2020-11-02 10:46] ArtistBanda commented on #47160
Sure, I'll try to do that.

[2020-11-02 11:23] oneway234 opened #47182 "[ONNX]RuntimeError: Unexpected node type: onnx::Cast"
❓convert faild

[code]
This is the model which I converted. It has two inputs, and it's a Linear NN. As I know onnx.export support mutiple inputs.
So I convert it with the following code:
[code]
But I got this error.

**Further information**
Pytorch 1.7

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2020-11-02 11:48] yxchng commented on #46802
@VitalyFedyunin I am just trying to get the next sample from validation queue.

[2020-11-02 12:28] lartpang opened #47183 "`torch.cuda.amp` is not compatible with` torch.utils.checkpoint.checkpoint`"
## 🐛 Bug

I want to use these two very useful functions at the same time: `torch.cuda.amp` and `torch.utils.checkpoint.checkpoint`, but I get this error:

[code]

**BUT** IF I USE the APEX lib from NVIDIA, It works well...

## To Reproduce

A demo:

The shared part:

[code]

When I use `torch.cuda.amp`:

[code]

It will output:

[code]

When I use APEX from NVIDIA:

[code]

It will output:

[code]

[2020-11-02 12:43] coquelin77 commented on #47043
does it happen in the nightly build as well? perhaps the release build for 1.7 was built with an updated compiler and there was something that changed there.

[2020-11-02 13:49] mariosasko commented on #47139
Try to uninstall tensorflow with pip. If `import tensorflow` returns ImportError then tensorboard fallbacks to tensorflow stub that has `get_filesystem` defined.

[2020-11-02 13:57] jph00 commented on #47091
i'm happy to go the wrapping approach, although iirc i'd been warned off it before as being hard to get full compatibility

i've tried this

[code]

but i'm not sure how to support stuff like + with an int, without doing something a bit hacky

[2020-11-02 13:58] kshitij12345 commented on #46585
I think, the correct fix for first problem will be to make sure `padding_idx` argument is honoured. Have made a PR for the same.

[2020-11-02 14:01] blizda commented on #46166
Any possible suggestion about fixing this issue?

[2020-11-02 14:06] hameerabbasi commented on #47091
There's an example `Wrapper` class here that's more or less tested (via `gradcheck`): https://github.com/pytorch/pytorch/blob/master/test/test_overrides.py#L659

[2020-11-02 14:10] mruberry commented on #46187
Offline follow-up with @ezyang and @ngimel:

- Operations should (generally) return the same Python type
- If an operation returns a tuple by default, it should (generally) always return a tuple
- If an operation returns a tensor by default, it should (generally) always return a tensor
- For functions like unique there should generally be a split into torch.unique, which always returns a tensor, a

[2020-11-02 14:12] zou3519 commented on #47149
I talked about this with @cpuhrsch before -- this would make it easier for vmap and nestedtensor (separately) to work on modules if the modules could take a "single input" (an input without a batch dimension).

However, we have some modules that don't allow this with their current semantics. One example is [nn.GroupNorm](https://pytorch.org/docs/stable/generated/torch.nn.GroupNorm.html) -- because

[2020-11-02 14:13] mfkasim1 commented on #38948
@nikitaved for your reference, I have written down the symeig derivative in xitorch: https://xitorch.readthedocs.io/en/latest/notes/deriv_symeig.html

[2020-11-02 14:14] jph00 opened #47186 "`new` fails for subclasses"
## 🐛 Bug

`new` fails for subclasses

## To Reproduce

[code]

This returns an empty tensor.

## Expected behavior

It should return

    tensor([1., 2.])

The behavior is correct when not using a subclass:

[code]

## Environment

PyTorch 1.7 on Ubuntu 20.04.

## Additional context

I remember we've discussed `new` with @soumith before - it's an important method for easily constructing new tensor

[2020-11-02 14:16] jph00 commented on #47069
I decided to add an issue for `new` after all: https://github.com/pytorch/pytorch/issues/47186

[2020-11-02 14:16] hameerabbasi commented on #47186
Should also be fixed by #47114

[2020-11-02 14:35] jph00 commented on #47091
Thanks for the link. Unfortunately that fails a lot of our tests, e.g.:

- `len`
- pickling
- indexing with a tensor mask

It feels more fragile to me than subclassing, and seems likely to be a higher maintenance burden. What do you think? What's the benefit you see vs subclassing?

[2020-11-02 14:40] hameerabbasi commented on #47091
Mainly the fact that one subclass can only inherit the properties of e.g. `Tensor`, whereas with wrapping, you're using composition, so you don't have to worry about that. Of course, this is Python, so one can easily use metaclasses or construct classes at runtime that inherit from the subclass you like AND some base class.

[2020-11-02 14:48] jph00 commented on #47186
Thanks @hameerabbasi . Are you aware of any methods that are impacted by this? I'd like to add workarounds for them in `TensorBase` until the fix is in the release version.

[2020-11-02 14:48] Flamefire commented on #43209
Issue initially encountered by @boegel and @terjekv in https://github.com/easybuilders/easybuild-easyconfigs/pull/11041

Can you double-check that?

[2020-11-02 14:48] albanD commented on #47117
But then the user would have to re-implement the `apply()`? Or just do the wrapping and call into the original apply with only true Tensor objects?

[2020-11-02 14:51] jph00 commented on #47091
Thanks - because we use a single base class for all fastai tensors, which includes all functionality needed by child classes, we don't have a problem there, so I guess we'll stick with subclassing.

I've tested your suggest fix using `torch._C` and it works great. Many thanks!

[2020-11-02 14:52] hameerabbasi commented on #47186
Here's a list of the ones I fixed:

- `_is_view`
- `get_device`
- `has_names`
- `data_ptr`
- `dim`
- `__float__`
- `__complex__`
- `__int__`
- `__index__`
- `__invert__`
- `element_size`
- `item`
- `new`
- `new_tensor`
- `tolist`

[2020-11-02 14:53] hameerabbasi commented on #47117
Subclassing would then work OOTB (without anything extra on the user side), if they wanted to add metadata, they could use `__torch_function__` to do that.

[2020-11-02 15:07] jianjiandandande opened #47187 "About a little question"
## ❓ Questions and Help

What's the difference between nn.Conv2d and F. conv2d in the process of back propagation

[2020-11-02 15:09] albanD commented on #47117
Sorry I am not super familiar with how this would work.
Can you show how the example above should be updated if we add the proper call to `__torch_function__` in the `apply`?

[2020-11-02 15:11] rjkilpatrick commented on #43349
This is still an issue on nightly
[code]

https://github.com/pytorch/pytorch/blob/1cc1da541158b53c24a579fd316d190d5c27bfd1/test/test_autograd.py#L4935-L4941
`torch.exp` is not being tested for autograd backwards on master

[2020-11-02 15:14] Flamefire commented on #46248
Not sure how that would help. The underlying problem is an implicit (from users view) barrier on creating the PG which uses a heuristic on which GPUs to use for that. And that heuristic fails as later other GPUs are used by the second+ ranks. So one solution would be to specify the GPUs to use when creating the PG or not caching the comm for the implicit barrier which is easier.

As from a users p

[2020-11-02 15:24] robieta commented on #47153
@SciPioneer This breaks and `USE_DISTRIBUTED=0` build.

[2020-11-02 15:25] Flamefire commented on #41469
I'd simply increase it for all platforms as it seems to be CPU core count related due to OpenBLAS switching distribution mechanisms based on that: https://github.com/xianyi/OpenBLAS/issues/2923

[2020-11-02 15:29] mrshenli commented on #47167
Hey @jianjiandandande, does your model has unused parameters? Looks like the gradient is not available for some parameters.

[2020-11-02 15:36] albanD commented on #41469
I do agree that we're walking a very thin line here even on x86. But i prefer to have a tighter test. So that we can actually detect if something is changing with our numerical precision.
This test hasn't been flaky on our CI ever. So I would prefer to keep it as-is for x86 as much as possible.

[2020-11-02 15:37] jianjiandandande commented on #47167
@mrshenli hi,I just added a small structure to the existing network,such as:

[code]

[2020-11-02 15:40] rossimattia opened #47193 "torch.cumsum in-place"
## 🚀 Feature
It would be nice to have the in-place version of `torch.cumsum`.

## Motivation
Although it is possible to achieve the same result by specifying the input tensor at the `out` parameter, without checking the implementation the user cannot know a priori whether this workaround could cause some issue.

## Additional context
https://discuss.pytorch.org/t/why-there-is-no-in-place-version-o

[2020-11-02 15:44] mrshenli commented on #47167
@jianjiandandande

After calling `loss.backward()`, can you try the following?

[code]

This should tell you what parameters are not used.

BTW, any reason for not using [`DistributedDataParallel`](https://pytorch.org/docs/stable/notes/ddp.html) and set `find_unused_parameters=True`?

[2020-11-02 15:53] mrshenli commented on #47050
Hey @uniartisan, have you tried if the same model works with PyTorch 1.6? This would help us narrow possible causes. Thanks.

@pritamdamania87 I wonder if we should revert `gradient_as_bucket_view` in 1.7.1.

[2020-11-02 16:18] hameerabbasi commented on #47117
Something like this:

[code]

[2020-11-02 16:21] uniartisan commented on #47050
I used to use Pytorch 1.6 last week, and it seemed to be fine.
In order to test Pytorch 1.6, I tried the following scheme.
1.
[code]
2.
[code]
3. run my program, I get following output:
[code]
It seems to be fine again,I think the new version of the changes caused this error

[2020-11-02 17:05] rohan-varma commented on #47050
@mrshenli Shouldn't `gradient_as_bucket_view` be fully hidden by a flag, and there should be no impact to DDP if the flag is the default option (False)?

[2020-11-02 17:16] seyeeet commented on #47139
@mariosasko I already tried that and still get the error

[2020-11-02 17:23] bdhirsh commented on #43114
@ezyang What would be the issue with "fixing" those 9 schemas by renaming the **return** variable names to match the corresponding `out` argument names? My guess is that variable renames to keyword-arguments are BC-breaking- but is that also true for return variable names?

E.g. for `eig.e` above, rename the returns `eighenvalues` and `eigenvectors1 to `e` and `v`.

`symeig.e` is also already weir

[2020-11-02 17:43] thilowrona opened #47199 "Pytorch mobile with model from fast.ai"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

Hello,
I am trying to use my own model with pytorch mobile on android, but the app is crashing without an error. I am following this
[tutorial](https://nbviewer.jupyter.org/github/fastai/course-v3/blob/master/nbs/dl1/lesson1-pets.ipynb) to train a model and then save it using pytorch

[2020-11-02 17:47] zasdfgbnm commented on #37583
reproduced https://github.com/pytorch/pytorch/issues/37583#issuecomment-720172838 's report
[code]

[2020-11-02 17:49] rjkilpatrick opened #47200 "Complex number autograd inconsistency"
## 🐛 Bug

For any complex number `z = a + bi`, you can consider the imaginary component `b` as `1/2 (z - z*)`. Taking the autograd on the imaginary part, and calculating the imaginary part gives inconsistent results.
If this is intended behaviour, then the documentation should reflect this.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behaviour

The autograd of the two m

[2020-11-02 17:49] gunthergl opened #47201 "torch.save has a maximum size regardless of RAM"
## 🐛 Bug

## To Reproduce

[code]

Traceback:
[code]

## Expected behavior
The tensor should be saved without error. I found the numbers by testing and https://stackoverflow.com/questions/17298129/python-pickle-size-limit. The problem seems to be that in `def _save() [...] zip_file.write_record(name, storage.data_ptr(), num_bytes)` `num_bytes < 0`

I understand that this is mainly a pickle-issue a

[2020-11-02 17:52] SciPioneer opened #47202 "Investigate Applying PowerSGD to Communication Hook for Gradient Compression"
## 🚀 Feature
PowerSGD can be potentially used for gradient compression: https://arxiv.org/abs/1905.13727. Investigate this algorithm in the context of communication hook.

## Motivation

PowerSGD can still keep the associativity/linearity of the gradients after compression, and hence it can still be implemented efficiently by using the native communication library like NCCL. It can compress every

[2020-11-02 18:05] KsenijaS commented on #47042
@pranjaldatta change the line inside infer_effdet.py: batch_size, num_channels, height, width = img.shape
into:
batch_size, num_channels, height, width = img.shape[0], img.shape[1], img.shape[2], img.shape[3]
and that should avoid runtime error

[2020-11-02 18:07] mrshenli commented on #46824
#47115 is attempting to fix this.

[2020-11-02 18:08] albanD commented on #46824
Closing as duplicate of #47051 per @hameerabbasi comments.

[2020-11-02 18:08] #46824 closed

[2020-11-02 18:10] hameerabbasi commented on #46824
I believe you made an off-by-one error. 😅 it's #47114.

[2020-11-02 18:11] gchanan commented on #47038
that's a good question.

I don't have a strong opinion, I'd probably go with warning once on both (separately or shared probably doesn't mater) because I feel like the debugability is useful even for `is_available` and some people (as demonstrated) just jump right to using the device_count.

[2020-11-02 18:11] srohit0 opened #47204 "INTERNAL ASSERT FAILED at "/pytorch/torch/csrc/jit/passes/onnx/unpack_quantized_weights.cpp":92"
## 🐛 Bug

INTERNAL ASSERT FAILED at "/pytorch/torch/csrc/jit/passes/onnx/unpack_quantized_weights.cpp":92

## To Reproduce

Steps to reproduce the behavior:

[code]

## Error Message

/opt/tljh/user/lib/python3.7/site-packages/torch/onnx/utils.py:258: UserWarning: `add_node_names' can be set to True only when 'operator_export_type' is `ONNX`. Since 'operator_export_type' is not set to 'ONNX', `add

[2020-11-02 18:12] seemethere commented on #47109
We are currently planning for a 1.7.1 although a release date remains TBD, this update will most likely ship with an updated version of CUDA 11 (hopefully CUDA 11.2 at that point)

[2020-11-02 18:13] seemethere commented on #45731
We're currently targeting a Python 3.9 release for PyTorch 1.7.1 (whose release date remains TBD, but will be before the end of the year most likely)

[2020-11-02 18:13] hameerabbasi commented on #46826
I believe this is the same bug as #47090 but with a different reproducer.

[2020-11-02 18:15] gchanan commented on #47043
I confirmed it's a problem on a recent version of master.

[2020-11-02 18:21] gchanan commented on #46213
@ngimel

[2020-11-02 18:24] ngimel commented on #47043
Leaving high priority to figure out why vectorized path gives a different answer.

[2020-11-02 18:25] mruberry commented on #42175
Thanks for reporting this issue. I'll add it to the tracker. We should fix this ASAP!

[2020-11-02 18:25] mruberry commented on #47043
Possibly changed by https://github.com/pytorch/pytorch/pull/38697.

[2020-11-02 18:26] heitorschueroff commented on #47054
I cannot reproduce this on GPU. The max_pool1d code for GPU already calls contiguous() on the input tensors so there shouldn't be a problem. @francoisfleuret can you confirm this and include the code with GPU tensor if it does segfault?

[2020-11-02 18:30] surak commented on #25150
It seems that the clang settings are seeping into gcc. That's what the error messages seem to indicate.

[2020-11-02 18:39] seemethere opened #47208 "[RFC] Add test execution time analysis CI workflow"
## 🚀 Feature

I propose that we add a workflow on the `main` branch that does a comparison of current test execution time against previous runs so that we can catch large time regressions early on.

Regressions that could be caught include increases to:
* Overall test suite execution time
* Individual test execution time

## Motivation

Currently we don't have many safeguards against things that i

[2020-11-02 18:44] z-a-f commented on #45592
@seemethere If this PR was not merged, is there still a way to add it?

[2020-11-02 18:45] z-a-f commented on #46707
This merged into the master. Hoping to get it into the 1.7, but if it doesn't propagate, it will be there in the next release. Thank you!

[2020-11-02 18:45] #46707 closed

[2020-11-02 18:47] z-a-f commented on #44852
On it!

[2020-11-02 18:47] z-a-f commented on #43394
I'll take a look!

[2020-11-02 18:47] mrshenli commented on #47050
@uniartisan thanks for the confirmation!

@rohan-varma Yep, it shouldn't. But my worry is that, as it re-organizes some code in DDP/Reducer, I wonder if that would lead to any error. This one looks relevant.

[2020-11-02 19:00] nickgg commented on #47138
This looks like an issue with the variable uniquing rules in the TE compiler, I'll take a look.

[2020-11-02 19:10] gchanan commented on #47043
Confirmed it is caused by https://github.com/pytorch/pytorch/pull/38697.

[2020-11-02 19:10] pritamdamania87 commented on #47050
I'm looking into this issue and will post an update when I find the root cause.

[2020-11-02 19:25] gchanan commented on #41803
this would open up a lot of surface area for what seems like little gain.

[2020-11-02 19:28] francoisfleuret commented on #47054
Sorry I was wrong, it does not crash on GPU.

[2020-11-02 19:32] mruberry commented on #41803
We don't support the out= keyword on tensor methods, which would be a prerequisite (and significant) UX change before considering this.

[2020-11-02 19:33] #39578 closed

[2020-11-02 19:33] brianjo commented on #39578
Thanks for the PR @lukasfolle. Just merged it.

[2020-11-02 19:39] Lilyjjo commented on #37516
@esqu1 I can reproduce the issue, thank you for reporting it. I don't think the issue is caused by what is being subclassed. When I run the torch.jit.ScriptModule version of your repro the code is running in eager mode (which is a separate issue). The root cause of the issue I think is that torch.jit.isinstance's scripted version is failing to resolve the Dict[int, torch.Tensor] type properly whil

[2020-11-02 19:42] NielsPichon commented on #47038
Hi! I am running in the same issue.
Isn't the `cuda.is_available()` function designed exactly to avoid running in this type of error and return a boolean tha can be handled by the user?
A workaround would be to wrap the `is_available` or `device_count()` in a try except, but I would argue this is not an ideal solution.

[2020-11-02 19:47] #42660 closed

[2020-11-02 19:48] sergedurand commented on #47139
Uninstalling tensforlow did work for me (if you're on a notebook you need to restart runtime), but it's not a very satisfying solution.

Anoter solution is to go to the tf() function at the root of the problem (should be where your python libraries are in "tensorboard\compat\ \__init\__.py") and comment out the attempt to import tensorflow:
[code]

However I don't know if it'll break something els

[2020-11-02 19:50] srohit0 opened #47217 "RuntimeError: Exporting the operator quantize_per_tensor to ONNX opset version 10 is not supported."
## 🐛 Bug

RuntimeError: Exporting the operator quantize_per_tensor to ONNX opset version 10 is not supported. Please open a bug to request ONNX export support for the missing operator.

## To Reproduce

Steps to reproduce the behavior:

[code]

### Stack Trace

[code]

## Expected behavior

 NOT CRASH

## Environment

Please copy and paste the output from our
[environment collection script](https:

[2020-11-02 19:50] gchanan commented on #32094
I don't think we fixed this.

[2020-11-02 19:52] eellison opened #47218 "[JIT] Alias Annotations for Native Schema List Ops Is Subtly Wrong"
## 🐛 Bug

Pytorch List Ops are schematized as `func: chunk(Tensor(a) self, int chunks, int dim=0) -> Tensor(a)[]`. Because we set all containers to store the wildcard element, the `Tensor(a)[]` annotation effectively is read as `Tensor(*)[]`. As a result, the input self is not read to be contained by the output list.

The correct annotation is: `func: chunk(Tensor(a -> *) self, int chunks, int dim

[2020-11-02 19:59] #47003 closed

[2020-11-02 20:00] cyberwillis commented on #43487
@showgood163

I know is a little bit late to answet this, but the problem is that NVIDIA dropped sm_30 architecture in cuda 11.0.

https://docs.nvidia.com/cuda/archive/11.0/cuda-toolkit-release-notes/index.html#deprecated-features

If you downgrade your cuda to 10.2 or 10.0 then you can still build pytorch 1.6.0 or 1.7.0

[2020-11-02 20:00] zou3519 commented on #46213
I'm in favor of upstreaming into our nn.LSTM API, the [paper has been around for a while](https://arxiv.org/pdf/1402.1128.pdf), has a good number of [citations](https://arxiv.org/abs/1402.1128), and I'm not sure when we will get better TorchScript support for this (cc @suo).

I'm not very familiar with AMP -- does nn.LSTM support AMP / will the cudnn projection lstm kernel support AMP?

[2020-11-02 20:02] ngimel commented on #46213
Thank you, we'll accept a PR enabling this. To land it, we'll need to
1) error out or support projection on cpu/on gpu w/o cudnn
2) support with and without bias cases
3) have comprehensive tests
4) update documentation to describe projection option

[2020-11-02 20:22] ngimel commented on #46213
cc @mcarilli for expert opinion on amp question. nn.LSTM supports amp in a sense that it will convert inputs to lstm to fp16 in autocast regions (because it is expected to be stable and more performant with fp16). cudnn with projection should work with fp16 also.

[2020-11-02 20:43] jph00 commented on #47186
Thanks that's very helpful.

[2020-11-02 20:43] #47186 closed

[2020-11-02 20:44] jph00 commented on #47186
BTW is `new` and `new_tensor` the same?

[2020-11-02 21:07] #45771 closed

[2020-11-02 21:17] heitorschueroff commented on #47054
The regression was introduced here https://github.com/pytorch/pytorch/pull/43745/files#diff-439eb90b8b6e9450d70cbaf5d993206db3b54cddc447d7cae768aaad6beb57beR34

[2020-11-02 21:19] gmagogsfm commented on #46684
Hi @suo,

It turns out that tests are not failing because of running in parallel. It is because pytest, by default, captures all warnings emitted in tests. I tried disabling this behavior with a pytest.ini change, with which all tests are passing.

[code]

[2020-11-02 21:20] spandantiwari commented on #44636
We recently merged a PR (https://github.com/pytorch/pytorch/pull/45678) adding support for `var_mean` and `std_mean`. Please try it out and see if we can close this item.

[2020-11-02 21:28] albanD commented on #47117
I am not sure what that would mean for the user in terms of types? Does that mean that the `autograd.Function` only ever works with plain Tensors and the user has to do all the proper unpacking around it?
Also it means that the backward only ever runs with plain Tensors (as they were unpacked before the forward)?

[2020-11-02 21:28] suo commented on #46684
oh interesting. I'll give it a try!

[2020-11-02 21:29] nickgg commented on #47138
@erikwijmans I think I should have fixed this in #47229, at least I used your repro as the test case for it (thanks for the minimal repro btw!). Please let me know if the issue persists and I'll jump back on it.

[2020-11-02 21:35] kefirski commented on #47175
It feels like such a design makes `zero_grad()` function to be useless at all. I would consider making zeroing gradients after calling the `step()` function to be default behaviour without calling `zero_grad()` with the ability to handle this operation like `step(zero_grad=False)` manually.

[2020-11-02 21:40] JoeRakhimov opened #47232 "RuntimeError: invalid multinomial distribution (encountering probability entry < 0)"
## 🐛 Bug

I am trying to train an agent using [Stable Baselines 3](https://github.com/DLR-RM/stable-baselines3) library to play [Connect 4](https://www.kaggle.com/joerakhimov/connectx-11) game. As I understood Stable Baselines 3 uses Pytorch.

When I am trying to train, I am facing this error:

## To Reproduce

Steps to reproduce the behavior:

1. Open the [notebook](https://www.kaggle.com/joerakh

[2020-11-02 21:42] norpadon commented on #47175
@kefirski I think that it is slightly less intuitive and will silently break a lot of existing pipelines where gradient is accumulated over multiple mini-batches or multiple objectives are independently optimised at the same time. Warning is enough to eliminate all the bugs without breaking anything..

[2020-11-02 22:11] gchanan commented on #47038
that's reasonable.  On the other hand, let's say you were expecting cuda to be available but it wasn't -- what would you call to get debug info?

[2020-11-02 22:26] #47054 closed

[2020-11-02 22:35] #46373 closed

[2020-11-02 22:47] carmocca commented on #47038
I think the following is a very common pattern pre-1.7:

[code]

Now, both of these warn, and it forces users to do something like the following to accomplish the same:

[code]

So if the warning is not removed for both, I strongly suggest removing the warning for `is_available()` so the following is still possible with no warnings:

[code]

[2020-11-02 23:02] LukeAI commented on #47109
I notice that binaries are provided for CUDA 9.2, 10.1, 10.2 but NOT 10.0   - should I expect support for 11.0 to be dropped in the near-future too? would 10.2 be a better choice if I want to choose a stable long term support standard?

[2020-11-02 23:15] JamesMcCullochDickens opened #47239 "Error Building C++/Cuda extension with Pytorch Cuda c++ in MSVC using CMake"
I am trying to build a c++/cuda extension with Pytorch following the tutorial [here](https://pytorch.org/tutorials/advanced/cpp_extension.html), (with instructions how to use pytorch with c++ [here](https://pytorch.org/cppdocs/installing.html#minimal-example)). My environment details are:

- Using Microsoft Visual Studio 2019 version 16.6.5
- Windows 10
- libtorch c++ debug 1.70 with cuda 11.0 ins

[2020-11-02 23:25] vkuzo commented on #46562
this works now after the fix in https://github.com/pytorch/pytorch/issues/46925

[2020-11-02 23:25] #46562 closed

[2020-11-02 23:48] dkinneyBU opened #47243 "Attempted to read a PyTorch file with version 3, but the maximum supported version for reading is 2."
## 🐛 Bug

Received the error below when running this code, from Deep Reinforcement Learning Hands-On by Maxim Lapan:

import gym
import time
import argparse
import numpy as np

import torch

from lib import wrappers
from lib import dqn_model
import collections
DEFAULT_ENV_NAME = "PongNoFrameskip-v4"
FPS = 25
if __name__ == "__main__":
    parser = argparse.ArgumentParser()
    parser.add_argument(

[2020-11-02 23:50] SplitInfinity commented on #46964
@Lilyjjo

The problem is here:
[code]

The issue is similar to the one you encountered in the `torch.jit.isinstance` PR: `__origin__` is not defined in python 3.6.

[2020-11-03 00:03] jsrozner commented on #42654
I have this error on pytorch 1.6 but not on 1.5. I reverted to 1.5.1. I am using a simple Dataset where each item is a dictionary.

[2020-11-03 00:04] MInner commented on #13397
yes, replacing `torch.onnx.export(model, dummy_input, path)` with `torch.onnx.export(model.module, dummy_input)` seem to have helped!

[2020-11-03 00:44] fxwfzsxyq opened #47249 "nn.quantized.Floatfunction , Why Not Support Division"
nn.quantized.Floatfunction  , Why Not Support Division

cc @jerryzh168 @jianyuh @raghuramank100 @jamesr66a @vkuzo @jgong5 @Xia-Weiwen @leslie-fang-intel @dzhulgakov

[2020-11-03 00:57] rohan-varma opened #47250 "DDP join() API should support early termination."
## 🚀 Feature
We have implemented a `join` API for DDP (see: https://github.com/pytorch/pytorch/issues/38174) which allows training to continue with uneven inputs. However, currently if there is a significant skew in ranks, we will continue training until the rank with the most data has exhausted all of its inputs. We would like to also provide the option to terminate early, when the rank with the

[2020-11-03 00:58] jerryzh168 commented on #44926
yes, @vkuzo will be looking at this I think.

[2020-11-03 01:02] anjali411 commented on #43349
fixed in #47194

[2020-11-03 01:02] #43349 closed

[2020-11-03 01:12] stas00 commented on #46807
Any luck reproducing it?

Meanwhile I got myself rtx 3090 and as a result was forced to upgrade to `tf-nightly` and  `cudatoolkit-11/pt-nightly` - that segfault isn't there - i.e. the test works just fine. So tf-nightly uses cuda-11.1 and pt cuda-11.0 in this situation.

[2020-11-03 01:27] showgood163 commented on #43487
@cyberwillis Thanks for the explaination! I may try it when I have time...

[2020-11-03 01:28] pritamdamania87 commented on #47050
@uniartisan I tried to repro the problem with your instructions, but the job seems to be running fine on 1.7: https://gist.github.com/pritamdamania87/5bc75fa5176219c7afd76cf918793fd4. I'm wondering which coco dataset you used here? I downloaded the ones from https://cocodataset.org/#download and those seem to be much larger and take quite a bit of time to finish.

[2020-11-03 01:35] eellison commented on #43661
Fixed with https://github.com/pytorch/pytorch/pull/47211

[2020-11-03 01:35] #43661 closed

[2020-11-03 01:55] rohan-varma commented on #47012
Is there a plan to have an RFC soon for the deprecation of `DataParallel`?

[2020-11-03 02:15] erikwijmans commented on #47138
@nickgg Glad the repro was helpful! I built from scratch on the branch from the PR and this fixes it (both the repro and the full model).  Thank you!

[2020-11-03 02:17] pritamdamania87 commented on #46782
@xwang233 This seems to be a pytest specific issue and not related to the new tests that have been added:

[code]

It looks like pytest always exits with non-zero in case it doesn't find any tests.

[2020-11-03 02:31] pritamdamania87 commented on #47161
@froody Looking at the proposed fix, it seems like you're proposing a change to pybind11 itself? If so, should we open a gh issue there? Or is there a fix needed in PyTorch for this?

[2020-11-03 02:33] xwang233 opened #47257 "Multi-GPU distributed test is running on single GPU machine and fail"
## 🐛 Bug

Multi-GPU distributed test is running on single GPU machine and fail. Introduced in #45181 a2b4177c5b9a4778a77fcee52857e8f152ded111

## To Reproduce

Steps to reproduce the behavior:

[code]

Before this PR

[code]

After this PR
[code]

## Expected behavior

No fail. Multi-GPU test shouldn't be running on single GPU machine.

## Environment

[code]

## Additional context

N/A

cc @mrube

[2020-11-03 02:35] xwang233 commented on #46782
Thanks for the clarification on the behavior of pytest. Is there any plan to match the behavior between pytest and unittest, or do we just want to leave it like this?

[2020-11-03 03:28] Heermosi commented on #46807
I recommend to install applications requiring different cuda+cudnn settings in different containers, it would be a lot easier than to make them to be compatible with each other.
I don't know how you goes your installation, but it was not suggested to happen without any warning if you installed tf and torch via conda. But it was common when install applications depending on different version of und

[2020-11-03 03:36] pritamdamania87 commented on #46782
pytest and unittest are third party libraries that we have no control over. One option would be to mandate all tests in PyTorch are either pytest or unittest, however IMO it seems that having more flexibility would be better for developers.

[2020-11-03 04:03] pritamdamania87 opened #47260 "DDP doesn't work with retain_graph = True"
## 🐛 Bug

DDP doesn't work with retain_graph = True when trying to run backwards twice through the same model.

## To Reproduce

To replicate, change only def demo_basic(rank, world_size) in https://pytorch.org/tutorials/intermediate/ddp_tutorial.html 2 to the following:

[code]
and the output is:
[code]
Weights and grads do not seem to be synchronized.

## Expected behavior

Grads should be synch

[2020-11-03 04:07] stas00 commented on #46807
I think I understand what you're talking about. Here are some issues with that:

1. Unlike pytorch, tensorflow's binaries rely on system-wide cuda .so's, so there is no way of isolating those, other than manually rebuilding tensorflow statically - which is probably doable, but it's not something a normal user would do. Unless a whole system separate container is used.

2. We cannot separate the en

[2020-11-03 04:21] peterjc123 commented on #47239
Would you please post the implementation of the main function in your code?

[2020-11-03 04:22] mruberry commented on #7214
@nikitaved Is this still an issue?

[2020-11-03 04:23] mruberry commented on #7202
Closing due to age and since this is no longer occurring.

[2020-11-03 04:23] #7202 closed

[2020-11-03 04:25] JamesMcCullochDickens commented on #47239
@peterjc123  it seems my issue has been resolved as per this stack overflow post:
https://stackoverflow.com/questions/64654586/error-compiling-c-cuda-extension-with-pytorch-cuda-c-in-msvc-using-cmake

[2020-11-03 04:32] chinokenochkan commented on #30446
https://github.com/pytorch/fairseq/blob/master/fairseq/optim/adafactor.py

[2020-11-03 04:41] mruberry commented on #47243
This is expected since you're using an older version of PyTorch. Try updating to a newer version, like PyTorch 1.7. Please update and reopen this if you continue to experience the error after updating.

[2020-11-03 04:41] #47243 closed

[2020-11-03 04:42] mruberry commented on #47204
cc @bzinodev as well

[2020-11-03 04:43] mruberry commented on #47175
Thank you for the recommendation. There's probably a better UX we could offer, but we would need to carefully review the details of any proposed design before accepting a change.

[2020-11-03 04:45] mruberry commented on #47232
I'm not sure this is actually an error in PyTorch. Does the input to the multinomial actually contain a value less than zero?

[2020-11-03 04:46] mruberry commented on #47217
Thank you for reporting this issue, @srohit0. I'll let our ONNX experts comment.

[2020-11-03 04:50] mruberry commented on #47112
Thanks for reporting this issue, @ptrblck. We would definitely accept a PR fixing this. Stepping back, it'd be nice if we revisited the tests and implementation of these legacy tensor creation ops, and even reviewed deprecating them. @gchanan suggested we should consider rewriting the legacy ops to call the non-legacy constructors, for example, with a deprecation message.

[2020-11-03 04:51] uniartisan commented on #47050
I did not download the coco data set, I made a copy myself, if you need it, I can give it to you in some way.
My cuda is installed directly through apt of ubuntu, the version is 11, and pytorch is based on the official tutorial. The specific problem occurs when saving each epoch.
Maybe my environment is different: my two graphics cards are different, one 1060 and one p106-100, but their chipsets a

[2020-11-03 04:53] mruberry commented on #47201
cc @jamesr66a

Thanks for reporting this issue, @gunthergl. This would be nice to fix, but I think we'd need to review the design of a fix before accepting a change.

[2020-11-03 04:53] pritamdamania87 commented on #47050
I see, this is probably why I couldn't reproduce since my runs never reached to that point. I'll use the data you provided and try to repro the issue.

[2020-11-03 04:56] mruberry commented on #47200
Thanks for reporting this issue, @rjkilpatrick. I'll let our complex experts comment.

[2020-11-03 04:57] mruberry commented on #47199
This question is more appropriate for the PyTorch forums or the fast.ai forums. Please ask there.

[2020-11-03 04:57] #47199 closed

[2020-11-03 04:57] #47239 closed

[2020-11-03 05:00] mruberry commented on #47193
Thank you for the suggestion, @rossimattia. I think we would accept a PR implementing this.

[2020-11-03 05:01] mruberry commented on #47183
Thank you for reporting this issue, @lartpang.

[2020-11-03 05:02] mruberry commented on #47187
This questions is more appropriate to the PyTorch forums, but the former is a module and the latter is a function.

[2020-11-03 05:02] #47187 closed

[2020-11-03 05:03] mruberry commented on #47182
Thanks for reporting this issue, @oneway234.

[2020-11-03 05:39] elbaro commented on #15918
Great, the newly added `cdist` does this.
Feel free to close (or leave if anyone still wants a generalized pairwise_distance).

[2020-11-03 06:01] malfet commented on #38607
`DLC` path is set by delocate script here: https://github.com/matthew-brett/delocate/blob/44373c16b4abfe9ff29369096055b8ffefd5619c/delocate/delocating.py#L401

[2020-11-03 06:47] #47153 closed

[2020-11-03 07:13] chengscott opened #47265 "[Feature Request] tensorboard add_graph support for multiple method"
## 🚀 Feature

For a PyTorch model, `add_graph` (in `torch.utils.tensorboard.SummaryWriter`) uses `forward` method of the model to trace the graph.

I propose to support for multiple methods of the model (not only the `forward` method).

I think it only needs a small change in implementation:

- check `input_to_model` is dict or list (https://github.com/pytorch/pytorch/blob/master/torch/utils/tenso

[2020-11-03 08:05] FantasyJXF opened #47268 "Question about build torch.whl package"
# Question: self build torch-xxx.whl size much smaller than the [oficial file](https://download.pytorch.org/whl/torch_stable.html).

Since the latest `pytorch` packakge(after v1.4.0) no longer support CUDA 10.0, but my computers are equipmented with  CUDA 10.0, so I build the `torch-1.6.0a0+b31f58d-cp36-cp36m-linux_x86_64.whl` followed the `README` [installation guide](https://github.com/pytorch/p

[2020-11-03 08:32] ValerianGonnot opened #47269 "Exception using optimize_for_mobile on retinanet from torchvision"
## 🐛 Bug

When using torch.utils.mobile_optimizer.optimize_for_mobile, I get the following exception :

[code]

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

## Environment

 - PyTorch Version (e.g., 1.0): 1.7
 - OS (e.g., Linux): Ubuntu 20.04
 - How you installed PyTorch (`conda`, `pip`, source): conda
 - Build command you used (if compiling from source):
 - Pyt

[2020-11-03 08:49] hameerabbasi commented on #47117
This means, essentially, that PyTorch only defines the behavior in terms of `Tensor`s. We basically change the type to whatever subclass was provided, but little else.

It's up to the subclass to decide what to do next, adding metadata, etc. For other consumers of `__torch_function__` (I assume this is what you mean by user types), it'll be up to them to define what the combination of the type and

[2020-11-03 09:48] Lmy0217 opened #47272 "The return of torch.inverse contains nan sometime"
## 🐛 Bug

The return of torch.inverse contains nan sometime.

[code]

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Return accurate results.

## Environment

I got error in two environments:
[code]
[code]

cc @vishwakftw @jianyuh @nikitaved @pearu @mruberry @heitorschueroff

[2020-11-03 09:53] JoeRakhimov commented on #47232
When this error happens, probs_2d equals to `tensor([[nan, nan, nan, nan, nan, nan, nan]])`

[2020-11-03 09:54] P3n9W31 commented on #47039
Some new facts discovered.

The current 30-series GPUs don't perform well on convolution. But the defects will not show up at all times, but when doing some dimension-specific convolution.

Specifically, since I'm using CNN on a natural language task, the text sequences are of different lengths. To speed up the training, I started out using the dynamic padding method, i.e., padding each piece of t

[2020-11-03 10:03] ptrblck commented on #47183
[This PR](https://github.com/pytorch/pytorch/pull/40221) might have a valid workaround.
Could you try it out and check if it solves your issue?

[2020-11-03 10:17] pdima commented on #47039
I can confirm much worse performance with 3090 comparing with 2080ti with a common CNN like efficientnet etc. using CUDA 11.1, cuDNN 8.0.4 and the source pytorch build from 3 Nov.

[2020-11-03 10:45] LutzWeischerFujitsu opened #47273 "USE_CUDA=0 python3 setup.py install failed on A64FX, Fedora 33"
...
[50/350] Building CXX object test_api/CMakeFiles/test_api.dir/modules.cpp.o
ninja: build stopped: subcommand failed.
Traceback (most recent call last):
  File "/data/jw/pytorch/setup.py", line 724, in <module>
    build_deps()
  File "/data/jw/pytorch/setup.py", line 312, in build_deps
    build_caffe2(version=version,
  File "/data/jw/pytorch/tools/build_pytorch_libs.py", line 62, in build_ca

[2020-11-03 10:46] surak commented on #19184
Same issue, python 3.8, gcc 9.3.0.

[2020-11-03 11:55] wesselottevanger opened #47274 "RuntimeError: PyTorch was compiled without NumPy support, but numpy is installed"
I am trying to build pytorch v1.4.0 from source because I need it for another module.
I have succeeded in building pytorch from source but when I try to run the intended python script I get this error:
[code]

So I looked up what I did wrong and it turns out I needed to install numpy before i build pytorch from source, so thats what I did.
I used the command:
[code]

When installing pytorch the co

[2020-11-03 11:56] myavartanoo commented on #17023
Same issue in Korea!

[2020-11-03 12:13] chiboreache commented on #32994
1.7 - we are still open -_-

[2020-11-03 12:38] surak commented on #40968
And 1.6 fails too.

[2020-11-03 13:27] fritzo commented on #47232
`torch.Categorical` does not accept NAN input. You'll need to fix the code used to generate `probs_2d`.

[2020-11-03 13:27] #47232 closed

[2020-11-03 13:30] #47274 closed

[2020-11-03 13:32] FantasyJXF commented on #47268
Another question is that:
[code]

Since I build the `torch-1.6.0a0+b31f58d-cp36-cp36m-linux_x86_64.whl` on my Tesla V100 with CUDA 10.0 computer, then I install the `wheel` file on my another Tesla T4 with CUDA 10.0 computer, and I met the `Warning` like this.

How could I get rid of the warning and would it slow down or have effects on T4 machine?

Looking forward to your reply, thanks.

[2020-11-03 13:54] albanD commented on #47117
Thanks for all the details @hameerabbasi !

So I'm happy with saying that the `.apply()` function should call into `__torch_function__` and that the custom Function only ever deals with plain Tensors.
It is the user's responsibility to rewrap the Tensors on exit.
@ezyang does that sound like a good solution for you?

[2020-11-03 14:02] lartpang commented on #47183
Thanks for your reply! @mruberry @ptrblck

https://github.com/pytorch/pytorch/issues/37730

We did encounter the same problem. According to the discussion in this issue, the pr can indeed solve the problem. But I don't want to modify the pytorch code directly.
At present, the most elegant solution is to use apex, I think.
I sincerely hope that pytorch can improve this issue as soon as possible.

[2020-11-03 14:19] #10676 closed

[2020-11-03 14:38] tannisroot commented on #10670
It has been 2 years, is the ROCM support still too incomplete to enable it by default upstream?

[2020-11-03 14:56] wellhowtosay commented on #45021
您是用https://github.com/pytorch/pytorch上的编译方法编译的吗，在cuda11.1下

[2020-11-03 14:58] wellhowtosay commented on #45021
您的编译命令方便分享一下吗

[2020-11-03 15:00] WangWenhao0716 commented on #45021
Please do NOT try to compile it using cuda 11.1 by yourself. Currently, there is no improvement at all.

You can just install it according to the official installing method directly.

It is very easy and it performs well.

[2020-11-03 15:02] wellhowtosay commented on #45021
but I all ready had cuda11.1 on my server,should I replace it with cuda11.0

[2020-11-03 15:03] WangWenhao0716 commented on #45021
NO, just install it by:
[code]

[2020-11-03 15:03] wellhowtosay commented on #45021
but I already have cuda11.1 on my server,should I replace it with cuda11.0?

[2020-11-03 15:18] surak opened #47281 "Error: invalid use of register"
## 🐛 Bug

When compiling PyTorch from source, this appears, FBGEMM fails with `Error: invalid use of register`.

## To Reproduce

Steps to reproduce the behavior:

1. Compile pytorch from source
2. The following error message will appear:
[code]

This is caused by the `-masm=intel` flag.

## Expected behavior

Pytorch feed the correct parameters to FBGEMM

## Environment

Collecting environment in

[2020-11-03 15:25] wellhowtosay commented on #45021
but I still got :
eForce RTX 3090 with CUDA capability sm_86 is not compatible with the current PyTorch installation

my cuda version is 11.1

[2020-11-03 15:29] WangWenhao0716 commented on #45021
I do not think it is possible because it works on my 3090. Please uninstall PyTorch thoroughly and reinstall it. You must point out cudatoolkit=11.0.

[2020-11-03 15:39] #33547 closed

[2020-11-03 15:40] wellhowtosay commented on #45021
you're right ,I just somehow installed torch1.7 with pip . problem solved ! thank you! 兄弟你太牛逼了！

[2020-11-03 15:41] WangWenhao0716 commented on #45021
hhhhh

[2020-11-03 15:48] danielpcox commented on #41486
I think my problem is something else. Earlier, I was able to reproduce the memory leak (or perhaps a different one) by only _instantiating_ the `Encoder`, in code that doesn't even run a forward pass. When I `del` the only reference to them, the memory is never freed.
https://github.com/pytorch/pytorch/issues/41486#issuecomment-660368766

As a temporary patch at the expense of performance, `OMP_NU

[2020-11-03 15:52] hameerabbasi commented on #47186
They seem to be almost the same, but I'd recommend `new_tensor` as it's documented.

[2020-11-03 15:58] anjali411 commented on #47200
Hi @rjkilpatrick thanks for filing this issue. This is expected because the formula used to compute complex gradients only guarantees meaningful gradients for real valued objective. So, if I modify your example a little to make the final output real valued, I get the same gradients in both cases.

[code]

[2020-11-03 16:02] gchanan commented on #47098
@glaringlee do the vec256 tests cover this?

[2020-11-03 16:02] gchanan commented on #47098
also @malfet -- do we ship binaries with these problems?

[2020-11-03 16:05] malfet commented on #47098
@gchanan We didn't ship aarch64 binaries for 1.7, but are about to do so soon.

There are another set of accuracy problems with NEON, will submit a separate issue about that.

And failures above are from vec256 tests.

[2020-11-03 16:07] gchanan commented on #47272
I could  not reproduce this (although I used CUDA 9) -- how many trials did this take for you?

[2020-11-03 16:07] ezyang commented on #47052
IDK. It's so short that people can just copy paste it into their projects if they want...

[2020-11-03 16:13] ezyang commented on #44952
yup all done.

[2020-11-03 16:13] #44952 closed

[2020-11-03 16:21] wellhowtosay commented on #45021
sorry but, it failed again with: RuntimeError: nvrtc: error: invalid value for --gpu-architecture (-arch)
you sure the command works fine with cuda11.1? or maybe the right command is
`conda install pytorch torchvision cudatoolkit=11 -c **pytorch-nightly**`
which you mentioned above?

[2020-11-03 16:22] ezyang commented on #47157
This seems worth fixing. I think it's just a matter of adding complex diff support for alias, which should be pretty easy.

[2020-11-03 16:23] ezyang commented on #43114
Changing return variable name is BC-breaking, as they are exposed to the user because we return named tuple, so e.g., you can say `torch.max(...).values`

[2020-11-03 16:27] n2cholas opened #47287 "Add TF32 Information to Reproducibility Page"
## 📚 Documentation

PyTorch 1.7 enabled TensorFloat32 computation by default, which may affect the reproducibility of results across hardware. I believe this should be mentioned in the [reproducibility documentation](https://pytorch.org/docs/stable/notes/randomness.html) (so people are aware they should disable it if they want their results to be more consistent across multiple devices):

cc @ngim

[2020-11-03 16:27] WangWenhao0716 commented on #45021
please add my wechat&nbsp;
Perhaps we can discuss this problem further
My wechat 18602459215

发自我的&nbsp;iPad

------------------ Original ------------------
From: wellhowtosay <notifications@github.com&gt;
Date: Wed,Nov 4,2020 0:21 AM
To: pytorch/pytorch <pytorch@noreply.github.com&gt;
Cc: Wenhao Wang <2609667791@qq.com&gt;, Mention <mention@noreply.github.com&gt;
Subject: Re: [pytorch/pytorch] Th

[2020-11-03 16:31] kurtamohler commented on #41486
Ah ok that makes sense. It sounds like we can close this issue then--we can reopen if needed.

[2020-11-03 16:32] gchanan commented on #47127
not a regression from 1.6.

[2020-11-03 16:38] anjali411 commented on #47052
@rjkilpatrick thanks for the feature request. It seems that there is no community consensus on how the activation functions should look like for complex numbers. We are constantly looking out for research developments in this field to add support for complex numbers but I think we are wary of adding anything in `PyTorch` right now since things are still up in the air.

[2020-11-03 16:39] zou3519 commented on #47127
It's a regression from 1.5 IIRC, but FWIW no one has noticed this :)

[2020-11-03 16:46] zou3519 commented on #47127
1.6.0:
[code]

1.5.1:
[code]

[2020-11-03 16:57] Lmy0217 commented on #47272
@gchanan I got error only in PyTorch 1.7.0. The loop in my code ensures that it happens every time. Almost every time `count` is less than 1000.

[2020-11-03 17:06] SM-Fahim commented on #17023
I'm having the same issue.
I'm from Earth.
`pip install torch torchvision`

[2020-11-03 17:08] gchanan commented on #47127
I mean it used to do the same thing but the cuda behavior is better.

[2020-11-03 17:09] amrragab8080 opened #47291 "ProcessGroupNCCL NCCL lib version mismatch"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
[code]
I have NCCL 2.7.8 installed
[code]
## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0)

[2020-11-03 17:18] gchanan opened #47292 "XNNPACK/src/qu8-requantization/precise-psimd.c:139:1: error: unrecognizable insn:"
## 🐛 Bug

on commit 5c8896f8ad80b7e8a463bbc3428c0635fccbf01a

build with:
`
USE_CUDA=0 DEBUG=1 BUILD_CAFFE2_OPS=0 python setup.py install
`

result:
[code]

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script

[2020-11-03 17:32] JulesGM commented on #10670
It's crazy to me that AMD is not paying someone to get PyTorch to feature
parity between AMD and NVidia, including ease of installation

On Tue., Nov. 3, 2020, 11:32 a.m. Edward Z. Yang, <notifications@github.com>
wrote:

[2020-11-03 17:32] gchanan commented on #47292
seems to be a problem with `DEBUG=1`

[2020-11-03 17:37] mruberry commented on #47127
Just to follow-up: conceptually trace is diag -> sum, so one would expect the same type promotion as sum.

[2020-11-03 17:41] dskhudia commented on #40968
This seems to be the gcc bug that @malfet reported and gcc was patched. Please try with updated gcc.

https://gcc.gnu.org/bugzilla/show_bug.cgi?id=97028

[2020-11-03 17:41] malfet commented on #47291
This has been fixed by https://github.com/pytorch/pytorch/pull/45900, but this code was not picked for release branch

[2020-11-03 17:53] maxfiedler opened #47295 "Quantized Centernet model produces defected results when run on Android via NDK"
## 🐛 Bug

We have a CenterNet implementation traced as a TorchScript model and saved as both in a quantized and unquantized variant.

One of the results our CenterNet modle produces is a heatmap that contains for every pixel a score corresponding to the likelihood of the pixel being the center of an object visible in the input image.

A decent example of such a centerpoint heatmap could look like

[2020-11-03 17:55] lebrice opened #47296 "torch.argmax Inconsistent with torch.max(): Returns index of last occurence of maximum value instead of the first."
## 🐛 Bug
The result of `torch.argmax` should always be the first index of the maximum value in the case where that value appears multiple times, as is done in numpy, and as is described in the docs.
Furthermore, the result should be equivalent to that of `torch.max().indices`.

## To Reproduce

Steps to reproduce the behavior:
[code]

## Expected behavior

a.max(-1).indices == a.argmax(-1), always

[2020-11-03 18:07] surak commented on #40968
In any case, @malfet submitted a patch to FBGEMM which should have prevented this from showing up, no? https://github.com/pytorch/FBGEMM/pull/428

[2020-11-03 18:19] malfet commented on #40968
Yes, it should be fixed in 1.7, can someone please confirm that?

[2020-11-03 18:24] heitorschueroff opened #47298 "Potential SEGFAULT from code pattern: tensor.contiguous().data_ptr<>"
## 🐛 Bug

Recently, a code regression was introduced that was causing segfault (see https://github.com/pytorch/pytorch/issues/47054#issuecomment-720729819) [ps: I'm to blame]. The problem was caused by the code pattern: `auto ptr = tensor.contiguous().data_ptr<>` which, if the tensor is discontiguous creates a new tensor which is then destroyed and so `ptr` becomes a dangling pointer.

A quick gre

[2020-11-03 18:27] rohan-varma commented on #47260
Would we want to support running backwards specifically twice or are there more general cases where `.backward()` can be called `n` times?

[2020-11-03 18:27] xkszltl commented on #42115
[code]

I thought https://github.com/oneapi-src/oneDNN/commit/2bc4d3c3278ab9e5743d0e83b09574b140d6de3f was released in 1.6.2 but not.
Looks like it won't be there before 1.7:
<img width="497" alt="image" src="https://user-images.githubusercontent.com/5203025/98025833-2d81f380-1e45-11eb-967f-11215780edb5.png">

[2020-11-03 18:31] #45864 closed

[2020-11-03 18:31] #47103 closed

[2020-11-03 18:33] emfomenk commented on #42115
The fix should be a part of oneDNN [v1.6.4](https://github.com/oneapi-src/oneDNN/releases/tag/v1.6.4) and beyond.
From release notes:

[2020-11-03 18:38] danielpcox commented on #41486
Since GNU OpenMP is still the default, and it's still affected in all PyTorch versions on the CPU, it seems to me there's still a bug to fix.

[2020-11-03 18:46] xkszltl commented on #42115
Great!
Can someone update the pytorch/ideep submodule chain accordingly?

[2020-11-03 18:54] dskhudia commented on #40968
Is this patch included in the fbgemm code you are using?

[2020-11-03 19:10] froody commented on #47161
@pritamdamania87 yeah I think a change to pybind11 is needed, though @colesbury said getting a PR accepted there is difficult/unlinkely

[2020-11-03 19:12] xDuck commented on #42791
Having the same issue building LibTorch from source after adding Magma to the build. I can build libtorch fine but when I try to link it to something I get these errors.

[2020-11-03 19:22] xwang233 commented on #47272
Thanks @Lmy0217 , this is a known issue https://github.com/pytorch/pytorch/issues/46557 and was fixed in https://github.com/pytorch/pytorch/pull/46625 . It's because the matrix you have is a singular matrix, the correct behavior is to throw a runtime error instead of give nan output. We have fixed that in the master branch, but not in 1.7.0 release.

[2020-11-03 19:23] chinokenochkan commented on #22439
https://github.com/chinokenochkan/torch-metrics

[2020-11-03 19:35] kurtamohler commented on #41486
Right, I should not have closed this, reopening

[2020-11-03 19:35] IgnacioJPickering opened #47304 "JIT PTX error when loading a TorchScript model that performs torch.exp(x**2), with pytorch 1.7.0 and nightly"
## 🐛 Bug

TorchScript compiled model fails after a few evaluations of calling autograd.grad, if the model executes torch.exp(x**2)
this happens in pytorch 1.7.0+cu101 and nightly pytorch

## To Reproduce

[code]

Error message:

[code]

## Expected behavior

Code should run correctly with no errors

## Environment
[code]

## Additional context

Code fails also with the nightly pytorch version. The

[2020-11-03 20:02] chinokenochkan commented on #22439
https://github.com/chinokenochkan/torch-metrics

Feel free to suggest more metrics/ contributions are welcome!

[2020-11-03 20:05] zimmer-m opened #47307 "[Feature request] Stochastic Frank-Wolfe optimizer"
Recently, the Frank-Wolfe (FW) Algorithm is becoming more and more popular in Neural Network training due to its versatility and robustness (see e.g. [[1]](https://arxiv.org/pdf/2010.07243.pdf) or [[2]](https://arxiv.org/pdf/2010.05397.pdf)). While researching the algorithm in the context of Machine Learning, I implemented the algorithm (and several variants) and would like to contribute it to the

[2020-11-03 20:10] glaringlee commented on #47098
@malfet @gchanan
I don't think we were running vec256 test cases (in `vec256_test_all_types.h/cpp`) under ARM before. What we tested including gnu, clang, and windows, but not including mobile. `

We have `vec256_test.cpp` which does very basic test when Neon vec was added. I am trying to merge vec256_test.cpp into vec256_test_all_types.cpp (for non mobile build at the moment) since they did lots

[2020-11-03 20:17] gchanan commented on #47292
CC @malfet

[2020-11-03 20:18] malfet commented on #47292
@gchanan platform/compiler version plz?

[2020-11-03 20:31] AnoshMK commented on #45769
Hi @timothybrooks,
I have the same problem. Did you solve it?
Please, let me know how to solve it.
Thanks in advance,
Rasha

[2020-11-03 20:45] ngimel opened #47313 "addr bug for complex and inefficient implementation"
`addr` implementation here
https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/LinearAlgebra.cpp#L147-L159
does explicit multiplications by `alpha` and `beta`  even though by default `alpha` and `beta` are 1, so no multiplication is necessary. This degrades performance and memory usage.
In addition, line 55 does invalid cast, so invocation with complex beta results in an error:
[co

[2020-11-03 20:50] #46585 closed

[2020-11-03 20:50] pearu commented on #44634
Re removing "This API is in beta, ..." statement from the docs: IIUC, the API consists of methods for (i) creating tensors with sparse layout and (ii) accessing format-specific data of a tensor. For COO tensors we have (i) `torch.sparse_coo_tensor` and (ii) `torch.Tensor.{values, indices}`. For other formats (to appear, like GCS), there may be ambiguities with this API, especially, with the (ii) p

[2020-11-03 21:00] h6197627 commented on #35191
Hi, @jbojar,
I really need to try it more thoroughly. I remember that at the time when DDP was introduced as better to use alternative to DataParallel (quite long ago) I was able to reproduce this limiting behavior, but now after your comment I tried simple script and it looks like it works
[code]
Prints

[2020-11-03 21:01] #38607 closed

[2020-11-03 21:34] zasdfgbnm commented on #46536
Most of these tests are designed to test CUDA 32bit indexing issue. CPU does not have these issue, and need not to be tested. If it is skipped, then it is fine.

[2020-11-03 22:09] jamesr66a opened #47324 "[FX] Make Tensor lookup faster"
https://github.com/pytorch/pytorch/blob/8b13ab9370df613aa05966b5fe79962adaac4ca1/torch/fx/symbolic_trace.py#L62

Currently, when we encounter a `Tensor` value that's not a parameter, we do a brute-force search for it in the hierarchy of Modules. This is potentially very slow. We should instead do this traversal once and store the values in a map from Tensor to qualified name.

[2020-11-03 22:50] jjsjann123 commented on #45519
Summarize the few problem we are observing:

1. Branching is the source of all evil:

Look at dropout expansion: https://github.com/pytorch/pytorch/blob/8b13ab9370df613aa05966b5fe79962adaac4ca1/torch/csrc/jit/runtime/symbolic_script.cpp#L1083-L1111
as well as torch.nn.Linear:
https://github.com/pytorch/pytorch/blob/master/torch/nn/functional.py#L1663-L1671

Branching is blocking fusion of these wi

[2020-11-03 23:35] gchanan commented on #47292
gcc 7.4.0.

[2020-11-03 23:35] osalpekar opened #47330 "Complex Tensor Support for DataParallel"
## 🚀 Feature

Currently, the `DataParallel`-based approach for distributed training does not support complex tensors. Some collective Operations (operations involving communication between multiple nodes in a distributed training setup) that are a part of the `torch.distributed` package are currently in the process of supporting complex-valued tensors. Since underlying collective libraries such as

[2020-11-03 23:35] osalpekar commented on #47330
Self-assigning to reserve for bootcamp.

[2020-11-03 23:36] #44601 closed

[2020-11-03 23:43] gchanan commented on #47043
Ok so https://github.com/pytorch/pytorch/pull/38697 doesn't really vectorize the computation, it unrolls it.

As pointed out by @ngimel, the difference is basically:

[code]

[2020-11-03 23:51] gchanan commented on #47043
Also, numpy produces the "exact" result (that doesn't mean it does for all cases, I didn't check the implementation):

[code]

[2020-11-03 23:58] #42102 closed

[2020-11-04 00:03] josh-gleason commented on #4474
Why is this still an issue? Seems like it should be pretty easy to add. Had to source dive to figure out how to check this and since its not in the docs I can't rely on it not to be deprecated.

Only using the documented functionality you could write something like

[code]

but this seems quite clunky...

[2020-11-04 00:06] jbojar commented on #35191
Hi,

Thanks for analyzing this issue.

I don't have a simple snippet of code that shows that hooks work normally
with DDP, but I can confirm that in our code we have a lot of hooks (for
example for metrics) and with DDP (run on multiple machines with multiple
GPUs) everything works as expected. Our hooks are all registered before
wrapping the model with DDP as in your example with `hook_before = T

[2020-11-04 00:32] #43273 closed

[2020-11-04 01:32] TMLOG commented on #36649
I encountered the same problem with you, did you fix it?

[2020-11-04 02:06] Sibozhu commented on #43405
Hi @mfkasim1 ,

I just realized that the gist URL to your debugger is unavailable: https://gist.github.com/mfkasim91/9120b0864d52fecb59b1f2cbfacc3d82

Are you still working on this debugger? Would love to try it!

[2020-11-04 02:32] wwdok opened #47333 "AttributeError: module 'torch._C' has no attribute '_PYBIND11_COMPILER_TYPE'"
## ❓ Questions and Help

I am installing [Alphapose](https://github.com/MVIG-SJTU/AlphaPose) on Windows 10, after soveling several errors, it comes to `AttributeError: module 'torch._C' has no attribute '_PYBIND11_COMPILER_TYPE'` when i run `python setup.py build develop`
![image](https://user-images.githubusercontent.com/43233772/98062408-f0d7eb80-1e88-11eb-876e-4bc5d008c02d.png)
below is my envi

[2020-11-04 03:06] CaoZhongZ commented on #42115
We'll update v1.7 soon for major performance fix 😄

[2020-11-04 03:21] liuqi8827 commented on #8318
Hi,
I solved it by upgrading gcc.
`sudo add-apt-repository ppa:ubuntu-toolchain-r/test`
`sudo apt-get update`
`sudo apt-get install gcc-6 g++-6`

[2020-11-04 03:29] ppwwyyxx opened #47334 "[jit] support slicing tuple with (negative) step"
## 🚀 Feature

## Motivation

[code]

Prints:
[code]

cc @gmagogsfm

[2020-11-04 03:36] ppwwyyxx opened #47335 "[jit] support length inference for list comprehension"
## 🚀 Feature
[code]

It throws:
[code]

I expect the length of `z` to be static so that I can use `zip` on it.

[2020-11-04 03:42] ppwwyyxx opened #47336 "[jit] Failed to call submodule with __call__"
## 🐛 Bug

## To Reproduce

[code]

Prints:
[code]

However, if I remove both `[1:]`, it is able to work.
Using `.forward(x)` also works.

Environment: fbcode latest

[2020-11-04 03:59] ppwwyyxx opened #47338 "[jit] create dict or list from zip"
## 🚀 Feature

[code]

fails with:
[code]

The workaround `dict([(name, res) for name, res in zip(self.x, ret)]) ` works.

cc @gmagogsfm

[2020-11-04 05:28] wellhowtosay commented on #46158
and then just simply using
`python setup.py install`?
 works fine on cuda11. 1, rtx 3090?

[2020-11-04 06:13] ddummkopfer opened #47340 "[Big question]Why test_nn use double dtype as cpu input and why set dtype2prec_DONTUSE?"
Hi, To whom it may concern,

When I use the CUDA to test all the cases created in test_nn.py and common_nn.py, I find the CPU input will be always created double because the torch.set_defult_dtype(torch.double) in [here](https://github.com/pytorch/pytorch/blob/master/test/test_nn.py#L21).

I have two big confusion:

**1. Why set cpu input as double dtype instead of float32?**

**2. In test_nn.py,

[2020-11-04 06:18] moe001 commented on #27837
Same issue on `3090+Windows10+CUDA11+PyTorch(Stable&Nightly)`

These fixes worked for me,too.
- `$env:CUDA_LAUNCH_BLOCKING=1` increases the training time by 500%.
- `torch.backends.cudnn.enabled = False` increases the training time by 20%.

[2020-11-04 06:41] azraelkuan opened #47341 "ConvTranspose1d groups=channels is very slow!!!"
## 🐛 Bug

## To Reproduce
[code]

[code]

## Expected behavior

the same speed as the groups=1

## Environment

Versions of relevant libraries:
[pip3] numpy==1.19.1
[pip3] torch==1.6.0
[pip3] torchvision==0.7.0
[conda] blas                      1.0                         mkl
[conda] cudatoolkit               10.2.89              h74a9793_1
[conda] mkl                       2020.2

[2020-11-04 06:42] FantasyJXF commented on #47268
I noticed that the pytorch the official released supports multiple NVCC architectures:
[code]

The pytorch I build only support its own archtecture:
[code]

Maybe that's the reason?

[2020-11-04 06:42] pritamdamania87 commented on #47050
@uniartisan Looks like this might be an issue with how mmcv is using DDP. MMDistributedDataParallel actually uses the `reducer` directly and mimics some of the DDP logic. This is really not supported and frameworks shouldn't be using the reducer directly. The problem occurred as we moved some code around for the reducer in https://github.com/pytorch/pytorch/pull/44798 which broke MMDistributedData

[2020-11-04 06:44] Bob-AFei commented on #24009
I saved this model into a local "pth" file, then read the local file, the ONNX parser could work

[2020-11-04 06:47] binhongwang opened #47342 "My demo app uses other package name will crash but org.pytorch.demo"
## 🐛 Bug
My demo app uses other package name will crash but org.pytorch.demo while loading pt.

## To Reproduce

I face a issue.My demo app uses other package name will crash but use org.pytorch.demo as pkgname is OK

Below is my crash stack
01-02 04:32:25.713 32127 32127 E AndroidRuntime: FATAL EXCEPTION: main
01-02 04:32:25.713 32127 32127 E AndroidRuntime: Process: com.tct.pt, PID: 32127
01-02

[2020-11-04 06:50] mfkasim1 commented on #43405
Hi @Sibozhu, it's done. You can try it on the new pytorch (I think this is included in version 1.7)

[2020-11-04 07:11] uniartisan commented on #47050
Thank you for your hard work, so should I go to mmdetection to report this issue now?

[2020-11-04 07:16] ntusteeian commented on #41508
Is this issue currently solved? I'm using `attn_mask` argument and stucking in NaNs issues for couple of days. It seems like you solved the NaNs problem in `key_padding_mask`

[2020-11-04 07:17] thyeros commented on #42351
Second this: Please consider adding support for this to enable amp for training this half

[2020-11-04 07:33] xwang233 commented on #47341
Please fill your system environment, e.g. GPU, CUDA version, cuDNN version, with `python -m torch.utils.collect_env`. Thanks.

I tried this on my machine. It seems like for `group=512` convolution, the convolution kernel is executed 512 more times than `group=1` convolution, one for each group. I'll take a look at this.

[2020-11-04 08:02] azraelkuan commented on #47341
@xwang233 thanks, i have update the info.

[2020-11-04 08:14] shijianjian opened #47347 "torch distributions yield different results using the same seed in CPU/GPU/TPU"
## 🐛 Bug

## To Reproduce

[code]

will give:
[code]

## Expected behavior

They are expected to give back the exact values.

cc @pbelevich

[2020-11-04 08:18] ptrblck commented on #47268
Your T4 uses the compute capability 7.5, while you were building PyTorch for 7.0 without PTX, which thus fails.
Set the GPU architecture to 7.5, rebuild the package, and it should work.

That being said, note that the PyTorch conda binaries and pip wheels ship with their own CUDA (cudnn, NCCL, etc.) runtime(s) and you local CUDA installation will not be used for internal PyTorch operations.
You wo

[2020-11-04 08:36] ptrblck commented on #47347
I don't think this is possible, if you directly sample of the device as each device-specific implementation might use their own random number generator.
If your use case needs the same random values for all devices, you could e.g. sample on the CPU and push it to the device.

[2020-11-04 08:40] ptrblck commented on #47296
Could you update PyTorch to `1.7.0`, as this issue should have been solved in this PR: https://github.com/pytorch/pytorch/pull/42004

and I also cannot reproduce the outputs you are seeing in `1.7.0`.

[2020-11-04 08:47] Yonggie commented on #24904
it says the tensorboard tool does not support dict type output as tensorboard can not track...
`Only tensors or tuples of tensors can be output from traced functions (getOutput at ..\torch\csrc\jit\tracer.cpp:212)
(no backtrace available)`

[2020-11-04 08:47] Flamefire commented on #46536
While this could be true it still means some tests are wrongly run on CPU. E.g. the mentioned test_conv_large_cpu tests a Convolution on CPU(!) if the GPU(!) is big enough. So if that test was supposed to test CUDA 32bit indexing, then it should be decorated to only be run on GPU. Currently it may run (and fail) on CPU depending on the GPU present which is somewhat flaky

[2020-11-04 08:50] ptrblck commented on #47272
Is the input matrix really a singular matrix in this case, as its determinant is not zero?
Does https://github.com/pytorch/pytorch/issues/46557 also introduce flaky results, i.e. sometimes NaNs might be raised or do you think we might be facing a new issue?

[2020-11-04 08:51] Lmy0217 commented on #47272
@xwang233 the matrix is not a singular matrix! Its det is 0.9999 and its rank is 3.

[2020-11-04 09:06] mruberry commented on #46536
We just killed `largeCUDATensorTest`, is this issue still relevant?

[2020-11-04 09:08] xwang233 commented on #47272
Oops, sorry, I was looking at a different matrix. However, I can't reproduce this on my machine with cuda 11.0 using either 1070 or 2070.

[2020-11-04 09:13] zasdfgbnm commented on #46536
@Flamefire Yes, you are right. These tests should be CUDA only.

[2020-11-04 09:14] Lmy0217 commented on #47272
Maybe should try on cuda 10.1 or 10.2.

[2020-11-04 09:17] xwang233 commented on #47272
Thanks, I'll try that later on cuda 10.2. Can you also try if `CUDA_LAUNCH_BLOCKING=1 python script.py` solves the problem?

[2020-11-04 09:29] Lmy0217 commented on #47272
No errors were encountered after setting `CUDA_LAUNCH_BLOCKING=1` on win10.

[2020-11-04 09:32] juWuBabaaaa opened #47351 "no member named 'beta1' in 'torch::optim::AdamOptions'"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. In https://pytorch.org/tutorials/advanced/cpp_frontend.html
1. torch::optim::Adam generator_optimizer(
    generator->parameters(), torch::optim::AdamOptions(2e-4).beta1(0.5));
1.The error: no member named 'beta1' in 'torch::optim::AdamOptions'

## Expected behavior

## Environment

Please copy and paste the output from our
[environme

[2020-11-04 09:34] ppwwyyxx opened #47352 "CUDA 11.0 compilation flags incorrect for extensions"
## 🐛 Bug

CUDA11.0 does not support sm_86.

PyTorch by default uses the capability of device to compile extensions:
https://github.com/pytorch/pytorch/blob/996f444c007a89f7364ed03b7c24755f7ec43eb0/torch/utils/cpp_extension.py#L1424-L1427

Therefore, if a user uses CUDA11.0 pytorch binary on RTX30- GPUs, extension will be compiled with sm_86 and cause compilation error.

## Expected behavior

Exten

[2020-11-04 09:34] Flamefire commented on #46536
@mruberry I'd suggest to keep this open until the comment in https://github.com/pytorch/pytorch/pull/45332#issuecomment-721383275 is resolved with a PR.

[2020-11-04 09:37] Lmy0217 commented on #47272
Strangely, it can't be reproduced on Ubuntu now. Randomness is a problem.

[2020-11-04 09:40] xwang233 commented on #47272
Yeah, it uses CUDA multi-stream parallel execution for optimization purpose. I'll check if there is anything I can do about it.

[2020-11-04 10:04] shijianjian commented on #47347
Pushing tensor back and forth would waste some time. So I would probably keep the current behaviour.

Of course, it is better to have a shared random state across different devices :)

[2020-11-04 11:00] ptrblck commented on #46807
@stas00 Yes, I'm able to reproduce it with a local CUDA10.1 toolkit and PyTorch 1.7.0+CUDA11.0 conda binaries.
I get a slightly different error:
[code]
and will debug it further.

[2020-11-04 11:21] gemfield commented on #20356
Pytorch 1.6, tensor saved in c++ and load in python, get this warning:
[code]
And get return type <class 'torch.jit.RecursiveScriptModule'> after torch.load("xx.pt") in python (type Tensor should be expected).

BTW, @back2yes 's wa works.

[2020-11-04 12:03] frgfm commented on #46797
Thanks for your input @ezyang, I was using the last stable release! But this is indeed fixed on master :ok_hand:

[2020-11-04 12:03] #46797 closed

[2020-11-04 12:45] harshrathod50 opened #47354 "ERROR: Could not find a version that satisfies the requirement torch==1.7.0+cpu"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
[code]

## Expected behavior

Successful installation of torch

## Environment

 - PyTorch Version (e.g., 1.0): 1.7
 - OS (e.g., Linux): CentOS 7.8
 - How you installed PyTorch (`conda`, `pip`, source): pip
 - Build command you used (if compiling from source):
 - Python version: 3.9
 - CUDA/cuDNN version:
 - GPU models and configuration:

[2020-11-04 12:46] harshrathod50 opened #47355 "ERROR: Could not find a version that satisfies the requirement torch==1.7.0+cpu"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
[code]

## Expected behavior

Successful installation of torch

## Environment

 - PyTorch Version (e.g., 1.0): 1.7
 - OS (e.g., Linux): CentOS 7.8
 - How you installed PyTorch (`conda`, `pip`, source): pip
 - Build command you used (if compiling from source):
 - Python version: 3.9
 - CUDA/cuDNN version:
 - GPU models and configuration:

[2020-11-04 12:49] mruberry commented on #46536
OK. Would you update the issue to reflect the current problem and expected fix, then?

[2020-11-04 13:01] alaydshah commented on #41142
Can I take up this issue?

[2020-11-04 13:03] alaydshah commented on #35882
I would like to implement this loss function

[2020-11-04 13:04] danieltudosiu commented on #47128
@mcarilli I just want to let you know that I did not forget about the ticket. Will come back to you with a minimum example today.

[2020-11-04 13:08] ptrblck commented on #46807
Quick update for further debugging (mostly for myself):

Using `/proc/<pid>/maps` we can confirm that `libcudart.so.` is loaded by both frameworks in their corresponding verison:
[code]
While checking the `LD_DEBUG=bindings` there is one interesting entry, which indicates that TF might be binding to the `cudatoolkit` installed by the PyTorch conda binary:
[code]
Valgrind also gives a stacktrace wh

[2020-11-04 14:01] Vichoko opened #47357 "Conv1D formula in docs is wrong"
## 📚 Documentation

in [torch.nn.Conv1d](https://pytorch.org/docs/stable/generated/torch.nn.Conv1d.html) docs the formula that describe the 1D convolution is wrong.

The first symptom that something is odd is that if you compare the formula with [torch.nn.Conv2d](https://pytorch.org/docs/stable/generated/torch.nn.Conv2d.html) it's exactly the same.

Now I'm gonna explain why the Conv1d formula is

[2020-11-04 14:15] RockingJavaBean commented on #47313
@mruberry I would like to help fix the performance and memory issues, as well as the bug when inputs are complex numbers.

Please kindly confirm which option we should adopt.
- implement `torch.addr` as a composite op and prevent unnecessary multiplications when `alpha` or `beta` is the default value
- implement `torch.addr` based on BLAS libraries.

CC @ngimel @IvanKobzarev

[2020-11-04 14:22] kshitij12345 commented on #47355
Duplicate of #47354

[2020-11-04 14:22] #47355 closed

[2020-11-04 14:22] albanD commented on #43405
Yes it is in 1.7 (and nightly as well of course)!

[2020-11-04 14:22] Vichoko commented on #47357
Anyone can explain why different channels convolutions are combined through a sum?
I cant understand the intuition behind the combination of input channels outputs.

For example, if you are modeling 3 different and pseudo-independent signals, for example, temperature, ambient sound volume, and vibration of the earth. And you 1D Convolute over them, the output of the convolutions of each signal wil

[2020-11-04 14:25] kshitij12345 commented on #47296
Looks fine on master as well.
[code]

[2020-11-04 14:27] kshitij12345 commented on #47296
Great catch. @lebrice Would you be interested in sending PR fixing the same?

[2020-11-04 14:33] fmassa commented on #35882
Hi,

Focal loss is available in torchvision since the 0.8.0 release, see the release notes in https://github.com/pytorch/vision/releases/tag/v0.8.0 and implementation in https://github.com/pytorch/vision/blob/v0.8.0/torchvision/ops/focal_loss.py

Given that focal loss is for now specific to computer vision, I would say that this should stay in torchvision, and as we have already implemented it the

[2020-11-04 14:33] #35882 closed

[2020-11-04 14:34] Vichoko commented on #47357
Well, I just noticed the `groups` parameters control this channel combination, so in the code, I can make it work.
I still think the formula shown in the docs should reflect this variation because 1d Conv isn't just a 2d Conv with H or W set to 1.

[2020-11-04 14:57] kshitij12345 opened #47358 "[complex] torch.{sqrt, abs}: does not match numpy"
Happens only on CPU

**torch.cfloat**
[code]

**torch.cdouble**
[code]

cc @ezyang @gchanan @zou3519 @bdhirsh @heitorschueroff @anjali411 @dylanbespalko @mruberry @vishwakftw @jianyuh @nikitaved @pearu

[2020-11-04 15:05] kshitij12345 commented on #47358
Relevant lines:
https://github.com/pytorch/pytorch/blob/996f444c007a89f7364ed03b7c24755f7ec43eb0/aten/src/ATen/cpu/vec256/vec256_complex_float.h#L315-L328

https://github.com/pytorch/pytorch/blob/996f444c007a89f7364ed03b7c24755f7ec43eb0/aten/src/ATen/cpu/vec256/vec256_complex_double.h#L277-L290

[2020-11-04 15:55] SsnL commented on #47357
I don't think that the formula is wrong. It is the same as 2d formula because the difference in dimensionality is reflected in star operator, yet the general form is valid for all dimensionalities.

[2020-11-04 15:55] orionr commented on #24904
cc @cryptopic, @nataliakliushkina, @edward-io to track

[2020-11-04 15:57] zhangguanheng66 commented on #41508
@ntusteeian could you send a code snippet for your case? It might not fail into this issue.

[2020-11-04 15:59] ivannz commented on #47313
In my opinion, the implementation of `torch.addr(input, vec1, vec2, beta=1, alpha=1, out=None)` as [a composite op](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/LinearAlgebra.cpp#L154) *by design* incurs an impractical allocation of the product `vec1 * vec2^T`.

As a *standalone* outer product, produced by `torch.outer`, this is fine, because the caller presumably *knows and

[2020-11-04 16:16] stas00 commented on #46807
Great diagnostics, @ptrblck!

Wasn't one of the main intentions behind supplying its own cudatoolkit is to avoid this kinds of situations? Should pytorch not put the cuda .so's under conda env lib dir but hide them under its own sub-dir, so that other packages won't accidentally load it?

[2020-11-04 16:21] k-melnyk commented on #25883
@yf225 Hi. I would like to work on spectral_norm and remove_spectral_norm if nobody works on those.

[2020-11-04 16:31] #44714 closed

[2020-11-04 16:32] vincentqb commented on #38342
Thanks @mravanelli for giving the following offline update on this.

Without the flags mentioned by @Krovatkin in [comment](https://github.com/pytorch/pytorch/issues/38342#issuecomment-644324034):
- pytorch 1.7 takes about 6.3 seconds
- pytorch 1.6 takes 5.49 seconds
- pytorch 1.5 takes 0.85 seconds

With flags, all three takes about 0.85 seconds.

@Krovatkin -- do you have an update on this? than

[2020-11-04 16:45] Vichoko commented on #47357
Yeah, the formula isn't wrong. The observation I did is that the formula only works when all inputs are convolved to all outputs, which is the default behaviour explained in the docs and it's used in many 1D applications.

I noted that the formula doesn't work when using a different convolution scheme, like the one I explained when you don't want to convolve and linearly combine all channels. This

[2020-11-04 17:00] vkuzo commented on #47295
The bug fix in https://github.com/pytorch/pytorch/pull/46077 could be related.  If you were using hardsigmoid, tanh, sigmoid, the layer inputs were incorrect in QNNPACK in some conditions when using NHWC memory format.  The visual artifacts we saw in affected models were similar to your image above.  This was fixed in v1.7, could you check if v1.7 fixes your issue?

[2020-11-04 17:20] vkuzo opened #47363 "FX quantization: we should preserve original model class name through the quantization passes"
Currently, after a model goes through the FX quantization passes, the original class type and name is not saved.  Ideally, we could preserve it as an attribute so it can be used for debugging.  Something like

[code]

[2020-11-04 17:20] jeffdaily commented on #10670
We ROCm developers are certainly motivated, but there are concerns both technical and otherwise.  On the technical side, yes, "hip" takes over the name "cuda".  The hip and cuda backends are not mutually exclusive.  Even if they were, we'd run into usability concerns if we forced users to update all of their models to use "rocm" or "hip" as the device name instead of "cuda", and "cuda" having come

[2020-11-04 17:21] vkuzo commented on #47363
cc @jerryzh168

[2020-11-04 18:11] jagin commented on #21455
Hi @ChisenZhang,

I stumbled on the same problem. I retrained the FaceBoxes.PyTorch and was trying to convert the net to the ONNX format without any problem with the following code:

[code]

**but the inference was the mess.**

The hint on how to resolve this problem is in [stackoverflow](https://stackoverflow.com/questions/44230907/keyerror-unexpected-key-module-encoder-embedding-weight-in-state-

[2020-11-04 18:48] pritamdamania87 commented on #47050
Yes, I think we should file an issue on mmcv and reference this issue.

[2020-11-04 18:49] MartinKliemank commented on #30723
Has this been changed or does it still not work as described in the documentation? (I was trying to do the same thing, using the wait time for something else and processing the input in what ever order they arrive, but for me it also only updates the .is_completed() after .wait() has finished and will stay false forever if wait wasn't called.)

[2020-11-04 18:51] H-Huang commented on #47292
Also hitting this with gcc 7.4.0.

Building with:
`USE_CUDA=1 DEBUG=1 BUILD_CAFFE2_OPS=0 USE_DISTRIBUTED=1 python setup.py develop`

Works when `DEBUG=0`

[2020-11-04 19:04] MohamedAliRashad commented on #41142
@alaydshah Go ahead :')

[2020-11-04 19:07] sigeisler opened #47377 "CUDAExtension: nvcc does not pick right gcc by default"
## 🐛 Bug

*I am happy to dig into the code and fix this error. However, first I want confirmation that this is an issue that should be fixed.*

I recently upgraded to Ubuntu 20.X and hence the compiler etc. have changed. When I was building some small CUDAExtension I now get the error:
[code]

Since in the first compile cc1plus was found (see the warning), I simply extended the CUDAExtension defin

[2020-11-04 19:08] pclucas14 opened #47378 "torch.vmap giving INTERNAL ASSERT FAILED error"
## 🐛 Bug

Hi,  I'm trying to use `torch.vmap` for Meta Learning. I wrote a small code snippet but I'm getting the error. `RuntimeError: false INTERNAL ASSERT FAILED at "../c10/core/TensorOptions.h":693, please report a bug to PyTorch. Unknown DispatchKey: Batched` at line 18 of the following script. Any help would be greatly appreciated :)

## To Reproduce

[code]

## Environment

[code]

 - PyTor

[2020-11-04 19:08] Lilyjjo commented on #37516
The difference between eager and scripting should be fixed by #46130

[2020-11-04 19:10] sigeisler commented on #42062
Hi, does anybody have a good answer why this makes sense? As I understand the whole purpose is that `svd_lowrank` can handle large sparse matrices. Otherwise, I could simply, use `torch.svd(A.to_dense())` which is clearly undesirable.

If you give me a pointer I am happy to submit a pull request.

[2020-11-04 19:12] evaldsurtans commented on #41661
For me it consistently happens when I install latest pytorch and use it with:

[code]

without dataparallel works fine, I checked that LD_LIBRARY_PATH contains libgcc_s.so.1

[2020-11-04 19:22] ngimel commented on #47313
I agree that current addr implementation allocates unnecessary intermediate buffer, however, I'm not convinced that bringing back blas/cublas bindings for it is good idea.
1) they don't support bfloat16 and half datatypes.
2) they are cumbersome to use for complex
3) they are cumbersome to use with ROCm
4) as shown in the benchmarks in original port, `outer` is significantly faster implemented as

[2020-11-04 19:39] ppwwyyxx opened #47379 "`torch.jit.is_tracing()` not supported during scripting"
## 🚀 Feature
[code]
prints
[code]
## Motivation

we have some code that works in eager & scripting mode, but need a different codepath in tracing mode to handle dynamic shapes.

Workaround: this works, at the cost of duplicating the eager/scripting codeblock:
[code]

cc @gmagogsfm

[2020-11-04 19:49] glaringlee commented on #25883
@k-melnyk
Thanks for reaching out. I am currently maintaining this page.
Yep, you can work on them.
We have no hook support at the moment, you need to add forward_pre_hook as well.
For hook, you can take a look at https://github.com/pytorch/pytorch/issues/25888#issuecomment-651902570
We have some draft work from @yf225, but he switched area and not able to finish it, it would be great if you can w

[2020-11-04 20:03] JulesGM commented on #10670
Does calling `.cuda()` just work with the HIP/ROCm version, or would one have to change code to get the HIP/ROCm backend?

[2020-11-04 20:08] ppwwyyxx commented on #47377
We added this workaround to our setup.py in detectron2 for similar reasons:
https://github.com/facebookresearch/detectron2/blob/5a8abd3ee7a159eb56bad9806d43a160c8414736/setup.py#L118-L121

[2020-11-04 20:27] jeffdaily commented on #10670
Yes, calling `.cuda()` just works the same way when you build PyTorch for ROCm to transfer tensors to the AMD GPU.  No code or model changes needed.  We recognize it is a bit counterintuitive, but it makes it a lot easier to "port" your pytorch code to use ROCm since there really aren't any code changes at all.

[2020-11-04 20:34] sigeisler commented on #47377
@ppwwyyxx thank you! What you suggest is a much better workaround.

[2020-11-04 20:38] sigeisler commented on #47377
As it turns out this has been fixed by https://github.com/pytorch/pytorch/commit/4134b7abfa60a659de27736704c62277ecf291d2#diff-258d5272916c8cf5ac89aad77f7c114b585848826f6bbaeee91fe62a4391ee5e

[2020-11-04 20:41] malfet commented on #47377
I was about to ask you to share the output of `which nvcc` and `echo $CC` commands.
So I guess it is fixed in pytorch-1.7, but not in 1.6?

[2020-11-04 20:51] malfet opened #47395 "Compilation of BinaryOpsKernel.cpp using gcc-8.4.0 fails with INTERNAL compiler error after #46396"
## To Reproduce

Steps to reproduce the behavior:

1. Checkout PyTorch after PR #46396
1. Try compiling it using gcc-8.4.0
Compilation fails with the following error:
[code]

cc @malfet @seemethere @walterddr

[2020-11-04 21:01] sigeisler commented on #47377
Oh yeah, I missed stating that I use PyTorch 1.6... I am sorry for any inconvenience!

I can confirm that with PyTorch 1.7 it is working as long as you do not specify `ccbin` in the `extra_compile_args` for `nvcc` yourself. In this case, one gets the error `nvcc fatal   : redefinition of argument 'compiler-bindir'`

[2020-11-04 21:01] malfet opened #47397 "torch/utils/collect_env.py no longer works if pytorch is not installed"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Download and run https://github.com/pytorch/pytorch/blob/master/torch/utils/collect_env.py
[code]
## Additional context

Regression introduced by #44106

[2020-11-04 21:09] lebrice commented on #47296
Hey all, my mistake, I forgot I wasn't running the most recent version of pytorch, and I didn't search through the solved issues for this, only the open ones.
I'll make a small PR for fixing this doc typo soon. Thanks!

[2020-11-04 21:09] #47296 closed

[2020-11-04 21:19] sigeisler commented on #47377
@malfet what is the general strategy of clashing configurations? It would be straight forward to add a check if the user already set a specific `ccbin` (and I would do it if it is desired).

[2020-11-04 21:24] sigeisler commented on #47377
@ppwwyyxx from my local experiment (see comment above) I conclude that https://github.com/facebookresearch/detectron2/blob/5a8abd3ee7a159eb56bad9806d43a160c8414736/setup.py#L118-L121 will likely cause an error for PyTorch 1.7.0

[2020-11-04 21:25] spandantiwari commented on #47182
@KsenijaS - can you please take a look at this issue? Thanks.

[2020-11-04 21:29] ejguan commented on #47340
1. I think I have seen several PR discussing it. https://github.com/pytorch/pytorch/pull/27444#issuecomment-539111261
2. I think they are just empirical number.

[2020-11-04 21:32] malfet commented on #47377
@sigeisler this sounds like a good strategy: `-ccbin` flag should only be added if it's not already explicitly specified.

[2020-11-04 21:34] ejguan commented on #47342
Do you have some script which we could use to reproduce the problem?

[2020-11-04 21:35] #47157 closed

[2020-11-04 21:48] ejguan commented on #47268
Feel free to re-open it if you have further questions.

[2020-11-04 21:50] ejguan commented on #47351
Do you refer to an issue with the docs?
Or, is it related to your compile. If so, please provide more detail on your issue like your development environment and script to reproduce it.
Feel free to re-open the issue when you have these information.

[2020-11-04 21:57] malfet commented on #47268
@FantasyJXF in official builds all CUDA libraries are statically linked into the wheel, but by default they are considered an external runtime dependency. (I.e. official package launched on platform without CUDA runtime/libraries would still work as CPU only binary, which yours will fail to load)

And one can override GPU architecture detection by setting `TORCH_CUDA_ARCH_LIST` environment variabl

[2020-11-04 22:10] Kipok commented on #46213
Thanks for your feedback, it's great that you're willing to accept this! I am starting to work on cleaning-up my code and I have a few design questions.

First, is it ok for me to keep "proj_size" argument in RNNBase class from torch/nn/modules/rnn.py? It feels a bit misplaced there, given that only LSTM networks can actually accept it. On the other hand, all the weights creation logic happens the

[2020-11-04 22:14] mruberry commented on #47340
The tests are just a little older and need to be updated to use our latest tools, that's all.

[2020-11-04 22:20] ejguan commented on #47354
Is there any reason not using:
`python -m pip install torch==1.7.0 -f https://download.pytorch.org/whl/torch_stable.html`

[2020-11-04 22:22] juWuBabaaaa commented on #47351
Brilliant&nbsp;

---Original---
From: "Erjia Guan"<notifications@github.com&gt;
Date: Thu, Nov 5, 2020 05:50 AM
To: "pytorch/pytorch"<pytorch@noreply.github.com&gt;;
Cc: "Author"<author@noreply.github.com&gt;;"juWuBabaaaa"<1826946027@qq.com&gt;;
Subject: Re: [pytorch/pytorch] no member named 'beta1' in 'torch::optim::AdamOptions' (#47351)

Do you refer to an issue with the docs?
 Or, is it related

[2020-11-04 22:22] #47354 closed

[2020-11-04 22:23] pbelevich commented on #47347
As @ptrblck already said, it's not possible and this is not a bug, because CPU/CUDA random number generators have absolutely different algorithms

[2020-11-04 22:23] #47347 closed

[2020-11-04 22:35] KsenijaS commented on #47182
@oneway234 can you please share the full script that you used to convert the model.
I don't have the information about ConvTasNet model, and of inputs separator_input, decoder_input.
Thanks.

[2020-11-04 22:42] vadimkantorov commented on #46886
Yup, https://github.com/pytorch/pytorch/issues/7313 :)

[2020-11-04 22:45] malfet commented on #47395
Can be fixed by replacing
https://github.com/pytorch/pytorch/blob/6f6025183fa953f947eb6882979c88aa15c13977/aten/src/ATen/native/cpu/BinaryOpsKernel.cpp#L807
with `AT_DISPATCH_FLOATING_TYPES(iter.common_dtype(), "copysign_cpu", [&]() {`

[2020-11-04 22:45] ppwwyyxx opened #47405 "[jit] torch.device type annotation not supported in methods"
## 🐛 Bug

[code]

it prints
[code]

cc @gmagogsfm

[2020-11-04 22:56] ejguan commented on #47378
I can reproduce this error on my local machine.
@zou3519 Can you take a look on it?

[2020-11-04 23:40] waittim commented on #14807
Hi Narsil, may I know how do you solve the problem finally? I'm working on the same issue right now....

[2020-11-04 23:53] #47138 closed

[2020-11-05 00:23] gmagogsfm opened #47412 "PyTorch doesn't build with Cuda 11.1"
## 🐛 Bug
Building fails with cuda 11.1

## To Reproduce

1. install cuda 11.1
2. follow instructions in pytorch repo to build from source. Note that I can't install ` magma-cuda111` because it is not available.
3. During build, following error shows up:
[code]

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercont

[2020-11-05 00:53] ddummkopfer commented on #47340
@mruberry Thank you for your attention. Do you mean that you will use the latest test tools to redesign the test in torch in future?
I wonder what is the latest tool you mentioned?
Thank you 👍

[2020-11-05 00:57] #47397 closed

[2020-11-05 00:58] mruberry commented on #47340
If you take a look at test_unary_ufuncs.py, for example, you can see the tests there make good use of our device generic test framework (see the Wiki for more information) and our new operator database to generate and run tests. test_torch.py also uses the device generic test framework. test_nn.py, on the other hand, currently only has a few functions using the device generic test framework. In th

[2020-11-05 01:05] ddummkopfer commented on #47340
@mruberry @ejguan Thank you for so meaningful explanation.
I have a little confusion, the test suites use many **_assertEqual(cpu_output, gpu_output, prec)_** to check if cuda calculates right. I wonder how to get or calculate the precision(called tolerance), is it a just empirical number?

[2020-11-05 01:10] ddummkopfer commented on #47340
@mruberry Another question, for now the default dtype in test_nn.py is **double**, and most of the test cases use double cpu output to compare with float gpu output or other dtype gpu output. In future, will the default dtype in test_nn.py be changed to float or remain double? And why use double as default dtype in test_nn.py and test_torch.py?