[2021-11-02 07:19] zhuzilin commented on #43144
Hi there, I'm also interested in building an custom allocator for pytorch. Before having the plugin interfaces, I wonder if using `LD_PRELOAD` for `cudaMalloc` and `cudaFree` is a good walk around. I've tried to make an example with cnmem in [zhuzilin/pytorch-malloc](https://github.com/zhuzilin/pytorch-malloc). Could you share some suggestions with this idea?

[2021-11-02 07:22] nivedvenugopalan opened #67669 "Not Being Able to Install PyTorch"
When installing PyTorch using the following command:<br/>
<br/>
```pip3 install torch==1.10.0+cu113 torchvision==0.11.1+cu113 torchaudio===0.10.0+cu113 -f https://download.pytorch.org/whl/cu113/torch_stable.html```<br/>
<br/>

I got this error: <br/>
`Looking in links: https://download.pytorch.org/whl/cu113/torch_stable.html
ERROR: Could not find a version that satisfies the requirement torch==1.1

[2021-11-02 07:27] sujoysaraswati commented on #67428
Thanks for the detailed explanation @rgommers . If I understood correctly, the python rule for mixing scalars with arrays is to convert the scalar to the 0D array with same dtype. PyTorch seems to do similar ordering in the python parser for tensors and scalars, but it has this additional allow conversion flag which enables this conversion only for some ops. Additionally, the ordering is not impos

[2021-11-02 07:29] gaocegege commented on #67616
`kubectl delete` command sends a SIGTERM signal to the container. I think we should avoid running shutdown with this signal since the users or the [horizontalPodAutoscaler](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/) may delete the pod to scale down the job.

[2021-11-02 07:45] gaocegege commented on #67616
There's another problem with agent failures. Imagine that we have two agents with nprocpernode = 1. I killed agent-0, the agent-1 still works with rendezvous version 1.

Then I created a new agent-2, the agent destroyed version 1 because it is incomplete. It created a new version 2 and began the training.

At this time, agent-1 works at version 1, agent-2 works at version 2. Is it a bug or feature

[2021-11-02 07:56] shinh opened #67670 "[ONNX] torch.flatten for 1D tensor results in wrong ONNX"
## 🐛 Bug

It seems if you export `torch.flatten(x)` where `x.ndim == 1`, torch.onnx exports a single `Flatten` op whose output is always 2D.

## To Reproduce

[code]

You will see

[code]

which means torch expects 1D output but ONNX outputs 2D.

I think [this condition](https://github.com/pytorch/pytorch/blob/cd51d2a3ecc8ac579bee910f6bafe41a4c41ca80/torch/onnx/symbolic_opset11.py#L798) is wrong.

[2021-11-02 08:03] rgommers commented on #67428
Yes indeed.

That misses a bracket; I'll assume you meant `clamp(0, b[0] - 1)`. And no, I don't think it implies that. This is a composite statement, let's unpack it:
1. `b[0] - 1`: `b[0]` is still a tensor; the `-` operator must support scalars so `1` gets turned into a 0-D array with the same dtype as `b`
2. `clamp` is a function call, scalars don't have to be supported in function calls (the ru

[2021-11-02 08:14] Fkawala opened #67671 "RoIAlign segfaults when ROIS is "big enough" tensor of shape (K, 5)"
## 🐛 Bug
Applying `RoIAlign` (torchvision.ops.RoIAlign) on `rois` that is a tensor of shape (K, 5) results in a segfault : `Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)`.

The faulty behavior is **not** observed when :

* Applying `RoIAlign` on `rois` that is a list of tensor of shape (4,)
* `RoIAlign` input size is small enough (typically LEQ 32,10,10)

## To Reproduce

[2021-11-02 08:14] maxwellzh commented on #67598
@glenn-jocher Yes, thought this has no influence on the parameter updating, it's quite annoying.

[2021-11-02 08:22] wwwshengbo commented on #39141
# Update G
            if compute_g_loss:
                trainer_module.optimizer_g.zero_grad()
                losses['g'] = losses['l1'] * config['l1_loss_alpha'] \
                              + losses['ae'] * config['ae_loss_alpha'] \
                              + losses['wgan_g'] * config['gan_loss_alpha']
                print("002")
                losses['g'].backward()   # ？？？

[2021-11-02 08:34] CathyLin1219 commented on #39245
Hi @BowenBao , I know the reason why it's incorrectly. But I don't know how to solve the problem when I use torchcrf.CRF.decode

[2021-11-02 09:21] xwang233 commented on #67239
Both `adaptive_max_pool2d` forward and backward implementations are likely wrong on CUDA.

Explain:
https://github.com/pytorch/pytorch/blob/8eb85b50277234e792d32f8f141f02d3b7c3042c/aten/src/ATen/native/cuda/AdaptiveMaxPooling2d.cu#L267-L271

The `adaptive_max_pool2d` CUDA kernel uses raw pointer instead of TensorAccessor. The kernel was probably written for output tensors of contiguous instead of

[2021-11-02 09:38] vadimkantorov commented on #3428
Summary page for functions is ranked higher than individual function page. It would be good to de-index summary pages:
![image](https://user-images.githubusercontent.com/1041752/139822320-f67ba0d6-8b0c-4e35-a04d-ca4f8aedc41d.png)

[2021-11-02 09:48] JiahangXu opened #67674 "torch.jit.script fails to find attribute '_modules' of nn.Module"
## 🐛 Bug

I have a model using `self.add_module` from `nn.Module`, and the forward function is designed by calling `self._module`. However the torch.jit.script fails to parse the code.

## To Reproduce

Run the following code:
[code]
And the error is:
[code]

## Environment

 - PyTorch Version (e.g., 1.0): 1.9.0
 - OS (e.g., Linux): windows 10 WSL
 - How you installed PyTorch (`conda`, `pip`, sour

[2021-11-02 10:08] MaltheG commented on #67669
I am getting the same error.

I am using python 3.10 and pip 21.3.1

[2021-11-02 10:52] clyde-fare-ibm commented on #21819
This problem looks like a problem with the underlying magma library: https://github.com/pytorch/pytorch/pull/50957

I think you'll want to use a later version of PyTorch that includes the above pull request that fixes the bug in magma.

[2021-11-02 10:56] OliverFM commented on #46480
Hey!
I am new to contributing to torch -- I will open a PR for this issue, if that is alright :)

[2021-11-02 10:59] casparvl opened #67675 "test_cond_cpu tests fail when running with `numpy` compiled against `OpenBLAS 0.3.15`"
## 🐛 Bug

The following tests fail in the `PyTorch 1.10.0` test suite when using `numpy` compiled with `OpenBLAS 0.3.15`:

[code]

The failure looks like this:

[code]
The reason is that OpenBLAS changed behavior as to how NaN's are propagated, see https://github.com/numpy/numpy/issues/18914

In the particular case of these PyTorch tests, the input is

[code]
And the call being made when the test

[2021-11-02 11:13] avostryakov commented on #27212
this command will be added in onnx 1.11. So, it can be added in pytorch onnx export after it. +1

[2021-11-02 11:16] hwangdeyu commented on #59179
PR merged into master. Closed it.

[2021-11-02 11:19] hwangdeyu commented on #67611
Could you please provide more details, such as minimum script for us to reproduce the issue?

[2021-11-02 11:21] mruberry commented on #67675
Thanks for reporting this issue, @casparvl!

[2021-11-02 11:23] mruberry commented on #67671
@fmassa -- should this be moved to the torchvision repo?

[2021-11-02 11:24] mruberry commented on #67598
Seems like an easy fix, @mcarilli?

We would accept a PR fixing an erroneous warning.

[2021-11-02 11:27] mruberry commented on #67667
@fmassa -- maybe a transient networking issue?

Should this be moved to the torchvision repo?

[2021-11-02 11:28] mruberry commented on #67660
Thanks for reporting this issue, @krshrimali. Tentatively marking "high priority" as the error seems large enough to possibly be a silent correctness issue. @albanD what do you think?

[2021-11-02 11:30] mruberry commented on #67592
Thanks for reporting this issue, @7starsea. Closing this as a duplicate of the earlier issue.

[2021-11-02 11:30] #67592 closed

[2021-11-02 11:34] mruberry commented on #67642
I believe that's the case but @malfet is our expert on builds.

[2021-11-02 11:35] mruberry commented on #67634
Thanks for the feature request, @ifsheldon

[2021-11-02 11:37] mruberry commented on #67627
It looks like there may be a configuration error in the json file you're using, but this question is more appropriate for that package or possibly for the PyTorch Forums.

[2021-11-02 11:37] #67627 closed

[2021-11-02 11:38] nikitaved commented on #67660
@mruberry , we had a short discussion about this issue here: https://github.com/pytorch/pytorch/pull/67328#discussion_r738082715.
I could have a look. It also seems to me we can avoid custom kernels and use already implemented advanced indexing operators. I speculate it will be as fast and hopefully correct :)

[2021-11-02 11:38] mruberry commented on #67612
We would definitely take a fix for this.

[2021-11-02 11:40] NicolasHug commented on #67391
Thanks for the feedback, let's deprecate it in 1.11 and remove in 1.12 then. To be extra-nice to the fairinternal repos, we'll try to submit a PR over there to just inline the function - it's just a few lines long.

That's a good point, but IMHO that function is too low-level to be a nice user-facing function. It's also fairly hacky with surprising side-effects (and even potentially buggy https://

[2021-11-02 11:41] mruberry commented on #67596
This question is better asked on the PyTorch forums. These GitHub issues are intended for feature requests and bug reports.

[2021-11-02 11:41] #67596 closed

[2021-11-02 11:46] mruberry commented on #67587
Thanks for the suggestion, @carmocca.

[2021-11-02 11:58] Fans0014 opened #67678 "Type torch::jit::Module converted to torch._C.ScriptModule"
Hi,
I’m trying to develop some torch.jit modules with c++，and then use them in python with pybind.
I found that the orginal method of torch._C.ScriptModule._create_method_from_trace
was created with arg types torch::jit::Module in c++. But the corresponding method arg type was torch._c.ScriptModule in python.
How dose this conversion happens?
I try to define a method in c++ with arg type torch::ji

[2021-11-02 12:03] sujoysaraswati commented on #67428
Yes, my bad. I had meant clamp(0, b[0] - 1).

 And no, I don't think it implies that. This is a composite statement, let's unpack it:

I see, so the API rule applies to Python operators alone.

Yes, agreed. It would be great if PyTorch functions also have a similar consistent behavior.

I have currently seen it with clamp, though this happens in a model where the clamp is in a loop.

Essentially I

[2021-11-02 12:08] Lezcano commented on #67594
What applications would this cover that `with torch.no_grad()` would not?

[2021-11-02 12:15] rgommers commented on #67428
Indeed. The rationale was that expressions like `2*x + 1` are very common, and would be really annoying to write as `tensor(2)*x + tensor(1)`. However scalars as parameters to function calls where tensors are expected are much more rare, so there's no need to require implementations to be more flexible there (some libraries have a strong preference for type safety and avoiding the bit of overhead

[2021-11-02 12:35] vkuzo commented on #67651
@z-a-f , could you take a look?

[2021-11-02 12:48] byronyi commented on #67073
Does this affect version 1.10?

[2021-11-02 13:31] MaltheG commented on #67669
I fixed the issue by downgrading to python version 3.9.7. I guess pytorch isn't upgraded for 3.10 yet

[2021-11-02 13:55] jakwisn opened #67680 "OOM with a lot of GPU memory left"
## 🐛 Bug

When building models with transformers pytorch says my GPU does not have memory without plenty of memory being there at disposal. I have been trying to tackle this problem for some time now, I have tried switching os, lowering batch sizes etc/ Every time (both on personal machine and cluster) it gives me error like this:

[code]
It always happens at the first/second step

There has ben s

[2021-11-02 14:10] albanD commented on #67594
@Lezcano that is different because in the case from the example, autograd is still tracked wrt to the input `x` even though you don't track it for the model's parameters.

@munael you can actually do `mod.requires_grad_(False)` directly.
So the code is actually pretty easy to do without this no?

[2021-11-02 14:13] albanD commented on #67587
Note that this is unfortunately a common practice. In particular because such object has very big states (the params or stats buffers) that we don't want to add there. And so the `__repr__` doesn't allow you to re-create the object anyways. You have to know about it and save/load the state dict.

Do you have a specific use case where it would be useful for you to have this "better" `__repr__` in p

[2021-11-02 14:17] albanD commented on #67595
Aren't the overlaps always the same size? Could this be done by dividing the final result with the overlap size after Fold runs?

[2021-11-02 14:21] albanD commented on #46480
I am not sure everyone agrees yet.
Let me double check with other core contributors on this and update back here.

[2021-11-02 14:26] malfet commented on #67669
Removing "module: build" as it has nothing to do with building PyTorch and closing as duplicate of https://github.com/pytorch/pytorch/issues/66424

PyTorch builds again python-3.10 are not yet supported for 1.10

[2021-11-02 14:26] #67669 closed

[2021-11-02 15:05] TotalVariation opened #67681 "PicklingError encountered when using multiple GPUs"
## 🐛 Bug

Hello,

I was using Slurm-based HPC with multiple GPUs to train deep learning models.

![Screenshot from 2021-11-02 14-31-12](https://user-images.githubusercontent.com/36463966/139871575-67b400f4-a6c9-4848-a1aa-673c7f8390aa.png)

![Screenshot from 2021-11-02 14-32-20](https://user-images.githubusercontent.com/36463966/139871600-0b8c39b8-4874-4472-b616-4cdec4d19d7e.png)

I believe this pi

[2021-11-02 15:34] brando90 commented on #47702
related but for tensorflow: https://www.reddit.com/r/tensorflow/comments/qcpfko/m1_max_for_ml_using_tensorflow/

[2021-11-02 15:57] munael commented on #67594
This handles setting it, true. The context manager would also _reset_ it to the original value. And it's even neater, IMO, if we go with a signature that takes a list of modules or parameters. So the setting and resetting of any set of affected mod/params is clearly grouped in the `with` line.

[2021-11-02 15:59] kimjiye2 opened #67682 "Using torch.mm with torch.cuda.BFloat16Tensor"
Hello. I am trying to using BFloat16Tensor on  CUDA,
but it gets error when I use torch.mm , torch.matmul, torch.bmm//

RuntimeError                              Traceback (most recent call last)
<ipython-input-11-4e50615ebf66> in <module>
A= torch.matmul(R, D)

RuntimeError: at::cuda::blas::gemm: not implemented for N3c108BFloat16E

I am using torch version 1.10, CUDA Version: 11.3

does torch.ma

[2021-11-02 16:10] liying-1997 opened #67683 "PyTorch Profiler for distributed time count"
## ❓ What is included in ”Other" exactly?
I used pytorch profiler interface to count the four parts of running time in a 4-GPUs experiment. The result is as follows:

![image](https://user-images.githubusercontent.com/44020031/139894698-fdbe4470-5938-492c-8755-0514570c3068.png)

![image](https://user-images.githubusercontent.com/44020031/139897087-95378e1e-419b-474a-8e28-e6a3a6ae0eec.png)

Of thes

[2021-11-02 16:26] albanD commented on #67653
Thanks for the report.
The `set_next_edges` is called on the Node that each thread creates so why would that race? The AccumulateGrad Node doesn't have its next edges set.

Also does this repro without the distributed autograd engine being involved?

[2021-11-02 16:28] vadimkantorov opened #67684 "[feature request] torch.clamp on BoolTensors"
[code]

This one should be no-op, but probably even other clamps could be supported if clamp_min is below <= 1 (or for a stricter version <= 0)

[2021-11-02 16:32] casparvl opened #67685 "VNNI detection in PyTorch 1.10.0 test suite fails"
## 🐛 Bug

The `test_lstm` test from `quantization.bc.test_backward_compatibility.TestSerialization` is known to fail on Intel Cascade Lake machines (see https://github.com/pytorch/pytorch/issues/59098) because the use of VNNI instructions result in an output that is different than expected. For that reason, this particular test should now be skipped if VNNI instructions are supported on the host u

[2021-11-02 16:34] jbschlosser commented on #46480
I think a properly functioning `maximize` flag is better than allowing negative learning rates. For optimizers beyond simple SGD, it's likely that negative learning rates will weird undesired behavior. If the goal is to allow maximization, imo this should be provided on a per-optimizer basis to account for the subtleties.

[2021-11-02 16:35] marwanelsheriif opened #67687 "Trying to quantize and save a pre-trained deberta model, where i get a runtime error"
i am trying to quantize deberta-base and save the quantized model, so i do as follows

[code]

i get the following error:
[code]
What is the cause of this?

[2021-11-02 16:36] marwanelsheriif commented on #67687
using:
torch==1.10.0
transformers==4.12.2

[2021-11-02 16:38] carmocca commented on #67587
Yes, my example implementation skips "params" for this reason.

For example, when using `pytest`:

(current)
[code]
[code]

(proposal)
[code]
[code]

[2021-11-02 16:42] albanD commented on #67587
cc @jbschlosser I think the same thing applies to nn.Module.
Maybe a good semantic we could go with here is: the repr + state dict is enough to reconstruct the full object?

Note that nn.Parameter is also broken but should be easier to solve.

[2021-11-02 16:53] garymm commented on #59179
@hwangdeyu are you sure the change is in master? If so, then what is this doing still open? https://github.com/pytorch/pytorch/pull/66175

[2021-11-02 17:11] kiukchung commented on #67616
sounds like a bug to me, the expected sequence is:

1. rdzv version 0: agent-0 (alive), agent-1 (alive)
2. rdzv version 1: agent-0 (killed), agent-1 (alive)
3. rdzv version 2: agent-0 (restarted), agent-1 (alive)

Are you trying this with rdzv_backend=c10d or etcd?

[2021-11-02 17:36] casparvl opened #67693 "`test_svd_errors_and_warnings` tests fail on CPU"
## 🐛 Bug

The tests `test_svd_errors_and_warnings_cpu_complex128`, `test_svd_errors_and_warnings_cpu_complex64`, `test_svd_errors_and_warnings_cpu_float32` and `test_svd_errors_and_warnings_cpu_float64` fail with the following traceback:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Install PyTorch 1.10.0 from sources, building against OpenBLAS 0.3.15
2. Run `python run_test.py -i

[2021-11-02 17:37] ejguan commented on #67681
Potentially the problem came from your implementation of Dataset based on your trace.

Could you please post more detail about it so we can reproduce the error?

[2021-11-02 17:49] mrshenli commented on #67683
Hey @liyingathere, which distributed feature are you using?

[2021-11-02 17:53] pritamdamania87 commented on #67653
The set_next_edges is called on the Node that each thread creates so why would that race? The AccumulateGrad Node doesn't have its next edges set.

The problem is that the same `AccumulateGrad` node is present in the `next_edges` for both `set_next_edges` calls. So there are two potential races: 1) When we `std::move(next_edges)` 2) when we call `topological_nr` on an edge.

Distributed autograd e

[2021-11-02 18:04] janeyx99 commented on #66471
Based on the stats gathered on 219 commits since removing Windows CUDA testing from PRs, an estimate of 8 reverts were due to broken Windows CUDA tests on trunk (3 of them were from before smoke tests were added), which is smaller than 4%. I think it's okay to not run the full Windows CUDA tests for PRs due to the stats.

I have not yet investigated the value of smoke tests just yet.

[2021-11-02 18:15] OliverFM opened #67696 "Warnings being produced when testing optim."
## 🐛 Bug

This is a small issue: pytorch tests have warnings when run on master (hash: 82f7f8d471241b0f417f932c59558774cc273041).

While this is clearly not a glaring issue, I think that tests ought not to produce warnings when running. It makes it harder for developers to see whether or not that is produced by their work.
Secondly, I think it is generally worth following the paradigms we expect t

[2021-11-02 18:19] ngimel commented on #67428
For `clamp`, it turn out that if both arguments are 0-D tensors, they are still turned to scalars in a synchronizing way, so apparently "extracting a scalar from a tensor" happens. Only if they are 1D tensors are they left as tensors:
[code]
Also, not that the kernel for the op itself as written in [23] will be slower than for the op that uses cpu scalars for upper and lower boundaries, because fo

[2021-11-02 18:53] IvanYashchuk commented on #67693
Thank you @casparvl for submitting the issue! Unfortunately, there are no CI jobs configured to compile PyTorch with OpenBLAS instead of MKL to catch errors like that (https://github.com/pytorch/pytorch/issues/53910).

This comment https://github.com/numpy/numpy/issues/18914#issuecomment-839941847 contains the summary of recent changes in [Reference-LAPACK](https://github.com/Reference-LAPACK/lapa

[2021-11-02 19:05] albanD commented on #67696
Thanks for the issue. It would be great if you could send a PR fixing that:
- If this is actually testing this particular case, then we should catch the warning and expect it to be raised.
- If it is just bad practice in a test that is checking something unrelated, we should fix that test to properly use the API.

[2021-11-02 19:19] OliverFM commented on #67696
Awesome, will do!
I think that this falls under the second category in each case. I will double check when I send out the PR though.

[2021-11-02 19:21] xuzhao9 commented on #66800
After our investigation, it shows the regression of test_eval[soft_actor_critic-cuda-eager] could be caused by this line: https://github.com/pytorch/pytorch/commit/81e36d02a6#diff-3f2b3bd2a60497fca8d91e7c3ab1b822e0f0d29b2ffab34e5e546f82f7605581R54 because it forces a CUDA sync and CPU has to block to enforce the constraint. @neerajprad

[2021-11-02 19:24] xuzhao9 commented on #66800
After our investigation, the regression could be caused by this line: https://github.com/pytorch/pytorch/commit/81e36d02a6#diff-3f2b3bd2a60497fca8d91e7c3ab1b822e0f0d29b2ffab34e5e546f82f7605581R54. The `valid.all()` call forces a CUDA sync.

[2021-11-02 19:36] janeyx99 opened #67699 "Add retries to ecr get-login call: https://github.com/pytorch/pytorch/runs/3948026530"
log into ECR still occasionally runs into timeouts, even with the AWS retry env vars.

e.g., from 11/2: https://github.com/pytorch/pytorch/runs/4084491728?check_suite_focus=true

and from before https://github.com/pytorch/pytorch/runs/3948026530

[2021-11-02 19:48] janeyx99 commented on #66207
Hm it looks like this is still not disabled on CI as I recently just found https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-bionic-rocm4.3.1-py3.6-test-distributed/3292//console from 11/2/21. It's probably due to the elastic tests not overloading our TestCase class--addressing with https://github.com/pytorch/pytorch/pull/67700

[2021-11-02 19:48] akern40 commented on #58743
Thank you to everyone who has put so much work towards this common Array API implementation in PyTorch! I have been trying to catch up with the discussion, and as best I can tell nobody has brought up the implementation of the [`__array_namespace__` function that is needed to generalize access](https://data-apis.org/array-api/latest/purpose_and_scope.html#how-to-adopt-this-api) to PyTorch's implem

[2021-11-02 19:50] rgommers commented on #58743
Thanks for asking @akern40! `__array_namespace__` is listed in gh-58742. It's not exactly a new operator, so I'll move it to this issue. And you are right, it's the attribute that claims compliance, so it should be implemented when we reach (almost) full compliance with the standard.

[2021-11-02 19:56] fritzo commented on #66800
@xuzhao9 the line you pointed to is validation logic that helps new users diagnose errors. More confident users who want training to run faster can disable validation either globally `torch.distributions.Distribution.set_default_validate_args(False)` or disable validation on a single distribution via `SomeDistribution(..., validate_args=False)`.

Can you please either flag this "performance regres

[2021-11-02 19:58] OliverFM commented on #67696
Regarding point 1, the tests also raise warnings:
[code]
 which are caught -- but still get logged to the console, any idea on how hard it would be to prevent them being logged when we catch them?

[2021-11-02 20:09] albanD commented on #67696
If you catch them with `with warnings.catch_warnings` they should not be printed AFAIK
We do that everywhere in the tests.

[2021-11-02 20:14] OliverFM commented on #67696
Simple question: do I need to configure anything or be granted to push a branch to the repo?
I have made some initial changes, which I tried to push, but have had the results rejected:
[code]

I think that I have set the remote correctly, following [this post](https://stackoverflow.com/questions/14762034/push-to-github-without-a-password-using-ssh-key)

[2021-11-02 20:20] albanD commented on #67696
You can fork pytorch under your own username and use that one as the upstream. Then you will be able to open a PR from your branch in your fork to pytorch/pytorch master branch.

[2021-11-02 20:38] suo commented on #67450
Failures seem specific to complex128 tests: https://fburl.com/scuba/opensource_ci_jobs/h9ljo50y

[2021-11-02 21:06] neerajprad commented on #66800
I don't see a difference in this diff. Prior to this we were still checking for this using `if not support.check(value).all()`. The line merely breaks this into two steps.

[2021-11-02 21:13] janeyx99 opened #67710 "Preserve core dump as artifacts"
It would make the process of debugging easier for issues such as https://github.com/pytorch/pytorch/issues/67646

[2021-11-02 21:14] janeyx99 commented on #67699
Note: this could be due to the bash -e shell in GHA failing out at the first attempt

[2021-11-02 21:16] janeyx99 opened #67712 "Decorate tests with a "deadline""
## 🚀 Feature
We should limit the runtime of every tests to a certain time, like 5min or something.

## Motivation

This would help save resources and help us pinpoint culprit tests when they time out, like the ones in https://github.com/pytorch/pytorch/issues/67448

[2021-11-02 21:24] janeyx99 opened #67713 "CI: Add timeouts for GHA jobs"
Why?

1. It would make it easier to detect when timeouts happen
2. Given the current behavior, a job could go on forever (or can it?)

cc @seemethere @malfet @pytorch/pytorch-dev-infra

[2021-11-02 21:45] aivanou commented on #67616
Assigned this issue to myself, will try to repro and if it is a bug, will submit a pr to resolve this

[2021-11-02 21:49] seemethere commented on #67643
Done with #67645

[2021-11-02 21:49] #67643 closed

[2021-11-02 21:49] rohan-varma opened #67714 "Add some profiling ranges to FSDP"
## 🚀 Feature

FSDP has many extra steps in forward, backward to all gather parameters, scatter gradients, run CPU -> GPU copies for CPU offload, etc. For easier to understand profiling, it would be useful to add ranges on some of these events so that we know the high-level context/operations of what some low level operators correspond to.

For example, the following stream sync in backwards by its

[2021-11-02 22:00] BowenBao commented on #59179
@garymm #66175 seems to be obsolete, after another PR stack created for it, closing that one. Going forward I will close these kind of PRs in a more timely manner. The change from @hwangdeyu are in c16f192fe1712ecf14ddd679d68b08c0e6c867e8. Feel free to close this.

[2021-11-02 22:22] JakobHavtorn commented on #3867
Doesn't it seem that the transposed convolution with `padding="same"` does indeed not work properly when `stride > 1`?

[2021-11-02 22:51] xuzhao9 commented on #66800
Please note that `if not support.check(value).all()` is on line 287(https://github.com/pytorch/pytorch/commit/81e36d02a6#diff-3f2b3bd2a60497fca8d91e7c3ab1b822e0f0d29b2ffab34e5e546f82f7605581R287). The `valid.all()` call added by this diff is on line 54 (https://github.com/pytorch/pytorch/commit/81e36d02a6#diff-3f2b3bd2a60497fca8d91e7c3ab1b822e0f0d29b2ffab34e5e546f82f7605581R54)

[2021-11-02 23:07] janeyx99 opened #67720 "Alleviate sccache connectivity issues on CI"
See on 11/2:

[PyTorch] Add IValue::toTupleRef() (#65504) win-vs2019-cuda11.3-py3 on trunk: https://github.com/pytorch/pytorch/runs/4083329308?check_suite_focus=true

and also in binaries
https://app.circleci.com/pipelines/github/pytorch/pytorch/403881/workflows/9fb5af0d-a370-4170-ba55-fab0095f2f73/jobs/16649825

[code]

Some previous investigation done by @suo suggests investigating mozilla/sccac

[2021-11-02 23:08] seemethere commented on #67644
Submitted https://github.com/pytorch/pytorch/pull/67717 to remedy this

[2021-11-02 23:20] lithomas1 commented on #42919
@ezyang It seems like a lot of legacy Python 2 code is in the caffe2 module. Are you still taking PRs for that section of the code even though it is deprecated?

[2021-11-02 23:20] janeyx99 opened #67723 "DISABLED test_pointwise_op_fastpath__foreach_addcmul_cuda_uint8 (__main__.TestForeachCUDA)"
Seems flaky on CI -- showed up in one commit but was fine the next:

In [qnnpack] Remove redundant fp16 dependency (#67281) on trunk
https://github.com/pytorch/pytorch/runs/4083010308?check_suite_focus=true

[code]

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @crcrpar @mcarilli @ngimel

[2021-11-02 23:25] zarzen opened #67724 "runHealthCheck in ProcessGroupNCCL constructor causes extra cuda-context"
## 🐛 Bug (on master branch)

Creating sub groups with `torch.distributed.distributed_c10d.new_group` creates extra cuda-context on other GPUs.
For example, we have 8 GPUs in total, and want to create a sub process group for ranks `[2,3]`. We are going to see
extra cuda-context created on GPU-0 and GPU-1. Because the group rank of rank-2 is `0`, and rank-3's group rank is `1`.

Reasons:
`runHealthC

[2021-11-03 00:08] neerajprad commented on #66800
@xuzhao9: Thanks for explaining and flagging this. I took a look again: this check is also there in the earlier version, but I see that while this was supposed to replace it with a more verbose message, the older check (now on L62) still exists and running this check again might be causing this perf regression. Let me push a fix for this. Is there a way to see if that resolves this?

[2021-11-03 00:14] xuzhao9 commented on #66800
Yes! You can utilize the "TorchBench ondemand CI" to verify your change works.
Here is how to do this:
1. In your PR body, add a line called "RUN_TORCHBENCH: soft_actor_critic"
2. Create a new push to your PR
3. In the CI list, there is an item of "TorchBench CI", and after it finishes successfully, I will manually check the result and see if there is an expected speedup of the test.

[2021-11-03 00:24] garymm commented on #59179
Thanks for clarifying.

[2021-11-03 00:24] #59179 closed

[2021-11-03 00:36] xuzhao9 commented on #66800
@neerajprad Thanks for submitting https://github.com/pytorch/pytorch/pull/67725. Unfortunately, the TorchBench ondemand CI only supports on testing pytorch/pytorch branches for security reasons. Could you please push your change to a branch on pytorch/pytorch and try it again?

[2021-11-03 00:40] soulitzer commented on #67653
Most likely it is the same issue as https://github.com/pytorch/pytorch/issues/58442, and this is expected.

[2021-11-03 00:46] #67183 closed

[2021-11-03 00:53] jerryzh168 commented on #57590
supported with https://github.com/pytorch/pytorch/pull/66049

[2021-11-03 00:53] #57590 closed

[2021-11-03 00:57] crcrpar commented on #67723
Related issue: https://github.com/pytorch/pytorch/issues/67208

[2021-11-03 01:20] crcrpar commented on #67073
@byronyi it seems like the macro has not been available since the beginning (of course, including 1.10) in custom extensions.

[2021-11-03 01:58] gaocegege commented on #67616
I will try to give you a reproducible case here. I used etcd.

[2021-11-03 02:04] liyingathere commented on #67683
Thank you for your reply. I used PyTorch DistributedDataParallel interface to test training with 4 GPUs. The training data is generated by customized buffer.
[code]
Looking forward to your reply.

[2021-11-03 02:17] gaocegege commented on #67616
BTW, What do you think about it?

[2021-11-03 02:43] lrongzheni commented on #67680
The similar Problem:
Epoch 0:   0%|                                                                              | 3/12784 [00:07<8:32:20,  2.41s/it, loss=7.35, v_num=5]/data/anaconda3/envs/PrefixTuning/lib/python3.9/site-packages/torch/optim/lr_scheduler.py:129: UserWarning: Detected call of `lr_scheduler.step()` before `optimizer.step()`. In PyTorch 1.1.0 and later, you should call them in the o

[2021-11-03 02:45] ProGamerGov commented on #3867
I only tested with the nn.Conv2d layer, and at the time I was not aware of why the error message was so broad despite the functionality appearing to exist. The issue stems from a different in how TensorFlow implemented same padding vs what would be more logical, and that's why the error message exists in it's current form.

[2021-11-03 03:11] gaocegege commented on #67616
@aivanou You can reproduce it with imagenet example here https://github.com/gaocegege/tf-operator/tree/pytorchelastic/examples/pytorch/elastic/imagenet or https://github.com/pytorch/elastic/blob/master/examples/imagenet/main.py:

[code]

Then you send the SIGKILL to the process in terminal 2, then you rerun the command to create a new agent. You can see that the two agents use different rdzv versi

[2021-11-03 03:16] entangledloops opened #67740 "`torch.utils.data.random_split` broken in 1.10?"
## 🐛 Bug

`random_split` example from [src](https://pytorch.org/docs/stable/_modules/torch/utils/data/dataset.html#random_split) doesn't seem to work correctly (doesn't actually split anything)

## To Reproduce
[code]

## Expected behavior
[code]

## Environment

PyTorch version: 1.10.0+cu102
Is debug build: False
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.6

[2021-11-03 03:26] lxy1108 commented on #58817
hi, It seems that I have the same problem, did you solve the problem?

[2021-11-03 03:31] kiukchung opened #67742 "[torch/elastic] Scale down does not work correctly when agent is killed with SIGINT, SIGTERM"
## 🐛 Bug

In multi-node training, when one or more elastic agents gets killed with a SIGINT, SIGTERM, (and additionally SIGHUP, and SIGQUIT on windows), scale down does not work even when the surviving agents are compliant with the min - max sizes.

This is because of two things:

1. When creating the trainer child processes, the agent will self register a termination handler for SIGINT and SIGTER

[2021-11-03 03:39] kiukchung commented on #67616
So I was able to repro this issue and can validate that this is indeed a bug (as a side note, when I recorded that demo this bug was NOT there so this is something new). Details of the bug can be found here: https://github.com/pytorch/pytorch/issues/67742. Please track the progress of the fix there.

[2021-11-03 03:40] ianpegg-bc opened #67744 "RuntimeError: INTERNAL ASSERT FAILED in F.rotate"
## 🐛 Bug

I get an assertion error from native code when trying to run `torchvision.RandomRotate` on a fairly large image (2000x2000)

## To Reproduce

The snippet below *does not* reproduce the bug, but it is the best I could do without delivering the entire code base to you.

[code]
[saved image tensor](https://github.com/pytorch/pytorch/files/7465134/c0d28963-01c4-4b91-add6-3a8edb782610.pt.zip)

[2021-11-03 03:43] siarez opened #67745 "A `sieve` operation for separating values of a tensor into two tensors based on a condition."
## 🚀 Feature
This is an operation that is almost the inverse of `where`.
Let's call it `sieve`.
It takes as input a tensor `A` and a boolean tensor `B` of the same shape and a "fill" value `c`.
It returns two tensors `O1` and `O2` of the same shape as input.
`O1` is equal to `A` where `B` is True and is equal `c` where `B` is False.
`O2` is equal to `A` where `B` is False and is equal `c` where `B

[2021-11-03 03:44] gaocegege commented on #67616
Sure, thanks!

[2021-11-03 04:28] guyang3532 commented on #67683
Yes, the "Computation" part is time for computation on GPU, so the "Other" part includes time for loading data, execution on CPU, etc.

[2021-11-03 05:31] veritas9872 commented on #61202
@nikithamalgifb @gmagogsfm @suo To be more precise, I would like to request the "peak memory use" optimization already available in Tensorflow https://www.tensorflow.org/guide/graph_optimization in TorchScript for both GPU memory and RAM memory.
This would be an invaluable addition for deployment with PyTorch.

[2021-11-03 05:33] veritas9872 commented on #53718
@izdeby
It appears that this functionality is already available with TorchLayers.
https://github.com/szymonmaszke/torchlayers/blob/master/torchlayers/regularization.py
I would love to see this integrated into PyTorch, but I am closing this issue as this would require another request.

[2021-11-03 05:33] #53718 closed

[2021-11-03 05:38] kiukchung commented on #67742
@gaocegege I've validated that my expository bugfix PR https://github.com/pytorch/pytorch/pull/67749 solves this bug. But there is additional testing to be done to make sure we are actually propagating errors and recording events correctly, since this module is used in production internally and its been a mammoth effort to get the errors to propagate to the scheduler correctly (for our internal us

[2021-11-03 06:02] Krovatkin opened #67751 "Remove logic for constructing symbolic shapes in Profiler"
## 🚀 Feature

Simplify Profiler by removing two pieces of logic in `profiling_record.cpp` responsible for grouping profiled tensor types by `frame_id` (i.e. an unique identifier of a particular instance of a function) and for merging groups into final symbolic shapes.

## Motivation

Profiler is an important component of ProfilingExecutor which is our default runtime to execute TorchScript'ed mode

[2021-11-03 06:04] Krovatkin commented on #67751
fyi: @penguinwu @eellison @jjsjann123

[2021-11-03 06:09] gaocegege commented on #67742
SGTM! Thanks for your quick fix. I will take this patch and test again.

[2021-11-03 06:50] jayroxis commented on #67595
Hi, thanks for the response!

I have thought about division but the problem is, there are areas that are not overlapping so if I divide the entire tensor by a certain value, it can make those "nonoverlap area" have much smaller values.

The correct way is to find the overlap areas and make divisions only on those areas, but it can be hard to do and I tried to do it, and the implementation is not f

[2021-11-03 07:00] Krovatkin opened #67753 "Enable profiling optional tensor types in Profiler"
## 🚀 Feature

Enable profiling optional tensor types in Profiler.
Note, this feature would be **much easier** to implement after https://github.com/pytorch/pytorch/issues/67751

## Motivation

This would allow NVFuser to specialize a number of ops such as

[code]

see https://github.com/pytorch/pytorch/issues/67753#issuecomment-959730294

## Pitch

1. We assume that https://github.com/pytorch/pyto

[2021-11-03 07:01] Krovatkin commented on #67753
@jjsjann123 could you please remind me which ops use optional tensors, so I can fill in the motivation section.

@jjsjann123  @eellison wdyt ?

fyi: @penguinwu

[2021-11-03 08:19] zihaoliao opened #67757 "How to build libtorch on aarch64 machine?"
I used command lines below to build libtorch on aarch64 machine.
[code]
But when I test it like [example](https://pytorch.org/cppdocs/installing.html),it shows some error.
![image](https://user-images.githubusercontent.com/7894966/140027833-0e27c9b0-578d-4dde-bb8d-1dd88e2516b7.png)
I see that size of my libtorch_cpu.so is only 100Mb,far less than the official one in cpu. But I dont konw whats wron

[2021-11-03 08:39] almson commented on #47688
The thought that's piqued my interest is training on an M1 Max with 64GB of memory, for those times when I want to try an idea that won't won't fit into my GPU.

Ironically, a 64GB MacBook is currently the same price[^1] as a 24GB Nvidia GPU and not too far in TFLOPS (and far more energy efficient). One can even imagine attaching Infiniband or [ExpressFabric](https://www.broadcom.com/products/pcie

[2021-11-03 08:40] pfeatherstone opened #67758 "Building libtorch from source requires too much RAM"
## 🐛 Bug

I tried doing the following:
[code]

Within seconds, the script has consumed 32GB of RAM and my computer crashes.
That's crazy!

How can we reduce the amount of memory consumed? Usually ninja uses the right amount of threads, i.e. equal to the number of cores, in my case 8. But something tells me that there is a hard-coded number of threads equal to something stupid like 256. Otherwise,

[2021-11-03 08:42] casparvl commented on #67693
Thanks for the quick response @IvanYashchuk , I had assumed the "Argument 4 has illegal value" refered to a function argument, but I guess this means it refers to the `-4` return statement from LAPACK. Anyway, it's clear to me that at the very least this is a case where one might expect a different error, but it's not like this PyTorch build will give me fundamentally incorrect results. For me, th

[2021-11-03 08:45] pfeatherstone commented on #67758
When i set ```USE_CUDA=OFF``` then memory consumption goes down to 4GB. So either some of the .cu files are too big or something is being too trigger happy with the number of .cu files to build.

[2021-11-03 08:48] IvanYashchuk commented on #67693
No worries! Reporting the problem is the most important thing and less interesting work of fixing the bug is on the PyTorch team 😉

[2021-11-03 09:41] casparvl commented on #67693
Thanks! :)

For later reference of myself and others who run into this: this same issue also breaks the `test_norm_extreme_values_cpu (__main__.TestLinalgCPU)` test:

[code]
Reason is that the test runs this https://github.com/pytorch/pytorch/blob/510336499b4f13f10034893333fbd924e271631b/test/test_linalg.py#L1892 with
`x=tensor([[inf, nan]])` and `ord='nuc'`, which results in the same runtime erro

[2021-11-03 09:44] #28955 closed

[2021-11-03 09:57] rastinbw commented on #67680
I am fine-tuning bert with mlm and nsp tasks and have Same problem. I tried that on two systems and two operating systems (one with 4GB gpu ram and one with 2GB gpu ram):

Some weights of BertForPreTraining were not initialized from the model checkpoint at bert-base-uncased and are newly initialized: ['cls.predictions.decoder.bias']
You should probably TRAIN this model on a down-stream task to be

[2021-11-03 10:06] bobseboy commented on #30664
Finally solved this!

My problem:
Due to restrictions I could not install from pytorch channel using `-c pytorch` whereas I was using an index to install the version from. This version did not include the cuda version, but a CPU version.

My solution (I created an env for this):
- conda install pytorch cudatoolkit=x.x (to get the correct dependencies)
- manually download the correct wheel from htt

[2021-11-03 10:36] OliverFM opened #67760 "Add an LRScheduler interface for torch schedulers."
## 🚀 Feature
Add an `LRScheduler` interface to all schedulers featuring, at a minimum, an abstract property `optimizer` and an abstract method `step`.

## Motivation

I have three reasons for opening this issue:

1. The type system is not clear -- it would be much easier to do static type checking and work with torch if we can abstract away the details of scheduler implementation when we don't nee

[2021-11-03 10:42] OliverFM commented on #67760
One more point -- it is possible that the lack of the call to `super().__init__` in `ChainedScheduler` is a bug, in which case, fixing that would unblock the testing, as it looks like every scheduler has `self.optimizer` as an instance variable.

[2021-11-03 10:43] vadimkantorov commented on #32021
Another motivation for dropping mandatory `lr` in constructor: if all param groups specify their own lr

[2021-11-03 11:15] Zac-HD commented on #25248
Hi all 👋 - I'm a Hypothesis core dev, and generally happy to help out on OSS projects.  Two things that spring to mind:

1. @rsokl noticed that you're not [using `hypothesis.register_random()`](https://hypothesis.readthedocs.io/en/latest/details.html#making-random-code-deterministic) - if your tests are influenced by a PRNG that Hypothesis hasn't been shown how to manage, that could be the source

[2021-11-03 11:19] vadimkantorov opened #67761 "Allow LRScheduler to take in param_groups directly without an optimizer"
Necessity to have a separate optimizer for different param groups just to pass them to scheduler defeats the idea of having a single optimizer with multiple param groups

[2021-11-03 11:38] vadimkantorov commented on #67760
Maybe actually a contradicting usecase: https://github.com/pytorch/pytorch/issues/67761, but IMO schedulers need a redesign :(

[2021-11-03 11:50] OliverFM commented on #67760
@vadimkantorov that is a good point -- I think that, whatever the design, maintaining a good interface would help make this all clearer.

[2021-11-03 12:11] pearu commented on #59958
What would be the semantics of `to_dense`? Options:
1. copy a tensor with an arbitrary layout to a tensor with strided layout
2. copy a tensor with an arbitrary non-strided layout to a tensor with strided layout, return a view of the tensor (be it contiguous or non-contiguous) if it already has strided layout.
3. an alternative approach would be to support `layout` parameter in `to` method and ret

[2021-11-03 12:18] yelanyelan opened #67762 "A computer with 4 GPUs has different error."
My computer has 4 GPUs, they are all NVIDIA GeForce 2080TI, my environment is:
NVIDIA-SMI 470.42.01    Driver Version: 470.42.01    CUDA Version: 11.4.20210623  cuDNN  Version: 8.2.4.15-1+cuda11.4   pytorch Version: 1.7.0
The same code runs on the 1st and 3rd GPU and everything works fine with pytorch, but there are different errors on GPU 0 and 2.

When using `CUDA_VISIBLE_DEVICES=0`：I usually co

[2021-11-03 12:22] #67762 closed

[2021-11-03 13:21] zpks opened #67763 "Feature request: torch.special.gammainc backward pass support"
## 🚀 Feature
Support for the backward pass with respect to input. It is not supported according to the documentation, referring the reader to opening an issue on the github.
Source: https://pytorch.org/docs/stable/special.html#torch.special.gammainc

## Motivation
The documentation told me to open this issue.
I want to use the gammainc() function as a step between network output and loss calculati

[2021-11-03 13:30] casparvl opened #67764 "PyTorch 1.10.0, `distributed/optim/test_zero_redundancy_optimizer` fails on A100"
## 🐛 Bug

The following two tests from `distributed/optim/test_zero_redundancy_optimizer` fail
[code]
With the following error:
[code]

## To Reproduce

Steps to reproduce the behavior:

1. Build PyTorch from source (see my build command below)
1. Run `python -m unittest distributed.optim.test_zero_redundancy_optimizer.TestZeroRedundancyOptimizerDistributed.test_zero_model_parallel_without_bucket_

[2021-11-03 14:26] donand commented on #45042
I'm having the same issue, the training hangs and the only solution is to restart it.

[2021-11-03 14:31] TotalVariation commented on #67681
Thank you @ejguan for your quick response.

![Screenshot from 2021-11-03 14-20-19](https://user-images.githubusercontent.com/36463966/140078023-2b5bc4b4-01a2-467d-b070-0069f65d08d7.png)

I believe this error is related to multiprocessing used in `Torch`. It would force everything to be pickled. But there are some packages that are dependent on `sh` in my code, which contains a class called `GlobRe

[2021-11-03 14:32] Lezcano commented on #59197
`.mT` and `.mH`were added in https://github.com/pytorch/pytorch/pull/64179/ as shortcuts to transpose (and conj-transpose) tensors.

Note that `.T` works just as expected on matrices, but it has an odd behaviour (reverses the dimension sizes) on general tensors. As such, you should almost alway use `mT` and `mH` (matrix Transpose / conj Transpose).

Closing for now.

[2021-11-03 14:32] #59197 closed

[2021-11-03 14:41] oxyzchen commented on #67680
maybe you can change CUDA runtime version: 10.1.243 to 10.2

[2021-11-03 14:46] ecederstrand commented on #67681
Something is calling `sh.glob()`. Is that in your own code? Assuming this happens in your own code, you need to decide whether you want the globbing to happen before or after spawning the process. Either:

1. Pass around the arguments for `sh.glob()` and run the command in the spawned process
2. Convert the result of `sh.glob()` to something that can be pickled, and pass the result around:

[code]

[2021-11-03 14:48] vkuzo commented on #25248
@Zac-HD , would you have any tips on how one can configure Hypothesis to generate tensors with values similar to something like `torch.randn`? For testing quantization kernels, we often want input tensors which look comparable to what one would expect inside a neural network.  When generating inputs with Hypothesis we usually get a lot of inputs with extreme values, without ever seeing realistic i

[2021-11-03 15:08] casparvl opened #67767 "Gradient test `test_fn_grad_linalg_det_singular_cpu_complex128` failing on CPU"
## 🐛 Bug

The test `test_fn_grad_linalg_det_singular_cpu_complex128` from `test_ops` fails on CPU with the following (long) error:

<details>
  <summary>Full error</summary>

[code]

</details>

The remarkable thing is that the difference seems to be only in the third column, where all analytical results seem to be 0.0+0.0j. Seeing the block diagonal pattern in the numerical results, my guess is t

[2021-11-03 15:29] Lezcano commented on #59197
Note that https://github.com/pytorch/pytorch/issues/61059 tracks the progress `transpose` for CSR tensors.

[2021-11-03 15:40] yohan-pg commented on #46480
I believe this should be fine with most optimizers? At the very least, this would be nice to have in Adam as it is the most commonly used optimizer. Glancing through the optimizer list on https://pytorch.org/docs/stable/optim.html, I think only Rprop would pose problem, but I am not on expert on optimization by any means (perhaps LBFGS would fail also, although I can't tell).

[2021-11-03 15:45] lucgiffon opened #67770 "torch.Tensor floor division with negative numbers behaves differently than python's //"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2021-11-03 15:46] #67770 closed

[2021-11-03 15:51] TotalVariation commented on #67681
@ecederstrand Thank you again for your solution. This is the exact reason why there would be a pickling error. I have solved the issue by following your code snippet.

[2021-11-03 15:56] lucgiffon opened #67771 "When the result is negative, // operator behaves differently with a torch.Tensor than with a np.ndarray or a standard python value"
## 🐛 Bug

When applying the // operator to a torch.Tensor with negative values, I get the result of the truncated division instead of the floor division.

## To Reproduce

    neg_val = -4
    expected_result = neg_val // 3
    torch_result = torch.Tensor([neg_val]) // 3
    assert expected_result == torch_result

## Expected behavior

Floor division applied to torch.Tensor should behave the same

[2021-11-03 16:01] kurtamohler commented on #67386
Should we deprecate `use_deterministic_algorithms` as well?

[2021-11-03 16:02] eltonfernando commented on #33296
I met the same issue with torch==1.6.0+cu101 have u solved it?

[2021-11-03 16:13] ngimel commented on #67386
We could throw a warning if someone uses it, but I don't think we should remove it.

[2021-11-03 16:21] ejguan opened #67772 "Functions are rendered incorrectly"
## 📚 Documentation

Per title in
https://pytorch.org/tutorials/beginner/examples_autograd/polynomial_custom_function.html

[2021-11-03 16:32] b-koopman opened #67773 "Instability in `test_input_weight_equalization_activation_values` test for random test values."
## 🐛 Bug

Initialization of additional, unused, random tensors in global or local scope causes the `test_input_weight_equalization_activation_values` test in `test/quantization/fx/test_equalize_fx.py` to fail.

## To Reproduce

Steps to reproduce the behavior:

1. add initialization of random pytorch tensor in `test/quantization/fx/test_equalize_fx.py`
[code]
2. run `test_input_weight_equalization

[2021-11-03 16:39] casparvl commented on #67764
Two more tests that seem to show this behaviour are:
[code]
Although I didn't get these failures the first time I compiled PyTorch & ran the full test suite, so I'm not sure if there is any randomness to it. Now, when running these individual tests, it seems pretty consistent though. Differences are again small, (see Traceback)

<details>
<summary>Traceback</summary>
[code]
</details>

And the pro

[2021-11-03 16:49] #67239 closed

[2021-11-03 16:57] jjsjann123 commented on #67753
Ops with optional tensor that we currently interested in fuser are:
[code]

The list is longer if we look at all aten ops.

[2021-11-03 16:59] jamesr66a opened #67774 "[FX] wrap() statements for called functions not emitted in jupyter notebook environment"
[code]

For some reason, the `_symbolic_trace.wrap()` statement is not emitted in a notebook, causing retracing to fail in that environment in particular. We should figure out why this disparity exists and fix it

[2021-11-03 17:03] jamesr66a commented on #67774
If we add some introspection to the generated graph, we can see that the wrapped `Node` does not have the expected `is_wrapped` entry in the notebook:

Notebook
[code]

Python script:
[code]

[2021-11-03 17:12] jamesr66a commented on #67774
Actually, I think this is a FP due to me using 1.10 on the Python script and 1.9 on colab notebook. Closing; please reopen if this is still an issue with 1.10+ on both environments

[2021-11-03 17:12] #67774 closed

[2021-11-03 17:44] xuzhao9 commented on #66800
The fix PR has been merged. Closing this issue. Thanks @neerajprad for helping resolve this issue.

[2021-11-03 17:44] #66800 closed

[2021-11-03 17:57] jjsjann123 commented on #67753
No strong opinion, but leaning towards reuse `prim::profile`.

One thing I want to note is, if we go with option 1 to reuse `prim::profile` for optional tensors, wee need to refactor its implementation to properly profile `none`. If `seen_none` is set, we would want to explicitly list that. Right now `profiled_type` is initialized as `TensorType::get()` ( not sure if the other refactor work is goi

[2021-11-03 18:03] janeyx99 commented on #67646
Another example from 11/3: https://github.com/pytorch/pytorch/runs/4096152857?check_suite_focus=true

[2021-11-03 18:07] eellison commented on #54821
adding another use case:  de-duplicating the aliasing parser that exists in python

[2021-11-03 18:18] mrshenli commented on #66983
closed by #67638

[2021-11-03 18:18] #66983 closed

[2021-11-03 18:20] mrshenli commented on #67591
duplicated with #66207, closing

[2021-11-03 18:20] #67591 closed

[2021-11-03 18:21] carolineechen commented on #66892
@mruberry sorry for the delayed response -- the tests are still failing but we are not sure what the reason is and why it is only failing on that configuration, and not all failures are reproducible even through circleci ssh. The tests had begun failing after this commit https://github.com/pytorch/audio/commit/bf580c752754d4664376c31060bacc0edb230029, but the changes are unrelated to these operati

[2021-11-03 18:25] Krovatkin commented on #67646
I will try to get to it shortly. @eellison and I are already dealing with a few urgent autodiff bugs.

[2021-11-03 18:25] jjsjann123 commented on #67753
Another consideration of reusing `prim::profile`: If an operation's signature takes `Optional[Tensor]` as an argument, we can actually feed both `Tensor` and `Optional[Tensor]` to that op.

E.g. If we look at `linear(Tensor input, Tensor weight, Tensor? bias=None) -> Tensor`, the op takes both `Tensor` and `Optional[Tensor]` as its third argument.

[code]

So if we simply reuse `prim::profile`, in

[2021-11-03 18:26] seemethere commented on #66892
Is this necessarily an issue with `pytorch/pytorch`?

Should we transfer this issue to `pytorch/audio` instead?

[2021-11-03 18:32] mrshenli commented on #67600
closed by #67639

[2021-11-03 18:32] #67600 closed

[2021-11-03 18:40] OliverFM commented on #46480
Great -- will do. Since I am also not an optimisation expert, I will start with SGD. Then Adam. Is it important to add support for all?
I am guessing it's better to do this iteratively. What do you think?

[2021-11-03 18:56] jbschlosser commented on #7455
@QuanticDisaster Label smoothing is available for `nn.CrossEntropyLoss` in PyTorch 1.10 (see docs [here](https://pytorch.org/docs/stable/generated/torch.nn.CrossEntropyLoss.html)).

[2021-11-03 19:00] jbschlosser commented on #7455
Hey @seyeeet, great question - do you mind opening a separate issue for discussion to help us determine the popularity / impact of that request?

[2021-11-03 19:03] Lezcano commented on #67767
This test is indeed flaky. I saw the same problems in https://github.com/pytorch/pytorch/pull/64387

I discussed this issue with @nikitaved, who originally wrote the tests, and we resolved to deactivate them for now and review them later on after we have `linalg.lu_solve`, which is used in the backward.

[2021-11-03 19:15] mthrok commented on #66892
I believe this is an issue with PyTorch or some numerical library the PyTorch depends on.

The functions used in the failing tests are implemented with pure-Python and PyTorch, so we cannot make sense why it is failing only on the combination of Linux / Conda / Python3.9 / CPU. The same tests are passing on GPU-enabled nightly binaries.

I am try reverting the commit that started to experience the

[2021-11-03 19:34] vadimkantorov commented on #61582
Just stumbled on the case with torch.any - still hurts :)

[2021-11-03 19:41] vadimkantorov commented on #61582
@OliverFM A recent PR touching torch.all may help out: https://github.com/pytorch/pytorch/pull/64642/files

[2021-11-03 19:42] vadimkantorov commented on #61582
It also seems that underlying `allany_impl` may already support multidim, but maybe some bindings are missing ...

[2021-11-03 19:57] bdhirsh commented on #67740
Hmm I wasn't able to repro this on 1.10 or master. Can you repro it with a fresh install of pytorch? I ran the following:
[code]

[2021-11-03 20:14] Zumbalamambo commented on #17023
Hi.. I'm from the year 2021. I'm here to testify that the problem still persists. The download is still in the planet Earth.

[2021-11-03 20:33] albanD commented on #46480
Iteratively is definitely better. And that's ok to not have all of them yes.

[2021-11-03 20:43] vadimkantorov commented on #52279
One other non-trivial question is interaction of gradient accumulation and amp: are there anything to be handled at loss scaling? So that one loss scales of different (accumulated) backward passes are the same

[2021-11-03 20:50] mthrok commented on #66892
The PR with the revert exhibited the same issue.

https://app.circleci.com/pipelines/github/pytorch/audio/8220/workflows/6db0fa69-81b6-495e-8dd4-fd236dc12c86/jobs/419393

So this means even though https://github.com/pytorch/audio/commit/bf580c752754d4664376c31060bacc0edb230029 was the first commit to see the issue, but the commit itself was not causing it.

[2021-11-03 20:53] mthrok commented on #66892
One peculiar thing I realized now is that we are observing this issue on both main branch and the release branch.
So it is happening on both nightly build and PyTorch 1.10 RCs. And IIRC it was not happening when @malfet firstly performed branch cut on torchaudio 0.10 release.

@seemethere Were there any recent change that got cherry-picked to 1.10 RC ? If not, my next hypothesis is something about

[2021-11-03 21:30] rohan-varma commented on #67724
Thanks for the report! Agreed that we shouldn't be creating these extra CUDA contexts, although after the health check completes, we do clean up the communicators, so I'm not sure why the CUDA contexts stay around.

For unrelated reasons, we actually recently landed a PR https://github.com/pytorch/pytorch/pull/67668 to disable this check by default as we debug and improve the feature. If you patch

[2021-11-03 21:52] seemethere commented on #67713
We can probably just set a global `timeout-minutes` that's present for each step that's some sort of sane value like 4hr (250min)

This'd utilize [`defaults.run`](https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#defaultsrun) and then [`timeout-minutes`](https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#jobsjob_idtim

[2021-11-03 23:00] wayi1 opened #67797 "Conv2d kernel performance regression on CPU since PyTorch 1.8.1"
## 🐛 Bug

**100X** slowdown can be observed from `conv2d` kernel on CPU for some cases. This does not happen for most of times, but we do find some cases for inference on CPU and lead to a significant performance regression overall.

Particularly, in one of our CV model, 2 out of 21 convolution layers suffer from this performance regression.

Additionally, no performance regression is observed on

[2021-11-03 23:02] kshitizgupta21 commented on #62936
@agporto No unfortunately I have not come across a solution yet.

[2021-11-03 23:16] soulitzer opened #67800 "forward AD inplace over view silently copies in some cases"
[code]

Got:
[code]

Expected the tangent to also be doubled for the base.

This issue is that in the in-place over view case for forward AD, we only compare the layout of the new grad with the base. But in this case, due to the transpose, the layout of the base different from the view, so we end up creating a new copy later in _set_fw_grad.

This will no longer fail silently once I add the layout

[2021-11-03 23:47] Zac-HD commented on #25248
Good question!

The first thing I'd recommend is using the `@example()` decorator to feed in some hand-written (or randomly-generated-with-fixed-seed) normal-looking examples.  That's a quick and clean patch, and as a general rule there are very few bugs in the part of your input space which is 'looks normal' on all dimensions.

Unfortunately for this specific case, Hypothesis doesn't and basicall

[2021-11-04 00:18] ngimel commented on #67797
I cannot reproduce 100x slowdown, in my case random weight gives 7 ms, and weight from the .pt file takes 20 ms. In both those cases pytorch is calling into mkldnn_convolution, and mkldnn_convolution version changed between 1.8 and 1.10. cc @mingfeima, please route to appropriate mkldnn contact.
@wayi1 can you please verify that mkldnn is used in your environment with the following script:

[code]

[2021-11-04 01:09] zhaochentju commented on #55027
the same error "RuntimeError: CUDA error: device-side assert triggered" in the RTX3090 CUDA 11.1 + pytorch 1.8.1, is there any way to solve this problem? Thanks a lot!

[2021-11-04 03:44] wayi1 commented on #67797
@ngimel  Thanks for the quick response!

Yes, mlkdnn is used in our environment. Although I am not able to run your script due to the lack of ninja library installation, I am able to verify that the function [mlkdnn_convolution](https://github.com/pytorch/pytorch/blob/369e8bc4bc99f5438d7ca37b26a65dd45cf5bd17/aten/src/ATen/native/mkldnn/Conv.cpp#L86) is called.

On the other hand, I think my teamma

[2021-11-04 05:51] zhaojuanmao commented on #67764
@casparvl feel free to send out PR, the option 2 sounds reasonable, thanks for contributing!

[2021-11-04 06:14] troylhy1991 commented on #46586
HI, I have a dirty fix temporarily, you can try to replace torch.roll with similar roll function mentioned  [here](https://discuss.pytorch.org/t/implementation-of-function-like-numpy-roll/964/10), and swin-transformer could be exported to onnx successfully; however, it might not be very efficient. Other methods could be implementing custom_roll with cpp/cuda and register the op or just wait for on

[2021-11-04 06:31] jucic commented on #27212
thanks for your information, how long does it take? I need this feature badly

[2021-11-04 06:47] gaocegege commented on #67616
@aivanou Hi

Did you reproduce it successfully?

[2021-11-04 06:51] kiukchung commented on #67616
hey @gaocegege i was able to repro this, filed a bug report + have a fix PR (see the linked issue)  Was there another issue?

[2021-11-04 06:52] gaocegege commented on #67616
@kiukchung Hi I mean this issue.

[2021-11-04 06:53] gaocegege commented on #67616
repro process:

[2021-11-04 06:57] kiukchung commented on #67616
when you SIGKILL one of the agents, do you see the workers on the surviving agents get restarted?

[2021-11-04 06:58] gaocegege commented on #67616
No, it did not restart. I think it is why they kept two different versions.

[2021-11-04 06:58] yanghtr opened #67827 "Can't backward through torch.lobpcg when using "largest" kwarg"
## 🐛 Bug

## To Reproduce

With `torch.lobpcg`  in pytorch 1.9.1 .
[code]
It will cause an error:
[code]

It seems that I can not use `bool` for `largest`

## Environment
PyTorch version: 1.9.1
Is debug build: False
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.5 LTS (x86_64)
GCC version: (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
Clang version: Could not collect
CMak

[2021-11-04 06:59] jucic commented on #27212
+10086

[2021-11-04 07:01] kiukchung commented on #67616
ddp should’ve failed if the rank is not full (eg when you lose a worker or agent). So yes, this is actually a known problem where elastic currently relies on the property of ddp that when any worker fails, failure is induced in all workers.

[2021-11-04 07:05] OliverFM commented on #67696
Got a partial solution ready for review: #67756

[2021-11-04 07:06] gaocegege commented on #67616
I am not sure if I get it. It works well with c10d backend. When the agent and trainer failed, other agents catch the connection reset error in the trainer process and re-rdzv to setup a new worker group.

It does not work when I use etcd backend. Is it a bug in etcd backend or DDP?

[2021-11-04 07:09] kiukchung commented on #67616
I would first investigate why in a multi node scenario a worker failure in node A does not cause workers on node B to also crash (they should’ve) might be an issue with a setting to DDP (maybe the gloo/nccl timeout is set too long so you are restarting the agent before giving a chance for the workers to fail). Or a bug in the example.

[2021-11-04 07:12] gaocegege commented on #67616
Gotcha, thanks! I will try to figure it out too. It makes us hard to use ETCD.

[2021-11-04 07:19] kiukchung commented on #67616
so interestingly this should work if you set nnodes=2:2 and also if you set nnodes=2:3.

nnodes=1:2 is a really interesting edge case. Basically what is happening is that node A is killed, the workers on node B don’t crash (something to investigate) and when you restart nodeA, because min nodes is 1, node A will rendezvous successfully and go on to train with a single node.

Had nnodes=2:3 and you

[2021-11-04 07:28] kiukchung commented on #67616
so to make nnodes=1:2 work (even when the trainers don’t crash) you have to set the —rdzv_config last_call_timeout=60 (or at least 2x the monitor interval - which defaults to 30)

last_call_timeout is a config to control scaling thrashes and it forces nodeA to wait for at least 60seconds before considering the rendezvous version to be closed and going about it’s business. Since the monitor interva

[2021-11-04 07:34] gaocegege commented on #67616
Gotcha, thanks for your explanation.

[2021-11-04 07:38] kiukchung commented on #67616
oh ha what do you know. this issue is actually a TODO right here: https://github.com/pytorch/pytorch/blob/cd51d2a3ecc8ac579bee910f6bafe41a4c41ca80/torch/distributed/elastic/agent/server/api.py#L674

[2021-11-04 07:48] mingfeima commented on #67797
I tried on latest libtorch nightly build and i was not able to reproduce this issue.

On my CPU (Intel(R) Xeon(R) Gold 6248 CPU @ 2.50GHz), the code gave the following result:
[code]

@wayi1 may i know what is your CPU type? and your environment setting? single core or multi core, affinity setting? e.g. `OMP_NUM_THREADS` etc.

[2021-11-04 08:03] ahangchen commented on #35516
Any updates? I also encounter this problem, I can't use op10 to avoid it, because my model has other op that requires op11.

[2021-11-04 08:11] eladsegal opened #67831 "DataLoader w/ memory pinning doesn't allow returning custom dict objects from custom data collator"
## 🐛 Bug

When using a DataLoader with memory pinning and a custom collator, it is not possible to get back objects that are subclassing a dictionary (`dict`, `MutableMapping`).

## To Reproduce

Steps to reproduce the behavior:

[code]
The output is
[code]

## Expected behavior
The DataLoader should not cast down the custom dictionary object to just a dictionary.

When changing `pin_memory` to `F

[2021-11-04 08:17] wayi1 commented on #67797
32-core CPU

`/proc/cpuinfo`:

processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0x1
cpu MHz		: 2199.998
cache size	: 56320 KB
physical id	: 0
siblings	: 32
core id		: 0
cpu cores	: 16
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce c

[2021-11-04 08:20] wayi1 commented on #67797
Hi @mingfeima

I find that as long as I set `OMP_NUM_THREADS ` as 1, then the performance regression is resolved.

[2021-11-04 08:51] pinzhenx commented on #67797
@wayi1 , I guess mkldnn will not be called at all when you set `OMP_NUM_THREADS=1`, because [this patch](https://github.com/pytorch/pytorch/commit/b9e12a0e8290af1c05107cf7e9a6117355e5ac1a) (since pytorch 1.9) dispatches the 1x1 conv to mkldnn for multithreaded scenario.

Although I reproduced the performance difference between random weights and saved weights you provided, one weird thing observed

[2021-11-04 09:08] mingfeima commented on #67797
@pinzhenx , nice to see you again :) yes i think you are right, single thread won't go mkldnn.

@wayi1 I see, it's a avx2 machine.
now the `weight.pt` gave
[code]
while a random weight gave:
[code]

@jgong5 @vpirogov could you please comment on this thread?

[2021-11-04 09:11] wayi1 commented on #67797
@pinzhenx Thanks for the analysis!

I double checked that after setting `OMP_NUM_THREADS=1`, the function [mlkdnn_convolution](https://github.com/pytorch/pytorch/blob/369e8bc4bc99f5438d7ca37b26a65dd45cf5bd17/aten/src/ATen/native/mkldnn/Conv.cpp#L86
) is called, which means mkldnn code path is still in use.

[2021-11-04 09:26] jgong5 commented on #67797
Do I understand correctly that the performance looks good with random weights while poor with given weights? Is there any denormal value in the given weights?

[2021-11-04 09:29] casparvl commented on #67764
@zhaojuanmao it's already there actually :) https://github.com/pytorch/pytorch/pull/67765

[2021-11-04 09:31] wayi1 commented on #67797
Yes, the regression only occurs with the given weights. I printed out the weight tensor as below, and I didn't find any abnormal value. These values are just very small, but almost at the same scale.

[code]

[2021-11-04 09:35] knsong commented on #29282
@louyanyang Have you found the answer?

[2021-11-04 09:36] pinzhenx commented on #67797
@wayi1 well, they are all denormal values.
https://oneapi-src.github.io/oneDNN/dev_guide_data_types.html#floating-point-environment

[2021-11-04 09:49] wayi1 commented on #67797
Thanks for the suggestion! Verified that this can work! According to this [PyTorch page](https://pytorch.org/docs/stable/generated/torch.set_flush_denormal.html), I think then the weight tensor will be treated as all zeros.

[2021-11-04 09:56] Mazorati opened #67834 "Model tracing not working"
## 🐛 Bug

I am trying to trace [SAMPNet](https://github.com/bcmi/Image-Composition-Assessment-Dataset-CADB) and get following error:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Clone SAMPNet
2. Run code sample listed below
3. Fix first error _TypeError: adaptive_max_pool1d(): argument 'output_size' (position 2) must be tuple of ints, not Tensor_ by providing output_size directly

[2021-11-04 10:00] pinzhenx commented on #67797
I would think the default behavior of this flag has never changed.

Could you please check if mkldnn is used in torch 1.8.1? As I pointed out, 1x1 mkldnn conv is disabled in 1.8.x and re-enabled for multitheaded cases since 1.9

[2021-11-04 10:12] wayi1 commented on #67797
I checked that the function `mlkdnn_convolution` was still called in 1.8.1.

[2021-11-04 10:25] pinzhenx commented on #67797
That's strange. Could you provide the log output of your torch 1.8.1, with `print(torch.__version__)` added to the script and setting env var `export DNNL_VERBOSE=1`

[2021-11-04 10:36] shilida opened #67835 "It seems to be a bug！！！"
code1:
`            for step, (arg, cxt) in enumerate(tqdm_obj):
                batch = [tuple(t.to(self.device) for t in arg), tuple(t.to(self.device) for t in cxt)]
                output = []
                hidden_list = []
                for i in range(2):
                    if i == 0:
                        logits_0,hidden_0 = self.model[0](*batch[0][:-1])
                        output.

[2021-11-04 10:36] wayi1 commented on #67797
@pinzhenx

Sorry I need to take my previous comment back. Once I delete all the other code and only leave my script, I realize that 1.8.1 does not invoke mlkdnn, and 1.9 invokes mlkdnn.

[2021-11-04 10:40] pinzhenx commented on #67797
Now it makes sense. :)

[2021-11-04 10:45] casparvl commented on #67767
Thanks for for commenting!

Do I understand correctly that it's this part in your PR (in `torch/testing/_internal/common_methods_invocations.py`)

[code]

that makes sure the `test_fn_grad_linalg_det_singular_cpu_complex128` test is skipped?

[2021-11-04 10:45] wayi1 commented on #67797
@pinzhenx Do you think there will be a patch to avoid invoking mlkdnn for this case? Currently I think enabling `setFlushDenormal` can be a good temporary solution.

[2021-11-04 11:11] Lezcano commented on #67767
Yes, we'll deactivate this test for now.

The deeper root of this problem is how tricky it's to compute the derivative of a product efficiently in the presence of close-to-zero elements (note that `det` is this but more annoying, as it's the product of the eigenvalues of the matrix).

At the moment, what we do to compute the gradient of det is to do the LU and compute the product of the diagonal e

[2021-11-04 11:14] casparvl opened #67838 "`test_variant_consistency_jit_contiguous_cpu_float32` from `test_ops` fails"
## 🐛 Bug

When running the full PyTorch test suite, this tests fails

======================================================================
FAIL: test_variant_consistency_jit_contiguous_cpu_float32 (__main__.TestJitCPU)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/tmp/casparl/eb_tmp/eb-zicdqucj/tmp5xk49djn/lib/python3.9/site-pa

[2021-11-04 11:14] vadimkantorov opened #67839 "nn.Linear / F.linear doesn't check for input shapes and instead throws CUDA OOM"
The shapes are clearly incompatible, but instead of shape error it tries to allocate something big (torch 1.9.1)

[code]

[2021-11-04 11:24] casparvl commented on #67767
Ok, that's clear. I'll disable the test for now as well on our end, and keep an eye on that PR. Thanks again! :)

[2021-11-04 12:21] dominikandreas commented on #10996
I observed this bug with pytorch 1.7.0. Simply fixed it by using numpy to stack and then making this a torch tensor

[2021-11-04 12:35] cronoikt2k opened #67842 "Pytorch 1.10.0 missing fft support on android? RuntimeError: fft: ATen not compiled with FFT support"
## 🐛 Bug
Hi everyone,

I am currently trying to port [silero-vad](https://github.com/snakers4/silero-vad) to android (mentioning @snakers4 FYI). The app is still in an early stage and I have zero experience with android. It is highly likely that it isn't a bug and I am just doing something wrong, but it looks like the android PyTorch builds do not have fft support.

According to the [release notes

[2021-11-04 13:13] snakers4 commented on #67842
As for [silero-vad](https://github.com/snakers4/silero-vad) there is a mobile friendly model, that does not use a built-in FFT, but a manual layer, so you can use that one.

https://github.com/snakers4/silero-vad/blob/master/files/model_micro_mobile.jit

As for the future, all of our models will use a manual module instead of build-in FFT for this particular reason.

[2021-11-04 13:34] Jdogzz opened #67844 "INTERNAL ASSERT FAILED at "..\\aten\\src\\ATen\\MapAllocator.cpp":135"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Here's a simple script I just wrote naively mirroring what I would do with a standard multiprocessing queue:
[code]
Running this results in this error message:
[code]

## Expected behavior

Ideally this would run to completion without throwing any errors (in my trials it crashes ~20 frames before the end of the program). If I understa

[2021-11-04 13:39] cronoikt2k commented on #67842
@snakers4 That's great news. Thank you for the quick response. How is the performance of this new architecture compared to the build-in fft?

[2021-11-04 13:41] snakers4 commented on #67842
This particular layer should be more or less equivalent

[2021-11-04 13:43] bdhirsh commented on #67757
Hi, We use github issues only for bug reports or feature requests. Please use the forum to ask questions: https://discuss.pytorch.org/.

I'm not sure about the `build_libtorch.py` script, but you should also be able to build libtorch through `python setup.py develop`.

[2021-11-04 13:43] #67757 closed

[2021-11-04 14:10] #57459 closed

[2021-11-04 14:58] ejguan opened #67848 "`Generator` needs to be removed after iteration ends for `Demux` and `Forker`"
## 🐛 Bug

The `generator` attached to `Demux` or `Forker` is never cleaned up.
https://github.com/pytorch/pytorch/blob/8e1ead8e4df3fa8acddd13c8b68d5c26690a9ec1/torch/utils/data/datapipes/iter/combining.py#L108-L110
https://github.com/pytorch/pytorch/blob/8e1ead8e4df3fa8acddd13c8b68d5c26690a9ec1/torch/utils/data/datapipes/iter/combining.py#L256-L258

The generator object is attached to `DataPipe` i

[2021-11-04 15:03] ejguan commented on #67848
As a work around, this PR https://github.com/pytorch/pytorch/pull/67783 adds an option to skip pickling `generator` objects. It doesn't solve the actual issue.

[2021-11-04 15:15] vadimkantorov commented on #10253
At least load_inline now appears in docs

[2021-11-04 15:15] jcwchen opened #67849 "[ONNX] Broken url for ONNX Runtime custom ops"
## 📚 Documentation

The previous link for [ONNX Runtime custom ops](https://github.com/microsoft/onnxruntime/blob/master/docs/AddingCustomOp.md) from this [section](https://pytorch.org/docs/stable/onnx.html#custom-operators) is broken. IIUC, this should be the updated link:
https://onnxruntime.ai/docs/reference/operators/add-custom-op.html.

cc @brianjo @mruberry

[2021-11-04 15:27] #67568 closed

[2021-11-04 15:36] secondspass commented on #47953
Out of curiosity, is the goal to remove the MAGMA dependency entirely? Right now magma needs to be built for a pytorch source build so in the future we won't have to do that?

[2021-11-04 15:54] kurtamohler opened #67852 "Remove THStorage and THCStorage"
Removing TH/THCStorage is one of the last things to be done before we can remove TH/THC fully.

This can probably be accomplished like so:

1. Port TH/THCStorage functions into `at::Storage` (or `at::StorageImpl`, whichever makes more sense)
2. Change call sites to use the `at::Storage` functions and remove the TH/THCStorage functions
3. Remove the Storage related files in TH/THC

cc @ezyang @bhos

[2021-11-04 16:37] IvanYashchuk commented on #47953
There are (batched) functions where MAGMA is faster than cuSOLVER and there are also functions that are available in MAGMA and not in cuSOLVER (for example `torch.linalg.eig`).
Right now it's possible to build PyTorch without MAGMA (`USE_MAGMA=0`) and still get the majority of functions from `torch.linalg` working. So there are currently no plans on removing the MAGMA dependency from official buil

[2021-11-04 17:10] avostryakov commented on #27212
I know that in onnx it will be added in November 2021. I don't know when it can be added in pytorch if any

[2021-11-04 17:35] pritamdamania87 commented on #67653
Could you clarify why this is expected behavior? It seems really fragile that using a Tensor with `requires_grad=True` from multiple threads can cause inconsistencies in the autograd graph even if the user is only reading from the Tensor.

[2021-11-04 18:00] soulitzer commented on #67653
There are two potential races related to topological_nr that I think TSAN could be complaining about, but both should be non-issues:
1. There is a potential write-write race where two nodes A, B in two threads try to set their next edge to the same node C. This leads to both threads trying to write the `_has_parent` field of C at the same time. There is no correctness issues here though because th

[2021-11-04 18:16] kiukchung commented on #67616
Just to close on this loop so this works (notice the `last_call_timeout=10` and `--monitor_interval 5`):

[code]

[2021-11-04 18:50] seyeeet opened #67863 "Feature Request: label smoothing CE loss for semantic segmentation"
## 🚀 Feature
Recently pytorch 1.10 added label smoothing for CE (Thanks!). It would be great if we can also have label smoothing for CE for semantic segmentation. Also considering the fact that Segmentation is very similar to classification, it should be very straight forward.

cc @albanD @mruberry @jbschlosser @walterddr

[2021-11-04 18:58] jbschlosser commented on #25497
Closed as addressed in master docs.

[2021-11-04 18:58] #25497 closed

[2021-11-04 19:18] #62137 closed

[2021-11-04 19:19] rohan-varma commented on #62137
done by #62774

[2021-11-04 19:20] rohan-varma commented on #62176
A fix for this was landed, unfortunately never closed this issue though, closing now to run the tests and see if there are still issues.

[2021-11-04 19:20] #62176 closed

[2021-11-04 19:28] LucaBonfiglioli opened #67864 "INTERNAL ASSERT FAILED at "../aten/src/ATen/MapAllocator.cpp":263"
## 🐛 Bug

Sometimes - seems completely random to me - I get this `RuntimeError` when training any pytorch model.

## To Reproduce

Steps to reproduce the behavior:

Training any pytorch model with pytorch 1.10 (even a simple MLP on a toy classification task) sometimes results on this error. What's most strange is that the training works just fine, the model learns, the performance and the GPU memo

[2021-11-04 19:35] gchanan commented on #67839
I believe this was fixed on 1.10 -- do you mind checking?

[2021-11-04 19:37] vadimkantorov commented on #67839
Can't check right now :( working towards CVPR, not the time to change versions :(

[2021-11-04 19:41] LucaBonfiglioli commented on #67844
A similar error is bugging me too, same file but line 263 instead of 135.

[2021-11-04 19:47] vpirogov commented on #67797
@pinzhenx,

Looks like the root cause of the regression is difference in behavior between Pytorch default path and oneDNN with respect to denormals. Shouldn't we enable flush to zero by default in Pytorch when oneDNN is used instead of asking users to modify their code?

[2021-11-04 19:54] gauenk opened #67866 "[Cuda Stream/Event] Python API acces to cudaStreamWaitEvent"
## 🚀 Feature

I would like access to the "cudaStreamWaitEvent" through the Python API, maybe specifically through the Stream or Event API.

## Motivation

I would like to synchronize between CUDA streams.

## Pitch

Synchronizing between streams is a common access pattern. Say we want to assign a different stream to different sections of an image, and we do this repeatedly.

## Alternatives

There

[2021-11-04 19:55] wayi1 commented on #67797
I am not familiar how to handle denormal values. However, one of my concerns is that, sometimes all the values in the same tensor underflow the float range, but these values can be still at the same scale. The relative values are still quite useful, and flushing to zeros can cause quite some information loss. For example, a better but ad-hoc fix in the application code could be applying a scaling

[2021-11-04 20:06] xuzhao9 commented on #66800
The fix has been confirmed in TorchBench V1 nightly CI: https://github.com/pytorch/benchmark/issues/545

[2021-11-04 20:11] vpirogov commented on #67797
@wayi1, on Intel64/AMD64 architecture hardware behavior with respect to denormals is controlled by MXCSR register. There are two options:
* Use specialized implementation or microcode to execute instructions on denormals. This is slow, so you'll see worse performance than with "normal" floating point values.
* Treat these as zeroes.
Considering that Pytorch default codepath dispatched in 1.8.1 is

[2021-11-04 20:32] jiafatom commented on #67337
@ihowell Could you please share a small repro for debug? Thanks.

[2021-11-04 20:54] pritamdamania87 commented on #67653
@soulitzer I see, so can we probably make `_has_parent` atomic with memory_order_relaxed so that TSAN doesn't complain about this?

[2021-11-04 21:01] albanD commented on #67653
What would be the perf implication of this change?

[2021-11-04 21:38] stalek71 commented on #35633
Hello @mtbrandy,
I was trying to integrate the changes from your patch (applied on pyTorch v1.5) with pyTorch 1.10, but I was not able to complete it.

For instance c10/cuda/CUDACachingAllocator.h file in v.1.10 has its own definition of [init() function](https://github.com/stalek71/pytorch/blob/af1bd88fc488c09f7fc1ad04f609431c31e448c2/c10/cuda/CUDACachingAllocator.h#L125), while your patch introd

[2021-11-04 21:50] spyderCat commented on #14468
torch 0.4.0 only had versions for macos and linux, there was never a windows compatible version.

[2021-11-04 22:09] spyderCat commented on #14468
Try:
pip install pytorch=0.4.0 -c pytorch

[2021-11-04 22:15] samuelstevens opened #67879 "AMP does not improve performance"
## 🐛 Bug

Using `torch.autocast` does not improve my performance.

## To Reproduce

My model is a GPT2 transformer from Huggingface's `transformers`.

[code]
Regardless of the value of `USE_AMP`, I get about 1.1it/s.

## Expected behavior

I would expect some meaningful speed up (10-20%).

## Environment

[code]

The Tesla V100 supports fp16 but is not Ampere, so I don't think I'm using `tf32` by

[2021-11-04 22:19] #67764 closed

[2021-11-04 22:40] janeyx99 opened #67881 "DISABLED test_nested (__main__.ForkTest)"
This is action following https://github.com/pytorch/pytorch/issues/67448--let's disable the test that seemed to have deadlocked. Using the discover tests feature and matching it up against the logs, it ends up being test_nested.

[code]

cc @VitalyFedyunin

[2021-11-04 22:47] ngimel commented on #67839
Closing as it's fixed in 1.10 and on master, nothing actionable for us to do.

[2021-11-04 22:47] #67839 closed

[2021-11-04 23:52] ifsheldon opened #67887 "Add more explanation on multithreaded graph building of Autograd"
## 📚 Documentation

In the [Autograd Mechanics - multithreaded-autograd](https://pytorch.org/docs/stable/notes/autograd.html#multithreaded-autograd), the doc mentions that there're risks to run backward() or grad() in multiple threads. However, it does not mention how Autograd will work in some simpler cases. For example, a mapping function like:
[code]
Will this always work? I think as long as th

[2021-11-05 01:43] gaocegege commented on #67616
Thanks!

Is there a PR to fix the problem, or should the users configure the arguments manually?

[2021-11-05 01:53] kiukchung commented on #67616
For now manually.

[2021-11-05 02:07] gaocegege commented on #67616
SGTM. Thanks for your reply.

[2021-11-05 02:07] gaocegege commented on #67616
Please let me know (at me @gaocegege ) if there is a PR about it, thanks!

[2021-11-05 02:18] KinglittleQ commented on #57031
@ejguan Could I implement BatchMapDataPipe for you?

[2021-11-05 02:30] firewormovo opened #67889 "[libtorch][torch.jit.script]Error in loading “. Pt” file on C + +: index out of range"
Because it is the company's internal code, I can't disclose it.I can only briefly describe the phenomenon:

I’m trying to deploy a model, but its input contains dynamic dimensions: it works normally when you use the python model script to perform information on the data; After I serialize the model torch.jit.script(), it will report an abnormal error, such as index out of range.

In Python mode (p

[2021-11-05 02:41] mszhanyi commented on #67527
I tried that Pytorch could be built with Python 3.10.
did you run `'git submodule sync' `and `'git submodule update'` ?
what's your VS 2019 version?
The latest version might have some issues.
16.8.6 is used in PyTorch CI. My local is 16.9.12.
https://docs.microsoft.com/en-us/visualstudio/releases/2019/history

[2021-11-05 02:45] hclearner commented on #67338
Sorry for my late reply, I use broadcast in this fashion because i create different comm for different broadcast. `_rank_not_in_group` api meets my requirement. Thanks :)

[2021-11-05 02:45] #67338 closed

[2021-11-05 03:29] xmlyqing00 commented on #25481
Thanks for providing such a function to do the square root. When I checked some math books, I found that a symmetric matrix isn't equivalent to a semi-definite matrix. So, this function only works well when the matrix is semi-definite. If not, the eigen values of the matrix could be negative.

[2021-11-05 03:55] krshrimali opened #67892 "[Docs] `torch.nn.Dropout2d` accepts 2D inputs, but it's not listed"
## 📚 Documentation

[`torch.nn.Dropout2d`](https://pytorch.org/docs/master/generated/torch.nn.Dropout2d.html?highlight=dropout2d#torch.nn.Dropout2d) documentation mentions supported shapes are `(N, C, H, W) or (C, H, W)` for inputs, but input shape of `(H, W)` is also supported.

IMO, the documentation should be revised to mention the input and output shapes for `(H, W)`.

[code]

Note: If we deci

[2021-11-05 03:55] pinzhenx commented on #67797
@vpirogov @wayi1 @jgong5

Here's a simple experiment.
https://gist.github.com/pinzhenx/590495038d2d7fe1f95fe1d6f5f53cae

Conclusion:
1. default behaviors are the same. both thnn (which calls mkl under the hood) and mkldnn do not flush to zero by default
2. thnn is much faster than mkldnn for denormals in my dcase (79ms vs 12ms)

[2021-11-05 04:00] huangjin520 commented on #67680
Hi, I encounter the same error with you. After ten minutes, I run the code without change again, But it runs normally.  So confused.

[2021-11-05 04:21] fengkaige opened #67893 "AdaptiveMaxPool2d bug"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2021-11-05 06:57] zhurui1995 opened #67896 "a syntax error in pytorch/torch/cuda/__init__.py"
## 🐛 Bug

In line 121, warnings.warn(old_gpu_warn.format(d, name, major, minor, min_arch // 10, min_arch % 10))

however, in line 105-109,
old_gpu_warn = """
    Found GPU%d %s which is of cuda capability %d.%d.
    PyTorch no longer supports this GPU because it is too old.
    The minimum cuda capability supported by this library is %d.%d.
    """

so, the right syntax in line 121 should be :
war

[2021-11-05 07:02] pjw1 opened #67897 "Compile from source -> libublas.so undefined reference error"
## 🐛 Bug

Actually, I'm not sure it is a bug.
I tried to compile Pytorch from source to use newly released CuDNN for fast 3D Convolution.
I installed CUDA and CuDNN, but when I compiling Pytorch from source, the error below occurs.

Thank you for your help!

## To Reproduce

Steps to reproduce the behavior:

0. Ubuntu 18.04.6 LTS, gcc 8.4.0,
1. Install CUDA 11.2, CuDNN 8.2.0.53
2. Follow instructi

[2021-11-05 08:34] singhketan commented on #47702
Please consider sharing an update this week @soumith.

[2021-11-05 08:40] ahangchen commented on #29282
@knsong @louyanyang
Onnx opset 11 split pad op from all operators with pad. If you don't need pad actually,  you can set count_include_pad=False to avoid this pad layer:
`x = F.avg_pool2d(input, (2, 2), stride=(2, 2), count_include_pad=False)`

[2021-11-05 08:42] csukuangfj opened #67902 "torch::jit::pickle_load is unable to read some files saved by torch.save"
## 🐛 Bug

I have two files `data1.pt` and `data2.pt`, generated by the following code
[code]

The following C++ code is used to read the above two files:
[code]

The above C++ code works fine to read `data2.pt`. Its output is
[code]

But it crashes while reading `data1.pt`, see the log below
[code]

## To Reproduce

Steps to reproduce the behavior:

1. Use the above Python snippet to generate `dat

[2021-11-05 09:06] pjw1 commented on #67897
Solved.
The error was due to multiple magmacuda packages.
I deleted redundant magmacuda and then it works!

[2021-11-05 09:06] #67897 closed

[2021-11-05 09:51] WYL-Projects opened #67903 "The ONNX model is incomplete"
My model about lane dectection is made up of Backbone, Neck and Head. When I convert the Pytorch model to the ONNX model, only the Backbone is completely converted to the ONNX type, and neither the Neck  nor the Head is converted.

Does anyone know the above problem？

[2021-11-05 09:56] lucgiffon commented on #67771
Oh yes, you are totally correct.

So that's it. Nothing to add.

[2021-11-05 10:05] vycezhong commented on #65992
We have found a workaround.

https://github.com/horovod/horovod/issues/3118#issuecomment-961765762

[2021-11-05 10:32] favrei commented on #67842
+1
having the identical issue.

getting `fft: ATen not compiled with FFT support` for both
`org.pytorch:pytorch_android_lite:1.10.0`
and
`org.pytorch:pytorch_android:1.10.0`

Is the torch.fft supported at this version? I am testing with a Pixel 5 running Android 12.

[2021-11-05 10:43] ifsheldon opened #67904 "Feature Request: zeros_like() from a dense tensor to a sparse tensor"
## 🚀 Feature

Enable constructing a sparse zero tensor from a dense tensor using zeros_like()

## Motivation

When do simulations, sometimes the shape of tensors has geometric meaning in addition to its values, so sometimes I'd like to initialize a zero tensor with all attributes of a dense tensor and replace it with a dense tensor when values are need, kind of like lazy initialization.
When I do

[2021-11-05 10:47] wangkgege commented on #67893
AdaptiveAvgPool2d has a bug too. Feed same data to AdaptiveAvgPool2d, but got different results on raspberry pi and my laptop.

###To  Reproduce

got result on raspberry pi 4b:

tensor([[[[0.7600]],

         [[0.7600]],

         [[0.7600]]]])

got result on my laptop:

tensor([[[[1.]],

         [[1.]],

         [[1.]]]])

### Expected behavior
Get same result.

### Environment
**Raspberry PI 4

[2021-11-05 10:56] xsacha opened #67905 "CUDNN 8.3.0 static library names have changed"
## 🐛 Bug

In CUDNN 8.3.0, the static library has been split up in to multiple paths.

See: https://docs.nvidia.com/deeplearning/cudnn/release-notes/rel_8.html#rel-830

This needs to be changed to add all the static files if the version is >= 8.3.0.

It's possibly a bit more complicated in that *_v8.a would only be included if the V8 API is used.

cc @malfet @seemethere @csarofeen @ptrblck @xwang23

[2021-11-05 11:06] xsacha commented on #67879
Are you saying your batch size is 1? Pretty sure you need multiple of 4 at least.
I get about 2x speed up here on most models (for training).

[2021-11-05 11:14] VanChilly commented on #24904
This solution works on my problem

[2021-11-05 11:19] liuicheng123 opened #67906 "Dataloader----Why When multiple threads read data, only one thread is activated?"
## ❓ Main Questions
  Dataloader----When multiple threads read data, only one thread is activated. if i set num_worker=8, only one thread is highly activated, but others seem not to work. so the process of dataloader becomes very slow.

![image](https://user-images.githubusercontent.com/36021763/140502551-896b7265-ee98-4583-acc9-249d8ff9454f.png)
how can i copy with it ?
thanks!
(torch 1.9.0)

##

[2021-11-05 11:37] anton-l opened #67907 "Backwards-incompatible nn.GroupNorm in torch 1.10"
## 🐛 Bug

When comparing the outputs of `nn.GroupNorm()` when used with a uniform (i.e. `std = 0`) input, the outputs differ between `torch==1.9` and `torch==1.10`, and that difference is amplified by the downstream network layers, breaking reproducibility.

This probably happens due to recent changes to the normalization algorithm: https://github.com/pytorch/pytorch/issues/40302 & https://github.

[2021-11-05 12:27] crcrpar opened #67910 "`test_softmax_64bit_indexing` requires >20GB CPU memory"
The test https://github.com/pytorch/pytorch/blob/2f68878a055d7f1064dded1afac05bb2cb11548f/test/test_nn.py#L15186-L15203 fails as follows unless CPU memory is sufficiently.

[code]

# Environment

- PyTorch version: https://github.com/pytorch/pytorch/commit/04fe438
- GPU: RTX 3090
- CPU memory:
[code]

# Expected behavior
Either of following is fine to me.

- Skip the test if CPU memory isn't enoug

[2021-11-05 12:56] Achuttarsing commented on #31994
I have the same problem..

[2021-11-05 13:40] ejguan commented on #57031
@KinglittleQ Thank you for taking interest. Please feel free to open PR and request review.

[2021-11-05 13:56] v0dro commented on #67513
I can take this up next.

[2021-11-05 14:06] KeshavML commented on #67684
I just got the same error, but I have no clue as to what it means. Please guide me to some resources for this.

`Traceback (most recent call last):
  File "Train.py", line 111, in <module>
    main()
  File "Train.py", line 107, in main
    folder="saved_images/", device=DEVICE)
  File "/home/keshav/Desktop/project notes/Code/Bone_Suppression/utils.py", line 101, in save_predictions_as_imgs
    to

[2021-11-05 14:08] vadimkantorov commented on #67684
You seem to be that you're using float16/half on CPU which does not support many of the operators. If you need float16 tensors to support clamp on CPU, please open a separate issue.

[2021-11-05 14:23] jbschlosser commented on #53451
Note that saving / loading fulls models is not the recommended method of serialization - as demonstrated [here](https://pytorch.org/docs/stable/notes/modules.html#module-state), module `state_dict`s should be saved instead. In general, we don't disallow saving / loading entire models - it's nice when it works but we don't provide guarantees that it will. We'd accept a PR fixing this specific insta

[2021-11-05 14:32] gchanan commented on #67907
The reproducibility documentation says PyTorch don't support numerical reproducibility in this case (https://pytorch.org/docs/stable/notes/randomness.html):

[2021-11-05 14:49] jbschlosser opened #67913 "Rollup: ModuleInfo-based testing"
This issue tracks the progress of updating module testing from the old `ModuleTest` / `NewModuleTest` / `CriterionTest` structure to a more understandable `ModuleInfo` based framework modeled after `OpInfo`.

- [X] Design `ModuleInfo` structure
- [ ] Port module test coverage to use `ModuleInfo`
  - [ ] Test module forward with inputs compared to reference functions
  - [ ] Test module backward pa

[2021-11-05 14:50] jbschlosser commented on #59566
Update: I created a [dev wiki page](https://github.com/pytorch/pytorch/wiki/torch.nn-Module-Documentation-Style-Guide) with an opinionated style guide for torch.nn module docs.

TODO: Insert itemized list of modules that need to be updated according to the guide

[2021-11-05 14:51] mruberry commented on #67513
There is a small chance this is actually an artifact of the test, but I think I ruled that out.

[2021-11-05 14:59] mruberry commented on #67771
Yep, sorry you're hitting this known bug but there is a workaround (as the warning message suggests) and (as the warning also states) we will change the behavior of floor divide to actually be floor division in the future. These changes just take time because some users may be relying on the truncation division behavior.

[2021-11-05 14:59] #67771 closed

[2021-11-05 15:08] mruberry commented on #59566
We can add seealso sections from the nn.functional that point to the module and from the module that point to the nn.functional. It may be interesting elaborate even further about their relationship.

Currently the docs for many nn.functionals just point to the docs for the module, but it'd be nice to see each have its own documentation, too.

[2021-11-05 15:40] jbschlosser commented on #67565
Here's another functioning workaround that allows the `functional.py` and module forms to be updated in the same PR as the op:

[code]

[2021-11-05 16:11] ejguan commented on #67906
Hi,
We use github issues only for bugs or feature requests.
Please use the forum to ask questions:  https://discuss.pytorch.org/

Please also look at the doc before ask questions. `num_workers` refers to number of processes in DataLoader. `set_num_threads` refers to the threads used by pytorch ops.

[2021-11-05 16:11] #67906 closed

[2021-11-05 16:50] albanD commented on #67887
I am not sure follow you problem:
- Both multiprocessing pool will fail if they try to use multiple processes (in your example able you compare a thread pool with a process pool no?)
- The threading will always work.

[2021-11-05 17:13] jcolen opened #67919 "`torch.gradient` ignores dim argument when checking edge_order"
## 🐛 Bug

#58165 made changes to `torch.gradient` including a size check related to the edge_order. The new size check ignores the dim argument and checks the size of the tensor along all dimensions, rather than just the ones being used for the computation. This throws an error when taking gradients of small batches along non-batch dimensions.

## To Reproduce

Steps to reproduce the behavior:

[2021-11-05 17:27] #67800 closed

[2021-11-05 17:28] albanD commented on #67549
Actionable to raise a nice error for non-Tensor objects.

[2021-11-05 17:29] jbschlosser commented on #67551
Great - thanks for the additional info on your use case! Sounds like it's important that we provide an option for TF-exact same padding.

FYI I'm going to close this issue to consolidate discussion on the original issue #3867.

[2021-11-05 17:29] #67551 closed

[2021-11-05 17:31] #67007 closed

[2021-11-05 17:34] #59338 closed

[2021-11-05 17:43] rohan-varma commented on #36360
This was done as part of a bootcamp task a while ago.

[2021-11-05 17:43] #36360 closed

[2021-11-05 18:02] #66232 closed

[2021-11-05 18:22] mruberry commented on #67919
Thank you for reporting this issue, @jcolen!

[2021-11-05 18:26] #67393 closed

[2021-11-05 18:49] NivekT commented on #67681
Seems like this issue is resolved, so I will close this.

@TotalVariation let us know if there is any further issue or suggestion for changes.

[2021-11-05 18:49] #67681 closed

[2021-11-05 18:52] #55301 closed

[2021-11-05 18:58] ptrblck commented on #67905
Thanks for creating the issue!

@malfet for the binary builds, we should either repackage these libs or as @xsacha suggested link them separately.

Assuming you are referring to the v8 frontend API, then that should not be the case, as cuDNN8 is still used through the legacy v7 API.

[2021-11-05 18:59] oguiza opened #67923 "Unexpected lack of error when using nn.Linear and cuda"
## 🐛 Bug

When using cuda, I can use a linear layer regardless the input tensor size. The same operation causes the expected issue when using cpu.

## To Reproduce
I'm using Pytorch 1.9.0+cu111 in Colab.
I've created a super simple (gist)[https://colab.research.google.com/gist/oguiza/d7e17d7c157f7a87f689303eb0c7acde/scratchpad.ipynb]

Steps to reproduce the behavior:

[code]
causes an expected err

[2021-11-05 19:05] husthyc commented on #62872
Hey @zou3519 @lamhoangtung, the reason you saw this is because your model is quantized which Metal doesn't support at the moment. https://github.com/pytorch/pytorch/blob/f6a4c80a5acf7454e90814449c4d6f4b73f7fad9/aten/src/ATen/native/metal/MetalAten.mm#L82-L84 is the lines that got hit. cc @xta0

[2021-11-05 19:06] #62872 closed

[2021-11-05 19:11] janeyx99 commented on #67061
Would the --subprocess flag help in common_utils.py?

[2021-11-05 19:15] #60492 closed

[2021-11-05 19:15] ejguan commented on #67831
Thanks for letting us know. We need to do the same thing to `Mapping` and `Sequence` as the `tuple` subclasses in `pin_memory`
https://github.com/pytorch/pytorch/blob/f6a4c80a5acf7454e90814449c4d6f4b73f7fad9/torch/utils/data/_utils/pin_memory.py#L53-L58

[2021-11-05 19:18] soulitzer commented on #67923
I should have been fixed on 1.10, so I will close for now. See #67839.

[2021-11-05 19:18] #67923 closed

[2021-11-05 19:20] #67742 closed

[2021-11-05 19:28] KrakenLeaf commented on #5565
Hello. Following the discussion above, I wanted to ask whether it is possible to add additional interpolation kernels to grid_sample?
I mostly refer to truncated cosine / truncated sinc interpolation kernels or cubic interpolation for 5D data.
The reason is image blur after interpolation (5D with trilinear) - I'm working on medical images (i.e. MR), and the resulting resampled image has some blur,

[2021-11-05 19:32] soulitzer commented on #67827
We should just save directly on `ctx` instead of using `ctx.save_for_backward`

[2021-11-05 19:51] #67713 closed

[2021-11-05 19:59] #67907 closed

[2021-11-05 20:12] husthyc commented on #66993
Hey @darkThanBlack @bailaohe , the cause is release build uses "-O" as the Swift Compiler Optimization Level but debug build uses "-Onone". The workaround is switch it to "-Onone" which is as shown below. Looking into the root cause.
![image](https://user-images.githubusercontent.com/6876992/140572699-94c3faaf-2b26-4051-8868-317772183400.png)
cc @xta0

[2021-11-05 20:14] samuelstevens commented on #67879
Yeah but I can't really double my batch size because I only have a single example that I'm using during training. I guess I could use 4 copies of the example and set to a batch size of 4, then (maybe?) use 1/4 the learning rate. Not sure if I will see a speed up since I'm 4x'ing my work as well.

[2021-11-05 20:16] soulitzer commented on #67835
Hey thanks for the report. It's hard to say what is wrong from the information here. There could be shared state between your models, or there might be some source of randomness you aren't controlling for.

You can also try reproducing the issue again on a later version of PyTorch like 1.10.

[2021-11-05 20:21] soulitzer commented on #67849
Thanks for the report! We would accept a PR to fix this.

[2021-11-05 20:27] ngimel commented on #67866
This functionality is available through cuda.Event.wait https://pytorch.org/docs/stable/generated/torch.cuda.Event.html?highlight=cuda%20event#torch.cuda.Event which calls event.block underneath.

[2021-11-05 20:33] mruberry commented on #67081
cc @emcastillo @rgommers

[2021-11-05 20:35] mruberry commented on #67081
So I think DLPack doesn't support boolean tensors and the workaround for this is to first convert a tensor to int8 before exporting it. @Barclayll would that work for you?

If I'm correct, the alternative would be that PyTorch does this bool -> int8 conversion for the caller, but that may hide this unexpected behavior and lead to confusion when users reimported the same tensor and it was now in in

[2021-11-05 20:38] rgommers commented on #67081
Yes indeed, see https://github.com/dmlc/dlpack/issues/75 for discussion.

This implies it did work before - what was it doing there exactly? Did it roundtrip correctly? What happened when you'd read in such an exported bool tensor with CuPy or JAX?

[2021-11-05 20:42] aced125 commented on #40497
This needs to be fixed

[2021-11-05 20:48] mruberry commented on #67081
Historically (as of PyTorch 1.9) PyTorch would write a uint8 tensor like this:

[code]

So no, it wouldn't round-trip. It was equivalent to the proposed workaround (first cast the tensor to uint8).

[2021-11-05 21:17] rgommers commented on #67081
Then I would say that raising an exception as in 1.10 is the desired behavior.

This would also become an issue if DLPack resolves the issue I linked above and implements a bool dtype. That would likely force a backwards-incompatible change in the PyTorch implemetation.

[2021-11-05 21:25] gauenk commented on #67866
Thank you for your comment. I just checked and I confirm your comment.

Should the call to cudaStreamWaitEvent be made explicit in the documentation, like how [Event.synchronize](https://pytorch.org/docs/stable/generated/torch.cuda.Event.html?highlight=cuda%20event#torch.cuda.Event) is wrapping cudaEventSynchronize? I just got lost in the nest of function calls (./torch/csrc/cuda/Event.cpp line 12

[2021-11-05 23:05] wconstab opened #67937 "Add support for LTC ops needed by backwards/autograd"
[] - zeros
    - needs codegen change to handle one of its field types

[] - sum_to.. (@Krovatkin please confirm if sum_to_size is useful, or we need another op)
    - sum_to_size is codegen-compatible already, but needs shape/dtype inference function written

also needed for autocast
[] - some variant of .to for dtype (todo, confirm which one and see how to add it)

[2021-11-05 23:23] eash3010 opened #67938 "CMake Error at torch_generated_THCTensorIndex.cu.o.Release.cmake:281"
## ❓ Questions and Help
Hi,
I am trying to build pytorch from source (following the steps [here](https://forums.developer.nvidia.com/t/pytorch-for-jetson-version-1-10-now-available/72048)) on a Jetson TX2 and am getting the error:
[code]
## Environment
[code]
Any help on how to run the PyTorch is appreciated. I am new to developing PyTorch so please also let me know where I can find more error log

[2021-11-06 00:10] nilansaha commented on #47702
Don't think tagging soumith a thousand times help. Earlier on PyTorch was fairly quite about where they stand on this issue but it has been made clear that something is in the works recently. Lets not annoy the guys working super hard for this every 2 days. Lets not act like the annoying project manager here guys.

[2021-11-06 00:56] ngimel commented on #67866
Sure, we'll accept accept PR clarifying the documentation.

[2021-11-06 01:34] colinxu2020 commented on #67527
I run `git submodule sync`and`git submodule update`
My CL.exe version is 19.27.29111
I didn't know how to query VS version without open VS.

[2021-11-06 01:48] crcrpar opened #67947 "`TestCommonCUDA.test_noncontiguous_samples_linalg_pinv_hermitian_cuda_float32` fails when TF32 is enabled"
With TF32,
[code]
while without TF32
[code]

# Expected behavior
`pinv_backward` does math in FP32 even when TF32 is available.

https://github.com/pytorch/pytorch/blob/80178d615297d50ff2125ba19a62d0defd51b144/torch/csrc/autograd/FunctionsManual.cpp#L1139-L1163

# Related PRs
- https://github.com/pytorch/pytorch/pull/66092
- https://github.com/pytorch/pytorch/pull/67434

# Environment
[code]

cc @

[2021-11-06 01:49] ifsheldon commented on #67887
Yes, I was comparing `torch.multiprocessing` with the original one. I take `ThreadPool` as an example for showing `torch.multiprocessing` is only a subset of the original one, not "100% compatible with the original module" as claimed, since the original one has `ThreadPool`.

And since the `torch.multiprocessing` is only a subset, it'd better to suggest people to use the original one when they wan

[2021-11-06 05:49] singhketan commented on #47702
Well I sent a polite reminder precisely because the guys must be busy and although unlikely, it's not impossible that it could've gotten off their mind to share an update here.

I have been keeping a tab on this thread for the past one year or so like I do for tens of other threads, so kindly do not lecture me about this.

The reason why I had to request them this week to consider sharing an updat

[2021-11-06 13:53] mhmtsarigul commented on #15808
same problem on Ubuntu 20.04, pytorch 1.11, cuda 11.5.

I downgrade torch to 1.10 stable and put "cv2.setNumThreads(0)" wherever i use cv2(this desceared number of threads on the system from 480 to 280) and the problem solved.

[2021-11-06 14:24] luisArandas opened #67955 "Torch 1.9.1.post3 - Error in magma_getdevice_arch: MAGMA not initialized (call magma_init() first) or bad device"
## 🐛 Bug

Hello. I'm having a warning in my terminal whenever I try to run torch that says exactly `Error in magma_getdevice_arch: MAGMA not initialized (call magma_init() first) or bad device`. I'm not really sure this is similar to #18074 since I didn't compile torch from source neither MAGMA. Also, it seems to work anyway, it gives me the warning about 6 times but it continues to generate stuff

[2021-11-06 14:25] CasellaJr opened #67956 "Intel OpenFL: RuntimeError: mat1 and mat2 shapes cannot be multiplied (128x512 and 2048x4096)"
I was running the PyTorch MNIST tutorial of OpenFL: [Intel OpenFL](https://github.com/intel/openfl). I changed the network into my own neural network. When I run the experiment I have this error: `RuntimeError: mat1 and mat2 shapes cannot be multiplied (128x512 and 2048x4096)`

To reproduce: open the PyTorch MNIST tutorial [Tutorial](https://github.com/intel/openfl/tree/develop/openfl-tutorials) a

[2021-11-06 14:43] OliverFM commented on #67696
Next partial fix: #67954

The test is now, fine, we just need to fix the SequentialLR scheduler itself

[2021-11-06 14:53] ifsheldon commented on #50345
Can you please consider adding bessel functions `j0`, `j1` and `jv`? We're doing microscopy simulation with PyTorch, but now it has only `i0` and other variants of modified bessel function. We're now resorting to naive adaption with PyTorch operators from Scipy.

[2021-11-06 15:39] AnjaniSonavane commented on #4827
conda install pytorch torchvision torchaudio cudatoolkit=10.2 -c pytorch

[2021-11-06 17:13] OliverFM opened #67957 "The `SequentialLR` Scheduler cannot use `ChainedScheduler`"
## 🐛 Bug

One cannot use a `ChainedScheduler` as it does not have an `optimizer` instance variable -- which the `SequentialLR` relies upon.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Two options:
1. This is fixed so that it can accept a chained scheduler. This is probably best achieved by fixing #67760
2. Alternatively there ought to be a check to ensure that

[2021-11-06 17:20] OliverFM opened #67958 "The `SequentialLR` scheduler uses a deprecated pattern"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. run `python test/test_optim.py`

This produces several warnings. If one runs on the branch of PR #67954, only one warning is produced:
[code]

 This comes from the tests of `SequentialLR` as it calls `scheduler.step(0)` on [line 637](https://github.com/pytorch/pytorch/blob/ae501a9727c16b8bc83c2fd7b40d9d801133ac91/torch/optim/lr_schedu

[2021-11-06 17:34] t10-13rocket opened #67959 "Intellectual property owned by me"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. #67675
1. Bible in all languages
1. world wide

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

[2021-11-07 06:03] mathmax12 opened #67965 "how to set the quantized data type in QAT"
When I use the qat and extract the intermedia layer's output I find it's quint8
![MicrosoftTeams-image](https://user-images.githubusercontent.com/32367611/140634280-ce018cf8-2d53-4ee1-98b3-97cf44f9e54f.png)
.
This datatype will be the input to the next layer I think.
But the weights are qint8 type. multiple a qint8 with quin8. Does this make sense?

Currently I use the default way to do the qat pr

[2021-11-07 07:34] abitrolly opened #67966 "1.9.1 Docker image is not available"
## Current Status
ongoing

https://hub.docker.com/r/pytorch/pytorch/tags is missing 1.9.1 release.

## User impact

They install latest image (because it is more secure) and then downgrade PyTorch manually.

## Root cause

No idea. Build scripts probably failed to upload on minor release. Although I haven't found the scripts.

## Mitigation

Release new version.

## Prevention/followups

 Add auto

[2021-11-07 07:49] xta0 commented on #66910
@RahulBhalley the current Metal backend is meant to be by mobile devices, not desktop. If you want to target on mobile, please refer to this tutorial - https://pytorch.org/tutorials/prototype/ios_gpu_workflow.html

[2021-11-07 07:49] #66910 closed

[2021-11-07 09:25] Force1ess opened #67967 "Support for quantized model's function"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Load a model from torchvision.quantization
2. run`next(model.named_parameters())`
3. StopIteration Raised

## Expected behavior
This expects to return a generator like normal models, but it works doesn't well on quantized models
## Additional context
This bug is obvious, I don't think it need any additional info

cc @jerryzh168 @jiany

[2021-11-07 09:26] abitrolly commented on #65439
Is data about CI stability collected somewhere? Before making changes it would be nice to see and set some metrics.

https://observablehq.com/@observablehq/integration-test-flakiness

[2021-11-07 09:32] RahulBhalley commented on #66910
Okay, thanks!

[2021-11-07 09:35] RahulBhalley commented on #66910
One question, some operators are not Metal supported in LibTorch yet like FFT ops. So how can I convert a model such that other layers (like Conv, Linear, etc.) run on Metal but FFT op (used inside model, say N-dim FFT applied after some convolution layer) falls back to CPU automatically?

[2021-11-07 10:12] SamtFish opened #67968 "unresolved external symbol "__declspec(dllimport) struct _object * __cdecl THPVariable_Wrap"
Does anyone know which library contains the THPVariable_Wrap function? When compiling I always get the same error message:

error LNK2019: unresolved external symbol "__declspec(dllimport) struct _object * __cdecl THPVariable_Wrap(class at::TensorBase)" (__imp_?THPVariable_Wrap@@YAPEAU_object@@VTensorBase@at@@@Z) referenced in function main

[2021-11-07 11:29] vadimkantorov opened #67969 "[docs] F.multilabel_soft_margin_loss does not list arg reduction, but lists outdated size_average"
https://pytorch.org/docs/stable/generated/torch.nn.functional.multilabel_soft_margin_loss.html?highlight=multilabel_soft_margin_loss#torch.nn.functional.multilabel_soft_margin_loss

Probably true for other functional loss doc pages

[2021-11-07 12:07] abitrolly commented on #49297
Maybe updating https://hub.docker.com/r/pytorch/pytorch/ description to point to https://github.com/pytorch/pytorch#building-the-image-yourself can solve this issue?

And an explanation how these are released would also be good for understanding #67966

[2021-11-07 15:18] lethean1 opened #67970 "Error when using torch.fx on bert"
I am trying to use symbolic_trace on bert model and getting this error:
[code]
## Model
[code]
I wonder why inputs_embeds are specified.
And any help on how to run this correctly is appreciated. Thanks

[2021-11-07 15:26] gauenk commented on #67866
Okay I will do that. Thank you for the help.

[2021-11-07 15:26] #67866 closed

[2021-11-07 16:59] mruberry commented on #67081
I agree with your thinking (as usual), @rgommers.

Unfortunately we did make an unexpected BC-breaking change by clarifying this DLPack behavior, and we're sorry that's so disruptive @BarclayII. It is probably the "right" change from a UX perspective, however.

What are your thoughts, @BarclayII?

[2021-11-07 17:25] juancamilog commented on #47702
I just tried this on a MBP 14" with M1 Max/32 core GPU/ 64 GBRAM

Took a bit more than an hour to go through 1 epoch with a batch size of 72.

This is the command I ran (after installing miniforge, tensorflow base and tensorflow metal)

    python examples/tensorflow/question-answering/run_qa.py --model_name_or_path distilbert-base-uncased --dataset_name squad --do_train --do_eval --per_device_tra

[2021-11-07 17:53] suo commented on #65439
This looks super cool! We do have data, but right now it's dumped to an internal system at FB (Meta??) for analysis. We'd love to make something that everyone can look at and help out with; I'll play with that notebook a bit.

For current master health, we have hud.pytorch.org, which presents a nice view of current jobs running on master.

[2021-11-07 19:45] tom-huntington opened #67971 "Pytorch doesn't use last GB of GPU memory"
Minimal reproducible example:
[code]

This happens on both WSL2 and windows.

Someone else had a similar issue:
https://github.com/pytorch/pytorch/issues/35901#issuecomment-797785225

Could I get some guidance on this issue? (I would buy a 3090 if I didn't have to pay scalpers prices, so try to get my 6GB gpu to work for now)

1) Is this because the other GB is being reserved by other programs (I

[2021-11-07 22:46] ParthaEth opened #67972 "Distributed.TCPStore"
I am trying to communicate some information between processes in different machines. I use the following code to set up a TCP store and then pass messages. However it hangs at random times. Can sb explain me how to resolve it?

    if rank == 0:
        store = dist.TCPStore(os.getenv('MASTER_ADDR'), int(os.getenv('MASTER_PORT')) + 1, -1, True,
                              datetime.timedelta(seco

[2021-11-07 23:45] t10-13rocket commented on #67972
init - - if true, a DO request will be sent upon subsequent connections.

[2021-11-07 23:49] SamiESK commented on #67968
I believe the import for that function is in "#include <torch/csrc/THP.h>"

[2021-11-07 23:52] ankane opened #67974 "USE_SYSTEM_PYBIND11 option ignored"
## 🐛 Bug

Hi, it looks like there's a small typo on [this line](https://github.com/pytorch/pytorch/blob/191b48b12f33e1e9525882da0c62b68686d69e42/cmake/Dependencies.cmake#L1090)  (missing `PY`) that causes LibTorch to ignore the `USE_SYSTEM_PYBIND11` option.

Original PR: https://github.com/pytorch/pytorch/pull/58951

## To Reproduce

Steps to reproduce the behavior:

1. Build with `-DUSE_SYSTEM_PY

[2021-11-08 00:58] nonconvexopt opened #67975 "Trivial Bug in some of the torch.distributions.constraints implementations."
## 🐛 Bug

Code of the 'torch/distributions/constraints.py' seems to have a bug in implementations.
Below are the two classes checking the constraint of the matrix variables.

[code]
In the code, I wonder why it is using '.min(-1)[0]' instead of code like '.all()' for checking if the tensor contains only 'True' value.
It seems that it is checking only the first batch of the input.
Are there reasons

[2021-11-08 02:18] fatcat-z commented on #67903
Hi @WYL-Projects ,

Could you please share more details, like code snippets,  about your problem so that we can be more clear with the problem?

[2021-11-08 02:27] fatcat-z commented on #67849
Close this issue since the PR #67944 has been linked.

[2021-11-08 02:27] #67849 closed

[2021-11-08 02:35] SeedKunY opened #67976 "Why instance norm doesn't propagate channels last suggest memory format?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

cc @VitalyFedyunin @jamesr66a

[2021-11-08 02:36] zuoxingdong commented on #67419
@SsnL @ejguan Thanks a lot for your feedbacks!

I have one follow-up question about customizing `collate_fn`:

what if the input is a nested dictionary with variables length of lists, e.g.

[code]

The abovementioned customization seems to work only with *first-level* criteria, all the successive recursive calls will fall back to the original `default_collate` again.

For such a multi-level nested

[2021-11-08 02:43] SeedKunY commented on #67976
I I found that the code segmentation of instance_norm (aten/src/ATen/native/Normalization.cpp) as below:
[code]

It seems that instance norm reuse the bach_norm code impl, however, instance_norm would convert the input to contiguous memory format which would break channels last suggestion memory format propagation. Is it wrong here?

[2021-11-08 02:46] fatcat-z commented on #67670
Traced by https://msdata.visualstudio.com/Vienna/_workitems/edit/1502114.

[2021-11-08 02:57] alicera commented on #60518
update?
I still meet the problem.

[2021-11-08 02:59] WayoSunny commented on #45823
Hello, have you ever solved this problem? I faced the same problem like yours

[2021-11-08 03:07] alicera opened #67978 "c10::CUDAError"
## 🐛 Bug
[code]

## To Reproduce

You have to use the two GPU
CUDA:0 (GeForce GTX 1080 Ti, 11178.5MB)
CUDA:1 (GeForce GTX TITAN X, 12212.8125MB)

Steps to reproduce the behavior:
docker pull ultralytics/yolov5
Then using the docker
$ git clone https://github.com/ultralytics/yolov5
$ cd yolov5
$ python -m torch.distributed.launch --nproc_per_node 2 train.py --batch 64 --data coco.yaml --weights yol

[2021-11-08 03:11] BruceDai003 commented on #34703
So, what's the suggested way to remove that warning?

[2021-11-08 03:16] BruceDai003 commented on #34703
You can try
[code]

[2021-11-08 03:17] darkThanBlack commented on #66993
Hello @husthyc , because Pytorch is compiled and generated by C++, so I noticed `Optimization Level` from the beginning, but I only tried to modify `Apple Clang - Code Generation`, didn't notice `Swift Compiler - Code Generation` has the same option, what a SAD story.
I will try verify the impact of this modification on main project, make sure it can be release in Apple Store, if there is any prog

[2021-11-08 03:33] cowwoc opened #67979 "Support prelu_cuda for BFloat16"
## 🚀 Feature

## Motivation

If you invoke `torch.nn.functional.prelu()` on `BFloat16` in version 1.10 you will get the following error:

`"prelu_cuda" not implemented for 'BFloat16'`.

Please add CUDA support for `torch.nn.functional.prelu()` on `BFloat16`.

[2021-11-08 03:59] nonconvexopt commented on #67975
I will PR the fixed code if you allow me.

[2021-11-08 04:23] BarclayII commented on #67081
I understand.  As per DGL we have temporarily worked around it so this is no longer a major blocker.

One further question though.  Since PyTorch is deprecating using ByteTensors to index into an array, I'm wondering if PyTorch has any plan on removing this support in the next release?  If so, then I think it's better to enable boolean type support in DLPack.

[2021-11-08 04:56] mruberry commented on #67081
Glad to hear it!

Removing support for what, exactly?

DLPack has an issue for this already that you may want to comment on, too: https://github.com/dmlc/dlpack/issues/75.

[2021-11-08 04:57] BarclayII commented on #67081
I meant removing the support of using ByteTensors for masked indexing.

[2021-11-08 04:58] mruberry commented on #67646
Yet another example: https://github.com/pytorch/pytorch/runs/4123838074?check_suite_focus=true

[2021-11-08 05:00] mruberry commented on #67081
Aha, I don't think anyone is actively working on removing that support.

That's a good connection to make, however.

[2021-11-08 06:09] Krovatkin commented on #67937
@wconstab

AFAIU, `sum_to_size` is `sum_to` + an `is_expandable` check. In theory, we could maybe always use `sum_to_size` modulo:

a) a performance concern of doing `is_expandable` check twice or more times
b) `sum_to` is widely used in bwd formulas in `derivatives.yaml`. We may need to figure out how to re-dispatch `sum_to` to `sum_to_size` then.

I'm actually using the equivalent of `sum_to_siz

[2021-11-08 06:22] xuzhuang1996 commented on #37945
But I found that this phenomenon still exists in 1.10.0+CPU. which version you fixed it in API. Thanks

[2021-11-08 06:31] xuzhuang1996 opened #67983 "torch.jit.export does not working"
## 🐛 Bug

I'm going to port a Pytroch model to Android，but Android can not read method in model.ptl。

## To Reproduce

Steps to reproduce the behavior:

1. This is my main
[code]
1.my net
[code]
1. and I would not read other() in my Android. @torch.jit.export says is inconsistent with the documentation

[2021-11-08 06:37] SamtFish commented on #67968
Thanks SamiESK, but the header file is not the problem. The linker is missing the library dependencies. I have found a way to compile and link it with the Python-Script-File "setup.py". Compiling and linking without Python does not seem to work because there is no lib-file that contains the function definition of THPVariable_Wrap.

[2021-11-08 08:26] ParthaEth commented on #67972
@t10-13rocket  I have no Idea what you mean. Can you please elaborate? If you mean initializing the distributed store the first line that runs is -
[code]

[2021-11-08 08:46] Le0v1n opened #67988 "How can I get a Model Comparison Chart?"
A comparison chart like Keras:

![image](https://user-images.githubusercontent.com/67271439/140710882-cebb3f5f-8495-4917-ba50-52ae46d19c59.png)

So does PyTorch have such a comparison chart, and how can I find it?

I appreciate it that you can reply me!

[2021-11-08 09:13] ankitaS11 commented on #67612
Hi, @kshitij12345 and @mruberry,

I wished to work on this issue, and was wondering if it will be fine if I can work on this? Thanks!

[2021-11-08 09:35] albanD commented on #67887
The idea for multithreading with autograd is the same as any other multithreaded operation in python.
You can read from multiple threads without any worry. But if multiple threads modify an object inplace, you will have to do some locking to ensure consistency of the result.
In this context, it is important so know that `.backward()` is an inplace op if any of the `.grad` is already specified. But

[2021-11-08 09:49] kshitij12345 commented on #67612
@ankitaS11 SGTM! Thanks it would be helpful

[2021-11-08 10:06] albanD commented on #67910
That won't work as this test is explicitly checking that such big inputs (beyond 32bit index size) work fine.

That sounds like a good solution.

[2021-11-08 10:10] patrickvonplaten commented on #67907
Also cc'ing @alexeib here for information - this seems to have quite a significant effect on all wav2vec2 and hubert base models...

[2021-11-08 10:16] jiaerfei opened #67989 "the abnormal display of bottleneck of resnet in tensorboard"
on the basis of resnet in this example, I use tensorboard to visualize the network.
for resnet50, it is [3, 4, 6, 3], for each block after the first block, it looks abnormal, as the image shows
![1](https://user-images.githubusercontent.com/51914854/140724298-7ad2679e-2e53-4cac-8689-f18f7ee6a29c.png)
![2](https://user-images.githubusercontent.com/51914854/140724308-80d4c48d-838a-4838-9611-dd5cc315

[2021-11-08 10:32] rangapv opened #67991 ""Error1: torch._C._cuda_init() RuntimeError: No CUDA GPUs are available" ALSO Error2:"NVIDIA-SMI has failed because it couldn't communicate with the NVIDIA driver. Make sure that the latest NVIDIA driver is installed and running.""
## 🐛 Bug

I am not able to run my Background removal program in pytorch using CUDA
Also when I run nvidia-smi I get the following error
"NVIDIA-SMI has failed because it couldn't communicate with the NVIDIA driver. Make sure that the latest NVIDIA driver is installed and running."

## To Reproduce

Steps to reproduce the behavior:

1. Install python and nvidia driver and run the said program invok

[2021-11-08 11:15] rasemailcz opened #67992 "INTERNAL ASSERT FAILED at "/opt/conda/conda-bld/pytorch_1634272068185/work/aten/src/ATen/MapAllocator.cpp":263"
## 🐛 Bug

RuntimeError: falseINTERNAL ASSERT FAILED at "/opt/conda/conda-bld/pytorch_1634272068185/work/aten/src/ATen/MapAllocator.cpp":263, please report a bug to PyTorch. unable to open shared memory object </torch_3888992_0> in read-write mode`

## To Reproduce

Steps to reproduce the behavior:

1. I don't know. This bug pops up almost randomly and kills my learning.

[code]

## Expected behavi

[2021-11-08 12:12] elephaint commented on #50718
@yoavhalevi Did you find a solution to this? I'd like to also specify pytorch (with GPU) as a dependency for a project but it seems not possible due to this issue.

[2021-11-08 12:26] nikvaessen commented on #67680
Downgrading to PyTorch 1.09 solved this issue for me. In particular, I noticed it only when I used CtcLoss, not cross-entropy loss.

[2021-11-08 12:37] huangjin520 commented on #67680
I solved the problem by killing the PID to release the cache in Linux  `kill -9 PID_number` .  And then I run the network normally.

[2021-11-08 12:40] danielgf0824 commented on #17334
same question on Tesla T4 with CUDA11.0

[2021-11-08 12:41] crcrpar commented on #67910
Thank you for the comment. 67922 has the test case skipped if there's not enough CPU memory.

[2021-11-08 13:45] Elad-Shmueli opened #67997 "trying to install on jetson xavier NX"
I am trying to download pytorch on a jetson NX to use a tracker i found, problem is that my conda is not able to find the correct cudatoolkit, i've trying downloading with pip but when running
   torch.cuda.is_available()
i get false
i've tried downloading a separate cudatoolkit from another conda channel, and succeeded but when trying to install pytorch without cudatoolkit in the conda command, i

[2021-11-08 14:35] #67419 closed

[2021-11-08 15:15] zarzen commented on #67724
Thanks for the update!
The cuda context won't be deleted, until we explicitly destroy the context.
The `ncclCommDestroy` should not have that functionality, as other components using cuda might have unfinished jobs.
I think I can close the issue for now.

[2021-11-08 15:15] #67724 closed

[2021-11-08 15:49] simonalford42 commented on #32097
I tried implementing something similar for `logaddexp`. I'm not very confident in the implementation, but here it is in case others find it useful:
[code]

[2021-11-08 16:03] adamjstewart opened #68002 "error: use of undeclared identifier 'FaultyTensorPipeRpcBackendOptions'"
## 🐛 Bug

I'm trying to compile PyTorch 1.10.0 with `USE_DISTRIBUTED=ON` on macOS 10.15.7 with Python 3.8.12 and Apple Clang 12.0.0 and compilation fails with the following error message.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

PyTorch Lightning seems to require PyTorch to be built with distributed support, so I would expect this to build, even on macOS.

[2021-11-08 16:05] mrshenli commented on #68002
cc @H-Huang

[2021-11-08 16:11] gnloch opened #68003 "Output shape of ONNX exported "index_select" function is wrong on pytorch 1.10.0"
## 🐛 Bug

When trying to export a model to ONNX that uses the `index_select` function on pytorch 1.10, the resulting operation in ONNX doesn't have the expected shape:

## To Reproduce

Steps to reproduce the behavior:
[code]
1. Run snippet using pytorch 1.8.1
2. Run again using pytorch 1.10.0

Output using pytorch 1.10:
[code]

![Screenshot from 2021-11-08 12-56-46](https://user-images.githubuser

[2021-11-08 16:59] #67896 closed

[2021-11-08 17:12] malfet commented on #67966
Removed `ci:sev` label as it does not affect PyTorch continuous integration system in any way

[2021-11-08 17:19] wconstab commented on #67937
ok, so it sounds like sum_to_size is worth supporting in LTC in the short term then?  Meanwhile, you'll need to figure out a plan to either use sum_to_size from autograd, or, make sum_to traceable?

[2021-11-08 17:24] malfet commented on #67955
@luisArandas you've installed pytorch build by `conda-forge`, which is clear from the following snippet:
[code]
Please file the issue against https://github.com/conda-forge/pytorch-cpu-feedstock to get this addressed. Or, if you are ok to upgrading your toolkit to cuda-11.3 or downgrading to 11.1 feel free to try installing PyTorch using instruction listed at https://pytorch.org/get-started/locall

[2021-11-08 17:38] albanD opened #68009 "Properly document the `to.dtype_layout` overload of to"
This one is missing from the current doc page: https://pytorch.org/docs/stable/generated/torch.Tensor.to.html?highlight=tensor#torch.Tensor.to

[2021-11-08 17:41] #67696 closed

[2021-11-08 17:45] soulitzer commented on #67844
I was able to run using the following script, but I did could not reproduce the error (using main branch on Ubuntu).

[code]

[2021-11-08 17:48] suo commented on #67646
Hey @Krovatkin, if we don't have to time to investigate now, could we disable the test pending investigation?

[2021-11-08 18:00] OliverFM commented on #67601
I have opened a PR, #68010, to apply the fix you suggested!

[2021-11-08 18:03] #67827 closed

[2021-11-08 18:03] OliverFM commented on #67957
I see that this duplicates #67601
My mistake.

[2021-11-08 18:03] #67957 closed

[2021-11-08 18:06] albanD commented on #67844
Might be the same as https://github.com/pytorch/pytorch/issues/18797 ?

[2021-11-08 18:07] malfet commented on #67864
Giving it a tentative 1.10.1 milestone

[2021-11-08 18:09] soulitzer commented on #67844
From Triage Review: We should try to reproduce this on Windows. The error code is different from the linked issue above.

[2021-11-08 18:11] malfet commented on #67844
@mszhanyi can you please try to reproduce it on your end?

[2021-11-08 18:13] rohan-varma commented on #67724
@zarzen Just to clarify, did you only see this issue when creating subgroups? When we re-enable this functionality we don't plan on running the health check for subgroups, so this should be a non-issue?

[2021-11-08 18:15] soulitzer commented on #67955
Nikita: how do we as a team approach Conda Forge issues? We need some policy going forward.

[2021-11-08 18:26] rohan-varma opened #68014 "Add TORCHELASTIC_RESTART_COUNT env variable to DDP logging"
## 🚀 Feature

Add `TORCHELASTIC_RESTART_COUNT` set here: https://github.com/pytorch/pytorch/blob/master/torch/distributed/elastic/agent/server/local_elastic_agent.py#L155 to DDP logging, to filter out runs based on the retry.

Sometimes we see multiple entries for one DDP run and this can be confusing, it is usually due to torchelastic restarting the job. If users want to see only one DDP job and

[2021-11-08 18:26] malfet commented on #67955
Likely related issue: https://github.com/pytorch/pytorch/issues/60175
@luisArandas can you please try if it reproduces on 1.10?

[2021-11-08 18:28] seemethere commented on #59303
This was already done upstream by github, closing

[2021-11-08 18:28] #59303 closed

[2021-11-08 18:56] ifsheldon commented on #67887
Thanks for the confirmation. Then please update the documentation a bit accordingly to solidify the confirmation explicitly.

After seeing your explanation, I check the code as well, and indeed you do `from multiprocessing import *` in its `__init__.py`, so now it surprises me too.

Here is the Pytorch version I've been using.

[code]

And I just simply run this code to test `torch.multiprocessing

[2021-11-08 19:01] wangkuiyi opened #68017 "MacOS CI result is not in /README.md"
It seems that we have scripts for CI on MacOS but the result is not presented in /README.md.

[2021-11-08 19:09] Krovatkin commented on #67646
@suo a great idea! @janeyx99 @mruberry , could you guys help us to disable the failing tests?

[2021-11-08 19:22] suo commented on #67646
@Krovatkin do you want to disable the whole jit_legacy job or just a specific test?

[2021-11-08 20:11] ngimel opened #68020 "Audit use of matmuls in backward formulas of linear algebra operations"
By default, matmul on Ampere cards will use tf32, and this leads to unacceptable accuracy loss for linalg ops.
When linalg ops are using magma, we are disabling tf32, but in other cases there's no systematic approach.
see #67948

cc @jianyuh @nikitaved @pearu @mruberry @walterddr @IvanYashchuk @xwang233 @Lezcano @zasdfgbnm @ptrblck

[2021-11-08 20:21] vadimkantorov commented on #68020
It may be useful for functions like matmul / conv to have explicit hints/algo arg...

[2021-11-08 20:45] shubhambhokare1 commented on #49887
Extended support for any was added in https://github.com/pytorch/pytorch/pull/66093
Let me know if these changes resolve your issue.

[2021-11-08 20:48] shubhambhokare1 commented on #48341
@garymm Is this issue related to https://msdata.visualstudio.com/Vienna/_boards/board/t/PyTorch%20ONNX%20exporter/Backlog%20items/?workitem=1468772

[2021-11-08 21:19] H-Huang commented on #67959
If you are encountering any issues with PyTorch please describe them, thanks!

[2021-11-08 21:19] #67959 closed

[2021-11-08 21:36] H-Huang commented on #67992
Marking at hipri due to internal assert error.

@rasemailcz Do you have a code snippet and/or minimal reproduction for this issue? Providing us the code and line that is triggering this will help to debug it.

[2021-11-08 21:46] Elad-Shmueli commented on #67997
managed to solve by building pytorch from the officail nvidia guide for the jetson :
https://forums.developer.nvidia.com/t/pytorch-for-jetson-version-1-10-now-available/72048

[2021-11-08 21:46] #67997 closed

[2021-11-08 22:01] garymm commented on #33343
Duplicate of #17869.

[2021-11-08 22:01] #33343 closed

[2021-11-08 22:02] H-Huang commented on #67988
Check out the models in the officially supported PyTorch library for computer vision, torchvision (https://pytorch.org/vision/stable/models.html#classification). There is a chart of accuracies for each model.

You can determine you can determine size/params/depth yourself by going through the `model.parameters()` yourself. Or utilize a 3rd party library like torchinfo (https://github.com/TylerYep/

[2021-11-08 22:02] #67988 closed

[2021-11-08 22:06] garymm commented on #48341
No, more related to https://msdata.visualstudio.com/Vienna/_workitems/edit/1465266. This issue is blocked by that one, I think. So I'd import this into ADO as a new issue and mark the new issue as successor to 1465266.

[2021-11-08 22:25] jbschlosser opened #68034 "1D convolution is broken for mkldnn tensors"
## 🐛 Bug

1D convolution is broken for mkldnn tensors and a badly-worded error is thrown for this case.

## To Reproduce
[code]
[code]

## Expected behavior

Either the correct output is returned for mkldnn tensor inputs or a proper error is thrown indicating the lack of support for 1D convolution with mkldnn tensors.

## Additional Context
The problem occurs when trying to view 1D spatial input /

[2021-11-08 22:34] fritzo commented on #67975
Closing as this is intended behavior.

Note that `.min(-1)` [returns a namedtuple](https://pytorch.org/docs/stable/generated/torch.min.html) with fields `(values, indices)` and the `[0]` pulls out the `.values`. In modern pytorch an alternative spelling is:
[code]

[2021-11-08 22:34] #67975 closed

[2021-11-08 22:40] seemethere commented on #67712
Can be added as an extra wrapper within our own internal TestCase class, should have some sort of way to delineating slow tests so that we don't automatically decorate slow tests

Could also potentially use hypothesis' `deadline` decorator

[2021-11-08 22:46] seemethere commented on #67720
Most likely related to `Windows Sockets error 10054` meaning sccache might've exited with error while clients were attempting to connect

[2021-11-08 22:49] malfet commented on #68017
Do we really need any badges in README.MD?

[2021-11-08 22:52] seemethere commented on #65252
Closed with #65256

[2021-11-08 22:52] #65252 closed

[2021-11-08 22:53] seemethere commented on #66712
This is reliant on upgrading `pytorch/builder` binary build images to *at least* devtoolset9

[2021-11-08 23:01] jbschlosser commented on #67892
Hey @krshrimali, thanks for the report! Sure, we'd accept a PR updating the docs to indicate shape `(H, W)` is supported.

[2021-11-08 23:08] jbschlosser commented on #67969
Nice catch, and I second the idea of finally removing `size_average` / `reduce` from the docs.

[2021-11-08 23:12] seemethere opened #68039 "Upgrade macOS and iOS workflows to xcode 12.4+"
## 🚀 Feature

In the future we'd like to upgrade all macOS and iOS workflows for PyTorch CI to more modern versions of xcode.

However in previous attempts to do this we've encountered some issues like: https://github.com/pytorch/pytorch/pull/67717#issuecomment-963485900

This issue is meant as a tracking issue to track both the progress of upgrading to xcode 12.4 as well as the issues that come a

[2021-11-08 23:23] seemethere commented on #67966
Pushing the following:
[code]

[2021-11-08 23:35] hanton commented on #61268
Hi @kenmbkr, can you try the [HelloWorld-Metal](https://github.com/pytorch/ios-demo-app/tree/master/HelloWorld-Metal) example? The HelloWorld example uses `LibTorch-Lite`, which doesn't have Metal builtin. For having Metal support, you need to use `LibTorch-Lite-Nightly`.

[2021-11-08 23:58] H-Huang commented on #67978
Can you set `CUDA_LAUNCH_BLOCKING=1` to help narrow down the line in your script that is triggering this issue? This will help a lot with root causing the error.

[2021-11-08 23:59] hanton commented on #59551
Hi @xtxt and @duffpod, build commands, like `IOS_ARCH=arm64 USE_PYTORCH_METAL=1 ./scripts/build_ios.sh`, will build a lite interpreter [by default](https://fburl.com/rm8dp6kt)(with `BUILD_LITE_INTERPRETER="1"`). So the built library is a lite interpreter with Metal support. For using it, there're 3 steps:
1. [Use PyTorch with Metal](https://fburl.com/n3znf5sp)
2. [Convert a Metal Compatible Model]

[2021-11-09 00:08] ngimel commented on #67971
This is memory used by cuda context on the device, you can check it by running `torch.cuda.list_gpu_processes()` after allocating a small cuda tensor

[2021-11-09 00:44] H-Huang commented on #67991
Seems like a driver issue since `nvidia-smi` doesn't work, rather than a PyTorch issue, sorry cannot be more help here. What GPU do you have? Here is a stack overflow discussion to reset your installation, you can give that a shot (https://stackoverflow.com/questions/49186723/error-nvidia-smi-has-failed-because-it-couldnt-communicate-with-the-nvidia-dri)

[2021-11-09 00:44] #67991 closed

[2021-11-09 00:53] aravind-anantha commented on #19117
Are there any workarounds for this? @suo

[2021-11-09 01:35] XiaobingSuper commented on #68034
@jbschlosser, yes, for mkldnn tensor, it should avoid the view, I find you are refactoring convolution code,  I can fix it after you code merged.

[2021-11-09 01:40] seemethere commented on #67966
Going to close this since the images have been pushed, will create a follow up issue to create automation for this

[2021-11-09 01:40] #67966 closed

[2021-11-09 01:47] crcrpar opened #68041 "[RFC] APEX style fused optimizers in PyTorch"
Having APEX style fused optimizers in pytorch by implementing, e.g., `_fused_sgd(Tensor[] params, Tensor[] grads, Tensor[] momentums, ...)` and expose this function via `torch.optim.fused.FusedSGD`.

## Motivation
We've developed `foreach` and `_multi_tensor` optimizers which use `foreach` functions to reduce the overhead of
calling a bunch of small CUDA kernels.
As `foreach` handles one or more l

[2021-11-09 01:51] ngimel commented on #68041
cc @jbschlosser @albanD

[2021-11-09 02:47] alicera commented on #67978
What is the function of the CUDA_LAUNCH_BLOCKING?
Thk

[2021-11-09 03:11] WYL-Projects commented on #67903
@fatcat-z
Thanks for your reply!
My problem is that after I converted the mmdetection parameter model to onnx format without error, I found that only the backbone (resnet34) part of the mmdetection model was converted in the onnx file, but necks (transFPN) and heads were not converted. The structure configuration  of the whole model is as follows:
[code]

Then, the following part is the Python cod

[2021-11-09 03:15] jakeywu commented on #67538
I'm sorry to just see that my solution to the problem is to lower the pytorch version(1.8.0), and I didn't explore this problem in depth.

[2021-11-09 03:22] SWHL commented on #47433
I meet the same problem, and as @yingqichao said, when I train a model from a checkpoint, DDP has imbalanced memory usage.
- From scratch
![image](https://user-images.githubusercontent.com/28639377/140856246-83489760-0fdd-440f-a88b-27a4591dedf5.png)

- From a checkpoint
![image](https://user-images.githubusercontent.com/28639377/140856310-1c8aa27b-4f60-4ac5-828a-06a122d235fd.png)

[2021-11-09 03:33] tom-huntington commented on #67971
Good to know!

[2021-11-09 03:33] #67971 closed

[2021-11-09 03:38] starsky68 opened #68046 "register_ Hook causes the CUDA out of memory, and remove() is useless"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2021-11-09 04:16] mszhanyi opened #68047 "Windows Libtorch nightly tests have failed since last Saturday."
## 🐛 Bug

All windows libtorch with cuda nightly tests failed since last Saturday.
Looks like a regression.

The error message is
[code]

## To Reproduce

It could been in hud.pytorch.org
example link:
https://app.circleci.com/pipelines/github/pytorch/pytorch/406199/workflows/192425bf-fd0c-4aad-8128-fbb3501caa9a/jobs/16684849

## Expected behavior

All tests should be passed

cc @peterjc123 @mszha

[2021-11-09 04:33] XiaobingSuper opened #68048 "[1.10.0]Conv2d grad bias gets wrong value for bfloat16 case"
## 🐛 Bug

For PyTorch [1.10.0](https://github.com/pytorch/pytorch/tree/v1.10.0), conv2d grad bias gets wrong value for bfloat16 case on cpu device.

## To Reproduce

1.  example code
[code]
2. running the code getting the following result
[code]

## Expected behavior

For the bfloat16 case, the expected output should be
[code]

 - PyTorch Version (1.10.0):
 - OS (e.g., Linux):
 - How you installed

[2021-11-09 04:40] XiaobingSuper commented on #68048
@gchanan, PyTorch master hasn't this issue which https://github.com/pytorch/pytorch/pull/64280 using **at::sum_out** to compute **grad_bias**, so add it in the 1.10.1 milestone fornext release, thanks!

[2021-11-09 05:14] ptrblck commented on #62034
Verified a fix in an internal cudnn build, which will land in the next 8.3.1 release.

[2021-11-09 05:27] SWHL commented on #47433
When I set the following code, the problem is solved.
[code]

[2021-11-09 05:48] LetsGit-it opened #68049 "Request to revise the Pytorch tutorial."
## 📚 Documentation

Hello

I am an university student from South Korea and interested in AI open source.

After looking at the tutorial [LOADING A TORCHSCRIPT MODEL IN C++] ( https://pytorch.org/tutorials/advanced/cpp_export.html ), I found out that the command was wrong while running it on Linux.

I could see through the search that many users already knew it, so I thought this was a problem that

[2021-11-09 06:02] mszhanyi commented on #67844
In my machine, the stacktrance is
[code]

@Jdogzz
Did you install cudnn?
`CUDA runtime version: Could not collect`
`cuDNN version: Could not collect`

[2021-11-09 06:04] nonconvexopt opened #68050 "Distributions for Symmetric Matrices."
## 🚀 Feature
Add [Wishart distribution](https://en.wikipedia.org/wiki/Wishart_distribution) and [Inverse Wishart distribution](https://en.wikipedia.org/wiki/Inverse-Wishart_distribution#Conjugate_distribution) to 'torch.distributions'.

## Motivation
Wishart and Inverse Wishart distributions are key component to model the distribution of symmetric positive definite matrices.
It can help to support

[2021-11-09 06:35] #67947 closed

[2021-11-09 06:42] abitrolly commented on #67966
@seemethere thanks. Are there any reasons to push images with CUDA 11.1 instead of the latest 11.5? https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/

[2021-11-09 06:50] leila000 commented on #67337
Hi did you solve this problem ?

[2021-11-09 06:57] Force1ess commented on #67967
By the way, copy.deepcopy also cannot copy all original quantized model's property, that's not good

[2021-11-09 07:18] Le0v1n commented on #67988
@H-Huang

Thanks for ur reply!

[2021-11-09 07:52] pmeier commented on #60004
@suo As far as I see, there is no such thing as `INSTALL_TEST`. Did you mean

https://github.com/pytorch/pytorch/blob/c5e5264be26fc84ada3c63d7add579ab19d4834c/setup.py#L40-L41

?

[2021-11-09 07:55] kadirbeytorun commented on #27569
@wanchaol  Has this been solved? I face the same problem at 1.10 version.

[2021-11-09 08:05] mszhanyi commented on #67844
@malfet, It could reproduced in my machine

[2021-11-09 08:17] mszhanyi commented on #67844
And this bug has exited for a long time.
It can be reproduced in another Windows CPU machine with pytorch 1.6.

[2021-11-09 08:27] Lezcano commented on #67384
+1 for (4) without warning. I really like @stas00 's idea of having a "performance" document in the docs where we compile general tricks / guidance for how to do this, in a similar way as we do for [reproducibility](https://pytorch.org/docs/stable/notes/randomness.html).

This solution would also go in line with the `use_deterministic_algorithms` flag and others that are being discussed, e.g. http

[2021-11-09 08:44] peddivarunkumar99 commented on #66928
I am on the latest version of PyTorch and this still appears.

[2021-11-09 08:44] #46480 closed

[2021-11-09 08:47] albanD opened #68052 "Add the `maximize` flag to all optimizers"
See https://github.com/pytorch/pytorch/issues/46480 for the original discussion.

All optimizers should get the same treatment:
- [x] SGD https://github.com/pytorch/pytorch/pull/67847
- [x] Adam
- [x] AdamW
- [x] Adadelta
- [x] Adagrad
- [x] Adamax
- [x] ASGD
- [x] RMSprop
- [x] Rprop
- [x] SparseAdam
- [ ] LBFGS

cc @vincentqb @jbschlosser @albanD

[2021-11-09 08:49] albanD commented on #46480
Leaving this closed in favor of the tracking issue in https://github.com/pytorch/pytorch/issues/68052

[2021-11-09 08:54] romil611 commented on #51535
@malfet  would your script work for any aarch64 system? I'm specifically trying to run on raspberry 4 with rasbin os 64 bit version.

[2021-11-09 09:22] ayaka14732 opened #68053 "[docs] `nn.Transformer` is not possible to be used to implement BERT"
## 📚 Documentation

In the [`nn.Transformer`](https://pytorch.org/docs/stable/generated/torch.nn.Transformer.html) documentation:

If I understand correctly, BERT only uses the transformer encoder, while `nn.Transformer` includes both encoder and decoder. Therefore, users cannot build the BERT model with `nn.Transformer`.

There is a [related discussion](https://discuss.pytorch.org/t/how-to-implem

[2021-11-09 09:30] albanD commented on #68017
Given that they are not exhaustive, not sure how useful they are?
Highlighting the link to the hud more might be better?

[2021-11-09 09:45] albanD commented on #67887
I don't think so, but that doesn't work with the plain multiprocessing module either:
[code]
will return
[code]

You will have to explicitly import it.
That being said, the `pool` there only has the plain `Pool`. We can expose back the thread pool as well there if needed.

[2021-11-09 10:23] zionsofer opened #68055 "Release official Python 3.9 images"
## 🚀 Feature
Support Pytorch CUDA docker images with Python 3.9

## Motivation
Python 3.7 is in the security fixes only stage, and moving forward we're going to use Python 3.9/3.10.

## Pitch
As Python 3.7 is now in security fixes stage only, with no more binaries released, we have started our move to Python 3.9.
The latest official docker images come shipped with Python 3.8, while older ones that

[2021-11-09 10:47] vadimkantorov commented on #64897
Similar error for uint8 dtype: `*** RuntimeError: Can only calculate the mean of floating types. Got Long instead.`. At the very least the error message is confusing.

[2021-11-09 11:37] rgommers commented on #50535
That would help, but only for 32-bit Windows. Yanking is not enough here, the problem is that [PEP 592](https://www.python.org/dev/peps/pep-0592/) says: _"An installer MUST ignore yanked releases, if the selection constraints can be satisfied with a non-yanked version, and MAY refuse to use a yanked release even if it means that the request cannot be satisfied at all. "_ Because there are no newer

[2021-11-09 12:44] H-Huang commented on #67978
Take a look at https://pytorch.org/docs/stable/notes/cuda.html#:~:text=Ampere%20architecture-,Asynchronous%20execution,-By%20default%2C%20GPU

[2021-11-09 12:49] cdeepali opened #68057 "undefined reference to `at::native::DispatchStub` on ppc64le"
## 🐛 Bug

Seeing the following error while compiling PyTorch v1.10 on ppc64le:

[code]

Details - https://github.com/pytorch/pytorch/issues/66867

cc @malfet @seemethere

[2021-11-09 13:45] vkuzo commented on #67965
Hi @mathmax12 , we are trying to make sure that all questions are asked in https://discuss.pytorch.org/c/quantization/17, and github issues are used more for bug reports and feature requests.  Would you mind asking your question in https://discuss.pytorch.org/c/quantization/17 instead?

[2021-11-09 13:45] #67965 closed

[2021-11-09 13:58] Jakobhenningjensen opened #68058 "Some lr-schedulers docs seems to have typos/missing information"
## 📚 Documentation

According to [ConstantLR](https://pytorch.org/docs/stable/generated/torch.optim.lr_scheduler.ConstantLR.html#torch.optim.lr_scheduler.ConstantLR) "*Decays the learning rate of each parameter group by a small constant factor until the number of epoch reaches a pre-defined milestone: total_iters*"  i.e with `factor=0.5`, `lr=0.05`  and `total_iters=4` I would assume

[code]
i.e

[2021-11-09 14:07] ifsheldon commented on #67887
OK, there're some problems with module importing I think.

But I can use ThreadPool with `from multiprocessing import pool`, but not with `from torch.multiprocessing import pool`.
[code]

[2021-11-09 14:43] nrsatish opened #68059 "conda install does not seem to have files in torch/fx/experimental/fx2trt/passes"
## 🐛 Bug

Installing conda packages for 1.10 or nightly does not give files in torch/fx/experimental/fx2trt/passes

## To Reproduce

Steps to reproduce the behavior:

1. conda install pytorch torchvision torchaudio cudatoolkit=11.3 -c pytorch-nightly
2. ls ~/anaconda3/pkgs/pytorch-1.11.0.dev20211108-py3.8_cuda11.3_cudnn8.2.0_0/lib/python3.8/site-packages/torch/fx/experimental/fx2trt/ => no passes

[2021-11-09 14:48] rasemailcz commented on #67992
I'll post the snippet ASAP, I am currently not at my working computer...

[2021-11-09 15:05] zou3519 opened #68060 "functorch transforms are silently incorrect with autograd.Function"
## 🐛 Bug

Cross linked from https://github.com/pytorch/functorch/issues/207

## To Reproduce

https://gist.github.com/zou3519/73a6189e21561f6ef5b42874e8a4826f

## Expected behavior

It should either work or raise an error.

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @albanD @gqchen @pearu @nikitaved @soulitzer @Lezcano @Varal7

[2021-11-09 15:27] zou3519 commented on #62320
cc @wconstab @bdhirsh do you think this is useful for LazyTensor? (It is a part of the pitch in the issue body). For dynamic upper bounds, instead of using the actual upper bound (which could be pretty high), if a user passes in a `size` argument then there will be a more realistic static size.

[2021-11-09 15:37] zou3519 opened #68063 "pytorch/ExampleRepo"
## 🚀 Feature

A `pytorch/ExampleRepo` template repository that has a working C++ extension build, CI setup, and binary build pipeline and is tested on a nightly or weekly basis.

## Motivation

Out-of-tree repos are becoming more popular among PyTorch developers (functorch, MaskedTensor, xFormers) and are important for developer velocity while prototyping new features. The main pain point for out-

[2021-11-09 15:40] adefossez opened #68064 "In place `or` operator doesn't work in torchscript"
## 🐛 Bug

When using inplace `or` operator while indexing a tensor, the operator has no effect.

## To Reproduce

Steps to reproduce the behavior:

1. Run the following code
1. Observe the assert failing

[code]

## Expected behavior

I would have expected the inplace `|=` operator to change the value of `x`.

## Environment

PyTorch version: 1.10.0
Is debug build: False
CUDA used to build PyTorch

[2021-11-09 15:43] rbracco commented on #34537
Any update on this? It would be great to be able to access the individual heads for analysis as requested here and in #47583

[2021-11-09 15:46] dhruvbird opened #68065 "Incorrect return type annotation for _get_mobile_model_contained_types"
## Incorrect return type annotation for _get_mobile_model_contained_types

https://github.com/pytorch/pytorch/blob/master/torch/jit/mobile/__init__.py#L109

Specified int, but should probably be `set[str]`

[code]

[2021-11-09 15:51] Toukenize commented on #67426
Any updates on this?

[2021-11-09 15:54] fingertap commented on #43259
An walkaround to this problem without is to multiply the sum of all parameters with zero and add it to the final loss.

[2021-11-09 15:55] #67848 closed

[2021-11-09 16:10] mrshenli commented on #66378
another instance: https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-bionic-rocm4.3.1-py3.6-test2/9120//console

[2021-11-09 16:38] malfet commented on #68059
Same folder is missing from both whl and conda packages, but my strong hunch that is has something to do with the fact, that files in that folder are not all referenced from the parent folder.

[2021-11-09 16:46] zou3519 commented on #68048
hi pri for silent correctness

[2021-11-09 16:50] zou3519 commented on #68046
Can you please give us more information? Do you have a self-contained script which we could use to reproduce the problem?

[2021-11-09 16:51] zou3519 commented on #67968
Can you please tell us your compilation command? Could you also run and paste the output of https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py ?

[2021-11-09 16:56] Luthaf commented on #65000
I have the same issue, and it seems to be related to the registration of the constructor. The library loads fine with this code:

[code]

but if I define a constructor I get the same error message `Type c10::tagged_capsule<Example> could not be converted to any of the known types`.

[code]

---

This code works fine with torch 1.9, but fails with torch 1.10 or the latest nightly (torch-1.11.0.dev2

[2021-11-09 17:14] vadimkantorov opened #68066 "Caching for cpp_extension load_inline seems not working"
Original post: https://discuss.pytorch.org/t/cpp-extension-load-inline-uses-nvrtc-or-spins-processes-caches-output/136154

I got the following lines witnessing compilation at every run of the program (at import of roipool_contextlocnet.py):
[code]

[roipool_contextlocnet.py.txt](https://github.com/pytorch/pytorch/files/7506717/roipool_contextlocnet.py.txt)

Also, can we do something to avoid speci

[2021-11-09 17:41] mruberry commented on #68020
Notes from linalg meeting:

- we can't programmatically detect this so it will require manual review
- suggestion: throw an error/warning whenever this occurs and run the OpInfo and/or linalg tests
- some tests disable TF32 matmuls so that would need to be changed or different tests run
- there are no known cases where TF32 should be enabled for a linear algebra operation
- torch.matmul and torch.

[2021-11-09 18:01] zhaojuanmao commented on #67972
@cbalioglu would you please help with the TCP store question?

[2021-11-09 18:02] jaewonlee-fb opened #68070 "C++ at::Tensor's pinned_memory status is not printing out correctly."
## 🐛 Bug

We can create an at::Tensor with pinned memory for better GPU transfer performance etc.
Despite we create an at::Tensor with pinned memory option, the tensor's options (_my_tensor.options()_) say that it is _not_ pinned. However, my_tensor.is_pinned() returns 1 which seems to imply that the pinning is actually performed.

## To Reproduce

[code]

r.options() say pinned_memory = False, wh

[2021-11-09 19:01] seemethere commented on #66178
# 11/2 - 11/9
## No PR signal
- https://github.com/pytorch/pytorch/pull/67197
  - PR CI didn't fail but master CI did end up failing
- https://github.com/pytorch/pytorch/pull/67258
  - CUDA CI didn't run due to `ciflow` not parsing `ciflow rerun` command correctly, see https://github.com/pytorch/pytorch/pull/67258#issuecomment-961328918
- https://github.com/pytorch/pytorch/pull/67492
  - No real R

[2021-11-09 20:08] #59478 closed

[2021-11-09 20:14] NivekT opened #68079 ""test_nadam" is flaky on ROCm"
## 🐛 Bug

`test_nadam` within `test_optim` (pytorch-linux-bionic-rocm4.3.1-py3.6-test2) seems to be flaky. It occasionally fails on the master branch. I only started noticing the issue today (Nov 9th, 2021), so I'm unsure how long this has been happening for.

Here is the error message:
[code]

Here are two runs that have failed within the past few hours today:

[Run 1](https://ci.pytorch.org/jenk

[2021-11-09 20:19] andrecavalcante commented on #47039
Hi, I am also getting slow results comparing 3090 and the 1080ti. I have built PyTorch and torchvision from source, CUDA 11.5 and cudnn 8.3.0.98, nvidia driver 925. Are these new versions optimized for the 3090? My results are below. Thanks everybody!

NVIDIA GeForce RTX 3090
Conv1d model, benchmark=False, 0.353ms/iter
Conv1d model, benchmark=True, 0.353ms/iter
Conv2d model, benchmark=False, 1.724

[2021-11-09 20:30] driazati opened #68081 "[rfc] Target Determinator"
This is a followup to #63781. The approach there has a few problems, namely that it was focused too narrowly on avoiding tests. While this might be good in the future (i.e. some codebases want to run a limited subset of tests and are OK with the increased revert risk), we need a more fundamental approach to dynamically controlling workflows that run on PRs.

## Goal

Decrease time to signal (TTS)

[2021-11-09 20:38] KeygenLLC commented on #17023
Same here in East USA. Worse on laptop than desktop, but slow either way. 1Gbit connection, averaging 50KB/sec download using anaconda on mac os Big Sur. It's the only install that goes this slow. Larger installs go very fast in the same environment. 🤷🏻‍♂️

[2021-11-09 20:45] jeffdaily commented on #68079
We just caught this, as well, and I commented in the same PR as indicated above.

https://github.com/pytorch/pytorch/pull/67847#issuecomment-964505576

[2021-11-09 20:49] H-Huang commented on #68002
Hi @adamjstewart, thank you for raising the issue. This is indeed a bug.

By default MacOS has `USE_TENSORPIPE=OFF` which is causing the classes to not be found. #68080 will correct this so that the classes are ignored. As a workaround you can manually set the environment variable to `USE_TENSORPIPE=ON` along with your current `USE_DISTRIBUTED=ON`. We will fix this ASAP so you do not need to manua

[2021-11-09 21:00] johnnync13 commented on #47702
<img width="1512" alt="Captura de pantalla 2021-11-09 a las 21 53 58" src="https://user-images.githubusercontent.com/22727137/141003850-93f490dc-6a4f-4f40-adbd-b72550c44b18.png">
the run time became slower. With a batch size of 72, the memory used by the python process was around 32GB.

use this library https://github.com/tlkh/asitop is like htop in linux

In pytorch the GPU is not working...

[2021-11-09 21:56] xuzhao9 opened #68086 "TorchBench V1 performance signal on 20211106"
TorchBench V1 has detected a performance signal on 20211106.

Base PyTorch version: 1.11.0.dev20211105+cu102
Affected PyTorch version: 1.11.0.dev20211106+cu102

The following TorchBench tests are affected (positive means longer latency and worse perf):

- test_eval[LearningToPaint-cuda-jit]: +15.35136%
- test_eval[mnasnet1_0-cuda-jit]: -96.00715%
- test_eval[mobilenet_v3_large-cuda-jit]: -50.97254

[2021-11-09 22:00] xwang233 commented on #68086
Thanks for the report. Does the positive number mean better or worse performance?

[2021-11-09 22:03] xuzhao9 commented on #68086
Thanks for the quick response! Positive number means worse performance (increased latency of the test)

[2021-11-09 22:10] wanchaol opened #68088 "[distributed] Restructure our distributed collective tests"
Right now our distributed tests are separating into several different categories, and they are testing different things, for example:

1. test_c10d_nccl/gloo.py: right now testing barebone APIs of ProcessGroupNCCL/Gloo, creating barebone ProcessGroup and pg.allgather, etc.
2. distributed_test.py: testing user facing APIs, with `dist.init_process_group`, `dist.allgather`, etc.

Ideally we want to t

[2021-11-09 22:28] thiagocrepaldi commented on #68003
I could repro this. Indeed the `output` shape changes from `[batch,3,16,16]` to `[batch,Gatheroutput_dim_1,Gatheroutput_dim_2,Gatheroutput_dim_3]` when pytorch is upgraded from 1.8.2 to 1.10 or newer

[2021-11-09 23:02] pritamdamania87 commented on #68088
@rohan-varma @mrshenli We should figure out which tests go in which file and a good story around what each test file is responsible for. My feeling is that we should have one test file `test_c10d.py` that is run for both NCCL and GLOO, similar to how we have rpc_test.py that is run for multiple backends. Also, we should have all of our tests run the user facing `init_process_group`, `dist.all_redu

[2021-11-09 23:09] thiagocrepaldi commented on #68003
@jiafatom Is this behavior expected when `dynamic_axes=None`?

[2021-11-09 23:16] xuzhao9 commented on #68086
Result of testing PR #68087
[code]

[2021-11-09 23:22] #68047 closed

[2021-11-09 23:34] seemethere commented on #64124
Example for this for users wanting to opt in to macOS workflows:

[code]

[2021-11-09 23:45] thiagocrepaldi commented on #68003
I noticed that if you removed the `dynamic_axes` argument from `export()`, output shape will be `[2,3,16,16]`

[2021-11-10 00:55] 1R053 commented on #47702
I think it‘s fair to say that the performance per watt is roughly equal or even slightly better on the M1. So unless you run a 400W Laptop the M1 will provide the best possible laptop performance currently available I think.

[2021-11-10 01:04] #67415 closed

[2021-11-10 01:06] johnnync13 commented on #47702
The good thing about the m1 Max is that you can mount models up to 64GB consuming between 35 ~ 45W, and especially if you need to do something fast and you are not at home with your GPU or you do not have a server access or Internet connection.  It works faster than the Google Collab K80. The strong point is the unified memory.

[2021-11-10 02:29] malfet commented on #68063
Isn't that the one: https://github.com/pytorch/extension-cpp

[2021-11-10 02:38] TeddyHuang-00 commented on #47702
I ordered the M1 Max 64G model the day it's available, and it's arriving soon. But I'm new to ML and pytorch, so just wonder are we able to benefit from unified memory, as there should be no need to move tensors from CPU to GPU and backwards, right? Is Metal being able to achieve this stuff, 'cause it sounds really cool to me. 😄

[2021-11-10 02:45] leftthomas opened #68102 "Can not guarantee reproducible for `nn.ReflectionPad2d`"
[code]
this code will give different results each execute, but if we remove `nn.ReflectionPad2d(3)`, then the results will be same for every execute.

[2021-11-10 03:23] Kyeongpil commented on #59973
Hi, I'm facing a problem related to this issue.
I want to input parameter groups into ZeroRedundancyOptimizer like:
[code]

Is there any progress on this issue? Or how can I input as an Iterable of Dict-like parameters?

[2021-11-10 04:21] anilsh commented on #5858
I have only one GPU and the pytorch code got stuck at the line where I was doing normalization & inference and didn't return anything, it was ended in timeout error. Following worked for me:

 1. Using spawn start method
    `import torch.multiprocessing as mp`
`    mp.use_start_method('spawn', force=True)  # force is essential as it was returning another error that context has already been set`

[2021-11-10 04:23] anilsh commented on #7485
Following worked for me:

1.  Using spawn start method
[code]
2.  Use main function (`if __name__ == '__main__':`) at the very first line even before imports (many answers on stackoverflow show that start() and join() method should be in the main and it works well. But I guess I am using several scripts and modules so it is not identifying the proper main so I had to include it in the first line o

[2021-11-10 04:32] H-B-L opened #68104 "DDP is not working with Pytorch Lightning"
## 🐛 Bug

I am using DDP in a single machine with 2 GPUs.  when I am running the code it stuck forever with the below script. The code is working properly with dp and also with ddp using a single GPU.

GPU available: True, used: True
TPU available: False, using: 0 TPU cores
LOCAL_RANK: 0 - CUDA_VISIBLE_DEVICES: [0,1]
Using native 16bit precision.
LOCAL_RANK: 1 - CUDA_VISIBLE_DEVICES: [0,1]
Using n

[2021-11-10 04:42] andwgu commented on #59973
I think the workaround is to pass one of the `param_group`s through the constructor and to use `ZeroRedundancyOptimizer`'s `add_param_group()` method for the other `param_group`. The following pseudocode is off the top of my head since I do not have the ability to reproduce the code right now:
[code]
Let me know if this works or if there are any further issues!

[2021-11-10 04:44] GuillaumeLeclerc opened #68105 "Some type combinations of cublas gemm are not supported when they should"
## 🐛 Bug

`torch.mm/addmm` are calling `cublasGemmEx` under the hood. However, they are type combinations that are claimed to be non-supported by pytorch when they should work fine:

Example:

`CUBLAS_COMPUTE_32F` algorithm for gemm is claimed to support Half@Half + Float. But fails in pytorch.

See: https://docs.nvidia.com/cuda/cublas/index.html#cublas-GemmEx

## To Reproduce

[code]

## Expected

[2021-11-10 05:18] xwang233 commented on #68086
Conv-Bias-Relu fusion was **disable** on cuda 10.2 + cudnn 7.6.5 due to a unit test failure. See https://github.com/pytorch/pytorch/pull/65594#issuecomment-948989177.

The failure was only observed on CI machine of M60 + cudnn 7.6.5. I've tested that on P100, V100 on cudnn 7.6.5 and there was no problem, also no problem on cuda 11.x + cudnn 8.x on all platforms.

I support having the fusion **enab

[2021-11-10 05:47] blueardour commented on #63004
Hi, is there any plan to add the 'ignore_index' rather than 'ignore_target' feature?  I also met an issue which could be solved by 'ignore_index' on a classification task.

[2021-11-10 07:14] byronyi commented on #62683
A short repro for detectron2:

[code]

gives

[code]

 cc @ppwwyyxx

[2021-11-10 07:24] simaki opened #68110 "zeta(1/2) returns nan"
## Bug

The [Riemann zeta function](https://pytorch.org/docs/stable/special.html?highlight=zeta#torch.special.zeta) at 1/2 should be `zeta(1/2) = -1.46...` (See [WolframAlpha](https://www.wolframalpha.com/input/?i=zeta%281%2F2%29)) but [`torch.special.zeta`](https://pytorch.org/docs/stable/special.html?highlight=zeta#torch.special.zeta) returns `nan`.

This may be expected behavior but if so it wo

[2021-11-10 07:32] crcrpar commented on #67073
Retried `TORCH_CUDASPARSE_CHECK` in a custom extension and it worked without any changes.

The code used are as follows:

[code]

[code]

my environment is:
[code]

[2021-11-10 08:00] OliverFM commented on #68052
Which one is the next highest priority? Adam?
I would like to try do another at some point in the next week or two

[2021-11-10 08:24] 612twilight commented on #56663
The code works well in torch==1.9.1. Maybe it can be closed.

[2021-11-10 08:46] mruberry commented on #68110
Thanks for reporting this issue, @simaki

[2021-11-10 09:34] #67601 closed

[2021-11-10 09:39] twmht commented on #52663
@ngimel

Do we have torch version compiled with `-Xcompiler -fno-gnu-unique`?

[2021-11-10 09:41] vycezhong opened #68112 "Question about wait() for asynchronous collective operations with NCCL"
I notice that the semantics of `wait()` for CPU collectives and CUDA collectives are different as shown in the documentation (https://pytorch.org/docs/stable/distributed.html#synchronous-and-asynchronous-collective-operations).

I don't get the point about "the output can be utilized on the default stream without further synchronization". In my understanding, returning from `wait()` does not mean

[2021-11-10 09:47] albanD commented on #68052
Adam sounds like a good candidate. I re-ordered the list above roughly to be in order.

[2021-11-10 10:09] albanD commented on #68058
Hi,

Yes the LinearLR has a typo that was fixed in master: https://pytorch.org/docs/master/generated/torch.optim.lr_scheduler.LinearLR.html?highlight=linearlr#torch.optim.lr_scheduler.LinearLR

We can add a small formula there to improve the explanation, we would accept a PR adding that to the doc!

[2021-11-10 10:21] Jakobhenningjensen commented on #68058
I would love to provide a PR - the issue is, that I'm strugling to understand how the learning-rate is updated (due to the explanations above) thus providing a PR I'm not 100% certain of would a bit ...,

[2021-11-10 10:32] albanD commented on #67426
HI,

Sorry for the delay. I think the problem is that you should be using `get_last_lr()` to get the last computed learning rate as per the warning that you see in your script.
The `get_lr()` is expected to be called within the step function itself only.

[2021-11-10 10:35] albanD commented on #68058
Yes the computation is a bit tricky.
It is mainly doing a linear interpolation between start_factor * lr at epoch 0 and end_factor * lr at epoch total_iters. I'm not sure if there is a simple formula to convey that?

[2021-11-10 10:39] albanD commented on #67887
We should:
- properly expose the `pool` submodule in `torch.multiprocessing`
- Clarify the multithreaded expectation with autograd (and Tensor objects in general)

[2021-11-10 11:20] mruberry commented on #67763
Thanks for the feature request, @zpks!

[2021-11-10 11:35] mruberry commented on #67450
There might be small CUDA memory leak checks occurring very rarely on other tests, too. Maybe @malfet's idea to ignore tiny leaks is correct, or maybe we should just add a retry to the leak checker.

[2021-11-10 11:41] jdsgomes commented on #67391
Closing issue as the changes have been merged to master: https://github.com/pytorch/pytorch/blob/master/torch/hub.py

[2021-11-10 11:41] #67391 closed

[2021-11-10 11:42] mruberry commented on #67682
This is unexpected as we do support bfloat16 matrix multiplications on CUDA 11 or later.

cc @ptrblck -- maybe a build issue?

[2021-11-10 11:47] ptrblck commented on #67682
Unsure, if it's a build issue, as I cannot reproduce the issue in a current source build (CUDA11.5) as well as using the 1.10.0+cu113 pip wheels and this code snippet:
[code]
Both setups return a valid tensor without raising the error on an A100.

@kimjiye2 could you post the output of `python -m torch.utils.collect_env`, please?

[2021-11-10 11:52] kimjiye2 commented on #67682
I tried this on two setups,

one is :
PyTorch version: 1.10.0+cu102
Is debug build: False
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.4 LTS (x86_64)
GCC version: (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
Clang version: Could not collect
CMake version: version 3.10.2
Libc version: glibc-2.17

Python version: 3.6.13 |Anaconda, Inc.| (default, Jun  4 2021, 14:25:59)

[2021-11-10 11:54] ptrblck commented on #67682
Both your current setups are using CUDA 10.2, which isn't supporting bfloat16.

[2021-11-10 12:02] Kyeongpil commented on #59973
@andwgu Thank you for your considerate answer!
I tested your proposed code, and there seems to be no error :) Thank you!

[2021-11-10 12:08] mruberry commented on #39872
Closing due to age and lack of reproduction. If this is still occurring and you can provide a script that at least sometimes reproduces the issue then please file a new issue.

[2021-11-10 12:08] #39872 closed

[2021-11-10 12:20] Lezcano commented on #67763
We should be able to do this, as we have the digamma function: https://pytorch.org/docs/stable/special.html#torch.special.digamma

Now, this function will be quite unstable, as it grows **very** fast for real inputs. Same for points near a negative number, as the gamma function has poles there.

Knowing what's the application would help us understanding better how to go about this.

In the meantim

[2021-11-10 13:07] igormcsouza opened #68114 "CPU Memory Deallocation"
Hello! :D First of all, thank you all for this wonderful project!

Well, I'm using a package that uses pytorch models to do their job (easyocr/JaiddedAI). The problem is that, when a new model is loaded, its resources are kept in my memory even though I deallocated manually (del model) not sure why that is a thing since I'm currently using a CPU, and the cache tensor way is a GPU thing. Anyone kno

[2021-11-10 13:24] nils-werner commented on #43874
What is the deprecation plan with this? Do you want to eventually

 1. get rid of `Tensor.__floordiv__` entirely, or
 2. change

[code]

    to become

[code]

[2021-11-10 13:28] IvanYashchuk commented on #65431
Fixed with https://github.com/pytorch/pytorch/commit/6f0a1f2b8dccc7d734c912768cffcd010b930c1a

[2021-11-10 13:28] #65431 closed

[2021-11-10 13:28] igormcsouza commented on #68114
I found those not so useful articles about that on the pytorch discussions.

https://discuss.pytorch.org/t/how-to-clear-cpu-memory-after-training-no-cuda/107990/9
https://discuss.pytorch.org/t/torch-cuda-empty-cache-replacement-in-case-of-cpu-only-enviroment/60756

And this one in another forum.

https://forum.onefourthlabs.com/t/how-to-cleanup-pytorch-cpu-cache/7459

But none of them helped.. Eve

[2021-11-10 13:32] ChenJoya opened #68116 "In-place indexing like tensor.resize_"
## ❓ Questions and Help

Hi, I wonder if there is any method to do in-place indexing to “crop” the tensor without extra memory cost.

For example, I have a tensor x = torch.rand(2,3,4, device=“cuda”), when we index x = x[:,:,0::2], in my opinion, we only return a view of the original data, and the memory cost is still O(2x3x4). We may also use x = x[:,:,0::2].clone(), but this will be with extra m

[2021-11-10 14:06] mruberry commented on #43874
@nils-werner For now we encourage users to follow the deprecation note and replace uses of floor division with a call to `div()` and the appropriate rounding mode.

In the future I expect we'll update `floor_divide()` to work as it does now but throw an error if the result would differ from floor division. This may be a significant performance penalty for models that have not updated. After that w

[2021-11-10 14:20] nils-werner commented on #43874
Hm, that is unfortunate, because I would guess that a very common scenario for floor div is in indexing

[code]

which now becomes very cumbersome and unreadable

[code]

[2021-11-10 14:36] mruberry commented on #43874
Yep; it's a pain when operators are implementing incorrectly and painful that we have to change them.

[2021-11-10 14:39] zou3519 commented on #68063
@malfet it doesn't have a CI or build binaries. Maybe we could use that as the base?

[2021-11-10 16:14] nikitaved opened #68117 "`nn.functional.max_pool2d`: JIT shape checks fail in OpInfo tests."
## 🐛 Bug

The shape checks fail with `stride=None`. Discovered in https://github.com/pytorch/pytorch/pull/68075.

CC @mruberry

cc @mruberry

[2021-11-10 16:23] anjali411 commented on #65950
cc. @kurtamohler

[2021-11-10 16:28] gchanan commented on #68102
have you seen https://pytorch.org/docs/stable/notes/randomness.html?  What happens if you turn on reproducible algorithms there?

[2021-11-10 16:55] nikitaved commented on #67657
I am taking this. The backward method is a custom kernel which was not tested. We can replace this kernel with a combination of reshape and gather.

[2021-11-10 16:55] nikitaved commented on #67658
I am taking this. The backward method is a custom kernel which was not tested. We can replace this kernel with a combination of reshape and gather.

[2021-11-10 17:06] luisArandas commented on #67955
@malfet thank you for your support.

Unfortunately I won't be able to switch to version 1.10. That would require changing some of the code I have instantiating the neural net. I tried upgrading the `conda` package to `1.10.0-cuda112py39h0bbbad9_0` and got the error
`RuntimeError: requires_grad_ is not supported on ScriptModules.` Not really sure if it is meaningful to spend time trying to fix this

[2021-11-10 17:29] discort opened #68120 "_all() takes 2 positional arguments but 4 were given. Occurred when translating all"
## 🐛 Bug

[code]

## To Reproduce

[code]

## Expected behavior

[code]

## Environment

[code]

## Additional context

cc @VitalyFedyunin

[2021-11-10 17:35] jiafatom commented on #68003
If we don't set `dynamic_axes`, then the input shape is static, and the output shape is also static `[2,3,16,16]`, which is expected. When `dynamic_axes` set, current onnx shape inference cannot give the correct result for `Gather`, therefore it gives the output the dynamic shape. So we need either fix shape inference in onnx repo or make changes in exporter.

[2021-11-10 17:46] Krovatkin commented on #67646
cc: @suo
@janeyx99 the job fails a different test suite with the same error : `RuntimeError: test_jit_fuser_te failed! Received signal: SIGIOT` this looks way more serious, since we NNC is what we have on by default. I hope someone from NNC team cc: @ZolotukhinM @navahgar @huiguoo can take a quick look?

In the meantime, if `test_jit_fuser_legacy` is more common, we should probably disable that wh

[2021-11-10 18:01] ngimel commented on #52663
This was (mostly) solved in pytorch 1.9

[2021-11-10 18:08] ZolotukhinM commented on #67646
@Krovatkin , are you talking about this link? https://github.com/pytorch/pytorch/runs/4096152857?check_suite_focus=true

I see test_jit_fuser_legacy failing and dont see any mention of test_jit_fuser_te. Am I reading it wrong?

[2021-11-10 18:34] mruberry opened #68125 "DISABLED test_addmm_baddbmm_overflow_cuda_float16 (__main__.TestLinalgCUDA)"
This test is failing consistently on _win-vs2019-cuda11.3-py3 / test (default, 2, 2, windows.8xlarge.nvidia.gpu) but apparently no other jobs. Failure snippet:

[code]

Platforms: windows

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @mruberry @jianyuh @nikitaved @pearu @walterddr @IvanYashchuk @xwang233 @Lezcano

[2021-11-10 18:38] dexios1 commented on #47702
Awweeeeesssoooooomeee! @ openinig up. Looking forward to it!!!
Thanks @soumith!!

[2021-11-10 18:59] entangledloops commented on #67740
I am able to reproduce this with a fresh install of PyTorch. Is there any additional information you'd like me to collect? I could also retry with a newer version of Python.

[2021-11-10 19:15] AdnanMunir294 commented on #23393
Where it should write I have the same problem using raspberrypi please help me

[2021-11-10 19:25] Krovatkin commented on #67646
@ZolotukhinM My bad, sorry this one : https://github.com/pytorch/pytorch/runs/4123838074?check_suite_focus=true

[2021-11-10 19:32] yinghai commented on #68059
@malfet any more findings, what should we do to proceed?

[2021-11-10 20:03] Krovatkin commented on #67646
@suo @janeyx99   https://github.com/pytorch/pytorch/pull/68129

[2021-11-10 20:06] Krovatkin commented on #67646
I think so too.

I'm not sure it's related I was trying to think of recent changes that would apply to both legacy and PE and NNC and legacy fuser

https://github.com/pytorch/pytorch/pull/63939

[2021-11-10 20:13] #68002 closed

[2021-11-10 20:47] yaadhavraajagility opened #68132 "Torchlib: Cannot instantiate a float tensor with {} in constructor"
## 🐛 Bug

In this piece of code:

[code]

This will exception with
[code]

The way to fix this is to do one/(float)2. which seems odd.

[2021-11-10 21:07] yaadhavraajagility commented on #68132
Okay it turns out you can do 2.f

[2021-11-10 21:07] #68132 closed

[2021-11-10 21:24] husthyc commented on #66993
Hey @darkThanBlack and @bailaohe , the root cause is found. `UnsafeMutablePointer()` doesn't guarantee the converted pointer is still pointing to the allocated memory. Therefore you may need to copy the buffer with allocating memory and pass the new pointer to the PyTorch module.

You can replace
[code]
with
[code]
then the output will be expected. Fixes for the demo project are coming out. Thanks

[2021-11-10 21:29] #66993 closed

[2021-11-10 21:33] zemenfes-afk commented on #7485
from qunetsim.components import Host, Network
from qunetsim.objects import Message, Qubit, Logger
from qunetsim.backends import EQSNBackend
Logger.DISABLED = True
import torch.multiprocessing as mp

# create the EQSN backend object
backend = EQSNBackend()

def protocol_1(host, receiver):
    # Here we write the protocol code for a host.
    for i in range(5):
        s = 'Hi {}.'.format(receiver)

[2021-11-10 21:33] nikitaved commented on #68117
A patch suggested by @eellison will fix it oncee https://github.com/pytorch/pytorch/pull/68075 is merged.

[2021-11-10 22:10] BowenBao commented on #67302
`_optimize_trace` is internal api, and should not be called after `torch.onnx.export`.

[2021-11-10 22:14] BowenBao commented on #68120
@discort should be already resolved by #67270. Tested with latest pytorch nightly and this passes. Closing.

[2021-11-10 22:14] #68120 closed

[2021-11-10 22:19] BowenBao commented on #67320
Hi @mengpengfei , `grid_sample` is not officially supported by ONNX. It is supported in ONNX Runtime as contrib op. Feel free to checkout https://github.com/XiyinOSS/onnxruntime/blob/d8abe5de145145b6e8746d460c1b9ae8fd1903a5/tools/python/register_custom_ops_pytorch_exporter.py#L59 for support.

[2021-11-10 22:30] malfet commented on #68059
Sorry for the delay, answer is much simpler: only proper Python packages are included i the wheel file, and each package must have `__init__.py` at the top level

One can quickly check that package is missing from the list by running
[code]
But is added there after empty `__init__.py` is added to the folder

[2021-11-10 23:09] BowenBao commented on #66786
@siahuat0727 Thanks for reporting. I believe the parameter name issue was resolved in later PyTorch versions. However we discovered another bug in our constant folding from your repro, and it will be resolved by #68140. Afterwards the constant folded weights should still retain meaningful names.

[2021-11-10 23:13] BowenBao commented on #66537
@dunesand are you using sparse tensors in this model?

[2021-11-10 23:16] #66549 closed

[2021-11-10 23:17] BowenBao commented on #66250
This is tricky to resolve in PyTorch because afaik there are also projects that depend on caffe2 with onnx.optimizer (through older version of onnx).

@jcwchen can the user use older onnx version accompanying caffe2? On the other hand I don't recall caffe2 supports onnx opset version > 10.

[2021-11-10 23:19] BowenBao commented on #58460
Closing. Feel free to leave additional comments or re-open.

[2021-11-10 23:19] #58460 closed

[2021-11-10 23:58] #68059 closed

[2021-11-11 00:03] Hilbert-Yaa commented on #67979
Hi, I just got my hands on this project, and I think this is a good starter task for me. Could you assign this issue to me?

[2021-11-11 01:22] mruberry commented on #67979
You don't need the issue assigned to work on it -- anyone can work on any issue

[2021-11-11 01:23] davidleon opened #68144 "Unstable buggy calculation."
import torch
from torch.autograd import Variable
import torch.optim as optim
l=torch.Tensor([1.01, 1.01, 3, 3])

l=Variable(l.float(), requires_grad = True)
optimizer = optim.Adam([l], lr=0.01)
optimizer.zero_grad()

while True:
    l1 = l/(torch.cat([l.mean().unsqueeze(0),l]).cummax(0).values[1:])
    t = l1>=1
    t1 = l1 <1
    diffstate = l1[0:-1]==l1[1:]
    tsum=t.cumsum(0).float()
    subst

[2021-11-11 01:31] llv22 opened #68145 "Do pytorch 1.10.0 possibly support cuda 10.1?"
## ❓ Questions and Help

Just wonder if we can downgrade cuda version for pytorch 1.10.0 from 10.2 to 10.1.
Though it seems just a little upgrade for cuda version, there is no official cudnn built for 10.2 on macOS system. That's really weird...
My question is that

in pytorch 1.10.0, do we have certain features closely coupled with cuda 10.2? if no, perhaps such degradation is possible. could you

[2021-11-11 02:09] pritamdamania87 commented on #68104
This might potentially be a lightning issue rather than a DDP issue, can you file the issue on the lightning repo first: https://github.com/PyTorchLightning/pytorch-lightning and if the investigation there reveals a DDP issue we can look into it.

Alternatively, if you have a repro just using DDP (without lightning), we can look into that.

[2021-11-11 02:13] leftthomas commented on #68102
@gchanan , it reports a runtime error
[code]

[2021-11-11 02:23] pritamdamania87 commented on #68112
CUDA's programming model is asynchronous and by default everything runs in parallel, however in some cases we need sequential execution due to dependencies between two computations. For this purpose CUDA has streams: https://developer.download.nvidia.com/CUDA/training/StreamsAndConcurrencyWebinar.pdf, where the operations on a single stream are executed in the order that they are scheduled on that

[2021-11-11 02:56] fumihwh commented on #62237
I face a bug also related to `torch.nn.functional.interpolate` but with `linear` mode.

[code]

Get different result in 1.8.1 and 1.10.0
[code]
[code]

[2021-11-11 03:29] Hilbert-Yaa commented on #67979
Haha got it.

[2021-11-11 03:52] wukong1992 commented on #68052
Hey!
I am new comer, and want to contributing to torch. And which optim else need to be done，i will spend some time for the PR。

[2021-11-11 04:26] H-B-L commented on #68104
Filed on the lightning repo with issue #10471.

[2021-11-11 04:56] gioipv commented on #61743
Yes, I also meet this problem.
I use [DCNv2](https://github.com/MatthewHowe/DCNv2) pakage install from source for my model. When converting from pytorch to torchscrip. It will raise an error
[code]
I hope that torchscript will support this feature in the next version.

[2021-11-11 06:16] MattYoon commented on #17023
I was installing with conda on Windows10, and it got stuck as well. I ended up installing with pip instead.

[2021-11-11 06:37] fanshunguo opened #68163 "wsl2 install failed from source code"
## environment
OS info: wsl2(ubuntu 20.04) in win10
python version: 3.9.7
conda: 4.10.3
pytorch branch: master(last commit id 94b6fa6f8b0cd730ad7401dc52880a9eb8a6e405)
cmake version 3.19.6
c++ (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0

## command
conda install astunparse numpy ninja pyyaml mkl mkl-include setuptools cmake cffi typing_extensions future six requests dataclasses
git submodule update --ini

[2021-11-11 07:00] vycezhong commented on #68112
@pritamdamania87  Thank you so much for your detailed explanation! It makes clear now!

[2021-11-11 07:00] #68112 closed

[2021-11-11 07:43] mstoelzle commented on #47702
Thanks a lot @soumith for the update and the great news.

Will the new approach you are implementing to leverage the GPU for PyTorch be based on a framework such as Metal and thus also be compatible with Intel macs? Or will it directly access the GPU and thus be limited to Apple Silicon / M1?

[2021-11-11 07:44] mszhanyi commented on #67844
It looks that createevent isn't invoked.
 https://github.com/pytorch/pytorch/blob/a229c3e51a22420d57cfd9e638088da0d8894bfd/aten/src/ATen/MapAllocator.cpp#L115

[code]

[2021-11-11 07:45] OliverFM commented on #68052
Hey @wukong1992! Welcome!
I am also new here, however I implemented the fix for SGD, and opened #68164 for Adam.

In my opinion, the best first step is to setup the torch repo locally and run tests. After that, you'd probably want to pick one of the optimizers and mention here that you are working on that implementation.
You can look at the existing implementation in SGD for reference on how this

[2021-11-11 07:59] jianyuh commented on #29019
Also link https://github.com/pytorch/pytorch/pull/42215 for mean and max support.

[2021-11-11 08:03] cascgu opened #68165 "Upgrade NCCL2.11.4 in the new PyTorch"
## 🚀 Feature

Upgrade  NCCL 2.11.4 in the next version of PyTorch
## Motivation

Only NCCL 2.11.4 + supports WSL2 (this is also described in NVIDIA's official documents, https://docs.nvidia.com/cuda/wsl-user-guide/index.html ）. Now, if WSL2 users want to use NCCL, they need to download the source code of pytorch to recompile, which takes a lot of time, and there are still many uncertainties in the

[2021-11-11 08:11] rasemailcz commented on #67992
This is the whole base_tester.py file from from the stack trace:

[code]

[2021-11-11 08:20] mlowell28 commented on #67844
I am running windows I and I just got it randomly after a few epochs of training. What do you need?

[2021-11-11 08:31] bitosky opened #68167 "Why there isn't a `set_to_none` option for `zero_grad()` in libtorch?"
When I call `zero_grad()` of a module, the weight tensors will have their all-zero gradient tensors. In python version pytorch, I can set `set_to_none` to `True`, then the gradients will be set to `None`.  It's convenient for saving memory in some cases.

But I found there isn't a `set_to_none` option for `zero_grad()` in the C++ version pytorch. Why it isn't the same as the python version API? An

[2021-11-11 09:16] mszhanyi commented on #67844
I could reproduce it stably now.
So far, the reason is OpenEvent is called while CreateEvent not called.
https://github.com/pytorch/pytorch/blob/a229c3e51a22420d57cfd9e638088da0d8894bfd/aten/src/ATen/MapAllocator.cpp#L115-L117

[2021-11-11 09:37] xwang233 commented on #67073
Closed as fixed. Thanks @crcrpar ! 😄

[2021-11-11 09:37] #67073 closed

[2021-11-11 09:38] v0dro commented on #67513
Can you provide a test for this? I used the following on master and it seems to pass:
[code]

[2021-11-11 10:31] nonconvexopt commented on #68050
[#29044](https://github.com/pytorch/pytorch/issues/29044)
FYI, It seems that the issue was already discussed. It is my bad.
However, according to the thread, it was been pending for 2+ years.
May I solve the issue?

[2021-11-11 10:48] noppelmax opened #68169 "torch.histogram: Sum of PDFs is num of bins instead of 1"
## 🐛 Bug

The description of the `torch.histogram` functions denotes for the `density` parameter the following:

So I expected that the sum of the histogram is 1 if I set `density=True`. But it turns out that it is actually the number of bins. See the following code:

[code]
produces the following output
[code]

## To Reproduce

See code above

## Expected behavior

I expected the following output

[2021-11-11 10:59] toby-htx opened #68170 "Can’t convert PyTorch model to ONNX: Multiple dynamic inputs needed"
## 📚 Documentation

I can't find any documentation on this. I am new to PyTorch, and I built a custom BiLSTM model for sentiment analysis that uses pretrained Word2Vec embeddings. As the text I am passing in is variable in length, my **forward** method needs to pass in both the text and its length to use **pad_packed_sequence**:

` def forward(self, x, text_len):`

The problem is trying to convert