[2020-09-08 01:14] Speakingwardrobe commented on #44274
RTX 2070

[2020-09-08 01:46] peterjc123 commented on #44283
Although XNNPACK supports Windows, it requires clang. However, we don't have clang builds on Windows. Maybe we should provide one for LibTorch. What do you think? cc @ezyang @malfet

[2020-09-08 01:48] wang-ps commented on #44191
Solved

[2020-09-08 01:48] #44191 closed

[2020-09-08 01:54] beeqwe commented on #44285
I checked out the [java-demo](https://github.com/pytorch/java-demo/blob/master/src/main/java/demo/App.java)

And that's what interests me:

[code]

With the array of the **shape** everything is clear, this HEIGHT, WIDTH, CHANNELS of image.
But what about **data** array? How i can convert image to right array?

[2020-09-08 01:58] neverrop commented on #43045
@spandantiwari fixed after using the latest pytorch version, thanks.

[2020-09-08 01:58] #43045 closed

[2020-09-08 02:20] weizhenFrank commented on #43120
Thanks for your kind reply. I want to modify my model and I did not want my previous running script broken as my change of model python file. And I want to my running script should stick with the previous version.

[2020-09-08 02:33] ezyang commented on #44273
What version of PyTorch are you testing on?

[2020-09-08 03:01] xkxkx opened #44290 "scheduler.step"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2020-09-08 03:31] zyc-ai commented on #31758
https://github.com/STVIR/pysot/blob/master/experiments/siamrpn_r50_l234_dwxcorr/config.yaml

[2020-09-08 03:38] Godricly opened #44293 "Outdated Instruction"
https://github.com/pytorch/pytorch/blob/cce5982c4ceb77a0797e8bd4c717ebfec0681eab/tools/build_libtorch.py#L12

Such file does not exist anymore.

[2020-09-08 04:15] chrismaliszewski opened #44294 "Performance issue with FFTs, numpy vs pytorch"
I'm having a major problem with a performance of PyTorch while calculating FFT and things around it.

Code comparing times of both libraries:
[code]

Results:
[code]

In general, PyTorch is 3-4x slower than NumPy.

The main problems lay in the following things:
1. FFT which does not allow to set output shape param; because of that, the data must be prepared accordingly by zero-padding beforehand w

[2020-09-08 04:24] JeeKangaroo commented on #27212
+1

[2020-09-08 04:25] Coderx7 opened #44295 "Add the pytorch version to the saved models"
## 🚀 Feature
Embed a minimal metadata such as the current version of Pytorch by which the model is saved into the saved model.

## Motivation
Now that we see lots of breaking changes going from one version to the next, its best to at the very least have some metadata saved into the models itself, so they can be used to determine the next proper set of actions. for example, if I'm trying to load a

[2020-09-08 04:38] mcarilli commented on #42605
^

[2020-09-08 05:06] kshitij12345 commented on #44195
We do verify that behaviour in #42004.

Attaching screen-shot as the github doesn't render the file post 11k lines.
![image](https://user-images.githubusercontent.com/19503980/92435070-15805180-f1bf-11ea-924e-e7199a187262.png)

[2020-09-08 05:43] kurtamohler commented on #31758
@zyc-ai, ah thanks, I didn't realize it was inside the pysot repo. I tried putting your repro script in the `experiments/siamrpn_r50_l234_dwxcorr` directory and executing it from that location. I used the `$PYTHONPATH` setting that the pysot `README.md` tells me to use. However, I get this error:

[code]

Indeed, train.json does not exist for me:
[code]

But I noticed that there's a `readme.md` fi

[2020-09-08 06:13] zyc-ai commented on #31758
@kurtamohler Thank you very much for helping!

I'm not sure if you must download the dataset, but technically you can make some data by np.random()?

[2020-09-08 06:36] fwg3 opened #44298 "Bug"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2020-09-08 06:48] shawngao94 commented on #17023
It's really weird. When I used the university network (HK) to download, it was very slow. The speed of other downloading tasks is fast. When I tried to use my phone to download the package from https://anaconda.org/pytorch/pytorch/files using my mobile data, the speed was pretty good... What's wrong with that?

[2020-09-08 06:55] wangzbo opened #44299 "Input missing in the exported ONNX model and dynamic axes not working"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

I am using the pytorch onnx to export a nl2sql model:

    _input1 = torch.randn(1,24,300)
    _input2 = torch.ones((1,), dtype=torch.int64)*24
    _input3 = torch.randn(6,16,300)
    _input4 = torch.tensor([5,12,6,7,7,16],dtype=torch.int64)
    _input5 = torch.ones((1,), dtype=torch.int64)*6
    _input6 = torch.ones((1,), dtype=torch.in

[2020-09-08 08:38] fwg3 opened #44300 "💻"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2020-09-08 09:14] fwg3 commented on #44300
class UNNotificationSound : NSObject

[2020-09-08 09:14] hameerabbasi commented on #42515
Is there a simple example of 2-output ufuncs? I tried to find `divmod` but that doesn't exist either.

[2020-09-08 09:44] zhangyingbit commented on #44188
I find libtorch 1.1.0 doesn't support the interpolate operator,  libtorch 1.4.0 works for me, hope it can help you: )

[2020-09-08 09:44] #44188 closed

[2020-09-08 10:13] anyongjin commented on #1633
in my case, it's due to a circular import
(name of my python conflicts with other modules)

[2020-09-08 10:17] guyang3532 commented on #43897
What should I do to set up the codecov job for windows? @malfet  Any suggestion?

[2020-09-08 10:35] siddhinath081 commented on #37068
+1 for windows support highly appreciated!

[2020-09-08 10:44] byronyi commented on #43012
https://github.com/pytorch/xla/blob/master/torch_xla/utils/cached_dataset.py might serve as an example.

[2020-09-08 10:46] byronyi commented on #43012
And LRU caching might not be useful at all...AFAIK a lot training tasks require sampling without replacement, so there is little locality for the LRU cache algorithm to exploit.

In other words, for multi-epoch training, caching part of the dataset is no better than caching nothing.

[2020-09-08 11:04] msachin93 commented on #5406
Do running means and var get updated in the eval() mode?

[2020-09-08 12:17] unlimition opened #44303 "pytorch 1.3.1 not support CUDA 10.1.105 ?"
`
    python -m torch.utils.collect_env
    Collecting environment information...
    PyTorch version: 1.3.1
    Is debug build: No
    CUDA used to build PyTorch: Could not collect

    OS: Ubuntu 18.04.4 LTS
    GCC version: (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
    CMake version: version 3.10.2

    Python version: 3.7
    Is CUDA available: No
    CUDA runtime version: 10.1.105
    GPU models an

[2020-09-08 13:03] Jimut123 commented on #5301
This works for me too!

[2020-09-08 13:10] fritzo commented on #43878
@dbsxdbsx I'm not sure I understand your question. `Categorical` and `Normal` take different kinds of parameters: `Categorical` accepts a vector of probabilities whereas `Normal` accepts a scalar `loc` and a scalar `scale`. Because of those differences, the `.batch_shape` of your examples is different:
[code]
If instead you create distributions with identical `batch_shape` then their `.log_prob().

[2020-09-08 13:45] zhangguanheng66 commented on #44285
I mean https://github.com/pytorch/vision

[2020-09-08 13:58] ezyang commented on #10223
This will probably be unusually difficult to implement and it will probably be much simpler to not try to reuse existing factory functions for the constructor here.

[2020-09-08 14:52] taufique74 commented on #17313
@zhangguanheng66 As an early adopter of `torchtext`, I agree with you that the modules related to the text domain should be moved to `torchtext`.

I'm not quite sure about the non-text domain use cases where we would need huge lookup tables. But since `AdaptiveInput` has trainable parameters and both the implementation and concept is pretty similar to `AdaptiveLogSoftmaxWithLoss`, I think putting

[2020-09-08 15:38] ABHISHEK-G0YAL opened #44306 "Bug in pytorch\aten\src\ATen/native/Resize.h"
## 🐛 Bug

RuntimeError: size.size() == stride.size() INTERNAL ASSERT FAILED at C:\w\b\windows\pytorch\aten\src\ATen/native/Resize.h:96, please report a bug to PyTorch.

## To Reproduce

Steps to reproduce the behavior:

1. Run the code given below to reproduce the error.

[code]

## Expected behavior

Internal pytorch assert shouldn't fail.

## Environment

Please copy and paste the output from ou

[2020-09-08 15:46] bonlime commented on #2456
The implementation from the topic starter is quite efficient already. I haven't seen it being used too often and usually, it's only used once at the beginning of the network. So benefits from adding it to the core are questionable. If you need class you could copy-paste this:
[code]

[2020-09-08 16:37] #44300 closed

[2020-09-08 16:37] #44298 closed

[2020-09-08 16:44] SsnL commented on #44294
Use `.norm()` to calculate abs.
[code]

[2020-09-08 17:04] spandantiwari commented on #43045
Thanks for letting us know @neverrop.

[2020-09-08 17:18] fmellomascarenhas opened #44311 "Wrong indexing behavior CPU vs CUDA"
## 🐛 Bug

When tensor is in GPU, it allows impossible tensor indexing that would normally raise an error when the tensor is in CPU

## To Reproduce

[code]

[code]

 - PyTorch Version (e.g., 1.0):
1.5.0

 - OS (e.g., Linux):
Windows

 - How you installed PyTorch (`conda`, `pip`, source):
Conda

 - Python version:
3.7

cc @VitalyFedyunin @ngimel

[2020-09-08 17:18] kurtamohler commented on #31758
@zyc-ai, that's a good idea. However, I don't know what the randomized data should look like. Could you please provide us a reproduction script that randomly generates all the required data, so that it doesn't require all these datasets (and preferably doesn't require pySOT either).

At the moment, I think the reproduction script above takes way too much effort to run, so I'm going to stop for now

[2020-09-08 17:36] ezyang commented on #10223
I don't think `fw_grad` analogy is a good idea. We do not populate `grad` for every intermediate result in backwards,  but we *do* populate `tangent` for every intermediate computation in dual mode style. (By the way, this is one downside of explicitly formulating the implementation strategy in terms of dual numbers: if you only had the higher order API, you could avoid populating intermediate com

[2020-09-08 17:37] ezyang commented on #10223
You need dual promotion. If you do an operation between a dual number and a non-dual number, you need to lift the non-dual into dual space (giving it a zero epsilon) and then do a dual operation. Multiple dispatch will save your ass here.

[2020-09-08 17:38] ezyang commented on #10223
This seems incredibly unlikely to be what people want

[2020-09-08 17:39] ezyang commented on #10223
Procedural suggestion: put this proposal as a PR in https://github.com/pytorch/rfcs/ so we can do line-by-line comments on it.

[2020-09-08 17:41] jamesr66a commented on #44111
The source generated here is:
[code]

And is a result of `Sequential` using integers in strings as keys (which is invalid in Python and thus why the `getattr` is emitted rather than a `self.0` attribute fetch.

I'll see how hard it is to sanitize the identifiers in this scenario

[2020-09-08 17:42] ezyang commented on #10223
What if I inplace modify the tangent?

[2020-09-08 17:45] mrshenli commented on #44084
What's the benefit of using two different stream pools? wouldn't always using agent's thread pool be sufficient?

[2020-09-08 17:46] mrshenli commented on #44084
IIUC, it will just reuse one of the previous streams in the round-robin fashion.

[2020-09-08 17:46] ezyang commented on #10223
Can you argue why the second extension is backwards compatible with the first?

[2020-09-08 17:55] Alex00000087 opened #44313 "`Undefined symbol: torch::kNearest` when building App iOS"
## 🐛 Bug

XCode clang linker produces errors such as

`Undefined symbol: torch::kNearest`

when using

`torch::nn::functional::InterpolateFuncOptions( )`

## To Reproduce

Steps to reproduce the behavior:

1. clone https://github.com/pytorch/ios-demo-app and build
2. add this code somewhere in [here](https://github.com/pytorch/ios-demo-app/blob/master/HelloWorld/HelloWorld/HelloWorld/TorchBridge/T

[2020-09-08 18:05] SsnL commented on #43012
@byronyi Copy pasting a reply I wrote elsewhere since this thread looks like the correct place to discuss:

@byronyi Actually after taking a look at the XLA CachedDataset (with file caching) you linked in another issue, it does look quite nice and potentially could be included in core. One concern is (still) about the separation of deterministic and stochastic part in data loading.

So far most Py

[2020-09-08 18:06] sevakharutyunyan commented on #34703
@zdevito Could you show an example of first warming up the cpp code before timing?

[2020-09-08 18:07] SsnL commented on #43012
In the mean time, separately, I think we should have some set of data loading tutorials / examples, where we demonstrate how to perform:
1. bulk loading
2. iterable dataset
3. custom caching
4. using CUDA in workers
5. etc.

A lot of these are possible but users are not aware or do not have good examples.

[2020-09-08 18:19] ezyang commented on #10223
There are parts of this I still do not understand.

This doesn't make sense to me. The way tagging works is that you distinguish between epsilons for different applications of differentiation. But this tagging applies to the epsilon, so if I have e_A and e_B and I sum them together, the resulting dual number is e_A + e_B. You don't tag the dual number: you tag the *epsilon*, and that implies you c

[2020-09-08 18:23] jamesr66a opened #44316 "[FX] Schema normalization tooling"
When a PyTorch program is represented in FX, callsites to ops, modules, and methods appear simply as a tuple of (reference to target, args, kwargs). The representation itself is agnostic to the schema of the op/module/method or overloads of such. It would be nice to have infrastructure that takes the aforementioned tuple, matches it against the known schemas in the system, and returns a normalized

[2020-09-08 18:38] fritzo commented on #43501
I would love to be able to annotate functions with their tensor sizes, and IIUC this can be done in a Python 3 compatible way by adding a `Tensor.__class_getitem__()` method sort of like this:

<details>

[code]

</details>

and then annotate shapes (assuming proper broadcasting semantics) using [einsum notation](https://pytorch.org/docs/stable/generated/torch.einsum.html)
[code]
Have there been p

[2020-09-08 18:56] ezyang commented on #44283
Didn't we have some discussion about using clang-cl for Windows in the long term? I don't remember what the result of this was. Getting to stop worrying about the MSVC frontend and all of its bugs would be a win, but it sounds like a bit of work.

[2020-09-08 19:04] gmagogsfm commented on #43548
Hi vadimkantorov,

The error you are seeing is because different shapes of inputs are passed to module during tracing and execution. So it is expected to error.

As for 9223372036854775807, it is the default (max) value for `end` argument of `slice`. see [here](https://github.com/pytorch/pytorch/blob/4e0ac120e9a8b096069c2f892488d630a5c8f358/aten/src/ATen/native/native_functions.yaml#L2876).

[2020-09-08 19:18] #43580 closed

[2020-09-08 19:25] vadimkantorov commented on #43548
In the trace it is recorded correctly in `torch.arange(...)` call as  `torch.size(features, 1)`. However it is not recorded correctly in `expand` call. That's what's strange.

@ezyang

[2020-09-08 19:28] t-vi commented on #43501
#26889

[2020-09-08 20:45] eellison commented on #44107
cc @bhosmer - I remember you worked on something related to this, would you classify the above behavior as intended or a bug ?

[2020-09-08 20:49] chrismaliszewski commented on #44294
Great. Thanks for that @SnnL! Additionally, the results are not the same. One step at a time.

Unfortunately, timing is still the same, bad.
[code]
How did you achieve your great timing?

I don't have GPU to test so I moved the code to Colab (https://colab.research.google.com/drive/1XKAX9Gs8CGWxpDImFRPxTlrxkUsXzpzQ?usp=sharing) and it returns similar times:
[code]

[2020-09-08 20:54] eellison commented on #43530
Would be nice to fix for Optional, List and Dict

[2020-09-08 21:07] eellison commented on #43168
Is there a specific ask of the JIT team ?

[2020-09-08 21:33] osalpekar commented on #44205
Hi @Rubix982, I can let you know if any of the FB internal tests are failing and how can we address those. Feel free to put up a PR and we can coordinate from there!

[2020-09-08 22:33] lucas-emery commented on #27837
Same error while training an LSTM with a big batch size on windows, I was getting random crashes after 1 to 20 epochs. Setting `torch.backends.cudnn.enabled = False` fixed the issue.

Pytorch 1.5.1
Cuda 10.2.89
CuDNN 7.6.5
GTX 1070 - MSI Gaming X - Driver 445.75
Windows 10 Pro 1909 build 18363.1016

[2020-09-08 23:01] robieta opened #44341 "Consider cache effects in Timer"
## 🚀 Feature
When timing a statement, Timer should attempt to determine if the measurement is affected by CPU caching.

## Motivation

Consider the following measurements:
[code]

[code]

The second measurement is both slower and less stable; however it reflects a real use case where the Tensors are not already in CPU cache. In effect, we want to perform many independent measurements rather than m

[2020-09-08 23:08] #43723 closed

[2020-09-08 23:15] ervteng opened #44343 "Asynchronous Execution on CPU"
## 🚀 Feature

Support parallelized/asynchronous execution of ops on CPU.

PyTorch currently supports [asynchronous execution on GPU](https://pytorch.org/docs/master/notes/cuda.html#asynchronous-execution), where ops are executed in parallel as long as there are no data dependencies between them. However, currently, there is no straightforward way to do this on CPU, even on machines with a large nu

[2020-09-08 23:30] jacobaustin123 commented on #36035
Running into the same problem here. Seems like a fairly annoying issue. And the error messages are unhelpful. The data in the ParameterList/Dict just disappears at some point during the forward pass.

[2020-09-09 00:17] mruberry commented on #44284
We should definitely fix this for 1.7, either by no longer trying to warn if a user doesn't explicitly set the `as_tuple` argument or ensuring that the warning is thrown only when it should be and that the function signature works as expected.

[2020-09-09 00:26] mszhanyi commented on #27837
@lucas-emery, did you try extend the TDR display or disable TDR as https://developer.download.nvidia.com/NsightVisualStudio/2.2/Documentation/UserGuide/HTML/Content/Timeout_Detection_Recovery.htm

[2020-09-09 00:31] SplitInfinity commented on #40260
@brian112358 Someone has submitted a PR for this.

[2020-09-09 00:33] bitfort commented on #44341
Running through the options here; we have two broad approaches:

- "Clear" Clearing the CPU cache between runs
- "Duplicate" Create multiple copies of the data and rotate through the copies

Generally, the space of "Duplicate" strategies act as performance improvements (reducing total time spent benchmarking) over the "Clear" strategies though "Duplicate" approaches come with a lot of added comple

[2020-09-09 00:39] eellison commented on #43193
Hi @hal-314, I tried this on master and could not reproduce. Closing, please re-open if you update to master and are still experiencing issues.

[2020-09-09 00:50] bitfort commented on #44341
Clearing caches has a few considerations:
(a) The mechanism of clearing (e.g. CPU instruction, flooding the cache)
(b) Ensuring we bind to the cleared CPU (e.g. process migration)

There are mechanisms to clear the cache very efficiently (such as using intel intrinsic instructions), the most portable way is to flush data through the CPU. We can explore optimizations from there for cases where ther

[2020-09-09 00:55] neginraoof commented on #44120
cc @bzinodev
Would you please help us find the contact who can address this?

[2020-09-09 00:55] bitfort commented on #44341
The remaining issues are:
- How much data to cycle to clear the cache between runs
- How to handle overhead in the measurement process
- How many measurements to take
- Explore options for parallelization

[2020-09-09 00:57] xwang233 opened #44350 "`mean` and `var` overflow on CPU and GPU"
## 🐛 Bug

`mean` and `var` overflow on CPU and GPU for `float` and `half`. (only cuda half is good)

Also, torch.var is not supported on CPU for half type

## To Reproduce

Steps to reproduce the behavior:

[code]

Output
[code]

## Expected behavior

No overflow

## Environment

[code]

## Additional context

If someone is going to fix this by using a higher level dtype for accumulation (e.g. hal

[2020-09-09 01:46] dbsxdbsx commented on #43878
@fritzo , thanks.

[2020-09-09 01:53] hegc opened #44353 "DDP training with syncBatchNorm，how to catch and handle the exception in training processes?"
When training with the DDP and syncBatchNorm, one process runing on one GPU, When I catch the gpu OOM exception, the training is blocked. What should we do?
My code is following, when OOM exception occurs in one process, I just ignore this batch, the training phase continue.

[code]

when one process catch the exception, the others get blocked.

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao

[2020-09-09 02:02] bitfort commented on #44341
Also -- I'm recommending the following implementation approach:

Since cache clearing is an expensive overhead to measurement, we should offer an 'is_cache_sensitive()" check which will indicate if the overhead of cached execution is merited. I would propose that users check this sensitivity; we could also have an "auto()" call which will attempt to do everything (determine how long to run, wether

[2020-09-09 02:04] zhangyingbit commented on #33131
@eusoubrasileiro maybe you need this https://download.pytorch.org/libtorch/cu101/libtorch-win-shared-with-deps-1.4.0.zip

[2020-09-09 02:12] SlowMonk opened #44355 "getting RuntimeError: CUDA error: device-side assert triggered after using cross enthropy (jupyter nbotebook)"
[code]
[code]

cc @ngimel

[2020-09-09 02:13] lucas-emery commented on #27837
@mszhanyi i did try extending the TDR to 60 seconds. I was able to run a 13 hour training session after setting the TDR and restarting my pc, but the backprop time was also faster (down from 1 min to 10/15 secs), I guess it was just a coincidence and cudnn chose a different algorithm.
After that I stopped the training to update a function and when I tried to resume I couldn't get past 20 epochs wi

[2020-09-09 02:15] SlowMonk commented on #44355
this errror happend only in a jupyter lab

[2020-09-09 02:23] thuzhf commented on #25643
@soumith Whether does DataLoader support always prefech data up to `2 * num_workers` (or some other number like 10)? I mean whenenver `self._tasks_outstanding < 2 * self._num_workers`, the DataLoader will automatically prefetch data. In this way, when users call next(DataLoader), the user will get data immediately and don't need to wait.

[2020-09-09 02:33] legohyl opened #44356 "FileNotFoundError: [Errno 2] No such file or directory: 'extension/sparse_dot/sparse_dot.cpp'"
Hi folks, I'm trying to run someone else's code but I face the following error when trying to run `FileNotFoundError: [Errno 2] No such file or directory: 'extension/sparse_dot/sparse_dot.cpp'`

Here's the functional call that does it
[code]

I changed their `extra_include_paths` from `/usr/include/python{}.{}` as I'm using the Dockerfile from dockerhub instead of my own fresh installs into Ubuntu

[2020-09-09 02:36] YangAzure commented on #43766
I have an exactly same issue, except that my model is trained on torch version 1.6.0, and I tried to load in version 1.6.0 as well. Requesting for an reopen.

`RuntimeError: ./model.bin is a zip archive (did you mean to use torch.jit.load()?)`

Triggered by

`model = torch.load("./model.bin"))`

[2020-09-09 03:03] thuzhf opened #44357 "Need DataLoader automatically prefetch data in another process whenever `self._tasks_outstanding < a_user_defined_number`."
## 🚀 Feature
DataLoader automatically prefetch data in another process whenever `self._tasks_outstanding < a_user_defined_number`.

## Motivation

When user get data from DataLoader, if the DataLoader's `self._tasks_outstanding` is `0`, the user will be waiting for the results, instead of getting data immediately.

[2020-09-09 03:18] gloryVine commented on #44272
I get a similar error:
RuntimeError: "exp_cuda" not implemented for 'Byte'
when trying to use torch.binary_cross_entropy_with_logits()

I also can reproduce the error from the above posts. I have the latest PyTorch.

[2020-09-09 03:19] wakandan commented on #43536
any update on this?

[2020-09-09 03:24] iitbombombay opened #44358 "Link for fusing Alexnet model"
Can anyone provide the useful link  that explains  fusing of Alexnet model,or Code which fuses the layers of Alexnet model

[2020-09-09 03:40] SsnL commented on #44357
Could you clarify what you mean exactly? `_tasks_outstanding` is an implementation detail and is only positive when there is data to be fetched. When it is zero, there is no more data to be fetched.

[2020-09-09 03:56] YirongMao commented on #16816
@ezyang Hi, is there any progress or solution for this issue. I also encounter the same problem in libtorch 1.5.1 + cuda9

[2020-09-09 04:06] hijkzzz commented on #16816
You should combine all tasks and push them to libtorch at once.

[2020-09-09 04:06] #16816 closed

[2020-09-09 04:22] thuzhf commented on #44357
@SsnL What I want is the dataloader's internal data_queue is always not empty (unless all data are already fetched), because thus we can ensure whenever the user fetch data from the dataloader, the user will not encounter conditions where the dataloader's internal data_queue is empty, and thus the user will block waiting for data_queue.get().

[2020-09-09 04:28] SsnL commented on #44357
It would wait only when the workers have not finished fetching the data. Changing `task_outstanding` won't affect it.

[2020-09-09 04:38] thuzhf commented on #44357
@SsnL Can we let the workers prefetch data whenever `data_queue`'s size is less then a user defined number? Just like here:

https://github.com/pytorch/pytorch/blob/bd8e38cd8888602e574244e88a76de36c2349460/torch/utils/data/dataloader.py#L855-L857

[2020-09-09 04:43] SsnL commented on #44357
It would only have effect when we receive out of order batches though. If everything is received in order, the current code does equivalent things. So I don't really know what benefit it would gain you in realistic use cases... Could you explain why the current prefetch mechanism (always fetching 2*num_workers batches ahead) isn't ideal, and how your proposal would solve things?

[2020-09-09 05:07] thuzhf commented on #44357
I am not sure whether I miss something in the code, but my current logic is as follows:
Here is the code flow for`next(data_loader)` when `num_workers > 0`:
https://github.com/pytorch/pytorch/blob/bd8e38cd8888602e574244e88a76de36c2349460/torch/utils/data/dataloader.py#L432-L435

Pay attention to line 1062-1065, line1068, line 1077, line 1085:
https://github.com/pytorch/pytorch/blob/bd8e38cd8888602

[2020-09-09 05:09] SsnL commented on #44357
`_process_data` calls `_try_put_index`

[2020-09-09 05:12] Rubix982 commented on #44205
Fantastic!
Please bear with me and give me sometime. I have my University going on, I might get back to you on the weekend in the worst case.
Thanks for your time.

[2020-09-09 05:15] Newbie2008 opened #44362 "Libtorch CMakeList.txt config help"
Whenever I try to build my CMakeLists.txt file, it says that "CMake Error at CMakeLists.txt:4 (find_package):
By not providing “FindTorch.cmake” in CMAKE_MODULE_PATH this project has
asked CMake to find a package configuration file provided by “Torch”, but
CMake did not find one.

Could not find a package configuration file provided by “Torch” with any of
the following names:

TorchConfig.cmake
to

[2020-09-09 05:21] thuzhf commented on #44357
Ah, I really missed something...thanks!
I thought it doesn't do such things because last night when I tried to print the size of the internal queue.qsize() while training, I often got some zeros. I will check it again. And do you have some suggestions on how to monitor some variables here to check whether the dataloader is the bottleneck?

[2020-09-09 05:33] beeqwe opened #44363 "no pytorch_jni in java.library.path windows"
Hello, i'm trying to load my model using pytorch_java_only but it's return this error:

[code]

How to reproduce the bug:

OS: **Windows**

[code]
pom.xml:

[code]
**LIBTORCH_PATH** this is directory of files which downloaded from [there](https://download.pytorch.org/libtorch/cpu/libtorch-win-shared-with-deps-debug-1.6.0%2Bcpu.zip)

And i noticed one regularity, linux archive contains the libpytor

[2020-09-09 06:07] YirongMao commented on #16816
In single-thread? Or could you share some sample code ?

[2020-09-09 06:08] bigcmos opened #44365 "Add ability to determine libtorch version from a c++ API or preprocessor macro."
## 🚀 Feature
I want to be able to determine the version of libtorch in my c++ binary in cases where I don't have access to the python library.

Something like:
[code]

## Motivation

This is useful for
- Turning off torch features depending on the version of torch we are running
- Debugging which version of torch is installed in production where different versions may be running.

## Pitch

1) I'm

[2020-09-09 06:35] MagiaSN opened #44367 "Add argument layer_norm_eps to transformer modules"
## 🚀 Feature

Add argument `layer_norm_eps` to `Transformer` modules.

## Motivation

Currently `Transformer` modules initialize `LayerNorm` with default arguments (`eps=1e-5`), however different model architectures may require different eps values (e.g. BERT uses eps=1e-12). It would be better to make it an argument, so user could change it accordingly.

## Pitch

Add argument `layer_norm_eps` to

[2020-09-09 06:38] Flamefire opened #44368 "test_dataloader fails in restricted CPU environments"
## 🐛 Bug

The test at https://github.com/pytorch/pytorch/blob/106459acac181ea1c019f2c298f7d52517626965/test/test_dataloader.py#L2139 uses a call to `os.sched_setaffinity(0, [2])` which fails if the current user has no access to CPU id 2. This happens often in shared environments where multiple users share a CPU and each gets assigned a different core(s)

What I don't get: Why does this test modify

[2020-09-09 07:11] gemfield commented on #44171
After the Nvidia driver get updated on Ubuntu 20.04 today, the DDP stuck issue seems not exist any more.
[code]
Will close this issue.

[2020-09-09 07:37] legohyl commented on #44356
Closing this issue, realized that the sparse files are not inherent to torch and isn't a torch problem.

[2020-09-09 07:37] #44356 closed

[2020-09-09 08:01] Abbyyan commented on #31285
![image](https://user-images.githubusercontent.com/12140508/92571321-8e61d500-f2b5-11ea-8369-a0ad20440345.png)

I used `Tesla K40` with CC=3.5, get the same error. `RuntimeError: CUDA error: no kernel image is available for execution on the device`. How to build pytorch from source please?

[2020-09-09 08:25] mingxiaoh commented on #41242
met same problem based on v1.6.0-rc7

[2020-09-09 08:26] kwanUm commented on #16123
Did that work for anyone? I still get the "'__torch__.torch.nn.modules.container.ModuleList' object is not iterable" when using this (latest pytorch version).

[2020-09-09 08:42] mruberry commented on #42515
That's true. Actually divmod is another NumPy function we're missing. An example of a PyTorch operation returning two tensors is max. See it's implementation here:

https://github.com/pytorch/pytorch/blob/8acce55015db3ffd0f07a64341f6b7fec0a1e47d/aten/src/ATen/native/TensorCompare.cpp#L286

[2020-09-09 09:04] mszhanyi commented on #27837
@lucas-emery , could you provide a simplified script that I could reproduce it?

[2020-09-09 09:28] voqtuyen commented on #39165
Any update on this issue?

[2020-09-09 10:21] billcamel commented on #35535
Any updates on this?

[2020-09-09 11:55] wangxiang2713 opened #44377 "How to get optimized IR?"
## How to get optimized IR?
Hi, i can get torch_script IR by print(script.grah), and i know the IR will be optimized several times while running.
So how can i get all of optimized IR while running torchscript code? Thankyou.

[2020-09-09 11:58] xiaosu-zhu opened #44378 "Can't solve torch.lstsq() with specific values"
## 🐛 Bug

When using `torch.lstsq` to solve with specific values, `torch.lstsq` produces wrong result (on cuda) or raises error (on cpu) while `scipy.linalg.lstsq` not.

## To Reproduce

Steps to reproduce the behavior:

1. Use the dumped `.npy` file: `a.npy`, `b.npy` to perform `torch.lstsq`
2. Meanwhile, `lstsq` can also be solved in `scipy.linalg.lstsq`
3. With the given `numpy array`, `torch.l

[2020-09-09 13:01] huqinghao opened #44379 "'torch.per_channel_symmetric — per tensor, symmetric' seems wrong edited."
## 📚 Documentation
'torch.per_channel_symmetric — per tensor, symmetric'  supposed to be
'torch.per_channel_symmetric — per channel, symmetric'
in docs/source/quantization-support.rst Line  320.

cc @jlin27 @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a @vkuzo

[2020-09-09 13:18] Luonic commented on #16123
@kwanUm yes I JIT'ed HRNetV2 with this method

[2020-09-09 13:21] Abbyyan commented on #5229
I've build gcc7 and add it into `$PATH`. But it still get this error.
[code]
The log is as follows.
[code]

[2020-09-09 14:10] zkx741481546 opened #44380 "Support for NVIDIA UVM technology"
## 🚀 Feature
Support NVIDIA UVM and allow to use RAM when there is not enough GPU memory

## Motivation

The NVIDIA UVM technology allows to use RAM when the GPU memory is not enough to allocate, I believe this is helpful for those who want to train heavy model on limited GPU memory. The Tensorflow has already support UVM by setting per_process_gpu_memory_fraction bigger than 1, by the way.

## Pi

[2020-09-09 14:15] Mut1nyJD commented on #27723
Hmm I'll get a similar message but it says not ATen operator mv but just mv in Torch1.6 trying to export a model to ONNX, but it says RuntimeError:Exporting the operator mv to ONNX opset version 11 is not supported. Please open a bug to request ONNX export support for this missing operator. I tried the spectral norm removal trick but that did not make it work unfortunately

[2020-09-09 14:16] Abbyyan commented on #5229
Solved this problem by remove the `build` directory and add `gcc7` into `$PATH`

[2020-09-09 14:31] chrish42 commented on #22402
Is there any progress update on this? Asking because it's been a while. I'd love to be able to call `np.some_func(a_torch_tensor)` transparently, so it _feels_ like this is the issue tracking the progress on this... but also a lot more, maybe? Given the length of the writeup, it feels like a lot of stuff for a single issue, and if feels like it'll be hard to ship all that in a single chunk of work

[2020-09-09 14:32] malfet commented on #43897
@guyang3532 It should be pretty simple:
- Add `coverage` and `codecov` packages to
https://github.com/pytorch/pytorch/blob/8acce55015db3ffd0f07a64341f6b7fec0a1e47d/.jenkins/pytorch/win-test-helpers/setup_pytorch_env.bat#L42
- Add `export PYTORCH_COLLECT_COVERAGE=1` to https://github.com/pytorch/pytorch/blob/master/.jenkins/pytorch/win-test.sh
- Run `python3 -mcodecov` after tests have finished. Fo

[2020-09-09 14:36] mrshenli commented on #44379
Hey @huqinghao, thanks for spotting this. Would you like to submit a PR to fix it?

[2020-09-09 14:40] mrshenli commented on #44378
Hey @mruberry, do we also have plan to add a `lstsq` to `torch.linalg` and retire existing ones in the near future?

[2020-09-09 14:41] #44377 closed

[2020-09-09 14:58] apalazzi opened #44384 "Pytorch+rocm 3.7.0: cmake cannot find hsa-runtime64"
## 🐛 Bug

Hi,

I'm trying to build Pytorch for rocm from sources following [this page](https://github.com/aieater/rocm_pytorch_informations) and also other sources; however it ends with an error:

[code]

The file that cmake is looking for is under /opt/rocm-3.7.0/lib/cmake/hsa-runtime64/ .
I also tried setting the variable  however setting the environmental variable to CMAKE_MODULE_PATH=/opt/rocm

[2020-09-09 15:12] lucas-emery commented on #27837
@mszhanyi I'm afraid it won't be possible, it's a very complex model on a reinforcement learning task. I'll let you know if I find something else. I'll try to get something reproducible after I finish.
The error started appearing after I incremented my batch size to 1k with an unroll length of 32.

[2020-09-09 15:14] #44096 closed

[2020-09-09 15:27] albanD commented on #10223
Following some more discussions, I'll do a colab to see how the bookkeeping version would look like. And share it here with feedback on the tradeoff between the two approaches.

@ezyang here are the answers to your questions:

The difference between the two notebooks can actually be seen as associating numbers differently. If you want to represent `a + b e1 + c e2`.
The first notebook does `(a + b

[2020-09-09 15:34] walterddr commented on #43476
did a bit of the callstack trace. seems like it happens when `N` calling into `GET_BLOCKS` gets close to the `max_int` limit this might be due to:
- `static_cast<int>(std::min(max_int, N))` actually uses a wrong `max_int` when converting int64 to int32
another bug is even when N is limited to max_int32, it still can cause issue since:
- `(N + CUDA_NUM_THREADS - 1) / CUDA_NUM_THREADS` will exceed m

[2020-09-09 15:43] SsnL commented on #44357
Getting from the data loader iterator will only block when the data is not yet fetched from the workers. Usually monitoring the time of each `next` would give you an idea.

[2020-09-09 15:43] SsnL commented on #44357
closing because the original issue is not valid anymore

[2020-09-09 15:43] #44357 closed

[2020-09-09 15:56] apalazzi commented on #44384
Hi,
After setting some of the environmental variables as described [here](https://gist.github.com/znsoftm/31c9bf60caa547559e80d858b6f19783) it finally got through the configuration process and is now compiling.

[2020-09-09 16:08] mrshenli commented on #44384
Hey @apalazzi, Thanks for updating. I am closing this issue for now. Please feel free to reopen if build error persists.

[2020-09-09 16:08] #44384 closed

[2020-09-09 16:12] mrshenli commented on #44362
Hey @Newbie2008, could you please use [the forum](https://discuss.pytorch.org/) for questions? Thanks.

[2020-09-09 16:13] mrshenli commented on #44358
Hey @iitbombombay, could you please use [the forum](https://discuss.pytorch.org/) for question? Thanks. I am closing this issue. If this turns out to be a bug report or feature request, please feel free to open another issue.

[2020-09-09 16:13] #44358 closed

[2020-09-09 16:16] izdeby commented on #44171
Marking as triage review as not sure about this one

[2020-09-09 16:18] izdeby commented on #44353
Please, use our [forum](https://discuss.pytorch.org/) for questions.

[2020-09-09 16:18] #44353 closed

[2020-09-09 16:20] mrshenli commented on #44353
If you skip comm or redo comm after OOM, it will lead to collective communication desync, which leads to the hang.

[torchelastic](https://pytorch.org/elastic) is built for this problem. It will destroy all DDP and ProcessGroup instances, and reconstruct them, and then resume from the previous checkpoint.

cc @kiukchung for torchelastic questions
cc @agolynski for oncall

[2020-09-09 16:23] izdeby commented on #44350
Triage review, not sure how to triage this

[2020-09-09 16:27] ngimel commented on #44355
Your number of classes is 3, yet your targets (which should be strictly less than the number of classes) are 5 and 10. Your input is invalid. Please use forums for questions like this, this forum is for bug reports.

[2020-09-09 16:27] #44355 closed

[2020-09-09 16:27] izdeby commented on #44303
Please, use our [forum](https://discuss.pytorch.org/) for questions.

[2020-09-09 16:27] #44303 closed

[2020-09-09 16:28] ngimel commented on #44311
Fixed in 1.5.1, 1.6 and master.

[2020-09-09 16:28] #44311 closed

[2020-09-09 16:30] izdeby commented on #44294
Please, use our [forums](https://discuss.pytorch.org/) for discussion.

[2020-09-09 16:31] #44290 closed

[2020-09-09 16:33] izdeby commented on #44287
Please, use our [forums](https://discuss.pytorch.org/) for discussion.

[2020-09-09 16:33] #44287 closed

[2020-09-09 16:33] izdeby commented on #44265
Please, use our [forums](https://discuss.pytorch.org/) for discussion.

[2020-09-09 16:33] #44265 closed

[2020-09-09 16:34] izdeby commented on #44262
Please, use our [forums](https://discuss.pytorch.org/) for discussion.

[2020-09-09 16:34] #44262 closed

[2020-09-09 16:34] izdeby commented on #44260
Please, use our [forums](https://discuss.pytorch.org/) for discussion.

[2020-09-09 16:34] #44260 closed

[2020-09-09 16:35] izdeby commented on #44258
Please, use our [forums](https://discuss.pytorch.org/) for discussion.

[2020-09-09 16:35] #44258 closed

[2020-09-09 16:38] izdeby commented on #44245
@techity, can you, please, provide a repro? and assert message?

[2020-09-09 16:39] izdeby commented on #44244
Please, use our [forums](https://discuss.pytorch.org/) for discussion and questions.

[2020-09-09 16:39] #44244 closed

[2020-09-09 16:39] #44229 closed

[2020-09-09 16:43] izdeby commented on #44198
Triage review as not sure how to triage

[2020-09-09 16:44] izdeby commented on #44194
Please, use our [forums](https://discuss.pytorch.org/) for discussion and questions.

[2020-09-09 16:44] #44194 closed

[2020-09-09 16:46] #42605 closed

[2020-09-09 16:48] izdeby commented on #44141
Please, use our [forums](https://discuss.pytorch.org/) for discussion and questions.

[2020-09-09 16:48] #44141 closed

[2020-09-09 16:59] VitalyFedyunin commented on #40959
When you are running Python environment, is it installed on the same ORBSLAM system? What is the version of PyTorch? Have you compiled it yourself or used a repository?

[2020-09-09 17:03] VitalyFedyunin commented on #40581
@bootpin do you feel we can close this issue?

[2020-09-09 17:20] spandantiwari commented on #44228
@yingsiq - `nn.Sigmoid` should be supported in ONNX export. See this line here:
https://github.com/pytorch/pytorch/blob/2a87742ffa5c4511e5cc071087b0407c54d56590/torch/onnx/symbolic_opset9.py#L255

Please provide the exact issue you are seeing and the repro.

[2020-09-09 17:20] mruberry commented on #44378
Yes we do, see https://github.com/pytorch/pytorch/issues/42666. We would definitely take a fix for this.

[2020-09-09 17:21] VitalyFedyunin commented on #38645
Pytorch binary code takes significant chunk of memory which you are likely seeing as committed as soon as any PyTorch module loaded.

[2020-09-09 17:40] EvenOldridge commented on #43144
This would be very helpful for NVTabular's accelerated dataloaders as well.  Having to explicitly define the memory sizes for cuDF beforehand limits what we can do in terms of taking advantage of the memory available after the model is loaded.  What we have works, but this would be more flexible.

[2020-09-09 17:41] lw commented on #44084
Yes, that would work too. I found it nice to keep it consistent with how we use threads, where we use the agent's thread pool for the user functions (the heavy lifting) but we use private TensorPipe threads for I/O.

[2020-09-09 17:44] ezyang commented on #22402
Hi @chrish42, sorry for not keeping this up to date. There isn't much progress on the specific aspect of this issue that you are interested in; we shipped `__torch_function__` but not `__array_function__` on tensor. I agree it might make sense to make a dedicated issue for this.

[2020-09-09 18:04] ngimel commented on #44206
cc @ptrblck , @xwang233. The issue here is that only upsampleBilinear was updated to use fast half atomics, the same should be done for trilinear.

[2020-09-09 18:14] osalpekar opened #44403 "Investigate SyncBatchNorm cleanup with NCCL Async Error Handling"
In our new NCCL Async Error Handling functionality (introduced in the stack starting at #41050), we track `WorkNCCL` objects  in a `workList_` corresponding to incomplete collective calls. In the destructor, we block on the `workList_` becoming empty - so we only destruct ProcessGroupNCCL if all the collectives have completed or errored out.

When models contain a SyncBatchNorm layer, we find that

[2020-09-09 18:39] #42695 closed

[2020-09-09 18:42] chuanzhuBN commented on #26340
I wonder is that possible to build ` -f https://download.pytorch.org/whl/torch_stable.html` into wheel using `setuptools`? Thanks !

[2020-09-09 18:57] mcarilli commented on #42605
try with current master, it should work now.

[2020-09-09 19:05] kurtamohler opened #44409 "Add a new schema type for representing dimension lists"
## 🚀 Feature
Create a specialized schema type that can represent None, int, or tuple of ints. Could be named `Dims`, `DimList`, `ReductionDim`, or something else.

## Motivation

Currently, the only single schema type that can do this is `int[1]?`, which is an `optional<IntArrayRef>` in C++. This type seems to almost work correctly, except that if the function is called from C++ with an integer, t

[2020-09-09 19:18] t-vi commented on #44409
More precisely, I observed that `None` is a valid Dimname only in some contexts (keeping dimensions unnamed when defining dimensions in factory functions or rename) while not in others (using dimensions e.g. in reductions), so really, we have to types of lists, one of NotNoneDimname and one of DimnameThatCanBeNone (which I'd dubiously call Dimname?[]. rename would get Dimname?[] and sum would get

[2020-09-09 19:59] YuechengLi opened #44415 "Batchnorm2d in PT1.6 couldn't turn off track_running_stats"
## 🐛 Bug

I have a model trained with BN layers and tracking running parameters ON. After training, I found I couldn't turn the tracking_running_stats off for inference in PT1.6. Everything worked expectedly in PT1.5.
The results in PT1.6 with tracking_running_stats ON or OFF are the same after Batchnorm which means it always used tracked mean&variance. But PT1.5 can give different outputs for tra

[2020-09-09 20:46] ezyang opened #44421 "[tools.codegen] Rename api.legacy_dispatcher to api.native"
api.native seems more descriptive than api.legacy_dispatcher. The original idea was that legacy_dispatcher types are the types that are used by the dispatcher when legacy is not in effect. But actually, these types coincide exactly with the types of the native functions people write. This is supported by the generator code for NativeFunctions.h which predeclares all native functions:

[code]

It s

[2020-09-09 20:57] mcarilli commented on #44206
I'll take a look as prep for https://github.com/pytorch/pytorch/issues/42218.  If I can swap fast atomics into trilinear backward, I can then cover interpolate/grid_sample as ordinary promotelist ops (instead of doing some hacky thing where the autocast wrapper must cast to fp32 if the mode is trilinear).

[2020-09-09 21:16] rohan-varma opened #44425 "DDP Uneven inputs join() API doesn't work with model.no_sync()"
## 🐛 Bug

The newly introduced `join()` API does not work with `model.no_sync()` since the latter disables synchronization in the bwd pass (allreduce, unused params allreduce, bucket rebuilting allreduce, etc) while the `join()` API currently expects synchronization every backwards pass. An example of the issue:

Rank 0 is joined:
1) It schedules the "shadow" allreduce to detect presence of non-jo

[2020-09-09 21:21] bzinodev commented on #43620
Does it work without freezing?

[2020-09-09 21:25] EricCousineau-TRI opened #44426 "doc: Bad rendering of `tensor` output?"
## 📚 Documentation

Example screenshot on my browser (Firefox 80.0.1, Ubuntu 18.04):
![image](https://user-images.githubusercontent.com/26719449/92656714-86a82d80-f2c1-11ea-86f2-304946746ac7.png)

See link:
https://pytorch.org/docs/stable/autograd.html#torch.autograd.functional.jacobian

Current commit on `master`: 3674264

cc @ezyang @SsnL @albanD @zou3519 @gqchen @jlin27

[2020-09-09 21:30] LaRiffle opened #44428 "Cuda support for matrix multiplication on Long Tensor"
## 🚀 Feature
I would love cuda support for matrix multiplication on Long Tensor
Currently:
[code]

## Motivation & Pitch

I'm working on privacy preserving machine learning which uses a lot LongTensors (like the CrypTen team cc @jspisak ), and having matmul accelerated with cuda (like it is for normal matmul on floats) would be game changing.

Is there any plan to support this, or any work around?

[2020-09-09 22:16] vkuzo opened #44432 "eager mode quantization: document custom qconfigs"
## 📚 Documentation

https://pytorch.org/docs/stable/quantization.html should have clear examples on how to customize `qconfig` objects for assigning custom qconfigs to layers or skipping layers from quantization.

cc @jlin27 @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a @vkuzo

[2020-09-09 22:38] vkuzo opened #44438 "fx quantization: skipping layers seems to not work"
## 🐛 Bug

When using static quantization with FX, skipping layers with qconfig_dict seems to not work yet. We should either document it in a docblock if I'm using the API incorrectly, or add support if it's missing.

## To Reproduce

Script to build a toy model and skip quantizing the 2nd layer: https://gist.github.com/vkuzo/66e5a400e9be10fb1eb3949e0998b2bb

Result of script, with error at the end

[2020-09-09 23:23] #43476 closed

[2020-09-10 00:30] wanchaol commented on #43729
cc @suo @eellison Example code snippet that crashes

[code]

with crashes:
[code]

Note that if we comment out the `jit.export` in `ParentModule`, it works nicely, this is because:

If we have `export` methods in parentModule, we are invoking a recursive compilation to compile the `submod`, see https://github.com/pytorch/pytorch/blob/7816d53798efcd1dc68a83a2964ee6d4ef4181ca/torch/jit/_trace.py#L56

[2020-09-10 01:03] SsnL commented on #44415
Flipping `track_running_stats` in `eval` mode should not have effects, because it is just for whether running stats are tracked in, not whether they are used. This was fixed in https://github.com/pytorch/pytorch/pull/38084.

[2020-09-10 01:30] wanchaol opened #44446 "[jit] class type optional type annotation not working properly"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2020-09-10 02:17] erip commented on #44363
There are no Java bindings for Windows [yet](https://github.com/pytorch/pytorch/pull/44257). I'm currently working on this feature, and am making appropriate changes in upstream dependencies - hopefully this can be resolved soon.

[2020-09-10 02:18] mszhanyi commented on #44363
@beeqwe so far, windows binaries doesn't support java. We're working on it.

[2020-09-10 02:29] mortonjt commented on #20248
Just as a heads up, I'm also getting this issue for sparse tensors that are save as model parameters - so it looks like this issue is not unique to the dataloader. Briefly if I try to parallelize training for the following model on multiple GPUs, I get the familiar `RuntimeError: sparse tensors do not have storage` error.

[code]

[2020-09-10 02:35] mruberry commented on #43787
@BowenBao with your fixes the "best effort" version of div looks like it's working, so that's good news.

Foolow-up question while we're talking about division: can we use the floor node in ONNX to implement floor division? I tried but received a complaint about floor not being bound. It looks like floor was in opset6 and again in 13, but it looks like we don't support opset6?

[2020-09-10 02:44] hegc commented on #44353
I just want to discard this batch on the OOM process, there is more easy method? Maybe not...

[2020-09-10 03:02] wangxiang2713 opened #44448 "How to print optimized IR?"
I read Pytorch 1.6 code: torch/csrc/jit/runtime/graph_executor.cpp, and see:
[code]

I want to print optimized IR, so i run: `export PYTORCH_JIT_LOG_LEVEL=">graph_executor"`, my pytorch code is:
[code]

However, i got nothing. If i use pytorch 1.4, i can get:
[code]
but can't get GRAPH_DEBUG info.

I don't know the reason, i can get a lot of logs if i set `export PYTORCH_JIT_LOG_LEVEL=dead_code_el

[2020-09-10 03:03] tangchunbo opened #44449 "MacOs build from source error"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.  just follow the instruction in [ReadMe](https://github.com/pytorch/pytorch#from-source)
2. my `.bash_profile` is

[code]

## Expected behavior

- error log

[code]

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env

[2020-09-10 03:07] malfet opened #44450 "Enable torch.autograd typechecks during CI"
cc @ezyang @malfet @rgommers @xuzhao9 @gramster

[2020-09-10 03:08] #43605 closed

[2020-09-10 03:15] YuechengLi commented on #44415
Thanks @SsnL. If this is the expected correct behavior, then probably we need an update on doc: https://pytorch.org/docs/stable/generated/torch.nn.BatchNorm2d.html where we still see "If track_running_stats is set to False, this layer then does not keep running estimates, and batch statistics are instead used during **evaluation time** as well."

So, if I don't want to use running average estimate

[2020-09-10 03:31] jantic commented on #27723
@Mut1nyJD You say similar but from the sounds of it the export could just as well be complaining about any number of operators.  Spectral norm is just one of many it can have a problem with. It'll have the same basic message structure for any operator that's not supported as far as I've seen.  For example, I haven't been able to export BiTM-based models because of this bug:  https://github.com/pyt

[2020-09-10 03:56] Abbyyan commented on #25760
I've got the same error. Does this has been solved please?

[2020-09-10 04:02] mruberry commented on #44159
@kshitij12345's suggestion is very practical and likely to do most of you'd like. We could also build a more formal mechanism. For example, in common_device_type we could instantiate only the cpu or cuda (or xla...) device types if the appropriate flag was set. Not all of our test suite uses the device generic test framework, however. And, ironically, test_cuda.py would probably need to be made ge

[2020-09-10 04:45] NeoVand opened #44452 "norm can't backpropagate with 0<p<1"
## 🐛 Bug

Hi I use tensor.norm somewhere in my code which works fine for all values of p (including fractional ones e.g. p=1.5) but runs into problems with p<1. With anomaly detection on, I get this error:

RuntimeError Traceback (most recent call last)
in
11 # ===================backward====================
12 optimizer.zero_grad()
—> 13 loss.backward()
14 optimizer.step()
15 # ==================

[2020-09-10 04:50] malfet commented on #44449
@tangchunbo are you sure that `CXX=g++`  is mentioned in the readme? Can you please try to do do a clean build without specifying either `CXX` or `C` environment variables (Build system should automatically pick `clang` and `clang++` in both cases)

[2020-09-10 05:56] thuzhf commented on #44357
@SsnL By the way, do you know why the default RandomSampler samples 32 data points once? How do you know 32 is more efficient than other numbers?

https://github.com/pytorch/pytorch/blob/6324ef4cedbaeea2799e69dab91c8e7cc6cc80f0/torch/utils/data/sampler.py#L120-L123

[2020-09-10 05:57] tangchunbo commented on #44449
sorry，at first l copy the `ReadMe` instructions, but it didn't work, i guess the reason is the compiler version.
so i set `CXX=g++` and then in `setup.py` line 519 l update the code `command['command'] = "g++ -std=c++14" + command['command'][4:]`. but saddly it still be the same

[2020-09-10 06:17] wss321 commented on #4518
I solved this problem by installing gpu driver. https://www.nvidia.cn/Download/index.aspx
You should check if the GTX driver is installed.

[2020-09-10 07:35] mruberry opened #44459 "The Python API's circular padding is divergent from the C++ API's"
#39273 updated Python's circular padding, correcting several errors in the previous implementation. PyTorch has two circular padding implementations, however, one in Python and the other in C++:

https://github.com/pytorch/pytorch/blob/7b547f086fbef74dd2e9c07f4392da3a2d3266b4/torch/nn/functional.py#L3831

https://github.com/pytorch/pytorch/blob/46447045ea450069ab9a9cbbf71e86110013fb0b/torch/csrc/a

[2020-09-10 07:52] ynuwm commented on #9996
torch 0.4.0 works.

[2020-09-10 07:53] cindy-luck commented on #43212
For the first warning, we have, out = "aten/src/Aten/Conf.h" at line 533
we have ":aten_src_ATen_config", at line 595
is this where causing the duplication to occur?

[2020-09-10 07:55] cindy-luck commented on #43212
This is my first time joining an open source project as a student, will be appreciated if you could give some hints on it.

[2020-09-10 08:18] Abbyyan opened #44460 "How to package pytorch with the file build from source."
## ❓ Questions and Help

I've noticed in https://github.com/pytorch/pytorch/issues/31285 that pytorch only compile binaries for NV cards with CC 3.7 and up. Now i've build pytorch from source on my machine. Is there any way to package it into a new pip image please？ Thanks a lot.

cc @malfet @seemethere @walterddr

[2020-09-10 09:10] mruberry commented on #37256
I believe this was addressed by https://github.com/pytorch/pytorch/pull/39273.

@millskyle, would you verify?

[2020-09-10 09:21] Mut1nyJD commented on #27723
@jantic
Well yes that's true. What I am seeing is that the error message is instead of failed on "ATen operator mv"

it says for me

"failed on operator mv"

So that might be the same operator and the naming has changed between PyTorch 1.3/1.4 when this bug was originally filed and the current 1.6 release or it is a different one.

But I thought before opening another issue pointing to the same pr

[2020-09-10 09:38] Abbyyan commented on #31285
Meanwhile, It's wired that all the test about pytorch is available, but it just can't use can will raise `RuntimeError: CUDA error: no kernel image is available for execution on the device`. How can i judge whether the `pytorch cuda` can use or not please? Thanks a lot.

[2020-09-10 10:00] Randl commented on #44109
It seems like  c010ef7 doesn't fix this one.
cc @walterddr

[2020-09-10 10:36] gemfield commented on #32988
Same issue on PyTorch 1.6.0, currently I am using list as a workaround.

[2020-09-10 10:52] gemfield commented on #16123
on PyTorch 1.6.0, do index on ModuleList still get this error.

[2020-09-10 11:32] SungmanHong opened #44466 "My pytorch conversion to mobile is not working...!"
I have OCR NN really...huge and
cuz I want to use pytorch on android...
I tried to convert pytorch model to pytorch mobile....
(But... If can't we just uses pytorch library in JAVA??)
Here is what I tried..

[code]

The example is sample input(altough I don know why it is needed... Can't we just convert to the mobile without sample input? it is very anoying..)

the error message is...

And my mode

[2020-09-10 11:39] SungmanHong commented on #44466
My simpled error output is this

`torch.jit.trace(recognizer2, example)`

[2020-09-10 11:56] kwanUm commented on #16123
Works for me actually on pytorch 1.6. Make sure you are not iterating on a
ModuleList that is a submodule/data member of the class you work on.
There's an open bug on that.

On Thu, Sep 10, 2020, 13:52 Gemfield <notifications@github.com> wrote:

[2020-09-10 12:13] rashad101 commented on #25019
This also solved my problem. Thanks

[2020-09-10 12:50] antocuni opened #44467 "Missing tests for most torch.*(out=...) tensor operators"
## 🐛 Bug

Apparently, the `(out=...)` version of most tensor operators is not directly tested by `test_torch.py`.

For most operators, a test is semi-automatically generated from this list inside `test_torch.py`:

https://github.com/pytorch/pytorch/blob/356aa54694cc4f1c9599fdf8320a4759aa63a12f/test/test_torch.py#L19729-L19759

Note that there is a parameter called `test_out`, but it is used only f

[2020-09-10 12:55] peterbell10 commented on #9499
The linked porting PR was merged.

[2020-09-10 12:55] #9499 closed

[2020-09-10 13:48] SungmanHong opened #44469 "Error in the converting to pytorch mobile.."
My torch and cuda is newest version..and i'm converting to pytorch mobile..
where net() is torch(Neural network)
[code]

but I got a error....
what is that....? Maybe I'll share full colab later... thank you

---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-83-d527bb344e90> in <mod

[2020-09-10 14:02] colesbury commented on #44460
Use `python setup.py bdist_wheel` to build a wheel file. The wheel file will be in the `dist` sub-directory.

[2020-09-10 14:04] glaringlee commented on #44459
Checked a bit. The c++ version is added last year when developing the C++ APIs NN Modules. _pad_circular was a pure python layer function while C++ APIs NN Modules need this in c++ layer. We probably can dispatch this function from python to c++ layer, the input is compatible with the native_function.ymal schema to me.

[2020-09-10 14:14] colesbury commented on #44452
You probably have a zero value in `tensor` (or some value very close to zero). The gradients for those values are NaN when 0<p<1.

See https://www.wolframalpha.com/input/?i=derivative+%28%7Cx%7C%5E0.5%2B%7Cy%7C%5E0.5%29%5E2 for the partial derivative and graph. Note that the partial derivative goes to +/-infinity as x approaches zero.

[2020-09-10 14:18] colesbury commented on #44452
One trick is to add a small value to each number to ensure that they are not zero. You optimize a different function, but one that's smoother and easier to optimize. i.e. instead of:

[code]

[code]

[2020-09-10 14:20] colesbury commented on #44452
I'm closing this issue because I don't think it's a bug in PyTorch. Please re-open with information on the inputs to norm if that's not the case.

[2020-09-10 14:20] #44452 closed

[2020-09-10 14:27] yarkable commented on #32564
Thanks, reducing the batch_size is OK. But it seems a bug?

[2020-09-10 14:30] ezyang commented on #44426
Yes, this looks bad to me.

[2020-09-10 14:34] hgaiser commented on #40859
Was a bit longer wait than expected, but I update the PR [here](https://github.com/pytorch/pytorch/pull/39144). I propose to move the discussion there.

[2020-09-10 14:37] #43950 closed

[2020-09-10 14:47] techity commented on #44245
@izdeby the little piece of code to reproduce the bug and the assert message are both found in the original post. Or am I misunderstanding?

[2020-09-10 14:50] #44460 closed

[2020-09-10 14:50] malfet commented on #44460
Please reopen the issue if following would not solve you problem.

[2020-09-10 14:51] ezyang commented on #43212
`aten_src_ATen_config` is probably the legitimate rule, and its the other rule that's causing the problem. Maybe try putting an exclude on the glob in `aten_headers`.

[2020-09-10 14:52] hyperfraise commented on #3298
I agree it shuld be at least half of `kernel_size * dilation`

[2020-09-10 14:56] SsnL commented on #44357
GitHub is not for Q&A. You can ask in the forum / slack / or simply check the PR that did the change for context.

[2020-09-10 14:56] ezyang commented on #10223
I know in personal correspondence I have suggested you try implementing the mappy version. However I wanted to tie off the conversation here.

Sure. It seems to me the nesting representation is kind of dangerous, because operations don't proceed in the obvious recursive fashion: you have to match up duals to their corresponding duals in the other struct, which might have wildly different structure

[2020-09-10 15:09] adampauls opened #44470 "Hang when compiling static libs on windows"
## 🐛 Bug

Currently, there is a hang mentioned [here](https://github.com/pytorch/pytorch/blob/54c05fa34e1fbbb5096746a8ae92e27a08116de4/torch/csrc/autograd/engine.cpp#L228) that can still happen if you build libtorch statically on windows, but then bundle it into a DLL. I think this can be solved by having compiler flag allowing us to link against the DLL runtime, even when compiling statically, th

[2020-09-10 15:32] walterddr opened #44472 "Convert num_kernels to int64 before calling into CUDA GET_BLOCKS"
## 🐛 Bug

Follow up on #43476.
Scanning CUDA KernelUtils.GET_BLOCKS might be called with overflowed 32bit integers. should convert to int64 to hold num_kernels

## Additional context

See examples such as:
https://github.com/pytorch/pytorch/blob/c010ef7f0c6d837809a7e973048afac76373e3de/aten/src/ATen/native/cuda/vol2col.cuh#L107

https://github.com/pytorch/pytorch/blob/c010ef7f0c6d837809a7e973048af

[2020-09-10 15:41] MSKazemi opened #44473 "RuntimeError: cuDNN error: CUDNN_STATUS_NOT_SUPPORTED. This error may appear if you passed in a non-contiguous input."
I have a model with 3dConv layer when start training I got the following error:

RuntimeError: cuDNN error: CUDNN_STATUS_NOT_SUPPORTED. This error may appear if you passed in a non-contiguous input. (getWorkspaceSize at /pytorch/aten/src/ATen/native/cudnn/Conv.cpp:572)
frame #0: c10::Error::Error(c10::SourceLocation, std::string const&) + 0x46 (0x7ff7f4824536 in /usr/local/lib/python3.6/dist-packa

[2020-09-10 15:46] walterddr commented on #44109
@randl actually the original exception: `Runtime Error N > 0 INTERNAL ASSERT FAILED at "/pytorch/aten/src/ATen/cuda/detail/KernelUtils.h":27` is already fixed in the latest nightly even before I push c010ef7.

When I ran your example on latest master, the exception becomes the the int divide overflow issue. could you try using the  latest nightly build?

[2020-09-10 15:59] Randl commented on #44109
Yeah, I got a different error earlier today. For `torch-1.7.0.dev20200910+cu101-cp36-cp36m-linux_x86_64` it seems to run okay. Probably messed up with versions somehow.

[2020-09-10 16:40] JonathanSum opened #44480 "pytorch-cpp request build examples in cpp from this course."
## 🚀 Feature

pytorch-cpp request build examples in cpp from this course.
Notebook 1 to 15.
I think people also need audio training, video training, transformer generation, super-resolution, and SimCLR. WIllion falcon implemented SimCLR in PyTorch lighting.
## Motivation

## Pitch

## Alternatives

## Additional context
https://github.com/Atcold/pytorch-Deep-Learning

[2020-09-10 16:43] JonathanSum commented on #44480
I posted it at the wrong place.

[2020-09-10 16:43] #44480 closed

[2020-09-10 16:54] walterddr opened #44482 "Skip im2col/vol2col when conv kernel is 1x1"
Follow up to #43476

When conv2d/3d kernel is actually 1x1, we should skip the im2col/vol2col and go directly to the matrix multiplication.
This should be done on forward() and backward() steps.

cc @ngimel

[2020-09-10 17:06] ngimel commented on #41696
Fixed by #44423

[2020-09-10 17:06] #41696 closed

[2020-09-10 17:57] robieta opened #44484 "AutoGrad overhead has increased significantly since 1.6"
## 🐛 Bug

AutoGrad overhead has increased significantly since 1.6

## To Reproduce

Note: This requires copying the `torch/utils/_benchmark` folder to the 1.6 install dir in order to have `Timer` available.

[code]

HEAD:
[code]

1.6:
[code]

## Expected behavior

Performance should match or exceed 1.6.

## Environment

Please copy and paste the output from our
[environment collection script](http

[2020-09-10 18:03] mruberry commented on #44467
Adding more tests for `out=` behavior is a great idea, and you're correct, @antocuni, that we're missing them.

The `tensor_op_tests` list has outgrown its purpose (much like `method_tests` in common_methods_invocations.py) and I'm leery of investing in it more. Instead we're investing in a new "OpInfo"-based approach that is similar to what you've proposed.  You can see the start of this new list

[2020-09-10 18:37] mruberry opened #44488 "for_each cuda ops won't work properly with operators that promote integer inputs to float"
Operators like true_divide and, in the very near future, div, promote integer inputs to float results. This is natural when the result of an operation is not representable in the input's dtype (another example would be sin(int)->float). The for_each operators on CUDA will cast the results of these operations back to the input dtype, however.

This is not an issue today but will be after https://gi

[2020-09-10 18:38] mruberry opened #44489 "for_each doesn't support integer input to float output type promotion"
Operators like true_divide and, in the very near future, div, promote integer inputs to float results. This is natural when the result of an operation is not representable in the input's dtype (another example would be sin(int)->float). The for_each operators on CUDA will cast the results of these operations back to the input dtype, however.

This is not an issue today but will be after https://gi

[2020-09-10 18:57] arbabu123 commented on #16330
it will be really useful to have this feature. please consider adding it :)

[2020-09-10 19:01] colesbury commented on #44470
@seemethere can you take a look at this or route it to the right person?

[2020-09-10 19:06] maxluk commented on #44470
+ @nbcsm

[2020-09-10 19:06] albanD commented on #10223
Yes, in the notebook, we ensure this by enforcing an ordering on the nesting.

I agree with this.
The reason I talk about levels is because, when processing a given dual space, you need to disable further computation for that name. So it is easy to think of them as levels that you compute in order and do the masking by updating the starting point of which levels need to be considered.

Here is a v

[2020-09-10 19:30] xwang233 commented on #44473
Thanks for the report. Can you run
[code]
to provide your system environment?

Also, please provide a minimal script that can repro this error, at least with the tensor shapes and convolution parameters (kernel size, strides, etc).

[2020-09-10 19:34] colesbury commented on #44473
@xwang233 maybe we can add the shape (and other relevant info) to the error message when we encounter CUDNN_STATUS_NOT_SUPPORTED.

[2020-09-10 19:36] xwang233 commented on #44473
@colesbury that's a good point! I'll check the code and see what we can do.

[2020-09-10 20:29] BenyaminHaghi commented on #9249
Can you please explain with more details? It is very vague and general explanation.

[2020-09-10 20:38] #44450 closed

[2020-09-10 20:53] #22866 closed

[2020-09-10 20:55] jerryzh168 opened #44498 "symbolic trace for default arguments"
looks like symbolic trace does not work for default argument right now.

[code]

[code]

cc @gmagogsfm

[2020-09-10 20:55] SplitInfinity commented on #44448
You can also print the optimized IR using the `graph` attribute of the scripted module:
[code]

[2020-09-10 21:12] gchanan opened #44503 "TestJitGeneratedModule.test_nn_CTCLoss_lengths_intlists fails if not skipped"
In https://github.com/pytorch/pytorch/commit/fa158c4ca60d7bcd1ec52bdfaf4cee2d8d9e923a, if I remove the `check_jit`s and run:

 `python test_jit.py TestJitGeneratedModule.test_nn_CTCLoss_lengths_intlists`

I get:
[code]

If I had to guess, it looks like a typing problem because CTCLoss in python supports int arrays, but the signature only says it supports Tensors.  But the error message is pretty i

[2020-09-10 21:16] psasidharan opened #44504 "FP16 inference latency"
[latency_test.py.txt](https://github.com/pytorch/pytorch/files/5204664/latency_test.py.txt)
## 🐛 Bug

Observing a latency variation of 3-4ms on half precision inference runs when we run inference intermittently (Sleeping 100ms between inference runs). We don't see this latency drop if inference is done from a tight loop. The issue can be reproduced with the attached python code (latency_test.py.tx

[2020-09-10 21:16] mruberry opened #44506 "Support OpInfo-based JIT testing"
Today in PyTorch test_autograd.py and test_jit.py use "method tests" from common_methods_invocations.py to generate tests. Pointer:

https://github.com/pytorch/pytorch/blob/4bead6438a4271f154980dc242199c2f1b897bc1/torch/testing/_internal/common_methods_invocations.py#L364

These tuples are tricky to use and hard to maintain, however. To facilitate more maintainable and thorough tests we're switchi

[2020-09-10 21:18] #18807 closed

[2020-09-10 21:28] Lilyjjo commented on #44448
Does using `export PYTORCH_JIT_LOG_LEVEL=">profiling_graph_executor_impl"` work for you?

[2020-09-10 21:29] SsnL commented on #44415
see https://github.com/pytorch/pytorch/pull/44445

[2020-09-10 21:40] SplitInfinity commented on #44503
[code]

Yeah, looks like a typing problem. JIT doesn't have a `Union` type, so the only options here are:
- disable the test
- annotate the type of `input_lengths` and `targets_lengths` as `Any` and modify the code accordingly (perform type refinement in the body of `forward` and handle the cases in which they are `Tensors` and `List[int]` separately)
- supply `Tensors` in the test instead (althou

[2020-09-10 22:11] BramVanroy opened #44511 "LR scheduler throws warning when using scaler.step instead of optimizer.step"
## 🐛 Bug

The documentation provides [a code snippet](https://pytorch.org/docs/stable/amp.html#torch.cuda.amp.GradScaler.unscale_) to use the automatic scaling and AMP along side gradient clipping. If we also add a scheduler step into the mix, after the optimizer step, PyTorch throws a UserWarning which I do not think is correct:

UserWarning: Detected call of `lr_scheduler.step()` before `optimiz

[2020-09-10 22:20] Quentin-Anthony commented on #40559
To those who face this issue in the future, I've found that this is typically caused by a typo in setting
`CUDA_HOME`

It's a cryptic error message, but PyTorch is just looking in the wrong place for `CUDA_HOME`/include/cusparse.h

[2020-09-10 22:29] wangxiang2713 commented on #44448
Yes, it does. Buti want run graph_executor other than profiling_graph_executor, how can i do that?

[2020-09-10 22:48] Lilyjjo commented on #44448
If you add `torch._C._jit_set_profiling_executor(False)` to your file before scripting that should make use of the graph_executor.cpp. Let me know if that doesn't work for you

[2020-09-11 00:11] nbcsm commented on #44470
thanks for reporting, we will take a look.  @mszhanyi

[2020-09-11 00:49] HamidShojanazeri commented on #44504
Hi @psasidharan
I was not able to reproduce the issue using the code provided. Although going through the code, I believe time.time() is not monotonic and might not be very helpful in measuring the time intervals. I have tried the code using time.perf_counter() and time.monotinic() which gives consistent results and show no latency more than the delay(sleep for 100ms) in the loops, here is the out

[2020-09-11 01:32] #44425 closed

[2020-09-11 01:39] colesbury commented on #44504
I was also not able to reproduce this issue. WIth Quadro GP100, CUDA 10.0 PyTorch 1.7.0a0+c44b1de I got:

[code]

I also think `time.time()` is probably OK for these examples; in theory it could be inaccurate due to time adjustment, but that's unlikely for any single run.

My best guesses are:
1) Your CPU is down clocking on idle. On Linux you can check the scaling governor with:

[code]

You can

[2020-09-11 01:40] colesbury commented on #44511
@mcarilli can you look at this?

[2020-09-11 01:42] min-xu-ai opened #44527 "BatchSampler & PEP 479"
## 🐛 Bug

By reading BatchSampler's code, it seems that when StopIteration is raised by the underlying sampler in https://github.com/pytorch/pytorch/blob/41f62b17e721d2f8854b7e684d96e70d58f2eaf0/torch/utils/data/sampler.py#L227 due to [PEP 479](https://www.python.org/dev/peps/pep-0479/), this gets turned into a RuntimeError exception.

Is this really intended? Shouldn't the sampler raise StopItera

[2020-09-11 02:08] thuzhf opened #44528 "DataLoader consumes extremely large shared memory (shm) in its initialization."
## 🐛 Bug

DataLoader consumes extremely large shared memory (shm) in its initialization compared to following training steps. For example, it consumes round 150GB in its initialization (when set num_workers=7), and then decrease to 0 (I sleep 30s after its initialization), and then consumes round 0~30GB in the following training steps.

## To Reproduce

Steps to reproduce the behavior:

1. set you

[2020-09-11 02:10] Abbyyan commented on #44460
Thanks a lot.

[2020-09-11 02:41] vikigenius opened #44530 "`CatTransform` should work with `event_dim > 0` transforms"
## 🐛 Bug

Just opening a bug report corresponding to attempted pull request: https://github.com/pytorch/pytorch/pull/36878

As described the issue is that CatTransform does not work for event_dim > 0.

## To Reproduce

[code]
[code]

## Expected behavior
log_abs_det_jacobian should work with CatTransform even for event_dim > 0

cc @vincentqb @fritzo @neerajprad @alicanb @vishwakftw

[2020-09-11 02:45] antoche opened #44531 "enable_grad decorator doesn't support recursive calls"
## 🐛 Bug

Hi,

The `enable_grad` decorator is supposed to restore the previous grad mode when returning from the function.

This doesn't happen when the function is calling itself recursively.

## To Reproduce

Steps to reproduce the behavior:

Run the following test

[code]

## Expected behavior

The last is_grad_enabled() call should return False, the assertion should not fail.

Instead, the las

[2020-09-11 03:05] zzzxxxttt opened #44533 "“doxygenfunction: Unable to resolve multiple matches for function ...” in C++ documentation"
## 📚 Documentation

For some C++ functions (for example, torch::load), the [function documentation](https://pytorch.org/cppdocs/api/function_namespacetorch_1a4b369494adfb10b9a005aeb0bb6207cb.html?highlight=load) page shows a warning:

[code]

![image](https://user-images.githubusercontent.com/39305301/92850084-9ab57180-f41e-11ea-8e73-47015c71c87e.png)

[2020-09-11 03:45] xkszltl commented on #42939
How's the issue?
I recently upgrade to protobuf 3.13.0 and this issue is still there.

[2020-09-11 04:00] dipanshug124 commented on #44472
@walterddr in the python 3.x the size of int is not defined, it would work as well for 64 bit.
I'm not getting your issue, can you explain it using an example?

[2020-09-11 04:07] neso613 opened #44536 "Error while converting ESPNet model into ONNX"
Hi

I am trying to convert ESPNet (PyTorch as a backend) model into ONNX, but I'm getting error i.e.
`TypeError: forward() missing 2 required positional arguments: 'ilens' and 'ys_pad'`

I am using this code for conversion.
`# Export the trained model to ONNX dummy_input = Variable(torch.randn(83,320)) # [83,320] will be the input to the model torch.onnx.export(model, dummy_input, "model.onnx")`

[2020-09-11 04:14] ychfan commented on #5672
@kurtamohler [Docs](https://docs.nvidia.com/cuda/cusparse/index.html#cusparse-generic-function-spmm) show that cusparseSpMM also supports batched computation. Do you think we can use it instead of loop?

[2020-09-11 04:21] ezyang commented on #44484
Initial investigation from internal chat suggests that this is due to RecordFunction changes

[2020-09-11 04:24] ezyang commented on #10223
Hmm, I'm not sure I follow. When I do a nested derivative and the inner derivative makes use of variables bound from the outer derivative, I have to do computations for both dual spaces simultaneously. Where does the disabling come into play?

I briefly chatted with @zdevito on this subject and he also thought that dual tensors were more the PyTorch "style" (in the same way we don't do a higher or

[2020-09-11 05:16] dzhulgakov commented on #44027
@SnnL - I'd argue that in your example it's also a subtle bug in user code - you can't enforce that the argument is indeed a temporary and not some external buffer. So the right thing to do would be to call `.contiguous().clone()`. But then we're getting into the land of rvalue-references and move semantics if we want to get good perf and it's indeed gets pretty complicated. One way of patching co

[2020-09-11 06:16] MSKazemi commented on #44473
please find in the following the results:

PyTorch version: 1.5.1
Is debug build: No
CUDA used to build PyTorch: 10.2

OS: Ubuntu 18.04.5 LTS
GCC version: (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
CMake version: Could not collect

Python version: 3.6
Is CUDA available: Yes
CUDA runtime version: 10.1.243
GPU models and configuration:
GPU 0: GeForce GTX 1080 Ti
GPU 1: GeForce GTX 1080 Ti
GPU 2: GeForce GT

[2020-09-11 06:18] MSKazemi commented on #44473
I have this error just in the model with 3dConv.

[2020-09-11 06:34] ngimel commented on #36048
Added in #41480

[2020-09-11 06:34] #36048 closed

[2020-09-11 06:39] kurtamohler commented on #5672
@ychfan, if you call `torch.bmm` with sparse-dense CUDA tensors, the operation is implemented with cusparseSpMM, as shown in my PR here: https://github.com/pytorch/pytorch/pull/33430/files#diff-98e035ee4319ebbd499f6be9da9af845R986

[2020-09-11 06:46] StevenAZy opened #44539 "After adding the transforms.Resize(), Why the training of model gets slowly?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2020-09-11 07:08] peterjc123 commented on #42939
Maybe we should patch the files even if the system protobuf is used. What do you think, @malfet @ezyang ?

[2020-09-11 07:16] DomHudson commented on #29973
@VitalyFedyunin  Hi, why did you close this? Believe this is still ongoing and used to track https://github.com/pytorch/pytorch/issues/43153 and https://github.com/pytorch/pytorch/issues/43116

[2020-09-11 07:30] verdelyi commented on #23823
Actually I didn't even have to reboot (Version 1909 build 18363.1082)

[2020-09-11 07:38] SungmanHong opened #44541 "Qestion) Perform unsqueeze(0) or reorder TENSORS in JAVA.pytorch"
## ❓ Questions and Help
Hi, I have python code
and converting to android

my python code is`unsqueeze(x,0)` where x is **pytorch.tensor**
1) in JAVA, can I do it(`unsqueeze(x,0)`) how...?
e.g) when unsqueeze(x,0) is performed, shape of x will be [3,2,4] to [1,3,2,4]
Actually, I want to increase dimension of the tensor x by adding a new dimension of size=1 in the first of the tensors..

2) Also, I

[2020-09-11 08:39] vadimkantorov opened #44544 "torch.distributed ignores passed MASTER_PORT"
Despite the passed port, it still tries to bind and to connect to a random port. If this is due to some TCP binding error, it should be printed. This is extremely confusing :(

[code]

[code]

[2020-09-11 08:44] Yura52 commented on #19160
To me, it makes sense to include a shortcut that combines both `model.eval()` and `torch.no_grad()`, because scenarios when this combination is needed happen very often.

P.S. Shameless plug: in the library I developed there is one: [`zero.training.Eval`](https://yura52.github.io/zero/reference/training.html#eval). However, I still think it is worth adding something similar to PyTorch itself.

[2020-09-11 09:02] rainbow979 opened #44545 "too large data in Queue cause dead lock in Multiprocessing"
The model has two parts, and I want to parallel two parts, so I used multiprocessing.
One part can be seen as provider, another can be seen as consumer.
It always lock in consumer needs data, but it seems provider also provide data.

I tried to change data size in queue, the process became dead lock in different running iters.

[2020-09-11 09:04] rainbow979 commented on #44545
The provider one time provides 4 data, but consumer one time consume 1.
I changed provider one time just provides 1 data, it seems no dead lock

[2020-09-11 09:10] david-macleod commented on #39272
Is this feature targeting torch 1.7?

[2020-09-11 09:14] vadimkantorov commented on #44544
From strace it seems that server itself tries also to connect somewhere (by some random port). Very strange

[2020-09-11 09:47] tangchunbo commented on #44449
i removed `CXX` or `C` environment variables, it still be the same error.

[2020-09-11 09:52] OOXXXXOO commented on #26536
This is a bug？ I test the case from version 1.0 to 1.5 ，the all version will cause this bug with different model  from resnet to Mask RCNN ， so how i aviod this error by code？ What cause the bug？

[2020-09-11 09:55] OOXXXXOO commented on #26536
Python 3.7.0 (default, Oct  9 2018, 10:31:47)
[GCC 7.3.0] :: Anaconda, Inc. on linux
Type "help", "copyright", "credits" or "license" for more information.

[1]    624290 floating point exception (core dumped)  python
❯
❯ source activate nightly
❯ python
Python 3.7.9 (default, Aug 31 2020, 12:42:55)
[GCC 7.3.0] :: Anaconda, Inc. on linux
Type "help", "copyright", "credits" or "license" for more in

[2020-09-11 09:56] OOXXXXOO commented on #327
Python 3.7.0 (default, Oct  9 2018, 10:31:47)
[GCC 7.3.0] :: Anaconda, Inc. on linux
Type "help", "copyright", "credits" or "license" for more information.

[1]    624290 floating point exception (core dumped)  python
❯
❯ source activate nightly
❯ python
Python 3.7.9 (default, Aug 31 2020, 12:42:55)
[GCC 7.3.0] :: Anaconda, Inc. on linux
Type "help", "copyright", "credits" or "license" for more in

[2020-09-11 10:05] rgommers commented on #44294
@chrismaliszewski your code isn't the same for numpy as for pytorch, so it's hard to compare. For example, you're using `torch.rfft` and comparing vs. `np.fft.fft` - both numpy and pytorch have `fft` and `rfft`. I suggest rewriting your code to benchmark as a single function:

[code]

This should be possible with gh-43011, which adds numpy-compatible 1-D transforms. (if you can't build from source

[2020-09-11 10:05] OOXXXXOO commented on #327
terminate called after throwing an instance of 'c10::Error'
  what():  invalid device pointer: 0x7ff443ffdc00
Exception raised from free at /opt/conda/conda-bld/pytorch_1595629427478/work/c10/cuda/CUDACachingAllocator.cpp:844 (most recent call first):
frame #0: c10::Error::Error(c10::SourceLocation, std::string) + 0x4d (0x7ff789d4377d in /home/winshare/anaconda3/envs/nightly/lib/python3.7/site-pac

[2020-09-11 10:26] apalazzi opened #44546 "test_autograd test fails with ROCm"
## 🐛 Bug

When using pytorch+ROCm the test suite fails on the following tests:

* test_profiler_custom_op (__main__.TestAutograd)
* test_profiler_emit_nvtx_cuda (__main__.TestAutogradDeviceTypeCUDA)
* test_ctc_loss_cudnn_cuda (__main__.TestAutogradDeviceTypeCUDA)

I have the same exact behaviour either when using the docker and when building pytorch from sources.

## To Reproduce

1. Install pytor

[2020-09-11 10:49] OOXXXXOO opened #44547 "floating point exception (core dumped) in training 10^4 steps"
## 🐛 Bug
 floating point exception (core dumped)
## To Reproduce
https://github.com/lukemelas/EfficientNet-PyTorch
 python train.py -b 5 -a "efficientnet-b5" --image_size 224 --gpu 0 --epochs 100

With no change run on the two version of the Pytorch

On Pytorch 1.5

    20121 floating point exception (core dumped)

On pytorch 1.6
[code]
or
[code]

## Expected behavior

code  sample:
[code]

## Env

[2020-09-11 11:09] OOXXXXOO commented on #44547
Additional i got a idea, When training i print that loss.item()

Then a loss output will not complete on crash step.
That mean the loss compute  will cause this question?

[code]

[2020-09-11 11:46] NahianAlindo opened #44549 "Error: The ordinal 242 could not be located in the dynamic link library C:\Users\nrifa\anaconda3\envs\test\lib\site-packages\torch\lib\torch_cpu.dll"
I don't know why this is occurring. I was trying to run the HRNet model by leoxiaobin. I followed his git repo [here](https://github.com/leoxiaobin/deep-high-resolution-net.pytorch).

I had already created a virtual environment using conda and used conda to install pytorch with cuda and installed the packages in the requirements.txt manually except instead of shapely==1.6.4, I installed the latest

[2020-09-11 11:51] mariosasko commented on #44527
Hi,

not really sure if I understand your question. Using the `yield` keyword in `__iter__`  is a construct I see fairly often and it works perfectly fine if implemented correctly. To get RuntimeError, you have to explicitly raise StopIteration in `__iter__`. So the code seems fine.

Try this code to get an idea (it should raise RuntimeError):
[code]

[2020-09-11 11:54] ychfan commented on #5672
@kurtamohler For my understanding, the current `bmm` is based a loop over batch axis and calling spmm for each matrix. Based on nv's doc, spmm can deal with batch in a single call.

[2020-09-11 11:54] kshitij12345 commented on #44472
@dipanshug124 You can look at https://github.com/pytorch/pytorch/issues/43476#issuecomment-689642123 for more context.

[2020-09-11 14:20] xdever opened #44551 "PyTorch 1.6 DataParallel causes CUDNN_STATUS_BAD_PARAM in backward pass"
## 🐛 Bug

On a machine having 2 different GPUs DataParallel causes a crash in the C++ backed with RuntimeError: cuDNN error: CUDNN_STATUS_BAD_PARAM error message. With disabled CUDNN it works fine.

The crash is stochastic and the probability depends on the used model. Simpler convnets works fine. The probability is related to the number of batchnorms used in the model, however, I was unable to fi

[2020-09-11 14:27] albanD commented on #10223
The simplest example I can think of is considering the multiplication `A * B` with a single level of derivative `e`.
You compute `A * B = (a + ga * e) * (b + gb * e)`. When you compute the product, you should get `a * b + a * gb * e + b * ga`.
In particular, when you compute `a * gb * e`, you should simply multiply the primal of A with the dual of B.
This is exactly what we do in the very first im

[2020-09-11 14:34] gchanan commented on #44504
@colesbury 's suggestion seems like the most likely explanation.

It would also be helpful if you explained your use case.  Is the test after sleeping supposed to be a proxy for a different real-world scenario?

[2020-09-11 14:41] rgommers commented on #42666
Regarding the task list here: I'm not too sure about deprecating so many functions. For `norm` it makes sense, because the `torch.linalg.norm` function is different from (and arguably nicer) than `torch.norm`. But for simple aliases, I'd at least do those last, because there's only value once the whole `linalg` namespace is complete so we can say "`torch.linalg` matches `numpy.linalg`". And for so

[2020-09-11 14:42] min-xu-ai commented on #44527
try making the list [1,2,3] into an iterator and try again. That iterator would raise StopIteration at the end and it would be converted to RuntimeError in this parent iterator according to the PEP.

[2020-09-11 14:52] fylux commented on #26889
Hi! I have been working on a proposal for adding support for type arithmetic and some other useful features for tensor typing. I will present it next Monday in the next chapter of the Tensor Typing meetings that we have been organising, so if anyone is interested feel free to attend: [link](https://mail.python.org/archives/list/typing-sig@python.org/thread/JKYLI2IK42LIU26YXBW3N2TE2YQN4ESQ/)

[2020-09-11 14:53] lhk opened #44552 "torch.norm does not broadcast for dim > 2"
## 📚 Documentation
[From the docs:](https://pytorch.org/docs/stable/generated/torch.norm.html)

`torch.norm(input, p='fro', dim=None, keepdim=False, out=None, dtype=None)`

The docs say that by default the norm will be applied to the last dimension, when the input tensor has more than two axes. I see different behaviour:
[code]

[2020-09-11 15:29] kurtamohler commented on #5672
@ychfan , ah right, sorry I misunderstood. Yeah it looks like it should be possible. I don't remember seeing that in the cuda documentation when I worked on this, might be a relatively new feature

[2020-09-11 15:38] #44061 closed

[2020-09-11 16:01] grgkopanas opened #44555 "Wierd behavior of torch::sum()/t.sum() function"
## ❓ Questions and Help
Running this snippet of code:

torch::Tensor a = torch::rand({ 900, 600, 1 });
std::cout << a.sum() << std::endl;
std::cout << a.sum(torch::kDouble).data<double>()[0] << std::endl;
std::cout << torch::sum(a, torch::kDouble).data<double>()[0] << std::endl;

I get:

269810
[ CPUFloatType{} ]
269810
269810

This is unexpected since I would expect the sum to be a floating-point

[2020-09-11 16:04] min-xu-ai commented on #44527
Nevermind, you are right, it needs to be explicitly raised.

[2020-09-11 16:04] #44527 closed

[2020-09-11 16:07] grgkopanas commented on #44555
printf("%f\n", a.sum().data<float>()[0]); printed/showed that the value was actually calculated properly.

cout was truncating the decimal points I don't know if that is a peculiarity of windows but I think that is unfortunate. Closing the issue

[2020-09-11 16:07] #44555 closed

[2020-09-11 16:31] shubhambhokare1 commented on #36997
The segmentation fault occurs when you call the `convert` function imported from the `onnx_coreml` library on the line 500
`onnx_model = onnx.shape_inference.infer_shapes(onnx_model)`

In order to avoid running into the segfault, you can look into the [repo](https://github.com/switchablenorms/CelebAMask-HQ/tree/master/face_parsing) you provided, especially the model_utils.py file. In the line 217,

[2020-09-11 17:02] peterbell10 commented on #44294
Timing with gh-43011 still shows a performance drop with pytorch:
[code]

However, I don't think this is a very good benchmark. It does many small non-vectorized 1D transforms which is not what tensor libraries are best at. It's also conflating `diag`, `fft`, `abs` and copy-assign into one single benchmark.

If I use `timeit` to isolate each line:
* diag is ~3 us for numpy and ~5-6 us for pytorch

[2020-09-11 17:23] #43431 closed

[2020-09-11 17:38] zou3519 commented on #10223
I agree with Ed's point that it's more "PyTorch style" to provide a low-level dual numbers API. Do we expect users to use the low-level jvp API to do forward-mode computation (e.g., manually construct dual tensors and run those in the model), or are we hoping to direct users to the high-level jvp API?

One additional downside to the higher-level API may be that it is difficult to use with the curr

[2020-09-11 18:01] psasidharan commented on #44504
@gchanan Yes the test after sleeping is a proxt for a real-world scenario. We saw this behavior one our networks (4-6ms latency difference).  @colesbury I have tried setting the governor to performance, but still I see the latency gap even with the perf_counter.

My CPU is Intel(R) Xeon(R) W-2135 CPU @ 3.70GHz & GPU 2080Ti. We don't see this issue in AMD Ryzen with 2080Ti. The whole inference happ

[2020-09-11 18:03] spandantiwari commented on #36997
Thanks @shubhambhokare1 .

[2020-09-11 18:03] #36997 closed

[2020-09-11 18:46] xwang233 commented on #41027
Cross post from #43541 , what should we expect when user passed in a non-contiguous tensor
[code]

output
[code]

[2020-09-11 18:48] pritamdamania87 commented on #39272
@david-macleod Yes, this feature would be in torch 1.7, but it will be marked as "prototype" to begin with since it currently only supports the NCCL backend and single process single device mode of DDP. Would love to hear your feedback on any improvements we can make to this hook for use cases you have in mind.

[2020-09-11 19:12] ngimel commented on #41027
When user passes correctly sized discontiguous tensor, it should be directly used and its strides should be respected. This issue proposes disallowing incorrectly sized `out` tensors, so going forward there should be no question of passing incorrectly sized discontiguous tensor (which your example above is doing). For now, we reserve the right to do whatever we want with incorrectly sized `out` te

[2020-09-11 19:49] gchanan commented on #43228
This has been fixed by https://github.com/pytorch/pytorch/pull/44437 and other PRs in the stack fixed similar issues for other loss functions.

[2020-09-11 19:49] #43228 closed

[2020-09-11 20:08] glaringlee commented on #16830
This should be fixed in #44437

[2020-09-11 20:08] #16830 closed

[2020-09-11 20:10] rgommers commented on #42666
@mruberry, @ezyang and I had a chat about priorities:

1. Implement functions that don’t yet exist, most-used ones first (e.g. `kron`, `eigh` - here is some [usage data](https://github.com/Quansight-Labs/python-api-inspect/blob/master/data/csv/numpy-summary.csv))
2. Implement functions that exist in `torch` but need a change to match numpy when they go into `torch.linalg`
3. Add aliases to linalg

[2020-09-11 20:17] ezyang commented on #42939
Yes, I think I agree with you.

[2020-09-11 20:18] ggeor84 commented on #33309
@jerryzh168 was wondering if you have any plans to fix this issue?

[2020-09-11 21:19] chrismaliszewski commented on #44294
Thank you, @rgommers, and especially you, @peterbell10, for deep analysis. You confirmed my worries that not much can be done. I'll use NumPy for calculating data and, then, convert the results to Tensor.

I think it summarizes the issue.
Thanks, again!

[2020-09-11 21:19] #44294 closed

[2020-09-11 21:21] VitalyFedyunin commented on #44539
Hello!

It is happening because Resize of the image takes CPU resources.

Next time It is better to ask such kind of questions at https://discuss.pytorch.org/. I will close this issue, feel free to reopen it if you think that you need to report a bug or make feature proposal. Thanks.

[2020-09-11 21:21] #44539 closed

[2020-09-11 21:22] VitalyFedyunin commented on #44541
Hello! It is better to ask such kind of questions at https://discuss.pytorch.org/ I will close this issue, feel free to reopen it if you think that you need to report a bug or make feature proposal. Thanks.

[2020-09-11 21:22] #44541 closed

[2020-09-11 21:58] VitalyFedyunin commented on #44551
To be honest you are using two non well supported features of pytorch DataParallel (Distributed DataParallel is the preferred way) and hardware setup with two different GPUs.

[2020-09-11 22:23] #44438 closed

[2020-09-11 22:35] #44273 closed

[2020-09-11 23:04] #44198 closed

[2020-09-11 23:17] ggeor84 commented on #28705
any news on this?

[2020-09-11 23:47] walterddr commented on #39670
I was wondering what's the solution to this. an not sure if this is related - I tried to annotate the 3 conditionally registered parameter/buffer in #44535 but somehow it also complains something similar in test_jit.py

[2020-09-12 00:50] OOXXXXOO commented on #44547
Today, i run the same code in CloudMachine with Tesla T4 GPU and same enviroments{
Pytorch 1.6
CUDA10.2
}
The Process work ok.

So , that mean the problem could be hardware issue?

[2020-09-12 01:13] peterjc123 commented on #44549
The most probable reasons are listed as follows.
1. You have some confliciting DLLs in SystemRoot or PATH. e.g. libiomp5md.dll Actu

[2020-09-12 01:17] peterjc123 commented on #44549
Possible reasons:
1. There are some conflicting DLLs be loaded in the SystemRoot or PATH. Actually, you may figure out what DLLs are loaded with the help of Process Monitor.
2. You updated PyTorch but the old version is somehow not removed. If this is the case, please uninstall it again first.

[2020-09-12 02:45] peterjc123 commented on #42939
@xkszltl Would you please test whether https://github.com/pytorch/pytorch/pull/44583 fixes your problem?

[2020-09-12 03:14] mruberry commented on #42666
@rgommers I updated the rollup to reflect these priorities and remove all deprecation tasks (except deprecating torch.norm, as we discussed earlier). I appreciate your point about maybe being less aggressive with deprecations than this initially was. Let's review on a case-by-case basis.

[2020-09-12 03:40] amirhoseintorabi commented on #34798
thanksssss it worked for me as well, saved me a lot of time

[2020-09-12 07:55] ishedesy commented on #19003
I use PyTorch 1.4, but I still get the following error when using Adam without momentum:
`ValueError: optimizer must support momentum with `cycle_momentum` option enabled`

[2020-09-12 08:24] vadimkantorov commented on #32867
4-bit tensor dtype: https://github.com/pytorch/pytorch/pull/44574

[2020-09-12 08:29] meghbhalerao commented on #19003
Oh, okay. So basically there are some compatibility issues with the `optimizer` and `lr scheduler` for certain combinations of the two?

[2020-09-12 08:30] ishedesy commented on #19003
Exactly. At least it seems so.

[2020-09-12 08:48] DebadityaShome commented on #4827
In a system with multiple conda environments you need to install jupyter and torch again in that particular environment, otherwise conda can't import packages from other environments.

[2020-09-12 08:54] HaleTom commented on #19160
Thanks for the bump on this!  I'll get something submitted in the next week or so.

[2020-09-12 09:30] DeMoriarty opened #44591 "[Feature] Fused Matmul & Min/Max/Sum/Prod"
## 🚀 Feature
A fused matmul and min/max/sum/prod operation
for example:
a = torch.rand(10000, 10)
b = torch.rand(10, 5000)
torch.max_matmul(a, b, dim=0)  <==> torch.max(torch.matmul(a, b)), dim=0)

## Motivation
often times computing cosine similarity of two sets of vectors is followed by a min/max/topk operation. however when the size of those two sets are too large, the similarity matrix may not

[2020-09-12 11:53] kshitij12345 commented on #42515
Picking `nan_to_num`.

[2020-09-12 13:34] suraj081 commented on #18626
support and want very badly..

[2020-09-12 14:59] vadimkantorov commented on #44591
Maybe it's a direction towards incorporating [pykeops](https://www.kernel-operations.io)-like ops:

[2020-09-12 15:10] ricardobatistad opened #44593 "No "verbose" argument in CosineAnnealingWarmRestarts"
## 📚 Documentation

The code for torch.optim.lr_scheduler.CosineAnnealingWarmRestarts does not take argument "verbose" but documentation says otherwise.

[2020-09-12 16:37] SsnL commented on #44593
It does https://github.com/pytorch/pytorch/blob/103887892c276fceed5d36324fb9683ed51aa34a/torch/optim/lr_scheduler.py#L957

[2020-09-12 16:38] thuzhf commented on #44357
I see. I will take your advice.

[2020-09-12 16:43] SsnL commented on #19160
Just a thought, what if we also make `model.eval()` a context manager? So people can do things like
[code]

[2020-09-12 16:48] ricardobatistad commented on #44593
Hmm, interesting. It’s not here https://pytorch.org/docs/stable/_modules/torch/optim/lr_scheduler.html#CosineAnnealingWarmRestarts.step <https://pytorch.org/docs/stable/_modules/torch/optim/lr_scheduler.html#CosineAnnealingWarmRestarts.step>. Also,

print(torch.__version__)
1.6.0

inspect.getfullargspec(torch.optim.lr_scheduler.CosineAnnealingWarmRestarts)

Apologies if I’m missing something obvio

[2020-09-12 16:53] SsnL commented on #44593
It is weird indeed! It seems that 1.6.0 docs are generated in a weird way that includes the `verbose` arg but the actual docstring in code doesn't. I believe something is wrong in the doc generation process. Could you modify the issue description to be about that instead? I think it would help us better classify the problem. Thanks!

[2020-09-12 16:54] zhanghang1989 opened #44594 "Build-from-source Failed on Mac OS"
## 🐛 Bug

Following [build-from-source instructions](https://github.com/pytorch/pytorch#from-source) on MacOS, I failed to build pytorch. I have GTX 1080ti GPU. I got the error:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. MacOS 10.13.6
1. CUDA 10.1
1. Follow the official instructions here: https://github.com/pytorch/pytorch#from-source

## Expected behavior

## Environment

Plea

[2020-09-12 17:04] ricardobatistad commented on #44593
Will do. Lastly, for what it’s worth, reason I discovered it:

Code:
scheduler = torch.optim.lr_scheduler.CosineAnnealingWarmRestarts(optimizer, T_0 = 5, T_mult = 2, verbose = True)

Output:

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-13-8bba5015f71d> in <module>
----> 1 sche

[2020-09-12 17:22] pearu commented on #28500
@aocsa , can we close this issue via https://github.com/pytorch/pytorch/pull/41984 ?

[2020-09-12 17:33] aocsa commented on #28500
Yes, we can close. It's solved already

[2020-09-12 17:42] mariosasko commented on #44593
Here is a link to the similar issue that was opened recently #44080.

[2020-09-12 17:51] lamhoangtung commented on #43198
@gmagogsfm Sorry for the late reply. I'm constructing a minimal repo to share. In the meantime, since the exception said that RuntimeError: Unable to cast Python instance to C++ type (compile in debug mode for details).

Can you show me how to "compile in debug mode for details" first ? Thanks

[2020-09-12 18:04] hoangcuong2011 commented on #33785
I second to this post. I got a similar error by using copy.deepcopy and nn.DataParallel.

[2020-09-12 18:40] Ipsit1234 commented on #44552
@lhk  I am not able to reproduce the error. Can you give more details?

[2020-09-12 19:10] tompfeil commented on #43051
Parameter names are not exported to ONNX, see my example on stackoverflow linked above.

[2020-09-12 19:35] ngimel commented on #33785
Error message says "RuntimeError: Only Tensors created explicitly by the user (graph leaves) support the deepcopy protocol at the moment". Replicas' parameters are not graph leaves, they are clones of original model parameters and track autograd history.

[2020-09-12 20:58] Fowley-P commented on #44472
Hey, I'm looking at fixing this issue, but as someone who doesn't have a lot of experience with the size of datasets used for this, would a u32 suffice, or does it have to be i64? I'd like to avoid using the full i64 if possible, especially for something like CUDA kernels, which can't have a negative value.

[2020-09-12 22:09] mcarilli commented on #42218
Working on permanent fix this week.  In the meantime you can probably work around by casting grid_sample's inputs to float().

[2020-09-12 23:46] xkszltl commented on #42939
Testing...I think it should.
Could you also propose the fix to upstream (protobuf), as it's a general ambiguity.

[2020-09-13 00:34] xkszltl opened #44599 "[Windows CUDA Build] Unknown option '-Xcompiler /w -w'"
## 🐛 Bug

[code]

Most likely the flag was initially injected here: https://github.com/pytorch/pytorch/blob/566b8d0650b9603a40b020972df40220ccf40f94/CMakeLists.txt#L363
This seems fine, so maybe there's issue with the way of using it.

Here's the complaining `.bat` file:
[code]

`"-Xcompiler /w -w"` is in a pair of quotes.

## Environment

 - PyTorch Version (e.g., 1.0): master
 - OS (e.g., Linux)

[2020-09-13 00:36] xkszltl commented on #42939
@peterjc123
Seems it fixes this issue so please merge, but we also end up with another one: https://github.com/pytorch/pytorch/issues/44599

[2020-09-13 01:19] pomelyu opened #44601 "Implementation of 2d bicubic grid sampler"
## 🚀 Feature
support 2d bicubic interpolation in `nn.function.grid_sample` in https://github.com/pytorch/pytorch/issues/25039

## Pitch

Using the [2d bicubic convolution](https://en.wikipedia.org/wiki/Bicubic_interpolation) just as `torch.nn.functional.interpolate()` [here](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/UpSampleBicubic2d.cpp).

## Additional context
I would l

[2020-09-13 02:05] peterjc123 commented on #44599
@xkszltl Fix is on the way.

[2020-09-13 02:13] peterjc123 commented on #44599
@xkszltl Please try https://github.com/pytorch/pytorch/pull/44603.

[2020-09-13 02:52] vpj opened #44605 "__call__ signature of nn.Module"
## 🚀 Feature

https://github.com/lab-ml/labml_helpers/blob/master/labml_helpers/module.py

This is a class I wrote than subclass nn.Module and let modules implement __call__ instead of forward. I did this to get better type checking and type inference in python.

This module uses __init_subclass__ set the __call__ method of it’s subclasses to forward so that it doesn’t mess up with nn.Module hooks

[2020-09-13 04:30] monkeyking opened #44606 "Something goes wrong with pytorch build from source,"
## 🐛 Bug

It seem something goes wrong when building pytorch from source.
But I cnt figure out whether my enviroument not correct or the third party code wrong.
Could some one help with this

## To Reproduce

Steps to reproduce the behavior:

1.rm build/ -rf
2.python setup.py develop

## Expected behavior

## Environment
Cuda and cudnn installed.

PyTorch version: N/A
Is debug build: N/A
CUDA used

[2020-09-13 04:33] monkeyking commented on #44606
## Wrong section
[code]

[2020-09-13 04:38] monkeyking commented on #44606
Full log too long for comment.

Full log can be seen here:
[Full log link](https://github.com/monkeyking/pytorch-build-error)

[2020-09-13 06:29] Coderx7 opened #44608 "INVALID TYPE: Only int64_t and bool are supported as an integral argument type custom_class"
## 🐛 Bug

Trying to build a torchscript extension results in `INVALID TYPE: Only int64_t and bool are supported as an integral argument type` error

## To Reproduce
here is a watered down toy example that demonstrates the issue.
[code]

## Expected behavior

Shouldnt be issuing this erro!

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubu

[2020-09-13 07:08] SungmanHong commented on #44541
Thanks, but I really need for help, cuz in pytorch communicty, there is no relpy..

[2020-09-13 07:16] xkszltl commented on #44599
Good news: it works!
Bad news: Failed by the exact same line....
[code]

[2020-09-13 07:17] xkszltl commented on #44599
https://github.com/pytorch/pytorch/blob/c5dcf056eeef25fcf84674f46561a49a479de7a8/aten/CMakeLists.txt#L75
https://github.com/pytorch/pytorch/blob/fc51047af5d81ae5da30dbda81f91f41364c9a56/cmake/Dependencies.cmake#L1485

[2020-09-13 07:27] peterjc123 commented on #44599
Fixed them in subsequent commits.

[2020-09-13 08:55] xkszltl commented on #44599
That fixes the flag issue so please merge into master.

But that line still fails:
[code]

I tried to run that `caffe2\CMakeFiles\torch_cuda_intermediate_link.obj-505014f.bat` manually and get the same result.
The command is probably too long (47666-byte nvcc call) as you can see.

[code]

I'm gonna have a try with other generator (probably msbuild?) instead of ninja.

[2020-09-13 09:05] peterjc123 commented on #44599
Are you sure the length of the command is the cause for that problem? Have you tried compiling some simple code using NVCC?

[2020-09-13 09:24] xkszltl commented on #44599
Yes, we've built a lot of things with it.

[2020-09-13 09:26] xkszltl commented on #44599
The error is `The system cannot execute the specified program`, not something like "nvcc exit with non-zero code".

[2020-09-13 09:32] Yura52 opened #44610 "Support CPU in torch.cuda.device"
Common setup:
[code]

Currently, I do:
[code]

I suggest adding `'cpu'` and `torch.device('cpu')` to the list of valid values, so I can do:
[code]

The behavior is supposed to be the same as with negative integers and `None`.

[2020-09-13 09:57] Yura52 commented on #19160
The only difference it makes is that one can omit `model.train()`, because it becomes the "default" mode if `model.eval()` is **always** used as a context-manager, right? As for me, I will anyway use `.train()` and `.eval()` everywhere just before using the model, because I cannot know if some other code changes (or not) my model's mode. So, with my current experience, I don't see how I can benefi

[2020-09-13 10:16] Yura52 commented on #44610
Just realised that the following is possible:
[code]

[2020-09-13 10:16] #44610 closed

[2020-09-13 10:18] peterjc123 commented on #44599
@xkszltl https://gitlab.kitware.com/cmake/cmake/-/issues/19647 Maybe this issue is related. But I'm not sure whether we should fix it at the PyTorch side.

[2020-09-13 10:18] mruberry opened #44611 "MacOS CPU torch.tan and torch.tanh do not compute some values properly"
On pytorch_macos_10_13_py3_test the following:

[code]

produces a tensor with value `(-inf+nanj)`, but NumPy correctly produces `-1.633123935319537e+16+0j`.

For tanh,

[code]

produces a tensor with value `(nan-infj)`, but NumPy correctly produces `-1.633123935319537e+16j`.

[2020-09-13 11:05] bwesen commented on #32136
Just FYI this is broken in the official PyTorch C++ Tutorial as well (it should be updated to use x.is_cuda() as well)

[2020-09-13 11:14] mruberry opened #44612 "Round supports complex inputs, but its definition doesn't apply to them"
Currently PyTorch supports complex inputs to `torch.round`, but following changes to functions like `torch.ceil` and `torch.floor` it seems like PyTorch has no notion of what the "closest" integer to any complex number would be.

I suggest we disable complex inputs to `torch.round`.

cc @ezyang @anjali411 @dylanbespalko

[2020-09-13 11:20] bwesen commented on #28955
Hi, I got hit by this right now as well - the C++ extension framework dumps a "ValueError: Unknown CUDA arch (3.0) or GPU not supported" when I try to build the extension on another machine (with an old GPU). I want it to ignore the GPU, I'm just testing to build stuff on it, I'm never going to run it on it. It does have the CUDA 10.2 and nvidia 440 drivers installed.

The linked #27222 issue is c

[2020-09-13 11:47] bwesen commented on #28955
Ok, seems the solution is to set TORCH_CUDA_ARCH_LIST to something like Pascal or Turing etc. before building, this will skip the GPU check. Maybe add a print to the build script, that suggests this instead of just throwing the ValueError would be useful.

[2020-09-13 12:39] mszhanyi commented on #43687
@shihlun1208, if you still come across this issue, feel free to report it.

[2020-09-13 12:39] #43687 closed

[2020-09-13 14:08] xkszltl commented on #44599
Seems it's similar but not exactly that issue (and that's already fixed, probably)

Found 2 way around:
1. Turn off cuda separable compilation.
2. msbuild is probably OK. But it's way too slow (no concurrency for nvcc, will run for hours) so I didn't do a full test.

[2020-09-13 14:25] xkszltl opened #44614 "Cannot install CUDA build on Windows"
## 🐛 Bug

[code]

We're installing toward `C:/Program Files/Caffe2`, so the dependency asked by the error msg is strange.
Probably it's created by generator expression? Or the wrong cmake var is used as path prefix.

## Environment

 - PyTorch Version (e.g., 1.0): master
 - OS (e.g., Linux): Win Server 2019
 - How you installed PyTorch (`conda`, `pip`, source): source
 - Build command you used (if

[2020-09-13 14:27] xkszltl commented on #44599
After turning off CUDA separable compilation I was able to build it successfully.
But there's an issue during installation: https://github.com/pytorch/pytorch/issues/44614

[2020-09-13 14:30] peterjc123 commented on #44614
@xkszltl Could you please share the generated `ninja.build` file?

[2020-09-13 15:04] xkszltl commented on #44614
[build.zip](https://github.com/pytorch/pytorch/files/5214343/build.zip)

[2020-09-13 15:15] xkszltl commented on #44614
I wonder if `CMAKE_CURRENT_BINARY_DIR` here becomes our `CMAKE_INSTALL_PREFIX`

[2020-09-13 15:17] HamzaMohammadKhan commented on #25117
https://forums.developer.nvidia.com/t/nvidia-smi-doesnt-show-cuda-version-even-after-installation/68738 this is the reason but still confusing why

[2020-09-13 16:14] SsnL commented on #19160
The exact reason for my proposal above is that it is less verbose than the current way... Combining context managers is really easy. I agree with @apaszke that we should have independent options for independent settings. So making `.eval` a ctx manager seems both respecting that principle and make users' lives easier.

[2020-09-13 16:24] xkszltl commented on #44614
The ninja file I attached above seems to be modified.
I rerun the build and found:
1. During the first call to `cmake --build .`, there's no `C:\Program Files` prefix for `THGeneral.h`. In fact there're only 2 `THGeneral.h.in` in file: [build.ninja (initial).zip](https://github.com/pytorch/pytorch/files/5214514/build.ninja.initial.zip)
2. Then I run `cmake --build . --target test` and `cmake --bui

[2020-09-13 16:43] nusherjk commented on #5434
having same issue with 196 mb of RAM. any solution?

[2020-09-13 18:06] xkszltl commented on #44614
Eventually I worked around by run `cmake -GNinja ..` with all `-D` twice and `cmake --build . --target rebuild_cache` once, before doing any `cmake --build . && cmake --build . --target test && cmake --build . --target install`.
I had similar issue of generation inconsistency on Linux before: https://github.com/pytorch/pytorch/issues/43030

[2020-09-13 18:30] arbishakram opened #44617 "Linear layer with local connections"
I want to implement linear regression in Pytorch with sparse connections. To build such a network I cannot use nn.Linear because it is a densely connected layer. I have first tried to make a binary matrix with 0 and 1 to indicate the presence and absence of connections. But it won't work in my case because it is not computationally efficient. I am looking for a sparse weight matrix or sparse linea

[2020-09-13 18:51] VitalyFedyunin commented on #44547
It might be hardware, or code issue, as such error might be observed when you reset cuda device.

[2020-09-13 18:52] VitalyFedyunin commented on #44528
Hi! Do you have minimal reproducible example? THanks.

[2020-09-13 19:15] VitalyFedyunin commented on #44605
This likely was already discussed previously, adding as internal discussion topic.

[2020-09-13 19:28] VitalyFedyunin commented on #44617
Posted URL is broken. Also if you already have discussion on the forum, it makes no sense to duplicate it here.

[2020-09-13 21:25] acostanzo999 opened #44619 "OneCycleLR Scheduler does not have argument for verbose"
I am using this scheduler for my model and the "verbose" argument does not seem to exist within the source code of the documentation, even though the summarized documentation has it as an argument. Seems like a typo.

cc @jlin27 @vincentqb

[2020-09-13 23:41] mariosasko commented on #44552
I think the docs should explain a bit better what happens when the input is a multi-dimensional tensor. IMHO the line `If the input tensor has more than two dimensions, the vector norm will be applied to last dimension` is somewhat misleading.

I assume they follow the explanation from numpy, where they don't bother with the multi-dim case. I like this explanation from tensorflow `If axis is None

[2020-09-13 23:41] Randl commented on #44472
I don't think u32 is enough (or will soon be not enough). Not sure whether negative values (say, -1) are used for some purposes, else you could use u64.

[2020-09-13 23:45] ngimel commented on #44472
i64 in this case won't get passed to cuda kernels, it is used to compute number of blocks without overflow.

[2020-09-13 23:45] mruberry commented on #44552
Fixing the existing docs sounds good. Do you think this is correctly documented for the newer [torch.linalg.norm](https://pytorch.org/docs/master/linalg.html?highlight=norm#torch.linalg.norm)?

[2020-09-14 00:24] mariosasko commented on #44552
Yes, there is this line in the `torch.linalg.norm` docs: `If both dim and ord are None, the 2-norm of the input flattened to 1-D will be returned` so it's clear how the function behaves in the multi-dim case.

[2020-09-14 00:25] mruberry commented on #44552
Great. I thought the torch.linalg.norm doc was much clearer, too. What about porting language like that to torch.norm?

[2020-09-14 00:41] gakadam commented on #42581
I am facing the same issue with gcc-8.4 and CUDA-10.2.

gcc-8.4 is in my home folder, but `python setup.py install` picks up `/usr/local/bin/gcc` which is gcc-4.8.5

I tried
`CC=/mypathto/gcc-8.4`
`CXX=/mypathto/gxx-8.4`

My conda was installed after gcc-8.4.

In my `printenv` I do not see `GCC/GCC_RANLIB` etc.
I do see `CC` and `CXX` directing to proper path.

How to rectify this?

Thank you.

[2020-09-14 01:31] chenbohua3 commented on #43620
yes, it works without freezing

[2020-09-14 01:56] tbenst opened #44624 "CUDA RuntimeError unrecoverably bricks session"
## 🐛 Bug

A bad input can completely brick a CUDA session.

## To Reproduce
[code]
## Expected behavior

`x+y` should succeed without error.

## Environment
[code]

[2020-09-14 02:42] arbishakram commented on #44617
I have attached the image in the above post. Please look again now.
I didn't get any reply so far from anywhere. Please help me to fix this problem.

[2020-09-14 02:49] LiuDingbo97 commented on #37212
我和你遇到了一样的问题，服务器上的cuda版本是10.0。会不会是cuda10.0不支持pytorch1.6，所以要先装一个cuda10.2。因为我每次如果在安装时指定cudatoolkit=10.0，就会自动匹配到pytorch1.4，如果我指定pytorch=1.6的话，就用不了显卡

[2020-09-14 03:06] Sanghyuk-Choi commented on #38767
'weight_decay' is different from 'learning_rate_decay'.
In Pytorch, learning_rate_decay used for w[t+1] = w[t] - learning_rate * dw - **learning_rate_decay** * w.
loss = actual_loss + lambda * 1/2 sum(||w||^2) -> weight_decay= lambda

[2020-09-14 03:13] SungmanHong opened #44625 "how can i use tuple in pytorch.mobile?"
In org, i have

import org.pytorch.Tensor;
import org.pytorch.Module;
import org.pytorch.IValue;
import org.pytorch.torchvision.TensorImageUtils;

`Tensor outputs = model.forward(inputs).toTensor();
`
but actually my model output was tuple so i changed

`Tensor outputs = model.forward(inputs).toTuple();
`
but... there is no tuple outputs.... how can i define tuple output...?

[2020-09-14 03:52] Coderx7 commented on #44625
The output tensor is your tuple. if its like the api in libtorch, you should be using the `elements()` to access each item in your tuple.
you'd do sth like this in the libtorch and I believe its the same for you as well :
supposing your tuple contains two values, you'd likely want to do :
[code]

[2020-09-14 03:54] xvjiarui commented on #34808
@colesbury
Any update on this?

[2020-09-14 03:57] #44219 closed

[2020-09-14 04:25] Fowley-P commented on #44472
Yeah I mentioned the negative value aspect of it because it's specifically to compute the number of kernels needed, and you'll never have negative values for the kernels so might as well use uints instead of ints to increase the capacity for almost no cost. And with respect to the extra space, I try to avoid using unnecessary space no matter which part of the code I'm working on. I'll get to work

[2020-09-14 05:13] SungmanHong commented on #44625
Thanks, it really helped! I'm deeply seeing the code! thx!!

[2020-09-14 05:13] #44625 closed

[2020-09-14 05:23] jiangzhengkai commented on #22095
broadcast_buffers=False in the DDP solves my problem

[2020-09-14 05:53] Tagar opened #44628 "conv_forward: TypeError: conv2d(): argument 'input' (position 1) must be Tensor, not list"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

$ conda install -c fastai -c pytorch fastai fastbook powerai::"sentencepiece<0.1.90"

[code]

produces:
[code]

additional debugging showed following local variables inside of `_conv_forward` when it failed:

[code]

## Expected behavior

No errors expected.

## Environment

 - PyTorch Version (e.g., 1.0): **1.6.0**

List of some of the

[2020-09-14 07:34] cshewmake2 commented on #43349
Having the same issue as above. How's this going? Any way I can help?

[2020-09-14 09:03] dims12 opened #44630 "No pytorch_jni in StartLocal's zip"
I am trying to run java-demo on Linux and downloaded pytorch lib from StartLocal page

https://download.pytorch.org/libtorch/cu102/libtorch-shared-with-deps-1.6.0.zip

Unfortunately, this archive file doesn't contain pytorch_jni

What to do?

[2020-09-14 09:14] sorenrasmussenai opened #44631 "Multi-process Dataloader and multi-parameter exceptions"
## 🐛 Bug

The exception forwarding, used by utils.data.DataLoader for re-raising an exception from a worker process fails (TypeError) for exception types which require more than one parameter to initialize.

## To Reproduce

Steps to reproduce the behavior:

[code]

[code]

## Expected behavior

The exception should be raised correctly. If that is not possible, a "RuntimeError" could be raised in

[2020-09-14 09:23] Baeleader opened #44632 "https://tutorials.pytorch.kr/advanced/cpp_export.html"
## ❓ Questions and Help

Step 3. I can't seem to use the make command in the cmd command window in windows. What command should I use??

[2020-09-14 09:47] qinjian623 commented on #22812
Still reproducible in torch 1.6 on NV T4 GPU.

But the performance depends on the shape of data.

If you set data to 2D, and invoke topk while setting dim=1, topk1 will be 10x faster than topk2.

Here is my case:
[code]

I think this performance gap comes from the different kernel lunch strategy between topk and sort.

[2020-09-14 11:31] mariosasko commented on #44628
Hi,

it seems that you are passing `list` instead of `torch.Tensor` to the conv layer. In that case, you can call `torch.tensor(input)` and optionally set the `dtype` to `torch.float` if the inputs are integers to fix the issue.

[2020-09-14 11:44] FabianIsensee commented on #40911
Update: When compiling pytorch from source with cuDNN 8.0.2 the problem goes away (tested on Ubuntu 20.04 and 18.04 with RTX 2080ti).
Any idea what has changed?

[2020-09-14 12:03] sankhoroy commented on #4333
I also encountered the same issue while saving and loading the same model weights.

[2020-09-14 13:03] rgommers opened #44634 "torch.sparse improvements - tracking issue"
This tracking is meant to list the main improvements we'll be focusing on for sparse tensors, and then mapping them to the releases they should land in. _Please note: these are estimates and indicate current prioritization and require effort - don't rely on this, things may still shift around._

The fill-value proposal (https://github.com/pytorch/rfcs/pull/8) has a good description of the differen

[2020-09-14 13:38] t-vi commented on #10657
Here is also my recipe for compiling on ROCm https://lernapparat.de/pytorch-rocm/
Though this might be less needed in a bit...

[2020-09-14 14:15] albanD commented on #44605
Is there something preventing the type from being propagated from the call to the forward function in the vanilla module?

[2020-09-14 14:39] fhamborg commented on #42300
plus one, getting the same warning when using huggingface's transformers:
[code]

[2020-09-14 14:57] mariosasko commented on #44552
Yes, will try to do just that.

[2020-09-14 14:58] rgommers opened #44635 "rewrite the torch.sparse main doc page"
Update the [main doc page for sparse](https://pytorch.org/docs/master/sparse.html). What is needed includes at least:

- remove the legacy constructors (`torch.sparse.FloatTensor` et al.), use `torch.sparse_coo_tensor` instead and explain it's a regular `Tensor` instance:

[code]

- do not use any private methods (e.g. `._indices()` --> `.indices()`).
- add docstrings to sparse-specific methods (e

[2020-09-14 14:59] rgommers commented on #39006
The question is answered, and I opened a new issue with details of how the sparse docs should be updated (gh-44635). So I'll close this issue.

[2020-09-14 14:59] #39006 closed

[2020-09-14 15:01] peterjc123 commented on #44632
cmake --build . --config Release

[2020-09-14 15:01] #44632 closed

[2020-09-14 15:01] vadimkantorov opened #44636 "[feature request] ONNX export for torch.std_mean / torch.var_mean"
A workaround would be to compute std and mean separately. Then it oculd be supported even for existing opset.

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2020-09-14 15:02] albertchristianto commented on #37124
Hi, everyone.
this problem still appears in libtorch version 1.6, while trying to add libtorch c++ cuda to my existing project.

For future reference, the solution is:
add `/INCLUDE:"?warp_size@cuda@at@@YAHXZ"` in Configuration Properties -> Linker -> Command Line -> Additional Options . by reading this comment from @peterjc123 https://github.com/pytorch/pytorch/issues/31611#issuecomment-594383154

[2020-09-14 15:09] mranzinger commented on #42300
It seems like have num_channels=1 is a surefire way to get this warning triggered.

[2020-09-14 15:15] ezyang commented on #44531
Major correctness issue, and should be easy to fix too.

[2020-09-14 15:37] jonasteuwen opened #44637 "Complex-valued Cholesky decomposition"
## 🚀 Feature
Support for complex-valued `torch.cholesky`.

## Motivation
Pytorch 1.6 supports complex-valued tensors, however, most of the matrix operations cannot be written in terms of their real analogue  (in contrast to e.g. multiplication, which currently also does not support complex-valued data). Cholesky decomposition is important in decorrelating e.g. Monte Carlo data. The MAGMA backend a

[2020-09-14 15:45] guilhermeleobas opened #44638 "Enable torch.autograd.* typechecks during CI"
`TestTypeHints.test_run_mypy` should pass with `[mypy-torch.autograd.*]` deleted from mypy.ini

cc @ezyang @malfet @rgommers @xuzhao9 @gramster

[2020-09-14 16:09] ezyang commented on #44605
The relevant bg issue is probably https://github.com/pytorch/pytorch/issues/35566

[2020-09-14 16:12] vadimkantorov commented on #44635
For me it was super-confusing multitude of different matrix multiply ops:
torch.mm, torch.matmul torch.sparse.mm, torch.sparse.FloatTensor.spmm, torch.sparse.FloatTensor.hspmm, torch.sparse.FloatTensor.sspmm

My practical usecase was sketching: dense-sparse multiply with +1/-1 sparse matrix (requires no gradient to the sparse tensor): https://gist.github.com/vadimkantorov/d9b56f9b85f1f4ce59ffecf89

[2020-09-14 16:32] rtqichen opened #44640 "autograd functional APIs should enable_grad"
## 🐛 Bug

Currently the functional API will return zero gradients if it's wrapped in a no_grad, and without issuing any error messages. This is unexpected from the user end because we only use these methods when we want gradients.

I was using this inside custom Functions, where the default is no_grad. There might be other scenarios where a user might accidentally call these inside a no_grad.

##

[2020-09-14 16:44] albanD commented on #44640
That's a good point.
We should add these for the functions that need gradients and when `create_graph=True` when needed.
Can you send a PR for this by any chance?

[2020-09-14 16:48] albanD commented on #44628
Hi,

This does not seem related to core pytorch but more a bad use of a library.
We use github issues only for bugs or feature requests.
Please use the forum to ask questions: https://discuss.pytorch.org/

[2020-09-14 16:48] #44628 closed

[2020-09-14 16:54] Tagar commented on #44628
@mariosasko @albanD thank you for looking at this issue

conv2d is called internally by `fastai` library. It might be an issue in fast ai then.

Notice that when `_conv_forward` fails, it has weights as a Tensor already, and only `input` is a  list of one single value 0, literally `[0]` as seen in the debug dump above.

Last 7 calls in the exception stack were from pytorch internal functions so I

[2020-09-14 16:57] albanD commented on #44617
Closing as duplicate of https://discuss.pytorch.org/t/linear-layer-with-local-connections/96201
No need to cross post things, we look at both and you should only use the forum to ask questions as github is only for bug report and feature requests.

[2020-09-14 16:57] #44617 closed

[2020-09-14 16:59] albanD commented on #44624
Hi,

I am afraid this is a limitation on the CUDA side: cuda asserts cannot be recovered at the cuda driver level.

cc @ngimel is there anything we can do here?

[2020-09-14 17:01] albanD commented on #44619
Hi,

Could you clarify where it's missing? I see it properly in the doc here: https://pytorch.org/docs/stable/optim.html#torch.optim.lr_scheduler.OneCycleLR

[2020-09-14 17:03] ngimel commented on #44624
No, there's no way we can safely recover context after an illegal memory access.

[2020-09-14 17:03] albanD commented on #44630
cc @dreiss I am not sure how to triage this

[2020-09-14 17:03] jonasteuwen commented on #29010
`torch.stack` supporting named tensors would be very useful as this is also used in e.g. stacking them up in batches. I can create a pull request implementing it, but there is currently no other similar operation implementing adding a new dimension, so unclear what it's api would be. `torch.stack([...], names=[...])` where names add one new dimension and the index is inferred from this?
Or `torch.

[2020-09-14 17:04] ezyang commented on #43638
I agree, this seems like a reasonable thing to do.

[2020-09-14 17:05] gchanan commented on #44428
doesn't have to do with dispatch, which refers to a different type of dispatching (i.e. at the DispatchKey level, not the Dispatch macro level).

[2020-09-14 17:05] ezyang commented on #43834
Segfaulting in the dynamic linker, that's a new one!

[2020-09-14 17:06] seemethere commented on #44171
Going to close this one since issue seems to be resolved

[2020-09-14 17:06] #44171 closed

[2020-09-14 17:07] seemethere commented on #36541
Closing this, this is now resolved

[2020-09-14 17:07] #36541 closed

[2020-09-14 17:08] albanD commented on #44606
Hi,

We use github issues only for bugs or feature requests.
Please use the forum to ask questions: https://discuss.pytorch.org/

In your case it looks like some issues with the GLOO detection. Are you planning on using distributed? If not you can try to set `USE_DISTRIBUTED=0`.

[2020-09-14 17:09] ezyang commented on #43864
@dichotomies you're referring to the problem that if we have a data dependent CUDA-side failure that triggers an assert, the CUDA context is permanently trashed. This *is* something worth working on, see for example a prototype for this at https://github.com/pytorch/pytorch/pull/26776 but it's distinct from the absence of a bounds check on a particular operator.

[2020-09-14 17:09] gchanan commented on #44415
we should have also marked this more clearly in the release notes.

[2020-09-14 17:10] SsnL commented on #43638
Code-wise, this amounts to making an API call (don't need token) like
[code]
and read the `default_branch` field.

[2020-09-14 17:11] gchanan commented on #44415
I think the doc issue should handle this.

[2020-09-14 17:11] ezyang commented on #44428
cc @pbelevich (but he's on parental leave right now so don't expect a response any time soon)

[2020-09-14 17:11] albanD commented on #44611
Don't we both use libc to compute these?

[2020-09-14 17:12] acostanzo999 commented on #44619
``[docs]class OneCycleLR(_LRScheduler):
    r"""Sets the learning rate of each parameter group according to the
    1cycle learning rate policy. The 1cycle policy anneals the learning
    rate from an initial learning rate to some maximum learning rate and then
    from that maximum learning rate to some minimum learning rate much lower
    than the initial learning rate.
    This policy was initi

[2020-09-14 17:12] ezyang commented on #43638
Doesn't GitHub say default branch info shows up in ls-remote too? Because I think when you do a git clone, you get the default branch.

[2020-09-14 17:12] walterddr commented on #43336
closed via #44595.

[2020-09-14 17:12] #43336 closed

[2020-09-14 17:13] SsnL commented on #44415
@gchanan Then https://github.com/pytorch/pytorch/pull/44445 (already merged) should close this. But also, that PR was merged 3 days ago yet the `/master/` doc isn't updated.... Maybe something wrong with the doc auto-update?

[2020-09-14 17:13] ezyang commented on #43638
https://git-scm.com/docs/git-ls-remote.html

[2020-09-14 17:14] gchanan commented on #44415
doc auto-update has had problems for awhile now.  @brianjo.

[2020-09-14 17:14] rtqichen commented on #44640
Sure, I can work on a PR.

[2020-09-14 17:14] VitalyFedyunin commented on #43477
Downgrading priority during triage review meeting, in case of objections please clarify priority bump.

[2020-09-14 17:16] hrw commented on #44198
Heh. My fix was broken ;(

Will follow with fix to  fix.

[2020-09-14 17:16] VitalyFedyunin commented on #43638
Not labeled properly.

[2020-09-14 17:17] SsnL commented on #43638
Yeah, but I think hub doesn't use that, and directly composes a download link instead using the master branch by default
https://github.com/pytorch/pytorch/blob/95a69a7d09e4089dad92e65f5d48ceeec70ba3b4/torch/hub.py#L103-L119
https://github.com/pytorch/pytorch/blob/95a69a7d09e4089dad92e65f5d48ceeec70ba3b4/torch/hub.py#L84-L85

[2020-09-14 17:17] ezyang commented on #44428
cublas doesn't support integer types (https://docs.nvidia.com/cuda/cublas/index.html#cublas-level-1-function-reference) but we could probably provide a "shitty" matrix multiply implementation on integers without too much work; I believe this is what @pbelevich did on CPU for crypten

[2020-09-14 17:21] VitalyFedyunin commented on #43864
It is only 1.5 issue and it is already fixed.

[2020-09-14 17:21] #43864 closed

[2020-09-14 17:24] ailzhang commented on #43638
Yea this makes sense! @SsnL Please feel free to send a PR to update it! (Or I can do it later this week :D

[2020-09-14 17:24] tbenst commented on #44624
@ngimel can we call [`cudaDeviceReset()`](https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#assertion) and garbage collect any cuda objects? Still not ideal, but at least would only loose all tensors on GPU..? In my case this would solve the main issue as I reinitialize all python objects each iteration anyway, and right now it’s mainly annoying to reload large dataset from disk int

[2020-09-14 17:26] VitalyFedyunin commented on #44531
Would be nice to have in 1.7 but not necessary

[2020-09-14 17:29] ezyang commented on #44350
What precision does Numpy internally accumulate with?

[2020-09-14 17:34] VitalyFedyunin commented on #44350
For performance reasons we cannot prevent overflowing in default kernel, however you can use dtype argument (undocumented) for this case https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/native_functions.yaml#L2111 to avoid overflow.

[2020-09-14 17:34] #44350 closed

[2020-09-14 17:36] VitalyFedyunin commented on #42582
We consider it rare issue which doesn't deserve high priority label. We are thinking about handling this type of errors in debug builds, to avoid perf hits.

[2020-09-14 17:43] mruberry commented on #44350
NumPy's mean is implemented as a composite of sum divided by count in Python. NumPy's sum for half accumulates in half.

NumPy's var also returns results in half. Both will overflow.

[2020-09-14 17:59] ppwwyyxx commented on #43834
It seems more like a bug in glibc of centos7, which incorrectly handles a failed second `dlopen`. It doesn't happen when I tried the same in centos8 with the same python/opencv/pytorch version.

[2020-09-14 18:14] jspisak commented on #44428
Hi - sorry i missed this ping. Yes, we have this on our radar but it isn't resourced for this half. Is there a prioritized set of Ops that might work for a PoC?

[2020-09-14 18:25] lvdmaaten commented on #44428
In CrypTen, we currently work around these issues by doing the actual computations on DoubleTensors with some magic that encodes/decodes between the long and double types. This may be interesting for @LaRiffle team as well, if only as a temporary work-around: https://github.com/facebookresearch/CrypTen/blob/master/crypten/cuda/cuda_tensor.py

[2020-09-14 18:38] anjali411 commented on #44611
we do and I confirmed std functions return the expected value:
[code]
Output:
`(-1.63312e+16,0)(0,-1.63312e+16)`

I also confirmed that this discrepancy doesn't exist on linux:
[code]

[2020-09-14 18:39] spandantiwari commented on #43051
Do you have `export_param=False` in your export call? If yes, please try to leave it as default True.

Also, as I mentioned in my comment before, constant folding optimization, which is on by default, can potentially change parameters and their names. You can turn it off by setting `do_constant_folding=False`.

Can you try those and see of you see parameter names as expected?

[2020-09-14 18:44] albanD commented on #44611
So in this case, numpy does not use the standard function and something else to get the right value?

[2020-09-14 18:52] spandantiwari commented on #44536
@nehasoni3 - This seems to be a possible problem with the export API call. Could you please try providing all inputs to forward method as the second argument to the export API call. If you are still seeing an issue, could you please provide a complete repro?

[2020-09-14 18:58] #43767 closed

[2020-09-14 19:12] surak commented on #40968
no, 1.1, 1.4 and 1.5 fail.

[2020-09-14 19:29] mruberry commented on #44488
Dupe of #42890 44489.

[2020-09-14 19:29] #44488 closed

[2020-09-14 19:31] albanD commented on #41466
Hi,

Sorry for the late answer butwe use github issues only for bugs or feature requests.
Please use the forum to ask questions: https://discuss.pytorch.org/ as you will get a much faster answer there.

It would be nice if you could share a small code sample that we can run to reproduce this as well when you open a thread there.

[2020-09-14 19:31] #41466 closed

[2020-09-14 19:37] mruberry commented on #44611
Or they're using a different standard library? I wonder how NumPy is built on MacOS. They actually have a custom complex arctangent implementation to fallback to:

https://github.com/numpy/numpy/blob/4b1cd4e118e543260cbe9c7fba51a1de37e03618/numpy/core/src/npymath/npy_math_complex.c.src#L849

[2020-09-14 19:40] albanD commented on #34643
Closing this for now as it is unclear if we can provide such API.
Feel free to re-open if you have more ideas.

[2020-09-14 19:40] #34643 closed

[2020-09-14 20:04] harishkashyap commented on #27839
This happens if your input size of training data or validation data is not divisible by batch size

[2020-09-14 20:21] #39520 closed

[2020-09-14 20:27] #42980 closed

[2020-09-14 20:31] mrshenli commented on #33210
It has been a while since last update, and this is needed for making RRef helper functions working with async execution. I am taking this issue over.

[2020-09-14 20:42] SplitInfinity commented on #44608
I think the issue is that all of your functions return `int`; try using `int64_t` instead.

[2020-09-14 21:02] ezyang commented on #10223
Can you cite where you do this? This seems like it would result in less natural derivative formulas than if you had just had dual be a pair of primal and tangent and then just wrote the formulas explicitly in terms of primals and tangents...

We did discuss the "I have finished doing my derivative and we should no longer propagate `fw_grad` concept" in VC and I think I understand this approach, al

[2020-09-14 21:04] #43389 closed

[2020-09-14 21:07] ailzhang opened #44657 "Use macro to define `DispatchKey::toString` method"
As @bhosmer suggested in https://github.com/pytorch/pytorch/pull/44354/,
use macro to define `toString` method in https://github.com/pytorch/pytorch/blob/master/c10/core/DispatchKey.cpp#L5-L108
example: https://github.com/pytorch/pytorch/blob/master/c10/core/ScalarType.h#L25-L41

[2020-09-14 21:09] frank-dong-ms opened #44658 "how distributed.rpc package manages nodes"
I have several questions about distributed.rpc package, hope someone could shed a light on them, thanks:

1. Looks like during rpc init(init_rpc), all nodes need to call init_rpc then init will be finished, otherwise all nodes will block waiting. Is there any reason for that behavior? In some scenario, when main node get initialized and some (not all) workers got initialized, the main node should

[2020-09-14 21:13] walterddr commented on #42969
reopen

[2020-09-14 21:15] albanD commented on #44658
Hi,

We use github issues only for bugs or feature requests.
Please use the forum to ask questions: https://discuss.pytorch.org/
We usually answer questions there.

[2020-09-14 21:17] frank-dong-ms commented on #44658
I see, I will close this one and post my questions to the forum, thanks.

[2020-09-14 21:17] #44658 closed

[2020-09-14 21:26] carmocca opened #44662 "Failing gradcheck for 2d adaptive pooling functions"
## 🐛 Bug

`torch.autograd.gradcheck` fails for `torch.nn.functional.adaptive_avg_pool2d` (and `adaptive_max_pool2d`). I have not tried the 1d or 3d variants.

## To Reproduce

[code]

[code]

## Expected behavior

`torch.autograd.gradcheck` should not fail

## Environment

PyTorch version: 1.6.0
Is debug build: False
CUDA used to build PyTorch: 10.2

OS: Pop!_OS 20.04 LTS (x86_64)
GCC version: (Ub

[2020-09-14 21:32] albanD commented on #10223
Actually in both cases(dual objects notebook and dual Tensor notebook), the "formula" is implemented the same way (ignoring handling of None gradients):
[code]

In the notebook with dual objects [here](https://colab.research.google.com/drive/1FVh9O060QWO6LVZX0Pj9mu2kXFvey5lk?usp=sharing), we do exactly what you suggest of unpacking the dual input as primal and tangent and call this formula.
For ex

[2020-09-14 21:56] supriyar opened #44665 "symbolic trace argument unpack"
Currently there doesn't seem to be a way to skip tracing of certain functions. Encountered this error when trying to symbolically trace open source BERT model to quantize it.

Original error is from
https://github.com/huggingface/transformers/blob/master/src/transformers/modeling_bert.py#L238

Unit test to repro -
[code]

Throws the following error
[code]

cc @gmagogsfm @jerryzh168, @vkuzo

[2020-09-14 22:01] SplitInfinity commented on #44594
Hi,

This is simple to fix. All you have to do is to change the `%ld` to `%lld` at `torch/csrc/jit/codegen/cuda/kernel_cache.cpp:29` and `torch/csrc/jit/codegen/cuda/kernel_cache.cpp:31`. Can you make that change and try to build?

[2020-09-14 22:03] SplitInfinity commented on #44466
It seems that you are trying to pass an `ndarray` to `torch.jit.trace`; you need to convert `numpy` arrays to `torch.Tensors` before passing them to Torch functions.

[2020-09-14 22:08] spandantiwari commented on #44120
@bzinodev - is there someone who can look into this issue?

[2020-09-14 22:21] ezyang commented on #44605
This trick seems like it should work. The usual caveats apply with regards to metaclass style shenanigans: you are likely going to confuse users who expect their method to be called directly, tricks like this don't generally compose well with each other. It's pretty magical and almost sure to break a user of PyTorch, which is why we're probably never going to add something like this in core, but y

[2020-09-14 22:31] zhanghang1989 commented on #44594
Thanks! Will try and get back to you.

[2020-09-14 22:34] ailzhang opened #44670 "Replicate casing in python_dispatch.cpp"
simple change that makes casing match DispatchKey casing in
https://github.com/pytorch/pytorch/blob/master/torch/csrc/utils/python_dispatch.cpp#L30-L35
and `test_dispatch.py`.

[2020-09-14 22:45] sdaulton commented on #7733
What's the status of this issue? I was surprised to find that nn.Modules are hashable. I discovered this because if you write a custom __eq__ method for a class that inherits from nn.Module, you also need to write a custom __hash__ method to avoid breaking code in places where Modules are hashed (e.g. https://github.com/vishwakftw/pytorch/blob/master/torch/nn/modules/module.py#L1067).  Is there a

[2020-09-14 23:33] rohan-varma opened #44673 "[RFC] Integrate profiler with torch.distributed APIs for profiling of distributed models"
## 🚀 Feature
with @mrzzd @ilia-cher @pritamdamania87
The [profiler](https://pytorch.org/docs/stable/autograd.html#profiler) is a useful tool to gain insight regarding the operations run inside a model, and is a commonly used tool to diagnose performance issues and optimize models. This RFC seeks to describe how the profiler will be integrated with `torch.distributed`.

## Example use cases

Python

[2020-09-15 00:21] jerryzh168 opened #44676 "Minor comment: It looks like the prepack_fp16 does both dtype conversion and packing, which is not true of the int8 case. Is there any way to make this uniform? i.e convert to fp16 and then call pack?"
Minor comment: It looks like the prepack_fp16 does both dtype conversion and packing, which is not true of the int8 case. Is there any way to make this uniform? i.e convert to fp16 and then call pack?

_Originally posted by @raghuramank100 in https://github.com/pytorch/pytorch/pull/44582#discussion_r488162800_

[2020-09-15 00:55] #43013 closed

[2020-09-15 01:06] ailzhang opened #44680 "[Proposal]Alias dispatch keys"
Only attaching the proposal here, will add the colab from @bhosmer once I finish updating it.

## Problem:

* Consider _convolution implementation (runs before autograd, selects cpu/cuda implementation to do the actual work). Today, this is registered to both the CPU and Autograd keys via CatchAll mechanism, which means that we will use this implementation even if autograd is disabled (e.g., by No

[2020-09-15 02:10] ShichenLiu commented on #34540
Hi guys, I have met similar problems. After some experiments, I am pretty sure the problem is caused by im2col_step setting and not related to 32bit-index as mentioned by @albanD . Specifically, by manually dynamically setting im2col_step to be the batchsize, the code actually works. My guess is that the number 32 is exactly the default setting of im2col_step @shreyaskamathkm so that is why you on

[2020-09-15 02:18] gerardsn opened #44687 "DataLoader with num_workers>0 fails when running with "spawn" and using joblib"
## 🐛 Bug

Running multiple jobs in parallel (using joblib) fails when num_workers in DataLoaders is > 0.

## To Reproduce

[code]
Steps to reproduce the behavior:

This works:
[code]

This fails:
[code]

with error: (note that there are several times more cores available than required for this config.)

[code]

## Expected behavior

Being able to set num_workers>0 while running multiple jobs in pa

[2020-09-15 02:23] ezyang commented on #43477
Oh, this was an complex numbers internal priority bump to keep track of more important complex number issues. I'll rebump and remove the triage review tag.

[2020-09-15 02:25] ezyang commented on #43834
OK, I'll go ahead and close for now, unless you think we should be trying to work around this issue.

[2020-09-15 02:25] #43834 closed

[2020-09-15 02:48] bharrisau commented on #31856
`logsigmoid` is implemented as

[code]

`softplus` could be done similarly as
[code]

N.B. seems `logsigmoid` could be done a little simpler
[code]

[2020-09-15 03:08] ezyang commented on #10223
https://colab.research.google.com/drive/1hXB5g1ouHXHFYf9pDTzH6pG2q0Wyz92V?usp=sharing is pretty complicated, is this what you are planning to implement in C++?

It seems very complicated to reason about:

* You represent duals as a defaultdict of lambdas. Why lambdas?
* What are the preconditions for calling `_set_tangent`?
* What are the preconditions on `make_dual`? It seems that level must be f

[2020-09-15 03:27] #44599 closed

[2020-09-15 04:30] #14272 closed

[2020-09-15 04:48] LearnedVector commented on #30865
bump. any news on the issue? the same thing happening with me when `n_fft == to win_length`

[2020-09-15 05:18] xkszltl opened #44691 "error C3493: 'test_val' cannot be implicitly captured because no default capture mode has been specified"
## 🐛 Bug

Regression of the day~

Our Windows build failed today with the following compile error:
[code]

## Environment

 - PyTorch Version (e.g., 1.0): master
 - OS (e.g., Linux): Win Server 2019
 - How you installed PyTorch (`conda`, `pip`, source): source
 - Build command you used (if compiling from source): cmake+ninja+vs2019
 - Python version: 3.8.5
 - CUDA/cuDNN version: 11.0/8

[2020-09-15 05:30] xkszltl commented on #44691
@louisfeng
FYI this is from your commit: https://github.com/pytorch/pytorch/commit/71673b31f932b671ace0b4d44a559891f770396e#diff-d60554f530a96690b217bc591f0fb52e

[2020-09-15 05:30] halostorm commented on #42428
Pytorch 1.6 use the memory address as the key value. The idmap is assigned when "load_state_dict" from checkpoint.
So do not change the memory address of param tensors of "optimizer.param_groups". Such as deepcopy().

[2020-09-15 05:32] mruberry opened #44692 "floor_divide ONNX export is divergent from floor_divide in PyTorch behavior"
After https://github.com/pytorch/pytorch/pull/43879 is landed PyTorch's `floor_divide` operator will be consistent with floor division in Python3 and NumPy. The new behavior is:

[code]

And the old behavior is:

[code]

For example, -5 // 3 = -2 in Python3 and PyTorch after #43879, but -5 // 3 = -1 in C, C++, and PyTorch before #43879. The behavior is equivalent when the divisor and dividend are

[2020-09-15 05:38] monkeyking commented on #44606
Great!
Works with
[code]

[2020-09-15 05:38] #44606 closed

[2020-09-15 05:42] xw285cornell commented on #43690
@rohan-varma any update on this? It seems we don't have much concern about this proposal :)

[2020-09-15 05:45] rohan-varma commented on #43690
@xw285cornell I'm beginning to now work on this and should have a PR out this week for it.

[2020-09-15 06:31] ngimel commented on #44691
This PR has been reverted

[2020-09-15 06:31] #44691 closed

[2020-09-15 06:39] xkszltl commented on #44691
@ngimel
I only found the PR above it (the green one) is reverted, not the one I mentioned (red):
<img width="1272" alt="image" src="https://user-images.githubusercontent.com/5203025/93174816-3e758900-f761-11ea-9749-6fc58b556704.png">
Latest commit to the broken file remains unchanged:
![Uploading image.png…]()

[2020-09-15 06:56] xkszltl commented on #44691
Anyway, I've sent a PR to fix it.

[2020-09-15 07:10] Coderx7 commented on #44608
@SplitInfinity  Thanks a lot that was the cause! the error message is kind of misleading and it could just cast it to int64_t. wonder why thats not done here by default?

[2020-09-15 07:12] LaRiffle commented on #44428
Thanks a lot for pointing to this work-around! That's very interesting, I'll investigate in that direction 🙂

[2020-09-15 07:17] louisfeng commented on #44691
@xkszltl thanks for looking into this issue. This is bug in VS2019 where it's not properly capturing constant integral value. Where as other compilers behave properly. This bug is supposedly fixed in newer version of VS compiler 16.3, see https://developercommunity.visualstudio.com/content/problem/367326/problems-with-capturing-constexpr-in-lambda.html

[2020-09-15 07:41] louisfeng commented on #44691
@ngimel That's not the right PR and should not be reverted.

[2020-09-15 07:44] vitansoz opened #44698 "libtorch load script model error"
## 🐛 Bug

in cpp file ,i write:

	try
	{
		m_PytorchModule = torch::jit::load(modelPath);

		m_IsLoadModel = true;
		bRet = true;
	}
	catch (const c10::Error& e) {

		std::cerr << "error loading the module " << e.msg() << std::endl;

		return bRet;
	}

in the Windows os，the code is worked. but in the iOS is not worked.
same model,same code.
the e.msg is "**Couldn't find an operator for aten::dropo

[2020-09-15 08:12] peterzsj6 commented on #6990
Thank you for your example, but I saw other ppl's video saying autograd will check the version of the tensor to prevent this from happening. I am new to this, so I am a little confused.
https://youtu.be/MswxJw-8PvE?t=323

[2020-09-15 09:03] xkszltl commented on #44614
We have some new finds.
Seems the error can only be triggered when there's a previously installed `C:/Program Files/Caffe2` dir from last build, i.e. the first "**build -> rm -rf install_dst -> install**" sequence will succeed but the next round of the exact same process will fail (This also makes it hard to debug as CI from a clean environment will work but manually/local build may fail).

In the

[2020-09-15 09:13] samedii commented on #13918
This is a very unexpected performance issue and can take a long time to debug. It's quite likely that a lot of people don't find it at all

[2020-09-15 09:19] albertchristianto commented on #19106
I also experienced the same problem in libtorch 1.6. Is there any way to solve this problem? the difference is only 5-10 ms in my case.

[2020-09-15 10:10] BramVanroy opened #44704 "Error message concerning dtype GRU not identical between devices"
## 🐛 Bug

In 1.6, a bug exists where a GRU accepts an input `float32` anc a hidden state `float64` but only when on GPU. This will lead to unexpected, explosive results with very large or very small values.

[code]
As @ptrblck found in [this topic](https://discuss.pytorch.org/t/is-it-required-that-input-and-hidden-for-gru-have-the-same-dtype-float32/96221), this bug seems to have been solved in 1.

[2020-09-15 10:31] joaompereira commented on #31856
Thanks for your suggestion and finding the relevant code in pytorch, I had no idea how to find that.

I would suggest to change the code of `logsigmoid` (and change the code for 'softplus' accordingly) slightly so it would be more numerically exact around 0 without taking longer to calculate.
[code]

[2020-09-15 11:12] jphdotam commented on #7455
I think the sanity check `assert 0 <= smoothing < 1` should be more strict. Where n_classes is 2, any smoothing above 0.5 will **reverse** the labels, which I'm sure the person does not want; when n_classes is 3 it's any smoothing above 2/3, and 0.75 for 4 classes. So maybe:

`assert 0 <= smoothing < (classes-1)/classes`

[2020-09-15 11:31] pinzhenx commented on #44614
@CaoZhongZ

[2020-09-15 12:14] CedricPicron opened #44707 "Torch.equal(t1, t2) slower than torch.eq(t1, t2).all() on GPU"
## 🐛 Bug

`torch.equal(t1, t2)` is slower than its alternative `torch.eq(t1, t2).all()` on GPU. The bug manifests itself after doing "some computation" (as for example self-attention). The only difference between both alternatives is that `torch.equal(t1, t2)` checks the sizes before proceeding and therefore works for all possible `t1` and `t2`, while `torch.eq(t1, t2).all()` only works for non-em

[2020-09-15 12:34] CaoZhongZ commented on #44614
New one?

在 2020年9月15日，下午7:32，Pinzhen Xu <notifications@github.com> 写道：

﻿

@CaoZhongZ<https://github.com/CaoZhongZ>

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/pytorch/pytorch/issues/44614#issuecomment-692656192>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/AAZPPLFWRLGQIHLL5SWJVHLSF5GDPANCNFSM4RKWDT4

[2020-09-15 12:45] lamhoangtung opened #44708 "[JIT] RuntimeError: ill formed octal specifier for List[str]"
## 🐛 Bug

I'm trying to export a Pytorch model using TorchScript and use the exported model to run on a production env.
The conversion is fine and I can export a `.pt` TorchScript model but unable to load them in. The problem seems to be cause by a weird list of string that I have in the original python code.

## To Reproduce

Run this:

[code]

And here is the bug:
[code]

## Expected behavior

T

[2020-09-15 13:25] CedricPicron commented on #44707
### Update
Above statement that `torch.equal(t1, t2)` is slower than its alternative `torch.eq(t1, t2).all()` on GPU after "some computation" might be incomplete or even wrong.

As explained in https://discuss.pytorch.org/t/slow-torch-equal-on-gpu-bottleneck-of-nn-multiheadattention/96340, `nn.MultiheadAttention` contains some `torch.equal` checks. By profiling the code, I could see that most time

[2020-09-15 13:31] NAEE09 opened #44709 "build failed Pytorch 1.6 on Ubuntu 18.04"
## 🐛 Bug

Error : the functions 'depthwise_3x3x3_per_channel_quantization_pad_1',  'depthwise_3x3x3_pad_1' are not declared in scope, when I try to compile PyTorch.

## To Reproduce

Steps to reproduce the behavior:

1. git clone https://github.com/pytorch/pytorch
2. cd pytorch
3. git submodule sync
4. git submodule update --init --recursive
5. mkdir build
6. cd build
(Config CMakeLists.txt with B

[2020-09-15 14:02] albanD commented on #44687
Hi,

This errors seems to point inside joblib and not pytorch no?
Also maybe you need to change the default fork method?

[2020-09-15 14:02] albanD commented on #44692
Adding triage review to discuss if this should be high priority or not.

[2020-09-15 14:17] divideconcept opened #44710 "AMP support for libtorch/c++"
## 🚀 Feature

PyTorch 1.6 introduces AMP for python, but libtorch does not have these new functionalities.

## Motivation

AMP is becoming more and more needed to use all the power from the new NVIDIA RTX GPUs.

@mcarilli @gchanan @ngimel

[2020-09-15 15:27] ProGamerGov opened #44714 "torch.utils.data.random_split crashes without an error message with non CPU Generator object"
## 🐛 Bug

Non CPU generator objects cause `torch.utils.data.random_split`  to fail without any error message

## To Reproduce

Steps to reproduce the behavior:

1. Create a Generator object with a device type CUDA.
1. Add that CUDA Generator to `torch.utils.data.random_split` function.
1. Run code, and watch how it fails without any error message.

[code]

## Expected behavior

The device type of

[2020-09-15 15:45] albanD commented on #10223
This is a quirk of defaultdict: It needs a function that returns the default element. So to have a default dict containing Nones, you need a lambda.

We have the `._duals` dict (so this is a dual Tensor), and already correct min and max levels for that Tensor (and we maintain these).
If the given value is also a dual Tensor, we also ensure that we properly nest the levels (a tangent at a given lev

[2020-09-15 16:05] IvanYashchuk commented on #43141
The problem with the CPU version is that the error code is not checked. I will submit a fix for that.
For the GPU version, it is based on BLAS' `trsm` routine, while CPU version is based on LAPACK's `trtrs`.
The difference between those that `trsm` does not include any tests for singularity or near-singularity, it's intended to be used specifically for non-singular systems, therefore the behavior

[2020-09-15 16:31] #42446 closed

[2020-09-15 16:32] jerryzh168 commented on #44665
@SplitInfinity are fx issues triaged by JIT? or should we just cc james?

[2020-09-15 16:43] VinothRajasekar opened #44719 "404 Page not found - inference_api.md & management_api.md"
Getting page not found on clicking the below inference and management pytorch serve API links.

click the link below

http://pytorch.org/serve/management_api.md

http://pytorch.org/serve/inference_api.md

[2020-09-15 16:45] xw285cornell commented on #43690
Thanks @rohan-varma!

[2020-09-15 16:48] mcarilli commented on #44710
original request https://discuss.pytorch.org/t/deploy-mixed-precision-model-in-libtorch/89046/7

[2020-09-15 17:00] suo commented on #44448
Probably the simplest option (given the dynamic nature of the JIT optimizations) is to run the graph a bunch of times to warm up our profiler and stuff, and then call `torch.jit.last_executed_optimized_graph()` to see what the executor was just running.

[2020-09-15 17:12] PistonY commented on #7455
It's a wise idea I think.

[2020-09-15 17:19] ezyang opened #44721 "Get rid of copy_from"
We have multiple dispatch, which means that if you have copy(CPU, XLA), you can be directed straight to XLA's specialized implementation of the copy kernel. This means we can get rid of the thicket of if statements plaguing `aten/src/ATen/native/Copy.cpp` and use the dispatcher to get us where we need to be.

This is not a trivial change because all of the copy_from implementations have to be rewr

[2020-09-15 17:29] ngimel commented on #44709
From repro instructions it looks like you are building master version from source, not installing 1.6

[2020-09-15 17:33] ngimel commented on #44707
You cannot time cuda operations with timeit, please use pytorch timing utilities https://github.com/pytorch/pytorch/tree/master/torch/utils/_benchmark. You multihead attention benchmarks show that eq/all is not faster than equal, so I don't see what exactly the issue is.

[2020-09-15 17:36] ngimel commented on #44719
Links to inference_api (html) and management_api from pytorch.org/serve page work http://pytorch.org/serve/, how do you encounter the broken links?

[2020-09-15 17:39] VinothRajasekar commented on #44719
I was in the page http://pytorch.org/serve/rest_api.html and clicked on the management and inference link, and found out they were broken, as I was getting 404.

[2020-09-15 17:39] #43669 closed

[2020-09-15 17:43] ngimel commented on #44704
Fixed, but leaving it open for a fix in error message.

[2020-09-15 17:43] #44195 closed

[2020-09-15 17:53] dreiss commented on #32516
Hey, sorry I missed these comments.  I think there are two main issues.

- fbjni doesn't currently build with Visual Studio.  If someone can debug this, that would be great.  fbjni uses a lot of modern C++ template magic.  We can't compromise code cleanliness too much in order to support VS, and we probably can't compromise binary size more than a *tiny* bit.  (Most of the template magic is to min

[2020-09-15 17:59] SsnL commented on #44714
Root cause is `randperm`
[code]

[2020-09-15 18:03] SsnL commented on #44714
I suppose https://github.com/pytorch/pytorch/blob/7e91728f6816962cb82e3103e039321327dc0600/aten/src/ATen/native/TensorFactories.cpp#L717-L720
should be modified to check (and allow?) cuda generator before creating the tensor.

[2020-09-15 18:06] tsteffek opened #44724 "16-bit input + AMP breaks AdaptiveLogSoftmaxWithLoss"
## 🐛 Bug

When feeding [AdaptiveLogSoftmaxWithLoss](https://pytorch.org/docs/master/generated/torch.nn.AdaptiveLogSoftmaxWithLoss.html) 16-bit input with amp.autocast enabled it will fail with:
`RuntimeError: Expected object of scalar type Half but got scalar type Float for argument #4 'source' in call to _th_index_copy_`

This happens because AdaptiveLogSoftmax first creates an output tensor with

[2020-09-15 18:09] #5831 closed

[2020-09-15 18:09] #5826 closed

[2020-09-15 18:09] #5807 closed

[2020-09-15 18:10] #5777 closed

[2020-09-15 18:12] ngimel commented on #5740
cc @v0dro, @nikitaved

[2020-09-15 18:12] #5712 closed

[2020-09-15 18:12] #5711 closed

[2020-09-15 18:13] #5688 closed

[2020-09-15 18:13] #5631 closed

[2020-09-15 18:13] #5589 closed

[2020-09-15 18:14] #5670 closed

[2020-09-15 18:29] gakadam opened #44726 "Pytorch Installation from source fails (GCC-8.4/CUDA-10.2/RHEL7) and (GCC-7.5/CUDA-10.2/RHEL7)"
## 🐛 Bug

OS: RHEL 7
GCC: 7.5 & 8.4
CUDA: 10.2

Pytorch installation form source fails with following message

[code]

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Ve

[2020-09-15 18:29] ak-source commented on #44707
Is there a usecase where that structural equality check is necessary with attention? If not, maybe object id checks like "key is value" could be used instead? Alternatively, an optional argument to manually select attention mode could be added to skip runtime mode detection.

[2020-09-15 18:36] jerryzh168 commented on #44665
btw, I think it would be better to workaround this with an option to support skipping symbolic trace for certain methods. This will help several other similar errors as well.
cc @jamesr66a

[2020-09-15 19:16] xkszltl commented on #44614
Seems I can use `CMAKE_IGNORE_PATH` and `CMAKE_FIND_NO_INSTALL_PREFIX` as a work-around to ban path search from install dir.

[2020-09-15 19:17] david-macleod commented on #39272
Thanks for your reply, that's great news, do you know if it will be in the nightly builds soon? The use case we have is actually covered exactly by one of the examples you have provided (f16 compression).

[2020-09-15 19:41] ailzhang opened #44731 "Throw at Undefined in `getRuntimeDispatchKeySet`"
as titled https://github.com/pytorch/pytorch/pull/44682/files

[2020-09-15 20:03] CedricPicron commented on #44707
Thank you for looking at it @ngimel . I've rerun above benchmarks with the pytorch timing utility you mentioned. For the original experiments, it indeed confirms the updated believe that both equal and the eq/all alternative are equally fast.

For the subsequent `nn.MultiheadAttention` experiments, it gives all three variants with similar timings
[code]
which also settles this matter.

Thank you f

[2020-09-15 20:27] mrshenli opened #44734 "DISABLED test_future_passed_between_python_and_jit (__main__.ProcessGroupJitRpcTestWithSpawn)"
https://app.circleci.com/pipelines/github/pytorch/pytorch/214167/workflows/f701b331-f6de-4bd9-b5df-ab014f654485/jobs/7480330/steps

[code]

[code]

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @jjlilley @osalpekar @jiayisuse @mrzzd @agolynski @SciPioneer @H-Huang @cbalioglu @gmagogsfm @xush6528

[2020-09-15 20:27] ngimel commented on #44707
Hm, `torch.autograd.profiler.profile` with `use_cuda=True` usually gives accurate measurements, can you show an example where it doesn't? We should fix it in this case. `torch.autograd.profiler.emit_nvtx` won't do anything unless you run under nvprof and then open the produced profile with nvvp (or run with nsight systems/open with nsight systems), which is more onerous than needed for simple timi

[2020-09-15 20:38] nikitaved commented on #5740
Adding scalar support can be done at once, all the kernels are already there. Broadcasting of `src` is a bit more involved.
TensorIterator does support broadcasting, but it seems like `declare_static_shape` kills it, or am I wrong, @ngimel ?

[2020-09-15 21:08] ngimel commented on #5740
Scalar `src` is a particular case of broadcasting so we could start with this. I'm not sure if declare_static_shape kills broadcasting completely, my (unconfirmed) impression is that it would kill self+src joint broadcasting, but can still allow src to be broadcasted to the necessary shape. Indices shape should be used as source of truth for `declare_static_shape`. That might kill the small perf i

[2020-09-15 21:09] CedricPicron commented on #44707
Ok, I will create a new issue with the case I had where  `torch.autograd.profile.profile` was wrong (or inconsistent with the pytorch timing utility). I will do this tomorrow. Thanks for the great help @ngimel !

[2020-09-15 21:09] #44707 closed

[2020-09-15 21:23] ezyang opened #44738 "[tools.codegen] Remove byte-for-byte compatibility code"
In tools.codegen, there are a lot of comments `Note [Byte-for-byte compatibility]`. The code they describe can be removed. Read the defining note to see where these comments came from and why they can be removed.

[2020-09-15 21:45] zou3519 opened #44739 "torch.mv backward has a performance cliff on CPU"
## 🐛 Bug

The derivative formula for torch.mv (for vec) is [`self.t().mv(grad)`](https://github.com/pytorch/pytorch/blob/69839ea3f6680d068db38795afe03ae4b8a30962/tools/autograd/derivatives.yaml#L747). However, torch.mv (on CPU) has bad performance for non-contiguous tensors because it will always [copy non-contiguous tensors](https://github.com/pytorch/pytorch/blob/69839ea3f6680d068db38795afe03ae4

[2020-09-15 21:52] zou3519 commented on #36915
This should be fixed now since we've inlined all the .pyi files straight into the module definitions (e.g., https://github.com/pytorch/pytorch/blob/69839ea3f6680d068db38795afe03ae4b8a30962/torch/nn/modules/flatten.py#L132). Please re-open this if it is not the case.

[2020-09-15 21:52] #36915 closed

[2020-09-15 21:59] zou3519 commented on #44306
This was fixed in PyTorch 1.6. The error message is now "RuntimeError: Index tensor must have the same number of dimensions as self tensor"

[2020-09-15 21:59] #44306 closed

[2020-09-15 22:07] ezyang opened #44741 "cblas_gemv is not being used for gemv on complex on CPU"
There's no implementation of `gemv_use_fast_path` for complex types, so this means we are falling back to the slow implementation in aten/src/ATen/native/BlasKernel.cpp

[2020-09-15 22:27] ngimel commented on #44741
Slow and incorrect for beta=0 (being fixed in #44681)

[2020-09-15 22:29] ngimel commented on #44739
This was due to incorrect lda_cond that was forcing extra copies, being fixed in #44681

[2020-09-15 22:33] ngimel commented on #44724
Thanks for reporting! Since amp works on the c++ level, it's possible that some python implementations are incompatible with it. @mcarilli can you please look at it?

[2020-09-15 22:47] walterddr commented on #44472
only partially closed via #44688

[2020-09-15 22:50] supriyar opened #44751 "Make enable/disable fake_quant and observer global functions"
Currently they reside in the module, but can be global values instead.
https://github.com/pytorch/pytorch/blob/master/torch/quantization/fake_quantize.py#L66-L83

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a @vkuzo

[2020-09-15 23:03] ashwinvaswani commented on #43546
@mrshenli The issue still persists. Looking forward to hearing from you!

[2020-09-15 23:04] pritamdamania87 commented on #39272
@david-macleod It should already be in the nightly build, you can find the API to register a hook here: https://github.com/pytorch/pytorch/blob/69839ea3f6680d068db38795afe03ae4b8a30962/torch/nn/parallel/distributed.py#L863-L943 and there are some examples here: https://github.com/pytorch/pytorch/tree/master/torch/distributed/algorithms/ddp_comm_hooks.

[2020-09-15 23:12] blefaudeux commented on #42849
tipped by @pritamdamania, looks like this could be done via the state parameter, no ? https://github.com/pytorch/pytorch/blob/master/torch/distributed/algorithms/ddp_comm_hooks/__init__.py#L31

[2020-09-15 23:46] malfet commented on #44726
@gakadam how did you get gcc-8.4 installed?

And looks like your build hit an internal compiler error, which as build error suggests should be reported to gcc:

[2020-09-15 23:46] pmixer commented on #21518
Hi @zhangguanheng66 , for tracking the additive attn_mask versus multiplicative attn_mask issue, I tested by the following code:

[code]
to enforce causality, but the returned attention weights suggest it still attend to future inputs:

[code]

does that means its still additive mask in current implementation(I used PyTorch 1.6.0+cu101 on google colab)?

THX!

[2020-09-15 23:47] cody-moveworks commented on #31460
Are there any updates on this? I think I have run into this issue as well.

[2020-09-16 00:39] gorgeous369 commented on #42618
I have met the same problem. Could you teach me how to solve it after copying the torchvision? Many thanks.

[2020-09-16 01:09] BowenBao commented on #44692
@mruberry thanks for the info. We can make the corresponding updates to the exporter to stay consistent.

A related question here, is this operator following the same type promotion logic like regular arithmetic ops such as add/mul?

[2020-09-16 01:16] mruberry commented on #44692
Thanks @BowenBao!

Yes. Great question.

[2020-09-16 01:16] pomelyu commented on #44601
Answer to myself. If the forward is implemented, the numerical method could be used to get the ground truth of backward gradient. i.e. forward a small amount dh, then get the output dH. dH/dh is the partial differential for the specific pixel output and pixel input

[2020-09-16 01:54] chenbohua3 opened #44768 "[JIT] function decorated with @torch.no_grad() can not be exported when another function is called inside it."
## 🐛 Bug

A function (decorated with @torch.no_grad()) can not be exported to torchscript if another function is called inside it.

## To Reproduce
[code]
and we will get:
[code]

## Environment
 - PyTorch Version (e.g., 1.0): master
 - OS (e.g., Linux): linux
 - How you installed PyTorch (`conda`, `pip`, source): source
 - Build command you used (if compiling from source): build from source
 - Py

[2020-09-16 02:30] lamhoangtung commented on #31881
Any update on this guys ?

If Pytorch would take a tons of effort to reduce the CUDA runtime memory consumption then how much effort would it take to make Scripted Model run with less CUDA runtime memory ?

[2020-09-16 02:32] lamhoangtung commented on #44768
I'm having the same problem

[2020-09-16 02:35] vpj commented on #44605
Thanks!

[2020-09-16 02:35] #44605 closed

[2020-09-16 02:47] Lornatang opened #44770 "The class variable name type is incorrectly defined `CosineAnnealingWarmRestart`"
https://github.com/pytorch/pytorch/blob/2c1b215b488c4c9cdffcd86ba25f5bfd549162b2/torch/optim/lr_scheduler.pyi#L39

`eta_min` is defined as`int`.
But the definition in the original document is `float`

https://github.com/pytorch/pytorch/blob/2c1b215b488c4c9cdffcd86ba25f5bfd549162b2/torch/optim/lr_scheduler.py#L948

The complete documentation is defined as follows
[code]

cc @ezyang @malfet @rgommer

[2020-09-16 02:51] lamhoangtung commented on #12873
@xymeng Can you explain more about how to "remove half of pytorch's kernels" so that the memory usage is also reduced by half ?

[2020-09-16 03:09] mrshenli opened #44771 "Timed out RRef can still be used in subsequent"
The problem is that between when an RRef is created and when an RRef is timeout, applications can still use this RRef in anyway they want. As a result, if the RRef creation function didn't crash, but just taking longer than the specified timeout, it is possible that an RPCs using this RRef can still succeed, even if the RRef itself is timed out. Not yet clear what would be the best option. Creatin

[2020-09-16 03:16] wangxiang2713 commented on #44448
Thank you very much, everything is ok now.

[2020-09-16 03:16] #44448 closed

[2020-09-16 03:19] SplitInfinity commented on #44608
cc: @smessmer who knows this part of the code better than me and can probably give a more authoritative answer.

[2020-09-16 03:24] riyadshairi979 commented on #27569
Still I want to ask, is it possible (may be with modified pytorch source) to convert a TorchScript model to ONNX?

[2020-09-16 03:54] ngimel commented on #44770
Thank you for reporting, we'll accept a PR fixing this

[2020-09-16 04:11] ngimel commented on #44739
I can't reproduce on master built with mkl, even with the extra copy the difference can't be that large.
<details>
<summary>script</summary>

[code]
</details>

Results:
[code]

[2020-09-16 04:19] gakadam commented on #44726
I installed GCC-8.4 (and GCC-7.5) by building from source following these instructions: https://gcc.gnu.org/install/index.html

I met all prerequesites. Nothing skipped in that, including math libs, if any.

[2020-09-16 05:03] mattip commented on #43852
xref gh-42952

[2020-09-16 05:07] mattip commented on #43852
[here](https://github.com/pytorch/pytorch/blob/v1.6.0/aten/src/ATen/cpu/vml.h#L89) is where I think the call ends up in windows, by calling the runtime version of asin/acos

[2020-09-16 06:28] gmagogsfm commented on #43198
Looks like the error is coming from pybind11. I am not entirely sure how to enable debug mode, but I am fairly sure more info can be exposed if change this [line](https://github.com/pybind/pybind11/blob/dabbbf315d61d71e9d0a2cb68e0b9a86e4204459/include/pybind11/cast.h#L1707), more info will be displayed.

Also, if you build Pytorch with "DEBUG=1" environment variable, you can use a c++ debugger to

[2020-09-16 06:51] Stick-To opened #44776 "is there some functions like layer.get_config() in keras?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)
I want to get the name of input layer of some modules, is there some function like la

[2020-09-16 07:29] farahmand-m opened #44777 "Hybrid Memory"
## 🚀 Feature

The idea is to fall back to the main memory (RAM) for storing values that aren't required for immediate calculations when training or inferencing through a model using a GPU.

## Motivation

Models that quickly run out of memory only do so because weights and gradients of the previous layers have been stored in the VRAM. More often than not, it has nothing to do with the layer we're

[2020-09-16 07:46] gerardsn commented on #44687
@albanD Thanks for the suggestion. Setting the `DataLoader(..., multiprocessing_context='fork')` fixes the issue for me.
However, when setting the fork method to `spawn` or `forkserver` I get the error below suggesting that there is a clash between `joblib`'s multiprocessing `backend='loky'` and the forking attempts by the DataLoader causing the workers to die. Not sure what the origin of this err

[2020-09-16 07:54] skariel commented on #43661
This is a problem when freezing models, it requires eval mode (i.e. training == False)

[2020-09-16 08:09] lamhoangtung commented on #27743
@suo If I exported a model with dictionary as output. How can I catch it in C++ Pytorch frontend ?

[2020-09-16 08:20] tompfeil commented on #43051
Neither `export_params=True` nor `do_constant_folding=False` did solve the problem. Does it for you?

[2020-09-16 08:30] mruberry commented on #44601
Hey @pomelyu,

I think we would accept a new interpolation mode for grid sample. It's tested in test_nn.py:

https://github.com/pytorch/pytorch/blob/b85568a54a9c60986235ad1e0cc5dffc71b9d5b1/test/test_nn.py#L6670

It looks like grid_sample also has a Python preamble in its function signature as well as the device generic dispatch and CPU and CUDA implementations. So you'd need to update all of thes

[2020-09-16 08:42] Flamefire commented on #20206
Same here: PyTorch 1.6 + protobuf 3.10.0 seems to work

[2020-09-16 08:45] mruberry commented on #7733
I don't think anyone is currently working on this.

It looks like #10625 was dropped because of concerns about the impact of the change on the PyTorch community. Changing a tensor's hashing behavior requires careful consideration, and may have surprising effects on PyTorch libraries and programs.

[2020-09-16 09:02] rgommers opened #44779 "make torch.all and torch.any support all dtypes"
## 🚀 Feature

## Motivation

Current `torch.all`/`torch.any` and `Tensor.all`, `Tensor.any` only support `bool`/`uint8`. This is inconvenient when trying to write numpy-compatible code like
[code]

It is also inconsistent with `torch.logical_and` et al., which work with all integer and float dtypes just fine.

Note that `torch.all/any` aren't documented as public API because they don't support all

[2020-09-16 09:06] mruberry commented on #44779
This is a great idea and we would accept a PR fixing this. It'd be nice to have

- function versions `torch.all` and `torch.any` documented
- tensor methods documented as not just applying to bool tensors

[2020-09-16 09:15] klauskades commented on #12598
I also needed a moment to understand it. I actually expected a bincount for each column.

Assuming the tensor x:
[code]
Calculating torch.unique I expected something like this:
[code]
However, what we get and what is correct is:
[code]

Actually, specifying `dim=1` seems not to mean that it will apply a bincount  for each column, but it will count the unique occurrences of the whole column within

[2020-09-16 09:34] mszhanyi commented on #41585
@SagarPalyal , Does the issue still exist?

[2020-09-16 09:39] SagarPalyal commented on #41585
I setup 64 bit Python version and issue resolved.

[2020-09-16 09:55] mszhanyi commented on #43852
torch.acos has an issue in windows GPU.  Attach the simplified code to reproduce and track.
rename acos.txt to acos.py
[acos.txt](https://github.com/pytorch/pytorch/files/5231361/acos.txt)

[2020-09-16 10:01] SoyedTuhinAhmed commented on #37477
I have the same error

[2020-09-16 10:30] meganset commented on #41951
I'm still seeing a problem with picking up parameters in the latest version of libtorch.

e.g. in python
[code]

from latest libtorch builds (I see changes in activation.h, not sure if changes to activation.cpp are making it into libtorch ??)

[code]

[2020-09-16 10:31] pomelyu commented on #44601
Hi @mruberry,

The other two interpolation, nearest and bilinear, and they are both differentiable, hence I'll also implement differentiable bicubic grid sampler.

There are bicubic interpolation in upsampling, hence I could use some functions from it.

[2020-09-16 11:08] pl0xz0rz commented on #29209
Hello @mruberry

I have implemented an operator for histogram in #44485 with support for non-uniform binning and the density flag which works like in NumPy, but I'm not entirely sure about the interface, as it only outputs one Tensor which is the histogram, while Numpy also outputs the array of bin edges.

With histogramdd there are more questions about the interface.
1. It seems that I can obtain

[2020-09-16 11:27] Flamefire commented on #41474
@lw Sorry for commenting on a closed issue but I just wanted to verify something you said:

Could you verify this? I found the following lines which seem to suggest that using glog, gflags and protobuf is required: https://github.com/pytorch/pytorch/blob/b85568a54a9c60986235ad1e0cc5dffc71b9d5b1/CMakeLists.txt#L756-L761

I'm asking because I'm seeing an issue on POWER systems producing unexpected N

[2020-09-16 11:46] NAEE09 commented on #44709
Problem solved. I have to run again these commands

git submodule sync
git submodule update --init --recursive

According:

https://github.com/pytorch/pytorch/issues/43008#issue-678485916
https://github.com/pytorch/pytorch/issues/35602

[2020-09-16 11:49] NAEE09 commented on #44709
Problem solved

Run again

git submodule sync
git submodule update --init --recursive

According to these issues:

https://github.com/pytorch/pytorch/issues/35602
https://github.com/pytorch/pytorch/issues/43008

[2020-09-16 11:49] #44709 closed

[2020-09-16 13:00] #41585 closed

[2020-09-16 13:24] AlexeyAB opened #44782 "Pytorch 1.6 / torch_nightly doesn't support static-quantization for `F.conv2d` (aten::thnn_conv2d_forward)"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.  Pytorch 1.6 / torch_nightly doesn't support static-quantization for `F.conv2d` (aten::thnn_conv2d_forward) , reproduce in Colab: https://colab.research.google.com/gist/AlexeyAB/34c6e6cf0df6f00f885137ec9305b048/pytorch_quant_pad_same.ipynb#scrollTo=rHA6VFU0-xMH

## Expected behavior

## Environment

Collecting environment information.

[2020-09-16 13:38] zhangguanheng66 commented on #21518
I think your `attn_mask` is not set up correctly. For the LM task, you can take a look at [generate_square_subsequent_mask](https://pytorch.org/docs/stable/generated/torch.nn.Transformer.html?highlight=generate_square_subsequent_mask#torch.nn.Transformer.generate_square_subsequent_mask). `attn_mask` in MHA supports three types and a float mask will be added to the attention weight. You might want

[2020-09-16 13:45] lamhoangtung commented on #18626
I'm supporting this as well

[2020-09-16 13:55] lamhoangtung commented on #20532
Agree with @SamNPowers. The memory problem are soo bad that we may need to consider other frameworks. I really like every other aspect of pytorch, including TorchScript for production. I thought by using libtorch on C++ would somewhat can reduce the memory consumption but turn out it doesn't.

I really wish that we could have an option to compile the kernels on-the-fly when needed @colesbury. Even

[2020-09-16 13:56] pmixer commented on #21518
THX! I tried converting attn_mask to `torch.bool` type and used `mha(inputs, inputs, inputs, attn_mask=~attn_mask) # Q, K, V, attn_mask for causality` for applying the mask, then it works(in torch 1.6, did not work in torch 1.4, seems a recent fix). Thanks for your help and have a good day :)

[2020-09-16 13:58] aaniin commented on #7415
Came across this while training on a GPU with very limited memory. Training worked fine but upon restoring from a previous checkpoint, got OOM on the GPU. Thanks so much for the hint to "load the checkpoint to cpu first and then move onto GPU" and the note in the torch.load() function! This easily worked for me:
[code]
Subsequently, I ran into them same problem with the optimizer, where I got OOM

[2020-09-16 14:14] CedricPicron opened #44784 "Unreliable CPU times in torch.autograd.profiler.profile(use_cuda=True) when using CUDA"
## Bug/Docs improvement
In https://pytorch.org/docs/stable/bottleneck.html it is highlighted that

However, below experiments show that these CPU times might be unreliable altogether, even when used with `torch.autograd.profiler.profile` with `use_cuda=True`.

## To reproduce
[code]
## Results
### Without synchronization (CPU order)
[code]

###  With synchronization (CPU order)
[code]

## Interpre

[2020-09-16 14:17] yang-gis opened #44785 "caffe2 c++ inference on windows10"
## ❓ Questions and Help

I have installed caffe2 from the source on Windows10 and tested the python code.I found that Cuda (GPU) can be successfully called.Subsequently, I have tested the CPU version of the caffe2 model  (init_net.pb and predict_net.pb) by caffe2 c++ api and found that it runs successfully, but the GPU version of the caffe2 model  always makes mistakes at "workSpace.RunNetOnce(ini

[2020-09-16 14:17] gchanan commented on #44503
the test is disabled for now.  There is already a test that supplies Tensors so correct, no point in doing that.

[2020-09-16 14:19] zou3519 commented on #44739
Nice, it looks like #44681 will fix it. Maybe we should investigate the performance of contiguous (does it seem slower than it should be?)

[2020-09-16 14:28] albanD commented on #44687
This does look like different multiprocessing backends that are not compatible and conflict.
I can leave this open in case other people have the same issue: using `fork` seems to be a good workaround for now though.

And if someone is looking into this, we would be happy to update pytorch to make it work nicely with 'loky' but no core dev is looking into this right now.

[2020-09-16 14:32] karlhigley commented on #30402
is part of the answer to:

Also: In this dense tensor/sparse gradient case, choosing an appropriate value of the `weight_decay` parameter currently depends on the size of the dataset, which very non-intuitive and makes training and tuning models unnecessarily difficult.

[2020-09-16 14:35] hameerabbasi commented on #42515
Is there an easy way to do different implementations for different `dtype`s? See the draft PR. Neither me nor @antocuni have been successful in getting that to work.

This is needed for the different implementation of `sinc` for reals (see https://github.com/pytorch/pytorch/issues/42515#issuecomment-671627496) vs complex numbers.

[2020-09-16 14:38] kyoungrok0517 opened #44787 "Same model code, 10x slower when wrapped with pytorch-lightning"
## 🐛 Bug
Same model code, 10x slower when wrapped with pytorch-lightning

## To Reproduce
I'm really embarrassed with the current situation. I have a model code in vanilla pytorch. The model uses `transformers`. I just wrapped it with pytorch-lightning, migrated batching/criterion logic. Now it's **10x slower** than the original code. What's happening??

I'm using the latest `pytorch-lighting==0.9

[2020-09-16 14:39] karlhigley commented on #30402
See also #1285 re: sparse optimizers and which parameters they should update

[2020-09-16 14:42] kshitij12345 commented on #42515
How about?
https://github.com/pytorch/pytorch/blob/b85568a54a9c60986235ad1e0cc5dffc71b9d5b1/aten/src/ATen/native/cuda/UnaryOpsKernel.cu#L68-L88

[2020-09-16 14:57] vadimkantorov commented on #43548
@suo could you please take a look at this one? is it closed correctly?

[2020-09-16 15:43] IvanYashchuk commented on #44637
To clarify the request is to implement `cholesky_cuda` for complex-valued input.
`cholesky_cpu` is working on the current master branch.

[2020-09-16 16:11] ivkireev86 opened #44792 "Embedding max_norm wrong results on cuda when repeating indices are present"
## 🐛 Bug

I need an reproducible output from model, but Embedding layer reproduces different results in some cases.

## To Reproduce

Steps to reproduce the behavior:

1. Set torch random seed
1. Use all of these options. Result will be reproducible if you miss or change any of them:
  * Use `cuda` device
  * Use `Embedding` layer with large `embedding_dim` and `max_norm` enabled
  * Get embedding

[2020-09-16 16:31] Balandat commented on #26996
Chiming in here, this is happening quite frequently in our runs (for `choleksy` and it seems for `symeig` as well) and is a major issue. @vishwakftw is there a MAGMA issue tracking this?

[2020-09-16 16:51] malfet opened #44793 "Enable torch.backends.quantized typechecks during CI"
cc @ezyang @malfet @rgommers @xuzhao9 @gramster

[2020-09-16 17:03] glaringlee commented on #41951
@meganset
Which libtorch builds you were using? Can you share the version? thx

[2020-09-16 17:28] #43709 closed

[2020-09-16 17:29] NilsRethmeier commented on #37703
If any newcomers come here and wonder how to fix this. Upgrading to 1.5.1 fixed the issue. Downgrading to 1.4.1 may too.

That is
`conda install pytorch==1.5.1 torchvision==0.6.1 cudatoolkit=10.1 -c pytorch` if you use vision
`conda install pytorch==1.5.1 cudatoolkit=10.1 -c pytorch` if you use NLP.

depending on your cuda version.

[2020-09-16 17:30] meganset commented on #41951
Thanks for looking into this.
[code]
I just downloaded the latest libtorch.zip via
wget https://download.pytorch.org/libtorch/nightly/cu102/libtorch-shared-with-deps-latest.zip

and still see the problem.

[2020-09-16 17:38] frank-dong-ms commented on #42095
Will rpc for Windows (Gloo and process group back-end) also be supported in this PR?

[2020-09-16 17:53] vkuzo commented on #44111
likely related, we encountered https://gist.github.com/vkuzo/30f358c505def3085e10f185c2df41de today while checking whether classy vision models are traceable.  Relevant line where an invalid variable name is attempted to be created:

[code]

[2020-09-16 17:58] jamesr66a commented on #44665
Duplicate of https://github.com/pytorch/pytorch/issues/43679

[2020-09-16 17:58] #44665 closed

[2020-09-16 17:59] beeqwe opened #44800 "torchscript continue training"
It's possible to continue training the model which saved through this code?

[code]

Could you give an example? Thanks

[2020-09-16 18:13] jamesr66a commented on #44111
People should really stop using invalid identifier names as attribute names....

[2020-09-16 18:15] jamesr66a commented on #43812
afaik this is done

[2020-09-16 18:15] #43812 closed

[2020-09-16 18:25] gchanan commented on #26996
have we reported this to the MAGMA team?

[2020-09-16 18:27] glaringlee commented on #41951
Looked at the code, did not see any issues. I try reproduce this on my end.
Please make sure you linked your code with a correct version. (Just in case you have multiple libtorch version on your machine)

[2020-09-16 18:28] erjia-guan commented on #43502
Interrupted with Ctrl+C
The KeyboardInterrupt Signal Execution:
1. loader function
2. worker: _worker_loop() (Child daemon thread)
3. DataLoader (Main thread)
So, in order to print out traceback from worker, add traceback.print_exc() to generate error in the child thread (worker):
<pre>
def _worker_loop(dataset_kind, dataset, index_queue, data_queue, done_event,
                 auto_collation, co

[2020-09-16 18:39] vkuzo opened #44802 "fx: unable to symbolically trace BatchNorm2d due to control flow"
Trying to symbolically trace a vanilla BN leads to errors due to control flow in dim validity checking:

[code]

[2020-09-16 18:40] ofekp commented on #34470
Experiencing the same issue, would love to know how to solve this please.

[2020-09-16 18:42] vkuzo commented on #44802
cc @jamesr66a

[2020-09-16 18:48] #41095 closed

[2020-09-16 18:48] #15676 closed

[2020-09-16 18:49] ngimel commented on #26996
We did not report this particular error to magma (as it happens randomly), but our other report did not get a lot of attention https://bitbucket.org/icl/magma/issues/19/dgesv_batched-dgetrs_batched-fails-for

[2020-09-16 19:01] #33210 closed

[2020-09-16 19:17] rohan-varma commented on #32426
Self-assigning because it is related to the validation that would be useful for https://github.com/pytorch/pytorch/issues/43690

[2020-09-16 19:18] meganset commented on #41951
"..make sure you linked your code with a correct version."

Yes, this is the problem -- I wasn't picking up the right library in the make.
Sorry for the confusion.
The parameters show up correctly now and match the python version

[code]

[2020-09-16 19:21] #44793 closed

[2020-09-16 19:30] zou3519 commented on #44739
Fixed in #44681 by @ngimel!

We can file another issue for contiguous if we think that it is slower than it should be.

[2020-09-16 19:30] #44739 closed

[2020-09-16 19:31] glaringlee commented on #41951
@meganset Glad to hear that!

[2020-09-16 19:42] jamesr66a commented on #44111
https://github.com/pytorch/pytorch/pull/44808

[2020-09-16 19:48] ezyang opened #44809 "Tensor.stride shouldn't go through dispatcher"
Like some of our other hot and very simple functions, it should be directly implemented as an inline function on Tensor.h, rather than going through dispatcher.

[2020-09-16 19:54] xuhdev opened #44810 "Safeguard store in integer Vec256 classes"
`store` function defined in `aten/src/ATen/cpu/vec256/vec256_int.h` requires the input parameter to be `__at_align32__`, as required by, for example, this line:

https://github.com/pytorch/pytorch/blob/3e6bb5233f9ca2c5aa55d9cda22a7ee85439aa6e/aten/src/ATen/cpu/vec256/vec256_int.h#L452

But we don't have any static check over whether the input is `__at_align32__`, and this can easily lead to hidden

[2020-09-16 19:58] jamesr66a commented on #44802
The expectation for standard library modules in `torch.nn` is that they are traced as leaf modules and that is the default behavior in `Tracer`. What's the background here?

[2020-09-16 20:14] romanpogodin commented on #41128
Adding to @t-vi suggestion of scatter ops, the [torch-sparse](https://github.com/rusty1s/pytorch_scatter) package (which is related to torch-scatter) doesn't seem to have this issue. The OPs problem fits Tesla T4 (16GB VRAM) just fine:
[code]

Outputs:

[2020-09-16 20:23] DarshanAwachat opened #44814 "LNK2019 error after static compilation of Libtorch"
## 🐛 Bug

I
I have statically build libtorch 1.6.0 successfully using the below commmands. After that when I try to link libtorch to the project I get the LNK2019 Unresolved External Symbol error?Is there anyway to solve this
`Severity	Code	Description	Project	File	Line	Suppression State
Error	LNK2019	unresolved external symbol "__declspec(dllimport) public: struct c10::StrongTypePtr & __cdecl c10