[2019-11-22 18:04] suo commented on #22199
Going to close this as TensorboardX is no longer a thing (the core functionality has been merged into PyTorch), and I don't have enough information to reproduce this issue. If the actual problem persists, feel free to reopen this issue or file a new one!

[2019-11-22 18:04] #22199 closed

[2019-11-22 18:07] natalialunova commented on #29775
Closed by PR #30286

[2019-11-22 18:07] #29775 closed

[2019-11-22 18:10] nairbv commented on #28709
@ifedan I see the 1.3.1 change merged, but I'm not seeing this change on master. Is there another PR still open to fix this on master?

[2019-11-22 18:15] cpuhrsch commented on #15849
@SsnL - can I assign this to you? I'll assign to me just to keep track.

[2019-11-22 18:18] ranamihir opened #30324 "Using lambda functions triggers "RuntimeError: arguments are located on different GPUs""
Hi,

I'm trying to use lambda functions inside a model. If I stick to using one GPU, everything works fine, but if I use nn.DataParallel, it throws the error "RuntimeError: arguments are located on different GPUs".

The following is the definition of the model (I know there are many better ways of achieving what I'm trying to do here; this is just a contrived example to demonstrate the problem):

[2019-11-22 19:00] elbamos commented on #27409
@xuhdev I just tested fea963d, and the issue is still there.

I think what's going on is that the installer expects magma to have been installed via a python package and therefore to be accessible from the python library path.

[2019-11-22 19:20] dreiss commented on #6570
Last night's nightly build now includes the JNI bindings for Mac.  However, they fail to load when trying the demo program.  (It starts loading libpytorch_jni, but fails to find libfbjni.)  I don't use Mac, so I'm not able to debug it.  If someone wants to give this a try and figure out what's wrong, that would be awesome.  In the past, I've seen this sort of error be related to System Integrity P

[2019-11-22 19:31] #30044 closed

[2019-11-22 19:36] xuhdev commented on #27409
Thanks for the info. I'll try to look into this on Monday.

[2019-11-22 19:45] SsnL commented on #15849
@cpuhrsch - Sure! Expect no progress before winter holidays though.

[2019-11-22 19:45] mingbowan opened #30331 "[v1.4.0] Release Tracker"
The branch v1.4.0 has been cut.

If you need any particular patches onto this branch, please comment below and send a PR to v1.4.0 branch (instead of master).

---

[Current PRs open against the v1.4.0 branch](https://github.com/pytorch/pytorch/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aopen+base%3Av1.4.0)

[2019-11-22 19:46] SsnL commented on #15849
The issue can be worked around by invoking `object.__setattr__`. @odedbd

[2019-11-22 20:06] albanD commented on #30321
The test machines did not had libssl1.0.0 anymore for some reason.
Recompiled sccache to statically package libssl to avoid this issue in the future.

[2019-11-22 20:06] #30321 closed

[2019-11-22 20:28] ifedan commented on #30294
please use https://discuss.pytorch.org for questions

[2019-11-22 20:28] #30294 closed

[2019-11-22 20:30] ifedan commented on #30302
please use https://discuss.pytorch.org for questions

[2019-11-22 20:30] #30302 closed

[2019-11-22 20:47] ranamihir commented on #30324
Turns out it's a scoping issue: The model is deepcopied for transfer to the other GPU, but the lambda is copied and the `self` it refers to is still the old one on the original GPU. Doing `_fc2 = lambda self, x: self.fc2(self.fc1(x))` and calling it as `self.fc_forward(self, x)` did the trick.

[2019-11-22 20:47] #30324 closed

[2019-11-22 21:20] ifedan commented on #30289
Please, provide: Steps To Reproduce, Expected behavior and Environment for this issue. And feel free to reopen it again.

[2019-11-22 21:20] #30289 closed

[2019-11-22 21:57] ezyang commented on #10996
@phamdat09 this is a pretty old bug, I think you'll have better luck if you file a new issue for the problem you are seeing.

[2019-11-22 22:21] zhaojuanmao commented on #29939
@xzhu1900 thanks for reporting, we will look into it and do some analysis

[2019-11-22 22:25] ezyang commented on #30321
Another useful thing to do is to copy paste the commands you ran to bbuild for future reference :>

[2019-11-22 22:27] ezyang commented on #30303
cc @t-vi

[2019-11-22 22:35] albanD commented on #30321
For future reference, the binary is build from the master branch of https://github.com/yf225/sccache (to support nvcc).
You can get the statically linked version with:
[code]

This flag is not advertised in the old version of the repo we compile but it does work.

[2019-11-22 23:01] 212726320 opened #30346 "Result of torch.autograd.grad(create_graph=True) sometimes has requires_grad=False"
## 🐛 Bug

Typically, the `torch.Tensor` returned by `torch.autograd.grad(*args, create_graph=True)` will have `requires_grad=True`.  However, there seem to be some cases (see below) when the result has (unexpectedly) `requires_grad=False`.

I generally expect the former behavior all the time, but [the documentation for `torch.autograd.grad`](https://pytorch.org/docs/stable/autograd.html#torch.auto

[2019-11-22 23:13] gottbrath commented on #30331
was trying to get https://github.com/pytorch/pytorch/pull/30288 "updates to quantization doc" under the wire. It should be low risk but it does change both doc rst files and pytorch docstrings. I currently have three failures in CircleCI .. two of them seem to be pre-existing false positives but one might be a flaky test. Will flag when I get this landed and also create a PR against the release br

[2019-11-22 23:25] raghuramank100 opened #30348 "Speed up calculateQparams for per-channel observers"
## 🚀 Feature Speedup Qparam calculation for observers

## Pitch
CalculateQparams gets called every forward with QAT. Speeding this up speeds up quantization aware training.
Details are at:
https://discuss.pytorch.org/t/quantization-aware-training-extremely-slow-on-gpu/58894/5

Specifically, the task is to remove https://github.com/pytorch/pytorch/blob/master/torch/quantization/observer.py#L119 and

[2019-11-22 23:29] raghuramank100 opened #30349 "Speed-up per channel fake quantization implementation"
## 🚀 Per-channel fake quantization has a for loop that can be parallelized.  The current implementation can be improved:
https://discuss.pytorch.org/t/quantization-aware-training-extremely-slow-on-gpu/58894/5
Using a parallel for construct in Aten should speed-up the implementation.

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a

[2019-11-22 23:41] spandantiwari commented on #30289
@ifedan - a quick comment: one thing to try, if you are using the latest PyTorch 1.3 or up, is to set `keep_initializers_as_inputs=True` when exporting your model.

[2019-11-22 23:49] cpuhrsch opened #30350 "torch.Tensor.is_set_to references THTensor"
[is_set_to](https://pytorch.org/docs/master/tensors.html#torch.Tensor.is_set_to) is still referencing `THTensor` even though it was [moved into aten](https://github.com/pytorch/pytorch/blob/ae05e48fe858bec076b0a5f2981dd7b8286d3968/aten/src/ATen/native/TensorProperties.cpp#L91)

[2019-11-22 23:52] SsnL commented on #30323
You should not import private classes, nor expect that they exist.

[2019-11-22 23:57] SsnL commented on #30346
This happens because dz/dx is always the constant 2, which is computed by `d out /dz * dz/dx`, multiplying two tensors that don't require gradient. So your variable named `dz` does not require gradient.

[2019-11-22 23:58] raghuramank100 commented on #29538
@z-a-f : Can you confirm if this issue is not reproducible?. If so, please close it.

[2019-11-23 00:34] quickwritereader opened #30358 "pow_kernel-pow_test casting omission (possible bug) for integer power leads to test failures"
## 🐛 Bug
Recently I run power_test to test my vector codes. It failed at integers scalars.
I looked to see what could go wrong. My fork is behind so I opened it as an issue instead of fix PR.
So
Inside
PowerKernel pow operation is calculated by  base\*base and base\*base\*base for exponents 2 and 3 and etc. And noting that type of `base  `  is `int` and it was not cast then it will give a differen

[2019-11-23 01:36] albanD commented on #30346
I agree with @SsnL that this Tensor should not require gradients as it is independent of all the leafs in your graph.

[2019-11-23 01:36] #30346 closed

[2019-11-23 02:26] rohan-varma commented on #24633
Is anyone currently working on this? If not, I'd be happy to pick it up to learn more about our operator libraries. cc @VitalyFedyunin

[2019-11-23 02:31] qqhann opened #30364 "random_split is not fixed by seed"
## ❓ Questions and Help

Even if I set seed, random_split is not returning same result from time to time.
Is this a bug or am I understanding random_split wrongly?

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

It should split data randomly the same way every time. Like:
[code]

## Environment

[code]

 - PyTorch Version (e.g., 1.0): 1.3.0
 - OS (e.g., Linux): Ub

[2019-11-23 02:36] divyekapoor opened #30365 "TorchScript Performance: 250x gap between TorchScript and Native Python"
## 🐛 Bug

There's a 250x gap in performance for TorchScript ops versus straight Python / C++.
Please see the benchmarks here: https://github.com/divyekapoor/ml-op-benchmarks

## To Reproduce
https://github.com/divyekapoor/ml-op-benchmarks

Steps to reproduce the behavior:
1. Clone the repo
1. make torchbench

See related TensorFlow issue for context:
https://github.com/tensorflow/tensorflow/issues

[2019-11-23 03:04] qjchen1972 commented on #30289
thanks.  set keep_initializers_as_inputs=True, it is OK!
torch.onnx.export(self.model,
                          dummy_input,
                          model_path,
                          verbose=True,
                          input_names=input_names,
                          output_names=output_names,
                          keep_initializers_as_inputs=True)

[2019-11-23 03:20] peterjc123 commented on #30322
Do you know where it gets stuck? Actually, it is somehow related to https://github.com/pytorch/pytorch/issues/29383 that only reproducible on Windows 7. Could you please post the stacktrace to help us dig into it?

[2019-11-23 03:30] peterjc123 commented on #25698
No, we didn't merge them together. Actually, if we know how to package them into one, we may do it.

is it possible to manually adapt Cmake config that it choose Intel compilers instead of mcvs c++ ?

You could use `cmake -GIntel ..` to specify Intel Compilers.

Which exact VS version are you using? You'll need VS 2017 Update 4 or up.

[2019-11-23 03:45] ptrblck commented on #24082
@rrkarim Could you provide some additional workloads (shapes) which would be important for your use cases?

[2019-11-23 05:13] qqhann commented on #30364
Sorry, I misunderstood

[code]

[2019-11-23 05:13] #30364 closed

[2019-11-23 05:15] shersoni610 opened #30366 "Run time error in mnist example"
Hello,

I downloaded the libtorch c++ for Ubuntu 18.04 running Cuda 10.1.

While running the mnist example: I get the following error:

csverma@blackhole:$ ./mnist
CUDA available! Training on GPU.
Warning: torch::nn::FeatureDropout module is deprecated.Use Dropout{2,3}d instead. (FeatureDropoutImpl at ../../torch/csrc/api/src/nn/modules/dropout.cpp:65)
terminate called after throwing an instance o

[2019-11-23 06:44] t-vi commented on #30303
Strange, last I looked, einsum despatched to bmm. Does bmm work?

[2019-11-23 07:09] QQ2737499951 opened #30368 "已经解决了win10下的训练自己的数据问题，加Q群700192571 注明pytorch 共同研究"
已经解决了win10下的训练自己的数据问题，加Q群700192571 注明pytorch 共同研究

[2019-11-23 07:52] peterjc123 commented on #30368
Advertisement.

[2019-11-23 07:52] #30368 closed

[2019-11-23 07:53] mrTsjolder opened #30369 "Build fails on arch with "subcommand failed""
## 🐛 Bug

Build fails with (uninformative) `ninja: build stopped: subcommand failed.`

## To Reproduce

Steps to reproduce the behavior:

[code]

In my branch, I only make changes to some python code.
For the record: commit 4bed1c4d7, master is on commit f7b12a985

config part of [build log](https://github.com/pytorch/pytorch/files/3882236/install_log.txt):

[code]

## Expected behavior

A success

[2019-11-23 08:06] #20356 closed

[2019-11-23 08:28] tdas714 commented on #25533
I'm having the same problem, when trying to export to onnx.

[2019-11-23 12:19] t-vi commented on #30303
Before we continue: @speedcell4 thank you for reporting with a minimal reproducing example, this helps tremendously to track these things down!

Based on the minimal example, we can also have this even more stripped down example:
[code]
giving `[[0.5, 0.5],[0.5, 0.5]]` vs. the correct `[[1.0, 0], [0, 1.0]]`.

[2019-11-23 12:36] t-vi commented on #30303
`as_strided` isn't gpu specific, so this has the same bug:
[code]

[2019-11-23 12:47] rrkarim commented on #24082
@ptrblck not sure about the use case I was trying to work on, since I have posted the issue long time ago and switched to other problems. But the example script above (first message of the thread) is pretty good use case for me. I don't have an access to a Turing arch. for now, therefore I can not test the performance. If everything is solved, you can close the issue.

[2019-11-23 12:51] t-vi commented on #30303
@SsnL if you beat me to an idea to fix this...

[2019-11-23 12:54] speedcell4 commented on #30303
@t-vi Thank you for quick responding, but this is not only on CUDA, but also on CPU

[2019-11-23 13:31] t-vi commented on #30303
Indeed. I should have a fix soonish, until it is committed you probably want contiguous leaf nodes.

[2019-11-23 14:09] zw0610 opened #30371 "Add uninitialize function in distributed"
## 🚀 Feature

Add a function in distributed package to uninitialize the default process group.

## Motivation

We are trying to make a fault-tolerant distributed training mode for pytorch. Or even more generally, the number of workers can be adjusted during the training process without checkpoint. That asks us to rebuild the default process group, which might need to come after the existing proces

[2019-11-23 14:19] RylanSchaeffer commented on #10223
@ezyang do you have a good reference/tutorial for a "normal" way to compute the end to end jacobian?

[2019-11-23 14:24] VitaMusic commented on #25698
but at the level of cmake, as different path variables to release and debug ?
I'm not expert of cmake, I guess it could be done...
for me I did it manually in VS

I did: cmake -G and did not found Intel in the list , I have the last version of Cmake and intel installed.
So I did this switch manually in VS too

I have the last VS2019 v16.3.10, but before I did it with VS2017u4 and has the same pbm

[2019-11-23 14:31] t-vi commented on #30303
Hm. Upon reflection, I would need whether it's a view of a leaf. Sigh.

[2019-11-23 15:04] VitaMusic commented on #29383
I confirm the same problem with pytorch (python 3.6.9, pytorch 1.3.1) on windows 7 x64

[2019-11-23 15:05] mcDandy commented on #27815
I know, this is for x86 python, but I have x64 version and still got `...ModuleNotFoundError: No module named 'tools.nnwrap...` error

https://github.com/pytorch/pytorch/issues/27815#issuecomment-541394453 helped

[2019-11-23 15:31] VitaMusic commented on #30322
I tried the case #29383 I can reproduce it. For my case I do not know how to do the stacktrace in my case, if you explain me I'll do. The problem is after return 0; line sur the call stack is empty in VS.
I noted also that libtorch is compiled with vs_runtime 140, could this be a problem ?
I do not know how to recompile it from source, the compilation does not work for me.

[2019-11-23 16:24] peterjc123 commented on #25698
You could make use of the variable `CMAKE_BUILD_TYPE` to determine which configuration you are using.

I checked and found out that `Intel` is not an option for CMake. There are two options:
1. `cmake -G"Visual Studio 16 2019" -Ax64 -T"Intel C++ Compiler XE 14.0" ..`
2. `cmake -GNinja ..` and `set CC=icc` `set CXX=icc`

It shouldn't be the case. Would you please post the full log during the build?

[2019-11-23 16:29] peterjc123 commented on #30322
@VitaMusic You said it didn't return. So just click the pause button during the debug session of VS, and the highlighted line will be the one of question. As for stacktrace, it is also called call stack, looks like the following:
[code]

[2019-11-23 16:33] peterjc123 commented on #27815
@soumith Do you have a plan to do it? Maybe the message should contain some info like the python version (e.g 3.8), the cpu arch (e.g. 32/64) and os platform(e.g. linux-64/osx-64/win-32/win-64).

[2019-11-23 16:59] VitaMusic commented on #25698
compiler :
/GS /TP /W3 /wd"4267" /wd"4251" /wd"4522" /wd"4838" /wd"4305" /wd"4244" /wd"4190" /wd"4101" /wd"4996" /wd"4275" /Zc:wchar_t /I"f:\libtorch\cpu\debug\libtorch\include" /I"f:\libtorch\cpu\debug\libtorch\include\torch\csrc\api\include" /Z7 /Gm- /Od /Ob0 /Fd"F:\libtorch\libtorch\libtorch\x64\Debug\vc142.pdb" /Zc:inline /fp:precise /D "WIN32" /D "_WINDOWS" /D "NOMINMAX" /D "_THP_CORE" /D "AT

[2019-11-23 17:02] VitaMusic commented on #25698
[libtorch.zip](https://github.com/pytorch/pytorch/files/3882715/libtorch.zip)
please find my vs2019 project

[2019-11-23 17:31] gottbrath commented on #30283
landed on master

[2019-11-23 17:31] #30283 closed

[2019-11-23 17:31] gottbrath commented on #26305
landed on master

[2019-11-23 17:31] #26305 closed

[2019-11-23 17:31] gottbrath commented on #27451
landed on master

[2019-11-23 17:31] #27451 closed

[2019-11-23 17:31] gottbrath commented on #26899
landed on master

[2019-11-23 17:31] #26899 closed

[2019-11-23 17:31] gottbrath commented on #29735
landed on master

[2019-11-23 17:31] #29735 closed

[2019-11-23 17:32] gottbrath commented on #27938
landed on master

[2019-11-23 17:32] #27938 closed

[2019-11-23 17:33] gottbrath commented on #30331
ok .. the doc changes landed on master. The new PR on the v1.4.0 is posted and is #30372

[2019-11-23 17:39] lgautier opened #30373 "Refactor (a bit) `torch.hub(.load)`"
## 🚀 Feature

Refactor (a bit) `torch.hub(.load)` to allow an easier use of alternative ways to fetch/load models.

## Motivation

Published models often show `torch.hub.load` as the easiest way to get started with a model.
For example at https://github.com/pytorch/fairseq/tree/master/examples/roberta:

[code]

Whenever behind a firewall or a fussy proxy environment (unfortunately a number of corp

[2019-11-23 18:33] keskinm opened #30374 "nn.Sequential(..) vs without nn.Sequential(..) gives totally different things"
[code]

[code]

Hello, everytime I run a training with the draft number 1, I will get an accuracy of ~0.8 after 1000 iterations, but if I try with draft number 2, I will get only an accuracy of ~0.4 after same number of iterations.

I repeated again and again and I get always these metrics (0.8 and 0.4). But they are supposed to be (modulo some epislon due to the random initialization of weights)

[2019-11-23 20:19] SsnL commented on #30303
I'd argue that this is not a bug.

`as_strided` is a special op than all other ops in that its behavior depends on input geometry. So implicitly, we think of it as having `input.strides()` as an additional input. See [here](https://github.com/pytorch/pytorch/blob/7c4b9042ababa32dcd49e8d35114c81c53027431/tools/autograd/templates/Functions.cpp#L1093-L1214) for details.

Therefore, `x.contiguous().as

[2019-11-23 20:22] t-vi commented on #30303
So I'm at a point where I need input. Fundamentally, what happens is that I think that step 0 in the `as_strided_backward`:
https://github.com/pytorch/pytorch/blob/7c4b9042ababa32dcd49e8d35114c81c53027431/tools/autograd/templates/Functions.cpp#L1225-L1227
produces gradients that are - when considered by themselves - incorrect.
The reason we seem to get away with that is that we implicitly assume t

[2019-11-23 20:26] SsnL commented on #30303
It is not really about the optimization at step 0. If we remove that, the following steps would do the equivalent thing for stride 0 dims.

[2019-11-23 20:39] t-vi commented on #30303
So the bug happens with PyTorch version 1.3.1 and but as @SsnL explains, it will not happen on PyTorch master (because `einsum` uses permute + reshape but not as_strided directly). Then we should just retitle it back to einsum and close it as fixed in master.

[2019-11-23 21:24] t-vi commented on #30303
OK, so really, for anything using `reshape` (i.e. including `einsum`), this is fixed by #28901, so master/nightlies will have the originally reported bug fixed.
The more general `as_strided` may be not that fortunate, but my understanding is that that is not intended for wide-spread use anyway, so it isn't that urgent.

[2019-11-23 21:24] #30303 closed

[2019-11-23 22:42] yshvrdhn commented on #24397
If you are putting the model to eval mode, I think you should put your model under torch.no_grad() so that it does not wait for the gradients to be calculated for that particular.

[2019-11-23 23:08] vadimkantorov commented on #30374
Both drafts are strange, since they create a fully new instance of models (each call to draft_* will trigger a new weight initialization). Could you please clarify what kind of iterations you do?

[2019-11-23 23:32] Tabrizian opened #30375 "Distributed Using Gloo on Multiple Nodes Does not Work"
## 🐛 Bug

I am trying to run a distributed deep learning workload on multiple nodes using Gloo. But unfortunately I receive the error below:

[code]

This is a two node environment with two VMs. Each of these VMs have 16 GB of RAM and 8 cores.

## To Reproduce

The code is very similar to this link: https://pytorch.org/tutorials/intermediate/dist_tuto.html

The only difference is in the initiation

[2019-11-24 00:38] quickwritereader commented on #30358
I also wanted to inform that sometimes c++ STL  could give wrong results on some computers, too. So if it is possible the best option would be to compare against ahead calculated results and use HashMap during the test.

[2019-11-24 00:56] quickwritereader commented on #15676
I will start to add test cases and modify Cmake.

[2019-11-24 02:58] shersoni610 opened #30376 "Cuda error"
Hello,

I am trying to install pytorch on ubuntu 18.04 with Cuda10.1 installed.

I am giving the following command:

conda install pytorch torchvision cudatoolkit=10.1 -c pytorch
Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

(kaolin)@blackhole:$

But after running an application: I get the following message:

    f

[2019-11-24 04:04] peterjc123 commented on #25698
About the log:

The following is in your log. Isn't this a successful build? Maybe the intellisense is giving wrong ouput but it is actually a successful build.
[code]

No, only errors block the build.

cmake does not do a clear VS project, could you do a right clean template of project for vs2019 please?

[code]

and then

[code]

Is there any log that contains these errors? It is not free so I n

[2019-11-24 05:03] Jianhui-Li commented on #30300
@xsacha This upgrade doesn't intend to integrate OpenCL support to PyTorch. It upgrades to the DNNL 1.1 for CPU, not for GPU.

[2019-11-24 07:08] puhach opened #30379 "The guidelines for loading a PyTorch model in C++ do not work on Windows"
## ❓ Issue

Building a minimal C++ application which loads a torch script model results in:
`LINK : fatal error LNK1181: cannot open input file 'torch-NOTFOUND.obj'`

## Reproduce

Follow the guidelines from PyTorch documentation ([this ](https://pytorch.org/tutorials/advanced/cpp_export.html) and [this](https://pytorch.org/cppdocs/installing.html#minimal-example)).

The issue occurs when executin

[2019-11-24 07:09] nikochiko opened #30380 "Add Google Colab as an option on the 'Get Started' page."
## 🚀 Feature
Along with all the instructions for local installation on https://pytorch.org/get-started/locally/ it would be great to also add a few lines about Google Colab notebooks.

## Motivation
Colab notebooks already set up with all required libraries pre-installed. It saves time, and users don't have to deal with errors while building or installing. All the work already done. Also, it would

[2019-11-24 07:15] taojake commented on #30151
first, some words are wrong:
inference with fp32:
44.31ms
inference with fp16:
50.40ms

then, the model code is from https://github.com/leoxiaobin/deep-high-resolution-net.pytorch/blob/master/lib/models/pose_hrnet.py, only output channels are different.

i just apply half() on model class and input data, my hardware is 2080Ti and 1080Ti, but i only use 2080Ti with CUDA_VISIBLE_DEVICES flag.

[2019-11-24 08:57] goodclass opened #30382 "torch_python and caffe2 backend may also need to be compiled in IOS"
Not only C + + interface on IOS
Python may also call torch on IOS
This can be used for demonstration or introduction to basic learning

I made some changes when compiling. At present, most of the examples are available through
It's just that I don't know if pytorch is compatible with this pattern

Download APP:
- US https://apps.apple.com/us/app/id1471351733
- CN  https://apps.apple.com/cn/app/id1

[2019-11-24 09:08] keskinm commented on #30374
Actually I wrote it like this for more convenience, and the problem was outer of

[2019-11-24 09:08] #30374 closed

[2019-11-24 09:28] BarakBat opened #30383 "Meta file not found or corrupted."
Hi, I'm writing this support issue after I got no answer from the forum:
[https://discuss.pytorch.org/t/imagenet-meta-file-not-found-while-using-torchbench/61356]
My problem is as follows:
I'm trying to run the following simple code:
[code]
This returns:

  File "test_imagenet.py", line 4, in <module>
    imagenet = datasets.ImageNet("path2imagenet", split="val", transform=input_transform, target_

[2019-11-24 09:53] mruberry commented on #30151
@mcarilli @csarofeen

[2019-11-24 09:54] odedbd commented on #15849
@SsnL thank you for the pointer, that worked great!

[2019-11-24 10:03] zw0610 commented on #30371
I do found `destroy_process_group` api in the source code, but wonder why this api is not exposed in doc.

[2019-11-24 10:23] mengxiangyudlut commented on #15541
RuntimeError: Attempting to deserialize object on CUDA device 1 but torch.cuda.device_count() is 1. Please use torch.load with map_location to map your storages to an existing device.

[2019-11-24 10:44] goodclass commented on #30383
wget https://github.com/goodclass/PythonAI/raw/master/imagenet/ILSVRC2012_devkit_t12.tar.gz

[2019-11-24 10:49] BarakBat commented on #30383
Can you please explain, what is missing, what are you proposing and how to use it?

[2019-11-24 11:17] goodclass commented on #30383
Maybe the link address is invalid Configure new addresses to download and create
datasets.imagenet.ARCHIVE_DICT['devkit']['url'] = "https://github.com/goodclass/PythonAI/raw/master/imagenet/ILSVRC2012_devkit_t12.tar.gz"

[2019-11-24 11:19] danieljbrooks opened #30384 "Docs missing link to torch.__config__"
## 📚 Documentation

The docs page currently contains a link to "torch.__config__" in the left sidebar under Python API.

This link leads to a dead end (https://pytorch.org/docs/stable/__config__.html).

The link or the sidebar should be updated.

Thanks!
-Dan

[2019-11-24 11:38] BarakBat commented on #30383
Is this what you mean:
`import torchvision.datasets as datasets
input_transform = None
datasets.imagenet.ARCHIVE_DICT['devkit']['url'] = "https://github.com/goodclass/PythonAI/raw/master/imagenet/ILSVRC2012_devkit_t12.tar.gz"
imagenet = datasets.ImageNet("/dataset-imagenet-ilsvrc2012/", split="val", transform=input_transform, target_transform=None, download=False)`

[2019-11-24 11:52] tycho01 commented on #17569
some additional description on JAX: https://thegradient.pub/state-of-ml-frameworks-2019-pytorch-dominates-research-tensorflow-dominates-industry/

[2019-11-24 13:23] knsong commented on #21626
@tchaton Did you solve the problem?

[2019-11-24 14:52] Hzzone commented on #22095
same problem, thanks a lot!!!!!

[2019-11-24 16:49] radimspetlik commented on #23233
Is there any 1.3.0 build? It would be nice to have some stable builds instead of alphas...

[2019-11-24 16:59] Evpok commented on #30365
To be fair, while it can obviously be done, `forward` having side effects (here setting attributes) is not the most common use case

[2019-11-24 17:09] heytanay commented on #29372
I have tried solving this issue by adding a conditional in the function [_std(g, input, dim, unbiased, keepdim)](https://github.com/pytorch/pytorch/blob/3990e9d1ca23e39bfa65fe1d907ddb9f9dbf0919/torch/onnx/symbolic_opset9.py#L1810)  in `torch/onnx/symbolic_opset9.py`, but it doesn't seem to work.
Any guidance will be greatly appreciated, as I am a complete beginner and looking to forward to contrib

[2019-11-24 17:20] fjanoos opened #30386 "Exponentiated gradient descent"
## 🚀 Feature
I am interested in contributing an [exponentiated gradient descent optimizer](https://ttic.uchicago.edu/~tewari/lectures/lecture4.pdf)  to pytorch.

## Motivation

Optimizing variables / parameters with a simplex constraint on the parameters.

## Pitch

Contribute a new optimizer

## Alternatives

Projected gradient descent.

[2019-11-24 17:27] vadimkantorov opened #30387 "[docs] Missing docs for Storage.from_buffer"
https://pytorch.org/docs/master/storage.html#torch.FloatStorage.from_buffer

[2019-11-24 18:00] mahmoodn commented on #29968
@xuhdev
I tried but it seems messy. I used the following command since I have non-system libraries: numa, nccl, cudnn, cuda.
[code]

[2019-11-24 18:34] varun-intel opened #30388 "Increasing memory usage on CPU"
## 🐛 Bug

I am trying to run a small neural network on the CPU and am finding that the memory used by my script increases without limit. Since my script does not do much besides call the network, the problem appears to be a memory leak within pytorch.

The problem does not occur if I run the model on the gpu.

## To Reproduce

I am attaching a Dockerfile that builds my environment and a script (te

[2019-11-24 22:09] tchaton commented on #21626
@knsong, I never figure out what really happened. I just think it could be due to the process being interrupted during writing the checkpoints.

[2019-11-25 02:24] peterjc123 commented on #30379
I'll fix the docs first.

[2019-11-25 04:00] jinfagang opened #30393 "F.interpolate ONNX export logic change"
## 🐛 Bug

a simple and stupid model:

[code]

I want to export to onnx and convert to tensorrt, so the same operation which is simply Upsampling I need change written format to fit it.

Currently, if export specific opset to 10, it generates a graph like this:

![image](https://user-images.githubusercontent.com/21303438/69511368-c1cbb100-0f7a-11ea-9063-3ef6521ca181.png)

This one can be exported a

[2019-11-25 04:00] jinfagang commented on #30393
Use int32 as default and remove the Cast op is a better way maybe?

[2019-11-25 04:29] mental2008 opened #30394 "Error when building pytorch v1.3.1/v.1.3.0 from source"
I want to build pytorch v1.3.1/v1.3.0 from source.

`git clone --recursive https://github.com/pytorch/pytorch -b v1.3.1`

But when cloning into 'android/libs/fbjni', I was asked to input username and password.

The detailed message is as followed.

remote: Repository not found.
fatal: repository 'https://github.com/IvanKobzarev/fbjni.git/' not found
fatal: clone of 'https://github.com/IvanKobzarev

[2019-11-25 05:39] abexultan opened #30395 "Using the traced model with C++ API"
I've traced my model as:
[code]

Successfully loaded in C++ and ready to be tested. Though, since I'm using tuple as an input I suspected Tuple should be provided in C++ as well, so I tried:

[code]
Which resulted into a core dumped with c10::Error as:

[code]

Therefore, what should I use to create a tuple of inputs in the same manner as in Python?

[2019-11-25 05:51] seyong92 commented on #29893
@ezyang I tried the option you told in PyTorch 1.3.1 with LRU_CACHE_CAPACITY=1 and it does not happen again.

Thanks for your help :)

[2019-11-25 05:51] #29893 closed

[2019-11-25 06:03] vadimkantorov commented on #20643
I've just encountered the same issue. I have a BCT tensor, and log_softmax is done across dim=1. A similar problem is reported in https://discuss.pytorch.org/t/converting-log-softmax-layer-into-onnx-format/40607

[2019-11-25 06:05] vadimkantorov commented on #17918
This is very useful for sequence models in the BCT format. Currently export of log_softmax with dim=1 fails.

[2019-11-25 06:15] Yunseong-Jeong commented on #25883
Then, If Spectral_norm is open Could you tell me?

[2019-11-25 06:23] peterjc123 commented on #30376
We have kicked out support for CC 3.5 GPU cards. You may have to downgrade torch or build it from source.

[2019-11-25 07:46] pietern commented on #29939
A difference between Apex and PyTorch DDP that comes to mind here is that Apex figures out the order in which gradients are produced at runtime, whereas PyTorch DDP still assumes that gradients are produced in reverse order how they are defined in the `nn.Module`. If the model you link to defines some first encoders / MLPs / etc as the last parameters in the module, you would see head-of-line bloc

[2019-11-25 08:13] IHIaadj commented on #29642
Tried this with pytorch 1.4 :
[code]

It outputs :
`error: ‘RegisterOperators’ is not a member of ‘torch’`

@dashesy was there any update?

[2019-11-25 08:56] pietern commented on #27843
The Python files import a number of pybind definitions, which are currently available only if distributed is build. Pushing this function down means also pushing importing of those C++ classes and functions down, which would be a PITA.

I think we can fix this with one of the following options:
* Add a libuv submodule and enable distributed on macOS by default
* Allow for compilation of c10d witho

[2019-11-25 09:05] pietern commented on #22679
If you use `torch.nn.parallel.DistributedDataparallel`, calling `loss.backward()` after doing a forward pass means you'll trigger gradient synchronization. Whether or not that's executed by NCCL depends on how you have initialized the distributed package. The backend is the first argument to `torch.distributed.init_process_group`.

The difference between `to(device)` and `cuda()` is that `cuda()`

[2019-11-25 09:06] pietern commented on #22679
It's not clear whether or not you've solved the hang issue and under what exact circumstances it occurred for you. If this is still an issue please report back with the exact way you're launching these jobs (e.g. number of processes, how many machines, how do you launch, how do you initialize, etc). In the mean time, I'll close the issue.

[2019-11-25 09:06] #22679 closed

[2019-11-25 09:07] XiaoqiangZhou commented on #30211
@cpuhrsch Thanks for your suggestion.

In fact, it seems to be the problem of "out of memory" in GPU. When I tried to reduce the input image size, the problem disappeared.

By the way, I came to the the above conclusion based on the observation of GPU util information. When the memory usage is large than the maximum capacity, my program got the `cuDNN error: CUDNN_STATUS_INTERNAL_ERROR`

I have an

[2019-11-25 09:10] pietern commented on #24273
We could perform this check from Python land by using the store directly.

Has this caused issues in the past or is this a purely hypothetical issue?

[2019-11-25 09:13] Andrej-sens commented on #30075
I managed to run a nightly build. I had to turn off every process due to running out of memory. However, the same issue, same error.

I've updated [file](https://github.com/Andrej-sens/cudaDepthFilters-0.1a/blob/master/Pytoch_master_error) with exact commands how I've run it. Maybe I am doing something wrong.

[2019-11-25 09:15] pietern commented on #24198
The tutorial you mention has been updated to remove the confusing example.

Closing the issue.

[2019-11-25 09:15] #24198 closed

[2019-11-25 09:31] pietern commented on #22698
This hasn't occurred since. Closing the issue.

[2019-11-25 09:31] #22698 closed

[2019-11-25 09:59] Traajan197 opened #30399 "Con2d: Inconsistent results on Raspberry Pi 3B"
## 🐛 Bug

The problem is the result after a convolution layer. With some kernel sizes like (3, 3), only the first channel have expected values, the other have random values.

I try with Pyotrch 1.4.0 which I build and unofficial wheel of Pytorch 1.3.0 on Raspberry pi 3B and 3B+

## To Reproduce

Steps to reproduce the behavior:

1. Create a zero tensor
2. Create a Conv2d with a kernel size of 3 an

[2019-11-25 10:01] alanzhai219 opened #30400 "miniz is missing in .gitmodule"
## 🐛 Bug

miniz is missing in .gitmodule but there is miniz in the third_party

Steps to reproduce the behavior:

1.sync the lastest PyTorch code;
1.run build
1.report 'caffe2/CMakeList.txt missing miniz'

It seems that .gitmodule does NOT match third_party completely?

[2019-11-25 10:12] peterjc123 commented on #30075
The first error in your log has been detected by CI, which is https://github.com/pytorch/pytorch/issues/30296. But we could not reproduce the second one. FYI, we use VS 2017 Update 4 on the CI server.

[2019-11-25 10:16] peterjc123 commented on #30075
Wait, there are so many errors in your cmake log during configuration.
[code]
Did you forget to do `git submodule sync && git submodule update --init --recursive` before build?

[2019-11-25 10:35] Andrej-sens commented on #30075
I remember to running it. If I wouln't I couln't execute the build due to some packages. I've run the command again and it synch some packages but didn't donwload.

Now I'm getting only:
`
CMake Warning at cmake/Dependencies.cmake:141 (message):
MKL could not be found.  Defaulting to Eigen
Call Stack (most recent call first):
CMakeLists.txt:380 (include)
`
`
CMake Warning at cmake/Dependencies.cma

[2019-11-25 11:16] mahmoodn commented on #29968
Excuse me, I tried this from scratch and still see numa.h is not found.
I have stuck at this step.

[code]

The error file contains the error about not finding numa.h.

[code]

[2019-11-25 11:17] mahmoodn commented on #29968
@xuhdev  I updated the issue.

[2019-11-25 11:47] pietern commented on #28275
I compared 1.0.1 to my development version and get the following:

* On 1.0.1: **7.35s**
* On 1.4.0a0+a074080:  **7.18s**

I modified the repro script with the following to take a proper measurement:

[code]

@yourh Can you update your repro script and confirm the measurements on your machine?

[2019-11-25 11:51] vadimkantorov commented on #20643
possibly related https://github.com/pytorch/pytorch/issues/17918

[2019-11-25 11:55] alanzhai219 commented on #30400
Maybe it is located in such repo

[2019-11-25 11:55] #30400 closed

[2019-11-25 12:17] shayben opened #30401 "Unexpected difference torch.multiprocessing.manager.queue and torch.multiprocessing.queue"
It seems that torch.multiprocessing.Manager.Queue doesn't support multiprocessor sharing of cuda tensors. Repro below.

[code]

[2019-11-25 12:49] colinfang commented on #29744
Code in #2917 runs well for me.

Switching to `x = torch.rand(70000, 1, 2).contiguous().cuda()` still triggers the same error.

[code]

I also have conda installed cudatoolkit with version   10.1.243
BTW the cuDNN version is wrong above, I think pytorch binary comes with statically linked cudnn.

[code]

[2019-11-25 13:56] rrkarim opened #30402 "There is no support for `weight_decay`/`momentum` in SGD for sparse tensors."
## 🚀 Feature
I don't see why there is no support for `weight_decay` and `momentum` in SGD. There is a PR on this feature (#1305), but it has been never merged with no explanation. It looks like really easy patch to be implemented. Or maybe there it is not possible way to provide the exact same semantics with sparse tensors because of all the constraints on `coalesced` sparse tensors for some ops?

[2019-11-25 14:37] vainaijr opened #30403 "last updated timestamp"
## 📚 Documentation

Is it possible to provide a timestamp to when a tutorial was last updated in the docs, this could also be applied to modules in docs, like
[code]

[2019-11-25 14:39] hartb opened #30404 "affine_grid CUDA / cuDNN support for Half removed in 1.3.x"
## 🐛 Bug

PR https://github.com/pytorch/pytorch/pull/24929 refactored the `affine_grid` code to remove all cuDNN dispatch. This had the side effect of dropping support for `Half` / `float16` in the CUDA / cuDNN case. The cuDNN code supported Half, but the native torch implementation does not. Users may see:

[code]

Because `linspace_cuda` does not include dispatch support for `Half` / `float16` (

[2019-11-25 14:49] yourh commented on #28275
@pietern Thank you very much. I update the script and run it on my 8 GPUs machine and get the following:

- On 1.0.1: 74.15s
- On 1.3.0: 272.75s

I also run it on another 4 GPUs machine and get the following:

- On 1.0.1: 55.25s
- On 1.3.0: 119.75s

[2019-11-25 14:54] SsnL commented on #30402
IMO, generally the ambiguity is which entries should be decayed/momentum accelerated.
+ For dense tensor and sparse gradients:

  Changing all values in the tensor doesn't make much sense as this case is normally found in embedding training, where decaying / accelerating unused entries is rather weird (since the #iter between an entry gets used twice could be very big but we don't want that entry

[2019-11-25 15:04] albanD commented on #21626
Will close as the error does not seem to happen anymore based on @tchaton's comment.
Feel free to reopen if you see the error and have a reproduction.

[2019-11-25 15:04] #21626 closed

[2019-11-25 15:20] izdeby opened #30405 "Codegen refactoring tracking"
This is the master task for all known codegen issues. The current state of our codegen is hard to maintain, it has a fair amount of bugs, hacks and hard coded logic which is not documented anywhere and requires a lot of domain knowledge.

Known Issues:

- [ ] TensorOptions. Logic around TensorOptions manipulations is probably the hardest and the most confusing part of the whole codegen. In order t

[2019-11-25 15:29] izdeby commented on #30405
FYI, @bhosmer, @eellison, @gchanan, @smessmer
This are the biggest issues that i have found while working on the TensorOptions clean up. I plan to fix them all one by one and this is the master tracking issue.
Please, feel free to add something that might be missing and/or you are working on.

[2019-11-25 16:16] rrkarim commented on #30402
@SsnL thanks for the response, I understand the concerns on the ambiguity and the lack of theory to justify the particular choice of update logic. But there is an implementation of `MomentumOptimizer` in tensorflow with the support for sparse tensors and, if I'm not wrong, in the docs they write that the method updates only the values in `grad` (your second point).

[2019-11-25 16:19] rrkarim commented on #30402
Though, unfortunately, I haven't found any analyses that could justify the effectiveness of this approach.

[2019-11-25 16:22] danFromTelAviv commented on #5406
does group norm work in the same manner?

[2019-11-25 16:52] #28714 closed

[2019-11-25 16:55] #23815 closed

[2019-11-25 16:57] ifedan commented on #28709
https://github.com/pytorch/pytorch/pull/29081

[2019-11-25 17:15] meiluzhu opened #30408 "Where is the script of the synchronization of gradients during the backwards for DDP"
## ❓ Questions and Help

Hi, I know the synchronization of gradients happens during the backwards for DDP. But I didn’t find the corresponding script in backwards. Where can I find it?

[2019-11-25 17:22] VitaMusic commented on #25698
yes it is successful build with vs c++ 2019 compilers, please find below the fail with intel compilers

you can ask a free intel licence for open source projects (libtorch is opensource),
you will have all the advantages of intel suite, not only compilers (tuning, parallel tools, profiling..), and all on windows, linux and mac.
so the compilers is not a problem, just ask Intel
https://software.int

[2019-11-25 17:29] VitaMusic commented on #30322
here is the message I have:
Your app has entered a break state, but there is no code to show because all threads were executing external code (typically system or framework code).

![image](https://user-images.githubusercontent.com/12452501/69563404-52bd7f00-0fb1-11ea-9d5e-c7a36db1a513.png)

output:
'libtorch.exe' (Win32): Loaded 'D:\PROJECTS\libtorch\neuroevolution\x64\Debug\libtorch.exe'. Symbol

[2019-11-25 17:51] bhosmer commented on #30405
High-level view of what I'm currently working on in the codegen pipeline. First couple are short-term, the rest somewhat longer.

- `gen_python_functions.py` refactor. This will probably happen over several PRs, first one here: https://github.com/pytorch/pytorch/pull/29986 (will land following @izdeby TensorOptions work lands).

- `gen_jit_dispatch.py` work. Should substantially simplify signature

[2019-11-25 18:00] spandantiwari commented on #17918
@vadimkantorov what version of PyTorch are you using?

[2019-11-25 18:01] vadimkantorov commented on #17918
A very recent one: nightly from couple weeks ago

[2019-11-25 18:02] mrshenli opened #30409 "test_graph_for_py_nested_call is Flaky"
https://app.circleci.com/jobs/github/pytorch/pytorch/3711301

[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528

[2019-11-25 18:07] vadimkantorov commented on #17918
I have a BCT sequential model. When I add a `log_softmax(dim = 1)`, export of log_softmax fails:
[code]

[2019-11-25 18:09] vadimkantorov commented on #17918
Whereas `softmax(dim = 1).log()` works

[2019-11-25 18:10] vadimkantorov commented on #17918
Probably https://github.com/pytorch/pytorch/blob/master/torch/onnx/symbolic_opset9.py#L874 is problematic

[2019-11-25 18:13] vadimkantorov commented on #30237
Also, there as an interesting example of `.to(copy=False|True)` argument that allows avoiding copy if the result is already of the good type / on the good device.

[2019-11-25 18:25] albanD commented on #29372
As @vincentqb mentioned above, we have a different definition of std than numpy.
If you set `ddof=1` in numpy to have the same behavior, you will get `nan` just like pytorch.

[2019-11-25 18:29] VitalyFedyunin commented on #30238
Sure, we are ready to accept PR implementing it. Please make sure it is similar to numpy if they support it.

[2019-11-25 18:30] VitalyFedyunin commented on #30237
We are ready to update docs.

[2019-11-25 18:54] xuhdev commented on #29968
I have stuck at this step.

Did you try this on the latest master? We've had an attempted fix.

[2019-11-25 18:55] driazati commented on #16672
This looks like it's fixed on master

[2019-11-25 18:55] #16672 closed

[2019-11-25 18:57] cpuhrsch commented on #30211
@XiaoqiangZhou - happy to hear you were to resolve this error!

If you have a separate question, please open another issue so we can help other users who have a similar issue.

I'm closing this now, but please fill encouraged to reopen the issue if it reoccurs or you don't consider this resolved.

[2019-11-25 18:57] #30211 closed

[2019-11-25 18:58] pritamdamania87 commented on #28849
@mrshenli I believe we can close this after @jjlilley's latest PRs?

[2019-11-25 19:01] StevePny commented on #10043
*Where do I need sparse tensor? During training deep learning model?
I need sparse weight matrices for customizable connections in a linear layer.

*Do I need autograd support for the sparse ops?
It will require derivatives stored for each defined weight connection.

I am developing networks for very high-resolution geophysical applications that have by their nature a principle of locality. Thus,

[2019-11-25 19:05] #25528 closed

[2019-11-25 19:06] #25525 closed

[2019-11-25 19:07] #24250 closed

[2019-11-25 19:33] narfanar opened #30413 "nn.functional should maintain API parity with nn"
## 🚀 Feature
`nn.functional` should provide a functional alternative to every stateful component in `nn` that supports it.

Some, like `Tanh() -> tanh` were deprecated in `nn.functional` because they're now the same as those in `torch`.

## Motivation

People usually import modules and submodules that are used often under short intuitive names.

One such name I've often encountered is `nn.function

[2019-11-25 19:38] ngoldbaum commented on #29161
OK, I think I have this sorted more or less (modulo any code review suggestions I get on the pull requests I'll be opening later today) except for one place where I'm not sure how to migrate from `DeprecatedTypeProperties` to `TensorOptions`. Specifically, here:

https://github.com/pytorch/pytorch/blob/master/torch/csrc/utils/tensor_flatten.cpp#L10-L63

and here (in the same file):

https://github

[2019-11-25 19:46] vkuzmin-uber commented on #24834
I meet the same problem with
[code]

and in my case I don't use "source activate pytorch_p36". Do you have an idea what is the reason of it?

[2019-11-25 20:04] ngoldbaum commented on #30394
As reported on slack, a workaround is to do:

[code]

[2019-11-25 20:06] hadaev8 opened #30414 "Msking for BatchNorm"
NLP tasks are very popular.
For such tasks, we usually need to process training samples of different lengths.
To create a batch of the same length, we have to add zeros, which interferes batchnorm and decrease performance of the model.

[2019-11-25 20:13] mahmoodn commented on #29968
I really tried that manually. Please see below but I have to say the error file is the same as previous post. I just pasted the output of terminal where you can verify I have added those lines but configure script says numa not found.
[code]

Should I manually put numa.h to a default location where setup.py is looking for? For example, in c++, instead of passing `-I` to include more paths, we can

[2019-11-25 20:17] mahmoodn commented on #29968
@xuhdev
I think I have found the problem. Not sure though...
Since I am working on a cluster and I ssh to a specific node, I see that I actually don't have `/home/mnaderan`. Instead I am on a shared partition as below:

[code]

So, maybe the build script is using `/home` path and therefore it can not find numa.h
[code]

[2019-11-25 20:24] bosonbeard commented on #5209
it'is not work.
![1](https://user-images.githubusercontent.com/5284540/69575091-a85a5180-0fda-11ea-9e7c-a4ec46201dd7.png)

[2019-11-25 20:52] cbaziotis commented on #10006
PyTorch 1.2.0  and this is still an issue. I ended up doing what @ShilinHe did.
[code]

[2019-11-25 20:56] Hippogriff commented on #28293
Is there a temporary solution/work-around to this problem?

[2019-11-25 21:12] ailzhang opened #30416 "Fix 1.3.1 branch submodule fbjni dependency"
As the most recent release, we should support building 1.3.1 from scratch. But the submodule https://github.com/IvanKobzarev/fbjni got removed and switched to https://github.com/facebookincubator/fbjni.git. It should be fixed in 1.3.1 as well if possible.

cc @ezyang @gchanan @zou3519

[2019-11-25 21:26] IvanKobzarev commented on #30416
As a hotfix to unblock - I returned https://github.com/IvanKobzarev/fbjni to public visibility

[2019-11-25 21:27] xuhdev commented on #27409
Did you install from the source? If so, would you mind showing the output of

    grep MAGMA_LIBRARIES build/CMakeCache.txt

[2019-11-25 21:34] IvanKobzarev opened #30418 "More detailed information about TensorType in error messages"
## 🚀 Feature
More detailed information about TensorType, including TensorType specifiers as shape, strides, req_grad etc. in error messages

## Motivation
Reported issue https://discuss.pytorch.org/t/incomprehensible-behaviour/61710
Error message is misleading:
[code]
## Pitch
Steps to reproduce original issue:

[code]

[code]
ValueType of c10::impl::GenericDict is from the first specified element

[2019-11-25 21:38] xzhu1900 commented on #29939
The bert model we use is from this public package: https://pypi.org/project/pytorch-pretrained-bert/

I assume the layers are defined in order, but doesn't hurt to double check.

[2019-11-25 21:42] IvanKobzarev commented on #30394
As a hotfix to unblock you - I returned https://github.com/IvanKobzarev/fbjni to public visibility

[2019-11-25 21:43] #30394 closed

[2019-11-25 21:48] driazati opened #30421 "[jit] Module references aren't preserved"
Results in eager vs script are different

[code]

[2019-11-25 22:01] PetrochukM commented on #24119
@soumith Thanks for the suggestion. I didn't know about that.

I wonder if there could be a lighter-weight interface for the above. I think that there is some work in this area already: https://github.com/pytorch/pytorch/issues/24915

[2019-11-25 22:01] #24119 closed

[2019-11-25 22:04] vadimkantorov commented on #30238
For context: numpy instead of a property defined on dtype has np.iscomplex and np.isreal: https://docs.scipy.org/doc/numpy/reference/generated/numpy.iscomplex.html

[2019-11-25 22:53] #30296 closed

[2019-11-26 00:04] divyekapoor commented on #30365
@Evpok From the discussion with the Tensorflow folks (tensorflow/tensorflow#34500), we generated a NumPy baseline if that would be preferable.

FizzBuzz Iteration Counts | 100000 |   |   |  
-- | -- | -- | -- | --
  | Method Latency (ms) | Iteration Latency (usec) | Python Multiplier | C++ Multiplier
Tensorflow Python | 4087 | 40.87 | ***227.06*** | 24327
Tensorflow Saved Model Python | 4046 | 40.

[2019-11-26 00:39] izdeby commented on #30383
Sorry, we ask users to use forum for questions. I see that you got no answer there but i will have to close this issue.

[2019-11-26 00:39] #30383 closed

[2019-11-26 00:44] izdeby commented on #30395
Please, use our [forum](https://discuss.pytorch.org/) for questions. Thanks

[2019-11-26 00:44] #30395 closed

[2019-11-26 00:45] izdeby commented on #30376
Please, use our [forum](https://discuss.pytorch.org/) for questions. Thanks

[2019-11-26 00:45] #30376 closed

[2019-11-26 00:48] izdeby commented on #30404
fyi, @bnehoran

[2019-11-26 00:49] izdeby commented on #30408
Please, use our [forum](https://discuss.pytorch.org/) for questions. Thanks

[2019-11-26 00:49] #30408 closed

[2019-11-26 00:55] izdeby commented on #30414
hi, @hadaev8, we are actually working on adding nested tensor that will solve this issue. As of right now it is in active development. If you would like to check out experimental version (use at your own risk), please, check out [this](https://github.com/pytorch/nestedtensor).

For now i will close the issue.

[2019-11-26 00:55] #30414 closed

[2019-11-26 01:04] izdeby commented on #30366
Please, use our [forum](https://discuss.pytorch.org/) for questions. thanks

[2019-11-26 01:04] #30366 closed

[2019-11-26 01:04] #30323 closed

[2019-11-26 01:05] izdeby commented on #30297
Please, use our [forum](https://discuss.pytorch.org/) for questions. thanks

[2019-11-26 01:05] #30297 closed

[2019-11-26 01:06] bnehoran commented on #30404
Hmm... That's odd, I didn't realize that this was dropped.
And it's interesting that the tests didn't catch it. Shouldn't there be a test case for this?

Also, why does `linspace_cuda` not support float16?

[2019-11-26 01:11] piyueh opened #30439 "Connection closed by peer when using L-BFGS and distributed computing (gloo)"
## 🐛 Bug

When using L-BFGS optimizer with distributed computing (CPU only, `gloo` backend), at the last epoch of the training loop, some ranks report an error regarding connection closed by a peer.

The documentation only says:

For a simple distributed setup, all processes have exactly the same copy of all parameters. So I'm not sure if this meets "all parameters have to be on a single device`.

[2019-11-26 01:12] soumyarooproy opened #30440 "Redundant counter in batchnorm impl"
## 🐛 Bug

This looks like an efficiency/perf bug (unless I am missing something).

`self.num_batches_tracked` is initialized and incremented but never used when `self.momentum` is not `None` during training (and tracking running stats).

## To Reproduce

Review code:
https://github.com/pytorch/pytorch/blob/b8f50d9cc860460c7e9b6d3b370cab546e9f9583/torch/nn/modules/batchnorm.py#L35

https://github.c

[2019-11-26 01:14] ngimel commented on #30404
@bnehoran that's a great question, there was a PR opened recently that refactors range factories, I asked its author to add fp16 support.

[2019-11-26 01:17] pritamdamania87 commented on #30375
@Tabrizian What if the `worker_id` that you use on each of the two nodes that you run the script on?

[2019-11-26 01:20] arvindmvepa commented on #12719
I'm still getting an error if you increase the batch size of the `dummy_input` to 30. So `dummy_input = torch.Tensor(torch.randn((30, 3, 299, 299))).cuda()` gives me an error.

[2019-11-26 01:27] Tabrizian commented on #30375
@pritamdamania87 For one is 0 and for another one is 1.

[2019-11-26 01:35] pritamdamania87 commented on #30375
I think that would create problems with the ranks. For worker_id 0, the ranks would be 0 and 1 and for worker_id 1 the ranks would be 1 and 2. Can you try with worker ids 0 and 2? Your ranks should be 0, 1, 2, 3 for world size 4.

[2019-11-26 01:42] Tabrizian commented on #30375
@pritamdamania87 I see. Sorry it was my mistake. Thank you for your help!

[2019-11-26 01:42] #30375 closed

[2019-11-26 02:12] bnehoran commented on #30404
@ngimel Awesome, so would that PR then resolve the problem here as well?

[2019-11-26 02:19] dianlujitao opened #30443 "Expose bhistc to python"
## 🚀 Feature

Calculate the histogram of the elements in 2d tensor x along the last dimension.

## Motivation

https://discuss.pytorch.org/t/parallelize-histogram-calculation/60038

## Pitch

I found the backend implementation
https://github.com/pytorch/pytorch/blob/master/aten/src/TH/generic/THTensorMoreMath.cpp#L1314-L1350
but it's not exposed to python so we can't easily use it, please add corr

[2019-11-26 02:29] JerryQiang opened #30444 "`torch.Size` is tranfered to`torch.Tensor`, values don't equal"
## 🐛 Bug

`torch.Size` is tranfered  to`torch.Tensor`, values don't equal
## To Reproduce

Steps to reproduce the behavior:

1.ele = torch.Tensor([1])
2.print(ele.shape, torch.Tensor(ele.shape))  # torch.Size([1]), tensor([-5.2017e-05])

## Environment
 - PyTorch Version (1.3.1):
 - OS (linux):
 - How you installed PyTorch (anaconda):
 - Build command you used (if compiling from source):
 - Python

[2019-11-26 02:49] mental2008 commented on #30394
The bug is fixed. - Thanks a lot.

[2019-11-26 03:03] #30156 closed

[2019-11-26 03:29] benywon opened #30446 "Is there any plan for Adafactor optimizer?"
## 🚀 Feature

official Adafactor optimizer
## Motivation
an efficient optimizer Adafactor is currently widely used in some big models, it saves a lot of memory due to its sub-linear running average of the gradient, sometimes result in a sigificant memory footprint reduce and larger batch size.

## Pitch

## Alternatives

## Additional context

cc @vincentqb

[2019-11-26 03:41] Spandan-Madan commented on #9585
For others who might be facing this issue, I just found another reason why this could happen. If you're calculating cross entropy loss on a label and a predicted label, the only possible unique values in the label MUST be 0 to N-1 where N = number of class. If by mistake you set a label to be a greater quantity, it can lead to this error.

For ex: I was doing semantic segmentation for 27 categorie

[2019-11-26 03:41] peterzpy opened #30447 "Why when I use torch.cuda.empty_cache(), it cost some gpu memory on other device?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

cc @ngimel

[2019-11-26 04:18] yf225 commented on #30447
@peterzpy Could you give us a minimal reproduction example?

[2019-11-26 04:23] yf225 commented on #30444
@JerryQiang Does `torch.Tensor(ele.shape)` work in any version of PyTorch, or is this a feature suggestion?

[2019-11-26 04:34] yf225 commented on #30440
The `num_batches_tracked` attribute of `BatchNorm{1,2,3}d` is part of the public API, and removing it would break backward compatibility. I would say this is probably a won't fix, unless we prove that it significantly affects perf.

[2019-11-26 04:50] chyzzqo2 opened #30450 "Can't use linux wheel without ld path modifications"
Trying to run simple sample code

```python3 -c 'import torch; torch.rand(100, pin_memory=True)'```

errors with

```RuntimeError: Error in dlopen or dlsym: libcaffe2_nvrtc.so: cannot open shared object file: No such file or directory```

if i modify my LD_LIBRARY_PATH to include the lib directory extracted from the wheel `/usr/local/lib/pythonx.x/site-packages/torch/lib` then everything works. Bu

[2019-11-26 05:19] peterjc123 commented on #30322
I see, what about using breakpoints and then step into?
BTW, Why is it using the `libiomp5md.dll` from your OS? Could you please copy that one from libtorch?

[2019-11-26 05:20] v0dro commented on #19420
## Basics

Current benchmarks are as follows:
[code]

Going to the `chrome://tracing` url within google chrome allows you to see a function
call trace of the code.

<a id="orgf72eaca"></a>

## Software mini-proposal

<a id="org59f49f2"></a>

### Goal

Port the `exportc_chrome_tracing` python function to C++ for greater speed.

### Problem

Currently the chrome tracing recording and export is quite

[2019-11-26 05:21] v0dro commented on #19420
@ezyang can you please have a look at my mini-proposal? I'll improve on the details and post more stuff soon.

[2019-11-26 05:31] JerryQiang commented on #30444
thank you for answering
I research the document, it is my fault to use it.
when you pass `Size`,  it will create a random tensor by shape.
only pass data, it will create a random tensor by data.

the passed parameters as followling:
[code]

[2019-11-26 05:32] JerryQiang commented on #30444
Thank you for answering
I research the document, it is my fault to use it.
when you pass `Size`,  it will create a random tensor by shape.
only pass data, it will create a random tensor by data.

the passed parameters as followling:
[code]

[2019-11-26 05:36] JerryQiang commented on #30444
At first, I misunderstand `tensor.size` as the total numbers of tensor elements,
I want to transfer `Size` to `Tensor` and `cumprod` it.
Lastly I directly use `for each` to count the total num.

[2019-11-26 05:36] #30444 closed

[2019-11-26 05:37] SsnL commented on #30444
`torch.Tensor(shape)` creates an empty tensor of shape `shape`. Don't use deprecated uppercase `Tensor`. Use `torch.tensor(shape)` to create a tensor containing the same value as `shape`.

[2019-11-26 05:37] SsnL commented on #30444
Finally, just do `shape.numel()` gives you the cumprod.

[2019-11-26 05:40] JerryQiang commented on #30444
you're right, bingo!
I want to ask you another question
when I use `PyCharm` to see the source code, sometimes it will open `pyi` file.
and I can't see more detailed code document
How to solve it?

[2019-11-26 05:41] peterjc123 commented on #30450
cc @soumith  @pjh5

[2019-11-26 06:04] zhhezhhe commented on #29645
same problem
[code]

[2019-11-26 06:23] ryh95 commented on #28293
I just move the tensor to CPU then use `torch.svd` to get a decomposition. I'll move the results back to GPU if needed.

Someone has mentioned that `gesvd` is more accurate/robust(https://github.com/pytorch/pytorch/issues/25978#issue-492018796), so you can move the tensor to CPU and transfer to numpy array and use scipy if you prefer a better result.

[2019-11-26 07:04] divyanshj16 commented on #4107
This is modified code from @hkharryking .
[code]
Output: torch.Size([65535, 16, 200])

If I increase batch size by 1.

[code]
Output:
[code]

[2019-11-26 07:33] tnlin commented on #1204
@sdsy888 it works, you just save my day. I correct the number of label and everything work fine.

[2019-11-26 07:48] BarakBat commented on #30383
If no one knows what's wrong, this is a bug. thanks.

[2019-11-26 07:50] flymark2010 opened #30454 "backward not called with custom op"
## 🐛 Bug

I have wrote a CustomOp with torch.autograd.Function, but the  custom backward will not be called.

## To Reproduce

Steps to reproduce the behavior:

1. Just run the sample code.
2. The backward is not called, (no print message)

[code]
## Expected behavior

- The backward method should be called.

## Environment

 - PyTorch Version : 1.3.1
 - OS : Linux
 - How you installed PyTorch : p

[2019-11-26 07:54] BarakBat opened #30455 "Meta file not found or corrupted."
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
[code]

Gives error:

  File "test_imagenet.py", line 4, in <module>
    imagenet = datasets.ImageNet("path2imagenet", split="val", transform=input_transform, target_transform=None, download=False)
  File "/usr/local/lib/python3.6/dist-packages/torchvision/datasets/imagenet.py", line 56, in __init__
    wnid_to_classes = self._load_meta_f

[2019-11-26 07:56] peterzpy commented on #30447
[code]
Here is a demo, I have let the model to use cuda:1. But it will cost some gpu memory when torch.cuda.empty_cache() was executed, but if I comment this sentence, this problem will be solved.

[2019-11-26 08:19] piyueh commented on #30439
I think I may know the reason. For each iteration of an L-BFGS solve, the solver evaluates the `closure` function several times. I'm not familiar with 2nd order methods, but I think this happens under some conditions. Anyway, that's why the L-BFGS solver has an argument `max_eval` to control the maximum number of evaluations of `closure` in an iteration.

Different processes have different inputs

[2019-11-26 08:32] pietern commented on #30439
Thanks for posting the issue and the subsequent explanation.

You're exactly right, that if one of the processes decides to run another iteration, then the other one will raise the error you report. You can work your way around this by making a single process responsible for this decision, and broadcasting the decision to the other processes. You can use `torch.distributed` for this, but you'll al

[2019-11-26 08:32] #30439 closed

[2019-11-26 08:32] MubarkLa commented on #7485
@peterjc123

**Hello, thanks a lot for your reply.**
**I have carefully read that but still face the same problem.**
**Actually I am trying to run UCF101_CRNN.py of [https://github.com/HHTseng/video-classification/tree/master/CRNN](url), and I added these at the begining of UCF101_CRNN.py:**

*************************************************
def run():
    torch.multiprocessing.freeze_support()

[2019-11-26 08:43] pietern commented on #30371
There's two steps to achieving this, destroying the process group being the easy one:

* Detect the error: first, you have to figure out there's an error in the first place. Historically, NCCL didn't support this, but with 2.4 introduced `ncclCommAbort`, allowing you to cancel a running kernel. Before you call this, however, you need to know whether there is an error or timeout or such. By default

[2019-11-26 08:46] peterjc123 commented on #7485
@MubarkLa No, actually it is not this note want you to do. It wants you to do sth like:
[code]

[2019-11-26 08:52] ankane opened #30457 "Ruby Library"
Hi, thanks for this awesome library! I wanted to let you know that there are now experimental [Ruby bindings](https://github.com/ankane/torch-rb) for it based on LibTorch.

If you have any feedback, let me know or feel free to create an issue in the project for it. Thanks!

[2019-11-26 09:03] noskill opened #30458 "add method to make tensor constant for debug purposes"
## 🚀 Feature
Add method to make constant tensors

tensor.make_const()

## Motivation
This option will make it easy to find inplace operators in case of such exceptions:
[code]

Instead RuntimeError should be thrown when inplace operation is performed on constant tensor.

## Alternatives

Perhaps it is even better to make all tensors constant by default, since inplace operators rarely needed.

[2019-11-26 09:08] yangsenius opened #30459 "add_graph error: assert(isinstance(orig, torch.nn.Module)) when using tensorboardX or torch.utils.tensorboard"
## 🐛 Bug

I use tensorboardX to `add_graph(model, (dump,))`, but
[code]

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

## Environment
Collecting environment information...
PyTorch version: 1.2.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 16.04.6 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
CMake version: Could not coll

[2019-11-26 09:51] zhongweics commented on #22676
</details>

### Next steps

No action items identified. Please copy ALL of the above output,
including the lines containing only backticks, into your GitHub issue
or comment. Be sure to redact any sensitive information.

[2019-11-26 10:01] piyueh commented on #30439
Thanks for the confirmation. I would like to add another workaround so that other people having the same problem can know their options.

Besides hacking the L-BFGS source code, the other thing we can do is to not allow the L-BFGS to run arbitrary numbers of evaluations of `closure`:

1. Don't use `strong_wolfe` for line search. `strong_wolfe` requires executing `closure` several times to find opt

[2019-11-26 10:48] pietern commented on #28275
At 10000x10000 floats we're talking about 400MB of data that you're replicating 1000 times, for a total of 400GB of data being copied from GPU 0 to the other GPUs. On my machine, I have 2 GPUs that are connected with 4x bonded NVLinks for a theoretical peak bandwidth of 64GB/sec (unidirectional, see https://en.wikipedia.org/wiki/NVLink):

[code]

The 7.18s number I posted earlier amounts to ~55GB/

[2019-11-26 10:52] pietern commented on #30439
Excellent!

It should be possible to come up with an optimizer that is distributed-aware, where all these decisions are made globally instead of by a single machine. Then you can use it in a distributed setting, but will have to average losses, or pick one of the machines are the primary.

[2019-11-26 10:57] One-sixth opened #30460 "torch.tensor([np.array, np.array]) slower than torch.tensor(np.array([np.array, np.array]))"
A example.

In my computer output.
[code]

code
[code]

[2019-11-26 11:10] meiluzhu commented on #22679
Hi @pietern , Where is the script of gradient synchronization after calling backward() in pytorch source code? I was confused about this problem for few days.

[2019-11-26 11:17] pietern commented on #22679
Please post questions to the discussion forums at https://discuss.pytorch.org/.

[2019-11-26 11:27] joshim5 opened #30461 "`torch.multiprocessing.spawn` fails when `join=False`"
## 🐛 Bug

Invoking `torch.multiprocessing.spawn(fn, args=(), nprocs=n, join=False)` raises a `FileNotFoundError` when `join=False`. In contrast, `join=True` works as expected.

## To Reproduce

The following script reproduces the error on pytorch versions `1.1.0` and `1.3.0a0+f25d01e`.

[code]

The script fails with the following error message:
[code]

Note that `terminated` is printed, showing th

[2019-11-26 11:54] Andrej-sens opened #30462 "Convolutional layer with bias=True causing crash"
Hello,
I was trying to code example of neural network on CUDA. I have run some examples which they were working on CPU but not on GPU.

Not sure if it's a bug or my mistake.

Please note that CUDA version of [MNIST example](https://github.com/Andrej-sens/libtorch_examples_cpp/blob/master/MNIST_Example_GPU.cpp) is working properly.

How to replicate error, just change bias to false. With `bias=true

[2019-11-26 12:05] mustaphaweather commented on #6098
This worked for me on Linux:

1- Uninstall the package via pip:

pip uninstall setuptools

2- Reinstall using the following command:

conda install -c anaconda setuptools

[2019-11-26 12:24] pietern commented on #30461
Per https://pytorch.org/docs/stable/multiprocessing.html#torch.multiprocessing.spawn, calling `spawn` with `join=False` makes it return a `SpawnContext`. This object contains the PIDs of the spawned processes, the inter process queues, etc.

In your example, you don't use this return and it is destructed immediately. By the time the worker process has started, it can no longer find the handles to

[2019-11-26 12:39] yourh commented on #28275
@pietern The topology is as following:
[code]

[2019-11-26 13:00] wizard-baller commented on #26948
I  cared for CPU usage in the last time. Now, I did another speed test on libtorch 1.3.0.
The test code is almost same with the previous. I only add some code to compute elapsed time by std::chrono::system_clock. And there are 48 CPU cores.

The test result are:

set_num_interop_threads(1),  set_num_threads(1), 1 process, 1 working thread, 100 times inference in each thread:
average inference time

[2019-11-26 13:02] wizardk commented on #26948
I cared for CPU usage in the last time. Now, I did another speed test on libtorch 1.3.0.
The test code is almost same with the previous. I only add some code to compute elapsed time by std::chrono::system_clock. And there are 48 CPU cores.

The test result are:

1.
set_num_interop_threads(1), set_num_threads(1), 1 process, 1 working thread, 100 times inference in each thread:
average inference tim

[2019-11-26 13:19] corner100 commented on #29545
In the Run/Debug Configurations of Pycharm

I import from torch.utils.tensorboard import SummaryWriter after import torch.
No tensorflow-gpu installed.

[2019-11-26 13:21] VitaMusic commented on #30322
I have newer version, I tried the both, no difference

----------------------------
call stack :

![image](https://user-images.githubusercontent.com/12452501/69636488-fd3bad80-1056-11ea-913b-7336427be639.png)

![image](https://user-images.githubusercontent.com/12452501/69636932-f6fa0100-1057-11ea-9105-287ba2a142c8.png)

vs runtime block the things

[2019-11-26 13:21] poornimajd commented on #7334
this did not work for me

[2019-11-26 13:28] peterjc123 commented on #30322
There must be some threads that are not terminated.

[2019-11-26 13:33] VitaMusic commented on #30322
yes

[2019-11-26 13:34] wizardk commented on #26948
I cared for CPU usage in the last time. Now, I did another speed test on libtorch 1.3.0.
The test code is almost same with the previous. I only add a warm-up step before creating threads and add some code to compute elapsed time by std::chrono::system_clock. And there are 48 CPU cores.

The test code is:
[code]

The test result are:

set_num_interop_threads(1), set_num_threads(1), 1 process, 1 wor

[2019-11-26 13:35] fmassa commented on #27969
This is now fixed in PyTorch and torchvision master.

[2019-11-26 13:35] #27969 closed

[2019-11-26 13:35] VitaMusic commented on #30322
I had the similar things with threads when I used cilk++, I had to terminated the threads explicitly in the code.

[2019-11-26 13:37] Hippogriff commented on #28293
@ryh95 I also want to back propagate the gradients through this computation. Converting it to cpu might break the computation graph (though I am not sure about this).

[2019-11-26 14:14] Andrej-sens commented on #30462
Update:
It crashes even if `net->to(at::kCPU);` is called with `bias=false`. It seems the problem is in calling command itself.

Since CPU version of model is default it will work.

[2019-11-26 14:28] shradda8 opened #30463 "cuda support"
I am trying to install pytorch from source but the installation does not recognize cuda. The torch.cuda.is_available shows FALSE. Please help!

Below is my installation log

Building wheel torch-1.4.0a0+7903fb1
-- Building version 1.4.0a0+7903fb1
cmake --build . --target install --config Release -- -j 6
[0/1] Install the project...
-- Install configuration: "Release"
running install
running build

[2019-11-26 14:54] #29008 closed

[2019-11-26 16:05] ngimel commented on #30404
If this was the only problem, hopefully it will.

[2019-11-26 16:09] ngimel commented on #4107
Please let's track batchnorm related issues in #29744, original issue here was for convolution.

[2019-11-26 16:11] ngimel commented on #29744
@csarofeen, @ptrblck can you please look up conditions under which cudnn can be used (in training/activation, in spatial/per_activation modes) and change the conditions in the pytorch code accordingly, so that it transparently falls to native implementation where cudnn can't be used?

[2019-11-26 17:09] mrshenli opened #30465 "test_insert_quant_dequant_multi_uses is broken"
https://app.circleci.com/jobs/github/pytorch/pytorch/3723345

[code]

cc @ezyang @gchanan @zou3519 @jerryzh168 @suo

[2019-11-26 17:57] rgommers commented on #27614
@nikitaved will start working on this (can't assign him yet, needs adding to a team)

[2019-11-26 18:17] ngimel commented on #30246
The snippet above does not go through THCTensorMasked, most of the work comes from here https://github.com/pytorch/pytorch/blob/5d80f30f707cd62f403e7bb670b8b19affd2b8c2/aten/src/ATen/native/IndexingUtils.h#L13-L40

[2019-11-26 18:22] pietern opened #30469 "Add single input/output tensor scatter/gather to ProcessGroup base class"
## 🚀 Feature

Additional collectives that operate on a single input and single output tensor.

## Motivation

The collectives defined in `ProcessGroup.hpp` today may take multiple input tensors and write to multiple output tensors.

If a single process uses multiple model replicas located on multiple GPUs, it still needs to be able to compute a global reduction. For this, the reduction operations

[2019-11-26 18:24] #30301 closed

[2019-11-26 18:24] thuyen commented on #27743
@eellison: will this be part of 1.4 release?

[2019-11-26 18:26] thuyen commented on #28619
@VitalyFedyunin will this be part of 1.4?

[2019-11-26 18:42] rohan-varma commented on #25912
Reopening this issue since the test is flaky again.

[2019-11-26 18:48] mrshenli commented on #30465
#30470 attempts to fix this

[2019-11-26 19:21] wanchaol commented on #24235
@GrzegorzKarchNV for your example the onnx exporter itself alone should just work with LSTM. Here is the workable script:
[code]
output:
[code]

This is sort of a design philosophy gap between ONNX and TorchScript. ONNX spec should have primitive types rather than only tensor type in order for `ScriptModule` to turn the non-tensor module attributes into ONNX compatible format. cc @houseroad , do y

[2019-11-26 19:21] ankane commented on #30457
Also added a Homebrew formula so users can now do:

[code]

https://github.com/Homebrew/homebrew-core/pull/47222

[2019-11-26 19:23] suo opened #30477 "[jit] Spurious error when type comments are found in the body of a function."
Repro:
[code]
Produces the error:
[code]

Even though we have clearly put the return type comment in the function. This is due to a bug in the type comment parser, which expects the return type line to be the last element of the list (see [here](https://github.com/pytorch/pytorch/blob/681b610f35968761435b28a6bc564e17a7f553d0/torch/jit/annotations.py#L157)).

Fix is simple, just search for the retu

[2019-11-26 19:23] spandantiwari commented on #29645
@Exlsunshine - there were several improvements in ONNX export between 1.2 and 1.3, and this seems related to one of the issues that was fixed in 1.3. I would recommend using the latest release, and if possible, the recent nightly builds to get the latest improvements to the ONNX exporter.
If you see any issue with the latest one, please let us know.

[2019-11-26 19:23] #29645 closed

[2019-11-26 19:27] wanchaol commented on #27743
@thuyen you can already pass named tuple as output of the tracer, it's just that the result of the traced function will be just plain tuple.

https://github.com/pytorch/pytorch/pull/29751 this will enable tracer to take named tuple as output and preserve the names. But there's on-going discussions/issues on this PR and will not go into the 1.4 release candidate that we are having soon. This will g

[2019-11-26 19:27] ptrblck commented on #26838
@ezyang Could it be that the test was skipped in CI (comment 2: https://github.com/pytorch/pytorch/issues/26838#issuecomment-535198937) due to the GPU memory limitation or was it executed on another machine?
We've seen the failure right after the initial commit.

[2019-11-26 19:27] yf225 commented on #25883
@Yunseong-Jeong Yup I am working on the module hooks now and will let you know as soon as I finished it. Thanks so much for your help!

[2019-11-26 19:33] dashesy commented on #29642
I have not updated to 1.4, it seems `RegisterOperators` is still a moving target not in stable API!
The docs [here](https://brsoff.github.io/tutorials/advanced/torch_script_custom_ops.html#registering-the-custom-operator-with-torchscript) now suggest `torch::jit::RegisterOperator` again.

[2019-11-26 19:44] VitalyFedyunin commented on #28619
Unfortunately not, as we met few problems with CudNN and NC11 tensors, but expect it in master first month of 2020.

[2019-11-26 19:50] soumyarooproy commented on #30440
Hi!

I am not suggesting removing it entirely. Just suggesting cleaning up its def based on its use.

The current implementation indicates that this attribute takes as values `None` or a 0-d `long` tensor and this will continue to be the case after the clean-up, no? Will that still be a breaking change?

[2019-11-26 19:51] rdspring1 opened #30478 "Implementing Memory-Efficient Adam Optimizer"
## 🚀 Feature
Memory-Efficient Adam Optimizer
- Implement compressed, adaptive optimizer for training large-scale transformer models

## Motivation

You can get out-of-memory issues when training large-scale transformer models (e.g. BERT, GPT-2, RoBERTa). Since the models are so large, adaptive optimizers (e.g. Adam) can take up too much space. A memory-efficient adaptive optimizer would complement

[2019-11-26 20:12] suo commented on #29642
cc @smessmer, can you clear this up?

[2019-11-26 20:18] gchanan opened #30480 "torch.normal shape checking is broken"
The documentation of `torch.normal(Tensor, Tensor)` claims:
[code]

But this isn't what is implemented.  Because `torch.normal` is implemented via TensorIterator on CUDA, it checks that the shapes are broadcastable (because the `out` variant is implemented in-place):
[code]

This also behaves inconsistently wrt to broadcasting:
[code]

IMO the behavior doesn't make much sense anyway in the presenc

[2019-11-26 20:19] gchanan commented on #30480
BTW this also points to the danger of porting ops to TensorIterator one-device-at-a-time: you get totally non-sensible behavior across devices and it's extremely difficult to figure out why.

CC @VitalyFedyunin @ngimel @mruberry.

[2019-11-26 21:21] mrshenli commented on #30465
closed by #30470

[2019-11-26 21:21] #30465 closed

[2019-11-26 21:26] driazati opened #30482 "[jit] Cannot create a `Tuple[List[T]]`"
This fails

[code]

[code]

but this works

[code]

cc @suo

[2019-11-26 21:43] #30482 closed

[2019-11-26 21:48] albanD commented on #30246
I see a `nonzero()` call in there.
It has the bad habit to allocate a fairly large output Tensor as you can see [here](https://github.com/pytorch/pytorch/blob/e9cc4a594279080d0459b73b4c1a6d9e8e6b75e7/aten/src/THC/generic/THCTensorMath.cu#L259-L265) which is only resized [before returning](https://github.com/pytorch/pytorch/blob/e9cc4a594279080d0459b73b4c1a6d9e8e6b75e7/aten/src/THC/generic/THCTenso

[2019-11-26 22:02] thuyen commented on #27743
@wanchaol: thanks, I care more about tracing dictionary output (as mentioned in the issues title). Does #29751 support that as well?

[2019-11-26 22:02] thuyen commented on #28619
Got it. Thanks!

[2019-11-26 22:05] wanchaol commented on #27743
No, supporting Dictionary as output will be a separate PR. I can put sometime on investigating how to do it after I merge https://github.com/pytorch/pytorch/pull/29751

[2019-11-26 22:06] hx89 commented on #30348
PR put up: https://github.com/pytorch/pytorch/pull/30485

[2019-11-26 22:16] albanD commented on #30387
Not a good justification but I think the historical reason is that we did not want the users to use it directly as it is fairly unsafe :)

[2019-11-26 22:20] thuyen commented on #27743
Got it. Thanks!

[2019-11-26 22:22] nairbv opened #30488 "Two tests failing in test_torch.py when run from a GPU server"
When I run `python test_torch.py` on a GPU server, there are two tests that consistently fail. Could be environment related?

## To Reproduce
[code]

## Environment
[code]
## Additional context

Running on master, not sure why the above script says N/A for pytorch version.

cc @ezyang @gchanan @zou3519 @jerryzh168 @ngimel

[2019-11-26 22:24] mruberry commented on #30488
@csarofeen fyi

[2019-11-26 22:43] arvindmvepa opened #30489 "Precision Issue with PyTorch/vision pretrained model inception v3"
## 🐛 Bug

This bug was referenced here https://github.com/pytorch/pytorch/issues/12719 but it doesn't seem fully resolved. For example, if you set the batch size >= 12, trace gives a tracer warning indicating precision issues.

## To Reproduce

Steps to reproduce the behavior:

[code]

[2019-11-26 22:55] eellison commented on #29340
This should be fixed now.

[2019-11-26 22:55] #29340 closed

[2019-11-26 22:57] ppriyank commented on #14335
**For the NaN in gradients, this happens when the loss is infinite.** this is not necessarily the case
I do this :
`loss = criterion(softmax(float_out), targets, output_sizes, target_sizes)`
I get the loss to be : `tensor(1.2917, device='cuda:0', grad_fn=<MeanBackward0>)` and
and gradient is `tensor([[[[nan, nan, nan,  ...,]]]], device='cuda:0')`

but if I do

`loss = criterion(softmax(float_out).

[2019-11-26 23:17] zasdfgbnm opened #30494 "RuntimeError: stack.size() >= num_inputs INTERNAL ASSERT FAILED"
## 🐛 Bug

Reproduce:

[code]

Error:
[code]

cc @ezyang @gchanan @zou3519 @jerryzh168 @suo

[2019-11-26 23:29] zou3519 commented on #30458
https://pytorch.org/docs/stable/autograd.html#torch.autograd.detect_anomaly might solve the problem. IIRC it should tell you where in the forward pass you used an op that caused an error in backwards.

[2019-11-26 23:39] nairbv commented on #27610
This approach could require quite a bit more management though, in that it requires users to allocate at least one host to each model, and presumably either run a load balancer per model or add specialized configuration per path. I'm also not sure how it would address the issue of how to load a model on a new host before adding it to the cluster for that model.

Each unique path would also at leas

[2019-11-26 23:51] vadimkantorov commented on #30387
In absence of reinterpret functionality, this can serve as a crude substitute... In my case I read some external program byte output. I think this scenario is fairly frequent

[2019-11-26 23:52] vadimkantorov commented on #30387
But if there is another method for this use case and reinterpret, I would be happy to abandon this from_buffer thing :)

[2019-11-27 00:05] snie2012 commented on #28537
Any updates on this issue?

[2019-11-27 00:29] cherepanovic commented on #12478
any updates regarding this issue?

[2019-11-27 00:47] driazati commented on #28537
It's still open and wasn't a super high priority so the plan was to wait until we drop Python 2 support in January then fix our Python op usage (there are several other issues / ergonomic problems with how it's implemented now), but that could change. Are you still running into an issue that you can't work around?

[2019-11-27 01:01] kostmo opened #30500 "flaky curl causes "apt-key add" to fail with gpg error message"
Observed 4 instances of the error `gpg: no valid OpenPGP data found` in master builds last week (2019-11-17 through 2019-11-24).  This was one of the [top network-related failures for the week](https://dr.pytorch.org/flakiness-review.html).

I will add the `--retry 3` parameter to curl invocations throughout the build scripts as a workaround.

cc @ezyang @gchanan @zou3519 @jerryzh168

[2019-11-27 01:02] #29271 closed

[2019-11-27 01:05] tiberiusferreira commented on #24237
I'm facing the same problem using the [Rust bindings](https://github.com/LaurentMazare/tch-rs).
The thread local variables seem to not be cleaned after inference.

[2019-11-27 01:39] #29649 closed

[2019-11-27 03:22] divyanshj16 commented on #29744
I can help in this issue, if someone points me where to look at?

[2019-11-27 04:29] fujingling commented on #13040
upgrade your torch to 1.3.0, this problem will be resolved

[2019-11-27 05:28] t-vi commented on #14335
Do you have the inputs?

[2019-11-27 05:34] ppriyank commented on #14335
yes

[2019-11-27 05:42] peterjc123 commented on #30322
No, usually we don't have to do this. There must be a deadlock or something. Could you please dig into it a bit more and find where it gets stuck?

[2019-11-27 05:49] t-vi commented on #14335
Awesome, thank you! The mail address on my github page would work well.

[2019-11-27 07:45] VitaMusic commented on #30322
Give me more detailed instructions on how to do please.

ср, 27 Ноя 2019 г., 6:42 peterjc123 <notifications@github.com>:

[2019-11-27 08:08] meiluzhu opened #30505 "Adding a function to change the process_group in DistributedDataParallel"
## 🚀 Feature
Adding a function to change the `process_group `in `DistributedDataParallel`

## Motivation
In current Pytorch, once `DistributedDataParallel `is initialized, `process_group ` will be fixed if I understand correctly. But sometimes different  `process_groups ` might be in need for different iterations.

[2019-11-27 08:34] rohan-varma commented on #24633
(Removed my comment inquiring about working on this since @XiaobingSuper is working on this)

[2019-11-27 09:02] CF-chen-feng-CF opened #30506 "How does Python's syntax translate in C ++"
## ❓ Questions and Help

in python：
    # pred is 14x14x11
    contain1 = pred[:,:,4]
so，How can i convert to c++ in libtorch？

[2019-11-27 09:05] wizardk commented on #26948
@suo I've tried to discard jit and turn to infer by layer(torch::nn::xxx) and function, but the result is still bad. What is the linear algebra accelerating backend of precompiled version?

[2019-11-27 09:13] gitabtion opened #30507 "LibTorch, Error in 'xxx': free(): invalid pointer"
## 🐛 Bug

Hi, maybe I found a bug in LibTorch while run codes in CentOS, the codes are very simplify. I have try it in 2 CentOS Machines and 1 Ubuntu Machine, Ubuntu Machine can run it normally, but all of the CentOS Machines run it like follow outputs.

## To Reproduce

Steps to reproduce the behavior:

1. download libtorch and unzip
2. compile the cpp file
3. run

Here are the codes:
[code]

Her

[2019-11-27 09:20] McChicken93 opened #30508 "libtorch: Moving Module to other device fails when not using bias"
## 🐛 Bug

If a Linear or Conv module is constructed without bias, a subsequent move to another device fails

## To Reproduce

[code]

<details><summary>Stack trace</summary>
<p>

[code]
</p>
</details>

## Expected behavior

Getting no error.

## Environment

[code]

 - PyTorch Version (e.g., 1.0): 1.4.0a0+829499e
 - OS (e.g., Linux): Ubuntu 18.04.3 LTS
 - How you installed PyTorch (`conda`, `pip`

[2019-11-27 09:48] 522730312 opened #30509 "change bucket_cap_mb in DistributedDataParallel and md5 of grad change"
## 🐛 Bug
when I use funtion as below and change bucket_cap_mb form 20 to 25, the md5 of my grad has change,is there any one can explain about this?

model = torch.nn.parallel.DistributedDataParallel(
        model,
        device_ids=[args.device_id],
        output_device=args.device_id,
        bucket_cap_mb=20)

The MD5 of different bucket_cap_mb:
19:9217933d100373decf50026c551d3f72
20:9217933d

[2019-11-27 10:15] ignacio-rocco commented on #2575
I was also getting the problem and the workaround was to remove pytorch from conda and install it with pip.

[2019-11-27 10:35] elbarto91 opened #30510 "torch.sparse.mm/addmm(mat1, mat2) FAIL"
## 🐛 Bug

When i use  ' torch.sparse.addmm(mat, mat1, mat2)' and 'torch.sparse.mm(mat1, mat2)'
the computation stop with the following error:
 'RuntimeError: !t.is_cuda() INTERNAL ASSERT FAILED at /pytorch/aten/src/ATen/native/sparse/SparseTensorMath.cpp:591, please report a bug to PyTorch.'

## To Reproduce

Steps to reproduce the behavior:
-python3 ffnspeedcompareBUG.py

CODE
[code]

COMPLETE OU

[2019-11-27 11:06] danieleds commented on #19213
Update: in v1.3.1, the OMP_NUM_THREADS env var doesn't work either.

[2019-11-27 11:56] DuYangGitHub commented on #29024
have you ever solved this problem?

[2019-11-27 13:05] Andrej-sens opened #30511 "Headers missing for LibTorch Realease pre-build version"
## 🐛 Bug

Missing header files for build in folders for release version of LibTorch.

`Severity	Code	Description	Project	File	Line	Suppression State	Suppression State
Error	C1083	Cannot open include file: 'KernelFunction_impl.h': No such file or directory	Object_detection	C:\libtorch_release\include\ATen\core\boxing\KernelFunction.h	230
Error (active)	E1696	cannot open source file "KernelFunction_

[2019-11-27 14:32] pietern commented on #30450
I notice your base path for Python is `/usr/local`, which could be related here..

Shouldn't Python take care of setting the appropriate loader paths?

[2019-11-27 14:44] albanD commented on #30387
I agree that a good documentation explaining the details of how to use this function and a warning that is it only advanced user would be useful.

[2019-11-27 14:54] pietern commented on #30450
I installed PyTorch 1.3.1 in a fresh conda environment to dig a bit, and can't figure out where `libcaffe2_nvrtc.so` is supposed to be loaded. Can you provide a stack trace of the error?

[2019-11-27 15:10] jerryzh168 commented on #29024
We need more information for this, can you post your original and annotated model?

Sent from my iPhone

On Nov 27, 2019, at 03:56, Du Yang <notifications@github.com> wrote:

﻿

have you ever solved this problem?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/pytorch/pytorch/issues/29024?email_source=notifications&email_toke

[2019-11-27 15:11] lironmo opened #30512 "failed to convert torch.jit.ScriptModule to ONNX (crash)"
## 🐛 Bug

when convert scriptModule to onnx we crash and get the following exception:
[code]

## To Reproduce
load the attached torch script, and try to convert to onnx:

    def convert(self):
        loaded = torch.jit.load(self._torch_script_path)
        #loaded.load_state_dict(self._model_state)
        dummy_input = torch.randn(1, 3, 224, 224)
        target = loaded(dummy_input)
        tor

[2019-11-27 15:12] pietern commented on #30454
So the real issue is that the behavior is different between:

[code]

And

[code]

?

[2019-11-27 15:14] pietern commented on #30455
Have you tried specifying `download=True`?

I'm closing the issue as this is a `torchvision` issue. Please report at https://github.com/pytorch/vision/.

[2019-11-27 15:14] #30455 closed

[2019-11-27 15:14] Andrej-sens commented on #30511
Updating to a new LibTorch nightly version resolved the issue.
Thank you devs.

[2019-11-27 15:14] #30511 closed

[2019-11-27 15:14] lironmo commented on #30512
file: https://filebin.net/scu91052e8txtl4r

clean code
    import torch
    loaded = torch.jit.load("/app_data/test_torch_script/torch_script_test.zip")
    dummy_input = torch.randn(1, 3, 224, 224)
    target = loaded(dummy_input)
    torch.onnx.export(loaded, dummy_input, self._out_onnx_path, verbose=True,
    operator_export_type=torch.onnx.OperatorExportTypes.ONNX,
    example_outputs=target)

[2019-11-27 15:18] pietern commented on #30460
This is likely because the first variant where you specify a list of numpy arrays is interpreted as literal contents, whereas the second variant is interpreted directly as a numpy array.

I've labeled this for triage review to figure out a resolution.

[2019-11-27 15:19] #6098 closed

[2019-11-27 15:23] pietern commented on #30462
@Andrej-sens Thanks for reporting. I've renamed the issue to reflect it's not specific to CUDA.

[2019-11-27 15:27] Andrej-sens commented on #30462
Thank you.
It seems it's related to [this post](https://github.com/pytorch/pytorch/issues/30508) with full report.

[2019-11-27 15:34] pietern commented on #30462
Thanks for linking. It's the same issue with an exception included. Let's close this one.

[2019-11-27 15:34] #30462 closed

[2019-11-27 15:35] pietern commented on #30462
Duplicate of #30508.

[2019-11-27 15:36] pietern commented on #30508
I assume the bias tensor is not properly initialized.

[2019-11-27 15:37] pietern commented on #30463
How are you calling `setup.py`?

You might need to specify `USE_CUDA=1`.

[2019-11-27 15:40] albanD commented on #30510
You need to replace `dummy.to(device)` by `dummy = dummy.to(device)` to get it on the gpu.

Also please use the forum to ask questions please: https://discuss.pytorch.org/

[2019-11-27 15:40] #30510 closed

[2019-11-27 15:42] agiokas-dbg commented on #23999
I only just witnessed this after updating my `venv` to `pytorch 1.3` didn't exist with versions `1.2` and `1.3`

[2019-11-27 15:43] pietern commented on #30457
Thanks for sharing! Nice work!

[2019-11-27 15:43] albanD commented on #30506
Hi,

Please use the forum to ask question: https://discuss.pytorch.org/

[2019-11-27 15:43] #30506 closed

[2019-11-27 15:44] pietern commented on #30457
I've shared it with the team. Be sure to post about it on https://discuss.pytorch.org/!

[2019-11-27 15:48] pietern commented on #30478
Thanks for posting. This seems good to have indeed.

[2019-11-27 15:49] albanD commented on #30458
I would agree that this would be a useful feature to have in general.
For this particular use case, you can indeed, as @zou3519 mentioned, use anomaly mode to pinpoint the error.

[2019-11-27 15:53] albanD commented on #1667
I'm afraid that for BC reasons, we won't be able to change the default initialization of the Linear layer.
But you can open a new issue if you want to request new methods to be added to the `nn.init` module.

[2019-11-27 15:53] #1667 closed

[2019-11-27 15:54] zou3519 commented on #30458
One thing we could take design inspiration from is numpy's flags: https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.flags.html. One can set a numpy array's WRITEABLE flag to off, making the array read-only.

[2019-11-27 15:56] pietern commented on #30509
It is possible that NCCL chooses to use a different algorithm when operating on memory larger than a certain threshold. Floating point addition is not associative, so changing the order of addition can mean a slightly different outcome.

To cover our bases, can you check if the norm of those grads is the same?

[2019-11-27 16:05] albanD commented on #14844
Even though I guess that could be confusing, it can be interesting to add.
The goal would just be to add support for negative indices either by replacing the `index_select` in the cpp by something that allows negative indices. Or preprocess the indices before giving them to `index_select` to ensure they are all in the correct range.

[2019-11-27 16:11] pietern commented on #30505
When is this the case? Can you provide examples?

[2019-11-27 16:19] pietern commented on #30509
Which model can you reproduce this with?

[2019-11-27 16:21] albanD commented on #4929
The associated PR seems to have been merged

[2019-11-27 16:21] #4929 closed

[2019-11-27 16:24] albanD commented on #1693
Use the forum for further questions: https://discuss.pytorch.org/

[2019-11-27 16:24] #1693 closed

[2019-11-27 16:27] albanD commented on #1730
Closing tentatively as it was most likely a library compatibility issue.

[2019-11-27 16:27] #1730 closed

[2019-11-27 16:29] albanD commented on #1674
Tentatively closing as it looks like some conflicts with our old packaging.

[2019-11-27 16:29] #1674 closed

[2019-11-27 16:30] albanD commented on #1728
This is no longer in the code base.

[2019-11-27 16:30] #1728 closed

[2019-11-27 16:31] albanD commented on #2064
Re-open if you manage to get more informations and it is still an issue.

[2019-11-27 16:31] #2064 closed

[2019-11-27 16:31] albanD commented on #2010
Re-open if you still see this issue with latest version of docker and pytorch.

[2019-11-27 16:31] #2010 closed

[2019-11-27 16:34] chyzzqo2 commented on #30450
I'm talking here about the using system python with the wheels provided by pypi.org. Conda does is a different environment and does things differently.

`/usr/local/lib` or `/usr/lib` is immaterial. I can reproduce both ways.

[2019-11-27 16:34] #17918 closed

[2019-11-27 16:35] albanD commented on #2115
I think the API has changed since then, see the latest [doc](https://pytorch.org/docs/stable/nn.html#torch.nn.BCEWithLogitsLoss).
Feel free to re-open if this is still a thing you want.

[2019-11-27 16:35] #2115 closed

[2019-11-27 16:39] albanD commented on #2343
@gchanan is this still an issue in 1.3.1?

[2019-11-27 16:40] chyzzqo2 commented on #30450
I'm not very familiar with this code base but from what i can gather from code comments is that libcaffe2_nvrtc is lazy loaded via hooks. Because the so's that you are distributing are not in the system library path but in a directory buried inside your python code that lazy loading isn't working. I could be totally wrong here but i think that you need to tell the lazy loader where to find these l

[2019-11-27 16:43] albanD commented on #2798
Feel free to re-open this issue if this has been significantly used in the research community since then with references to these use cases.

[2019-11-27 16:43] #2798 closed

[2019-11-27 16:45] dineNshine opened #30517 "Onnx export fails on torch.distributions.Normal"
## 🐛 Bug

Onnx export fails on `torch.distributions.Normal.log_prob` calls because of the `broadcast_all` function called in `log_prob`.

## To Reproduce

[code]

Output:
[code]

Commenting the first line and uncommenting the second line in the `forward` function makes the module onnx exportable.

## Environment

 - PyTorch Version (e.g., 1.0): 1.3.1
 - OS (e.g., Linux): Ubuntu 16.04
 - How you in

[2019-11-27 16:46] albanD commented on #2934
The current policy is that the user should be using `torch.from_numpy()` before using numpy arrays with any pytorch operation.

[2019-11-27 16:46] #2934 closed

[2019-11-27 16:56] albanD commented on #2167
Closing as there are no answers.
Feel free to reopen.

[2019-11-27 16:56] #2167 closed

[2019-11-27 17:05] chyzzqo2 commented on #30450
Stack trace is unhelpful
[code]

[2019-11-27 17:49] Jakob-Unfried opened #30520 "torch.dot() and torch.tensordot() give different results"
## Issue description

When using torch.dot() or torch.tensordot() to calculate the scalar product of two vectors (1D torch.Tensor s) the result occasionally differs by up to 1e-7.

## Code example

`
    import torch

    for n in range(10):
        a = torch.rand(5)
        b = torch.rand(5)

        ab_dot = torch.dot(a, b)
        ab_tensordot = torch.tensordot(a, b, ([0], [0]))

        assert

[2019-11-27 18:07] SsnL commented on #30520
Note that 1e-7 is small enough for float32 to be caused by precision.

[2019-11-27 18:09] albanD commented on #30520
Hi,

Yes, 1e-7 is at the level of floating point precision. This is expected as these two operations might have different implementation / parallelization strategy.
You can use double precision floats if you need more precision.

[2019-11-27 18:09] #30520 closed

[2019-11-27 18:17] aclex commented on #27467
@TheChymera you're right, the source code assets for the releases seem to be auto-generated and lack of the required submodules and all the git stuff, just as @pietern mentioned. Still I seem to elaborate the script (ebuild) to build Pytorch from the checkout of the release branch, if you're still interested, feel free to take a look at my try at https://github.com/aclex/pytorch-ebuild. Basically

[2019-11-27 18:32] albanD commented on #3414
This has been implemented since, doc for [torch.eig](https://pytorch.org/docs/stable/torch.html#torch.eig).

[2019-11-27 18:32] #3414 closed

[2019-11-27 18:33] zou3519 commented on #2343
I can repro this on master:
[code]

[2019-11-27 18:37] albanD commented on #1799
Closing as topk does not use this macro, has been moved to ATen and now uses OpenMP.

[2019-11-27 18:37] #1799 closed

[2019-11-27 18:41] yf225 commented on #30507
@gitabtion This might be related to C++ ABI compatibility. Would you like to try using https://download.pytorch.org/libtorch/cpu/libtorch-cxx11-abi-shared-with-deps-1.3.1%2Bcpu.zip ?

[2019-11-27 18:45] yaroslavvb opened #30524 "add torch.square"
torch.square would be useful when you need to do x*x but x is a large expression

[code]

https://docs.scipy.org/doc/numpy/reference/generated/numpy.square.html
https://www.tensorflow.org/api_docs/python/tf/math/square

[2019-11-27 18:48] albanD commented on #6481
Closing this as it uses a very old version of pytorch.
Feel free to re-open if you still see this with the latest version.

[2019-11-27 18:48] #6481 closed

[2019-11-27 18:50] albanD commented on #7031
Closing as this is for old versions.
Feel free to re-open if you see this on the latest version.

[2019-11-27 18:50] #7031 closed

[2019-11-27 18:52] albanD commented on #30524
As a workaround, you can use `torch.pow(foo, 2)`. But I guess we can add this as well.

[2019-11-27 19:06] jc-hou opened #30525 "[Tensorboard] nothing appears in the projector tab"
## 🐛 Bug

When running the add_embedding example provided in the official [documentation](https://pytorch.org/docs/stable/tensorboard.html#torch.utils.tensorboard.writer.SummaryWriter.add_embedding), I am unable to visualize the output in Tensorboard. When loading the projector page, it's blank. Yet the image and graph tab both works fine.

![tb_200](https://user-images.githubusercontent.com/30210

[2019-11-27 19:07] eellison opened #30526 "Native Declared Functions Don't Support Full Aliasing Specification"
## 🐛 Bug

Trying to register the following function:
[code]

Gives the error:

Even though the the function is correctly declared. I have also seen this bug with:

[code]

I was able to workaround the `floor_div` decl by removing the annotations, but I shouldn't have to, and there is no workaround for `_amp_non_finite_check_and_unscale_` decl.

## Expected behavior

Correct aliasing annotations sh

[2019-11-27 19:07] eellison commented on #30405
Also related: https://github.com/pytorch/pytorch/issues/30526

[2019-11-27 19:10] yf225 commented on #30508
https://github.com/pytorch/pytorch/pull/30523 should fix this issue, and I will aim to get it into the 1.4 release.

[2019-11-27 19:21] colesbury opened #30528 "Warn about driver CUDA mismatch in torch.cuda.is_available()"
## 🐛 Enhancement

The `torch.cuda.is_available()` should print a warning if the GPU driver is too old to support the CUDA version installed with PyTorch. If the system does not have a GPU or PyTorch was built without CUDA support, the function should return False but remain silent to avoid spamming less useful messages.

We already print such a warning about driver mismatch when initializing CUDA.

[2019-11-27 19:26] eellison commented on #30494
Thanks for the minimal repro! What version are you on ? I think https://github.com/pytorch/pytorch/pull/25124 fixed this issue. The above code sample works on master so I'm closing.

[2019-11-27 20:11] albanD commented on #30528
Should we then consider adding a new function that will print out why `cuda.is_available()` is `False`?

[2019-11-27 20:31] JamesOwers opened #30532 "Version 1.3 no longer supporting Tesla K40m?"
## 🐛 Bug

I am using a Tesla K40m, installed pytorch 1.3 with conda, using CUDA 10.1

## To Reproduce

Steps to reproduce the behavior:

1. Have a box with a Tesla K40m
1. conda install pytorch cudatoolkit -c pytorch
1. ```
python -c 'import torch; print(torch.cuda.isavailable());'

[code]
Traceback (most recent call last):
  File "./baselines/get_results.py", line 395, in <module>
    main(args)

[2019-11-27 20:42] nairbv opened #30533 "Document memory characteristics of in-place ops"
## 📚 Documentation

Users typically expect in-place operations to save memory over out of place variants. There are some cases, e.g. when mixed-type operations will perform the op into a different tensor of a common dtype, or when (after https://github.com/pytorch/pytorch/pull/30429), performing certain operations on uncoalesced sparse tensors. The memory characteristics should be explained somewh

[2019-11-27 20:43] nairbv commented on #30533
cd @zou3519

[2019-11-27 20:44] mrshenli opened #30534 "Add debugging APIs for RRefContext"
The current Python RRef API does not expose RRefId and ForkId information, as those are internal implementation details that user code should not worry about. However, without these info, it's hard to debug if there are any RRefs that did not get garbage collected in time and leaking memory.

### Proposal

1. Expose RRefId and ForkId APIs on RRef
2. Expose an API on RRefContext to return living Ow

[2019-11-27 20:46] albanD commented on #28650
The problem is because `sum` returns a non-contiguous Tensor, while the backward of `to_dense` assumes what is given to it is contiguous because it uses `.view()` [here](https://github.com/pytorch/pytorch/blob/65bb34d88561b0011f0b74bd866a3ca22587e251/aten/src/ATen/native/sparse/SparseTensor.cpp#L500).
We should modify `sparse_mask` to make sure it works as expected on non-contiguous inputs.

[2019-11-27 20:46] snie2012 commented on #28537
Hi @driazati, thanks for your reply. The workround worked for me. Just curious about the progress.

[2019-11-27 20:48] zasdfgbnm commented on #30494
@eellison Are you sure the code works on master? The version of the master I am using is very recent:
[code]
which is
[code]

I think the problem starts after `1.4.0.dev20191112` younger versions are working fine.

[2019-11-27 20:51] albanD commented on #26433
Associated PR has been merged.

[2019-11-27 20:51] #26433 closed

[2019-11-27 20:51] zou3519 commented on #29373
This pattern happened again today:

The `pytorch_linux_backward_compatibility_check` is currently broken on master. This is because:
1) we merged a PR to add `logical_and`
2) The `logical_add` commit broke master, so we reverted it
3) The backward compatibility check noticed that `logical_and` didn't exist anymore so it started complaining.

(thanks to @albanD for noticing the breakage and pointin

[2019-11-27 21:04] eellison commented on #30494
I'm on .1.4.0a0+a182dac and it works fine

[2019-11-27 21:08] albanD commented on #30532
Just to be sure, were you using `1.3.0` or `1.3.1`?

[2019-11-27 21:10] zasdfgbnm commented on #30494
@eellison I didn't find an `a182dac` on the master I have. Could it be the branch you are working with is based on the master older than 20191112?

[2019-11-27 21:10] eellison commented on #30526
In the case of `floor_div` it looks like the schema is being canonicalized wrt aliasing, and compared to the input schema. The input schema should be canonicalized as well. In the case of `_amp_non_finite_check_and_unscale_` the canonicalized schema looks like a bug: `aten::amp_non_finite_check_and_unscale(Tensor(a!) self, Tensor found_inf, Tensor inv_scale) -> (Tensor(a!), Tensor)` loses the writ

[2019-11-27 21:11] eellison commented on #30494
Oops ya that's my local branch, but I'm on top of commit e9cc4a594279080d0459b73b4c1a6d9e8e6b75e7

[2019-11-27 21:11] JamesOwers commented on #30532
[code]
Was the env at point of failure.

[2019-11-27 21:12] zasdfgbnm commented on #30494
Strange, `e9cc4a5` is new enough. Let me do a full clean up and rebuild to see if the problem is still there.

[2019-11-27 21:18] zasdfgbnm commented on #30494
Just did a
[code]
It is still failing
[code]

[2019-11-27 21:19] albanD commented on #30532
cc @ngimel

[2019-11-27 21:26] eellison commented on #30494
hmm, strange. @ailzhang could you try as well ?

[2019-11-27 21:30] SsnL opened #30535 "[FR] nn.init.* accept None as input tensor"
## 🚀 Feature
It would be great if `nn.init.*` methods accept `None` as the input (and do noop in that case).

## Motivation

Greatly simplifies the common pattern:
[code]

[2019-11-27 21:31] zasdfgbnm commented on #30494
For more info:

[code]

Unrolling the loop or not returning anything would make the script work.

[2019-11-27 21:32] albanD commented on #16558
Closing due to lack of activity. Please reopen if you see this error again.

[2019-11-27 21:32] #16558 closed

[2019-11-27 21:32] SsnL commented on #30532
K40m has a compute capability of 3.5, which I believe we have dropped support of.

[2019-11-27 21:33] albanD commented on #1926
This feature is now in master.

[2019-11-27 21:33] #1926 closed

[2019-11-27 21:35] ailzhang commented on #30494
@eellison I have a recent master (like 2 days ago) and it fails on my build.

[2019-11-27 21:36] TheChymera commented on #27467
@aclex what exactly do you mean by “your approach”? The ebuild mostly looks mostly ok.

Have you tried to run the tests? I'm not sure what your ebuild is doing regarding the tests. It seems to me like you are *deleting* test files when the test USE flag is enabled? That seems the wrong way around.

[2019-11-27 21:50] aclex commented on #27467
@TheChymera Yes, in "my approach" I meant to prepare it to be installed system-wide (as far, as I know, PyTorch documentation recommends to install `libtorch` locally (and address it via changing `CMAKE_PREFIX_PATH` of the client project) and install PyTorch itself globally using `setup.py` in global Python destinations. And second, I'm changing the source, so that PyTorch (Python binding itself)

[2019-11-27 21:56] eellison commented on #30494
I was adding this as a function to `test_jit.py`, and we have some setting locally that causes it to not fail there. Confirmed repro in a stand-alone file. cc @Krovatkin

[2019-11-27 22:07] JamesOwers commented on #30532
Ok. Please may you implement a useful "oldgpu" warning? Like here: https://github.com/pytorch/pytorch/issues/6529

Error at the moment very unclear to casual user like me.

[2019-11-27 22:08] eellison commented on #30494
With `enable_profiling_mode` this fails. Hopefully https://github.com/pytorch/pytorch/pull/30186#event-2816965025 this fixes it but it might not.

[2019-11-27 22:44] Krovatkin commented on #30494
@eellison i'll take a look. for loop counters are just so painful to handle 😢

[2019-11-27 22:46] Krovatkin commented on #30494
@eellison this is mostly FYI: tests in `test_jit.py` run a simple executor unless `with enable_profiling_mode` specified. Otherwise, a full profiler is enabled by default.

[2019-11-27 22:52] mruberry commented on #29514
Still hanging at this same point, although this particular test no longer seems to be run? See:

https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py3.6-devtoolset7-rocmrpm-centos7-test/1076//console

[2019-11-27 23:23] houseroad commented on #29373
If we add a timestamp to each function schema, it's possible to have a buffer window. For now, I would suggest to add these reverted ops to the whitelist to make the CI happy.

I have created https://github.com/pytorch/pytorch/pull/30537 to fix current breakage in op BC check.

[2019-11-27 23:50] cinhcet opened #30539 "jit and GRU"
## 🐛 Bug
I try to convert a simple GRU module to torch script, but it gives the following error, for both tracing and scripting:
[code]

Am I missing something completely obvious?

## To Reproduce
[code]

## Expected behavior

should not produce this error

## Environment
Collecting environment information...
PyTorch version: 1.3.1+cpu
Is debug build: No
CUDA used to build PyTorch: None

OS: Ubunt

[2019-11-28 00:35] Marvinmw opened #30542 "Compile Source code in macOs Catalina 10.15.1 failed"
## ❓ Questions and Help
I compiled source code but after python setup.py develop. It gives the error non Python.h found.

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.py

[2019-11-28 00:37] ankane commented on #30457
Thanks @pietern, posted both announcements.

[2019-11-28 00:37] #30457 closed

[2019-11-28 01:00] zasdfgbnm commented on #22259
This might be caused by cublas. We used to be sharing a global cublas handle and use it at all threads and this could cause hang when multithreading. This bug is fixed at https://github.com/pytorch/pytorch/pull/29233.

[2019-11-28 01:25] albanD commented on #30542
Hi,

Please read the template you just posted and use the forum for questions: https://discuss.pytorch.org/
Thanks

[2019-11-28 01:25] #30542 closed

[2019-11-28 01:33] rohan-varma commented on #30331
Request for patch: https://github.com/pytorch/pytorch/pull/30545
Status: merged into master at 5c6705e after the 1.4 branch release

[2019-11-28 01:51] gitabtion commented on #30507
I have tried it yet. [https://download.pytorch.org/libtorch/cpu/libtorch-cxx11-abi-shared-with-deps-1.3.1%2Bcpu.zip](https://download.pytorch.org/libtorch/cpu/libtorch-cxx11-abi-shared-with-deps-1.3.1%2Bcpu.zip) needs glibc 2.23, but CentOS 7 's GLIBC is 2.17. I have try to update glibc, but failed.

[2019-11-28 01:56] cumtchenchang commented on #26275
@willianLee @boyob  Can you tell me how to solve this problem?

[2019-11-28 02:03] willianLee commented on #26275
时间过去有点久了 我忘了是什么导致这个错误了，但大都是编译文件和代码语法的问题

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Chang Chen(陈常)"<notifications@github.com&gt;;
发送时间:&nbsp;2019年11月28日(星期四) 上午9:56
收件人:&nbsp;"pytorch/pytorch"<pytorch@noreply.github.com&gt;;
抄送:&nbsp;""<1739298785@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题:&nbsp;Re: [pytorch/pytorch] torch::Tensor img_tensor_const = torch::autogra

[2019-11-28 02:25] cumtchenchang commented on #15426
@jinfagang  I followed up steps, but this error is still on.
This is my code:
            auto img1_tensor = torch::from_blob(img1.data, {1, img_height, img_width, 1}).to(device);
            img1_tensor = img1_tensor.permute({0,3,1,2});
            img1_tensor = torch::autograd::make_variable(img1_tensor, false);
            std::vector<torch::jit::IValue> inputs;
            inputs.push_back(img

[2019-11-28 04:39] ptrblck commented on #29744
@ngimel I've pushed an initial commit with updated size limitations and tested it with cudnn 7.6.5.32.
Based on the minimal CUDA version of 9.0, I assume the minimal cudnn version would be 7.1.4?

If that's the case, we might also update the cudnn version check in [line 472](https://github.com/ptrblck/pytorch/commit/4c5f048e7ad6242171512294a110bfc33abe2a77#diff-334eb235b4eb8d228fe544dbe506e3c7R472

[2019-11-28 05:01] zhouyuan888888 commented on #8318
Correct the last code to： LD_LIBRARY_PATH=”/export/home/huangpan/anaconda3/envs/maskrcnn_benchmark/lib:$LD_LIBRARY_PATH“.
Then run source ~/.bashrc.
It may be work!

[2019-11-28 06:01] balde-soul commented on #30213
Sorry for the mistake I have made！the memory I mean is video memory.
a) Is there any error of the using of checkpoint?
b) Does it make any difference...
c) Coding habits....

I think what checkpoint doing is recording the Input and the output, so only the input and output would be remain in the video memory.  the input and output are all in dimension: 500x500x420(please take a look at the last cel

[2019-11-28 06:51] zhixul opened #30557 "load 'AG_NEWS’ failed with torchtext dataset"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Fail to run the tutorial of text classification using torchtext.

https://stackoverflow.com/questions/57988897/overflowerror-python-int-too-large-to-convert-to-c-long-torchtext-datasets-text
In line 130:
csv.field_size_limit(sys.maxsize) -- Changed this
csv.field_size_limit(maxInt) -- To this

## Expected behavior

## Environment

Ple

[2019-11-28 07:14] rohan-varma commented on #29892
Duplicate of https://github.com/pytorch/pytorch/issues/29018.

[2019-11-28 07:14] #29892 closed

[2019-11-28 07:14] rohan-varma commented on #28940
@xush6528 addressed this issue, we now have an `RpcAgentOptions` struct.

[2019-11-28 07:14] #28940 closed

[2019-11-28 07:16] rohan-varma commented on #27777
We no longer have a shutdown message so this is irrelevant, it was removed in https://github.com/pytorch/pytorch/pull/30330 in favor for being able to do a local shutdown.

[2019-11-28 07:16] #27777 closed

[2019-11-28 07:17] rohan-varma commented on #30181
Done in https://github.com/pytorch/pytorch/pull/30208.

[2019-11-28 07:17] #30181 closed

[2019-11-28 07:18] rohan-varma commented on #26475
@pietern, Sorry, I somehow totally missed your comment on this. I will get to it this week.

[2019-11-28 07:23] rohan-varma commented on #30127
@pietern, correct, now that we have a shutdown function, we can call it with `graceful=False`, anad it will not do a sync.

[2019-11-28 07:39] cinhcet commented on #30539
I tried the same with the nightly build (on a different machine), now tracing seems to work, scripting still not:
[code]

## Environment
Collecting environment information...
PyTorch version: 1.4.0.dev20191127+cpu
Is debug build: No
CUDA used to build PyTorch: None

OS: Ubuntu 16.04.5 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.12) 5.4.0 20160609
CMake version: version 3.5.1

Python version: 3.5

[2019-11-28 07:59] flymark2010 commented on #30454
You can say that way. I've not idea what happend behind the "*=" operater or the Pytorch custom op.

[2019-11-28 08:28] lironmo commented on #30512
when i compare it to normal export(create the model from code and export) i get the following:

[1, 64, 112, 112]

where i try to export from torch module:
input
114 defined in (%114 : Tensor = onnx::Conv[dilations=[1, 1], group=1, kernel_shape=[7, 7], pads=[3, 3, 3, 3], strides=[2, 2]](%input.1, %102) # code/__torch__/torch/nn/modules/container.py:213:13
)

and

<class 'NoneType'>

[2019-11-28 08:55] lxl910915 commented on #23061
  | fp32 (100次矩阵乘法耗时) |   | fp16  (100次矩阵乘法耗时)
-- | -- | -- | --
矩阵大小 | [21128,4096]* [4096,4096] | [4096,4096]* [4096,4096] | [46,4096]* [4096,46] |   | [21128,4096]* [4096,4096] | [4096,4096]* [4096,4096] | [46,4096]* [4096,46]
tensorflow | 28 s | 0.7 s | 0.1 s |   | 1.5 s | 0.4 s | 0.1 s
pytorch | 8 s | 1.6 s | 0.01 s |   | 8 s | 1.6 s | 0.01 s

[2019-11-28 09:08] peterjc123 commented on #30557
Already fixed by https://github.com/pytorch/text/pull/584. BTW, you should post this to the torchtext repo.

[2019-11-28 09:08] #30557 closed

[2019-11-28 09:22] rrkarim commented on #23061
@lxl910915 what is your spec?

[2019-11-28 09:37] lxl910915 commented on #23061
GPU: Tesla P100-PCIE
os: ubuntu 16.04
cuda: 10.1

[2019-11-28 09:38] lxl910915 commented on #23061
GPU: Tesla P100-PCIE
os: ubuntu 16.04
cuda: 10.1
pytorch: 1.0 / 1.2 / 1.3

[2019-11-28 09:56] rrkarim commented on #23061
@lxl910915 thanks, the thing is that P100 doesn't support tensor cores. So the number are pretty fair since there is just an overkill to run half precision on CUDA cores.

[2019-11-28 10:12] lxl910915 commented on #23061
@rrkarim  You mean P100 doesn't support tf16？

[2019-11-28 10:19] McChicken93 commented on #30508
It did fix the error in the minimal example I provided, but doesn't do any good in the code I need it in.

Now, the problem has moved to the optimizer.

Maybe this stacktrace already helps someone, in the meantime I'll try to get another MWE

[code]

[2019-11-28 10:28] dineNshine opened #30560 "Onnx export, load, model check fails with segfault for onnx 1.6"
## 🐛 Bug

Exporting a module to the onnx format and then loading it with the newest onnx (1.6) fails with a segfault. The export works with onnx 1.4.1.

## To Reproduce

[code]

Running a forward pass with the loaded model with the caffe2 backend instead of checking also causes a segfault.

## Expected behavior

The error should be more helpful. There could be a version check and a warning if the

[2019-11-28 10:42] ppriyank commented on #14401
I'm facing the same bug as running into nan after some epochs, so were there any solutions/fix suggested??

``
k=0 Epoch 200 Loss: 0.065839 CTC Loss 0.006584 , tau 100.0000000000
decoded_output: THIS IS A TEST
k=0 Epoch 300 Loss: 0.060363 CTC Loss 0.006036 , tau 100.0000000000
decoded_output: THIS IS A TEST
k=0 Epoch 400 Loss: 0.048351 CTC Loss 0.004835 , tau 100.0000000000
decoded_output: THIS IS

[2019-11-28 11:17] McChicken93 commented on #30508
Got a miniminal (non-)working example.
Somehow it seems to be related to storing in std::vector, without those I don't get that error that easily.
Is it just a hint of bad practice by me?

[code]

[2019-11-28 12:43] pfrendl commented on #15395
This hasn't been fixed, has it?

[2019-11-28 12:48] t-vi commented on #14401
We fixed all known bugs, so very likely what you're seeing is a different one. I did not get a chance to look at your data yet.

[2019-11-28 13:38] noskill commented on #30458
Yes, i am to pinpoint the place with detect_anomaly and doing tensor.clone(), so making all the data readonly would be really helpful

[2019-11-28 13:47] WZHsmile commented on #17334
Does TITAN RTX(24G) support cuda9.2 or cuda8.0?

[2019-11-28 13:47] WZHsmile commented on #17334
Does TITAN RTX(24G) support cuda9.2 or cuda8.0?

[2019-11-28 13:59] cfd1 opened #30561 "Meshes not showing in tensorboard"
Hi,

I am using pytorch 1.3.1 and tf-nighty (as per the pytorch documentation).
I have tried the [example code](https://pytorch.org/docs/stable/tensorboard.html) for `add_mesh` to add a mesh to tensorboard
[code]

This is what I get
![image](https://user-images.githubusercontent.com/57766372/69811674-80d7d480-11e6-11ea-9245-8c98b5e18d45.png)
I can't find any solutions online to this issue.

- Does

[2019-11-28 16:07] lironmo commented on #30512
@dlibenzi - can you explain why your commit related to this issue?

[2019-11-28 16:12] wenqihuang commented on #27588
I have the same problem, and I tried to run code with `autograd.detect_anomaly()`, I find the problem happens in a Conv3d layer.
Reducing the batch_size will be a temperial solution as @isalirezag said. The problem disappeared when I reduce my batch size to 12.
I think it is a cudnn bug.

[2019-11-28 17:41] sunilkpai commented on #755
Hi everyone! It looks like good progress is being made towards adding complex support to pytorch! Thanks @dylanbespalko for taking initiative on this and adding CUDA support as well! From a high level, I'm interested to know what is the current progress in complex support? I am mostly interested in a rough timeline for having CUDA support for adding and multiplying complex tensors (binary ops). Th

[2019-11-28 20:39] donald-pinckney opened #30562 "`torch.cat` probably modified after being freed"
## 🐛 Use After Free Bug in `torch.cat`

When using `torch.cat` with zero sized arrays and an out parameter, `torch.cat` produces a memory error:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Run this code:

[code]

## Expected behavior

While this may be an incorrect use of `cat` (I'm not really sure if it is incorrect), it should still perform necessary dynamic checks so as not t

[2019-11-28 21:22] bobvo23 commented on #30528
Yes, being able to set a verbose parameter would be helpful to resolve the missing CUDA problem.

[2019-11-29 01:31] zchrissirhcz commented on #18323
@PK15946 @ezyang Is this issue solved now? I just use pytorch 1.2 to convert my model, the first reflectionPad layer still not converted correctly.

[2019-11-29 01:37] SsnL commented on #29712
I authored #29769, which fixes and extends the padding option. But 3d reflection padding is not implemented, so that PR fails. I'll do that and reopen.

[2019-11-29 01:44] #30213 closed

[2019-11-29 02:21] PuNeal opened #30563 "[ONNX] Support affine_grid_generator"
[code]

Result:
`RuntimeError: Exporting the operator affine_grid_generator to ONNX opset version 9 is not supported.`

[2019-11-29 03:22] dylanbespalko commented on #755
Hi @sunilkpai,

I have an open PR that should support the binary and unary ops on CUDA: #30295.

One more issue is with the backwards propagation. I think the derivative of complex `abs()` is defined differently than real numbers. Not sure what to do about that, but derivatives are defined in  `tools/autograd/derivatives.yaml`

[2019-11-29 04:16] Jaisu-1 commented on #29043
Can I try my hand on this?

[2019-11-29 04:46] marcinbogdanski commented on #28224
This would be great feature to have.

In my use case I have a system with multiple CPU-heavy processes as well as few PyTorch process (one per GPU). Currently it seems each GPU process eats one core just spinning there waiting.

Is there any confirmed workaround in the meantime?

[2019-11-29 04:56] 0400H commented on #22535
A proven solution:

class _DataLoaderIter(object):
    def __next__(self):
        if self.num_workers == 0:
            num_threads = torch.get_num_threads()
            torch.set_num_threads(4)  # set threads num you want (1, 2, 3 ...)
            . . . . . .
            torch.set_num_threads(num_threads)
            return batch

[2019-11-29 07:29] grafi-tt commented on #19164
@fmassa NumPy implements pairwise summation.

https://github.com/chainer/chainer/issues/7038#issuecomment-486058099

[2019-11-29 07:41] Randl commented on #755
I think for complex numbers `/dz abs(z) = z/abs(z)`. This can be used for real numbers too, but likely will be slower than `sgn(z)`

[2019-11-29 07:44] ZisIsNotZis opened #30565 "`F.interpolate` returns unexpected result when dealing with `2x2` image"
## 🐛 Bug

Generally, when shrinking a image to half of its height/weight, `F.interpolate` with `mode='bilinear'` and `align_corners=False` should be equivalent to `F.avg_pool2d(2)`, and I use this fact to try out things like "will using better interpolation rather than pooling get better result" and etc.

But I found my model will fail to optimize if I change `F.interpolate` to `F.avg_pool2d` (e.g

[2019-11-29 07:54] ZisIsNotZis commented on #30565
It seems that this problem also occurs with `mode='bicubic'`, and will happen as long as the output size is `1` (regardless of the input size).

This can be easily shown by inspecting these "unbalanced“ gradient

[code]

[2019-11-29 07:54] liulizhou commented on #30049
Hi, @scottcantreid
I have the same problem. When i use JIT ScriptModule on DataParallel, CPU Memory Leak happed! And JIT ScriptMoudle on single GPU is normal. Have you solved the problem ?

[2019-11-29 09:07] selimarikan commented on #18631
Any updates on this (v1.3)? Did anyone had a chance to try TensorFlow's workaround for this to avoid waiting for CuDNN?

[2019-11-29 09:16] rainwang1995 commented on #5059
Hi, I have tried the method you post. But for every epoch I get the same random number,
so it doesn't work for me.

[2019-11-29 09:18] rainwang1995 commented on #5059
Thanks very much, lambda _: np.random.seed() works for me.

[2019-11-29 09:34] boeddeker commented on #755
@dylanbespalko Maybe the tables 4.1, 4.2 and 4.3 in my Report https://arxiv.org/pdf/1701.00392.pdf may help you to define the derivatives.

For the complex derivatives (wirtinger calculus), there are two options.
Calculating the derivative w.r.t. z or z conjugate.
I personally like the derivative w.r.t. z conjugate more.
It feels more natural for matrix operations and the gradient update does not

[2019-11-29 10:38] jtao151617 commented on #29186
tried change the saving path worked for me

[2019-11-29 10:53] eugene-kharitonov commented on #28321
For those coming from google, like me, downgrading to cuda 10 is done like that:
[code]

[2019-11-29 11:08] 522730312 commented on #30509
Here is my model，and run with three commands:
python ddp_mnist.py --rank 0 --world-size 3
python ddp_mnist.py --rank 1 --world-size 3
python ddp_mnist.py --rank 2 --world-size 3

`#!/usr/bin/env python
# coding=utf-8
from __future__ import print_function
import argparse
import torch
import torch.nn as nn
import torch.distributed as dist
from torch.nn.parallel import DistributedDataParallel
import

[2019-11-29 11:12] 522730312 commented on #30509
Here is my all code and ru with three commands below:
python mnist.py --rank 0 --world-size 3
python mnist.py --rank 1 --world-size 3
python mnist.py --rank 2 --world-size 3
`from __future__ import print_function
import argparse
import torch
import torch.nn as nn
import torch.distributed as dist
from torch.nn.parallel import DistributedDataParallel
import torch.nn.functional as F

import numpy as

[2019-11-29 11:23] 522730312 commented on #30509
Here is my all code and ru with three commands below:
python mnist.py --rank 0 --world-size 3
python mnist.py --rank 1 --world-size 3
python mnist.py --rank 2 --world-size 3

from __future__ import print_function
import argparse
import torch
import torch.nn as nn
import torch.distributed as dist
from torch.nn.parallel import DistributedDataParallel
import torch.nn.functional as F

import numpy as

[2019-11-29 11:25] 522730312 commented on #30509
Here is the model to reproduce, set bucket_cap_mb from 3 and 30, MD5 change
`class Net(nn.Module):
    def __init__(self):
        super(Net, self).__init__()
        self.conv1 = nn.Conv2d(1, 32, 3, 1)
        self.conv2 = nn.Conv2d(32, 64, 3, 1)
        self.dropout1 = nn.Dropout2d(0.25)
        self.dropout2 = nn.Dropout2d(0.5)
        self.fc1 = nn.Linear(9216, 1024)
        self.fc2 = nn.Line

[2019-11-29 11:29] 522730312 commented on #30509
`import argparse
import torch
import torch.nn as nn
import torch.distributed as dist
from torch.nn.parallel import DistributedDataParallel
import torch.nn.functional as F

import numpy as np
import os

parser = argparse.ArgumentParser(description='PyTorch MNIST Example')
parser.add_argument('--rank', type=int)
parser.add_argument('--world-size',type=int, default=3)
parser.add_argument('--cuda',typ

[2019-11-29 11:42] 522730312 commented on #30509
Here is my code and run it with three commands as below:
python ddp_mnist.py --rank 0 --world-size 3
python ddp_mnist.py --rank 1 --world-size 3
python ddp_mnist.py --rank 2 --world-size 3

    from __future__ import print_function
    import argparse
    import torch
    import torch.nn as nn
    import torch.distributed as dist
    from torch.nn.parallel import DistributedDataParallel
    import

[2019-11-29 11:44] bernhardschaefer opened #30567 "cuDNN built against wrong CUDA version (10.0 instead of 9.0) when building from source -> CUDNN_STATUS_NOT_INITIALIZED"
## 🐛 Bug

Everything works when I install PyTorch 1.1.0 from conda with CUDA 9.0 using:
[code]

Then I tried to upgrade to PyTorch 1.3.1 by building from source, since the release only has prebuild PyTorch with CUDA 9.2.
Now I get a `CUDNN_STATUS_NOT_INITIALIZED` error (see "To Reproduce").
PyTorch environment shows me the correct Cuda version (`CUDA used to build PyTorch: 9.0.176`).
However, PyTo

[2019-11-29 12:10] Yihan-zz opened #30568 "torch.where and torch.nonzero cause out of memory"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)
![image](https://user-images.githubusercontent.com/46353683/69868248-26bd3900-12e4-11

[2019-11-29 12:25] mahmoodn commented on #29968
@xuhdev
I really don't know what to do!
I have manually placed numa.h in the required folders. See:

[code]
and
[code]
I renamed the last one, because there are `numa.cpp` and `numa.h` in `c10/util/`. I also was aware to modify the code:
[code]

Still I get the same error:
[code]

[2019-11-29 13:48] nikitaved commented on #27614
Yes, I can have a look. However, I am not super familiar with the codebase yet. Could you please hint me where it is the best to first look at?

[2019-11-29 14:11] Lmy0217 opened #30569 "Assertion `index >= -sizes[i] && index < sizes[i] && "index out of bounds"` failed."
## 🐛 Bug

lambda [](int)->auto::operator()(int)->auto: block: [0,0,0], thread: [3,0,0] Assertion `index >= -sizes[i] && index < sizes[i] && "index out of bounds"` failed.
lambda [](int)->auto::operator()(int)->auto: block: [0,0,0], thread: [6,0,0] Assertion `index >= -sizes[i] && index < sizes[i] && "index out of bounds"` failed.
lambda [](int)->auto::operator()(int)->auto: block: [0,0,0], thread:

[2019-11-29 14:53] cinhcet commented on #30539
On further investigation I tried python 3.6 and pytorch 1.3.1, now everything (both tracing and scripting) works

Collecting environment information...
PyTorch version: 1.3.1+cpu
Is debug build: No
CUDA used to build PyTorch: None

OS: Ubuntu 16.04.6 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
CMake version: version 3.5.1

Python version: 3.6
Is CUDA available: No
CUDA runtime

[2019-11-29 15:14] mahmoodn commented on #29968
OK. I finally found a solution, yet an ugly one. No need to put numa.h in pytorch directories.

I just opened `cmake/MiscCheck.cmake` and changed

[code]
to
[code]
That nasty error is now solved. However, I think there should be a systematic modifications.
@xuhdev

[2019-11-29 15:18] mahmoodn opened #30570 "Using non-system compiler and undefined references to pthread"
On a Centos which has gcc 4.8.5 by default, I have built gcc-6.1.0 from source and want to tell pytorch to use that.

I have specified CC and CXX as below:
[code]
However, I get this error:
[code]
Any idea?

[2019-11-29 15:28] eric-tc opened #30571 "Cannot build Simple c++ after building Libtorch from Source on Windows"
## 🐛 Bug

Hi,
i have compiled libtorch on Windows from source. Now i'am trying to build simple c++ program to use compiled version of libtorch.
When i run cmake --build . --config Release i got the following error `cmake -DCMAKE_PREFIX_PATH=C:\Users\tondelli\Desktop\CustomLibTorch -Ax64 ..
-- Building for: Visual Studio 15 2017
-- The C compiler identification is MSVC 19.16.27024.1
-- The CXX comp

[2019-11-29 16:25] felix-schneider opened #30572 "Running fp32 softmax on a fp16 tensor for dimensions other than the last fails during the backward pass"
## 🐛 Bug

When training models in FP16, it is typical to run softmax operations (such as within attention) in FP32. It seems that when you run softmax on a dimension other than the last dimension of the tensor, the backward pass fails.

## To Reproduce

[code]

Output is
[code]
Note that `b.backward` does not fail.

## Expected behavior

No exception

## Environment

[code]

cc @ezyang @gchanan @z

[2019-11-29 17:29] peterjc123 commented on #30571
Last time we met this when compiling torchvision using VS 2017 15.16 [here](https://circleci.com/gh/pytorch/vision/32385?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link&fbclid=IwAR2CUUfQzPSxdno_YCEHOeslpTI2jRRVHX0W62bpJrwo-nEVjfqPZRG8Qew) and finally we resolved that problem by updating to VS 2019.

[2019-11-29 18:02] nikonikolov commented on #28829
+1. This will be an extremely useful feature.

[2019-11-29 20:18] mruberry commented on #30570
This question is more appropriate for the forums: https://discuss.pytorch.org/.

Please try asking there.

[2019-11-29 20:18] #30570 closed

[2019-11-29 20:22] colinfang commented on #29744
@ptrblck  How did you come up with such magic numbers for the limits? Are they listed in cudnn manual or something?

[2019-11-29 20:22] mruberry commented on #30569
That is a crazy error message, and the message is correct on CPU, too!

Thanks for reporting this. It'd be great to get a PR fixing this ;)

[2019-11-29 20:23] mruberry commented on #30568
Try asking this question on the PyTorch forum at https://discuss.pytorch.org/.

[2019-11-29 20:23] #30568 closed

[2019-11-29 20:29] mruberry commented on #30567
Questions about build issues are really best asked in the forums: https://discuss.pytorch.org/.

If you go to https://pytorch.org/, however, you can find PyTorch 1.3 or nightlies with CUDA 10.1 support now.

[2019-11-29 20:29] #30567 closed

[2019-11-29 20:32] mruberry commented on #30571
Build-related issues like this are best asked on the forums: https://pytorch.org/.

Thanks @peterjc123 for your helpful comment ;)

[2019-11-29 20:32] #30571 closed

[2019-11-29 20:38] mruberry commented on #30572
Thanks for reporting this issue! I checked and this is still occurring.

@csarofeen @albanD

[2019-11-29 20:50] mruberry commented on #30565
Thanks for reporting this issue.

Can you elaborate on what you'd expect from the gradients in these cases with some small examples?
Is there an interpolation mode that functions as you expect it to?

[2019-11-29 20:53] mruberry commented on #30562
Wow! Thanks for reporting this issue.

If you have a fix for this, btw, we'd happily take it!

[2019-11-29 20:55] mruberry commented on #30561
Thanks for reporting this issue!

You may also want to ask this question on the PyTorch forums: https://discuss.pytorch.org/.

[2019-11-29 20:56] mruberry commented on #30560
Thanks for reporting this issue!

[2019-11-29 21:03] kurtamohler commented on #28993
I'd like to work on this issue, if no one else is looking at it right now.

[2019-11-29 22:10] carlosgmartin opened #30574 "`index_select` with multidimensional `index`"
## 🚀 Feature
Let [`index_select`](https://pytorch.org/docs/stable/torch.html#torch.index_select) work with a multidimensional `index`.

## Motivation

Index the input tensor along a given dimension using the entries in a multidimensional array of indices. For example,
[code]
should mean
[code]

## Alternatives

Option 1:
[code]

Option 2:
Create a meshgrid with `i,j,k,...`, an empty array `a` of t

[2019-11-29 22:47] ppriyank commented on #14401
Should I send the code for this as well? This is a very prevalent situation, as the model is about to converge the loss shoots to nan.

[2019-11-30 00:13] vishwakftw commented on #30331
https://github.com/pytorch/pytorch/pull/30575 adds notes about ordering on singular values and eigenvalues output by torch.svd and torch.symeig respectively.

---
Status: PR open against v1.4.0 at #30575

[2019-11-30 05:09] mahmoodn commented on #30570
None of my questions on the forum has been answered. But here I get feedback.
I don't know if other see my posts or not!
https://discuss.pytorch.org/t/using-non-system-compiler-and-undefined-references-to-pthread/62537

[2019-11-30 05:11] mruberry commented on #30570
@mahmoodn I'm sorry to hear the forums haven't answered your issue.

I think it's just hard for people to help with build issues. Build environments are very different from each other.

[2019-11-30 05:55] mahmoodn commented on #30570
I think so. If I know where the cmake command is created, I can go for it and test different options. However, I myself haven't figured out where that happens.

[2019-11-30 06:42] saulzar commented on #27838
One question regarding the dynamic padding - is why pytorch is computing dimensions dynamically if the export function does not specify the dimensions as being dynamic?

i.e. in my export function I have:
`dynamic_axes={'input_1':{0:'batch'}})`

So, given that it would seem reasonable if pytorch would convert the shapes (other than the batch) in the output onnx to constants?

[2019-11-30 06:45] policeme commented on #20403
@yaroslavvb did u solve this issue, I met this

[2019-11-30 06:45] policeme commented on #20403
import torch
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\ProgramData\Anaconda3\lib\site-packages\torch\__init__.py", line 268, in <module>
    _C._initExtension(manager_path())
AttributeError: module 'torch' has no attribute 'BoolStorage'

[2019-11-30 07:13] ptrblck commented on #30532
@JamesOwers If I'm not mistaken, [this commit](https://github.com/pytorch/builder/commit/2aac90bd723dfbb3dc7728152bf0e6877ec4da16#diff-65bdb50b3eee4c380f3b65973141e454) bumped the minimal compute capability to 3.7.

[2019-11-30 07:54] SsnL commented on #30569
The error message is that way because the error is thrown from CUDA device assert.

[2019-11-30 08:04] policeme commented on #24834
I met this, did anybody solve this problem

[2019-11-30 08:27] vkuzmin-uber commented on #24834
I solved it. I my case appeared I built with one version of libtorch and tried to use with another version of torch package. Just needed to clean files left from previous built. If you observd it, try it with completely new environment where you have no files/state from previos builds

[2019-11-30 09:01] policeme commented on #24834
@vkuzmin-uber clean the previous file in site-package?

[2019-11-30 09:15] vkuzmin-uber commented on #24834
in my case I built my project with different versions of libtorch and som files from previose built caused pronlems like this one.

[2019-11-30 12:11] #15100 closed

[2019-11-30 12:14] cfd1 commented on #30561
Thanks.

I have raised it here [PyTorch Forum](https://discuss.pytorch.org/t/meshes-not-showing-in-tensorboard/62565)

[2019-11-30 12:54] policeme commented on #24834
I delete all of the previous files in site-package, but it didn't work, so I install the torch 1.1, it work, I don't know why didn't torch 1.2 work

[2019-11-30 13:14] Lmy0217 commented on #30569
@SsnL But after the error occurs, all running code gets the error as well.

[2019-11-30 14:26] knsong commented on #23822
@shirazb  have you found the answer?

[2019-11-30 15:58] shirazb commented on #23822
Hey @knsong,

I updated my answer on the PyTorch forums here:

 https://discuss.pytorch.org/t/implementing-multiple-recomputations-on-top-of-torch-utils-checkpoint/52657

[2019-11-30 17:32] radenmuaz commented on #23475
Any updates on this issue?

[2019-11-30 17:46] suo commented on #30049
Sorry folks, things are slow for PyTorch around Thanksgiving time. I'll take a look at this in the next few days!

[2019-11-30 18:59] michael-koller-91 opened #30578 "gradients of symeig not correct and gradcheck fails"
## 🐛 Bug

The off-diagonal elements of torch.symeig's gradients are off by a factor of 2. Further, checking the gradients with torch.autograd.gradcheck gives a RuntimeError.

## To Reproduce

The following code computes an eigenvalue decomposition of a symmetric matrix and corresponding derivatives with two different approaches. One approach uses torch.symeig and backward() to compute the gradient

[2019-11-30 19:32] rgommers commented on #25030
@ifedan you have a PR in progress on this. Not sure why you unassigned yourself, could you comment on what the next step should be here?

[2019-11-30 20:41] peterbell10 commented on #2343
The problem is:

1. `weight_norm` removes the parameters from the module's parameter list and makes them normal class attributes:
https://github.com/pytorch/pytorch/blob/bfeff1eb8f90aa1ff7e4f6bafe9945ad409e2d97/torch/nn/utils/weight_norm.py#L32-L40
2. Calling `b.cuda()` applies only to parameters, not to the weight attributes.
3. [`RNNBase.flatten_parameters`](https://github.com/pytorch/pytorch/bl

[2019-11-30 20:58] SsnL commented on #30578
There is ambiguity here since symeig is only defined for symmetrical matrices (So you can view the result being computed by using either triangular part or both). It is more intuitive to return a symmetrical gradient, so that change was made. Context: https://github.com/pytorch/pytorch/issues/22807

[2019-11-30 20:58] SsnL commented on #30569
@Lmy0217 yes, that is expected. CUDA device asserts are not recoverable.

[2019-11-30 21:19] stante commented on #27174
I think this issue can be closed because https://github.com/pytorch/pytorch/pull/27308 was merged.

[2019-11-30 21:49] xsacha commented on #30532
There's no technical reason for it to be changed to 3.7 right?
The code still supports 3.5 (and even 3.0 again).

[2019-11-30 21:53] skrah commented on #3818
@gchanan, I'll be back in January.  Perhaps I'll revisit the issue privately before then though. :-)

The general problem is that my PR (#24368)  currently fixes the leak but re-introduces some quirky semantics.

[2019-11-30 22:06] xsacha commented on #30365
Why is the numpy version faster than torchscript C++ per iteration but slower for 100,000 iterations?
Seems like there's a factor of 10 out for one of those.

[2019-11-30 22:07] michael-koller-91 commented on #30578
Yes, the gradient needs to be symmetric. For symeig, is has been made symmetric in #23018. However, according to, e.g., equation (138) in the [matrix cookbook](https://www.math.uwaterloo.ca/~hwolkowi/matrixcookbook.pdf), the chosen way of symmetrization is only almost correct. That's why I opened this issue.

[2019-11-30 23:41] vadimkantorov commented on #29013
My current torch-only workaround for now is:
`torch.ShortTensor(torch.ShortStorage.from_buffer(subprocess.check_output(['sox', '-V0', audio_path, '-b', '16', '-e', 'signed', '--endian', 'little', '-r', str(sample_rate), '-c', '1', '-t', 'raw', '-']), byte_order = 'little')`

[2019-12-01 00:12] SsnL opened #30583 "pdist can't handle batch >= 46342"
[code]

Likely because
[code]
and somewhere in `pdist` the index was calculated with `int32`, and having the `/2` at last after the multiplication.

cc @ngimel

[2019-12-01 02:15] ptrblck commented on #30532
@soumith might correct me, but I think the main reason is the growing size of the binaries.

[2019-12-01 02:57] ezyang commented on #30321
For posterity this is what CircleCI responded with:

----

We have looked into this issue and have found that this is being caused by a dependency conflict.

To install libomp requires the following dependencies (taken from the build log):

==> Installing dependencies for libomp: pkg-config, gdbm, openssl@1.1, readline, sqlite, xz, python, sphinx-doc and cmake
This package is specifically installi

[2019-12-01 03:23] ptrblck commented on #30583
Reproduced on `1.4.0.dev20191109`.
Thanks for the pointer regarding the `/2` division.
I'll have a look at it.

[2019-12-01 04:30] ptrblck commented on #24082
This issue should be solved in cudnn `7.6.5` as some heuristics were improved and we see these numbers on a V100 for FP16 now:

|         | cudnn=True, benchmark=True | cudnn=True, benchmark=False | cudnn=False |
|---------|----------------------------|-----------------------------|-------------|
| V100    | 0.7892                      | 0.7894                       | 2.9869       |
| Titan V | 0.

[2019-12-01 05:34] skn123 opened #30584 "clang 9 segfaults when trying to compile PyTorch"
## 🐛 Bug

During compilation with mainline clang (9.0.1) in Ubuntu 18.04, compilation crashes.
## To Reproduce
Either building with CMake or building the python binding causes this bug
Steps to reproduce the behavior:

1.
1.
1.

clang: error: unable to execute command: Segmentation fault (core dumped)
clang: error: clang frontend command failed due to signal (use -v to see invocation)
clang versio

[2019-12-01 07:35] knowlsie commented on #25814
I'm running into this issue. Is there any workaround to modify gradients without this being an issue?

[2019-12-01 09:05] neFAST commented on #15982
So are we left with Windows cpu inference running one order of magnitude slower than on a Linux machine?

[2019-12-01 09:14] vainaijr opened #30585 "torch.is_symmetric(matrix)"
how do I check whether a matrix is symmetric or not, without manual inspection?

[2019-12-01 09:30] peterjc123 commented on #15982
@neFAST Yes, it's part of the reason. But I  think there are far more factors that may affect this, such as the missing functionalies like openmp, blas (fbgemm) , and sometimes misconfiguration. Actually, I have little knowledge of how pytorch jit works so I don't know the exact reason of the speed difference between Windows and Linux.

[2019-12-01 12:00] peterjc123 commented on #30585
[code]

[2019-12-01 12:01] mathpopo opened #30586 "run ./android/run_tests.sh --warning-mode all , show error."
07:52:15 V/ddms: execute: running am get-config
07:52:15 V/ddms: execute 'am get-config' on 'M7BBB18930228128' : EOF hit. Read: -1
07:52:15 V/ddms: execute: returning
07:52:15 D/pytorch_android-debug-androidTest.apk: Uploading pytorch_android-debug-androidTest.apk onto device 'M7BBB18930228128'
07:52:15 D/Device: Uploading file onto device 'M7BBB18930228128'
07:52:15 D/ddms: Reading file permision

[2019-12-01 12:14] mathpopo commented on #30586
sorry ,above is showing my target no space,but after clean,show "com.android.builder.testing.api.DeviceException: com.android.ddmlib.InstallException: INSTALL_FAILED_NO_MATCHING_ABIS: Failed to extract native libraries, res=-113"

i check the issue, in "build.gradlede" should add "include 'x86', 'armeabi-v7a','x86_64'"  ,but i do not know where to add them?

[2019-12-01 12:27] vainaijr commented on #30585
ok, thanks

[2019-12-01 12:27] #30585 closed

[2019-12-01 13:27] ailearn007 commented on #20140
I think it's a version problem.
just run this:
`pip install tensorboard==1.14.0`
(not pip install tensorboard==1.14)

[2019-12-01 14:11] StuckinPhD commented on #24463
I'm also getting this error.

but i managed to fix it by not specifying any device. For example, instead of using the command:

`torch.cuda.memory_allocated(device=torch.device('cuda:0'))`

I used:

`torch.cuda.memory_allocated()`

it still picks up ``cuda:0``, as thats the only device I have but for some reason if you dont specify the device the command works.

Hope this helped someone :)

[2019-12-01 15:07] cinhcet commented on #30539
I have reproduced this issue on multiple machines with installations from different people.
If it is ubuntu 16.04 with python 3.5, it crashes, if it is python 3.6, it works.

So for me this is kind of resolved, since I could just convert the model to torchscript with python 3.6, even though the model was trained with python 3.5.

I would still found it interesting whether someone else also experie

[2019-12-01 18:36] vainaijr opened #30589 "weight norm missing p="
should weight norm include p=, that is option to change p to nuclear, 3, or higher value?

[2019-12-01 19:51] phil510 opened #30592 "Memory leak with LayerNorm and 2nd derivatives (gradient penalty WGAN)"
## 🐛 Bug

There appears to be a memory leak when using LayerNorm with gradient penalty for WGAN. No error is ever returned, but the process is killed. Removing LayerNorm resolves the issue, so I believe that is the culprit, The issue is very similar to a previous issue with BatchNorm that was resolved: https://discuss.pytorch.org/t/memory-not-freeing-when-using-batchnormbackward/5998

## To Reprod

[2019-12-01 20:25] suo commented on #30539
Thanks for the investigation! Our policy is to support the latest three major version of Python. As of the release of Python 3.8 (10/14/19), we don't support Python 3.5 anymore, so if things are working for you on Python 3.6 we probably won't look into it.

So I'll close the issue for now, but if anyone sees something similar on supported versions of Python feel free to reopen!

[2019-12-01 20:25] #30539 closed

[2019-12-01 21:08] rrkarim commented on #24082
@ptrblck thanks, I will check it ASAP.

[2019-12-01 21:10] rrkarim commented on #23061
@lxl910915 It does but with the same performance compared to single precision. Sorry, I do not know the execution pipeline of `tf` code so I can't say much on the script you've provided.

[2019-12-01 22:45] elbamos commented on #27409
@xuhdev

MAGMA_LIBRARIES:FILEPATH=/usr/local/magma/lib/libmagma.so

That is where they live.

[2019-12-01 23:43] kaszperro commented on #22439
So is there any progress with this issue internally?

[2019-12-01 23:52] quickwritereader commented on #30358
I was told by IBM that the issue with casting case with small numbers on power disappears under optimizations on. So we could ignore that power-related problem.
Coming to the original problem.
It should be fixed with equal casting on both sides either fix on test or calculation side.

[2019-12-02 01:04] xsacha commented on #24205
I always thought it was weird 3.5 is supported but not 3.7. I figured it's because there's so many consumer cards on 3.5 and only K80 on 3.7.

In my other dependencies I set them up like this as a result:
[code]

[2019-12-02 01:10] solarflarefx opened #30595 "Load data directly from GPU without copy to CPU"
Hi all,

I am relatively new to PyTorch (coming from a TensorFlow background) and I was wondering about the following.

In most applications (at least from my experience) source data is usually coming from the CPU, whether that be in training or deployment. Many times, developers will train a model utilizing the GPU for training and then may or may not use the GPU in deployment, depending on the a

[2019-12-02 01:45] ezyang opened #30596 "Overlapping strides not supported by cublas"
https://twitter.com/ID_AA_Carmack/status/1201309356089921537

Related https://github.com/pytorch/pytorch/issues/29984 but generally broadcasting is easier to support than arbitrary overlapping strides.

[2019-12-02 02:11] sunilkpai commented on #755
One other operation that would be useful (especially for projects in the physics space requiring complex number support) is a handler for the `exp()` operator. In tensorflow, we have `tf.exp(x + iy) = tf.exp(x) * (tf.cos(y) + 1j * tf.sin(y))`. Is this straightforward to implement in pytorch as well?

[2019-12-02 02:20] ZisIsNotZis commented on #30565
For `bilinear` with `1x1` output, it is currently returning value of the upper left corner. The gradient `[[1,0],[0,0]]` and `[[1,0,0,0,0],[0,0,0,0,0],[0,0,0,0,0],[0,0,0,0,0],[0,0,0,0,0]]` (above) also indicates that it is using the upper left corner 100%.

But according to definition of bilinear, the gradient should be `[[0.25,0.25],[0.25,0.25]]` for `2x2` input, and probably `[[0,0,0,0,0],[0,0,0

[2019-12-02 03:09] mruberry commented on #30565
@ZisIsNotZis thank you for elaborating!

[2019-12-02 04:53] xsacha commented on #30595
I've posted this a few times but cannot find it right now.

Example for changing data from a cv::cuda::GpuMat to a torch::Tensor (supporting float type and byte type, converting to float)

[code]

The part you are interested in: **torch::from_blob**

[2019-12-02 04:58] xsacha commented on #30532
@ptrblck that is the reason but it is strange it went from supporting K40 (+ several consumer cards) and not K80 to supporting K80 and not K40 (+ several consumer cards).

I also wish there was a way for the message to reflect the minimum cuda arch from the cuda arch list for when it was compiled. This would make it easier when it gets changed to 3.7, for example. Or when a user supports 3.0 by co

[2019-12-02 05:11] wizardk commented on #26948
Moreover, I have tested onnxruntime, it has similar behavior of rapid deterioration of performance.

[2019-12-02 05:12] huntzhan opened #30599 "The number of batches in epoch is affected by (num_workers + IterableDataset)"
## 🐛 Bug

The `num_workers` affect the total number of batches in an epoch when passing the Iterable-style datasets to dataloader. This behavior is inconsistent with the map-style datasets.

## To Reproduce

Map-style datasets (size = 5):

[code]

Iterable-style datasets (size = 5 * 4 = 20):

[code]

## Expected behavior

The `num_workers` should not affect the total number of batches in an epoch

[2019-12-02 05:30] xsacha commented on #30507
The cxx11 abi one won't work. You were using the right version -- I use this one on CentOS (prebuilt without cxx11) and it works fine.

[2019-12-02 06:37] gitabtion commented on #30507
This one？[https://download.pytorch.org/libtorch/cpu/libtorch-shared-with-deps-1.3.1%2Bcpu.zip](https://download.pytorch.org/libtorch/cpu/libtorch-shared-with-deps-1.3.1%2Bcpu.zip)，but I don't know why it doesn't work in all of 2 CentOS Machines.

[2019-12-02 06:38] xsacha commented on #30507
To be honest, I haven't tried 1.3.1, so there may be an issue in that version. I have only used up to 1.3.0.

[2019-12-02 06:44] EsmaeilFarhang opened #30601 "libtorch : latest version for cpu , torch::nn::functional::pad not found"
## 🐛 Bug

## To Reproduce
 - Libtorch Version (1.3.1 stable debug version):
 - OS (windows 10):
 - How you installed Libtorch ( source):
 - Build command you used (visual stdio):
 - cpp version:c++11
 - cpu version:

## Additional context
acording to  libtorch documentation FUNCTION TORCH::NN::FUNCTIONAL::PAD should be
in this directory ("torch/csrc/api/include/torch/nn/functional/") but   some he

[2019-12-02 07:40] jjlilley opened #30604 "test_numerical_consistency_per_tensor failure on Windows"
We were observing test_numerical_consistency_per_tensor failure in test_fake_quant on Windows on master in CircleCI.

This is being disabled, but should be re-enabled.

cc @jerryzh168 @jianyuh @raghuramank100 @jamesr66a @vkuzo @jgong5 @Xia-Weiwen @leslie-fang-intel @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @anjali411

[2019-12-02 08:56] mohitranawat opened #30605 "Quantization of pytorch model"
I have pytorch model saved as .pth file.
I wanted to use quantized model in my android project.
How can I achieve quantized .pt model ?
However I am done with just converting to .pt model and using it in android.

[2019-12-02 09:02] Merical commented on #29724
@alohali Hi~ Working on the same issue here. Any Update?
Thanks.

[2019-12-02 09:52] agiokas-dbg commented on #24834
@policeme I think they are referring to compiling the cxx library, AFAIK python has already packaged them compiled.

[2019-12-02 09:54] wanchaol commented on #18337
close this in favor of the doc issue

[2019-12-02 09:54] #18337 closed

[2019-12-02 09:57] fmassa commented on #30605
Please use the forums for questions http://discuss.pytorch.org/, we use GitHub issues for tracking feature requests and bug reports.

[2019-12-02 09:57] #30605 closed

[2019-12-02 10:21] wanchaol commented on #19527
I think this is supported already. Closing.

[2019-12-02 10:21] #19527 closed

[2019-12-02 10:22] jonas154 commented on #24157
@shayan113 Which problem have you solved?
Relating the visualization problem with Resnet, I still get quite hard readable plots:
![image](https://user-images.githubusercontent.com/20500740/69951619-dcaba180-14f5-11ea-9109-41a0b4817622.png)

Ubuntu with
Torch: 1.3.1
Tensorboard: 2.0.2
Python: 3.7.4

[2019-12-02 10:23] fmassa commented on #30578
I think this reasoning makes sense. If @vishwakftw agrees, let's change the derivative of `symeig` according to @michael-koller-91 comment

[2019-12-02 10:38] skariel commented on #1355
I experience this issue with pytorch 1.3, ubuntu16, all the above suggestions did not work except workers=0 which slows down execution. This only happens only when running from the terminal, within Jupyter notebook everything is fine, even with workers=32.

The issue does not seem solved, should it be reopened? I see also many other people reporting the same problem...

[2019-12-02 10:49] pietern commented on #30509
I've been trying to reproduce with your script but am not able.

Note that I added the following lines for reproducibility:

[code]

Also see https://pytorch.org/docs/stable/notes/randomness.html.

[2019-12-02 10:50] pietern commented on #30509
Can you try adding those lines and seeing if it still reproduces for you?

Also please test with both the "gloo" and "nccl" distributed backends, to rule out the NCCL hypothesis.

[2019-12-02 10:59] kaen2891 commented on #22676
I solved my problem. Thanks a lot!

[2019-12-02 12:44] zetyquickly commented on #30226
Have anyone met it too?

[2019-12-02 12:54] AppleHolic commented on #24176
Hello, is there any progress for solving this problem?

[2019-12-02 14:14] cfd1 commented on #30561
I forgot to say I'm using python 3.6 in a conda environment on linux and reproduced this on two different systems.

- I have switched to tensorboard 2.0.2 with pytorch 1.3.1 and get the same issue.
- I have made a new conda environment with pytorch-nightly and tensorboard 2.0.2 and get the same issue. I have provided more info in the forum.

[2019-12-02 14:16] zou3519 commented on #27174
Thanks for the catch @stante, that PR did indeed fix this. I am closing this issue.

[2019-12-02 14:16] #27174 closed

[2019-12-02 14:18] zou3519 commented on #28993
@kurtamohler this task is blocked by https://github.com/pytorch/pytorch/issues/29137 (pytorch has incorrect behavior in forward-pass of `torch.mean(x, dims=[])`. We should fix the behavior of the forward pass first before we fix the behavior of the backward pass.

[2019-12-02 14:19] YesXiamo commented on #30139
I met the same error

[2019-12-02 14:33] cfd1 commented on #30561
The issue was firefox. It works in chrome.

[2019-12-02 14:33] #30561 closed

[2019-12-02 14:52] peterjc123 commented on #30601
This seems to be fixed in master because I can see them in the log.
[code]

[2019-12-02 15:22] EsmaeilFarhang commented on #30601
thank you, you right. in Preview (Nightly) version this exists. but in a stable version for ubuntu and windows, some header files don't exist.

[2019-12-02 15:48] SsnL commented on #30599
This behavior as well as the recommended solution are well documented: https://pytorch.org/docs/stable/data.html#iterable-style-datasets

[2019-12-02 15:49] ezyang commented on #28361
Some constraints:

* Numpy compatibility: our thing should work the same way as numpy, or we should have a good argument why numpy was wrong and we've fixed the problem (a note about Numpy: if you have A + B, it will return A, and if you do B + A, it returns B, if there is no subclass relationship between A and B)
* Overriding methods by just defining them on the subclass should work
  * And super

[2019-12-02 16:03] isagastiberri commented on #29706
I've also run into this same problem:
[code]
I would like to export [SiamMask](https://github.com/foolwood/SiamMask) to ONNX

[2019-12-02 16:08] huntzhan commented on #30599
Thank you for confirming this behavior is by design.

[2019-12-02 16:08] #30599 closed

[2019-12-02 16:15] kurtamohler commented on #28993
@zou3519, oh I see. Thanks for pointing that out.

[2019-12-02 16:22] ezyang commented on #28361
One more constraint: Parameter is a subclass of Tensor, and it shouldn't preserve subclasses (and maybe generally, preserving subclasses may need to be opt-in to preserve BC.)

@hameerabbasi and I had another call, and we have an interesting problem: suppose your have:

[code]

What order should the methods be called? It should be CTensor.add, BTensor.__torch_function__, ATensor.add!! This suggest

[2019-12-02 16:27] zou3519 commented on #28993
Feel free to coordinate with @pbelevich on that issue if you're interested in working on it

[2019-12-02 16:28] albanD commented on #25814
@SsnL  another simple fix here could be to say that `AccumulateGrad` is responsible to never set the grad to a view. In that case, it will `.clone()` the result.
Given all the efforts we do to reuse the same grad buffer when it exists, having one as a view of another Tensor can be dangerous anyway I think.
Would you be happy with that change?

[2019-12-02 16:39] kurtamohler commented on #29137
@pbelevich, have you started on this issue? If not, I could take over if you'd like. I wanted to work on #28993, but it's blocked by this.

[2019-12-02 16:40] nairbv opened #30611 "Refactor/consolidate code for generating test tensors"
In test_torch.py we have `_make_tensor`, but it wasn't flexible enough to support all the use cases needed by type promotion tests. E.g. it returns float instead of half when half is requested, doesn't generate an even distribution of True/False values for boolean tensors, doesn't have a way to ensure non-zero for divisor tensors, etc.

We also have a `genSparseTensor` function in common_utils.py,

[2019-12-02 16:42] cpuhrsch commented on #30213
@balde-soul - I saw you closed this issue, should it be reopened?

[2019-12-02 16:53] akbir opened #30613 "torch division is not consistent"
## 🐛 Bug

`torch.div` is not consistent with different versions torch.tensor([0]) and torch.zeros(1)

## To Reproduce
Simply run the script
[code]

## Expected behavior
The behavior should be consistent.

## Environment

 - PyTorch Version : 1.3.1
 - OS : Linux
 - How you installed PyTorch: `pip`
 - Python version: 3.8
 - CUDA/cuDNN version: 10.1

[2019-12-02 16:55] ngimel commented on #29744
@ptrblck That's ok, binaries are built with cudnn 7.6, there's no need to specifically test older versions.

[2019-12-02 17:03] cpuhrsch commented on #23475
@radenmuaz - [we're working on it](https://github.com/pytorch/nestedtensor).

[2019-12-02 17:48] kleingeo opened #30616 "Training with nn.DataParallel and cross-fold validation issues"
I am working on a code for cross-validation so the input data changes with the code snippets below.

[code]

The first iteration has no problem. However, one the second loop (second cross-validation test), I am getting this error.

[code]

When I have only one GPU used there is no issue, but when there are multiple GPUs with ```torch.nn.DataParallel(net)``` I get the error message from above. In t

[2019-12-02 17:54] albanD commented on #30572
I can't reproduce this on CPU. @felix-schneider does that work on CPU for you?

[2019-12-02 17:57] yf225 commented on #30508
@McChicken93 Thanks a lot for the investigation - I believe the problem is that `Module::parameters()` should not return parameters that are undefined. I will submit a patch to fix this today.

[2019-12-02 18:04] mruberry commented on #30454
@albanD

[2019-12-02 18:09] mruberry commented on #30565
@albanD

[2019-12-02 18:10] ezyang commented on #24422
@fmassa I took the liberty of adding you to 'module: vision', feel free to remove yourself if you don't want these issues

[2019-12-02 18:14] mruberry commented on #30562
@gchanan is concerned that concat may have some BC behavior which we need to respect while fixing this.

[2019-12-02 18:19] divyekapoor commented on #30365
Yes. Fixed. Thanks for pointing it out.

[2019-12-02 18:20] mruberry commented on #30460
@gchanan duplicate

[2019-12-02 18:21] divyekapoor commented on #30365
A colleague also got a Torchscript vectorized implementation set up with an ~8ms baseline (beating the 18ms from Python). So that would be something to think about as a reference implementation. Discussion on the equivalent TF bug is also quite useful - they have some experimental workarounds.

@xsacha @suo Could you indicate the next steps?

[2019-12-02 18:22] mruberry commented on #29984
@ezyang would like a better error message

[2019-12-02 18:25] MuMiMaNz commented on #18384
you can install previous pytorch version here
https://pytorch.org/get-started/previous-versions/
ex. conda install pytorch==1.1.0 torchvision==0.3.0 cudatoolkit=10.0 -c pytorch

[2019-12-02 18:59] xuhdev commented on #29968
In your [updated comment](https://github.com/pytorch/pytorch/issues/29968#issuecomment-558109965), you wrote

    Numa_INCLUDE_DIR=/storage/users/mnaderan/tools/numa-dev/include/

But in the original comment, you wrote:

    CFLAGS="-I/storage/users/mnaderan/tools/usr/include/"

The two directories are not the same. Are you sure you got the directory correct?

[2019-12-02 19:20] mahmoodn commented on #29968
The original was `tools/usr/`, but later when I extracted some other rpm packages, I renamed that specifically for numa in order to not put other things in that folder. So, I then changed that to `tools/numa-dev/`.

[2019-12-02 19:24] suo commented on #29108
Hey, sorry for the delay, things are a little slow around thanksgiving time 😛.

Please send me the model (suo at fb dot com)

[2019-12-02 19:25] fritzo commented on #30517
It looks like onnx needs to add support for the `torch.broadcast_tensors()` op.

[2019-12-02 19:30] albanD commented on #30565
The documentation about `align_corners` is so cryptic I'm not sure if this is the intended behavior or not...
It seems like this flag was built to be used with `scale_factor` and might not work as expected with fixed sizes.
cc @SsnL  who worked on this ?

In any case, the gradients do match the forward.

[2019-12-02 19:33] zou3519 commented on #28313
Upgrading to dill 0.3.1 as per @nmilosev's comment seems to be the solution here. Here's what we can do from the pytorch side, though, if we commit to supporting dill:
- Detect if the user is using dill as the picker. If so, check dill's version and error out gracefully if it's too small
- Add tests for dill

[2019-12-02 19:52] RuABraun opened #30622 "Upgrade pytorch to use XNNPACK instead of NNPACK for android"
## 🚀 Feature

Use [XNNPACK](https://github.com/google/XNNPACK) for floating point operations on android.

## Motivation

At the moment pytorch uses NNPACK for floating point operations on Android. NNPACK is not actively developed anymore and [XNNPACK is the successor](https://github.com/Maratyszcza/NNPACK/issues/168), and is in my experience faster (as well as having a better and more complete int

[2019-12-02 19:52] zou3519 commented on #29578
I believe this has been fixed on master via https://github.com/pytorch/pytorch/pull/30035 (please let me know if that is not the case)

[2019-12-02 19:52] #29578 closed

[2019-12-02 19:55] liaohaofu commented on #27588
Does anyone have a solution to this issue? I had exactly the same problem and the only way to temporarily solve this issue is to reduce the batch size. This is also caused by the Conv3d layer.

[2019-12-02 19:57] zou3519 commented on #25030
@rgommers I think we are looking for someone to take over @ifedan's WIP pull request. I am happy to either take it over or review any changes to it.

[2019-12-02 19:57] ptrblck commented on #30151
@taojake Could you post the `config` you were using for your experiments?
Also shapes of inputs would be helpful to get a reproducible script.

[2019-12-02 19:57] mruberry commented on #30604
Ooops. Removing "skipped" because not skipped (yet). Please skip and mark as skipped ASAP!

[2019-12-02 20:21] zou3519 commented on #10223
The best way to compute a full jacobian matrix right now is to backward multiple times through the graph. For example, given a `f` that maps R^n to R^m, then we can compute the jacobian via the following:
[code]
Each `grad` call computes a row of the jacobian matrix: `( df_i / dx_0, df_i / dx_1, df_i / dx_2, ..., df_i / dx_n)`

[2019-12-02 20:35] suo commented on #30365
Hey, @divyekapoor I'd be interested to know the ultimate use case you're benchmarking for.

The reason I ask is that PyTorch is poorly optimized for doing lots of computations on scalar values—as mentioned on the TF issue, these libraries are typically targeted toward doing operations on large tensors, where the per-op overhead is dwarfed by the operator computation itself.

As such, if something

[2019-12-02 20:53] driazati opened #30625 "[jit] `@ignore` methods are broken"
[code]

should work but outputs

[code]

cc @suo

[2019-12-02 21:03] eellison commented on #30625
Isn't this the same issue as https://github.com/pytorch/pytorch/issues/28537 ?

[2019-12-02 21:18] xuhdev commented on #27409
(Sorry for asking more questions; Because I can't reproduce this issue, I have to rely on your info)

Could you show the path printed from `otool -L /path/to/libtorch.dylib`, both before and after you run the `install_name_tool` workaround?

[2019-12-02 21:18] yf225 commented on #30508
@McChicken93 https://github.com/pytorch/pytorch/pull/30626 should fix the bug, please feel free to try it out :D

[2019-12-02 21:19] dylanbespalko commented on #755
@sunilkpai, @boeddeker, @Randl,

Thanks for the report on the complex derivatives. I will try to follow that and I will get back on this next week. I thought I would add some links here and describe the project status.

The status of complex numbers is unofficially supported and must be added via PyTorch Extension:
- [pytorch-cpu-strided-complex](https://gitlab.com/pytorch-complex/pytorch-cpu-stri

[2019-12-02 21:24] RylanSchaeffer commented on #10223
Why are multiple grad calls necessary? Shouldn't one be sufficient?

[2019-12-02 21:25] RylanSchaeffer commented on #10223
@zou3519 also, where do you use the `unit_vectors()` function?

[2019-12-02 21:26] zou3519 commented on #10223
Let's move discussion to https://discuss.pytorch.org/ ; the topic of computing the full jacobian is a question and orthogonal to this feature request for forward-mode AD

[2019-12-02 21:26] RylanSchaeffer commented on #10223
@zou3519 I already posted. Let me post a link.

[2019-12-02 21:26] RylanSchaeffer commented on #10223
https://discuss.pytorch.org/t/how-to-penalize-norm-of-end-to-end-jacobian/62771/3

[2019-12-02 21:30] smessmer commented on #30102
This issue is the background to why https://github.com/pytorch/pytorch/pull/29934 broke torchvision and got reverted. I'm working on it.

[2019-12-02 21:34] vdantu commented on #27610
@nairbv : Firstly, thanks for sharing your thought process in detail. I am really liking this discussion and seeing your perspective here.

Since we have only one model per cluster of containers running behind a loadbalancer, the addition of a new model would mean bringing up a new cluster of containers . The loadbalancer can be shared (depending on the QPS that the service wants to support) and w

[2019-12-02 21:36] albanD commented on #30454
Hi,

Please see the latest documentation for extending autograd [here](https://pytorch.org/docs/master/notes/extending.html#extending-torch-autograd).
This was not as clear before but you should be using `mark_dirty()` in your forward pass for everything to work properly.

Please use the forum if you have further questions: https://discuss.pytorch.org/

[2019-12-02 21:36] #30454 closed

[2019-12-02 21:38] xkszltl opened #30627 "Everything under /usr/local/include is copied."
## Bug

When I `cmake --build . --target install` to a custom location for packaging (previously set by `-DCMAKE_INSTALL_PREFIX`), I got everything under my `/usr/local/include` copied to this custom place.

This only happens on Ubuntu 18.04, and CentOS 7 seems fine with the same build script.
And I've only started to see this recently.
Builds from 2 weeks ago was still fine.

![image](https://use

[2019-12-02 21:39] eellison commented on #30625
Closing because I think this is the same issue. reopen if you'd like.

[2019-12-02 21:43] xuhdev commented on #29968
Thanks for the info -- https://github.com/pytorch/pytorch/issues/29968#issuecomment-559820159 is extremely helpful.

Could you try #30628? It is supposed to fix this issue.

[2019-12-02 21:49] carlosmenezesanjos opened #30631 "Problem installation via pip pytorch 1.3.0 and 1.2.0 on windows cuda 10.0"
## 🐛 Bug

Installing via pip using this command: pip install torch==1.2.0+cu100 torchvision==0.4.0+cu100 -f https://download.pytorch.org/whl/torch_stable.html

Doesn't work as shown bellow

When trying to install via pip for version 1.2.0 for cuda 10.0 i had to use a direct link like this:

pip install https://download.pytorch.org/whl/cu100/torch-1.2.0-cp36-cp36m-win_amd64.whl

For pytorch 1.3.0 a

[2019-12-02 21:49] mcarilli commented on #30526
I can also work around by removing the annotations, but i’d rather not, because then my schema won’t be telling the whole truth about its inplace effects and aliasing.

[2019-12-02 21:49] jamesr66a commented on #30331
Request for patch: https://github.com/pytorch/pytorch/pull/30629

Backwards-compatibility fix for a change landed shortly before the branch cut

[2019-12-02 22:01] xkszltl commented on #30627
If I delete the `<custom_path>/usr/local/*` and rerun `cmake --build . --target install` (so that there's nothing recompiled, just pure install), I still get all of them, indicating this is a install-specific issue.

[2019-12-02 22:03] xkszltl commented on #30627
[code]

[2019-12-02 22:05] xkszltl commented on #30627
Note that this only applies to `/usr/local/include`, other dirs like `lib` and `bin` weren't affected,

[2019-12-02 22:06] zou3519 commented on #23475
cc @albanD how do you feel about upstreaming these for now so that users don't have to write them out by hand? I see requests for those from time-to-time ([this](https://discuss.pytorch.org/t/how-to-penalize-norm-of-end-to-end-jacobian/62771/16) is the most recent one) and each time I write out the code so I think it would be nicer to have those as helper functions even though they may not be the

[2019-12-02 22:09] eellison commented on #30138
@smessmer any thoughts here ? can we just remove that assert

[2019-12-02 22:11] eellison commented on #30256
I'm closing. Feel free to reopen if the existing implementation isn't what you had in mind.

[2019-12-02 22:11] #30256 closed

[2019-12-02 22:11] scottcantreid commented on #30049
Hi @liulizhou -- I haven't yet figured out a fix for the JIT+DataParallel CPU memory leak issue, although I am looking into writing custom C++ extensions as an alternative to JIT. The downside to writing C++ extensions is that you cannot rely on autograd anymore -- you need to write both forward and backwards passes for custom models. Maybe not so much of a downside if you enjoy taking derivatives

[2019-12-02 22:14] albanD opened #30632 "Add high level autograd functions"
It would be very useful to have high level autograd functions such as:
- jacobian
- hessian
- jvp
- vjp

The questions are:
- Where should they go? `torch.autograd.??`
- What kind of api we want to provide: should they be function to function mapping? Or should they be function + value to value mappings?

cc @ezyang @SsnL @albanD @zou3519 @gqchen

[2019-12-02 22:15] albanD commented on #23475
Yes, I want to do it: https://github.com/pytorch/pytorch/issues/30632

[2019-12-02 22:52] zou3519 commented on #30632
Seems reasonable. What were your concerns for putting them in autograd or putting them not in autograd? Right now our autograd is reverse-mode but I think it makes sense for autograd to be able to do different things.

I kind of like jax-style function-to-function mappings because they make the code feel more composable. Realistically speaking one potential way to determine which one to do would b

[2019-12-02 22:58] SsnL commented on #30565
@albanD I didn't read this issue, but here is an attempt to explain `align_corners`.

I'll use 1D interpolating from size `iW` to `oW` as example, but it can be easily extend to general dimensions and sizes.

When interpolating, we should think of pixels as the value of the *square*. We can two reasonable choices to map output spatial location to input spatial location.

1. Map `0: out => 0: in`,

[2019-12-02 23:03] elbamos commented on #27409
@xuhdev Hey I'm happy to help any way I can!  (Sorry for the delay to your prior question - I was out of town on business.)

Here's what I get from a fresh compile:

[code]

And after `install_name_data`, of course the `otool` output doesn't change:

[code]

[2019-12-02 23:12] pritamdamania87 opened #30633 "Remove RPC internal helper that overrides the default pickler"
As discussed on https://github.com/pytorch/pytorch/pull/30185#pullrequestreview-320396834, we should remove the API that allows specifying a default pickler once the boxing and unboxing approach using `nn.Module._apply` works.

[2019-12-02 23:13] pritamdamania87 commented on #30633
@zzzwen AFAIK we can remove this API now since the boxing and unboxing approach works currently?

[2019-12-02 23:15] albanD commented on #30565
Thanks for the explanation ! It is indeed non-trivial!

@ZisIsNotZis
So in the case `align_corners=False` and there is a single output, we expect to always read `input[0/foo]` and so we only get `input[0]` which is an exact entry and thus the current behavior.

If you set `align_corners=True` on the other hand, you will get `input[0.5*iW - 0.5]` which will land your in the middle of the input and

[2019-12-02 23:24] albanD commented on #30632
- My concern was more how to name this new "submodule" of autograd. But that is not a urgent issue.

- I do like the function-to-function style as well, but we support many more operations, including arbitrary side effects. So our function-to-function version would be much weaker than theirs. But maybe we're happy with this? I agree that writing both these things with each style should give good s

[2019-12-02 23:28] jph00 commented on #28361
Sorry @rgommers I shouldn't have said "a dtype change". I meant something like "a change to `self.__class__`". I see the cause of the confusion now! :)

[2019-12-02 23:32] xuhdev commented on #27409
Oops, I'm sorry, I meant `otool -l /path/to/libtorch.dylib`

[2019-12-02 23:36] Roger-luo commented on #755
FYI. Regarding to complex derivatives, we had a long discussion in Julia and its implementation is now in [ChainRules](https://github.com/JuliaDiff/ChainRules.jl) and [Zygote](https://github.com/FluxML/Zygote.jl/tree/master/src/lib) now. Generally, people only need
`\partial L/\partial adjoint(z)` as the gradient, but the derivative is different as `\partial L/\partial z`, an extra interface shoul

[2019-12-02 23:48] elbamos commented on #27409
Thought you might...

Before:
[before.txt](https://github.com/pytorch/pytorch/files/3913800/before.txt)

After:
[after.txt](https://github.com/pytorch/pytorch/files/3913803/after.txt)

And the diff is:
[code]

[2019-12-02 23:58] bzinodev opened #30635 "pytorch/examples/imagenet model fails to be scripted"
This is probably a known issue. scripting torch/nn/parallel/data _parallel.py fails.
Reporting that pytorch/examples/imagenet fails because of this issue.

To repro:
Step 0: install pytorch anf torch/vision
Step 1: get pytorch/examples from github
Step 2:Insert the line below:

diff --git a/imagenet/main.py b/imagenet/main.py
index 2a7fc13..48010da 100644
--- a/imagenet/main.py
+++ b/imagenet/main

[2019-12-03 00:04] zou3519 commented on #30632
That's a great point. I don't know how in-place ops and views would affect this -- how would our function-to-function version turn out weaker?

Since this is a new API, one thing we could do (maybe extreme) is to ban side effects. If we were redesigning autograd/pytorch from scratch, would we have arbitrary side effects?

[2019-12-03 00:10] nairbv commented on #27610
I think there are deeper issues I'm trying to describe that I don't think I'm getting across clearly, but this already seems fundamentally very hard on users. I could imagine a deployment where 5 servers would be enough compute to run inference on 10 models of varying utilization, and where each model might have a long history of versions. A user won't want to leave one server under-utilized, and

[2019-12-03 00:52] jerryzh168 commented on #29170
I'll close for now, feel free to re-open if the problem persists

[2019-12-03 00:52] #29170 closed

[2019-12-03 00:54] jerryzh168 commented on #23932
should we close this?

[2019-12-03 00:54] jerryzh168 commented on #24395
fixed now I think

[2019-12-03 00:54] #24395 closed

[2019-12-03 00:55] jerryzh168 commented on #23931
fixed now

[2019-12-03 00:55] #23931 closed

[2019-12-03 00:55] #23924 closed

[2019-12-03 00:55] Arctanxy opened #30638 "Unknown builtin op: aten::bool"
## 🐛 Bug

`tensor.bool()` doesn't work in torch.jit.script：

## Code sample to reproduce this error:

[code]

## Error information:

[code]

The suggestions ops can't work either.

## Environment
[code]

cc @suo

[2019-12-03 01:22] pbelevich commented on #29137
@kurtamohler I didn't start working on this issue. Since I'm quite busy with other tasks, please take this issue.

[2019-12-03 01:37] ZisIsNotZis commented on #30565
I tried changing align_corners, but it didn't really correct anything

[code]

[2019-12-03 01:48] kurtamohler commented on #29137
cool, thanks!

[2019-12-03 01:57] JohnZengAsr commented on #29108
Hi, suo.
    Thank you for your reply. I've upload the model to git hub:
 git clone https://github.com/JohnZengAsr/issue29108.git
can you down load it from the link?

[2019-12-03 02:18] peterjc123 commented on #30631
As for cuda 10.0 and pytorch 1.2.0, the version specifier is 1.2.0. And we don't build pytorch 1.3.x binaries with CUDA 10.0, so you should use the CUDA 10.1 ones instead, which has the version specifer of 1.3.0 and 1.3.1.

[2019-12-03 02:18] #30631 closed

[2019-12-03 02:21] gitabtion commented on #30507
I have tried 1.3.0, it doesn't work at all. Then I updated CMake and GCC, but not works for this problem.

[2019-12-03 02:35] JohnZengAsr commented on #29108
another questions is, I've saved a trained model by the below line
torch::save((torch::nn::Sequential)localModel, traindScriptPath);
and than load it at the next start by the following line.
torch::load((torch::nn::Sequential)localModel, traindScriptPath);
but seems parameters of th local defined module localModel has not been initiated by the load. it keep as the default as the module first creat

[2019-12-03 02:36] ptrblck commented on #26112
Memory usage for V100 SXM2 (32GB):

[code]

Unfortunately I cannot reproduce this issue, although I'm using the same binaries.
@MatthieuBizien do you still see this issue in the latest release?

[2019-12-03 02:42] JohnZengAsr commented on #29108
Another questions is, I've saved a trained model by the below line
    torch::save((torch::nn::Sequential)localModel, traindScriptPath);
And then load it at the next start by the following line.
    torch::load((torch::nn::Sequential)localModel, traindScriptPath);
But seems that parameters of the local defined module 'localModel' has not been initiated by the loading action. It keeps as the defaul

[2019-12-03 03:36] mrshenli commented on #30409
fixed by #30624

[2019-12-03 03:36] #30409 closed

[2019-12-03 03:37] gitabtion commented on #30507
I tried to remove the line of code ``#include <torch/script.h>``, It works fine!  I don't know what happen, but I want to know why.

[2019-12-03 03:43] divyekapoor commented on #30365
Thanks for the detailed reply @suo !
Our usecase is cross features for some of our online serving models where the features cannot be prematerialized (think UserContext x ImageFeatures where both users and images are large sets). Think about these powering something like the Instagram feed / Pinterest feed.

For the purposes of our discussion, assume Users have some topic affinities and Images hav

[2019-12-03 04:04] gitabtion commented on #30507
Additional, I needs this head file to load the torchscript module file.

[2019-12-03 04:26] yf225 commented on #30507
@gitabtion Does it work if we do `#include<torch/torch.h>` after `#include<torch/script.h>`?

[2019-12-03 04:58] soumith commented on #30450
I suspect that this is something deeper, i.e. libcaffe2_nvrtc.so is not able to be loaded.

But if the issue is reproducible on 1.2 and 1.3 as well, there are no recent commits that are the issue. I am not entirely sure what's up. I cannot reproduce this on a fresh docker env on Ubuntu 16.04, 18.04 or CentOS7 that uses system Python (not Conda).

@chyzzqo2 any chance you can repro the issue in a d

[2019-12-03 05:02] soumith commented on #27815
@peterjc123 low pri right now for me, I likely wont get to it.

[2019-12-03 05:03] soumith commented on #29044
@VitalyFedyunin since @fritzo is the maintainer of torch.distributions and he said yes, then yes we want to include it.

[2019-12-03 05:25] glenn-jocher commented on #22906
I can not export from PyTorch to ONNX using the upsample operator with torch version 1.3.1,
onnx version 1.5.0.

MINIMUM CODE TO REPRODUCE:
[code]

Produces the following error:
[code]

[2019-12-03 05:25] peterjc123 commented on #30638
I can reproduce this in 1.3.1 Windows binaries.

[2019-12-03 05:26] glenn-jocher commented on #27176
I can not export from PyTorch to ONNX using the upsample operator with torch version 1.3.1,
onnx version 1.5.0.

MINIMUM CODE TO REPRODUCE:
[code]

Produces the following error:
[code]

[2019-12-03 05:28] xkszltl commented on #30627
I'm currently working around this by a `find | sed | xargs rm -rf` workflow.

[2019-12-03 05:38] TH3CHARLie commented on #30524
Implement this op seems straightforward, would you mind I take a try? @albanD

[2019-12-03 06:00] #30508 closed

[2019-12-03 06:03] peterjc123 commented on #23823
Upstream issue: https://bugs.python.org/issue18199
They rejected the idea to add the prefix "\\?\" to the path to extend the MAX_PATH to 65536. So you'll need to get in the registry route.

[2019-12-03 06:15] smessmer commented on #30102
see https://github.com/pytorch/pytorch/pull/30649

[2019-12-03 06:26] chyzzqo2 commented on #30450
You have a docker image you'd like to me to use to try it out?

[2019-12-03 06:39] chyzzqo2 commented on #30450
That was my thought too but changing LD_LIBRARY_PATH did make it work, so the libs themselves seem to be fine.

I was using 18.04, what image were you using to test?

[2019-12-03 06:44] fanxinping opened #30651 "The different order of import SummaryWriter may cause Segmentation fault"
## 🐛 Bug

If I use `from torch.utils.tensorboard import SummaryWriter` to import  `SummaryWriter` at the begin of code, the code `SummaryWriter('path')` works well. But if I have imported something else firstly, then import `SummaryWriter` cause `Segmentation fault`.
## To Reproduce

Steps to reproduce the behavior:
The code sample should not be run in jupyter notebook, because the jupyter's kerne

[2019-12-03 06:57] nauyan opened #30652 "Pytorch android Tensor.Shape() function not producing expected results."
I am loading an image from assets folders in the form of bitmap. Next, I convert it into Tensor using **TensorImageUtils.bitmapToFloat32Tensor()** method after that when I check the shape of Image using the **.Shape()** function and print it on the log I am getting values like **Tensor Shape is [J@41c1e52** whereas If I just print the tensor on the console the output I get is **Tensor([1, 3, 384,

[2019-12-03 07:23] BrianHan777 opened #30653 "Windows LibTorch C++ Load CUDA Module with std runtime error message "shape [4] is invalid for input if size 40""
## 🐛 Bug

Hi~

I use torch.jit.trace to create the model for LibTorch C++.
Python code show as follows:

[code]

And I run the following C++ code:

[code]

I got the error message as follows:

<p><a target="_blank" rel="noopener noreferrer" href="https://raw.githubusercontent.com/BrianHan777/Test/master/errormessage.png"><img src="https://raw.githubusercontent.com/BrianHan777/Test/master/errormess

[2019-12-03 07:52] sonuagarwal1008 commented on #18993
**

**
See also "C:/Users/agarwals/Downloads/PortableGit/pytorch/build/CMakeFiles/CMakeOutput.log".
See also "C:/Users/agarwals/Downloads/PortableGit/pytorch/build/CMakeFiles/CMakeError.log".
Traceback (most recent call last):
  File "tools\build_libtorch.py", line 23, in <module>
    rerun_cmake=True, cmake_only=False, cmake=CMake())
  File "C:\Users\agarwals\Downloads\PortableGit\pytorch\tools\b

[2019-12-03 07:56] peterjc123 commented on #30631
You could get more details here: https://github.com/pytorch/pytorch/issues/23656.

[2019-12-03 08:05] pietern commented on #30584
Thanks for reporting. We do run CI with clang, but I believe with an older version.

Is there any other clang crash information available, e.g. a stack?

cc @vishwakftw because of Sobol.

[2019-12-03 08:08] pietern commented on #30584
cc @kostmo @ezyang We should consider adding builds for newer clang versions.

[2019-12-03 08:11] skn123 commented on #30584
@pietern I do not have any other information. I wanted it to build correctly and that's why reported the (potential) fix also. 9.0.1 is as of today (Dec 2019) the latest version of clang.

[2019-12-03 08:12] pietern commented on #30589
Can you clarify your proposal? Which p value do you mean for weight norm?

[2019-12-03 08:15] pietern commented on #30592
Thanks for reporting. The BatchNorm leak you're referring to was fixed in #2326.

I briefly looked at the layer norm implementation but didn't see anything stand out...

cc @gchanan

[2019-12-03 08:18] knsong commented on #5672
Is there update for this issue? I also need the same feature.

[2019-12-03 08:19] vainaijr commented on #30589
in weight_norm.py
[code]
here, p=2, as using 2-norm, but if I want to use nuclear, 3, or higher value here.

[2019-12-03 08:22] pietern commented on #30595
Thanks for posting your solution, @xsacha.

Please use the forums at https://discuss.pytorch.org/ for questions and discussion.

We use the issue tracker for issues only.

[2019-12-03 08:22] #30595 closed

[2019-12-03 08:23] pietern commented on #30601
@EsmaeilFarhang Is this file mentioned in the 1.3.1 or master documentation?

[2019-12-03 08:27] pietern commented on #30613
Thanks for the report.

cc @gchanan

[2019-12-03 08:27] wulongjian opened #30654 "What is the different between nn.Functional.conv2d and nn.Conv2d?It seems a bit redundant?"
## ❓ Questions and Help
Hi,I have just started learning pytorch recently. In the official website tutorials, I often see nn.Conv2d and nn.Functional.conv2d. I don't understand the difference between the two writing methods. It seems that one of these two is enough.

[2019-12-03 08:31] pietern commented on #30616
You don't have to call `net.to(device)` for a module that's already wrapped with `nn.DataParallel`.

What is the value of `gpu_ids` for you? If you remap GPU 1 to 0 through `CUDA_VISIBLE_DEVICES`, you'll still have `device` equal to GPU 1, even though you remapped it to 0. I would try to get rid of setting `CUDA_VISIBLE_DEVICES` and instead pass a `device_ids` kwarg to `nn.DataParallel`.

[2019-12-03 08:36] pietern commented on #30604
@jjlilley Can you link to the PR that disables it?

[2019-12-03 08:39] pietern commented on #30635
(formatted your post with markdown to make it better readable).

Thanks for reporting. This is indeed a known problem. We don't yet have the model replication / broadcasting functions available in the jit, nor do we support variable number of arguments as you can see in the error message.

[2019-12-03 08:39] mahmoodn commented on #29968
Great. Seems that it is now solved.

[2019-12-03 08:39] #29968 closed

[2019-12-03 08:44] pietern commented on #30627
Huh, that is surprising! Which version of CMake do you use?

cc @kostmo @ezyang

[2019-12-03 08:49] pietern commented on #30652
This sounds like a stringification issue. Can you run some kind of `toString()` function on the shape?

[2019-12-03 08:50] pietern commented on #30654
Please use the discussion forums for questions: https://discuss.pytorch.org/.

[2019-12-03 08:50] #30654 closed

[2019-12-03 08:53] ljk53 commented on #30226
@zetyquickly can you load and run the saved TorchScript model on desktop? Does it only fail when you run on mobile?

[2019-12-03 08:54] pietern commented on #30584
@skn123 Now I see the fix -- removing `constexpr`. I thought it removed the assignment, which would make the code invalid, but that's not the case...

[2019-12-03 08:55] pietern commented on #30589
Are you willing to submit a PR for this? This sounds like a reasonable addition.

[2019-12-03 09:02] ljk53 commented on #30652
Currently tensor.shape() simply returns a raw long[]: https://github.com/pytorch/pytorch/blob/master/android/pytorch_android/src/main/java/org/pytorch/Tensor.java#L351

You should be able to use "System.out.println(**Arrays.toString**(tensor.shape()));" to print its content correctly.

@dreiss @IvanKobzarev - do you think it's worth creating a shape type?

[2019-12-03 09:16] lironmo commented on #30512
https://discuss.pytorch.org/t/can-i-convert-torch-script-module-to-nn-module/62634

[2019-12-03 09:23] nauyan commented on #30652
@ljk53 System.out.println(Arrays.toString(tensor.shape())); does certainly print the shape of tensor but tensor.shape() doesn't print the shape.

[2019-12-03 09:32] nauyan opened #30655 "How to convert Tensor back to BitMap or any image format in Android?"
I have converted a PyTorch model for Android mobile. The purpose of the model is to achieve Super Resolution. The problem I am facing is that the model gives output in the form of Tensor. Whereas I want to convert that tensor into some imaging format but I haven't been able to find a method to achieve this task.

I cannot find something suitable in Pytorch Java documentation for this certain task.