[2019-01-27 23:33] yf225 commented on #16406
@leobitz Could you give a specific example with reproducible code? Thanks

[2019-01-27 23:50] #15297 closed

[2019-01-28 01:06] yf225 commented on #16417
@EMarquer @OmarBazaraa Could you give a minimal repro example that we can run?

[2019-01-28 01:34] yf225 commented on #16358
@guolinke This bug is fixed on master. Could you try installing the nightly builds (`pip install torch_nightly -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html`) ?

[2019-01-28 01:34] #16358 closed

[2019-01-28 02:05] gchanan commented on #16424
We should support negative strides for `flip` :).

[2019-01-28 02:10] tridao commented on #16424
You mean the problem is with the negative dimension in `flip(-1)`? Replacing `flip(-1)` with `flip(1)` in the example above yields identical results.

[2019-01-28 02:49] xuyuan opened #16428 "'swap' type in torch.nn.TripletMarginLoss"
## 📚 Documentation

is it `bool` instead of `float`?

https://pytorch.org/docs/stable/nn.html?highlight=tripletmarginloss#torch.nn.TripletMarginLoss

[2019-01-28 02:50] soumith commented on #16400
This is expected behavior. You have to specify `someseq` as constants.

See the modified snippet that serializes correctly:

[code]

This is covered in https://pytorch.org/docs/stable/jit.html (look for `__constants__` in that page).
cc: @suo to see if any documentation or error messages can be improved.

[2019-01-28 05:48] thstkdgus35 opened #16432 "A bug in parallel.data_parallel when module_kwargs is not None"
## 🐛 Bug

A bug in [parallel.data_parallel](https://github.com/pytorch/pytorch/blob/fdaa77ae8b084eaa7535075538e9d80f4c4a8d1a/torch/nn/parallel/data_parallel.py#L159-L189) when
- The batch size is smaller than the number of GPUs
- With some keyword arguments (module_kwargs) in the custom forward function.

## To Reproduce

Steps to reproduce the behavior:

1. Please execute the test script below (w

[2019-01-28 06:16] tstandley commented on #15296
Did you solve the issue? A similar issue seems to be plaguing me.

[2019-01-28 06:56] EMarquer commented on #16417
I can not reproduce the problem anymore, thus I will close the issue.
The problem disappeared when I stopped storing the preprocessed data in RAM.

@OmarBazaraa, I do not think your problem is the same as mine, as:
- I am trying to allocate 12.50 MiB, with 9.28 GiB free
- you are trying to allocate 195.25 MiB, with 170.14 MiB free

From my previous experience with this problem, either you do not f

[2019-01-28 06:56] #16417 closed

[2019-01-28 06:56] bhushan23 commented on #16192
@colesbury
In python_variable_indexing, applySelect always works on top most dimension and modifies the tensor
In that case, we can force it to always use 0th dimension (which is always passed) and use dim argument to error out correct dimension (which will be increamented outside)
what do you think?

[2019-01-28 07:44] AliengirlLiv opened #16433 "Numeric Instability in cuda for WGAN Gradient Penalty"
## 🐛 Bug

I'm implementing a Wasserstein GAN model in Pytorch. The code is a re-implementation of [this tensorflow code](https://github.com/adler-j/bwgan). That code is a bit of a generalized wasserstein gan, but if you set the hyperparameters appropriately it reduces to a normal wasserstein gan. The re-implementation was done closely in that if we compute the forward output of the generator/discr

[2019-01-28 09:02] PayalNG opened #16436 "How to retrain the modelzoo model in Caffe2?"
## 📚 Documentation
Is there any update/documentation on how to retrain (transfer learning) a pertained model from modelzoo with custom dataset in Caffe2?
I want to use Mask R-CNN2Go model from modelzoo and retrain it with my own dataset, however I don't see any documentation or tutorial on this topic.
Can somebody please point me in right direction?

[2019-01-28 09:03] Xfel commented on #15785
I encountered the same error, and was able to solve it by cleaning up my working directory. The documentation for the build scripts did not mention that they use the current directory as build directory, so I accidentally created an in-source build. This did not work for other reasons, but when I switched to a separate build directory, the generated files were still in the regular source directory

[2019-01-28 09:15] sorenrasmussenai commented on #16364
How about `copy.deepcopy(current)` then?
It seems to work for tensors (cpu and cuda), and will work for ndarrays, floats, etc.
This incurs a small overhead, in cases where copying is not necessary. If that's a problem, it could be handled with a switch, e.g. `step(self, metrics, epoch=None, clone=True)`

[2019-01-28 09:48] pared commented on #16255
@suo I checked, it seems that CuDNN is not linked. Also, I am unable to compile ```torch::cuda::hasCuDNN()``` ('hasCuDNN' is not a member of 'torch::cuda')

@soumith thanks, after swapping current version with nightly, memory usage dropped to 900 MiB.

[2019-01-28 09:54] rosinality opened #16437 "cuDNN error when using half precision convolution"
## 🐛 Bug

When using half precision convolution on PyTorch nightly (20190125), with torch.backends.cudnn.deterministic = True, CUDNN_STATUS_BAD_PARAM runtime error occurs

I found that when using latest PyTorch 1.0, or using fp32, or use torch.backends.cudnn.deterministic = False then this script runs without problem.

## To Reproduce

Steps to reproduce the behavior:

[code]

[code]

## Expected

[2019-01-28 11:06] lakshmiumenon opened #16438 "What is the difference between F.cross_entropy() and F.nll_loss() ??"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-01-28 11:06] lakshmiumenon opened #16439 "What is the difference between F.cross_entropy() and F.nll_loss() ??"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-01-28 11:20] bhack commented on #16158
Also it could be nice to have interpolate exposed in `at::`:
https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/register_prim_ops.cpp#L1490

[2019-01-28 12:45] apaszke commented on #16400
I think we should improve the error message to mention this as a fix. Right now it seems to imply that you simply can't export models like that.

[2019-01-28 13:06] yaysummeriscoming commented on #14755
Any progress on this one?  I'm getting the same error with CUDA 10 and cuDNN 7.4.2.  It seems like a regression, as I was able to successfully build the head from November (1.0.0a0+166eee86) using CUDA 10 and cuDNN 7.4.1

[2019-01-28 13:19] vishwakftw commented on #16438
Please consult the [forums](https://discuss.pytorch.org/) for questions like these. They are well-attended to there.

The doc string for `nn.CrossEntropyLoss()` and `nn.NLLLoss()` distinguish between the formulations quite neatly with the loss equation as well.

[2019-01-28 13:20] vishwakftw commented on #16439
Please don't create duplicate issues.

[2019-01-28 13:22] vishwakftw commented on #16437
Could you please run it with `CUDA_LAUNCH_BLOCKING=1` and report the error message?

[2019-01-28 13:33] fmassa commented on #16424
While I think we should support negative strides in PyTorch in general, I believe that it would be simpler (and probably more efficient) to just dispatch to advanced indexing, something like https://github.com/pytorch/pytorch/pull/7873#issuecomment-392601130 but with the bugs fixed :-)

[2019-01-28 14:21] nivha commented on #16276
@albanD  I'm not sure how to use your tip for Linear. So say linear is Wx+b (x is the output of previous layers).
It's clear how to use register_hook for W and b, but how do I get grad_input w.r.t x? thanks

[2019-01-28 14:24] albanD commented on #16276
You can add that to your network forward pass:
[code]

[2019-01-28 14:37] robbine opened #16442 "ONNX export failed on ATen operator"
Here is the error message: ONNX export failed on ATen operator layer_norm  because torch.onnx.symbolic.layer_norm does not exist

Does pytorch module needs to follow certain rules in order to export using ONNX ?

[2019-01-28 14:42] Hierakonpolis opened #16443 "Cuda error for 3D conv net of input size >=256x256x*"
## 🐛 Bug

3D convolutional network with size > 256x256x4 returns `cuDNN error: CUDNN_STATUS_EXECUTION_FAILED` when performing `loss.backward()`. Works fine on CPU.

## To Reproduce

Steps to reproduce the behavior:

With Zsize >=4 (input size 256x256x4), this code results in `cuDNN error: CUDNN_STATUS_EXECUTION_FAILED`. This is not the case for input size 255x255x100, for example. Eliminating all

[2019-01-28 14:57] nivha commented on #16276
What if I'm using nn.Sequential like:

[code]

And I want to get the grad_input w.r.t to the input of the last layer?

[2019-01-28 15:26] ezyang opened #16444 "Build product tracking on Declarations.yaml is broken"
Steps to reproduce:

Add something like:

[code]

to cmake. Run cmake fresh. It complains:

[code]

However, if you rerun the build enough times, eventually Declarations.yaml is built and then there is no more error.

[2019-01-28 15:38] clements2 opened #16445 "Memory issue in Conv2d"
## 🐛 Bug

RAM consumption continuously increases with repeated calls of Conv2d.

## To Reproduce

The following code reproduces the issue:

    import torch
    import numpy as np
    import resource

    CNN = torch.nn.Conv2d(4, 50, 10, stride=5)
    a = torch.FloatTensor(np.ones((4,100,100))).unsqueeze(0)
    for i in range(int(1e4)):
        CNN(a)

        if i % 1000 == 0:
            print('

[2019-01-28 15:48] SsnL commented on #16424
@gchanan I agree that we should support <0 strides. But, there are also a number of places where strides are not mentioned because they are assumed to be >= 0. So the the workload is probably on the same level as scalars/empty tensors.

[2019-01-28 15:53] HapeMask opened #16446 "Windows LibTorch nightly build contains nothing but DLLs."
## 🐛 Bug

If you download today's LibTorch nightly build for Windows w/CUDA 10, the zip file is only ~400MB and contains just a few DLLs, nothing else.

## To Reproduce

Steps to reproduce the behavior:

1. Download the Windows LibTorch nightly binaries: https://download.pytorch.org/libtorch/nightly/cu100/libtorch-win-shared-with-deps-latest.zip
2. Unzip files.
3. Unzipped files are just `libtorch

[2019-01-28 16:08] ezyang commented on #16444
I think the problem is that the file we're depending on lives in another target, and therefore I have to also explicitly specify a dependency on that target as well. (ninja doesn't have this problem because it doesn't generate a recursive make system and has fine-grained dependencies between everything.)

[2019-01-28 16:08] #16444 closed

[2019-01-28 16:36] yf225 commented on #16442
@robbine Can you use the issue template to give us more information?

[2019-01-28 16:43] yf225 commented on #16446
cc @peterjc123

[2019-01-28 16:49] marijnfs commented on #14811
@hedgecrw have you found any better method by know by any chance?

[2019-01-28 16:53] SsnL opened #16448 "[ROCm] converting to different device & dtype gives wrong results"
## 🐛 Bug

On ROCm builds, converting a `float64` tensor of `gpu0` to a `float32` tensor on `gpu1` gives wrong results.

## To Reproduce
[code]
Output:
[code]

## Additional context

I used this PR (https://github.com/pytorch/pytorch/pull/16431) to reproduce this bug. An example of the error log is at https://ci.pytorch.org/jenkins/job/pytorch-builds/job/py2-clang7-rocmdeb-ubuntu16.04-test/9093/con

[2019-01-28 16:55] yf225 commented on #16432
In the documentation of `torch.nn.DataParallel` (https://pytorch.org/docs/stable/nn.html#torch.nn.DataParallel) it's mentioned that `The batch size should be larger than the number of GPUs used`, so I don't think we support batch size smaller than the number of GPUs at the moment.

[2019-01-28 17:01] gchanan commented on #16424
@SsnL do you have an example?

[2019-01-28 17:07] amd-lthakur opened #16450 "RuntimeError: _th_normal_ is not implemented for type torch.HalfTensor"
## 🐛 Bug

I Set the default variables in the file to "torch.set_default_tensor_type('torch.HalfTensor')". After the following line give the error described in the title:
 self.bias = torch.nn.Parameter(torch.randn(1))

Request some help here.
Thanks in advance.

[2019-01-28 17:31] zou3519 commented on #16317
Closing due to @t-vi's comment; due to how autograd works, even though you removed the NaN from a later part the NaNs still return because you have a step where you're dividing by 0.

[2019-01-28 17:31] #16317 closed

[2019-01-28 18:15] hyperfraise commented on #11422
By the time I used these options on the install command generator on pytorch.org

Preview (Nightly)
Linux
Pip
Python 3.7
10.0

But it does work on master today, so I'm guessing some of you guys were intentionnally fixing it by the time.

[2019-01-28 18:26] alexgkendall opened #16453 "TorchScript trace to support named tuple or dictionary i/o"
Torch Script trace is an awesome feature, however gets difficult to use for complex models with multiple inputs and outputs. Right now, i/o for functions to be traced must be `Tensors or (possibly nested) tuples that contain tensors`, see: https://pytorch.org/docs/master/jit.html

It would be great to support dictionaries and/or named tuples.

Unfortunately named tuples don't work:
[code]

gives e

[2019-01-28 18:31] yf225 commented on #16266
This sounds good to us, would you be interested in working on it?

[2019-01-28 18:34] yf225 commented on #16329
cc @gchanan

[2019-01-28 18:37] yf225 commented on #16357
@fmassa

[2019-01-28 18:39] yf225 commented on #16183
@vvishal this is fixed in nightly builds and also v1.0.1

[2019-01-28 18:40] yf225 commented on #16364
@sorenrasmussenai `copy.deepcopy(current)` is a good idea

[2019-01-28 18:42] yf225 commented on #16443
cc @ngimel

[2019-01-28 18:50] fmassa commented on #16357
This sounds good to me.

The beta argument in `smooth_l1_loss` is the the argument which controls where the frontier between the L1 and the L2 losses are switched.
The (python) implementation (take from [maskrcnn-benchmark](https://github.com/facebookresearch/maskrcnn-benchmark/blob/master/maskrcnn_benchmark/layers/smooth_l1_loss.py)) is as follows:
[code]
This can be preferably solved as follows:

[2019-01-28 18:50] soumith commented on #16303
you are holding onto the graph inputs needed to compute gradients on the GPU.

More specifically, the `**2` here is for the operation `x^2`, and it's gradient is `2*x`. If you see, the input to `**2`, it's on the GPU (i.e. the output of `torch.max`. You have two options I think

1. put the whole `torch.max + **2` operation in a `with torch.no_grad():` block -- recommended and applies to any genera

[2019-01-28 18:50] #16303 closed

[2019-01-28 18:53] yf225 commented on #16433
cc @soumith

[2019-01-28 18:53] hedgecrw commented on #14811
Unfortunately no.  It looks like until they merge script::Module and nn::Module, there is no way to deploy a model trained using the pure C++ frontend to a production runtime without the runtime already having the C++ version of the model compiled into the application.  Kind of makes the pure C++ frontend a little worthless in my opinion.  Please post back if you find any way to achieve this!

[2019-01-28 18:54] yf225 commented on #14755
@zou3519

[2019-01-28 18:55] yf225 commented on #16445
Can you try the nightly builds? We might have fixed the issue

[2019-01-28 18:55] SsnL commented on #16424
@gchanan
1. calling into 3rd party libraries that probably don't support negative strides (MKL, cufft, cudnn)
2. some code to choose strategy/kernel likely needs to be updated to consider negative strides (e.g., CPU reduction kernel strategies)
3. `as_strided` backward probably needs some updates

[2019-01-28 19:02] SsnL commented on #16448
I was told that this will be solved with the upcoming release of ROCm 2.1.

[2019-01-28 19:15] goldsborough commented on #14811
This is not a problem unique to the PyTorch C++ frontend. This is a problem you will face with deploying any C++ code where the application is defined in code rather than some configuration file -- any change in the code requires deploying a new binary. If you want a way to deploy a new model without having to update your runtime, you can use the [Python hybrid frontend](https://pytorch.org/tutori

[2019-01-28 19:44] stas00 commented on #16266
Thank you for affirming that it'd be a useful addition, @yf225.

If I knew pytorch internals I'd have sent a PR in first place ;) I'd be happy to collaborate with someone who does.

FWIW, here is a simple implementation using pynvml and a monitoring thread, but which is imprecise because the thread could miss a peak. `GPUMemTrace`: https://github.com/fastai/fastai/blob/master/fastai/utils/mem.py#L

[2019-01-28 20:00] hedgecrw commented on #14811
No, I completely understand about the separation of application code and
model.  The thing I don't understand is why it's possible to serialize a
model trained in Python for use in production C++, but it's not possible to
do the same for a model trained in C++.  You're right that the C++ frontend
is invaluable and MUCH easier to use when trying to do research involving
code and frameworks already

[2019-01-28 20:04] ezyang opened #16458 "TensorRTOpTest.test_vgg19 is flaky"
Sample failure: https://circleci.com/gh/pytorch/pytorch/632436?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[code]

[2019-01-28 20:15] gchanan commented on #15994
Adding support for number seems reasonable -- that would automatically happen if we moved this to C++.  Is that feasible?

[2019-01-28 20:18] yf225 opened #16459 "Only run a subset of CI jobs in PR to reduce CI flakiness"
Some jobs only differ on the minor version of Python (e.g. `pytorch_linux_trusty_py2_7_9_build` and `pytorch_linux_trusty_py2_7_build`), and checking their green-ness on master is likely enough.

[2019-01-28 20:52] suo commented on #16453
Thanks for the request! @zasdfgbnm is working returning NamedTuples from operators right now in #16253. Once that is in, we plan to add in more expansive support for NamedTuples (like as I/O in tracing, as you suggest).

[2019-01-28 21:06] tstandley commented on #15296
For anyone interested, I had to uninstall anaconda completely and reinstall it and then pytorch to fix the issue. Uninstalling and reinstalling pytorch was not sufficient.

[2019-01-28 21:17] suo commented on #16255
Great! Good to hear.

[2019-01-28 21:18] suo commented on #16255
Whoops, realized that @dawnwch may still be having a problem. @dawnwch, can you follow the same steps to verify whether cudnn is linked in?

[2019-01-28 21:33] soumith commented on #16450
`torch.set_default_tensor_type('torch.HalfTensor')` this is not supported -- we dont support any operations other than copy on a CPU HalfTensor, we probably should make this an error.

[2019-01-28 21:33] #16450 closed

[2019-01-28 22:16] thstkdgus35 commented on #16432
@yf225, Thank you for your response.

I know that there is a documentation about ``batch_size`` and the number of GPUs, but I still think this is an unexpected error that should be prevented.

Here are some reasons:

1. Sometimes, we cannot make a full batch because of the number of training/test samples. For example, assume that we have 20 samples for training and there are 4 GPUs available. It w

[2019-01-28 22:34] mrshenli commented on #2655
@yikang-li @wandering007

Do you have an example to reproduce the error?

[2019-01-28 22:47] colesbury opened #16471 "del Tensor.grad segfaults"
## 🐛 Bug
Attempting to delete the `grad` attribute of a Tensor from Python results in a segmentation fault.

## To Reproduce
[code]

Python 3, PyTorch master (Jan 25, 2019)

## Additional context
The delete gets translated by the Python C API to a set attribute with `nullptr` (as opposed to `Py_None`) here:

https://github.com/pytorch/pytorch/blob/e3c0926c449dd8645583216c96a981d43efe2aef/torch/csr

[2019-01-28 23:04] vvishal commented on #16183
Will,

Thank you very much for your prompt attention.  Installing via pip install
-U still says 1.0.0 is the latest version. Do we need to do anything
different to get v1.0.1?

Best,
Vishal

On Mon, Jan 28, 2019 at 10:40 AM Will Feng <notifications@github.com> wrote:

[2019-01-28 23:17] rosinality commented on #16437
I run with it,

[code]

[2019-01-28 23:34] yf225 commented on #16183
@vvishal v1.0.1 is not released yet, you can try out the nightly version: `pip install torch_nightly -f https://download.pytorch.org/whl/nightly/cu90/torch_nightly.html`

[2019-01-29 01:49] toby5box commented on #5136
Hey don't feel bad, can't build Caffe either.

[2019-01-29 03:19] robbine commented on #16442
I am trying to export this very large bert transformer module, https://github.com/robbine/allennlp-as-a-library-example/blob/master/my_library/modules/seq2seq_encoders/transformer.py
I would like to upload a full stack info if needed. Here is a short stack trace:
Traceback (most recent call last):
  File "scripts/export_pytorch_script.py", line 87, in <module>
    sys.exit(main())
  File "scripts/

[2019-01-29 03:45] cuixing158 commented on #15642
I also encountered the same problem and reported "torch.jit.load()" an error. Can you help me find it?

from models import resnext
model = resnext.resnet50(num_classes=7, shortcut_type= 'A', cardinality=32,
                         sample_size=112, sample_duration=30,
                         last_fc=True)
model_data = torch.load(r'./save_1.pth')
model.load_state_dict(model_data['state_dict'])
mod

[2019-01-29 03:47] soumith commented on #16437
cc: @syed-ahmed might be your recent cudnn algorithm selection diff?

[2019-01-29 03:48] cuixing158 commented on #15642
@suo  I also meet the same problem,"torch.jit.load" can't load the model, could you help me ?

from models import resnext
model = resnext.resnet50(num_classes=7, shortcut_type= 'A', cardinality=32,
                         sample_size=112, sample_duration=30,
                         last_fc=True)
model_data = torch.load(r'./save_1.pth')
model.load_state_dict(model_data['state_dict'])
model.eval()

[2019-01-29 03:54] soumith commented on #14985
cherry-picked onto v1.0.1. Closing now. Binaries will be out soon.

[2019-01-29 03:54] #14985 closed

[2019-01-29 04:49] vishwakftw commented on #16471
Is resetting the `grad` attribute (as done in the case of `PyNone`) the expected behavior here?

[2019-01-29 05:01] syed-ahmed commented on #16437
Thanks for the cc! I'll try to reproduce and followup on this issue.

[2019-01-29 05:18] yngtodd opened #16486 "TypeError when specifying output_shape in nn.MaxUnpool1d()"
## 🐛 Bug

I am getting a `TypeError: can only concatenate tuple (not "list") to tuple` when specifying the `output_shape` in `nn.MaxUnpool1d()`

## To Reproduce

Steps to reproduce the behavior:

Using the example on https://pytorch.org/docs/stable/nn.html#torch.nn.MaxUnpool1d:

[code]
## Stack Trace

[code]

## Expected behavior

When I do not specify `output_shape` in `unpool`, everything is fin

[2019-01-29 06:07] stgzr commented on #16144
@pietern I recompiled PyTorch with the modified version of Gloo. It seems that the memory leak issue won't happen again. I will try `reduce` and `gather` later. Thank you very much👍

[2019-01-29 07:11] zasdfgbnm opened #16492 "torch.jit.script is not getting type hint correct"
I don't think users would do odd things like below, but it would be nice to fix:
[code]

prints

[code]
but it should be
[code]

[2019-01-29 08:34] nebuladream opened #16494 "caffe2 softmaxwithloss problem"
my output label is  batch_size x  10 （for 10 labels）
 blob_out = model.FC(  blob_out, 'pred', dim_in, 10)
softmax, loss = model.SoftmaxWithLoss(  [blob_out, labels], ['softmax', 'loss'], scale=scale)
 but SoftmaxWithLoss report error like this:
 what():  [enforce fail at softmax_ops.cu:307] T.size_from_dim(canonical_axis) == 1. 10 vs 1 Error from operator:
input: "gpu_0/pred" input: "gpu_0/labels"

[2019-01-29 08:36] nebuladream commented on #16494
I define the input op as:
label_shape[0] = batch_size_;
label_shape[1] = 10;
prefetched_label_.Resize(label_shape);

[2019-01-29 09:44] t-vi commented on #4568
#12500 will do this.

[2019-01-29 10:49] Haydnspass commented on #1552
Are there updates on this or any way I could help?
I would need to compute cubic spline coefficients on 'calibration' data and then evaluate the function on arbitrary points xq.
So it would be nice to construct the interpolation and then query:

[code]
where x is N x D-dimensional and y N x 1 dimensional

[2019-01-29 11:42] bhushan23 commented on #16471
Yes. py_grad should be Py_None and not nullptr

[2019-01-29 11:42] davidenitti opened #16497 "indexing not properly converted to ONNX"
## 🐛 Bug

indexing is not properly converted to onnx. if I execute `x[:,:,-1]` the export to onnx seems to work, but when I try to read onnx with caffe2 I have an error. If I convert the onnx to tensorflow I get a similar error.
If I replace  `x[:,:,-1]` with `x[:,:,x.shape[2]-1] ` the problem is solved, but this is not ideal.

[code]

## To Reproduce

[code]

## Environment

PyTorch version: 1.0.

[2019-01-29 12:20] clements2 commented on #16445
Thanks for your response. The problem is definitely less with the nightly build, but hasn't completely gone away. With both setups I still observe a memory buildup that is visible when printing memory usage every 1e5 iterations (as opposed to 1e3 in my example above).

[2019-01-29 13:47] xxtemp opened #16498 "Different behavior of torch.round() on CPU and GPU"
## 🐛 Bug

torch.round() seems to be rounding differently for CPU and GPU tensors.
On CPU tensors it rounds [half-to-even](https://en.wikipedia.org/wiki/Rounding#Round_half_to_even) and on GPU it rounds [away-from-zero](https://en.wikipedia.org/wiki/Rounding#Round_half_away_from_zero) as shown in the example below.

## To Reproduce
CPU rounding:
\>>> torch.Tensor([1.5, 2.5, 3.5, 4.5]).round()
**ten

[2019-01-29 13:51] Xfel opened #16499 "TorchConfig.cmake always sets _GLIBCXX_USE_CXX11_ABI"
Some libraries, namely pybind11, check for the presence of this macro to determine the compiler version; see https://github.com/pybind/pybind11/blob/master/include/pybind11/numpy.h#L286.

When using TorchConfig.cmake and TORCH_CPP_FLAGS or the torch imported target, this definition is added even if the compiler doesn't support it. This breaks compability with those libraries.

[2019-01-29 14:04] gauss345 opened #16500 "Undefined GPU Reference when importing torch with caffe2.onnx.backend for cpu-only pytorch"
## 🐛 Bug

installed in python pytorch-cpu, torchvision-cpu.

when importing: import caffe2.python.onnx.backend as backend
A warning is issued regarding CPU only mode.
subsequent import of : import torch
then produces an ImportError In Python.

## To Reproduce

Python 3.6.7 | packaged by conda-forge | (default, Nov 21 2018, 03:09:43)
[GCC 7.3.0] on linux

WARNING:root:This caffe2 python run does no

[2019-01-29 14:44] aldopareja opened #16501 "[sparse sum] Sparse sum over dimmension gives unexpected results."
## 🐛 Bug

When summing over dimension 0 of tensor of 2 dimensions I'm getting a scalar, whereas summing over dimension -2 gives the correct answer. Is that expected?

## To Reproduce

[code]

## Expected behavior
[code]

## Environment

[code]

[2019-01-29 14:55] ecolss commented on #15015
@vishwakftw Same issue here, so need to install nightly version, but no nightly version for mac OSX??

[2019-01-29 15:00] zou3519 commented on #14755
I used to be able to reproduce this, but I am no longer able to. @yaysummeriscoming could you try pulling from master again and building? Also, do you have an external nccl installed?

[2019-01-29 17:09] gchanan commented on #16322
Yes, `python_module: nn` binds it to `_C._nn`.

As of today you still need to write python to bind it to `torch.nn.functional`.

[2019-01-29 17:11] vishwakftw commented on #16322
We could do this in torch/nn/functional.py:
`from torch._C._nn import *` if we have to bind the functions to `torch.nn.functional`.

[2019-01-29 17:14] gchanan commented on #16322
I think we'd need some changes to do that, because as shown above by @ezyang, the `torch.nn.functional` version sometimes does some specialization.

[2019-01-29 17:43] zou3519 opened #16508 "[docs] torch.nn.functional.one_hot docs missing"
https://pytorch.org/docs/master/nn.html#one-hot

[2019-01-29 17:43] colesbury commented on #16498
The CPU behavior is actually even more inconsistent. Depending on the instruction set it may:
1) Round to nearest even (via _mm256_round_ps with `_MM_FROUND_TO_NEAREST_INT`)
2) Round away from zero (via `std::round`)

[2019-01-29 17:47] zasdfgbnm commented on #16453
@suo Are we talking about the same issue? I think the sample code @alexgkendall showed was talking about to make `torch.jit.trace` correctly recognize `x` as a subtype of tuple and expand it to argument list of `foo`.

Compare
[code]
vs
[code]

[2019-01-29 17:48] colesbury commented on #16498
For comparison:
- NumPy around rounds to nearest even
- Matlab rounds away from zero
- C and C++ round away from zero (std::round, roundf)
- Lua Torch rounds away from zero (using C's roundf)
- Java rounds to positive infinity

[2019-01-29 17:57] sidazhang opened #16509 "[CPP] Cannot compile TF C API and libtorch into the same target"
## 🐛 Bug

Cannot compile TF C API and libtorch into the same target. This makes migration away from TF a little bit annoying. When users (that already use TF) are trying out libtorch, it is just more friction to have to clean up all the TF stuff.

## To Reproduce
[code]

[2019-01-29 18:06] soumith commented on #16509
Possibly relevant PR: https://github.com/pytorch/xla/pull/34

[2019-01-29 18:18] soumith commented on #16509
@sidazhang in your internal bazel build files, add the define `C10_USE_GLOG`

See: https://github.com/pytorch/pytorch/blob/f25322fb9756f2943c00800a086ef2733f864598/c10/util/Logging.h#L25

[2019-01-29 18:31] sidazhang commented on #16509
What is this `logging_is_google_glog.h` and not glog.h? If I define C10_USE_GLOG and don't compile with TF, does this matter?

[2019-01-29 18:45] soumith commented on #16509
the c10 logging has a logging API that can use glog, or can use our own shim.

No it does not matter, you can always compile / link with glog, even when not using TF, if you want.

[2019-01-29 18:56] ezyang commented on #16229
Hello, any update on this? Otherwise I will disable this test. @bddppq @iotamudelta @mrshenli

[2019-01-29 19:00] mrshenli commented on #16229
no update from me

[2019-01-29 19:00] yf225 commented on #16263
High-level summary on why we need this, based on discussion with author:

Basically they would really love to be able to deploy a single JIT model as the system that includes all the logics they need, but right now they have to implement the system in C++ that can call both TorchScript model and normal C++, because there are functionalities in C++ that they can't implement in TorchScript yet (e.g.

[2019-01-29 19:46] bhushan23 commented on #16471
I am not table to find the start point for del
Where does delete gets translated into C API?

Following is the stack trace
[code]

[2019-01-29 20:02] sidazhang commented on #16367
It would be good if the serialization scheme is more general than just tensor. It should be able to serialize any jit::IValue. So for example, we should be able to serialize `std::vector<std::vector<Tensor>>` and after https://github.com/pytorch/pytorch/pull/16208 lands. it should be able to support `map<string, Tensor>` as well (in both directions)

[2019-01-29 20:05] gchanan commented on #16501
Thanks for the report, https://github.com/pytorch/pytorch/pull/16517 should fix it.

[2019-01-29 20:13] petrex commented on #16229
Is this a CPU test? cross-compilation maybe?

[2019-01-29 20:31] pietern commented on #16225
Thanks for elaborating.

Closing this issue since there is more discussion in https://github.com/facebookresearch/maskrcnn-benchmark/issues/172.

[2019-01-29 20:31] #16225 closed

[2019-01-29 20:37] pietern opened #16520 "Make distributed store timeout configurable"
Currently the store timeout can be set only from C++ and defaults to 5 minutes, see: https://github.com/pytorch/pytorch/blob/6a6983ed7f14f8335a5b5614928713cb79658281/torch/lib/c10d/Store.hpp#L18

The timeout can be set through `setTimeout` but this is not possible from Python. We already pass a `timeout` kwarg to `init_process_group` and should pass this same timeout all the way down to the store

[2019-01-29 20:54] umanwizard opened #16523 "The word "ints" is not rendered correclty in docs."
## 📚 Documentation

See attached image. "Tuple of ints" is rendered as "Tuple of python:ints" instead of "int" being converted into a cross-reference.

<img width="536" alt="image" src="https://user-images.githubusercontent.com/1893159/51939676-10053780-23de-11e9-80e2-7fa091ea4396.png">

[2019-01-29 21:07] #6968 closed

[2019-01-29 21:17] #16446 closed

[2019-01-29 21:20] colesbury opened #16527 "Delete _cudart from torch/cuda/__init__.py"
_cudart is the Python ctypes binding to the libcudart.so library. It was previously used for Streams and Events but is now unused. The initialization (in _load_cudart) can sometimes fail. For example, @zou3519 ran into:

[code]

[2019-01-29 21:38] bddppq commented on #16229
Taken a closer look, this indeed looks related to rocm:

[code]

[2019-01-29 21:47] tebesu opened #16532 "Missing gradient when autograd called inside a function on Multi-GPU (eg gradient penalty)"
## 🐛 Bug

Gradient is missing when calling torch.autograd.grad wrapped inside a function on multiple GPU's. (eg computing wgan gradient penalty). Calling torch.autograd.grad inline (not wrapped in a function) on multiple GPU's returns expected behavior.

## To Reproduce

Code below:
[code]

<br>

Output for a single GPU calling `gradient_penalty` function
[code]

<br>

MultiGPU calling `gradient_p

[2019-01-29 21:53] pietern commented on #16520
cc @mrshenli

[2019-01-29 22:09] petrex commented on #16229
@ezyang Quick question, is it on centos only?

[2019-01-29 22:21] bddppq commented on #16229
@petrex it happens on ubuntu as well https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-clang7-rocmdeb-ubuntu16.04-test/8757/console

[2019-01-29 22:48] zdevito commented on #15630
This happens even with NO_CAFFE2_OPS=1, so it is not just a problem inside the caffe2 build.

[2019-01-29 23:08] alexgkendall commented on #16453
@zasdfgbnm yes expanding namedtuple to the argument list of `foo` would be a good step in the right direction!

The reason why this is important is that when you're dealing with complex models with many inputs, e.g. `image0, image1, scalar0, ...` and many outputs `segmentation, depth, optical flow, classification` etc then this is unwieldy to pass as a tuple.

supporting any subset of `namedtuple`

[2019-01-29 23:40] JamesTrick commented on #15863
I'm happy to take on this issue if no one else wants it?

[2019-01-29 23:52] hartb commented on #16280
A correction on the mbind() problem above, that turned out to have a different cause (running in a docker container that didn't permit the binding).

The cudaHostRegistration() leak is still a legitimate problem, though.

[2019-01-30 00:20] #16501 closed

[2019-01-30 00:23] SsnL commented on #16527
btw, `_cudart` is used by `test_cuda_primary_ctx.py` https://github.com/pytorch/pytorch/blob/ffed8bff6a1df334e371957009dd77af0c5140dd/test/test_cuda_primary_ctx.py.

[2019-01-30 01:19] #7354 closed

[2019-01-30 01:20] #7438 closed

[2019-01-30 01:37] jamesr66a commented on #16288
This seems to be resolved. Feel free to reopen if you have additional issues

[2019-01-30 01:37] #16288 closed

[2019-01-30 02:14] perry0418 opened #16539 "fatal error: Aten/native/cpu/CapbilityDispatch.h : No such file or directory"
### when I compiling the Pytorch1.0 (the latest master branch) from sources on TX2, the error occurs while build_deps.  however, when I chechout the v0.4.1 branch, there was a error: MergeInshapeinfo was not declared.
ubuntu 16.04 on TX2
python3.5
CUDA 9.0
CUDNN V7.1.5
CMAKE 3.13.3
### Dose anyone know how to build the Pytorch1.0 on TX2?

### error log:
Scanning dependencies of target gloo_cuda
[

[2019-01-30 02:53] MisonoMayu commented on #15054
I am expirencing the same issue with dynamic batch and dilated conv on my 1070ti(2080ti and 2080 seems not affected) However I found that set  torch.backends.cudnn.deterministic=True could be much better but still slightly slower than it was in 0.4.1.

[2019-01-30 03:36] #15202 closed

[2019-01-30 03:47] ParticularlyPythonicBS opened #16542 "Error with setting tensors to use cpu in packed_padded_sequence when CUDA tensor is set as default"
## 🐛 Bug
@ptrblck  helped me diagnose the issue

if Default tensors are set to gpu, setting length to cpu for pack_padded_sequence doesn't work
## To Reproduce

Steps to reproduce the behavior:
`import torch`
`torch.set_default_tensor_type(torch.cuda.FloatTensor)`
`lengths, _ = torch.sort(torch.randint(1, 100, (10,)), descending=True)`
`lengths = torch.as_tensor(lengths.cpu(), dtype=torch.int64)`

[2019-01-30 03:50] bswrundquist commented on #16123
@zou3519 Thanks for the correction.

[2019-01-30 03:58] wandering007 commented on #2655
@mrshenli Sorry for the later reply. I think the above example is my case. I guess that the parameters on other gpus are copied from the parameters on gpu 0 and they are no longer leaf variables.

[2019-01-30 04:14] keithyin opened #16543 "bug when using sparse.mm"
## 🐛 Bug

when using sparse.mm to do sparse_matrix dense_matrix matrix multiplication, when the sparse_matrix is all zeros, it sometimes gets nan in the result.

## To Reproduce

Steps to reproduce the behavior:

[code]
if you run the above script, sometimes the assertion error will happen.

error messages, stack traces
[code]

## Expected behavior

all zeros is the correct result

## Environment

[2019-01-30 04:38] soumith commented on #16527
[this is a better fix](https://github.com/pytorch/pytorch/commit/f748654e0e070f9e4c635ffc295d694530bb45cd), that I'll cherry-pick onto master, if we want to keep cudart around.
But if we can indeed delete it, that's double awesome!

[2019-01-30 04:39] soumith commented on #15863
@JamesTrick go for it!

[2019-01-30 05:02] alevonian opened #16544 "Windows 10 build using Visual Studio 2017 - THD failing to build, looking for sys/socket.h"
## Issue description
There are at least 12 build errors in building THD as the files use sys/socket.h instead of the windows winsock2.h

## Code example

Trying to build pytorch from source in windows using Visual Studio 2017

## System Info
Error	C1083	Cannot open include file: 'sys/socket.h': No such file or directory (compiling source file C:\Projects\pytorch\torch\lib\THD\base\DataChannel.cpp)

[2019-01-30 05:11] jinfagang commented on #2118
@rahul99 Same problem here, do you have any solution?

[2019-01-30 05:34] kampta commented on #10229
@ailzhang

I get a bit different numbers for pytorch using the script you shared (I'm using a P6000 card, torch 0.4.1). I am getting

Script
[code]

Output
[code]

Is it expected for `nn.conv2d` to take more time with more number of groups (and fewer parameters!) or am I doing something wrong?

[2019-01-30 05:39] Sphinxs commented on #10424
If normalization it's applied, is it impossible to use Inception V3 ?

[2019-01-30 05:50] CoinCheung opened #16546 "nn.CrossEntropyLoss cannot work in distributed mode"
## 🐛 Bug

using nn.DistributedDataParallel instead of nn.DataParallel, the nn.CrossEntropyLoss report errors

## To Reproduce

My code is like this:
[code]
The error message is:
[code]
This is followed by many tensor values.

## Expected behavior

I am trying to compute pixel wised cross entropy loss, this works with dataParallel, but does not work with nn.distributed.DaraParallel

## Environment

[2019-01-30 05:55] peterjc123 commented on #16544
Are you forcing it to build using `USE_DISTRIBUTED=1`? It is not currently supported.

[2019-01-30 07:30] jiangzhonglian opened #16550 "Apply for translation of the Chinese version, I hope to get authorization!"
## 📚 Documentation

---

I am a fan of pytorch in China.
The purpose of our visit is very simple, apply for translation of the Chinese version, I hope to get the relevant authorization!
(Sorry: the official website did not find your email)

There are several reasons:
1. The English level of many Chinese users is not very good.
2. Network problems, you know (China's magic network)!
3. Online blogs

[2019-01-30 07:34] robbine commented on #16442
Both layer_norm and erf are defined in https://github.com/pytorch/pytorch/blob/master/torch/onnx/symbolic.py. However the exporter complaints they are not exist.
/anaconda3/lib/python3.7/site-packages/torch/onnx/utils.py:446: UserWarning: ONNX export failed on ATen operator layer_norm because torch.onnx.symbolic.layer_norm does not exist
  .format(op_name, op_name))
anaconda3/lib/python3.7/site-pa

[2019-01-30 08:30] XuhuiSun95 opened #16551 "C++ link error"
## 🐛 Bug compile together with glog/gflags and thrift results undefined reference

## To Reproduce

Steps to reproduce the behavior:

1. Using stable(1.0) Linux LibTorch C++ CUDA9.0
1. Compile my program together with lib glog and thrift
1. glog/gflags line of code in my program
[code]

Link error:
[code]

## Expected behavior

If I comment out 'find_package (Torch REQUIRED)` in my CMake file, whi

[2019-01-30 08:39] wizardforcel commented on #16550
In addition:

It's better that the official can hold translation activities (just like TensorFlow), but we users can also hold one instead if there is no one.

We sincerely hope that our effort can be merged into the official, because it helps to improve this translation and reduce duplicated effort.

[2019-01-30 08:40] c-hofer opened #16552 "torch::Tensor backward() does not return"
## 🐛 Bug

When a Tensor is given from python into a custom cpp function a call to `backward()` in this function does not return . See example.

## To Reproduce

`sandbox.cpp`:
[code]

`sandbox.py`:
[code]
What additionally puzzles me is that the `requires_grad` flag in `point_cloud.options()` evaluates to `false` as we enter `test_f`.

## Expected behavior

return of `backward` or error.

## Envir

[2019-01-30 09:01] lunasdejavu opened #16553 "Errors while installing from source on Mac"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)Hardware Overview:

  Model Name:	MacBook Pro
  Model Identifier:	MacBookPro11,4
  Pro

[2019-01-30 09:24] fakerbrother opened #16555 "In Tutorials, Using the Pytorch C++ Frontend, return linear(input) + another_bias, should be linear->(input), on Win10"
## 📚 Documentation

![pytorch_issue](https://user-images.githubusercontent.com/42272100/51971257-aeaf9800-24b3-11e9-8885-c618d9d0f25f.jpg)
linear(input) is wrong on my computer, system is win10, should be linear->forward(input).

[2019-01-30 09:50] Sleepychord commented on #15161
Hi, @zou3519 @friskit-china
This maybe results from a unconsidered change. You can avoid it by change all kwargs in inputs to general args with default value padded.
see
https://github.com/pytorch/pytorch/commit/5c6d543b7a6889966eb426e3a137581e75d92533#commitcomment-32115323

[2019-01-30 09:56] lopuhin commented on #7716
I think this issue is not exactly a duplicate of #2584, because batch size 1 can happen in the last batch in the ordinary training, so all usages of `BatchNorm1d` can fail if the `dataset_size % batch_size == 1`, here is an example simulating a simple training loop:

[code]

This will give

[code]

I'm not sure about a proper solution here, to me it seems behaving like BatchNorm2d  (https://github

[2019-01-30 10:02] erwangccc opened #16556 "KeyError: 'No translator registered for layer: name: "res3b_relu_norm"\ntype: "Normalize"\nbottom: "res3b"\ntop: "res3b_relu_norm"\nnorm_param"
It looks like "Normalize" op is not supported in 'caffe_translator.py' when i convert my model from caffe to caffe2.right? I just call the script directly from command line:
`python -m caffe2.python.caffe_translator deploy.prototxt pretrained.caffemodel`

Will you guys add this op to 'caffe_translator.py' in near future?

My environment:
 - PyTorch Version : 1.0.0
 - OS : Linux
 - How you installe

[2019-01-30 10:07] t-vi commented on #7716
This only fails because you have a batch size of 1 and a single feature per channel.
I'd recommend to use `drop_last=False` on the DataLoader to avoid the issue.
I don't really have a view on doing magic to avoid this - people will fall into traps when using a batch size of one and no training happens.

[2019-01-30 10:10] peterjc123 commented on #16555
@fakerbrother Could you make a PR on this? Thank you.

[2019-01-30 11:11] t-vi opened #16557 "MKLDNN convolutions need continuous inputs but don't check or enforce them"
## 🐛 Bug

MKLDNN convolutions need continuous inputs but don't check or enforce them

First reported by Philip Meier [on the forum](https://discuss.pytorch.org/t/depthwise-convolution-gives-seemingly-random-results/35969) with repro. Thank you Philip!

## To Reproduce

[code]
Give 1, 0 in the first and 1, 1 in the second case.
The requires_grad is to print the grad_fn pointing to mkldnn.

## Expec

[2019-01-30 12:05] HideUnderBush commented on #16034
Actually cuda9.2 works, I uninstall cuda9.1 pytorch and then reinstalled the cuda9.2 pytorch0.4.1, then the messages disappeared.

[2019-01-30 12:52] ptrblck commented on #16542
Thanks for posting this issue!

Based on the error message it seems `lengths` should always be a CPU tensor.
If that's the case, a simple fix could be just changing:
[code]
to
[code]

Let me know, if that's the case and I can create the PR.

Best,
ptrblck

[2019-01-30 13:09] Jamesswiz opened #16558 "Pytorch Import: failed to map segment Error"
I installed Pytorch .3.1 using pip3 for python3.5, and the installation was successful.
However, I am unable to load the package in python

import torch
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "user/.local/lib/python3.5/site-packages/torch/__init__.py", line 56, in <module>
    from torch._C import *
ImportError: libgcc_s.so.1: failed to map segment from sha

[2019-01-30 13:31] t-vi commented on #16557
I'll send a fix later.

[2019-01-30 13:32] olyaromanyuk opened #16559 "cannot initialize type "_CudaDeviceProperties" error"
## ❓ Questions and Help

Sometimes while running pytorch code I get an error like this

[code]
I was not able to figure out what exactly causes the error, maybe it is connected to threading in some way. There is no mention of this behavior in docs, issues or forums. The only resources I could find that mention the error are these issues in pybind:
 - [https://github.com/pybind/pybind11/issues/608]

[2019-01-30 13:35] ParticularlyPythonicBS commented on #16542
Yes, lengths should always be a CPU tensor, so the fix you proposed makes sense.

Best,
ParticularlyPythonicBS

[2019-01-30 13:50] ParticularlyPythonicBS opened #16560 "High scope of error in how view() may be used"
## 📚 Documentation

[torch.Tensor.view](
https://pytorch.org/docs/stable/tensors.html#torch.Tensor.view) does not work as naively expected since the ordering of the data in memory is not changed in its use. There is a good chance of users confusing its use with that of [torch.transpose](https://pytorch.org/docs/stable/torch.html#torch.transpose)

A cautionary warning about this along with a link t

[2019-01-30 13:58] albanD commented on #16560
`view()` is the same as `reshape`, which is the same as [numpy's reshape](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.reshape.html).

If you feel that more examples should be added to the doc, we will accept PR for that.

[2019-01-30 14:34] ehtom commented on #16183
@yf225 -- Thank you so much for all the comments so far, I have been having the same problem and this thread helped a lot.

Not sure if this is the right place to report this, but I still have the same kind of MKL-DNN related segmentation fault even in the nightly build for CUDA 10.

Infos: Ubuntu18.04/CUDA10/nightlybuild/conda install.

The gdb stacktrace points to a crash in libcaffe2.so's MKL-D

[2019-01-30 15:08] zadeck opened #16561 "documentation bug for conv2d and conv3d"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description
documentation bug
Provide a short description.
i believe that the pad parameter description for the

[2019-01-30 15:09] alevonian commented on #16544
I didn't set it, but it was set to true. I will test it without it and report back....

[2019-01-30 15:13] zadeck commented on #16561
please ignore this report, i read it incorrectly.

[2019-01-30 15:26] vishwakftw commented on #16561
Please close it, if you feel there is no issue to be reported.

[2019-01-30 15:27] albanD commented on #16561
Closing as this is not an issue.

[2019-01-30 15:27] #16561 closed

[2019-01-30 15:28] klicperajo opened #16562 "Error on backward pass with sparse matmul with transposed tensor"
## 🐛 Bug

Doing backpropagation on `torch.sparse.mm(sp_mat, mat.t())` gives the error `RuntimeError: Expected object of backend CPU but got backend SparseCPU for argument #2 'mat2'` (or the same with CUDA instead of CPU).

## To Reproduce

Steps to reproduce the behavior:

Run the following code:

    sp_mat = torch.sparse.FloatTensor(
            torch.LongTensor([[0, 0, 1], [0, 1, 2]]),

[2019-01-30 15:28] vishwakftw commented on #16557
Isn't this the same issue resolved by https://github.com/pytorch/pytorch/pull/16300 ?

[2019-01-30 15:41] ParticularlyPythonicBS commented on #16560
Hi,
I have submitted a PR adding another example to `view()`
[16563](https://github.com/pytorch/pytorch/pull/16563)

[2019-01-30 15:43] yaysummeriscoming commented on #14755
Ok I tried rebuilding just now.  I'm not using NCCL.  This is the error I'm getting:

Compiling  collectives/broadcast.cu            > /home/user/pytorch/build/nccl/obj/collectives/broadcast.o
[ 35%] Building CXX object third_party/ideep/mkl-dnn/src/CMakeFiles/mkldnn.dir/cpu/jit_avx2_conv_kernel_f32.cpp.o
[ 35%] Building CXX object third_party/ideep/mkl-dnn/src/CMakeFiles/mkldnn.dir/cpu/jit_avx512

[2019-01-30 16:09] vvishal commented on #16183
Yes, turns out you need HEAD of mkldnn - none of the releases including
0.17.2 have the full fix. The requisite patch went in around Dec 2018.

As a temporary work around, you can clone and build mkldnn and simply
replace the bundled shared libraries with the ones you build - has been
working for me so far, caveat emptor. :-)

Vishal

On Wed, Jan 30, 2019 at 6:34 AM ehtom <notifications@github.com

[2019-01-30 16:10] c-hofer commented on #16552
Hi @albanD,

i observe that too.

btw, how do u guys handle custom kernels on multi gpu systems, to be precise, usage of cudaSetDevice and similar functionality. I've studied the sources for some time now but still havn't really an idea how/where u do it when u call kernels. Maybe u can give me a hint? :D

[2019-01-30 16:17] themightyoarfish opened #16564 "Add ability to select default device (run always on GPU or always on CPU)"
## 🚀 Feature
It would be useful for a current usecase to have an API like this
[code]
or something similar, so I don't have to call `.cuda()` on everything and pass `device=torch.cuda.current_device()` to functions which generate a tensor.

## Motivation

I currently have some code that I want portable between NumPy and PyTorch in which I attempt to detect the argument type (if `np.ndarray`, dispa

[2019-01-30 16:24] albanD commented on #16552
For the device setting, I think you should use `at::OptionalDeviceGuard` (used [here](https://github.com/pytorch/pytorch/blob/7d7855ea3124c16862ea7ed4758f4c7a804ca1ac/torch/csrc/autograd/engine.cpp#L439) for example), that will ensure that the device is correct in the scope where it exists and restored on exit of this scope.

For the problem at hand here, something looks wrong with `.options()` an

[2019-01-30 16:24] angelos-c commented on #16281
Hey, have you managed to solve this?

[2019-01-30 16:38] vpirogov commented on #16183
@vvishal, could you please point to the patch you are referring to? If you are right and the issue is reproducible in PyTorch v1.0.1 we might want to backport that patch and release MKL-DNN v.0.17.3.

[2019-01-30 16:39] c-hofer commented on #16552
Thx, u saved me some time :)

[2019-01-30 16:48] mrshenli commented on #2655
@wandering007 Thanks. May I know why you need to set `requires_grad` on individual replicas returned by `DataParallel.replicate()` instead of directly setting it through the `DataParallel` model. The code below works for me.

[code]

[2019-01-30 16:59] apaszke commented on #16564
This has been discussed multiple times in our issue tracker, and we don't think it's a good idea. Tensors that don't live on CPU have different performance characteristics (e.g. taking elements out one by one will be *extremely* slow), so we'd rather have people be aware of where their array live. If you really want to use CUDA everywhere, you can just hardcode that in your script.

[2019-01-30 16:59] #16564 closed

[2019-01-30 17:01] zou3519 commented on #14755
@yaysummeriscoming have you tried cleaning out the repo and rebuilding? `git clean -xfd` will get it back into the master state (warning: this will delete all new files)

[2019-01-30 17:07] igy254 commented on #15921
@fmassa  I guess the others had enough time to express them. Should I just submit my pull request as soon as I can?

[2019-01-30 17:37] #16141 closed

[2019-01-30 17:58] yaysummeriscoming commented on #14755
@zou3519 yes I built a fresh VM from the Ubuntu image

[2019-01-30 18:15] ezyang commented on #16281
No, I don't think @pjh5 has solved this yet

[2019-01-30 18:17] fmassa commented on #15921
@igy254 I think using `%` for ints reasonable. I'm ccing @gchanan to see if he has a different view of it

[2019-01-30 18:18] fmassa commented on #16357
Yes, definitely!

[2019-01-30 18:19] bddppq commented on #16229
The corruption should be caused by the gemm call before the memory allocation:
[code]
From the stack trace looks like it's related to one of our recent bug report about HSAQueue issue. @scchan Could you help investigate whether it's related?

[2019-01-30 19:09] gchanan commented on #16562
confirmed this is a bug on master.

[2019-01-30 19:24] MiroFurtado commented on #14095
This would be really nice! Has some applications in bag-of-words pooling for NLP

[2019-01-30 19:27] themightyoarfish opened #16569 "Why is `torch.mean()` so different from `numpy.average()`?"
## 🐛 Bug

Maybe again not a bug, but something that surprises me. I have this matrix [here](https://www.dropbox.com/s/fpj3hbalo0js5aa/X.npy?dl=0) and I'm trying to subtract the mean over the columns from each column. The result is that there is a substantial difference in the averages computed by PyTorch and by Numpy, leading to different result, which bites me further down my processing. The diff

[2019-01-30 19:37] albanD commented on #16569
Hi,

Please use the [forum](https://discuss.pytorch.org/) to ask questions.

By running your script using float32 (changed the np.load by torch.rand(1, 100).numpy()), the difference between the two mean (the asser that fails) is actually 1e-8 which is below the precision of float.
The final value that you print is very large as you print the largest entry of X for which X and X_th are different. I

[2019-01-30 19:37] #16569 closed

[2019-01-30 19:50] ehtom commented on #16183
@vvishal, thanks!

Your solution seems to work for me as well. I replaced the current branches of ideep and mkl-dnn in third-party/ with their current master branch and compiled from source.

@vpirogov, I am not sure which update exactly fixed it in mkl-dnn but from the look at its history it has quite a number of recent AVX512 updates (even since December).

[2019-01-30 20:00] pyaf commented on #1355
`pin_memory=True` solved the issue for me.

[2019-01-30 20:06] gchanan commented on #16543
confirmed this is an issue on master, fix incoming.

[2019-01-30 20:27] ezyang opened #16573 "Stop generating VariableFunctions as a class with static functions; instead, generate it as a module with functions"
Right now, `torch._C._VariableFunctions` is a class with static methods on it, which we subsequently rebind into the torch module. It would be more direct if it just defined functions, so we could use the normal import-reexport syntax to do so.

@kimdwkimdw had a patch which did this in #8845; however, it did not work for Python 2 (and it seemed difficult to make work without substantial code chan

[2019-01-30 20:35] ezyang opened #16574 "Make it possible to use mypy to typecheck code that uses PyTorch"
We generated a type stub for `torch` module in , which is good enough to get autocomplete working in PyCharm. However, the type stub is not that well tested for actually, you know, accurately reflecting the types of our functions (we have light testing, but it's not enough) and it's unlikely that it's actually good enough to actually use mypy to typecheck PyTorch-using code. It seems like this is

[2019-01-30 20:37] ezyang commented on #7318
Hi everyone! @t-vi's patch has merged to master, so if you update you should get working autocomplete for torch on master. Additionally, we committed a hand-generated type stub for 1.0.1, so when that release happens, autocomplete will also work for people on that release.

The type stub is probably not good enough for actually typechecking your code with mypy. We're tracking this follow up work i

[2019-01-30 20:37] #7318 closed

[2019-01-30 20:37] alevonian commented on #16544
After building with the USE_DISTRIBUTED=0, this problem is solved.
Thanks.
I will close this issue.

[2019-01-30 20:37] #16544 closed

[2019-01-30 20:51] yf225 commented on #16550
@jiangzhonglian @wizardforcel Thanks a lot for the proposal and it's also on our internal agenda to discuss the potential collaboration plan this week. We will provide an update on this very soon.

cc @soumith @jspisak

[2019-01-30 21:00] houseroad commented on #13963
Hi @nerox8664 and @bhack, if you would like to flatten the tensor using pattern `x.view([x.size(0), -1])`, I would recommend [`torch.flatten`](https://pytorch.org/docs/stable/torch.html#torch.flatten). With https://github.com/pytorch/pytorch/pull/16240, you should be able to export `torch.flatten(x, 1)` as ONNX Flatten operator.

[2019-01-30 21:00] #13963 closed

[2019-01-30 21:21] jatentaki opened #16577 "Dropout2d uses a lot of memory."
## 🐛 Bug
`Dropout2d` uses a lot of memory. For a `B, F, H, W` tensor, it could get away with `B * F` bits to store whether each feature/batch item was kept or not. Instead, it appears to store something proportional to `B * F * H * W`. According to @apaszke this is because it is implemented with multiplication rather than `masked_fill` or `where` (since this makes it easier to switch between `eval

[2019-01-30 22:21] williamCorrea85 commented on #12831
Hi  ekmungi. Did you try it on windows ? Because it is written in their github page that windows is still not supported

[2019-01-30 22:22] #16326 closed

[2019-01-30 23:06] cpuhrsch opened #16581 "[RFC] Adding input_differentiability field to tools/autograd/derivatives.yaml"
We already have output_differentiability. We currently infer input differentiability [by the name of the argument](https://github.com/pytorch/pytorch/blob/33f2ab1fdb5929151219091e6e11325196c866c8/tools/autograd/gen_variable_type.py#L412). This makes sense in obvious cases such as "int" or "float", etc - However, we might have a Tensor argument that we want to mark as not differentiable.

An exampl

[2019-01-30 23:32] gchanan commented on #16581
Sounds reasonable, I don't think it makes sense to do alignment like `output_differentiability`, we already have input arguments being specified.  We can just make some special thing to indicate it's not differentiable (how does that behavior differ today if you just don't specify a backwards)?

[2019-01-30 23:38] XuhuiSun95 commented on #16551
In case anyone has a similar issue, build the lib from source.
This seems like an issue which your local project compiler is incompatible with the compiler building libtorch.
More detail in #15138

[2019-01-30 23:38] #16551 closed

[2019-01-31 00:10] #16543 closed

[2019-01-31 00:59] vvishal commented on #16183
It's on line 216 in src/cpu/xbyak_util.h in the mkl dnn sources, the
correct line should read:

cores_sharing_data_cache[data_cache_levels] =
(std::max)(actual_logical_cores / smt_width, 1u);

If the max() is not done, you get zero under some circumstances. This
results in getCacheSize() causing a divide by zero and that can get called
from multiple places leading to a slightly different stack tra

[2019-01-31 01:00] irration opened #16586 "Weird behavior of torch.int()"
## ❓ Questions and Help

Hello, I got some weird behavior on PyTorch.

[code]

This might be a rounding problem which makes people a bit confused.
I'd like to know that this is the expected behavior which has already been discussed before.

Thank you in advance.

[2019-01-31 01:03] #16560 closed

[2019-01-31 02:37] yf225 opened #16589 "Make sure `data_ptr` for non-zero-size input tensors stays the same after the VariableType dispatch"
In VariableType.cpp, https://github.com/pytorch/pytorch/pull/16305 adds checks to make sure we are still using the same input `TensorImpl` and `Storage` after we call the non-autograd in-place function. However, it is still possible that the in-place function changes the `data_ptr` of the input tensors without changing `TensorImpl` or `Storage` (e.g. by calling `tensor.resize_({bigger_than_origina

[2019-01-31 02:52] ahsankabir18 opened #16590 "Benchmarking pre-trained model in Caffe2"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description
I am trying to benchmark Caffe2 framework. In the pytorch I see the convnet python script
to do benc

[2019-01-31 03:04] sidazhang opened #16591 "[JIT] Sometimes rewrite argument name"
## 🐛 Bug

Sometimes JIT will rewrite the argument name. For example, if your argument is `input_tensor`. JIT can sometimes rewrite the argument name to `input_tensor_2`

## To Reproduce

I am unable to provide repo yet. Please mark as waiting for repo. I am creating this ticket just to track the issue for when I can provide repo

[2019-01-31 03:07] sidazhang opened #16592 "[JIT] NVRTC unknown error"
## 🐛 Bug

I have consistently run into NVRTC unknown error.

```RuntimeError: /pytorch-atg/torch/csrc/jit/fuser/cuda/fused_kernel.cpp:138: NVRTC_ERROR unknown```

I ran with `export PYTORCH_FUSION_DEBUG=1`

and I got this:
[code]

## To Reproduce
I am unable to repro yet. I am working on a minimum repro at the moment

[2019-01-31 03:11] sidazhang opened #16594 "matrix multiplication sometimes can launch very unoptimized kernels"
## 🐛 Bug

I have a matmul where
(4, 4) matmul (4, 400K)

non-contiguous tensor takes 40ms
contiguous tensor takes 0.5ms

Profiler shows that the non-contiguous tensor launches a lot of 1x1x1 kernels
![image](https://user-images.githubusercontent.com/3519115/52028102-c4d14e80-24db-11e9-8f7e-ea1663aa0885.png)

This is the profiler output for the contiguous tensor

![image](https://user-images.github

[2019-01-31 03:51] zdevito opened #16595 "Windows CI Build runs twice"
## 🐛 Bug

The windows CI build for pytorch actually builds the entire project twice.

## To Reproduce

Observe a CI run, grep for the 'cmake' call. It happens twice:

(base) zdevito-mbp:~ zdevito$ curl https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-win-ws2016-cuda9-cudnn7-py3-build/38258/consoleText 2>/dev/null | grep "'cmake'"
['cmake',
['cmake',

[2019-01-31 03:52] zdevito commented on #16595
Note: The CI script uses a USE_CUDA variable that is never set. This makes both if statements that use it true.

[2019-01-31 04:04] jspisak commented on #16550
@jiangzhonglian  @wizardforcel thanks so much for this!!! As Will mentioned, we are discussing internally to see if we can get some level of 'official' localization for a Chinese version of pytorch.org. We will definitely be in touch and love to see PyTorch alive and well in China!!

[2019-01-31 04:13] ajhool commented on #1539
@posenhuang did you ever find success with lua and volta? My lua/torch code is currently taking 10 minutes to configure the volta GPUs, although the actual runtime is extremely fast. I'm not sure what is causing the GPU configuration to run so slowly -- it takes a split second on k80's.

The GPU's configuration occurs in this cutorch init code (i'm pretty sure - https://github.com/torch/cutorch/bl

[2019-01-31 04:19] jiangzhonglian commented on #16550
We are very happy to do this meaningful thing.
We have iterated three Chinese versions, and we are very grateful to the translation and participation of many Chinese contributors. Of course, the most should be the pytorch tutorial, which really helps us to learn more comprehensive and systematic learning of deep learning.
Everyone said that they really like your framework and your team. This is wh

[2019-01-31 04:57] peterjc123 commented on #16595
It builds twice for both CPU and CUDA builds. As for the variables, CC. @yf225.

[2019-01-31 04:58] meder411 opened #16599 "Earth Mover's Distance Loss"
## 🚀 Feature
(Approximate) Earth Mover's Distance Loss Function

## Motivation
This is a common function used in deep learning papers for point cloud generation and distribution matching.

## Pitch
Can this be added to the loss function library?

## Additional context
There are a few open source implementations out there already. I have updated [this one](https://github.com/fxia22/pointGAN/tree/74

[2019-01-31 05:08] zkself opened #16600 "cuda10 build pytorch master branch from source"
here is the build output:

python setup.py install

Building wheel torch-1.1.0a0+d374260
-- Building version 1.1.0a0+d374260
['cmake',
 '/home/user/zkself/pytorch',
 '-DBUILDING_WITH_TORCH_LIBS=ON',
 '-DBUILD_BINARY=False',
 '-DBUILD_CAFFE2_OPS=True',
 '-DBUILD_PYTHON=True',
 '-DBUILD_SHARED_LIBS=ON',
 '-DBUILD_TEST=True',
 '-DBUILD_TORCH=ON',
 '-DCAFFE2_STATIC_LINK_CUDA=False',
 '-DCMAKE_BUILD_TY

[2019-01-31 05:08] zkself commented on #16600
@apaszke

[2019-01-31 05:44] yf225 commented on #16595
In the past, building for both CPU and CUDA configurations had caught interesting bugs, so it's likely useful.

The `USE_CUDA` flag is intended to be set when people are running win-build.sh locally, to avoid building it twice.

[2019-01-31 07:39] norhh commented on #4111
@malarinv , same here, just pip installed `torch`(latest version in pip) and then
[code]
latest torch installed in pip(1.0.0)
python 3.6.3
Ubuntu 17.10

[2019-01-31 07:44] CoinCheung commented on #13273
Have you solved this problem? I met same problem when I train on single node with multi-gpus.

[2019-01-31 08:02] kayuksel commented on #16408
@soumith Thank you for your explanation. I recently learnt about "Grouped Convolutional Neural Networks" where they cluster multivariate time series into groups and then use depth-wise convolution. I am curious now if I can use F.grid_sample to train a flow field for grouping the streams of the multivariate time series.

[2019-01-31 08:05] kayuksel commented on #16408
Ah some people did something very relevant already:

"AutoShuffleNet:  Learning Permutation Matrices via an Exact Lipschitz Continuous Penalty in Deep Convolutional Neural Network" https://arxiv.org/abs/1901.08624

[2019-01-31 08:52] Evpok commented on #16123
Iterating over the ModuleList does work, but directly indexing it still doesn't, which is to be expected, since ModuleList can't be indexed in non-jit code either.

[2019-01-31 08:58] tunz commented on #16586
number of precision for printing tensors is 4 by default. try [torch.set_printoptions](https://pytorch.org/docs/master/torch.html#torch.set_printoptions).
[code]

[2019-01-31 09:10] FabianIsensee commented on #12831
Hi @williamCorrea85 , I am one of the main developers of batchgenerators. The reason windows is not currently supported is because nobody (that also does deep learning) in our department currently uses windows, so it is kind of hard to fix the problems windows users have. On the other hand, I am quite confident that the issues we are currently having can be resolved quite easily. I will have some

[2019-01-31 09:40] themightyoarfish commented on #16569
What do you mean with "1e-8 is below the precision of float"? It's clearly a value much larger than the smallest positive 32-bit float. Sure you can lose precision through calculations, but is this magnitude really expected?

[2019-01-31 09:57] fmassa commented on #16569
@themightyoarfish floating point math is not 100% accurate, and is neither associative nor commutative.

Here is an example using numpy, where I perform the same operations in different order, and the results are slightly different:

[code]

[2019-01-31 10:39] Hierakonpolis commented on #16443
Thanks, this seems to work

[2019-01-31 12:02] agneevguin commented on #9809
@soumith This worked. Thanks

[2019-01-31 12:02] jaideep11061982 commented on #5040
Thanks no... but in kaggle i do see. how can we avoid this issue in kaggle is there way to set sh meomory in kaggle

[2019-01-31 12:10] davidwagnerkc commented on #5040
No, unfortunately not. But looks like they are aware of the issue.
https://www.kaggle.com/product-feedback/72606

Just recently I saw in this kernel that fastai 1.0 runs into this error, but not older versions.
https://www.kaggle.com/iafoss/similarity-resnext50-0-740-lb-kernel-time-limit

"This kernel is written with using fast.ai 0.7 since a newer version of fast.ai doesn't work well in kaggle: u

[2019-01-31 13:52] NySunShine opened #16607 "torch::serialization.load() doesn't support pathlib.Path object for the input argument"
## 🐛 Bug

When a path is given from pathlib.Path into a torch.load method, the error occurs as below,

`invalid file : PosixPath("models.pth.tar")`

I think it is because of the characteristics of Path object that is only allowed to use like `path.open('rb')`.

## To Reproduce

Steps to reproduce the behavior:

1. import torch
2. import pathlib
3. f = pathlib.Path("models.pth.tar")
4. params = tor

[2019-01-31 14:00] rsokl commented on #16574
Is there an emoji for "please god make this available a year ago?"

[2019-01-31 14:21] t-vi commented on #16574
@rsokl: That means you will do it or you will pay for it?

[2019-01-31 14:30] SsnL opened #16608 "test_proper_exit is flaky"
This causes errors like this on CI:

[code]
https://circleci.com/gh/pytorch/pytorch/682993?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

Formatted error message.
[code]

Interesting how it passed the `is_alive` checks at https://github.com/pytorch/pytorch/blob/d47108add0eaddbdaf1cf8bc95599faac66442cd/torch/utils/data/dataloader.py#L448-L450

cc @ezyang @gchana

[2019-01-31 14:50] Pythonista7 opened #16609 "Problem with numpy while installing torch."
## ❓ Questions and Help
I was running this command to install pytorch on a python 3.6.7 ver with pip3 on ubuntu 16.04
**pip3 install https://download.pytorch.org/whl/cpu/torch-1.0.0-cp36-cp36m-linux_x86_64.whl
pip3 install torchvision**

After pip3 installing ,on trying to "import torch" i get a error from numpy lib file and pain numpy import also throws:

**Traceback (most recent call last):
  Fi

[2019-01-31 15:22] sidazhang commented on #16123
@zou3519 Do you know if the PyTorch team has a timeline for fixing this? I have a module that has a lot of indexing into ModuleList. I am trying to figure out if I should wait for the fix. (Because, it is kind of tedious to rewrite all these code - so I am hoping to defer it for as long as possible)

[2019-01-31 15:23] nikitautiu commented on #15921
Seems sensible, although this being the issue which brought me here in the first place I guess `fmod`'s documentation should be updated to spare people future confusion.

[2019-01-31 15:48] vishwakftw commented on #16486
This has been fixed on master, and can be closed now.

[2019-01-31 15:54] ezyang commented on #1539
Usually this is because it is compiling PTX on the fly, because your binaries do not have PTX for volta. You will need to rebuild from source if you want to avoid this. We don't support luatorch anymore, try PyTorch :)

[2019-01-31 15:59] Avsecz commented on #973
@ivanprado great catch. In my case, this occurred during test-time since I was keeping track of the target values from all the batches (hence many shared objects had to be tracked). I solved the problem by invoking `copy.deepcopy` on the shared objects as the interpreter could then remove the shared objects. This doesn't happen during training time since the targets get discarded right after the S

[2019-01-31 16:03] zou3519 commented on #16123
I remember the argument against having this is that if we don't statically know the size of the ModuleList then indexing into it isn't possible. However, this might be possible if we mark the ModuleList as a part of the `__constants__`... (@eellison @suo can one of you chime in here?)

[2019-01-31 16:08] zou3519 commented on #16542
@ptrblck yes, that looks like a good fix to me, please send a patch when you get the chance. Thank you for surfacing the issue, @ParticularlyPythonicBS

[2019-01-31 16:09] zou3519 commented on #16609
Could you please add some more information about your environment and what version of pytorch / numpy you have?

[2019-01-31 16:10] #16486 closed

[2019-01-31 16:12] SsnL commented on #16600
real error: nvcc fatal : The version ('8.0') of the host compiler ('clang') is not supported

[2019-01-31 16:21] leonardblier opened #16610 "Potential instability in ConvTranspose2d with cudnn"
## 🐛 Bug

Together with @fmassa, we observed a potential instability when I run the following snippet with CUDNN. Without CUDNN, it works as expected.
It's also worth noticing that this used to work on Pytorch 0.4.1, and that it works as expected on CPU as well.

## To Reproduce

Run the code. It requires a small pickle file containing one single minibatch of data (replacing it by a random tensor

[2019-01-31 16:32] Evpok commented on #16123
@zou3519 If I understand correctly, you can't refer to the `ModuleList` if it is not in the constants anyway.

[2019-01-31 17:06] apaszke commented on #16123
@sidazhang I agree `enumerate` is pretty important and we should support it, but if you need a quick workaround here's poor man's enumerate you could use:
[code]

[2019-01-31 17:07] apaszke commented on #16123
@zou3519 I think we won't be able to implement indexing because modules/functions are not first class values in TorchScript, so you can't assign them to variables (ok, you can, but we need to be able to resolve them statically). So this is a much more fundamental difficulty that would require implementing a proper call mechanism. The requirement is there today because the only form of calling we s

[2019-01-31 18:02] suo commented on #16453
As a workaround for now, @zasdfgbnm's suggestion of constructing a regular tuple out of the named tuple should work:
[code]

[2019-01-31 18:21] soumith commented on #16610
apparently a  workaround is to use `cudnn.benchmark=True`. @ngimel is looking if a fix is possible. We'll try our best to get it into v1.0.1

[2019-01-31 18:47] mkolod opened #16614 "Allow C++ inference of JITted modules to run different modules on different streams"
## 🚀 Feature

It would be useful to be able to run inference on a JITted module on a non-default stream using the C++ API.

## Motivation

Let's imagine a case in which I have 2 models, A and B, which I'm trying to run in sequence on a small batch size, say bs=1. The models are streaming, e.g. for audio synthesis, or the workflow is such that small-batch requests keep coming quickly, but low laten

[2019-01-31 19:17] scchan commented on #16229
@bddppq yes, this is the same as the one in your recent bug report.

[2019-01-31 19:18] suo commented on #16453
@alexgkendall #16616 should fix the issue with dictionaries.

[2019-01-31 19:19] zdevito commented on #16595
This is very surprising behavior then.  I wouldn't think setting USE_CUDA to nothing would trigger _both_ builds to run. At the very least there should be a comment in the file describing the behavior.

[2019-01-31 19:22] mkolod commented on #16614
@apaszke We talked about this issue on Slack, mentioning you here in case you're interested.

[2019-01-31 19:22] mkolod commented on #16614
@ngimel @mruberry ^^

[2019-01-31 19:47] #16192 closed

[2019-01-31 19:52] jamesr66a opened #16617 "[ATen] mean operator is unvectorized on CPU"
Benchmark script:

[code]

Today this yields (on a Skylake CPU, as well as other machines we've tried):
[code]

Which is well below the full utilization of the chip. Upon further inspection we see that the mean operator implementation uses the unvectorized reduction implementation, compared to the sum implementation directly above it that uses the vectorized implementation:

https://github.com/pyt

[2019-01-31 19:57] cpuhrsch commented on #16581
Whether something requires a derivative is determined by [the following code](https://github.com/pytorch/pytorch/blob/482d3a3bf32b0a2711891868dbb943b1ed607e48/tools/autograd/gen_variable_type.py#L431) within `tools/autograd/gen_variable_type.py`

[code]

If the number of differentiable inputs increases from 0 to 1, as would be the case if we remove BoolTensor and replace it with Tensor, some funct

[2019-01-31 20:02] umanwizard commented on #16617
Yep, I agree completely.

[2019-01-31 20:30] #16285 closed

[2019-01-31 20:56] giacomo-domeniconi opened #16621 "torch.to_dense() adds random values"
## Issue description

I'm working with sparse tensors. I noticed a wrong filling of the tensor when calling the to_dense function. In the example below, it is expected that the dense tensor dense_m has all 0s or 1s (since v is a 0/1 tensor). But some 2 values appear after the to_dense() call.
Weird is that with smaller sizes, the anomaly doesn't occurs.

## Code example

size = torch.Size([8000])

[2019-01-31 21:34] Elch123 opened #16622 "High memory usage generating random numbers"
## 🐛 Bug

Pytorch's Distributions lacks a fast method of generating uncorrelated normally distributed values.  MultivariateNormal is able to be fed an Identity matrix to produce this behavior, but this has cubic complexity, and will exhaust all ram on CPU or GPU when generating a large tensor filled wtih random numbers.

## To Reproduce

Steps to reproduce the behavior:

    import torch
    def m

[2019-01-31 21:57] SsnL commented on #16622
Well.... you asked for the general multivariate gaussian. If you use plain `randn` it will much more efficient.

[2019-01-31 21:58] SsnL commented on #16621
Your random indices tensor can generate multiple entries with value `1` but same index, hence the `2`s (and even `3`s if you are lucky enough).

[2019-01-31 21:58] #16621 closed

[2019-01-31 22:58] ptrblck opened #16627 "WeightedRandomSampler throws warning for copy constructor"
## 🐛 Minor Bug

Passing a `weights` tensor to `WeigthedRandomSampler` throws a warning:

This is due to [this line of code](https://github.com/pytorch/pytorch/blob/279238f0b81dce43636ebc8c7b1c45cc98c7a60d/torch/utils/data/sampler.py#L119).

Reported by Wafaa_Wardah in [this post](https://discuss.pytorch.org/t/some-problems-with-weightedrandomsampler/23242/11?u=ptrblck).

## To Reproduce

Steps to

[2019-01-31 23:51] MohMehrnia opened #16633 "Installing Windows 10"
Hi, I try install pytorch on windows 10 1809 and Python 3.7 and VS 2017 15.9.6 with below command:

`pip3 install https://download.pytorch.org/whl/cpu/torch-1.0.0-cp37-cp37m-win_amd64.whl`

but show error message:
torch-1.0.0-cp37-cp37m-win_amd64.whl is not a supported wheel on this platform.

[2019-02-01 00:15] BarclayII opened #16635 "Floating point exception when computing gradient from empty boolean-mask slicing"
## 🐛 Bug

A floating point exception is thrown when one mask-slices a two-dimensional tensor with a one-dimensional all-false boolean tensor.

## To Reproduce

[code]

## Expected behavior

PyTorch shouldn't crash, and preferably the gradient of x should be zero.

## Environment

PyTorch version: 1.0.0
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: Fedora release 29 (Twenty Nine)
GCC

[2019-02-01 00:46] pietern commented on #14691
This can be done after #16638 is merged.

[2019-02-01 00:57] JamesTrick commented on #16633
Hey @MohMehrnia

Can you verify that you have the 64-bit installation of Python? By running this command: `python -c "import struct; print(struct.calcsize('P') * 8)"`. If it's 32-bit, try re-installing 64-bit Python.

Others might have another idea well.

Thanks
James

[2019-02-01 02:13] ngimel opened #16642 "Jitted batch norm breaks for half inputs float module (non-jitted works ok)"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

outputs

[code]

## Expected behavior

Similar behavior for jitted and non-jitted cases

## Environment

 - PyTorch Version (recent master):
 - OS (e.g., Linux):
 - How you installed PyTorch (source):

Caused by https://github.com/pytorch/pytorch/pull/15897. Having bn model in float for half inputs is a hack that is used to trigg

[2019-02-01 02:41] vishwakftw commented on #16622
Also adding to @SsnL’s point, you also required uncorrelated samples with the same identity variance, for which `randn` will be very efficient.

[2019-02-01 02:45] fooSynaptic commented on #15696
@ailzhang I solved this issue with preview torch_nightly installed, Thank you.

[2019-02-01 03:23] bjmajic opened #16646 "loss.backward() cause malloc: *** error for object 0x7fb849370210: incorrect checksum for freed object"
I build a net: resnet18 + ctc loss, when run loss.backward(), there will be a error:python(17267,0x700007df0000) malloc: *** error for object 0x7fb849370210: incorrect checksum for freed object
i not find any method to resolve it?

note: my training date size is not equal, this mean :the widht of image is variable, and the height of imgage is 32,    the label length is variable

========= my net.p

[2019-02-01 03:31] bjmajic commented on #16646
my os is mocOS

[2019-02-01 03:40] stas00 opened #16647 "dataloader: KeyError exception doesn't come through in a readable format"
## 🐛 Bug

if `_process_next_batch` gets an exception that's of type ErrorKey, the exception message is rendered as binary - i.e. new lines are not respected.

## To Reproduce

That would be tricky, as I got it in the middle of someone's notebook, I'm yet to figure out what the problem is, but currently we get something like:

[code]
and the important part comes out in one binary string (I didn't f

[2019-02-01 04:30] williamFalcon commented on #755
@Roger-luo @apaszke @soumith    Thanks for this thread btw. I implemented a basic complex tensor hacked together from subclassing torch.Tensor.

I treat the first half as real, second as imaginary and implemented my own basic arithmetic operations and some others I need for my research.

I think I did it in a way where the gradients will work out correctly. However, would love your opition to make

[2019-02-01 05:02] makamkkumar commented on #15846
I am also facing the same issue its not isntalling on ubuntu 16.04 with a GPU P4000

[2019-02-01 05:50] tridao opened #16650 "vec256 headers not included in setup.py"
## 🐛 Bug

The header files `ATen/cpu/vec256/*.h` are not included in `setup.py`. This was caused by commit https://github.com/pytorch/pytorch/commit/e4c0bb1809fd9bf9161392bfff7d06092adc224d, where these files were moved to their own folder.

I'm writing a C++ extension that could use vectorized operations from these headers, but I couldn't include them.

## Environment

PyTorch version: 1.0.0.dev2

[2019-02-01 06:08] #15863 closed

[2019-02-01 06:47] bddppq commented on #16229
https://github.com/pytorch/pytorch/pull/16639

[2019-02-01 06:48] bddppq commented on #16229
@scchan Is this the related fix? https://github.com/RadeonOpenCompute/hcc/commit/41f23b7a13a415453f7c8f54d6cc031fbec4ab74

[2019-02-01 06:49] peterjc123 commented on #16633
@MohMehrnia Would you please close this issue?

[2019-02-01 06:54] aniks23 commented on #16417
Is there any way to know how big a model or a network my system can handle
without running into this issue?

On Fri, Feb 1, 2019 at 3:55 AM Francisco Massa <notifications@github.com>
wrote:

[2019-02-01 07:49] #16633 closed

[2019-02-01 08:20] Sisi0518 commented on #10537
Encountered the same error. @memray  And I use the  nn.utils.rnn.pad_packed_sequence() and set the total_lengths to the max_sentence_len in a batch. Code is as follow. But it doesn't work.
Is the total_length argument related to batch size?

def forward(self, x, lengths):
        """Handles variable size captions
        """
        # Embed word ids to vectors
        total_length = x.size(1)

[2019-02-01 08:22] VarIr commented on #4111
Same issue as @malarinv , tested on two systems:
Python 3.6.7
nmslib==1.7.3.6
torch==1.0.0
on CentOS7 and Fedora 27

[2019-02-01 09:16] lumaku commented on #3415
@RizhaoCai You can read a HDF5-file with multithreading using the [SWMR](http://docs.h5py.org/en/stable/swmr.html) feature in the newer h5py library version.
There is a way to compile the hdf5 library to be thread-safe, but the h5py-version I got from my distribution was not compiled this way. Instead of opening the file in the parent process, I opened the file in each worker for each read (which

[2019-02-01 10:46] kmkurn commented on #2400
Hi, I wrote an implementation of CRF layer in Pytorch as a library here https://github.com/kmkurn/pytorch-crf. It uses dynamic programming for training and inference, so it should be quite fast. Hope this helps!

[2019-02-01 10:57] woodenwatcher opened #16654 "pytorch was blocked at loss.backward"
The pytorch version is 0.4.0

The call stack in python as follow:
[code]

The call stack in c++ as follow:
[code]
any body can solve this problem?

[2019-02-01 10:57] Shijihao commented on #3717
I met the same problem because I chose pytorch package with no cuda when I install. I fix it to choose cuda 9.0

[2019-02-01 11:11] vlasenkov opened #16655 "CUDA cache doubles on the second batch and causes OOM"
I am trying to train an FCN8s net on full-sized VOC2012 data with batch size 1. I use Pytorch 1.0.0a0 and 32Gb GPU. Notice, that the original model was trained on a 12Gb card.
This is the question on the forum: https://discuss.pytorch.org/t/fcn-training-on-full-size-voc-data-cuda-oom/36074

## Issue description

CUDA cache doubles on the second batch and causes OOM

## Code example

For example th

[2019-02-01 11:43] apaszke commented on #16642
We should just add more templates to this function. Should be easy to do

[2019-02-01 11:53] lopuhin commented on #7716
Thanks @t-vi , that indeed is a perfectly good solution to the problem I had, I didn't know about this 👍

[2019-02-01 12:33] t-ken1 opened #16658 "About a conditional expression of cutoffs in torch.nn.AdaptiveLogSoftmaxWithLoss."
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

[code]

[code]

## Environment

[code]

## Additional context
https://github.com/pytorch/pytorch/pull/16656

[2019-02-01 12:37] robbine commented on #13061
I got the same error

[2019-02-01 14:22] leonardblier commented on #16610
Thank's @soumith , it seems to work like this, and it's faster than without cudnn.

[2019-02-01 15:14] dendisuhubdy commented on #13061
Hmmm weird after Pytorch 1.0.0 release I never have gotten this error again @robbine

[2019-02-01 16:01] yhyoscar commented on #9981
Yes, I got the same error with pytorch 0.4.1. @elanmart You are right, it works now. Thank you!
Btw, the earlier version (0.3.1) can work without this recursion error.

[2019-02-01 16:15] sidazhang commented on #16123
Ehh. This is kind of gross. lol

Ok. I can do that

[2019-02-01 16:43] scchan commented on #16229
@bddppq that one helps but also this fix here  https://github.com/RadeonOpenCompute/hcc/pull/1013

[2019-02-01 17:44] sorenrasmussenai commented on #16364
@yf225 `copy.deepcopy()` causes `test/test_optim.py:_test_basic_cases_template` to fail:

`RuntimeError: Only Tensors created explicitly by the user (graph leaves) support the deepcopy protocol`

Any suggestions?

[2019-02-01 17:44] yet-another-account opened #16661 "ROCm 2.1: test_gamma_gpu_sample test fails"
## 🐛 Bug
Failed test when building pytorch in ROCm 2.1 docker container.

Log Excerpt:
[code]

## To Reproduce

Steps to reproduce the behavior:
Followed instructions from [ROCm docs](https://rocm-documentation.readthedocs.io/en/latest/Deep_learning/Deep-learning.html). `export HCC_AMDGPU_TARGET=gfx803` was run prior to building.

## Expected behavior
Step 7 should finish without any errors.

## E

[2019-02-01 17:48] sebftw commented on #10901
I have the same issue.
The problem seem to be that there exists no torch.cuda.sparse.HalfTensor.
Also there is no torch.sparse.HalfTensor. The issue is unrelated to cuda, but it is because your tensor is sparse.

[2019-02-01 18:01] ashermancinelli commented on #15946
Resolved by #16269

[2019-02-01 18:01] #15946 closed

[2019-02-01 18:11] gchanan commented on #10901
@sebftw I think that issue should be tracked separately, the above issue here has already been resolved.  Could you open a new feature request with that issue which describes why you want to use sparse fp16 tensors?  Thanks!

[2019-02-01 18:11] #10901 closed

[2019-02-01 18:20] sebftw commented on #10901
Alright, I'll do that. Thanks.

[2019-02-01 18:38] jamesr66a opened #16662 "[JIT] Additional list methods in script"
We'd like to be able to easily write models with, e.g. a stack data structure, which is sometimes used in NLP. Here's an example of code that works now:

[code]

It would be much cleaner if we could replace `a = a[:-1]` with `pop()`.

Additional methods that would be nice:
- `reversed()`
- `sort()` (with comparator?)
- `any_of()`

[2019-02-01 18:43] houseroad opened #16663 "new_zeros is not traced correctly"
## 🐛 Bug

If the model contains tensor.new_zeros, the tracer only generates a constant tensor. However, we expect it generates the right zero operator/function.

## To Reproduce

[code]

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the

[2019-02-01 18:50] sebftw commented on #14489
I figured out a way that works if you have one sparse matrix and a batch of dense vectors.
You can of course do
`torch.stack([sparse.mm(vector) for vector in vectors])`
This turns out to be slow in my experience. I found another solution:
[code]
It works when the input is a single matrix and a batch of vectors and regardless of if the matrix is dense or sparse. In my case it was even faster than t

[2019-02-01 18:54] houseroad opened #16664 "JIT Script module support for pad_packed_sequence and pack_padded_sequence"
## 🚀 Feature
Users would like to implement LSTM module as jit script module. However, `pack_padded_sequence` and `pad_packed_sequence` does not support it yet.

The code to reproduce the problem:

[code]

cc: @jamesr66a @pritamdamania

[2019-02-01 19:05] jamesr66a commented on #16614
Hi @mkolod, thanks for the detailed feature request! We will discuss technical approaches and prioritization of this request at our meeting early next week.

[2019-02-01 19:19] bddppq commented on #16229
Thanks @scchan @petrex for quick fix. For now we have temporarily skipped the test in our rocm CI, will re-enable it once the fix has come into the release (and our docker image).

[2019-02-01 19:35] charleshofer opened #16666 "numa_test.py fails with AssertionError"
## 🐛 Bug

caffe2/python/numa_test.py fails intermittently. It seems as if Caffe2 ignores whatever numa_node_id is set in the numa_device_option when running ConstantFill for output_blob_0 and output_blob_1. This test case will also print out some warnings about `1` not being a valid NUMA node when run on POWER. Just doing a `numactl --hardware` on my POWER machine, it looks like POWER's NUMA nodes

[2019-02-01 20:06] sebftw opened #16667 "[Feature] Sparse tensor persistence/save."
## 🚀 Feature
I want to be able to save a model with sparse tensors.

## Motivation
I have a module where one of the parameters may be sparse. (It is an option)
All of the parameters are stored with register_buffer, so they are present in the state dict. But when one of them are sparse it cannot be saved to disk.
It throws the error `RuntimeError: sparse tensors do not have storage` for example sim

[2019-02-01 20:20] charleshofer commented on #16666
Looking through the source code: It appears that the `numa_node_id` specified in [numa_test.py](https://github.com/pytorch/pytorch/blob/master/caffe2/python/numa_test.py#L23) propagates down to `device_id` in `poolGetter` in [net_async_base.cc](https://github.com/pytorch/pytorch/blob/master/caffe2/core/net_async_base.cc#L156). I can confirm this by adding some log statements in net_async_base.cc:

[2019-02-01 20:34] suo commented on #16662
For reverse, here are operations defined on mutable sequence types: https://docs.python.org/3/library/stdtypes.html#mutable-sequence-types

[2019-02-01 20:35] suo commented on #16662
A good way to start would be by adding methods to `List` rather than implementing the builtin functions.

[2019-02-01 20:49] ezyang commented on #3468
cc @VitalyFedyunin

[2019-02-01 20:53] eukaryote31 opened #16670 "Caffe2: Option to disable fp16"
## 🚀Feature Request
As __f* operations are not supported by HIP, fp16 will not build in caffe2. An option to disable fp16 in caffe2 would fix this.

[2019-02-01 21:40] zou3519 opened #16672 "[jit] Autodiff crash when some chunk outputs aren't used in backward"
Expectation:
This should not crash.

Repro:
[code]

[2019-02-01 21:43] ezyang commented on #1529
cc @VitalyFedyunin

[2019-02-01 21:47] zou3519 commented on #16672
I think that autodiff is passing an undefined tensor to the autodiff formula, and that the autodiff formula isn't handling undefined tensors.

[2019-02-01 22:17] sebftw opened #16675 "[Feature] 'None' for arbitrarily shaped buffer/parameter when loading models."
## 🚀 Feature
My model takes a path to a model and converts it to pytorch.
There are some variations on this model with different parameter shapes, and I would like to support all of them. It does this already, and they are stored with `self.register_buffer('name', value)`.

But I can't save and load the model with `model.load_state_dict(torch.load(PATH))`. The keys need to be present in self._buff

[2019-02-01 22:38] sadatnfs commented on #16112
Any updates on this? Still broken

[2019-02-01 22:55] jondeaton commented on #16600
I would make sure that `/usr/bin/g++` and `/usr/bin/gcc` are GCC version 7.

[2019-02-01 22:59] houseroad commented on #10942
Yeah, i will take a look.

[2019-02-01 23:09] ashermancinelli commented on #16364
You could copy over the `__slots__` and `__dict__` of `current` to `best` as a workaround

[2019-02-01 23:17] pavolmarak opened #16683 "Build/installation error: stub.o file format not recognized"
## 🐛 Bug

I have problem with building PyTorch from source. I followed the [official build instructions](https://github.com/pytorch/pytorch#from-source). I installed all neccessary dependencies and issued  `python setup.py install` command do build it. It builds all files (in my case 2910/ out of 2910 files) but then it fails at the installation step saying `build/temp.linux-x86_64-3.7/torch/csrc/

[2019-02-01 23:52] fritzo opened #16685 "Incorrect size for __rpow__(scalar, float)"
## 🐛 Bug

[code]

## To Reproduce

Here is a regression test:
[code]

## Expected behavior

Binary op of (scalar, number) should be a scalar.

## Environment

[code]

[2019-02-02 00:47] #15815 closed

[2019-02-02 01:47] vishwakftw commented on #16685
I've got a fix ready locally. Could I send in a PR?

[2019-02-02 02:02] soumith commented on #16685
go for it

[2019-02-02 05:08] laoreja commented on #5013
We can compute FLOPs of conv layers by hand or by existing repos easily.
But is there a way to compute FLOPs for non-traditional operations like topk, sparse sum and indexing, etc.?
Thanks!

[2019-02-02 05:40] hijkzzz opened #16690 "libtorch example has exited with code -1073741515 (0xc0000135)."
## Problem
When I run the example-app.exe then

[code]

## Environments
Windows 10 x64 pro
MSVC 19.16.27026.1（VS2017）
cmake version 3.12.18081601-MSVC_2
Ninja 1.82
Pytorch 1.0 CUDA10
Libtorch 1.0 CUDA10

## Sources
example-app.cpp

[code]
example.py

[code]

CMakeLists.txt

[code]

[2019-02-02 08:42] rainmanwy commented on #15799
Seems i also met such kind of problem.
When i using pytorch 1.0.0 (without cuda), the memory eated very fast.

After downgrade to pytorch 0.4.1.post2, memory looks very good:
              total        used        free      shared  buff/cache   available
Mem:          7.7Gi       2.1Gi       828Mi       324Mi       4.7Gi       4.9Gi
Swap:         4.0Gi       0.0Ki       4.0Gi

Below is my CNN:

[c

[2019-02-02 13:05] terbed opened #16693 "[build error] Build caffe error"
## ❓Error while building latest pytorch

[code]

I did the installing steps presented in the official website. This is on macOS.

UI.:
Interesting that there is string.h in the anaconda directory:
[code]

[2019-02-02 20:00] yf225 opened #16695 "Check whether _cudnn_rnn_flatten_weight can avoid changing the TensorImpl or Storage pointer of tensors in `weight_arr`"
https://github.com/pytorch/pytorch/pull/16305 adds checks for TensorImpl and Storage pointer equality when a function modifies its input tensors (via inplace or out-variants) in VariableType functions. However, `_cudnn_rnn_flatten_weight` doesn't currently pass this check because it does in-place update into `weight_arr` that changes its internal tensors' TensorImpl or Storage pointer. We should i

[2019-02-02 20:49] ejoebstl opened #16696 "C++ API: unable to find cross entropy loss"
I am unable to find the cross entropy loss function for the C++ API. The C++ API docs show zero results when looking for it.

Also, it's not `torch::cross_entropy` or `torch::cross_entropy_loss`.

cc @yf225 @glaringlee

[2019-02-02 21:50] sorenrasmussenai commented on #16364
@ashermancinelli I don't think explicitly copying private attributes is the way to go..
I opted for a solution, which clones tensors and deepcopies anything else.

[2019-02-02 23:15] soumith commented on #15501
I dont see the incorrectness.

We'll start with `aa`. After padding = 1, it effectively becomes:

batch0 = [0, 7, 3, 0]
batch 1 = [0, 3, 2, 0]

And then `bb`, after `dilation=2`, it effectively becomes something like:

oc0 = 3, 0, 6, 0
oc1 = 4, 0, 2, 0

The output will be:

location 0, 0:

`[0, 7, **3**, 0] * [3, 0, **6**, 0]` = 18

location 0, 1:

`[0, 7, **3**, 0] * [4, 0, **2**, 0]` = 6

[2019-02-02 23:19] soumith commented on #15501
I dont see the incorrectness.

We'll start with `aa`. After padding = 1, it effectively becomes:

batch0 = [0, 7, 3, 0]
batch 1 = [0, 3, 2, 0]

And then `bb`, after `dilation=2`, it effectively becomes something like:

oc0 = 3, 0, 6, 0
oc1 = 4, 0, 2, 0

The output will be:

location 0, 0:

`[0, 7, **3**, 0] * [3, 0, **6**, 0]` = 18

location 0, 1:

`[0, 7, **3**, 0] * [4, 0, **2**, 0]` = 6

Simila

[2019-02-02 23:19] #15501 closed

[2019-02-03 03:47] vishwakftw commented on #16685
I believe this can be closed now.

[2019-02-03 04:08] #16685 closed

[2019-02-03 04:20] #16442 closed

[2019-02-03 05:12] robbine commented on #14358
+1
I am also facing the same issue.
with torch 1.0.0.dev20190201

[2019-02-03 05:57] syed-ahmed commented on #16437
Hi, I'm verifying that this was caused by my PR, most probably for not calling cudnnSetConvolutionMathType before cudnnFind/cudnnGet. In the meanwhile, I have verified that with this patch in my PR https://github.com/pytorch/pytorch/pull/15881/commits/436aea6b362255bb203d76f3f1f2e26eec6f3fb5 and with the reproducer script from this issue, the cuDNN error goes away.

[2019-02-03 06:29] robbine opened #16699 "RuntimeError: block->inputs().size() >= num_initializers ASSERT FAILED"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
1. initialize a model object by  model = Model()
2. read model state by model_state = torch.load(os.path.join(args.serialization_dir, 'best.th'), map_location=torch.device('cpu'))
3. load model state by model.load_state_dict(model_state)
4. torch.onnx.export(model=model, args=(dummy_input, dummy_mask), f=args.output_pt, verbose=True)

[co

[2019-02-03 06:31] neonrights opened #16700 "[feature request] Store accumulated gradients in separate GPU or CPU memory"
When using the DataParallel, accumulated gradients seem to be gathered and stored on the primary GPU.  Since the primary GPU is also used to compute forward passes and store optimizer states, it uses disproportionately more memory than other GPUs.  Due to the large size of my model, I am unable to store accumulated gradients in a single GPU while using the same GPU to compute future losses and gra

[2019-02-03 11:49] stonebig commented on #15844
any hope for 1.0.1 release with all the already made fixes by Feb 10th ? It seems the remaining 4 issues may take another week of 30 days, so be better in 1.0.2.

[2019-02-03 14:05] SsnL commented on #14701
https://circleci.com/gh/pytorch/pytorch/706156?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-02-03 14:07] SsnL commented on #14701
https://circleci.com/gh/pytorch/pytorch/706103?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-02-03 16:35] pablobots commented on #11978
Resolving anaconda.org (anaconda.org)... 104.16.4.213, 104.16.2.213, 104.16.3.213, ...
Connecting to anaconda.org (anaconda.org)|104.16.4.213|:443... connected.
HTTP request sent, awaiting response... 404 NOT FOUND
2019-02-03 16:31:27 ERROR 404: NOT FOUND.

[2019-02-03 19:54] #16144 closed

[2019-02-03 23:45] obilaniu opened #16706 "Very poor Uniform() sampling near floating 0.0"
## 🐛 Bug

When using uniformly-distributed random number generation, especially using `float32`, over a range including 0, the sampling code ignores the extra precision of floating-point around 0, leading to very bad sampling.

The generated floats also have at most 24 (`float32`) or 53 (`float64`) bits of entropy.

**Consequence 1:** Multiplying any PyTorch float32 `uniform_()` by a large integer

[2019-02-03 23:56] Oktai15 commented on #2560
Hm, I got other results with code above, but interesting too. I run 10 experiments and it took very different time:
0.1.12 version -- from *2.11* to *2.72* seconds
1.0 version -- from *2.26* to *3.12* seconds

I don't know it is usual variance, @soumith?

Machine:
Ubuntu 16.04.4 LTS
AMD Ryzen Threadripper 1920X 12-Core Processor

cc: @lukashermann

[2019-02-04 00:07] soumith commented on #16706
from reading some review comments on https://github.com/pytorch/pytorch/pull/16604 and it's previous versions, I'm just wondering if that PR would fix it, as it effectively rewrites a bunch of stuff to use Philox rather than the original Mersienne-Twister implementation from torch5/7

[2019-02-04 01:43] ZhangMenghe commented on #10942
same issue. Thanks

[2019-02-04 02:37] SsnL opened #16707 "`python setup.py clean]` installs..."
Can we check if the option is `install` before installing?

[2019-02-04 02:42] SsnL opened #16708 "Better include path when compiling mkldnn"
Today I got hit by a similar issue as https://github.com/pytorch/pytorch/issues/14995, due to that I have `conda` `mkldnn` installed. Since we only compile mkldnn from source now, we should be able to do some cmake stuff to make sure it includes the correct headers.

[2019-02-04 02:52] xforceco opened #16709 "Multinomial (GPU ONLY) without replacement generates repeated items"
## 🐛 Bug

Use multinomial on cuda without replacement, it generates repeated items occasionally.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

That error shall never be printed out, but it did.

## Environment

python 3.6, pytorch 1.0.0, anaconda3, CUDA 9.1
Let me know if you cannot reproduce it

## Additional context

Spending a whole day to debug my own projec

[2019-02-04 03:37] ezyang opened #16710 "culibos linker errors"
binary_linux_conda_3.6_cu90_build is failing on master

[code]

sample log https://circleci.com/gh/pytorch/pytorch/707045?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link/console

cc @pjh5

[2019-02-04 03:50] soumith commented on #16709
I'm sorry you spent a lot of time hunting down to a multinomial bug, that's nasty.

I can reproduce it both on 1.0.0 and on master, we'll look into it with high priority.

[2019-02-04 04:11] soumith commented on #16709
this has come up in the past in https://github.com/pytorch/pytorch/issues/4858 and the comments there detail the issue, which is related to precision of some of the operations in there, such as cumsum.
PR https://github.com/pytorch/pytorch/pull/5774 was sent by @t-vi with investigation by @rfejgin to make the probability of such events happening really low (it was tested at 1 in 1 million), but ma

[2019-02-04 05:30] t-vi commented on #16709
Does #16075 not fix it either?

Am 4. Februar 2019 05:12:23 MEZ schrieb Soumith Chintala <notifications@github.com>:

[2019-02-04 05:36] peterjc123 opened #16711 "CUDA 8 build error on Windows"
From the nightly build log:
[code]

cc @peterjc123

[2019-02-04 05:46] soumith commented on #16709
@t-vi from what I can see, it doesnt fix it, because the problem exists on master.

[2019-02-04 05:51] t-vi commented on #16709
I would have hoped that after that you're only seeing 0 being returned too often.

[2019-02-04 07:06] prakharverma commented on #14358
Try the suggestions mentioned in the below issue:
https://github.com/pytorch/pytorch/issues/8392

[2019-02-04 07:20] vlasenkov commented on #16655
Now caffe-based implementation takes only about 5 Gb. How can I profile my Pytorch script? How to understand for what the memory is wasted and why the cache is not emptying?

[2019-02-04 07:37] t-vi commented on #16709
Running without restarting had me go past 400 without hitting the bug.
I would expect that we see excessive 0s - which is the same returned when you request more samples than you have categories with nonzero probabilites.

I was going to rewrite multinomial for speed improvements (see #13018) in ATen after @syed-ahmed 's big probability rewrite. We could have a global unique to see if anything is

[2019-02-04 08:36] canerkaraguler opened #16712 "GeForce GTX 670M CUDA SDK 8.0 Suported GPU too old error"
I am working on an AI project so I need to use my GPU's for training some models.I have  GeForce GTX 670M, GeForce GT 750M and Quadro 600. Both GPU's have CUDA support. Related to this wikipedia link [ http://www.wikizero.biz/index.php?q=aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvQ1VEQQ](url) I saw that all GPU's that I wrote above have compute capability version 2.1 (Fermi) and suported by CUDA SDK

[2019-02-04 09:09] miguelvr opened #16713 "[JIT] Assign parameter in nested module"
## ❓ Questions and Help

Is it currently possible with TorchScript to change an argument of a module class within a module?

**e.g.**

[code]

I currently get an error saying I can not access a JIT module attribute (or something along those lines).

Is there a workaround for this?

[2019-02-04 09:48] shridharkini6 commented on #10942
same issue. when converting a pytorch model to onnx..
torch==1.0.0
torchvision==0.2.1
https://github.com/onnx/onnx-tensorflow/issues/360
Thanks

[2019-02-04 11:31] zzj0311 commented on #15774
@ailzhang You can now get it [here](https://www.dropbox.com/sh/ds5s5016kf42bjj/AABy4iLua26Jp06egZGSuNWja?dl=0)

[2019-02-04 11:32] bhack commented on #16614
Is this not possible just setting the stream before the forward?

[2019-02-04 13:40] slbinilkumar commented on #16035
I tried with the master same issue is still there .Can you please give the correct branch ,that i can try with

[2019-02-04 13:43] slbinilkumar opened #16715 "F.conv2d throws C++ side error when shape of weights and input mismatch"
I am getting this error
RuntimeError: $ Torch: invalid memory size -- maybe an overflow? at ../aten/src/TH/THGeneral.cpp:188
 I tried with update from master .still issue is there. Can you please share the correct branch to solve this.

[2019-02-04 14:43] SsnL commented on #16715
Please use the issue template to include your system info and a repro script (e.g., including the input shapes).

[2019-02-04 15:01] lopuhin opened #16717 "Performance regression on CPU from 0.4.1 to 1.0.0 on ResNet inference"
## 🐛 Bug

ResNet50 inference is 20 - 65% slower on pytorch 1.0.0 vs 0.4.1 on CPU with `OMP_NUM_THREADS=1`, and  2800% slower without `OMP_NUM_THREADS=1` (8 core CPU), although these are probably two separate issues and I'm personally more interested in `OMP_NUM_THREADS=1` behaviour because it gets maximal use of available cores regardless of the version used.

## To Reproduce

Steps to reproduce t

[2019-02-04 15:11] t-vi commented on #16709
So I ran Soumith's script on my branch of #14957 (which has a ~1 week old version of master) and it didn't find anything in 10000 seeds (took ~8 hours on my GTX1080Ti).
@ptrblck also ran it for a while (thanks!).

[2019-02-04 15:46] lukasheinrich commented on #8605
We are experiencing the same issue. I have both machines in with the official `pytorch/pytorch` image works and doesn't work if that is helpful

[2019-02-04 16:02] Squadrick commented on #16663
Can I work on this?

[2019-02-04 16:21] zou3519 commented on #16712
@canerkaraguler we don't support GPUs with compute capability <= 3.0. PyTorch operators rely on some GPU primitives that were introduced after 3.0.

We should change the error message to specifically state the oldest compute capability that we support

[2019-02-04 16:26] zou3519 commented on #16710
I've seen something similar before. The path to libculibos used to be (and might still be) hardcoded as under /usr/local/cuda but I had a different CUDA installation path.

[2019-02-04 16:26] zou3519 commented on #16708
I run into this almost every day for some reason

[2019-02-04 16:33] zou3519 commented on #16696
Does it exist? cc @yf225

[2019-02-04 16:36] zou3519 commented on #16600
Closing because this isn't a bug (please reopen this if this diagnosis is wrong). clang does not work with nvcc, you need to use gcc.

[2019-02-04 16:36] #16600 closed

[2019-02-04 16:37] zou3519 commented on #16112
Do you have a glog in conda or pip? `pip list | grep glog` or `conda list | grep glog`

[2019-02-04 16:54] zou3519 commented on #16646
@bjmajic where are you calling CTCLoss?

[2019-02-04 16:59] zou3519 commented on #16635
I can't reproduce this on master or 1.0.0 on my machine

[2019-02-04 17:01] zou3519 commented on #16183
Should be fixed by #16653

[2019-02-04 17:01] #16183 closed

[2019-02-04 17:13] zou3519 commented on #16445
@clements2 can you show us the new memory buildup pattern on the nightlies?

[2019-02-04 17:13] zou3519 commented on #4568
#12500 was merged!

[2019-02-04 17:13] #4568 closed

[2019-02-04 17:15] zou3519 commented on #16432
At the very least we should raise an error message if batch_sizes < nGPUs

[2019-02-04 17:18] FanShupei commented on #16035
I haven't tested the master so I don't know whether it's fixed there.
I guess the reason is that the shape of result tensor may be negative and PyTorch fails to check it.

In case 1, input size is `(3, 3)` and kernel size is `(5, 3)`, the calculated result's size is `(-1, 1)`. The element number is `-1` so the allocator complains invalid size.

In case 2, input size is `(3, 3)` and kernel size is

[2019-02-04 17:18] sadatnfs commented on #16112
I do not. Installing and testing build now.

[2019-02-04 17:19] ezyang commented on #16663
Go for it. However, I think it may be a bit more involved than "good first issue" implies XD

[2019-02-04 17:19] zou3519 commented on #16112
related: #16281

[2019-02-04 17:56] suo commented on #16699
Thanks for the report! Could you provide a small model/script that reproduces this issue to help us investigate?

[2019-02-04 17:59] ngimel commented on #16706
CPU-side generation unfortunately starts with throwing away 8 bits out of 32, thus resulting in at most 24 bits of entropy, as @obilaniu notes https://github.com/pytorch/pytorch/blob/517c7c98610402e2746586c78987c64c28e024aa/aten/src/TH/THRandom.cpp#L227-L242. @syed-ahmed 's refactor might address that, but I don't remember the details.
GPU-side generation does not do that, so should be better in t

[2019-02-04 18:12] yf225 commented on #16696
@ejoebstl the `torch::cross_entropy` module is not implemented in the C++ API yet (we plan to add it soon). We can use the following to achieve it now:

[code]

The accepted values for `reduction` are in aten/src/ATen/core/Reduction.h

[2019-02-04 18:20] zou3519 commented on #8605
@lukasheinrich what version of PyTorch do you have?

[2019-02-04 18:35] suo commented on #16293
I'm wary of making the rules for what PYTORCH_JIT does more complicated. It's intended to be a convenience tool for debugging. What's the situation where a user wants to turn off the JIT but still wants to trace the model?

[2019-02-04 18:36] suo commented on #16097
This is fixed in #16616

[2019-02-04 18:39] suo commented on #15210
Going to close this out as we don't have a repro to move forward with. @SPark9625, if you (or anyone else) continue to have this problem, please reopen and comment with a repro.

[2019-02-04 18:39] #15210 closed

[2019-02-04 18:48] mrshenli commented on #16700
If you prefer to stick with `DataParallel` instead of using `DistributedDataParallel`, have you tried the method mentioned in [this post](https://medium.com/huggingface/training-larger-batches-practical-tips-on-1-gpu-multi-gpu-distributed-setups-ec88c3e51255)? @rasbt also suggested something similar in the forum.

[2019-02-04 18:48] driazati commented on #16492
Thanks for reporting! Agreed this is pretty odd but there's some underlying refactoring we should be doing anyways that would help with this.

[2019-02-04 18:48] sadatnfs commented on #16112
@zou3519 it still errored out, but that was because the include headers weren't installed on my Debian, so I had to `apt-get install libgoogle-glog-dev`. That got the C headers that Torch needs. Might be worth putting this in the README?

[2019-02-04 18:58] gmorenomello commented on #15062
was legacy completely removed from pytorch 1.0?

[2019-02-04 18:58] rasbt commented on #16700
I think the gradient accumulation approach might work as a workaround together with DataParallel. Also DistributedParrallel might be a solution but comes with much more overhead.

However, while these are workarounds, I am still wondering if a modification to DataParallel can be considered to help with this issue more naturally. E.g., assume your machine has *k* devices

- define input device ID's

[2019-02-04 19:11] jamesr66a commented on #15319
Fixing https://github.com/pytorch/pytorch/issues/16663 should fix this issue

[2019-02-04 19:12] sadatnfs commented on #16112
Update: working after those apt-gets. Closing.

[2019-02-04 19:12] #16112 closed

[2019-02-04 19:23] SsnL commented on #16293
@suo well, the case came up for me when I have `jit.trace` to snapshot a graph, and wanted to use `PYTORCH_JIT` to debug and found my program completely broken.

[2019-02-04 19:36] dzhulgakov commented on #16642
cc @smessmer FYI on example multidispatch on element type

[2019-02-04 19:42] zou3519 commented on #16672
To fix: we need to change the chunk autodiff formula to handle this case where some of the gradients are undefined.

To compute correct gradients, chunk needs to save the size of the inputs in the forward pass. In the backwards pass, if a grad is undefined, we can use the size of the corresponding input (treat the grad as all zeros of that size, and cat it together with the other inputs).

[2019-02-04 19:43] davidtvs commented on #805
Actually, Maxout is applied to the channel dimension which in PyTorch is dimension 1 and not the last:

[code]

[2019-02-04 19:44] alejo9719 opened #16725 "ImportError: cannot import name 'caffe2_pb2' on Windows 10. Python 3.6"
## 🐛 Bug

I installed PyTorch via conda in a Windows 10 machine, Python 3.6 environment.

I get this error:
ImportError: cannot import name 'caffe2_pb2'

When trying to execute this tutorial:
https://pytorch.org/tutorials/advanced/super_resolution_with_caffe2.html

Specifically when importing the Caffe2 ONNX Backend

## Traceback

Traceback (most recent call last):
  File "onnxLoader.py", line 9,

[2019-02-04 20:22] suo commented on #15048
Going to close this out since there hasn't been movement on this issue for a while. Feel free to reopen if you are seeing this issue.

[2019-02-04 20:22] #15048 closed

[2019-02-04 20:23] sidazhang commented on #16713
Why does this need to be a JIT module? It seems like it is training related logic and not a inference related logic?

[2019-02-04 21:00] neonrights commented on #16700
My particular issue is that gradients are gathered and stored in ```device_ids[0]```.  This results in ```device_ids[0]``` using disproportionately more memory since it also computes a mini-batch with other devices. This is exacerbated when performing and update step with an optimizer such as ```Adam``` since it also uses memory on ```device_ids[0]```.  This leads to memory bottle-necking despite

[2019-02-04 21:08] soumith commented on #15062
@gmorenomello yes, it was.

[2019-02-04 21:09] soumith commented on #15245
just fyi to anyone coming here, @csarofeen or colleagues will be implementing this.

[2019-02-04 21:48] miguelvr commented on #16713
@sidazhang you are right, it is training logic, but it is coded in a way that wraps the module itself (maybe could have been achieved in some other way, sure). The question is if it is possible to change the attributes of traced modules.

@suo I'll get back to you tomorrow with a snippet to reproduce it, as I don't have access to code right now.

[2019-02-04 21:54] pietern commented on #16144
@stgzr With the fix landed this should now be resolved. Separately, I added a test to Gloo to test for memory growth. Also, we'll include it as part of the manual verification for big releases. This one slipped through the cracks on 1.0. Thanks again for reporting!

[2019-02-04 21:57] sidazhang commented on #16696
The python version is a fused operator though for better numerical stability. Am I right?

[2019-02-04 22:03] lukasheinrich commented on #8605
@zou3519 it's the standard `pytorch/pytorch` image `toch.__version__` reports 1.0.0

[2019-02-04 22:17] apaszke commented on #16696
I don't think so. IIRC most of the instability comes from using softmax and is alleviated by log_softmax.

[2019-02-04 22:32] soumith commented on #16709
So, I reran it in a freshly compiled maste (and tried a freshly compiled v1.0.1), and cannot repro it anymore.
I suspect that my environment was hoarding a previous pytorch install without @t-vi 's fix.

@xforceco closing this as fixed via  #16075 which will be part of the v1.0.1 release, and is also fixed on master.

[2019-02-04 22:32] #16709 closed

[2019-02-04 22:41] soumith commented on #16144
just fyi this patch will be part of the v1.0.1 release.

[2019-02-04 22:43] SsnL commented on #16707
@zou3519 I really meant `python setup.py clean]`, not `python setup.py clean`. The problem here is that `clean]` somehow goes to the same codepath as `install`.

[2019-02-04 22:53] gautamkmr opened #16733 "Support for Nvidia Tesla T4"
## 🚀 Feature
Current CMakeList.txt has support up to Volta SM=70. It would be great if we have support for T4 as well. I believe this architecture is more for inference than training but still a good use case to consider.
 I believe it has to accommodate Tesla T4 by supporting cuda compute ability 7.5   https://github.com/pytorch/pytorch/blob/9477a5d9c80d96e588e2e0e80320efcccbe83414/aten/src/ATen/

[2019-02-04 23:01] soumith commented on #16733
we actually support sm_75 in our CUDA10 binaries. The pointed code is for a fakelink cufft library, that shouldn't really matter for any real codepath.

[2019-02-04 23:01] soumith commented on #16733
the relevant flags are at: https://github.com/pytorch/pytorch/blob/master/cmake/Modules_CUDA_fix/upstream/FindCUDA/select_compute_arch.cmake

[2019-02-04 23:03] soumith commented on #16733
I'm totally wrong. looks like select_compute_arch.cmake doesn't add support for sm_75, we need to update it.

However, considering sm_70 is binary-compatible with sm_75, the code should run fine (if you are running CUDA10 pytorch binaries). Is this not the case?

[2019-02-04 23:14] shayneobrien opened #16737 "torch.save overwrite"
## 🚀 Feature

Add an overwrite feature to torch.save (default: false) or throw a warning that it will not overwrite a file with the input filename already taken.

## Motivation
The current [workaround](https://discuss.pytorch.org/t/how-to-save-a-model-from-a-previous-epoch/20252/4) is to save a new model at each epoch. This is helpful in many applications, but saving a single model (and thus savin

[2019-02-04 23:17] gautamkmr commented on #16733
"However, considering sm_70 is binary-compatible with sm_75, the code should run fine (if you are running CUDA10 pytorch binaries). Is this not the case?"

Yeah I can give a sort on testing, but in past we had experience where pytorch compiled with sm_30 was not working on sm_35.

[2019-02-04 23:20] vadimkantorov commented on #16708
One nasty issue that prevents detection of correct headers (even if the correct directory is in CPATH at the first place) is GCC's multilib: https://github.com/pytorch/pytorch/issues/13188

[2019-02-04 23:20] soumith commented on #16733
sm_30 and sm_35 are special. sm_30 is binary-compatible with sm_35, but sm_35 introduced instructions that made it significantly faster for some kernels (and also not compatible backwards with sm_30).

[2019-02-04 23:21] soumith commented on #16733
this thread suggests that the sm_70 / cuda10 version of PyTorch should work with T4: https://github.com/pytorch/pytorch/issues/14260#issuecomment-451987294

let me know how it goes. Either ways, we will introduce sm_75 to the relevant files.

[2019-02-05 00:14] Edwardf0t1 opened #16741 "enforce fail at inline_container.cc:137] . PytorchStreamReader failed reading zip archive: failed finding central directory"
## 🐛 Bug

[code]

## To Reproduce

We have a C++ script using PyTorch C++ api to test a model's performance , and when loading the saved model by our PyTorch script and calling this line:

[code]

we got core dump error as described above.Please help.

We have the following included libraries in our C++ scripts:

[code]

## Environment

The C compiler identification is GNU 5.4.0
The CXX compiler i

[2019-02-05 00:16] ngimel commented on #16706
Now that I look at it, not only #16604 does not solve it, it likely breaks GPU in similar way, by discarding random bits https://github.com/pytorch/pytorch/pull/16604/files#diff-630e4621b02f4915fa4813e67c6a61b7R62
cc @syed-ahmed

[2019-02-05 00:36] houseroad opened #16742 "Training flag in the JIT script module is not saved in the serialization"
## 🐛 Bug

Even we call the eval() before the serialization, the loaded model's training flag is still True.

## To Reproduce
[code]

The output is
[code]

cc: @suo @jamesr66a @zdevito @pritamdamania87

[2019-02-05 00:37] obilaniu commented on #16706
I concur with @ngimel ; #16604 has the same problems, and on GPU the code that converts cuRAND's high-quality uniform samples from `(0, 1]` to `[0, 1)` seems to discard all the hard work that cuRAND put into the near-0 uniforms.

cuRAND explicitly documents that it may take a variable amount of entropy (not just 24 bits) from the RNG in order to generate any given float; presumably this is an allu

[2019-02-05 00:42] ngimel commented on #16706
There's no hard work in curand, basically all there is is what I posted above
[code]
It is slightly better near 0 because there actually will be numbers generated between 0 and 2^-24, but consequence 1 and consequence 2 would still be present even with curand uniform sampling.

[2019-02-05 00:50] Ithanil opened #16744 "Memleak on backward with create_graph=True [solved?]"
## 🐛 Bug

Memory consumption keeps increasing monotonously when using `backward`  with `create_graph = true`, inside a loop.

## To Reproduce

Minimal example (C++ API):
[code]

## Expected behavior

I would expect memory consumption to remain constant.

## Environment

 - PyTorch Version 1.0.0.dev20190201 (obtained via wget&unzip)
 - Built with gcc version 8.2.1 20181127
 - OS Linux

## Additiona

[2019-02-05 00:50] zdevito commented on #16742
Training tensor is only generated for Modules that use it. What is the value of `a.d.training` before and after? Does it matter that a flag that is not used by a module is not restored in the same way?

[2019-02-05 00:51] obilaniu commented on #16706
@ngimel Well, if referencing the [cuRAND documentation](https://docs.nvidia.com/cuda/curand/device-api-overview.html#distributions):

_(emphasis added)_

This feels like it's clearly alluding to a greater-than-32 (and even variable) number of bits of entropy being drawn from the generator per uniform float, presumably to refine the sampling near `0.0`, but I may be mistaken.

[2019-02-05 00:54] houseroad commented on #16742
@zdevito i have updated the code and output. `a.d.training` is False (before) and True (after).

[2019-02-05 01:13] ngimel commented on #16706
All device-side generation is in the open-source headers. What do you believe - documentation or the code? Don't tell anyone, but curand_uniform_double with curandStateMtgp uses 32 bits of entropy to generate what it calls uniformly distributed double
[code]
and, incidentally, mtgp32 is what pytorch uses currently.

[2019-02-05 01:15] obilaniu commented on #16706
Beurk. Thanks for the heads up.

Well, at least 32 is better than 24.

[2019-02-05 01:33] zdevito commented on #16742
There is no @torch.jit.script_method annotation on forward, which seems wrong to me.

[2019-02-05 01:38] rasbt commented on #16700
Yes, that's basically what I was proposing above. You may not even need a new variable but can do that on the GPU that is specified as via `output_device`. The reason why this currently doesn't work is that the `output_device` must be in the device id list.

[2019-02-05 02:59] zdevito commented on #16367
We are working on the ability to serialize any IValue, and allow any IValue to exist as an attribute on a script::Module. This should allow for the serialization of models that rely on non-tensor members such as dictionaries.

[2019-02-05 03:36] sidazhang commented on #16367
Could you explain why people want to serialize a script::Module? The only module that I want to serialize is jit.ScriptModule, no? Why serialize a CPP module?

[2019-02-05 04:02] zdevito commented on #16367
jit.ScriptModule is just the python wrapper around script::Module. So they are the same thing. But adding attributes to script::Module will allow the use of non-tensor attributes in ScriptModules and the ability to save/load them.

[2019-02-05 04:04] sidazhang commented on #16367
As a side question, Does it mean that if you allow any IValue to exist as an attribute on script::Module. And if you allow mutable dictionary as an IValue. Then you will essentially allow mutable dictionary as an attribute in ScriptModule?

[2019-02-05 04:18] peterjc123 commented on #16725
Yes, it's fixed in master and will be available in the upcoming v.1.0.1 release.

[2019-02-05 04:22] peterjc123 commented on #16725
Duplicate of https://github.com/pytorch/pytorch/issues/15156. Would you please close this PR?

[2019-02-05 04:34] BarclayII commented on #16635
Weird.  It occurs on Python 3.5 and pip installation for me as well.

[2019-02-05 04:55] #16725 closed

[2019-02-05 05:40] houseroad commented on #16742
My bad, have fixed the problem now. The loaded script module (i.e., b) gives the right result. But both b.training and b.d.training are True. This inconsistence may get user confused.

[2019-02-05 07:40] vlasenkov commented on #16655
yes, I have already tried to put this:
[code]
before the `print` -- memory usage slightly changes, but by a very small amount

[2019-02-05 07:56] dzhulgakov commented on #16614
Thanks for the suggestion!

On adding support of `with torch.cuda.stream(...):` in TorchScript, we'd prefer to avoid it or at least wait until it's absolutely necessary. The reason is that this API hard-codes pretty explicitly device (gpu) and it'd be harder to move the saved model to CPU later. Similarly, for inference cases, it might be preferable to control stream behavior in a central fashion

[2019-02-05 07:56] jac08h commented on #5040
Using smaller batch size fixed the problem for me on Kaggle.

[2019-02-05 09:45] FrancescoSaverioZuppichini opened #16755 "Defined layers by @property to allow better modularity"
## 🐛 Bug
@property fields modules are not added to the `Module`

## To Reproduce
What if I want to define a field as a property to provide a clear way to override it in class that inherits from it?
[code]
output:

[code]
There is no `l2`

## Expected behavior
I would expect `nn.Module` to correct track the @property defined layers.

## Environment

Please copy and paste the output from our
[enviro

[2019-02-05 11:06] esling opened #16756 "Implementing Normalizing Flows with TransformedDistribution"
Since the recent introduction of `TransformedDistribution`, I was hoping to move my implementation of normalizing flows using solely the corresponding classes instead of `nn.Module` ... mostly because it is intellectually pleasing (^^) but also as this allow to nicely consider them as ... distributions

However, it seems not really directly possible for flows with trainable parameters. I tried usi

[2019-02-05 11:11] TrigonaMinima commented on #16357
@wangg12 are you working on this?

[2019-02-05 11:13] bhack commented on #16614
So is it ok to just put a guard or a setcudastream before the module forward in c++?

[2019-02-05 12:13] samhu1989 opened #16757 "error in building extention for pytorch with Win10+Cuda9.2+VS2017+anaconda py3.7+amd64"
When I build my extention in Win10 I used same setup.py  as I did in Ubuntu
and the following .bat to set cl compiler

`@echo off`
`set "VS150COMNTOOLS=D:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\"`
`set DISTUTILS_USE_SDK=1`
`call "%VS150COMNTOOLS%\vcvarsall.bat" x64`
`call activate D:\CONDA`
`call activate pytorch`
`python setup.py install`
`pause`

It runs in

[2019-02-05 13:21] vishwakftw commented on #16756
cc: @fritzo

[2019-02-05 13:49] t-vi commented on #16756
Do you have a minimal example of what should work? Maybe one can make multiple inheritance work.

[2019-02-05 14:08] esling commented on #16756
Okay so for instance let's say that I would like to implement a simple Planar Flow class (here that could be both seen as a Transform and a Module as it embeds some trainable parameters)

[code]

Then I could use it in a main type of flow a little bit like this (here I only use the Planar Flow, but the idea would be that this class could contain any sequence of flows)

[code]

(Even better would b

[2019-02-05 14:43] peterjc123 commented on #16757
Yes, you could try adding `/MD` or `/MT` into the compiler flags.

[2019-02-05 14:52] huntzhan commented on #16375
Hi @goldsborough, I'm playing around Python-bound C++ frontend modules recently and notice that there're some gaps in usability. Not sure if this the right place to discuss.

When bound to Python, the C++ module will not be treated the same as `torch.nn.Module`. As a consequence, I need to [manually bind the parameters](https://github.com/cnt-dev/pytorch-fast-elmo/blob/d78b64e2f692068bb3ba6d76a841

[2019-02-05 14:55] #9236 closed

[2019-02-05 15:00] t-vi commented on #16756
I would suggest that you split the hacks into a class`TransformedDistributionModule` (ugh) and subclass from there (you could just call `Module.__hash__(self)`. Then we can discuss how to do this.
The log det jacobian reminds me a bit of #7313, but I could be wrong and it might be easier when you know the "user".

[2019-02-05 15:04] sidazhang commented on #16594
@zou3519 Please see here for the repro

[2019-02-05 15:07] samhu1989 commented on #16757
@peterjc123
I am not familiar with setuptools and custom options for buildextention could you please point me to some doc about it ? thanks ahead

[2019-02-05 15:15] peterjc123 commented on #16711
See `extra_compile_flags` of https://docs.python.org/3/distutils/apiref.html#distutils.core.Extension. And document for Cpp Extension: https://pytorch.org/docs/stable/cpp_extension.html#torch.utils.cpp_extension.CppExtension.

[2019-02-05 15:15] peterjc123 commented on #16757
See `extra_compile_flags` of https://docs.python.org/3/distutils/apiref.html#distutils.core.Extension. And document for Cpp Extension: https://pytorch.org/docs/stable/cpp_extension.html#torch.utils.cpp_extension.CppExtension.

[2019-02-05 15:22] fmassa commented on #16655
@vlasenkov I've just run your code with torch 1.0.0.dev20190116 , and here is what I got:

[code]

So the behavior is very different from what you are seeing. Could you try updating PyTorch to see if that fixes it for you?

[2019-02-05 15:31] rui15 opened #16758 "help"
I need a help I'm trying to test this code but I'm facing a problem I'm quite new on python. the erro is below
Traceback (most recent call last):
  File "C:\Users\Rui\Desktop\Neural-Component-Analysis-master\nca.py", line 92, in <module>
    main()
  File "C:\Users\Rui\Desktop\Neural-Component-Analysis-master\nca.py", line 77, in main
    B =torch.autograd.Variable(torch.from_numpy(pca.components_

[2019-02-05 15:33] ezyang commented on #16758
The error is what it says on the tin: you have a version of PyTorch which is not compiled with CUDA support. Do you have a GPU? If so, you should download a binary distribution for Windows that supports CUDA.

[2019-02-05 15:33] #16758 closed

[2019-02-05 15:34] ezyang opened #16759 "test_events_multi_gpu_elapsed_time is flaky"
[code]

log: https://circleci.com/gh/pytorch/pytorch/716538?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-02-05 15:34] ezyang commented on #16759
cc @mrshenli

[2019-02-05 15:36] ezyang commented on #16759
Actually, it's not just flaky, it's totally broken. Reverting culprit commit #16705

[2019-02-05 15:36] #16759 closed

[2019-02-05 15:41] ezyang opened #16760 "Binary jobs are not correctly using Git plumbing to run diagnostics"
I see binary jobs occasionally fail with:

[code]

You are probably hanging because Git incorrectly thinks that it is outputting to a terminal, so it opens less and hangs without any keyboard input. The correct way to disable pager is passing `--no-pager` to `git` e.g. https://stackoverflow.com/questions/7736781/how-to-make-git-log-not-prompt-to-continue

cc @pjh5

[2019-02-05 15:41] ezyang commented on #16760
Sample job: https://circleci.com/gh/pytorch/pytorch/717396?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link/console

[2019-02-05 15:52] esling commented on #16756
Thank you for all the pointers !... it seems that I have to roam down the shameful path of hackiness after all :)

So here is a little example that works (even though my eyes are slightly bleeding)

[code]

I still need to handle the log det jacobian by hand but I will read #7313 more carefully before going further !

[2019-02-05 16:04] sidazhang commented on #16592
@suo One additional note, this only happens inside training? Do you think optimize is breaking due to some issues with gradients?

[2019-02-05 16:14] samhu1989 commented on #16757
@peterjc123
Hi, your advice didn't exactly solve my problem.
I do solve the problem by altering the code in cpp_extention.py inside pytorch.
Now, I believe it is kind of a small bug in pytorch's utils instead of my own issue.
`
cmd = [nvcc, '-c', src, '-o', obj, '-Xcompiler', '/wd4819', '-Xcompiler', '/MD' ] + include_list + cflags
`
the above code is in cpp_extention.py and it explicitly add '/MD

[2019-02-05 16:26] lopezpaz opened #16762 "torch.topk has trouble with inf's and nan's"
In master, the code:

[code]

outputs:

[code]

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @anjali411 @heitorschueroff

[2019-02-05 17:24] fmassa commented on #16762
cc @umanwizard

[2019-02-05 17:47] awaelchli commented on #5040
I get the same error message on my machine in PyTorch 1.0. Not using docker, colab or Kaggle.

[2019-02-05 17:56] davidwagnerkc commented on #5040
@awaelchli Increase the size of /dev/shm to accommodate for the increased memory requirements of running two experiments at once, that is if you have enough RAM to handle it. I posted a command to do this above in the thread.

[2019-02-05 18:09] suo commented on #16263
A quick update about our high-level plan for C++ interop:
1. User-defined types in TorchScript. We hope that this can resolve like 80% of user requests for stateful/complex logic in the JIT.
2. "C-data" objects in the JIT—basically opaque handles to arbitrary C++ memory wrapped in a user-defined type, with serialization and resource handling logic provided by the user.

Complete interop between Sc

[2019-02-05 18:25] zdevito commented on #16742
We have a longer-term plan to allow Script modules to have attributes like training directly. This will get rid of the special case logic that is causing this behavior.

[2019-02-05 18:46] sidazhang commented on #16263
Got it. Is user-defined types basically a class that you write in C++ and wrap?

This sounds good. I think to allow any stateful logic is already pretty awesome

[2019-02-05 18:51] rui15 commented on #16758
DOES IT HAVE RELATION WITH NVIDIA GRAPH? I'M NOT FAMILIAR  WITH PYHTON, BUT I JUST HAVE A CODE WRITTEN ON PYTHON WHICH I'M TRYING TO RUN TO PLOT GRAPH, MAY I SEND YOU THE CODE IN ORDER TO WHETHER WILL RUN ON YOUR COMPUTER? I WANT TO USE IT FOR MY THESIS

I LOOK FORWARD TO HEARING FROM YOU
________________________________
From: Edward Z. Yang <notifications@github.com>
Sent: Tuesday, February 5, 20

[2019-02-05 19:04] houseroad commented on #16742
I see. Thanks for the explanation. Close the issue since it's a known behavior, and we have a long term plan for general attributes in Script module.

[2019-02-05 19:04] #16742 closed

[2019-02-05 19:48] fritzo commented on #16756
Also Pyro uses a similar pattern, defining a [TransformModule](https://github.com/pyro-ppl/pyro/blob/dev/pyro/distributions/torch_transform.py)

[2019-02-05 20:01] t-vi commented on #16756
Would it make sense to define the TransformModule in PyTorch itself?

[2019-02-05 20:19] pjh5 commented on #16760
Fixed in referenced PR

[2019-02-05 20:19] #16760 closed

[2019-02-05 20:25] dsblank opened #16775 "Pip upgrade to torch 1.0.1 breaks under Python 2.7 (No module named typing)"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

Starting with torch-1.0.0 and python2.

1. `$ python2 -m pip install torch --upgrade`
1. `$ python2`
1. `>>> import torch`
[code]

[2019-02-05 20:34] zou3519 commented on #16775
`pip install typing` should fix your problem.

Did we add a runtime dependency on mypy? cc @ezyang

[2019-02-05 20:41] dsblank commented on #16775
There are a couple of other ways to fix the issue:

1. `pip install torch --update --upgrade-strategy eager`
2. `pip install torch==1.0.0`

Just reporting here so others may find the solutions.

[2019-02-05 20:50] ezyang commented on #16775
No, we're not supposed to have a runtime dependency on mypy. I must have messed up the type hints patch merge.

[2019-02-05 20:52] #16591 closed

[2019-02-05 20:53] ezyang commented on #16775
https://github.com/pytorch/pytorch/pull/16776

[2019-02-05 20:57] dsblank commented on #16775
Thanks for the quick attention! Much appreciated!

[2019-02-05 20:58] ezyang commented on #16775
This wasn't caught in CI because typing is a mandatory build-time dependency for PyTorch, and we don't subsequently uninstall it when we run tests.

[2019-02-05 21:37] pritamdamania87 commented on #16742
Should we keep this issue open until its resolved? To me this is still a bug since the user might look at the training flag after loading the model and would be confused about which state the model is in.

[2019-02-05 21:39] suo commented on #16263
A user-defined type would be a class defined in pure TorchScript with data members and methods. The thing you're describing is more like #2.

[2019-02-05 21:49] driazati commented on #16741
Thanks for reporting! I couldn't reproduce this locally with a simple model in Python, are you able to supply the Python code to generate `model.pt`?

[2019-02-05 21:56] umanwizard commented on #16762
It's not clear to me what the "correct" output is. Should NaN be regarded as smaller than any other element, larger than any other element, or does it depend on the direction? (For `sort` we consider NaNs to be larger than any element, but I think it would be a bit weird here if `topk` returned NaNs with priority over numbers...)

[2019-02-05 21:57] mrshenli commented on #16532
It is because, when exiting the function, the `output` will be deleted, which triggers [recursive graph function deletion](https://github.com/pytorch/pytorch/blob/master/torch/csrc/autograd/function.cpp#L77) and deletes the `next_edges_` from `BroadcastBackward` to `AccumulateGrad`.  As a result,  the gradient will not be accumulated into `net`. You can avoid this by returning both the `gradient`

[2019-02-05 22:13] Balandat opened #16780 "batch mode torch.cholesky does not raise RuntimeError on GPU if not pos. def."
## 🐛 Bug

When trying to perform batch Cholesky decomposition of a singular matrix on the GPU, a tensor with NaNs is returned instead of raising a `RuntimeError` as on the CPU.

## To Reproduce

[code]

## Expected behavior

Behavior should be consistent between CPU and GPU, i.e., a `RuntimeError` should be raised in the last call above.

## Environment

This is on master (fbcode).

[2019-02-05 22:19] esling commented on #16756
Thanks @fritzo for the follow-up, always liked Pyro so I am delighted that PyTorch seems to be taking this probabilistic direction.

And yes @t-vi, at least for me it makes sense if PyTorch is proposing a solid set of probabilistic modules ... but maybe it could go in a flavor similar to [TensorFlow's Bijectors](https://www.tensorflow.org/api_docs/python/tf/contrib/distributions/bijectors/Bijector

[2019-02-05 22:36] mkolod commented on #16614
Hi @dzhulgakov, I agree with all your points of course.

The `CUDAStreamGuard` should work fine, of course. I didn't know it existed. Honestly the C++ API is poorly documented unless one works on the backend every day.

That's not a problem for ATen, because the API is very similar to the Python one, so one knows what to grep for. For things like `CUDAStreamGuard` one will find it depending on whe

[2019-02-05 23:08] bhack commented on #16614
Honestly I had problem to set the cuda stream or guards just before the module forward and the set on another stream (or use the out of scope for the guards) i.e. for post-processing. I had random numerical differences.
Are we sure that is it supported?

[2019-02-05 23:15] Edwardf0t1 commented on #16741
Thank you for the response. Our Python code is similar to this one:

https://github.com/LaurentMazare/deep-models/blob/5aa353f88065150b0a024578f4af09d5c4f2d651/cifar-10/train.py

We used the same way to generate "model.pt".

Btw, when we cmake our testing app, we pointed to the libtorch downloaded (2/4/2019) with the following configurations:
![screen shot 2019-02-05 at 2 40 48 pm](https://user-im

[2019-02-05 23:22] connorchristopherson commented on #16437
@vishwakftw mentioned running with `CUDA_LAUNCH_BLOCKING=1`, how do you do that? Or... where could I find resources to learn how to work with CUDA's environment variables?

[2019-02-05 23:32] gchanan commented on #16762
make it an option maybe?  It would also seem weird if the output of `topk` didn't match the option of `sort`.

[2019-02-05 23:33] jwakely commented on #5400
Are these crashes in `std::string` destructors for empty (i.e. zero-length) strings? It's possible it's related to https://gcc.gnu.org/bugzilla/show_bug.cgi?id=86138 which is fixed in recent GCC versions.

[2019-02-05 23:36] neonrights commented on #16700
From my understanding, ```DataParallel``` executes a forward and backward pass like so, where the replicated model is initially on ```device_ids[0]```.

![DataParallel execution](https://cdn-images-1.medium.com/max/1000/1*FpDHkWJhkLL7KxU01Lf9Lw.png)

Could the proposed behavior be accomplised by altering the second step and replicating the model from the ```output_device```?  Since the extra copy

[2019-02-05 23:50] asmeurer commented on #13981
I am working on this.

This is an issue with the way Python handles attribute errors and `__getattr__`. Here is a simple example:

[code]

https://stackoverflow.com/questions/25115366/property-and-getattr-compatibility-issue-with-attributeerror suggests returning `self.__getattribute__(name)` from `__getattr__`. That does indeed seem to fix this specific issue

[code]

but I'm not sure what the im

[2019-02-05 23:59] gchanan commented on #16532
curious: does this work pre https://github.com/pytorch/pytorch/commit/89d56ae435373e54932566806c8432634e6a5cfa
?

[2019-02-06 00:33] asmeurer commented on #13981
We can also optimize for the fact that `register_parameter` and so on will not allow dynamic attributes that are already defined by removing the `try` and moving the `super().__getattribute__` call to the end. This makes dynamically defined attribute lookups just as fast as they are now, at the expense of making lookups for normally defined attributes even slower (about 10x, at 1.55 µs) (undefined

[2019-02-06 00:40] BarclayII commented on #16635
I tried building the master branch from source and it seems that the problem no longer exists.

[2019-02-06 00:40] #16635 closed

[2019-02-06 00:42] sidazhang commented on #16591
Amazing @zdevito :)

[2019-02-06 00:56] vishwakftw commented on #16780
I will take a look at this. Thank you for reporting.

[2019-02-06 01:01] tebesu commented on #16532
@gchanan
This problem does not occur in Pytorch 0.4. I have not tried the specific commit you mentioned.

[2019-02-06 04:33] farhan333 commented on #14317
@h6197627 When you use LITE_PROTO do you see a lower use of memory ?

My current application acquires 1.7 GB then flatlines to 0.3 GB.

This does not change whether Caffe2 is built with LITE_PROTO ON or OFF

Maybe @soumith or @t-vi know better?

[2019-02-06 05:46] #2499 closed

[2019-02-06 07:09] hameerabbasi commented on #15089
If someone isn't working on this I'd be willing to take it on.

[2019-02-06 07:10] hameerabbasi commented on #15089
(It'd be nice if someone could point me to the current code for `abs`).

[2019-02-06 07:39] geneing opened #16793 "batchnorm1d inference behavior is incorrect"
## 🐛 Bug

When in inference mode batchnorm1d should use precomputed weights and means. However, code contains a typo in:
`F.batch_norm(
            input, self.running_mean, self.running_var, self.weight, self.bias,
            self.training or not self.track_running_stats,
            exponential_average_factor, self.eps)`

I believe it should be `self.training or self.track_running_stats`. Curre

[2019-02-06 08:15] vlasenkov commented on #16655
I use [nvcr.io/nvidia/pytorch:19.01-py3](https://ngc.nvidia.com/catalog/containers/nvidia:pytorch/tags) docker. I uninstall the default version with:
[code]
And install the latest with:
[code]
Then I run the script and get:
[code]
Another env info:
[code]

[2019-02-06 08:23] sanchit2843 opened #16795 "CUDA error: device-side assert triggered"
I have tried everything and unable to solve this problem. I am getting this problem on 3 different datasets I have tried. GPU is K80 . Please find the complete code in this drive link. I have pasted the dataloader , model and training step here . I have used CUDA_LAUNCH_BLOCKING=1:
[code]
![capture](https://user-images.githubusercontent.com/25120886/52328706-85908980-2a16-11e9-9a12-6e98e6fcf562.PN

[2019-02-06 10:08] petered opened #16797 "Should be a way to unpickle an object with a torch cuda tensor on a CPU-only machine"
## 🚀 Feature
The ability to pickle.load a Python object containing a torch cuda tensor on a CPU only machine.

## Motivation

Currently, trying to do this gives `RuntimeError: Attempting to deserialize object on a CUDA device but torch.cuda.is_available() is False. If you are running on a CPU-only machine, please use torch.load with map_location='cpu' to map your storages to the CPU.`  Even though

[2019-02-06 10:09] ferrine commented on #9983
I've managed to implement (with a simple test) matrix exponential using torch script here:
https://github.com/ferrine/geoopt/blob/master/geoopt/linalg/_expm.py
I can open a PR to add that to pytorch master as well

[2019-02-06 10:25] fmassa commented on #15089
Hi @hameerabbasi

This task is currently assigned to @ericnakagawa , and I believe it will be worked on soon.

Thanks for offering to tackle this issue though! Just pick an issue tagged as `good first issue` that hasn't been assigned to someone yet, and that should be a good start!

[2019-02-06 10:33] AliengirlLiv commented on #16433
It seems probable that the issue is related to issue #16532  with calling `torch.autograd.grad` within a function while using multiple GPUs.  We tried running the code on 1 GPU and it worked.  The instability only appears with multiple GPUs.

[2019-02-06 10:59] vishwakftw commented on #16780
This seems to be a MAGMA issue. I've opened a discussion on the MAGMA forums [here](https://icl.cs.utk.edu/magma/forum/viewtopic.php?f=2&t=2361&sid=d93add864c3744927d3a979423789bf7).

There was a very similar issue with `getrf` (the driver for LU decomposition) which was fixed in MAGMA v2.5.0.

[2019-02-06 11:00] fmassa commented on #16655
Are you still using CUDA 10.0 in the other machine? Can you try installing PyTorch 1.0 with CUDA 9.0 and double-check?

[2019-02-06 11:56] vlasenkov commented on #16655
On the other (healthy) container I have CUDA runtime 9.0 and Pytorch-0.4.1 built for this CUDA version.
I have tried to install Pytorch-1.0.1 with built for CUDA 9.0 in the "bad" container. The result is the same. However, this container still has CUDA runtime version 10.0:
[code]

[2019-02-06 11:58] tdanyluk opened #16799 "ONNX export of interpolate crashes if used after mul with constant"
## 🐛 Bug

ASSERT FAILED at /pytorch/aten/src/ATen/core/jit_type.h:128
## To Reproduce

Steps to reproduce the behavior:

1. run the code

import torch
import torch.nn.functional as F

class Interpolate(torch.nn.Module):
    def __init__(self, scale_factor=None, mode=None, align_corners=None):
        super(Interpolate, self).__init__()

        assert scale_factor is not None
        assert mode

[2019-02-06 12:04] robbine commented on #16699
https://github.com/robbine/allennlp-as-a-library-example/blob/master/scripts/export_pytorch_script.py
The above script shows how I tried to export from pytorch model to onnx model.
The model I want to export is a standard pytorch model which were trained using Chinese corpus.
Do I need to upload it inorder to investigate ?

[2019-02-06 12:05] svenevs commented on #12915
Fixing issue was merged, closing this for the record :slightly_smiling_face:

[2019-02-06 12:05] #12915 closed

[2019-02-06 12:22] fmassa commented on #16655
Hi again,

@albanD just mentioned to me that this could be a problem of algorithm selection of CUDNN on a V100.

Indeed, the previous test I run was on a P100, but trying it on a V100 reproduced your results:
[code]

I also tried enabling `cudnn.benchmark`, and the memory usage was more consistent, but still large:
[code]
but with `cudnn.deterministic = True` it gives consistent results:
[code]

C

[2019-02-06 13:21] maartjeth commented on #9468
This issue still seems to exist - I'm getting the same error when multiplying a numpy float64 scalar with at torch.float32 tensor. Changing the order (tensor * scalar instead of scalar * tensor) indeed solves the issue.

Two other observations:
1) This behaviour seems to be dependent on the type of GPU / CPU.
2) This behaviour only shows up in some specific cases (I can't figure out what makes the

[2019-02-06 14:20] t-vi commented on #9468
I'd be willing to reopen this bug or open a new one if you have a repro.
Two ways this could still happen is if either
- the scalar has a high `__array_priority__`, (not the default with numpy scalars and expected if you purposely mess with that),
- the scalar does is not recognized by `PyArray_IsIntegerScalar` nor by `PyArray_IsScalar` (or you compiled PyTorch without NumPy support).
If none of t

[2019-02-06 15:16] bhack opened #16801 "Scriptmodule version of trace"
## 🚀 Feature

It could be useful to know the pytorch/jit code version that emitted a .pt file
## Motivation
If you store traced `.pt` files you want know what was the pytorch/jit from witch they was generated. Currently seems it is not possible.

## Pitch
When we save and load a traced model we could have an API to store retrieve the version.

## Alternatives
Save these metadata yourself

## Addit

[2019-02-06 15:24] zou3519 commented on #16795
Is that the output with `CUDA_LAUNCH_BLOCKING=1`?

[2019-02-06 15:31] siarez opened #16804 "Wrong description of positive class weight in BCEWithLogitsLoss"
## 📚 Documentation

The explanation of `pos_weight` for [BCEWithLogitsLoss](https://pytorch.org/docs/stable/nn.html#torch.nn.BCEWithLogitsLoss) mentions:
`where :math:`p_n` is the positive weight of class :math:`n`.`

We don't have `n` classes (this is a binary loss). The correct description would be something like this:
 `:math:p_n is the weight of the positive class for sample n in the batch`

[2019-02-06 15:31] albanD commented on #16795
@sanchit2843 please avoid cross posting here and on the forum. This creates a lot of noise for people trying to fix issues.
The corresponding forum post is [here](https://discuss.pytorch.org/t/cuda-error-device-side-assert-triggered/36507) and the issue was invalid range of the labels.

[2019-02-06 15:31] #16795 closed

[2019-02-06 15:40] maartjeth commented on #9468
* `scalar. __array_priority__` = -1000000

How exactly do I check    * `PyArray_IsIntegerScalar` or     * `PyArray_IsScalar`?

[2019-02-06 15:41] Ithanil commented on #16744
Even when you do something like this, it grows in memory:

[code]

[2019-02-06 15:48] Haydnspass opened #16805 "cstddef not found when compiling C++ Extension - macOS"
## 🐛 Bug

I wanted to write a small C++ extension and compile it via setuptools beforehand as mentioned in the Tutorial. However there seems to be library issues on my mac. Can someone help?
The latest xcode command line tools are installed.

## To Reproduce

Steps to reproduce the behavior:

1. write any C++ extension for pytorch
2. `$ CC=clang CXX=clang++ NO_CUDA=1 python setup.py install`
3. OR

[2019-02-06 16:16] ezyang commented on #16805
We debugged a similar issue in https://github.com/Roger-luo/pytorch-complex/issues/5

There appears to be some problem with extension building on macs on master. cc @goldsborough @yf225

[2019-02-06 16:21] LongPham7 opened #16806 "storage_initialized() ASSERT FAILED when I execute tensor.resize_(-1)"
## 🐛 Bug

When I execute `tensor.resize_(-1)`, I get a run-time error message that tells me to report the bug: `RuntimeError: storage_initialized() ASSERT FAILED at ..\aten\src\ATen/core/TensorImpl.h:656, please report a bug to PyTorch`. Because `-1` is not a valid argument to `resize_()`, it is reasonable that we get an error. However, the above error message seems to suggest that this error is n

[2019-02-06 16:24] ezyang commented on #16806
Thanks for the report! Happy to review a PR on this.

[2019-02-06 16:33] esling commented on #16756
Hey @fritzo and @t-vi as promised I started a series of tutorials on implementing NF with `torch.distributions`. It might be a bit rough on the edges, and maybe slightly too verbose but at least it is a start
https://github.com/acids-ircam/pytorch_flows/blob/master/flows_01.ipynb

So I am also looking forward to update this on the optimization side when need be

[2019-02-06 17:21] HectorAnadon commented on #10043
Hello, any news related with this issue? Thank you for your help!

[2019-02-06 17:35] PetrochukM commented on #10043
Block sparse matrices are promising:
https://blog.openai.com/block-sparse-gpu-kernels/

![image](https://user-images.githubusercontent.com/7424737/52361152-70a1ff00-29f2-11e9-9c0b-19fe29ea8ea8.png)

This technique has allowed our team to speed up GRU computations by a large factor. It is also advocated for my OpenAI.

[2019-02-06 18:17] voletiv commented on #9127
Does this bug persist in 1.0.0 and 1.0.1? Do we need to merge these files in those versions as well?

[2019-02-06 18:44] asmeurer commented on #13981
There is a slight performance improvement using `object.__getattribute__` instead of `super().__getattribute__()` (400 ns for regular attributes). It would only matter if someone does a multiple inheritance with another class that defines `__getattribute__`, and it can be worked around by the subclass redefining `__getattribute__` (but probably that would never happen anyway).

[2019-02-06 19:21] zasdfgbnm opened #16813 "Namedtuples and compatibility for python < 3.2"
Just discussed with python developer in https://bugs.python.org/issue35914.

Starting from https://github.com/pytorch/pytorch/pull/15429, the return of some operators starts to switch from tuple to structseq. Object of structseq is not a tuple on python version < 3.2. Making structseq a subtype of tuple is an enhancement rather than a bugfix for python, so old python versions would never get that

[2019-02-06 19:27] suo opened #16815 "[jit] bad error msg when looping over ModuleList that's not in __constants__"
It's not clear that ModuleList should be added to `__constants__` for iteration.

Below is quoted from: https://discuss.pytorch.org/t/updated-problem-enumerating-nn-modulelist-with-torch-jit/36445/4

"Actually I think I fixed my original question: self.rnn was a nn.Module and now I also made in ScriptModule, but now I have a new problem. Looks like I cannot loop over nn.ModuleList. I tried to inde

[2019-02-06 19:29] aricheto commented on #16806
Thank

[2019-02-06 19:40] sdmonov commented on #16707
In fact any "bad" cmd (or no argument at all) to setup.py will start the install path. `python setup.py clean a` would show an error and the setup.py usage text, but commands such as `setup.py --help-commands` would just start install path:

[code]

I'll be happy to take a look at this.

[2019-02-06 19:43] zasdfgbnm commented on #16813
How do we deal with this issue? Do we:

1. on Python < 3.2, just make python these ops tuples without names, and only enable namedtuple return on python > 3.2, or
2. return structseq on Python < 3.2, break the user code mentioned, and walk through all the occurrence of `PyTuple_Check` and add cases for structseq?

[2019-02-06 19:45] mkolod commented on #16614
@dzhulgakov @jamesr66a @bhack I just tested running JITted code with the guard and it's working perfectly fine, at least for me.

[code]

[2019-02-06 19:50] bhack commented on #16614
@mkolod
Have you seen random instabilities on the output with this.

[code]

 Is there any internal side effect to change the stream only for the forward?

[2019-02-06 20:10] ezyang commented on #16813
We don't officially support Python <3.5, IIRC. I don't think having this broken in this case is a big deal. But if there is evidence to the contrary, I might reconsider.

[2019-02-06 20:12] hijkzzz opened #16816 "How to call libtorch(cuda) in multi-thread?"
I found that the multithreaded call libtorch(cuda ) seemed to be executed serially.
Is there any way to parallel?
thanks.

[2019-02-06 20:18] ezyang commented on #16816
Hi @hijkzzz; do you have any sample code you could share?

[2019-02-06 20:32] d-rams opened #16817 "Unexpected/inconsistent behavior of `tensor.cuda.clamp` on nan array"
## 🐛 Bug

The tensor.clamp function returns the upper bound when applied to a nan array on the GPU.  On the CPU it returns nan instead.

## To Reproduce

Steps to reproduce the behavior:
[code]
`Out[26]: tensor([nan])`
[code]
`Out[25]: tensor([10.], device='cuda:0')`

## Expected behavior

I would expect to have the behavior be agnostic to the computational substrate.  Regardless, returning the up

[2019-02-06 20:47] gchanan commented on #16532
cc @resistor.

[2019-02-06 20:49] SsnL commented on #16816
streams? :)

[2019-02-06 21:09] hijkzzz commented on #16816
https://github.com/hijkzzz/alpha-zero-gomoku/blob/master/src/libtorch.cpp

I call NeuralNetwork:: infer in multiple threads(use GPU), but found that using the CPU faster.
And GPU usage is almost the same as single-threaded.
thanks.

[2019-02-06 21:09] mkolod commented on #16614
@bhack I haven't found numerical issues yet. If there are any, I'll share. Also, I'm only using the C++ API for inference. For model training, the backprop always runs on the default stream, unlike fprop, for which you can choose the stream both in Python and in C++.

[2019-02-06 21:14] bhack commented on #16614
@mkolod Yes it is also my context. But I have changed the stream just for the forward and not for the load.

[2019-02-06 21:22] darcyYe commented on #16542
Hi all!

As the issue still exists, is there any way to avoid it?

I am using following lines of code to put my model on GPU for training:

[code]

I can run forward pass of my model on cpu because it would no take a long time. Without using 'pack_padded_sequence' to training the model with batch, it may take long time to test some new models.

Is there alternative for such an issue?

Best,
Darcy

[2019-02-06 21:26] mrshenli commented on #16532
It seems to be sth wrong with the reference count when used together with data parallel. Initially, there are two `TBackward` replicas and two `ExpandBackward` replicas point to `BroadcastBackward`. So, the reference count for `BroadcastBackward` is 4, but later (don't know where yet), the reference count drops to 2.  Deleting the two `ExpandBackward` triggers [`gatherFunctions()`](https://github.

[2019-02-06 21:36] mkolod commented on #16614
@bhack I see, then maybe you need to record and event on the load stream and wait for the next step of the forward to make sure data has been loaded? Check out the event API [here](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/cuda/CUDAEvent.h). There's a block() method. You can block another stream to wait for the event in question to be recorded, e.g. you can record it when loadin

[2019-02-06 21:38] ParticularlyPythonicBS commented on #16542
https://discuss.pytorch.org/t/error-with-lengths-in-pack-padded-sequence/35517?u=particularlypythonic

[2019-02-06 21:41] bhack commented on #16614
@mkolod Is the load async? Cause in my design the load is executed on class init and the module is a class member. So if it is not async I doubt that we need to block() explicitly.

[2019-02-06 21:55] mkolod commented on #16614
@bhack Oh I thought load as in data load, which could be called many times, before each forward. I thought you meant that one CPU thread does loading and copies data to the GPU, and another runs inference. In this case I'm not sure if I have any good ideas.

[2019-02-06 22:02] asmeurer commented on #13981
Fix at https://github.com/pytorch/pytorch/pull/16823

[2019-02-06 22:06] bhack commented on #16614
@mkolod I meant that if you have `torch::jit::load` at the constructor of a class and `module` is a class member you could want to just to execute `module->forward` on different thread/streams.

[2019-02-06 22:07] zasdfgbnm commented on #16813
@ezyang python < 3.2 includes 2.7, which is still taking bugfixes, but I don't think this issue they consider a bug.

[2019-02-06 22:08] ngimel commented on #16655
The way I read it, both `cudnn.benchmark` and `cudnn.deterministic` don't blow the memory usage. CACHED is ~ 1.6 GB in both cases, largest seen cache is large for `cudnn.benchmark`, but it is freed later. cudnn.benchmark has to allocate this large chunk of memory to try out some memory-hungry algos, but overall I'd say that everything works as expected.
Without cudnn.benchmark/cudnn.deterministic

[2019-02-06 22:28] williamFalcon commented on #755
@apaszke @soumith Just made https://github.com/williamFalcon/pytorch-complex-tensor available on pypi.

It supports basic complex tensors by manipulating 2 real tensors underneath. Gradients also work. This should be a good hold-over until we get complex support in pt. When I get a break from research (probably this summer), happy to spend a week or so getting up to speed on cuda, cpp and help wit

[2019-02-06 22:43] markrogersjr commented on #14869
Bump. Can someone please take a look?

[2019-02-06 22:59] fmassa commented on #16817
Thanks for opening the issue!

I believe this is a duplicate of https://github.com/pytorch/pytorch/issues/15338, and has already been fixed in master.

[2019-02-06 22:59] #16817 closed

[2019-02-06 23:14] bjmajic commented on #16646
@zou3519 pytorch 1.0 has the ctcloss, and i call it in
preds = self.model(img)
log_probs = preds.log_softmax(2).detach().requires_grad_()
loss = self.criterion(log_probs, label, width, lens)
print(loss)
loss.backward()

[2019-02-06 23:35] bdaskalov opened #16828 "Process crashes with segmentation fault when calling conv2d from multiple threads."
## 🐛 Bug

Process crashes with segmentation fault when calling conv2d from multiple threads.

## To Reproduce

Steps to reproduce the behavior:

1. Run the attached script. (might need to install tqdm)

I reproduce the problem using the following script:
[code]

Fails on the nightly preview version:
[code]

Also on 1.0.1
[code]

But works correctly on 0.4.1 (which doesn't have MKLDNN): (I
[code]

[2019-02-06 23:53] #16712 closed

[2019-02-07 00:48] mhubii opened #16830 "pytorch cpp api the derivative for 'target' is not implemented"
Code to reproduce the error. Is it a bug on my machine?

Main
[code]

CMake
[code]

The Python equivalent of this code can be fixed by retaining the graph. May this be my mistake. How can I keep the graph in the backward pass?

[2019-02-07 01:07] darcyYe commented on #16542
Ah, thanks so much!

It works after rewrite some modules!

[2019-02-07 01:10] moderatelyfunctional opened #16831 "cuDNN error: CUDNN_STATUS_INTERNAL_ERROR on cudnn.benchmark = True"
Hi, I'm running PyTorch on an encoder/decoder architecture and am having a problem with cuDNN.

If I include
[code]
in my Python code, then I receive an error for CUDNN_STATUS_INTERNAL_ERROR.

The full stack trace is listed here.

[code]
If I comment out cuDNN, I can run the code without any problems.

My system configurations are listed below.

 - PyTorch Version: 1.0.1
 - OS: Ubuntu 16.04
 - PyT

[2019-02-07 03:04] #16744 closed

[2019-02-07 04:23] AlenUbuntu commented on #4107
Still get the same error. When I use the model for testing, if I set batch size to be 1000, I get this error. However, if I set batch size to be 200, it works well.

[2019-02-07 05:20] kakaxi314 commented on #499
@bwesen I tried to unpack the feature and then did matmul to implement the locally connected layer. I worry more about GPU memory than speed. I found my python implementation costs large sums of GPU memory. As I have never wrote CUDA code, I'm interested whether your custom CUDA conv2d_local function would occupy less GPU memory. And also, would you like to share the CUDA version code?

[2019-02-07 05:34] hijkzzz commented on #16816
I am trying to use it, but i only found  torch.cuda.streams in python
where is the document about torch::cuda::streams in c++ api?
thanks

[2019-02-07 05:59] soumith commented on #15844
This issue should be fixed now in v1.0.1.
Please re-open the issue / let me know if that's not the case.
The fix was https://github.com/pytorch/builder/commit/11b59c8581500cb6880358d207e70e922998c9e3

[2019-02-07 05:59] #15844 closed

[2019-02-07 06:00] soumith commented on #15539
v1.0.1 ships with MAGMA 2.5.0, and the memory leak should be gone.

[2019-02-07 06:00] #15539 closed

[2019-02-07 06:00] soumith commented on #15709
fixed in v1.0.1 release.

[2019-02-07 06:01] soumith commented on #15709
nope, didn't get fixed in v1.0.1 wheels (got fixed on conda).
I'm looking at regenerating wheels with a fix and uploading.

[2019-02-07 06:15] daemon commented on #4037
Bumping this issue.. any updates for this feature request?

[2019-02-07 07:06] jamesr66a opened #16836 "[JIT] Support mutable operators in shape analysis"
![image](https://user-images.githubusercontent.com/4685384/52395641-ccf13700-2a63-11e9-92bc-239319a6fc5f.png)

It doesn't look like in-place operators participate in shape propagation

<sleepy now, will probably flesh this out later>

[2019-02-07 07:10] soumith commented on #9127
@voletiv the patch has been part of 1.0.0 and 1.0.1, so the bug shouldn't be present.

[2019-02-07 07:27] soumith commented on #16831
can you confirm that v1.0.0 works fine?

[2019-02-07 07:29] soumith commented on #16799
cc: @houseroad @zrphercule

[2019-02-07 07:41] soumith commented on #16775
I'm working on regenerating 1.0.1 binaries, with a bumped up build number.

[2019-02-07 07:49] t-vi commented on #8366
I think this can be closed with PackedTensorAccessors. :)

[2019-02-07 07:51] #8366 closed

[2019-02-07 07:53] t-vi commented on #16646
Can you output the `log_probs`, `label` (at least the shapes and devices for those), and the `width` and `lens`, please? Thank you!

[2019-02-07 08:02] xiaoshir commented on #4207
Unfortunately I got this :(
PackageNotInstalledError: Package is not installed in prefix.
  prefix: C:\miniconda3_py37
  package name: anaconda-navigator

[2019-02-07 08:27] seungwonpark opened #16838 "[Feature Request] HParams Class of TensorFlow"
## 🚀 Feature

cited from tensorflow doc.

## Motivation
[`HParams`](https://www.tensorflow.org/api_docs/python/tf/contrib/training/HParams) class in Tensorflow is useful for hyperparameter management, but I couldn't find similar one in PyTorch. I will be grateful if someone points out already-existing feature.

## Pitch
How about adopting [TF dependecy-removed version of `HParams`](https://github.

[2019-02-07 09:26] fmassa commented on #13981
@asmeurer nice write up and analysis!

I'm ccing @apaszke here, this is the related issue to #16823 where @asmeurer expands on the reasoning for the PR.

[2019-02-07 09:38] soumith commented on #15709
actually, I double-checked, it did get fixed.

[2019-02-07 09:38] #15709 closed

[2019-02-07 09:51] acschaefer commented on #3298
I ran into the same issue, and I do not get the reason why pytorch throws an error. Is the purpose to protect the user from himself?

Actually, this is not a runtime error - it could be a warning. As such, it could also be ignored or suppressed.

Could you please change the behavior to throw a warning instead of an error?

[2019-02-07 10:07] bjmajic commented on #16646
@t-vi thank you.   It was my fault， not a bug.  it caused by dismatch of labels dim and features dim.

[2019-02-07 10:24] dizcza commented on #15296
With release tagged v1.0.1 I get the following error, trying to build same Dockerfile:
(If I pass USE_MKLDNN=OFF it seems to build successfully.)

[code]

[2019-02-07 11:12] mhubii commented on #16830
In the Pytorch forum, we solved the question. Still, is it a bug? See

[https://discuss.pytorch.org/t/backward-keep-graph-cpp-api/36559](url)

[2019-02-07 11:14] edran opened #16840 "Attempting to install pytorch-nightly on conda py37 env pulls pytorch py27"
## 🐛 Bug

As per title, attempting to install pytorch-night in a conda environment shipped with python 3.7 pulls pytorch py2.7, and for extra fun breaks also the environment by doing:

[code]

As you might imagine, hilarity ensues after attempting to utilise the environment in any way.

## To Reproduce

Steps to reproduce the behavior:

1. conda create -n pytorch-master python=3.7
2. source activa

[2019-02-07 12:02] harritaylor commented on #3867
Just dropping by to say I'd also very much appreciate this. Currently porting a simple model over from tensorflow and the calculations are taking a very long time for me to figure out...

[2019-02-07 12:18] hijkzzz commented on #16816
[code]
when i run it, there is some memory error~
so, is there a tutorial about streams C++ API?

[2019-02-07 12:20] gaochangw commented on #14401
Hi @t-vi,

I've captured inputs and grad history before I got nan in loss. I trained a 2L-512 GRU on TIMIT and the nan happens at about 370th iteration. I use the CTC loss with reduction='sum' and I used the hook like this:

log_prob = (output, dim=2)
log_prob = hook.apply(log_prob)
loss = criterion(log_probs, label, feature_length, label_length)

History of log_prob, loss, and the grad of log_pro

[2019-02-07 13:11] apaszke commented on #16646
Even if it was a mismatch we should have an error message and never corrupt the memory

[2019-02-07 13:33] positivcheg94 opened #16841 "Unable to configure pytorch with cmake on Windows platform"
## 🐛 Bug

MSBUILD : error MSB1009: Project file does not exist.
Switch: ALL_BUILD.vcxproj
CMake Error at third_party/FP16/CMakeLists.txt:94 (ADD_SUBDIRECTORY):
The source directory
    D:/git_clones/pytorch/build/confu-srcs/psimd
does not contain a CMakeLists.txt file.

## To Reproduce

Simply let me configure it

just doing cmake .. from "build" subdirectory

## Expected behavior

I expect it to

[2019-02-07 13:37] gaochangw commented on #14401
Hi @t-vi,

I've captured inputs and grad history before I got nan in loss (with PyTorch 1.0.1). I trained a 2L-512 GRU on TIMIT and the nan happens at about 370th iteration. I use the CTC loss with reduction='sum' and used hook on CTCLoss to capture grad_input:

log_prob = F.log_softmax(output, dim=2)
loss = criterion(log_prob,...)

According to my observance, the nan happens first in the grad of

[2019-02-07 13:50] loopdigga98 commented on #8814
Hi guys, seems like JIT does not support ```torch.tensor()``` yet. How to deal with it? Do I need to pass all the tensors to function before call?

[2019-02-07 13:50] peterjc123 commented on #16841
Is your clone complete? Would you please do `git submodule update --init --recursive` first?

[2019-02-07 14:01] mboisson opened #16843 "Allow to build pytorch for a *specific* architecture"
## 🚀 Feature
Allow the end user to specify which CPU architecture to target in the build process.

## Motivation

We are building Pytorch from source for our clusters. We have clusters that have a variety of CPU architectures, supporting instruction sets from sse3, to avx512 and all in between. Currently, pytorch build *insists* on using the architecture on which it is being built. We tried to pas

[2019-02-07 14:01] t-vi commented on #16646
So we (@ashermancinelli) improved the checks for input/target lengths recently and it might be worth trying if that helps. We do not check that the labels fall into the valid range (neither, I believe, do the scatter ops).

[2019-02-07 14:14] positivcheg94 commented on #16841
I do this `git clone https://github.com/pytorch/pytorch.git --recursive`. Which picks all submodules, but the issue seems to be with this particular psimd. Because if I manually copy this dir into D:/git_clones/pytorch/build/confu-srcs/psimd from third-party it works properly.

[2019-02-07 14:33] peterjc123 commented on #16841
The download process of `psimd` should be done using CMake, which is different from other submodules. cc @orionr @ezyang

[2019-02-07 14:35] dai-dao commented on #16357
Hi @fmassa , i'm working on this issue for practice, I ran into a problem that perhaps you would know

In aten/src/THNN/generic/SmoothL1Criterion.c, I make the following change. Same with SmoothL1Criterion_updateGradInput

[code]

and I changed the aten/src/THNN/generic/THNN.h to include the beta argument:

[code]

I'm rebuilding with python setup.py rebuild_libtorch and I get the error:
[code]

P

[2019-02-07 14:46] mrdrozdov commented on #7416
This would be a really useful feature. Consider the case where your dataset is 100M sentences, but you are only read 100K sentences at any one time — the vocabulary of the entire dataset is huge (e.g. 1M), but you only need to care about the vocabulary for the current 100K split. If you are using word embeddings with dimension 1024, then keeping the (1M, 1024) embedding matrix in cuda memory is no

[2019-02-07 14:55] dai-dao commented on #16357
Hi @fmassa , i'm working on this issue for practice, I ran into a problem that perhaps you would know
In ```aten/src/THNN/generic/SmoothL1Criterion.c```, I make the following change. Same with ```SmoothL1Criterion_updateGradInput```
[code]
and I changed the ```aten/src/THNN/generic/THNN.h``` to include the beta argument:
[code]
I'm rebuilding with ```python setup.py rebuild_libtorch``` and I get t

[2019-02-07 14:58] peterjc123 commented on #16841
By checking `cmake/Dependencies.cmake` and `third_party/FP16/CMakeLists.txt`, it seems that `PSIMD_SOURCE_DIR` is set to `third_party/psimd`, and then in the latter file, if the previous variable is unset, it will download it into a default location, but, if it isn't, it won't be downloaded.

[2019-02-07 14:58] positivcheg94 commented on #16841
But I've got this repo after simply doing git clone.

Submodule path 'third_party/psimd': checked out '90a938f30ba414ada2f4b00674ee9631d7d85e19'

So like that's really strange.

[2019-02-07 15:02] peterjc123 commented on #16841
@positivcheg94 It only happens when you try to clone it with `--recursive`? In that way, it's weird and I think the problem is not on our side.

[2019-02-07 15:24] gchanan commented on #16793
@SsnL

[2019-02-07 15:50] sidazhang commented on #16815
Linking to this issue https://github.com/pytorch/pytorch/issues/13899

[2019-02-07 16:01] SsnL commented on #16793
No the current behavior is correct. When `self.track_running_stats = True`, the bool expression equals `self.training`, which is what we want. And when `self.track_running_stats = False`, batch stats are always used, because you asked it to not track running stats and it didn't.

[2019-02-07 16:01] #16793 closed

[2019-02-07 16:04] SsnL commented on #15539
@soumith what do I need to do if I build form source?

[2019-02-07 16:05] vishwakftw commented on #15539
I think upgrading the MAGMA binary should suffice.

[2019-02-07 16:57] goldsborough commented on #16375
How did you bind your C++ module? If you use `torch::python::bind_module` it will be a `torch.nn.Module` in Python. See [the tests](https://github.com/pytorch/pytorch/blob/master/test/cpp_extensions/cpp_frontend_extension.cpp#L47) for an example.

[2019-02-07 16:58] Elch123 commented on #16622
Thanks for the help.

[2019-02-07 16:58] #16622 closed

[2019-02-07 17:08] luisa-uber opened #16845 "[jit] ModuleList of Sequentials gives error"
## 🐛 Bug

ModuleList of Sequential gives an error.
[code]

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Should not give error.

[2019-02-07 17:15] gchanan commented on #16830
CC @yf225.

[2019-02-07 17:27] h6197627 commented on #14317
@farhan333, I did not measure memory consumption as my primal aim was to reduce final package size. I think right now this flag is not working and full protobuf library is always used.

[2019-02-07 17:35] geneing commented on #16793
@SsnL I believe you are mistaken. Look here...

If self.training=False and self.track_running_stats=False, we get:

False or (Not False) == False or True == True.

Which means that we asked not to track running stats in inference, but batchnorm is tracking and using running stats.

I think the code should be "self.training or self.track_running_stats". Then when training=True, we always track runn

[2019-02-07 17:58] suo commented on #16845
This is a bug on our side but shouldn't be too hard to fix

[2019-02-07 18:14] suo commented on #16836
When the graph has mutable ops nodes are not referentially transparent, which makes shape analysis tricky (since we run the op in order to find the shape).

[2019-02-07 18:31] suo opened #16847 "[jit] Support static lists/dicts as trace inputs"
Something like:
[code]
should work.

[2019-02-07 19:00] fmassa commented on #15089
So, here is how we should go into addressing this issue:

There are two implementations of `torch.abs` that would need to be improved: one for CPU, and one for CUDA. As it turns out, I believe the CUDA implementation is already done, so you'll probably only need to handle the CPU part.

Here is where the CPU part is implemented for  `int64`, `int32` and `int16` types:
https://github.com/pytorch/py

[2019-02-07 19:01] fmassa commented on #15089
cc @gchanan, if you think we should instead implement this directly in ATen

[2019-02-07 19:14] wanchaol commented on #8814
@loopdigga98, I believe torch.tensor() is already supported in JIT now, you can try it in 1.0.1 and in pytorch master.

[2019-02-07 19:24] mirocody commented on #15844
Thanks for your help @soumith. We will verify that.

[2019-02-07 19:31] sidazhang opened #16849 "Unable to cast .item() number to int"
## 🐛 Bug

Unable to cast .item() to int. There is no way to use .item as an int

.item return a number not int
## To Reproduce

[code]

[code]

[2019-02-07 19:45] fmassa commented on #16830
in Python we have a separate dispatch for losses in some cases, like when the target requires gradient https://github.com/pytorch/pytorch/blob/72f070a124c3062939873a5468463d7c9e3ac4eb/torch/nn/functional.py#L2177-L2180

the easy solution is to just do the same thing in C++ (implement those cases with PyTorch ops).

[2019-02-07 20:01] SsnL commented on #16793
@geneing No. `track_running_stats` means whether the layer tracks running stats in general (if it is true, it uses running stats in eval), not whether this particular call tracks. The doc is very clear on this.

[2019-02-07 20:11] gchanan commented on #15089
I think either approach is fine.  The TH approach is probably more straightforward if you want to start out there, the ATen approach is a little more involved.

[2019-02-07 20:12] hameerabbasi commented on #15089
I'm willing to do the ATen... I'll probably need some guidance either way. 🙂

[2019-02-07 20:23] ebetica commented on #15048
I just ran into this problem: The source is that `libcuda.so` isn't in one of the standard locations. Somehow, most of what pytorch needs to do can be done without `libcuda.so`, but the jit relies on it. If you find a libcuda and move it to a standard location that pytorch can find, then you will solve the problem.

[2019-02-07 20:29] #16284 closed

[2019-02-07 20:33] zdevito commented on #15048
This is a weird nvidia issue:  I think libcuda is part of the driver, while libcudart is part of the cuda runtime. So they end up installed in different places and by different installers. Often libcuda is just in `/usr/lib` so dynamic linking works fine. But sometimes it gets in weird places.

[2019-02-07 20:34] eellison commented on #16849
You can use int() to cast a number to int.
[code]

The annotations are just for annotating generic containers - equivalent to mypy type annotations.

[2019-02-07 20:36] apaszke commented on #16836
It's not the case. We actually have symbolic formulas for most of our ops, and hardly every run anything now.

[2019-02-07 20:37] eellison commented on #16849
You can call
[code]

Annotations are only used for generic containers - equivalent to mypy type equivalents, and don't have affect the runtime

[2019-02-07 20:50] sidazhang commented on #16849
This worked! :)

[2019-02-07 20:50] #16849 closed

[2019-02-07 20:51] suo commented on #16836
Ah ok. In that case we can fix this pretty easily by adding symbolics for the in-place versions of the op, yes? And we can still disallow running nodes that affected by mutation.

[2019-02-07 21:04] petrex commented on #16670
@eukaryote31 Upgrading your env to rocm 2.1 would fix the issue. thx

[2019-02-07 21:12] yf225 commented on #7457
@mrshenli would you like to have this one in your queue?

[2019-02-07 21:16] mrshenli commented on #16532
After some digging, I think the cause of this problem is that the `use_count` of function `shared_ptr` are incorrect on `C++` side as we [create multiple `shared_ptr`](https://github.com/pytorch/pytorch/blob/master/torch/csrc/autograd/python_variable.cpp#L57) from raw pointers when `replicate` modules. It was not a problem pre 89d56ae because python knows it correctly, as we [increased the ref cou

[2019-02-07 21:16] gchanan commented on #15089
@hameerabbasi happy to help :).  The current `abs` functions exist in ATen and are implemented (partially) as call-throughs to the TH functions that @fmassa listed above (i.e. https://github.com/pytorch/pytorch/blob/1aa90192eae306e4375c68f12f46eb329042e07d/aten/src/ATen/native/cuda/CUDAUnaryOps.cpp#L53 and https://github.com/pytorch/pytorch/blob/1aa90192eae306e4375c68f12f46eb329042e07d/aten/src/AT

[2019-02-07 21:22] luisa-uber opened #16856 "Type cannot be accurately recovered from this IValue for unordered_map"
## 🐛 Bug
Hi, I'm trying to pass a dictionary to a jit model. It fails when checking that the input type matches the schema, in the `c10::isSubvalueOf` or `c10::incompleteInferTypeFrom` method.

The stack trace is as follows:
[code]

## To Reproduce

Steps to reproduce the behavior:

The python model's input is defined like so:
[code]
The C++ code to format the data:
Method param: `const std::vecto

[2019-02-07 21:38] ezyang opened #16860 "Not easy to use JIT from libtorch due to lack of explicit nvrtc dependency"
Take a look at the output of ldd on `libtorch.so`:

[code]

Notice that `libcuda.so` and `libnvrtc.so` are conspicuously missing. Now take a look at the undefined symbols in this library:

[code]

What's going on?

This was prompted by discussion with @ebetica, where he was trying to use JIT from C++ API and he was encountering missing symbols from libcuda.so and libnvrtc.so

cc @pjh5 @soumith

[2019-02-07 21:45] zdevito commented on #16860
https://github.com/pytorch/pytorch/blob/master/setup.py#L654

cc @soumith

There is a reason we do not directly link, but I do not remember what it is.

[2019-02-07 22:05] ezyang commented on #755
Thanks @williamFalcon !

[2019-02-07 22:14] suo commented on #16856
@driazati it looks like we need a `GenericDict` equivalent of the special casing here: https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/core/type.cpp#L169

[2019-02-07 22:34] zdevito opened #16865 "[JIT] Directly using Argument constructors in caffe2 operator definitions does not scale."
Recent changes have added declarations like this to caffe2 operators:

https://github.com/pytorch/pytorch/blob/7ba4aaeacaaa90ba0e41b6a397cf2b92a4d96f7a/caffe2/operators/layer_norm_op.cc#L189

If left unchanged we will eventually have hundreds of sites in the codebase that directly use the constructors for Argument. This API is not intended to be widely used and is very hard to refactor. Furthermor

[2019-02-07 23:31] #15272 closed

[2019-02-07 23:31] sidazhang opened #16873 "Allow building C++ custom ops that imports another custom ops"
## 🚀 Feature
It seems like from the docs that you can only build the custom ops individually
https://pytorch.org/tutorials/advanced/cpp_extension.html

[code]
Can we support building the custom ops that rely on other already built custom ops?

## Motivation

I have a custom op `op_a`. Now I am working on a second custom op `op_b`. `op_b` calls `op_a`.

We should support importing. As Pytorch is us

[2019-02-07 23:32] #15754 closed

[2019-02-07 23:33] suo commented on #15754
This feature is in master

[2019-02-07 23:33] MohamedAliRashad commented on #1327
I agree with @progirep and  think this issue needs to be reopened and implemented ..... PyTorch is nothing less than Tensorflow or others in implementing such functions.

[2019-02-07 23:34] suo commented on #16255
Closing as this hasn't seen any movement. Feel free to reopen if you are still seeing issues

[2019-02-07 23:34] #16255 closed

[2019-02-08 00:42] #16670 closed

[2019-02-08 00:46] seongwook-ham commented on #15421
i am also facing same problem. is there some progress?

[2019-02-08 00:52] zdevito commented on #15421
We are actively working on a fix, but we do not have a pull request just yet.

[2019-02-08 01:20] gqchen commented on #15421
PR is almost ready. I would definitely welcome you guys to try it out and
see if it works for you guys.

On Thu, Feb 7, 2019 at 4:52 PM Zachary DeVito <notifications@github.com>
wrote:

[2019-02-08 01:27] moderatelyfunctional commented on #16831
It also fails for v1.0.0. I installed it via pip3.

[2019-02-08 01:37] soumith commented on #16831
in that case, this is pretty weird. It shouldn't be failing on a Titan-X.
I see that you have CUDA10 installed on the system. Can you try installing our CUDA10 wheel? The command is at https://pytorch.org (use the selector wizard in get started and select pip and cuda10)

[2019-02-08 01:50] soumith commented on #16860
linking to nvrtc requires a libcua.so dependency, which means the binaries depend on an NVIDIA driver. This is unacceptable for the binary to work in CPU-only settings.

In Python, we have a fake _nvrtc.so that links to nvrtc, and we `try/catch` open it here: https://github.com/pytorch/pytorch/blob/master/torch/__init__.py#L79-L82

Maybe we should do the same in libtorch, i.e. try/catch dlopen a f

[2019-02-08 02:21] hijkzzz commented on #16614
I also encountered this problem.
Predictive value is abnormal.

[2019-02-08 02:39] hijkzzz commented on #16816
related issue #16614

[2019-02-08 02:46] #16856 closed

[2019-02-08 03:01] bhack commented on #16614
@hijkzzz Have you a minimal code to share to reproduce this on a public traceable model?
We have embedded this inside a more large code base and we have still not found a slot to extract a minimal snipset over a public model to reproduce.

[2019-02-08 03:10] sdmonov commented on #16707
The problem is related to building of the dependencies. What happens is not that the install path is executed, but build_deps() which calls build_caffe2.

[code]

`build_deps()` is executed before `setup(...)` and it calls `build_caffe2(...)`

[2019-02-08 03:29] manuyavuz opened #16885 "Forward attribute access on DataParallel to underlying `module` attribute."
## 🚀 Feature

Forward attribute access on a `DataParallel` object to underlying `module` attribute using Python descriptors `__get__` `__set__`.
## Motivation

Currently, when you wrap your model using `DataParallel` class, you would need to change all attribute access to your original model from `model.attr` to `model.module.attr` as suggested here: https://discuss.pytorch.org/t/how-to-reach-mode

[2019-02-08 03:43] ailzhang opened #16886 "[jit] Support list * scalar in torchscript"
We should support these in torchscript.

[code]

[2019-02-08 05:42] hameerabbasi commented on #15089
I agree... It would be a good introduction to both ATen and TH/THC, as well as cleanly separating commits.

[2019-02-08 06:44] malarinv commented on #4111
@Varal7 Thanks for sharing the details, that was indeed my issue as well.
btw since i am not using conda I had to install gcc-4.9 with the following.
[code]

[2019-02-08 08:29] pearu commented on #12174
@fmassa PR #16859 resolved this issue and it can be closed.

[2019-02-08 08:39] gqchen commented on #15421
#16891

[2019-02-08 08:49] dzhulgakov commented on #16865
So the argument against using string function schemas is that it'd require us to ship parser on mobile deployments and it can unnecessary code size penalty. That being said, we should verify how big it actually is.

Another option is to use "c++ function signature" -> "function schema" template magic that JIT custom ops use. It'd help with avoiding non-public API but likely will make compile time

[2019-02-08 09:28] loopdigga98 commented on #8814
@wanchaol thank you i'll give it a try

[2019-02-08 10:46] martijnvanattekum commented on #16693
similar to #16602

[2019-02-08 10:49] hameerabbasi commented on #15089
I added modified the file `aten/src/TH/generic/THTensorMoreMath.cpp` like so:

[code]

and `Declarations.cwrap` like so:
[code]

And I face the following compilation errors:

[code]

I believe I missed something or made a mistake. The code is in this branch: https://github.com/Quansight/pytorch/tree/abs-byte

I didn't open a PR yet as I didn't want to waste CI resources for something I knew was br

[2019-02-08 11:10] hameerabbasi commented on #15089
It turns out `THTensorMath.h` needed changes too:

[code]

[2019-02-08 11:38] mahmoodn opened #16894 "Number of CPU threads for the python process"
For a test, I didn't use `--cuda` in order to run a cpu version. While the CPU has 8 physical cores (16 threads), I see 400% cpu utilization for the python process.

Is that normal? How can I control the number of threads?
I use `time python main.py  --epochs 1` in word_language_model

[2019-02-08 13:21] rajarsheem opened #16895 "assertion fails when exporting to onnx"
I am using pytorch nightly and when I am trying to export my model to ONNX, I get the following error. Can you please help? Please let me know if you want to know anything.

File "/home/ramitra2/.conda/envs/deep/lib/python3.6/site-packages/torch/onnx/symbolic.py", line 562, in softmax
    dim = input.type().dim() + dim
RuntimeError: r ASSERT FAILED at /opt/conda/conda-bld/pytorch-nightly_154956660

[2019-02-08 13:53] jatentaki opened #16896 "`nn.Linear` allows 1d input tensors"
## 🐛 Bug

The [docs](https://pytorch.org/docs/master/nn.html#torch.nn.Linear) for `nn.Linear` claim that the input has to be `[N, *, M]`, but it accepts `[M]` as well. This is because `nn.Linear` dispatches (via `functional.linear`) to `addmm` and `matmul`, which perform this kind of broadcasting. It's unclear if it's a bug or a feature, but certainly needs adapting either the code or the docs.

T

[2019-02-08 14:18] ezyang commented on #16843
cc @umanwizard @cpuhrsch

[2019-02-08 14:50] huntzhan commented on #16375
@goldsborough Yeah I've used the `torch::python::bind_module` to bind ([my code](https://github.com/cnt-dev/pytorch-fast-elmo/blob/d78b64e2f692068bb3ba6d76a841e47f3b65d7f3/extension/bind.cc#L37-L38)).

[code]

This was tested in torch 1.0.0.

[2019-02-08 14:59] ezyang commented on #16608
Another failure occurrence: https://circleci.com/gh/pytorch/pytorch/731693?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-02-08 15:33] LeviViana opened #16897 "Implement `numpy.random.choice` equivalent"
## 🚀 Feature
Implement `numpy.random.choice` equivalent.

## Motivation
In some cases, it is useful to get random samples from a torch Tensor efficiently. For instance, during the training of some Region-Based Detectors, it is necessary to control the proportion of positive and negative regions of interest (RoIs) over mini-batches.

Here is a workaround adopted in maskrcnn-benchmark: https://githu

[2019-02-08 15:38] apaszke commented on #16896
I'd say it's somewhere between a bug and a feature. We never say that we will check all the boundary conditions explicitly in those functions, so if it ends up working for a different dim configuration that's ok. But you shouldn't treat that as a guarantee that it will continue to work in the future.

[2019-02-08 16:31] apaszke commented on #13981
Based on the discussion from #16823, I think we should close this as a wontfix. Thanks for everyone's comments and a PR!

[2019-02-08 16:31] #13981 closed

[2019-02-08 16:57] FabyOfficial opened #16898 "Pytorch issue on Windows"
I try to install pytorch and after days of trying I`m here with a big, big problem. I read a lot of articles of "how to install pytorch" I try to install with pip install but don`t work for me and after I install it with Anaconda, but in anaconda is pytorch install, when I type: conda list, he is there like this form: pytorch                   1.0.1           py3.7_cuda100_cudnn7_1    pytorch, I h

[2019-02-08 16:59] ezyang commented on #16894
In this case, you are seeing multithread usage from OpenMP parallelized CPU kernels, which run on multiple threads. You can control the number of threads with https://pytorch.org/docs/stable/torch.html#torch.set_num_threads although this was broken on some versions of PyTorch.  You can also try setting `OMP_NUM_THREADS=1` and `MKL_NUM_THREADS=1` if that doesn't work for you.

CC @SsnL, in case you

[2019-02-08 17:00] ezyang opened #16899 "Give clearer guidance about multithreading in PyTorch, and how to disable it"
e.g. https://github.com/pytorch/pytorch/issues/16894

There's a lot of people asking about this, but no canonical source of information about it.

[2019-02-08 17:08] SsnL commented on #16894
@ezyang ‘s explanation & suggestion above is 100% correct!

[2019-02-08 17:10] cpuhrsch commented on #16843
We dispatch on CPU capabilities for some kernels and write optimized code for those. In particular, we dispatch on avx and avx2. It's not clear whether compiling the rest of the code with avx2 etc. will actually lead to gains.

[2019-02-08 18:50] ankur6ue opened #16901 "Issue with dataloader using pin_memory = True"
## Issue description
Hello, I'm seeing an odd issue with using the pin_memory = true flag with the dataloader. I'm measuring the time taken to transfer data from the host RAM to GPU memory as follows:

        transfer_time_start = time.time()
        input = input.cuda(args.gpu, non_blocking=False)
        target = target.cuda(args.gpu, non_blocking=False)
        torch.cuda.synchronize()

[2019-02-08 19:02] zdevito commented on #16865
Discussed in person:
* binary size of explicit constructors is much larger than a string and is one of the reasons for slow compile times doing it this way in the past.
* We should investigate pulling a minimal lexer.h tree.h and schema_parser.cpp (pulled out of operator.cpp) out and seeing how big it is.
* Changes should largely be isolated to the build and avoid moving the files out of the csrc/