[2021-05-01 21:56] ProGamerGov opened #57421 "Subclassing torch.Tensor with __new__ fails due to a TypeError on latest nightly build for the past few days"
## 🐛 Bug

Subclassing torch.Tensor with `__new__` fails due to a `TypeError` on the latest nightly builds, whereas it previously worked without issue.

## To Reproduce

Run this snippet of code:

[code]

And you'll recieve an error message like this:

[code]

Changing the `return super().__new__(cls, x, *args, **kwargs)` to `return torch.Tensor.__new__(cls, x, *args, **kwargs)` results in the exac

[2021-05-01 22:23] mruberry commented on #56329
You can submit a PR against the "master" branch, @yinyee

[2021-05-01 23:28] Tal-Golan commented on #8104
Almost three years later, there's still no PyTorch functionality for loading checkpoints with buffers of unknown size (e.g., where the buffer size is set during model training). The suggested solution of forming a model-specific load_model function ("writing a load_model(model, state_dict) that works for your model is the way to go") undermines the ability to use PyTorch models as objects with a s

[2021-05-01 23:29] mruberry opened #57422 "test_eig_with_eigvec_cuda_float64 (TestTensorDeviceOpsCUDA) is failing intermittently on ROCm"
https://github.com/pytorch/pytorch/blob/20085f6d2364c4acf526f4eb303b8623207f0d48/test/test_torch.py#L7884

Interestingly the OpInfo for eig and linalg.eig skips ROCm:

https://github.com/pytorch/pytorch/blob/4350d4af774fd5e6e8e6d1db5d2b30643907e0b8/torch/testing/_internal/common_methods_invocations.py#L5062

https://github.com/pytorch/pytorch/blob/4350d4af774fd5e6e8e6d1db5d2b30643907e0b8/torch/tes

[2021-05-01 23:29] mneilly opened #57423 "internal compiler error compiling PyTorch master on Fedora 33"
## 🐛 Bug

I'm trying to build pytorch on Fedora 33 with cuda-toolkit-11-2 and receiving an "internal compiler error". I can file this elsewhere if you feel that would be more appropriate but thought it may be of interest even if the bug is elsewhere since the failure is during a pytorch compile.

## To Reproduce

Create the following Dockerfile:
[code]

Then reproduce the error with:
[code]

The e

[2021-05-01 23:37] hcyang opened #57424 "std: ambiguous in C++17.h, upgrading from LibTorch 1.6.0 to 1.8.1 with MSVC 2019 and c++17 standard"
## 🐛 Bug

We have a C++ LibTorch project built with MSVC 2019 (V16.9.4) on Windows 10. Our C++ standard setting is C++17. This program built fine with LibTorch 1.6.0+cpu, but it cannot build after upgrading to LibTorch 1.8.1+cpu.
The error messages was "std: ambiguous" around C++17.h.

## To Reproduce

Steps to reproduce the behavior:

1. Write simple Lib Torch program:
    #include <torch/torch.h

[2021-05-02 00:53] cpuhrsch commented on #57351
Hello @TJPaik - The nestedtensor project might be useful to you (actual binaries compatible with the latest nightly will be available soon!). See the whirlwind tutorial and please don't hesitate to open an issue to ask for op coverage or other usecases.

[2021-05-02 01:49] #57032 closed

[2021-05-02 02:13] mruberry commented on #57343
We could always make our documentation better. This is probably a good opportunity to update and link the developer Wiki article on TensorIterator, too: https://github.com/pytorch/pytorch/wiki/How-to-use-TensorIterator.

[2021-05-02 02:21] mruberry commented on #57018
Thank you for reporting this issue, @ProGamerGov, and thank you to @rgommers for refining the reproduction. I've updated the name to more accurately reflect what's happening. A workaround is to create non-scalar tensors, like `torch.tensor((1,))`, instead of `torch.tensor(1)`.

[2021-05-02 04:23] ddshan opened #57429 "custom collect_fn return None but collate_fn does not accept None"
## 🐛 Bug

I wrote a custom collect_fn to filter out bad samples. But in some batches, all samples are being removed so it returns an empty list. But in the default_collate(batch) fn, it assumes the batch is not None since it immediately read batch[0]. This may cause some issues. It would be better to make the default_collate more flexible (can accept None and ignore it).

[code]

[code]

cc @SsnL

[2021-05-02 04:52] mruberry commented on #56975
Thank you for pointing out this discrepancy, @SsnL. A couple things:

- we would accept a patch fixing this
- it should not break older versions of PyTorch that used value= or src= in a particular way
- we should think whether this argument should be positional or kwarg-only going forward, too, while looking at the issue

[2021-05-02 05:21] mruberry commented on #54301
@kshitij12345 fixed the final sub-issue on this roll-up issue. Thanks all!

[2021-05-02 05:21] #54301 closed

[2021-05-02 05:44] narang99 commented on #54188
Can I try working on this as my first issue?
Could you tell me exactly what you mean by API? Would it be something like this:

`./build/bin/test_jit --logging=true`

[2021-05-02 06:05] myuanqing commented on #57271
The 50MB model is not quantized.

I tried the 1.6MB on windows, it didn't work neither.

[2021-05-02 06:30] SsnL commented on #57429
Without elements it would be impossible to infer the correct shape. I don't think the default collate should set an arbitrary one.

[2021-05-02 06:42] Dreamurrrr commented on #52142
What is `AMD Eng Sample: 100-000000053-04_32/20_N`? I have never heard of a CPU like this.

[2021-05-02 07:06] NathanDrakeHat commented on #14848
I encountered the same issue but later I found that I just used the wrong timing method. In short, put "torch.cuda.synchronize()" befeore "time.time()"
https://discuss.pytorch.org/t/measuring-gpu-tensor-operation-speed/2513/4

[2021-05-02 07:18] Ivanfangsc opened #57430 "Problem with files while using Dataloader with num_workers>0"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Open a file with open()
2. Use a Dataloader and enumerate() it
1. the opened file is whipped of its content

[code]
## Expected behavior

The file `test.txt` is expected to look like
[code]
but in fact, it looks like
[code]
The problem disappears if num_workers is set to 0 or `file = open('test.txt', 'w')` is moved inside `if __name__

[2021-05-02 08:38] Flamefire commented on #41242
Yes this still exists in 1.8, the relevant code has not been changed so multiple torch (test) instances will still remove each others test directory

FWIW: Usually tests don't write to the user-directories but create a test-specific temporary directory, e.g. pytests `tmppath` and similar. This would help here too

[2021-05-02 09:31] mruberry commented on #57422
Will be fixed by https://github.com/pytorch/pytorch/pull/56284

[2021-05-02 09:32] IvanYashchuk commented on #57422
The tests from `test_torch.py` are being removed in https://github.com/pytorch/pytorch/pull/56284.
As for the validness of skipping the ROCm build, I can build it later and see how MAGMA-based functions work and what skips we can avoid.

[2021-05-02 10:49] xkszltl opened #57435 "Compile error on latest master: cast between incompatible pointer to member types"
## 🐛 Bug

[code]

## Environment

 - PyTorch Version (e.g., 1.0): master
 - OS (e.g., Linux): Ubuntu 18.04
 - How you installed PyTorch (`conda`, `pip`, source): source
 - Build command you used (if compiling from source): cmake+ninja+gcc-8
 - Python version: 3.6.9
 - CUDA/cuDNN version: 11.3

cc @malfet @seemethere @walterddr

[2021-05-02 14:18] ProGamerGov commented on #57018
@mruberry Another workaround I discovered is that `torch.stack` works exactly how one would expect `torch.cat` to work with scalar tensors.

[2021-05-02 14:37] CoinCheung commented on #57412
OK, I am waiting for new version.

[2021-05-02 14:37] #57412 closed

[2021-05-02 17:06] phalexo opened #57440 "I have just wasted 3 solid days trying to build PyTorch, without success"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

The build process is a mess. Just looking at CMakeList.txt, basically spaghetti of flags will tell you how bad it is. Over the 3 days CM

[2021-05-02 18:33] pavithranrao commented on #48066
From the above example I see there are two instances for `forward` jit functions of the `s` object. Attaching the notebook for reference as well.

[code]

https://gist.github.com/pavithranrao/04a33e9b9503fa639b63a9ee31e313f8

I am new here so I may be wrong, can you please check this and let me know. Interested in picking this task if there is some issue.

[2021-05-02 18:44] kimishpatel commented on #57271
Can you provide the quantized model that was before optimize_for_mobile and after?

[2021-05-02 21:27] SciPioneer commented on #39272
Updates:

1. DDP comm hooks are formally available since PyTorch 1.8: https://pytorch.org/docs/master/ddp_comm_hooks.html
2. DDP comm hooks are also upstreamed to PyTorch Lightning: https://github.com/PyTorchLightning/pytorch-lightning/pull/6736

[2021-05-02 21:55] ordabayevy opened #57447 "`torch._dirichlet_grad` returns `nan` value on cuda device"
## 🐛 Bug

`nan` value returned by `torch._dirichlet_grad` when using cuda device.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Code above works fine on cpu device:

[code]

## Environment

PyTorch version: 1.8.1+cu111
Is debug build: False
CUDA used to build PyTorch: 11.1

OS: Arch Linux (x86_64)
GCC version: (GCC) 10.2.0
Clang version: 11.1.0
CMake version: ve

[2021-05-02 22:18] imaginary-person commented on #56187
Thanks to the PyTorch build process, the code-organization I suggested in a [previous comment](https://github.com/pytorch/pytorch/issues/56187#issuecomment-827314981) produces binaries with all vectorization levels - viz. DEFAULT(no vectorization), AVX2, and AVX512 (since I removed AVX)!

[2021-05-02 23:02] #54296 closed

[2021-05-02 23:07] mruberry commented on #57401
Happened 3 times in a row today on periodic_pytorch_windows_cuda11.2_test1

[2021-05-02 23:08] #55929 closed

[2021-05-02 23:11] #57422 closed

[2021-05-02 23:26] ngimel commented on #56891
In this case, it's not Fortran strides vs C strides, it's whether batch dimension can be folded into matrix first dimension (that is , can `(b,m,k)` matrix be viewed as `(b*m, k)`), and that requires C strides. An easy workaround is to send 3d x 3d tensors to matmul, instead of 3d x 2d, that would cause batched matmul to be used, and batched matmul can handle fortran strides
[code]

[2021-05-03 01:42] imaginary-person commented on #56187
Hey @limo1996, I'm failing these 5 tests for AVX512 after further progress today:

[code]
Please let me know whether they're passing at your end. In that case, I wouldn't read up on quantization in order to debug these. Thanks!

[2021-05-03 03:05] peterjc123 commented on #57424
@hcyang Would you please share the complete list of errors?

[2021-05-03 03:45] Coderx7 commented on #42018
Faced this today on 1.7 and [this ](https://github.com/pytorch/pytorch/issues/31611#issuecomment-594383154)solved it

[2021-05-03 04:01] gmagogsfm commented on #54188
@narang99 I think what's needed is an API usable inside program to turn on/off logging. That is more flexible than commandline flags or environment variables, which can only enable/disable *globally*. But this is just my speculation, I'd defer to @ZolotukhinM for more details.

[2021-05-03 06:17] myuanqing commented on #57271
Of course. But it seems that a file larger than 10 MB  is supported to be uploaded on github. Could I send it later to you by email?

[2021-05-03 07:15] htwang14 commented on #43259
Hi Zeakey, I accidentally ran into this issue.

I'm quite familiar with your dual-BN setting. (I actually done something similar before but didn't try DDP.)

I'm just trying to make sure I understand your situation correctly.

So all variables returned by your forward functions are used to calculate the loss right? And you still run into this error message in your dual-BN network, if you set find_

[2021-05-03 07:42] Krovatkin commented on #54188
@narang99 We would like to have both C++ and Python API to enable/disable logging at arbitrary points in user scripts, binaries, tests, etc. For example,

[code]

[2021-05-03 08:07] jeffryuiop commented on #46380
Hi, I think im gonna post here since this is about a possible leak in a retinaface model read by jit trace. So when a face detection job is distributed using openmpi, the memory usage grows to up to 100 gb. This prompted me to check using valgrind. the leak summary is as follows:
==71193== LEAK SUMMARY:
==71193==    definitely lost: 0 bytes in 0 blocks
==71193==    indirectly lost: 0 bytes in 0 bl

[2021-05-03 08:14] albertchristianto opened #57457 "Valgrind Shows Potential Memory Leaks"
## 🐛 Bug

## To Reproduce
Hi, recently l noticed some potential memory leak in libtorch_cpu.
I am using Libtorch_cpu 1.8.1 in linux (Ubuntu 20.04). Here is the c++ code that I used for testing.

[code]
ValGrind shows
[code]

## Expected behavior

No memory leaks at all.

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pyto

[2021-05-03 08:24] BenoitDalFerro opened #57459 "KLDivLoss and F.kl_div compute KL(Q || P) rather than KL(P || Q)"
## 🐛 Bug
### Executive summary:
The inputs of `KLDivLoss` and `F.kl_div` are inverted. `target` should be `input` and `input` should be `target`. This is bad, as this function is not symmetric.

Also actual functional behaviour is akin to KL(Q || exp(P)), but not even, because we are working with the exp of the PDF, not of the distribution...

### Further points
torch.functional.kl_div() is invert

[2021-05-03 08:57] PKUFlyingPig opened #57461 "error: identifier "cusparseScsrmm2" is undefined"
## 🐛 Bug

I tried to build pytorch v1.3.0 from source with CUDA11. But during compiling, 'error: identifier "cusparseScsrmm2" is undefined' occurred.
## To Reproduce
Steps to reproduce the behavior:

1. conda install numpy ninja pyyaml mkl mkl-include setuptools cmake cffi typing_extensions future six requests dataclasses
2. conda install -c pytorch magma-cuda110
3. git clone --recursive https://g

[2021-05-03 09:53] bthiban commented on #1022
`RUN pip install -r requirements.txt --no-cache-dir ` when your torch is inside requirements.txt

[2021-05-03 10:23] pearu commented on #56369
Closing via https://github.com/pytorch/pytorch/pull/56392

[2021-05-03 10:23] #56369 closed

[2021-05-03 10:25] pearu commented on #56371
Closing via #56392

[2021-05-03 10:25] #56371 closed

[2021-05-03 11:57] narang99 commented on #54188
Ohk. Since theres another issue similar to this (#54182), I can try implementing both if thats ok

How do you suggest I handle global configuration? I saw some places in the codebase where singletons were used for global references. Should I follow the same pattern?  And is there any need to keep a lock for thread-safety?

[2021-05-03 12:32] compwiztobe commented on #53473
Possible duplicate of #53336.  Resolved and closed.

[2021-05-03 12:32] compwiztobe commented on #55736
Possible duplicate of #53336.  Resolved and closed.

[2021-05-03 13:33] limo1996 commented on #56187
@imaginary-person does `_mm512_div_epi64` compiles for you? For me GCC complains that such function is not defined in intrinsic header file but I can see it here: https://software.intel.com/sites/landingpage/IntrinsicsGuide/#text=_mm512_div_epi64&expand=5236,2130

Regarding tests I replaced Vec256 with Vec512 in `vec256_test_all_types.cpp`. I think they are good enough as unit tests. I just don't

[2021-05-03 13:45] espears1 commented on #1022
@bthiban I mentioned that in https://github.com/pytorch/pytorch/issues/1022#issuecomment-722712423 but unfortunately is did not solve the problem.

[2021-05-03 13:47] phalexo opened #57463 "Various vector optimizations pushed for Intel CPUs cause lots of issues"
## 🐛 Bug

[1541/5781] Building CXX object caffe2/CMakeFiles/vec256_test_all_types_DEFAULT.dir/__/aten/src/ATen/test/vec256_test_all_types.cpp.o
ninja: build stopped: subcommand failed.
Traceback (most recent call last):
  File "setup.py", line 818, in <module>
    build_deps()
  File "setup.py", line 315, in build_deps
    build_caffe2(version=version,
  File "/home/developer/pytorch/tools/build_p

[2021-05-03 13:50] heitorschueroff commented on #57178
Elevating this to high priority due to the number of reported issues.

[2021-05-03 14:16] kimishpatel commented on #57271
How big is it? Can you share with dropbox folder or something similar?

[2021-05-03 14:18] imaginary-person commented on #56187
Thanks for your response, @limo1996.

Yes, it works for me. Which gcc version are you using, BTW? Some intrinsics are not present in older gcc versions.

Just FYI, one of the tests there has hardcoded inputs for 256 bit vectors.

[2021-05-03 14:21] limo1996 commented on #56187
Hmm. Ok I will try to update my gcc version and see..

Yeah I know. I hardcoded 512b vectors for now but this test needs to adjust to different vector lengths.

[2021-05-03 14:32] imaginary-person commented on #56187
I did so too! . I created another one with an `#if defined(CPU_CAPABILITY_AVX512` :)
(as I'm using a unified namespace `vec` for both `vec256` & `vec512`, and `Vec256` & `Vec512` have a common name). How about using a unified namespace, BTW, as @VitalyFedyunin suggested?

[2021-05-03 14:34] limo1996 commented on #56187
Yeah I am using `vec` as unified namespace and `VecType` as currently used vector type.. What is your gcc version because even after update `_mm512_div_epi64` is not found for me..

[2021-05-03 14:36] imaginary-person commented on #56187
10.2

[2021-05-03 14:41] imaginary-person commented on #56187
Sorry, I was on my phone earlier. I just checked & am not using that intrinsic anywhere. Sorry for the confusion

[2021-05-03 14:53] imaginary-person commented on #56187
Sorry for the confusion, @limo1996! I was using github.com on my phone earlier. I just checked & am not using that intrinsic anywhere. Where do you need to use it, BTW?

I'm using `mm512_div_pd`, though.
BTW, I just pushed updated code from yesterday.

[2021-05-03 14:57] limo1996 commented on #56187
Yeah it doesn't work for gcc 10.2 either..

[2021-05-03 15:01] imaginary-person commented on #56187
It wouldn't work on [any available gcc version](https://github.com/gcc-mirror/gcc/blob/master/gcc/config/i386/avx512fintrin.h). Where are you using it, BTW?

[2021-05-03 15:07] jbschlosser commented on #40977
There is a new [Modules note](https://pytorch.org/docs/stable/notes/modules.html#module-state) introduced in 1.8.0 that explicitly compares parameters and buffers. The behavior of passing `None` to `register_parameter()` / `register_buffer()` still needs to be documented.

[2021-05-03 15:11] vkuzo commented on #57420
This is intended, if a user specifies a qconfig for ConvTranspose which is not going to work at runtime, we should throw an error as early as possible.  Your suggestion on the discuss thread of setting qconfig=None for these looks good to me.

I'm not sure if specifying quant/dequant around the module would help if qconfig != None, in Eager mode any module with a set qconfig and defined quantizati

[2021-05-03 15:11] #57420 closed

[2021-05-03 15:18] astaff commented on #57415
I was able to run colab notebook you posted and got the same shape output on CPU and GPU. Looks like colab has `1.8.1+cu101` installed by default regardless of the runtime selected.

[2021-05-03 15:21] anjali411 commented on #54298
yeah

[2021-05-03 15:21] #54298 closed

[2021-05-03 15:42] futscdav opened #57467 "torch.tensor with list of arrays orders of magnitude slower than np.array"
Creating a tensor from a list of np.arrays is unreasonably slower than just converting the list into a np.array first.

[code]

Output:
[code]

I don't know if this is a super common use case, but it seems plausible enough for constructing custom batches and I'm not really sure if there is a good reason it should be so much slower.

cc @mruberry @rgommers @heitorschueroff @VitalyFedyunin @ngimel

[2021-05-03 16:09] imaginary-person commented on #56187
@malfet @ezyang,

Apart from `ATen`, should `caffe2_perfkernels` retain AVX support?
Thanks!

[2021-05-03 16:12] #57360 closed

[2021-05-03 16:16] rgommers commented on #57467
Thanks for the report @futscdav. This is a duplicate of gh-13918. That has 2 PRs pending to fix the issue. gh-51731 seems to be the preferred fix, but it hasn't moved in a month - I'll ping on there. And will close this as a duplicate.

[2021-05-03 16:16] #57467 closed

[2021-05-03 16:18] Balandat commented on #34272
I think this is largely done - however, we should add a warning to the `torch.cholesky` docstring that raising the error can be really slow and that folks who want to use this to determine whether matrices are positive definite should use `torch.linalg.cholesky_ex` instead (and check its `info`).

[2021-05-03 16:27] rohan-varma opened #57469 "test_reduce_checks (__main__.ProcessGroupGlooTest) is flaky"
test_reduce_checks is flaky, see:
[code]

https://app.circleci.com/pipelines/github/pytorch/pytorch/314912/workflows/2598a16d-265b-4cc3-991a-69ffb4e08d22/jobs/13094781

Not disabling yet as I've only seen it once.

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @agolynski @SciPioneer @H-Huang @mrzzd @cbalioglu @gcramer23

[2021-05-03 16:31] eqy commented on #57178
Do we know if the correct behavior is defined by the current implementation or the equation shape equation in the docs?

[2021-05-03 16:31] imaginary-person commented on #56187
BTW @limo1996, have you tried building locally on Windows (with Visual Studio), and on MacOS?
I haven't, but CI builds fail for them, so I guess some additional changes would be required to be able to build in those environments.

[2021-05-03 16:37] Lezcano commented on #57447
cc @kshitij12345 who's working on `torch.special`. Might be interested on this one.

[2021-05-03 16:39] ejguan commented on #57429
Except the problem of impossible inference, the size of each batch varies, which may not the expected behavior. Besides, for `default_collate `, we can't ignore `None` since we need to return something for DataLoader logic. But, if we return `None` from DataLoader, we are pushing data loading logic out of DataLoader.
But, we are designing and working on the new DataLoader which will be really flex

[2021-05-03 16:40] pearu commented on #57416
Changing
https://github.com/pytorch/pytorch/blob/52b389259c4324ab402c5c8abaf3629c48ea432e/aten/src/ATen/SparseTensorUtils.cpp#L42
to
[code]
appears to fix this issue.

[2021-05-03 16:44] mruberry commented on #57461
@aocsa and @pearu, looks like this function is deprecated and maybe removed in the latest cuSPARSE? We might need a version check to guard this. Would one of you two be able to take a look?

[2021-05-03 16:51] jbschlosser commented on #29523
This is now supported for all modules provided by `torch.nn`. Example:

[code]

[2021-05-03 16:52] jbschlosser commented on #51887
This is now supported for all modules provided by `torch.nn`. Example:

[code]

[2021-05-03 16:52] #51887 closed

[2021-05-03 17:00] ejguan commented on #57430
It's not the problem of DataLoader. You need to take care of object for Python multiprocessing.spawn. (Please check https://docs.python.org/3/library/multiprocessing.html#contexts-and-start-methods). I think your `file` after DataLoader is re-created.

By using `a` mode for your file can solve your problem directly.

[2021-05-03 17:01] malfet commented on #57461
Does this failure reproduces if PyTorch-1.7 or later is used? (Please note, that CUDA-11 was not yet available when PyTorch-1.3 was released)

[2021-05-03 17:02] wanchaol commented on #57138
@anj-s any updates? if it works for you, we can close this

[2021-05-03 17:04] malfet commented on #57209
Mac builds are green again, closing:
https://app.circleci.com/pipelines/github/pytorch/pytorch/314709/workflows/372fa1dc-cb90-4b19-88be-5752947ba936/jobs/13084682

[2021-05-03 17:04] #57209 closed

[2021-05-03 17:05] malfet commented on #57206
Builds are green again, though I'm not sure what have changed... No conda-forge perhaps?

[2021-05-03 17:09] seemethere commented on #57206
Most likely that is the case

[2021-05-03 17:10] aocsa commented on #57461
Sure I will look this.

[2021-05-03 17:10] heitorschueroff commented on #57178
@eqy As you correctly noted in your comment above, the equation in the documentation has one corner case described in the following note from the doc

[code]

Which essentially says that we ignore sliding windows that do not start within the left padding or the input. The documentation in this case is correct albeit confusing. The implementation is also not thoroughly tested so I think it's worth

[2021-05-03 17:12] ezyang commented on #57406
It's going to be hard to see how we can remove the `__setattr__`, unfortunately

[2021-05-03 17:13] malfet commented on #56882
Was broken  1.9.0.dev20210429-py3.7_cpu_0, fixed in 1.9.0.dev20210503-py3.7_cpu_0, closing.

[2021-05-03 17:13] #56882 closed

[2021-05-03 17:14] ezyang commented on #57421
This is due to either https://github.com/pytorch/pytorch/pull/56147 or https://github.com/pytorch/pytorch/pull/56150

[2021-05-03 17:16] ezyang commented on #57421
I think the problem is I'm not supposed to delete `tp_new` because that means the super() call doesn't work. Instead, I should just verify that the passed in class is a subclass, then this should work.

[2021-05-03 17:17] heitorschueroff commented on #57121
I'll compare them today

[2021-05-03 17:24] HBolandi opened #57473 "Expected to have finished reduction in the prior iteration before starting a new one."
My code was working properly prior to adding the self attention layer. Then I replaced one of the deconv layers with self attention layer. The new code is working with dp but for ddp raised with error below:

"RuntimeError: Expected to have finished reduction in the prior iteration before starting a new one. This error indicates that your module has parameters that were not used in producing loss.

[2021-05-03 17:30] albanD commented on #57121
High pri to check if it is a regression or not.

[2021-05-03 17:31] albanD commented on #53359
As mentioned in the doc, users should be only saving state_dicts to avoid such issues.
For backward compatibility reasons, it is hard to plain forbid nn.Module save though.

[2021-05-03 17:39] mrshenli opened #57475 "CUDA RPC stream synchronization does not work with @rpc.functions.async_execution"
Luca hit CUDA stream sync error when combining CUDA RPC with `@rpc.functions.async_execution`. See #56863

This is likely because `@rpc.functions.async_execution` will switch threads when executing user-functions. As a result, the current stream guard applied to request processing is not sufficient.

[2021-05-03 17:45] SsnL commented on #57406
@ezyang  how about in `__setattr__` for module/buffer/param if `__getattribute__` works, then also `object.__setattr__` in addition to write to the internal dicts (`_modules`, etc)?

[2021-05-03 17:49] ezyang commented on #57406
Oh, maybe it is as simple as calling `super().__setattr__`. Yes I'd look positively on a patch like that.

[2021-05-03 17:50] puririshi98 opened #57476 "Profiler creates sequence numbers that are off by 1 between the forward and backwards pass"
## 🐛 Bug

![image](https://user-images.githubusercontent.com/20074092/116919648-6d644080-ac06-11eb-9b2a-82dfa770962d.png)

As seen in this screenshot, the sequence number of 4 for the conv2D forward pass matches up to a sequence number of 5 for the backward pass. These numbers being off by 1 could make keeping track of forward and backward passes difficult in a much more complicated network. This

[2021-05-03 18:01] anj-s commented on #57138
Sorry for the delayed response.
I am running into a new error:

[code]

Followups:
* Should RRef[torch.Tensor] instead be RRef[Server]?
* I tried using a Future that is a member of the instance instead of creating a new one but that failed as well.
* I tried returning just self.value but we expect a Future to be returned so that doesn't work as well.

[2021-05-03 18:09] vadimkantorov commented on #29523
Would this be supported e.g. for torchvision models? So that one could directly load a model onto a GPU without weight init, and then load_state_dict into it directly without any random init?

If yes, it should probably be documented in a recipe, and maybe even become default for the from_pretrained-like factories

[2021-05-03 18:11] vadimkantorov commented on #29523
Was `reset_parameters = True` argument decided finally not taken? Should I create a separate issue about standardizing practice of putting all (standard models') weight init into `reset_parameters` method (so that CPU-side weight init could be skipped if needed and be done on GPU directly if needed)

[2021-05-03 18:12] anj-s commented on #57172
@rohan-varma @ilia-cher thanks for taking a look! I double checked my code and i used the right API i.e torch.autograd.profiler.profile so it's a typo in the repro which also makes sense since I wasn't able to repro the hanging issue that I originally saw. There were definitely ops that were being executed so I did not run into the RuntimeError that you saw when using just print inside the functio

[2021-05-03 18:21] xfrenette opened #57478 "Tensor.flatten method signature has an extra "input" parameter"
## 📚 Documentation

The [`Tensor.flatten` documentation](https://pytorch.org/docs/stable/tensors.html#torch.Tensor.flatten) lists `input` as the first parameter but this method doesn't accept this parameter. It looks like this method has (incorrectly) the same signature as [`torch.flatten()`](https://pytorch.org/docs/1.8.1/generated/torch.flatten.html#torch.flatten).

cc @brianjo @mruberry

[2021-05-03 18:29] hcyang commented on #57424
[PytorchIssue57424.zip](https://github.com/pytorch/pytorch/files/6416878/PytorchIssue57424.zip)

Here is a repro solution. The main program does nothing except including two torch header files.
Below is the snapshot of the error messages.

![build_error_1 8 1](https://user-images.githubusercontent.com/370110/116916874-bca87200-ac02-11eb-9a9c-6bc325d673c8.png)

[2021-05-03 18:32] hcyang commented on #57424
BTW, the VS2019 solution/project references two libtorch folder "libtorch" and "libtorch_debug", which were not included in the zip file. Please recreate them for repro.

[2021-05-03 18:44] eqy commented on #57178
A slight clarification I think it could be worth making is that "sliding windows are allowed to go off-bounds if they start within the left padding or the input _and_ _start_ _from_ _a_ _previously_ _unused_ _input_ _location_." Otherwise, the language is ambiguous as to whether e.g., kernel_size 2 and stride 1 yields a 1x1 or 2x2 output when given a 2x2 input, as starting a window with top left c

[2021-05-03 18:52] janeyx99 opened #57482 "`TestLinAlgCUDA.test_inverse_errors_large_cuda_float64` failing for CUDA 11.3 on Windows"
The test fails with error: `RuntimeError: CUDA error: too many resources requested for launch` when executing `torch.inverse`.

Logs:
https://app.circleci.com/pipelines/github/pytorch/pytorch/314168/workflows/e7b9471e-b734-451d-927a-b16cd9fd57f5/jobs/13063189

This is only on Windows. The same test passed for Linux 11.3 on CI: https://app.circleci.com/pipelines/github/pytorch/pytorch/314166/workfl

[2021-05-03 19:06] SsnL commented on #57406
@ezyang or maybe it should just be: if the attribute already exists, `delattr` first (s.t. future `getattr` can actually go through `__getattr__`)?

[2021-05-03 19:12] zasdfgbnm commented on #57482
cc: @xwang233

[2021-05-03 19:17] xwang233 commented on #57482
Thanks @janeyx99 . I see that MAGMA is installed in the CI. This test https://github.com/pytorch/pytorch/blob/4a872f85396b426f7e26ee20c25e7916d45f70e2/test/test_linalg.py#L3205 is then dispatched to MAGMA backend. Tentatively assuming a MAGMA issue.

[2021-05-03 19:18] pritamdamania87 commented on #53952
@stas00 If you want to try this out right away, you can patch the stack of PRs starting here: https://github.com/pytorch/pytorch/pull/55441 and build PyTorch from source locally and try out the new API. The `Pipe` class has all the necessary docs outlining the changes.

The other option would be to use the nightly binaries once the PRs land. You can also llook at the unit tests in those PRs for ex

[2021-05-03 19:45] heitorschueroff commented on #57121
It's a regression from PyTorch 1.7.1 which gives the following results

[code]

[2021-05-03 19:45] francois-rozet commented on #57416
Hello @pearu, reading the specification of the function I don't understand how you can prevent the indices to overflow. Especially, in the hereafter, loop `mult` can become larger than the limit of `int64_t`.

https://github.com/pytorch/pytorch/blob/52b389259c4324ab402c5c8abaf3629c48ea432e/aten/src/ATen/SparseTensorUtils.cpp#L34-L37

This is a problem as two different positions could be mapped to

[2021-05-03 19:57] #2793 closed

[2021-05-03 19:57] #57193 closed

[2021-05-03 19:58] suo opened #57489 "[package] PackageExporter persistent_id does not preserve tensor views"
Compare with the equivalent code in `torch.serialization`.

[2021-05-03 19:59] #57489 closed

[2021-05-03 20:08] pearu commented on #57416
@francois-rozet , indeed, this issue boils down to catching overflow in integer multiplication (and addition). Here's a small deterministic reproducer:
[code]

[2021-05-03 20:16] rohan-varma commented on #56769
duplicate of https://github.com/pytorch/pytorch/issues/57176

[2021-05-03 20:16] #56769 closed

[2021-05-03 20:24] Lilyjjo opened #57490 "[package] os.path error"
## 🐛 Bug

Importing `os.path` causes `PackageImporter` to throw this error:
[code]

## To Reproduce

Add this line to a module that is being imported, and then try to package an object that is dependent on the module:

[code]

[2021-05-03 20:42] aocsa commented on #57461
That's true. PyTorch 1.3 don't support CUDA-11. CUDA-11 is supported since PyTorch-1.7.

https://github.com/pytorch/pytorch/blob/de394b672d0346f2f387a8bb1a1280d5d2eaf9cb/aten/src/ATen/native/sparse/cuda/SparseCUDABlas.cu#L12

I recompiled PyTorch-1.7 and the most recent version with CUDA-11. So  this issue can't be reproduced,  I think this issue can be closed.

[2021-05-03 20:44] Dongximing opened #57491 "setting all seed still get different result."
## 🐛 Bug
class
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')
import torch
import torch.nn as nn
import torch.optim as optim
import time
import random
from torchtext.legacy import data
from torchtext.legacy import datasets
import numpy as np
from torch.autograd import Variable
import torch.optim as optim
import matplotlib.pyplot as plt
from torch.optim import lr_scheduler
SE

[2021-05-03 20:46] Lilyjjo commented on #57490
#53114 provides a solution to the issue, but I'm not sure if is the correct solution.

The issue seems to be that even though `os` isn't a package, you can import `path` from `os` as if `os` is a package.
[code]

[2021-05-03 20:46] dreiss commented on #46749
I don't think that will work.  The core problem is that people are quantizing with a QNNPACK config, then running with fbgemm because it is the default engine and they don't know to set the qengine.

Yeah, this is better.  Instead of throwing an error, could we just silently choose the proper engine so fbgemm and qnnpack models will both work without any changes to the calling code?

[2021-05-03 21:25] ARozental opened #57495 "Please remove this assertion"
https://github.com/pytorch/pytorch/blob/4cb534f92ef6f5b2ec99109b0329f93a859ae831/aten/src/ATen/native/cpu/IndexKernel.cpp#L430

This assertion looks like this:
`      if (!is_mask_bool) {
        TORCH_CHECK(mask_value <= static_cast<mask_t>(1), "Mask tensor can take 0 and 1 values only");
      }
`

but there are in fact several valid use cases where the attention mask should have floating number

[2021-05-03 21:48] ezyang commented on #57423
If there is a simple workaround for the compile failure we'd be happy to take it, otherwise y'all are probably going to have to figure out what's wrong with the compiler.

[2021-05-03 21:50] ezyang commented on #56187
Nyeh, it doesn't matter. Kill it if it makes your life easier, leave it alone if that's easier.

[2021-05-03 21:52] ngimel commented on #57495
uint8 masks are deprecated, please use bool masks and you won't have this issue.

[2021-05-03 21:57] ezyang commented on #29523
@jbschlosser I think we need to document this recipe. Also, weren't we going to add a helper function to help you do this two step in one line? It also seems reasonable to start applying this pattern when doing stuff like `from_pretrained`.

@vadimkantorov We dumped `reset_parameters` because it turned out that `device="meta"` and then `to_empty` was sufficient, with less refactoring required on t

[2021-05-03 21:59] ezyang opened #57502 "[structured] Fail if CompositeExplicitAutograd is in dispatch table of structured_delegate function"
self explanatory

[2021-05-03 21:59] ezyang commented on #57461
yeah, we're not going to fix this.

[2021-05-03 21:59] #57461 closed

[2021-05-03 22:02] vadimkantorov commented on #29523
Even if it's functionally equivalent, I must admit that `devcie="meta"` and `to_empty` is quite cryptic from the end-user standpoint

[2021-05-03 22:10] jamestwebber opened #57503 "[new feature] Adaptive gradient clipping"
## 🚀 Feature
As described in [High-Performance Large-Scale Image Recognition Without Normalization](https://arxiv.org/abs/2102.06171) from Brock et al., implemented [here](https://github.com/deepmind/deepmind-research/tree/master/nfnets) (with `jax`).

I know you typically only implement things that have gained some moderate amount of usage. So AGC may not qualify, but I thought I'd open a feature

[2021-05-03 22:14] ngimel opened #57505 "Reduce or eliminate thrust usage in pytorch"
We have an open issue #52663 (and links therein) complaining about thrust/cub usage in libraries and applications linking to libtorch. In addition, with 1.8 release we had/have an issue within pytorch itself (because of cuda split build), where `randperm` didn't work (1.8), or `randperm` followed by `sort` didn't work (1.8.1).
At the root of those issues is cub and/or thrust's use of local static

[2021-05-03 22:16] anj-s commented on #57158
@lw friendly ping! Did you get a chance to look into this?

[2021-05-03 22:18] albanD opened #57507 "Cleanup usage of IS_PYTHON_3_9_PLUS in autograd engine"
Follow up to https://github.com/pytorch/pytorch/pull/57488#pullrequestreview-650763452

[2021-05-03 22:20] imaginary-person commented on #56187
Hey @limo1996, sorry for bothering you again, but as I asked earlier, can you please confirm if these 4 tests are passing with the source-code you wrote)?
I'm using gcc 10.2 on a system with Intel Gold 6142 processors (Skylake-SP), on which [`pack_saturate_and_clamp`](https://github.com/pytorch/pytorch/blob/4749bb9eb450b0329796daddfef520309c4fe27e/aten/src/ATen/cpu/vec/vec512/vec512_qint.h#L74-L18

[2021-05-03 22:22] ngimel commented on #57435
Fixed in #57487

[2021-05-03 22:22] #57435 closed

[2021-05-03 22:29] soulitzer opened #57508 "Unskip CUDA grad/gradgrad checks or no longer mark as slow test"
Currently many CUDA grad/gradgrad checks are skipped or marked as slow tests because they take too long to run. Since we now have a faster gradcheck (faster because it no longer evaluates the entire Jacobian matrix column by column or row by row), we should revisit and reevaluate whether they can be reenabled/unmarked as slow.

For operators that use OpInfo-based testing, check `torch/testing/_int

[2021-05-03 22:34] ngimel commented on #57482
@janeyx99 is it possible to get a backtrace for this error?

[2021-05-03 22:40] supriyar opened #57509 "[quantization] Validate qconfig_dict keys"
# Issue

Currently the qconfig_dict used for quantization APIs expects a set of keys and as specified in https://github.com/pytorch/pytorch/blob/master/torch/quantization/quantize_fx.py#L260-L286

If the user passes in an invalid key or makes a typo, we should throw an error and let the user know what keys are supported.

# Repro

[code]

Output
[code]

Expected some error message like

[code]

cc

[2021-05-03 22:45] SplitInfinity commented on #57387
Another related simplification we might want to consider is to emit `a is not b` as `not a is b` and get rid of `aten::__isnot__`.

[2021-05-03 22:53] eellison commented on #57387
@SplitInfinity the ones i put bootcamp on aren't intended for OSS.

[2021-05-03 23:04] ngimel opened #57515 "Dispatch `index_put` with boolean mask argument to masked_fill/masked_scatter when possible"
Patterns like
[code]
or
[code]
go through index_put, and convert boolean mask to Long indices. This is memory-inefficient and slow. Additionally, when people ask for deterministic algorithms, index_put_ does an unnecessary and inefficient thing of dispatching to sort-based algo (it's not needed for mask indexing), and sort-based algo has a bug related to broadcasting (see #61032).

Dispatch them t

[2021-05-03 23:17] janeyx99 commented on #57482
@ngimel Do you mean something more specific than what's already in the logs? (The below)
[code]

[2021-05-03 23:17] SplitInfinity commented on #57289
`weight_norm` tries to use an instance of a class with `__call__` defined (`WeightNorm`) as a forward pre hook.
[code]
This throws an error because the hook scripting code in `_recursive.py` uses `hook.__name__` to make sure two hook functions do not have the same name, and `fn` above does not have a `__name__` attribute.

Taking a step back, the current implementation of scripted static hooks can

[2021-05-03 23:23] ngimel commented on #57476
cc @ilia-cher

[2021-05-03 23:25] ngimel commented on #57482
Yeah, cpp stack trace would be better (on linux that would be the one shown with `export TORCH_SHOW_CPP_STACKTRACES=0`)

[2021-05-03 23:26] SciPioneer opened #57516 "Supporting passing a RemoteModule to an RPC as an arg"
## 🐛 Bug
`RemoteModule` uses RRef underlying, so it should be able to be shared across processes directly. However, currently passing a remote module to an RPC can cause the following error:

[code]

This is because the generated method is only installed locally where the RPC is initiated, but not on the remote worker that runs forward or forward_async.

[2021-05-03 23:29] SplitInfinity commented on #57138
I don't think you can create `torch.jit.Futures` in your own code; you need use `torch.jit.fork`, which returns a `Future`.

[2021-05-03 23:35] supriyar commented on #51152
For this, we can update the quantization_scheme in the quantized tensor to only print per-tensor/per-channel information and drop the affine suffix.

[2021-05-03 23:59] SplitInfinity commented on #43882
Seems like this is a feature and not a bug. In the `decompose_ops` pass, we have
[code]

[2021-05-04 00:40] scaomath opened #57518 "torch.size for cfloat or cdouble"
## 🚀 Feature
Add a switch in `size` function for complex tensors to return the dimension of real part and complex part as a stacked dimension.

## Motivation
Right using the old counting params snippet I have:
[code]
We will get 15. However, in training a single entry in `cfloat` or `cdouble` is treated as two degrees of freedom. This means that in `x` there are actually 30 parameters.

## Pitch
`

[2021-05-04 01:53] #54555 closed

[2021-05-04 02:04] anjali411 commented on #57518
I am not familiar with the `return_couple` argument. Parameters are a Tensor subclass, so I think the size should return the true size of the complex tensor. cc. @jbschlosser

[2021-05-04 02:09] anjali411 commented on #57478
@xfrenette thanks for filing the issue! we'll accept a PR fixing this doc issue.

[2021-05-04 02:11] #51670 closed

[2021-05-04 02:12] SplitInfinity commented on #56883
Tracing by default actually traces the model twice to make sure the results don't differ between the two runs. This can happen for a variety of reasons, one of which is control flow that executes different code paths in each run. In your case, I think what's happening is that the hidden state `self.hidden_cell` is being updated in-place by the first run, which causes the second run to produce diff

[2021-05-04 02:28] Ivanfangsc commented on #57430
Using `a` mode fixes the problem for me. Thank you very much.

[2021-05-04 03:36] jbschlosser commented on #29523
Fair enough, I shouldn't have closed this prematurely :)

Modules under `torch.nn` now support this, so anything composed of those modules can follow the same pattern. While there's nothing preventing this from working with torchvision models, they haven't been updated yet to accept a device arg and string it along through the submodules.

For sure- I'll be opening a docs PR shortly adding this re

[2021-05-04 03:56] peterjc123 commented on #57424
@hcyang The workaround is to append `::` before `std::function` calls in `C++17.h`. Further investigation is in progress.

[2021-05-04 04:03] parmeet commented on #55981
I think overall I really like the idea. This is similar in-line with std::vectors that grows dynamically as we push more objects into the structure.

One question I have though is on the forward API. why not support list of strings directly? It seems LazyEmbedding wound need to depend on some external structure to provide token indices. That external structure also need to support dynamic  (Lazy)

[2021-05-04 05:11] imaginary-person commented on #56187
All 257 tests are passing for me now! I've pushed the code if you'd like to test locally.
@ezyang, no tests for `BFloat16` were added when `vec256_bfloat16.h` was initially added to the codebase by Intel folks. 😞
I'll add a few.

BTW, I got access to an Intel Xeon Silver 4114 machine with an Nvidia GPU sooner than expected, so I'll run benchmarks tomorrow.

[2021-05-04 05:30] tsindhuja commented on #52204
@spandantiwari I am facing the same issue while converting a vision transformer model - R50+ViT-B_16
https://github.com/tczhangzhi/VisionTransformer-Pytorch - This is the repo

[2021-05-04 06:16] SsnL commented on #57518
well, `x.numel() * (1 + x.is_complex())`? or you cam `x.view_as_complex` in forward.

[2021-05-04 07:16] yuseungwoo opened #57531 "Plz Help Me, traced_cell = torch.jit.trace(my_cell, (x1=x, h=h)) Error"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

Resolved

- [Discussion Forum](https://discuss.pytorch.org/)

cc @gmagogsfm

[2021-05-04 07:56] 9lan9 commented on #42391
hi, do you have the solution now?

[2021-05-04 08:17] francois-rozet commented on #57416
@pearu This commit resolves the problem of overflow. But it prevents the use of `coalesce` with large sparse tensors. Is there a plan to resolve that or the feature will be deprecated ?

[2021-05-04 08:18] caseybasichis commented on #56034
I'm encountering this issue again on a different system / setup.

It again seems to be ignoring the links but none of the commands are working here.  Is it not finding a cpu match?

[pip3_issue_new_system.txt](https://github.com/pytorch/pytorch/files/6419797/pip3_issue_new_system.txt)

[code]

[2021-05-04 08:39] Flamefire opened #57533 "test_grid_sample (from TestNN) fails on POWER"
## 🐛 Bug

When running the tests I get the following error:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Compile
1. python run_test.py

## Expected behavior

Tests pass

## Environment

 - PyTorch Version (e.g., 1.0): 1.7.1
 - OS (e.g., Linux): RHEL 7
 - How you installed PyTorch (`conda`, `pip`, source): source
 - Build command you used (if compiling from source): `PYTORCH_BUILD

[2021-05-04 08:45] kondela commented on #2576
For anyone stumbling upon this, you can use the following snippet.

[code]

[2021-05-04 08:53] ArekSredzki commented on #35316
After working around the `pybind11_bazel` issue by defining the libraries manually, I was able to avoid the `tools/config` error by defining a dummy BUILD file in that directory within my project. That said, it's rather painful to specify all of the required dependencies, I wish this were a more seamless experience.

[2021-05-04 09:03] Lezcano commented on #57518
A mathematical take on this:

Whenever you work with complex vector spaces (or complex geometric things) you have two notions of dimension: the real and the complex dimension often denoted as `dim_R` and `dim_C`. More formally, a complex vector space of (complex) dimension `n` is a real vector space of (real) dimension `2n` with some extra structure.

@rgommers does numpy have anything like this?

[2021-05-04 09:07] samfux84 commented on #56126
Just tested to create an empty venv and to install another pytorch version there, but I still get the same error:

[code]

How can this be?  How can a pytorch installation in the central site-packages directory break another torch installation in a venv that ignores the central site-packages directory?

[2021-05-04 09:17] rgommers commented on #57518
No, an element is a single unit, no matter what dtype the array has. There are not only complex dtypes, but string, object, datetime, etc. dtypes.

Special-casing syntax for complex dtypes seems weird to me, and `x.size(return_couple=True)` looks like just a verbose way of spelling `x.size() + (2,)`, so I'm -1 on this feature request.

[2021-05-04 09:32] Kegnarok opened #57534 "`torch.view_as_complex()` does not work when `storage_offset` is odd"
## 🐛 Bug

`torch.view_as_complex()` does not work when `storage_offset` is odd. It seems like an arbitrary requirement to me, which is not documented.

## To Reproduce

[code]

While it is not clear why someone would like to do that, this problem appears naturally when using `DataParallel` with complex tensors. As mentioned in #55375, `DataParallel` casts tensors back to real, so one needs to call

[2021-05-04 09:34] vadimkantorov opened #57535 "[proposal] [ux] Make kernel_size = 1 default argument value for convolutions"
Since, currently Linear does not support dim (https://github.com/pytorch/pytorch/issues/52143), we may have to change from nn.Linear to nn.Conv*d to do pointwise convolutions.

Currently: `nn.Linear(in_dim, out_dim) -> nn.Conv1d(in_dim, out_dim, 1)`
With change: `nn.Linear(in_dim, out_dim) -> nn.Conv1d(in_dim, out_dim)`

cc @albanD @mruberry @jbschlosser

[2021-05-04 09:41] vadimkantorov commented on #29523
Also, currently reset_parameters methods seem not documented: https://pytorch.org/docs/stable/search.html?q=reset_parameters&check_keywords=yes&area=default

So changing the name now may be a good time.

[2021-05-04 09:49] FrancescoCasalegno commented on #42163
Hello everyone!

I also had issues related to this non-reproducibility of `torch.save()` binary outputs.
I am proposing a possible solution in the PR #57536.

[2021-05-04 10:00] Flamefire opened #57537 "Nan propagation of min/max function broken for POWER"
## 🐛 Bug

Running the tests shows a failure with nan propagation for `torch.max`/`torch.min` introduced in 1.8.0 via https://github.com/pytorch/pytorch/pull/41541

Example:

[code]

## To Reproduce

Run tests on PPC

See e.g https://gist.github.com/Flamefire/3f11af7f908742908d0d035d3e430646

## Expected behavior

Tests succeed

## Environment

 - PyTorch Version (e.g., 1.0): 1.8.1
 - OS (e.g., Lin

[2021-05-04 10:07] Flamefire commented on #57533
FWIW: I printed the values of x and y for the failing test and got:

[code]

I.e. the result is all zeros which looks like a serious bug to me

[2021-05-04 10:19] limo1996 commented on #56187
@imaginary-person
My company did not give me permission so I will work on it but after working hours. I finally had time to look over your code and I think there are many similarities just overall I am having both `Vec512` and `Vec256` and unifying them in `vec.h` as follows:

[code]
What do you think about that?

I compiled and run your branch and 2 tests are failing. Namely: `ProcessGroupMPITest

[2021-05-04 10:35] pearu commented on #57416
This is a good question. The issue is not really about large sparse tensors but about the large size of tensor dimensions: the issue can be reproduced with a sparse tensor having only two elements. Also, the issue is not also about COO format that would be able to represent the problematic tensors without problems. The problem is in coalesce algorithm where sorting of indices requires reducing the

[2021-05-04 10:39] peterjc123 commented on #56034
@caseybasichis You'll need the `--pre` option.

[2021-05-04 11:15] bo-miao commented on #55277
Even I do not know what exactly happened, but the GPU Memory Cost is reduced from ~20G to ~6G on 3090 after adding **torch.cuda.empty_cache()** to clean the memory and using **torch.cuda.amp.autocast** on the ResNet18 backbone.

[2021-05-04 11:17] peterjc123 commented on #57424
It seems the real problem is the implementation of `if constexpr` in MSVC. If we rewrite the function at question like the following, it doesn't fail.
[code]
But if we add `if constexpr` there, then the compiler is unhappy.
[code]
This piece of code throws `error C2872: 'std': ambiguous symbol`.

[2021-05-04 11:49] francois-rozet commented on #57416
@pearu Large dimensionality is what I meant by large sparse tensors 😅

The first solution (which I already mention [here](https://github.com/pytorch/pytorch/issues/57416#issuecomment-831489701)) seems more suitable, as the second one will prevent a lot of common operations (sums, products, ...).

By the way, I don't know how these operations are implemented, but they likely also use `flatten_indic

[2021-05-04 11:54] peterjc123 commented on #57424
Close this issue since this is a duplicate of https://github.com/pytorch/pytorch/issues/53409.

[2021-05-04 11:54] #57424 closed

[2021-05-04 12:03] vadimkantorov opened #57538 "[docs] attr rendering in F.kl_div"
![image](https://user-images.githubusercontent.com/1041752/117000434-5ba39b80-ace1-11eb-87e6-913a9a88b1ac.png)

It would be nice to add GH action checking for absence of `:attr:`, as it often indicates a rendering typo

cc @brianjo @mruberry

[2021-05-04 12:05] Emmanuel357 opened #57539 "If a transposed convolution layer takes in a 3 channel input and gives out a 2 channel output, how many kernels would it have and why?"
Isn't the tconv layer supposed to have 6 kernels divided into two? One three kernels for one channel, another three kernels for another channel making two channels because the tconv layer is to give out a two channel output? I'm I right or what?

[2021-05-04 12:09] pearu commented on #57416
Yes, this makes sense too :)

Although, large dimensionality does not necessarily mean large nnz which is often the parameter that determines if a sparse tensor is large or not in terms of memory consumption.

Currently, pytorch supports arbitrary tensor sizes provided that `product(<tensor shape>)` is less than max of int64.
What would be the typical dimensionality (the number of dimensions) and

[2021-05-04 13:12] scaomath commented on #57518
I will do this. Thanks for the comment.

[2021-05-04 13:12] #57518 closed

[2021-05-04 13:25] krshrimali commented on #54295
Hi, I would like to pick this up. Hoping that it doesn't coincide with anyone's plan, and if it does - please let me know. Thanks!

[2021-05-04 13:40] francois-rozet commented on #57416
@pearu

I don't think it is a detail. Element-wise multiplication doesn't need the tensors to be coalesced since multiplication is **distributive** with respect to summation. However, it does require to **compare** indices which is probably performed with (or like in) `flatten_indices` currently and, therefore, doesn't work for large-dimensionality sparse tensors.

What I want to say is that there

[2021-05-04 13:44] #56785 closed

[2021-05-04 13:52] jbschlosser commented on #57503
Hey @jamestwebber, thanks for the great suggestion and implementation! If this becomes popular enough, we'd be happy to accept it.

[2021-05-04 13:54] ezyang commented on #57457
When you increase the number of iterations, does the leak exist? I could believe that all of the leaks are resulting from us purposely leaking singleton objects to avoid SIOF

[2021-05-04 13:57] ezyang commented on #2576
Bumping priority based on user activity

[2021-05-04 14:27] pearu opened #57542 "numel overflows silently on large sparse tensors"
As in title. Here's a reproducer (using the current master):
[code]

The overflow is not silent in https://app.circleci.com/pipelines/github/pytorch/pytorch/315245/workflows/5572e810-d80a-44d0-8555-cabfc2caf637/jobs/13112422 that prevents testing the overflow error in https://github.com/pytorch/pytorch/pull/57492 .

Notice that COO sparse tensor construction always computes `numel` as `product(siz

[2021-05-04 14:28] ejguan commented on #57430
@Ivanfangsc No problem.
Closing the issue. Feel free to re-open it when needed.

[2021-05-04 14:28] #57430 closed

[2021-05-04 14:32] pearu commented on #57416
For element-wise multiplication, `flatten_indices` is not required because the result is defined by element-wise multiplication of sparse tensor values while indices are kept fixed.

Actually, supporting large sparse tensors is already blocked by `numel` property, see https://github.com/pytorch/pytorch/issues/57542 .

[2021-05-04 14:38] ajinkyaambatwar opened #57543 "Cuda Dynamic Parallelism Support for building custom pytorch library"
## 🚀 Feature
I am requesting to add a feature to torch cpp_extenstion to include cuda dynamic parallelism support while building.

## Motivation

If I am having a global kernel call inside another a global kernel, I need to use ```-rdc=true``` flags for nvcc. That is possible while stand-alone execution of the code.
I have a cuda script ```query_gpu.cu``` which invokes a ```__global__()``` kernel

[2021-05-04 15:05] atsigkas opened #57545 "Update tech doc"
## 📚 Documentation
I already opened a pull request for updating the {pytorch/docs/source/**complex_numbers.rst**} file .
It is taking a lot of time before letting me do the final merge.
Is it normal?
The pull request is : #57540

P.s. It's my first time trying to contribute to an open-source project of this size .

[2021-05-04 15:14] phalexo opened #57546 "How can I turn off all the Intel processor specific optimizations cleanly?"
## ❓ Questions and Help

[2021-05-04 15:22] agolynski opened #57547 "Add distributed testing for CUDA aware MPI"
## 🚀 Feature
Add distributed testing for CUDA aware MPI.

## Motivation

We do support CUDA aware MPI calls, but it's untested: we only test MPI with CPU tensors.

[2021-05-04 15:26] ezyang commented on #56390
@pritamdamania87 I managed to trigger something very similar and saved the commit in question. Check out https://github.com/ezyang/pytorch/tree/poc/distributed-always-timeout and run `python test/distributed/rpc/test_process_group_agent.py ProcessGroupRpcTestWithSpawn. test_rref_proxy_class_self`. The spawned subprocesses will fail ~immediately, but the parent process will continue waiting until t

[2021-05-04 15:28] zou3519 commented on #53359
@albanD @jbschlosser although our official stance is that users should not be saving modules directly, would you be opposed if I sent a fix for this and we can discuss how to prevent users from saving modules directly separately?

[2021-05-04 15:31] imaginary-person commented on #56187
Eventually, we'd have to use `USE_AVX512`, just as you did, but as for the rest, it'd be great to get advice from @ezyang, @VitalyFedyunin, and @malfet.

Sure! :)
I just sent you an invite.

 These vector tests fail:

Thanks for letting me know! I just checked again & it looks like those complex tests are failing due to a regression.
I'll compare older versions in my work repo & push changes.
The

[2021-05-04 15:31] bilal-aamer opened #57548 "Help regarding integration of torch model deployment in flutter"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

Hello im getting started with flutter, and am quite accustomed to pytorch.
I require

[2021-05-04 15:39] francois-rozet commented on #57416
I don't think this is true. A quick proof that element-wise multiplication modifies the indices:

[code]

[2021-05-04 15:39] #39425 closed

[2021-05-04 15:47] #57172 closed

[2021-05-04 15:59] pearu commented on #57416
No, it does not prove anything because the indices are just wrong due to the signed int overflow. Try smaller N, say, 100.

[2021-05-04 16:08] shamanDevel commented on #57343
I'm still figuring out how to best propose changes for the Wiki (is there a contribution guide for the wiki?).
Until then, above is a short pull request that adds a few lines of documentation to TensorIterator.
I tried to stay consistent with the style of comments in the code.

[2021-05-04 16:12] pearu commented on #57416
Just to be clear: element-wise multiplication does not require `flatten_indices` in theory. However, it does not necessarily mean that the current implementation does not use `flatten_indices`, say, when coalescing the result (which would be another operation than mul).

[2021-05-04 16:19] eellison commented on #48066
@gmagogsfm there isn't the most clear fix here, i dont think this is a good bootcamp task

[2021-05-04 16:24] jbschlosser commented on #53359
@zou3519 I'm not opposed to a fix for this particular issue. Happy to review the PR if you open it!

[2021-05-04 16:53] SplitInfinity commented on #57531
Can you include more information about what you need help with? It seems that you forgot to fill out the template correctly.

[2021-05-04 17:08] francois-rozet commented on #57416
I never said that element-wise multiplication requires `flatten_indices`. I said

You **have to** compare indices in such element-wise operations, otherwise you will not be able to multiply the respective values together. And this comparison is probably performed on flattened indices currently (not necessarily obtained with `flatten_indices`). Once again,

[2021-05-04 17:24] SplitInfinity commented on #56883
We could also consider doing a deep copy of the module during tracing and using that for the verification trace.

[2021-05-04 17:32] albanD commented on #56608
Note that the doc part of this should also explain what is `nn.Module.eval()` and what is the link with these two guards.

[2021-05-04 17:35] Chillee opened #57554 "Delete max_pool2d_with_indices_backward.grad_input?"
https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/native_functions.yaml#L8370

@zou3519 claims this (probably) isn't used anywhere.

cc @ezyang @albanD @zou3519 @gqchen @pearu @nikitaved @soulitzer @Lezcano

[2021-05-04 17:35] SplitInfinity commented on #43882
It could also be the case that your program is too simple to permit fusion later on

[2021-05-04 17:37] caseybasichis commented on #56034
Same outcome
[code]

Here is the text for
pip3 install -vvv torch --pre --no-cache-dir -f --find-links=https://download.pytorch.org/whl/nightly/cu112/torch_nightly.html

[verbose pip3 install log 2](https://github.com/pytorch/pytorch/files/6422960/pip3_issue_new_system_2.txt)

[2021-05-04 17:46] t-vi commented on #43882
...

One of the big usecases for this is batching the matrix multiplications for the inputs of LSTMs.

If we had these fancy [e-graphs](https://egraphs-good.github.io/) we could keep both to see if batching actually applied...

[2021-05-04 17:48] SplitInfinity commented on #43882
#19988 added this optimisation but I don't understand the justification

[2021-05-04 17:51] pearu commented on #57416
For element-wise multiplication, one needs an intersection of operands indices. In short, see the implementation:

https://github.com/pytorch/pytorch/blob/42d073a7e9b338ee3d9224d525ca0383b6272af9/aten/src/ATen/native/sparse/SparseTensorMath.cpp#L734

that shows that one needs to coalesce the operands before multiplying values..

Indeed, there is. Both `coalesce` and `numel` are the methods that bl

[2021-05-04 18:10] SplitInfinity commented on #43882
#56385 is already open for fixing this.

[2021-05-04 18:10] #43882 closed

[2021-05-04 18:11] wanchaol commented on #43882
Yeah as it says in the graph, this is a feature rather than a bug, we break down addmm to add + mm for the case that we could merge multiple mm ops together into a single batch mm, to improve the performance. This shouldn't break any correctness or slow down the most traced functions, as we merge back add and mm into addmm later if possible, see [here](https://github.com/pytorch/pytorch/blob/maste

[2021-05-04 18:15] spandantiwari commented on #52204
@JHancox @tsindhuja - we have added support for tensordot in ONNX exporter. It is available for `opset_version=12` or higher.
https://github.com/pytorch/pytorch/blob/42d073a7e9b338ee3d9224d525ca0383b6272af9/torch/onnx/symbolic_opset12.py#L216

[2021-05-04 18:15] #52204 closed

[2021-05-04 18:45] SplitInfinity opened #57559 "[JIT] Investigate cloning/copying object before tracing it"
#57138 demonstrates a case in which checking the trace doesn't work because running the module to trace it modifies some internal state that affects verification. We should see if we can copy/clone the object during tracing to guard against issues like this.

[2021-05-04 18:54] pritamdamania87 commented on #57158
@anj-s It looks like this is the method that you are calling over RPC: https://gist.github.com/anj-s/87fcd2b504b29642e0fc00639e776d8e#file-repro_bucket_rtts-py-L48. Since it is a python method, the execution would be single threaded due to GIL. If you can torchscript the method, I think you would see much better performance since there would be no GIL.

[2021-05-04 19:20] garymm commented on #49936
The implementation of _pack_padded_sequence is [here](https://github.com/pytorch/pytorch/blob/92770d25cd9f317ca0798ed1983217925aa3670b/aten/src/ATen/native/PackedSequence.cpp).

[2021-05-04 19:25] mruberry commented on #57508
@krshrimali maybe something you'd be interested in investigating? We'd need to know how much time each of these tests adds to the CI, and then we can determine if we can re-enable them

[2021-05-04 19:29] kurtamohler commented on #53546
@ezyang, @antocuni brought up a good point to me: if we use only `string_view`s internally to point to a string that was created in Python, then the Python string could potentially be destroyed, invalidating the `string_view`. I think one example of this would be if a pytorch function that takes a string argument is called, then the Python string is deleted, and then the backward function is calle

[2021-05-04 19:35] edlanglois commented on #35736
I am currently experiencing what seems to be the same issue via [Rust bindings for the C++ API](https://github.com/LaurentMazare/tch-rs).

Versions (Arch linux packages)
* python-pytorch-cuda: `1.8.1-4`
* cuda: `11.3.0-1`
* cudnn: `8.2.0.53-1`
* tch-rs (not packaged) commit `8b16e2e` after `0.4.0`

Code:
[code]

Output:
[code]

And adding `tch::Cuda::is_available()` to the first line of `main()` p

[2021-05-04 19:38] ezyang commented on #53546
This is fine. In backwards there are a number of situations where we are obligated to perform a copy to save for backwards, and view-like objects are precisely a case of this and there's existing logic that would just be extended for string views.

The perf benefit is significant enough that torchtext is hand binding their kernels in Python to avoid the inefficiency here.

[2021-05-04 19:43] #57546 closed

[2021-05-04 19:44] ZolotukhinM commented on #43735
I wasn't able to reproduce it with a master (commit `74a4868d9a1`), with a 1.8-release build (commit `9112f4eded`), or with a 1.6-release build (commit `6a421d50abb`). Could anyone else please try reproing it?

[2021-05-04 19:45] Krovatkin commented on #55999
@jjsjann123 I like the idea! Let me give it a little bit more thought if we could run into any issues with this approach and we could get to implement it.

[2021-05-04 20:11] avidale commented on #29981
Is there any way to hope that Multivariate normal CDF will be implemented in Pytorch any time soon?

[2021-05-04 21:10] Linux-cpp-lisp opened #57569 "`torch.jit.freeze`'d models cannot be moved to GPU with `.to()`"
## 🐛 Bug

## To Reproduce

[code]
Gives:
[code]

## Expected behavior

This works without `torch.jit.freeze`:
[code]

It also works if you freeze after moving the model to device:
[code]

## Environment

 - PyTorch Version (e.g., 1.0): 1.8.1
 - OS (e.g., Linux): Linux
 - How you installed PyTorch (`conda`, `pip`, source): conda
 - Build command you used (if compiling from source):
 - Python versio

[2021-05-04 21:24] penguinwu commented on #55230
Add more info @Krovatkin

[2021-05-04 21:27] penguinwu commented on #43765
@gmagogsfm Please move to FE queue

[2021-05-04 21:29] penguinwu commented on #43735
Please double check if this is not reproducible.

[2021-05-04 22:05] mrshenli commented on #57473
Hey @HBolandi, could you please confirm the two potential causes listed in the error message are not relevant?

(1) passing the keyword argument find_unused_parameters=True to torch.nn.parallel.DistributedDataParallel;
(2) making sure all forward function outputs participate in calculating loss.

I guess the (2) is not relevant as your `forward` function only returns a single tensor.

I saw your m

[2021-05-04 22:09] mrshenli commented on #57548
Hey @bilal-aamer, could you please use the [forum](https://discuss.pytorch.org/) for questions. Besides, I think most people in PyTorch github and forum don't have knowledge on flutter. You probably need to provide some context to help people understand the problem.

I am closing this issue for now. Please feel free to open another one this if this turns out to be a feature request or bug report.

[2021-05-04 22:09] #57548 closed

[2021-05-04 22:28] imaginary-person commented on #57463
You're probably running out of memory. Your build process is using 32 workers.
How much RAM do you have? On a 32 core system, with `MAX_JOBS=32`, I've even seen PyTorch's build process sometimes having a peak memory utilization of 40+ GB!
Use the environment variable `MAX_JOBS` with a lower value.
For example, `MAX_JOBS=4 python setup.py install`.

[2021-05-04 22:34] phalexo commented on #57463
I have around 300GB. It was not RAM. After trying literally hundreds of
combos and tweaking cmake files, changing the loader and assembler from
version 24 to 26 did the trick.

On Tue, May 4, 2021, 6:28 PM Winston Smith ***@***.***> wrote:

[2021-05-04 22:44] PSSF23 commented on #52306
Can I be assigned to this issue? It looks quite interesting.

By my understanding, the current type check only concerns with explicitly stated types of the parameters or use `Tensor` as an inferred default. Some related source code:

https://github.com/pytorch/pytorch/blob/4cb534f92ef6f5b2ec99109b0329f93a859ae831/torch/csrc/jit/frontend/sugared_value.cpp#L332-L338

https://github.com/pytorch/pytor

[2021-05-04 22:45] imaginary-person commented on #57463
Ah, I just recollected that I had run into the [same issue](https://github.com/pytorch/pytorch/issues/52886) on a system with 384 GB RAM. The build had failed with the very same error! The issue was that I was running out of disk space (that was required for temporary space). I mounted an external drive & things worked fine.

So, I think that changing the assembler & loader might be more of a conf

[2021-05-04 22:52] #57463 closed

[2021-05-04 23:22] eellison opened #57577 "[OpInfo] Make it easier to add OpInfos"
## 🚀 Feature

OpInfos are a very helpful resource to test the robustness of a new operator in the pytorch ecosystem. By adding opinfos, you are getting a huge amount of testing for free. However, it would be nice if it were easier to add a new OpInfo so that we can migrate more of the codebase over. In particular, it would be nice if more properties were opt-in, or allowed an opt-in mechanism, ins

[2021-05-04 23:31] Krovatkin commented on #41573
@jjsjann123 If I remember correctly you either fixed it or it ended up to not matter?

[2021-05-04 23:35] eellison commented on #57569
@Linux-cpp-lisp this is currently expected behavior. We need to be able to inline the attributes as constants in order to do anything useful in optimizing them. There is also nothing preventing the user from having device-specific logic we also bake in.

[code]
Models might also contain some CPU & some GPU compute. However, as you've shown, there are many models where it is completely valid to rem

[2021-05-05 00:13] mruberry commented on #57577
Having a tool that suggests metadata is a cool idea, @eellison, and I think we could create one that would describe most (all?) of the current metadata, too. But if you're running on a machine without a CUDA device we won't be able to describe the metadata needed for CUDA, of course.

A mechanism like "run on the dtypes you detect are supported" would be convenient, but we would lose being able to

[2021-05-05 00:18] mruberry commented on #57542
Making numel() throw on overflow would be nice, but I'm concerned about the performance impact of detecting the overflow and throwing an error. @kurtamohler looked at the same or a similar issue previously, I think. We could hide the behavior behind a debug flag, but that seems like it would have niche appeal.

The semantics of numel on a sparse tensor is interesting. But you're right that any cha

[2021-05-05 00:24] Linux-cpp-lisp commented on #57569
That makes sense @eellison, thanks!

Our specific use-case is compiling and freezing models for inference on both GPU and CPU. In our scientific ML context users might have/use one or the other and the hope was to be able to have a single deployed, frozen TorchScript file that could be loaded and used for both GPU and CPU inference. For that, `map_location` seems to do the trick — `.to()` was just

[2021-05-05 00:28] ngimel commented on #57539
Please use forum discuss.pytorch.org for questions

[2021-05-05 00:28] #57539 closed

[2021-05-05 00:34] #40255 closed

[2021-05-05 00:50] mthrok commented on #57289
I see. Thanks for the info.
Is it possible to make it TorchScript compatible when the target module is TorchScript compatible?

[2021-05-05 01:16] Morino1 opened #57582 "Custom CUDA extension build fails for torch 1.6.0 or higher"
I wrote a custom CUDA extension for pytorch that used to work fine with pytorch1.4, CUDA10.1, and Titan Xp GPUs. However, recently we changed our system to new A40 GPUs and CUDA11.1. When I try to build my custom pytorch extension using CUDA11.1, pytorch 1.8.1, gcc 9.3.0, and Ubuntu 20.04 I get the following errors:

[code]
I also wrote a simple test code to verify that my more complex CPP/CUDA co

[2021-05-05 01:17] sachinruk commented on #57415
@astaff Just to clarify, it stalls when I uncomment the breakpoint line inside the model which had been commented. This is on both GPU and CPU kernels.

[2021-05-05 01:50] ZolotukhinM commented on #56741
The problem is not even that the size is awkward, the problem is that the size should be 13-1=12 since the loop starts from 1.

I wrote a small repro for this:
[code]
Output:
[code]

[2021-05-05 02:20] albertchristianto commented on #57457
hi @ezyang, Do you mean increasing the limit of _i_, right?
[code]

[2021-05-05 03:01] jerryzh168 opened #57590 "Support broadcasting for quantized add"
Currently broadcasting is not supported: https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/quantized/cpu/qadd.cpp#L35, but I saw this is needed in some models, is there any plans to support it?

cc @jerryzh168 @jianyuh @raghuramank100 @jamesr66a @vkuzo

[2021-05-05 03:02] peterjc123 commented on #56034
Well, it seems that there is no available package for cuda 11.2. cc @seemethere

[2021-05-05 03:04] mrshenli commented on #57545
Yep, each PR commit will launch 70+ CI containers to run tests, which usually will take 4+ hours (and will cost dollars :) ).

I commented on #57540. When the comments are addressed, I will land that PR.

[2021-05-05 03:04] #57545 closed

[2021-05-05 03:08] duanyutong commented on #56919
Running in the same problem. Is there an alternative to building libtorch from source?

[2021-05-05 03:09] mrshenli commented on #57535
Adding "triage review" tag to discuss this one in triage review meeting

[2021-05-05 03:20] bertmaher commented on #55230
The basic problem here can be reproduced with a conv2d layer.  The `bias` argument is an optional tensor, which we don't profile, which makes it ineligible for fusion.

[2021-05-05 03:34] bertmaher commented on #55230
e.g. you can try mobilenet from torchvision:
[code]
and you'll see Tensor? in the profiles.

[2021-05-05 03:54] caseybasichis commented on #56034
It's odd, as I had to get cuda 11.2 going for a A6000 and was able to after some back and forth.

[2021-05-05 03:55] fumihwh commented on #21683
Hi folks, I create a repo for generating pytorch code from onnx.
https://github.com/fumihwh/onnx-pytorch
Different from `ToriML/onnx2pytorch`, my repo GENERATE pytorch code, not Module instance in stack.

[2021-05-05 04:20] bertmaher commented on #55230
Or really trivially:
[code]

[2021-05-05 04:38] ZolotukhinM commented on #54188
Awesome, thanks :)

Yes, I think that would work.

Since this mostly used for debugging multi-threaded performance is rarely critical here. It'd be still good to keep it thread-safe.

[2021-05-05 04:51] krshrimali commented on #57508
Sure, @mruberry! On it.

[2021-05-05 05:07] stas00 commented on #53952
Thank you for the guidance, @pritamdamania87

Since the first suggestion is a project of its own, I'd rather wait until it's merged. Thank you for working on it!

[2021-05-05 05:52] #53350 closed

[2021-05-05 05:59] gmagogsfm opened #57592 "`jit.trace` fails to capture single-element tensor passed into op requiring scalar-type argument"
## 🐛 Bug

[code]

Output:
[code]

We can see that second argument to `aten::dropout` is baked in as a constant float when it should have been `self.p`.

[2021-05-05 06:18] SciPioneer opened #57593 "[RFC] Provide an API for Structural Performance Tips in DDP"
## Motivation

### I. Improving Unstructured and Scattered Performance Tips

Currently a few performance-related tips/warnings w.r.t. DDP are either listed in different sources (e.g., PyTorch Lightning has a dedicated webpage for [performance tips](https://pytorch-lightning.readthedocs.io/en/stable/benchmarking/performance.html
)), or scattered in the log in the form of warnings. As a result, thes

[2021-05-05 06:52] shrutiramesh1988 opened #57607 "MKLDNN Test Case failures observed with PyTorch+MKLDNN built from source on CPU"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Build PyTorch 1.8.1 with MKLDNN from source (USE_ROCM=0 USE_CUDA=0 python setup.py install
2. cd pytorch/test && python test_mkldnn.py

======================================================================
ERROR: test_resnext50_32x4d (__main__.TestMkldnn)
----------------------------------------------------------------------
Tracebac

[2021-05-05 07:26] Aarsh2001 commented on #32928
Have you reached any conclusion regarding , reducing the model size after pruning?

[2021-05-05 07:41] Taitai6521 commented on #12525
ModuleNotFoundError: No module named 'torchvision.data'

I can't !

[2021-05-05 07:42] Taitai6521 commented on #12525
from torchvision.data import DataLoader

[2021-05-05 07:53] natsume7 commented on #41593
edit torch/share/cmake/Caffe2/public/cuda.cmake at line 148
replace file(READ ${CUDNN_INCLUDE_PATH}/cudnn.h CUDNN_HEADER_CONTENTS)
with file(READ ${CUDNN_INCLUDE_PATH}/cudnn_version.h CUDNN_HEADER_CONTENTS)

[2021-05-05 07:54] danthe3rd opened #57610 "[perf] 10x improvement when doing `x.sum(-1)` manually"
## 🐛 Bug

See repro code.

## To Reproduce

[code]

## Expected behavior

I expect `x.sum(-1)` to be at least as fast as doing it manually

## Environment

Running on Google Colab
[code]

## Additional context

This happens on server CPU, but also on arm64 CPU.

[2021-05-05 07:58] jjsjann123 commented on #41573
It doesn't matter since we don't use type merge, we stick to single profiling run at this moment.

Thanks for tracking this.

[2021-05-05 08:03] danthe3rd opened #57611 "[perf] 10x improvement on element-wise operations with manual broadcast"
## 🐛 Bug

I suspect this is due to how the tensor is iterated on, which doesn't allow to use vectorized instructions?
NOTE: The difference is the most extreme with `n=2`, but still exists for higher values of `n` (up to ~`n=128`)
## To Reproduce

[code]

## Expected behavior

Broadcast done by pytorch should be at least as fast as broadcast done manually

## Environment

Running on Google Colab
[c

[2021-05-05 08:28] lw commented on #57138
@wanchaol This new error seems to be mentioning a kwargs-only argument I added to torch.futures.Future recently. I remember that JIT has some issues with keyword-only args, is there anything we should change/fix here?

[2021-05-05 09:55] #57607 closed

[2021-05-05 09:58] fatvlady commented on #43882
@wanchaol I think significant slowdown can be observed on Windows platform only. On my
Linux machine both traced and non-jitted versions have similar performance, with traced being slightly faster with additional warmup iteration outside profiling region.

[2021-05-05 09:58] pearu commented on #57542
I think the impact to performance will be minimal because the result of `numel` computation is cached in `_numel` and it is updated only when the tensor size is changed.

Notice that detecting numel overflow is implemented in https://github.com/pytorch/pytorch/pull/57492

Yes, defining numel as the number of indexable elements makes sense. Suggestion: change

"torch.numel returns the total number

[2021-05-05 10:57] ajinkyaambatwar commented on #13541
I am trying to build custom torch functions with cuda dynamic parallelism support.As per [this](https://stackoverflow.com/questions/22115197/dynamic-parallelism-undefined-reference-to-cudaregisterlinkedbinary-linking) suggestion, I am compiling my CUDA code with the cpp code.
Basically it has three commands
[code]
 My cpp code has following inclusions
[code]
where geo_query.h is
[code]
The utils.h

[2021-05-05 12:03] lilin-hitcrt opened #57614 "RuntimeError: CUDA error: an illegal memory access was encountered"
## 🐛 Bug

When using the GPU, calling loss.backward() will cause the following error:

    RuntimeError: CUDA error: an illegal memory access was encountered

## To Reproduce

Steps to reproduce the behavior:

1. Execute the following code

[code]

## Expected behavior

[code]

## Environment

[code]

## Additional context

We found that this problem only occurs when the pytorch version is greater

[2021-05-05 13:11] Flamefire opened #57617 "complex128 autograd failures on PPC"
## 🐛 Bug

The gradients for complex128 on POWER (ppc9le) are wrong/inexact making the tests fail.
This may be related to https://github.com/pytorch/pytorch/issues/55754 or https://github.com/pytorch/pytorch/issues/41186

## To Reproduce

Steps to reproduce the behavior:

1. build pytorch and run tests

[code]

## Environment

 - PyTorch Version (e.g., 1.0): 1.8.1
 - OS (e.g., Linux): Linux
 - How

[2021-05-05 13:14] DachuanZhao commented on #52142
Have you run the nccl test in [https://github.com/NVIDIA/nccl-tests](https://github.com/NVIDIA/nccl-tests) ? I think you can run it to check whether there is something incompatible .

[2021-05-05 13:54] seuwins opened #57618 "When binding more than 94 cores，libgomp-7c85b1e2.so.1 called frequently causing cpu 100% loading while data preprocessing"
### **Environemnt:**
  **_Hardware：_**
    Intel skylake cpu*2+nvidia T4 GPU*4
  **_Software：_**
    Python-3.7.7
    cuda_toolkit10.1
    torch==1.7.1+cu101
    torchvision==0.8.2+cu101
    _**CMD:**_
    python3 server.py

### **Abnormal Status：**
  **CPU loading：high CPU loading but less data transmit to GPU**
![image](https://user-images.githubusercontent.com/57436561/117154317-4ec09e00-adee-1

[2021-05-05 14:23] thomasjpfan opened #57631 "Pruners' compute_mask returns tensors with dtypes that are not consistent with each other"
## 🐛 Bug

Pruners' `compute_mask` returns tensors with dtypes that are not consistent with each other.

## To Reproduce

[code]

## Expected behavior

I expect `compute_mask` to always match the dtype of `default_mask`.

## Environment

PyTorch version: 1.9.0a0+git42d073a
Is debug build: False
CUDA used to build PyTorch: 11.2
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.2 LTS (x86_64)
GCC ver

[2021-05-05 14:25] ddshan commented on #57429
Thanks for your response and the link. I am using filtering in my Dataset to solve the problem now. Really looking forward to seeing and using the new Dataloader!

[2021-05-05 14:29] lilin-hitcrt commented on #57614
We found that the cause of this problem was to install pytorch using pip in the annaconda environment.

[2021-05-05 14:29] #57614 closed

[2021-05-05 14:36] meganset opened #57632 "LSTM module allocates extra space on CUDA device"
## 🐛 Bug

## To Reproduce

[code]
After moving the module to CUDA, the storage size seems to use a minimum of 245,600 elements(??)

[code]
This minimum is used for weights, biases and seems to grow based on module size.
Is this a design of the CUDA algorithm?

Thanks for looking at this.

[2021-05-05 14:37] #53359 closed

[2021-05-05 14:58] SS-JIA commented on #56703
Can you try using version r21e of the Android NDK? It should be the latest LTS version here: https://developer.android.com/ndk/downloads. I think errors on both platforms are related to the NDK version.

[2021-05-05 15:08] nikithamalgifb opened #57639 "After tracing, the device of the named buffer is still `cuda` although it was moved to `cpu `"
## 🐛 Bug

After tracing, the device of the named buffer is still `cuda` although it was moved to `cpu `

## To Reproduce

Steps to reproduce the behavior:

import torch
import torch.nn as nn

class MyModule(nn.Module):
    def __init__(self):
        super().__init__()
        self.register_buffer("aa", torch.tensor([1]))

    def forward(self, b):
        self.aa = self.aa.cpu()
        return se

[2021-05-05 15:26] eellison commented on #57387
Also, if you write `not a is b` you get a flake error, I don't think it is a particularly common pattern. Whereas if you write `x == False` you get a flake error to rewrite it as `x is False` so it is reasonable to think that users may write `is/isnot` with boolean inputs.

[2021-05-05 15:39] desertfire commented on #43735
I was able to reproduce by "conda install pytorch==1.6.0 cudatoolkit=10.2 -c pytorch", both on Ubuntu 18 and CentOS 8. But building from commit 6a421d50abb did not reproduce it. @ZolotukhinM are we using the right commit ID?

[2021-05-05 15:41] seuwins commented on #3021
I met same problem recently，if here is a rootcause，I will be appreciate. thanks
My question：https://github.com/pytorch/pytorch/issues/57618

[2021-05-05 15:56] ezyang commented on #57457
yup

[2021-05-05 15:58] nikithamalgifb commented on #45519
@penguinwu , does this need triage in JIT? Looks like you already moved it to progress. I will remove the jit triage label for now . Feel free to re-add if necessary.

[2021-05-05 15:59] nikithamalgifb commented on #43568
Same here removing the JIT triaged label. Feel free to re-add if needed

[2021-05-05 16:00] nikithamalgifb commented on #55230
Removed from JIT triage queue. Feel free to re-add if necessary

[2021-05-05 16:05] #57421 closed

[2021-05-05 16:06] eellison commented on #57577
How common is this for unary operators ? I think it is reasonable to add a new op to OpInfos for an existing operator for all the other benefits you are getting besides dtype testing without requiring the additional benefit that dtype coverage doesnt regress, which should have been tested in the original PR anyway. The biggest downside atm here is that I can't reasonably suggest OSS users / bootca

[2021-05-05 16:07] ZolotukhinM commented on #43735
Hm, interesting, I picked one of the branches that had "release" and "1.6" in its name, maybe it was still a wrong one. Is it reproducible with more recent releases or master?

[2021-05-05 16:08] ROBOTICSENGINEER commented on #52142
NCCL works without error

[code]

[code]

[2021-05-05 16:09] jbschlosser commented on #52851
@kurtamohler Interesting find! Seems like there is a lot going on here. As you mentioned, the CUDA and CPU versions definitely differ, which is no good:
[code]

[code]
Summary:
1. Non-monotonically increasing `offsets` in the middle (e.g. `[0, 3, 2, 5]`)
  * CPU: Inserts zeros for the bag from 3 to 2; computes correctly for the bag from 2 to 5
  * CUDA: `.../EmbeddingBag.cu:107: EmbeddingBag_updat

[2021-05-05 16:21] kurtamohler commented on #52851
Thanks for bringing that up @jbschlosser. I was aware of the issues with non-monotonically increasing offsets (#55549 - note that non-monotonically increasing offsets can act differently with different `mode` settings), but I did not make the connection between that and `include_last_offset`.

I suppose the question is, will any user actually want offsets to be non-monotonically increasing?

[2021-05-05 16:32] Philipflyg commented on #22436
https://discuss.pytorch.org/t/how-to-find-the-unused-parameters-in-network/63948

I met the same problem and I found this topic. It works for me. (though it's been a long time for you)

[2021-05-05 16:39] suo opened #57644 "difference in behavior between quicklint and lint"
Repro:
1. Change `torch/package/package_exporter.py` in some trivial way.
2. Run `make lint -j 20`, observe no failures.
3. Run `make quicklint -j 20`, observe failures in `package_exporter.py`.

I think the problem is in how we invoke mypy:
[code]

The `files` entry in the mypy config only kicks in when mypy is invoked with no arguments. So when we pass explicit `$LOCAL_FILES` as we do in quickli

[2021-05-05 16:55] rohan-varma opened #57646 "get_future() should be documented once it is enabled for gloo, mpi backends"
## 📚 Documentation

We currently support `get_future` for NCCL backend only. @mrshenli in https://github.com/pytorch/pytorch/pull/56427 mentioned it would be good to document how `get_future()` behaves for various collectives, we should do this once support for all backends is added. Currently this is not documented and only mentioned as part of gradient comm. hooks.

[2021-05-05 17:06] mfkasim1 opened #57649 "gradgradcheck fails if the function does not depend on the input"
## 🐛 Bug

If one (or more) of the inputs to `gradgradcheck` has no dependency to the output, it raises an error.
This does not happen with `gradcheck` function.
This might sound silly (e.g. "why would you put unrelated input to gradgradcheck?"), but please take a look at the example below.

## To Reproduce

    import torch

    def fcn0(x, a, b):
        return (x * a) ** 2 + b

    def functiona

[2021-05-05 17:12] krshrimali commented on #57508
@mruberry -

Added time tracking to `slowTest` decorator, and recorded the results here: https://raw.githubusercontent.com/krshrimali/pytorch/origin/time-tracking/recordedSlowTestTime.txt.

[code]

The format is: `<function_name>, args: [<*args passed to the function>], time_taken: <in seconds>`.

Do you think this helps? I'm not very sure what's the limit above which we call a test `slowTest`, el

[2021-05-05 17:24] rohan-varma commented on #57473
Thanks for the comments @mrshenli!

@HBolandi It looks like you're using PyTorch Lightning, would you be able to try passing `find_unused_parameters=True` to DDP (not sure what setting PL uses by default, but ideally it should be False, same as DDP). I believe PL has a notion of DDPPlugin that you can use to configure this - https://pytorch-lightning.readthedocs.io/en/latest/benchmarking/performan

[2021-05-05 17:26] rohan-varma commented on #57542
@mrshenli I noticed you added oncall: distributed, is this a distributed issue?

[2021-05-05 17:46] hamid-ramezani commented on #57284
sure, I asked the question in the forum [here](https://discuss.pytorch.org/t/layer-identifier-in-powersgd-hook/119853/3), but I've not received a decent solution.

[2021-05-05 18:45] zou3519 commented on #42368
A quick update for those of you who are following this thread:

We're actively developing a prototype of this (JAX-like composable vmap + grad for PyTorch) that current works on many interesting examples. The prototype lives out-of-tree at https://github.com/zou3519/functorch.

We’re very interested in supporting your use cases to build out and validate the prototype! If you’re not already in cont

[2021-05-05 18:47] rohan-varma commented on #52142
It seems like we need a POC from AMD to help with this issue. @jithunnair-amd would you be the right person to take a look at this AMD CPU issue or loop in someone who would be? Thanks!

[2021-05-05 18:56] navahgar commented on #56741
@ZolotukhinM So, should we just enforced that the loop is normalized before vectorization?

[2021-05-05 18:57] ZolotukhinM commented on #56741
That's one way to fix it, yes. I think @huiguoo mentioned that there have been some problems with normalization too?

[2021-05-05 18:59] zou3519 commented on #51962
@mfkasim1 -- potentially off topic, but because you mentioned JAX: we're prototyping some JAX-like features (composable vmap and grad transforms) for PyTorch (#42368). I'm not familiar with the use cases you've mentioned but is that something you would find interesting for your molecular dynamics work?

[2021-05-05 20:23] albanD opened #57679 "Merge unneeded CreationMeta after all view/inplace deprecation is done"
Namely in https://github.com/pytorch/pytorch/blob/049152faa92d513b2121120e21e6b23cd07c2beb/torch/csrc/autograd/variable.h#L507
Only one of `MULTI_OUTPUT_NODE` and `MULTI_OUTPUT_SAFE` should remain.

The safe version was so that we could warn people for some functions before making them errors. But they are both errors now, so we can merge the two into `MULTI_OUTPUT_NODE` and remove the special cod

[2021-05-05 20:41] sarvghotra commented on #5301
Worked for me.

[2021-05-05 20:42] mneilly commented on #57423
FYI - looks like it has been reported to GCC and marked as a duplicate of another issue: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=100240

[2021-05-05 20:45] kevinstephano commented on #45519
I think you might be able to close this.  I think we have a general solution to Dropout fusion problems to upstream.

[2021-05-05 20:56] imaginary-person opened #57681 "With & without -O2 compilation optimization level, AVX512 Complex multiplication & division results aren't equal"
## ❓ AVX512 Complex multiplication & division results aren't equal with & without -O2 compiler optimization level

While trying to unify `vec256` & a new [`vec512`](https://github.com/imaginary-person/pytorch-1/tree/only_vec/aten/src/ATen/cpu/vec/vec512) implementation (parallel to `vec256`) for vectorization of ATen kernels under `vec` in #56992,  4 [vectorization tests ](https://github.com/imagi

[2021-05-05 20:57] desertfire commented on #43735
No. Master build and nightly are fine. I tried 1.7 and it is fine too.

[2021-05-05 21:02] desertfire commented on #43568
I can not reproduce with the master build. Can anyone else give it a try?

[2021-05-05 21:05] kylematoba opened #57684 "INTERNAL ASSERT FAILED at "../torch/csrc/autograd/functions/utils.h":64, please report a bug to PyTorch."
## 🐛 Bug

[code]

## To Reproduce

[code]
## Expected behavior
Not ask me to report a bug.

## Environment

[code]

## Additional context

None

cc @ezyang @albanD @zou3519 @gqchen @pearu @nikitaved @soulitzer @Lezcano

[2021-05-05 21:09] ZolotukhinM commented on #43735
Thanks for checking that! There's been a lot of changes in fusers/executors since 1.6, so I think it probably is no longer an issue. I suggest closing this as no longer reproducible.

[2021-05-05 21:13] ezyang commented on #57681
Could be some sort of fused-multiply-add problem

[2021-05-05 21:16] kshitij12345 commented on #57681
I saw a similar problem recently, where gcc gave different results with optimization on and off.
Are you using gcc? Could you also test with clang (clang was consistent with optimizations on and off)?

Reference to the finding: https://github.com/pytorch/pytorch/pull/56352#issuecomment-830573248 (has link to godbolt repro)

Also would be great if you can have a stand-alone repro (possibly in godbo

[2021-05-05 21:28] Kegnarok commented on #57534
Ah, didn't think about alignment requirements, thanks for the explanation.

You can replicate the DataParallel issue with this code:
[code]

[2021-05-05 21:29] imaginary-person commented on #57681
Thanks for your response, @ezyang. But I'm using the `-mfma` flag as well. I built the regular build (on which these tests fail) with the `-g` flag. I just verified that both the multiplication & [the division assembly](https://gist.github.com/imaginary-person/f4e643388ed3f7cfdab5832dc2fa4da0) don't have any FMA instructions.

[2021-05-05 21:31] gchanan commented on #55661
We can improve the error message even before we decide!  E.g. just say something like "it's not obvious, we haven't decided yet.  If you want to compare magnitudes, use this.  If you want numpy-style, use this"

[2021-05-05 21:34] imaginary-person commented on #57681
Hey @kshitij12345, yes, I'm using GCC! Thank you for your advice!
If I relax tolerance, then AVX512 would produce different results than AVX2.

Do you know what's the root-cause, BTW?

[2021-05-05 21:40] samestep opened #57686 "Migrate build/test jobs from CircleCI to GitHub Actions"
# Feature Parity

Migration Progress Burndown
https://metrics.pytorch.org/d/gJaYvuInk/circleci-migration-progress?orgId=1

## Feature Parity to match CircleCI

- [x] cancel redundant workflows #54689 @janeyx99
- [x] check and rename all `*_py3_*` without a python subversion #57770 @samestep
- [x] `tools/print_test_stats.py` #57647 @samestep
- [x] docker base image building / pushing (reference PR

[2021-05-05 21:41] kurtamohler commented on #57491
@Dongximing thank you for submitting an issue. To help us reproduce it, could you please format the code in the issue description appropriately so it can be copied and pasted verbatim?

Also, please run the environment collection script and post its results for us to see:
[code]

[2021-05-05 21:49] kurtamohler commented on #57542
FWIW #43755 is the PR I was working on to fix this, and @mruberry decided back then that we shouldn't do it

[2021-05-05 21:52] imaginary-person commented on #57681
@ezyang, if I relax tolerance to pass tests for now, then if the PR would be merged, AVX512 might produce different results than AVX2! Would it be okay to allow such behavior, perhaps by having a disclaimer that results might differ across vectorization levels?

Meanwhile, I'll do some digging to check exactly when the results start to diverge, so as to pin-point the root-cause.
Thanks!

[2021-05-05 21:55] xuhdev opened #57687 "torch.maximum sometimes return NaN"
## 🐛 Bug

`torch.maximum` is supposed to return the non-NaN input if only one input is NaN. But:

[code]

## Expected behavior

`torch.maximum(-1, float('nan'))` should return -1.

## Environment

[code]

[2021-05-05 22:22] pritamdamania87 commented on #39351
@rohan-varma I think there is some pending work to refactor: deserializePythonRpcCommandReference. Shen's comment from a chat:

[code]

[2021-05-05 22:26] mbahri opened #57690 "torch.cdist returns high diagonal values with CUDA"
## 🐛 Bug

In some cases, torch.cdist returns non-zero diagonal values with CUDA.
Behaviour is as expected on CPU.
The issue seems more severe on Ampere GPUs.

## To Reproduce

Steps to reproduce the behavior:

1. Download the following test data: https://github.com/mbahri/pytorch_bugreport/blob/6ed0186451723fd17dfb40c7086cbe31ca4d03b6/cdist/example_data.pth

[code]

## Expected behavior

The diago

[2021-05-05 22:30] pritamdamania87 commented on #56109
Resolved in https://github.com/pytorch/pytorch/pull/56717

[2021-05-05 22:30] #56109 closed

[2021-05-05 22:30] caseybasichis commented on #56034
Looking at the verbose -- it doesn't seem to like the nightly build link?

[code]
[verbose log](https://github.com/pytorch/pytorch/files/6430617/pip3_issue_new_system_3.txt)

[2021-05-05 22:33] cpuhrsch commented on #55981
The idea is to use a Vocab to map from string to int and then LazyEmbedding to map from int to a vector (same as nn.Embedding now).

[2021-05-05 22:57] masoodmortazavi commented on #47354
This is still an issue with the cpu version on Windows for Python 3.8.7 and Pip 21.1.1 . . . Downloading the 64 bit windows version of the wheels for several versions of torch  (1.4.1, 1.8.1, 1.7.1) still didn't work . . . On the laptop, using 64 bit cygwin terminal . . . Python and pip are in a virtualenv.

[2021-05-05 23:04] driazati opened #57691 "Unify `std::getenv` usages"
We have a bunch of environment variable-grabbing logic across the codebase that operates in slightly different ways (some check for presence, others for `== "1"`). We should move this all to a single `bool c10::utils::check_env(char* name)` API so these can all be handled the exact same way.

`grep 'std::getenv' -r *`

<details>

[code]

</details>

[2021-05-05 23:07] rohan-varma commented on #56690
Fixed by https://github.com/pytorch/pytorch/pull/57253

[2021-05-05 23:07] #56690 closed

[2021-05-05 23:08] rohan-varma commented on #57385
Fixed by https://github.com/pytorch/pytorch/pull/57253

[2021-05-05 23:08] #57385 closed

[2021-05-05 23:09] rohan-varma commented on #45067
Fixed by #57517

[2021-05-05 23:09] #45067 closed

[2021-05-05 23:09] rohan-varma commented on #45145
Fixed by #57517)

[2021-05-05 23:09] #45145 closed

[2021-05-05 23:11] rohan-varma commented on #52020
This should be fixed because torch.profiler appropriately captures GPU kernel events.

[2021-05-05 23:11] #52020 closed

[2021-05-05 23:12] rohan-varma commented on #52246
We have taken @nbcsm's suggestion and GPU kernel  events such as ncclAllreduce can be seen when using `torch.profiler` enabled with the CUDA activity.

[2021-05-05 23:12] #52246 closed

[2021-05-05 23:13] rohan-varma commented on #48987
Fixed in 3b1e310

[2021-05-05 23:13] #48987 closed

[2021-05-05 23:13] rohan-varma commented on #47250
Fixed by #56755

[2021-05-05 23:13] #47250 closed

[2021-05-05 23:24] driazati commented on #57644
We're running up against a lot of problems since we're applying the raw scripts from our GitHub actions workflows locally. `LOCAL_FILES` is a bit of a hack that diverges the behavior between local lints + CI, we should probably unify our linting into some locally-runnable mega script that we just run in CI (broken up by job name), something like `python setup.py lint --job mypy` or `python setup.p

[2021-05-05 23:31] rohan-varma commented on #57593
Thanks for hashing out this proposal!

Regarding the `performance tip container`, I was wondering about the concrete APIs we would like to have here. It seems like the important data are:
- Why the performance improvement tip was logged (i.e. running with find_unused_parameters=True but graph may not have unused parameters)
- Reason perf is negatively impacted
- Clear action item regarding to fix/

[2021-05-05 23:47] samestep commented on #57644
Linking https://github.com/pytorch/pytorch/issues/55847#issuecomment-825176051 for context.

Solving the more general problem @driazati mentions will take some more effort, and I would like to spend time on it but have not gotten around to it yet.

However, it seems to me that the specific issue around `mypy` in this thread could have a much easier fix: change `quicklint` to use `tools/mypy_wrappe

[2021-05-05 23:57] ezyang commented on #57681
We don't guarantee that unvectorized and vectorized code runs the same way. So yes, this seems OK. (Although in an ideal world we'd know exactly *why* it has to be different in the two cases, and have agreed that it is different for a good reason)

[2021-05-06 00:10] zhaojuanmao commented on #57593
I think auto tuning can help with this

[2021-05-06 00:24] HBolandi commented on #57473
Thanks for the comments @mrshenli!, rohan-varma

I passed the "plugins=DDPPlugin(find_unused_parameters=True)" into pl.trainer() and worked.

[2021-05-06 00:25] dreiss opened #57698 "Freezing doesn't remove tuple operations"
## 🐛 Bug

After freezing a traced model, I expect all unnecessary tuple operations to be removed, but some remain.

## To Reproduce

https://colab.research.google.com/gist/dreiss/0414c8e294e482e8a07f98990e7130fc/freezetuple.ipynb

## Expected behavior

No TupleConstruct and TupleUnpack nodes.

## Environment

See notebook.  It reproduces on nightly as well.

## Additional context

Freezing is an a

[2021-05-06 00:34] quickwritereader commented on #57681
@imaginary-person complex vector multiplication and division are tested against local_multiply and local_divide which are implementation-based and mimic fp_contract of implemented vector codes.
could you check if you are testing against AVX ones

[2021-05-06 00:44] driazati commented on #57644
It'd be pretty easy to do in a brittle way. The nice aspect of `actions_local_runner.py` is that we run the same thing in CI as we do locally (at least in theory, `LOCAL_FILES` makes this not be the case), but I don't think that's really tenable and it's making for a worse UX (see this, and flake8 duplicates error outputs since it's 2 separate stages in `lint.yml`). I'll put up a PR to make those

[2021-05-06 00:57] imaginary-person commented on #57681
Thank you for taking a look, @quickwritereader!
I removed AVX support from ATen in that draft PR.
`CPU_CAPABILITY_DEFAULT` in those lines is the unvectorized implementation.

AVX512 tests fail with the regular gcc build, but pass with a debug build.
BTW, For Complex multiplication & division in AVX512, I'm using AVX2 code for `hsub` & `hadd`,
as `_mm512_hsub_pd`, `_mm512_hadd_pd`, and their float

[2021-05-06 01:01] quickwritereader commented on #57681
I believe it should be equal.

[2021-05-06 01:02] quickwritereader commented on #57681
could you check if it tests against hadd and hsub  in your code for local_multiply. [vec_test_all_types.h#L1167-L1193](https://github.com/imaginary-)person/pytorch-1/blob/only_vec/aten/src/ATen/test/vec_test_all_types.h#L1167-L1193

[2021-05-06 01:09] imaginary-person commented on #57681
Thanks! I thought so too.
I'll prioritize finding the root-cause of the divergence.

Yes, it does. The AVX512 code is based on the AVX2 code, which also uses `hsub` & `hadd`.
Surprisingly, the failures don't occur with gcc debug builds.
I think one naive approach would be to automate testing of custom builds, built by using a (maybe curated) subset of gcc flags that are different between `O0` & `O

[2021-05-06 01:12] eellison commented on #57698
We just need to add a call to `LowerSimpleTuples` after the call here: https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/passes/freeze_module.cpp#L89.

[2021-05-06 01:52] xuhdev commented on #57687
Oops, seems like I messed up with the documentation. Closing now.

[2021-05-06 01:52] #57687 closed

[2021-05-06 01:56] pritamdamania87 commented on #56390
@ezyang I followed the steps you provided and ran the test and it seems to run fine locally for me:

[code]

Are there some additional repro steps that I might be missing here?

[2021-05-06 02:18] imaginary-person commented on #57681
Sorry, @quickwritereader , I just checked & `local_multiply` for `TEST_AGAINST_DEFAULT` doesn't have `hsub` & `hadd`.
I'll check why tests for AVX2 have been passing, and why AVX512 tests pass for the debug build.
Thanks again! This was very helpful!

[2021-05-06 02:19] quickwritereader commented on #57681
I was not able to reproduce the expected value there. it gave the correct result even with -O3.
could you add all flags and test it as well, and also you can compile on your pc.
[https://godbolt.org/z/PMofh15hM](https://godbolt.org/z/PMofh15hM)

[2021-05-06 02:24] quickwritereader commented on #57681
for AVX cases local_multiply should not choose TEST_AGAINST_DEFAULT. default there is std complex multiplication

[2021-05-06 02:37] imaginary-person commented on #57681
Thanks. Yes, I commented last time when I had noticed that.
That would make sense, but I'm confused because, at first glance, it seems that the AVX2 implementation is also being compared against `TEST_AGAINST_DEFAULT` [in the master branch](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/test/vec256_test_all_types.h).

[2021-05-06 02:38] YZW-explorer opened #57704 "Does anyone know the source code of the conv2d calculation process in pytorch?"
Does anyone know the source code of the conv2d calculation process in pytorch?

[2021-05-06 02:43] smessmer commented on #53546
Note that changing from string to string_view will improve direct calls but std::string by value could be better for use cases going through boxing, e.g. backens fallbacks. IValue can only store owning types.

[2021-05-06 02:45] quickwritereader commented on #57681
I see. just add   && !defined(CPU_CAPABILITY_AVX512) there like this:
[code]
or re-write that logic more clear way:

[2021-05-06 02:57] imaginary-person commented on #57681
@quickwritereader, this is so embarrassing!!! I had wrongly assumed that `CPU_CAPABILITY_DEFAULT` is always defined, unless a user uses the environment variable `ATEN_CPU_CAPABILITY` to set it to a particular value!

So, the issue was just that the testing for AVX512 was being done against the default implementation? 🤣
Thanks to you, all tests pass now! 😄

[2021-05-06 02:58] #57681 closed

[2021-05-06 03:00] quickwritereader commented on #57681
@imaginary-person . glad it solved your problem.
c++ is a noisy language so no matter how one tries it's hard to write readable code.

[2021-05-06 03:04] imaginary-person commented on #57681
Or rather CMake is hard to read for me.  😞
`CPU_CAPABILITY_DEFAULT`, etc are defined by CMake.
Thanks again for your help!

[2021-05-06 03:05] credoxfromcqut opened #57706 "gradient layout contract"
## 🐛 Bug

# **Warning: grad and param do not obey the gradient layout contract. This is not an error, but may impair performance.**

when the warnning appear after a valid function, the gpu occupation 70% goes to 100%.and cpu ocupation 50% goes to 10%,
the valid function just do a forward pass and it will change the model's mode(train or eval) and recover the original mode.then ,after the loss com

[2021-05-06 03:17] albertchristianto commented on #57457
Okay. Right now I have tested 3 different _i_.
_i_ < 10
[code]
_i_ < 100
[code]
_i_ < 1000
[code]
[Here is the link for the full valgrind's report](https://drive.google.com/file/d/1orDND5J2QNqj-z6qNx2Mhyxuibqi9efh/view?usp=sharing)

[2021-05-06 03:18] ngimel opened #57707 "Rollup: improve bfloat16 cuda support"
Currently the following ops don't support bfloat16, according to OpInfo metadata (linalg and fft ops are filtered out):

acos
<s>angle</s>
asin
atan
atan2
<s>cdist</s> (cdist will have too much of a numerical error with bfloat16)
**ceil**
<s>complex</s> (bfloat16 not supported as base type for complex)
cosh
cummax
cummin
cumprod
**cumsum**
diag
<s>digamma</s> (no special functions support for bflo

[2021-05-06 03:28] #55382 closed

[2021-05-06 03:37] imaginary-person commented on #57707
`exp2` might not have good-enough precision on CUDA & CPU, or maybe tolerance needs to be adjusted for it. Things might've changed since I [last tested](https://app.circleci.com/pipelines/github/pytorch/pytorch/291458/workflows/8d7ed6c0-4095-44b8-a340-e7009724ae01/jobs/11880797/tests#failed-test-3), so I'll retest. Thanks!

[2021-05-06 03:43] Ir1d commented on #46974
@mobassir94 Same here. Error on loss calculation, running on ddp. How did you solve this?

[2021-05-06 03:47] ezyang commented on #56390
You may have to run it in a loop until it deadlocks

[2021-05-06 03:48] ezyang commented on #57457
The possible lost amount isn't going up so I'm gonna guess that these are purposeful leakage. Maybe we can add enough suppressions to get the number down to zero.

[2021-05-06 03:51] ngimel commented on #57690
The larger value on 3090 is due to tf32, you can disable it using `torch.backends.cuda.matmul.allow_tf32(False)`. For 2080, non-zero value is expected given that cdist is calculated using matrix multiplication and not by direct computation.

[2021-05-06 03:52] ngimel commented on #57707
Tolerances generally need to be adjusted for bfloat16 tests, 7 bits of mantissa is just too little.

[2021-05-06 04:03] albertchristianto commented on #57457
So, these "possibly lost" memory , which detected by valgrind, are the purposely leaking singleton objects ?
I am curious. Are these singleton objects part of the torchscript engine ?

[2021-05-06 04:40] SamNPowers commented on #52664
BTW my original \_\_setattr\_\_ didn't handle multiple inheritance quite right. Here's an updated version that looks at all of the base classes as well, for whether the property is on any of them.

[code]

[2021-05-06 05:05] justheuristic commented on #17199
One way it could explain the hanging is thus:

- when you fork a process, it (sometimes) leaves pytorch background threads in an invalid state, causing some pytorch ops to hang
- in @artemru 's solution, the functions that __would__ be broken are executed in a separate pythonic thread -- and pytorch will associate this pythonic thread with a new set of internal threads; these new internal threads

[2021-05-06 05:05] jjsjann123 commented on #45519
Thanks to @kevinstephano for chime in. I'm closing this issue.

[2021-05-06 05:05] #45519 closed

[2021-05-06 05:15] skyline75489 commented on #57704
You can use [PyTorch forum](https://discuss.pytorch.org/) for this type of questions. Github is for issues of PyTorch *itself*.

The underlying arithmetic code is actually from multiple backends (QNNPACK, XNNPACK, CUDA, Metal, etc). Simple [search for conv2d](https://github.com/pytorch/pytorch/search?p=1&q=conv2d) to have some basic idea about the implementation.

[2021-05-06 05:43] melonora commented on #8976
I noticed that this problem can also occur when you do not explicitly call with torch.no_grad() when loading the test batch and passing it through the network. It will always give an error in that case indicating an out of memory issue and saying that the DataLoader is too blame.

[2021-05-06 05:56] yuseungwoo opened #57710 "wav2vec 2.0 large model, torch.jit.trace problem"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

Now, I'm changing wav2vec 2.0 large model using torch.jit.trace

but

wav2vec2_asr.py, 170 line,  torch.jit.trace(self.w2v_encoder, **kw

[2021-05-06 05:58] mruberry commented on #57508
That data is neat; there are also tests that are just skipped and not marked slow in the OpInfos; see, for example:

https://github.com/pytorch/pytorch/blob/126ea1ccad0d46d77b5225dcef16ca9b40d7964b/torch/testing/_internal/common_methods_invocations.py#L4503

would you enable those, run that PR through CI, and then pull those test times for a CUDA build in the PR CI?

Then we can review both datase

[2021-05-06 06:01] SciPioneer commented on #57593
I think these two approaches can complete each other.

First, we should do auto-tuning as much as we can, and hence minimize the actions needed from the user end.

Second, I am not sure if we can tune everything at the runtime. For example, some configs (like NCCL parameters) must be set before DDP is constructed. For some parameters, we may only know that we should tune it, but it can be hard or

[2021-05-06 06:08] mruberry commented on #57577
Good point.

For engineers without GPU access they could use the CI to probe the dtypes. For operations which aren't composites they can also lookup its CUDA dispatch macro and mirror it in the OpInfo.

That said, I can supporting unblocking people by supporting, like `dtypesIfCUDA="programmatic"` or a similar keyword that indicates the runtime should determine the dtypes an operation supports dyn

[2021-05-06 06:16] mruberry commented on #57538
Thanks for reporting this issue, @vadimkantorov

[2021-05-06 06:21] SciPioneer commented on #57593
Thanks for brainstorming the concrete API!

Regarding the follow-up questions, I think we can categorize all the configs into three types:
1) We can tune them at runtime, then no need to require any action from the user end.
2) We can tune them offline (as a centralized service in enterprise environment), and then provide a set of better configs along with a reminder. Particularly for some binary

[2021-05-06 06:25] mruberry commented on #57459
Thank you for filing this issue, @BenoitDalFerro

@kshitij12345, let's add this to the special tracker as an issue - we should review our kl_div() vs. SciPy's

[2021-05-06 06:30] tejan-rgb opened #57712 "[Docs] nn.init.._calculate_fan_in_and_fan_out()"
## 📚 Documentation

nn.init.._calculate_fan_in_and_fan_out() is missing from the documentation in torch.nn.init

[2021-05-06 06:47] mobassir94 commented on #46974
@Ir1d  iirc, i reinstalled cuda,cudnn etc and it was working

[2021-05-06 07:13] rohan-varma commented on #57473
Sounds good! Closing this out

[2021-05-06 07:13] #57473 closed

[2021-05-06 07:16] rohan-varma commented on #57278
I think adding an additional property and raising DeprecationWarning (but still allowing access) to the old property seems like a good solution. @ZhiyuanChen feel free to send a PR for this if you're interested!

[2021-05-06 07:48] seuwins opened #57715 "libgomp.so caused much wait time with poor CPU Utilization"
vtune: Executing actions 75 % Generating a report                              Elapsed Time: 60.001s
    Paused Time: 0s
Effective CPU Utilization: 0.3% (0.241 out of 96 logical CPUs)
 | The metric value is low, which may signal a poor logical CPU cores
 | utilization caused by load imbalance, threading runtime overhead, contended
 | synchronization, or thread/process underutilization. Explore sub

[2021-05-06 07:52] seuwins commented on #57618
I will trace the problem in issuehttps://github.com/pytorch/pytorch/issues/57715

[2021-05-06 07:52] #57618 closed

[2021-05-06 08:09] willdone1337 commented on #2341
you must put all code for train into if __name__=='__main__'

[2021-05-06 08:35] pearu commented on #57542
Here's a plan:
https://github.com/pytorch/pytorch/pull/57492#discussion_r626998860

[2021-05-06 08:53] DeriZSY opened #57716 "Unknown builtin op: torchvision::nms in LibTorch"
## Unknown builtin op: torchvision::nms in LibTorch
pytorch vision: 1.8.0
libtorch version: 1.8.1

Try to trace the implementation of YOLOV5 [here](https://github.com/ultralytics/yolov5) and load it from LibTorch, which uses `torchvision.ops.nms` in the postprocessing step.

The model can be traced successfully, but error occurs when trying to load the traced model in LibTorch:
[code]
Are torchvis

[2021-05-06 09:10] 9lan9 commented on #39245
have you solved this problem?

[2021-05-06 09:22] dtoniolo opened #57717 "TorchScript JIT Compiler Can't Recognize Repeated Branches (Scripting)"
## 🐛 Bug

The TorchScript JIT compiler (via scripting) can't recognise some combination of branches will never be accessed, or that the same logical branch can be referred to in multiple places in the code. Scripting fails even when type hinting is provided.

## To Reproduce

Define the class
[code]

and try to script it:
[code]
It will result in the following error:
[code]

The error persists eve

[2021-05-06 09:27] duguyue100 commented on #56698
Update: the following setup also gives expected behavior:

[code]

Yuhuang.

[2021-05-06 09:33] wwj1980 opened #57718 "Error message: Can't get attribute 'SiLU' on <module 'torch.nn.modules.activation'"
When I run the program, an error message appears:
Can't get attribute 'SiLU' on <module 'torch.nn.modules.activation'
How to solve it？
thanks

[2021-05-06 09:35] meganset commented on #57632
Ah, I see. For the CUDA version, all the parameters share the same storage, with different offsets

[code]

[2021-05-06 09:35] #57632 closed

[2021-05-06 09:44] asi1024 opened #57719 "Some `torch.Tensor` operators don’t return `NotImplemented` for invalid inputs"
## 🐛 Bug

Some torch.Tensor operators
1. don’t return `NotImplemented` and raise `TypeError`, or
2. are not defined whereas expected to be defined.

(cc/ @mruberry, @emcastillo, @kmaehashi)

## To Reproduce

1. For example, in the following case, we expect `torch.Tensor.__pow__` returns `NotImplemented` and `A.__rpow__` is called
[code]

The expected behavior is:
[code]

2. The following example s

[2021-05-06 10:33] HilbertXu opened #57720 "torch.cdist Tried to allocate huge amount of GPU memory during the forward process"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

## Expected behavior

normally calculate L1-norm distance between input tensors

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with

[2021-05-06 10:59] mbahri commented on #57690
Thank you for the quick reply.
Disabling tf32 made the behaviour on the 3090 similar to that of Turing cards.

I understand the point about having non-zero values, however, would it be possible to reduce the magnitude of those?

In this example, D[0,0] is approx 3.9e-3 on the 3090 - quite far from machine epsilon in fp32. Even relative to the max distance D.max() ~= 13, this gives a ratio of aroun

[2021-05-06 11:19] Sino-Huang opened #57721 "nn.TransformerEncoder cannot deal with large negative value even when this value is masked by src_key_padding_mask"
## 🐛 Bug

nn.TransformerEncoder cannot input large negative value even when this value is masked by src_key_padding_mask

theoretically the value is masked by the padding mask will have no effect to the output, but in pytorch this will cause the whole batch become NaN value

## To Reproduce

Steps to reproduce the behavior:

1.
![image](https://user-images.githubusercontent.com/37648124/117289639-

[2021-05-06 11:46] #24748 closed

[2021-05-06 11:55] Afonso-2403 opened #57724 "Incorporate Posit Support"
## 🚀 Feature
Incorporate support for Posit number format as another dtype of PyTorch

## Motivation
The Posit number format (introduced in [Beating Floating Point at its Own Game](http://www.johngustafson.net/pdfs/BeatingFloatingPoint.pdf)) has been sparking a lot of interest in the research community lately, in particular for its potential on low precision training and inference of Neural Network

[2021-05-06 12:05] 9lan9 commented on #42391
can print the content in `in_vars, in_desc = _flatten(args)` to see the problem

[2021-05-06 12:20] dsindex commented on #39245
@9lan9
unfortunately! :(

- reproduction
  - https://github.com/dsindex/ntagger
[code]

[2021-05-06 12:50] ZhiyuanChen commented on #57278
Sure, but by 'old property', did you mean change `data_source` to `dataset`?

[2021-05-06 12:55] FlameSky-S commented on #55740
I also encountered this problem, i'm using pytorch 1.8.1 (py3.9_cuda11.1_cudnn8.0.5_0).

[2021-05-06 13:19] albanD commented on #57720
Hi,

Isn't this expected? The cdist, as mentioned in the doc here: https://pytorch.org/docs/stable/generated/torch.cdist.html?highlight=cdist#torch.cdist
Takes two Tensor of size BxPxM and BxRxM and outputs a Tensor of size BxPxR.
So in your case, the output is expected to be of size 2x80000x80000 so that's not surprising that you're getting an OOM.

Did you meant to use a different function maybe

[2021-05-06 13:22] albanD commented on #57718
Hi,

We use github issues only for bugs or feature requests.
Please use the forum to ask questions: https://discuss.pytorch.org/

You should also attach more information about what you're doing and which version of pytorch you're using.
Thanks!

[2021-05-06 13:22] #57718 closed

[2021-05-06 13:34] bpawlik commented on #41957
@mrshenli Did you solve your issue?

[2021-05-06 13:37] ezyang commented on #57724
cc @wickedfoo

[2021-05-06 13:38] albanD commented on #57554
Isn't that the `out=` variant of max_pool2d_with_indices_backward ? I guess the regular `max_pool2d_with_indices_backward` overload just calls into that same implementation anyways no?

[2021-05-06 14:03] #51225 closed

[2021-05-06 14:40] nikithamalgifb commented on #57717
For now as a workaround, can you try this below in forward? Basically define `x_input` before assigning in `if`

[code]

[2021-05-06 14:45] chenhao1umbc opened #57736 "torch.prod does not support automatic differentiation for outputs with complex dtype"
## 🐛 Bug

## To Reproduce
a = torch.rand(5,5, dtype=torch.cfloat).requires_grad_()
b = a.prod()
b.backward()

RuntimeError: prod does not support automatic differentiation for outputs with complex dtype.

 - PyTorch Version (e.g., 1.0): 1.8.1
 - OS (e.g., Linux): Linux
 - How you installed PyTorch (`conda`, `pip`, source): pip

cc @ezyang @anjali411 @dylanbespalko @mruberry @Lezcano

[2021-05-06 14:46] jbschlosser commented on #57712
This is true, but we generally don't document internal functions (i.e. those beginning with an underscore).

[2021-05-06 14:51] joh4n opened #57739 "object with __torch_functon__ does not work with jit function"
## 🐛 Bug

Following https://pytorch.org/docs/stable/notes/extending.html#extending-torch to extend a python object to have an `__torch_function__` method does not work with functions created with torch.jit.script
## To Reproduce

[code]
## Expected behavior
I would expect that functions created with `torch.jit.script` would utilize `__torch_function__` and work just like the non jited function

##

[2021-05-06 14:55] samestep commented on #57644
@driazati I do agree that it's brittle but I think it's unavoidable for `quicklint` to be implemented differently from `lint`, to some degree. Until we are able to switch from the model of our local runner parsing our CI configuration to our CI configuration just invoking our local runner, I do agree that we should avoid adding special cases for `make lint`, but for `make quicklint`, I'd be more i

[2021-05-06 14:58] desertfire commented on #24032
@kevinstephano Is the plan to upstream your fix?

[2021-05-06 14:58] joh4n opened #57740 "calling register_buffer in forward of jited module fails"
## 🐛 Bug
Calling `.register_buffer` in the forward of an nn module fails when trying to use jit.

## To Reproduce
Minimal example:
[code]
the error:
[code]
## Expected behavior
I would like to be able to call `.register_buffer` in the forward of a module

## Environment
PyTorch version: 1.8.1+cu102
Is debug build: False
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: Manjaro

[2021-05-06 15:17] ezyang commented on #57457
They're all over the codebase; usually their static objects that we purposely don't destruct to avoid destruction ordering problems (where the destruction requires some other static objects to be live but it's very difficult to get everything to destruct in an orderly manner.)

[2021-05-06 15:27] dtoniolo commented on #57717
Thanks, in this way I can make it work. For anyone that stumbles upon this issue, using `torch.empty_like` takes up extra memory, so in order to be more efficient I'd do:
[code]
In this way `x_input` is just a reference to the input `x`, with no data new data creation.

While I'm using this workaround, can you confirm that this is indeed a bug/missing feature in the JIT and that I'm not doing some

[2021-05-06 15:28] ezyang opened #57742 "[structured] Meta-impl split implies redundant dtype tests"
A meta function is supposed to raise an error if input dtypes are incorrect. So we must do a condition on the input dtype to check if they are valid.

A typical kernel needs to do a dispatch on dtype to actually get to the dtype-specialized kernel.

This means that the meta-impl split means we have to redundantly condition on dtypes twice, whereas previously it only needed to be done once. It woul

[2021-05-06 15:56] Flamefire opened #57744 "Linking statically with CUPTI using gold linker disrupts exception handling"
## 🐛 Bug

It seems a C++ exception is not caught and converted to a Python Exception which makes e.g. test_anomaly_detect_nan fail with:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Compile with kineto support & run tests

## Environment

 - PyTorch Version (e.g., 1.0): 1.8.1
 - OS (e.g., Linux): RHEL
 - How you installed PyTorch (`conda`, `pip`, source): source
 - Python version

[2021-05-06 15:56] janeyx99 commented on #57482
I reran with SSH and turned on that variable to get this:
[code]

[2021-05-06 16:09] tejan-rgb commented on #57712
But, it is a useful thing. And it was in the docs before.

[2021-05-06 16:11] ezyang commented on #57534
I feel like this is just a DataParallel problem; `self.y` shouldn't change type between init and forward...

[2021-05-06 16:18] achingacham commented on #2138
Have you tried finding the loss by converting the dtype of input tensors of criterion (predictions.float(), landmarks.float())  and then call backward() ?

[2021-05-06 16:22] eellison commented on #57717
This also works if you mark `use_skip` as Final/Constant.
[code]

CC @gmagogsfm better documentation of metaprogramming and related issue: https://github.com/pytorch/pytorch/issues/53414

[2021-05-06 16:37] walterddr commented on #57686
suggestion: can we rename all the `py3` jobs with actual sub version of python?
So far I can only parse that out from the logs (in circle) and apparently
* macos_10_13_py3 is actually py3.7
* macos_10_15_py3 is actually py3.8
* *_linux_xenial_py3* without a sub version are all running py3.6

[2021-05-06 16:39] neginraoof opened #57747 "Retiring ONNX Optimizer"
We are trying to update the ONNX submodule to the latest ONNX release. As part of this release, ONNXOptimizer is being retired from ONNX core.
ONNXOptimizer is only used to import models in caffe2. Disabling the optimizer would results in Caffe2 failure to run the a number of models in unit tests. These failures happen because Caffe2 fails to support not-optimized models.

Possible solutions per d

[2021-05-06 16:42] #57343 closed

[2021-05-06 16:45] samestep commented on #57686
@walterddr would you like me to edit the checklist so that instead of just showing an abbreviated version of the Circle job name, it instead shows the Circle job name on the left, and on the right it shows what GHA job name we're replacing it with?

[2021-05-06 17:08] dtoniolo commented on #57717
Doesn't work for me, I get the same error, and according to the [docs page on JIT](https://pytorch.org/docs/stable/jit.html), using `__constants__` is equivalent to `Final`. The former is deprecated in favour of the latter.

That issue however confirms that it's actually a problem with the JIT.

[2021-05-06 17:12] driazati commented on #57686
@harishsdev this issue is to track something that we’re doing internally and isn’t really suitable for contributions, but check out the list [here](https://github.com/pytorch/pytorch/contribute) for a list of issues that need help

[2021-05-06 17:13] malfet commented on #57747
Updated title and added triage review tag to discuss further.
Caffe2 support has been deprecated for a while, but there were no announcements about ONNX deprecations.

[2021-05-06 17:19] neginraoof commented on #57747
test_rnn_init_predict_split
test_word_language_model_RNN_TANH
test_avg_pool1D_ceil
test_avg_pool3D_ceil
test_lstm_constant_folding
test_pixel_shuffle
test_loop

+ 192 rnn tests: https://github.com/pytorch/pytorch/blob/ebd2c0a4ed73033a62b44198f369b7a682150d56/test/onnx/test_pytorch_onnx_caffe2.py#L2436

[2021-05-06 17:27] malfet commented on #57747
@neginraoof do they fail because they validate that optimizations are applied or because generated network are functionally incorrect?

[2021-05-06 17:43] neginraoof commented on #57747
The problem is not with the generated models, as the same tests pass with other backends and pass ONNX checker as well.
But looks like Caffe2 is not inline with latest ONNX updates and could also fail to support more complex models.

[2021-05-06 17:44] ezyang opened #57756 "[deploy] Restrict Tensors to only belong to one Python interpreter"
Currently, torchdeploy supports associating a single TensorImpl with multiple Python interpreters. There are some downsides to allowing this:

1. If a TensorImpl is mutated across multiple threads, locking is necessary. However, torchdeploy doesn't provide any  mechanisms for ensuring that locking actually happens. This means that this sharing is quite dangerous: normal, ordinarily safe Python cod

[2021-05-06 17:54] eellison commented on #57717
@dtoniolo I think this works on master, not the latest release.

[2021-05-06 18:02] VitalyFedyunin commented on #57712
I would agree with @jbschlosser that we do not document or encourage usage of underscore functions.

[2021-05-06 18:03] neginraoof commented on #55742
cc @penguinwu
This is the detail of the request for setting dtype is scripting for annotated tensors.

[2021-05-06 18:07] #57704 closed

[2021-05-06 18:11] malfet commented on #57686
@harishsdev thank you for your interest in improving PyTorch. If you have a contribution in mind please do not hesitate to submit a PR for it. Unless you are already familiar with codebase, I would advice you to start by looking at one of the issues marked as [good first time issues](https://github.com/pytorch/pytorch/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22)

[2021-05-06 18:14] ailzhang opened #57759 "Show commit hash for master branch docs on pytorch.org"
Currently our `master` branch doc on pytorch.org is updated regularly to keep up to date with pytorch repo. But it's not clear to developers when they should expect to see their changes on the website (e.g. I landed inference_mode doc but didn't see it on the website even a day after so was wondering if I did something wrong). https://pytorch.org/cppdocs/notes/inference_mode.html
I think it'll hel

[2021-05-06 18:20] jbschlosser commented on #57712
Perhaps there is a case to be made for adding this function to utils in the public API?

[2021-05-06 18:26] #31986 closed

[2021-05-06 18:36] Kegnarok commented on #57534
You're right, the problem is linked with #55375. Fixing the previous issue will require to ensure correct alignment as you said.

I still thought it needed it's own issue as the even-storage_offset requirement is not mentioned in the documentation.

[2021-05-06 18:51] detkov commented on #52288
I have the same problem

[2021-05-06 19:02] albanD commented on #57744
These macro guards should be around any code that calls from python to c++: https://github.com/pytorch/pytorch/blob/ebd2c0a4ed73033a62b44198f369b7a682150d56/torch/csrc/Exceptions.h#L45

They are the ones that actually do the conversion from the c++ error back to a python error.

Does that regression only effects the autograd engine?
Also why isn't this detected by CI?

[2021-05-06 19:10] dpefkou opened #57763 "Issues installing pytorch with conda"
I am trying to install pytorch with conda on a linux machine and running into the following problem. Adding additional channels to the search didn't help. Any advice? Thanks!

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: failed wit

[2021-05-06 19:14] chwan-rice commented on #48279
Could you please provide the initialization of `batch` in Line 6? I observe that if `batch` is of `torch.LongTensor`, `.copy_()` command blocks the stream. If the type of `batch` is `torch.FloatTensor`, all streams execute concurrently. I guess this is because `curr_batch` is a float tensor. If the types of `curr_batch` and `input` do not match, the `.copy_()` is a blocking command because it requ

[2021-05-06 19:16] malfet commented on #57747
ONNX Optimizer was removed per https://github.com/onnx/onnx/pull/2834

[2021-05-06 19:17] ngimel commented on #38915
reopening, as backward performance is still not fixed

[2021-05-06 19:27] ngimel commented on #49421
cc @heitorschueroff for _th_var, _th_std. There are implementations currently in ATen, but, as all non-vectorized reductions, they are much slower, so the attempt to directly swap implementations caused severe perf regressions.

[2021-05-06 19:39] samestep commented on #57686
- https://github.com/pytorch/pytorch/pull/57474/files#r627713647

[2021-05-06 19:43] samestep commented on #57686
@walterddr Is this true for the `_linux_xenial_cuda*_*_cudnn*_py3_*` jobs as well?

[2021-05-06 19:44] eqy commented on #55070
Do the structured macros currently support `QuantizedCPU` in addition to `CPU` and `CUDA`? I could not find any examples of structured quantized functions in the generated `NativeFunctions.h`.

[2021-05-06 20:09] soulitzer commented on #55368
This is actually an issue for any module that performs some calculation in its forward that results in a param becoming a saved variable. For example:
[code]
The first `opt.step()` is what is modifying param in-place.

[2021-05-06 20:42] albanD commented on #57763
Hi,

Have you tried using the command from `https://pytorch.org/get-started/locally/` (with no additional channel as they might conflict)?
Also you might want to try from a clean env to see if it is not due to a conflict with your current env?

[2021-05-06 20:50] ngimel commented on #57707
Unfortunately `sort` is non-trivial to add, as `cub` doesn't support bfloat16 sort.

[2021-05-06 21:03] datumbox commented on #53894
I'm hitting the same problem and I have a consistent way to reproduce the problem every time using FB infra. In my case the issue appears in a well tested pipeline of TorchVision and occurs only if workers > 0 and the job runs on a multi-node and multi-GPU setup. The problem does not appear on a single node multi-GPU setup.

Let me know if I can help you debug the issue.

[2021-05-06 21:18] ngimel commented on #57707
Yeah, `quantile` and `nanquantile` depend on sort. cc @ptrblck for bfloat16 support on P100, my impression is that it should be supported.

[2021-05-06 21:21] imaginary-person commented on #57707
Thanks, I should probably create another issue for it, so that mruberry & anjali411 can also track it.

[2021-05-06 21:45] imaginary-person opened #57773 "BFloat16 CUDA GEMM ops unsupported on Nvidia P100 (SM_60) on CUDA 11.3"
## 🐛 Bug

As per #50442, Bfloat16 CUDA GEMM ops are supposed to be supported on Nvidia SM_53 GPUs & above.
However, with an Nvidia P100 ([SM_60 GPU](https://developer.nvidia.com/cuda-gpus#collapseOne)) & CUDA 11.3, such ops produce an error stating that they're unsupported.
Please confirm which Nvidia Compute-capability GPUs support them. Thanks!

## To Reproduce

Steps to reproduce the behavior:

[2021-05-06 21:49] pederismo commented on #31285
Experiencing the same issue when running with torch.distributed.launch on some A100 GPUs with CUDA 11.0, unfortunately installing the nightly Pytorch version didn't help, anybody has a suggestion?

[2021-05-06 22:04] dreamflasher commented on #2482
Pytorch 1.7, still an issue.

[2021-05-06 22:06] stas00 commented on #31285
I gave up on the nightlies and have been building my own, using nvidia docker image. I then take the wheels out of the image and install them on my system.

You will have to:
1. adjust `TORCH_CUDA_ARCH_LIST` to match the desired archs
2. choose the docker image that matches your nvidia-drivers, e.g. the one listed in the script below uses the latest of this writing docker image, and I had to updat

[2021-05-06 22:11] rohan-varma opened #57776 "[rfc] Build a debug tool to help users find which parameters are unused during DDP training"
## 🚀 Feature
One of the most common errors in DDP is as follows:

[code]

This error usually comes from 2 scenarios:
1) Parameter unused in forward pass. This can be resolved with passing `find_unused_parameters=True` into DDP
2) Parameter is used in forward pass, but result is not used in loss computation, so param does not get gradient. DDP currently does not support this, but we aim to land sup

[2021-05-06 22:17] SciPioneer commented on #33052
This is also a limitation for RemoteModule. A scriptable RemoteModule cannot be send over RPC.

[2021-05-06 22:30] jbschlosser commented on #55981
Good point. AFAIK optimizers can't handle the parameters they're optimizing being resized- that would either result in new parameters the optimizer doesn't know about or mess with the internal optimizer state (more info [here](https://stackoverflow.com/questions/55640836/how-does-one-dynamically-add-new-parameters-to-optimizers-in-pytorch)). There's [`optimizer.add_param_group()`](https://pytorch.

[2021-05-06 22:44] rohan-varma commented on #33052
@SciPioneer The specific examples in this issue should have been enabled enabled by this PR: https://github.com/pytorch/pytorch/pull/48293 . Although that PR only adds support for spending ScriptModule over RPC, but not Scripted RemoteModules. I wonder if we can add similar pickling logic for RemoteModule.

[2021-05-06 23:12] rohan-varma commented on #57126
Should be fixed after https://github.com/pytorch/pytorch/pull/57253

[2021-05-06 23:12] #57126 closed

[2021-05-06 23:21] janeyx99 opened #57782 "Improve Windows testing on CI while keeping down costs"
Currently (since #57493), Windows GPU tests are disabled on PRs and only run on master to reduce CI cost. This is not ideal as it is easy to miss regressions on PRs for those configurations. Since we record stats for our test cases in S3, we should figure out the tests that fail on windows but pass on linux.

We could select from this list of tests the ones that most prone to failing on Windows an

[2021-05-06 23:24] rohan-varma commented on #57158
Even with TorchScripting `agg_grads`, do we expect to see a significant performance improvement with the lock? Currently due to the lock it seems like only one trainer's `agg_grad` call can run at a time. If this is also the case with TorchScript, I'm not sure if we'd expect a significant speedup.

[2021-05-07 00:16] chauhang opened #57787 "Add CI automation tests for Infiniband for DDP"
## 🚀 Feature
Add automation tests in CI for Infiniband for DDP. Currently this has to be tested manually.

[2021-05-07 01:03] PetrochukM commented on #55981
There are a couple of strategies for this:

- (Slow) We'd need to synchronize the parameter table every forward pass. We'd need to make sure every process knows about any new tokens that are created.
- (Faster; Forward Pass Sync) We could have a hook in DDP. `SyncBatchNorm` has specialized handling via `_passing_sync_batchnorm_handle`. During the forward pass, we'd need to know if there are any ne

[2021-05-07 01:10] PetrochukM commented on #55981
@cpuhrsch I'm a big fan of A LOT of your ideas! Thanks for providing concrete and actionable ideas around design and performance!

[2021-05-07 01:40] malfet commented on #57744
I can not reproduce the issue on stock Ubuntu-16.04 nor Ubuntu-18.04:
[code]
modified above script a bit by adding `std::cout << "GCC Version is " << __GNUC__ << "." << __GNUC_MINOR__ << "." << __GNUC_PATCHLEVEL__ << std::endl;`

@Flamefire can you share a backtrace please? Also, are you using PyTorch build from source or building it locally using gcc-10.2 ?

[2021-05-07 01:40] imaginary-person commented on #54261
I'll try to work on some of the remaining OpInfos.

[2021-05-07 02:14] laizewei opened #57793 "LibTorch inference script model is slower than PyTorch, and the speed is not stable. Why?"
win10 cpu,libtorch1.8.1+cpu,pytorch1.8.1+cpu.

LibTorch inference script model is slower than PyTorch, and the speed is not stable. Why?

[2021-05-07 02:16] JermainLiu commented on #40967
The idea of parameter groups is to enable the user to have a different set of optimizer parameters (lr, weight decay, ...) for each group. We can use `torch.optim.SGD([{'params': x, 'lr': 0.001'}, {'params': y, 'lr': 0.01}], lr=0.2)` to optimize `x` with `lr=0.01` and optimize `y` with `lr=0.1` .

[2021-05-07 02:23] zyh3826 opened #57794 "CUDA error: an illegal memory access was encountered"
## 🐛 Bug

Hi, everyone, I have been stuck here for several days, I need some help, thanks in advance.
![image](https://user-images.githubusercontent.com/31238754/117386722-f38bca00-af19-11eb-9b5f-c0efde60a920.png)

## To Reproduce

Steps to reproduce the behavior:

1.install transformers==4.3.3
tqdm
sklearn
tensorboardX
apex(unnecessary),
zhconv==1.4.0
pypinyin==0.34.1
pywubi==0.0.2
boto3
botocore

[2021-05-07 03:25] Justin1904 commented on #32322
Using native Python multiprocessing Queue also doesn't work for me, still get the same deadlock

[2021-05-07 03:39] msbaines opened #57796 "BatchNorm grad calculation is imprecise"
## 🐛 Bug

While re-implementing SyncBatchNorm (for speed), I noticed that the weight gradient calculation was off. I root-caused it to the backward pass doing operations in a different order than in the forward pass. Due to floating point error accumulation this will result in a gradient that is less accurate than it needs to be.

The gradient calculation [here](https://github.com/pytorch/pytorch/

[2021-05-07 04:10] Justin1904 commented on #32322
Actually, I believe this hanging issue is caused by the fact that the `mp.Queue` and `mp.Event` objects are created in the default context where start method is `fork`, hence using these objects in `spawn` method processes doesn't work. I have tried to modify this example to set start method to `spawn` **BEFORE** the instantiation of the queue and event, and it can execute and finish successfully.

[2021-05-07 04:11] albertchristianto commented on #57457
Okay, @ezyang. thank you for your time.
What should I do now ?
Close the issue or you want to keep tracking this thread ?

[2021-05-07 04:30] SciPioneer commented on #33052
Close this issue as it's already resolved by #48293.

[2021-05-07 04:30] #33052 closed

[2021-05-07 05:00] HilbertXu commented on #57720
Hi @albanD ,

Thanks for your reply!

Sorry for my mis-description, yes, I know the result is expected. I am just wondering if there exists any replacement of torch.cdist to calculate distance between tensors of such a big size so that OOM can be avoided.

[2021-05-07 05:33] wchen61 opened #57799 "Temp folder is out of space when run unit test cpp_api_parity"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Run cpp_api_parity test cases one by one, the tmp folder will create many temp folders and make /tmp out of space
1. For example, when run this command
[code]
There will a lot tmp folder created after this command finished

## Expected behavior

Clean the tmp folder when command exit.

## Environment

Please copy and paste the output

[2021-05-07 06:39] myuanqing commented on #57271
Sorry for my late reply，I just took a holiday.

Do you mean the .pt file? It is 50MB. I put it onto [https://www.dropbox.com/s/fashvm4pk7rt5mq/olddec.pt?dl=0]( https://www.dropbox.com/s/fashvm4pk7rt5mq/olddec.pt?dl=0 ), could you get access to the file?

[2021-05-07 06:39] zhao028 opened #57803 "Using NNAPI model in Android"
I successfully converted the nnapi model of mobilenet according to the official blog，According to the official statement, it can be called directly on the original project through the API. The following is how I load the model，
  `model = Module.load(assetFilePath(this, "mobilenetv2-quant_none-nnapi.pt"));`
But this will give the following error：
[code]

I don’t know where there is a problem in th

[2021-05-07 06:44] joh4n opened #57804 "broadcast_tensors does always use __torch_function__ propperly"
## 🐛 Bug

Following https://pytorch.org/docs/stable/notes/extending.html#extending-torch to extend a python object to have an `__torch_function__` method does not work properly with `torch.broadcast_tensors` when mixing with other tensor types ex Paramaters. The order of the arguments also matters.

## To Reproduce

[code]
the trackback:
[code]
## Expected behavior
I would expect that `torch.broad

[2021-05-07 07:14] huanghanmei opened #57805 "a error when torch.load(）"
Traceback (most recent call last):
  File "temp.py", line 25, in <module>
    check = torch.load(path,map_location="cpu")
  File "/home/anaconda3/envs/lib/python3.7/site-packages/torch/serialization.py", line 594, in load
    return _load(opened_zipfile, map_location, pickle_module, **pickle_load_args)
  File "/home/anaconda3/envs/lib/python3.7/site-packages/torch/serialization.py", line 853, in _

[2021-05-07 07:15] thomas0809 opened #57806 "torch.cuda.amp cannot speed up on A100"
## ❓ Questions and Help

I am trying to use `torch.cuda.amp` to speed up training. The following code works well on V100 (120s w/o amp and 67s w/ amp), but cannot get a reasonable speedup on A100 (53s w/o amp and 50s w/ amp).

I am using the most recent NGC docker [nvcr.io/nvidia/pytorch:21.04-py3](https://ngc.nvidia.com/catalog/containers/nvidia:pytorch), which has CUDA 11.3, pytorch 1.9.0.

The

[2021-05-07 07:22] rohan-varma commented on #57278
@ZhiyuanChen I wonder if it is better to change the name in DistributedSampler as that is a subclass and `Sampler` is the main class so we should follow its naming convention

[2021-05-07 07:24] ZhiyuanChen commented on #57278
Yes I agree it's a better option

[2021-05-07 07:44] xwang233 commented on #57806
Thanks for the report. Can you try if converting the input `x` to channels-last gives any performance boost? Something like

[code]

cc @ptrblck

[2021-05-07 07:50] bodhi-tree01 commented on #41833
Hello, did you mean to change the PyTorch version to 1.1.0 ?
I also met this problem, and I hope to get your reply, thanks.

[2021-05-07 07:52] thomas0809 commented on #57806
Thank you for the suggestion. I tried it but there was no performance boost. The runtime was 50.0s on A100.

[2021-05-07 07:52] bodhi-tree01 commented on #41833
Hello, did you mean to change the PyTorch version to 1.1.0 ?
I want to convert ENet to an onnx file, I also met this problem, and I hope to get your reply, thanks.

[2021-05-07 08:07] ptrblck commented on #57806
Double post from [here](https://discuss.pytorch.org/t/torch-cuda-amp-cannot-speed-up-on-a100/120525/2).

[2021-05-07 08:19] mszhanyi commented on #57794
How many cards in your machine?
I suggest you trying another card by setting VISIBLE_CUDA_DEVIDES=1.
There might be some issue in your hardware.

[2021-05-07 08:31] #56820 closed

[2021-05-07 08:41] Lezcano commented on #57736
This was added in https://github.com/pytorch/pytorch/pull/48125

[2021-05-07 08:41] #57736 closed

[2021-05-07 09:11] #54295 closed

[2021-05-07 09:59] zyh3826 commented on #57794
Hi, I have several cards, and I follow your advice, but the error still here

[2021-05-07 11:00] mszhanyi commented on #57794
Oh, sorrry, it should be CUDA_VISIBLE_DEVICES=1.
And please use nvidia-smi to make sure your program is running on another card. By default it runs on cuda:0.

[2021-05-07 12:20] Flamefire commented on #57744
@albanD The function is (on the outer level) indeed guarded by those macros. Those expand to a `catch` clause but the problem is that the thrown exception is not caught. I demonstrated this in a simplified example where I added a try-throw-catch to the top of `torch/csrc/autograd/engine.cpp` which is run on import. This code shows that thrown exceptions are indeed not caught. In the further minimi

[2021-05-07 12:20] tejan-rgb commented on #57712
yes, please.

[2021-05-07 12:43] K-I-M-J-I-N commented on #50210
Same problem with 1.7.0 to 1.9.0 beta version. (CUDA 11.2)

[2021-05-07 12:49] #53894 closed

[2021-05-07 12:50] dtoniolo commented on #57717
@eellison You're right. I've downloaded the `pytorch-nightly` and it works. Thank you all for your support👍🏻

[2021-05-07 13:04] zyh3826 commented on #57794
Thanks for your reply. No.0 cards have another program, and I check the card using nvidia-smi, I'm sure my program is running on another card, this wired error still here @mszhanyi

[2021-05-07 14:01] mszhanyi commented on #57794
There are many other reasons for this error besides the hardware failure I met. Could you take a look at this post https://github.com/pytorch/pytorch/issues/21819

[2021-05-07 14:15] nickhuangxinyu opened #57819 "c++ load python pytorch model, forward result is different?"
I have a trained model in pytorch, i saved it using:

    tsm = torch.jit.trace(mlp, torch.rand(1, num_features).double())
    tsm.save('model.pt')
    print(mlp(np.array([[0.2] * num_features])))

and i load it in c++ and forward using the same data -> [0.2] * num_features, code is following:

    #include <iostream>
    #include <memory>
    #include <torch/script.h> // One-stop header.
    #inc

[2021-05-07 16:08] ezyang commented on #55070
@eqy No, not yet. I'd like to get quantization support for structured but there is a technical problem we have to resolve first, which is that the allocation process for quantized tensors also requires knowing what the quantizer of the result tensor should be. This is very awkward for structured kernels, as the idea is that the meta function is supposed to be applicable for ALL backends, but then

[2021-05-07 16:10] ezyang commented on #57457
I don't mind keeping the issue open, but yeah probably going to be hard to actually make progress on this

[2021-05-07 16:45] ezyang commented on #57806
cc @mcarilli

[2021-05-07 16:46] ezyang opened #57827 "[structured] Inplace operations don't check outputs for illegal broadcasting of self in set_output"
see https://github.com/pytorch/pytorch/pull/57417#discussion_r627900648

[2021-05-07 16:52] vadimkantorov commented on #51280
@mruberry #50275 complains that NumPy's `transpose` does PyTorch's `permute`.

In this issue, I just propose `t()` to transpose last two dimensions even for higher-dim tensors, regardless of the clash of NumPy vs PyTorch problems of compat wrt transpose naming / functionality.

[2021-05-07 16:55] rohan-varma commented on #57796
cc @albanD @ngimel, would either of you be able to comment on this issue or ping folks who might know?

[2021-05-07 17:08] ngimel commented on #28871
Stable sort on GPU is now enabled.

[2021-05-07 17:08] #28871 closed

[2021-05-07 17:12] malfet commented on #57744
@Flamefire is there a reason why you can't share a backtrace from your example app, or from running `python -c 'import torch'`?

[2021-05-07 17:18] Flamefire commented on #57744
@malfet Sorry I missed that last part. Backtrace from the example app:
[code]

The one from ' import torch'  would be a lot of work as I built it in a tmp dir which is already gone. But the minimal app should already show the issue together with the above explanation

I'm building PyTorch from source on a HPC cluster using a non-system compiler (loaded via a module) GCC 10.2.0 and CUDA 11.1.1

[2021-05-07 17:21] harishsdev commented on #9886
please let me know what is missing in this issue?

[2021-05-07 17:31] malfet commented on #57744
Thank you for the backtrace, it's quite puzzling. Can you share exact instructions on how this compiler was build? (Or just share a link to a binary)

[2021-05-07 17:34] rgommers commented on #51280
This kind of transpose has been discussed before in numpy as well, multiple times. I believe the desired name would be `.mT`, for "matrix transpose". Note, as an attribute (like `.T`) not a method.

[2021-05-07 17:36] #43735 closed

[2021-05-07 17:39] vadimkantorov commented on #51280
I guess, if `t()` is divergent from NumPy, it could just be `mT`, since batches are so frequent (I guess 99% of all variables are batched)

[2021-05-07 17:43] eellison opened #57834 "[JIT] Add OperatorMap<T>"
## 🚀 Feature: Add Data Structure to map Schema to T

To check if an operator is in a set we have a very nice data structure called [OperatorSet](https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/ir/ir.h#L151) which allows you to declare a set of schemas and efficiently query if a node is a member. OperatorSet is much preferable to matching on exact schema string because it handles synt

[2021-05-07 17:48] Flamefire commented on #57744
"puzzling" is it indeed. I spent ages trying to find why the C++ exception handling breaks in this way. Best I could determine was, that the stack unwinding fails, i.e. it does not find a valid handler.
However given that there is an ODR violation all bets are off anyway...

Here is a file with g++, gcc, libstdc++ and the full build log. You can see the configure invocation(s) and the output of th

[2021-05-07 18:03] rohan-varma commented on #56838
@agolynski Do you have any thoughts on this issue? Can it be assigned to you?

[2021-05-07 18:12] msbaines commented on #57796
You could uncomment the following line in my unittest.

https://github.com/facebookresearch/fairscale/blob/master/tests/experimental/nn/test_sync_batchnorm.py#L50

To root-cause the issue, I constructed a mini-repro as follows:

[code]

I can't find the code in my git stash so I'm going by memory but I was using something similar to the above to root cause.

[2021-05-07 18:14] rohan-varma commented on #56786
Thinking about the best way to resolve this issue. It seems that GIL must be held if we are calling `dec_ref` on a python obj, but in turn this results in RRef's release_resources() being called, which sends out RPCs to other nodes (but doesn't seem to wait on them).

@mrshenli Does it make sense if we try not to hold GIL in the logic of RRef's `release_resources()`/ `tryDel`? Unfortuntely we can'

[2021-05-07 18:17] msbaines commented on #57796
Since the initial weight is `1.0` and the bias is `0.0` it is very easy to compute the weight gradient by hand directly from the output tensor `y` and `grad`.

[2021-05-07 18:24] weirdscorpio opened #57836 "Really need the pytorch version 1.3.1 because a certain package I use is built on pytorch 1.3.1 ."
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2021-05-07 18:26] msbaines commented on #57796
Test:

[code]

Output:

[code]

[2021-05-07 18:31] malfet opened #57837 "manylinux cuda build are running sequentially"
While debugging build issues I've noticed that:
- We run make with `-j 34` when running inside 20 core Docker2X.Large container
- At some point in the build process compilation of CUDA files is done sequentially:
[code]
discovered while looking at https://app.circleci.com/pipelines/github/pytorch/pytorch/317733/workflows/82b8f075-fcd0-4ce3-9c4b-9cfaafba2444/jobs/13258301
cc @ezyang @seemethere @ma

[2021-05-07 18:34] Morino1 commented on #57582
I found the issue! It was with the installed Intel MKL lib, which wasn't loaded properly. After fixing MKL the compilation worked just fine also for CUDA11.1 and pytorch 1.8.1.

[2021-05-07 18:36] malfet commented on #57836
All historical PyTorch builds are still available from https://download.pytorch.org/whl/torch_stable.html and https://pytorch.org/get-started/previous-versions/

If you can not download those, please do not hesitate to reopen the issue.

[2021-05-07 18:36] #57836 closed

[2021-05-07 18:46] rohan-varma commented on #55967
cc @pritamdamania87 for store based barrier issue

[2021-05-07 18:54] epraun commented on #32998
@zou3519 torch.group_max(values=torch.Tensor([1, 2, 3]), group_indices=torch.Tensor([0, 0, 1])) --> [2, 3]

[2021-05-07 19:02] mcarilli commented on #57806
To see a performance benefit from channels-last, you should also convert the model to channels last, preferably before constructing the optimizer:
[code]
Hopefully, this will give additional speedup on V100 or A100.

Concerning the lousy "speedup" with amp on A100, first of all I'd expect less of a relative difference because A100 should use TF32 tensor cores by default for FP32 (non-amp) runs, wh

[2021-05-07 19:30] eqy commented on #56229
I'm curious what the best solution is considering there is C++ API version of [pad_sequence](https://github.com/pytorch/pytorch/blob/5044d9dc517dd3ad547334f26d102a9d454b8f59/torch/csrc/api/include/torch/nn/utils/rnn.h#L279) that likely removes much of the Python overhead? Is it still to move everything into a native function?

[2021-05-07 20:08] Divide-By-0 opened #57843 "Torch.save doesn't make new file"
## 🐛 Bug

torch.save doesn't make a new file if it doesn't exist.

## To Reproduce

Steps to reproduce the behavior:

I do torch.save(dict, "d1/d2/fname") and the file doesn't exist, it throws an error.

## Expected behavior

Intended behaviour should create "d1/d2/fname" even if none of them exist.

## Environment

 - PyTorch Version (e.g., 1.0): 1.7.1
 - OS (e.g., Linux): Linux
 - How you instal

[2021-05-07 20:23] bertmaher commented on #55230
cc @huiguoo

[2021-05-07 20:34] ezyang commented on #57724
We did successfully let people prototype complex number support out of tree but a lot of it didn't make sense because you couldn't reuse existing TensorIterator scaffolding. I think if someone wanted to embark on this I'd suggest doing so on a fork of PyTorch instead, it will just be easier. Add a new dtype and work on bringup.

I'm not too certain how serious we can get about posits in core. I th

[2021-05-07 21:07] xycforgithub commented on #52504
I am having the same problem - is this fixed in pytorch 1.8.1?

[2021-05-07 21:10] ilia-cher commented on #52504
please try 1.8.1, I believe the underlying bug was fixed, if you still have it it might be something else, then please share the small repro. example and use env. collection script

[2021-05-07 21:23] bertmaher commented on #50853
I'm going to reopen this issue because the parallelism support still isn't plumbed all the way through to the fuser.  I hope it's not super hard to do that?

[2021-05-07 21:23] bertmaher commented on #50853
cc @huiguoo this is the issue with parallelism we were talking about earlier today.

[2021-05-07 21:32] ngimel commented on #57796
In your minimum repro, you are adding large (~1000) numbers that are supposed to sum to 0, and they produce result very close to 0, with as good accuracy as can be expected from a single-precision floating point. Unfortunately, we cannot give accuracy guarantees beyond that (even we we changed one place that you pointed out, in other cases bn gradient computation goes to libraries of which we have

[2021-05-07 21:40] albanD commented on #57796
To reinforce @ngimel argument above, you can run the same thing on cuda as well:
[code]

In that case you get  (from default GPU on colab):
[code]
So the difference between cpu and cuda is even bigger.

[2021-05-07 21:41] #51127 closed

[2021-05-07 22:13] ngimel commented on #57796
By reordering multiplications and additions you are getting errors O(ulp), as expected. Then, if your additions lead to catastrophic cancellation, those O(ulp) errors become large relative errors, but for this to happen you need to subtract 2 almost equal numbers (catastrophic cancellation)

[2021-05-07 22:15] SciPioneer opened #57865 "Cannot pass script remote module object to over the RPC"
## 🐛 Bug

A script remote module cannot be sent over the wire using RPC due to the lack of pickling/unpickling support.

## To Reproduce

The following test in `remote_module_test.py` is disabled. To reproduce, just re-enable this test.
[code]

## What Does Not Work?

Note that this cannot be simply fixed by updating `_getstate_` and `_setstate_` of `RemoteModule`, because `scripted_remote_module

[2021-05-07 22:23] #57644 closed

[2021-05-07 22:26] rohan-varma commented on #57865
@SciPioneer I wonder if we can employ a method similar to https://github.com/pytorch/pytorch/blob/master/torch/distributed/rpc/internal.py#L110-L112, although I wonder why it isn't already supported out of the box. I think `RecursiveScriptModule` is an instance of `torch.jit.ScriptModule` so not sure why this codepath isn't hit.

[2021-05-07 22:29] gchanan commented on #57684
I was able to reproduce this on 1.7.1, but it's fixed on trunk.

[2021-05-07 22:29] #57684 closed

[2021-05-07 22:31] imaginary-person commented on #57707
Hello @ngimel, please confirm if an `atol` of 0.016 & `rtol` of 1e-5 would be fine for testing `BFloat16`:

I got these values from
https://github.com/pytorch/pytorch/blob/master/torch/testing/_internal/common_utils.py#L1144-L1149.

Thanks!

[2021-05-07 22:35] ngimel commented on #13511
Closing due to age

[2021-05-07 22:35] #13511 closed

[2021-05-07 22:36] ngimel commented on #13233
Closing due to age

[2021-05-07 22:36] #13233 closed

[2021-05-07 22:36] ngimel commented on #13546
This has been done IIUC

[2021-05-07 22:36] #13546 closed

[2021-05-07 22:38] ngimel commented on #13506
Closing due to age

[2021-05-07 22:38] #13506 closed

[2021-05-07 22:38] ngimel commented on #13442
Closing due to age

[2021-05-07 22:38] ngimel commented on #13389
Closing due to age

[2021-05-07 22:38] #13389 closed

[2021-05-07 22:38] #13442 closed

[2021-05-07 22:39] ngimel commented on #13380
Closing due to age

[2021-05-07 22:39] #13380 closed

[2021-05-07 22:39] ngimel commented on #13362
Closing due to age

[2021-05-07 22:41] ngimel commented on #13296
Closing due to age

[2021-05-07 22:41] #13296 closed

[2021-05-07 22:42] ngimel commented on #13281
This is done

[2021-05-07 22:42] #13281 closed

[2021-05-07 22:43] ngimel commented on #13258
Closing due to age

[2021-05-07 22:43] ngimel commented on #13257
Closing due to age

[2021-05-07 22:43] #13257 closed

[2021-05-07 22:45] ngimel commented on #57806
A100 uses tf32 by default, so you are getting a lot of TensorCore benefits without amp, so amp relative improvement is less. To improve performance further, try converting to channels last, as suggested above.

[2021-05-07 22:46] ailzhang commented on #57230
cc: @zhangguanheng66 would you mind help taking a look here? Thanks!

[2021-05-07 22:46] ngimel commented on #57806
Please ask questions on discuss.pytorch.org, github is for reporting bugs/requesting features.

[2021-05-07 22:46] #57806 closed

[2021-05-07 23:17] ngimel commented on #57794
Please provide a minimal self-contained reproduction

[2021-05-07 23:21] ngimel commented on #57805
You have a clear error message "file not found: archive/data/94308821128336"

[2021-05-07 23:23] ngimel commented on #57793
Please provide a script to reproduce speed difference.

[2021-05-07 23:27] ZolotukhinM opened #57872 "[TensorExpr] IR Eval should detect out-of-bounds accesses"
## 🐛 Bug

IR Eval doesn't check whether the index is in bounds of a buffer in Loads and Stores, which could result in unpredictable behavior. If IREval checked the indexes we could use that as an "ASAN" for IR we generate.

## To Reproduce
In the program below we manually generate a stmt that stores 15 elements to a buffer of size 10. Ideally this should throw an exception.

[code]

[2021-05-07 23:28] imaginary-person commented on #56544
A digression: Why do we use different values of `rtol` for BFloat16 in `precision` decorators in `OpInfo`s of various ops?
Some ops have it as 1e-2, and others have 5e-2, so please confirm if they're set individually for each operator
by testing initially with 1e-2, and using 5e-2 only if 1e-2 doesn't work out.

Some tests use custom values of `atol` & `rtol`. https://github.com/pytorch/pytorch/bl

[2021-05-07 23:28] ngimel commented on #57707
Yes, those values are fine!

[2021-05-08 00:13] mrshenli opened #57878 "Add NCCL_ASYNC_ERROR_HANDLING env var to _dump_DDP_relevant_env_vars"
`NCCL_ASYNC_ERROR_HANDLING` is a env var introduced after we added `_dump_DDP_relevant_env_vars` helper function. Let's add that to the list too.

https://github.com/pytorch/pytorch/blob/ee4be5322bb57a5385dc537a02ac4c92a6abdd68/torch/nn/parallel/distributed.py#L46-L60

This log function is tested by the following unit test:

https://github.com/pytorch/pytorch/blob/166a8df65fc6327b57af928dd0870413b

[2021-05-08 00:14] mrshenli commented on #57878
Self-assigned to reserve this for onboarding

[2021-05-08 01:09] #57819 closed

[2021-05-08 01:10] nickhuangxinyu commented on #57819
the reason is double and float in c++

[2021-05-08 01:11] kurtamohler commented on #53546
Hey @smessmer, I am getting some invalid `string_view`s in the CI jobs for my PR, and they seem to be related to boxing and IValue. I tried to make the proper changes to fix it, but I don't totally understand what IValue and boxing are, so it's difficult to figure out what I'm doing wrong. Do you know if there's an explanation in the codebase somewhere?

[2021-05-08 02:22] manh100004104234761 opened #57885 "Microsoft C++ exception: c10::Error at memory location."
## 🐛 Bug

I am trying to build pytorch from source with CUDA 11.3 using the CMake GUI on windows 10.

When I configure, CMake give me this:

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the s

[2021-05-08 02:24] zyh3826 commented on #57794
Thanks for your reply, I find the solution [https://github.com/pytorch/pytorch/issues/21819#issuecomment-553310128](url), but it's so wired, why use torch.cuda.set_device(1) can work @ngimel

[2021-05-08 03:15] seuwins commented on #57715
Thank you very much. It help me find the root-cause. Though I cannot monitor the cpu resource overbooked by openmp threads，But leave 2 vcpu avoid the abnormal，this https://github.com/pytorch/pytorch/issues/3021 issue shows it

[2021-05-08 03:41] lhb8125 commented on #36990
@vadimkantorov Now do you have a sense of the difference between "allocated" memory and "active" memory?

[2021-05-08 05:12] Bingo-W commented on #36035
I also encountered the issue. Are there any solutions or alternative ones?

[2021-05-08 07:01] SunnerLi opened #57887 "[Mobile] Valid scale ratio with invalid error"
## 🐛 Bug

Hi, I try to generate torchScript and use dummy data to inference.
However, I encounter error.

Description
---
First, I inference the model on PC and everything is fine.
Here is the code.
[code]
However, I just run the code on phone,
error occurs.
Here is my code. Just run the code on `onCreate`.
[code]

And here is the error:
[code]

## Environment

Collecting environment information..

[2021-05-08 07:26] SciPioneer commented on #57776
The error mentioned indeed is very common, and the proposal util function will be very helpful.

A few minor suggestions:

1)  Your proposed util function seem to only work for DDP, and it is for debugging purpose. `torch.distributed.utils` seems to be broader than the scope of DDP, indicating that a util function may also be used for other packages like rpc, etc.

What about adding this util func

[2021-05-08 07:44] nazneenshaikh-db opened #57890 "Improve the user interface"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2021-05-08 07:51] dengjh-213 commented on #54232
met same problem

[2021-05-08 08:04] dengjh-213 commented on #54232
And in my case, it's worked when I test with a toy model, which just with few parameters.

When I try with a big model, all processes successfully passed init_process_group, but except the master node, all other nodes will hang in DDP constructor just like the post.

[2021-05-08 08:49] amssljc opened #57891 "why circular padding can only wrap once???"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)
-
is that reasonable? When i want to use convolution layers with circular padding wit

[2021-05-08 09:59] skyline75489 commented on #57885
Hi Can you try catch the exception and see what `e.what()` is?

[2021-05-08 10:43] peterjc123 commented on #57885
Hey, since your pytorch is of build type Release, you should use Release when building your project as well.

[2021-05-08 10:46] peterjc123 commented on #57885
Also, please print the log in the dev shell when you click continue.

[2021-05-08 11:25] menchunlei commented on #42391
Have a try to put the inputs/outputs as tensor not scalar.

[2021-05-08 12:02] zhao028 commented on #50533
Have you succeeded in calling the nnapi model on the Android side? I encountered the following situation:[https://github.com/pytorch/pytorch/issues/57803](url)

[2021-05-08 12:03] PiotrDabkowski opened #57894 "JIT "optimizations" take way too long"
## 🐛 Bug

The initial calls to the loaded TorchScript model take extremely long (even 1000x longer than the non-jit run, 20s vs 0.02s). I understand that some "optimizations" happen under the hood, but this is really broken user experience for a number of reasons:

 1. Not clear what the cause of slow execution is, eg [user issue](https://discuss.pytorch.org/t/nsight-profile-shows-many-pthread-con

[2021-05-08 12:39] credoxfromcqut commented on #57706
sorry i dont know,so i even dont know the direction to think on!!

[2021-05-08 12:47] H1Gdev commented on #50533
I checked with [PyTorchDemoApp](https://github.com/pytorch/android-demo-app/tree/master/PyTorchDemoApp).

[2021-05-08 13:11] zhao028 commented on #50533
I have used this routine to run the nnapi model I converted, and there is still an error. I don’t know if my model conversion is wrong or my project is not set up correctly? Can you send me your converted nnapi model for a try? ?

[2021-05-08 14:53] ankitadhar commented on #47702
I am trying to set up a bert model.. a simple model with torch.nn cpu with only 1 epoch is taking for ever. I can definitely say, gpu use would boost performance.. I am stuck and don't know what to do after buying M1. Is that available yet?

[2021-05-08 15:30] Riccorl commented on #47702
I mean, even a laptop with a good GPU it would take forever to train Bert. I don't think that GPU or Neural Engine acceleration will make the m1 a good training machine.

[2021-05-08 15:45] ankitadhar commented on #47702
Then there is something seriously wrong with MacOS or M1 chip. because the same code with GPU acceleration on google colab worked smooth. And in my local jupyter lab, it is over 1 hour and I will have to stop it now.

[2021-05-08 20:39] EnricoMi opened #57900 "Torch nightly fails calling backward()"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Running Horovod test [test_horovod_sync_batch_norm](https://github.com/horovod/horovod/blob/ebaa39e8a40d257ce4958aea28c2b4037707097b/test/parallel/test_torch.py#L2248) fails with

[code]

## Expected behavior

This unit test used to work with `1.9.0.dev20210303+cu111` and before.

## Environment

[code]

 - PyTorch Version (e.g., 1.0)

[2021-05-08 21:29] ngimel commented on #57900
`batch_norm_backward_elemt` API was changed in #46909. `batch_norm_backward_elemt` is a non-public undocumented function, and as such is not subject to backward compatibilitu requirements. Please update the code using it.

[2021-05-08 21:30] aletheap commented on #47702
So, there are a few issues here. First, Bert is a transformer and transformers are notoriously compute-hungry and memory-hungry. It's far from a "simple model".

Second, you're comparing Colab (which runs on high end GPUs that are custom-built for machine learning) with a laptop CPU. For ML, there's an enormous difference between CPUs and GPUs, and there's also an enormous difference between lapto

[2021-05-08 21:37] ngimel commented on #57891
Please ask questions on the the forum, discuss.pytorch.org

[2021-05-08 21:37] #57891 closed

[2021-05-08 21:37] #57890 closed

[2021-05-08 23:16] jungerm2 commented on #8069
Any progress on this? The epsilon hack works well enough, I'm just surprised this issue hasn't gained more attention...

[2021-05-08 23:32] mruberry commented on #56544
They are set individually.

No. The defaults are just that: defaults. Particular tests may require different values. For example, let's say that each bfloat16 operation had an absolute error of 1e-5 (I'm making this number up for illustration purposes) and we were doing "golden value" testing or "fixture-based" testing where we were comparing inputs to a known, mathematically validated output. If

[2021-05-08 23:44] imaginary-person commented on #56544
Thank you for the clarification, @mruberry! It was very helpful!

[2021-05-09 02:21] amssljc opened #57911 "Circular padding in Convolution layers should not only be wrap for once."
## 🚀 Feature
circular padding should not wrap only once.

## Motivation

is that reasonable? When i want to use convolution layers with circular padding with large padding size, i must call `pad` function several times, such as:
[code]

I will appreciate a lot if you can reply me!

## Pitch

But it can cause lots of problems in my downstream processing. What i want is just using like this:
[code]

[2021-05-09 03:36] FloydHsiu commented on #57698
Hi, I follow the suggestion from @eellison to change the code.
And build pytorch with my own computer.

Here is the result that run by pytorch I build.
https://colab.research.google.com/drive/11XFsz0eakL313HKBrRBvpGXH74Sh5Dl_

[2021-05-09 05:48] H1Gdev commented on #50533
@zhao028

I checked my NNAPI model and code is the same as.

<mobilenetv2-quant_none-nnapi.pt>/code/__torch__/torch/backends/_nnapi/prepare.py

[code]

I think cause is `pytorch_android` or `pytorch_android_torchvision` built into app.

[2021-05-09 06:13] zhao028 commented on #50533
@H1Gdev
Can you post the version of pytorch_android or pytorch_android_torchvision you are using?

[2021-05-09 06:31] H1Gdev commented on #50533
@zhao028

[code]

[code]

[2021-05-09 06:56] SamNPowers commented on #42155
I'm having a similar issue. I've been using basically the code posted above with great success with file sizes in the range 1.5 gigs, but I would presently like to start using significantly larger tensors (140 gigs or so). I have the disk space, and `ipcs -l` indicates my max total shared memory should also be plenty large (and I'm on a 64 bit system, not 32). But nevertheless I'm getting a bus er

[2021-05-09 07:23] tianboh commented on #35014
Hi there, I find a edge case for this issue.
PyTorch version 1.7.1
[code]
The result type for c is float, where the expected behavior should be long.

[2021-05-09 07:59] e-sha opened #57919 "Operation incorrect output on GPU with PyTorch 1.8.1 and CUDA 11.1"
## 🐛 Bug

I use a simple network with a few linear layers. After a while I realized that the output of the first linear operation significantly depends on a type of used device ('cpu' vs 'cuda:0'). The expected output of the network is `[[-0.00885119]]`. But by changing device from 'cpu' to 'cuda:0' it becomes incorrect.

## To Reproduce

Simplest example to reproduce the behaviour:
1. Set up envi

[2021-05-09 09:59] yuseungwoo commented on #57710
Can't redefine method: forward on class: __torch__.fairseq.models.wav2vec.wav2vec2.TransformerSentenceEncoderLayer
![Uploading 스크린샷 2021-05-09 오후 6.59.02.png…]()

[2021-05-09 10:45] vadimkantorov commented on #57538
my pleasure :)

[2021-05-09 14:45] manh100004104234761 commented on #57885
@skyline75489 Can you guide me where to put e.what ()? My code is just like below, I'm trying to see if my program can load pytorch or not.
![image](https://user-images.githubusercontent.com/38680835/117576347-dae50500-b10f-11eb-8b54-8652bba91e30.png)

[2021-05-09 14:47] manh100004104234761 commented on #57885
@peterjc123
After I pressed continue, my program appeared as follows
![image](https://user-images.githubusercontent.com/38680835/117576417-226b9100-b110-11eb-8115-25dd9c00b632.png)
![image](https://user-images.githubusercontent.com/38680835/117576427-2a2b3580-b110-11eb-8e4f-dd9f7e483921.png)

[2021-05-09 14:51] manh100004104234761 commented on #57885
@peterjc123
If I build the release version of Pytorch, then when I try to load the dll, the program doesn't give me any information. So I build a debug version of pytorch, but I'm too new to visual studio and C ++ so that still can't solve the problem :(

[2021-05-09 15:03] manh100004104234761 commented on #57885
@skyline75489 With a few clicks it leads me here, does it have any info for you?
![image](https://user-images.githubusercontent.com/38680835/117577047-5e075a80-b112-11eb-9462-b32686904e36.png)

[2021-05-09 15:44] ezyang commented on #42155
@SamNPowers in your case you're probably going to swap

[2021-05-09 17:24] EnricoMi commented on #57900
That's unfortunate. I will update our code then. Thanks for the quick pointer.

[2021-05-09 17:24] #57900 closed

[2021-05-09 18:04] universome opened #57921 "Backward pass for a nn.Conv2d with half-precision on Quadro RTX 8000 leads to CUDNN_STATUS_INTERNAL_ERROR"
## 🐛 Bug

I was trying to launch training with half precision on Quadro RTX 8000, but it failed with `CUDNN_STATUS_INTERNAL_ERROR` error.

## To reproduce

[code]

This code sample fails with the exception:
[code]

## Expected behavior

There shouldn't be any errors or those errors should have a clear description.

## Environment

The provided script for env collection gives the following output:

[2021-05-09 18:10] Foreist opened #57922 "Problems when using a100 graphics card"
UserWarning:
A100-SXM4-40GB with CUDA capability sm_80 is not compatible with the current PyTorch installation.
The current PyTorch install supports CUDA capabilities sm_37 sm_50 sm_60 sm_61 sm_70 sm_75 compute_37.

When running a100 server, should I only use images provided by nvidia?
Can't I install torch myself?

[2021-05-09 18:56] universome commented on #57921
Ok, reducing the number of channels _or_ resolution fixes the problem for me. I suspect that Quadro RTX 8k just does not have enough fp16 kernels or smth like this.

[2021-05-09 22:25] SamNPowers commented on #42155
But my question is: why would I be going to swap? I have enough disk space, and I thought that's what from_file was allocating, not RAM/swap.

[2021-05-10 00:42] manh100004104234761 commented on #57885
i reset my pytorch to this commit 75ed6fbd91d27a823e158174226d2ac0c75cc236 and build with CUDA 11.2. Every work so fine, I think its real bug (when building the newest with CUDA 11.3) here.

[2021-05-10 01:48] XinyuSun commented on #55582
Hi! I solve this problem by concatenating the outputs of all fc layers as the return value of the forward function and chunking them apart like:
[code]
Does the gradient calculate correctly in this case? @mrshenli

[2021-05-10 01:49] venkateshtata commented on #56229
Can I work on this as my first issue ? Any suggestions on where to start would be great.

[2021-05-10 01:56] 9lan9 commented on #42391
yes, already solved it.

[2021-05-10 01:57] 9lan9 commented on #39245
thanks.

[2021-05-10 01:58] venkateshtata commented on #55191
Can I work on this as my first issue ? Any suggestions on where to start would be great.

[2021-05-10 02:01] venkateshtata commented on #54941
Can I work on this as my first issue ?

[2021-05-10 02:18] ArtyZe commented on #41833
right，only PyTorch 1.1.0 support “MaxUnpool” in PyTorch/onnx

[2021-05-10 02:28] albertchristianto commented on #57457
@ezyang is it possible these static objects will be leaking if we use OpenMPI framework to do parallel processing?
What is your opinion about it?

[2021-05-10 02:30] chunyuan-w opened #57929 "[JIT] provide a pass for alias reduction"
## 🚀 Feature

PyTorch has operators that create tensor views for buffer sharing. We'd like to have a JIT pass that can replace these alias operators with functional equivalents that do not have the alias semantics when it is possible, like what PyTorch already has for [mutation_revomal](https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/passes/remove_mutation.h).

## Motivation

We are

[2021-05-10 02:36] jgong5 commented on #57929
@eellison @Krovatkin

[2021-05-10 02:48] peterjc123 commented on #57885
I mean the command window automatically opened by VS(usually it is minimized when an exception is thrown). Would you please post the result there?

[2021-05-10 02:50] peterjc123 commented on #57922
You'll need the binaries that is built with CUDA > 11.0.

[2021-05-10 03:00] Foreist commented on #57922
I am already using Cuda 11.

[2021-05-10 03:08] #57799 closed

[2021-05-10 03:32] EchoIR commented on #40278
您好，请问，ssd的量化精度提升了嘛，我量化之后差了10多个点

[2021-05-10 03:57] ngimel commented on #57919
Duplicate of #56747, workaround is to either use conda package or cuda 10 pip wheel.

[2021-05-10 03:59] mruberry commented on #35014
Would you file a new issue for that bug, @tianboh?

[2021-05-10 04:02] manh100004104234761 commented on #57885
@peterjc123 U mean this one?
![image](https://user-images.githubusercontent.com/38680835/117604270-2b477b80-b17f-11eb-9a18-9de93c61820d.png)

[2021-05-10 04:14] mruberry commented on #57843
Thanks for reporting this issue, @Divide-By-0; looks like our serialization behavior needs review

[2021-05-10 05:35] skyline75489 commented on #57922
Which version of PyTorch are you using?

[2021-05-10 05:42] zhao028 commented on #50533
@H1Gdev Thanks, it works now. But I found that it has little difference in speed on Android 10, and there is a more obvious speed change on Android 11.

[2021-05-10 06:16] peterjc123 commented on #57922
@Foreist Would you please share the result of the command `python -m torch.utils.collect_env`?

[2021-05-10 06:36] H1Gdev commented on #50533
@zhao028
I think supported runtimes are device dependent.

[2021-05-10 06:43] Foreist commented on #57922
@peterjc123 @skyline75489
Collecting environment information...
PyTorch version: 1.8.1+cu102
Is debug build: False
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.2 LTS (x86_64)
GCC version: (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0
Clang version: Could not collect
CMake version: version 3.16.3

Python version: 3.8 (64-bit runtime)
Is CUDA available: True
CUDA runtime

[2021-05-10 06:49] Foreist commented on #57922
I solved it.
pip install torch==1.8.0+cu111 torchvision==0.9.0+cu111 torchaudio==0.8.0 -f https://download.pytorch.org/whl/torch_stable.html

[2021-05-10 08:59] dengjh-213 commented on #54232
I solved the problem by using the latest version nccl, which is v2.9.6.

You can have a try:

1. Install the latest nccl:sudo apt install libnccl2=2.9.6-1+cuda11.0 libnccl-dev=2.9.6-1+cuda11.0

[2021-05-10 11:01] zhao028 opened #57937 "[NNAPI]model conversion"
`nnapi_model =torch.backends._nnapi.prepare.convert_model_to_nnapi(traced, input_tensor)`
The following error will occur when using this command to convert the model：
`TorchScript export failure: Unsupported node kind ('aten::slice') in node %95 : Tensor = aten::slice(%x.1, %93, %92, %91, %93), scope: __module.model.0 # ../models/common.py:93:0`

Is there a solution to the error that occurred when

[2021-05-10 11:06] tianboh opened #57938 "torch.cat should not do type promotion when one input is empty tensor"
## 🐛 Bug
This is a edge case for issue #35014

When one of the concatenated tensor is empty, we should not do type promotion.
## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior
In fact, empty tensor also has its own type, which is torch.FloatTensor. However, given the 'empty' meaning, we should not change the non-empty tensor type after torch.cat

[code]
## Environment

[2021-05-10 11:07] tianboh commented on #35014
Sure, I filed a new issue here -> #57938

[2021-05-10 11:20] Flamefire commented on #57744
@malfet I do have an update on that which reproduces this even when using the system compiler: Using the gold linker

So for your example: `g++-9 raise.cpp -I/usr/local/cuda-10.2/include -L/usr/local/cuda-10.2/lib64 -lcupti_static -lpthread -lrt -ldl -fuse-ld=gold; ./a.out`

While this may seem odd, it actually underlines that this is an ODR violation issue: A different linker may choose a differe

[2021-05-10 11:24] linboqiao commented on #34953
It's pretty good, and I'm tracing ops called in C++ code too. Could you share the code to generate the backward graph? Or a text dump will also be helpful~~

[2021-05-10 11:37] Lezcano opened #57939 "Section with properties of matrices in `torch.linalg` or as methods of `Tensor`"
It has appeared in a number of situations the need to check some properties of matrices, some simple (e.g. symmetric) and some more difficult (e.g. spectral properties such as SPD).

It could be interesting to have a section in `torch.linalg` with functions with signature `bool is_{property}(const Tensor&);` that provide fast and reliable checks for matrices or batches of matrices. These could inc

[2021-05-10 12:56] sigmunjr opened #57944 "register_full_backward_hook crash if first argument don't require grad"
## 🐛 Bug

I want to register a backward hook with *Module.register_full_backward_hook*, for a module with multiple inputs. If the first input does not require a gradient I get a crash, with the following error message:

    File "/home/sigmund/anaconda3/envs/pytracking/lib/python3.7/site-packages/torch/utils/hooks.py", line 141, in _apply_on_tensors
        if not grad_fn.name() == "BackwardHookFu

[2021-05-10 13:14] zou3519 commented on #52984
Regarding parameterize:

I prototyped [a parameterize](https://github.com/zou3519/functorch/blob/a466cd1b8c1a5bebd2a5113d26942d2720bf7ffb/test/common.py#L6-L53) that (mostly) composes with PyTorch's testing suite because I wanted to use it for some testing. AFAIK there are a few concerns with using pytest's parameterize:
- It might not compose with PyTorch's testing suite (I haven't verified this)

[2021-05-10 13:25] ganyk opened #57946 "[FX]Failed to trace python builtin operators"
## 🐛 Bug

## To Reproduce
[code]

prints out

[code]

here is another case
[code]
prints out

[code]

How can I trace a module that contains python builtin operators(such as sum(), int()).

[2021-05-10 13:30] vadimkantorov opened #57947 "torch.lerp to support argument type promotion / broadcasting similar to torch.where"
It would be nice to support python scalars as start or end.

Similar work has been done for torch.where

[2021-05-10 13:51] nikitaved commented on #57939
Regarding `matrix_rank`, for `low_rank` we could actually use a rank-revealing QR decomposition instead. Might be a good idea to probably implement `matrix_rank` like this as well, instead of the current SVD. The issue is that the condition for low-rank in the rank-revealing QR does not correspond to the condition in the SVD, i.e., it is not necessarily the best low-rank approximation...

[2021-05-10 13:54] Lezcano commented on #57939
We could always support both through an `alg = ["svd",  "qr"]` algorithm and explain that one is accurate and the other one is fast.
But yeah, at any rate, it'd be great to have a QR with pivoting in PyTorch, for this and other applications.

[2021-05-10 14:01] albanD commented on #57706
As mentioned here, this is not a correctness problem but just perf as you observed.
You can try to use `optimizer.zero_grad(set_to_none=True)` to fully reset the gradients at each iteration. That might help if you are actually change the layout of the weights/grads without knowing it.

[2021-05-10 14:07] mrshenli commented on #54318
Self-assigned to reverse it for a new team member

[2021-05-10 14:15] albanD commented on #57720
I don't think you can no. The problem is that just the Tensor that contains the result is 300+GB (if you use float32). So you can't even store the Tensor containing the result.

If you need to compute it, you will have to compute it piece by piece.

I'm closing this as this is not a bug or feature request but feel free to ask follow up question here or on the forum: https://discuss.pytorch.org/

[2021-05-10 14:15] #57720 closed

[2021-05-10 14:28] ezyang opened #57949 "[structured] Clarify if NoNamesGuard is actually needed in impls or not"
https://github.com/pytorch/pytorch/pull/57797 adds NoNamesGuard to a bunch of new impl functions and I don't know if they're necessary or not, or whether or not we're obligated to add these to all structured kernels or not.

[2021-05-10 14:31] gchanan commented on #57938
NumPy type promotes in this case and I don't think it makes sense to complicate the type promotion rules even further:
[code]

[2021-05-10 14:42] mfkasim1 commented on #57649
No, this is the case where there is an unrelated input that requires gradient.

[2021-05-10 15:18] bdhirsh commented on #57919
closing since this looks like a duplicate of the above linked issue

[2021-05-10 15:18] #57919 closed

[2021-05-10 15:24] ezyang commented on #56786
I think this is fixed by #56817.

[2021-05-10 15:24] #56786 closed

[2021-05-10 15:30] nikithamalgifb commented on #57937
Is there a small reproducer which we can look at?

[2021-05-10 15:32] ejguan commented on #57429
Closing this issue. Feel free to re-open it if you have further question.

[2021-05-10 15:32] #57429 closed

[2021-05-10 15:35] ezyang commented on #42155
Normally when you open files, those files are disk backed. However, the filesystem at `/dev/shm` is special, and it is backed by memory. However, when you put stuff in memory that exceeds your physical RAM, your OS can move it back to disk (swapping).

If you want to be able to stick some tensors in disk and pull them out just when you need them, there are some people who have done some stuff out

[2021-05-10 15:36] ezyang commented on #57457
Shouldn't leak more than a constant amount of memory, OpenMPI spawns new threads but these are process global statics

[2021-05-10 15:58] mfkasim1 commented on #57649
Still fails.

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "/home/mfkasim/anaconda3/envs/torchdev/lib/python3.8/site-packages/torch/autograd/gradcheck.py", line 1212, in gradgradcheck
        return gradcheck(
      File "/home/mfkasim/anaconda3/envs/torchdev/lib/python3.8/site-packages/torch/autograd/gradcheck.py", line 1088, in gradcheck
        ret

[2021-05-10 16:05] malfet commented on #57206
No longer reproduces, closing...

[2021-05-10 16:05] #57206 closed

[2021-05-10 16:05] Lilyjjo commented on #57490
What is happening is that os.py module manipulates `sys.modules` with: '`sys.modules['os.path'] = path`' where `path` is a dynamically determined module, creating `path` as a module attribute on `os`. Our current code will throw an error on import because when processing statements like `import os.path` we check to make sure that parent modules like `os` are actually packages

[2021-05-10 16:11] v0dro opened #57955 "triangular_solve should accept an out parameter."
## 🚀 Feature

The `torch.triangular_solve` function forces creation of a new tensor and does not allow for overriding the original `B` tensor passed in as an argument.

Adding an `out` argument should optionally give the user more control over whether or not to override the input, similar to `overwrite_b` in `scipy.linalg.solve_triangular`.

## Motivation

Needed to perform destructive triangular

[2021-05-10 16:20] #55662 closed

[2021-05-10 16:39] scaomath opened #57956 "A bug on the document interpreter in `torch.autograd.profiler` help page"
## 🐛 Bug
In
https://pytorch.org/docs/stable/autograd.html#torch.autograd.profiler.profile.key_averages
The help looks like the following
<img src="https://sites.wustl.edu/scao/files/2021/05/pytorch-help.png" width="600">
## Reason
In the help of the `group_by_input_shapes`
https://github.com/pytorch/pytorch/blob/b587354e4c88d01600ff5da917efa392bfec122e/torch/autograd/profiler.py#L275-L289
The inte

[2021-05-10 16:59] nikithamalgifb commented on #57698
@FloydHsiu : I have assigned you the issue. If you are not able to work on this any further please feel free to unassign the issue and add it back to the queue. Thanks again for your valuable contribution

[2021-05-10 17:04] ngimel commented on #17008
Closing due to age, also, this doesn't work in numpy, and is not supposed to work in pytorch.

[2021-05-10 17:19] nikithamalgifb commented on #57710
The error seems to indicate that the `forward` method is being redefined. Is it being redefined anywhere in `wav2vec2.py` or any other files being used here?

[2021-05-10 17:21] mrshenli opened #57960 "Use the same CUDA stream for all RPCs within the same dist autograd context"
Today, each RPC will grab a stream from pool and run the target function. This works for RPC itself. However, the entire training loop contains forward-backward-opt. We have to make sure that all ops in the three steps are synchronized properly. Individual CUDA RPC stream syncs won't address the problem, as there are multiple RPCs launched separately. We tried to fix some of that problem by enforc

[2021-05-10 17:21] mrshenli commented on #57960
cc @pbelevich  @lw @beauby

[2021-05-10 17:22] mruberry commented on #57947
We should be more consistent about our tensor creation UX.

[2021-05-10 17:27] #30696 closed

[2021-05-10 17:28] ngimel commented on #57744
cc @ptrblck. Can you please forward it to cupti team? This is a serious issue that we cannot avoid as long as we link cupti statically, and it should be fixed on the cupti side.

[2021-05-10 17:28] malfet commented on #57747
Discussed this issue during triage review: let's disable optimizer support as it is no longer supported.

[2021-05-10 17:28] rfeinman commented on #55279
I put together a write-up of the proposed API [here](https://pytorch-minimize.readthedocs.io/en/latest/api/index.html). It includes a summary of both the functional and object-oriented APIs that I've mentioned. Would be curious to hear your thoughts.

[2021-05-10 17:31] vadimkantorov commented on #57947
I would argue that torch.lerp is one of those examples where using Python constant `0` or `1` makes sense (and also promoting them to 0.0 or 1.0 if needed) as one of arguments

[2021-05-10 17:32] vadimkantorov commented on #57947
Also making a weighted average of two uint8 inputs is a frequent operation for image processing: https://github.com/pytorch/pytorch/issues/54389

It would be nice to avoid spending memory for explicit casts (and also quadrupling the memory)

[2021-05-10 17:44] ptrblck commented on #57744
Yes, I'll forward it and will keep you updated here.

[2021-05-10 17:47] albanD commented on #55368
What if the input requires_grad=True? Which would be the case if the Linear is not the first layer in your net.