[2020-04-25 00:26] #36452 closed

[2020-04-25 00:44] raghuramank100 opened #37270 "Broadcasting does not work for Quantization aware training with multiple GPUs"
Repro code and error info are at:
https://discuss.pytorch.org/t/quantization-awareness-training-multi-gpu-suport/66106

Snippet of error at:
Traceback (most recent call last):
File “train_quantization.py”, line 258, in
main(args)
File “train_quantization.py”, line 77, in main
model = torch.nn.parallel.DistributedDataParallel(model, device_ids=[args.gpu])
File “xxx/.conda/envs/pytorch1.3/lib/python

[2020-04-25 00:47] raghuramank100 commented on #36645
Yes, we do not support quantization on CUDA as part of pytorch. TensorRT provides a way to quantize models.

[2020-04-25 00:47] #36645 closed

[2020-04-25 01:04] fgvbrt opened #37272 "Torch norm error on gpu tensors"
## 🐛 Bug

`torch.norm` throws error, when I use it on gpu tensor with `dim` argument and `keep_dims=True`

## To Reproduce

Steps to reproduce the behavior:
[code]
error:
[code]

## Expected behavior
I expect to get norm of tensor as in case with cpu tensor

## Environment
PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Ubuntu 18.04.3 LTS
GCC version: (Ubuntu 7.5.0-

[2020-04-25 01:06] xwang233 commented on #36004
@choidongyeon It seems like you can start from here. https://github.com/pytorch/pytorch/blob/f2bae8e86912bbad407294be6e18e4cdd7c8c4b5/aten/src/ATen/core/Formatting.cpp#L230-L233

[2020-04-25 01:08] #35861 closed

[2020-04-25 01:08] fgvbrt commented on #37264
It's not a but,  gpus ops are async here is relevant section:
https://pytorch.org/docs/stable/notes/cuda.html#asynchronous-execution

you can either set env variable or  `CUDA_LAUNCH_BLOCKING=1` or call ` torch.cuda.synchronize()` before measuring time according to this documentation

[2020-04-25 02:02] chenhao1umbc commented on #37264
OK, I see. Thanks.

[2020-04-25 02:02] #37264 closed

[2020-04-25 02:26] malfet commented on #37248
Hmm, when test fails order of operators in the profile is slightly different then expected.
Here is an example of incorrect order:
[code]

And here is order expected by the test:
[code]

[2020-04-25 02:30] ezyang commented on #37216
cc @ilia-cher, I think the diff you have in preparation will fix this

also cc @jamesr66a for visibility

[2020-04-25 02:31] ezyang commented on #36941
Yes, it sounds like the rpath for libc++ is incorrectly set on the wheel packages. We should not be rpath'ing it at all.

[2020-04-25 02:34] ezyang commented on #34294
@hameerabbasi If it's just tests holding up the issue, maybe we should just manually test cat :) BTW, the in progress PR to fix is https://github.com/pytorch/pytorch/pull/34725 It looks like it's been a month, does there need to be some unblocking here?

[2020-04-25 03:19] zhoulukuan opened #37278 "Overflow and get a very large number when using torch.topk"
When I use torch.topk to get the index, I find that the program will stop quickly after several training iters because of `Pyorch-CUDA error: device-side assert triggered, THCTensorScatterGather, Assertion indexValue failed`.
I printed the index and found sometimes torch.topk will get a very large number such as tensor(9223372034707292159, device=‘cuda:0’) and as a results, the program cannot get

[2020-04-25 03:59] malfet commented on #37248
Most likely reason for that, is that `empty_strided` and `to` happen at the same time withing 1 microsecond resolution, which is what is currently available on Darwin. https://github.com/pytorch/pytorch/pull/37280 fixes the issue by using a high resolution timer.

[2020-04-25 04:35] luyuandeng opened #37282 "python setup.py install error"
## 🐛 Bug

  I do like this on a arm64 server

Step1:
 git clone http://github.com/pytorch/pytorch
cd pytorch
git checkout v:1.2.0
git submodule update --init --recursive

Step2：

sudo pip3 install -U setuptools
sudo pip3 install -r requirements.txt

Step3： 正式安装

sudo python3 setup.py install

## Additional context
[code]

**how to deal :  c++: error: unrecognized command line option ‘-mfpu=neon**

[2020-04-25 04:44] MysteryVaibhav commented on #22488
Any update on this ?

[2020-04-25 05:55] n2cholas opened #37286 "torch.jit.script issue: RuntimeError: select() cannot be applied to a 0-dim tensor."
## 🐛 Bug

The following code should run but does not:

[code]

Here is the error produced when running the above code:

[code]

## Expected behavior

The code without the `@torch.jit.script` decorator prints:

[code]

## Environment
I tried this on Google Colab with PyTorch 1.4.0 and 1.5.0

 - PyTorch Version (e.g., 1.0): 1.4.0 and 1.5.0
 - OS (e.g., Linux): Linux
 - How you installed PyTorch (`co

[2020-04-25 06:14] Baranowski commented on #36493
True. Since I've assigned this to myself, I will also assign the other issue to myself, until I know whether there is a single solution to both.

[2020-04-25 06:23] ngimel commented on #37272
This has been fixed on master and in 1.5

[2020-04-25 06:30] charlyromero opened #37287 "Google Colab error"
I am running Demucs in Google Colab, and when I execute a command I get the following error

AssertionError:
The NVIDIA driver on your system is too old (found version 10010).
Please update your GPU driver by downloading and installing a new
version from the URL: http://www.nvidia.com/Download/index.aspx
Alternatively, go to: https://pytorch.org to install
a PyTorch version that has been compiled

[2020-04-25 06:55] hameerabbasi commented on #34294
@ezyang I’ve been prioritising PyTorch/rfcs#3 over it. I just opened #37091.

I could remove the automatic test gen from #34725 if you like.

[2020-04-25 06:55] cdluminate opened #37290 "Depreate third_party/foxi?"
## Motivation

onnx-1.6.0 provides the same `onnxifi_loader.*` files as provided by foxi. Is there any point to keep foxi in the repository?

[code]

[2020-04-25 07:45] cdluminate commented on #37290
Sorry for the noise. The headers (`onnxifi.h`, `onnxifi_ext.h`) differ significantly between onnx and foxi

[2020-04-25 07:45] #37290 closed

[2020-04-25 08:18] jiahuei opened #37291 "Wrong description of `apply`"
## 📚 Documentation

I am referring to the [doc](https://pytorch.org/docs/stable/_modules/torch/nn/modules/module.html#Module.apply) for `nn.Module`.

For `apply`, the doc says that it "applies fn recursively to every submodule (as returned by **`.children()`**) as well as self".
However, it seems that "(as returned by **`.modules()`**)" would be more accurate.

Example code:
[code]
Outputs:
[code]

[2020-04-25 09:31] vadimkantorov commented on #37278
For me this happened (long time ago) when input contained inf or nan

[2020-04-25 09:50] LuciusLan commented on #27837
I encountered same error with Pytorch 1.4.0, RTX2060, windows10, also training an LSTM.
Trying to upgrade to pytorch 1.5.0 now and will report again.

[2020-04-25 10:03] ilia-cher commented on #37216
@ezyang I'm blocked on dispatcher side of things now because dispatcher now fails on mobile, we can land server-only fix but it this is not optimal

[2020-04-25 10:04] ilia-cher commented on #37216
originally seems to be caused by https://github.com/pytorch/pytorch/pull/36766

[2020-04-25 10:08] ilia-cher commented on #37216
(the fix https://github.com/pytorch/pytorch/pull/37292)

[2020-04-25 10:13] ilia-cher commented on #37216
actually "Unrecognized tensor type ID: Profile" should be fixed in https://github.com/pytorch/pytorch/pull/37194

[2020-04-25 11:49] margiki commented on #37287
I get the same error... My current solution involves downgrading to PyTorch 1.4

[2020-04-25 12:14] jamesr66a commented on #37248
I think this change (https://github.com/pytorch/pytorch/pull/37297) should also fix the issue even if a nested event has the same recorded start timestamp as its parent: https://github.com/pytorch/pytorch/pull/37297

[2020-04-25 12:45] aaripakaprashad opened #37298 "USE_MKLDNN=1 is must for cross compiling on x86 for arm rpi ?"
want to know usecase of USE_MKLDNN

console log:
--   USE_MKLDNN            : OFF
disabling MKLDNN because USE_MKLDNN is not set

console log saying USE_MKLDNN is OFF.

-
-- ******** Summary ********
-- General:
--   CMake version         : 3.8.2
--   CMake command         : /home/prashad/install_durga/sysroots/x86_64-rdksdk-linux/usr/bin/cmake
--   System                : Linux
--   C++ compiler

[2020-04-25 12:56] uchihaltachi opened #37299 "Could not run 'aten::index_select' with arguments from the 'QuantizedCPUTensorId' backend."

[2020-04-25 13:16] JulienMaille commented on #27376
@tensorbuffer this kind of trick?
[code]

[2020-04-25 13:20] meder411 opened #37300 "Data caching module a la `Sampler`"
## 🚀 Feature

A data caching module that can be instantiated as passed into a dataloader, similar to the way a sampler or dataset can currently. This module would accept a cache path, epoch to cache on, train/test flags if different behavior is desired depending on the mode, and perhaps other fields as well, depending on a set of most common needs. I imagine there would be some flag, `write_cache`

[2020-04-25 13:32] wly2014 commented on #5953
I also met this behavior of LBFGS after some steps when I used it in multi-batch, may it can not be used in multi-batch?

[2020-04-25 14:01] rgommers commented on #30416
Thanks @mattip. The two options here are:

1. Assume https://github.com/IvanKobzarev/fbjni will remain in place, close this issue.
2. Add a commit on top of `v1.3.1` to point the submodule to https://github.com/facebookincubator/fbjni/commit/dc916917e15 instead, and then move the git tag to that new commit. Moving tags is not great practice, it could break some things like if people rely on `v1.3.

[2020-04-25 14:18] neoandrevictor commented on #37022
I moved the CUDA dll file to system32 and reinstalled pytorch and the problem was resolved

[2020-04-25 14:23] tovacinni commented on #35870
I seem to be having this same issue too, specifically in Conv2d on a RTX 8000. Are there any updates on this?

[2020-04-25 14:31] Diego999 commented on #20613
Any news on this or faster way of doing it with 1.5.0 ?
@colesbury @lerks @vishwakftw @jerryzh168

[2020-04-25 15:34] KANGRuipeng opened #37303 "C++ extension example of Pytorch1.5.0"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

Could you give an example of c++ extension of Pytorch1.5.0?

[2020-04-25 15:54] #37303 closed

[2020-04-25 16:22] adampauls commented on #37269
I need to read this code a bit more. I still don’t understand if I should expect matmul to work because I don’t see a case for it on PropagateCompletrShapeOnNode but it looks like the code path I was looking at is not concerned with complete tensors.

[2020-04-25 16:22] #37269 closed

[2020-04-25 16:27] vadimkantorov commented on #37272
offtopic: why complex conjugate was being called for non-complex tensor? https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/LinearAlgebra.cpp#L556

Also I wonder if `sqrt((self*self),sum(dim)` has again numerical instability / gradient blowup at 0 of sqrt and no eps used

[2020-04-25 17:00] inspiros opened #37306 "Pytorch 1.5.0 requires_grad being automatically set to false in C++ registered operators"
## 🐛 Bug

Autograd no longer works on registered operators in pytorch verison **1.5.0**. I'm not sure if it is a bug or new feature. If it is an API change then how this thing supposed to work from now on because my project heavily relies on it.

## To Reproduce

Steps to reproduce the behavior:

1. Register an operator:
[code]
2. Load it in python side:
[code]
3. Call it on tensors that require g

[2020-04-25 17:34] leimao commented on #36268
@mrshenli
I tried the PyTorch 1.5.0 which was just formally released a few days ago. The official tutorial ["GETTING STARTED WITH DISTRIBUTED DATA PARALLEL"](https://pytorch.org/tutorials/intermediate/ddp_tutorial.html) (looks like you are the author) failed using PyTorch 1.5.0 but worked in PyTorch 1.4.0. Was your patch included in the PyTorch 1.5.0?

[2020-04-25 18:52] praveen-14 opened #37308 "MKL-DNN mkldnn_convolution_backward slower in v0.21.1"
## 🐛 Bug

Hi, MKL-DNN's mkldnn_convolution_backward operation is slower in v0.21.1 than v0.18.1.
v0.21.1 was included in Pytorch I built from source with cuda, MPI support and its better if there's a way to get rid of this slowness in this environment as MPI support is vital. pytorch-nightly-cpu installed from conda on a fresh environment with MKL_DNN v0.18.1 seems to work fine. Also in the torch

[2020-04-25 19:42] rgommers commented on #36560
The discussion on adding a `force` keyword to `__array__` is happening on the NumPy mailing list:
https://mail.python.org/pipermail/numpy-discussion/2020-April/080574.html

This discussion has more detail than gh-13568, so I'll close that as a duplicate.

Adding a `force` keyword to `.numpy()` is gh-20778, and that is actionable now, if anyone wants to open a PR.

[2020-04-25 19:44] rgommers commented on #13568
There's gh-20778 to add a `force` keyword to `.numpy()`, and gh-36560 which is essentially a duplicate of this issue with more detail/rationale. So I'll close this issue.

[2020-04-25 19:44] #13568 closed

[2020-04-25 19:50] lopuhin commented on #34130
This looks like an important usability regression, as a lot of errors in the data loader won't be visible to the user (only the error in reraise would be visible), so in case of the dataloader crash we need to re-run with 0 workers, instead of seeing the traceback right away.

[2020-04-26 00:53] adamsvystun commented on #35642
I second this, would be a great enchancement and remove a lot of boilerplate code from people's projects.

I think this can be implemented on the level of `DataLoader`. In the same way there is a `shuffle` flag, there might be a `cache` boolean flag, that automatically caches the dataset loading. Very simple.

[2020-04-26 02:03] charlyromero commented on #37287
Thank you very much, thanks to what you told me I was able to solve it

[2020-04-26 02:11] JianpingChen066 commented on #37216
yes, it fixed

[2020-04-26 02:11] #37216 closed

[2020-04-26 02:20] JianpingChen066 commented on #36038
This look like caused by the jemalloc MALLOC_CONF, remove the following export, the performance will back
[code]
I will close this issue, thanks

[2020-04-26 02:32] pinzhenx commented on #37308
Have you had a chance to test the latest pytorch, as we have upgraded MKLDNN to v1.2 last month by [this PR](https://github.com/pytorch/pytorch/pull/32422). If the performance issue still exists, the fix will only be patched on latest branch.

You may add this line `import torch.backends.mkldnn`

[2020-04-26 02:36] WenmuZhou commented on #37212
cuda 10, drive 410.104,V100 alse

[2020-04-26 02:51] peterjc123 commented on #37212
@WenmuZhou Could you please share your install command and your environment by doing `python -m torch.utils.collect_env`?

[2020-04-26 03:58] nbcsm commented on #37068
just curious, technically ready means there is already a run-able implementation?

[2020-04-26 03:58] #37182 closed

[2020-04-26 04:31] WenmuZhou commented on #37212
install command is `pip3 install torch`
outptu of `python -m torch.utils.collect_env` is
[code]

[2020-04-26 05:16] opentld commented on #37212
Collecting environment information...
PyTorch version: 1.5.0
Is debug build: No
CUDA used to build PyTorch: 10.2

OS: Microsoft Windows 10 家庭中文版
GCC version: Could not collect
CMake version: version 3.14.0

Python version: 3.7
Is CUDA available: No
CUDA runtime version: 10.2.89
GPU models and configuration: Could not collect
Nvidia driver version: Could not collect
cuDNN version: C:\Program Files\

[2020-04-26 05:54] peterjc123 commented on #37212
What is version of your GPU driver? You can use nvidia-smi to get that info.

[2020-04-26 06:11] wanxinzzz commented on #35180
For me, this issues could simply solve by
[code]

[2020-04-26 06:47] #37291 closed

[2020-04-26 07:25] Godricly opened #37313 "Profiler occupies unassigned GPU memory with DDP"
## 🐛 Bug
The profiler creates allocated extra memory on the GPU thats not suppose to use.

## To Reproduce

Steps to reproduce the behavior:

* `main.py`
[code]
* `comm.py`
[code]

1. download codes.
1. run `python main.py`

## Expected behavior
[code]
## Environment
[code]
## Additional context

[2020-04-26 07:27] opentld commented on #37212
I got the problem.
For some reasons，the video card drivers are missing，re-install drivers solved this problem.
Thank you! @peterjc123

[2020-04-26 07:27] #37212 closed

[2020-04-26 07:28] Godricly commented on #37313
pytorch 1.4 works fine. FYI.

[2020-04-26 07:29] ptrblck commented on #35870
Thanks for pinging. I'll grab a node with this GPU and try to reproduce this issue.

[2020-04-26 07:29] peterjc123 commented on #37212
@WenmuZhou Would you please open a new issue to get more attention?

[2020-04-26 08:16] zeyu-hello commented on #36214
the pytorch pruner just mask zeros in weight tensor, so the computation ops are still the same.

[2020-04-26 08:41] mruberry commented on #35471
This issue was addressed in https://github.com/pytorch/pytorch/pull/36456.

[2020-04-26 08:41] #35471 closed

[2020-04-26 08:41] mruberry commented on #36462
https://github.com/pytorch/pytorch/pull/36456 implements isclose for complex tensors. It decided to wait on handling the equal_nan keyword pending NumPy's discussion.

[2020-04-26 08:41] #36462 closed

[2020-04-26 08:43] mruberry opened #37314 "equal_nan keyword not implement for complex torch.isclose"
See discussion in https://github.com/pytorch/pytorch/issues/36462.

When implementing complex isclose we decided to wait on implementing equal_nan behavior, since the proposed equal_nan behavior would require a custom kernel to be fast, and NumPy's equal_nan behavior on complex tensors is not yet resolved.

[2020-04-26 08:46] peterjc123 commented on #25393
I can now stably reproduce a related error by passing in `--Werror cross-execution-space-call`.
[code]

[2020-04-26 08:51] mruberry opened #37315 "Deprecation warnings appear inconsistently"
Today in PyTorch our deprecation warnings sometimes use the TORCH_WARN macro and other times the TORCH_WARN_ONCE macro, creating inconsistent behavior. This issue is to discuss what behavior deprecation warnings should have. Two suggestions are:

- They should always warn once. Users complain of excessive warnings and they can spam logs.
- They should always warn. Ensuring users see deprecation wa

[2020-04-26 09:04] Edwardmark commented on #37201
@glaringlee @gchanan
I tried the following code and it worked, but I am wondering, what if the outputs is pointer of gpu data?
[code]

[2020-04-26 09:11] janblumenkamp commented on #36748
Would love to see such a feature! In the meantime, the outdated [pytorch_unique package](https://github.com/rusty1s/pytorch_unique) demonstrates a way to achieve this:

[code]
Not sure if that is the most efficient way though.

[2020-04-26 09:12] lkskstlr commented on #33701
@ngimel I have made a PR for this and would be happy to hear your opinion and potentially improve the pull request.

[2020-04-26 09:36] peterjc123 commented on #25393
By commenting some part of the code, I find the code that causes the previous error.
[code]

[2020-04-26 11:12] Black-sodiq opened #37317 "I got a oserror while importing torch after installing pytorch."
![20200426_114542](https://user-images.githubusercontent.com/47804704/80305763-d379e480-87b6-11ea-83b3-672a86e25195.jpg)
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

[2020-04-26 11:14] praveen-14 commented on #37308
Thanks for the info!
Probably I had set OMP_NUM_THREADS to 1 or 2 while testing yesterday. I took following performance data after unsetting KMP_AFFINITY and OMP_NUM_THREADS. Unsetting these vars narrowed the gap but new version is still slower. This gap is about 2x for my original application.

I believe there's no way to link DNNL 1.2 to compiled PyTorch. So I will compile PyTorch only for cpu.

[2020-04-26 11:21] tomerip commented on #11202
Thanks @morawi for clarifying the use of batches, I understand it now.
I changed your code snippet just a little to use my code correctly (included permutation of dimension)

The results of my suggestion match `sklearn cdist` and `torch dist`, but there's also a very important distinction.
As you can see, with your code, for 10 vectors of d=7, you get 10 scalars as output. These represent the cosi

[2020-04-26 11:53] CyanideBoy commented on #20140
@naqute Does this work for gpu systems which are incompatible with tensorflow 1.14? My CUDA version won't support tf 1.14 :(

[2020-04-26 11:59] BridgetteSong opened #37318 "torch.onnx.symbolic_opset10._thnn_fused_gru_cell does not exist"
when i try to export torch onnx model ,i got the this error.
UserWarning: Exporting a model to ONNX with a batch_size other than 1, with a variable lenght with GRU can cause an error when running the ONNX model with a different batch size. Make sure to save the model with a batch size of 1, or define the initial states (h0/c0) as inputs of the model.
  "or define the initial states (h0/c0) as inpu

[2020-04-26 12:00] naqute commented on #20140
Sorry, my cuda is compatible with tf 1.14.0. I can not answer your question.

---Original---
From: "Syomantak Chaudhuri"<notifications@github.com&gt;
Date: Sun, Apr 26, 2020 19:53 PM
To: "pytorch/pytorch"<pytorch@noreply.github.com&gt;;
Cc: "Mention"<mention@noreply.github.com&gt;;"NaQ"<1142636895@qq.com&gt;;
Subject: Re: [pytorch/pytorch] TensorBoard logging requires TensorBoard with Python summa

[2020-04-26 12:36] lihuiknight commented on #14489
@sebftw  Cool. Any ideas to conduct a batch of sparse matrix multiplication. For example, I have a batch of sparse matrix and each sparse matrix A_i has shape m_i*n_i. Note that for different i and j, m_i <> m_j, n_i <> n_j. Also, we have a batch of dense matrix and each dense matrix B_i has shape n_i*d (d refers to the embedding size, so all the samples share the same dimension d but they have di

[2020-04-26 13:09] #34862 closed

[2020-04-26 13:09] peterjc123 commented on #33793
@pbelevich I solved an issue that may be related to this in https://github.com/pytorch/pytorch/pull/37302. Would you please try again based on that PR?

[2020-04-26 13:12] peterjc123 commented on #25393
Well, I figured out the reason. It seems that `move` and `forward` are implicitly marked as `__HOST__` and `__DEVICE__`. This behavior can be disabled by adding `--no-host-device-move-forward`.

[2020-04-26 13:45] peterjc123 commented on #37317
Are you using a CUDA variant of PyTorch on a PC without GPU? If yes, then please install the CPU-only version instead.

[2020-04-26 13:46] WenmuZhou opened #37320 "torch.cuda.is_available() get false on cuda10"
install command is pip3 install torch
outptu of python -m torch.utils.collect_env is
[code]

cc @ezyang @gchanan @zou3519 @ngimel

[2020-04-26 16:22] sebftw commented on #14489
@lihuiknight You can look at how it is done in PyTorch Geometric ([Link](https://pytorch-geometric.readthedocs.io/en/latest/notes/batching.html)), since graphs are often sparse, with dense data, this is a common use case. Essentially they place the sparse matrices into a large diagonal block matrix (called a direct sum), and multiply this matrix by the concatenated inputs.

[2020-04-26 16:43] mickypaganini commented on #37138
Correct. It would have to be modified to do the right thing, depending on the state the module has been put into by previous reparametrizations -- in that sense, it has to have knowledge of them. Then, yes, in practice, at least in this case, this would simply mean creating different logical pathways in weight norm (and in pruning too, for that matter) to allow the reparametrization of a parameter

[2020-04-26 17:02] glaringlee commented on #37201
@Edwardmark
If the output ptr is from gpu, you need to pass a tensor options obj and set the device type to gpu device type, the default device type is CPU. Check here:
https://github.com/pytorch/pytorch/blob/9f0289743157b9c1e54ff47f7f11e3633f1ebf8f/aten/src/ATen/templates/Functions.h#L24

You code will be like
out = torch::from_blob(outputs[i], {1, num, dim, dim},
torch::Device(torch::kCUDA, 0).d

[2020-04-26 17:05] mickypaganini commented on #36214
As far as I know, for memory concerns, you can use `.to_sparse()`.
Example:
[code]
Then `ls -lht *.pth` should return:
[code]

This only works if you prune your tensor by a large enough amount that representing it in coordinate space is actually memory efficient.

You can look at `torch.sparse` to see what ops are then supported on these sparse tensors. Note that this is marked as experimental and

[2020-04-26 18:46] Ge0rges opened #37322 "copy.deepcopy() breaks when pruning is set on sequential"
## 🐛 Bug

Given a a subclass of nn.module which has nn.Sequential() parameters. If we register a pruning method on a subset of those parameters, deep_copy fails.

## To Reproduce

Steps to reproduce the behavior:

1. Subclass nn.module
2. Create an attribute and set it to nn.Sequential(ModuleList)
3. Register a pruning method on the parameters within ModuleList

  Below is a stack trace:

## Expec

[2020-04-26 19:16] ethman commented on #37320
+1

Also pip installed: pip -U install pytorch torchvision
Output of python -m torch.utils.collect_env:

    $ python -m torch.utils.collect_env
    Collecting environment information...
    PyTorch version: 1.5.0
    Is debug build: No
    CUDA used to build PyTorch: 10.2

    OS: Ubuntu 18.04.2 LTS
    GCC version: (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
    CMake version: version 3.10.2

    Python

[2020-04-26 20:05] lucmos commented on #37142
I *think* I'm hitting the same problem!

I do not use directly `permute` but I use `einsum` that probably calls `permute` behind.

A small comparison of my train loop speed:

7 it/s in PyTorch 1.5
45 it/s in PyTorch 1.3

(I skipped the 1.4 since I am hitting [this](https://github.com/pytorch/pytorch/issues/32395))

[2020-04-26 20:11] izdeby commented on #37317
@Black-sodiq, could you, please, provide more info on how to reproduce the issue?

[2020-04-26 20:12] #37317 closed

[2020-04-26 20:12] izdeby commented on #37318
Please, use our [forum](https://discuss.pytorch.org/) for questions.

[2020-04-26 20:12] #37318 closed

[2020-04-26 20:14] izdeby commented on #37287
Please, use the [forum](https://discuss.pytorch.org/) for the questions.

[2020-04-26 20:14] #37287 closed

[2020-04-26 20:17] ngimel commented on #37142
@lucmos do you have a repro script for your problem?

[2020-04-26 20:17] #37272 closed

[2020-04-26 20:18] izdeby commented on #37299
@uchihaltachi, could you, please, provide repro steps?

[2020-04-26 20:18] #37299 closed

[2020-04-26 20:19] izdeby commented on #37298
Please, use our [forum](https://discuss.pytorch.org/) for questions.

[2020-04-26 20:19] #37298 closed

[2020-04-26 20:20] sharvil commented on #37138
@mickypaganini, do your proposed changes handle the situation I described above? Given a sequence of operations (prune -> reparameterize -> forward), I would like to increase the pruning rate as a function of training step by applying additional pruning methods between (prune -> reparameterize).

It seems to me that automatic folding and `remove` are incompatible with each other. If I apply prunin

[2020-04-26 20:21] izdeby commented on #37278
Please, use our [forum](https://discuss.pytorch.org/) for questions.

[2020-04-26 20:21] #37278 closed

[2020-04-26 20:25] ngimel commented on #37259
cc @ilia-cher

[2020-04-26 20:28] #37203 closed

[2020-04-26 20:29] izdeby commented on #37203
Please, use our [forum](https://discuss.pytorch.org/) for questions.

[2020-04-26 20:37] vadimkantorov opened #37323 "torch.norm is numerically unstable at zero for multidim reductions"
Note the inconsistent gradient computation:

[code]

[code]

Relevant code: https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/LinearAlgebra.cpp#L558

Relevant discussion: https://github.com/pytorch/pytorch/issues/37272#issuecomment-619405043

cc @ezyang @SsnL @albanD @zou3519 @gqchen @ngimel

[2020-04-26 20:42] lucmos commented on #37142
@ngimel No, not at the moment, I'm sorry.
It's a messy research code, and I only noticed a huge speed loss with PyTorch 1.5. I'm not sure what is the cause thus I'm not able to easily create a minimum working example.

[2020-04-26 21:07] ngimel commented on #37272
Calling conjugate was a bug that was fixed. norm_backward has special handling for zero norms https://github.com/pytorch/pytorch/blob/a5af478f29efbb25eb7d16897c355b617576571f/tools/autograd/templates/Functions.cpp#L115-L116

[2020-04-26 21:17] SamNPowers opened #37324 "Multiprocessing: model shared between processes hangs during copy.deepcopy"
## 🐛 Bug

I have a model that is used on a couple of processes. Periodically I'd like to be able to duplicate it (and move the new one to a new process) without having to kill the processes using it. Right now, even if the processes aren't even actively doing anything, the code will eventually hang during the copy.deepcopy(). What's the proper way to do duplication in this case?

It doesn't seem t

[2020-04-26 21:21] vadimkantorov commented on #29013
This can also be useful for casting bool<->uint8 for no-copy casting legacy ByteTensor masks

[2020-04-26 21:39] vadimkantorov commented on #37272
@ngimel Yes, but not the multidim inline formula. I filed a new issue for it: https://github.com/pytorch/pytorch/issues/37323

[2020-04-26 21:41] vadimkantorov commented on #37323
There can be other similar bugs where multidim path is different from special-case-handling default path

[2020-04-26 21:48] xkszltl opened #37325 "Upgrade NCCL submodule"
## Bug

When NCCL tries to use shm, it crashed with `invalid argument`:
[code]

We noticed that pytorch has NCCL 2.4.8 embedded.
For now we used `NCCL_SHM_DISABLE=1` as an workaround.
This issue has been fixed in 2.6.4 and we confirmed on our side, so maybe it's time to upgrade.

## Environment
 - PyTorch Version (e.g., 1.0): master
 - OS (e.g., Linux): Ubuntu 18.04
 - How you installed PyTorch (`

[2020-04-26 22:11] ndronen commented on #35643
I really dislike the try/except block in `forward`. It would be straightforward, and possibly more performant, to inspect the signature of the hook at the time it is registered and use that knowledge to invoke the hook without causing a `TypeError` to be raised by hooks written for the current version of the hook API.

[2020-04-26 22:37] pearu commented on #34606
The PR #35607 breaks build with the following error:
[code]
in Ubuntu 18.04 when building from conda environment.

[2020-04-27 02:18] lihuiknight commented on #14489
@sebftw  Thanks a lot. Your suggestion is really helpful.

[2020-04-27 02:20] jdklee commented on #35954
@Justin-Huber  Did you get a crack at this? I was wondering maybe we could both work on it?

[2020-04-27 02:28] emcastillo commented on #37154
Seems the problem here is that the gradient that serving as an input for the sqrt backward pass has negative values

[2020-04-27 02:53] ZZZZZZZZJ commented on #37120
@ngimel I met the same error, but I cannot update the Cuda version for now.
Are there any ways to get the previous **source version** of PyTorch, which supported Cuda 9.0?
The binary supported by Cuda 9.0 only provides Pytorch 1.1.0, but I want a higher version.

[2020-04-27 03:00] ngimel commented on #37120
You can try checking out some older source tree versions, probably dating ~month back, that's about when we stopped working around cuda 9.0 bugs. You can also search commit history for when cuda 9 workarounds were deleted.

[2020-04-27 03:11] guol-fnst commented on #32699
I'd like to work on this issue.

[2020-04-27 03:11] emcastillo commented on #37154
I cloned the cdist function in Python to make debugging easy and it also yields Nans

[code]

[2020-04-27 03:20] cdluminate opened #37332 "Concerning default confiugration for distribution packages"
Following the [work towards a distro-friendly build system](https://github.com/pytorch/pytorch/issues/14699), a question spontaneously comes up in my mind: what's the recommended default configuration for a pytorch package provided by linux distribution?

Currently I'm building debian packages of pytorch (cpu-only) with the following configurations:
[code]

Does that look like a good default?

We

[2020-04-27 03:26] Justin-Huber commented on #35954
@jdklee No I haven't, that sounds good to me! Let me know if you fork it and we can work on that together :)

[2020-04-27 03:39] b675987273 opened #37334 "Why do we not use TorchScript to build graph for tensorboard"
## 🚀 Feature

TorchScript looks like support the work flow. And trace-graph will miss it. I find that we support TorchScript to complie the if-condition. Is it we do not have engouh motivation to level-up the tesnorboardx.?

## Motivation

oh I just found that keras's graph have more information than pytorch in tensorboard. Maybe pytorch's graph can bcome better.

## Pitch

I hope model can create

[2020-04-27 03:55] wolfviking0 commented on #37120
@ZZZZZZZZJ just revert the commit here you should be able to bring back the support

https://github.com/pytorch/pytorch/commit/60c3060621f5f4073f5a5fdaa53b8bed5c2e919a#diff-07b95fb3ddf54d216101fe94b524719d

[2020-04-27 04:45] ngimel commented on #37154
We could either clamp to some eps value rather than zero (performant but less accurate) or use a workaround that is currently used to return subgradients for norm https://github.com/pytorch/pytorch/blob/a5af478f29efbb25eb7d16897c355b617576571f/tools/autograd/templates/Functions.cpp#L115-L116, which is less performant because one has to find and mask zero values.

[2020-04-27 04:47] emcastillo commented on #37154
I just found that in the original cuda kernel
https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/DistanceKernel.cu#L61

the gradient is 0 if the input is 0.
is it possible to add such condition in `derivatives.yaml`?

[2020-04-27 06:03] Niohori opened #37336 "Pytorch crashes while training a simple MNIST classification problem"
## 🐛 Bug

Attempting to train on a GPU a basic MNIST classification, results in a runtime exception
"Process finished with exit code -1073741819 (0xC0000005)"
Making inferences with the model runs without any problem.
Debugging finishes at the function  autograd/-init-.py line98 Variable._execution_engine.run_backward(args), where the systems crashes.
Tracing the memory of the RTX2080Ti GPU shows

[2020-04-27 06:32] tmbdev commented on #20822
We've built a number of tools for petascale training at NVIDIA. These are built with easy transition from file-based datasets in mind and are based on widely used, open standards. In particular, datasets are stored as POSIX tar archives, meaning that they are stored in bit-identical form to the way they were stored on disk and that existing PyTorch augmentation pipelines work without change.

We a

[2020-04-27 07:05] ptrblck commented on #37336
The error code points to a memory access violation.
Since you are using an RTX GPU, could you install the binaries with CUDA10.1 or 10.2 and rerun the code, please?

[2020-04-27 07:14] ptrblck commented on #37320
@WenmuZhou @ethman
Your drivers seem to be too old for CUDA10.2.
Based on [this table](https://docs.nvidia.com/deploy/cuda-compatibility/index.html#binary-compatibility__table-toolkit-driver) CUDA10.2.89 needs >=440.33, while yours is 410.104 and 418.87, respectively.

Could you update the drivers and reinstall the binaries, please?

I just installed them in a new environment and can successfully

[2020-04-27 07:26] ptrblck commented on #37250
The total allocated memory is shown in `memory_summary()` as ~10GB, which seems to fit the `nvidia-smi` output.
Note that the CUDA context will use additional memory, which will be visible in the memory usage in `nvidia-smi` (that's where the ~700MB are most likely coming from).

PyTorch also uses a caching mechanism to avoid reallocating memory on the device as explained in the [memory management

[2020-04-27 07:59] Exlsunshine commented on #35561
I find pytorch 1.4 is slower than 1.3 if I don't specify `OMP_NUM_THREADS`, however if I set python 1.4 with `OMP_NUM_THREADS=2`, both 1.4 and 1.3 speed are almost equal.

[2020-04-27 08:07] ptrblck commented on #35870
@ekils
I cannot reproduce this issue on an RTX 8000 using:
* a master build + CUDA10.2.89
* nightly binaries
* PyTorch `1.4.0` binaries with CUDA10.0

with this code:
[code]

Feel free to post an executable code snippet, which reproduces this error, if you see any mismatches in my small code snippet (I'm using these shapes as they are not raising shape mismatch errors).

@tovacinni
Could you post

[2020-04-27 08:20] EMCP commented on #34699
I am seeing the same issue in v1.5.x .. anyone know where I can track the progress of that fix ?

[2020-04-27 08:23] BeierZhu commented on #14798
I met the same problem

[2020-04-27 08:37] divyanshj16 commented on #3025
When will `torch.isin` functionality be added in pytorch or is there already something like this which is not documented?
https://github.com/pytorch/pytorch/pull/26144

[2020-04-27 08:39] Baranowski commented on #26304
Status update: The PR could be easily patched up: One of the filenames in the dependency file needs the correct directory prepended to it. This could be done in CMake scripts and possibly would be similar to `cmake/Modules_CUDA_fix/upstream/FindCUDA/make2cmake.cmake`

However, the more I look into this, the more I feel that this is not the right thing to do.

I now suspect that the patch at the bo

[2020-04-27 08:47] tedyhabtegebrial commented on #5565
here is a python implementation of trilinear grid sampling;  it might not be optimized for performance.
https://github.com/tedyhabtegebrial/PyTorch-Trilinear-Interpolation

[2020-04-27 09:22] vadimkantorov commented on #37272
@ngimel You are right, it's supposed to call into `norm_backward` even in `IntArray dim` version, but somehow it doesn't work, as evidenced in https://github.com/pytorch/pytorch/issues/37323

[2020-04-27 09:23] cym3223 opened #37339 "RuntimeError: has_marked_unused_parameters_ INTERNAL ASSERT FAILED at /tmp/pip-req-build-p5q91txh/torch/csrc/distributed/c10d/reducer.cpp:290, please report a bug to PyTorch."
I want to use distributed method (torch.nn.parallel.DistributedDataParallel) on pytorch but I got a following error message.

## 🐛 Bug
    Traceback (most recent call last):
      File "train.py", line 387, in <module>
        train(epoch_num, opt)
      File "train.py", line 126, in train
        total_loss_D.backward()
      File "/home/momobot/anaconda3/envs/train/lib/python3.6/site-packages/to

[2020-04-27 09:39] cym3223 commented on #37339
after I modified "find_unused_parameters=True" in torch.nn.parallel.DistributedDataParallel(model, device_ids=opt.gpu_ids, find_unused_parameters=True)
it could run

[2020-04-27 09:39] #37339 closed

[2020-04-27 09:56] WenmuZhou commented on #37320
Sorry, my server is inconvenient to update the driver. The torch1.4 I downloaded on this page （https://download.pytorch.org/whl/cu100/torch_stable.html） is available. When will this page be able to update torch1.5?

[2020-04-27 10:24] Niohori commented on #37336
Thanks for your answer. Before giving this a try, how to explain that the same MNIST classification in Libttorch gives no problem on the same environment. I try to understand what is happening before making changes to the system. Thx.

[2020-04-27 11:03] laizewei opened #37341 "how to covert libtorch model to onnx model in libtorch1.5"
how to convert libtorch model to onnx model in libtorch1.5 .      how to convert libtorch model to tensorrt model in libtorch ？

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2020-04-27 11:14] Niohori commented on #37336
Just reinstalled a previous vesrion of cuda:
Python version: 3.7
Is CUDA available: Yes
CUDA runtime version: 10.1.105
Still crashing with the same error code. Definitely, something else ...

[2020-04-27 11:41] gourav-sg commented on #20822
Hi,

I do not quite get this, production loads happens in cloud, and data is
mostly stored in columnar format like parquet, or in case of images, in
binary format. which can be tarred, but they are still available in the
cloud.

This enables distributed GPU based training possible.

So far there is no support from the Pytorch community on these real life
production issues, unless you take some fra

[2020-04-27 11:47] uchihaltachi commented on #33692
I also met this mistake, how did you solve it

[2020-04-27 12:13] rahulmoozhikkal commented on #32694
Hi phalexo, Thanks for your post.I am facing this exact  error.I am not very familiar with the make process.Can you tell me which file/location  did you add the  symbolic link to /home/developer/anaconda3/compiler_compat/ld.

Thanks
Rahul M

[2020-04-27 12:24] klin333 commented on #18631
Hey guys, seems like the backward pass on 3D grouped/depthwise convolution is extremely slow.

The depthwise backward pass is roughly 10 times slower than the non-grouped forward pass, and about 4 times slower than non-grouped backward pass. The slow down factor is observed by using grouped convolution, and worst at depthwise (ie max groups).

This slow down seems to only affect 3D convolution. Th

[2020-04-27 12:31] zeyu-hello opened #37342 "Suggestion for unify parameter name in nn.Conv and nn.Linear"
The `self.in_channels` in [nn.Conv](https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/conv.py#L34) and `self.in_features` in [nn.Linear](https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/linear.py#L70) are representing the same kind of param, so I suggest to use same name, for example `self.in_channels`. This is also do for other same situation.

Thanks!

cc @ezyang @Ss

[2020-04-27 12:40] eleflea opened #37343 "qnnpack's quantized-add gives wrong result"
## 🐛 Bug

qadd two qint8 tensor with qnnpack backend gives the wrong result in some condition.
I have compared the result with fbgemm backend. This bug might caused by rounding.

## To Reproduce

[code]

output:
[code]

Similar results can be reproduced with a=66, b=116, too.

## Expected behavior

Give a right result.

## Environment

PyTorch version: 1.5.0
Is debug build: No
CUDA used to build P

[2020-04-27 12:53] anjali411 commented on #35954
On more thought, even though numpy supports finfo(floating point info) for complex dtypes, I think we should not support torch.finfo for complex dtypes as complex_tensor.is_floating_point() returns false. Perhaps we can add torch.cinfo for complex dtypes?

as an FYI, this is numpy's current behavior:
[code]
cc. @mruberry @ezyang

[2020-04-27 13:11] E3V3A commented on #30029
@sbrl @gchanan @mijosch @Wulfsta @soumith @hughperkins @cathalgarvey

As PyTorch is featured on all sorts of webpages by nVidia, my suspicion is that nVidia is the sole sponsor of *this* project. It would be great if people who have continuously closed all the issues related to any future-proof alternatives to nVidia, would come forward in full disclosure to their relationship to nVidia and how py

[2020-04-27 13:19] ulatekh commented on #1098
[Here](https://stackoverflow.com/a/21577015/603828) are instructions on how to remove unwanted build flags from your environment. I used this while trying to compile pytorch with the old version of GCC required by my version of CUDA.

[2020-04-27 13:37] cmpute commented on #37250
@ptrblck Thanks for your help!

The total allocated memory seems to have different value in different runs. This is another case where the nvidia-smi reports usage of 10125MiB in total:

[code]

<hr/>
I will read the OOM thread and try to find where I can improve

[2020-04-27 14:01] deeplearning666 commented on #19302
@asa008 @XUYUNYUN666 Have you solved the problems? I met the same question with you! I'm looking for ward to hearing from you soon!

[2020-04-27 14:03] deeplearning666 commented on #19453
@SixerWang Have you solved the problems? I met the same question with you! I'm looking for ward to hearing from you soon!

[2020-04-27 14:05] deeplearning666 commented on #19969
@karthiksn Have you solved the problems? I met the same question with you! I'm looking for ward to hearing from you soon!

[2020-04-27 14:05] deeplearning666 commented on #15949
@NathanSegerlind Have you solved the problems? I met the same question with you! I'm looking for ward to hearing from you soon!

[2020-04-27 14:14] jonasteuwen commented on #29010
Agree, also came up in my use case: collate_fn uses stack. See https://discuss.pytorch.org/t/collating-named-tensors/78650

[2020-04-27 14:20] lufol commented on #37342
I’m not sure this would improve the Conv.
As the in_channels of the Conv correspond to the number of channels of the input tensor. So for example for an RGB input image this would be 3 input channels (1 channel per color channel).
On the other hand the in_features of the linear layer actually correspond to the number of features as input. So for the same image as above and reshaped into a 1-dim ve

[2020-04-27 14:35] ezyang commented on #14699
^- @houseroad

[2020-04-27 14:38] immortal3 opened #37344 "[JIT] Not support for MaskRCNNPredictor"
I am trying to product jit trace output of the MaskRCNNPredictor model for mobile deployment. The model was created using PyTorch's [official tutorial](https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html).
Model code is following.
[code]
using jit trace produces the following results. I have built the lastest pytorch(1.6.0a0+f41742f) from source following issue of [named tuple/dic

[2020-04-27 14:43] #29994 closed

[2020-04-27 14:46] albanD commented on #35643
I feels like the simplest here would be to add a new arg to `register_forward_hook` and `register_forward_pre_hook`: `with_kwargs=False`.
Based on this, the signature of the hook is `out = hook(mod, args, out)` or `args, kwargs = hook(mod, args, kwargs, out)` for the first and `args = hook(mod, args)` or `args, kwargs = hook(mod, args, kwargs)` for the second.
Does that sound good?

[2020-04-27 14:58] ezyang commented on #34294
No that's OK, I just wanted to make sure you weren't blocked on something that doesn't seem like a real blocker. #37091 seems like a good reason to not be making progress on this.

[2020-04-27 15:08] chanshing opened #37345 "In-place leakyReLu backward calculation is triggered with a non-positive slope which is not supported"
## 🐛 Bug

After recently updating to v1.5, I get an error when using `nn.LeakyReLU(0, inplace=True)`:

I believe it is related to https://github.com/pytorch/pytorch/pull/33639

By changing to `inplace=False` I stop getting the error. As I understand it, the issue is with inplace gradient computation with negative slopes. But shouldn't it still work with slope of _zero_? For example, `ReLU(inplace=

[2020-04-27 15:09] mrshenli commented on #37342
+1 to @lufol's comments above.

I am adding this to triage meeting to get feedback from the team.

[2020-04-27 15:11] ezyang commented on #25393
Nice work!

[2020-04-27 15:12] mrshenli commented on #37345
adding the "triage-review" tag as this seems to be a regression.

[2020-04-27 15:13] mrshenli commented on #37341
Hey @laizewei, could you please use the [forum](https://discuss.pytorch.org/) for questions? I am closing this issue for now. Please feel free to open another issue if this turns out to be a bug report or feature request. Thanks!

[2020-04-27 15:13] #37341 closed

[2020-04-27 15:14] jithunnair-amd commented on #36939
Looks like the pickle error was fixed in https://github.com/pytorch/pytorch/pull/37307, and the issue https://github.com/pytorch/pytorch/issues/37182 is now closed. So please close this issue if appropriate.

[2020-04-27 15:20] ezyang commented on #37306
cc @smessmer

[2020-04-27 15:25] ezyang commented on #37306
It looks like these lines are the culprit:

[code]

[2020-04-27 15:25] ezyang commented on #37306
Introduced in #30650

[2020-04-27 15:26] ezyang commented on #37306
Relevant comment https://github.com/pytorch/pytorch/pull/29934#discussion_r347558628

Looks like I didn't realize that fallthroughs were supported by this behavior previously

[2020-04-27 15:29] tmbdev commented on #20822
@gourav-sg I agree that the divide between production and research exists when it comes to large problems, and that software capable of dealing with petascale datasets has been difficult to deploy. Part of the reason is that existing big data tools and formats (Hadoop, HDFS, Parquet, TFRecord, etc.) were developed for different compute environments and different use cases from deep learning.

We w

[2020-04-27 15:30] ezyang commented on #37306
@inspiros as a workaround, can you try doing this as your registration?

[code]

[2020-04-27 15:31] glaringlee commented on #7284
This feature has been added in PR
https://github.com/pytorch/pytorch/pull/34577

Close this issue.

[2020-04-27 15:31] #7284 closed

[2020-04-27 15:34] kshitij12345 commented on #37259
I have tried the sample and I do see that all cores are utilised as noted.

However with a small change of calling `train_async` directly only leads to 100% utilization of single core,

i.e. All cores seem to be utilized when `train_async` is called through the executor.
[code]

[2020-04-27 15:38] peterjc123 commented on #37336
Have you copied all the libtorch DLLs to your the location of the target executable?

[2020-04-27 15:40] mipa9833 commented on #24899
@crocodoyle  @williamfzc  Have you solved this?

[2020-04-27 15:53] fritzo commented on #37332
@mrsalehi I'm pretty sure this issue means a different sense of 'distributions' 😄

[2020-04-27 16:00] mrshenli commented on #37068
Yes for Gloo, but no for PyTorch Distributed. https://github.com/facebookincubator/gloo/pull/212 is the PR that adds libuv to Gloo. So technically Gloo can work on Windows, but we still need to add that to PyTorch's build script and tweak a few `#ifdef`s like the following one:

https://github.com/pytorch/pytorch/blob/3a0ff3cd2f04fcf3d4f6d152ab0772f048375cb6/torch/lib/c10d/ProcessGroupGloo.cpp#L42

[2020-04-27 16:04] tmbdev commented on #20822
By the way, here is an evaluation of AIStore performance and scalability: https://arxiv.org/abs/2001.01858  This includes a comparison with HDFS.

You don't have to use WebDataset with AIStore (anything that speaks HTTP will do), but if you want something scalable and easy to deploy, it's a good choice.

[2020-04-27 16:07] pbelevich commented on #35067
Fixed in #36232

[2020-04-27 16:07] #35067 closed

[2020-04-27 16:08] ezyang commented on #34699
@EMCP can you file a new issue about new problems?

[2020-04-27 16:16] PCerles commented on #20822
@tmbdev awesome work 👍

[2020-04-27 16:20] phladwig commented on #26010
d

[2020-04-27 16:23] ngimel commented on #37259
Setting high priority, looks like a bug

[2020-04-27 16:36] zsef123 opened #37346 "Unexpected result on c10::ArrayRef"
## 🐛 Bug
Trash values are assign on `ArrayRef` when using initializer_list on **msvc**(Release, /O2)

Codes
[code]

Results
[code]

## Expected behavior

[code]
( working on gcc )

## Environment

OS: Microsoft Windows 10 Pro
Compiler : Microsoft Visual C++ 2019
Flags : O2  (actually the problem happens on /Og)

## Additional context

I think, when msvc optimzation codes, compiler have removed the

[2020-04-27 16:54] ezyang commented on #37346
Yeah, this is user error. Unfortunately it's not so easy to get a compiler warning in this situation; it's a general problem with view types in C++. Hopefully the "Ref" is enough to tell you that there is a view going on.

[2020-04-27 16:54] #37346 closed

[2020-04-27 16:57] #36925 closed

[2020-04-27 17:01] ezyang opened #37348 "Port torch/csrc/jit/runtime/register_prim_ops_c10.cpp to new operator registration API"
We have a new operator registration API introduced in #36258, and we need to port all use sites of the old registration API to use it.

Here is the general recipe for porting:
1. We must add def()s of the operators to the centralized location.  For `aten::` namespace, this location is the `TORCH_LIBRARY(aten, m) {` block in `aten/src/ATen/templates/TypeDefault.cpp`.  A def looks like:

[code]

2.

[2020-04-27 17:03] #36939 closed

[2020-04-27 17:06] ngimel commented on #37320
Removing high priority. 1.5 pytorch version is available for download, however, it does not support cuda 10 (10.1 and 10.2 only)

[2020-04-27 17:07] ezyang commented on #37120
Just to clarify, @wolfviking0's original report is for CUDA 10.2, but CUDA has dropped support for OS X, so this is also not a supported configuration.

[2020-04-27 17:07] #37120 closed

[2020-04-27 17:08] albanD commented on #37323
Agree with @vadimkantorov, we should add the same special cases at 0 to these new functions.

[2020-04-27 17:10] ezyang commented on #37336
That is inference only, right? You're exercising more code in your crash case, since you're hitting the autograd engine

[2020-04-27 17:13] ezyang commented on #37342
While the appeal for consistency is attractive, it's certainly not worth breaking BC for this. So whatever you'd plan to do, you'd also have to have a plan for making the change backwards compatible.

[2020-04-27 17:13] ngimel commented on #30584
This should be fixed on master, please reopen if this is not the case.

[2020-04-27 17:13] #30584 closed

[2020-04-27 17:15] gchanan commented on #37345
I think we should be able to take the derivative when the slope is 0.

[2020-04-27 17:16] gchanan commented on #37345
CC @glaringlee.

[2020-04-27 17:19] ezyang commented on #37153
@malfet suggested that we should just modify this code so that it can be bounds checked (by hand) when running in DEBUG mode.

[2020-04-27 17:22] eellison commented on #34606
I also ran into the issue @pearu described.

[2020-04-27 17:22] gchanan commented on #37342
duplicate of https://github.com/pytorch/pytorch/issues/984.

[2020-04-27 17:23] #37342 closed

[2020-04-27 17:25] zou3519 commented on #14798
@BeierZhu do you have a script that reproduces the problem you're having?

[2020-04-27 17:25] ngimel commented on #37084
If we had tests for reduction on scalars ASAN test should have caught it. #37214 adds tests for scalar argmax, probably it makes sense to beef up testing for scalars for more operations.

[2020-04-27 17:27] ngimel commented on #37154
@Baranowski #37337 already contains a fix.

[2020-04-27 17:28] gchanan commented on #35561
CC @ilia-cher.

[2020-04-27 17:39] ngimel commented on #37323
torch.norm with multidim reduction is not a new function, this has existed for a long time.

[2020-04-27 17:42] gourav-sg commented on #20822
Hi Tom,

definitely this goes without saying that yours is a great piece of work,
thanks a ton for the wonderful help.

Most of the small to medium size companies, like the clients I work with,
find it too expensive to build production scale data loaders (properties of
a production data loader has been explained earlier). The technical debt
and time to value is just to high.

We belong to those ki

[2020-04-27 17:43] scottcantreid opened #37350 "Inconsistent behavior in model.parameters() in Pytorch 1.5.0"
## 🐛 Bug

In previous versions of PyTorch, I was able to iterate through the `model.parameters()` iterator more than once. Now, in PyTorch 1.5.0, I can only iterate a single time through the parameters, then it becomes empty. I'm not sure if this is a bug or a desired feature, but it caused some of my gradient clipping code to break when I made the transition from 1.4.0 to 1.5.0.

## To Reproduce

[2020-04-27 17:49] VitalyFedyunin commented on #1708
@tstandley can you please share mode details how you run apex imagenet example, to identify problem. We can do it in separate issue/slack/forum or any other way.

[2020-04-27 17:50] #33701 closed

[2020-04-27 17:52] Niohori commented on #37336
To ezyang: Thx, in libtorch (Cpp version of the MNIST classification) both training (hitting the autograd engine) and inference do work fine. The autograd issue occurs only in Python.

[2020-04-27 17:55] albanD commented on #37323
Yes, sorry, not new. But added at the same time: https://github.com/pytorch/pytorch/pull/11261
In any case, it should be fixed yes.

[2020-04-27 18:03] zou3519 commented on #32186
@Borda you might want to open a new issue for that. Your issue looks different (mine is from a conflicting libmpichcxx.so)

[2020-04-27 18:07] #34996 closed

[2020-04-27 18:19] wanchaol commented on #36038
I see, that's possible. I installed the jemalloc and try to set the env vars, but there were some warnings so it might not being correctly set up and the perf I got might be without jemalloc. Glad that you figured things out :)

[2020-04-27 18:19] #36038 closed

[2020-04-27 18:21] vadimkantorov commented on #37323
It's quite strange that nan happen because norm_backward for IntArray calls into the default norm_backward that removes nans: https://github.com/pytorch/pytorch/blob/master/tools/autograd/templates/Functions.cpp#L135

[2020-04-27 18:23] albanD commented on #34998
As proposed in https://discuss.pytorch.org/t/doubt-regarding-shape-after-jacobian/78223, we can also provide an example with matrices containing the formula of what is computed for each entry to make it clearer.

[2020-04-27 18:27] zhaojuanmao commented on #37261
test_remote_script_module (__main__.JitRpcTestWithSpawn) ... [E request_callback_impl.cpp:94] Received error while processing request type 0:
Apr 22 20:03:43 Unknown type name '__torch__.torch.testing._internal.distributed.rpc.jit.rpc_test.MyModuleInterface':
Apr 22 20:03:43 __torch__.torch.testing._internal.distributed.rpc.jit.rpc_test.MyModuleInterface
Apr 22 20:03:43 Process process 0:
Apr 22 2

[2020-04-27 18:28] wolfviking0 commented on #37120
@ezyang  this issue is also happening with CUDA 10.1, are you dropping OSX support of CUDA for all version ?

[2020-04-27 18:28] albanD commented on #37323
But in the function you shared above: https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/LinearAlgebra.cpp#L552 you can see that the 1dim case calls this function that removed nan, while the other cases do prod/sum/sqrt (and splitting the graph here leads to nan).

[2020-04-27 18:29] dashesy commented on #27222
Why is Cpp Extension trying to look for Cuda? it invokes `_check_driver` that crashes on docker builds.

[code]

[2020-04-27 18:32] mrshenli commented on #37350
adding "triage-review" tag to check if this change is expected.

[2020-04-27 18:32] ezyang commented on #37306
Standalone reproducer:

[code]

[2020-04-27 18:33] vadimkantorov commented on #37323
Don't they use the custom backward that I linked to?

[2020-04-27 18:34] malfet opened #37353 "torch_python should not link with `cudnn_static`"
## 🐛 Bug

Noticed following double-free error while running pytorch with valgrind:
[code]
which indicates, that `cudnn_static` gets linked into `torch_python`, which should be just a wrapper around `torch_cuda`

cc @malfet @csarofeen @ptrblck

[2020-04-27 18:39] Niohori commented on #37336
To peterjc123: Thx for the suggestion. All static and dynamic libs seemed to be present. To be sure I deleted the Torch and Torchvision  in venv\Lib\site-packages\ directory, installed again via pip the latest version, but still the same. What I do not understand is that in the Python environment some dll are labelled with a 92 "tag" (9.2 version I suppose) while when I look in the libtorch distri

[2020-04-27 18:40] albanD commented on #37323
No, `frobenius_norm` is not registered in `derivatives.yaml`. So it is autodiffed.
`norm` is though and is listed there with `norm_backward()`.

You can check with this to see the difference between the two.
[code]

[2020-04-27 18:41] ezyang commented on #37306
If the derivative is given manually, everything seems to work:

[code]

This is probably an independent bug

[2020-04-27 18:54] ezyang commented on #37306
Demo that the workaround works:

[code]

[2020-04-27 18:59] albanD opened #37354 "Efficient handling special gradient values in the autograd"
We now have a few code places where we have special case where we return specific subgradients.
For example [here](https://github.com/pytorch/pytorch/blob/201ba139115adeecae4f094a9c9790200e53ff99/tools/autograd/templates/Functions.cpp#L115) for the norm function at 0.

We now have few functions that perform the same thing.
It would be interesting to allow users that know that they won't encounter

[2020-04-27 19:15] p12tic commented on #34585
The problem here is that the semantics of softmax are different in Pytorch and ONNX and Pytorch can use ONNX softmax only in certain situations. #37326 improves the situation.

cc @spandantiwari

[2020-04-27 19:29] ezyang commented on #37354
So, something like anomaly mode? It sounds plausible, just need a proposal!

[2020-04-27 19:34] albanD commented on #37354
Like anomaly mode but in reverse: It makes your code go faster, but can introduce extra NaNs if you're evaluating your functions at the wrong points.

One question though is that since this would actually be enabled for training (and not only for debugging). Should we make this a global flag or a thread local one? Is there special care that need to be taken when adding new thread local flags?

[2020-04-27 19:37] ezyang commented on #26304
That sounds good to me! cc @soumith who wrote this comment

[2020-04-27 19:39] tmbdev commented on #20822
@gourav-sg We regularly run PyTorch training in the cloud using WebDataset (and have been for a couple of years). That's one of its primary use cases. It literally is as simple as changing "/dataset" to "gs://bucket/dataset".

In addition, you can use AIStore as a caching proxy. That is, if your master dataset is stored in Google Cloud, Azure, or S3, you can configure AIStore on premises to cache

[2020-04-27 19:40] tmbdev commented on #20822
@gourav-sg Tensorflow's I/O architecture is much more complex than PyTorch's because of its original design around graph execution and multithreading. That's why there are special support libraries for all sorts of I/O systems. But what useful does tensorflow-odbc or tfio.BigTable give you that Python ODBC and Python BigTable doesn't give you out of the box? What would you expect equivalent PyTorc

[2020-04-27 19:40] vadimkantorov commented on #37354
Relevant discussion: https://github.com/pytorch/pytorch/issues/35666

[2020-04-27 19:42] vadimkantorov commented on #37323
So is https://github.com/pytorch/pytorch/blob/master/tools/autograd/templates/Functions.cpp#L119 dead/uncalled code?

[2020-04-27 19:46] soumith commented on #26304
yes, I was optimizing things for the second run, which arguably is super common

[2020-04-27 19:52] albanD commented on #37323
The function no, the first one is called when no dim is given, and the one you linked when 1 dim is given:
[code]

The `else (dim() > 1)` though.. I guess yes?

[2020-04-27 19:55] soumith commented on #30029
@E3V3A do you know that PyTorch supports AMD ROCm GPUs, has a continuous build for it for years?
That itself throws out your theory.

NVIDIA promotes many open source projects. They also promote MATLAB and stuff. I presume they promote what is relevant to their customers.

I probably closed a few issues around OpenCL, and I started / lead PyTorch (and maintained Torch7 before that). NVIDIA makes g

[2020-04-27 19:55] albanD commented on #35666
Another approach to this is to make kernels smarter (even though this might have perf implication:
[code]

[2020-04-27 20:04] soumith commented on #30029
@sbrl the way we went about accepting the AMD backend for example is the following, though we don't have a formal document or program to accept new backends

1. Decide to evaluate the backend: see the addressable market for the backend, and the maturity of the backend. This is a bit of chicken-egg issue.
2. Evaluate the backend: Someone (either a pytorch core dev or an enthusiastic open source dev

[2020-04-27 20:04] vadimkantorov commented on #35666
Will these templates work fine for half and bfloat16?

[2020-04-27 20:05] Snopix commented on #19406
what is the command for cuda 10.2 in pip

[2020-04-27 20:07] albanD commented on #35666
Yes, we define numeric_limits info for our custom types.
We might even be able to add a default eps value in there?
Then wrapping this into a nice function could allow you to get the default eps to use for a given type easily.

[2020-04-27 20:07] crocodoyle commented on #24899
No, I am trying to deploy a smaller model with tflite now

[2020-04-27 20:08] jamesr66a commented on #37248
@jessebrizzi I'm going to close this, do you mind reopening and pinging me if this shows up again?

[2020-04-27 20:08] #37248 closed

[2020-04-27 20:10] sharibox commented on #15797
sudo rmmod nvidia_uvm

[2020-04-27 20:11] vadimkantorov commented on #35666
This may work for many cases but not for all cases - but having a standard idiom for this in the codebase would be nice. Different operations may require different eps, e.g. some operations may underflow when called with a legitimate eps for the type (e.g. `log(x)`?)

Suggestions about standard functions F.replace / wrapper modules / functools wrapper - can be helpful suggested mitigations for the

[2020-04-27 20:12] vadimkantorov commented on #35666
clamp_min is smart because it produces zero gradient in those areas automatically!

[2020-04-27 20:18] mrshenli opened #37359 "Support custom gradient reduction algorithm in DDP"
Currently, DDP always computes the average all gradients across all processes, which may not always be mathematically equivalent to local training. For example, if the loss function is MSE in sum mode, the gradient reduction should use sum instead of mean. If the different processes use different batch size, DDP might need to communicate the batch size as well to compute the weighted mean.

cc @pi

[2020-04-27 20:35] andres-fr commented on #30459
@yangsenius I confirm that it works, I made a slight modification but shouldn't matter much:

[code]

Then in `make_transition_layer`: `transition_layers.append(NoOpModule())`

And then in `forward`, for each respective stage (e.g. stage 3 here):

[code]

Nevertheless, I still encounter the problem that the plotted graph is behind some `803` wrapper and can't dig inside. Anyone knows the reason/so

[2020-04-27 20:42] mruberry commented on #35954
I agree that conceptually it would be more elegant for PyTorch (in a bubble) to have finfo and cinfo and finfo doesn't support complex types, but in practice it seems fine to have finfo return complex values since the user is explicitly requesting them (making the risk of user confusion very low) and we greatly prefer being compatible with NumPy where possible. We could also add a cinfo, too, if w

[2020-04-27 20:45] ruslanvasylev commented on #37068
torch.distributed would be very much appreciated for windows!

[2020-04-27 20:51] rohan-varma commented on #37359
For different processes using different batch sizes, won't we need to resolve https://github.com/pytorch/pytorch/issues/33148 before doing this?

[2020-04-27 21:06] albanD commented on #35666
If you autodiff, any replace function will also do that. Because if the original value is not used, the gradient is 0.

There shouldn't be too many of these right? Hopefully we should be able to define all of these?

[2020-04-27 21:14] ezyang opened #37363 "cdist docs imply only one batch dimension is possible, but actually arbitrarily many are allowed"
self explanatory

[2020-04-27 21:22] #33928 closed

[2020-04-27 21:22] Wulfsta commented on #30029
@soumith unrelated question: what's the hardware that you're running ROCm builds and tests on look like (or where can I find this information)? NixOS is having some trouble packaging PyTorch and TensorFlow for ROCm versions 3.1.0 and above, and this might be useful information.

[2020-04-27 21:29] gchanan commented on #30029
@Wulfsta you can see our CI builds here: https://ezyang.github.io/pytorch-ci-hud/build/pytorch-master (search rocm in the top column).

[2020-04-27 21:32] Wulfsta commented on #30029
@gchanan: will take a look, thanks!

[2020-04-27 21:37] phalexo commented on #32694
/usr/bin/ld needs to point to the one in anaconda.

On Mon, Apr 27, 2020, 8:13 AM rahulmoozhikkal <notifications@github.com>
wrote:

[2020-04-27 21:40] zhaojuanmao commented on #37359
is it not a bug if loss function is MSE and DDP is using mean?

[2020-04-27 21:43] pbelevich opened #37368 "Move log_normal_() to DistributionTemplates"
To make `log_normal_` available for custom RNGs:
- Move `log_normal_` logic to `DistributionTemplates.h`
- Move `log_normal_kernel` logic from `UnaryOpsKernel.cpp` to `cpu/DistributionTemplates.h`
- Move `log_normal_kernel` logic from `DistributionLogNormalKernel.cu` to `cuda/DistributionTemplates.h`
- Add a test in `cpu_rng_test.cpp`

[2020-04-27 21:46] pbelevich opened #37369 "Move geometric_() to DistributionTemplates"
To make `geometric_` available for custom RNGs:
- Move `geometric_` logic to `DistributionTemplates.h`
- Move `geometric_kernel` logic from `UnaryOpsKernel.cpp` to `cpu/DistributionTemplates.h`
- Move `geometric_kernel_cuda` logic from `DistributionGeometricKernel.cu` to `cuda/DistributionTemplates.h`
- Add a test in `cpu_rng_test.cpp`

[2020-04-27 21:51] pbelevich opened #37370 "Move exponential_() to DistributionTemplates"
To make `exponential_` available for custom RNGs:
- Move `exponential_` logic to `DistributionTemplates.h`
- Move `exponential_kernel` logic from `UnaryOpsKernel.cpp` to `cpu/DistributionTemplates.h`
- Move `exponential_kernel` logic from `DistributionExponentialKernel.cu` to `cuda/DistributionTemplates.h`
- Add a test in `cpu_rng_test.cpp`

[2020-04-27 21:54] pbelevich opened #37371 "Move cauchy_() to DistributionTemplates"
To make `cauchy_` available for custom RNGs:
- Move `cauchy_` logic to `DistributionTemplates.h`
- Move `cauchy_kernel` logic from `DistributionCauchyKernel.cu` to `cuda/DistributionTemplates.h`
- Add a test in `cpu_rng_test.cpp`

[2020-04-27 21:56] pbelevich opened #37373 "Move bernoulli_() to DistributionTemplates"
To make `bernoulli_` available for custom RNGs:
- Move `bernoulli_` logic to `DistributionTemplates.h`
- Move ` bernoulli_kernel` logic from `UnaryOpsKernel.cpp` to `cpu/DistributionTemplates.h`
- Move ` bernoulli_kernel` logic from `DistributionBernoulli.cu` to `cuda/DistributionTemplates.h`
- Add a test in `cpu_rng_test.cpp`

[2020-04-27 22:06] #36216 closed

[2020-04-27 22:26] hughperkins commented on #30029
@sbrl @E3V3A

I did a partial port of lua torch to OpenCL, and I agree 100% with Soumith's approach here. For the record, when I was porting lua torch to OpenCL, Soumith was *very* supportive.

As far as Intel OneAPI, there is nothing stopping Intel from sponsoring work on pytorch. Or yourselves for that matter.

As far as OpenCL, after dabbling in opencl for a while, what I reckon is that OpenCL

[2020-04-27 22:28] mawright opened #37377 "Pytorch 1.5.0 (installed from conda) errors with complaints about incompatibility between MKL and libgomp when using Pytorch's multiprocessing"
## 🐛 Bug

I am using fairseq to run some multi-GPU training of NLP models. After upgrading Pytorch from 1.4.0 to 1.5.0 through conda (on the pytorch channel), I consistently get this error:
[code]

The above error message was generated when trying to train on 3 GPUs, so I assume that the three repetitions of the incompatibliity error means each process is generating one.

This error does not occur

[2020-04-27 22:45] ImLuckyWiz opened #37379 "Error in the installation of torch"
ERROR: Command errored out with exit status 1:
     command: 'c:\program files (x86)\python38-32\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\lucky\\AppData\\Local\\Temp\\pip-install-_fpxa43a\\torch\\setup.py'"'"'; __file__='"'"'C:\\Users\\lucky\\AppData\\Local\\Temp\\pip-install-_fpxa43a\\torch\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__

[2020-04-27 22:59] tuananhle7 commented on #36748
Thanks @janblumenkamp this works well. It seems to work for a `dim` argument as well. I've written a function based on your snippet in case it's useful to anyone reading this thread.

[code]

[2020-04-27 23:02] cathalgarvey commented on #30029
I have hopes for Futhark as a nice high-level way to write kernels that can be transpiled into various lower-level frameworks like CUDA, HIP, OpenCL etc. I had fun playing with it a year ago or so, but the docs were at that time very far behind what appeared to be a big refactor-in-progress.

But, as projects to bridge the monopoly gap in AI, it's one route that a future AI framework has open that

[2020-04-27 23:41] inspiros commented on #37306
@ezyang Perfect, that should work, for now at least. I saw the new style API `static auto register = torch::import("my_ops").def("add", &add)` but were not able to load it as operator so I suspect the old API changed; also not sure if this thing is a feature or bug.
Thank you sir!

[2020-04-28 00:34] raghuramank100 opened #37383 "Add support for linear + batchnorm1d fusion"
Add support for fusion of batch norm1d with linear layer.

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a

[2020-04-28 00:46] mohammedayub44 opened #37384 "Error running trace on Pytorch Crowd Counting model"
Hi,

I'm trying to use your prebuilt Pytorch crowd counting model with [NVIDIA's Triton Inference Server](https://docs.nvidia.com/deeplearning/sdk/triton-inference-server-guide/docs/index.html). Looks like it requires the PyTorch model to be saved by `torch.jit.save()`. I'm facing errors while tracing the model with an example. Appreciate any help.

The model is available from [this link](https://

[2020-04-28 01:14] Balandat opened #37386 "Add BufferDict container"
## 🚀 Feature
A `torch.nn.BufferDict` container that mirrors `ParameterDict`.

## Motivation
We sometimes work with a lot of buffers, and it would be nice to have a convenient way of dealing with those, similar to `ParameterDict`, but well, with the values being buffered tensors rather than of type `torch.nn.Parameter`. Currently `ParameterDict` specifically uses `register_parameter`, so it's not s

[2020-04-28 02:01] cdluminate commented on #37332
cc @ezyang

[2020-04-28 02:20] dzhulgakov commented on #37315
Here are more reasonable compromises:
* TORCH_WARN_ONCE_IN_A_WHILE / TORCH_WARN_EVERY_MS - produce warning only every X ms or ever X minutes
* Have some notion of "scope" for warnings. For example, log only once but for each JIT execution context. I'm mostly concerned about multi-tenant inference servers where warn_once can mask some errors from other models

we should probably go with time-based

[2020-04-28 02:44] b675987273 opened #37387 "The pytorch's graph is lack of common names for nodes"
## 🐛 Bug

![image](https://user-images.githubusercontent.com/44078961/80440384-401dec00-893b-11ea-8a79-7c3838019d23.png)
Many nodes do not have a COMMON name. It is difficault to figure out who it is.

## To Reproduce

Steps to reproduce the behavior:

1.OH, you can use a forward function with conv2d method and jit.trace it into a graph. And you wiil get it

## Expected behavior

I believe that na

[2020-04-28 03:08] AliLotfi92 commented on #32444
Can anyone give me an update on this issue? I have the same problem.
Below is the link to the code;
https://discuss.pytorch.org/t/pytorch-with-multi-gpus/78616/3

[2020-04-28 03:13] peterjc123 commented on #37336
@Niohori

Because you installed the CUDA 9.2 variant of the package.

Well, this depends on what `libtorch` are you referring to. PyTorch relies on the cpp extension `_C.pyd` and it relies on the DLLs in the `lib` directory. (e.g. `venv\Lib\site-packages\torch\lib`) If you mean the one downloaded by yourself, then the answer is no.

You need an additional linker flag `-INCLUDE:?warp_size@cuda@at@@

[2020-04-28 03:16] peterjc123 commented on #37379
Well, `pip install torch` won't work because windows wheels are not hosted on PyPI . Please try the steps on https://pytorch.org.

[2020-04-28 03:17] peterjc123 commented on #37379
Well, you are using 32-bit Python. We don't release binaries for that. Please use 64-bit Python instead.

[2020-04-28 03:17] #37379 closed

[2020-04-28 03:43] peterjc123 commented on #31611
@ezyang Recently, more and more users are complaining about this. It seems that they like to construct a VS project on their own instead of rely on CMake, which will need to set the flag manually. MSVC has a pragma for adding linker flags https://docs.microsoft.com/en-us/cpp/preprocessor/comment-c-cpp?view=vs-2019#linker. But I don't know where should I add it. Is there a header that only exist in

[2020-04-28 03:47] williamfzc commented on #24899
No, I have to deploy the origin detectron2 model now.

[2020-04-28 05:46] huang229 commented on #37203
Thank you!!!@deepali-c @izdeby

[2020-04-28 05:51] Niohori commented on #37336
@peterjc123 : I followed your steps, without success. With the pip install link you gave me (which is the same I used initially to install pytorch) the same problem occurs, also looking in the site_packages/torch/lib directory, some dll were  still tagged with 92. So I  uninstalled torch again and had a try with :
pip install --pre torch torchvision -f https://download.pytorch.org/whl/nightly/cu10

[2020-04-28 05:57] mruberry opened #37398 "PyTorch doesn't construct bool tensors from non-bool values correctly"
[code]

produces

[code]

PyTorch's behavior is inconsistent with NumPy, Python and C++.

cc @mruberry @ezyang @SsnL @gchanan

[2020-04-28 06:04] peterjc123 commented on #37336
@Niohori So would you please try `pip install torch===1.5.0 torchvision===0.6.0 -f https://download.pytorch.org/whl/torch_stable.html`?

[2020-04-28 06:04] saareliad commented on #37108
This was env pollution  problem.
Occurred because I build on "screen" and it inherited previous env variables.
I made it work by building everything from source.

[2020-04-28 06:04] #37108 closed

[2020-04-28 06:07] peterjc123 commented on #37336
Reproduced locally.
[code]
Would you please fix the install commands? cc @seemethere @soumith

[2020-04-28 06:10] seemethere commented on #37336
Interesting, I wonder why it would actually do that.

Is there some special rule about 3 equals signs vs 2 equals signs?

[2020-04-28 06:12] peterjc123 commented on #37336
It seems two equal signs refer to a prefix match and three equal signs refer to a strict match. https://www.python.org/dev/peps/pep-0440/#arbitrary-equality

[2020-04-28 06:25] soumith commented on #37336
reverted to three `===`: https://github.com/pytorch/pytorch.github.io/pull/372

[2020-04-28 06:45] MrCrazyCrab opened #37401 "how can i obtian the value of two-dimensional matrix from tensor in libtorch of C++ API?"
i use libtorch to do inference, and i got a two-dimensional tensor, but how can i obatian the value, or how can i transform the tensor in C++ to  a array?

[2020-04-28 07:08] yangsenius commented on #30459
I don't think the `None` appearing in the `BasicBlock` and `Bottleneck`still triggers the same assert(isinstance(orig, torch.nn.Module)). They are not appended to the `nn.ModuleList`and just function as flags. Your modification is more elegant, thanks. And I modified my comment above, I forget to add the`not`, it should be `if not ...`.

[2020-04-28 07:24] mengyangniu opened #37403 "torch.multinomial behaves abnormally with CUDA tensor"
## 🐛 Bug

Seems 'torch.multinomial' can not handle high-precisionly drawing from multinomial distribution in CUDA.

## To Reproduce

To sample from a large corpus with an uniform distribution in CPU and CUDA seperately:

[code]

output of the code above:

[code]

torch.multinomial in CUDA output abnormally especially in large corpus, when corpus size=10^6, many keys is not sampled at all while oth

[2020-04-28 07:41] Edwardmark commented on #37201
@izdeby another question,
in libtorch how to set all tensors same as
'''
with torch.no_grad()
[code]

[2020-04-28 08:13] klin333 opened #37406 "3D grouped & depthwise convolution very slow on backward pass"
Hi,

It seems that 3D grouped & depthwise convolution is very slow on the **backward** pass. Backward pass on depthwise convolution takes about 10 times the time of a standard 3D convolution's forward pass.

I understand cudnn does not yet support fp32 depthwise convolution (ie forward pass is slower than standard convolution by about 2 times or so for 2D convolution). However, this problem seems

[2020-04-28 08:23] gemfield commented on #17349
Below ENVs are always helpful in this situation:
[code]

[2020-04-28 08:24] emcastillo commented on #37354
Hello,
Just to leave my thoughts here as I am dealing with some similar situation.

I think that we need some kind of mechanism to identify compounded operations inside the graph.
For example, the case of a special gradient in an operation composed of multiple small steps where the gradient code is automatically generated would need to mark in the graph which nodes do belong to that operation. (I

[2020-04-28 08:33] yangsenius commented on #30459
![image](https://user-images.githubusercontent.com/28689106/80465584-df5bd700-896d-11ea-85d2-aeb76e35ea04.png)

[2020-04-28 08:37] qizhen816 opened #37407 "Linux Libtorch link error :libtorch/include/ATen/core/TensorBody.h:170:21: error: declaration of 'operator=' as non-function Tensor& operator=(Scalar v) &&"
I tried to build a cmake project using libtorch on linux with CUDA 9.2, and libtorch 1.5 is downloaded from [https://pytorch.org/]( https://pytorch.org/). Cmake config works fine, but massive errors occur when build:
[code]
[buildlog.txt](https://github.com/pytorch/pytorch/files/4544332/buildlog.txt)

[2020-04-28 08:45] mruberry commented on #29760
Closing per @jithunnair-amd.

[2020-04-28 08:45] #29760 closed

[2020-04-28 08:54] mruberry commented on #33661
Closing since this is likely addressed. @nikitamehrotra12 thank you for your help on diagnosing this issue. Please reopen if this is still happening in 1.5 or nightly PyTorch builds.

[2020-04-28 08:54] #33661 closed

[2020-04-28 09:09] mruberry commented on #31615
We should add a test ensuring that old pth files can be read as expected by newer PyTorch versions.

[2020-04-28 09:26] mruberry commented on #28781
Closing this issue due to age. Sorry to hear you were having a tough time getting multiple ROCm cards to work with PyTorch. You may need to use only a single ROCm card at a time. With CUDA cards you can do this by exporting CUDA_VISIBLE_DEVICES -- maybe that works for ROCm, too?

[2020-04-28 09:26] #28781 closed

[2020-04-28 09:31] promach opened #37408 "torch.cdist() implementation without using contiguous() calls"
## 🚀 Feature
A decent torch.cdist() implementation that does not have contiguous() calls which usually resulted in excessive GPU memory usage

## Motivation

See the original problem at https://discuss.pytorch.org/t/understanding-cdist-function/76296/12?u=promach

## Pitch

Modify [these two lines](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/Distance.cpp#L78-L79) inside tor

[2020-04-28 09:32] dvirginz opened #37409 "Compatibility of subset dataset with disabled batch sampling"
I think there is a compatibility issue with disabled batch sampling and subset dataset
The use-case - define custom batch sampling, and split the dataset using PyTorch split utility function
Here's a minimal working example
[code]
And when iterating the subset datasets this is the error
[code]

As the self.indices of the `subset` object is a simple python list.

Please refer to the forum post, whe

[2020-04-28 09:34] promach commented on #37408
@ptrblck @jacobrgardner @ranery @HantingChen @GZQ0723

[2020-04-28 09:35] aretor opened #37410 "Reset a `torch.optim.Optimizer`"
## 🚀 Feature
A 'reset_state' method that resets the `state` of an optimizer.

## Motivation
Sometimes we may need to reuse an optimizer to train the same model on another dataset. Some optimizers, though, keep trace of some additional stats (e.g. Adam's moving averages), and currently, there is no method to reset these stats unless we expose some internal attributes of the class.

Check [this ques

[2020-04-28 09:57] Haydnspass commented on #2517
Maybe it is helpful for somebody: I found out that in my case the tensor was already on a CUDA device by accident. As soon as one of the workers tried to access the tensor the dataloader failed with the initialization error.

[2020-04-28 10:05] twangnh commented on #15359
I'm wondering is the deterministic feature for interpolate function closed and will not be implemented ?

[2020-04-28 10:12] qizhen816 commented on #37407
Solved, cv::Scalar conflict.

[2020-04-28 10:12] #37407 closed

[2020-04-28 10:18] AugF opened #37411 "Questions about "torch.utils.tensorboard.add_graph": Could I use it to see network graph's compute time and memory?"
## ❓ Questions

I want to check the step's compute time and memory of model,  and I find tensorboard in tensorflow can do it. But I run the document in official website (https://pytorch.org/docs/stable/tensorboard.html?highlight=tensorboard), it's not clearly. Could I use it to see network graph's compute time and memory? If yes, how to do it?

[2020-04-28 10:43] vadimkantorov commented on #37410
(Related reset concept request but for lr: https://github.com/pytorch/pytorch/issues/32021)

[2020-04-28 11:36] SumantSoni opened #37412 "Pytorch-GPU Installation Using Anaconda"
Hello Friends,
I have installed CUDA, Cunn and all other supporting files for GPU during tensorflow GPU installation by conda.

Now, I want to create a separate environment for PyTorch GPU version.

Please comment on it.

[2020-04-28 12:58] malfet commented on #36451
Trying to address that one in https://github.com/pytorch/pytorch/pull/37121

[2020-04-28 13:24] kshitij12345 commented on #37409
@dvirginz Can you add link to the forum post.

[2020-04-28 14:02] mrshenli commented on #37384
@mohammedayub44 could you please try PyTorch v1.5.0 and see if the error still exist? Thanks!

[2020-04-28 14:14] mrshenli commented on #37401
Say `x` is the 2d tensor, one way is

[code]

Or you can directly get the data pointer and use that as an array:

[code]

I am closing this issue for now. Please use the [forum](https://discuss.pytorch.org/) for questions, and feel free to open another issue if this turns out to be a feature request. Thanks!

[2020-04-28 14:14] #37401 closed

[2020-04-28 14:16] rahulmoozhikkal commented on #32694
Thank your for your reply.Unfortunately it still did not solve my problem and I get open mp issues

-- Could NOT find OpenMP_C (missing: OpenMP_C_FLAGS OpenMP_C_LIB_NAMES)
-- Could NOT find OpenMP_CXX (missing: OpenMP_CXX_FLAGS OpenMP_CXX_LIB_NAMES)
-- Could NOT find OpenMP (missing: OpenMP_C_FOUND OpenMP_CXX_FOUND)
CMake Error at third_party/ideep/mkl-dnn/cmake/OpenMP.cmake:77 (message):
  OpenMP

[2020-04-28 14:17] cdluminate commented on #37332
BTW, MKLDNN is (temporarily) not enabled because `ideep` contains an ancient copy of mkldnn (0.X version), while I've already uploaded onednn (2.X version, renamed from dnnl <- mkl-dnn) to debian archive. I don't whether ideep compiles against onednn 2.X.

[2020-04-28 14:19] sneiman commented on #35858
Users of pytorch lightning ddp mode and `spectral_norm()` are having the same problem - ie, getting this error (pytorch lightning issue 1550). Looks to me like the 'to clone/not to clone' decision within `spectral_norm()` does not take into account the use of pytorch multi-processing's `spawn()`. **Not certain**, as I do not have time to fully explore the mp behavior details. But definitely a prob

[2020-04-28 14:22] kshitij12345 commented on #37412
@SumantSoni This blog should help:
http://makang.fun/2019/09/13/Install-Pytorch-GPU-by-Anaconda/

[2020-04-28 14:35] Michael-J98 opened #37413 "The first sample in dataset cannot be evaluated properly."
## 🐛 Bug
I don't know where goes wrong,
but whatever the dataset is, as long as you feed the very 1st sample into evaluation, all you can get is that all the metrics are 0 or -1, even the model outputs a right outcome.(using coco metrics)

## To Reproduce

Steps to reproduce the behavior:

1. Train a mrcnn or keypoint-rcnn.
2.  Generate a sub_dataset containing the very 1st sample of its original

[2020-04-28 14:38] gchanan commented on #37315
The other nice thing about "once in a while" or "every ms" is that you can provide more context, e.g. you can say something like "suppressed similar 576 warnings since the last warning."  Also having some toggles like always warn, setting the frequency yourself seems useful.

[2020-04-28 14:41] colesbury commented on #14798
Closing this issue because it's been over a year. @BeierZhu please open a new issue for your problem and include a script that reproduces the issue, if possible.

[2020-04-28 14:41] #14798 closed

[2020-04-28 14:42] mrshenli commented on #32444
@zhaojuanmao is there a simple work around for this or is there anything that we should fix?

[2020-04-28 14:46] albanD commented on #37354
I think the way we do this today is by just write a custom backward for this set of op and check for special inputs in the backward function we define.
While I think your idea is interesting. Would it help performance-wise compared to the current solution? (it would make it cleaner for sure :D ) We will still have to do the special casing for some values right?

[2020-04-28 14:51] Niohori commented on #37336
OK, thx for the support: it works

[2020-04-28 14:54] colesbury commented on #37403
I can reproduce this issue in 1.5.0. I also tried it in 1.0.1 and the output looks better:

[code]

Marking this as high priority since this looks like a serious regression.

[2020-04-28 14:54] colesbury commented on #37403
And thank you @mengyangniu for catching this and the detailed error report

[2020-04-28 14:56] #37336 closed

[2020-04-28 14:57] gchanan commented on #36268
@leimao this did not make the 1.5 release; that's not clear above.

@mrshenli can you confirm that the tutorial doesn't work in 1.5?

[2020-04-28 14:58] gchanan commented on #37201
@Edwardmark there's something like torch::NoGradMode or torch::NoGradGuard.

[2020-04-28 15:07] cpuhrsch commented on #36403
I still like this approach! Are there any updates?

[2020-04-28 15:08] colesbury commented on #37408
It's not clear to me whether cdist allows for an implementation that uses substantially less memory without too much effort.

@promach what are the shapes of the tensors that you are calling cdist with? It's hard to evaluate what too much memory means without knowing the sizes of the inputs.

[2020-04-28 15:13] nikitaved commented on #37403
I could give it a try once 'triage review' is dropped.

[2020-04-28 15:14] colesbury opened #37415 "torch.utils.tensorboard.writer.SummaryWriter.add_graph missing documentation"
## 📚 Documentation

The `add_graph` function on SummaryWriter doesn't have documentation

https://pytorch.org/docs/stable/tensorboard.html#torch.utils.tensorboard.writer.SummaryWriter.add_graph

<img width="913" alt="Screen Shot 2020-04-28 at 11 13 26 AM" src="https://user-images.githubusercontent.com/655866/80504712-6cd50200-8941-11ea-94ed-62a5670970c6.png">

[2020-04-28 15:19] abodh commented on #37068
torch.distributed for windows is highly appreciated!

[2020-04-28 15:25] colesbury commented on #33820
@soumith this is still broken

[2020-04-28 15:26] malfet commented on #36058
@mruberry can you clarify why promotion of float16 + int32 to float64 is undesired behavior? Because numpy behaves the same way:
[code]
I'm working on https://github.com/pytorch/pytorch/pull/37121 which results in identical type promotion behavior between `torch.float16` and `np.float16`

[2020-04-28 15:27] slerman12 commented on #30632
Do gradients flow through the functional hessian operation? I know that "create graph" enables gradients to flow through at least up to the inputs passed into the function, but what if the inputs are themselves a function of some upstream network? Would gradients flow to the original source? (Let me know if I need to clarify this looser English with more formal language and an example).

[2020-04-28 15:29] Balandat commented on #34272
Any updates on this? This is really not good, Cholesky is generally the fastest way for checking positive definiteness of a matrix, if the error handling takes way longer than using an alternative method then this is a problem.

I'd take this on myself, but I have no idea about the stack or how to debug this.

[2020-04-28 15:30] colesbury commented on #37410
I'll let @vincentqb  comment

[2020-04-28 15:30] vadimkantorov opened #37416 "[docs] Unclear return type of torch.randint"
1. Note two commas in function spec
2. It's unclear if default output is `torch.int64` (in practice it is) or `torch.get_default_dtype()` which is usually `torch.float32`. It's unclear what `torch.set_default_tensor_type()` reference has to do with `torch.randint`'s return type

https://pytorch.org/docs/master/torch.html?highlight=torch%20randint#torch.randint

![image](https://user-images.githubu

[2020-04-28 15:32] vadimkantorov commented on #33055
Despite https://github.com/pytorch/pytorch/pull/34928, the items are still in mixed order

[2020-04-28 15:32] promach commented on #37408
@colesbury

[code]

[2020-04-28 15:33] nikitaved commented on #34272
I will have a look at this one soon.

[2020-04-28 15:37] colesbury commented on #37409
https://discuss.pytorch.org/t/compatibility-of-subset-dataset-with-disabled-batch-sampling/78793

Quoting @ptrblck's suggested workaround:

Inside the Dataset.__getitem__ you might need to create a single index tensor via:

[2020-04-28 15:38] colesbury commented on #37412
Please see @kshitij12345's suggestion or the conda documentation

[2020-04-28 15:38] #37412 closed

[2020-04-28 15:43] colesbury commented on #37413
There's not enough information here to be a useful bug report -- the PyTorch developers won't know why your metrics are 0 when you expect 1 or -1. You'll have to debug that yourself.

Please reopen the issue if you narrow down the problem to a bug in PyTorch.

[2020-04-28 15:43] #37413 closed

[2020-04-28 15:48] albanD commented on #30632
Hi,

Yes gradients will flow back if you use `create_graph=True`.

If you have further question on this, please use the forum here to reduce noise on github: https://discuss.pytorch.org/

[2020-04-28 15:49] colesbury commented on #37411
Does the PyTorch tensorboard integration support tracking iteration time and memory usage?

This is a reasonable question and I don't see any answer in our documentation. Tagging @orionr and @lanpa who I think recently worked on tensorboard integration.

The `add_graph` functions docs also seem to have disappeared. Filed https://github.com/pytorch/pytorch/issues/37415 to track that as well.

[2020-04-28 15:49] albanD commented on #36403
I don't think anyone complained about it. So it should be good to go forward with 3.

[2020-04-28 15:53] vadimkantorov commented on #36403
Will (3) prevent inplace ops on splitted tensors? Same would be for unbind? Then https://github.com/pytorch/pytorch/issues/31819 would be impossible: in there was big tensor first allocated, and then chunks are filled with inplace.

[2020-04-28 16:01] mrshenli commented on #36268
@leimao Thanks for reporting!

@gchanan I confirm that the DDP tutorial is broken with v1.5.

The fix is simple, just replace

[code]

with

[code]

Two more comments:

1. This tutorial works with master due to #36503
2. Let me take this chance to revamp that DDP tutorial a bit.

[2020-04-28 16:05] msminhas93 commented on #2341
I also encountered a similar problem in windows 10 when defining my custom dataloader and trying to run it in jupyter lab. Apparently the dataloader does not register the class as an attribute to the __main__ module which is called in the multiprocessing.py\spawn.py file. I fixed it by writing the dataloader into a module and then importing it as mentioned here:

https://stackoverflow.com/question

[2020-04-28 16:12] ngimel commented on #37403
@nikitaved go ahead, I won't drop triage review but this issue is hi-pri and will remain so after triage review.

[2020-04-28 16:36] soumith commented on #33820
I changed some settings, and it seems to be fixed.

I tested it locally as well as with screenshotmachine.com

[2020-04-28 16:36] #33820 closed

[2020-04-28 16:42] ngimel commented on #37408
@promach in your case the .contiguous() in the two lines you linked is a no-op. Your batch size for both tensors is 256, and they are never expanded. expand().contiguous() costs memory only if the input tensors have different batch dimensions and batch dimensions are broadcasted.

[2020-04-28 16:59] vadimkantorov commented on #36307
@albanD For Bilinear, it'd be better to specify what exactly happens in batched case (will are dimensions be marginalized against, or just 1). Also, what does a product of `x^T A y` do when x is a matrix `(N1, H1)`, y is a matrix `(N2, H2)` and A is `(H, H1, H2)`. What does matrix product of x^T A mean? i.e. `(H1, N1)` product with `(H, H1, H2)`. Must N1 == N2?

There is one formula in eq(1) in
ht

[2020-04-28 17:02] albanD commented on #36403
You will still be able to do it with the `unsafe_*` version of these functions.
But the thing is that the autograd/inplace check do not handle that. Inplace checks could be fixed with a more complex version counter logic (at a price in perf), but the autograd won't support multi-output Node views any time soon.

[2020-04-28 17:04] glaringlee commented on #37345
@chanshing
The slope == 0.0 case is disabled for inplace backward calculation since I've thought the gradient calculation for slope==0 case is not predictable under our autograd infrastructure. We just revisited our infrastructure and confirmed the slope == 0 case can be supported. We will fix this shortly.

[2020-04-28 17:04] #35299 closed

[2020-04-28 17:04] #23108 closed

[2020-04-28 17:05] albanD commented on #36307
Yes that documentation is not super clear. More work should be done there especially for higher dims.

[2020-04-28 17:08] mattip commented on #32561
I think this can be closed. If needed for the 1.4 branch #36795 can be merged, and #36797 was merged to master.

[2020-04-28 17:25] jesford commented on #21981
I realize this issue has been closed and understand that relying on internal API names is not ideal. However, I do agree with the other comments here, that it would be nice to inherit from a common class, consistent with every single other `lr_scheduler`. Would you accept a PR that makes `ReduceLROnPlateau` inherit from `_LRScheduler`?

[2020-04-28 17:49] vadimkantorov commented on #30702
I recently had a practical usecase for unsqueeze_multiple, had to implement it like this:
`unsqueeze_multiple = lambda x, dim, k: functools.reduce(lambda acc, _: acc.unsqueeze(dim), range(k), x)` (https://gist.github.com/vadimkantorov/ba3d3d099e403f2703facd2765625f27)

[2020-04-28 17:54] glaringlee commented on #37201
@Edwardmark
An example using torch::NoGradGuard.
https://github.com/pytorch/pytorch/blob/50a1850d8d8e42bd3efe0661d309844bf0ac41dc/test/cpp/api/misc.cpp#L49

[2020-04-28 18:00] rmccorm4 commented on #32561
@mattip this issue will automatically be closed by your mentioned PR when it's merged, as long as the right words were used in the description.

[2020-04-28 18:04] suo commented on #36625
Looks like I'm not getting a ton of free time to work on this issue, but I'll write what needs to be done here, and if someone wants to put up a PR I am happy to review.

The way we pretty print `.code` is with `PythonPrint`. This function populates one of its arguments `tensor_table` with tensor constants (see "Uses of tensor constants" [here](https://github.com/pytorch/pytorch/blob/master/torch/

[2020-04-28 18:05] mgolub2 commented on #21819
To add to the pile, I also have this error after 28 epochs of training imagenet:
[code]

Ubuntu 18.04
1 x GeForce GTX 2080 Water-cooled
Driver Version: 440.64
Cuda version: 10.2
Torch version: 1.4.0

[2020-04-28 18:19] sharvil commented on #18056
@zhangguanheng66 can you please help me find the right reviewers for this PR? Thanks.

[2020-04-28 18:20] jinglin80 opened #37428 "Multi-Node multi-process distributed training"
We try to use Multi-Node multi-process distributed training ( https://github.com/pytorch/pytorch/blob/master/torch/distributed/launch.py) on slurm, may we know whether we can run the sbatch commands separately, i.e.:

1.) First `sbatch` executes the following:

python -m torch.distributed.launch --nproc_per_node=1 --nnodes=2 --node_rank=0 --master_addr=mdc-1057-25-4 --master_port=1234 YOUR_TRAININ

[2020-04-28 18:22] mrshenli commented on #37359
Sorry that I didn't state that clearly. No, we don't need to resolve #33148 first. By batch size I mean the number of samples in one batch. The issue tracked in #33148 is for different number of batches/iterations. More specially, if we have 2 DDP processes, where one processing 1 batch and another processing 2 batch, it would hang. But if both of them process 1 batch and one process's batch conta

[2020-04-28 18:26] #21821 closed

[2020-04-28 18:26] ezyang opened #37430 "hardsigmoid not documented"
https://pytorch.org/docs/master/search.html?q=hardsigmoid&check_keywords=yes&area=default

[2020-04-28 18:27] mrshenli commented on #37359
If we consider mathematical in-equivalence as a bug, then yes, this is bug. But this is not easy to come up with a general fix that works for all loss functions. For MSE, it's easier, we probably can support sum/mean/weighted-sum mode in DDP. But for customized loss functions, we would never now what would be the correct way to do reduction to maintain mathematical equivalence. So might need to ma

[2020-04-28 18:27] ezyang opened #37431 "hardswish not documented"
https://pytorch.org/docs/master/search.html?q=hardswish&check_keywords=yes&area=default#

[2020-04-28 18:27] mrshenli commented on #36755
closed by #36805 and #36785

[2020-04-28 18:27] #36755 closed

[2020-04-28 18:28] suo commented on #37015
Thanks for the report, and the initial investigation! Taking a look at this today

[2020-04-28 18:29] mrshenli commented on #35099
fixed by #35394 and  #35263

[2020-04-28 18:29] #35099 closed

[2020-04-28 18:31] suo commented on #37015
@hayoc: I am trying to run your script to reproduce the issue, but it references a few files (`yolov3-spp.cfg` and `yolov3-spp.weights`) that I don't have. Are you able to share them with me, or produce a repro that I can run without them?

[2020-04-28 18:32] ezyang opened #37433 "binomial and bernoulli treated inconsistently"
[code]

I don't see any reason why these should be treated differently

[2020-04-28 18:33] mrshenli commented on #32966
closed by #34755 and #34689

[2020-04-28 18:33] #32966 closed

[2020-04-28 18:35] ezyang opened #37434 "rsub incorrectly exposed in torch"
[code]

I believe this is supposed to be an implementation for the magic method `__rsub__`; so this should be made uniform with the rest of the magic methods (which are directly exposed by their names).

[2020-04-28 18:36] ezyang opened #37435 "bucketize/searchsorted is not documented"
https://pytorch.org/docs/master/search.html?q=bucketize&check_keywords=yes&area=default#

[2020-04-28 18:40] ezyang opened #37436 "feature_alpha_dropout is not documented"
https://pytorch.org/docs/master/search.html?q=feature_alpha_dropout&check_keywords=yes&area=default#

[2020-04-28 18:43] gourav-sg commented on #20822
Hi,

I think that this thread is turning too long now and will prefer to keep my
response limited.

What I am trying to say is simple, we cannot assume that deep learning
algorithms are only useful for data sets that are stored in tar files. That
is misleading.

Production scale data loaders need to have properties which requires a lot
of serious engineering and investments.

Therefore the ask is

[2020-04-28 18:46] ezyang opened #37438 "Tensor.is_nonzero is undocumented"
https://pytorch.org/docs/master/search.html?q=is_nonzero&check_keywords=yes&area=default#

[2020-04-28 18:48] ezyang opened #37439 "torch.from_file is not documented"
I'm not sure this was intentionally put in the torch namespace

cc @svekars @carljparker

[2020-04-28 18:49] ezyang opened #37440 "Tensor.is_same_size not documented"
https://pytorch.org/docs/master/search.html?q=is_same_size&check_keywords=yes&area=default#

Seems to be a thing for conveniently testing if sparse sizes actually match. Maybe shouldn't be a method as it is right now.

[2020-04-28 18:51] ezyang opened #37441 "Tensor.as_strided_ is not documented"
https://pytorch.org/docs/master/search.html?q=as_strided_&check_keywords=yes&area=default#

[2020-04-28 18:52] ezyang opened #37442 "Tensor.is_distributed not documented"
https://pytorch.org/docs/master/search.html?q=is_distributed&check_keywords=yes&area=default#

[2020-04-28 18:54] ezyang opened #37443 "torch.clamp_max clamp_min are not documented"
Maybe they're not supposed to be in torch namespace?

[2020-04-28 18:54] tstandley opened #37444 "Multi-Process Single-GPU is bad"
I'm sorry to do this, but since your release states that you plan to deprecate Single-Process Multi-GPU, I have to talk about all the issues I have with MPSG.

First, this mode takes up a CPU thread per GPU you have. I'm sure that the developers of pytorch are used to working with servers that have tens of CPU cores and the number of cores is much much greater than the number of GPUs, but students

[2020-04-28 18:56] ezyang opened #37445 "torch.norm_except_dim shouldn't be there"
[code]

[2020-04-28 18:57] gchanan commented on #35458
@zhangguanheng66 you should be making a call on this.

[2020-04-28 19:02] mrshenli opened #37446 "[DISCUSSION] Stop exposing FutureMessage to Python land"
Currently `FutureMessage` is used in several places:

1. `rpc_async` returns a `FutureMessage` object and we expose it as `torch.distributed.rpc.Future`. From applications perspective, they are expecting a `py::object` instead of a `Message`, and we do the conversion in the `Future.wait()` pybind method.
2. RPC autograd profiler takes `FutureMessage` and installs callbacks to it. The profiler actu

[2020-04-28 19:05] gchanan commented on #37155
@zhangguanheng66: do you think this is worth incorporating in Transformers?  If so, is the loss used outside of Transformers or should it be limited to that scope?

[2020-04-28 19:07] peterbell10 commented on #37156
Already fixed by #36680

[2020-04-28 19:07] #37156 closed

[2020-04-28 19:07] gchanan commented on #36918
@fmassa can you take a look?  I'm going to close given @bradezard131's comment, but reopen if you think it's worthwhile to discuss further.

[2020-04-28 19:07] #36918 closed

[2020-04-28 19:09] gchanan commented on #36909
I agree with @SsnL -- this doesn't look particularly ugly, and a magic sentinel isn't the best solution.

[2020-04-28 19:09] #36909 closed

[2020-04-28 19:10] tstandley commented on #1708
Ok, so I think I've traced the problem to two things. The first is that I have other operations in my network after the encoder portion that are way slower with channels_last. I'm not sure what they are, maybe some of the losses, or ConvTranspose2d. That wasn't tested on the apex imagenet example, but I was using the apex library with O1.

The other "issue" is that I'm using DataParallel, and not

[2020-04-28 19:12] gchanan commented on #36872
We think a workaround is sufficient here -- take the un-dropped last_batch and fill in the 'missing' data in the way you want.

[2020-04-28 19:12] #36872 closed

[2020-04-28 19:14] gchanan commented on #36175
We think for now providing conversion functions a-la NumPy is the way to go.

We may re-evaluate this later if there is a large need for operators that interpret the values as polar.

[2020-04-28 19:15] gchanan commented on #35801
@vincentqb can you make a call on if we want this in PyTorch core?

[2020-04-28 19:18] ngimel commented on #1708
ConvTranspose2d should be as fast as regular conv in channels last, please file an issue if you find out that's not the case. You can try using autograd profiler or pyprof (which unfortunately now lives only in one of the authors forks https://github.com/adityaiitb/pyprof2) to narrow down what's getting slower.
Also, please file an issue for your illegal memory access. It's unlikely that it's pure

[2020-04-28 19:20] gchanan commented on #35643
This seems like a reasonable request.

@albanD's proposal above seems reasonable, although I don't think we are married to anything in particular.

[2020-04-28 19:24] ngimel commented on #37444
DataParallel is usually as fast (or as slow) as single-process multi-GPU. Those extra threads for multi-process single-GPU are used not for frivolous reason, but because single thread is usually not fast enough to feed multiple GPUs.
You points about API clunkiness and hard-to-kill jobs are valid, we need to make it easier.

[2020-04-28 19:25] ezyang commented on #37441
@albanD says you shouldn't do this in-place, @gchanan suggests it should just be DON'T USE THIS

[2020-04-28 19:26] ezyang commented on #37439
@albanD says this is a useful function but shouldn't be called `from_file`

[2020-04-28 19:32] peterbell10 commented on #37259
`torch.set_num_threads` calls `omp_set_num_threads` which I think writes to a thread-local variable internally. That thread-local isn't propagated when the `ThreadPoolExecutor` thread is created.

A simple workaround is to move the `torch.set_num_threads` call into the body of `train_async`.

For a more general fix, `at::init_num_threads` needs to be called on each new thread. It's not clear where

[2020-04-28 19:34] albanD commented on #37441
Ok, we actually have things like `unsqueeze_()` that are inplace.
I am not sure how these work with the autograd logic though...

[2020-04-28 19:35] tstandley opened #37449 "RuntimeError: CUDA error: an illegal memory access was encountered with channels_last"
I get an illegal memory access when trying to train mnasnet (any version) with apex (O1) and channels_last

## To Reproduce

Steps to reproduce the behavior:

use the apex imagenet example:

python -m torch.distributed.launch --nproc_per_node=2 main_amp.py -a=mnasnet1_3 --b 224 --workers 4 --channels-last=True --opt-level=O1  -b=256 /intel_nvme/imagenet_data/

Traceback (most recent call last):

[2020-04-28 19:43] albanD commented on #37439
I feel like this should be a low level function (we currently use it as such for multiprocess Tensor sharing IIRC).
Maybe we should provide a nice high level API for people that want to do disk-backed Tensor (for very large Tensors or sharing across processes).

[2020-04-28 19:47] albanD commented on #37436
Note that the cpp doc actually tries to point to it here: https://pytorch.org/cppdocs/api/function_namespacetorch_1_1nn_1_1functional_1a73f6f4c90805456dd3217287ebf25b33.html?highlight=feature_alpha_dropout

[2020-04-28 19:48] tstandley commented on #37444
Thanks for the quick response! Does the CPU thread only bottleneck the GPUs sometimes? For example if your batch size/network is small? When else? What work is that thread doing except for telling the GPU's to do X computation and then Y computation, etc.? Does it take longer to tell multiple GPU's that?

Either way, it'd be nice to only pay the cost of that extra thread if it was necessary. I'm u

[2020-04-28 20:01] aldasmallthings commented on #37344
this seems like a serious issue, is anyone looking into it? it's disabling tensors from being transformed in fast ai...

[2020-04-28 20:08] JSybrandt commented on #37325
Want to bump this error.

PyTorch Version (e.g., 1.0): master
OS (e.g., Linux): Linux
How you installed PyTorch (conda, pip, source): pip
Build command you used (if compiling from source): N/A
Python version: 3.8
CUDA/cuDNN version: 10.2
GPU models and configuration: V100

[2020-04-28 20:14] Kipok opened #37455 "There is a significant (>2x) reduction in JIT based RNN speed (comparing to PyTorch 1.4)"
## 🐛 Bug

There is a significant (>2x) reduction in JIT based RNN speed (comparing to PyTorch 1.4). Here is the output of official PyTorch RNN benchmark script (https://github.com/pytorch/pytorch/tree/master/benchmarks/fastrnns):

[code]

I'm getting the same numbers if I additionally add `torch._C._jit_set_profiling_mode(True)` to the beginning of `bench.py` script.

The same script based on PyTo

[2020-04-28 20:17] orionr commented on #37411
cc @sanekmelnikov @natalialunova @J0Nreynolds

Profiler extensions (where we connect autograd profiler output to TensorBoard) are a work in progress.  @J0Nreynolds and folks might be able to add some more details.

[2020-04-28 20:20] orionr commented on #37415
Looks like our logging (used for internal purposes) might have broken this?

For example, `torch._C._log_api_usage_once("tensorboard.logging.add_graph")` should be  below the docstring.

@lanpa any chance you could help out here with @natalialunova? Thanks.

[2020-04-28 20:43] vincentqb commented on #37410
Similar functionality has also been requested in #30232. This latter solution also replaced part of the `__init__` code.

Can you provide a minimal code snippet that would represent what your ideal workflow would be? Is there a way to satisfy this issue, #32021, and the `reset_state` part of #30232?

I'm open to reviewing a pull request for this.

[2020-04-28 20:44] wanchaol commented on #37455
@Krovatkin can you take a look? I believe this is similar to the regression that adam observed.

[2020-04-28 20:44] mrshenli commented on #36268
Updated version:

1. tutorial: https://github.com/pytorch/tutorials/pull/973
2. example: https://github.com/pytorch/examples/pull/763

[2020-04-28 20:44] anjali411 opened #37457 "[RuntimeError] Tensor creation using storage fails"
[code]

[2020-04-28 20:57] wanchaol commented on #37208
the `torch` module does not guranteed to contains `__dict__` for `vars` to work, can you elaborate more on your use case?

[2020-04-28 21:04] mrshenli opened #37459 "Update RPC examples/docs/tutorials to use RRef helper"
As #36619 is landed, RRef now exposes three helper functions to run method on the RRef owner. We should update tutorials/examples/docs accordingly to use this feature.

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar

[2020-04-28 21:07] wanchaol commented on #37344
@aldasmallthings I am looking into it.

[2020-04-28 21:14] ilia-cher commented on #37259
If it's not documented enough, I can update the doc but, as you mentioned, because OpenMP's settings are thread local, we have to call at::init_num_threads at the moment a new thread is initialized

We do already call at::init_num_threads for many threads that PyTorch creates, so it's either so unaccounted case (bug) or just a separate user thread, in this case user needs to call at::init_num_thre

[2020-04-28 21:16] peterbell10 commented on #37259
`at::init_num_threads` is not exposed to python so there's no way for the user to call it here.

[2020-04-28 21:17] ilia-cher commented on #37259
sg, let's add this as an api and update the docs accordingly, I can take this

[2020-04-28 21:21] ilia-cher commented on #37259
example where we already do this aten/src/ATen/PTThreadPool.h

[2020-04-28 21:24] peterbell10 commented on #37259
Okay, I'll work on that as an alternative to #37461

[2020-04-28 21:34] VitalyFedyunin commented on #37455
cc @VitalyFedyunin

[2020-04-28 21:36] mrshenli commented on #37444
@tstandley just to clarify this:

We are **not** going to deprecate **`DataParallel`**.

This is not only for the above reasons you mentioned, but also because `DataParallel` only requires minimum change in the application code to enable parallelism. So this is a better entry point than `DistributedDataParallel` to get started with data parallel training.

What we are planning to deprecate is the

[2020-04-28 21:39] ilia-cher commented on #37259
#37461 might be good too - we would still want to enable original settings if user uses ATen/Parallel API, it is just we can't do much when user creates a new thread themselves and then directly execute code that uses OpenMP

[2020-04-28 21:44] mrshenli commented on #37444
@tstandley

The slowness of `DataParallel` comes from several places.

1. GIL contention across multiple threads.
2. Replicating model in every iteration
3. Additional overhead caused by scattering inputs and gathering outputs.

We probably to get rid of 2 if we do that in constructor. But 1 and 3 will stay.

[2020-04-28 21:44] xwang233 commented on #37449
I tried this on my 2070 at master with `CUDA_LAUNCH_BLOCKING=1` and got `RuntimeError: cuDNN error: CUDNN_STATUS_EXECUTION_FAILED (operator() at ../aten/src/ATen/native/cudnn/Conv.cpp:981)`. However, it is working fine on V100.

[2020-04-28 21:46] mrshenli commented on #37444
This probably worth a dedicated issue to track. Could you please create a new issue with a minimum repro for this? We will investigate why there is no speedup.

[2020-04-28 21:51] mrshenli commented on #37428
@jinglin80 I am not familiar with slurm, but from DDP's perspective, above should be fine. The first  process would block waiting for the second process to join the rendezvous when it calls `init_process_group`.

Could you please post followup questions to the [forum](https://discuss.pytorch.org/) under "distributed" tag? I am closing this issue for now, if it turns out to be a bug report or featu

[2020-04-28 21:51] #37428 closed

[2020-04-28 21:51] kurtamohler commented on #37053
I tried out the idea of summing a bool tensor into an int32 tensor when its size is small enough (less than or equal to 0x7fffffff), but that didn't speed up the summation significantly. So I looked at it with py-spy, and it turns out that with a 100000-element bool tensor, only about 7% of `sum()`'s runtime is spent inside the actual sum kernel. The other 93% is mostly within the `make_reduction`

[2020-04-28 22:18] ndronen commented on #35643
I agree. The hook signatures make much more sense and `with_kwargs=False` does, too.

[2020-04-28 22:47] ngimel commented on #37449
Setting hi-pri because it's a crash, but looks like it is a cudnn bug, so not actionable on our side.

[2020-04-28 23:11] Krovatkin commented on #37455
Hi @Kipok
Thanks for reporting this!
In v1.5 we had to disable some optimizations as our users have run into a few pathological cases with very long compilation times.
We are working on improving the profiling executor, which will be our preferred approach to deliver more performance for our users.
There's still a whole lot of work to be done and in some cases we might be getting suboptimal perfor

[2020-04-28 23:14] physicsrob commented on #27846
This should be closed, I think.

[2020-04-28 23:15] mohammedayub44 commented on #37384
@mrshenli
Thanks. I ran this on the Pytorch 1.5.0 version and I get the same error.

[2020-04-28 23:29] Kipok commented on #37455
Thanks for fast response @Krovatkin! Just tried to plug in those 3 lines and still getting significantly suboptimal performance (although a bit better then before):

[code]
By the way, is there any documentation on those parameters (bailout_depth, num_profiled_runs)? I only saw "torch._C._jit_set_profiling_mode(True)" referenced in v1.5 release document, but don't really understand what other para

[2020-04-28 23:38] ngimel commented on #37444
Typically CPU threads are the bottleneck in small batch/network situation as you note. But as GPUs become faster the definition of "small" shifts also, and more workloads fall into this category.
If the threads are not pinned, you are not really paying the cost of extra threads if not necessary, there's no to little harm in oversubscribing if most of the time threads are idle anyway.  ymmv of cour

[2020-04-29 00:32] tstandley commented on #37444
@mrshenli Thank you for your responses! Yes. I misinterpreted the release notes for pytorch 1.5. I'm quite happy that I'll still have the option for DataParallel and SPMG. Any support for that method of training would be much appreciated. Right now, I get the feeling that it's something you'd rather your users not do.

(3) probably isn't much overhead, right? Anything you could do to fix (2) would

[2020-04-29 00:55] YLuc commented on #22488
any updates? thanks.

[2020-04-29 01:10] #37084 closed

[2020-04-29 01:21] Krovatkin commented on #37455
@Kipok

The other parameters were added to help other developers working on jit performance to unblock their experiments. They are internal.
Our goal is to provide our users with good out-of-the-box performance after the dust of all the performance work settles.

`torch._C._jit_set_bailout_depth` is the number of different specializations of a graph the profiling executor is allowed to generate.

[2020-04-29 01:48] cdluminate opened #37475 "[license] Proprietary claim in several java files"
## 🐛 Bug

Are they really "Confidential and Proprietary"?
https://github.com/pytorch/pytorch/search?q=proprietary&type=Code

[2020-04-29 01:49] #32519 closed

[2020-04-29 02:07] Edwardmark commented on #37201
@glaringlee  so we just add
[code]
at the start of the torch code can make effect? Is that right?

[2020-04-29 02:11] mrshenli commented on #37444
cc @vincentqb for data loader discussion :)

[2020-04-29 02:13] laizewei opened #37476 "Pytorch's jit weight file cannot run on libtorch 1.5release"
## 🐛 Bug

Pytorch's jit weight file cannot run on libtorch 1.5release

Steps to reproduce the behavior:

1.DBFace model url:https://github.com/dlunion/DBFace
2.DBFace jit weight url:https://share.weiyun.com/5QadqZt
3. DBFace jit weight(dbfacelibtorch.pt)can run in pytorch ,but it can't run in libtorch v1.5.

[code]
## Expected behavior

I hope the jit weight can run in libtorch V1.5.
## Environmen

[2020-04-29 02:20] codeprb opened #37477 "ModuleNotFoundError: No module named 'torch.nn._functions'"
Hi

I am trying to run my code on the terminal I  get the following error.

import torch
import pdb
import torch.nn as nn
import math

File "/Users/xxxxxx/Desktop/Code/BBN/models/bnmodules.py", line 65, in <module>
    import torch.nn._functions as tnnf
ModuleNotFoundError: No module named 'torch.nn._functions'

This happens only from command line. It works all good when I directly run form the vi

[2020-04-29 02:22] thiagocrepaldi commented on #36191
@marksibrahim call `torch.set_num_threads(1)` before multiprocessing is started

[code]

Another option is `export OMP_NUM_THREADS=1`

[2020-04-29 02:28] glaringlee commented on #37201
@edwardmark yes, as long as that guard stay in the same scope as the rest of your code which you don't want grad calculation.

[2020-04-29 02:29] glaringlee commented on #37435
Will add it soon.

[2020-04-29 02:38] Edwardmark commented on #37201
@glaringlee Thanks very much.

[2020-04-29 02:43] mengyangniu commented on #37403
@colesbury I tested it in 1.0.1, although the output looks better, but it runs much slower both in cpu and cuda, looks like 'torch.multinomial' in 1.0.1 is not implemented with alias method which is O(1).

[2020-04-29 02:58] immortal3 commented on #37344
@aldasmallthings  Can you elaborate on  "disabling tensors from being transformed in fast ai...". I am wondering how JIT and FastAI is correlated here.

[2020-04-29 03:13] #37201 closed

[2020-04-29 03:15] Edwardmark opened #37478 "How to do indexing in one-dimensional tensor?"
How to do indexing in one-dimensional tensor?
[code]
How to index 1 dimension tensor in libtorch?

The output is :
[code]

So why is that? And how to do the index correctly?

[2020-04-29 03:17] Edwardmark commented on #37201
@glaringlee could you please help me about an indexing problem? Thanks. https://github.com/pytorch/pytorch/issues/37478

[2020-04-29 03:28] Edwardmark commented on #37478
keep = keep.index({Slice(0, keep_end)});

[2020-04-29 03:28] #37478 closed

[2020-04-29 03:34] BeierZhu opened #37479 "Conv2d padding gradient computation error"
## ❓ Questions and Help

@zou3519 @colesbury
### This issue is related to the closed issue https://github.com/pytorch/pytorch/issues/14798#event-3280657372

I met the same problem when I attempt to reproduce the result from Pytorch samples- fast_neural_style https://github.com/pytorch/examples/tree/master/fast_neural_style.
The original code works fine. However, if I change the nn.ReflectionPad2d

[2020-04-29 03:40] Lmy0217 commented on #37208
@wanchaol same error when run `torch.__dict__`

[2020-04-29 03:44] sharkdeng commented on #32821
works for me, change from pytorch/vision:v0.6.0 to 0.5.0

[2020-04-29 03:48] neozhang-icommute opened #37480 "Value of type 'at::Tensor' is not contextually convertible to 'bool' error"
## ❓ Questions and Help

My code sample:

    auto a = torch::rand({2,3});
    a = a>0.5;

    for (int i = 0; i<2; i++)
        for (int j = 0; i<3; j++)
        {
            if (a.index({i, j}))
            {
                std::cout<<"true"<<std::endl;
            }
        }

There exists a error "Value of type 'at::Tensor' is not contextually convertible to 'bool' error" in  if (a.index({i,

[2020-04-29 03:48] jianyin2016 opened #37481 "Libtorch 1.5 failed to access CUDA devices"
## Help

## Description

1.   `torch::cuda::is_available()` returns **false** on the newly released libtorch 1.5, while it returns **true** when using libtorch 1.4.
1. It may depends on the environment, there are two kinds of GPU on the machine, 1 GTX 1080Ti and 2 Tesla P100, besides, the OS is Windows 7 enterprise. I can't access the env_collect script currently, so the environment info I could o

[2020-04-29 03:51] peterjc123 commented on #37481
https://github.com/pytorch/pytorch/issues/37124#issuecomment-618142192

[2020-04-29 04:15] #37481 closed

[2020-04-29 04:18] jianyin2016 commented on #37124
That is it! but where should I add the argument `-INCLUDE:?warp_size@cuda@at@@YAHXZ` ?

[2020-04-29 04:26] peterjc123 commented on #37124
http://nanapro.org/en-us/documentation/img/linker_cmdline.png

[2020-04-29 04:28] Wenqian1228 opened #37482 "RuntimeError: Shared memory manager connection has timed out at /tmp/pip-req-build-ufslq_a9/torch/lib/libshm/core.cpp:99"
## ❓ Questions and Help

when I train on the default config, after a few epochs,  I run into this error
`epoch 5, lr: 7.1e-02, cls: 0.093, ctr: 0.031, reg: 0.887, iou: 0.757, data: 1.2e-04, fwd: 3.0e-01, bwd: 1.5e-01, optimepoch 5, lr: 7.1e-02, cls: 0.093, ctr: 0.031, reg: 0.887, iou: 0.757, data: 1.2e-04, fwd: 3.0e-01, bwd: 1.5e-01, optim
epoch 5, lr: 7.1e-02, cls: 0.098, ctr: 0.035, reg: 0.886,

[2020-04-29 04:29] jianyin2016 commented on #37124
That is very nice of you. @peterjc123
thanks!

[2020-04-29 04:32] #36803 closed

[2020-04-29 04:45] #37477 closed

[2020-04-29 04:53] tstandley opened #37484 "No speedup from channels_last with DataParallel"
## 🐛 Bug

For single GPU training, channels last improves performance for many networks that I have tried, but I get no speedup at all when running the same code with DataParallel and two Titan RTX's with nvlink.

## To Reproduce
Steps to reproduce the behavior:

Unfortunately, apex's imagenet example does not support DataParallel, and Pytorch's imagenet example doesn't use fp16 training (channels

[2020-04-29 04:56] ngimel commented on #37403
Both with and withoutReplacement kernels don't properly advance rng state (they move it by 4, whereas each thread is likely generating much more than 4 numbers). For withoutReplacement, it happens when there are multiple distributions, but for withReplacement, all samples are generated in the single kernel, so in addition to ndistributions multiplier there's also nsamples/nwarps multiplier (nwarps

[2020-04-29 05:32] XiaomoWu commented on #27837
Same issue here. On a Win10 machine with two 2080Ti cards. Kernal crashes after the first few batches of a GRU model.

Pytorch: 1.5.0

[2020-04-29 05:45] tstandley commented on #37444
Also, it'd be great if batch norm syncing worked with DataParallel.

[2020-04-29 05:50] peterjc123 commented on #27837
Well, instead of describing the fact that it occurs, it will be better to provide some code for us to reproduce it at our side.

[2020-04-29 06:12] AranKomat opened #37487 "Log-linear version of cumsum and cumprod"
## 🚀 Feature
Log-linear version of cumsum and cumprod, as the current version has quadratic time-complexity.

## Motivation

The current cumsum and cumprod are too slow for long sequences. They need a faster implementation such as the one I wrote here, which I translated from Jax ([here](https://github.com/google/jax/commit/824ac86620572285b86dd09529f8869ef36883ad)) to Pytorch ([here](https://gist

[2020-04-29 06:22] cloudhan opened #37488 "undefined reference to pthreadpool_compute*"
## 🐛 Bug

When building with current master 07bb442b240edc8bdc944fb466b1fb56c84fa4ee
with following script
[code]

[code]

similar issue mentioned in https://github.com/pytorch/pytorch/issues/34606#issuecomment-619635665

## To Reproduce

Steps to reproduce the behavior:

1. build the code

## Expected behavior

## Environment

PyTorch version: N/A
Is debug build: N/A
CUDA used to build PyTorch: N

[2020-04-29 06:40] cloudhan commented on #37488
[code]

show target `lib/libtorch_cpu.so` links to following target, which causes the undefined symbols
[code]

[2020-04-29 06:47] muzi2045 commented on #36425
it should set None value into fixed value, can't be passed like tensor shape size.

[2020-04-29 06:47] #36425 closed

[2020-04-29 06:54] #23993 closed

[2020-04-29 06:58] cloudhan commented on #37488
Dig through the cmake jungle

https://github.com/pytorch/pytorch/blob/4bfa51d40595d41d6bec6d4a9b1ade72adde4ebc/aten/src/ATen/native/quantized/cpu/qnnpack/CMakeLists.txt#L344-L350

and XNNPACK will provide the implementation.

However, in
https://github.com/pytorch/pytorch/blob/a55d80e1c5b553bee1d7f60655911ce851c2b2f1/cmake/Dependencies.cmake#L398
blindly enable `PYTORCH_QNNPACK_CUSTOM_THREADPOOL`

[2020-04-29 07:23] aditya7fb opened #37490 "tensor_iterator_test: AddressSanitizer: heap-buffer-overflow"
## 🐛 Bug
==52671==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x609000000318 at pc 0x000105a224f8 bp 0x7ffeea2820a0 sp 0x7ffeea282098
WRITE of size 4 at 0x609000000318 thread T0

## To Reproduce

Steps to reproduce the behavior:

1. Built on Mac with USE_ASAN:BOOL=ON (python3 setup.py install)
2. ninja -j8
3. ./bin/tensor_iterator_test

[code]

## Expected behavior

## Environment

Pl

[2020-04-29 07:52] dvirginz commented on #37409
The workaround is only partial, as most of the time with remote datasets the random sampler is a bad approach (sequential queries are much cheaper).
I ended implementing a subset sequential sampler:)
But yes:)

[2020-04-29 08:11] wajihullahbaig commented on #32516
Why not on windows? At my office we have a variety different Windows and linux machines.
They wont allow me to install Linux, so I have to work with windows and since no Java support, I am left with limit computing resources. Hope you will officially support java full fledged.

[2020-04-29 08:17] mattip commented on #36941
maybe connected to gh-35418, where rpaths to cuda libraries are suspected of causing problems

[2020-04-29 08:23] mruberry opened #37493 "test_tiny_half_norm_ is consistently failing on ROCm"
Log from py3.6-clang7-rocmdeb-ubuntu16.04-test2:

[code]

[2020-04-29 08:36] kshitij12345 commented on #37493
Reference : https://github.com/pytorch/pytorch/pull/36653
https://ci.pytorch.org/jenkins/job/pytorch-builds/job/py3.6-clang7-rocmdeb-ubuntu16.04-trigger/37375/

[2020-04-29 09:15] rgommers commented on #32561
@mattip I suggest to address https://github.com/pytorch/pytorch/pull/36797#issuecomment-620048920 in a follow-up PR and close this issue with that PR.

[2020-04-29 09:24] SumantSoni commented on #37412
I am getting error:

First I created an environment named as pytorch and then I run a command

conda install pytorch torchvision cudatoolkit=10.1

after it, I got the following error :

---------------------------------------------------------------------
(pytorch) C:\Users\SUMANT>conda install pytorch torchvision cudatoolkit=10.1
Collecting package metadata (current_repodata.json): done
Solving e

[2020-04-29 09:33] mruberry opened #37495 "DISABLED test_default_quantized_lstm (quantization.test_quantize.TestPostTrainingDynamic)"
This test is failing intermittently on multiple builds with increasing frequency recently and no clear cause.

[code]

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a @vkuzo @ezyang @gchanan @zou3519

[2020-04-29 09:51] emcastillo commented on #37354
I think performance won't change at all.
In some cases maybe some kind of memorization strategies could be applied easily with this solution and we could see performance benefits. For some sub-graphs and some specific tensors returns a cached value automatically. We can even allow nested subgraphs so for only some subgraph of the subgraphs this caching make sense.

The special_case should be contr

[2020-04-29 10:28] ptrblck commented on #21819
@SebastianGrans
"Here's a repo of my current "working" code that doesn't give that error: repo."
Could you post a code snippet, which reproduces this error?

Your provided code runs without any errors using:
[code]

@mgolub2
Which code are you running?

[2020-04-29 10:40] SebastianGrans commented on #21819
@ptrblck Interesting, because that crashes on my machine. I'll look into it...

[2020-04-29 10:43] ptrblck commented on #21819
@SebastianGrans I'll try to reproduce it on different systems and PyTorch versions.

[2020-04-29 10:49] hayoc commented on #37015
@suo Sorry, I forgot to include those indeed.

- `yolov3-spp.cfg`: https://raw.githubusercontent.com/MVIG-SJTU/AlphaPose/master/detector/yolo/cfg/yolov3-spp.cfg
- `yolov3-spp.weights`: https://drive.google.com/file/d/1D47msNOOiJKvPOXlnpyzdKA3k6E97NTC/view
- `test.jpg`: any image will do (e.g. https://github.com/MVIG-SJTU/AlphaPose/blob/master/examples/demo/1.jpg)

I don't think I can create a code

[2020-04-29 10:57] nnop commented on #2639
PRML says:

[2020-04-29 11:53] kunalmenda opened #37499 "Segmentation fault when calling eig() on an tensor with nan values."
## 🐛 Bug

When calling `x.eig()` on a tensor `x` containing nan values, I get a segmentation fault with the following error message.
[code]

## To Reproduce

[code]

## Environment

PyTorch version: 1.5.0
Is debug build: No
CUDA used to build PyTorch: None

OS: Mac OSX 10.15.4
GCC version: (GCC) 6.3.0
CMake version: version 3.14.3

Python version: 3.7
Is CUDA available: No
CUDA runtime version: No

[2020-04-29 11:53] mruberry commented on #31102
This is probably addressed by https://github.com/pytorch/pytorch/pull/36605.

[2020-04-29 12:01] ShawnZhong opened #37500 "Profiler: Discrepancy between `prof.__str__()` and `prof.table()`"
## 🐛 Bug

`prof.__str__()` and `prof.table()` give different result for the same profiling result.

## To Reproduce

[code]

The code snippet above gives the following output:

[code]

Note that `Self CPU time total` changes for the same report

## Expected behavior

I suspect that the output should be the same. Please correct me if I missed something.

## Environment

One can reproduce a similar

[2020-04-29 12:10] Bicheng16 commented on #6996
Following this post, do we sort out the issue of nanmin and nanmax on non-cuda version? I still get the same problem.
`

tensor(nan)

tensor(nan)
`

[2020-04-29 12:51] GeislerSimon commented on #19808
You can simply use `kwargs`. At least in PyTorch 1.4.0 they are passed properly through the `nn.Sequential` module to the subsequent module. So simply use `module(x1=x1, x2=x2, x3=x3)` instead.

[2020-04-29 13:22] zhangguanheng66 commented on #35458
I think this can be done with the new MHA building blocks by passing a single `nn.Linear` to the init of `MultiheadAttentionContainer`

[2020-04-29 13:45] LuciusLan commented on #27837
Hi @peterjc123 , I'd like to but it just occurred in various positions of my code that I cannot specify a snippet to reproduce. later I will work on minimizing my project for your team to test.

[2020-04-29 13:53] vraimonds commented on #37113
Having the same issue here!

Both workarounds worked for me. The easiest:

For the other one just need to not forget to find the right wheel from https://download.pytorch.org/whl/torch_stable.html

[2020-04-29 14:08] albanD commented on #37345
The associated PR was merged.

[2020-04-29 14:08] #37345 closed

[2020-04-29 14:11] marksibrahim commented on #36191
Wonderful, that did the trick. Thank you.

[2020-04-29 14:11] #36191 closed

[2020-04-29 14:23] lanpa commented on #37415
@orionr Correct, tried your fix and it renders like before.

[2020-04-29 14:45] ezyang commented on #15359
Nope, we are amenable to deterministic versions of ALL functions in PyTorch

[2020-04-29 14:46] ezyang commented on #37377
What happens if you follow the advice suggested in the error message?

[2020-04-29 14:48] ezyang commented on #37332
Some of these look suspect:

[code]

You're going to lose a lot of CPU performance by having these disabled. Check the build logs for our CPU binary releases; they should let you know more about what we make sure to have enabled for our binary builds. The end goal you're looking for is to have comparable CPU performance between the distro version and our packaged versions.

[2020-04-29 14:52] zou3519 commented on #27846
Closed by https://github.com/pytorch/pytorch/pull/36890, thanks @physicsrob!

[2020-04-29 14:52] #27846 closed

[2020-04-29 15:04] kampelmuehler opened #37505 "Grouped convolutions giving different output than separate convs on Windows 10 with cuda"
## 🐛 Bug

Grouped Conv2d should give the exact same result as separate Conv2ds, but don't. Works on Linux, but doesn't on Windows 10.

## To Reproduce

Steps to reproduce the behavior:
[code]

With cuda the outputs aren't equal:

[code]

## Expected behavior

Should give the same output as with cpu (or on Linux with cuda for that matter):
[code]

## Environment
PyTorch version: 1.5.0
Is debug buil

[2020-04-29 15:05] malfet commented on #37117
Digging a bit futher by recompiling the code with `-DCMAKE_BUILD_TYPE=RELWITHDEBINFO` and invoking valgrind with vgdb option:
[code]

Here is how backtrace looks like on gdb side:
[code]
And here is the disassemble of the area that triggers the exception:
[code]

[2020-04-29 15:07] #37368 closed

[2020-04-29 15:07] #37369 closed

[2020-04-29 15:07] #37370 closed

[2020-04-29 15:36] cdluminate commented on #37332
Thank you for the feedback. I can gradually add the build dependencies to debian archive, then enable the corresponding options. I've got the information I wanted, that disabling these depedencies (not yet packaged for Debian) won't harm the functionality.

QNNPACK: According to https://github.com/pytorch/pytorch/issues/14699#issuecomment-618405138  this is not going to be packaged.
NNPACK+FBGEMM:

[2020-04-29 16:07] soumith commented on #34879
it seems like a reasonable addition.

The loss ends up being something like [reference](https://github.com/harveyslash/Facial-Similarity-with-Siamese-Networks-in-Pytorch/blob/master/Siamese-networks-medium.ipynb):

[code]

Let's use the API `F.siamese_loss` and `nn.SiameseLoss` unless you have better ideas. I think ContrastiveLoss is too broad of a term, as contrastive losses are of various kinds.

[2020-04-29 16:11] soumith commented on #22439
1. Metrics should be different from `torch.nn`, because they are not differentiable
2. Metrics needs to fluidly interact with `torch.distributed`, and hence often in non-trivial ways with the training loop.

The APIs for a metrics package, especially because of (2), are not obvious.
Both 1 and 2 makes it nicer to have a separate metrics package that can eventually stabilize and come into core pyto

[2020-04-29 16:19] ifeherva opened #37508 "multi_head_attention_forward tests input equality with torch.equal() which might return false negatives"
## 🐛 Bug

multi_head_attention_forward(..) computes the keys, queries, values based on the whether the same inputs are passed for the respective function arguments. As seen here:
https://github.com/pytorch/pytorch/blob/master/torch/nn/functional.py#L3834
this test is done by torch.equal() which often returns false even for torch.equal(x, x) due to potential numerical instability.

Would it make se

[2020-04-29 16:21] SsnL commented on #37479
Usually this is because the input to this layer is reused elsewhere and modified inplace. The first version works because a copy is made via the reflection padding.

[2020-04-29 16:21] SsnL commented on #37479
Use the forum for questions please. Github is only for issues.

[2020-04-29 16:21] #37479 closed

[2020-04-29 16:37] praveen-14 commented on #37308
In the latest version, performance is much better.. Thanks!

[2020-04-29 16:49] albanD commented on #37354
I think the solution we have is "ok" for now. Given that this is not a widely spread issue. And for these complex functions, we are usually happy to write a custom backward anyway because it is much more memory efficient and runs faster.

The question here would be how to provide an escape hatch for people that don't want to pay the price for these special case when they know they won't hit them.

[2020-04-29 16:53] VitalyFedyunin commented on #37484
@tstandley first of all thanks for confirming our benchmarks, it is very important to hear that users can replicate our results.

As for APEX AMP, PyTorch examples etc. We are currently working on making channels last available as part of native APM and as part of PyTorch examples, as well as enabling DataParallel. There is no specific deadline when it will become available in the nightly build, b

[2020-04-29 17:01] VitalyFedyunin commented on #37308
Looks like I can close this one. Feel free to reopen if you feel it is wrong.

[2020-04-29 17:01] #37308 closed

[2020-04-29 17:01] ngimel commented on #37354
I agree with @emcastillo that we should avoid writing custom backwards for parts of the composite functions where it is possible. Take cdist that started it, for example: https://github.com/pytorch/pytorch/blob/a836c4ca78b72ecc8e0664e1b684af64ce83be42/aten/src/ATen/native/Distance.cpp#L28-L38
Most of it is fine and can be left to autograd, the problematic part is clip and sqrt, and backward only f

[2020-04-29 17:10] eellison commented on #37488
related: https://github.com/pytorch/pytorch/issues/34606

[2020-04-29 17:14] pinzhenx commented on #37308
Glad to hear that

[2020-04-29 17:18] Uroc327 opened #37510 "Cannot build pytorch with linker arguments in C{,XX}FLAGS"
## 🐛 Bug

When building pytorch with the following flags, the compiler aborts due to unknown arguments. To be specific, arguments of the for `-Wl,--sort-common` or `-Wl,-z,relro` get transformed to `-Wl --sort-common` or `-Wl -z relro` respectively. Apparently the commas are not respected by the build system and the different parts of the argument are separated.

Used flags:
[code]

(I tried to in

[2020-04-29 17:35] suo commented on #37015
Thanks, this should be enough for me to work with!

[2020-04-29 17:36] msieb1 opened #37511 "JIT-traced module incurs bug: nSubTensors_ > 1 ASSERT FAILED"
## 🐛 Bug

After JIT-tracing a module via `torch.jit.trace`, the resulting model throws the following error trace when running it on a sample input:

## Error Trace

[code]

## Environment

MacOS, Pytorch 1.1.0

## Additional context

cc @suo

[2020-04-29 17:54] #35009 closed

[2020-04-29 18:06] jerryzh168 commented on #31625
fixed now

[2020-04-29 18:06] #31625 closed

[2020-04-29 18:15] zhaojuanmao commented on #32444
@mrshenli I will do a work around like what I tried "copy the sparse tensor view to a new sparse tensor and return the new sparse tensor in Broadcast.forward(), there is no error any more."

[2020-04-29 18:20] dashesy commented on #27222
Issue #28955 is related and has a workaround, so I close this. There should be default other than None.

[2020-04-29 18:20] #27222 closed

[2020-04-29 18:22] albanD commented on #37322
cc @mickypaganini might be interested in this.

[2020-04-29 18:27] malfet commented on #37117
So, clang compiles IValue copy constructor, which looks as follows:
[code]
to
[code]
where `%rbx+0x40` is `rhs`,  `%r14+0x40` is `this`, `%cl` holds `is_intrusive_ptr` and `%rax` holds payload.

`test %rax, %rax` and `lock addq $0x1,0x8(%rax)` are part of inlined:
[code]

`IValue` copy constructor with inlined `incref` would looks something like:
[code]
Clang's optimizing compiler changes order of

[2020-04-29 18:45] albanD opened #37512 "Improve visibility in test suite timings"
We now have enough tests that it is quite hard to maintain them and CI takes a significant amount of time.
A framework to get a better understanding of the runtime of the tests could be very useful to prioritize refactoring and cleaning of tests to speed things up.

Key features:
- Individual tests timing (using setUp/tearDown for example)
- Aggregate results across all the CI-configs
- Allow simp

[2020-04-29 18:54] wanchaol commented on #37344
@immortal3 can you share your entire e2e script? I don't know where/how do you serialize the `saved.model`.

[2020-04-29 19:12] suo opened #37516 "[jit] support `isinstance(foo, dict)`"
Today doing something like:

[code]
gives:
[code]
And capitalizing "`dict`" will produce a segfault. Yikes!

A related issue is that doing something like:
[code]
is not actually possible in Python, since the type annotations are mostly static constructs that the interpreter doesn't know anything about.

A potential compromise is to have `isinstance(foo, dict)` refine the type of `foo` to `Dict[Any

[2020-04-29 19:13] AliLotfi92 commented on #32444
@zhaojuanmao, can you please explain more.

[2020-04-29 19:19] mruberry commented on #36058
PyTorch's type promotion rules are divergent from NumPy's and consistent with JAX's. Like JAX, we bias towards float types, so float16 x int64 produces a float16 tensor. This is unlike NumPy where the same interaction would produce a float64 tensor. This bias towards float types is a pragmatic decision for performance and neural network operations.

I plan to document this properly for 1.6 but I t

[2020-04-29 19:19] suryapa1 opened #37518 "Load Quantized BERT Classifier model from Disk"
## 🐛 Bug

Deserialize BERT dynamically quantized model.

## To Reproduce

Steps to reproduce the behavior:
1. Train BertClassifier and train the model
2. Initiate below code to quantize model and save on disk
3. Problem to load serialize model, How to do that??
4. BertSequenceClassifier.pre_trained_model(quantized_output_dir) is not working as expected.

quantized_output_dir = configs.output_dir +

[2020-04-29 19:21] #26752 closed

[2020-04-29 19:24] suryapa1 commented on #32764
Hi ,
How to load the quantized model from disk for BertClassfication problem? Any assistance greatly helpful.For now, loading quantized model using below function is not working as expected. Is there any way i could load from disk ??

def load_transformer_model(self, model_path, train_args_=train_args):

        model = RobertaForSequenceClassification.from_pretrained(model_path)
        # model.m

[2020-04-29 19:40] ailzhang commented on #36676
Another issue from valgrind:
[code]

[2020-04-29 20:00] rjknight commented on #34606
I'll take a look and see if I can resolve it.

[2020-04-29 20:02] mrshenli commented on #32444
@AliLotfi92 I think @zhaojuanmao was referring to https://github.com/pytorch/pytorch/pull/32226, we might need a similar fix for Broadcast.

[2020-04-29 20:08] ppwwyyxx commented on #18627
`zip` does not work for list of python objects:
[code]

[2020-04-29 20:36] smessmer commented on #37306
Can you verify that https://github.com/pytorch/pytorch/pull/37355 fixes this?

[2020-04-29 20:37] rohan-varma opened #37529 "Implement generic function scheduler in c10/util"
## 🚀 Feature

It would be useful to have a general utility in PyTorch that allows functions to be run periodically at a given time interval. This would be similar to folly's functionScheduler (https://github.com/facebook/folly/blob/master/folly/experimental/FunctionScheduler.cpp). This will be useful in a few different cases for RPC, such as eliminating several background watchdog threads that we

[2020-04-29 20:41] ezyang commented on #24647
It looks like we accidentally deleted the CPU TH implementation of this operator without actually porting it.

[code]

[2020-04-29 20:42] lufol commented on #37499
I could confirm this in colab.
Interestingly on pytorch 1.4.0 the following error was raised
[code]
I could not find a python wrapper of the `.eig()` call. But a wrapper could check for nans in the tensor prior to handing it over to MKL.

[2020-04-29 20:47] ppwwyyxx opened #37530 "torch.jit.script segfault"
## 🐛 Bug

## To Reproduce
[code]
segfaults in `torch.jit.script`.
The signature is perhaps wrong, but I don't expect a segfault.

stack traces:
[code]

## Environment
[code]

cc @ezyang @gchanan @zou3519 @suo

[2020-04-29 20:47] kurtamohler commented on #33950
I'm working on removing the datatype from StorageImpl now, and I've noticed that one of TensorImpl's constructors (here: https://github.com/pytorch/pytorch/blob/master/c10/core/TensorImpl.cpp#L48) takes the datatype from the Storage argument to set TensorImpl's datatype member. My solution is to add a dtype argument to that constructor. Just wanted to give a heads up in case there's some reason we

[2020-04-29 20:48] ezyang commented on #37306
Keeping the issue open while we assess if it's necessary for 1.5 point release

[2020-04-29 20:48] ezyang commented on #37306
@inspiros OK. Note that the workaround syntax is probably going to stop working when next release rolls around, though I guess we will try harder not to break it now that we know at least one person is using it.

This is definitely a bug in the old API, and the new API inherits the problem too (they use the same underlying implementation).

[2020-04-29 20:54] malfet commented on #36676
@ailzhang, can you please try adding
[code]

[2020-04-29 20:59] zhangguanheng66 commented on #32764
`nn.MHA` within `nn.Transformer` is not supported for quantization.

[2020-04-29 21:04] ppwwyyxx commented on #36061
An acceptable workaround that wouldn't heavily affect code structure is:
[code]

however still not working :(
[code]

[2020-04-29 21:13] lufol commented on #37482
I noticed that you use multiple workers for the dataloader. Could you rerun your code with `num_workers=0` in the DataLoader and see if this error persists?

[2020-04-29 21:13] VitalyFedyunin commented on #24647
Hmmm... maybe it is better to delete any references than?

[2020-04-29 21:14] shansiliu95 commented on #36989
I observe the same bug. This bug can be fixed by putting

self.T_cur = self.last_epoch

in front of

super(CosineAnnealingWarmRestarts, self).__init__(optimizer, last_epoch)

[2020-04-29 21:16] lufol commented on #37445
Duplicate of #17395

[2020-04-29 21:56] rddesmond commented on #32407
Good find, @HapeMask!  I came to the same conclusion just as I found your diff.  One small change, if you make the find_package required, it will never fall through to `find_package(BLAS)` (though I have opinions on the use of `BLAS` as a "preferred option" instead of erroring if it's not found)..

[code]

[2020-04-29 22:13] mdlockyer commented on #34002
I'm experience the same issue on 1.5.0. Haven't tested on an older version

[2020-04-29 22:14] mawright commented on #37377
It's kind of interesting; I set `export MKL_SERVICE_FORCE_INTEL=1` before calling the fairseq script and the training seems to work (I'm unsure whether it is performing as well as with 1.4.0) but the error message
[code]
continues to be printed to stderr. I have a job that's been running for about 2 hours on 10x Titan V's and my stderr log file has about 2000 repetitions of this error message.

[2020-04-29 22:20] tstandley commented on #25081
Did this make it into 1.5?

[2020-04-29 22:41] cpuhrsch opened #37541 "torch.relu performance appears slower on a single Tensor vs. a Python outer for-loop"
## 🐛 Bug

The exact circumstance in which this appears is as follows.

[code]

Executed with ```numactl --membind 0 --cpubind 0 taskset -c 0 python /tmp/code.py``` gets us the following output

[code]

## Expected behavior

I would not expect the dense kernel to be ~5x slower than the Python for-loop, but to at least match in performance or exceed it. In theory, both the for-loop and kernel implem

[2020-04-29 22:54] #24545 closed

[2020-04-29 23:01] #37117 closed

[2020-04-29 23:21] malfet commented on #37282
Is there a reason why you want to compile `1.2.0` when `1.5.0` is already out?
Also please share output of `c++ --version` command as well as full build log.

[2020-04-29 23:30] malfet commented on #37530
Have you build the library locally or downloaded the binary build?
This is the error I'm getting when trying to run your sample using python 3.6.10:
[code]

[2020-04-29 23:33] tstandley commented on #37484
So, to be clear, this is the currently expected behavior; channels last has not yet been enabled for DataParallel?

[2020-04-29 23:58] yoshihingis opened #37549 "Are there any differences in kernel memory between RX2080's and Quadro RTX4000?"
🐛 Bug
 My libtroch DL-learning code operated correctly in Geforce RTX2080 ,but my code did not opearate
in Quadro RTX4000.
 Both Geforce RTX2080 and Quadro RTX4000 have 8GB GDDR memory.
 But it seemed that Memory  capacity was sufficient at Quadro RTX4000.
I added the function "torch.cuda.empty.cache()" after 1 iteration  at Quadro RTX4000, and my code operated correctly,but the Time of 1 iteratio

[2020-04-30 00:22] glaringlee commented on #35667
@JesperLindberg
torch::cat is actuall at::cat. You can check the doc for at::cat at here:
https://pytorch.org/cppdocs/search.html?q=cat&check_keywords=yes&area=default

The usage is same as torch.cat, so there is not much there at the moment

[2020-04-30 00:39] jithunnair-amd commented on #36939
@rohan-varma I ran this test at a recent PyTorch upstream commit 4234d624, and while it doesn't encounter any of the aforementioned errors, it does run into an `AssertionError: Not within tolerance` error whenever `WORLD_SIZE <= nGPUs/2` (I also confirmed the test passes when `WORLD_SIZE > nGPUs/2`). In other words, the non-recommended multiple-device-per-process DDP runs give an AssertionError. I

[2020-04-30 00:57] daixiangzi opened #37551 "fd_event_list = self._poll.poll(timeout)"
when i run train.py after one epoch ,the code is stoped,

[2020-04-30 01:00] daixiangzi commented on #33296
i meet same problem,i use single GPU

[2020-04-30 01:02] jcdubron commented on #36506
@modjtabaf It works to replace the function name "nms" with "nms_cpu" in `nms_cpu.cpp` as well as `PYBIND11_MODULE`. I guess it may conflict with `nms_cuda.cpp` for the same name.

[2020-04-30 01:08] RockingJavaBean commented on #37348
@ezyang I would like to work on this bootcamp issue.

[2020-04-30 01:25] meder411 commented on #31579
Sorry for the months-long delay on this.

@pietern I'm not doing anything particularly technical. It's actually just a matter of simple semantic segmentation with a small u-net network. I'm using identical code, except one is `DistributedDataParallel` while the other is old-fashioned `DataParallel`. No matter what I do, I cannot get equal performance. See the image below:

![image](https://user-im

[2020-04-30 01:27] chengjinfang1216 commented on #37398
@mruberry, I'm a newbie of pytorch, and I'd like to work on this.

[2020-04-30 01:28] zzzwen opened #37554 "Add name to Class Parameter()"
## 🚀 Feature
Add name to Class Parameter() [link] (https://github.com/pytorch/pytorch/blob/master/torch/nn/parameter.py).

## Motivation
Currently, parameter names are available via `nn.Module.name_parameter()`, it is good enough for a model that locates on a single machine. However, once we start to pass parameters around via RPC, a stable name inside `class Parameter()`  become really handy.
A s

[2020-04-30 01:37] meder411 commented on #31579
Sorry for the months-long delay on this.

@pietern I'm not doing anything particularly technical. It's actually just a matter of simple semantic segmentation with a small u-net network. I'm using identical code, except one is DistributedDataParallel while the other is old-fashioned DataParallel. No matter what I do, I cannot get equal performance. See the image below:

![image](https://user-images

[2020-04-30 02:01] meder411 commented on #31579
Ah, I actually just came across [this thread](https://discuss.pytorch.org/t/training-performance-degrades-with-distributeddataparallel/47152/4), which @pietern  actually commented on last summer. It seems I'm not alone in this. I will try the LR / world_size or synced BN issue. Perhaps I was barking up the wrong tree with the gradient weighting.

[2020-04-30 02:05] geg00 opened #37556 "torch.cartesian_prod(*tensors) error when you have tensors with [x,y]"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
``
a = [[1,1], [2,3], [3,5]]
b = [[4, 5], [3,6]]
print(list(itertools.product(a, b)))
tensor_a = torch.tensor(a)
tensor_b = torch.tensor(b)
#torch.cartesian_prod(tensor_a, tensor_b)
torch.cartesian_prod(tensor_a, tensor_b)
``

## Expected behavior

torch.cartesian_prod does not work like itertools.product when you have more than one dimen

[2020-04-30 02:13] #37446 closed

[2020-04-30 02:36] mrshenli opened #37557 "DISABLED test_profiler_with_async_rpc_builtin (__main__.RpcTestWithSpawn)"
https://app.circleci.com/pipelines/github/pytorch/pytorch/162157/workflows/2caf287f-13ef-487f-a2e6-e28381d35869/jobs/5301310/steps

[code]

cc @ezyang @gchanan @zou3519 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar

[2020-04-30 02:37] cdluminate opened #37558 "Running python tests as root breaks the /dev/null file"
## 🐛 Bug

Running python tests as root breaks the `/dev/null` file

## To Reproduce

Steps to reproduce the behavior:

1. `su - root`
1. `python3 test/run_tests.py -v -pt`

After that the `/dev/null` file is no longer a character device file but a plain one.

## Expected behavior

It should not break things of the system.

## Environment

Linux

## Additional context

I've found the root of the pr

[2020-04-30 03:13] kurtamohler commented on #33950
My most recent commit (https://github.com/kurtamohler/pytorch/commit/6bdbfd7807d44837265adad189d6272f301027ba) is now building fully in my environment. Has runtime problems at `import torch` though.

[2020-04-30 03:23] ppwwyyxx commented on #37530
The error is reproducible in official docker image `pytorch/pytorch:1.5-cuda10.1-cudnn7-runtime`.

[2020-04-30 04:15] zasdfgbnm opened #37563 "Overload of C++ operators of Tensor should not shadow global overloads"
## 🐛 Bug

The code below does not work, tested on all compilers:

[code]
This makes it extremely hard when developing PyTorch where most things are put into `at::native`, and the compile error is also confusing.

Manually do a
[code]
inside `namespace at` fixes the problem.

We should modify the `TensorOperators.h` to add `using` statements.

[2020-04-30 04:58] yoshihingis opened #37568 "Windows Libtorch Ver1.5 did't operate at the GPU mode , it operated at the CPU mode."
## 🐛 Bug
Windows Libtorch Ver1.5 did not operate at the GPU mode , it operated at the CPU mode.

##Enviroment
・OS : Windows 10 Pro 64bit
・Compiler: Visual studio 2019 Professional
・Test code: mnist.cpp (got from github)
・libtorch Ver1.5 : I dounloaded  https://download.pytorch.org/libtorch/cu102/libtorch-win-shared-with-deps-1.5.0.zip
   Stable(1.5),, Windows, Libtorch, C++/Java ,CUDA10.2 ,Release

[2020-04-30 05:08] peterjc123 commented on #37568
https://github.com/pytorch/pytorch/issues/37124

[2020-04-30 05:08] #37568 closed

[2020-04-30 06:03] forresti commented on #32919
Thanks for your help a few months ago. I haven't resolved this. I have just been using pt1.3 for the and pt1.4 for the export code.

I am working on a code release for a paper that involves running NLP on a smartphone. In our current release-candidate, the readme says something like "use hash b05d0fa from pt1.3 for the binary, and hash 7f73f1d of pt1.4 for everything else including the torchscript

[2020-04-30 06:10] #36676 closed

[2020-04-30 06:14] cpaulse commented on #37499
numpy's eig() does a check for np.inf and np.NaN elements [here](https://github.com/numpy/numpy/blob/4753652c605833e2398d7e46b754a71729a54713/numpy/linalg/linalg.py#L1063). I guess this check could be made for the THTensor `a_` [here](https://github.com/pytorch/pytorch/blob/a7da4490cc44fc9d9740ed508ad5048cbdca9e10/aten/src/TH/generic/THTensorLapack.cpp#L195).

[2020-04-30 06:14] echaozh opened #37571 "[c10d] Make ProcessGroup::Work::wait() take a timeout argument"
## 🚀 Feature
Make ProcessGroup::Work::wait() take a timeout argument, and aborts waiting if the timeout expires.

## Motivation

For NCCL all reduce, when some of the nodes become unreachable, the wait() call doesn't return and the whole operation hangs. There is no hope to continue the operation, at least we can know that the fact,abort the training and try again.

## Pitch

Add a timeout argumen

[2020-04-30 06:39] ntenenz commented on #16574
@ezyang, thoughts on a PyTorch equivalent of [this](https://github.com/tensorflow/community/blob/master/rfcs/20200211-tf-types.md)?  Even a basic impl such as the one found in the [tf-addons repo](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/utils/types.py) may make for a smoother transition to inlined type hints, especially with the ever-present `Union[str, torch.device]`, e

[2020-04-30 06:47] ljk53 commented on #32919
@forresti we fixed some issues in v1.5 which might be related to this problem. Could you please try this again on 1.5 release tag or master?

BTW, you can build the speed_benchmark_torch binary with (other cmake options are set automatically now):
[code]

[2020-04-30 06:47] Hemantr05 commented on #34879
F.siamese_loss and nn.SiameseLoss is perfect.
Thanks for considering it

Will perform and provide unit tests, docstrings, etc..

Thank you for your support

[2020-04-30 06:48] forresti commented on #32919
Thanks. I deleted my comment just now because I decided I should try rebuilding with the latest code before I waste your time. :)

[2020-04-30 06:56] mruberry commented on #37398
Hey @chengjinfang1216! Welcome to the community. It'd be great to get a PR fixing this. The Contribution Guide (https://pytorch.org/docs/stable/community/contribution_guide.html) might be helpful, too, if you haven't read it.

[2020-04-30 06:57] xpngzhng commented on #37124
hi @peterjc123
Sorry to bother you again, I did not understand your solution.

What the the connection between
"__declspec(dllimport) public: __cdecl at::Tensor::Tensor(void)" (_imp??0Tensor@at@@QEAA@XZ)
and
-INCLUDE:?warp_size@cuda@at@@YAHXZ

for my project, If I only link against torch_cuda.lib, there are 81 unsolved references.
adding  -INCLUDE:?warp_size@cuda@at@@YAHXZ  in the Linker -> Comman

[2020-04-30 07:03] peterjc123 commented on #37124
@xpngzhng For all the linker flags, please refer to the script [here](https://github.com/pytorch/pytorch/blob/master/torch/utils/cpp_extension.py#L1249). I don't expect some many of you guys creating a VS project by yourself without using CMake.

[2020-04-30 07:10] xpngzhng commented on #37124
@peterjc123
got it, thanks

[2020-04-30 07:23] Baranowski commented on #24621
Fixed by https://github.com/pytorch/pytorch/pull/35697

[2020-04-30 07:23] #24621 closed

[2020-04-30 07:56] HarmanDotpy opened #37573 "Runtime error while calculating gradients , Version 1.5.0 specific"
## 🐛 Bug

I wrote my code on google colab and pytorch was at version just before 1.5 then, after colab automatically shifted to version 1.5.0 of pytorch , my code started to give the following error while calculating the gradients
## To Reproduce
![image](https://user-images.githubusercontent.com/50492433/80685786-55cf1500-8ae5-11ea-8df0-b7cf8918dbc7.png)

## Expected behavior

There shouldn't be

[2020-04-30 08:16] MikkelAntonsen commented on #37530
I don't think this is a bug, you're using types not supported by torchscript. See https://pytorch.org/docs/master/jit_language_reference.html#supported-type for more info.

[2020-04-30 08:20] cloudhan commented on #24303
#33330 seems fixed porting `masked_fill` for CPU

[2020-04-30 09:13] zixiliuUSC commented on #37377
I also get the same error and do @mawright 's method, but training log still post the message

[2020-04-30 10:34] s-bernard opened #37576 "hypothesis.errors.InvalidArgument in test_qadd_scalar_relu"
## 🐛 Bug

When I run quantized tests, I'm getting:
[code]

I changed the seed, same behavior.

[code]

What could be wrong with my setup?

## To Reproduce

Steps to reproduce the behavior:

1. `python test/run_test.py --verbose -i quantized`

## Expected behavior

All tests pass

## Environment

- PyTorch version: v1.4.1
- built from source
- Is debug build: no
- CUDA used to build PyTorch: no
- O

[2020-04-30 10:59] jasaarim opened #37577 "SIGILL from libtorch_cpu.so at import with a CPU without AVX"
## 🐛 Bug

I'm unable to import PyTorch due to a SIGILL presumably related to the lack of AVX in my CPU. This  happens with the nightly build and also building from source.

## To Reproduce

`gdb -ex r --args python -c "import torch"` gives

[code]

And a backtrace

[code]
## Expected behavior

No error

## Environment

 - PyTorch Version: 1.6.0.dev20200429
 - OS: Linux
 - How you installed PyTorch

[2020-04-30 12:08] s-bernard commented on #37576
Adding `width=32` in `elements=st.floats(-1e6, 1e6, allow_nan=False, width=32)` makes the test pass.

[2020-04-30 13:42] ezyang commented on #24647
Yeah let's rename this to `thcunn_conv` or something like that to make it obvious it's cuda

[2020-04-30 13:42] #37445 closed

[2020-04-30 13:43] ezyang commented on #25081
@tstandley Some pieces did, but not the entirety of the feature. I think the target is 1.6.

[2020-04-30 13:47] ezyang commented on #37348
@RockingJavaBean  I think Mohammad Mahdi Javanmard was planning to work on this. However, there are some other files which also need porting. Do you want to handle the registrations in torch/csrc/jit/runtime/register_distributed_ops.cpp perhaps?

[2020-04-30 13:57] ezyang commented on #33950
SGTM

My intuition is that in most cases `set_storage` isn't supposed to override dtype. E.g. `THTensor_stealAndSetStoragePtr` explicitly is supposed to preserve dtype. I commented on your posted commit with some commmentary here.

[2020-04-30 14:15] RockingJavaBean opened #37579 "Port torch/csrc/jit/runtime/register_distributed_ops.cpp to new operator registration API"
This issue is similar to #37348 and #37008, handling the registrations in torch/csrc/jit/runtime/register_distributed_ops.cpp with new API.

cc @suo

[2020-04-30 14:16] ezyang commented on #16574
Well, I have zero objections to a `torch.types` module, in principle (in other projects I've done with types, having a types module has been handy). And it is true that generally you want to reduce the dependency a types modules has, so that it can be included anywhere.

That being said, I'm less clear about how you would go about putting the `Tensor` type in `torch.types`, since it has a lot of m

[2020-04-30 14:17] RockingJavaBean commented on #37348
@ezyang Sure, I like working on the registrations in `register_distributed_ops.cpp`, and a new issue #37579 has been created for the port.

[2020-04-30 14:24] colesbury commented on #37577
Thanks for the bug report. Can you try running `disas` in gdb to show the instructions before/after  the one that caused the SIGILL? (Preferably from the nightly build).

[2020-04-30 14:43] gorpo commented on #10443
thanks bro, this solve my problem in windows10

[2020-04-30 14:43] colesbury commented on #37577
Never mind -- I see the problem. Seems like a recent change because it's not present in slightly older versions.

[code]

[2020-04-30 14:51] jasaarim commented on #37577
Yes, that's about the same assembler code I get. I don't get this with v1.5.0, but I get another error with `mkldnn` so I was trying to see if it's already fixed.

[2020-04-30 14:57] colesbury commented on #37577
@ezyang these lines look suspicious to me:

https://github.com/pytorch/pytorch/blob/69e2f1aaff9614bd801b34b0c9b4cc8305ee9a61/aten/src/ATen/cpu/vec256/vec256_float.h#L19

https://github.com/pytorch/pytorch/blob/69e2f1aaff9614bd801b34b0c9b4cc8305ee9a61/aten/src/ATen/cpu/vec256/vec256_float.h#L328

and similar in other files (e.g. complex).

We should stop accepting patches that declare data in Vec25

[2020-04-30 15:09] spfohl commented on #20248
I thought that this would have been addressed by #27062, but that does not appear to the case, as this error persists for me on v1.5.0

[2020-04-30 15:11] colesbury commented on #37541
I suspect it's because the second one has to allocate an output of `256 *80 * 80 * 20` (125 MiB) while the first one only has outputs of size ~6.25 MiB (one or two live at a time).

The glibc allocator will re-use 6.25 MiB allocations but map and unmap fresh pages for the 125 MiB allocation, which is expensive and repeatedly incurs the kernel's zeroing cost. This cost is a lot bigger than the over

[2020-04-30 15:28] vadimkantorov opened #37581 "[dataloader] Multiple warnings printed when torch.as_tensor applied to readonly NumPy tensor"
I get this warning printed every time I do:
[code]
[code]

Maybe it's related to the fact that this code gets executed within multi-threaded DataLoader threads? So I get one warning per thread which is still nasty.

It would be nice to be able to suppress this warning with PyTorch ways without having to clone the tensor. This situation is pretty common, I'd like to suggest it doesn't deserve figur

[2020-04-30 16:03] suo commented on #37530
It shouldn’t segfault though, I’ll take a look at that

On Thu, Apr 30, 2020 at 1:16 AM Mikkel Antonsen <notifications@github.com>
wrote:

[2020-04-30 16:07] immortal3 commented on #37344
@wanchaol
I followed [this tutorail](https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html). after training save the model.

[2020-04-30 16:26] dizcza opened #37583 ""sub_iter.strides(0)[0] == 0 INTERNAL ASSERT FAILED at Reduce.cuh" when doing .sum() on large cuda tensor"
## 🐛 Bug

Calling `.sum()` on large cuda tensors throws the error.

## To Reproduce

Steps to reproduce the behavior:

[code]
shows the following nvidia info
[code]
and the traceback is
[code]

This behavior is reproduced with any `(n, 14400, 14400)` tensor for `n>=5`.

**Note**. I can easily create a (6, 14400, 14400) tensor - memory usage, in this case, is `5455MiB / 16280MiB`.

## Expected beha

[2020-04-30 16:31] rgommers opened #37584 "Add a CI job using conda compilers"
## 🐛 Bug

There's regularly issues building PyTorch with either conda compilers or with a very new (system installed) GCC + conda Python+dependencies. Using a development setup based on conda is recommended (https://github.com/pytorch/pytorch#from-source) so this is not a great situation. Example issues:

- https://github.com/pytorch/pytorch/issues/29093 (has some relevant discussion)
- https://gi

[2020-04-30 16:31] SergioRAgostinho opened #37585 "Unable to use torch.det() inside nn.DataParallel with multiple gpus"
## 🐛 Bug

Using torch.det() inside nn.DataParallel in a multi gpu environment (tested 4) is suffering from a race condition. If the execution is done sequentially, the error doesn't trigger.

## To Reproduce

[code]

Stack

[code]
## Expected behavior

To be able to use `torch.det()` inside `nn.DataParallel` like any other linalg operation.

## Environment

[code]
## Additional context

N.a.

[2020-04-30 17:07] ljk53 commented on #32919
Thanks for reporting the issue! Please let us know if latest code still doesn't resolve your problem.

BTW, we added end-to-end CI job to test mobile build after 1.4 release: https://github.com/pytorch/pytorch/blob/master/test/mobile/custom_build/build.sh

You can run it locally with host toolchain. It uses the same CMake options for mobile build so should be able to capture/repro issues with mobi

[2020-04-30 17:13] JialeTao commented on #19840
Hi, I have the same problem and I just read the #19901, but I didn't found the resolution code. It just show the changed source code of the reducer method. How can we modify our personal code to solve this or to use "require_finalize_" parameter?

[2020-04-30 17:19] s-bernard opened #37588 "valgrind: Unrecognised instruction / SIGILL in pytorch cpu, built from 1.5.0"
## 🐛 Bug

Built from 1.5.0 source, tests fail with SIGILL illegal instruction on `test_type_conversions (__main__.TestAutograd)`. Import works.
With same system/hardware, it works on 1.4.1.

Valgrind:
[code]

gdb disas:
[code]

## To Reproduce

Steps to reproduce the behavior:

1. compile pytorch 1.5.0
2. python test/test_autograd.py --verbose

## Expected behavior

Tests pass.

## Environment

 -

[2020-04-30 17:27] mattip opened #37590 "Rewrite documentation coverage tests"
## 📚 Documentation

PR gh-37419 disabled the tests in `tests/test_doc_coverage.py` as explained in [this comment](https://github.com/pytorch/pytorch/pull/37419#issuecomment-621431059). Rather than delay that PR, this issue was opened to track refactoring those tests.

[2020-04-30 17:28] #37415 closed

[2020-04-30 17:37] kurtamohler commented on #33950
Cool, thanks @ezyang

[2020-04-30 17:39] JerryGQian commented on #27837
This most likely doesn't solve the issue, but I had this error and fixed it by updating my cuda.

[2020-04-30 17:44] malfet commented on #37111
@kit1980 this should be addressed in the latest nighly build, can you please verify?

[2020-04-30 17:51] HapeMask commented on #37573
I was just about to post an issue for what I think is the same problem, so I'll share my repro here instead:

[code]

I can confirm this issue was not present in 1.4 or in a few nightlies between 1.4.0 and 1.5.0.

[2020-04-30 17:59] mrshenli commented on #37585
cc @agolynski  (oncall)

[2020-04-30 18:04] cpuhrsch commented on #37541
Yes, jemalloc actually seems to help a lot!

I installe jemalloc via ```conda install -c anaconda jemalloc```

[code]

[2020-04-30 18:12] mrshenli opened #37593 "Fix and enable DDP SPMD tests"
As [`run_tests.py`](https://github.com/pytorch/pytorch/blob/bbd2350c99db334f27e910f50d377bd8de0fd39b/test/run_test.py#L160) sets `world_size` to 3 for `test_distributed.py`, SPMD path is only tested when there are at least 6 GPUs. But our CI offers at most 4, so these tests are actually not run. As we haven't officially retire SPMD yet, we should fix and enable those tests. More discussions are in

[2020-04-30 18:13] mrshenli commented on #36939
@jithunnair-amd  added #37593 to track.

[2020-04-30 18:18] colesbury commented on #37588
Thanks for the bug report. What commit did you compile? This commit from 2 days ago https://github.com/pytorch/pytorch/commit/07bb442b240edc8bdc944fb466b1fb56c84fa4ee looks like it might fix the problem.

[2020-04-30 18:20] rgommers commented on #16574
gh-37594 (for review, input very welcome) contains documentation on where we want to end up and how to start improving the type annotations for a module.

When that PR is merged I plan to add a large checklist here as a tracking issue that people can assign to themselves and check off when done. That seems better than one issue per module, that'd be too noisy and a lot of overhead (some modules ca

[2020-04-30 18:32] #34238 closed

[2020-04-30 18:53] rgommers commented on #16574
The basic implementation seems useful - those are all unions that are probably needed in other places. The proposal goes a little overboard it looks like to me - things that are objects in the API should mostly be defined inline (like `Tensor`) I'd think. We do need a `TensorLike` like that add-on has.

And minor suggestion: call the module `annotations` rather than `types`. `types` is a stdlib mo

[2020-04-30 18:56] ksasso1028 opened #37598 "NCCL fails to find cuda include dir"
My cuda install is fragmented and not in one folder like its typically installed. I am trying to pass env variables for cuda include and it seems to work, but the makestep for NCCL does not pass in this variable. Just the general "Root" dir. This CUDA include dir needs to make its way down into NCCL,  the build fails because it cannot find the cuda_runtime.h which is there

[2020-04-30 19:33] sbrl commented on #30029
Hey there! Sorry for not getting back to anyone.

I was not aware of an AMD ROCm backend to PyTorch. Is there any documentation on this please? A list of supported GPUs would be very helpful too. I have an AMD R7 M445, so that  sounds like a  potentially feasible backend for me.

[2020-04-30 19:36] zasdfgbnm commented on #37563
@ezyang Looks like I am wrong about this. Overload of operators should always go to the namespace defining that type. And C++'s [ADL](https://en.cppreference.com/w/cpp/language/adl) will find it.

If the above code is changed to:

[code]
everything will work.

See: http://isocpp.github.io/CppCoreGuidelines/CppCoreGuidelines#Ro-namespace

[2020-04-30 19:36] #37563 closed

[2020-04-30 19:37] jainnitk opened #37601 "Attribute error while using SummaryWriter.add_image()"
## 🐛 Bug

I am using Colab notebook and while running SummaryWriter.add_image(), it gives me an error "AttributeError: 'str' object has no attribute '_check_caffe2_blob' ".

## To Reproduce

Steps to reproduce the behavior:

1.I am using Pytorch.
1.Following is the code I am using :
train_set=torchvision.datasets.FashionMNIST(
    root='./data/FashionMNIST',
    train=True,
    download=True,

[2020-04-30 19:41] Wulfsta commented on #30029
@sbrl https://github.com/ROCmSoftwarePlatform

[2020-04-30 20:01] mruberry commented on #37315
It seems like we have a solid idea. Given how there's engineer confusion about which type of warnings to use, too, what about renaming our warnings so that:

WARN -> warns every X minutes
WARN_ALWAYS -> yells at you every time

Especially since WARN_ONCE will no longer be an accurate name. The guidance on when to WARN_ALWAYS can be for situations where the user may lose data or get incorrect resul

[2020-04-30 20:08] sbrl commented on #30029
That seems to be a link to the AMD ROCm org on GitHub? I don't see any pytorch there

[2020-04-30 20:09] #34380 closed

[2020-04-30 20:09] #33780 closed

[2020-04-30 20:10] #33567 closed

[2020-04-30 20:31] s-bernard commented on #37588
I compiled `commit 4ff3872a2099993bf7e8c588f7182f3df777205b (HEAD -> build-v1.5.0, tag: v1.5.0-rc5, tag: v1.5.0)`. I'll try with 07bb442.

Thanks for your answer.

[2020-04-30 20:56] AliLotfi92 commented on #32444
thanks @mrshenli!

[2020-04-30 21:01] ailzhang commented on #37511
@msieb1 Can you provide a minimal repro? Thanks!

[2020-04-30 21:08] ailzhang commented on #37476
This is a request to make `torch.jit.save` weights work in eager (c++) frontend.

[2020-04-30 21:11] ailzhang commented on #37384
@mohammedayub44 just to double check, does it work if you don't do trace but directly inference with `net`?

[2020-04-30 21:23] Wulfsta commented on #30029
@sbrl Most of the development for the ROCm backend of PyTorch takes place in their pytorch repository, to my knowledge. There are build instructions in the wiki there.

[2020-04-30 21:24] 1e100 commented on #37588
Same as #37577?

[2020-04-30 21:29] colesbury commented on #37588
@1e100 - no, I believe they're different problems, but it's possible that both need to be fixed for PyTorch to work on older CPUs again.

[2020-04-30 21:43] soumith commented on #30029
more precisely, here's the link to build PyTorch + ROCm: https://github.com/ROCmSoftwarePlatform/pytorch/wiki/Building-PyTorch-for-ROCm

You don't need any code changes to your existing PyTorch code, your pytorch's `.cuda()` runs on your ROCm GPU

[2020-04-30 21:53] mrshenli commented on #37598
cc @agolynski

[2020-04-30 21:55] ezyang commented on #37584
Extra CI seems right

[2020-04-30 22:01] mohammedayub44 commented on #37384
@ailzhang  yes it does work fine. You can check out the example predict file that I have attached as link.

[2020-04-30 22:09] kit1980 commented on #37111
@malfet Works for me with nightly. Thank you for such a fast turnaround!

[2020-04-30 22:09] #37111 closed

[2020-04-30 22:22] kurtamohler commented on #37053
I made a script to measure the performance of `torch.to()` for several different pairs of input and output types: https://github.com/kurtamohler/pytorch-perf-test-scripts/blob/master/to/to_perf.py

With a 1 million-element tensor, on the AMD Threadripper, converting between bool/uint8/int32/int64 takes about 0.05 seconds in most cases--50 ns on average per element. Considering that this machine's

[2020-04-30 22:22] #37601 closed

[2020-04-30 22:24] Ge0rges commented on #37322
One workaround I can imagine is removing these before the deep_copy and then adding it back right after.

[2020-04-30 22:25] VitalyFedyunin commented on #29984
`at::native::legacy::cuda::_th_mv` moved to aten in #30898

[2020-04-30 22:33] VitalyFedyunin commented on #32699
@guol-fnst much appreciated, let me know if you need any help

[2020-04-30 22:34] VitalyFedyunin commented on #24534
It is merged

[2020-04-30 22:37] msieb1 commented on #37511
[solved] The problem was somewhere in the code `torch.cat` was applied to a single tensor only instead of a list of tensors, i.e., `torch.cat([tensor])`. While this worked fine for normal runs, the JIT tracer threw the above mentioned error without any hint on where it occured. @ailzhang

[2020-04-30 22:44] mickypaganini commented on #37322
This makes sense... Reparametrizing the network necessarily results in the creation of new parameters in terms of the leaf params.
Now, I don't know exactly why in deepcopy in tensor.py we explicitly check for leaves-only, and whether that can be relaxed.

Yes, workaround would be to call `prune.remove` before the deepcopy (but that might not be suitable if the masks or the original parameters are

[2020-04-30 22:45] VitalyFedyunin commented on #21981
cc @vincentqb do we have someone to implement it, or we should wait for open source PR

[2020-04-30 22:47] Ge0rges commented on #37322
@mickypaganini What do you mean by reparametrizing? Deep_copy shouldn't affect the parameters that currently exist correct? So while the prune function is parameter dependent, I don't see why it couldn't also be carried over.

[2020-04-30 22:54] SplitInfinity opened #37617 "[TorchScript/JIT] del statements with multiple targets not correctly handled"
## 🐛 Bug

The Python reference manual states that `del` statements can contain multiple targets (i.e. `del a, b, c` is valid). This works in Python, but does not work in TorchScript.

## To Reproduce
Run the following function in Python and TorchScript:
[code]

## Expected behavior
The expected behaviour is that the function returns the same list it was given, but with the first two elements remov

[2020-04-30 23:03] kurtamohler commented on #37053
I made a c++ int32-to-int64 performance measurement app: https://github.com/kurtamohler/pytorch-perf-test-scripts/blob/master/to/conversion_perf_standalone.cpp

The compiler args I used are in the makefile in the same directory.

I'm getting about 0.77 ns per conversion on my laptop, which is close to the pytorch performance. On the Threadripper, I get about 0.66 ns, so there doesn't seem to be an

[2020-04-30 23:09] mickypaganini commented on #37322
Pruning is a reparametrization. Pruning affects the parameters by rewriting them in terms of other tensors.
Deepcopy doesn't affect the parameters that exist. However, it is designed to work only on leaf tensors, and not on derived tensors. That's the first thing it checks, and if that fails, it returns the error you see. I'm sure there's a good reason why pytorch only allows deepcopy of leaf para

[2020-04-30 23:11] Ge0rges commented on #37322
Thank you for that explanation. Given that this has been looked at, and a solution proposed i will close the issue.

[2020-04-30 23:11] #37322 closed

[2020-04-30 23:13] rohan-varma commented on #37557
Hypothesis is that the profiling callback didn't fire in time, because we don't hold the lock when we run callbacks, so fut.wait() can return without the cb's being run. I wonder if we should build a way to ensure the profiling callback, if it exists, has been completed before returning from `fut.wait()`, otherwise we will have this race condition.

[2020-04-30 23:20] vincentqb commented on #21981
I would accept a PR to do this as long as it does not change the functionality.

[2020-04-30 23:23] mariogeiger opened #37628 "einsum shape zero"
## 🐛 Bug

`torch.einsum` crashes when the shape of the input contains zeros.

## To Reproduce

Steps to reproduce the behavior:

[code]
[code]

## Environment

[code]

cc @vincentqb @vishwakftw @SsnL @jianyuh

[2020-04-30 23:24] ksasso1028 opened #37629 "logging_is_not_google_glog.h:24:11: error: 'const int ERROR' redeclared as different kind of symbol const int ERROR = 2; ^"
I have a file in my large project using ERROR as a constant already globally so i cannot change that variable as its used in many places.  When i try to build i get an error from the linker because it finds both variables, whats the best way to edit "logging_is_not_google_glog.h" without breaking anything else? Anyway i could remove it entirely?

[2020-04-30 23:33] eellison commented on #37617
Just curious - is this something you ran into in user code ?

[2020-04-30 23:34] ksasso1028 commented on #37629
I am building pytorch from source , v1.3.0 . Any way i can modify the build so there is no issues?

[2020-04-30 23:37] SplitInfinity commented on #37617
No, I was just messing around while working on #37608. Based on my reading of the parser code, I thought `del a, b, c` would be a parsing error (which is better than producing incorrect results) but I tried it out and then this happened.

[2020-04-30 23:57] jjlilley commented on #37557
Rohan, I believe the present future behavior, where it calls notify_all (and stops the wait call) prior to executing callbacks is intentional.

IIRC, There was a discussion about it in a code review a few months back - the feeling was that it might be better to unblock execution, in case callbacks implicitly relied on the notify being sent.

So ideally we don’t change future behavior here, but may

[2020-05-01 00:33] eellison commented on #37617
Word, nice catch. Yea if it's silently wrong semantics we should definitely fix it. In general i'm wary of expanding features without a user request because increase our surface area without much benefit; `del` is an example of this. But definitely incorrect compilation as opposed to hard errors should be fixed.

[2020-05-01 00:34] pritamdamania87 commented on #37030
Since we call `.detach()` on the grad in AccumulateGrad, what is the reason to detach it again in `zero_grad`? Is this for the case where the user might mess around with the .grad field (by setting requires_grad to True and doing a few ops) before calling zero_grad?

[2020-05-01 00:43] pritamdamania87 commented on #36871
@gmoneymiller Where can I find this zip file? I don't see a file attached to this issue.

[2020-05-01 00:46] gmoneymiller commented on #36871
Attached.

--Scott

On Thu, Apr 30, 2020 at 8:44 PM Pritam Damania <notifications@github.com>
wrote:

[2020-05-01 01:31] malmaud commented on #35566
Here's the relevant section from mypy: https://mypy.readthedocs.io/en/stable/common_issues.html#incompatible-overrides.

I'm worried that whether the annotations are inline or not is irrelevant. Fundamentally, the design of `nn.Module.forward` violates Liskov substitution and so is incompatible with being typechecked under the semantics of PEP 484.

[2020-05-01 01:35] pritamdamania87 commented on #36871
@gmoneymiller Thanks for sharing the code, I'm able to reproduce this issue locally. I was wondering if you tried running the model multiple times without DDP and noticed a similar issue with determinism? Or does this only happen when you use DDP?

[2020-05-01 01:36] suo commented on #30755
Some commentary: the script compiler will start from the `forward()` method and recursively descend any functions that are called and try to compile them too. The logic for orchestrating this on the Python side is in `_recursive.py`.

In this case, it seems that the compiler is mistakenly trying to compile `some_method` as an `instancemethod` instead of a `staticmethod`, and treating `x` the impli

[2020-05-01 02:06] cpuhrsch commented on #37541
Why do we consider this closed? Isn't this still a big performance issue? PyTorch doesn't use jemalloc by default.

[2020-05-01 02:36] aribenjamin commented on #10324
A more numerically stable atanh one-liner is `torch.log1p(2*x/(1-x)) / 2`

From https://www.plunk.org/~hatch/rightway.php

[2020-05-01 02:40] sergiosanchezstb commented on #32516
This problem is also affecting recently released TorchServe when trying to serve a model on Windows. I hope it gets fixed soon.

torchserve --start --model-store model_store --models model_store/densenet161.mar

Error: Could not find or load main class org.pytorch.serve.ModelServer
Caused by: java.lang.ClassNotFoundException: org.pytorch.serve.ModelServer

[2020-05-01 02:44] pritamdamania87 commented on #36871
I hacked up the code to use world_size = 1 and it looks like the results are deterministic on CPU. Based on this it seems like the non-determinism is coming from something in DDP.

@mrshenli @zhaojuanmao I was wondering if you had some initial thoughts here in terms of what might be causing this non-determinism? Since this happens only on CPU, one possibility might be that there is some non-determ

[2020-05-01 03:05] #37371 closed

[2020-05-01 03:46] #36625 closed

[2020-05-01 04:07] #37541 closed

[2020-05-01 04:35] cpuhrsch commented on #37541
The effect disappears when you use the in-place version of ReLU, however we discourage the use of in-place operations in context of autograd, so this isn't quite the solution either.

[code]

[2020-05-01 05:53] malfet commented on #36451
@mruberry, works in latest nightly, mind closing this one?

[2020-05-01 05:55] malfet commented on #36318
Latest nighly supports basic math operations over torch.half, although they will be pretty slow (since type is not natively supported on the CPU.

[2020-05-01 06:23] yoshihingis commented on #37124
hi @peterjc123
Sorry to bother you again ,
I built mnist.cpp with the libtorch ver1.5  according with your advice , but I did not get good result.

(1) About Linked Libs
 torch.lib : not linked.
torch_cpu.lib : linked.
torch_cuda.lib : linked

(2)Commnad line
 a. I did not add the additional command , mnist operated correctly at CPU mode.
 b. I add the additional command -INCLUDE:?warp_size@cuda@a

[2020-05-01 06:49] peterjc123 commented on #37124
@yoshihingis You'll need to copy the libtorch DLLs to the directory of your target executable.

[2020-05-01 06:57] laizewei commented on #37476
The problem has been solved. net->forward() return three tensors.
auto ret = model->forward(jitdata).toTuple().elements();

[2020-05-01 06:57] yoshihingis commented on #37124
Dear peterjc123

 Thank you for your reply.
But I copy the libtorch Dlls to the same directory of executable file. hence the mnist operated correctly at CPU mode . Unfortunately I faced on the trouble at only GPU mode.

[2020-05-01 07:02] ntenenz commented on #16574
Fully onboard with the "simpler" solution. I find myself repeatedly creating `DeviceLike`, etc. aliases across projects, so having a single, definitive source of truth would make life easier, especially with 3rd party packages.

[2020-05-01 07:33] kuixu commented on #31546
@ducha-aiki I'm also suffering from this problem. Have you found a solution?

[2020-05-01 07:49] peterjc123 commented on #37124
@yoshihingis Please try the following commands.
[code]

[2020-05-01 10:08] yoshihingis commented on #37124
Dear peterjc123
Thank you for your support.

The mnist of libtorch ver1.5 operated correctly at GPU mode ,

I wonder why the mnist did not operated correctly at GPU MODE by built GUI Visual Studio 2019?

regards,
![commnad_mnist](https://user-images.githubusercontent.com/18341725/80798295-0d941d80-8bdf-11ea-817f-474c2342c0f4.jpg)

[2020-05-01 10:14] rahulmoozhikkal commented on #32694
Thank you

[2020-05-01 10:16] peterjc123 commented on #37124
@yoshihingis please see the comments in the previous post.

[2020-05-01 10:18] gmoneymiller commented on #36871
I now have what I call a "basic" branch of my code from which I removed all
trace of DDP.  The basic code just does normal training on the CPU, by
default, or on a specific GPU, but it is otherwise the same code as before.

The basic version produces deterministic results on both CPU and GPU.  That
fact does not rule out a bug in my code, but it does strongly suggest the
issue lies within DDP.

Ad

[2020-05-01 10:28] IlyaOvodov opened #37656 "Wrong warning "UserWarning: The default behavior for interpolate/upsample with float scale_factor will change in 1.6.0 ...""
## 🐛 Bug

Every time you run code using Upsample(scale_factor=...) it produces a warning:
[code]
It happens if scale_factor is int, but not if scal_factor is fractional (while should be opposite)

## To Reproduce
[code]
## Expected behavior
warning if scale_factor is fractional, not int.

PS. I'll fix it

[2020-05-01 10:32] Aravindbolloju commented on #34583
Hey Buddy,

Did you solved the issue

[2020-05-01 10:55] IlyaOvodov commented on #37656
Sorry, it was already fixed in master on 09.04

[2020-05-01 10:55] #37656 closed

[2020-05-01 11:16] dlrac commented on #36428
Just as an addition this works (not sure how it relates to flattening weights):
[code]
While including `conv` inside doesn't (raises `CUDNN_STATUS_BAD_PARAM`):
[code]

[2020-05-01 11:59] jayenashar commented on #30532
hi guys, i have made a python 3.6 pytorch 1.3.1 linux_x86_64 wheel without restriction on compute capability, and it's working on my 3.5 GPU.  i would be more than happy to build wheels for different python and pytorch versions if someone can tell me a proper distribution channel (i.e. not [google drive](https://drive.google.com/drive/folders/0B-X0-FlSGfCYdTNldW02UGl4MXM)).

[2020-05-01 12:29] s-bernard commented on #37588
So I tested with 07bb442, it fixes this issue. However, I have another test failing:
[code]

I see I have `USE_FBGEMM            : ON`, should I turn it off?

The strange part is some previous tests were skipped with:
[code]

Does this test should be skipped as the previous ones?

[2020-05-01 12:39] s-bernard commented on #37588
All tests failed are linked to qnnpack. Maybe that's the one which should be turned off.

[2020-05-01 12:44] JialeTao commented on #19840
Hi, could you share that how do you fix this? Did you reinstall the latest pytorch version? I install the pytorch1.5 but still face the issue.

[2020-05-01 13:11] ksasso1028 commented on #37629
Would using google log eliminate this ?

[2020-05-01 13:13] nikitaved commented on #34272
I am not sure this is an issue. Both numpy and PyTorch use LAPACK. I think for PyTorch it just takes longer to propagate the error for such a small input.

When I try `n=1000`, I get:
[code]

And for even larger `n`:
[code]

[2020-05-01 13:35] E3V3A commented on #30029
Hi Guys!

First of all, I would like to apologize for having been wrong and accusingly so. However, I have also been equally unaware and confused by this support, as you have been by my statement above. Because everywhere I come across PyTorch dependencies, everyone says, "no, only CUDA is supported". So how am I supposed to deal with this? Clearly I am mostly an end-user and quite a new one to "t

[2020-05-01 13:38] pmeier commented on #35566
@malmaud

If I understand it correctly, annotating forward with `forward: Callable[..., T_co]` tells `mypy` to not check the input arguments at all. Unfortunately, this syntax is only available in a stub.

So, we can could get it type checked but not with inline annotations.

[2020-05-01 13:51] rgommers commented on #34272
Just to make sure to compare apples to apples:

1. `cholesky_fail_nla(H)` seems to use a `Tensor` as input to numpy, so there's the conversion cost as well (this is wrong in the original issue description as well)

2. Better to change the function under test to raise an exception if `cholesky` succeeds:
[code]

Also, ~4 ms to propagate an exception for `n=100` does still seem very high, irrespecti

[2020-05-01 13:58] albanD commented on #37030
We only detach() in AccumulateGrad if there is no existing .grad and `create_graph=False`. So not always.

I think the main reason to detach() when you call `zero_grad` is to help the user avoid leaking memory. When they work with higher order derivatives, this make sure that we break the reference cycle created here (we have an issue to remove it, but no solution). Without this detach(), we would

[2020-05-01 14:02] cdluminate commented on #37558
This is a serious bug, as it may break the user's system under a certain circumstance.

[2020-05-01 14:15] nikitaved commented on #34272
Yes, the conversion is included. Check out this:
[code]

[2020-05-01 14:25] sclarkson opened #37663 "Segfault while exiting multiprocess spawn on Ubuntu 20.04"
## 🐛 Bug

Mutliprocess spawn can segfault while exiting the parent process on glibc 2.3.1

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Install pytorch 1.5.0 with pip on Ubuntu 20.04
1. Run c10d_spawn unit test `python3.8 pytorch/test/distributed/test_c10d_spawn.py`
1. Observe that all tests succeed, but that the process segfaults while exiting

## Expected behavior

Parent proces

[2020-05-01 14:31] nikitaved commented on #34272
The conversion takes about ~2ms. So, yeah, the propagation is on the order of ms...

[2020-05-01 14:38] orena1 opened #37664 "Remove everything from a GPU (including drivers)"
## 🚀 Feature
Hi, it seems that once one send a Tensor to the GPU memory, it is not possible to release the memory usage of the GPU back to zero.
example:
[code]
So I use 730MiB...
Now no matter what I try I can not make the 730MiB go to zero:
[code]

## Motivation
I am building an agile algorithm that use a changing amount of GPUs, increasing and decreasing the number of GPUs that are needs.It con

[2020-05-01 15:09] andrew12678 commented on #37143
@zhangguanheng66 @xwang233 is there any further diagnostics I can run from my end to see why the segmentation fault is occuring?

It seems like other people on other operating systems (Ubuntu) have been effected in the past but haven't come up with a solution yet.

https://stackoverflow.com/questions/58748553/segmentation-fault-in-pytorch

https://stackoverflow.com/questions/54210933/when-i-code-t

[2020-05-01 15:16] nairbv opened #37665 "Lack of AVX2 not detected correctly in build"
## 🐛 Bug

If I build from source (on a personal Ubuntu 18.04 desktop), the build completes successfully but segfaults on 'import torch'.

I suspect my cpu (Intel i7-4820K FCLGA2011 purchased in 2013), supports avx but not avx2, and the build is failing to detect the lack of AVX2.

gdb output:
[code]

## Expected behavior

Build should detect lack of AVX2 / compile correctly / not segfault.

## Env