[2021-06-16 03:24] shizao commented on #60004
@suo Thank you so much. I will try it out.

[2021-06-16 03:31] jansel commented on #52434
#59920 and #60058 fix a few of these issues.

[2021-06-16 03:37] ZGHAP opened #60068 "torch.load issue on different folder"
## 🐛 Bug

I trained 2 set of model and place them on two folder.

One of them can not be loaded when I call them by a program runs on another folder, even though I can detect them all is exist.

but both of them could be loaded when the program runs on their parent folder. Why this happen?

## To Reproduce

def load_product_model(self, product, set_folder = 'Set'):
        actor_net_path = './' +

[2021-06-16 04:05] senysenyseny16 opened #60069 "Symbolic trace with *args"
## 🐛 Bug

When I'm trying to trace model with positional arguments `*args` in `forward`, the following error occurs:

`torch.fx.proxy.TraceError: Proxy object cannot be iterated. This can be attempted when used in a for loop or as a *args or **kwargs function argument.`

## To Reproduce
The simplified problem is `Container` that forwards positional arguments to its `Module`:

[code]

## Expected b

[2021-06-16 04:38] lhb8125 opened #60071 "Interference between different communication groups?"
## ❓ Questions and Help

### If I launch multiple collective operations with multi communication groups, the performance will be impacted.

- Hardware: two nodes with eight gpus
- Setup: group0(node0_gpu0, node1_gpu0), group1(node0_gpu1, node1_gpu1), ...
- Collective operation: Allreduce
- Expected results: Same bandwidth with the network
- Actual results: The bandwidth decreases as the count of g

[2021-06-16 04:58] gautamborad commented on #51138
@gmagogsfm / @penguinwu, Please review the [WIP PR 60033](https://github.com/pytorch/pytorch/pull/60033) for review. Also please add relevant people for the review. Thanks!
CC: @zdevito / @ezyang

[2021-06-16 04:59] imaginary-person commented on #56187
@ezyang, regarding `AVX512_256`, when I compile the AVX2 kernels of the current master branch's source-code with `-march=native` instead of `-mavx2`, I don't see registers `ymm16-ymm31` being used for all kernels. So I think gcc/g++ 9.3 doesn't always leverage extra registers & perhaps I'd have to use compiler optimization techniques at various places in the code to use them. As such, I think I sh

[2021-06-16 05:07] kmaehashi commented on #58743
@rgommers Could you add @asi1024 @emcastillo and me (@kmaehashi) to the list as well?

[2021-06-16 05:08] simaki opened #60072 "Source of `torch.testing.assert_close` reaches a dead end"
## 📚 Documentation

When I click "[SOURCE]" in PyTorch 1.9.0 documentation of [`torch.testing.assert_close`](https://pytorch.org/docs/stable/testing.html), it reaches a dead end. The URL is https://pytorch.org/docs/stable/_modules/torch/testing/_asserts.html#assert_close .

I suppose this is a minor issue, but let you know just in case.

<img width="874" alt="Screen Shot 2021-06-16 at 14 04 08" sr

[2021-06-16 05:15] navahgar commented on #56741
Fixed by #59423

[2021-06-16 05:15] #56741 closed

[2021-06-16 05:19] pmeier commented on #24422
@asi1024 @emcastillo @kmaehashi I've added you to the `module: python array api` as per request in https://github.com/pytorch/pytorch/issues/58743#issuecomment-862042836.

[2021-06-16 05:22] malfet commented on #60072
The file exists in the repo https://github.com/pytorch/pytorch.github.io/blob/site/docs/1.9.0/_modules/torch/testing/_asserts.html
But looks like it was not deployed for some reason

[2021-06-16 05:38] malfet commented on #60072
Entire `_modues/torch/jit` is also missing from the deployed website

[2021-06-16 06:54] jay746 opened #60075 "unable to backward propagate convolution with padded input"
## 🐛 Bug

In a graph where input is padded with required zeros and then passed to do convolution and then backward is called.
I see test failing with error:
`>>> res.backward(grad_in)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/jthakur/vnv_syn_new/lib/python3.6/site-packages/torch/tensor.py", line 245, in backward
    torch.autograd.backward(self, gradien

[2021-06-16 07:03] martinPasen commented on #59945
I am working on #59790 and this issue is closely connected. Should I implement it in that PR, or is it supposed to be done separately after #59790 is merged?

[2021-06-16 07:11] liuyhlinux commented on #58983
It seems deadlock with multi-processing training

[2021-06-16 07:11] malfet opened #60077 "quantize_per_tensor returns inconsistent results on ARM for quint8"
## 🐛 Bug

`quantize_per_tensor` returns tensor filled with different values while quantizing `torch.ones(10) * 2**32`:
[code]

This happens because of the integer overflow here:
https://github.com/pytorch/pytorch/blob/9fbbab88da8c1affa0fe6f71ea0951a549f7751c/aten/src/ATen/native/quantized/affine_quantizer_base.cpp#L124

## Expected behavior
[code]

cc @malfet @jerryzh168 @jianyuh @raghuramank100 @

[2021-06-16 07:24] malfet commented on #60072
Fixed by https://github.com/pytorch/pytorch.github.io/commit/5a2028452f93fdc5e44a65e761e03ed658048336 and https://github.com/pytorch/pytorch.github.io/commit/82eaa25adc292d81414e2bd33e95466c52e78dea

[2021-06-16 07:24] #60072 closed

[2021-06-16 07:32] alexeygolyshev opened #60081 "[Bug] numpy is no longer a required dependency"
## 🐛 Bug

https://github.com/pytorch/pytorch/releases/tag/v1.9.0
**binary release: numpy is no longer a required dependency**

[code]

[code]

[2021-06-16 07:37] jonathan-conder-sm opened #60082 "Segmentation fault with PyTorch 1.8.1+cu111 and GTX 1070"
## 🐛 Bug

A segfault triggered from a python script. Might be related to existing issues but I thought I'd make the repro steps available anyway.

## To Reproduce

Steps to reproduce the behavior:

Save the following script as `entrypoint.py`:
[code]

Save the following `Dockerfile` in the same folder:
[code]

Then run this in the folder:
[code]

You might need to install NVIDIA container toolkit.

[2021-06-16 07:46] madhusoodanan1989 opened #60083 "caffe_translator.py Unable to convert Power Layer"
While converting my caffe model to caffe2 model I get the below error.

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\Lib\site-packages\caffe2\python\caffe_translator.py", line 212, in TranslateLayer
    caffe_ops, params = cls.registry_[layer.type](
KeyError: 'Power'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  Fi

[2021-06-16 08:04] Rivendile opened #60084 "Profiler does not contain NCCL kernel"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. I use pytorch.profiler to profile a horovod distributed training using pytorch 1.9.0 as follows. But there is no nccl kernel and streams other than the default one, 7.
[code]
The profiling results are correct when I change the pytorch version from 1.9.0 to 1.8.1, though the speed of pytorch.profiler in 1.8.1 is extremely slow.

## Env

[2021-06-16 08:15] SaoYear commented on #29795
Think this bug may be raised by unused but defined modules. I defined two CNNs in my network. When I used both of them, everything worked well but if I muted one (did not mentioned it in `forward`), this error happened.

[2021-06-16 08:22] #59718 closed

[2021-06-16 08:25] yjegssl commented on #59626
Is anyone following this?

[2021-06-16 08:27] #59777 closed

[2021-06-16 09:00] mruberry commented on #59983
It's always great to have better docs.

[2021-06-16 09:06] Eleven1Liu commented on #59783
@ngimel the `output_size` could be 2, 8, or 32

[2021-06-16 09:23] denjots commented on #59524
Sure, here you go... same issue when you replace fftn with fft2 - but not fft.

[code]

[2021-06-16 09:26] tchaton opened #60089 "torch.package: TypeError: 'NoneType' object is not iterable"
## 🐛 Bug

## To Reproduce

This happens with `pytorch_lightning.loggers.base.DummyExperiment` which can be found at:
https://github.com/PyTorchLightning/pytorch-lightning/blob/9097347ea8e354c5bed1aec186be305c1216bc81/pytorch_lightning/loggers/base.py#L429

[code]

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environmen

[2021-06-16 09:38] mruberry commented on #59524
Thank you, @denjots.

@peterbell10, would you mind taking a look at this?

[2021-06-16 09:39] FRAOTIAC commented on #40843
Yes, it has slowed down, mainly because of this with statement.

[2021-06-16 09:42] FRAOTIAC commented on #40843
From a problem-solving perspective, I recommend using `torch.cuda.nvtx.range_push(msg)`, which eliminates the need to use with statement, thus avoiding overhead.

[2021-06-16 10:06] tchaton opened #60090 "torch.package: Module did not match against any action pattern. Extern, mock, or intern it."
## 🐛 Bug

## To Reproduce

A draft PR is created on Lightning Flash, built on top of PyTorch Lightning.
https://github.com/PyTorchLightning/lightning-flash/pull/416/files#diff-e5d65c19fb43635dc8b91e9020e558acc1cb64c547f9829eaac732aa46ea3895R653

When running `python tabular_classification.py`, it seems some module are not properly package.
I browsed through the doc and PackageExporter codebase, bu

[2021-06-16 10:27] y0ast commented on #47908
@ngimel On the master branch, just:
[code]

it'll download cifar10 on the fly.

I created the environments for pytorch=1.9 like this:
[code]

[code]

[2021-06-16 10:39] muellerzr commented on #60090
I get this as well for fastai's `Module` class. I think we need to write a proper `__reduce_package__` function inside the module we want to use, but I've failed at doing so thus far

[2021-06-16 11:37] brianjo commented on #60072
That usually happens when we forget to add a .nojekyll file to the folder. Thanks for the report and fix.

[2021-06-16 12:01] peterbell10 commented on #59524
This will be fixed by #60021.

[2021-06-16 13:34] heitorschueroff commented on #59969
@pengfzhou NumPy also only supports [A-Za-z] and in the sublist format they support [0, 52) as indices. But I took note of your request and will consider for future implementations of `torch.einsum`. Closing this issue for now.

[2021-06-16 13:34] #59969 closed

[2021-06-16 13:55] mahgieeee commented on #58739
@pmeier thank you so much for letting me know. No problem!

[2021-06-16 14:08] jbschlosser commented on #60053
See also: https://github.com/pytorch/pytorch/issues/57949

[2021-06-16 14:11] nikithamalgifb commented on #60090
@Lilyjjo @SplitInfinity @suo : Do you guys have any idea about this?

[2021-06-16 14:13] nikithamalgifb commented on #60089
@Lilyjjo @SplitInfinity @suo : Do you guys have any idea about this?

[2021-06-16 14:17] tianrluo opened #60092 "`memory_format` flag for `tensor.new_empty()`."
## 🚀 Feature
Add keyword argument `memory_format` to `tensor.new_empty()`.

## Motivation

Since both `torch.empty()` and `tensor.empty_like()` supports specifying `memory_format`,
it seems making sense to add the flag to `tensor.new_empty()` as well.

[2021-06-16 14:18] rgommers commented on #59945
Thanks for that link. That's like a year ago - I had completely forgotten about that:)

Okay. Maybe I'm too scarred by working on NumPy for too long, and this is all not too bad. For me making a change after complex becoming stable simply didn't compute. Certainly PyTorch users are more forgiving about BC-breaking changes. In the end this does result in a better design. So if there aren't too many

[2021-06-16 14:20] nikithamalgifb commented on #60068
Can you try using the absolute path and see if that works?  Also how were these models saved. Using `torch.save` ?

[2021-06-16 14:20] alext opened #60094 "bundled libiomp5 causing segfaults in other libraries that use libomp"
## 🐛 Bug

I'm seeing segfaults from Wand if torch is imported before wand.

This has started happening since the system libomp library was upgraded to 12.0.0

## To Reproduce

Running the following test script results in a Segmentation fault:

[code]
where `test.pdf` is a very simple PDF with one word on it generated by Google Docs.

[code]

If I remove the `import torch` line, or even move it aft

[2021-06-16 14:33] albanD commented on #60075
Hi,

Could you share a self-contained code sample that we can use to reproduce this please?

[2021-06-16 14:37] jay746 commented on #60075
@albanD ,
Yes reproduction code is already mentioned in bug info.
Anyway adding again.

`import torch

in_channels = 105
out_channels = 1
ifm_shape = [1, in_channels, 1, 1]
padding = [8, 5, 9, 4]
groups = 1
kernel_size = [1, 1]
dilation = [1, 1]
stride = [14, 14]

ifm = torch.rand(ifm_shape)
ifm.requires_grad_(True)
padded_ifm = torch.nn.functional.pad(ifm, padding)

op = torch.nn.Conv2d(
in_chann

[2021-06-16 14:38] ansley opened #60095 "`torch.jit.isinstance` doesn't account for tuple literals in eager mode"
## 🐛 Bug

In Python, `isinstance` can be used with a single element or a tuple of elements. `torch.jit.isinstance` doesn't consider the case that we want to compare against a tuple of elements.

## Example

[code]

The above example errors out with:
[code]

Note that this is only a problem in eager (Python) mode. If you run it in script (`torch.jit.script`) mode, it will be fine.

## Notes

This w

[2021-06-16 14:38] ZGHAP commented on #60068
I had try absolute path, but still not work.
I use torch.save to save, should I using actor_net.state_dict()?

[2021-06-16 14:39] ZGHAP commented on #60068
saving function:

def save_model(self, product, i = 0):
        a_path =f'./model/Intra_{product}/a_net{str(i)}.pkl'
        torch.save(self.actor_net, a_path)

[2021-06-16 14:42] gchanan commented on #60060
CC @heitorschueroff @mruberry

[2021-06-16 14:44] chauhang opened #60096 "Tutorials that require `pip install` not loading correctly in Colab"
## 📚 Documentation

For the Tutorials that require `pip install` or `conda install` or any steps to be executed on base machine, they are not rendering correctly when opened in Google Colab. Something is getting removed in the sphinx conversion. Problem seen for these tutorials:

https://pytorch.org/tutorials/recipes/recipes/loading_data_recipe.html
https://pytorch.org/tutorials/intermediate/tenso

[2021-06-16 14:45] albanD commented on #60075
Ho sorry I missed that!

The problem seems to come from mkldnn as this error is an internal error there.
You can set `torch.backends.mkldnn.enabled=False` to disable it and have the code run as expected as a temporary workaround.

[2021-06-16 14:46] gchanan commented on #60068
not sure it's a JIT issue, but unlikely we'll be able to help without a reproduction.

[2021-06-16 14:48] albanD commented on #15097
Note that an equivalent way to do `loss.backward(batch_size=128)` is simply to do `(loss / 128).backward()` which should be simple enough to do.

Feel free to re-open if this is not possible for your use case and you need more help!

[2021-06-16 14:48] #15097 closed

[2021-06-16 14:50] gchanan commented on #60083
Caffe2 is deprecated, so we are unable to help here.

[2021-06-16 14:53] albanD commented on #60027
Hi,

You can see the doc for `autograd.grad` here: https://pytorch.org/docs/stable/generated/torch.autograd.grad.html?highlight=grad#torch.autograd.grad
You need to pass `create_graph=True` to the function if you want to be able to differentiate through the computation.

Also if you are ok with Tensor that are un-used and you prefer to get a None rather than an error, you can pass `allow_unused=Tr

[2021-06-16 14:53] #60027 closed

[2021-06-16 14:55] Lilyjjo commented on #60090
Hi! @tchaton we do have docs explaining what intern/extern/mocking are in our unreleased [master documentation](https://pytorch.org/docs/master/package.html). The information you need should be there!

@muellerzr There is an example of defining `__reduce_package__` for custom classes in the documentation as well. The problem you are hitting is due to the fact that `torch.package` is unable to pack

[2021-06-16 15:01] brianjo commented on #60096
I believe this is because colab lags a little in picking up the binaries. For the loading_data_recipe, if you add:
`!pip install torchaudio==0.9.0`
above the imports the sample should work normally.

[2021-06-16 15:03] gchanan commented on #60075
reproduces on 1.9.0 too.

[2021-06-16 15:03] ZGHAP commented on #60068
btw , I try using .actor_net.load_state_dict(torch.load(actor_net_path))

python prompt
1194         # copy state_dict so _load_from_state_dict can modify it
   1195         metadata = getattr(state_dict, '_metadata', None)
-> 1196         state_dict = state_dict.copy()
   1197         if metadata is not None:
   1198             # mypy isn't aware that "_metadata" exists in state_dict

[2021-06-16 15:08] B1ackg0d commented on #28224
Hi @ezyang ，what does this mean .Can this issue be resolved?I successfully used the method mentioned by f0k, but it didn't work. This method has no way to block the thread when the thread is calling the device.I'm confused and don't know where the problem is.

[2021-06-16 15:23] madhusoodanan1989 commented on #60083
Thank you gchanan for your response,
I would also like to know if there are any conversion scripts which can convert caffe models to pytorch or ONNX models.

[2021-06-16 15:23] ashok-arjun commented on #50032
This did not work for me.

[2021-06-16 15:29] malfet commented on #60081
@alexeygolyshev just to confirm, pytorch still works as expected after printing this warning, isn't it?

[2021-06-16 15:43] jbschlosser commented on #59925
Hey @wmusial, thanks for the thorough report! We are aware of these issues related to implicit registration. Unfortunately, it's too late to enforce explicit registration now without very large BC-breaking consequences.

Regarding your other suggestion: "the setattr automagic method should warn the user when the type of the attribute value is not recognized (the warning could be disabled if desire

[2021-06-16 16:09] ngimel commented on #60063
There are weird rows in this table, e.g. 32x768x64 taking 5.5x longer than 32x768x32 - do you know why would that be?

[2021-06-16 16:10] tchaton commented on #60089
Hey @Lilyjjo,

Here is the associated PR in Lightning Flash: https://github.com/PyTorchLightning/lightning-flash/pull/416/files

How to reproduce:
* Clone the project
* Install the reps
* Run https://github.com/PyTorchLightning/lightning-flash/pull/416/files

Best
T.C

[2021-06-16 16:12] nikithamalgifb commented on #60068
@gchanan , I will remove the JIT triage tag. Please tag the right project

[2021-06-16 16:29] ezyang opened #60100 "test_forward_async_script is flaky"
https://www.internalfb.com/intern/opensource/ci/job/log/1402983250083761/

[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @jjlilley @osalpekar @jiayisuse @mrzzd @agolynski @SciPioneer @H-Huang @cbalioglu @gcramer23

[2021-06-16 16:43] suo opened #60102 "Allow packaging of classes defined in a notebook"
The primary problem here is that `torch.package` uses `inspect.getsource` to retrieve source information for things being packaged. Since notebooks tend to mess with modules and their filenames, we are unable to retrieve source information for classes defined in notebooks.

A few options have been discussed:
- Ideally classes would store enough information to be able to retrieve their source indep

[2021-06-16 16:55] ngimel commented on #60082
That's a known issue that, as you note, has been fixed on recent versions.

[2021-06-16 16:55] #60082 closed

[2021-06-16 17:14] JulianKnodt commented on #60027
Hi @albanD,
Sorry for not including that in the initial issue. That does make it so it gives `None` for the first pass through, but that doesn't appear correct, I would expect it to give 0, since the 2nd derivative of `y = ax` is 0, rather than `None` which would imply that it did not affect the output. If you change `y = A(x) --> y = A(x.square())`, this also returns `None`. I expect it to return

[2021-06-16 17:30] t-vi commented on #60102
Thank you @suo for recording this!

So some links:
- My attempt at upstreaming adding source location is at [bugs.python.org issue 33826](https://bugs.python.org/issue33826) and https://github.com/python/cpython/pull/13894 and [on the mailing list](https://mail.python.org/archives/list/python-dev@python.org/message/AC5B5VORS6FF6KJ3EG5DIV3ZLAQB6DIY/).
    - One of the obvious things is that the cla

[2021-06-16 17:32] muellerzr commented on #60090
@Lilyjjo thank you! After moving everything to a `model.py`, it worked successfully when specifying only `pe.extern('model')`. Is this expected behavior? (IE I need to assume they have access to `model.py` to be able to load it back in?)

[2021-06-16 17:33] ezyang commented on #59945
I used to think that this was not so easy to do because of the base update problem: normally, tensors are mutable, but if you take out an immutable view to the tensor, if you mutate the base tensor, the view would get updated too, so this leads to the unsavory conclusion that when you take out an immutable view, this must make the base tensor immutable too.

However, I recently realized that versi

[2021-06-16 17:41] dstein64 commented on #60081
PR #52794 makes the Numpy dependency dynamic.

I think that the [removal](https://github.com/pytorch/pytorch/pull/52794/files#diff-60f61ab7a8d1910d86d9fda2261620314edcae5894d5aaa236b821c7256badd7L697-L698) of `numpy` from `extra_install_requires` consequently results in its removal from `install_requires`.

I had assumed that Numpy is now intentionally an optional dependency (e.g., for using `Tens

[2021-06-16 17:44] ezyang opened #60109 "test_remote_module_py_pickle_not_supported_script is flaky"
[code]

https://www.internalfb.com/intern/opensource/ci/job/log/198096968881685/

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @jjlilley @osalpekar @jiayisuse @mrzzd @agolynski @SciPioneer @H-Huang @cbalioglu @gcramer23

[2021-06-16 17:45] ezyang commented on #59768
more occurrences on master https://app.circleci.com/pipelines/github/pytorch/pytorch/335208/workflows/19ad7f7d-8553-41a6-8af4-7884266187d3/jobs/14086426 https://app.circleci.com/pipelines/github/pytorch/pytorch/335510/workflows/ab946270-2f0e-45c9-9967-e26e74f42bbe/jobs/14092092

[2021-06-16 17:50] mberr commented on #58518
This may be a very minor issue, but some labels linked in the issue template seem to be outdated, e.g. for `topic: regression` from

there is no issues labeled with it. However, there is a label of similar name, `module: regression` which has [some issues](https://github.com/pytorch/pytorch/labels/module%3A%20regression).

[2021-06-16 17:56] albanD commented on #60027
Ho if that's what you want to compute, then the problem is with what you give as input/output to the second grad() call.
You most likely want g as outputs and `x` (or `y`) as inputs.

[2021-06-16 17:58] seemethere commented on #58518
Thanks everyone for all of the help regarding the 1.9.0 release!

Going to go ahead and close this issue since the 1.9.0 release has already happened

[2021-06-16 17:58] #58518 closed

[2021-06-16 18:04] seemethere opened #60111 "ci: file_diff_from_base does not work for ghstack PRs on GHA"
# Problem

The function `file_diff_from_base` does not currently work for ghstack PRs on GHA.

Previous attempts at this can be found in the commits from April 23, 2021 here:
* https://github.com/pytorch/pytorch/pull/56494/commits

With failures mostly looking like:
[code]

Logs: https://github.com/pytorch/pytorch/runs/2423051948

_NOTE_: Logs may have disappeared since GHA only keeps logs for ~30

[2021-06-16 18:24] suissemaxx opened #60115 "How to install torchaudio on Mac M1 ARM?"
`torchaudio` doesn't seem to be available for Mac M1.

If I run `conda install pytorch torchvision torchaudio -c pytorch` (as described on pytorch's main page) I get this error message:

[code]
If I run the command without `torchaudio` everything installs fine.

How can I fix this and install torchaudio too?

If it isn't available (yet) – do you have any plans to release it too?

Thanks in advance

[2021-06-16 18:25] pearu commented on #60081
My immediate takeaway from this bug or feature was as follows (copying from internal discussion):

I think it is a sign of maturity of the software to remove unnecessary dependencies, although the process may not be completely painless..

I am curious about what is pytorch core developers standpoint on this issue.

[2021-06-16 18:35] imaginary-person commented on #56187
I'm adding a custom build option (environment variable `ATEN_AVX512_256`) for `AVX512_256` instead, which, when `TRUE`, would use 32 ymm registers for `CPU_CAPABILITY_AVX2` (if AVX512 is supported).

BTW, it seems that for some tasks, using AVX512 results in slightly less (estimated) power consumption than AVX2! I'm not sure how reliable those RAPL estimates are, though.

[2021-06-16 18:37] ezyang commented on #56187
OK, that's disappointing, but not entirely unexpected

[2021-06-16 18:37] suo commented on #58518
Docs only change, hopefully we can regenerate the docs:
Master PR: #60113
Cherry pick PR: https://github.com/pytorch/pytorch/pull/60117

Criteria: Documentation for new feature in this release

[2021-06-16 18:38] ezyang commented on #40843
Thanks for the note. I'll reopen this issue as a general perf optimization issuef or the context manager.

[2021-06-16 18:40] ezyang commented on #60094
Checking real quick, does this happen with 1.8?

[2021-06-16 18:45] wanchaol commented on #45760
temporarily reserving this as an intern starter task, plan to add `all_to_all` and `scatter` support.

[2021-06-16 19:04] andwgu opened #60121 "Optimizer state_dict documentation"
## 📚 Documentation

Refer to: https://pytorch.org/docs/stable/generated/torch.optim.Optimizer.state_dict.html#torch.optim.Optimizer.state_dict
The `Optimizer.state_dict` consists of `state` and `param_groups`. `param_groups` is a list of dict, where each dict in the list is a param group (see [here](https://github.com/pytorch/pytorch/blob/84688b0c40abf23cf4d6f2f03f285e8ad1bc4da5/torch/optim/optimi

[2021-06-16 19:05] JulianKnodt commented on #60027
Hm, this doesn't seem to work either, possibly due to a dimension mismatch. I tried
[code]
Just to be precise and avoid confusion, I want to compute `d/dx (d (f(x)) / dx)`

[2021-06-16 19:05] seyeeet opened #60122 "what version of python is suggested with pytorch 1.9"
I know pytorch support a variety of python version, but I wonder what version is suggested? python 3.6.6? 3.7.7? etc?
Thanks

[2021-06-16 19:17] jjsjann123 commented on #60063
Oops, sorry the label is confusing. 32x768x64 is actually 32x768x64x64

Looks like the kernel `void at::native::batch_norm_backward_kernel<float, float, float, int>` time went up more than 10x when spatial dimension x4. We can take a deeper dive there.

[2021-06-16 19:17] Lilyjjo commented on #60090
@muellerzr good to hear! And yes, if you use `extern` then your loading environment will need `model.py`! If you `intern` `model.py` instead, then you aren't required to have `model.py` around as it will be contained in the `torch.package` archive.

[2021-06-16 19:19] gdankel commented on #60084
@Rivendile Thanks for reporting. We'll look into it.

[2021-06-16 19:24] #60016 closed

[2021-06-16 19:26] monishae commented on #49782
Has there been any solution for this yet? I'm facing the same error with the model performing really well on the PC but when exported to android the model appears to be generating vectors that are quite off.

[2021-06-16 19:31] swilson314 commented on #40208
PS In my application, the new code is 560x faster, same as our home-grown backprop.

[2021-06-16 19:32] Lilyjjo commented on #60089
Hi @tchaton, are you able to create a smaller minimal repro? That would help me help you faster!

[2021-06-16 19:50] seyeeet opened #60126 "pytorch 1.9 wont appears to install on conda"
## 🐛 Bug

I just instlled anaconda and I tried to install pytorch 1.9 for cuda 10.2.
But it suggest me to install pytorch 1.7
I tried to do
`conda install pytorch=1.9.0  torchvision torchaudio cudatoolkit=10.2 -c pytorch`
but  it still does not work.

## To Reproduce
just create a new env and try to install pytorch from conda

## Expected behavior
Instead of showing pytorch 1.9 it is suggesting to

[2021-06-16 19:55] muellerzr commented on #60090
Great! That worked perfectly. Thank you so much @Lilyjjo!

[2021-06-16 19:59] adamtupper commented on #59890
I've just had the chance to run the example above on another machine, and I didn't encounter any issues. I'm now assuming that the issue lies with the specific configuration of the original machine. I'm not sure what the policy on closing issues is, but feel free to close this one now.

[2021-06-16 20:28] seyeeet commented on #60126
as I mentioned above I could not install it when I did
`conda install pytorch=1.9.0 torchvision torchaudio cudatoolkit=10.2 -c pytorch`

but it seems like it is working if I do the steps separately, meaning that:
- `conda install cudatoolkit=10.2 -c pytorch`
- `conda install --insecure pytorch -c pytorch`
`conda install --insecure  torchvision torchaudio  -c pytorch`

[2021-06-16 20:28] #60126 closed

[2021-06-16 20:31] ezyang commented on #60111
I don't think this is quite right. ghstack's head and base must in fact have a common merge-base, otherwise GitHub's UI wouldn't be able to compute the diff to show. Is the problem that the head and base are not related to master? We briefly broke this but fixed it later. https://github.com/ezyang/ghstack/issues/52

[2021-06-16 20:36] stas00 commented on #22378
Any chance pytorch could add support for "sum", "mean", "max" or "min", in addition to `mul` and `add` implementations?

It'd help HF transformers not to need to depend on `pytorch_scatter` which isn't trivial to build and requires us to bug  `pytorch_scatter` to often build binary wheels.

Thank you!

[2021-06-16 20:42] H-Huang commented on #60115
Hi, this issue is being tracked on the torchaudio repository, https://github.com/pytorch/audio/issues/1573, please add input there.

[2021-06-16 20:42] #60115 closed

[2021-06-16 20:44] ngimel commented on #59890
We usually close the issues that cannot be reproduced and thus aren't actionable. Feel free to reopen if needed.

[2021-06-16 20:44] #59890 closed

[2021-06-16 20:54] #60122 closed

[2021-06-16 21:03] H-Huang commented on #59793
potential fix in https://github.com/pytorch/pytorch/pull/60127

[2021-06-16 21:04] rohan-varma opened #60130 "DISABLED test_ddp_logging_data_cpu (__main__.TestDistBackendWithFork)"
## 🐛 Bug

Example failures:
https://app.circleci.com/pipelines/github/pytorch/pytorch/337673/workflows/db188d30-2c92-4faf-ac2a-e90b70d1e8c2/jobs/14187632
https://app.circleci.com/pipelines/github/pytorch/pytorch/337701/workflows/6e6161a7-7346-403a-a458-97f5e7970279/jobs/14188746
https://app.circleci.com/pipelines/github/pytorch/pytorch/337710/workflows/3f835c0e-ad07-45fd-9ede-dec90c043bb3/jobs/141

[2021-06-16 21:04] rohan-varma commented on #60130
cc @zhaojuanmao

[2021-06-16 21:05] rgommers commented on #59868
I opened https://github.com/data-apis/array-api/issues/202 for the promotion rules for reduction topic.

[2021-06-16 21:22] wmusial commented on #59925
thanks for the reply @jbschlosser . BC concerns make a lot sense.

With regard to warnings: the warning could flash once, only when the warning are met for the first time.

[2021-06-16 21:38] H-Huang commented on #60068
Based on my understanding of your directory structure, I am not able to reproduce any issues that you mentioned. For instance, the below example works fine:

`directory structure`
[code]

`test.py`
[code]

`another_folder.py`
[code]

This example works, so I am closing the issue. Please feel free to reraise the issue when you have a reproducible script that we can run locally and look into.

[2021-06-16 21:38] #60068 closed

[2021-06-16 21:39] albanD commented on #60027
You did copy pasted the code above properly.
The first grad() call should have `create_graph=True`.

And if you want twice derivatives wrt to x, then both `inputs=` should be `x`.

[2021-06-16 21:55] gchanan commented on #60081
I don't think testing is really a valid thing to consider -- it's standard to have different test dependencies.

I'd be more inclined to think about it in practical terms; is does shipping with numpy solve more problems than it causes?  That depends on the details like binary versioning, size, amount of code that depends on numpy, etc.

But in any case, we should have documented the change.

[2021-06-16 21:55] imaginary-person commented on #56187
I guess that's why FBGEMM doesn't rely upon gcc/g++ & uses assembly in some kernels.
BTW, [FBGEMM is only using `AVX512_256` for Xeon D processors](https://github.com/pytorch/FBGEMM/commit/2c87645b7b3b2153510aa0cc21464bf882ab02f2), which are said to have poor AVX512 performance.

[2021-06-16 22:29] zou3519 commented on #11959
@SsnL out of curiosity, what is your reasoning?

[2021-06-16 22:56] SsnL commented on #11959
@zou3519 It would be confusing because (1) it is not the mathematical definition and thus may be unexpected (2) the hard label version has optima 0 and (3) many people expect naturally that 0 is the optima.

[2021-06-16 23:00] brando90 commented on #59517
I am also getting something similar to this...is it due to python 3.9? did you fix this?

https://stackoverflow.com/questions/68010933/unable-to-install-pytorch-on-mac-os-x-from-scratch-due-to-pytorch-package-confli

[2021-06-16 23:26] mcarilli commented on #59793
https://github.com/pytorch/pytorch/pull/60127 definitely isn't a fix for the funny
[code]
(although I saw the same thing, seems like a common symptom when assertEqual is used to check race conditions, and I agreed with https://github.com/pytorch/pytorch/issues/59793#issuecomment-861600946).

https://github.com/pytorch/pytorch/pull/60127 adds syncs needed when `torch.autograd.grad` creates grads ou

[2021-06-16 23:37] ertrue opened #60132 "Any forward_pre_hook (except the first one self.register_forward_pre_hook(self._infer_parameters)) attached to LazyModuleMixin doesn't work right now"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Set up a module inherited from LazyModuleMixin
2. After module initialization, hook a function as hook_function(module, input)
3. run the forward function of the module.
4. Got the runtime error as "RuntimeError: OrderedDict mutated during iteration"

Example code to reproduce the runtime error:
[code]

## Expected behavior

Extra fun

[2021-06-16 23:44] #58500 closed

[2021-06-16 23:49] ertrue commented on #60132
A simple fix or workaround is in torch/nn/modules/module.py _call_impl() function, to change the iteration of hooks as list() of itertools.chain() as:

From:
[code]

to
[code]

[2021-06-16 23:52] imaginary-person commented on #60130
The title says that this test has been disabled, but it's still enabled.

[2021-06-17 00:05] zhaojuanmao commented on #60130
the error does not show a flakiness, but some deterministic error. does it happen in Master?

[2021-06-17 00:09] zhouzhuojie opened #60135 "Figure out if we can bake common apt dependencies into the base CI image to speed up CI"
For example, networking errors like accessing archive.ubuntu.org sometimes timeout and break the jobs

https://app.circleci.com/pipelines/github/pytorch/pytorch/337540/workflows/ffaaa570-88d0-4260-8b5e-ea8578197ea5/jobs/14179232

cc @ezyang @seemethere @malfet @walterddr @pytorch/pytorch-dev-infra

[2021-06-17 00:18] #57577 closed

[2021-06-17 00:26] imaginary-person commented on #60130
In #56992, it occurred in 2 CI checks. That draft PR has PRs from the master branch upto #60048, which was merged 4 hours ago.

[2021-06-17 00:28] walterddr opened #60136 "[CI stats] sharded test skew in test1/2"
Currently the test1/2 are skewed because of the fact that distributed/* tests are not ran just once but they are reported as if they are ran just once.

This is because:
https://github.com/pytorch/pytorch/blob/5f017e91b890c897107e2a479d274fcda5a3024b/test/run_test.py#L669

runs against different backends (mpi, gloo, nccl) and whether init files is provided (e.g. one test file were invoked 6 times

[2021-06-17 00:28] xwang233 opened #60137 "[C++] grad_input may have different memory_format from grad_output in structured kernels"
## 🐛 Bug

[C++] grad_input may have different memory_format from grad_output in structured kernels

## To Reproduce

Steps to reproduce the behavior:

1. Apply the following diff to current master (691183bb740a890d6972803e996bcca63673a7c4)

[code]

2. Run the following script

[code]

See sample output

[code]

It is seen that `upsample_nearest2d_backward_out_cuda grad_input is not channels_last`.

[2021-06-17 00:29] walterddr commented on #60136
also question, do we really need to run all 6 combination during CI for PR? cc @mruberry

[2021-06-17 00:51] walterddr opened #60139 "[CI stats] Report build workflow id when reporting test stats"
Currently we do not differentiate the workflow ID on a CI test
This causes trouble
- on master, there can be reruns; for example b2fc6de has 3 reruns circleci workflow:
https://app.circleci.com/pipelines/github/pytorch/pytorch/337742/workflows/ed7ccbb2-0aa2-45ba-b227-1e21c4d7f669
https://app.circleci.com/pipelines/github/pytorch/pytorch/337742/workflows/7e62137c-f0dd-4687-a147-d8167ccf37a9
https:/

[2021-06-17 00:56] imaginary-person commented on #56187
Probably a stupid question, but can we have a fast path for tensor addition, when `alpha` is 1? `fmadd` is being used for vectorized addition, so for adding 2 float tensors, even `CPU_CAPABILITY_DEFAULT` is sometimes slightly faster than `CPU_CAPABILITY_AVX2`, which, in turn, is 6%-8% faster than `CPU_CAPABILITY_AVX512`.

[2021-06-17 00:56] rohan-varma commented on #60130
@imaginary-person I think that's the spawn version of the test, will send an issue to disable that as well.

[2021-06-17 00:57] rohan-varma opened #60140 "DISABLED test_ddp_logging_data_cpu (__main__.TestDistBackendWithSpawn)"
## 🐛 Bug

see https://github.com/pytorch/pytorch/issues/60130

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @agolynski @SciPioneer @H-Huang @mrzzd @cbalioglu @gcramer23

[2021-06-17 01:00] ngimel commented on #60137
The problem is most likely in the META function that handles the allocation of grad_input. Note that after fixing META function (probably in similar way that MaxPooling operates today) cpu implementation will also need to be changed to be able to handle channels-last grad_input (just by copying whatever format cpu implementation produces to correctly strided grad_input).

[2021-06-17 01:02] ngimel commented on #56187
We definitely should! Do you have benchmarks for the difference?

[2021-06-17 01:17] analyticsbot opened #60143 "torch.jit.save gives error - RuntimeError: Could not export Python function call 'NMSop'. Remove calls to Python functions before export. Did you forget to add @script or @script_method annotation? If this is a nn.ModuleList, add it to __constants__"
## 🐛 Bug

Model trace works fine but when saving the traced model, it gives an error

## To Reproduce

Steps to reproduce the behavior:

I trained a mmdetection model and for deployment I need to trace the model and then save the traced model.  When saving the traced model, it gives an error.
Issue on mmdetection [repo](https://github.com/open-mmlab/mmdetection/issues/5381)
[code]

Error traceback

[2021-06-17 01:42] chauhang commented on #60096
The issue in the code execution blocks of the jupyter notebook. For any item that reques execution in terminal side these don't render properly from the sphinx converted notebooks. Eg to list files in a directory in the notebook one uses the command

!ls <path>

This gets converted to

::
ls

Please see screenshot of how things are rendering for Profiler in Colab:

<img width="908" alt="Screen Sho

[2021-06-17 01:46] guotuofeng commented on #60096
The % is needed to be supported as well. For example, the  %load_ext tensorboard is used to load the tensorboard extension.

[2021-06-17 02:03] ezyang commented on #60000
Yeah, I'm all for documenting this quirk. Ideally, we'd find out exactly what interaction is causing this to happen, and maybe it is something we can fix. But if it's like, yeah, numpy using OpenBLAS using openmp causing threads to not be available, well, sorry, there's not much we can do about it.

[2021-06-17 02:45] stas00 opened #60145 "[1.9.0] torch.profiler.tensorboard_trace_handler doesn't generate valid data"
## 🐛 Bug

I tried to replicate: https://pytorch.org/tutorials/intermediate/tensorboard_profiler_tutorial.html

when the log is generated and I try to load it, when I go to  http://localhost:6006/ I get:

[code]

I tried the samples provided with https://github.com/pytorch/kineto/tree/master/tb_plugin and they load just fine.

So my guess is that `torch.profiler.tensorboard_trace_handler` is not wr

[2021-06-17 02:49] stas00 opened #60146 "[torch.profiler] enhancements + corrections"
## 🚀 Feature

After working through https://pytorch.org/tutorials/recipes/recipes/profiler_recipe.html I have one correction and several requests for enhancements:

[code]

[code]

1. why the function names are aligned right? it's much harder to make sense of these.

Compare this to left-aligned:

[code]
If there is a clash between conflicting formatting desires, then perhaps the output format sho

[2021-06-17 03:03] #59947 closed

[2021-06-17 03:32] Nateliu712 commented on #45428
@gchanan I met the same problem, here is the log
[] [E context_gpu.cu:444] Encountered following in ~CUDAContext: [enforce fail at context_gpu.h:195] error == cudaSuccess. 700 vs 0. Error at: /home/xxx/tmp/pytorch/caffe2/core/context_gpu.h:195: an illegal memory access was encountered
[] 0: c10::ThrowEnforceNotMet(char const*, int, char const*, std::__cxx11::basic_string<char, std::char_traits<cha

[2021-06-17 03:33] jbschlosser commented on #60132
Thanks for the report! Specifically, the error is triggered by the lazy module's initialization hook trying to remove itself from `_forward_pre_hooks` during hook iteration:
https://github.com/pytorch/pytorch/blob/85517a2b700a5abc0b38f53ce8c99404cd67db79/torch/nn/modules/lazy.py#L251

Proposed fix iterates over a copy of the hook list instead- I guess properly allowing the self-removing hook patte

[2021-06-17 03:37] Elysion-tcfa commented on #41508
I would like to give another use case for this scenario. In my case I have variable-sized 2D data and I build a Transformer-like model which attends alternately on each of the two dimensions. The problem arises when the model is attending on a padding row or column. Since the data are variable sized, it's not possible to simply truncate the data to avoid the problem. Now the hack I'm doing is, fir

[2021-06-17 04:09] gahdritz opened #60148 "Tensor.permute() & Conv2d activation checkpointing cause RuntimeError on GPU"
## 🐛 Bug

Permuting more than two axes of a Tensor before feeding it to a checkpointed Conv2d layer causes a crash during the backward pass when CUDA is enabled. All three conditions appear to be necessary: if exactly 2 axes are permuted, if the first layer in the checkpoint is not specifically of type torch.nn.Conv2d, or if the operations are performed on CPU, no error occurs.

## To Reproduce

H

[2021-06-17 04:20] ezyang commented on #28224
Not resolved, the priority bump is just me trying to get someone to come work on this :)

[2021-06-17 04:22] ezyang commented on #45760
BTW, with conjugate views, need to also transmit conjugation status unless materializing the conjugate view first

[2021-06-17 04:23] ezyang commented on #22378
I think this is the right spot. Thanks for reminding us about this again!

[2021-06-17 04:43] stas00 opened #60149 "backward compatibility - need a way to find out when a certain API was added/modified/etc."
## 📚 Documentation

Currently it's very difficult to know when an API has been modified, which is a requirement for backward compatibility.

Let's take: https://pytorch.org/docs/stable/generated/torch.Tensor.add_.html which starting from 1.9.0 deprecates
[code]

But I don't know whether it's safe to do `Tensor.add_(other, *, alpha=1)` because I don't know when this variation of API was added, so i

[2021-06-17 04:44] lfxx opened #60150 "GPU memory is not been freed correctly"
## 🐛 Bug

When i delete a tensor on gpu,the gpu memory is not been freed on ```nvidia-smi``` even if i use ```
torch.cuda.empty_cache()```
## To Reproduce
Steps to reproduce the behavior:
use the code below:
[code]

1.Use ```temp = torch.ones([4000, 4000], device='cuda')```to create a tensor on gpu,now,the nvidia-smi's output:
![before](https://user-images.githubusercontent.com/27956643/122332225-

[2021-06-17 04:47] stas00 opened #60153 "[oneline docs] adding a source link for non-python functions"
## 📚 Documentation

Source code (Source) links next to API functions are very useful for many reasons, but they only appear it seems next to python API, e.g.:
https://pytorch.org/docs/1.9.0/generated/torch.nn.Conv1d.html?highlight=conv1d#torch.nn.Conv1d

Any chance the same can be done for Cpp, functions? e.g. I can't find a source link to
https://pytorch.org/docs/stable/generated/torch.Tensor.add

[2021-06-17 04:51] Aliweka2020 opened #60154 "building 'torch_test_cpp_extension.rng' extension error"
I trying to compile GCC while get this error

![image](https://user-images.githubusercontent.com/6129944/122333217-ac1b3500-ceec-11eb-8e05-fc1426702953.png)

any help !!!!

[2021-06-17 05:14] twoertwein opened #60156 "PEP-585 type annotations not supported for class-level annotations"
## 🐛 Bug

Pytorch 1.9 supports PEP-585 type annotations, but JIT fails when annotations are used outside functions. The same works with `List[torch.Tensor]`.

## To Reproduce

[code]
[code]

cc @gmagogsfm

[2021-06-17 05:15] twoertwein commented on #56210
It seems that list/tuple/dict are not supported in call cases, see #60156.

[2021-06-17 05:22] imaginary-person commented on #56187
Sorry @ngimel, `vec256_fmadd_ps` has the same latency as `vec256_add_ps`, so that's probably why no fast path has been added.

I [added two 64 MB tensors of size (1, 256, 256, 256) each](https://gist.github.com/imaginary-person/e0bbac859f5b6c309d8a638e2629df0d).
The average of 10000 iterations yields different results each time, and since the potential fast-path (`add`, instead of `fmadd`) initial

[2021-06-17 05:26] XiaobingSuper commented on #60075
@jay746, thanks, we are tracking it.

[2021-06-17 05:41] stas00 opened #60158 "torch.profiler.profile hangs on the first step"
## 🐛 Bug

I tried the torch.profiler tutorials with simple examples and everything seems to work just fine, but when I try to apply it to the `transformers` training loop with t5 model , `torch.profiler.profile` hangs on the first active cycle

[code]

It's a huge training loop and I still need to try to figure out to reduce it to a small example, but perhaps you have some ideas to try to overcome

[2021-06-17 05:52] #46224 closed

[2021-06-17 06:12] mruberry opened #60159 "Some ops throw runtime errors when called with complex tensors that require_grad but work when requires_grad=False"
The following ops will throw an error when called with complex inputs that require grad:

- cholesky_inverse
- linalg.det
- var_mean
- std_mean
- to_sparse
- sigmoid

However, an error should only be throw if a user actually tries to compute the gradient.

[2021-06-17 06:33] kyleung271 commented on #57490
@Lilyjjo
In both 1.9.0 stable and 1.10.0 nightly with cuda 11.1, The os.path error bug appeared when both `import os` and `import os.path` are used.

[test.zip](https://github.com/pytorch/pytorch/files/6667896/test.zip)

[2021-06-17 06:48] cdeepali commented on #59517
This is happening so because `torchaudio` requires `python_abi` which is not available on defaults channel.
It is available on `conda-forge` though.

The following works:
[code]

[2021-06-17 07:08] jay746 commented on #60075
Thanks @albanD for suggesting a workaround. thanks @XiaobingSuper for tracking an issue.

[2021-06-17 07:27] cyr0930 opened #60164 "Training goes wrong with amp and no_grad since pytorch 1.8"
## 🐛 Bug

Model training goes wrong if I use native amp in no_grad context since pytorch 1.8
This doesn't happen if I don't use amp.
Also it didn't occur if I run the code below with pytorch 1.7.1.

## To Reproduce

Steps to reproduce the behavior:

1. I used a code in https://pytorch.org/tutorials/beginner/transformer_tutorial.html
`
import math
import random
import numpy as np
import torch
impor

[2021-06-17 07:37] #24618 closed

[2021-06-17 07:49] mruberry commented on #41688
Closing due to lack of response. @leockl, please let us know if we should reopen this.

[2021-06-17 07:49] #41688 closed

[2021-06-17 07:50] jhoareau opened #60165 "torch.load non backwards compatible on Transformer between 1.8.1 and 1.9.0"
## 🐛 Bug

A Transformer that I used `torch.save` on with Pytorch 1.8.1 cannot load on Pytorch 1.9.0.

## To Reproduce

Steps to reproduce the behavior:

On Pytorch 1.8.1:
[code]
Then update Pytorch to 1.9.0
[code]
The following stacktrace will show:
[code]

## Expected behavior

`torch.save()` on Pytorch X should be able to load modules that are saved on previous versions (https://github.com/pytor

[2021-06-17 08:12] kohtala commented on #25639
Seems to work. Thanks!

I found some discussion at pypa/pip#8606 about the rules to select packages between indices. As I tried the commands, they seemed to select the one that I wanted, but I still did not find the detailed rules to understand why. Apparently it chooses the best match by highest version and matching tags and only selects between indices if indices serve the same file. The file na

[2021-06-17 08:13] #25639 closed

[2021-06-17 08:27] ybai001 commented on #58171
@axitkhurana From the NNAPI MobileNetV2 example (https://pytorch.org/tutorials/prototype/nnapi_mobilenetv2.html), MobileNetV2 can be converted for NNAPI. I think MobileNetV2 includes conv-bn layers too.
You said "quantized::batch_norm2d is not currently supported by the NNAPI converter." Could you help to explain why MobileNetV2 can be converted?
I'm new for PyTorch Mobile and hope your help on th

[2021-06-17 08:38] alext commented on #60094
Hi @ezyang

I've just tested with torch 1.8.0 and 1.7.1 and I'm getting the same behaviour.

[2021-06-17 08:43] seanxcwang commented on #59781
I have tried to add `aten::flatten` and `aten::adaptive_avg_pool2d` to the function`getScaleFromInput`(unpack_quantized_weights.cpp), got another error "RuntimeError: bad optional access"

any suggestions will be helpful

[2021-06-17 09:03] WZMIAOMIAO opened #60171 "[torch1.9] Warning: Leaking Caffe2 thread-pool after fork."
## 🐛 Bug
When num_worker > 0 (in DataLoader), I call set_num_threads function and get some warnings.

## To Reproduce
Execute the following script:

[code]

got log:
[code]

## Expected behavior

there should be no any warnings.

## Environment
 - PyTorch Version (e.g., 1.0): torch1.9
 - OS (e.g., Linux): Centos7
 - How you installed PyTorch (`conda`, `pip`, source): pip
 - Build command you used

[2021-06-17 09:11] rubengrab opened #60172 "[Android] Upgrading to 1.9.0 causes NNAPI model loading to fail"
## 🐛 Bug

After upgrading to Pytorch 1.9.0 and using the suggested dependency imports and model loading function, the model fails to load.
Before I was creating the NNAPI model with 1.9.0 nightly-build and importing the dependency as
`implementation 'org.pytorch:pytorch_android:1.9.0-SNAPSHOT'` and it worked.

## To Reproduce

Steps to reproduce the behavior:

**1. Convert to NNAPI & CPU**

[code]

[2021-06-17 09:29] imaginary-person commented on #60130
Oops, sorry! You're right.

[2021-06-17 09:30] imaginary-person commented on #60171
Please ignore this warning for now.

[2021-06-17 09:37] jhoareau commented on #60165
@bhosmer It looks like the breaking of backwards compatibility was introduced in your PR here https://github.com/pytorch/pytorch/pull/58727

[2021-06-17 09:39] jhoareau commented on #60165
And @gchanan https://github.com/pytorch/pytorch/pull/52537#issuecomment-782443763 - this might also be related to this issue.

[2021-06-17 10:56] XuechaoChen opened #60174 "unique() has bug with randperm() in 1.8.1 version"
When I run the code demmonstrated in "## To Reproduce" block, I got "illegal memory access" error. However, I didn't encounter the same error when using pytorch 1.2/1.4 version. And there's no error when I use randperm() or unique() seperately.

## 🐛 Bug

Traceback (most recent call last):
  File "torch_unique_error.py", line 10, in <module>
    unq, unq_inv, unq_cnt = torch.unique(a, return_inver

[2021-06-17 11:08] ilija139 opened #60175 "`torch.linalg.solve` on GPU gives "Error in magma_getdevice_arch: MAGMA not initialized (call magma_init() first) or bad device""
## 🐛 Bug

`torch.linalg.solve` on GPU gives "Error in magma_getdevice_arch: MAGMA not initialized (call magma_init() first) or bad device"
But it still gives correct results.
I tried on two machines, same result.
## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior
No error to be printed. `X` is already correctly computed.

## Environment
### Machine 1
Collecting environ

[2021-06-17 11:24] ducha-aiki opened #60176 "Conv2D returns random results on arm64 with torch.no_grad()"
## 🐛 Bug

Results of a convolution operation are different when used with and without torch.no_grad()

## To Reproduce

Steps to reproduce the behavior:

[code]

[code]

Prints:

[code]
## Expected behavior

Outputs should be the same, with grad and without it.

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytor

[2021-06-17 11:30] tejasdubhir commented on #41396
Can you please recheck the link? It appears to be invalid.

[2021-06-17 11:32] gaoteng-git commented on #60145
@stas00 Same with this: https://github.com/pytorch/kineto/issues/299#issuecomment-863064825

[2021-06-17 12:44] Rivendile commented on #60084
Besides, could you please tell me what the Wall Duration and self time means in traces? It seems that the Wall Duration is the call time of kernel in streams for distributed training. Is this right?

[2021-06-17 12:49] nikithamalgifb commented on #60143
Hi, could you please provide a small reproducer for your issue? It will be easy for me to help you out faster that way.

[2021-06-17 13:10] Flamefire commented on #57744
Fixed by https://github.com/pytorch/pytorch/commit/c71459602785bcc9f0f93a880c642ff61299d3d5

[2021-06-17 13:14] albanD commented on #60132
Yes I think this is ok.
Especially because we have a "fast path" for people that don't use hooks, so this will only impact people that use them.

Note that you should update the other forward hook as well as they are most likely suffering from the same limitation.

The fix might not be to add a list btw but just remove the itertools.chain. As this function's goal is to avoid the copy that you want

[2021-06-17 13:16] karolsputo commented on #60095
I'll take a stab at it

[2021-06-17 13:49] Flamefire commented on #59548
Shame that those quite important fixes haven't made it into 1.9.0

[2021-06-17 13:50] ezyang commented on #60137
Yes, what @ngimel said!

[2021-06-17 14:01] shyrma commented on #60158
I faced the same problem as well :-(

[2021-06-17 14:08] walterddr commented on #44159
Hmm. I don't think there's a per test method level filtering. We still leverage `-k` option in unittest/pytest to do the test method name pattern filter.
Just to clarify. isn't #55174 a super set of this issue?

[2021-06-17 14:10] pearu commented on #59379
https://pearu.github.io/csr_sampling.html contains a description and a prototype of a new algorithm for generating CSR samples.

[2021-06-17 14:10] addisonklinke commented on #28705
Same here. Quantizing a PyTorch model is not much use to me if I cannot export to ONNX for production use (with ONNX Runtime)

[2021-06-17 14:12] walterddr commented on #60156
# TODO add test to use PEP585 type annotation for return type after py3.9        # see: https://www.python.org/dev/peps/pep-0585/#id5<br class="Apple-interchange-newline">

[2021-06-17 14:15] walterddr commented on #60156
I think this is captured in https://github.com/pytorch/pytorch/pull/57363#discussion_r626219073:
Since we are still supporting py36 until its EOL, we can't do something like `from __future__ import annotations` which is not there until py3.7

See TODO in
https://github.com/pytorch/pytorch/blob/59b10036d557cf99df90a25d3a3a04d6312ac4f6/test/jit/test_types.py#L25-L26

[2021-06-17 14:16] cdeepali commented on #59935
Mathanraj-Sharma, please share complete build log.

[2021-06-17 14:24] peterbell10 commented on #24527
`_multinomial_alias_draw` no longer exists, as of #50489.

[2021-06-17 14:24] #24527 closed

[2021-06-17 14:24] Pyrojambo opened #60178 "Using Libtorch and ROS together causes library error"
## 🐛 Bug

When attempting to link the torch headers to a ROS (Robot Operating System) C++ executable, the torch libraries seem to remove the ROS libraries that I attempt to link. This causes undefined references to ROS functions such as `ros::init()` and `ros::NodeHandle::NodeHandle()`.

## To Reproduce

Steps to reproduce the behavior:

1. Install ROS Melodic
1. Install libtorch or build pytorch

[2021-06-17 14:24] peterbell10 commented on #24528
`_multinomial_alias_setup` no longer exists, as of #50489.

[2021-06-17 14:24] #24528 closed

[2021-06-17 14:26] calvinmccarter-at-lightmatter opened #60179 "torch.onnx.export deals incorrectly with padding dimensions for F.pad"
## 🐛 Bug

When one exports a simple `nn.Module` containing `F.pad` to ONNX, and then runs that ONNX model via onnxruntime, one gets different results. The issue is that the produced .onnx file has the padding dimensions in the wrong order.

I have verified that the bug is in `torch.onnx.export` not in onnxruntime. Firstly, I've looked at the .onnx file. Second, I've compared the outputs produced b

[2021-06-17 14:43] chenhao1umbc opened #60180 "Wrong Complex Gradient in pytorch 1.9.0/1.8.1/1.8.0"
[code]
It shows results is:
tensor([0.8036+0.3218j]) tensor([0.8036-0.3218j])

Comment:
The result is **wrong**. a and 0.5*a.grad should be the same value, but here 0.5*a.grad is a's conjugate value.

### Environment
torch==1.9.0/1.8.1/1.8.0

[2021-06-17 14:54] chenhao1umbc commented on #60180
similar situation can be found:
[code]
It shows results is:
tensor(0.2956+0.1875j) tensor(0.2956-0.1875j)

Comment:
Still, the two printed values should be the same...

[2021-06-17 15:01] Haydnspass opened #60181 "Docs of torch.Tensor.permute refer to docs of torch.permute for which do not exist"
## 📚 Documentation

Docs of torch.Tensor.permute refer to docs of torch.permute for which do not exist
Functional implementation is present though.

https://pytorch.org/docs/stable/generated/torch.Tensor.permute.html?highlight=torch%20permute#torch.Tensor.permute

cc @brianjo @mruberry

[2021-06-17 15:46] twoertwein commented on #60156
Something like the following works

[code]
and this works too
[code]
but the example from the first post does not work.

Might be about time to drop 3.6 (numpy dropped support for it with numpy 1.20).

[2021-06-17 15:52] walterddr opened #60182 "Improvement to CUDA mem leak check"
In #60023, we stop running CUDA mem leak check on PRs to reduce TTS. This has immediate effect on CI. However there are several follow ups we can improve upon:
- [ ] Honor explicit annotation to run CUDAMemoryLeakCheck on test method, (see: #59805)
- [ ] Support optional GITHUB CI label to enable check on per test method (Currently we support running it via ci/master label, but it also launches a

[2021-06-17 15:53] gchanan commented on #60159
CC @albanD -- I think we throw errors in non complex autograd cases as well, although I'm not a huge fan of it.

[2021-06-17 16:07] mruberry commented on #60159
If this behavior is intended it definitely isn't implemented consistently, especially not for other dtypes.

[2021-06-17 16:09] peterjc123 commented on #59859
Looking into the ninja_deps uploaded by @mszhanyi, isn't it just because Ninja fails to detect the dependencies for the objects generated by the RC compiler since it doesn't support `/showIncludes`? So, the possible actions for this problem are:
1. Provide the option `/showIncludes` for the RC compiler at the MSFT side
2. Ignore RC file dep generation at the Ninja side
3. Filter unintended options

[2021-06-17 16:14] malfet commented on #57744
@Flamefire I'm not sure I understand what do you mean. How any source updates can fix a bug in static library binaries?

[2021-06-17 16:16] Lilyjjo commented on #57490
@kyleung271 thank you for bringing this up! I can confirm it's reproducing again. I'll take a look

[2021-06-17 16:19] albanD commented on #60159
What is the error message that you get?

There are a few ops that don't support complex autograd. So that is expected to happen for many ops.

[2021-06-17 16:19] Flamefire commented on #57744
The CMake file change at https://github.com/pytorch/pytorch/commit/c71459602785bcc9f0f93a880c642ff61299d3d5#diff-12e8125164bbfc7556b1781a8ed516e333cc0bf058acb7197f7415be44606c72R1859-R1863 now actually honors `USE_CUPTI_SO`. This was previously not the case which meant building PyTorch "correctly" i.e. with dynamic cupti, was impossible and the issue unavoidable (we patched that for our builds)

T

[2021-06-17 16:20] gchanan commented on #60165
see https://pytorch.org/docs/stable/notes/serialization.html#id4 -- you should serialize the state_dict, not the module.

[2021-06-17 16:27] malfet commented on #57744
Thank you for the explanation! Makes sense!

[2021-06-17 16:28] stas00 commented on #60145
I confirm that https://github.com/pytorch/kineto/pull/305 fixed it - thank you for the quick fix, @gaoteng-git!

[2021-06-17 16:28] #60145 closed

[2021-06-17 16:29] brando90 commented on #59222
I am also having this issue and I am unsure what to do. Any suggestions?

original post: https://stackoverflow.com/questions/68010933/unable-to-install-pytorch-on-mac-os-x-from-scratch-due-to-pytorch-package-confli

[2021-06-17 16:33] gchanan commented on #60174
I reproduced this on 1.8.1, but it seems to be fixed on 1.9.0 -- I'd encourage you to upgrade.

[2021-06-17 16:33] #60174 closed

[2021-06-17 16:34] brando90 commented on #59517
Adding the conda-forge channel worked.
[code]
Why isn't that flag what the official installation on the website asks? It seems really odd that the official install would not work:
[code]
is there a reason why the conda-forge channel is not added to the official instructions?

[2021-06-17 16:37] mruberry commented on #60159
I would expect the forward to work, though, but the backward to fail.

[code]

It would be more consistent with other operators if this worked but if you tried to backward through the result you get the error.

[2021-06-17 16:43] gchanan commented on #60149
it would be good if our documentation listed when functions were added / modified, etc.

I would have probably done a binary search through the actual releases, once you have them all set up it's probably faster.

[2021-06-17 16:51] mruberry commented on #60182
If we do add another flag to the test suite let's be sure to document it here: https://github.com/pytorch/pytorch/wiki/Writing-tests-in-PyTorch-1.9

[2021-06-17 17:05] stas00 commented on #60149
Right,  documenting an easy - ideally automated process for doing this work faster would be helpful too.

I also realize that it might take a lot of work to figure out things that are already there, but perhaps a process can be developer for any new addition/modification of the function from now and onward.

[2021-06-17 17:13] #54359 closed

[2021-06-17 17:14] gchanan commented on #60180
see https://github.com/pytorch/pytorch/issues/41857

[2021-06-17 17:14] #21810 closed

[2021-06-17 17:22] iramazanli commented on #59556
Thanks, @nikhil-iyer-97 for the proposal and for the research work.

Indeed Explore-Exploit Learning Rate Scheduler seems to be interesting work. However, at this point, we decided to wait before adding the learning rate scheduler to PyTorch.

We generally select algorithms/methods to add to PyTorch that is already widely used in the literature and we generally don't add the research work before t

[2021-06-17 17:22] #59556 closed

[2021-06-17 17:29] BowenBao commented on #59906
Thanks for reporting, #59320 should fix this. It should soon be in master.

[2021-06-17 17:36] #60053 closed

[2021-06-17 17:48] Ierezell commented on #56928
Hi,

I encountered the same problem (with pdm and pdm add torch with is today (17/06/21) the 1.9.0).

Is there any way to bypass or fix this ?

Thanks in advance,
Have a great day

[2021-06-17 17:54] BurguerJohn opened #60187 "Pytorch 1.9 Profiler generate invalid separator path inside JSON using tensorboard_trace_handler."
## 🐛 Bug

On windows, tensorboard_trace_handler use the separador \  in the file path instead of / or \\\ breaking the json file.

## To Reproduce

Steps to reproduce the behavior:

1. Setup the Profiler. Example:
`with torch.profiler.profile(
    activities=[
        torch.profiler.ProfilerActivity.CPU,
        torch.profiler.ProfilerActivity.CUDA],
    schedule=torch.profiler.schedule(
        w

[2021-06-17 17:55] iramazanli commented on #55740
This issue has been indeed solved with #52944 and it's in the latest master.

[2021-06-17 17:55] #55740 closed

[2021-06-17 17:59] #60090 closed

[2021-06-17 18:25] SplitInfinity opened #60188 "[package] torch.package tutorial is not accessible"
## 📚 Documentation

The [tutorial included in the documentation](https://pytorch.org/docs/stable/package.html#packaging-your-first-model) for `torch.package` leads to document that is not publicly accessible.

[2021-06-17 18:29] #60188 closed

[2021-06-17 18:30] SplitInfinity opened #60189 "[package] Tutorial not accessible"
## 📚 Documentation

The [tutorial included in the documentation](https://pytorch.org/docs/stable/package.html#packaging-your-first-model) for `torch.package` leads to document that is not publicly accessible.

[2021-06-17 18:40] seemethere commented on #60111
It might also have something to do with the default action of [`actions/checkout`](https://github.com/actions/checkout) not checking out the correct branches in order to find a merge base that works.

[2021-06-17 18:49] #59795 closed

[2021-06-17 18:49] jaglinux opened #60190 "ROCm: test_torch.py test_masked_scatter_large_tensor failed"
python3.6 test/test_torch.py TestTorchDeviceTypeCUDA.test_masked_scatter_large_tensor_cuda -v

test_masked_scatter_large_tensor_cuda (__main__.TestTorchDeviceTypeCUDA) ...
/home/pytorch/aten/src/ATen/native/hip/IndexKernel.hip:373: masked_scatter_size_check: Device-side assertion `*totalElements <= srcSize' failed.
:0:rocdevice.cpp            :2502: 834917584587 us: Device::callbackQueue aborting

[2021-06-17 18:50] jaglinux commented on #60190
@arindamroy-eng @jithunnair-amd

[2021-06-17 18:55] albanD commented on #60159
We decided to do it this way in the spirit of failing as early as possible and in particular, failing at the line that is problematic instead of failing during the backward pass.

If you don't want to run backward, you should not provided Tensors that have requires_grad=True. And as you've seen such Tensor work just fine.

[2021-06-17 18:57] jaglinux commented on #60190
Printing the variables in https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/IndexKernel.cu#L369
*totalElements is 281471681560578 and srcSize is 2147483649 (and hence the kernel assert)

[2021-06-17 19:11] yamanahlawat commented on #56928
`pdm` uses `distlib` to verify wheel where pip doesn't. that's why it fails. No other workaround for now. I downgraded `torch` to `1.8.0` to make it work

[2021-06-17 19:11] driazati opened #60192 "[clang-tidy] error: no matching function for call on CUDA include"
New build is failing on a CUDA file where it wasn't before

https://github.com/pytorch/pytorch/pull/60018/checks?check_run_id=2851913519

related: https://github.com/pytorch/pytorch/pull/59967

<details>
<summary> Logs </summary>

[code]

</details>

cc @pytorch/pytorch-dev-infra

[2021-06-17 19:12] driazati opened #60193 "[clang-tidy] Templates are being linted"
This is likely due to some incorrect glob based filtering in `tools/clang_tidy.py`, we should be linting the rendered output and not the templates themselves.

https://github.com/pytorch/pytorch/pull/59115/checks?check_run_id=2849744502

cc @1ntEgr8 @pytorch/pytorch-dev-infra

[2021-06-17 19:26] Infatum commented on #31758
I've only faced it on pytorch with 11 cuda, reverted to cuda 10 and this error disappeared. Cold this behaviour mean I have too old GPU(Nvidia GeForce 1060)?

[2021-06-17 19:37] p-patil opened #60197 "torch.vander() does not support autograd"
## 🐛 Bug

When the computation graph involves `torch.vander()`, gradients are unable to flow through this operation, causing autograd to crash.

## To Reproduce

Steps to reproduce the behavior:
[code]
This code crashes with the error:
[code]

In contrast, this equivalent code works as expected:
[code]

## Environment

PyTorch version: 1.9.0+cu102
Is debug build: False
CUDA used to build PyTorch:

[2021-06-17 20:03] imaginary-person opened #60202 "On CPU, vectorized float tensor addition might be slower than unvectorized float tensor addition"
## 🐛 Bug

`ATEN_CPU_CAPABILITY=default` is currently faster than `ATEN_CPU_CAPABILITY=avx2` for the addition of two `float` tensors, when multiple threads are used (for 16 threads or more on a machine with 32 physical cores & 384 GB RAM, AVX2 is slower, or gives no performance boost over unvectorized code) on many-core machines. With a single thread, AVX2 is only around 10% faster.

Disabling Hype

[2021-06-17 20:06] beew commented on #59855
How do you run a test suite for the binary?

[2021-06-17 20:11] beew commented on #59855
Same result with
[code]

Is lts/release/1.8 same as 1.8.1? I can't find the git branch for 1.8.1 and the release tarballs wouldn't build since all the modules are missing.

[2021-06-17 20:29] imaginary-person commented on #60202
According to Intel vTune, most of the time is spent in handling page faults. It also asks to check for unaligned memory accesses.

[2021-06-17 21:20] kev-zheng opened #60210 "Quantized model using `boolean_dispatch` not picklable"
## 🐛 Bug

Follow-up bug from https://github.com/pytorch/pytorch/issues/57352. Model quantized using `prepare_fx` is not picklable due to this `boolean_dispatch` function

[code]

## To Reproduce

Same steps. Use a recent pytorch nightly.

Version:
[code]

[code]

## Expected behavior
Empty output; pickle.dumps should succeed

## Environment

    PyTorch Version (e.g., 1.0): pytorch=1.10.0.dev20210

[2021-06-17 21:20] kev-zheng commented on #60210
cc @jerryzh168 @vkuzo

[2021-06-17 21:24] jaglinux commented on #60190
The test case https://github.com/pytorch/pytorch/pull/58865 was added recently through https://github.com/pytorch/pytorch/pull/58865

[2021-06-17 21:31] chenhao1umbc commented on #60180
I see,  as https://github.com/pytorch/pytorch/issues/41857#issuecomment-662626937 mentioned
For holomorphic functions, TF returns the conjugate of gradient defined using Cauchy Riemann equations. Now pytorch is the same style as TF.

[2021-06-17 21:33] #60180 closed

[2021-06-17 22:01] bdhirsh commented on #59974
reserving for onboarding

[2021-06-17 22:01] bdhirsh commented on #59139
reserving for onboarding

[2021-06-17 22:01] bdhirsh commented on #56347
reserving for onboarding

[2021-06-17 22:08] bdhirsh commented on #55737
reserving for onboarding

[2021-06-17 22:14] albanD opened #60213 "Clarity of default values of requires_grad in autograd note"
In the autograd note: https://pytorch.org/docs/stable/notes/autograd.html
We should make sure that it is clear what is the default value for requires_grad (both for Tensor and Parameters).

cc @ezyang @albanD @zou3519 @gqchen @pearu @nikitaved @soulitzer @Lezcano @Varal7 @brianjo @mruberry

[2021-06-17 22:31] vkuzo commented on #60210
This is because functions which use `boolean_dispatch` are currently non-pickleable, and quantization is defined for some of these functions.  Here is a simpler repro:

[code]

[2021-06-17 22:32] zou3519 commented on #15284
Seems like a reasonable ask.

[2021-06-17 22:33] vkuzo commented on #60210
cc @driazati  as the original author of boolean dispatch, would you know who can help take a look?

[2021-06-17 22:33] zou3519 commented on #15279
Please feel free to file us a new issue if this still persists.

[2021-06-17 22:33] #15279 closed

[2021-06-17 22:33] zou3519 commented on #15261
Closing due to age + not enough information. Please feel free to reopen an issue if this still persists.

[2021-06-17 22:33] #15261 closed

[2021-06-17 22:34] zou3519 commented on #15260
Don't know if this is still relevant, but it's worth checking to see if this still repros.

[2021-06-17 22:36] zou3519 commented on #15255
I don't think we usually add derivative formulas to documentation

[2021-06-17 22:39] zou3519 commented on #60202
This doesn't sound expected, but leaving it up to the folks cc'ed to make a judgement call

[2021-06-17 22:40] zou3519 commented on #60197
Is this supposed to be differentiable? if so, we probably just need to rewrite the implementation of vander to support autograd

[2021-06-17 22:40] Waffle1434 commented on #23823
Issue is still present

[2021-06-17 22:41] zou3519 commented on #60187
Seems high pri that the profiler doesn't work on windows, but I'm not sure if this is something we support

[2021-06-17 22:43] zou3519 commented on #60165
Marking for triage review because I think we should really do something about https://pytorch.org/docs/stable/notes/serialization.html#id4 -- this is not the first time this has happened

[2021-06-17 22:44] zou3519 commented on #60181
@Haydnspass please feel free to submit a fix for this if you are up for it

[2021-06-17 22:46] zhouzhuojie commented on #60135
We can't bake it into an image, we are using the `machine` circleci executor for better performance, cost, and isolation reasons. May need to introduce mirrors to increase the network reliability.

[2021-06-17 22:47] zou3519 commented on #60158
@skyline75489 @shyrma do you have a script we can use to reproduce this?

[2021-06-17 22:50] zou3519 commented on #60146
Thanks for the suggestions, @stas00. cc-ing the profiler folks

[2021-06-17 22:51] zou3519 commented on #60153
This isn't likely to happen soon because it's not obvious where the implementation of an op actually is

[2021-06-17 23:01] zhouzhuojie commented on #60192
Weird that how come files like `aten/src/ATen/native/SegmentReduce.h` is included? The `positive` list of regex shouldn't match it on the first glance.

[2021-06-17 23:11] kshitij12345 opened #60223 "[testing] SkipInfo should error if `cls_name` and `test_name` combination is not valid"
Currently `SkipInfo` does nothing if `cls_name` and `test_name` don't match any expected test.

However for this to work `SkipInfo` will **probably** (not sure about the implementation) have to know all the `Test` class and `test names` (not sure if this is possible) but will be nice if it can error out.

cc: @mruberry

[2021-06-17 23:16] KushajveerSingh commented on #499
@apaszke @soumith  I can work on this issue. Can you give me some pointer on how should I proceed?

[2021-06-17 23:19] KushajveerSingh commented on #473
@apaszke Is this issue still worth working on? If adding the additional check can decrease performance, can we add another argument specifying that indexes contain duplicate elements?

[2021-06-17 23:21] #60135 closed

[2021-06-17 23:23] KushajveerSingh commented on #394
@zasdfgbnm Are you still working on this? I can also work on this issue. Any pointers on what I should be working on?

[2021-06-17 23:23] imaginary-person commented on #60202
Thanks for the update!

Intel VTune asks to use Intel Advisor for analyzing memory-access patterns, but Intel Advisor can't attach itself to a running process (so that the captured data pertains only to tensor addition) with the `--target-pid` option [when `--collect=map`](https://software.intel.com/content/www/us/en/develop/documentation/advisor-user-guide/top/command-line-interface/advisor-comma

[2021-06-17 23:27] KushajveerSingh commented on #215
@soumith I can work on this issue. Can you give me some pointers on what to look at, if I want to work on this issue?

[2021-06-17 23:28] zasdfgbnm commented on #394
@KushajveerSingh No, I am not working on this right now. You can take a look at https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/native_functions.yaml and find an operator that you are interested in and is not supporting namedtuple yet.

[2021-06-17 23:29] KushajveerSingh commented on #108
@soumith I can work on this issue. Can you give me some pointers on where to begin?

[2021-06-17 23:30] BurguerJohn commented on #60187
No problem, is a easy enough fix by hand. Just replace \ to \\\ and it works

[2021-06-17 23:33] zou3519 commented on #60175
Tentatively marking this as hi-pri for not being able to use torch.linalg.solve on GPU, but since we have tests for these this might be an environment issue

[2021-06-17 23:33] zou3519 commented on #60171
closing as dupplicate

[2021-06-17 23:33] #60171 closed

[2021-06-17 23:37] KushajveerSingh commented on #39
@apaszke I can work on this issue. Can you give me some pointers on where I should start?

[2021-06-17 23:56] mruberry commented on #60223
I agree, but I also couldn't think of a way to fix this. Leaving it open in case we discover a mechanism to enforce this property.

[2021-06-17 23:56] gaoteng-git commented on #60146
@stas00 For 5, it seems the CUDA warmup occupies too long time at beginning. You can using keys "A", "S", "D", "W" to enlarge and see the other short ops.
Suggest to try the "schedule" argument and "p.step()". Then the CUDA warmup could be regarded as inside "wait" or "warmup" steps and be dropped automatically.
[code]
This is a full example:
https://pytorch.org/tutorials/intermediate/tensorboard_

[2021-06-18 00:00] mruberry commented on #60165
I think the doc is correct, though, right? It's just undiscoverable?

[2021-06-18 00:03] gaoteng-git commented on #60158
@stas00 Just a reminder, the "profiler.step()" should be under "for" loop, instead of outside. Such as:
[code]

[2021-06-18 00:06] stas00 commented on #60158
It is inside.

I'm trying to reduce the whole trainer to a short sequence that still hangs. Not yet there.

[2021-06-18 00:21] seemethere commented on #59607
You can actually access other types like so: where `EXEC_TYPE=cu92` or any other CUDA version we supported for 1.6.0

`https://download.pytorch.org/libtorch/${EXEC_TYPE}/libtorch-shared-with-deps-1.6.0%2B${EXEC_TYPE}.zip`

[2021-06-18 00:27] seemethere commented on #59366
Closing since I think this issue is now resolved by this comment

[2021-06-18 00:27] #59366 closed

[2021-06-18 00:41] beew opened #60228 "cannot build with tensorrt"
pytorch fails to build with tensorrt

Tried to build pytorch with the environmental variables

[code]
Build fails with (below from building with pytorch 1.8, it is similar for 1.9)

[code]

PyTorch Version 1.8 and 1.9
 OS Ubuntu 20.04
 install pytorch from source
build command: python setup.py build
Python version: 3.8.10
CUDA 11.0 CUDNN 8.1 TensorRT 8.0

GPU Nvidia GTX1070

Without Tensorrt build

[2021-06-18 00:44] BowenBao commented on #60013
@huyhoangle86  could you paste/inspect the complete output log? In case there is an error during export.

[2021-06-18 00:52] swilson314 commented on #40208
Ok, I think I've got Conv1d and Conv3d figured out. Same einsum(), just needed to modify usage of unfold() since it only works for Conv2d.

It would be nicer if we were using the backend grad_fns rather than einsum(), but that would require more investigation.

Lastly, unless I'm missing something, I think this approach also works for multiple outputs, i.e. a "true" jacobian. Seems to work in the

[2021-06-18 00:58] BowenBao commented on #25533
@serg06 Thanks, I think for the long export time it should be due to a separate issue, which is likely the export is unrolling large loops. You will need to try script the model first, before exporting, to preserve the dynamic control flow.

[2021-06-18 01:15] mrshenli commented on #60031
Yep, that is tracked in #59792

[2021-06-18 01:17] mrshenli commented on #60031
Closing to enable this in CI and see if #59801 is sufficient to fix the error.

[2021-06-18 01:17] #60031 closed

[2021-06-18 01:34] mcarilli commented on #60164
The failure certainly seems bizarre but i'd like to understand the use case better.
Why are you doing
[code]
if output0 is never used?

[2021-06-18 01:48] cyr0930 commented on #60164
@mcarilli
In fact, I use the output of 1st forward pass to manipulate the input of 2nd forward pass. (make some of input not teacher forced)
That part is not needed to reproduce the problem, so I removed that part for the simplicity.

[2021-06-18 01:50] imaginary-person commented on #56187
@ngimel, for a single thread, `AVX2` is around 10% faster than the `default` ATen CPU capability for adding float tensors. I'm not sure what accounts for this smaller-than-expected performance boost. If this bottleneck can be identified, it'd help boost AVX512 performance as well.

The performance difference between `default` & `AVX2` ATen CPU capabilities decreases as the number of threads are in

[2021-06-18 01:57] imaginary-person commented on #60202
Hello @colesbury, do you have any idea as to why AVX2 vectorized addition of two float tensors is only around 10% faster than its unvectorized counterpart? Thanks!

[2021-06-18 02:04] huyhoangle86 commented on #60013
@BowenBao  actually I'm out of ideas, I converted .pt to .weights in darknet and from that I convert to onnx.
And do you kno how do I inference Onnx model ?

[2021-06-18 02:21] #45834 closed

[2021-06-18 03:22] Xin-yang-Liu opened #60234 "About torch.matmul"
## 🐛 Bug

I tried to utilize the boardcast feature in torch.matmul, but here are some numerical errors when involves certain types of sparse matrix. To be clear, I did not use any sparse matrix format but most elements in the matrix ```lapa_c``` are zero (see the sample code I provide below).

## To Reproduce

[code]
The ```Build_CoefficientMatrix``` is used to build a [band matrix](https://en.wik

[2021-06-18 04:11] XiaobingSuper commented on #60075
This issue will be fixed at next OneDNN release.

[2021-06-18 04:15] imaginary-person commented on #56187
I do realize that there's a lot more going around with tensors in PyTorch, but if I were to create & run a [simple C++ program](https://gist.github.com/imaginary-person/80b749dcc8560ffb7294aa6b84bc7a21) with two 64 MB arrays of floats, fill them up with random values, and then benchmark (with RDTSCP, for accuracy) the time taken for adding them & storing the output in a third array of floats 1000

[2021-06-18 04:17] imaginary-person commented on #60202
I do realize that there's a lot more going around with tensors in PyTorch, but if I were to create & run a [simple C++ program](https://gist.github.com/imaginary-person/80b749dcc8560ffb7294aa6b84bc7a21) with two 64 MB arrays of floats, fill them up with random values, and then benchmark (with RDTSCP, for accuracy) the time taken for adding them & storing the output in a third array of floats 1000

[2021-06-18 04:18] stas00 commented on #60158
OK, I managed to get a simple script that hangs:

[code]

note, I don't even need to step with profiler.

The script works if I turn cuda off.

[2021-06-18 04:21] stas00 commented on #60158
If I try just the very last stage where it hangs:

[code]

it works.

So it's some module earlier that does something that leads to the hanging in `embedding`

[2021-06-18 04:28] twoertwein commented on #47608
`torch.nn.cholesky_ex` works perfectly. Thank you!

[2021-06-18 04:28] #47608 closed

[2021-06-18 04:29] stas00 commented on #60158
OK, you will have to help me here, but it appears to be linked to some profiler internal state.

If I run your simple **non-CUDA** example immediately following by my example, everything works:

[code]

I discovered that after failing to reproduce the hanging in the notebook, but alas I had earlier cells with your non-CUDA example and so it was always succeeding!

[2021-06-18 04:40] stas00 commented on #60146
Thank you, @gaoteng-git!

That indeed produces a more interesting trace. `W` was the key 'key' here and needed to be pressed multiple times to get to see something useful! Could we please add this info (and the other keys) to the guide. Thank you!

So what I was flagging is that the tutorial is showing a snapshot that is not matching the snapshot the user gets when running the code in that tutoria

[2021-06-18 05:00] ilija139 commented on #60175
@zou3519 Note that it gives a correct solution, so it works and the test will pass, but it will still print the error message.
I installed pytorch from source using the tag v1.9.0 version.

[2021-06-18 05:01] cccclai commented on #60172
To help identify the problem, does the JIT interpreter works for this model?

JIT interpreter:
[code]
Mobile Interpreter:
[code]

[2021-06-18 05:17] stas00 commented on #60153
Let's try to trace `add_`'s source:

1. we find `add_` to be:
[code]
at https://github.com/pytorch/pytorch/blob/8b55e9feafb3eef8f0fc86ec16b52b36374fe158/aten/src/ATen/native/native_functions.yaml#L382

2. looking for this signature with grep we find:
[code]
which is its source.

So: the sigs are almost the same:
[code]
(white space added by me to show the almost exactness)

Obviously, it requires

[2021-06-18 05:33] stas00 opened #60238 "[torch.profiler] non-context manager use"
## 🚀 Feature

I need to embed the profiler around a huge training loop and to make it optional. So context manager isn't a good option here. And there are already some 5 indentation levels for the code to be wrapped, so for the sake of readability I'd rather not use some noop context manager.

Would it be possible to expose the enter/exit API as public (probably as start/stop) so that one could do

[2021-06-18 05:40] alexeygolyshev commented on #27837
Fixed in PyTorch 1.9.0 (Windows 10, CUDA 10.2, RTX 2060)

[2021-06-18 05:59] ajtulloch commented on #60202
cc @swolchok might be interesting.

[2021-06-18 06:05] #60192 closed

[2021-06-18 06:05] #60193 closed

[2021-06-18 06:06] nikhil-iyer-97 commented on #59556
Thanks for the discussion!

[2021-06-18 06:06] moghadas76 opened #60250 "The input tensors must be float."
## 🐛 Bug

The auto casting from long to float must be implemented

[2021-06-18 06:08] leslie-fang-intel commented on #56794
Hi @ailzhang, Great thanks for the discussion here. We do have some cases which uses tensor operations inside `at::parallel` block. For example, here is a customized operation named as [BatchNMS](https://github.com/leslie-fang-intel/test/tree/batchNMS), which is a parallel version and based on [nms kernel inside torch vision](https://github.com/pytorch/vision/blob/29bdcd2551d13f3a10dec743edc95ff12

[2021-06-18 06:42] justanhduc opened #60252 "UserWarning: Failed to initialize NumPy: No module named 'numpy'"
## 🐛 Bug

Afaik, Numpy is not a dependency from version 1.9. Why am I receiving this warning?

## To Reproduce

Steps to reproduce the behavior:

1. Create a fresh Conda virtual env
2. Install Pytorch by `conda install`
3. `import torch`

[code]

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch

[2021-06-18 06:56] yongxin3344520 opened #60253 "How to export SPP-NET to onnx ?"
Here's my code：
----------------------------------------------------------start----------------------------------------------------------------
import torch
import torch.nn as nn
import math
import torch.nn.functional as F

class Spp(nn.Module):

    def __init__(self, level, pooling_type="max_pool"):
        super().__init__()
        self.num = level
        self.pooling_type = pooling_type

[2021-06-18 07:29] ShoufaChen commented on #47990
Hi, @DegardinBruno @evinpinar,

Any update? Do these two implementations behave in the same way now?

Thanks.

[2021-06-18 08:19] rubengrab commented on #60172
@cccclai
If i change to JIT interpreter, besides the `LiteModuleLoader` not being recognised by the Android Studio(of ocurse), the aplication does not start and it raises the following error:
[code]

[2021-06-18 08:26] ShoufaChen commented on #47990
Hi, @zou3519

In my case, I use `torch.allclose` to test these two outputs. The results show that these two outputs are **sometimes** same, **sometimes** not same.

Any hint about this phenomenon?

[2021-06-18 08:34] zhuhaozhe opened #60255 "dispatch order for custom ops"
## 🐛 Bug

## Summary

For aten ops, we know "AutoCast"'s  priority is higher than "Tracer".
But for custom ops, "Tracer" will get the highest priority.

## Consequence

The dtype cast under "autocast" context cannot be recorded on graph.

## Example

Suppose we have custom functions below (just return the first input of it)

[code]

We register an auto-cast function for this custom op to convert t

[2021-06-18 08:40] zhuhaozhe commented on #60255
Hi, @jgong5 @leslie-fang-intel.

For custom ops will first "trace" then "dispatch according by dispatch key"
I have add an simple case to explain consequence.

[2021-06-18 08:45] moskomule commented on #57273
Hi, this problem still exists in v 1.9.

[2021-06-18 08:50] cdeepali commented on #59517
Yeah, currently the official documentation mentions about using `conda-forge` channel for `CUDA 11.1` only.

[code]

But documentation needs to be updated about `conda-forge` for `py39` as well.

[2021-06-18 09:22] SylvainArd opened #60257 "Libtorch cpp to use with visual studio 2015"
Hello all !
I want the libtorch cpp (not python) version to compile with Visual Studio 2015. I can’t find that, could you help me please ?
Thank you
Best regards

[2021-06-18 09:35] mergian opened #60258 "torch.jit.script has too strict type checks for torch.nn.LPPool2D and torch.nn.functional.lp_pool2d"
## 🐛 Bug

When using ```torch.jit.script(...)``` on a model with ```torch.nn.LPPool2D``` or ```torch.nn.functional.lp_pool2d``` errors are thrown for hyper-parameters that are valid for running the model.

## To Reproduce

[code]

While ```model``` can just be executed, ```torch.jit.script``` will fail on all marked lines

## Expected behavior

```torch.jit.script(...)``` parses the model without

[2021-06-18 09:38] Flamefire opened #60259 "Failing tests in TestUnaryUfuncsCPU"
## 🐛 Bug

As written at https://github.com/pytorch/pytorch/pull/59382#issuecomment-855809842 there are 2 new failing tests in master/1.9.0

- test_reference_numerics_hard_atanh_cpu_complex64
- test_complex_edge_values_cpu_complex64

Those refer to acos and atanh which dispatch to the std variants and those return nan/inf for the tested input values (on PPC and x86) as can be checked with:
[code]
-

[2021-06-18 09:44] Flamefire opened #60260 "Multiple failures in distributed/elastic tests"
## 🐛 Bug

I'm seeing multiple failures in the tests

- distributed/elastic/utils/distributed_test
- distributed/elastic/multiprocessing/api_test

Log shows for the first:
[code]

And for the second:
[code]
Which is repeated 8 times with minor variations. Full log starting at that test execution:
[pterror.txt](https://github.com/pytorch/pytorch/files/6676176/pterror.txt)

## To Reproduce

Steps to

[2021-06-18 09:48] nikitaved commented on #60197
Yes, the entries of the Vandermond matrix are polynomials of the input entries, so we can implement backward for it.

[2021-06-18 09:56] skyline75489 commented on #60257
I think you'll need old version, for example 1.6.0. Check out #59607

[2021-06-18 10:08] SylvainArd commented on #60257
your link is for linux !

[2021-06-18 10:09] SylvainArd commented on #60257
and I want to be sure of the version, what versions are compatibles with VS2015 ?

[2021-06-18 10:13] skyline75489 commented on #60257
Sure, the windows link is just changing `libtorch` to `libtorch-win`. For example: https://download.pytorch.org/libtorch/cpu/libtorch-win-shared-with-deps-1.6.0%2Bcpu.zip

[2021-06-18 10:13] SylvainArd commented on #60257
and you're sure that the 1.6 is compatbible with vs2015 ?

[2021-06-18 10:17] SylvainArd commented on #60257
no 1.6 is only compatible with vs2017

[2021-06-18 10:19] SylvainArd commented on #60257
I don't want to test versions one by one

[2021-06-18 10:23] skyline75489 commented on #60257
Runtime-wise, VS2015 - VS2019 share the same VCRedist so the DLLs should load without issue. But compilation-wise, you may need go to back more versions and probably having issues that we can't really help.

You see, the PyTorch Windows support was added in version 0.3 at the the year of 2018 (see https://github.com/pytorch/pytorch/issues/494#issuecomment-350527200) when I think VS 2017 is the mai

[2021-06-18 10:26] SylvainArd commented on #60257
OK thank you in fact I try to compile an old source linux code on Windows
but some parts were only compatibles with VS2015 and it need libtorch, I
will try to upgrade the code tio vs2019
Sylvain Ard
0549507724
0778380991
***@***.***
http://sylvain-ard.fr
Entreprise individuelle SIRET : 80079243400022
Appt 26 Bât A Résidence Le Patio
83 rue de la Bugellerie
86000 Poitiers

Le ven. 18 juin 2021 à 12

[2021-06-18 10:32] patrick-kidger opened #60261 "Mixed logical indexing / numerical indexing fails."
## 🐛 Bug

[code]

## Expected behavior

No error; for a tensor of shape (4,) to be returned.
Or of course, assigned to, if it's `x[b, 0] = ...` instead. This was the case I actually ran into whilst developing code.

## Environment

 - PyTorch Version (e.g., 1.0): 1.9.0
 - OS (e.g., Linux): Linux
 - How you installed PyTorch (`conda`, `pip`, source): conda
 - Python version: 3.9
 - Any other releva

[2021-06-18 10:41] NicolasHug commented on #36853
Hi all, I'm wondering whether we should re-open this issue? I looks like pytorch#53086 got merged and reverted?

[2021-06-18 10:42] beniz commented on #40581
FTR, DeepDetect now has a C++ libtorch-based multi-GPU implementation by @Bycob that can serve as a basis for others, see here: https://github.com/jolibrain/deepdetect/pull/1285/files#diff-09269caf32658c7771c16ee95bf497118cf33ea466ddd2539bc3d87478f9d306R811
This is for single machine/multi-GPU, and in our tests it behaves as expected, i.e. ~x4 on 4-GPUs

[2021-06-18 10:45] LSinev commented on #50469
As far as i see in the https://pytorch.org/docs/1.9.0/generated/torch.use_deterministic_algorithms.html#torch.use_deterministic_algorithms
`torch.Tensor.scatter_add_() when called on a CUDA tensor` is in paragraph starting with

If it is the same as `scatter_add_cuda_kernel` error of this issue and closing of  #50750 means that there is no real way to _prioritize adding deterministic support for t

[2021-06-18 10:59] tensorfoo commented on #57273
Is there any downside to passing `pin_memory=False`? Is that what we're being told to do as a solution?

[2021-06-18 11:49] pankajkumar commented on #49828
Hi @ngimel / @wyf0912
Is there any alternative way to get list of parameters when using DataParallel?

[2021-06-18 11:51] moskomule opened #60262 "Improved documentation of distributed launch utility"
## 📚 Documentation

Hi, thank you for maintaining and developing PyTorch!

When I updated PyTorch to v1.9 and ran a distributed training using `torch.distributed.launch`, I got the following warning.

[code]

The documentation (https://pytorch.org/docs/stable/distributed.html?highlight=distributed#launch-utility) says the launch utility is still `torch.distributed.launch`. It would be great if the

[2021-06-18 12:04] ilija139 commented on #60175
It works fine when installed via `conda install pytorch torchvision torchaudio cudatoolkit=11.1 -c pytorch -c nvidia`

Even though my CUDA version is 11.2 (hence the reason why I compiled from source).
The env of the *working* version:
[code]

[code]

It also prints `arch < 200 not supported` when I use larger matrices, e.g.:
[code]

[2021-06-18 12:18] AvirupJU opened #60263 "module 'torch.nn.functional' has no attribute 'Unfold'"
[code]

As you see that I have commented out a line but the console still shows error at that line:

[code]
Moreover, I have used ```nn.functional.unfold()``` but the error message says ".Unfold()", which is not even present in the code block. Any help would be appreciated.

cc @albanD @mruberry @jbschlosser

[2021-06-18 12:29] nikitaved opened #60264 "Subtensor operations like `tril/triu` to have an option to respect the strides of the input"
## 🚀 Feature
It would be great to have an option for certain operations that produce a structured subtensor to respect the strided structure of the input.

## Motivation

Consider, for example, methods like `triu/tril`:
[code]

As you can see, even if the input is column-major, the output it always contiguous.

While implementing algorithms that use a sequence of LAPACK operations, it is useful to

[2021-06-18 12:33] jhoareau commented on #60165
https://pytorch.org/tutorials/beginner/saving_loading_models.html#save-load-entire-model is mentioning the risk in refactoring our own application but does not warn about the risk of Pytorch cross-version incompatibilities.

[2021-06-18 13:09] clemsgrs opened #60265 "LR Scheduler bug when resuming training from checkpoint"
## 🐛 Bug

When trying to resume training from a given checkpoint using the CosineAnnealingLR scheduler, there's a discontinuity in learning rate values that I can't explain nor fix!

Let’s say I trained a model for 45 epochs, then stopped training and saved both the optimizer state and the scheduler state.
I want to resume training from epoch 46, until epoch 100. To do that, I simply need to insta

[2021-06-18 13:09] chenkangning opened #60266 "UserWarning: The epoch parameter in `scheduler.step()` was not necessary and is being deprecated where possible. Please use `scheduler.step()` to step the scheduler."
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2021-06-18 13:13] ShoufaChen opened #60267 "RuntimeError: nonzero is not supported for tensors with more than INT_MAX elements for torch.masked_select"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

[code]

## Environment

[code]
## Additional context

No.

cc @ngimel

[2021-06-18 13:23] IvanYashchuk commented on #60264
It's worth noting that the in-place variant preserves the strides of the input and the `out=` preserves the strides of the "out" tensor.

[2021-06-18 13:28] nikitaved commented on #60264
@IvanYashchuk , that is good point.

Now, image the situation that some input tensor is an argument of a backward function, so it cannot be modified in-place, and I want to use both `tril` and `triu`, then I would need to create two copies of the tensor I run these operations on.

[2021-06-18 13:29] albanD commented on #15255
dout[i]/dinput[i][j] =1 if target[i] == j would be the gradient here.
Indeed we don't usually add the formulas to the doc.

We use github issues only for bugs or feature requests.
Please use the forum to ask questions: https://discuss.pytorch.org/

[2021-06-18 13:29] #15255 closed

[2021-06-18 13:39] ShoufaChen commented on #60267
@ptrblck @allisonvacanti

Any suggestion about this error?

Thanks.

[2021-06-18 14:09] #59512 closed

[2021-06-18 14:19] albanD opened #60268 "Support non-leaf Tensors for `inputs` kwargs of `autograd.backward()`"
As per title.

The simplest solution here is most likely going to be using hooks similar to what is done for the `retain_grad()` method.

cc @ezyang @albanD @zou3519 @gqchen @pearu @nikitaved @soulitzer @Lezcano @Varal7

[2021-06-18 14:22] nikithamalgifb commented on #60258
It looks like we might not be supporting the scripting of `torch.nn.LPPool2D` and `torch.nn.functional.lp_pool2d` that well. This looks like a few weeks of effort.

[2021-06-18 14:29] jbschlosser commented on #29523
The helper function `torch.nn.utils.skip_init()` was added, and instructions on using it and updating modules to support it are [here](https://pytorch.org/tutorials/prototype/skip_param_init.html).

[2021-06-18 14:29] #29523 closed

[2021-06-18 14:34] vadimkantorov commented on #29523
Is there some public tutorial on using this feature for users in some realistic context? And same for adoption in torchvision... Should I create a new separate issue for this?

[2021-06-18 14:47] vadimkantorov commented on #29523
Maybe worth to advertise to @stas00 with HuggingFace people?

[2021-06-18 14:49] adamjstewart opened #60270 "USE_SYSTEM_GLOO: The dependency target "gloo_cuda" of target "c10d" does not exist."
## 🐛 Bug

When trying to build PyTorch with `USE_SYSTEM_GLOO`, I encounter a CMake error:
[code]

## To Reproduce

Steps to reproduce the behavior:

1. Build your own gloo
1. `export USE_SYSTEM_GLOO=ON`
1. `python setup.py install`

## Expected behavior

I would expect to be able to use a system installation of gloo.

## Environment

 - PyTorch Version: 1.9.0
 - OS: Linux (Ubuntu 18.04)
 - How you

[2021-06-18 14:50] jbschlosser commented on #29523
Great suggestion! I agree

[2021-06-18 14:57] albanD commented on #58839
Thanks for all the updates.

On the replicating side, I do agree that it should help quite a lot with having a simpler semantic.
I think we can also make it configurable with flags specifying if the weight/buffers/attributes are shared with the original Module or not.
But I guess that by default, we want the replica to be a standalone version that will behave as if you ran a forward on the Module

[2021-06-18 14:59] allisonvacanti commented on #60267
#51872 points to NVIDIA/cub#221, which has been fixed in Thrust/CUB 1.12. The fix will be in CUDA 11.4.

[2021-06-18 15:02] ShoufaChen commented on #60267
Thanks for your reply.

Would you mind sharing the CUDA 11.4 release plan?

[2021-06-18 15:04] allisonvacanti commented on #60267
I'm not sure when the release is planned, but it should be fairly soon.

[2021-06-18 15:04] ShoufaChen commented on #60267
OK. Thanks.

[2021-06-18 15:20] sdrobert opened #60271 "Python interface for TensorUtils.h check* functions"
## 🚀 Feature
Provide a python interface for the `check*` functions from `aten/src/ATen/TensorUtils.h`. e.g.

[code]

## Motivation

Designing reusable, robust, custom `torch.nn.Module`, `torch.autograd.Function`, or simple functions can involve lots of boilerplate for things like checking the dimensions of tensors, size of tensors, and their devices. Rewriting this code is tedious, bloats code, an

[2021-06-18 15:26] crowsonkb commented on #25766
Do this:

[code]

[2021-06-18 15:34] gchanan commented on #60154
looks like something is wrong with your compiler, but there's not enough data to go on here.

[2021-06-18 15:34] #60154 closed

[2021-06-18 15:36] gcramer23 commented on #60071
Hi @lhb8125, can you post the results of running the collect environment script?

wget https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py

Also, post the results showing that the bandwidth is decreasing as the count of groups increases.

[2021-06-18 15:42] gchanan commented on #60263
that message is coming from python, not pytorch.  perhaps the code being run isn't synced up properly to what is being displayed.  If you submit an issue again, kindly include the requested information.

[2021-06-18 15:42] #60263 closed

[2021-06-18 15:43] gchanan commented on #60257
“Hi, We use github issues only for bug reports or feature requests. Please use the forum to ask questions: https://discuss.pytorch.org/”

[2021-06-18 15:43] #60257 closed

[2021-06-18 15:44] gchanan commented on #60250
Please include the requested information in the template if you submit an issue again.

[2021-06-18 15:44] #60250 closed

[2021-06-18 15:51] gchanan commented on #60252
not sure this is a package/deploy issue, but labeling it there for now.

I don't know why this triggers for your case, but we do warn people fairly aggressively if numpy isn't installed.

[2021-06-18 15:52] gchanan commented on #60271
CC @ezyang

[2021-06-18 15:53] gchanan commented on #60266
Please include what you think is the issue as well as the requested template information in the future.

[2021-06-18 15:53] #60266 closed

[2021-06-18 15:57] colesbury commented on #60202
It sounds like the cost is allocation/kernel zero-filling. Your C++ program is adding into the same array every iteration. If you want that in PyTorch use, `torch.add(x, y, out=out)`.

Alternatively, you can try using jemalloc as your allocator. It tends to hold onto larger allocations internally, so you don't pay the kernel zero-fill cost for every add call. (You can use `LD_PRELOAD` to run with

[2021-06-18 16:03] gchanan commented on #60150
I don't think that's a valid assumption -- there's a bunch of cuda initialization going on, which you can see if you allocate a zero-sized tensor.

[2021-06-18 16:06] gchanan commented on #60148
CC @albanD

[2021-06-18 16:10] gchanan commented on #60234
I didn't look closely into this, but it's probably something like https://github.com/pytorch/pytorch/issues/58128 -- it's not a bug.

[2021-06-18 16:22] ngimel commented on #60150
This is expected, the remaining memory usage is cuda context. It happens regardless of whether any tensors are allocated.
[code]

[2021-06-18 16:22] #60150 closed

[2021-06-18 16:24] imaginary-person commented on #60202
Thanks a lot for your help, @colesbury! That indeed seems to be the case!

I should've noticed that myself, instead of immediately resorting to VTune. 😞
But, lesson learnt! 😄

I [revised the C++ program](https://gist.github.com/imaginary-person/80b749dcc8560ffb7294aa6b84bc7a21) to create a new array for the sum in each iteration, and the results are indeed quite similar to the Python script that u

[2021-06-18 16:32] ngimel commented on #60267
Unfortunately NVIDIA/cub#221 won't help here, the error is that after expansion your tensor has more than INT_MAX elements, and thus computing `.nonzero` on it would legitimately require tens of GB of memory. It's probably possible to formulate algorithm without fully expanding tensor in memory, but pytorch isn't doing that.

[2021-06-18 16:35] rohan-varma opened #60274 "DISABLED test_ddp_dist_autograd_local_vs_remote (__main__.TensorPipeDdpComparisonTestWithSpawn)"
## 🐛 Bug

https://app.circleci.com/pipelines/github/pytorch/pytorch/338732/workflows/fc60f41b-07d2-418f-907c-0a9c9996ad92/jobs/14235817

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @SciPioneer @H-Huang @jjlilley @mrzzd @agolynski @cbalioglu @gcramer23

[2021-06-18 16:35] rohan-varma commented on #60274
similar to https://github.com/pytorch/pytorch/issues/59792

[2021-06-18 16:42] stas00 commented on #29523
Thank you for the heads up, @vadimkantorov!

We meanwhile implemented our own solution: https://github.com/huggingface/transformers/pull/11471

and also we won't be able to use this solution for a while since we have to remain back-compatible to older pytorch which doesn't have this new feature. But definitely something to switch to in the future!

[2021-06-18 16:44] Lilyjjo commented on #57490
This issue can be reproduced with the following steps:
1.) Have a module (not a package!) perform the odd sys.modules reassignment to create a fake submodule
[code]
2.) Have a module import both the module and the magic-fake submodule (same problem arises when imports occur across different modules)
[code]
3.) Extern the module and the submodule, the load_pickle call will fail
[code]

This is due

[2021-06-18 16:58] ngimel commented on #36853
It was later relanded https://github.com/pytorch/pytorch/commit/cfd9360d090842fa3fc72987c8e70c8091ad4b03

[2021-06-18 17:02] pearu opened #60277 "Sparse CSR tensor should not accept equal column indices in the same row"
## 🐛 Bug

Currently, one can construct a CSR tensor that has equal column indices in the same row. In principle, this corresponds to "uncoalesced CSR tensor" that we are not supposed to have. Interestingly, it is partially functional (e.g. w.r.t. `to_dense()`) but most likely undefined behaviour for external sparse libraries.

## To Reproduce

Example of "uncoalesced CSR tensor":
[code]

Example o

[2021-06-18 17:19] Xin-yang-Liu commented on #60234
Thanks for your reply, I have change the title to numerical-reproducibility issue but I don't think it is the same as [#58128](https://github.com/pytorch/pytorch/issues/58128). This issue takes place not only when batch size varies but also when the matrix is of a certain type of sparse matrix.

[2021-06-18 17:22] seemethere commented on #59517
For linux you can also use the `nvidia` channel to grab `cudatoolkit=11.1` but we've been noticing issues with `torchvision` on python 3.9 (see, https://github.com/pytorch/vision/issues/4076)

[2021-06-18 17:28] serg06 commented on #25533
@BowenBao What does it mean to "Script the model"?

[2021-06-18 17:29] cccclai commented on #60172
How do you switch it? Looks like you are using both, and it complains duplicate class. Make sure the other interpreter is commented out.

[code]

[2021-06-18 17:35] andwgu opened #60284 "ZeroRedundancyOptimizer rank_local_state_dict()"
## 🐛 Bug

`ZeroRedundancyOptimizer`'s static method `rank_local_state_dict()` errors due to a reliance on the key ``"partitions"`` in the input ``state_dict``, which is not naturally present (i.e. in the `state_dict` output by the optimizer's `state_dict()` function).

## To Reproduce

To reproduce the behavior, run the following script (with at least 2 GPUs available):
[code]

Running the script

[2021-06-18 17:41] albanD commented on #60148
This has already been fixed IIRC
Using the latest release 1.9 or nightly build will fix that.

[2021-06-18 17:41] #60148 closed

[2021-06-18 17:42] walterddr commented on #44159
Also i dont know if this is related. I think there's 2 flags being reworked in https://github.com/pytorch/pytorch/pull/55753 that allows one to control what device_type to generate test cases.
Thus the mechanism to control tests generated via device-generic framework is there.

[2021-06-18 17:45] imaginary-person commented on #60202
Even if I run the following Python script with `torch.add(x, y, out=z)`, results for `ATEN_CPU_CAPABILITY=default` & `ATEN_CPU_CAPABILITY=avx2` are quite similar to each other, with `ATEN_CPU_CAPABILITY=default` sometimes being faster than `ATEN_CPU_CAPABILITY=default` for multiple threads.
For a single thread, though, `ATEN_CPU_CAPABILITY=default` is around 12% faster, although it was around 5% f

[2021-06-18 17:58] imaginary-person commented on #56187
Even if I use `torch.add(x, y, out=z)`, instead of `x + y`, `ATEN_CPU_CAPABILITY=avx2` is only 12% faster than `ATEN_CPU_CAPABILITY=default` for a single thread, with `ATEN_CPU_CAPABILITY=avx2` gradually getting worse as the number of threads are increased. 😞

[2021-06-18 18:02] mruberry commented on #44159
I don't think we have a tracker, but if someone is seriously pursuing issues like this it would be helpful.

[2021-06-18 18:02] vadimkantorov commented on #52181
Is PyTorch 1.9 Package feature still using unsafe pickle under the hood?

[2021-06-18 18:08] zou3519 commented on #58839
I don't think I posted this in this thread already, but there's [a prototype of make_functional in functorch](https://github.com/facebookresearch/functorch/blob/946ff209405e860d93662872a26e834d9ca1c36e/functorch/_src/make_functional.py#L238-L330) that we could use as a starting point and run with

[2021-06-18 18:10] christian-rauch opened #60288 "provide hassum for downloads"
## 🚀 Feature

Please provide hash sums for files provided at https://pytorch.org.

## Motivation

At the moment, there is no way to verify that downloaded files (e.g. `libtorch-cxx11-abi-shared-with-deps-*.zip`) are not corrupted. If these files are used in build scripts that verify their integrity, then a user has to manually download them, trust that they are not corrupted and compute a hash of

[2021-06-18 18:25] pritamdamania87 commented on #60071
@lhb8125 Could you share which communication backend you are using? Note that using multiple ProcessGroups with NCCL is not safe: https://pytorch.org/docs/stable/distributed.html#torch.distributed.new_group

[2021-06-18 19:02] xsacha commented on #46380
@liubamboo if you still get an issue in 1.8.0+, it's not likely related to this issue.
Are you using autocast in the C++? That can cause a leak like you've described. You only need to autocast the trace.

[2021-06-18 19:10] rohan-varma opened #60290 "DISABLED test_ddp_dist_autograd_local_vs_remote_gpu (__main__.TensorPipeCudaDdpComparisonTestWithSpawn)"
## 🐛 Bug

Failures -
https://app.circleci.com/pipelines/github/pytorch/pytorch/338772/workflows/6f64ad2d-fa6e-4adb-a1a6-f7eb68556499/jobs/14239150,
https://app.circleci.com/pipelines/github/pytorch/pytorch/338228/workflows/6818f6f9-7453-47eb-9edd-23f143a9ce8f/jobs/14213723

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @SciPionee

[2021-06-18 19:14] jbschlosser commented on #56873
It isn't named "deconvolution" because it isn't a true deconvolution AKA a true inverse of convolution. The answer [here](https://datascience.stackexchange.com/a/12110) should hopefully be helpful. Note that [Keras](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Conv2DTranspose) follows a similar naming scheme as well.

Docs could be updated to reference these [convolution visualizatio

[2021-06-18 19:43] kurtamohler opened #60294 "Add a NumPy-like `pad` function"
## 🚀 Feature
Add a `torch.pad` function, based on [`numpy.pad`](https://numpy.org/doc/stable/reference/generated/numpy.pad.html)

## Motivation

NumPy compatability.

Plus, this will offer a solution to several issues with `torch.nn.functional.pad`:

* #52205 - reflection padding is only supported if padding width is less than the input's width
* #57911 - circular padding can only wrap once
* #462

[2021-06-18 19:49] heitorschueroff opened #60295 "Optimize torch.einsum"
Currently, `torch.einsum` is computed by performing tensor contractions from left to right and calling `torch.bmm` for each contraction, unless there are no dimensions to be summed out in which case `torch.mul` is called instead. There are two main ways in which `torch.einsum` performance can be improved:

### 1. Optimize contraction path
Instead of performing contractions from left to right, we c

[2021-06-18 19:52] heitorschueroff commented on #57121
The second optimization described here https://github.com/pytorch/pytorch/issues/60295 would fix this issue. The problem has to do with us calling `torch.bmm` with discontiguous tensors which is causing expensive data movement that NumPy avoids by calling a custom function for computing a sum of products over the discontiguous dimensions.

[2021-06-18 20:10] colesbury commented on #60202
1. Please include the actual times, not just the relative performance
2. 64 MiB * 3 tensors = 192 MiB won't fit into L3, most accesses are from RAM
3. The limit here is memory bandwidth (to/from RAM to core), not core execution speed, so I'm not surprised that AVX (or AVX512) doesn't make a difference -- you can saturate the single core memory bandwidth with plain loads. You'll see a benefit from

[2021-06-18 20:21] ngimel commented on #60295
Re: second option, making tensors contiguous is not a requirement for bmm, einsum is needlessly doing this, as illustrated by this script:
[code]
The second version using `matmul` is not calling `contiguous` or `copy_`, and is almost 10 times faster than the first version. I could have written second version to use bmm directly, but it would require me to expand mat2 to explicitly have the same ba

[2021-06-18 20:33] heitorschueroff commented on #50725
Closing this issue to keep all discussion in https://github.com/pytorch/pytorch/issues/1254. `torch.cov` is being added here https://github.com/pytorch/pytorch/pull/58311.

[2021-06-18 20:33] #50725 closed

[2021-06-18 20:35] heitorschueroff commented on #55780
This was fixed in https://github.com/pytorch/pytorch/pull/55831

[2021-06-18 20:35] #55780 closed

[2021-06-18 20:39] colesbury commented on #60202
Here's my modified version of your `add_floats.cpp`: https://gist.github.com/colesbury/1c886ae02e84b87f90be1e5466efb9f1.

I get 19.1 ms per iteration without AVX and 18.5 ms per iter with AVX. (No AVX512 support). That comes out to about `(64 MiB * 3) / (18.5 ms)  = 10.1 GiB/sec` (read+write) bandwidth which pretty closely matches the bandwidth reported by https://zsmith.co/bandwidth.php on the sa

[2021-06-18 20:52] heitorschueroff commented on #60295
@ngimel That is very interesting, I will take a look at where we are copying data unnecessarily in `torch.einsum`. But as you mentioned, case 4 wouldn't work because the contraction dimensions are discontiguous. In this case, it seems to me that we would still need a way to compute sum of products over discontiguous dimensions to get better performance, is that correct?

[2021-06-18 21:02] ngimel commented on #60295
Yes, einsum contracting over discontiguous dimensions probably needs custom kernels - if we can make performant kernel for this, it's non-trivial.

[2021-06-18 21:26] Felix-Petersen opened #60300 "torch.topk sorted does not work"
## 🐛 Bug

The torch.topk sorted argument does not work.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

I expected that `sorted=False` controls whether to return the elements in sorted order as stated in the docs.

## Environment

Tested on Pytorch 1.8.0 and 1.9.0 on MacOS via pip.

[2021-06-18 21:31] imaginary-person commented on #60202
Thanks a lot again, @colesbury! Yes, I had chosen a tensor size that wouldn't fit into L3, so that the computation would be memory-bound. However, I didn't know how pronounced the effect would be, as all vectorization levels had quite similar figures for cache misses.

If I use 1 MB tensors in the Python script, then I do get better performance for AVX2 vs. default (single threaded - 0.121 ms/iter

[2021-06-18 21:31] #60202 closed

[2021-06-18 21:31] KushajveerSingh commented on #394
@zasdfgbnm  Thanks for the info.

[2021-06-18 22:07] mcarilli opened #60306 "Divergent code is needed to record usage streams on different TensorImpl types"
In https://github.com/pytorch/pytorch/pull/60230 I'm trying to add proper stream recording for tensors used across streams in streaming backward.

Naively writing
[code]
caused CI errors on some sparse and batched tensor tests, with messages like
[Cannot access storage of SparseTensorImpl](https://app.circleci.com/pipelines/github/pytorch/pytorch/338674/workflows/c8b6356e-d75f-4694-84b1-a65ac85f4e

[2021-06-18 22:41] colesbury commented on #60202
I copied the inner loop into a separate function to try to understand it better (with `__attribute((noinline))__` to prevent inlining) and it ran 100x slower, so my suspicion was that the original version optimized away the bulk of the loop. For these sorts of benchmarks, I might use Godbolt to prototype something, but will usually use GDB's dissasembler to verify that the assembly matches what I

[2021-06-18 22:45] imaginary-person commented on #60202
Thanks a lot for the tip, @colesbury! I'll keep that in mind while trying to reason about performance.

[2021-06-18 22:53] huiguoo opened #60310 "[nnc] LoopNest::fuseLoops failed to fuse loops with reduce ops inside"
## 🐛 Bug

`fuseLoops` failed to fuse loops if a reduce op exists. The problem is that for reduce ops, it detected a fake ReadAfterWrite dependence between loop iterations and therefore returned without applying `fuse` transformation. But the detection algorithm is wrong and there is no data dependence between loop iterations.

## To Reproduce

Test to reproduce the behavior:

[code]

Original stmt

[2021-06-18 23:02] imaginary-person commented on #56187
@ezyang @ngimel,

Looks like those performance numbers looked poor because three 64 MB tensors made the computation memory-bound, so it couldn't benefit from vectorization. colesbury was very helpful & proved that with smaller tensors, vectorization's benefits can be readily observed. So, I'll use small tensors in custom benchmarks instead & post their results.

BTW, I've reverted `normal_fill` of

[2021-06-18 23:30] #48401 closed

[2021-06-19 00:19] #56873 closed

[2021-06-19 00:30] #59332 closed

[2021-06-19 00:59] kurtamohler commented on #60294
BTW, I'm having trouble figuring out how `numpy.pad(..., mode='reflect', reflect_type='odd')` works when the padding width is equal to or greater than the input width. It doesn't seem like the documentation fully explains it. Here's an example case:

[code]

Output:
[code]

I tried to figure it out in my notes under the `mode='reflect', reflect_type='odd'` section of my notes [here](https://github

[2021-06-19 01:27] ptrblck commented on #58123
@hamishc the fix will land in the upcoming cudnn8.2.2 release (just verified it).
Thanks again for reporting.

[2021-06-19 01:34] ShoufaChen commented on #60267
I see. Thank you. @ngimel

[2021-06-19 02:56] gaoteng-git commented on #60146
Thanks a lot for your valuable feedback! I've updated these hints into this [PR](https://github.com/pytorch/tutorials/pull/1568), and will be merged and replace the old one soon.

[2021-06-19 03:00] LinxiFan commented on #57273
Is there a way to suppress this? - That's all we users care at this point.

[2021-06-19 04:01] imaginary-person commented on #57273
Hello @ejguan, when this warning was added, segfault had been happening even with `pin_memory=False`. eg 54752.
In that [issue](https://github.com/pytorch/pytorch/issues/54752#issue-841588402), `pin_memory` was implicitly False.
In fact, if you'd use this script, you'd still get a warning, even if you'd explicitly set `pin_memory` to `True` -

[code]

[2021-06-19 04:15] kurtamohler commented on #50469
@LSinev, yes, `torch.Tensor.scatter_add_() when called on a CUDA tensor` is the same as the `scatter_add_cuda_kernel` in this issue.

The closing of #50750 does not mean that we can't write a deterministic implementation for this operation. It should be possible. Asking users to submit issues does help us prioritize. If people request a deterministic implementation of operation A, and no one has r

[2021-06-19 04:27] kurtamohler commented on #31758
@Infatum, CUDA 11 supports GeForce 1060, so no, your GPU is not too old. There is evidently some interaction between CUDA 11 and DataLoader that causes the crash, but we won't know how to fix it until we have a way to reproduce the crash. If you can, please post a script that reproduces the issue

[2021-06-19 04:28] imaginary-person commented on #57273
@ejguan, one of the preconditions for this warning to be produced is that `torch.set_num_threads()` should've been called at least once by a script.
So, the following script would still produce a warning -
[code]

I currently don't have TorchVision installed, but I suspect that `pin_memory_thread` calls `set_num_threads` at some point in @rafi-cohen's script. :

https://github.com/pytorch/pytorch/

[2021-06-19 04:31] imaginary-person commented on #57273
I currently don't have TorchVision installed, but I suspect that `pin_memory_thread` calls `set_num_threads` at some point in @rafi-cohen's script. :

https://github.com/pytorch/pytorch/blob/c371542efc31b1abfe6f388042aa3ab0cef935f2/torch/utils/data/_utils/pin_memory.py#L17-L21

@ejguan, if that'd turn out to be the case, then can we remove the warning from the C++ code, since users don't want to s

[2021-06-19 04:46] sarosijbose commented on #60263
Hello @gchanan, can you elaborate on why you think it is a python issue and not a pytorch one? The commented line throwing an error is a relatively well known python instance bug but I can't see why pytorch summoning a module which isn't even present in the code can be a python error. Thanks!

[2021-06-19 05:15] imaginary-person commented on #57273
@rafi-cohen @LinxiFan @moskomule @Jeffrey-Ede @mansimane

I'm unable to reproduce the issue with @rafi-cohen's script, probably because this warning requires a `torch.set_num_threads()` invocation to have occurred first. (so I can reproduce the issue if I add a `torch.set_num_threads()` invocation to the script).
However, I tested with the current master branch of PyTorch & the current master bran

[2021-06-19 06:16] imaginary-person commented on #60031
It's still flaky with #59801 -

https://app.circleci.com/pipelines/github/pytorch/pytorch/339029/workflows/72e37115-5912-4bd1-9d5b-4c2c9c3a7f00/jobs/14249587

[2021-06-19 07:12] DamonDeng opened #60319 "test_dataloader.py fails to pass test with error: Can't get attribute 'RandomDataset'... on MacOS"
## 🐛 Bug

The unit test "./test/test_dataloader.py" fails to pass the test on MacOS, get the following error message:
AttributeError: Can't get attribute 'RandomDataset' on <module '__main__' (built-in)>

## To Reproduce

Steps to reproduce the behavior:

On MacOS
1. Setup Conda environment with Python 3.8
2. Clone the pytorch repository and follow the "build from source" instructions to build pyt

[2021-06-19 08:24] hurun commented on #31591
so do i, same problem

[2021-06-19 08:28] #60011 closed

[2021-06-19 08:28] cvJie commented on #60011
solved

[2021-06-19 09:29] jingxu10 commented on #58896
Could you share more detailed info of your usage scenario?
Like what are input data sizes? Is _num_parameters_ of PRelu mostly set to 1 or number of channels?

[2021-06-19 09:47] mruberry commented on #60259
These tests appear to be passing in our CI -- do you have some more details about when they fail?

[2021-06-19 09:51] mruberry commented on #60165
cc @brianjo for the tutorial update

[2021-06-19 09:56] xsacha commented on #58896
Hi, in my situation, it is applied after the batch norm with num_parameters=64

It is done like this: https://github.com/cavalleria/cavaface.pytorch/blob/master/backbone/resattnet.py#L201

[2021-06-19 09:57] mruberry commented on #60060
@Lezcano Maybe we missed a call to qr?

[2021-06-19 10:02] cccntu commented on #60189
It's accessible now.
But when I run it there is an error.

[2021-06-19 10:07] cccntu opened #60321 "[package] error in colab tutorial #60189"
## 📚 Documentation

https://pytorch.org/docs/1.9.0/package.html

When I run the [colab code](https://colab.research.google.com/drive/1lFZkLyViGfXxB-m3jqlyTQuYToo3XLo-) I get the following error:

[code]

I changed the first cell to install the stable version and that didn't help.
`!pip3 install torch==1.9.0+cpu -f https://download.pytorch.org/whl/torch_stable.html`

[2021-06-19 12:43] Kae1101 commented on #44714
Hi, @ezyang
today when I run my code (which was run successfully before) in CoLab using any functions about data iteration (like iter(dataloader), dataloader.next(), for idx, data in dataloader and so on), I have the 【 RuntimeError: Expected a 'cuda' device type for generator but found 'cpu'】. And this Error is related to the torch.randperm. More details is shown below:

/usr/local/lib/python3.7/d

[2021-06-19 12:47] glenn-jocher commented on #57273
This Warning is now appearing in the YOLOv5 (https://github.com/ultralytics/yolov5) Docker Image with PyTorch 1.9. To reproduce:
[code]
<img width="1005" alt="Screenshot 2021-06-19 at 14 44 58" src="https://user-images.githubusercontent.com/26833433/122642919-27f3c800-d10d-11eb-9ccf-a3605b22e616.png">

[2021-06-19 13:08] namanjaswani27 commented on #16897
If you want to use` np.random.choice` equivalent in PyTorch to increase variation in output text of a Text Generation model, try using `torch.multinomial` [[link]](https://pytorch.org/docs/stable/generated/torch.multinomial.html)

[2021-06-19 13:25] xsacha commented on #41852
@lablabla Sorry, this was quite a while ago and you've likely resolved your issue by now. If not, please update.

What I meant is that no one confirmed that the results pre/post installing CUDNN 7.6.5 were the same. From the changelog, it suggests that they may have been generating incorrect supported format tables in previous 7.6 versions.

Specifically the difference you saw was related to chann

[2021-06-19 13:42] rgommers commented on #52181
yes indeed

[2021-06-19 13:43] vadimkantorov commented on #52181
:(

[2021-06-19 14:07] ErikVester commented on #50469
I am running into the same issue. I am quite new in all this, but is there a way to avoid using scatter_add_cuda_kernel? For me it gets used when I call backward() in my RL set-up and I am therefore not sure if there is a way to change this?

[2021-06-19 14:32] moskomule commented on #57273
@imaginary-person Hi, I could reproduce @rafi-cohen's example by using `1.9.0-py3.9_cuda11.1_cudnn8.0.5_0` installed via conda on Ubuntu 20.04.

[2021-06-19 14:38] xkszltl commented on #59887
Any update on this?

[2021-06-19 14:39] imaginary-person commented on #57273
Thanks for the info, @moskomule! It seems caffe2 pthreadpool already exists because of some dependency in the binary distribution, so `torch.set_num_threads()` invocation isn't required to reproduce the issue (as is otherwise the case when building from the master branch).

The same goes for YOLOv5 - `torch.set_num_threads()` invocation isn't required to reproduce the issue.

[2021-06-19 14:42] moskomule commented on #57273
Thanks. By the way, does it actually cause any memory leak?

[2021-06-19 14:52] imaginary-person commented on #57273
@moskomule, no, the warning was added after fixing a segfault. We are leaking the Caffe2 pthreadpool in child processes (workers), as child processes inherit its data structures from the parent process, but child processes are single-threaded, so they don't actually have those threads!

BTW, are you unable to reproduce the issue in this issue's script with `pin_memory=False`?
If so, I'd have to ch

[2021-06-19 15:02] imaginary-person commented on #60319
I don't have a Mac, so this is probably a stupid question, but why is your Python version `macOS-10.16-x86_64-i386-64bit`? Is that simply because you upgraded your macOS to 11.3.1 after installing Python? Thanks

[2021-06-19 15:42] DamonDeng commented on #60319
You probably read it wrong, :-) , the Python version is 3.8, the Python platform is what you mentioned:

  Python version: 3.8 (64-bit runtime)
  Python platform: macOS-10.16-x86_64-i386-64bit

[2021-06-19 15:44] imaginary-person commented on #60319
Sorry for the typo, but why is the platform version different from your OS version? Is it simply because you upgraded your macOS after installing Python?

[2021-06-19 15:50] DamonDeng commented on #60319
I am not sure about why this happened, I did upgrade the macOS after installing Python 3.8

And...., I guess it is not related to the issue, :)

[2021-06-19 15:53] imaginary-person commented on #60319
PyTorch CI tests on MacOS 10.13 with Python 3.7. This test passes on it.

[2021-06-19 16:05] DamonDeng commented on #60319
Good point.
Let me setup a Python 3.7 env in my Mac to test it.

[2021-06-19 16:07] imaginary-person opened #60327 "`ProcessGroupDistAutogradTestWithSpawn.test_backward_rref_nested` is flaky"
## 🐛 Bug

`ProcessGroupDistAutogradTestWithSpawn.test_backward_rref_nested` failed twice in a CI run (the CI check was restarted by the CI system, so it ran twice).

This test failed in `pytorch_linux_bionic_py3_8_gcc9_coverage_test1` in the CI run of an open PR, whose branch includes its potential fix.

## Expected behavior

This test should pass.

## Environment

[CI](https://app.circleci.com/pi

[2021-06-19 16:13] adamjstewart opened #60328 "User-defined preferred BLAS backend of choice not respected"
## 🐛 Bug

When I build PyTorch and specify `BLAS=OpenBLAS`, CMake picks up my BLAS installation:
[code]
but later during CMake configuration it switches to MKL:
[code]

## To Reproduce

Steps to reproduce the behavior:

1. Set `BLAS=OpenBLAS`
1. `python setup.py install`

## Expected behavior

I would expect CMake to fail if it can't find my OpenBLAS installation, and I definitely wouldn't expect

[2021-06-19 16:26] DamonDeng commented on #60300
I guess your expectation is returning topk elements in original order.

If that is what you want, setting "sorted" parameter to False doesn't help. As the doc does not guarantee it. The following is quoted from the doc:
"The boolean option sorted if True, will make sure that the returned k elements are themselves sorted"

That means setting "sorted" to True will make sure the return values are sor

[2021-06-19 16:35] adamjstewart opened #60329 "USE_SYSTEM_CPUINFO: internal symbol `clog_vlog_fatal' isn't defined"
## 🐛 Bug

When building PyTorch with `USE_SYSTEM_CPUINFO`, I observe the following error message:
[code]

## To Reproduce

Steps to reproduce the behavior:

1. Set `USE_SYSTEM_CPUINFO`
1. `python setup.py install`

## Expected behavior

I would expect to be able to use a system cpuinfo installation.

## Environment

 - PyTorch Version: 1.9.0
 - OS: Linux (Ubuntu 18.04)
 - How you installed PyTorch

[2021-06-19 16:53] adamjstewart opened #60331 "USE_SYSTEM_ONNX: onnx/optimizer/optimize.h: No such file or directory"
## 🐛 Bug

When I try to build PyTorch with `USE_SYSTEM_ONNX`, I get the following error message:
[code]

## To Reproduce

Steps to reproduce the behavior:

1. Set `USE_SYSTEM_ONNX`
1. `python setup.py install`

## Expected behavior

I would expect to be able to build with a system onnx installation.

## Environment

 - PyTorch Version: 1.9.0
 - OS: Linux (Ubuntu 18.04)
 - How you installed PyTorch

[2021-06-19 17:24] Felix-Petersen commented on #60300
In my cases, there was no difference between `sorted=True` and `sorted=False`. Is there an example where the output differs?

Otherwise, I suggest deprecating the argument as it does not make sense to have an argument that does not have any effect although implying that it would do something. While it is not explicitly stated, `sorted=False` implicitly implies that it preserves the order, which ca

[2021-06-19 17:28] adamjstewart opened #60332 "USE_SYSTEM_XNNPACK: relocation R_X86_64_PC32 against symbol `cpuinfo_isa' can not be used when making a shared object; recompile with -fPIC"
## 🐛 Bug

When I try to build PyTorch with `USE_SYSTEM_XNNPACK` I see the following error message:
[code]

## To Reproduce

Steps to reproduce the behavior:

1. Set `USE_SYSTEM_XNNPACK`
1. `python setup.py install`

## Expected behavior

I would expect to be able to build PyTorch with a system XNNPACK installation.

## Environment

 - PyTorch Version: 1.9.0
 - OS: Linux (Ubuntu 18.04)
 - How you i

[2021-06-19 17:56] DamonDeng commented on #60300
If you want to see the difference between `sorted=True` and `sorted=False`, make the size of input tensor larger and make the k large enough (k*64 > n).

Please refer to the following sample:

    import torch
    torch.manual_seed(0)
    k_number = 20

    a = torch.randperm((k_number - 1 ) * 64)

    print (a)
    print (torch.topk(a, k=k_number, sorted=False))
    print (torch.topk(a, k=k_numbe

[2021-06-19 18:23] ngimel commented on #50469
There's a deterministic implementation of scatter_add_ for 1D inputs (introduced in pytorch 1.9). @ErikVester if that doesn't help, you can try rewriting `gather` op in your network with indexing op.

[2021-06-19 19:28] Felix-Petersen commented on #60300
Thanks.

I agree. My suggestion for "otherwise" was just for the case that there actually is not a difference. But as you pointed out, there is a difference, and it makes sense.

[2021-06-19 20:31] twoertwein commented on #60156
PEP-585 type annotations do also not work when nested inside `typing.Optional`.
[code]

[code]

[2021-06-19 22:12] #59511 closed

[2021-06-19 22:36] twoertwein opened #60333 "Two-element ModuleList results in error in inference_mode when jit'ed"
## 🐛 Bug

A `ModuleList` with more than one module results in an error in `inference_mode` when jit'ed . A `ModuleList` with only one module works fine with `inference_mode` and JIT. `inference_mode` + `ModuleList` work fine when not jit'ed.

## To Reproduce
[code]
[code]

## Expected behavior

No error is thrown.

## Environment

PyTorch version: 1.9.0+cu102
Is debug build: False
CUDA used to bui

[2021-06-19 22:49] ngimel commented on #60264
Functionally fixing it is as easy as replacing `empty` here with `empty_like` https://github.com/pytorch/pytorch/blob/5824a866b72c251ad47a9c16dc652e49cfd7e234/aten/src/ATen/native/TriangularOps.cpp#L88, however, beware that at least cuda kernel is written in such a way that perf will be pretty bad for discontiguous tensors.

[2021-06-19 23:07] adamjstewart opened #60334 "USE_SYSTEM_SLEEF: undefined reference to symbol 'Sleef_expd4_u10'"
## 🐛 Bug

I'm trying to build PyTorch 1.7.1 with `USE_SYSTEM_SLEEF` and I'm seeing the following error:
[code]

## To Reproduce

Steps to reproduce the behavior:

1. Set `USE_SYSTEM_SLEEF`
1. `python setup.py install`

## Expected behavior

I would expect to be able to build with a system installation of sleef.

## Environment

 - PyTorch Version: 1.7.1
 - OS: Linux (Ubuntu 18.04)
 - How you insta

[2021-06-19 23:28] DamonDeng commented on #60319
Created a conda env with Python=3.7, followed the same steps to install Pytorch and tried to reproduce the issue.

test_dataloader.py passes the test.

Seems that it is an issue related to Python 3.8 on Mac

[2021-06-19 23:42] mruberry commented on #60136
We should ask someone from the distributed team. I'd actually like to consider moving distributed and RPC tests to their own jobs. They're very flaky.

[2021-06-19 23:51] jingxu10 commented on #58896
Hi, thanks for the info. May I also know your batch size?

[2021-06-20 01:02] moskomule commented on #57273
@imaginary-person Hi, thanks for the explanation.

Yes, when `pin_memory=False`, the warning disappears.

[2021-06-20 01:09] xsacha commented on #58896
Variable batch size because it is for inference but I try to make multiples of 4.

[2021-06-20 01:11] jingxu10 commented on #58896
Well noted. Thanks.

[2021-06-20 01:52] adamjstewart commented on #45448
I'm having this same issue.

 - PyTorch Version: 1.5.1
 - OS: Linux (Ubuntu 18.04)
 - How you installed PyTorch: `spack`
 - Build command you used: `python setup.py install`
 - Python version: 3.8.10
 - CUDA/cuDNN version: 10.1.243/8.0.5.39
 - GPU models and configuration: K80 (sm_37)

[2021-06-20 01:54] adamjstewart commented on #45448
Looks like this was solved in the master branch: https://github.com/pytorch/pytorch/issues/41593#issuecomment-661241271

[2021-06-20 02:44] imaginary-person opened #60337 "Tuning `SumKernel` for Float16 on CPU with AVX512 vectorization"
## ❓ Questions and Help

Hello,

`SumKernel` in the CPU implementation has been implemented with pairwise addition, and uses some tunable _knobs_,
such as `ilp_factor` (which seems to mean Instruction level parallelism, perhaps?), whose documentation isn't present in the comments. If I use the current `SumKernel` implementation with AVX512 in #56992, then the output of sum of `Float16` tensors bec

[2021-06-20 03:00] #60267 closed

[2021-06-20 05:36] rafi-cohen commented on #57273
I can confirm the script reproduces the warnings as-in (no need for `torch.set_num_threasd()`) with PyTorch 1.9.0 (py3.8_cuda11.1_cudnn8.0.5_0), running on Ubuntu 18.04.5 LTS

I noticed that if I first run the script with `pin_memory=True`, and then run it with `pin_memory=False` (on the same python instance), the warnings trigger in both cases. However, if I run a new python instance and run the

[2021-06-20 05:51] imaginary-person commented on #57273
Thanks for the info, @rafi-cohen & @moskomule!
Yes, I was able to reproduce the issue with the Conda binary.

Basically, when `pin_memory` is `True`, a `torch.set_num_threads` call is made, which I could see with gdb (`at::set_num_threads`).
So, it seems that it'd be safe to disable the warning.

[2021-06-20 06:05] imaginary-person commented on #60327
Didn't fail in yet another CI run.

[2021-06-20 06:19] Emmanuel357 opened #60338 "How do I avoid nan gradients for exponential parameters?"
Not immediately but as soon as my loss approaches zero when training my neural network with a custom exponential parameter I start getting nan gradients. I don't want to stop using the exponential parameter. Is there a way that I can avoid nan gradients for my exponential parameter or how do I detect that pytorch is about to give my parameter a nan gradient so I can disable the parameter.

cc @ezy

[2021-06-20 06:49] DebarghaG commented on #50323
@rabeehk Did you manage to find the resolution to this problem?
I'm in a similar situation, with multiple GPUs sitting on multiple nodes of my cluster.

@pranavdurai10 's last link to a solution won't work since scheduling on clusters is usually handled through ```qsub```, and logging into individual nodes to launch/kill processes isn't a good practice.

[2021-06-20 07:59] forestGoroli commented on #12831
I have the same problem. When `num_workers>0`, the performance is very slow. (Windows 10, PyTorch 1.7.1)

Then, As mentioned in [mszhanyi's post](https://github.com/pytorch/pytorch/issues/15849#issuecomment-810876377) of the issue mentioned by Oktai15, Setting `persistent_workers=True` in an argument of DataLoader improved the speed even when `num_workers>0`.

Referring to mszhanyi's sample code i

[2021-06-20 08:52] mruberry commented on #60294
fyi @jbschlosser to consider if their are `nn.functional.pad` concerns

A NumPy-like pad function that generalizes PyTorch's existing pad functionality is exciting! Maybe we should focus on a few pad modes to start?

Also, I have a factual question. Where PyTorch and NumPy define a padding operation with the same name, like "reflect" or "constant," do they define the same operation today? If not,

[2021-06-20 09:49] Kyeongpil commented on #54401
@heitorschueroff @mruberry Thank you for considering my proposal :)

[2021-06-20 10:03] emcastillo commented on #60265
Hi,

I tried to reproduce this and effectively I see a discontinuity,
These are the lr values for range [45, 50) of the lr in the correct case:

[code]

And when running your script, the values where

[code]

As you said there is a gap, the funny stuff is that the gap is gone if we also load the state dict of the scheduler (you don't do this in your example). But Since we are not doing anything wi

[2021-06-20 10:37] meganset commented on #60053
This issue is marked closed, but does not look fixed.
I noticed the warning from the c++ side, but it is still there in python as well.

[code]

From libtorch:

[code]

[2021-06-20 10:58] emcastillo commented on #60265
I found the issue behind this problem:

Let's say that the first loop (where we obtain the state), changes the lrs assigned to the parameters at the end of epoch 44.
And leaves it ready for epoch 45. (the scheduler step runs after the optimizer step).

Now we create a new scheduler and since the `last_epoch` is not -1, it will try to calculate the current lr by looking and the lr stored in the opt

[2021-06-20 11:54] rubengrab commented on #60172
### Setup:
I am using an Emulator for testing.
I have used the following 4 import statements, one at a time:

[code]

[code]

[code]

[code]

### Before each one of them, I follow these steps:

1. Close emulator
2. Wipe data from Emulator
3. Invalidate caches / restart the Android Studio
4. Delete Gradle caches(`rm -r .gradle/caches`)
5. Open Android Studio
6. Start the Emulator
7. Build App and R

[2021-06-20 12:35] rgommers commented on #59222
@brando90 thanks for your input. Can you please add:

- whether or not you ran this in an empty environment?
- the output of `conda info` (in the environment where your install is failing)
- the output of running `conda install pytorch torchvision torchaudio -c pytorch`

The conda `defaults` and `conda-forge` channels are not fully compatible, and it's better not to mix them. Until now, the `pytor

[2021-06-20 12:57] hughperkins commented on #39
@KushajveerSingh I assume this is for some kind of project? What you could do is:
- first work down the list, at the top of this thread, and document which items are still current (it's a really old list, some things might have already been fixed)
     - eg use a function that generates an out of range error
- then work your way down the list

One slight variant on this would be to add unit tests,

[2021-06-20 13:46] gaoteng-git commented on #60096
@brianjo Excuse me. Any solution to support %load_ext ?

[2021-06-20 13:46] peterbell10 commented on #60337
Yes, `ilp_factor` stands for instruction level parallelism. It's the number of vector accumulators that get summed in paralllel. So it's a performance optimization. In theory, the optimal value would be the add latency (clocks) divided by the inverse throughput of load + add (clocks per element). Which is roughly 4, but depends on the data type and exact CPU. I usually refer to the [intel intrinsi

[2021-06-20 13:58] meganset commented on #60053
Ok, I misunderstood:
the spurious warning is in the 1.9.0 release, but fixed now in the nightly build.

[2021-06-20 14:23] pmeier commented on #60053
Would be nice if this could make it into `1.9.1`.

[2021-06-20 15:04] adamjstewart commented on #60331
Could it be that `onnx-tensorrt` is also required when using `USE_SYSTEM_ONNX`?

[2021-06-20 15:25] #53476 closed

[2021-06-20 15:43] meganset opened #60341 "C++ version 1.9.0 libtorch dynamic load fails -- GCC only"
## 🐛 Bug

When building our shared library application with libtorch 1.9.0 (and the nightly build),
we are seeing an error from the GCC build (clang is fine)

[code]

In GCC, the first non-inline virtual method is used to determine the the translation unit where the vtable and typeinfo objects are created -- was there some change to _nn::Module_'s virtual functions that might cause this(?).

I'm s

[2021-06-20 16:24] imaginary-person commented on #59098
@jerryzh168 @supriyar,

FBGEMM leverages the `AVX512_VNNI` instruction set, if supported on a platform, and Cascade Lake supports it.
Although currently ATen isn't compiled with AVX512 support, FBGEMM is.
So, the output of `test_lstm` that fails on Cascade Lake machines is a bit different from machines not supporting `AVX512_VNNI`. Fortunately, it's not a compiler bug, so I'm closing this issue. T

[2021-06-20 16:58] imaginary-person commented on #59098
From the discussion in https://github.com/pytorch/FBGEMM/issues/125, it seems that `reduce_range` should not be set to `True` if FBGEMM is compiled with `AVX512_VNNI` support, so reopening the issue, as it can be fixed, and this test need not be skipped.

[2021-06-20 17:35] KushajveerSingh commented on #39
@hughperkins Thank you for the information. This is not for a project, just wanted to start contributing to pytorch in some way.

[2021-06-20 17:43] stas00 commented on #60146
Awesome, thank you!

But this is a different tutorial, so perhaps cross-link to the "Trace view" sub-section of the tensorboard tutorial from https://pytorch.org/tutorials/recipes/recipes/profiler_recipe.html#using-tracing-functionality - with "for more detailed information please see: ..."

[2021-06-20 18:54] seherozcelik opened #60342 "irrelevant named tensor warning"
## 🐛 Bug

warning:

/usr/local/lib/python3.7/dist-packages/torch/nn/functional.py:718: UserWarning: Named tensors and all their associated APIs are an experimental feature and subject to change. Please do not use them for anything important until they are released as stable. (Triggered internally at  /pytorch/c10/core/TensorImpl.h:1156.)
  return torch.max_pool2d(input, kernel_size, stride, paddin

[2021-06-20 21:14] ngimel commented on #22329
Python custom autograd functions are still not supported, however, it is possible to implement custom autograd function in c++ with `torch::autograd::Function` https://pytorch.org/tutorials/advanced/dispatcher.html#adding-autograd-support. See torchvision for examples of how this is done.

[2021-06-20 21:14] #22329 closed

[2021-06-20 21:16] ngimel commented on #60342
Dupe of #60053, fixed on master

[2021-06-20 21:16] #60342 closed

[2021-06-20 22:10] Bilal-Yousaf opened #60343 "What changes we need to make in metrics calculation and visualization part when we use Distributed Data Parallel for distributed training"
## ❓ Questions and Help

I am updating my training script to use Distributed Data Parallel to do Multi-GPU training.
I am done with most of the steps as mentioned in PyTorch Guidelines.
But I am confused about how to handle metrics calculation and visualization:
For example,
I need to calculate accuracy and I have 4 samples in total and 2 GPUs.
When I run testing I will have predictions and ground

[2021-06-20 23:57] ezyang commented on #60306
I think the correct way to do this is to add a dispatched function in `native_functions.yaml` that records usage streams, and then implement it separately per TensorImpl type. This will slow it down even more than it currently it is, but my hope is we only call this when multi stream shenanigans are going on?

[2021-06-21 00:09] gaoteng-git commented on #60146
@brianjo FYI. Some helpful suggestions to [tutorial](https://pytorch.org/tutorials/recipes/recipes/profiler_recipe.html#using-tracing-functionality).

[2021-06-21 00:27] fe1w0 commented on #44023
I'm very sorry😵‍💫, but I haven't responded to the message until now. I think this is not a pytorch problem, it should be related to my tenserflow environment. When I reconfigure tenserflow, after
conda install pytorch, so far no problems have been encountered. Thank you very much for your attention.

This is the reference link for my reinstallation, suitable for apple m1
![https://developer.apple.

[2021-06-21 01:04] adamjstewart commented on #58750
I had this same problem with pybind11 2.5.0, it would be nice if PyTorch could keep track of which versions of dependencies work and check for this during cmake configuration.

[2021-06-21 01:43] mruberry commented on #54401
You're welcome, and look like someone is working on adding the "force" kwarg now, too

[2021-06-21 01:51] walterddr commented on #59927
this is addressed in #60157

[2021-06-21 01:51] #59927 closed

[2021-06-21 01:53] walterddr commented on #60136
This is fixed by #60206. specifically, see:
https://app.circleci.com/pipelines/github/pytorch/pytorch/339308/workflows/261d5f9e-ed64-444f-a9ce-ff98a06d2daf/jobs/14262098 vs
https://app.circleci.com/pipelines/github/pytorch/pytorch/339308/workflows/261d5f9e-ed64-444f-a9ce-ff98a06d2daf/jobs/14262097

[2021-06-21 01:53] #60136 closed

[2021-06-21 02:00] walterddr opened #60344 "[rfc] optimize distributed and RPC tests in CI"
See discussion in #60136

Overview
==
There are several recent flakiness discovered on these distributed tests. We were wondering if we can improve they way they got launch in CI.

Status Quo
==
0. Existing test statistic shows that with the different backend/init method combination, it is one of the longest test job in machine time:

| test filename | Total machine time per commit (min) |
| -- |

[2021-06-21 02:44] hughperkins commented on #39
A new one for you:
- if you access `.grad`, and there is no gradient, you get an error message like
[code]
     - this is intended behavior, sort of ish
- now if you call `zero_grad()` on an nn.Module instance, and one of the parameters is zero, you get an error like:
[code]
     - there are a few problems with this:
         - firstly, the module and line number are uninterpretable, and are outsi

[2021-06-21 03:10] hwangdeyu commented on #59179
TensorList of Uninitialized Output problem.

[2021-06-21 04:30] mruberry opened #60347 "MacOS: three distribution tests are skipped"
See https://app.circleci.com/pipelines/github/pytorch/pytorch/339308/workflows/261d5f9e-ed64-444f-a9ce-ff98a06d2daf/jobs/14261979 for a recent log showing the failures. https://github.com/pytorch/pytorch/pull/60348 has skipped these tests on MacOS to unblock the job.

These tests may just need a tolerance adjustment due to SciPy updates.

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @anjali4

[2021-06-21 06:28] Flamefire commented on #48591
For reference: The NaN propagation failures are a bug in GCC fixed by https://gcc.gnu.org/pipermail/gcc-cvs/2020-June/299427.html

[2021-06-21 06:30] SungmanHong opened #60349 "Can I train AI If AI model is located in the another model’s forward?"
Hi, I have TWO model.
The model2 is located in the model1's forward, as follows.

[code]

Now, I’m training model1 by loss.backward()
However, the model2, located in the model1’s forward, is trained automatically?
If not, How can I train the model 2?

My model 1's train code is located at below as follows.

[code]
Thanks.

[2021-06-21 06:48] Flamefire commented on #60259
This behavior depends on the implementation of `std::acos`, and `std:.atanh` and hence the used standard libraries. Maybe your CI doesn't test the relevant stdlib? Or in this case libc/libm
On my own Ubuntu machine the above test case does not return nan/inf, on the RHEL and CentOS machines of our cluster it does.

Might be related to https://github.com/pytorch/pytorch/issues/52310

In any case: T

[2021-06-21 07:14] onkyo14taro opened #60351 "M1 Mac: `torch.dot()` returns unexpeted values for tensors of `torch.float32`"
## 🐛 Bug

When `torch.dot` is given a tensor of `torch.float32`, its output is unexpected value.

## To Reproduce and Expected behavior

Here is an example using tensors generated from `torch.arange()`, but for general tensors of `torch.float32`, `torch.dot()` returns unexpected values.

Inputs:
[code]

Outputs:
[code]

## Environment

 - PyTorch Version (e.g., 1.0): 1.9.0
 - OS (e.g., Linux): mac

[2021-06-21 07:27] JaheimLee commented on #54203
Is there any progress?

[2021-06-21 08:01] hamishc opened #60352 "torch::jit::script::Module does not upload all model tensors to cuda device in torch 1.9"
## 🐛 Bug

In running inference in C++ via a torchscript trace (the trace I used can be found [here](https://drive.google.com/file/d/1NyFyoGVvH1Xma0Xx6ooRCt_o6__9Spjq/view?usp=sharing)) I am seeing the following error:
[code]

Debugging and inspecting the input / model, both seem to be on the same device (cuda:0). This error does not occur with the same code in torch 1.8.1.

## To Reproduce

[code]

[2021-06-21 08:07] #58123 closed

[2021-06-21 08:18] v-yunbin opened #60353 "No module named 'torch.nn.Module'"
install torch-1.8.1 torchaudio-0.8.1 torchvision-0.9.1 typing-extensions-3.10.0.0
when use nn.Module，met errors:
[code]

[2021-06-21 08:27] clementgr commented on #60265
Hi,

good catch! Thank you for the quick investigation.
Something else I found strange was: when initializing a new scheduler with `last_epoch != -1`, the optimizer's lr value gets modified. I'm not sure if this is an issue or expected behavior, and if this could be related to what you've just pointed out.

Simpler reproducer:

[code]

And this is the output:

[code]

Note how the lr for the new o

[2021-06-21 08:46] onkyo14taro commented on #60353
`torch.nn.Module` is a **`class` (NOT a `module`)**.
Therefore, it's cannot be imported.

If you want to use `torch.nn.Module`, you can do like the following:

[code]

[2021-06-21 08:50] lhb8125 commented on #60071
Thanks for your reply, now I found the problem, which was caused by a previous NCCL version.
When I launch multiple communicators, they could choose the same network port, which cause the decrease of bandwidth.

[2021-06-21 08:52] mruberry opened #60354 "test_old_models_bc is flaky"
It can be seen failing erroneously on both [pytorch_linux_xenial_py3_6_gcc5_4_jit_legacy_test](https://app.circleci.com/pipelines/github/pytorch/pytorch/339357/workflows/c9bd7d31-234a-4b6d-aa51-232f32c4c327/jobs/14264299) and [pytorch_linux_xenial_py3_6_gcc5_4_test](https://app.circleci.com/pipelines/github/pytorch/pytorch/339357/workflows/c9bd7d31-234a-4b6d-aa51-232f32c4c327/jobs/14264297).

OSS

[2021-06-21 09:01] mruberry opened #60355 "pytorch_linux_backward_compatibility_check_test is flaky"
See [this](https://app.circleci.com/pipelines/github/pytorch/pytorch/339357/workflows/c9bd7d31-234a-4b6d-aa51-232f32c4c327/jobs/14264294) recent failure that was reported in HUD CI on https://github.com/pytorch/pytorch/pull/59148.

We may want to consider radically changing how do we BC (and FC) testing, too, because currently many BC/FC requirements are simply not tested for.

cc @ezyang @gchanan

[2021-06-21 09:02] densechen opened #60356 "Some Logic Error with New Group?"
PyTorch provides the following function to build a new backend among some processes in the world group:
https://github.com/pytorch/pytorch/blob/5ff407df675b3f178080f56abc86442da428370f/torch/distributed/distributed_c10d.py#L2701
In the returned sub_pg, the rank will be re-arranged, which means if you build a new process group among p1, p4, p6, now, the returned one will have p0 (p1 in the world),

[2021-06-21 09:36] v-yunbin commented on #60353
thank you

[2021-06-21 09:36] #60353 closed

[2021-06-21 09:59] quanasi opened #60357 "Exporting the operator relu6 to ONNX opset version 11 is not supported. Please feel free to request support or submit a pull request on PyTorch GitHub."
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2021-06-21 10:27] mschnepf opened #60358 "Does not progress while training by using multi NVIDIA V100 GPUs"
## 🐛 Bug

My PyTorch program runs successfully with one NVIDIA V100 GPU. It also works with multiple NVIDIA GTX Titian GPUs within 2 minutes. However, when more than one NVIDIA V100 GPU should be used, PyTorch does not progress over the first epoch. The last printout is `start training: 1 `. After the printout, the GPU utilization of the GPUs (except the first) rose to 100% according to `nvidia-sm

[2021-06-21 10:35] yelu opened #60359 "Expose the .pt model file path during TorchScript custom class Serialization/Deserialization"
## 🚀 Feature

It is not always appropriate to store all states inside the .pt file. Sometimes, we need to serialize data into external files and save only the file name inside the .pt file.

[code]

## Motivation

Scenarios where we need to serialize/deserialize data into external files:

1. The state size is very big. If we save the data into a string, it will double the memory usage.
2. Some thi

[2021-06-21 10:38] 4ndr3aR commented on #52848
I'm having the same problem running jobs via slurm, but it happens also with `--ntasks-per-node=2`. With `netstat -nlp` (on the master node) and `netstat -np` (on the slave nodes) I see that all the connections are `ESTABLISHED`, but at the end the script inevitably times out. I'm using pytorch 1.7.1.

[2021-06-21 11:53] VRehnberg opened #60365 "INTERNAL_ASSERT failed"
## 🐛 Bug

RuntimeError: batched == nullptrINTERNAL ASSERT FAILED at "/tmp/pip-req-build-ym9h0m9k/functorch/csrc/DynamicLayer.cpp":250, please report a bug to PyTorch.

## To Reproduce

Steps to reproduce the behavior:

1.Run the following:
[code]

## Environment

Collecting environment information...
PyTorch version: 1.10.0.dev20210621+cpu
Is debug build: False
CUDA used to build PyTorch: None
ROC

[2021-06-21 12:57] simaki commented on #60349
You may want to add model2 to an attribute of model1 in \_\_init\_\_. Then the [parameters](https://pytorch.org/docs/stable/generated/torch.nn.Module.html?highlight=parameters#torch.nn.Module.parameters) of model1 include that of model2 and so model2 would be trained.

fyi questions are supposed to be posted to https://discuss.pytorch.org/ as it's more likely you will get help there.

[2021-06-21 13:00] simaki commented on #60338
[detect_anomaly](https://pytorch.org/docs/stable/autograd.html?highlight=detect_anomaly#torch.autograd.detect_anomaly) may help but anyway I think we need a minimal reproducible example to look into that. Also, questions are supposed to be posted to https://discuss.pytorch.org/ as it's more likely you will get help there.

[2021-06-21 13:08] 4ndr3aR commented on #52848
I can confirm that upgrading to pytorch 1.9.1 solves this issue.

[2021-06-21 13:12] litianqi715 opened #60367 "torch.sum() returns different result on different device"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

import torch
bb=torch.rand([6,4,224,224])
print(bb.sum(), bb.cuda(1).sum(), bb.numpy().sum())

## Expected behavior

I expect the sum result of float32 tensor is the same on cpu and gpu, at least in the first 6 digits. But I found that the sum result  on gpu is often different with that of  cpu or numpy. Even on different generation of g

[2021-06-21 13:47] #60349 closed

[2021-06-21 14:01] christian-rauch opened #60369 "misleading warning about named tensors support"
## 🐛 Bug

Since version 1.9.0 I get a warning about the named tensor support:
[code]

The warning suggests that I deliberatively chose to use this experimental feature. But I think this is not the case. I am using the same code since version 1.5.1 and I believe that it does not use the named tensors experimental feature.

## To Reproduce

Steps to reproduce the behavior:
1. download https://github

[2021-06-21 14:09] Flamefire commented on #60260
I'm really wondering how those tests were ever accepted into the PyTorch codebase.
The `test_function_failure_signal` cannot work at all. It (purposely) creates a SIGSEGV which terminates the subprocess while NOT creating an exception and specifically NOT a `ChildFailedError` as would be required for the test to work. After some debugging and digging into that mess I discovered that those tests ar

[2021-06-21 14:10] Lezcano commented on #59926
For reference, I believe that the second proposed approach is the correct one. One can make it work modifying just the internal tensor storage via the function `set_` (https://pytorch.org/docs/stable/generated/torch.Tensor.set_.html). This should work in the case when, for example, you are sharing the mask between a number of layers. You would then set a new mask as:
[code]

A simplified implement

[2021-06-21 14:11] Lezcano commented on #59926
I'm closing this for now, but do feel free to reopen.

[2021-06-21 14:11] #59926 closed

[2021-06-21 14:24] ezyang commented on #60094
Thanks!

[2021-06-21 14:28] zou3519 commented on #47990
@ShoufaChen what happens if you try to use torch.double? (e.g. `inp = inp.double(); w = w.double()`). This might be a numerical precision issue.

[2021-06-21 14:41] ezyang commented on #60149
`native_functions.yaml` has been around for a long enough time and has stayed relatively stable, so I bet that we can retroactively compute these API changes by comparing JIT schemas. This would be a fun project.

[2021-06-21 14:45] anj-s commented on #57138
Thank you @SplitInfinity. That seems right. I used `torch.jit.fork` to return a Future to the caller. The one thing to keep in mind is that you will need to torch script the function that you are calling and the class whose function is passed to `torch.jit.fork`.

[2021-06-21 14:45] #57138 closed

[2021-06-21 14:52] anjali411 commented on #60365
@VRehnberg can you add a min reproducible code sample in the issue? I am not able to load the Jupyter notebook (that you linked) on github.

[2021-06-21 15:05] anjali411 commented on #60300
closing this issue as the issue seems resolved

[2021-06-21 15:05] #60300 closed

[2021-06-21 15:07] stas00 commented on #60149
Great!

Perhaps even in a simple variation of a grep, as proposed here:
https://github.com/pytorch/pytorch/issues/60153#issuecomment-863762810

[2021-06-21 15:20] VRehnberg commented on #60365
Oops, I hadn't pushed the .py file. But I'll write a MWE as well.

[2021-06-21 15:21] ezyang commented on #60158
someone on our side should try to reproduce this. However, if you can attach gdb to one of the frozen instances and get the backtraces of all threads (`thread apply all bt`) that would be a help. Might need a debug build of PyTorch to get useful stacktraces.

[2021-06-21 15:23] ezyang commented on #60197
cc @jessebrizzi

[2021-06-21 15:23] nikithamalgifb commented on #60354
@mruberry : Do you know how often this has failed in the last month/week? Also, i have observed few tests fail due to infrastructure issues , which seem to go away after re-run? Are these tests failing due to similar issues? I would be happy to help and investigate this further.

[2021-06-21 15:25] nikithamalgifb commented on #60352
It looks like you are using python3.6. Can you try using 3.8 or later version and see if this issue reproduces. Also can you try master?

[2021-06-21 15:26] Flamefire commented on #60260
And the other failing test `test_port_already_in_use_on_server` (added by @kiukchung) fails because on Linux either TCPv4 or TCPv6 can be used. The test tries to block a port by creating a socket using an unspecified protocol. The TCPStore does the same so what happens (in my case at least) is that the Python socket is using TCPv6 and the TCPStore uses TCPv4

[2021-06-21 15:31] ezyang commented on #60259
Yeah if you can tell us more details about your stdlib/OS setup that would be helpful.

[2021-06-21 15:32] arfio commented on #60331
I got the same error, and I fixed it by updating the submodule:
[code]

[2021-06-21 15:34] adamjstewart commented on #60331
@arfio updating the submodules for PyTorch or for ONNX? I'm specifically trying to use an external ONNX, not the one in PyTorch's submodule.

[2021-06-21 15:35] anj-s commented on #57158
Thank you @mrshenli for digging into this! I'll work on a lock free implementation. One question I did have is how are you warming up the RPC connection? Do you send a 1 MB message 10 times? Also are you only using a TorchScript version of the non-comp function?

[2021-06-21 15:36] arfio commented on #60331
In this case, I'm not sure, but I had an outdated ONNX module, so updating the submodules for Pytorch fixed the issue.

[2021-06-21 15:39] allevitan commented on #59998
If I were interested in submitting a fix for this, what would be the correct next steps?

[2021-06-21 15:39] Flamefire commented on #60259
I'm using the libstdc++ which comes with GCC but the actual acos is done by libm from the CentOS 7 base package. Checking the strings it tells me it is libm 2.17 which matches `/lib64/libc.so.6 --version`:

[code]

Anything else you need me to check?

[2021-06-21 15:45] Flamefire commented on #60259
Another datapoint: For atanh the "normal" and "extremal" tests are already excluded, just the "hard" one not, which looks like a plain oversight: Why skip "normal" but not "hard"? Maybe "hard" was intended? See https://github.com/pytorch/pytorch/blob/f2bb0932da3bc61a75867e4fec241ae8ca65b63e/torch/testing/_internal/common_methods_invocations.py#L5004-L5007

[2021-06-21 15:45] stas00 commented on #60158
Ah, good idea about gdb. Here it is - looks like possibly some deadlock on futex?

Let me know if you want a longer bt on thread 1.

So running the script at https://github.com/pytorch/pytorch/issues/60158#issuecomment-863743198
[code]
results:
[code]

[2021-06-21 15:45] VRehnberg commented on #60365
@anjali411 added a minimum reproducible code sample and edited it in to the issue.

[2021-06-21 15:47] ezyang commented on #59998
Open a PR with the one line change you suggested, and a new test in `test/test_optim.py` that shows that complex optimization works OK after this change.

[2021-06-21 15:47] Jeryter opened #60372 "Docs for `Installing C++ Distributions of PyTorch` needs update"
## 📚 Documentation

In the [C++ docs](https://pytorch.org/cppdocs/installing.htm), it writes:

[code]

However, the `wget` links to a **GPU** version libtorch. I followed this tutorial on Ubuntu 20.04.2 LTS (GNU/Linux 5.4.0-73-generic x86_64), when I run `cmake -DCMAKE_PREFIX_PATH=/absolute/path/to/libtorch ..`, I got a CMAKE error `Imported target "torch" includes non-existent path "/pytorch/torc

[2021-06-21 15:50] ezyang commented on #60271
I'm a bit ambivalent about directly binding the C++ implementations to Python: the C++ implementations are definitely a product of "how to implement reasonable C++ error reporting in C++" and have a lot of affordances that are unnecessary or don't make sense in Python (e.g., `__file__` reporting: you don't need that because a Python backtrace automatically comes with that information). I've also w

[2021-06-21 15:50] pearu commented on #59958
Perhaps OT: similarly, we have `.is_sparse` for checking COO layout, `.is_sparse_coo` for checking CSR layout, but no `.is_strided` for checking strided layout (instead, we'll use `.layout == torch.strided`). It would be nice to use the same idiom for checking layouts.

[2021-06-21 15:56] Lezcano commented on #60351
Could you confirm whether PyTorch was built with or without BLAS in the environments that you tried this on (e.g. by doing `print(torch.__config__.show())`)?

I was not able to reproduce this bug with PyTorch with BLAS from mkl.

[2021-06-21 16:19] adamjstewart commented on #60331
Interesting, I think your problem is very different than mine, but it suggests that I'm using the wrong version of ONNX. Let me try a different version of ONNX and see if that helps.

[2021-06-21 16:22] Lezcano commented on #60159
As a side note, all but perhaps `to_sparse` could potentially support complex inputs in the backward.

[2021-06-21 16:33] nikithamalgifb commented on #60333
I am able to repro this issue on master as well. @gmagogsfm , any idea on how well `torch.nn.ModuleList` is supported in TorchScript?

[2021-06-21 16:41] albanD commented on #60338
Closing as this is not a bug/feature request. We can continue the discussion on the forum if you have follow up.

[2021-06-21 16:41] #60338 closed

[2021-06-21 16:49] seherozcelik commented on #60342
Hi,
I am using 1.9.0+cu102, and still taking the warning. Thanks... Seher...

[2021-06-21 16:49] bdhirsh opened #60377 "ROCM CI test timeout failures"
The ROCM tests`linux-bionic-rocm4.2-py3.6-test1` and `linux-bionic-rocm4.2-py3.6-test2` are currently failing on master pretty frequently due to passing the 210 minute timeout.

#60170, #601769 and #60168 seem like likely culprits since the failures started happening more frequently after they landed, but it looks like the tests were pretty close to the timeout limit before that too - example time

[2021-06-21 16:51] NLQVan commented on #44714
@Kae1101
I got the same problem 2 day ago in colab, my code also ran find before. I think the problem happen when your DataLoader for training set attribute shuffle=True, you can try with your test DataLoader, which shuffle attribute set to False, the problem won't happen.
I find the way to make my code run again, hope it will help you
add attribute generator to your DataLoader and set it like thi

[2021-06-21 16:55] ngimel commented on #60358
cc @ptrblck

[2021-06-21 17:00] imaginary-person commented on #60337
Thanks for your help, @peterbell10! Are there any other knobs you'd recommend tuning, as in any other changes to `SumKernel`? BTW, `nansum` for Float16 doesn't use `SumKernel` but has the [same accuracy issue](https://github.com/pytorch/pytorch/issues/59415) that Float16 has with `sum`, even with AVX2.

[2021-06-21 17:04] Kae1101 commented on #44714
@NLQVan
Thanks for your solution~But I already fixed the problem by commenting out the following command:
# torch.set_default_tensor_type(torch.cuda.FloatTensor)
does dataiter.next() return cpu.floatTensor by default? If it does, I think that is why the error was reported... ...

But I still confused because I ran the same code may be more than 50 times a week before 2021/06/19 and didn't get any

[2021-06-21 17:04] gchanan commented on #60187
this should be under visualization not profiler?

[2021-06-21 17:12] malfet commented on #60175
@ilija139 can you please elaborate how you've build the magma?

[2021-06-21 17:15] mruberry commented on #60354
I'm not sure the source of the flakiness. In the current HUD CI the failure rate is 3.5% on pytorch_linux_xenial_py3_6_gcc5_4_jit_legacy_test. Which is a lot. The failure rate for pytorch_linux_xenial_py3_6_gcc5_4_test seems comparable but I didn't look as thoroughly.

[2021-06-21 17:22] sdrobert commented on #60271
Thank you for your time in responding! I appreciate it.

I see where you're coming from with regards to porting TensorUtils.h. I can also write a bunch of those pure python helpers in a PR or something.

However, I'm worried that, were I to build my own package and iterate with early users as you say, it would rely on people actually using the package. I can't imagine someone searching out a separ

[2021-06-21 17:28] gchanan commented on #60081
utils.Timer requires NumPy.

[2021-06-21 17:34] onkyo14taro commented on #60351
Thanks @Lezcano, here is the results of `print(torch.__config__.show())` in my environment.

PyTorch built with:
  - GCC 4.2
  - C++ Version: 201402
  - clang 12.0.0
  - CPU capability usage: NO AVX
  - Build settings: BLAS_INFO=accelerate, BUILD_TYPE=Release, CXX_COMPILER=/Applications/Xcode-12.3.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/c++, CXX_FLAGS= -Wno-deprecated -f

[2021-06-21 17:39] stas00 opened #60381 "broken source link / missing anchors"
## 📚 Documentation

1. go to https://pytorch.org/docs/stable/generated/torch.set_default_tensor_type.html
2. click on Source which takes you to https://pytorch.org/docs/stable/_modules/torch.html#set_default_tensor_type
3. this anchor doesn't exist

looking at the code, this function is not tagged with `[docs]` like other are, e.g.:
[code]
and thus it doesn't have `id=set_default_tensor_type` in t

[2021-06-21 17:48] NLQVan commented on #44714
My code also ran fine before 19/06/2021, maybe the library of torch was changed something and we didn't know. I also try to fix my code by comment the command "torch.set_default_tensor_type(torch.cuda.FloatTensor)", but my model get another error, it  like: "found 2 type of device: cuda:0 and !cpu", my solutions above fixed this error in my code.

[2021-06-21 17:54] #27655 closed

[2021-06-21 18:00] orionr commented on #60081
@malfet and @robieta can you two discuss? Thanks.

[2021-06-21 18:02] pearu commented on #57542
Issue is resolved via https://github.com/pytorch/pytorch/issues/57416:
[code]

[2021-06-21 18:02] #57542 closed

[2021-06-21 18:08] garymm commented on #60357
Not actionable without reproduction instructions.

[2021-06-21 18:08] ezyang commented on #60271
Yeah, there are a few of these (apply in C++ but not in Python):

* The error checking is typically for kernels (the stuff that is actually doing the honest for goodness computation), and kernels can only really be written in C++ for efficiency reasons.
* C++ stack traces are much less meaningful and you cannot as easily printf debug, so we have to report much more information eagerly (whereas in

[2021-06-21 18:11] ezyang commented on #60081
To recap my spoken comments during our triage sync: to me, if we don't decide to fix this issue with a point release to 1.9, we might as well just go with whatever is technically better (and I also agree that it is technically better to not depend on numpy), because everyone is going to have to adjust their code to deal with the 1.9 breakage, so you've already ripped off the bandaid and might as w

[2021-06-21 18:12] imaginary-person commented on #46749
Hello @vkuzo, is it possible to ensure that `reduce_range` is `False` on machines that support `AVX512_VNNI`?
Thanks!

[2021-06-21 18:14] rohan-varma commented on #60100
cc @SciPioneer regarding RemoteModule test

[2021-06-21 18:29] gchanan commented on #60365
are you using functorch?

CC @zou3519.

[2021-06-21 18:32] twoertwein commented on #60333
I haven't encountered issues with `torch.nn.ModuleList` + JIT before (except https://github.com/pytorch/pytorch/issues/51018).

[2021-06-21 18:34] gchanan commented on #60369
duplicate of https://github.com/pytorch/pytorch/issues/60053.

[2021-06-21 18:34] #60369 closed

[2021-06-21 18:58] cbalioglu commented on #60260
Those are tests that are moved from the standalone TorchElastic repo as part of the upstreaming work we have done in PyTorch v1.9. Both authors (Aliaksandr and Kiuk) as well as the PyTorch Distributed team are aware of those local run failures. We already have an internal backlog item (T90265589) to fix them in the near future.

[2021-06-21 19:09] zou3519 commented on #60365
This issue should go on the functorch issue tracker. Let me see if I can transfer it. It ended up here because TORCH_INTERNAL_ASSERT asks the user to file an issue to PyTorch

[2021-06-21 19:12] zou3519 commented on #60365
I'm unable to transfer the issue, but I opened a new one over at https://github.com/facebookresearch/functorch/issues/59.

@VRehnberg we'd be happy to help you -- let's migrate the discussion to https://github.com/facebookresearch/functorch/issues/59

[2021-06-21 19:12] #60365 closed

[2021-06-21 19:15] rohan-varma commented on #60260
@cbalioglu Should we remove these tests if they aren't intended to/don't work in OSS CI? It looks like one of the tests is always skipped in PyTorch CI. If it's only meant to run internally, can we check it into an internal-only file? Ideally all tests in OSS should always run in OSS under some CI config.

[2021-06-21 19:21] mcarilli commented on #60306
That's my hope too, afaik it's true.

That's a cool idea but I have concerns about it. The record_stream call could happen inside any function at any level of the dispatch chain, at which point the Impl's key might be masked out.

[2021-06-21 19:23] orionr opened #60388 "Test profiler oncall alert"
## 🐛 Testing profiler oncall alert

Just testing

cc @ilia-cher @gdankel @bitfort @orionr

[2021-06-21 19:33] wangyems opened #60391 "[ONNX]A couple of exporter limitations when exporting a longformer model"
## 🐛 Bug

All of the following issues have work arounds, but listed for potential improvements.

1
Pytorch code:
sentence_tensors = torch.split(sample_tensor, sentence_length_list)[:-1]
translates to
onnx::SplitToSequence -> onnx::Slice

Currently Slice only supports Tensor type in ORT. This gap could be filled by supporting seq(tensor) in Slice. But wondering if it’s better to translate it to a n

[2021-06-21 19:33] orionr commented on #60388
Works!

[2021-06-21 19:33] #60388 closed

[2021-06-21 19:35] kiukchung commented on #60260
@tierex is going to move `test_function_failure_signal` to an fb-only directory. Reason it fails in OSS is because we don't register signal handlers that produce detailed stack traces on signals, which we do by default for FB builds.

[2021-06-21 19:40] rohan-varma commented on #60344
I think we may be able to reduce some of the CI cost by not running both file and env tests on every distributed PR and instead only running both versions on master. The reason for this is that the initialization method is pretty abstracted away from most of our core test logic and it shouldn't affect the test correctness.

There have been bugs in the past that have come up due to differences in `

[2021-06-21 19:44] jeffdaily commented on #60377
Merged https://github.com/pytorch/ossci-job-dsl/pull/105.

But jenkins seed job failed due to https://github.com/pytorch/ossci-job-dsl/pull/104 and we didn't catch it until now.

Fixed with https://github.com/pytorch/ossci-job-dsl/pull/107.

[2021-06-21 19:45] gdankel commented on #60187
@BurguerJohn can you please attach the beginning of the json file as well (including the bad line).

[2021-06-21 20:06] BurguerJohn commented on #60187
[worker0.1624305603818.pt.trace.zip](https://github.com/pytorch/pytorch/files/6689195/worker0.1624305603818.pt.trace.zip)
@gdankel Here is the file (had to zip it) generated from the code:

[code]

Using the command `tensorboard --logdir=./result` it generate the error `json.decoder.JSONDecodeError: Invalid \escape: line 12 column 64 (char 368)`

[2021-06-21 20:31] kurtamohler commented on #60294
Yeah, that seems like a good idea. 'constant' should be included in the first PR since it's the default. We should probably have at least two modes in the first PR--'empty' seems like a good second choice to me.

`numpy.pad` supports all four of the modes that `torch.nn.functional.pad offers (at least in the Python API--I haven't investigated the C++ API yet). The behavior of the corresponding mod

[2021-06-21 20:37] ezyang commented on #44714
@NLQVan @Kae1101 I'm having trouble following this conversation; could you open a new bug report for your issues? Thanks!

[2021-06-21 20:37] SsnL opened #60397 "[FR] Module.register_module alias for add_module"
## 🚀 Feature

Can we add an alias for `Module.add_module` as `Module.register_module`? We register buffer/parameters with `Module.register_X`.

cc @albanD @mruberry @jbschlosser

[2021-06-21 21:01] eduardo4jesus commented on #37583
This error just happened to me on `1.9.0` :/

[2021-06-21 21:02] gdankel commented on #60187
Thanks for the trace - OK so this is with callstacks enabled, makes sense. We will look at where best to address this. cc @guotuofeng

[2021-06-21 21:02] ptrblck commented on #60358
I cannot reproduce this issue on a DGX1V (8x V100) using your code snippet and the `1.9.0+cu102` pip wheels as well as conda binaries (I also checked a source build using CUDA11, which also worked). All runs return:
[code]

[2021-06-21 21:11] AnirbanMukherjeeXD opened #60400 "Using inbuilt function name `input` as variable names in examples"
## 📚 Documentation
In the example section of many documentations, a variable `input` is being used. As a result, the example section can be run successfully, however the inbuilt `input()` function can no longer be called to take inputs. I observed this has been the case wherever `input` is being used as a function parameter. As an example, I am using a screenshot from the documentation of [torch.n

[2021-06-21 21:15] shmsong opened #60401 "Need workaround to support multiprocess CUDA tensor sharing on Jetson Platforms"
## 🚀 Feature

A different method for sharing CUDA Tensors across processes on Jetson platforms is needed.

CUDA unified addressing based IPC functionality isn't yet supported on Tegra platforms

[https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__DEVICE.html#group__CUDART__DEVICE_1g8a37f7dfafaca652391d0758b3667539](https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__DEVICE.html#

[2021-06-21 21:25] ezyang commented on #58814
This idea also is applicable for RNGs in PyTorch; you'd sub out the core RNG algo (e.g., Mersenne Twister, Philox) and we'd generate the calls to transformations

[2021-06-21 21:29] ezyang opened #60406 "test_dist_optim is flaky again"
https://app.circleci.com/pipelines/github/pytorch/pytorch/339608/workflows/8e7861c5-7ad2-4367-b30d-9150cd3d8124/jobs/14276942

[code]

cc @mruberry @VitalyFedyunin @walterddr @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @agolynski @SciPioneer @H-Huang @mrzzd @cbalioglu @gcramer23

[2021-06-21 21:33] ezyang commented on #60130
another failure https://app.circleci.com/pipelines/github/pytorch/pytorch/337678/workflows/9902a2d4-44b8-469a-bebc-468a1f5d0335/jobs/14187682

[2021-06-21 21:34] ezyang commented on #60274
another occurrence https://github.com/pytorch/pytorch/pull/60050/checks?check_run_id=2842523351

[2021-06-21 21:41] ezyang commented on #60094
Some quick notes: I'm somewhat skeptical homebrew libomp can be made to work; you may consider using a conda environment if you can.

[2021-06-21 21:50] tomzx commented on #37113
This problem applies to the following:
* torch 1.4.0, CUDA 10.1
* torch 1.5.1, CUDA 10.2
* torch 1.6.0, CUDA 10.2

It appears that the whl files in these cases do not contain `+cu$VERSION` as part of their name. Is this intended to indicate those are not supported but can still be installed if linked to directly?

[2021-06-21 21:56] jeffdaily commented on #60377
Please review https://github.com/pytorch/pytorch/pull/60409 urgently, to restore ROCm CI.

[2021-06-21 21:56] #60139 closed

[2021-06-21 22:18] rohan-varma commented on #60274
The following C++ stacktrace after python time out is also in the test logs:

[code]

[2021-06-21 23:10] yelu commented on #60359
Thank you for the response. The solution above may not be the best one. But idea is that we should provide more options, information, or context for serialization. File stream should be a more general serialization target. Hoping everything to be converted into a binary stream(string) and stored into .pt file is unrealistic in many cases, especially for custom classes that are not controlled by Py

[2021-06-21 23:11] jfix71 opened #60417 "[FX] getattr default not respected after symbolic_trace"
## 🐛 Bug

Is during symbolic tracing a builtin.getattr is traced and it uses a default value, that default value is lost.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

If you inspect `traced.graph` you'll notice that no default value for getattr is provided, although it should be `torch.Size([1, 2])`. When you run the traced module you will encounter an exceptio

[2021-06-21 23:12] #54188 closed

[2021-06-21 23:43] vkuzo commented on #60077
Thanks for the upcoming fix - assigning to you!

[2021-06-21 23:46] #59296 closed

[2021-06-21 23:56] tejas-gokhale commented on #41661
I can confirm that I got the same error with torch version '1.9.0+cu102', and downgrading to previous versions solved it.

[2021-06-22 00:11] rohan-varma commented on #57469
Additional failures have not been encountered even though this test was not disabled, and could not repro locally even after 1000+ runs. Will close and reinvestigate as needed.

[2021-06-22 00:27] hamishc commented on #60352
I can replicate the same error with this python code:
[code]
I'm still seeing the same error in both python 3.8, and with the nightly build (1.10.0.dev20210621+cu111).

Here is the graph for the model I'm using
[code]

[2021-06-22 00:48] gcramer23 commented on #60343
@Bilal-Yousaf I think I answered your question on the forums https://discuss.pytorch.org/t/what-changes-we-need-to-make-in-metrics-calculation-when-we-are-using-distributed-data-parallel-for-multi-gpu-training/124584. Do you still need help?

[2021-06-22 00:58] soulitzer opened #60426 "Output of non-inplace, non-CompositeImplicitAutograd op has TensorImpl use_count > 1"
Codegen checks are being added in https://github.com/pytorch/pytorch/pull/60286 in `VariableType` to enforce that for non-inplace, non-CompositeImplicitAutograd ops the output has TensorImpl with use_count of 1.

Several ops that failed this test are:
 -  'native_batch_norm', 'native_batch_norm_backward', '_embedding_bag'

Not sure if this is expected behavior

[2021-06-22 01:31] gcramer23 commented on #60071
I am closing the issue because lhb8125 identified the problem.

[2021-06-22 01:31] #60071 closed

[2021-06-22 01:52] zhengshunkai commented on #27212
+1

[2021-06-22 01:56] ezyang commented on #60306
You're worried about BatchedTensor specifically, right? We never exclude DispatchKey::Batched. In general, dispatch keys associated with "wrappers" never get excluded, instead we "unwrap" them and use that to bypass further dispatch.

[2021-06-22 02:17] jingxu10 commented on #58896
@xsacha Please check https://github.com/pytorch/pytorch/pull/60427 for the PR for adding PReLU to PyTorch.

[2021-06-22 02:40] ezyang opened #60431 "Implement simple view methods for TensorAccessor/PackedTensorAccessor"
THCDeviceTensor (the old version of PackedTensorAccessor) supports a bunch of handy utilities like transpose and view (and some more exotic ones like downcastInner). PackedTensorAccessor, the modern replacement, doesn't support any of these. They should!

[2021-06-22 02:46] litianqi715 commented on #60367
sorry I forgot to upload the image. This seems to be random, sometimes the result is equal but other times there can be a significant diff. I have repeated this behaviour several times.

the nvidia driver, cuda, torch have been re-installed several times on different machines, too.

![demo](https://user-images.githubusercontent.com/5851529/122854259-05002880-d346-11eb-9257-1fd4980ee2b3.jpg)

[2021-06-22 03:01] vdraceil commented on #2517
For anyone facing this issue with celery, setting `worker_pool = 'solo'` in celeryconfig would help.
With this setting, celery shall use "spawn" instead of "fork" to spin off workers

Alternatively, you can do the same via the CLI - _ex._ `celery -A app worker -Q queue-name -P solo`

[2021-06-22 03:18] jgong5 commented on #60255
Hi @ezyang : we wanted to generate a tracing graph under autocast with some custom ops, but we failed to get the type casting nodes in the resulting graph as expected due to the dispatching logic. Is it a known issue? Any suggestions? Thanks. Also copy @ailzhang

[2021-06-22 03:34] jbschlosser commented on #11959
@SsnL quick clarification- unless I'm mistaken, the mathematical definition for cross entropy H(p, q) with p = target distribution and q = predicted distribution is:
[code]
So to compute true cross entropy according to the mathematical definition, we'd need to drop the constant from the KL-divergence computation.

Cross entropy and KL-divergence are equivalent when the labels are one-hot, since a

[2021-06-22 03:46] emcastillo commented on #60367
This looks like precision errors due to using `float32`, I can reproduce it with `torch.float32` but with `float64` seems stable enough.

[2021-06-22 03:47] #60377 closed

[2021-06-22 03:47] #58739 closed

[2021-06-22 03:47] #59514 closed

[2021-06-22 04:13] w1d2s opened #60433 "Libtorch JIT : Does enabling profiling mode increase CPU memory usage ? How to disable profiling mode properly ?"
Hi, I am trying to deploying an Attention-based Encoder Decoder (AED) model with libtorch C++ frontend, when model's decoder loops at output sequence ( the decoder jit module 's forward method is repeatedly called at each label time step ), the CPU memory usage is very high (~ 20 GB), and I think it's far too high compared to it should be ( at each decoder step, the internal state tensors should o

[2021-06-22 04:22] joaqo commented on #57273
Having the same issue, would appreciate a way to at least suppress the warning from user space it if it's not affecting training.

[2021-06-22 04:27] seorim0 opened #60434 "A100 is slower than 1080ti. +) How can I change the cudnn version in pytorch?"
First I found out that the A100 supports:
- cuda 11.0
- nvidia driver 450

So, when using the A100, I adjusted the environment as follows.
- cuda 11.0
- cudnn 8005
- nvidia driver 450 (more detailed, 450.119.04)
- pytorch 1.8.0

using,
`pip install torch==1.8.0+cu111 torchvision==0.9.0+cu111 torchaudio==0.8.0 -f https://download.pytorch.org/whl/torch_stable.html
`

However, the time for training m

[2021-06-22 05:48] ilija139 commented on #60175
@malfet  `conda install -c pytorch magma-cuda112`

[2021-06-22 06:06] ShoufaChen commented on #47990
@zou3519 Thanks. Using `.double()` would always get `True` for `allclose`.

[2021-06-22 06:09] fumihwh opened #60440 "DDP with cuda rpc failed with DistributedOptimizer Adagrad"
## 🐛 Bug
I follow tutorial and try to combine DDP with cuda rpc.
https://pytorch.org/tutorials/advanced/rpc_ddp_tutorial.html
https://pytorch.org/tutorials/recipes/cuda_rpc.html

Works well with `SGD`, `Adam` and fail when using `Adagrad`.

## To Reproduce

Steps to reproduce the behavior:

1. Run following code snippets. (Success when use SGD or Adam)

[code]

## Environment

Please copy and past

[2021-06-22 06:23] SsnL commented on #11959
@JBamberger Interesting! Thanks for pointing this out. I didn't realize that the formal definition differs from KL. I am slightly inclined towards aligning with KL here because of how it is used in ML. What do others think, @fmassa  @vadimkantorov ?

Additionally, just out of curiosity, what is the reason for using a new class `CrossEntropyLossWithSoftLabels` rather than reusing the old class and

[2021-06-22 06:38] xwang233 opened #60443 "TestCommonCUDA.test_dtypes_matmul_cuda fails"
## 🐛 Bug

TestCommonCUDA.test_dtypes_matmul_cuda fails

This test failure is also seen on V100, A100, and 3090 GPU. The earliest seen failure was on 6/18/2021.

Line 5944 seems related  #60157

https://github.com/pytorch/pytorch/blob/af3f7a210a18e8badbe1a10531ce7bc49b5154f3/torch/testing/_internal/common_methods_invocations.py#L5939-L5954

## To Reproduce

Steps to reproduce the behavior:

[code]

[2021-06-22 06:38] IvanYashchuk commented on #60175
Internally MAGMA in various places MAGMA has code like:
[code]
`magma_getdevice_arch` returns `CUDA_ARCH` if `magma_init();` was called before (`magma_init` caches some information about the system) or returns 0 and prints to stderr a message reported above. Since it returns 0 and there's a fallback "else" branch it's harmless.

To disable the message `magma_init` should be called in PyTorch. `mag

[2021-06-22 06:58] jarledo commented on #49460
@66maer I can confirm that your example still segfaults with newest libtorch 1.9.0+cpu.

[2021-06-22 07:06] bosskwei opened #60445 "it seems n_heads is not handled correctly in nn.MultiheadAttention"
+ PyTorch impl: [L921](https://github.com/pytorch/pytorch/blob/release/1.9/torch/nn/modules/activation.py#L921)
[code]

+ According to original paper:
  + Instead of performing a single attention function with d model -dimensional keys, values and queries, we found it beneficial to **linearly project the queries, keys and values h times with different, learned linear projections** to d_k, d_k and

[2021-06-22 07:15] Bilal-Yousaf commented on #60343
Thanks a lot for the quick reply. It was really helpful. I have understood how to use reduce functions to solve the issue and I can get correct metrics as I was getting for single GPU.

Could you please share if there is any way I can gather dictionaries created on multiple processes for multi-gpu on rank 0 process as for now I think all such reduce/gather functions work for only tensors?

[2021-06-22 07:28] imaginary-person commented on #57686
Enabling GHA runners for `pytorch-linux-bionic-py3.8-gcc9-coverage` in #56992.

[2021-06-22 08:31] Flamefire commented on #60260
Thanks for the reply. I wouldn't even mind them having the tests here even if they are meant to be run internally only. But instead of an opt-in to skip them they should have an opt-in to run them if they only work in very specific environments.

Just so you understand my displeasure: We have to build PyTorch from source for our HPC users so they can e.g. use it on A100 GPUs, POWER or ARM architec

[2021-06-22 08:54] imaginary-person commented on #60443
@xwang233, why does this test not fail on Windows, given that Windows CI checks use an `SM_75` GPU, and this test isn't skipped on Windows?

[2021-06-22 08:58] wangyuxinwhy commented on #58370
Pycharm can not find _TensorBase,because it's start with an underline. if you rename _TensorBase to TensorBase, PyCharm can handle this.

[2021-06-22 08:59] mruberry commented on #60443
The test is skipped on Windows. @xwang233 would you put the correct bfloat16 support logic in for matmul and remove the skip?

[2021-06-22 09:03] SuperPowerLF2 opened #60447 "Why the results are inconsistent at::cuda::is_available() and torch::cuda::is_available()"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
https://download.pytorch.org/libtorch/cu111/libtorch-win-shared-with-deps-1.8.1%2Bcu111.zip

VS2019+libtorch1.8.1

VS link opencv_world410.lib;c10.lib;c10_cuda.lib;torch_cpu.lib;torch_cuda.lib;torch_cuda_cpp.lib;torch_cuda_cu.lib;

[code]
Now I tried 1.9.0 again

Both "at" and "torch" results are correct
But it's still an error
Prompt c10

[2021-06-22 09:05] imaginary-person commented on #60443
Thanks for the info, @mruberry!

This line looks confusing, though, and suggests it isn't being skipped on Windows -
https://github.com/pytorch/pytorch/blob/15dc320cae4e833642554a6112d40ced4f7f61e4/torch/testing/_internal/common_methods_invocations.py#L5950

[2021-06-22 09:13] Flamefire opened #60448 "Enable large file support"
## 🚀 Feature

Some dependencies (e.g. minizip) will benefit from the large file support that is enabled by defining `_LARGEFILE64_SOURCE=1`, see their respective docus.
It might be a good idea to enable this globally in the PyTorch main CMake file.

## Motivation

Especially in ML I expect large files to occur often enough that it is worth to enable their support by default. E.g. the Imagenet file

[2021-06-22 09:17] imaginary-person commented on #60443
Thanks again for your help, @mruberry! I had mistaken `active_if` as being an exception! 😄

[2021-06-22 09:27] tommy19970714 commented on #27212
+1

[2021-06-22 09:52] tcye opened #60452 "torch.onnx.export should convert AdaptiveMaxPool to GlobalMaxPool when output_size == 1"
torch/onnx/symbolic_opset9.py

in function _adaptive_pool, only handle AveragePool when output_size==1 but not handle the case in MaxPool

[2021-06-22 10:01] Flamefire commented on #58155
Those tests still fail with 1.9.0
Additionally TestDistBackendWithFork.test_monitored_barrier_allreduce_hang fails with a similar error:

[code]

However the similar test `test_monitored_barrier_allreduce_hang_wait_all_ranks` passes.

[2021-06-22 10:18] timmyvg commented on #47039
I have the same problem with RTX A6000. I also notice my CNNs model run supper slower than RTXA3090.
torch.backends.cudnn.version()
RTX A6000 (48GB)
Pytorch 1.8, cuda 11.2, torch.backends.cudnn.version()  = 8005
Self CPU time total: 800.873ms
Self CUDA time total: 807.593ms

RTX 3090 (24 GB)
Pytorch 1.8, cuda 11.3, torch.backends.cudnn.version()  = 8005
Self CPU time total: 268.730ms
CUDA time tot

[2021-06-22 10:59] Flamefire opened #60455 "test_grad_scaling_clipping fails"
## 🐛 Bug

The test_grad_scaling_clipping test fails (at least) on A100 GPUs with
[code]

The related test test_grad_scaling_clipping_separate_unscale succeeds.

## To Reproduce

Steps to reproduce the behavior:

Build and run the test

## Environment

 - PyTorch Version (e.g., 1.0): 1.9.0
 - OS (e.g., Linux): Linux
 - How you installed PyTorch (`conda`, `pip`, source): source
 - Python version: 3.

[2021-06-22 11:17] enry12 opened #60456 "Strange behavior using register_hook method"
## Problem with tensor [hooks](https://pytorch.org/docs/stable/generated/torch.Tensor.register_hook.html)

Hello everyone,

I am trying to compute the variance of the gradient exploiting hooks in a ResNet-like architecture (just a toy network). Basically, I have a model that performs
[code]
the variance (V) and mean (M) of the gradient (according to an experiment) are
[code]
where B2 and B1 are th