[2020-12-08 01:34] feiyangsuo commented on #48927
The problem seems solved after I tuned the weight of keypoint loss to 0.1.

(Is this kind of problems just things about parameter adjusting?)

[2020-12-08 01:51] rohan-varma opened #48987 "Profiling distributed NCCL collectives deadlocks when profiler run with use_cuda=True"
## 🐛 Bug

We recently enabled profiling of distributed collectives with this PR: https://github.com/pytorch/pytorch/pull/46471. However, when we run the profiler with `use_cuda=True` and the NCCL backend for distributed collective operations, there is a deadlock and the test eventually fails with a timeout.

The deadlock is caused by a `cudaEventCreate` (called in the profiler here: https://github

[2020-12-08 01:56] pritamdamania87 opened #48988 "SyncBatchNorm should avoid sync when model.eval() is True."
## 🚀 Feature
SyncBatchNorm should avoid sync when model.eval() is True.

## Motivation

Similar to how BatchNorm layers operate differently in eval mode, SyncBatchNorm probably shouldn't synchronize stats across multiple ranks and just behave as a regular BatchNorm layer in this model. This was motivated by the following forum post: https://discuss.pytorch.org/t/validation-hangs-up-when-using-ddp-

[2020-12-08 02:23] linjiapro commented on #48959
Thanks @rohan-varma for launching this issue. GPT-3 proves that increasing the size of the model will improve performance. (Though GPT-3 shares the same architecture with GPT-2, it is much more powerful just because it is bigger.)  DistributedDataParallel (DDP) training is important to enable the training of large models across different GPUs. It will be very helpful if we have DDP support in libt

[2020-12-08 02:26] SsnL commented on #48958
you resized.... maybe you meant `reserve`?

[2020-12-08 02:34] gemfield commented on #31285
If you build pytorch from source, please be noted that the compute-capability number passed to nvcc comes in three ways:
1, auto detected from host;
2, user specified with TORCH_CUDA_ARCH_LIST environment variable;
3, if not above and cannot auto detected from host, use default, e.g. "3.5;5.0;5.2;6.0;6.1;7.0;7.0+PTX".

For Chinese reader, there has a blog with more detail: https://zhuanlan.zhihu.c

[2020-12-08 02:34] mthrok commented on #48839
Okay so I believe this is not pytorch fire issue, so I am transferring the issue to torchtext.

[2020-12-08 02:45] pro-panda commented on #48880
@pritamdamania87

* first bucket ?
And how does this improve performance?

Makes sense. But, in a [BERT-base fine tuning example](https://github.com/huggingface/transformers/tree/master/examples/question-answering), I am seeing bucket sizes (kbs) in the following order,
 - 1 round of `15368`,
 - 11 rounds of `28351488`,
 - 1 round of `29927424`,
 - 1 round of `93763584` (90 MB!),
 - 1 round of `79

[2020-12-08 02:50] zoufangyu1987 commented on #48928
@ailzhang
The code is C + +, calling the libtorch model, the code is a bit too much, it is not easy to copy.
代码是C++的，调用libtorch模型，代码有点多，不太容易复制。

[2020-12-08 02:51] zoufangyu1987 commented on #48928
@xkszltl
How to eliminate this phenomenon? Is there any way?
这种现象怎么去除？有什么办法吗？

[2020-12-08 03:04] RunningLeon commented on #48930
@spandantiwari Thanks a lot.
To be more precise, what I intend to do is that wrap some existing operators in Pytorch using Python API to a large single node in ONNX. Do I really have to implement a c++/cuda custom op for this? Since all I'm using is existing Pytorch operators and just warp them all together.
Looking forward to your reply.

[2020-12-08 03:26] thisisi3 opened #48995 "How to do polymorphism on torch::nn::ModuleHolder?"
The C++ frontend tutorial https://pytorch.org/tutorials/advanced/cpp_frontend.html recommends use ModuleHolder to create our own modules, but the inheritance relation does seem not translate to ModuleHolder. So I am wondering if there is a way to have both the benefit of ModuleHolder while having polymorphism among my customized modules.

cc @yf225 @glaringlee @albanD @mruberry

[2020-12-08 03:30] xwang233 opened #48996 "test_cholesky_solve_batched_many_batches_cuda_complex128 has cuda illegal memory access"
## 🐛 Bug

test_cholesky_solve_batched_many_batches_cuda_complex128 has cuda illegal memory access. https://github.com/pytorch/pytorch/pull/47047 might be related.
## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

No fail

## Environment

[code]

## Additional context

Seems to be MAGMA-related.

CC @ptrblck @mruberry

cc @ezyang @gchanan @zou3519 @bdhirsh @jianyuh @n

[2020-12-08 03:37] mruberry commented on #48996
Thanks for filing this issue, @xwang233. @heitorschueroff is investigating these MAGMA illegal memory accesses.

[2020-12-08 03:39] xwang233 commented on #48996
Thanks @mruberry , shall we disable this test first? It is making all following tests in test_linalg failed with cuda IMA.

[2020-12-08 03:40] #43498 closed

[2020-12-08 03:49] m250317460 opened #48998 "Torch1.2 can't be downloaded!"
The day before yesterday,I have successfully downloaded torch1.2 by the command provided by office,however I can't download it today using the same command 'pip install torch==1.2.0 torchvision==0.4.0'. Is there someone like me?

[2020-12-08 03:55] mruberry commented on #48996
Disabling it sounds good and we would accept a PR for that (citing this issue).

These reproductions are rare, however. If you have a machine that can reliably reproduce this can you discover which size is causing the illegal access? I'm also curious if changing that batch size of that example to a multiple of 16 resolves the issue.

[2020-12-08 04:02] xwang233 commented on #48996
I can repro that with 100% rate on cuda 11.1, 2070 or 3090. The failed line says it's `torch.Size([256, 256, 5, 5]) False`

https://github.com/pytorch/pytorch/blob/d307601365c3b848072b8b8381208aedc1a0aca5/test/test_linalg.py#L1845

[2020-12-08 04:08] mruberry commented on #48996
That's incredibly interesting.

What about size (32, 32, 5, 5) and (256, 256, 8, 8)?

[2020-12-08 05:38] mruberry commented on #48978
cc @Lilyjjo, too

[2020-12-08 06:03] iuhiyuh opened #49001 "RuntimeError: Exporting the operator uniform to ONNX opset version 12 is not supported."
## 🐛 Bug

It may be a dynamic axes ops occur this bug.
Is dynamic axis operation not supported yet？

## To Reproduce

Steps to reproduce the behavior:

**1.**
[code]
it's normal

**2.**
[code]
When `x = self.conv_shift(x)` is added, the runtimeerror will be thrown

## Log
[code]

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2020-12-08 06:06] huwei1024 commented on #48535
@peterjc123  hi ,can i install pytorch on MacBookPro M1 ?

[2020-12-08 06:11] LMC4S commented on #7812
Why all the harsh thumb down against this post. Is it wrong to propose questions in one's native language? Cmon

[2020-12-08 06:13] LMC4S commented on #7812
Why all the harsh thumb down against this post? Will it make u feel better if it was asked in French?

[2020-12-08 06:44] ak-source commented on #48533
Looks good so far, approx. matching non-jitted model's results, good job!

One thing I've noted, using inputs expanded with broadcast_tensors can still be benefitial, as better kernel code is produced. But this changes semantics (tmp tensor above becomes full size).

[2020-12-08 06:52] jsrimr opened #49003 ""No module named caffe2_pb.h""
https://github.com/pytorch/pytorch/blob/cb6233aa538114fce55380a79978f3e576eb7cfe/caffe2/proto/caffe2_pb.h#L4

Cannot find "caffe2_pb.h" anywhere in the repo

[2020-12-08 07:17] honzasp commented on #48901
I agree that this seems to be an ARM issue, not CUDA issue, because CUDA is not used. #48451 suggests that this is caused by an old version of GCC, I will try building PyTorch using a newer version or using the nightly wheel.

[2020-12-08 07:43] TomatoBoy90 opened #49005 "RuntimeError: Exporting the operator var to ONNX opset version 10 is not supported. Please open a bug to request ONNX export support for the missing operator."
cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2020-12-08 08:04] mruberry commented on #43101
Do you have a github repo you can point us to with the implementation, some docs describing it, and an example using it?

[2020-12-08 08:16] mruberry commented on #48572
Thanks for the write-up, @nikitaved. I think we should start with (1) since that can happen now, and we should try to accurately document the state of PyTorch.

One thing I don't understand yet is how our planned future is different from NumPy and SciPy. In the future we'll have

- torch.linalg.solve analogous to np.linalg.solve
- torch.linalg.inv analogous to np.linalg.inv
- torch.linalg.lu_solve

[2020-12-08 08:28] rohan-varma commented on #39465
@wconstab @ezyang To fix this from the RPC framework perspective, my main thinking was to refactor `matchBuiltinOp` in rpc/python_functions.cpp to do something similar to `invokeOperatorFromPython` in `pybind_utils.h`, which essentially searches through the given list of operators and tries to find a matching schema.

In the case it cannot find a matching schema, it throws an invalid operator erro

[2020-12-08 08:49] xkszltl commented on #48928
Likely to be an issue in your a-bit-too-much code.
Recommend to provide a minimum repro that can trigger the issue.

[2020-12-08 09:05] skyline75489 commented on #48895
That's weird. The `10.0.16299.0` is from Windows 1709. I don't think that VS 16.8.2 (Build Tools 14.28) is compatible with a Windows SDK that old.

[2020-12-08 09:09] mruberry commented on #45198
Thank you for investigating, @peterbell10! @VitalyFedyunin, how do you recommend we proceed?

[2020-12-08 09:12] mruberry commented on #48832
This seems like a cloudpickle issue since this works in pickle, although I'm not sure PyTorch intended to support this in the first place and it's probably working as an accident.

[2020-12-08 09:14] peterjc123 commented on #48535
@malfet knows the answer.

[2020-12-08 09:17] mruberry commented on #48830
Thank you for the suggestion, @songyuc. What would be the simplest way to do this currently? Would it be by taking a view of the tensor before performed the masked selection?

[2020-12-08 09:21] songyuc commented on #48830
Hi, @mruberry, I just do it like,
[code]
which requires me to fill all the other dimensions.

[2020-12-08 09:39] rohan-varma commented on #47648
The level of debugging verbosity given by https://github.com/pytorch/pytorch/issues/46434 can also be considered here while determining how verbose we need to be.

[2020-12-08 09:40] rohan-varma commented on #46438
Since this is a crash, we probably don't care too much about performance when debugging the state, but it might be constrained based on the data structures we have depending on the DDP/c10d debug mode that we are running under, as described in https://github.com/pytorch/pytorch/issues/46434

[2020-12-08 09:57] xkszltl commented on #48895
Official installation:
<img width="653" alt="image" src="https://user-images.githubusercontent.com/5203025/101468804-dc52ab80-397e-11eb-98ed-d4b6a39f1307.png">

[2020-12-08 09:59] Gao907 commented on #14620
You're welcome.  Glad to hear that my solution works in your problem.

[2020-12-08 10:01] skyline75489 commented on #48895
Yeah I know it can be installed, but it does not mean that the latest build tools is for sure compatible with all the available versions. Maybe @peterjc123  knows more about this.

[2020-12-08 10:11] xkszltl commented on #48895
FYI we don't use latest WinSDK because we want a "global setting" for oldest targeting OS, rather than defining all those `*WINVER*` macros everywhere. Also let me know if you happen to have suggestion about this practice.

[2020-12-08 10:17] skyline75489 commented on #48895
Was the build working before upgrading to VS 2019 16.8? What's the configuration of last successful build?

And by the way, does adding `-DNOMINMAX` and `-DWIN32_LEAN_AND_MEAN` help?

[2020-12-08 10:27] harshrathod50 commented on #47354
Not Windows 10 alone, it is the same case for Linux and macOS.

[2020-12-08 10:30] Escartem opened #49010 "invalid wheel no .dist-info | collect-env script not working"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. pip install torch

![image](https://user-images.githubusercontent.com/43405304/101472230-9bd83b00-3948-11eb-84ff-e77a6d5c073b.png)

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist be

[2020-12-08 11:03] grau4 commented on #16417
Hi,

Aside from the large batch, memory cache cleanup and loss.item() issues, this error still persists in some cases.

Another common reason why this error pops at the i-th epoch is persistent memory allocation in the' feed-forward pass. You may be using 'append' or 'concatenate' calls (or similar) in your forward method to either accumulate or track attributes into python lists/arrays or torch t

[2020-12-08 11:03] xkszltl commented on #48895
We probably built 1 month ago with 16.7, but also a earlier version of pytorch master, and that worked.
Never tried current master + 16.7.

I'll have a try with `WIN32_LEAN_AND_MEAN` and latest win sdk.

[2020-12-08 11:04] rgommers commented on #16574
Here's a summary of the current status:
- mypy currently runs on ~1150 files
- there's 59 `ignore_errors = True` left for modules. Most of those are for `caffe2`, for private modules, or have open PRs to remove the ignores. The main exception is some `nn.modules` submodules. Should be feasible to get through all of those (except `caffe2`, we decided not to bother with those) for the 1.8 release.
-

[2020-12-08 11:08] kshitij12345 commented on #48641
As long as the results are consistent across different shapes.

It is very surprising to see the output change with the shape of the tensor.

[2020-12-08 11:19] xkszltl commented on #48895
BTW we've built many libraries with VS 16.8 + WDK 16299, pytorch is the only one failing.

[2020-12-08 11:33] hlahkar commented on #46988
@mruberry - I made the changes as per the suggestion, kindly review the same

[2020-12-08 11:59] ShoufaChen commented on #1204
For `binary_cross_entropy` loss, this error will happen if the protection is not restricted to 0~1. with e.g. sigmoid.

[2020-12-08 12:54] kshitij12345 opened #49015 "`torch.digamma`: Inconsistent with SciPy"
[code]

Reference: https://github.com/pytorch/pytorch/pull/48302/files#r531985280

cc @ezyang @gchanan @zou3519 @bdhirsh @bhosmer @smessmer @ljk53 @ailzhang

[2020-12-08 13:09] xsxjtu opened #49016 "Discrete Cosine Transform"
## 🚀 Feature
Dear developers, i hope that the new version supports Discrete Cosine Transform (DCT).

## Motivation
The third-party library torch-dct (https://github.com/zh217/torch-dct) who depends on the function torch.fft(), is the only method for implementing DCT with pytorch. However, Pytorch 1.7.0 has a new module, torch.fft, to replace the function torch.fft() in a future PyTorch release. So

[2020-12-08 13:14] mariosasko commented on #49010
Are you using Windows? If so, try `pip install torch==1.7.0 -f https://download.pytorch.org/whl/torch_stable.html`.

[2020-12-08 13:17] Escartem commented on #49010
Yes I'm using windows, I tried this command and now it's downloading, 2gb is quite big I think

[2020-12-08 13:19] senderle commented on #47688
Does anyone know how apple's custom tensor flow build supports the neural engine / GPU? My hunch is that they must have implemented a custom backend for XLA supporting the M1 as a target architecture. In which case building M1 support into PyTorch _should_ doable in the same way TPU support was.

Only catch is that apple would have to release the source, which AFAICT hasn't happened yet. Or else s

[2020-12-08 13:42] peterjc123 commented on #49010
It is just that big. If you are from China, I guess you may use a proxy and Anaconda together with the tsinghua mirror.

[2020-12-08 13:44] peterjc123 commented on #49010
Actually, I'm more interested to the error in this picture. What locale are you using? What's the result of `python -c "import locale; print(locale.getpreferredencoding())"` and `wmic os get Caption` in CMD?

[2020-12-08 13:46] peterjc123 commented on #49003
It is a file generated using protoc.

[2020-12-08 13:46] #49003 closed

[2020-12-08 13:50] peterjc123 commented on #48895
As far as I know. `-DWIN32_LEAN_AND_MEAN` and `-DNOMINMAX` is already a part of the public compiler options for all the targets related to `torch`.

[2020-12-08 13:51] peterjc123 commented on #48895
I will try to reproduce it first. It might take some time.

[2020-12-08 13:55] Escartem commented on #49010
I'm from France and here is the results of the two commands :
![image](https://user-images.githubusercontent.com/43405304/101492626-4bbba180-3965-11eb-93d6-97d59c44b0ce.png)
![image](https://user-images.githubusercontent.com/43405304/101492659-524a1900-3965-11eb-9b06-2e7bd06ab4ae.png)
I'm on my school computer btw

[2020-12-08 14:02] Escartem commented on #49010
And I can't download the file, it's too big, I tried 5 times but the wifi keeps shutting down and reset the download. I'll download it tonight.

[2020-12-08 14:02] peterjc123 commented on #49010
@Escartem What is the result of `python -c "import sys; print(sys.stdout.encoding)"`?

[2020-12-08 14:04] peterjc123 commented on #49010
@Escartem What is the result of `python -c "import sys; print(sys.stdo.encoding)"`

You may try downloading https://download.pytorch.org/whl/cu102/torch-1.7.0-cp37-cp37m-win_amd64.whl using an external downloader.

[2020-12-08 14:06] Escartem commented on #49010
The result of "python -c "import sys; print(sys.stdout.encoding)" is ```utf-8```

And yeah I will try to download the file with an external program but I don't really know how to add package from wheelusing pip

[2020-12-08 14:06] louislxw commented on #37477
Hi,
May I know if you have solved this problem? Thanks!

[2020-12-08 14:08] peterjc123 commented on #49010
`pip install [absolute/relative path to that file].`

[2020-12-08 14:10] hellkite500 commented on #48958
Ah, indeed, `resize()` causes default, i.e. `undefined` elements to be constructed, and then `push_back()` pushes on the end of those.  That whole premature optimization thing may have gotten the better of me, thanks for pointing that out!

[2020-12-08 14:10] #48958 closed

[2020-12-08 14:11] peterjc123 commented on #49010
So what are the results of the following commands?
[code]

[2020-12-08 14:12] Escartem commented on #49010
![image](https://user-images.githubusercontent.com/43405304/101494500-b837a000-3967-11eb-8b70-a141fc024fed.png)

[2020-12-08 14:21] peterjc123 commented on #49010
`0x90` is an invalid character in `cp1252`, see https://en.wikipedia.org/wiki/Windows-1252. Well, would you please try this one instead? `python -c "import subprocess; print(subprocess.check_output(['wmic', 'os', 'get', 'Caption'], shell=True))"`

[2020-12-08 14:23] Escartem commented on #49010
![image](https://user-images.githubusercontent.com/43405304/101495800-43656580-3969-11eb-9bc1-d5f518ca1ec7.png)
Here it is

[2020-12-08 14:28] ivannz commented on #48713
@malfet I have submitted a PR #49017

[2020-12-08 14:28] peterjc123 commented on #49010
What about the following items?
[code]

[2020-12-08 14:32] Escartem commented on #49010
![image](https://user-images.githubusercontent.com/43405304/101496848-8e33ad00-396a-11eb-80ac-8f9d874eaf04.png)

[2020-12-08 14:33] peterjc123 commented on #49010
LOL, the correct encoding is 850, but `locale.getpreferredencoding()` returns `cp1252`.

[2020-12-08 14:33] mszhanyi commented on #49010
@Escartem The windows CPU wheel on PyPI has some issues now. Please use conda to install python.
FYI. @seemethere

[2020-12-08 14:36] Escartem commented on #49010
@mszhanyi But I've managed to install pytorch using the steps above. Do I still need to do use conda ?

[2020-12-08 14:36] peterjc123 commented on #49010
No, apparently not. He is saying PyPI, which you are not using.

[2020-12-08 14:38] mszhanyi commented on #48895
If it worked before, I suggest you could try `python setup.py clean` first, then run `python setup.py install --cmake`

[2020-12-08 14:39] peterjc123 commented on #49010
@Escartem What result does the following command produce?
[code]

[2020-12-08 14:39] Escartem commented on #49010
![image](https://user-images.githubusercontent.com/43405304/101497782-9f30ee00-396b-11eb-8d1a-7203bb3ecb2c.png)

[2020-12-08 14:46] peterjc123 commented on #49010
Would you please try this?
[code]

[2020-12-08 14:47] Escartem commented on #49010
![image](https://user-images.githubusercontent.com/43405304/101498656-a3a9d680-396c-11eb-81a2-f920aff02c43.png)

[2020-12-08 14:48] peterjc123 commented on #49010
OMG. Finally, we got a workground.

[2020-12-08 14:50] Escartem commented on #49010
So now the script will use the correct encoding and work ?

[2020-12-08 14:52] peterjc123 commented on #49010
@Escartem I'm not sure when we should use `OEMCP` and when should we use `ACP`.

[2020-12-08 14:53] Escartem commented on #49010
If I understood correctly, we might try ACP and if it return an error then we try for OEMCP, no ?

[2020-12-08 14:55] peterjc123 commented on #49010
But sometimes, using `ACP` won't throw an error even if the translation is wrong.

[2020-12-08 14:59] peterjc123 commented on #49010
I googled a bit and found out that when we read from console, `OEMCP` is used as the default on Windows. I'll make the change.

[2020-12-08 15:03] Escartem commented on #49010
Yes but if the translation is wrong the result might look odd and we could be able to know it if OEMCP is the one to use

[2020-12-08 15:04] peterjc123 commented on #49010
There is no way we could tell whether the result looks odd programatically.

[2020-12-08 15:08] peterjc123 commented on #49010
I'm going to use `OEMCP` as a default according to this [post](https://serverfault.com/a/836221).

[2020-12-08 15:08] ezyang opened #49019 "If test suite triggers CUDA assert, should stop running tests"
Every test after the CUDA assert will fail, but only the first test will be relevant. It would be more user friendly to immediately halt the test suite the first time a CUDA assert fails.

cc @ngimel @mruberry @VitalyFedyunin @walterddr

[2020-12-08 15:10] Escartem commented on #49010
Okay, you can give me the updated script so I can test it and make sure everything is working

[2020-12-08 15:14] peterjc123 commented on #49010
@Escartem https://raw.githubusercontent.com/pytorch/pytorch/36fba4a30211cccf579eca95f50a464e99d6aed1/torch/utils/collect_env.py

[2020-12-08 15:16] Escartem commented on #49010
The program seems to work now
![image](https://user-images.githubusercontent.com/43405304/101501983-b1615b00-3970-11eb-90bc-1ba4f3defa98.png)

[2020-12-08 15:17] peterjc123 commented on #49010
@Escartem Thanks for the confirmation. Would you please click on `Approve` for #49020.

[2020-12-08 15:18] Escartem commented on #49010
I did it, but it is normal that most of the elements cannot be collected event pytorch version ?

[2020-12-08 15:20] peterjc123 commented on #49010
@Escartem Have you installed those components? Oh, I see. You didn't install VS2019 Redist. Please install them according to the message.

[2020-12-08 15:21] Escartem commented on #49010
Unfortunately, I'm not an administrator on this computer and as far as I searched, I can't install it, I could try on my main computer tonight if you want

[2020-12-08 15:22] Lilyjjo commented on #48978
Agreed, this is something that needs to be investigated. The test_variant_consistency_jit was rewritten by re-using the logic from test_jit.py's add_autograd_test. The previous test wasn't testing all of the dtypes, which was masking these failures

[2020-12-08 15:25] peterjc123 commented on #49010
It'll great if you could do that. The only thing that is wrong is that it fails to collect the gpu models and the driver versions. The corresponding commands are listed below. Do you have `nvidia-smi` installed?

[2020-12-08 15:29] Escartem commented on #49010
No I don't think so

[2020-12-08 15:50] malfet commented on #48901
@honzasp can you please run `python3 -m torch.utils.collect_env` and share its output here?
Can not reproduce the problem on M1, but can using aarch64 nightlies:
[code]
On M1 output looks as follows:
[code]

[2020-12-08 15:51] #25464 closed

[2020-12-08 16:00] peterjc123 commented on #29395
@BramVanroy Historically, we don't upload them to PyPI because the Windows wheels are too large. But we are planning to publish CPU packages instead recently. (maybe starting with 1.7.1)

I don't know what you are referring to `system variable` here. Actually, `pip` is very limited for os version detection. For example, it can only if you are using `win32` or `win64`. So, it is impossible to publi

[2020-12-08 16:01] ezyang opened #49023 "Automatically rerun tests with CUDA_LAUNCH_BLOCKING=1 when they fail with CUDA errors in CI"
CUDA errors are delayed and may occur several calls after the real error site. This can make it difficult to debug in CI if you can't reproduce locally. One way to make debugging easier for people is to (1) make sure we synchronize at the end of each test and (2) rerun the failing test with CUDA_LAUNCH_BLOCKING=1 so that you can find out exactly which CUDA call caused the assert error.

[2020-12-08 16:02] #48874 closed

[2020-12-08 16:09] BramVanroy commented on #29395
Yeah, my bad, I was thinking about setup.py where detecting the specific Windows version should not be too hard (e.g. `sys.getwindowsversion()`) but I have to admit that I do not know how `pip` does version detection and stuff like that.

[2020-12-08 16:10] honzasp commented on #48901
@malfet Thank you for looking into this issue! I included the output of this script in the issue description (the first comment at the top of the page).

[2020-12-08 16:12] ezyang commented on #48724
cc @malfet

@foundry-markf I agree with your analysis. Can you send us a PR for your change? One tweak to your suggested change is I'd make sure you only skip `IMPORTED_LOCATION` from the property setting; I'm guessing we still want the other properties.

One thing I still don't quite understand is why we need to manually setup the static library in the config file.  A not very satisfactory answer

[2020-12-08 16:15] ezyang commented on #48888
Let's just leak the threads on shutdown. It's been causing other problems on non-Windows too. It would basically involve reverting https://github.com/pytorch/pytorch/pull/21438 Does someone want to give it a try?

[2020-12-08 16:21] xkszltl commented on #48895
@peterjc123
Additional `WIN32_LEAN_AND_MEAN` to `CMAKE_C{,XX}_FLAGS` seems to help.
I tried it once and stuck with another protobuf 3.14/nvcc issue (https://github.com/protocolbuffers/protobuf/issues/8128) so I guess it passed that part.

@mszhanyi
We call cmake directly, with fresh clone everytime.

[2020-12-08 16:27] IvanYashchuk opened #49024 "OpInfo-based testing for unsupported dtypes fails for general op.sample_inputs"
OpInfo-based test for unsupported dtypes fails when `op.sample_inputs(device, dtype)` doesn't work for the specified dtype.
See https://github.com/pytorch/pytorch/blob/master/test/test_ops.py#L31-L39

The goal of this test is to verify that the function doesn't work on the given dtypes, but it shouldn't be required that OpInfo's `sample_input` function supports any dtype.

cc @mruberry @VitalyFedy

[2020-12-08 16:31] peterjc123 commented on #48895
@xkszltl
We are already adding the macro definitions globally. I don't know why it doesn't work.
https://github.com/pytorch/pytorch/blob/master/cmake/MiscCheck.cmake#L289 https://github.com/pytorch/pytorch/blob/master/cmake/Dependencies.cmake#L1502

[2020-12-08 16:54] peterjc123 commented on #48895
Well, I think I know the reason. It is too late to add them in the `Dependencies.cmake` in L1502.

[2020-12-08 16:56] peterjc123 commented on #48895
@xkszltl Could you please test whether #49025 fixes your problem?

[2020-12-08 17:06] albanD commented on #48645
It is different in the sense that it has a different constructor API (taking no arguments). So it is expected to me that you cannot create on or the other interchangeably.

[2020-12-08 17:10] xkszltl commented on #48895
I just tried the latest (19041) WinSDK as well, without `WIN32_LEAN_AND_MEAN`, and it works....
Only 16299 fails (double confirmed with rebuild after 19041 build).

[2020-12-08 17:16] xkszltl commented on #48895
Thanks!
Will do.

In the mean time you can probably start the merge of that, very likely it works.
You may also want to check whether it is correctly set when using pytorch/caffe2's cmake config file in downstream.

However, it is better to guard individual `#include` as well, if you can repro with 16299.
Source code them self are only "correct" if you `#define` it there, rather than relying on bu

[2020-12-08 17:18] peterjc123 commented on #48895
@xkszltl pthreadpool isn't our code. And we already cleaned up the imports in our code with https://github.com/pytorch/pytorch/pull/48009.

[2020-12-08 17:20] Escartem commented on #49010
I'm now with my home computer I will download everything and test the script and give you the results

[2020-12-08 17:24] seemethere commented on #49010
We’re currently aware of this issue and working to resolve it, I’ll be spending some time today to try and debug what may have caused this

[2020-12-08 17:26] zhangguanheng66 commented on #49015
The difference is reasonably small to me. Feel free to remove the triage review tag.

[2020-12-08 17:27] zhangguanheng66 commented on #48998
cc @seemethere

[2020-12-08 17:29] xkszltl commented on #48895
@peterjc123
Thanks for pointing that out.
Issue forwarded to upstream as well: https://github.com/Maratyszcza/pthreadpool/issues/11

[2020-12-08 17:31] ezyang commented on #48900
Well... maybe it's supposed to be legal, but many kernels are not written to handle aliasing in this way correctly. So I wouldn't assume by default that it would work, except when you pass in an out argument in the same place that inplace would have occurred.

[2020-12-08 17:41] pl4yer57 commented on #25173
@yicai thank you solved my problem!

[2020-12-08 17:43] shashank-srikant commented on #2389
I second that message by @AHolliday :arrow_up:
I'm running into a similar problem, and would greatly appreciate enabling gradients with autograd for sparse matrix ops.

[2020-12-08 17:44] #48957 closed

[2020-12-08 17:47] #48043 closed

[2020-12-08 18:00] xkszltl commented on #48895
@peterjc123 You PR works.

[2020-12-08 18:07] Escartem commented on #49010
@peterjc123 I've downloaded torch and ran the updated script, here is the result :
![image](https://user-images.githubusercontent.com/43405304/101523238-9f8bb200-3988-11eb-8b33-cfd4879f7e2f.png)
is that good ?

[2020-12-08 18:10] wconstab commented on #48746
can we try to modify named_buffers to check is_buffer in addition?/instead? of is_parameter && is_tensor?

[2020-12-08 18:16] wconstab commented on #39465
@rohan-varma we're removing from the jit triage queue assuming you're working on it. let us know otherwise.

[2020-12-08 18:19] wconstab commented on #48932
@bossenti Can you provide the torchvision version and installation method you used?  This could be caused by a mismatch of torchvision/torch binaries.  it's important to use pip or conda for both but not mix/match.

Can you also attach a complete repro script that we can run to produce the error you're seeing?

[2020-12-08 18:21] wconstab commented on #48869
Let's do an initial investigation and see if there is a fix readily available or if waiting for using FX instead is a better course of action.

[2020-12-08 18:24] peterjc123 commented on #49010
@Escartem I simplied the fix. Would you please try this instead?https://raw.githubusercontent.com/pytorch/pytorch/647f3637b2571c9774452e5c807afe70ef5fc455/torch/utils/collect_env.py
BTW, the result looks good if you don't have a Nvidia GPU.

[2020-12-08 18:25] Escartem commented on #49010
here is the result :
![image](https://user-images.githubusercontent.com/43405304/101525147-30fc2380-398b-11eb-8d43-8ddf7945fd84.png)

[2020-12-08 18:27] peterjc123 commented on #49010
@Escartem Thanks. Looks like it is working.

[2020-12-08 18:29] Escartem commented on #49010
Can the issue be closed or do I need to wait for the pull to be merged ?

[2020-12-08 18:30] peterjc123 commented on #49010
You don't need to do anything. We will handle that.

[2020-12-08 18:31] Escartem commented on #49010
Okay, thanks for helping me !

[2020-12-08 18:31] spandantiwari commented on #48930
@RunningLeon - No, if your custom ops expresses the ONNX graph in terms of existing ONNX ops, you don't have to write a C++/CUDA implementation.

[2020-12-08 18:33] ngimel commented on #48904
Hey @sramakrishnan247 this issue is already taken, but you can pick one of the functions from numpy functionality rollup #38349.

[2020-12-08 18:35] wconstab commented on #48984
we need to error out if we aren't going to correctly compile.
let's make a new task for a design proposal for new support, but use this task for fixing the error.

notes from triage:
we can try fixing the static method case by desugaring to a function;
for the case of 'sum', do we just 'not support' it?
there are also reasons why we don't support methods on namedtuple and instead treat it as a fir

[2020-12-08 18:37] SsnL commented on #48900
It is not always legal. But we do support some functions (e.g., all pointwise ops, and matmul)... Sadly there are no documentations.

[2020-12-08 19:02] huwei1024 commented on #48535
@malfet How can I install pytorch on MacBookPro M1 ?

[2020-12-08 19:09] humeniuka opened #49029 "`torch.prod` not implemented for complex numbers on GPU"
## 🐛 Bug

`torch.prod` is not implemented for complex numbers on the GPU.

## To Reproduce

[code]
gives
[code]

## Expected behavior

I am not sure if this is a bug, since the pytorch website states that "complex tensors is a beta feature and subject to change."
However, I am surprised that the simple `torch.prod` operation is not implemented, while I can compute
the product with the mathematical

[2020-12-08 20:01] humeniuka commented on #49029
After updating pytorch to `pytorch-nightly/linux-64::pytorch-1.8.0.dev20201208-py3.8_cuda10.1.243_cudnn7.6.3_0` everything works as expected.

[2020-12-08 20:01] #49029 closed

[2020-12-08 20:19] guilhermeleobas opened #49034 "Enable torch.nn.modules.normalization typechecks during CI"
`TestTypeHints.test_run_mypy` should pass with `[mypy-torch.nn.modules.normalization]` deleted from mypy.ini

cc @ezyang @malfet @rgommers @xuzhao9 @gramster

[2020-12-08 20:41] rohan-varma commented on #39465
@wconstab Sounds good, I will probably ping JIT folks on the PR to get feedback on any jit side changes.

[2020-12-08 20:53] soumickmj opened #49038 "Make the forward function of a nn.Module and/or a certain function to work with only float32 when used with autocast"
Hi,
I'm working on a complex extension of PyTorch using the new complex tensors.
https://github.com/soumickmj/pytorch-complex
Now there are certain functions I want to be in a certain list (or do it using decorators) to make sure they are called only with float32.
Like, https://pytorch.org/docs/stable/amp.html#ops-that-can-autocast-to-float32
Also, would like to make some function refrain from goi

[2020-12-08 21:22] spandantiwari commented on #49005
@TomatoBoy90 - please add proper repro, error stack, and possibly details about which op is missing. Also, I would suggest trying the latest version of PyTorch and also `opset_version=12` to see if that helps.

[2020-12-08 21:22] #49005 closed

[2020-12-08 21:48] ilia-cher commented on #48987
cc. @ngimel
does the deadlock appear to be happening inside cudaEventCreate in one process and in NCCL kernel in another?
is that a KP or we should use cuda events / NCCL somehow differently?

[2020-12-08 21:51] ilia-cher commented on #48987
just to clarify - this doesn't seem profiler specific (profiler just creates a bunch of cuda events on the devices) and this deadlock is triggered in other scenarios - @rohan-varma to confirm

[2020-12-08 22:00] ilia-cher commented on #48987
would be good to loop in NCCL experts, from profiler side - we just issue cudaEventCreate, but that shouldn't cause issues

[2020-12-08 22:00] guilhermeleobas opened #49044 "Enable torch.nn.modules.module typechecks during CI"
`TestTypeHints.test_run_mypy` should pass with `[mypy-torch.nn.modules.module]` deleted from mypy.ini

cc @ezyang @malfet @rgommers @xuzhao9 @gramster

[2020-12-08 22:04] Hananel-Hazan commented on #26247
This issue still exist on `PyTorch == 1.7` using  `cpu` but seems to work find on `cuda`

[code]

[code]

On `cuda`
[code]
Working as expected

[2020-12-08 22:17] AlexanderKazakov opened #49046 "Backward pass fails due to CTCLoss in case zero_infinity=True and torch.backends.cudnn.enabled=True"
## 🐛 Bug

When I use CTCLoss with `zero_infinity=True` and at the same time `torch.backends.cudnn.enabled=True`, and run backward() on its result, the script crashes with the following error:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Download the file with variables  https://drive.google.com/file/d/1eltV2WjDVTuRBXO0n6E5t5dkQ3GEW6Qj/view?usp=sharing
1. Run the code:
[code]

##

[2020-12-08 22:41] rohan-varma commented on #48987
Also cc'ing @lw as he ran into a similar deadlock (although I believe it was happening with `cudaStreamCreate` in that issue, but it should be similar since both calls initialize the CUDA context).

@ilia-cher This is correct, it's not profiler specific, though it happens as a result of profiler creating events on each device, as we discussed, we can probably mitigate this by setting CUDA_VISIBLE_

[2020-12-08 23:24] H-Huang opened #49052 "TCPStore constructor arguments mismatch unexpected behavior"
## 🐛 Bug

TCPStore arguments are likely not properly type checked. [Documentation](https://pytorch.org/docs/1.7.0/distributed.html#torch.distributed.TCPStore) examples also needs to be updated to use 5 arguments instead of 4.

## To Reproduce

Steps to reproduce the behavior:

[code]
This is the example given in documentation, which succeeds, but it shouldn't.

## Expected behavior

We expect an e

[2020-12-08 23:33] SplitInfinity commented on #46555
I implemented PR #46784 for issue #46549, but we found a workaround for the use case (see issue for more details) so we decided not to land this. It would further entrench the assumption that a module can appear only once in a module hierarchy and make it difficult to fix (eventually, lol).

[2020-12-08 23:33] #46555 closed

[2020-12-08 23:41] #48635 closed

[2020-12-09 00:46] #48533 closed

[2020-12-09 00:51] dzhulgakov commented on #30774
We've also discussed fast-passing `size` and `contiguous` to bypass dispatch overhead given how common they are. cc @hlu1

[2020-12-09 00:55] eellison opened #49063 "[NNC] Casts from Double -> Half & Floating Point -> Bool dont work"
## 🐛 Bug

LLVM Codegen of casting from Double -> Half givese a compile error, and casts from Floating Point -> Bool give an error.

To repro, checkout  https://github.com/pytorch/pytorch/pull/48976/ and comment out the the logic at https://github.com/pytorch/pytorch/pull/48976/files#diff-841594e0ada66eaf8768d43ef4cf8dd85512ea0cf97e503b6af3a8697eb89defR800,  then run the `test_torch_to` in `test_ji

[2020-12-09 00:57] SplitInfinity commented on #48984
@gmagogsfm

I investigated a little bit and the `NamedTuple` from your example gets compiled [implicitly via `annotations.py`](https://github.com/pytorch/pytorch/blob/master/torch/jit/annotations.py#L338)
[code]

The Tuple object is then [examined in C++ to construct the type](https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/python/python_sugared_value.cpp#L762):
[code]

We don't extr

[2020-12-09 01:07] gmagogsfm commented on #48984
Thanks for the quick investigation @SplitInfinity.

It looks like that, comparing list of methods available against those of parent class (`NamedTuple`) gives us most accurate list of added/overriden methods. This is also not as brittle as using `_` and `__` prefix to check whether a method is internal, nor do we need to maintain an allowlist. Let me know what you think.

[2020-12-09 01:18] eellison commented on #49063
Being sparse with details for now but if you're a bootcamper and want to pick this up, ping me and i can add more.

[2020-12-09 01:22] lunixbochs opened #49064 "W605 Invalid Escape Sequence DeprecationWarning"
## 🐛 Bug

There's an invalid `\_` escape sequence in `torch.nn.conv` string literals.

## To Reproduce

Steps to reproduce the behavior:

1. Run this in Python 3.6 or newer:

[code]

2. Observe a DeprecationWarning:

[code]

## Expected behavior

No DeprecationWarning when importing Pytorch. For what it's worth, I can't always get this to trigger, but I did confirm the source appears to have an in

[2020-12-09 02:39] malfet commented on #48901
If PyTorch for AARCH64 is compiled by clang, problem goes away

[2020-12-09 03:03] yingzhu146 commented on #48145
@malfet wheel works perfect on m1. ran into few issues trying against python3.9 (which is the just released offical python version for arm64) (mostly related to dylibs installed by homebrew being wrong version).

I'm linking against many conda installed dylibs in my ~/miniconda3 folder. I've tried to make symlinks and copy header into /usr/local/include` and dylibs into `/usr/local/lib`.

I've got

[2020-12-09 03:07] ezyang commented on #45764
Structured kernels as implemented in https://github.com/pytorch/pytorch/pull/48718 let static runtime dispatch resize(0), as the level of checking on `set_output` is customizable (so you can just omit it for their use case).

[2020-12-09 03:32] briankosw commented on #48832
Hi @mruberry, could you just briefly explain why PyTorch didn't intend to support this? It definitely does seem like a cloudpickle issue, so I've reported the issue there as well.

[2020-12-09 03:39] #48895 closed

[2020-12-09 03:44] Alan-hit commented on #43227
work for me as well. Thank you!!

[2020-12-09 03:46] #45215 closed

[2020-12-09 04:58] rohan-varma opened #49070 "Record input shapes when profiling torch.distributed collectives"
## Record input shapes when profiling torch.distributed collectives

https://github.com/pytorch/pytorch/pull/46471 added support for profiling of torch.distributed collectives, however we should also record input shapes of tensors when running with profiling, so that we can observe tensor shapes in profiling output.

To support this, we can probably add the tensor inputs into the record function w

[2020-12-09 05:09] JayPatelSoftwareArchitect commented on #49038
Hi @soumickmj

There is a flag to handle this behavior in torch/__future__,py
_overwrite_module_params_on_conversion = False
Set this flag to be true and compile a binary for pytorch.
Why: If the new tensor has compatible tensor type as the existing tensor, the current behavior is to change the tensor in-place.
This flag lets you override tensor type.

In order to use this you have to fork master

[2020-12-09 06:42] ChanKaHou commented on #48526
Thanks, this topic is most related to "module: rnn"

[2020-12-09 07:15] ilia-cher commented on #45629
https://github.com/pytorch/pytorch/pull/47655

[2020-12-09 07:15] #45629 closed

[2020-12-09 07:21] rabi24 commented on #9263
same error. How to solve this

[2020-12-09 07:28] lonce commented on #47669
Looking forward to that!

[2020-12-09 07:39] bossenti commented on #48932
@wconstab thanks for investigating.

Torchvision version is `0.8.1+cu110`. I created a virtual environment via `python -m venv` and used the command from the get started page on pytorch.org: `pip install torch===1.7.0+cu110 torchvision===0.8.1+cu110 torchaudio===0.7.0 -f https://download.pytorch.org/whl/torch_stable.html`

The code that I use is the following:

[code]

Overall I follow the steps a

[2020-12-09 07:59] mruberry commented on #48832
I just doubt that anyone thought about picking `torch.backends.cudnn`. Maybe someone did.

[2020-12-09 08:04] Kiyosora opened #49075 "Enable torch.where to support float16/bfloat16 type inputs"
## 🐛 Bug

It seems that `torch.where` does not accept the input of `float16`/`bfloat16` types Tensor.
I'm quite not sure does this is the way it should be. Maybe we can make a bit of improvement that to make `torch.where` support `float16`/`bfloat16` inputs.

## To Reproduce
[code]

## Expected behavior

[code]

## Environment

[code]

cc @ezyang @anjali411 @dylanbespalko @mruberry @rgommers @heit

[2020-12-09 08:13] mruberry commented on #49075
Thank you for making this suggestion, @Kiyosora. We we would accept a PR adding this functionality.

[2020-12-09 08:15] #47441 closed

[2020-12-09 08:23] chitransh89 commented on #9263
Did you try upgrading Python to 3.6.8?

[2020-12-09 08:33] mruberry commented on #49038
cc @mcarilli for AMP

[2020-12-09 08:43] mruberry commented on #48382
You're right, this reproduces on my unix machine. Commenting out the line creating the model before calling `mp.Process` resolves the issue. https://pytorch.org/docs/master/notes/multiprocessing.html doesn't seem to describe this behavior, although it suggests using distributed data parallel instead of multiprocessing.

[2020-12-09 08:46] #30845 closed

[2020-12-09 08:48] mruberry commented on #48697
Thank you for reporting this issue, @dkostecki, that does seem odd.

[2020-12-09 08:50] Zrealshadow opened #49076 "Add List Type Data through add_hparam method in torch.utils.tensorboard.SummaryWriter"
## 🚀 Feature

Commanly, I use `SummaryWriter.add_hparam(hparam_dict,metric_dict)` to record the hyperparamters and result of experiment.
But in pramameter `hparam_dict`, we can not record `List` value. The type of the value only can be one of `bool`, `string`, `float`, `int`, or `None`.

## Motivation
Personally, recording list value will offer some convenience, especially for research people.
For

[2020-12-09 08:53] mruberry commented on #35674
Hey @tycho01, thanks for suggesting this feature. Is a workaround importing NumPy and using Numpy's `unravel_index()`?

[2020-12-09 09:03] mruberry commented on #46988
It's looking better but there's still a ways to go. I added some notes.

[2020-12-09 09:06] Coderx7 opened #49077 "Compiling libtorch from source (1.7) fails with error C2678: binary '*': no operator found which takes a left-hand operand of type 'const _BidIt' (or there is no acceptable conversion)"
## 🐛 Bug
TLDR:
Trying to build the libtorch1.7 from source using `tools/build_libtorch.py` fails with the following error message:

Long explanation:
I'm trying to get libtorch to build with `/MT` which currently is not possible by default in libtorch.
I could previously successfully build the release `/MT` build using Visual Studio but the debug build would fail at runtime for some reason.
Long s

[2020-12-09 09:09] Kevinkevin189 commented on #44511
same Problem.

[2020-12-09 09:18] RunningLeon commented on #48930
@spandantiwari
Yes, agree. But my problem is not fully solved.
Let me try it in another way, could we create a class from `torch.nn.Module`,  put some operations in its forward method and create a symbolic function to make this module exports a single custom op in ONNX? And by the way, all of this work is done in python and the return of the forward method may be a tuple with multiple tensors.
If

[2020-12-09 09:24] mruberry commented on #48995
This question may be more appropriate to the PyTorch forums, but cc @glaringlee just in case.

[2020-12-09 09:32] Coderx7 commented on #49077
OK it seems this was indeed a bug that was fixed here : https://github.com/pytorch/pytorch/blob/f5d94244b2bc4e73d905c75d65db41e488d7e339/aten/src/ATen/native/CompositeRandomAccessorCommon.h#L132

I'll update if this was the case

[2020-12-09 09:50] #49077 closed

[2020-12-09 10:26] KumaTea opened #49078 "Failed to build for ARM64 / aarch64: caffe2 cmake error in CPUType.cpp.o"
## ❓ Questions and Help

I am trying to build `pytorch` for `aarch64`. I’ve tried several times, but always failed on the same error:

[code]

Environment:

Build options:
[code]

---

I’ve noticed that [the CI has successfully built it](https://status.openlabtesting.org/builds/builds?project=pytorch%2Fpytorch&job_name=pytorch-arm64-build-daily-master-py38), and the `whl` file can be installed, `i

[2020-12-09 10:50] emergencyd commented on #20313
Could u please tell me how to modify the number of master_port? Since I found that I meet the same error when I want to run two distributed dataparallel programs on the same node (with 8 GPUs total, each occupy 4 GPUs)

[2020-12-09 11:18] Wei-Zhuo opened #49081 "RuntimeError: CUDA unknown error"
Help!
I install the CUDA and pytorch from official instruction, and run the
[code]
but it returns:
[code]
and I do set the available devices in `~/.bashrc` as followed:
[code]
but this do not work.
What should I do?

pytorch version: 1.7.0
CUDA version: 11.0
GPU configuration: NVIDIA A100

[2020-12-09 11:44] matejklemen commented on #48841
Hi, I'm encountering the same problem, so I'm leaving my example here in case it helps, although I see now that it's quite similar to what you've posted above.

`sample_permutations` randomly samples permutations of `indices`. I ran the following script on Colab and it printed out some erroneous samples quite fast.

[code]

Output (36 and 37 shouldn't be sampled):
[code]

The colab env:
[code]

[2020-12-09 11:54] janosh opened #49082 "swa_utils.bn_update is too opinionated in how it calls the model"
## 🚀 Feature

Add a `call_fn` kwarg to [`torch.optim.swa_utils.update_bn`](https://github.com/pytorch/pytorch/blob/master/torch/optim/swa_utils.py#L115) with default `None`.

## Motivation

Trying to us this function throws the error

[code]

Adding a way for the user to specify how to model should be fed the data would allow models with custom call signature to use this utility.

## Pitch

Not mu

[2020-12-09 12:09] rabi24 commented on #9263
I'm using python 3.7.8 and 3.8.5

[2020-12-09 12:34] dariodematties opened #49084 "torch.distributed.launch does not work for two nodes"
Hi, I am trying to launch four processes on two nodes (2 GPUs per node) using torch.distributed.launch in a cluster

# For one node I test the following procedure:

On the login node I submit a job

`qsub -n 1 -t 20 -A allocation_project_name ./run_Active_SimCLR.sh`

My `run_Active_SimCLR` script is:

[code]
## And it launches two processes on one node

Node 0
 process 0, global_rank 0, local_rank

[2020-12-09 12:36] peterjc123 commented on #9263
@rabi24 Looking into the log, isn't the error coming from importing tensorflow? I didn't get why do you want to post a tensorflow-related issue in the PyTorch repo.

[2020-12-09 13:17] #47330 closed

[2020-12-09 14:16] SunnyDeer opened #49085 "Confusing behavior of Tensor.contiguous() method."
## 🐛 Bug

When I used the Tensor.contiguous() method, I find the behavior is quite confusing to me.

**Firstly**, I created a two-dimensional tensor call **_some_** with torch.tensor method.
**Next**, I created the transpose of it with dot-t method, called **_some_t_**.
**Then**, I created a contiguous tensor of the transpose, called **_some_t_c_**, since **_some_t_** is not a contiguous tensor.
I

[2020-12-09 14:22] Jensen-Wang opened #49086 "Bug of torchtext.datasets.textclassification"
## 🐛 Bug of `torchtext.datasets.textclassification`

## To Reproduce

In the function of `create_data_from_iterator` in the module `torchtext.datasets.textclassification` https://pytorch.org/text/stable/_modules/torchtext/datasets/text_classification.html

[code]

For the line, `token_ids = list(filter(lambda x: x is not Vocab.UNK, [vocab[token]
                                        for token in

[2020-12-09 14:27] francois-rozet commented on #35674
This would mean that it would not work for CUDA LongTensor. (and won't leverage GPU)

[2020-12-09 14:28] Jensen-Wang commented on #49086
The source code is in https://pytorch.org/text/stable/_modules/torchtext/datasets/text_classification.html

[2020-12-09 15:15] KyuanCortex commented on #46794
Hello, which gcc/g++ version is adopted, thanks.

[2020-12-09 15:38] jatentaki opened #49090 "Awkward scalar type promotion to f64 in torch.where"
## 🐛 Bug
When mixing types between `x` and `y` arguments to `torch.where` we get an error saying that these need to match. This usually makes sense, except that `float` scalars are promoted to f64 and cause errors when used along tensor arguments of different precision. This means that

[code]
results in
[code]

This is particularly annoying because there is no way to annotate the scalar as single

[2020-12-09 15:40] mruberry opened #49091 "Feature Request: support int->float type promotion for torch.reciprocal"
torch.reciprocal does not support integer inputs today:

[code]

This is because reciprocal's codomain for the integers is not the integers, and historically PyTorch did not implement integer->floating point type promotion for unary ufuncs. This has changed, however. For example, torch.sin() promotes integer inputs to float:

[code]

And this is compatible with NumPy's behavior:

[code]

PyTorch h

[2020-12-09 16:08] mrshenli opened #49094 "test_stress_heavy_rpc_torchscript (__main__.ProcessGroupRpcTestWithSpawn) is flaky"
This seems to be rare. So not disabling it yet to get more error logs.

https://app.circleci.com/pipelines/github/pytorch/pytorch/247779/workflows/3ae77ff8-3dd4-4cb7-ab26-220113a927ae/jobs/9447729/steps

[code]

[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @jjlilley @osalpekar @jiayisuse @agolynski @SciPioneer @H-Huang @mrzzd @gmagogsfm

[2020-12-09 16:09] cgnarendiran commented on #25088
Hi, has anyone found a solution yet?

[2020-12-09 16:30] George3d6 opened #49095 "NCCL Error when training with 2x 3090s."
Cross post from here: https://discuss.pytorch.org/t/nccl-error-2-when-training-with-2-gpus/105465 -- because I'm getting a bit desperate in terms of getting to the bottom of this.

I am training a model with 2 GTX 3090 GPUs. Driver is 455.32.00, CUDA version is 11.1, and torch.cuda.nccl.version() yields 2708.

To enable multi-GPU, I have something like this:

[code]

However, when training I get t

[2020-12-09 16:39] glaringlee commented on #48995
@thisisi3
ModuleHolder itself has no polymorphism. This is just a wrapper to wrap your module implementation.
As what tutorial mentioned, when creating your own module. You still inherit from nn::Module, or if you need it clone-able, inherit from Cloneable<your_module_class_name>.

But we do recommend to use ModuleHolder to hold your module and you get lots of free functionalities. Here is what we

[2020-12-09 16:43] huwei1024 opened #49096 "How can I build torch on Apple M1?"
How can I build torch on Apple M1? Or Install torch and torchvision?

[2020-12-09 17:35] mattip commented on #47462
I added a fix to the breathe PR michaeljones/breathe#605. Using that cleans up all but 14 of the "Unable to resolve ..." warnings. The ones left are
[code]
14 is better than 576.

[2020-12-09 17:39] ngimel commented on #48987
Update: profiler is initializing contexts on all the visible devices, it should not be doing that, @ilia-cher is going to send a fix soon. That should fix the bug. @rohan-varma there was a time when you could not have different CUDA_VISIBLE_DEVICES on the processes and still successfully use nccl, but maybe it's fixed (in nccl) now, I don't know.

[2020-12-09 17:41] seemethere commented on #47109
Yes, unfortunately there wasn't a tenable option to get CUDA 11.1 in for the 1.7.1 release.

We're targeting getting built binaries in for the nightlies and are now looking towards 1.8 for continued CUDA 11.X+ support.

Sorry for the inconvenience, there just wasn't anyway to get CUDA 11.1 in as well as Python 3.9 for 1.7.1

[2020-12-09 17:46] SsnL commented on #49085
Python storage objects are created when you call `.storage()`. Hence the behavior you see. It is almost never a good idea to assume that `a.x()` gives a persistently living object. Furthermore, the storage id is just the python object's memory location and has nothing to do with the actual storage memory location ( you can think of it as a wrapper around a pointer to the actual storage data memory

[2020-12-09 17:46] #49085 closed

[2020-12-09 18:19] mrshenli commented on #37002
It has been a while, here are some more detailed implementation plans.

## Targeted Features Continued

* **Gossip DDP**
    * Instead of using allreduce to globally sync gradients, it’s proven that gossip and async param sync also works and can potential lead to considerable training speedups.
    * Compositional building blocks:
        * `CommStrategy`
* **Gradient Compression**
    * Compress

[2020-12-09 18:21] mariosasko commented on #49086
Looks like you are right but I would suggest you opening this issue in the official [torchtext](https://github.com/pytorch/text) repo.

[2020-12-09 18:50] bertmaher commented on #48605
Gonna take the comparison ops with uint8 and negative scalars.

[2020-12-09 18:51] kurtamohler opened #49100 "Rename `torch.set_deterministic` for more clarity"
The name `set_deterministic` does not effectively describe what the function does, and it should probably be renamed. The function configures PyTorch to use deterministic implementations of operations, if they are available. Or in other words, it enforces reproducibility.

I would like to get the community's opinion about a better name for `set_deterministic`, so please comment if you have any ide

[2020-12-09 18:52] mrshenli opened #49101 "[POLL][RFC] RemoteTensor: Use Remote Devices as Local Devices"
Please comment below if `RemoteTensor` can be useful to your application. Please also let us know if the preliminary API thoughts missed anything. Thx!

## Motivation:

The [RPC package](https://pytorch.org/docs/master/rpc.html) offers a flexible way to allocate data and run computation on remote machines and remote devices. However, it requires users to take an extra step to decompose programs in

[2020-12-09 19:00] lw commented on #48987
@ngimel Is there some general guidance on this matter? I think we do plan to initialize all visible devices as part of the GPU support for RPC, looping in @mrshenli as he's working on it. We were also going to do such a thing in ProcessGroupNCCL but had to give up because of a deadlock similar to this one, although in principle we'd still like to do it. Thanks!

[2020-12-09 19:07] shanesyy-1992 commented on #47999
Just some naive thoughts. I wonder is that possible that [here](https://github.com/pytorch/pytorch/blob/f07ac6a00498f4671b7fc0f74f9750ef3fb803cd/torch/lib/c10d/Utils.cpp#L91) we just use `"::"` as the address to `getaddrinfo`, instead of using `nullptr`. As far as I know, `"::"` can listen both IPv4 and IPv6 connections.

[2020-12-09 19:22] SsnL commented on #49101
Curious about this part
[code]

How would it work? Is `net1` a regular `nn.Module` except that the parameters and buffers are now remote tensors? Is this setting some flag s.t. tensor factory methods respect the device?

I'm curious since it is related to the discussion at https://github.com/pytorch/pytorch/issues/27878

[2020-12-09 19:35] mrshenli commented on #49101
Hey @SsnL, thanks for the quick response. :)

Yep, @ezyang also mentioned the similar thing. There is another proposal on `NullDevice` (we are still working on that internally) that might be more relevant to your original pitch. The initial idea there is to have a special `NullDevice` which allows us to just create Tensor meta but not materializing any real storage. Later, users can use `.to()` to

[2020-12-09 19:55] #49063 closed

[2020-12-09 20:26] stas00 commented on #49100
the docs in both places:
* https://pytorch.org/docs/stable/notes/randomness.html#avoiding-nondeterministic-algorithms
* https://pytorch.org/docs/stable/generated/torch.set_deterministic.html#torch.set_deterministic
say "use deterministic algorithms", so probably your 3rd suggestion (`use_deterministic_algorithms`) is most apt.

[2020-12-09 20:41] albanD commented on #48697
Hi,

I think this is expected behavior. Serialization is just not a differentiable operation in pytorch (and so autograd related metadata of the Tensor may change when serializing).
The gist here I think is:
- We don't want to forbid serialization of Tensors that require gradients or are not leafs to allow users to save all the Tensors they want
- When de-serialized, because the op is not differen

[2020-12-09 20:41] zhaojuanmao commented on #24005
@neonbjb as @min-xu-ai mentioned, DDP works with checkpointing for basic cases, only failed for two cases:  1) multiple backward passes for the same check-pointed models (e.g. you checkpoint same model multiple times),  2) set find_unused_parameter = true. you do not have to set it as true if your model train all parameters.

which failure case did your code fall in?

[2020-12-09 20:44] albanD commented on #49038
@soumickmj  for future reference, we use github issues only for feature request or bug reports and use the forum https://discuss.pytorch.org/ for questions. Make sure to ask your questions there and only move to github issues if necessary (because it is a bug or a feature request).

[2020-12-09 20:52] cpuhrsch opened #49110 "Integrate DeepSpeed CUDA kernels"
**Motivation**

On May 27th DeepSpeed [achieved the fastest BERT training time.](https://www.deepspeed.ai/news/2020/05/27/fastest-bert-training.html) with a claimed speedup of 28% over [NVIDIA BERT](https://github.com/NVIDIA/DeepLearningExamples/blob/master/PyTorch/LanguageModeling/BERT/modeling.py), which is similar in its implementation to nn.Transformer (which in turn is very similar to fairseq

[2020-12-09 21:18] liuyuue commented on #42525
Hi, I am running into a similar error. Could you share what problems in initialization you fixed?

[2020-12-09 21:18] liuyuue commented on #42525
Hi, I am running into a similar error. Could you share what problems in initialization you fixed?

[2020-12-09 21:19] liuyuue commented on #42525
Hi, I am running into a similar error. Could you share what problems in initialization you fixed?

[2020-12-09 21:29] jspisak commented on #49100
Hmm, yeah i can see how this could cause confusion. Shall we bikeshed some name proposals?

cc @gchanan, @mruberry

[2020-12-09 21:30] mruberry commented on #49100
My proposal was "use_deterministic_ops" and all of them see fine.

[2020-12-09 21:36] kangzhiq commented on #17023
Same here in France today.  No issue for downloading `torchaudio` , `torchvision`, `cudatoolkit` or any other package. The one that blocked me is the `pytorch` file.

[2020-12-09 21:37] vikigenius commented on #44530
@fritzo The conversation was confusing, but the bug essentially is the same as provided in the issue description. I have a created a pull request that solves this. Take a look.

[2020-12-09 22:02] neonbjb commented on #24005
I'm in the find_unused_parameter=true case currently. The networks I am working on are GANs, so one network always has grad turned off in the backward pass, which necessitates that setting (correct me if I'm wrong).

I will give DDP+checkpointing a try the next time I am out of this environment. This is good to know.

[2020-12-09 22:02] monajalal opened #49116 "File "/home/mona/anaconda3/envs/Total3D/lib/python3.6/site-packages/torch/nn/functional.py", line 1406, in linear ret = torch.addmm(bias, input, weight.t()) RuntimeError: cublas runtime error : the GPU program failed to execute at /opt/conda/conda-bld/pytorch_1556653183467/work/aten/src/THC/THCBlas.cu:259"
Could you please guide me how to fix this?
I am following the instructions in this repository step-by-step https://github.com/yinyunie/Total3DUnderstanding

[code]
## 🐛 Bug

## Environment
[code]

[2020-12-09 22:04] SplitInfinity commented on #48984
Have a look at #49115 - it turns out comparing the list of available methods against `NamedTuple` is not feasible because the MRO doesn't contain that class at all; it contains `tuple` instead. Methods like `_field_defaults` are not present on `tuple` or `NamedTuple` (as in, the objects representing these types, not instances of them), so it seems that allowlist is the only viable option.

[2020-12-09 22:32] ptrblck commented on #49116
I'm a bit confused about the reported PyTorch and CUDA versions, as the first output shows:
[code]
and
[code]
while the `collect_env.py` claims:
[code]
In any case I would recommend to use the latest stable release (1.7) or the nightly binary with CUDA10.2 or CUDA11.0.
Could you update it and recheck your code, please?

[2020-12-09 22:41] monajalal commented on #49116
@ptrblck that's a good point you mentioned. Sorry, I made a mistake and updated the issue. Here's also the update. The specific git repo requires PyTorch 1.1.0

[code]

[2020-12-09 22:43] agolynski commented on #49084
I think the issue is that you are using 192.168.1.1 as the master ip. You might want to get your 0 node ip address and pass it to both node 0 and node 1 so they know about each other.

[2020-12-09 22:43] #49084 closed

[2020-12-09 22:48] monajalal commented on #49116
@ptrblck how can I make it work for pytorch 1.1.0?

[2020-12-09 22:53] ptrblck commented on #49116
It could be have been a known issue in e.g. the cublas version shipping with CUDA9.0 or PyTorch 1.1.0.
Since the minimal supported CUDA version is >=9.2, it's not worth investigating these old versions, if it's potentially fixed already.

[2020-12-09 23:03] osalpekar commented on #47999
Hey all, we're working on a change for this, here's the PR: https://github.com/pytorch/pytorch/pull/49124. Current thinking is to try binding to the IPv6 address by `hints.ai_family = AF_INET6`, and fallback to using `AF_INET` if the first `getaddrinfo` fails.

[2020-12-09 23:12] #45964 closed

[2020-12-09 23:21] ilia-cher commented on #48987
we'll update the profiler code not to insert these events on all devices in the beginning of the profiling

[2020-12-09 23:30] ngimel commented on #48987
@lw can you please tell more about your intended workflow? Typically a single process controls a single GPU, and I though that should be the case for RPC also? Creating nccl process groups should not affect this (i.e. process 0 controlling gpu 0 can be in a group with process 4 controlling gpu 4, but it does not require process 0 initialize context on gpu4).

[2020-12-09 23:58] ptrblck commented on #49116
I think you could try to run the repo with PyTorch 1.7.0 and report issues on the forum, so that we could help updating it.
Feel free to CC me in case you are creating a topic.

[2020-12-10 00:07] monajalal commented on #49116
Sounds good. I honestly also prefer to install it with PyTorch 1.6 since I have been using that for all my current other codes with no problem. I'll update if I end up with some bugs. Thanks a lot for your offer of help. I am not sure if I should close this issue so I leave it up to you for closing since that is a very old version of PyTorch.

[2020-12-10 00:09] ptrblck commented on #49095
Based on the NCCL output:
[code]
it seems your setup has trouble to create a connection.
Could you take a look at [the network interface docs](https://pytorch.org/docs/stable/distributed.html#choosing-the-network-interface-to-use) and check if specifying the right interfaces would solve this issue?

[2020-12-10 00:10] ptrblck commented on #49081
Which NVIDIA driver version are you using?
Did you update any drivers without a reboot?
Are all GPUs properly detected in `nvidia-smi`?

[2020-12-10 01:17] #47679 closed

[2020-12-10 01:27] mingfeima commented on #48400
@ranlu Hi, just as Xiaobing commented, this is a bug at the moment since `ConvTransposeNd` doesn't support mkldnn tensors but mistakenly end up in `ConvNd`.

We have been preparing patch to integrate MKLDNN into `ConvTransposeNd` with all 3 types of memory formats: a) NCHW; b) NHWC; c) mkldnn tensor (or sometimes referred as **blocked** memory format). Will be ready shortly after.

This will fix t

[2020-12-10 01:37] soulitzer opened #49133 "Unknown failure for test_reference_numerics_sinc_cuda_complex64"
## 🐛 Bug
Operator `torch.sinc` fails on certain values for complex64 but succeeds for complex128
[code]

## To Reproduce

Steps to reproduce the behavior:

1. run `python test/test_unary_ufuncs.py -k sinc`

## Expected behavior

Sinc output should return about the same value as numpy

## Environment

PyTorch version: 1.8.0a0+3157bcf
Is debug build: False
CUDA used to build PyTorch: 11.1
ROCM used

[2020-12-10 01:38] soulitzer commented on #49133
fyi sinc isn't landed yet, just creating this issue in advance

[2020-12-10 01:41] peterjc123 commented on #49010
Keep it open until the PyPI one get resolved. @seemethere

[2020-12-10 02:13] thisisi3 commented on #48995
@glaringlee
Thanks for your reply.
I finally decide to use std::shared_ptr<M>, I will be losing the more natural constructor, but it is straight forward and it works.

[2020-12-10 02:22] gmagogsfm commented on #48984
Thanks for the PR! Finished reviewing it a moment ago, generally looks good other than a few minor comments. Also replied to your own comments. Let me know what you think.

As for the approach of detecting user-added methods, I was more thinking about comparing method list of object being compiled vs method list of an example bare NamedTuple object. If we do so, methods like `_field_defaults` woul

[2020-12-10 02:41] skyline75489 commented on #49096
See https://github.com/pytorch/pytorch/issues/48524#issuecomment-736755245

[2020-12-10 03:43] zoufangyu1987 commented on #48928
@xkszltl
Code is not easy to do, I'll check again, thank you!
代码不太好搞，我再查查，谢谢！

[2020-12-10 03:57] koudahts-bg commented on #48145
I understand that pytorch can be compiled on a m1 Mac, can you tell me the environment required and the detailed instructions?

[2020-12-10 03:57] hwangdeyu commented on #40696
Hi @shuangjiexu

I trid to reproduce your separate file in **the latest version of PyTorch(1.8.0) and cuda version==10.2**. (replace the older method “set_training” to the new method “select_model_mode_for_export”)
And no matter whether I remove the idx.floor() or not in the network, **the result always matchs True**.

[code]

And for the the boundary value, it also gets the same result.
[code]

*

[2020-12-10 04:00] zoufangyu1987 opened #49139 "Hello everyone, why does libtorch half precision float 16 leak memory?大家好，为什么libtorch半精度float16会内存泄漏？"
Hello everyone, why does libtorch half precision float 16 leak memory? Float32 does not leak memory
大家好，为什么libtorch半精度float16会内存泄漏？float32不会内存泄漏

 module = torch::jit::load("DLA.pt");
 module->to(at::kCUDA);  // put model to gpu
 module->to(torch::kHalf);//float16

[2020-12-10 04:31] kshitij12345 commented on #49015
I think the difference of `14` is not small.

[2020-12-10 05:14] stas00 opened #49142 "nightlies are no longer being built for linux - since dec08"
it seems that nightlies are no longer being built for linux - last build dec07 - I see new windows builds, but no linux.
see https://download.pytorch.org/whl/nightly/cu110/torch_nightly.html
or https://download.pytorch.org/whl/nightly/cu102/torch_nightly.html

[2020-12-10 05:37] min-xu-ai commented on #24005
You can either try ddp.no_sync() workaround with checkpointing and reduce the gradients yourself or maybe checkout the sharded ddp from fairscale. Benjamin at fairscale might be able to help.

I have used ddp.no_sync myself with good results. One nice thing there is that you can hack the ddp source and avoid initializing the reducer, which saves memory from a copy of the gradients (ddp buckets). T

[2020-12-10 06:34] SsnL commented on #49101
@mrshenli I like the idea of `NullDevice` but a lot of things related to reproducibility will be a bit tricky (e.g., which rng to consume). :)

But for this particular case of `RemoteTensor`, you are saying that the modules created in this context manager will just have its params and buffers automatically created on the respective remote device, right? If so, what happens if I have a module whose

[2020-12-10 06:35] ptrblck commented on #49116
I'll close it for now and feel free to reopen it in case the same issue is raised in PyTorch>=1.7.0.

[2020-12-10 06:35] #49116 closed

[2020-12-10 06:36] ptrblck commented on #49139
Hi,

could you explain a bit where this memory is leaked or how you've verified it?

[2020-12-10 06:51] yahahahoo commented on #42618
I also met this problem. Have you solved it？

[2020-12-10 07:05] kshitij12345 commented on #49091
Reference Issue: https://github.com/pytorch/pytorch/issues/42515

[2020-12-10 07:18] npuichigo commented on #24930
Agree. Here's the encoder structure of `nn.Transformer(nhead=2, num_encoder_layers=2)`
[code]
The LayerNorm layers are duplicated.

[2020-12-10 07:23] zoufangyu1987 commented on #49139
@ptrblck
When I run with fp16, the starting memory is 44.1, and after running for a period it is 107, which is increasing all the time. Finally, the program crashes and locates it as the forward function. Fp32 does not leak, but fp16 leaks.
当我用FP16跑的时候，开始内存为44.1，跑过一段时候为107,一直在增加，最后程序崩溃，定位到是forward函数，FP32没有泄漏，换成FP16就泄漏。

![2020-12-10 14-44-42屏幕截图](https://user-images.githubusercontent.com/30693954/

[2020-12-10 07:25] ptrblck commented on #49139
Could you post an executable code snippet to reproduce this issue and fill out the information for your environment from the bug template?

[2020-12-10 07:26] zoufangyu1987 commented on #49139
@ptrblck
The code is shown in the figure below. Locate this part of the code
（代码如下图，定位到是这部分代码）
        c10::intrusive_ptr<c10::ivalue::Tuple> output = module->forward(inputs).toTuple();
        torch::Tensor output_c = output->elements()[0].toTensor();
        torch::Tensor output_w = output->elements()[1].toTensor();
        torch::Tensor output_h = output->elements()[2].toTensor();
        torch

[2020-12-10 07:27] ptrblck commented on #49139
Please post a code snippet to reproduce the issue and, as already mentioned, provide the information about your used environment.

[2020-12-10 07:30] #24693 closed

[2020-12-10 07:33] mattip commented on #47116
It seems @soumith and @seemethere are among the maintainers of the [PyPI torch project](https://pypi.org/project/torch) and could yank the releases before 1.2, which was the first to specify python version support

[2020-12-10 07:34] zoufangyu1987 commented on #49139
@ptrblck
    std::shared_ptr<torch::jit::script::Module> module;
    std::vector<torch::jit::IValue> inputs;

   torch::Device device(torch::kCUDA, 0);
    module = torch::jit::load(modelPath + "/DLA_C++.pt");
    module->to(device);
    module->to(torch::kHalf);//半精度

    cv::Mat x=cv::imread("*********");
    cv::resize(x, x, cv::Size(608, 608));
    cv::Mat floatImg, floatImg1;
    warp_dst.con

[2020-12-10 07:35] zoufangyu1987 commented on #49139
used environment:
ubuntu16.04, libtorch1.0, opencv3.4.10,

[2020-12-10 07:45] zoufangyu1987 commented on #49139
The loading model was FP32
加载的模型是FP32的

[2020-12-10 07:49] zoufangyu1987 commented on #49139
@ptrblck
I'm waiting for your help. Thank you!
等待您的帮助，谢谢！

[2020-12-10 07:52] zoufangyu1987 commented on #49139
It was similar to the refinement as follows:
类似优化如下：

#include<iostream>
#include<vector>
#include<torch/script.h>
#include <cuda_runtime_api.h>
using namespace std;

int main()
{
    at::globalContext().setBenchmarkCuDNN(true);

    std::string model_file = "/home/zwzhou/Code/test_libtorch/RESNET18_trace.pt";
    torch::Tensor inputs = torch::rand({64, 3, 224, 224}).to(at::kCUDA);
    torch::jit:

[2020-12-10 07:54] ptrblck commented on #49139
Could you use the latest `libtorch` version (`1.7.0`) or the nightly and recheck the issue?
`libtorch` 1.0 is quite old by now and the issue might have already been fixed.

[2020-12-10 08:06] Seungwoo0326 opened #49152 "F.normalize and torch.linalg.norm"
## 🐛 Bug

## To Reproduce

When you use torch.nn.functional.normalize, you will get
UserWarning: torch.norm is deprecated and may be removed in a future PyTorch release. Use torch.linalg.norm instead.
  "torch.norm is deprecated and may be removed in a future PyTorch release. "
this error.

## Expected behavior

I think you have to correct torch.nn.functional.normalize also, not to use torch.norm.

[2020-12-10 08:23] Light-- commented on #48915
you solution fixed but need to use with cpu (another flag: ```map_location```).

First, i use your solution, only use ```_use_new_zipfile_serialization``` flag still can not load, report:
[code]
no matter i choose which gpu to use by:
[code]
**it still report GPU0 OOM error. Why does it must use gpu0 to load the model???**

Finally, with help of [this post](https://discuss.pytorch.org/t/cuda-error

[2020-12-10 08:26] Wei-Zhuo opened #49153 "Missing ‘get_trace_graph’ function in Pytorch1.7"
‘get_trace_graph’ function could be found in old version Pytorch, e.g. 1.1.0, but i could not find it in 1.7.0 version.
I replace `torch.jit.get_trace_graph(model, arg)` by
[code]
but it returns
[code]
 I do really appreciate any advice.

[2020-12-10 08:35] duanyzhi opened #49154 "FunctionSchema throw c10::Error (bazel build torch)"
version:
pytorch1.6.0

1. example: main.cpp

#include <torch/torch.h>
#include <iostream>

int main() {
  torch::Tensor tensor = torch::rand({2, 3});
  std::cout << tensor << std::endl;
}

add to pytorch/BUILD.bazel file:

cc_binary(
  name = "main",
  srcs = ["main.cpp"],
  deps = [":torch"],
)

2. git clone pytorch1.6 and get submodule

3. build:
bazel build //:main

4. run:
./bazel_bin/main

ou

[2020-12-10 08:46] Wei-Zhuo commented on #49081
I take your advice and reboot after Nvidia Driver installation, and it seems work !
After my last nvidia driver installation, I check `nvidia-smi` and it returns the normal table with right driver version I had installed, so I consider that it's a successful driver installation and the driver is in operation. And then I install CUDA-11.0 without reboot first.

[2020-12-10 08:47] Wei-Zhuo commented on #49081
Wish this will help to any researcher

uninstall old Nvidia Driver and CUDA --> install Nvidia Driver from `ubuntu-drivers devices` and `sudo ubuntu-drivers autoinstall` --> reboot and check `nvidia-smi` --> install CUDA from official instruction --> add path in profile --> check CUDA in 'cat /usr/local/cuda/version.txt' or `nvcc -V`

[2020-12-10 08:47] #49081 closed

[2020-12-10 08:52] Zinoex commented on #49081
So I had the exact same problem except I didn't set `CUDA_VISIBLE_DEVICES = 0`. The problem for me was that my Manjaro distro bumped the kernel to Linux 5.9, which meant my Nvidia driver had to bump from version 430 to 450 as well. To solve the problem, I removed the 450 driver and installed the 455 driver through the Manjaro Hardware Detection (MHWD) library along with a reinstall of CUDA.

[2020-12-10 09:10] Wei-Zhuo commented on #49081
It seems mostly caused by wrong version of Nvidia Driver or CUDA.
Thank u and I will update the flow chart.

[2020-12-10 09:15] huwei1024 commented on #49096
@skyline75489  I have installed torch, but i cant install torchvision?

[2020-12-10 09:17] skyline75489 commented on #49096
You need to provide more information. Like how exactly is the failure. And I suggest you file the issue in torchvision repo https://github.com/pytorch/vision.

[2020-12-10 09:34] lw commented on #48987
@ngimel I'd rather have @mrshenli weigh in on this as he's designing that code and I wouldn't want to misrepresent it. In general, though, I think in RPC we also want to allow single-process multi-device mode. And we're certainly looking for ways to make both modes possible without "misbehaving" in either of them.

[2020-12-10 09:45] t-vi commented on #49142
I think this might be fixed by Ed's revert here:
https://github.com/pytorch/pytorch/commit/7a2abbd8fdcbb51fba0fd420f2861a4b56adb45b

[2020-12-10 09:50] benjaminalt commented on #42444
Has there been any progress on this? I'm having a very similar issue with torch.matmul(), which hangs when called from a multiprocessing.Pool worker.

[2020-12-10 09:56] t-vi commented on #49153
This function is considered private/undocumented API and has been renamed `_get_trace_graph`. It is not advised to use this function.
What you likely want is use the ONNX module, not the JIT one, but it is hard to tell without the steps to reproduce the error.

P.S.: The best place to ask questions like this is the [forum](https://discuss.pytorch.org/).

[2020-12-10 09:56] #49153 closed

[2020-12-10 10:00] t-vi commented on #49078
This sounds external. Note that building PyTorch needs a lot of memory (I'd estimate 2-3GB for MAX_JOBS=1), maybe you can check your dmesg log for the OOM killer.

[2020-12-10 10:08] KumaTea commented on #49078
Thank you!

I've also noticed that a few hours ago by monitoring the resources usage,. It turns out the RAM and swap are both full when building this component.

I've assigned another 2GB (since it only has 1GB RAM) for swap, and rebuild it to see what happens. A peak memory usage of about 2.3GB is observed.

Until now everything looks good. If succeed, this issue may be closed. Thanks for your ad

[2020-12-10 10:10] AnthonyBarbier commented on #42444
In my case I had control over how the processes were created so I switched from `fork` to `spawn` to create the processes and it solved the issue.

[2020-12-10 10:21] Wei-Zhuo commented on #49153
Thanks. I'll keep that in mind.

[2020-12-10 10:35] magnusja commented on #1355
With torch v1.7?

[2020-12-10 10:35] foundry-markf commented on #48724
Hello @ezyang,

Thank you for your response.

I've chased up on what we actually built in a local patch, and it's this:

[code]

While this has been tested in trivial little home grown samples to verify the behaviour we were after, it's not been battle tested by us, and only in shared mode. At the moment, we don't actively build PyTorch as static libs.

I'm a little wary (although only by gut feel

[2020-12-10 10:38] pas-valkov opened #49157 "softmax fail"
## 🐛 Bug

Calling torch.softmax fails with torch version 1.7.0 but works with previous ones.

[code]

## To Reproduce

Steps to reproduce the behavior:

1. git clone https://github.com/snakers4/russian_stt_text_normalization.git && cd russian_stt_text_normalization
2. python
[code]

## Expected behavior

Printed text

## Environment

PyTorch version: 1.7.0
Is debug build: True
CUDA used to build P

[2020-12-10 12:09] huaxialongguang opened #49159 "The upsample_bicubic2d operator implemented by the CPU, when the input and output shapes are the same, There is a problem of data loss when copying data"
## 🐛 Bug

The operator upsample_bicubic2d  implemented by the CPU, when the input and output shapes are the same, There is a problem of data loss when copying data.
pytorch1.5 pytorch/ aten / src / ATen / native / UpSampleBicubic2d.cpp，In line 30, channels should be  changed to channels*nbatch
## To Reproduce

Steps to reproduce the behavior:

1.code sample：
[code]
2.CPU Result
[code]
3.GPU  Resul

[2020-12-10 13:16] Dingseewhole opened #49161 "RuntimeError: CUDA error: no kernel image is available for execution on the driver, when use pytorch 1.7 on linux with RTX 3090"
## 🐛 Bug

**RuntimeError: CUDA error: no kernel image is available for execution on the driver when use Pytorch 1.7 on Linux with RTX 3090 + ubuntun 20 + GPU driver 455.45 + CUDA 11.0**
I am a skilled user of pytorch-gpu, recently I purchased an RTX 3090 server, but the bug with pytorch 1.7 and RT 3090 makes me mad. I try a lot of experiments to figure it out, but I failed. You can reproduce the b

[2020-12-10 13:18] windmaple opened #49162 "Cannot build iOS benchmark app for PyTorch Mobile"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

I’m closely following the 'iOS - benchmarking setup' instructions [here](https://pytorch.org/tutorials/recipes/mobile_perf.html#ios-benchmarking-setup) to the letter. I was able to build the library and run 'ruby setup.rb', but I hit this error in Xcode 12.2 when trying to run the app on iPhone XR (iOS 14.2):

Looks like wrong library is

[2020-12-10 13:22] Dingseewhole commented on #49161
![image](https://user-images.githubusercontent.com/44332832/101777690-c235dc00-3aea-11eb-899b-bdf9ca195213.png)
The bug picture is here

[2020-12-10 15:06] antocuni commented on #42666
picking "Add torch.eig complex forward (CPU, CUDA)", a WIP PR will be opened soon

[2020-12-10 15:19] walterddr commented on #48873
sorry for the late reply.

I just double check and looks like most of the submodules are updated to latest commit that supports `arm64`. The only exception I found was fbgemm & NNPACK, QNNPACK - and preparing a PR to upgrade those.

if you have compilation error points to any dependency other than the above 3 please share more details.

[2020-12-10 15:22] George3d6 commented on #49095
As far as I'm aware though, both GPUs are connected to the motherboard via PCIE (no nvlink), how could that result in a network error ?

I will take a look at the docs though.

[2020-12-10 15:23] Hasan-Torabi commented on #45493
Hi , I build a application with depending LibTorch and now I want to depend it with openblas too. I have compiled openblas 0.3.12 x64 in windows 10. How Can I depend this CMakeLists with openblas ?

cmake_minimum_required(VERSION 3.0 FATAL_ERROR)
project(example-app)

find_package(Torch REQUIRED)
option(CMAKE_USE_WIN32_THREADS_INIT "using WIN32 threads" ON)
option(gtest_disable_pthreads "Disable u

[2020-12-10 15:36] ezyang commented on #48724
You may very well be right. My motivation for suggesting a more surgical change is to just reduce the possible unintended consequences. Even if modifying imported targets outside of the originating file is not very kosher, it's what the code currently does, so it's less likely to break someone

If you want to send your patch directly as written, that's OK too. We can see what happens.

We don't ha

[2020-12-10 15:37] ezyang opened #49166 "Implement fill_out on complex"
https://github.com/pytorch/pytorch/pull/48761#pullrequestreview-548823898

[2020-12-10 15:47] neonbjb commented on #24005
Thanks a ton @min-xu-ai I will try both. The fairscale stuff looks really intriguing, I have some reading to do..

[2020-12-10 15:50] hameerabbasi commented on #46277
@ezyang What would be the best thing to do here? See the above comment. Do we want this fixed at the cost of performance?

[2020-12-10 16:53] H-Huang commented on #49086
Yes, please file an issue in the [torchtext](https://github.com/pytorch/text) repo.

[2020-12-10 16:53] #49086 closed

[2020-12-10 16:53] #49096 closed

[2020-12-10 16:54] #48535 closed

[2020-12-10 16:58] ririya commented on #18626
+1. Pytorch is allocating 2 times more memory than i need.

[2020-12-10 17:01] zou3519 opened #49171 "NN Module functional API"
## 🚀 Feature

Either:
- A way to go from a stateful NN Module to a functional (read: functions only and stateless) NN Module.
- An alternative, functional NN Module API in addition to our current NN API.

## Motivation

It is difficult to use the `torch.autograd.functional` APIs with NN modules because these APIs require the user to pass the parameters to a function. For example, consider the `tor

[2020-12-10 17:11] alanhdu opened #49172 "Bad error message for DistributedSampler when num_replicas is too high"
## 🐛 Bug

When using `DistributedSampler` with a very small dataset, you get an assertion error:

## To Reproduce

[code]

returns

[code]

## Expected behavior

Either the sample duplication behavior should work here too, or we should raise an error in the constructor.

## Environment

[code]

cc @ezyang @gchanan @zou3519 @bdhirsh @SsnL @VitalyFedyunin @ejguan @pietern @mrshenli @pritamdamania87

[2020-12-10 17:14] stas00 commented on #49142
confirming that it has been fixed indeed - thank you!

[2020-12-10 17:14] #49142 closed

[2020-12-10 17:15] mruberry commented on #49152
Thanks for reporting this issue, @Seungwoo0326! We'll get it fixed.

[2020-12-10 17:21] foundry-markf commented on #48724
Thanks for the clarification. I would tend to agree with you then that the minimal change may be best under these circumstances, particularly as neither party can thoroughly test the static builds. I would not like to be the cause of giving other users of PyTorch a build headache.

[2020-12-10 17:25] foundry-markf commented on #48724
PR created, with the simplified patch.
At the very least, I do not have a CLA in place! Apologies, I did not see that in the contributing guide. Are there any notes on how to arrange it?

[2020-12-10 17:55] alanhdu commented on #49172
Related: now that we have https://github.com/pytorch/pytorch/issues/38174, could we add a flag to `DistributedDataSampler` that just allows uneven partitions across the replicas?

[2020-12-10 18:00] #27356 closed

[2020-12-10 18:11] #48523 closed

[2020-12-10 18:22] zcarson92 commented on #26462
Any updates on this? I am having the same issue when using `pack_padded_sequence()` and `PackSequence()`

[2020-12-10 18:24] zcarson92 commented on #28423
Any updates on this? I am still having this same issue when using `PackedSequence()` and `pack_padded_sequence()`, even when using @daquilnp 's fix still gives me the same error with TorchScript.

[2020-12-10 18:29] kurtamohler opened #49177 "Investigate `torch.linalg.norm` performance"
In issue #47833, @mthrok posted some measurements of `torch.linalg.norm`. It looks like it should be possible to improve performance. I will look into what may be causing bottlenecks.

[2020-12-10 18:30] tellihichem commented on #42368
Hi all,
Is it possible of adding batching rule for **aten::einsum** in the near future !?
My first try for _torch.vmap_ on special function I wrote was this error. I'm glade that there is some developers whom sacrifices there time for adding cool function to this awsome library. this batch vectorization _torch.vmap_ is one of the biggest features that will enrich _pytoch_. I hope it will be generi

[2020-12-10 18:43] ngimel commented on #49177
Please first redo the benchmarks to use Timer, e.g. all cuda times in that measurements don't do proper syncs, timeit with fixed number of runs is also not the best way to measure noisy perf of small sizes.

[2020-12-10 18:56] kurtamohler commented on #49177
Ok, will do @ngimel!

[2020-12-10 19:04] #47755 closed

[2020-12-10 19:05] eellison opened #49178 "[NNC] NNC type promotion logic adds extra casts & does compute in different dtype than eager"
## 🐛 Bug

Almost all NNC type promotion goes through a common path which [promotes inputs according to the highest input type](https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/tensorexpr/kernel.cpp#L725), and then after compute, casts the output to whichever type was recorded.

Because we have the output type specified, all NNC ops will give the correct dtype. However, the compute may

[2020-12-10 19:06] eellison commented on #49178
Adding bootcamp here because each individual op is pretty easy to migrate over to the right casting logic. Starting with addcmul but we can add others.

[2020-12-10 19:30] alanhdu opened #49180 "torch.utils.data.DistributedSampler allow uneven inputs"
## 🚀 Feature

Right now, `torch.utils.data.DistributedSampler` has two modes of dealing with datasets where `len(dataset) % num_replicas != 0`: if `drop_last=False`, then we "pad" the dataset with extra samples, or if `drop_last=True`, we drop the last batch of samples.

I think we should also have an option to just *have* uneven samples across the different replicas -- now that https://github.com

[2020-12-10 19:31] julioasotodv commented on #28423
Indeed, tracing is not an option either due to #48460

[2020-12-10 19:46] spandantiwari commented on #36899
@Louyu666 @imalsogreg - please reopen if you are able to repro this issue.

[2020-12-10 19:46] #36899 closed

[2020-12-10 20:17] H-Huang commented on #49078
Please reopen if you see this issue again

[2020-12-10 20:17] #49078 closed

[2020-12-10 20:25] #49064 closed

[2020-12-10 20:39] ngimel commented on #49161
The error message on your screen is quite clear, your pytorch installation does not support sm_86 compute capability. That said,  torch==1.7.0+cu110 supports 30xx gpus, so perhaps when you are installing torchvision or torchaudio, your pytorch version gets downgraded? When you are installing binary build of pytorch, your cuda or cudnn version don't matter, because pytorch uses its own.
cc @malfet.

[2020-12-10 20:50] ptrblck commented on #48049
Quick side note, it seems the fix landed in `1.7.1` in https://github.com/pytorch/pytorch/pull/48936 🎉

[2020-12-10 20:53] stas00 commented on #48049
That's great news - thank you for the heads up, @ptrblck!

[2020-12-10 22:33] quickwritereader commented on #27678
@edelsohn
the initial vectorization support for ppc64le  was added. I'm closing the issue

[2020-12-10 22:33] #27678 closed

[2020-12-10 22:40] H-Huang commented on #49157
Hi @pas-valkov, thanks for filing this issue. Could we get a self-contained script where you are hitting this error (without having to clone an external repo)?

[2020-12-10 22:46] H-Huang commented on #49154
Hitting an internal assert failure, marking as high priority

[2020-12-10 23:12] mrshenli commented on #49101
@SsnL

Yep, a lot of details are still up in the air. Besides the RNG issue, I am also not sure whether the null tensors should record the graph of how it was created and replay the entire graph on a real device, etc.

Good point! I can see argument from both side. If we treat `remote` as an abbreviation of `remote/cpu` and consider it as a device, then `nn.Parameter(torch.randn(3, device='cuda:1'

[2020-12-10 23:19] jacknewsom commented on #9674
It'd be great to get support for `abs.backward` as well (using it for `torch.norm(x, p=1)` with sparse x)

[2020-12-10 23:28] #48879 closed

[2020-12-10 23:34] zasdfgbnm opened #49205 "torch.topk(k=0) does not work on float tensors"
## 🐛 Bug

`torch.topk(k=0)` does not work on float tensors, as originally reported in https://discuss.pytorch.org/t/runtimeerror-cuda-runtime-error-710/105326/5

cc: @ptrblck

## To Reproduce

Steps to reproduce the behavior:

[code]

Output
[code]

## Expected behavior

both case 1 and case 2 works

## Environment

[code]

cc @ezyang @gchanan @zou3519 @bdhirsh @ngimel
Edit: edited title and descr

[2020-12-10 23:36] vfdev-5 opened #49206 "Sign op on bfloat16 gives wrong values"
## 🐛 Bug

`torch.sign` op applied on bfloat16 tensor gives wrong values.

## To Reproduce

[code]
## Expected behavior

Output should be between -1 and 1 as for other dtypes

## Environment

 - PyTorch Version (e.g., 1.0): 1.8.0a0+c60a7ad
 - OS (e.g., Linux): Linux
 - How you installed PyTorch (`conda`, `pip`, source): source
 - Build command you used (if compiling from source):
 - Python version:

[2020-12-10 23:59] ezyang commented on #46277
I feel like it should still be feasible to do this test without too much worse performance, because we're going to be parsing the tuple no matter what (similar to how we have the append overloaded args thing).

[2020-12-11 00:06] mortezardana commented on #47412
are you sure that pytorch works with cuda 11.1? I just checked pytorch website, in getting started tab, and there is only cuda 9.2, 10.1, 10.2 and 11. I'm just getting started with machine learning and pytorch so I was searching for the answer, if pytorch works with cuda 11.1 that I just downloaded then I ended up here.

[2020-12-11 00:36] zasdfgbnm opened #49207 "Provide a mechanism to limit the workspace size of cudnn convolution"
## 🚀 Feature

I am suggesting adding a mechanism to limit the workspace size used by cuDNN.

## Motivation

The workspace size for algorithms returned by cuDNN heuristics could be large sometimes. As a result, users could see CUDA OOM error when using PyTorch with cuDNN, for example, https://discuss.pytorch.org/t/8-7-gb-cuda-block-allocated-and-then-freed-by-conv2d-forward/105478/5. Many of these

[2020-12-11 01:00] Thien223 commented on #16123
I have to convert a pretrained pytorch model to TorchScript for deployment on AWS Elastic Inference.

The original model has a loop which zipped 3 modulelists. Stocked here for 2 months.

I have tried to split into 3 nested loop, but it will results Segmentation Fault when I doing like this:
[code]

Now i have to find out the way to loop over 3 modulelists that are not supported zipping, indexing

[2020-12-11 01:07] soumith commented on #47116
@seemethere go for it

[2020-12-11 01:31] XiaobingSuper commented on #49206
This is a real issue for bfloat16 path.

[2020-12-11 01:42] jefferyZhan opened #49212 "falied to convert to onnx"
## 🐛 Bug

when I tried to convert the TSN model to onnx, an runtime error occured, it reported that `RuntimeError: ONNX export failed: Couldn't export Python operator SegmentConsensus`
I find this function code, and it occured in this sentence `return SegmentConsensus().apply(input)`
and the "SegmentConsensus" function is:
`class SegmentConsensus(torch.autograd.Function):
@staticmethod
def forward

[2020-12-11 01:46] ngimel commented on #49205
Adding high priority due to crash.

[2020-12-11 02:02] Zrealshadow commented on #49076
Can I commit a PR about this issue ? :smile:

[2020-12-11 02:05] Kipok commented on #25387
I want to ask if there is any progress/timeline for this issue? It seems that currently PyTorch only supports AMP with JIT models by using "tracing" mode, which significantly limits code flexibility. The documentation does not explicitly says that AMP is not supported with scripted JIT models, but there are no examples of that on PyTorch website and when I try to use typical code that works for re

[2020-12-11 02:21] malfet commented on #47412
Yes, PyTorch is compileable by CUDA-11.1, but we are not yet in place where a stable CUDA-11.1 binaries can be build, as one can see by looking at `pytorch_libtorch_linux_xenial_cuda11_1_cudnn8_py3_gcc7_build` CI build artifacts.

[2020-12-11 02:30] malfet commented on #48535
@huwei1024 you can build it locally, or try downloading a nightly.

[2020-12-11 02:41] malfet commented on #49161
@Dingseewhole can you please see if the problem persists if you upgrade to PyTorch-1.7.1 that was released today?
Can you please re-run your training script with `CUDA_LAUNCH_BLOCKING=1` environment variable set to see what operation actually caused the exception.
And can you let me know if `python -c "import torch;print(torch.max(torch.rand((30,30),device='cuda')))"` command works on your RTX-309

[2020-12-11 02:42] #48882 closed

[2020-12-11 02:45] malfet commented on #48873
Please note, that no updates will be submitted to QNNPACK as it is an archive repository. None of the PyTorch operators depend on `third_party/QNNPACK`, only some legacy caffe2 ops.

[2020-12-11 02:47] malfet commented on #48145
@koudahts-bg, instructions how to build PyTorch from source are available at https://github.com/pytorch/pytorch#from-source
Please let me know if those are detailed enough for you.

[2020-12-11 02:53] sramakrishnan247 commented on #38349
@mruberry Hey, I am new here, I wanted to try something simple like divmod, do I just need to understand and implement at it and create a pull request directly?

[2020-12-11 02:58] Dingseewhole commented on #49161
Thank you for your help!
I use the official PyTorch pip install method `install torch==1.7.0+cu110 torchvision==0.8.1+cu110 torchaudio===0.7.0 -f https://download.pytorch.org/whl/torch_stable.html` to build my pytorch environment. And after that, I didn't change my torch version or torchvision version or torchaudio version. So I guess my pytorch version was not get downgraded?
Here is my `pip list

[2020-12-11 03:01] malfet commented on #49161
@Dingseewhole , try upgrading to 1.7.1 by using
`pip install torch==1.7.1+cu110 torchvision==0.8.2+cu110 torchaudio===0.7.2 -f https://download.pytorch.org/whl/torch_stable.html`

[2020-12-11 03:03] shz0116 opened #49214 "Using %= performs an out-of-place operation instead of in-place"
I need to modify a tensor value with % operation inplace. How can I do that ?
[code]
The ids shown are different. If I use "-=" instead of "%=", they will be the same.

cc @ezyang @gchanan @zou3519 @bdhirsh @mruberry @rgommers @heitorschueroff

[2020-12-11 03:31] Dingseewhole commented on #49161
Thank you for your help. When I upgrade my pytorch 1.70 to 1.71, the bug disappeared.
Thanks!

[2020-12-11 03:45] Jianhui-Li commented on #48246
@ezyang @gottbrath  Can we assign an owner for the RFC and PR?  It is critical for us to enable Intel GPU and other new devices.

[2020-12-11 04:12] gujinghui commented on #48246
@smessmer  Thanks for the questions. The motivations to keep register_runtime in the tree are:

1. To gracefully support out-of-source devices in PyTorch internal components, for example, DistributedDataParallel. Otherwise, outside copies of DistributedDataParallel have to be provided by extension implementations with variant changes, which hurts PyTorch user experience.

2. To keep the PyTorch ru

[2020-12-11 04:42] rohan-varma opened #49217 "Bug in profiler on CI machines when profiling NCCL distributed calls"
## 🐛 Bug

As mentioned in https://github.com/pytorch/pytorch/pull/48947, the profiler can sometimes give inaccurate results on distributed collective ops quite rarely. This seems to happen only very rarely on CI machines and nowhere else, but it is still worth looking into.

## To Reproduce

Steps to reproduce the behavior:

1. ssh into multigpu machine
1. disable all tests: sed -i 's/def test_/de

[2020-12-11 05:07] padmasreenagarajan opened #49218 "ONNX export is successful but failed in ONNX runtime"
The YOLOv3 model is trained in PyTorch and converted to ONNX format successfully and it passed the ONNX checker also.
But with ONNX runtime, it throws the following error.

**AssertionError:
Not equal to tolerance rtol=0.001, atol=1e-05

(shapes (22743, 85), (1, 22743, 85) mismatch)
 x: array([[1.017466e+01, 2.567739e+01, 8.318379e-01, ..., 9.088111e-10,
        7.015010e-10, 8.703636e-10],

[2020-12-11 05:41] ezyang commented on #48246
I owe y'all a first review. Unfortunately I have to look over the extension repo first so it has been taking some time.

[2020-12-11 06:04] mszhanyi opened #49219 "Refactor: Don't specify CUDA complete version manually in Windows build scripts."
## 🚀 Feature
Don't specify CUDA complete version manually in Windows build script.

## Motivation

So far, we have to update the CUDA complete version manually in several scripts. It increases the possibility of making mistakes.
For example, we take a lot time to debug https://github.com/pytorch/pytorch/pull/47794.
And yesterday, I find we're  still using magma 110 to build CUDA 11.1.
https://gith

[2020-12-11 06:05] Jianhui-Li commented on #48246
Thanks @ezyang. If needed, we can have a meeting going through the code with you so that we can explain the motivation better.  Please let us know.  @gottbrath

[2020-12-11 07:13] shakjm commented on #48714
Hi all, I've tried changing my num_workers to 16, from 32 and above, and it solved my issue. I've also tried the matmul settings and it worked as normal. Pretty weird. So far, everything runs normally.

[2020-12-11 07:37] Gladiator07 opened #49221 "Minor grammatical error in README.md"
## 📚 Documentation
In last section of README file (The Team), minor grammatical error in the sentence, "Hugh is a valuable contributor to the Torch community and has helped with many things Torch and PyTorch."
Instead it should be, "Hugh is a valuable contributor to the Torch community and has helped with many things in Torch and PyTorch."

cc @jlin27 @mruberry

[2020-12-11 08:54] ptrblck commented on #48714
Changing the `num_workers` solved the NaN issue or changing the `allow_tf32` flags?

[2020-12-11 08:56] Flamefire commented on #48579
This seems to be very flaky, it only happens sometimes. Example failure log excerpt: https://gist.github.com/Flamefire/45b3c6fcad2512a81c47e9657ee27ece

[2020-12-11 09:04] XiaobingSuper commented on #49206
duplicate of https://github.com/pytorch/pytorch/issues/41238.

[2020-12-11 09:18] vfdev-5 opened #49224 "Torch abs op crashes on -128 int8 tensor with ASAN"
## 🐛 Bug

Torch abs op if applied on a int8 tensor with min type value (i.e. -128) leads to a crash with message
[code]

## To Reproduce

[code]

## Expected behavior

Gives output as
[code]

## Environment

 - PyTorch Version (e.g., 1.0): 1.8.0a0+c60a7ad
 - OS (e.g., Linux): Linux
 - How you installed PyTorch (`conda`, `pip`, source): source + ASAN
 - Build command you used (if compiling from sou

[2020-12-11 09:56] shinh opened #49226 "[ONNX] Cannot turn off Conv+BN fusion in eval mode"
## 🚀 Feature
We would like an option in `torch.onnx.export` which turns off [Conv+BN fusion](https://github.com/pytorch/pytorch/pull/40547).

## Motivation

We are using ONNX for training. When our trainer starts, it exports a pytorch model in both eval mode and training mode and then compile them into native code. Since the compilation takes long time, we want to reuse the compiled code, replacin

[2020-12-11 10:03] Kiyosora opened #49227 "Looking for a more convenient way to getter value of the upper/lower triangular matrix into 1D"
## 🚀 Feature
Looking for a new function like `torch.triu_values` / `torch.tril_values` to gatter the value of the upper/lower triangular matrix into 1D shape more convenient.

## Motivation

When we need to gatter the value of an upper/lower triangular matrix into 1D shape, in NumPy way, we can easily use `triu_indices`/`tril_indices` to do it, such:
[code]
But in PyTorch, It's seem that we can’t

[2020-12-11 10:06] uwaisiqbal commented on #3194
Nice - how long before this can be merged in and released?

[2020-12-11 10:12] mruberry commented on #38349
Hi @sramakrishnan247, it'd be great to see a PR. I would start by looking at the other PRs for this topic to get an idea for how a new operator is implemented. I would recommend your first function be frexp, not divmod, since divmod is a bit complicated.

[2020-12-11 10:39] pradeepjag opened #49228 "discrepancy between text in "torch.rst" & "_init_.py"
## 📚 Documentation

The text in file "_init_.py has been updated to bring more clarity to text. But a similar text is not updated in the documentation file "torch.rst". I have attached a screenshot highlighting the text.
![torch rst](https://user-images.githubusercontent.com/53624748/101893782-3b0c6500-3bcb-11eb-846b-95b16c6c4710.JPG)

cc @jlin27 @mruberry

[2020-12-11 10:53] shinh opened #49229 "[ONNX] training parameter of batch_norm is ignored"
## 🚀 Feature

Provide a way to honor `training` passed to `batch_norm`

## Motivation

After [this PR](https://github.com/pytorch/pytorch/commit/728c7dcea37c2ac54dd3c394c8c59be8512145dc#diff-4e77adb023a4e15f75009c08294251dfe9c3b7bb6947e7f7b4609c65edb53b20R1069), ONNX export starts using `training` parameter passed to `torch.onnx.export` instead of the one for `batch_norm`. This made it impossible

[2020-12-11 11:29] mruberry commented on #49090
Thanks for reporting this issue, @jatentaki. I agree with you the current behavior is a pain. We would happily accept a PR fixing this.

[2020-12-11 11:50] gemfield commented on #14367
We have provided a project called [libdeepvac](https://github.com/DeepVAC/libdeepvac), which can work either with shared libtorch or static libtorch library.
Check https://github.com/DeepVAC/libdeepvac/blob/master/CMakeLists.txt if you are intresting on building against static pytorch.

[2020-12-11 11:57] gemfield commented on #25699
I have built the 1.6 & 1.7 static libtorch library and put here:
https://github.com/CivilNet/libtorch/releases/download/v1.7.0/libtorch_cuda_1.6.0.tar.gz
https://github.com/CivilNet/libtorch/releases/download/v1.7.0/libtorch_cuda_1.7.0.tar.gz

Usage: https://github.com/DeepVAC/libdeepvac/blob/master/CMakeLists.txt

[2020-12-11 12:13] gemfield commented on #17920
@shyney7 There is no official support for QNX yet, but you can try with scripts/build_android.sh and replace -DCMAKE_TOOLCHAIN_FILE from android's to QNX's.

[2020-12-11 12:18] gemfield commented on #17920
For libtorch static library build (on Linux) and usage, following links may be helpful:
https://github.com/CivilNet/libtorch
https://github.com/DeepVAC/libdeepvac/blob/master/CMakeLists.txt

[2020-12-11 12:19] fatcat-z commented on #48093
This should be an issue of shfflenet_v2 model. The PR of pytorch/vision is going to fix this.

[2020-12-11 13:16] FlorentMeyer commented on #45394
I'd like to know that too!

[2020-12-11 13:22] shyney7 commented on #17920
@gemfield Thank you so much for this information. I will try to figure out the context of your posted links and will try to cross-compile libtorch from source for QNX using the build_android.sh script.
Unfortunately article of your page is in chinese and the google transator is pretty bad at translating chinese in my opinion. But I will try to understand everything. Hopefully I will be able to use

[2020-12-11 14:41] albanD commented on #49171
I think that a good way to start would be to re-use `.named_parameters()` that gives all the relevant information that we need here.

I don't think we need to support that from the beginning as most of the use cases I have seen always differentiate to the parameters or inputs.
That being said, I'm sure there are cases where this could be interesting so I think we want to try to have an API to coul

[2020-12-11 14:59] zou3519 commented on #49171
The thing we have proposed here is very similar to a mechanism that [deepmind/haiku](https://github.com/deepmind/dm-haiku) has. That mechanism is roughly as follows:
- `hk.transform(module)` returns an object that effectively represents the parameters and a callable

For modules with some internal non-trainable state, like BatchNorm, they define a way to pull the state out of a module:
`hk.transfo

[2020-12-11 15:28] albanD commented on #49171
Restricting the state to be the buffers would be ok?

[2020-12-11 15:33] YonyBresler opened #49235 "Torch.unique_consecutive(x.requires_grad_(True)) fails"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

One liner to reproduce the bug:
`torch.unique_consecutive(torch.rand(4).requires_grad_(True))`

output:

`---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-9-2466c800cbcf> in <module>
----> 1 torch.unique_consecutive(torch

[2020-12-11 15:48] H-Huang commented on #49154
Hi @duanyzh, I noticed you are trying to add a new target to the build folder. What is this for? The [PyTorch forums](https://discuss.pytorch.org/) is a good place to answer your question.

[2020-12-11 15:48] #49154 closed

[2020-12-11 16:01] SsnL commented on #49227
`x[torch.tril_indices(3,3).unbind()]`

But yeah, we should think about numpy parity.

[2020-12-11 16:06] SsnL commented on #49171
@albanD

But in practice you are not always using provided optimizers. I believe that more often than not, you would like the flexibility to implement arbitrary pointwise ops easily.

[2020-12-11 16:12] #48873 closed

[2020-12-11 16:17] rgommers commented on #48572
The docs for `torch.linalg.solve` in PR gh-48456 do contain a note about behaviour for singular input, will throw a `RuntimeError`.

The docs for  `torch.linalg.inv` in PR gh-48261 mention a similar thing (`RuntimeError`) for non-invertible matrices. Cc @IvanYashchuk.

I'll note that both NumPy and SciPy raise a custom error (`LinalgError`), which may be more useful than `RuntimeError` because it'

[2020-12-11 16:29] pfrendl opened #49236 "detach_() does not perform in-place detachment from the computation graph"
## 🐛 Bug

detach_() does not perform in-place detachment from the computation graph for a node that already has children. If a gradient computation is issued after the detachment, gradients are still propagated through the node.

## To Reproduce

[code]

## Expected behavior

Gradients should not be propagated through the detached node, and the past parents should not be referenced anymore, making

[2020-12-11 16:32] zou3519 commented on #8280
@albanD is this still relevant?

[2020-12-11 16:33] kurtamohler commented on #3194
@uwaisiqbal , I'm planning to open a PR within the next couple days. Currently there are a few problems I need to fix.

[2020-12-11 16:36] zou3519 commented on #8216
Hmm, I think we have fixed this by adding documentation for the C++ API.
there's documentation for [Tensor](https://pytorch.org/cppdocs/api/classat_1_1_tensor.html?highlight=tensor) as well as the functions on it: https://pytorch.org/cppdocs/api/namespace_at.html#functions

[2020-12-11 16:36] #8216 closed

[2020-12-11 16:37] zou3519 commented on #8195
I'm going to close this due to age because our build has changed so much since the last reply. If there is still an issue, please feel free to open us a new issue.

[2020-12-11 16:37] #8195 closed

[2020-12-11 16:38] mariogeiger commented on #37628
This bug is still not solved in 1.7.1

[2020-12-11 16:40] zou3519 commented on #49214
a.fmod_(10) should give you the answer.

But I think it's weird that %= doesn't modify the tensor in-place

[2020-12-11 16:42] zou3519 commented on #49214
FWIW numpy does modify the tensor in-place:
[code]
I am not sure what to label this issue as, so I am picking the numpy label

[2020-12-11 16:48] #49236 closed

[2020-12-11 16:49] albanD commented on #49171
@SsnL ho yes I agree that we would like to have that. And that is the goal of that API, the optimizer is just one use case for it. The general issue is: https://github.com/pytorch/pytorch/issues/38655

[2020-12-11 16:49] pfrendl commented on #49236
The abovementioned use-case is flawed because updating the model parameters after backpropagating through group A makes the source tensors of group B stale, making a backprop through B invalid.

[2020-12-11 16:50] zou3519 commented on #49224
In theory I think this would type promote because +128 is not expressible in the int8 type. However, numpy doesn't do this:
[code]

[2020-12-11 16:51] zou3519 commented on #49228
We'd accept a PR to fix this.

[2020-12-11 16:51] heitorschueroff commented on #37628
@mariogeiger I'm working on a PR that fixes this issue but it had to be reverted after discovering a bug. Expect this to be fixed in 1.8.

[2020-12-11 16:55] zou3519 commented on #49015
float64 should give precision of 15-17 significant digits. A difference of 14 is pretty large in this case

[2020-12-11 16:55] heitorschueroff commented on #49214
module: numpy is the right label for issues related to NumPy compatibility. I think we should update this to be consistent with NumPy, especially if `-=` is an inplace operation then I would expect all such operations to be inplace.

[2020-12-11 18:06] yingzhu146 commented on #44449
@skyline75489 I'm facing this very exact problem. I've had protobuf installed via homebrew, removed it and rebuild, problem persists. arm64 Apple Silicon M1. Exact same error message also tried varying the flags. You've got any insights in here?

[2020-12-11 18:08] malfet commented on #48901
I suspect the compiler has trouble understanding register mapping or preserving NEON state
https://github.com/pytorch/pytorch/blob/f10b53d9eaa282d240fa79ee8f03ea42457803d5/aten/src/ATen/cpu/vec256/missing_vst1_neon.h#L5-L8

[2020-12-11 18:09] kurtamohler commented on #47833
This issue can be closed now. But my permission to close issues was accidentally removed

[2020-12-11 18:31] #48804 closed

[2020-12-11 18:43] malfet commented on #49023
Two ideas:
 - All CUDA test should already be designed to have an implicit synchronization at the end, when CUDA tensors are copied to the host to be compared with CPU tensors or printed.
 - Perhaps rather than aborting the test `run_test.py` should continue testing in the new process.

[2020-12-11 18:47] VitalyFedyunin commented on #49023
Hello I had similar idea but implementation stuck due to refactoring which was in progress at the time,
I can try to land it soon-ish, but I also comfortable if someone will piggyback on my work https://github.com/pytorch/pytorch/pull/25038

[2020-12-11 18:52] rgommers commented on #47833
I still have the magic powers it looks like - closed:)

[2020-12-11 18:54] mthrok commented on #47833
@kurtamohler There was an org-wide change made recently. I will ask to add you back.

[2020-12-11 19:04] bigfootjon commented on #47833
@kurtamohler, apologies for the mistake. You've been re-invited to be a collaborator on this repo. Please go to https://github.com/pytorch to accept

[2020-12-11 19:12] carmocca commented on #47038
ping @malfet (assigned)

given that this did not make the 1.7.1 milestone, what is the plan here?

[2020-12-11 19:14] jjsjann123 commented on #25387
I'm not aware of any progress on with statement support in JIT, which was the blocking issue to get autocasting in JIT into functional parity with eager-mode-autocast. This is the reason that we shelved our effort after discussion with PyTorch team then.

Wondering if opinion on functional parity has changed from PyTorch side, i.e. is it acceptable to have a autocasting pass that does casting behi

[2020-12-11 19:14] walterddr commented on #49019
qq: not sure if this solves the problem but can we add `failfast` option to the test runners that runs CUDA test cases?
would this work or should we create a custom test runner that specifically look into each test results and check the CUDA assert failures?

[2020-12-11 19:19] ngimel commented on #49019
wdym by `failfast` option? If it's aborting after any failure in cuda test, then no, that's not what's requested here. We want to abort only if one of context-invalidating (sticky) errors happened.

[2020-12-11 19:21] ezyang commented on #8280
This is too old. We've also rewritten the how backwards parallelism works more recently to home CPU on the same thread that initiated backwards, which may also have solved this problem.

[2020-12-11 19:30] kurtamohler commented on #47833
Thanks! @bigfootjon, for some reason I don't see any invitation when I go to https://github.com/pytorch

[2020-12-11 19:34] mruberry commented on #25387
@jamesr66a and @suo might be able to comment from the jit side

[2020-12-11 19:34] nikitaved opened #49252 "Methods that solve systems of linear equations are memory-inefficient (batch-wise broadcasting)"
## 🐛 Bug

Certain methods defined in `BatchedLinearAlgebra.cpp`, such as
[code]

solve the system of linear equations `AX = B` and support batching with broadcasting over the batch dimensions.
The problem is that the brodcasted new matrices are being fully materialized, which happens after calling to the method `cloneBatchedColumnMajor` prior to applying LAPACK drivers. LAPACK drivers are applied

[2020-12-11 19:35] ngimel commented on #25387
Context manager support in script was implemented, cc @SplitInfinity.

[2020-12-11 19:36] ansley opened #49253 "Differentiate between objects with a true `Tensor` type and objects with a default `Tensor` type"
## 🐛 Bug

We currently set `Tensor` as the default type for untyped variables, but this can be overly restrictive. Perhaps we should allow unannotated `List`s and `Dict`s to be typed based on their first added item. In doing this, we should make sure that we don't inadvertently allow reassignment for `List`s and `Dict`s that have truly been annotated as containing `Tensor` objects.

## Example

[c

[2020-12-11 19:37] SplitInfinity commented on #25387
Yes, with statements are supported in TorchScript now. `torch.no_grad` and `torch.autograd.profiler.record_function` are two examples of context managers that can be used in TorchScript today.

[2020-12-11 19:38] jjsjann123 commented on #25387
Awesome. Can we get a link to any doc / source?

[2020-12-11 19:38] zou3519 commented on #49221
I don't think this is a grammatical error. The  "all things X" ("many things X") is an expression: https://english.stackexchange.com/questions/252633/what-does-all-things-x-mean

[2020-12-11 19:38] #49221 closed

[2020-12-11 19:43] jjsjann123 commented on #25387
A link to the PRs would be really handy. :pray:

[2020-12-11 19:46] SplitInfinity commented on #25387
#34705.

[2020-12-11 19:48] walterddr commented on #49019
oh. yeah I didn't realize Ed meant only sticky errors, thanks for the explanation @ngimel

[2020-12-11 20:00] malfet commented on #49019
Here is a small  example of sticky errors triggered by on-device assert:

[code]

[2020-12-11 20:03] jjsjann123 commented on #28762
Apparently we missed the added support in PyTorch #34705
closing

[2020-12-11 20:03] #28762 closed

[2020-12-11 20:04] ngimel commented on #49019
Another common sticky error is "Illegal memory access".

[2020-12-11 20:26] mrshenli commented on #49101
Yep, I was thinking about letting the remote device context override the default CPU device, so that no storage is created locally within that context. I would love to learn concerns on this and am open to other suggestions.

One question to discuss is how much we should override. If we let both `remote/cpu` and `remote/cuda:1` to override, then it might be a little inconsistent to local device co

[2020-12-11 20:35] nikitaved commented on #27036
As a workaround instead of calling to `lstsq` you could just use `x.pinverse() @  b` which should work with autograd. One more bonus: it does support batching. We are currently working on implementing a better version such as `torch.linalg.lstsq` https://github.com/pytorch/pytorch/pull/49093 , however I am not sure there is a way to efficiently implement backward in all cases.
Why? Some configurat

[2020-12-11 20:58] zou3519 opened #49256 "Strides computed via autograd.grad vs those computed by backward() can be different"
## 🐛 Bug

When computing the gradient via autograd.grad, the strides of the returned gradient can be different from if we had instead used backward() to compute the gradient. I don't know if this is intended or not.

## To Reproduce
[code]

## Expected behavior

I would expect these two to return gradients with the same strides. Furthermore, the [Gradient Layout Contract note](https://github.com/p

[2020-12-11 21:06] ab-10 commented on #35527
@vadimkantorov what value for p would you expect for `torch.bernoulli(3, 4, 5, dtype = torch.bool)`?

I see how specifying `dtype` without shape fails though:

[code]

`torch.rand` behaviour appears more similar to `torch.distributionsBernoulli.sample` than `torch.bernoulli`.

For example:

[code]

What do you think about working towards consistency between `torch.distributions.Bernoulli.sample` a

[2020-12-11 21:09] vadimkantorov commented on #35527
If dtype is bool explicitly, I would expect torch.bernoulli (and maybe even torch.rand) sample from bernoulli(0.5), doing a fair coin toss

[2020-12-11 21:10] albanD opened #49257 "View tracking for autograd should not save optional std::function"
In the view tracking for autograd in `torch/csrc/variable.h`, we save the optional view function as an `c10::optional<std::function<Variable(const Variable&)>>` but the `std::function` class already has an empty state.

Unless there are performance reasons (see comment https://github.com/pytorch/pytorch/pull/49097#discussion_r541099546), the optional can be removed here.

cc @ezyang @albanD @zou35

[2020-12-11 21:11] ab-10 commented on #35527
Hmm, why so?

[2020-12-11 21:15] vadimkantorov commented on #35527
Because very often we use torch.bernoulli to sample these coin tosses. I think this is the most expected p choice, if it's not specified. I agree that it's a question of opinion and many frameworks do not have default `p`.

More important thing about torch.bernoulli is that it should support shape argument for consistency with torch.rand

[2020-12-11 21:16] alexander-shchepetov opened #49260 "'AlexNet' object has no attribute 'features'"
## 🐛 Bug

After upgrading torch 1.2.0 => 1.6.0 and torchvision 0.2.1 => 0.7.0 when I unpickle torch pretrained models there are an torch.nn.modules.module.ModuleAttributeError: %object% has no attribute 'features | logits', for example:
[code]
[code]
[code]
[code]
[code]
## To Reproduce

Code example for alexnet torch pretrained model:

[code]

## Environment
[code]

 - PyTorch 1.6.0:
 - Ubuntu 18

[2020-12-11 21:35] eellison opened #49261 "[TorchScipt] Custom Objects C++ API"
## 🐛 Bug: Creating TorchScript Objects in C++

@samster25  pointed out in a presentation that there is no public  API for creating a User-defined Dataclass or named tuple in the C++ API.

More generally, the C++ API is hard to use. In the past, we have considered having a separate set of user-exposed IValue bindings. We could also consider having a tutorial for doing common things in JIT documenta

[2020-12-11 21:39] vadimkantorov commented on #35527
inconsistency between factory functions + torch.distributions.Bernoulli.sample is rather verbose and requires knowing of torch.distributions namespace/concept + forces to create a distribution object for sampling (e.g. we don't have to create a nn.ReLU, when we can just functionally F.relu. it immediately brings up questions whether distribution object stores some random state of its own)

[2020-12-11 21:41] #49075 closed

[2020-12-11 21:56] jamesr66a opened #49265 "[FX] Update `placeholder` docs to better reflect the role of `node` and `target`"
https://github.com/pytorch/pytorch/blob/15200e385a764721000f1dfadbcaf42c328bafdd/torch/fx/node.py#L34

`node` and `target` actually have different behavior. `target` is the stable, user-visible name (and may contain `*` or `**` as in `*args` or `**kwargs`), whereas name is a garden-variety SSA unique name. We should update the docs to indicate so

[2020-12-11 22:11] ab-10 commented on #35527
Sounds good to me, if any of the maintainers (@vincentqb @fritzo @neerajprad @alicanb @vishwakftw) confirm that this is consistent with project goals, I would be happy to take a stab at it.

# Summary

The issue proposes the following changes:

1. Allow specifying bernoulli output shape (e.g. `torch.bernoulli(p, (3,4,5))`)

2. Allow specifying bernoulli output dtype (e.g. `torch.bernoulli(p, dtype

[2020-12-11 22:32] bigfootjon commented on #47833
I just cancelled the first invitation and re-invited. Did that work?

[2020-12-11 22:36] nikitaved commented on #49252
Well, the issues is actually more complicated, as it turns out LAPACK modifies the input in-place.

[2020-12-11 23:12] quinor opened #49268 "conv2d sometimes produces wrong results on cpu"
## 🐛 Bug

I'm trying to separate grouped conv2d into the grouped convolutions. The following code fails nondeterministically:

## To Reproduce

[code]
output:
[code]

## Expected behavior

The could should be "good" for all 1000 trials.

## Environment

[code]

## Additional context

The test code taken from https://discuss.pytorch.org/t/how-to-access-weights-of-each-group-in-a-grouped-convolution

[2020-12-11 23:13] kurtamohler commented on #47833
Ah, there we go! Weird, I only got an email for the second one. Thanks for the help!

[2020-12-11 23:47] koudahts-bg commented on #48145
thank you malfet

What I want to know is the following

Install the necessary modules in conda, but is conda for conda in conda forge, conda for m1 in the first place?

What are the environment variables that need to be set to compile pytorch, and what are their contents?

[2020-12-12 00:14] malfet commented on #44449
@yingzhu146 can you share CMakeCache.txt from the build folder?
I think the problem here is missing OpenMP library

[2020-12-12 02:25] yingzhu146 commented on #44449
@malfet  here you go

[CMakeCache.txt](https://github.com/pytorch/pytorch/files/5682350/CMakeCache.txt)

Thanks for the help!

[2020-12-12 02:27] yingzhu146 commented on #44449
[CMakeCache.txt](https://github.com/pytorch/pytorch/files/5682355/CMakeCache.txt)

@malfet here you go!

thanks for the help

[2020-12-12 03:45] SsnL commented on #49214
How is this not a correctness problem?
[code]

[2020-12-12 03:53] CoinCheung commented on #44206
Hi, has the problem of 'training models with interpolate op in fp16 mode is very slower' being solved ?

[2020-12-12 03:54] xwang233 commented on #44206
Yes it's resolved and you can verify it in the nightly build.

[2020-12-12 03:56] CoinCheung commented on #44206
Thanks, now that pytorch1.7.1 is released, could I install pytorch 1.7.1 directly instead of the nightly built version ?

[2020-12-12 03:58] xwang233 commented on #44206
I think this PR was not cherry-picked into 1.7.1 release. So 1.7.1 release may not have the performance fix for it.

[2020-12-12 03:59] CoinCheung commented on #44206
Got it, thanks a lot !!!

[2020-12-12 04:28] kilasuelika commented on #42588
I have the same problem as you. Did you find any solution?

[2020-12-12 05:57] zxyyxzz opened #49278 "Does Pytorch have the function that can obtain sub-matrix according to index?"
## 🚀 Feature

If i have a multidimensional tensor: **matrix = 500\*600, 500, 600:** [batch, H, W]

Now i want a function which can obtain a sub-matrix(h, w) of the matrix on H, W dim according to the index in the first dim:
for example:

[code]

## Motivation

if i use the above code, the speed is so slow, is there any function in Pytorch can obtain the sub-matrix?
## Pitch

## Alternatives

## Ad

[2020-12-12 08:13] peterjc123 commented on #49219
Thanks for figuring that out. Luckily, it doesn't affect our binary jobs.

[2020-12-12 10:20] zixeljupo opened #49282 "Bug when combining AMP with channels_last memory format"
## 🐛 Bug when combining AMP with channels_last memory format

CUDA unexpectedly fails with different errors when training torchvision models with AMP and channels_last memory format.

## To Reproduce

Steps to reproduce the behavior:

1. Create new conda environment:
`conda create -n test_environment python=3.7 && conda activate test_environment`

2. Install torch, torchvision, cudatoolkit:
`conda

[2020-12-12 11:53] xwang233 commented on #49282
Thanks for the report. Do you also see the error with the short repro script provided in the exception message? If so, can you also try a cuda 11 + cudnn 8 wheel and see if the cudnn error still exists?

[2020-12-12 12:04] zxyyxzz commented on #49278
@xwang233

[2020-12-12 12:10] knightz33 commented on #16417
Damn this issue has not been solved yet? I practically did every single solution here and it still doesnt run .. -.-

[2020-12-12 14:43] demmerichs opened #49284 "TensorBoard SummaryWriter to remote storage unreasonably slow"
## 🐛 Bug

Writing scalars to TensorBoard event files on remote storage using the SummaryWriter is unreasonably slow.

## To Reproduce

Steps to reproduce the behavior:

I am not an expert on data handling and the lingo involved so forgive me some inaccuracies. From my understanding (e.g. from [here](https://www.tensorflow.org/guide/data_performance#parallelizing_data_extraction)), the main reason

[2020-12-12 17:29] singhay commented on #31460
Any updates on this ?

[2020-12-12 18:51] adrianjav opened #49285 "Warning thrown when instantiating ParameterList"
## 🐛 Bug

Not something too concerning, but I found that, when I create a ParameterList object a warning is thrown regarding an asignment on the ParameterList object.

## To Reproduce

Running the following code:

[code]

produces:

`[...]/torch/nn/modules/container.py:434: UserWarning: Setting attributes on ParameterList is not supported.
  warnings.warn("Setting attributes on ParameterList is no

[2020-12-12 19:15] SeanNaren commented on #633
Lots has changed since, closing this for now :)

[2020-12-12 19:15] #633 closed

[2020-12-12 20:47] robieta commented on #48748
FYI the stack of https://github.com/pytorch/pytorch/pull/48966 should do a better job (as it also handles `Parameter`) if you want to give that a shot.

[2020-12-12 21:48] slerman12 commented on #48145
How did anyone install on m1 Mac? I keep getting errors!

[2020-12-12 22:27] rgommers commented on #48640
This will be fixed by gh-49045

[2020-12-12 22:40] rgommers commented on #44964
The right fix here is to remove the type annotations from all signatures in the generated html docs I believe. The parameter descriptions already have type information, and there will be many cases where the type annotations will make little sense to the user (e.g., returning typevar `T`, long unions).

That of course does mean there can be mismatches between docs and annotations, but that may be

[2020-12-12 22:42] SharanSMenon commented on #47702
Any updates?

[2020-12-12 22:52] vadimkantorov commented on #44964
Well, the type annotations could go to hover-only message with `title` html attribute. Types provide a fast parse over function arguments, I think they are still valuable.

And a first-class, public alias of `Union[int, Tuple[int]]` would be useful, as many functions accept such types

[2020-12-12 22:56] vadimkantorov commented on #44964
+ sometimes types are not explicitily mentioned in parameter description (e.g. if torch scalar or Python scalar is supported. if Python scalar, only int or float). Or that description is minorly outdated. So having it generated somewhere in the docs is useful - maybe html `title` attribute could be a compromise

[2020-12-12 23:03] rgommers commented on #44964
That would be nice, unfortunately there's no `autodoc` setting for that. So I'd defer that as a separate enhancement idea; would need a Sphinx or https://github.com/agronholm/sphinx-autodoc-typehints PR. Right now it's choosing between:

<img width="568" alt="image" src="https://user-images.githubusercontent.com/98330/101998635-54013d00-3cd5-11eb-8474-b9ccdca4989e.png">

and

<img width="568" alt=

[2020-12-12 23:12] rgommers commented on #44964
Oh wait, one more thing to try: `autodoc_type_aliases` to leave aliases unevaluated, that would be useful perhaps.

[2020-12-12 23:14] vadimkantorov commented on #44964
Also, if `stride=None` is supported, the type should be `Optional[something]`...

[2020-12-12 23:15] rgommers commented on #44964
Still, we can use aliases for common things like `_TensorOrTensors` and feed those into `autodoc_type_aliases` as a dictionary, but for one-off unions that'd not be practical.

[2020-12-12 23:16] rgommers commented on #44964
Yep, lots of bugs left in the `nn.modules` annotations - first PRs to enable mypy on files in `nn/modules/` are for review now, that should catch a lot of these issues.

[2020-12-12 23:25] rgommers commented on #44964
Unfortunately Sphinx 3.x doesn't seem to work yet; 2.4.4 does. So we can't use any of the newer features for autodoc type annotation handling, just the on/off toggle. @mattip I couldn't easily find where Sphinx versions are stored. I assume you tried with Sphinx 3.x at some point, do you know the status of that?

[2020-12-13 00:03] mariosasko commented on #49285
This is fixed in PyTorch 1.7.1.

[2020-12-13 00:10] vadimkantorov commented on #43949
Does `bytes(byte_tensor)` return some sort of memory view on top of PyTorch storage? How does slicing that returned object work?

[2020-12-13 03:58] jaglinux commented on #48110
@mrshenli any review comments for the above PR ?

[2020-12-13 04:45] Dieblitzen commented on #30723
I have been trying to do something similar, and it still doesn't work for me. When will this bug be fixed?

[2020-12-13 05:40] mattip commented on #44964
I don't remember trying with sphinx3. Based on NumPy's experience, it would be a non-trivial migration. The version used is in [docs/requirements.txt](https://github.com/pytorch/pytorch/blob/master/docs/requirements.txt) and [docs/cpp/requirements.txt](https://github.com/pytorch/pytorch/blob/master/docs/cpp/requirements.txt). The `cpp` one uses `sphinx=3.1.2`

[2020-12-13 05:44] zelokuo opened #49290 "1-D signal's rfft can't be recovered by torch.irfft"
## 🐛 Bug

Given a 2-D real-valued matrix, I wanna utilize torch.rfft along with the final axis.  Then when using the torch.irfft, I can not recover the signal correctly.

## To Reproduce

torch.Size([3, 5, 2])

torch.Size([3, 9])

when I try to use the a.shape for the irfft, I got this:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
RuntimeError: Expected signal_sizes to

[2020-12-13 05:49] #49290 closed

[2020-12-13 05:51] zelokuo commented on #49290
it can be recovered by torch.irfft(A, signal_dim=1, signal_sizes=(8,))

[2020-12-13 09:19] blenderben2 opened #49291 "add inverse cdf for Chi-square Distribution"
## 🚀 Feature
add inverse cdf for Chi-square Distribution

## Motivation

[code]

## Pitch

It would be nice to have.

[2020-12-13 10:10] KumaTea opened #49292 "Version being Built Different from Checkout"
## ❓ Questions and Help

I'm building py`torch` **v1.7.1** from source. I excuted:

[code]

It outputs:

[code]

Looks like I'm building **`torch-1.7.0a0`** instead of the desired version `1.7.1`. Is everything correct, or I have made any mistakes?

---

This issue has been reproduced on `arm64` and `aarch64`, but both are in `docker`.

[2020-12-13 10:41] filipre commented on #30723
@zhaojuanmao @pietern Maybe consider reopening. Seems like the bug is still there. While my solution worked in the end, it was rather hacky and may not work for others facing different situations.

[2020-12-13 11:32] rgommers commented on #42003
This was tested recently; katex was still 2x faster than the latest version of mathjax, and the difference on page loading was significant.

gh-49286 adds the suggested `docs/README.md`, that will close this issue.

[2020-12-13 13:57] peterjc123 commented on #48568
Sorry for late reply. Would you please create a PR based on your findings?

[2020-12-13 14:06] LukeAI commented on #47908
@ionlights @klyjm  do you know if this is still the case with pytorch 1.7.1 ?

[2020-12-13 14:20] Zrealshadow opened #49296 "About nn.Multiheadattention Implementation"
## 📚 Documentation

I found `nn.Multiheadattention.forward` method using `nn.functional.multi_head_attention_forward`

However, I could not find the doc about implementation of `nn.functional.multi_head_attention_forward`

Anyone knows the source code of `nn.functional.multi_head_attention_forward`

[code]

---

By the way, there is a tiny carelessness in display of doc of `nn.Multiheadattention`

[2020-12-13 15:26] mariosasko commented on #49296
Hi,

here is the [link](https://github.com/pytorch/pytorch/blob/dc4db95540da06623c747bf0f2bf9f4af3d2925a/torch/nn/functional.py#L4026) to the source code of `torch.nn.functional.multi_head_attention_forward`. Feel free to create a PR to fix the docs.

[2020-12-13 15:52] ddelange opened #49297 "[docker] Add Dockerfiles to the repo corresponding to the official Dockerhub images"
## 🚀 Feature

As @seemethere uploads both CUDA devel and runtime images to Dockerhub with most releases, I would like to use/inspect/modify the corresponding Dockerfiles instead of pulling from Dockerhub as is.

## Motivation

The current Dockerfile was last edited 8 months ago: https://github.com/pytorch/pytorch/blob/v1.7.1/docker/pytorch/Dockerfile

Recent Dockerfiles used for e.g the recent CUD

[2020-12-13 16:26] klyjm commented on #47908
@LukeAI It is not stable, sometimes the speeds are same, sometimes the 11.0 is slower. So, I still use 10.2.

[2020-12-13 16:43] vadimkantorov commented on #49297
Like much! Related: https://github.com/pytorch/pytorch/issues/32030

[2020-12-13 17:59] KumaTea commented on #49292
I just read the code in [`setup.py`](../blob/master/setup.py). It shows:

[code]

And in [`tools.generate_torch_version`](../blob/master/tools/generate_torch_version.py#L13):

[code]

So, can I just simply edit the **[`version.txt`](../blob/master/version.txt)** to `1.7.1`, since the code in this tag is already stable released?

[2020-12-13 18:04] michalsustr opened #49298 "[question] How hard would it be to implement 4-bit precision training?"
I came across the paper [Ultra-Low Precision 4-bit Training of Deep Neural Networks](https://proceedings.neurips.cc/paper/2020/file/13b919438259814cd5be8cb45877d577-Paper.pdf) on NeurIPS 2020. I think it would be cool to implement support for it in PyTorch. I think it can be done quite efficiently on CPU using the AVX2 instruction set, as all the multiplication/addition operations can be stored in

[2020-12-13 18:58] t-vi opened #49299 "JIT: DifferentiableGraph/Requires grad handled badly by ProfilingExecutor and fuser fallbacks"
## 🐛 Bug

To me, it seems like the interplay between requiring gradients and the profiling executor/fuser fallback seems not ideal:
1) in the fuser1 (TensorExpr) and fuser2 (CudaFuser), if I run a few grad-requiring tensors through my model and then run non-grad-requiring, it will run into the DifferentiableSubgraph and give me a grad-requiring output even though none of the inputs requires gradie

[2020-12-13 19:01] t-vi commented on #49299
@csarofeen @jjsjann123  @Krovatkin @eellison @ZolotukhinM

[2020-12-13 19:02] t-vi commented on #49299
I'd be happy to implement a Guard+Fallback for DifferentiableGraph and fix the nvFuser if we can agree that that's what we want.

[2020-12-13 19:25] diegovalenzuelaiturra opened #49300 "is this a typo in optimizer.pyi ? it says `statue` instead of `state`"
it says `statue` instead of `state`

https://github.com/pytorch/pytorch/blob/dc4db95540da06623c747bf0f2bf9f4af3d2925a/torch/optim/optimizer.pyi#L13

[2020-12-13 22:28] rgommers commented on #40659
The `layer_norm` change to `Sequence[int]` is being made in gh-49035.

[2020-12-13 23:50] Krovatkin commented on #49299
1. in the fuser1 (TensorExpr) and fuser2 (CudaFuser), if I run a few grad-requiring tensors through my model and then run non-grad-requiring, it will run into the DifferentiableSubgraph and give me a grad-requiring output even though none of the inputs requires gradient. (It will also run a kernel outputting intermediates that we don't need, so perf loss...)

@t-vi are you aware of some models whe

[2020-12-14 01:30] ezyang commented on #49101
I want to repeat something that I've mentioned to @mrshenli in private correspondence, which is that a context manager which  changes what the device a `torch.empty` allocation does (with no other arguments) is counter to what historically we've wanted to allow in PyTorch. The reason for this is that when you allow code to unpredictably change behavior in this way, it's basically impossible in pra

[2020-12-14 01:53] ngimel opened #49303 "is_contiguous and is_non_overlapping_and_dense should be non-virtual"
These functions should rely on bitfields set in TensorImpl, and be non-virtual. Implementers of derived TensorImpls (SparseTensorImpl, BatchedTensorImpl etc) should take care to properly set those bitfields. For TensorImpl where the concept of contiguous/memory dense is poorly defined, we should just return `false`.
Semantics of those calls for BatchedTensor is not exactly clear, in an offline dis

[2020-12-14 01:56] #48464 closed

[2020-12-14 02:07] Zrealshadow commented on #49296
Thank you for your relpy !
In source code, I found this mistake is fixed.
The offical doc did not update

[2020-12-14 02:07] #49296 closed

[2020-12-14 02:07] xinfangliu opened #49304 "How to save model with half precision?"
## ❓ Questions and Help

My model includes 5 resnet18, if they are saved with default precision(float32),  then about 220MB space in my disk is occupied.
My idea is to reduce the storage to 110MB, so I used model.half() to apply precision 16.
I used torch.save(model.state_dict(),'model.pt') to save my model, however there still is 220MB for the model storage.

Does anyone know how to deal with thi

[2020-12-14 04:04] windmaple opened #49308 "Can't build PyTorch to support Metal"
## 🐛 Bug

## To Reproduce

I'm following the instruction [here](https://github.com/pytorch/tutorials/blob/master/prototype_source/ios_gpu_workflow.rst) but couldn't get through the first step of compilation. I'm using HEAD and did a fresh recursive clone of the repo before compilation.

Steps to reproduce the behavior:

I'm getting compilation error:

Processing /Users/wind/Desktop/project-src/pyt

[2020-12-14 05:04] ngimel commented on #44634
For sparse test gaps, see #48807 - no tests for `coalesce` for different dtypes, add_out is tested for bfloat16 specifically instead of a general tests for dtypes https://github.com/pytorch/pytorch/pull/48807/files#diff-bf009aed03d333c6a63253630fed4465ba5f7e025029fe2a22919759c38beb6dL1305

[2020-12-14 05:42] xiaose26 commented on #42017
return type is TensorList,not Tuple

[2020-12-14 06:14] wangwwno1 commented on #27441
Closed as this issue is resolved.

[2020-12-14 06:14] #27441 closed

[2020-12-14 06:31] ain-soph commented on #14864
Hi, any update on this?
My current library still uses `.pth` to save models and `.pt` to save tensors. Let me know the standard if it's finally determined, so that I could apply it on my library.

I don't recommend `.ptz` if we don't have a `torch.savez` function and the same style as numpy. Do we plan to have it?

[2020-12-14 06:54] xinfangliu commented on #49304
It actually is available. I forgot to refresh my explores.

[2020-12-14 06:54] #49304 closed

[2020-12-14 07:13] t-vi commented on #49299
It's more a correctness thing to me and I didn't get to the real world models in my exploration, but so the IOU above does produce an awful lot of intermediates (this has been one of my standard examples since back when I discussed JIT and fusion for detection models with @fmassa in 2018).
But really, how to fix it would seem to also tie into @jjsjann123 and @eelison 's conversation on slack this

[2020-12-14 07:39] konioyxgq opened #49314 "torch.nn.AdaptiveAvgPool2d results in reproduction"
Using **torch.nn.AdaptiveAvgPool2d** in the network results in no reproduction, and my version is '1.7.0a0+8deb4fe'
Why is that?

cc @albanD @mruberry @jbschlosser @heitorschueroff

[2020-12-14 07:52] hukaidong commented on #42654
same problem here for torch 1.7, other version not being tested yet

[2020-12-14 07:57] zixeljupo commented on #49282
I tested short reproduction script in failing setup, and it did not show any error, even when looping the execution script.

I tested reproduction steps on other machines I have access to, and it did not show any error (one was with 1080ti and another with Titan V). I suppose that it can be a driver problem or something like that.

I'll test this one with cuda 11 + cudnn 8 as xwang233 suggested, a

[2020-12-14 08:22] skyline75489 commented on #49308
Well as the error message pointed out, are you using a newer version of protoc when compiling onnx? Perhaps you're using protoc from homebrew?

[2020-12-14 08:43] GuoxingYan commented on #48779
i have the same problem.
[https://github.com/CSAILVision/semantic-segmentation-pytorch/blob/master/test.py](url)
82 line
pred = as_numpy(pred.squeeze(0).cpu())
.cpu()is very slow

[2020-12-14 08:44] GuoxingYan commented on #48779
i have the same problem.
https://github.com/CSAILVision/semantic-segmentation-pytorch/blob/master/test.py
82 line
pred = as_numpy(pred.squeeze(0).cpu())
.cpu()is very slow

[2020-12-14 08:47] iamxpy commented on #14489
@sebftw It seems that the method `batch_mm` cannot be generalized to the case when the first param `matrix` is a **batched sparse matrix** with shape (b,m,n), right?

[2020-12-14 08:51] #48779 closed

[2020-12-14 09:01] raisinglc commented on #48779
Hi, I have solved the problem .I think the problem should be synchronization of CUDA.we should count after call to cpu. SOrry , I close the issue, by mistake.

[2020-12-14 09:30] raisinglc03 commented on #48779
Hi, heitorschueroff. Sorry for late reply. I wanted to double check the influence of environment. I tested my code on another machine with a 1080ti with both windows and Ubuntu, and I synchronized each steps. My code worked as I expected.

[2020-12-14 09:38] windmaple commented on #49308
What's the version requirement for protobuf? I have tried setting both libprotoc 3.10.0 and 3.11.4 in my PATH and neither works.

[2020-12-14 09:42] raisinglc03 commented on #48779
How did you measure the execution time? Did you put time() before and after the line82? When we activate the gpu mode, cuda might make some of the instructions of next step to cover the bubbles of current steps, so your measurements might not just the actual execution time of line 82. Personally, I think you can try to put synchronize in your code or measure the whole steps of each step of inferen

[2020-12-14 10:00] skyline75489 commented on #49308
Can you try setting `BUILD_CUSTOM_PROTOBUF` to use the protobuf included in submodules?

[2020-12-14 10:15] VincentLeeMax opened #49320 "how could I see the log printed in source code"
I'm debuging the code build upon torch, so I want to see the log of source code in the stdout, such as the log below:
[code]

I found that it's controlled by the relative code of `c10/util/Logging.h`，can any one tell me how to set the flag to control the log level?

[2020-12-14 10:17] learnthehardway93 opened #49321 "Backward hangs with DDP during training."
Hello, I am trying to train a network using DDP. The architecture of the network is such that it consists of two sub-networks (a, b) and depending on input either only a or only b or both a and b get executed. Things work fine on a single GPU. But when expanding the network to 2 or more GPUS the backward just hangs. Any help is appreciated. Thanks.

Here is a minimal example,

`
import numpy as np

[2020-12-14 10:23] learnthehardway93 commented on #49321
Found a relevant question here #23425
 @mrshenli @chenchr Can you help? Thanks.

[2020-12-14 10:23] uwaisiqbal commented on #3194
Awesome nice work @kurtamohler. Quick question- does the implementation ignore the zero tensors from the padding idx when taking the mean?

[2020-12-14 10:33] mariosasko commented on #49296
To see the current state, choose master version in the top-left corner on the docs page. This will become stable once PyTorch 1.7.2 gets released. There was a PR two weeks ago that should've have fixed it but it didn't.

[2020-12-14 10:34] KumaTea commented on #49292
Checked #9926. Closing this.

[2020-12-14 10:34] #49292 closed

[2020-12-14 11:24] Malithi-gif opened #49325 "return torch._C._cuda_getDeviceCount() > 0 CUDA is not available"
## 📚 Documentation

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2019 NVIDIA Corporation
Built on Wed_Oct_23_19:32:27_Pacific_Daylight_Time_2019
Cuda compilation tools, release 10.2, V10.2.89

Why does this error happen?

cc @ngimel

[2020-12-14 11:28] hameerabbasi commented on #46277
I'm working on a fix for this in #49324.

[2020-12-14 11:28] IvanYashchuk opened #49326 "OpInfo-based testing for JIT consistency fails for custom op.output_func"
OpInfo-based `test_variant_consistency_jit` fails when `op.output_func` returns a different number of outputs than `op.get_op`. For example using `output_func=itemgetter(1)` for op returning a tuple with two elements gives with `TypeError: iteration over a 0-d tensor` at [`check_output_types`](https://github.com/pytorch/pytorch/blob/master/torch/testing/_internal/common_jit.py#L20).
The reason is

[2020-12-14 12:32] Malithi-gif opened #49327 "torch._C._cuda_init() RuntimeError: CUDA unknown error - this may be due to an incorrectly set up environment, e.g. changing env variable CUDA_VISIBLE_DEVICES after program start. Setting the available devices to be zero."
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2019 NVIDIA Corporation
Built on Wed_Oct_23_19:32:27_Pacific_Daylight_Time_2019
Cuda compilation tools, release 10.2, V10.2.89

How I fix this error?

cc @ngimel

[2020-12-14 12:39] ldv1 commented on #20692
I just ran into this problem with PyTorch I cloned a few days ago. Is the fix merged ? maybe not working; I had to set "-j" to "-j 4" manually, otherwise my machine would hang;

[2020-12-14 12:44] Malithi-gif opened #49328 "return torch._C._cuda_getDeviceCount() > 0 CUDA is not available"
vcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2019 NVIDIA Corporation
Built on Wed_Oct_23_19:32:27_Pacific_Daylight_Time_2019
Cuda compilation tools, release 10.2, V10.2.89

I already installed Cuda, How this error fix?

[2020-12-14 12:59] lijunzh commented on #47056
I reran the benchmark on PyTorch 1.7.1, the problem persists. The same issue was reported by qubvel/segmentation_models.pytorch#282 as well

[2020-12-14 13:56] rgommers commented on #44634
Cc @vfdev-5, who is looking at structural sparse testing improvements.

[2020-12-14 14:10] sunamber2 opened #49330 "PackagesNotFoundError: The following packages are not available from current channels:"
I am trying to download pytorch on windows ten and this pops up in anaconda when I try to do it. Does anyone know how to fix this.

(base) C:\Users\sunam>conda install pytorch torchvision torchaudio cudatoolkit=10.2 -c pytorch
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (r

[2020-12-14 14:28] aocsa commented on #44634
And I am working on benchmarking utils  for sparse tensors here, https://github.com/pytorch/pytorch/pull/48397

[2020-12-14 14:35] MaeThird opened #49331 "QAT training issue with official tutorial"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. run the  code from official  tutorial  https://pytorch.org/docs/stable/quantization.html#quantization-aware-training
[code]
## Expected behavior

## Environment

 - PyTorch Version (e.g., 1.0): 1.8.0a0+9417e92
 - OS (e.g., Linux): archlinux
 - How you installed PyTorch (`conda`, `pip`, source): source
 - Build command you used (if com

[2020-12-14 15:40] sebftw commented on #14489
@iamxpy true.
But in your case (and most cases) the sparse matrices are 2D (m, n), and not true multidimensional tensors.

Then you would "batch" them by first making the [direct sum](https://en.wikipedia.org/wiki/Matrix_addition#Direct_sum), (b, m, n) -> (bm, bn):

![image](https://wikimedia.org/api/rest_v1/media/math/render/svg/32a3f13f81cec0c182c6495fc166901ae0fa7751),
If the matrices were dens

[2020-12-14 15:47] edchengg opened #49332 "global_pruning costs memory after model is trained"
## 🐛 Bug

 prune --> training --> prune). However, I found it costs GPU memory after pruning.-->

With a very big model such as BERT, I ran into OOM issue after some pruning steps. I suspect the problem is due to the model parameters are updated during training since there are no memory costs if we only apply global prune N times. It will be really helpful if we can identify the problem and solve

[2020-12-14 16:07] heitorschueroff commented on #48779
By "worked as expected" do you mean that you saw the same results with the code running very slow?

[2020-12-14 16:08] gmagogsfm commented on #49326
@Lilyjjo Is this related to recent migration?

[2020-12-14 16:39] mruberry commented on #49326
@gmagogsfm Yep. The test just needs to be updated to handle functions with multiple outputs.

[2020-12-14 16:53] mattip commented on #48225
The code for `__setitem__(tuple)` and `__getitem__(tuple)` both end up in [`select_sparse`](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/TensorShape.cpp#L914), (via `THPVariable_getitem`and `THPVariable_setitem` respectively, which call `applySlicing`). `select_sparse` calls `_sparse_coo_tensor_with_dims_and_tensors` which is a dispatch-defined wrapper for [`new_with_dims_an

[2020-12-14 16:54] #41238 closed

[2020-12-14 16:57] ZhiyuanChen commented on #42654
I do agree it's straightforward. But it doesn't look like expected behaviour.

[2020-12-14 17:00] datumbox opened #49336 "Numeric overflow in JIT"
## 🐛 Bug

## To Reproduce

The following snippet causes numeric overflow in JIT if x is `uint8`:
[code]

We can avoid it if we define the invert differently:
[code]

## Expected behavior

The two implementations should yield equivalent results. The `invert()` should return the same result either it's scripted or not.

cc @gmagogsfm

[2020-12-14 17:28] jbschlosser commented on #42243
I reviewed this issue and agree with @albanD & @Lezcano that proper reparameterization support will make this straightforward. Rather than encapsulating this functionality within an `nn.Orthogonal` module, I personally like the more flexible approach demonstrated in [geotorch](https://github.com/Lezcano/geotorch/tree/master/geotorch) (btw: impressive work @Lezcano!) that would allow orthogonality

[2020-12-14 17:30] kurtamohler commented on #3194
@uwaisiqbal, no, the zeros are taken into account for the reduction (mean/max/sum). EmbeddingBag is just a more efficient way of calculating the result we would get from an Embedding followed by a reduction, and in that case Embedding applies the zero padding before the reduction is performed, so EmbeddingBag should have the same behavior.

[2020-12-14 17:42] Lezcano commented on #42243
I think that it would be worth it to add some basic functionality to core PyTorch, perhaps the `Orthogonal` layer and the `SymmetricPositiveDefinite` constraints (and perhaps low-rank as well?), as those are the most used two by far and will be extremely useful to researchers in when the reparametrisation framework is in place. We can discuss this once the reparametrisation framework is added.

Ab

[2020-12-14 17:42] vadimkantorov commented on #3194
For the `mean` case, the denomintor is well the number of non-pad tokens, right?

[2020-12-14 17:43] yuqirose opened #49338 "a time series library"
## 🚀 Feature

A deep learning-based time series forecasting library with Pytorch.

## Motivation
Time series forecasting has broad significance in public health, finance, and engineering. Traditional time series methods from statistics often rely on strong modeling assumptions, or are computationally expensive.  Given the rise of large-scale sensing data and significant advances in deep learning,

[2020-12-14 17:50] albanD commented on #42243
The general reparametrization should definitely be in core indeed.
For these specific Modules, it is less sure. In particular, we have quite a big process to check new nn.Modules and in particular we usually ask for it to show research papers that make use of it and show that there is a long term trend for this Module.
But it should be fairly easy to implement in a third party lib once the main re

[2020-12-14 17:51] spandantiwari commented on #49218
@padmasreenagarajan - First, I would recommend using the latest PyTorch version for export. There have been numerous updates to ONNX exporter since 1.5. Also, if the checker is passing and if you don't see anything obvious issue with the exporter, then I would recommend opening an issue in ORT repo. If you think there's a export issue then feel free to reopen the issue with proper repro (model and

[2020-12-14 17:51] #49218 closed

[2020-12-14 17:53] spandantiwari commented on #49212
Please check the ONNX doc in PyTorch: https://pytorch.org/docs/master/onnx.html. I don't think this op is supported. You will have to export this possibly as a custom operator to convert this to ONNX.

[2020-12-14 17:53] #49212 closed

[2020-12-14 17:55] spandantiwari commented on #48093
@Suntester - this issue was fixed in torchvision repo. Please try it out and confirm.

[2020-12-14 17:55] #48093 closed

[2020-12-14 17:56] kurtamohler commented on #3194
@vadimkantorov, the denominator includes the number of zeros. Here's an example comparing the results of Embedding+mean to EmbeddingBag. They produce the same result, so we know that EmbeddingBag's mean takes the zeros into account the same way that Embedding+mean does.

[code]

[2020-12-14 17:58] spandantiwari commented on #8250
@SherryPu1219 - That depends on the opset version. The last few releases of PyTOrch have used the later versions of ONNX (ONNX1.6, ONNX 1.7) and there Reshape op takes shape as an input. You can check the opset version in your exporter model and then check the ONNX spec for Reshape op for that opset. If you see any incinsistency please reopen this issue.

[2020-12-14 17:58] #8250 closed

[2020-12-14 17:59] albanD commented on #49256
I would argue that this is expected.
The main reason for the layout contract in backward and all the logic in AccumulateGrad in general is because this attribute is here to stay as the `.grad` field. And so it should have some nice properties.
For `autograd.grad` the user can do what they want with the result and so it is not as important for it to have a specific layout. Also enforcing such a lay

[2020-12-14 18:02] albanD commented on #49214
This is not a problem with numpy compat but python compat I think.
These functions are defined by the python standard and should modify the object inplace.

[2020-12-14 18:03] ngimel commented on #49207
Hey @zasdfgbnm, do you have a feeling for how important workspace limit is in practice currently? There used to be a time where fft and winograd that require large workspace used to be the fastest algorithms, but starting from volta and fp16, the algo with a small workspace is used for a majority of cases?

[2020-12-14 18:05] Lezcano commented on #42243
For what is worth, there is a whole subfield doing optimisation on manifolds, but at the moment, the main software to do that is a one-off library (Manopt) which is written in MATLAB. The paper presenting the software hast 600+ citations.

Boumal, Nicolas, Bamdev Mishra, et al. (2014). “Manopt, a MATLAB toolbox for optimization on
manifolds”. In: Journal of Machine Learning Research, JMLR 15.1, pp

[2020-12-14 18:08] ezyang commented on #48900
I wonder if structured kernels can help here. Kernels should probably explicitly say if they support input-output aliasing, and if they don't say anything, we should assume it doesn't work and add error checking accordingly.

[2020-12-14 18:09] ezyang commented on #49214
This should be pretty easy to fix, just add an imod implementation.

[2020-12-14 18:10] zou3519 commented on #48900
@ailzhang says: we should add docs and think about other ops that don't have this check.
@mruberry suggests we should definitely add an error message here.
@ezyang: TensorIterator kernels have an option for this by default, addmm is not implemented via tensoriterator

[2020-12-14 18:11] zou3519 commented on #49015
@albanD says if you touch the input by just a little (+/- 10), it becomes NaN

[2020-12-14 18:11] jjsjann123 commented on #49299
Guard+Fallback sounds very tempting. Slightly expanding this problem: we can guard more than just `requires_grad_`, maybe as well as branches from conditional statements. This could go beyond for just `DifferentiableGraph`, forward graph alone could also use this guard and simplify its control flow to expose more fusion opportunities.

[2020-12-14 18:12] #48901 closed

[2020-12-14 18:16] zou3519 commented on #49207
We discussed this in the triage meeting. Folks seem generally amenable to option 3, but this is not going to be marked as high-priority because this can be controlled by environment variable.

@mruberry asks: If we can specify this with an environment variable, why should we provide an option?

@malfet mentions that older versions of cudnn might not have said flag

[2020-12-14 18:18] zou3519 commented on #49214
Unsure if actually BC-breaking (we should be able to get away with this), but we should probably include this in the release notes for our users

[2020-12-14 18:18] ezyang commented on #48382
I bet this is because you're initializing threads prior to forking, which leaves the forked thread in a bad state. The size matters because we don't initialize OpenMP unless the input is large enough. Try adding

[code]

to the start of your program

[2020-12-14 18:19] ezyang commented on #48382
I wouldn't close this issue because we should be checking if OpenMP was initialized after a fork and giving an error message in this case.

[2020-12-14 18:20] malfet commented on #48901
Need to follow up with a better mechanism to triage/fix those in the future.

[2020-12-14 18:24] zou3519 commented on #48382
@mruberry says: our docs aren't clear about what is going on here

@ezyang there's a simple docs update we can do here, but really we can also give better error messages here.

@mruberry @ezyang says: we should do both.

We may already have an issue about this. @albanD says #17199 is this same issue for openmp. There's another one for autograd but it was fixed/closed.

[2020-12-14 18:29] supriyar commented on #32680
@NadiaRom in the case of quantized models, we currently do not support running the `convert` step on the GPU (which will be called in the `quantize_dynamic` API). So you will need to move the model to CPU.

Closing this issue, if this a feature you require please open a feature request for quantization. Thanks!

[2020-12-14 18:29] #32680 closed

[2020-12-14 18:55] SsnL commented on #38655
@ngimel I'm curious about the performance tradeoff between this and performing single kernel ops on a giant flat vector containing all parameters (i.e., the actual parameters would be non-overlapping views of it).

[2020-12-14 18:59] ngimel commented on #38655
The benchmarks show that multi-tensor-apply kernels achieve high fraction of peak bandwidth (@mcarilli will know more). The problem with giant flat vector containing params is that it's usually pretty fragile (unless you have a simple training loop, always use all the parameters, no parameter sharing etc).

[2020-12-14 19:05] vadimkantorov commented on #38655
One way to support flatten_parameters would be checking if all inputs to multi_tensor_apply are indeed contiguous in memory (a complication may be if there are any memory alignment gutters), and then launching a single kernel. Then an optional flatten_parameters may be supported to be explicitly used only for advanced cases.

[2020-12-14 19:05] SsnL commented on #38655
@ngimel Nice, thanks for responding quickly. Since the conditions for giant flat vector is actually met for most use cases, it is great to hear that we will have a solution that doesn't sacrifice much performance for generality.

[2020-12-14 19:14] fritzo commented on #35527
@ab-10 sounds reasonable, though I would slightly lean towards requiring `p=0.5` to be explicitly specified.

The goals of `torch.distributions.Bernoulli` are to bundle a variety of functions in a flyweight class interface. There's little overhead to create `Bernoulli` objects, which are always immutable. I see the main advantages of this proposal as (1) the shorter spelling of `torch.bernoulli(-,

[2020-12-14 19:14] shz0116 commented on #49214
By BC-breaking, you mean boundary-check ? I remember I saw this problem when perform % operations using a[0:-1] in a very complicated case.

[2020-12-14 19:22] Doev commented on #17023
Germany:

package                    |            build
    ---------------------------|-----------------
    torchvision-0.8.2          |       py38_cu110         7.3 MB  pytorch

Very very slow and at 15% always an HTTP error.

[2020-12-14 19:24] stas00 opened #49347 "[pre-commit hook] fails on `BLK100 Black would make changes.`"
## 🐛 Bug

Using the instructions at:
https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#pre-commit-tidylinting-hook
I enabled the hook, but it fails with:

[code]

So I can't commit.

This is while doing this PR: https://github.com/pytorch/pytorch/pull/49305

So I had to disable the hook in order to proceed.

Note that if I run `black` on this file - it makes a ton of changes! (none re

[2020-12-14 19:31] SsnL commented on #49214
@shz0116 It means that the behavior will change in a way that old code may not work in the same way in the new version.

[2020-12-14 19:33] albanD commented on #42243
Thanks for the reference!
I would need to take a closer look but it feels like the othogonal case at least would be good wrt to these rules. But indeed we can discuss that further once the main PR is merged.

[2020-12-14 19:59] supriyar commented on #48551
The outputs seem quite different. Adding mobile oncall to get some help on the mobile side.

cc @kimishpatel

[2020-12-14 20:02] supriyar commented on #48448
@jerryzh168 do you have an idea what may be going on with deepcopy here?

[2020-12-14 20:06] supriyar commented on #46971
This issue doesn't seem related to quantization, please clarify if it is.

[2020-12-14 20:10] SharanSMenon commented on #47688
Will they add support for the Neural Engine?

[2020-12-14 20:19] mcarilli commented on #38655
MTA kernels should achieve bandwidth comparable to acting on a giant flat vector.  If you find a realistic case where they don't, let us know.

[2020-12-14 20:21] SsnL commented on #38655
@mcarilli That's great to hear. Will do.

[2020-12-14 20:30] #49219 closed

[2020-12-14 21:06] mruberry commented on #44612
I believe #45330 closed this issue.

[2020-12-14 21:06] #44612 closed

[2020-12-14 21:08] amrragab8080 commented on #47291
@malfet checking with the released  PY 1.7.1 I still get the same error.
[code]
error
[code]

[2020-12-14 21:11] Devchonka commented on #36035
Could the fix for this please please be prioritized? Its been half a year..

[2020-12-14 21:13] malfet commented on #47291
@amrragab8080 this change wasn't picked into 1.7.1 branch as it is not a regression from 1.6.0.

[2020-12-14 21:17] ezyang commented on #48177
cc @malfet

[2020-12-14 21:21] IvanYashchuk commented on #42666
Since `torch.einsum` depends on `sum` and `bmm`, complex input on CUDA is supported with https://github.com/pytorch/pytorch/pull/42553. Complex backward for `bmm` works with https://github.com/pytorch/pytorch/pull/45737.

[2020-12-14 21:21] mcarilli commented on #38655
Optimizers should robustly handle the cases where not all parameters receive grads every iteration.
Updated with a simple filter-helper example I proposed to our mlperf people to reduce MTA list-packing overhead for their fused optimizers.
I'll probably PR a C++ list-packing helper like that for MTA amp.GradScaler.unscale_ soon.

[2020-12-14 21:23] mruberry commented on #42666
Have we updated the relevant tests for einsum, too?

[2020-12-14 21:38] bryant1410 opened #49361 "`IterableDataset` missing from `torch.utils.data.__init__.pyi`"
## 🐛 Bug

## To Reproduce

A linter yields that it can't find `IterableDataset` when imported, but it's actually there:

[code]

## Expected behavior

No error by the linter.

## Environment

 - PyTorch Version (e.g., 1.0): 1.7.1
 - OS (e.g., Linux): Linux
 - How you installed PyTorch (`conda`, `pip`, source): conda
 - Build command you used (if compiling from source):
 - Python version: 3.8.4
 -

[2020-12-14 21:41] gmagogsfm opened #49362 "DictType creation fails to check for invalid annotations"
## 🐛 Bug

Following snippet crashes TorchScript

[code]

Initial investigation shows that we are missing a none-ness check for both `key` and `value` here:
https://github.com/pytorch/pytorch/blob/86cf1e135879238a9fd8d00f06e5096e18f534ba/torch/jit/annotations.py#L286

cc @gmagogsfm

[2020-12-14 21:44] IvanYashchuk commented on #42666
Tested locally that with this change https://github.com/pytorch/pytorch/pull/49189/files#r542826413 tests pass.

[2020-12-14 22:01] mruberry commented on #42666
Thank you @IvanYashchuk! cc @heitorschueroff. Let's be sure to get complex testing for einsum in properly. If not part of that PR then a follow-up. I'll update the tasks to reflect that testing is needed.

[2020-12-14 22:11] jerryzh168 commented on #48448
there are models that doesn't support deepcopy. deepcopy is called here (https://github.com/pytorch/pytorch/blob/master/torch/quantization/quantize.py#L374), so a WA you can do is to call quantize_dynamic with inplace=True, would that work?

[2020-12-14 22:14] ngimel commented on #44182
While for unary functions you technically can preserve the input strides, the general contract in pytorch has been that operations produce non-self-overlapping outputs, and, in fact, pytorch errors out when trying to operate in-place on a self-overlapping tensors (*in some cases, in general this is a hard problem). This behavior is also consistent with numpy. Power users who know what they are doi

[2020-12-14 22:21] mruberry commented on #35674
OK. I marked this as "needs (a little) design" to work out the UX for supporting multiple device types.

[2020-12-14 22:33] ezyang commented on #48246
OK, I have reviewed the design and also taken a look at the repository for some background context. I have two primary concerns. I'll lay them out below, and also give some suggestions for how we might address them. However, I want to be careful to say that these are not directives: I'm open to hearing about other approaches.

**Concern 1: XPU as a name is too generic for what the Intel integratio

[2020-12-14 23:01] zasdfgbnm opened #49370 "PyEval_SaveThread: the function must be called with the GIL held, but the GIL is released"
## 🐛 Bug

[code]

error

[code]

## Environment

[code]

[2020-12-14 23:12] lqf96 opened #49372 "[jit] Support `torch.Tensor.numel()` and `torch.Size.numel()` properly in tracing"
## 🚀 Feature
[jit] Support `torch.Tensor.numel()` and `torch.Size.numel()`  properly in tracing.

## Motivation
Currently, tracing `x.numel()` causes the number of elements of `x` to be statically recorded in the JIT code. This can break programs that expect tensors with dynamic shape. For example, tracing the following function:

[code]

results in the following JIT program code:

[code]

which b

[2020-12-14 23:12] mrshenli commented on #48110
Hey @jaglinux, thanks for sharing more details and sorry about the delay. Let's discuss on the PR.

[2020-12-14 23:37] spandantiwari commented on #48341
@winnietsang - that's something we have considered, but it would require a breaking change to the API. While I can see merits to this, I am not entirely sure of this. Even if we choose to do this, there will be a deprecation period for this.
@houseroad @jspisak @prasanthpul @faxu @BowenBao @neginraoof for their opinion.

[2020-12-14 23:39] spandantiwari commented on #48173
@nehasoni3 - please reopen this issues if you have a repro.

[2020-12-14 23:39] #48173 closed

[2020-12-15 00:13] seemethere commented on #47622
1.7.1 has been released, going to go ahead and close / unpin this issue

[2020-12-15 00:13] #47622 closed

[2020-12-15 00:15] seemethere opened #49375 "Nightly pipeline failures for CUDA 11.0, Conda"
All nightly builds for conda on CUDA 11 are currently broken due to https://github.com/conda/conda-package-handling/issues/71

Downgrading `conda_package_handling` to `v1.6.0` appears to resolve the issue but that seems to be a solution that doesn't feel very long term.

Creating this issue as a tracking issue until we are able to publish CUDA 11.0 conda binaries for our nightlies

cc @ezyang @gch

[2020-12-15 00:22] penguinwu opened #49377 "[JIT-DEBUG] Suppress GRAPH dump in profile-graph-executor"
## 🚀 Feature

Improve JIT's IR-transformation log by skipping graph dump if a transformation does not change any IR in `profiling_graph_executor_impl.cpp`

## Motivation

`PYTORCH_JIT_LOG_LEVEL` is a primary tool for JIT developers to debug problems during IR transformation. One issue identified is that too much information is dumped when enabling the `GRAPH_DEBUG` dump in `profiling_graph_executo

[2020-12-15 00:56] ngimel commented on #49372
see #30774. Now that we have manual_cpp_binding, that should be doable through native_functions.yaml

[2020-12-15 01:05] eellison commented on #49299
Hi @t-vi, thanks for the issue write up!

Agreed that since it's a correctness issue we should fix this regardless of it has a negligible perf improvement. It sounds like we're all pretty aligned as to a solution - guard DifferentiableGraph with what inputs require grad.

A few questions for implementation:

Currently when we create the differentiable graph, the Diff Graph input values are not yet

[2020-12-15 01:37] #48524 closed

[2020-12-15 01:42] supriyar commented on #47295
@kimishpatel did you get a chance to work on a fix for this?

[2020-12-15 02:38] iamxpy commented on #14489
Thank you so much for your detailed explanation, it is extremely helpful!

[2020-12-15 04:07] glaringlee commented on #49261
Not sure whether this should be labeled as `jit`, please change the label if this is not jit related. Thanks.

[2020-12-15 04:10] glaringlee commented on #49268
@quinor
Which pytorch version you were using? I run your test code under latest pytorch, got 1000 good.

[2020-12-15 04:11] OGmenas commented on #30664
i have a rtx 2060 and it worked fine with this toolkit.

[2020-12-15 04:23] skyline75489 commented on #49325
What version of PyTorch are you using? Please do not just ignore the issue template. Fill in as much as information as possible to give everybody more context.

[2020-12-15 04:24] mszhanyi commented on #49010
PyPI issue is resolved.

[2020-12-15 04:24] #49010 closed

[2020-12-15 04:31] glaringlee commented on #49297
cc @malfet

[2020-12-15 04:34] glaringlee commented on #49298
cc @ngimel @VitalyFedyunin

[2020-12-15 04:47] glaringlee commented on #49320
@VincentLeeMax
you can use TORCH_WARN("your message")

[2020-12-15 04:52] glaringlee commented on #49327
@Malithi-gif
Can you post which pytorch version you were using? And can you paste your code a bit so we can take a look at? thx

[2020-12-15 04:53] glaringlee commented on #49328
same as #49325, close this one.

[2020-12-15 04:53] #49328 closed

[2020-12-15 04:55] VincentLeeMax commented on #49320
Hi, glaringlee, thanks for replying. Actually I want to print the LOG(INFO) message in source code, instead of add some code. Now it seems only print the LOG(WARNING) and LOG(FATAL) message, how could I change the log level?

[2020-12-15 04:59] Malithi-gif commented on #49325
skyline75489

I used the version of PyTorch 1.7.1. with Cuda 10.2  and also I tried to previous version pytorch==1.6.0 and torchvision==0.7.0 cudatoolkit=10.1 also. But error not emitted.

[2020-12-15 05:01] skyline75489 commented on #49325
Can you try to copy and paste the output from our [environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py) ?

[2020-12-15 05:09] glaringlee commented on #49338
@yuqirose  Thanks for your interest in contributing time series forecasting feature. We are happy to help, please feel free to ask anything here, we will get you back ASAP.

[2020-12-15 05:10] Malithi-gif commented on #49325
skyline75489 okay. I will try

[2020-12-15 05:10] glaringlee commented on #49338
This is a solid topic, mark as triage review to discuss further action.

[2020-12-15 05:11] glaringlee commented on #49338
cc @gchanan @ezyang

[2020-12-15 05:14] glaringlee commented on #49347
@stas00
Can you rebase your code and try again?

[2020-12-15 05:16] glaringlee commented on #49347
label this as `distributed` since the flake message is in distributed/launch.py. Please feel free to change the label if this is not related to distributed.

[2020-12-15 05:19] mruberry commented on #46971
I think you're right, @supriyar. Initially I thought it was due to the change in quantization, but closer review suggests the 'inplace' attribute is somehow absent from the module, although I can't understand how that would happen. This will need a closer analysis.

[2020-12-15 05:19] stas00 commented on #49347
1. I don't think this is related to distributed. It has to do with auto-formatters setup.

2. I rebased and see no change:

[code]

[2020-12-15 05:23] glaringlee commented on #49361
@bryant1410
Can you tell us more on how you use the linter?
which linter? where you run it, root dir or somewhere else? It would be easier for us to look into if you can provide some simple code to reproduce this issue.

I am using mypy + flake8, no lint error for me though.

[2020-12-15 05:24] stas00 commented on #49347
Also note that this is happening on master too:

[code]

[2020-12-15 05:27] Malithi-gif commented on #49325
Collecting environment information...
PyTorch version: 1.7.1+cpu
Is debug build: False
CUDA used to build PyTorch: Could not collect
ROCM used to build PyTorch: N/A

OS: Microsoft Windows 10 Home Single Language
GCC version: Could not collect
Clang version: Could not collect
CMake version: version 3.18.4

Python version: 3.7 (64-bit runtime)
Is CUDA available: False
CUDA runtime version: 10.2.89
G

[2020-12-15 05:31] glaringlee commented on #49370
@zasdfgbnm
I run your code under pytorch '1.8.0a0+a39398b' with the following env without any problem. I guess the problem is python version. I do see several issues regarding GIL with python 3.9.

Collecting environment information...
PyTorch version: 1.8.0a0+a39398b
Is debug build: False
CUDA used to build PyTorch: 9.2
ROCM used to build PyTorch: N/A

OS: CentOS Linux 7 (Core) (x86_64)
GCC versi

[2020-12-15 05:32] Malithi-gif commented on #49325
skyline75489 How to fix CUDA available: False, I'm a beginner at this type of code.

[2020-12-15 05:37] skyline75489 commented on #49325
How did you install PyTorch packages? Did you use pip and the official PyPI.

Here's the thing. There's only CPU-only version of PyTorch in the official PyPI. You need to use conda to install the CUDA versoin. Or use

[code]

More info can be found [here](https://pytorch.org/get-started/locally/)

[2020-12-15 05:40] glaringlee commented on #49347
@stas00
Yea, this is not related to distributed functional wise.  I labeled it `distributed` since the flake8 message occurred in file `torch/distributed/launch.py`, I want to have distributed team looking at their code see if there is any issue there.

[2020-12-15 05:42] glaringlee commented on #49370
cc @malfet @colesbury who were looking at GIL acquire/release issue. Not sure whether this is related to #47776

[2020-12-15 05:44] malfet opened #49392 "Uninitialized variable was not detected in ASAN CI config"
Have a look at the following code snippet:
https://github.com/pytorch/pytorch/blob/25bc90628109699ebd72a5a4bf68750f98f9251c/torch/csrc/jit/passes/quantization/insert_quant_dequant.cpp#L990-L1000

Uninitialized value of `qscheme` variable defined on line 990 (`c10::QScheme` is an enum class) returned on line 1000.
This codepath is covered by tests (see https://codecov.io/gh/pytorch/pytorch/src/272f

[2020-12-15 05:45] skyline75489 commented on #49325
You see a lot of useful information can be found using the `collect_env` script, which is included as part of the direction in the issue template. For example you're using Windows 10 and the version of PyTorch is 1.7.1+**cpu**. The environements make a huge difference when it comes to unexepcted behaviours. Please always fill the issue template, no matter what the repo is.

[2020-12-15 05:46] kshitij12345 commented on #49325
@Malithi-gif
Could you check what driver version do you have installed on your system. Seems like the driver you have supports CUDA 10.1 but not the next versions.
![Screenshot from 2020-12-15 11-14-37](https://user-images.githubusercontent.com/19503980/102176142-d3a22e00-3ec6-11eb-894f-dc199b4571f7.png)

[2020-12-15 05:47] ayush-1506 commented on #48448
Thanks, will try it out. Just curious: what's the caveat in supporting deepcopy for these models (or certain layers)?

[2020-12-15 05:47] Malithi-gif commented on #49325
skyline75489, Thank you. I will try it.

[2020-12-15 05:50] Malithi-gif commented on #49325
kshitij12345, Are you talking about this

![image](https://user-images.githubusercontent.com/54534252/102176468-76f34300-3ec7-11eb-8ae8-7bb679e0026f.png)

[2020-12-15 05:51] glaringlee commented on #49320
@VincentLeeMax You can try this, I never use it before though.

see here: https://github.com/pytorch/pytorch/blob/702140758fbee844b0e6304cb8f9c10f3fa1fa3a/c10/util/logging_is_not_google_glog.h#L92

You can define CAFFE2_LOG_THRESHOLD = 0 (which is GLOG_INFO) when building pytorch.
Something like CAFFE2_LOG_THRESHOLD = 0 python setup.py install (or develop).

LOG(INFO) should work after this.

[2020-12-15 05:52] Malithi-gif commented on #49325
I used the pip install.

[2020-12-15 05:56] Suntester commented on #48093
@fatcat-z @spandantiwari
I test it and it works fine. Thank you.

[2020-12-15 06:14] kshitij12345 commented on #49325
@Malithi-gif
I am talking about the GPU driver version.

On Linux systems, you can use `nvidia-smi` (see attached screenshot), which allows you to see the installed driver version. Also the top-right corner shows the highest supported CUDA by that driver.

I am not sure of the Windows equivalent for the same.

![Screenshot from 2020-12-15 11-41-32](https://user-images.githubusercontent.com/1950398

[2020-12-15 06:19] brthor opened #49394 "Apparent Memory Leak with torch.as_tensor"
## 🐛 Bug

I am facing a very strange memory leak when using `torch.as_tensor` or `torch.tensor` only in a specific situation. I have placed a complete repro below, which demonstrates the issue clearly and reliably. The repro is reconstructed from an RL environment which accounts for the structure of the various objects and control flow.

Essentially, depending on how the object passed to `torch.as

[2020-12-15 06:19] Malithi-gif commented on #49325
I'm working on windows. And also I haven't GPU.

[2020-12-15 06:21] Malithi-gif commented on #49325
C:\Users\User\Anaconda3\lib\site-packages\torch\cuda\__init__.py:52: UserWarning: CUDA initialization: CUDA unknown error - this may be due to an incorrectly set up environment, e.g. changing env variable CUDA_VISIBLE_DEVICES after program start. Setting the available devices to be zero. (Triggered internally at  ..\c10\cuda\CUDAFunctions.cpp:100.)
  return torch._C._cuda_getDeviceCount() > 0
CUDA

[2020-12-15 06:23] Malithi-gif commented on #49325
C:\Users\User\Anaconda3\lib\site-packages\torch\cuda\__init__.py:52: UserWarning: CUDA initialization: CUDA unknown error - this may be due to an incorrectly set up environment, e.g. changing env variable CUDA_VISIBLE_DEVICES after program start. Setting the available devices to be zero. (Triggered internally at  ..\c10\cuda\CUDAFunctions.cpp:100.)
  return torch._C._cuda_getDeviceCount() > 0
PyTo

[2020-12-15 06:23] skyline75489 commented on #49325
If you have no Nvidia GPU, there's no way you can use CUDA.

[2020-12-15 06:24] kshitij12345 commented on #49325
If you don't have GPU, for CUDA choose `None`. That way you'll install the torch binary with smaller footprint (without CUDA bundled) and you won't see the warning.

[2020-12-15 06:27] Malithi-gif commented on #49325
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2019 NVIDIA Corporation
Built on Wed_Oct_23_19:32:27_Pacific_Daylight_Time_2019
Cuda compilation tools, release 10.2, V10.2.89

[2020-12-15 06:34] skyline75489 commented on #49325
That does not mean anything useful. You'll need CUDA-compatible GPU by NVIDIA together with CUDA-enabled PyTorch, if you want to use CUDA. If you just want to elimate the warning, do as @kshitij12345 pointed out and install the CPU version.

[2020-12-15 06:39] Malithi-gif commented on #49325
Okay, I will do that. Thank you

[2020-12-15 06:39] Malithi-gif commented on #49325
Okay. I will try it. Thank you

[2020-12-15 06:40] windmaple commented on #49308
Just tried 'BUILD_CUSTOM_PROTOBUF=1 USE_PYTORCH_METAL=ON python setup.py install --cmake' and still got the same error

FAILED: third_party/onnx/CMakeFiles/onnx.dir/__/__/caffe2/onnx/torch_ops/schema.cc.o
/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/c++  -DONNXIFI_ENABLE_EXT=1 -DONNX_ML=1 -DONNX_NAMESPACE=onnx_torch -I../cmake/../third_party/benchmark/incl

[2020-12-15 06:54] skyline75489 commented on #49308
You may needo rm the entire `build` folder to clean the CMakeCaches, before trying to rebuild.

[2020-12-15 07:11] gmagogsfm commented on #48549
I tried adding requested overload, but it is ambiguous with an existing overload. Any existing mechanism to work around it?
@eellison

Draft PR:
https://github.com/pytorch/pytorch/pull/49397

Build error due to ambiguity:

[code]

[2020-12-15 07:26] linbinskn commented on #43051
I have the same problem, the layer name is used to correspond pytorch layer and onnx layer. Without such thing, it will be difficult for us to know the layer in onnx corresponded to which layer in pytorch.

[2020-12-15 07:28] skyline75489 commented on #49327
Please do not repeatedly post issues. See #49325 .

[2020-12-15 07:31] thuzhf opened #49398 "Can we add try/except for list/slice indices event when auto_collation is True?"
https://github.com/pytorch/pytorch/blob/39a10fb6528b355791993a67b895934e3c902765/torch/utils/data/_utils/fetch.py#L42-L47

Sometimes when we use automatic batching (auto_collation=True), we hope the dataset's __getitem__() is given a list a slice instead of single index one by one (like in line 44 above), because it could be cheaper to directly load batched data (e.g., bulk reads from a database o

[2020-12-15 07:32] #49327 closed

[2020-12-15 07:38] mruberry commented on #49159
Thank you for reporting this issue, @huaxialongguang. We'll take a look.

[2020-12-15 07:39] mruberry commented on #49157
Updating labels. @albanD, any idea?

[2020-12-15 07:42] #49325 closed

[2020-12-15 07:56] mruberry commented on #48572
Thanks @rgommers, that's helpful. I agree we should deprecate torch.inverse when we have torch.linalg.inv, and deprecate torch.lu_solve when we implement torch.linalg.lu_solve.

cc @heitorschueroff who's going to review linalg deprecations for 1.8 and 1.9.

[2020-12-15 07:56] t-vi commented on #49299
I must admit I never got into the details of Bailouts vs. Guards and I don't have an opinion, I've been looking at Guards because the more knowledgeable people seem to use them...

My take on the Differentiable Graphs is that `requires_grad?` as a tensor type attribute has a lot less potential for surprises than anything shape.
- This would suggest that a mechanism guarding DifferentiableGraphs ju

[2020-12-15 07:57] mruberry commented on #49228
cc @anjali411, who expressed an interest in revising the `torch` page's documentation

[2020-12-15 08:00] mruberry commented on #49227
Thank you for reporting this issue, @Kiyosora. It would be nice to be compatible with NumPy. I added some labels to clarify this will need design to verify we don't break any currently relied-upon behavior.

[2020-12-15 08:20] boeddeker commented on #44182
@ngimel I know that it is non-trivial in general. But for some operations like element wise unary functions it is.
And numpy has the property of keeping the strides for some operations, like element wise unary functions.

Can you explain me, how that works?
I am not able to do that. Here is the example that I tried:

[code]
Note: `d` is the negative value of `c`, but `c` got modified (I thought `t

[2020-12-15 08:23] jimmy-walker opened #49400 "Different loss after iteration by same seed with different reduction way of nll_loss"
## 🐛 Bug
Hello, I faced a problem about reduction way of nll_loss, which give me extremely different result by same seed in GCN.

I am using GCN to do binary text classification. First, I use class weight in the nll_loss as belowed. It gives me good result. As I used same seed, everytime I rerun the GCN, I can get the same result. I can check the log each iteration of loss is same.
[code]
But when

[2020-12-15 08:34] mruberry commented on #49252
This is an interesting optimization to look at. I would put it lower priority than finishing the functionality of torch.linalg, however.

[2020-12-15 08:39] feinsteinben commented on #47908
It is.

[2020-12-15 08:54] yangfansun commented on #701
maybe "python.linting.pylintArgs": ["--generate-members"] will solve the problem.
https://stackoverflow.com/questions/56844378/pylint-no-member-issue-but-code-still-works-vscode

[2020-12-15 08:55] IFICL opened #49401 "use with torch.no_grad() has memory leakage issue with certain conditions"
## 🐛 Bug

Using the resnet18 model to do inference, use `with torch.no_grad()` will increase a lot of memory usages when batch size is equal to some values.

## To Reproduce

Steps to reproduce the behavior:
1. Run the code below with a single GPU with 11GB of memory
[code]

## Expected behavior
During the validation, I used `with torch.no_grad()` and it is supposed to use less GPU memory and comp

[2020-12-15 09:15] quinor commented on #49268
@glaringlee please see the environment I posted originally, pytorch version 1.7.1. Maybe the issue is with the specific CPU backend used; how to check which one is it?

[2020-12-15 09:32] mruberry commented on #49260
Is pretrainedmodels https://github.com/Cadene/pretrained-models.pytorch? If so, the issue may be with changes that library has made. There doesn't appear to be anything in PyTorch or torchvision that would cause these issues.

[2020-12-15 09:34] raikonenfnu commented on #15623
This looks super cool!
Would like to know if there are any updates on this?
@fps7806  I am very curious on how you were able to capture the pytorch ops?
Thanks in advance!

Stanley

[2020-12-15 09:35] raikonenfnu commented on #15623
This looks super cool, Would like to know if there are any updates on this
@fps7806 I am very curious, how were you able to cuda capture the C++ pytorch ops?
Thanks in advance

Raikonen

[2020-12-15 09:40] nehasoni3 opened #49403 "PyTorch-ONNX export failed on ATen operator new_zeros"
Hey,
I am working to convert PyTorch-Tacotreon2 model into ONNX but getting this error:
UserWarning: ONNX export failed on ATen operator new_zeros because torch.onnx.symbolic_opset10.new_zeros does not exist
.format(op_name, opset_version, op_name))

KeyError: 'new_zeros'
Please do needful in this regard.[Link](https://github.com/onnx/onnx/issues/3165)

cc @houseroad @spandantiwari @lara-hdr @Bowe

[2020-12-15 09:49] markusrenegrob commented on #47354
Based on pytorch.org, I tried
pip install torch===1.7.1+cu110 torchvision===0.8.2+cu110 torchaudio===0.7.2 -f https://download.pytorch.org/whl/torch_stable.html

ERROR: Could not find a version that satisfies the requirement torch===1.7.1+cu110

(I use Thonny 3.2.7 as IDE with Windows 10 (64-bit), Python 3.7.7 (32 bit) Tk 8.6.9. I installed the latest CUDA 11.1 Toolkit from Nvidia for my GeForce 1

[2020-12-15 10:04] alexander-shchepetov commented on #49260
@mruberry, of course, pretrained models are from this repo. I have redownloaded them but the situation has not changed

[2020-12-15 11:36] jjsjann123 commented on #49299
Thanks to @eellison for iterating options in great detail.

I'm quite on board with your idea. I think a generalized approach (guaranteed type vs suggestion type), as appealing as it may sound, does not necessarily put much on the table at this moment. The tricky part is to generalize them to be useful in different cases. If the only thing that we are dealing with at this moment are `requires_grad

[2020-12-15 13:24] vfdev-5 commented on #49260
@alexander-shchepetov alexnet model's definition is [tweaked by pretrained-models](https://github.com/Cadene/pretrained-models.pytorch/blob/8aae3d8f1135b6b13fed79c1d431e3449fdbf6e0/pretrainedmodels/models/torchvision_models.py#L129) such that dumping the model itself can probably have errors (what you observe).

Pytorch docs also suggests for compatibility reasons to dump state dict of the model i

[2020-12-15 13:43] nikitaved commented on #49252
@mruberry , I will need this broadcasting better implemented for https://github.com/pytorch/pytorch/pull/49093. Should prove useful for future `linalg` versions of the aforementioned methods.

[2020-12-15 14:36] pas-valkov commented on #49157
Hi @H-Huang. Sorry for delay. This is the best i could give.
[code.zip](https://github.com/pytorch/pytorch/files/5696511/code.zip)

[2020-12-15 14:47] albanD commented on #49268
Hi,

I can actually reproduce this on colab.
But if you actually print the biggest difference, it is in the order of `1e-7` and that would be expected for floating point precision.
If you add a `torch.set_default_dtype(torch.double)` at the beginning, you will see that you get all goods.

So I would say this is expected behavior of limited floating point precision right?

[2020-12-15 14:53] albanD commented on #49157
It works just fine for me with a basic example like:

[code]

So I guess the jit is changing something?

[2020-12-15 14:58] albanD commented on #49260
As @vfdev-5 mentioned above, I am afraid this is expected behavior and a know limitation of python pickling that we can't do anything about... This is why we recommend saving state_dict and not the whole Module.

You can use the suggestion above to be able to save your model's state dict with the old version and then load the state dict in the new version.
Closing as expected behavior. But feel fr

[2020-12-15 14:58] #49260 closed

[2020-12-15 15:12] quinor commented on #49268
So, I was expecting something of an order of 1e-15 (fp32 machine epsilon -> rounding errors) and that would I have dismissed. The 1e-7 just seemed big to me, would you mind to explain @albanD why you find that order of magnitude expected?

[2020-12-15 15:18] ezyang commented on #49256
cc @ngimel @VitalyFedyunin @glaringlee

[2020-12-15 15:20] ezyang commented on #49298
4-bit would be nifty. It has some similar problems to https://github.com/pytorch/pytorch/issues/32867 where 4bit is smaller than the addressable 8bit so the framework would have to be extended in some pretty fundamental ways to make this work.

[2020-12-15 15:21] ezyang commented on #49332
@glaringlee for future reference, we have a pruning module, be sure to check for a more specific module when triaging issues like this.

[2020-12-15 15:36] albanD commented on #49268
1e-15 is the precision of double precision floating point numbers.
Single precision float (that are the default in pytorch) is 1e-6.

That is why I was expecting this kind of precision.
Also that is why changing the default dtype to use double precision numbers makes your test script pass as you get much better precision (in the order of 1e-15 as you would expect).

[2020-12-15 15:38] amrragab8080 commented on #47291
@malfet can you specify which version it will get picked up for?

[2020-12-15 15:57] pbelevich opened #49405 "PyTorch 1.7.1 on macOS/python 3.9 links libtorch_global_deps.dylib with libomp.dylib instead of libiomp5.dylib"
install PT 1.7.1 with python 3.9 and 3.8 and checked `otool -L libtorch_global_deps.dylib`:

with python 3.8 it has @rpath/libiomp5.dylib and libiomp5.dylib exists because was [copied to the wheel package on OS X](https://github.com/pytorch/pytorch/blob/ff097299aeb4a7e2902000c70992f0abefb8a74e/setup.py#L375-L408)
with python 3.9 it has @rpath/libomp.dylib but [libomp.dylib doesn't exist](https://a

[2020-12-15 16:02] quinor commented on #49268
Thank you! That's actually pretty embarassing, I had confused the fp32 and fp64 machine epsilons... It's good to me then, thanks!

Still, should the cpu execution be non-determininistic? I know there is a flag for that in the cuda backend...

[2020-12-15 16:02] hschouman opened #49406 "Bitcode enable for iOS"
## 🚀 Feature
Enable bitcode.
To be able to use bitcode to distribute iOS apps with pytorch lib.
To be able to create app with pytorch lib for watchOS and tvOS.

## Motivation
Bitcode is an intermediate representation of a compiled program. Apps you upload to iTunes Connect that contain bitcode will be compiled and linked on the store. Including bitcode will allow Apple to re-optimize your app bina