[2019-12-17 16:57] gchanan commented on #28430
@peterbell10 someone over here is going to take this.

[2019-12-17 17:00] jdavidberger commented on #31362
https://github.com/scipy/scipy/issues/11237

I think this might be the same issue

[2019-12-17 17:02] smasoudn commented on #16417
This is happening to me when I do the **prediction**!
I changed the batch size from 1024 to 8 and still getting error when 82% of the test set is evaluated.

When I added `with torch.no_grad()` the problem was resolved.

[code]

[2019-12-17 17:05] peterjc123 commented on #31366
You must be doing something wrong there. Although in your post, you say you are doing a Release build, `torchd.lib` is written at the link line, which implies that you are doing a Debug build. Could you please tell me how did you build PyTorch?

[2019-12-17 17:11] vadimkantorov commented on #31252
@ngimel I see! The benefit of arena would be that it’s fully controllable by user and opt-in only (not retiring the existing allocators). But I guess it’s not a small effort

[2019-12-17 17:13] SsnL commented on #31359
You can already directly load data onto GPU.

[2019-12-17 17:14] peterjc123 opened #31370 ""import torch" crashed on Windows"
## 🐛 Bug

'import torch' starts to fail in the nightly jobs beginning from Dec. 15.

https://dev.azure.com/pytorch/PyTorch/_build/results?buildId=18361&view=results
https://dev.azure.com/pytorch/PyTorch/_build/results?buildId=18363&view=results

## To Reproduce

Steps to reproduce the behavior:

1. import torch

## Expected behavior

Import success.

## Environment

Please copy and paste the outpu

[2019-12-17 17:19] peterjc123 commented on #31370
cc @ezyang

[2019-12-17 17:47] peterbell10 commented on #28430
Really, I already have the code for the deprecation warnings in place. I just have some weird test failures that I hadn't worked out yet. https://github.com/pytorch/pytorch/compare/master...peterbell10:warn_deprecations

[2019-12-17 17:47] izdeby commented on #30405
Related issue: [Move options logic in _like functions from parsing layer to implementations](https://github.com/pytorch/pytorch/issues/28093#event-2890531784)

[2019-12-17 17:48] izdeby commented on #31213
Will be fixed by this [PR](https://github.com/pytorch/pytorch/pull/31267)

[2019-12-17 17:50] neginraoof commented on #29706
PR https://github.com/pytorch/pytorch/pull/30972 addresses this issue.

[2019-12-17 17:51] pbelevich commented on #31362
Need better reproduction steps, cannot reproduce with pytorch 1.3.1 and sklearn 0.22:
[code]

[2019-12-17 17:51] neginraoof commented on #28607
This is fixed as part of: https://github.com/pytorch/pytorch/pull/25906
@dashesy Please confirm and close the issue.

[2019-12-17 18:07] rohan-varma commented on #31325
@xush6528, shouldn't we be able to ignore these leaks with the API that @mrshenli added? https://github.com/pytorch/pytorch/pull/30217

[2019-12-17 18:09] xush6528 commented on #31325
@rohan-varma Shen's point was we shoudn't ignore rref laek in unit tests. We want to be able to detect leaks proactively.

[2019-12-17 18:16] gchanan commented on #30987
You should document every thing `.data` currently allows you to do, to make sure we have a preferred workaround.  For example, one thing I don't see listed here is changing the dtype of a tensor in place.

[2019-12-17 18:19] pbelevich commented on #31359
Should we support NVIDIA DALI in pytorch?

[2019-12-17 18:25] mruberry commented on #31135
It would be nice to have more consistency.

[2019-12-17 18:32] pbelevich commented on #31362
Maybe scipy issue

[2019-12-17 18:50] RebolloM opened #31377 "adam.py - ValueError: too many values to unpack (expected 2)"
I am trying to run the below pre-train script using [MASS-Summarization](https://github.com/microsoft/MASS/tree/master/MASS-summarization) and fairseq and I get the below error. Please advise?

Windows 10
CUDA 10
python 3.6
fairseq==0.9.0
torch==1.2.0

...\MASS\MASS-summarization>fairseq-train processed --user-dir=mass --task=masked_s2s --arch=transformer_mass_base --sample-break-mode=none --token

[2019-12-17 18:50] neginraoof commented on #31296
This is an onnxruntime issue. ORT used to have support for 2D ConvTranspose. It has recently been updated to support 1D ConvTranspose as well. But 3D is not supported yet. You can follow this issue through: https://github.com/microsoft/onnxruntime/issues/965

[2019-12-17 18:59] rabbitwayne commented on #31252
Is it possible for Pytorch to allocate fragmented memory. In my case #31353,

RuntimeError: CUDA out of memory. Tried to allocate 1.86 GiB (GPU 0; 31.72 GiB total capacity; 24.58 GiB already allocated; 1.28 GiB free; 5.08 GiB cached)

the system is trying to allocate 1.86G memory. Although there is no continuous 1.86G memory, but can the allocator pick several fragments and piece together 1.86G me

[2019-12-17 19:01] pbelevich commented on #31377
@RebolloM is it fairseq issue? If so please create an issues in fairseq project and close this one

[2019-12-17 19:10] #31377 closed

[2019-12-17 19:19] anjali411 commented on #22234
Resolved in https://github.com/espnet/espnet/pull/1343

[2019-12-17 19:20] pbelevich commented on #31336
Maybe related to #1664

[2019-12-17 19:25] t-vi commented on #22234
@anjali411 ?

[2019-12-17 20:28] jacobmou commented on #21737
Hi @ezyang , I'm wondering if this issue is fixed in 1.2 release?

I have experienced this issue in runtime after building libtorch in a totally different building environment with static linking. However, specifying dynamic linking works like a charm.

[2019-12-17 20:38] Darktex commented on #22439
I think splitting them up is the better idea.

I would shoot for something along these lines:

1. `torch.metrics` which should be a package which essentially just reimplements what we have in `sklearn.metrics` in a purely functional manner. I would say that this need not be parallelizable.
2. An external package `cool_metrics` that packs those implementations into objects. I would propose that it

[2019-12-17 21:04] gchanan commented on #28430
ok, assigning it back to you.  Thanks for the update.

[2019-12-17 21:08] gottbrath commented on #31316
Is the model you are trying to quantize: https://github.com/pytorch/vision/blob/master/torchvision/models/detection/faster_rcnn.py

[2019-12-17 21:08] kaszperro commented on #22439
It makes sense.
But what do you mean by "external package"? Package outside of PyTorch completely ex: separate repo?

[2019-12-17 21:11] jamesr66a commented on #30848
@eellison is this still an issue?

[2019-12-17 21:16] gchanan commented on #31295
This isn't actually a bug -- @anjali411 is going to post why.

[2019-12-17 21:19] #30848 closed

[2019-12-17 21:26] jamesr66a commented on #31192
This indeed looks like a bug. Notice the `from_float` method directly pulls the bias from the original module: https://github.com/pytorch/pytorch/blob/cc8d6342fced4218f03f11d31b1316559aa80fae/torch/nn/quantized/dynamic/modules/rnn.py#L239

Whereas the __init__ constructor instantiates an int32 tensor: https://github.com/pytorch/pytorch/blob/cc8d6342fced4218f03f11d31b1316559aa80fae/torch/nn/quantiz

[2019-12-17 21:31] anjali411 commented on #31295
This is not a bug. The loss in case of mean is calculated by the following formula mentioned in the documentation https://pytorch.org/docs/stable/nn.html#nllloss
According to the formula:
For CPU example:
when reduction = mean, loss =  Σ ln/(w1+w0+w4) for n=1 to 3 where li's are the elements in the loss tensor for reduction = none
Thus loss = (2.0560 +  2.6612 + (-2.2593))/(0.9580+1.3221-0.7506) =

[2019-12-17 21:32] mruberry commented on #31360
@timtody It's hard to diagnose every model, but it's not clear you should expect a significant speedup in this case.

Can you look at CPU utilization when you're running with a single process vs. when you're running with multiple processes? Maybe the single process is using multiple cores.

[2019-12-17 21:33] LucaMoschella commented on #31362
Mmmh I'm not sure why you can't reproduce.

I'll share my complete environment (with [poetry](https://github.com/python-poetry/poetry)), maybe it can help, but it will download several packages.

This [test.zip](https://github.com/pytorch/pytorch/files/3975582/test.zip) folder contains: `poetry.lock`, `pyproject.toml`, `outorder.py` and `inorder.py`.

[code]

Content of the files:

[code]

[code]

[2019-12-17 21:36] anjali411 opened #31385 "NLLLoss documentation: it's unclear in the documentation what yn means"
## 📚 Documentation

 [https://pytorch.org/docs/stable/nn.html#nllloss](url) yi = ith element in the target tensor

[2019-12-17 21:36] #31295 closed

[2019-12-17 21:37] zou3519 commented on #26123
Adding an entry to robots.txt for "docs/stable/_modules" should do the trick, I'll push a change later this week. We should also not forget to update robots.txt for all of our past releases of pytorch...

[2019-12-17 21:38] driazati opened #31386 "[jit] Python type hints in TorchScript classes don't work"
The `self.s` assignments should be equivalent, but only the `torch.jit.annotate` one actually works

[code]

[2019-12-17 21:40] rohan-varma commented on #25516
Another example of why this is needed:

With the changes I added in https://github.com/pytorch/pytorch/pull/31381, a runtime error was being raised in `future->markCompleted` and the program would just hang, which made it a lot harder to debug. Catching the exception in `ProcessGroupAgent::enqueueRecv` would have raised the issue faster, and  could improve the debugging experience.

[2019-12-17 21:44] zou3519 commented on #26123
Yes, we should add this. Right now there is very little automation in our docs release process but that would be good to have.

I'm not sure how to modify Sphinx to have it emit a meta noindex. @vadimkantorov does this still apply? I noticed that when googling for the thing linked in the comment, it doesn't appear anymore, so it looks like google does re-building of their index once in a while.

D

[2019-12-17 22:01] jdavidberger commented on #31362
I linked a docker image with the related issue in scipy. Seems like they
are fixing it though.

On Tue, Dec 17, 2019, 4:33 PM Luca Moschella <notifications@github.com>
wrote:

[2019-12-17 22:10] bhosmer commented on #30405
@gchanan this was my high level, nearly content-free summary of your idea that we simplify the main pipeline by no longer muxing the Declarations.yaml items through it. I don't have any concrete plans at the moment - not sure it's the highest priority since it doesn't so much make the current codegen more complicated as it does pin it to a particular strategy (where the right C++ local names are a

[2019-12-17 22:12] giaxxi commented on #24308
I'm having the exact same issue and tried the solution which seems have solved:
[code]
But then I'm getting different errors.

Maybe you can share some tips?

[2019-12-17 22:17] mingbowan commented on #30331
We will start building v1.4 RC release. No more patches after this comment.

cc: @peterjc123

[2019-12-17 22:33] driazati commented on #30331
Is it possible to still include #31390?

[2019-12-17 22:37] zhangguanheng66 commented on #30331
And this one https://github.com/pytorch/pytorch/pull/29001. This is a patch to avoid BC breaking. It would be great to include it in v1.4.0 release.

[2019-12-17 22:59] iseeyuan opened #31391 "Error "builtin cannot be used as a value" when add Python snippets in C++"
## 🐛 Bug

It looks like a great way to define methods in Python format from C++, for debugging and testing purpose.
However, I realized that not all eager-mode definitions are accepted.

## To Reproduce

As an example, if I add this snipped in my test,

[code]

There's run-time error:

[code]

## Expected behavior

There should be no difference between the models/methods I could add in eager mode

[2019-12-17 23:00] mingbowan commented on #30331
I'll let @gchanan  or @soumith  to make the call

[2019-12-17 23:39] bhosmer commented on #30405
@fmassa Hi Francisco - the hope is that we can move to a single piece of machinery for unfolding bindings from ops, and that might be a codegen pipeline that's pretty different from today's (or potentially no codegen at all). So I'd say the best bet is to hold off until a new setup has stabilized (moving to it will be a multistep process, ofc).

[2019-12-17 23:44] fuzic opened #31394 "torch.scatter_logsumexp"
## 🚀 Feature
torch.scatter_add will distribute values over an output tensor, summing if multiple values land in the same destination coordinate.

torch.logsumexp performs addition in linear space of quantities with log-space values, useful for adding probabilities which are stored as log likelihoods, for example.

torch.scatter_logsumexp would behave the same as torch.scatter_add, but instead of l

[2019-12-17 23:57] Roffild opened #31396 "Gradients == 0 (zero)"
## 🐛 Bug

Python 3.7 / Pytorch 1.3.1 / Windows 10

Gradients on this data are not calculated. I can’t understand why.

[code]
[code]
[pytorch_grad.zip](https://github.com/pytorch/pytorch/files/3975975/pytorch_grad.zip)

[2019-12-18 00:05] BowenBao commented on #30331
Request for patch from MSFT: https://github.com/pytorch/pytorch/pull/31397

Add ONNX Export Support to floor_divide

This PR is required to unblock onnx export for torchvision models, fixing the breakage introduced recently from torchvision side.

cc @spandantiwari @lara-hdr @fmassa @houseroad

[2019-12-18 00:14] mruberry commented on #31101
Thank you for providing such a clear reproduction. I also see the memory increase until it hits a limit, then it stops increasing.

[2019-12-18 00:23] Krovatkin commented on #30801
@kevinstephano I'm working on a fix. Unfortunately, fixing this exposed another fairly tricky problem, I was trying to tackle in the last few days.

[2019-12-18 00:24] eellison commented on #30331
@mingbowan what can we do to land #30750 ? it is a critical patch.

[2019-12-18 00:36] Krovatkin commented on #30801
One of the enhancements needed to make sure relu + dropout are fused.
https://github.com/pytorch/pytorch/pull/31392

[2019-12-18 00:41] JoveIC commented on #31295
@anjali411 Thank you for the explanation

[2019-12-18 01:27] chochobo commented on #25533
I'm having the same problem.

[2019-12-18 02:06] knsong opened #31405 "error when building pytorch from source"
hi,
when building pytorch from source, I will get a compilation error, details in:
https://discuss.pytorch.org/t/build-pytorch-from-source-error/64331
how to fix that?

[2019-12-18 02:33] #28607 closed

[2019-12-18 03:05] daifeng2016 commented on #31311
The unet++implementations are all from github, the pytorch link is  https://github.com/ShawnBIT/UNet-family/blob/master/networks/UNet_Nested.py, while the keras link is https://github.com/MrGiovanni/UNetPlusPlus, . In addition, my pytorch version is 1.0.0, while my keras version is 2.2.4 with tensorflow backend (version is 1.12.0).

[2019-12-18 03:07] daifeng2016 commented on #31311
Below is the environment info:
PyTorch version: 1.0.0
Is debug build: No
CUDA used to build PyTorch: 9.0

OS: Microsoft Windows 10 Pro
GCC version: (MinGW.org GCC-8.2.0-5) 8.2.0
CMake version: Could not collect

Python version: 3.6
Is CUDA available: Yes
CUDA runtime version: 9.0.176
GPU models and configuration: GPU 0: GeForce GTX 1080 Ti
Nvidia driver version: 390.77
cuDNN version: C:\Program Fi

[2019-12-18 03:21] elliottzheng commented on #5672
The sparse version of bmm would be helpful when implementing GNN or other network based on sparse matrix.

[2019-12-18 03:43] mmiakashs commented on #3223
@ptrblck Thanks for this feature.
Is it possible to extend this feature to split a tensor on a dimension with overlapping split sequence, somewhat like torch.nn.Unfold . However, torch.nn.Unfold is only limited to split batched images, like 4d tensor. But is there any fastest and easiest way in PyTorch to split batch of sequence images (B x L x C x W x H) with overlapping splits on a particular di

[2019-12-18 03:56] seanyuner commented on #30563
try to define the symbolic function yourself, following [https://pytorch.org/docs/stable/onnx.html#aten-operators](https://pytorch.org/docs/stable/onnx.html#aten-operators).

[2019-12-18 04:05] knsong commented on #31405
solved by upgrading binutils from 2.23 to 2.27.

[2019-12-18 04:05] #31405 closed

[2019-12-18 04:56] tibbers622 opened #31409 ""import torch" crashed after "import sklearn""
## 🐛 Bug

`import torch` crashed segmentation fault

## To Reproduce

Steps to reproduce the behavior:

[code]

at first `import torch` and then `import sklearn`
it works well.
[code]

## Expected behavior

not happen the `segmentation fault`

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/uti

[2019-12-18 05:26] ezyang commented on #31362
If you want to debug this some more, try also applying https://github.com/pytorch/pytorch/pull/28536 and then seeing if that fixes the problem.

[2019-12-18 05:30] ezyang commented on #21737
We haven't explicitly fixed this, but the mobile work done recently has made the state of static linking better on master. I haven't checked how many of the issues I've listed here are still a problem.

The error message you're seeing looks consistent with the static initializers being pruned away. Try the suggested `-Wl,--whole-archive -Wl,--no-as-needed` I did above.

cc @dreiss @ljk53

[2019-12-18 05:34] ezyang commented on #31370
Do you know if the Dec 14 builds are OK, and what the respective commits of the builds were?

[2019-12-18 05:35] ezyang commented on #31370
I did a quick scan for commits on Dec 14 and Dec 15 but didn't see anything suspicious.

[2019-12-18 05:37] ezyang commented on #31197
We already try hard to turn off CUDA when ROCM is enabled; it just seems like USE_NVCC isn't being turned off in that case

[2019-12-18 05:38] ezyang commented on #23795
No, 1.4 is going to support Python 2, because we branch cut before the Python 2 EOL

[2019-12-18 05:41] ezyang commented on #31315
This is probably because c10 contains a tiny gflags polyfill that you're not supposed to use if you're actually linking against gflags. I'm not too sure about how to fix it though.

[2019-12-18 05:43] ezyang commented on #17835
It might be right to set this is as low priority, but "PyPy not supporting the full C API we need" is not a good justification for low priority: as the initial comment says, they actually did have a working PyPy integration at time of writing, with only a few fixup patches needed.

[2019-12-18 06:03] ponzioPJ opened #31410 "can't close torch.utils.tensorboard.SummaryWriter in __del__"
The program can not exit (print 'closed') when I try to close the `SummaryWriter` in `__del__()`.
[code]
The program can exit if the `close()` is not in `__del__()`.

Python 3.7.5

Pytorch 1.3.1

tensorboard 2.0.0

OS: Ubuntu and Win10

[2019-12-18 06:31] seeker-Liu opened #31411 "Pytorch C++ API only works with -O0 optimization"
## 🐛 Bug

My program is suffering from a weird bug. It works well with -O0 optimization but crashes with any higher optimization level (-O, -O2 and -O3).

## To Reproduce

My program load the program with the following code
[code]

Then pass it by reference to another function, and work about it with the following code

[code]

However program crashes with the following info printed to console in

[2019-12-18 06:39] peterjc123 commented on #31370
@ezyang It should be somewhere between ec92711aac5537bb509535c74bf59ccbf4d72db2 and 36d17f4105f48d264fe085ce3dc0e4e825ebfb42.

[2019-12-18 06:43] seeker-Liu commented on #31411
Note: The module is pre-trained in Python.

[2019-12-18 06:53] anguschowchowxu commented on #31296
Thx a lot. This solves my confusion.

[2019-12-18 07:04] Enealor commented on #31396
When running this myself, the gradients were zero because the variables `m` and `outputs` were equal. In this situation, it is correct for the gradients to be zero. To verify this reasoning, you can update the model parameters manually using
[code]
and test the model again. The second test will produce `m = [.5, .5]`, and the gradients will be non-zero for this model.

[2019-12-18 07:22] kamo-naoyuki opened #31412 "torch.stft causes segmentation fault with data parellel."
## 🐛 Bug

torch.stft causes segmentation fault with data parellel.

## To Reproduce
[code]

This exits with segmentation fault after `single gpu passed`

## Expected behavior

Work with data_parallel.

## Environment

 - PyTorch Version (e.g., 1.0): 1.3.1-py3.7_cuda10.0.130_cudnn7.6.3_0 (1.0.1 can work)
 - OS (e.g., Linux): CentOS7
 - How you installed PyTorch (`conda`, `pip`, source): conda
 - Bu

[2019-12-18 07:32] WhatAShot commented on #31359
Sorry, I didn't make it clear. I meant something like
[code]

[2019-12-18 07:46] ptrblck commented on #3223
@mmiakashs With `tensor.unfold` you can directly specify which dimension you would like to unfold:
[code]
Would that work for you?

[2019-12-18 08:30] Lyken17 opened #31413 "Allreduce for sparse tensors is not working"
[code]

Code for allreduce sparse tensors

[code]

Results

[code]

Since the usage (sparse allreduce) is not documented yet https://github.com/pytorch/pytorch/issues/1303, I assume the usage is the same as dense tensors. However, it does not yield the expected result.

The full code snippet is attached below

[code]

cc @ezyang @gchanan @zou3519 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @s

[2019-12-18 08:38] mmiakashs commented on #3223
@ptrblck Thanks a lot for your quick response.
Yes, that's what I am looking for. But according to the docs unfold is only working for 4d tensor only. I was working with 5d tensor (B x L x C x W x H). Will it work, if I merge the batch(B) and sequence length(L) in one dimension then apply the unfold. Finally, unmerge the batch(B) and sequence length(L)

[Docs: torch.nn.unfold](https://pytorch.org/

[2019-12-18 08:42] Sakulaki opened #31414 "On pytorch mobile (android), module forward returns org.pytorch.IValue type. But on my detection module, suppose to return a tuple"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2019-12-18 08:42] Sakulaki opened #31415 "On pytorch mobile (android), module forward returns org.pytorch.IValue type. But on my detection module, supposes to return a tuple IValue."
## 🐛 Bug

The original code in pytorch mobile demo:
final Tensor outputTensor = mModule.forward(IValue.from(mInputTensor)).toTensor();

my code:
final IValue[] outputTensor = mModule.forward(IValue.from(mInputTensor));
or
final Tensor[] outputTensor = mModule.forward(IValue.from(mInputTensor)).toTensor();

I need to separate the tuple output first and analysis.

## Environment
org.pytorch:pytorch_

[2019-12-18 08:54] #31414 closed

[2019-12-18 08:56] tsungruihon opened #31416 "macOS libtorch's batchnorm.h is not the same as the Linux's version"
I have notice that `batchnorm.h` in macOS is not the same as the Linux's version.

In macOS version, the `batchnorm.h` is

[code]

But in the Linux's version seems having more contents than macOS's version.
[code]

cc @yf225

[2019-12-18 09:31] FantasyJXF commented on #17479
Didnt't work on my case. I successfully compile my project with Pybind11 and Libtorch, and  `import torch` first on my case, but still it run into error like this

[code]

[2019-12-18 09:34] ozcangundes commented on #31247
Hello @zou3519 ! When I add the data types of tensors as "long" like shown below, the problem does not occur again, surprisingly.
[code]

[2019-12-18 09:39] t-vi commented on #31247
Thank you, this is an important hint. Can you run with CUDA_LAUNCH_BLOCKING=1 and report the traceback, though? It would help to know which function precisely errored. (See the link above for more explanation.)

[2019-12-18 09:42] aminsabetsarvestani commented on #31316
Yes, This is the model. I got the mentioned errors in the  RegionProposalNetwork part of the network when calling the box_coder.decode(pred_bbox_deltas.detach(), anchors) function.

[2019-12-18 09:47] AssassinTee commented on #24838
I had the same error message and ran out of cuda memory. I just fixed it by splitting one huge operation in multiple small ones.

[2019-12-18 10:34] desikazone commented on #4207
#Yehudaltkin Thanks! After several days of endless search for solution, finally got pytorch 0.3.0 installed following your code... !!! :)

[2019-12-18 10:42] vadimkantorov commented on #29697
Btw the same questions on scheduler and (not explicit) chaining design can reappear if this is repurposed for scheduling things other than lr (momentum and maybe sth else)

[2019-12-18 10:44] harshitagrawal294 opened #31417 "Different return type for MNIST and CIFAR10 datasets"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.Run the given code sample

train=datasets.MNIST(root='/dataset/', train=True, download=True,transform=transform)
print(type(train.data))

train=datasets.CIFAR10(root='/dataset/', train=True, download=True,transform=transform)
print(type(train.data))

## Environment

Please copy and paste the output from our
[environment collection scri

[2019-12-18 10:55] leonardoaraujosantos commented on #21108
Guys, I think the issue is somehow related to how internally GRU/LSTM deal with the hidden/cell states when they are None, for example the following code works on 1.2.0 and 1.3.0

[code]

[2019-12-18 11:03] peterjc123 opened #31418 "ICE on Windows"
## 🐛 Bug

Error text:
[code]

## To Reproduce

Steps to reproduce the behavior:

1. python setup.py install

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

[2019-12-18 11:04] peterjc123 commented on #31418
cc @ezyang

[2019-12-18 11:18] peterjc123 commented on #31108
It seems that this issue is only reproducible for the binaries compiled against VS 2019.

[2019-12-18 11:24] kan-bayashi commented on #31409
This seems to be caused by scipy update.
https://github.com/scipy/scipy/issues/11237

[2019-12-18 11:25] phillies commented on #30655
Here's a gist that converts a tensor to a RGBA bitmap with grayscale values:
https://gist.github.com/phillies/830f52b0bf592c32fc507669694f66d8
You can get a floatArray from a tensor using `myTensor.dataAsFloatArray`

[2019-12-18 11:30] MGough commented on #31409
This is a duplicate of https://github.com/pytorch/pytorch/issues/31362

[2019-12-18 11:40] phillies opened #31419 "[android] initHybrid missing/broken in pytorch 1.4.0 nightly"
## 🐛 Bug

Trying to load a tensor from a blob leads to an error:
    java.lang.UnsatisfiedLinkError: No implementation found for com.facebook.jni.HybridData org.pytorch.Tensor.initHybrid() (tried Java_org_pytorch_Tensor_initHybrid and Java_org_pytorch_Tensor_initHybrid__)
        at org.pytorch.Tensor.initHybrid(Native Method)
        at org.pytorch.Tensor.initHybrid(Tensor.java:337)
        at or

[2019-12-18 11:46] albanD commented on #31409
Closing as duplicate of #31362

[2019-12-18 11:46] #31409 closed

[2019-12-18 12:11] hanyc0914 commented on #18414
Hi, I wonder why bn ans bias doesn't need apply lars optimizer, because I couldn't find any explaination in paper. Is there any proof or official elaboration? Thank you very much!

[2019-12-18 12:11] songyuc opened #31420 "Program quit exceptionally after executing the function of transforms.Normalize((0.5,), (0.5,))"
## 🐛 Bug

Program quit exceptionally at executing  the function of transforms.Normalize((0.5,), (0.5,))

## To Reproduce
Reproducing it needs my data.
And I want to know how can I send it to you?

Steps to reproduce the behavior:

1. Loaded my data into im0 as np.ndarray [28,28]
2. Expanding the dimensions of im0 as `im1 = np.expand_dims(im0, axis=2)`
3. Getting a deep copy as `a = im1.copy()`
4.

[2019-12-18 12:19] wallcuber commented on #31363
Do need windows support for distributed training. I can't train [ultralytics/yolov3](https://github.com/ultralytics/yolov3/blob/master/train.py) with my 4 GPUs. It limits the scale of my dataset and the size of input image.

[2019-12-18 12:24] Jonas1312 commented on #31370
Hi, I tried to install the latest torch nightly build and `import torch` crashes silently:

![Capture](https://user-images.githubusercontent.com/15847892/71086164-6ebfd500-2199-11ea-8d33-4bff6d9b3145.PNG)

If you need help to debug the problem don't hesitate 🙂

[2019-12-18 12:30] phillies commented on #31419
Complete repo to reproduce the issue: https://github.com/phillies/pytorch_debug_android

[2019-12-18 12:50] peterjc123 commented on #31370
@Jonas1312 Thanks for the help. The normal process is to build the RelWithDebInfo binaries and then attach the VS debugger to monitor/start the process `python.exe` and type in `import torch` in the python cli. Finally, post the details here so that we will know where the problem is. But actually you could try sth. first to locate approximately where the root cause is before trying to build PyTorc

[2019-12-18 13:22] Jonas1312 commented on #31370
@peterjc123 ok I'm gonna try that

BTW, Dec 14 build works:
![Capture](https://user-images.githubusercontent.com/15847892/71089771-d4b05a80-21a1-11ea-8526-6a32adb783f3.PNG)

[2019-12-18 13:42] shixinglingguihua commented on #31049
this is mine env :system is ubuntu 18.04 and GPU is amd vega56 ,adm dev info is latest version ROCm2.10.
here is mine build step:
 install amd dev  with https://rocm-documentation.readthedocs.io/en/latest/Installation_Guide/Installation-Guide.html#ubuntu

[2019-12-18 14:09] shapovalov opened #31421 "Matrix multiplication returns wrong result when middle dimension is 0"
## 🐛 Bug

This may be a marginal use case. I expect the result of multiplying N×0 by 0×M matrices be `zeros(N, M)` as a particular case of matrix multiplication definition. However, `bmm` and `matmul` neither fail nor return zero tensor. Most likely, memory initialisation is skipped in that case.
Let’s discuss whether we consider it a legitimate input, and either fix the result, or raise an except

[2019-12-18 14:17] dreamgonfly opened #31422 "Support DataParallel with PackedSequence"
## 🚀 Feature
Ability to feed PackedSequence into DataParallel model as input. This can reduce wasteful data transfer when dealing with variable length data.

## Motivation
Dealing with variable length data as input to DataParallel is painful. If you put them into a python list, DataParallel scatter them along wrong axis (instead of splitting the list into equal size, it splits the elements inside

[2019-12-18 14:36] peterjc123 commented on #31370
@Jonas1312 Yeah, I know. The CI was green that day.

[2019-12-18 14:37] Jonas1312 commented on #31370
@peterjc123
[gflags.txt](https://github.com/pytorch/pytorch/files/3978871/gflags.txt)

[2019-12-18 14:58] peterjc123 commented on #31370
Call stack extracted from the log:
[code]

[2019-12-18 15:04] aamiot commented on #24235
Hello, thanks for the interesting thread but I am still confused. Basically I have a similar issue as I would like to onnx export a recurrent model accepting variable length input.

[code]
then it is easy to export as onnx using

[code]

We can then load it using the onnx runtime (I am on windows using pytorch 1.2 )

[code]

But if you change the 100 size it fails as the module has been traced and

[2019-12-18 15:13] markdjthomas commented on #22960
I am using `torchvision.models.detection.maskrcnn_resnet50_fpn`. After updating to the nightly build, I am getting a different error not related to the first:

[code]

[2019-12-18 15:49] SsnL commented on #31412
Seems to work on `'1.4.0a0+0723b8b'`... maybe someone with 1.3.1 can try to reproduce.

[2019-12-18 16:04] DenisYarullin commented on #31366
Problem is resolved. Protobuf was missed. VC++ 2017 toolset 14.11 doesn't work. I used 14.16. Issue may be closed. Thanks

[2019-12-18 16:04] #31366 closed

[2019-12-18 16:21] NotNANtoN opened #31423 "Add option in LSTM layer to access all cell states of all time steps"
## 🚀 Feature

The LSTM layer in torch.nn should have the option to output the cell states of all time steps along with the hidden states of each time step.

## Motivation

When implementing Recurrent Replay Distributed DQN (R2D2), [See here.](https://openreview.net/forum?id=r1lyTjAqYX) I need access to all the hidden states and cell states of all the time steps of a sequence. Those hidden states a

[2019-12-18 16:22] markdjthomas commented on #22960
Nevermind, I am able to export the model successfully with the nightly by specifying `opset_version=11`. Thanks for your help.

[2019-12-18 16:23] #24554 closed

[2019-12-18 16:23] #24555 closed

[2019-12-18 16:23] #24694 closed

[2019-12-18 16:23] #24695 closed

[2019-12-18 16:31] albanD commented on #30987
Currently `.data` have few use. The main ones are below:
- `y = x.data` is often used to get a new Tensor that does not share the history of `x` but looks at the same memory. This should be replaced with `y = x.detach()`
- `x.data.copy_(foo)` is used to change the content of `x` without the autograd knowing about it. this should be preferably replaced by
[code]
- `y = x.data` is sometimes used (in

[2019-12-18 16:34] vadimkantorov commented on #30987
about last point: sometimes reinterpret is useful and can be made explicit: https://github.com/pytorch/pytorch/issues/29013

[2019-12-18 16:40] kurtamohler commented on #22577
If anyone else is working on this issue, please let me know. Otherwise, I'm starting to look into it.

[2019-12-18 16:46] lanpa commented on #29906
https://github.com/lanpa/tensorboardX/pull/537 This should be the fix and will be ported here after unit tests are ready.

[2019-12-18 17:00] bpstark commented on #25251
This should not raise an exception on export, instead this should be handled in the same manner that adding a tensor of 2 different types is handled when not inside a loop. The issue here is that when inside a loop, the scripting graph strips away some of the type information. As such the ONNX implicit type cast checker is unable to recognize that there should be an implicit cast occurring since t

[2019-12-18 17:08] izdeby commented on #31213
Fixed

[2019-12-18 17:08] #31213 closed

[2019-12-18 17:21] ngimel commented on #22577
There's not much to work on here, setting torch.backends.cudnn.benchmark to True usually makes the problem much less severe, and beyond that not much can be done, because convolutions are thin wrappers around cudnn convolutions.

[2019-12-18 17:22] albanD commented on #30987
But that last point would not allow you to do this as it only populates with all the properties (including storage) of the other Tensor. So it makes a "copy" of the metadata `y` into `x`.
But I agree that a reinterpret would be useful feature !

[2019-12-18 17:24] Aeroxander commented on #18113
@voqtuyen It's quite easy, just do it with the ONNX python API: https://github.com/onnx/onnx/blob/master/docs/PythonAPIOverview.md#converting-version-of-an-onnx-model-within-default-domain-aionnx

[2019-12-18 17:37] kurtamohler commented on #22577
@ngimel, even using `torch.backends.cudnn.benchmark = True` and `torch.backends.cudnn.deterministic = True`, the second gradient calculation takes 3x time than the first gradient calculation. Even if it makes the problem less severe, it's still a pretty significant difference.

Furthermore, slowdown shows up in the CPU implementation as well:
[code]

That seems like evidence that this issue is not

[2019-12-18 17:47] ngimel commented on #22577
Double backward for convolution just calls convolutions, just when all the gradients are required there are more convolutions, but those computations are necessary.
https://github.com/pytorch/pytorch/blob/f531815526c69f432e46fadece44f5d3a9b70e30/aten/src/ATen/native/Convolution.cpp#L763-L998.
Before digging deep you should make sure that the results you are getting are really much worse than what

[2019-12-18 17:48] gottbrath commented on #30331
What is the story on https://github.com/pytorch/pytorch/pull/30372 .. can we get this incorporated please?

[2019-12-18 18:14] zasdfgbnm opened #31425 "cuDNN convolution does not handle empty input tensor"
## 🐛 Bug

code
[code]

output
[code]

## Environment

[code]

[2019-12-18 18:16] zasdfgbnm commented on #31425
cc: @csarofeen @ptrblck

[2019-12-18 18:26] alexwennerberg commented on #24179
I'm also encountering this issue on python 3.8.0 using this base image: https://github.com/docker-library/python/blob/0b1fb9529c79ea85b8c80ff3dd85a32a935b0346/3.8/buster/slim/Dockerfile

[2019-12-18 18:34] adamjstewart commented on #24334
For the record, adding symlinks does work as a workaround, although I would love to see a less hacky solution.

[2019-12-18 18:34] kurtamohler commented on #22577
@ngimel, ah I see what you mean, those extra convolution calculations probably do explain why double backward is taking much longer than the single backward. Thanks for the information!

If that is true, do you think it's necessary to call the torch implementation, or would it be possible to change it to use cudnn?

[2019-12-18 18:38] zou3519 commented on #28313
Fixed in https://github.com/pytorch/pytorch/pull/30985 by @kurtamohler

[2019-12-18 18:38] zasdfgbnm opened #31427 "Should we expose CircleCI CUDA10 tests as XImportant and run on PRs?"
This comes when working on https://github.com/pytorch/pytorch/pull/30898

**Long story short:**
`torch.addmv` for `torch.half` has a different code path from other dtypes. Due to an issue on CUDA9 on old hardware (https://github.com/pytorch/pytorch/issues/31006) I have to disable the zero-sized tensor test for `torch.addmv` + `torch.half` on CUDA9. This means this specific code path is not covered

[2019-12-18 18:59] driazati opened #31430 "[jit] `del` with slices doesn't work"
See #31273

[2019-12-18 19:11] ngimel commented on #22577
Currently if `is_output_padding_big` returns true cudnn is not used. https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/Convolution.cpp#L92-L98. At the time this was added cudnn did not handle those cases correctly, @ptrblck and @jjsjann123 would be the best people to check with cudnn if now it can handle those cases.

[2019-12-18 19:19] ngimel commented on #31427
I vote for running cuda 10 instead of cuda 9 on PRs unless we have serious issues blocking this.

[2019-12-18 19:26] Enealor commented on #31417
I'm having trouble understanding the issue, and I can't reproduce the issue as I don't have enough context. In particular, what is `transform` in this case? What output are you getting, and what differences are you are noticing? Both return `<class 'torch.Tensor'>` for me when the default argument is used.

The two datasets contain different data, and so minor differences are to be expected. e.g.

[2019-12-18 19:30] albanD commented on #31410
Hi,

The `__del__` function has many caveats in python. In particular there are not that many guarantees that it will always be called.
If you want to ensure this is called, you should use a `try:` `finally:` statement.

Also we use github issues only for bug reports, please use the forum for further questions: https://discuss.pytorch.org/

[2019-12-18 19:30] #31410 closed

[2019-12-18 19:37] albanD commented on #31396
As mentioned by Enealor, the loss is `0` so the gradients are expected to be 0.

For further questions, please use the forum: https://discuss.pytorch.org/

[2019-12-18 19:37] #31396 closed

[2019-12-18 19:43] vishwakftw commented on #30331
Is it possible to include #31432 as well? This fixes a segmentation fault in `unflatten` for named tensors.

[2019-12-18 19:45] albanD commented on #31416
Hi,

Are you sure it's not just that you have different version installed on these two machines? The version on master is quite different as well [here](https://github.com/pytorch/pytorch/blob/47766e648ff16d4b1175d04710caed566de14ab4/torch/csrc/api/include/torch/nn/modules/batchnorm.h)?

[2019-12-18 19:47] albanD commented on #31417
We use the github issue tracker only for bugs and features. Please use the forum: https://discuss.pytorch.org/ to ask questions.

[2019-12-18 19:47] #31417 closed

[2019-12-18 19:52] albanD commented on #31421
I cannot reproduce this on cpu. Where it returns Tensors full of `0`s.
What is the error you see on cuda?

[2019-12-18 19:54] nikitaved commented on #24758
@VitalyFedyunin, I would like to work on this one, but I am not super familiar with the internals yet. The porting procedure seems straightforward, but I would like to ask whether there is a functionality to improve over simple loops? Maybe there is a way to restructure inputs in such a way that it is possible to implement the method as a point-wise operation? Thank you!

[2019-12-18 19:55] ngimel commented on #31421
I cannot reproduce it even on cuda, even when I make it use initialized memory
[code]

[2019-12-18 19:58] shschong commented on #24157
Got it working. I had to install tensorboardX and import SummaryWriter from there. Also, I installed everything via conda.
![allVersions](https://user-images.githubusercontent.com/40435364/71118043-2ea62580-218c-11ea-930c-7314e710da2d.jpg)
![graph](https://user-images.githubusercontent.com/40435364/71118566-3fa36680-218d-11ea-9df2-4eb8282fdfcc.jpg)

[2019-12-18 20:00] zasdfgbnm commented on #24758
@nikitaved It is possible to use `TensorIterator`, see https://github.com/pytorch/pytorch/pull/24954. This is a PR that I am not working on right now, you can take it over.

[2019-12-18 20:05] zou3519 commented on #31423
Our CUDA LSTM uses cudnn to run LSTMs. Cudnn is super optimized, which is why you see very good performance with pytorch's LSTM, but the downside is that it is closed-source and that there is no API to retrieve the intermediate cell states from it.

One thing that you could do to make running LSTMCell in a for-loop faster is to use TorchScript to optimize your RNNs. We released a blogpost a while

[2019-12-18 20:18] denfromufa opened #31438 "Power8/P100 node pytorch compilation from source with cuda 10.1: bus error"
## 🐛 Bug

[code]

More details in this full traceback:

[pytorch.openmpi.cuda.build.error.txt](https://github.com/pytorch/pytorch/files/3980340/pytorch.openmpi.cuda.build.error.txt)

## To Reproduce

Steps to reproduce the behavior:
[code]

## Environment

Please copy and paste the output from our

[code]

cc @ezyang @gchanan @zou3519 @ngimel

[2019-12-18 20:29] dranjan opened #31439 "Segmentation fault on import with scipy==1.4.0 (latest)"
## 🐛 Bug

After upgrading to the latest SciPy (1.4.0, released on Tuesday), importing `torch` after `scipy` immediately segfaults.  My current workaround is pinning SciPy to <1.4.0, which averts the crash.  Oddly, specifically importing `scipy` first and then `torch` is the only combination of the two that I've found to crash.

## To Reproduce

1. `python3 -m venv build/venv`
2. `. build/venv/bin/

[2019-12-18 20:38] Krovatkin commented on #31391
tagging @eellison

[2019-12-18 20:39] albanD commented on #31439
Closing as duplicate of https://github.com/pytorch/pytorch/issues/31362
Please refer to that other issue for more informations.

[2019-12-18 20:39] #31439 closed

[2019-12-18 20:48] eellison commented on #31391
I think complete parity between compilation via `torch.jit.script` and via the string front-end should be a non-goal. We rely on a certain amount of parity in order to reimport saved models, but we do not expect everything to be completely equal. There are a number of complicated things to parse, such as list comprehensions, that we rely on the python ast parser for and then export in a simpler fo

[2019-12-18 20:53] gchanan commented on #31421
Also would be helpful to show the output that doesn't have 0s.

[2019-12-18 20:56] orionr commented on #24157
Too bad that you needed to use tensorboardX instead of torch.utils.tensorboard, but happy you were able to unblock. @jonas154 did you try with 1.4? Thanks.

[2019-12-18 21:06] timgates42 commented on #31287
@zou3519 thanks here is the PR https://github.com/pytorch/pytorch/pull/31288 - I could not seem to assign it to you sorry.

[2019-12-18 21:14] #24583 closed

[2019-12-18 21:28] ptrblck commented on #31359
@pbelevich DALI is usable in PyTorch already.
Adding @JanuszL from NVIDIA for comments.

[2019-12-18 21:34] #24631 closed

[2019-12-18 21:35] denfromufa commented on #31438
Same problem if I switch from openmpi to spectrum-mpi.

[2019-12-18 21:45] Roffild commented on #31396
The initialization of the weights is always different on a new start, but the values of the gradients are always == 0.
[code]
[code]
If using other input values:
[code]
[code]

[2019-12-18 21:52] albanD commented on #31396
These look like the right gradients to me. Your result being [0,1] makes the gradients 0. But that is what they should be. Can you share the formula and value that you expect in this case?

[2019-12-18 21:53] gchanan opened #31443 "We should test __cuda_array_interface__ stride handling"
https://github.com/pytorch/pytorch/pull/24947 fixed a bug around how PyTorch handles contiguous tensor strides in __cuda_array_interface__, but didn't add a test for it.  We should add a test for it.

cc @ezyang @gchanan @zou3519 @ngimel

[2019-12-18 22:02] vincentqb commented on #23796
Closing since the documentation has been updated.

[2019-12-18 22:02] #23796 closed

[2019-12-18 22:16] Roffild commented on #31396
I agree that for the result [0, 1] gradients == 0.
But for the result [1, 0] Loss = 27.63, I expect gradients != 0. Looks like an overflow error.
[code]

[2019-12-18 22:27] pritamdamania87 commented on #28123
Assigning to @osalpekar since he is going to look into retrying internal RPC messages across the board.

[2019-12-18 23:01] pritamdamania87 opened #31447 "Consolidate worthRecopying logic across multiple backends"
As mentioned in https://github.com/pytorch/pytorch/pull/31357#pullrequestreview-334318146, we should consolidate this piece of code in a separate reusable function so that multiple backends can easily use it.

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528

[2019-12-18 23:05] Jonas1312 commented on #31370
I can't build PyTorch:
[code]

Any ideas?

[2019-12-18 23:08] albanD commented on #31396
But at the points where the softmax is saturated (the case here as your result is `tensor([1., 0.], grad_fn=<SoftmaxBackward>)`), it becomes a constant function and thus the gradients are 0 (up to floating point precision).
So if the forward values are `0.` and `1.`, I expect the gradient values to be `0.`.

[2019-12-18 23:08] JanuszL commented on #31359
@ptrblck - the project mentioned here is a prebaked DALI pipeline for CIFAR data set.
@WhatAShot - what you exactly expects to happen when you call:
[code]
beyond what DALI does now?

[2019-12-18 23:09] nairbv opened #31449 "sparse cuda inplace multiplication seems to give incorrect results"
## 🐛 Bug

Incorrect results on master for sparse in-place multiplication on cuda.

## To Reproduce
[code]
## Expected behavior

example code prints "success", sparse op gives the same result as the dense op.

## Environment

I'm on a recent checkout of master. I think this is recently introduced, I was using mul_ in a PR with all my tests passing, and then started seeing test failures after rebasi

[2019-12-18 23:12] nairbv commented on #31449
Not failing when I checkout:

commit 0414463007cecbc987ec376e95639073d26d7d2d (HEAD)
Author: nikitaved <nikitavedeneev@gmail.com>
Date:   Wed Dec 11 15:59:45 2019 -0800

[2019-12-18 23:24] #27495 closed

[2019-12-19 00:19] alexbrowngh commented on #17216
I can confirm that @fmassa is correct. The problem is that the "out" is fp16 and other things are fp32. Are there any solutions to this?

[2019-12-19 00:32] Enealor commented on #31396
To add to what albanD said, I think the issue is partly a lack of transparency about how BCELoss is calculating the reported loss. When the model output is $x = [1, 0]$ and the desired output is $y = [0, 1]$, then the gradient is zero due to how the code is handling an edge case.

In particular, the binary cross-entropy between the two results should be infinite (due to the $-1\log(0)$ term), but

[2019-12-19 00:42] Enealor opened #31453 "Missing edge case information in BCELoss documentation"
## 📚 Documentation

The documentation for [BCELoss](https://pytorch.org/docs/stable/nn.html#bceloss) explains that the formula used to compute the loss is `l_n = -w_n [y_n \ln(x_n)+(1-y_n)\ln(1-x_n)]`. However, the documentation does not explain what happens when `x_n = 0, 1` with `0 < y_n < 1`. In these two cases, the result should be infinite.

It appears that the value is quietly substituted fo

[2019-12-19 00:53] gchanan commented on #30331
Folks -- we are trying to get the tests in a stable state before we start cherry-picking more PRs.  Hopefully that will be done tomorrow and we can resume.

Thanks!

[2019-12-19 01:39] kamo-naoyuki commented on #31412
[code]

[2019-12-19 02:19] #20615 closed

[2019-12-19 02:22] tsungruihon commented on #20356
Any update please ? I tried to save a tensor from c++ libtorch and load it using python. And i got errors too.

[2019-12-19 03:06] WhatAShot commented on #31359
@JanuszL Thanks. DALI did it. But maybe an API can be merged into DataLoader (or other operations), which makes this DALI based operation more popular and easier.

[2019-12-19 03:07] ZisIsNotZis opened #31458 "Integrate `torch.xxx` and `Tensor.xxx`"
## 🚀 Feature

Make all `torch.xxx` and `Tensor.xxx` that shares the same name actually the same function.

## Motivation

Most functions from `torch` and methods from `Tensor` that shares the same name actually does the same thing. `a.xxx(b)` is equal to `Tensor.xxx(a,b)` and is equal to `torch.xxx(a,b)`. Therefore, `torch.xxx` ideally should be equivalent to `Tensor.xxx`.

But this is not true cu

[2019-12-19 03:09] zheng-ji commented on #19163
this advice help me,thanks !

[2019-12-19 05:00] Zalgo2462 opened #31459 "torch.utils.tensorboard.SummaryWriter.add_images incorrectly scales uint8 NCHW tensors"
## 🐛 Bug
When calling the `add_images()` method on the tensorboard `SummaryWriter` with a uint8 NCHW tensor, the tensor is incorrectly scaled, resulting in overflow behavior. This leads to incorrect images being displayed in tensorboard.

In the function `image()` in summary.py, the input images are scaled to help convert floating point images defined over [0,1] to uint8 images defined over [0,255

[2019-12-19 05:09] hengyuan-hu commented on #17479
I suspect that the libtorch version & pytorch mismatch, if you are using
binary distributions for both of them.

On Wed, Dec 18, 2019 at 1:31 AM FantasyJXF <notifications@github.com> wrote:

[2019-12-19 05:14] SsnL opened #31460 "DataParallel doesn't properly handle kwargs"
## 🐛 Bug

When given a specified non-tensor kwarg and the batch tensor doesn't have enough elements to scatter to each device, a weird error is thrown:
[code]

The key issue is that
https://github.com/pytorch/pytorch/blob/fb24f7c4adbd3469f552f3aa0db006317889f88f/torch/nn/parallel/scatter_gather.py#L36-L41
does not actually care about whether the scattered thing is a tensor or not, and blindly pads

[2019-12-19 05:47] rohan-varma commented on #30819
I believe that https://github.com/pytorch/pytorch/pull/31023 and @jjlilley's PR https://github.com/pytorch/pytorch/pull/31299 should help with some of these issues.

[2019-12-19 05:49] DuaneNielsen commented on #1668
Looks like this was all fixed by 1.3  Thanks!

https://pytorch.org/docs/stable/notes/cuda.html#cuda-semantics

[2019-12-19 05:56] rohan-varma opened #31461 "Make RRef.to_here() non-blocking"
## 🚀 Feature
Currently, when creating a Remote Ref and fetching it to the local worker with `to_here()`, we tie up a thread while waiting for the future to be resolved. This could potentially be expensive and we should not block the thread if the user does not need the value immediately.

## Pitch

Add a non-blocking flavor for `to_here()` that returns a `Future<T>` that can be resolved via a `fut

[2019-12-19 05:57] rohan-varma commented on #31461
Assigned @mrshenli for now since I believed he discussed implementing this, but feel free to re-assign.

[2019-12-19 06:18] tsungruihon commented on #31416
@albanD emm, I am sure. I downloaded macOS version from  https://pytorch.org/ and downloaded the Linux version from  `wget https://download.pytorch.org/libtorch/nightly/cpu/libtorch-shared-with-deps-latest.zip`

[2019-12-19 06:51] DeepakIITJ commented on #31257
Thank you @vishwakftw and @zou3519 .
 I'll take care of it.

[2019-12-19 07:13] FantasyJXF commented on #17479
Thank you and I'm so sorry to bother, the answer you gave was right. I use my improper code to test and run into error.

After I fixed the code bug and do as you said  to `import torch` before `import my_ext`, it works OK.

Thanks again and very appreciate your work.
---
From Fantasy

[2019-12-19 07:14] amatosov-rbx commented on #22541
I have faced the same issue. The more or lest proper fix for that would be changing `TorchConfig.cmake`
to look for correct libc10 on Apple platform. I have added:
[code]

into the middle of:
[code]

and got successful build

[2019-12-19 07:17] fedral commented on #19106
I am using recent libtorch 1.3.1 to run model inference with C++;  both debug & release version code compiled successfully;
But for my super-resolution task where input image size is 720*1080 or even bigger, model inference process on CPU is much slower than pytorch version and takes nearly all the 16G memory, and I have to reboot my computer....
Besides, the libtoch doc/tutorial is not sufficient

[2019-12-19 07:17] peterjc123 commented on #31370
Would you please upload the full log?

[2019-12-19 07:18] IanSmith123 commented on #31324
This problem troubled me for long time.
Just now I searched `libiomp5md.dll`  and find that also exists in LLVM, so I remove LLVM in my %PATH% Variable and restart `cmd.exe`, then  fixed.

Thanks!

[2019-12-19 08:05] wenquanzhao commented on #22541
I have faced the similar issue.

In the CMakeLists.txt file, I have written `target_link_libraries(example-app "${TORCH_LIBRARIES} ${OpenCV_LIBS}")`. Then I got the error,

Solution steps:
1. use absolute path of libtorch
2. remove the quotation marks "", i.e. `target_link_libraries(example-app ${TORCH_LIBRARIES} ${OpenCV_LIBS})` . In your case, try to remove the "" in `target_link_libraries(app "

[2019-12-19 08:13] hameerabbasi commented on #28361
Somewhat. It seems to me that if in true RAII fashion, `cdata` is actually copied on assignment/copy constructing, we'll need a way to shallow copy it or change it to a pointer, but that's a pretty invasive change. Other than that, we can just copy all the fields, mostly, as well as shallow-copying `__dict__`.

[2019-12-19 08:54] jonas154 commented on #24157
@shschong Thanks for sharing your solution!

@orionr So far 1.4 isn't released or? I wanted to wait till the release of the latest version. So far I'm using the Hiddenlayer tool https://github.com/waleedka/hiddenlayer

[2019-12-19 08:57] pietern commented on #30616
Thanks for the update. Sounds like you figured out a solution. Closing the issue.

[2019-12-19 08:57] #30616 closed

[2019-12-19 09:10] xubin1994 opened #31464 "torch.gather in pytorch.onnx and onnxruntime"
I have a model that uses torch.gather () API ,and the model runs well in pytorch.
[code]
 I successfully converted the model to an onnx file using torch.onnx.export () API, and the checkmodel is also verified,
[code]
 but when I run the onnx file using onnxruntime, the program crashes and without report message. If I comment out "torch.gather"" API, the program can run normally, In the torch.onnx

[2019-12-19 09:10] pietern commented on #31228
Sharing memory only works if the processes run on the same machine. RPC works within and across machines. Transparently conflating the two means the semantics of a program will change if you run it on a single machine or on multiple machines.

Allowing sharing memory over RPC is something I think must be layered on top of RPC as opposed to being supported in the core. Then, whatever code does the

[2019-12-19 09:12] pietern commented on #29695
The omnious NCCL `unhandled system error`...

This is a tough one. At times, GPUs on CI machines may be in a bad state causing this stuff to happen.

[2019-12-19 09:17] pietern commented on #31289
@gottbrath Could you take a look at this?

[2019-12-19 09:26] pietern commented on #31363
For whoever is interested in working on this:

1. Add Windows support to [Gloo](https://github.com/facebookincubator/gloo). On the I/O side, Gloo already has a [libuv](https://libuv.org/) transport, which should work fine on Windows. It's just the CMake build system that needs to be adapted to work on Windows.
2. Once that is done, the PyTorch build system should be updated to compile with `USE_DI

[2019-12-19 09:50] pietern commented on #31413
@zhaojuanmao Could you take a look and repro?

[2019-12-19 09:54] songyuc opened #31465 "BrokenPipeError on Windows when setting the num_workers as 4 in DataLoader"
## 🐛 Bug

BrokenPipeError on Windows when setting the num_workers as 4 in DataLoader

## To Reproduce

Steps to reproduce the behavior:

1. I used code like this,
[code]
2.
3.

Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "E:\Path\Python\Anaconda3\envs\env_general\lib\multiprocessing\spawn.py", line 105, in spawn_main
    exitcode = _main(fd)
  File "E:\Path\Pyt

[2019-12-19 09:56] v0dro commented on #12013
Changing `ConvTranspose1d` to work with 0 dimensional tensors.

# Problem
The ConvTranspose1d throws errors when you give it 0-dimensional tensors as input.
This should be made possible because there are cases where you have parts of an image
without any feature and you want to be able to pass them through the layer without
writing any edge case handling code.

The solution should involve working

[2019-12-19 09:57] pietern commented on #31447
In the hypothetical case that you're sending multiple views into the same storage, it can be better to encode the underlying storage just once and keep the views into that storage. This implies doing some kind of 2 pass pickling where first you see if a storage is used multiple times, and compute some kind of "occupancy" of the storage. Then that would inform if it should be transferred as a whole

[2019-12-19 09:57] xxradon commented on #12873
@xymeng Thanks for your investigation,and I noticed  you mentioned that "If I remove half of pytorch's kernels the memory usage is also reduced by half".Can you share the method how you remove half of pytorch's kernels the memory ?

[2019-12-19 10:05] albanD commented on #31453
Setting high priority as it should be fairly easy to fix.

[2019-12-19 10:11] albanD commented on #31464
Is the problem with the onnx runtime or pytorch? It seem that it is the onnx runtime no? Maybe you want to open an issue on their repo?

[2019-12-19 10:16] xubin1994 commented on #31464
OK,I will open an issue on their repo to get a solution.

[2019-12-19 10:18] tsungruihon opened #31466 "how to pass trained weight to neural network module"
Suppose i used own data and trained a `conv1d`, how could we pass the weight to `conv1d` in c++ like what the `PyTorch`  acts ?

Noticed that the implementation of `conv1d` in `PyTorch`, we could update the parameters like `in_channels`, `out_channels`, etc in the `__init__` function. If we want to update the `weights` and `bias`, which are from pretrained model, we could rewrite the `Conv1d`, whi

[2019-12-19 10:28] albanD commented on #31464
Closing this as a dependency issue for now. Please re-open if they say it comes from pytorch !

[2019-12-19 10:36] albanD commented on #31416
I just downloaded the nightly for macos. The batchnorm file in `include/torch/csrc/api/include/torch/nn/modules/` does match the one in master. But not the one you posted above.

[2019-12-19 10:39] peterjc123 commented on #31465
See https://pytorch.org/docs/stable/notes/windows.html#multiprocessing-error-without-if-clause-protection.

[2019-12-19 10:46] pietern opened #31467 "Distributed hangs on process termination with world_size=1"
## 🐛 Bug

This was originally reported by @adamlerer. Turning it into an issue.

## To Reproduce

[code]

## Expected behavior

The process should terminate.

## Environment

This reproduces on master.

## Additional context

I took a stack at the hang and got the following. The `FileStore` appears to assume `world_size > 1`.

[code]

[2019-12-19 10:49] terminator-ger commented on #31195
I have the same issue on similar hardware, i also have a dual socket CPU with 2x Intel Xeon E5-2690 v4, 64GB RAM. Watching the memory consumption during runtime  i get nowhere near to the max available memory.

[2019-12-19 10:50] Jonas1312 commented on #31370
@peterjc123
[code]
[log.txt](https://github.com/pytorch/pytorch/files/3983124/a.txt)

[2019-12-19 10:57] sunkr1995 opened #31468 "Can't get DynamicQuantizedLSTM weight and bias"
## 🐛 Bug

when I run https://pytorch.org/tutorials/advanced/dynamic_quantization_tutorial.html

can't get DynamicQuantizedLSTM weight , bias , scale, zero_point

[code]

 - PyTorch Version : 1.3.1
 - OS (e.g., Linux): Ubuntu
 - How you installed PyTorch : conda
 - Build command you used (if compiling from source): conda install pytorch torchvision cudatoolkit=10.1 -c pytorch
 - Python version: 3.7

[2019-12-19 11:02] songyuc opened #31469 "BrokenPipeError on Windows when setting the num_workers as 4 in DataLoader but 2 num_workers is fine"
## 🐛 Bug

BrokenPipeError on Windows when setting the num_workers as 4 in DataLoader but 2 num_workers is fine.

## To Reproduce

Steps to reproduce the behavior:

1.
2.
3.

I have submitted this issue in #31465, and the contributor commented[](https://github.com/pytorch/pytorch/issues/31465#issuecomment-567435296)  as

I opened the link and found the relevant content [_Multiprocessing error “Brok

[2019-12-19 11:10] albanD commented on #31469
No need to reopen a new issue. You can continue the discussion in the original issue you already created. That way everyone has access to all the discussion context without reading multiple issues.
Thanks.

Closing as duplicate of https://github.com/pytorch/pytorch/issues/31465

[2019-12-19 11:10] #31469 closed

[2019-12-19 11:13] albanD commented on #31466
Hi,

Please use the forum for questions: https://discuss.pytorch.org/

For your particular question, the usual way to go is to initialize the module with the right size and then override the module weight with the ones you want.

[2019-12-19 11:13] #31466 closed

[2019-12-19 11:15] songyuc commented on #31469
But the original issue has been closed,  I am not sure whether the developers would see the bugs?

[2019-12-19 11:21] songyuc commented on #31465
Thank you for the reply, but the content in that site cannot help resolve the bug.
The relevant content [_Multiprocessing error “Broken pipe”_ ](https://pytorch.org/docs/stable/notes/windows.html#multiprocessing-error-broken-pipe)  pointed out

ForkingPickler(file, protocol).dump(obj)
BrokenPipeError: [Errno 32] Broken pipe
This issue happens when the child process ends before the parent process f

[2019-12-19 11:24] peterjc123 commented on #31465
Do you have enough RAM?

[2019-12-19 11:24] peterjc123 commented on #31370
Please apply this patch: https://github.com/pytorch/pytorch/pull/30959

[2019-12-19 11:25] JanuszL commented on #31359
Merging DALI into DataLoader is definitely a broader discussion, as DALI has different API comparing to DataLoader. Also, DALI is meant to provide similar experiences across the different frameworks so bending internal behavior toward specific FW is rather not the way we see it. Still, providing familiar Python API is definitely the thing that can be worked out.
The one reservation I have it that

[2019-12-19 11:26] albanD commented on #31469
If you don't agree with the fact that the original issue should be closed, you can re-open it to continue the discussion.

[2019-12-19 11:27] albanD commented on #31465
Re-opening while the discussion goes on.

[2019-12-19 11:28] songyuc commented on #31465
I guess I did, because my RAM monitor showed a 71% usage of RAM at that time.
But I am not sure the index of the RAM monitor would be the usage of my program.

[2019-12-19 11:30] WhatAShot commented on #31359
Thank you~ @JanuszL

[2019-12-19 11:30] #31359 closed

[2019-12-19 11:30] songyuc commented on #31469
Thanks sincerely for your help!

[2019-12-19 12:26] jph00 commented on #28361
This is how it's implemented in fastai2:

[code]

It seems to be working fine for us, and we've written thousands of lines of code and trained lots of models using it - but if we're missing something important, I'd love to know now so we can try to fix it! (And if we're not missing something important, is this a solution that pytorch can use too?)

[2019-12-19 12:29] peterjc123 commented on #31465
Could you please post a minimal reproducible code example?

[2019-12-19 12:42] songyuc commented on #31465
In fact, I just restart my computer, and the problem disappeared. So I guess the problem might be caused by the inefficient RAM, as I had opened a lot of other Programs at the same time.

And I see there's a Error message of "ImportError: DLL load failed: 页面文件太小，无法完成操作。", which is in Chinese, because I am student from China. And in English,it said "ImportError: DLL load failed: The page file is to

[2019-12-19 13:49] gortizji commented on #31412
I'm getting the same error with `torch.fft` as well. It does not happen to me when I use 2 GPUs, but it does with 4 and more. I am running the nightly build `1.4.0dev20191218`. Also when built from source. The segmentation fault seems to occur only for some batch sizes. I am using 4 P100 GPUs and `cuda=10.1`.

The following code can reproduce the error.

[code]

[2019-12-19 14:12] peterjc123 commented on #31465
You should increase the size of the page file according this [tutorial](https://zhuanlan.zhihu.com/p/37332255) in Chinese.

[2019-12-19 14:13] peterjc123 commented on #31465
I'll close this issue first because it's caused by your environment. You can reopen it at any time.

[2019-12-19 14:13] #31465 closed

[2019-12-19 14:23] songyuc commented on #31465
So you can read Chinese, are you? It is interesting!

[2019-12-19 14:29] peterjc123 commented on #31465
Sure, as you can see in the Github profile, I live in Shanghai. But most of the devs here speak English so you need to translate the words to English.

[2019-12-19 14:43] tsungruihon commented on #31416
@albanD OMG. Would you please send me the macOS link and i would check it again. Thanks a lot.

[2019-12-19 14:47] albanD commented on #31416
I picked the one from the getting started link. Which is https://download.pytorch.org/libtorch/nightly/cpu/libtorch-macos-latest.zip

[2019-12-19 14:48] tsungruihon commented on #31466
@albanD Thanks a lot. It seems that my account has been temporarily placed on hold .

[2019-12-19 14:53] albanD commented on #31466
Yes, you wrote your post too fast. The spam filter found it suspicious. But I whitelisted it. It there now.

[2019-12-19 14:59] tsungruihon commented on #31416
@albanD Really thanks a lot.

[2019-12-19 14:59] #31416 closed

[2019-12-19 15:00] albanD commented on #31416
Sure no problem.

[2019-12-19 15:01] mattthelee opened #31471 "Mnasnet0_5 first layer shape incorrect"
## 🐛 Bug

Documentation here lays out the code for Mnasnet as used in pytorch: https://pytorch.org/docs/stable/_modules/torchvision/models/mnasnet.html

Running this with alpha = 0.5 results in a depth[0] of 16 but the first layer of mnasnet0_5 has 32, indicating it has been trained with alpha = 1

Output from my pdb:
(Pdb) alpha = 0.5
(Pdb) _get_depths(alpha)
[16, 8, 16, 24, 40, 48, 96, 160]
(Pdb

[2019-12-19 15:35] alcinos opened #31472 "nll_loss doesn't support empty tensors on gpu"
## 🐛 Bug

Passing empty tensors to nll_loss should return an empty tensor. It is the case on cpu, but crashes on gpu

## To Reproduce

[code]

## Expected behavior

On cpu it works well:
[code]

## Environment

PyTorch version: 1.4.0.dev20191214
Is debug build: No
CUDA used to build PyTorch: 9.2

OS: Ubuntu 18.04.1 LTS
GCC version: (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0
CMake version: version 3.10.

[2019-12-19 15:48] ihnorton commented on #31300
Note that `-Bsymbolic` can have some unexpected side-effects [1]. On linux, you may be able to solve the problem without any build system changes by loading your own `mkldnn` library in a separate namespace using `dlmopen` [2] instead. `dlmopen` is not explicitly provided by ctypes, but can be called directly, and then used to construct a CDLL:

[code]

then use as usual:
[code]

[1] https://softw

[2019-12-19 15:51] kurtamohler commented on #31425
I can start looking into this.

[2019-12-19 15:53] ngimel commented on #31472
Thank you for reporting the bug and providing reproduction code. We'll look into it.

[2019-12-19 15:54] ngimel commented on #31472
cc @ptrblck, can someone on your team fix it?

[2019-12-19 15:56] gchanan commented on #31472
actually, @pbelevich is going to take this.

[2019-12-19 16:06] redknightlois opened #31474 "Slow clip_grad_norm_ because of .item() calls when run on device"
## Issue description

While profiling a slow training process of a quite deep network I got the following results:
![image](https://user-images.githubusercontent.com/1045411/71187912-c96f3480-225e-11ea-85b7-3cca0f34fdad.png)
Given I saw the problem was the `.item()` call would copy the values from the GPU crossing the PCI, I went ahead and built a version that would optimize that.

I replaced:
[co

[2019-12-19 16:10] MGough commented on #31362
This should now be resolved using scipy 1.4.1 https://github.com/scipy/scipy/releases/tag/v1.4.1

[2019-12-19 16:15] ngimel commented on #31471
It looks like this is currently fixed in master https://github.com/pytorch/vision/pull/1224/, but torchvision version on colab does not have this fix.

[2019-12-19 16:17] mattthelee commented on #31471
Thanks for quick response. Does that mean i need to update something as i though i was at the latest?

[2019-12-19 16:17] zou3519 commented on #26123
According to https://developers.google.com/search/reference/robots_meta_tag and https://support.google.com/webmasters/answer/93710?hl=en , the right way to do this is to add meta noindex tags to the webpages. Adding something to robots.txt isn't sufficient, although it has worked for us in the past.

So the problem becomes:
1) figure out how to teach sphinx to add these tags to just the module sou

[2019-12-19 16:20] vadimkantorov commented on #26123
@zou3519 I have no extra insight about this issue :/ i just once googled the Google-provided instructions (also linked them above), i think they are the same ones as you found

[2019-12-19 16:21] vadimkantorov commented on #26123
My findings are in https://github.com/pytorch/pytorch/issues/3428#issuecomment-480573073

[2019-12-19 16:23] vadimkantorov opened #31475 "[docs] torch.histc docs mention min/max have int type"
https://pytorch.org/docs/master/torch.html?highlight=histc#torch.histc:
[code]

I think this is erroneous, the type should be float and also to accept PyTorch scalar type (as it can be common to write `min = bins_tensor.min(), max = bins_tensor.max())`

[2019-12-19 16:27] vadimkantorov commented on #31460
I also stumbled on an issue when I have 4-gpus and batch size less than number of GPUs (in some smoke testing scenario). Then DP throws.

[2019-12-19 16:40] aaost commented on #30886
In case this is valuable, I am running into this issue building from source with VS2017 v15.9.18, Windows SDK 10.0.17763.0, build toolset v141 (v14.16). I attempted to install v15.4 toolset v14.11 but it doesn't show up in my IDE. I tried going back to Dec 2nd and still get the same errors.
I see the same problem when I build a project that links with the latest nightly binaries, but my build succ

[2019-12-19 16:47] zou3519 commented on #26123
I realized that we don't have to change sphinx to do this, we can post-process the docs after we build them and before we push to the website to include the meta noindex.

All of the generated source docs fall under _modules (i.e., pytorch.org/docs/stable/_modules). To fix this particular issue (exclude generated source docs from google), I'm going to do the following:
- Manually add the meta noin

[2019-12-19 16:54] vadimkantorov commented on #31475
Also, it's a bit strange that histc returns integer counts but as float dtype.

[2019-12-19 17:05] ngimel commented on #31471
colab is google's GPU- and TPU- enabled notebooks where I tried your example. Try updating your torchvision package, version 0.4.2 should have the fix.

[2019-12-19 17:06] peterbell10 commented on #31362
`pytorch` may also want to upgrade to `pybind11 v2.4` as well to avoid further issues.

[2019-12-19 17:10] vadimkantorov opened #31478 "DataParallel has different tensor copy behavior if batch size = 1"
A probable bug:
https://github.com/pytorch/pytorch/blob/master/torch/nn/parallel/data_parallel.py#L149-L150
parallel_apply would splice the data and copy it onto corresponding GPUs (not sure if it uses non_blocking=True under the hood, but maybe it's a good idea!)
If batch_size equals to 1, DP assumes that the data has already been copied onto the first GPU.

A question:
Is it faster to copy the i

[2019-12-19 17:12] Jonas1312 commented on #31370
![Capture](https://user-images.githubusercontent.com/15847892/71193722-e02b8080-228a-11ea-932e-89cb930f973d.PNG)

[code]
[code]
[code]

[2019-12-19 17:28] nairbv commented on #31449
test script passes if we change `nz.clone()` call in dense_to_sparse in SparseTensor.cpp to use MemoryFormat::Contiguous, implying this is a failure caused by non-contiguous indices introduced through the to_sparse() call in the test script.

An alternate test script that manually causes indices to be non-contiguous still passes after making the dense_to_sparse fix described above though:

[code]

[2019-12-19 17:30] #31447 closed

[2019-12-19 17:41] SvenPVoigt commented on #4939
Negative padding still isn't implemented in pytorch 1.3.1. It would be useful to help match the output size of 1x1 convolutions with 3x3 convolutions when doing concatenation. My thought is that padding requires an extra (2*(m-2) + 2*(n-4)) 3x3 convolutions. However, by cropping the edges we wouldn't need those extra 3x3 convolutions and also need less 1x1 convolutions (bc we would negative pad th

[2019-12-19 17:47] peterjc123 commented on #31370
Would you please test whether this PR fixes the problem: https://github.com/pytorch/pytorch/pull/31455?

[2019-12-19 17:50] gottbrath commented on #30803
@gchanan  -- any feedback on the latest from Jianhui here?

[2019-12-19 18:02] Jonas1312 commented on #31370
![Capture](https://user-images.githubusercontent.com/15847892/71197542-233d2200-2292-11ea-8930-71485073fce2.PNG)

[2019-12-19 18:08] mahmoodn opened #31483 "undefined symbol: _Py_ZeroStruct"
Although I have installed "pytorch" and "text" with python and python3 using

[code]
When I want to text_classification tutorial, I get this error

[code]
I don't know what is missing here. Any way to fix that?

cc @ezyang

[2019-12-19 18:21] ngimel commented on #31483
This looks like an error with the envoronment, can you try creating a clean virtual environment, install pytorch and torchtext according to instructions. If your problem persists, please also provide the output of environment collection script

[code]

[2019-12-19 18:24] ngimel commented on #31478
To answer your question, usually it is faster to copy data directly to all GPUs (because that way if GPUs are connected via the different PCIe links all the links can be utilized, whereas copying the data to GPU0 necessarily goes through a single connection).

[2019-12-19 18:26] vadimkantorov commented on #31478
@ngimel Thanks!

Then it would be nice if DP did it robustly (and with an option for `non_blocking`) and in the same fashion, regardless of batch size. Then if DP is used, training loop can forgo the explicit copy commands (if wished)

[2019-12-19 18:26] ngimel commented on #31475
Thank you for your bug report! Would you mind sending a PR to fix documentation? And I agree, returning counts as floats is strange.

[2019-12-19 18:28] vadimkantorov commented on #31475
I'll try to do a PR, but don't promise doing that super-fast :/ It'd be my first PR to docs.

Also I checked, min/max accept PyTorch scalars, but not sure if/how that should be formulated in docs.

[2019-12-19 18:32] denfromufa opened #31487 "Disable PSIMD? Why Pytorch is trying to download PSimd to /pytorch/build/confu-srcs/psimd even when PSIMD_SOURCE_DIR is defined?"
Can I disable PSimd during installation of Pytorch from source? Why is Pytorch trying to download PSimd to /pytorch/build/confu-srcs/psimd even when PSIMD_SOURCE_DIR is defined? PSimd is already in third_party packages, hence makes no sense why downloading is necessary? These options do not disable PSimd:

`BUILD_CAFFE2_OPS=0 USE_NNPACK=0 USE_QNNPACK=0 USE_PYTORCH_QNNPACK=0`

[2019-12-19 18:55] mahmoodn commented on #31483
Conda is not installed and I don't have root access to install it.
Right now, I see
[code]

[2019-12-19 19:00] mahmoodn commented on #31483
I have uploaded the log files here
[pt.zip](https://github.com/pytorch/pytorch/files/3985199/pt.zip)
.
As you can see, both PyTorch and Text have been successfully installed via python2.7 and python3.

[2019-12-19 19:04] rohan-varma opened #31489 "DISABLED test_get_gradients (dist_autograd_test.DistAutogradJitTestWithSpawn)"
## 🐛 Bug

`DistAutogradJitTestWithSpawn` is broken, see failures:

[code]

Example failure: https://app.circleci.com/jobs/github/pytorch/pytorch/4016445
## To Reproduce

This reproduces on master currenty.

cc @ezyang @gchanan @zou3519 @suo @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley

[2019-12-19 19:08] rohan-varma commented on #31489
It looks like this is broken since https://github.com/pytorch/pytorch/pull/31269. Assigning author of that PR @driazati as well as the original test author @wanchaol

[2019-12-19 19:22] wanchaol commented on #31489
https://github.com/pytorch/pytorch/pull/31492 fix this

[2019-12-19 19:42] #29959 closed

[2019-12-19 19:50] izdeby opened #31495 "torch.as_tensor returns different value for 'is_leaf' for different dtypes"
Repro:
[code]

output:
[code]

cc @ezyang @SsnL @albanD @zou3519 @gqchen

[2019-12-19 19:59] SsnL commented on #31495
isn't this expected? it is a noop for all but the 3rd usage.

[2019-12-19 20:10] #30932 closed

[2019-12-19 20:20] zhaojuanmao commented on #31413
yes, I can reproduce it locally, debugging...

[2019-12-19 20:45] driazati commented on #20356
It's still hidden behind a flag on the Python `torch.save` side that will eventually be flipped. Right now on nightly you can do this (copied from #22954):

Python -> C++
[code]

[code]

and the reverse (C++ -> Python)

[code]

[code]

[2019-12-19 21:09] ngimel commented on #31483
You env log shows that you have functional torch install with python 2, can you try running the same env collection script with python3?

[2019-12-19 21:13] vadimkantorov opened #31497 "torch.no_grad() context manager seems to leak memory"
I have a lazy loop that is used to evaluate the model. This version doesn't use any noticeable memory (memory_allocated < 1Gb):
[code]

The context manager version:
[code]

leads to OOM even on a 32Gb gpu:
[code]

A few things about this:
1) context manager seems to be broken
2) huge memory fragmentation: 11Gb of allocated memory, 24 Gb cached, 32Gb total, still OOM? it tried to allocate just 152M

[2019-12-19 21:16] zhaojuanmao commented on #31413
the underneath sparse all reduce operation actually works fine, it is just that processGroupGloo::AsyncSparseAllreduceWork does not copy all reduce results back to input tensors. Instead, AsyncSparseAllreduceWork put all reduce results in output tensors and can get the output tensors by calling AsyncSparseAllreduceWork::result().

will send a fix.

[2019-12-19 21:17] sampepose commented on #15849
What's the latest status on this PR? This'll be useful when forking is slow like with forkserver.

[2019-12-19 21:40] hengyuan-hu commented on #17479
Glad it helps. Btw, libtorch is mainly for c++ only applications. If you
use python anyway, you can just compile against pytorch. Libtorch is part
of pytorch. You can use this as an example.

https://github.com/facebookresearch/hanabi_SAD/blob/6e4ed590f5912fcb99633f4c224778a3ba78879b/rela/CMakeLists.txt#L10

On Wed, Dec 18, 2019 at 11:13 PM FantasyJXF <notifications@github.com>
wrote:

[2019-12-19 21:56] vadimkantorov opened #31498 "Is BatchNorm momentum=None simple average mode supported?"
SyncBatchNorm (and probably regular BatchNorm as well) docs say that momentum=None is equivalent to a cumulative average update of running stats.

However, [its impl](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/Normalization.cpp#L618) doesn't seem to handle this special case.

This mode is useful for [SWA](https://github.com/pytorch/pytorch/pull/30559) for adapting BN runni

[2019-12-19 22:16] denfromufa commented on #31438
Same problem if I remove MPI completely and just build with CUDA from module (installed as a distro package).

When I switched to `cudatoolkit-dev` package from powerai conda, this killed the development node with 4 GPUs 😮 See the attached traceback:

[node.killed.pytorch.compile.source.txt](https://github.com/pytorch/pytorch/files/3985855/node.killed.pytorch.compile.source.txt)

[2019-12-19 22:22] ngimel commented on #31497
Thank you for reporting, we'll look into this.

[2019-12-19 22:24] jerryzh168 commented on #30813
cc @VitalyFedyunin do you know?

[2019-12-19 22:28] ngimel commented on #31498
cc @jjsjann123, do you know if SyncBatchNorm properly handles `momentum=None` case?

[2019-12-19 22:30] vadimkantorov commented on #31498
Same question about regular BatchNorm... if it’s properly supported, SWA code can be greatly simplified

[2019-12-19 22:41] zasdfgbnm opened #31500 "cuDNN convolution memory usage"
Sometimes the cuDNN implementation of convolutions is trying to use too large workspace. For example:

[code]
gives
[code]

I find this extremely annoying when I try to fix https://github.com/pytorch/pytorch/issues/22496: it is sometimes hard to find a good configuration that has more than 2^31 elements but can still runnable on my 16GB Volta card.

In such a case, should PyTorch be smart enough t

[2019-12-19 23:05] ngimel commented on #31500
@zasdfgbnm for your testing purposes the workaround is to set `torch.backends.cudnn.deterministic=True` (and `benchmark=False`), it will pick implicit gemm algorithm that is 1) supported for all cases 2) uses relatively little memory. It is also a nice fallback for your second question, as far as I understand there should not be a situation where implicit gemm algorithm is not applicable. I though

[2019-12-19 23:30] tjlane commented on #10223
+1 for forward mode AD -- currently using the "double grad" trick in my torch project

[2019-12-20 00:09] zasdfgbnm commented on #31500
@ngimel After setting
[code]
I still have the same problem...

[2019-12-20 00:12] zasdfgbnm commented on #31500
For backward, the default algorithm is
[code]

[2019-12-20 00:14] ptrblck commented on #3223
You approach might work. Alternatively, try `tensor.unfold` instead of `torch.nn.Unfold`.

[2019-12-20 00:52] kerry-Cho opened #31509 "Nightly Build Runtime Error"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
19-12-18 Nightly Build Verion Runtime error
Occurs when running a program

also How do I use a Nightly version with a different date?
The build time is too long and needs a different version.
Thanks All
call stack
[code]

break point
[code]

## Expected behavior

## Environment

Please copy and paste the output from our
[environment colle

[2019-12-20 00:52] TengdaHan commented on #24809
Any update on this issue? I had the exact same problem on pytorch 1.3.1. Only the main dataloader thread has cpu utilization = 100%, all other cpu cores are idle.

[2019-12-20 01:08] ngimel commented on #31474
Your change to clip_grad_norm implementation sounds good, do you mind submitting a PR?
It looks like (on Pascal hardware at least) norm performance is not what it should be, it peaks at 180 GB/s instead of 550 GB/s. We'll look into it.
Here's my benchmarking script
https://gist.github.com/ngimel/cac41f2f92cd95e8bb6781457a2bbce8

[2019-12-20 01:11] jjsjann123 commented on #31498
`momentum=None` is handled in the python side:
https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/batchnorm.py#L90-L102
https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/batchnorm.py#L441-L451

[2019-12-20 01:13] Enealor commented on #31474
I found a partial solution that increases the performance on the GPU, but not the CPU. I used
[code]
I wrote a profile script to test how effective this change is on my local machine, which I attached below. The profiler keeps track of how long is spent computing the total gradient norm of a model using three different methods: the original for loop, the function given by redknightlois, and the ve

[2019-12-20 01:20] XiaobingSuper commented on #31195
@terminator-ger @davtir, thanks for report this issue, I will double checkout it.

[2019-12-20 01:20] xsacha commented on #31038
When you upgraded from PyTorch 1.2 to 1.3, did you build with a different version of CUDA?

[2019-12-20 01:30] vadimkantorov commented on #31498
Thanks! I hope it then can be used in SWA!

[2019-12-20 01:30] #31498 closed

[2019-12-20 01:57] sclarkson commented on #31045
This was fixed in #29014

Should probably request a cherry pick for 1.4.0

[2019-12-20 02:55] ngimel commented on #31474
@enealor your solution also uses way more memory (essentially, you need to allocate an additional buffer big enough to hold all the parameters), whereas stack-based solution uses very little additional memory, and also likely does not degrade CPU performance, though I have not tested. So I'd prefer to go with original stack-based solution for now. Ideally, we should be able to operate on the lists

[2019-12-20 02:58] ngimel commented on #31509
Can you please provide a reproduction example (e.g. what program are you running to get this behavior)?

[2019-12-20 04:35] kerry-Cho commented on #31509
@ngimel
It occurs only by running the program.
It also occurs when you run the official example.
https://pytorch.org/cppdocs/installing.html#minimal-example

[2019-12-20 04:45] peterjc123 commented on #31509
Should be duplicate of https://github.com/pytorch/pytorch/issues/31370 although that is a python error.

[2019-12-20 04:45] #31509 closed

[2019-12-20 04:58] mingfeima commented on #24715
@VitalyFedyunin please refer to #30598

[2019-12-20 05:08] ngimel commented on #31045
I will request a cherry pick

[2019-12-20 05:56] peterjc123 commented on #31370
@Jonas1312 So does #31455 solves this problem?

[2019-12-20 06:06] mahmoodn commented on #31483
It says `collect` not found.

[code]

But I can not install collect via pip3
[code]

[2019-12-20 06:48] ZouDongj commented on #17212
Have you solved this problem？

[2019-12-20 07:59] TangDH03 commented on #19668
I meet the same problem.But when I import matlab.engine before torch,it works.

[2019-12-20 08:49] Jonas1312 commented on #31370
@peterjc123 Nope, it crashes at line 299 in `typeid.h`

[2019-12-20 09:36] peterjc123 commented on #31370
Good to know.

[2019-12-20 10:14] chi0tzp commented on #31045
@ptrblck @izdeby @sclarkson thank you!

[2019-12-20 10:14] lutzroeder opened #31513 "PyTorch nightly fails on Windows"
## 🐛 Bug

`import torch` fails to command prompt without an error for recent nightly builds on Windows.

## To Reproduce

[code]

## Expected behavior

Import completes waiting for next Python command.

## Environment

`collect_env.py` does not complete as `import torch` fails.

 - PyTorch Version (e.g., 1.0):
 - OS (e.g., Linux): Windows 10 (1909 18363)
 - How you installed PyTorch (`conda`, `pip

[2019-12-20 10:22] peterjc123 commented on #31513
Duplicate of https://github.com/pytorch/pytorch/issues/31370.

[2019-12-20 10:22] #31513 closed

[2019-12-20 10:36] simunovic-antonio commented on #31038
I am using PyTorch 1.2 with CUDA 10.1 and it doesn't exhibit mentioned issues. PyTorch 1.3 produces "CUDA error: an illegal memory access was encountered" with CUDA 10.1 and 10.2.

[2019-12-20 10:55] xsacha commented on #31038
OK, maybe it is related to 1.3 then!

[2019-12-20 11:11] Evpok commented on #26123
Conversely, though I agree that they shouldn't appear in search engines, I do find reading the source useful, so it would be nice to have [source] links in the docs.

[2019-12-20 15:02] zou3519 commented on #26123
We're keeping the [source] links in the docs but removing the source file pages from search engines.

[2019-12-20 15:45] shapovalov commented on #31421
Thanks for the comments everyone!
I’ve tried to reproduce it standalone by allocating/freeing memory in the loop but failed as well. My hope was that someone here would know the code and could quickly check whether the memory is always initialised in `bmm`.

The actual line in my code is
[code]

This is what I get:
[code]

One peculiarity I noticed is that it alternates between zero and non-zero r

[2019-12-20 16:21] #31443 closed

[2019-12-20 16:39] mmiakashs commented on #3223
Thanks a lot, it works

[2019-12-20 16:39] felix-schneider opened #31515 "cumsum backward for zero-length zensors"
## 🐛 Bug

Calling `cumsum` on a zero-dimension tensor raises an error in backward.
The error occurs for both `cumsum` and `cumprod` and on both CPU and GPU

## To Reproduce

[code]

Output:
[code]

## Expected behavior

I'm not sure if the gradient calculation makes any sense in this edge case, but at least the error message should be more clear.

## Environment

[code]

cc @ezyang @SsnL @albanD @

[2019-12-20 17:28] peterjc123 commented on #31370
Fix landed in master

[2019-12-20 17:28] #31370 closed

[2019-12-20 18:18] dryarullin opened #31516 "Build Libtorch with TBB"
### Problem:

Build Libtorch with TBB support is failing on Win10.
Maybe I should use my own tbb?

### Expected behavior

It builds successfully. Building with OpenMP is working in the same environment.

### Build logs:
[code]

cc @peterjc123

[2019-12-20 18:18] ngimel commented on #31483
It says there's no pytorch under python3:
[code]
Please create a clean python 3 environment and follow either binary install instructions from pytorch.org, or installation instructions from github.

[2019-12-20 18:18] #31483 closed

[2019-12-20 18:21] aaost commented on #24305
@NeilWangziyu How did you fix this? I am seeing the same thing with the latest release (torch-NOTFOUND is being used in Debug configuration in VS). The official binary release provides 2 separate archives for release and debug builds but both define the same targets (torch). You can't really call `find_package(Torch)` with two different directories since it caches vars.

[2019-12-20 18:33] peterjc123 commented on #31516
Isn't it just because `sccache` doesn't support the assembler in MSVC?

[2019-12-20 18:36] oersoy1 commented on #27595
Hi all, @mcarilli  upping this thread, if you don't mind. I was trying to figure out where this warning was coming from. I am using huggingfaces's transformers for some NLP tasjs and I thought it was there since I made a version update. Then I thought it might be Pytorch, but it turns out it is apex.  Apex's F16 mixed-precision gives me a compute power boost obviously without much accuracy loss. H

[2019-12-20 18:39] mruberry commented on #31515
Thanks for filing this issue, @felix-schneider!

[2019-12-20 18:45] zou3519 commented on #6313
FWIW, nvprof also has the restriction that it can't profile a process that forks. Trying to benchmark a dataloader with nvprof gives the same error:
[code]

Futhermore, the design of the autograd profiler requires it to initialize CUDA; otherwise, it is difficult to accurately create a timeline.

Regarding torch.utils.bottleneck, we should do at least one of the following
1) Switch to CPU-only pro

[2019-12-20 19:08] IvanKobzarev commented on #31419
@phillies
Thanks for reporting it.
The problem happens as native libraries at the moment are loaded only during `org.pytorch.Module.load`, as a hotfix to unblock you while we are working on the fix - if you move `Tensor.fromBlob` after `Module.load` that error should not happen

I am working on the fix.

[2019-12-20 19:44] andreafonso commented on #30331
Will 1.4.0 support Python 3.8?

[2019-12-20 19:45] ngimel commented on #31045
@chi0tzp can this issue be closed, or are you still seeing an error?

[2019-12-20 20:04] Oktai15 commented on #22234
https://github.com/pytorch/pytorch/issues/22234#issuecomment-511168497

Very-very bad situation that @sapjunior mentioned on this summer! Can we add something to CTCLoss documentation about inner softmax in `cudnn_ctc_loss`?

[2019-12-20 20:24] sclarkson commented on #31045
@ngimel Ah, thanks. Guess I didn't look closely enough.

That patch solved the issue for me. I tested NCCL 2.4.8 and 2.5.6, and both work with the patch.

[2019-12-20 20:26] mahmoodn commented on #31483
Thank you. Seems that the installation was broken.

[2019-12-20 20:50] t-vi commented on #22234
The softmax would be mostly an inefficient "exp" given that softmax(logsoftmax(x)) == softmax(x) == exp(logsoftmax(x)), but it's even gone in PyTorch 1.4, which catches up with the more problematic CuDNN BC breaking change between 7.1 and 7.6 was not so nice.
We also added some automatic casting.

So what exactly is the "very very bad situation" and what would you want to add?

[2019-12-20 21:12] Oktai15 commented on #22234
As far as I understood @sapjunior correctly, current implementation of `cudnn_ctc_loss` do `softmax` again. It means that we need to pass logits, not log probs to `cudnn_ctc_loss`?

[2019-12-20 21:19] IvanKobzarev commented on #31415
Hello @Sakulaki ,

IValue works as a 'tagged union' for all supported types, extracting them calling  appropriate for your type `IValue${TYPE}` method.
So for the case of tuple it should be used smth like this:
[code]

[2019-12-20 21:35] t-vi commented on #22234
@Oktai15 This never was much of a problem (except wasting a few gpu cycles). But again, it's gone now.

#27039 also addressed most of the inconsistency problem the original poster observed, so maybe closing this is best after all.

[2019-12-20 21:35] #22234 closed

[2019-12-20 22:17] sparticlesteve opened #31528 "cuCtxGetDevice error and seg fault with DDP and OpenMPI"
## 🐛 Bug

When using DistributedDataParallel with OpenMPI+UCX for certain tested models I'm getting this error in the DDP constructor (I believe it's during the model broadcast):

[code]

I observed this error using a resnet50 model but no error if I instead used a very small single-layer CNN.

## To Reproduce

The script is here:
https://github.com/sparticlesteve/nersc-pytorch-build/blob/911fc67b

[2019-12-20 22:46] z-a-f commented on #31468
Looking into it. Meanwhile, you can get the parameters by running

[code]

[2019-12-20 23:09] IvanKobzarev commented on #31419
@phillies ,
The fix was merged into master as https://github.com/pytorch/pytorch/commit/3a19980b78b6638235edef367784ecc3dc37e364
I have republished android nightlies, the error should not happen if you update to the [latest nightlies](https://oss.sonatype.org/service/local/repositories/snapshots/content/org/pytorch/pytorch_android/1.4.0-SNAPSHOT/pytorch_android-1.4.0-20191220.225919-78.aar) (gradl

[2019-12-20 23:24] elenzil commented on #25164
I also encountered the MemoryError issue installing torch from a pip requirements.txt. This is on an azurecloud ubuntu box w/ 4GB ram.  Manually installing the wheel worked fine, except torchvision doesn't seem to respect the install of torch. ie, despite `pip list` showing torch 1.3.1, `pip install torchvision` or `pip install requirements`  both re-download  `torch-1.3.1-cp36-cp36m-manylinux1_x8

[2019-12-21 00:03] IvanKobzarev commented on #31027
Looks like workaround works - closing the issue.

[2019-12-21 00:03] #31027 closed

[2019-12-21 01:16] stefanlopez commented on #16943
@VitalyFedyunin do you know if IPC functionality will ever be supported on windows without TCC mode? I would really like to run PyTorch in parallel on windows with my RTX 2070, but it doesn't seem that feasible right now.

[2019-12-21 01:25] z-a-f commented on #31468
After #31540 lands you can see the weight values after running `state_dict()` on it. You can also access all the weights using `quantized_model.rnn.all_weights`

[2019-12-21 01:38] ptrblck commented on #31420
Minimal code snippet:
[code]

`gdb` stacktrace:
[code]

[2019-12-21 02:11] cpuhrsch commented on #23384
I'm going to start looking into this in context of NestedTensors

[2019-12-21 03:02] ngimel commented on #31500
Per offline conversation, looks like a bug in cudnn, because algo 1 should always use small amount of memory.

[2019-12-21 03:02] #31500 closed

[2019-12-21 03:13] huanglianghua commented on #7455
Suggested implementation:

[code]

I have checked that:
(1) When smoothing=0.0, the output is the same as `nn.CrossEntropyLoss` within precision `1e-5`.
(2) When smoothing>0.0, the sums of weights over different classes `weight.sum(dim=-1)` are always 1.

[2019-12-21 03:15] Fenghuixueha opened #31543 "how to install torch by python3.8?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-12-21 03:18] ptrblck commented on #24963
I've taken multiple shots at this issue and tried to reproduce it.
However, I cannot see any issues in blocking CUDA ops on different devices using `torch.multiprocessing`, so my best guess is it might be related to Python's multi-threading.

@heiner I also cannot see the synchronizations in the provided profile, so I used nsight-systems instead. Also, it seems you've just profiled the `randint` c

[2019-12-21 05:43] zasdfgbnm commented on #22496
Only partially fixed

[2019-12-21 05:43] peterjc123 commented on #31543
Closed by duplicate of #29090

[2019-12-21 05:43] #31543 closed

[2019-12-21 05:47] ngimel commented on #31495
Closing, result is as expected. Please reopen if you think expected behavior is different.

[2019-12-21 05:47] #31495 closed

[2019-12-21 15:19] vadimkantorov commented on #29697
@vincentqb A compromise could be exposing closed-form versions as pure functions as part of official (or not official) API as reference code. The a user can create their own LambdaLR by reusing some of code and be sure that it is tested and correct, and the existing scheduler API can exist as is (also reusing these functions internally)

[2019-12-21 16:29] narfanar opened #31545 "IndexExpressions (or slice) for jit.script functions"
## 🚀 Feature
We should be able to do something like:

[code]

## Motivation

Giving names to long/repeated index expressions makes kernels a lot easier to read and reason about. There's currently no way around this besides copy-pasting the expression at every indexing site.

## Pitch

Add an analogue to `numpy.IndexExpression` and an associated constructor (like `numpy.s_`) to PyTorch with support

[2019-12-21 16:31] narfanar commented on #31545
I didn't mean to cc anyone... So gonna assume it was in the template :T

[2019-12-21 17:09] ducha-aiki opened #31546 "Make torch.solve output NaN for singular matrix"
## 🚀 Feature

Make torch.solve output NaNs instead of crashing for singular matrix

[code]
Now it leads to crash:

## Motivation

I am using torch.solve for quadratic interpolation of local response maximum in kornia library, similar to way it is done in OpenCV for SIFT

https://github.com/kornia/kornia/blob/master/kornia/geometry/spatial_soft_argmax.py#L602

[code]

OpenCV: https://github.com/ope

[2019-12-21 17:12] qbx2 commented on #19348
There is an edge case when we have a ScriptModule as child.
[code]
$ python test.py
[code]

When we call `ParentModule().modules()`, we see ScriptModule instead of nn.Conv2d. When we reset parameters using `self.modules()` in `ParentModule`, the Conv2d may not be initialized when isinstance(m, nn.Conv2d) check is present.

[2019-12-21 17:57] nikitaved commented on #31425
@zasdfgbnm, does it mean that this 2d convolution is treated like a 1d convolution on a CPU?
Does the code has to switch to 1d convolution, or just carry one with redundant weights and propagate zero gradient to them in backward?

[2019-12-21 18:19] abdallahserag commented on #3717
hello guys  I try to run this code from GitHub
https://github.com/zllrunning/Deep-Steganography
on my Mac  but I have error
main.py:17: UserWarning: nn.init.kaiming_normal is now deprecated in favor of nn.init.kaiming_normal_.
  init.kaiming_normal(m.weight.data, a=0, mode='fan_in')
Traceback (most recent call last):
  File "main.py", line 34, in <module>
    hide_net.cuda()
  File "/Library/Frame

[2019-12-21 18:31] abdallahserag commented on #5858
hello guys I try to run this code from GitHub
https://github.com/zllrunning/Deep-Steganography
on my windows 10 but I have error

F:\project\Deep-Steganography\Deep-Steganography>python main.py
main.py:16: UserWarning: nn.init.kaiming_normal is now deprecated in favor of nn.init.kaiming_normal_.
  init.kaiming_normal(m.weight.data, a=0, mode='fan_in')
F:\project\Deep-Steganography\Deep-Steganograp

[2019-12-21 18:36] abdallahserag commented on #7485
hello guys I try to run this code from GitHub
https://github.com/zllrunning/Deep-Steganography
on my windows 10 but I have error

F:\project\Deep-Steganography\Deep-Steganography>python main.py
main.py:16: UserWarning: nn.init.kaiming_normal is now deprecated in favor of nn.init.kaiming_normal_.
init.kaiming_normal(m.weight.data, a=0, mode='fan_in')
F:\project\Deep-Steganography\Deep-Steganography

[2019-12-21 18:40] anbai106 commented on #16076
@SsnL Sorry to ask the same question, which you may have already explained clearly. I'm not quite familiar with SVD, but I do encounter in the similar situation, where I want to convert numpy/scipy.linalg.svd to pytorch, hopefully have exactly the same decomposition. Unluckily, I do need all U, S, V matrices for following code. I'm not saying that this is a bug (Cuz I don't know the technique insi

[2019-12-21 19:04] #31045 closed

[2019-12-21 19:46] meganset opened #31547 "PReLUFuncOptions declared, not used or valid"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2019-12-21 19:47] #31547 closed

[2019-12-21 19:53] meganset opened #31548 "c++ PReLUFuncOptions declared, not used or valid"
## 🐛 Bug

nothing serious,
parameterized relu's functional form requires the input tensor and the weight(s),
not the _num_parameters_ & _init_ arguments of the module:

[code]
_PReLUFuncOptions_ as declared is never used, wouldn't fit the functional form

[2019-12-21 19:54] Unity05 opened #31549 "Prepare() ignores 'qconfig_dict'"
## 🐛 Bug

When using ```prepare()```, the passed ```qconfig_dict``` is ignored and thus leads to the safe calling of the UserWarning defined in the next lines.
(l. 144)

## To Reproduce

Steps to reproduce the behavior:

1.) ```qmodel = quantization.prepare(model=model, qconfig_dict={"ModuleName": quantization.get_default_qconfig())})```

UserWarning:
```...\quantize.py:147: UserWarning: None of t

[2019-12-21 20:02] cemreefe commented on #18205
so what was the problem?

[2019-12-21 20:03] Unity05 commented on #31549
I am on it.

[2019-12-21 20:09] sheikmohdimran commented on #31107
Don't we have `torch.cuda.nccl.version()` for this?

[2019-12-21 21:33] jamesr66a opened #31551 "TorchBind broken on rocm"
with https://github.com/pytorch/pytorch/pull/29501

[code]

[2019-12-21 22:55] gdikov commented on #18730
@Diego999, I think you have a sign error. The definition of KL(q||p) is the expectation of the log-ratio of q and p w.r.t. to q. In other words you should approximate it like that:
[code]

[2019-12-22 00:02] amimai opened #31553 "allow setting different batch size splits for data_parallel.py and distributed.py"
## 🚀 Feature

Allow allocation of a second parameter when assigning devices to parallel implementations to control how the batch will be split between the devices involved.

## Motivation

The main limitation in any multi-GPU or multi-system implementation of PyTorch for training i have encountered is that each GPU must be of the same size or risk slow downs and memory overruns during training.

#

[2019-12-22 00:07] pbridger commented on #12461
Any update to this? I am noticing this also, and it would be great if a simple mask did not cause a synchronise. Is there a work-around or fix?

[2019-12-22 03:53] XiaoshuiHuang opened #31554 "RuntimeError: Error in dlopen or dlsym: libcaffe2_nvrtc.so: cannot open shared object file: No such file or directory"
RuntimeError: Error in dlopen or dlsym: libcaffe2_nvrtc.so: cannot open shared object file: No such file or directory

Environment:
1. Pytorch 1.3.1
2. Linux
3. Pycharm

[2019-12-22 04:00] XiaoshuiHuang commented on #31554
I found a solution: include the lib path of anaconda into LD_LIBRARY_PATH before running pycharm.

**For my own case:** run the following code line in the command line.

export LD_LIBRARY_PATH=/data/xiaoshua/miniconda3/lib/python3.7/site-packages/torch/lib:$LD_LIBRARY_PATH

**For your case:**  change the path of "/data/xiaoshua/miniconda3/" to your own directory. Then, run the above export code li

[2019-12-22 07:40] jdwuyao commented on #21819
Have you solved this problem？I met the same one recently. I can run the code correctly in a machine,  but the bug arise in my own computer,even the two machine have same 2080Ti card with same diver  and the same conda envirenment @xiaoxiangyeyuwangye

[2019-12-22 08:13] peterjc123 commented on #31418
This is caused by some commit between 52b8a52e4dfcbc074be9c743bde2a8f86aa3c0e1 and c05538b8314d2413a2b294fa71ff22768599d666.

[2019-12-22 08:31] CANEAT commented on #13273
I have same problem when training error with more than 1 GPU while with 1 GPU is OK. it work for me,Thanks.

[2019-12-22 08:59] peterjc123 commented on #31516
cc @yf225 Could you please make our sccache binary skip `ml64.exe`?https://github.com/aidanhs/sccache/commit/b82aab8ba9c339f7baff569b4d1b6066ecf22d56

[2019-12-22 09:02] peterjc123 commented on #31418
Bisecting shows that https://github.com/pytorch/pytorch/commit/f0243ea7129cea3b6e1042057503a4da15fadec2 is the cause, which only happens for MSVC 14.11.

[2019-12-22 09:07] YaraAlnaggar commented on #19835
Thank you it solved the problem for m.

[2019-12-22 09:14] peterjc123 commented on #31551
Also on Windows: https://app.circleci.com/jobs/github/pytorch/pytorch/4048833

[2019-12-22 09:57] yustaub opened #31556 "Can pytorch 1.3 support cuda 9.0"
the machine nvidia driver version is 390.67, and I have no power to update the driver, but the detectron2 requires pytorch1.3, and can pytorch 1.3 support cuda 9.0 ？Or anyone knows how pytorch1.3 and cuda 9.0 coexist?sincere thanks！！

[2019-12-22 10:08] peterjc123 commented on #31556
I guess you'll need to build from source.

[2019-12-22 11:00] yustaub commented on #31556
@peterjc123 oh, I think I can not handle it now ,I just a newer for deep learning

[2019-12-22 11:53] v0dro commented on #12013
Past work: https://github.com/pytorch/pytorch/pull/26214

[2019-12-22 15:28] vadimkantorov opened #31557 "[docs] F.ctc_loss docs to warn clearly about invalid inf-causing inputs; zero_infinity to become enabled by default"
**UPD** summary of all the long discussion for further discoverability:
1. F.ctc_loss will produce inf loss if presented with invalid unalignable examples
2. Such invalid examples may be generated by official usage code example if one is extremely unlucky or if one twists the dimension sizes a little bit
3. When presented with invalid examples, sum and mean reduction modes by default cause the who

[2019-12-22 17:01] XeonHis commented on #31049
I meet this problem too and have tried use ln to link, but it doesn't have work. My GPU is rx580.

[2019-12-22 17:57] dlibenzi opened #31558 "More dynamic PT APIs"
## 🚀 Feature

Implement some of the pytorch APIs taking tensors as inputs, instead of python scalars.

## Motivation

Many of the pytorch APIs takes some of the inputs as python scalars.
Example:

https://pytorch.org/docs/stable/tensors.html#torch.Tensor.narrow

This is OK when the inputs are step constants (either real constants, or command line arguments), but in case these are dynamic, they for

[2019-12-22 17:57] dlibenzi commented on #31558
@ailzhang @mruberry

[2019-12-22 18:01] aayn commented on #31453
Can I take this up (new contributor here)? From preliminary exploration, it seems like when computing `log(0)` in this case, PyTorch internally computes `log(1e-12)` as can be seen [here](https://github.com/pytorch/pytorch/blob/3397d41b8af2824495faaefc649c3c7e47f03bfb/aten/src/THNN/generic/BCECriterion.c#L5) and [here](https://github.com/pytorch/pytorch/blob/ffe0c1ae4d8de75bc4d6cf5c43123df1e538d8a

[2019-12-22 18:39] Enealor commented on #31453
Thanks for the find. I am still getting used to navigating the C/C++ code. I can see now that it is using a safe log function that replaces `log(0)` specifically with `log(EPS)` where `EPS = 1e-12`. If you would make a pull request to update the documentation, that would be great.

[2019-12-22 18:55] aayn commented on #31453
I'll do that! This brought something interesting to my attention. The binary cross entropy loss for values less than `1e-12` but greater than `0` is greater than the loss for `0`. For example:
![maybe_prob](https://user-images.githubusercontent.com/9693267/71325955-1fcfb380-24a9-11ea-967a-86ffca971047.png)

Is this behavior desirable/acceptable or should it be fixed?

[2019-12-23 01:18] XiaobingSuper commented on #31195
@terminator-ger @davtir , we will pull a request to sovle this bug soon. Thanks!

[2019-12-23 01:50] Sakulaki commented on #31415
Hi @IvanKobzarev ,

Thanks for your reply, it works, nice!

[2019-12-23 01:50] #31415 closed

[2019-12-23 02:28] xubin1994 commented on #31464
Hi,Hello, I talked with onnxruntime and found that the problem may still come from torch.gather OP.
https://github.com/microsoft/onnxruntime/issues/2699
[code]
With the "verbose = True", torch.gather(right_input,dim=3, index=right_y_coordinate_a.long()) Corresponding to the onnx code below,
[code]
This is also the prbblem mentioned by onnxruntime(https://github.com/microsoft/onnxruntime/issues/269

[2019-12-23 02:31] huang229 opened #31560 "What should I do if my model has multiple inputs and multiple outputs?"
Here are the functions to export the model using onnx:
torch.onnx.export(model, dummy_input, "alexnet.onnx", verbose=True, input_names=input_names,
output_names=output_names)
What should I do if my model has multiple inputs and multiple outputs? How can I export a model?
My model interface is roughly as follows:
 model = YOLO_SEGONE()
 model_initial(model, model_name)
 if is_cuda == True:

[2019-12-23 02:36] xiangpan-osu commented on #20356
For C++ -> Python case, if I wrote f into a file in C++ and run `x = torch.load(FILENAME)` in python it will encounter errors.

[code]

Any ideas on how to do this? @driazati

[2019-12-23 04:30] HsunGong commented on #21796
See here for some refer https://discuss.pytorch.org/t/replace-diagonal-elements-with-vector/15311

[2019-12-23 05:23] TerenceCYJ commented on #8318
https://discuss.pytorch.org/t/import-pytorch-failed/23199/4

[2019-12-23 05:33] OhadRubin opened #31561 "Adding bitwise_or and bitwise_and"
## 🚀 Feature
Add an op that performs 'and' and 'or' on a bitwise level.
For example:

`a = torch.LongTensor([3]) # b'11'`
`b = torch.LongTensor([2])  # b'10'`
`torch.bitwise_and(a,b) # 2 == b'10'`
## Motivation
As of now, logical_and and logical_or always return bool, and if one wishes to get the bitwise result, there is no solution available.
Specifically, I would like this feature to implement a

[2019-12-23 05:52] OhadRubin commented on #31561
This is a duplicate of https://github.com/pytorch/pytorch/pull/31104 and https://github.com/pytorch/pytorch/pull/31104

[2019-12-23 05:52] #31561 closed

[2019-12-23 06:09] peterjc123 commented on #31418
Okay, looks like this doesn't work in MSVC 14.16 too. So actually using VS 2017 is not feasible. Can we revert it for now? Otherwise, the CUDA 9.x builds will totally be broken. cc @ezyang

[2019-12-23 06:10] adamjstewart commented on #24334
For anyone else who runs into this problem, setting `CMAKE_LIBRARY_PATH` to `<prefix>/mkl/intel64/lib` solved the problem for me on Linux.

[2019-12-23 06:52] #31560 closed

[2019-12-23 07:39] mruberry commented on #31557
Thanks for the suggestion! It'd be great if you wanted to submit a fix for this.

[2019-12-23 07:40] mruberry commented on #31558
Thanks for filing the issue, @dlibenzi!

[2019-12-23 07:41] mruberry commented on #31556
This question is more appropriate for the forums: https://discuss.pytorch.org/.

https://pytorch.org/ may also answer your questions.

[2019-12-23 07:41] #31556 closed

[2019-12-23 07:44] mruberry commented on #31551
Master looks green. Is this fixed or a flaky test issue? (If flaky, please add the flaky test label.)

[2019-12-23 07:45] mruberry commented on #31554
Great to hear you found a solution!

[2019-12-23 07:45] #31554 closed

[2019-12-23 07:45] peterjc123 commented on #31551
@mruberry The windows tests are disabled so the CI is green.

[2019-12-23 07:47] mruberry commented on #12461
@ngimel for triage review

[2019-12-23 07:50] mingfeima commented on #24667
@VitalyFedyunin please refer to #30806

[2019-12-23 07:51] peterjc123 commented on #31108
Error text running cuda-memcheck:
[code]

[2019-12-23 07:52] mruberry commented on #31548
Would you like to submit a fix for this, or remove it if it's dead code?

[2019-12-23 07:53] mruberry commented on #31546
Can you efficiently check if the matrix is singular before calling solve?

[2019-12-23 07:54] mingfeima commented on #24781
@VitalyFedyunin please refer to #30954

[2019-12-23 07:57] mruberry commented on #31528
@pietern, do you have an idea?

[2019-12-23 08:02] mruberry commented on #31551
That is surprising. Do we have an issue for these test suites being disabled?

Also, when were they disabled and why?

[2019-12-23 08:23] peterjc123 commented on #31551
Because the naming of the tests is wrong. We are trying to revert it in https://github.com/pytorch/pytorch/pull/30897.

[2019-12-23 08:33] AshutoshUpadhya commented on #31418
I am facing same issue for same environment properties. Any update?

[2019-12-23 08:39] yangsenius commented on #30459
Thanks

[2019-12-23 08:42] peterjc123 commented on #31418
@AshutoshUpadhya As a user, you can do `git revert f0243ea` and then rebuild the project.

[2019-12-23 08:59] eternity1984 commented on #26458
@gordinmitya
After upgrading the torch version to `1.3.1`, no error occurs.
But something is weird. 😢

[2019-12-23 09:01] mohitranawat opened #31564 "Model Loading Issue in Android"
## 🐛 Bug

I was loading my model in the Pytorch Android with the nighly build for pytorch android but the model is not loading.

Then I was trying to load the MobilenetV2 given in the pytorch demo app with the nighly build version but this model is also not loading. It was loading few days back.

Is there any changes in the nightly version which I need to replicate to load the model correctly ?

E

[2019-12-23 09:17] arita37 commented on #22439
@kaszperro  @Darktex   @gchanan

Am working on this one...
pip install metric
https://pypi.org/project/metric/

metric.WHATeverMetric_In_numpy_style_syntax(y_true, y_pred,..)

If anybody interested, we can discuuss

[2019-12-23 09:23] nachovall opened #31565 "Force libtorch to use CUDA context"
I’m trying to integrate C++ libtoch to load a model into my application. My application does many CUDA staff before I load the model with libtorch. Thus, the CUDA context has already been created.

For some reason, even the CUDA context has already been created and the calling thread has already a valid context, when I call

torch::jit::script::Module module = torch::jit::load(“test.pt”);
module.t

[2019-12-23 09:34] AshutoshUpadhya commented on #31418
m still getttiing after after reverting to previous checkpoint.
Error :
cmake --build . --target install --config Release -- -j 4
[1/1571] Building CXX object caffe2\CMakeFiles\torch_cpu.dir\__\aten\src\ATen\core\DeprecatedTypeProperties.cpp.obj
FAILED: caffe2/CMakeFiles/torch_cpu.dir/__/aten/src/ATen/core/DeprecatedTypeProperties.cpp.obj
C:\PROGRA~2\MICROS~1\2017\BUILDT~1\VC\Tools\MSVC\1416~1.270

[2019-12-23 09:35] AshutoshUpadhya commented on #31418
can you pls have a look @peterjc123

[2019-12-23 09:40] vadimkantorov commented on #31557
@mruberry One needs insight about CTC impl which I don’t have: can it be fixed or not. So in this case I can’t submit a fix.

[2019-12-23 09:43] vadimkantorov commented on #31557
This is potentially a bug in CTC. @mruberry could you please recategorize this?

[2019-12-23 09:44] vadimkantorov commented on #31557
@t-vi would you have any comments about proper encoding of repeated labels?

[2019-12-23 10:19] peterjc123 commented on #31418
@AshutoshUpadhya Your problem is a duplicate of https://github.com/pytorch/pytorch/issues/30886. We are actively looking into it but doesn't have an easy workground. At present, you can only update to VS2019 to resolve this build error.

[2019-12-23 10:20] peterjc123 commented on #30886
Would you please try whether https://github.com/pytorch/pytorch/pull/31092 solves the problem?

[2019-12-23 10:28] albanD commented on #31464
Hi, Could you share the code that corresponds to the op in the image shared in the issue on onnxr (LeakyRelu, Gather, Clip, Cast)?

[2019-12-23 10:53] xubin1994 commented on #31464
Hi,here is the relevant code.
[code]
You can use random input to verify this function to determine if there is a problem with torch.gather() op when after "torch.onnx.export()".
It should be noted that, in order to convert into an onnx model, I set the input size:
right_input [1,32,704,1280]
disparity_samples:[1,1,704,1280]

[2019-12-23 11:38] vainaijr opened #31567 "regarding tgt_mask: (T, T) set as optional in nn.TransformerDecoder"
shouldn't tgt_mask be always there, because we do not want nn.TransformerDecoder to look at ahead words during training.
for example if input to nn.TransformerDecoder is the sequence,
[code]
then if we do not provide tgt_mask, and pass (tgt, tgt, tgt) in self_attn, then the representation of 'hello' would consider 'world' also, when computing self attention.

[2019-12-23 13:18] heiner commented on #24963
Hey @ptrblck, thanks for taking a stab at this!

I am not surprised using multiple devices works fine with `torch.multiprocessing`. This bug is about multi-threading. In our use case, the data we consume and learn from is itself generated using a PyTorch module. This is common in reinforcement learning (multiple "actors" consume environment outputs and produce actions, while a centralized "learner

[2019-12-23 13:55] adizhol opened #31568 "Runtime error in torchvision nms in Linux. Windows works fine"
## 🐛 Bug

Hi,

I'm getting an runtime error when running torchvision\ops\boxes.nms.
torchvision 0.4.0
pytorch 1.2.0 (GPU)

frame #0: c10::Error::Error(c10::SourceLocation, std::string const&) + 0x33 (0x7fd8e1d79273 in /opt/conda/lib/python3.6/site-packages/torch/lib/libc10.so)
frame #1: at::native::empty_cuda(c10::ArrayRef<long>, c10::TensorOptions const&, c10::optional<c10::MemoryFormat>) + 0xb76

[2019-12-23 14:11] l903404160 opened #31569 "I cannot fix the error of variables has been modified by an inplace operation"
## ❓ Questions and Help

Recently, I got an error:
[code]

Although I turn off all `ReLU(),inplace` to `False`, I still got this error. Because I need to use `backward()` twice in a sample. The code works fine at first backward. But once I enter the second step, when I call the `loss.backward()` it break down.

Here is my model:
[code]

Is there some solution? Thank you

cc @ezyang @SsnL @albanD @

[2019-12-23 14:31] saareliad opened #31570 "Can't pin storage memory"
## 🐛 Bug

Can't pin storage memory.
Not sure if this is planned or common behavior, but if this is part of the interface I guess it shouldn't fail.

## To Reproduce

Steps to reproduce the behavior:

1. ```import torch; torch.randn(10).storage().pin_memory()```

AttributeError: module 'torch.cuda' has no attribute '_host_allocator'

## Expected behavior
Returns a copy of storage which is pinned.

[2019-12-23 14:44] alxmopo3ov opened #31571 "Bug in ForkingPickler for multiprocessing spawn context for shared storages on Linux"
Hello!

This code

[code]

Ends up with

[code]

I have not completely investigated the problem, but looks like that issue in ForkingPickler.

When spawning new process, forking pickler for tensors sends several file descriptors for shared tensors. Here https://github.com/google/python-subprocess32/blob/master/_posixsubprocess.c#L129 CPython checks that file descriptors list does not have duplicat

[2019-12-23 15:17] Lyken17 opened #31572 "[Tutorial]: Wrong example of Our Own Ring-Allreduce"
Current, [Our Own Ring-Allreduce](https://pytorch.org/tutorials/intermediate/dist_tuto.html#our-own-ring-allreduce) example is not correct. It will NOT perform all reduce on selected tensors. The code to reproduce is attached below

[code]

The terminal output is

[code]

The correct code snippet should be

[code]

Though I didn't quite understand the usage of `send_buffer` and `recv_buffer` here,

[2019-12-23 16:28] vadimkantorov commented on #29697
@vincentqb this issue got automatically closed by the bot, but I think the docs concerns are not addressed yet . Could you please reopen it?

[2019-12-23 16:42] vincentqb commented on #29697
Do you mean this one?

[2019-12-23 16:52] vincentqb opened #31574 "attribute and register_buffer are not the same on gpu"
## 🐛 Bug

According to the [jit documentation](https://pytorch.org/docs/stable/jit.html), "2. register_buffer - Values wrapped in register_buffer will work as they do on nn.Modules. This is equivalent to an attribute (see 4) of type Tensor."

However, when using attribute, an error is raised, see below for an example. This does not occur when using `register_buffer` in pytorch/audio#369.

[code]

[2019-12-23 16:58] vadimkantorov commented on #29697
I was meaning this one

[2019-12-23 17:40] ngimel commented on #12461
In the case of `x=x[mask]` the synchronization is caused by indexing with boolean tensor, also related to https://github.com/pytorch/pytorch/issues/30246, that also has some implementation pointers. `nonzero` that is called in this conversion has a legitimate synchronization - it is necessary to pass the information from the device about how many non-zero elements were found in the boolean index t

[2019-12-23 18:04] vishwakftw commented on #31568
Could you please create this issue in [pytorch/vision](https://github.com/pytorch/vision)?

However, by the looks of it, there might be integer overflow. The size of the mask

https://github.com/pytorch/vision/blob/d2c763e14efe57e4bf3ebf916ec243ce8ce3315c/torchvision/csrc/cuda/nms_cuda.cu#L86-L87

created is 490698 * 7668 = 3762672264 and this can't fit into a signed integer of 32 bits.

cc: @fmas

[2019-12-23 18:11] cpuhrsch commented on #31558
This is a big feature that'll require separate discussion.

[2019-12-23 18:15] cpuhrsch commented on #31425
Easy for us to add a guard, but will also inform cuDNN team to send a fix. Not high priority for now since it's not a very common error.

[2019-12-23 18:20] cpuhrsch commented on #31420
Likely a duplicate for the division by 0 behavior - cc @fmassa

[2019-12-23 18:22] cpuhrsch commented on #31438
We're happy to accept a PR to resolve this issue

[2019-12-23 18:24] cpuhrsch commented on #31497
Could you also share the model if you can? That'll make it easier for us to reproduce

[2019-12-23 18:27] cpuhrsch commented on #31394
We're taking this into account as an enhancement - we're willing to accept a PR

[2019-12-23 18:28] cpuhrsch commented on #31394
The wider issue discussing this is https://github.com/pytorch/pytorch/issues/22378

[2019-12-23 18:29] cpuhrsch commented on #31449
cc @VitalyFedyunin  as of fix PR that seems to be landed already

[2019-12-23 18:31] cpuhrsch commented on #31362
cc @suo for potential pybind11 upgrade - issue seems to be resolved in new releases

[2019-12-23 18:40] t-vi commented on #31557
The algorithm behind the function(s) is relatively vanilla the alignment but in logspace.
You never have a problem with target label repetitions, you just give it the target that you want. Only the input has the special encoding wrt repetitions and blanks.
My apologies for being blunt here, but based on the thread, I can recommend reading up on the ctc loss. Maybe the parameters become clearer aft

[2019-12-23 19:09] kurtamohler commented on #31453
FYI, I recently created a PR to port BCELoss from TH to ATen (https://github.com/pytorch/pytorch/pull/31365), and I expect it will be merged in the near future. I could take over this issue and update the documentation to match it. Or, @aayn, if you would still like to do it, then I would recommend waiting to push your documentation changes until after my changes have been merged.

As already ment

[2019-12-23 19:12] gourav-sg commented on #20822
this feature will be absolutely wonderful, we have large volumes of data either stored in parquet or kinesis or kafka or elasticsearch, which makes this feature absolutely wonderful to have. Otherwise I do not quite understand how Pytorch community exactly says that this is a production ready software

[2019-12-23 19:13] vadimkantorov commented on #31497
I will try: I’ll save the model and all data inputs

[2019-12-23 19:18] mrshenli commented on #31515
self-assigned to reserve for Bootcamp

[2019-12-23 19:23] chongruo opened #31576 "[Error] Distributed training"
encounter an error when using distributed training. Not sure how to fix it.

envs:  pytorch-1.2 + cuda10.0

[code]

cc @SsnL @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528

[2019-12-23 19:25] vadimkantorov commented on #31557
@t-vi For context: I've read the distill tutorial and other materials (including the original Graves paper) many times. I've been working on a speech recognition system for a few months and have had no problems with the CTC implementation in PyTorch (I used a special "repeat" character though).

As you know, I've been experimenting with an equivalent formulation of CTC in https://discuss.pytorch.o

[2019-12-23 19:31] jaliyae commented on #20822
Instead of recreating, why not improve/integrate this https://github.com/uber/petastorm

[2019-12-23 20:16] mrshenli commented on #31515
As I am making this a bootcamp task, let me add more context here.

The backward function implementation for `cumsum` is at

https://github.com/pytorch/pytorch/blob/e46babb6378b9bf18265e4ff2bb9e8ebe0b50522/tools/autograd/templates/Functions.cpp#L417-L426

The fix should be simple, just replace `x.dim() == 0` with `x.numel() == 0`. For the above failure case, the dimension of the tensor is 2, but t

[2019-12-23 20:17] mrshenli commented on #31515
cc @leedtan

[2019-12-23 20:21] #31449 closed

[2019-12-23 20:37] vr25 opened #31578 "torch.save() filepath"
Hi,

I am trying to save tensor using torch.save(tensor_file, file_path). I want the tensor_file to saved in another directory. I join the dir_path to file_path as follows but the tensor_file never gets written to the custom file_path:

`file_path = os.path.join(dir_path, tensor_file_name)`

Thanks!

[2019-12-23 20:53] driazati commented on #31545
This is definitely valid but since it requires adding a new type to TorchScript it is unlikely to happen soon since the use case is pretty narrow. As an immediate workaround you could use a helper function to help you name the slicing op / avoid repetition:

[code]

[2019-12-23 20:54] driazati commented on #31489
Closing since the fix has landed

[2019-12-23 20:54] #31489 closed

[2019-12-23 21:22] meder411 opened #31579 "API to apply weights to gradients when using DistributedDataParallel"
## 🚀 Feature
I would like to propose that the API expose an option to weight the gradients during backpropagation in when using DistributedDataParallel.

## Motivation
Let’s say I have 4 GPUs and I am training a semantic segmentation network on a dataset with an ignore class. As I understand it, in the DataParallel setting, the outputs are aggregated on GPU0, the loss computed, and then the gradie

[2019-12-23 21:25] jerryzh168 commented on #29693
this is fixed I think

[2019-12-23 21:25] #29693 closed

[2019-12-23 21:29] karimhasebou commented on #28733
I will attempt to address this issue

[2019-12-23 22:20] t-vi commented on #31557
This is not a bug but correct mathematical behaviour.

[2019-12-23 22:27] aaost commented on #30886
Apologies ahead of time if I'm doing something wrong, as I'm, but here's what I tried

[code]

What I get is many errors like

[code]

I also tried toolset 14.11 via `-T "v141,version=14.11"` and it also fails

[code]

I don't actually want to build libtorch from source. My problem is I'm getting a crash when simply including the torch/script.h header from the latest nightly binary libtorch build.

[2019-12-23 22:54] vadimkantorov commented on #31557
If this is correct mathematical behavior, shouldn't this aspect be documented? Increasing just number of target time steps in the official example also causes inf:
[code]

I will try to reimpl the forward pass in Python to try to understand the cause

[2019-12-23 23:05] phillies commented on #31419
Thanks @IvanKobzarev this error is fixed, however, now I get a segfault when I call Module.load().
`A/libc: Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x0 in tid 9362 (es.pytorchdebug), pid 9362 (es.pytorchdebug)`
I guess this is not related to this issue?

[2019-12-23 23:23] #31419 closed

[2019-12-23 23:38] #31578 closed

[2019-12-23 23:58] lutzroeder opened #31585 "torch_nightly on Windows still installs 20191216 build"
## 🐛 Bug

PyTorch nighly on Windows still installs 20191216 build.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

More recent build including fix for #31370.

cc @ezyang @gchanan @zou3519 @peterjc123

[2019-12-23 23:59] lutzroeder commented on #31370
@peterjc123 is there a nightly build available including this fix? `https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html` still seems to install 20191216?

[2019-12-24 00:11] driazati commented on #20356
Can you open a new issue with a full repro for your issue (and tag me in it)? For reference, this works fine for me on nightly PyTorch/libtorch:

[code]

[code]

[2019-12-24 00:16] xiangpan-osu commented on #20356
Will do. Thanks for the pointers!

[2019-12-24 00:32] leimao commented on #27972
I know I was not following the recommended way of saving model, but I just got too many hyperparameter to initialize the model. I was saving the model via the following way:
[code]
It worked fine in PyTorch 1.2.0. When I upgraded PyTorch 1.3.1, it started to throw such warnings.

[2019-12-24 01:24] binhongwang opened #31589 "libpytorch_jni.so happen crash on Version:"pytorch_android:1.4.0-SNAPSHOT""
## 🐛 Bug
libpytorch_jni.so happen crash after updata "pytorch_android:1.4.0-SNAPSHOT"

log:
01-05 02:52:50.746 28769 28769 F DEBUG   : pid: 28732, tid: 28732, name: orch.helloworld  >>> org.pytorch.helloworld <<<
01-05 02:52:50.746 28769 28769 F DEBUG   : signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x0
01-05 02:52:50.746 28769 28769 F DEBUG   : Cause: null pointer dereference
01-05 02:52

[2019-12-24 01:24] as754770178 commented on #31305
I try 1.4, the graph style is same with 1.3. The network show in horizontal, it's very hard to use.

[2019-12-24 02:23] vadimkantorov commented on #31557
@t-vi You are right. The situation seems to have nothing to do with repeated labels, but with the fact that input length 2 cannot possibly be aligned to a target sequence of two repeated labels. The behavior is mathematically correct. Btw I reimplemented

Below are some proposals about changes to the docs:

How about adding to zero_infinity description sth like: "e.g. this can happen if aligning l

[2019-12-24 02:59] ethanweber commented on #20409
@DHPO I'm experiencing this problem, but it's not dependent on SSH for me. Did you figure out the issue / solution?

[2019-12-24 03:38] valexsyu commented on #31045
@sclarkson hi, I am a rookie and trying to fix the same problem, but I don't how to use patch form #29014.
Could you help to provide more detail description?
Thanks

[2019-12-24 03:46] xkszltl commented on #31264
So based on what they mentioned, RocksDB is switched to a new version of FindSnappy/FindNUMA/FindZSTD, which uses imported target instead of VARS.
Since PyTorch has the same set of files but written in different ways, they shadow the rocksdb version and causes it to break.

[2019-12-24 03:47] peterjc123 commented on #31585
Yes, I'm aware of it will try to restore the nightly build into a working state asap.

[2019-12-24 04:06] SsnL commented on #31412
@gortizji Unfortunately I still can't reproduce this. If you are able to do a debug build (with `DEBUG=1`), could you post the gdb trace? Thank you!

[2019-12-24 04:23] HelloTobe opened #31590 "DistributedSampler data load time will increase drastically after several batches"
## 🐛 Bug

I'm going to train a Resnet on ImageNet with DDP (A single node with multiple GPUs). I find that the data load time works fine in the first a few batches, but will increase a lot then if using DistributedSampler and it never falls back.

## To Reproduce

Steps to reproduce the behavior:

1. Run the code in the following by `CUDA_VISIBLE_DEVICES=2,3 python3 test_pytorch.py` (Using Distrib

[2019-12-24 04:33] samson-wang commented on #18631
I tried to implement a depthwise conv2d forward function. It just worked.
When the input size is large, which is common in object detection, the speedup is up to 89%.
[code]

I also tested on the efficientnet b0 and b1. It get 15% speedup when the input size is big. However, I did't handle it well when the input is small. Still need some time.

[2019-12-24 05:06] lerancool opened #31591 "when i try to export a pytorch model to ONNX, got RuntimeError: output of traced region did not have observable data dependence with trace inputs; this probably indicates your program cannot be understood by the tracer."
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

##Here is the code

[code]

## Expected behavior

The ONNX should be exported successfully.

## Environment
Python 3.7.4
pytorch '1.3.1'
macos 10.15

cc @suo

[2019-12-24 05:58] peterjc123 commented on #31418
cc @smessmer Maybe we should revert the PR first. Then we can back it out when we finish the update to VS 2019 in all the related parts. (e.g. Nightly machines, Release machines and CI)

[2019-12-24 06:11] aayn commented on #31453
Your clamped log update makes sense. You can take over the issue @kurtamohler.

[2019-12-24 07:20] zakizhou commented on #30632
Any progress?

[2019-12-24 07:40] mruberry commented on #31579
Can you use the autograd hooks to weight the gradients before they're accumulated?

[2019-12-24 07:47] mruberry commented on #31570
Interesting. According to the documentation you should be able to pin a storage (import torch; torch.randn(10).storage().pin_memory()), but I can also reproduce that this throws the error you're seeing. Pinning the CPU tensor itself works without issue.

Thanks for reporting this issue.

[2019-12-24 07:49] mruberry commented on #31569
This question is more appropriate to the PyTorch forums, https://discuss.pytorch.org/.

Please try to create a short runnable snippet reproducing the issue and post it there for help.

[2019-12-24 07:49] #31569 closed

[2019-12-24 07:52] mruberry commented on #31567
This question seems more appropriate for the PyTorch forums,  https://discuss.pytorch.org/.

[2019-12-24 07:52] #31567 closed

[2019-12-24 09:29] Ryuk17 commented on #18325
I used
`torch.save(model_object, 'model.pkl')`
but I cannot load the trained model by
`model = torch.load('model.pkl')`

[2019-12-24 09:59] OhadRubin commented on #31497
I am also experiencing memory leaking on this recent nightly, but my code doesn't use torch.no_grad, @vadimkantorov, did you try without torch.no_grad and it still leaked?

[2019-12-24 11:32] devendraswamy commented on #30998
please suggest any solution for this problem i am also facing the issue like this ??
i am given batch size = 2 and no of workers are 2 only and i am try to train the model in three gpus (each one had 24GB memory). with in few minutes my system will restarted , so please give me any suggestions and tell me is happen due to code or any hardware issue ??

Thanking you !

[2019-12-24 12:21] t-vi commented on #31557
I would have appreciated if you had clearly stated that you are wanting to feed inputs and targets such that the input sequence is mathematically impossible to align to the targets and this is why you get an infinite loss rather than being vague about it.
I'm sure there are bugs to be fixed and improvements to be made and it'd be good to improve the user experience, but I'm not certain that the su

[2019-12-24 12:27] dennymarcels commented on #1204
Weirdly enough, I get this error right after instantiating a class with my model, then moving it to cuda. No labels involved.

[code]

[2019-12-24 12:55] kulkarniniraj opened #31596 "pytorch forward hangs in multiprocess environment"
## 🐛 Bug

This a very peculiar bug I am encountering. I am using MTCNN face detector from https://github.com/TreB1eN/InsightFace_Pytorch/  on pytorch 1.3.1+cpu

The face detection works fine when API is called from __main__ thread. But if I forked a new process and initialized MTCNN as well as face detector model (MobileFaceNet), it hangs in first net forward call (in MTCNN). If load_state_dict fo

[2019-12-24 13:08] vadimkantorov commented on #31557
@t-vi If I had understood this root cause from the get-go, I would not have wasted everyone’s time! Please be ensured, I wrote this in good faith! The proof is I had posted a repro.

I twisted the official example very minorly and found it produces inf (and if one is extremely unlucky, even without any modifications it is theoretically possible to have it generate a bad example). Yes, the un-align

[2019-12-24 13:18] saschalippert commented on #30998
i upgraded my psu from 850w to 1000w. this solved the issue.

[2019-12-24 13:28] devendraswamy commented on #30998
Thank you for your response and is there any another solutions , please let
me know. Thanking you.

On Tue 24 Dec, 2019, 18:48 saschalippert, <notifications@github.com> wrote:

[2019-12-24 13:36] tgaddair opened #31597 "torch nightly CPU (1.4.0.dev20191223) breaks torchvision: std::bad_alloc"
## 🐛 Bug

Installing the latest nightly torch on MacOS and importing torchvision fails with a `std::bad_alloc`:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. `pip install --pre torch torchvision -v -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html`
2. `python -c "import torchvision"`

Versions:

torch: 1.4.0.dev20191223
torchvision: 0.5.0.dev20191223

NOTE that ro

[2019-12-24 13:47] saschalippert commented on #30998
you could try to limit the power consumption, disable boosting or underclock your gpu.

http://developer.download.nvidia.com/compute/DCGM/docs/nvidia-smi-367.38.pdf

[2019-12-24 14:05] vadimkantorov commented on #31557
Got it! I''ll rename the issue properly, so it's discoverable if someone hits it

[2019-12-24 14:08] devendraswamy commented on #30998
Thank so much sir , I will try and then let me inform you !

On Tue 24 Dec, 2019, 19:17 saschalippert, <notifications@github.com> wrote:

[2019-12-24 14:13] vadimkantorov commented on #31557
@t-vi Could you please re-open the issue (for a discussion at some later point)?

I maybe will submit a docs PR at some point as well.

[2019-12-24 14:19] meder411 commented on #31579
That’s a good alternative I hadn’t considered, although it’s quite manual for PyTorch.

[2019-12-24 15:15] peterjc123 commented on #31108
Error text for RelWithDebInfo and `-g` builds:
[code]

[2019-12-24 15:40] anbai106 commented on #9127
This error still repeatedly emerge in the new version of 1.2.0. Setting num_workers=0 is not an optimal workaround... It slows down the process. Strangely, I only got this error for my test data, not training data. Is that possible the error is from my test data itself? Some image has been corrupted, for instance?
Thanks

[2019-12-24 15:49] ly1231cn commented on #25888
@albanD Is register_forward_pre_hook available in the nightly build?

[2019-12-24 16:12] mahmoodn opened #31598 "ATen not compiled with MKL support"
I want to run torchaudio with this code
[code]

but I get this error

[code]

The error is not meaningful and I don't know what is missing? MKL? Aten?
Here is the env information for pytorch
[code]
The variables set according to CMakeCache.txt are
[code]

[2019-12-24 16:39] SsnL commented on #31598
The build system wasn't able to find MKL in your system.

[2019-12-24 17:01] aaost commented on #31585
Thanks! Voting with both arms here!

[2019-12-24 18:53] mahmoodn commented on #31598
I can not find the correct variable name for mkl. Is that $MKL? I have

[code]

[2019-12-24 19:23] ngimel opened #31599 "`cdist` backward for euclidian distance should be expressed through matrix multiplies"
## 🚀 Feature
#25799 provides optimized implementation for `cdist` with `p=2` that uses matrix multiplies instead of specialized (inefficient) kernels. However, that PR did not change the backward logic, so backward even for the optimized case calls inefficient kernels. The logic for `cdist` operation should be rewritten in such a way that euclidian distance becomes a compound operation w/o backwar

[2019-12-24 19:31] mahmoodn commented on #24334
I also had the problem that MKL is missing by installer. Even setting INTEL_MKL_DIR in bash won't solve this. It seems that the `/opt/intel` is hard codded [here](https://github.com/pytorch/pytorch/blob/59094c409ea552001d0f5356df9fdb0086ccee12/cmake/Modules/FindMKL.cmake#L33).

I think this is a bug. I manually set my own path there and then MKL was fine.

[2019-12-24 19:33] mahmoodn commented on #31598
OK. I fixed it in this [thread](https://github.com/pytorch/pytorch/issues/24334#issuecomment-568794596).
I think this should be fixed by developers.

[2019-12-25 01:19] yzlyty commented on #18484
pip install torch==1.0.1 torchvision==0.2.2

[2019-12-25 02:11] TylerYep commented on #11372
Seconding this issue: The following lines show up in every train loop intended for a GPU, and I would love a way to automatically load data using a device, to prevent me from missing a .to(device) call on one of my tensors:

[code]

Instead it should be:
[code]

Thanks!

[2019-12-25 05:31] kwea123 commented on #114
Does CUDA version or CUDNN version affect the determinism?

[2019-12-25 05:34] kwea123 commented on #19013
Does CUDA or CUDNN version affect the determinism?

[2019-12-25 06:30] atanx commented on #21909
ping!  someone please take a look?

[2019-12-25 06:44] kamo-naoyuki commented on #31412
I could also reproduce with source build of torch-1.4.0a0+d6ddfab d6ddfab11fe92400c4201b1d9e322f930d74ee5a and got same trace as the above results.

I don't know how to go ahead the trace  from list.cc

[code]

[2019-12-25 06:46] ShnitzelKiller opened #31601 "Wrong function arguments for Tensor.scatter()"
## 📚 Documentation

https://pytorch.org/docs/stable/tensors.html#torch.Tensor.scatter

The argument name is `src`, not `source`. `source` will cause an error in the current Pytorch version, and `src` will cause an error in older versions.

[2019-12-25 07:44] kdbanman opened #31603 "Typo in `torch.utils.tensorboard.add_image`"
## 📚 Documentation

In [`torch.utils.tensorboard.add_image`](https://pytorch.org/docs/stable/tensorboard.html#torch.utils.tensorboard.writer.SummaryWriter.add_image) there is a small typo:

"suitible" should be "suitable"

[2019-12-25 08:01] JensenHJS opened #31605 "install libtorch1.0"
I can not find previous version of libtorch in pytorch website. So how to install libtorch 1.0 ? looking for your reply

[2019-12-25 08:04] smilelight opened #31606 "No auto-suggest capacity for Transformer"
## 🐛 Bug

1. I use Pycharm for my developing tools.
1. When I typed `from torch.nn import Trans`, I couldn't find the prompt for Transformer
1. Then I checked the source code in[torch.nn.modules.__init__.pyi.in](https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/__init__.pyi.in) and cannot find the similiar code for Transformer

[2019-12-25 09:07] sicklife commented on #21819
same problem. ubuntu 16.04, 2080 ti Driver Version: 440.33.01    CUDA Version: 10.2

[2019-12-25 10:04] basaltzhang commented on #18631
@samson-wang can you release your implementation?

[2019-12-25 10:24] samson-wang commented on #18631
I'm not ready yet. The small input issue has been resolved to some extent.

FYI. I used nvprof to do a profiling. I think that the official implementation doesn't use any shared memory lead to a performance penalty. The kernel launch configuration has to be optimized as well.

For 3000 x 100 x 100 input, my implementation runs really fast.
[code]

For 3000x7x7 input, just a bit faster. I think the

[2019-12-25 10:58] LitLeo opened #31610 "libtorch cpu inference servering multi request thread"
## ❓ Questions and Help
I've been using libtorch to run my pytorch model in a single thread.
The process is:
1) module = jit::load(mode)
2) out_tensor = module.forward()

In the online environment, we use multiple threads to handle requests. Like in tf, the process is:
1) model = load_graph() in parent thread
2) session = create_session(model), create_session in each child threads. These child thr

[2019-12-25 12:21] peterjc123 opened #31611 "the example program using libtorch is not linked against torch_cuda when USE_CUDA is ON"
## 🐛 Bug

Looks like https://github.com/pytorch/pytorch/issues/15992 is coming back again after the split of the torch library.

## To Reproduce

Steps to reproduce the behavior:

1. The following script throws "Torch is not linked against CUDA" and gets 0 as output.
[code]
2. The following one is working correctly and gets 1 as output.
[code]

## Expected behavior

The behaviour keeps consistent

[2019-12-25 12:21] peterjc123 commented on #31611
@ezyang

[2019-12-25 12:53] CielAl commented on #24326
It works!!!
May I have a little bit more about the details of what causes the issue? :)

[2019-12-25 13:42] NeilWangziyu commented on #24305
@aaost Hi, in fact I have not fixed it. I just keep all my code in debug version in order to prevent the problem happends

[2019-12-25 19:30] OhadRubin commented on #7580
if someone is looking for a batched version:
`def cartesian_product(tensor):
    D = tensor.reshape(-1,1)
    _B = torch.stack([x.repeat(x.size(0)) for x in tensor]).reshape(-1)
    _D = D.view(-1,1).expand(tensor.size(0)*tensor.size(1),tensor.size(1)).reshape(-1)
    return torch.stack([_D, _B]).T.reshape(tensor.size(0),tensor.size(1)**2,2)
d=10
A = torch.arange(d)
C = -torch.arange(d)
cartesian_

[2019-12-26 01:21] vadimkantorov commented on #27522
It would also be nice to have torch.logsumexp support multiple input tensors, so that prior torch.stack can be avoided. Actually, this kind of API makes sense for all reduction functions.

Alternatively, maybe this could be supported without API change if a NestedTensor becomes reality (so that torch.stack is done only logically without materialization).

[2019-12-26 02:02] hnuhchen opened #31615 "'torch.load' report 'bad pickle data'"
## 🐛 Bug

## To Reproduce

Hello, everyone. I am using pytorch1.0.1 to load pretrained models.
According to torch/serialization.py,
[code]
It means that i can read pth files in bytes, and then call io.BytesIO(). 'torch.load' can load the buffer because 'io.BytesIO' is a file-like object.
But when i test the [pth file](https://download.pytorch.org/models/alexnet-owt-4df8aa71.pth), it failed, the de

[2019-12-26 02:52] vadimkantorov commented on #9190
Some cases wished to work:
[code]

[2019-12-26 02:54] vadimkantorov commented on #9190
although https://github.com/pytorch/pytorch/pull/29078 made it so that type casting won't work, but I think it's useful for cases when one of arguments is scalar

[2019-12-26 03:36] sdhmdhr123 commented on #5560
same problem.

[2019-12-26 04:05] mruberry commented on #31615
Can you provide a complete, minimal snippet demonstrating the issue? It would be helpful to see how, exactly, you're hitting the error you describe.

[2019-12-26 04:07] mruberry commented on #31610
This questions is more appropriate for the PyTorch forums: https://discuss.pytorch.org/.

[2019-12-26 04:07] #31610 closed

[2019-12-26 04:08] mruberry commented on #31606
Would you be interested in getting these suggestions to work?

[2019-12-26 04:09] mruberry commented on #31605
See the documentation here: https://pytorch.org/cppdocs/installing.html.

It has a link where you can find the download.

[2019-12-26 04:09] #31605 closed

[2019-12-26 04:11] mruberry commented on #31601
Thank you for reporting this issue. Would you like to submit a fix correcting "source" to "src" in the docs?

[2019-12-26 04:51] smilelight commented on #31606
I had made a merge request to this issue, but unfortunately, it didn't past the build test.

[2019-12-26 05:02] youkaichao opened #31618 "Raise warning when type degradation happens"
## 🚀 Feature

## Motivation

When pytorch int tensors are combined with python floats, python floats are degraded, which leads to unexpected behavior.

## Pitch

[code]

[code]

## Alternatives

Raise a warning when type degradation happens, so that people can check whether it is an expected degradation.

[2019-12-26 05:13] youkaichao commented on #6196
If type promotion is not done, maybe we should raise a warning when type degradation happens: https://github.com/pytorch/pytorch/issues/31618

[2019-12-26 05:16] #25452 closed

[2019-12-26 06:25] rohan-varma commented on #31576
Hi, unless you are reporting a specific bug, please use the forums (https://discuss.pytorch.org/) for questions about code (it would also be helpful to post the script that leads to this error).

[2019-12-26 06:25] #31576 closed

[2019-12-26 06:33] SheezyGuo commented on #31106
@liygzting
export MKL_DEBUG_CPU_TYPE=5
this seems to work well for me,mac os 15.1 on AMD,老哥牛皮

[2019-12-26 06:50] rohan-varma commented on #31572
Thanks for pointing this out! The reason for using `send_buffer` and `recv_buffer` is so we don't overwrite the `send` tensor with the data that we receive.

[2019-12-26 06:59] rohan-varma commented on #31553
`DataParallel` already splits your data across the batch dimension across multiple GPUs, see the tutorial for more details: https://pytorch.org/tutorials/beginner/blitz/data_parallel_tutorial.html. Are you asking for more granular control over how this chunking is done?

[2019-12-26 07:01] ngimel commented on #31421
Indeed, with the sizes in the previous snippet I can reproduce it.
[code]

[2019-12-26 07:15] t-vi commented on #9190
Also,
[code]
seems pretty sensible behaviour, I'm not sure why PyTorch would not do that.

[2019-12-26 07:21] hnuhchen commented on #31615
@mruberry
hello, here is minimal snippet.
the pth file is [file](https://download.pytorch.org/models/alexnet-owt-4df8aa71.pth),
you can try it.
[code]

[2019-12-26 07:34] Lyken17 commented on #31572
@rohan-varma How about the following code? I think it provides the same functionality and is easier to understand.
[code]

[2019-12-26 07:43] ngimel commented on #31421
Looks like cublas bug. With the repro script and .ltrace.conf from this gist (put .ltrace.conf in the root directory)
https://gist.github.com/ngimel/780f09d431906a522c4df2da3cd16fbd
I'm getting reasonable looking arguments for cublas call, yet output seems not to be overwritten:
[code]
We could implement a workaround zeroing the output for this case, actual cublas bugfixes take a long time.
cc @pt

[2019-12-26 07:48] ngimel commented on #6196
This issue is fixed with the current type promotion rules.

[2019-12-26 07:48] #6196 closed

[2019-12-26 07:50] ngimel commented on #31618
This issue is fixed with the current type promotion rules
[code]

[2019-12-26 07:50] #31618 closed

[2019-12-26 07:57] Qoo95 opened #31619 "in some math operations, like torch.std, keepdim is not 3rd parameter?"
## 📚 Documentation

### Some Question
when I try some math operations, like torch.std, keepdim is not its 3rd parameter, but torch.mean is. That make me confusion.
[code]

### Another type wrong
in doc, the second item of torch.std_mean, that is torch.std(input, dim, keepdim=False, unbiased=True)

[2019-12-26 07:58] youkaichao commented on #6196
@ngimel  hi, can you point out the version or the pull-request that resolves it? I'm using ``1.0.1`` and it remains.

[2019-12-26 08:05] youkaichao commented on #6196
Oh, I see, it is solved in ``1.3.0``. Thanks :)

[2019-12-26 08:10] Kuloud opened #31620 "PytorchStreamReader failed reading zip archive: failed finding central directory (no backtrace available)"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Module.load(modelFile.absolutePath)
2.PytorchStreamReader failed reading zip archive

## Expected behavior

Load the model file correct.

## Environment

 - PyTorch Android Version : 1.3.1 ( org.pytorch:pytorch_android:1.3.1 )
 - Device Info: Mi 8 / MIUI 11.0.4.0 / Qualcomm Dragon 845

## Additional context

[onet_epoch.pt.zip](https:

[2019-12-26 09:38] Yeongtae commented on #27954
Is it work now?
I am also facing this problem.

[2019-12-26 10:17] gauthamkrishna-g commented on #18626
Supporting this as well!

[2019-12-26 10:37] #7176 closed

[2019-12-26 10:42] ducha-aiki commented on #31546
I cannot think about any of way doing this without actually solving the system.

[2019-12-26 11:49] 773900345 opened #31622 "DispatchStub: missing CUDA kernel"
## 🐛 Bug

When I use libtorch1.3.1 of debug version in my C++ app, it threw a runtime error when I was trying to load a script model:

cuda_dispatch_ptr INTERNAL ASSERT FAILED at C:\w\1\s\windows\pytorch\aten\src\ATen/native/DispatchStub.h:74, please report a bug to PyTorch. DispatchStub: missing CUDA kernel (operator () at C:\w\1\s\windows\pytorch\aten\src\ATen/native/DispatchStub.h:74)

## To Re

[2019-12-26 11:58] breerpeer opened #31623 "torch.pow has a question of Doc"
At torch.pow last paragraph:

        tensor([  2.,   4.,   8.,  16.])

But,the following if True:
In [11]: torch.pow(torch.arange(1.,5.),2)
Out[11]: tensor([ 1.,  4.,  9., 16.])

it's 1 is'n 2

cc @ezyang @gchanan @zou3519

[2019-12-26 12:26] DenisYarullin commented on #31516
I didn't see that this message from the sccache. Yes, without a sccache it works. Thanks.
But I have some questions. What flags are right for building with tbb? Can I replace tbb from the third_party directory with tbb built by me? How can I do this?

[2019-12-26 13:09] litianqi715 commented on #19900
I have reproduced this issue on pytorch 1.1.0

import torch
n = 11
t = torch.tensor([[1.0/n]*n]).half().cuda()
torch.multinomial(t, 1, True)

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.6/dist-packages/torch/tensor.py", line 71, in __repr__
    return torch._tensor_str._str(self)
  File "/usr/local/lib/python3.6/dist-packages/torch/_tenso

[2019-12-26 14:14] peterjc123 commented on #31622
Duplicate of https://github.com/pytorch/pytorch/issues/22681. This will be fixed in the upcoming 1.4.0 release.

[2019-12-26 14:14] #31622 closed

[2019-12-26 15:27] #22158 closed

[2019-12-26 15:42] denfromufa commented on #31438
@cpuhrsch I don't know the cause of this issue yet, still troubleshooting.

[2019-12-26 15:45] ucalyptus commented on #20006
@zhangguanheng66 was the PR created? Getting this error in Pysyft as well wrt lda.
https://github.com/OpenMined/PySyft/issues/2861

[2019-12-26 15:52] zou3519 commented on #31623
@breerpeer you reversed the arguments. This is expected behavior. `torch.pow(2, torch.arange(1., 5.))` gives ` tensor([ 2., 4., 8., 16.])`.

[2019-12-26 15:52] #31623 closed

[2019-12-26 15:55] gchanan opened #31625 "Quantization unit tests are poorly named"
I needed to execute EagerModePostTrainingQuantTest to debug one of my PRs.

There are two obvious issues with this name:
1) It doesn't follow the PyTorch standard, where the all(?) of our existing tests start with "Test", i.e. "TestNN", "TestAutograd", etc.
2) it's not clear which file this test is in.  There are multiple "quant" test files, i.e. `test_quantization.py  test_quantized_models.py  te

[2019-12-26 16:07] albanD commented on #25888
I don't think it has been added to the cpp api yet (only available in python). cc @yf225 ?

[2019-12-26 16:09] albanD commented on #31579
@mruberry If I recall correctly, in case there are hooks. The same hook is called on each replica. So you might have to add the hooks manually on each replica to have different weights for each replica.

[2019-12-26 16:11] albanD commented on #30632
I am waiting for comments on the proposed API above and will start implementing it next month. Feel free to add any feedback you have.

[2019-12-26 16:18] vincentqb opened #31626 "nelements is not jitable"
## 🐛 Bug

As mentioned in [comment](https://github.com/pytorch/audio/pull/365/files#r357952316), `nelement` is not jitable even though [documentation](https://pytorch.org/docs/stable/tensors.html#torch.Tensor.nelement) points one to the other as the same function.

cc @suo

[2019-12-26 16:47] mrshenli commented on #31579
I might miss something here. If all you need is adding a weight to the DDP gradient average, will it be sufficient if you directly manipulate the loss? More specifically, instead of directly calling `Li.backward()`, can you do `(Li * wi).backward()`, where `wi` is the weight you would like to apply to gradients from GPUi?

Another thing I don't understand is why we need this weight in the first pl

[2019-12-26 16:49] albanD commented on #31421
Is the issue linked to the fact that we have both 0-dimensional and 0-stride?

[2019-12-26 17:08] #31385 closed

[2019-12-26 17:30] smiles3983 commented on #26340
I am also having issues with this mainly because we use nexus internally.  And that has issues with the plus sign.  But if pypi had the +cpu versions, it would make things simpler for us.

[2019-12-26 18:19] alnfedorov commented on #30813
I have already managed to implement and test all the stuff locally. Waiting for the code style guidelines and will update PR.

[2019-12-26 18:25] eellison commented on #31626
Thanks for issue! This is more generally covered by https://github.com/pytorch/pytorch/issues/30774, so I'm going to close this one. FWIW, full list of unsupported ops is [here](https://pytorch.org/docs/master/jit_unsupported.html), and each section has an outstanding issue to cover it.

[2019-12-26 18:25] #31626 closed

[2019-12-26 18:29] dreiss commented on #30652
I don't think it's worth creating a shape type, or returning a `List<Integer>` instead of the current `int[]`.  Let's just leave this as-is.

[2019-12-26 18:29] #30652 closed

[2019-12-26 18:30] #30655 closed

[2019-12-26 18:31] dreiss commented on #31564
This was a bug in PyTorch.  Fixed in https://github.com/pytorch/pytorch/pull/31582 .  Please try the latest nightly release.

[2019-12-26 18:31] #31564 closed

[2019-12-26 18:31] dreiss commented on #31589
This was a bug in PyTorch.  Fixed in https://github.com/pytorch/pytorch/pull/31582 .  Please try the latest nightly release.

[2019-12-26 18:31] #31589 closed

[2019-12-26 18:31] ngimel commented on #31421
Cublas just does not handle this edge case correctly. In fact, regular matrix multiply with the same sizes produces expected zero result, so the strides are fine.

[2019-12-26 18:34] dreiss commented on #30226
Do you have a script or notebook that we can use to reproduce this issue?

[2019-12-26 18:43] ngimel commented on #31619
keepdim is a keyword argument, `a.std((1,2), keepdim=True)` produces expected result. Documentation lists `keepdim` as a keyword argument, so as far as current documentation is concerned behavior is consistent. It's confusing through that third positional argument is ignored for torch.std - would you like to submit a PR fixing that?

[2019-12-26 18:43] jerryzh168 commented on #27954
Looks like this is fixed after 1.3.0 is released, I think you should be able to find it in nightly version, or try 1.3.1(not sure if this is fixed there) or wait for 1.4.0 I think

[2019-12-26 18:46] #16154 closed

[2019-12-26 18:47] ngimel commented on #31620
Can you please provide a minimum script demonstrating the error?

[2019-12-26 19:08] #24584 closed

[2019-12-26 19:10] #24721 closed

[2019-12-26 19:10] #24720 closed

[2019-12-26 19:10] #24632 closed

[2019-12-26 19:10] #24765 closed

[2019-12-26 19:10] #24764 closed

[2019-12-26 19:28] kostmo opened #31632 "Re-enable ASAN builds after fixing breakage"
ASAN builds have been experiencing a protracted breakage, and therefore are being disabled in #31631.  The builds should be re-enabled once fixed.

[2019-12-26 19:59] jerryzh168 commented on #31625
For test files, I think `test_quantized.py` can be renamed to `test_quantized_kernels.py` or `test_quantized_ops.py` and `test_quantized_models.py` can be merged into `test_quantization.py`.
Here is what each test file means:
- `test_quantization.py` is the e2e integration tests
- `test_quantized_kernel.py` or `test_quantized_op.py` is the quantized kernel/op test
- `test_quantized_nn_mods.py` is

[2019-12-26 20:03] jerryzh168 commented on #31625
For naming, I think `EagerModePostTrainingQuantTest` should be something like `TestQuantizationEagerModePostTrainingStatic`.

[2019-12-26 20:44] kostmo commented on #31632
ASAN fixed instead by this PR: https://github.com/pytorch/FBGEMM/pull/231

[2019-12-26 20:44] #31632 closed

[2019-12-26 20:56] bsun0802 commented on #30525
I have a similar bug here with torch==1.3.1 and tensorboard==2.1.0. I copy-and-paste the code from the [official tutorial](https://pytorch.org/tutorials/intermediate/tensorboard_tutorial.html), but the projector tab does not appear, the graph and image works well, but not for projectors.

[2019-12-26 21:05] gchanan commented on #30331
https://github.com/pytorch/pytorch/pull/31637

[2019-12-26 23:26] zou3519 commented on #31108
@peterjc123 I'm attempting to reproduce this by logging into one of the windows circle ci machines (they have vs 2019) -- is that where you found the bug as well?

[2019-12-27 01:12] ucasiggcas opened #31643 "how to know the input_shape of a pretrained model ?"
hi,dear,
Just wanna know the model's input_shape,
but got nothing,
So could you help me ?
thx

[2019-12-27 01:18] ZouDongj commented on #25907
只能升级到1.3.0来解决吗

[2019-12-27 01:41] zdevito commented on #31620
The attached file does not seem to be a valid TorchScript file (i.e. one generated with `.save` on a ScriptModule object). Can you provide more detail about how it was generated?

[2019-12-27 01:43] nikitaved opened #31645 "DimCounter::increment unexpected/incorrect behaviour"
## 🐛 Bug

DimCounter::increment produces unexpected DimCounter::values.

## To Reproduce

Steps to reproduce the behavior:
[code]
Produces:
[code]

## Expected behavior
Something like:
[code]

## Environment

PyTorch version: 1.4.0a0+99350b3
Is debug build: Yes
CUDA used to build PyTorch: 10.1

OS: Ubuntu 18.04.3 LTS
GCC version: (crosstool-NG 1.23.0.452-d158) 7.3.0
CMake version: version 3.15.5

[2019-12-27 01:49] zoulu995 opened #31646 "About torch.poisson"
There is no description of torch.poisson in the document. What is the specific function of this interface?
[code]

cc @vincentqb @fritzo @neerajprad @alicanb @vishwakftw

[2019-12-27 01:49] ngimel commented on #31643
Please use discuss.pytorch.org for questions.

[2019-12-27 01:49] #31643 closed

[2019-12-27 01:55] #31645 closed

[2019-12-27 02:09] ngimel commented on #31645
Does this result in some user-facing bug? In this example, 2d-tensor is iterated over in one iteration, offset is properly incremented by `step[0]*step[1]`, so DimCounter.is_done() will return `true` and `counter.values` won't matter. If it were a 3-d tensor, then counter value for the third dimension would be properly incremented (unless it's `1`, in which case it won't matter if it's incremented

[2019-12-27 02:13] ngimel commented on #31646
Thank you for reporting this bug. This function is not documented, most likely it returns a value sampled according to poisson distribution with the parameter given by the input.
@vishwakftw can you please submit a PR to document this function, if you know what it's doing?

[2019-12-27 02:15] nikitaved commented on #31645
I do check whether it is done. I expected max_2d_step to increment by 1, which is wrong, of course. My mistake. Thanks for the clarification!

[2019-12-27 02:31] peterjc123 commented on #31108
It is both reproducible on circleci and jenkins once you use vs2019 as compiler.

[2019-12-27 02:32] ccccchange commented on #15539
I have the same problem as you. Can you tell me how you solved it ?

[2019-12-27 02:39] Kuloud commented on #31620
this model file comes from
https://github.com/Sierkinhane/mtcnn-pytorch

the script to generate the file :
https://github.com/Sierkinhane/mtcnn-pytorch/blob/master/mtcnn/train_net/train.py

Thanks.

[2019-12-27 02:45] Kuloud commented on #31620
line 65 in the file:
https://github.com/didi/AoE/blob/master/Android/third_party/pytorch/src/main/kotlin/com/didi/aoe/runtime/pytorch/PyTorchInterpreter.kt

I try to load the attached model file  in this way.

[2019-12-27 02:58] vishwakftw commented on #31646
@ngimel Sure. The behavior is exactly what you have suggested. I'll document this and send in a PR tomorrow.

[2019-12-27 02:58] vishwakftw commented on #15539
@ccccchange have you updated your magma installation?

[2019-12-27 03:12] yicai commented on #25173
torchvision and cuda  version dis-match.

pls try:  pip install torchvision==0.2.2 ,  and my problem is sloved.

[2019-12-27 03:12] ccccchange commented on #15539
I installed pytorch in the virtual environment of anaconda. I just found some .h files related to MAGMA, but I didn't find libmagma. Could you please tell me how I should update it

[2019-12-27 03:16] ccccchange commented on #15539
I found a magma-related .h file under the path shown in the picture, but I didn't find a magma-related library
![magma](https://user-images.githubusercontent.com/54473539/71499182-6141d380-289a-11ea-883d-456720654385.png)

[2019-12-27 06:02] laizewei opened #31649 "latest libtorch debug error"
libtorch-win-shared-with-deps-debug-latest 2019.12.18
debug x64 NO GPU|win10
---------------------------------------------------------
#include "torch/torch.h"
#include <iostream>
int main()
{
	torch::Tensor b= torch::randn({ 2 },torch::kCPU);
	std::cout << b << std::endl;
	system("pause");
}
---------------------------------------------------------
“ConsoleApplication1.exe”(Win32): 已加载“C:\Users\w

[2019-12-27 06:35] #26798 closed

[2019-12-27 06:37] npuichigo commented on #9222
@ezyang Please see also another work related to block sparse: https://github.com/mozilla/LPCNet

And TVM already supports the block sparse dense operator which has comparable performance as handwritten codes: https://docs.tvm.ai/api/python/relay/nn.html?highlight=sparse#tvm.relay.op.nn.nn.sparse_dense

[2019-12-27 06:38] npuichigo commented on #9222
@ezyang @bamos Please see also another work related to block sparse: https://github.com/mozilla/LPCNet

And TVM already supports the block sparse dense operator which has comparable performance as handwritten codes: https://docs.tvm.ai/api/python/relay/nn.html?highlight=sparse#tvm.relay.op.nn.nn.sparse_dense

[2019-12-27 06:39] peterjc123 commented on #31370
The related PR is now landing and it should restore to the working state in tomorrow's build.

[2019-12-27 06:39] peterjc123 commented on #31649
See https://github.com/pytorch/pytorch/issues/31370#issuecomment-569202683.

[2019-12-27 06:39] #31649 closed

[2019-12-27 06:41] peterjc123 commented on #31370
I've sorry for the delay but actually most devs are on a holiday, so things are going very slowly here.

[2019-12-27 07:15] peterjc123 opened #31650 "test_conv_transposed_large_cuda failed on Windows"
## 🐛 Bug

[code]

## To Reproduce

Steps to reproduce the behavior:

1. python setup.py install
2. python test/test_nn.py

## Expected behavior

Test pass.

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script

[2019-12-27 07:19] vainaijr opened #31651 "update embedding of model prediction also, in the case of sparse tensors"
when we use,
[code]
then, only the embeddings at indices that are passed get updated, for example,
[code]
gives
[code]
but if we want to update embedding of words in our vocabulary that our model predicted, then there is no way to do that, or changing requires_grad for a word in this embedding is also not possible, that is something like,
[code]
cannot be done, and only embedding of indices that a

[2019-12-27 07:20] zhuhaozhe opened #31652 "About throughput_benchmark and JIT model."
## 🐛 Bug

Hi, I'm trying to set up a throughput benchmark test for DLRM(https://github.com/facebookresearch/dlrm) by using torch.utils ThroughputBenchmark.
First I use torch.jit.trace to get a jit model for DLRM, then I follow the comments in https://github.com/pytorch/pytorch/blob/5bd97be3092c9ffe1314ac6426e6ce55a9c62fcc/torch/utils/throughput_benchmark.py#L62 to set up the test. It will get a "s

[2019-12-27 07:21] #31652 closed

[2019-12-27 07:29] zhuhaozhe opened #31653 "About throughput_benchmark and JIT model"
## 🐛 Bug

Hi, I'm trying to set up a throughput benchmark test for DLRM(https://github.com/facebookresearch/dlrm) by using torch.utils ThroughputBenchmark.
First I use torch.jit.trace to get a jit model for DLRM, then I follow the comments in https://github.com/pytorch/pytorch/blob/5bd97be3092c9ffe1314ac6426e6ce55a9c62fcc/torch/utils/throughput_benchmark.py#L62 to set up the test. It will get a "s

[2019-12-27 07:38] ShnitzelKiller commented on #31601
#31617 seems to cause build failure, which I don't understand since it's just a change to the documentation.

[2019-12-27 09:21] peterjc123 commented on #31108
Finally figured out the useful stacktrace with the help of API Monitor:
[code]
The final crash site is the line 51 of `aten\src\ATen\cuda\CUDAContext.cpp`:
[code]

[2019-12-27 09:42] AlviseSembenico commented on #31321
I would also appreciate a lot this feature, even just for faster browsing while working, it can be really time consuming browsing throughout the pages.

[2019-12-27 09:45] amimai commented on #22259
Same issue with Cuda 10.2, Nvidia 440.33.01

One cpu hits 100% and deadlocks on simple linear models

[2019-12-27 10:04] albanD commented on #31651
But the gradients will always be 0 if you don't use these indices no?
What do you expect to get here?

[2019-12-27 10:10] vainaijr commented on #31651
I wrote one example here, https://discuss.pytorch.org/t/different-prediction-results-update-different-weights-in-the-model/64997/6

If we want to update the representations of words that are not part of input, that is update some words based on what model predicted.

[2019-12-27 10:17] EoinKenny opened #31654 "AttributeError: module 'numpy' has no attribute '__config__'"
Just tried to upgrade pytorch  and got this error

AttributeError: module 'numpy' has no attribute '__config__'

Here is the trace

`---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-6-051d4e3cd005> in <module>
      1 import os
----> 2 import torch
      3 import torchvision

[2019-12-27 11:20] corner100 opened #31655 "pytroch out of memory when calculation squared difference of unfold"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
[code]

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

When I try to calculate the sum of squared difference between an

[2019-12-27 13:45] Qoo95 commented on #31619
I just check the declaration of torch.std and torch.std_mean, the third positional argument is unbiased. I do not know which is better, modifying doc or changing the order of parameters?

[2019-12-27 14:18] gourav-sg commented on #20822
does not make any sense at all. We should not be creating massive technical overheads just for reading data from object stores (S3, HDFS, etc) and SQL databases. For example, if I am running Kafka SQL to get me the latest images recorded off an IoT device, and train and respond in real time, I want this functionality to be there in Pytorch API's directly.

[2019-12-27 14:41] diegovincent opened #31657 "Use of Sequence collections for abstract classes in Dataset"
## 🚀 Feature
Using the sequence (or any other similar Python abstract class) for the `Dataset` class in order to tackle the note in lines 30-32:

[code]

By using the `Sequence` abstract classes, we can see in the official Python documentation that they have the exact abstract methods that the `Dataset` class expects, i.e. `__getitem__` and `__len__`.

## Motivation

My motivation is three-fold: (

[2019-12-27 15:11] zhonghaochen commented on #16417
I solved the problem

`loader = DataLoader(dataset, batch_size=128, shuffle=True, num_workers=4)`
to
`loader = DataLoader(dataset, batch_size=64, shuffle=True, num_workers=4)`

[2019-12-27 15:17] percyfan commented on #7134
Is this problem now solved?

[2019-12-27 15:56] zoulu995 commented on #31646
thanks!!

[2019-12-27 16:06] zou3519 commented on #31108
@peterjc123 I tried to ssh into one of the circle CI machines by "enabling ssh", but the machine seems to hang on various commands, have you experienced this before? I am probably doing something wrong but I don't know what.
[code]

Regarding the line you linked, does the getTHCState() return a null pointer?

[2019-12-27 16:20] gchanan commented on #440
we don't have separate tensor and variable APIs anymore and all the issues/PRs that referenced this have been closed or merged, so I'm closing this.

[2019-12-27 16:20] #440 closed

[2019-12-27 16:22] peterjc123 commented on #31108
Well, interactive tools like vim doesn't work well under powershell. Maybe you can try sth else that can modify things remotely.

Regarding the line you linked, does the getTHCState() return a null pointer?

I guess yes. at::globalContext() has been called several times before the crash, so I'm pretty sure it's not null. So it must be thc_state that is null or invalid.

[2019-12-27 16:26] gchanan commented on #5379
`to(dtype)` does this.

[2019-12-27 16:26] #5379 closed

[2019-12-27 16:28] gchanan commented on #7484
closing in favor of https://github.com/pytorch/pytorch/issues/10756 and https://github.com/pytorch/pytorch/issues/17935.

[2019-12-27 16:28] #7484 closed

[2019-12-27 16:49] gchanan commented on #30844
honestly, `squareform` sounds strictly better than this (although I'm not necessarily saying we should do `squareform`).  But this is inconsistent with NumPy and we can easily do a detection if the tensors are the same (if it's really important to optimize that case).

[2019-12-27 16:49] #30844 closed

[2019-12-27 16:50] vincentqb commented on #3775
istft is available in torchaudio: [code](https://github.com/pytorch/audio/blob/master/torchaudio/functional.py#L57), [tests](https://github.com/pytorch/audio/blob/master/test/test_functional.py), [documentation](https://github.com/pytorch/audio/blob/master/torchaudio/functional.py#L57). Feel free to open PRs to migrate from torchaudio to pytorch.

[2019-12-27 16:55] prabhatsharma commented on #16417
I had the same issue and I checked the GPU utilization on my machine. There was a lot of it already used and very less amount of memory was left. I killed my jupyter notebook and restarted it. memory became free and things started working. You can use below:

[code]

[2019-12-27 18:04] mruberry commented on #31654
Try asking this question on the forums: https://discuss.pytorch.org/.

You may have to reinstall numpy (numpy failing to have attributes appears to be a common configuration issue).

[2019-12-27 18:04] #31654 closed

[2019-12-27 18:08] ngimel commented on #31650
cc @zasdfgbnm, apparently 16GB cards are not enough to run your large convolution test? Can you please either decrease the sizes, or disable it on windows or based on available memory?

[2019-12-27 18:12] ngimel commented on #31619
Changing the order of parameters will break backward compatibility, and this is definitely not a good enough reason to do it, so changing the docs is the preferred way.

[2019-12-27 18:14] FlorianRuen opened #31660 "Cuda error 59 : device-side assert triggered"
Hello,

I'm using an PyTorch implementation of Yolo for a deep learning model, running on AWS EC2 instance (g3s.xlarge with Tesla M60 GPU).

I have an issue when the training process: 8 classes with around 7000 images (for the moment to estimate the results), batch size = 64 (128 also possible), the error is: **Cuda error 59 : Runtime Error: device-side assert triggered**

I found a lot of subject

[2019-12-27 18:54] ngimel commented on #31655
Each `.unfold` operation blows up the dimensions of tensor by a factor of 100, so your OOM error is expected. Apparently opencv has an optimized implementation for this, that does not materialize the intermediate tensors. You can look at keops https://www.kernel-operations.io/keops/index.html and see if you can express your operation without materializing intermediate tensors.

[2019-12-27 19:14] recepdagli commented on #31660
"Make sure the number of output units match the number of your classes"

https://towardsdatascience.com/cuda-error-device-side-assert-triggered-c6ae1c8fa4c3

[2019-12-27 19:49] FlorianRuen commented on #31660
@recepdagli I use a config.cfg file for this value, and I generate this file using 8 classes values, so yes this requirement is respected.

I also check all my labels for negative values, and there is no negative values in my labels files.

[2019-12-27 20:33] #16346 closed

[2019-12-27 20:50] zou3519 commented on #31108
@peterjc123 do you have suggestions for how to compile with msvc2019 on a circle ci debug machine or one of the old jenkins windows workers? The problem I ran into with the circleci machines is that the ssh doesn't really work; the problem I ran into with the jenkins workers is that they don't have CUDA 10.1 installed (which as I understand is recommended to use with msvc 2019) and I'm not sure if

[2019-12-27 20:55] gchanan opened #31663 "torch.mv can produce NaNs even though no NaNs are present in the inputs"
## 🐛 Bug

## To Reproduce

[code]
(the second assert fails)

## Expected behavior

out and non-out variant should be the same.

## Environment
PyTorch version: 1.4.0a0+866c1b1
Is debug build: Yes
CUDA used to build PyTorch: Could not collect

OS: CentOS Linux 7 (Core)
GCC version: (GCC) 7.4.0
CMake version: version 3.14.0

Python version: 3.7
Is CUDA available: No
CUDA runtime version: 9.2.88
GPU

[2019-12-27 21:04] yaroslavvb commented on #25723
BTW, I found this pattern useful to get tensor hooks to automatically remove themselves after execution -- this enables PyTorch to reclaim any tensors referenced in hook body. IE, example below will release activations for the layer as soon as hook computation is done

[code]

https://colab.research.google.com/drive/1EwUPkxaFSwQbk_y4Cl_mvT3L4p4hb1kS

[2019-12-27 21:28] rishi0904 commented on #16417
Try to reduce the batch size (bs) of your training data.
See what works for you.

[2019-12-27 21:38] pritamdamania87 commented on #24906
Opened an issue for this here: https://github.com/NVIDIA/nccl/issues/279

[2019-12-27 22:02] vishwakftw commented on #31646
Reopening, as this is yet to be resolved.

[2019-12-27 22:42] zou3519 commented on #31108
One hypothesis (from ngimel) is that the THCState could be a red herring and instead, based on the sample inputs, the problem could be something wrong with the usage of std::pow: https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/PowKernel.cu#L76.

Since I haven't been able to build pytorch on windows with the right configuration (still working on it), if you get the chance @

[2019-12-27 23:40] jbehley opened #31672 "index_put_ does no longer work with int64 tensor and cuda"
## 🐛 Bug

`index_put_` does not work (anymore) as expected with `int64` cuda tensor.

## To Reproduce

[code]
With pytorch 1.1.0 this produces:

[code]
However, with pytorch 1.3.1 the following happens:

[code]

## Expected behavior

`index_put_` should work regardless of the device. :wink:

## Environment

- PyTorch version: 1.3.1
- OS: Ubuntu 18.04.3 LTS
- Installed pytorch with `pip`
- Python v

[2019-12-28 00:07] mruberry commented on #31672
@albanD , too

[2019-12-28 00:16] mruberry commented on #31660
Thanks for reporting this issue!

It's difficult for us to know what's going on without an ability to reproduce it. Is it possible to create a short, self-contained snippet that we can ourselves that shows the issue? Maybe it's just one function with particular tensor sizes, for example, and you can provide a snippet that creates randomly initialized tensors of those sizes and calls the function?

[2019-12-28 03:39] keven425 commented on #7617
running into the same issue. Is there any update? Thanks.

[2019-12-28 04:26] peterjc123 commented on #31650
I disabled the test in #30897. Maybe someone can restore that later.

[2019-12-28 04:46] peterjc123 commented on #31108
You can build a new EC2 machine based on AMI `ami-0461ace5219c38fbf` which contains both CUDA 10.1 and VS 2019.

At first sight of the issue, I have the same idea. However, the result of `cuda-memcheck` shows that the error is in the host code, not the device code.

Sure, let me try.

Actually, `x = torch.logspace(start=2, end=9, steps=1, base=1.414, device='cuda')` works fine.
[code]

[2019-12-28 09:22] peterjc123 commented on #31108
Yes, looks like the implementation of `std::pow(int, int)` is not allowed to be used in the device function when compiling in VS 2019. We must cast the first argument to a floating type.

[2019-12-28 12:54] vadimkantorov opened #31678 "[docs] torch.onnx.export docs contains two descriptions for example_outputs arg"
https://pytorch.org/docs/master/onnx.html?highlight=export#torch.onnx.export
![image](https://user-images.githubusercontent.com/1041752/71543968-89ecca80-2979-11ea-8bbc-366b6e5c556c.png)

cc @ezyang @zou3519

[2019-12-28 17:45] BelBES commented on #24081
I have the same issues with (2x1080ti + AMD CPU).
To solve this issue you should:

[2019-12-28 18:54] ngimel commented on #31108
Awesome! It would be nice to get a compiler error message about it, and not "Unspecified launch failure", but it is what it is.

[2019-12-28 19:35] tchaton opened #31679 "broadcast randperm with dim specification"
## 🚀 Feature

Currently randperm uses only int as input
It would be great to provide a tensor and specify a dimension to make a permutation on.

## Motivation

That would be an example of how to do right now
idx = torch.stack([torch.randperm(n) for _ in range(28*28)]).t().long() # permute pixel of an image
data_shuffled = torch.zeros(10, 784).scatter_(0, idx, data.view(10, -1)).view(10, 28, 28) #

[2019-12-28 19:48] meganset opened #31680 "c++ BatchNorm & InstanceNorm modules register parameters incorrectly when affine is false"
## 🐛 Bug

It looks like the modules attempt to register undefined tensors without turning off _requires_grad_ and cause a warning when _affine=false_  (default condition for InstanceNorm)

## To Reproduce
[code]
## Expected behavior

There's logic in _nn/modules/batchnorm.h_ that checks the value of affine before attempting to register weight & bias:
[code]
When _affine_ is false, I think the 3rd

[2019-12-29 02:00] KaiyuYue opened #31684 "The Feature Request of Loading Quantized TorchScript Model on Windows with libtorch"
## 🚀 Feature Request [Solved] [Wait for Future Release Support]

The `torch::jit::load` works well for loading both quantized model and un-quantized model on Linux and MacOS. But it will throw an error on Windows when loading the quantized model.

## :cookie: Currently, official FBGEMM can be compiled with PyTorch for Windows.

PR:  #33250

## :cookie:  ~~Current Unofficial Method~~

Currently we

[2019-12-29 04:07] AyanKumarBhunia opened #31685 "What is the significance of torchvision._is_tracing()?"
## What is the significance of torchvision._is_tracing()? ❓

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-12-29 05:13] #31619 closed

[2019-12-29 05:32] #31646 closed

[2019-12-29 07:08] GitHubCrazy1 opened #31686 "Cannot install Pytorch?"
## 🐛 Bug

Hello, I'm  trying to install Pytorch and it looks like neither the PIP nor the Conda package works.

Using the Anaconda Console, I ran as Administrator and tried the following:

[code]

Then again with PIP:

[code]

I am really not sure why this error message would exist - as far as I am aware, these are the latest versions of Torch and Pytorch. I've put this as a bug because as far as

[2019-12-29 08:11] peterjc123 commented on #31108
I attempted to write the fix https://github.com/pytorch/pytorch/pull/31562/commits/9cffb161d31216a79fe657dd823adf775aa47fbb. Please take a look there.

[2019-12-29 09:02] albanD commented on #31672
This PR looks like the root cause: https://github.com/pytorch/pytorch/pull/20557 . From a cursory reading, it starts using the `embedding_backward` kernel to perform index_put. cc @ngimel

[2019-12-29 09:02] zoulu995 opened #31687 "About torch.constant_pad_nd"
There is no description of torch.constant_pad_nd in the document. What is the specific function of this interface? I tried to read the source code of aten（aten/src/ATen/native/ConstantPadNd.cpp）, but it was a little difficult for me hh.
[code]

[2019-12-29 09:24] nikitaved opened #31688 "Parallelization: more balanced work distribution among workers"
## 🚀 Feature
Parallelization: more balanced work distribution among workers

## Motivation

I recently checked the code for at::parallel_for method and this is what I observed.
Suppose there are `N` indices and `T` workers, then worker `i (0 <= i < T)` receives
indices `[i * ceil(N/T), min(N, (i+1) * ceil(N/T)) )`.

Now, suppose `N=10, T=4`, then this scheme will have the following distribution :

[2019-12-29 09:36] peterjc123 commented on #31686
Please try out the tsinghua mirror for anaconda if you are a user in China. https://mirror.tuna.tsinghua.edu.cn/help/anaconda/
Since the error you reported cannot be reproduced at our side, I'm going to close it. Please feel free to reopen it if you disagree.

[2019-12-29 09:36] #31686 closed

[2019-12-29 10:04] mruberry commented on #31601
Thanks for the PR! The build errors were unrelated. I've approved it and will merge it after New Year's.

Thanks for reporting and fixing this issue, @ShnitzelKiller!

[2019-12-29 10:04] #31601 closed

[2019-12-29 11:23] stante opened #31689 "DataLoader does not consider default floating point type"
## 🐛 Bug

The default collate function used in `torch.utils.data.DataLoader` ignores the default floating point type set via `torch.set_default_dtype()`. The created type for a python `float` is always `torch.float64`. However, I am not sure if this is a deliberate design decision.

## To Reproduce

Steps to reproduce the behavior:

1. Set the dtype to float32 with torch.set_default_dtype(torch.fl

[2019-12-29 12:42] nikitaved commented on #27614
What about actually modifying `gather` method to return output of any specified shape greater than `index.shape`, with default value equals `index.shape`? There is no need to modify c++ for that, and for the `scatter_add.backward` we can record `src.shape`.

[2019-12-29 14:36] narfanar commented on #16737
This was a _big_ surprise.

I'd recommend to deprecate `save` and provide `save_once` and `save_overwrite`. I can't quite argue too strongly for either default. But the current behavior is the worst of both worlds.

[2019-12-29 15:12] peterjc123 commented on #31585
The nightly build is green again. Closing.

[2019-12-29 15:12] #31585 closed

[2019-12-29 15:58] peterjc123 commented on #31108
Well, it is now failing at `test_long_tensor_pow_floats_cuda`. I have no idea why it failed there. I've already cast them to double and the result shouldn't overflow or underflow.

[2019-12-29 16:26] fedden commented on #12728
I'd like to add these properties as a first contribution to pytorch. Can anyone advise if they are still desired? Thanks

[2019-12-29 16:30] SsnL commented on #31689
It is actually deliberate that `as_tensor` and `tensor` dtype inference maintains precision, and thus python floats are doubles.

[2019-12-29 16:31] SsnL commented on #31687
This is not supposed to be exposed as public API, so I suggest not using it.

[2019-12-29 16:38] zplizzi opened #31690 "ConvTranspose2d much slower with output_padding set"
## 🐛 Bug

A `nn.ConvTranspose2d` can be up to two orders of magnitude slower when the `output_padding` option is set to a nonzero value then when it isn't.

## To Reproduce

[code]

On my V100 machine, I get timings of about 0.0004s per forward pass with `output_padding=(0, 0)` and about .05s with `output_padding=(1, 1)`.

## Expected behavior

Given that the `output_padding` option has minimal ef

[2019-12-29 19:20] amimai commented on #31553
@rohan-varma DataParalel splits data evenly between GPUs
even split is good if you have several of the same speed GPUs available
even split is a major problem when you have several GPUs that have different speeds

ex:
you have a 2060 @cuda:0
you have a 970 @cuda:1
you do data parallel. the GPUs start on batch evenly split.
gpu0 is done in 25ms
gpu1 is done in 50ms
total batch time 50ms (because yo

[2019-12-29 19:55] ngimel commented on #31108
Yep, looks like it should work :-( Can you try narrowing down on which exponent value it is failing, is it only 0.0 or does it fail for all non-standard values?  And make sure that it's indeed using this overload (it should, the code looks right) by just returning `base` in this overload? It looks like a compiler bug, should not be happening at all :-(

[2019-12-29 21:03] GitHubCrazy1 commented on #31686
Hello Peter,

Thanks for the reply. I am writing for Canada, not China.

That said, I tried and got this:

[code]

I don't know if it makes a difference, but I installed the latest version of CUDA, which is now 10.2

[2019-12-29 21:28] fulltopic opened #31691 "C++ Version of time_sequence_prediction Very Slow in CPU Env"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. [Please refer to my question in forum](https://discuss.pytorch.org/t/c-time-sequence-prediction-py-slow/61461
)

## Expected behavior

I have found the "for loop" in FullLayer::operator() is the bottleneck:
[gist](https://gist.github.com/fulltopic/738d8dfbe741584d072d3af998438aad)

Why it has not been implemented by gemm directly, lik

[2019-12-30 00:56] ngimel commented on #31690
This likely happens because cudnn is not used for convolutions with non-zero `output_padding`, which in turn is a result of this check
https://github.com/pytorch/pytorch/blob/22d84204f7188ed4042505e723eef46f048ff47c/aten/src/ATen/native/Convolution.cpp#L96-L102
This check was added because wrong results/CUDNN_STATUS_BAD_PARAMS were produced in some similar cases, but maybe the check is unnecessari

[2019-12-30 01:18] lutzroeder opened #31693 "Pip torch_nightly on macOS installs wrong build"
## 🐛 Bug

`torch_nightly` installs `torch.1.4.0` instead of `torch-1.4.0.dev20191228`.

## To Reproduce

Steps to reproduce the behavior:

macOS:
[code]

Windows:
[code]

## Expected behavior

Install `torch-1.4.0.dev20191228+cpu`, same as on Windows?

## Environment

[code]

cc @ezyang @gchanan @zou3519

[2019-12-30 03:15] peterjc123 commented on #31686
@GitHubCrazy1 The system CUDA version doesn't matter. Would you please try `python -m pip install torch===1.3.1 torchvision===0.4.2 -f https://download.pytorch.org/whl/torch_stable.html`

[2019-12-30 03:43] ypfFromWhu commented on #30304
Have you fix the problem ever, and I also have this problem.

[2019-12-30 03:53] allenling opened #31695 "duplicated result when getting cloned Tensor`s data_ptr in list comprehension"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

data_ptrs in bindings are same as `y.clone().data_ptr()`

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run

[2019-12-30 05:44] kuramawzw1 opened #31696 "how to set cuda stream by call Aten function"
at::Tensor a = at::ones({16, 32}, opts);
at::Tensor b = at::randn({32, 64}, opts);
at::Tensor b1 = at::randn({32, 64}, opts);
auto c = at::matmul(a,b);
auto c1 = at::matmul(a,b1);
  I want to call matmul by attach different cuda stream.
 call  at::matmul(a,b) by using stream1 , and call  at::matmul(a,b1) by using stream2.
How to do it?   Thanks

cc @ngimel

[2019-12-30 06:05] peterjc123 commented on #31108
Well, looks like it is failing for the exponent value 0.5, which goes the sqrt route. I'll fix that as well.

[2019-12-30 07:04] #31672 closed

[2019-12-30 07:18] kuramawzw1 opened #31697 "build from source problem?"
i want to build pytorch from source in conda env , and follow help on https://github.com/pytorch/pytorch#from-source.
export CMAKE_PREFIX_PATH=${CONDA_PREFIX:-"$(dirname $(which conda))/../"}
when i run 'python setup.py build --cmake-only', i got error "cmake  returned non-zero exit status 1."

 CMakeFiles/CMakeError.log detail is
    "Run Build Command(s):/home/wangzhiwei.yt/anaconda3/envs/py37/b

[2019-12-30 07:36] misaka9981 opened #31698 "can't iter a dataSet imported by hdf5"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[code]

[2019-12-30 08:53] JYH9351 commented on #27837
Hello, my computer system is the same as yours,【Win10(1903),Python 3.7.4, RTX 2060 (driver version 441.20),torch.version==1.2.0,】
I encountered the same problem as you. Have you solved it now?

you say No problem in PyTorch 1.2. Can you tell me all the information in this version？
CUDA?CUDNN?Python?

[2019-12-30 08:56] viannecc commented on #31422
I encountered the same problems. Hope someone can solve the issue.

[2019-12-30 08:59] vhchuong1997 opened #31699 "How to implement multiple different kernel shapes in 2D convolution?"
Hello. I’m currently working on spherical convolutional network topic. Right now I’m trying to develop a new kind of kernel used for the convolutional layer.
The usual kernel is 3x3 matrix. But for spherical images, after being projected onto a plane using equirectangular projection, there will be distortion. So I want to define the kernel as a spherical cap and project it on plane according to it

[2019-12-30 09:02] peterjc123 commented on #31108
New error in test_pow_cuda:
[code]

[2019-12-30 09:15] casijoe5231 opened #31700 "AttributeError: module 'torch' has no attribute 'gels'"
## 🐛 Bug

As the title says, **gels** seems to be missing in my installation.

## To Reproduce

Steps to reproduce the behavior:

1. Run this code:
[code]
2.Error:
[code]

## Environment

 - PyTorch Version (e.g., 1.0): 1.3.1+cpu
 - OS (e.g., Linux): Windows 10
 - How you installed PyTorch (`conda`, `pip`, source): pip
 - Python version: 3.6.9
 - CUDA/cuDNN version: NA
 - GPU models and configurat

[2019-12-30 09:29] ever4244 opened #31701 "unable to open shared memory object </torch_5962_408180057> in read-write mode"
I encountered a "unable to open shared memory object </torch_5962_408180057> in read-write mode" when running codes in https://github.com/raymondhs/fairseq-laser/issues/2

The script I used:
[code]
i.bash
| distributed init (rank 0): tcp://localhost:11279
| distributed init (rank 1): tcp://localhost:11279
| initialized host wei-desktop as rank 1
| initialized host wei-desktop as rank 0
Namespace(a

[2019-12-30 09:31] peterjc123 commented on #31700
In the 1.3.0 release doc, I find this line.

So I believe this is not a bug.

[2019-12-30 09:31] #31700 closed

[2019-12-30 09:37] WikiChao commented on #15476
This solution works for me.

[2019-12-30 09:48] JYH9351 opened #31702 "RuntimeError: CUDA error: unspecified launch failure"
## 🐛 Bug

Search datasets...
         Original length: 900
         Offset: 0
         Limit: 900
         Final length: 900
Search datasets...
         Original length: 120
         Offset: 0
         Limit: 120
         Final length: 120
Using CuDNN in the experiment.
Traceback (most recent call last):

  File "<ipython-input-5-cb93f5de020e>", line 1, in <module>
    runfile('C:/Users/Administra

[2019-12-30 09:51] JYH9351 commented on #31702
Unable to upload due to large amount of data

[2019-12-30 10:00] 1576012404 opened #31703 "buidling pytorch in docker nvidia/cuda：error: identifier "__ldg" is undefined"
[code]

i buidling pytorch in docker nvidia/cuda:10.1-cudnn7-devel-ubuntu18.04：
some of docker commands like this:

[code]