[2018-03-27 14:46] soumith commented on #6029
conda packages are supported. current master hasn't gotten into a release yet.
I'm working on nightly packages, and so I know the current issue with master :)

[2018-03-27 14:49] bcaosudo commented on #1204
@panfengli you are right! 你是对的，谢谢！

[2018-03-27 16:19] tiagoft commented on #6041
I am re-compiling pytorch from source (after cloning the repository again). It states:

[2018-03-27 16:19] #6041 closed

[2018-03-27 16:32] ngimel commented on #5966
Yes, sum over dimensions has always been broken, sum over the whole tensor was ok, sum over variable was not (I'm not sure about the last one, but @apaszke says so)

[2018-03-27 16:48] tiagoft commented on #6041
Ok, problem seems to be solved! How I fixed it (after many, many tries):

1) Installed CUDA 9.1 using apt-get, following the instructions in this link: https://cryptoandcoffee.com/mining-gems/cuda-9-0-install-ubuntu-16-04-apt-get/
2) Installed PyTorch using pip
3) Rebooted

Now I get:
~$ python -c 'import torch; print torch.cuda.is_available()'
True

[2018-03-27 17:47] zou3519 commented on #5957
Could you please provide a script that reproduces that error?

In addition, I'm not sure what hwloc is, but have you reported the error message to their mailing list?

[2018-03-27 17:56] zou3519 commented on #5900
CUDA 8 probably doesn't work with gcc 6: https://stackoverflow.com/questions/43685471/is-cuda-8-0-now-compatible-with-gcc-5-4

Here's a matrix of gcc version and Ubuntu version that work with CUDA 9.1: http://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#system-requirements

[2018-03-27 18:00] zou3519 commented on #5554
@pskanade you have two labels, yes? Then your output should be of size `(2, 2)`, where `outputs[0]` contains two elements that are the probability that `outputs[0]` is in either class. Same for `outputs[1]`.

[2018-03-27 18:03] ankur6ue commented on #494
I tried building PyTorch 0.3.1 on Windows 10, Cuda 9.1 using peterjc's repo + build batch script. Everything worked without a hitch.

Now I'm trying to use autograd profiler to get some profiling info but when I do a print, the system just hangs…

Here’s what I’m doing

with torch.autograd.profiler.profile(True, False) as prof:
   my code to run forward pass
print(prof)
Has anyone tried using PyTo

[2018-03-27 18:27] erikreppel commented on #5211
Are there any updates on this? Makes it quite hard to work with LSTMs and GRUs with pytorch right now

[2018-03-27 18:28] jiamenguk opened #6047 "torch.nn.utils.clip_grad applies the power twice?"
I was using the [clip_grad in torch.nn.utils](https://github.com/pytorch/pytorch/blob/master/torch/nn/utils/clip_grad.py), which normalises the gradients for each of the parameters by the sum of a power norm of the gradient, however the code itself looks something like this:

[code]

Where `norm_type` is the power of the norm, such as 2 for L2-norms. Maybe I've had too much coffee today, but that

[2018-03-27 18:29] #6047 closed

[2018-03-27 18:29] jiamenguk commented on #6047
Sorry, was being really stupid

[2018-03-27 18:31] xforceco opened #6048 "Inconsistent/Wrong error messages"
1. should be "but got Tensor"
2. should be consistent to 1

[code]

- OS: Linux
- PyTorch version: 0.3.1
- How you installed PyTorch (conda, pip, source): pip under anaconda
- Python version: 2.7
- CUDA/cuDNN version: 9.0

[2018-03-27 19:16] zou3519 opened #6049 "[torchscript] @ op not supported"
Repro. Fails with not-so-readable error message
[code]
[Traceback](https://gist.github.com/zou3519/052b8998108c4bc0fe0e7c85c6f5758e)

We should either support it or ask people to use `torch.mm`

cc @zdevito

I'll try to take a stab at this sometime if this is the correct diagnosis

[2018-03-27 19:28] jdbrody commented on #5900
Hi Zou,
For what it's worth, I was able to compile tensorflow with the same configuration (although I'm on Gentoo rather than Ubuntu).  Is the suggestion that a much  older version of CUDA might be appropriate?  Or an older version of gcc?

[2018-03-27 20:25] apaszke commented on #6049
Uh, I think the last function should have been `make_raw_range` instead of `make_range`

[2018-03-27 21:05] #5990 closed

[2018-03-27 21:13] shirishr commented on #5761
@SsnL and @soumith,
I am running this:

python train.py --dataroot ./datasets/horse2zebra --name horse2zebra_cyclegan --model cycle_gan --no_dropout --loadSize 64 --nThreads 1

from

https://github.com/junyanz/pytorch-CycleGAN-and-pix2pix

The model is succefully created:
model [CycleGANModel] was created

I am on ubuntu 16.04, pytorch 3.1, cuda 9.0 and cuDnn 7.1

The error I get is traced below:

[2018-03-27 21:22] soumith commented on #5761
@shirishr that error is because you are running it on a computer that is too old and does not have SSE4 instruction on CPU.

[2018-03-27 21:26] SsnL commented on #5761
@shirishr Also, it is more likely due to that your CPU doesn't support the operations done in the dataset.__getitem__.

[2018-03-27 21:31] shirishr commented on #5761
@SsnL & @soumith,

Some months ago I made it work in windows10 (I think)
The my windows machine crashed. So here I am. Sorry

Here is what I see in cat /proc/cpuinfo:

processor	: 0
vendor_id	: AuthenticAMD
cpu family	: 21
model		: 2
model name	: AMD FX(tm)-4300 Quad-Core Processor
stepping	: 0
microcode	: 0x600081c
cpu MHz		: 1400.000
cache size	: 2048 KB
physical id	: 0
siblings	: 4
core id		: 0

[2018-03-27 21:32] SsnL commented on #5761
@shirishr run with `nThreads=0`

[2018-03-27 21:37] shirishr commented on #5761
tried it with nThreads=0
different error...
model [CycleGANModel] was created
create web directory ./checkpoints/horse2zebra_cyclegan/web...
Illegal instruction (core dumped)

[2018-03-27 21:43] AlenUbuntu commented on #1355
Same in my case. I experienced a deadlock if I set up the num_workers=4. I use Ubuntu 17.10, Pytorch 0.3.1, CUDA 9.1, python 3.6. It is observed that there are 4 python threads, each of which occupies 1.6 GB memory while the CPU (4 cores) remains idle. Setting num_workers=0 helps to solve this issue.

[2018-03-27 21:45] shirishr commented on #5761
I see something I am uneasy about:
see bold below

CustomDatasetDataLoader
dataset [UnalignedDataset] was created
/home/sam/anaconda3/envs/my_torch/lib/python3.6/site-packages/torchvision-0.2.0-py3.6.egg/torchvision/transforms/transforms.py:156: UserWarning: The use of the transforms.Scale transform is deprecated, please use transforms.Resize instead.
#training images = 1334
cycle_gan
**initializa

[2018-03-27 21:47] SsnL commented on #5761
@shirishr No it's same error. We just wrap it in a nice way so you can see it even if it's in the workers.

Isn't that expected? CycleGAN has four networks: D_X D_Y G F .

[2018-03-27 21:48] SsnL commented on #5761
@shirishr anyways, it confirms my hypothesis that your CPU doesn't support the operation in `dataset.__getitem__`.

[2018-03-27 21:49] shirishr commented on #5761
Oh... Can you suggest a workaround?

[2018-03-27 21:50] SsnL commented on #5761
@shirishr You can try to put debug statements in CycleGAN code and see which one isn't supported by your CPU (probably some PIL operations), and search for replacements. Sorry I don't have much else to offer.

[2018-03-27 21:51] shirishr commented on #5761
@SsnL
Thank you sir !

[2018-03-27 21:59] goldsborough opened #6055 "Better debug info from C++"
## TL;DR: We would like more informative stack traces from exceptions thrown on the C++ side.

### Problem Description

The autograd engine launches 1 + #gpus threads to execute functions. This has the downside that when an exception gets thrown in any of the functions running in one of these threads, we currently have to catch that exception and rethrow it from the main thread. The unfortunate co

[2018-03-27 23:04] Amir-Arsalan opened #6056 "PyTorch does not work with CUDA 9.1 if built from source using Docker"
I am compiling PyTorch from source using Docker. I replaced `nvidia/cuda:9.0-cudnn7-devel-ubuntu16.04` with `nvidia/cuda:9.1-cudnn7-devel-ubuntu16.04` but after compilation `torch.version.cuda` and `torch.cuda.get_device_name(0)` give me error. If I build with CUDA 9 things are fine.

[2018-03-28 02:11] traveller59 commented on #4969
same problem after 60000 step training(4 workers, 50 epochs, several hours).
## environment:
* ubuntu 16.04
* pytorch 0.4.0a0+1709484(source)
* python 3.6.4
## Operations in dataset:
* numpy operations
* np.fromfile(read data from nvme ssd)
* numba jit functions
I don't know where the problem coming from, this is the first time I encounter this problem.

[2018-03-28 04:40] auroua commented on #4792
I encountered the same error:
`
aurora@aurora-alienware:~$ ldd /usr/software/anaconda3/lib/python3.5/site-packages/torch/_C.cpython-35m-x86_64-linux-gnu.so | grep cuda
	libcudart-f7fdd8d7.so.9.0 => /usr/software/anaconda3/lib/python3.5/site-packages/torch/lib/libcudart-f7fdd8d7.so.9.0 (0x00007ff526f6d000)
	libcudart.so.8.0 => not found

`

[2018-03-28 04:40] auroua commented on #4792
I encountered the same error:
`
aurora@aurora-alienware:~$ ldd /usr/software/anaconda3/lib/python3.5/site-packages/torch/_C.cpython-35m-x86_64-linux-gnu.so | grep cuda
	libcudart-f7fdd8d7.so.9.0 => /usr/software/anaconda3/lib/python3.5/site-packages/torch/lib/libcudart-f7fdd8d7.so.9.0 (0x00007ff526f6d000)
	libcudart.so.8.0 => not found

`

[2018-03-28 05:18] crcrpar commented on #6032
I have one question as a user:

Will PyTorch package come to us with Caffe2 via conda or pip?
Or can we install them as separate, independent packages?

[2018-03-28 05:25] ll490187880 opened #6061 "UserWarning: invalid index of a 0-dim tensor"
When I installed  the newest version of pytorch with source code ,I got the error :

UserWarning: invalid index of a 0-dim tensor. This will be an error in PyTorch 0.5. Use tensor.item() to convert a 0-dim tensor to a Python number
  train_loss += loss.data[0]
Traceback (most recent call last):......................... 10/2984   Step: 61ms | Tot: 2s170ms | Loss:  File "testgn.py", line 267, in <mo

[2018-03-28 06:38] zdevito commented on #6015
#6033 resolves 1--3

[2018-03-28 06:38] CDLuminate commented on #6056
Could you please paste the error message here?

[2018-03-28 06:39] back2yes opened #6063 "Could not fine the python interface for SpatialDepthwiseConvolution"
Hi, I need to implement a convolution layer with cuda in a sliding window fashion (rather than using im2col and apply matrix multiplication.) I read the code in pytorch sources here: https://github.com/pytorch/pytorch/blob/master/aten/src/THCUNN/SpatialDepthwiseConvolution.cu. However I did not find its interface that I can invoke in python. I have also looked for it in the legacy interface, it wa

[2018-03-28 06:45] zdevito opened #6064 "[jit]][script] handling of 'void' returns"
Methods returning no values generate weird error messages:

For instance:

[code]

produces
[code]

What is expected?

* omitting a return statement should be valid and just return 0 values (someone might just be print debugging at this point and hasn't written the return yet)
* `return` with no value should work.

[2018-03-28 07:32] roeemz opened #6065 "Inconsistency Between the Return Value of torch.nonzero() and the Indexing Standard for 1D tensors"
- OS: Ubuntu 16.04.3 LTS (GNU/Linux 4.4.0-87-generic x86_64)
- PyTorch version: 0.3.1.post2
- How you installed PyTorch (conda, pip, source): conda
- Python version: Python 3.6.4
- CUDA/cuDNN version: Cuda compilation tools, release 8.0, V8.0.61
- GPU models and configuration: 2 1080 Ti
- GCC version (if compiling from source): n/a

In addition, including the following information will also be ver

[2018-03-28 08:27] apaszke commented on #6032
You will still be able to install them as separate packages

[2018-03-28 08:38] apaszke commented on #6063
You're looking for the `groups` argument in [Conv2d](http://pytorch.org/docs/0.3.1/nn.html?highlight=conv2d#torch.nn.Conv2d).

[2018-03-28 08:38] #6063 closed

[2018-03-28 08:53] fmassa commented on #6065
I wouldn't say this is a bug, but instead a legacy behavior that I'd rather see it changed.
This issue discuss it a bit more https://github.com/pytorch/pytorch/issues/1834#issuecomment-337303630

[2018-03-28 09:02] fmassa commented on #6063
@back2yes as @apaszke said, just use `nn.Conv2d` and the depthwise path will be activated in [the following cases](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/Convolution.cpp#L151-L156)

[2018-03-28 09:03] apaszke commented on #6065
Let's keep the discussion in that issue then

[2018-03-28 09:03] #6065 closed

[2018-03-28 09:53] leomao opened #6066 "[Question] why libATen.so is not a symlink to libATen.so.1 ?"
I found that `libATen.so` is identical to `libATen.so.1` in torch/lib.  It seems that it should be a symlink?

- OS: Arch Linux
- PyTorch version: master
- How you installed PyTorch (conda, pip, source): source
- Python version: 3.6
- CUDA/cuDNN version: 9.1/7.1.1
- GCC version (if compiling from source): 5.5.0

[2018-03-28 10:21] fmassa commented on #2723
@lincolnBush it is present in master. You need to compile it from source to get it.

[2018-03-28 12:17] schenock commented on #566
So, **PyTorch does not currently provide packages for PyPI** (at least for the moment).
The interpreter is trying to run `pip install torch` or `pip install torchvision`.
The solution that worked for me (In order to add pytorch module in working PyCharm project):

1. Install **pytorch** from the website (pytorch.org) using pip or conda (miniconda in my case)
2. Go to Settings -> Project Interprete

[2018-03-28 12:37] qinduanyinghua commented on #6061
I think you need solve the problem of the type of correct, I believe that the type of correct you get is 'byteTensor'.

[2018-03-28 12:40] qinduanyinghua commented on #6061
I'm sorry to hear that, I've had this problem before, I hope my idea can help you.

[2018-03-28 12:42] vishwakftw commented on #6061
You might have to change `loss.data[0]` to `loss.item()` as indicated in the error message.

[2018-03-28 13:11] Amir-Arsalan commented on #6056
@CDLuminate Sorry I immediately removed that compilation and re-compiled the code with `CUDA 9.0`. I should have copied the errors here. The errors were basically saying that CUDA was not found or the GPU was not found.

[2018-03-28 13:28] Mabinogiysk opened #6067 "cuda() takes a very long time."
- OS: Ubuntu 16.04
- PyTorch version: 0.3.1
- How you installed PyTorch (conda, pip, source): conda install pytorch torchvision
- Python version: 3.6
- CUDA/cuDNN version: cuda8.0
- GPU models and configuration: GTX1060
- GCC version (if compiling from source): g++-4.9

This is just a feedback. I fixed it with pip install.

cc @ngimel

[2018-03-28 13:57] peterjc123 commented on #4092
@yf225 Now that #5585 is merged into master, could you please try to revert the changes on #5591 and #5322?

[2018-03-28 14:02] peterjc123 commented on #5590
It's fixed by #5585. We should close this.

[2018-03-28 14:07] #5590 closed

[2018-03-28 14:22] CDLuminate commented on #6056
That sounds like a driver problem or alike. Anyway this issue seems not reproducible.

[2018-03-28 14:29] juditacs commented on #3987
I am experiencing the same issue on two different Linux notebooks (Arch and Manjaro) and several different locations in Hungary. It only happens in Firefox, Chromium loads the website just fine.

[2018-03-28 14:37] Amir-Arsalan commented on #6056
@CDLuminate Did you try compiling PyTorch using Docker? I simply replaced those lines in the Docker file.

[2018-03-28 14:58] soumith commented on #6036
NVIDIA just released NVVL, a high-performance data loading for videos with PyTorch integration (see pytorch/ folder which provides DataLoader interface): https://github.com/NVIDIA/nvvl

[2018-03-28 14:58] #6036 closed

[2018-03-28 15:08] ezyang commented on #6066
Context: https://github.com/pytorch/pytorch/pull/4820

There's a follow up patch to be done here but I haven't written it yet.

[2018-03-28 15:08] #6061 closed

[2018-03-28 15:09] ezyang commented on #6061
Yes, this is a side effect of Variable/Tensor merge. Follow the error message (or cast it explicitly to a float with `float(loss)`

[2018-03-28 15:10] ezyang commented on #6056
Can you post the exact commands you used to (1) build the image and (2) run it? Are you sure the driver version on your host system is recent enough to support CUDA 9.1?

[2018-03-28 15:13] ruotianluo commented on #6056
Did you change https://github.com/pytorch/pytorch/blob/master/docker/pytorch/Dockerfile#L20?

[2018-03-28 15:22] Amir-Arsalan commented on #6056
@ezyang What is the minimum driver version required for CUDA 9.1? Mine is `384.111`. I did not use the Docker file that you have created. I build a Singularity container and pull the NVIDIA's Docker image for CUDA 9.1. Here's how I build the Singularity image:

[code]

[2018-03-28 15:24] soumith commented on #6056
I believe 9.1 requires 385+

[2018-03-28 15:26] Amir-Arsalan commented on #6056
@soumith Ah I see. That could be why then. I have to ask the people to upgrade the Driver version on our clusters. Will give you update once they do it.

[2018-03-28 15:28] nanpi opened #6068 "Build with NNPACK does not work (duplicate symbols cpuinfo)"
- OS: Ubuntu 16.04
- PyTorch version: master
- How you installed PyTorch (conda, pip, source): source
- Python version:3.6.4
- CUDA/cuDNN version:9.0/7.0.5
- GPU models and configuration: GTX 1080ti
- GCC version (if compiling from source): 5.4.0

The complete build log is shown below.
[code]

[2018-03-28 15:29] apaszke commented on #6064
I'm on this

[2018-03-28 15:54] ezyang opened #6071 "Repeated 'python setup.py install' with clang leads to -lcpuinfo not found"
Steps to reproduce:

[code]

Error message:

[code]

[2018-03-28 16:31] zou3519 commented on #6002
Try this:
[code]

I think the underlying problem is that `torch.load()` is bypassing gzip and directly reading the compressed file without uncompressing it. Not sure how feasible it is to fix this.

[2018-03-28 16:39] zou3519 commented on #6048
These are both fixed on master.

The first one does not error out, while the second one has the following (nice) error message:
[code]

[2018-03-28 16:55] #6048 closed

[2018-03-28 17:04] aosokin commented on #6071
I have a similar issue on Ubuntu 16.04. This started to happen after the recent system update.
Can this be related?
[code]

[2018-03-28 17:08] aosokin commented on #6068
I have started to see exactly the same error message today. I think this is happening after a recent Ubuntu update, seems to be not related to pytorch repo. On another machine with similar configuration (but without the update) everything compiles.

[2018-03-28 17:33] ezyang commented on #6071
@aosokin I don't know. I could only get it to trigger for me under a very specific set of circumstances, but the underlying bug could be triggering in other cases too. I'll try rebuilding our docker images and take a look.

[2018-03-28 17:35] #6056 closed

[2018-03-28 17:42] apaszke commented on #6002
Eh, I think we could do hacks like inspecting `f`'s `__module__` and `__name__` (to avoid importing `gzip`), and maintain a list of commonly used file-like objects that expose `fileno`, but you shouldn't really use it...

[2018-03-28 17:43] zou3519 opened #6073 "[jit][script] compiling functions that take python number arguments doesn't work"
Repro:
[code]

This should probably have a nicer error (say something about only accepting tensor arguments), or accept numbers

cc @zdevito

[2018-03-28 17:43] apaszke commented on #6073
Yep, I think all arguments need to be tensors at the moment (we should improve the error message).

[2018-03-28 17:46] zou3519 opened #6074 "[jit][script] Handle torch.cat"
[code]
It sounds like it's just not implemented. Willing to help but not sure where to start...

cc @zdevito @apaszke

[2018-03-28 17:53] zou3519 opened #6075 "[jit][script] differentiating tensor.chunk gives error"
Repro:
[code]
From some time in gdb, my guess is that it's trying to allocate a zero gradient for the integer inputs to `chunk` but I'm not sure.

cc @zdevito

[2018-03-28 18:16] ezyang commented on #6071
@aosokin What command are you using to build?

[2018-03-28 18:24] aosokin commented on #6071
I was doing `python setup.py install`. My error message is very similar to this one: #6068

[2018-03-28 18:27] ezyang commented on #6068
Are you able to reproduce this inside a Docker image? I took a 16.04 image `registry.pytorch.org/pytorch/pytorch-linux-xenial-py3-clang5-asan:169`, updated it to latest, and then successfully ran a build without trouble.

[2018-03-28 18:55] ebetica commented on #6055
Is it possible to easily build in relwithdebinfo mode as well? It's hard to be in debug all the time for some really hard to chase  errors that pop up 1 hour into your training, and debug makes that 3+ hours.

[2018-03-28 19:23] goldsborough commented on #6055
You mean something like `@mode/dbgo`? If you need it from Python, we'd have to hack `setup.py` somehow I think. For C++ only, maybe https://github.com/pytorch/pytorch/blob/master/tools/cpp_build/libtorch/CMakeLists.txt can be changed?

[2018-03-28 19:36] apaszke commented on #6074
We might want to add a hacky support for the pattern `cat([x, y, z, w])` to the `compiler.cpp`. I don't think we want to add support for general lists just yet, right @zdevito? And if we were to go down this path, it would be quite a large diff

[2018-03-28 19:56] zou3519 commented on #6075
Edit: the above guess was incorrect.

It looks like `torch.chunk`'s outputs have `DynamicType`(because their shape depends on the inputs) and
https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/autodiff.cpp#L267-L276
attempts to create zeros like each output but can't because it doesn't have shape information

[2018-03-28 20:18] DavidNemeskey commented on #2849
Not to mention that for `ReduceLROnPlateau`, `step` should probably be called at the end of the epoch (after validation), and for the rest, at the beginning.

[2018-03-28 20:31] yf225 commented on #4092
@peterjc123 Awesome! Just to understand it better: does #5585 fix both num_worker=1 and num_worker>1 cases?

[2018-03-28 20:33] ebetica commented on #6055
I just mean adding a third option to this:

https://github.com/pytorch/pytorch/blob/master/tools/build_pytorch_libs.sh#L146

where we use relwithdebinfo instead of release or debug.

[2018-03-28 21:21] #5554 closed

[2018-03-28 21:23] subcomputes opened #6083 "[feature request] DC-ASGD (Delay Compensated Asynchronous Stochastic Gradient Descent)"
DC-ASGD is an optimizer described in this [paper](https://arxiv.org/abs/1609.08326)

Frameworks like [MXNET](https://mxnet.apache.org/api/python/optimization/optimization.html#mxnet.optimizer.DCASGD) have the feature, are there plans to implement this feature into PyTorch?

If approved by community, I would like to start the process of a feature request. I'm happy to create a pull request and impl

[2018-03-28 21:31] vadimkantorov commented on #5922
also stumbled upon this

[2018-03-28 22:05] SsnL commented on #5602
@CynthiaLu1119 I realized that the above solution isn't correct in that it will have the incorrect behavior when `.eval` mode (it will use the running stats unlike before it will still use the data stats). The better solution is to `torch.load(..., strict=False)`.

[2018-03-28 22:14] vadimkantorov opened #6087 "__radd__ for torch.utils.data.Dataset"
Existing `__add__` is not enough for usage as in:
[code]
(In practice I want to pull subset names dynamically by splitting a string by underscore)

`__radd__` seems to [fix this](https://stackoverflow.com/questions/1218710/pythons-sum-and-non-integer-values)

[2018-03-28 22:18] apaszke commented on #6087
`__radd__` won't fix this at all. We never want to allow doing `0 + Dataset`, that makes no sense. `sum` takes an optional argument which is the initial value of the reduction. You can make that the first subset of your list.

Also, in your example you could just do `dataset.get_subset('train') + dataset.get_subset('val')`

[2018-03-28 22:18] #6087 closed

[2018-03-28 22:20] apaszke commented on #6087
If you have a dynamically generated list then try this:
[code]

[2018-03-28 22:28] vadimkantorov commented on #6087
`reduce(torch.utils.data.dataset.Subset.__add__, dataset.get_subset(subset_name) for subset_name in ['train', 'val'])` also works. Thanks!

[2018-03-28 22:33] zdevito commented on #6024
@zdevito currently working on this.

[2018-03-28 23:20] SsnL opened #6090 "gradcheck and gradgradcheck are not well documented"
Cannot find the docs on website

[2018-03-29 00:01] li-roy commented on #5879
I think pickle is holding the GIL. Looking into it.

[2018-03-29 00:17] li-roy commented on #5916
@apaszke Can we reopen this? I think the other issue is actually caused by a different check.

[2018-03-29 01:25] kirk86 opened #6094 "impossible to install from source cuda9.1 cudnn7.0.5 gcc5-7"
PyTorch GitHub Issues Guidelines
--------------------------------
- OS: Ubuntu 16.0.4
- PyTorch version: 0.4.x.x master branch
- How you installed PyTorch (conda, pip, source): from source in a conda environment
- Python version: 3.6
- CUDA/cuDNN version: cuda9.1/cudnn7.0.5
- GPU models and configuration: 1080Ti
- GCC version (if compiling from source): tried gcc-5 up to gcc-7 also gcc-4.8.5 from

[2018-03-29 01:26] peterjc123 commented on #4092
@yf225 Yes, they are both solved.

[2018-03-29 01:30] TeeyoHuang opened #6095 "Multi_GPUs cause a lower meanIOU"
PyTorch GitHub Issues Guidelines
--------------------------------
The net I used is deeplab-resnet,and the code is here:
https://github.com/speedinghzl/Pytorch-Deeplab,

It does have a good result when I run the code on 1 GPU， I got the meanIOU as reported-- about 72%  on the validation dataset(VOC12 VAL）

But when I used 5 GPUs to have a test, I got a lower meanIOU --- about 65%.
(I used 5 gpus b

[2018-03-29 02:28] back2yes opened #6097 "cpp_extension import raise an error in absence of importing torch"
Hi, I am following the tutorial about the cpp_extension feature.

However, after installing the extension, an ```undefined symbol: THPVariableClass``` error is raised when I try to import it into python. Adding ```import torch``` before importing the extension solves that.

[2018-03-29 02:28] #6097 closed

[2018-03-29 02:38] HongweiLuan opened #6098 "torch.cuda.is_available() is false after installed cuda 9.1. Anyone can help me out?"
PyTorch GitHub Issues Guidelines
--------------------------------

We like to limit our issues to bug reports and feature requests. If you have a question or would like help and support, please visit our forums: https://discuss.pytorch.org/

If you are submitting a feature request, please preface the title with [feature request].

When submitting a bug report, please include the following informat

[2018-03-29 03:39] Jeffery4000 opened #6099 "Distributed training over multiple node with file initialisation"
Hi, I am trying to launch a distribute training over two node with the example of imaganet.
The share drive are able to access by both node and ssh-key-pair is created.

Share folder path: /home/test_share/

Launching job by command below:
`CUDA_VISIBLE_DEVICES=0,1,2,3 python main.py --a resnet50 -j 15 --epochs 1 -b 100 /home/imagenet_2012 --dist-url file:///home/test_share/ --world-size 2`

But i

[2018-03-29 04:10] fcheng-cv commented on #6095
May be your BN layer is not synchronized version? Small batch size is sensitive to the mean and var values. For semantic segmentation, especially reproducing PSPNet, synchronized batch norm is necessary.
FYI. http://hangzh.com/PyTorch-Encoding/notes/syncbn.html

[2018-03-29 05:15] dangoron commented on #1355
I am sufferring from the same issue too.
The OS is Ubuntu 16.04, Pytorch 0.3.1, CUDA 9.0 and python 3.6.
CPU usage grows a lot after setting num_workers=0, but doesn't help, dataloader enumeration is still hanging up.

[2018-03-29 05:21] Jeffery4000 commented on #6099
this the new error I am getting with tcp initialisation
[code]

[2018-03-29 05:50] Teaonly opened #6102 "Building error: identifier "CUFFT_NOT_SUPPORTED" is undefined"
- OS: Linux (CentOS 7)
- PyTorch version:  **a90aa5d818c994d108d5c64a9a74f0fe732af662**
- How you installed PyTorch (conda, pip, source): source
- Python version: conda 3.6
- CUDA/cuDNN version:  CUDA7.5
- GPU models and configuration: Tesla M40
- GCC version (if compiling from source): gcc version 4.8.5

[code]

I can't find any "CUFFT_NOT_SUPPORTED" in source tree.

[code]

[2018-03-29 06:10] peterjc123 commented on #6098
@HongweiLuan Could you please show me the code of your function definition of '_libcudnn()` in `torch\backends\__init__.py`?

[2018-03-29 06:20] peterjc123 commented on #6098
@HongweiLuan And are you compiling a CUDA version? It will only happen when you are using a CPU-only package.

[2018-03-29 07:08] back2yes opened #6103 "RuntimeError: Expected tensor's dynamic type to be Variable, not Tensor"
I am writing an cpp extension, where I need to create a new variable within the cpp function.

This is my code here:
[code]

However it does not work as I expected, but raise a Runtime error:
[code]

I guess the problem is I with my code, rather than the framework. Could anyone help me with this? Thanks in advance.

[2018-03-29 07:58] tobyclh commented on #6098
I am also having the same issue, on ubuntu (fresh install) compiling from source, master branch with cuda 9.1 and newest cudnn.
During installation both CUDA and CuDNN are detected by CMAKE.
And FYR
[code]

[2018-03-29 09:06] apaszke commented on #6099
Are you sure that `/home/test_share` is writeable by you? `/home` is usually writeable only by the super user. Try something like `/home/<your username>/test_share`, or the multicast initialization

[2018-03-29 09:11] apaszke commented on #6103
@goldsborough do we have a way to create Variables out of Tensors in C++, or do we only allow using the `torch::` constructors (we don't have `ones` there I think)?

[2018-03-29 10:05] mlizhardy commented on #2138
if you use the DataLoader you can avoid any miscommunication regarding built-in data structures:

X = torch.from_numpy(X).double()
y = torch.from_numpy(y).double()

train_data = torch.utils.data.TensorDataset(X, y)
train_loader = torch.utils.data.DataLoader(train_data, batch_size=batch_size, shuffle=True)

X = Variable(X).float()
y = Variable(y).type(torch.LongTensor)

[2018-03-29 10:36] Jeffery4000 commented on #6099
Hi @apaszke, Im sure the directory is writeable for me since Im using a root user on both node. With multicast initialization, I'm getting the error showing above which I believe that it can't allocate memory to GPU but doesn't know why.

When there was handshake between two node, both node start creating resnet50 model and allocate the model to the GPU memory. After 300~400 MiB being fetch to GPU

[2018-03-29 10:58] el3ctrician opened #6106 "CUDNN_STATUS_NOT_INITIALIZED while building for Jetson"
- OS: Ubuntu 16.04
- PyTorch version: 0.3.0b0+af3964a
- How you installed PyTorch : Source
- Python version: 3.5.2
- CUDA/cuDNN version: 9.0.252 /  7005 // using torch.backends.cudnn.version()
- GPU models and configuration: Jetson TX2
- GCC version (if compiling from source): 5.4.0 20160609

i am trying to run a model on jetson tx, i fllowed the instruction on how to compile from the source and i

[2018-03-29 11:37] aosokin commented on #6068
@ezyang I think I've figure out my case. The build script was detecting system file `libcpuinfo.a`
It had a line:
[code]
@nanpi analogously has
[code]

After renaming the file `/usr/local/lib/libcpuinfo.a`, the corresponding line said:
[code]
A cleaner solution that made the system build is to build with the flag NO_NNPACK:
[code]

[2018-03-29 11:48] pohmelie commented on #5879
Yes, it looks like it is pickle. I add some raw pickle load and see pretty same behavior.
[code]
[code]

[2018-03-29 11:56] apaszke commented on #5879
I don't think we can do a lot about this. How about forking a short-lived process that would save the file and exit?

[2018-03-29 12:07] pohmelie commented on #5879
@apaszke
The problem here is not disk-io (since disk-io not blocking GIL), but serialization/deserialization. And you can't use process, because you need serialize object to pass it to another process, then process will deserialize it and serialize again to write to disk :smile:
Since this is pickle «problem», I think issue can be closed.

[2018-03-29 12:48] apaszke commented on #5879
Yes I understand that, and it is not true that you need to go through disk to get your data in a new process. I explicitly suggested `fork`, because it creates a copy-on-write snapshot of the whole memory of your process, including all the data you have inside. Then, you only read the data structures and dump them to disk, which should cause very limited duplication of pages *in-memory* (so has st

[2018-03-29 12:48] #5879 closed

[2018-03-29 12:57] pohmelie commented on #5879
Hm, I heard about that mechanic, but do not really know how this work in python world. And this example do not cover deserialization, when we need unpickle something from disk. :thinking:  Anyway, thanks for response!

[2018-03-29 12:58] aosokin commented on #6068
There might be another related issue with dependencies.
When doing `import torch` from an anaconda env pytorch uses mkl (libmkl_gf_lp64.so) installed in anaconda root.
Consequently, if the root and the env have different versions (in my case the root had 2018.0.1 and the env had 2018.0.2-1) I was getting this error:
[code]
Updating mkl in anaconda root to 2018.0.2-1 solved the problem.

[2018-03-29 13:02] Stonesjtu commented on #6083
I'm also planning to write an ASGD framework for pytorch. I think the feature is easy to implement in pytorch, but hard to tune for best performance.

[2018-03-29 13:36] HongweiLuan commented on #6098
@peterjc123 Thank you very much for your response.

the code is below. I copied the source files of cudnn to cuda library. I also tried to cuda.find_nvcc() and find_cuda_version() from pytorch.tools.setup_helpers import cuda. This works. However, torch.cuda.is_available() gives me false. When I checked the code in the cuda.py, hasattr(torch._C, '_cuda_isDriverSufficient') also gives me false.

I a

[2018-03-29 15:00] shagunsodhani commented on #6067
Hey @Mabinogiysk Could you add a minimal example that we could run on our end.

[2018-03-29 15:16] ZmeiGorynych opened #6109 "Requirements to build Pytorch on Windows"
Hi,

I'm trying to follow the [instructions](https://github.com/pytorch/pytorch#from-source) to build pytorch on Windows (10 Pro), and am encountering the following issues:
* `conda install` can't find `mkl-include`
* Is Visual Studio 17 Enterprise required? I dowloaded the Community Edition, but then `call "%VS150COMNTOOLS%\vcvarsall.bat" x64 -vcvars_ver=14.11` fails.
* Where can I download/insta

[2018-03-29 16:18] floringogianu commented on #3898
@latkins I did exactly that, wrote a custom `collate_fn` for the DataLoader but I get the same error.

[code]
Or maybe you are constructing the SparseTensors outside the `collate_fn` too (when iterating through the batches)?

[2018-03-29 16:54] vadimkantorov commented on #5612
fixing is at the moment in https://github.com/pytorch/pytorch/pull/6105

[2018-03-29 17:26] #5946 closed

[2018-03-29 17:32] goldsborough commented on #6103
There's an example of using `ones` right here https://github.com/pytorch/pytorch/blob/master/test/cpp_extensions/extension.cpp#L9

You want `at::ones(torch::CPU(at::kFloat), {3, 4});`

[2018-03-29 17:36] goldsborough commented on #6103
@apaszke let's create a `cpp-extensions` label on GitHub then I can watch our for issues with that label

[2018-03-29 17:36] goldsborough commented on #6055
I'll look into that. It's a bit separate to this specific issue

[2018-03-29 17:54] ezyang opened #6111 "Report bug script"
In our issue submission checklist, we collect a lot of information that can be gotten mechanically. We should have a simple way of collecting this info as a script and uploading it to GitHub.

[2018-03-29 17:56] zou3519 commented on #6111
I can work on this. `torch.utils.bottleneck` already contains an environment analyzer:
[code]

[2018-03-29 19:41] aisri opened #6117 "error when installing pytorch"
PyTorch GitHub Issues Guidelines
--------------------------------

We like to limit our issues to bug reports and feature requests. If you have a question or would like help and support, please visit our forums: https://discuss.pytorch.org/

If you are submitting a feature request, please preface the title with [feature request].

When submitting a bug report, please include the following informat

[2018-03-29 19:57] ezyang commented on #6117
What if you upgrade pip and try again?

[2018-03-29 20:38] apaszke commented on #6103
Here you go!

[2018-03-29 21:14] aisri commented on #6117
in Anaconda I see version being **pip 9.0.1**

[code]

[2018-03-29 22:19] ebetica commented on #6068
I was able to solve this issue by deleting [this line](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/CMakeLists.txt#L325). Obviously this doesn't work on systems without NNPACK. The issue is that ATen first builds this library, and then the NNPack CMakeLists finds it again and links it seperately.

[2018-03-29 22:33] ailzhang commented on #5961
Hi @lwye  @dodler , could any of you provide an minimal repro example? We can look into it.

[2018-03-29 22:42] ailzhang commented on #5877
@ezyang We can change these tests to actually use multi gpus for testing. Currently we don't do it since we spawn 3 processes in Gloo test( it's 2 in NCCL tests), so we will need at least 3 GPUs to test it together with the new_group(which requires 3 processes) in Gloo. It's actually good to change it when we have >2 GPUs in our test environment. Is it already up online?

[2018-03-29 23:18] imsrgadich commented on #4219
@soumith any resolution on this? I'm facing a similar issue.

https://discuss.pytorch.org/t/find-indices-with-value-zeros/10151/4?u=imsrgadich

[2018-03-30 01:13] Zohaggie commented on #5099
I am having much the same problem, after installing pytorch into an Azure Data Science Virtual Machine, via the fast.ai conda environment.

I have CUDA 9 installed, and after following this thread I tried upgrading MKL, but all it offered me was and upgrade from 2018.0.2-1 to 2018.0.2-intel_1 intel, so it doesn't seem out of date.

I believe I have have the latest version of pytorch, as I've just

[2018-03-30 01:14] back2yes commented on #6103
@apaszke @goldsborough
Thanks a lot, totally solved it!

[2018-03-30 01:14] #6103 closed

[2018-03-30 01:40] li-roy commented on #5912
Haven't found the source of the issue yet, but I originally thought it might be something with contiguous tensors. Replacing `out = out.transpose(1, 2)` with `out = out.transpose(1, 2).contiguous()` reduced my Conv + GRU time from 40s to 20s which is interesting.

[2018-03-30 02:17] YuesongNan opened #6124 "[feature request] Circular Convolution Function (Convolution with circular padding)"
In the realm of image processing, Circular Convolution is common used because it is suitable to do FFT.
Circular Convolution means that firstly padding the tensor with circular boundary and then do the convolution. It works like _scipy.ndimage.filters.convolve(x,ker,mode='wrap')_ in Scipy or _imfilter(x,ker,'circular','conv')_ in Matlab.
Up to now, Pytorch does not support this operation. In _torc

[2018-03-30 02:52] Teaonly commented on #6102
Problem is CUDA7.5 , the "aten/src/ATen/native/cuda/CuFFTUtils.h" and  "aten/src/ATen/native/cuda/SpectralOps.cu" is not compatible with cuda7.5

[2018-03-30 03:04] samuela commented on #1274
please please please

[2018-03-30 03:52] ngimel commented on #6102
Pytorch no longer supports  Cuda 7.5.

[2018-03-30 04:01] Teaonly commented on #6102
So, Cuda 7.5 will  not be supported in 0.4.0 ?

[2018-03-30 04:07] ngimel commented on #6102
No

[2018-03-30 04:09] #6102 closed

[2018-03-30 05:33] Naman-ntc commented on #5874
I understood the basic ATEN structure and logic. But I am not sure on how to implement randint type functionality.
I have a hacky solution :- generating a Tensor via uniform distribution and taking the floor of all values to get integers.
Will it do or what approach should I have??

[2018-03-30 05:40] colesbury commented on #5874
The `random_(from, to)` function will fill a tensor with random integers in the specified range.

You'll want to do something like `randn` but with `random_` instead of `normal_`. (See SsnL's pointer to relevant files above).

[2018-03-30 05:43] Naman-ntc commented on #5874
Oh!! Didnt know that random_ function exists in ATEN library as well! Then it's trivial. Thanks

[2018-03-30 05:44] SsnL commented on #5874
See https://github.com/pytorch/pytorch/tree/master/aten/doc for functions available in aten

[2018-03-30 06:04] samuela commented on #1274
FWIW I've implemented a wrapped version of torch that does its best to emulate this sort of behavior: https://github.com/samuela/kindling/blob/master/kindling/nan_police.py.

[code]

I've added it to my mini-toolkit of pytorch utilities, [kindling](https://github.com/samuela/kindling).

[2018-03-30 06:07] samuela commented on #4767
I've implemented this in [kindling](https://github.com/samuela/kindling): https://github.com/samuela/kindling/blob/master/kindling/nan_police.py. Hopefully irrelevant come version 0.4.

[2018-03-30 08:43] lcctju opened #6125 "AttributeError: 'module' object has no attribute 'DoubleTensorBase'"
- OS: Ubuntu 16.04
- PyTorch version: torch-0.4.0a0+60a16e5
- How you installed PyTorch (conda, pip, source): source
- Python version: 2.7
- CUDA/cuDNN version: 8.0
- GPU models and configuration: GeForce GTX 1080 Ti
- GCC version (if compiling from source): 5.4.0

Traceback (most recent call last):
  File "main.py", line 6, in <module>
    import models
  File "/home/lcc/rnncode/deephawkes/mydeep

[2018-03-30 08:52] apaszke commented on #6125
Please use the issue template to provide information we'll need to resolve your issue. We can't do anything until we have it.

[2018-03-30 09:47] ayush1999 opened #6126 "Inf and nan loss"
Here is my network:
[code]
Then, I created the network and the training loops as :
[code]

The initial output was very large, then it became Inf and finally Nan. Why is this happening?

[2018-03-30 09:48] ayush1999 commented on #6126
I read on the forum that it maybe because of the loss function I am using. But I get the same result even after changing it to MSELoss() or NLLLoss().

[2018-03-30 10:06] khurramHazen commented on #1771
@ngimel I am having a  similar issue; `nvidia-smi` is working. When I try to run the sample cuda code I get the following error `bash: nvcc: command not found`. I separately built the cuda image (the first line in pytorch docker file) and there I was able to run the sample cuda code you provided. I am unable to locate `nvcc` in the container. Can you give me some pointers on how to debug it?

[2018-03-30 10:36] arijitx opened #6127 "Core Dumped PyTorch on torch.cuda.device_count()"
The line torch.cuda.device_count() crashes.

Python : 3.5.2
PyTorch: 0.3.1
Ubuntu 16.04.3 LTS

[code]

[2018-03-30 10:38] Jeffery4000 commented on #6099
Hi @apaszke , i try to recompile from source with and it shows the following error:

`WITH_GLOO_IBVERBS=1 WITH_DISTRIBUTED=1 WITH_CUDNN=1 WITH_CUDA=1 WITH_NCCL=1 CUDA_HOME=/usr/local/cuda-8.0/ python setup.py install`

[code]

[2018-03-30 11:15] apaszke commented on #6126
It's likely an error in your data pipeline or an initialization problem. If you suspect it's a bug in a framework then please isolate the part that concerns you and let us know. If it's just a general difficulty in training your model, then you should use the forums.

[2018-03-30 11:15] #6126 closed

[2018-03-30 11:16] apaszke commented on #6099
It's a warning, not an error. You can ignore them.

[2018-03-30 13:16] lxtGH opened #6129 "A problem or bug in pytorch 0.4.0a0+063946d ?"
I update my pytorch version to new 0.4 today, but I found my code cann't  run
My enviroment:
- OS: Ubuntu16.04.3 LTS
- PyTorch version: 0.4.0a0+063946d
- How you installed PyTorch (conda, pip, source): source
- Python version: 3.6
- CUDA/cuDNN version: 9.0
- GCC version (if compiling from source):gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.9)
run the code like this:

import numpy as np

[2018-03-30 14:27] colesbury commented on #6129
Use `mask.long().sum()` for now.

Currently, sum() on a ByteTensor wraps around at 256. We are going to change this before the 0.4 release.

See https://github.com/pytorch/pytorch/issues/5966

[2018-03-30 14:27] colesbury commented on #6129
(Closing this because we're tracking the problem in the issue above)

[2018-03-30 14:27] #6129 closed

[2018-03-30 14:41] ezyang opened #6131 "Build picks up wrong copy of mkl when multiple available"
@aosokin reports from https://github.com/pytorch/pytorch/issues/6068#issuecomment-377226963

There might be another related issue with dependencies.
When doing import torch from an anaconda env pytorch uses mkl (libmkl_gf_lp64.so) installed in anaconda root.
Consequently, if the root and the env have different versions (in my case the root had 2018.0.1 and the env had 2018.0.2-1) I was getting thi

[2018-03-30 14:41] ezyang commented on #6068
@aosokin I think yours is a separate issue, filed at #6131

[2018-03-30 14:49] Naman-ntc commented on #5874
Hi, so I did the additions in yaml file as well as in TensorFactories.cpp.
Now we would need to create an entry in python as well right where we will call the backend ATEN function randint? How will it be done??

[2018-03-30 14:57] ezyang opened #6133 "Feature test in CI to make sure we are successfully building a configuration"
In #6121, we didn't catch the problem when cpuinfo merged because none of our CI configurations are testing NNPACK. This, however, was not intentional: we are installing nnpack in our Docker images (https://github.com/pietern/pytorch-dockerfiles/blob/master/common/install_conda.sh#L56) but for some reason cmake isn't picking it up. This is a "known" problem, but it was regressed for a fairly long

[2018-03-30 15:01] zou3519 commented on #5874
@Naman-ntc a Python entry gets auto-generated when compiling after you write an entry in `native_functions.yaml` and have code for it. You can test this out by compiling (`python setup.py build develop`) and then trying out `torch.randint` or whatever the name of the function is.

[2018-03-30 15:05] zou3519 commented on #6124
What do you mean by `circular boundary`?

[2018-03-30 15:16] lxtGH commented on #6129
@colesbury Thank you for your reply !!!!

[2018-03-30 15:28] fmassa commented on #6124
@zou3519 circular boundary means that you pad on the right with the pixels from the left of the image, as if you had concatenated the image on the right. The same applies for the bottom of the image.

[2018-03-30 15:34] zou3519 commented on #6124
Ah gotcha, thanks for the clarification @fmassa.  @YuesongNan as a workaround you can try what I suggested here: https://github.com/pytorch/pytorch/issues/3858 to pad your tensor before a convolution.

[2018-03-30 15:34] fmassa commented on #6124
Another possible implementation would be to modify `im2col` to handle this case.
When out of boundary, instead of setting to 0 in [here](
https://github.com/pytorch/pytorch/blob/master/aten/src/THNN/generic/Col2Im.c#L77-L78)
you'd instead return a the value of the input at the position.

[2018-03-30 15:39] Naman-ntc commented on #5874
I thought so!
Had a query then, there are many functions in yaml file I never found in documentation like 'randn_like' and neither I am able to use them.
Also torch.conv1d is not callable though torch.nn.functional uses it. So I thought we need additional registeration!
Will learn the system in more detail!

[2018-03-30 15:43] ezyang opened #6135 "Test suite should test implementations"
This issue was prompted by #6132. To explain the situation, let us consider the situation of convolution.

Today, we have a number of tests for convolution. The majority of these tests go through the "official" convolution interface, which is what all of our users use. However, inside the implementation of convolution, there are a large number of if-statements which specify which particular implem

[2018-03-30 15:58] Naman-ntc commented on #5874
I made a pull request to master!

[2018-03-30 16:15] spott opened #6137 "Compilation error when attempting to install from source."
- OS: Ubuntu 16.10
- PyTorch version: 0.4.xxx (git master)
- How you installed PyTorch (conda, pip, source): source
- Python version: 3.6.3
- CUDA/cuDNN version: 9.1
- GPU models and configuration: GTX 1060 6gb
- GCC version (if compiling from source): 6.4.0-8ubuntu1

Compile log is at: https://gist.github.com/spott/4a893ba403bbbfd65e094e41d9963001

It seems to be choking on some stdlib stuff...

[2018-03-30 16:18] PermiJW opened #6138 "[feature request] SIGNUM an optimizer that takes the sign of gradient or momentum."
The SIGNUM is an optimizer that takes the sign of gradient or momentum.
Please see the detailed description of SIGNUM in the original paper at: https://arxiv.org/abs/1802.04434

I would like to start the process of a feature request if accepted by the community.And I am willing to create a pull request and implement the code after discussion.

[2018-03-30 16:34] avocadochicken commented on #6137
I think this was one the the errors I also had, while compiling. This solution (using gcc 4.8) worked for me:
https://medium.com/@Inoryy/compiling-pytorch-4-0-on-ubuntu-17-10-with-cuda-9-0-and-python-3-6-6769a0df56d5

[2018-03-30 16:52] el3ctrician commented on #6106
tried to compile pytorch 0.3.1 and i run onto a new issue, same code above produces this error now
[code]

[2018-03-30 17:04] YuesongNan commented on #6124
@zou3519 Thank you for your reply. I am actually trying this method. But I don't know whether using `torch.cat` for padding will have the same speed performance as modification on the source code of the convolution.
@fmassa Thank you for help. I am trying to understand this code and do corresponding modification.

[2018-03-30 17:27] zou3519 opened #6139 "[jit][script] Support shape inference of ops with integral constant arguments"
The following will compile:
[code]
while the following will not:
[code]
because the shapecheck pass ultimately doesn't recognize `x.unsqueeze(0)` and does not infer the type of its output as a result

Both of these two examples should be compile-able.

cc @zdevito

[2018-03-30 17:29] zou3519 opened #6140 "[jit][script] Support `dim` wrapping"
The following does not compile:
[code]
The expected behavior should be that the dim wraps around (to match torch semantics).

cc @zdevito

[2018-03-30 19:58] aryamccarthy commented on #5835
This was particular to my machine and doesn't generalize.

[2018-03-30 19:58] #5835 closed

[2018-03-30 20:16] ezyang commented on #5877
Yep, we've got four GPU machines now. Right now `test_distributed.py` is being run in that configuration. https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-xenial-cuda8-cudnn6-py3-multigpu-test/

[2018-03-30 20:20] jamesr66a opened #6153 "[jit][script] Implement tuples & starred unpacking"
Variadic arguments are a good way to deal with inputs/outputs that change w/ hyperparameters, e.g. number of layers, number of models in an ensemble. We should support tuples of tensors as return values and allow unpacking of them into the flattened inputs to a model invocation. E.g.:

[code]

where encoder_outs is a tuple of tensor

[2018-03-30 20:25] ailzhang opened #6154 "use multi gpus to test comm operators"
Currently in test_distributed.py, we only test allreduce/gather/... operators using multiple processes on single GPU, which is not supported on some archs. #5877
I will update the tests to use multi gpus since now we have a proper test machine(4GPUs).

[2018-03-30 20:26] ailzhang commented on #5877
@ezyang This is great! I opened an issue to update the testcases.

[2018-03-30 20:28] atiyo opened #6155 "Inconsistent: Tensor repeat method is 1-indexed, not 0-indexed"
On 0.3.1b0+2b47480 on macOS, built from source.

E.g.
`a = torch.Tensor([[5,2]])`
`a.repeat(2,0)`

errors out, but

`a.repeat(2,1)`
returns the 2x2 tensor that I would anticipate from the first attempt.

It appears that the repeat method is indexing dimensions from 1, not 0.

`torch.cat` indexes dimensions from 0. I thought the repeat method should be consistent.

[2018-03-30 20:30] zou3519 commented on #6155
Could you please provide more detail? What do you mean by 1-indexed and 0-indexed? http://pytorch.org/docs/master/tensors.html?highlight=repeat#torch.Tensor.repeat

[2018-03-30 20:32] atiyo commented on #6155
Apologies. Accidentally posted the issue before typing anything! Added detail now.

[2018-03-30 20:39] #4908 closed

[2018-03-30 20:39] zou3519 commented on #6155
The arguments to repeat aren't indices or dimensions. They're the number of times you want to repeat a specific dimension.
[code]
Means you're repeating dimension 0 twice and dimension 1 once (so not at all).

[2018-03-30 20:40] SsnL commented on #6155
@atiyo The [doc](http://pytorch.org/docs/master/tensors.html#torch.Tensor.repeat) clearly says that `.repeat` takes in sizes. There is no dim argument. This is the expected behavior.

[2018-03-30 20:41] atiyo commented on #6155
Apologies. Closing this.

[2018-03-30 20:41] #6155 closed

[2018-03-30 20:51] Naman-ntc commented on #5874
With reference to @colesbury comment on [#6136](https://github.com/pytorch/pytorch/pull/6136) regarding [numpy like randint behaviour](https://github.com/pytorch/pytorch/pull/6136) : in numpy we enclose the size/shape in a single tuple parameter unlike in pytorch where we pass all dimensions as separate arguments.

So we can't really achieve default parameters like numpy right as we cant distingui

[2018-03-30 20:57] Naman-ntc commented on #5874
Also I am not understanding how definitions in ATEN yaml files get translated into python definitions. For example the out parameter in [torch.randn](http://pytorch.org/docs/master/torch.html#torch.randn) is not defined in ATEN randn but it probably uses ATEN randn_out definition. How does that take place? Any pointer would be of great help. (search in the pytorch blog though not thoroughly)

[2018-03-30 21:00] SsnL commented on #5874
@Naman-ntc tuple args also works with `IntList` I believe.
[code]

[2018-03-30 21:08] Naman-ntc commented on #5874
Oh! I didnt know about this behaviour and neither did docs mentioned them. Thnx for quick reply.
If someone gives input as
`torch.randint(2,3,5)` ATEN function would be called as `randint(int64_t low = 2, int64_t high = 3,Intlist=[5])` right and not be confused with `randint(int64_t low = 0, int64_t high = 2,Intlist=[3,5])`?

[2018-03-30 21:18] SsnL commented on #5874
I'm actually not quite sure on that part. Can you try it out? I believe you also need to define the `yaml` entry as `randint(..., IntList size, *, Generator* generator=nullptr) -> Tensor`.

[2018-03-30 21:20] Naman-ntc commented on #5874
Yeah, will try out. Thanks, I'm still confused how arguments are parsed from python to C though

[2018-03-30 21:23] jekbradbury commented on #5912
Something is very strange here; a profile shows that the backward pass is running `IndexBackward` (5ms) and `torch::autograd::Add` (10ms) plus a bunch of smaller kernels in a loop thousands and thousands of times. Which sounds like it's autodiffing the scalar version (walking one by one through indices) of something that should be vectorized?

[2018-03-30 21:33] jekbradbury commented on #5912
Is this the issue? https://github.com/pytorch/pytorch/blob/4563e190c4e5b18322a36064854409c0fb51f32e/aten/src/THCUNN/generic/TemporalConvolution.cu#L85-L108

[2018-03-30 21:56] zhanghang1989 commented on #2584
Thanks @CanyonWind . I am collecting the credits :)

[2018-03-30 21:57] spott opened #6157 "Sums of ByteTensor Variables are bytes."
This is incredibly unexpected behavior that should have a warning or throw an error:

[code]
prints:
[code]

It should have the value "300".

This is on pytorch 3.1, in python 3.6.  It happens if the variables are cuda variables or not.  It *does not* happen with tensors, just with variables.

[2018-03-30 22:02] ezyang commented on #6157
Yep, we're working on it. See #5966

[2018-03-30 22:02] #6157 closed

[2018-03-30 22:13] johnsrude commented on #1382
What is the workaround for this?

[2018-03-30 23:43] jamesr66a commented on #6153
Short of changing the semantics of the language all the way down to the execution engine, I think I'm going to implement a restricted subset of starred functionality. I'm going to make a desugaring pass that will match the following scenario:

- We have a method invocation with # outputs > 1 that is in an assignment statement where lhs has only a single identifier. E.g. `myouts = someMethodThatRet

[2018-03-30 23:49] ezyang commented on #6153
Previously https://github.com/pytorch/pytorch/issues/5220

[2018-03-31 02:43] yangorwell commented on #990
recommend pip install, very fast

[2018-03-31 03:15] CDLuminate commented on #990
I submitted a Mirror request at TUNA https://github.com/tuna/issues/issues/363

[TUNA](http://mirrors.tuna.tsinghua.edu.cn/) is the open source mirror of TsingHua University (China).

@soumith Are the python whls downloaded from pytorch.org redistributable? If so, TUNA members will be able to create a mirror for Pytorch without legal risk.

[2018-03-31 03:35] vishwakftw commented on #6012
Is this issue taken and currently under development?

I would like to take it up if otherwise. Thanks.

[2018-03-31 04:12] Naman-ntc commented on #5874
To give the default parameter type functionality could I use function overloading? i.e.

Create to instances of randint in Tensorfactories.cpp and yaml file, one which takes 2 arguments and other taking three arguments because keeping to default parameter would make the code confusing.
Otherwise I can make the second and third parameter (high and sizes) of randint function as NULL and proceed simi

[2018-03-31 05:28] Naman-ntc commented on #5874
@SsnL I am getting these behaviours on corner cases

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: randint(): argument 'size' (position 2) must be tuple of ints, not int

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: randint(): argument 'size' (position 2) must be tuple of ints, not int

Traceback (most recent call last):

[2018-03-31 08:38] sprainlee commented on #4090
@daniilsorokin
`conda update conda `
solves my PackageNotFound error on MacOS. Thanks!

[2018-03-31 09:55] apaszke commented on #6012
I think this is currently assigned to @bddppq.

[2018-03-31 14:39] #6055 closed

[2018-03-31 16:01] apaszke commented on #6139
The problem lies elsewhere. Shape inference pass can execute `x.unsqueeze(0)` just fine. The initial graph looks like this:
[code]
You can see that the `0` gets inlined into the IR as a constant tensor, and shape inference will correctly infer that the type of `%1` is `Long()`. Then, we get to the second node, but `unsqueeze` is not a supported operation, and it has an integral input, so we can't

[2018-03-31 16:05] apaszke commented on #6075
Yep, looks like it fails for the exact same reason as #6139 (integral inputs to an unsupported op in shape inference)

[2018-03-31 16:08] apaszke commented on #6139
NB as a proof that this works (and is only a problem with shape inference), you can remove `requires_grad=True` in which case the scripted function will run just fine

[2018-03-31 16:14] apaszke commented on #5912
@jekbradbury I don't think we even use those kernels. They were always of worse quality than Conv2d, and used a different data layout, so when we encounter 3D inputs, we view them as 4D and run Conv2d kernels on them.

[2018-03-31 16:14] apaszke commented on #5912
What's the name of the tiny kernel you're seeing?

[2018-03-31 16:35] #6064 closed

[2018-03-31 16:37] zou3519 commented on #6139
I'm not sure if this is useful or if it's exactly what you're saying @apaszke , but I've noticed there's a special case in the shape analysis for `unsqueeze`:
https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/passes/shape_analysis.cpp#L188-L200

Tracing `unsqueeze(dim=0)` causes different behavior than `unsqueeze(0)`: `unsqueeze(dim=0)` results in the Node having 1 input, while `unsque

[2018-03-31 18:26] soumith commented on #990
@CDLuminate for the TUNA project we grant redistributable permission. I can make a comment on that issue.

[2018-03-31 19:02] #6068 closed

[2018-03-31 19:59] ezyang opened #6162 "Add option to build without catch2 / fix catch2 build errors on Windows"
https://github.com/pytorch/pytorch/issues/494#issuecomment-375521846 suggests that (1) we always build with catch, even when you aren't interested in testing, and (2) there might be some situations where catch2 does not compile correctly on Windows. It should be possible to build without catch.

[2018-03-31 20:54] samuela opened #6163 "[feature request] `torch.dumps` and `torch.loads`"
So pytorch currently offers

[code]

and these are nice but a lot of standard pickling and serialization libraries feature functions `dumps()` and `loads()` (eg https://docs.python.org/3/library/pickle.html#pickle.dumps and https://docs.python.org/3/library/pickle.html#pickle.loads) which offer the ability to serialize the data into a bytes object instead of directly to a file. This can be handy i

[2018-03-31 20:58] apaszke commented on #6163
[code]

[2018-03-31 20:58] #6163 closed

[2018-03-31 21:04] samuela commented on #6163
@apaszke I'm not having luck with that.

[code]

gives me
[code]

[2018-03-31 21:06] apaszke commented on #6163
It's been added lately, so you need to install from source to use this feature

[2018-03-31 21:07] samuela commented on #6163
Also, I'm a little confused about the exact semantics of `torch.save()` and `torch.load()`. Do they operate properly on pytorch objects nested in other data structures? Eg. will

[code]

work correctly?

[2018-03-31 21:08] samuela commented on #6163
@apaszke Ah ok, so this will be in version 0.4 I guess? What's the current timeline for that release?

[2018-04-01 01:49] avmgithub commented on #5877
Not sure if this is the same, on ppc64le I am seeing errors similar to ones described using Pascal (P100) ,  NVIDIA-SMI 384.81, cuda9

[2018-04-01 02:13] avmgithub commented on #5877
Additional info for ppc64le.  The tests works with Tesla V100-SXM2 with NVIDIA-SMI 390.31 and cuda 9.1

[2018-04-01 02:17] kirk86 opened #6164 "feature requests and future roadmap"
PyTorch Feature Requests and Future RoadMap
--------------------------------
Hello everyone and thank your for this great project. I would like to point to some things that I find important for the future growth of pytorch.

1. Easy name conventions throughout the library. I believe that some things should be renamed so that it resonates and are easier to remember. This will also lower the entry b

[2018-04-01 02:31] ezyang opened #6165 "Note about unusual stride situations in dev docs"
On its face, strides are pretty simple: given strides `s`, the memory location of the indices `x` is `sum(s[i] * x[i] for i in dim)`. It's also fairly simple to say when strides are contiguous: that is when `s[i] == product(s[j] for j in range(0, i))`. And then the standard application of strides is to let you get non-contiguous views into an underlying contiguous tensor.

But there are also some

[2018-04-01 02:51] Shaunlipy opened #6166 "3D loss from Fully Convolution Network (for Segmentation) backward error"
Hi, I'm using LogSoftmax(dim=1) for 4D input (batch_size, num_classes, height, width), and with NLLLoss, and generated a 3D tensor.

But when calling loss.backward(), I got error:
''
RuntimeError: grad can be implicitly created only for scalar outputs
''
from the line loss.backward().

Can anyone help?

logsoftmax = nn.LogSoftmax(dim=1).cuda()
criterion = torch.nn.NLLLoss(reduce = False).cuda()

o

[2018-04-01 04:03] berkankadioglu opened #6167 "Optimizing weights withtout gradients, is it possible?"
Hi, I'm sorry if this is not the right place to ask this question.

Mainly for a fully connected NN, can I write my own weight update function (I dont want to use gradients, I believe in optimizer when backpropping) according to the input/outputs and weights for each perceptron at current iteration? I am going to have the same update function for every perceptron. Can I update layers in any order

[2018-04-01 04:18] soumith commented on #6167
https://discuss.pytorch.org is the right place to ask this question.

[2018-04-01 04:18] #6167 closed

[2018-04-01 04:19] soumith commented on #6166
please use https://discuss.pytorch.org to post questions

[2018-04-01 04:19] #6166 closed

[2018-04-01 06:35] dandelin opened #6168 "DataLoader loads whole dataset when it got non-int batch_size"
I've noticed this malfunction while implementing DataLoader for loading enormous images from directory.  As you can see in below code snippet, the loader could blow up the memory if the dataset is large enough.

[code]

[2018-04-01 07:51] Stonesjtu opened #6169 "Error configuration for CI of caffe2"
output: (https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-cuda8.0-cudnn6-ubuntu16.04-test/2157/console)
[code]
PS. I think the separate trigger for `pytorch` and `caffe2` does not work correctly. #5936 always fires the tests of caffe2

[2018-04-01 08:08] Stonesjtu commented on #6164
1. `torch.save` and `torch.load` may work as `model.save` and `model.load`.
2. I don't think `pytorch` uses `Layer`
3. `torch.set_default_tensor_type('torch.cuda.DoubleTensor')` should probably solve your problem.
4. `tensor[-4]` is already supported.
5.  refer to https://github.com/lanpa/tensorboard-pytorch
6.  agree with you.

Correct me if I misunderstand.

[2018-04-01 08:45] latkins commented on #3898
Yeah, I have been returning the (dense) indicies / values corresponding to the matrix, and then using these to construct the sparse matrix prior to feeding it into forward.

[2018-04-01 09:02] JackeyWang777 opened #6170 "One Question about 60-min blitz. sys.meta_path is None, Python is likely shutting down"
PyTorch GitHub Issues Guidelines
--------------------------------

We like to limit our issues to bug reports and feature requests. If you have a question or would like help and support, please visit our forums: https://discuss.pytorch.org/

If you are submitting a feature request, please preface the title with [feature request].

When submitting a bug report, please include the following informat

[2018-04-01 10:04] arpitvw commented on #494
@peterjc123 while installing on windows in am getting below error
is windows not supporting pytorch anymore .?

[2018-04-01 10:08] arpitvw commented on #494
@peterjc123 while installing on windows in am getting below error
is windows not supporting pytorch anymore .?

C:\Users\ARPIT>conda install -c peterjc123 pytorch
Solving environment: failed

PackagesNotFoundError: The following packages are not available from current channels:

  - pytorch

Current channels:

  - https://conda.anaconda.org/peterjc123/win-32
  - https://conda.anaconda.org/peterjc1

[2018-04-01 10:11] peterjc123 commented on #494
@arpitvm Pytorch is never supported on 32-bit systems or python environments. Why do you think it is possible?

[2018-04-01 10:14] peterjc123 commented on #6162
Where is the catch2 source files included in build? ATen? or any submodule?

[2018-04-01 10:43] kirk86 commented on #6164
@Stonesjtu Thank you for the input.

Does that mean that whenever I construct the Dataset api all the preprocessing is gonna happen on the gpu? My understanding from reading around the forums was that something like that didn't exist unless I'm mistaken?

[2018-04-01 11:38] armstrang commented on #494
[
![capture](https://user-images.githubusercontent.com/32195239/38172730-344975f4-35e4-11e8-8e94-39b60017c783.PNG)
](url)

[2018-04-01 11:46] peterjc123 commented on #494
@armstrang I don't know what card you are using. If it's not a Pascal card, then it should be okay. Since the support for old cards is over.

[2018-04-01 12:30] Stonesjtu commented on #6164
Technically that mean when you runs `b = torch.Tensor(5,5)`, `b` will be on GPU by default. I don't quite understand the need for pre-processing data on GPU actually.

[2018-04-01 12:55] peterjc123 commented on #6109
1. Would you please update your conda using `conda update conda`?
2. No, Community version is enough. I guess your version of MSVC BuildTools is too high or the PATH of VS150COMNTOOLS may be incorrect.
3. Make sure you install CUDA after installing the corresponding version of MSVC. And it will be installed. Actually it is located in the setup executable. You can extract it and find that.

[2018-04-01 14:18] arpitvw commented on #494
@peterjc123 my system is 64 bit

[2018-04-01 14:19] peterjc123 commented on #494
@arpitvw Yes, but your python environment is 32 bits. See the repo url: `https://conda.anaconda.org/peterjc123/win-32` which should be `https://conda.anaconda.org/peterjc123/win-64`.

[2018-04-01 14:27] kirk86 commented on #6164
@Stonesjtu

Say you have many gpus, instead of doing the pre-processing on cpu you could leverage the gpus that are sitting there doing nothing.  That would speed up things a lot and during training the actual gpus that are responsible for the computation won't have to wait the cpu to finish to load data into gpu memory.  Things can happen in parallel especially if your pre-processing is computati

[2018-04-01 15:09] crcrpar commented on #6168
The case happened because this line could take `str`:
https://github.com/pytorch/pytorch/blob/master/torch/utils/data/sampler.py#L121

`batch_size` argument should be checked `int` or not.

[2018-04-01 15:16] soumith commented on #6170
it is great that you have posted here: https://discuss.pytorch.org/t/one-question-about-60-min-blitz-sys-meta-path-is-none-python-is-likely-shutting-down/15787

We do not like double-posting of same information, so closing the thread here.

[2018-04-01 15:16] #6170 closed

[2018-04-01 15:56] kose-y opened #6171 "Compute csr representation on torch.sparse.Tensor.coalesce for faster sparse matrix multiplication"
On the code on sparse matrix-dense matrix multiplication
https://github.com/pytorch/pytorch/blob/master/aten/src/THS/generic/THSTensorMath.c#L305
and
https://github.com/pytorch/pytorch/blob/master/aten/src/THCS/generic/THCSTensorMath.cu#L58 ,
it first computes csr representation, then perform sparse matrix-dense matrix multiplication based on that representation, then destroy the csr representatio

[2018-04-01 17:29] albanD commented on #6127
It looks like it is just the cuda initialization that crashes.
Can you run the cuda samples properly?
Do you have cuda version matching for your pytorch install and the one on your system?
Can you run `import torch` and `torch.cuda.FloatTensor([1])` ?

[2018-04-01 17:50] KangboLu commented on #494
PackageNotFoundError: Package missing in current win-64 channels:
  - pytorch
I can't install Pytorch using the command you gave. @peterjc123

[2018-04-01 18:01] SsnL commented on #6164
You can already to data reprocessing on GPU in dataloader workers with spawn method.

[2018-04-01 18:30] kirk86 commented on #6164
@SsnL can you provide some pointers or minimal working example?

[2018-04-01 21:16] mdraw commented on #4767
Thanks. I am closing this because `torch.isnan()` is now available thanks to #5273 and `torch.nan` is not really important (`torch.tensor(float('nan'))` works if it is required).

[2018-04-01 21:16] #4767 closed

[2018-04-01 21:24] wilkluka opened #6174 "ImportError: No module named torch"
installed pytorch from source on Ubuntu 16.04, cuda 9, nvidia 850m
[code]

[2018-04-01 21:26] wilkluka opened #6175 "enabling older computing capabilities like 5.0"
I am using ubuntu 16.04 and I am trying to compile pytorch and I want to enable 5.0 cuda computing capability where to set it - in what file or maybe in environment variable?

[2018-04-01 22:04] #6174 closed

[2018-04-01 22:30] Zenol opened #6176 "Segfault & invalid free with a GRUCell"
Hello,

I noticed a crash when using cuda (python segfault with an invalid free) when using GRUCell with the following invalid arguments:

* Making a GruCell.
* Feed the cell with a batch of size B > 1 for the input layer and a hidden layer of batch size 1. `self.gru_cell(input_layer, hidden_layer)`

There is a mismatch in the batch dimension of the two inputs of the model. The expected behavior s

[2018-04-02 01:06] ezyang commented on #6169
Oh, I know what the problem is. PR here: https://github.com/pytorch/pytorch/pull/6177

[2018-04-02 01:18] soumith commented on #6169
closed via #6177

[2018-04-02 01:18] #6169 closed

[2018-04-02 01:46] gursimar opened #6178 "LSTM and GRU creases segmentation fault on inputing wrong order of hidden variable"
Specifications
- PyTorch or Caffe2: Pytorch
- OS: Ubuntu 16.04.3 LTS
- PyTorch version: 0.3.0
- How you installed PyTorch (conda, pip, source): Pip
- Python version: Python 3.5.2 :: Anaconda custom (64-bit)
- CUDA/cuDNN version: V8.0.61
- Other: NA

If we input **'batch,sequence, dimension'** instead of **'sequence, batch, dimension'** in a LSTM or a GRU, it generates a segmentation fault on GPU.

[2018-04-02 02:54] kose-y commented on #6171
This may be a good starting point for https://github.com/pytorch/pytorch/issues/3158, https://github.com/pytorch/pytorch/issues/4247, and https://github.com/pytorch/pytorch/issues/5262 .

[2018-04-02 03:33] zou3519 commented on #6175
The environment variable is `TORCH_CUDA_ARCH_LIST`. You can build with `TORCH_CUDA_ARCH_LIST=5.0 python setup.py build develop`.

This should probably be added to the README (or setup.py, where the other common env variables are documented).

[2018-04-02 03:36] zou3519 commented on #6178
Thanks for the report, @gursimar. This bug has already been fixed on master. It comes with a nice error message:
[code]

[2018-04-02 03:40] zou3519 commented on #6176
This has been fixed on master:
[code]
@Zenol, I'm not sure if this is exactly how you're triggering your error. If you could provide a code snippet to confirm that would be great.

[2018-04-02 07:27] Mabinogiysk opened #6179 "batches_outstanding == 0 in dataloader during iteration"
- PyTorch or Caffe2: Pytorch
- OS: ubuntu16.04
- PyTorch version: 0.3.1
- How you installed PyTorch (conda, pip, source): pip
- Python version: 3.6
- CUDA/cuDNN version: cuda8.0

I got this error during iteration:
[code]
Is anybody can help?

[2018-04-02 08:21] nikhilraghava opened #6180 "GIF in README needs to be edited"
This GIF (see below) needs to be tweaked a bit:

![GIF](https://raw.githubusercontent.com/pytorch/pytorch/master/docs/source/_static/img/dynamic_graph.gif)

When I run this code, the first error is:

Looking at the direction of arrows and assuming that we need to calculate the gradient with respect to all four variables, setting `requires_grad=True` for all four variables raises another error:

So

[2018-04-02 08:35] Mabinogiysk commented on #6179
I found that the data_loader can only go through my data once. After iterating every data in dataset, it stops.

[2018-04-02 09:25] agangzz opened #6181 "Do pytorch have plan to support deep complex netowrk?"
Do pytorch have plan to support deep complex netowrk?
such as "Deep Complex Networks" in https://arxiv.org/abs/1705.09792

[2018-04-02 10:06] MoonBunnyZZZ commented on #6125
- PyTorch or Caffe2:PyTorch
- OS:Ubuntu16.04LTS
- PyTorch version:0.3.1
- How you installed PyTorch (conda, pip, source):conda install pytorch-cpu torchvision -c pytorch
- Python version:3.6/2.7

I install pytorch by conda in a virtual environment.
When I try to use the utils.data module,The error was got :

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: m

[2018-04-02 10:52] huguyuehuhu commented on #1893
@zhanghang1989  how to use your `Criterion Parallel`, can you give a example in your code or docs.Thanks you!

[2018-04-02 11:00] Zenol commented on #6176
Yes, that's exactly this :)

(Your code doesn't run on my version of pytorch because he ask for Variable instead of tensors. The following lines
[code]
produce the `free(): invalid pointer: 0x00007f78cc574d40` error.)

Looking at your output it seams fixed :)

[2018-04-02 11:08] topiaruss opened #6182 "[feature request]: Add an X11-enabling Dockerfile"
Mine extends the pytorch image built by the current Dockerfile.

I tag the extended image pytorchX11 and the new build file is DockerfileX11

I'll be happy to contribute, together with additional lines in the README to explain the build step.

[2018-04-02 11:27] huguyuehuhu commented on #1893
@zhanghang1989 how to use your Criterion Parallel, can you give a example in your code or docs.Thank you!

[2018-04-02 11:37] JindongJiang commented on #3997
That is true.

[2018-04-02 12:03] kpoman opened #6183 "[cuda 5.0] windows binaries somewhere ?"
I am wondering if someone could post or point to where to get PyTorch Windows binaries supporting cuda 5.0. I do have a "not so old" Quadro M1000M (from a Thinkpad P50 bought less that 2 years ago!!!). I am not skilled enough to build on windows, so I was wondering if someone already did that and can post the binaries.
Thank you a lot

[2018-04-02 12:41] vishwakftw commented on #6180
This has been brought up earlier in https://github.com/pytorch/pytorch/issues/1413.

[2018-04-02 12:55] #6178 closed

[2018-04-02 12:57] peterjc123 commented on #6183
There're unofficial CI packages available [here](https://github.com/peterjc123/pytorch-scripts). But the binary files are not bundled so you may have to install the dependencies by yourself.

[2018-04-02 12:58] apaszke commented on #6125
We don’t import the utils module by default. You need to `import torch.utils.data`

[2018-04-02 12:58] #6125 closed

[2018-04-02 12:59] apaszke commented on #6176
It’s fixed in master and that’s the usual free error that appears in our latest binaries. Should be fixed once 0.4 is out. Thanks for the report!

[2018-04-02 12:59] #6176 closed

[2018-04-02 13:01] apaszke commented on #6183
We dont have official binaries for Windows yet. 0.4 is the first version we will be packaging and should be released fairly soon

[2018-04-02 13:01] #6183 closed

[2018-04-02 13:03] apaszke commented on #6181
There are some other issues regarding support for complex tensors. I’ll close this as duplicate. Thanks!

[2018-04-02 13:03] #6181 closed

[2018-04-02 13:04] apaszke commented on #6179
That’s just how iterators in Python work. You can get a new iterator by calling `iter(data_loader)`

[2018-04-02 13:04] #6179 closed

[2018-04-02 13:12] kpoman commented on #6183
@peterjc123 mine environment would be cp36, win10 64 bits and a maxwell (quadro m1000m). I checked this CI build which look to succeed: Environment: APPVEYOR_BUILD_WORKER_IMAGE=Visual Studio 2017, PYTHON_VERSION=3.6, TORCH_CUDA_ARCH_LIST=Maxwell
I do have Visual Studio Community 2015, is there a problem with that env ?

[2018-04-02 13:13] apaszke commented on #6182
I’m not sure if we will want this. You can just build your own dockerfile on top of what we provide, but adding a new one for every other program people use with PyTorch would result in explosion in the number of dockerfiles we need. Thanks for the proposal!

[2018-04-02 13:13] #6182 closed

[2018-04-02 13:15] peterjc123 commented on #6183
@kpoman No problem. It is only a sign for the build system.

[2018-04-02 13:16] #2992 closed

[2018-04-02 13:20] apaszke commented on #6163
We’re trying to release it ASAP but there are still a few outstanding issues

[2018-04-02 13:29] NewRegin opened #6184 "load pretrained vgg11 model error"
env:
-Pytorch
-Pytorch version:0.4.0a0+2a4b33b(installed from conda)
-Python 3.6.4
-CUDA
-GPU-Nvidia P100
-GCC:gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.5)
-torchvision(installed from master)

error descripes:
When exec:
models.vgg11(pretrained=True), Then:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/lzh3/anaconda3/lib/python3.6/site-packag

[2018-04-02 13:57] robert-wagner opened #6186 "Variable.type and Tensor.type have inconsistent behavior"
When submitting a bug report, please include the following information (where relevant):
- PyTorch or Caffe2: Pytorch
- OS: Ubuntu
- PyTorch version: 3.0cpu
- How you installed PyTorch (conda, pip, source): Pip
- Python version: 3.6
- CUDA/cuDNN version: N/A
- GPU models and configuration: N/A
- GCC version (if compiling from source): N/A
- CMake version: N/A
- Build command you used (if compiling

[2018-04-02 14:02] el3ment opened #6187 "Pseudoinverse"
PyTorch has `torch.inverse`, but given the nature of noisy data-driven problems it would be useful to have a `torch.pinverse` option which is calculated using the SVD.

As a side note -- it would also be great if these two functions (`.inverse` and the proposed `.pinverse`) were more optimized for a batch operation. As in, passing a tensor of shape (32, 10, 10) would perform 32 instances of invers

[2018-04-02 16:25] colesbury opened #6190 "[PyTorch]: bad digamma float32 accuracy"
PyTorch master@92a0f78

Our digamma single-precision floating point accuracy is bad near the poles. This is not caught by our tests because we only test on a few values:

https://github.com/pytorch/pytorch/blob/92a0f7835e7e2f6342fe2fd32a25299ea86aed31/test/test_torch.py#L272-L274

[code]

This is a relative error of **24%**

We also are returning real numbers at the poles (for both float32 and flo

[2018-04-02 17:04] rafaelvalle commented on #4333
@apaszke how does one save the RNG state?

[2018-04-02 17:35] #6175 closed

[2018-04-02 18:05] Amir-Arsalan opened #6194 "Import order matters: segmentation fault if torch is imported first"
I have a couple of packages that I import in my project. Obviously, one of them is `torch`. I noticed that if I import `torch` after only one of my other packages things are fine. However, if I import `torch` first I get a segmentation fault. I wonder, is this a Python issue or could it be `torch` issue? Or maybe the other package (bpy) issue?

[2018-04-02 18:14] ZmeiGorynych commented on #6109
Thanks a lot for replying!
1. Was resolved after following your instructions.
2.  Turns out the VS installer with default settings doesn't install the compiler; after installing everything that looked likely from the VS IDE, and changing 'Enterprise' for 'Community' in the instructions, and changing `vcvars_ver` to 14.13 in the command below ( I did a search for '14' in the VS install directory, a

[2018-04-02 18:14] zou3519 commented on #6190
I think our current implementation approximates the derivative. I have a high-precision digamma function here: https://github.com/pytorch/pytorch/pull/3955 that I'll rebase soon.

[2018-04-02 18:51] goldsborough commented on #4619
For the last point: I think you want `tensor.clamp_max(scalar)`?

[2018-04-02 18:54] ebetica commented on #4619
Yes, thanks for pointing that out!

[2018-04-02 19:27] zou3519 commented on #6186
This is fixed on the latest master because Tensors and Variables are now the same

[2018-04-02 19:29] SsnL commented on #6187
Thanks for your request. We are currently working on other tasks, but we are putting this on our list. :)

[2018-04-02 19:31] robert-wagner commented on #6186
Awesome! Thanks. For reference which behavior does type take on the latest master?

[2018-04-02 19:41] SsnL commented on #6124
Thanks for your request. This is quite reasonable, but there will be some issues to work around with cudnn. We will put this on our list of task to do. :)

[2018-04-02 19:42] SsnL commented on #6106
@csarofeen

[2018-04-02 19:47] SsnL commented on #6095
As @fcheng-cv mentioned, it is likely a BN issue. Tracking stats on devices are not synchronized. If you believe the issue is in elsewhere, please give us more details of the GPUs and how you run the script.

[2018-04-02 19:59] ngimel commented on #6124
Cudnn will do just fine if there is a preceding explicit padding layer like @zou3519 suggested, but making it actually truly support circular convolution is a different discussion.

[2018-04-02 20:07] colesbury commented on #6194
What are the other packages?

[2018-04-02 20:12] ailzhang commented on #6099
@Jeffery4000 A quick question, have you tried using gloo but without ibverbs? What does that say?

[2018-04-02 20:14] ngimel commented on #6106
What is your driver version (or rather, what's your jetpack version)? JetPack 3.1 supports cuda 8 only, for cuda 9 you need JetPack 3.2 https://developer.nvidia.com/embedded/jetpack-notes

[2018-04-02 20:14] li-roy opened #6196 "Fix returned tensor type for binary operators between integral tensors and floating scalars"
Example below. We should probably return a floating tensor like numpy does.

[code]

[2018-04-02 20:15] ailzhang commented on #6099
And what's the output of your `ulimit -l`?

[2018-04-02 20:17] li-roy opened #6197 "Fix integral tensor division"
Example below. While we don't support ops between different dtype tensors, we should consider changing this behavior. In numpy, this would return a floating tensor.

[code]

[2018-04-02 20:20] ProGamerGov opened #6198 "RuntimeError: cuda runtime error (59) : device-side assert triggered at /pytorch/torch/lib/THC/generic/THCTensorCopy.c:70"
- PyTorch or Caffe2: PyTorch
- OS: Ubuntu: Ubuntu 16.04.3 LTS (GNU/Linux 4.4.0-1038-aws x86_64)
- PyTorch version: 0.3.1
- How you installed PyTorch (conda, pip, source): pip
- Python version: Python 2.7
- CUDA/cuDNN version: Cuda 9, cuDNN v7
- GPU models and configuration: Tesla K80
- GCC version (if compiling from source): N/A
- CMake version: cmake version 3.5.1
- Build command you used (if com

[2018-04-02 20:25] soumith commented on #6095
closed via comment https://github.com/pytorch/pytorch/issues/6095#issuecomment-378023755

[2018-04-02 20:25] #6095 closed

[2018-04-02 20:30] ProGamerGov commented on #6198
Using `.cpu()` instead of `.cuda()`:

[code]

Results in:

[code]

[2018-04-02 20:32] soumith commented on #6198
we dont support negative indices, and that's the reflection of the error.

[2018-04-02 20:32] #6198 closed

[2018-04-02 20:38] Amir-Arsalan commented on #6194
@colesbury So as I implied (sorry for not being very clear), none of the other packages matter. If I import `bpy` first and then `torch` everything seems to be fine. But importing `torch` and then `bpy` gives me seg fault.

![1](https://user-images.githubusercontent.com/6061721/38215014-5409962a-3694-11e8-9ec4-11061f1a6d07.png)

[2018-04-02 20:46] ProGamerGov commented on #6198
@soumith Is there any way to work with negative indices at the moment, like in Torch7?

[code]

[2018-04-02 20:47] zou3519 commented on #6186
It should take the Variable path.

[2018-04-02 21:14] neverfox commented on #701
Instead of ignoring, you can now do:
[code]

[2018-04-02 21:36] avmgithub opened #6206 "[ppc64le] FAIL: test_tan (test_torch.TestTorch) PyTorch"
I'm wondering if the precision for the assert just needs to be adjusted on this test.   It happens on Ubuntu 16.04 (on docker container) but not on RedHat 7.4 (baremetal)

I'm getting:
FAIL: test_tan (test_torch.TestTorch)
Traceback (most recent call last):
  File "/home/jenkins/pytorch_builder/pytorch/test/test_torch.py", line 299, in test_tan
    self._testMathByName('tan')
  File "/home/jenkins

[2018-04-02 22:25] #6186 closed

[2018-04-02 22:26] pclucas14 commented on #4925
bump!

[2018-04-02 23:38] dusty-nv commented on #6106
Hi, have you tried building using this repo?  http://github.com/dusty-nv/jetson-reinforcement

[2018-04-02 23:42] ailzhang commented on #6099
Hi @Jeffery4000 , if you have a Mellanox card, please give this a try to increase your registered memory size and let us know if that works. https://community.mellanox.com/docs/DOC-1120

[2018-04-03 00:09] vesko-st commented on #2530
Same issue here -- this is a problem for me as it terminates the whole program and I want to run other steps after finishing training.

[2018-04-03 01:04] ailzhang commented on #5826
Hi @ProGamerGov , the warning message means the two tensors associated with the operator has the same number of elements but not broadcastable. See [here](https://github.com/pytorch/pytorch/blob/ee1b7b50b39a8261f2b2ba2a95340f51de92ddbc/docs/source/notes/broadcasting.rst#L94) for more details.
Looks like you are running into some shape specific issues, if you could provide you minimal repro script

[2018-04-03 01:09] Mabinogiysk commented on #6179
Thanks!

[2018-04-03 01:31] vadimkantorov opened #6215 "[docs] BCEWithLogitsLoss minor equation typo"
http://pytorch.org/docs/master/nn.html?highlight=bcewithlogits#torch.nn.BCEWithLogitsLoss
[code]
`ℓ(x,y) = L` is misplaced? (it can't be both `L` and `mean(L)`)

[2018-04-03 01:51] vadimkantorov commented on #6215
It makes sense after a while...

[2018-04-03 01:51] #6215 closed

[2018-04-03 02:01] alexholdenmiller commented on #4628
Can you add a comment to http://pytorch.org/docs/master/notes/multiprocessing.html about `torch.set_num_threads`? I was trying to do hogwild training, and if I had an nn.Module subclass which was loaded from file, without setting `torch.set_num_threads(1)` softmax was causing a deadlock every single time (even with only two threads).
For some reason this didn't happen when the model was initialize

[2018-04-03 02:18] SsnL commented on #6197
I'm curious. Given that this is the case, how does one do integer division in numpy?

[2018-04-03 03:26] Jeffery4000 commented on #6099
Hi @ailzhang , thanks for your reply. Output of my `ulimit -l` is 64. May i know how do I run goo without ibverbs, I'm new to this.

[2018-04-03 03:28] ailzhang commented on #6099
You can rebuild with WITH_GLOO_IBVERBS=0, that will allow you to use Gloo with Ethernet link.
Also could you let us know what's the output of 'ibstat'?

[2018-04-03 04:05] Jeffery4000 commented on #6099
Will try again tonight.

Output of 'instate':

[code]

[2018-04-03 04:08] ailzhang commented on #6099
@Jeffery4000 Yea looks like you have the mlx4 driver, the link in my comment should work for you. Could you also check the parameters in the setting(path is shown in the link)? Increasing that number might help in your case.

[2018-04-03 04:08] colesbury opened #6217 "[PyTorch] indexing by a zero-dim Tensor should slice (not copy)"
PyTorch master

Currently, indexing a tensor by a zero-dim tensor creates a copy. We should make it return an alias.

[code]

[code]

Reported by lvdmaaten

[2018-04-03 04:50] goldsborough commented on #6197
With `//`

[2018-04-03 04:51] goldsborough commented on #6196
CC @gchanan -- any thoughts on type promotion?

[2018-04-03 04:52] goldsborough commented on #6194
Can you do this inside `gdb python`, then `run`, then `bt` when the segfault occurs, and please share the backtrace.

[2018-04-03 04:54] goldsborough commented on #6164
`nn.Module` represents a tree of modules. It has nothing to do with neural network layers.

[2018-04-03 05:14] Amir-Arsalan commented on #6194
@goldsborough Can you write the steps a bit more specific? I have never run Python debugger. Should I do `gdb python` first. Then import the modules and then exit python and do `run` and `bt`?

[2018-04-03 05:18] goldsborough commented on #6194
Yeah it should look like this

[code]

we need the output of that

[2018-04-03 06:11] YuesongNan commented on #6124
@SsnL Thank you for your attention and I am glad to hear that this feature will be incorporated in the future. By the way, I have some small suggestions for convolution implementation.
1. in `torch.nn.functional` there is the implementation of `conv2d`which actually a correlation. It is fine to use correlation instead of convolution in deep learning setting, but for scientific computing, it makes

[2018-04-03 06:27] Jeffery4000 commented on #6099
@ailzhang When I try to follow the steps on the link you provided, there was no file call log_num_mtt, while log_mtts_per_seg shows '3'.

recompile with WITH_GLOO_IBVERBS=0 works, will update again once the benchmark is done. But still hope it can work on IB to see whether there are any bottleneck issue on ethernet.

[2018-04-03 06:28] kose-y opened #6219 "[BUG] Incorrect behavior of sparse matrix-matrix multiplication"
This PyTorch bug was introduced by https://github.com/pytorch/pytorch/pull/4707.
Unlike claimed there, `indices` should not only be unique, but also be sorted in coalesced matrix for correct behavior of matrix multiplication. This raises a major issue when performing matrix multiplication with coalesced then transposed matrix.

The following is tested on 2e156f3, but any version after https://gith

[2018-04-03 07:12] xichangzun opened #6222 "[Bug] MaxPool3d causes GPU memory leaking"
When I try to train my model which contains MaxPool3d , It always end up with 'out of memory' error.
my environment info is here:
* 16.04
* PyTorch version: 0.4.0a0+da6c3c9
* installed PyTorch from source
* python version is 3.6.2
* CUDA/cuDNN version: 9.1/7.1.2
* GCC version (if compiling from source):GCC 5.4
* Build command you used (if compiling from source): as default

I can reproduce this bu

[2018-04-03 07:36] sjsy opened #6224 "Problem in installing latest version"
- PyTorch
- OS: Ubuntu 16.04
- PyTorch version: -
- How you installed PyTorch (conda, pip, source): conda
- Python version: 3.6
- CUDA/cuDNN version: 9.0/7 as well as 8.0/6
- GPU models and configuration: -
- GCC version (if compiling from source): -
- CMake version: -
- Build command you used (if compiling from source): -
- Versions of any other relevant libraries:

Hi,
when I try to install pyto

[2018-04-03 09:42] albanD commented on #6224
Hi,

Please use the [forum](https://discuss.pytorch.org/) for support questions.
In particular, yours has been answered [here](https://discuss.pytorch.org/t/how-to-update-pytorch-using-cuda-to-the-most-recent-version/15416).

[2018-04-03 12:27] kirk86 commented on #6164
@goldsborough Thanks Peter, but I was thinking how hard it is to rename things. Just to have a consistency across libraries. One can transfer previous knowledge acquired by using some other library directly to pytorch without overhead. That would make the transition  easier for newcomers and increase the visibility of the library.

[2018-04-03 12:34] SundusJ commented on #1633
I am running my code in jupyter notebook and getting same error.
Can you tell me how to resolve this issue?

[2018-04-03 12:59] kose-y opened #6227 "potential hazard: in-place modification of index tensor of coalesced sparse tensor"
This is pointed out on https://github.com/pytorch/pytorch/pull/6225.
- PyTorch or Caffe2: PyTorch
- PyTorch version: 2e156f3eabb6fa4ae88c2e831aea7da344cf43a3

If we modify the indices tensor for a coalesced sparse tensor in-place, the premise of coalesced sparse tensor breaks down, but it is still marked as coalesced. I can't imagine ways for a sparse tensor to detect when the index tensor is modi

[2018-04-03 13:07] kose-y commented on #4737
covered by https://github.com/pytorch/pytorch/pull/5294.

[2018-04-03 13:07] #4737 closed

[2018-04-03 13:47] E1eMenta opened #6228 "GPU/CPU model synchronization"
- PyTorch 0.3.1:
- Ubuntu 16.04.3 LTS:
- PyTorch installed via pip
- Anaconda Python 3.5.3:
- CUDA 9.0/cuDNN 7.0 version:
- gtx 1080ti:

I'm developing asynchronous multi-gpu. For this task I forward/backward gpu model, copy gradients to shared model, optimize, and copy weights back. Code diverges on gpu and converges on cpu. What the reason?

[code]

[2018-04-03 14:55] el3ctrician commented on #6106
updating to latest JetPack and recompiling from source solved the issue, thanks

[2018-04-03 14:56] #6106 closed

[2018-04-03 14:58] gchanan commented on #6217
@colesbury:
Should this block 0.4?

Also, do we have a justification for this behavior we could add to the docs?  It seems what you are suggesting here is less unexpected, because people think of 0-dimensional tensors like python numbers, but one could make the case the other way too (and we did when we first implemented this).

[2018-04-03 15:01] zou3519 commented on #6227
We don't support modifications to sparse tensors through their `_indices()` and `_values()` field very well; those methods are prefaced with an underscore to users that they shouldn't be used directly.

[2018-04-03 15:07] zou3519 commented on #6222
Thanks for the report, @xichangzun. I can reproduce this and am looking into it.

[2018-04-03 15:12] colesbury commented on #6217
Yeah, I think it should block 0.4.

It seems like that when the behavior of zero-dim arrays and NumPy scalars differ, we should prefer behaving like scalars, since people have more experience with them.

[2018-04-03 15:17] colesbury commented on #6194
Also, what version of PyTorch are you running? (`import torch; print(torch.__version__)`). How did you install it? (e.g. from source, conda, pip)

[2018-04-03 15:20] gchanan commented on #6217
The only annoying thing about that is right now it's easy in general to get the scalar behavior -- just call `.item()`.  Now I need to think about how to get the tensor behavior -- do I unsqueeze?  do I copy? do I clone?  Presumably the right thing to do is dependent on the actual operation.

[2018-04-03 15:34] subcomputes commented on #6083
Is there a preferred benchmark for performance? @soumith wrote convnet benchmark, I assume this is  the preferred benchmark for pytorch optimizations?

https://github.com/soumith/convnet-benchmarks

[2018-04-03 15:49] #5719 closed

[2018-04-03 16:03] Amir-Arsalan commented on #6194
@colesbury I have had this issue for a long time but I eventually decided to say something about it on GitHub. I started compiling PyTorch from source from 2 months ago or so. I never tired with `pip` or `conda` so I'm not sure if the same problem persists if I had installed PyTorch that way. Doing `torch.__version__` shows me `0.4.0a0+2e156f3`.

 I just did what @goldsborough asked me to do. Here

[2018-04-03 16:06] ngimel opened #6231 "Core dumped when dividing long tensor by a float"
PyTorch GitHub Issues Guidelines
--------------------------------

We like to limit our issues to bug reports and feature requests. If you have a question or would like help and support, please visit our forums: https://discuss.pytorch.org/

If you are submitting a feature request, please preface the title with [feature request].

When submitting a bug report, please include the following informat

[2018-04-03 16:30] ailzhang commented on #6099
Hi @Jeffery4000 , it's possible that the IB register memory is not setup correctly in your system.
If you would like more support on this, we need to know
- os system version
- physical RAM
- all parameters inside the /sys/module/mlx4_core/ folder.
Mlx4 allows users to customize the register memory based on their need, so it's likely that's too small in your system. Since we don't have access to y

[2018-04-03 16:33] RerRayne opened #6233 "[feature request] log2, log10 computation pytorch"
I've found that numpy computes log2 and log10 not just do log(x)/log(2.) or log(x)/log(10.). It uses [a more tricky way](https://github.com/numpy/numpy/blob/master/numpy/core/src/npymath/npy_math_internal.h.src#L318) to avoid a cancellation error.

For example, I have a vector with 800 elements. After log2 calculation on it using numpy and torch (log(x)/log(2.)) I have the norm of the difference b

[2018-04-03 16:37] ailzhang commented on #6099
Also @Jeffery4000 could you check if there's anything related to this in dmesg?

[2018-04-03 16:44] soumith commented on #6124
@YuesongNan

about (1), you are right that conv2d is correlation, but this is terminology that is (unfortunately) adopted by deep learning community. We will likely keep this terminology (for better or worse)

[2018-04-03 16:45] #6224 closed

[2018-04-03 16:49] li-roy commented on #6231
Caused by #6196. 0.001 float is being cast to 0 integral and we get divide by 0.

[2018-04-03 16:53] li-roy commented on #6196
I was thinking maybe we could do something like #5864.

[2018-04-03 16:55] ailzhang commented on #6099
@Jeffery4000 Also according to the code here, you are hitting locked memory limit. Good to set your ulimit -l to unlimited (that's also what we have in our environment) and retry. https://access.redhat.com/solutions/61334

[2018-04-03 16:55] kirk86 commented on #6032
Is this a step closer to provide serving models?

[2018-04-03 17:00] soumith commented on #6099
closed via @ailzhang 's comment https://github.com/pytorch/pytorch/issues/6099#issuecomment-378320569 as a system configuration issue

[2018-04-03 17:00] #6099 closed

[2018-04-03 17:08] vadimkantorov commented on #4819
added logsigmoid and softplus

[2018-04-03 17:09] arijitx commented on #6127
Hi, the issue is solved, this happened when the GPUs were almost fully utilized by other programs.

[2018-04-03 17:40] FrancescoSaverioZuppichini commented on #2769
Hello guys, same problem. I tried with your code, but the error is the same

[2018-04-03 18:05] kpoman commented on #6183
@peterjc123 ok it seemed to work:
`(base) C:\Users\kpoman\conda_mnist>python -c "import torch; from torch.autograd import Variable; print(torch.cuda.is_available()); print(Variable(torch.randn(3, 1, 2).float().cuda(), requires_grad=True));"
True
C:\Anaconda3\lib\site-packages\torch\cuda\__init__.py:116: UserWarning:
    Found GPU0 Quadro M1000M which is of cuda capability 5.0.
    PyTorch no longe

[2018-04-03 18:53] li-roy commented on #6197
@mdraw Oh oops. We can close this one.

[2018-04-03 18:54] #6197 closed

[2018-04-03 19:24] avmgithub commented on #6206
I'm closing this.  It may have been fixed by #6200. This is now passing

[2018-04-03 19:24] #6206 closed

[2018-04-03 19:29] ezyang commented on #2739
When you fix this, the code touched by https://github.com/pytorch/pytorch/pull/6220 will need to be updated too

[2018-04-03 19:47] #6222 closed

[2018-04-03 19:53] #5472 closed

[2018-04-03 20:50] vadimkantorov opened #6245 "Deprecate torch.nn.functional.tanh?"
@soumith: "we should now deprecate torch.nn.functional.tanh on master, as tensors and variables are now merged."

https://discuss.pytorch.org/t/torch-tanh-vs-torch-nn-functional-tanh/15897

[2018-04-03 21:24] apaszke commented on #6217
I think it's better to use the sharing version of the op as often as we can. This is what one usually expects, and is also needed for backwards compatibility.

[2018-04-03 21:25] apaszke commented on #6227
Yep, closing because that's an abuse of the internal APIs.

[2018-04-03 21:25] #6227 closed

[2018-04-03 21:28] zdevito opened #6246 "[jit][script] Develop a plan for annotating static types for script methods"
Currently the only type the script subset supports is Tensor. In the future, we want to support additional types:

* Tuples (an immutable list of static length)
* Lists (a potentially mutable list of dynamic length)
* (maybe) Records, dicts, etc.

Since script is used as a basis for optimizing pytorch code and for export, we want it to be statically typed. So far this static typing was easy since

[2018-04-03 21:29] apaszke commented on #4628
@alexholdenmiller can you please send us a repro script? This shouldn't happen

[2018-04-03 21:40] fmassa commented on #6245
Should we do the same for `torch.functional.sigmoid`?

[2018-04-03 22:00] peastman opened #6248 "[Caffe2] Incorrect capitalization of cmake configuration file"
The conda package includes a file called Caffe2Config.cmake that is supposed to tell CMake how to use Caffe2.  But when I include the command `find_package(caffe2)` in a CMake script, it gives an error on Linux:

[code]

The problem is that the file is capitalized incorrectly: Caffe2Config.cmake, but it's looking for caffe2Config.cmake.  This does work on operating systems that use a case-insensit

[2018-04-03 22:01] apaszke commented on #6246
I think conforming to the existing conventions (i.e. annotations when supported, with a fallback to the comment-based syntax) is the best. It's fairly simple to implement, would avoid confusion, and avoid forcing people to learn new ways to do the same things.

[2018-04-03 22:16] SsnL commented on #5580
I was working on this a bit, but will have to put it aside temporarily. I'll get back to this when I have time.

[2018-04-03 23:37] zdevito commented on #6246
How do we parse the comments? As far as I know, mypy and others come with their own parser.

[2018-04-04 00:41] kose-y opened #6257 "[feature request] adding a nonzero element "in-place" in sparse tensor"
First mentioned here, but turns out to be non-existent.
https://github.com/pytorch/pytorch/pull/6225#pullrequestreview-108887248

This operation would simply add a new index and a new value to a sparse tensor.

[2018-04-04 00:49] kose-y commented on #6257
This is not much different from in-place addition.  Will in-place addition be useful in sparse tensors?

[2018-04-04 00:56] Yangqing commented on #6248
Could you try using find_package(Caffe2)? We used camel case for the config files so if you do capital C it should work.

[2018-04-04 01:00] ailzhang commented on #5811
Hi @TSchmiedlechner , have you tried your script on the latese master branch?
I can repro this OOM on pytorch 0.3.1 but not on the master branch. The memory consumption is pretty stable on master branch.
Could you also give it a try and confirm? Thanks!

[2018-04-04 01:31] ArmenAg commented on #3026
I've been using pytorch since it's inception both at work and personally. I am trying to start contributing. I can pick up this task.

Should we save the optimizers state dict in the schedulers state dict @apaszke?

[2018-04-04 01:32] mingfeima opened #6258 "[feature request] use mkl_vml.h for exp, log vectorization on CPU"
@cpuhrsch #6192 disables imprecise vectorized function from avx_mathfunc.h
[vml](https://software.intel.com/en-us/mkl-developer-reference-c-vm-mathematical-functions) is a vector math library from MKL, both performance and precision is promised. As long as `mkl` and `mkl-include` is installed in conda, vml can be used in ATen.
@MlWoo was preparing the code previously, the job got interrupted since

[2018-04-04 01:54] peterjc123 commented on #494
@KangboLu Can you list the repo urls please? Which command did you use? Could you please try updating conda using `conda update conda`?

[2018-04-04 02:01] peterjc123 commented on #494
@devinbostIL Could you please try updating your MSVC compiler v141 to a newer version. As reported by the other users, they managed to build using a fresh install with the latest MSVC v141 toolset.

[2018-04-04 02:18] ambigus9 opened #6259 "[Caffe2] CRITICAL:root:Cannot load caffe2.python. Error"
PyTorch GitHub Issues Guidelines
--------------------------------

We like to limit our issues to bug reports and feature requests. If you have a question or would like help and support, please visit our forums: https://discuss.pytorch.org/

If you are submitting a feature request, please preface the title with [feature request].

When submitting a bug report, please include the following informat

[2018-04-04 03:51] DuaneNielsen commented on #1668
@BoyuanJiang I second that...

If there is 1 CUDA capable device on the system, I think it should by default use it, unless some global setting says otherwise, or the user specifically codes it.  If no CUDA, then default to CPU.

If you have a CUDA device, and want to use CPU instead, then I think it's OK to ask the developer to specify the CPU, as its kinda an edge case.  (avoiding kernel launche

[2018-04-04 03:52] Yuliang-Zou opened #6262 "[Caffe2] This file was generated by a newer version of protoc"
Failed to install Caffe2, due to the protobuf problem?
Python: 2.7, installed using miniconda with virtual environment
OS: Ubuntu 16.04, using `ppc64-le` architecture
Before CMake, I set `BUILD_CUSTOM_PROTOBUF` to `ON`.
When I type `which protoc`, it shows `libprotoc 3.2.0`

Can anyone tell me whether I can install Caffe2 on this machine without installing protobuf?

Error message:
[code]

[2018-04-04 05:03] vishwakftw commented on #6233
I can take this up. @soumith please let me know if that is fine.

[2018-04-04 05:43] Yangqing commented on #6259
This is probably some python dependency issue. Similar one reported in another repo here:

https://github.com/deepmind/lab/issues/13

you can probably strace the run and see what libpython.so library got loaded.

[2018-04-04 05:45] Yangqing commented on #6262
This is probably because you have a local protobuf installed - could you check the master version and see if things still break? Also, if you do "locate libprotobuf" what libprotobuf locations can you find on the machine?

[2018-04-04 06:55] #6109 closed

[2018-04-04 07:54] wguo1983 opened #6265 "[Caffe2] mobile_exporter init_net has code calling information"
**The init_net file generated from the mobile_exporter function has code calling information,**
There is fragment information in my generated init_net file:

■146 "GivenTensorFill*
shape0*
values-6}■?-
{╓>-$└?R┐  File "Style_torch.py", line 186, in <module>
    init_net, predict_net = mobile_exporter.Export(c2_workspace, c2_model, c2_model.external_input)
  File "/home/wguo/lib/temp1/c

[2018-04-04 08:55] apaszke commented on #6246
It looks like the strings are pretty much valid Python expressions, so I think we could just reuse the parser from `ast` and have our own translation pass. It's pretty easy, I can write this.

[2018-04-04 09:39] apaszke commented on #6258
@mingfeima that sounds like a nice addition! Please only remember that it would have to remain an optional, albeit recommended, path.

[2018-04-04 10:02] NewRegin commented on #6184
Thanks

[2018-04-04 10:57] el3ctrician commented on #882
how to add support for byte so a quantized model can be used, take Jetson for instance, if one is able to run 8-bit operation instead of 32-bit float on the Jetson, it would maximize the speed right ?

[2018-04-04 11:08] KaiyuYue opened #6267 "[Distributed PyTorch] Gloo hang at the initialization"
I change the issue, the problem before is solved. Sorry to bother. The only problem is this runtime error:
[code]
So, What is the type of tensor not supported by gloo? I check my code, the types of functions I use include `torch.scatter_add_()`, `torch.gather()`, `torch.addcmul()`,  and `fft function` from [here](https://github.com/locuslab/pytorch_fft). Is it `fft functions` not supported?

[2018-04-04 11:30] apaszke commented on #6233
Please do!

[2018-04-04 11:43] naifrec commented on #4969
Hello all,

## `segfault` issue

I seem to be facing the same issue where my data loading fails with a segmentation fault when `num_workers > 0`, otherwise the script runs fine (see traceback below). The underlying dataset is a HDF5 dataset (using `h5py`), and there are some transforms on top which mainly use `numpy`.

[code]

## Configuration

- ubuntu 14.04
- python 3.6.5 (in a virtualenv)
- tor

[2018-04-04 12:00] IgorKasianenko opened #6268 "no file build_host_protoc.bat in repo"
Hello,
I'm installing [Caffe2](https://caffe2.ai/docs/getting-started.html?platform=windows&configuration=compile) on Windows 10 via instructions.
There is no file in entire repo.

P.S. `build_windows.bat` has moved from \caffe2\scripts to pytorch\scripts.

[2018-04-04 12:27] swathirajanna commented on #5211
This is still an issue in torch version 0.3.1.post2

[2018-04-04 13:17] kirk86 commented on #6164
@apaszke Thanks for the reply. I wasn't of course implying to have a single library 😆 . I understand that there are differences but sane easy to remember naming conventions that register immediately to your long term memory are quite helpful to get to speed up with the library. But I do get it, I understand the reason. Thanks!

[2018-04-04 13:19] bkovalev opened #6269 "[caffe2] Run resnet50_trainer.py error between 2 machines using GLOO/Redis"
- Caffe2
- OS: Ubuntu 16.04
-- Python version: 2.7
- CUDA/cuDNN version: 9.1 , 7.0.5
- GPU models and configuration: P100
- GCC version (if compiling from source):5.4.0
- Mellanox OFEDversion: 4.2.1
- Build command you used (if compiling from source):

  Eigen with CUDA9: fatal error：math_functions.hpp：No such file or directory.

Was fixed in eigen at https://bitbucket.org/eigen/eigen/commits/034b

[2018-04-04 14:36] zou3519 opened #6271 "[feature request] rot90 like numpy.rot90"
Requested here: https://discuss.pytorch.org/t/how-to-convert-an-image-with-dimensionality-hxwxc-to-cxhxw/15690/3

[2018-04-04 14:38] zou3519 commented on #5211
Yes, it will be fixed in the 0.4 release.

[2018-04-04 14:53] kpoman commented on #6183
@peterjc123 sorry, my post was not very specific. See here:

# this code is executed
import torch
from torchvision import datasets, transforms

use_cuda = True
batch_size = 64

kwargs = {'num_workers': 1, 'pin_memory': True} if use_cuda else {}
train_loader = torch.utils.data.DataLoader(
    datasets.MNIST('../data', train=True, download=True,
                   transform=transforms.Compose([

[2018-04-04 15:26] kpoman commented on #6183
Oh @peterjc123 I understood. I put a if name main and it worked. Weird. The example works on linux without it. Wtf ...

[2018-04-04 15:27] apaszke commented on #6271
Isn’t this just permute?

[2018-04-04 15:30] ateymour opened #6273 "Multithreading Scaling Issue with MKL"
Trying to optimize my intel CPU and reach the performance mentioned [here](https://software.intel.com/en-us/blogs/2017/04/18/intel-and-facebook-collaborate-to-boost-caffe2-performance-on-intel-cpu-s) through muli-threading:

I build the binaries using MKL blas with OpenMP enabled. I'm running [convnet_benchmark.py](https://github.com/pytorch/pytorch/blob/master/caffe2/python/convnet_benchmarks.py)

[2018-04-04 15:41] cpuhrsch commented on #6258
Hello @mingfeima, I hope @MlWoo is doing well and will feel good again soon!

This looks great! I didn't know MKL also included this, given that there's also [SVML](https://software.intel.com/en-us/node/524289).

[2018-04-04 15:56] colesbury commented on #6258
I would prefer integrating an open-source library rather than additional proprietary libraries as long as performance is similar. https://github.com/shibatch/sleef in particular looks promising. (I believe it's under review for inclusion into LLVM)

VML, if I remember correctly, used to always execute the slow path on AMD CPUs [1](http://www.agner.org/optimize/blog/read.php?i=49). @mingfeima is th

[2018-04-04 16:21] cpuhrsch commented on #6273
Hey @ateymour, could you also try using [taskset](https://linux.die.net/man/1/taskset) (without setting OPM_NUM_THREADS or MKL_NUM_THREADS) if available and see if this helps?

Thanks,
Christian

[2018-04-04 16:49] #5811 closed

[2018-04-04 17:14] ateymour commented on #6273
@cpuhrsch, can you please elaborate what I should do with taskset? do you want me to bind the process to a particular core?

As for numbers, here is a sample:

Here is a sample 1 thread run
[code]
and a 16 thread run
[code]

[2018-04-04 17:29] cpuhrsch commented on #6273
Taskset is independent of any internal pytorch mechanisms for setting the number of threads and can help debug that particular component. And you can also account for NUMA (if this is appropiate).

[2018-04-04 17:36] #6184 closed

[2018-04-04 17:39] ateymour commented on #6273
Forgive me if I'm missing on the point, I'm new to all this.
But I'm wondering what are you suggesting I do with taskset?
As I understand it taskset is used for binding or checking affinity of a process on CPU.
I don't quite see how it can help me here.

[2018-04-04 17:44] #5587 closed

[2018-04-04 17:46] zou3519 commented on #6271
The thread discussion is mostly about permute, but a user requested that we have https://docs.scipy.org/doc/numpy/reference/generated/numpy.rot90.html as well, which I think is not a permute.

[2018-04-04 17:49] cpuhrsch commented on #6273
Ah sorry @ateymour, let me be more explicit. You could use the following command to set python to only use a single (the first in this case) cpu.

[code]

You can prefix it with 'perf stat' to see how many cores were actually used during the execution of the program. See this [example](https://paste.fedoraproject.org/paste/C~pdayMtCvZ6D9M~6ggvKw).

So in your case, you could run

[code]

On anothe

[2018-04-04 18:09] zdevito commented on #6246
Can you explain in more detail what approach you have in mind? Are you going to parse the entire function on its own, and then make our parser aware of the comments?

[2018-04-04 18:26] ateymour commented on #6273
I guess it's worth mentioning that Im getting a cudnn error even though Im running with --cpu mode. Is that normal (see results below)?

As for taskset I gave it a go. If its ' cpu-migrations' youre looking at when running perft stat in seems like affinity is working correctly.

Lastly to answer your question, yes my CPU has 16 physical cores.

[code]

[code]

[2018-04-04 18:38] cpuhrsch commented on #6273
So it looks like that using taskset you get the same performance for the single core and multicore case.

[2018-04-04 18:49] ezyang commented on #6246
I vote for Python 3 only for the hybrid frontend, and then use existing syntax for types.

Do we have any customers who fiat Python 2?

[2018-04-04 18:56] ateymour commented on #6273
Yes I am.
though it looks like it's still using roughly 1 core at all times in both cases, even though in the latter case its switching freely between the cores the cores. So that would make sense then that the performance is the same.

[2018-04-04 19:13] SsnL opened #6276 "functional forms of DataParallel are not documented"

[2018-04-04 19:24] soumith commented on #6246
I think python3-only for something as fundamental as the hybrid frontend is a non-starter. that's 25% of our users, who due to various constraints (not everything in their control) are using py2.

[2018-04-04 19:27] zdevito commented on #6246
Yeah, we have to support Python 2. We also should even be hesitant to make the hybrid frontend look different across 2 and 3. Then people would need to learn 2 APIs. Not sure how I feel about `# type:` comments. It seems like a good solution for optional  type checking, but not a great solution for required meta-data needed by the frontend.

[2018-04-04 19:37] apaszke commented on #6246
@zdevito I'm not sure where the difficulty is. You just search for the `->` token, and you know that there is an expr before it, and an expr after it. We stich those parts to create e.g. a function that has those two statements in the body, use `ast` to as our parser, and then traverse the two exprs and translate them into our types.

Basically we hackily reuse the `ast` module as a parser, and th

[2018-04-04 19:38] apaszke commented on #6246
Oh, and I just mean that we only look in the first line following the `def`, and if it has the type annotation then we parse the comment, and only then use `ast` on parts of it.

[2018-04-04 19:53] #5616 closed

[2018-04-04 20:02] MarvinTeichmann commented on #1280
@apaszke Could you just reopen this? I am currently lacking the time to write a detailed issue report.

This post is where people currently landing when they google the error. And the details provided by OP post are enough to reproduce the bug.

[2018-04-04 20:18] pyhh opened #6278 "Segmentation fault on loss.grad_fn()"
In the following code I get a segmentation fault when I evaluate `loss.grad_fn()`. Any ideas?

System:
- PyTorch or Caffe2: Pytorch
- OS: Ubuntu 16.04 LTS
- PyTorch version: 0.3.1.post2
- How you installed PyTorch (conda, pip, source): conda
- Python version: 3.6.4
- CUDA/cuDNN version: 9.0
- GPU models and configuration: Geforce GTX 970
- GCC version (if compiling from source): 5.4.0

Script:
[co

[2018-04-04 21:13] ruotianluo commented on #5448
Any thoughts, or is there any simple alternatives?

[2018-04-04 21:17] soumith commented on #5448
@gchanan is planning to introduce device types, similar to how he introduced `dtype` on pytorch master. that work will go into 0.4, so a PR should be up soon-ish.

[2018-04-04 21:32] zasdfgbnm commented on #5831
Seems to be related to:
https://github.com/caffe2/caffe2/issues/1898
https://devtalk.nvidia.com/default/topic/1028112/cuda-setup-and-installation/nvcc-bug-related-to-gcc-6-lt-tuple-gt-header-/

[2018-04-04 21:38] ebetica commented on #4619
@goldsborough @Kaixhin We have a few more issues:

- [ ] AutoGPU is compiled with WITH_CUDA. Instead, it should be in an auto_gpu.cpp file so we do not have to set this macro while compiling it...
- [ ] @ezyang says when you're on device 1 and try to do operations that's valid with device 0 tensors, it will fail. I think the expected behavior is to do the operation and put the result tensor on dev

[2018-04-04 21:48] goldsborough commented on #4619
You mean https://github.com/pytorch/pytorch/blob/master/torch/csrc/utils/auto_gpu.h? It looks like it should compile without CUDA -- is that not the case?

I've noticed there's no `toDevice`. @ezyang @colesbury is there a reason why `toDevice` does not exist?

[2018-04-04 21:49] gchanan commented on #4619
I'm adding better device handling in python currently; we may want to push that stuff to down to ATen if we think it makes sense.

[2018-04-04 21:50] gchanan commented on #4619
I also don't know what this means:

can you give a specific example?

[2018-04-04 21:52] teng-li commented on #6267
@KaiyuYue  was this hang for nccl backend or gloo backend, your repo script uses gloo.

[2018-04-04 21:54] ebetica commented on #4619
@gchanan I think what Ed meant is something like

[code]

I'm not sure what the best solution is here.

@goldsborough

If a third party lib includes auto_gpu.h without doing a `#define WITH_CUDA`, then they try to use it, the things in auto_gpu.h wrapped with `WITH_CUDA` will not compile and it won't work. The solution I can see is to split it out into a .cpp so CUDA is baked into the pytorch .so.

[2018-04-04 21:56] gchanan commented on #4619
Oh, the issue with the code above is that ATen doesn't have AutoGPU; the above works in PyTorch because we AutoGPU(x) before we call into ATen.

[2018-04-04 22:00] goldsborough commented on #4619
I see, yes we can move the CUDA parts into a cpp file.

[2018-04-04 22:01] goldsborough commented on #4619
Btw, I'm not sure it's benefical to dump all issues related to PyTorch C++ into this "master issue". It'd be better to create a `cpp` label and file separate issues. Otherwise our discussions get mixed up, like right now

[2018-04-04 22:35] ibulu commented on #494
@traveller59
-removed MSVC, Cuda9
-Installed MSVC community 2017 with 14.11 toolset. Installed Cuda 9 with visual studio integration
-changed the line to: call "%VS150COMNTOOLS%\vcvarsall.bat" x64 -vcvars_ver=14.11 as you suggested

Works like a charm! thanks

[2018-04-04 22:47] ebetica commented on #4619
@gchanan We import Pytorch's autogpu. The equivalent is there if you use cudaSetDevice. The functionality of doing an op for tensors on a different GPU than you are on seems unspecified, and will current error out according to @ezyang, whereas if I'm writing a model, I'd rather probably it be one of the latter two options.

[2018-04-04 22:48] ebetica opened #6285 "AutoGPU header relies on WITH_CUDA"
AutoGPU is compiled with WITH_CUDA. Instead, it should be in an auto_gpu.cpp file so we do not have to set this macro while compiling it...

If a third party lib includes auto_gpu.h without doing a `#define WITH_CUDA`, then they try to use it, the things in auto_gpu.h wrapped with `WITH_CUDA` will not compile and it won't work. The solution I can see is to split it out into a .cpp so CUDA is baked

[2018-04-04 22:50] ebetica opened #6286 "Doing an operation on tensors of a different device"
In ATen, doing operation on tensors of a different device seems unspecified.

[code]

Currently, according to @ezyang there's an error. However, writing models, I think it's preferred it be one of the latter options, since my model will work but maybe just a bit slower. I think @gchanan just suggested that keeping z on GPU 0 is the way PyTorch goes, and maybe ATen should also do this

[2018-04-04 22:58] ebetica opened #6287 "No .toDevice for ATen Tensors"
As title says, might be nice to be able to put ATen Tensors on other GPUs easily in C++.

[2018-04-04 23:04] ebetica opened #6288 "THC_createRandomSeed is not thread-safe"
When we call an ATen `type.randn({n});` function from multiple threads simultaneously, there's a chance it errors with
[code]
This problem disappears if you try generate a random number on each device before you launch any threads.

I suspect it's because [this](https://github.com/torch/cutorch/blob/e2051b652d5b1f5182a1bfce11da9f53c2f92bd8/lib/THC/THCTensorRandom.cpp#L79) function is not protected

[2018-04-05 00:10] pjh5 commented on #6269
@pietern this looks like a question on how to use Redis correctly

[2018-04-05 00:13] zou3519 commented on #5342
comment

[2018-04-05 00:15] pjh5 commented on #6268
The script it's looking for is https://github.com/pytorch/pytorch/blob/master/scripts/build_host_protoc.sh . The "caffe2" in "\caffe2\scripts" is referring to the top level name of the entire github repo, which is now pytorch. I will update the instructions to be a little clearer.

[2018-04-05 00:15] ngimel opened #6292 "Handling of overflows for half tensors"
- PyTorch or Caffe2: Pytorch
- OS: Ubuntu 16.04
- PyTorch version: master
- How you installed PyTorch (conda, pip, source): source
- Python version: 3.6
- CUDA/cuDNN version: n/a
- GPU models and configuration: n/a
- GCC version (if compiling from source): 5.4
- CMake version:
- Build command you used (if compiling from source): python setup.py build develop
- Versions of any other relevant librar

[2018-04-05 00:16] #6268 closed

[2018-04-05 00:17] zou3519 commented on #5342
comment

[2018-04-05 00:18] zou3519 commented on #5342
comment

[2018-04-05 00:25] pjh5 commented on #6265
Can you post all of the information that was in the template when you make a new issue? We need that info to understand what the problem is.

[2018-04-05 00:27] pjh5 commented on #6262
I don't think this happens on the latest code when you use ./scripts/build_anaconda.sh . Can you update and confirm if you still get this or not?

[2018-04-05 00:38] Yuliang-Zou commented on #6262
@pjh5 I indeed check out the master branch of Caffe2, are there any updates after Caffe2 merged into PyTorch that would cause the difference?
And since the architecture is ppc64le, I cannot use Anaconda pre-built to install it.
Also, how should I use `./scripts/build_anaconda.sh`?

[2018-04-05 00:39] zou3519 commented on #5342
comment

[2018-04-05 00:58] jendrikjoe opened #6294 "[feature request] AttentionCellWrapper"
Dear PyTorch Community,

I am currently implementing RNNs with an attention mechanism out of interest.
Since I wanted to implement it in pyTorch I came up with the following class to wrap RNNCells:

    class AttentionCellWrapper(Module):
        r"""Create a cell with attention to past data samples.
        Args:

            cell: an RNNCell, an attention is added to it.
            attnWindowSi

[2018-04-05 01:56] ezyang commented on #6285
Another classic way to solve this problem is to have a autogenerated header file which sets the parameters properly.

[2018-04-05 02:01] ezyang commented on #6286
TBC, I hope it's an error, but I am not sure it is. The code will say.

[2018-04-05 02:02] SsnL opened #6299 "[feature request] make pad_packed_sequence work in DataParallel"
Currently users can not do `pack -> RNN -> unpack` in a module wrapped in `DataParallel` because the unpack operation (`pad_packed_sequence`) will only pad up to the longest input it sees, i.e., the longest on that particular device. Then the code breaks when it tries to gather the results into a single tensor afterwards. I propose to add a `total_length` option to `pad_packed_sequence` so that it

[2018-04-05 02:03] ezyang commented on #6288
Someone else tried to report this to us at #4777 but it seems likely we accidentally closed this as a dupe of CPU RNG not being thread safe.

CPU RNG used to not be thread safe but https://github.com/pytorch/pytorch/pull/4041 made it thread safe.

[2018-04-05 02:03] SsnL commented on #6299
@apaszke do you think that this is reasonable? :)

[2018-04-05 02:59] epiception opened #6300 "ONNX problem with BatchNormalization in FlowNet (pytorch variant)"
Hi,
I faced this problem when exporting the pytorch model for FlowNetS with BatchNorm, mainly when checking the IR

The pytorch model is,  https://github.com/ClementPinard/FlowNetPytorch

PyTorch version: 0.4.0a0+2e156f3 (No GPU, CPU only)
The repo steps I followed,

1. Cloned the model: https://github.com/ClementPinard/FlowNetPytorch
git clone https://github.com/ClementPinard/FlowNetPytorch.git

[2018-04-05 03:01] KaiyuYue commented on #6267
Hi, @teng-li , the choice of backend is according to the [doc](http://pytorch.org/docs/master/distributed.html#torch.distributed.init_process_group), which has three backends, `mpi`, `tcp` and `gloo`. I try to change the backend into `nccl`, it will give the error: `RuntimeError: _Map_base::at`.

[2018-04-05 03:07] #6168 closed

[2018-04-05 03:44] KaiyuYue commented on #241
We'll provide a pytorch_exec utility that will spawn the process groups in a similar fashion that mpiexec does.

Hi, @apaszke. Sorry to bother. Where to find the `pytorch_exec utility` and execute it to launch the distributed jobs?

[2018-04-05 06:31] KaiyuYue commented on #6267
Hi, @apaszke @teng-li @ailzhang :

I use `gloo` as the backend. It gives an error:
[code]

[2018-04-05 07:34] kose-y opened #6305 "[feature request] normest : matrix 2-norm estimation"
I think it would be great to have a method to estimate a [matrix norm](https://en.wikipedia.org/wiki/Matrix_norm
).
This method is useful for iterative optimization algorithms, as region of parameters for theoretically guaranteed convergence is often defined in terms of 2-norm of the data matrix.

The following are relevant implementations.

numpy.linalg.norm:
https://docs.scipy.org/doc/numpy/refe

[2018-04-05 09:50] anoidgit opened #6306 "CUDNN_STATUS_EXECUTION_FAILED in RNN forward function"
I installed pytorch with `python setup.py install`. I use ubuntu 16.04 and python 2.7.12. Pytorch is built with cuda 9.1.85, libcudnn7 7.1.2.21, gcc 5.4.0 and cmake 3.10.0.
But the following error will occur while I want to run a model with RNN on my GTX 1080:
[code]
Hope there are some advices to help me fix this.

[2018-04-05 09:55] #6306 closed

[2018-04-05 09:56] anoidgit commented on #6306
I forget to put the variable on GPU with `.cuda()`, so this happens. Sorry about that.

[2018-04-05 10:05] y0ast commented on #6305
Is there anything missing in the current `torch.norm()` ?

http://pytorch.org/docs/0.3.1/torch.html#torch.norm

[2018-04-05 10:34] kose-y commented on #6305
@y0ast
`torch.norm()` simply computes rowwise vector norm. What I mean here is the matrix norm. See https://docs.scipy.org/doc/numpy/reference/generated/numpy.linalg.norm.html for some examples. Some are straightforward to implement, but l2-norm, which is fairly important in my field (statistics) requires efficient computation of largest (or smallest) singular value.

[2018-04-05 10:50] pltrdy commented on #5826
Is there a way to get errors (+ trace) for such warnings?

It may not be trivial to find which operation does this, and the warning does not provide the trace.

[2018-04-05 11:13] kose-y commented on #6305
Power iteration will be much more useful for sparse matrices, as SVD is not feasible for sparse matrices.

[2018-04-05 11:29] wolfchenCCC opened #6309 "How to using the ios-cmake to build a iOS project?"
When I compile the scripts/build_ios.sh ,there is error which is "CMake Error: CMake was unable to find a build program corresponding to "Unix Makefiles".  CMAKE_MAKE_PROGRAM is not set.  You probably need to select a different build tool."

[2018-04-05 11:47] Lan1991Xu opened #6310 ""RuntimeError: CUDNN_STATUS_INTERNAL_ERROR""
Hi
I write the code based on pytorch for a few month, it always work. But currently, I meet a problem "RuntimeError: CUDNN_STATUS_INTERNAL_ERROR". I check the code, and even using other code published in the github. It also meets the same problem.
I search google someone suggest https://github.com/torch/cutorch/issues/677, but it did not work for my case.
My environment is: python2.7, pytroch 0.3.

[2018-04-05 11:55] Lan1991Xu commented on #3941
Hi, Can I know how update the cudnn? just download from the offical website. It seems pytorch already help you download the cudnn.

[2018-04-05 12:42] moulei007 opened #6311 "[Caffe2]How could I use caffe2"
- Caffe2:
- OS: Ubuntu16.04
- PyTorch version:
- How you installed PyTorch (conda):
- Python version:3.5
- CUDA/cuDNN version:8.0/6.0
- GPU models and configuration:
- GCC version (if compiling from source):5.4
- CMake version:
- Build command you used (if compiling from source):
- Versions of any other relevant libraries:
How could I use caffe2 in pytorch ,what's the API to use caffe2???Because I

[2018-04-05 13:24] soumith commented on #6309
please use the issue template that we provided.

[2018-04-05 13:24] #6309 closed

[2018-04-05 14:01] zou3519 opened #6312 "[utils.bottleneck] Handle user script arguments better"
Right now,
`python -m torch.utils.bottleneck script.py arg1 arg2 arg2`
fails with a cryptic errors to the user as their user script doesn't receive the args correctly. The recommended usage right now is `python -m torch.utils.bottleneck -- script.py arg1 arg2 arg2`.

One of the following should be expected:
- bottleneck prints out a nice error message politely telling the user they've omitted the

[2018-04-05 14:08] zou3519 commented on #6278
Why are you using `loss.grad_fn()`?

[2018-04-05 14:24] fmassa opened #6313 "[utils.bottleneck] Bottleneck crashes with multi-threaded data loader"
`torch.utils.bottleneck` doesn't work properly when the code contains a data loader that uses more than 0 threads.

Minimum reproducible example (`mwe.py`):
[code]

Running the script via:
[code]
works fine, while
[code]
crashes with the following stack trace:
[code]

assigning this to @zou3519 , even thought I'm not sure if it's a problem in the profiler or in the `bottleneck` tool.

pytorch vers

[2018-04-05 14:33] zou3519 commented on #6313
Yikes, thanks for the catch. I'll look into it

[2018-04-05 14:37] pyhh commented on #6278
I'm just being stupid by thinking it was callable, issue closed.

[2018-04-05 14:37] #6278 closed

[2018-04-05 15:07] SsnL commented on #6310
Check your cuda and cudnn install.

[2018-04-05 15:10] Lan1991Xu commented on #6310
Thanks, I have solved.  The cuda and cudnn seems automatical install by Pytorch install

[2018-04-05 15:10] #6310 closed

[2018-04-05 15:14] arogozhnikov commented on #6300
Just tested, given example fails even with simle BatchNorm2d. Below is the minimal example for reproduction:
[code]

[2018-04-05 15:29] ezyang opened #6315 "Buffer may be uninitialized in AVX code: Set -Wno-maybe-uninitialized in build"
[code]

CC @colesbury

[2018-04-05 15:47] pietern commented on #6269
It looks like you're using the distributed functionality properly. The first machine throws an error "Prefetching error std::bad_alloc" and terminates, which makes the second machine time out on trying to communicate with the first machine. I think the real problem here lies in prefetch_op.h, not ibverbs.

Can this error be reproduced consistently? If so, can you look at memory usage of both proce

[2018-04-05 15:51] sameerkhurana10 opened #6316 "Batchnorm2d : ValueError: expected 2D or 3D input (got 4D input)"
[code]

My code is as above.

I get the error when executing the instruction `x = self.lrelu(self.bn4(x))` in forward.

The error is:

`ValueError: expected 2D or 3D input (got 4D input)`

Tensor shapes till the point of the error:

[code]
pytorch version `0.4.0a0+1807bac`

Pytorch built from source with the head at commit `1807bac`

[2018-04-05 15:58] Yuliang-Zou commented on #6262
@Yangqing Already the master branch of Caffe2.
When I do cmake and make install, I enter the virtual environment by `source activate $ENV`, then I am using the protoc in this environment. Before I enter the virtual environment, I check that the default protoc is `/usr/bin/protoc`, the version is 2.6.1.
Is it because the script finds the default protoc in the system instead of the one in my virtual

[2018-04-05 16:04] ngimel commented on #6316
You have a typo in your code redefining bn4 as BatchNorm1d (after self.fc)

[2018-04-05 16:08] arogozhnikov commented on #6040
Get two zeros too.
Ubuntu 16.04
PyTorch: master
Python 3.6
Numpy: 1.13.3

@denkorzh  Could you please show your blas linkage in numpy:
[code]

It also worth checking that it is not changed after importing torch.

[2018-04-05 16:08] colesbury commented on #6315
Don't use `-Wmaybe-uninitialized`. It's really buggy.

[2018-04-05 16:14] #6316 closed

[2018-04-05 16:15] leftthomas opened #6318 "Bug of ByteTensor"
Here is an example which I want to do:
[code]
But this code will encounter an issue, which raise
`RuntimeError: bool value of non-empty torch.ByteTensor objects is ambiguous`
So how can I judge if a Tensor in a list?

[2018-04-05 16:26] SsnL commented on #6318
Adding more context, I am able to reproduce this on master. `a in c` works but `b in c` throws the above error.

[2018-04-05 16:27] pjh5 commented on #6262
@Yuliang-Zou did you delete your Caffe2 repo and clone the pytorch repo? A simple git pull is not enough to get the latest code after the merge.

These are the instructions to build from source with Anaconda https://caffe2.ai/docs/getting-started.html?platform=mac&configuration=compile#anaconda-install-path . This install path shouldn't need sudo access, but that wouldn't cause the problem you're

[2018-04-05 16:30] leftthomas commented on #6318
@SsnL ，this is what I am saying, the `b in c` will raise a error

[2018-04-05 16:47] wineoffree opened #6319 "Segmentation fault (core dumped) after iterated for thousands of time"
that BUG happen after I had trained for more than 5000 iterators
at first it's all right.
it reports Segmentation fault (core dumped)
and this is the stack trace:
Thread 258769 "python" received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7fff40fff700 (LWP 27775)]
0x00007fffdf84f447 in THRandom_random ()
   from /home/ygh/.conda/envs/pytorch/lib/python2.7/site-packages/torch/lib/lib

[2018-04-05 17:18] teng-li commented on #6267
@KaiyuYue yeah, 0.3.x doesn't have nccl backend support yet.

That error you were seeing mean that that your tensor is not a supported type for gloo broadcast operation in distributed training.

The only supported data types are Float and Double.

[2018-04-05 17:32] nikoliazekter opened #6321 "setup.py ignores TORCH_CUDA_ARCH_LIST"
I added `export TORCH_CUDA_ARCH_LIST="5.0"` to .profile and rebooted Ubuntu.

`printenv` shows `TORCH_CUDA_ARCH_LIST=5.0` in the list.

But `sudo python3 setup.py install` still builds without 5.0 support.

I used the latest sources from github.

[2018-04-05 17:51] fmassa commented on #6318
So, the reason why it works in one case but not the other is the following.
According to the python doc, [`x in y` can be translated to](https://docs.python.org/3/reference/expressions.html#membership-test-details)
[code]
in the first case, `a is c[0]` is True, but in the second case it's not, so it compares `b == a[0]`, which returns a 3d tensor which can't be cast to a single bool.

You have a f

[2018-04-05 17:51] #6318 closed

[2018-04-05 17:54] zou3519 commented on #6321
Could you please post a full build log?

[2018-04-05 18:33] gasse commented on #4247
I am facing a problem where `zero=` argument for sparse matrices would be very useful (though I would rather name it `empty=`). I want to perform a softmax on the rows of a sparse matrix, where empty cells shall correspond to 0 probability (hence -Infinity values before softmax). This is useful when implementing graph attention networks (https://arxiv.org/abs/1710.10903) on large graphs, where adj

[2018-04-05 18:47] apaszke commented on #6315
It is. I looked into those warnings and it's not possible to use an uninitialized value in that code.

[2018-04-05 18:55] #6233 closed

[2018-04-05 18:57] #6315 closed

[2018-04-05 18:59] soumith commented on #6321
closed via @sdmonov 's comments

[2018-04-05 18:59] #6321 closed

[2018-04-05 19:28] bkovalev commented on #6269
When I execute multi GPU per host by

python /root/caffe2/caffe2/python/examples/resnet50_trainer.py --train_data /data/ilsvrc12_train_lmdb/ --test_data /data/ilsvrc12_val_lmdb --batch_size 32 --run_id 1 --epoch_size 10000 --num_epochs 2 --image_size 256 --num_gpus 4 --redis_host 10.143.119.44 --redis_port 5555 --num_shards 2 --shard_id 0 --dtype float16 --float16_compute --distributed_transport i

[2018-04-05 19:46] apaszke commented on #1280
I can't run the script posted in the original issue, because it's not self contained. The issue is likely that your model is not on the first device, as it should be, and that's what the error says.

[2018-04-05 19:52] bkovalev commented on #6269
@pietern I can schedule with you Skype meeting and share my environment.

[2018-04-05 20:59] ezyang opened #6325 "C10 Tracking Issue"
Coding:
- [ ] Modularize ATen cmakes, so we can start pulling small parts (e.g., the CUDA allocator) into Caffe2 without grabbing all of ATen. https://github.com/pytorch/pytorch/pull/6188 @ezyang
- [ ] Create a shared header-only library for PyTorch and Caffe2, to put things like ArrayRef, optional (and SmallVector, when it exists)

Prototyping:
- [x] Benchmark core overheads of vtable/hashtable/m

[2018-04-05 21:05] nikoliazekter commented on #6321
@sdmonov so I tried that but I still get the warning. Looking at the `torch.cuda` sources it seems like the warning is hardcoded and does not actually care about specified capability:

[2018-04-05 21:27] soumith commented on #6321
@nikoliazekter you will still get the warning, but I think your code will work fine if you compiled for 5.0 from source. The warning indeed is hard-coded for architectures that we support officially.

[2018-04-05 22:07] #5424 closed

[2018-04-05 23:16] rien333 opened #6328 "[feature request] Include libomp support (macOS)"
The standard way to link OpenMP while using Apple Clang on macOS seems to be by using [libomp](https://openmp.llvm.org/), which is a bottle available in [brew](https://github.com/Homebrew/homebrew-core/blob/master/Formula/libomp.rb). Apple doesn't seem to include libomp in their version of the compiler, but this bottle fixes that. It seems as though CMake does not pick up  libomp however, even whe

[2018-04-06 00:07] #6011 closed

[2018-04-06 00:33] teng-li commented on #241
@KaiyuYue  also look at https://github.com/pytorch/examples/pull/306 for reference on how to use `torch.distributed.launch`

[2018-04-06 01:06] StuvX commented on #6300
onnx.checker.check_model is throwing the same error for resnet

[2018-04-06 01:43] jeff-regier commented on #1204
I get this error running on ec2 also. The code runs fine on my own machine, also with PyTorch 0.3.1.

[2018-04-06 02:52] KaiyuYue commented on #6267
@teng-li
Really thanks. The functions, like `torch.scatter_add_()`, `torch.gather()`, need the `LongTensor` as their indexes, so I init these long tensors first in the `class __init__`.

I init them as Float Tensor first, when passing them into functions as the indexes, I convert them type as LongTensor. It should work well. I will close this issue.

[2018-04-06 03:49] subcomputes opened #6333 "test_nn fail with source build PyTorch 0.4 Google Cloud K80"
[test_nn.py](https://github.com/pytorch/pytorch/blob/master/test/test_nn.py) fails when running on google cloud standard compute image with K80 GPU
- OS: Ubuntu 16.04 LTS
- PyTorch version: 0.4.0a0+afdaf52
- How you installed PyTorch (conda, pip, source): source
- Python version: 3.6.4
- CUDA/cuDNN version: 9.1
- GPU models and configuration: K80 on google cloud
- GCC version (if compiling from so

[2018-04-06 04:28] yubeic commented on #1637
@dmitry-xnor
I'm planning about a new quad GPU build around a 1950x platform. Does your threadripper server have any significant issues with PyTorch? Thanks a lot!

[2018-04-06 04:56] moulei007 opened #6336 "[caffe2] Error"
- WARNING:root:This caffe2 python run does not have GPU support. Will run in CPU only mode.
- WARNING:root:Debug message: libnccl.so.2: cannot open shared object file: No such file or directory

[2018-04-06 05:11] SsnL commented on #6333
The commit you pull shouldn't have some of these tests. It is most likely that you didn't get the correct version. Please check your files as this is not a PyTorch bug.

[2018-04-06 05:13] SsnL commented on #6336
What is wrong about the warnings?

[2018-04-06 05:40] SsnL opened #6338 "[PyTorch] random_ on floating type with negative values is broken on both CPU and GPU"
Reproduced on master and also broken on 0.3.1.

[code]

Reported in #6136

[2018-04-06 05:43] SsnL opened #6339 "[PyTorch] Error when printing tensors containing large values"
On master:
[code]

This is a regression as printing this tensor works in 0.3.1. Assigning to @li-roy as you are taking care of the printing issue. Reported in #6136

[2018-04-06 06:02] dmitry-xnor commented on #1637
@yubeic no issues at all once you disable IOMMU. But there was much trial and error before we got to a working config that doesn't die and doesn't thermal throttle.

1. **Power**: Be aware that, as it turns out, power supply manufacturers routinely overstate the current capabilities of their power supplies (we've had bad luck with Rosewill in particular), and NVIDIA understates the peak power draw

[2018-04-06 07:44] #6127 closed

[2018-04-06 09:37] arijitx commented on #6127
Hi, I think even if the GPU is full and CUDA init fails it should through some one line error like 'out of memory' case, but not crash :

[2018-04-06 09:56] kirk86 opened #6347 "multi-gpu error sgd backward pass learning rate reduced by half"
PyTorch GitHub Issues Guidelines
--------------------------------
- PyTorch
- OS: ubuntu 16.04
- PyTorch version: 0.4
- How you installed PyTorch (source):
- Python version: 3.6
- CUDA/cuDNN version: cuda8/cudnn6
- GPU models and configuration: 1080Ti
- GCC version (if compiling from source): gcc-7
- CMake version: 3.5.1
- Build command you used (if compiling from source):
[code]

In addition, inc

[2018-04-06 12:29] lianzhibin commented on #5572
AttributeError: module 'torch' has no attribute 'no_grad'

[2018-04-06 12:58] etveritas opened #6349 "[Windows] where could I set MKL and MKLDNN"
PyTorch GitHub Issues Guidelines
--------------------------------

We like to limit our issues to bug reports and feature requests. If you have a question or would like help and support, please visit our forums: https://discuss.pytorch.org/

If you are submitting a feature request, please preface the title with [feature request].

When submitting a bug report, please include the following informat

[2018-04-06 12:59] etveritas commented on #6349
I have MKL and MKL_dnn on my laptop, but when I build pytorch, it shows can not find this...

[2018-04-06 13:13] fmassa commented on #5572
@lianzhibin `no_grad` was recently added, and you need to compile from source to have it.

[2018-04-06 13:59] soumith commented on #6349
we do not have official support for Windows yet. If you are installing on windows from source, ask in this thread. https://github.com/pytorch/pytorch/issues/494

Also, please dont use "HELP ME", it is not helpful for us.

[2018-04-06 13:59] #6349 closed

[2018-04-06 14:16] soumith commented on #6336
these are warnings, not errors. so you can probably ignore them.

[2018-04-06 14:16] #6336 closed

[2018-04-06 14:51] gasse commented on #4247
By the way, a workaround to do summation over a specific dimensions of a sparse vector is as follows:

[code]

[2018-04-06 15:07] stefan-schroedl opened #6350 "worker assignments in torch.utils.dataloader.py"
In https://github.com/pytorch/pytorch/blob/60a16e5663f35f2df17ae1d5b060d0e1accdbefd/torch/utils/data/dataloader.py#L297, all items from the dataset for a given minibatch are assigned to the same worker process. This means that the first minibatch always takes the full sequential processing time, and it can similarly lead to wait times later if the consumer ever races ahead to consume all prefeched

[2018-04-06 15:11] etveritas commented on #6349
@soumith I'm so sorry for my behavior just now, but I really hope your team can make support on windows, and is there a certain day?

[2018-04-06 15:14] soumith commented on #6328
this is a good guide. However, I think the latest clang/llvm actually now supports OpenMP officially.

[2018-04-06 15:18] soumith opened #6351 "[pytorch] cudnn benchmark=True overrides deterministic=True"
currently if in user code, this exists:

[code]

Then, deterministic is silently ignored. Either a Warning or Error should be generated in this case.
reported by @lvdmaaten

[2018-04-06 15:19] rien333 commented on #6328
Yes, but the official build documentation uses Apple clang, which doesn't bundle OpenMP. So either the documentation needs to reflect that say a non Apple clang from brew needs to be used, or the build process should use be updated to be able to use the libomp library together with Apple clang.

[2018-04-06 15:37] Oktai15 commented on #5040
@fmassa @SinghGauravKumar @miraclewkf @apaszke
I am positive that it happens when you use docker.
So, solution is here:
https://github.com/pytorch/pytorch/issues/2244

[2018-04-06 16:05] SsnL commented on #6333
Do you also have other fails like `test_LayerNorm_3d_no_elementwise_affine_cuda`?

[2018-04-06 16:44] albanD commented on #6338
I guess the problem here is that the result of `THRandom_random` [here](https://github.com/pytorch/pytorch/blob/81676d8554fe6ae37a1b5e9c637caef8ad2d5f30/aten/src/TH/generic/THTensorRandom.cpp#L40) is unsigned, and we add `min` before casting it into the `real` type.
@SsnL is that the actual issue? Let me know if I should send a PR for that.

[2018-04-06 16:49] subcomputes commented on #6333
No, just that one fail.

[2018-04-06 17:11] SsnL commented on #6338
@albanD I've verified that this is indeed the problem (at least for CPU). We should cast it into `int64_t` before adding. Changing the line to `static_cast<real>(static_cast<int64_t>(THRandom_random64(_generator) % range) + min)` works. It'd be great if you can submit a PR. :)

[2018-04-06 17:21] fmassa opened #6353 "[jit cpp extensions] Possible file corruption in distributed setting"
I believe there might be some sort of race condition that might happen when compiling jit cpp extensions in a distributed setting.

Here a summary of what happens:
- I launch my code from multiple different processes (to use with DistributedDataParallel, via `torch.distributed.launch`)
- each process starts to compile the extension
- they all try to save the extension to the same file
- sometimes,

[2018-04-06 17:36] albanD commented on #6338
Do we want to cast it to `int64_t` ? Or `accreal`?

[2018-04-06 17:38] devinbostIL commented on #494
I'll get the MSVC compiler updated and try building again with the fresh toolset, as suggested. Thanks for the help everyone.

[2018-04-06 17:47] fmassa commented on #6353
Here is a `mwe.py`

[code]

Run it with
[code]

On the first run I tried, I got:
[code]

[2018-04-06 17:49] SsnL commented on #6333
It's likely precision issue as it is testing `half`. We probably can increase the epsilon here.

[2018-04-06 17:52] BinhangYuan opened #6356 "Caffe2 Model helper and Brew"
Hi,

I am wondering how the model helper and brew works. Here is my problem, I used the following code for a simple 3 layer NN, where I manually setup the param_init_net and net for the model; the problem is that it seems the optimizer.build_sgd() does not work, the PBs are also attached:
[code]

[code]
On the other hand, if I use the brew to create the model, it will work as expected.
[code]
I am

[2018-04-06 17:55] peterjc123 commented on #6349
@etveritas To include MKL, you need to add the lib path and include path of them into some env variables.
[code]
As for MKLDNN, i have never tried it before. So there's nothing to tell right now.

[2018-04-06 18:02] wesleyw72 opened #6357 "[feature request] Unpooling layer in Caffe2"
It would be really useful to have unpooling layers in Caffe2, much like torch.nn.MaxUnpool2d etc in PyTorch.

[2018-04-06 18:26] SsnL commented on #6319
Are you doing random sampling in multithreaded settings?

[2018-04-06 18:32] yinghai commented on #6356
Have you compared the model protobufs generated by the two methods?

[2018-04-06 18:35] BinhangYuan commented on #6356
Hi @yinghai
The PB for the second way is here:

[code]
I think the operators related to gradient update is missing in the first way.

Best wishes,
Binhang

[2018-04-06 18:41] Naman-ntc commented on #6187
@SsnL I would like to try this out! Is it possible that I work over this? I am up for reading!

[2018-04-06 18:43] yinghai commented on #6356
Could you add a diff between these two so that it's easier to cross check? :)

[2018-04-06 18:45] subcomputes commented on #6333
Should I create a detailed PR for this change?

[2018-04-06 18:45] stefan-schroedl commented on #6350
Interesting - thank you for getting back to me so quickly!
Yes, I can see that it can imply more scheduling overhead. But maybe would it be possible doing something simple, e.g., have n threads processing each n-th item each, join the threads (wait until all are finished on the current minibatch), then move on to the next minibatch (in parallel to a dedicated collation thread)? At least in my use

[2018-04-06 18:47] SsnL commented on #6187
@Naman-ntc Go for it. Shouldn't be too much code using svd. Notice that you should also have gradcheck tests for this one.

[2018-04-06 18:50] SsnL commented on #6333
@subcomputes That would be great! Thanks!

[2018-04-06 18:50] Naman-ntc commented on #6187
Ohh, just point me to maybe relevant code/files maybe? (still unable to find location of various functions :P )

[2018-04-06 18:51] subcomputes commented on #6333
I busy with work right now, I will have it up by tomorrow. Thanks for the help @SsnL

[2018-04-06 18:51] SsnL commented on #6187
@Naman-ntc Implementing this as a native function residing in `LinearAlgebra.cpp`. There should be plenty of similar examples.

[2018-04-06 18:56] SsnL commented on #6333
Thanks for willing to contribute :)

[2018-04-06 19:09] bddppq commented on #6300
This is a recent change in onnx https://github.com/onnx/onnx/commit/f4acf281eff7afe81f29f014edaa87e4c04c01a3 that removed the in-place annotations in onnx level. This change is not included in our last onnx release but we have made the corresponding change to pytorch master to pair with onnx master. So If you can install onnx from the onnx repo current master, this issue should be solved.

[2018-04-06 19:11] el3ment commented on #6187
As a side note - I have implemented this a few different ways, and there are some numerical properties that need to be kept in mind. Using the SVD can create nan problems for backprop when the singular values are not unique. You can use the left and right pseudoinverses (using an if statement based on the shape) which involve the true inverse of a square `(A.T.dot(A)).inv()` or `(A.dot(A.T)).inv()

[2018-04-06 19:13] el3ment commented on #6187
A good test case will be looking at something like:

[code]

[2018-04-06 19:51] sriharsha0806 opened #6360 "Issue with contiguous() attribute"
PyTorch
- OS: Ubuntu 16.0.4
- PyTorch version: 0.3
- installation of  PyTorch (conda, pip, source): Conda
- Python version: 3.6
- CUDA/cuDNN version: 9
- GPU models and configuration: GTx 1050 Ti

I am using torch.contiguous to change a Tensor Variable but I am getting  the following output contiguous is not attribute of torch

sriharsha@sriharsha-Inspiron-15-7000-Gaming:~$ python
Python 3.6.4 |An

[2018-04-06 19:52] SsnL commented on #6300
Close as this is fixed on onnx side.

[2018-04-06 19:52] #6300 closed

[2018-04-06 19:53] SsnL commented on #6360
There is no `torch.contiguous` but only `tensor.contiguous`. Use `masked_wt.contiguous()` instead.

[2018-04-06 19:53] #6360 closed

[2018-04-06 19:53] yubeic commented on #1637
@dmitry-xnor Great! Our tool chains are mainly around PyTorch and our models work very efficiently with data-parallelism training. So if threadripper works, it should be an ideal platform for Quad GPU PyTorch learning box. Based on your suggestion, I got Supernova 1600. The GPUs are all 1080Ti FE cards. I will update my experience once I got my PyTorch working on this box. Or if I got issues, I ma

[2018-04-06 19:57] zou3519 opened #6362 "[please ignore] testing something"

[2018-04-06 20:02] zou3519 commented on #6362
comment

[2018-04-06 20:17] sriharsha0806 commented on #6360
ok Thanks

[2018-04-06 22:13] pietern commented on #6269
The warning in there doesn't look good. Can you double check the blobs are actually created?

[code]

[2018-04-07 00:29] HMEIatJHU opened #6373 "torch.nn.Linear() behaves randomly"
Linear layer torch.nn.Linear() behaves randomly
Two passes of exactly the same input returns different outputs
--------------------------------
I would like to report a bug:
- PyTorch or Caffe2: PyTorch
- OS: OS X Yosemite 10.10.2
- PyTorch version: 0.4.0a0+64e94f0
- How you installed PyTorch (conda, pip, source): source
- Python version: Python 3.6.3
- CUDA/cuDNN version: NO
- GPU models and conf

[2018-04-07 00:35] davidbau opened #6374 "type(any_tensor) is always Variable"
On current builds of pytorch, `type(t)` for any tensor `t` seems to always be `autograd.Variable` now.
Is there any way to get the actual tensor type back out, e.g., for coercing one tensor to the same data type of another tensor?

[code]

[2018-04-07 00:41] awaelchli commented on #1637
@yubeic I can confirm that PyTorch is working fine with 4 GPUs on 1950x/1920x when setting iommu=soft (or off). However, we were unable to install Ubuntu 16.04 LTS due to unknown kernel issues; only 17.10 is working :( Hopefully 18.04 will install without problems. I have the 1700 W power supply from Enermax, but the PCI-E cables are a bit short.
I use the Asus ROG Zenith mainboard (can recommend)

[2018-04-07 00:42] cpuhrsch commented on #5724
Hello @jramapuram,

Please take a look [at this issue on tbb's github repo](https://github.com/01org/tbb/issues/15).

Thank you,
Christian

[2018-04-07 00:55] matthewfl commented on #6373
To add to this, we also observed that there were some segfaults when running with this version of pytorch when trying to train.  I believe that it is possibly related to the above issue in that there might be a pointer that is uninitialized when performing the Linear operations causing it to access random memory.

[2018-04-07 00:59] dmitry-xnor commented on #1637
We are running 16.04.4 **Desktop** with HWE kernel quite successfully. Desktop because X is needed for fan control.

[2018-04-07 01:46] peterjc123 commented on #6349
This is just an example. You can take a look at my repo peterjc123/pytorch-scripts for building from source.

[2018-04-07 02:32] etveritas commented on #6349
@peterjc123 ok， xiexieni, keyi jiani weixin huozhe qitalianxifangshi ma? fangbian xiangnin qingjiao,hahaha

[2018-04-07 03:01] SsnL opened #6376 "[PyTorch] gloo and NCCL finds different CUDA"
- PyTorch or Caffe2: PyTorch
- OS: Ubuntu 16.04
- PyTorch version: 0.4.0a0+774601c
- How you installed PyTorch (conda, pip, source): source
- Python version: 3.6.5
- CUDA/cuDNN version: CUDA 9.1.85 @ `/usr/local/cuda`
- GPU models and configuration: Titan Xp *2
- GCC version (if compiling from source): 5.4.0
- CMake version: 3.9.4
- Build command you used (if compiling from source): `python setup.

[2018-04-07 03:24] SsnL commented on #6376
...okay it still finds 9.0 after I uninstalled conda cuda90.

[2018-04-07 03:30] peterjc123 commented on #6349
@etveritas Haha, nice pingying. My QQ is 170384518.

[2018-04-07 03:50] laoreja commented on #4360
Then if I want to make buffers as variables (otherwise, some operation cannot be done), should I use autograd.Variable(buffer) in forward function?
Thanks!

[2018-04-07 04:55] SsnL commented on #6376
Issue is that `libnccl.so.1 => /home/ssnl/anaconda3/lib/python3.6/site-packages/torch/./lib/libnccl.so.1 (0x00007fd6e27f3000)` links to `libcudart.so.9.0` which I don't have on my system.

[2018-04-07 05:03] SsnL commented on #6376
Worked around by installing nvidia nccl.

[2018-04-07 05:04] SsnL commented on #6374
You may want to update your copy
[code]

[2018-04-07 05:04] #6374 closed

[2018-04-07 05:04] SsnL commented on #6373
I can't reproduce this with master.

[2018-04-07 08:21] GarrisonD opened #6380 "Compiling vs Installing via pip"
Is there any reason why should I prefer compiling PyTorch from source to installing it by `pip`?

[2018-04-07 08:33] fmassa commented on #6373
Maybe a problem with your blas installation?

[2018-04-07 08:39] oscarbg opened #6381 "WinML or DirectML support planned?"
As Windows support seems coming in 0.4 I would like to request WinML and or DirectML support.. it’s Windows only API, but this should support AMD and Intel GPUs using D3D12 backend or even DirectML which with custom metacommands seems even able to use tensor cores on Volta GPUs..
Hope to hear news at least by Build conference in May

[2018-04-07 08:41] GarrisonD commented on #6380
And why did you stop to upload fresh Docker images of PyTorch to Docker Hub?

The latest one was built and uploaded 8 months ago 😢

[2018-04-07 09:07] fmassa commented on #4360
@laoreja yes

[2018-04-07 09:27] fmassa commented on #6350
I believe there is some overhead in creating threads, so creating a thread for each item could bring too much overhead. But the best way to know for sure is to benchmark it

[2018-04-07 09:32] fmassa commented on #6267
I should say I have also experienced deadlocks with `DistributedDataParallel`, but only after hours of training. I'm running some experiments again with `NCCL_DEBUG=INFO` TO se if I get more information on the deadlock

[2018-04-07 09:39] jiangnanhugo opened #6382 "[caffe2] compile with multi-threads"
when compiling with caffe2, I use
[code]
The last line of codes output error like:
[code]

[2018-04-07 09:51] KaiyuYue commented on #6267
Thanks for the quick reply and thanks for investigating it, @fmassa .  More environmental infos: anaconda2 + torch_0.3.1 installed from pip. When start training, dataloader works well and will feed the data into gpus, after fill a batch to do the first forward or maybe backward procedure, the workers of dataloader will stop and the whole training hangs.

[2018-04-07 10:14] fmassa commented on #6267
My training deadlocked again, but this time I had some information that was printed by `NCCL_DEBUG=INFO python myscript.py`. I got the following message repeated over and over:

[code]

A quick search on google didn't return anything.

[2018-04-07 10:15] fmassa commented on #6267
Ah, you are using gloo, so it's probably a different issue, as I'm using NCCL2

[2018-04-07 11:09] GarrisonD commented on #6380
@ezyang

[2018-04-07 12:01] KaiyuYue commented on #6267
Is there a possible that the problem is existed somewhere rather than `gloo` and `nccl2`?

[2018-04-07 12:26] fmassa commented on #6267
I don't know, but @teng-li knows more than I do

[2018-04-07 12:57] albanD commented on #6380
Hi,

Please use the [forum](https://discuss.pytorch.org/) for questions.
We use the github issue for bug report / features only.

[2018-04-07 14:32] JimLee1996 commented on #4841
Could you please add binary for 5.0 GPUs? Maybe the size won't get larger than 500mb.

There are lots of pc running on old gpus, and it's hard to build binaries.

[2018-04-07 14:47] GarrisonD commented on #6380
@albanD sure! sorry for that!

[2018-04-07 14:47] #6380 closed

[2018-04-07 14:49] camligorkem opened #6384 "[Caffe2] [PyTorch] PyTorch to Caffe2 and Mobile using ONNX Tutorial: Segmentation Fault"
Hello,

I am trying to run [Transfering a model from PyTorch to Caffe2 and Mobile using ONNX](https://github.com/onnx/tutorials/blob/master/tutorials/PytorchCaffe2SuperResolution.ipynb) tutorial. However, I get segmentation fault error.

I think the segmentation error is triggered by the second part of the tutorial where loading ONNX model into Caffe2. While searching for what might cause this err

[2018-04-07 14:53] soumith commented on #6381
We dont have plans for direct vertical integration of WinML or DirectML support.
We do support ONNX exporting of models that can be executed by WinML

[2018-04-07 14:55] soumith commented on #5724
from the page, the solution seems to be:

[2018-04-07 14:55] #5724 closed

[2018-04-07 15:13] ezyang opened #6386 "Make Windows build stop clobbering tools/shared/cwrap_common.py"
Because this file is implemented as a symlink, in Windows we copy the source over it as part of the build process. This dirties the working copy, and is generally annoying. It would be good to work out a way to make this not happen.

CC @peterjc123

[2018-04-07 15:38] peterjc123 commented on #6386
How could this be done? Copy this file in the `setup.py` script and add it to `.gitignore`?

[2018-04-07 16:21] gameking157 opened #6388 "When initialize init_state of rnn (LSTM) with zeros explicitly , error occurs (KeyError: ‘torch.FloatTensor’)"
[code]

**if I don’t initialize init_state explicitly with en_init_state , using ( self.encoder(src) ), it work fine. why??**
Thank you !

[code]

When submitting a bug report, please include the following information (where relevant):
- pytorch 0.31
- Python version: 3.6
- CUDA/cuDNN version:  cuda 8.0 /cudnn 8.0
- GPU models and configuration: titan xp
- GCC version (if compiling from source):
-

[2018-04-07 16:27] yinghai commented on #6382
Could you do `make VERBOSE=1` and paste the detailed command? Thanks.

[2018-04-07 16:27] ankita-kalra commented on #5563
I am getting the same issue.

[2018-04-07 17:13] murphyk opened #6390 "torchvision.transforms.ToTensor implicitly also divides by 255"
I was surprised that transforms.ToTensor()  also divides by 255. This is documented
(http://pytorch.org/docs/master/torchvision/transforms.html#conversion-transforms) but is not apparent from the name. Should this be fixed (which would make the function more transpararent and usable for non-image data)?

Demo:

transform = transforms.ToTensor()
X = np.ones((3, 2, 2))
XX = transform(X)

XX looks li

[2018-04-07 17:27] HMEIatJHU commented on #6373
@SsnL @fmassa Thanks for feedback.
I tried with different environments, and this bug only shows up in the particular environment with the particular version of PyTorch listed above.

I used the same blas for different environments so it does not seem a blas installation issue?

[2018-04-07 17:31] fmassa commented on #6390
Torchvision in general needs a revamp, and I'm looking into it now, but I'm not sure it's best to use ToTensor for general conversion between numpy and torch tensors. In your case, it's just simpler to do `torch.from_numpy(array)`.

[2018-04-07 17:31] #6390 closed

[2018-04-07 23:08] zuoxingdong opened #6391 "[feature request] Nightly pip install"
It could be very convenient to support a nightly built pip install package for PyTorch, so one can track up-to-date feature in an easier way than building from source.

[2018-04-08 01:07] ibmua commented on #1708
I'm also much interested in this. NVidia guy emailed me a year ago saying they're gonna implement grouping feature. Yet, it's still nowhere to be found.. This is one of the biggest things in DL in the last several years, yet it doesn't come into fruition. Hope you guys are gonna include it fast, and thanks @SeungjunNah for noting the release notes.

[2018-04-08 01:53] jiangnanhugo commented on #6382
The detailed output is like this:
[code]

[2018-04-08 02:00] mingfeima commented on #6258
@apaszke well noticed, if we do it, it will be an optional, albeit recommended, path

@cpuhrsch SVML provides similar functionality, but it is not under MKL, it is a icc submodule. Once you have mkl installed via conda, you have VML. Only in case you have icc installed, you have SVML. So based on current pytorch dependency `conda install numpy pyyaml mkl mkl-include setuptools cmake cffi typing`,

[2018-04-08 02:32] VasLem opened #6393 "Cannot compile in Windows 10"
- PyTorch or Caffe2: Both (setup.py)
- OS: Windows 10
- PyTorch version: Cloned from Master
- How you installed PyTorch (conda, pip, source): source (have not yet imanaged to install)
- Python version: 2.7 (Anaconda)
- CUDA/cuDNN version: Cuda 9.1
- GPU models and configuration:
- GCC version (if compiling from source): Using MSVC 15 2017
- CMake version:
- Build command you used (if compiling fro

[2018-04-08 03:15] zchky opened #6394 "chain rule will lead to Nan, sqrt() example"
i find a interesting fact.

for example   sqrt( ( x-1 )^2 ) =y and |x-1| = y , their grad of the two x should be same . but their grad of x different when x close to 1

[code]

but in the fact, the grad of x for x-1 =y is just

[code]

the formula is reasonable in mathematics, but it is different for autograd to compute.
i think the point is when one of sub chain's grad is Nan,  the final grad wil

[2018-04-08 03:28] vishwakftw commented on #6394
sqrt((x-1)^2) = |x - 1| by definition. The derivative of |x - 1| at x = 1, is supposed to be `nan`, unless a subgradient is specified.

[2018-04-08 03:46] jiangnanhugo commented on #6382
Sorry For that. I reclone the repository and rebuild with `-j20` multi-threads, it works. Please just close this issue.

[2018-04-08 03:52] ruotianluo commented on #6394
Both (x-1).abs() and (x-1).norm(2) gives subgradient 0.

[2018-04-08 05:09] sonack opened #6395 "How to transfer a model trained with pytorch 0.3.1.post2 to pytorch 0.2.0_3 when using torch.load()?"
I have trained a model with pytorch 0.3.1.post2, but I want to use it in pytorch 0.2.0_3 with `torch.load()`. However, I came to `UnicodeEncodeError: 'ascii' codec can't encode character '\u03b3' in position 27: ordinal not in range(128)`. Has the serialization method using pickle changed from 0.2.0_3 to 0.3.1.post2?
What should I do to deal with it without retraining a new model using 0.2.0_3?
Th

[2018-04-08 05:15] teng-li commented on #6267
@fmassa I think your problem is different from @KaiyuYue 's problem since he is using Gloo backend.

[2018-04-08 05:15] teng-li commented on #6267
@KaiyuYue

[2018-04-08 05:58] jdupl123 opened #6397 "docker hub lastest old"
The readme suggests using

nvidia-docker run --rm -ti --ipc=host pytorch/pytorch:latest

However doing so provides quite an old version of pytorch.

In [1]: import torch
In [2]: torch.__version__

Out[2]: '0.2.0_2'

Perhaps a new version should be built, a warning should be offered or the suggestion should be removed.

[2018-04-08 06:18] peterjc123 opened #6398 "torch.get_num_threads returns 1 on Windows"
PyTorch GitHub Issues Guidelines
--------------------------------

We like to limit our issues to bug reports and feature requests. If you have a question or would like help and support, please visit our forums: https://discuss.pytorch.org/

If you are submitting a feature request, please preface the title with [feature request].

When submitting a bug report, please include the following informat

[2018-04-08 06:59] sonack commented on #6395
@SsnL hi，but both version I use are python3

[2018-04-08 07:03] SsnL opened #6400 "[pytorch] incorrect conv param error message"
https://github.com/pytorch/pytorch/blob/9ce21b0e90095edbda80946cff95095a992b89d6/aten/src/ATen/native/Convolution.cpp#L290

[2018-04-08 07:10] peterjc123 commented on #6398
It seems that `openblas.dll!openblas_get_num_threads` is called when we call `torch.get_num_threads` but it is built against MKL.

[2018-04-08 07:12] ArmenAg commented on #4805
I wasn't able to reproduce this bug with the master branch and joblib (version==0.11). Could you check if it still hangs using master?

[2018-04-08 09:38] KaiyuYue commented on #6267
Hi, @teng-li:

The number of data loader workers I used is `4 * (gpu_nums per single_machine)`, our single machine has 8 gpus, so it is 32.

According to the [doc](http://pytorch.org/docs/master/notes/multiprocessing.html#sharing-cuda-tensors) about multiprocessing, I add these codes at the beginning of `train.py`:
[code]
and try the different methods (spawn, forkserver, and fork) with using `torc

[2018-04-08 09:43] apaszke commented on #6393
As @peterjc123 said we only support Python 3 on Windows

[2018-04-08 09:43] #6393 closed

[2018-04-08 09:58] rien333 commented on #6328
@soumith  What do you recommend? Just using a non-apple clang? I think you closed this issue a bit too early, as Apple clang clearly does not support OpenMP (see also this [reddit thread](https://www.reddit.com/r/MacOS/comments/71hz1n/does_apple_bundled_clang_have_openmp_support_in/)):
[code]

[2018-04-08 10:01] teng-li commented on #6267
Can you try 0 data load worker to see if it works. I still think this is dataloader worker related

[2018-04-08 10:13] mks0601 opened #6402 "[caffe2] How to freeze a layer?"
Hi, I`m working on caffe2.
I want to know how to freeze a certain layer, which means I don`t want to update a parameter (weight, bias) of a certain conv layer. How can I implement this feature? I found Stopgradient, Negategradient, Zerogradient in caffe2 doc, however none of them seems useful for me.

[2018-04-08 10:43] KaiyuYue commented on #6267
Setting wokers number as 0 still fails.

[2018-04-08 10:54] peterjc123 commented on #6398
The problem seems not to be at the ATen side, since when I wrote a simple program and linked against ATen, the result of `THGetNumCores` and `THGetNumThreads` are not one.

[2018-04-08 11:14] VasLem commented on #6393
Can you confirm that caffe2 can be installed using python3? I followed the tutorial (https://caffe2.ai/docs/getting-started.html?platform=windows&configuration=compile) where experimental compatibility of Python3 is mentioned

[2018-04-08 14:11] dgorbachev opened #6406 "Torch crashes when calling torch.rand(2,3)"
Hello,

I'm on Ubuntu, AMD processor. numpy is the latest: 1.14.2
Encountered the following crash:

mitra@CAPRICA:~$ python
Python 3.6.4 |Anaconda custom (64-bit)| (default, Jan 16 2018, 18:10:19)
[GCC 7.2.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Illegal instruction (core dumped)
mitra@CAPRICA:~$

Thanks

Dmitriy

PyTorch GitHub Issues Guidelines
--------

[2018-04-08 14:49] soumith commented on #6406
your processor is old enough that it doesn't support SSE4.1/SSE4.2/SSE4.3 instruction. We do not support processors that dont have these features in binaries.
Your only choice is to install from source: https://github.com/pytorch/pytorch#from-source

[2018-04-08 14:49] #6406 closed

[2018-04-08 16:00] MaximArtemev commented on #229
Still waiting :(

[2018-04-08 16:28] #6382 closed

[2018-04-08 17:28] zuoxingdong opened #6407 "[Feature request] Add identity nonlinearity as `nn.functional.identity`"

[2018-04-08 17:35] fmassa commented on #6407
Can you give some more context? Why would we need the identity non-linearity in the functional interface of nn?
We can do that with just `y = x` or `y = x.clone()`

[2018-04-08 17:38] SsnL commented on #6407
identity is linear

[2018-04-08 17:41] brod4910 opened #6408 "Prefetching blobs for memory optimization [caffe2]"
Hi,
I am wondering if there is a way to free and prefetch blobs so that I am able to optimize memory use on GPUs.
Moreover, I am currently trying to implement something like the vDNN (virtualized Deep Neural Network) mentioned in this paper [https://arxiv.org/pdf/1602.08124.pdf](url). Is this a possibility in caffe2?

[2018-04-08 18:12] curiosityredef commented on #5563
how did u install your pytorch and which project you are working on ? solutions would depend .

[2018-04-08 18:28] ezyang commented on #6386
I think you would also have to delete the symlink. Assuming no one tries to access the file before the copy happens (I'm not sure if this is the case or not), it should be.

[2018-04-08 18:29] SsnL commented on #5677
reopen as apparently it is still broken :/

[2018-04-08 18:34] #6407 closed

[2018-04-08 18:46] apaszke commented on #6351
Why can’t they coexist? IIRC we use the deterministic flag to filter results of benchmark somehow, isn’t that the case?

[2018-04-08 18:52] ankita-kalra commented on #5563
Resolved, I added sys.path(/path_torch_directory) in my code.

[2018-04-08 19:01] lvdmaaten commented on #6351
I haven't checked the implementation, but what I do know is that currently the outputs of the modules are non-deterministic when `benchmark = True`, even though `deterministic = True`. (Which makes sense as the implementations being used under the hood may vary because of the benchmarking.) That seems undesired: it is promising the user deterministic behavior, but not providing it.

[2018-04-08 19:05] curiosityredef commented on #5563
Do u Know why its needed (if pytorch installed in root directory default) ?

[2018-04-08 19:47] ngimel commented on #6351
There is logic to filter deterministic algorithms from cudnnFind return results https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cudnn/Conv.cpp#L460-L475 (if benchmark is true). If this is not working, probably cudnn is not returning determinism flag correctly. @lvdmaaten, a small repro would help to isolate if it is cudnn bug or if something is not working correctly in the pyto

[2018-04-08 19:56] lvdmaaten commented on #6351
@ngimel That logic seems wrong to me. Only benchmarking deterministic implementations does not lead to deterministic behavior: two different implementations are very likely to produce different results, even if those implementations themselves are deterministic. (And which implementation is selected by the benchmarking may vary per run, platform, etc.)

Afaict the only way to produce fully determi

[2018-04-08 21:07] Erotemic commented on #6402
In pytorch the optimizer class (e.g. SGD, Adam) stores the learning rate for each layer. Set the learning rate of the layer you want to freeze to zero.

[2018-04-09 00:25] #6400 closed

[2018-04-09 00:25] #6299 closed

[2018-04-09 00:36] mks0601 commented on #6402
Thanks for answering, however I'm not asking about pytorch, but caffe2.

[2018-04-09 02:30] #4584 closed

[2018-04-09 02:34] ngimel commented on #6351
@lvdmaaten You are right, that check is not guaranteeing much, only that a deterministic algorithm would be picked for a run, and another deterministic algo can be picked for another run. However, it is a legitimate question what guarantees should be provided. Even if a particular algo is chosen (like it is currently done for deterministic w/o benchmarking), it does not guarantee same results on t

[2018-04-09 02:55] zou3519 commented on #6362
comment

[2018-04-09 03:02] alexeib opened #6411 "nn.Embedding padding_idx with custom initialization does not work as expected"
When initializing nn.Embedding with a padding_idx but then overwriting weights with some custom initialization, padding_idx no longer has any effect since the weights at that position are overridden. One would intuitively expect padding_idx to be handled on a higher level and always produce 0 embeddings for padding elements, rather than only during the weight initialization.

This seems dangerous

[2018-04-09 03:42] KaiyuYue commented on #6267
Hi, @fmassa, I have a quick question. I use three machines to do the distributed task, as the [doc](http://pytorch.org/docs/0.3.1/distributed.html#basics) said, it provides the `synchronous ` distributed training. In my practical experiments, it seems like that each machine does its own training and epoch number of three machines cannot be synced to be the same. So I want to ask when does the mast

[2018-04-09 03:47] StuvX commented on #6300
Sorry, how am I supposed to install onnx from the onnx master? I tried pip install onnx -U but it is up to date, I can't see how to build from source any other way. Apologies if this should be raised in the ONNX issues or has been covered elsewhere.

[2018-04-09 04:53] zengxianyu opened #6412 "when import torch, an AttributeError is raised saying `` 'module' object has no attribute 'cuda' ""
A script to reproduce the bug. Please try to provide as minimal of a test case as possible:

There's a file "select.py" in a folder, containing only one line ```from torch.autograd import Variable```

I open a python console in this folder and type ```import torch```, and then an AttributeError: 'module' object has no attribute 'cuda' is raised.

- OS: Ubuntu 14.04
- PyTorch version: '0.3.1.post2'

[2018-04-09 05:39] SsnL commented on #6412
What does the trace say?

[2018-04-09 05:41] jimmyoic commented on #6402
Maybe  try to delete the operators which update the weight?

[2018-04-09 06:37] peterjc123 commented on #6398
Well, finally it's just a missing of the `openmp` flag.

[2018-04-09 06:58] StuvX commented on #6300
For anybody wondering how to install onnx from master (as I was), git clone onnx then pip install ./onnx

good luck!

[2018-04-09 07:00] SsnL opened #6417 "[PyTorch] Incorrect padding doc for ConvTranspose*"
Incorrect `padding` doc for ConvTranspose*. Current doc says

However, it really is meant to match the `padding` arg of the vanilla Conv. Therefore, effectively it adds `kernel_size - 1 - padding` amount of zero-paddings on the input.

[2018-04-09 07:42] ir413 commented on #2671
See [`memory_allocated`](https://github.com/pytorch/pytorch/blob/master/torch/cuda/__init__.py#L368) and [`max_memory_allocated`](https://github.com/pytorch/pytorch/blob/master/torch/cuda/__init__.py#L389) added in #4511

[2018-04-09 08:55] hhsecond commented on #6391
@zuoxingdong Conda channel has [pytorch nightly build](https://anaconda.org/pytorch/pytorch-nightly)

[2018-04-09 09:33] Teaonly commented on #6028
https://github.com/pytorch/pytorch/pull/6418

Added clamp's output support in pre-template code.

[2018-04-09 09:35] Teaonly commented on #6028
'''
In [1]: import torch
   ...: x = torch.randn(3, 3)
   ...: y = torch.empty_like(x)
   ...: torch.clamp(x, min=0, out=y)
   ...:
Out[1]:

 2.4818  0.0000  0.0000
 1.7294  3.2200  0.0000
 0.0000  0.6117  1.4733
[torch.FloatTensor of size (3,3)]

In [2]: x
Out[2]:

 2.4818 -1.0297 -1.7378
 1.7294  3.2200 -0.6991
-0.4814  0.6117  1.4733
[torch.FloatTensor of size (3,3)]

In [3]: y
Out[3]:

 2.4818

[2018-04-09 09:41] #2671 closed

[2018-04-09 10:07] ejoebstl commented on #3615
@apaszke I'm currently running into the same issue. Would you mind to share how you properly initialized the  distributed module with the NCCL backend, as a temporary workaround?

[2018-04-09 10:31] ejoebstl opened #6419 "No method to set the timeout for distributed Gloo backend"
Gloo has a default timeout of 30 seconds, which can be too low depending on the application.

Currently, it's impossible to change this timeout from Pytorch, since the corresponding [DataChannel](https://github.com/pytorch/pytorch/blob/master/torch/lib/THD/base/data_channels/DataChannelGloo.cpp) does not expose any method to do so, even though Gloo has a [setTimeout](https://github.com/facebookinc

[2018-04-09 10:46] apaszke commented on #2530
@pankajkumar I disagree. This is only a shutdown-time error, so you can still successfully train your networks in a distributed fashion. It's caused by an incorrect order of destruction of static objects, and I believe this has already been fixed in master.

[2018-04-09 11:07] apaszke commented on #6351
That makes sense, thanks for the description @lvdmaaten. Maybe let's raise a warning when both are set for now, and we can figure out more robust ways to benchmark later?

[2018-04-09 12:17] pankajkumar commented on #2530
@apaszke Yes but that doesn't mean that there aren't any post processing tasks. Training is getting stopped at the end of every epoch and have to be manually started for each epoch.

[2018-04-09 12:22] iamlockelightning opened #6421 "[PyTorch]nn.LSTM.cuda() leads to CuDNNError: 8 when adding dropout parameter"
## Information
- PyTorch or Caffe2: PyTorch
- OS: Ubuntu 16.04
- PyTorch version: 0.3.0.post4
- How you installed PyTorch (conda, pip, source): pip
- Python version: 3.5
- CUDA/cuDNN version:

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2015 NVIDIA Corporation
Built on Tue_Aug_11_14:27:32_CDT_2015
Cuda compilation tools, release 7.5, V7.5.17

#define CUDNN_MAJOR      6
#define CUDNN_M

[2018-04-09 13:00] lanpa commented on #6391
The package dependency seems incorrect.
if I run `conda install -c pytorch pytorch-nightly`
[code]

Which results in `libcudart.so.8.0: cannot open shared object file: No such file or directory`

[2018-04-09 13:39] lvdmaaten commented on #6351
@ngimel Yeah, those are good points. The context for this issue was I was writing some CI tests for my project, checking the output of a small training pipeline. I couldn't get the tests to pass even though `cudnn.deterministic=True` because there was `cudnn.benchmark=True` lurking somewhere in the code. I think a reasonable guarantee would be for `cudnn.deterministic=True` to always produce the s

[2018-04-09 13:56] Maltimore commented on #1333
I think it's not correct that you can get causal convolutions by way of padding. At the 'end' of the input sequence this works, but not for intermediate elements of the convolution. These will 'see' the future.
@apaszke

[2018-04-09 14:15] apaszke commented on #2530
If your post processing is defined in Python then it will run. These errors are thrown only right before the whole process exits, after the Python interpreter has already terminated. It shouldn’t affect anything earlier than that so you likely have other problems with your script

[2018-04-09 14:24] boriskovalev opened #6422 "[caffe2] Run resnet50_trainer.py error between 2 machines using GLOO/Redis and ibverbs"
Caffe2
OS: Ubuntu 16.04
Python version: 2.7
CUDA/cuDNN version: 9.1 , 7.0.5
GPU models and configuration: P100
GCC version (if compiling from source):5.4.0
Mellanox OFEDversion: 4.2.
NCCL 2.1.15

I try to run resnet50_trainer.py on two nodes with several GPUs and ibverbs by:

python /root/caffe2/caffe2/python/examples/resnet50_trainer.py --train_data /data/ilsvrc12_train_lmdb/ --test_data /data/il

[2018-04-09 14:26] boriskovalev commented on #6269
Hi now it's run ok with one GPU per node.
When I execute multi GPU per host with ibverb it's failed.
Distributed TCP and local multi GPUs is running ok.
The issue  https://github.com/pytorch/pytorch/issues/6422 was opened.

[2018-04-09 14:48] zou3519 commented on #5979
@rashmendis could you try pulling from source again and verifying if the error exists?

@cpuhrsch do you know what could be up here?

[2018-04-09 15:32] hhsecond commented on #6391
@lanpa That looks like some issue with the latest release I remember version `2018.04.05` working without any issue

[2018-04-09 15:34] soumith commented on #6391
i am fixing the package dependency.

[2018-04-09 15:37] soumith commented on #6391
the latest anaconda nightly just uploaded `2018.04.09` should have dependencies set correctly.

[2018-04-09 15:37] soumith commented on #6391
I will keep the issue open until we also have:

- cuda 90, cuda91 conda nightlies
- wheel nightlies

[2018-04-09 15:42] soumith commented on #6328
officially, we cannot support non-apple tooling, it becomes really hard to give users a consistent experience without that. so, official openmp support is out.

If users figure out how to build their own tooling, which enable OpenMP support, I think that we can highlight that in the README somehow.

Saying that, we are moving our core internals away from OpenMP based parallelism and towards Intel

[2018-04-09 16:07] shijieheping commented on #6422
I've reproduced the same issue with K80(dual core Kepler), file_store_path, with/without NCCL

OS: Ubuntu 16.04, Linux 4.4.0-119-generic
Python version: 2.7.12
CUDA/cuDNN version: libcudnn7-dev_7.1.2.21-1+cuda9.1_amd64.deb
GPU models and configuration: K80
GCC version (if compiling from source): 5.4.0
Mellanox OFED version: 4.3-1.0.1.0
NCCL: 2.1.15-1+cuda9.1

root@**u1**:/dev/shm/lmdbexample# PYTH

[2018-04-09 16:10] shijieheping commented on #6422
And plus, distributed IBVERBS with "--num_gpus 1" runs properly
With "--num_gpus 2", it crashes

[2018-04-09 16:18] zou3519 opened #6424 "[utils.bottleneck] update with better docs"
Leaving this here as a reminder to self.
Things to add:
- [ ] Sample output
- [ ] Clarify CUDA profiling gotchas

[2018-04-09 16:48] cpuhrsch commented on #6258
@mingfeima I'm looking into sleef next after what I'm currently working on.

[2018-04-09 16:53] albanD commented on #6338
Working on this. Will submit the PR tomorrow.

[2018-04-09 17:08] pietern commented on #6269
Then I'll close this one and we can continue in #6422.

[2018-04-09 17:08] #6269 closed

[2018-04-09 17:39] #6028 closed

[2018-04-09 17:48] zou3519 commented on #5900
Okay it sounds like... you're using 18.04, gcc6, and CUDA 9.1. Is that correct?

My suggestion came from the CUDA docs which suggests configurations to use. @ngimel I couldn't find info on Ubuntu 18.04, is CUDA supported for it?

for what it's worth, we don't seem to have a gcc 6 build in our CI so there could be a bug somewhere there...

[2018-04-09 17:51] SsnL commented on #6417
apparently `output_padding` isn't documented properly as well.

[2018-04-09 17:54] SsnL commented on #6411
We can't require `padding_idx` embedding to always be 0 because
1. The weight matrix is just a tensor, which is the same as any other tensor. In fact, one can use any tensor with proper shape as the weight matrix (both in module form and functional form of embedding). So it will be difficult and doesn't make sense to impose such a constraint
2. Sometimes people may actually want to set `padding_id

[2018-04-09 17:54] #6386 closed

[2018-04-09 17:57] #6312 closed

[2018-04-09 18:17] myleott commented on #6411
I think the point was that the current documentation for padding_idx says: "padding_idx (int, optional) – If given, pads the output with zeros whenever it encounters the index."

But that isn't quite true. It just zeros the weights for padding_idx in the constructor. If one re-initializes the weights (as is often done in practice, e.g., in the PyTorch word_language_model example [1]), then padding

[2018-04-09 18:41] Chillee commented on #2584
@zhanghang1989 @CanyonWind Yep, definitely not my work. All credit goes to @zhanghang1989 !

[2018-04-09 18:54] SsnL commented on #5677
Fixed on master!

[2018-04-09 18:54] #5677 closed

[2018-04-09 19:00] zou3519 opened #6431 "Examine contiguity requirements for gradInput"
For THNN updateGradInput functions, am not 100% sure if gradInput is always initialized as an empty tensor.

cc @li-roy

[2018-04-09 19:17] SsnL opened #6432 "[PyTorch] ReflectionPad2d illegal memory access"
[code]

Fix incoming.

[2018-04-09 19:19] SsnL commented on #6431
I remember looking at generated code and seeing that they are initialized as empty tensors.

[2018-04-09 19:27] zou3519 commented on #6431
It looks like the _out functions (example: `binary_cross_entropy_backward_out`) are not called anywhere and not accessible from Python. They're accessible as a part of the ATen API, though (so `tensor.binary_cross_entropy_backward_out` would work in ATen).

[2018-04-09 19:28] zou3519 commented on #6431
So yes, someone could in theory use the ATen api, call the _out version of the function with a gradInput that:
1) has the correct size
2) is not contiguous
and break some code.

[2018-04-09 19:37] apaszke commented on #6411
Or maybe we should change `padding_idx` to mean that we will zero the gradient for that entry"?

[2018-04-09 19:39] li-roy commented on #6431
Also, I don't think https://github.com/pytorch/pytorch/blob/master/aten/src/THCUNN/generic/VolumetricDilatedMaxPooling.cu#L404 should be there.

[2018-04-09 19:43] zou3519 commented on #6431
It looks like it's there because we always increment the refcount of gradInput: https://github.com/pytorch/pytorch/blob/e83dd716ec5a464040c40a19efd8144138e3ca1e/aten/src/THCUNN/generic/VolumetricDilatedMaxPooling.cu#L353-L362

[2018-04-09 19:51] li-roy commented on #6431
Oh, okay. In that case, it depends on if newFoldBatchDim and retain have any contiguity guarantees. If retain doesn't, can we replace it with newContiguous?

[2018-04-09 20:28] ateymour commented on #6273
I used ```mpstat``` to monitor the threads while running. When using MKL_NUM_THREADS, all cores are being utilized but if I had to guess it seems like the overhead drops the performance.
When using OMP_NUM_THREADS it continues to run on 1 core at a time, which explains the performance not changing.

[2018-04-09 20:53] Swetko opened #6437 "[caffe2] Double precision for operators?"
A lot of the operators are not defined for double precision. I am planning on experimenting with double precision calculations and will add them as necessary. Would there be interest in me submitting a PR request with them? Is there a reason they are not currently enabled? The only drawback is larger library file size and slower compilation time but I suppose not by much.

Thank you,
Svet

[2018-04-09 22:05] silaskuo commented on #6300
@bddppq , when do plan to to move this change to the release? Thanks.

[2018-04-09 22:07] ruotianluo opened #6442 "[feature request] dropout1d"
While there are dropout2d and dropout3d, there is no dropout1d. And it seems like FeatureDropout naturally supports NxCxL input, should be no effort?

[2018-04-09 22:52] edubois opened #6447 "[caffe2] No gradient for the MergeDim operator"
There is no gradient operator for the MergeDim operator. It should prepend a dimension.

[2018-04-09 22:58] wangyirui opened #6449 "Segmentation fault (core dumped)"
When I training my model, after hundreds of batches, the segmentation fault always occurs.

- PyTorch or Caffe2: Pytorch
- OS: Ubuntu 16.04
- PyTorch version: 0.4.0a0+57ee202
- How you installed PyTorch (conda, pip, source): source
- Python version: 3.6
- CUDA/cuDNN version: 9.1

Thread 1 "python" received signal SIGSEGV, Segmentation fault.
0x00007fffe958f5ca in ?? () from /usr/lib/x86_64-linux-g

[2018-04-09 23:05] teng-li commented on #6267
@KaiyuYue Could you get the gdb backtrace of all the thread of the process that got stuck

[2018-04-09 23:25] ngimel commented on #6431
Also, THNN functions are accessible from python through torch._thnn.type2backend, so if someone is intent on shooting themselves in the foot with non-contiguous gradInput, they can.

[2018-04-09 23:37] ailzhang commented on #6449
Could you provide a minimal repro script? Thanks!

[2018-04-09 23:39] Lyken17 opened #6451 "[PyTorch] Build error (NCCL) on Ubuntu 16.04"
- PyTorch or Caffe2: PyTorch
- OS: Ubuntu 16.04
- PyTorch version: 0.4.0 lastest master branch (e83dd71)
- How you installed PyTorch (conda, pip, source):source
- Python version: Python 3.5.5 :: Anaconda, Inc.
- CUDA/cuDNN version: CUDA 8.0 / CUDNN 7.0.5
- GPU models and configuration: Nvidia GTX 1080ti
- GCC version (if compiling from source): gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.

[2018-04-09 23:40] epiception commented on #6300
@StuvX did you face any problems with pybind11?
I'm facing this issue after cloning and running pip install ./onnx
/tmp/pip-_y4wFf-build/onnx/cpp2py_export.cc:1:31: fatal error: pybind11/pybind11.h: No such file or directory
compilation terminated.
Does it require installing pybind11 from source? pip install pybind11 does not solve this for me.

[2018-04-09 23:42] Lyken17 commented on #6451
The errors seem to be about `NCCL`. After looking into folder `third_party`, I think PyTorch is building with `NCCL` in its repo rather than `NCCL` from system. Did anyone meet similar issues before?

[2018-04-09 23:44] silaskuo commented on #6300
@epiception : actually I met the same problem as you. Did you try git clone --recursive https://github.com/onnx/onnx.git ? You need to add --recursive here.

[2018-04-09 23:56] wangyirui commented on #6449
@ailzhang
[code]

[2018-04-09 23:57] epiception commented on #6300
Thanks @silaskuo. Guess I missed it. Works, and no errors using check_model as well.

[2018-04-10 00:28] cpuhrsch commented on #5979
I'd also recommend uninstalling pytorch and reinstalling it with a recent version.

[2018-04-10 00:35] Swetko commented on #6447
MergeDim can be modified to output a tensor containing the original dims. Then we can just say the gradient of MergeDim is Reshape and connect the appropriate inputs outputs.

[2018-04-10 00:37] edubois commented on #6447
Yes, that's the idea, but I'm trying to use a MergeDim instead of a reshape. I don't see why there wouldn't be a gradient for this operator as I see one for the Prepend.

[2018-04-10 00:40] Swetko commented on #6447
I think even easier solution would be to just do reshape like the original tensor. Let me try this and I'll do Pull request.

[2018-04-10 00:46] edubois commented on #6447
Ok, but be careful, I saw a strange behavior that I don't understand when trying to reduce dimensionality in caffe2 (from 5d to 4d). The print of the tensor shows the right size, but the gradient gets wrong in its dimensions.

[2018-04-10 00:47] ailzhang commented on #6449
Hi @wangyirui , will you be able to share the whole script as the error show up after a few hundred iterations, it's hard to repro on our side.

[2018-04-10 00:49] Swetko commented on #6447
I am not too familiar with that. If that's a separate problem, post more detailed issue with just that resizing example.

[2018-04-10 00:54] wangyirui commented on #6449
@ailzhang the whole script can be found here: https://github.com/wangyirui/Adversarial-NMT
This error occurs when running function train_d

[2018-04-10 01:16] Swetko commented on #6447
Check this:  https://github.com/pytorch/pytorch/pull/6453
If you want to have the changes now and are using source, just copy my changes.

[2018-04-10 02:07] malmaud opened #6455 "Master libshm.dylib load error on OS X"
Seeing this on a fresh master (afaa72716) install on OS X 10.13.4:

[code]

[2018-04-10 02:31] ibulu commented on #499
I would like to request the same for 1D data, Conv1DLocal?

[2018-04-10 02:31] zengxianyu commented on #6412
@SsnL

Traceback (most recent call last):
  File "select.py", line 1, in <module>
    from torch.autograd import Variable
  File "/home/zeng/anaconda2/lib/python2.7/site-packages/torch/__init__.py", line 311, in <module>
    import torch.cuda
  File "/home/zeng/anaconda2/lib/python2.7/site-packages/torch/cuda/__init__.py", line 19, in <module>
    from multiprocessing.util import register_after_fo

[2018-04-10 02:44] Lyken17 commented on #6451
My current solution is to set `WITH_SYSTEM_NCCL` to `False` in https://github.com/pytorch/pytorch/blob/master/tools/setup_helpers/nccl.py#L74 . After modifying this, I can compile PyTorch without error.

[2018-04-10 02:51] soumith commented on #6451
the actual issue is that `/usr/include/nccl.h` is somewhat off. It is showing as NCCL2, but the actual header seems to be NCCL1.
Glad you figured out a workaround

[2018-04-10 02:51] #6451 closed