[2020-11-11 17:53] gchanan commented on #47671
it looks like a numerical precision issue -- you see the output is -0, not 0.  I'm not sure if the right solution is to clamp the output, fix the calculation, etc.

[2020-11-11 17:53] albanD commented on #46918
The problem here is that you set `create_graph=True`. The reason for this flag is to be able to differentiate through the computation of the jacobian. So the jacobian will be computed in a differentiable manner and will require gradients.

I am not sure to understand your sentence as you say "None of the input variables requires_grad" but "this jacobian computation is part of a function that shoul

[2020-11-11 18:15] edqwerty10 commented on #47479
Thanks @mruberry to confirm `tensor_split` works for us. Is there a timeline of when this could be done?

[2020-11-11 18:21] mruberry commented on #47479
The fastest way would be for you to submit a PR implementing the behavior. If that's a pain you can ping me internally and we can prioritize the request.

[2020-11-11 18:49] aocsa commented on #34266
All right, thanks @anjali411, @ezyang.  I will close this issue and look other high priority complex issues. cc @mruberry, @pearu, @nikitaved  @rgommers.

[2020-11-11 18:49] #34266 closed

[2020-11-11 18:56] mruberry commented on #34266
Thanks for resolving this issue, @kurtamohler and @aocsa.

[2020-11-11 19:22] ag14774 commented on #10830
Does this still happen?

[2020-11-11 19:28] ArutyunovG commented on #47744
Switching to latest cuDNN 8.0.5 didn't help
[pytorch_unersolved_1.txt](https://github.com/pytorch/pytorch/files/5526247/pytorch_unersolved_1.txt)

Could you clarify, which CMake switch I should use, if any? Or some file/folder examples missing from the build.

[2020-11-11 19:41] seemethere opened #47776 "Core dump when checking that basic CNN works (Python 3.9)"
## 🐛 Bug

Currently experiencing a core dump when running smoke tests for CNN on python 3.9:
[code]

Link to CircleCI logs: https://app.circleci.com/pipelines/github/pytorch/pytorch/237660/workflows/5021f68c-07d3-4fcb-8a2a-c1b14b87d9e2/jobs/8843626

## To Reproduce

[code]

## Expected behavior
Smoke tests don't fail

## Environment

Please copy and paste the output from our
[environment collectio

[2020-11-11 19:43] anjali411 commented on #34266
@aocsa would you like to work on adding vectorization for `torch.complex` and  `torch.polar` https://github.com/pytorch/pytorch/issues/35312

[2020-11-11 19:58] kurtamohler commented on #47043
The problem appears to actually be the `-mfma` compiler flag. On my machine, Pytorch builds AVX2 with these flags:

`-std=gnu++14 -O3  -mavx2 -mfma -mno-avx256-split-unaligned-load -mno-avx256-split-unaligned-store -DCPU_CAPABILITY=AVX2 -DCPU_CAPABILITY_AVX2 -MD`

But AVX is built with these flags:

`-std=gnu++14 -O3 -mavx -DCPU_CAPABILITY=AVX -DCPU_CAPABILITY_AVX -MD`

Indeed, if I remove the `-m

[2020-11-11 20:01] kurtamohler commented on #47043
Another possible solution is to separate code that we don't want to use FMA into a different file, and avoid using the `-mfma` flag on that file.

[2020-11-11 20:29] soumickmj commented on #47052
@tygert Thanks. I did not add abs because of torch.abs. But I will add one, that would be fairly straightforward.
Regarding the polar decomposition, you wanted this as an activation function?
If yes, how that will be working? From the complex input, we can decompose as abs and angle. But, then? Will this activation be giving two separate output? I'm not sure exactly about this.

[2020-11-11 20:31] seemethere commented on #47776
The range of commits from my initial testing to when this problem presented itself is this: https://github.com/pytorch/pytorch/compare/b6a2444eff6fd8d92de1d7c3501aa892376d54e1...ae5c2febb912066f1a8dec8b54451c09195b2c6d

[2020-11-11 20:33] bhosmer opened #47778 "Eliminate redundant device guards in generic dispatch key kernel wrappers"
We codegen device guards into kernel wrappers for backends that need them, so kernel implementors don't have to.

Currently, we also generate device guards into *generic* kernel wrappers. But being generic, we should be able to assume that if these kernels wind up calling any backend-specific kernels, those will do their own device guarding.

Device guards can be expensive, so eliminating redundan

[2020-11-11 20:39] WilliamTambellini commented on #47751
I would also vote for such enhancements:
Some stats:
[code]
and the ldd tree:
[code]

A first comment: the default cmake script in
libtorch-shared-with-deps-1.7.0.zip
seems to impose Caffe.
[code]

Would anyone know why ?

[2020-11-11 20:45] ejguan opened #47779 "Incorrect result of `fmod` and `remainder` operator."
## 🐛 Bug

Find a bug when porting `fmod` from TH to ATen. #47323
The results are wrong when a integral tensor is divided by a floating-point scalar; Or we raise `RuntimeError: result type Float can't be cast to the desired output type Long` when a integral tensor is divided by a floating-point tensor.
And `fmod` refers to the floating-point mod, so I think all the integral types should be promoted

[2020-11-11 20:48] ejguan commented on #47779
I can try to fix this issue after I port `fmod` from TH to ATen, if everyone think it should be solved by having type promotion included into `fmod` and `remainder`.

[2020-11-11 20:50] ejguan commented on #47779
Add module: bc-breaking because it will not raise `RuntimeError: result type (Half, Float, Double) can't be cast to the desired output type (Byte, Char, Short, Int, Long)`, and result is going to be different.

[2020-11-11 21:12] tygert commented on #47052
@soumickmj : nn.Abs or something like that would be my personal ideal. I could see how someone might want a decomposition into the absolute value and the angle; maybe that someone could handle that if the time comes?

[2020-11-11 21:14] mruberry commented on #47779
Making fmod and remainder have type promotion consistent with NumPy and the rest of PyTorch sounds great.

[2020-11-11 21:30] wpm commented on #47717
There was a problem with the compiler tool chain. After fixing that I get a different error when trying to link to a CUDA library.

### Compiler Tool Chain Fix

It turns out version 9.3.0 compilers are installed in the `anaconda3/bin` directory but when I activate an environment other than base the environment variables pointing to them are removed. I'm not sure if that is by design or a problem w

[2020-11-11 21:38] kurtamohler commented on #47043
I tried using intrinsics to see if it would avoid FMA, and it didn't work at first. I changed from this

[code]

to this:
[code]

Evidently the `_mm256_add_pd` and `_mm256_mul_pd` calls get combined such that I'm effectively calling `_mm256_fmadd_pd`. But then I wondered, what would happen if I just used the multiply intrinsic and then used regular add operations? Like this:

[code]

This worked!

[2020-11-11 21:42] nickgg commented on #47304
This looks like a bug in how the TensorExpr fuser lowers aten::pow, I'm looking into it.

[2020-11-11 21:50] mruberry commented on #47753
The error message here also seems odd since it's an internal assert, implying a logic error. In addition to that issue, maybe the error message could be more informative about possible remedies if _use_new_zipfile_serialization=False is a solution in some cases.

[2020-11-11 21:51] ailzhang commented on #47741
Hi, please redirect questions to forum as instructed in the template. Thanks!

[2020-11-11 21:51] #47741 closed

[2020-11-11 22:03] ailzhang commented on #47649
I don't think clang works well with CUDA yet but my impression could be wrong.

[2020-11-11 22:04] ailzhang commented on #47662
torch.save?
Btw please redirect all the questions to the pytorch forum, thanks!

[2020-11-11 22:04] #47662 closed

[2020-11-11 22:07] xuzhao9 opened #47789 "clang-tidy should enable check "readability-braces-around-statements""
## 🚀 Feature

PyTorch should enable "readability-braces-around-statements" in its clang-tidy checks.

## Motivation

Currently, PyTorch clang-tidy test doesn't enable "readability-braces-around-statements" check on the cpp code.
For example, https://github.com/pytorch/pytorch/blob/master/torch/csrc/autograd/init.cpp#L14 doesn't have braces around the if-then branch statement.

## Pitch

This shoul

[2020-11-11 22:27] mruberry commented on #47043
cc @VitalyFedyunin for the AVX build issues

[2020-11-11 22:36] aocsa commented on #34266
Sure, I was looking into it, and I found a PR already merged.
https://github.com/pytorch/pytorch/pull/39617

So I guess the task is adding work on top of that?

[2020-11-11 22:43] gchanan commented on #47610
thanks for filing an issue.  The change is intended and the documentation is indeed wrong.  There's a PR to fix it: https://github.com/pytorch/pytorch/pull/41887/

[2020-11-11 22:47] nickgg commented on #47304
Added a fix for one issue, uncovered another and will update.

[2020-11-11 22:51] vkuzo commented on #47748
@supriyar , would you be interested in taking a look?

[2020-11-11 22:56] supriyar commented on #47748
Thanks for flagging, yes these tests should have the skipIfNoFBGEMM decorator on them. I'm surprised they passed CI, I thoguht we do run tests there without FBGEMM enabled.
I'll fix this and and a `TORCH_CHECK` in the non-fbgemm path

[2020-11-11 23:18] Borda commented on #22738
Hello,
 is there a way how to install PT nightly (1.8) from pip? We can do it with Conda, but I have troubles with pip, I have found and tried...
[code]
but this gives an error with not matching distribution, then I have tried exact version `torch==1.8.0.dev20201110` which I can see on the web with the same failure
For the record, I am using NVIDIA Ubuntu based docker image `nvidia/cuda:10.2-cudnn

[2020-11-11 23:20] supriyar commented on #46533
This should be fixed in the nightly build.

[2020-11-11 23:20] #46533 closed

[2020-11-11 23:31] malfet commented on #47292
Looking for a workaround

[2020-11-11 23:32] mruberry commented on #47608
Just fyi the plan is to continue to do the check in linalg.cholesky but we'll offer linalg.cholesky_ex that returns the cholesky result and the info tensor and does no error checking of its own.

cc @IvanYashchuk

We will accept PRs implementing the _ex variants of linear algebra operations that perform their own error checking.

[2020-11-11 23:36] mruberry commented on #47699
Thanks for the suggestion, @austinmw. Do you know which paper originally proposed this layer?

[2020-11-11 23:40] mruberry commented on #34266
One final thought is that we may want to reflect this thinking in our documentation, especially when the documentation is revised to consistently use "Supports..." statements it would be nice to be clear that we explicitly do not support complex remainder (same with complex comparison operators).

[2020-11-11 23:55] walterddr commented on #47649
duplicate of #46902?

[2020-11-12 00:15] austinmw commented on #47699
@mruberry https://arxiv.org/abs/1811.11168

[2020-11-12 00:24] carmocca commented on #47753
For reference, same as https://github.com/pytorch/vision/issues/1943

[2020-11-12 00:24] mruberry commented on #47699
@austinmw Thanks!

[2020-11-12 00:33] rgommers commented on #47697
@hameerabbasi did we consciously decide to move to the non-underscored name? `torch.overrides` isn't in the docs as a public submodule, so that's a little inconsistent.

[2020-11-12 00:38] #47292 closed

[2020-11-12 01:05] mszhanyi commented on #47743
Sorry, I didn't make it very clear.
set CUDNN_INCLUDE_PATH can solve the exception that cuDNN isn't found.

But it would be a problem how to set CUDNN_INCLUDE_PATH. Now, we couldn't use the path of downloaded lib_torch. Users may have to install the cudnn by themself.

[2020-11-12 01:08] glaringlee commented on #47776
Getting the following log, it seems this is the same issue as #38228

[code]

[2020-11-12 01:12] stas00 commented on #47109
Your choice will also depend on your hardware, @LukeAI - if you plan on using rtx30, you need at least cuda-11.0

[2020-11-12 01:31] zhongzhuonan opened #47820 "Add CUDA 11.1？"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2020-11-12 01:49] skyline75489 commented on #47760
Correct me if I'm wrong, but according to the doc, [typing.Final](https://docs.python.org/3/library/typing.html#typing.Final) is first added in Python 3.8. Right now we need to support Python 3.6+. I guess we can not just replacing `typing_extension` with `typing`.

[2020-11-12 01:52] linccnu commented on #47671
Maybe i have not describle clearly. and i think it's not the numerical precision issue. The result is wrong in the below case.
[code]
Here in this case, if the input tensor value is less than zeros and the param *alpha* is also less than zero, the forward result of elu is ok, but  the backward result is unresonable. they are all equal to one?  i think the result should be alpha*exp(x), namely [-2e

[2020-11-12 01:53] linccnu commented on #47671
Sorry, maybe i have not describe the issue clearly. and i think it's not the numerical precision issue. The result is wrong in the below case.

x = torch.tensor([-4, -3, -2, -1], dtype=torch.float, requires_grad=True)
y = torch.nn.functional.elu(x, alpha=-2)
print(y)  # tensor([1.9634, 1.9004, 1.7293, 1.2642], grad_fn=<EluBackward>)
grads = torch.tensor(torch.ones_like(y))
y.backward(grads)
print(

[2020-11-12 01:57] lqf96 commented on #47702
See also #47688, which is another issue on the same topic.

[2020-11-12 02:51] Sun-Knight-Soral opened #47823 "How to frozen weights in TorchScript IR?"
Hi, i just add a pass in TorchScript IR to convert BertLayer to fastertransformer Encoder, however i find model is slow after convert to TorchScript. I get Nvprof result and find a time consuming activity:
[code]
I watched my final TorchScript IR, and i guess it's reason is each time it runs it will do aten::contiguous several times, like:
[code]
aten::contiguous is needed for Tensors which will b

[2020-11-12 02:54] fei-shan commented on #40965
Hello, I realize that in cuda.cmake it still checks cudnn version even with no version available.

[https://github.com/pytorch/pytorch/blob/e173278348b329fa9c5e92018f959b3d95d26258/cmake/public/cuda.cmake#L173-L175](url)

[2020-11-12 03:08] yparam98 commented on #47789
https://clang.llvm.org/extra/clang-tidy/checks/readability-braces-around-statements.html

[2020-11-12 03:15] Atcold commented on #46829
I think we can assume that if we're mixing tensors and arrays, we'd want the output to be arrays.
Like, when plotting stuff, without having to `.numpy()` is quite convenient. Still, it breaks sometimes.

[2020-11-12 03:30] shoutOutYangJie opened #47824 "DDP error, when I use "if" branch in forward function."
I use video data, and my part of forward code is as following:
[code]

Look at code annotation, when "if else" branches both use "self.base.decoder", there is no error. But, if one branch uses "self.decoder", the above error arises. I ensure my code obey principle(1).

[2020-11-12 04:13] #45114 closed

[2020-11-12 04:17] mszhanyi commented on #47590
@rtarquini , thank your reply. could you provide the image file

[2020-11-12 04:25] zhuhonglinX opened #47826 "About converting PIL Image to PyTorch Tensor"
## About converting PIL Image to PyTorch Tensor

I use PIL open an image:

[code]
Then I want to convert it to tensor, I have read `torchvision.transforms.functional`, the function `to_tensor` use the following way：

[code]

Why not use the following method directly:

[code]

I want to know what is the difference, is it because of the difference in efficiency？

The following is the code snippet fo

[2020-11-12 04:32] dzhulgakov commented on #47298
You can also try to extend linter to catch these patterns proactively

[2020-11-12 06:02] Hznnn opened #47832 "Error during distributed training"
RuntimeError: NCCL error in: /pytorch/torch/lib/c10d/ProcessGroupNCCL.cpp:410, unhandled cuda error, NCCL version 2.4.8

[2020-11-12 06:12] megamuzzy commented on #47039
I have two python installations in my system. Ubuntu preinstalled python 3.6.9 and conda env with python 3.7.9
And `torch.backends.cudnn.version() ` reports different versions of cudnn:
[code]
 I have reinstalled `libcudnn8_8.0.5.39-1+cuda11.0_amd64.deb` several tmes, but it still reports 8003 and 8004.
Please tell me how to properly reinstall cudnn? Thanks!

[2020-11-12 06:13] anjali411 opened #47833 "Support `torch.norm` for complex tensors on both CPU and CUDA"
## 🚀 Feature

## Motivation

`torch.norm` is a commonly used operation. TorchAudio and other libraries/users can benefit from the performance gains if `torch.norm` is supported. https://github.com/pytorch/audio/pull/1009#discussion_r518965072

## Pitch

We should
- support `torch.norm` for complex tensors whenever the operation makes sense and error out otherwise (p=inf, -inf).
- update the backwa

[2020-11-12 06:16] anjali411 commented on #34266
yeah that PR didn't add support for vectorization which is something that would be very useful to have

[2020-11-12 06:17] anjali411 commented on #34266
yes I agree!

[2020-11-12 06:26] bastianmorath commented on #27212
+1

[2020-11-12 06:34] Rocknz commented on #46974
So, you means that The GPU:0 was broken?
Then, what did you do? just remove that GPU?
I only have one GPU.. I don't have replacements.

Thanks

[2020-11-12 06:38] mruberry commented on #47833
We should encourage people to migrate to `torch.linalg.norm`, which does support complex tensors:

[code]

Although norm also does:

[code]

Is there some complex behavior that `torch.linalg.norm` should support but doesn't?

cc @kurtamohler

[2020-11-12 06:40] mszhanyi commented on #47744
@ArutyunovG ， I don't think torch_cuda could be build in VS 2019 IDE now. At present, the most reliable way to build pytorch master in windows is to use command

[2020-11-12 06:57] linccnu commented on #47671
#43389
According to the initial paper that introduced ELU (Section 3), a negative alpha is not valid. And tf keras [doc](https://www.tensorflow.org/api_docs/python/tf/keras/activations/elu) here it seems to only support alpha > 0.

[2020-11-12 06:59] #47176 closed

[2020-11-12 07:05] mruberry commented on #47599
That's an interesting idea, @mfkasim1. I think I'll need more time to understand this problem better, however, before I can credibly comment about what the right fix might be. I've added the "needs design" label to this issue.

[2020-11-12 07:05] HangJie720 commented on #47649
Fortunately, there is a workaround to this problem，and successfully compiled pytorch 1.6 using clang10 instead of nvcc in nvidia(cuda10) scenario.
https://github.com/NVIDIA/thrust/issues/1339

[2020-11-12 07:19] tanghui2017108 opened #47835 "I found such a strange thing. Add code anywhere in the definition model that is not associated with the current model, such as torch.nn.Linear () will affect the model"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2020-11-12 07:21] tanghui2017108 commented on #47835
![Uploading image.png…]()

[2020-11-12 07:21] tanghui2017108 commented on #47835
![image](https://user-images.githubusercontent.com/32611793/98908031-bb6f7580-24fa-11eb-9c8e-c71c20925039.png)

[2020-11-12 07:52] ptrblck commented on #47835
Each layer creation will randomly initialize the parameters (if available) and will thus call into the pseudorandom number generator. If your training is sensitive to different seeds, these additional layer creations can change the training results significantly and you should see the same effect by removing the layer creation and just changing the seed at the beginning of your script.

PS: the fo

[2020-11-12 07:54] ptrblck commented on #47823
Double post from [here](https://discuss.pytorch.org/t/how-to-frozen-weights-in-torchscript-ir/102514) with follow-up.

[2020-11-12 07:54] #47823 closed

[2020-11-12 07:55] ptrblck commented on #47820
Most likely not, as we cannot prune the static libraries due to an internal error in `nvprune` in CUDA11.1.
We verified that this issue is fixed in 11.2 and would target this CUDA version next.

[2020-11-12 07:58] mruberry commented on #47513
Aha, I see. Thank you for correcting me, @jenuk, I read your comment too quickly.

I'll let @vincentqb comment on this issue since it's more than a documentation change.

[2020-11-12 08:05] zhongzhuonan commented on #47820
Thank you for your reply. How long will 11.2 be released？

[2020-11-12 08:10] tanghui2017108 commented on #47835
Your answer is very good, thanks.

[2020-11-12 08:13] FabianIsensee opened #47837 "Linker error when building from source with CUDA 11.0"
When building pytorch from source I get a linker error whenever I try to build with cuda 11.0 (and magma-cuda-110). Building with cuda 10.2 works fine.
This only happens on our GPU cluster. It works fine on my local workstation, so it may be related to the software configuration of our cluster. I would greatly appreciate your help in identifying what causes the problem.

It doies not seem to be re

[2020-11-12 08:18] Asa-Nisi-Masa opened #47838 "Sparse model optimizer raises 'ValueError: optimizer got an empty parameter list'"
## 🐛 Bug

Creating a sparse optimizer for a model with sparse embedding layer raises an exception 'ValueError: optimizer got an empty parameter list'.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

I expect the code to execute without problems. Printing the model parameters shows

[code]

## Environment

PyTorch version: 1.7.0+cu101
Is debug build: True
CUDA used

[2020-11-12 08:19] #47160 closed

[2020-11-12 08:23] mruberry commented on #47640
Thanks for suggesting this feature, @rjkilpatrick. This makes sense, although we'll need to review consistency with other frameworks (like SciPy, as @gchanan suggests) and our own plans for supporting a choice of layout. I've added the "needs design" label.

[2020-11-12 08:24] fxwfzsxyq opened #47839 "Do you support quantification of a part of the model, such as quantifying only the backbone"
Do you support quantification of a part of the model, such as quantifying only the backbone

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a @vkuzo

[2020-11-12 08:33] MrCrHaM commented on #20101
For anyone who had the exact error when using `trace` for a model with **a customized layer**, removing `to(my_device)` from `nn.Parameter(...).to(my_device)` would actually resolve the problem. Thought it might help.

[2020-11-12 08:35] ArutyunovG commented on #47744
@mszhanyi ,
you mean this command ```python setup.py build``` ?

[2020-11-12 08:37] juliusbierk opened #47841 "Factorial & Binomial Coefficient"
## 🚀 Feature
`torch.factorial` which behaves similar to `scipy.special.factorial`
`torch.binom` which behaves similar to `scipy.special.binom`

## Motivation & Pitch
torch currenltly only offers `lgamma` which can be used to calculate factorial as `torch.exp(torch.lgamma(x + 1))`, this is a bit cumbersome for simple mathematical operations, which are often used.

The binomial coefficient can curre

[2020-11-12 08:44] mszhanyi commented on #47744
python setup.py install, python setup.py build or python tools/build_libtoch.py are all OK.

[2020-11-12 08:46] hameerabbasi commented on #47697
Yes, this was done in #37091, specifically in https://github.com/pytorch/pytorch/pull/37091/commits/b422a1bfdb16c5f86ea31367b3c2c73ec92454b1, in the context of there being various utility methods there that were already well-tested and needed to be exposed, such as, for example, `is_tensor_method_or_property`. I can't seem to find the conversation, maybe it happened in a meeting.

[2020-11-12 08:49] mszhanyi commented on #47744
The latest building guide is in review, https://github.com/pytorch/pytorch/pull/47840, any comments are welcome

[2020-11-12 08:54] ptrblck commented on #47826
Double post from [here](https://discuss.pytorch.org/t/about-converting-pil-image-to-pytorch-tensor/102419) with follow-up.

[2020-11-12 09:06] hameerabbasi commented on #47622
Link to non-landed master PR: #47842
Link to release branch PR: #47843
Criteria Category: documentation bug

There is issue #47697 labelled high-prio and tagged with the 1.7.1 milestone.

[2020-11-12 09:32] Ca0L opened #47844 "Incorrect output loss value under specific CUDA version"
## 🐛 Bug

I ran the example in https://pytorch.org/tutorials/beginner/pytorch_with_examples.html#pytorch-tensors-and-autograd and I got output loss always between ~0 and ~20 with CUDA 11.0. I switched to CUDA 10.2, the output loss seemed to be correct (<1e-7). I tried different num of iterations up to 100,000 and I got the same result.

## To Reproduce

Steps to reproduce the behavior:

1. Run the

[2020-11-12 09:36] wlrkqdl opened #47845 "I failed install pytorch about this error code"
Plz help me

[code]

[2020-11-12 09:40] manuelbaum commented on #46918
First of all, thanks a lot albanD for taking the time for this. I highly, highly appreciate that! :)

I understand what you write about the create_graph flag. I think your second paragraph helps get to the core of this. I am in fact not using backward() at the moment, because I'm not doing parameter learning yet. I am building the function / model that that's supposed to be differentiable. This mo

[2020-11-12 10:18] aimanmutasem opened #47846 "The kernel appears to have died. It will restart automatically."
I facing a common problem when loading pre-training model using PyTorch. Jupyter notebook is crashing "The kernel appears to have died. It will restart automatically"

I have followed the discussion [link](https://github.com/jupyter/notebook/issues/2784), [link](https://github.com/tensorflow/tensorflow/issues/9829), and [link](https://stackoverflow.com/questions/47022997/jupyter-the-kernel-appears

[2020-11-12 10:34] skyline75489 commented on #47845
As seen in the log, this is not even about `torch`. I think you'll see the same thing when you just `pip install future`. Maybe it's because the sdist of `future` is broken.

[2020-11-12 10:48] RuRo commented on #39716
Currently, the fact that `pytorch` and `numpy` use per-process global random state means that you can't use threading parallelism for running reproducible experiments, which is a huge pain, since full process parallelism is harder to get right and has significant overhead due to pickling.

Consider the following example:
[code]

The `randint_with_seed` function simulates a deterministic experiment

[2020-11-12 11:54] mariosasko commented on #47838
Related to #47594.

Rn, you can do `torch.optim.SparseAdam(list(model.parameters()), ...)` to fix the issue.

[2020-11-12 11:58] P3n9W31 commented on #47039
I tested the 3090's performance using code provided by ptrblck before upgrading the cuDNN. And I got this:

[code]

It seems that the reported speed is similar to that obtained by ptrblck. But when I rerun the TextCNN, I still got a super slow speed.

It looks like this code doesn't reproduce my problem very well, I will try to give a minimal implementation.

And before that, I really need some he

[2020-11-12 12:10] mfkasim1 commented on #47599
@mruberry I have written several rough implementation options and show on which case they work and they don't: https://colab.research.google.com/drive/1wyt3357g8J91PQggLh8CLgvm4RiBmjQv

[2020-11-12 12:21] rgommers commented on #46829
That really depends on what one is doing - and there's also a good chance it's user error.

If you're just talking about operators rather than function calls: `+`, `__add__`, `torch.add`/`numpy.add` are typically all the same implementation. `torch.add(t, a)` should give a tensor, while you're probably arguing that `t + a` should give an array.

In the face of ambiguity, refuse the temptation to g

[2020-11-12 12:22] rgommers commented on #46829
I think this is a wontfix. @mruberry?

[2020-11-12 12:34] yxchng commented on #46802
@VitalyFedyunin also this `next(iter(valid_queue))` is suggested here https://github.com/pytorch/pytorch/issues/1917

[2020-11-12 13:26] surak opened #47849 "Pytorch can't be installed on Python3.8+"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Install PyTorch from source. It gives the errors:

[code]
Try to install dataclasses, and it comes with this:
2.ERROR: Package 'dataclasses' requires a different Python: 3.8.5 not in '>=3.6, <3.7'

## Expected behavior

Remove dependencies on obsolete packages with current versions of python

## Environment

 - PyTorch Version (e.g.,

[2020-11-12 14:01] Randl opened #47851 "INTERNAL ASSERT FAILED for `S.unique().shape`"
## 🐛 Bug

## To Reproduce
The stacktrace is
[code]
I can't share exact code but I have different behaviour depending on whether all elements of tensor are unique in spirit of
[code]

## Expected behavior

The code works or raises exception.

## Environment

You can get the script and run it with:
[code]

cc @ezyang @gchanan @zou3519 @bdhirsh @albanD @gqchen @pearu @nikitaved

[2020-11-12 14:03] Randl commented on #47851
Since I don't really need the gradients of `unique()`, the following workaround works for me:
[code]

[2020-11-12 14:14] rtrahms commented on #47590
It is just a standard JPG image loaded with OpenCV.  You can use any image file really.  The point is it shouldn't crash on feeding the image into forward() on the second pass.

[2020-11-12 14:21] cenkbircanoglu commented on #32192
Using cuda=9.2 will solve this problem

[2020-11-12 14:45] weiaicunzai commented on #46974
I'm planning to get GPU:0 repaired. Are you sure your GPU is also broken??Have you tried on both TF and Pytorch to train the model in a docker container?

[2020-11-12 14:45] pinzhenx commented on #43550
Closing due to lack of activity. Feel free to reopen.

[2020-11-12 14:46] #43550 closed

[2020-11-12 14:53] ArutyunovG commented on #47744
Running with ``python setup.py build`` didn't help, errors are still the same stuff with unresolved externals. This is log remaining in the cmd window
[pytorch_unersolved_2.txt](https://github.com/pytorch/pytorch/files/5531336/pytorch_unersolved_2.txt)

[2020-11-12 15:00] anjali411 commented on #47833
@mruberry oh I didn't realize we added `torch.linalg.norm` already and it supports complex numbers on both CPU and CUDA. I filed this issue just with the knowledge that `torch.norm` only supports complex numbers on CPU.
[code]

Here are some things we should support for complex in `torch.linalg.norm`
1. Frobenius norm can be defined for complex numbers (https://mathworld.wolfram.com/FrobeniusNorm.

[2020-11-12 15:01] albanD commented on #47671
Hi,

This is a similar issue as https://github.com/pytorch/pytorch/issues/31938

Basically, we use the positivity of the output to check if the input was positive or negative.
But when you give a negative slope, the sign of the result is not the same as the sign of the input.

We should update the function to forbid negative alphas I think.

[2020-11-12 15:07] anjali411 commented on #47833
cc. @mthrok can you run your script for `torch.linalg.norm` so that we can get an idea of it's performance for complex tensors?

[2020-11-12 15:19] gchanan commented on #47753
I'm glad it resolved your specific problem!  As @mruberry notes, we should clean up the error handling to clearly identify the cases where setting this flag will help vs cases we don't generally support.

[2020-11-12 15:21] gchanan commented on #47753
Also @SsnL I totally agree it's a valid use case.  It's just a question of complexity / priority for supporting it.

[2020-11-12 15:30] david-macleod commented on #47496
Ok thanks! Do we think #45716 will make it into 1.7.1 release?

Based on your answer I am little confused as why the following does not work, as in this case the index can be determined at compile time

[code]

In a more general sense, is there a nicer way of only iterating through a subset of a ModuleList via TorchScript, or is #45716 really the only solution? For example, neither of the followin

[2020-11-12 15:36] berooo commented on #30401
have you solved it?

[2020-11-12 15:48] david-macleod commented on #47496
Also, is this the solution for my example based on #45716?
[code]

[2020-11-12 16:01] #24539 closed

[2020-11-12 16:14] vincentqb commented on #47513
I agree that this example contradicts the documentation, and it makes sense to address this issue. Concerns I have are around: how widely users lived with this behavior where a change would be BC breaking (e.g. loss goes accidentally slightly negative? users want a loss near zero and understood "better" as near zero?), and silent change in behavior by silently replacing the denominator with an abs

[2020-11-12 16:21] xwang233 commented on #47837
You can try add the environment variable `TORCH_CUDA_ARCH_LIST=x.y` to only build for your GPU compute capability. For example, if you have A100, you can do `TORCH_CUDA_ARCH_LIST=8.0`.

[2020-11-12 16:26] thomashirtz commented on #8149
I am not familiar with this, but I am really interested if someone possess more information
@soumith would it be different if we were doing threading ? I am not sure I understand why
Does someone have arguments for the message of @Steamgjk ?

I saw some people implementing the Hogwild! for the A3C using [this](https://github.com/MorvanZhou/pytorch-A3C/blob/master/shared_adam.py) kind of implementa

[2020-11-12 16:29] vkuzo opened #47857 "QAT with DDP should have documentation"
## 📚 Documentation

We have https://github.com/pytorch/vision/blob/master/references/classification/train_quantization.py, but it's not widely known.  The PyTorch docs should link to this reference and ideally have an additional explanation on how to run QAT with DDP.

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a @vkuzo

[2020-11-12 16:32] uwaisiqbal opened #47858 "Include padding_idx parameter for EmbeddingBag"
## 🚀 Feature

With `nn.Embedding` I can clearly specify the `padding_idx` so the model correctly understands how to deal with padding tokens. However, when I am using `nn.EmbeddingBag` I cannot specify the `padding_idx` parameter so the model can be thrown by the average being skewed with longer sequences of text with lots of padding.

This feature would be very useful when dealing with variable l

[2020-11-12 16:41] gchanan commented on #47844
maybe tf32?  Seems pretty unlikely, but possible.  torch.backends.cuda.matmul.allow_tf32 / torch.backends.cuda.matmul.allow_tf32 control that, you could ensure those are false on CUDA 11.

[2020-11-12 16:49] wlrkqdl opened #47859 "When I install pytoch, I have a error code about future"
## ❓ Questions and Help

Hi teams
Plz give me a info how the Fix this Error Code

I use this pytorch install code
### pip install torch==1.7.0+cpu torchvision==0.8.1+cpu torchaudio===0.7.0 -f https://download.pytorch.org/whl/torch_stable.html

Looking in links: https://download.pytorch.org/whl/torch_stable.html
Collecting torch==1.7.0+cpu
  Downloading https://download.pytorch.org/whl/cpu/torch-1.

[2020-11-12 16:59] saryazdi commented on #47851
I'm also facing this issue with PyTorch1.7. Simple code to reproduce the bug:
[code]
This raises the following error:
[code]

[2020-11-12 17:24] jiafatom commented on #44228
`sigmoid` is supported, I just tried pytorch master branch and it works.
In your script, it is written `x = nn.Sigmoid(x)`, I rewrite it as `x = nn.Sigmoid()(x)`.
Here is my script based on your script, and it works well.
[code]
This script works well in pytorch master branch.

[2020-11-12 17:25] ezyang commented on #47751
cc @dhruvbird @ljk53

[2020-11-12 17:27] ezyang commented on #47742
It looks like it's in c10 namespace to me:

[code]

Are you `using namespace c10` or `using namespace torch`?

[2020-11-12 17:53] cbasavaraj commented on #16943
@igiloh Looks like you are performing inference sequentially? It's nice to economise on GPU memory usage, but at the same time we want to have low latency right? The way I see it, the model weights need only be read, so multiple processes (maybe not threads due to python GIL) should be able to access and read the weights to perform inference. But in practice, haven't been able to get it work at al

[2020-11-12 17:56] seemethere commented on #47776
Testing to see if this will effect our python 3.9 builds for v1.7.1: https://github.com/pytorch/pytorch/pull/47867

[2020-11-12 17:57] malfet commented on #47776
Grabbing for myself

[2020-11-12 18:00] jlmaccal opened #47870 "Problem with nested gradient calculation"
## 🐛 Bug

I have a loss function that requires taking the dot product between the gradient of network and a vector. I give two seemingly identical formulations below. One formulation calculates the correct gradients with respect to network parameters and can minimize the loss to zero. The other formulation gives incorrect gradients and does not reduce the loss.

## To Reproduce

This version reduc

[2020-11-12 18:09] #47596 closed

[2020-11-12 18:12] ZolotukhinM commented on #38342
It looks like the issue could be closed now, please reopen if you notice other performance regressions and we will be happy to look into them!

[2020-11-12 18:12] #38342 closed

[2020-11-12 18:17] KsenijaS commented on #47182
@oneway234 Can you please send a full script so we can reproduce the issue. Thanks!

[2020-11-12 19:07] #47304 closed

[2020-11-12 19:29] mthrok commented on #47833
@anjali411 @mruberry I performed the benchmark and got an interesting result.

# Setup

## Script

<details>

[code]

</details>

## Environment

[code]

## Logs

### CPU - Vector

<details><summary> `power = 1,`, `tensor_size = 3` </summary>
*************************************************************************
Running benchmark: power: 1,, tensor_size: 3, method: abs.pow
*********************

[2020-11-12 19:29] mthrok commented on #47833
# Result

unit: `usec`

## CPU - Vector `shape = (tensor_size, )`

### `power = 1`

| method \ tensor size |    3 |  8000 |  16000 | 44100 | 32 * 44100 |
|----------------------|-----:|------:|-------:|------:|-----------:|
|`torch.abs`           | 13.8 |    36 |     57 |   118 |       3200 |
|`torch.linalg.norm`   |  6.8 |   113 |    219 |   586 |      18400 |
|`torch.norm`          | 10.1 |   11

[2020-11-12 19:32] zasdfgbnm commented on #47287
Hmm, even if you are running on two devices that do not support TF32, are they guaranteed to have the same result? cuDNN and cuBLAS could pick different algo on different devices.

[2020-11-12 19:35] mthrok commented on #47833
* The behavior of `torch.norm`/`torch.linalg.norm` should not differ based on the tensor shape (vector vs matrix)
* For Complex Tensors, any real value for power should be acceptable. (power=3 should work.)

[2020-11-12 19:37] mthrok commented on #47833
@mruberry The behavior of `torch.linalg.norm` is unstable. The memory consumption seems not linear to the size of input tensor  (something like `O(n^2)`?) , and cause OOM when the input tensor is large, while abs can efficiently compute this.

[2020-11-12 19:43] Ali2500 commented on #34808
For now, I've resorted to always using bilinear interpolation for resizing masks. This is of course slower and more memory intensive since the mask tensor has to be converted to float, interpolated and then thresholded to give a binary mask.

@colesbury: Any plans on addressing this in a future release? I understand that this is a 'breaking change' in that changes the behavior of a function, but t

[2020-11-12 19:54] jiafatom commented on #47204
I cannot reproduce your issue on my local box. See my script which is more or less same as yours:
[code]

And my env is almost same as yours, `mkl` does not make difference, see
[code]
It works smoothly, there is some warnings but it is fine and unrelated to your issue:
[code]

[2020-11-12 20:19] xunleiwu commented on #47553
I have the same issue with the master branch. Here is my environment
conda 4.9.2
Python 3.8.3
cuda 10.2
cudnn 8.0.2
nccl 2.6.4
gcc (GCC) 7.4.0
RHEL 7.8 with 3.10.0-1127.13.1.el7.x86_64

[2020-11-12 20:27] #41084 closed

[2020-11-12 20:29] mruberry commented on #47833
Those sound like good changes @anjali411 and we should investigate the memory consumption @mthrok.

Thanks for reporting these issues.

[2020-11-12 20:46] mthrok commented on #47833
https://docs.google.com/spreadsheets/d/1m_R5yE56M98TipHcQjWVtErqTQ3b0ICfflrpOTSpRtk/edit#gid=0

I reformatted the result par function

So, aside from the efficiency issue, the missing implementations of `torch.lingalg.norm` to support complex tensors are

- CPU
  - `ord=2` for vector-shaped tensor
  - `ord=3` for matrix-shaped tensor
- CUDA
 - `ord=1, 2, 3` for vector-shaped tensor
 - `ord=3` for

[2020-11-12 21:09] CamiloMM commented on #45731
As someone who thought, "hey, maybe it's time to learn Python, now that the 2.7 decade+ of incompatibilities is probably over"...

Well I'm disappointed but not surprised. I'm glad the current version of one of the most popular programming languages will *most likely* be supported by one of the most notable libraries *by the end of the year*.

Maybe I'm overreacting but I wish it wasn't like this.

[2020-11-12 21:12] rohan-varma commented on #47832
Hi @Hznnn, thanks for reporting this issue! Could you provide some more details as to how to reproduce this error?

Specifically, it would be very helpful to have your model definition and training script that reproduces this issue (as well as the environment/PyTorch version you are using).

[2020-11-12 21:21] seemethere commented on #47776
I believe this may be related to this PR: https://github.com/pytorch/pytorch/pull/47586

Tracked it down after looking through the changes and specifically pybind changes:

[code]

[2020-11-12 21:50] skyline75489 commented on #47859
Look, you have #47845. This is not a support forum. Please do not file duplicate issues.

As for this issue, try just install future, and see what happens. If there’s still an error, then it’s not a torch issue. If there’s no more error, then you can try install torch again.

[2020-11-12 21:53] skyline75489 commented on #47849
There is actually a issue for this #46930.

Are you using a non-official pypi ? Most people won’t hit the “ dataclasses' requires a different Python” when using official pypi.

[2020-11-12 21:57] JulesGM commented on #10670
I see, so the problem is the `.device("cuda")` calls?

[2020-11-12 22:07] skyline75489 commented on #47744
You may need to do a “python setup.py clean” and “git clean -xdf” to cleanup artifacts from last build.

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Grigory Arutyunov <notifications@github.com>
发送时间: Thursday, November 12, 2020 10:53:29 PM
收件人: pytorch/pytorch <pytorch@noreply.github.com>
抄送: Chester Liu <skyline75489@outlook.com>; Comment <comment@noreply.githu

[2020-11-12 22:09] SplitInfinity commented on #47496
I was not specific enough in my last comment - the index has to be a compile time literal.

[2020-11-12 22:11] SplitInfinity commented on #47496
Not quite - I think you would have to define a new interface type using `@torch.jit.interface` and use that as an annotation instead of `torch.nn.Linear`. Also, the linked PR only makes this indexing syntax possible for `ModuleDict`, but it is easily extendable to `ModuleList`. It wouldn't work out of the box even if you did define an interface type.

[2020-11-12 22:14] walterddr commented on #39333
confirmed using latest `gxx_linux-64` 7.3.0 worked. closing this

[2020-11-12 22:14] #39333 closed

[2020-11-12 22:19] skyline75489 commented on #47845
I’m gonna put it here in case someone sees this: GitHub is NOT a technical support forum. If you have questions regarding how to use torch, please use stackoverflow.

This issue does not seem to be related to torch itself.

[2020-11-12 22:23] yf225 opened #47883 "`.modules()` is not callable in TorchScript when any submodule is a module interface type (i.e. a class decorated by `@torch.jit.interface`)"
## 🐛 Bug

`.modules()` is not callable in TorchScript when any submodule is a module interface type (i.e. a class decorated by `@torch.jit.interface`).

## To Reproduce

[code]
Gives error:
[code]

## Expected behavior

`.modules()` unrolling in TorchScript should skip module interface types (since they don't have submodules), to make `.modules()` in TorchScript always work.

## Additional context

[2020-11-12 22:23] ArutyunovG commented on #47744
I removed the whole `build `folder manually with `rmdir build /s/q` before starting the new build. If that's not enough of course I can do it again starting with the suggested commands or even clone pytorch from scratch.

[2020-11-12 22:31] skyline75489 commented on #37068
Guys please use the GitHub reaction button instead, if you just want to “+1” on this.

And we are working on this in #42095.

[2020-11-12 22:37] skyline75489 commented on #47744
Unfortunately sometimes you do need to use “git clean -xdf” because some of the artifacts are not in build/. Sometimes even need to do “git clean” for each submodules.

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Grigory Arutyunov <notifications@github.com>
发送时间: Friday, November 13, 2020 6:24:15 AM
收件人: pytorch/pytorch <pytorch@noreply.github.com>
抄送: Chester L

[2020-11-12 22:37] seemethere commented on #45731
Update for everyone here, we've merged the code in to do nightly binaries for Python 3.9 but are currently hung up on uploading those binaries due to https://github.com/pytorch/pytorch/issues/47776

[2020-11-12 22:38] seemethere commented on #47849
Yes, how are you actually installing this?

[2020-11-12 22:40] ruipeterpan opened #47885 "NCCL 2.7.8 errors on PyTorch distributed process group creation"
## 🐛 Bug

NCCL 2.7.8 errors on PyTorch distributed process group creation

## To Reproduce

Steps to reproduce the behavior:

1. On two machines, execute this command with ranks 0 and 1 after setting the environment variables (`MASTER_ADDR`, `MASTER_PORT`, `CUDA_VISIBLE_DEVICES`):
[code]

## Expected behavior

A clean initialization w/o error

## Environment

- PyTorch version: 1.7.0+cu110
- Is de

[2020-11-12 22:55] kurtamohler commented on #47833
Thanks for sharing these issues!

This test exercises some of the unsupported complex features in `torch.linalg.norm` that I knew about at the time when I added it: https://github.com/pytorch/pytorch/blob/master/test/test_linalg.py#L550

I was planning on looking into adding the missing features--just haven't gotten to it yet.

I can look into the performance issues as well.

[2020-11-12 23:03] rohan-varma commented on #47587
I think https://github.com/WZMIAOMIAO/deep-learning-for-image-processing/blob/master/pytorch_classification/train_multi_GPU/model.py is also needed, otherwise the above script will give error on `from model import resnet34`.

[2020-11-12 23:04] kurtamohler commented on #47833
@mthrok, `ord=3` for matrix inputs is explicitly not something we support, since numpy does not support it. So that won't work for real number inputs either. However, we can consider adding it.

[2020-11-12 23:11] rohan-varma commented on #47498
Might possibly be related. @shuuchen, could you provide a full script that reproduces the issue and information about your environment, such as PyTorch version? Thank you!

[2020-11-12 23:27] WZMIAOMIAO commented on #47587
@rohan-varma I can import model, and run script successfully. If nw(number of works) > 1(for dataloader), I will encounter the problem described earlier(each epoch training and validation will wait about 10 seconds.). I guess it's the nw parameter setting problem as @pritamdamania87  said.  If I set nw to 0, every epoch training is normal and there is no waiting.

[2020-11-12 23:31] adodd202 commented on #18626
Support +1

[2020-11-13 00:12] jeffdaily commented on #10670
Today, using `.device("cuda")` will also work for ROCm PyTorch because we fully masquerade as CUDA when you build for ROCm.

[2020-11-13 00:52] mthrok commented on #47833
The code snippet looks like real-valued array. Is it the case for complex tensor too?

[2020-11-13 01:02] mthrok commented on #47833
@kurtamohler

`np.linalg.norm` support `ord=3` for complex tensor, however they returns a scalar value, which is different from what I originally had in mind. What I imagined I would get from `norm` is is element-wise norm of complex values, which is very useful in audio/signal processing domain.

[code]

[2020-11-13 01:09] wangzbo opened #47887 "Exporting a scripted LSTM failed with "Modules that are called during a trace must be registered as submodules of the thing being traced""
I am trying to export LSTM using torch.jit.script(), but failed with the error:

RuntimeError: **Tried to trace <__torch__.LSTMWrapper object at 0x7f9bade35020> but it is not part of the active trace. Modules that are called during a trace must be registered as submodules of the thing being traced.**

OS: mac 10.14.6
python: 3.7.6 64-bit
pytorch: 1.6.0

Here is the simple code to recreate:

[code]

[2020-11-13 01:14] Hubes92 commented on #18626
support +1

[2020-11-13 01:19] Ca0L commented on #47844
Thanks for help. I set `torch.backends.cuda.matmul.allow_tf32 = False` and I get correct loss value. `torch.backends.cudnn.allow_tf32` seems to have no impact on the result. That sounds like the error produced by FP32 is too large for training?

[2020-11-13 01:22] eellison commented on #47883
I think people would be pretty confused that modules() didn't call the submodules for interfaces - typically if an interface doesn't implement a method and you attempt to call it, you get an error message, not silently not emitting the call.

[2020-11-13 01:26] WZMIAOMIAO commented on #47587
And I found that if I replaced
[code]
with
[code]
can solve the problem described earlier even nw > 1. In the official document of Pytorch, sometimes ```mp.spawn()``` is used, sometimes ```Process``` is used, but it is not known what method should be used under what circumstances.

[2020-11-13 01:39] yf225 commented on #47883
Would the workaround be to add `.modules()` override (and have it return empty list) in a module interface type? This can work for us too.

[2020-11-13 01:45] Hznnn commented on #47832
PyTorch Version: 1.5.1+cu101
Linux: Ubuntu 14.04
Python version: 3.7.0

torch.cuda.set_device(local_rank)
torch.distributed.init_process_group(backend='nccl',init_method=init_method,world_size=world_size,rank=rank)
model = model.cuda()
model = torch.nn.parallel.DistributedDataParallel(model)

The same problem occurred on all nodes.

[2020-11-13 01:49] malfet commented on #47776
Here is a symbolicated backtrace:
[code]

Python C-API documentation unambiguously warns that calling `PyEval_RestoreThread` while python runtime is finalized will result in thread termination:

[2020-11-13 01:50] malfet commented on #47776
Following patch against pybind11 fixes it:
[code]

[2020-11-13 02:38] malfet commented on #47776
Testing the patch in https://github.com/pytorch/pytorch/pull/47891

[2020-11-13 02:39] searchivarius commented on #30867
HI @wuzhi19931128 and @gchanan what is exactly a model definition file? I have been thinking about a proper intermediate way of loading a model that does not unpickle everything, yet "remember" key model parameters. I wonder if the model definition can be helpful.

Shortly, the current way of restoring/loading weights is actually not very usable, because you need the proper variables and parameter

[2020-11-13 02:45] rohan-varma opened #47892 "In distributed_test, pass in smaller timeout to init_process_group"
Currently in our distributed unittests, we fail a unittest with a timeout if it does not pass within 100 seconds. However, for example when NCCL operations are hanging, we wait for the default timeout passed into `init_process_group` before aborting them and crashing the process with an error, which is 30 minutes. It would probably be beneficial to reduce this timeout and pass in maybe 30 or 50s i

[2020-11-13 03:29] binhongwang commented on #47342
Hi ejgun

I can't reproduce this issue.It is strange.Have you fix this bug on org.pytorch:pytorch_android:1.6.0?

[2020-11-13 03:52] peterjc123 commented on #47422
@ezyang @skyline75489 So let's follow this route.

[2020-11-13 04:08] mthrok commented on #46409
So, using `multiprocessing.set_start_method('spawn')` did not resolve the issue, but setting the DataLoader constructor argument `multiprocessing_context=torch.multiprocessing.get_context('spawn')` is a valid workaround. https://github.com/pytorch/audio/pull/1024

Lhotse also experienced the same issue https://github.com/pytorch/audio/issues/1021 on Linux and setting the constructor argument of `c

[2020-11-13 04:43] ezyang commented on #41857
Amusingly enough: https://github.com/google/jax/issues/4891

[2020-11-13 04:52] colesbury commented on #47776
With the above patch you will be calling into Python from a background thread without acquiring the GIL. The internals are not thread-safe: this may work in some tests, but will crash in others.  Additionally, there is a race condition between the check of _Py_IsFinalizing and the subsequent call to PyEval_RestoreThread.

I'd suggest:
1) Don't use RAII for PyEval_RestoreThread/PyEval_SaveThread in

[2020-11-13 05:20] mattjj commented on #41857
That JAX issue was spurred by of a conversation at the PyTorch dev meeting!

There's no "right" answer here, as it's just a convention for the `grad` wrapper, but I think it's slightly cleaner to define `grad` as `jnp.vdot(grad(f)(x), v) == jvp(f, (x,), (v,))` rather than `jnp.dot(grad(f)(x), v) == jvp(f, (x,), (v,))` (where `vdot` models the standard inner product, where `dot` models matrix-vecto

[2020-11-13 05:25] mattjj commented on #41857
By the way, just because I don't see it mentioned here and because I think it provides a useful overview of these ideas, it might be worth checking out the [JAX autodiff cookbook section on differentiation with complex numbers](https://jax.readthedocs.io/en/latest/notebooks/autodiff_cookbook.html#Complex-numbers-and-differentiation).

[2020-11-13 05:37] mruberry commented on #47833
We can definitely support additional functional like more values to "ord."

[2020-11-13 05:42] OverLordGoldDragon opened #47897 "MaxPool1d wrecks Python kernel"
[code]
This forces the Python kernel to crash and restart (reproduced in Spyder, JupyterLab, and terminal console); below, however, avert it:

 - Use `x.real` (or drop `+ 1j`)
 - Use `100000` instead of `200000`
 - Use `AvgPool1d`

Win10 x64, torch 1.7.0.

[2020-11-13 06:06] FabianIsensee commented on #47837
Hi, thanks for your reply. I have already set the variable to contain only the architectures that we have in our cluster: `export TORCH_CUDA_ARCH_LIST="6.1;7.0;7.5"`
So that's not it :-/

[2020-11-13 06:14] xwang233 commented on #47897
Might be a duplicate of https://github.com/pytorch/pytorch/issues/47054. MaxPool1d for non-contiguous tensor

[2020-11-13 06:16] parameciumvance opened #47899 "Tensor iteration changes behavior in 1.7 with no hint"
## 🐛 Bug
This slice of code
[code]
works in 1.6 but throws RuntimeError in 1.7.

Under researching I found the method Tensor.__ iter__ changes from
`iter(map(lambda i: self[i], range(self.size(0))))`[1.6.0] to `iter(self.unbind(0))`[1.7.0]

Also noticed that there is an issue(#36608), which is still open, about failure of inplace operation after torch.unbind.

[2020-11-13 06:21] learner760221 opened #47900 "Intellisense on Windows doesn't report real error message by default"
## 🐛 Bug

Hi Guys:
I use CMake and the CMakeLists.txt is from pytorch.org , Libtorch 1.7 and Visual studio 2019,
I can output a tensor, it works just fine.
But there is a exception happened, when I simply run backward().
![image](https://user-images.githubusercontent.com/74396740/99035291-4794a200-25ba-11eb-862e-1d8359dfc255.png)

CMakeLists.txt I used.(just from pytorch.org )
![image](https://use

[2020-11-13 06:22] zasdfgbnm opened #47901 "Get forward output, grad, hessian all at once"
## 🚀 Feature

Currently the functional API `torch.autograd.functional.hessian` takes a function and input, and output hessian. However, when hessian is required, the forward result and first-order derivative are usually also required.

While it is possible that users can call other autograd APIs to obtain forward output and first-order derivative, this is not efficient because we are running the f

[2020-11-13 06:25] serenaklm opened #47902 "Issues with new implementation of layernorm"
## 🐛 Bug

Implementation of layernorm after torch==1.4.0 uses in-place operation.

## To Reproduce

Hi, I have a code that runs a double gradient computation and the following error message is shown when executing the code with torch==1.7.0:

![image](https://user-images.githubusercontent.com/34397223/99035809-621b4b00-25bb-11eb-933c-9473098d100b.png)

When looking at the stack trace:

![image](ht

[2020-11-13 06:26] OverLordGoldDragon commented on #47054
I'll note that size is a factor in whether a non-contiguous fails:

[code]

[2020-11-13 06:26] #47897 closed

[2020-11-13 06:32] peterjc123 commented on #47900
It seems to be an known issue on Windows 7. Could you please provide a backtrace or sth?

[2020-11-13 06:34] DeriZSY opened #47904 "Memory leak in nn.MaxPool2d layer when run on iOS"
## 🐛 Bug
I create a simple network with two conv+relu layers followed by a max-pooling layer and test the model on the `HelloWorld` project from [official iOS demo of pytorch](https://github.com/pytorch/ios-demo-app). And found that `nn.MaxPool2d` layer will cause a memory leak.

## To Reproduce

Code for network structure
[code]

Code for testing on iOS comes directly from the `HelloWorld` projec

[2020-11-13 06:40] learner760221 commented on #47900
After putting all .pdb files into executed dir, I got this further error information.
**in c10 namespace**
![image](https://user-images.githubusercontent.com/74396740/99037089-01d9d880-25be-11eb-8bfa-939de73d95bb.png)

[2020-11-13 06:41] learner760221 commented on #47900
![image](https://user-images.githubusercontent.com/74396740/99037255-4feedc00-25be-11eb-9360-d4aaeec2da05.png)

[2020-11-13 06:48] peterjc123 commented on #47900
Could you please double link the second highlighted line in your second pic and then share a new screenshot?

[2020-11-13 06:51] learner760221 commented on #47900
@peterjc123  thanks you in advance. ^^
![image](https://user-images.githubusercontent.com/74396740/99037962-b58f9800-25bf-11eb-9f31-5d83a0045f38.png)

[2020-11-13 07:06] peterjc123 commented on #47900
No, I mean the line starting with `torch::autograd::_make_grads`.

[2020-11-13 07:16] bbap-7fat commented on #9375
https://github.com/pytorch/pytorch/pull/9492 is to fix the spatial = 1, how about spatial = 0 case?

[2020-11-13 07:30] skyline75489 commented on #47900
I can actually reproduce this on Windows.

@learner760221  It would be nice if you just paste the code like this:

[code]

[2020-11-13 07:32] as754770178 opened #47906 "amp for custom op"
I want use amp in `https://github.com/open-mmlab/mmcv/blob/master/mmcv/ops/roi_align.py`.

I refer to `https://pytorch.org/docs/stable/notes/amp_examples.html#functions-with-multiple-inputs-or-autocastable-ops`, and Apply custom_fwd and custom_bwd (with no arguments) to forward and backward respectively. I modify code :
[code]
The code still report error:
[code]

what did `custom_fwd` and `custom_

[2020-11-13 07:37] #47748 closed

[2020-11-13 07:47] LukeAI commented on #47109
@stas00 yeah - I would really like the option to use rtx3080s in the future without having to upgrade everything, but if support for 11.0 gets dropped quickly (as it was with 10.0) then I might be better off going with 10.2 and just moving all of the machines to 11.X when I actually get the cards - but any cuda upgrade across many systems is a big job so I feel slightly in limbo here.

[2020-11-13 08:20] learner760221 commented on #47900
@skyline75489  OK ^^

[2020-11-13 08:21] learner760221 commented on #47900
It can not find the related cpp file.
![image](https://user-images.githubusercontent.com/74396740/99045388-381e5480-25cc-11eb-99b8-9a2de918fb34.png)

[2020-11-13 08:26] faizanahemad commented on #42832
I think mentioned this in getting started of pytorch website (https://pytorch.org/get-started/locally/). It only mentions that "It is recommended that you use Python 3.5 or greater" but not that 3.9 is not supported.

[2020-11-13 08:29] rohan-varma commented on #47559
Hi, please use the forums https://discuss.pytorch.org/ for general questions/how-to's. Thank you!

[2020-11-13 08:29] #47559 closed

[2020-11-13 08:32] learner760221 commented on #47900
Thanks for trying that in Win10, because I plan to try it on Win 10. But I don't have to now.

[2020-11-13 08:38] klyjm opened #47908 "The speed of pytorch with cudatoolkit 11.0 is slower than cudatoolkit 10.2"
## 🐛 Bug

When I update the pytorch to 1.7, the cudatoolkit is updated automaticlly to 11.0, and I find the speed of the same code is slower too much than before. So I change the version of the cudatoolkit back to 10.2, the speed is normal. Maybe I should update the cudnn version in Ubuntu?

## To Reproduce
I just use the same code in the same device with the same environment only change the versi

[2020-11-13 08:48] #47631 closed

[2020-11-13 09:05] skyline75489 commented on #47900
The error was caused by this line https://github.com/pytorch/pytorch/blob/e85d494707b835c12165976b8442af54b9afcb26/torch/csrc/autograd/autograd.cpp#L45

And I think it's expected? The `output.numel()` is 4 in this case, and the assertion is `output.numel() == 1`.

[2020-11-13 09:12] learner760221 commented on #47900
it seems that you got all the source code and can debug line by line.
Am I right ?
Where can I get all the source codes and debug like you did ?

[2020-11-13 09:14] peterjc123 commented on #47900
@learner760221
[code]

[2020-11-13 09:18] skyline75489 commented on #47900
Well, there's your beginner's guide:

See that "测试并寻找 autograd.cpp" button? All you need to do is find the correct version of `autograd.cpp`. In this case, you'll need v1.7.0 version of PyTorch. You can do this locally using `git checkout` , or you can use Github to browse the code at `1.7.0` (https://github.com/pytorch/pytorch/blob/v1.7.0/torch/csrc/autograd/autograd.cpp). Once you found the sour

[2020-11-13 09:20] skyline75489 commented on #47900
@peterjc123 One thing I didn't expect is that the error message in `TORCH_CHECK` seems to be completely ignored. Is this normal? This would cause so many users confused with the exceptions, because there's no way they would know whether the error is cause by user code or PyTorch itself.

[2020-11-13 09:31] peterjc123 commented on #47900
@skyline75489 It isn't ignored (as you can see the message in the original command prompt) but is not properly shown in Intellisense. Maybe we should improve it.

[2020-11-13 09:36] oneway234 commented on #47182
hi,
Thanks for reply!

This is my [project](https://github.com/oneway234/torch_to_onnx).

The main problem is the function "[overlap and add](https://github.com/oneway234/torch_to_onnx/blob/d2ab90f06ff090923bb1cc4e7d3abc3f0de9208e/signal_processors/utils.py#L9)" which is used in module decoder.

I removed this function and converted it again. It worked!

Obviously the convertor can not convert thi

[2020-11-13 09:40] oneway234 commented on #46898
It's seem not this problem, plz move to[ here ](https://github.com/pytorch/pytorch/issues/47182#issuecomment-726251429)to see detail.

[2020-11-13 09:40] #46898 closed

[2020-11-13 09:46] peterjc123 commented on #47900
@skyline75489 After some simple googling, it seems that VS itself doeen't enable viewing the message of an exception on default. You'll have to switch it on manually. https://stackoverflow.com/questions/43231974/can-i-view-an-unhandled-exception-in-the-visual-studio-2017-debugger/46348413

[2020-11-13 09:48] skyline75489 commented on #47900
Yeah I found it, too. I feel terrible that people have to explicitly catch it like this:

[code]

It would confuse so many people..

[2020-11-13 09:52] peterjc123 commented on #47900
@skyline75489 Maybe you should put up an issue to the VS team as a MSFT employee. LOL.

[2020-11-13 09:55] peterjc123 commented on #47900
@albanD Any thoughts on this?

[2020-11-13 09:56] skyline75489 commented on #47422
I've filed an initial PR #47905 for this. @peterbell10  @ezyang  Could you guys please help review to make sure I'm understanding this correctly ?

[2020-11-13 09:57] caniko commented on #25639
I really need this feature for my python packages. I am willing to help, what is holding us back?

[2020-11-13 10:12] skyline75489 commented on #47900
I think that adding more logging would also help. Otherwise, there's almost no information provided by LibTorch itself.

Is there some kind of debug switch we could ask people to use?

[2020-11-13 10:19] TaiXuan91 opened #47911 "many errors in libtorch headers when create a custom dll in visual studio"
## 🐛 Bug

Visual Studio report many errors in a custom dll project which using libtorch.

These errors never appears in a exe project.

And use opencv in the same way is ok.

## To Reproduce

Steps to reproduce the behavior:

1. Create a dll project (with exports)
1. configure project include directories and linker properly.
1. add `#include <torch/torch.h>` in your source
1. press build button.

[2020-11-13 10:22] TaiXuan91 commented on #47911
my libtorch is debug edition

[2020-11-13 10:30] skyline75489 commented on #47911
You need to provide more info. What exactly are these errors? Log, screenshot, or anything. You can not just expect us to magically know what you issue is without providing enough information.

[2020-11-13 10:35] Konstantina-Lazaridou commented on #32968
@tianleiwu thanks for this. I just tried it with exporting the `bart-large-mnli` model, but I got this erros:

[code]

[2020-11-13 10:52] TaiXuan91 commented on #47911
@skyline75489 some error logs:
Severity	Code	Description	Project	File	Line	Suppression State
Error	C2059	syntax error: 'const'	SinoDLL	E:\Libs\libtorch_debug\include\c10\util\C++17.h	348
Warning	MSB8004	Output Directory does not end with a trailing slash.  This build instance will add the slash as it is required to allow proper evaluation of the Output Directory.	SinoDLL	C:\Program Files (x86)\Mic

[2020-11-13 11:36] jenuk commented on #47513
So I actually have a loss that is negative and should be as close to zero as possible. But both `mode='min'` and `mode='max'` do not work for this. If my previous result is `a` then the accepted interval (all results accepted as better) is `(-infinity, (1-threshold)*a)` for minimization and `((1+threshold)*a, infinity)` and both accept some values below and above `a` itself.

My solution is to pas

[2020-11-13 12:32] skyline75489 commented on #47911
From what I see the important line is this one:

[code]

Most of the time this indicates that your code is messed up by the `MIN` and  `MAX` macros provided by `windows.h`

You need to define `NOMINMAX` to avoid this kind of errors.

[2020-11-13 13:38] arsenzaryan commented on #46024
isn't that a serious problem if ```torch._C._nn.nll_loss2d``` is nondeterministic? Or we should expect in the future that this is the normal behavior?

[2020-11-13 14:18] arsenzaryan opened #47912 "Code becomes more than x20 slower after upgrading torch version"
## Problem
My code runs very fast in the environment with torch 1.5.1 and cudatoolkit 10.2.89.
But in 2 other environments with torch and cudatoolkit versions (1.6.0, 10.1.243) and (1.7.0, 10.2.89) the same code becomes more than 20 times slower.

## To Reproduce
here's the code:
[code]

## Expected behavior

I've noticed the problem when simply tried to move my code from one conda environment to

[2020-11-13 15:02] ArutyunovG commented on #47744
Deleted pytorch folder, cloned it again, unfortunately build still fails with same linker errors.
[pytorch_unresolved_3.txt](https://github.com/pytorch/pytorch/files/5537529/pytorch_unresolved_3.txt)

Updated description of the issue to match current actions and environment.

[2020-11-13 15:05] mszhanyi commented on #47845
We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2020-11-13 15:17] danFromTelAviv opened #47915 "sparse filter layers (more specifically convolutions)"
## 🚀 Feature
The ability to force layer's weights to be sparse with some input mark so that for example a 1d convolution that has a weight matrix with m*n weights would have a sparse matrix of size m*n with some portion of that matrix being null.
This should be accompanied by efficient implementations.

## Motivation

there's a ton of works that promise reduced model weights and speed-ups without

[2020-11-13 15:32] albanD commented on #47900
@peterjc123 my thoughts about the error or the reporting?
For the error, the python version of that code:
[code]
Does raise the proper error: "RuntimeError: grad can be implicitly created only for scalar outputs"

And I guess that this is the message in the TORCH_CHECK that happens in c++ is very similar?
So the error message itself sounds good to me.

For the reporting side. I am not sure to gras

[2020-11-13 15:36] llchan opened #47916 "Hash mismatch for METADATA file"
## 🐛 Bug

The METADATA file distributed in the wheel seems to not match the one listed in RECORD.

## To Reproduce

Steps to reproduce the behavior:

1. Download wheel (confirmed that hash matches the ones listed on pypi)
[code]
2. Confirm that sha256sum matches
[code]
3. Try to unpack wheel
[code]

## Expected behavior

No error

## Environment

 - PyTorch Version: 1.7.0 (possibly previous versio

[2020-11-13 15:38] srohit0 commented on #47204
@jiafatom - that's likely because you've not trained the model.

Unfortunately, I can't give you proprietary customer data. I'll help as much as I can.

You must add the missing piece, if you're interested in reproducing the issue.

[2020-11-13 15:45] christian-rauch opened #47917 "LibTorch cannot load PyTorch exported model"
## 🐛 Bug

Since [version 1.6](https://github.com/pytorch/pytorch/releases/tag/v1.6.0) models are exported with the same serialisation format that is used by TorchScript:

And indeed, the exported archives have a similar file structure.

The exported archive indeed has a similar file structure as the TorchScript serialisation format, but it is still not possible to load this archive in LibTorch.

#

[2020-11-13 15:51] ezyang commented on #47824
Just to confirm, are you using DDP or not in this example?

Also, what version of PyTorch are you using.

[2020-11-13 15:52] #47835 closed

[2020-11-13 15:53] #47826 closed

[2020-11-13 15:55] ezyang commented on #47846
I recommend posting to the forums with more details about what error message happened in the Jupyter logs, they should help there. If it emerges that there's likely to be a PyTorch problem, feel free to open a new issue with more details. This isn't enough information for us to help.

[2020-11-13 15:55] #47846 closed

[2020-11-13 15:57] ezyang commented on #47858
dupe of https://github.com/pytorch/pytorch/issues/3194

[2020-11-13 15:57] #47858 closed

[2020-11-13 15:57] ezyang commented on #3194
Increasing priority based on user activity

[2020-11-13 16:00] ezyang commented on #47870
This is indeed pretty strange. I'm guessing it has to do with some variables becoming dead when you factor it out into a variable. But that should result in an error...

[2020-11-13 16:01] #47859 closed

[2020-11-13 16:01] ezyang commented on #47851
@albanD this is the new is differentiable type stuff we added right?

[2020-11-13 16:05] #47617 closed

[2020-11-13 16:05] #44498 closed

[2020-11-13 16:05] ezyang commented on #7343
related https://github.com/pytorch/pytorch/pull/24368

[2020-11-13 16:06] stas00 commented on #47109
I'm not sure why you find that the upgrade is cumbersome, since it's all bundled together and not touching on the system files it should be very easy to move from cudatoolkit-10.2 to cudatoolkit-11.x (assuming the code is not impacted), or 11.0 to 11.1
[code]

it's not that the support for lower minor versions is dropped, it's just that binaries are not being built anymore for those (.0 typically)

[2020-11-13 16:06] ezyang commented on #7352
this error is pretty obscure and hasn't really shown up recently, so maybe all is well.

[2020-11-13 16:09] ezyang commented on #7401
I'm going to guess we've fixed this on master, feel free to reopen if you can still repro on 1.7

[2020-11-13 16:09] #7401 closed

[2020-11-13 16:09] ezyang commented on #7428
we don't use catch anymore, guessing this not a problem

[2020-11-13 16:09] #7428 closed

[2020-11-13 16:17] ezyang commented on #47844
we need a TF32 tag. @ngimel do you know who the right people to cc are?

[2020-11-13 16:17] ezyang commented on #47844
Marking high prio because the tutorial no longer works

[2020-11-13 16:22] lith0613 opened #47918 "Calculate the inverse of sparse matrix"
I want to calculate the inverse of a sparse matrix, how can I do this ?

for example
[code]

then will get the error:
[code]
Maybe a possible solution is turn to dense and calculate the inverse, but if I turn to dense, it will be out of memory and exit 137.

[2020-11-13 16:24] ezyang commented on #47837
The ld on your cluster looks pretty old, any way of upgrading it?

[2020-11-13 16:27] FabianIsensee commented on #47837
I would need to pester the admins with that. If there is a strong indication that this is causing this issue then I can try to do that. I posted the version of ld above to see whether this would stand out as a potential problem. How confident are you that this is the underlying problem (this will help me convince the admins to update it)?

[2020-11-13 16:41] samestep commented on #47916
Good catch, thanks! I'm able to reproduce, and the issue does _not_ occur for version 1.6.0:

1. Download wheel
[code]
2. Confirm that sha256sum matches
[code]
3. Unpack wheel
[code]

[2020-11-13 16:43] yuuho commented on #45198
I also check it in the nightly version (pytorch-1.8.0.dev202).
In conclusion, the problem was not solved. Check the environment I ran below.
(https://gist.github.com/4bff1fe6783b3d6660a82c8dfd71cc9d.git)

I ran this code under the conda environment.
The driver version is 455.38 and the GPU used is V100.

[2020-11-13 16:43] albanD commented on #7343
Note that since then, we added a couple warnings to the doc to try and deter users from doing this.
Also note that people that use the new `zero_grad(set_to_none=True)` will break the cycle and avoid the leak !

[2020-11-13 16:58] albanD commented on #47851
For some reasons, out `torch.unique` implementation is not differentiable. While it was silently returning wrong results before, some recent tests now do raise errors.
But while some of the c++ backend binding is properly marked as such, some other part is ignored and doing bad stuff :/

In particular, all these functions [here](https://github.com/pytorch/pytorch/blob/d4db4718faf3d6280363a58d02beb

[2020-11-13 17:12] albanD commented on #47870
It took me a while to see it but in your second version you do `grad_output = torch.zeros_like(output)`. With `zeros_like` instead of `ones_like`. So all your gradients will be 0.

Changing that back makes it work just fine :)

[2020-11-13 17:16] albanD commented on #47901
I do agree with you.
The main reason why this is not already done is because I'm not sure how to have a nice API that does that.
In particular, having a flag that changes what the function returns is not great. But having one function for each doesn't sound optimal either. Do you have any ideas?

[2020-11-13 17:16] namespace-Pt opened #47921 "Integrate torchtext.data.functional.numericalize_tokens_from_iterator and torchtext.data.utils.get_tokenizer"
## 🚀 Feature

## Motivation

Since torchtext.data.Fields will be retired, I tried to refactor my codes using *get_tokenizer* and *numericalize_tokens_from_iterator* api, however, when I'm trying to convert raw text of multiple fields into wordID vectors according to a pre-defined dictionary, I find it's hard to straighten out the logic beyond these two api because *numericalize_tokens_from_iterato

[2020-11-13 17:29] brando90 commented on #1204
@soumith

I am also getting this error. This is the error:

[code]

My gpu:

[code]

[2020-11-13 17:29] ezyang commented on #47670
dupe of https://github.com/pytorch/pytorch/issues/25639

[2020-11-13 17:29] #47670 closed

[2020-11-13 17:29] ezyang commented on #25639
bumping priority based on user activity

[2020-11-13 17:37] albanD commented on #46918
Thanks for the code sample that makes things much clearer!

I think what you want to change is this line: `x = h(x, g_partial_with_create_graph, True)` to actually set the `create_graph=False`. At this level, you don't actually want to create the graph. Only the jacobian call done by `g_partial_with_create_graph` needs `create_graph=True` because this one is differentiated.

Another approach, if y

[2020-11-13 17:45] ababushk commented on #40698
I've faced the same issue when tried to build Torch in manylinux2010 Docker image (https://github.com/pypa/manylinux), which is based on CentOS 6 in order to produce binaries compatible with old Linux distros.
In my case, I was able to switch to manylinux2014, which is based on CentOS 7 and the build has passed. I'm not sure why, because they contain the same GCC 9.3.0, however manylinux2014 ships

[2020-11-13 17:53] seemethere commented on #47820
Dupe of #47109, closing

[2020-11-13 18:15] arthurdjn commented on #47575
I found my mistake.
The issue was related to **WSGI** threads (and not **Flask** nor **PyTorch**), that's why the error occured only when I deployed my application.

For anyone who is facing the same problem, you can correct the virtual host configuration file. You will need to make sure that the application is running in the Python interpreter, read [`mod_wsgi` documentation](https://modwsgi.read

[2020-11-13 18:27] spandantiwari commented on #32968
Does this specific error have anything to do with PyTorch or is this a different converter?

[2020-11-13 18:32] spandantiwari commented on #47204
@srohit0  - I am wondering if there's a change in topology of the model when it is trained?
Also, I see that you are using `torch.onnx.OperatorExportTypes.ONNX_ATEN_FALLBACK`, which means that this is not ONNX export.
Can you try with torch.onnx.OperatorExportTypes.ONNX and see if you get any issues. If you do, it will be great if you can provide a repro so that we can investigate.
If this is bloc

[2020-11-13 18:37] peter197321 opened #47927 "PyTorch Mobile build from source"
I'd like to build just PyTorch Mobile from the source for the mobile device. Is there a procedure to have just PyTorch Mobile built? Or is needed to have the whole PyTorch build included and how it distinguishes between PyTorch vs. PyTorch Mobile then?

[2020-11-13 18:38] zasdfgbnm commented on #47844
I can not reproduce on CUDA 11.1... It could be an issue with CUDA 11.0? Will look into it.

[code]

[2020-11-13 18:54] ezyang commented on #47043
@kurtamohler Thank you for the detailed analysis; in particular, narrowing it down to FMA is really useful. You didn't say so explicitly, but it makes sense that FMA would cause this problem, as it changes the rounding behavior of the operation: multiply-add does two rounds, whereas fused multiply-add only does one round. I'm guessing that in this particular case, that's enough extra precision to

[2020-11-13 19:05] kurtamohler commented on #47043
Yeah I think that's a reasonable argument @ezyang .

On the topic of better performance, I think using my `Vec256::arange_index_offset` instead of `Vec256::arange` should improve performance. I haven't actually measured it, but it does cut out one add and one multiply. Furthermore, we could make the operation be actually vectorized for AVX, rather than just unrolled. I'd be more than happy to do a

[2020-11-13 19:12] brando90 commented on #1204
ok this is really annoying that pytorch does not have good documentation for this. The error seems to be for me that I have 5 output units but there are 64 labels. Of course that is wrong but the error returned by pytorch makes this impossible to track. I recommend to fix this.

I think I solved it thanks to this blog: https://towardsdatascience.com/cuda-error-device-side-assert-triggered-c6ae1c8f

[2020-11-13 19:19] brando90 commented on #25537
I had a similar error and for me it was resolved with this link:
[code]

does this not solve it for you?

[2020-11-13 19:22] willfrey commented on #46930
Would it be possible to do a 1.7.1 release on PyPI with this change? 🙏

[2020-11-13 19:27] ccoulombe commented on #46930
@seemethere Can you close further commenting? The issue contains the fix :
https://github.com/pytorch/pytorch/issues/46930#issuecomment-719960757

[2020-11-13 19:29] willfrey commented on #46930
@ccoulombe I'm using Poetry, so hacking around with `pip` isn't an ideal solution for me.

[2020-11-13 19:34] ezyang commented on #47043
I think I agree `arange_index_offset` may indeed still be a good thing to do anyway, but it's mostly orthogonal to this issue report :)

@coquelin77 Coming back to you, we think this might just be "expected" behavior. Does this leave you in a bad spot, e.g., it is now not easy for you to get the right behavior one way or another?

[2020-11-13 19:38] ezyang commented on #47599
Thank you for the colab, it is very instructive. I indeed agree that symeig1 doesn't synchronize, but symeig2 does.

[2020-11-13 19:44] ezyang commented on #47599
I'm still digesting the colab, but I had one other quick question: would it be useful to have a case of something like "yes it's degenerate, but trust me, we didn't depend on the degenerate eigenvectors", as opposed to directly checking for it as you do in symeig2.

[2020-11-13 19:52] ProGamerGov opened #47931 "Unknown DispatchKey when indexing tensor with named dimensions"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Create a tensor and rename it's dimensions.

2. Use indexing like I have in the test code (forget what it's called).

[code]

Results in this error message:

[code]

## Expected behavior

There should be no error just like when using a tensor without named dimensions.

## Environment

[code]

cc @zou3519

[2020-11-13 19:52] willfrey commented on #46930
Pinning dataclasses to 0.6 worked as a workaround.

[2020-11-13 20:09] SsnL opened #47932 "[doc] jit.fork doc is badly formatted and missing example"
## 📚 Documentation

jit.fork doc is badly formatted and missing example.
![image](https://user-images.githubusercontent.com/5674597/99116516-289a0e00-25c2-11eb-9724-3ab9f59bb5c5.png)

cc @gmagogsfm

[2020-11-13 20:33] leriomaggio commented on #46648
I can confirm the very same issue of @ThoenigAdrian with the following configuration:

[code]

Everything works fine if I switch back to Python 3.7.

In my very humble opinion it seems related to `multiprocessing` with Python 3.8 on Win/Mac, and a `spawn` Vs `fork` situation.  Same settings, on Linux works perfectly!

[2020-11-13 20:42] kurtamohler opened #47934 "Throw error if `kthvalue` `out` argument overlaps with input"
## 🐛 Bug

As discussed [here](https://github.com/pytorch/pytorch/pull/46942#issuecomment-727008531), calling `kthvalue` like `torch.kthvalue(a, k, out=(a, indices))` produces a buffer overflow. Natalia suggested disallowing outputs that overlap with the input.

cc @VitalyFedyunin

[2020-11-13 21:02] david-macleod commented on #47496
Thanks for your help, I can confirm the `ModuleDict` + interface solution works, although in the end I went for something which allowed me to keep using `ModuleList`

[code]
 Seems to get round the limitation of not being able to use `break`, and cheap for the case where `len(my_module_list)` is relatively small.

Given that the issue here seems to be that we cannot determine the returned type at

[2020-11-13 21:05] SplitInfinity commented on #47496
Precisely. The inline annotation with an interface type during indexing is the next best thing.

[2020-11-13 21:13] david-macleod commented on #47496
Thanks!

[2020-11-13 21:13] #47496 closed

[2020-11-13 21:21] mfkasim1 commented on #47599
It'd be still useful, at least in my case.
If the loss function depends on which linear combinations of eigenvector, they shouldn't expect any gradient anyway.

[2020-11-13 21:36] ezyang commented on #47043
For posterity, it IS possible to selectively disable fma: https://twitter.com/colesbury/status/1327331440992849923

[2020-11-13 21:39] jlmaccal commented on #47870
@albanD Yes, my apologies. This looks like a stupid error on my part.

[2020-11-13 21:39] #47870 closed

[2020-11-13 22:06] darkAlert commented on #15378
I need it ...

[2020-11-13 22:21] SsnL commented on #46648
Have you tried doing what the error message says, wrapping with `if __name__ == '__main__':`?

[2020-11-13 22:27] osalpekar opened #47943 "Resolve NCCL Error Handling Modes Ambiguity"
## 🚀 Feature

There are currently 2 different modes for handling errors and timeouts in ProcessGroupNCCL: NCCL_ASYNC_ERROR_HANDLING and NCCL_BLOCKING_WAIT. They provide different guarantees in terms of their functionality, and it is best not enable both at the same time.

In particular, NCCL_BLOCKING_WAIT blocks the main thread until the collective has completed or timed out and throws an exceptio

[2020-11-14 00:02] zasdfgbnm opened #47948 "assertEqual does not compare scalar numpy.ndarray with torch.Tensor correctly"
## 🐛 Bug

Add a new test

[code]

run this test, it will fail with something like
[code]

It will not fail if you have a non-scalar tensor `a`

cc @ezyang @gchanan @zou3519 @bdhirsh

[2020-11-14 00:03] mruberry commented on #47948
We should not only fix this ASAP but improve our test test coverage to ensure this doesn't happen in the future.

[2020-11-14 00:04] smessmer commented on #47921
Hi, thanks for reporting. Can you open an issue on the torchtext repository instead? https://github.com/pytorch/text/issues

[2020-11-14 00:04] #47921 closed

[2020-11-14 00:10] #47845 closed

[2020-11-14 00:12] #47911 closed

[2020-11-14 00:15] TaiXuan91 commented on #47911
@skyline75489 Thanks, it works.

[2020-11-14 00:26] #43995 closed

[2020-11-14 00:36] HeyangQin commented on #31285
I came across this error message on GeForce 1080 card and cuda 10.2 which should have compute capability of 6.1. No idea why this still happens.

[2020-11-14 00:42] shoutOutYangJie commented on #47824
yes,I am using ddp. Version 1.6

------------------ Original ------------------
From: Edward Z. Yang <notifications@github.com&gt;
Date: Fri,Nov 13,2020 11:52 PM
To: pytorch/pytorch <pytorch@noreply.github.com&gt;
Cc: shoutOutYangJie <312358434@qq.com&gt;, Author <author@noreply.github.com&gt;
Subject: Re: [pytorch/pytorch] DDP error, when I use "if" branch in forward function. (#47824)

Just to c

[2020-11-14 00:46] zasdfgbnm commented on #47493
reopen because we don't have test for it yet.

[2020-11-14 00:51] xwang233 opened #47953 "Linear algebra GPU backend tracking issue [magma/cusolver/cublas]"
## Linear algebra GPU backend tracking issue [magma/cusolver/cublas]

Currently, most GPU linear algebra operators are using MAGMA as their backends. There are only a few linear algebra operators using cusolver/cublas backends. For performance reason, we would like to migrate bad-performed MAGMA linear algebra operator to cusolver/cublas backends if they have a better performance.

This issue is u

[2020-11-14 01:10] zasdfgbnm opened #47954 "[Feature] torch.bitwise_where"
## 🚀 Feature

I suggest adding a new operator `torch.bitwise_where(mask, tensor1, tensor2)`

This operator is similar to `torch.where`, except that the operation is done at bit level.

I suggest this because I want to experiment with numerical stability vs the number of mantissa required for a computation, and I want to replace some bits with noise to see what would happen to a computation:

[code

[2020-11-14 01:15] osalpekar commented on #47943
Closed by https://github.com/pytorch/pytorch/pull/47926

[2020-11-14 01:15] #47943 closed

[2020-11-14 01:47] ngimel commented on #47912
This is because pytorch now propagates channels-last layout, but your 1080 card cannot benefit from it (and instead has worse performance).
A workaround is call contiguous after embedding:
[code]
I think we need a warning if nhwc convolution is called on Pascal or older hardware and/or with fp32 (not half) format.
cc @xwang233 for warning.

[2020-11-14 02:41] twoertwein opened #47955 "keepdims doesn't work in JIT"
## 🐛 Bug

`keepdims` and `keepdim` are both valid keywords for `sum` and other functions. But it is not possible to JIT function calls that use `keepdims` (at least in 1.7). It would be good to have a `DeprecationWarning` for the usage of `keepdims`.

## To Reproduce
[code]

[code]

## Expected behavior

A warning when using `keepdims` (or it should work).

cc @gmagogsfm

[2020-11-14 02:48] rohan-varma commented on #46242
@albanD is this fixed by https://github.com/pytorch/pytorch/pull/46406?

[2020-11-14 02:49] rohan-varma commented on #46491
I believe this should have been fixed in 1.7, @froody can you confirm?

[2020-11-14 02:50] rohan-varma commented on #46800
Hi @zrss, thanks for filing this issue. I don't quite understand the proposal here, what is the code/logs that you wish to add around 301-310? Feel free to send a PR as well, if that would be better.

[2020-11-14 02:52] rohan-varma commented on #46821
Closing due to inactivity, @SlowMonk please feel free to reopen if the above suggestion does not work.

[2020-11-14 02:52] #46821 closed

[2020-11-14 03:21] Luonic commented on #22679
@gemfield have you resolved your issue? I experience exactly same issues on fresh CUDA 11 and Pytorch 1.7.0 installation. Nvidia driver is 455.something version. My code were running perfectly before.
I have tried to run it with Pytorch 1.5.1 in docker container but issue persists.
Maybe problem is newer driver that breaks NCCL?

[2020-11-14 03:38] AtomLee4279 commented on #42304
I met this issue too. Did you solve it? @zy885137

[2020-11-14 04:07] zy885137 commented on #42304
1. You can see if this problem can be solved first: https://github.com/pytorch/pytorch/issues/42361
2. Rename the math.h file of Libtorch

[2020-11-14 04:35] ezyang commented on #47837
https://stackoverflow.com/questions/46058050/unable-to-compile-unrecognized-relocation

[2020-11-14 04:55] ezyang commented on #47824
Are you using checkpointing, by any chance? Any way to post a full executable example?

[2020-11-14 05:06] zanshuxun commented on #47899
I met this error, too.
One solution is using indices:
[code]

Further, if you are interested in my problem, I simplify my code and reproduce the error below (works in previous versions but fails in 1.7)
[code]

output:
**torch 1.7:**
[code]

**previous versions:**
[code]

My solution is to remove `list(weight_list)` operation for <class 'torch.nn.parameter.Parameter'> in https://github.com/shenwei

[2020-11-14 05:25] peterjc123 commented on #47900
@albanD Thanks for your reply.
@learner760221 So the error is real. You could not do this.
@skyline75489 Yeah, I' m not sure which kind of information you want here. Actually, we wrapped something (like line of code, error message and even backtrace) into the `c10::Error` object. If we want to always print out the message for Debug builds. Maybe we could do sth in the constructor of `c10::Error` f

[2020-11-14 05:26] peterjc123 commented on #47422
@skyline75489 Wow, thanks. I'll take a look.

[2020-11-14 05:33] zasdfgbnm commented on #47901
Would it work if we create a non-functional API for jacobian and hessian?
[code]

[2020-11-14 05:37] #47133 closed

[2020-11-14 05:37] jemisjoky opened #47962 "Accessing constructors for function-specific outputs in torch.return_types"
## ❓ Questions and Help

I'm working on some wrappers for Pytorch functions with the goal of [extending the Tensor class](https://pytorch.org/docs/1.7.0/notes/extending.html#extending-torch), and am running into an issue with functions like `torch.mode` (among many others) that return function-specific types like `torch.return_types.mode`.

I'd like to replace the `values` attribute of the output

[2020-11-14 05:39] twmht commented on #15378
there is already an implementation in konia (https://kornia.readthedocs.io/en/latest/geometry.transform.html).

[2020-11-14 06:29] zasdfgbnm opened #47964 "TorchScript is unable to distinguish int and ScalarType"
## 🐛 Bug

I am adding a new operator `tensor.view(dtype)` in https://github.com/pytorch/pytorch/pull/47951, and getting lots of JIT failures.

With https://github.com/pytorch/pytorch/pull/47951, the script to reproduce this issue is

[code]

and there will be an error message

[code]

[2020-11-14 06:38] froody commented on #46491
@rohan-varma still fails in 1.7, see [example code](https://gist.github.com/froody/64675a07cc9066920ed11f64e0427da8), [example output](https://gist.github.com/froody/1f622509120e9e5f7e69f4b2fe573f60)

[2020-11-14 06:54] zasdfgbnm commented on #47964
Does ScalarType has to be int in JIT? Can I change it to a new type `ScalarType`?

[2020-11-14 07:01] mruberry commented on #47964
Can you elaborate on what's going on here?

I was expecting to see x.view(torch.int32) based on your description.

[2020-11-14 07:11] zasdfgbnm commented on #47964
@mruberry I am doing
[code]
where the `-1` has type int, and in principle, JIT should find and execute the overload
[code]
However, JIT does not have a separate type for `ScalarType` in [jit_type.h](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/core/jit_type.h), and all `ScalarType` are considered as `int`. As a result, JIT will find and execute the wrong overload
[code]

[2020-11-14 07:15] mruberry commented on #47964
I see. Would a temporary workaround be to add a kwarg-only "dtype" to view()? So you could do view(shape, dtype=...)? That wouldn't be a copy of NumPy's API but it would provide a mechanism to use the functionality.

[2020-11-14 07:20] zasdfgbnm commented on #47964
What if I don't want to change the shape, and only the dtype?

[2020-11-14 07:21] LinkTsang opened #47966 "The `normalize` function failed in the TorchScript interpreter with AMP enabled."
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

code sample:
[code]

stack traces for `torch.jit.script`:
[code]

However,  the code below worked without any runtime errors.
[code]

## Expected behavior

The `F.normalize` should work like other torch functions like `F.sigmoid` etc. as below.

[code]

## Environment

[code]
## Additional context

cc @gmagogsfm

[2020-11-14 07:28] mruberry commented on #47964
t.view(t.shape, dtype=...)

[2020-11-14 07:28] mruberry commented on #47964
I suppose what bites about that is you probably rarely (never?) want to change both the dtype and the shape, though. Maybe not a compelling option.

[2020-11-14 07:29] zasdfgbnm commented on #47964
I don't know. Let me try adding a new JIT type to get an idea of how easy/hard it is.

[2020-11-14 07:31] mruberry commented on #47964
There are other options we can consider (after sleeping on it):

- creating a new function, like `view_as_dtype`
- reusing the `view_as` function

[2020-11-14 07:33] zasdfgbnm commented on #47964
@mruberry Yeah, these two sound like a plan too.

[2020-11-14 08:04] #47629 closed

[2020-11-14 08:14] rohan-varma commented on #47676
Should be fixed by https://github.com/pytorch/pytorch/pull/47898, will reopen if not

[2020-11-14 08:15] rohan-varma commented on #47675
Should be fixed by https://github.com/pytorch/pytorch/pull/47898, will reopen if not

[2020-11-14 08:15] rohan-varma commented on #47674
Should be fixed by https://github.com/pytorch/pytorch/pull/47898, will reopen if not

[2020-11-14 08:32] AtomLee4279 commented on #42304
But I did not meet your problem like  #42361.I did not get  logs like "PyTorch is not linked with support for cpu devices (getDeviceGuardImpl at /Users/distiller/project/c10/core/impl/DeviceGuardImplInterface.h:216)
(no backtrace available)"
 I compiled pytorch 1.8.0 source code for ios by myself. (https://pytorch.org/tutorials/prototype/ios_gpu_workflow.html?highlight=from_blob)
then , I tried to

[2020-11-14 08:33] zasdfgbnm commented on #47964
Looks like there are related PRs: https://github.com/pytorch/pytorch/pull/30694 https://github.com/pytorch/pytorch/pull/31074

[2020-11-14 08:48] AtomLee4279 commented on #42304
@zy885137
But I didn't  meet your problem like #42361 ,also I did not get any message like "PyTorch is not linked with support for cpu devices (getDeviceGuardImpl at /Users/distiller/project/c10/core/impl/DeviceGuardImplInterface.h:216)
(no backtrace available)".
By the way , I compiled pytorch 1.8.0 source code for IOS (https://pytorch.org/tutorials/prototype/ios_gpu_workflow.html?highlight=from_

[2020-11-14 08:49] zrss commented on #46800
@rohan-varma , thanks for the reply ~ i'd like to make the server connect to itself rather than the `masterAddr` from the input param and print the value of the `masterAddr`, i have posted a PR but stuck on test cases (still need time to fix it) ...

[2020-11-14 09:50] fab-jul opened #47967 "Add a cpp file to setuptools for PyPi"
I have a library that I want to publish to PyPi that includes python code and C++ code. The special thing is that the C++ code is loaded via ninja, using

[code]

My layout:

[code]

The code above is at the top of `package.py`. This works flawlessly and compiles on the fly, if tested locally.

**BUT**, when packaging this with pypi, the `.cpp` file does not get added. My `setup.py`:

[code]

I tr

[2020-11-14 10:13] jkyl commented on #25639
With a recent (not sure which, sorry) version of Poetry, environment markers work to the extent that I have included the following in my `pyproject.toml`:
[code]

as a workaround.

[2020-11-14 10:15] jkyl commented on #25639
Which is not at all to detract from the priority of this issue! My workaround sucks and pytorch should definitely also do a simple index, lest they also suck!

[2020-11-14 10:39] skyline75489 commented on #47900
@albanD @peterjc123  I was thinking something like `OutputDebugString`, to add least give _something_ that can help users with debugging. But you're right. I'm disappointed that VS eats up the error message. I'm even more disappointed that we don't seem to have a way to mitigate it .

[2020-11-14 10:45] fab-jul commented on #47967
It magically started working after pruning everything.

[2020-11-14 10:45] #47967 closed

[2020-11-14 10:57] vadimkantorov commented on #47901
Or maybe just a new function for the combined operation? If there won't be too many combinations, it may be okay.

[2020-11-14 11:43] zasdfgbnm commented on #47964
@mruberry Look like a better solution is to modify codegen to blocklist the new overload from generating JIT registry?

[2020-11-14 12:40] peterjc123 commented on #47900
@skyline75489 Maybe we could use `_wassert`.
[code]
The error message is printed out in the command prompt in this case and a modal message dialog is shown.

[2020-11-14 14:33] lw commented on #45995
I'm wondering if perhaps there's a thread-local variable somewhere which is giving an unexpected result when accessed from within the callback. What happens if we manually spawn a thread and run that callback in it? Does it give the same error?

[2020-11-14 15:13] guozix commented on #25714
Got same problem……

[2020-11-14 15:23] volkov-maxim commented on #42441
I'd same error and I [solved it with change version of numpy](https://stackoverflow.com/a/64730012/4439762).

Result of `import torch`

 $ python
 Python 3.7.6 (tags/v3.7.6:43364a7ae0, Dec 19 2019, 00:42:30) [MSC v.1916 64 bit (AMD64)] on win32
 Type "help", "copyright", "credits" or "license" for more information.
 import torch
  ** On entry to DGEBAL parameter number  3 had an illegal value
  **

[2020-11-14 15:27] Myrakami opened #47968 ""No module named torch.version""
Help
I'm trying to run a script and generates the error "No module named torch.version"
What should I do?

[code]

[2020-11-14 18:35] vishwakftw commented on #47953
Cross-posting an issue I created a year ago: https://github.com/pytorch/pytorch/issues/23940

[2020-11-14 18:50] ThoenigAdrian commented on #46648
@SsnL yes even when this line is introduced , the same Exception is raised.

Code i tried:

[code]

[2020-11-14 18:58] SsnL commented on #46648
You are using that wrong. What you need to do is to wrap all execution code
in the if. Try looking up Python spawn multiprocessing.

On Sat, Nov 14, 2020 at 13:50 ThoenigAdrian <notifications@github.com>
wrote:

[2020-11-14 19:04] ThoenigAdrian commented on #46648
This works ! Thx

[2020-11-14 19:27] LukeAI commented on #47109
@stas00  unfortunately using conda to manage our cuda is not really an option since we use ROS and conda has all sorts of conflicts with that, so we do system installs of CUDA as per [nvidia's](https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html) instructions.

[2020-11-14 20:10] SsnL commented on #46648
Since this is standard python spawn multiprocessing issue, I'll close this.

[2020-11-14 20:10] #46648 closed

[2020-11-14 20:12] stas00 commented on #47109
Do you have the same issue with `pip`, since you could do:
[code]

but, yes, if you have to build from source against the system-wide cuda that would be a pain. In such case I'd build a binary package for whatever package manager your system uses and then it'd be easy to replicate across machines.

Do you mean Robot Operating System (ROS)?

[2020-11-14 20:16] jhenrich commented on #47444
@peterjc123 With that version if works for me

windows 10
python 3.8.6
pytorch 1.7.0+cpu

[2020-11-14 22:24] LukeAI commented on #47109
That pip install does appear to work, although I can't properly test it right now as the nvidia driver on my current machine is too old for CUDA11. we don't just use CUDA for pytorch so not going to be a complete solution, but good to know that's an option, thankyou!
yes, I do mean the Robot Operating System.

[2020-11-14 22:40] JanMikicki commented on #42722
I've given up atm, but maybe I will try this in the future. I did kinda want to use cuda 10.0 though and I don't know if VS2019 is compatible with it.

[2020-11-14 22:45] rgommers commented on #34266
@aocsa or @kurtamohler is one of you doing this for `remainder`?

[2020-11-15 00:09] MasterObvious opened #47978 "Issues on MacOS 11.0"
## 🐛 Bug

I cannot install Pytorch on MacOS 11 Big Sur. Pip continues to try and install version 0.1.2 and when trying to install a wheel from https://download.pytorch.org/whl/torch_stable.html it says `ERROR: torch-1.7.0-cp38-none-macosx_10_9_x86_64.whl is not a supported wheel on this platform.`

## To Reproduce

Steps to reproduce the behaviour:
1. Ensure MacOS version is > 11.0
2. Install Pyth

[2020-11-15 00:29] mruberry commented on #47964
Sound good. I think it's very unlikely someone would want to jit this operation, or a program involving this operation.

[2020-11-15 00:43] rfernand2 opened #47979 "multi_head_attention_forward bug using torch.equal"
## 🐛 Bug

The Transformer helper function **multi_head_attention_forward** uses **torch.equal()** to compare query, key, and value vectors to each other in order to find the fastest way to compute q, k, and v.  When key, query, value contain 1 or more **nan** values, **torch.equal()** will always return **False** (even if a tensor is compared to itself).  Replacing the 3 instances of **torch.equal

[2020-11-15 02:09] kurtamohler commented on #34266
I'm happy to do it, unless you'd rather do it @aocsa

[2020-11-15 02:12] aocsa commented on #34266
Ohh sure not problem, go ahead.
Thanks @kurtamohler.

[2020-11-15 04:11] waittim opened #47980 "How to avoid `torch.onnx.export` use INT64?"
In order to do inference in browser/JavaScript, I used `torch.onnx.export()` to get the onnx model.

However, the exported model used INT64 which is invalid for the JavaScript environment. I tried to change the data type in ONNX manually but it brings more error.
May I know how to force the `torch.onnx.export` use INT32? Or is there any way to deal with the INT64 before getting the ONNX model?

Th

[2020-11-15 04:37] codertimo commented on #44511
same problem

[2020-11-15 04:54] codertimo commented on #7801
Is there any updates on this issue?

[2020-11-15 05:04] amin-amani commented on #13541
on cmake u can use
set(CMAKE_CXX_FLAGS "-D_GLIBCXX_USE_CXX11_ABI=0")

[2020-11-15 05:30] #46546 closed

[2020-11-15 06:10] HsLOL commented on #46971
hi @zhaoyuliang5
I try this solution, but it doesn't work...

[2020-11-15 08:01] peterjc123 commented on #47968
How did you install PyTorch?

[2020-11-15 08:08] ysx001 commented on #27837
We are facing the same issue. Tried on Ubuntu 18.04, Nvidia K80, M60, V100, all with the same pytorch version `1.6.0`, cuda `11`.

Applying the below fix doesn't help as well.... :(
[code]

[2020-11-15 09:39] XDynames opened #47987 "Replacement for THCudaBlas_SgemmBatched"
## ❓ Questions and Help

What is the correct way to preform a batched add add batched matrix multiply using Cuda in the C++ API?

I found at::baddbmm but could not find its source to verify that it will use Cuda if available or if this is only used on cpu

Thank you for any guidance

[2020-11-15 09:44] krishnatejakanchi commented on #17023
Why this issue is closed ? I am from India and it is taking hours to download.

[2020-11-15 14:07] MasterObvious commented on #47978
Also observed the same behaviour on 3.6.12. I'm going to stop different versions of Python now, because it's just making me sad ☹️

[2020-11-15 15:00] korabelnikov commented on #15808
try 0 instead. Are you under Windows OS?

[2020-11-15 15:10] Myrakami commented on #47968
Command line of this site
`pip install torch===1.7.0 torchvision===0.8.1 torchaudio===0.7.0 -f https://download.pytorch.org/whl/torch_stable.html
`

[2020-11-15 21:19] mikekgfb opened #47988 "Support calls to super().function() by implementing (poor man's) inheritance"
## 🚀 Feature

The ability to call super().function() from a super function, i.e., support some modicum of inheritance and class hierarchy.

## Motivation

At present, code needs to be duplicated in the class hierarchy if we just want to slightly modify a parents result.
so rather than

def self.forward(inputs) -> int:
   return super().forward() +1

A developer has to inline super().forward() by c

[2020-11-15 22:12] evinpinar opened #47990 "Is nn.Conv2d equivalent with Unfold + Matrix Multiplication + Fold ?"
## Is nn.Conv2d equivalent with Unfold + Matrix Multiplication + Fold

I have implemented a custom convolutional operator with Unfold+matrix multiplication+Fold as described in the pytorch documentation, under Unfold examples [here](https://pytorch.org/docs/stable/generated/torch.nn.Unfold.html):

`>>> # Convolution is equivalent with Unfold + Matrix Multiplication + Fold (or view to output shape)

[2020-11-16 01:00] CnybTseng opened #47993 "build pytorch from source on ubuntu, building error from fbgemm::SparseAdaGradSignature"
Compiling  functions.cu                        > /data/tseng/toolkit/pytorch/build/nccl/obj/collectives/device/functions.o
[ 67%] Building CXX object caffe2/CMakeFiles/torch_cpu.dir/queue/rebatching_queue.cc.o
[ 67%] Building CXX object caffe2/CMakeFiles/torch_cpu.dir/queue/rebatching_queue_ops.cc.o
[ 67%] Building CXX object caffe2/CMakeFiles/torch_cpu.dir/sgd/adadelta_op.cc.o
[ 67%] Building CXX

[2020-11-16 02:36] rudaoshi commented on #47978
I have the same issue

[2020-11-16 03:04] rohan-varma commented on #47892
Done by https://github.com/pytorch/pytorch/pull/47896

[2020-11-16 03:04] #47892 closed

[2020-11-16 03:19] nervecenter opened #47996 "GPU Vendor-Agnosticism via Vulkan"
## Feature

PyTorch shipping with ready-to-go GPU-vendor-agnostic functionality via the Vulkan API. The ability to run on Nvidia, AMD, and in the future Intel GPUs without hassle and with good performance.

## Motivation

PyTorch (and HPGPU compute in general) is captive to CUDA, and at the moment for good reason. Nvidia spends huge amounts of money and manpower on ensuring CUDA is well-documented

[2020-11-16 04:10] poyue0221 opened #47997 "Exporting the operator binary_cross_entropy_with_logits to ONNX opset version 12 is not supported"
## 🐛 Bug
Exporting the operator binary_cross_entropy_with_logits to ONNX opset version 12 is not supported

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below m

[2020-11-16 04:11] poyue0221 opened #47998 "Exporting the operator binary_cross_entropy_with_logits to ONNX opset version 12 is not supported"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2020-11-16 04:11] poyue0221 commented on #47998
Exporting the operator binary_cross_entropy_with_logits to ONNX opset version 12 is not supported

[2020-11-16 05:21] shanesyy-1992 opened #47999 "Torch DDP seems not prefer IPv6 over IPv4?"
## ❓ Questions and Help

It seems that in Torch DDP, when server prepares to listen to the incoming connections, because of setting the [`AI_PASSIVE`](https://github.com/pytorch/pytorch/blob/f07ac6a00498f4671b7fc0f74f9750ef3fb803cd/torch/lib/c10d/Utils.cpp#L84) flag, it would always try to bind the IPv4 address first, and then IPv6 address.

We can test the flag easily with some python code as fol

[2020-11-16 06:19] Kiyosora opened #48000 "Inconsistent complex results with NumPy when computing non-positive power of 0"
## 🐛 Bug

When calculating non-positive power of complexed 0, the results obtained by PyTorch would inconsistent with NumPy. This phenomenon only occurs with tensor exponent.

## To Reproduce
[code]

## Expected behavior

Consistent complex results with NumPy, like:
[code]

## Environment

[code]

[2020-11-16 06:22] FabianIsensee commented on #47837
Fantastic, thank you! This will help me make my case for updating the linker version :-) I searched for the error before and did not stumble on this explanation.

[2020-11-16 06:28] rebound-ace commented on #28320
Same problem. It is profoundly problematic that a 1GB package downloads and does not extract. And that conda then doesn't know how to not re-download that package and downloads again.  The bzip file is perfectly fine:

`$ bunzip2.exe pytorch-1.7.0-py3.8_cuda110_cudnn8_0.tar.bz2
$ /cygdrive/c/Users/xxx/anaconda3/pkgs
`

`
Downloading and Extracting Packages
pytorch-1.7.0        | 1003.4 MB | ######

[2020-11-16 06:41] mszhanyi commented on #47590
@rtrahms, I tried your example and it passed.
I used py1.7.0+cu110 because there's cu110 in my local machine. opencv is opencv-4.5.0. vs2019 version is 16.7.7.
For convenience, I added torch path and opencv path in PATH.
![image](https://user-images.githubusercontent.com/16190118/99219967-ae16fb80-2818-11eb-8391-2042931ce7bf.png)
The test result is
![image](https://user-images.githubusercontent.co

[2020-11-16 06:48] rohan-varma commented on #46491
@froody Looks like I can repro the issue, we have a test in the codebase that should verify `init_rpc` works twice, but it only tests it with `file://` init method. There are 2 workarounds that can work for now:

1) Use `file://` init method. The main issue is the address already in use when we try to recreate the TCPStore, `file://` init bypasses this entirely.
2) If we need to use TCP init (for

[2020-11-16 06:50] rohan-varma commented on #41614
A similar issue (TCPStore address in use) prevents initializing, shutting down, and re-initializing RPC when using tensorpipe backend with TCP init: https://github.com/pytorch/pytorch/issues/46491. See repro in https://github.com/pytorch/pytorch/pull/48001.

[2020-11-16 07:05] rohan-varma commented on #47461
If your use case is single node, is it possible to use `file://` init over TCP initialization? You can find docs on how to set up file init here: https://pytorch.org/docs/stable/distributed.html#initialization

[2020-11-16 07:15] coquelin77 commented on #47043
it make things slightly more difficult is a small subset of functions, but i think that it would be in the best interest for torch to target speed. to get exact numeric consistency while making optimization passes is very difficult, if not impossible. I posted the issue primarily for you to be aware of the changes brought on during the update

Thanks for the good work!

[2020-11-16 07:23] leriomaggio commented on #46648
Hi @SsnL: sorry I forgot to mention I was in a notebook.

I investigated the issue more in the details and now I am completely convinced that my initial guess was right: it is a `fork` vs `spawn` issue here. Thus `multiprocessing` related, rather than PyTorch, and it made sense to close this issue.

On my end, the issue I was having was caused by a combination of two factors: (1) Python 3.8 on mac

[2020-11-16 07:52] mszhanyi commented on #47743
@peterjc123 , any more comments?

[2020-11-16 08:28] arsenzaryan commented on #47912
@ngimel could you please elaborate what you mean by "pytorch now propagates channels-last layout"? We still provide input to Conv2d layer in NCHW format and get the same format as output of the Conv2d. Were there some implementation changes from torch 1.5 to 1.6?
Also another strange thing about the code provided above, if I comment out the lines
[code]
the overall code becomes slow again in all m

[2020-11-16 08:39] xenogenesi commented on #32083
I have the opposite problem but I think it is related, I am trying to build pytorch 1.0.0 with cuda 10.2 and the compiler finds two implementations of the function, consequently the call is ambiguous.

[gist Dockerfile.build-pytorch](https://gist.github.com/xenogenesi/a523df140c73cb356dc5fa4e2fcf5c05)

If you have any suggestions I can try to patch the sources but it is not clear to me which imple

[2020-11-16 08:49] hameerabbasi commented on #47622
@gchanan Would you know anything about unrelated CI failures on all of my fixes?

[2020-11-16 08:57] nlgranger commented on #47461
Yes indeed, I missed that one. I will close this issue and simply update the documentation for our cluster users about this.

[2020-11-16 08:57] #47461 closed

[2020-11-16 09:22] kshitij12345 opened #48010 "[complex] torch.{exp}: does not match numpy"
Happens only on CPU
[code]

Relevant Lines:
https://github.com/pytorch/pytorch/blob/013e6a3d9d0d3ebe8283bf9af0f3b666ba4d96b7/aten/src/ATen/cpu/vec256/vec256_complex_float.h#L258-L268

cc @ezyang @anjali411 @dylanbespalko @mruberry @rgommers @heitorschueroff @gchanan @zou3519 @bdhirsh

[2020-11-16 09:54] moritztng commented on #45578
I am running style transfer on a RTX 3070  and got a speedup of 2x using cuda 11.1.1 and cuDNN 8.0.4 compared with the cuda 11 pytorch build. Building from source got really easy with the latest nvidia/cuda docker images :)

[2020-11-16 10:20] skyline75489 commented on #47993
Can you run [collect_env.py](https://github.com/pytorch/pytorch/blob/513f62b45ba18edff9cf034d09bd12803485db40/torch/utils/collect_env.py) and show us the output?

Please read the issue instruction and do not delete the issue template. Otherwise there's no way we can have enough information about the issue.

[2020-11-16 11:27] FabianIsensee commented on #47837
I managed to get ld version 2.34. This worked. Thank you very much again for your help!

[2020-11-16 11:27] #47837 closed

[2020-11-16 12:20] mruberry commented on #46829
There's probably not a great fix for this. I marked it as "needs design."

[2020-11-16 12:45] mruberry commented on #46024
How significant a numeric different are you seeing between each run?

Currently many operations in CUDA are technically nondeterministic because float addition is not actually commutative, and we don't typically try to ensure that floats are always added in the same order for performance reasons.

[2020-11-16 13:10] mruberry commented on #47918
Hey @lith0613, unfortunately sparse tensors don't currently support inverse computations, so you're correct that you'd need to convert the tensor into a dense one first to take its inverse. SciPy has a function for computing the inverse of a sparse matrix that you may be able to use: https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.linalg.inv.html.

I've changed the title of this

[2020-11-16 13:14] mruberry commented on #47917
Thanks for reporting this issue, @christian-rauch. We would accept a PR fixing this.

Do you have a minimal example model that triggers this behavior?

[2020-11-16 13:16] mruberry commented on #47915
Thank you for the suggestion, @danFromTelAviv.

[2020-11-16 13:40] divideconcept commented on #45578
Do you mean cuDNN 8.0.5 (just released a week ago) ?
The [release note](https://docs.nvidia.com/deeplearning/cudnn/release-notes/rel_8.html#rel-805) mention the following:
_Significant performance improvements were made for RTX 3090 for many models on many configurations._

Unfortunately just replacing the cuDNN dlls shipped with PyTorch 1.7 with the latest cuDNN 8.0.5 dlls doesn't do the trick fo

[2020-11-16 13:48] christian-rauch commented on #47917
@mruberry I think there is already https://github.com/pytorch/pytorch/pull/48011 for this.

However, even if I copy the `constants.pkl` manually from an original TorchScript archive to the new archive, it will fail in unpickling with:
[code]

I assume the PR (@skyline75489) will not fix the issue entirely.

[2020-11-16 13:51] barissayil opened #48013 "C10 error: from is out of bounds for float"
I basically translated pytorch's dqn tutorial to libtorch. It compiles fine but when i try to run it unfortunately i'm getting this error:

[code]

I'm pretty new to c++ and since it doesn't even indicate the line with the problem I'm not sure what to do next.

[2020-11-16 14:01] arsenzaryan commented on #46024
the difference is already considerable for the code above after only 1500 iterations. For real trainings where the number of iterations can be of order 100K, the difference between 2 'deterministic' runs is no better than for 2 non-deterministic runs.

[2020-11-16 14:04] mruberry commented on #47917
I understand, and we'll have to test any proposed fix to verify it actually resolves the problem. As mentioned previously, is there a simple network we can use to test this?

[2020-11-16 14:11] albanD commented on #46242
The linked PR https://github.com/pytorch/pytorch/pull/46296 is not landed yet.
Note that the "fix" will just be to raise a nice error in this case and asking the user not to do the inplace op (the error message contains a special note about DDP to help users in that case).

[2020-11-16 14:27] CnybTseng commented on #47993
In PyTorch source directory:
# python torch/utils/collect_env.py
Collecting environment information...
Traceback (most recent call last):
  File "torch/utils/collect_env.py", line 429, in <module>
    main()
  File "torch/utils/collect_env.py", line 424, in main
    output = get_pretty_env_info()
  File "torch/utils/collect_env.py", line 419, in get_pretty_env_info
    return pretty_str(get_env_in

[2020-11-16 14:36] skyline75489 commented on #47993
No. Do not run the script under PyTorch source directory. The source code itself interferes with the `collect_env.py`. Copy the script somewhere else and run it.

[2020-11-16 14:38] skyline75489 commented on #47993
Wait, you don't have any version of PyTorch installed? Guess `collect_env.py` is not ready if there is no PyTorch at all..

[2020-11-16 14:58] nima-akram opened #48015 "Segmentation fault (core dumped) on torch.jit.optimize_function() with Amazon Elastic Inference and PyTorch"
## 🐛 Bug

Hi,

I am getting a Segmentation fault (core dumped) error on ubuntu 16.04 when I execute the torch.jit.optimize_function(). This happens specifically in the amazonei_pytorch_p36 conda environment which uses torch==1.3.1 and a specialised torchei package (presumably for elastic inference stuff).

Upon running the code under gdb, I get a more verbose but confusing error:

[code]
## To Rep

[2020-11-16 15:20] pythonmobile commented on #47109
I have CUDA 11.1 - is there any chance I can install pytorch using pip on my system correctly?

[2020-11-16 15:24] LukeAI commented on #47109
@pythonmobile
it looks like your best bet is
```pip install torch==1.7.0+cu110 torchvision==0.8.1+cu110 torchaudio===0.7.0 -f https://download.pytorch.org/whl/torch_stable.html```

[2020-11-16 15:25] ezyang commented on #47043
Thanks, I'll close this as not a bug.

BTW, for the public record, another way to implement the arange as originally quoted is to do arange on integers, and then divide by 10 after the fact; you should be able to avoid precision issues entirely that way.

[2020-11-16 15:25] #47043 closed

[2020-11-16 16:09] #46242 closed

[2020-11-16 16:10] gchanan commented on #47954
can't you do this with existing bitwise operations?

[2020-11-16 16:13] gchanan commented on #47987
baddbmm or `at::matmul` should work and do what you want.  Please ask questions on https://discuss.pytorch.org/.

[2020-11-16 16:13] #47987 closed

[2020-11-16 16:15] gchanan commented on #47998
Closing in favor of https://github.com/pytorch/pytorch/issues/47997.

[2020-11-16 16:15] #47998 closed

[2020-11-16 16:16] #47483 closed

[2020-11-16 16:16] ezyang commented on #47743
In Dependencies.cmake:

[code]

But I couldn't find any reference to cudnn in cmake/TorchConfig.cmake.in, so it seems quite possible that you don't get cudnn dep by default. But the best way to figure this out is to try configuring TorchConfig cmake and see what you get; I always find it hard to figure out what the runtime behavior of cmake is just by reading. It seems like it would be good to fig

[2020-11-16 16:19] rgommers commented on #46829
Oh wait, there is something to do here, because `__add__` / `__radd__` behave differently from the `add` function (which is symmetric in both pytorch and numpy):
[code]

Note that `np.add` returns a `Tensor` by design, because `Tensor.__array_wrap__` is defined in `torch/tensor.py` to achieve exactly that.

[2020-11-16 16:25] albanD commented on #47901
@zasdfgbnm the two drawbacks I see with this approach is that:
- For second order methods, you actually still have to have functions that return multiple objects or the user has to so the work "by hand" for each level.
- For future work that we are doing (vmap, forward ad for example), we actually need to control the forward pass. And the functional API as proposed to day allows to hide all that c

[2020-11-16 16:27] rgommers commented on #46829
NumPy won't change its behaviour, so I think the only way to do something about this is for PyTorch to start accepting NumPy arrays in all its functions, which I don't think we'd want to do.

[2020-11-16 16:33] #47697 closed

[2020-11-16 16:40] heitorschueroff commented on #47953
It's worth noting that many batched MAGMA operations are doing illegal memory accesses in some cases (see https://github.com/pytorch/pytorch/issues/26996). I'm currently investigating this but it's another thing to keep in mind besides performance when deciding which ops to transition to cusolver/cublas.

[2020-11-16 16:42] walterddr commented on #38231
This is verified happening on python 3.9 nightly - currently broken.

[2020-11-16 16:57] #48013 closed

[2020-11-16 17:06] UlrichFreitag commented on #45578
If you are using the PyTorch's wheels, CuDNN is embedded directly in it.
@divideconcept you can check that by executing this command:

[code]

[2020-11-16 17:09] albanD commented on #47776
@colesbury given that these are long living threads, is it actually important to pre-create the python thread state here? We could let it be lazily initialized the first time python code is called from the worker and avoid this issue altogether?

[2020-11-16 17:10] ngimel commented on #47912
After `self.embed(x).permute(0, 3, 1, 2)` input to Conv2d is provided in physical channels-last layout, and this physical layout is propagated to the subsequent layers. To avoid that, and make layout physical NCHW, call `.contiguous()`.
If you comment out `torch.backends.cudnn.benchmark = True`, cudnn likely picks up inefficient algorithms.

[2020-11-16 17:10] gchanan commented on #47851
This changed from 1.5 to 1.6, in 1.5 you got:

[code]

[2020-11-16 17:11] stas00 commented on #47109
pytorch doesn't depend on what cuda you have on your system as it supplies its own.

So what @LukeAI said - it comes from instructions posted at https://pytorch.org/get-started/locally/

[2020-11-16 17:27] zasdfgbnm commented on #47954
@gchanan You are right, existing bitwise ops will work. I am just feeling torch.bitwise_where would be slightly more convenient.

[2020-11-16 17:29] colesbury commented on #47776
@albanD I don't see how lazily creating the thread state will help, unless the lazy path never gets called in the tests.

[2020-11-16 17:33] zasdfgbnm commented on #45447
@ngimel You are welcome to review my PRs https://github.com/pytorch/pytorch/pull/34004 :)

[2020-11-16 17:35] gchanan commented on #47899
CC @albanD

[2020-11-16 17:36] ngimel commented on #45447
Do you remember why it stalled? @mcarilli was saying that TensorIterator cannot do one rng initialization per loop that CUDA_tensor_apply2 is doing, is that true?

[2020-11-16 17:42] mthrok commented on #47833
@mruberry @kurtamohler

I do not have an opinion on the support for `ord` values that NumPy does not support.
Actually, @anjali411 and I were discussing the way to compute the norm of complex numbers **element-wise**, with an option to change the power value. (Which is basically the combination of `abs` and `pow` but something more efficient like skipping `pow` when its argument is 1 or do somethi

[2020-11-16 17:46] gchanan commented on #47979
also happens in C++.

[2020-11-16 17:48] SsnL commented on #46648
I think it would be reasonable to mention potential mp caveats and refer readers to other sources, but it should not be longer than 1~3 sentences as it is not the main purpose of the pytorch doc to describe python mp behavior.

[2020-11-16 17:53] divideconcept commented on #45578
When I run this on the latest PyTorch nightly, here's what I get:

[code]

When I replace the cuDNN dlls in Lib\site-packages\torch\lib with the latest from cuDNN 8.0.5, here's what I get:

[code]

So although cuDNN was partly updated (still built against cuDNN 8.0.4) I see no performance improvement.

[2020-11-16 17:55] zasdfgbnm commented on #45447
It is correct, but bernoulli is the only operator using this feature.

[2020-11-16 17:55] albanD commented on #47899
You can find it in the release note's BC-breaking section [here](https://github.com/pytorch/pytorch/releases/tag/v1.7.0).
There is a code sample there that shows how to avoid the issue by using `[[w[i] for i in range(len(w))]` (or something similar) as @zanshuxun mentioned above.

[2020-11-16 18:02] gchanan commented on #47917
umm won't any non-TorchScripted model trigger this?  Just because it uses the same serialization format doesn't mean it can be loaded in C++.

[2020-11-16 18:06] kurtamohler opened #48022 "Performance improvements for `arange` CPU"
While investigating #47043, I found an alternate way to implement `torch.arange`'s underlying `Vec256::arange` function, which is likely to improve performance. This new implementation would be called `Vec256::arange_index_offset`, and it would avoid one multiply and one add operation per call, compared to `Vec256::arange`. Also, I can add vectorization, since `Vec256::arange` only unrolls loops,

[2020-11-16 18:08] mruberry commented on #47917
Good point, @gchanan, I misread the initial issue. I think this is just a docs bug.

[2020-11-16 18:09] christian-rauch commented on #47917
@gchanan What does "same as the TorchScript serialization format" mean then? If it uses the same storage format, should it produce the same files, no matter if they are produced with `torch.save` or `torch.jit.save`?

[2020-11-16 18:14] kurtamohler commented on #47934
No I haven't, you can take over. Thank you for volunteering!

[2020-11-16 18:16] gchanan commented on #47917
it means the file format / structure is the same.  The data _within_ the file is different though.  In the non-TorchScript case, we are actually saving python data, there's no way to load it in libtorch which doesn't have python.

We should make this clear though, in docs and in the error message.

[2020-11-16 18:17] albanD commented on #47776
I didn't mean to lazily create it but just let the Node actually acquire the GIL when it needs to.

It means that we never try to get/release the gil at this outer level (and so outside of running a backward pass).
In particular, the only bad case that can happen is if this thread is running a Node, calls into some python code, that calls into c++ again and released the GIL and the main thread got

[2020-11-16 18:17] zou3519 commented on #47844
Fixing the tutorial is high-pri

[2020-11-16 18:24] christian-rauch commented on #47917
@gchanan My earlier TorchScript exported model contains the python data in the "code" folder within the "pt" archive. Since the "version" increase from 2 to 3, I thought that these python files are now saved on the "data.pkl" as this size increased between these versions.

In any case, if loading this TorchScript serialised model via `torch::jit::load` is not supposed to work, a hint in the docume

[2020-11-16 18:30] colesbury commented on #47776
Yes, I think that will mitigate some some triggers of this bug, but I think it will also slow down calls into Python code because it will have to create and destroy a PyThreadState for every call into Python. (I'm not sure by how much)

[2020-11-16 18:31] z-a-f commented on #47857
These are reference scripts. I don't think we should mention them in the official documentation. The reason is that these scripts are supposed to repro the existing numerical results, not be used for any generic model.

Although it might be possible to use it for any model, we don't want to make a promise that this script will work -- otherwise we will commit to maintaining the generic training sc

[2020-11-16 18:33] z-a-f commented on #47652
Is there a specific list?

[2020-11-16 18:34] z-a-f commented on #47363
Should we be doing it by default, or should it be an optional thing? Also, what is the use case for it?

[2020-11-16 18:37] ngimel commented on #47948
Related #43579

[2020-11-16 18:42] supriyar commented on #47652
`empty_quantized`,
`quantized_max_pool1d`,
`quantized_max_pool2d`,
`fake_quantize_per_tensor_affine`,
`fake_quantize_per_channel_affine`,
`fake_quantize_per_channel_affine_backward`,
`choose_qparams_optimized`,
`quantized_lstm_cell`
`quantized_rnn_cell`
`quantized_gru_cell`
`set_quantizer_`
`quantized_batch_norm`

The list above might be missing few functions, since I manually checked and generate

[2020-11-16 18:52] Myrakami commented on #47968
I fixed the problem: reinstalled python.

[2020-11-16 18:52] #47968 closed

[2020-11-16 18:53] gchanan commented on #47917
Sorry, is this a different issue?  In the first message it sounds like you are talking about `torch.save` on a non-TorchScript model and `torch::load` on that model, but here are you talking about TorchScript and `torch::jit::load`.  I don't think we've said anything about the later.

[2020-11-16 18:57] jerryzh168 commented on #47652
I think quantized_xxx might be deprecated, but the others are still in use.

[2020-11-16 19:07] christian-rauch commented on #47917
Oh, `torch::load("model.pt")` should indeed be `torch::jit::load("model.pt")` (I missed the `jit`.). The stack trace contains references to `torch::jit::load` and `torch::load` does not return a value.

Is `torch::jit::load` (LibTorch) supposed to work with `torch.save` (PyTorch)?

[2020-11-16 19:35] gchanan commented on #47917
@jamesr66a

[2020-11-16 19:36] #42890 closed

[2020-11-16 19:49] samaldana opened #48032 "inconsistent environment variable naming for setting NVTOOLEXT_HOME in TorchConfig.cmake"
## 🐛 Bug

When building libtorch with CUDA installed in some unconventional
location, CMake files rely on some environment variables to set cmake
variable, in particular NVTOOLSEXT_PATH environment variable is used to
set NVTOOLEXT_HOME in cmake/public/cuda.cmake. Later when consuming
such build using the generated cmake finder TorchConfig.cmake, another
convention is used which feels rather incon

[2020-11-16 19:52] ezyang commented on #47599
OK. I'm not an expert in linear algebra here, but it seems to me that we can have our cake and eat it too by simply assuming that, IF there are degenerate eigenvectors, then the loss function must not depend on it (otherwise, this is undefined behavior). The main downside of this approach is that it might cover up problems when you DID depend on the degenerate eigenvectors, but this is something t

[2020-11-16 19:57] xkszltl opened #48033 "Missing -fopenmp when used in torchvision"
## 🐛 Bug

The issue was originally reported here:
- https://github.com/pytorch/vision/issues/2783

Forwarded to PyTorch in case this is an upstream issue about CMake.

TorchVision has build warnings about invalid `#pragma omp` used without `-fopenmp`.
I'm think if this could be due to pytorch not providing the flag on CMake interface.

https://github.com/pytorch/pytorch/blob/3d421b313731c98864b26b

[2020-11-16 20:15] zou3519 commented on #48033
Possibly a C++ extensions issue?

[2020-11-16 20:20] zhangguanheng66 commented on #47979
Thanks @rfernand2. We can accept a PR to fix this.

[2020-11-16 20:23] zou3519 commented on #47978
Marking high-pri for user activity

[2020-11-16 20:25] malfet commented on #47978
@MasterObvious this is a new M1 based machine by any chance?

[2020-11-16 20:25] zou3519 commented on #47980
I'm not sure if this is a feature request, but hopefully one of the onnx folks tagged can answer this

[2020-11-16 20:26] zou3519 commented on #47962
Please ask questions on our forums, https://discuss.pytorch.org/.

[2020-11-16 20:26] #47962 closed

[2020-11-16 20:27] zou3519 commented on #48010
Marking high-pri for what looks like a silent correctness error

[2020-11-16 20:29] #47851 closed

[2020-11-16 20:33] zou3519 commented on #48000
The inconsistency looks worrisome.

[2020-11-16 20:36] zou3519 commented on #47990
The values should be the same. The first code snippet works on my machine:
[code]
Do you have an example where your convolution returns a result that is different from that of nn.Conv2d?

[2020-11-16 20:37] zou3519 commented on #47993
We probably need more information to debug this, but it would be nice if collect_env.py worked without a PyTorch installation

[2020-11-16 20:48] eellison opened #48043 "[TensorExpr Fuser] Handle fusing a value which has uses that aren't profiled"
## 🐛 Bug

If you run the following example:
[code]

you'll see that the `%w.1 : Tensor = aten::sub(%t1.1, %t2.1, %6)` is not fused. This is because `t1` has a use that does not get profiled, so we don't type its definition. Since we only optimize on the tensor type after we have checked that it's runtime value matches it's expected type, we should be ignoring the unexecuted uses when merging tenso

[2020-11-16 20:57] kurtamohler commented on #47833
We could potentially add a bool argument called `elementwise`. Or perhaps it would be better to add a new operation so that `torch.linalg.norm`'s interface doesn't get overly complicated. Although, I wonder how useful this would be in practice. FWIW, it is already possible to do this calculation with:
[code]

[2020-11-16 21:00] heitorschueroff commented on #46974
@weiaicunzai, would you please let us know once you can confirm if the problem was with your GPU or not. Thank you for the feedback so far.

[2020-11-16 21:04] ezyang commented on #38231
@malfet's been working on a related issue to this

[2020-11-16 21:09] #47757 closed

[2020-11-16 21:17] #42915 closed

[2020-11-16 21:17] #46983 closed

[2020-11-16 21:23] eellison opened #48045 "[NNC] Improve "UNSUPPORTED DTYPE" error messages"
##  🚀  Feature

Throughout the NNC code base there are a number of `unsupported_dtype()` calls, which when run appear as:

These errors are never supposed to be seen by the user, but it would nice to give better error messages for the developer experience.

I think all of these could be migrated to `TORCH_INTERNAL_ASSERT(False, ...) ` - which would shows the file & line number that the error occur

[2020-11-16 21:27] janeyx99 commented on #39968
I'm not sure this is the right place to post this, but when trying to enable CUDA 11.1 nightly binaries, I get the same error. A CI run with this failure is here: https://app.circleci.com/pipelines/github/pytorch/pytorch/239814/workflows/2dd7d5fc-c75f-46ab-903a-cf4886177e36/jobs/8972288

@zasdfgbnm's change is committed in the repo so is there something else I should try?

[2020-11-16 21:30] ndahlquist commented on #47978
@malfet I'm experiencing this issue on a 2017 MacBook Pro (Intel Core i7), so I don't think this issue is related to the new M1.

[2020-11-16 21:43] hszhao commented on #37583
PyTorch 1.4 works fine for me, while 1.6 and 1.7 failed.

[2020-11-16 21:51] xkszltl commented on #39968
@janeyx99
See if you can build with only one or a few cuda arch.
As more and more arch released, fatbin is becoming too fat.

You can also see this trend of obesity here:
https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64/
<img width="876" alt="image" src="https://user-images.githubusercontent.com/5203025/99312356-dfcfa700-2898-11eb-8c35-8299ea9cdfce.png">

[2020-11-16 21:58] stas00 opened #48049 "native amp consumes 10x gpu memory"
## 🐛 Bug

observation: pytorch native amp consumes 10x memory as compared to fp16/apex or no `--fp16` usage.

The issue has been originally discovered and tracked at https://github.com/huggingface/transformers/issues/8403 and on slack, but now we know for sure that this is a pytorch issue, so let's concentrate the discussion here.

## To Reproduce

What's following is the minimal script that was r

[2020-11-16 22:00] AHolliday commented on #2389
As of pytorch 1.7.0, `sparse.mm(S, D)` still does not work if the sparse matrix requires gradients with autograd.  I'm starting a graph neural network project in pytorch, but have run into this limitation - I'm dealing with very large sparse matrices, so the speedups from using sparse mm are several orders of magnitude.  But without being able to compute gradients through it, I can't use certain a

[2020-11-16 22:09] zasdfgbnm commented on #39968
Reopen because this is not resolved yet

[2020-11-16 22:09] zasdfgbnm commented on #39968
@janeyx99 Unfortunately this is a limitation of the host compiler, so there is really nothing PyTorch or CUDA can do. The only way to workaround is to manually set `TORCH_CUDA_ARCH_LIST`  to build on only a few architectures.

[2020-11-16 22:10] zou3519 commented on #46936
PR was reverted

[2020-11-16 22:10] malfet commented on #39968
We can try to hint to the linker how we want those sections to be ordered (puting cubins sections in front of the code section might solve the problem)

[2020-11-16 22:11] zou3519 commented on #47931
Advanced indexing seems to have some custom dispatching logic. We should be able to fix that.

[2020-11-16 22:22] zou3519 commented on #47637
Minimum repro:
[code]
Succeeds on 1.5.1, 1.6, but fails on 1.7.

I'm marking this hi-pri to investigate or clarify because this seems like a regression. There's a simple workaround but I am not sure if this was intentional or not

[2020-11-16 22:22] malfet commented on #47978
@ndahlquist can you share the exact command you are running and output you are seeing? Also, please run and share output of `which pip3`, `which python3` and `file $(which python3)` commands on your system?

[2020-11-16 22:23] rwightman commented on #41353
@suo curious what the state / progress on this is?

I recently realized some fairly significant throughput improvements doing a full jit of a model for distributed training. The only part that doesn't work right now is SyncBatchNorm.

Currently doing below, and using native AMP autoscaling in the train loop:
[code]

As long as I don't use sync bn it's fine. I do use some dist reduce ops but outsid

[2020-11-16 22:29] eellison opened #48053 "[NNC] Fix IR Evaluator Bugs"
## 🐛 Bug

[IR Evaluator](https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/tensorexpr/eval.h#L123) is a class which evaluates the result of  NNC expressions by interpreting them. It is useful for testing correctness, and is also used during compilation for constant folding.

Currently it is broken for some less commonly-used dtype & op cross-products. Any of the functions in `test_jit_

[2020-11-16 22:34] fehiepsi opened #48054 "RuntimeError: NYI: Named tensors are not supported with the tracer"
## 🐛 Bug

While running the following script, I got the error: "RuntimeError: NYI: Named tensors are not supported with the tracer" when the input is a scalar. I guess `x[x > 0]` does not support scalar `x`?

## To Reproduce

[code]
or
[code]

## Expected behavior

No error

## Environment

 - PyTorch Version (e.g., 1.0): 1.7
 - OS (e.g., Linux): Linux
 - How you installed PyTorch (`conda`, `pip`,

[2020-11-16 22:35] mx-iao opened #48055 "In DistributedSampler docstring, should default value of `num_replicas` be `world_size` not `rank`"
## 📚 Documentation

In [`DistributedSampler`](https://pytorch.org/docs/stable/_modules/torch/utils/data/distributed.html#DistributedSampler) docstring, for description of `num_replicas` below, shouldn't the default say `world_size` instead of `rank`?

[code]

cc @SsnL @VitalyFedyunin @ejguan @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayi

[2020-11-16 22:52] ppwwyyxx commented on #47988
Why is that? In Python, `self.anotherfunction()` in a parent class does call into subclasses, if `anotherfunction` is overriden by subclasses.

[2020-11-16 23:39] SciPioneer commented on #47202
Could you please take a look at #48060 (particularly, file powerSGD_hook.py). It implements a simplified version, as the input of the compression hook is a large flattened tensor that batches a tensor list (mixed 1D and multi-dimensional tensors.) Thanks!

[2020-11-16 23:56] jamesr66a commented on #47917
No, this is not meant to work and making that work is not the intention of converging the serialization container formats. We should probably re-word the documentation to make this more clear.

[2020-11-17 00:06] mruberry commented on #47917
Let's leave this open to change the documentation + error message.

[2020-11-17 00:06] cobie8a opened #48064 "FAILED: test_api/CMakeFiles/test_api.dir/dataloader.cpp.o"
## ❓ Questions and Help

### FAILED: test_api/CMakeFiles/test_api.dir/dataloader.cpp.o

Snippet of error block below:

[4807/4994] Building CXX object test_api/CMakeFiles/test_api.dir/dataloader.cpp.o
FAILED: test_api/CMakeFiles/test_api.dir/dataloader.cpp.o
/usr/bin/c++ -DHAVE_MALLOC_USABLE_SIZE=1 -DHAVE_MMAP=1 -DHAVE_SHM_OPEN=1 -DHAVE_SHM_UNLINK=1 -DIDEEP_USE_MKL -DMAGMA_V2 -DMINIZ_DISABLE_ZIP_R

[2020-11-17 00:09] ptrblck commented on #47966
Based on https://github.com/pytorch/pytorch/issues/38958#issuecomment-635472379:
"autocast interaction with jit scripting is very much WIP".

Given your code snippet, running the method in `autocast` and tracing seems to work in the latest nightly:
[code]
Note that `F.normalize` is an op that can autocast to `float32` as described [here](https://pytorch.org/docs/stable/amp.html#op-eligibility).

[2020-11-17 00:09] zasdfgbnm commented on #47844
Reopen this to look deeper into the problem

[2020-11-17 00:10] NickNickGo opened #48065 "Pinned Memory, Non-blocking feature doesn't seem to work."
## 🐛 Bug

PYtorch pinned memory and non-blocking transfer feature doesn't work.

## To Reproduce

Steps to reproduce the behavior:
1. install pytorch
1. run following script:

import time
import torch

DELAY = 100000000
x = torch.randn((1024, 1024), pin_memory=True)

torch.cuda.synchronize()
start = time.time()
torch.cuda._sleep(DELAY)
x.cuda(non_blocking=True)
end = time.time()

print('non_blocki

[2020-11-17 00:11] eellison opened #48066 "[JIT] Saving and Loading JIT Model Does Not Preserve __dir__"
## 🐛 Bug

`dir()` on newly - scripted module works correctly, but breaks after serialization.

[code]

[2020-11-17 00:13] xwang233 commented on #47844
Hi, can you try to add a learning rate decay to the tutorial model, e.g.

[code]

I tried this with TF32 on, and the final loss is only 1/1000 of the original.

[2020-11-17 00:23] ndahlquist commented on #47978
[code]

[2020-11-17 00:30] Ca0L commented on #47844
I tried this code and the loss is reduced to 1~2
[code]

[2020-11-17 00:30] drevicko commented on #10470
@soumith That's not entirely accurate. They cite Goyal et.al. that keeping the ratio of batch size to learning rate constant results in similar generalisability. This means you can run with larger batch sizes and larger learning rates whilst maintaining test set performance, which trains faster if you can do batches in parallel.

They propose a schedule on this ratio, which can be achieved by cons

[2020-11-17 00:49] CnybTseng commented on #47993
I have installed PyTorch-1.2.0. Same error happened when I copy collect_env.py to another directory.
# python collect_env.py
Collecting environment information...
Traceback (most recent call last):
  File "collect_env.py", line 429, in <module>
    main()
  File "collect_env.py", line 424, in main
    output = get_pretty_env_info()
  File "collect_env.py", line 419, in get_pretty_env_info
    retu

[2020-11-17 01:01] CnybTseng commented on #47993
I created a virtual environment without pytorch using: /opt/conda/bin/virtualenv ./tttest
Running collect_env.py will failed too:
# python collect_env.py
Collecting environment information...
Traceback (most recent call last):
  File "collect_env.py", line 429, in <module>
    main()
  File "collect_env.py", line 424, in main
    output = get_pretty_env_info()
  File "collect_env.py", line 419, in

[2020-11-17 01:56] ezyang commented on #47954
I guess... having this method wouldn't be the worst thing?

[2020-11-17 01:56] as754770178 commented on #47906
The same issue for `https://github.com/open-mmlab/mmcv/blob/master/mmcv/ops/deform_conv.py`. I try add `custom_fwd` and `custom_bwd` as above, but not work.

I try modify to, as below:
[code]
[W TensorIterator.cpp:924] Warning: Mixed memory format inputs detected while calling the operator. The operator will output channels_last tensor even if some of the inputs are not in channels_last format. (f

[2020-11-17 02:05] stas00 commented on #16266
Any chance this feature request can be revisited almost 2 years since it was filed?

As I was told it didn't come to fruition due to the lack of dev resources back then. Perhaps the situation have changed now?

Using python threads+nvml to monitor peak memory usages is far from reliable - because of GIL, so being able to use multiple counters would be a very useful feature for those who need to op

[2020-11-17 02:16] wxyhv opened #48074 "How use libtorch(or other API) to implement "contiguous", "view", "permute", "transpose" in c++?"
## How use libtorch to implement "contiguous", "view", "permute", "transpose" in c++?
Hello~ I need to transplant python to c++, I don't know how to implement "contiguous", "view", "permute" in c++. I found that libtorch can help me, but I have not find all the "Tensor operations" which I need,such as "contiguous", "view", "permute", "transpose".
The python code shows bellow:

    def process_inpu

[2020-11-17 02:18] KsenijaS commented on #47182
@oneway234 Can you point me to which script I should run in your project? I ran demo_tasknet.py and I don't get any exception.
I also tried to run test/only_coder.py but it's reporting missing checkpoint file.

[2020-11-17 02:24] as754770178 commented on #47906
I remove `custom_fwd` and `custom_bwd`, and modify code as below:
[code]
The code still report error. If you want to reproduce, you can run fovea in mmdet, and add amp config by your self.

[2020-11-17 02:25] skyline75489 commented on #47993
OK, torch 1.2.0 is like kinda old. So I guess `collect_env.py` isn't really ready. But I could not understand `NameError: name 'torch' is not defined`. If `import torch` failed, then it shouldn't run the code who try to import `torch.version.hip`. What conda version are you using? My conda does not even have virtualenv.

[2020-11-17 02:41] Edwardmark opened #48075 "How to convert syncbn to batchnormND?"
I want to run a model with syncBn in cpu, so I have to convert syncBN to batchNormND, how can I  do that?
I just found a way to convert from bn to syncbn, but how to do the opposite? Thanks in advance.
[convert2syncbn](https://pytorch.org/docs/stable/generated/torch.nn.SyncBatchNorm.html?highlight=sync#torch.nn.SyncBatchNorm.convert_sync_batchnorm)

cc @albanD @mruberry

[2020-11-17 03:23] suo commented on #46517
Hi, TorchScript is a statically typed language and thus cannot take `**kwargs` as an input. This seems like a gap in fairseq's support for scripting their models—I suggest making an issue there to follow up with them about it. Thanks!

cc. @myleott for who the right person to route this to is. Going to close this issue out for now as it isn't particularly actionable on our end, but feel free to re

[2020-11-17 03:23] #46517 closed

[2020-11-17 03:28] malfet commented on #47978
@ndahlquist, as you can see from the log, you are trying to download and install  PyTorch for python3.9 runtime, which was not yet available at the time of 1.7 branch cut. We plan to add support for Python3.9 in the upcoming point release.

[2020-11-17 03:29] moriwx commented on #43845
The error still exists even after installing the latest Microsoft Visual C++ Redistributable... \cry

[2020-11-17 03:44] mszhanyi commented on #47590
@rtrahms , I double checked with https://download.pytorch.org/libtorch/cu101/libtorch-win-shared-with-deps-debug-1.7.0%2Bcu101.zip. It passed too.

[2020-11-17 03:47] ndahlquist commented on #47978
Sorry my bad, forgot to switch back to Python 3.8. Updated results:

[code]

[2020-11-17 03:54] ChaceYoung commented on #27212
+1

[2020-11-17 04:59] CnybTseng commented on #47993
I'm using conda 4.9.2
When I use collect_env.py from pytorch master branch:
# python collect_env.py
Collecting environment information...
PyTorch version: N/A
Is debug build: N/A
CUDA used to build PyTorch: N/A
ROCM used to build PyTorch: N/A

OS: Ubuntu 16.04.6 LTS (x86_64)
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
Clang version: Could not collect
CMake version: version 3.18.4

[2020-11-17 05:02] skyline75489 commented on #47993
OK I think the problem is that GCC 5.4.0 is a rather old version of GCC.  AFAIK, the recommended version is somewhere around GCC 9.

[2020-11-17 05:45] weiaicunzai commented on #46974
Ok, will do.

[2020-11-17 06:26] mikekgfb commented on #47988
Thanks for clarifying

[2020-11-17 06:48] mruberry commented on #47841
Hey @juliusbierk, thank you for the recommendation. We would accept two PRs, one for each of these functions. The signature of each should be consistent with SciPy plus support the out= argument.

This PR adding gcd and lcm may be a good example of how to proceed: https://github.com/pytorch/pytorch/pull/40651. Let me know if you have additional questions.

[2020-11-17 06:49] rfernand2 commented on #47979
I'm not set up to do pytorch source builds, testing, etc, so I would appreciate if someone who is already submitting PR's could do one for this issue.  Thanks.

[2020-11-17 06:51] omeryasar opened #48082 "Microsoft C++ exception: torch::jit::ErrorReport at memory location 0x0000001C0C3BBB40."
Hi,
I try to work with torchvision detection models in c++ to be able to do that I obtain TorchScript models via torch.jit.script of fasterrcnn_resnet50_fpn and retinanet_resnet50_fpn but while I trying to load scripted models in C++ I get "Microsoft C++ exception: torch::jit::ErrorReport at memory location 0x0000001C0C3BBB40." exception which is very uninformative. I use latest versions of both t

[2020-11-17 07:00] peterjc123 commented on #48082
Please use a try catch to wrap your code like the following style and share the results.
[code]

[2020-11-17 07:13] omeryasar commented on #48082
Hi , I get torch.cpu.pdb not loaded

[2020-11-17 07:34] peterjc123 commented on #48082
If you are using the Release version of LibTorch, then we don't provide the PDBs. Otherwise, please copy the PDBs from `[LIBTORCH ROOT]\lib` to the directory of your executable.

[2020-11-17 07:42] omeryasar commented on #48082
Yeah it solves that one but it throws "not found schema_matching.cpp" now

[2020-11-17 07:44] peterjc123 commented on #48082
@omeryasar You'll need a clone of PyTorch with the same version of LibTorch. Assume you use PyTorch v1.7.0, you may do that by doing `git clone https://github.com/pytorch/pytorch.git -b v1.7.0 --single-branch`.

[2020-11-17 07:57] omeryasar commented on #48082
@peterjc123 Thanks for your instant replies but I don't understand what should I do with cloned PyTorch afterwards could you please explain it

[2020-11-17 08:12] GerardMaggiolino opened #48083 "CPU Tensor with Python MP Freezing"
## 🐛 Bug

This seems so basic that I'm pretty baffled at where the issue could be coming from.

- Main process A spawns process B
- Process B creates a tensor
- Process B spawns process C
- Process C creates a tensor

After Process C creates a tensor, it will freeze. No exception, no error, just frozen. If Process B doesn't create a tensor, this isn't an issue. If Process C creates a tensor throug

[2020-11-17 08:16] mruberry commented on #46024
Over many runs the networks can diverge and the results will be very different. I'm curious what differences you're observing just calling the loss function with the same inputs again? Maybe your network is extremely sensitive to small differences?

[2020-11-17 08:23] omeryasar commented on #48082
@peterjc123 Somehow I manage to compile it and get the exception message ;
"schemas.size() > 0 INTERNAL ASSERT FAILED at "..\\..\\torch\\csrc\\jit\\frontend\\schema_matching.cpp":500, please report a bug to PyTorch.                                                                                                     Exception raised from matchSchemas at ..\..\torch\csrc\jit\frontend\schema_matching.

[2020-11-17 08:34] peterjc123 commented on #48082
Seems like a duplicate of https://github.com/pytorch/pytorch/issues/35881.

[2020-11-17 08:40] omeryasar commented on #48082
@peterjc123 And the issue you mentioned is still open is it dead end ?

[2020-11-17 08:54] GerardMaggiolino commented on #48083
Should note that I just reproduced this same issue on my MacBook, but only in a Docker container as well (it works fine on Mac OS).

## Environment

PyTorch version: 1.7.0
Is debug build: True
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.1 LTS (x86_64)
GCC version: (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0
Clang version: Could not collect
CMake version: Could not c

[2020-11-17 09:09] HEmile commented on #37141
My apologies for the bump, but this is still a big problem for me, as I use Distributions a lot in my code and it makes little sense to inherit `torch.Tensor`.

[2020-11-17 09:14] mruberry commented on #47833
I'd prefer we not add a new function for this behavior at the moment.

[2020-11-17 09:47] gailweiss commented on #19406
I'm also getting the same problem, trying to install pytorch in python3.9 with macOS Catalina if that's relevant.

What's the 'current' download link for a stable version? I

(Error prints are:

`Building wheel for torch (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: /usr/local/opt/python@3.9/bin/python3.9 -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"

[2020-11-17 10:08] hameerabbasi opened #48087 "Add documentation for the torch.overrides submodule."
## 📚 Documentation
As mentioned in https://github.com/pytorch/pytorch/issues/47697#issuecomment-725743901, the submodule `torch.overrides` was made public but has no user-facing documentation.

There are two separate tasks here:

- Add the documentation of the submodule.
- Expand the coverage of the docstrings so they are more descriptive, include examples, and are user friendly.

cc @hameerabbasi

[2020-11-17 10:08] hameerabbasi commented on #47697
I've created the docs issue in #48087.

[2020-11-17 10:30] gailweiss commented on #34798
Hi, I am trying this `pip3 install torch==1.7.0+cpu -f https://download.pytorch.org/whl/torch_stable.html ` as described above, but it still skips all of the links (wheel tags don't match) and recognises only the 0.1.x files:

`ERROR: Could not find a version that satisfies the requirement torch==1.4.0+cpu (from versions: 0.1.2, 0.1.2.post1, 0.1.2.post2)
ERROR: No matching distribution found for t

[2020-11-17 11:06] peterjc123 commented on #34798
python3.9 is unsupported for PyTorch 1.7.0.

[2020-11-17 11:11] vadimkantorov opened #48088 "[dataloader] Worker threads print the signal they received before they die"
Usually, this indicates problems with leaking memory (https://github.com/pytorch/pytorch/issues/13246) or some problems with ulimit and number of open files. If possible, it would be good if they printed something before they die (if possible in Linux):

Relevant code locations:
https://github.com/pytorch/pytorch/blob/master/torch/utils/data/_utils/worker.py#L134
https://github.com/pytorch/pytorch

[2020-11-17 11:51] LvLs9 commented on #145
Guys, please, fix that! 🔥

You did great job here. But if anyone need to use TensorRT, they can't use your embedding layer.

[2020-11-17 11:53] rshpeley commented on #47688
Current M1 chips have a unified memory limit of 16GB max (with 8GB more likely) with no option to expand. The GPU is somewhat better in performance than a GTX 1050 Ti and the neural engine cores could bring up the compute capacity to about the level of a 1070 at a guess.

With 8GB system ram, free memory likely won't be more than 5-6GB. So it's performance will be decent, and a step up in laptops,

[2020-11-17 12:01] zhiqwang commented on #43665
Is there any updates here, the operator `nn.Hardswish` is also widely used in [MobileNetV3](https://arxiv.org/abs/1905.02244).

[2020-11-17 12:10] peterjc123 commented on #48082
@omeryasar Some one will take a look later. The original issue doesn't have the `windows` tag.

[2020-11-17 12:22] jjsjann123 opened #48089 "[JIT] Optimization pass in profiling executor to fold away conditional branches"
## 🚀 Feature

With profiling information, we should be able to remove conditional branches based on profiling information, including tensor ranks, device and boolean ivalue, e.t.c..

## Motivation

Conditional branches creates hierarchies that prevents us to exploit fusion opportunities, because currently fusion is limited to operations within the same block. With profiling executor, we should be

[2020-11-17 12:47] jjsjann123 opened #48090 "[JIT] Constant folding on no-op `aten::mul`"
## 🚀 Feature

We are seeing the following pattern in optimized graphs:
[code]
We should be able to realize that this is an no-op and fold away `%86` when it's safe to do so.

## Motivation

The issue showed up when we were comparing eager vs jit and were observing an extra PW kernel in JIT. Upon further investigation we located this:

https://github.com/pytorch/pytorch/blob/49f0e5dfeb64a928c6a2368

[2020-11-17 12:48] SungYK commented on #1637
@Swarchal I have the same issue. Did you found the solution?

[2020-11-17 12:59] jjsjann123 opened #48091 "[JIT] enable normalization in autodiff"
## 🚀 Feature

`batch_norm` & `layer_norm` should be supported by autodiff

## Motivation

Normalization provides fusion opportunities. A normalization accompanied with point-wise ops is a common pattern in training. In order for fusion to take place, we need normalization operations to be symbolically differentiable.

We have both layers disabled in autodiff right now:
https://github.com/pytorch/p

[2020-11-17 13:10] Swarchal commented on #1637
@SungYK

I no longer have the problem but I'm not sure what solved it.

Same cards and BIOS version/settings but I'm now running later nvidia drivers and linux kernel.
- NVIDIA driver version 450.80.02
- CUDA Version: 11.0
- Ubuntu 20.04 LTS
- Kernel 5.4.0-52-generic

Hope this helps

[2020-11-17 13:13] fritzo commented on #37141
Feel free to suggest a fix in the form of a PR 😄

[2020-11-17 13:20] jjsjann123 commented on #48091
Adding more to this topic, we should avoid in-place batchnorm in differentiable graph for the sake of codgen. (There has been many long discussion on our buggy batchnorm schema, here's a better one discussing the problem: https://github.com/pytorch/pytorch/issues/13402)

Batchnorm updates running stats in-place, this raises challenge to codegen as in-place operation complicates dependency analysis

[2020-11-17 13:24] xuzhao9 commented on #42967
Closed by PR #47534

[2020-11-17 13:24] #42967 closed

[2020-11-17 13:27] Suntester opened #48093 "ShuffleNet_v2: batch input issue after convert pytorch model to onnx model"
## 🐛 Bug

After convert ShuffleNet_v2 pytorch model to  onnx model, show below error when using the model inferencing by a batch(e.g. 6 images), it looks that dynamic axes property led to this error.
can anyone tell me what wrong is?
Thanks

## To Reproduce

Steps to reproduce the behavior:
[code]

I get this error
[code]

## Environment

 - PyTorch Version :  1.6.0
 - OS : ubuntu 18.04
 - How you

[2020-11-17 13:37] jjsjann123 opened #48094 "[JIT][PE] Profiling Executor should re-profile `DifferentiableGraph`"
## 🚀 Feature

Profiling Executor should re-profile the forward graph of `DifferentiableGraph`

## Motivation

`differentiate` pass modifies the profiled graph into forward graph in `DifferentiableGraph`. This resulted in missing profiling information in the new graph. This is causing issue in codegen, which requested certain Tensor to be profiled and assumed access to profiling information.

e.g.

[2020-11-17 13:46] evinpinar commented on #47990
Thanks for the answer. They return the same thing, but I am not sure if they are optimized in a same way ie. gradient update on gpus. There is a misalignment there.

[2020-11-17 14:13] SungYK commented on #1637
@Swarchal Thanks a lot for your reply. I solved it partially.
The p2pBandWidthLatencyTest result shows that all my GPUs can access each other. But in fact, I found that the program works when the allocated GPU serial number is all even/odd like CUDA_VISIBLE_DEVICES= 0,2 or CUDA_VISIBLE_DEVICES = 1,3.`
It may cause by the NVIDIA driver, not sure. Thanks anyway. It helps.

[2020-11-17 14:15] Martinnilsen99 commented on #47978
Getting the same error as @ndahlquist when running the bundled Python 3.8.2 located in /usr/bin/python3 with Mac OS Big Sur 11.0.1. Have seen somewhere that I should run ```python3.8 -m pip install torch==1.7.0 torchvision==0.8.1 -f https://download.pytorch.org/whl/torch_stable.html ```, but I want to place my packages in the site-packages for my user as that is as I have understood it the standar

[2020-11-17 14:36] imalsogreg commented on #36899
I'm seeing this on MacOS too. Any hints about how to debug? Minimal repro script:

[code]

`RuntimeError: required keyword attribute 'value' has the wrong type`

[2020-11-17 15:24] zou3519 commented on #7455
Bumping to hi-pri based on activity

[2020-11-17 15:31] #7635 closed

[2020-11-17 15:34] #7615 closed

[2020-11-17 15:40] gchanan commented on #7588
I think this is resolved, at least the ninja-build stuff is in a docker file now: `circleci/docker/common/install_ninja.sh`

[2020-11-17 15:40] #7588 closed

[2020-11-17 15:44] gchanan commented on #48074
Please ask on the discussion forum, which is linked in your post.

[2020-11-17 15:44] #48074 closed

[2020-11-17 15:52] suo commented on #47737
Thanks for the report! Can you provide some more information about the environment? e.g. run the environment script suggested by the issue template.

In addition, it would be helpful to provide code to reproduce the issue, so that we can take a closer look.

[2020-11-17 15:53] gchanan commented on #47979
@zhangguanheng66 it's not clear to me if you are suggesting we replace the `equals` calls with `is` (would that be BC breaking?) or if we should do that in addition to.

[2020-11-17 15:55] malfet commented on #47776
True, but since this code is triggered from the global destructor (at least for device threads) it practically would never happen. Race can be further mitigated by registering `Py_AtExit` handler in `torch:autograd:python:THPEngine_initModule` as suggested in https://github.com/pytorch/pytorch/pull/47886

Problem is, in Python 3.9 threads do not unwind, but terminated, which is causing the crash:

[2020-11-17 16:03] ezyang commented on #27878
Oh, actually, module creation is done doing torch context, because you say `torch.nn.Module`, so if you have a `torch` context, that would also  solve your NN problem to. (But you'll have to shave the yak of how to desugar these calls into Python module calls first.)

[2020-11-17 16:05] zhangguanheng66 commented on #47979
My understanding is that this will not change the correctness of MHA. It would be great if we can have a code snippet here to help us make a decision.

[2020-11-17 16:07] gchanan commented on #48064
what version is this?

[2020-11-17 16:10] malfet commented on #48064
From the log, looks like another gcc-7.5.0 bug

[2020-11-17 16:14] cobie8a commented on #48064
It's v1.7.0

I'm also looking at the latest documentations and found a few changes (including changes to now require conda install of typing_extensions).

I'm recompiling now and will include @malfet request on collect_env.py output shortly.

[2020-11-17 16:17] suo commented on #47760
Thanks for raising this issue! I believe we're okay here; `typing_extensions` is intended makes handling typed Python code a bit easier across versions, since it includes backports of many common types (including `Final`, which @skyline75489 correctly notes was only added in 3.8). Its inclusion does not make the code incompatible with Python 3.6+ versions, since the exported objects will just poin

[2020-11-17 16:17] #47760 closed

[2020-11-17 16:19] suo commented on #47887
I believe the ONNX exporter's support for scripted modules (as opposed to exporting an `nn.Module` directly) is still a work in progress. cc @spandantiwari for further commentary.

[2020-11-17 16:21] surak commented on #47760
Correct me please if I am wrong. The source asks specifically for `typing_extensions`, not `typing`, so it fails on 3.8+ unless you install typing_extensions - which is redundant on 3.8+.

It does not point to the right library magically, since there is no version checking or mechanism to do so. It simply fails until you install it.

[2020-11-17 16:24] malfet commented on #48064
@cobie8a strictly speaking one doesn't need to build test to compile a functional PyTorch package. You can pass BUILD_TEST=0 to setup.py to avoid building those

[2020-11-17 16:26] suo commented on #35881
Hm @peterjc123 were you planning to look into this? Seems to only be happening for users with windows; I suspect it has to do with torchvision custom ops not getting registered?

[2020-11-17 16:27] albanD commented on #40294
This is now in master.

[2020-11-17 16:27] #40294 closed

[2020-11-17 16:28] mrshenli opened #48103 "test_error_in_context (__main__.ProcessGroupDistAutogradTestWithSpawn) is flaky"
This is rare, so not disabling it yet.

https://app.circleci.com/pipelines/github/pytorch/pytorch/239744/workflows/cf7a1442-2d30-48c7-8891-c59f5a637276/jobs/8966690/steps

[code]

[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @jjlilley @osalpekar @jiayisuse @mrzzd @agolynski @SciPioneer @H-Huang @cbalioglu

[2020-11-17 16:34] albanD commented on #39150
This has been replaced to properly state that a view of a leaf is being modified inplace.

[2020-11-17 16:34] #39150 closed

[2020-11-17 17:02] gchanan commented on #48065
non-blocking doesn't mean faster.

I'd recommend taking a look at our non-blocking tests to see how this functionality is verified:
https://github.com/pytorch/pytorch/blob/49f0e5dfeb64a928c6a2368dd5f86573b07d20fb/test/test_cuda.py#L490-L535

[2020-11-17 17:02] #48065 closed

[2020-11-17 17:28] vkuzo opened #48106 "quantization - document get_default_qconfig"
## 📚 Documentation

See https://discuss.pytorch.org/t/get-default-qconfig-appears-in-docs-but-not-in-api-reference/103010.  We should make sure this is documented and easy to discover.

[2020-11-17 17:44] albanD commented on #47599
@mfkasim1 thanks for the great colab!
I find it a bit surprising there that the `grad_eival` argument is never used in your backward formulas. Is that expected?

As a general rule, gradients formulas should return the right thing or raise an error.
Unfortunately, for these complex linear algebra primitive, checking if the backward is valid can be as expensive (if not more) than the backward comput

[2020-11-17 17:54] spandantiwari commented on #47887
From first look, this could be an issue with conversion to ScriptModule using torch.jit.script. There is an open issue with scripting RNNs: https://github.com/pytorch/pytorch/issues/28418

[2020-11-17 17:56] rfernand2 commented on #47979
Sure, below is a copy of the code I am now using (modifies this code: https://github.com/pytorch/pytorch/blob/master/torch/nn/functional.py#L4128):
[code]
The first 3 and last comments can be removed (they are just to help me track any changes that I make).  Effectively, we are just replacing the 2 if statements that use **torch.equals** with 2 statements that use **is**.

This speeds up performan

[2020-11-17 17:57] mcarilli commented on #47906
Without arguments, `@custom_fwd` and `@custom_bwd` merely ensure the autocast state during forward() and backward() matches whatever state surrounds the forward() point of use.  Even if autocast is enabled in those regions, it has no way to know what dtype is needed by non-native ops.  What exact op throws the `RuntimeError: expected scalar type Half but found Float` in forward()?

[2020-11-17 18:12] NickNickGo commented on #48065
I'm not trying to imply that non-blocking makes copy faster. If you take a look at above code snippet, when non_blocking is true, control should return to cpu , and time printed should be lesser than in other case.

Could you explain why doesn't control return to cpu ?

[2020-11-17 18:12] SsnL opened #48108 "JIT should not force users to write code in ugly ways"
Writing code for JIT is currently incredibly unpleasant, because it inherently wants you to split logic that belongs to the same function/module to different places. For example, take a look at the following two extremely common patterns:

1. Non-jittable parts of a function has to be broken into a separate function. (Or, equivalently, put the non-jittable parts into a python autograd fn, a workar

[2020-11-17 18:13] colesbury commented on #47776
Maybe? I think you're probably right that it will be rare, but it's hard to estimate how rare it will be. There are a number of functions called during interpreter shutdown [**before**](https://github.com/python/cpython/blob/0ae323b87f1bed64a7fa70f5a41a5800aca032cc/Python/pylifecycle.c#L1646-L1665) `finalizing` is set. That's plenty of time for the autograd background threads to check for finalizi

[2020-11-17 18:32] jaglinux opened #48110 "[distributed_c10d] Provide option in barrier function to pass rank to GPU mapping"
## 🐛 Bug
As part of #47629, barrier() in distributed_c10d.py should provide option to pass the tensor or rank to GPU mapping.
This will enable the test cases to use the same GPU ranking while calling default pg tests / global tests.
This bug is specific to NCCL case.

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @agolynski @SciP

[2020-11-17 18:34] jaglinux commented on #48110
cc @jeffdaily

[2020-11-17 18:42] heitorschueroff commented on #32591
Reopening this issue for further investigation. I ran some benchmarks to diagnose in which conditions is multiplying and summing faster than einsum. What I found is that if the batch dimensions match in size, then for most cases multiplying and summing will be faster on CUDA except for very large batch AND input size. However, when the batch dimensions are 1 for one of the inputs, then einsum is f

[2020-11-17 18:49] suo commented on #48108
@SsnL this is very helpful feedback. I think we have spent a lot of time over the last year writing new language features to unblock people, but we've not done a good job improving the fundamental usability of the system. My feeling is that the team is getting the feature side under control (plus we have more people now), so we can focus a lot more on usability issues going forward.

Do you think

[2020-11-17 18:51] suo commented on #47964
This is sadly the result of a long-standing issue where we pun `ScalarType` and `LayoutType` to just be ints in the JIT type system. It's a little bit tricky to fix due to backward compatibility concerns, but we should commit to doing so. cc @gmagogsfm to add to our plans for next half

[2020-11-17 18:53] flocreate commented on #18626
+1

[2020-11-17 18:56] suo commented on #47955
@gchanan are we planning to deprecated keepdims, or is this something the JIT should add an overload for?

[2020-11-17 18:58] suo commented on #47650
Thanks for the report! The problem is that C++ ScriptModules are not fully compatible with the C++ frontend's `data_parallel` wrapper. This is a valuable feature and worth doing, cc @gmagogsfm for inclusion in planning.

[2020-11-17 18:59] suo commented on #48015
Hi, this looks like an issue with the Amazon Elastic Inference Accelerator integration, which the PyTorch team does not maintain (or have the source code for 😛). I recommend raising a support issue with Amazon.

Going to close out this issue to help out with our tracking. Feel free to reopen or comment if you have further questions.

[2020-11-17 18:59] #48015 closed

[2020-11-17 19:02] suo commented on #28418
The code in the issue description still doesn't work as written. For people following along at home I'm going to reproduce the workaround mentioned in https://github.com/pytorch/pytorch/issues/32976:
[code]

[2020-11-17 19:02] suo commented on #47887
@spandantiwari I think this is a separate issue, as the model is correctly scripting, but failing in the ONNX export step

[2020-11-17 19:05] gchanan commented on #48075
I'm not sure if we have something that can do this automatically but I presume you can basically invert the implementation of sync_batch_norm: https://pytorch.org/docs/stable/_modules/torch/nn/modules/batchnorm.html#SyncBatchNorm.convert_sync_batchnorm

[2020-11-17 19:07] mruberry commented on #48075
This question is probably a better fit for our forums: https://discuss.pytorch.org/. Try asking there, too.

[2020-11-17 19:07] #48075 closed

[2020-11-17 19:13] brando90 commented on #43766
Here is SO asked few months ago that might be helpful:

- https://stackoverflow.com/questions/64141188/how-to-load-checkpoints-across-different-versions-of-pytorch-1-3-1-and-1-6-x-u

-----

here is a collection of some related links:

- https://github.com/pytorch/pytorch/issues/25214
- https://github.com/pytorch/pytorch/issues/43766
- https://discuss.pytorch.org/t/problem-with-my-checkpoint-file-w

[2020-11-17 19:29] mfkasim1 commented on #47599
Great, thanks for all your suggestions.

I intentionally left it to keep the code simple. The contribution from `grad_eival` is not problematic, even if there is degeneracy and the loss function fully depends on the degenerate eigenvectors.
It's only the contribution from `grad_eivec` that causes the problem.

Now the question is: how should we decide the threshold of two eigenvalues to be called

[2020-11-17 19:31] rohan-varma commented on #48055
You are indeed correct, it should be `world_size`. If you would like, a PR fixing this would be much appreciated!

[2020-11-17 19:33] rohan-varma commented on #47999
Thanks for reporting the issue! I think we should definitely prefer IPV6 and fallback to IPV4 as needed. @osalpekar @jiayisuse, does this make sense and if so can we remove the `AI_PASSIVE` flag from `Utils.cpp`?

[2020-11-17 19:35] gramster commented on #47027
We'd like this fix to get in for Pylance to work better with Pytorch in Visual Studio Code; should we do a PR?

[2020-11-17 19:36] ezyang opened #48114 "Bad error message when int overflows"
[code]

I'd expect it to tell me overflow has happened.

BTW, Python still thinks this is an int:

[code]

cc @jlin27 @mruberry @ezyang @bhosmer @smessmer @ljk53 @bdhirsh @ailzhang

[2020-11-17 19:43] albanD commented on #47599
What I was expecting, thanks for the confirmation.

How close do they actually need to be for the backward to be bad?
Because if they are far enough (even if it is only due to numerical precision), the backward will work fine no?

I am not a fan of adding backward specific args to the function.
Using anomaly mode to switch between the implementations should be good as well (especially if the thres

[2020-11-17 19:44] rgommers commented on #47027
Thanks for asking @gramster, a PR would be great.

[2020-11-17 20:24] rcownie commented on #23509
This rounding will depend on which binary tree you use to accumulate the sum.  Accumulating up a balanced binary tree does not have the same problem of adding probably-very-small values to a probably-much-larger sum, e.g.

     sum = ((((((a + b) + c) + d) + e) + f) + g) + h)
vs sum = ((a + b) + (c + d)) + ((e + f) + (g + h))

Typically hardware would use the balanced-tree since it gives the minim

[2020-11-17 20:31] t-vi commented on #48108
I think yes, with the addition that 1. very much applies to classes, too, i.e. it'd be good to be able to script a module that has non-scripted submodules.

In the end, I think the UX we should be aiming at would be "is a JIT by default workflow reasonable" (i.e. all things that could be JITed will be JITed). It's probably not the default PyTorch behaviour anytime soon, but it should be possible t

[2020-11-17 20:37] malfet commented on #47776
@colesbury I like the `new` approach (if exit from main indeed do not wait for background threads to finish), let me try that.

[2020-11-17 21:04] rohan-varma commented on #47885
Hi, is there a script that reproduces the issue on your end?

I tried with a clean build of PT master and NCCL 2.7.8, and was not able to repro the issue:
[code]

[2020-11-17 21:20] zhangguanheng66 commented on #47979
Thanks @rfernand2. I will send out a PR and fix this.

[2020-11-17 21:24] ngimel commented on #47979
I think it should still be `or` so that fast path can be taken in both cases:
[code]

[2020-11-17 21:27] zhangguanheng66 commented on #47979
Will `is` cover all the cases for `torch.equal`?

[2020-11-17 21:29] ngimel commented on #47979
No, `is` returns true when tensors are literally the same object, `.equal` is when they contain equal values.

[2020-11-17 21:30] zhangguanheng66 commented on #47979
Thanks for the clarification.

[2020-11-17 21:43] rohan-varma commented on #41324
Fixed by https://github.com/pytorch/pytorch/pull/46755

[2020-11-17 21:43] #41324 closed

[2020-11-17 21:57] rgommers commented on #42441
The PyInstaller team is developing some hooks for NumPy to make sure all dll's are packaged, see https://github.com/numpy/numpy/issues/17184. Without it I think using PyInstaller won't work right now.

The `numpy.core.multiarray failed to import` error is the single most common issue for numpy, it just means the numpy install was incomplete (many root causes possible).

Also given that reinstallin

[2020-11-17 22:20] mattip commented on #47624
If I understand the code correctly, it seems `TORCH_WARN_ONCE` and `TORCH_WARN` do not currently always use python. In a call like [setDeterministic](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/Context.cpp#L66), the default `warning_handler` is used, which goes to [`LOG_AT_FILE_LINE`](https://github.com/pytorch/pytorch/blob/master/c10/util/Exception.cpp#L128) which uses [`MessgeLo

[2020-11-17 22:27] rohan-varma opened #48127 "Distributed collectives profiling tests are flaky"
## Distributed collectives profiling tests are flaky

See for example: https://app.circleci.com/pipelines/github/pytorch/pytorch/239743/workflows/f7e4fc27-d87c-4354-ae17-0c025fc977c8/jobs/8969719, `test_all_reduce_sum_cuda_async` fails with:

[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @agolynski @SciPioneer @H-Huang @m

[2020-11-17 22:38] ejguan opened #48130 "Integral Tensor `fmod` to zero gives different result on AMD and TPU"
## 🐛 Bug

This bug is related to PR #47323 where porting `torch.fmod` from TH to ATen on CUDA.
For the integral Tensor (torch.uint8, torch.int8, torch.int16, torch.int32, torch.int64), the results are different on CUDA and ROCM when doing `fmod` to zero.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Result on CUDA
1. Tensor with torch.int64:
  a) `4294967295` fo

[2020-11-17 22:58] seemethere commented on #47776
Looks like https://github.com/pybind/pybind11/pull/2657 may not resolve all of our issues see:

[code]

From https://github.com/pytorch/pytorch/pull/48120 ([logs](https://app.circleci.com/pipelines/github/pytorch/pytorch/240457/workflows/2e475d91-cf0e-4083-bf94-cefbfd62134e/jobs/9009709))

[2020-11-17 23:04] seemethere commented on #47622
Adding Python 3.9 support to `v1.7.1`
----

Link to landed master PR:https://github.com/pytorch/pytorch/pull/47235, https://github.com/pytorch/pytorch/pull/47689
Link to release branch PR: https://github.com/pytorch/pytorch/pull/48133
Criteria Category: Special Dispensation

[2020-11-17 23:07] mx-iao commented on #48055
@rohan-varma Thanks for the reply! Here' is the PR: #48134

[2020-11-17 23:22] bertmaher commented on #47622
I've a collection of hotfixes for the tensorexpr fuser:

Release branch PR: #48137
Master PRs are linked in the branch PR
Criteria: new feature fix; silent correctness or crash

[2020-11-17 23:40] jeffdaily commented on #47028
We're still seeing this issue with our ROCm CI.
https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-bionic-rocm3.9-py3.6-test1/1163//console

Do we put a sync into the test to work around the issue, or fix the engine?

[2020-11-17 23:46] jeffdaily commented on #45202
Will be fixed as part of ROCm 3.10 release.

[2020-11-18 00:09] malfet commented on #47776
Looks like your PR didn't pick up my change, since call to Py_IsFinalizing is missing from the code:
[code]

[2020-11-18 00:31] guilhermeleobas opened #48141 "Enable torch.backends._nnapi typechecks during CI"
`TestTypeHints.test_run_mypy` should pass with `[mypy-torch.backends._nnapi]` deleted from mypy.ini

cc @ezyang @malfet @rgommers @xuzhao9 @gramster

[2020-11-18 00:36] duduheihei commented on #47217
Meet the same problem, looking forward to solution.

[2020-11-18 00:37] SsnL commented on #48108
@suo Yeah, I think these are arguably more important (although some of the other issues may be easier to solve). While these may need nontrivial work. one good thing about solving these is that they drive more usage. In my experience (of using & talking with other pytorch users), the reason to not use JIT is usually not some missing language features, but how difficult it is to use. So when these

[2020-11-18 01:01] as754770178 commented on #47906
Thanks, but I add parameter `@custom_fwd(cast_inputs=torch.float32)`, the code warn:
[code]

[2020-11-18 01:21] carlosgmartin opened #48144 "Make orthonormal initialization the default"
## 🚀 Feature

Empirical and theoretical research suggests that (semi-)orthonormal initialization results in better performance for MLPs, CNNs, RNNs, etc. For example:

1. [*Exact solutions to the nonlinear dynamics of learning in deep linear neural networks*](https://arxiv.org/abs/1312.6120)

2. [*All you need is a good init*](https://arxiv.org/abs/1511.06422)

3. [*Convolution aware initializatio

[2020-11-18 01:51] malfet opened #48145 "Enable PyTorch compilation on Apple Silicon"
Currently PyTorch can not be compiled natively on Apple Silicon, because it is reported as "arm64" architecture and many third-party libraries only support ARMv8 or aarch64

cc @malfet @seemethere @walterddr

[2020-11-18 02:20] mszhanyi commented on #47590
Close this issue since it 's not a bug. @rtrahms , feel free to reopen it if you have any new findings

[2020-11-18 02:20] #47590 closed

[2020-11-18 02:42] qiangbo1222 commented on #48145
can PyTorch run smoothly via Rosetta 2?

[2020-11-18 02:42] Edwardmark commented on #48075
https://discuss.pytorch.org/t/how-to-convert-syncbn-to-batchnormnd/103197 @mruberry I post a question in discuss, please help me out, thanks.

[2020-11-18 02:45] ciderpark commented on #47737
Hi, I installed pytorch 1.7.0, libtorch 1.7.0 cxx11, CUDA 10.2, and built torchvison c++ API 0.7.0 from source in release with CUDA = ON.
The code is following the tutorial: https://pytorch.org/tutorials/advanced/cpp_export.html.
And Torch Script via Tracing failed on vision.maskrcnn.

[2020-11-18 02:49] TingsongYu opened #48149 "torchvision/utils.py modify grad_fn of the tensor, throw exception "Output X of UnbindBackward is a view and is being modified inplace""
## 🐛 Bug

In pytorch1.7,  Lib/site-packages/torchvision/utils.py **line 74** ( for t in tensor ) ， this code will modify the grad_fn  of the tensor and become UnbindBackward， and then, it will be throw exception by "RuntimeError: Output 0 of UnbindBackward is a view and is being modified inplace. This view is the output of a function that returns multiple views. Such functions do not allow the out

[2020-11-18 02:57] carlosgmartin opened #48152 "Allow torch.nn.Linear to have 0 in_features"
## 🚀 Feature

Allow [`torch.nn.Linear`](https://pytorch.org/docs/stable/generated/torch.nn.Linear.html) to have 0 `in_features`.

Currently, it throws a `ZeroDivisionError` due to the way weights are initialized. See the [`reset_parameters`](https://pytorch.org/docs/stable/_modules/torch/nn/modules/linear.html#Linear) method.

## Motivation

I'm working in a setting where I automatically construct

[2020-11-18 03:16] jackeown commented on #42368
One nice thing to have here would be a vmap wrapper for modules as well as functions.
I'm not sure if this fully makes sense, but I'm thinking something where you could say `myModule = torch.vmap(myModule)` and it will become a module where the forward method is vmapped.

Could this be possible?

[2020-11-18 03:22] malfet commented on #48145
@qiangbo1222 it probably can, but it will be slower than naive binary, wouldn't it?

[2020-11-18 03:33] wangzbo commented on #47887
Thank you for your replies. I think it is not the same as issue #28418, since it did not export the model to onnx format.
If I comment out the lines of "torch.onnx.export()", there is no error thrown and I can successfully print the output.

I paste the full trace here:

@suo @spandantiwari

[2020-11-18 03:36] mwidjaja1 commented on #48145
@quangIO I got an m1 Macbook Air and a 2018 Intel Macbook Air right here. For an identical CNN for MNIST, the Intel Macbook took some 1975 seconds whereas the m1 took 2100 seconds.

So the Apple Silicon Macbook is slower, but on paper, it does 'run smoothly' I suppose.

PS: I'm a complete noob to developing on PyTorch but I'd be glad to do some help here or there since I have one of these Macs if

[2020-11-18 03:42] algs commented on #47999
Hi rohan, use the `AI_V4MAPPED` | AI_ADDRCONFIG` flag as described in https://manpages.debian.org/testing/manpages-dev/getaddrinfo.3.en.html will also return IPv6 address first if you have any concern about simply removing the AI_PASSIVE flag.
Thanks!

[2020-11-18 03:47] tugsbayasgalan opened #48153 "More robust list comprehension"
## 🚀 Feature

We might need to add support for multi dimensional list comprehension and conditional list comprehension
Ideally, we should be able to do something like this:

` class A(nn.Module):
    def __init__(self):
        super().__init__()
        self.x = [[0 for j in range(5)] for i in range(5)]
    def forward(self):
        return self.x[1]
torch.jit.script(A())`

or

`class B(nn.Module

[2020-11-18 03:49] duanyzhi commented on #46136
update sleef version also works.

[2020-11-18 04:54] franchesoni commented on #1355
For the record, `cv2.setNumThreads(0)` worked for me.

[2020-11-18 05:02] ezyang commented on #48049
I read through the downstream discussion. I agree that there are (multiple) legitimate bugs; but furthermore, I think we were wrong to close earlier reports that AMP leaks memory when you use AMP outside of your training loop. This should work. @mcarilli, I'll try to explain why below.

On its face, it would make sense that a cache that only gets cleared when you exit AMP would leak memory over ti

[2020-11-18 05:29] torch2020 opened #48155 "Proper LSTM input"
I have 1-hour resolution temperature data with the following sample input-1 format. I use the LSTM to find anomalies with this format successfully. But I am not sure if LSTM's learn any temporal dependencies with this type of format. Do I need to use the format as shown in input-2 where I create subsequences for each day?

input1
[code]
input2
[code]

cc @albanD @mruberry @zou3519

[2020-11-18 05:29] mruberry commented on #47624
I was hoping we could do something like set a global context, "setAlwaysWarn(true/false)", that TORCH_WARN_ONCE would query and, if the global flag was true, it would then warn like TORCH_WARN does.

[2020-11-18 05:44] #47272 closed

[2020-11-18 06:04] oneway234 commented on #47182
@KsenijaS
I deactivated the onnx function, and now I activate it. [here ](https://github.com/oneway234/torch_to_onnx/blob/f781fbdd8a52359ddc549c1ecbb3f18169441f8c/test/separate_tasnet.py#L49)

Please pull the project again. and run demo_tasknet.py again.

It will report the error "RuntimeError: Unexpected node type: onnx::Cast".

The function [overlap add](https://github.com/oneway234/torch_to_onn

[2020-11-18 07:04] ppwwyyxx opened #48163 "nn.functional.interpolate backward in fp16 is extremely slow"
## 🐛 Bug

## To Reproduce

[code]

* Running this script on a V100, it prints 14s.
* Replace "10.0" by "0.5", it prints 2.2s.
* Remove "input = input.half()", it prints 0.9s.

## Environment

 - PyTorch Version (e.g., 1.0): 1.7
 - OS (e.g., Linux): linux
 - How you installed PyTorch (`conda`, `pip`, source): pip
 - Build command you used (if compiling from source):
 - Python version: 3.8
 - CUDA/c

[2020-11-18 07:57] learner760221 opened #48165 "Libtorch 1.7,1.6, 1.5 did not work on visual studio 2015"
## 🐛 Bug

Hi Guys:
I try to run libtorch 1.7 on visual studio 2015, as your website recommends

![image](https://user-images.githubusercontent.com/74396740/99499414-d6872d00-29b3-11eb-95ae-d167ce2e19e4.png)

![image](https://user-images.githubusercontent.com/74396740/99499497-f74f8280-29b3-11eb-8b80-a34fae18cb73.png)

and solution was created by following CMake from pytorch.org website.
**I encoun

[2020-11-18 08:02] joinhe opened #48166 "tf.nn.raw_rnn"
## 📚 Documentation

if pytorch  have the same or similar api?

cc @jlin27 @mruberry @albanD

[2020-11-18 08:03] sudonto commented on #47444
@j-k I face same issue with you and your suggestion works for me! Thanks.

[2020-11-18 08:05] learner760221 commented on #48165
I don't know if anyone faces the same problem.
or you guys can recommend me to proper libtorch version which can run on visual studio 2015.

[2020-11-18 08:16] ciderpark commented on #47737
Hi, there is a interesting performance. I captured a 1920 * 1080 image by camera, inference(mask-rcnn) taken 1193ms the first time, then 636ms the second time, then 9945ms the third time! And for the next several times, it's always about 250ms !!!
How could this happen !?

[2020-11-18 08:16] ciderpark commented on #47737
Hi, there is a interesting performance. I captured a 1920 * 1080 image by camera, inference(mask-rcnn) taken 1193ms the first time, then 636ms the second time, then 9945ms the third time! And for the next several times, it's always about 250ms !!!
How could this happen !?

[2020-11-18 08:43] ciderpark commented on #47737
Hi, there is a interesting performance. I captured a 1920 * 1080 image by camera, inference(mask-rcnn) taken 636ms the first time,  then 9945ms the second time! And for the next several times, it's always about 250ms !!!
How could this happen !?

[2020-11-18 09:04] raisinglc03 opened #48167 "Build shared library with libtorch, but some libraries cannot find when loading the created .so file"
I am playing libtorch with cmake / linux. It worked well when I built an executable file, but didn't work when I tried to build a shared library with libtorch and make the project loading the generated .so file. The error and CMakeLists are shown below.

Environment:
Ubuntu 16.04
CUDA 10.1
libtorch:1.7.0+cu101

[ makeing .so ]
|---include
|        |---- *.h
|---src
|      |---- *.cpp
|---CMakeList

[2020-11-18 10:05] carlislewang commented on #18626
+1

[2020-11-18 10:09] ptrblck commented on #45687
It doesn't raise an error, but corrupts the running stats in this case.
Related issue: https://github.com/pytorch/pytorch/issues/19250#issuecomment-724483925

Cross-posting the code:
[code]

[2020-11-18 10:11] ptrblck commented on #44206
@xwang233 would you have bandwidth to take over this fix?

[2020-11-18 10:41] mruberry commented on #45687
Updating based on @ptrblck's comment, as this now appears to be a silent correctness issue. Marking for re-triage.

[2020-11-18 10:44] mruberry commented on #42441
Closing this issue per @rgommers's comment.

[2020-11-18 10:44] #42441 closed

[2020-11-18 11:02] hlahkar commented on #46988
@mruberry - Sorry for the late response...I was out of office for a few days...will be taking your suggestion and implement a generic framework as per your proposal....I will be great if you can provide some additional references

[2020-11-18 11:25] mfkasim1 commented on #47599
Because if they are far enough (even if it is only due to numerical precision), the backward will work fine no?

I'm not sure, I have to do some tests to see this, but I guess it's something proportional to `finfo(dtype).eps * input.shape[-1]`.
I'll let you know once I have it.

[2020-11-18 11:46] LinkTsang commented on #47966
@ptrblck Thanks for your reply!
After wrap the function in the `autocast`, tracing did work in my environment.

[2020-11-18 11:46] #47966 closed

[2020-11-18 11:58] jiaqinglin commented on #38765
You can try to add ~/anaconda/lib to LD_PATH.
I have solved this problem by this way.
LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/home/ubuntu/anaconda/lib".

[2020-11-18 12:00] nehasoni3 opened #48173 "ONNX model's input: []"
Hi
I have a PyTorch model and I want to converted it into another framwork using ONNX.?
My PyTorch model input is torch.Size([1, 133, 83]) and output is <class 'torch.Tensor'> torch.Size([13]).

I convert model into ONNX using this code -
`torch.onnx.export(
        model,
        input,
        'model.onnx',
        export_params = True,
        opset_version = 10,
        do_constant_folding = T

[2020-11-18 12:28] jjsjann123 opened #48174 "[JIT] `aten::eq/ne` should support two bool inputs"
## 🚀 Feature

We would like `aten::eq` & `aten::ne` to support comparison between two bool values.

## Motivation

Currently we are using two `aten::__xor__` to implement `eq` logic, this is unnecessary complication.

API feels awkward that `aten::eq/ne` between two boolean inputs is not supported, while we in fact support two list of bool values: https://github.com/pytorch/pytorch/blob/df0ae244a9

[2020-11-18 12:29] jjsjann123 commented on #48174
cc'ing @suo per slack conversation.

[2020-11-18 13:13] shuuchen commented on #47498
Sorry, my fault.
I wrote a test script and now it works OK.

https://gist.github.com/shuuchen/7463009370e9ddf77e649f3fec259024

[2020-11-18 13:40] SupeRnoVa20-sudo commented on #34798
pip install torch==1.4.0+cpu torchvision==0.5.0+cpu -f https://download.pytorch.org/whl/torch_stable.html -vvv

**Worked for me**

[2020-11-18 13:51] malfet commented on #48145
@mwidjaja1 can you check if https://ossci-macos-build.s3.amazonaws.com/torch-1.8.0a0-cp38-cp38-macosx_11_0_arm64.whl installs on your system, and if it does, how much faster will it be than x86_64 build?

[2020-11-18 14:03] danieldk commented on #48145
I tested one of my projects that uses transfomer networks with libtorch and inference time was several times slower under Rosetta 2 on a MacBook Air M1. Note that [Rosetta 2 does not support AVX, AVX2, or AVX512 instructions](https://developer.apple.com/documentation/apple_silicon/about_the_rosetta_translation_environment), so it is expected that x86_64 will be much slower in many cases.

[2020-11-18 14:23] mwidjaja1 commented on #48145
@malfet Unfortunately no 😔. This is what I got

[code]

For what it's worth, I'm running Python 3.8 via Anaconda which I believe is still technically an Intel version. The system version of Python is Python 3.7 and is also an Intel version.

[2020-11-18 14:37] penguinwu commented on #48053
OK. I'll submit a PR on the bitwise ops support today.
[code]

[2020-11-18 14:57] eladrich commented on #36068
Hi,
I'm having a similar issue when trying to do inference in `gunicorn`.
The model is successfully loaded into the GPU during the server init but fails to move tensors to GPU during inference (`image.cuda()`) with a `Cuda error: initialization error`.
I've tried to set `set_start_method('spawn',force=True)` but that doesn't seem to help.

Any ideas on how to approach this problem?

[2020-11-18 15:06] nSircombe opened #48177 "Support for oneDNN / MKL-DNN on AArch64"
## 🚀 Feature
Enable builds with `MKL-DNN ON` for AArch64.

## Motivation
Since version 1.6, oneDNN has provided limited support for AArch64 builds. From v1.7 onwards, there has been support for optimised primitives, leveraging Arm Compute Library, and the current head of the oneDNN master includes further optimisations, including Winograd convolution support and JITed kernels for the A64fx, which

[2020-11-18 15:25] zou3519 commented on #42368
Thanks for the suggestion, @jackeown. In the end state we would like this to work on modules, but the details and API aren't completely clear at the moment.