[2019-10-06 18:14] gottbrath opened #27451 "Issues with ConvReLU2d and LinearReLU doc issues"
<img width="794" alt="convrelu2d-nits" src="https://user-images.githubusercontent.com/45861273/66273545-b46f3180-e829-11e9-8204-8babdf30f1bd.png">

I have two concerns here;

#1 -- highlighted with two squares on the image -- it seems like when we say we use the same args as another function we should have a link to the documentation on the other function.

#2 -- highlighted with ovals on the imag

[2019-10-06 18:15] gottbrath commented on #27451
@jlin27  can you help us with the linking issue (#1 above)?

@dskhudia can you focus on the "same as X" becoming "as X (same)" issue?

[2019-10-06 18:49] andreaskoepf commented on #26447
I also could not reproduce the deadlock with `Python version= 3.7.4 (default, Aug 13 2019, 20:35:49)`. I tried with Pytorch 1.2 & 1.3.0a0+54bfaf8. Both times the script ran to "done" and exited without error.

My environment:

[code]

[2019-10-06 19:30] andreaskoepf commented on #26400
I  guess the problem is the use of `AT_ASSERT` instead of `AT_CHECK` (https://github.com/pytorch/pytorch/issues/20287) in the `gather()` impl: https://github.com/pytorch/pytorch/blob/0b6186d7783175dcbea8bbab7aed20b592a9a01d/torch/csrc/cuda/comm.cpp#L220

The assert is triggered when tensors of different dimensionality are passed, e.g.:
`torch.cuda.comm.gather([torch.rand(1, device='cuda'), torch.r

[2019-10-06 22:45] fgvanzee commented on #26534
I assume you are referring to partitioning *for parallelism* in the k dimension. If so, this feature is planned for BLIS.

Could you be more specific about your use case? For example, are C, A, and B different for each instance? Or is one or two matrices common to all instances? What problem sizes are you interested in?

This feature is also planned.

Is an "activation" in this case an arbitrary e

[2019-10-06 23:12] michalwols commented on #27175
A comma separated string might be cleaner since it would allow skipping dimensions

[code]

and multiple character names
[code]

and potentially glob like syntax to drop rest (similar to list/tuple unpacking)
[code]

[2019-10-06 23:36] michalwols commented on #27175
@zou3519 another thing that would be nice is having the torch.Size() tuple be a namedtuple for named tensors so that you could do things like

[code]

to perform shape validation. Inspired by the new static shape validation work that @apaszke did for TF Swift.

[2019-10-06 23:38] apaszke commented on #3059
I tried to remove `RTLD_GLOBAL`, but apparently it's not all that simple primarily due to MKL. I dug through the dynamic linker logs and it seems like [MKL assumes that it's loaded into the global namespace when you use dynamic linking](https://software.intel.com/en-us/forums/intel-math-kernel-library/topic/296094), so we would need to have a significant restructure of our build system to isolate

[2019-10-06 23:52] kmzzhang commented on #27419
This is solved by reinstalling torch with conda instead of pip. Would be helpful if an explanation could be given on the difference.

[2019-10-07 00:13] alok commented on #27175
I do like the idea of making shape a (subclass of?) namedtuple.

--- Alok

On Sun, Oct 6, 2019 at 4:37 PM Mike <notifications@github.com> wrote:

[2019-10-07 00:17] michalwols commented on #27175
yeah would probably need to be a subclass of tuple to support missing names

[2019-10-07 02:07] deipss commented on #24220
By any means,thx. actually,I  am not use ``` conda install -c pytorch pytorch cpuonly ```, since there are some limitation in network speed.
what I chose is a third-part image from Tsinghua University. I think I should to contact them for this problem.
Thanks again.

[2019-10-07 03:43] garysnake commented on #4827
Follow the instruction on the website, I don't need to install with the  cuda tool, but need to install with tag `torchvision-cpu` or `cudatoolkit=$`
https://pytorch.org/get-started/locally/

[2019-10-07 03:47] soumith commented on #20494
this issue can now be closed, because we use local version identifiers.
For example, CPU-only version is:
[code]

So, in `requirements.txt`, having a constraint such as `1.2.0+cpu` should be good.

We dont ship the variant wheels via PyPI though, and have no plans to do so (PyPI doesn't allow local version identifiers to be uploaded live)

[2019-10-07 03:47] #20494 closed

[2019-10-07 04:00] mruberry commented on #27355
#27444 addresses most of this issue.

[2019-10-07 05:15] fmassa commented on #24915
@vadimkantorov

Yes, I agree, and torchvision is going to be doing this, see https://github.com/pytorch/vision/issues/1375

[2019-10-07 06:00] soumith commented on #27419
duplicate of https://github.com/pytorch/pytorch/issues/18996 and will be fixed in upcoming release

[2019-10-07 06:00] #27419 closed

[2019-10-07 06:06] soumith commented on #27438
please use https://discuss.pytorch.org for questions

[2019-10-07 06:06] #27438 closed

[2019-10-07 06:10] soumith commented on #27420
cc: @mcarilli

[2019-10-07 06:11] soumith commented on #27413
it doesn't and we have no plans for it to

[2019-10-07 06:11] #27413 closed

[2019-10-07 06:21] soumith commented on #23795
Not the latest, but the last version that is released before Py2 support is gone. So if 1.4 is released in December 2019, it'll be available for Py2 users for as long as we host binaries.

[2019-10-07 06:24] soumith commented on #26340
the gating issues here are:

1. how do we do dependency tracking (torch-cpu is a change of package name). Unfortunately pypi doesn't allow us to upload packages with local version identifiers.
2. time and effort

[2019-10-07 06:24] #26188 closed

[2019-10-07 06:35] hugovk commented on #23795
Yep, and using `python_requires` in `setup.py` will help pip only install the supported library version for the user's running Python.

[2019-10-07 07:53] jalajthanaki commented on #14187
Hi All,

I'm facing similar issue. @SsnL Did you able to fix it?

[2019-10-07 07:55] ASDen commented on #27442
@t-vi After some more investigation, I had a very nice observation!
if I disable the special handling of large batch / alphabet (set `is_large = false;` after [this line](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/LossCTC.cu#L641))
the above test passes nicely for both floats and doubles, it is even a bit faster on a Titan XP (10-15% faster for long sequences, even  @

[2019-10-07 08:10] t-vi commented on #27442
Thank you for looking into this (if we want to make 1.3, we only have 10 hours left to find a fix, and I have only 5 hours...).

So this, combined with the fact that the difference isn't in the blank position points to `ctc_loss_backward_collect_nonblank_gpu_kernel` as the culprit - indeed, I found that the grid indexing is clearly wrong:
[code]
but I haven't completely solved it yet (probably the

[2019-10-07 08:13] t-vi commented on #27442
Oh, indeed, the obvious fix (y -> x) seems to do the trick.

[2019-10-07 11:44] PyExtreme commented on #27197
Hi @yf225 , I am getting an error while running the test. The link to the description is here:

https://discuss.pytorch.org/t/no-module-named-hypothesis-error-while-running-test/57603

It could be great if you could please help me with one.

[2019-10-07 12:00] t-vi commented on #27011
Ideally, we would have #27039 (CuDNN CTC loss) and #27460 (native CTC loss for long target lengths).
The CuDNN one is very ugly, though (writing into the memory for the CuDNN loss descriptor).

[2019-10-07 12:37] ASDen commented on #27442
Great! Thanks for the super fast resolution! @t-vi
catching 1.3 would be really awesome

[2019-10-07 13:14] Separius opened #27461 "add_zero_attn in MultiheadAttention breaks causality"
## 🐛 Bug

add_zero_attn=True in MultiheadAttention is ignoring the mask during the backward()

## To Reproduce

Steps to reproduce the behavior:
[code]

## Expected behavior

[code]

## Environment

[code]

## Additional context

you can run the provided code with `add_zero_attn=False` and see that the gradient is only non zero in non masked locations (except for the full masked token)

[2019-10-07 14:00] peterjc123 opened #27463 "Windows nightly conda builds failed for CUDA 10.0"
Error text:
[code]

cc @peterjc123

[2019-10-07 14:00] peterjc123 commented on #27463
cc @ezyang

[2019-10-07 14:46] vadimkantorov opened #27464 "torch.histc segfaults if array has inf"
[code]

Stack trace:
[code]

cc @ezyang @SsnL @gchanan

[2019-10-07 14:58] nairbv commented on #25472
completed in:
https://github.com/pytorch/pytorch/pull/26805
https://github.com/pytorch/pytorch/pull/26012

[2019-10-07 14:58] #25472 closed

[2019-10-07 14:59] pearu commented on #25978
Should `svd` also handle the specialized SVD algorithms such as for truncated or partial SVD (see #8049)? The corresponding algorithms would introduce algorithm-specific parameters to `svd`.

So, instead of `driver`, perhaps the different algorithms could be selected using `algorithm` keyword argument that may contain also driver-specific information (`lapack_gesvd`, etc) as well as of the assumpt

[2019-10-07 15:01] nairbv commented on #22826
this was fixed by https://github.com/pytorch/pytorch/pull/22273

[2019-10-07 15:01] #22826 closed

[2019-10-07 15:58] severinsimmler commented on #26340
`torch-cpu` would be a new project on PyPI, but the package name itself, `torch`, remains the same.

Assuming wheels are built with `setuptools`, the argument `packages` defines the _importable_ package name (which has to match a local folder name containing the code etc.), whereas `name` is the name in terms of metadata.

For example:

[code]

This will produce a wheel like `torch_cpu-0.1.0-py3-n

[2019-10-07 16:03] nairbv commented on #27464
@anjali411 will take a look

[2019-10-07 16:43] iam-abbas commented on #27443
May I work on this?

[2019-10-07 16:51] SsnL commented on #27421
I think it may be more general to change it to
[code]

What do you think?

[2019-10-07 16:54] pbelevich commented on #27197
@PyExtreme If you use conda, run `conda install hypothesis`,for pip I believe it should be `pip install hypothesis`

[2019-10-07 17:08] VitalyFedyunin commented on #26610
Sure

[2019-10-07 17:09] gchanan commented on #27266
@pbelevich will take a look.

[2019-10-07 17:14] supriyar commented on #27326
I'm unable to repro this locally - the test passes. Looking at https://ezyang.github.io/pytorch-ci-hud/build/pytorch-master, I don't see any failures in pytorch_macos_10_13_py3_test as well.
Latest log shows test_qconv passing https://circleci.com/gh/pytorch/pytorch/3090581?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link/console

@ezyang anything I'm missing here

[2019-10-07 17:23] vadimkantorov opened #27466 "batch_norm_elemt_cuda_template does not use its argument epsilon"
In the internal function [batch_norm_elemt_cuda_template](
https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/Normalization.cuh#L672) epsilon is passed to [batch_norm_transform_input_kernel](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/Normalization.cuh#L159), but `train=true` template parameter is used, so in fact epsilon is not used there either.

[2019-10-07 17:25] ezyang commented on #27463
@peterjc123 intermittent failure? I don't see any recent changes to this source file

[2019-10-07 17:28] Jimmy2027 opened #27467 "Cannot build pytorch from source"
## Cannot build pytorch from source

I am attempting to package your software for Gentoo Linux, and trying to build it with `python3.6 setup.py build` I get errors related to git and CMake, which seems strange.

## To Reproduce

[code]

Here is the full output:
[code]

## Expected behavior

I would expect it to build something

## Environment

[code]

## Additional Info

I also notice that your `c

[2019-10-07 17:31] ailzhang commented on #27011
Make not specifying `align_corners` a hard error.

---
status: https://github.com/pytorch/pytorch/pull/27468 opened for 1.3.0

[2019-10-07 17:32] andreaskoepf commented on #25478
@ezyang I looked into this because it has the 'small' tag. But I think I need more information about the `TensorAxes` design-idea before I could work on this.

Why are the TensorOptions compare-semantics currently non-obvious, could you give an example when it does not work as expected? Also I am not sure when/where `TensorAxes` should be used, e.g. instead of TensorOptions? I guess TensorOptions

[2019-10-07 17:42] vadimkantorov commented on #26288
I'm getting this error: `/deepspeech.pytorch/pytorch/aten/src/ATen/native/cuda/Normalization.cu(61): error: cannot overload functions distinguished by return type alone`

when applying:
[code]

@ezyang I suspect the error comes from the way dispatch mechnism is working. How do I make it work? If I use `const Tensor& output` instead of `Tensor& output`, it seems to compile.

[2019-10-07 17:47] jlin27 commented on #27432
@gottbrath - Just double-checking that you've got it fixed now? Looks good from the latest commits:
![image](https://user-images.githubusercontent.com/8042156/66335385-cadfc080-e8ef-11e9-8900-324582cb01cb.png)

[2019-10-07 17:49] jlin27 commented on #27317
Is there an image that's ready to add?

[2019-10-07 17:50] jlin27 commented on #27431
Looks corrected now:
![image](https://user-images.githubusercontent.com/8042156/66335650-4f324380-e8f0-11e9-8e1b-326356d0d50e.png)

[2019-10-07 17:51] driazati commented on #27011
#27386: [jit] Reduce special casing around 'training'

Status: #27386 opened against v1.3.0

[2019-10-07 17:59] dylanbespalko commented on #755
@ezyang,

I'm looking into operations like `fft()` and `var()` where the complex number implementation must convert the tensor data to a double tensor of shape: `(complex_shape, 2)`. This doesn't work with any existing tensor methods:

1. 'tensor.to(torch.float64): only keeps the real part, and returns a tensor with the same shape.
2. 'tensor.view(new_shape): new shape must have the same number of

[2019-10-07 18:05] jlin27 commented on #27430
Add some prose in this PR. Feel free to modify: https://github.com/gottbrath/pytorch/pull/10

[2019-10-07 18:05] jamesr66a opened #27475 "[JIT] script::Module API parity with nnmodule"
For example: https://github.com/pytorch/pytorch/issues/27144

[2019-10-07 18:06] jlin27 commented on #27450
Can you elaborate on what needs to be done here?

[2019-10-07 18:06] jamesr66a commented on #27144
@peastman Can you manually loop over the parameters and zero them out as a workaround?

[2019-10-07 18:07] PyExtreme opened #27476 "No module named _C"
## 🐛 Bug

While running the command, `pytest test/test_cpp_api_parity.py -k Loss -v`, I am getting the following error:
[code]

I have build PyTorch in **develop** mode. I have to push some changes to C++ Frontend. Since, I am new to PyTorch, I am not sure if it's because of my environment or if it is a bug.

 - OS (e.g., Linux): Ubuntu 18.04
 - How you installed PyTorch (`conda`, `pip`, source):

[2019-10-07 18:10] gchanan commented on #26610
I don't think this needs to be fixed -- if you follow the math from the documentation, your example should have output size 0.  I think this is probably: https://github.com/pytorch/pytorch/pull/22304 but I haven't confirmed that yet.

[2019-10-07 18:11] jamesr66a commented on #27040
Hi @t-vi, since this is not an officially supported platform, we likely won't have bandwidth to fix this. We'd be happy to accept patches to fix it, though :)

The intuition is this is probably something to do with the way we hash tensors for value tracking in tracing, and that not working for 32 bit pointers or something

[2019-10-07 18:16] gchanan commented on #26610
Yep, I tried before before https://github.com/pytorch/pytorch/pull/22304 and indeed get the old, incorrect behavior.  So I'm going to close this.

[2019-10-07 18:16] #26610 closed

[2019-10-07 18:24] jamesr66a opened #27479 "[JIT] Figure out how to easily investigate memory usage issues issues"
e.g. https://github.com/pytorch/pytorch/issues/25267
 And other internal reports

[2019-10-07 18:30] jamesr66a commented on #19349
Hi @ofexe and @reignianor, are you blocked on this? This was a design rough-edge we encountered, since there are many models that use shape values in their computation, and using Tensors allows those expressions to be accurately traced. We can make the behavior more consistent, but it would require a significant amount of work and we'd like to gauge whether users are blocked on this. Thanks!

[2019-10-07 18:36] driazati commented on #27476
You could try running the test from another directory, this sometimes happens if there is a file named `torch.py` or (more likely in this case) a folder named `torch/` with an `__init__.py` inside, then `import torch` tries to import that directly instead of the installed/symlinked version in your Python's `site-packages`.

Something might be getting installed incorrectly, the `import my_module` r

[2019-10-07 18:39] pbelevich commented on #27011
#27480 #include <stdexcept> into flat_hash_map.h to fix #27266

[2019-10-07 18:41] vadimkantorov commented on #26288
Hmm, the out variant in yaml cannot bind to the const variant `Tensor batch_norm_elemt_cuda(const Tensor& output, ...)`:
`/deepspeech.pytorch/pytorch/build/lib/libtorch.so: undefined reference to `at::native::batch_norm_elemt_cuda(at::Tensor&, at::Tensor const&, at::Tensor const&, at::Tensor const&, at::Tensor const&, at::Tensor const&, double)'
c`

when used with:
[code]

[2019-10-07 18:56] jlin27 commented on #27352
Corrected in this PR: https://github.com/gottbrath/pytorch/pull/10

[2019-10-07 18:56] #27352 closed

[2019-10-07 19:03] jerryzh168 commented on #27380
Not sure how hard it is to make non-scriptable observers work but I'll try

[2019-10-07 19:04] jph00 commented on #1552
This is very simply to implement in plain pytorch if we have a `searchsorted` function like numpy. Here's a memory-inefficient implementation in plain pytorch:

[code]

The line that calculates `locs` would be much faster by using `searchsorted`. Here's some related links:

- Open issue for interp: https://github.com/pytorch/pytorch/issues/1552
- Open PR for interp (only CPU): https://github.com/p

[2019-10-07 19:16] vadimkantorov commented on #27479
also related to https://github.com/pytorch/pytorch/issues/1529

[2019-10-07 19:37] Paritoshyadav opened #27482 "Jacobian-vector equation in autograd_tutorial font size is too small"
In tutorial https://pytorch.org/tutorials/beginner/blitz/autograd_tutorial.html
under Gradients

![jac](https://user-images.githubusercontent.com/20665510/66342644-88f26100-e967-11e9-9e34-3811148d5ca4.PNG)

cc @ezyang

[2019-10-07 20:08] jerryzh168 commented on #27380
do you mean use `torch.jit.ignore` to ignore the non-scriptable part of observer?

[2019-10-07 20:16] gottbrath commented on #27450
See where it says "Either: * A dictionary ... " and then there is a big whitespace and then "* A set of types..."

Looking at the source docstring I think the bullet point beginning "A dictionary..." and the bullet "A set of ..." are supposed to be two options that are parallel to one another. Can we get them to render the same?

I am kinda guessing just adding a newline before A dictionary might

[2019-10-07 20:18] gottbrath commented on #27431
thanks yes looks good in the preview to me.

[2019-10-07 20:18] gottbrath commented on #27430
looks great.

[2019-10-07 20:21] gottbrath commented on #27317
yes.

https://raw.githubusercontent.com/wiki/pytorch/pytorch/images/math-quantizer-equation.png

i can see that link in safari but not chrome for some reason. Let me know if you have trouble accessing it.

I got it from

https://github.com/pytorch/pytorch/wiki/torch_quantization_design_proposal

[2019-10-07 20:27] dskhudia commented on #27451
It looks like the following to me:

![Screen Shot 2019-10-07 at 1 24 51 PM](https://user-images.githubusercontent.com/37562707/66346038-20bf6300-e906-11e9-8d68-a3947be7e2a2.png)

[2019-10-07 20:28] gottbrath commented on #27295
any progress on this list of operations? @raghuramank100 ?

[2019-10-07 20:33] JamesTrick commented on #27447
HI @deipss - to be sure have you have set your Project Interpreter correctly in PyCharm? Steps are [here](https://www.jetbrains.com/help/pycharm/configuring-python-interpreter.html). Let me know if you continue to have issues, it doesn't yet sound like a bug with PyTorch.

[2019-10-07 20:33] andreaskoepf commented on #25892
As a manual workaround it is currently possible to load a GPU model back into normal CPU RAM by using the `map_location` argument of `torch.load()`, e.g. see [Save on GPU, Load on CPU](https://pytorch.org/tutorials/beginner/saving_loading_models.html#save-on-gpu-load-on-cpu).

[2019-10-07 20:35] driazati opened #27490 "[jit] TorchScript class attributes don't get recursively compiled"
[code]

Right now `X` would need an explicit `@torch.jit.script` decorator

cc @suo

[2019-10-07 20:53] #26884 closed

[2019-10-07 20:59] driazati opened #27493 "[jit] `index_put_` on a tensor slice with the element type does not work"
This works in eager mode

[code]

cc @suo

[2019-10-07 21:11] eellison opened #27495 "[JIT] builtin function attributes do not recursively compile"
## 🐛 Bug

If a function is assigned as a module attribute, it does not get picked up in recursive compilation. This may also hold true for classes.

## To Reproduce

[code]

d = Double()
torch.jit.script(d)

cc @suo

[2019-10-07 21:18] iseeyuan opened #27497 "TSAN failure related to mkldnn"
## 🐛 Bug

When running tsan on test/cpp/jit:jit -- 'JitTest\.LiteInterpreterConv', there's failure because of data race.

## To Reproduce

Steps to reproduce the behavior:

buck test @mode/dev-tsan caffe2/test/cpp/jit:jit -- 'JitTest\.LiteInterpreterConv' --run-disabled

The output trace is below:

Running 1 tests
Started new test run: https://our.intern.facebook.com/intern/testinfra/testrun/28147

[2019-10-07 21:30] kozzles commented on #26433
PR opened at https://github.com/pytorch/pytorch/pull/27498. Thanks!

[2019-10-07 21:34] joehoeller commented on #8611
Instead of a numpy array, I have a cupy array (cupy is a gpu enabled drop-in replacement for numpy).

`cupy_array = cu.array([1,2,3,4,5,6])
print(cupy_array)`

`tensor_cnv = torch.from_numpy(cupy_array)`

Error:
TypeError                                 Traceback (most recent call last)
<ipython-input-64-a81541e377fc> in <module>
----> 1 tensor_cnv = torch.from_numpy(cupy_array)
      2 print(tens

[2019-10-07 21:36] jlin27 commented on #27451
For #1 - need to add the :class: tag before the class name in the docs. Looks like it's missing in these places from branch v1.3.0 in the pytorch/pytorch repo:

- torch.nn.instrinsic.qat.modules
     - ConvBnReLU2d: https://github.com/pytorch/pytorch/blob/master/torch/nn/intrinsic/qat/modules/conv_fused.py#L186
- torch.nn.qat.modules
     - Conv2d:https://github.com/pytorch/pytorch/blob/master/tor

[2019-10-07 21:38] nairbv commented on #27011
opened https://github.com/pytorch/pytorch/pull/27501 for doc improvements on torch.add including type promotion information.

[2019-10-07 21:42] jlin27 commented on #27451
For #2 - I think it's because Sphinx is expecting one of it's standard docstring formats, so the original doc string will need to use either the :return: or :rtype: options to describe any values returned by the code:
https://sphinx-rtd-tutorial.readthedocs.io/en/latest/docstrings.html

@dskhudia - I think Chris had found that in torch.nn.instrinsic.**quantized**.modules  rather than the torch.nn.

[2019-10-07 21:44] t-vi commented on #27040
Fair enough. I must admit that it's not really a top priority for me, either, I just wanted to put it out so anyone else stumbling into this can see it.

[2019-10-07 21:46] ngoldbaum commented on #27097
I worked on this a bit today but got stuck. I tried to follow what @jamesr66a was doing in #27243 but got hung up on how to register the kernels. If anyone is curious, my work today ended up as this commit:

https://github.com/ngoldbaum/pytorch/commit/6197d071d5b6ee90149322f495af98ddc615bd23

That commit builds fine, but when I try to access the operator from Python, I get:

[code]

This works fin

[2019-10-07 21:57] eellison opened #27504 "[JIT] List Comprehensions With Ifs not Supported"
## 🐛 Bug

## To Reproduce

[code]

[2019-10-07 22:02] AshkanAliabadi commented on #27011
https://github.com/pytorch/pytorch/pull/27496 against v1.3.0

[2019-10-07 22:04] eellison opened #27505 "[JIT] ndimension not supported"
## 🐛 Bug

[code]

[2019-10-07 22:17] joehoeller commented on #8611
I fixed it --> When working with #cupy and #pytorch, you might have to do a couple things diff to turn a #numpy / cupy array into a tensor. First you need to copy the numpy (cupy )array, this will allocate new memory for numpy array . This is to prevent  negative strides within Ndarray which are  the number of locations in memory between beginnings of successive array elements. Next, we flip it wi

[2019-10-07 22:21] eellison opened #27506 "[JIT] Tuple is not iterable"
## 🐛 Bug

We should be able to use tuples as an iterable if they are a homogenous type (and maybe unroll heterogenous tuples).

[code]

cc @suo

[2019-10-07 22:21] lara-hdr commented on #27176
@gchanan, @houseroad, any thoughts on this?

[2019-10-07 22:28] joehoeller commented on #8611
For full on GPU compute, use:

` torch.tensor(cu.flip(cu.copy(cu.array([1,2,3,4,5,6])),axis=0), dtype=torch.float16, device='cuda:0')`

[2019-10-07 22:38] dashesy opened #27507 "[ONNX] Export torch.meshgrid"
## 🚀 Feature
Export meshgrid to ONNX

## Motivation

Instead of an error:

[code]

Can use `view` and `expand`

## Pitch

Use `view` and `expand` to export meshgrid

## Alternatives

Use `view` and `expand` in the code

[2019-10-07 22:51] zdevito commented on #18850
Adding support for returning non-tensor values can get confusing because it leads to the impression that the trace traces non-tensor computation. In cases where the output does not rely on the input (which is always true for the constant None), we already warn that the trace is likely not what was expected. Adding None as a special case would be weird as well, since it isn't very clear what we sho

[2019-10-07 23:03] dylanbespalko commented on #755
Some additional information regarding interpreting a complex number as an length-2 array of real numbers. The following is valid in C++11.

I think this means it is possible to convert a complex_tensor to a real_tensor with shape (complex_shape, 2) and then perform an operation without calling `real()` and `imag()` which allocated new memory.

[2019-10-07 23:07] GrzegorzKarchNV commented on #24235
I have the same problem with exporting jitted LSTM to ONNX

[2019-10-07 23:17] ezyang commented on #27326
In person, we decided to not look into this unless it happened again

[2019-10-07 23:18] yf225 commented on #27048
@gtamba My apologies that I was out of office last week which causes the delay in response - I saw that you add the tests in `test/cpp/api/functional.cpp` which is the right place to put them, and the tests you added for checking the expected output value are sufficient as well. :D Thanks so much for the great work!

[2019-10-07 23:27] ezyang commented on #25478
TBC, the small bit is deleting this from `TensorOptions,h`:

[code]

Why is it non-obvious? It doesn't test, for example, if pinned memory is equal. :) Another, more subtle, problem, is that it's not at all clear if `x.options() == y.options()` when x and y are exactly the same, except x requires grad, but y does not. (The answer is, they compare equal! That's because options() doesn't populate `r

[2019-10-07 23:28] ezyang commented on #26288
Give the two versions of batch_norm_elemt_cuda different names (and then adjust the `dispatch:` entries)

[2019-10-07 23:38] vadimkantorov commented on #26288
If I understand well, the problem is not about overload resolution and names, it's that the out variant binding to `Tensor& output`, but I have only `const Tensor&`. If I have `Tensor&` in my `batch_norm_elemt_cuda(...)` definition, I get `aten/src/ATen/native/cuda/Normalization.cu(61): error: cannot overload functions distinguished by return type alone`, even if I compile the cu file alone, witho

[2019-10-07 23:45] vadimkantorov commented on #26288
Btw then inplace BatchNorm is quite concise (this includes support for adding residual branches before LeakyReLU for DenseNet-like models. basically one needs access to forward, inverse and backward functions):
[code]

[2019-10-07 23:53] eellison opened #27512 "[JIT] floordiv not bound to tensor"
## 🐛 Bug

floordiv is only bound for int, not tensor, which results in an incorrectly inserted cast..
[code]

cc @suo

[2019-10-08 00:12] ezyang commented on #755
@dylanbespalko I was afraid of when you'd ask about this :) The `std::complex` guarantee means that if you have the data pointer `std::complex<float>*`, you can safely cast it into `float*` (mumble strict aliasing) and then pass it on to whatever fft thing you are using. If you only need to implement fft/var where you can pass on this low level rep, that will be easiest.

However, if you need to l

[2019-10-08 00:19] ezyang commented on #27097
@ngoldbaum I think the problem is that once you put the operators in `native_functions.yaml` they go in the `aten` namespace rather than the `quantized` namespace. This is hard-coded in `native_parse.yaml`:

[code]

Maybe you can detect if `func['func']` doesn't already have a namespace and if it does, don't prepend on `aten::`.

[2019-10-08 00:45] fmassa commented on #27507
There is an open PR adding support for meshgrid in https://github.com/pytorch/pytorch/pull/26037

[2019-10-08 00:50] zou3519 commented on #27505
A workaround is to use `x.dim()`. `ndimension` is unofficially deprecated in favor for `dim` but I don't think anyone has actually added that deprecation warning to Python pytorch

[2019-10-08 00:52] pritamdamania87 opened #27517 "Allow explicit gradients in torch.distributed.autograd.backward() API"
The `torch.distributed.autograd.backward()` API in https://github.com/pytorch/pytorch/pull/27022 only allows scalars as the roots and doesn't allow explicit gradient tensors similar to the `torch.autograd.backward()` API. We should allow explicit gradients in this API as well.

[2019-10-08 00:52] pritamdamania87 commented on #27517
cc @ezyang

[2019-10-08 00:58] andreaskoepf commented on #27461
I have not yet fully analyzed the problem and I am not sure if the observed effect is a bug or by design.

It seems that in the self-attention variant with the added zero k & v sequence-entries (produced internally by `add_zero_attn=True`) the gradient is composed of a component coming from the query and one from values and keys. The gradient from the query is causing the undesired effect.

I modi

[2019-10-08 01:34] soumith commented on #27476
closing via david's comments

[2019-10-08 01:34] #27476 closed

[2019-10-08 01:39] soumith commented on #27015
cc: @yf225

[2019-10-08 02:33] soumith commented on #27011
@dreiss posted the following android picks: https://github.com/pytorch/pytorch/pull/27516

---
Status: waiting on CI 💛

[2019-10-08 02:42] vadimkantorov commented on #27479
The master branch started to OOM because of variable sequence sizing when older commits seemed to work fine, so I have to pad more agressively (128 now, 16 was ok before). Also keeping more variable batch sizes causes severe slow-downs, I think something has changed in the memory allocator.

[2019-10-08 03:11] vadimkantorov opened #27522 "[feature request] Sum of several tensors"
If I understand correctly `sum(tensor_list)` will allocate and keep O(N) intermediate tensors (same with a for loop) where N is number of tensors, which can be quite large in the case of big DenseNet. I propose to maybe generalize `torch.add` to support more than two tensors as input.

[2019-10-08 03:39] peterjc123 commented on #27463
Yes, it doesn't appear every time duing builds.

[2019-10-08 03:44] peterjc123 commented on #27463
But it will fail in this specific job only: Windows_CUDA_Conda_Build PY3.5_100

[2019-10-08 03:58] jamesr66a commented on #27011
@zafartahirov has https://github.com/pytorch/pytorch/pull/27511

[2019-10-08 05:14] XiaobingSuper commented on #27497
@iseeyuan, can you list how to you build PyTorch, used device and other information suggested in PyTorch bug report? as this,
- PyTorch Version (e.g., 1.0):
 - OS (e.g., Linux):
 - How you installed PyTorch (`conda`, `pip`, source):
 - Build command you used (if compiling from source):
 - Python version:
 - CUDA/cuDNN version:
 - GPU models and configuration:
 - Any other relevant information:

Th

[2019-10-08 05:27] Separius commented on #27461
I think I was wrong. Based on @andreaskoepf 's experiment, it makes perfect sense for the output to be dependent on the query and there is no way to alleviate it.

Thanks.

[2019-10-08 05:27] #27461 closed

[2019-10-08 08:13] yulkang commented on #21987
Doesn't this do the job:
[code]
This is a part of the [pylabyk](https://github.com/yulkang/pylabyk) library, which also has `nansum`, among others. Please let me know if you find any issue.

[2019-10-08 08:35] miaomi1994 opened #27526 "at::NoGradGuard no_grad"
when I use at::NoGradGuard no_grad,it gets error like this:

![image](https://user-images.githubusercontent.com/29307135/66380183-7882ca80-e9e9-11e9-980e-7c78a3cdef41.png)
If I don't use it,the code works fine.I don't know the reason.

cc @ezyang @SsnL @albanD @zou3519 @gqchen

[2019-10-08 08:44] joe8086 commented on #26961
Hi @ailzhang

Thanks, it looks OK for me. It give me a more clear doc to understand the IR detail.

[2019-10-08 08:44] #26961 closed

[2019-10-08 09:57] anands-repo commented on #4037
I think this is already supported.

Notice the function scatter in pytorch/torch/nn/parallel/scatter_gather.py. If the argument to the forward function is a class object, the scatter function (and hence the DataParallel module) simply passes it along to each replicated model instance without splitting the data. This allows us to split the data in whichever way we like and pass it along, and DataPa

[2019-10-08 10:08] nian-liu commented on #4126
@soumith what do you mean by "writing some more papers"? Now I am preparing my CVPR 2020 submission, can I cite the NeurIPS2019 paper with the authors listed on the NeurIPS'19 AcceptedPapersInitial webpage?

[2019-10-08 10:36] t-kuha commented on #27011
Please include #27533 into v1.3.0.

[2019-10-08 10:39] deipss commented on #27447
I am sure that there are not any problem in PyCharm, and I can use PyCharm to run my codes in the courcse of nature.
Actually what I mean is that I installed pytorch 1.2.0 but I cannot use Transformer of which, And now, I guess the true problem is my installed package or installed image.

[2019-10-08 10:48] TheodoreZhao commented on #26247
There is also the same kind of problem on CPU.
RuntimeError: "where_cpu" not implemented for 'Bool'

[2019-10-08 10:50] vadimkantorov commented on #27421
I think it's quite strange to create a field only if the passed object is not None. If the derived class does not want to have any data_source passed, they will bypass the base class constructor entirely (or do you want to have them call it anyway, but passing no data_source?)

Also most frequently the data_source object is of type Dataset, so discrepancy between a more generic `data_source` and a

[2019-10-08 11:28] colesbury commented on #27479
@vadimkantorov are you referring to GPU memory? The referenced issue is CPU only.

[2019-10-08 11:32] zubairahmed-ai commented on #22674
Facing the same issue my torch is `torch==1.1.0` and pip says requirement already satisfied there is no `1.2` version?

[2019-10-08 11:35] vadimkantorov commented on #27479
@colesbury Yes, I'm referring to GPU memory. It seems that because of the sequence size issues, PyTorch now is susceptible to OOM

[2019-10-08 12:26] pietern commented on #27365
Thanks for reporting.

Would you be interested in putting up a PR to fix this?

[2019-10-08 12:30] pietern commented on #27366
Thanks for reporting the issue. Given that there is discussion in the PR you put up I'm closing this one.

[2019-10-08 12:30] #27366 closed

[2019-10-08 12:36] pietern commented on #27278
@mruberry Do you know which exact test this is? The test output is line-buffered, so we only get to see the previous test in the log output...

[2019-10-08 12:37] baqwas opened #27539 "Raspberry Pi Zero W build fails"
After installing the prerequisites (and setting the following environment variables):

[code]

I could not complete the build with the following command:

`make -VERBOSE=1`

The tail of the error messages is:

[code]

The platform summary is:

[code]

I understand that trying to install **pytorch** on RPi0W detracts but I'm willing to be an able-bodied tester since I have quite a few Raspberry Pi

[2019-10-08 12:40] pietern commented on #27409
Thanks for reporting. I suppose this is only an issue if MAGMA is installed in a non-system path?

Is this something you could submit a PR for?

cc @soumith for MAGMA

[2019-10-08 12:50] pietern commented on #27412
@rohan-varma Isn't the problem here that the constructor might not finish before another thread uses the statically initialized object? If so, this implies some kind of locking for not only static initialization but also use. I couldn't find anything that suggests this in the standard link that @pritamdamania87 included.

An alternative here is the use of `call_once` of course.

[2019-10-08 12:52] pietern commented on #27426
I'm not aware of any plans to do this.

[2019-10-08 12:52] ASDen opened #27540 "CTCLoss cuda backend large batch handling takes up to 1.8x more memory"
## 🐛 Bug

The special large batch / alphabet handling, although can provide up to 2.5x speedup sometimes, it comes at the cost of up to 1.8x more memory. For large targets, this can be a significant amount of increased memory usage (in the order of multiple GBs).
I think if the memory consumption can't be put down, then this should be optional, many users with tight memory constraints would prefer

[2019-10-08 13:04] pietern commented on #27441
Thanks for reporting the issue. It looks like this should work out of the box indeed.

Would you be willing to submit a PR to fix this?

[2019-10-08 13:09] pietern commented on #27448
@houseroad Can you take a look at this?

[2019-10-08 13:09] vadimkantorov commented on #27365
I'm not really an autograd mechanics expert, sorry :(

[2019-10-08 13:13] pietern commented on #27420
cc @jjsjann123 for `nn.SyncBatchNorm`.

[2019-10-08 13:17] pietern commented on #27443
Thanks for reporting. If you spot more issue in the future, you can fork the PyTorch repository and easily edit the README file from the browser, and submit a pull request. Then we can merge that much more easily compared to reporting them in an issue and having someone submit a PR separately.

[2019-10-08 13:22] #27443 closed

[2019-10-08 13:23] JVTEAM commented on #27539
Also having a fail during compiling...

[ 12%] Building C object confu-deps/pthreadpool/CMakeFiles/pthreadpool.dir/src/threadpool-pthreads.c.o
In file included from /home/pi/pytorch_install/pytorch/build/confu-srcs/pthreadpool/src/threadpool-pthreads.c:35:
/home/pi/pytorch_install/pytorch/build/confu-srcs/pthreadpool/include/pthreadpool.h:183:2: warning: ‘pthreadpool_function_1d_t’ is deprecated [

[2019-10-08 13:25] pietern commented on #27466
Thanks for reporting.

I'm not sure what the right resolution is here. Tagging for triage review.

[2019-10-08 13:27] vadimkantorov commented on #27466
I think the resolution can be removing `epsilon` argument from `batch_norm_elemt_cuda_template` and `torch.batch_norm_elemt` (since it's not used)

[2019-10-08 13:28] pietern commented on #27467
I think this is a problem with the Gentoo package file instead. Please refer to the Gentoo issue tracker and the maintainer for the PyTorch package there. It looks like the `gloo` submodule isn't checked out (and probably others as well).

Closing this issue as this is not actionable here.

If this turns out to be a reproducible issue when building from source yourself, feel free to reopen.

[2019-10-08 13:28] #27467 closed

[2019-10-08 13:32] #27507 closed

[2019-10-08 13:32] wangwwno1 commented on #27441
[Pull Request](https://github.com/pytorch/pytorch/pull/27541) submitted.

[2019-10-08 13:38] pietern commented on #27522
I agree that would be nice.

Would you be willing to submit a PR for this?

@gchanan What would this take on the dispatch side? I imagine this would require changing the core op to take N inputs, so it might be more complicated than it seems.

[2019-10-08 13:39] pietern commented on #27463
I'm surprised that `error C2065: 'ITEMS_PER_THREAD': undeclared identifier` can be intermittent...

Indicates a parallel race in loading the headers in NVCC, perhaps? Really weird...

[2019-10-08 13:42] peterjc123 commented on #27463
@pietern Let's see whether it appears in today's build.

[2019-10-08 13:47] volcacius opened #27542 "Sorted topk behaves inconsistently depending on k"
## 🐛 Bug

torch.topk with sorted=True doesn't return a result that is consistent across different values of k when dealing with duplicates values. The position of duplicated values in the returned sorted indices varies with k. The behavior varies between CPU and CUDA, and it's inconsistent both between and within the two backends.

This affects the reference implementation for computing accuracy i

[2019-10-08 13:56] pietern commented on #27526
Please fill out the bug report template with version information, environment, etc.

[2019-10-08 14:09] szmigacz commented on #24235
Here is a simpler repro, just a 1-layer LSTM, which also fails with the same error:

`import torch
import torch.nn as nn

class test(torch.jit.ScriptModule):
    def __init__(self, rnn_dims=32):
        super().__init__()
        self.rnn = nn.LSTM(input_size=rnn_dims, hidden_size=rnn_dims)

    @torch.jit.script_method
    def forward(self, x):
        out, _ = self.rnn(x)
        return out

mod

[2019-10-08 14:10] umanwizard commented on #21987
I'm not working on this anymore, sorry.

[2019-10-08 14:12] mratsim commented on #26534
One of the matrix A or B is distributed over the rest. There are 2 main use-cases:

1. Convolution via **im2col + GEMM** (somewhat obsolete by the new convolution algorithms but lots of codebases are still using it)
From Caffe1 code - batched convolution:
https://github.com/BVLC/caffe/blob/1.0/src/caffe/layers/base_conv_layer.cpp#L255 and
https://github.com/BVLC/caffe/blob/1.0/src/caffe/layers/con

[2019-10-08 14:26] PyExtreme commented on #25883
@yf225 , I am planning to work on CrossEntropyLoss and NLLLoss. Please update it in the list.

Thank you

[2019-10-08 14:37] iseeyuan commented on #27497
It's from FB internal build, but the error looks like generic in mkldnn.
PyTorch Version (e.g., 1.0): pytorch/pytorch master code
OS (e.g., Linux): CentOs
How you installed PyTorch (conda, pip, source): source
Build command you used (if compiling from source): Internal build command
Python version: 3.7
CUDA/cuDNN version: N/A. issue is from CPU
GPU models and configuration: N/A
Any other relevant

[2019-10-08 14:47] ezyang commented on #26288
Ah! Yes, you need to match whatever it is the prototype defined for the function. The argument for out should be a mutable tensor (it's wrong, we're trying to fix it)

[2019-10-08 14:50] ezyang commented on #27365
Docs live at https://pytorch.org/docs/stable/notes/extending.html#extending-torch-autograd there do not appear to be any reference docs however

[2019-10-08 14:51] ezyang commented on #27482
Here's what it looks like for me:

![image](https://user-images.githubusercontent.com/13564/66406423-6f214000-e9a0-11e9-9084-e6b93cfebae2.png)

What is your browser?

[2019-10-08 15:03] pietern commented on #27447
This is a question for the forums and not an issue with PyTorch itself.

[2019-10-08 15:03] #27447 closed

[2019-10-08 15:08] pietern commented on #27539
What is the most recent version where this worked?

It looks like the inline assembly in the threadpool isn't compatible with the compiler.

@ilia-cher Do you know anything about this?

[2019-10-08 15:52] eellison opened #27543 "[JIT] Reverse slicing List gives runtime error"
## 🐛 Bug

## To Reproduce

[code]

        @torch.jit.script
        def test():
            a = [1, 2, 3, 4]
            return a[::-1]
[code]

[2019-10-08 16:12] eellison commented on #17662
What is the next steps on this ? @gchanan @Krovatkin ?

I just ran into this bug. I think we should try to prioritize bugs that silently give the wrong semantics.

[2019-10-08 16:31] mruberry commented on #27278
It does not happen consistently at any point. In fact, many of the hangs happen after test_dataloader runs and reports success. This suggests it's a hang on dataloader shutdown.

[2019-10-08 16:34] SsnL commented on #27278
For a quick “fix”, I will accept a PR that adds a reasonable timeout for
test_dataloader in run_test.py.

On Tue, Oct 8, 2019 at 12:32 Mike Ruberry <notifications@github.com> wrote:

[2019-10-08 16:39] SsnL commented on #27278
Hmm if run_test.py kills the subprocess after 30min, it won’t hang the
entire build, right?

On Tue, Oct 8, 2019 at 12:38 Mike Ruberry <notifications@github.com> wrote:

[2019-10-08 16:42] mruberry commented on #27278
What subprocess?

[2019-10-08 16:48] SsnL commented on #27278
The test suite entry point run_test.py sequentially run each test file (eg
test_dataloader.py) in subprocesses and wait for them.

Adding a timeout won’t mark the build as successful, but at least will
unblock tests afterwards and won’t occupy resource indefinitely.

On Tue, Oct 8, 2019 at 12:43 Mike Ruberry <notifications@github.com> wrote:

[2019-10-08 16:50] driazati commented on #27011
#27545

Waiting on CI, landing in master in #27514

[2019-10-08 16:53] yf225 commented on #25883
@PyExtreme Thanks so much for your help! I updated the list accordingly.

[2019-10-08 16:53] mruberry commented on #27278
Oh I see. Yes we could set a process-level timeout, or just set it for test_dataloader, in run_test.py. I'd prefer we just fix the underlying issue, however.

[2019-10-08 16:53] mboedigh commented on #18602
I had the same error message in the same step in the setup as the OP. I only had CUDA 10 installed (both 10 and 10.1). setting CUDAHOSTCXX as described by peterjc123 on April 2 solved my problem. (I didn't use any other steps because I didn't have CUDA 9.

[2019-10-08 16:57] SsnL commented on #27522
Also wondering how hard it would be to automatically parallelize this with streams (when suited) in backend.

[2019-10-08 17:06] peastman commented on #27144
Thanks!  It looks like the code to do that should be something like this:

[code]

I'm stuck on the second line.  In Python I could just write `grad is not None`, but I can't figure out the corresponding C++.

[2019-10-08 17:12] SsnL commented on #27278
We should definitely fix the underlying issue. It is a pretty hard issue
too. At least last time I looked into it for days and I couldn’t figure out
why.

On Tue, Oct 8, 2019 at 12:54 Mike Ruberry <notifications@github.com> wrote:

[2019-10-08 17:26] ljk53 commented on #27011
#27547

Waiting on CI

[2019-10-08 17:40] albanD commented on #27365
We are definitely a page where to show the docs for the methods we make available to `ctx.` (save_for_backward, mark_dirty and mark_non_differentiable) when creating a custom Function.
These docs are already written [here](https://github.com/pytorch/pytorch/blob/593bb145ceea548478f83fd820de44b95d375108/torch/autograd/function.py#L10-L59) and just need to be linked on some page and linked to from t

[2019-10-08 17:44] driazati opened #27549 "[jit] torchvision deeplabv3_resnet101 fails in interpreter"
Noticed in https://github.com/pytorch/vision/pull/1430, `test_deeplabv3_resnet101` fails when executing in TorchScript but passes in eager mode:

[code]

[code]

cc @suo

[2019-10-08 18:11] JVTEAM commented on #27539
It was working with these instructions

https://medium.com/hardware-interfacing/how-to-install-pytorch-v4-0-on-raspberry-pi-3b-odroids-and-other-arm-based-devices-91d62f2933c7

and this fix...
https://github.com/pytorch/pytorch/issues/22564

Which is to run the command:
git submodule update --remote third_party/protobuf

[2019-10-08 18:15] jjsjann123 commented on #27420
SyncBatchNorm with amp has been fixed in PR: https://github.com/pytorch/pytorch/pull/22750
Please update to ToT PyTorch.

[2019-10-08 18:23] bddppq opened #27551 "torch.split with tensor sizes fails in tracing"
## 🐛 Bug

## To Reproduce

Code
[code]

Error:

[code]
## Expected behavior

Trace successfully

## Additional context

I think this is related to sizes being handled specially in tracing mode.

cc @ezyang @gchanan @zou3519 @suo

[2019-10-08 18:30] iotamudelta commented on #22417
Resolved with #27425

[2019-10-08 18:30] #22417 closed

[2019-10-08 18:31] albanD commented on #13402
Actually I think the problem is with the automatically generated code:
The main batchnorm declaration can be found [here](https://github.com/pytorch/pytorch/blob/0d22f3b1709467ee42c5b00628ad5648c2b27fb6/tools/autograd/derivatives.yaml#L582). As you can see, the stats are marked as optional with the `?`.
The problem is that they are not marked as being changed inplace. This is done with an `!` as i

[2019-10-08 18:38] Maratyszcza commented on #27539
Maratyszcza/pthreadpool@158098ac36d257bedd7d9c02d7276eb8b2077881 should fix it.

[2019-10-08 18:55] #10127 closed

[2019-10-08 18:55] ailzhang commented on #27011
https://github.com/pytorch/pytorch/pull/27557

----
fix jit test failures

[2019-10-08 19:24] marioRaouf commented on #11978
i tried this but it didn't work

it gave me this error:
--2019-10-08 19:19:41--  https://anaconda.org/pytorch/pytorch-nightly/1.0.0.dev20181206/download/linux-64/pytorch-nightly-1.0.0.dev20181206-py2.7_cuda9.2.148_cudnn7.4.1_0.tar.bz2
Resolving anaconda.org (anaconda.org)... 104.17.93.24, 104.17.92.24, 2606:4700::6811:5c18, ...
Connecting to anaconda.org (anaconda.org)|104.17.93.24|:443... connect

[2019-10-08 19:45] pbelevich commented on #27266
merged to master and v1.3.0

[2019-10-08 19:45] #27266 closed

[2019-10-08 20:16] dashesy commented on #27376
If the input shape is dynamic, the scale will not be constant. If the op accepts output size instead of scales, that would be also great.

[2019-10-08 20:34] spiovesan opened #27567 "Windows C++ install issue"
## 🐛 Bug

Start locally with Stable 1.2 Windows Conda Python 3.7 Cuda 10.0 installs pytorch 1.0.1 instead of 1.2
Start locally with Stable 1.2 Windows LibTorch C++ Cuda 10.0 does not have cuda dlls and run a C++ project gives `Cannot initialize CUDA without ATen_cuda library`

Run conda install pytorch torchvision cudatoolkit=10.0 -c pytorch and download
https://download.pytorch.org/libtorch/cu100

[2019-10-08 20:41] spiovesan opened #27568 "Windows nightly build errors"
## 🐛 Bug

There are build errors with https://download.pytorch.org/libtorch/nightly/cu100/libtorch-win-shared-with-deps-latest.zip
1. Unicode build
2. compile issue

1. Set Unicode carachter set in the project settings: you have an error .\libtorch\include\torch\csrc\jit\pickler.h line 34 with
`UNICODE` = 'V',

2. In \libtorch\include\c10\util\llvmMathExtras.h
[code]
does not compile, should be ch

[2019-10-08 20:48] ngoldbaum commented on #26673
The specific issue pointed out here has been fixed, so I'm going to close this in favor of #16574 which tracks broader improvements to type correctness.

[2019-10-08 20:48] #26673 closed

[2019-10-08 20:51] Paritoshyadav commented on #27482
Chrome and firefox

[2019-10-08 21:05] houseroad commented on #27551
cc: @spandantiwari @neginraoof I think this also affects ONNX exporter.

[2019-10-08 21:06] racoiaws opened #27569 "Export from TorchScript to ONNX: torch.onnx.symbolic_opset9.dim does not exist"
## 🐛 Bug

TorchScript -> ONNX conversion of a simple module fails

If one doesn’t jit-compile the model, everything works.

## To Reproduce

[code]

Output

[code]

## Expected behavior

I expected that a jit-compiled module consisting of just two `nn.Linear` children should export to ONNX without hassle.

## Environment

Google Colab, I think at the moment it has PyTorch 1.2.0 and Python 3.6

##

[2019-10-08 21:29] zhangguanheng66 commented on #26698
Close the issue. A fix has been landed [26826](https://github.com/pytorch/pytorch/pull/26826)

[2019-10-08 21:29] #26698 closed

[2019-10-08 21:33] dashesy commented on #22906
@guissart I use this to patch for `bilinear2d` but unfortunately (as you mentioned) I also get same different results.

[code]

[code]

Did you find a workaround?

[2019-10-08 21:48] zou3519 commented on #27011
Documentation for named tensors: https://github.com/pytorch/pytorch/pull/27573. Corresponding PR to master: https://github.com/pytorch/pytorch/pull/27173

---
Status: Waiting on CI 💛

[2019-10-08 22:03] nuka137 commented on #25883
@yf225

I'm now tackling `LPPool1d` and `LPPool2d` while the Softmax related APIs are reviewing.
Could you update them in the list? Thanks

[2019-10-08 22:04] Paritoshyadav commented on #27482
OK, I try this and this solves my problem:
I found out that PyTorch tutorials are using MathJax library for the equation
So, I change the setting of Mathjax
Math render -> preview HTML instead of HTML-CSS
and it works out great

![equation](https://user-images.githubusercontent.com/20665510/66436487-cb3da000-ea44-11e9-911a-32b3e37e5145.PNG)

[2019-10-08 22:06] yf225 commented on #25883
@nuka137 Just updated the list. Thanks so much for your help!

[2019-10-08 22:19] baqwas commented on #27539
After receiving the above replies, ran the following:

[code]

The tail end of the ensuing output is listed below:

[code]

The issue has not gone away for me. Sorry, the messages are beyond my expertise. The compiler is gcc 8.3.0 (Raspbian 8.3.0-6+rpi1)

Thanks again for the guidance. Kind regards.

[2019-10-08 22:37] ngoldbaum commented on #27097
Made progress today with the hint above as well as more careful reading of the various README.md files scattered throughout the tree. I'm starting to understand how native kernels get generated and registered.

Latest version is here: https://github.com/ngoldbaum/pytorch/commit/b45b6304ec6c808c6faf169ef4d418595afc0816

I'm pretty sure I've added the scalar kernels to `native_functions.yaml` correc

[2019-10-08 22:59] pritamdamania87 opened #27579 "Support Anomaly detection for distributed autograd."
The local autograd engine has a very useful anomaly detection mode which provides detailed traces of why the backward pass might've failed: https://pytorch.org/docs/stable/autograd.html#anomaly-detection. We should figure out what anomaly detection would look like for distributed autograd.

[2019-10-08 22:59] wanchaol commented on #27569
If you want to export the model to ONNX, please directly use `torch.onnx.export` (no `torch.jit.script` is needed) as indicated in the [ONNX section](https://pytorch.org/docs/stable/onnx.html), `torch.onnx.export` will call TorchScript tracing underlying and do some additional graph transformation to make it compatible with ONNX format.

[2019-10-08 23:02] arf1372 commented on #26595
Dear @prolulu

Could you provide more information about your runtime environment?
Like running [this script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
or answer these questions?

* PyTorch Version (e.g., 1.0):
* OS (e.g., Linux):
* How you installed PyTorch (conda, pip, source):
* Build command you used (if compiling from source):
* Python version:
* CUDA

[2019-10-08 23:20] jon-tow commented on #25883
@yf225, I'd love to work on `Upsample` if that's okay!

[2019-10-08 23:24] yf225 commented on #25883
@jon-tow Yes definitely! Thanks so much for your help :D

[2019-10-08 23:36] CarMiranda commented on #25883
Hi @yf225, I have started working on PixelShuffle and would also like to take on MultiLabelMarginLoss, SmoothL1Loss, SoftMarginLoss, MultiLabelSoftMarginLoss! Would that be okay?

[2019-10-08 23:53] yf225 commented on #25883
@CarMiranda Yes definitely! I've just marked them on the list. Thanks so much for the great work you have done / are working on!

[2019-10-08 23:55] eellison commented on #27549
Fixed in https://github.com/pytorch/vision/pull/1436

This was caused by https://github.com/pytorch/pytorch/issues/26671

[2019-10-09 00:20] dreamingleo opened #27584 "torch.split can't accept Tensor as the second positional argument in tracing mode"
## 🐛 Bug

In tracing mode integer input is converted to Tensor. However there's no corresponding torch.split that accepts Tensor as the second positional argument.

e.g.

  torch.split(_1, _1.size(1) // 2, dim=1)      # _1.size(1) returns a Tensor in tracing mode

  torch/functional.py", line 77, in split
  return tensor.split(split_size_or_sections, dim)

  torch/tensor.py", line 339, in split

[2019-10-09 00:53] t-kuha commented on #27011
Please include #27587.
(Fixed target branch to v1.3.0)

[2019-10-09 02:34] isalirezag opened #27588 "RuntimeError: cuDNN error: CUDNN_STATUS_MAPPING_ERROR"
I am using pytorch 1.2.0 via CUDA 10 on ubuntu 16.04 and titan XP GPU.

When my batch size is 20 i get the mentioned error:
[code]
interestingly, if I use:
```torch.backends.cudnn.enabled = False```

the error will disappears and the code run okay, BUT it will be 4 times slower...

also if i dont have
```torch.backends.cudnn.enabled = False```
in my code i notice that if i reduce the batch size to

[2019-10-09 03:16] soumith commented on #18996
issued https://github.com/pytorch/builder/commit/7b69a95bbd3298c6303e137c9beee4fadd71a894 to attempt to fix. awaiting results

[2019-10-09 03:48] peterjc123 commented on #27568
What about using `static_cast`?

[2019-10-09 03:53] peterjc123 commented on #27567
1. Yes, I experienced it as well. Looks like it's caused by an external package called `_pytorch_select`. https://anaconda.org/anaconda/_pytorch_select
2. Did you copy all the DLLs from `lib` to where your executable locates?

[2019-10-09 04:33] shivaprasad123m commented on #14468
Use the below link
"pip3 install torch==1.2.0+cpu torchvision==0.4.0+cpu -f https://download.pytorch.org/whl/torch_stable.html"
for windows OS with configuration.
OS : Windows
Package : PIP
Language : Python 3.6
CUDA : None

[2019-10-09 06:33] spiovesan commented on #27567
I am not still in production with my project and then I could solve using the nightly build, that ships for `Windows conda python 3.7` a `pytorch 1.3` and for the C++ release package all the needed cuda dlls .

[2019-10-09 06:52] CoinCheung commented on #27420
Thanks, I compiled pytorch from source and now the problem no longer exists.

[2019-10-09 06:52] #27420 closed

[2019-10-09 07:03] yf225 commented on #27078
@pushkalkatara Are you currently working on this issue?

[2019-10-09 07:04] yf225 commented on #25644
@gchanan : Based on conversation with @jlin27, this is pushed through for the v1.3.0 release as well.

[2019-10-09 07:04] #25644 closed

[2019-10-09 07:05] peterjc123 commented on #27568
I just realized that it's just the same issue with https://github.com/pytorch/pytorch/pull/15499#issuecomment-450038494.

[2019-10-09 07:05] CoinCheung opened #27595 "Get lr scheduler warning when using amp to train with fp16"
## 🐛 Bug

Have a warning message when I used amp to train a model with fp16.

## To Reproduce

With this code:
[code]

I got the warnining:

/miniconda/envs/py36/lib/python3.6/site-packages/torch/optim/lr_scheduler.py:113: UserWarning: Seems like `optimizer.step()` has been overridden after learning rate scheduler initialization. Please, make sure to call `optimizer.step()` before `lr_scheduler.st

[2019-10-09 07:30] jatentaki opened #27598 "Conv2d crashes with `stride=0`"
## 🐛 Bug

As in the title: sanitization for the `stride` argument to convolutions doesn't check for `0` and crashes with core dump (note that negative strides are checked).

## To Reproduce
[code]
## Expected behavior
A Python exception, ideally at `Conv2d` instantiation; alternatively at call site.
## Environment
PyTorch version: 1.2.0
Is debug build: No
CUDA used to build PyTorch: None

OS: Ubun

[2019-10-09 08:26] thequilo opened #27600 "Free Memory after CUDA out of memory error"
## 🐛 Bug

Sometimes, PyTorch does not free memory after a CUDA out of memory exception.

## To Reproduce

Consider the following function:
[code]

Executing it one time gives the expected out of memory error after some iterations:
[code]

Executing a second time gives a OOM error immediately after the first iteration, which means that the memory consumed by the scoped variables in x is still occup

[2019-10-09 08:48] zhjw0927 opened #27601 "Libtorch Inference Batch Input"
![image](https://user-images.githubusercontent.com/42128459/66465726-f57a7680-eab3-11e9-91f6-92840c57e70f.png)

The above is the data preprocessing stage. The batch input to the model is one.
Now, I want to set batch to four, because will process four channels of video at the same time.
How should I do ? Hope get your help. Thank you !

cc @yf225

[2019-10-09 09:13] vera121 opened #27602 "wrong output dimension for onnx conv layer parse with "SAME_UPPER" padding"
## 🐛 Bug

When I try to use pytorch/caffe2 as backend to run onnx model, I found the result for conv layer with "SAME_UPPER" padding is wrong. The output shape is not correct as expected.

## To Reproduce
Model is downloaded from onnx model zoo: [tiny_yolov2](https://onnxzoo.blob.core.windows.net/models/opset_8/tiny_yolov2/tiny_yolov2.tar.gz)

Steps to reproduce the behavior:
1. install pytorch an

[2019-10-09 09:48] yxchng commented on #9922
Any updates on this?

[2019-10-09 09:54] raghavsonavane commented on #9587
https://github.com/pytorch/pytorch/issues/8392#issuecomment-431863763
I was facing the same issue, this resolved my problem.

[2019-10-09 10:17] gottbrath commented on #27317
![math-quantizer-equation](https://user-images.githubusercontent.com/45861273/66473059-6170c680-ea43-11e9-8844-c11dc0f0a8bf.png)

[2019-10-09 10:51] gottbrath commented on #27317
I am working on this. I think I see how to add the image.

[2019-10-09 10:56] gottbrath commented on #27317
yes .. working!

[2019-10-09 10:56] gottbrath commented on #27317
<img width="815" alt="fix-for-forumula" src="https://user-images.githubusercontent.com/45861273/66475751-ced32600-ea48-11e9-9c8c-3033a176f07e.png">

[2019-10-09 11:03] dylanbespalko commented on #755
@ezyang,

Yes this was inevitable...

Yes this possible in many cases. Are you able to provide a code-snippet of how to interpret tensor data as a std::vector?

I would imagine it is rare to view a tensor using another dtype. I implemented a `set_dtype()` method for `Tensor`, but I got some errors. I also didn't update the strides to reflect the changes in shape. I'm not sure why setting dtype wor

[2019-10-09 11:04] gottbrath commented on #27317
https://github.com/pytorch/pytorch/commit/b800134b332e1716dcd35ca9c9ef3615939d15d0

[2019-10-09 12:03] vainaijr opened #27604 "notebook not found"
## 📚 Documentation

SEQUENCE-TO-SEQUENCE MODELING WITH NN.TRANSFORMER AND TORCHTEXT
google colab notebook not found
https://colab.research.google.com/github/pytorch/tutorials/blob/gh-pages/_downloads/transformer_tutorial.ipynb

also error when running the code in colab
![Screenshot (27)](https://user-images.githubusercontent.com/43755000/66479951-83685880-ead8-11e9-95b8-485932a68cdf.png)
![Screens

[2019-10-09 12:47] soumith commented on #18996
things are looking good, still needed delocation for `libiomp5.dylib`, so added https://github.com/pytorch/builder/commit/9637336a682482a301f47da4f40a2bfe01690759

[2019-10-09 13:24] saman-moeinsadat commented on #22820
the problem here is with torch.exp and torch.sqrt, there is a very post about it that solved my problem:
https://medium.com/@me_26124/debugging-neural-networks-6fa65742efd

[2019-10-09 13:30] auroraustc opened #27605 "C++ L-BFGS optimizer not working for models containing one or more registered parameters with requires_grad=false"
## 🐛 Bug

L-BFGS optimizer will not work if there is one or more registered parameters (tensors) with no grad in the model:
[code]

## To Reproduce

Code to reproduce the error:

[code]

## Expected behavior

If line 12 in the function **test()**: `tmp = register_parameter("tmp", torch::ones({1,1}), false);` is commented out, then everything goes fine.

## Environment

 - PyTorch Version (e.g., 1.

[2019-10-09 13:31] guissart commented on #22906
@dashesy I didn't find anything, I need it to do pyramid pooling and it strongly affect the behaviour of my model. I can't use ONNX for production for the moment because of that. A fix could be to upsample to (N+1, N+1) and the get reed of the +1, it may produce the same result as align corner...

[2019-10-09 13:39] ArutyunovG commented on #19726
We added CenterNet postprocessing implementation for our internal usage.
[Commit link](https://github.com/ArutyunovG/pytorch/commit/74e6eddf6416c403c4eef4ab032ab7b93a3fa538).
I.e. one can train it in pytorch and deploy freezed graph in Caffe2 with this layer.
I'm not sure if anchor-free detectors are interesting for you, so if the answer is positive please let me know.

[2019-10-09 14:19] CoinCheung commented on #26887
Any updates?

[2019-10-09 15:28] ezyang commented on #26288
Can you put up a PR with the broken code? I'll be able to help better if you do.

[2019-10-09 15:33] ezyang commented on #27482
OK, I'll close this then?

[2019-10-09 15:33] #27482 closed

[2019-10-09 15:41] ezyang commented on #755
Not exactly a std::vector, but I am imagining something like this:

[code]

Yeah, this is probably a bad idea if you don't also fix the strides. Also I'm not a big fan of tensors transmuting into other dtypes; better to just do it all out-of-place :)

Yes, ultimately this is the right thing to do, but I agree it's easier to not do this now.

[2019-10-09 15:41] vadimkantorov commented on #26288
@ezyang Ok, will make one: with `Tensor& output` and differently named functions.

(if I didn't mess up, we'll have a compilation error, but let's see)

[2019-10-09 16:04] MHRiday commented on #27598
@SsnL I'm new. But i want to contribute. Can you help me in this issue?

[2019-10-09 16:21] ezyang opened #27608 "Unify warning logging mechanism"
We have `TORCH_WARN` macro, and glog also provides `LOG(WARNING)` macro.

To recount the differences between these macros:

* `TORCH_WARN` integrates with Python warning mechanism, when the relevant C++ code was invoked from Python. Warnings reported this way can be handled using regular facilities for capturing and aggregating warnings; e.g., in some tests, we use this to ensure that a warning is

[2019-10-09 16:29] vdantu opened #27610 "[FR][RFC] Build a serving framework to host and serve trained PyTorch models"
## 🚀 Feature
Request to build a Serving framework to host and serve trained PyTorch models.
@alexwong

## Motivation

PyTorch provides an excellent and easy-to-use interface to train a model and also provides an easy to use optimized inference interface through JIT. Currently, there is a need for an optimized model serving solution to take any model trained using PyTorch framework into production.

[2019-10-09 16:35] bhushan23 commented on #27376
@dashesy I am referring to case when `input shape` and `scale` both are known, at that point, we can indeed create UpSample with known `scale`

I think, we can do this for dynamic shape as well, ONNX UpSample Op version - 9 takes scale as a input and if we know scale we can definitely pass it by creating it as a const. Not to mention, we don't need to compute output size since input was also of dy

[2019-10-09 17:05] ezyang commented on #27097
Do you have a full backtrace?

[2019-10-09 17:12] gottbrath commented on #27451
@daya .. I think we are looking at different parts of the doc. In your screenshot you show torch.nn.intrinsic.qat.modules.ConvReLU2d() where I am showing torch.nn.intrinsic.quantized.modules.LinearReLU()

I see the same thing you do on the qat modules. I'm still seeing oddness on the quantized modules.

[2019-10-09 17:17] gottbrath commented on #27451
just realized that Jessica made this point 2 days ago. Do we have a fix for this?

[2019-10-09 17:31] HapeMask opened #27614 "scatter_add allows broadcasting of index tensor in forward pass but crashes on backward pass"
## 🐛 Bug

If you have an index tensor whose shape does not match the other tensor's shape but is broadcast-compatible, the forward pass of `torch.scatter_add()` will succeed but the backward pass will throw a RuntimeError saying that the shapes do not match exactly on the non-indexed dimension.

## To Reproduce

Repro script:
[code]

Exception (CPU):
[code]

Exception (CUDA):
[code]

## Expected b

[2019-10-09 17:46] TheChymera commented on #27467
@pietern we are the maintainers who are trying to figure this out.

This seems to be the link for your source code for thee respective release, yes? https://github.com/pytorch/pytorch/archive/v1.2.0.tar.gz

If so, what we do is download it and execute

[code]

and get `fatal: not a git repository (or any of the parent directories): .git`

The question is why the setup script you provide is expecti

[2019-10-09 17:48] gchanan commented on #17662
@eellison I wrote the next step above:
"Instead we should just move the (type inference) logic to ATen -- this wasn't possible in the past when we didn't have optional TensorOptions, but we do now."

Want to take it up? :).

[2019-10-09 17:54] vadimkantorov opened #27617 "[feature request] [dataloader] Pad variable-sized tensors in default_collate"
It's more and more frequent to deal with variable-sized inputs (with max size being determined at collation time). Currently one deals with those by writing a custom collate_fn, but it adds some boilerplate.

I propose to evaluate the idea of putting this into the default collate_fn. Some ideas:
0) frequent case is 1d sequences and 2d images
1) allow torch.stack / torch.cat deal with padding varia

[2019-10-09 17:57] gottbrath opened #27618 "odd formatting in quantization.rst"
![Screen Shot 2019-10-09 at 10 55 32 AM](https://user-images.githubusercontent.com/45861273/66507093-6a818800-ea83-11e9-8333-28ee3b918e4b.png)

this is in the supported operations list on quantization.rst

cc @jerryzh168 @jianyuh @dzhulgakov

[2019-10-09 17:57] zasdfgbnm opened #27619 "torch.nn.Linear(?, 1) does not support batch size 0"
## 🐛 Bug

[code]

fails with error
[code]

The git version is
[code]

## To Reproduce

See code above

## Expected behavior

Get a tensor of shape `(0, 1)`

## Environment

[code]

[2019-10-09 17:58] gottbrath commented on #27618
the code looks like * *topk* — returns k maximum values of a tensor

in particular there are no asterisks near the k in the description.

working on the quantization_1_3_doc branch.

[2019-10-09 18:06] eellison commented on #17662
Yep i'll take it

[2019-10-09 18:19] jerryzh168 commented on #24061
this is done

[2019-10-09 18:19] #24061 closed

[2019-10-09 18:19] jerryzh168 commented on #24062
this is done, but we want to support non-scriptable observer as well

[2019-10-09 18:19] #24062 closed

[2019-10-09 18:32] jerryzh168 opened #27622 "Remove observer in qat modules"
I think it's better to remove `self.observer` call in forward function of qat module: https://github.com/pytorch/pytorch/blob/master/torch/nn/intrinsic/qat/modules/conv_fused.py#L218
I think we should use add_observer_(https://github.com/pytorch/pytorch/blob/master/torch/quantization/quantize.py#L150) to keep things more consistent. This means we should split add_observer_ out of prepare and call

[2019-10-09 18:43] stangelid opened #27623 "Not possible to use different key/value dimensionalities in nn.MultiheadAttention"
## 🐛 Bug

The [nn.MultiheadAttention constructor](https://pytorch.org/docs/stable/nn.html#torch.nn.MultiheadAttention) allows using _key_ and/or _value_ dimensionalities which are different from `embed_dim`, using the `kdim` and `vdim` positional arguments. However, when setting either `kdim` or `vdim` to a non-`None` value, [this assertion in `F.multi_head_attention_forward`](https://github.com/p

[2019-10-09 18:44] #27291 closed

[2019-10-09 19:08] jerryzh168 opened #27625 "Refactor part of qat.ConvBn as an aten op"
We want to refactor this part of code into a separate aten function in order to better support graph mode quantization for qat, because we don't want recognize the whole pattern in the graph when we insert FakeQuant ops:
https://github.com/pytorch/pytorch/blob/master/torch/nn/intrinsic/qat/modules/conv_fused.py#L94-L106
https://github.com/pytorch/pytorch/blob/master/torch/nn/intrinsic/qat/modules/

[2019-10-09 19:39] davebulaval opened #27626 "Cross entropy with sequence log_softmax not (almost) equal to 1"
## ❓ Is this a feature or a bug

When using the Cross entropy with K-target class in a sequence application, is it expected to squeeze before calling the loss or we are suppose to just past a vector of minibatch_size, sequence_length, K-tag ?

Because, in this line of code `nll_loss(log_softmax(input, 1), target, weight, None, ignore_index, None, reduction)`  the `log_softmax` step is giving me pr

[2019-10-09 19:57] elbamos opened #27627 "Illegal instruction 4 in 1.3, OSX & GPU"
## 🐛 Bug

Upon `import torch`, I get Illegal instruction 4.

This issue appears to have arisen sometime after 1.2 was released, but it was hard to nail down because of the issue resolved in #27583.  For the same reason, I haven't been able to track it to a particular PR.

Compiling with XCode 9.4.1, CUDA 10, Cudnn 7.6.4, Python 3.6.

## To Reproduce

Steps to reproduce the behavior:

1.   Apply pa

[2019-10-09 19:59] elbamos commented on #27011
Please note issue  #27627. I apologize for not reporting it until now - I needed to clear out some issues that were impeding compilation of 1.2 to confirm the issue before reporting it.

[2019-10-09 20:09] zou3519 commented on #6313
So the root problem is the following:
- DataLoader uses `fork` to create a new process
- the autograd profiler in CUDA mode initializes CUDA. Bottleneck uses the CUDA mode autograd profiler if it is available
- the CUDA API does not support `fork`-ing after CUDA has been initialized.

I'm not sure what the best way to resolve this is. From the user side, one can change the multiprocessing method t

[2019-10-09 20:18] ngoldbaum commented on #27097
Sure, here it is: https://gist.github.com/ngoldbaum/e7dfcc40c81daac283cb37ba8689699d

[2019-10-09 20:46] jerryzh168 commented on #26279
should be fixed by https://github.com/pytorch/pytorch/pull/27616

[2019-10-09 20:54] elbamos commented on #27409
Yes, I'm sure it wouldn't arise if MAGMA was installed in a system path.  There isn't a package installer on OSX that supports MAGMA, which needs to get compiled against the system's CUDA anyway. MAGMA from source wants to install at `/usr/local/magma`.

The pytorch build process knows to look for, and properly finds, MAGMA at that path.

The pytorch build process has become so complex at this poi

[2019-10-09 21:05] #27567 closed

[2019-10-09 21:14] BIT-silence opened #27633 "Optimize LayerNorm on CUDA"
## 🚀 Feature

Improve the performance of LayerNorm operator on CUDA.

## Motivation

Currently the LayerNorm CUDA implementation is reshape the input and doing BatchNorm to get the moments of input, then using addcmul for affine. This implementation is inefficient especially for the backward pass. One profiling result for a layer_norm_backward run is shown below. We can see that AddcmulBackward an

[2019-10-09 21:26] BIT-silence commented on #27633
link to PR https://github.com/pytorch/pytorch/pull/27634

[2019-10-09 22:05] gottbrath commented on #27451
ok.. I think I found a fix

It is a little hokey but I think it is worth doing if we can. I use the ..note:: to basically override the default behavior.

[2019-10-09 22:27] vincentqb commented on #24915
Thoughts from offline chat with @taylorgordon20.

How to help in debugging in a natural python way?
* Could use maps (e.g. `Map(read, get_line)`) instead of generators.
* Do we want static type analysis?
* Enforce structure between generators?
* `tensorflow_datasets/image/coco.py` has "features" for typing
* [facebook pyre](https://pyre-check.org/) may support templating and "typed dictionary" che

[2019-10-09 22:46] rohan-varma commented on #25531
@pritamdamania87, could we do this by attaching a default timeout to each `FutureMessage` object, and periodically poll the map of `futures_` to check if they have timed out, and if so, mark them with an exception?

[2019-10-09 22:56] dashesy commented on #22906
@guissart I use [this simple tensor-based function](https://github.com/microsoft/pytorch_od/blob/master/mictorch/imresize.py#L4) for bi-linear interpolation, and it can be converted to ONNX too. It is easy to change as needed. One less reason to have a special `Resize` ops in ONNX unless that perf is better than matrix multiply with vector broadcasts.
If you do manage to change it for your use-cas

[2019-10-09 23:03] pritamdamania87 opened #27641 "torch.distributed.autograd.backward() should populate .grad field on Tensors by default."
In the implementation for the backward pass in https://github.com/pytorch/pytorch/pull/27022, we accumulate the gradients in the autograd context by default. In order to have symmetry with `torch.autograd.backwards`, the API should be something like this:

[code]

When `accumulate_grad_on_tensors` is set to False, we accumulate the grads on the autograd context, otherwise we accumulate the grads o

[2019-10-09 23:05] pritamdamania87 opened #27642 "Test re-entrant backward works with torch.distributed.autograd.backward()"
Need to add a unit test to ensure re-entrant backward works with the distributed backward pass.

[2019-10-09 23:07] pritamdamania87 opened #27643 "Notify workers of failure of distributed backward pass"
When a distributed backward pass fails on a certain worker, we should inform all other workers that the backward pass has failed and the other workers should try to cancel all the tasks it is executing for that particular backward pass.

cc @ezyang @SsnL @albanD @zou3519 @gqchen @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @aazzolini @xush6528

[2019-10-09 23:08] pritamdamania87 opened #27644 "Enhance error reporting for distributed backward pass"
When there are failures during the distributed backward pass, the caller of `torch.distributed.autograd.backward` should receive an error indicating which node failed and why. Currently, we just report an error but don't mention which node this error originated on.

cc @ezyang @gchanan @zou3519 @jerryzh168 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @x

[2019-10-09 23:09] pritamdamania87 commented on #27579
For anomaly mode, we plan to save the stack traces in the 'send' autograd functions. As a result, we can stitch together stack traces when we want to print the entire forward pass trace.

[2019-10-09 23:16] xush6528 opened #27647 "🚀 Graceful RPCAgent termination in multi-driver scenario"
# Problem

* Currently, `sync()`, `join()` interface is implemented in and only for `ProcessGroupAgent`.
* Other `RPCAgent`s also need it, but it shouldn’t implement it again.
* What stops the current solution from being reused is that `ProcessGroupAgent` uses collective communication to achieve it, while by default, other `RPCAgent`s don't have this facility.

# Proposal

* Problem 1
    * Statem

[2019-10-09 23:22] ezyang opened #27648 "fatal: refusing to merge unrelated histories: Merge to master jobs don't pull enough commits"
I see this error a lot on PR builds:

[code]

This occurs when a PR is on an old enough base, that our depth 50 pull isn't enough to find the merge base:

[code]

Since this seems to happen pretty frequently, maybe 50 commits isn't enough history here.

cc @ezyang

[2019-10-09 23:35] ezyang commented on #27097
I commented on your diff for what I think the problem is

[2019-10-09 23:37] #20046 closed

[2019-10-09 23:38] John1231983 opened #27655 "Why we do not have torch.nn.ReflectionPad3d?"
We have used ReflectionPad2d for cyclegan and it is very important to solve the checkboard artifact.

Considering the 5D case, I also meet the checkboard artifact with cyclegan. I try to find the ReflectionPad3d with the newest PyTorch version but it still in the checklist. Could you tell me when the function will available? It is very useful if it can integrate it in PyTorch

[2019-10-10 00:00] zou3519 commented on #27655
According to the documentation, we do have it: https://pytorch.org/docs/master/nn.html#torch.nn.ReplicationPad3d. What version of PyTorch are you using?

[2019-10-10 00:01] zou3519 commented on #27648
I see this a lot as well

[2019-10-10 00:05] zou3519 commented on #27627
Seems bad. We should repro and fix this.

[2019-10-10 00:05] zou3519 commented on #27623
cc @zhangguanheng66

[2019-10-10 00:06] #26725 closed

[2019-10-10 00:06] #22171 closed

[2019-10-10 00:07] eellison commented on #20615
These are supported now right?

[2019-10-10 00:07] #23394 closed

[2019-10-10 00:08] zou3519 commented on #27619
It looks like addmm doesn't have zero-sized-dim support.

[2019-10-10 00:09] John1231983 commented on #27655
@zou3519 : Maybe you typo. I am asking ReflectionPad3d, instead of ReplicationPad3d? I am using the newest version 1.2.0

[2019-10-10 00:09] zou3519 commented on #27614
Crashes are bad, we should fix this.

[2019-10-10 00:12] zou3519 commented on #27598
@MHRiday please feel free to ask for code pointers on this issue -- we'd be happy to help

[2019-10-10 00:13] zou3519 commented on #27604
I think this should go into the pytorch/tutorial repo.

[2019-10-10 00:15] zou3519 commented on #9922
I don't think we have a plan to expose grad_fn internal in Python. Given the amount of support on this issue, though, we are open to reconsidering.

[2019-10-10 00:17] zou3519 commented on #27601
Please use https://discuss.pytorch.org (https://discuss.pytorch.org/) for questions. We use the issue tracker for bugs and feature requests. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-10-10 00:17] #27601 closed

[2019-10-10 00:22] vainaijr commented on #27604
ok, I raised issue in pytorch/tutorial.

[2019-10-10 00:22] #27604 closed

[2019-10-10 00:24] zou3519 commented on #27595
Unsure if amp bug or PyTorch bug.

[2019-10-10 00:25] zou3519 commented on #27588
Do you have a minimal example that repros this?

[2019-10-10 00:30] zou3519 commented on #27655
Oh you're right, sorry for that. I don't think anyone is working on this.

[2019-10-10 00:31] mrshenli commented on #27647
I am not sure if we would like to use the name `data_parallel` for this. Those are c10d APIs, and data parallel and model parallel are layers on top of that. Upper layers could use `c10d::allreduce` to build DDP, or model averaging, or use `c10d::send/recv` to build model parallel (like we did in ProcessGroupAgent). I looks to me `torch.distributed.*` is an appropriate place for those APIs. If we

[2019-10-10 00:32] zou3519 commented on #27600
I think it is useful to be able to recover well from an OOM.

[2019-10-10 00:33] zou3519 commented on #27626
I don't know the expected behavior of cross entropy. It would be good to get someone who knows the behavior to chime in.

[2019-10-10 00:37] pritamdamania87 opened #27671 "Avoid RTTI in DistEngine"
As mentioned in the comment here: https://github.com/pytorch/pytorch/pull/27022#discussion_r332294507, we should try and avoid RTTI in DistEngine.

[2019-10-10 00:37] zou3519 commented on #1183
Maybe @ngimel or @mruberry would know?

[2019-10-10 00:40] zou3519 commented on #1193
I don't think this is a bug; right now this is expected behavior as @albanD pointed out. The out= semantics can be strange and unintuitive; many users run into it, so we should think about if and how we can retire it.

[2019-10-10 00:40] xush6528 commented on #27647
No problem. I can leave `torch.distributed.*` as it is.

remote, rpc_sync/async, sync, join.

Currently, `init_model_parallel` has 3 steps.
  1) create rpc agent.
  2) initialize rref context.
  3) initialize dist autograd context.

I think we should add `rpc.init_worker` is essnetially `rpc._init_rpc`, we should rename it to `rpc._init` to match `distautograd._init`. Also has `rref._init()`.

Agr

[2019-10-10 01:07] Minki-Kim95 commented on #26455
When you follow that process, you can meet '__atomic_fetch_add_8' again when you do backward.
So you also need to follow this issue (https://github.com/pytorch/pytorch/issues/22564)

'''
It looks like this is a bug in protobuf and it has been fixed a few days ago: protocolbuffers/protobuf@55ed1d4

Could you run the following and try to build again?

git submodule update --remote third_party/protob

[2019-10-10 01:28] zou3519 commented on #27011
Docs CI build job https://github.com/pytorch/pytorch/pull/27638

---
Status: Not critical to get into the release. waiting for CI  💛

[2019-10-10 01:52] mrshenli commented on #27647
Yep, this sounds good to me.

I think we can remove `sync` and then move `join` out of `RpcAgent` to be a utility function.

(Assuming that `drain()` blocks until no more tasks in thread pool, and until all local futures are done) That requires applications to wait on every futures created in nested rpc/remote, even if they don't care about some responses, otherwise it could hit timeout or connect

[2019-10-10 02:26] #27442 closed

[2019-10-10 02:32] jlin27 commented on #27011
Add Javadoc for v1.3.0: https://github.com/pytorch/pytorch/pull/27656

Quant doc changes: https://github.com/pytorch/pytorch/pull/27640

[2019-10-10 03:10] soumith commented on #27627
unfortunately a fix for this is not making into v1.3.0.
We'll have to wait for v1.3.1 or nightlies

[2019-10-10 03:15] davebulaval commented on #27626
It's seem odd to me the output of the `log_softmax`. But as I was trying to work my head around it i'm not sure of the expected behavior when using sequence.

[2019-10-10 03:30] jtlee90 opened #27674 "Operation - and torch.min work differently?"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. make tensor A shape of (3,)
2. make tensor B shape of (4, 1)
3. compare (A-B) and torch.min(A, B)

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manuall

[2019-10-10 03:59] gottbrath commented on #27011
If it isn't too late please merge https://github.com/pytorch/pytorch/pull/27574

[2019-10-10 04:18] Suyash458 commented on #25883
Hi @yf225 I'd like to pick up one of the four available loss functions. Which one do you suggest for a beginner?

[2019-10-10 04:21] pietern commented on #27467
The archive at that link is a copy of the source code at the `v1.2.0` tag of the repository. It turns out GitHub doesn't include checkouts of submodules in this archive.

Building from source is done only by checking out the repository and the submodules. There is no way that building from source without those submodules can work. To fix this, I would not use the archive, but clone and checkout th

[2019-10-10 05:06] soumith commented on #18996
as of the above two commits, it is now fixed and verified. nightlies and v1.3.0 binaries will not have this problem

[2019-10-10 05:06] #18996 closed

[2019-10-10 05:33] quickwritereader opened #27678 "[feature request] Vec256 power le vsx support"
I would like to add vsx support to aten Vec256 for power le platform.
The work is still in progress. I open this issue to discuss this topic as I saw Vec256 is kept modified.
For now
I am simulating  256bit using 2 128 bit vector variables.
For supporting vsx inside pytorch
-cmake for vsx detection
-pytorch modifications for handling power
-Vector codes for Vec256<float>, Vec256<double>, Vec256<in

[2019-10-10 05:53] liushuan opened #27680 "1>E:\software\libtorch\include\torch/csrc/utils/variadic.h(195): error C2951: 模板 声明只能在全局、命名空间或类范围内使用"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2019-10-10 05:54] liushuan commented on #27680
torch::nn::Sequential model(torch::nn::Linear(2, 3));

[2019-10-10 05:54] liushuan commented on #27680
os  windows10
libtorch 1.2

[2019-10-10 06:09] elbamos commented on #27627
Any way I can help reproduce or diagnose this?

[2019-10-10 06:16] T43113452 opened #27682 "I can't set gpu is 1 it always use gpu 0"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.
  here is my code
  torch::Device deviceInfo(torch::kCUDA, 1);
  module->to(deviceInfo);

  but i got this error
terminate called after throwing an instance of 'c10::Error'
  what():  CUDA out of memory. Tried to allocate 240.00 MiB (GPU 0; 10.92 GiB total capacity; 74.36 MiB already

[2019-10-10 06:18] blueardour commented on #9922
Hi, I original focused on the issue because I want to convert pytorch model to caffe. I noticed some other people (for example @Weyne168) in this thread also had the same request.

As the thread was not updated for a while, I later found another solution to finish the task. The hint is to convert pytorch to onnx first and then convert onnx to caffe.  Thus, from my aspect, I might not require the f

[2019-10-10 06:20] ArutyunovG commented on #19726
Always available for contact.

[2019-10-10 06:20] #19726 closed

[2019-10-10 06:23] ArutyunovG commented on #13896
Thanks for adding enough changes to update our branch of caffe2 without conflicts.

For those, coming outside this is the branch with SSD implementation:
https://github.com/ArutyunovG/pytorch/tree/iss

[2019-10-10 06:23] #13896 closed

[2019-10-10 06:45] t-vi commented on #27674
`min` is `minimum`, not `minus`. `sub` is to `-` as `add` is to `+`.

[2019-10-10 06:45] #27674 closed

[2019-10-10 07:11] shisi2015 commented on #27461
i can't understand why add_zero_attn needed?

[2019-10-10 07:12] peterjc123 commented on #27680
There are a couple of questions about your issue:
1. Why do you copy Chinese text to the topic? It's fine for me because I know Chinese, but it's not true for all the developers here. You need to translate it into English.
2. Why don't you fill in the form? Is there any trouble there?
3. Where is your code? What do you mean by simply copying `torch::nn::Sequential model(torch::nn::Linear(2, 3));`

[2019-10-10 07:37] formyfamily opened #27685 "Hi, I was trying to use matmul"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

Provide a short description.

## Code example

Please try to provide a minimal example to repro the

[2019-10-10 07:37] #27685 closed

[2019-10-10 07:40] ekshaks commented on #27175
We have a couple of options in the [tsalib](https://github.com/ofnote/tsalib) library. Please see the notes on the [shorthand](https://github.com/ofnote/tsalib/blob/master/notebooks/shorthand.md) notation. In short:

- declare all named dimensions upfront.
- write 'btd' (dim names without separators) when each dim name is a single character. Otherwise, use comma separators 'b,t,dim'. This is almos

[2019-10-10 07:46] benelot commented on #24328
Should this not be notified to the pip maintainers of the torch package or something? I have the same problem with code I run in google colab since they probably just installed their package right away from pip. Currently, I have to downgrade torch to 1.1.0 every time I run it.

[2019-10-10 07:52] formyfamily opened #27686 "an abnormal output of matmul when batchsize==matrix_size"
Hi,

I was trying to use torch.matmul function to calculate two mini-batched matrix's product, i.e AxB, where A and B are both tensors with shape (batch_size, 3, 3).  However, when I adjusted the batch size to 3, the output of this function became totally different, and seems the function was taking the first two dimensions of B as the matrix size. Is this result plausible? I'm not very sure becau

[2019-10-10 07:55] jatentaki opened #27687 "`nn.Sequential.__setattr__` appends to the execution list"
## 🐛 Bug

Assigning `nn.Module`s as attributes of an `nn.Sequential` will append them to the "execution list" and therefore automatically call in `forward`, instead of merely registering them for inclusion in `nn.Sequential.parameters()`. This is not mentioned in the documentation.

## To Reproduce
Running the following code:

[code]
will result in

[code]

and fail when passed an `N x 3` tensor (

[2019-10-10 08:01] peterjc123 commented on #27680
Please use VS 2017 instead.

[2019-10-10 08:03] #27680 closed

[2019-10-10 08:29] daydayfun opened #27689 "If want to add Bert for pytorch community, which path should I push models and weights of BERT"
## ❓ Questions and Help

If want to add Bert for pytorch community,  can I put the models and weights of BERT into the repository of **pytorch/text** ?
As **pytorch/vision**  is for Models specific to Computer Vision,  but i can't find any NLP models in   **pytorch/text**

[2019-10-10 08:31] liushuan commented on #27680
when I use Visual Studio 2017

when the code include :
#include <torch/torch.h>
this programe will compile fail.
error is:
1>e:\software\libtorch\include\torch\csrc\api\include\torch\data\detail\queue.h(78): error C2872: “std”: Ambiguous notation

[2019-10-10 08:41] liushuan commented on #27680
when I use Visual Studio 2017

when the code include :
#include <torch/torch.h&gt;
this programe will compile fail.
error is:
1&gt;e:\software\libtorch\include\torch\csrc\api\include\torch\data\detail\queue.h(78): error C2872: “std”: Ambiguous notation

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"peterjc123"<notifications@github.com&gt;;
发送时间:&nbsp;2019年10月10日(星期四) 下午3:14
收件人:&

[2019-10-10 08:46] peterjc123 commented on #27680
Please add `::` before the usage of `std` in the corresponding line.

[2019-10-10 08:58] ekshaks commented on #27175
I think the shorthand shape transform specification, as we use in [tsalib](https://github.com/ofnote/tsalib) may also be useful to make code concise with namedtensors.

Examples:
[code]
[code]

I think one could push it further (too far? :) and simply use the `warp` operator, where multiple shape transformations can be chained together with `->`.

[2019-10-10 09:00] liushuan commented on #27680
when i use this code will error.
------------------------------------------------
#include <torch/torch.h&gt;
#include<iostream&gt;
int main() {
	system("pause");
	return 0;
}

------------------------------------------------
and this code is normal
---------
#include<iostream&gt;
int main() {
	system("pause");
	return 0;
}

---------

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp

[2019-10-10 09:05] peterjc123 commented on #27680
I know, have you tried my suggestion? That is to open `e:\software\libtorch\include\torch\csrc\api\include\torch\data\detail\queue.h`, replace `std` with `::std` in line 78.

[2019-10-10 09:16] fbcotter opened #27690 "Multi-GPU Gather is much slower than Scatter"
## 🐛 Bug

Multi-GPU gathering is much slower than scattering

## To Reproduce
Can run the following script on a Multi-GPU machine which should replicate the issue. It creates a large tensor on the CPU and scatters it to multiple GPUs, then also creates large I have tested with both pytorch 1.1.0 and pytorch 1.2.0.

[code]
Output:
Note that when batch size (args.sz) = 128, the tensor to be scattere

[2019-10-10 09:28] liushuan commented on #27680
There are many similar mistakes

[2019-10-10 09:32] frgfm opened #27691 "[functional] torch.unique not implemented for booleans"
## 🐛 Bug

The `torch.unique` function is not implemented for `torch.bool` dtype.

## To Reproduce

Steps to reproduce the behavior:
[code]
which produces
[code]

## Expected behavior

I understand the switch from `torch.uint8` to `torch.bool` is fairly recent and that  `torch.unique` does not seem very useful on booleans, but the feature is very useful when specifying the `dim` argument (`torch.un

[2019-10-10 09:47] ofexe commented on #19349
@jamesr66a , thanks for your reply. I'm not blocked on this.
I think it's ok that there's different behavior between tracing model and not tracing model.
But it's wired that different behavior happed in three tracing model operations( which I only run the code once).

[2019-10-10 09:48] haifenghan commented on #27602
onnxruntime and onnx's shape inference give the result:  (1, 16, 416, 416)

[2019-10-10 10:25] CastellanLiu opened #27692 "nn.L1Loss works incorrectly with CPU"
## 🐛 Bug

When a tensor is large, the L1 loss is not equal to `torch.abs(x - y).mean()` in CPU mode, but it works fine in GPU mode.

I find this bug in PyTorch 1.2.0, and have verified that this problem exists in PyTorch 0.4.0 (on centos).

## To Reproduce

Steps to reproduce the behavior:

Just create a large tensor, and test with the following code. I can reproduce it with `Intel i7-8750H` and `

[2019-10-10 10:27] peterjc123 commented on #27680
@liushuan Just fix them one by one.

[2019-10-10 10:28] CastellanLiu commented on #27692
This problem exists on Windows 10, Ubuntu 18.04, Ubuntu 14.04 and Centos 6.8, so I guess it's unrelated to system platform.

[2019-10-10 10:29] XiaobingSuper commented on #27598
@MHRiday, you can add a code to check whether the stride values are greater than zero at  https://github.com/pytorch/pytorch/blob/d931c8bf75a8264e0ae8ec1e8675d29c627ae3b6/aten/src/ATen/native/mkldnn/Conv.cpp#L129 using **TORCH_CHECK**, similar as https://github.com/pytorch/pytorch/blob/d931c8bf75a8264e0ae8ec1e8675d29c627ae3b6/aten/src/THNN/generic/SpatialConvolutionMM.c#L15-L16

[2019-10-10 10:31] liushuan commented on #27680
Have you used this method before?

[2019-10-10 10:32] oggyoggy448 opened #27693 "OSError: [WinError 193] %1 is not a valid Win32 application"
I am trying to run the following code with anaconda  4.7.12

[code]
Unfortunately I'm getting the following error
[code]

cc @peterjc123

[2019-10-10 10:39] peterjc123 commented on #27680
@liushuan Isn't this one simply the duplicate of https://github.com/pytorch/pytorch/issues/18607 and https://github.com/pytorch/pytorch/pull/17863?

[2019-10-10 10:47] huang229 opened #27694 "Deployment training model at C + + end"
When the model does not contain a custom layer, it can be deployed directly on the C + + side using JIT mechanism and libtorch library.

But my model contains a custom c++ and CUDA layer. Now that I'm deploying the model on the c++ side, do I need to compile the custom c++ and CUDA layers into the libtorch library?
Thank you!!!

[2019-10-10 10:49] liushuan commented on #27680
thanks, I will try again.

[2019-10-10 10:49] peterjc123 commented on #27693
lt is likely that your environment is messed up. As you can see from the traceback, there are two python environments involved here:
1. C:\Users\nouma\AppData\Roaming\Python\Python37
2. C:\Users\nouma\Anaconda3
Please make sure your `PATH` is clean and you can actually remove one of them first.

[2019-10-10 11:39] liushuan commented on #27680
this problem be solve with this method.
I tested on different configurations and found that problem can be solved by change the conformance mode property to No. You can find that option in C/C++->Language. That's a new feature in vs2017 and 2019.

[2019-10-10 11:56] MHRiday commented on #27598
Thank you @XiaobingSuper

[2019-10-10 13:18] Mut1nyJD opened #27695 "PyTorch1.2 ONNX dynamic_axis is not working"
## 🐛 Bug

When I am using ONNX export with dynamic axis I'll always get a warning from inside utils.py in torch/onnx saying that the input or output name can not be found which is not true. After having inspected the code itself it is clear that adding them to the valid_name set is simply wrong as it is adding an expression instead of the execution of the expression into the set.

## To Reproduce

[2019-10-10 14:16] XiaobingSuper commented on #27692
@CastellanLiu, there a PR(https://github.com/pytorch/pytorch/pull/26795) can solve this problem, which is under reviewing, you can try it first.  @VitalyFedyunin, @zou3519, please help see this problem. Thanks!

[2019-10-10 14:16] pietern commented on #27539
@baqwas This looks like the same issue as #22564 to me.

[2019-10-10 14:31] CastellanLiu commented on #27692
Thanks for your reply, I find this bug by chance, and I'm using the GPU mode at present.
I will try this PR when I have some spare time.

[2019-10-10 14:36] isalirezag commented on #27588
it is not `minimal` but I simplify my files to these, so you can generate the error:
runcode:
[code]

and
C3D_Modified:

[code]

[2019-10-10 14:43] andyljones commented on #20532
Does anyone know why pytorch's init eats far more memory than other libraries?

Checking `nvidia-smi` before and after, creating an empty tensor in pytorch costs 800MB of GPU memory,
[code]
or 170MB to run something similar in tensorflow:
[code]
or 175MB in cupy
[code]
or 170MB in pycuda
[code]
The extra 600MB is fine if you're running a single monolithic network, but for RL or hyperparameter opt

[2019-10-10 15:48] elnazsn1988 commented on #17796
Hi @zhuj06 , thanks for your answer, do you add this command to the windows build bat file?

[2019-10-10 15:56] jlin27 commented on #27011
Quant and torch changes:
https://github.com/pytorch/pytorch/pull/27701

https://github.com/pytorch/pytorch/pull/27702

https://github.com/pytorch/pytorch/pull/27639
---------------------------------
(Just as reference. Per Dima's PR to master: https://github.com/pytorch/pytorch/pull/27677)

[2019-10-10 15:56] gottbrath opened #27703 "FAIL: test_torch (__main__.TestDocCoverage)"
## 🐛 Bug

after our v1.3.0 doc changes i am seeing a test failure

FAIL: test_torch (__main__.TestDocCoverage)

## To Reproduce

Steps to reproduce the behavior:

1. git checkout upstream master
2. python ./test/test_docs_coverage.py

AssertionError: Items in the second set but not the first:
'real'
'imag'
'conj'
'angle' :
The lists of tensor methods documented in tensors.rst and in python are
dif

[2019-10-10 15:56] gottbrath commented on #27703
por is https://github.com/pytorch/pytorch/pull/27684

[2019-10-10 16:40] gottbrath commented on #27703
ok .. that PR might not quite do the trick. our index.rtf PR got reverted.. let me go see if I can solve that and this at the same time.

[2019-10-10 17:17] cpuhrsch commented on #27542
I wrote a script that makes this easier to reproduce and was able to reproduce it as well

[code]

[2019-10-10 17:19] cpuhrsch commented on #27551
I was able to reproduce this as well.

[2019-10-10 17:20] cpuhrsch commented on #27584
I'm flagging this high priority as we're likely going to revisit this operator in context of tracing and in context of https://github.com/pytorch/pytorch/issues/27551 so we can fix this together.

[2019-10-10 17:26] cpuhrsch commented on #27682
The trace says you are out of memory. Maybe you are running another process on GPU1? Did you try running a smaller workload? Could you post a smaller piece of code to reproduce this issue?

[2019-10-10 17:29] cpuhrsch commented on #27689
Hello @daydayfun,

Do you have the relevant code already available in a separate repository? We don't yet have models within pytorch/text at the same level as we do with pytorch/vision and it is not clear if we want to go down that route, since many frameworks such as fairseq or huggingface already implement this. It could however be good to add a minimal implementation as a reference.

cc @zhangg

[2019-10-10 17:30] cpuhrsch commented on #27703
@gottbrath I'm flagging this as triaged since I assume you're onto this.

[2019-10-10 17:31] zou3519 opened #27705 "Add javasphinx to docs/requirements.txt"
There were some other pip packages that I needed to install that I don't remember right now.

Furthermore, the docs require the following that we should document somewhere:
- global installation from katex

cc @ezyang @gchanan @zou3519

[2019-10-10 17:33] cpuhrsch commented on #27705
I'm flagging this high priority since it can block users from being able to use PyTorch.

[2019-10-10 17:33] zou3519 opened #27706 "Don't require CUDA to build docs"
Right now, we require a CUDA installation of pytorch to build docs. I think this is necessary for the following reasons:

- Some of our operators are "turned off" in a CPU-only build
- torch.distributed is "turned off" in a CPU-only build.

It would be nice to refactor the code such that all docstrings and APIs are available in a CPU-only build and error out gracefully instead of having those APIs

[2019-10-10 17:33] gottbrath commented on #27703
yep.. i am on it!

[2019-10-10 17:34] cpuhrsch commented on #27678
cc @VitalyFedyunin

[2019-10-10 17:34] zou3519 commented on #27705
It only blocks devs from building the documentation. It shouldn't affect regular users of pytorch.

[2019-10-10 17:35] cpuhrsch commented on #27686
Hello @formyfamily,

Thank you for flagging this. Could you please add a script to reproduce this issue and follow the guidelines around filing a bug as detailed when creating an issue?

[2019-10-10 17:37] cpuhrsch commented on #27706
@zou3519 this seems like a low priority issues unless you rebuild documentation very frequently, which I assume most users don't.

[2019-10-10 17:38] zou3519 commented on #27706
Users don't build documentation very frequently. However, our master docs are built continuously on commits to master. It would be good for better engineering and avoid flakiness for the master doc push to NOT depend on our CUDA build, which times out from time to time. I would not characterize this as low priority.

[2019-10-10 17:40] cpuhrsch commented on #27692
I'm flagging this for triage review if the related PR hasn't been reviewed or landed by the time we review this issue again.

[2019-10-10 17:41] zou3519 opened #27708 "Documentation makefile should include torchvision"
We should ideally be able to build all the docs in a single command. Right now we build the docs for pytorch and torchvision separately and "copy and paste" the docs for torchvision into pytorch. This is not very efficient and it's easy to forget this last step.

[2019-10-10 17:42] anjali411 commented on #9132
Hi! do we have the isinf and isfinite functions in the C++ API yet?

[2019-10-10 17:42] heytanay commented on #27198
I am interested on working this issue out, however, I am a beginner and need some directions as to understand the Source Code and start contributing. Any help will be highly appreciated! Thanks!

[2019-10-10 17:46] cpuhrsch commented on #27687
@jatentaki - Thanks for flagging this.

Why do you create a subclass as supposed to

[code]

[2019-10-10 17:48] cpuhrsch commented on #27687
On the documentation it does, in a bit of a convoluted way, do mention that it will execute models that have been set via attributes because it supports OrderedDicts in its constructor, which are then exposed via the attributes of the constructed object.

[2019-10-10 17:49] schen119 commented on #26447
We ran this code using a conda environment. Is it possible to limits the shared memory size which might cause this deadlock?

[2019-10-10 18:06] formyfamily commented on #27686
Hi,

It turn out to be my mistake. The matmul is alright and there're other mistakes in my code. I'm sincerely sorry for the trouble.

[2019-10-10 18:06] #27686 closed

[2019-10-10 18:42] ngoldbaum commented on #27097
Thanks for the comment! I see now how that could be a problem, I noticed today that the generated sources include registrations for the kernels so there's no need to manually add the registrations.

That, along with setting `use_c10_dispatcher: unboxed_only` in `native_functions.yaml` did ultimately fix the failed assertion I was hitting.

However, now I get a different assertion error I don't und

[2019-10-10 18:46] rsokl commented on #25878
Is there a status update on this nefarious bug?

[2019-10-10 18:49] ngoldbaum commented on #27097
maybe also ping @smessmer

[2019-10-10 18:55] ntenenz commented on #14923
Is there still interest in this feature? I'm happy to take a stab at it but would hate to waste the energy if there's no potential for a future merge.

[2019-10-10 19:29] SsnL opened #27714 "native functions: int arg does not accept np.int64"
[code]

cc @ezyang @gchanan @zou3519

[2019-10-10 20:50] cpuhrsch commented on #27686
@formyfamily No worries! However, next time please keep in mind to use the issue template.

[2019-10-10 20:52] cpuhrsch commented on #14923
Flagging this for triage review so we can decide how to proceed with this.

[2019-10-10 20:53] cpuhrsch commented on #27714
Is this an error due to recent changes or a feature request?

[2019-10-10 20:57] SsnL commented on #27714
@cpuhrsch More like a bug report. It is inconsistent. I'm not sure if it works before though...

[2019-10-10 20:59] cpuhrsch commented on #27705
Ok, then I'm removing the high priority tag.

[2019-10-10 21:02] cpuhrsch commented on #27714
I'm marking this high priority and for triage review in case it's expected to case further issues down the road and because I don't have a good overview of the community here.

[2019-10-10 21:03] cpuhrsch commented on #27691
I'm flagging this as high priority because it is a regression in feature coverage when migrating from uint8 to bool tensors.

[2019-10-10 21:04] cpuhrsch commented on #27694
Hello @huang229 - could you add a code snippet and an more information (as detailed in the issue templates) for this?

[2019-10-10 21:08] cpuhrsch commented on #27690
Hello @fbcotter, do you have some concrete reasoning as to why you expect these operations to be similar in runtime? GPUs may have characteristics that make this performance gap obvious.

[2019-10-10 21:11] cpuhrsch commented on #27671
I'm flagging this as high priority so we can decide on a priority during the triage review (I'm not exactly sure how to determine it).

@pritamdamania87 - are you actively working on resolving this?

[2019-10-10 21:12] cpuhrsch commented on #27678
@quickwritereader - are you sure that auto-vectorization isn't enough?

[2019-10-10 21:12] cpuhrsch commented on #27678
I'm marking this as follow up for the triage review so the wider topic of powerpc support can be discussed.

[2019-10-10 21:20] yf225 commented on #27198
@heytanay Thanks a lot for your interest! @CarMiranda already contributed the `MultiMarginLoss` layer to libtorch (https://github.com/pytorch/pytorch/pull/27424), but please let me know if you are interested in working on any of the unclaimed layers listed in https://github.com/pytorch/pytorch/issues/25883 by leaving a comment there. :D The PRs listed there would be the best resources to get start

[2019-10-10 21:20] yf225 commented on #27198
Closed by https://github.com/pytorch/pytorch/pull/27424.

[2019-10-10 21:20] #27198 closed

[2019-10-10 21:21] yf225 commented on #27196
Closed by https://github.com/pytorch/pytorch/pull/27263.

[2019-10-10 21:21] #27196 closed

[2019-10-10 21:22] quickwritereader commented on #27678
With perfect compilers it is. But At this current state I think it could vectorize  only  basic operations. I was told by IBM team about  this. I started to work on this hoping to be rewarded bounty if it fits both teams requirements.

[2019-10-10 21:22] Dudly01 opened #27717 "Tensorboard documentation in Pytorch 1.3.0 is bare, incomplete."
The tensorboard documentation for the 1.3.0 release of Pytorch does only contain the "Introductory" part, thus no class or function descriptions are there.

[1.3.0 docs with only introduction](https://pytorch.org/docs/stable/tensorboard.html)
[1.2.0 docs with class and function details](https://pytorch.org/docs/1.2.0/tensorboard.html#)

[2019-10-10 21:52] dashesy opened #27718 "[ONNX] torch.arange with non-integer input"
## 🐛 Bug

`torch.arange` accepts non-integer values as input, but exported ONNX model is invalid in ORT

## To Reproduce

Export a module that has this:

[code]

## Expected behavior

The [ConstantOfShape](https://github.com/onnx/onnx/blob/master/docs/Operators.md#ConstantOfShape) node does not specify if input must be integer, but it is valid in PyTorch and result is a floating point array

## En

[2019-10-10 22:13] jlin27 commented on #27717
PR Fix: https://github.com/pytorch/pytorch.github.io/pull/281

[2019-10-10 22:38] #27605 closed

[2019-10-10 22:38] yf225 commented on #25883
@Suyash458 Thanks a lot for your interest! It seems that all loss functions are taken now. :/ If you are also interested in working on other layers, I think `AlphaDropout` would be a good layer to start with. Please let me know :D

[2019-10-10 23:49] junjihashimoto commented on #24120
Congratulations on the release of 1.3.
The title remains stable1.2.

[2019-10-11 00:02] ozgurshn opened #27723 "ONNX export failed on ATen operator mv"
## 🐛 Bug
I run this code on [Colab](https://colab.research.google.com/drive/1zRUeHSid0PEbZULODFowxOqxc5R6dvja)
Running torch.onnx.export gives this error.

## To Reproduce

Steps to reproduce the behavior:

1.
Running this code

[code]

## Expected behavior

I expect the conversion to Onnx.

## Environment

 - PyTorch Version:  1.2.0
 - OS : Linux
 - How you installed PyTorch:pip
 - Python version

[2019-10-11 00:16] cpuhrsch commented on #27717
Given that the associated PRs are merged I assume this issue to be resolved. Please reopen if this is not the case.

[2019-10-11 00:16] #27717 closed

[2019-10-11 01:10] RuABraun commented on #26540
I get another problem now. Progress!

[2019-10-11 01:10] #26540 closed

[2019-10-11 01:44] RuABraun opened #27726 "[Android] Unknown builtin op: aten::mul"
## 🐛 Bug

When trying to run a single layer model on android I end up getting a SIGABRT:
[code]
Bit confused why it's pointing towards my python pytorch package...

## To Reproduce

Steps to reproduce the behavior:

1. Create simple model
[code]

(1b. Test running locally with C++, this worked for me)

2. Build pytorch master for android using `scripts/build_pytorch_android.sh`. I commented out mo

[2019-10-11 02:02] T43113452 commented on #27682
That's right, GPU0's memory is exhausted, so I want to use GPU1 to run the program but the program will use GPU0 and GPU1 memory.

This is my load model way

std::ifstream is ("model.bin", std::ifstream::binary);
module = std::make_shared<torch::jit::script::Module>(torch::jit::load(is));
assert(module != nullptr);
torch::Device deviceInfo(torch::kCUDA, 1);
module->to(deviceInfo);

发送自 Windows 10

[2019-10-11 02:29] ibrahimishag commented on #10443
I got the same issue. However, luckily, **vamsitharun's** trick worked for me.

[2019-10-11 02:31] ibrahimishag commented on #10443
I got the same issue. However, luckily, **vamsitharun's** trick worked for me.

[2019-10-11 03:26] Ir1d commented on #27705
@zou3519 after installing javasphinx and katex (globally), I managed to generate pleasing builds.

![image](https://user-images.githubusercontent.com/10709657/66622372-e7466a80-ec19-11e9-9f61-826c9715ce78.png)

[2019-10-11 03:30] dongfangduoshou123 opened #27729 "quantizationed model cannot inference with cuda?"
I see the pytorch1.3 is now available, quantization is added, greate! but as the description：
 '""This currently experimental feature includes support for post-training quantization, dynamic quantization, and quantization-aware training. It leverages the FBGEMM and QNNPACK state-of-the-art quantized kernel back ends, for x86 and ARM CPUs, respectively, which are integrated with PyTorch and now sha

[2019-10-11 03:54] Ir1d opened #27730 "[docs] reorder docs for torch.optim.lr_scheduler.CyclicLR"
## 📚 Documentation

Here: https://pytorch.org/docs/master/optim.html?highlight=cycliclr#torch.optim.lr_scheduler.CyclicLR

![image](https://user-images.githubusercontent.com/10709657/66622721-5f616000-ec1b-11e9-81b2-f0a6b999ee24.png)

the three built-in policies can be illustrated in the Parameter section.

cc @vincentqb

[2019-10-11 04:10] Suyash458 commented on #25883
@yf225 Thanks! That sounds good, I'll start with `AlphaDropout`

[2019-10-11 04:46] fightthepower commented on #27011
I can't install pytorch 1.3 in my system currently I have 1.2. This is the error

[code]

[2019-10-11 05:07] wizardk commented on #26948
@pbelevich @izdeby Moreover, I found that the first inference is significantly slower than the following inference.

[2019-10-11 05:07] Ir1d commented on #22107
@Kylin9511 Hi Kylin, can you share your code for the wrapper? Thanks in advance.

[2019-10-11 05:15] wizardk commented on #27011
#26948 : Please optimizing the CPU performance in this branch.

[2019-10-11 05:18] kikiloverafa commented on #24853
FYI: The issue no longer exists after upgrading to Pytorch 1.3.0.

[2019-10-11 06:48] stonebig commented on #21741
Will we have a wheel for Python-3.8.0rc2 ?

[2019-10-11 08:26] huang229 commented on #27694
@cpuhrsch   Thank you very much.   Sorry, there's too much code. It's a little inconvenient. I trained a target detection model, but this model contains a 3D linear interpolation layer that I defined. The 3D linear interpolation layer is written in cuda. Now I want to deploy the trained target detection model to c++ end of windows platform. I don't know how to deploy the model with custom layer to

[2019-10-11 08:28] huang229 commented on #27694
@cpuhrsch Thank you very much. Sorry, there's too much code. It's a little inconvenient. I trained a target detection model, but this model contains a 3D linear interpolation layer that I defined. The 3D linear interpolation layer is written in cuda. Now I want to deploy the trained target detection model to c++ end of windows platform. I don't know how to deploy the model with custom layer to c++

[2019-10-11 08:30] shen1994 opened #27734 "The equal function for THCudaBlas_Sgemm in Aten"
What is the equal function for THCudaBlas_Sgemm in Aten???Could someone tell me???Thanks~~~

THCudaBlas_Sgemm(state, ‘n’, ‘n’, n, m, k, 1.0f,
THCudaTensor_data(state, columns), n,
THCudaTensor_data(state, weight), k, 1.0f,
THCudaTensor_data(state, output_n), n);

[2019-10-11 08:56] jatentaki commented on #27687
@cpuhrsch

Of course I could (and I do as a workaround), it's just that my model is sequential with the additional "feature" of exposing the metaparameters so I initially went for inheritance. My forward would just boil down to
[code]

I respectfully disagree. The documentation only says that

One has to deduce what the difference between `nn.Sequential` instances using the two constructors will b

[2019-10-11 09:09] mrsalehi commented on #27078
@yf225 Is anyone currently working on this issue?

[2019-10-11 09:17] Haydnspass opened #27735 "Libtorch v1.3 not downloadable for Linux and macOS"
I get an Access Denied error when trying to download the v1.3 Libtorch for Linux and macOS, while it works for Windows.

https://download.pytorch.org/libtorch/cpu/libtorch-macos-1.3.0.zip

[code]

[2019-10-11 09:23] michaelyyq opened #27736 "Tensorboard empty graph"
## 🐛 Bug

Tensorboard cann't normally show the model graph but images and scalars are normal.

## To Reproduce

Steps to reproduce the behavior:

1. I tried the official example about fashionmnist in VISUALIZING MODELS, DATA, AND TRAINING WITH TENSORBOARD. I got empty model graph though the scalars and images was normal.
2. Then I referred to #25599 to deal with the problem, but got empty graph ei

[2019-10-11 09:43] volcacius commented on #27542
To clarify, the issue is not just that the indices are different between CPU and CUDA. The problem is that the order of duplicate values changes with k. In my CUDA example, for k=1 or 4 or 5 the largest value is reported as being at index 2, while for k=2 or 3 the largest value is reported as being at index 4. The largest value should always be the same, independently of how many k largest values

[2019-10-11 09:51] gtamba commented on #27735
Can confirm I got the same error just now

[2019-10-11 09:56] SteiMi opened #27737 "Wrong type in DataLoader interface?"
## 🐛 Bug

There is a problem with the DataLoader class when using type checking with mypy. The documentation says that the arguments `sampler` and `batch_sampler` are optional. However, when I set the argument `sampler=None` mypy reports the error `No overload variant of "DataLoader" matches argument types "TensorDataset", "None"`.

## To Reproduce

Check the following code with mypy:

[code]

Thi

[2019-10-11 10:10] phongnhhn92 opened #27738 "Can not use .cuda() function to load the model into GPU using Pytorch 1.3"
## 🐛 Bug
I am trying to run the Captum CIFAR10 example [link](https://captum.ai/tutorials/CIFAR_TorchVision_Interpret) and I want to test it on GPU so I modified a line `net = Net().cuda()` to load the model into the GPU (I am having a single GPU RTX 2080TI). However I got this error:
[code]
At the moment, I am using NVIDIA driver version 410. I have tried to upgrade NVIDIA GPU driver to version 4

[2019-10-11 10:11] Linkeyboard opened #27739 "Try torch.nn.quantized.functional.conv2d failed"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

As mentioned in title, I drop the code from documentation of pytorch1.3 and then failed.

RuntimeError: quantized::conv_prepack() Expected a value of type 'List[int]' for argument '_2' but instead found type 'tuple'.

cc @jerryzh168 @jianyuh @dzhulgakov

[2019-10-11 10:21] gerwang commented on #6570
Since pytorch 1.3 has added android support, is it possible now to run pytorch from Java on x86 platforms?

[2019-10-11 10:28] talhairfanbentley opened #27740 "Scripting torchvision.models.detection.maskrcnn_resnet50_fpn"
## 🐛 Bug
**My Code:**
[code]

If I try to send `torchvision.models.detection.maskrcnn_resnet50_fpn` this model to `torch.jit.script` several errors are thrown.
## Errors Encountered
[code]
and if I change this `original_image_sizes.append(img.shape[-2:])` to this `original_image_sizes.append(torch.tensor(img.shape[-2:]))`. I encounter another error.
[code]
## To Reproduce
Just use the above code t

[2019-10-11 10:44] mazzma12 commented on #27738
Same issue here. I think it is related to the release of 1.3.0. Installing 1.2.0 solved it for me

[2019-10-11 11:09] phongnhhn92 commented on #27738
I think the problem is related to CUDA version since the new pytorch 1.3 is built using CUDA 10.1.243 and my current CUDA version is 10.1.168 (I installed it from the conda package). I guess I have to wait until the cuda conda package gets some updates to the new version. Another solution is installing cuda 10.1.243 manually.
Btw, the Captum code works perfectly with pytorch 1.2 :D

[2019-10-11 11:29] turboxin commented on #18268
@soumith I set up GPU just as the doc you posted, however I still noticed  that DistributedDataParallel wrapper cost more GPU memory:
the model cost around 7300 MB when loaded into one GPU, and 21129 when wrapped in DistributedDataParallel.

[2019-10-11 11:42] IkeYang opened #27742 "Pytorch Crush using backward."
## 🐛 Bug

I am trying to use DCGAN with DCGAN TUTORIAL: https://github.com/pytorch/tutorials/blob/master/beginner_source/dcgan_faces_tutorial.py
But there occurs an error: Process finished with exit code -1073741819 (0xC0000005) During loss.backward() running.
## To Reproduce
My problem is  I can only train it on CPU. It raises an error when I try to train it on GPU.
Here is the error. And my cuda

[2019-10-11 12:15] #27693 closed

[2019-10-11 12:16] Exlsunshine commented on #17203
For those who face the same problem, if you plan to run python in cpu, please make sure you install the cpu version of pytorch instead of cuda version.

[2019-10-11 12:16] oggyoggy448 commented on #27693
I'd removed all the numpy libraries and installed everything from the beginning and that solution worked for me.

[2019-10-11 12:24] turboxin commented on #18268
@chenhuiji, hi, did you figure it out what's causing the memory problem? Thanks a lot! Or could you reopen this issue

[2019-10-11 12:33] f0k opened #27743 "Support dictionary outputs in TorchScript tracer"
## 🚀 Feature

`torch.jit.trace()` currently requires traced functions to output plain tensors or tuples. It would be helpful if it also allowed functions that return dictionaries.

Minimal failing example:
[code]

## Motivation

Having modules take and return dictionaries makes it easier to define architectures with multiple inputs and outputs that are not always guaranteed to be present (e.g., fo

[2019-10-11 13:02] soumith commented on #27011
@fightthepower thanks for reporting. fixed now.

[2019-10-11 13:08] daydayfun commented on #27689
Thanks for your help. I have some demo code of bert based on Pytorch 1.0.

[2019-10-11 13:19] #27011 closed

[2019-10-11 13:20] soumith commented on #26948
@wizardk the first inference will be slower due to state initialization across the library

[2019-10-11 13:35] vittorione94 commented on #11451
Any news about this issue? I have the same problem...

[2019-10-11 13:46] ajsyp commented on #27735
This is also true of the CUDA links, e.g.:

https://download.pytorch.org/libtorch/cu101/libtorch-cxx11-abi-shared-with-deps-1.3.0.zip

[2019-10-11 13:47] gtamba commented on #25883
@yf225 I'd like to take on Conv1D, Conv2D and Conv3D , let me know if I can open up issues for them.

[2019-10-11 13:55] peterjc123 commented on #27735
cc @soumith

[2019-10-11 14:15] vadimkantorov commented on #27522
@pietern Unfortunately, I don't have enough time to figure out how to do it. I'm currently stuck even with a much simpler edit: https://github.com/pytorch/pytorch/pull/27621 ...

[2019-10-11 14:38] avaxman opened #27744 "building with libtorch and MKL-DNN/DNNL"
I am trying to cmake a C++ project as follows: cmake .. -G Xcode -DCMAKE_PREFIX_PATH=/pathto/libtorch

where libtorch was downloaded from here: https://download.pytorch.org/libtorch/nighlty/cpu/libtorch-macos-1.3.0.zip

however, I get the following error:
mported target "torch" includes non-existent path

    "MKL_INCLUDE_DIR-NOTFOUND"

I have installed mkl-dnnl through homebrew, and I suspect the

[2019-10-11 15:02] soumith commented on #27735
thanks for reporting this. Has been fixed now.

The above reported URLs should work

The Linux cu101 libtorch URL and OSX libtorch URL is unchanged and now working.

for the linux CPU and cu92 the URLs have slightly changed. I updated the website, and should be live in 20 mins: https://github.com/pytorch/pytorch.github.io/commit/7bb0306a2200b0b9afd280d02feb32ff388d5bf3

[2019-10-11 15:02] #27735 closed

[2019-10-11 15:12] gtamba commented on #27744
#14727 May be related although this has a different error message, maybe try dropping in the `*.dylib` files int `lib/` of your libtorch folder

[2019-10-11 15:13] dhruvsus opened #27745 "Conda install gives 1.0.0 with CUDA 9.0"
## 🐛 Bug

On Windows, using conda, running "conda install pytorch torchvision cudatoolkit=10.1 -c pytorch" gives you pytorch 1.0.0 build for cuda 9.0
## To Reproduce

Steps to reproduce the behavior:

1.Install conda on a windows machine
2.Run conda install pytorch torchvision cudatoolkit=10.1 -c pytorch

PyTorch version: 1.0.0
Is debug build: No
CUDA used to build PyTorch: 9.0

OS: Microsoft Wind

[2019-10-11 15:24] nikich340 commented on #16633
And what does it mean? That pytorch can't be used absolutely on 32-bit platforms? No any way?

[2019-10-11 15:33] peterjc123 commented on #16633
It can be used on a 32-bit system, but we don't provide packages for that. Considering the desktop OS, Linux is totally x64 now. Considering the memory size, you simply cannot use more than 4GB. Even if CUDA doesn't support cross-compiling 32-bit binaries now. (which means we will need a 32-bit machine to build. That is hard to find.) But anyway, you could compile the CPU/CUDA version if you reall

[2019-10-11 15:40] peterjc123 commented on #27745
Would you please remove the old packages of `pytorch` and `torchvision` first?

[2019-10-11 15:51] peterjc123 commented on #27745
Okay, I know. It was caused by the introduction of `ripgrep` which is not in the default channel. I'll remove that and regenerate the packages. Meanwhile, you can install `conda install -c conda-forge ripgrep` first and then it will work fine.

[2019-10-11 15:57] fmassa commented on #27740
Thus will be fixed when https://github.com/pytorch/vision/pull/1407 gets merged next week

[2019-10-11 16:01] ddetone commented on #14727
@soumith Any idea whats going on with these missing MKL libraries for the mac c++ libtorch? Somehow this is still an issue dating back since 2018, and even after pytorch 1.3, I just tried it out again.

The workaround done by @mark-fangzhou-xie above works for me, which involves manually copying the dylib files from old (pre v1.0) intel binaries.

[2019-10-11 16:09] charlesrwest opened #27746 "Website is broken"
When I tried to get the latest binaries from the main site, I got an XML error message instead

Tried: https://download.pytorch.org/libtorch/cu92/libtorch-cxx11-abi-shared-with-deps-1.3.0+cu92.zip

Got:
<Error>
<Code>AccessDenied</Code>
<Message>Access Denied</Message>
<RequestId>AD79583EB5FF8464</RequestId>
<HostId>
Muz9El8khkzx1XL+vtwbJuuVLIjbUGDfDElLYyonVjp+Y15fF02y3WIXGWtgbDVt+b87ZzxCH60=
</Ho

[2019-10-11 16:26] bionicles opened #27747 "How do you add quantized training?"
## 🚀 Feature
Would it be possible to train the model with quantization?

## Motivation
Memory issues are common and quantized training can help

## Pitch
User can set a flag for quantized training and it happens. Might require backprop over the expectation. If it's impossible to do quantized training, perhaps then docs could point to nevergrad (we could just evolve the weights in this case)

## Al

[2019-10-11 16:48] ezyang commented on #25821
@tuxzz Benchmarking process is expensive. But see https://github.com/pytorch/pytorch/issues/4392

[2019-10-11 16:48] ezyang commented on #6570
@gerwang I heard from @dreiss that this is something we'll be doing soon.

[2019-10-11 16:53] Zehaos commented on #27738
Same issue here. Current conda cudatoolkit version is old(10.1.168).

[2019-10-11 16:54] ezyang commented on #24120
@junjihashimoto should be fixed now I think

[2019-10-11 16:56] ezyang commented on #24422
@izdeby I took the liberty of adding you to the CC list for boolean tensor. If you don't want to be cc'ed on these feel free to remove yourself

[2019-10-11 16:57] ezyang commented on #27691
cc @izdeby

[2019-10-11 16:58] ezyang commented on #27714
The suggested change seems reasonable to do, but I'm not sure I would mark it as high priority (seems pretty niche)

[2019-10-11 17:00] ezyang commented on #27097
The fix here is very simple: don't "use c10 dispatcher" for the `_out` variants. c10 dispatcher doesn't support this.

[2019-10-11 17:02] ezyang commented on #27703
We reverted the diff

[2019-10-11 17:03] ezyang commented on #27584
Closing this as a dupe of the other issue

[2019-10-11 17:03] #27584 closed

[2019-10-11 17:04] TrentWeiss opened #27749 "[Feature Request]: Batchwise torch.lstsq"
## 🚀 Feature
A batchwise verison of torch.lstsq https://pytorch.org/docs/stable/torch.html?highlight=lstsq#torch.lstsq

Exact same interface, but with the option for "input" and "A" to be batches of corresponding least-squares formulations to solve.

## Motivation

I am working on a method of predicting parameterized curves (in particular, Bezier Curves). Fitting a Bezier curve to measured data is

[2019-10-11 17:05] fjug commented on #6570
That would be sooo cool! (What kind of 'soon' are we talking?) :wink:

[2019-10-11 17:11] ezyang opened #27752 "Version number is still duplicated in a bunch of places"
Current sites:

https://github.com/pytorch/pytorch/pull/27751
https://github.com/pytorch/pytorch/pull/27374

cc @pbelevich @soumith

[2019-10-11 17:15] ezyang commented on #27627
Just want to double check: the error also occurs if you don't valgrind, is that right? (We had some issues with valgrind in the past where valgrind didn't understand an instruction but it was fine.)

@elbamos is it possible to do a bisect while cherry-picking the other commit?

[2019-10-11 17:16] mruberry opened #27753 "Named Tensor test_big_tensor_repr requires default dtype to be set"
## 🐛 Bug

test_big_tensor_repr in test_namedtensor.py seems to required the default tensor dtype to be set to work properly.

When this setting is removed the string is not formatted as expected.

## To Reproduce

Run the test without setting the default dtype.

cc @ezyang @gchanan @zou3519

[2019-10-11 17:21] spandantiwari commented on #27551
@cpuhrsch and @houseroad - we just put in a PR https://github.com/pytorch/pytorch/pull/27247 to update support for `unbind`.

@bowenbao - is this issue resolved by that PR?

[2019-10-11 17:24] mruberry opened #27754 "torch.tensor(numpy.float64()) creates a float32 tensor"
## 🐛 Bug

[code]

Should be torch.float64.

test_dataloader.py has test_numpy_scalars which was supposed to test for this, but that test historically ran with the default tensor dtype set to torch.double and that masked this issue. In #27628 I removed setting the default tensor dtype and discovered the error. The corresponding line of the test is commented out pending resolution of this issue.

cc

[2019-10-11 17:44] yf225 commented on #25883
@gtamba Thanks so much for your interest in working on the Conv layers! Currently the Conv layers are blocked by https://github.com/pytorch/pytorch/pull/26601, which is in turn blocked by https://github.com/pytorch/pytorch/pull/26837. Once the enum changes are made and `F::pad` is added, we will be able to work on the Conv layers. (And please let me know if you would still be interested in working

[2019-10-11 17:45] smessmer commented on #27097
Yes, we are still working on adding support for _out variants to the c10 dispatcher. For now, this doesn't work with `use_c10_dispatcher`.

[2019-10-11 17:54] raghuramank100 commented on #27622
This approach will work for activations, but not for weights. Are you suggesting doing this only for the activations?

[2019-10-11 18:03] yaroslavvb opened #27757 "Easier DDP deadlock detection"
A common (most common) failure mode of DDP is workers deadlocking because of they are out of sync. It would be helpful to have an easier way to troubleshoot this.

IE, recent request
https://discuss.pytorch.org/t/best-way-to-debug-distributeddataparallel-code/57962

@pietern mentioned something like this is in the works, so opening this issue for bigger visibility

cc @pietern @mrshenli @pritamdam

[2019-10-11 18:09] gtamba commented on #25883
Ah I see, of course I'd like to give it a stab at a later date as well, is there anything else that I could pick up for now? Like some of the Dropout modules?

[2019-10-11 18:10] soumith commented on #27752
approved

[2019-10-11 18:13] soumith commented on #14727
@ddetone I fixed all such issues for v1.3.0 in https://github.com/pytorch/pytorch/issues/18996 or so I thought. But I only fixed them for pip and conda packages, not libtorch.
I'm looking into it right now and will fix libtorch too.

[2019-10-11 18:14] wilbry commented on #27735
I am still getting an access denied error even with the updated links

[2019-10-11 18:37] mruberry commented on #1183
@csarofeen is the person to ask.

[2019-10-11 18:43] jzw0025 commented on #27746
I got the same issue.

[2019-10-11 18:45] xta0 commented on #27726
Hi @RuABraun, wondering what script you were using to generate the Android build? After 1.3, we have a new building script for mobile - https://pytorch.org/mobile/android/#building-pytorch-android-from-source. Could you try that and see if the error still exists?

cc @IvanKobzarev @ljk53

[2019-10-11 18:48] zou3519 opened #27765 "Warnings in the docs build should be errors in CI"
I've seen a multitude of warnings in the docs build that reflected incorrect formatting and/or broken docs in the docs build. We should enforce a "no-warnings-allowed" situation for the docs.

cc @ezyang @zou3519

[2019-10-11 18:49] BowenBao commented on #27551
unbind PR is unrelated. This is an issue with the tracer to handle traced Tensor inputs where int/int list is expected.

[2019-10-11 18:50] yf225 commented on #25883
@gtamba Thanks! Yes I think the Dropout modules need an overhaul, specifically I think the scope of work is as follows:
1. We want to templatize `DropoutImplBase` to work on all of 1D / 2D / 3D, similar to the design of `AvgPool` and `MaxPool` (in `torch/csrc/api/include/torch/nn/modules/pooling.h`). The 1D layer should still be named `Dropout`, the 2D layer should be named `Dropout2d`, and the 3D

[2019-10-11 18:53] SsnL commented on #19947
fixed in #25827

[2019-10-11 18:53] #19947 closed

[2019-10-11 18:54] zou3519 opened #27766 "Test `make html-stable` target in CI"
Right now, in the CI, we build master docs on all PRs. Every time a release comes around I am nervous if the stable docs (built with `make html-stable`) are buildable or not. We should also build stable docs on all PRs.

cc @ezyang @zou3519

[2019-10-11 19:00] lara-hdr commented on #27176
Hey @gchanan, this is the issue that we discussed regarding interpolate.
Thanks!

[2019-10-11 19:06] gchanan commented on #27729
CC @jamesr66a @raghuramank100

this seems worth at least documenting clearly.

[2019-10-11 19:07] jerryzh168 commented on #27622
@raghuramank100 yes, only for activations.

[2019-10-11 19:08] gchanan commented on #27734
Please use https://discuss.pytorch.org (https://discuss.pytorch.org/) for questions.

[2019-10-11 19:08] #27734 closed

[2019-10-11 19:08] bryant1410 commented on #27738
Guys, you can still use pytorch=1.3.0 with cudatoolkit=10.0

[2019-10-11 19:09] jerryzh168 commented on #27729
That is correct, we don't support cuda currently.

[2019-10-11 19:09] elbamos commented on #27627
Yes. I’m compiling with debug info and running valgrind to provide the issue with something to go on.

[2019-10-11 19:11] gchanan commented on #27739
It would be helpful if you listed the code you copied exactly.

[2019-10-11 19:19] gchanan commented on #27746
I could reproduce this, thanks for reporting and we'll look into this.

[2019-10-11 19:21] gchanan commented on #27752
I put binaries even though it isn't really, I don't think anything else fits.

[2019-10-11 19:42] SsnL commented on #27714
The root cause is that parsing `intlist` uses `THPUtils_unpackIndex` (which uses `PyNumber_Index`) while parsing an int uses `THPUtils_unpackLong` (which uses `PyNumber_Long`). I don't have enough knowledge on when to use one vs the other, and googling doesn't help much.

[2019-10-11 19:51] IvanKobzarev commented on #27726
That might be not the answer for your problem:
I tried your model locally using gradle deps 'org.pytorch:pytorch_android:1.3.0' and:
[code]
It works for me on emulator.

I think the problem is with build process of libtorch.
What is the android_abi and android version of device you tried  it to run? (arm64-v8a?)

[2019-10-11 19:54] zou3519 opened #27769 "Nvidia cuda documentation link renders wrong"
Some of our docs link to "CUDA documentation" render incorrectly:

![image](https://user-images.githubusercontent.com/5652049/66680833-414d2d00-ec26-11e9-8347-5da72167ccb5.png)

cc @ezyang @gchanan @zou3519

[2019-10-11 19:55] dhruvsus commented on #27745
That worked thanks!

[2019-10-11 19:58] ezyang commented on #22815
Bumping this to high priority so we don't lose track of it.

[2019-10-11 20:02] li-roy opened #27771 "List as a python constant type in script"
Currently, it's not possible to script a constant python list:

Suppose in module
[code]

[code]

Proposal is to make this behave like tuple
[code]

We can work around this by converting the list to a tuple outside of script, but it seems like something that script should be able to do.

cc @suo

[2019-10-11 20:09] praateekmahajan commented on #27610
Would it be fair to say, that on the front end, there should some sort of checkbox that asks the user if they want to :
1. Quantize the models
2. Do layer fusion

These functions would be really cool, if supported inherently by torchserve.

[2019-10-11 20:21] suo commented on #24235
@wanchaol, do you mind looking into this? Thanks!

[2019-10-11 20:23] farleylai commented on #23401
@zafartahirov

Can you elaborate more about the patch?
The same issue remains even after upgrading to PyTorch 1.3 as follows:

[code]

The environment is shown below FYI:
[code]

[2019-10-11 20:34] Lalaland commented on #27542
@volcacius What do you think the optimal behavior should be for duplicates? What about sorting by the index for duplicates so that duplicates at lower indices are earlier in the list?

[2019-10-11 20:35] cpuhrsch commented on #27542
I marked this issue for triage review so we can state a choice on the behavior here.

[2019-10-11 20:39] soumith commented on #27746
thanks for reporting. The links instead of having a `+` symbol should have `%2B`. I fixed the website and the links should go live in ~20 mins as soon as the website rebuilds.

Reference commit: https://github.com/pytorch/pytorch.github.io/commit/61043066ad1945ef36bae7989df2a4dd20b51a66

[2019-10-11 20:39] #27746 closed

[2019-10-11 20:40] RuABraun commented on #27726
Sorry I stupidly copy-pasted my environment from the last issue I created (a week or two ago). The pytorch version is of course different (`1.4.0a0+cddc147`), updated the OP.

I'll add more info later.

[2019-10-11 21:07] rohan-varma opened #27777 "Wait for shutdown message future and check errors in ProcessGroupAgent"
## 🚀 Enhancement
Currently, when a future for sending a shutdown message to a process is created in `ProcessGroupAgent`, the message is sent and the future is immediately marked as completed. This means that if there were errors with shutting down on the other process, there is no retry or alerting about this error. We should probably wait for this future and check for errors, and possibly retry o

[2019-10-11 21:10] zou3519 opened #27778 "torch.random.cuda documentation missing"
We are missing documentation for:
- cuda.get_rng_state_all
- cuda.set_rng_state_all
- cuda.manual_seed_all
- cuda.seed_all

In torch.random: https://pytorch.org/docs/master/random.html

[2019-10-11 21:10] volcacius commented on #27542
I would check what other frameworks do in this particular context and try to match that. Or it might be a an additional flag that the user can control.
I also would like to report that I'm experiencing inconsistent behavior depending on the batch size of the tensor passed, although I haven't been able to reproduce the problem systematically yet.

[2019-10-11 21:12] ezyang commented on #9064
Still happening. https://circleci.com/gh/pytorch/pytorch/3166688?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-10-11 21:12] bryant-pham commented on #2125
Any solutions to this?

[2019-10-11 21:18] zou3519 opened #27780 "torch.cuda.default_generators documentation referenced but don't exist."
https://github.com/pytorch/pytorch/blob/master/docs/source/torch.rst (scroll down to default_generators)

cc @ezyang @gchanan @zou3519 @jerryzh168

[2019-10-11 21:23] pritamdamania87 commented on #27412
The proposal was to do this instead:

[code]

As per https://en.cppreference.com/w/cpp/language/storage_duration#Static_local_variables, we have this:
[code]

As per my understanding this should be thread-safe for static pointers as well.

We don't need to do this since the OS will free the resources.

@pietern @rohan-varma I'd suggest reading https://isocpp.org/wiki/faq/ctors#static-init-order-on

[2019-10-11 21:32] vishwakftw opened #27783 "torch.lgamma is undocumented"
## 📚 Documentation

While working on fixing #25347, I found out that `torch.lgamma` appears to be undocumented.

[code]

cc @ezyang @gchanan @zou3519

[2019-10-11 21:36] vishwakftw commented on #27749
Hi @Electric-Turtle,

Thank you for opening the issue. This is part of the plan in #7500, and I hope to add this before 1.4 is released.

[2019-10-11 21:37] xush6528 commented on #27777
I can see the importance of this proposal is avoid hanging at end of training, which would waste great amount of hardware resources.

[2019-10-11 21:39] yaroslavvb commented on #6305
@jacobrgardner was suggesting to implement it through Lanczos which has a reference implementation in https://github.com/cornellius-gp/gpytorch/blob/master/gpytorch/utils/lanczos.py

[2019-10-11 21:47] ngoldbaum commented on #27097
Ah thank you for the clarification.

When I leave `use_c10_dispatcher` blank for those two kernels, I get a failed assertion from the operator registration machinery:

[code]

[2019-10-11 21:52] ngoldbaum commented on #27097
Ah, here's a hint:

[code]

So somehow `legacyAtenSchema` is not getting initialized...

[2019-10-11 21:57] soumith commented on #27610
I'd like to see some more details on the following aspects:

1. Model lifecycle / serving multiple models at the same time:
  - What is the mechanism with which you shall do this?
     - Will you simply dereference the pointer to the old model and load in the new model?
     - Will you push the old model to a cheaper memory space such as CPU memory, in case it has to be loaded back into GPU memory

[2019-10-11 22:00] soumith commented on #27745
keeping it open till we upload fixed binaries

[2019-10-11 22:04] soumith commented on #27735
@wilbry had to change the `+` to `%2B` now it should work. sorry about that.

[2019-10-11 22:05] zou3519 opened #27785 "torch.cuda.reset_max_memory_reserved doesn't exist"
The documentation has an[entry for it](https://github.com/pytorch/pytorch/blob/master/docs/source/cuda.rst), but the documentation website [doesn't have it](https://pytorch.org/docs/master/cuda.html).

[2019-10-11 22:10] #27689 closed

[2019-10-11 22:10] soumith commented on #27689
duplicate of the other issue

[2019-10-11 22:13] soumith commented on #27738
@jjhelmus would you know when anaconda would upgrade to 10.1.243 if there's a plan. Also, if there's a better way to ask about anaconda cuda / cudnn upgrades let me know I'll follow it :)

[2019-10-11 22:15] soumith commented on #27738
@ptrblck can you folks try to repro this (see the user's 2nd comment), basically they are running into a hang of some sort with 10.1.243 vs 10.1.168

[2019-10-11 22:16] soumith commented on #27694
cc: @suo

[2019-10-11 22:17] soumith commented on #21741
we will have wheels and binaries for python 3.8.0 stable, but only for the next pytorch release, which will be either 1.3.1 or 1.4.0

[2019-10-11 22:18] dzhulgakov commented on #27729
Yes, in 1.3 quantized operations are implemented on cpu only (targeting cpu inference cases). We are looking into cudnn bindings too. The fake quantization in quantization award training supports cuda. We will clarify it in the docs.

@dongfangduoshou123 - just curious about your use case of gpu inference - what type of model you’re looking into and what current solution you’re using today for it.

[2019-10-11 22:20] gottbrath commented on #27729
yea, we can get a doc change in for this.

[2019-10-11 22:30] pritamdamania87 commented on #27671
@cpuhrsch Do we have some documentation in terms of what different priority levels mean? In general this doesn't seem high priority to me since we're still building out the feature and this code isn't going to be used in production any time soon.

[2019-10-11 22:33] dreiss commented on #6570
Should be ready in a few weeks.  I've got it working on my laptop, but we need to clean up one of our dependencies before we can make a release that I'd feel good about.

Just as a reminder, this won't be the full torch/ATen API.  It will be the inference-oriented API that we're supporting on Android: https://pytorch.org/docs/stable/packages.html

[2019-10-11 22:49] ngoldbaum commented on #27097
I was able to work around that issue in a hacky way, let's move discussion about this to #27788.

[2019-10-11 23:12] #24485 closed

[2019-10-11 23:12] #24484 closed

[2019-10-11 23:12] #24483 closed

[2019-10-11 23:12] #24482 closed

[2019-10-11 23:12] #24481 closed

[2019-10-11 23:12] #24480 closed

[2019-10-11 23:12] #24479 closed

[2019-10-11 23:13] #24486 closed

[2019-10-11 23:30] xush6528 commented on #27231
Done by #27652

[2019-10-11 23:37] jamesr66a commented on #27097
Folks, I want to clarify that this issue is for tracking the systematic fix for this in the c10 op registration system, not for making this work for specific operators. The correct solution here likely involves adding cases here https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/register_c10_ops.cpp#L124 for Scalar types (to emulate what we do for ATen, we can likely call the Scalar ove

[2019-10-11 23:59] ezyang commented on #27737
@SteiMi That seems reasonable to me. Can you submit a PR?

[2019-10-12 00:05] jamesr66a opened #27793 "[quantization] QNNPACK Engine for Dynamic Quantization"
We should support QNNPACK for dynamic quantization.

- [ ] RNN classes
- [ ] RNNCell classes
- [ ] Linear

cc @jerryzh168 @jianyuh @dzhulgakov

[2019-10-12 00:06] jamesr66a opened #27794 "[quantization] FP16 Support for Dynamic Linear"
cc @jerryzh168 @jianyuh @dzhulgakov

[2019-10-12 00:07] ezyang commented on #27671
At the end of the day the final priority decision is made by the relevant owners of the code in question. So yes, you have the final say here. Untag the high priority if you disagree about it.

[2019-10-12 00:26] pritamdamania87 commented on #25531
I think as part of initializing RPC, we should be able to specify a timeout for all RPCs. If this timeout is not specified, we can go with a default that we specify in code. But, yes in general we should have timeout and check for futures that haven't finished in the given timeout window.

[2019-10-12 00:51] dongfangduoshou123 commented on #27729
Because the TensorRT can run the quantized model (8bit 16bit) with cuda cudnn to speed up model, so i think pytorch  should also be possible to do so.

[2019-10-12 02:26] huyvnphan commented on #27738
I have the same issue

[2019-10-12 02:49] #27232 closed

[2019-10-12 03:02] #27231 closed

[2019-10-12 03:17] wizardk commented on #26948
@soumith Thanks. So this is a feature, not a bug, right? But it still is a little confusing. Does the first state initialization need an input case? I can understand if so. Contrarily, what about exposing an API for caller to do this initialization?

[2019-10-12 04:03] suo commented on #26948
The first inference is slower as well due to the initial optimization that the JIT is doing on your code. This is similar to "warm up" in other JIT compilers. Typically, production services will warm up a model using representative inputs before marking it as available.

[2019-10-12 05:03] wizardk commented on #26948
@suo Thanks.

[2019-10-12 05:21] suo commented on #26948
However, there is no global lock in libtorch that prevents multithreaded inference from scaling reasonably. If you have more detailed profiles I would be very interested in checking them out.

[2019-10-12 05:32] SsnL commented on #27738
@soumith I can reproduce this with system CUDA `cuda_10.1.105_418.39` and 1.3 binary.

[2019-10-12 06:06] mrsalehi commented on #25883
Hi @yf225. I would like to take one of the layers. Which one do you suggest for a beginner?

[2019-10-12 06:15] nuka137 commented on #25883
@yf225

Hi, I almost finished to implement LPPool.
Could you assign `BatchNorm{1,2,3}` while reviewing?

[2019-10-12 06:25] hexunshi opened #27802 "How can I achieve parallel with c++ extension?"
## ❓ Questions and Help
I want use `at::parallel_for` to achieve some function.I refer to [add_dense_sparse_worker_cpu](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/sparse/SparseTensorMath.cpp#L359-L375).
[code]
[code]
but i got some error
[code]

[2019-10-12 06:55] dzhulgakov commented on #27747
Actually training model in int8 is an open area of research at this point and I don't think it's been demonstrated to reliably work (float16 and bfloat16 work reasonably well as you pointed out).

What you probably refer is so called "quantization-aware training" which simulates accuracy drop in model's forward to allow the model to "learn around" the accuracy loss in inference. However, in this c

[2019-10-12 07:10] Linkeyboard commented on #27739
I installed pytorch1.3 by conda on linux, cuda10.1. And I tried code from documentation as below.
------------------------------------------------------------------------------------------------------------
from torch.nn.quantized import functional as qF
filters = torch.randn(8, 4, 3, 3, dtype=torch.float)
inputs = torch.randn(1, 4, 5, 5, dtype=torch.float)
bias = torch.randn(4, dtype=torch.float)

[2019-10-12 07:24] Linkeyboard commented on #27739
Finally, it works and thanks for your help!
[code]
What's more, the data type of convolutional kernals seems to be quint8, and data type of intput tensor is qint8.

[2019-10-12 07:24] #27739 closed

[2019-10-12 07:43] jmliu1983 commented on #2575
same issue.
my platform:
CPU: Arm64
OS: Ubuntu 18.04 LTS
Spyder3: 3.2.6

[2019-10-12 08:29] mazzma12 commented on #27738
Intersting, so the cuda version would not be the cause of the problem ? Where do you find information about the cuda version required for each torch version, and the installation steps ? I couldn't find it on torch website.

I still have: `no cuda available` when installing with pip though

[2019-10-12 08:50] meiluzhu opened #27806 "About async_op = True in all_reduce"
## ❓ Questions and Help
Questions: How to understand the case about all_reduce with async_op = True?

Here, I know the mode is synchronous if async_op is set to False, that means the worker can continue to run until it receives the gradients from all other workers. But if async_op is True, that means the mode is asynchronous. I cannot understand the asynchronous mode in ring all_reduce. I also did

[2019-10-12 08:55] dhpollack opened #27807 "Very Slow Moving Tensor to CUDA device (CUDA 10.1 with PyTorch 1.3)"
## 🐛 Bug

Moving tensors to cuda devices is super slow when using pytorch 1.3 and CUDA 10.1.  The issue does not occur when using pytorch 1.3 and CUDA 10.0.

## To Reproduce

[code]
## Expected behavior

should be almost instance

## Environment

 - PyTorch Version (e.g., 1.0): PyTorch 1.3
 - OS (e.g., Linux): Linux (Arch Linux)
 - How you installed PyTorch (`conda`, `pip`, source):  conda
 - Pyth

[2019-10-12 09:28] WenmuZhou commented on #27738
pytorch1.3 cuda10 has same error

[2019-10-12 09:48] leftthomas commented on #27738
@mazzma12 [here](https://anaconda.org/pytorch/pytorch/files) can find the exact version of supported cuda

[2019-10-12 09:59] WSzP commented on #27745
[peterjc123](https://github.com/peterjc123)'s solution worked like a charm.
 `conda install -c conda-forge ripgrep `
Thank you so much!

[2019-10-12 10:31] Mengman commented on #3415
I got this work on my code
my h5py version is 2.10.0
just enable 'swmr mode'
[code]

and **do not set** torch multiprocessing to 'spawn'
<del>import torch.multiprocessing as mp</del>
<del>mp.set_start_method('spawn')</del>

[2019-10-12 10:37] turboxin opened #27810 "DistributedDataParallel consumes much more gpu memory"
Would DistributedDataParallel wrapper cost much GPU memory? In my case, the model cost around 7300MB when loaded into a GPU. However, when wrapped in DistributedDataParallel and run in the distributed mode, it costs 22000MB GPU momery.
Is it caused by the DistributedDataParallel wrapper? Are there any methods to save memory usage? Thanks!

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satge

[2019-10-12 11:15] sachinruk commented on #7284
Wondering if this has been implemented now with pytorch 1.3? The library mentioned above is causing me compilations issues (on my non-GPU mac).

[2019-10-12 11:17] soumith commented on #27807
cc: @csarofeen @ptrblck similar / same as the other issue I tagged ptrblck in. can you lend a hand to get to the bottom of this

[2019-10-12 11:33] soumith commented on #27738
another issue reporter reports that the startup time for 10.1 is in minutes, and we are looking. so, it's not deadlocked, but starts after a few minutes. looks like some PTX->SASS compilation happening: https://github.com/pytorch/pytorch/issues/27807

[2019-10-12 11:34] aliutkus commented on #7284
@sachinruk, talking of my torchsearchsorted ? which error ?

[2019-10-12 11:40] soumith commented on #27745
new conda binaries are uploaded and this issue is now fixed. thanks all for being patient :)

[2019-10-12 11:51] soumith commented on #27807
I tried to reproduce this in a Colab notebook, with a `!pip install -U torch` and it seems the startup time there is really fast.

So it might be one of these:
- something correlated wrt GPU model
- something correlated to driver version
- something specific to conda / 10.1 interaction

[2019-10-12 11:52] soumith commented on #27807
@dhpollack can you confirm or deny that `pip install -U torch` does not produce the slow-down?

[2019-10-12 11:52] soumith commented on #27738
@leftthomas  @phongnhhn92  @SsnL can you confirm or deny that `pip install -U torch` does not produce the slow-down?

[2019-10-12 12:03] soumith commented on #27738
in the interest of not having two threads (and not copy-pasting my comments), I am closing this in favor of https://github.com/pytorch/pytorch/issues/27807

Please follow updates at https://github.com/pytorch/pytorch/issues/27807
I think i have a possible solution, I'll post an update there.

[2019-10-12 12:03] #27738 closed

[2019-10-12 12:04] soumith commented on #27807
ok I got a repro. It is specific to conda / 10.1 interaction, i.e. 10.1.243 vs 10.1.168.
I am going to regen the conda binaries with `10.1.243`, it'll take me a few hours to get there.

[2019-10-12 12:21] #25576 closed

[2019-10-12 12:51] Kylin9511 commented on #22107
@Ir1d I afraid the implementation is highly merged in my pipeline. So the code will not provide much help. If you want to add the scheduler concatenation support into pytorch, you need to rewrite most of it.

[2019-10-12 13:11] soumith commented on #27807
kicked off builds for fixing the binaries here: https://circleci.com/workflow-run/f3094949-d5c4-47e8-a42c-4983efc893d4

[2019-10-12 13:34] Linkeyboard opened #27811 "Move torch.nn.quantized.conv2d to GPU"
## ❓ Questions and Help

[code]
It works successfully on CPU, and what can I do if I want to move conv2d to GPU.

[code]
I tried in this way and got mistakes as below.

**RuntimeError: Didn't find kernel to dispatch to for operator 'quantized::conv_prepack'. Tried to look up kernel for dispatch key 'CUDATensorId'. Registered dispatch keys are:[QuantizedCPUTensorId] (lookup_ at /opt/conda/conda-bld

[2019-10-12 13:38] ptrblck commented on #27807
@soumith thanks for isolating this issue! I'll try to dig into it and see, what's going on in `10.1.243`.

[2019-10-12 14:07] mirth opened #27813 "Significant difference of models output while reproducing the ios-demo-app/HelloWorld for python"
## 🐛 Bug

The difference in first decimal place for desktop python code vs [ios-demo-app/HelloWorld](https://github.com/pytorch/ios-demo-app/tree/master/HelloWorld) on emulator

## To Reproduce
Run this on mac:

[code]
get the:
[code]

run the [ios-demo-app/HelloWorld](https://github.com/pytorch/ios-demo-app/tree/master/HelloWorld) example in xcode and get:

[code]

## Expected behavior
At least o

[2019-10-12 14:31] bionicles commented on #27747
OK, any progress on reduced memory use in training would be useful on the biomolecular front. carry on

[2019-10-12 14:32] wangwwno1 commented on #27441
Look like I wrongly changed the code in ParameterDict (not ModuleDict) because they have similiar structure.
Running the same test, find out that ParameterDict has similiar bug.
Both issue are fixed in this PR.

[2019-10-12 16:34] jph00 commented on #22402
@rgommers thanks for pointing out `torch.Tensor._make_subclass` - I'd missed that one. I've changed fastai v2's `TensorBase` to use that now.

BTW, note that there's an important difference between `Tensor` and `ndarray`, as shown here:
![image](https://user-images.githubusercontent.com/346999/66704688-5764f700-ecd3-11e9-9995-2dcd91ba8ff5.png)

Because you can simply add methods directly into `Ten

[2019-10-12 16:57] dhpollack commented on #27807
there is no slowdown when installing from pip

[2019-10-12 18:10] soumith commented on #27807
ok the new binaries didn't fix the issue, but I nailed it on the head.
I'm re-spinning binaries again that will fix the issue 100%.

[2019-10-12 18:34] yourh commented on #20311
I met the same situation and I still wonder that why using nn.dataparallel is slower in 1.1+ than 1.0.1

[2019-10-12 18:48] eustomaqua commented on #2125
Same situation and cannot resolve it....

[2019-10-12 19:35] rakso20000 opened #27815 "Can't install pytorch using pip under Windows 10"
## 🐛 Bug

Trying to install the stable release following instructions from https://pytorch.org/get-started/locally/ results in the message `ERROR: No matching distribution found for torch===1.3.0`.

Trying to install the preview release results in a python error.

## To Reproduce

Steps to reproduce the behavior:

1. Try to install python as instructed in https://pytorch.org/get-started/locally/

[2019-10-12 20:07] eustomaqua commented on #2125
I changed the torch version and it worked.
Firstly, I used "pip install torch==1.3.0" with "torchvision==0.4.0" and this issue happend.
Then, I degraded the version "pip install torch==1.2.0" with "torchvision==0.4.0" and it worked.

[2019-10-12 20:33] vishwakftw commented on #27815
cc: @soumith

[2019-10-12 20:39] soumith commented on #2125
@eustomaqua i've identified the reason for this issue for the 1.3.0 release. The affected build is OSX + pip, no other builds are affected. I am looking into fixing this asap.
Reference issue which introduced the problem: https://github.com/pytorch/pytorch/issues/18996

[2019-10-12 20:46] soumith commented on #27815
hmm this makes no sense, the Windows wheels are right there in the files that pypi is looking for. And Python 3.7 is supported.

@peterjc123 do you know what is going on?

[2019-10-12 21:29] suo commented on #27610
I'm curious how you envision how this interacts with model management overall. One problem that is a continual source of pain for us internally is that users are encouraged by the design of our internal serving framework to work with their models as data blobs (a `.pt` file in this case) instead of code.

This complicates maintenance, as you can get into a state where there are models running on t

[2019-10-12 21:44] soumith commented on #27807
This issue is now fixed with newly updated binaries.
Uninstalling and reinstalling PyTorch from Anaconda will fix it.

[2019-10-12 21:44] #27807 closed

[2019-10-12 21:44] soumith commented on #27738
This issue is now fixed with newly updated binaries.
Uninstalling and reinstalling PyTorch from Anaconda will fix it.

[2019-10-12 21:45] soumith commented on #24018
we now have moved to 10.1 and the issue should be fixed.

[2019-10-12 21:45] #24018 closed

[2019-10-12 21:59] mrshenli commented on #27757
#22071 was the original issue to track the progress

[2019-10-12 22:21] #27757 closed

[2019-10-12 23:19] yf225 commented on #25883
@mrsalehi Thanks so much for your interest! I think `Flatten` would be a great layer to start with. Please let me know. :D

[2019-10-12 23:38] yf225 commented on #25883
@nuka137 Thank you so much and really appreciated your help! I just mentioned your name next to  `BatchNorm{1,2,3}d`, and I think concretely we would need to do the following:
1. Currently there is already a `BatchNorm` layer in the C++ API, and we should deprecate it by showing a warning message in its constructor.
2. We should add `BatchNorm{1,2,3}d` layers by templatizing a `BatchNormImplBase`

[2019-10-13 00:10] peterjc123 commented on #27815
@rakso20000 From the location of your python installation, it seems that you are using Python 32-bit. Please use Python 64-bit instead. @soumith Any ideas to make this more obvious to the users?

[2019-10-13 00:27] yf225 commented on #27078
@Naresh1318 : Thanks a lot for your interest! It seems that @pushkalkatara didn't respond, would you be interested in picking up this issue?

@mrsalehi : Thanks a lot for your interest as well! I will let @Naresh1318 take a crack at it first since he posted earlier. If you are interested, we also have many layers / functions left to be done at https://github.com/pytorch/pytorch/issues/25883, and `

[2019-10-13 01:22] mruberry opened #27817 "The build short_perf_test_gpu is broken on master"
## 🐛 Bug

Per title.

Context:

- The break can first be seen at #27635.
- This build was broken by a different issue before #27635. This commit https://github.com/pytorch/pytorch/commit/38a3eabd3eaab37bfda4b84910b318fa3685afd4 is the first to show that issue. Relevant CircleCI: https://circleci.com/gh/pytorch/pytorch/3149226?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-

[2019-10-13 01:25] Naresh1318 commented on #27078
Yes. I’d be interested in working on this!

[2019-10-13 01:36] Novak3 commented on #21987
I came across this page by looking for a solution to the problem [referenced here:](https://discuss.pytorch.org/t/masked-batch-normalization/57813) namely, trying to mask tensors for various styles of normalization.

It seems like extending _exclude_nans_ into the mean and var functions would be the start of that, and then possibly as simple as extending those flags into fooNormxD functions.

Is i

[2019-10-13 01:48] nightfox0909 commented on #27783
Love to help, but I'm new. Could you help me with a pointer ?

[2019-10-13 02:17] gchanan commented on #27726
CC @dreiss @jia-kai not sure how you are tracking mobile issues.

[2019-10-13 02:18] gchanan commented on #27765
Sounds like a good idea.

[2019-10-13 02:26] gchanan commented on #27810
Please use https://discuss.pytorch.org (https://discuss.pytorch.org/) for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-10-13 02:26] #27810 closed

[2019-10-13 02:28] gchanan commented on #27744
@gtamba I'm going to close this as a duplicate of https://github.com/pytorch/pytorch/issues/14727 -- as @soumith is fixing these, as noted there.

[2019-10-13 02:28] #27744 closed

[2019-10-13 02:29] gchanan commented on #27753
@zou3519 can you take a look?

[2019-10-13 02:30] jia-kai commented on #27726
@gchanan Did you accidentally mentioned me? I'm not sure what's going on here

[2019-10-13 02:31] gchanan commented on #27754
I don't think we ever handled the dtype scalars correctly, as opposed to the tensors.

We should though.

[2019-10-13 02:32] gchanan commented on #27754
ya, same thing happens in 1.2.

[2019-10-13 02:34] gchanan commented on #27769
Seems high priority given it's super easy to fix.

[2019-10-13 02:35] gchanan commented on #27780
seems high priority given it should be super easy to fix.

[2019-10-13 02:39] gchanan commented on #27806
Please use https://discuss.pytorch.org (https://discuss.pytorch.org/) for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-10-13 02:39] #27806 closed

[2019-10-13 02:40] gchanan commented on #27811
@Linkeyboard CUDA quantization is not currently supported.  We'll be updating the docs to make that more clear.

[2019-10-13 02:41] vishwakftw commented on #27783
@nightfox0909 sorry, this is being fixed in #27812

[2019-10-13 02:42] gchanan commented on #27778
These aren't used enough to be high priority IMO.

[2019-10-13 02:45] gchanan commented on #27802
Please use https://discuss.pytorch.org (https://discuss.pytorch.org/) for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-10-13 02:45] #27802 closed

[2019-10-13 02:49] gchanan commented on #27815
Going to put enhancement, since this isn't a bug.  If there's something we can do to make this more obvious, that would be nice.

[2019-10-13 03:04] mrsalehi commented on #25883
@yf225 Yes, I would like to work on the `Flatten` layer!

[2019-10-13 03:30] mruberry commented on #27754
I agree it's likely not a regression, but other numpy scalars (like numpy.float16()) do work properly and the double behavior was tested for. The other dtype tests still pass.

[2019-10-13 04:02] yf225 commented on #25883
@mrsalehi Thanks so much for your help! :D

[2019-10-13 04:15] yf225 commented on #27078
@Naresh1318 Thanks! I just assigned the issue to you :D

[2019-10-13 05:28] yf225 commented on #27817
It should be fixed by https://github.com/pytorch/pytorch/pull/27797.

[2019-10-13 05:28] #27817 closed

[2019-10-13 05:46] xta0 commented on #27726
cc @ljk53.

[2019-10-13 06:29] xta0 commented on #27813
@mirth Thanks for your feedback. The problem is that the way iOS and Python extract RGB data from jpg file are slightly different, which means the input tensors are different. In your case, the first 3 RGB pixels look the same. However, when you print, say `input_batch[0][1][0][111:121]`, you‘ll see the difference. To better illustrate this, I resized the [image](https://drive.google.com/open?id=1

[2019-10-13 07:03] Rb-Liu opened #27820 "IterableDataset should be added into dataset.pyi"
## 🐛 Bug
trying to import `IterableDataset` in `torch.utils.data.dataset` creates an error in PyCharm. look at the following picture:
![图片](https://user-images.githubusercontent.com/44257865/66712058-9c6b5500-edc9-11e9-9492-64c416939e7b.png)

It says that `cannot find reference in dataset.pyi`, where in `dataset.pyi`, we can see that:
![图片](https://user-images.githubusercontent.com/44257865/667120

[2019-10-13 07:03] alexeygolyshev commented on #27815
I can confirm the installation problem on Windows. conda offers PyTorch 1.0.

[code]

This works: `pip install https://download.pytorch.org/whl/cu101/torch-1.3.0-cp37-cp37m-win_amd64.whl`

[2019-10-13 07:06] peterjc123 commented on #27815
@alexeygolyshev Why do you post here? Is there any relation between your problem and the one in the main topic? Your issue is related to https://github.com/pytorch/pytorch/issues/27745. Please post there, okay?

[2019-10-13 07:13] alexeygolyshev commented on #27815
@peterjc123 Workaround for `pip` in my comment: `pip install https://download.pytorch.org/whl/cu101/torch-1.3.0-cp37-cp37m-win_amd64.whl`

[2019-10-13 07:18] peterjc123 commented on #27815
@alexeygolyshev That's off-topic. I'll delete your replies here. Please post in the correct location.

[2019-10-13 07:20] wizardk commented on #26948
1. Make a jit model
[code]

2. Run in cpp
[code]

3. Result
./test 1 10000 => CPU usage 2400
./test 2 10000 => CPU usage 4800
./test 3 10000 => CPU usage 2700
./test 4 10000 => CPU usage 3000
./test 5 10000 => CPU usage 3100

@suo There are 48 CPU cores and torch::get_num_threads() returns 24.
Is this test result normal? It seems there was a sudden drop in the performance of mkldnn when the total

[2019-10-13 07:30] alexeygolyshev commented on #27815
@peterjc123 Why do you think that my comments were off-topic? I successfully installed PyTorch 1.3 and shared my experience. This issue is called "Can't install pytorch using pip under Windows 10". I suggested a solution: `pip install https://download.pytorch.org/whl/cu101/torch-1.3.0-cp37-cp37m-win_amd64.whl`

[2019-10-13 07:35] peterjc123 commented on #27815
Yes, but the author's issue is about installing it in a 32-bit environment. Let me change the name for that.

[2019-10-13 11:19] mirth commented on #27813
@xta0 Thanks! It seems that you have uncovered this case🕵️

[2019-10-13 11:19] #27813 closed

[2019-10-13 15:06] LLNLanLeN commented on #27745
@WSzP @dhruvsus hey guys, I install ripgrep then I updated pytorch, I was able to get to pytorch 1.3.0, but torchvision got downgrade to 0.2.2, does this happen to you guys?

[2019-10-13 15:45] peterjc123 commented on #27745
@LLNLanLeN Looks like torchvision is relying on some packages that only exist in the `conda-forge` channel.
@soumith Could you please change the conda install command into `conda install pytorch torchvision -c pytorch -c defaults -c conda-forge` for Windows?

[2019-10-13 15:51] LLNLanLeN commented on #27745
@peterjc123 thank you for getting back so quickly, that command actually helps me install torchvision 0.4.1

[2019-10-13 16:04] peterjc123 commented on #27745
Waiting for @soumith to fix the commands

[2019-10-13 16:37] SsnL commented on #27820
Thanks for reporting! Would you mind submitting a PR to fix this?

[2019-10-13 17:40] RuABraun commented on #27726
The ABI is `armeabi-v7a`, NDK leve is at 18, android SDK 28.

To use pytorch I just use `include_directories()` to add in `${TORCHPATH}/include`, and then in `target_link_libraries` put in the paths to the static libraries, those are:
[code]
And then use `#include "torch/script.h"`.

I noticed in the `CMakeLists.txt` of pytorch, there is an option:
[code]
So does using `QNNPACK` mean one uses `ATe

[2019-10-13 17:50] rabem00 commented on #4518
I had the same problem on windows 10 after installing with pip3 with python 3.7.4 and CUDA version 10.1.  (My cuda driver is this version: NVIDIA CUDA 10.1.0 driver). But on an import the same error that others had.

To fix it i did the following; pip3 uninstall torch and reinstall with CUDA 9.2. The import goes fine now (torch.cuda.is_available is true, so everything is working). Hope this helps

[2019-10-13 18:11] xRiot opened #27822 "Caffe2 - support for translating layers: res5c_up_pose_pose, res3d_pose_pose and res5c_up_posec with caffe_translator"
## 🚀 Feature
`caffe_translator` module in Caffe2 does currently not support: `res5c_up_pose_pose`, `res3d_pose_pose` and `res5c_up_posec` layers.

## Motivation

We're experiencing difficulties with migrating over from Caffe (v1.0.0) to Caffe2 (0.8.2) due to some layers in our pretrained model not being supported yet.

## Pitch

Official support for these missing layers would be greatly appreciate

[2019-10-13 21:38] yaroslavvb commented on #598
Yes, makes sense. Restricting to single-output modules seems fine since that's the most common use-case.

PS, the motivation for module backward hooks is that the user code becomes simpler. Example -- implement https://arxiv.org/abs/1510.01799 . Currently this requires a module forward hook to save the activations, then backward hook to combine saved activations with backprops. Module backward hoo

[2019-10-13 22:07] andres-fr opened #27824 "Indexed, in-place multiplication segfaults/drops values"
## 🐛 Bug

Hi everyone! thanks for this amazing software. Playing around with the new boolean tensors, I found out this issue, likely to be a bug involving indexed and in-place operations.

Specifically in this minimal working example, indexed, in-place multiplication a non-zero constant float matrix by an all-True boolean matrix results in some values being dropped to zero, or even segfaults.

##

[2019-10-13 23:06] LLNLanLeN commented on #27745
I have 2 different environment, one is pytorch 1.2, torchvision 0.4.0 and cudatoolkit 10.0 (called A for now), and one is with the newest pytorch version: 1.3.0, torchvision 0.4.1 and cudatoolkit 10.1.168.

For pytorch 1.2, when I type `torch.cuda.is_available`, it can pick up my nvidia GTX 1050, but for pytorch 1.3.3 is could not (return false). Anyone have any issue so far?

If any additional in

[2019-10-13 23:12] soumith commented on #27745
fixed commands and uploaded new binaries.
fixed via https://github.com/pytorch/pytorch.github.io/commit/7491668f14ce6def1e882b091a3c597de92c4bf1

[2019-10-13 23:13] soumith commented on #27745
@LLNLanLeN upgrade your NVIDIA driver to latest, and that will likely fix the issue. cudatoolkit 10.1 requires much newer driver than 10.0

[2019-10-13 23:14] soumith commented on #27822
caffe2 does not have official public support anymore. So, closing this issue as `wontfix`

[2019-10-13 23:14] #27822 closed

[2019-10-13 23:20] soumith commented on #27815
1. we could upload dummy sdist for 32-bit that fail with a better error message. Right now it is compiling the `sdist` but failing with ` ModuleNotFoundError: No module named 'tools.nnwrap'`

[2019-10-13 23:40] LLNLanLeN commented on #27745
thank you, that solve my problem

[2019-10-13 23:53] soumith commented on #25878
i'm bumping the priority on this cc: @gchanan

[2019-10-14 00:56] XiaobingSuper commented on #26287
@branfosj , @boegel, we have upgrade mkldnn to [0.21.1](https://github.com/pytorch/pytorch/pull/27597) which can solve this problem. Thanks.

[2019-10-14 01:05] jameslahm commented on #27736
Please visit #24157
You could install and use pytorch-ngihtly, then it works.

[2019-10-14 01:48] Linkeyboard commented on #27811
Thanks for your help!  Looking forward to support of CUDA quantization in new version pytorch!

[2019-10-14 01:48] #27811 closed

[2019-10-14 02:50] xiaoLiuxiaoLiuxiaoLiu opened #27827 "How to hide latency on libtorch by multithreads? A problem about double stream pipelines execution."
Hello, I want to hide latency between data_loader and inference. I simply apply it by OpenMP with a simple double stream pipelines execution. However, the code "auto t=model->forward({Tensor.to(kCUDA)}.toTensor()" don't support multithreads(OpenMP).

Is there any solution?

My idea is just like Fig. 6 on this website: https://software.intel.com/en-us/articles/heterogeneous-computing-pipelining

[2019-10-14 03:15] peterjc123 commented on #27745
After investigation, the changes in the commands should not be needed. There is something wrong with the conda packages of torchvision. I'll regenerate them too.

[2019-10-14 04:19] #26302 closed

[2019-10-14 04:57] ljk53 commented on #27726
@gchanan to answer your question: we discussed with Edward last week - plan to still rely on master triage oncall to classify mobile issues with the "mobile" label. Mobile team oncall will monitor this label.

[2019-10-14 05:02] ljk53 commented on #27726
@RuABraun, looks like you plan to use libtorch c++ library directly - if so you probably should follow this CMake that @IvanKobzarev posted: https://github.com/pytorch/pytorch/blob/master/android/pytorch_android/CMakeLists.txt#L43-L63

Specifically you want to use "-Wl,--whole-archive" before linking "libtorch" as otherwise some operators won't be registered correctly and might cause missing op er

[2019-10-14 05:22] sachinruk commented on #7284
@aliutkus Not sure why I can't open an issue in that repo but yes, I get the following error when I do `python setup.py install`:
[code]

[2019-10-14 05:57] aliutkus commented on #7284
@sachinruk sorry I didnt activate issues, it's done now

[2019-10-14 06:00] Naresh1318 commented on #27078
Hey @yf225,

Thanks for assigning the issue!

I was trying to write the last test case as seen here https://github.com/pytorch/pytorch/blob/848d1ba13a3f77bb6f14656f2d84e2228e37a8ef/test/test_nn.py#L8913 But, I wasn't able to find a function call having a parameter similar to `delta` in c++.

[2019-10-14 06:38] svenkreiss opened #27830 "a rename_file optional argument for torch.hub.load_state_dict_from_url"
## 🚀 Feature
Add an optional keyword argument `rename_file=None` to specify the downloaded file's name.

## Motivation

My university's file hosting provider switch.ch allows for public download urls, but their path always ends with `.../download` making the name of all my model files just `download` which is a conflict.

## Pitch

Avoid file name clashes for model downloads.

## Alternatives

* G

[2019-10-14 06:53] EikanWang commented on #23509
Intel are trying to enable some BF16 OPs for CPU and found an issue here - _vec256_ does not support accumulate type for “+”, “-, “*”, “/”.

The framework uses _vec256_ to vectorize some OPs. But _vec256_ does not support accumuate type. Take _sum_ of _vec256_ and BF16 as an example.
- The accumulate type of BF16 is FP32
- The  function prototype of _sum_ of _vec256_ is `template <class T> Vec256<

[2019-10-14 07:03] ryul99 opened #27833 "Install from source on Centos7 doesn't work"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. `conda install numpy ninja pyyaml mkl mkl-include setuptools cmake cffi typing` and `conda install -c pytorch magma-cuda`
1. `export CMAKE_PREFIX_PATH=${CONDA_PREFIX:-"$(dirname $(which conda))/../"}`
1. `python setup.py install`

Error message
[code]

## Expected behavior
Being Installed

## Environment
[code]
## Additional context

[2019-10-14 07:12] Godricly commented on #25856
Can I close this now?

[2019-10-14 07:13] Godricly commented on #25682
Is there any update for this one?

[2019-10-14 07:47] ferriswym opened #27834 "linker error in building a minimal C++ application"
I follow the tutorials [loading a torchscript model in C++](https://pytorch.org/tutorials/advanced/cpp_export.html). When building a minimal c++ application, I got the following error:

[code]

I'm using:
[code]

cc @suo

[2019-10-14 07:48] bhuvanakundumani commented on #27780
I am interested in working on this

[2019-10-14 07:48] #27729 closed

[2019-10-14 07:51] zhouyuangan commented on #14270
@Sierkinhane @IcewineChen Have you solved?

[2019-10-14 08:12] FDInSky opened #27835 "Why Caffe2 run ops implemented using numpy so fast?"
As we know, Detectron have some ops implemented using numpy. And it have a good speed performance, how it run in framework?

[2019-10-14 08:15] soumith commented on #27830
I remember @ailzhang added Google Drive support (but it looks reverted) at some point, and that's achievable.

[2019-10-14 08:20] soumith commented on #27835
please ask on Detectron repo

[2019-10-14 08:20] #27835 closed

[2019-10-14 08:20] soumith commented on #27827
please use https://discuss.pytorch.org for questions

[2019-10-14 08:20] #27827 closed

[2019-10-14 08:31] soumith commented on #27526
please post the details we asked for and reopen issue

[2019-10-14 08:31] #27526 closed

[2019-10-14 08:38] soumith commented on #4126
@nian-liu we will always keep https://github.com/pytorch/pytorch/blob/master/CITATION up to date.  You can use it for now. When the papers we wrap up come up on Arxiv, we will put them in the CITATION file

[2019-10-14 08:39] gtamba commented on #27834
could you also paste the output of cmake here?

[2019-10-14 08:51] ferriswym commented on #27834
the output of cmake:
[code]

[2019-10-14 09:04] rovesoul commented on #14343
i have the same question.
"at ../torch/lib/libshm/core.cpp:99"
python3.6.5
have no CUDA
PyTorch 1.3.0

[2019-10-14 09:07] Rishav1 commented on #22069
Facing the same issue. Here is a minimalistic code to reproduce the issue.

[code]

[2019-10-14 09:23] zakizhou commented on #23475
Is there a timeline for this feature? It's great to have explicit hessian and jacobian in pytorch like jax.

[2019-10-14 09:40] alexeygolyshev opened #27837 "PyTorch 1.3: random "RuntimeError: CUDA error: unspecified launch failure""
## 🐛 Bug

No problem in PyTorch 1.2. Archive with code and data: https://github.com/pytorch/pytorch/files/3723821/PyTorch.zip

Windows 10 (1903), Python 3.7.4, RTX 2060 (driver version 436.48)

[code]

cc @ezyang @gchanan @zou3519 @SsnL @albanD @gqchen @ngimel @peterjc123

[2019-10-14 09:45] hyc-xyz commented on #20356
+1, any update?

[2019-10-14 09:48] Inam538 commented on #1204
I also have the same problem. If I minimize the size of dataset then it runs, but with large dataset it does not working
plz how to resolve it?

[2019-10-14 09:55] nerdinand commented on #1204
In my case, it turned out to be a super stupid error: I had the last layer of my network set to output 3 classes, but tried to train it on 4... 🤦‍♂

[2019-10-14 10:16] oliver-batchelor opened #27838 "ONNX: exporting model which uses tensor sizes to compute padding"
## 🐛 Bug

My model (for object detection) uses a function which computes padding to trim excess tensor size after pooling with ceil_mode then upsampling gives a size which is off by 1. However pytorch onnx exporter complains that this is a dynamic operation and can't export the model.

## To Reproduce

Steps to reproduce the behavior:

[code]

[code]

## Expected behavior

Since sizes are constant

[2019-10-14 10:21] Fariha1123 opened #27839 "RuntimeError: invalid argument 0: Sizes of tensors must match except in dimension 1. Got 24 and 195 in dimension 0 at /opt/conda/conda-bld/pytorch_1565272271120/work/aten/src/TH/generic/THTensor.cpp:689"
I am trying to use Tracing mechanism to trace my python model. Below is my nn.Module:

[code]

When I execute the file, it does print the last two lines as shown below:

**result…
torch.Size([24, 4])**

Here is my starting code snippet from trace.py file:

**`traced_script_module = torch.jit.trace(torch_model, y)`**

Following is the error that I receive when I execute the trace.py. **Please be no

[2019-10-14 10:24] saulzar commented on #27838
Using this code instead of match_size_2d seems to work in the toy example.

[code]

[2019-10-14 10:33] saulzar commented on #27838
[code]

  File "```
/home/oliver/miniconda3/lib/python3.7/site-packages/torch/onnx/__init__.py", line 143, in export
    strip_doc_string, dynamic_axes, keep_initializers_as_inputs)
  File "/home/oliver/miniconda3/lib/python3.7/site-packages/torch/onnx/utils.py", line 66, in export
    dynamic_axes=dynamic_axes, keep_initializers_as_inputs=keep_initializers_as_inputs)
  File "/home/oliver/minicond

[2019-10-14 10:55] elnazsn1988 opened #27840 "caffe2 install VS2019 CUDA 10.1 lib\torch.lib : fatal error LNK1248: image size (10028FA9F) exceeds maximum allowable size (FFFFFFFF)"
## 🐛 Bug

Hi all I'm trying to build Caffe2 on Pytorch from Binaries, have used Python 2.7 with VS 2019 and CUDA 10.1. Cmake donwloaded manually and also updated via Conda as read from other users posting my issue. BUILD_SHARED_LIB=OFF per instructions in build_windows.bat, get error :
[code]
## To Reproduce

Steps to reproduce the behavior:

Warning Generated:
[code]
[code]
CMake Warning:
  Manua

[2019-10-14 11:21] caifazhou commented on #17203
conda upgrade the python from 3.6 to 3.6.8 works for me.
It seems that a new version of VC package is installed. This might be the relevant point.

[2019-10-14 11:24] oliver-batchelor opened #27841 "Model with interpolate or pixel_shuffle produces invalid ONNX output"
## 🐛 Bug

The model below when exported by pytorch doesn't pass the onnx validation. Replacing interpolate with pixel shuffle also causes the same issue. Pytorch 1.3, onnx 1.6

[code]

## To Reproduce
[code]

## Environment
PyTorch version: 1.3.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 18.04.3 LTS
GCC version: (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0
CMake version: version

[2019-10-14 11:27] peterjc123 commented on #27840
Related issue: https://github.com/pytorch/pytorch/issues/27215. Actually, the static build is harder to fix because splitting things out won't work.

[2019-10-14 11:27] gtamba commented on #27834
One of the errors seems to have something to do with GCC [versions](https://stackoverflow.com/questions/12286460/undefined-reference-to-mempcyglibc-2-14-when-compiling-on-linux) , can you try using a different compiler (like the system GCC) instead of the miniconda one that it defaults to?

[2019-10-14 11:33] peterjc123 commented on #27840
One thing you could try first is to set `MSVC_Z7_OVERRIDE` to `OFF` in the cmake command line.

[2019-10-14 11:36] phongnhhn92 commented on #27738
I have tried to create a new Conda environment and I can still see the mismatch between the cudatoolkit version (10.1.168) and the built Pytorch cuda (10.1.243).
![Screenshot_20191014_142719](https://user-images.githubusercontent.com/11288381/66748408-c8e9a480-ee8f-11e9-8220-55dfacbf3992.png)
When I try to check the cuda with the installed pytorch, this is the result:
![Screenshot_20191014_143608]

[2019-10-14 11:39] gtamba commented on #27839
Since your forward pass has control flow that depends on the type of the input, using trace won't be able to capture the full computation graph, so I suspect this is causing an input mismatch somewhere in your trace.py script where you use the optional arguments of your forward method.

The site [tutorial](https://pytorch.org/tutorials/advanced/cpp_export.html
) mentions this and also a using anno

[2019-10-14 11:49] mailcorahul commented on #25883
hi @yf225. I would like to work on any of the Normalization or Vision layers. Kindly suggest me one!

[2019-10-14 11:57] elnazsn1988 commented on #27215
I am facing the same issue https://github.com/pytorch/pytorch/issues/27840 , am I correct in understanding from above that this is a memory limit issue and not regarding configurations?

[2019-10-14 11:59] elnazsn1988 commented on #27840
@peterjc123 Im trying that now, will update on progress. Is there any simpler way to get caffe2 up and running?

[2019-10-14 12:10] peterjc123 commented on #27840
@elnazsn1988 Another thing you could try is to use an earlier version of VS 2017, because STL may be simpler and smaller. BTW, could you please sort all the object files, and post the list here? It helps us to reduce the size or find the root cause.

[2019-10-14 12:42] RuABraun commented on #27726
So I modified my CMakeLists like you suggested to use `--whole-archive`:
[code]
And I'm getting a different error now, but it's a very similar one:
[code]

[2019-10-14 12:42] elnazsn1988 commented on #27840
@peterjc123 sure, apologies for the elemntary question but could you ellaborate on which files the object files refer to specifically?

[2019-10-14 12:44] peterjc123 commented on #27840
All the object files (with the extension `.obj`) in the build directory.

[2019-10-14 13:27] yuribd commented on #24018
Thanks!

[2019-10-14 13:43] rgommers commented on #22402
True to some extent. That adding in methods isn't too scalable though, eventually it will give problems when multiple libraries and end user code all does that (there will be clashes).

If with "specialized function type dispatch systems" you mean `__torch_function__`, I think the use case is a little orthogonal to the subclassing capabilities you need. It's relevant if you want a full "tensor duc

[2019-10-14 13:47] jph00 commented on #22402
Very exciting! Let me know if/when you'd like me to look at anything.

[2019-10-14 13:54] jj0mst commented on #24081
I encountered this issue too when I use DataParallel for 2 Tesla V100.

Strange thing:
-on a machine with SXM2, Intel CPU and V100 GPUs (16GB version) my training runs smoothly
-on another machine with PCIE, AMD CPU and V100 GPUs (32GB version) the training hangs

I just found that on 10/03 NV released these new drivers [https://docs.nvidia.com/datacenter/tesla/tesla-release-notes-418-8701/index.h

[2019-10-14 13:56] zou3519 commented on #27769
Fixed by https://github.com/pytorch/pytorch/pull/27782

[2019-10-14 13:56] #27769 closed

[2019-10-14 13:57] #27737 closed

[2019-10-14 13:58] jpellman commented on #24081
I've received no updates from Nvidia

[2019-10-14 14:00] zou3519 commented on #27706
This was an incorrect diagnosis so I'm opening a new issue with a better one.

[2019-10-14 14:00] #27706 closed

[2019-10-14 14:03] yyb1995 opened #27842 "torch.nn.transformer.py missing .pyi.in file."
## 🚀 Feature
`transformer.py` in [https://github.com/pytorch/pytorch/tree/master/torch/nn/modules](https://github.com/pytorch/pytorch/tree/master/torch/nn/modules) lacks `transformer.pyi.in` file, resulting in no code hints in PyCharm. I have no idea how to generate such one.

## Motivation

## Pitch

Add the missing `transformer.pyi.in` file.

## Alternatives

## Additional context

cc @ezyang

[2019-10-14 14:04] zou3519 opened #27843 "Be able to build torch.distributed documentation easier"
## 📚Motivation

It is pretty hard to build pytorch documentation for releases right now. To make the releases easier, it would be great if we could build the documentation easier and on the platforms that devs use the most (linux and mac os). One of the trickier things to build is the torch.distributed documentation.

# Analysis

On Mac, distributed doesn't get built by default. I am not sure how

[2019-10-14 14:17] daniel-j-h opened #27844 "torch.hub does not handle tags and branches with path separator (e.g. "/") in them"
## 🐛 Bug

`torch.hub` treats tag or branch names as file paths; if the tag or branch has a path separator (e.g. "/" on Linux) in it e.g. branch `ìssues/4` as in

    torch.hub.list("moabitcoin/ig65m-pytorch:issues/4")

then torch hub integration fails e.g. see

[code]

## To Reproduce

Steps to reproduce the behavior:

1. add a simple hubconf.py to your repository
1. create a tag or branch with a

[2019-10-14 14:18] manikanthr5 opened #27845 "Location of _VF.gru implementation."
## _VF.gru implementation Location

I am currently working on a project which needs me to model GRU Cell hidden cell state after every time step to include someway to include the time difference between the input sequences. I went through the code and found [_VF.gru](https://github.com/pytorch/pytorch/blob/19df7e7e84c1328a0661c267835e1c922a6d90f7/torch/nn/modules/rnn.py#L690) call very confusing.

[2019-10-14 14:19] zou3519 opened #27846 "Fix type hints for named tensor"
## 🐛 Bug

Named tensors are currently excluded from the type hints test: https://github.com/pytorch/pytorch/blob/73521a03168e7ab792d76266d980b060cb60c69f/test/test_type_hints.py#L66-L71. At a high level, the type hints test (1) pulls all named tensor documentation examples and (2) runs mypy on them. Those currently fail for me locally.

## To Reproduce

Delete the named tensor APIs from the blackl

[2019-10-14 14:21] bhuvanakundumani commented on #27780
I am working on this. will send a PR soon

[2019-10-14 14:26] mrshenli commented on #27843
On MacOS, it requires conda install `libuv` and `pkg-config` to build.

[2019-10-14 14:27] elnazsn1988 commented on #27840
@peterjc123 Hi - so now after using set MSVC_Z7_OVERRIDE=OFF , it builds succesfully, then when running test : python -c "from caffe2.python import workspace; print(workspace.NumCudaDevices())" it returns :
[code]

[2019-10-14 14:28] zou3519 commented on #27785
I think the first action item is to figure out if `torch.cuda.reset_max_memory_reserved` exists or is supposed to exist.

[2019-10-14 14:29] elnazsn1988 commented on #15156
I realise this has been closed but I am still getting the same error with Python 2.7 and windows 10, is there a way to fix it?

[2019-10-14 14:38] zou3519 opened #27848 "Incorrect named tensor example"
https://pytorch.org/docs/stable/named_tensor.html#explicit-alignment-by-names

[code]
should be `scale = torch.randn(num_channels, names=['C'])`

cc @zou3519

[2019-10-14 14:40] bhuvanakundumani commented on #27785
I checked the source code (https://github.com/pytorch/pytorch/blob/master/torch/cuda/memory.py) and i could not find reset_max_memory_reserved function.

[2019-10-14 14:46] zou3519 commented on #27785
Right, so the question is, is it supposed to exist?

[2019-10-14 14:56] peterjc123 commented on #27840
These files may be generated in source, you may need to copy them manually.

I don't need files, just file names. You could just post to Github Gist and post the link here.

[2019-10-14 15:00] peterjc123 commented on #27840
@elnazsn1988 Update: You will need to `set BUILD_PYTHON=ON` to get them.

[2019-10-14 15:06] elnazsn1988 commented on #27840
@peterjc123 so I should set set BUILD_PYTHON=ON in the build_windows.bat file and rerun?

[2019-10-14 15:15] albanD commented on #27736
Closing given @jameslahm  answer.

[2019-10-14 15:15] #27736 closed

[2019-10-14 15:20] bhuvanakundumani commented on #27785
no, it shouldn't .

[2019-10-14 15:26] ezyang commented on #21987
I think that's similar enough to this issue that it's fine here. I updated the issue description.

[2019-10-14 15:30] yf225 commented on #27078
@Naresh1318 I think `torch::allclose(logits_soft.grad, logits_hard.grad, tol)` should work awesome for this use case. Thanks a lot for your help!

[2019-10-14 15:34] ezyang commented on #27215
Yes I think so

[2019-10-14 15:35] albanD commented on #27542
The `sorted` keyword ensure that they are sorted.
Is the request here to have an option to get a stable sort for the keys?

[2019-10-14 15:37] zou3519 opened #27849 "torch.quantization.MovingAverageObserver linked to in docs but doesn't exist"
## 📚 Documentation

![image](https://user-images.githubusercontent.com/5652049/66764026-fece5f00-ee76-11e9-93f7-5d2c5ebd7cdb.png)

cc @jerryzh168 @jianyuh @dzhulgakov

[2019-10-14 15:39] ezyang commented on #22402
CC @dreiss, who recently asked about this internally ;)

[2019-10-14 15:43] yf225 commented on #25883
@mailcorahul Thanks a lot for your interest! I think `GroupNorm` would be a great one to start with. Please let me know if you would like to work on it :D

[2019-10-14 15:47] #27783 closed

[2019-10-14 15:51] jph00 commented on #22402
FYI for those that, like me, weren't previously aware of the totally amazing `NestedTensor`, details are here:
#25032

[2019-10-14 15:52] zafartahirov commented on #27849
On it...

[2019-10-14 16:05] mailcorahul commented on #25883
Sure @yf225 , I can work on GroupNorm!

[2019-10-14 16:07] yf225 commented on #25883
@mailcorahul Thanks a lot! I just mentioned your name next to it :D

[2019-10-14 16:12] stefanopiovesan opened #27851 "PyTorch. DispatchStub: missing CUDA kernel operator ()"
## 🐛 Bug

I have this assert using libtorch-win-shared-with-deps-debug-latest.zip loading a saved model:

    cuda_dispatch_ptr INTERNAL ASSERT FAILED at
    C:\w\1\s\windows\pytorch\aten\src\ATen/native/DispatchStub.h:74, please report a bug to
    PyTorch. DispatchStub: missing CUDA kernel (operator () at
    C:\w\1\s\windows\pytorch\aten\src\ATen/native/DispatchStub.h:74)
    (no backtrace avai

[2019-10-14 16:16] zou3519 opened #27852 "kl_div loss doc reference link goes nowhere"
## 📚 Documentation

https://pytorch.org/docs/master/nn.functional.html#torch.nn.functional.kl_div

![image](https://user-images.githubusercontent.com/5652049/66766584-6804a100-ee7c-11e9-9c32-fb9dd7cde5b8.png)

[2019-10-14 16:17] gchanan commented on #27754
I think this is because a `np.float64` is an instance of `PyFloat` so it enters that codepath (and thus you get the default dtype behavior).

Honestly any choice here seems non-obvious:
- "I asked for float64 but you gave me float32!" (if we use default dytpe)
- "If I pass a float64, I get a float64, but if I take the python value (which is exactly equivalent) I get a float32!" (if we don't use de

[2019-10-14 16:21] albanD commented on #27754
But why is `PyFloat` converting to `float32`? Python floats are double precision no?

[2019-10-14 16:22] peterjc123 commented on #27851
Duplicate of https://github.com/pytorch/pytorch/issues/22681.

[2019-10-14 16:22] #27851 closed

[2019-10-14 16:23] elnazsn1988 commented on #27840
@peterjc123 @ezyang I came across this post : https://github.com/pytorch/pytorch/issues/6259 , should I delete all caffe2 and try with Anaconda? there seems to be a mismatch between files in Build and in Caffe2 itself, two proto files exist with one having cafe2_pb2 and the other not having it. When copying all and pasting to both folders, errors are removed. Am now stuck at No module named caffe2