[2019-09-16 23:04] #26274 closed

[2019-09-16 23:05] #26245 closed

[2019-09-16 23:14] #19129 closed

[2019-09-16 23:43] eellison commented on #26036
Running into this too..

[2019-09-17 00:31] BowenBao opened #26328 "[ONNX] Regression in nightly exporting aten::addmm"
## 🐛 Bug

This issue starts to occur in recent versions of PyTorch nightly.

## To Reproduce

Steps to reproduce the behavior:

[code]

[2019-09-17 00:57] charlesrwest commented on #26086
If I may ask, is there any way to expedite the creation of support for this feature (script export from C++ frontend)?  I'm not familiar enough with the codebase to do this in an at all reasonable amount of time, but I would happily through $50 in the pot if it would expedite things (grad student, otherwise would offer more).

I would really rather not have to have two separate pipelines for doing

[2019-09-17 01:00] XiaobingSuper commented on #25242
@branfosj, #25757 has been merged,  you can try it. Thanks!

[2019-09-17 01:04] XiaobingSuper commented on #23825
@jamesr66a,  #25757 has been merged, can you close this issue if this problem is solved? Thanks!

[2019-09-17 02:06] yaroslavvb opened #26333 "torch.Tensor reverse operators (__rmul__) should return NotImplemented for unsupported types"
Currently if the the argument of `__rmatmul__` is not a Tensor, PyTorch throws `*** TypeError: matmul(): argument 'other' (position 1) must be Tensor, not Vec`

Python data model asks that it return `NotImplemented` in such case. This allows interpreter to dispatch op to the proper implementation.
(ie see https://docs.python.org/3/library/numbers.html#implementing-the-arithmetic-operations)

Curre

[2019-09-17 02:16] XiaobingSuper commented on #25101
@ailzhang , we have upgraded MKLDNN to v0.20.5 in https://github.com/pytorch/pytorch/pull/25757, which can solve those reported bugs in this issue. I tested this patch and can passed all the cases. Thanks!

[2019-09-17 02:28] ailzhang commented on #25101
@XiaobingSuper Thank you so much for fixing it! We can close this issue via the upgrade.

[2019-09-17 02:28] #25101 closed

[2019-09-17 04:09] phizaz opened #26334 "Supporting "cdf" for Student-T distribution"
## 🚀 Feature
Adding support to `cdf` for `StudentT` distribution.

## Motivation

I need to calculate the (kind of) confidence intervals of a large vector (say, weight vector). This could be slow on CPU (not including the overhead of transferring).

## Alternatives

I could convert a tensor into a numpy array, and perform the operation with scipy library, then convert it back.

[2019-09-17 04:12] dollysapra commented on #26310
In caffe2/sgd/learning_rate_op.h
T decay =
          this->template GetSingleArgument**<int>**(arg_prefix + "decay", 1.0);

<int> shd be <float> i believe. I changed it on my machine but still getting nan learning rate..

[2019-09-17 04:52] rohan-varma commented on #24247
@mrshenli Would this just involve splitting the `rpc` function in `rpc.py` to 2 functions such as `rpc_sync` and `rpc_async`?

[2019-09-17 06:31] boegel commented on #26287
I'm seeing the same problem on our Intel Sany Bridge systems, but not on Intel Broadwell, Intel Haswell or Intel Skylake.

[2019-09-17 06:37] XiaobingSuper commented on #26287
@vpirogov

[2019-09-17 06:41] XiaobingSuper commented on #26287
@boegel, @branfosj , please wait, I am now to find a Sany Bridge processor to reproduce it. Can you first open MKLDNN verbose by `export MKLDNN_VERBOSE=1` and post the output log for us?

[2019-09-17 06:57] sidml opened #26338 "Behavior of F.dropout in eval mode"
## 📚 Documentation
The documentation for F.dropout should probably mention that putting the model in eval mode doesn't disable dropout.

A small example
[code]

If the model is set in eval mode, the dropout layer is not disabled.
is_training should take care of this.. But it may be better if this behavior is explicitly mentioned in the docs.

[2019-09-17 07:21] pietern commented on #20380
@Ownmarc Do you compile PyTorch from source on Windows? If so, I could guide you through some of the steps to do this, but do realize it likely won't be a walk in the park.

[2019-09-17 07:29] boegel commented on #26287
@XiaobingSuper That produces a little bit more info, but not a whole lot... Does this help?

[code]

[2019-09-17 07:42] aqrliu commented on #22197
hello! do you solved this problem? I have the similar problem with you , libtorch conflict with log4cxx when I build this poroject.
if add torch like this
target_link_libraries(main ${TORCH_LIBRARIES} log4cxx)
link will failed.there will many indefined reference about log4cxx;
if remove torch
build and link will successfull.

If you know why ,let me know ,please!

[2019-09-17 08:01] mylofty commented on #25646
hi, everybody, I use valgrind to check the memory leak, I find the leak of memory caused by mkldnn, I complied the libtorch using mkldnn. so when I complie a library without mkldnn, this problem solved ! so, who can tell me why, and give me a solution

[2019-09-17 08:10] severinsimmler opened #26340 "CPU version of PyTorch on PyPI"
## 🚀 Feature
Publish the CPU version of PyTorch on PyPI to make it installable in a convenient way.

## Motivation
Using PyTorch in production does not require necessarily the (~700 MB big) GPU version, but installing the much smaller CPU version as suggested on the webstie:
[code]
makes it hard to use tools like [Poetry](https://poetry.eustace.io/), which do not work with `pip` itself and therefo

[2019-09-17 08:22] ayaabdelsalam91 opened #26341 "Input-cell-attention for LSTM"
## 🚀 Feature
Input-cell-attention for LSTM

## Motivation
Recent efforts to improve the interpretability of deep neural networks use saliency to characterize the importance of input features in predictions made by models. However, RNN saliency vanishes over time, biasing detection of salient features only to later time steps and are, therefore, incapable of reliably detecting important features at

[2019-09-17 08:30] qiuxiaqing commented on #12983
hei, did you solve the problem? i got the same problem as you

[2019-09-17 08:33] #22197 closed

[2019-09-17 08:34] tanguycdls commented on #25469
Hi, I'm still interested by this issue. What would be the best solution to fix it at least temporarly ?
- When Sparse multlipication are implemented on ONNX we could convert the embedding bag to a sparse multiplication (TF does it for their equivalent to EmbeddingBag) ? https://github.com/onnx/onnx/pull/2019
  - How could we overide the way Torch is converting EmbeddingBag ?
- I also opened the is

[2019-09-17 08:50] XiaobingSuper commented on #26287
@boegel, thanks!

[2019-09-17 09:13] ninkin commented on #24899
I've got same problem while running converted onnx model on GPU

Error from operator:
input: "34" input: "53" output: "54" name: "" type: "Sub" device_option { device_type: 1 device_id: 0 }frame #0: c10::ThrowEnforceNotMet(char const*, int, char const*, std::string const&, void const*) + 0x5b

I converted above onnx model to caffe2 model using convert-onnx-to-caffe2 but still got same problem. It

[2019-09-17 09:28] Mrpatekful opened #26342 "LayerNorm instance as parameter to TransformerEncoderLayer and TransformerDecoderLayer"
## 🚀 Feature

My request is regarding the new nn.Transformer modules, more precisely the [TransformerEncoderLayer](https://github.com/pytorch/pytorch/blob/2dac67386128b4023f25dad6a8456aaf3029b7a8/torch/nn/modules/transformer.py#L235) and `TransformerEncoderLayer`. My problem is that the layer normalization is not customizeable in these modules, contrary to `TransformerEncoder` and `TransformerDeco

[2019-09-17 09:57] dollysapra commented on #26310
Maybe this is my local compiler issue -
abs(base_lr_) is always returning 0.00, I changed it to fabs(base_lr_) and learning rate is not a nan anymore.

Lines 271-273 in caffe2/sgd/learning_rate_functors.h are now -

[code]

Not an elegant solution - it should check for T type and then use appropriate function - or maybe there is an overloaded function available somewhere --  but it works for me no

[2019-09-17 09:57] #26310 closed

[2019-09-17 10:28] mantues commented on #26276
@JamesTrick
Thank you for your help.
I tried  `pip install --upgrade setuptool`, but it didn't work.
The error message below occurs

Collecting setuptool
Exception:
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/pip/basecommand.py", line 215, in main
    status = self.run(options, args)
  File "/usr/lib/python2.7/dist-packages/pip/commands/install.py", line 353, in run

[2019-09-17 10:50] 1994Kyle commented on #4418
I can not find the num_worker······

[2019-09-17 11:09] #26276 closed

[2019-09-17 11:23] chenzhekl commented on #25979
@fmassa Thank you for your reply! Yes, I can confirm the problem with the following snippet

[code]

which prints

[code]

With `std::clog << net`, the output is correct.

[code]

[2019-09-17 11:23] ganeshmanikanta commented on #25234
https://download.pytorch.org/whl/cu90/torch_stable.html
this link still shows empty guy.please help me to get a pytorch and dependent ones on ubuntu 16.04, cuda 9.0, nvidia 390.

Thank you

[2019-09-17 11:34] zhjw0927 opened #26343 "libtorch cmake lib"
# I want to generate a static library file that calls libtorch， but report errors:
“torch/script.h”: No such file or dire
# My CMakeLists.txt is:
cmake_minimum_required(VERSION 3.12 FATAL_ERROR)
project(detector )
set( CMAKE_CXX_FLAGS "-std=c++11" )
find_package(Torch REQUIRED)
include_directories( ${Torch_INCLUDE_DIRS} )
include_directories(D:\\libtorch\\include\\torch)
message(STATUS "Pytorch st

[2019-09-17 11:47] zhjw0927 commented on #26343
Generating a static library file that calls opencv, cmake can find where is OpenCV_INCLUDE_DIRS.
So, can generating *.lib, why can't find location of Torch_INCLUDE_DIRS？
I'm confused...

[2019-09-17 11:55] DonkeyShot21 opened #26344 "How to get rid of zombie processes using torch.multiprocessing.Pool?"
I am using torch.multiprocessing.Pool to speed up my NN in inference, like this:

    import torch.multiprocessing as mp
    mp = torch.multiprocessing.get_context('forkserver')

    def parallel_predict(predict_func, sequences, args):
        predicted_cluster_ids = []
        pool = mp.Pool(args.num_workers, maxtasksperchild=1)
        out = pool.imap(
            func=functools.partial(predict_

[2019-09-17 12:20] mijosch commented on #25232
some news here?

[2019-09-17 12:24] linssswww opened #26345 "The performance of multiplication of two matrices is different between window and linux"
## 🐛 Bug

The performance of multiplication of two matrices is different between window and linux, when the matrices shape is small (1000, 4),  I run the code in window is more slower x3 than linux, and when I change the matrices to large shape(100000, 4),I run the code in window is the same as in linux.

when I run resnet50 in torchvision using a small shape input and large shape input, I can get

[2019-09-17 13:01] fmassa commented on #24817
This has been fixed in https://github.com/pytorch/vision/pull/1267, https://github.com/pytorch/vision/pull/1320 and https://github.com/pytorch/vision/pull/1314.

[2019-09-17 13:01] #24817 closed

[2019-09-17 13:01] soumith commented on #26338
it makes sense to mention it for the functional version, yes. `nn.Dropout` module will disable it.

[2019-09-17 13:31] SsnL commented on #26338
`F.dropout` is functional. It is actually expected that you need to manually specify the arg `training=...` to turn it on/off.

[2019-09-17 13:54] xjcl commented on #16654
I got the issue to disappear by removing a `torch.multiprocessing.Lock` I used from my code and relying on a less elegant solution. I still don't know how it occurred or why the Lock should have anything to do with it. The Lock shouldn't have anything to do with the nn.Module behavior, plus the Lock was in possession all 3 iterations yet the first 2 went fine and it only interacted(?) with `loss.b

[2019-09-17 14:06] ezyang commented on #21743
A few notes:

1. Raise from is Python 3 only, and we're going to keep supporting Python 2 up until its EOL. We have a portable version in `torch/_six.py`.
2. You should raise from the original UnicodeError; that would satisfy your question about the position of character as this information would be retained
3. I don't think the error message written here conveys the most important points to the u

[2019-09-17 14:08] ezyang commented on #21745
Maybe we can just `del state['__doc__']` here; this code might be why we are pickling docs in the first place.

[2019-09-17 14:39] yf225 commented on #25979
@chenzhekl I think you can also use `net->pretty_print_recursive(std::clog, "")` to do recursive printing, which is defined in https://github.com/pytorch/pytorch/blob/2ce8c83f677fbd144c45d0b500a62c392b01c8fe/torch/csrc/api/include/torch/nn/module.h#L539-L542

[2019-09-17 14:40] #16559 closed

[2019-09-17 14:55] chenzhekl commented on #25979
@yf225 It seems `pretty_print_recursive` is defined to be not virtual and thus missing in places like `Sequential` and user-defined `Module`s, which makes it less useful. The behavior of `Module::operator<<` is enough for most users, I guess. If it's desired for `Module::pretty_print` to just prints out the name of current `Module`. Probably fixing the doc is enough?

[2019-09-17 15:29] albanD commented on #14614
Closing as there is no activity. Feel free to re-open if you have more problems.

[2019-09-17 15:29] #14614 closed

[2019-09-17 15:31] albanD commented on #6530
The build system has largely changed since then. Please re-open if this still happens with the current version.

[2019-09-17 15:31] #6530 closed

[2019-09-17 15:56] yf225 commented on #25979
I think `Module::pretty_print` should print the content of the module recursively (i.e. the same behavior as `Module::operator<<`), and this is something we should fix.

[2019-09-17 16:51] nmilosev commented on #21745
My thoughts exactly, however we have some issues with that also:

1. Some modules e.g. [linear quantized](https://github.com/pytorch/pytorch/blob/master/torch/nn/quantized/modules/linear.py#L147) have their `__getstate__` implemented
2. if we do `del state['__doc__']` we are modifying the state of the object which shouldn't be happening with `save`, and if we copy the state beforehand we are essen

[2019-09-17 17:03] fmassa commented on #327
Here is what I propose that we do for now.

We only handle the division case explicitly for now.

Other operators which might internally have a division by zero (like `log(0)`) can be handled later. As an example, `log(0)` does not segfault currently because `log` is not implemented for integer types in PyTorch for now.

Instead of following an approach similar to `numpy`, [where the integer and f

[2019-09-17 17:07] eellison commented on #26036
This is just not binded in `pybind_utils`

[2019-09-17 17:08] nmilosev commented on #21743
First of all thank you for your help, I realize this is a minor issue but it's really nice of you to point me in the correct direction. :)

Here is the new trace:

[code]

Thanks for the pointer about `_six`.

If this is OK, I am ready to prepare the PR. Another question I have, should I add a test that tests this functionality or modify the mentioned test?

[2019-09-17 17:24] gchanan commented on #327
@fmassa: this seems reasonable, although it may make sense to wait for #16960 first -- are device side asserts any nicer than what we are doing now?

[2019-09-17 17:30] suo commented on #26086
Thanks for the feedback! Let me share our thinking around this area.

We have no current plans to support script export from the C++ frontend. Doing so is a very high-complexity project (multiple full time engineers working on it basically indefinitely), and we don't think it's worth it due to the number of alternatives available. cc @yf225 who is the maintainer for this area.

Here are some of th

[2019-09-17 18:03] gchanan commented on #26107
is this a result of the data_ptr issue?

[2019-09-17 18:13] SsnL opened #26354 "as_tensor not working with list of tensors"
## 🐛 Bug
[code]

[code]

[2019-09-17 18:27] creotiv commented on #24918
it would be good if it will show where this error happen

[2019-09-17 18:39] mruberry commented on #24851
XLA is now hooked into PyTorch's Python tests, closing this issue.

[2019-09-17 18:39] #24851 closed

[2019-09-17 18:49] ezyang commented on #25859
The PR that initially prompted this bug is #25319

[2019-09-17 18:54] zou3519 commented on #26107
Probably not. The data_ptr issue is that we are accessing `batch_sizes` with `data_ptr`. `batch_sizes` only gets used when the input is PackedSequence. In this example, we're not using PackedSequence.

[2019-09-17 18:54] pritamdamania87 opened #26359 "Add a non-blocking option for autograd engine execution for Distributed Autograd"
In distributed autograd we kick off the autograd execution on other nodes via RPC, as a result with the current autograd implementation this causes a single thread to block and wait for the autograd computation to finish on that node. We need to enhance the current autograd engine to support a non-blocking variant which calls a callback with success/error on completion.

cc @ezyang @gchanan @zou35

[2019-09-17 18:58] ailzhang commented on #26107
This is related to the issue, because in the example `b` should have been a CPU tensor.
We could close this issue as it's currently guarded by the device assert in python side now.  :D

[2019-09-17 18:59] cpuhrsch commented on #26354
I can reproduce it as well

[2019-09-17 19:00] xush6528 opened #26362 "RPC ThreadPool threads could be eaten up and cause deadlock on too many nested RPC calls."
## 🐛 Bug

In the RRef protocol RFC, #23110, there is an implicit requirement that the RPC component (Now checked-in as RPCAgent) needs to support nested RPC calls, meaning that a RPC call could initiate another RPC call before it returns.

As a result, in the work queue of the ThreadPool, a work in the front could depends on the work in the back.

@pietern suggested that

But the depth does not ma

[2019-09-17 19:01] zou3519 commented on #26107
Oh, sorry, I read the repro completely wrong, there is a PackedSequence and it's being created with a CUDA tensor. Thank you for fact checking me, @ailzhang! If we're confident that the above example doesn't segfault without PackedSequence, then we should close this.

[2019-09-17 19:09] cpuhrsch commented on #26344
This kind of signal handling is pretty involved. We deal with this within DataLoader, but I'm not sure whether we have a more generic abstraction that allows you to do this.

[2019-09-17 19:15] cpuhrsch commented on #26342
Hello @Mrpatekful, in general it is not easy to add a lot of flags or many options to something well-defined and orthogonal. We intend to keep the API surface small, so that we can make sure it is fast and correct.

The code you wrote up is using MultiheadAttention as a building block and uses the other pieces to build up the version of the TransformerEncoderLayer you desire. MultiheadAttention he

[2019-09-17 19:18] cpuhrsch commented on #26341
Aside from adding this feature for its benefits, are there other reasons you want to see it merged into core PyTorch (as opposed to living out of tree in a research repo)?

[2019-09-17 19:19] cpuhrsch commented on #26334
Given that your alternative solution sounds like it can resolve the need for this issue, are there other reasons you'd not want to use numpy for this? The conversion from torch.Tensor to numpy array is (effectively) 0-cost.

[2019-09-17 19:25] zou3519 commented on #26302
@azcohen14 that seems like a problem. I can reproduce your result on PyTorch 1.2. We will investigate this.

[2019-09-17 19:27] cpuhrsch commented on #26207
Aside from this, I don't think there are central docs next to native_functions.yaml or some other central piece related to adding operators to PyTorch (tutorial) that explains how the dispatch mechanism works.

[2019-09-17 19:28] cpuhrsch commented on #26291
Is there a big downside to passing in a list instead?

[2019-09-17 19:29] cpuhrsch commented on #26275
Could add a bit more detail to reproduce this issue?

[2019-09-17 19:36] #26107 closed

[2019-09-17 19:39] user147258 commented on #26291
I guess not. But since the constructor is calling `list` anyway, I think it should call it before the assertion.

[2019-09-17 19:55] Mrpatekful commented on #26342
The above code is copied from the original `TransformerEncoderLayer` with the extension of `layer_norm_builder_fn` parameter to the init function. `TransformerEncoder` supports this behavior by having a `norm` parameter for the `LayerNorm` instance. The reason I have proposed the lambda function solution contrary to simply using a simple `norm` parameter as in `TransformerEncoder` is that this mod

[2019-09-17 20:20] zhangguanheng66 commented on #26342
In this case, we prefer some custom `TransformerEncoderLayer` / `TransformerDecoderLayer` fed to `TransformerEncoder` / `TransformerDecoder`.

As @cpuhrsch mentioned, we hope to maintain the API simple and small.

[2019-09-17 21:10] #20500 closed

[2019-09-17 21:46] pritamdamania87 commented on #25953
Duplicate of #26119

[2019-09-17 21:46] #25953 closed

[2019-09-17 21:50] #26036 closed

[2019-09-17 23:04] xush6528 commented on #26362
@pietern @mrshenli @zhaojuanmao

[2019-09-17 23:14] mrshenli commented on #26362
@xush6528 I agree with you, and have just synced with @zhaojuanmao on this as well. We need a way to allow users to implement async UDFs, but I am not sure what would be the best API for that.

[2019-09-17 23:39] pritamdamania87 opened #26377 "Remove sync() and join() from RpcAgent interface."
sync() and join() interfaces in RpcAgent imply collective communication. Although, for torch.rpc() we would like this interface to only support point to point communication.

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera

[2019-09-18 00:04] pritamdamania87 opened #26379 "DistAutogradContext should be cleaned up in case of node failures."
In distributed autograd, there is a single node that initializes a new distributed autograd context and passes that over to other nodes as part of the backward pass. Each node creates an autograd context locally to store relevant information. Now, if the original node fails for some reason, the autograd context on the other nodes are not cleaned up. We should have a mechanism where we cleanup auto

[2019-09-18 01:32] YoungDav opened #26385 "DistributedDataParallel : GPU0 occupied much more memory"
setting follow https://github.com/pytorch/pytorch/blob/master/torch/distributed/launch.py
I find GPU0 has much process (Dataloader of all rank), so it is easy OOM.
![WXWorkCapture_15687700016916](https://user-images.githubusercontent.com/24801393/65096153-9070bb00-d9f6-11e9-9ed2-57f9b4b360c3.png)
![企业微信截图_20190918093121](https://user-images.githubusercontent.com/24801393/65096320-1d1b7900-d9f7-11e

[2019-09-18 01:53] JensenHJS opened #26386 "pytorch inference fp16"
The model is trained with fp32. I try to use .half() to change  layers and inputs to fp16. Actually，it indeed accelerate the inference. But its acceleration effect is far away from twice  of fp32. My platform is nvidia tx2. Its compute capability is 6.2. It supports fp16 very well. So what I want to ask is whether fp16 cannot be twice as fast as fp32 in pytorch. Looking for your reply.Thank you.

[2019-09-18 02:06] JensenHJS commented on #25294
FP32 training then model.half() -> fp16 inference
This method indeed accelerate inference but it is far away from twice of fp32. My platform is nvidia tx2 and pytorch. Its compute capability is 6.2. I wonder why not. Thank you for your reply

[2019-09-18 02:24] phizaz commented on #26334
@cpuhrsch calling `.cpu()` is not 0-cost by the way. I think it could be slow on large vectors i.e. weight vectors .

[2019-09-18 02:50] soumith commented on #26386
please use https://discuss.pytorch.org for questions

[2019-09-18 02:50] #26386 closed

[2019-09-18 02:51] soumith commented on #26385
please use https://discuss.pytorch.org for questions

Do not tag people

[2019-09-18 02:51] #26385 closed

[2019-09-18 03:07] xsacha opened #26391 "[libtorch] CPU Tensor operations suddenly freeze"
## 🐛 Bug

I have code that converts a tensor to floating point (from byte) and in the latest nightly on Linux, this code freezes and never returns.
Using the latest CPU build on Linux (cx11 ABI).
Also happens on 1.2.0 release.

PyTorch I compile myself doesn't exhibit this issue.

If I convert to float using OpenCV first, it gets stuck on the next operation instead, which is a torch.sub_.

I imagi

[2019-09-18 03:13] boyob opened #26392 "How to print out the name and value of parameters in module?"
torch::jit::script::Module module = torch::jit::load(model_path);
How to print out the name and value of parameters in module?

[2019-09-18 03:20] #26275 closed

[2019-09-18 04:11] iyah4888 commented on #5912
I'm using the version 1.2, but still suffer from this issue.
Separate runs of a Conv tower (literally series of convolution) and a RNN (GRU) takes near 0.1 sec and 0.2 sec per iteration, respectively.
But if I train jointly, it took 5 sec, which is 20 times slower.

I tried RNN flatten() as well as contiguous() for the input of the RNN part, but didn't help much (5sec => 4.8sec).

[2019-09-18 04:52] yxjiang commented on #25591
@driazati, #25502 is closed, does this mean ivalue serialization/deserialization are fully functional?

[2019-09-18 05:01] chenzhekl commented on #26010
@peterjc123 I will try it tonight and get back to you.

[2019-09-18 05:25] soumith commented on #18996
`delocate` is similar to `auditwheel repair`, and does what it is advertised to do.

Generally speaking, this is not good for:
1. binary sizes (we only need and use a very small portion of MKL)
2. side-effects from multiple versions of mkl loaded. System MKL dynamic libs installed and loaded via a different dependency and libtorch's own MKL libs installed and loaded in the same namespace

We can't

[2019-09-18 05:27] peterjc123 commented on #26343
The reason is that CMake is case-sensitive, so it should be `TORCH_INCLUDE_DIRS`, not `Torch_INCLUDE_DIRS`. Actually, you don't have to specify the include dirs manually, just take a look at the example [here](https://github.com/pytorch/examples/blob/master/cpp/mnist/CMakeLists.txt).

[2019-09-18 05:27] #26343 closed

[2019-09-18 05:29] peterjc123 commented on #26343
You said you need a static library, then you should build the static version of LibTorch on your own. The precompiled one is dynamic runtime (DLL).

[2019-09-18 05:37] peterjc123 commented on #26345
Are we using THNN for matrix multiplication? If yes, then vectorization may be a possible reason.

[2019-09-18 06:08] rgommers commented on #18996
The default for NumPy and SciPy is likely to remain shipping with OpenBLAS (bundled in via `delocate`). We've discussed in the past shipping wheels with MKL, but that had license issues with redistribution that Intel was unable to solve. We could indeed rely on the MKL wheels now, which solves the licensing issue. There's still two issues though: (1) `pip install numpy[mkl]` doesn't quite have the

[2019-09-18 07:04] pietern commented on #26377
Even for point to point, it can be used to drain pending calls.

[2019-09-18 07:05] pietern commented on #26385
@soumith FWIW it's the bot that tagged everyone, because the other bot tagged it as `distributed`.

[2019-09-18 07:15] huseyingurbuz commented on #4518
I had the same error, i simply changed the environment in Anaconda from base to myenv that i had compatiple pytorch there. I assume one should install the right version of Pytorch

[2019-09-18 07:51] snippler opened #26396 "NNPACK condition should be changed (ARM processors)"
## 🚀 Feature
Remove the condition for usage of NNPACK for conv2d which requires the batchsize >= 16. Otherwise THNN is used on ARM processors

## Motivation

I tested NNPACK vs. THNN and I am think that NNPACK is mostly faster than THNN for batchsize = 1 and also > 1. NNPACK is still being excluded in special cases even when the condition batchsize >= 16 is removed, for example THNN is used when s

[2019-09-18 07:59] Kunlun-Zhu opened #26397 "torch cuda bug"
🐛 Bug
With a CUDA 10.1 and RTX GPU.
When I try even the most simpliest code like
nums = torch.randn(2,2).cuda(), it show the above error
And torch.cuda.is_available() is True.
Any idea?

[2019-09-18 08:22] DonkeyShot21 commented on #26344
Ok, I have more insights to share with you. Indeed this is not a bug, it is actually the "supposed" behavior for the multiprocessing module in Python (torch.multiprocessing inherits from it). What happens is that, although the `Pool` terminates all the processes, the memory is not released (given back to the OS). This is also stated in the [documentation](https://docs.python.org/3.4/library/multip

[2019-09-18 09:04] AvivWn opened #26400 "RuntimeError: tensor.ndimension() == static_cast<int64_t>(expected_size.size()) INTERNAL ASSERT FAILED"
## 🐛 Bug

Hey
I am trying to train my model. I am using Multi-GPU training.
While training I get the next Runtime error:

[code]

The error occurs in different time each training, sometimes at start and sometimes later, but always when calling the forward method of the model:
`outputs = model(padded_batch_indexed_tokens, padded_batch_tags, sents_lengths)`

## Environment

Collecting environment in

[2019-09-18 09:19] jjsjann123 opened #26401 "PyTorch type-promotion in TensorIterator causes an additional copy kernel launch on ToT master, compared to 1.2"
## 🐛 Bug

Type promotion in TensorIterator used to up-cast input types in the fused kernel on gpus (cast input element as we load it into tensor). On the ToT master, that feature is broken and now we are seeing two kernels being launched. The issue is brought to attention during the discussion (@ngimel @peterbell10) reviewing PR #26181

## To Reproduce
[code]

run `nvprof --profile-from-start off

[2019-09-18 09:22] jjsjann123 commented on #26401
Type promotion breakage is hard to detect in our current PR, as an extra kernel launch is not being detected. Would be really nice if we can get some infra support to monitor this in our CI.

[2019-09-18 10:28] arubior opened #26402 "Typing issue with LambdaLR scheduler"
I'm trying to create my own scheduler class that inherits from `torch.optim.lr_scheduler.LambdaLR`. My code looks like this:

[code]
The code works as expected, but when I try to run a [mypy](http://mypy-lang.org/) test , it fails giving the following error:

[code]
Reading the docs (and taking a look at the code), argument `lr_lambda` to `LambdaLR` can be a function or a list of functions, but it

[2019-09-18 10:39] XiaobingSuper opened #26403 "build error when set USE_NATIVE_ARCH to ON"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.`USE_NATIVE_ARCH=ON python setup.py install`

## Expected behavior

[code]
## Environment
[code]

[2019-09-18 10:41] XiaobingSuper commented on #26403
https://github.com/pytorch/pytorch/pull/25125 introduce this problem.

[2019-09-18 11:00] rgommers opened #26404 "test_naughty_anomaly_access xfail aborts test suite"
## 🐛 Bug

Running the tests for autograd consistently gives a segfault on both Manjaro and Arch Linux at the end of the test suite run.

EDIT: at first I thought this was due to the single xfailed test in `test_autograd.py`, but that's not the case. Even when all tests are all passed or skipped, the test suite doesn't exit cleanly.

## To Reproduce

Steps to reproduce the behavior:

[code]
The abo

[2019-09-18 11:57] fmassa commented on #25986
Hi,

Thanks for opening the issue and raising this discussion!

We used to have a trainer in PyTorch (with plugin abstractions etc) that we never actually advertised nor recommended using. It wasn't generic enough (we couldn't write all the examples in `pytorch/examples` using it!), and we decided to remove it in https://github.com/pytorch/pytorch/pull/12487

From my point of view, trainers should

[2019-09-18 11:57] #25986 closed

[2019-09-18 12:31] Santhosh1509 commented on #16559
System Info:
OS: Windows 10
GPU: 1050ti
RAM: 16GB
CUDA: 9.0

Here's the pip list

I have same issue

Using same Yolo V3 in two different files, trying to run them on the same GPU at once

[file](https://github.com/ayooshkathuria/pytorch-yolo-v3/blob/master/video_demo.py)

file 1: called `thread1` which contains a main function `main1()`
file 2: called `thread2` which contains a main function `main

[2019-09-18 12:34] ezyang commented on #16559
@olyaromanyuk This issue was recently fixed on master. Please try downloading a nightly (or apply the PR to your PyTorch copy; it's a Python only change) and see if that fixes the problem. If not, please file a new issue.

[2019-09-18 12:43] ezyang commented on #21745
(1) is an issue, but

We were already doing a copy, no? So it doesn't seem like a big deal to try adding it there.

[2019-09-18 12:46] Santhosh1509 commented on #16559
@ezyang I don't see any nightly build for Windows here [torch_nightly](https://download.pytorch.org/whl/nightly/cu92/torch_nightly.html)

Can only find [torch_stable](https://download.pytorch.org/whl/torch_stable.html) for Windows.

Could you please let me know which file I have look into to set `_initialized = True`?

[2019-09-18 12:52] brynhayder commented on #19996
I am also having this issue. It persists across data (MNIST, CIFAR10) and various architectures. I do not get the warning if I set `pin_memory=False`. I think it might be due to having three Dataloaders in my script like @FunkyKoki (i.e. train, test, validation) and iterating over two of them (test, val) while inside the loop of the other (train).

[2019-09-18 12:54] chenzhekl commented on #26010
I cannot get it compiled with Visual Studio 2019 + CUDA 10.1. Is it still unsupported to build PyTorch with Visual Studio 2019?

Error message

[code]

[2019-09-18 12:58] fmassa commented on #327
@gchanan the current behavior is very inconsistent: CPU segfaults, while CUDA works

CPU
[code]
CUDA
[code]

The behavior is already inconsistent. If a cuda assert is not desirable (which it definitely isn't great), we could at least handle the segfault at the CPU side, and leave the CUDA implementation as is.

[2019-09-18 13:06] peterjc123 commented on #26010
This build error is flaky and we cannot reproduce it every time. See https://github.com/pytorch/pytorch/issues/25393. Could you please retry the build some times?

[2019-09-18 13:08] #25605 closed

[2019-09-18 13:18] ezyang commented on #21743
Modifying the existing one sounds fine :) (Also, technically I don't think it is "our pickler", it is the "Python 2 pickler")

[2019-09-18 13:26] ezyang commented on #26258
@cpuhrsch how did we end up with the assignment to @bddppq ?

[2019-09-18 13:31] ezyang commented on #16559
It looks like there might be a problem with the Windows pip nightlies, cc @peterjc123

Conda nightlies are working https://anaconda.org/pytorch-nightly/pytorch/files

[2019-09-18 13:38] peterjc123 commented on #16559
@Santhosh1509 The CUDA 9.2 binaries are not generated because CUDA 9,2 is not correctly installed on the agents and we don't have direct access to these machines. We have to wait for the upstream to fix this.

[2019-09-18 13:48] nullphantom opened #26405 "Can not import pytorch with other library (Segmentation Fault)"
I did not know this exactly pytorch issue or ngt issue. I also submit this issue in NGT https://github.com/yahoojapan/NGT/issues/37#issue-495243526
## 🐛 Bug

- I can import pytorch properly
![Screen Shot 2019-09-18 at 21 37 05](https://user-images.githubusercontent.com/24639411/65153523-7bc70e00-da5c-11e9-9dd2-dcbbc35ca902.png)

- After import other library (ngtpy, flair, or other), it raised segf

[2019-09-18 14:50] gchanan commented on #24707
going to take this on to try out the benchmarking suite.

[2019-09-18 14:54] nmilosev commented on #21745
Not sure about it, the documentation says:

Doesn't mention a copy, maybe it just reads directly from `__dict__`?

I skimmed through [the source](https://github.com/python/cpython/blob/master/Lib/pickle.py) and I don't see an explicit copy operation. :/

[2019-09-18 15:23] makslevental commented on #4164
@zou3519 is there any progress on this?

[2019-09-18 15:24] ayaabdelsalam91 commented on #26341
I think it’s a small enough piece of code that having a separate py package for it is overkill, it would also make it a lot easier to use and accessible for users within pyTorch

[2019-09-18 15:47] enchainingrealm opened #26408 "Improve torch.autograd.set_detect_anomaly documentation"
## 📚 Documentation

Training a model with `torch.autograd.set_detect_anomaly(True)` causes a severe memory leak because every line of code that is executed is stored in memory as a string. As far I as know, this memory leak isn't documented anywhere. The documentation for `set_detect_anomaly` should be updated with a warning.

cc @ezyang @gchanan @zou3519

[2019-09-18 15:57] izdeby commented on #26408
hi, @enchainingrealm, do you happen to have a repro for the memory leak?

[2019-09-18 16:04] izdeby commented on #26402
This seems to be a topic for discussion on our forum - https://discuss.pytorch.org/, please, post your question there.

[2019-09-18 16:04] #26402 closed

[2019-09-18 16:07] izdeby commented on #26400
Hi, @AvivWn, can you provide some minimal code that reproduces the issue?

[2019-09-18 16:10] izdeby commented on #26397
Hi, @Kunlun-Zhu, can you update the description with the
- pytorch version you are using
- error message

Until then i will have to close the issue, please reopen once you provide the details.

[2019-09-18 16:10] #26397 closed

[2019-09-18 16:15] izdeby commented on #26392
Please use our forum for questions - https://discuss.pytorch.org/

[2019-09-18 16:15] #26392 closed

[2019-09-18 16:32] gchanan commented on #26207
that's probably good, because if it existed it would almost certainly be horribly out of date.

[2019-09-18 16:37] nairbv opened #26409 "Generated file not getting cleaned up by clean"
When making changes that add new torch functions, and which should result in a change to the generated file `aten/src/ATen/core/OpsAlreadyMovedToC10.cpp`, we must build with GEN_TO_SOURCE=1 to regenerate the file with updated interfaces. `python setup.py clean` followed by `python setup.py install` does not cause the file to be regenerated.

Expected behavior is that clean should be enough to corr

[2019-09-18 16:39] houseroad commented on #20075
Fixed

[2019-09-18 16:39] #20075 closed

[2019-09-18 16:47] enchainingrealm commented on #26408
Here is a minimal example of the memory leak. In the code below, we use a "model" that's just a single convolutional layer. If you run the code with `set_detect_anomaly(True)`, 4 strings are leaked on every "batch" (while loop iteration.) If you run the code with `set_detect_anomaly(False)`, nothing is leaked.

[code]

[2019-09-18 16:58] #22226 closed

[2019-09-18 17:11] SrivastavaKshitij commented on #24891
@ptrblck : I am seeing the same error with NGC container `19.06-py3`

Error:

[code]

I was trying to profile standard resnet50 in jit mode

[2019-09-18 17:32] hfarazi commented on #15644
Any update on this? I need it badly :+1:

[2019-09-18 17:46] agadetsky opened #26411 "LogCumsumExp"
## 🚀 Feature
Add numerically stable cumulative logsumexp function. Also we have associated PR on `cummax` that is needed for numerically stable implementation (https://github.com/pytorch/pytorch/issues/20240).
## Motivation
This is useful when computing sum of probabilities and have different applications.

## Pitch
Torch has `cumsum` and `cumprod` so I suggest `logcumsumexp` to be added.

## Alte

[2019-09-18 17:50] Sriharsha-hatwar commented on #26354
Is this a good first issue?

[2019-09-18 18:08] anands-repo opened #26412 "v0.4.1 unavailable?"
Couldn't checkout v0.4.1 (or 0.4.0). Got the following error.

Cloning into 'third_party/nervanagpu'...
fatal: could not read Username for 'https://github.com': No such device or address
fatal: clone of 'https://github.com/NervanaSystems/nervanagpu.git' into submodule path 'third_party/nervanagpu' failed

I used the following commands:

git clone --recursive https://github.com/pytorch/pytorch
cd p

[2019-09-18 18:11] gchanan commented on #26354
I don't think this is a bug.  The documentation doesn't claim to support this and `torch.tensor` works the same way.

[2019-09-18 18:12] gchanan commented on #26354
That being said, this is a totally reasonable enhancement request.

@Sriharsha-hatwar I would consider this a challenging first issue, probably around medium difficulty across all issues.  I'd also start with `torch.tensor` and try to mimic the numpy behavior.

[2019-09-18 18:14] dashesy commented on #12013
It seems pooling also has problem with empty-batch size

[code]

This is the input tensor `tensor([], size=(0, 64, 112, 112))`

[2019-09-18 18:14] SsnL commented on #26354
@gchanan Isn't the goal of `.tensor` and `.as_tensor` to convert any tensor-shaped collection [of collections]* of numerical values to a tensor?

`np.asarray` handles this perfectly
[code]

[2019-09-18 18:24] hdubey commented on #9043
@anderspapitto Wonderful post. How did you solved it? You re-trained without packed sequence (which is slower in my experiments) or write a wrapper to allow ONNX conversion of models with packer sequence input. Is would be nice to have a link to your repos or PRs? Thanks!

[2019-09-18 18:50] VitalyFedyunin opened #26418 "Fuse operators inside of the (CPU) glu operator."
Current implementation does sequential `sigmoid_out` and `mul_`. We can get better performance by fusing this operations together.

[2019-09-18 18:51] gchanan commented on #26354
@SsnL sure, that's consistent with what I'm saying above.  I was just objecting to labeling it a "high priority bug to fix" rather than a "perfectly reasonable enhancement request."

[2019-09-18 18:53] gottbrath commented on #18318
Hey folks.

I have a bit of a preview of our quantization API and workflow that I would love feedback on!

The attached tutorial covers the steps needed to quantize a model to 8 bit in a post training fashion in eager mode. Users need to prepare the model with a few simple model changes such as providing uniquely named items for repeated elements, and fusing conv and batch norm. Then there are som

[2019-09-18 18:55] gottbrath commented on #11348
Note that we have a notebook with a preview tutorial on eager mode post training quantization over in https://github.com/pytorch/pytorch/issues/18318 ... please check it out and leave feedback.

[2019-09-18 18:55] gottbrath commented on #7553
Note that we have a notebook with a preview tutorial on eager mode post training quantization over in #18318 ... please check it out and leave feedback.

[2019-09-18 19:14] SsnL commented on #26354
@gchanan I totally agree. Sorry! I replied before seeing your comment above.

[2019-09-18 19:28] eellison commented on #26215
any luck on this ? it would make nested compilation more clear

[2019-09-18 19:35] nmilosev commented on #21743
@ezyang Let me know it is ok. And thank you again for the help!

[2019-09-18 19:37] t-vi commented on #18318
@gottbrath Awesome! Does this work in master or which patches on top of it do I need to play with it?

[2019-09-18 19:45] anands-repo commented on #26412
Update: I followed instructions in these pages to remove third_party/nervana_gpu
https://github.com/gpgpu-sim/pytorch-gpgpu-sim/issues/3
https://gist.github.com/myusuf3/7f645819ded92bda6677

Waiting for compilation ...

[2019-09-18 20:21] anands-repo commented on #26412
It compiles, and I can use tensors on GPU.

[2019-09-18 20:21] #26412 closed

[2019-09-18 20:35] jlin27 commented on #25644
@BynaryCobweb - Good catch. Removed the erroneous remaining conv5: https://github.com/pytorch/tutorials/pull/664

[2019-09-18 20:58] izdeby opened #26428 "Remove TensorOptions logic from generated code"
Scripts that are generating code are getting more and more complex and require a lot of domain knowledge in order to make any substantial changes. This is mostly due to logic around TensorOptions. We should eliminate it in order to significanlty decrease complexity of the code.

I will show my proposal on example of one of the methods and show all generated files with original (current master) cod

[2019-09-18 21:09] izdeby commented on #26428
@gchanan @zou3519

[2019-09-18 21:50] gchanan commented on #26428
You don't explain why this has an underscore

Not sure what this has to do with the JIT (outside of tracing).  We use this in the C++ Frontend.

will this cause serialization problems if we trace it?  @suo?

[2019-09-18 21:51] gchanan commented on #26428
This is expected, VariableType is not access directly, so the default values should be filled out correctly.  Do you have an example of a problem?

[2019-09-18 21:55] gchanan commented on #26428
I don't think you can really fix this without merging tensor and variable in C++.  You could add the argument at the `at::`` level, but you can't possibly set it to true.  One possibility is to add it as an argument, but either ignore it or assert it's not set to true.

[2019-09-18 21:58] peterbell10 commented on #26401
`gdb` confirms that it's here
https://github.com/pytorch/pytorch/blob/76fb909beb0b01ed2816adbeafd1775f1e500913/aten/src/ATen/native/TensorIterator.cpp#L176

[2019-09-18 22:02] gchanan opened #26429 "We should decide if hypothesis is required or not"
If I read the following code, I would expect that hypothesis is not required:
https://github.com/pytorch/pytorch/blob/a561660241defbfa5448222ce6e1816bcacf1178/test/common_utils.py#L419-L428

but then if I run `python test/test_nn.py` I hard fail because of:
https://github.com/pytorch/pytorch/blob/52d999e17345594403a38af4909703f1944e28ef/test/test_nn.py#L42

At least on my conda install (python 3.6

[2019-09-18 22:04] gchanan commented on #26401
@nairbv.

[2019-09-18 22:07] izdeby commented on #26428
Dont honor default:
build/aten/src/ATen/Functions.h
VariableType_0.cpp

Do honor:
variable_factories.h

[2019-09-18 22:08] gchanan commented on #26401
can we change the title to something like "reduction type-promotion causes an additional kernel launch compared to 1.2" -- calling an extra kernel launch "broken" is a little harsh.

[2019-09-18 22:30] jjsjann123 commented on #26401
That's fair. Updated the title.

[2019-09-18 22:56] gchanan commented on #26428
build/aten/src/ATen/Functions.h
VariableType_0.cpp

variable_factories.h

I mean an _actual_ problem.  Like "I call XXX from the C++ API, and I get YYY, but I was expecting ZZZ".

[2019-09-18 22:57] kossnick opened #26433 "Exception in autograd profiler total_average() calculation"
(Directed to post here from https://discuss.pytorch.org/t/autograd-profiler-total-average-calculation-exception/56214.)

I had written a layer on top of the autograd profiler to collect more custom ranges of times, and with the upgrade to Pytorch 1.2 my usage is no longer working.

When a designated timing range begins, I have the following snippet (among a longer block in my codebase):
[code]

Wh

[2019-09-18 23:01] gchanan commented on #18945
assigning myself for safe keeping.

[2019-09-18 23:03] houseroad commented on #23724
The PR is merged, so close.

[2019-09-18 23:15] eellison opened #26437 "[JIT] Named Tuple annotation doesn't work with annotations.py"
## 🐛 Bug

If annotation is accessed through annotations.py, then an exception is raised. `annotations.py` pathway is used in a lot of script code and should work with named tuples.

## To Reproduce

[code]

  File "test/test_jit.py", line 14745, in test_named_tuple_py2
    print(torch.jit.annotations.get_signature(fn))
  File "/home/eellison/local/miniconda/envs/ninja/lib/python3.7/site-packages/t

[2019-09-18 23:22] eellison commented on #26437
cc @jamesr66a

[2019-09-18 23:30] SrivastavaKshitij opened #26438 "[NGC Container] [JIT mode only] Nvidia nsight runtime error"
## 🐛 Bug

Hi there, I encounter runtime error when I try to profile pytorch models. Error is seen only in `jit mode` and not in `eager mode`.  I have a feeling this is somewhat related to #24891

## Error Summary:
[code]

## Environment

`Nvidia NGC Container [19.06-py3]`

## To Reproduce

Run the script with following command line options to reproduce error:

[code]

#### Script (nsight_jit_probl

[2019-09-19 00:24] pritamdamania87 opened #26446 "Avoid sending zero grads over the wire in distributed autograd backward pass"
For the distributed backward pass, we pass zero grads over the wire for certain tensors which were not used in the forward pass (when we execute RecvRpcBackward). This is done for simplicity currently, but a potential performance enhancement is to send only gradients  that we need over the wire. For more context see: https://github.com/pytorch/pytorch/pull/25527#discussion_r321509898

[2019-09-19 01:13] canbakiskan commented on #18275
I suggest changing the argument `/*compute_uv=*/false` in functions `nuclear_norm()` and `nuclear_norm_out()` in aten/src/ATen/native/LinearAlgebra.cpp to `/*compute_uv=*/self.requires_grad()`. I tested it (not using the official test files, I don't know how to do that) on both cpu and cuda10.0 with current source code build and it does work.

[2019-09-19 01:16] vishwakftw commented on #18275
@canbakiskan The fix is available in #26303, thank you for reporting.

[2019-09-19 01:18] #24620 closed

[2019-09-19 01:25] schen119 opened #26447 "torch.Tensor() is stuck or deadlock in multiprocess in torch 1.2.0"
## 🐛 Bug
The ```torch.Tensor()``` will be stuck or deadlock in the multiprocess if the main process did the  ```torch.Tensor()``` before the child-process start().
This bug is not happened in torch 1.1.0. Please see the code below to reproduce the bug.
 If reducing the size of dummy_im to the size (3,3), it's ok. Therefore, It might be a shared memory problem.

## To Reproduce
[code]

- stuck in t

[2019-09-19 01:56] ssdyue opened #26449 "Is there any plan for privacy-preserving interface or implementation in the future?"
## 🚀 Feature

Differential privacy or homomorphic encryption, or other privacy-preserving methods

## Motivation

Some ethical and privacy concerns has attracted public attention, and it is Increasingly important. Such as the General Data Protection Regulation (GDPR).

## Pitch

## Alternatives

## Additional context

[2019-09-19 02:34] Jacobew commented on #24398
@soumith Hi, any updates here? I've got a similar issue when using depthwise separable convolution. When torch.backends.cudnn.deterministic is set to be True, the training time of an iteration reduces from 2 min to 1 min. And actually setting torch.backends.cudnn.benchmark = True will slow down training a little bit... I found it quite different from PyTorch documents.
My CUDA version:10.1, Pytorc

[2019-09-19 03:11] SebastienEske commented on #25986
Hello @fmassa I completely agree that if it is not generic enough then a trainer will not be useful. At the same time some other frameworks have it without problem (caffe, tensorflow...). And it is a common criticism of pytorch that users need to code a lot of boilerplate code before actually getting something out of it. Another concern would be the opportunity for bugs if everyone codes its own t

[2019-09-19 03:14] vishwakftw commented on #4669
The derivative of `cholesky_inverse` is available here : #26451

[2019-09-19 03:17] z687wang commented on #24081
Have exact same issue with 2 1080ti, CUDA 10 with pytorch stable (1.2)
pytorch installed via '''conda install pytorch torchvision cudatoolkit=10.0 -c pytorch'''

[2019-09-19 03:18] yuchao86 opened #26452 "error: no viable conversion from 'script::Module' to 'std::shared_ptr<torch::jit::script::Module>"
## ❓ Questions and Help

- [Discussion Forum](https://discuss.pytorch.org/)
====================[ Build | untitled | Debug ]================================
int main(int argc, const char* argv[]) {
    if (argc != 2) {
        std::cerr << "usage: example-app <path-to-exported-script-module>\n";
        return -1;
    }

    cv::VideoCapture stream(0);
    cv::namedWindow("Gesture Detect", cv::WIN

[2019-09-19 03:35] nullphantom commented on #26405
HI @izdeby thank you for the fast response.
I already solve it. and this is not pytorch issue.

Regarding this issue: https://github.com/yahoojapan/NGT/issues/34
the error caused by NGT C++ module error. I reinstall it from source and found permission issue

[2019-09-19 03:35] #26405 closed

[2019-09-19 03:56] SiyuWang15 commented on #25019
I came into the same problem, and I really set CUDA_VISIBLE_DEVICES=0,1 and I still got the error. Do you solve the problem?

[2019-09-19 04:10] jin8 commented on #19996
I had the same error after i updated my pytorch version to 1.2.0. So I downgraded to my previous version 1.0.1. I am no longer receiving the warning.

[2019-09-19 04:26] XiaobingSuper commented on #26287
@branfosj , @boegel, I triede to reproduce this issue in my side, but it failed. I list my build steps, please tell me if I am wrong.
### Device dtaills:
[code]
### Build commands
[code]
I also attatch my build log: [build.log](https://github.com/pytorch/pytorch/files/3629339/build.log)

And then run ```python -c "import torch; x = torch.randn(2, dtype=torch.float32); softmax = torch.nn.Softmax(di

[2019-09-19 05:14] ajaysg commented on #23724
Still the same error continues.

[2019-09-19 05:34] XuShoweR commented on #18993
Did you solve the problem.I have same problem.

[2019-09-19 05:36] Minki-Kim95 opened #26455 "Raspbian Failed to run 'bash ../tools/build_pytorch_libs.sh --use-nnpack --use-qnnpack caffe2'"
## 🐛 Bug

Failed to run 'bash ../tools/build_pytorch_libs.sh --use-nnpack --use-qnnpack caffe2'

## To Reproduce

Steps to reproduce the behavior:

1. Get Pytorch 1.0.1 from the official GIT repository
[code]

2. Set up environment variables for compiling Pytorch
[code]

3. Compile Pytorch
[code]
full error message
[code]
3.1. if I compile Pytorch like this, error message was changed
[code]
full e

[2019-09-19 05:50] Santhosh1509 commented on #16559
@ezyang and @peterjc123 Okay
So have the changes mentioned here also been made to `CUDA 9` version of pytorch in `nightly`?
Just to be clear if i do `conda install pytorch cudatoolkit=9.0 -c pytorch-nightly`  will it solve my issue?

[2019-09-19 06:12] Minki-Kim95 commented on #26455
![ee2](https://user-images.githubusercontent.com/37619253/65217759-ed9c6780-daef-11e9-9c45-f12dfce5a834.PNG)

[2019-09-19 06:43] dzhulgakov commented on #26429
In general having hypothesis is pretty nice for exhaustive testing (if it's used right). So it'd be nice to figure out a way to always install it for dev environments (it obviously is not needed for actual pytorch).

For conda - can you install it from `pip` instead?

[2019-09-19 07:04] kaonick opened #26456 "[libtorch]Same model in CUDA and CPU got different result?"
## 🐛 Bug

I have already asked questions in the forum, the link is as follows,
https://discuss.pytorch.org/t/why-same-model-in-cuda-and-cpu-got-different-result/56241

I happened in the same program, using the same model, switching between the GPU and the CPU, and the results were different.

My libtorch version is libtorch1.2.0_GPU.
## To Reproduce

Steps to reproduce the behavior:

1.load model:

[2019-09-19 07:09] eternity1984 opened #26458 "[ONNX] RuntimeError: r INTERNAL ASSERT FAILED at /pytorch/aten/src/ATen/core/jit_type.h:152"
Hi, I used the pre-trained StyledGenerator model(e.g. `stylegan-512px-new.model`) provided in the [rosinality/style-based-gan-pytorch](https://github.com/rosinality/style-based-gan-pytorch) repository and trying to export this model to ONNX.

## Issue description

[code]

## Code example

[code]

## System Info
Please copy and paste the output from our
[environment collection script](https://raw.g

[2019-09-19 07:43] Santhosh1509 commented on #16559
Found a work around for parallel processing.

Due to `GIL (Global Interpreter Lock)` only one threads runs by default at any given time in python.

Had posted an issue [threads not able to reduce the run time of two function when run at once](https://stackoverflow.com/questions/58005044/threads-not-able-to-reduce-the-run-time-of-two-function-when-run-at-once)

This work around seems to do the job

[2019-09-19 08:02] niranjanviladkar commented on #19184
@beckybai , What gcc version helped you?

[2019-09-19 08:24] mberr commented on #24345
A (non-optimized) workaround that I am currently using:

for L2:
[code]

for L1
[code]

[2019-09-19 09:21] Penn000 commented on #25019
@SiyuWang15 I met this problem for the sake of CUDA installed on server is V7.5, which is not match with cudatoolkit and pytorch. The problem is solved after reinstalling the CUDA.

[2019-09-19 09:27] SiyuWang15 commented on #25019
@Penn000  I solved this problem this afternoon by running my codes on another gpu server. I don't exactly know why but I guess not enough cpu memory caused that.

[2019-09-19 10:29] SebastienEske commented on #25986
Hello again,

I went through the examples and as you probably expected found a few limitations with the proposed API. It cannot do the following:
- criterion to stop when loss is too low (easy to add as yet another param)
- optimizer closure (could be added as a parameter? can we define the closure outside of the training loop?)
- gradient clipping (not trivial to add as the generic functionality

[2019-09-19 10:39] SebastienEske commented on #25986
One more question though: do you want to salvage the `make_param_groups` utility? It allows you to only pass the parameters for which you want a custom learning rate and will return the proper groups for the optimizer. It will also put the parameters with the same learning rates in the same group. So in the example below there will be two groups.
[code]

[2019-09-19 11:34] chenzhekl commented on #26010
@peterjc123 Thank you! I managed to compile LibTorch after several tries. The path to `cudart.lib` in `Caffe2Targets.cmake` looks right this time and everyting works.

[2019-09-19 11:34] #26010 closed

[2019-09-19 11:39] yaysummeriscoming commented on #18318
@gottbrath just had a quick look, seems really promising!  I imagine that post training quantisation for traced models will be simpler, along the lines of the current tflite implementation.

My thoughts:
Why torch.quantization.floatFunctional?  Couldn’t we just use nn.Module?

Can I keep parts of the model in float precision & if so, how well will this be supported with mobile runtimes?

Feels a b

[2019-09-19 11:41] gengyanlei opened #26460 "MODEL PARALLEL？？？"
Hello, my code is as follows:
from torch import nn

import torch
import os
from torch import nn

class Model_A(nn.Module):
    def __init__(self):
        super().__init__()
        self.conv1 = nn.Conv2d(3,10,3,1,1)
        self.conv2 = nn.Conv2d(10,20,3,2,1)
    def forward(self, x):
        x = self.conv1(x)
        x = self.conv2(x)
        return x

class Model_B(nn.Module):
    def __init__(

[2019-09-19 12:53] juanmed commented on #7841
@alexgkendall  could you please let us know how did you compile pytorch v0.4 for tegra? I have trying without success to do it and running out of ideas. Thanks!

[2019-09-19 13:10] gauravgoenka commented on #11222
@SsnL I am still getting the same error, sorry but i didnt get by what you meant by your answer.
Can you please help me over here.

[2019-09-19 13:17] shalgi commented on #16417
For me changing the batch_size from 128 to 64 worked but that doesn't seem like a disclosed solution for me, or am I missing something?

[2019-09-19 13:45] daquilnp opened #26462 "Issue Exporting Pytorch model to ONNX that uses PackedSequence"
## 🐛 Bug

There is an issue when you want to instantiate PackedSequence and then export that model to ONNX. it gives the following error:
`ONNX export failed: Cannot export individual pack_padded_sequence or pad_packed_sequence; these operations must occur in pairs.`

## To Reproduce

Steps to reproduce the behavior:
I have a model where I manipulate some data and place it in a PackedSequence.

He

[2019-09-19 13:54] ezyang commented on #21745
Oh sorry, I misunderstood, and I thought you were quoting code in our codebase. OK, so this may not be easy to fix.

[2019-09-19 13:59] ezyang commented on #26404
@rgommers I'm fine with deleting/disabling the test. It's testing a use case that really shouldn't ever show up in real practice. However, the function of the test *is* to show that we don't segfault in this case.

Can you easily get a backtrace of the segfault?

[2019-09-19 14:33] #26460 closed

[2019-09-19 14:37] soumith commented on #25986
the examples make a good start, and there's a lot more that the examples dont cover.

Promising trainer abstractions in the pytorch community are:

- ignite: http://github.com/pytorch/ignite
- lightning: https://github.com/williamFalcon/pytorch-lightning
- skorch: https://github.com/skorch-dev/skorch

There are a few nice ones, but didn't get as much traction.

[2019-09-19 14:44] peterjc123 commented on #23218
There are nightlies for torchvision under Windows now.

[2019-09-19 14:44] soumith commented on #26449
https://github.com/OpenMined/PySyft is one option.
Some other packages related to this will be announced soon.

In core pytorch, we haven't had need to add anything directly, even if they are released they will be separate packages.

[2019-09-19 14:44] #26449 closed

[2019-09-19 14:55] banderlog commented on #18318
@gottbrath I know that I will sound silly and naive, but quantization process for end user should look like `model.int8()` or `torch.quantize(model, qtype='int8')`. But great work with first ever working pytorch quantization example notebook (as far as I know) :)

[2019-09-19 14:59] csarofeen commented on #24963
@ptrblck will take a look at this.

[2019-09-19 15:22] zou3519 commented on #26428
Does the same thing in this proposal apply to method-only functions? For example, `Tensor::to`, `Tensor::new_empty` are method-only functions that take TensorOptions, does this mean we'll have a `Tensor::_new_empty` and change `dispatch_new_empty` in `generated/python_variable_methods.h` to call `Tensor::_new_empty`?

[2019-09-19 15:23] t-vi commented on #18318
On the wiki, the [plan includes a 1-line quantization api](https://github.com/pytorch/pytorch/wiki/torch_quantization_design_proposal), but we are not quite there yet.

[2019-09-19 15:50] izdeby commented on #26428
No. I was just worried about inconsistency.

[2019-09-19 15:58] gottbrath opened #26464 "doc isn't picking up methods in Observer.py"
the rst file says

torch.quantization.observer
---------------------------
.. autoclass:: ObserverBase
.. autofunction::  _calculate_qparams
.. autoclass:: MinMaxObserver

the .py file says

class ObserverBase(ABC, nn.Module):
    r"""Observer base Module
    Any concrete observer implementation should derive from this class.

    Concrete observers should follow the same API. In forward, they wil

[2019-09-19 16:24] ngimel commented on #26438
This is an nsys bug, not a pytorch bug. @ptrblck or @mcarilli should be able to tell you which nsys versions have a fix.

[2019-09-19 16:50] mcarilli commented on #26438
Nsight Systems is being updated pretty frequently, so using [most recent version](https://developer.nvidia.com/nsight-systems) (2019.5.x) is the first thing I would try.

It's only a collection of libraries and binaries, so you should be able to unpack the directory, launch the container with the directory mounted in, set the PATH to point to the nsys executable, and rerun the application.

More r

[2019-09-19 16:53] CA4GitHub opened #26467 "Pytorch 1.2 on Red Hat Enterprise Linux 6.4 gives 'GLIBC_2.14' not found"
## 🐛 Bug

Description:
On a server running Red Hat Enterprise Linux (RHEL) Workstaion release 6.4 (Santiago), I used conda 4.5.12 to install pytorch using the following command:
conda install pytorch torchvision cudatoolkit=10.0 -c pytorch

The python version installed is 3.7.4.

When I open a python interpreter, I try to import pytorch via the command:
import pytorch

However, I get the following

[2019-09-19 16:57] driazati commented on #26452
`std::shared_ptr<torch::jit::script::Module>` was removed, see an updated example of how to use `Module` here:

https://pytorch.org/tutorials/advanced/cpp_export.html#a-minimal-c-application

[2019-09-19 16:57] driazati commented on #26452
Closing since this looks like it's just a misuse, please re-open if you found out-dated docs somewhere or if you hit other bugs

[2019-09-19 16:57] #26452 closed

[2019-09-19 16:58] driazati commented on #25591
#25109 needs to land as well (for `pickle_load`), I'll try to get it in soon

[2019-09-19 17:03] gottbrath opened #26469 "strange rendering in add_quant_dequant"
the code looks like

def add_quant_dequant(module):
    r"""Wrap the leaf child module in QuantWrapper if it has a valid qconfig
    Note that this function will modify the children of module inplace and it
    can return a new module which wraps the input module as well.

    Args:
        module: input module with qconfig attributes for all the leaf modules
        that we want to quantize

[2019-09-19 17:12] mcarilli commented on #26438
I asked around and it appears that for old versions of nsys, when an application under nsys tried to dynamically load a library (eg libthnvrtc.so) on-demand (eg via dlopen) nsys intercepted the dlopen call, but nsys itself was not picking up any rpath information baked into the application itself, so nsys's intercepted dlopen call might not know where to look for libthnvrtc.so.  At least that was

[2019-09-19 17:13] gottbrath opened #26470 "issue with the markdown or rendering on the convert() function"
The convert function

`

def convert(module, mapping=DEFAULT_MODULE_MAPPING):
    r"""Converts the float module with observers(where we can get quantization
    parameters) to a quantized module.
    Args:
        module: calibrated module with observers
        mapping: a dictionary that maps from float module type to quantized
           module type, can be overwrritten to allow swapping user de

[2019-09-19 17:16] yxjiang commented on #25591
Cool, thanks a lot!

[2019-09-19 17:22] mrshenli commented on #24247
@rohan-varma Yes, that's correct. We would like to have those functions have a fixed return type so that they can be called in TorchScript function.

[2019-09-19 17:36] SrivastavaKshitij commented on #26438
thanks for the update @mcarilli : I have a question. When I untar latest Nsight system, I can only `nsys` binary under `/NVIDIA_Nsight_Systems_Linux_2019.5.1.58/opt/nvidia/nsight-systems/2019.5.1/bin` but I dont see `nv-nsight-cu-cli`. Is that packaged separately ?

[2019-09-19 17:46] SrivastavaKshitij commented on #26438
Also, inside my Pytorch `19.06-py3` container, I tried exporting path by:

`export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/conda/lib/python3.6/site-packages/torch/lib/libthnvrtc.so`

[code]

And I still get the same error.

[2019-09-19 17:46] mcarilli commented on #26438
`nv-nsight-cu-cli` is the cli for Nsight Compute, the new individual-kernel profiling tool.  Nsight Compute is a [completely separate product](https://developer.nvidia.com/nsight-compute-2019_4).

The system profiler executable `nsys` looks like it's at its usual location (`target-linux-x64/nsys`) in the untarred `nsight-systems-2019.5.1` directory.  You don't need Nsight Compute to use Nsight Sys

[2019-09-19 17:52] SrivastavaKshitij commented on #26438
Sorry my bad:
I had to use `export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/conda/lib/python3.6/site-packages/torch/lib/`.  Remove `libthnvrtc.so` from the path.

Thanks for the quick response @mcarilli . Closing this issue now. :tada:

[2019-09-19 17:52] #26438 closed

[2019-09-19 18:09] driazati commented on #21743
@SsnL  What's the reason we don't use `utf-8` as a default encoding instead of `ascii`?

https://github.com/pytorch/pytorch/blob/df338f80a6319cbc4f411df5ca4469c56fd8ec87/torch/serialization.py#L553

[2019-09-19 18:10] dashesy opened #26472 "[ONNX] support scater_add with dynamic tensor shapes"
## 🐛 Bug

I was getting this error

An could not figure out where `6` was coming from. `6` is `shape[0]` of an intermediate tensor when `torch.onnx.export` was called, but it is dynamic.

`scatter_add` creates a constant with a fixed size:

[code]

## To Reproduce

Use scatter_add along with a dynamic tensor input

[code]

## Expected behavior

`scatter_add` should not assume fixed tensor sizes

#

[2019-09-19 18:15] SsnL commented on #21743
@driazati the exact reason escapes me, but if I had to guess, I think they are only used for the few internal keys that are always in `ascii` anyways.

[2019-09-19 18:20] driazati commented on #21745
Our serialization weirdly saves the entire module code (including the docstring) and verifies that it matches the loaded instance of the `nn.Module` on load, which is non-standard pickle behavior (usually just a reference to the qualified name of the type of the object is saved):

https://github.com/pytorch/pytorch/blob/df338f80a6319cbc4f411df5ca4469c56fd8ec87/torch/serialization.py#L294

I suppos

[2019-09-19 18:25] mrshenli commented on #26447
I cannot reproduce the deadlock. Have you tried the following:

1. Use `multiprocessing.queues.SimpleQueue` as suggested in [this tutorial](https://pytorch.org/docs/stable/notes/multiprocessing.html).
2. Create the tensor on the main process, move it to shared memory, and pass it to the child process through the `torch.multiprocess.Queue`.

[2019-09-19 18:26] driazati commented on #21743
Is there any harm in making the `Unpickler` default to `utf-8` instead of `ascii` if no encoding is provided? That would fix this issue without users having to do anything.

https://github.com/pytorch/pytorch/blob/df338f80a6319cbc4f411df5ca4469c56fd8ec87/torch/serialization.py#L608

[2019-09-19 18:34] SsnL commented on #21743
@driazati I'm not sure if I understand the relation between your proposal and the code linked. The encoding in `persistent_load` should not matter, as it it only used to decode several internal keys.

[2019-09-19 18:37] driazati commented on #21743
Missed the `Unpickler` creation line by 1, passing `encoding='utf-8'` should be backwards compatible (unless someone was relying on this error) and fix the issue

https://github.com/pytorch/pytorch/blob/df338f80a6319cbc4f411df5ca4469c56fd8ec87/torch/serialization.py#L607

[2019-09-19 18:48] albanD opened #26475 "c10d Python memory allocated without holding the GIL"
## 🐛 Bug

Running the c10d test with a debug python 3.6 build leads to the following crash:
[code]

The extra checks of the debug build seem to find a problem with the way the GIL is handled in c10d.

## To Reproduce

Steps to reproduce the behavior:

1. Install a python 3.6 debug build
2. Install pytorch from source using master
3. run c10d test with `python test_c10d.py`

[2019-09-19 19:36] nmilosev commented on #21743
@driazati what would happen if I (using py2) had some modules encoded with ASCII and wanted to decode them with UTF-8? All good?

[2019-09-19 19:47] driazati commented on #21743
Yeah, ASCII is a subset of utf-8

[2019-09-19 19:49] SsnL commented on #21743
Some unicode encodings can be decoded by utf-8 (to wrong char), but not ascii. So it could break user-side error handling code.

[2019-09-19 19:57] SsnL commented on #21743
that said, it probably won't be a big deal if we switch default.

[2019-09-19 19:59] suo commented on #26428
re: serialization, I don't think there should be any issues. We don't serialize TensorOptions (they are [desugared](https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/tracer.cpp#L520-L527) before they hit the graph).

[2019-09-19 20:07] rohan-varma commented on #26475
After some initial digging, it looks like a similar error happened before: https://github.com/pytorch/pytorch/issues/1624. I'll take a look and see if I can repro this.

[2019-09-19 20:15] VitalyFedyunin commented on #26391
Are you using virtualization of some kind? Can you please add one block of /proc/cpuinfo data.

[2019-09-19 20:23] VitalyFedyunin commented on #19088
Partially overlaps with #24507

[2019-09-19 20:41] VitalyFedyunin commented on #24771
This one currently dispatched as `_std` might be worth checking difference between existing Aten and old TH versions.

[2019-09-19 20:55] zou3519 opened #26495 "torch.pow is inconsistent"
[code]

However, the following works:
[code]

cc @pbelevich

[2019-09-19 20:57] driazati commented on #25992
This should be fixed on master

[2019-09-19 20:57] #25992 closed

[2019-09-19 21:00] izdeby commented on #26247
[Done](https://github.com/pytorch/pytorch/pull/26430)

[2019-09-19 21:00] nmilosev commented on #21743
Okay the pull #26421 has some failures it seems (if anyone of you can help that would be great!) but then if we all agree to change the default it is probably best to scrap that and change the default encoding, and setup some tests? Let me know! :)

[2019-09-19 21:17] mrshenli commented on #26455
This is duplicated to #21551

Quote from @xuhdev

[2019-09-19 21:25] mrshenli commented on #26456
@kaonick does the problem still occur if you build the model in the code instead of loading it? It will be helpful if you could share a minimum repro, including input data.

[2019-09-19 21:26] mrshenli commented on #26456
Based on the discussion in the [forum](https://discuss.pytorch.org/t/why-same-model-in-cuda-and-cpu-got-different-result/56241), using CPU gives the correct result, but not CUDA.

[2019-09-19 21:28] mrshenli commented on #26458
cc @houseroad

[2019-09-19 21:39] mrshenli commented on #26472
cc @houseroad

[2019-09-19 21:42] schen119 commented on #26447
@mrshenli
1. Using ```multiprocessing.queues.SimpleQueue``` has some problem.
[code]

2. My original scenario is to initialize the model in the main process where has some ToTensor() steps and fork the process to handle the image preprocessing. The last step of the image preprocessing is ToTensor(). Then I found this issue. The scenario is different so I don't need to  ```Create the tensor on the

[2019-09-19 21:47] VitalyFedyunin commented on #24771
Ok, so picture is (same for `std` and `var`) aten's `var` calls to `_var` when dims are not specified. Then `_var` calls to the th code `(var_single)`.

So - we have aten version for per-dim `std` and `var`, we have no optimized version when dims is not specified ( and doing `torch.var(x.reshape(-1),0)` is 5 times slower ).

[2019-09-19 21:48] VitalyFedyunin commented on #24529
Ok, so picture is (same for `std` and `var`) aten's `var` calls to `_var` when dims are not specified. Then `_var` calls to the th code `(var_single)`.

So - we have aten version for per-dim `std` and `var`, we have no optimized version when dims is not specified ( and doing `torch.var(x.reshape(-1),0)` is 5 times slower ).

[2019-09-19 21:48] VitalyFedyunin commented on #24639
Ok, so picture is (same for `std` and `var`) aten's `var` calls to `_var` when dims are not specified. Then `_var` calls to the th code `(var_single)`.

So - we have aten version for per-dim `std` and `var`, we have no optimized version when dims is not specified ( and doing `torch.var(x.reshape(-1),0)` is 5 times slower ).

[2019-09-19 21:48] VitalyFedyunin commented on #24676
Ok, so picture is (same for `std` and `var`) aten's `var` calls to `_var` when dims are not specified. Then `_var` calls to the th code `(var_single)`.

So - we have aten version for per-dim `std` and `var`, we have no optimized version when dims is not specified ( and doing `torch.var(x.reshape(-1),0)` is 5 times slower ).

[2019-09-19 21:48] VitalyFedyunin commented on #24782
Ok, so picture is (same for `std` and `var`) aten's `var` calls to `_var` when dims are not specified. Then `_var` calls to the th code `(var_single)`.

So - we have aten version for per-dim `std` and `var`, we have no optimized version when dims is not specified ( and doing `torch.var(x.reshape(-1),0)` is 5 times slower ).

[2019-09-19 21:48] VitalyFedyunin commented on #24530
Ok, so picture is (same for `std` and `var`) aten's `var` calls to `_var` when dims are not specified. Then `_var` calls to the th code `(var_single)`.

So - we have aten version for per-dim `std` and `var`, we have no optimized version when dims is not specified ( and doing `torch.var(x.reshape(-1),0)` is 5 times slower ).

[2019-09-19 21:48] VitalyFedyunin commented on #24652
Ok, so picture is (same for `std` and `var`) aten's `var` calls to `_var` when dims are not specified. Then `_var` calls to the th code `(var_single)`.

So - we have aten version for per-dim `std` and `var`, we have no optimized version when dims is not specified ( and doing `torch.var(x.reshape(-1),0)` is 5 times slower ).

[2019-09-19 21:48] VitalyFedyunin commented on #24677
Ok, so picture is (same for `std` and `var`) aten's `var` calls to `_var` when dims are not specified. Then `_var` calls to the th code `(var_single)`.

So - we have aten version for per-dim `std` and `var`, we have no optimized version when dims is not specified ( and doing `torch.var(x.reshape(-1),0)` is 5 times slower ).

[2019-09-19 21:49] izdeby commented on #26428
### TensorFactories.cpp
Original:
[code]

Proposed:
[code]

---------------------------

### Functions.h
Original:
Proposed:

---------------------------
### Functions.h
Original:
Proposed:

---------------------------
### Functions.h
Original:
Proposed:

---------------------------
### Functions.h
Original:
Proposed:

---------------------------

[2019-09-19 21:54] mrshenli commented on #26447
I compiled from source, the following is my environment:

[code]

[2019-09-19 22:03] dashesy commented on #26184
This is no issue in Python3, so must be Python2 related

[2019-09-19 22:05] xsacha commented on #26391
No virtualization. Just a Ubuntu 18.04 on bare metal. I'll update with cpuinfo when I get back.

[2019-09-19 22:20] driazati opened #26505 "[jit] VarType list matching doesn't work"
[code]

Produces

[code]

cc @suo

[2019-09-19 22:22] driazati commented on #26505
Fixed by #25944

[2019-09-19 22:22] #26505 closed

[2019-09-19 22:29] #26076 closed

[2019-09-19 22:59] dhruvsus opened #26510 "PyTorch "previous versions" install instructions are confusing"
## ❓ Questions and Help
I'm trying to download pytorch to run on my university machines that have CUDA 9. The link at:
https://download.pytorch.org/whl/cu90/torch_stable.html however, doesn't seem to work.

cc @ezyang @gchanan @zou3519

[2019-09-19 23:24] v0dro commented on #25810
@ezyang can you assign me to this issue?

[2019-09-19 23:41] rohan-varma opened #26513 "TCPStore should pass in timeout when connecting to daemon"
## 🐛 Bug

TCPStore has a member variable `timeout_` which has a default value and is configurable by the user, but we don't pass this in when calling `tcputil::connect` to connect to the daemon. See the callsite (https://github.com/pytorch/pytorch/blob/master/torch/lib/c10d/TCPStore.cpp#L290). This means that we don't use the right timeout when trying to connect.

## To Reproduce

Steps to reprodu

[2019-09-20 00:19] v0dro commented on #13402
Hi Sameer here from Quansight. Can you assign me to this issue?

[2019-09-20 00:32] Minki-Kim95 commented on #26455
Thanks to @mrshenli !
[code]
above command solve this problem

[2019-09-20 00:38] #16099 closed

[2019-09-20 00:56] Minki-Kim95 commented on #26455
But another problem is here
[code]
how can I treat 'caffe2' to solve this problem?

[2019-09-20 01:28] rohan-varma commented on #24137
@soumith, I'm working on this bug. Could you explain what you mean by "upcast + transfer + downcast"? It appears that the error is coming from here: https://github.com/pytorch/pytorch/blob/master/torch/lib/c10d/ProcessGroupNCCL.cpp#L45-L60, and seems to happen because `ncclDataType_t` doesn't have a bool type

[2019-09-20 02:38] SebastienEske commented on #25986
Ok, thanks for the pointers!

[2019-09-20 02:40] kaonick commented on #26456
@mrshenli I just use pretrain model(CRAFT) . so I can not build the model.
Or your mean is build the model then load weights?

[2019-09-20 04:27] mainguyenanhvu commented on #8976
I have run it in CPU and also met an error: RuntimeError: DataLoader worker (pid 6790) is killed by signal: Killed.

I followed @Lmy0217 , it was killed and printed in terminal:

Count of instances per bin: [85308 31958]
Test: [ 0/5000] eta: 8:26:32 model_time: 5.8156 (5.8156) evaluator_time: 0.1168 (0.1168) time: 6.0785 data: 0.1460
Killed

Please, help me. Thanks a lot.

[2019-09-20 04:28] gauravgoenka commented on #574
did you find a solution?

[2019-09-20 04:51] soumith commented on #24137
@rohan-varma i mean that we should cast the buffer from bool to uint8, then all reduce, then cast it on the other side to bool again

[2019-09-20 04:52] soumith commented on #26385
oh lol, bots fighting!

[2019-09-20 04:55] gauravgoenka opened #26526 "from torch._C import * ModuleNotFoundError: No module named 'torch._C'"
## 🐛 Bug

I have manually installed torch .whl from pypi.
unzipped it and got three folders
1. torch
2. caffe2
3. torch-1.2.0.dist-info

![image](https://user-images.githubusercontent.com/30654421/65300364-ccd81e80-db90-11e9-8d1c-3a86c3b4ba60.png)

now i am in my python and tried importing torch and getting the bellow error

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>

[2019-09-20 05:03] peterjc123 commented on #26526
Please do that in a different location. The correct way to import with installing it is listed below.
[code]

[2019-09-20 05:03] #26526 closed

[2019-09-20 05:39] soumith commented on #26408
cc: @albanD the original author of anomaly detection

[2019-09-20 05:40] gauravgoenka commented on #26526
I tried the above solution

(base) D:\Gaurav\pytorch-master>cd ..

(base) D:\Gaurav>set PYTHONPATH=D:\Gaurav\pytorch-master

(base) D:\Gaurav>python -c "import torch"
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "D:\Gaurav\pytorch-master\torch\__init__.py", line 81, in <module>
    from torch._C import *
ModuleNotFoundError: No module named 'torch._C'

But still

[2019-09-20 05:42] gauravgoenka commented on #26526
Is it got to do with some library or dependencies that i need to install?

    import torch
  File "D:\Anaconda3_32\lib\torch\__init__.py", line 81, in <module>
    from torch._C import *
ModuleNotFoundError: No module named 'torch._C'

[2019-09-20 05:51] peterjc123 commented on #26526
Wait, are you using Python 32-bit? Please use 64-bit Python instead.

[2019-09-20 06:29] santient opened #26527 "Multilinear map"
## 🚀 Feature
Multilinear layer: a generalization of the Linear and Bilinear layers/functions to any configurable number of variables. This should be a learnable multilinear map that does the equivalent of this function, plus a bias (from the [Multilinear map Wikipedia page](https://en.wikipedia.org/wiki/Multilinear_map)):
![Screenshot from 2019-09-20 02-02-47](https://user-images.githubusercontent

[2019-09-20 06:39] boegel commented on #26287
@XiaobingSuper How did you collect the device details exactly (for easy comparison)?
For me, the system has 2 8-core Intel Xeon E5-2670 processors (Intel Sandy Bridge).
That's a different range of processors (server vs consumer), not sure if that has impaxt here...

I've also tested building mkldnn 0.18.1 from source using the same compiler toolchain and `-march=native`, and the full test suite (i

[2019-09-20 06:40] shawnthu commented on #6990
https://zhuanlan.zhihu.com/p/83329768

[2019-09-20 07:33] vadimkantorov opened #26528 "[docs] torch._C.Generator - strange user-facing class name"
https://pytorch.org/docs/stable/torch.html?highlight=generator#torch._C.Generator

is called as `torch.Generator`. However it is strange `torch._C.Generator` as user-facing name in docs.

[2019-09-20 07:47] pietern commented on #26475
@albanD Could you re-run with `-v` to get the specific test that triggers this? The backtrace only points to a test base class that is used a few times for different c10d store implementations (the TCP one and the file system one). Knowing which one is triggering the problem will save some time narrowing down the problem.

[2019-09-20 07:57] zzzkk2009 opened #26530 "pytorch1.2 block numpy array's multipy???"
## ❓ Questions and Help

### pytorch1.2 slows numpy array's multipy???

[code]

when i run this code in torch 1.2, it will block at "image_numpy_t = image_numpy_t * 254.0" this line, but when i comment "import torch" or use torch0.4, rerun this code can get image_numpy_t correct value.

[2019-09-20 08:24] pietern commented on #24137
Things to keep in mind:
* Can only use `uint8_t` with up to 255 processes in the process group. We rely on every process contributing an integer equal to 1 if the equivalent boolean entry is set. With 256 processes we would overflow an 8-bit unsigned integer and get the wrong result. The change should either 1) assert that the process group size is small enough, or implement a separate code path t

[2019-09-20 08:30] ThisIsIsaac opened #26532 "`torch.zeros` produces error: `RuntimeError: cuda runtime error (30)`"
## 🐛 Bug

error when creating tensor on GPU

## To Reproduce

[code]

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

PyTorch version: 1.0.0
Is debug build: No
CUDA used to build P

[2019-09-20 08:37] WilliamZhaoz commented on #18281
Hi, I hit the same bugs, but I did not use LRN, I use a lot of operations, so it is difficult to find the key operation where the problem is. Help. How can I fix this problem.

[2019-09-20 08:42] WilliamZhaoz commented on #20941
Hi, I hit the same bugs, It is difficult to find the key operation where the problem is. Help. How can I fix this problem.

[2019-09-20 09:01] shrutiramesh1988 opened #26534 "MKLDNN+AMD BLIS path for PyTorch"
## 🚀 Feature

## Motivation

## Pitch

## Alternatives

## Additional context

[2019-09-20 09:10] mratsim commented on #26534
I'm curious to see the related MKL-DNN/DNNL PR as currently MKL-DNN cannot use BLIS. It either uses:
- full MKL,
- MKL ML (MKL small library with just GEMM see on mkl-dnn releases)
- a fallback implementation with optimized path only for AVX2 and AVX512. Unfortunately until Ryzen 3, AMD AVX throughput is very low due to only having 1 AVX unit per core while Intel CPUs have 2.

[2019-09-20 09:24] gauravgoenka commented on #26526
Even after updating to 64 bit python i am still getting the same error:

Case 1: When i am using the torch package that i unzipped from : https://pypi.org/project/torch/#files

(base) D:\Gaurav>python -c "import torch"
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "D:\Anaconda3_64\lib\site-packages\torch\__init__.py", line 81, in <module>
    from torch._C import

[2019-09-20 09:35] peterjc123 commented on #26526
We didn't host the Windows package on PyPI. You can refer to the build steps on https://pytprch.org. If you don't want to install, then just cancel the download process using ctrl+c and you'll find it in the log.

[2019-09-20 10:28] Hacky-DH commented on #21257
Hi which pytorch version releases this fix? I still found same bug in pytorch 1.1.0

[2019-09-20 11:15] peterjc123 commented on #26526
There should be a file like `_C.cp36-win_amd64.pyd` in the unzipped directory. Just check the following several things:
1. Don't do `import torch` inside the unzipped dir.
2. Don't do `import torch` inside the root dir of the git repo.
2. Don't write a script `torch.py` under the current dir.

[2019-09-20 11:25] seanywang0408 opened #26536 "Floating point exception (core dumped) when divided by zero tensor with int data type (including int32 int64), instead of raising ZeroDivisionError"
## 🐛 Bug

When `torch.Tensor` is divided by **zero tensors** with data type as **int**, including **int8**, **int32**, **int64**, the program is terminated forcibly and throw **Floating point exception (core dumped) error**.
If run the code in jupyter notebook, the kernel would be killed.

Based on my experiments,  the bug happens both in torch 1.0 and torch 1.4.

However, the bug would not happen

[2019-09-20 11:34] nlhnt commented on #24157
I am going to give pytorch-nightly a try today - my issue was empty graph picture, with two empty rectangles.

[2019-09-20 11:35] gauravgoenka commented on #26526
Thank you :)
Really appreciate your help.

I guess i was not unzipping the correct torch whl file.

After downloading the correct windows torch whl file i was able to resolve the issue,

I downloaded the "cu100/torch-1.2.0-cp37-cp37m-win_amd64.whl"
from https://download.pytorch.org/whl/torch_stable.html

[2019-09-20 11:38] MatthieuBizien opened #26537 "F.conv_transpose2d inside Function doesn't use Cudnn"
## 🐛 Bug

When I define a custom `torch.autograd.Function` that call `torch.nn.functional.conv_transpose2d`, Cudnn is not called.

## To Reproduce

1. Enable Cudnn logging with `export CUDNN_LOGINFO_DBG=1; export CUDNN_LOGDEST_DBG=/tmp/cudnn/log`
1. Define and call a custom Function that call `F.conv_transpose2d`
1. Check the logs: they are empty

Example:
[code]

## Expected behavior

Cudnn shoul

[2019-09-20 12:08] riccardosamperna commented on #24870
I am not sure this is the right place to ask so please remove the comment if not appropriate.
I have a question about this two points highlighted above. I am currently working on a image registration algorithm and as pointed out in one of the points above I have a displacement field. Can you please explain me which is the right way to use the grid_sample function. I explain below what I mean with

[2019-09-20 13:54] opheliagame commented on #26411
I would like to work on this.

[2019-09-20 13:55] zou3519 commented on #26428
Hmm I wish there were a better way to review this. Something like a diff view + github code review would be nice, but the code is autogenerated. One thing you could do is create a new gh repo with the old generated function and submit a new PR to it, but that might be too much overhead for this.

You proposed:
[code]

However, in the NativeFunctions.h section, you proposed changing `native::barlet

[2019-09-20 13:58] Lmy0217 opened #26538 "about div by zero"
## 🐛 Bug
The situation about div by zero is more complex.

## To Reproduce
[code]

## Environment
PyTorch version: 1.2.0
Is debug build: No
CUDA used to build PyTorch: 10.0

OS: Microsoft Windows 10 Enterprise
GCC version: Could not collect
CMake version: version 3.12.0-rc3

Python version: 3.6
Is CUDA available: Yes
CUDA runtime version: 10.0.130
GPU models and configuration: GPU 0: GeForce GTX 1

[2019-09-20 14:00] f2013519 commented on #26536
This is same as #327. This was initially marked as wontfix but it looks like there are plans to address this now (at least partially).

[2019-09-20 14:02] zou3519 commented on #26428
What did you change the `native_functions.yaml` string to, if anything at all?

[2019-09-20 14:12] zou3519 commented on #26428
Why are we still constructing a TensorOptions before calling the expanded version?

[code]

[2019-09-20 14:20] seanywang0408 commented on #26536
Just curious about why there are various behaviors in Pytorch when divided by zero, even if they said that it is a hardware exception.

[2019-09-20 14:23] fmassa commented on #26536
Closing as a duplicate of #327.

@seanywang0408 can you move your comments there?

[2019-09-20 14:23] #26536 closed

[2019-09-20 14:26] f2013519 commented on #26536
Behaviour is undefined for integer div by zero. Some architectures generate SIGFPE and some don't.

[2019-09-20 14:38] #26495 closed

[2019-09-20 14:48] RuABraun opened #26540 "`ATen/Functions.h` does not exist after calling `scripts/build_android.sh`"
## 🐛 Bug

Trying to compile pytorch for android, calling `scripts/build_android.sh` for that. Afterwards when trying to use the libraries (torch, c10 etc) via the header `torch/script.h` inside an app I'm getting an error:

    aten/src/ATen/ATen.h:12:10: fatal error: 'ATen/Functions.h' file not found

And indeed, using `find` to search for `Functions.h` only results in:

    ./tools/autograd/temp

[2019-09-20 14:50] f2013519 commented on #26418
I'll take this up. Is it mostly about adding a at::parallel_for?

[2019-09-20 14:58] ezyang commented on #26428
Hi Iurii, very happy that you're working on this!

In your proposal, you still eventually call through to the native namespace by assembling a TensorOptions object:

[code]

@gchanan and I propose that you should go a step further, to help solve a problem that boxed fallback dispatch. Let me first suggest the change, and then tell you why it helps.

The suggested change is to *not* pass options at

[2019-09-20 15:08] albanD commented on #26408
Hi,

Two things:
- Your code leaks memory because `data = model(data)` in an infinite loop will create an infinitely large computational graph. I'm not sure how pympler works but it does not seem to be tracking the pytorch Tensors...
- The data stored by the anomaly_mode are stored inside the computational graph. So if you "leak" the computational graph, you leak the anomaly mode metadata.

You ca

[2019-09-20 15:17] pravitc opened #26542 "Access denied when downloading older version"
Hi,

For my project I need to install older version (0.4.1) of the PyTorch. But when I try to access the site ( https://download.pytorch.org/whl/cu90/torch_stable.html # CUDA 9.0 build ) to download whl for the older version I encountered an access denied error (as shown in the image below). Is there any way to fix this? Thanks.

![image](https://user-images.githubusercontent.com/39347062/65338316

[2019-09-20 15:19] VitalyFedyunin commented on #26418
This can be done after #26410 landed, and will require writing new ternary loop which does sigmoid and mul in one loop.

[2019-09-20 15:28] izdeby commented on #26428
Not gonna change at all.

[2019-09-20 15:34] rewonc commented on #19092
This might be a naive question, but why is PyTorch considering this API versus just exposing an option to use NHWC in the ops themselves, which would directly call the underlying CuDNN kernel where available?

It seems like for a common use case (mixing image ops like conv and pooling with LM architectures) this would be an easy solution. As a developer, all I want is a `Conv2d(..., nhwc=True)`. I

[2019-09-20 15:34] izdeby commented on #26428
1. Yeah, i agree, its definitely not the best way of showing the difference between proposal and the current state of things but i couldn't come up with a better way. We probably wanna keep this discussion open to public and have it saved for the history purpose. Sorry for the inconvenience.

2. I should have called it out. Im using TensorOptions as we are calling bartlett_window with the extra pa

[2019-09-20 15:42] izdeby commented on #26428
Updated. Killed TensorOptions

[2019-09-20 15:47] vpirogov commented on #26534
@mratsim, starting from Intel MKL-DNN v1.0 has fully optimized GEMM implementation of it's own and does not rely on external libraries.

[2019-09-20 16:04] izdeby commented on #26428
Thanks for the fast review, @ezyang, @zou3519, @gchanan. After some offline discussions here is the overall plan:
step1 - implement the original [proposal](https://github.com/pytorch/pytorch/issues/26428#issuecomment-533322007)
step2 - follow up with the solution for a [boxed fallback dispatch problem](https://github.com/pytorch/pytorch/issues/26428#issuecomment-533588839).
step3 - merge variable

[2019-09-20 16:06] sublee opened #26544 "In-place operation after InstanceNorm breaks backward within heckpoint"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2019-09-20 16:06] #26544 closed

[2019-09-20 16:10] vpirogov commented on #26287
Hi @boegel,

Thanks for running the tests with the library. Intel MKL-DNN v0.18.1 builds with -mnative by default and validated on Intel AVX systems. So the defect in the library is unlikely here. We need @XiaobingSuper to reproduce the issue to debug further.

[2019-09-20 16:19] zou3519 commented on #26428
Here's a very future-facing enhancement that we don't need to execute on anytime soon. You might run into this problem while touching the JIT code generation if you haven't already.

The reason I asked about if any native_functions.yaml schemas are changing is because there's this problem with the JIT where it doesn't understand that `empty_like`'s keyword args are optional: https://github.com/pyt

[2019-09-20 16:26] sublee opened #26546 "Bug when an inplace op is done on the output of the forward of a autograd.Function and this output is a view of an intermediary result of the forward."
## 🐛 Bug

Gradients aren't backpropagated when all three conditions are met:

1. Use `torch.utils.checkpoint`.
2. Place `nn.InstanceNorm?d` right before any in-place module such as `nn.ReLU(inplace=True)`.
3. The checkpoint returns the result of the in-place module.

## To Reproduce

[code]

`x` the input tensor doesn't receive gradients. `x.grad` is still `None`, which is not expected.

## Expect

[2019-09-20 16:32] f2013519 commented on #26418
Sure, I'll wait for that. I've used pytorch before, but I'm new to the codebase.

 Can you pls. sketch out roughly how to go about adding this support, like which API's to use, which files may need to updated, or a PR that does something similar?

Thanks!

[2019-09-20 16:41] thiagocrepaldi commented on #20822
We have been working in something similar and we just pushed a first version for discussion of API, use cases, etc: https://github.com/pytorch/pytorch/pull/26547

It builds on `ChunkDataset` API originally implemented for C++ (ported to Python in this PR)  and the recent `IterableDataset`. Users can leverage the chunk concept to distribute data across workers with proper randomization and smooth i

[2019-09-20 17:06] mratsim commented on #26534
@vpirogov

MKL-DNN releases still ship with MKL-ML, or allow linking with MKL Gold releases from System Studio / Parallel XE.

I assume both MKL-ML and full MKL have further optimizations enabled, especially related to NUMA.

[2019-09-20 17:24] VitalyFedyunin commented on #19092
@rewonc we have considered the similar approach (adding option to operators instead of the deriving kernel from striding), and found it hard to apply for following reasons:

- This approach will require the kernel to do restriding of contiguous tensor to apply NHWC kernel.
- Next operator will have to restride input again (to contiguous) unless it also has `nhwc=True` option.
- To have NHWC across

[2019-09-20 17:31] rohan-varma commented on #25769
Fixed in #26364

[2019-09-20 17:31] #25769 closed

[2019-09-20 17:39] EtienneDesticourt opened #26551 "No way to disable mse_loss broadcasting warning"
## 🐛 Bug

Hi,

torch.nn.functional.mse_loss always throws a warning when using it with two tensors of different shapes.
There are legitimate reasons for wanting to use differently shaped tensor and taking advantage of the standard broadcasting behaviour of pytorch, so there needs to be a way to disable that warning.

## To Reproduce

[code]

## Expected behavior

There should be an optional parame

[2019-09-20 17:47] yaroslavvb opened #26552 "Support matmul for scalar tensors"
There's a natural way to extend matmul to vector and scalar quantities. Currently the scalar version is not supported

[code]

The reason is that this would make user code a bit simper. IE consider the following matrix expression `Y=X Z` with matrices `X, Y, Z`

Sometimes X is reduced by summing up the rows, or summing up the columns or both, but the formula is unaffected because there's an unambi

[2019-09-20 17:53] #26437 closed

[2019-09-20 17:54] colesbury commented on #26510
Yeah, this isn't good. You can view the links by choosing "view source" as a workaround.

The instructions on https://pytorch.org/get-started/previous-versions/ are also confusing. The URLs should be links -- you shouldn't have to copy-paste them.

[2019-09-20 17:57] mratsim opened #26555 "Build failure (sleef.h not found) in some hard-to-understand situations"
## 🐛 Bug

I installed pybind11 v2.3.0 systemwide (for fastText). PyTorch build system detects it, use it but then build fails.

## To Reproduce

Install pybind11 v2.3.0 system wide (distro used, Arch linux with the [following build script
](https://github.com/mratsim/Arch-Data-Science/blob/2739b1aa5bd1c955d15e9f8fd67087931bf623af/frameworks/python-pytorch-magma-mkldnn-cudnn-git/PKGBUILD#L38-L112)

[2019-09-20 18:00] colesbury commented on #26542
Thanks for reporting this. Tracking this issue in https://github.com/pytorch/pytorch/issues/26542

[2019-09-20 18:00] #26542 closed

[2019-09-20 18:01] colesbury commented on #26510
Also @pravitc reports access denied errors in https://github.com/pytorch/pytorch/issues/26542

[2019-09-20 18:06] colesbury commented on #26555
The error message doesn't look like it it's related to pybind11. The failure is in tensor_iterator_test.cpp, which does not use pybind11.

If you've checked out PyTorch from source, make sure you've got all the submodules up-to-date:
`git submodule sync --recursive` `git submodule update --init --recursive`. Also check `git status` for local changes. If all else fails, try a clean check out.

[2019-09-20 18:11] colesbury commented on #26537
The order of your arguments to conv_transpose2d is wrong:

You have:

[code]

The docs list:

[code]

https://pytorch.org/docs/stable/nn.functional.html#conv-transpose2d

So you're setting output_padding, which probably disabled cuDNN and also is probably not what you want.

If this isn't the case, please re-open the issue.

[2019-09-20 18:11] #26537 closed

[2019-09-20 18:12] vpirogov commented on #26534
@mratsim,

What you say is correct for v0.x releases and mnt-v0 branch. Current master branch and v1.0 release provide fully optimized GEMM and do not support linking with Intel MKL.

[2019-09-20 18:16] colesbury commented on #26552
This behavior is inherited from NumPy. Maybe someone from Quansight Labs can gives some context about this choice? Or cross-post on NumPy's Github?

[2019-09-20 18:21] colesbury commented on #26528
Yes, this is strange...

[2019-09-20 18:25] colesbury commented on #26532
Please follow up if you figure out what's wrong. The "cuda runtime error (30)" is a generic error; it doesn't give much information. Check `nvidia-smi` etc; restart your computer; re-install CUDA drivers; etc.

[2019-09-20 18:26] colesbury commented on #26538
Let's track the segmentation fault in https://github.com/pytorch/pytorch/issues/327.

The `0/torch.tensor(0)` is a new one... that's interesting

[2019-09-20 18:26] #26538 closed

[2019-09-20 18:27] dashesy commented on #18281
[This issue](https://github.com/pytorch/pytorch/issues/26184) is related. That may be a Python2 issue.

[2019-09-20 18:28] colesbury commented on #26540
`Functions.h` is a generated file (from the template). It looks

I'm not familiar with scripts/build_android. @ljk53, are you familiar with the Android build process?

[2019-09-20 18:32] colesbury commented on #26546
Not sure who to route this to... @sublee are you planning to investigate this further?

cc @gchanan: do we have someone in FB who will maintain the checkpointing code?

[2019-09-20 18:43] colesbury commented on #26530
There isn't enough information here to help with the issue. Please provide at least the basic information in the issue template (and re-open the issue).

[2019-09-20 18:43] #26530 closed

[2019-09-20 18:46] colesbury commented on #26551
Yes, patches welcome. cc @gchanan who mentioned this in the original issue

[2019-09-20 18:48] colesbury commented on #26551
FYI, as a workaround you can use:

a) `F.mse_loss(a, b.expand_as(a))` in your example
b) The [`warning`](https://docs.python.org/3/library/warnings.html) module to suppress warnings

[2019-09-20 18:49] sublee commented on #26546
@colesbury Yes, I do. I guess I can fix this issue by modifying `CheckpointFunction`.

[2019-09-20 18:50] colesbury commented on #15644
@houseroad can you look at this issue?

[2019-09-20 18:54] colesbury commented on #7841
I'm closing this since the original problem was solved with commit `fb5cc630f6f4cbdebde08e0e82a9679431afa9d2 `.

@juanmed, if you're running into build issues on Tegra can you open up a new issue with the relevant details (build logs, etc.)? Although, to be honest, I'm not sure how much effort we will put into to supporting PyTorch 0.4.

[2019-09-20 18:54] #7841 closed

[2019-09-20 18:57] houseroad commented on #15644
@ieee8023 ONNX so far only targets inference. So, we only guarantee that `torch.onnx.export` works correctly without interaction with autograd. Could you elaborate more about more about your cases? What's the plan after exporting the autograd grad to ONNX?

[2019-09-20 18:58] #24722 closed

[2019-09-20 19:09] yaroslavvb commented on #7535
Could this be solved by having a global `default_device` setting which places *most* tensors on GPU, and have the library make the decision intelligently? The issue https://github.com/pytorch/pytorch/issues/24261 mentions that internal library should place some tensors on CPU regardless of setting. Perhaps such Tensors should remain in CPU when constructed by user (scalars maybe?)

This would be a

[2019-09-20 19:21] karimhasebou commented on #26411
@opheliagame let me know how it goes, if you change your mind about implementing it. I would like to give it a try

[2019-09-20 19:25] karimhasebou commented on #8806
is this issue still present ?

[2019-09-20 19:31] #19679 closed

[2019-09-20 19:54] colesbury commented on #8806
I think the design has changed since the issue was written. `version_counter` is still in Variable, but I'm not sure we want to move it to Storage. We may want to combined the Storage and Tensor abstractions

[2019-09-20 20:32] #26328 closed

[2019-09-20 20:35] VitalyFedyunin commented on #24665
Duplicates #24534

[2019-09-20 20:35] #24665 closed

[2019-09-20 20:35] VitalyFedyunin commented on #24518
Dupe #24534

[2019-09-20 20:35] #24518 closed

[2019-09-20 20:36] #24564 closed

[2019-09-20 20:36] VitalyFedyunin commented on #24564
https://github.com/pytorch/pytorch/pull/25372

[2019-09-20 20:45] shawn-g-hu commented on #20941
hey william, i was only able to hack around this issue very naively with the following:

i went straight to the source file for the add function in the symbolic logic files: this should be in a directory somewhere like usr/local/lib/python3.6/dist-packages/torch/onnx/ , and the contents of that directory should vary depending on what version of pytorch you're using. Then, wherever the definition o

[2019-09-20 21:02] ezyang commented on #26433
Unfortunately Alexander Sidorov doesn't work on PyTorch anymore. I think there is not a good reason to not have the `__iadd__` overload, and would be happy to review a patch that added it back (implemented by calling `add`, I suppose.)

[2019-09-20 21:03] ezyang commented on #21745
@driazati So, we could fix this problem by changing that line, right? I wonder how old this code is lol. I guess there are BC concerns too.

[2019-09-20 21:07] ezyang commented on #21743
Note that, for some reason, the docs explicitly recommend using `latin-1`, rather than `utf-8`. I don't know why they suggest this. It would be good to at least check the commit that added this line and see if there is some back story.

[2019-09-20 21:08] ezyang commented on #26467
Your glibc is too old to run our binary build of PyTorch. You will need to build PyTorch from source. Sorry.

[2019-09-20 21:08] #26467 closed

[2019-09-20 21:10] jpellman commented on #24081
A couple other tidbits about my configuration:

* IOMMU is not on, virtualization is disabled, both in software and hardware.
* I'm able to replicate the issue by just running _p2pBandwidthLatencyTest_ (one of the CUDA examples, alluded to at https://github.com/pytorch/pytorch/issues/1637#issuecomment-338268158; thanks @rrkarim ) alone so it's definitely not a PyTorch issue.
* The issue is intermi

[2019-09-20 21:11] ezyang commented on #21257
Try 1.2.0

[2019-09-20 21:13] yaroslavvb opened #26566 "Python-API created tensors to go through `Tensor.__init__`"
It would be easier to customize PyTorch behavior if Tensors constructed through Python API called `Tensor.__init__` method because user could monkey-patch that method for new behavior

Examples:

1. CPU vs GPU placement. To run someone's CPU code on my data I had to mechanically append `.to(device)` to every instance `torch.ones`, `torch.randn` and `torch.eye`. This could instead by with `myutils.

[2019-09-20 21:18] SsnL commented on #21743
@ezyang I think I wrote that... with no real reason.

[2019-09-20 21:20] driazati opened #26567 "Make `torch.save` serialize a zip file"
## Why
Right now `torch.save` saves a series of 5 pickle binaries followed by raw tensor data that looks something like

[code]
`my_value.pt`
[code]

This has the problem that tensors must be lazily loaded since, when reading the `actual pickle`, the location of each tensor in `raw tensor data` is not known (it depends on other tensors saved, the sizes of which are at random points in `actual pick

[2019-09-20 21:22] driazati commented on #21745
Yeah we could get rid of it, the code is 3 years old. Due to some other issues we were thinking of doing #26567, which could remove this functionality, and we could keep the old load in place as-is to preserve full BC.

[2019-09-20 21:31] enchainingrealm commented on #26408
Yes, the memory and performance overhead should be specified in the documentation. Just from reading the current documentation, I saw no reason to disable anomaly detection, and that's why I left it on while training.

Further investigation revealed that my code is still leaking memory (albeit less severely) even with `set_detect_anomaly` disabled, because I forgot to call `.detach()` on the losse

[2019-09-20 21:42] yaroslavvb commented on #26552
Filed https://github.com/numpy/numpy/issues/14559

[2019-09-20 21:46] enchainingrealm commented on #26408
Strangely, Pympler does detect leaked PyTorch tensors in the example below:

[code]

[2019-09-20 22:05] hfarazi commented on #15644
In my case I want to draw the backward computational graph using something like: https://github.com/waleedka/hiddenlayer

[2019-09-20 22:09] houseroad commented on #15644
Have you checked this thread: https://discuss.pytorch.org/t/print-autograd-graph/692/42?

[2019-09-20 23:11] hfarazi commented on #15644
@houseroad Thanx for the suggestion but tensorboard visualization is also dependent on ONNX!

This is what I want to do for example:
`import torch
import torchvision
from torch.utils.tensorboard import SummaryWriter
import numpy as np

writer = SummaryWriter()

from torch import nn
import torch.nn.functional as F
class Net(nn.Module):
    def __init__(self):
        super(Net, self).__init__()

[2019-09-20 23:35] wanchaol opened #26578 "[jit] Fix future type annotation in python"
We should fix the `Future` type annotation to make it also work in python, fork will immediately execute the function single threaded and returns a Future of the result, which wait just unpacks.(the same way that tracing did).
[code]

cc @ezyang @gchanan @zou3519 @suo

[2019-09-20 23:38] mratsim commented on #26555
The error is:

[code]

I'm not too sure of what's going on either but it seems like the sleef.h file is autogenerated. COuld it be that the generation order of this sleef.h is impacted by the presence or absence of system pybind11?

[2019-09-20 23:42] hfarazi commented on #15644
@ieee8023 Thank!. This seems to work for my case:

[code]
<img width="380" alt="Screen Shot 2019-09-21 at 1 41 39 AM" src="https://user-images.githubusercontent.com/12081530/65364271-081a3200-dc11-11e9-9a9e-3f627470a7f0.png">

[2019-09-20 23:59] jamesr66a commented on #26555
I've seeen this occur when I pass AVX flags like `-mavx2` as CFLAGS to the PyTorch build. I think there are some issues in the CMake files that cause sleef to not be included in such a situation. I don't see anything from your build script that might suggest that's what's happening, though

[2019-09-21 00:06] jamesr66a commented on #26555
Ah! ` export USE_NATIVE_ARCH=ON`. That's gotta be the trigger. Does your build succeed without that?

[2019-09-21 00:55] parano commented on #19190
Hi @gautamkmr - I've been working on a library call BentoML https://github.com/bentoml/BentoML designed to make model serving easy for data scientists,  it has support for PyTorch, and very easy to get started.

Here are the two PyTorch & BentoML example notebooks we have in the repo:
https://colab.research.google.com/github/bentoml/gallery/blob/master/pytorch/fashion-mnist/pytorch-fashion-mnist.i

[2019-09-21 01:46] mratsim commented on #26555
Unfortunately even with `export USE_NATIVE_ARCH=OFF` it still failed.
This was after a clean checkout.

New tentative script with changes:
- no USE_NATIVE_ARCH
- BUILD_CAFFE2_OPS (didn't realize those were necessary for MKLDNN)
- USE_GFLAGS and USE_GLOG to ensure command-line flags are in the configuration recommended by the build system

rebuilding without system pybind and with third_party/pybin

[2019-09-21 03:25] sublee commented on #26546
I found the smallest pattern in [`at::instance_norm`](https://github.com/pytorch/pytorch/blob/v1.2.0/aten/src/ATen/native/Normalization.cpp#L462):

[code]

It can be reproduced without InstanceNorm. We need only one `grad_fn`, one `view`, and one in-place operation in a checkpoint:

[code]

In the above example, `out.grad_fn` should be `CheckpointFunctionBackward`, but it is `AsStridedBackward` in

[2019-09-21 03:41] karimhasebou commented on #26288
I will try implementing this feature, however this is my first time contributing to PyTorch. thus it might take some time.

[2019-09-21 03:44] sublee commented on #26546
I guess the combination of a tensor shaping function (`view()`, `t()`, `squeeze()`, `flatten()`, ...) and an in-place operation has a problem in autograd:

[code]

[2019-09-21 05:03] yaroslavvb commented on #26552
The reason for this treatment is given in PEP 465 -- https://www.python.org/dev/peps/pep-0465/#semantics

It allowed special treatment for rank-1 tensors because "practicality beats purity", but choose not to extend to rank-0 tensors because there's already a * operator which works for this case, so the case for practicality is not as strong.

It seems unlikely to change in numpy, and this doesn't

[2019-09-21 05:03] #26552 closed

[2019-09-21 05:08] rgommers commented on #26404
This happened when building with conda compilers only, and after updating my conda env and system cuda, glibc et al., I can't reproduce this anymore (because the build with conda compilers fails earlier due to an unrelated issue). I've switched back to system gcc 9.1. So I'll close this, if I can reproduce later I will reopen with a backtrace.

[2019-09-21 05:08] #26404 closed

[2019-09-21 06:14] mbabadi commented on #20343
I would like to add that I've run into a similar issue and I would appreciate a Aten native solution.

My inelegant and approximate solution at the moment is to truncate the support of the Binomial distribution around its mode, i.e. `|k - np| < MAX_SUPPORT`, calculate the Binomial `log_prob` for every allowed value, sample from a Categorical, and finally gather to Binomial. Of course this procedur

[2019-09-21 06:20] ThisIsIsaac commented on #26532
I get `torch.cuda.is_available() == False`.

[2019-09-21 09:20] amartya18x commented on #21257
Sorry @ezyang for this incredibly late response. I didn't receive the email notification for the mention somehow. (And yeah it has been a very long time haha! I do not recall much about this piece of code)

[2019-09-21 09:36] prolulu opened #26595 "ERFNet (pytorch) to ONNX"
I want to convert a ERFNet modelto ONNX, so I write some code as follows.
(This model is from https://github.com/wvangansbeke/LaneDetection_End2End)

[code]

BUT

[code]
After debug, I find the problem is from
torch/autograd/function.py", line 293, in _iter
[code]
In this function,
[code]

It let o = (int) 0 in a cycle and report ValueError.

Why does this zero be generated? How can I fix it?
If y

[2019-09-21 09:40] Hacky-DH commented on #21257
Thanks. It works in 1.2.0

[2019-09-21 10:29] mratsim commented on #26555
It seems like mavx2 is appended regardless of the USE_NATIVE_ARCH=ON:

https://github.com/pytorch/pytorch/blob/aa7852346772ddf10b0caf589d106ab96fc44955/cmake/Codegen.cmake#L102-L120

Looking into my build folder after failure I do have `./build/include/sleef.h` so it probably can be solved with a cmake include, but it should be set by the following code: https://github.com/pytorch/pytorch/blob/aa7

[2019-09-21 10:47] dschaehi opened #26596 "nn.Embedding with max_norm shows unstable behavior and causes sometimes runtime error."
## 🐛 Bug

An `nn.Embedding` object with `max_norm` set to `True` causes a RuntimeError that is hard to track.

## To Reproduce
The following code causes a RuntimeError. The error can be avoided by **removing the max_norm** feature or by **swapping Line a and Line b** in the code.
[code]

[code]

## Expected behavior
There shouldn't be any error when running the code above.
Strangely, there is no R

[2019-09-21 11:57] mratsim opened #26597 "BUILD_TEST=OFF does not work (Undefined symbol _ZN5torch3jit10testFusionEv)"
## 🐛 Bug

BUILD_TEST=OFF does not work, afterwards `import torch` will error with undefined symbol _ZN5torch3jit10testFusionEv

## To Reproduce

Steps to reproduce the behavior:

Build from source with BUILD_TEST=OFF, for example[ this script](https://github.com/mratsim/Arch-Data-Science/blob/caf742dcd235564715b6d015ebee719c87f40608/frameworks/python-pytorch-magma-mkldnn-cudnn-git/PKGBUILD#L56).

[2019-09-21 12:03] mratsim commented on #26555
Seems like duplicate of #26403 (USE_NATIVE_ARCH as well). Will reconfirm in a clean slate repo

Note that BUILD_TESTS=OFF allow the build to succeed, but due to #26597, PyTorch cannot be used at all.

[2019-09-21 14:11] mratsim commented on #26555
USE_NATIVE_ARCH=OFF and MKLDNN_USE_NATIVE_ARCH=OFF were not enough.

In the end I removed the offending test from the build script with:
[code]

Link to working build: https://github.com/mratsim/Arch-Data-Science/blob/48b4ad3b868acffb2eee47dfc6dcfe22e76a9cb7/frameworks/python-pytorch-magma-mkldnn-cudnn-git/PKGBUILD#L54-L56

Several past experiments can be seen in the history of that file.

[2019-09-21 14:49] XiaobingSuper commented on #26287
@boegel,  Can you collect your device details by `lscpu` so that I can compare your device's instruction set with my device. By the way, can you apply the follwing patch to pytorch,  this patch calls MKLDNN directly. If this patch can pass the test case, it is not MKLDNN's problem but ideep's problem.
[code]
Thanks!

[2019-09-21 15:04] smessmer commented on #26279
`test_equal` seems to be fragile too, see https://circleci.com/gh/pytorch/pytorch/2877951?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link/console which fails on master and the fix in https://github.com/pytorch/pytorch/pull/26599

[2019-09-21 18:03] ShahriarSS opened #26606 "namespace Reduction is not wrapped in torch namespace (C++ API)"
## 🐛 Bug

Hi. namespace ```Reduction``` in ```pytorch/aten/src/ATen/core/Reduction.h``` is not wrapped in any namespace. Is this intentional? This can result in namespace and enum conflicts with other projects. I think that it should live inside ```torch``` namespace.

[2019-09-21 18:11] sublee commented on #26546
This issue doesn't seem a problem at the checkpoint module. I think we should suppress `DifferentiableViewMeta` in `no_grad` mode:

[code]

@colesbury Now I'll submit a PR with this fix. Let's continue to talk in the PR.

[2019-09-21 18:36] trytolose commented on #23545
Hello! I use pytorch v1.2.0 and this bug still reproducible, I have same error when use nvidia apex(all types of optimization) and nn.ConvTranspose2d. I use CUDA 10.0 and Tesla v100

[2019-09-21 18:48] haruiz opened #26608 "AttributeError: module 'torch.jit' has no attribute 'unused'"
## 🐛 Bug

Error using the pytorch.hub API:
code:
[code]

[code]

cc @ezyang @gchanan @zou3519 @ailzhang @suo

[2019-09-21 22:50] thanhmvu opened #26610 "Backward consistent behavior for AvgPool2d/avg_pool2d in PyTorch 1.2"
## 🐛 Bug
Hi, it seems that pytorch 1.2 fixed a bug with `ceil_mode` in `F. avg_pool2d()` in previous versions of pytorch (at least 1.0 and 1.1). Particularly, before the default says `ceil_mode=False` but it seems to always be True. However, I wonder if the default behavior in pytorch 1.2 should be set to `ceil_mode=True` for backward consistency with 1.1 and 1.0.

## To Reproduce
[code]
### torch

[2019-09-21 23:25] suo commented on #26608
@eellison, @fmassa: it appears we're using unreleased features (`torch.jit.unused`) in torchvision master.

[2019-09-21 23:25] suo commented on #26608
@haruiz, a workaround is to install the pytorch nightly.

[2019-09-21 23:47] haruiz commented on #26608
@suo , that is actually what I did, using the nightly version works, thanks

[2019-09-22 02:21] Kylin9511 commented on #8126
@xdever I would like to thank you for your solution `os.system("taskset -p 0xff %d" % os.getpid())`

That really works for me. And all the rest solutions including `torch.set_num_threads(20)` and setting `OMP_NUM_THREADS` do not make any different...

And some more information for those brwosing this issue:

[2019-09-22 05:11] Minki-Kim95 commented on #26455
I found how to build caffe2 in raspbian
(https://caffe2.ai/docs/getting-started.html?platform=raspbian&configuration=compile)
I will try this method and if it is work, I will close this issue

[2019-09-22 07:40] fangjiarui commented on #17458
Hello, Hello, I have encountered a problem similar to @vonyud. Did you guys figure some solution to overflow problem in real cases using INT8?
See line 79 of fully_connected_dnnlowp_op_test.py
https://github.com/pytorch/pytorch/blob/ffc9e29844207f4befe548d79fcf18b46f2142e9/caffe2/quantization/server/fully_connected_dnnlowp_op_test.py
See line 39 of dnnlowp_test_utils.py
https://github.com/pytorch/

[2019-09-22 11:30] hahahaprince opened #26630 "How to script a model using c++ extension? I met this error"
## ❓ How to script a model using c++ extension? I met this error
[code]

[2019-09-22 13:19] kealennieh commented on #22682
I've got the same problem. However, the problem disappeared after I upgraded the version of cmake from 3.6.1 to 3.13.3.

[2019-09-22 14:41] ptrblck commented on #23545
@trytolose If I'm not mistaken the fix was added after the v1.2.0 code freeze.
Could you install the nightly binaries ([instructions](https://pytorch.org/get-started/locally/)) and try the code again?

[2019-09-22 16:29] ptrblck commented on #24891
@sujankh Could you follow [this advice](https://github.com/pytorch/pytorch/issues/26438#issuecomment-533225191) from @SrivastavaKshitij 's created issue?

[2019-09-22 17:05] igorsyl commented on #20240
@agadetsky Here's a proposed commit, however I'm not sure how to write the backward operation. https://github.com/pytorch/pytorch/commit/46cf977d50bed4dcc1bd1a93dbc98f23b6ac7ce2

[2019-09-22 17:54] fmassa commented on #26608
Torchvision master is not expected to work with PyTorch 1.2 or earlier. I think the collab examples should use a pinned version of torchvision instead

[2019-09-22 18:21] haruiz commented on #26608
@fmassa , then you guys should update also the documentation, please see the image below:

![2019-09-22_13-18-01](https://user-images.githubusercontent.com/3827551/65392563-d94caa80-dd3b-11e9-854d-33fd9e8075b5.png)

[2019-09-22 19:00] xsacha commented on #26630
Don't think it's related to C++.
It's saying your forward calls a Python function so it isn't fully scriptable. Do you have this DCNv2 function?

[2019-09-22 19:13] agadetsky commented on #20240
@igorsyl Thank you! Can you create PR? I can't find it if you have already did it. About gradient, I think it should be implemented in the same way as for `max`, when we propagate only current maximum (see https://discuss.pytorch.org/t/confused-about-torch-max-and-gradient/14283/7, https://stackoverflow.com/questions/53539348/what-is-the-backward-process-of-max-operation-in-deep-learning).

[2019-09-22 19:16] agadetsky commented on #26411
@opheliagame see https://github.com/pytorch/pytorch/issues/20240#issuecomment-533899082 for `cummax` implementation

[2019-09-22 20:01] v1093 commented on #22969
+1, happened to me as well. But with PyTorch version: 1.0.0

[2019-09-22 20:25] Krovatkin commented on #25804
Since nobody picked this one up yet, I'd like a friend of mine (@free25zer) to work on this issue as a way to get involved in open source.

[2019-09-22 21:02] VilleUH commented on #12983
Any solution?

[2019-09-22 21:45] xuhdev commented on #26455
You may wanna take a look at this: https://nmilosev.svbtle.com/compling-arm-stuff-without-an-arm-board-build-pytorch-for-the-raspberry-pi

[2019-09-22 22:40] gchanan commented on #25836
@ailzhang should this be closed?

[2019-09-22 22:43] ailzhang commented on #25836
@gchanan do you mean this issue? it's already closed right ;)?

[2019-09-22 22:49] vishwakftw commented on #7500
@yang-song batched `pinverse` has been added and is available in the nightly releases.

[2019-09-23 01:16] ThisIsIsaac commented on #26532
Rebooting the server fixed the problem.

[2019-09-23 01:16] #26532 closed

[2019-09-23 01:37] igorsyl commented on #20240
@agadetsky https://github.com/pytorch/pytorch/pull/26637  Still convincing myself if backward op is correct.

[2019-09-23 09:32] agadetsky commented on #20240
@igorsyl thank you! Try to check it numerically with `torch.autograd.gradcheck`. Don't forget to use `torch.DoubleTensor` precision when checking.

[2019-09-23 10:26] pirros commented on #25489
I solved the issue using [version scripts](https://www.gnu.org/software/gnulib/manual/html_node/LD-Version-Scripts.html), to hide all symbols apart from the one exported by my modules.
Thanks

[2019-09-23 10:26] #25489 closed

[2019-09-23 10:32] andreaskoepf commented on #26630
@hahahaprince Please use the forum for questions - https://discuss.pytorch.org/

[2019-09-23 11:44] andreaskoepf commented on #26165
@simunovic-antonio Do you mean the resident set size when you say "RESV"?

I was not directly able to reproduce the leak with Python 3.7.4 on Ubuntu 18.04.1 using the Pytorch 1.2 (anaconda install).

[code]

Without threading:

[code]

With threading:
[code]

Could you try to run your test-script using `/usr/bin/time -v`?

[2019-09-23 12:36] ezyang commented on #24081
Thank you for the detailed analysis. @jpellman, I agree with your analysis that this is not a PyTorch issue. Have you filed an nvbug for this yet?

[2019-09-23 12:36] ezyang commented on #21743
OK, let's default to utf-8 then :)

[2019-09-23 13:12] SsnL opened #26644 "[FR] easier switching between inplace / out-of-place ops"
## 🚀 Feature

Often times I find myself writing this pattern:
[code]

The context manager can be unified via `torch.set_enabled_grad(training)`, yet there is no easy way to switch between in-place and out-of-place ops.

Maybe we could, similar to `nn.ReLU(inplace)`, adding a kwarg to ops that supports inplace variants?

[2019-09-23 13:22] SsnL commented on #21743
Make sure to explicitly mention it in docs :)

[2019-09-23 13:25] ezyang commented on #26567
@soumith do you know how common it is for people to `torch.save` in a newer version of PyTorch, to pass to an older version?

[2019-09-23 13:52] ezyang opened #26645 "BC check test was failing on Friday and Saturday"
cc @ezyang @gchanan @zou3519 @houseroad @dzhulgakov

The BC test has been failing two out of four days it was introduced. This is too much noise: also, the fact that it ratchets every day means that it is easy to miss failures that are introduced on the weekend.

Here is an "internal" function which we shouldn't make any BC guarantees on. We need a way to filter these out (I think all `s_` prefixe

[2019-09-23 13:55] ezyang commented on #26608
Declassifying from jit, this is a packaging problem

[2019-09-23 13:57] Sriharsha-hatwar commented on #26354
Hi @gchanan I am pretty confused, I didn't see any python wrapper for this `as_tensor` function,  I believe I am missing something here, can you point me to write path if possible. thanks

[2019-09-23 13:57] fmassa commented on #26608
This is not a packaging problem. TorchHub always use the master version of the cloned repo by default. The examples should be updated, the packaging are correct I believe

[2019-09-23 14:02] ezyang commented on #26608
Reclassifying as hub. But it seems to me that it's not just an examples issue: hub should know what versions models are compatible with?

[2019-09-23 14:22] ezyang commented on #10326
This is fixed.

[2019-09-23 14:22] #10326 closed

[2019-09-23 14:27] ezyang opened #26646 "[RFC] Drop Windows CUDA 9.2 support"
@peterjc123 and I propose that we drop CUDA 9.2 binary build support for Windows, meaning that we only provide CUDA 10.1 binaries for Windows. Here is our reasoning:

* We strongly prefer to have a single CI provider on which we build all binaries. At the moment, CircleCI is that provider; however, it only supports a single Visual Studio version, that is too new for CUDA 9.2. To run CUDA 9.2 build

[2019-09-23 14:27] ezyang commented on #26646
cc @soumith

[2019-09-23 14:37] peterjc123 commented on #26646
Some more points:
1. The download count of CUDA 9.2 packages on Windows is low, which is only near 5k~6k, which is only nearly 10% of that for CUDA 10.0.
2. The nightlies for CUDA 9.2 on Windows never worked, but no issues could be found.

[2019-09-23 15:06] gchanan commented on #327
ya, I get that it's inconsistent now.  I don't really have a strong preference; I'd probably personally wait for https://github.com/pytorch/pytorch/pull/16960 just to do the right thing once, but if someone wants to jump ahead I wouldn't object.

[2019-09-23 15:15] gchanan commented on #26418
I'm actually going to take this because I want an end-to-end change to benchmark.

[2019-09-23 15:29] andreaskoepf commented on #327
I looked at the work done in https://github.com/pytorch/pytorch/pull/16960.

If this issue is still unassigned I would like to help with / look into it / work on it. I could prototype an alternative cuda-assert and determine if it is feasible to  recover from internal kernel failures.

I would like to evaluate the idea that @pietern that @ezyang mentioned in https://github.com/pytorch/pytorch/pull

[2019-09-23 16:27] dzhulgakov commented on #26645
So the failures aren't fully noise, it means the test is working. What is missing it seems is an ability to say "hey, changing these functions are fine".

For quantization and other features under development, it feels we want a whitelist saying that changing some functions is fine. We can even introduce a "due date" in the whitelist so that people don't forget to remove items from there.

For `s_

[2019-09-23 16:56] ezyang commented on #26645
Another thing I'm concerned about is whether or not the script picks up ALL bc-breaking changes, or bails out on the first one. If it bails out on the first one then after master is broken you will miss any further breaking changes.

[2019-09-23 17:00] houseroad commented on #26645
@dzhulgakov yes, whitelist should be added.

@ezyang yes, I am changing it to fail after iterating over all existing schemas.

[2019-09-23 17:00] ezyang commented on #327
No. I think we'd have to first do a refactor where we replace these all with a function that could eventually be rewritten to check the pinned memory.

Sam was specifically referring to what would happen if you forgot an error-signal check. If you have enough everywhere, things should be ok.

[2019-09-23 17:03] yf225 commented on #26428
@izdeby If I understand it correctly, are we going to remove `bartlett_window(..., options)` and only provide `bartlett_window(..., dtype, layout, device, pin_memory)` in variable_factories.h?

Functions in variable_factories.h are heavily used in the C++ API, and we rely on TensorOptions to allow setting some keyword arguments without specifying the full list of arguments to the function. Otherwi

[2019-09-23 17:04] colesbury commented on #26302
@zou3519 are you working on this?

[2019-09-23 17:11] ezyang commented on #26396
This seems reasonable. Feel free to mark me as reviewer for a PR.

[2019-09-23 17:13] cpuhrsch commented on #26334
Ah I see, you want a CUDA implementation of this?

[2019-09-23 17:15] cpuhrsch commented on #26341
@ayaabdelsalam91 - Usually we don't add code to the core of PyTorch that is very new or non-standard even if doesn't take a lot of code, because it increases the API surface and complexity. The same applies here.

[2019-09-23 17:17] ezyang commented on #26344
@pietern says that there is a Linux specific prctl, PDEATHSIG, which propagates parent's signal to the children. Another way to do this is to have a pipe that, when closed, causes people to die.

@colesbury says that there is a choice between building something on top of multiprocessing; but the more complicated your abstraction is, the harder it is for people to do something using existing docume

[2019-09-23 17:21] ezyang commented on #26527
FWIW, einsum is implemented in C++. (Tensor networks may be relevant). Also cc @zou3519

[2019-09-23 17:22] colesbury commented on #26534
cc @VitalyFedyunin @gottbrath

[2019-09-23 17:26] driazati commented on #26567
We’ve had quite a few issues with that internally for TorchScript’s serialization since people usually develop on master but a lot of the internal services are on weekly pushes (or something similar). The “fix” has typically been to tell them to rebuild their binaries, but I don’t know if that works here.

[2019-09-23 17:26] colesbury commented on #26527
@ezyang and @fmassa suggest implementing this with einsum for now.

[2019-09-23 17:30] colesbury commented on #26608
cc @ailzhang -- I also reported this on https://github.com/pytorch/hub/issues/55

[2019-09-23 17:33] ezyang commented on #26510
I regenerated the index html to render without view-source.

[2019-09-23 17:33] ezyang commented on #26510
For reference, the command I ran was:

[code]

in https://github.com/pytorch/builder

[2019-09-23 17:47] ailzhang commented on #26608
`entrypoints = torch.hub.list('pytorch/vision', force_reload=True)` loads from vision master which depends on pytorch master. I think `entrypoints = torch.hub.list('pytorch/vision:v0.4.0', force_reload=True)` should work. Hub CI tests against latest pytorch & vision conda releases.
I agree it's good to annotate the current stable releases for these repos...

[2019-09-23 18:00] dashesy commented on #26127
I tried on nightly this seems to be fixed, will re-open if later I see this again.

[2019-09-23 18:00] #26127 closed

[2019-09-23 18:02] VitalyFedyunin commented on #26401
At this moment type promotion can create up to 3 additional kernels:

[code]
Two additional kernels here https://github.com/pytorch/pytorch/blob/caed485873a750fa698c402e7d64f9b1c386cca9/aten/src/ATen/native/TensorIterator.cpp#L176 (one of kernels are clearly unnecessary and I will have PR fixing it today)

And one here
https://github.com/pytorch/pytorch/blob/caed485873a750fa698c402e7d64f9b1c386cca

[2019-09-23 18:22] #24585 closed

[2019-09-23 18:54] zou3519 commented on #26302
I'm going to unassign myself now due to lack of bandwidth. If it's still not assigned to anyone in 1-2 weeks I can pick this back up.

[2019-09-23 18:54] jianyuh commented on #26534
cc @xw285cornell @bddppq @fgvanzee @devinamatthews @dnparikh.

[2019-09-23 19:10] Kaixhin commented on #26341
If you would like to contribute this then https://github.com/pytorch/contrib would be a good place to do so.

[2019-09-23 19:31] vadimkantorov commented on #26644
One problem is that some ops support inplace, but cannot be chained together without additional work, e.g. ReLU+Dropout (both inplace) [is not supported](https://discuss.pytorch.org/t/relu-dropout-inplace/13467/9) without resorting to https://gist.github.com/vadimkantorov/360ece06de4fd2641fa9ed1085f76d48

[2019-09-23 19:58] ezyang commented on #26428
@yf225 Iurii's proposal doesn't affect the public C++ API; it purely affects details of how we do internal implementation.

[2019-09-23 20:13] yf225 commented on #26428
@ezyang Sounds great - as long as we still provide public C++ variable factory API (such as `torch::bartlett_window`) that takes TensorOptions instead of the full list of tensor options, we should be in good shape.

[2019-09-23 20:24] Maverobot opened #26659 "torch::nn::Sequential not compatible with torch::nn::RNN"
## 🐛 Bug

Hello,

I am very new to Pytorch and trying to create a simple example using C++ frontend. After a long time of trying, I found out that I cannot get `torch::nn::Sequence` to work with `torch::nn::RNN`. Nor could I find any example code online where these two are combined.

## To Reproduce

To reproduce the issue, use the following simple example
[code]
The above code compiles but gives

[2019-09-23 20:34] BramVanroy opened #26664 "Where did 1.2.0 go on the website?"
## 🐛 Bug

Trying to download torch 1.2.0 on Linux, but installation fails because 'no matching distribution was found for `torch==1.2.0+cu92`. At first I thought this was related to https://github.com/pytorch/pytorch/issues/26646 and that all of a sudden CUDA 9.2 support was dropped, also for Linux, but upon closer inspection of [the download page](https://download.pytorch.org/whl/torch_stable.htm

[2019-09-23 20:34] jamesr66a commented on #26597
@eellison can you take a look at this one? I see you split up the tests there ~6 mo ago

[2019-09-23 21:04] jamesr66a opened #26669 "Make ROCm convolution work with empty batches"
Similarly to what was done in https://github.com/pytorch/pytorch/pull/26253, ROCm should be able to handle convolutions with an empty batch.

Very directly, we should be able to remove `test_cuda=(not TEST_WITH_ROCM),` from these tests https://github.com/pytorch/pytorch/pull/26214/files#diff-f3660ed35a2c5a6da42ee5eaf54cb3a3R1227 and the code should still run properly

cc @jeffdaily @sunway513

[2019-09-23 21:22] eellison opened #26671 "[JIT] Error message with custom forward and module container"
##  Better error message with Custom Forward and Module Container

We don't support a custom forward for `ModuleList`, `ModuleDict`, or `Sequential`. We should give a better error message in these cases.

[code]

## Expected behavior

In the above example, `TestModuleList` inherits from `ModuleList` and defines its own custom forward, which is not currently supported. We should give a clear error

[2019-09-23 21:26] neerajprad commented on #26664
We are facing the same issue and this is breaking our CI. cc. @fritzo

[2019-09-23 21:39] Roffild opened #26673 "Annotation Problem *.pyi"
## 🚀 Feature

It is difficult to control the validity of function arguments when they are in different files.
Very often the information in *.pyi does not match *.py.
https://github.com/pytorch/pytorch/blob/fcd13549f923342a7474993928d86181b75734d3/torch/utils/data/dataloader.pyi#L35
I suggest using Python 2 Annotations:
[code]
You can expand this format to indicate in which file to place annotatio

[2019-09-23 21:41] soumith commented on #26664
This is fixed now, I manually fixed them.
I have to see why they were overwritten with a previous version.

[2019-09-23 21:46] BramVanroy commented on #26664
Thanks. Pip installation works fine now again as well.

[2019-09-23 21:46] #26664 closed

[2019-09-23 22:11] alicanb commented on #26334
cdf of T distribution is a special function in cephes library [stdtr](https://github.com/scipy/scipy/blob/master/scipy/special/cephes/stdtr.c), which is not trivial to port it to aten, let alone cuda. It would be awesome if somebody made a PR for this, it would be a guide for porting other cephes functions as well.

[2019-09-23 22:30] suo commented on #25871
Mitigated by https://github.com/pytorch/pytorch/pull/26682

[2019-09-23 22:44] yaroslavvb commented on #25723
Here's another situation I have to deal with. There are various statistics that can be extracted from backward values, and the choice doesn't have to be known until backwards call.

1. Ideal module hooks API would look like this
[code]

2. Using Tensor hooks API, I can register a "master hook" in the beginning, and customize its behavior before each backwards call

[code]

It looks to have similar

[2019-09-23 23:59] Belkharym opened #26691 "Support FPGA Xilinx"
Hello, World!

We are a group intending to accelerate some Pytorch operations on Xilinx UltraScale FPGAs. However, we are a little lost to where to begin to port the functions.

From what we could see, we think we can start from the CUDA implementation and modify it to use the OpenCL API and add an FPGA device type and components _(Streams, Storage, Tensors, ...)_.

We would like to have some guid

[2019-09-24 00:12] Data-drone commented on #7455
see https://github.com/NVIDIA/DeepLearningExamples/tree/master/PyTorch/Classification/RN50v1.5 for how Nvidia do it that might help?

[2019-09-24 00:22] jfc4050 commented on #24959
one thing that makes this hard is `processRequestBlocking` returns a `Message` of type `MessageType::PYTHON_RET` regardless of whether or not an exception was thrown in the python code.

This makes it tough for `ProcessGroupAgent` to know whether or not to prepend a caller side stack trace to the response payload, beyond doing a string search for `RemoteException` in the payload which seems hacky

[2019-09-24 00:23] driazati opened #26693 "[jit] `zip` and `enumerate` can't be used in a list comprehension"
We should unify this with our normal list creating code for the reasonable cases

cc @suo

[2019-09-24 00:24] #24791 closed

[2019-09-24 00:24] #25865 closed

[2019-09-24 00:47] Minki-Kim95 commented on #26455
Finally I finish the install

This is my progress after caffe2 error

1. follow build caffe2 tutorial
(https://caffe2.ai/docs/getting-started.html?platform=raspbian&configuration=compile)
[code]
this caffe2 build also takes long time

2. meet another caffe2 build error (undefined reference to __atomic_fetch_add_8')
but this issue (https://github.com/pytorch/pytorch/issues/22898) help me how to res

[2019-09-24 00:47] #26455 closed

[2019-09-24 00:49] Minki-Kim95 commented on #26455
@xuhdev if I need to use v1.1.0, I will try that tutorial. Thanks :)

[2019-09-24 01:02] roderickObrist opened #26698 "MultiheadAttention and DDP incompatability"
Hi Guys,

First of all thanks for a great code base. I know I'm not following the bug guidelines but I thought you guys might appreciate a heads up.

nn.MultiheadAttention allows you to provide different keys/value dimensions. When this happens the flag _qkv_same_embed_dim becomes False.

[code]

As you can see self.in_proj_weight is initialised regardless.

In DDP all parameters expect gradients,

[2019-09-24 01:23] soumith commented on #26698
cc: @zhangguanheng66

[2019-09-24 02:08] HongyanJiao opened #26701 "TransformerEncoderLayer: keyword argument 'activation'"
code:
import torch.nn as nn
encoder_layer = nn.TransformerEncoderLayer(d_model=512, nhead=8,activation='gelu')
bug:
TypeError: __init__() got an unexpected keyword argument 'activation'

![1569290665](https://user-images.githubusercontent.com/44488820/65475671-efc94200-deb2-11e9-9cdf-674b2ac6cf48.jpg)

[2019-09-24 03:02] blackxer opened #26707 "How to build pytorch for android"
## ❓ How to build pytorch for android

when i run  this command,
[code]
i got follow errors
[code]
My env:
- pytorch-1.1.0
- cmake-3.15.1
- android-ndk-r20

[2019-09-24 05:11] neginraoof commented on #26189
@dashesy this should be fixed. Could you please try and close this issue if possible?

[2019-09-24 05:12] neginraoof commented on #26138
@dashesy could you please close this if fixed?

[2019-09-24 06:17] deep-practice commented on #23999
got the same error too

[2019-09-24 06:40] andreaskoepf commented on #26701
You are probably using an old version of PyTorch. The `activation` parameter was recently added (26 days ago), see https://github.com/pytorch/pytorch/commit/0cc92de447962ea9fdcaacb2f4101190f1d5cd8c#diff-c5db6ae353758a64f3e73dd758728cb7 and is not part of PyTorch 1.2.

You might try to install `pytorch-nightly`, see https://pytorch.org/get-started/locally/

[2019-09-24 06:45] kaonick commented on #26456
I put my model and code on github, if you can, please try it out (please pay attention to the operation instructions, choose 1 for CUDA, 2 for CPU).
Https://github.com/kaonick/libtorch-gpu
You should know it, it seems very strange.

Because the model is not small, please note that if you use the GPU, the GPU RAM should not be too small, otherwise it will be destroyed.

[2019-09-24 07:12] codehumanity opened #26710 "Facing "Dimension mismatch - did you forget to set broadcast=1" in Caffe2"
## 🐛 Bug

We tried to run inference on a trained pytorch model, by converting to onnx and loading to caffe2.
We encountered below error message:
[code]

## To Reproduce

Steps to reproduce the behavior:

1.

dummy_input_2 = torch.tensor([[1,100]])
dummy_input_3 = torch.tensor([[1,100]])
dummy_output_1, dummy_output_2 = trained_model( input_ids = dummy_input_2, token_type_ids=dummy_input_3)

dummy_

[2019-09-24 08:02] robosina opened #26712 "[BUG Report] torch.from_numpy crashes the program"
##  Issue description
I have two different version of `pytorch` in my system, one of them that could find gpu is not capable of reading data from `numpy` to tensor format, each time that I tried to execute below code, It seems that python kernel will die.

    import torch
    torch.cuda.is_available()    # result is true
    import numpy as np
    array = np.array([1,2,3])
    tensor = torch.from

[2019-09-24 08:42] robosina commented on #26712
I reinstalled torch using anaconda-navigator and it seems that the problem has been solved

[2019-09-24 08:42] #26712 closed

[2019-09-24 08:51] LeviViana commented on #21412
@Dorozhko-Anton

[2019-09-24 08:52] LeviViana commented on #20529
@Dorozhko-Anton

[2019-09-24 09:11] oh-y opened #26714 "spectral_norm used in RNN causes "parameter types mismatch" in GPU"
## Issue description
spectral_norm used in `nn.Linear` is okay. But when it's used in `nn.RNN`,there will be a
[code]

## Code

[code]
## Environment
 - PyTorch Version (e.g., 1.0): 1.1.0
 - Python version: 3.6.8
 - CUDA/cuDNN version:  cuda9.0

[2019-09-24 10:01] joe8086 opened #26715 "provide traced model graph syntax spec"
## 🚀 Feature
Provide pytorch traced model graph syntax specification.

## Motivation
We plan to deploy pytorch on our inference platform.
So far the only path is pytorch --> onnx --> target platform.
But this path may break in sometimes.
We want to parse pytorch traced model to target platform directly.
We can see traced model have it's syntax, tokens define, but there's no document can refer.
Lik

[2019-09-24 11:17] humandotlearning commented on #17395
Hi i would love to do this as my first PR, could you guide me to all the files from which norm_except_dim should be removed? and if this issue is still valid @soumith @VitalyFedyunin

[2019-09-24 11:23] Tee0125 commented on #17162
The problem can be avoided with initializing num_batches_tracked with dummy value.

Code used is as in below:
[code]

[2019-09-24 12:35] ezyang commented on #25723
@yaroslavvb Do you want to open a new feature request issue for this?

[2019-09-24 13:14] codehumanity commented on #26710
Is the error related to this bug:

https://github.com/microsoft/onnxruntime/issues/1533
https://github.com/microsoft/onnxruntime/pull/1380

[2019-09-24 13:51] VitalyFedyunin commented on #8806
Ideally we want to combine Tensor and Storage, this project will likely start mid-ish H1 2020 after Th->Aten is done.

[2019-09-24 13:51] #8806 closed

[2019-09-24 13:58] VitalyFedyunin commented on #26608
Should we move such issue into the hub, instead of keeping them duplicated?

[2019-09-24 14:01] agiokas-dbg commented on #24834
I can confirm the same. It seems to happen on `AWS Deep Learning AMI` which is:
* PyTorch version 1.2.0
* OS Ubuntu 160.4
* Installed using `pip install -r requirements.txt`
* Python version 3.6.6
* CUDA 10 cuDNN 7.0

Below is the actual output:

[code]

The exact same code and package runs fine on Ubuntu 18.04 with exactly the same setup!

[2019-09-24 14:03] ailzhang commented on #26608
I'll close this one and track in the hub issue. I'm thinking about what's the best way to track stable release in webpage. If you have ideas, please let me know!

[2019-09-24 14:03] #26608 closed

[2019-09-24 14:04] soumith commented on #26567
we dont need to keep compatible a `torch.save` in a newer version of PyTorch that works in an older version.
However, just like pickle protocol versions, we should allow folks to save in the older format for atleast another major version, so something like `torch.save(...., protocol=4)` or something

[2019-09-24 14:09] #24650 closed

[2019-09-24 14:12] #4669 closed

[2019-09-24 14:15] VitalyFedyunin commented on #26606
Should be folded into `at` namespace. Feel free to submit PR fixing it.

[2019-09-24 14:16] soumith commented on #26646
only a single Windows CUDA version seems good to me.
Greenlight from my side!

[2019-09-24 14:19] zhangguanheng66 commented on #26698
@roderickObrist Thanks for bringing up the issue. I will reproduce the error and fix it.

[2019-09-24 14:19] peterjc123 commented on #26646
Well, looks like Microsoft has fixed the agents and the upload issue is fixed. I don't think we need to do this in a hurry now.

[2019-09-24 14:27] #26408 closed

[2019-09-24 14:30] ezyang commented on #26645
Failing again today: https://circleci.com/gh/pytorch/pytorch/2911203?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link/console

[2019-09-24 14:35] #26701 closed

[2019-09-24 14:42] #26630 closed

[2019-09-24 14:42] boegel commented on #26287
Output of `lscpu`:

[code]

I'll try the suggested patch, and keep you posted...

[2019-09-24 14:43] soumith commented on #23795
Based on the conclusion of this thread, I've sent a PR to sign python3 statement at: https://github.com/python3statement/python3statement.github.io/pull/264

[2019-09-24 14:48] soumith commented on #23795
posted on the forums and slack.

[2019-09-24 14:52] soumith commented on #24834
@agiokas-dbg and others.

I suspect that this is because of a duplicate PyTorch install (or related files) lingering somewhere on the file system.

Can you try `pip uninstall -y torch; pip uninstall -y torch` and then reinstall, and try again?

[2019-09-24 14:56] soumith commented on #26597
marking this as high pri because BUILD_TEST=OFF is needed for binary builds.

[2019-09-24 14:57] soumith commented on #26341
closing based on discussion above

[2019-09-24 14:57] #26341 closed

[2019-09-24 15:09] #26707 closed

[2019-09-24 15:13] sp2823 opened #26717 "How to use RandomSampler?"
## 🐛 Bug

class RandomSampler in torch/utils/data/sampler.py

def __iter__(self):
        n = len(self.data_source)
        if self.replacement:
            return iter(torch.randint(high=n, size=(self.num_samples,), dtype=torch.int64).tolist())
        return iter(torch.randperm(n).tolist())

problem:
`return iter(torch.randperm(n).tolist())`

If you want to get a random int number in [0,n) when

[2019-09-24 15:31] soumith commented on #26717
please use https://discuss.pytorch.org for questions

[2019-09-24 15:31] #26717 closed

[2019-09-24 15:40] guissart commented on #22906
@vimalthilak it work but do not produce the exact same result. This trick replace bilinear 2d interpolation with linear 2d interpolation. That should be the reason why this definition is missing, bilinear is not yet implemented.

[2019-09-24 15:41] Sriharsha-hatwar commented on #26354
Hi @gchanan I think I have found where I need to modify the code I believe the
`static PyObject * THPVariable_as_tensor` in pytorch_torch_functions.cpp returns
`THPVariable_Wrap(torch::utils::as_tensor(..` and I believe this as_tensor utility is where I have modify the existing code which is in tensor_new.cpp , I will look into this and paste more info as I go on analysing, please let me know If I

[2019-09-24 15:52] gchanan commented on #26354
@Sriharsha-hatwar that sounds like the correct function(s) to update -- good start!

I don't have any advice on the develop/install step on Mac (I've never done it myself).  I would suggest posting about that on the forums, someone can probably help you there.

[2019-09-24 15:53] abonnet opened #26721 "Compiling master with PARALLEL_BACKEND=NATIVE_TBB option is failing"
## 🐛 Bug

Compiling master with PARALLEL_BACKEND=NATIVE_TBB option is failing, commit `9f3351de81517533ef0f86a9086e99795e936e97`

## To Reproduce

Steps to reproduce the behavior:

1. Clone repo: git clone --recursive https://github.com/pytorch/pytorch
2. Run:
[code]
3: Relevant error part:
[code]

I believe the error is due to the commit https://github.com/pytorch/pytorch/commit/ad0af1127b09f9ee9

[2019-09-24 16:04] soumith commented on #26721
@abonnet himself will be working on it, fyi to everyone else

[2019-09-24 16:21] tacaswell commented on #23795
Apologies for crashing in from the :peanuts: gallery.

One thing that is important to note in these discussions is that I have never seen anyone propose to pull down the existing py2 artifacts so python2 users can continue at the status quo forever.  The question is will py2 users be able to get the _latest_ version of pytorch.

I suspect pypi numbers are going to over-estimate your py2 usage as C

[2019-09-24 16:30] suo commented on #26597
looking

[2019-09-24 16:37] umanwizard commented on #22078
@gchanan, Nvidia contacts have said a fix is unlikely; unless there is new information then I think given #22034 this can be closed. Will let someone on the pytorch team make the call on whether to close this though.

[2019-09-24 16:49] jxy commented on #24810
Did `setup.py` get to run?  It looks to me only `cmake` and `make` is called.  Maybe you don't want `USES=cmake` but still include `cmake` as a build time dependence somehow, or run `setup.py` separately?

[2019-09-24 16:52] suo commented on #26597
Does not repro from a clean build of:
[code]

[2019-09-24 16:59] VitalyFedyunin commented on #26721
cc @zdevito @ilia-cher

[2019-09-24 17:02] VitalyFedyunin commented on #26400
Leaving untriaged as it still requires reproduction

[2019-09-24 17:04] zdevito commented on #26721
Is this pathway tested in CI?

[2019-09-24 17:06] guissart commented on #22906
hello,
@vimalthilak thanks to your solution.
it appere that it doesn't produce the same output, ONNX have a different align_corners=False interpolation implementation that pytorch.
here a piece of code to compare :
[code]
and the output :
[code]
That is far differents behaviour...

[2019-09-24 17:07] suo commented on #26597
@soumith do you know how those version hashes are calculated? `git show aa787523` is not finding anything

[2019-09-24 17:11] #26032 closed

[2019-09-24 17:17] EricCousineau-TRI commented on #19668
Ironically, the incidental reference to #45 (as a line numbers) *could* be a root cause, due to `pytorch`s use of `RTLD_GLOBAL`.

We're running into this in https://github.com/RobotLocomotion/drake/issues/12073, which seems like it has been run into on pytorch/pytorch#19739 and pytorch/pytorch#21018.

[2019-09-24 17:19] sp2823 opened #26724 "bug of RandomSampler"
## 🐛 Bug

class RandomSampler in torch/utils/data/sampler.py

`def __iter__(self):`
`n = len(self.data_source)`
`if self.replacement:`
`return iter(torch.randint(high=n, size=(self.num_samples,), dtype=torch.int64).tolist())`
`return iter(torch.randperm(n).tolist())`

problem code:
`return iter(torch.randperm(n).tolist())`

If you want to get a random int number in [0,n) when `__iter__(self)` is c

[2019-09-24 17:21] driazati opened #26725 "[jit] TorchScript classes don't support `__call__`"
cc @suo

[2019-09-24 17:26] driazati opened #26726 "[jit] Recursive script doesn't pick up TorchScript class attributes"
[code]

cc @suo

[2019-09-24 17:29] driazati opened #26727 "[jit] `zeros_like` needs full Tensor options to work"
[code]

outputs

[code]

cc @suo

[2019-09-24 17:32] driazati opened #26729 "[jit] Cannot access tensor layout"
[code]

cc @suo

[2019-09-24 17:35] driazati opened #26730 "[jit] Bad error when instantiating TorchScript class with incorrect types"
If the Python object has a different type for an attribute than the TorchScript class, then the error is a pybind miscast:

in `__init__` of a module:
[code]

[code]

[code]

[2019-09-24 17:35] yaroslavvb commented on #598
Can someone summarize why this turned out to be hard to implement?

[2019-09-24 17:37] yaroslavvb commented on #25723
There's actually an issue for this already -- https://github.com/pytorch/pytorch/issues/598

[2019-09-24 17:38] driazati opened #26731 "[jit] dtypes don't support `is_floating_point`"
[code]

[code]

cc @suo

[2019-09-24 17:59] EricCousineau-TRI commented on #3059
We're having issues in https://github.com/pytorch/pytorch/issues/3059 that I believe is due to the use of `RTLD_GLOBAL`, and it seems like this may affect the following other issues:
* pytorch/pytorch#19739
* pytorch/pytorch#21018
* https://github.com/pytorch/pytorch/issues/19668

It would be nice if there were a way to avoid the use of `RTLD_GLOBAL`, though I don't have a suggested feasible solut

[2019-09-24 18:11] vincentqb commented on #23796
I'm reopening in case other users would like to give feedback on this.

[2019-09-24 18:12] mru4913 commented on #499
@shir994
Your padding is not being used.

[2019-09-24 18:12] #26342 closed

[2019-09-24 18:24] albanD commented on #598
Hi,

As many things touching the autograd engine, this is hard because of inplace operations!
We need a way to attach to all the differentiable inputs/outputs and get all the gradients for the input at once.

The current approach simply hooks onto the last Node associated with the first output. So for complex modules, it misses all intermediary results and is fairly broken.

The new approach I tri

[2019-09-24 18:32] VitalyFedyunin commented on #26596
Per documentation (of functional.embedding):

max_norm (float, optional): If given, each embedding vector with norm larger than `max_norm`                                    is renormalized to have norm `max_norm`. **Note: this will modify `weight` in-place.**

So we need to update https://pytorch.org/docs/stable/nn.html#embedding accordingly.

[2019-09-24 18:36] VitalyFedyunin commented on #26610
Agree this looks like compatibility breaking, feel free to submit PR fixing it.

[2019-09-24 18:45] ilia-cher commented on #26721
we need to add this build option to CI builds, also cc. @kostmo

[2019-09-24 18:47] ilia-cher commented on #26721
I'll work on adding CI builds this week for TBB and NATIVE backends

[2019-09-24 18:48] jxy commented on #24810
Setting `USE_PYTHON=distutils`, with some manual interventions like copying `tools` and `torch` directories to the `.build` directory, creating `build` and linking `CMakeCache.txt` under it, linking `.build/lib/*.so` under `.build/torch/lib`, turning off `RUN_BUILD_DEPS` in `setup.py`, and running `make stage`, after `cmake` and `make` finishes, I had a seemingly correct build (though something st

[2019-09-24 18:49] VitalyFedyunin commented on #17395
To start please compare performance of `torch.norm` vs `_norm_except_dim` both CPU and CUDA. If the comparable, I can provide guidance how to remove this function entirely.

[2019-09-24 18:50] VitalyFedyunin commented on #17395
BC-breaking as we will mark operator as deprecated.

[2019-09-24 18:56] #22078 closed

[2019-09-24 19:21] Chillee commented on #26693
Similar issue to this, I believe: https://github.com/pytorch/pytorch/issues/22483

[2019-09-24 19:23] rgommers commented on #19088
Closing seems accidental, only `erfinv` got implemented - reopening.

[2019-09-24 19:23] VitalyFedyunin commented on #3059
@soumith do you think we can change it with TH/THC/THNN/THCUNN/THP deprecation in mind?

[2019-09-24 19:26] soumith commented on #3059
@VitalyFedyunin afaik, we cannot remove the use of RTLD_GLOBAL if we want to keep `cpp_extensions` or cpp jit extensions.

The ability for extensions to not link to `libtorch.so` (as the location of it is not known before-hand), but still assume it will be available has to be preserved.

[2019-09-24 19:27] soumith commented on #3059
So in effect, my answer above in the thread has changed from TH/THNN etc. to ATen

[2019-09-24 19:32] VitalyFedyunin commented on #26724
We don't want to shuffle again as we want iterator to return specific number of elements. Current implementation with torch.randperm(n).tolist() allows us to return random and **non repeating** numbers. If you have better (performance/memory-wise) solution, feel free to submit PR.

[2019-09-24 19:32] #26724 closed

[2019-09-24 19:55] VitalyFedyunin commented on #26659
Nothing to do with Sequential, similar result if you
[code]

[2019-09-24 20:05] driazati opened #26744 "[jit] Default args don't work with TorchScript classes"
[code]
[code]

[2019-09-24 20:10] VitalyFedyunin commented on #26659
I agree that errors should be much better (so lets leave it open), but please consult input and hidden sizes with Python documentation https://pytorch.org/docs/stable/_modules/torch/nn/modules/rnn.html

[2019-09-24 20:10] dschaehi commented on #26596
I see. Could you explain why swapping Line a and Line b then does *not* lead to the same error?

By the way, setting `max_norm` to `True` allows for back propagation in normal case. Otherwise it won't make sense to use `max_norm` at all in practice. Perhaps what matter in my example above is when the normalization step happens, i.e., whether it happens immediately after back propagation or during

[2019-09-24 20:17] VitalyFedyunin commented on #26400
BTW it looks like you have error in your data loading or models and different GPUs return tensors with different sizes.

[2019-09-24 20:20] driazati opened #26747 "[jit] `dict()` with kwargs doesn't work"
[code]

cc @suo

[2019-09-24 20:27] VitalyFedyunin commented on #26596
Because when you call `embedding(idx)` it actually does `F.embedding` which (with `max_norm` provided) inplace modifies `embedding.weight`

[2019-09-24 20:29] boegel commented on #26287
@XiaobingSuper With the patch applied, all tests (incl. `test_softmax`) pass on Intel Sandy Bridge for me...

[2019-09-24 20:33] EricCousineau-TRI commented on #3059
Thanks for following up!
Just to check, can I ask which aspect of ATen / `cpp_extensions` / CPP JIT require `RTLD_GLOBAL`, vs. just `RTLD_LAZY`?
Is there shared global / static / `extern` state that must avoid duplication?

[2019-09-24 20:41] suo commented on #26715
Hi! We do not provide a specification for the IR syntax because we do not guarantee that the string representation is stable. Therefore, it's not a good idea to base your deployment strategy on it.

As an alternative, consider using `torch.jit.save` and `torch.jit.load` to serialize your pytorch model. We *do* provide backwards compat and stability guarantees for that format.

[2019-09-24 20:41] suo commented on #26710
cc @houseroad, who is the right person to look into this?

[2019-09-24 20:45] jpellman commented on #24081
I just did.  You can find it [here](https://developer.nvidia.com/nvidia_bug/2712582) (NVBug 2712582).

[2019-09-24 20:54] soumith commented on #3059
@EricCousineau-TRI afaik the CI should give signal, yea. let's see what happens. There is the small chance that the CI might be wrong (situation where CI is hard-coding assumptions of where libtorch lives, but I doubt it), but we'll get there when we get there.

[2019-09-24 20:56] driazati opened #26752 "[jit] Tensor `.tolist()` is not bound in TorchScript"
in script
[code]

cc @suo

[2019-09-24 20:58] spandantiwari opened #26753 "torch.nn.GroupNorm is not supported in ONNX export"
## 🐛 Bug

Currently, when exporting a `torch.nn.GroupNorm` operator to ONNX, the exporter produces an `ATen` op in the ONNX graph. `ATen` was an experimental op in ONNX and has been removed from the spec. Therefore, the exported graph is not a legal ONNX graph.

The symbolic entry point in `symbolic_opset9.py` should be updated to use valid ONNX op(s) to export `torch.nn.GroupNorm`.

[2019-09-24 21:01] eellison commented on #26752
This isn't possible, because we need to type the resulting list, and `tolist()` returns an arbitrarily nested list

[2019-09-24 21:01] xuhdev commented on #23687
@smiletobingxue Could you open a new issue and describe the issue? This is an issue regarding CUDNN 7. You can disable CUDNN by using `USE_CUDNN=0`.

[2019-09-24 21:48] gchanan commented on #26644
would it work to do something like:

[code]

[2019-09-24 21:52] Moondra commented on #22050
Everything is working perfectly now. Thank you so much for your help and patience.

[2019-09-24 21:52] #22050 closed

[2019-09-24 22:03] EricCousineau-TRI commented on #3059
Sweet! Checking on the PR, it looks like some CI builds pass, but others failing; however, it's unclear if that's due to the current `master` failures or something else?
https://github.com/pytorch/pytorch/commit/3f72bcfcaacadfbbfb40e1cc32fc15fdec26bca5

[2019-09-24 22:09] mrshenli opened #26759 "[RFC] RRef Protocol"
Master Design Doc:
* Distributed Model Parallel Design: #23110

Main RRef PRs:  #25499 #25169

### Background

RRef stands for Remote REFerence. Each RRef is owned by a single worker
(i.e., owner) and can be used by multiple users. The owner stores the real
data referenced by its RRefs. RRef needs to support fast and scalable RPC.
Hence, in the design, we avoid using a single global master to keep

[2019-09-24 22:12] EricCousineau-TRI commented on #3059
Also, @sammy-tri was able to pinpoint the precise failure due to `RTLD_GLOBAL`:
https://github.com/RobotLocomotion/drake/issues/12073#issuecomment-534743519
In summary, when the code for certain methods of `std::__detail::_Scanner<char>` was loaded by our shared library, it sometimes got `libtorch`s definition due to `RTLD_GLOBAL`.

[2019-09-24 22:22] mratsim commented on #26597
Seems I shortened the version too much, here you go: https://github.com/pytorch/pytorch/tree/aa78523467

[2019-09-24 22:25] zhangguanheng66 commented on #26698
@roderickObrist I try the following script and cannot reproduce the issue. Wrap up `nn.MultiheadAttention` within `DDP`.

[code]

[2019-09-24 22:32] ljk53 opened #26763 "runtime error"
## "type id is VariableTensorId" runtime error for some mobile models

guard torch::jit::load() with AutoGradMode & AutoNonVariableTypeMode

Summary:
Since PR #25597 landed some models started failing to run with mobile
build with the following error:
[code]

Seems we need AutoGradMode guard and AutoNonVariableTypeMode guard while
torch::jit::load().

[2019-09-24 22:38] ljk53 opened #26764 ""type id is VariableTensorId" runtime error for some mobile models"
## Summary
Since PR #25597 landed some models started failing to run with mobile build with the following error:
[code]

For the specific model the problem can be workaround if we use AutoGradMode guard + AutoNonVariableTypeMode guard around torch::jit::load().

But setting AutoNonVariableTypeMode guard before torch::jit::load() will cause some other models to fail:
[code]

We need find root cause

[2019-09-24 22:47] ezyang commented on #26764
#25597 is supposed to be 100% semantics preserving. How do we know it's the culprit commit? If it is the culprit I will need to rereview it more closely for bugs

[2019-09-24 23:14] ljk53 commented on #26764
@ezyang - I remember I was able to run the failed model on mobile with autograd stripped + use_static_dispatch before. I started seeing this error for some internal models since a couple weeks ago - roughly aligned with the PR. And the VariableTensorId type id in the error message seems to be introduced by this PR. That's how I *guess* it might be related.
But there are a lot of changes in between

[2019-09-24 23:58] roderickObrist commented on #26698
@zhangguanheng66 Hi.

So that error is only triggered on the second forward pass after a backward().

Here is a demo_basic that should trigger it.

[code]

That function should work with embed_dim == kv_embed_dim, but should fail without.
I took the GPU calls out because I don't have cuda on my desktop, but you don't have to. You can just add:

[code]

Which is your standard training flow.

Also,

[2019-09-25 00:30] yaroslavvb commented on #26566
I'm wondering what the experience of adding non-Python client to PyTorch is. If this use-case is well-supported, then one could conceivably add a more Pythonic client to PyTorch using the same API as other languages, rather being a first-class citizen as it is now.

This would also make Python type-inference more consistent, current solution relies on `.pyi`  files which get out of sync with code

[2019-09-25 00:32] eellison commented on #26747
this is blocked by support of `**kwargs` ... which i'm not sure we want to add yet. alternatives here is:

`{a: 2, b: 3, c: 4}`

[2019-09-25 01:13] sp2823 commented on #26724
Are you sure?
When this function is called, a new list is created and the first element is returned, and then this list and its iterator are released.
The sequence you generated is **repeating numbers**!

A simple example I generated using your code (n=5):
1
1
3
2
1

[2019-09-25 01:54] andreaskoepf commented on #327
@ezyang I created the first bits for a POC for graceful assert, see https://github.com/pytorch/pytorch/pull/26776

[2019-09-25 02:38] #26513 closed

[2019-09-25 02:43] joe8086 commented on #26715
@suo

[2019-09-25 02:48] zhyj3038 commented on #24157
Me too, a blank page with two empty rectangles!!
torch:1.2.0
tensorboard:2.0.0
python:3.5

[2019-09-25 02:50] joe8086 commented on #26715
@suo @VitalyFedyunin

Thanks for your declare.

For the IR it's in flatten model, it will easy for user to parse it.
Can pytorch team can provide different stable release version torch IR syntax?

And
torch.jit.save and load will return ScriptModule.
But also there are less document to describe ScriptModule detail.
Include interface, build-in operations, operation syntax, syntax of scriptmodule.
C

[2019-09-25 03:27] jinfagang opened #26779 "onnx can not disable logging"
torch.onnx.export(model,
                          x,
                          model_path,
                          opset_version=10,
                          export_params=True)
It keeps give me these annoying logging messages:

  %6842 : Long() = onnx::Constant[value={-1}](), scope: FRCNNModel/GeneralizedRCNN/CombinedROIHeads[roi_heads]/ROIMaskHead[mask]/MaskPostProcessor[post_processor]
  %6

[2019-09-25 03:38] Balandat opened #26780 "Crash on assigning cuda tensor to bool-indexed cpu tensor"
## 🐛 Bug

Assigning a cuda tensor to a cpu tensor indexed by a boolean index results in crash (jupyter kernel, unit test).

## To Reproduce

[code]

## Expected behavior

The crashing assignment `A[[True]] =  torch.ones(1, device="cuda")` should either work, or at least raise an informative error and not crash.

## Environment

This is on FB infra (Linux, torch master, tested on both P100 and M40

[2019-09-25 03:39] Balandat commented on #26780
@qingfeng10

[2019-09-25 04:16] JoshVarty commented on #25883
@yf225

We should figure out a good way to assign these issues. A couple of days ago I saw the [discussion](https://discuss.pytorch.org/t/contributors-welcome-add-missing-torch-nn-layers-in-c-api/55650)  thread and [I mentioned](https://discuss.pytorch.org/t/contributors-welcome-add-missing-torch-nn-layers-in-c-api/55650/23?u=joshvarty) I was interested in `ReflectionPad1d` and `ReflectionPad2d` a

[2019-09-25 05:23] jxy commented on #24810
[py-pytorch.shar.txt](https://github.com/pytorch/pytorch/files/3650659/py-pytorch.shar.txt)
The attached shar archive works for me, though `make stage-qa` still complaints.  CNN gives segfaults with "BLAS : Program is Terminated. Because you tried to allocate too many memory regions.", but that is probably OpenBLAS's issue.

It would be great if we can get NNPACK, QNNPACK, or cpuinfo to work, but

[2019-09-25 05:28] carlosgmartin opened #26781 "Matrix corresponding to convolution by a 2D kernel (convmtx2)"
## 🚀 Feature
A function `convmtx2` such that

    convmtx2(kernel, image.shape[1:]) @ image.flatten() == torch.nn.functional.conv2d(image[None], kernel)[0].flatten()

for any tensors `image` of shape `(in_channels, image_height, image_width)` and `kernel` of shape `(out_channels, in_channels, kernel_height, kernel_width)`.

## Motivation

Like its [MATLAB counterpart](convmtx2), `convmtx2` compute

[2019-09-25 06:13] jinfagang opened #26785 "torch.onnx can not disable model printing"
[code]

I try this one, I already set verbos=False, but keep print huge model detail out..... messed all debugging messages.

[2019-09-25 06:55] micro0524 commented on #22676
[code]

This suggestion generated by @ElegantLin 's script fixed my problem. Thanks~

[2019-09-25 07:05] suanrong commented on #7455
Unbelievable！There are 5 thumb down given to me？why？

The only different between KL divergence and Crossentropy is a constant in this way and it would not be taken to the optimization.

[2019-09-25 07:37] jaywonchung opened #26790 "Importing tensorboard SummaryWriter jams CUDA device selection"
## 🐛 Bug

On a multi-GPU environment, it is common to set `os.environ['CUDA_VISIBLE_DEVICES']` to select one GPU. However I have found that importing `torch.utils.tensorboard` leads to an unexpected behavior in this context.

I have two Titan Xp GPUs on an Ubuntu 16.04.5 server. Setting `os.environ['CUDA_VISIBLE_DEVICES'] = '1'` had all memory allocations and computations happen precisely on the s

[2019-09-25 07:41] jaywonchung commented on #26790
I also tested this when nothing was running on any GPU. Screenshot numbers mean the exact same thing as above.

(Screenshot 1)
<img width="1440" alt="스크린샷 2019-09-25 오후 4 38 47" src="https://user-images.githubusercontent.com/29395896/65579698-330ada00-dfb3-11e9-873d-77bfebda73e5.png">

(Screenshot 2)
<img width="1440" alt="스크린샷 2019-09-25 오후 4 39 11" src="https://user-images.githubusercontent.com/

[2019-09-25 08:26] WilliamZhaoz commented on #18281
Hi dashesy, but I hit this bug when I use Python3, how may I solve the problem. Please.

[2019-09-25 09:03] dnovischi commented on #24157
Same,  blank page with two empty rectangles. regardless of using either pip or andaconda packages.
torch 1.2.0
tensorboard: 1.14.0
python: 3.7

[2019-09-25 09:12] pietern commented on #26759
I haven't seen anything related to this in the existing PRs, right? Retry is fine as long as the actions associated with the messages are idempotent or if there is message deduplication happening at a lower level. The control messages being idempotent is very tricky here, because the rref system is not just additive. Consider a create message from one user A to another user C. Let's say this messa

[2019-09-25 09:18] ZaydH commented on #3025
@CamiWilliams When I run your proposed `isin` implementation with `torch` 1.2.0 on MacOS 10.14.6, I get the warning:

`../aten/src/ATen/native/IndexingUtils.h:20: UserWarning: indexing with dtype torch.uint8 is now deprecated, please use a dtype torch.bool instead.`

If you change:

`return result.type(torch.ByteTensor)`

to:

`return result.type(torch.BoolTensor)`

the warning goes away.  Could y

[2019-09-25 09:31] torshie opened #26792 "torch.jit.script cannot compile forward() calling a @staticmethod annotated method"
## 🐛 Bug

The following code could reproduce the problem:

    import torch.nn
    import torch.jit

    class Bug(torch.nn.Module):
        @staticmethod
        def foo():
            pass

        def forward(self):
            Bug.foo()
            return torch.tensor([0])

    bug = Bug()
    torch.jit.script(bug)

[code]
## Expected behavior
Code compiles

## Environment

PyTorch version: 1.

[2019-09-25 09:32] pravitc commented on #26510
@ezyang the issue pointed out by @colesbury is not fixed yet. The links to older versions on https://pytorch.org/get-started/previous-versions/ are not updated. So if someone tries to open those links still produce the access denied error. This will lead any other user to raise a new issue.

[2019-09-25 10:55] agiokas-dbg commented on #24834
HI @soumith yes I can verify this is the case. I didn't have to uninstall torch, all I did was skip the activation script of AWS whicih is shown on start-up.
Upon login I had run:
[code]
Which loaded python 3.6.6 and pytorch 1.2.0. Skipping that step and going into my own virtualenv seems to have fixed the problem, although please do bear in mind in my `venv` I am using pytorch 1.1.0. I can try wi

[2019-09-25 11:10] vadimkantorov commented on #26288
@ezyang Practically speaking, does adding out variant amount to adding a ".output" variant for [native_batch_norm](https://github.com/pytorch/pytorch/blob/3f72bcfcaacadfbbfb40e1cc32fc15fdec26bca5/aten/src/ATen/native/native_functions.yaml#L1917)?

[2019-09-25 11:13] p692584k opened #26796 "setup.py install error"
When I performed the steps to "python setup.py install", the following error occurred.
------------------------------------------------------------------
make: *** No rule to make target 'install'.  Stop.
Building wheel torch-1.3.0a0+a395c31
-- Building version 1.3.0a0+a395c31
cmake --build . --target install --config Release -- -j 12
Traceback (most recent call last):
  File "setup.py", line 756,

[2019-09-25 12:12] dschaehi commented on #26596
I am wondering whether one could introduce a embedding normalization function that  is a subclass of `Function`, which applies `torch.embedding_renorm_` in the forward pass, but leaves the gradients unchanged in the backward pass. This way one could avoid the error above?

[2019-09-25 12:20] Alexander-H-Liu opened #26797 "Inconsistent gradient from different backend of CTCLoss"
## 🐛 Bug

I'm switching to the cudnn backend of CTCLoss since the other is not fully reproducible,
however, it turns out that the exact same model that used to work with pytorch's cuda backend ctc loss now failed.
With some simple example, I found that there's a huge difference in gradient (both direction and magnitude) between two backends.
I'm not sure if the bug is on pytorch or cudnn, but as f

[2019-09-25 12:22] heslowen opened #26798 "FileNotFoundError: [Errno 2] No such file or directory: 'ninja': 'ninja'"
## Why I had install ninja with conda but still met this bug??  Please help me! **T_T**
### ninja --version
1.7.2
### $ nvcc --version
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2019 NVIDIA Corporation
Built on Sun_Jul_28_19:07:16_PDT_2019
Cuda compilation tools, release 10.1, V10.1.243
### pytorch 1.2.0
py3.7_cuda10.0.130_cudnn7.6.2_0
### output
[code]
## code
[code]
### Please note

[2019-09-25 12:44] Germanunkol commented on #20981
I get similar behavior with nn.Conv3d. As soon as padding_mode is set to "circular", the tensor size is reduced by the convolution, even if kernel_size is 3 and padding is 1.

[2019-09-25 12:46] Steve-Tod opened #26799 "Unrelated element gets nan gradient"
## 🐛 Bug

 I divide an element by zero and get an inf. But this inf is not used in the following calculation. However, after backward, I still get a nan gradient for this element.

## To Reproduce

[code]

## Expected behavior

I expect gradient [1., 0., 0.] because second and third elements of weight are not related to loss.

## Environment

PyTorch version: 1.0.1
Is debug build: No
CUDA used to

[2019-09-25 13:41] zou3519 commented on #26727
Related: https://github.com/pytorch/pytorch/issues/26428

[2019-09-25 13:43] pfrendl opened #26800 "PyTorch CUDA Extension - The specified module could not be found"
## 🐛 Bug

I have built a CUDA extension for PyTorch according to the resources here:
https://pytorch.org/tutorials/advanced/cpp_extension.html

I have successfully run a build and an install with a setup.py file like the one provided in the example.

When I import my module from python, I get this error message:
`ImportError: DLL load failed: The specified module could not be found.`

 - PyTorch V

[2019-09-25 14:06] bharatnishant opened #26802 "Google Summer of Code"
@soumith Will PyTorch take part in GSoC next year?

[2019-09-25 14:20] saurav4098 commented on #22862
@Aaron4Fun  Did you resolve im2col operator. I am stuck with the same problem .

[2019-09-25 14:29] zyxdSTU opened #26803 "install pytorch1.2 where the environment is cuda9.0?"
Can you tell me how to install pytorch1.2  in the environment is cuda9.0?
I don't have the root power, so can't upgrade cuda.

[2019-09-25 14:44] ezyang commented on #26288
Yes, but you'd probably have to add it to some other definitions too, like `batch_norm`

[2019-09-25 15:03] ifedan commented on #26403
Try to use BUILD_TEST=0 as a workaround for now.

[2019-09-25 15:04] gletarte opened #26807 "torch.bernoulli() randomly returns "1" for 0 inputs on CPU"
## 🐛 Bug
`torch.bernoulli()` randomly returns "1" for 0 inputs, even if the probability of drawing "1" is 0.
This bug occurs only on CPU.

## To Reproduce

Run the following snippet:

[code]
It yields a value between 3-11, which is the number of "1" drawn on 100 million drawings.

## Expected behavior

`torch.bernoulli(input)` should always return "0" for every 0 in input.

## Environment

PyTorch

[2019-09-25 15:06] freud14 commented on #26807
I just tested this on version 0.4.1 on CPU and the bug is not present. However, on version 1.2, it is.

[2019-09-25 15:11] zhangguanheng66 commented on #26698
@mrshenli I have discussed with Shen offline. I will submit a PR to fix it soon.

[2019-09-25 15:18] ezyang commented on #26764
Even the tiniest stack trace would be super helpful here.

The error might be related to the static dispatch test, which, to my understanding, is not super well tested in CI. Something like:

[code]

dispatchTypeId can return a variable type id if it is passed a variable and variable mode is enabled. That would subsequently fail. Let me cut a PR that you can try testing with.

[2019-09-25 15:27] saeedalahmari3 commented on #5560
I had the same issue, after printing the values of softmax I found that some of them are nan. It turns out that I'm using Adam with `eps=0.0`. When I use the default value of `eps` it worked fine.

[2019-09-25 15:31] ezyang opened #26811 "UtilsNMSTest.GPUEqualsCPURotatedCorrectnessTest is flaky"
[code]

https://circleci.com/gh/pytorch/pytorch/2918819?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

cc @ezyang @gchanan @zou3519 @jerryzh168

[2019-09-25 15:32] VitalyFedyunin opened #26812 "TensorIterator traverse order and write locality"
`contiguous_tensor.copy_(non_contiguous_tensor)` should have comparable performance with `non_contiguous_tensor.copy_(contiguous_tensor)` as this is important properly for memory support performance.

The issue seems to be CPU specific.

[code]

[code]

cc @VitalyFedyunin @ngimel

[2019-09-25 15:43] ezyang commented on #17658
I ran @martinruenz's reproduction script with a built from source copy of PyTorch with gcc 7.4 (building PyTorch with the same gcc) and it did not crash. @iwtw's example did not compile for me. I think this is probably an ABI compatibility problem.

[2019-09-25 15:47] yf225 commented on #25883
@JoshVarty

Thanks a lot and really appreciated your interest in helping, and my sincere apologies for not updating the list early enough, which caused the work conflict. From now on, I will make sure to put work-in-progress items on this list as soon as I am aware of the effort, and please reply to this issue for the feature you are interested in working on and I will mention your name next to th

[2019-09-25 15:47] shirui-japina commented on #5560
Maybe you need to set `eps>0.0`.
The reason is that in class [Adam()](https://pytorch.org/docs/master/_modules/torch/optim/adam.html#Adam), `def __init__ ()` will raise ValueError like `ValueError("Invalid epsilon value: {}".format(eps))`.
The code is here:
[code]

[2019-09-25 16:05] ezyang opened #26817 "Push based nightlies"
Our currently nightly structure is triggered by a cron job in CircleCI. The problem with cron triggered jobs is they don't have access to CircleCI context (see https://ideas.circleci.com/ideas/CCI-I-981), which means we can't legitimately access credentials to upload.

The proposed new structure is we maintain a "nightly" branch. This branch is fast-forwarded to master by a cron job run in FB infr

[2019-09-25 16:48] orionr commented on #24157
@zhyj3038 and @dnovischi did you try pytorch-nightly? Please confirm that fixes your issue. If so, this will be fixed in the 1.3.0 release.

[2019-09-25 16:53] carlosgmartin commented on #26781
Here is a slow "solution" that works by convolving with all possible one-hot images:

[code]

[2019-09-25 17:03] carlosgmartin commented on #26781
More generally, to take into account things like stride, dilation, biases, etc., it would be nice to have a function that simply converts a `torch.nn.Conv2d` to its corresponding `torch.nn.Linear`. These are all just instances of matrix multiplication with the kernel, image, or their convolution: https://datascience.stackexchange.com/a/44349/52298.

[2019-09-25 17:12] zou3519 opened #26825 "Update docs for arithmetic operation type promotion"
`torch.add` looks like the following on master.
![image](https://user-images.githubusercontent.com/5652049/65623521-fda3c380-df95-11e9-8c8e-7ad9868af9b7.png)

If I am understanding type promotion correctly, we can now add arbitrarily-typed scalars to arbitrarily-typed tensors, so the docs are now incorrect.

cc @nairbv

[2019-09-25 17:26] VitalyFedyunin commented on #26724
[code]

Initialize list once. You probably doing something wrong. Can you show code snippet?

[2019-09-25 17:59] #26206 closed

[2019-09-25 18:10] pbelevich commented on #25241
I tried to reproduce it with master on devgpu with Tesla M40:
[code]
[code]

devfair with Quadro GP100: works perfectly even with size = 1048576
[code]

[2019-09-25 18:12] #24562 closed

[2019-09-25 18:12] nairbv commented on #26825
https://github.com/pytorch/pytorch/pull/25114

[2019-09-25 18:12] dashesy commented on #18281
Make sure this is the same issue (float constants exported as double). If it is a different you should open a new issue hopefully with some repro code.

[2019-09-25 18:17] dashesy commented on #26189
This is fixed in the nightly, thanks

[2019-09-25 18:17] #26189 closed

[2019-09-25 18:19] gottbrath commented on #26469
I think I have a  fix for this. will post it shortly.

[2019-09-25 18:26] pbelevich commented on #25241
@felix-schneider what version of cublas did you use?

[2019-09-25 18:33] gottbrath commented on #26470
jessica, do you know how to fix the args aspect of this? Is there an example of this elsewhere that I can check to see how to make this display more clearly?

[2019-09-25 18:37] dashesy commented on #26138
not yet in nightly it seems, will try later

[2019-09-25 18:39] peteroconnor-bc commented on #2228
@umanwizard This project sounds great... how can we try it?

[2019-09-25 18:42] umanwizard commented on #2228
@peteroconnor-bc We made some changes to improve NP compatibility, but are still far from full compatibility. Sorry, but I am not working at Facebook anymore so I'm not sure what the current status is. @gchanan or @jeffreyksmithjr  can let you know whether work is still going on to improve NumPy compatibility.

[2019-09-25 18:49] soumith commented on #26817
sounds fantastic. let's do it!

[2019-09-25 18:57] michiboo commented on #26411
HI @agadetsky , I created a PR #26832  for this issues. But I am not sure If I am doing it right in the implementation part, I stop just before the line

mask = torch.tril(torch.ones(last_dim_size, last_dim_size)).unsqueeze(0)

in python implementation.

It would be great if you can review THTensor_(logcumsumexp) in THTensormoreMath.cpp.

I want to make sure I am going in right direction.

Many th

[2019-09-25 19:40] mrshenli commented on #26759
Correct, this is not implemented in existing PR yet.

In the above case, C will retry the ACK back to A. If it keeps failing after a few times, we treat it as an error on A as the ACK will timeout. This error will be propagated to applications (e.g., through some error listener registered by the application). In the current design, we would never retry messages that contains UDFs.

Does this mean

[2019-09-25 19:47] ezyang commented on #14487
Still failing https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-devtoolset7-rocmrpm-centos7.5-test/37389/console on ROCm

[2019-09-25 20:16] gottbrath opened #26834 "FakeQuantize params not rendering correctly"
the parameters for the FakeQuantize function aren't showing up right.
<img width="897" alt="Screen Shot 2019-09-25 at 1 12 06 PM" src="https://user-images.githubusercontent.com/45861273/65636145-99353400-df96-11e9-9e0f-4c6b79b7ac91.png">

[2019-09-25 20:23] ptrblck opened #26838 "test_cuda_kernel_loop_overflow_large fails on current build"
## 🐛 Bug

`test_cuda_kernel_loop_overflow_large` from `TestCuda`: fails with `RuntimeError: avg_pool2d_out_cuda_frame failed with error code 0` using the current PyTorch master and nightly binaries tested on:
* TitanV, CUDA10.0
* P100, CUDA10.1
* V100, CUDA10.1

Related PR: [link](https://github.com/pytorch/pytorch/pull/24818)
CC @skrah, @ezyang
Is this test being skipped due to:
`@unittest.skipIf

[2019-09-25 20:27] zasdfgbnm commented on #26838
I guess because
[code]
Circle CI seems don't have a single GPU that has as large as 12G RAM. What they have could be seen from the `nvidia-smi` during build. For example in https://circleci.com/gh/pytorch/pytorch/2516062?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
[code]

[2019-09-25 20:32] ngimel commented on #25241
It looks like it depends on both cublas version and GPU architecture, so e.g. P100 and cuda 10 is ok, but V100/Turing and cuda 10 is not.

[2019-09-25 21:00] xsacha commented on #25763
Is this why the Debug version of the nightly is over a month old?
The Release nightly seems to be recent.

[2019-09-25 22:14] yf225 commented on #26798
@heslowen I believe you will get more help on this problem if you post it in https://discuss.pytorch.org/c/c.

[2019-09-25 22:17] yf225 commented on #26803
PyTorch 1.2 doesn't support CUDA 9.0 anymore, and you can compile it from source: https://github.com/pytorch/pytorch#from-source.

[2019-09-25 22:17] #26803 closed

[2019-09-25 22:21] yf225 commented on #1098
Since this issue has workaround, I am closing it.

[2019-09-25 22:21] #1098 closed

[2019-09-25 22:41] #22483 closed

[2019-09-25 22:41] #26693 closed

[2019-09-25 23:08] izdeby commented on #26428
@yf225, @zou3519, @gchanan, @smessmer, @xcheng16
I have a dummy [stack](https://github.com/pytorch/pytorch/pull/26845/files) which shows difference in generated files and 'real' code. This is a proposal and showcase that C++ API works (basic.cpp test) and python API works (test_torch.py tests). It wont pass the build in CI but with some effort, locally i've managed to pass both tests.
There is a l

[2019-09-25 23:25] WenmuZhou commented on #15272
@aimran-adroll will it support export model on gpu and load on both cpu and gpu
?

[2019-09-25 23:28] jamesr66a opened #26847 "[JIT] Overload mechanism doesn't seem to properly extract schema"
[code]

Output

[code]

In the example, I printed out the schema that we're trying to match against, and that turns out to be `top_kek() -> ()`, which seems incorrect since it should at least have a `self`

cc @suo

[2019-09-25 23:37] eellison commented on #26847
`__overloads__` should be deleted, since it's a deprecated way of doing overloads. It's currently blocked by the use of `ScriptModule` with overloads with `QuantizedLSTM`.

The recommended method using `torch.jit._overload_method` works for your example above. `@_overload_method` wasn't implemented for `ScriptModule` api since we're deprecating it.

[code]

[2019-09-25 23:41] jamesr66a commented on #26847
@eellison in this case that doesn't actually work because I want to switch which method is called between Python and script. @driazati actually showed me `torch.jit.is_scripting`, so i'm unblocked on this

[2019-09-25 23:49] Lalaland commented on #26807
This is due to https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/core/DistributionsHelper.h#L171. Note how it uses a <= when it should use a <.

The real question here is whether or not we are allowed to change that because it will result in a change of behavior for a fixed seed.

[2019-09-26 00:04] #24586 closed

[2019-09-26 00:17] peterjc123 commented on #25763
No, it was caused by some disk space issues on the build machines. Should be okay now.

[2019-09-26 00:36] ljk53 commented on #26764
The problem happened during jit::load(), without NonVariable guard, it hits the following error:
[code]

Seems the real problem is: Usually it only calls variable_factories.h methods during model load and variable_factories.h methods have NonVariable guards. For quantized model it calls other ops like conv_prepack, which are not wrapped by NonVariable guards.

[2019-09-26 01:10] Balandat commented on #26807
That should be extremely rare though, no? Like it would *almost surely* never happen (sweeping precision issues under the rug here).

An alternative could be to just special case the cases `p==0.0` and `p=1.0` and return deterministic zeros/ones.

[2019-09-26 01:36] deleamefo commented on #10443
This worked for me 'conda install pytorch torchvision cudatoolkit=10.0 -c pytorch'
I guess the installation command has changed.
check this out https://pytorch.org/

[2019-09-26 02:18] XiaobingSuper commented on #26287
@boegel, I can reproduce it in my laptop(Sand Bridge processor) using GCC8.3 now , so this problem is also associated with complier(my system's gcc is gcc5,), there is patch can solve it, can you test it in your side? if it is ok, I will pull a request.
[code]
you can first in the **pytorch/third_party/ideep/** folder , and then apply this patch. Thanks!

[2019-09-26 03:01] liulizhou opened #26862 "Hi:"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2019-09-26 03:01] liulizhou opened #26863 "Hi:"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2019-09-26 03:21] #26862 closed

[2019-09-26 03:29] joe8086 commented on #26715
No replay, close it.

[2019-09-26 03:29] #26715 closed

[2019-09-26 03:56] Lalaland commented on #26302
I can reproduce this as well. I'll try to fix this.

[2019-09-26 03:59] jspisak commented on #26691
@Belkharym - glad to connect with you to chat through this before jumping into the technical details. Can you send me an email at jspisak@fb.com so we can find a time?

[2019-09-26 04:23] divyanshj16 commented on #12831
Is there an work going into this issue?

[2019-09-26 04:24] zhyj3038 commented on #24157
It's OK now.
torch:1.3.0  nightly
tensorboard:2.0.0
python:3.5
ubuntu:16.04

[2019-09-26 05:25] PyExtreme commented on #25804
Hi @Krovatkin , I am interested to contribute to PyTorch. Can I please take up this issue?

[2019-09-26 05:30] PyExtreme commented on #25801
Hi @driazati , I am looking forward to contribute to PyTorch. Is it still an open issue?

[2019-09-26 06:09] mengxiangming commented on #16417
Has this problem solved? I also got the same problem. I did not change anything of my code, but after running many times, this error occurs:

"RuntimeError: CUDA out of memory. Tried to allocate 40.00 MiB (GPU 0; 15.77 GiB total capacity; 13.97 GiB already allocated; 256.00 KiB free; 824.57 MiB cached)"

[2019-09-26 06:39] ljk53 commented on #26763
duplicated #26764

[2019-09-26 06:39] #26763 closed

[2019-09-26 07:16] kaonick commented on #26456
Could anyone help this...

[2019-09-26 07:22] jiseongg commented on #9461
@peterjc123

Hi, I'm now learning to use some profiling tool like VTune Amplifier and Intel Advisor. I built PyTorch v1.2.0 with `gcc`. I tried to build it with `icc`, because I want to get some data about vectorization and threading efficiency. I want to use Intel's OpenMP library to analyze parallel region. But it failed.

When I tried to use `icc` when building PyTorch, so many error occurred.

[2019-09-26 07:57] nmilosev commented on #21743
This should be save to close now. :)

[2019-09-26 08:31] joe8086 opened #26880 "in TracedModel how to get model parameter like convolution stride info."
## ❓ Questions and Help

I use traced_model._modules[‘conv1’] to access conv module.
But how can I find ‘stride’ info in tracedModel object?
Is there any document to describe tracedModel API and structure?

Thanks,
8086

[2019-09-26 09:12] peterbell10 commented on #24080
There was a significant change to the copy kernel between `1.0.1` and `1.1.0`. This happened in commit 465799fab36e81e4aba6bf4d3c1fcd03a3a10f57 which moves it over to using `TensorIterator`.

It seems that prior to this change, the copy operation was not actually distributed across threads. With pytorch 1.0.1 installed from `conda` I only ever see one thread light up for `b.copy_(a)`, even when fa

[2019-09-26 09:17] leemengxing opened #26883 "buidling pytorch：subprocess.CalledProcessError"
[code]

[2019-09-26 09:21] leemengxing commented on #26883
thank you for your help

[2019-09-26 09:31] pfrendl commented on #26800
I have found the solution:
`import torch` before importing the package. Oops.

[2019-09-26 09:31] #26800 closed

[2019-09-26 09:36] danieleds commented on #19213
I can reproduce this on PyTorch 1.2.0.
I have tried to limit the number of threads by setting `torch.set_num_threads(n)` but it has not effect. I have been able to make it work by setting the env var `OMP_NUM_THREADS` instead.

[2019-09-26 09:41] tamas-the-sorcerer opened #26884 "[jit] training attribute broken in recursive script"
## 🐛 Bug

the model was scripted in eval mode and then saved with torch.jit.save.
torch.jit.load loads the model in training mode.
this is a problem, because in training mode dropouts are enabled, and also batchnorm needs to be adjusted. we expected torch.jit.load to load the model in the mode it was saved in. please fix this.

## To Reproduce

**Steps to reproduce the behavior:**
[code]

cc @ezya