[2019-12-10 12:34] hameerabbasi commented on #28361
This will have the same composition issue, unfortunately. I pointed that out [here](https://github.com/pytorch/pytorch/issues/28361#issuecomment-562834197):

@ezyang Would you have an idea of what needs to be done for such a function, what data needs copying and what needs views and so on?

[2019-12-10 13:01] MaeThird commented on #26555
there is a `sleef.h` file in `torch/include` but the actually needed one is generated during compiling and lies in `build/include`.So add one line as `include_directories(${CMAKE_CURRENT_SOURCE_DIR}/../include/)` to the `aten/CMakeLists.txt`.It's work although ugly.

[2019-12-10 13:34] flybass commented on #21144
Hi,

I’ve been using the c++ api and wanted to change my code to use data parallel. Can you please clarify what the issue is for Batchnormalization and whether it is actually still open?

Thank you,
Daniel

[2019-12-10 13:53] liygzting opened #31044 "macOS 10.15 on Ryzen get Intel MKL ERROR: CPU 0 is not supported."
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.
[code]
We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-12-10 14:03] chi0tzp opened #31045 "NCCL Error 4: invalid argument"
## 🐛 Bug
After upgrading to CUDA 10.2 (10.2, V10.2.89), and nccl-2.5.6-1 (PyTorch 1.3.1), I have the following error when using `DataParallel`:
[code]
I'm on Arch Linux (maybe this explains a lot). I'll be waiting for Arch upgrades (cuda and/or nccl), but I'm also posting this here in case it's useful.

cc @ngimel

[2019-12-10 14:15] ezyang commented on #30987
cc @colesbury

[2019-12-10 14:19] ezyang commented on #28361
@hameerabbasi I'm actually not to sure what the precise semantics of `as_subclass` are (yes I know it views the tensor as a subclass, but this is frustratingly vague). For starters, does it call the constructor of the subclass?

[2019-12-10 14:21] hameerabbasi commented on #28361
I was hoping there would be a way to do it while keeping the same data pointer, whatever that entails.

[2019-12-10 14:28] nikitaved commented on #27614
@gchanan, @ezyang would just changing the assertion do for now? Maybe it would be also nice to port the legacy code?

[2019-12-10 14:50] jph00 commented on #28361
I believe the semantics should be exactly the same as replacing `__class__` in a regular python object. That is also the behavior of `view()` in numpy, I believe. Which is to say:

- All state, including in `__dict__`, is preserved
- `__init__` is not called
- `type()` will return the new type, and method dispatch will use that type's methods in the usual python way (including metaclass dispatch,

[2019-12-10 15:02] albanD commented on #30987
@ZisIsNotZis it is "historical". `.data` was the Tensor wrapped by a Variable. But since Variable disappeared. It does not make sense anymore. It allows you to do too many things and in general shoot you in the foot.
For your use case, you should use `a.set_(b)` which is a specialized function to set a Tensor in another inplace. Or just `a = b` if you don't need to change `a` inplace.

[2019-12-10 15:23] thorpy1992 commented on #30910
In my case, is the same error even after your fix. And with VS 2017, I cannot finish the build on static mode because of "fatal error LNK1248: image size (10007FE9E) exceeds maximum allowable size (FFFFFFFF)", even though I tried with "/Zi". Does it work for you on WINDOWS after your fix?

[2019-12-10 15:37] joernhees opened #31048 "MathJax too small in Firefox"
MathJax in your docs is by default rendered tiny (too small to read) in Firefox...

Example screenshot from: https://pytorch.org/tutorials/beginner/blitz/autograd_tutorial.html
<img width="862" alt="image" src="https://user-images.githubusercontent.com/464192/70542681-6d732480-1b69-11ea-8daf-e3fa3aa62822.png">

My guess is some CSS problem...

[2019-12-10 15:42] mahmoodn commented on #30896
@xuhdev
Excuse me, do you have any idea?
If you give me some hints, I will try myself.

[2019-12-10 15:51] #27512 closed

[2019-12-10 16:15] shixinglingguihua opened #31049 "ROCm support to pytorch"
## ❓  while compile failed tipes is The following variables are used in this project, but they are set to NOTFOUND

compile env is  ubuntu18.04   ROCm 2.10  GPU is Vega56-8G

here is mine error log:

CMake Error: The following variables are used in this project, but they are set to NOTFOUND.
Please set them or make sure they are set and tested correctly in the CMake files:
**ROCM_ROCTX_LIB
    lin

[2019-12-10 16:16] eellison opened #31050 "float[] unsupported in native_functions.yaml"
## 🐛 Bug

`float[]` is unsupported as a type in native_functions.yaml, leading to situations like https://github.com/pytorch/pytorch/pull/28324 where the easier api is a `float[]` but instead each float argument is passed individually.

## To Reproduce

Try registering a schema like:
`upsample_nearest3d_backward(Tensor grad_output, int[3] output_size, int[5] input_size, float[] scales) -> Tensor`

[2019-12-10 16:33] lanpa commented on #30525
Hi @jc-hou , I tried your code with torch==1.3.0 and use tensorboard==2.1.0. The page load correctly.
My logdir: [runs.zip](https://github.com/pytorch/pytorch/files/3945977/runs.zip)

[2019-12-10 16:49] peterjc123 commented on #30910
You'll need to clean the build cache first.

You'll need to set `-DMSVC_Z7_OVERRIDE=OFF` in the cmake command.

[2019-12-10 16:52] mrshenli commented on #27405
closed by #30870

[2019-12-10 16:52] #27405 closed

[2019-12-10 16:57] peterjc123 commented on #30886
We are aware of this issue but it is not a high priority because it doesn't block our builds, either CI builds or nightly builds. What's more, this issue doesn't have any easy workaround, maybe we'll have to revert all the related changes. cc @ezyang

[2019-12-10 17:18] artbataev commented on #29099
@suo, thank you very much for proposed solution, works perfectly! I can open pull request (with modification of forward and __call__ method annotations), if this is convenient

[2019-12-10 17:32] yf225 commented on #30931
@meganset My apologies for the bad experience - it seems that the `Sequential` module doesn't support adding modules with forward method that can take more than one argument. I think this is a limitation of the `Sequential` module and we will remove the usage of it in the tutorial.

[2019-12-10 18:13] vadimkantorov commented on #3194
Stumbled upon this as well...

[2019-12-10 18:14] kossnick opened #31055 "ONNX exporter: issues with F.interpolate"
## 🐛 Bug

Using:
PyTorch 1.3.1
Onnx library 1.6.0
onnxruntime library 1.0.0
Opset 11

When exporting a simple model that only has F.interpolate, I get the following issue when running inference on the resulting onnx model
[code]

Since it exports a model, just one that fails inference, [I've uploaded the exported model here](https://drive.google.com/file/d/15PCx5QZm_BHntDNyBy7XNHKT2SI6dYl7/view?us

[2019-12-10 18:22] lanpa commented on #30966
I use the following environment and not problem occurs. The code I used is https://github.com/pytorch/pytorch/issues/30525, which is from the doc as well.
@develooper1994 What is your value of `save_path`?

torch==1.3.1
torchvision==0.4.2
tensorboard==2.0.2
tensorflow==2.0.0
tensorflow-estimator==2.0.1
python==3.6.9

[2019-12-10 18:30] epignatelli commented on #28761
Any reason/place anyone thinks we could look at to sort this out?

[2019-12-10 18:48] #30731 closed

[2019-12-10 18:58] zasdfgbnm commented on #31006
Update:
This seems not specific to 9.0 but 9.2 also has this problem. And this problem does not exist on Volta or CUDA 10 from what I see. Here is a summary:

|            | CUDA 9.0   | CUDA 9.2 | CUDA 10.1 |
|------------|------------|----------|-----------|
| Tesla M40  | Fail       | Fail     | Success   |
| Tesla V100 | Not tested | Success  | Success   |

[2019-12-10 19:03] smessmer commented on #30102
fixed. cc @ezyang

[2019-12-10 19:03] #30102 closed

[2019-12-10 19:07] AlbertoMQ commented on #17148
Shouldn't we be able to use an older CUDAToolkit with newer CUDA drivers? How would we fix this issue if we plan on using multiple versions of CUDA on our machine?

[2019-12-10 19:10] algoterranean commented on #21741
@soumith Are we any closer to a known or planned release date?

[2019-12-10 19:32] suo commented on #13040
@lara-hdr You added this capability to the ONNX converter, right? When was it released?

[2019-12-10 19:34] IvanKobzarev commented on #30586
Hello @mathpopo
Sorry for delay with my reply.

`android/run_tests.sh` by default specifies only x86 abi (main targeting for fast check on emulator),  it's specified as  gradle argument `-PABI_FILTERS=x86` in https://github.com/pytorch/pytorch/blob/master/android/run_tests.sh#L83

If you test on another abi - you can just delete `-PABI_FILTERS=x86` argument, by default it will build all 4 abis.
If

[2019-12-10 19:40] lara-hdr commented on #13040
@suo, we added support for dicts in 1.3.0 https://github.com/pytorch/pytorch/pull/25889.
We only support it for ONNX and not jit.trace.
So calls to torch.jit.trace() will still give this error, but calls for torch.onnx.export() should work for PyTorch 1.3.0 and above.

[2019-12-10 19:45] pritamdamania87 commented on #31036
@pietern It looks like specifying a new backend in `new_group` resolves the use case mentioned in this issue. I'm assuming we don't need additional documentation for the constructors mentioned above. But, should we document somewhere how to use multiple backends?

[2019-12-10 20:00] develooper1994 commented on #30966
I am using lastest nightly environment. And python 3.7.5

10 Ara 2019 Sal 21:22 tarihinde Tzu-Wei Huang <notifications@github.com>
şunu yazdı:

[2019-12-10 20:01] Jakob-Unfried commented on #755
@dylanbespalko

Is there a timeline for porting from TH to ATen?
Is there a way i can contribute, given the fact that i am not well versed with the inner workings of pytorch?

Thanks for your work!

[2019-12-10 20:03] pritamdamania87 commented on #29938
Fixed in https://github.com/pytorch/pytorch/pull/30624.

[2019-12-10 20:03] #29938 closed

[2019-12-10 20:39] rohan-varma opened #31072 "Dedupe context cleanup tests in dist_autograd_test"
## 🚀 Enhancement
Currently, there are 4 tests in `dist_autograd_test.py` that all test that dist autograd contexts are cleaned up under various situations (see the 4 tests beginning with `test_context_cleanup_many_workers`). They're mostly testing similar things, but differ in the arguments to the RPC, but there are still 4 separate tests.

We'd like to dedupe these tests into one single function

[2019-12-10 21:02] kossnick commented on #31055
I noticed at the ONNX layer, depending on whether I use F.interpolate's `size` or `scale_factor`, it may turn into different ONNX ops. So I tried another variant of the above test, in which I use `size` instead of `scale_factor` when interpolating:
[code]

Interestingly, it does output a different and simpler graph:
![image](https://user-images.githubusercontent.com/492470/70568518-e4e68b00-1b4c-1

[2019-12-10 21:04] kurtamohler commented on #24933
It looks like this issue only shows up on CPUs. If I enable CUDA, it goes away. I wrote a script to find out how `BCELoss(Sigmoid())`'s error acts with various input sizes. This script generates random 2-D target tensors and uses `target - 0.5` as the output tensor. It calculates the BCE loss between the target and output using both `BCELosWithLogits()` and `BCELoss(Sigmoid())`. For each tensor si

[2019-12-10 21:20] ngimel commented on #31006
Still not worth fixing. Is it possible to disable test based on cuda version?

[2019-12-10 21:28] zasdfgbnm commented on #31006
Yes, I will do that

[2019-12-10 21:35] #30989 closed

[2019-12-10 21:41] kurtamohler commented on #24933
`sigmoid()` is not the source of error, which means that `BCELoss()` is. I wrote the following test to run sigmoid() on random tensors of all the same sizes that I used in my previous comment, on both CUDA and CPU. I saw no difference between the two.
[code]

[2019-12-10 21:59] albanD commented on #24933
The thing is that your test above, when run with `dtype=torch.float64`, then all the errors are `0.` right?

It may be that the accumulation (before the `mean` operation) is reaching float32 precision.
In particular, once the value is such that `a + b = a`. Then the mean will have that behavior you observe that doubling the input size divide the output by two. Because the accumulation always gives

[2019-12-10 22:06] suo commented on #30638
Unfortunately, conversion ops like `tensor.bool()`are bound through a legacy method and aren't automatically bound into the JIT. We know this is pretty annoying so we're trying to kill the legacy bindings, but it's a work in progress.

In the meantime, a good workaround is to do `x.to(torch.bool)` instead.

I'm going to close this because there's an existing task (#30780) that covers this particul

[2019-12-10 22:06] #30638 closed

[2019-12-10 22:08] suo commented on #30936
Hm, this does not reproduce for me on master. Can you install the latest nightly and see if it reproduces in your environment?

[2019-12-10 22:19] IvanKobzarev commented on #31027
On PR's we run only x86 build. On master - all 4 abi's. So this looks like some problem with configuration that job on PR is trying to find .*-android-arm-v7a while it is not built on PR.
I am checking CI config.

[2019-12-10 22:20] kurtamohler commented on #24933
@albanD, thanks for the info. Maybe `at::mean()` is using a trick to avoid floating point error, while `BCELoss`'s reduction method is not. If so, I suppose the solution would be to convert BCELoss from TH to aten.

[2019-12-10 22:20] santient opened #31079 "RuntimeError: "roll_cuda" not implemented for 'Bool'"
## Bug

[code]

This works fine on CPU though. It seems that some functions are still missing for bool tensors.

## Environment

 - PyTorch Version (e.g., 1.0): 1.3.1
 - OS (e.g., Linux): Ubuntu 18.04
 - How you installed PyTorch (`conda`, `pip`, source): pip
 - Python version: 3.6.9
 - CUDA/cuDNN version: 10.1
 - GPU models and configuration: GTX 1060 6GB

cc @izdeby

[2019-12-10 22:31] suo commented on #31021
Thanks for the report! This is indeed a bug; `isinf` uses a legacy binding method that does not work well with the JIT (see: https://github.com/pytorch/pytorch/issues/30786 for more info). The solution is to port this op to C++ (an example for `isfinite`: https://github.com/pytorch/pytorch/pull/30083). We are always happy to review a PR that does this 😛.

cc @yf225: is this method planned for C++

[2019-12-10 22:36] #29099 closed

[2019-12-10 22:44] kurtamohler commented on #24933
Setting BCELoss's `reduction` argument to "none", and then running torch.mean() on its output removes the error:
[code]
So it does indeed appear that BCELoss's mean method is the source of error.

[2019-12-10 22:57] FOXaaFOX opened #31080 "my program stops at loss.backward() without any prompt in cmd."
My aim is to make a five-category text classification

I am running transformers fine tuning bert  with `cnnbase` model but my program stops at `loss.backward()` without any prompt in `cmd`.

I debug find that the program stop at the loss.backward line without any error prompt

My program executed successfully in `rnn base` such as `lstm` and `rcnn`.

But when I am running some `cnnbase` model the

[2019-12-10 23:01] wanchaol commented on #30754
seems like some weird things happening during the recursive compilation, we should already drop the `weight` param after `weight_norm` but the scriptmodule still contains it. I am going to take a deeper look on it and get back to you

[2019-12-10 23:13] yf225 commented on #31021
@suo This method is planned for C++ parity work, but I am thinking maybe @eellison's work on https://github.com/pytorch/pytorch/issues/30788 would get to it sooner. @eellison do you plan to work on this?

[2019-12-10 23:18] eellison commented on #31021
No. The work there was intended to be identification of pytorch ops we do not support and not remediation. I was trying to knock out a few ops that compiled and silently gave wrong semantics but that's separate from parity work https://github.com/pytorch/pytorch/pull/30493 https://github.com/pytorch/pytorch/pull/27629

[2019-12-10 23:23] #30524 closed

[2019-12-10 23:40] albanD commented on #24933
Well, it has other quirks, but is potentially more precise indeed but only by chance: https://github.com/pytorch/pytorch/issues/27946

Moving BCELoss from TH to aten might solve the issue indeed.

[2019-12-10 23:55] vincentqb commented on #29697
Unfortunately, I can't reproduce:

[code]

[code]

[2019-12-11 00:10] suo commented on #31027
@IvanKobzarev Is there a fix on the way?

[2019-12-11 00:19] chausies opened #31084 "torch.logsumexp only works on a single dimension, but doc says tuple of dims should work"
Trying to use `torch.logsumexp` over multiple dimensions errors out.

[code]

However, in the latest stable documents (https://pytorch.org/docs/stable/torch.html#torch.logsumexp), it clearly states for the `dim` parameter:
[code]
Throughout the description, it also talks about `dim` as being allowed to be multi-dimensional.

According to #15597, this should be fixed, but it's not.

Furthermore, I

[2019-12-11 00:23] IvanKobzarev commented on #31027
@suo No. That variable is set by CircleCI internally, I am checking if we had some recent Circle updates etc.

[2019-12-11 00:25] alexwong commented on #27610
Sorry just joining the convo now so forgive me if I am misinterpreting things!

In a first release, we envision the user packaging their needed files (so both the model definition and parameters) when providing it to the model server. This could also include custom handler code for preprocessing and postprocessing and also dependent files(ie other classes and stuff). I think library dependencies (

[2019-12-11 00:27] vadimkantorov commented on #29697
`1.4.0.dev20191113`

[2019-12-11 00:37] vincentqb commented on #29697
By the way, the behavior you noticed on line 4 is due to how `get_lr` works, see how it is addressed in #26423.

[2019-12-11 00:43] iseeyuan opened #31085 "Common lookup of generic types across full script and mobile parsers"
## 🚀 Feature
Common lookup of generic types across full script and mobile parsers

## Motivation

To maximize the codes that can be shared between the two parsers.

## Pitch

As in the title. Build the lookup of generic types (especially Dict, Tuple, List and other composing types) and make it shared by both of the parsers.

## Alternatives

## Additional context

In future the type part of script

[2019-12-11 00:45] jamestwebber commented on #25698
For what it's worth I see the same warning building the pytorch Dockerfile on Ubuntu 18.04, e.g.
[code]

[2019-12-11 01:01] vadimkantorov commented on #29697
Is lr at line4 special in some way? I didn't really notice it until now ^^

[2019-12-11 02:18] TH3CHARLie commented on #31021
@suo Hi, can I take a try for the C++ parity work on `isinf` here?

[2019-12-11 02:31] IvanKobzarev commented on #31027
@suo @ezyang
I prepared PR with hotfix workaround for non-leaf PRs that does not have `CIRCLE_PULL_REQUEST` environment variable, but have `CIRCLE_BRANCH`

https://github.com/pytorch/pytorch/pull/31088

After checking CircleCI jobs if works ok - (It's non-leaf PR with dummy PR on the top) - we can temporary push it.

[2019-12-11 03:24] iffsid commented on #25783
@fritzo thanks; that's cute. :)

Realistically, for simple models, just creating a new instance using detached params should do.
The more complex cases are probably better first explored in pyro, with only changes that are really necessary pushed upstream to pytorch.

[2019-12-11 03:53] vadimkantorov commented on #29697
Oh, maybe you meant I should not be using get_lr for learning rate inspection purposes? But I suspect the bug is still there even when inspecting optimiser param_group

[2019-12-11 04:21] mrshenli opened #31095 "pin_memory stuck in DDP/Reducer constructor"
### Problem

@baobablyh  @pietern and I are working on PR #28883. We are trying to create pinned memory tensors in Reducer constructor:

https://github.com/pytorch/pytorch/blob/4902a08e44e1e8dbcced99b9c18321cf9bb644d5/torch/csrc/distributed/c10d/reducer.cpp#L113-L116

However, we observed that, one of the process created the pinned memory tensor successfully, but another process stuck at the line

[2019-12-11 05:52] myuanqing opened #31096 "nvlink error"
I am trying to install pytorch from source. However, I come across an nvlink error. I was wondering whether it's due to my inappropriate environment or something else like the carelessness of your development.

![image](https://user-images.githubusercontent.com/40328758/70595112-6c033400-1c1d-11ea-949b-5777dc2b87f5.png)

Could anyone help me with this nvlink error?

[2019-12-11 06:08] sai-prasanna commented on #17199
https://github.com/pytorch/pytorch/pull/30230 changes omp to intel omp. This fixes forks causing deadlocks.

[2019-12-11 06:22] #30910 closed

[2019-12-11 06:37] #30371 closed

[2019-12-11 06:46] suo commented on #31021
@TH3CHARLie of course! Please add @yf225 as a reviewer on the PR. Thanks!

[2019-12-11 06:51] xuanjunlee opened #31097 "memory overflow in torchvision object detection finetuning tutorial"
why memory overflow?

120 training pictures, 50 test pictures. memory is 65G.

When I was training the model, the following errors occurred:
python3.6: /pytorch/third_party/ideep/mkl-dnn/src/common/scratchpad.cpp:63: mkldnn::impl::global_scratchpad_t::global_scratchpad_t(size_t): Assertion `scratchpad_ != nullptr' fa                                           iled.

[2019-12-11 06:56] tensor2flow opened #31098 "How to install pytorch for CUDA 10.2?"
Hello everyone. I have installed CUDA 10.2 and i tried to install pytorch on windows.
But I catched error like this:
FAILED: build.ninja
C:\Users\TensorFlow\.conda\envs\torch\Library\bin\cmake.exe -SF:\Git\pytorch -BF:\Git\pytorch\build
ninja: error: rebuilding 'build.ninja': subcommand failed
Traceback (most recent call last):
  File "setup.py", line 755, in <module>
    build_deps()
  File "setu

[2019-12-11 07:02] rohan-varma commented on #26475
I wasn't able to repro this so far. I downloaded a python3.6.9 build from source from here: https://www.python.org/downloads/source/ and built it with `./configure --with-pydebug` in order to get a debug build. However, when I ran the tests locally, all of them seem to pass without issues. Is there a special flag I need to enable or something else I'm missing?

[2019-12-11 07:37] SebastienEske commented on #30962
Hello,

I am not an expert but one (costly) way to do it would be with a copy of the network weights
- 1 original network net_orig
- 1 mask network net_mask
- 1 computation network net_calc, with shared weights with net_orig except for the Conv2d

then you can do:
[code]
Hope this helps. There are a few masking features for tensors already here https://pytorch.org/docs/stable/tensors.html They sho

[2019-12-11 07:39] suo commented on #30988
Test is still flaky even after the fix: https://app.circleci.com/jobs/github/pytorch/pytorch/3897091.

@mrshenli can you take another look?

[2019-12-11 07:43] WenmuZhou opened #31101 "CPU memory would not release at the beginning of the next iteration"
When I used dataset and dataloader to load the data, I found that the data from dataset would not release their CPU memory at the beginning of the next iteration, and the memory usage reached the highest point with the end of the first epoch. At the time, when my data set exceeded the machine memory, there would be an OOM error. How can I avoid it?
[code]
memory jpg

![image](https://user-images.g

[2019-12-11 07:44] suo opened #31102 "TestAutogradDeviceTypeCUDA.test_logdet_1x1_cuda is flaky"
https://app.circleci.com/jobs/github/pytorch/pytorch/3876399
https://app.circleci.com/jobs/github/pytorch/pytorch/3865899
https://app.circleci.com/jobs/github/pytorch/pytorch/3872182

cc @ezyang @gchanan @zou3519 @vincentqb @vishwakftw @jianyuh @nikitaved @pearu @mruberry

[2019-12-11 07:53] suo opened #31103 "ONNX py3.6 gcc5 doesn't work"
This build flavor appears to not work: `caffe2_onnx_py3_6_gcc5_ubuntu16_04_test`. This problem was revealed after I upgraded this flavor from py2 to py3.6 in: https://github.com/pytorch/pytorch/pull/31082

This job was disabled by https://github.com/pytorch/pytorch/pull/31100.

Test failures look like:
- https://app.circleci.com/jobs/github/pytorch/pytorch/3897517
- https://app.circleci.com/jobs/g

[2019-12-11 08:05] bddppq commented on #31103
This CI apparently failed in #31082, why was it still merged in the first place?

[2019-12-11 08:25] pietern commented on #31095
Right before the point where you suggest adding a `time.sleep(3)` the model parameters are broadcast from rank 0 to all other ranks. This will run one or more NCCL kernels (`_broadcast_coalesced`). I won't be surprised that this is what's interfering with pinned memory allocation.

Can you run this with `NCCL_DEBUG=INFO` to see if anything stands out?

[2019-12-11 08:49] ezyang commented on #30405
I'm not convinced your example is wrong. You have:

[code]

But I don't see why the `requires_grad=True` field here should propagate. `rands_like(a)` doesn't depend on the data of `a` at all, so there's no requires grad relationship here in the sense of, we need to record autograd history. And in general, we don't create leaf variables (aka parameters) unless the user explicitly asked for it, beca

[2019-12-11 08:49] pietern commented on #31035
I suppose that in `train_vdb` you actually produce gradients for all model parameters, whereas in `train_actor_critic` you don't. When you don't, the reducer (the code that triggers gradient reduction) remains armed and waiting for more gradients. Instead of receiving gradients for the remaining gradients, in your code you'll produce new gradients for the same parameters, triggering the error.

Yo

[2019-12-11 08:50] ezyang commented on #30405
Do you have a proposal for how to structure the logic differently?

[2019-12-11 09:04] whitelilis commented on #17835
how about this issue ?

[2019-12-11 09:20] jcw521 commented on #31035
@pietern
As your advice, I changed my code to like that
[code]
but it got another error.
[code]
So, I modified `DistributedDataParallel`
[code]
Then, It works!! Thank you very much!! I'm very appreciate to you!! :)

[2019-12-11 09:27] pietern commented on #31035
Excellent! Thanks for the update.

This means you have either a data dependent control flow in your model, or you simply define some parameters and never use them. If it's the former, then great. If it's the latter, I would look for the parameters that you're not using and remove them. There is a small perf cost to finding unused parameters that you can remove if this is the case.

[2019-12-11 09:27] #31035 closed

[2019-12-11 09:29] pietern commented on #17159
I've made a benchmark tool that can produce these numbers at #30660.

We can continue the discussion there.

[2019-12-11 09:29] #17159 closed

[2019-12-11 09:30] igodogi opened #31105 "No grad backward after .squeeze() or .unsqueeze()?"
## 🐛 Bug

## To Reproduce
import torch

a1 = torch.rand([4, 4], requires_grad=True).squeeze(0)
b1 = a1**2
b1.sum().backward()
print(a1.grad)

a2 = torch.rand([1, 4, 4], requires_grad=True).unsqueeze(0)
b2 = a2**2
b2.sum().backward()
print(a2.grad)

## Environment
torch.__version__
'1.3.0'

cc @ezyang @SsnL @albanD @zou3519 @gqchen

[2019-12-11 09:58] ezyang commented on #27614
I believe the broadcasting occurs in the backwards of sum: if the inflowing gradient is `x`, then the outflowing gradient is `x.expand_as(input.size())`

[2019-12-11 10:00] liygzting opened #31106 "macOS 10.15 on Ryzen get Intel MKL ERROR: CPU 0 is not supported."
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (e.

[2019-12-11 10:01] #31044 closed

[2019-12-11 10:06] JTHEN-DEV commented on #19406
pip3 install https://download.pytorch.org/whl/cpu/torch-1.0.1-cp37-cp37m-win_amd64.whl
returns:
ERROR: torch-1.0.1-cp37-cp37m-win_amd64.whl is not a supported wheel on this platform.

[2019-12-11 10:48] aybberk commented on #29090
Python is upgraded to 3.8 in arch linux based distros recently, I suppose many arch or manjaro users are waiting for 3.8 binaries.

[2019-12-11 11:47] pietern opened #31107 "Add torch.version.nccl"
## 🚀 Feature

Make NCCL version available at `torch.version.nccl`.

## Motivation

We have `torch.version.cuda` and should have a similar field for the NCCL version.

## Pitch

We should add it. The version is available as a compile time constant by looking at the header. Alternatively, we can pull the version dynamically through (`ncclGetVersion`)[https://docs.nvidia.com/deeplearning/sdk/nccl-dev

[2019-12-11 11:49] snijesh commented on #19406
browse official website of pytorch... enter your configuration there.
In windows OS with cpu, Python 3.7 :
`pip3 install torch==1.3.1+cpu torchvision==0.4.2+cpu -f https://download.pytorch.org/whl/torch_stable.html`

[2019-12-11 11:51] peterjc123 opened #31108 "test_int_pow_cuda failed on Windows"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

Run the following code:
[code]

Error message:
[code]

## Expected behavior

No error,

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run

[2019-12-11 11:53] yangsenius commented on #30459
I use this model https://github.com/HRNet/Higher-HRNet-Human-Pose-Estimation/blob/master/lib/models/pose_higher_hrnet.py @lanpa
Similar errors also were encountered by other persons.
Such as:
1.https://github.com/HRNet/Higher-HRNet-Human-Pose-Estimation/issues/3
2.https://github.com/leoxiaobin/deep-high-resolution-net.pytorch/issues/101
3.https://github.com/leoxiaobin/deep-high-resolution-net.pyto

[2019-12-11 12:20] great12366 commented on #31106
You even installed MacOS on AMD, but can't install MKL on the device?

[2019-12-11 12:21] sytelus commented on #9604
I'd similar issue. The cause was following import statement on PyTorch 1.2:

[code]
Apparently upgrading to 1.3 resolved the issue which I did using following command:

[code]
If you are using Azure DSVM image then it might also help to update cuda drivers:
[code]

[2019-12-11 12:37] peterjc123 commented on #31098
Full log, please.

[2019-12-11 12:41] karlcao opened #31109 "syncbn bug"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

<File "/home/lumeng/anaconda3/envs/ann/lib/python3.6/site-packages/encoding/functions/syncbn.py", line 58, in forward
    _ex, _exs = lib.gpu.expectation_forward(x)
RuntimeError: cudaGetLastError() == cudaSuccess ASSERT FAILED at /home/lumeng/anaconda3/envs/ann/lib/python3.6/site-packages/encoding/lib/gpu/syncbn_kernel.cu:424,

[2019-12-11 12:56] liygzting commented on #31106
That's right
The mkl download from intel,but can't install
or is there some way that  pytorch use numpy with out mkl?

[2019-12-11 13:06] liygzting commented on #31106
And my enviroment is:
[code]

[2019-12-11 13:17] benmoseley opened #31110 "torch.nn.Softplus threshold argument bug?"
## 🐛 Bug

I noticed a potential bug in the torch.nn.Softplus function:

when plotting `torch.nn.Softplus(beta=10, threshold=0.4)` it appears that the linear threshold starts around 0.05 instead of 0.4 as specified, leading to a discontinuity in the function.

## To Reproduce

Steps to reproduce the behavior:

[code]

Output:

`>>> 1.2.0`
![image](https://user-images.githubusercontent.com/33726845/

[2019-12-11 13:24] nikitaved commented on #27614
Ok, but here the issue is with the index tensor in forward/backward pass. Following the example in the repro script, we see that `scatter_add` produces an output of dimension `[8, 626304, 3]`. Hence the inflowing gradient `grad` would have the same dimension. The backward method for `scatter_add` is defined as `grad.gather(dim, index)', and produces an output of the same size as `index`, which is

[2019-12-11 13:36] #8589 closed

[2019-12-11 14:23] willfrey opened #31111 "Python stub files for torch.nn seem misconfigured"
## 🐛 Bug

I'm not receiving any signature or docstring information in VSCode using the Microsoft Python Language Server for the modules defined in the `torch.nn` namespace. Based on `torch/nn/__init__.py`, it appears that the intended design is define classes in submodules of the `torch.nn.modules` namespace and through [this import statement](https://github.com/pytorch/pytorch/blob/master/torch/n

[2019-12-11 14:25] mrshenli opened #31112 "test_process_group_debug_info is flaky"
https://app.circleci.com/jobs/github/pytorch/pytorch/3898338

cc @ezyang @gchanan @zou3519 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528

[2019-12-11 14:31] mrshenli commented on #31095
@pietern

Without `time.sleep(3)`, which hangs:

[code]

With `time.sleep(3)` which does not hang:

[code]

[2019-12-11 14:34] meganset commented on #30931
ok, thanks for looking at this.
we really like the _Sequential_ module -- very useful when crossing language boundaries, e.g. build and use a model from another interpreter (not python) -- it would be a shame to lose tha ability to use deconvolutions with _Sequential_, but I guess we can write our own _ConvTranspose2d_ on top of the 1.4.0 one and have its forward method just accept a tensor, espec

[2019-12-11 14:57] pietern commented on #31095
Thanks. Yeah, nothing stands out...

[2019-12-11 14:59] SamPruden commented on #30873
I actually found that this repeatedly caused problems for me and I've had to move away from this scheduler as a result. The detected plateaus are often areas of noisy loss, and `ReduceLROnPlateau` kicks in and leaves me stranded at the top of a spike, then the LR collapses and training stalls.

#2478 is another attempt to solve a similar problem by adding backtracking, and that got as far as a PR

[2019-12-11 15:47] zou3519 commented on #27972
This fix will be included in our upcoming 1.4.0 release. See https://github.com/pytorch/pytorch/issues/30331 for the release tracker.

[2019-12-11 15:48] zou3519 commented on #27972
It is also possible to install a nightly build of pytorch to bypass this; see https://pytorch.org/ for instructions.

[2019-12-11 16:07] epignatelli commented on #28761
Just to make sure that there is no IO overhead in the first call, the issue holds if we invert the calls:
[code]
[code]
[code]

[2019-12-11 16:20] albanD commented on #27614
@nikitaved does `grad.gather(dim, index.expand_as(src))` be a correct formula in this case?

[2019-12-11 16:28] epignatelli commented on #28761
A quick profiling shows that hfpy makes different calls (showing just the last 10 calls):
[code]
[code]

And when we first create the numpy array:
[code]
[code]

[2019-12-11 16:30] nikitaved commented on #27614
@albanD, no, it is not, not in the way that `scatter_add` is implemented. In `scatter_add` it hold that `index.shape <= src.shape'. The original formula is correct, and so is yours, when `index.shape = src.shape'.

[2019-12-11 16:33] gchanan commented on #30886
@peterjc123: could you talk a bit about a potential workaround?  Did you try something?

[2019-12-11 16:39] albanD commented on #27614
My logic is as follows. Can you let me know why it is wrong?

But `scatter_add` requires `index` and `src` to have the same number of dimensions.
It also requires for each dim that the size of index <= size of src.
And broadcasting in this case boils down to `index.expand_as(src)` right?
So adding the expand explicitly in the formula will give a gradient for `src` that is the same size as `src` ev

[2019-12-11 16:46] albanD commented on #26475
I just tried again with master and I still see the problem.
I get python from `https://github.com/python/cpython` on the `3.6` tag (it was a while ago so on commit 1039f21574 more particularly and 3.6.9+).

[2019-12-11 16:53] suo commented on #31103
I only waited for the build to finish, I assumed there wouldn’t be a runtime difference between clang and gcc if they both built without failure. Clearly that was wrong lol

Nevertheless, since we have dropped py2 support everywhere else and py3 + gcc5 apparently never worked, I don’t think it’s a regression to disable it for now while we fix it.

[2019-12-11 17:00] izdeby commented on #31109
@karlcao, can you, please, provice a repro and description of what is the problem?
Feel free to reopen the issue once this info is provided, thank you.

[2019-12-11 17:00] #31109 closed

[2019-12-11 17:01] izdeby commented on #31098
Please, use our [forums](https://discuss.pytorch.org/) for questions. Thank you

[2019-12-11 17:01] #31098 closed

[2019-12-11 17:04] izdeby commented on #31097
Can you, please, provide a repro code? Please, reopen the issue once its provided.

[2019-12-11 17:04] #31097 closed

[2019-12-11 17:05] izdeby commented on #31096
Please, use our forums for [questions](https://discuss.pytorch.org/). You will get the answer faster there. Feel free to reopen this issue if you have a constant reproduce steps. Thank you

[2019-12-11 17:05] #31096 closed

[2019-12-11 17:07] izdeby commented on #31080
@FOXaaFOX, did you try posting on our [discussion forum](https://discuss.pytorch.org/)?

[2019-12-11 17:12] izdeby commented on #31038
@simunovic-antonio, thank you for reporting the issue. Do you have reproducible example?

[2019-12-11 17:14] izdeby commented on #31045
@chi0tzp, thank you for reporting the issue. Do you have a reproducible example?

[2019-12-11 17:15] izdeby commented on #31049
@shixinglingguihua, can you, please, provide your environment info?

[2019-12-11 17:17] ngimel commented on #31045
cc @csarofeen @ptrblck

[2019-12-11 17:24] ptrblck commented on #31045
@chi0tzp Do you see any other error before NCCL raised this exception?
We often see another assertion (e.g. indexing error) before NCCL catches this error.

[2019-12-11 17:25] lara-hdr commented on #31055
@kossnick this issue is fixed in master, I tested  your script with the latest pytorch-nighlty and it ran succesfully :)

Yes, the graph is different when scale_factor and output_size are given; we are also working on some improvements and optimizations to the graph in https://github.com/pytorch/pytorch/pull/28324 that should be merged soon.

[2019-12-11 17:26] nikitaved commented on #27614
Let
[code]
where `<` is element-wise. Now, from the definition of `scatter_add` we can see that `source` contributes only elements `source[I]` to the output, which means that if `grad` is the inflow grad into `scatter_add`, only `grad[I]` will flow back into `source[I]`, then the right gradient wrt `source`, `grad_source` is
[code]
Please, let me know if it is correct.

[2019-12-11 17:44] vincentqb commented on #29697
Just compiled from source version: `1.4.0a0+e7e6d56` and I can reproduce. Thanks for reporting!

First, to fix the learning rate on line 4, use `get_last_lr` mentioned in #26423:

[code]
[code]

Second, now that schedulers are chainable from #26423, the learning rate from the scheduler is computed based on the learning rate from the previous version instead of using the epoch number, where possibl

[2019-12-11 17:47] #2362 closed

[2019-12-11 17:54] vincentqb commented on #29697
The warning for `get_last_lr` is being raised, but is hidden by default.

[code]
Output:
[code]

[2019-12-11 18:07] markus-beuckelmann commented on #10223
Is there any update on forward-mode AD? I'm looking to compute Hessian-vector products using the Pearlmutter trick as described by @jeisner above (i.e. mixing forward- and reverse-mode AD). Don't think there currently is any efficient way to do this in PyTorch (e.g. similar to [JAX](https://jax.readthedocs.io/en/latest/notebooks/autodiff_cookbook.html#Hessian-vector-products-using-both-forward--an

[2019-12-11 18:08] vadimkantorov commented on #29697
This is really unfortunate, because many adaptive optimizers hold large buffers and saving their state doubles the checkpoint size, which is sometimes unnecessary. I would like to be able to restore the current step index from the scheduler's state_dict and then follow the closed-form learning rate formula.

[2019-12-11 18:34] lanpa commented on #30966
Still can't produce with 1.4.0.dev20191211 and python 3.7.5

[2019-12-11 18:53] vpirogov commented on #31106
@liygzting,

Intel MKL throws the error you observe when an environment variable `MKL_DEBUG_CPU_TYPE` is set to 0. This means either you have this variable defined in your environment or something else in the stack is defining it.

[2019-12-11 18:57] #24173 closed

[2019-12-11 19:08] driazati opened #31129 "[jit] Python objects are not modified"
In Python the original object passed in is not modified by running the script function, but in C++ it is (which is the correct behavior).

[code]

[code]

[2019-12-11 19:28] vincentqb commented on #30873
Can you provide your version and steps to reproduce?

[2019-12-11 19:59] h6197627 opened #31132 "CAFFE2_API macros missing for DecodeMultipleClipsFromVideo and FreeDecodedData function"
## 🐛 Bug

While **DecodeMultipleClipsFromVideo** and **FreeDecodedData** was moved from **caffe2/video/video_io.h** to **caffe2/video/video_decoder.h** in d2ceab27661b6f16e0b0d9e958b0d880793ba564, CAFFE2_API macros was removed  from functions signature which were added in c2a75926cac36b770c9afcca894d07feb307592e.
Now building PyTorch with enabled USE_OPENCV=1 and USE_FFMPEG=1 flags fails with

[co

[2019-12-11 20:04] SamPruden commented on #30873
My version is 1.3.1.

I can try, but I'll need to provide a model that has the right behaviour when training to trigger this, so I can't easily do a tiny toy repro. Is that really needed? The behaviour I'm describing seems pretty obvious from the algorithm.

It's plain to see from [the source](https://github.com/pytorch/pytorch/blob/23483406aab765c10a74a3466ea8c17322b997d6/torch/optim/lr_scheduler

[2019-12-11 20:24] SamPruden commented on #30873
Here's a simulated repro. If you run this, you'll see that it never recovers from the spike at 50, despite the fact that it's learning steadily.

[code]

[2019-12-11 20:40] kleingeo commented on #30616
You were right, part of the issue was in the `net` not having its weights reinitialized for the next pass. I tried to reinitialize the weights by rebuilding and overwriting the previous `net`, which does allow me to compute. However, now it is no longer training (the loss and metrics dont change per epoch).

[2019-12-11 20:41] vadimkantorov commented on #29697
@gchanan The absolute necessity to save optimizer state_dict in presence of closed-form formula raises some concerns, also because it's unintuitive (closed-form pure functions for scheduling l.r. are quite standard in papers and maths, having scheduler output depending on restoring optimizer buffers is a bit strange)

[2019-12-11 20:43] IlyaOvodov commented on #23993
I've faced the same problem. More localized example:
[code]
fails with the same error:
[code]

[2019-12-11 20:43] nairbv opened #31135 "Improve handling of precision in testing"
Some tests need to validate equality with low precision. The most common use-case is when testing operations on low-precision dtypes like torch.half or torch.bfloat16. There are a number of ways we handle this in testing code:

* We have a dtype2precision map we use in test_torch.py.
* We set a default precision as a member variable of TestCase in common_utils.py, which can be overriden by individ

[2019-12-11 21:03] develooper1994 commented on #30966
I didn't try after fail. I have started long run.

[2019-12-11 21:16] ezyang commented on #27614
Thanks, my earlier comment was wrong. Sorry about the confusion.

[2019-12-11 21:18] ezyang commented on #27614
I'm still reading the rest of the comments and correcting my misunderstanding, but in this particular case, the way you solve it is by having the backwards formula save the shape of the original input, so you know how big to make `grad_input` the other way around. This is for example, how convolution backwards are implemented, as rounding means the input size is not uniquely determined by the back

[2019-12-11 21:18] zou3519 opened #31136 "Move hypothesis installation to docker"
Most of our test CI broke today because hypothesis did an update that changed their internal module structure and we were importing things from an internal module.

In the long-term we should install hypothesis while building our docker images instead of asking our CI to install it every time the CI runs. i.e., remove this line: https://github.com/pytorch/pytorch/blob/7a8261e962f26f84f6211bca42707

[2019-12-11 21:30] zou3519 commented on #31136
We should probably pin a lot of the packages in https://github.com/pytorch/pytorch/blob/7a8261e962f26f84f6211bca4270713a3102146c/.jenkins/pytorch/test.sh as a quick preventative thing to avoid future surprises. One failure mode for our CI is that we start seeing seemingly unrelated failures because we forgot to pin a package and the package got updated.

[2019-12-11 21:34] ezyang commented on #27614
@nikitaved I agree with your reasoning. As @gchanan originally pointed out, this issue has nothing to do with broadcasting. This example makes the behavior clear:

[code]

[2019-12-11 21:39] albanD commented on #27614
Ok, after some testing. My confusion comes from the fact that I assumed that: `out = src.scatter_add(1, ind, ofs)` and `out = src.scatter_add(1, ind.expand(-1, -1, 3), ofs)` were the same thing. But they are not.
I was expecting the indices to be expanded under the hood.

I would argue that this behavior is a bug and should not be allowed?
The fix for existing code is simple: narrow the output so

[2019-12-11 21:45] ezyang commented on #27614
@albanD It's not that simple. You have to do a multi-dimension narrow:

[code]

Multi-dim narrow is possible but I don't think we have any function that does it. Also, to expand on the suggestion, the claim is to make `scatter_add` a composite operation which does a narrow and then a `_scatter_add`, where the latter requires input and index to match exactly. Then the existing backwards formula for

[2019-12-11 21:52] albanD commented on #27614
Shall we add a `narrow_as` ?

My suggestion was not to make `scatter_add` a composite function but make a BC-breaking change where we only allow indices and source to match exactly. The message corresponding to this error would be `Careful, part of your source will be ignored. If you really want this, narrow your source to match your indices before calling scatter_add`.
This could be generalized t

[2019-12-11 21:53] ezyang commented on #29697
If I were calling the shots here, I would give up on non-closed-form formulas by default and introduce them as separate classes.

[2019-12-11 21:57] ptrblck commented on #31095
I tried to reproduce it on our machines with CUDA10.2.89 (with and without the `time.sleep`) and both tests passed.

@mrsalehi Were you able to reproduce it only using this setup (i.e. CUDA9.2, M40, driver 396.69) or on any other setups as well?
I would like to narrow down the possible root cause of this issue.

[2019-12-11 22:04] ezyang commented on #28361
I'm not sure how to do it. Let me give some information about how PyObject is implemented in PyTorch and maybe that gives you some information.

The PyObject representing Tensor looks like this:

[code]

Every Variable also contains a pyobj field which points to the unique `PyObject` object representing the tensor. This ensures that C++ object identity and Python object identity coincide.

Does th

[2019-12-11 22:16] baobablyh commented on #31095
Just some data point: I could not reproduce it in our CUDA10.0 env either.

[2019-12-11 22:25] gchanan commented on #27614
Thus my suggestion above to do an audit of all this code.  What constraints do scatter/scatter_add/gather/etc impose across CPU/CUDA/forward/backward boundaries?

[2019-12-11 22:50] IlyaOvodov opened #31141 "[JIT] tensor(device=...) and tensor.to(device = ...) does not work properly in traced functions and modules"
## 🐛 Bug

tensor.to(device) function results in fixed destination device when being traced by torch.jit.trace.
It seems very similar to #13969 which is reported to be closed 1 year ago, but it still fails to work.

## To Reproduce

[code]
results in error
[code]
The same error arises if `b` is initialized in another way:
[code]
If is caused by fact that target device is fixed as a literal constant

[2019-12-11 22:58] mrshenli commented on #31095
@ptrblck I haven't try other environments yet. [This](https://app.circleci.com/github/pytorch/pytorch/pipelines/93c0752c-2dc9-4d93-aee1-e9da39b83d25/workflows/24948a1a-d95e-4703-8450-abe2a5adad41) is the failed CI run, all failures occur in envs with CUDA9. Though [this](https://app.circleci.com/jobs/github/pytorch/pytorch/3824068) CUDA9 test has passed.

Let me try a different environment.

[2019-12-11 23:18] vadimkantorov commented on #29523
a little bit related: https://github.com/pytorch/pytorch/pull/31143

[2019-12-11 23:36] #29252 closed

[2019-12-11 23:42] ezyang commented on #30886
cc @smessmer as the compilation failure is related to c10 code.

I'm bumping priority since this is an FB internal case that I think we do want to support. However, testing against v141 will be hard as CircleCI has very limited options for Windows build environments

[2019-12-11 23:43] ezyang commented on #31105
You need to save the variable prior to squeeze.

[code]

[2019-12-11 23:43] #31105 closed

[2019-12-11 23:45] ezyang commented on #10223
I think @albanD is thinking about how to make it happen

[2019-12-11 23:45] ezyang commented on #31132
@h6197627 Thanks for the report. Do you think you could open a PR for this?

[2019-12-12 00:32] alicanb commented on #26151
closed via #25923

[2019-12-12 00:32] #26151 closed

[2019-12-12 00:45] vincentqb commented on #29697
@vadimkantorov  -- Thanks for the continued input in the process now and [then](https://github.com/pytorch/pytorch/pull/26423#discussion_r330399586) :)

In general, in order to resume adaptive optimizers, you would need all the internal buffers even though they require significant space.

If indeed the buffers are unnecessary and quite large, we could have a way of saving a smaller footprint while

[2019-12-12 00:59] vpirogov commented on #31044
See discussion in https://github.com/pytorch/pytorch/issues/31106.

[2019-12-12 01:18] bhosmer commented on #19628
Recent master gives a different error on call to `_export`:
[code]
Looks like the first slot value loaded [here](https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/passes/lower_graph.cpp#L121) is indeed a `Bool`, not a `Tensor`.

[2019-12-12 01:41] bhosmer commented on #19685
@izdeby let's check back on this after #30983 lands. cc @gchanan

[2019-12-12 02:10] bhosmer commented on #19639
Can't repro, looks like it's fixed:
[code]

[2019-12-12 02:10] #19639 closed

[2019-12-12 03:32] alicanb commented on #21596
@fritzo any idea how to fix this? One idea I have is add a `event_shape_modifier` to all transforms and replace https://github.com/pytorch/pytorch/blob/0745591855fb6f5136b27c90a5b79a81e8c6c415/torch/distributions/transformed_distribution.py#L53

with `shape = self.base_dist.batch_shape + torch.Size([s + event_shape_modifier for s in self.base_dist.event_shape])`

[2019-12-12 03:41] fritzo commented on #21596
It's tough to say without more examples. My first reaction would be to define a method
[code]
and use that in `TransformedDistribution`.

[2019-12-12 04:13] XiaobingSuper commented on #31110
In pytorch, softplus is computed by:
https://github.com/pytorch/pytorch/blob/679b20b1e4b79dd3d62d8a8cb625efeb5a51fe29/aten/src/THNN/generic/SoftPlus.c#L20
it compare **beta*input** with **threshold**, may be compare **input** with **threshold**.
For the backward, I think there also has a problem:
https://github.com/pytorch/pytorch/blob/679b20b1e4b79dd3d62d8a8cb625efeb5a51fe29/aten/src/THNN/generic

[2019-12-12 04:14] XiaobingSuper commented on #31110
@ezyang

[2019-12-12 04:43] ezyang commented on #31110
@XiaobingSuper That seems like a very nice catch. Do you think you could submit a PR to fix it (with a test too?)

[2019-12-12 04:43] ezyang commented on #31110
@gchanan it'd be worth figuring out why gradcheck didn't nail this (probably because the discontinuity is only on a very specific range)

[2019-12-12 05:44] XiaobingSuper commented on #31110
@ezyang ,  https://github.com/pytorch/pytorch/pull/30504 is about move TH code to Aten.  To solve the discontinuity, is it ok using this method:
[code]

[2019-12-12 06:05] SsnL commented on #24984
The way to solve this is to always use a background thread. I'm happy to review a PR that does this.

[2019-12-12 06:11] suo commented on #31103
Closed for now, as we have re-enabled the original build

[2019-12-12 06:11] #31103 closed

[2019-12-12 06:16] peterjc123 commented on #30886
As I said, I tried to update to VS 2019 and this issue disappeared. I also tried to make a minimal reproducible example from the code in `caffe2\aten\src\aten\core\boxing\KernelFunction_impl.h`, but failed. So actually I don't what the compiler is complaining about.

That's not a problem for CircleCI, which has v141 toolchain installed.

[2019-12-12 06:20] marcoleewow opened #31171 "cannot find /usr/local/cuda-* and no nvcc inside pytorch docker container"
## 🐛 Bug

We can see that pytorch can load cuda 10.1, but inside the docker container, we cannot see nvcc or /usr/local/cuda-10.1 folder.

## To Reproduce

`docker run --rm --gpus all pytorch/pytorch:1.3-cuda10.1-cudnn7-runtime python -c "import torch; print(torch.version.cuda)"`

gives `10.1.243`

`docker run --rm --gpus all pytorch/pytorch:1.3-cuda10.1-cudnn7-runtime ls /usr/local/cuda*`

gives

[2019-12-12 06:33] lzxzy commented on #30931
@yf225
Hi, when I try to run the tutorial. I met the same error . So I wonder is there any solution for this problem? Thx.

[2019-12-12 06:34] ezyang opened #31172 "intrusive_ptr_target should not have virtual methods"
I'm noticing that we're getting vtables generated for some classes that subclass `intrusive_ptr_target`. This is a bit surprising, because in the case I was looking at (VersionCounter), the vtable is totally unnecessary: the class is final and doesn't define any virtual methods itself.

"OK Edward, maybe it's technically unnecessary, but why does it matter?" Well, I noticed this because I was debu

[2019-12-12 06:41] ezyang opened #31173 "python test/run_test.py -i cpp_extensions doesn't recompile extension"
I wasted some time because I fixed a bug, reran cpp extension tests, and it still failed, and I spun wheels until I realized that the C++ extensions didn't get recompiled. That's wrong: we should always recompile the extensions when running these tests.

cc @yf225

[2019-12-12 06:45] gabrielhuang opened #31174 "Multiplying transposed BoolTensor with FloatTensor"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

The "wrong" case should have matched the "correct" cases.

## Environment

[code]

## Additional context

I am using those masks in the context of Transformers.
Since it does not raise errors, I naturally tend to not convert BoolTensor masks to float before multiplying them with FloatTensors.
It seems like c

[2019-12-12 06:52] cong235 commented on #27841
@aviaisr Try to use pytorch 1.2 and onnx 1.5

[2019-12-12 06:53] bhosmer commented on #19769
Looks like it's fixed, @albanD's repro now runs to completion and prints GRAD CHECK OK - closing

[2019-12-12 06:53] #19769 closed

[2019-12-12 07:22] peterjc123 commented on #25393
Another one in https://app.circleci.com/jobs/github/pytorch/pytorch/3919969.
[code]

[2019-12-12 07:23] lzxzy commented on #30931
When I try to use the second approach to build the Generator Module like this:
[code]
It worked on CPU, but the GPU mode get the** error** ` Tensor for argument #2 'weight' is on CPU, but expected it to be on GPU`. I think it is because `generator->to(device)` doesn't work. I'm the new guy for cpp. So any idea for this?

[2019-12-12 07:45] bhosmer commented on #19978
repro script using `with torch.jit.optimized_execution()` instead of `optimize`:

[code]

[2019-12-12 07:45] kerry-Cho opened #31178 "torch::nn::functional::interpolate crash"
## 🐛 Bug

## To Reproduce
I'm sharing a minor error.  For liptorch beginners It can be fatal.
Steps to reproduce the behavior:

[code]

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script

[2019-12-12 08:03] bhosmer commented on #20017
save now appears to work fine for these repros, closing

[2019-12-12 08:03] #20017 closed

[2019-12-12 08:05] GanjinZero opened #31179 "Cannot init cuda under cuda10.1 & pytorch 1.3.1"
## 🐛 Bug

Cannot init cuda under cuda10.1

And i get "THCudaCheck FAIL file=/opt/conda/conda-bld/pytorch_1573049306803/work/aten/src/THC/THCGeneral.cpp line=50 error=999 : unknown error
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/veritas/anaconda3/lib/python3.7/site-packages/torch/cuda/__init__.py", line 193, in _lazy_init
    torch._C._cuda_init()
Runtim

[2019-12-12 08:06] cong235 commented on #19948
@houseroad How can fix it bro?

[2019-12-12 08:17] peterjc123 commented on #31080
Are you using Windows 7? If yes, then it is just a duplicate of https://github.com/pytorch/pytorch/issues/29383.

[2019-12-12 08:54] noskill commented on #30458
Where should check for the flag be placed? I am not familiar with the source yet..

[2019-12-12 09:44] Garithe commented on #20140
I also face this while using ipthon kernal in jupyterlab(under anaconda). But when I use it in console of mac, it worked. No idea how to solve it.

[2019-12-12 09:54] peterjc123 commented on #15982
I opened an issue at ideep: https://github.com/intel/ideep/issues/35. Hope that they will support ideep on Windows.

[2019-12-12 10:15] lzxzy commented on #30931
Unfortunately, when I update the libtorch version it doesn't work. I think it's high relative with torch version

[2019-12-12 10:22] filipre commented on #10043
Another use case:
I need to calculate a "discrete gradient operator" which will be a (very) large matrix but also very sparse. In Numpy, I can do something like this:

[code]

Notice that I use `sparse.spdiags`, `sparse.kron` and `sparse.eye`. Similar functions in PyTorch would be very useful to have. Or maybe a function that takes a SciPy sparse tensor and creates a PyTorch sparse tensor from it

[2019-12-12 10:37] HDCharles opened #31180 "Windows Build Failure: error C2672"
note I wrote similar details here but haven't gotten an answer:
https://stackoverflow.com/questions/59291287/trouble-installing-pytorch-from-source

### **Background**
As mentioned in the above link, I'm trying to compile from source due to my GPU being old and support for it has been removed per the thread:  https://discuss.pytorch.org/t/pytorch-no-longer-supports-this-gpu-because-it-is-too-old/1

[2019-12-12 11:06] peterjc123 commented on #31180
Your build error is a duplicate of https://github.com/pytorch/pytorch/issues/30886. You can try building with VS 2019.

[2019-12-12 11:06] #31180 closed

[2019-12-12 11:08] HDCharles commented on #31180
Alright will return to 19 and retry again.

[2019-12-12 11:16] peterjc123 opened #31181 "DLL load mechanism changed in Python 3.8 for Windows"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. build PyTorch with Python 3.8
2. Get "ImportError: DLL load failed while importing _C: The specified module could not be found."

## Expected behavior

Import success

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_e

[2019-12-12 11:34] FOXaaFOX commented on #31080
yes，(my post)[https://stackoverflow.com/questions/59245714/pytorch-cnn-model-stop-at-loss-backward-without-any-prompt]

[2019-12-12 11:38] FOXaaFOX commented on #31080
I used the win10.

My program executed successfully in rnn base such as lstm and rcnn.

The situation only occurs under the cnn base such as textcnn and dpcnn

[2019-12-12 11:42] fhamborg opened #31182 "DataLoader: missing data fields"
## 🐛 Bug

When having multiple data fields in a dictionary that is passed to a `DataLoader` object, where some of these fields have a similar name, the resulting batch only contains a subset of these fields.

Specifically, the fields are named:
[code]

After passing a list of dicts, where each dict represents one document and the dict has keys named as shown above and respective data in each value

[2019-12-12 11:44] peterjc123 commented on #31080
@FOXaaFOX Could you please post a minimal reproducible code example? Also, would you please fill in the issue template to include more info about your environment?

[2019-12-12 12:02] iamwangyabin opened #31183 "[libtorch] "tensor(cuda) to cv::Mat" has different results with" tensor(cpu) to cv::Mat""
## 🐛 Bug
when I use libtorch v1.3.1,I found I always have wrong results when I convert a cuda tensor to opencv Mat ,so I run a simple test :

[code]
 which result is :+1:

[code]

Could I just simply use `Tensor.cpu()` without create a new cpu tensor to convert a cuda tensor to cv::Mat?

## Environment
PyTorch version: 1.3.0
Is debug build: No
CUDA used to build PyTorch: 10.1.243

OS: Ubuntu 16.04

[2019-12-12 12:12] FOXaaFOX commented on #31080
my environment：
os : WIN 10
python:   3.7.5
pytorch:  1.3.1
vs2015_runtime:   14.16.27012
cuda: 9.2
I really want to solve my problem,but my project seems heavy.
I have uploaded all my codes and my sample data to [github](https://github.com/FOXaaFOX/bert_text_classification)

[2019-12-12 13:10] xdever opened #31184 "Unflatten segmentation faults if dim is negative integer"
## 🐛 Bug

When using named tensors, and handling negative integer as a dim argument of unflatten, pytorch segfaults.

## To Reproduce

[code]

## Expected behavior

[code]

## Environment

PyTorch version: 1.3.1
Is debug build: No
CUDA used to build PyTorch: 10.1.243

OS: Manjaro Linux
GCC version: (GCC) 9.2.0
CMake version: version 3.15.5

Python version: 3.7
Is CUDA available: Yes
CUDA runtime v

[2019-12-12 13:13] ruiyuanlu opened #31185 "Retain Subgraph or Save Intermediate Grad support?"
## 🚀 Feature

Hi, I'd like to know if it possible to support *retain **subgraph*** for backward calculation.

Or some ways to save **intermediate gradients** that I need exactly for later use. The gradient hook is not precise enough.

## Motivation
I've tried current available **retrain_graph=True**, it works fine when model is small, but causes **out of memory error when model gets bigger**. Actu

[2019-12-12 13:22] mahmoodn opened #31186 "CUDNN and NCCL paths are not detected while they are set"
Although custom paths for NCCL and CUDNN are set in `.bashrc`, setup script can not find them.

Please see below:

[code]

[2019-12-12 14:29] tb438 opened #31188 "IterableDataset skipping lines in CSV file?"
## 🐛 Bug

I am writing a dataloader pipeline for PyTorch and It seems that there is a bug in the IterableDataset object.

## To Reproduce

[code]
## Expected behavior

Both range sizes are to fetch 64 rows, but for some reason rows 109 and 123 are getting skipped with the DataLoader object?

## Environment

Collecting environment information...
PyTorch version: 1.3.1
Is debug build: No
CUDA used t

[2019-12-12 14:52] kshamaramesh opened #31189 "ONNX to PYTORCH"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):1.3.1
 -

[2019-12-12 14:53] willbradshaw commented on #19651
Hi,

I'm also seeing this issue, on a fairly new Linux machine (Dell XPS13 running Ubuntu 18.04.3 LTS, with a Intel® Core™ i7-8565U CPU @ 1.80GHz × 8 CPU). Here's what I get when I run the above code:

[code]

[2019-12-12 14:58] albanD commented on #19769
@zdevito was working on this. Is there a more general issue of fixing view returns from the symbolic diff?
Maybe because of some internal changes, this does not happen anymore on this particular repro.

[2019-12-12 15:08] liygzting commented on #31106
@vpirogov ,
yes when I set environment
[code]
pytorch script run well
[code]
 maybe [this website](https://www.pugetsystems.com/labs/hpc/How-To-Use-MKL-with-AMD-Ryzen-and-Threadripper-CPU-s-Effectively-for-Python-Numpy-And-Other-Applications-1637/?__cf_chl_captcha_tk__=cbdce49a1a838b6805e0b1136057a356e4931dcd-1576163232-0-ASif9pBI7ouX_Cp5fO9PhyclWagoASQZBAcAZxKoA_be_Mnmn_-54guZwm7YTrFR26_FuXE5uxgH

[2019-12-12 15:09] #31106 closed

[2019-12-12 15:11] eellison commented on #23258
Closing bc issue was fixed with #25889

[2019-12-12 15:11] #23258 closed

[2019-12-12 15:13] tsungruihon opened #31190 "macOS Catalina could not build PyTorch from source"
I would like to build `PyTorch` from source on mac, which environment is Catalina 10.15.2 with xcode 11.2. But the below errors happend. I have also tried to reinstall xcode command line tools. But that could not help.

Really appreciated if someone could give me a hint. Thanks.

[code]

[2019-12-12 15:18] eellison commented on #23486
Closing due to lack of activity & easy repro. Please reopen and comment with a repro if you are still affected by this.

[2019-12-12 15:18] #23486 closed

[2019-12-12 15:20] eellison commented on #23616
Closed with https://github.com/pytorch/pytorch/pull/23669

[2019-12-12 15:20] #23616 closed

[2019-12-12 15:20] albanD commented on #31190
Have you followed the instructions from [the doc](https://github.com/pytorch/pytorch#install-pytorch) ? In particular, setting the right env variables?

[2019-12-12 15:24] eellison commented on #23850
Can you add more information to this issue or close it please ?

[2019-12-12 15:26] eellison commented on #23918
I think you implemented this correct ? Closing, if I am wrong please re-open.

[2019-12-12 15:26] #23918 closed

[2019-12-12 15:26] albanD commented on #31185
Hi,

# For saving subgraph
Doesn't reordering your backward work?
Do the backward for the smallest part first and the big one last without `retain_graph` ?

Your proposition might be possible to do. But might be quite complex to implement.

# For specific grad
I'm afraid this is a limitation of automatic differentiation. You only get the gradient for the output. If you need gradients for multiple

[2019-12-12 15:27] eellison commented on #23920
According to @dzhulgakov this was closed with https://github.com/pytorch/pytorch/pull/21398, if you are still experiencing this please re-open.

[2019-12-12 15:27] #23920 closed

[2019-12-12 15:39] tb438 commented on #31188
Hmm it looks like there is something wrong with my irandomize() function; whenever I don't shuffle the iterable, it returns the correct number and sequence of rows.

So with IterableDataset not supporting a shuffle operation, what is the best way of streaming (and shuffling) rows from a very large CSV file? It doesn't look like IterableDataset supports a length argument, so my thoughts were to fir

[2019-12-12 15:44] eellison commented on #24110
@driazati i believe you fixed this recently, closing

[2019-12-12 15:44] #24110 closed

[2019-12-12 15:48] eellison commented on #24228
seems like we were unable to repro, closing. @deepakkumar1984 if you are still experiencing this issue on a recent release please reopen.

[2019-12-12 15:48] #24228 closed

[2019-12-12 15:52] eellison commented on #24243
The repro no longer errors, and there is another issue similar issue that is outstanding so I'm closing this.

[2019-12-12 15:59] FOXaaFOX commented on #31080
Thank you for your reply.

I I tried to run my program on linux platform, and it ran successfully.

Therefore, it is very likely that it is caused by different os

Previous os：win 10

[2019-12-12 16:00] #31080 closed

[2019-12-12 16:02] eellison opened #31191 "[JIT] Slice with optional not supported"
## 🐛 Tensor Slice with optional
[code]

The following operator variants are available:
  aten::slice(Tensor(a) self, int dim=0, int start=0, int end=9223372036854775807, int step=1) -> (Tensor(a)):
  Expected a value of type 'int' for argument 'end' but instead found type 'Optional[int]'.
 ...

Originally reported in https://github.com/pytorch/pytorch/issues/24256

Related issue https://github.com

[2019-12-12 16:06] eellison commented on #24256
Many of the issues listed here have been fixed(!). The remaining ones that still repro are:

`tensor.new` not supported. this is being tracked by other issues: https://github.com/pytorch/pytorch/issues/30780

slice with optional not supported: I opened issue here https://github.com/pytorch/pytorch/issues/31191

Optionally-present attributes should be handled by `hasattr`, https://github.com/pytorc

[2019-12-12 16:06] #24256 closed

[2019-12-12 16:09] eellison commented on #24314
This has been fixed, the repro no longer errors.

[2019-12-12 16:09] #24314 closed

[2019-12-12 16:11] z-a-f opened #31192 "Quantized LSTM: "RuntimeError: expected scalar type Float but found QInt32""
## 🐛 Bug

When using the quantized LSTM, an error pops up saying `RuntimeError: expected scalar type Float but found QInt32`

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

The behavior should be equivalent to the non-quantized LSTM. Replacing the above code with `nn` instead of `nnqd` works.

## Environment

[code]

## Additional context

cc @jerryzh168 @jianyuh

[2019-12-12 16:16] eellison commented on #23905
This has been fixed:
`Module 'MyModule' has no attribute 'x' (This attribute exists on the Python module, but we failed to convert Python type: 'dict' to a TorchScript type.):`

[2019-12-12 16:16] #23905 closed

[2019-12-12 16:17] yf225 commented on #30331
Request for patch: #31166

This PR removes the `transposed` argument from `Conv{1,2,3}dOptions`, so that users are encouraged to use `ConvTranspose{1,2,3}d` instead if they want to do deconvolution.

[2019-12-12 16:27] bhosmer commented on #19769
Ah not sure, maybe Zach has more info

[2019-12-12 16:30] nikitaved commented on #27614
@ezyang, so, currently there is no functional to "subtenso"r `source` to match the size of `index`?

[2019-12-12 16:37] nikitaved commented on #30090
@chentau @fritzo @vincentqb the analytic gradient for the normalized case
is `(torch.log(a) + 1) - torch.sum(a * (torch.log(a) + 1))`, not `(1-a)*(torch.log(a) - np.log(1./5) + 1)`. The correct formula matches the gradient from backward.

My mistake, I am sorry. Closing the issue...

[2019-12-12 16:37] #30090 closed

[2019-12-12 16:43] Wheest commented on #17666
Could be an issue with not being able to allocate enough virtual memory, increasing swap file size would be a good next step to try

[2019-12-12 16:51] elbamos commented on #27409
@xuhdev Here you go:
[buildlog.zip](https://github.com/pytorch/pytorch/files/3956916/buildlog.zip)

[2019-12-12 16:53] davtir opened #31195 "torch.nn.functional.conv2d: unexpected mkl-dnn::impl::global_scratchpad_t::global_scratchpad_t(size_t) assertion failed"
Hi,
I'm experiencing some unexpected behaviours while using `torch.nn.function.conv2d` function, still doesn't know if it is actually a bug or something that I am missing.
In particular I got the following error while executing my project script:

`python: /pytorch/third_party/ideep/mkl-dnn/src/common/scratchpad.cpp:63: mkldnn::impl::global_scratchpad_t::global_scratchpad_t(size_t): Assertion scra

[2019-12-12 17:31] houseroad commented on #30331
Request for patch: https://github.com/pytorch/pytorch/pull/31170

Add Support for ONNX Interpolate Add Scales Params

[2019-12-12 17:56] yngtodd opened #31197 "ATen_hip not available when compiling from master"
## 🐛 Bug

`ATen_hip` is missing when building from master.

[code]

## To Reproduce

Steps to reproduce the behavior:

1. run `tools/build_amd.py` with default args
1. compile from master with `USE_CUDA=0 python setup.py install`

## Expected behavior

I am trying to get up and running with the recent ROCM suite. I am building on an Linux machine with a Radeon VII.

## Environment
[code]
## Additi

[2019-12-12 17:57] rohan-varma opened #31198 "Inaccurate error message when calling rref.local_value() on a non-owner worker"
## 🐛 Bug

When a user has an rref and calls `local_value()` on it on a non-local worker, we currently throw an error saying that we cannot call that method on a non-local reference, but the worker name that we say to call it on in the error message is the current worker itself, which is not accurate. See https://github.com/pytorch/pytorch/blob/master/torch/csrc/distributed/rpc/py_rref.cpp#L74.

##

[2019-12-12 18:04] rohan-varma commented on #30287
Done in https://github.com/pytorch/pytorch/pull/31077

[2019-12-12 18:04] #30287 closed

[2019-12-12 18:06] yngtodd commented on #31197
Here is the log for the compilation: https://gist.github.com/yngtodd/8f27f1edc2930fd2354690b6ae7d6c8a

[2019-12-12 18:21] xush6528 commented on #31198
@mrshenli
Is it possible to merge `rref.to_here()` and `rref.local_value()` into a same API?

[2019-12-12 18:34] rohan-varma commented on #31198
@xush6528 to_here() is currently blocking, right? So we would need to first make to_here() return a future for this to be possible.

[2019-12-12 18:48] xush6528 commented on #31198
@xush6528 Right. If whey can be merged, they need to return the same thing either 1) future and not blocking or 2) value but wait for the value to be filled into the rref.
I think it's a pain for users right now that they have to test if they are having an owner rref or a user rref by calling `rref.is_owner()` first, before deciding calling `rref.to_here()` or `rref.local_value()`.
But I guess use

[2019-12-12 18:49] eellison commented on #23220
Pretty sure this still repros. I tried the model and there 579 tensors saved, and the model code just looked like this:
[code]

[2019-12-12 18:51] houseroad opened #31202 "Request for Lint Pass to Detect Modification on Parameters/Attributes during Inference"
## 🚀 Feature
A lint pass to help user detect any violation of the immutability of the models during inference time.

## Motivation
We assume that in most of the cases, the model should be stateless during inference, which means the model itself is thread-safe. However, user may update the parameters/attributes accidentally. We need some way to help users identify such cases.

## Pitch
A lint pass

[2019-12-12 19:11] colesbury commented on #31174
Sorry you ran into this. This is fixed in 1.3.1. Here are the release notes for reference: https://github.com/pytorch/pytorch/releases

[2019-12-12 19:11] #31174 closed

[2019-12-12 19:14] colesbury commented on #31178
Thanks for reporting this.

cc @jon-tow @yf225 who are listed on the git log for F::interpolate

[2019-12-12 19:22] colesbury commented on #31182
That's strange... we would definitely accept PRs to fix this!

[2019-12-12 19:25] colesbury commented on #31183
Yes you can use `Tensor.cpu()` to create a CPU tensor for cv::Mat:

[code]

The second example is WRONG because the CPU tensor gets immediately destroyed. You need to make sure that the CPU tensor (i.e. `abc2`) stays alive for at least as long as the `cv::Mat` is alive.

[code]

[2019-12-12 19:25] #31183 closed

[2019-12-12 19:31] colesbury commented on #31186
I think you want to set the environment variable `CUDNN_LIBRARY` instead of `CUDNN_LIBRARY_PATH`.  I believe `CUDNN_LIBRARY_PATH` is set based on `CUDNN_LIBRARY`. (Alternatively set `CUDNN_ROOT`)

https://github.com/pytorch/pytorch/blob/92750acb88ec5539658b1c51ee27a648ce92a33a/cmake/Modules_CUDA_fix/FindCUDNN.cmake#L4-L7

Also see the NCCL variables:

https://github.com/pytorch/pytorch/blob/92750a

[2019-12-12 19:34] colesbury commented on #31189
This issue has no description of the problem. Please re-open with a description of the bug.

[2019-12-12 19:34] #31189 closed

[2019-12-12 19:34] SsnL commented on #31182
This happens when your dicts don't have matching set of keys...

[2019-12-12 19:37] colesbury commented on #31190
In particular these environment variables from the doc seem important:

[code]

It would be *really* nice to make this just work. The README is really long with a lot of stuff that's not relevant to building... I would not expect most people to notice that section.

[2019-12-12 19:40] driazati commented on #25383
`torch::jit::script::Module` is a value type, you do not need to explicitly release it

[2019-12-12 19:40] #25383 closed

[2019-12-12 19:47] kossnick commented on #31055
Thanks for the quick and helpful reply! I pulled pytorch-nightly and it indeed works for me!

[2019-12-12 19:47] #31055 closed

[2019-12-12 19:48] driazati commented on #24856
this is fixed on master

[2019-12-12 19:48] #24856 closed

[2019-12-12 19:58] colesbury commented on #31188
My suggestion is: don't use IterableDataset and use `shuffle=True` on your DataLoader.

1) Load all your data into a Python list
2) Use Dataset
3) Use shuffle=True in the consturtor to DataLoader

If you want to cycle and make the dataset really large, override `__len__` and `__getitem__` in your dataset.

[2019-12-12 19:59] colesbury commented on #17666
Yeah, running out of memory seems like the most likely cause.

[2019-12-12 20:07] colesbury commented on #31195
I'm not seeing this error on my installation, but something might be different (like more RAM). It looks like `malloc` is failing:

Here's the relevant code.

[code]

My guess is that MKL-DNN is trying to use a really big scratchpad because of poor algorithm selection. Instead of failing gracefully, it just dies with an assertion error.

So the fix might be two parts (both on the MKL-DNN side):
1)

[2019-12-12 20:09] colesbury commented on #31197
@gchanan how does ROCM/HIP work now? Is it `device='hip'` or just still `Tensor.cuda()`?

[2019-12-12 20:10] colesbury commented on #31197
I'm confused because your environment debug includes:

[code]

Do you also have an NVIDIA GPU? Or is this just our "hip" masquerading as "cuda" behavior in action?

[2019-12-12 20:12] colesbury commented on #11755
Is this complete?

[2019-12-12 20:14] colesbury commented on #31202
What is the context: is this lint pass for PyTorch in general? TorchScript? ONNX?

[2019-12-12 20:14] davtir commented on #31195
As additional info, the server on which the error occurs is equipped with 64Gb of RAM and has 2 Intel Xeon E5-2640 v4.

[2019-12-12 20:18] colesbury commented on #31179
I'm not sure there's much to suggest other than trying:

1) PyTorch built with a different CUDA version
2) Updating your NVIDIA driver

From what I understand, this is installed via conda, right? Does your GPU work otherwise?

The Julia documentation suggests:

[code]
(From http://juliagpu.github.io/CUDAdrv.jl/v0.5.1/)

[2019-12-12 20:21] colesbury commented on #31171
@ezyang does someone review the "module: docker"?

@marcoleewow, I don't know what the expected behavior is... hopefully someone familiar with the docker image can comment. But if CUDA works but there's no `/usr/local/cuda*` directory than I'd guess it's installed somewhere else.

[2019-12-12 20:27] colesbury commented on #31182
@SsnL do you mean that some entries are missing say "global_context_attention_mask1" so it's not included in the batch?

@fhamborg would you please check if that's the issue. A self-contained reproducible example would also help.

[2019-12-12 20:28] fritzo commented on #11755
This was completed in https://github.com/pytorch/pytorch/pull/11868

[2019-12-12 20:28] #11755 closed

[2019-12-12 20:32] colesbury commented on #31195
Hmmm... when I run the example the whole program only uses ~4 GB. I'm running on a similar CPU.

[2019-12-12 20:34] dylanbespalko commented on #755
@Jakob-Unfried

https://github.com/pytorch/pytorch/wiki/TH-to-ATen-porting-guide

The TH kernels are implemented in C and there is little interest in adding complex support there due to all of the inherent reference counting issues. You can track the progress in `aten/src/ATen/native/native_functions.yaml` where each kernel is registered:

Search for `legacy::cpu::_th` and divide that number by 3

[2019-12-12 20:36] davtir commented on #31195
I don't know which is the actual memory overhead introduced by mkl-dnn, but the memory used in the example is quite low... Maybe some buffer overflow causing malloc ti fail?

[2019-12-12 20:45] mahmoodn commented on #31186
For CUDDN you are right. But the output of setup.py is misleading. Please note the differences in the variable names

**-- Could NOT find NCCL (missing: NCCL_INCLUDE_DIR NCCL_LIBRARY)**
vs.
 **#  NCCL_LIB_DIR: Directory where NCCL library is found**

and
**-- Could NOT find CUDNN (missing: CUDNN_LIBRARY_PATH)**
vs.
 **#  CUDNN_LIBRARY: Directory where CUDNN library is searched for**

Still I have

[2019-12-12 20:49] EscapeZero commented on #30886
@peterjc123 You are correct it does not appear on VS2019, but unfortunately internally we are locked to VS2017 (15.9), it looks like your CI is testing on VS2017(15.4). v141 toolset descriptor is a bit ambiguous as it is refers to multiple _MSC_VER (1910 through 1916 currently)

[2019-12-12 20:54] mahmoodn commented on #31186
Moreover, I see
[code]
in `third_party/gloo/cmake/Dependencies.cmake`. Please note that they are **NCCL_LIBRARIES** and **NCCL_INCLUDE_DIRS**.
I also test them. But still it doesn't find NCCL!!

[2019-12-12 21:01] eellison commented on #31141
Thanks for your the issue and succinct repro. You should have seen the `WARN CONSTRUCTOR` error which warned that constructors creates constants in the trace.

I think a workaround is to use the following, or to use `torch.jit.script`:
[code]

[2019-12-12 21:07] yngtodd commented on #31197
I just have the one AMD GPU in that machine right now, but it used to have an NVIDIA card so I have   CUDA toolkit and all that installed.

[2019-12-12 21:11] yngtodd commented on #31197
If I try
[code]
it hangs and does not allocate any memory on the GPU when looking at `rocm-smi`.

[2019-12-12 21:22] kurtamohler commented on #24933
I figured out how to move BCELoss over to ATen. As we thought, this fixed the error!
Next I need to implement the backward method, remove all the old BCELoss code from TH, and then write an error-checking test.

[2019-12-12 21:23] xDuck opened #31210 "Building from source without CUDA is failing for 1.2"
## 🐛 Bug

Trying to build Pytorch from source on a 1.2 or similar build without CUDA because my project depends on 1.2. Seems to always be an issue with Caffe2 on any commit I try. I had at one point around September 17th made a successful build (from master I think) but I forgot to pin the commit and can no longer reproduce the build.

[code]

## To Reproduce

Steps to reproduce the behavior:

Do

[2019-12-12 21:25] gchanan commented on #31197
I believe it's `device='cuda'`, that's how the ROCM tests appear to work anyway.

I don't know if your configuration is supported, maybe @ezyang knows.  Is there a reason you need the CUDA toolkit installed?

[2019-12-12 21:34] yngtodd commented on #31197
No, the NVIDIA stuff is just a carryover. I will try removing all of that and recompiling.

[2019-12-12 21:47] jon-tow commented on #31178
Hey @kerry-Cho!
`F:interpolate` dispatches to the interpolation function specified by `mode` (default is nearest-neighbor). These functions are implemented only for floating-point type tensors.
It might be a good idea to let users know about this constraint with an exception or in the docs.
Thanks for pointing it out!

[2019-12-12 22:06] gchanan commented on #31135
CC @mruberry

[2019-12-12 22:10] IvanKobzarev commented on #31027
workaround https://github.com/pytorch/pytorch/commit/4ead2e8996c7dd8a0d3a07541449da48c2b9f3c6 is in master
I am monitoring failres on PRs

[2019-12-12 22:22] suo commented on #31102
@gchanan do you know who the right owner for this is? Blame is not very enlightening

[2019-12-12 22:22] supriyar commented on #30764
It didn't fail on rerunning. I've been monitoring the task and it doesn't seem to have failed since these reports.
@kostmo/@ezyang can we close this and re-visit if this shows up again?

[2019-12-12 22:29] #31079 closed

[2019-12-12 22:29] izdeby commented on #31079
Fixed

[2019-12-12 22:29] #23965 closed

[2019-12-12 22:30] fuzic opened #31213 "Bool tensors should be able to be flipped"
## 🐛 Bug

Most tensor types support the `.flip(dim: int)`, but not `BoolTensor`s. It seems they ought to support flipping too.

## To Reproduce

[code]

## Expected behavior

This should not error

## Environment

 - PyTorch Version (e.g., 1.0): master
 - OS (e.g., Linux): Linux
 - How you installed PyTorch (`conda`, `pip`, source): source
 - Build command you used (if compiling from source):
 - P

[2019-12-12 22:42] eellison commented on #23582
I think the purpose and size of the `debug` folder have been addressed so I'm closing. Please re-open if you think otherwise, or maybe create a separate issue to request an optional debug folder.

[2019-12-12 22:42] #23582 closed

[2019-12-12 22:42] gabrielhuang commented on #31174
Good to know it's already been fixed. Thank you !

[2019-12-12 22:49] fhamborg commented on #31182
@colesbury Indeed, that seems to be the cause of the issue - not all entries contained `global*3`, for example. Sorry for the confusion and thanks a lot for the quick help. So, I guess this is not a bug then and the issue could be closed.

However, the behavior is also at least slightly unexpected, i.e., one might assume that either (1) all names are contained but containing a `None` for data item

[2019-12-12 23:02] wanchaol commented on #19769
We can close this issue to reduce duplication, but the underlying problem is not fixed yet. @albanD https://github.com/pytorch/pytorch/issues/20734 is a more general issue of fixing view returns from symbolic diff.

[2019-12-12 23:08] gchanan commented on #30820
think it's worth discussing if it's high priority.

[2019-12-12 23:11] #31182 closed

[2019-12-12 23:28] #30512 closed

[2019-12-12 23:40] ezyang commented on #31110
I'll have to review the original code more closely to be able to say. But it sounds like this is a small change, so maybe just throw it up, so at least we can see that all the CI keeps passing with it.

[2019-12-12 23:42] ezyang commented on #30458
Not clear; the design for this may be fairly involved :)

[2019-12-12 23:44] ezyang commented on #27614
@nikitaved I'm not familiar with any such function. In particular, there's a limited number of view functions and I don't think any of them fit the bill here.

[2019-12-12 23:53] Kaixhin commented on #9674
Any update on dense-sparse ops in general? Wrt NNs with sparse/blocksparse weight matrices mainly.

[2019-12-12 23:58] ezyang commented on #31171
No, docker image is something the community has helped us out a bit with. But in this case, it's not really our problem: our docker image is based off of `FROM nvidia/cuda:10.1-cudnn7-devel-ubuntu16.04` which manages the CUDA installation. If CUDA is in a weird place, complain to NVIDIA about it ;)

[2019-12-12 23:59] ezyang commented on #755
Checking the porting tracking issue https://github.com/pytorch/pytorch/issues/24507 , also cc @VitalyFedyunin

[2019-12-13 00:04] ezyang commented on #31197
PyTorch ROCm still refers to everything as `'cuda'`. So the test scripts in https://github.com/pytorch/pytorch/issues/31197#issuecomment-565188679 are the correct ones to test with.

The compile log seems to imply that ROCM was enabled properly. My next suggestion would be to do your build in exactly the same environment we do CI in using https://hub.docker.com/r/bddppq/pytorch-rocm and see if it

[2019-12-13 00:09] ezyang commented on #31102
Don't blame, use pickaxe. `git log -Slogdet_1x1` reveals this test was added by @SsnL; Simon, maybe you have some ideas?

[2019-12-13 00:11] ezyang commented on #30764
@kostmo Can you setup a durable query for this test name and check for more recent occurrences?

[2019-12-13 00:14] tb438 commented on #31188
I don't think this will work, my dataset is 15G and when using a conventional DataLoader it locks everything up (presumably because the OS is swapping). Does the regular DataLoader support lazy loads now? Or is that only available through the IterableDataset object? IterableDataset object doesn't yet support len() or shuffle ops yet unfortunately, but it does lazy load the entire 15G .csv without

[2019-12-13 00:32] baobablyh commented on #31095
This [change](https://github.com/pytorch/pytorch/pull/28883/commits/8fe4782c370e3214fae78f2caf8d34302ad94663) should be able to fix the issue.

[2019-12-13 01:56] ezyang commented on #22439
@hanfang wrote a note internally which I'm sharing with everyone here:

----

Hi, I was chatting with @NarineK  regarding the basic metrics functionality from the Pytorch core lib. It turns out we don't seem to have any. The closest module is the one from ignite.

There have been some discussions on a Github issue, but it doesn't seem like we have a plan around whether/how to do this.

### HOW ARE

[2019-12-13 02:05] zzzwen opened #31228 "[RPC] Support nn.Module pickling with share memory"
## 🚀 Feature
To share memory across processes for multiprocessing hogwild,  Pytorch supports doing it at process spawning, with special [reduce functions](https://github.com/pytorch/pytorch/blob/master/torch/multiprocessing/reductions.py
).

With the introduction of `torch.distributed.rpc`, we will need to support packing share memory relating info while RPC send() pickles nn.Module.
There is a ha

[2019-12-13 02:08] kerry-Cho commented on #31178
@jon-tow @colesbury
Thank you.

[2019-12-13 02:11] ruiyuanlu commented on #31185
Hi, thanks for your reply.

1. In my case, there is ***no need*** to rearrange backward work, just do the backprop as usual.

2. Yes, for now, the smallest part first and the big one last. But it would be nice if gradients among arbitrary nodes can be obtained without retain graph or subgraph.

The real question is, for now, there is ***no way I can get exactly the gradient I need***. Take multi-h

[2019-12-13 02:19] #30477 closed

[2019-12-13 02:39] ezyang commented on #22439
@Darktex adds:

----

200% agree. Having reference implementations for metrics also guarantees that different systems (at FB but also outside, across research) can always be comparable, without worrying of eg corner cases, or minor details.

I am in the middle of this right now as I'd like to compare a server model with a on-device model (on the MobileVision platform). Sklearn doesn't contain *a l

[2019-12-13 02:46] lscelory opened #31231 "graph computation, out of memory, Reduce Failed to Synchronise, device-side assert triggered"
Hello,
Thank you for reading my long question.
First, my model can be denoted as:
[code]
My model consist of two parts, one backbone and one post process module. I have two inputs and three outputs. Now I want to train this model using data from two different dataset. images from dataset 1 are focusing on data extracting and images from dataset 2 are paired images which have strong relationship, a

[2019-12-13 03:21] viperit opened #31232 "Default shuffle behavior of DistributedSampler"
## 🚀 Feature
The **DistributedSampler** should shuffle data without explicitly set `set_epoch`.

## Motivation
I have found that the parameter shuffle of **DistributedSampler** is set True in default but the behavior and intuition are inconsistent. The GPU always load the same data between every epoch. It still needs manual set sampler.set_epoch to change the data loaded by GPU
## Pitch
Truely shu

[2019-12-13 03:25] Anikily opened #31233 "The way of initialization of op:torch.Tensor"
a = torch.Tensor(3,4), I will get a random initialized matrix of 3 \times 4, and i notice that the mean of a is 0, so what is the precisely defination of this initialization.
var of a is nan.

[2019-12-13 04:03] 6o6o commented on #31210
I confirm. Same issue when building torch-1.4.0a0+04b9324 on Linux Fedora 22
[code]

[2019-12-13 04:19] tsungruihon commented on #31190
@colesbury @albanD Thanks for prompt reply.  What i did was to follow the doc line by line. But still get the errors.🙏

[2019-12-13 04:25] tkclimb commented on #22906
I found something different but might have some relation to this issue.
I put the error below. is it a bug or the normal behavior, which means the specific combination upsample_bilinear2d and align_corners=True is not convertible to onnx format??

I used torch 1.3.1 and onnx 1.6.0.

[code]

[2019-12-13 04:34] kurtamohler commented on #24933
I was running the existing unit tests on my new implementation of BCELoss, and I found a case where the method fails and I'm not sure how to fix it.

My main problem is that one of the terms in the binary cross entropy equation is (target * ln(input)). What happens when the input and target are both set to 0?
0 * ln(0) = 0 * infinity

Maybe the answer is that the output of BCELoss should be 0 any

[2019-12-13 04:34] SsnL commented on #24933
0log0 is usually defined to be 0.

[2019-12-13 04:37] peterjc123 commented on #30932
This is the reply from MS. I think we should make the change.

[2019-12-13 04:47] yngtodd commented on #31197
After removing `/usr/local/cuda` and recompiling, I have the Pytorch MNIST example running on the  AMD card. I don't have any proof of that being the fix, but I am glad it's running!

Thanks for the help, it is good to know that I should keep the device set to `cuda`, and good to know how to run that Docker container!

Now to see about Libtorch on the AMD card...

[2019-12-13 05:35] marcoleewow commented on #31171
no, you can check that `nvidia/cuda:10.1-cudnn7-devel-ubuntu16.04` works as expected.

[code]

But all the cuda files in pytorch official image are gone. I am sure this is something wrong in pytorch dockerfile.

[2019-12-13 05:53] jinfagang opened #31237 "libtorch can not link program now"
## 📚 Documentation

Download libtorch from website, old program using libtorch can not link now:

[code]

While I have already set C++14 in cmakelists:

[code]

But keep get such error.

cc @yf225

[2019-12-13 05:53] marcoleewow commented on #31171
would be great if you can point me to how `pytorch/pytorch:1.3-cuda10.1-cudnn7-runtime` was build @ezyang so I can do further investigation :)

[2019-12-13 06:00] bhosmer commented on #14869
No longer an assert, but still errors on recent master:
[code]
[code]
[torch/onnx/symbolic_opset9.py, line 1790](https://github.com/pytorch/pytorch/blob/master/torch/onnx/symbolic_opset9.py#L1790)

[2019-12-13 06:17] mathpopo commented on #30586
first thank your for your help,i just use  "emulator" && x86 ,but show error：

warning: [options] source value 7 is obsolete and will be removed in a future release
warning: [options] target value 7 is obsolete and will be removed in a future release
warning: [options] To suppress warnings about obsolete options, use -Xlint:-options.
Note: Some input files use unchecked or unsafe operations.
Note:

[2019-12-13 06:20] xubin1994 opened #31239 "Depthwise convolution speed"
In the paper mobilenet, the author uses depthwise convolution and pointwise convolution instead of conventional convolution to reduce the number of parameters.I used the same alternative method on my own model as follows：
[code]
However, as a result, the training parameters were reduced, but the speed became a bit slower.
Can someone tells me what skills are needed to speed up depthwise convolutio

[2019-12-13 06:30] bhosmer commented on #20101
Both repros now run correctly, mod dim tweak in original (trace model.forward) to match suggested (trace model). (unmodified original gives unrelated error on channel agreement). Closing

[2019-12-13 06:30] #20101 closed

[2019-12-13 06:47] bhosmer commented on #20144
CPU-only build runs example (repointed to cpu) with no errors, closing

[2019-12-13 06:47] #20144 closed

[2019-12-13 06:52] SpartaG117 opened #31242 "Unnormal cpu usage of 'torch.triu()'"
## 🐛 Bug

 the cpu usage of torch.triu() can be multitimes(10~20) higher than that of other normal operation. eg. normal operation (100% CPU usage), troch.triu() (1000%~2000% CPU usage) under top command.

## To Reproduce
can be reproduced easily by:

[code]
## Environment

PyTorch version: 1.3.1
Is debug build: No
CUDA used to build PyTorch: 10.1.243

OS: Ubuntu 16.04.4 LTS
GCC version: (Ubuntu 5

[2019-12-13 07:01] ucasiggcas opened #31243 "torch.cuda.is_available() is False"
hi,Dear
Just want to install the great pytorch, but when I use pip ,ups the error
[code]
**Ubuntu1804,
python37**

So what should I do ?
any advice or suggestion will be appreciated.
thx

**pls do not close the issue quickly**

[2019-12-13 07:05] mathpopo commented on #30586
List of devices attached
M7BBB18930228128	device
$GRADLE_PATH -PABI_FILTERS=arm64-v8a -p $PYTORCH_ANDROID_DIR connectedAndroidTest

warning: [options] source value 7 is obsolete and will be removed in a future release
warning: [options] target value 7 is obsolete and will be removed in a future release
warning: [options] To suppress warnings about obsolete options, use -Xlint:-options.
/home/chenx

[2019-12-13 07:18] henrique commented on #30987
Hey @albanD
How does it affect the p.grad.data and p.data used by the optimisers?
e.g. https://github.com/pytorch/pytorch/blob/master/torch/optim/adam.py#L64
Just in case I'm writing my own optim ;) Cheers

[2019-12-13 07:21] XiaobingSuper commented on #24933
@kurtamohle,  there have a PR https://github.com/pytorch/pytorch/pull/30602 about move BCEloss from TH to Aten, can we corporate to do it?

[2019-12-13 07:23] huang229 opened #31244 "How can I know the version of onnx supported by my installation of pytorch 1.2.0?"
How can I know the version of onnx supported by my installation of pytorch 1.2.0?

[2019-12-13 07:26] maye9999 commented on #17113
Same issue here. Using nccl backend, one job crashed without any error or logs and the whole program hanged.
Pytorch 1.3.1

[2019-12-13 07:53] erdongchendou opened #31245 "I feel mask slice takes too much time."
## ❓ Questions and Help

[code]
The time_pased is about 10ms. Is it normal? Or did I do anything wrong?

[2019-12-13 08:05] tkclimb commented on #22906
I solved above problem by just passing opset version `torch.onnx.export(..., opset_version=11, ...)` .

[2019-12-13 08:26] IlyaOvodov commented on #31141
I don't see WARN CONSTRUCTOR
An only warning I see is:
[code]

[2019-12-13 08:34] EricKani opened #31246 "How to do independent random number generatation in multiprocessing dataloader."
When I use num_woker > 0 in DataLoader, and I generate a random number in __getitem__ function.

I found all threads will generate the same random number...

For example, I set num_worker=8, and I want to got a random number to define my scale augmentation.

I will get
0.9 0.9 0.9 0.9 0.9 0.9 0.9 0.9
eight same 0.9!

So I want to know how to inplement  independent random number generation in multi

[2019-12-13 09:59] ozcangundes opened #31247 "CUDA error: device-side assert triggered for BERT Multi Class Classification"
I am getting this error continuously when trying to multiclass classification with BERT.

[code]
I could not find the reason in my case even if searching for all issues related to it. I have got 4 labels. And with binary classification I did not get this error though.
Thanks for your response in advance.

cc @ngimel

[2019-12-13 11:03] peterjc123 commented on #31243
Would you please update the gpu driver? What's the output of nvidia-smi?

[2019-12-13 11:17] vshampor commented on #18475
This is still an issue. In particular, Caffe2 is now unable to run the ubiquitous BERT architecture as exported from PyTorch since it uses `torch.nn.LayerNorm`, which in turn is exported into ONNX as a sequence of operations involving an ONNX "Pow" operation:
https://github.com/pytorch/pytorch/blob/36d17f4105f48d264fe085ce3dc0e4e825ebfb42/torch/onnx/symbolic_opset9.py#L1038
If I change the symboli

[2019-12-13 11:19] LiUzHiAn opened #31248 "RuntimeError: cholesky_cuda: For batch 0: U(6,6) is zero, singular U."
## 🐛 Bug when using `torch.distributions.kl_divergence(p, q)`
Hi, I always get this RuntimeError during my training process:
[code]
##  Reproduce
There is a KL-loss term in my loss function, and I assume the two distributions are multivariate normal distributions, so I calculated it as follows:
[code]
## Environment
Here is my package version:
 - PyTorch 1.3.1
 - Ubuntu 18.04
 - CUDA 9.2.148 with

[2019-12-13 11:29] ndrmnl commented on #7786
Hi all, our team at Owkin has done some small benchmarks on this issue, as well as proposed a solution which seems to be faster at least part of the time. A report is available on [arXiv](https://arxiv.org/abs/1912.06015), and some sample code [at this repo](https://github.com/owkin/grad-cnns).

We have cited @fKunstner's experiments, and used the methods in there as baselines. We have *not* discu

[2019-12-13 11:31] ucasiggcas commented on #31243
@peterjc123
410.48,,
need higher ??

[2019-12-13 12:09] peterjc123 commented on #31243
Yes, you'll need to update it to at least 418.39. Please refer to this page. https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html

[2019-12-13 12:27] MaratZakirov opened #31249 "Add ONNX model generator with IR 0.0.3 for TensorRT"
## 🚀 Feature
Please add dumping ONNX model with IR of version 0.0.3 for TensorRT support

## Motivation
TensorRT currently does not support ONNX models with IR > 0.0.3. Even pretty old PyTorch versions generate ONNX with IR = 0.0.4. Or probably dumping to caffe format may also help, but as know there are no such option.

UPDATE

Are Caffe2 dead (caffe2.io at least)? I tried to install caffe2 packa

[2019-12-13 12:38] nikitaved commented on #27614
All right, then indeed it seems like a great opportunity to actually port scatter/gather functions to ATen. If it is fine by you, I could give it a try.

[2019-12-13 13:34] xDuck commented on #31210
I think I found the issue, all the modules in `third_party` are not pinned for each release of PyTorch so you cannot reproduce builds.

[2019-12-13 13:46] ousou opened #31250 "torch.sqrt gives different result on CPU and GPU"
## 🐛 Bug

In some cases torch.sqrt returns different values when evaluated on CPU and GPU.

## To Reproduce

Steps to reproduce the behavior:

[code]

Another example:
[code]

## Environment

PyTorch version: 1.3.0
Is debug build: No
CUDA used to build PyTorch: 10.1.243

OS: Ubuntu 16.04.6 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.12) 5.4.0 20160609
CMake version: version 3.13.3

Python versio

[2019-12-13 13:48] RPFey opened #31251 "can't perform matmul on gpu"
import torch

torch.cuda.set_device(0)

a = torch.randn((2,3,6)).cuda()

b = torch.randn((2,6,7)).cuda()

c = a.matmul(b)

print("success")

Error :

Traceback (most recent call last):
  File "/root/Lee_pro/gcn_v2/cuda.py", line 10, in <module>
    c = a.matmul(b)
RuntimeError: cublas runtime error : the GPU program failed to execute at /pytorch/aten/src/THC/THCBlas.cu:450

env :  pytorch1.1-cuda9

[2019-12-13 13:49] kerry-Cho commented on #31178
Hey @jon-tow have more crash
Nearest mode with corneralign crash

[2019-12-13 14:08] ousou commented on #31250
I noticed something strange: The bug does not occur when I run them on my own laptop, and when I use another AWS cloud instance type (p3.2xlarge). I can repeat the bug on the AWS instance type  g4dn.12xlarge, with CPU type Intel(R) Xeon(R) Platinum 8259CL CPU @ 2.50GHz.

The bug does not happen when using instance type p3.2xlarge with CPU type Intel(R) Xeon(R) CPU E5-2686 v4 @ 2.30GHz, or on my la

[2019-12-13 14:16] dojoteef opened #31252 "[feature request] Better handling for CUDA Out of Memory"
Currently, users have little recourse when the CUDA allocator raises an OOM error due to fragmentation. Providing better handling when the allocator fails to allocate memory could alleviate some fragmentation related issues. For example, I occasionally make use of the following code to address fragmentation related issues:

[code]

I have verified that this can fix some OOM problems due to fragmen

[2019-12-13 14:36] xDuck commented on #31210
Seems my Git Submodules weren't updated when I cloned and then checked out a previous commit. Fixed by not checking out submodules until after I had checked out the revision I wanted.

[2019-12-13 14:36] #31210 closed

[2019-12-13 15:14] nikitaved commented on #28319
@HeikoSchuett Could you please provide some small repro script? Then it would be easier to dive in directly... Thanks!

[2019-12-13 15:25] t-vi commented on #31247
Very likely this isn't where the error happens, you could try with setting `CUDA_LAUNCH_BLOCKING=1` (see [Debugging Device Assert](http://lernapparat.de/debug-device-assert/) for some background.
Then the next step is to pin down the exact inputs to the operation triggering the inputs to get a repro.

[2019-12-13 15:36] zou3519 commented on #18475
I don't know much about onnx-caffe2. Maybe @bddppq or @houseroad can help or rope in the right people?

[2019-12-13 15:44] gchanan commented on #25859
@albanD should this be closed?

[2019-12-13 15:44] albanD commented on #30987
Hi,

For optimizers, the simplest solution is to remove all the `.data` and add the `@torch.no_grad()` decorator to the `step()` function.

[2019-12-13 15:46] albanD commented on #25859
Yes, the PR has been merged.

[2019-12-13 15:46] #25859 closed

[2019-12-13 15:55] kurtamohler commented on #24933
@XiaobingSuper , it looks like your goal is to increase the performance of BCELoss for CPUs. My goal is to fix BCELoss's huge amount of error, in both CPU and GPU.

It might be possible to combine our efforts. However, I currently have no idea how well my implementation performs, so I'm going to try building your PR, and then I'll compare both of our implementations with your performance measureme

[2019-12-13 16:05] kurtamohler commented on #24933
@XiaobingSuper, actually, I just realized that your performance script uses the backward method. My implementation doesn't have a backward method yet. Let me try to add one and then we can have a fair comparison.

[2019-12-13 16:09] albanD commented on #31245
Please do not post both on the forum and here.
You should use the forum for questions.

Ref to the forum post with answer: https://discuss.pytorch.org/t/i-feel-mask-slice-takes-too-much-time/63982

[2019-12-13 16:09] #31245 closed

[2019-12-13 16:29] gchanan commented on #22439
It looks like there are really two different things being discussed here:
1) providing more metric calculations, under a common package.
2) tools for tracking/updating statistics in an online manner.

Sometimes these are combined (e.g. in tf2 example above), although I'm not really sure why.

[2019-12-13 16:35] volpato30 commented on #24826
May I ask why use no_grad in the forward function? Wouldn't it prevent the update of word embeddings?

[2019-12-13 17:21] bhosmer commented on #20615
`pop` supported, `del` not - updated title and description

[2019-12-13 17:37] cted18 commented on #19125
@soumith Another question about Multi-GPU via torch::nn::parallel::data_parallel.
Going by this code, https://github.com/pytorch/pytorch/blob/master/torch/csrc/api/include/torch/nn/parallel/data_parallel.h#L239
Aren't we making multiple copies of the module every time we do a forward pass?
I cannot find any checks for existing copies of the model on the GPU.

[2019-12-13 17:55] kurtamohler commented on #24933
@XiaobingSuper, I've added the backward method to my implementation, so if you'd like to measure it's performance, you can clone this branch: https://github.com/pytorch/pytorch/compare/master...kurtamohler:port-BCELoss-to-aten-24933. I made sure that it gives the correct gradient by checking that the gradient is the same when I use either `BCEWithLogits()(x, y).backward()` or `BCELogits()(sigmoid(

[2019-12-13 17:57] maxwillzq commented on #28902
It is because C++ does implicit conversion from {1., 2., 3.} to double type.
If we force input is float, it will give your float tensor.

For example:
[code]
it will print "float" data type

[2019-12-13 17:58] mrshenli commented on #31095
I can confirm that @baobablyh's solution with `set_device` works for my local env as well. We are testing using `DeviceGuard` to wrap pinned memory creation (DeviceGuard works for my local env as well).

@ngimel is it true that when calling pinned memory, there will be some side effect on the default CUDA device?

[2019-12-13 18:05] yf225 commented on #28902
@maxwillzq Thanks for the investigation! This should already be fixed by https://github.com/pytorch/pytorch/pull/29632.

[2019-12-13 18:05] #28902 closed

[2019-12-13 18:12] #23932 closed

[2019-12-13 18:16] colesbury commented on #31252
There are two downsides to using this approach by default:
1) Copying to the CPU and back is not transparent. Any code that holds raw pointers to Tensor (in C++ or in extensions) will break. Similarly, sharing between Tensors will break (both within a process and between processes).
2) It changes the failure mode of using too much memory from an exception and quick exit to a slow death grind as th

[2019-12-13 18:23] DeepakIITJ opened #31257 "How calling an instance of class 'Linear' works if there is no method/function '__call__()' defined in class 'Linear' ?"
Code:

from torch.nn import Linear
model = Linear(in_features = 1, out_features = 1)
y = model(x) # calling an instance of class Linear

Although, ‘Linear’ class inherits ‘Module’ class, which has ‘__ call()__’ defined in it. I could not catch it from there. Kindly help.

As far as I know; In python, to call an instance (here model()) of a class, the class must have ‘__ call()__’ defined in it. Bu

[2019-12-13 18:58] albanD opened #31258 "Fix silent autograd errors"
Tests from https://github.com/pytorch/pytorch/pull/31147 have uncovered a couple of silent autograd errors where wrong gradients are computed.

The process to fix these:
- [x] Add a way to forbid rebasing the history of a given Tensor.
- [x] Codegen functions that return at least a view and multiple output should make sure that their history cannot be rebased (`unbind`, `split` etc) or that we are

[2019-12-13 19:01] jhhurwitz commented on #27144
@peastman, don't know if you are still having this problem, but one way to solve this would be to use an optimizer (e.g. `torch::optim::SGD`), which has a function `zero_grad()` for zeroing all the parameters in the optimizer.

Alternatively, here is a code snippet that loops over parameters and checks to see if they require a gradient as of the nightly build for 12/13/19.

[code]

[2019-12-13 19:04] seanprime7 opened #31259 "Script method can't call a scripted function when it is decorated with `@torch.no_grad`"
## 🐛 Bug

With the new JIT API, a script method can no longer call a scripted function when it is decorated with `@torch.no_grad`

## To Reproduce

This issue can be reproduced with the example below:

[code]

`test1.py` uses the deprecated JIT API, and `forward` in `Test1` can call the scripted `foo` as expected.
However, `test2.py` uses the new JIT API, and `forward` in `Test2` cannot call the s

[2019-12-13 19:12] CorvusCorax commented on #16025
In the above network definition, the LSTM layer gets 7 inputs.
exported:
(%input, %25, %26, %27, %7, %1, %2)
re-imported:
(%input, %25, %26, %27, %, %1, %2)

As can be seen, the 5th input becomes undefined. However if you look closely %7 is defined as:
%7 : Tensor = prim::Undefined(), scope: SimpleLSTM/LSTM[lstm]

so even though it seems set, it was in fact undefined all along. This is not necessa

[2019-12-13 19:22] mrshenli opened #31261 "pinned memory requires DeviceGuard in multi-process envs"
`THCCachingHostAllocator` mentions that:

https://github.com/pytorch/pytorch/blob/af638ad5d7c8fc9ff97f0ad1cd2bbcfa3ced514e/aten/src/THC/THCCachingHostAllocator.cpp#L85-L88

However @baobablyh discovers that, if multiple processes call pinned memory with the same default device, it could hang either at the pinned memory tensor creation or some subsequent D2H communication (see #31095 for more discu

[2019-12-13 19:31] iiSeymour commented on #18631
I had a quick look at TensorFlow's SeparableConv1D implementation and I'm finding PyTorch to be more performant https://gist.github.com/iiSeymour/85a5285e00cbed60537241da7c3b8525

[2019-12-13 19:33] nikitaved commented on #31248
Sorry, `log_var` is just an element-wise `log` of the covariance matrix?

[2019-12-13 19:50] nikitaved commented on #31248
I guess Cholesky is used to circumvent the computation of the inverse covariance matrix... But your covariance matrix is diagonal, so maybe it is possible to use this information before constructing the probability distribution object. @LiUzHiAn, do you know whether it is possible to do so, I mean just to provide a diagonal matrix to the `MultivariateNormal' constructor?

[2019-12-13 19:53] yf225 commented on #30931
@lzxzy Could you try whether the following code works with the latest libtorch nightly?
[code]
I tried it on the latest libtorch nightly and it was able to train the model with GPU.

[2019-12-13 20:33] vishwakftw commented on #31257
The `__call__` basically calls `forward()` with the arguments passed to it. This can be seen at `pytorch/torch/nn/modules/module.py`.

Questions like these are better catered to on the [forums](https://discuss.pytorch.org)

[2019-12-13 20:38] shividhar commented on #4546
I had the same problem, but I couldn't upgrade the CUDA version because I was working on a cluster where I didn't have root permissions.

The fix is to use the PyTorch package which supports the specific CUDA version. The default package currently supports CUDA 10.1.

[List of PyTorch packages (for Pip)](https://download.pytorch.org/whl/torch_stable.html)
- Sample command to download PyTorch with

[2019-12-13 20:38] dojoteef commented on #31252
@colesbury I'm sorry, but I have to disagree with your assessment of the situation, though it's likely my fault for highlighting such a simplistic example. It was just a weird case I ran into this morning that I happened to have handy. I see fragmentation related issues even when there is **plenty** of available memory.  During training I get much more extreme cases. I typically have to just catch

[2019-12-13 20:59] ja3067 commented on #14463
Has any work been done on this? This was actually a significant issue while grading homework using PyTorch (in the Columbia University machine learning class). Non-determinism in vanilla gradient descent on Linux (Colab) vs. Mac (most students) machines made grading extremely hard. I feel like basic functionality like addition and gradient descent ought to be deterministic on all machines.

[2019-12-13 21:04] albanD commented on #14463
@ja3067  This is a different issue. Here we try to get reproducible results for a given machine with a fixed software.

Across different machines, this is absolutely not possible: Addition on different CPUs can already give you different results due to multithreading for large enough Tensors.
Similarly, for different GPUs, you will get different results as they have different properties.

[2019-12-13 21:09] xkszltl opened #31264 "Failed to config caffe2_rocksdb in cmake"
## Bug

Got this today.
Should be something new since I was able to build with exact same script a few days ago.
RocksDB is freshly compiled with CMake for latest release tag a few hours before this.
Issue reproduced on both Ubuntu 18.04 and CentOS 7.

[code]

## Environment

 - PyTorch Version (e.g., 1.0): master
 - OS (e.g., Linux): CentOS 7 / Ubuntu 18.04
 - How you installed PyTorch (`conda`,

[2019-12-13 21:15] kurtamohler commented on #24933
@XiaobingSuper, so far, I haven't been successful in building your PR--I'm probably doing something wrong. However, I did measure the performance of both my implementation and the old TH implementation using your script, with a few modifications to run larger sizes. I only ran the 'mean' reduction method for now--my implementation has an issue with 'none' that I still need to solve.

My target har

[2019-12-13 21:20] suo commented on #21681
As @eellison said, I don't think we can support this, because assertions have important meaning in the type system. `assert x is not None` will refine `x` to be `Tensor` instead of `Optional[Tensor]`, which is nice from a UX perspective because you don't have to constantly unwrap `x` anymore.

I'm going to close this for now as we don't have a good path to support this. Feel free to comment/reopen

[2019-12-13 21:20] #21681 closed

[2019-12-13 21:20] ja3067 commented on #14463
@albanD Thanks for the response. That makes sense. We're also seeing differences on the same machine between torch.add_ and the infix addition and multiplication operator:

[code]

[code]

return different results. Is this intended. I don't mean to hijack this thread if this is a different issue/not intended to be guaranteed.

[2019-12-13 21:21] suo commented on #21717
Closing as `Attribute` is no longer necessary with the new API, and with the impending doom of Python 2 you can just use Py3 type annotations.

[2019-12-13 21:21] #21717 closed

[2019-12-13 21:35] suo commented on #22039
Going to close this as the actual problem is covered more generally by https://github.com/pytorch/pytorch/issues/30763.

[2019-12-13 21:35] #22039 closed

[2019-12-13 21:48] suo commented on #22196
Going to close this out as there has not been much activity and the issue is not reproducible. Feel free to reopen if you want us to take another look!

[2019-12-13 21:48] #22196 closed

[2019-12-13 21:51] suo commented on #22608
Closing this out as https://github.com/pytorch/pytorch/issues/30763 is a more general tracking of this issue.

[2019-12-13 21:51] #22608 closed

[2019-12-13 21:58] yaroslavvb commented on #7786
@ndrmnl I had some feedback but your email is hard to find :) . Nice job making it practical, I did correctness checks on the unfold trick but never checked performance.

BTW, Goodfellow's trick is actually a special case of einsum optimization. For a linear layer you can write vector of per-example gradient norms squared as the following einsum:

[code]

If you stick this expression into `opt_ein

[2019-12-13 22:08] kurtamohler commented on #24933
@XiaobingSuper, I was able to build your PR after all. Something was wrong in my environment. Here's the performance I see:

XiaobingSuper ATen implementation on CPU (multithread):
[code]

If we look at size(128, 10000) again, your implementation's speedups compared to the old TH implementation run on my CPU are:
[code]

So it still looks like you have a bit of an improvement on the backward metho

[2019-12-13 22:15] xsacha commented on #31250
Is it the CPU producing a different result or the GPU in this instance?
That is, is the Turing architecture (Tesla T4) responsible?

[2019-12-13 22:19] jhhurwitz opened #31268 "JIT trace() -> save() -> load() -> copy() for modules with submodules is broken"
## 🐛 Bug

Modules with registered submodules (tested with resnet and mobilenet v2), cannot be copied after saved and loaded. **Note: copying without saving and loading does not produce an error**.

## To Reproduce

Steps to reproduce the behavior:

[code]

Creates stacktrace:
[code]

## Expected behavior

We would expect there to not be an issue with copying a loaded JIT module with a submodule.

[2019-12-13 22:49] #22734 closed

[2019-12-13 22:49] suo commented on #22734
Seems like this was fixed by #22775

[2019-12-13 23:00] colesbury opened #31271 "Performance regression in CPU copy kernel since 1.3.1"
## 🐛 Bug

The copy kernel is ~3-4x slower compared to 1.3.1 when copying from bytes to floats. I think that same type copy performance has also regressed, but I'm not entirely sure.

## To Reproduce

[code]

1.3.1:
[code]

1.4.0 nightly (1.4.0dev201):
[code]

cc @ezyang @gchanan @zou3519 @VitalyFedyunin @ngimel @mruberry

[2019-12-13 23:15] fehiepsi commented on #30936
Thanks, @suo! I can confirm that the issue is fixed in the nightly version.

[2019-12-13 23:15] #30936 closed

[2019-12-13 23:21] zasdfgbnm commented on #30883
fixed in https://github.com/pytorch/pytorch/pull/31211

[2019-12-13 23:46] vadimkantorov commented on #18631
A more realistic test would be profiling of sth like EfficientNet...

[2019-12-13 23:56] baobablyh commented on #31261
It seems easy to mess up things there as events/streams are associated with device however we try to ignore device context for unified addressing. Just some quick comment. I haven't got the chance to fully figure out how pin mem allocator works.

[2019-12-14 00:38] ngimel commented on #31261
cc @csarofeen, @ptrblck

[2019-12-14 00:39] zasdfgbnm commented on #31271
This could be introduced at https://github.com/pytorch/pytorch/pull/29631. It is landed in Nov 13, and `1.4.0.dev20191113` is still good, but `1.4.0.dev20191114` is getting bad. I will self assign and look into it.

[2019-12-14 01:24] albanD commented on #14463
You can open an post on the forum https://discuss.pytorch.org/ if you have more questions.
But the two above are expected to not be perfectly equal. Floating point operations are not associative on a computer I'm afraid.

[2019-12-14 01:30] vainaijr opened #31277 "nn.MultiHeadAttention with different similarity measures"
## 🚀 Feature

## Motivation

## Pitch

Current nn.MultiHeadAttention uses matrix multiplication similarity, i.e., (Q@K.t()), but variants of this similarity are not available directly, for example, dot product, I.e., (Q*K.t()), additive similarity, (Wq*q.t() + Wk*k.t()), general dot product, (Q*W*K.t()).

These variants should also be in PyTorch.

## Alternatives

## Additional context

[2019-12-14 01:36] albanD commented on #31250
Hi,

The difference is smaller than 1e-7. So this is expected: these two numbers are actually equal up to the precision of float32. You see difference in some cases but not all because some hardware use the same algorithm to compute the square root but not all, and not for all input values.

You will need to use double precision if you want more accurate results.

[2019-12-14 01:36] #31250 closed

[2019-12-14 01:49] jamestwebber commented on #20343
^ I just made a PR with a BTRS implementation..the major hold-up was getting a development Docker image built so I could test on a GPU-enabled machine. Everything _seems_ to work, now, but we'll see what the test suite says.

[2019-12-14 01:59] mbabadi commented on #20343
@jamestwebber this is very exciting, thank you!! I very much look forward to this PR being polished and merged.

[2019-12-14 02:00] kryptec commented on #24826
This tutorial uses the TransformerEncoder class to implement the original paper, and looks like it has a cleaner positional encoding.

https://pytorch.org/tutorials/beginner/transformer_tutorial.html

[2019-12-14 02:25] zasdfgbnm commented on #30331
Should we include this? https://github.com/pytorch/pytorch/pull/31279

[2019-12-14 03:03] erdongchendou commented on #31245
ok, sorry.

[2019-12-14 03:19] huangbiubiu commented on #4959
A workaround: use custom `Sampler` without changing the `DataLoader` and `Dataset`:

Custom `Sampler`:

[code]

Use the `TensorSampler` in `DataLoader`
[code]

------

Benchmark: evaluate the speed:

[code]

On my machine, the custom `Sampler` gives 60x speed improvement.

[2019-12-14 03:36] xkszltl commented on #31264
This commit may be related: https://github.com/pytorch/pytorch/commit/0cbbe050bb547ca82af69447426ad11378e1717d

[2019-12-14 03:37] xkszltl commented on #31264
Or this one: https://github.com/pytorch/pytorch/commit/c08f2ea2548f0c85c0047bb4282ad65d0ca56308

[2019-12-14 03:51] LiUzHiAn commented on #31248
Hi, @nikitaved

In my case, I assume the `p` and `q` are both Multivariate Gaussians as I mentioned above. Further, I assume each dimension is independent of others. So, each row in `log_var`  is the variances (i.e. [log_(sigma_1**2), ... ,log_(sigma_N**2)] ). Things are similar with `mu`` and other params.

Then, with the `mu` and `sigma**2`, I can construct batch Multivariate Gaussians using the

[2019-12-14 04:31] xkszltl commented on #31264
Tried to revert to earlier commit but doesn't help.

[2019-12-14 04:37] xkszltl commented on #31264
Checked the previous successful build within a few days and it was using RocksDB 6.4.6
![image](https://user-images.githubusercontent.com/5203025/70843499-3bbbc100-1de8-11ea-8dc2-959f2cd3ce73.png)
Seems RocksDB was releasing an old tag yesterday.
Will also create an issue there to see if they know anything,

[2019-12-14 05:30] auroraustc opened #31283 "Compile Error for .cu files when using libtorch (caused by nvcc flags)"
## 🐛 Bug

After the cmake is done, when compiling .cu files in my project, the following error will occur:
[code]
The `flags.make` shows the following result:
[code]
The `-O3` flag was added using `CMAKE_CUDA_FLAGS` in the `CMakeLists.txt`

## To Reproduce

Steps to reproduce the behavior:

1. Write a .cu file in the project
2. cmake then make
3. The error occurs

## Expected behavior

Those -Wxxx

[2019-12-14 06:41] bright1993ff66 commented on #12711
I also encountered the same DDL error. I fix it by:

1. upgrading from python 3.5.0 to python 3.6.6.
2. upgrading numpy

Hope this could help~

[2019-12-14 08:02] #31179 closed

[2019-12-14 08:05] huang229 opened #31284 "I hope you can provide 3D align-pooling layer directly. Pray."
I see that 2D align-pooling has been implemented, but there is no 3D one. I do target detection of 3D voxels. The input data format is (batch, channel, depth, height, w). I customized a 3D align-pooling Op.  However, there is a big problem in the deployment. The custom OP needs to be registered in the torchscript. In this way, the model can be exported normally, and finally the model can be loaded

[2019-12-14 09:23] v0dro commented on #28520
@albanD can you provide some samples of what exactly you want solved with this issue and approaches that you might have in mind?

[2019-12-14 09:35] legoritma opened #31285 "Cuda error: no kernel image is available for execution on the device"
## 🐛 Bug

Hi, torch.cuda.is_available() returns True, however I cannot use cuda tensor. I tried to uninstall and install anaconda, nvidia drivers and cudatoolkit. Still the error is same

## To Reproduce
 I did nothiing special, just installed pytorch on anaconda and execute following commanda

[code]

## Expected behavior

Run pytorch on gpu

## Environment
[code]

 - PyTorch Version (e.g., 1.0):

[2019-12-14 10:03] zhjw0927 opened #31286 "torch.optim.lr_scheduler"
I have two questions about optim:
1. scheduler.step() need parameters?  Before, I can run the code with not have parameters, but now remind me of need a parameter. I'm confused about this.
2. At the start of each epoch, first calling optimizer.step() in train, then calling scheduler.step(). This is update of 1.1. This means lr update after training. Why do you do this?

[2019-12-14 10:14] peterjc123 commented on #31285
GTX 780 has the cuda cc of 3.5, which is not supported anymore in 1.3.1. You'll have to build PyTorch from source.

[2019-12-14 10:14] #31285 closed

[2019-12-14 10:25] v0dro commented on #29065
I am not able to reproduce this issue. I ran the docker files on the latest pytorch master and am getting correct program output without segfault.
[code]

[2019-12-14 10:26] v0dro commented on #29065
@ezyang maybe assign to someone or close the issue for communication.

[2019-12-14 11:18] timgates42 opened #31287 "Fix simple typo: whos -> whose"
# Issue Type

[x] Bug (Typo)

# Steps to Replicate

1. Examine caffe2/python/core.py.
2. Search for `whos`.

# Expected Behaviour

1. Should read `whose`.

[2019-12-14 12:42] xhm1014 commented on #5858
that works. thanks

[2019-12-14 12:42] zhjw0927 commented on #31286
I'sorry, please ignore first qusetion. I got it wrong.

[2019-12-14 13:18] nikitaved commented on #31248
Ok, did not notice the batch dimension. Anyway, clearly your covariance matrix becomes singular, and `MultivariateNormal` assumes positive-definite (full-rank) matrix. What about trying `LowRankMultivariteNormal` instead? https://pytorch.org/docs/stable/distributions.html?highlight=multivariatenormal#torch.distributions.lowrank_multivariate_normal.LowRankMultivariateNormal

[2019-12-14 13:37] LiUzHiAn commented on #31248
I've written some test code and it seems that the batch dimension is supported.

Ok, let's leave this issue here. Thank you so much

[2019-12-14 13:55] heiner commented on #29065
@v0dro if you tried it post- https://github.com/pytorch/pytorch/commit/1111a6b8100386af82f5612ef551004188cf396c that would explain why it worked?

[2019-12-14 14:06] nikitaved commented on #31248
No problem, just let me know whether `LowRankMultivariateNormal` solves your issue.

[2019-12-14 14:21] mahmoodn commented on #31186
OK. I found the solution. The correct variable names are

NCCL_ROOT_DIR
CUDNN_ROOT
CUDNN_INCLUDE_DIR
CUDNN_LIBRARY

[2019-12-14 14:22] #31186 closed

[2019-12-14 14:48] #31248 closed

[2019-12-14 15:14] peterbell10 commented on #30708
@nikitaved, looks like your PR's [commit](https://github.com/pytorch/pytorch/commit/0414463007cecbc987ec376e95639073d26d7d2d) didn't auto-close this issue. `Fixes #30708` on its own should do the trick.

[2019-12-14 15:14] #30708 closed

[2019-12-14 15:37] szagoruyko opened #31289 "Intel OMP multiprocessing assertion failure: Assertion failure at z_Linux_util.cpp(2338)"
## 🐛 Bug

We observe a weird assertion happening after 4-12 hours of training an image classifier with pytorch nightly and intel omp 2019.4, one of data loader workers fails with this error:

[code]

downgrading to intel-omp 2019.1 seemingly fixes the issue.

Also found this issue https://github.com/ContinuumIO/anaconda-issues/issues/11294 but it looks like it's not present in 2019.4

(cc: discuss

[2019-12-14 21:33] farid-fari commented on #1668
As per the [documentation](https://pytorch.org/docs/stable/notes/cuda.html), it is better to do the following:

    device = torch.device('cuda:0' if torch.cuda.is_available() else 'cpu')
    t = torch.tensor(range(15), device=device)

The previous comment would create the tensor on CPU then transfer it to GPU whereas this code creates the tensor on GPU directly.

[2019-12-14 21:35] johannespitz commented on #30966
https://github.com/pytorch/pytorch/pull/27716
This pr seems to be the problem. At first glance I couldn't find any version of tensorflow where tf.io.gfile has these functions... but I assume there is some version of tensorflow that works.

[2019-12-14 21:47] IlyaOvodov commented on #23993
But surprisingly the above example works, if don't declare `sample` as a variable:
[code]

[2019-12-14 22:55] drewkerwin opened #31291 "RuntimeError: cublas runtime error when using torch.bmm on cuda 10"
## 🐛 Bug

When performing matrix multiplication on batches, the torch.bmm function results in an error when performing the equivalent of a matrix multiplied by it's transpose

## To Reproduce

Steps to reproduce the behavior:

1. Run python
2. Verify python env has torch and requirements
3. Verify using ubuntu linux 16.04 with cuda 10.0
4. Run code below

[code]

## Expected behavior

Expected res

[2019-12-14 23:48] ezyang commented on #29065
Yeah, I successfully relanded the diff, sorry about the noise!

[2019-12-14 23:48] #29065 closed

[2019-12-15 00:15] ezyang commented on #31252
An alternative to copying everything to CPU is to implement some sort of on-CUDA compaction, where we compact the tensors without actually moving them to CPU. This would be a bit more complicated to implement though, and you'd have to be careful to handle cases when Tensors are not visible to the Python GC (your example code above quite nicely handles this case), and also because our allocator has

[2019-12-15 00:26] VitalyFedyunin commented on #31239
Hello! It is better to ask such kind of questions at https://discuss.pytorch.org/ I will close this issue, feel free to reopen if you think that you need to report bug or feature proposal. Thanks.

[2019-12-15 00:26] #31239 closed

[2019-12-15 00:28] VitalyFedyunin commented on #31242
`triu` is using multi-threading optimization and might use multiple CPU cores. Feel free to reopen this issue if you feel it is bug and you need to report the issue.

[2019-12-15 00:28] #31242 closed

[2019-12-15 00:28] VitalyFedyunin commented on #31244
Hello! It is better to ask such kind of questions at https://discuss.pytorch.org/ I will close this issue, feel free to reopen if you think that you need to report bug or feature proposal. Thanks.

[2019-12-15 00:28] #31244 closed

[2019-12-15 00:29] #31243 closed

[2019-12-15 01:14] dojoteef commented on #31252
I just re-read my latest comment and realized I meant to say that I disagree with @colesbury's assessment of the **severity** of the issue. I agree that having such a feature on by default may not be a good idea.

@ezyang I didn't propose the idea of compaction because I feel that is a much larger scope solution, though you are right that it might be a better alternative. I just know that you all

[2019-12-15 01:29] ezyang commented on #31171
Curious. If you build the docker file in `docker/pytorch` from scratch, does it also have this problem?(I may simply just be mistaken about how this docker image was built!) cc @ngimel who appears to be the uploader of the most recent images.

[2019-12-15 01:32] ezyang commented on #27614
SGTM. Pull up the relevant issue and assign yourself to it.

[2019-12-15 01:34] ezyang commented on #31271
Thanks @zasdfgbnm !

[2019-12-15 01:35] ezyang commented on #9674
cc @bwasti

[2019-12-15 02:34] rgommers commented on #29695
Copying full traceback from gh-22695 (that's a duplicate issue, I'll close it now):

Flaky occurrence: https://circle.pytorch.org/build-details.html?build_id=2161720

[code]

[2019-12-15 02:35] rgommers commented on #22695
Closing as a duplicate of gh-29695

[2019-12-15 02:35] #22695 closed

[2019-12-15 03:40] JoveIC opened #31295 "nll_loss with weights: reduction 'mean' gives wrong result"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

`torch.manual_seed(42)`
`torch.cuda.manual_seed(42)`

1. on cpu
[code]

2. on gpu
[code]

## Expected behavior
`>> loss = F.nll_loss(m, target, w, reduction='none')`
`>> loss.mean()`

`mean :  tensor(0.8193, grad_fn=<MeanBackward0>)`

## Environment

PyTorch version: 1.3.1
Is debug build: No
CUDA used to build PyTorch: 10.1.243

OS: Ubun

[2019-12-15 03:48] anguschowchowxu opened #31296 "wrong parameter momentum when torch.onnx.export()"
## 🐛 Bug

when model exported as onnx representation, batchnorm2d momentum is not the same.

## To Reproduce

Steps to reproduce the behavior:

1.Steps to reproduce the behavior:

Create PyTorch model:
import torch
import torch.nn as nn
import numpy as np
from torch.autograd import Variable

class PytorchModel(nn.Module):
    def __init__(self):
        super(PytorchModel, self).__init__()

[2019-12-15 04:38] #28294 closed

[2019-12-15 05:01] #30883 closed

[2019-12-15 05:17] SsnL commented on #31102
The links don't seem to work anymore. Have they just recently become flaky? I remember them being fine...

[2019-12-15 05:18] SsnL commented on #31296
I think onnx is right here. PyTorch `momentum` is really `1-momentum` but unfortunately we can't change due to historical reasons.

[2019-12-15 05:46] Ruikun-Li opened #31298 "Time costs problem when putting the data to RTX device using img.cuda()"
## Issue description

I use pytorch and NVIDIA Graphics device to train deep learning models. But there are time cost problems in my experiments.
I use Dataloader to load the data, and put the data to graphics cards by using 'img = img.cuda()', when I use GTX1070(CUDA 9.0) and pytorch1.1, the step '.cuda()' costs about 0.4s. But when I use RTX2060S or RTX TITAX (CUDA 10.1) and pytorch1.3, the step

[2019-12-15 06:07] ngimel commented on #31171
@marcoleewow you are using runtime images that don't contain cuda toolkit and nvcc. If you need cuda toolkit, you should use *devel pytorch image that, as @ezyang says, uses `nvidia/cuda:10.1-cudnn7-devel-ubuntu16.04` as a base.

[2019-12-15 06:16] lironmo commented on #30512
@lara-hdr sure you are right, Thanks!
I tried the latest night build (torch==1.4.0.dev20191214+cpu, torchvision==0.4.1) after the merge,
I created a new torch module and tried to convert to onnx, but i am getting the flatten error:

Traceback (most recent call last):
  File "/home/liron/work/pixoneye/model_conversion/test.py", line 17, in <module>
    out_onnx_path=out_onnx_script, transform_yaml_

[2019-12-15 06:51] #31198 closed

[2019-12-15 07:43] cjld opened #31300 "torch runtime error when manual link libmkldnn.so"
## 🐛 Bug

I manual link libmkldnn.so, because I want to use some functions inside mkldnn, but pytorch get runtime error when I manual link libmkldnn.so

## To Reproduce

Steps to reproduce the behavior:

[code]
get runtime error
[code]

## Expected behavior

No runtime error

## Environment
PyTorch version: 1.3.0
Is debug build: No
CUDA used to build PyTorch: 10.1.243

OS: Ubuntu 16.04.3 LTS
GCC v

[2019-12-15 08:08] cjld commented on #31300
One possible solution: Pass -Bsymbolic or -Bsymbolic-functions to the linker when compiling pytorch

<https://stackoverflow.com/questions/6538501/linking-two-shared-libraries-with-some-of-the-same-symbols>

[2019-12-15 11:12] lanpa commented on #30459
@yangsenius Can you share your environment? torch version, etc.

[2019-12-15 12:35] pccai opened #31302 "RuntimeError: [enforce fail at CPUAllocator.cpp:56] posix_memalign(&data, gAlignment, nbytes) == 0. 12 vs 0"
**Ubuntu16.04/pytorch 1.1:**
.....
Epoch 0
/usr/local/lib/python3.6/site-packages/torch/nn/functional.py:1386: UserWarning: nn.functional.sigmoid is deprecated. Use torch.sigmoid instead.
  warnings.warn("nn.functional.sigmoid is deprecated. Use torch.sigmoid instead.")
Traceback (most recent call last):
  File "train.py", line 263, in <module>
    train(start_epoch+epoch)
  File "train.py", line

[2019-12-15 15:56] devpouya commented on #2793
Any progress here?

[2019-12-15 19:40] ngimel opened #31303 "`.contiguous()` should not go through dispatch if argument is already contiguous"
Currently `.contiguous()` call goes through dispatch even if the argument is contiguous already and the call should be a no-op. It results in ~100 ns perf penalty. A workaround that can be (and is) used currently is
[code]
it takes about 2 ns in case of no data movement, but this is clumsy and we should not expect users to do it.

cc: @ezyang, @bwasti

cc @VitalyFedyunin @ngimel @mruberry

[2019-12-15 19:52] #30820 closed

[2019-12-15 20:49] 1e100 commented on #23796
@meijieru were you able to replicate the TF result in the end? No matter what I tried with RMSProp I could not get it to work well in PyTorch. It does work pretty well in TF though.

[2019-12-15 21:05] meijieru commented on #23796
Yeah.

[2019-12-15 22:01] ngimel opened #31304 "test_logdet_1x1_cuda is flaky"
https://app.circleci.com/jobs/github/pytorch/pytorch/3958244
https://app.circleci.com/jobs/github/pytorch/pytorch/3958086

cc @ezyang @gchanan @zou3519

[2019-12-15 22:01] #31271 closed

[2019-12-15 22:43] chi0tzp commented on #31045
Hi @izdeby, a reproducible example is the following:

[code]

@ptrblck I can't see I remember such an error. In any case, I don't get it using the simple example above.

Thanks.

[2019-12-16 00:06] 1e100 commented on #28194
FWIW I was not able to get the official implementation of AdaBound to perform any better than plain SGD on object detection (Retinanet) and semantic segmentation (Deeplab v3+). Could be a case of "holding it wrong" for sure, but I've tried all sorts of training regimes before I gave up on it. I'd be curious to hear of any successes with it, meaning any cases where it reached or exceeded the SGD re

[2019-12-16 00:41] lara-hdr commented on #30512
@linronmo, as I explained above, the change for flatten could only be done for opset 11.
So you can export your model in opset_version=11, for that, you should use the parameter opset_version=11 in the exporter api with PyTorch nighly: torch.export(..., opset_version=11).

[2019-12-16 00:56] vadimkantorov commented on #31252
@ezyang @dojoteef maybe it's possible to implement simply enough some sort of arena allocator? then we'd have more predictable/measurable dependency of allocated memory from batch size with a way to flush it / compact it after an iteration. One funny usecase can be a manual allocation of max total memory size (e.g. a user can set batch_size * 100 megabyte) with some custom handling if it cannot be

[2019-12-16 01:19] lzxzy commented on #30931
Yeah, it worked! I think maybe it's because I used the error version. THX.

[2019-12-16 01:33] XiaobingSuper commented on #24933
@kurtamohler,  my forward part is not be parallelized and vectorized, so your implementation can get a better performance, for the backward, my implementation can get a better performance is reason of fusion(it can also get a comparable performance for GPU path, see https://github.com/pytorch/pytorch/pull/26529 ). So can you pull a new request which combine your forward implementation with my back

[2019-12-16 02:36] SsnL commented on #31304
duplicate of https://github.com/pytorch/pytorch/issues/31102

[2019-12-16 02:36] #31304 closed

[2019-12-16 03:11] marcoleewow commented on #31171
@ngimel yes you are right, I feel like an idiot after realising I have been using `runtime` images instead of `devel`. Thanks for the quick reply.

[2019-12-16 03:11] #31171 closed

[2019-12-16 03:25] as754770178 opened #31305 "[Tensorboard] Result of the graphs are different across pytorch versions"
[code]

I found that SummaryWriter in different version pytorch, I result is different.
In torch 1.1.0, the result is OK.
In torch 1.2.0, the program not report error, but no graph display in tensorboard.
In torch 1.3.0, the graph display in tensorboard, but the graph different between 1.1.0 and 1.3.0.
The graph, in torch 1.3.0, is very difficult to use.

I suggest revert SummaryWriter to torch 1.

[2019-12-16 03:29] as754770178 commented on #31305
I once submmit Issue #24904, but don't deal with.

[2019-12-16 04:24] anguschowchowxu commented on #31296
thx for reply.
I

[2019-12-16 06:29] adamjstewart commented on #24334
@soumith unfortunately I ran into this issue again, this time on Linux. I have Intel MKL installed in `/home/ec2-user/spack/opt/spack/linux-amzn2-broadwell/gcc-7.3.1/intel-mkl-2019.5.281-lt6clgk2ttcvwq7h6luxwlykmhk6mbmi` using the [Spack](https://spack.io) package manager. I'm adding the `mkl` subdirectory of this directory to my `CMAKE_PREFIX_PATH` like you suggested. The issue is that unlike on

[2019-12-16 06:31] anguschowchowxu commented on #31296
@SsnL Hi Could you do me another favor. This is my test code.
[code]

It raise error as,
[code]

[2019-12-16 06:40] wyqian1027 opened #31308 "[mac] Failure to import torch in Jupyter Lab"
## 🐛 Bug

Failure to import torch in Jupyter Lab

## To Reproduce

Steps to reproduce the behavior:

1. conda install pytorch torchvision -c pytorch
2. import torch

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-2-eb42ca6e4af3> in <module>
----> 1 import torch

/Library/anaconda

[2019-12-16 06:43] ousou commented on #31250
Great, thanks for the clarification!

[2019-12-16 07:11] wuzhi19931128 commented on #31296
Obviously should be two 224

[2019-12-16 08:15] lironmo commented on #30512
@lara-hdr, I verified the fix and it's works. Thanks!

[2019-12-16 08:22] palver7 opened #31309 "THCAtomics.cuh equivalent for CPU"
Hi,
I am looking for the equivalent of THCAtomics.cuh in the ATen/src/TH folder and I cannot find it. I want to port a program written in CUDA to C/C++ to be used in CPU and I need the functionality of THCAtomics.cuh. Can someone point me to the right direction?

[2019-12-16 09:29] ndrmnl commented on #7786
@yaroslavvb Thanks for the comment! Btw our emails can be found on the top of the repo I linked above :)

Nice to learn about `opt_einsum`, we had no idea about it! Will take a closer look.

For us performance is really fundamental, since we are mainly interested in the DP application, where one needs to bound the norm of the individual gradients. Differentially-private training of CNNs is typical

[2019-12-16 09:49] albanD commented on #28520
This is discussed in https://github.com/pytorch/pytorch/issues/28370 for example.
The problem is that both our no grad logic and no variable type logic are thread local. And that leads to unsafe behavior in the current codebase: https://github.com/pytorch/pytorch/issues/28980
Beyond fixing the current behavior, we want to actually allow the use of Tensors in such constructs to enable use cases lik

[2019-12-16 10:02] xkszltl commented on #24334
symlink?

[2019-12-16 10:02] albanD commented on #31298
Hi, please use the forum to ask questions: https://discuss.pytorch.org/

Also for cuda timing, because the api is asynchronous, you want to add `torch.cuda.synchronize()` before and after the call to make sure to measure only this call's runtime.

[2019-12-16 10:02] #31298 closed

[2019-12-16 10:46] #31251 closed

[2019-12-16 11:26] daifeng2016 opened #31311 "Why Keras behave better and faster than Pytorch under the same network configuration?"
Recently, I have compared unet++ implementation of Keras version and Pytorch version on the same dataset. However, with Keras the loss decrease continuously and the accuracy is higher after 10 epochs, while with Pytorch the loss decrease unevenly and the  accuracy is lower after 10 epochs.  In my test, I used 'kaiming' initialization and Adam optimization (lr is set to 1e-4) for both keras and pyt

[2019-12-16 13:05] roachsinai opened #31314 "RuntimeError: CUDA error: no kernel image is available for execution on the device."
## 🐛 Bug

My GPU is `GeForce GT 740M`, cuda version is `cuda-10.0.130-2`, installed pytorch by `pip install torch==1.3.1+cu92 torchvision==0.4.2+cu92  -f https://download.pytorch.org/whl/torch_stable.html`

After I installed pytorch, my test to use gpu failed get the error:`RuntimeError: CUDA error: no kernel image is available for execution on the device`.

## To Reproduce

Steps to reproduce the

[2019-12-16 13:15] peterjc123 commented on #31314
CUDA CC 3.5 cards are kicked out in 1.3.1 builds. Now we only build for CUDA CC 3.7 and up. You may have to build from source.

[2019-12-16 13:15] #31314 closed

[2019-12-16 13:19] roachsinai commented on #31314
Thanks for that information. Is there old version support CUDA CC 3.5?

[2019-12-16 13:24] peterjc123 commented on #31314
I suppose any release before 1.3.1 should work fine on CUDA CC 3.5 cards.

[2019-12-16 13:25] roachsinai commented on #31314
I'll test 1.3.0 right now. Thanks a lot.

[2019-12-16 13:30] peter850706 commented on #20028
Hi, @Kirayue
I read your comments above that mention your torch version is 1.1.0. However, [this warning](https://pytorch.org/docs/master/optim.html#how-to-adjust-learning-rate) indicates that the `scheduler.step()` should be called after `optimizer.step()`.
So I wonder if the example of [CosineAnnealingWarmRestart](https://pytorch.org/docs/master/optim.html#torch.optim.lr_scheduler.CosineAnnealin

[2019-12-16 13:39] nikitaved commented on #27614
@gchanan ,

Could you please give some examples? Or do you think they are all related to this issue?

[2019-12-16 13:39] roachsinai commented on #31314
Could you tell me does the version of torchvision matter?

[2019-12-16 13:47] peterjc123 commented on #31314
Yes, for 1.3.0, you'll have to install torchvision 0.4.1.

[2019-12-16 13:48] roachsinai commented on #31314
Got it!

[2019-12-16 13:54] kerry-Cho opened #31315 "project c10_intrusive_ptr_benchmark link error"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

Windows Build link fail
https://github.com/google/benchmark/blob/505be96ab23056580a3a2315abba048f4428b04e/src/benchmark.cc#L102
error message
LNK2005 "int FLAGS_v" (? FLAGS_v @@ 3HA) is already defined in c10.lib (Logging.obj). c10_intrusive_ptr_benchmark D: \ repo \ pytorch \ build \ c10 \ benchmark \ benchmark.lib (benchmark.obj) 1

##

[2019-12-16 14:58] peterjc123 commented on #31315
Is this a naming conflict?

[2019-12-16 15:13] aminsabetsarvestani opened #31316 "object detection quantized models"
Any sample code of object detection quantization?
 I got the following errors when I try to quantized the faster-rcnn.

Could not run 'aten::empty_strided' with arguments from the 'QuantizedCPUTensorId' backend. 'aten::empty_strided' is only available for these backends: [CPUTensorId, VariableTensorId]

Could not run 'aten::div.Tensor' with arguments from the 'QuantizedCPUTensorId' backend. 'aten:

[2019-12-16 15:38] h6197627 commented on #31132
@ezyang, I opened PR resolving this issue

[2019-12-16 15:40] vadimkantorov opened #31317 "Export torch.stft as Conv1d till ONNX supports stft op"
As far as I understand, for the time being STFT [isn't natively supported by ONNX](https://github.com/onnx/onnx/blob/master/docs/Operators.md)

STFT can be exported as a Conv1d op with precomputed (windowed) Fourier basis: https://github.com/NVIDIA/mellotron/blob/master/stft.py

This is useful for tracking/exporting speech recongition models.

I've done a pure PyTorch version in https://github.com

[2019-12-16 15:45] fmassa commented on #29697
I agree with @vincentqb that in general, we need to store the optimizer together with the `lr_scheduler` -- they come hand-in-hand, and the fact that it used to work before is an implementation detail.

I think splitting in two optimizer groups (one using chaining, the other doesn't) can be very confusing. They look like they are the same, they look like they are doing the same thing, but their im

[2019-12-16 16:00] vadimkantorov commented on #29697
just to make sure, is chaining in closed-form world equivalent to: `lr = f(g(h(step)))` (kind of option 4 from the link)?

I think @ezyang suggested keeping most schedulers only in closed-form except for context-needing ones. And @vincentqb seemed to memtion a separate explicit class for chaining (options 2/4). @fmassa  Would any of those involve splitting optimizer groups in the optimizer?

@vinc

[2019-12-16 16:04] yngtodd opened #31318 "Build libtorch with AMD support"
## 🚀 Feature
Build `libtorch` with AMD support.

## Motivation

I will be working on a new machine that has AMD GPUs, and we would like to avoid the overhead of Python.

## Pitch

If possible, I would like to contribute to this effort. I would appreciate any guidance in that process.

## Alternatives

There could be a binary dump and all associated CMAKE files like the current release of libtorch,

[2019-12-16 16:04] jeherr opened #31319 "RuntimeError: parallel_for failed: cudaErrorNoKernelImageForDevice with v1.3.1 and a Tesla K40c"
## 🐛 Bug

When I place a `torch.arange()` tensor on a GPU I get the following error:

[code]

This occurs on a system where I have a Tesla K80 and two Tesla K40c cards (also a GeForce 710 which is just for display purposes). It seems to be only related to the K40c cards and not the K80, but occurs regardless of what GPU I try to place the tensor on, if either of the K40c cards are visible via CUDA

[2019-12-16 16:15] adamjstewart commented on #24334
I can manually add more symlinks, but the Intel library locations keep changing with every release. Package managers like Spack should ideally also support external packages, where we have no control over the installation layout and can't add symlinks. We generally avoid hacking things too much to retain support for external packages.

Ideally CMake would have an option like `-DMKL_LIBRARY_DIRS:PA

[2019-12-16 16:32] zou3519 commented on #31257
@DeepakIITJ Please direct future questions to the forums. We like to keep the issue tracker filled with real bug reports and/or feature requests.

[2019-12-16 16:32] #31257 closed

[2019-12-16 16:33] zou3519 commented on #31247
Do you have a self-contained script which we could use to reproduce the problem?

[2019-12-16 16:36] zou3519 commented on #31237
Do you have a self-contained script which we could use to reproduce the problem, or more of the build output? I suspect something is wrong with your cmakelists

[2019-12-16 16:36] zou3519 commented on #31233
Please direct questions to our forums, unless you have an explicit bug report or feature request: https://discuss.pytorch.org/

[2019-12-16 16:36] #31233 closed

[2019-12-16 16:38] zou3519 commented on #31319
This operation should work. Given that it works for you on pytorch 1.3.0 but not 1.3.1, this sounds like a regression of some sort. I'm marking this issue as high-pri to reproduce.

[2019-12-16 16:42] zou3519 commented on #31318
I'm not sure what it would take to get this done or how good our rocm support is right now. @yf225 might be able to help

[2019-12-16 16:42] markdjthomas commented on #22960
Hi, I am also running into issues when attempting to save Mask RCNN to ONNX.
I have updated both pytorch and torchvision to the current master (a pip list after installation from source shows: torch=1.4.0a0+409151e and torchvision=0.5.0a0+bce17fd). I have moved the model and dummy input (`x`) over to the cpu, but when I run `torch.onnx.export(model, x, f='test.onnx')`, I get the following error:

[2019-12-16 16:43] zou3519 commented on #31311
Could you link the unet++ implementation? Furthermore, could please provide more information about what version of pytorch and keras you are using?   Running and pasting the output of https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py would be great.

[2019-12-16 16:48] zou3519 commented on #31308
Can you import torch in a python interpreter?

[2019-12-16 16:50] zou3519 commented on #31289
I'm not sure what we can do here if it is actually a dependency bug (from the description it sounds like one).

[2019-12-16 16:52] zou3519 commented on #31291
I'm not sure what is going on here. @ngimel have you seen this error message before?

[2019-12-16 16:54] nairbv commented on #26825
this was fixed by https://github.com/pytorch/pytorch/pull/25114

[2019-12-16 16:54] #26825 closed

[2019-12-16 17:00] nairbv commented on #23369
fixed by type promotion changes:

https://github.com/pytorch/pytorch/pull/22273

[2019-12-16 17:00] #23369 closed

[2019-12-16 17:02] zou3519 commented on #1794
This sounds reasonable. I can help review a patch that includes this.

[2019-12-16 17:07] zou3519 commented on #31287
Feel free to submit a PR and tag me as reviewer.

[2019-12-16 17:08] zou3519 commented on #31277
cc @zhangguanheng66 what do you think?

[2019-12-16 17:10] zou3519 commented on #14463
We should check if the original issue exists on master or not anymore. It probably doesn't anymore.

I am marking this as hi-pri because this is an easy check (install latest pytorch binary and run code).

[2019-12-16 17:15] ngimel commented on #31319
Duplicate of #30532, K40 is no longer supported.

[2019-12-16 17:17] zou3519 commented on #31319
Thank you for the link, @ngimel, I am closing this issue as a duplicate. @jeherr please follow https://github.com/pytorch/pytorch/issues/30532 .

[2019-12-16 17:17] #31319 closed

[2019-12-16 17:18] ngimel commented on #31291
FWIW, it does not reproduced on Turing in colab, with pytorch 1.3.1. Not sure if pytorch 1.1 with cublas version that it came with had problems, but I doubt it. Error message looks like some setup problem.
https://colab.research.google.com/drive/1eKvaFERyxLM5x4hZCu3IdgsjPAb3vTNK

[2019-12-16 17:21] colesbury commented on #31302
The allocation failed because there's not enough CPU memory. The error message for this failure is bad (sorry) -- the message was made more clear in PyTorch 1.2

[2019-12-16 17:25] orionr commented on #31305
cc @sanekmelnikov, @J0Nreynolds, @lanpa

[2019-12-16 17:26] orionr commented on #31305
@as754770178, can you do us a favor and try the version in nightly and see if it improves things? We had a regression in 1.3, but should be greatly improved for 1 .4.

[2019-12-16 17:27] nikitaved commented on #24758
@zasdfgbnm , hi! Do you work on this? If not, may I assign myself? I would like to fix [27614](https://github.com/pytorch/pytorch/issues/27614).

[2019-12-16 17:28] orionr commented on #24904
Those that are seeing this issue, can you try nightly? We landed a fix and hopefully it resolves the regression seen in 1.3.

[2019-12-16 17:28] jeherr commented on #31319
Ahh, sorry. I tried looking around for a previous issue but I missed that. It would be nice for the documentation to reflect the necessary compute capabilities for precompiled binaries, but I understand there are more pressing issues. Thanks.

[2019-12-16 17:29] SsnL commented on #31246
See https://pytorch.org/docs/stable/notes/faq.html#my-data-loader-workers-return-identical-random-numbers

[2019-12-16 17:29] #31246 closed

[2019-12-16 17:33] nairbv commented on #28703
This might need some discussion, it's possible we won't want to support this case.

Typically for unary ops, the dtype of the input tensor is the same as the dtype of the output tensor. E.g. in `result=torch.exp(input)`, `input.dtype==result.dtype`. We wouldn't want to preserve that if we support `torch.exp(long_tensor)`.

To support this kind of input conversion, we'd need to decide on a mapping

[2019-12-16 17:40] suo commented on #21605
Closing as this no longer repros for me (we end up with the right output). Feel free to reopen if with a new repro if you're still seeing this behavior.

[2019-12-16 17:40] #21605 closed

[2019-12-16 17:41] ngimel commented on #4107
I'm closing this issue, dumping all CUDNN_STATUS_NOT_SUPPORTED errors here it not helpful. When encountering this error, please open new issue (unless you are sure that your case is related to the existing), and also try to make your bug report more actionable by isolating the call that causes an error. Try running with CUDA_LAUNCH_BLOCKING=1 and enable cudnn logginghttp://docs.nvidia.com/deeplear

[2019-12-16 17:41] suo commented on #21823
Going to close this out as there has not been much activity and the issue is not reproducible. Feel free to reopen if you want us to take another look!

[2019-12-16 17:41] #21823 closed

[2019-12-16 17:42] suo commented on #21909
Hi sorry, looks like this slipped through the cracks 😢. I'll take a look today.

[2019-12-16 17:44] kurtamohler commented on #24933
@XiaobingSuper, ok I see. Sure, we can apply your performance improvement to the backward method. Before we do that, I'm going to finish fixing the functionality and add a unit test.

[2019-12-16 17:46] zou3519 commented on #31286
Please direction questions to our forums: discuss.pytorch.org. We like to keep our issue tracker filled with bug reports and feature requests.

[2019-12-16 17:46] #31286 closed

[2019-12-16 17:47] wyqian1027 commented on #31308
No, I have tried IPython, and the same error showed up.

[2019-12-16 17:47] zou3519 commented on #31284
Which operator are you referring to by "2d align-pooling"?

[2019-12-16 17:47] zou3519 commented on #31284
Which operator are you referring to by "2d align-pooling"?

[2019-12-16 17:48] suo commented on #21774
Hi, following up on this: @sto-chastic are you still seeing this issue? One thing that seems clear is that you have a lot of control flow in the outer concatenating module. Tracing does not understand dynamic control flow, as it operates by recording the execution of a single forward pass given the sample inputs.

If you want to capture control flow in your model, please use scripting (https://pyt

[2019-12-16 17:48] #21774 closed

[2019-12-16 17:54] spandantiwari commented on #22960
Which MaskRCNN model are you using? Is it from TorchVision? TorchVision's MaskRCNN should be exporting to ONNX. Could you try exporting using the latest PyTorch master/nightly.

[2019-12-16 17:57] zou3519 commented on #31319
I agree, it would be nice if the documentation reflected that. This could be something to bring up on the other thread.

[2019-12-16 18:05] ptrblck commented on #31045
@chi0tzp Thanks for the code snippet!
I removed the deprecated `Variable` calls and got the following error:
[code]
This is due to the last batch, which will have 10 samples (using `batch_size = 30` and `data_size = 100`), while you create the target with the fixed `batch_size`.

Could you initialize it as:
[code]
and rerun the code again?

[2019-12-16 18:09] zasdfgbnm commented on #24758
Not right now and feel free to reassign it to yourself. But be aware of https://github.com/pytorch/pytorch/pull/24858 so that we don't do duplicate work.

Also I have some abandoned PRs related to scatter/gather, my original plan was to wait for https://github.com/pytorch/pytorch/pull/24858 get merged and then rewrite them, but if you would love to take it over, feel free to do that:
https://githu

[2019-12-16 18:09] suo commented on #22650
Closing as we now have tests that do this as well as backcompat tests for operators.

[2019-12-16 18:09] #22650 closed

[2019-12-16 18:10] suo commented on #22677
Closing as a duplicate.

[2019-12-16 18:10] #22677 closed

[2019-12-16 18:11] michaelklachko commented on #4107
Has this issue been fixed?  I'm talking about CUDNN error that happens for convolution with large matrix sizes - as is clearly shown in my error message. If so, what is the build I should test it with?

[2019-12-16 18:13] suo commented on #22954
cc @mrshenli @pritamdamania, can you share the work we are doing for model-parallel RPC for serializing IValues?

[2019-12-16 18:14] eellison commented on #31141
@IlyaOvodov sorry that is the `WARN CONSTRUCTOR` string i was referring to. In general we don't recommend tracing if you have to change devices in the model afterwards. You can use `torch.jit.script` for your use case though:
[code]

[2019-12-16 18:16] nairbv commented on #22650
@suo is there a particular PR?

[2019-12-16 18:17] suo commented on #22964
@kevin-steiner if you try again with the new [recursive scripting API](https://pytorch.org/blog/pytorch-1.2-and-domain-api-release/#torchscript-improvements) we released in 1.2, you will get much better error messages with source range information. We should support custom LSTMs in TorchScript so it's not immediately clear what the issue is as is.

Going to close this out as there has not been muc

[2019-12-16 18:17] #22964 closed

[2019-12-16 18:19] raghuramank100 commented on #31316
We do not have object detection tutorials yet, however you can quantize the feature extraction trunk using the currently available tools.  We will add support for more operators and have an example tutorial for object detection in the next few months.

[2019-12-16 18:21] nikitaved commented on #24758
@zasdfgbnm , thank you! Awesome that you work on gather, will use it as a template for my ports =) Just a quick question, do you make sure that the shape of the output is the same as the shape of the index, as it is in the legacy code?

[2019-12-16 18:21] gchanan commented on #29697
@vincentqb: Just a note: we don't generally use DeprecationWarning in python because it's hidden by default.  Which kind of defeats the purpose, because no one turns that off.  We usually use UserWarning instead.

[2019-12-16 18:21] albanD commented on #17835
Setting low priority as it is not clear that it support the full C-api that we need at the moment.

[2019-12-16 18:23] zhangguanheng66 commented on #31277
Good point. We plan to break the long MultiheadAttention function into multiple building blocks. In that case, you could replace the scaled-product part with a custom one.

[2019-12-16 18:26] zasdfgbnm commented on #24758
@nikitaved Yes, that one is just porting, there is no change in semantics.

[2019-12-16 18:34] suo commented on #22811
This works correctly for me on master, so I'm going to close this out. If you are still seeing this problem on a nightly release, feel free to reopen this issue and we can follow up. Thanks!

[2019-12-16 18:34] #22811 closed

[2019-12-16 18:37] suo commented on #22969
This was fixed in https://github.com/pytorch/pytorch/pull/27566, which should go out as part of 1.4

[2019-12-16 18:37] #22969 closed

[2019-12-16 18:38] suo commented on #22976
Closing this as this issue is fixed in master. Try it out on the latest nightly release and let us know if it works. Feel free to reopen if it's not working and we can follow up. Thanks!

[2019-12-16 18:38] #22976 closed

[2019-12-16 18:39] suo commented on #21536
@edgarriba is this still an issue for you?

[2019-12-16 18:39] suo commented on #23049
Going to close as a subset of https://github.com/pytorch/pytorch/issues/22155

[2019-12-16 18:39] #23049 closed

[2019-12-16 18:45] nikitaved commented on #24758
@zasdfgbnm , sorry, one more question. In your PRs you mention broadcasting. Could you please elaborate on this with probably some use cases? Just for the future reference...

[2019-12-16 18:45] samlobel opened #31321 "Ability to download docs HTML for offline use"
## 🚀 Feature
It would be excellent to have a button to download the docs for offline use, from the main docs page. This is an included feature on Sphinx. For example: on [Flask's docs](http://flask.palletsprojects.com/en/1.1.x/), if you click the floating green version in the lower right, there's a "download html" option.

## Motivation
Building the source to make the docs locally is very time con

[2019-12-16 18:48] zou3519 commented on #31302
I am closing this based on @colesbury's comment that we fixed the error message in PyTorch 1.2.

[2019-12-16 18:48] #31302 closed

[2019-12-16 18:49] suo commented on #31102
Our tracking is not good enough to say when they started being flaky unfortunately, but yes it was relatively recent (last few weeks?)

[2019-12-16 18:50] fmassa commented on #30405
If I were to write a new language binding to PyTorch (scala / rust / etc), would it make sense to use codegen for it?

If yes, would it make sense to refactor the codegen so that it might make it easier to add new language backends?

[2019-12-16 18:50] suo commented on #31102
if the links are not working anymore, a sample error looks like:
[code]

[2019-12-16 18:57] zasdfgbnm commented on #24758
@nikitaved Sure, no problem. Do I need to answer something for now? Feel free to talk to me when you need it, and thanks for working on this! I personally have been wanting this feature for a while and don't have much time to work on it!

[2019-12-16 19:01] driazati commented on #22954
also fyi you can do this now:

[code]

[code]

and the reverse

[code]

[code]

[2019-12-16 19:06] edgarriba commented on #21536
@suo I think we can close this after your last patch

[2019-12-16 19:06] #21536 closed

[2019-12-16 19:06] ngimel commented on #31006
I'm closing, as the issue is fixed on cuda 10, was not flagged before, is not a regression and affects only operations with empty tensors.

[2019-12-16 19:06] #31006 closed

[2019-12-16 19:07] nikitaved commented on #24758
@zasdfgbnm , no, all good for now. Thank you! I will probably need your help. Can I ping you on PyTorch slack?

[2019-12-16 19:08] zasdfgbnm commented on #24758
@nikitaved Sure, no problem, my id is also @zasdfgbnm there

[2019-12-16 19:24] ptrblck commented on #4107
@michaelklachko Your issue might be related to the size limitations for cudnn convs as tracked in [this issue](https://github.com/pytorch/pytorch/issues/22496). @zasdfgbnm is working on a fix.

Let me know, if you think it's unrelated to your issue.

[2019-12-16 19:30] gchanan commented on #28703
I think we definitely want to support this.  NumPy already has this, although I'm not sure precisely what algorithm they use for determining the output dtype.

[2019-12-16 19:32] gchanan commented on #30405
@bhosmer: what does this mean exactly?

[2019-12-16 19:37] jeherr commented on #30532
I'd just like to suggest that the compatible compute capabilities for the precompiled binaries be added somewhere to the documentation, especially when providing installation instructions for the binaries. That information does not appear to be readily available anywhere.

[2019-12-16 19:45] houseroad commented on #21909
Seems the onnx symbolic is missing for this aten function. @lara-hdr @BowenBao @neginraoof could someone please take a look?

[2019-12-16 19:56] michaelklachko commented on #4107
Maybe: 3x224x224x64x512 > 2**32. It’s a pretty standard input size though, so I’m not sure why this isn’t a more widespread problem.

[2019-12-16 19:59] ngimel commented on #4107
That would fail in training though, not after the first epoch. Or do you use large batch size of eval only? It would be helpful if you isolated the failing call with the help of cudnn logging.

[2019-12-16 20:05] Redcxx opened #31324 "ImportError: DLL load failed: 操作系统无法运行 %1。"
## 🐛 Bug

pytorch cannot be imported

## To Reproduce

Steps to reproduce the behavior:

I am using cuda 10.0 so I install the previous version as stated [here](https://pytorch.org/get-started/previous-versions/)
\> pip install torch==1.2.0 torchvision==0.4.0 -f https://download.pytorch.org/whl/torch_stable.html
\> python
\>\>\> import torch
Traceback (most recent call last):
  File "<stdin>", lin

[2019-12-16 20:06] xush6528 opened #31325 "RRef leak for other RPC Agents"
For `ProcessGroupAgent`, there is a message counter matching to ensure all in-flight messages are finished before shutting down Agent. For other `RpcAgent`, there is no similar thing. So we want to eliminate `RpcAgent::join()`, by adding a common utility to do RPC-based barrier + shutdown in https://github.com/pytorch/pytorch/pull/30710.

Even with https://github.com/pytorch/pytorch/pull/30710, tr

[2019-12-16 20:08] peterjc123 commented on #31324
You can use process monitor to see which DLL is causing this problem.

[2019-12-16 20:11] albanD commented on #14463
I tried but I cannot load the repro file anymore on the python 3.7 on my machine.
I'll optimistically close this. Please re-open if you still see it happening on master.

[2019-12-16 20:11] #14463 closed

[2019-12-16 20:19] michaelklachko commented on #4107
Good point. It should be pretty easy for whoever is working on this issue to reproduce it by cloning the repo, and running the command on a V100 card. I'm not really familiar with cudnn debugging. Unless it's really simple, in that case please provide the detailed steps of what I need to do.

[2019-12-16 20:45] Redcxx commented on #31324
@peterjc123
Hi I capture last few not successful operations using `procmon.exe` but I do not understand what is it and do not know which dll is causing the problem...

#### Result not "SUCCESS" only
[code]

#### Full Version
[code]

[2019-12-16 20:48] #31184 closed

[2019-12-16 20:58] peterjc123 commented on #31324
It should be filtered to the name of the executable of your python installation, like `python.exe`. BTW, could you please check what is c:\windows\py.exe?

[2019-12-16 21:01] nairbv commented on #28703
I haven't found docs for it yet, but empirically this is the np behavior:
[code]

[2019-12-16 21:11] kurtamohler commented on #24933
I was able to fix my 0*log(0) issue by doing this after the main BCE calculation:
[code]
But I feel like there should be a better way to do it. The problem is that there will probably be very few NaN values in a `loss` tensor. The `at::zeros_like(loss)` call is allocating an entire new tensor filled with zeros the size of the loss tensor. Furthermore, it's creating a new tensor to store the result

[2019-12-16 21:18] Redcxx commented on #31324
@peterjc123
`py.exe` is just another name for `python.exe `on my computer sry fot the confusion.
This time I ran with python.exe filtered to include process name `python.exe` only and got `5103` events by running `>>> import torch` in python. Here are the last few operations before exiting:

#### Last few (exclude SUCCESS)
[code]

#### Last few (include SUCCESS)
[code]

[2019-12-16 21:38] richard-vogl commented on #4107
OK so should I open a new issue? I provided a isolated snipped in a comment above:

`import torch
x = torch.rand(1, 16, 70000, 100).to('cuda:0')
conv = torch.nn.Conv2d(in_channels=16, out_channels=32, kernel_size=(3,3), bias=False).to('cuda:0')
out = conv(x)`

i can even reproduce the issue using a google colab notebook:

https://colab.research.google.com/drive/1szd95jnY0rkcblIq8n9Zo0BpsWdFhrf3

S

[2019-12-16 21:43] peterjc123 commented on #31324
Could you please post the full log here? I cannot find anything wrong in your post?

[2019-12-16 21:43] driazati commented on #30015
Fixed on master with #31076

[2019-12-16 21:43] #30015 closed

[2019-12-16 21:44] driazati commented on #20247
We've fixed some backwards compatibility bugs in the meantime that likely fixed this, feel free to re-open if it's still a problem on recent versions of PyTorch

[2019-12-16 21:44] #20247 closed

[2019-12-16 21:47] ngimel commented on #4107
Please file a new issue, tag @ptrblck on it.

[2019-12-16 21:54] chi0tzp commented on #31045
@ptrblck Many thanks for your feedback. I changed `targets` initialization as you suggested and now I get the following error:

[code]

Running with ``, I get:

[code]

[2019-12-16 21:54] gottbrath commented on #25393
Can you try with 10.2?

[2019-12-16 21:56] kerry-Cho commented on #31315
Yes

[2019-12-16 22:05] Redcxx commented on #31324
@peterjc123
Yes sure, but it is very long: `5605` events, but due to comment character limit (65536), I can only put the last `250` events.
[code]

[2019-12-16 22:13] Redcxx commented on #31324
If you really need the full log, you can download it from [here](https://drive.google.com/open?id=1FOSLXvBNHD1gRU0bxLOnZLFJwSigW-Nt), google drive link.
Thank you so much for your help!

[2019-12-16 22:15] richard-vogl opened #31336 "cudnn heuristics (cudnnGet*) returns algorithms that cannot be used"
## 🐛 Bug

For certain input shapes (it seems not to be related to absolute size in bytes, see examples) Conv2D failes with CUDNN_STATUS_NOT_SUPPORTED

## To Reproduce

Steps to reproduce the behavior:

1. Code snipped:

Problem can be reproduced with:
[code]
Note that the issue does not occur with slightly different shape and similar (slightly larger) sized tensor:

[code]

2. Google Colab Noteboo

[2019-12-16 22:17] richard-vogl commented on #31336
as requested by @ngimel I created this new issue and tagged @ptrblck

[2019-12-16 22:20] kurtamohler commented on #24933
I discovered another difference between BCELossWithLogits and my implemenation of BCELoss. The BCE loss equation `L = -( y * log(x) + (1-y) * log(1-x) )` tells us that if x = 0 and y != 0, then L = log(0) = infinity. Likewise, if x = 1 and y != 1, then L = infinity. However, BCELossWithLogits apparently limits these values.
[code]
The output when my most recent commits are used:
[code]
BCELoss sho

[2019-12-16 22:26] zou3519 commented on #31309
Please direct questions to the pytorch forums: discuss.pytorch.org

[2019-12-16 22:26] #31309 closed

[2019-12-16 22:28] zou3519 commented on #31295
Seems bad if there is a correctness issue. I haven't checked the code, so we should first verify that the behavior is indeed correct. nll_loss is an important loss function.

[2019-12-16 22:36] zou3519 commented on #31283
@auroraustc are you linking a .cu file with libtorch, or are you compiling libtorch and adding a new .cu file?

[2019-12-16 22:39] zou3519 commented on #31231
This seems like a question. If it is not an explicit bug report or feature request, you should post at discuss.pytorch.org to get support.

However, there might be a bug lurking around here, so please re-open this if there is a bug somewhere.

[2019-12-16 22:39] #31231 closed

[2019-12-16 22:40] zou3519 commented on #31321
Seems useful to have a pytorch-approved way to do this.

[2019-12-16 22:48] gottbrath commented on #25393
Mingbo, can you put general information on the issue you are seeing here in this issue?

[2019-12-16 22:58] mingzhe09088 commented on #31271
I've added a benchmark for copy_ that covers same and different dtypes. https://github.com/pytorch/pytorch/blob/master/benchmarks/operator_benchmark/pt/binary_test.py#L50 The test will be continuously monitored internally so future regressions will be caught.

[2019-12-16 23:00] gottbrath commented on #25393
latest  word on this is

from mingbo:
"from what I can tell, it's a flaky one.  might depend on which VS version. I hit the problem before and problem fixed (at least seem so) after upgrading VS 2019 latest version" and "the same error showed up once last week, and re-run the job finished without problem."

[2019-12-16 23:02] kostmo commented on #31112
Two more instances:
* https://circleci.com/gh/pytorch/pytorch/3897091
* https://circleci.com/gh/pytorch/pytorch/3872182

[2019-12-16 23:11] zasdfgbnm commented on #31271
@mingzhe09088 Thanks!

[2019-12-16 23:37] kurtamohler commented on #24933
For now, I just decided to follow suit with how BCEWithLogitsLoss works. We can change that if needed, but if so, we should change it in both places.

[2019-12-16 23:55] vadimkantorov commented on #31318
I think @t-vi tried it out, I remember a series of tweets :)

[2019-12-17 00:31] spandantiwari commented on #26035
This has been added in https://github.com/pytorch/pytorch/pull/27342.

[2019-12-17 00:31] #26035 closed

[2019-12-17 00:37] yxjiang commented on #22954
Thanks! How about the C++ API?

[2019-12-17 00:38] neginraoof commented on #26893
I'm looking into adding the Einsum operator in ONNX: https://github.com/onnx/onnx/pull/2504
Will update this once we have the operator ready.

[2019-12-17 00:39] driazati opened #31345 "Document C++ pickle API usage"
`torch::pickle_save` and `torch::pickle_load` have no docs, maybe `torch::save/load` should also be deprecated since they are more limited

[2019-12-17 00:40] driazati commented on #22954
There's no docs for it yet (see #31345), the only usage is as above pretty much

[2019-12-17 02:28] huang229 commented on #31284
@zou3519   I'm sorry I didn't make it clear before. This is the function:
torchvision.ops.roi_align(input, boxes, output_size, spatial_scale=1.0, sampling_ratio=-1)

[2019-12-17 02:30] awcchungster commented on #23795
Since PyTorch we're right around the holidays, and 1.4 is not out yet, should we expect a Jan 1.4 release without Py2 support?

[2019-12-17 03:16] drewkerwin commented on #31291
The issues is reproducible based on the torch 1.1.0 as noted in the initial write up.

Since then, updating cudatoolkit & torch has resolved the problem.
conda install pytorch torchvision cudatoolkit=10.0 -c pytorch

[2019-12-17 03:16] #31291 closed

[2019-12-17 03:29] rabbitwayne opened #31353 "Memory management is inefficient which limits performance"
I encountered an out of memory error during training

RuntimeError: CUDA out of memory. Tried to allocate 1.86 GiB (GPU 0; 31.72 GiB total capacity; 24.58 GiB already allocated; 1.28 GiB free; 5.08 GiB cached)

Clearly there are enough memory, but probably due to fragmentation it cannot allocate 1.86G continuous memory out of the 5.08G cached memory.

This has severe downside on performance becaus

[2019-12-17 03:32] nan0755 opened #31354 "Build from source, and miss file `caffe2/caffe2/contrib/aten/gen_aten_op.h`"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

I follow the build from source procedure, and found this ERROR:
`python setup.py build develop`

[code]

## Environment

 - PyTorch Version (e.g., 1.0):
 - OS (e.g., Linux): Ubuntu 16.0
 - How you installed PyTorch (`conda`, `pip`, source): source
 - Build command you used (if compiling from source): `python setup.py build develop`
 - Py

[2019-12-17 03:57] nan0755 commented on #31354
I found the solution:
`set USE_NINJA=OFF`
before build
`python setup.py build`

[2019-12-17 04:12] yxjiang commented on #22954
Cool, thanks a lot!

[2019-12-17 04:33] Jianhui-Li commented on #30803
@gchanan  I think that overriding the grain_size in parallel_for() for specific OP may not be ideal.    I think we need a new API which allows user to express the desire to have all threads running for all parallel_for() op throughout the workload when user know that the workload is running on a dedicated machine and uses OPNEMP.

[2019-12-17 04:38] Enealor commented on #31336
After some exploring, I can confirm that it is not inherently tied to memory size. The notebook you posted worked for me. In order to get it to break, I used `x = torch.rand(1, 16, 2*70000, 10).to('cuda:0')` and the convolution would fail. From here, I could change the shape using `x2 = x.view((1, 16, -1, 20))` and have the convolution work.

As an extra note, the shape of the convolution weight c

[2019-12-17 04:46] nan0755 commented on #31354
I found the solution: `USE_NINJA=OFF`
But don't know where to set it.

[2019-12-17 04:46] Jianhui-Li opened #31356 "Optimizing DLRM for CPU"
## 🚀 Feature
A number of optimization and performance tuning for DLRM on CPU

## Motivation

Recommendation systems are one of the most common DL workloads in the cloud or enterprise server room. Very often the recommendation system burns most compute cycles in the data center among all DL workload.  DLRM is a state-of-the-art deep learning recommendation model which is composed of compute intensi

[2019-12-17 04:50] nan0755 commented on #20005
@passion3394
Hi, could you tell me where to set `USE_NINJA=OFF`?
Thanks!

[2019-12-17 05:07] pritamdamania87 commented on #22954
@suo This is how we serialize and deserialize stuff in the RPC layer: https://github.com/pytorch/pytorch/blob/f4e7e9039d27703a90bee8914d77fe31ccc27b1e/torch/csrc/distributed/rpc/utils.h#L21. Note that the `payload` itself is usually generated by serializing a bunch of IValues with the jit pickler.

Although for the use case mentioned here, can't we just jit::pickle() the IValues on one side, send

[2019-12-17 05:09] ngimel commented on #31336
Thank you @Enealor, the original notebook ran for me too, but your example failed.
As is often the case, the workaround for this is to add
[code]
or
[code]
This is yet another cudnn heuristics bug, and I can't really blame them - 140000 x 20 is not a common size, and heuristics is not trained for that. It still should not be picking an algo that won't even run. @ptrblck please work with cudnn on t

[2019-12-17 05:19] kurtamohler commented on #24933
I've fixed BCELoss's error for large tensors, made sure that it matches BCEWithLogitsLoss, and added a check to make sure all input tensor elements are between 0 and 1. I added a unit test to compare both forward and backward results of BCELoss and BCEWithLogitsLoss, and another unit test to make sure the input tensor throws an error if elements are outside 0 and 1.

@XiaobingSuper, I think it wou

[2019-12-17 05:26] XiaobingSuper commented on #24933
@kurtamohler, you can creat a new PR to fix this issue first. Thanks!

[2019-12-17 05:39] rahul99 commented on #21683
@soumith, any plans to roll out this functionality anytime soon?

[2019-12-17 05:42] kerry-Cho commented on #31354
export USE_NINJA=OFF

[2019-12-17 05:47] ngimel commented on #24082
Closing, feel free to reopen if the issue persists.

[2019-12-17 05:47] #24082 closed

[2019-12-17 06:16] peterjc123 commented on #31324
It seems that you posted the wrong log. But I reviewed the log your posted previously and found that it is loading the `libiomp5md.dll` from System32 rather than from our copy. Could you please delete that file and try again?

[2019-12-17 06:18] ptrblck commented on #31336
Thanks for the code snippet @Enealor!

I cannot reproduce the error using the following code on Volta GPUs:
[code]

All runs succeed with the output:
[code]

Tested using cudnn `7.6.5.32`, `7.5.1.15`, and `7.5.1.2`, with CUDA10.2 on V100-SXM2 16GB GPUs.

However, it fails with cudnn `7.6.5.32` + CUDA10.2 on a P100 system, so it seems to be some issue for cudnn + specific GPUs.

I've created logs a

[2019-12-17 07:20] t-vi commented on #31318
1) @bddppq  and @iotamudelta are the [persons of interest for ROCm support](https://pytorch.org/docs/stable/community/persons_of_interest.html#amd-rocm-hip).
2) I always advise people to build the PyTorch package to get libtorch (I build on ROCm like [described on my blog](http://lernapparat.de/pytorch-rocm/)). PyTorch is a strict superset of libtorch and you can use the libraries and includes fro

[2019-12-17 07:46] t-vi commented on #31197
For me, I can compile with cuda installed on the computer when I pass USE_NVCC=0 ([more detailed writeup](https://lernapparat.de/pytorch-rocm/) of how I build PyTorch).

[2019-12-17 07:46] t-vi commented on #31197
also @iotamudelta

[2019-12-17 07:59] auroraustc commented on #31283
@zou3519 Linking a .cu file with libtorch. I also tried the nightly build (2019/12/13) downloaded from pytorh.org, and got the same error. However, the stable version (1.3) works fine.
I am using an old GPU, therefore I have to compile pytorch from source to utilize my GPU.

[2019-12-17 08:21] ezyang commented on #31197
We should probably fix that :>

[2019-12-17 08:38] t-vi commented on #31197
But it would seem to be more of a documentation thing than anything else? (We could make the USE_NVCC=0 implicit when USE_ROCM=1 and vice versa and error out if someone specifies both =1.)

[2019-12-17 09:08] emcastillo commented on #27209
#31167 attempts to fix this

[2019-12-17 09:09] WhatAShot opened #31359 "Require GPU based dataloader."
In my opinion, the pytorch needs faster data loader via GPU, like [this project](https://github.com/tanglang96/DataLoaders_DALI). Please consider this feature. Thank you!

cc @SsnL

[2019-12-17 09:19] josh-gleason commented on #1337
@soumith This doesn't seem to be true either in either pytorch 0.4.1 or 1.3.1. In both cases the following code gives an error.

    loader = DataLoader(range(10), sampler=[0,1,2])

which results in

    ValueError: sampler should be an instance of torch.utils.data.Sampler, but got sampler=[0, 1, 2]

[2019-12-17 09:33] v0dro commented on #12013
I'm thinking of working on this issue. Starting with `ConvTranspose1d`, do you think this code would be a useful way of reproducing the issue? Would be a good starting point for a test.

[code]

Also, @fmassa says that the `conv_{1,2,3}d` NN's currently accept 0-dim tensors but I'm unable to find a PR that says so and the current pytorch on conda does not seem to allow it either. Can you please po

[2019-12-17 10:04] schwobr commented on #30812
Does anyone have any insight on this ?

[2019-12-17 10:11] TMVector commented on #22976
Yep, it works, tyvm!

[2019-12-17 10:11] nan0755 commented on #31354
@kerry-Cho
Thanks!

[2019-12-17 10:11] #31354 closed

[2019-12-17 10:18] Redcxx commented on #31324
@peterjc123
After I delete the file in system32 it fixes the problem! Thank you!

[2019-12-17 10:18] #31324 closed

[2019-12-17 10:27] aminsabetsarvestani commented on #31316
@raghuramank100,  Thanks for your reply and I hope you provide the object detection tutorial soon.  For the quantization, Pytorch uses QuantizedCPUTensorId backend, so I can't jointly process the quantize part of the object detection model (the feature extraction trunk) with the other parts of the network which use different backends.  I can only quantize and investigate the feature extraction tru

[2019-12-17 11:53] narfanar commented on #3261
At least in Python this flexibility would be welcome. Would the additional dispatch point be that much of a performance issue?

[2019-12-17 12:41] traits commented on #30932
This is a bit strange, I found this sentence only in newer drafts of the standard, it is not even part of C++ 2017. So, the current cmake value `CMAKE_CXX_STANDARD 14` should be enough, shouldn't it? Otherwise, either cmake's or Visual Studio's behavior is incorrect.

[2019-12-17 12:50] timtody opened #31360 "DDP/MP not yielding nontrivial speedup"
## 🐛 Bug

Following the tutorial from https://pytorch.org/tutorials/intermediate/ddp_tutorial.html I implemented a distributed policy gradient reinforcement learning algorithm.  Using the script below I benchmarked 1000 steps on a simple gym environment and recorded the time per worker. Since I'm on a six core machine I was expecting a nontrivial speedup per global step in the order of 1 <= num_pr

[2019-12-17 13:00] songyuc opened #31361 "Why not combine the operation of with torch.no_grad() into the net.eval()?"
## 🚀 Feature

I think it will be more convenient if PyTorch can combine the operation of `with torch.no_grad()` into the `net.eval()`.

## Motivation

When I was using PyTorch, I found it strange as I needed using the operations of `with torch.no_grad()` and the `net.eval()`, because I had thought the function `net.eval()` would complete the operation of closing the gradient passing in the paramet

[2019-12-17 13:12] albanD commented on #31361
Hi,

I think the two have very different meaning:
- `net.eval()` is changing the behavior of the `nn.Module` to behave correctly for evaluation.
- `torch.no_grad()` is changing the behavior of the autograd to disable gradient computation.

You can use `net.eval()` during some part of training for example to freeze some batchnorm statistics and finetune your model. Or disable dropout during some ph

[2019-12-17 13:17] Laser-Cat commented on #31185
I also ran into this problem with another different use case:
There are many heads and each is heavy so they won't fit into VRAM together.
e.g.
[code]

[2019-12-17 13:26] songyuc commented on #31361
Are you a developer of PyTorch?

[2019-12-17 13:33] songyuc commented on #31361
In fact, I have figured out a case that when we want to do some operations like online learning, the separating the operation of  'torch.no_grad()' and the 'net.eval()' might be useful, as we might want to infer the results and finetune the model at the same time.

And I think your final suggestion is really wonderful! If there is an argument like 'net.eval(disable_grad=False)', as you said, it ca

[2019-12-17 13:37] albanD commented on #31361
Yes.

The thing is that we currently have nice ways to write eval functions like:
[code]

So it is not sure that such api would be useful. Is the only advantage of adding this that you can remove one line from your function definition?

[2019-12-17 14:04] LucaMoschella opened #31362 "sklearn and pytorch incompatibility issue"
## 🐛 Bug

Import `torch` after `sklearn` causes a segfault.

## To Reproduce

[code]
![image](https://user-images.githubusercontent.com/11019190/71001688-15df3680-20de-11ea-8441-16a58497c70b.png)

In reverse order:
[code]
![image](https://user-images.githubusercontent.com/11019190/71001720-255e7f80-20de-11ea-9338-5f4adcf1ac2c.png)

## Environment
[code]

## Additional context

Related closed issue

[2019-12-17 14:21] vadimkantorov commented on #31361
would also be nice to have `with model.eval()` that would restore original model.training!

[2019-12-17 14:46] MGough commented on #31362
I believe I'm also seeing this issue, on Torch 1.3.0 as well as 1.3.1. It's rather odd as we've not changed the version of Torch nor SKLearn recently, but this started causing us issues over the weekend. On Thursday there were no segmentation faults, but as of today they have started appearing

[2019-12-17 14:48] Ownmarc opened #31363 "Windows support for distributed training"
## 🚀 Feature
Windows support for distributed training (multiple GPUs on the same host)

## Motivation

I use distributed training with Pytorch on Linux and it is really easy and works well. I would like the same for Windows. I work alot with images and I find it easier to debug and see what I am doing in general on Windows and it would be great if I didn't have to dualboot to Linux when I want to

[2019-12-17 14:49] Ownmarc commented on #20380
Opened it officialy for Windows, lets see if I am the only one with more then 1 GPU on windows ahah.
https://github.com/pytorch/pytorch/issues/31363

[2019-12-17 15:01] voqtuyen commented on #18113
Could you show me how to convert it from v9 to v8, i have the same problem

[2019-12-17 15:09] songyuc commented on #31361
It is my honor to have a reply from you, the developer, and thanks for your contribution for PyTorch.
And I think this code,
[code]
may be useful, but I think there is not much difference like the code,
[code]
And I propose this idea, because, I think it will tend to be more logical and readable if you can combine `with torch.no_grad()` into `net.eval()`.
Besides, this combining will help me by no

[2019-12-17 15:22] MGough commented on #31362
Here's the text version of part of the error code, for anyone that might be searching for this issue:
```exited with code -11 (SIGSEGV)```

[2019-12-17 15:28] Flipajs commented on #29327
I had the same issue on raspberrypi 4. I've tried your temp workaround and it works. Thank you very much!

[2019-12-17 15:44] yngtodd commented on #31318
Thanks, @t-vi, I appreciate your input. I have been running Pytorch with the Radeon VII in my workstation, and it really has been smooth.

I am curious about testing how much the Python overhead affects our applications. I work on the supercomputers at Oak Ridge National Lab, and, while 10% overhead may not be too bad for a single workstation, things quickly get expensive on Summit. That machine c

[2019-12-17 16:00] zou3519 commented on #31284
cc @fmassa for torchvision.

Since roi_align is in torchvision a better place to open an issue might be the torchvision issue tracker: https://github.com/pytorch/vision

[2019-12-17 16:12] vincentqb commented on #29697
Option 4 was to provide a wrapper that chains the scheduler provided to it: `ChainScheduler([scheduler1, scheduler2, scheduler3])`.

I can't comment on `f` that is not defined, but the goal is to act on the current value of the learning rate instead of using a fixed formula. For instance: instead of `learning rate = (.9)**(epoch)`, we now do `learning rate = previous * .9`.

The option discussed i

[2019-12-17 16:13] vincentqb commented on #29697
Thanks, see #31125.

[2019-12-17 16:16] pbelevich commented on #31353
@ngimel is it doable from our perspective?

[2019-12-17 16:17] vincentqb commented on #29697
Following discussion with @fmassa, we'll keep the new scheduler interface. The correct code is given in [comment above](https://github.com/pytorch/pytorch/issues/29697#issuecomment-564655802).

[2019-12-17 16:18] t-vi commented on #31318
It'll be interesting to see some serious benchmarking of PyTorch / JITed PyTorch / LibTorch in that type of setup. :) I'm usually just doing some ad-hoc benchmarking on my local machine.

[2019-12-17 16:18] ngimel commented on #31353
This is a very close duplicate of #31252, and there is a discussion going on already there. TL;DR it's complicated.

[2019-12-17 16:27] ngimel commented on #31252
@vadimkantorov one of the most common complaints against tensorflow was that it was allocating all available GPU memory, making interop with other libraries that would also like to manage cuda memory very challenging.
It is hard to make caching work for all use cases, for every particular caching strategy it is easy to come up with example where it won't work. It is quite possible that current pyt

[2019-12-17 16:29] yngtodd commented on #31318
Yeah, I am very interested in that too. That is probably worth another thread, but I am curious what sort of speeds we get if we first JIT a model and then train it with the libtorch interface.

[2019-12-17 16:33] vadimkantorov commented on #29697
According to https://pytorch.org/docs/master/optim.html?highlight=lambdalr#torch.optim.lr_scheduler.LambdaLR, it does consume a closed form formula but for computing a multiplicative factor wrt initial lr: `Sets the learning rate of each parameter group to the initial lr times a given function. When last_epoch=-1, sets initial lr as lr.` and `lr_lambda (function or list) – A function which compute

[2019-12-17 16:36] vadimkantorov commented on #29697
Should I create a separate issue for doc fixes? Currently docs say: `Set the learning rate of each parameter group to the initial lr decayed by gamma once the number of epoch reaches one of the milestones. When last_epoch=-1, sets initial lr as lr.` which is false, since the base line is not the initial lr, but some previously computed and cached lr.

[2019-12-17 16:39] vadimkantorov commented on #29697
Probably the docs should say somewhere that now saving/restoring optim.state_dict() is mandatory if scheduler.load_state_dict functionality is to be used.

[2019-12-17 16:40] gchanan commented on #2806
This has been completed.

[2019-12-17 16:40] #2806 closed

[2019-12-17 16:41] vincentqb commented on #29697
The doc for MultiStepLR has been updated, see [here](https://pytorch.org/docs/master/optim.html#torch.optim.lr_scheduler.MultiStepLR): "Decays the learning rate of each parameter group by gamma once the number of epoch reaches one of the milestones. Notice that such decay can happen simultaneously with other changes to the learning rate from outside this scheduler. When last_epoch=-1, sets initial

[2019-12-17 16:41] vadimkantorov commented on #29697
Yes, I saw it and removed the earlier version of the comment :)

[2019-12-17 16:49] DenisYarullin opened #31366 "Linking error: Linking CXX shared library bin\torchd.dll FAILED: bin/torchd.dll lib/torchd.lib"
Hi, I have a broken build on Windows:

### Problem:

arch=x86_64
arch_build=x86_64
build_type=Release
compiler=Visual Studio
compiler.runtime=MD
compiler.version=15
os=Windows
os_build=Windows

[code]

and

[code]
### Environment:

[code]

cc @peterjc123

[2019-12-17 16:50] gchanan commented on #18945
This has been fixed.

[2019-12-17 16:50] #18945 closed

[2019-12-17 16:51] araffin opened #31367 "`clip_grad_norm` allows negative `max_norm` values"
## 🚀 Feature

Hello,

This is not really a feature request, nor a bug report, more a "additional check" proposal.

## Motivation

The current implementation of [nn.utils.clip_grad_norm](https://pytorch.org/docs/stable/_modules/torch/nn/utils/clip_grad.html) allows to pass negative `max_norm`.
If you do so, it will fail silently and even worse, reverse all the gradients...
## Pitch

It would be goo

[2019-12-17 16:53] VitalyFedyunin opened #31368 "TestMomentumSGD.test_fp16momentum_sgd (caffe2) is flaky"
[code]

cc @ezyang @gchanan @zou3519