[2018-07-27 13:34] vishwakftw commented on #9926
Please check the source code link in that comment. `export PYTORCH_BUILD_VERSION=0.4.1` changes the build version for the release. Installation from source is `0.5.0a0`. @soumith

[2018-07-27 13:45] t-vi commented on #9929
PyTorch's python argument parsing doesn't handle varargs except in very special cases (ints and only varargs, no direct args).
I would have implemented it, but without having more than one function to use it, it didn't fly with @apaszke for the added complexity (which would involve allocating and deallocating the vararg vector where now the argument vector just doubles for the vararg vector).

[2018-07-27 13:46] soumith commented on #9923
what is the command that you used to install?

There's absolutely no question of the cuda 9.2 binary being dependent on `libcurand.so`, as we statically link to curand. I double-checked the binaries just now to see that they declare no such dependencies. Are you loading any other library that needs CUDA?

[2018-07-27 13:49] soumith commented on #9926
indeed, if you compile from source, and you want the "binary" version numbers, please export:

[code]

[2018-07-27 13:49] soumith commented on #9926
See https://github.com/pytorch/builder/blob/master/manywheel/build.sh#L3-L4 for reference.

[2018-07-27 13:49] #9926 closed

[2018-07-27 13:51] soumith commented on #8909
@avmgithub that's probably as a result of installing nccl2 into `/usr/local/cuda`, like: https://github.com/pytorch/builder/blob/403fe6d58680b4bdb2f93dbb3dbddf0f5abeed73/manywheel/Dockerfile_92#L56-L61

[2018-07-27 13:55] vadimkantorov opened #9930 "[pytorch] torch.einsum processes ellipsis differently from NumPy"
[code]

Found during porting matting laplacian to PyTorch: https://github.com/NVIDIA/FastPhotoStyle/blob/master/photo_smooth.py#L76

[2018-07-27 13:56] soumith commented on #4111
@ankitsinghalIITD please give output of:

[code]

[2018-07-27 13:57] soumith commented on #4101
closing as duplicate of https://github.com/pytorch/pytorch/issues/4101

[2018-07-27 13:57] #4101 closed

[2018-07-27 13:58] #9280 closed

[2018-07-27 14:04] Aspire1Inspire2 commented on #7092
If you google "pytorch dataparallel rnn", or "pytorch dataparallel lstm" you will find several dozen examples who complain about the hidden state not parallelizable. Here is a simple example toy code,

https://stackoverflow.com/questions/44595338/how-to-parallelize-rnn-function-in-pytorch-with-dataparallel

I want to comment one more time. Neither dim=1 nor batch_first=True works. It is simply the

[2018-07-27 14:15] #6992 closed

[2018-07-27 14:15] ggordonhall opened #9932 "NCCL Runtime Error"
## Issue description

I'm trying to run an OpenNMT-py model across 4 Nvidia P100 GPUs but I receive this error:

[code]
This surprised me because I have NCCL2 on my system (Ubuntu 16.04, CUDA 9.2, CuDNN 7.1) and PyTorch picks it up. When I run `torch.cuda.nccl.version()` I get `2213`. Also, I pass the NCCL tests at https://github.com/NVIDIA/nccl-tests.

Has anyone run into this problem?

My build

[2018-07-27 14:15] vadimkantorov opened #9933 "[pytorch] [feature request] Batched matrix inverse"
[code]

If implemented, this would also replace https://github.com/pytorch/pytorch/blob/master/torch/distributions/multivariate_normal.py#L50

Please feel free to close this issue if tracking in https://github.com/pytorch/pytorch/issues/7500 is preferred.

[2018-07-27 14:17] t-vi commented on #9930
Thank you for the report. I'll look into it.

[2018-07-27 14:18] soumith commented on #9932
If you see https://gist.github.com/ggordonhall/175817c36549ef17f9a3465c383ca492#file-gistfile1-txt-L4165-L4171 it says it found PyTorch's own source-compiled NCCL1. This happens because NCCL2 wasn't auto-detected / found.

Can you export:

[code]

And then recompile PyTorch.

For example, my $NCCL_ROOT_DIR has the contents:

[code]

[2018-07-27 14:19] soumith commented on #9933
closed in favor of #7500

[2018-07-27 14:19] #9933 closed

[2018-07-27 14:21] ggordonhall commented on #9932
Thanks! I'll give that a go.

[2018-07-27 14:22] vadimkantorov opened #9934 "[pytorch] Inconsistent automatic conversion of GPU tensors to NumPy arrays on CPU"
It seems that implicit conversion will copy onto CPU, while explicit won't, found this somewhat confusing.

[code]

[2018-07-27 14:24] vadimkantorov commented on #7500
Let's add batched matrix `inverse()` to the top post to not forget it? @soumith

[2018-07-27 14:30] soumith commented on #9871
the amount consumed by GPU0 shoudn't be large, maybe ~200MB per process. If it's larger than that, I suggest to see upgrading to master and see if it fixes things. Also https://github.com/pytorch/pytorch/pull/7392 fixed some issues around default device initialization.

[2018-07-27 14:30] vadimkantorov commented on #9929
Maybe this would be moree justifiable if `torch.meshgrid` (https://github.com/pytorch/pytorch/issues/9503#issuecomment-407425625) and unimplemented `torch.broadcast` (https://github.com/pytorch/pytorch/issues/8076) use the varargs way as well.

[2018-07-27 14:32] SsnL commented on #9886
@deepali-c thanks! added to the list.

[2018-07-27 14:33] SsnL commented on #9928
Thanks for bring this up. Added to https://github.com/pytorch/pytorch/issues/9886 !

[2018-07-27 14:33] #9928 closed

[2018-07-27 14:35] soumith commented on #9873
we are getting there, we plan to ship with MKL-DNN support in the next release binaries.

[2018-07-27 14:36] SsnL commented on #9326
Hi @ybzhou , how large is the difference? If it is small, it might be expected due to algorithm and precision issue.

[2018-07-27 14:37] vadimkantorov commented on #9928
@SsnL Thanks! Can you please also add there our old friend `softplus`? https://github.com/pytorch/pytorch/issues/4819

[2018-07-27 14:38] SsnL commented on #5571
closing in favor of #9886

[2018-07-27 14:38] #5571 closed

[2018-07-27 14:38] SsnL commented on #4819
closing in favor of #9886

[2018-07-27 14:42] fmassa commented on #7500
There is a PR open for batches inverse, right? @vadimkantorov could you maybe have a look and review it?

[2018-07-27 14:45] zou3519 opened #9935 "[docs] Fix rendering in gesv docs"
This is a little weird (see bottom of image):
![image](https://user-images.githubusercontent.com/5652049/43327730-2f3a13dc-918a-11e8-8cab-226fa1901baa.png)

[2018-07-27 14:46] #4819 closed

[2018-07-27 14:51] fmassa commented on #7500
I was referring to https://github.com/pytorch/pytorch/pull/9102
It actually requires some work left, but might be a good starting point

[2018-07-27 14:55] t-vi commented on #9929
If you do the lobbying, I can do the coding. :wink:

[2018-07-27 14:57] apaszke commented on #5219
@ivankreso thanks a lot for debugging this. Would you like to send a PR with a fix?

[2018-07-27 15:15] aosokin commented on #9923
Had very similar issue when upgrading to pytorch 4.1 with conda. Reboot solved the problem.

[2018-07-27 15:30] matthieuheitz commented on #6171
Starting from `master`, my first attempt consists of splitting this function: https://github.com/pytorch/pytorch/blob/bc66d982482e6d6c586d12de5176d9d4bf38eec5/aten/src/ATen/native/sparse/cuda/SparseCUDATensorMath.cu#L44

in 2 parts (see code below), so that I can call the first part at the very beginning, and then the second part every time I need to do a matmat product.

I know it's not very pret

[2018-07-27 15:59] avmgithub commented on #8909
@soumith I guess you're right.  I looked at some another system with CUDA 9.2 and they did not have the nccl2 include and libraries.   I must have picked up the nccl2 from nvdia download and installed them manually.  I'll close this

[2018-07-27 15:59] #8909 closed

[2018-07-27 16:03] t-vi commented on #9930
It's not the ..., it's the space. We don't allow spaces (yet?) but here we assumed there aren't any and that number of explicit indices = length of term - 3 when there is an ellipsis.

[2018-07-27 16:05] ankitsinghalIITD commented on #4111
The following happens  when I run the above comand
~$ python -c "import torch; x = torch.randn(10).cuda()"
Segmentation fault (core dumped)

[2018-07-27 16:20] ybzhou commented on #9326
I did not get time to test on the latest master yet, will update this issue once I have time to test on the current master

[2018-07-27 16:34] soumith commented on #4111
i'm not sure why this is happening.

Maybe `strace python -c "import torch"` will give some clues.

[2018-07-27 16:35] soumith commented on #4111
does any other CUDA based package work? (I doubt it). For example installing `tensorflow-gpu` and `import tensorflow` will probl. also segfault.

[2018-07-27 16:35] r-chna commented on #9809
thanks for your responce.i will try one.

On Fri, Jul 27, 2018 at 9:49 AM Soumith Chintala <notifications@github.com>
wrote:

[2018-07-27 16:45] hmc-cs-mdrissi commented on #9923
The command I used to install it was:

sudo -H python3.6 -m pip install http://download.pytorch.org/whl/cu92/torch-0.4.1-cp36-cp36m-linux_x86_64.whl (for 3.5 same thing just swapping the 3.6/36 by 3.5/35)

As for what I load, to get the error I just run python 3.6, and then in the interactive shell, just type import torch and that's enough to trigger the error. The full interactive shell output ju

[2018-07-27 16:54] soumith commented on #9923
@hmc-cs-mdrissi you probably have some library that is being loaded that is looking for `libcudart.so`. Running with `strace python` might give you a hint

[2018-07-27 16:54] #9923 closed

[2018-07-27 16:54] thuyen commented on #6325
@ezyang Can we update this? ETA for c10?

[2018-07-27 17:31] ankitsinghalIITD commented on #4111
Please tell if you get any clue.

[2018-07-27 17:41] ailzhang commented on #9418
After a quick try this actually only happens with openmpi 1.10.  openmpi 2.1.1 and 3.0.0 both work fine for me. I'm taking a deeper look, but this is possible a openmpi problem. To verify, @matthiasreisser could you let us know which openmpi version are you using, and if it works for you when switching to a version I mentioned above? Thanks!

[2018-07-27 17:42] apaszke opened #9940 "JIT fuser can't handle scalar ops"
#8919 changes the semantics of the most basic binary ops, and we need to update the JIT code to handle that.

Previously, the fuser depended on shape propagation to insert numerous expands, making the sizes of inputs to pointwise ops match (this is a hard requirement of our codegen). However, this is no longer a sound transformation, because the type inference rules depend on input ranks and the "

[2018-07-27 17:45] vadimkantorov commented on #9929
@apaszke @colesbury What do you think? Does NumPy/TF API compat for `torch.einsum`, `torch.meshgrid`, `torch.broadcast` (not implemented yet) justify re-evaluation of varargs functionality for the argument parser?

[2018-07-27 17:54] rfejgin commented on #4858
I have seen this happen with PyTorch 0.4.0.
Interestingly, the zero-probability event that was select happened to be index 0 out of 255, even though there were many other zero-probability indices - so index zero was chosen may be a clue?
In my case the number of samples (n_samples) was 1, which seems to map to this optimized flavor  'sampleMultinomialOnce()'.
I have not been able to consistently r

[2018-07-27 18:04] wanchaol opened #9941 "python_default_init behavior incorrect when auto generating aten functions"
Any non-empty input defined in the python_default_init in the ATen's native_functions.yaml will generate a default 'None' here, see [generation logic](https://github.com/pytorch/pytorch/blob/master/tools/autograd/gen_python_functions.py#L729) when generating python functions/methods in pytorch.

[code]

It should not be a correct behavior for other default args when generating the functions as it

[2018-07-27 18:05] hmc-cs-mdrissi opened #9942 "Potential 0.4.1 Memory Leak for a Fairseq Model"
Yesterday, when I was on 0.4.0 I was training a fairseq model (self_att_wp) I could train it fine with batch size of around 4 (technically I control the number of tokens fed into the model). After upgrading to 0.4.1, when training the same model with the same arguments it runs out of memory. Even decreasing the batch size it still runs out of memory after a bit of time with memory just increasing

[2018-07-27 18:30] jamesr66a commented on #8518
can you check if it works in the string frontend? i.e. instantiate the same thing via `torch.jit.CompilationUnit()`. We may still need lexer + parser changes

[2018-07-27 18:30] hmc-cs-mdrissi opened #9943 "0.4.0 binaries aren't listed in previous versions"
Now that 0.4.1 is released, the page on previous versions needs to be updated to include the 0.4.0 binaries.

[2018-07-27 18:33] N-A-D-I-A opened #9944 "One entry is deleted in output when using nn.ModuleList and Conv1d"
The problem is described [here](https://discuss.pytorch.org/t/conv1d-outputs-the-vector-of-size-one-less-than-the-input-why/21802)

Pls read comments

[code]

[2018-07-27 18:40] soumith commented on #9944
I dont see a bug here. output of convolution for stride=1 is `input - kernel_size + 1`. This is a `valid` convolution, not `same` convolution.

[2018-07-27 18:40] #9944 closed

[2018-07-27 18:51] t-vi commented on #4858
I'm still kind of proud for debugging and fixing this (one of my early deep into CUDA patches and I did most of the searching while on the train with a sketchy connection to the GPU computer), but I only improved the binary search based multi-item case, not the sampleMultinomialOnce.

This reproduces the problem for me:
[code]
I can take a look, but I herd whispers that the random functions might

[2018-07-27 18:53] zou3519 commented on #9940
Possibly related, if it's still applicable : https://github.com/pytorch/pytorch/issues/8560

[2018-07-27 19:01] ezyang opened #9945 "WERROR=1 doesn't work with FULL_CAFFE2"
It seems to toggle too many warnings for Caffe2 and then `-Werror` fails.

[2018-07-27 19:04] N-A-D-I-A commented on #9944
@soumith  this does not happen if I don't add modules in nn.ModuleList
Also according to your output of convolution expression it should be exactly the size of input right?
Kernel size is 1, stride is 1
input - 1 + 1 = input

[2018-07-27 19:05] rfejgin commented on #4858
Yes, I can reproduce the issue with your code. I was also able to create my own reproducible test case, but yours is simpler so let's stick with that.

@soumith @apaszke can we reopen this bug?

[2018-07-27 19:07] apaszke commented on #9940
It's not strongly related. The issue you linked is a run-time one, while this one is that we simply won't allow scalar ops to appear in fused kernels now.

[2018-07-27 19:12] jramseyer commented on #8518
Sure!  I can check that.

[2018-07-27 19:14] kose-y commented on #6171
@matthieuheitz
My initial try is in #6225 , which is before the release of 0.4.0, but haven't tried since then.

[2018-07-27 19:15] jramseyer commented on #8518
For that, all we want is torch.jit.CompilationUnit(()), correct?  No other special syntax?

[2018-07-27 19:16] soumith commented on #9944
`self.windows` starts from `1`, not from `0`, so you are doing `self.window_convolutions[1]`, skipping the first element of `self.window_convolutions`, which is the kernel of size `1`.

[2018-07-27 19:18] N-A-D-I-A commented on #9944
@soumith  makes sense thanks!

[2018-07-27 19:20] jramseyer commented on #8518
Still fails for CompilationUnit; I will investigate.

[2018-07-27 19:21] SsnL commented on #9941
If `python_default_init` is set, we assert that no default value is given here: https://github.com/pytorch/pytorch/blob/5e4de0821a251a88097809e16a370141c438c58d/aten/src/ATen/native_parse.py#L77

[2018-07-27 19:29] endrift commented on #7330
I updated the pybind11 module in Gym Retro a while ago. Is this actually still broken?

[2018-07-27 19:40] karandwivedi42 commented on #6934
@zou3519 I can take this up if there is interest in adding this to pytorch.

[2018-07-27 19:43] jramseyer commented on #8518
This should be an allowable test, right?

import torch
def something(io):
    return torch.jit.CompilationUnit(())

something(2)

Just want to check to make sure the syntax is good.

[2018-07-27 20:00] wanchaol commented on #9941
@SsnL The default I mentioned above is when we generating the function signature for native function, for the argument who have `python_default_init`, the argument default in that function signature will always be "None", which I think should not be the case as we see here:

https://github.com/pytorch/pytorch/blob/ce0b895a0c6c691be7b7424361ec65370271145e/aten/src/ATen/native/native_functions.yaml#

[2018-07-27 20:03] ezyang opened #9950 "Stop passing inplace/out arguments as (non-const) Tensor& to functions"
Currently, when you define an inplace function or a function that writes to an output function, you get a non-const reference. E.g.,

[code]

The use of a non-const reference here is highly misleading, and can lead newbies down the wrong path when writing implementations of these functions. We should instead pass these arguments as ordinary `const Tensor&` references.

**Detailed discussion.**

Co

[2018-07-27 20:20] SsnL commented on #9941
@wanchaol if you think about the python behavior, it is: if `norm` is given **kwarg** `dim=` then `p` will have default value `2`. This is different from having a default value of `2`.

[2018-07-27 20:43] Kandarp2516 opened #9951 "ONNX -> Caffe2 lstm issue"
I am trying to convert ONNX model to caffe2. While trying to run:

[code]
I get error:

I found similar issue here: [https://discuss.pytorch.org/t/onnx-caffe2-for-recurrent-models-issue/21826](url)

It seems like a bug. Is there any easy work around for this?

I am using anaconda and have installed caffe2 from caffe2 channel and onnx from exyang channel.

[2018-07-27 20:47] bhushan23 opened #9952 "[feature request] Add COCOB Optimizer"
COntinuous COin Betting (COCOB) in stochastic subgradient descent based algorithm that does not requires any learning rate.

Paper- https://arxiv.org/pdf/1705.07795.pdf

[2018-07-27 20:47] bhushan23 commented on #9952
I will be taking up this task

[2018-07-27 20:58] wanchaol commented on #9941
I see, is the python_default_init the way to resolve overloading functions with arguments matching without confusion?

[2018-07-27 20:58] soumith commented on #9952
we should add this to `contrib`, maybe it could be the first algo that goes into that package: https://github.com/pytorch/contrib

[2018-07-27 21:50] mruberry commented on #9912
If we wait for #9938 we could use CUDAStreamInternals* instead of CUDAStreams and forward-declare them to void* on CPU-only builds.We could do this before #9938, but #9938 allows us to do it without refcounting.

[2018-07-27 21:58] achalshah20 commented on #7881
Facing the same issue. Any update?

[2018-07-27 22:39] colesbury opened #9963 "Segfault in torch.tensor with invalid arguments"
The following segfaults:

[code]

Also:

[code]

[2018-07-27 22:46] colesbury commented on #9963
The bug is that the string `'1'`is also a sequence, so `infer_scalar_type` gets into an infinite recursion in torch/csrc/utils/tensor_new.cpp

[2018-07-27 22:47] colesbury commented on #9963
Not surprisingly, this infinite sequence also segfaults:

[code]

[2018-07-28 00:30] weiyangfb commented on #9146
I just looked into this, sounds like it is an issue of float32 vs float64, use float64 gives diff=0:

[code]
('diff=', 0.0)

[2018-07-28 01:43] sb0709 opened #9967 "PyTorch installation does downgrade the python3.7.0 to python3.6.6"
pytorch installation does downgrade the python3.7 to python3.6 when using conda installation.

- PyTorch or Caffe2: PyTorch
- How you installed PyTorch (conda, pip, source): conda install pytorch torchvision cuda92 -c pytorch
- OS: ubuntu 16.04
- PyTorch version: 0.4.1
- Python version: 3.7
- CUDA/cuDNN version: 9.2
- GPU models and configuration: Titan XP

#Original env:
Python 3.7.0 (default, Ju

[2018-07-28 03:55] el3ment commented on #604
@apaszke I think this issue should be reopened. `torch.flip` isn't quite the same thing as negative striding or negative stepping -- torch.flip produces an (efficient) copy, but negative striding wouldn't need to perform a copy at all.

[2018-07-28 05:55] #8502 closed

[2018-07-28 09:59] ankitsinghalIITD commented on #4111
Please tell if you get any clue.

[2018-07-28 14:09] vishwakftw commented on #7500
@fmassa I have got one completed. I was unaware of #9102 unfortunately.

[2018-07-28 14:12] soumith commented on #8366
@ClementPinard CTC = Connectionist Temporal Classification

[2018-07-28 14:13] soumith commented on #5455
I have tried to reproduce this on `0.4.1`, and failed. I presume whatever underlying bug that was there, we fixed. Here is stdout:

[code]

[2018-07-28 14:14] #5455 closed

[2018-07-28 14:38] JaosonMa opened #9975 "python caffe2/python/operator_test/activation_ops_test.py Segmentation fault (core dumped)"
/Downloads$ python /home/jasonma/caffe2/pytorch/build/caffe2/python/operator_test/activation_ops_test.py
WARNING:root:This caffe2 python run does not have GPU support. Will run in CPU only mode.
WARNING:root:Debug message: No module named caffe2_pybind11_state_hip
python: Relink `/usr/lib/x86_64-linux-gnu/libnspr4.so' with `/lib/x86_64-linux-gnu/librt.so.1' for IFUNC symbol `clock_gettime'
python:

[2018-07-28 16:04] sb0709 commented on #9967
exact version

[2018-07-28 18:01] ParitoshParmar opened #9976 "Unused parameters affecting the forward pass"
I am using only a part of a pretrained net. If I keep the unused parameters, then I am getting the following results:
Output of method 1:
Epoch: 0 Iteration: 0 Loss: tensor(18.7229, device=‘cuda:0’)
However, if I get rid of the unused parameters, then I am getting the following results:
Output of method 2:
Epoch: 0 Iteration: 0 Loss: tensor(30.2404, device=‘cuda:0’)

Why would the unused parameter

[2018-07-28 18:05] SsnL commented on #9941
Yeah.. currently that is our way to provide default values that is impossible as c++ function signature.

[2018-07-28 18:22] fritzo opened #9977 "torch.stack() gradient errors in 0.4.1"
## Issue description

We're seeing Pyro code breakage due to interaction of `torch.stack` and `binary_cross_entropy_with_logits` as used inside `torch.Bernoulli.log_prob()`.

Possibly related: https://github.com/pytorch/pytorch/issues/4274

## Code examples
The following examples were distilled from Pyro's [tests/contrib/tracking/test_em.py](https://github.com/uber/pyro/blob/pytorch-0.4.1-failing-

[2018-07-28 19:03] t-vi commented on #8366
So to make an implementation strategy concrete: Would a DeviceTensorAccessor cut the mustard with the following properties:
- constructable from a TensorAccessor
- copies strides and sizes to std::vector<int64>
- non-scalar [] returns a TensorAccessor (to not copy stuff for that).
If I understand things correctly,
- You can declare a global as taking a DeviceTensorAccessor
- You can pass tensor.ac

[2018-07-28 20:47] dpogosov commented on #8582
I faced the same issue. I tried versions 0.4.0 and 0.4.1, the result was the same.

[2018-07-28 20:56] t-vi commented on #8582
@dpogosov but do you have a runnable code example?

[2018-07-28 21:08] dpogosov commented on #8582
Well, I have a LSTM model and some linear layers. I run the following code to freeze  the LSTM part in order to continue training only the linear layers.

`def freeze_layer(self, layer):
    for param in layer.parameters():
        param.requires_grad = False`

When it starts `loss.backward()` then the error occurs:
RuntimeError: inconsistent range for TensorList output

Without freezing the model

[2018-07-28 22:19] simonm3 commented on #9873
I have been converting from keras to pytorch. Everything similar on GPU but on CPUs pytorch is really slow - 10 times slower with my predictions expected to take 10+ hours versus 1 hour on keras. I have compiled pytorch and installed mkldnn. No difference.

[2018-07-29 00:04] wdhorton commented on #9499
Hi @SsnL! I'd like to take this on

[2018-07-29 00:21] DiableJambe opened #9978 "Doing multiple Matrix Multiply using for loop vs doing a single Matrix Multiply concatenating the inputs, gives two different results"
## Issue description

When performing matrix multiply on a 3d tensor, in two different ways, I get two different gradients when performing backward on the output . Please see code example below for exact problem statement.

Apologize if there is something wrong with my understanding, but kindly help me to the right resource for the correct understanding.

## Code example
[code]
## Output
[code]
##

[2018-07-29 00:31] #9978 closed

[2018-07-29 00:31] DiableJambe commented on #9978
Apologize. There was a bug in my code.

[2018-07-29 00:34] linguichao commented on #9921
This issue is caused by cudnn. You could update your cudnn_5 to version >=cudnn_6.

And guarantee your cuda version is cuda_8_0.

By Guichao Lin

At 2018-07-28 21:27:53, "CarlosYeverino" <notifications@github.com> wrote:

I have the same issue. My configuration below:
OS: Ubuntu 16.04 LTS
Caffe2 compiled from source clonning pytorch.
Cuda 8.0
cuDNN 5.1.10

Configuration summary:
-- ******** Summar

[2018-07-29 01:35] vadimkantorov commented on #9934
probably related: https://github.com/pytorch/pytorch/pull/9651 (discusses the relevant piece of logic)

[2018-07-29 02:54] SsnL commented on #9499
@wdhorton Thanks! Let me know if you have any questions. :)

[2018-07-29 03:08] PetrochukM opened #9981 "Torch.save with dill"
## Issue description

With the release of PyTorch 0.4.1, ``torch.save`` with dill now breaks.

## Code example

[code]
[code]

[2018-07-29 03:15] PkuRainBow opened #9982 "Reuse the Variable with the same name with "For loop""
The problem is about the possible issue with the for loop when I excute the for loop within pytorch,

Here is a snippet of my implementation within a forward function,

[code]

My concern is about whether such method will influence the computation for the backward as I reuse the "g_x_local, theta_x_local ..." for many times.

[2018-07-29 03:25] carlosgmartin opened #9983 "[feature request] Add matrix exponential"
Add matrix power as implemented by [numpy.linalg.matrix_power](https://docs.scipy.org/doc/numpy/reference/generated/numpy.linalg.matrix_power.html), matrix exponential as implemented by [scipy.linalg.expm](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.linalg.expm.html), and matrix logarithm as implemented by [scipy.linalg.logm](https://docs.scipy.org/doc/scipy-0.15.1/reference/

[2018-07-29 03:47] PetrochukM opened #9984 "torch.device and torch.nn.parallel.data_parallel compatibility"
## Issue description

``torch.nn.parallel.data_parallel`` does not accept ``torch.device``

## Code example

[code]

[code]

## System Info

- PyTorch or Caffe2: PyTorch
- How you installed PyTorch (conda, pip, source): pip
- PyTorch version: 0.4.1
- Python version: 3.5.2

[2018-07-29 03:56] PetrochukM opened #9985 "DataLoader Multiprocessing Problems"
## Issue description

DataLoader for me has been erroring upon a shut down after calling ``break``.

## Error 1

[code]

[code]

## Error 2

I was unable to come up with a simple code example to replicate this error but this frequently occurs with these settings:

[code]

The execution of my program would get stuck until I issue a keyboard interrupt.

[code]

# Error 3

[code]

## System Info

- P

[2018-07-29 03:56] SsnL commented on #9811
I'm fine with a deprecation warning. :)

[2018-07-29 05:10] knsong opened #9986 "The default value of parameter count_include_pad of torch.nn.Functional.avg_pool2d()"
## Issue description
Is the default value of parameter `count_include_pad ` of `torch.nn.Functional.avg_pool2d()`
 really `True` ?
## Code example
`import numpy as np`
`import caffe`
`import torch.nn.Functional as F`
`input = ...`
`torch_output = F.avg_pool2d(input, kernel_size = 3, stride = 1, padding = 1, )`
`caffe_output = avg_pooling_in_caffe(input, kernel_size = 3, stride = 1, padding = 1)`

[2018-07-29 05:11] YuanLeung opened #9987 "eigen submodule not found"
Could you fix this submodule not found problem of caffe2?

remote: Repository not found.
fatal: repository 'https://github.com/RLovelett/eigen.git/' not found
fatal: clone of 'https://github.com/RLovelett/eigen.git' into submodule path '/home/ly/workspace/git/pose/caffe2/third_party/eigen' failed
Failed to clone 'third_party/eigen' a second time, aborting

[2018-07-29 05:44] carlosgmartin opened #9988 "Segmentation fault: 11 with torch.eig(matrix, eigenvectors=True)"
## Issue description

torch.eig sometimes causes a segmentation fault with `eigenvectors=True`.

## Code example

This script sometimes finishes successfully and sometimes results in `Segmentation fault: 11`.
[code]

## System Info
[code]

[2018-07-29 06:57] t-vi commented on #8582
So what would be most helpful would be a minimal .py that actually runs and produces the error. Either copy it here or  link to a gist or something. It doesn't need to do anything useful, just show the error.
Thanks!

[2018-07-29 08:15] tobyclh opened #9989 "Falling to turn shape into Tensor"
## Issue description
When directly trying to turn a torch.size object into tensor, the resulting tensor contains random value.

## Code example
[code]

## System Info
- PyTorch or Caffe2: PyTorch
- How you installed PyTorch (conda, pip, source): pip
- Build command you used (if compiling from source):
- OS: Ubuntu 18.04
- PyTorch version: 0.4
- Python version: 3.6
- CUDA/cuDNN version: 9.1
- GPU m

[2018-07-29 13:01] fmassa commented on #9989
Do
[code]
Also, questions like this are better suited for https://discuss.pytorch.org/

[2018-07-29 13:01] #9989 closed

[2018-07-29 15:13] SsnL commented on #9986
You are right. This is fixed in 0.4.1 :)

[2018-07-29 15:13] #9986 closed

[2018-07-29 15:59] dbermond opened #9990 "Build fails in caffe2 git master with OpenCL ON"
I'm getting the following compile error when trying to build caffe2 git master:
[code]

- Cmake command and output: [https://bpaste.net/show/f14fd917039e](https://bpaste.net/show/f14fd917039e)

- Caffe2 from pytorch stable release v0.4.1 builds fine with the same cmake options as above (OpenCL ON).

- Caffe2 git master builds fine when using the same cmake options as above and switching OpenCL to

[2018-07-29 17:16] ailzhang commented on #9418
Actually I tested a simple cuda program doing MPI_Bcast/MPI_allreduce and confirmed that it also segfaults there with openmpi 1.10, while it works fine on openmpi 2.1+. I'm more inclined to a openmpi issue in this case.  I will make a PR to add this warning to the doc I think.

[2018-07-29 17:37] dpogosov commented on #8582
@t-vi may I send it to your email? I do not like to publish the code / model.

[2018-07-29 18:06] t-vi commented on #8582
You can, but you if you want to be super-safe, I'd probably recommend to cut down the model to two or three standard layers and put random data of the appropriate size through them. That keeps your privacy and saves me a ton of work (because that would be the first thing I have to do *after* I figured out how to get your code running), so it means I can zoom into the error and fix it faster (if yo

[2018-07-29 18:18] t-vi commented on #9977
As a data point: As far as I can see, this isn't about `binary_cross_entropy_with_logits`, or stack, but about unbind (stack's backward). More minimal repro:
[code]

[2018-07-29 18:32] SsnL commented on #8373
Which error? no_grad or installation?

[2018-07-29 18:44] vadimkantorov opened #9993 "[pytorch] [feature request] Entropy function"
Exists in SciPy: https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.entropy.html, in PyTorch can be something like:

[code]

I agree it is more specialized, but is still useful sometimes.

One other place it may be put in is `torch.distributions[.functional]`

[2018-07-29 20:17] t-vi commented on #8653
So I managed to get docstrings (and ? in IPython) to work, but I cannot get sphinx to use them :(

[2018-07-29 20:19] t-vi commented on #7865
Should this be closed or is there something we yet want to implement?

[2018-07-29 20:32] Amir-Arsalan commented on #8373
@SsnL `Failed to run 'bash tools/build_pytorch_libs.sh --use-cuda --use-nnpack caffe2 nanopb libshm gloo THD c10d'`

[2018-07-29 20:55] vishwakftw commented on #9983
Are these worth porting into ATen? If so, I can take it up.

[2018-07-29 21:36] moonlightlane commented on #1901
`torch.cuda.set_device(device_id)`

[2018-07-29 21:48] yangky11 opened #9996 "Error Sharing CUDA Models between Processes using `torch.multiprocessing`"
I got a runtime error when trying to share a CUDA model with a child process.

The code I was running:

[code]

The error traceback:

[code]

## System Info

PyTorch version: 0.4.1
Is debug build: No
CUDA used to build PyTorch: 8.0.61

OS: CentOS Linux 7 (Core)
GCC version: (GCC) 4.8.5 20150623 (Red Hat 4.8.5-11)
CMake version: version 3.9.4

Python version: 3.6
Is CUDA available: Yes
CUDA runtime

[2018-07-29 21:51] CarlosYeverino commented on #9921
Hi @linguichao ,

thanks for the advice. I successfully built Caffe2 using CUDA 8.0 and cuDNN 7.0.5

[2018-07-29 22:06] srams2018 commented on #9824
Thanks @soumith .it worked with latest cmake.

[2018-07-29 22:43] #9824 closed

[2018-07-29 22:45] alicanb opened #9997 "[feature request] unique to work on nd tensors via dim arg"
Can we have `unique` to return unique rows and cols as well, similar to `numpy.unique`? Example usage to give an idea:
[code]

[2018-07-29 22:50] alicanb commented on #9993
you can calculate this via `distributions.Categorical(probs=p).entropy()`?

[2018-07-29 22:57] ptrblck commented on #9997
What would be the output for the second example if we change the input data:
[code]
This would create a `tensor` with different sizes in the dimensions.
[Numpy](https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.unique.html) has an `axis` argument, but removes duplicated items along the provided axis, as shown in your first example.

[2018-07-29 23:07] alicanb commented on #9997
It should return some permutation of columns of the original tensor in your example, since all columns are unique.

[2018-07-30 00:22] vadimkantorov opened #9998 "[pytorch] [docs] Mention that sparse COO tensors support duplicate indices"
https://pytorch.org/docs/stable/torch.html?highlight=sparse_coo_tensor#torch.sparse_coo_tensor doesn't mention it and doesn't have examples.

SciPy mentions (https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.coo_matrix.html) that the corresponding values are to be summed.

Would be useful for new users of PyTorch sparse package (like myself).

[2018-07-30 01:37] knsong commented on #9986
@SsnL  But shouldn't you update the [docs](https://pytorch.org/docs/0.4.0/nn.html#torch.nn.functional.avg_pool2d) for the version 0.4.0? It's misleading.

[2018-07-30 02:36] vishwakftw commented on #9963
I think I have fixed this locally, but it involves one extra pass over the elements of the sequence to check if the type is consistent.

NumPy also seems to do this, as shown here https://github.com/numpy/numpy/blob/0df35634a2bf2bfff0acfb5d6a6b26eea0265e56/numpy/core/src/multiarray/common.c#L449-L453 .

If this approach of double-passing is fine (I couldn't think of a better way), I could send in

[2018-07-30 02:58] carlosgmartin opened #10000 "Torch handles assignment to all-False boolean masks incorrectly"
## Issue description

torch yields a RuntimeError when assigning a vector to an empty set of indices in an array.

## Code example

[code]

## System Info
[code]

[2018-07-30 03:30] SsnL commented on #10000
probably fixed by @gchanan 's changes

[2018-07-30 04:11] carlosgmartin commented on #9988
I also sometimes get the following errors instead:
[code]

[code]

[2018-07-30 05:40] carlosgmartin commented on #9988
Further note: It seems that this error only occurs when I'm passing the matrix _into_ a function which then performs `eigenvalues, eigenvectors = torch.eig(matrix, True)`. If I inline this code, the error doesn't occur. Very weird. Perhaps it has something to do with how matrices are being passed around?

[2018-07-30 06:52] stoneyang commented on #8483
@phalexo You could try out to install `pytorch 0.4.0`, and insert `CFLAGS="-std=c99` before `sh make.sh`.

[2018-07-30 07:31] avrum commented on #9752
No....
I'll give it a try

[2018-07-30 07:44] mfuntowicz opened #10002 "Master build / CUDA9.2 for Pascal - No kernel available"
Hi ! I'm experiencing an issue after building Pytorch from the master branch (commit 3609977) targetting P100 GPUs. Everything goes fine during the compilation, and I'm able to import/create tensors etc. Then, we I try to run the training script for my network, I got :

[code]

**Build info:**
- OS : Centos 7
- gcc : 4.8.5
- cuda : 9.2
- cudnn 7.1.3
- nccl : 2.2.13
- magma : magma-cuda92
- target

[2018-07-30 07:46] bhushan23 commented on #9530
I have updated #9620 with prototype as follows:
1. diff_state_dict creates set for local keys and given state_dict keys
2. Does set operations to find match, unmatched and unexpected keys
3. If strict or return_keys is true then only call diff routine
4. Eliminate strict from _load_from_state_dict
5. If Mismatch in keys then early raise if strict is true
    Otherwise call load routine

[2018-07-30 08:03] mjc14 opened #10003 "Distribution Implementations on multiple node"
how can i only reduce some ranks? for example:
node1: gpu1 (rank0 ) … gpu4 ( rank3)
node2: gpu1 (rank5) … gpu8 (rank11)

node1 and node2 are in the same process group.

sometime, i only want reduce about the ranks that are on the same node (node1: gpu1 … gpu4)? the torch.distributed reduce all ranks at the same time.

[2018-07-30 08:04] ptrblck commented on #9997
Ok, got it. Sorry for the confusion.

[2018-07-30 08:51] mfuntowicz commented on #10002
My mistake, sorry.

Closing.

[2018-07-30 08:51] #10002 closed

[2018-07-30 09:44] #10003 closed

[2018-07-30 12:03] ferrine opened #10004 "Detaching gradients instead of using no_grad in spectral_norm"
Looking at [this](https://github.com/pytorch/pytorch/blob/3609977d7f4629f75dd1f8d904ddd5b52388124f/torch/nn/utils/spectral_norm.py#L53) code I've noticed that there is an easy way to make `u`, `v` differentiable wrt `W` (it is useful as normalizing constant `sigma` depends on `u`, `v` and `u`, `v` depend on `W`).
If we `detach` starting point of power iteration `u` we avoid cumulating gradients pr

[2018-07-30 13:34] fmassa commented on #10000
This is a duplicate of https://github.com/pytorch/pytorch/issues/6773

[2018-07-30 14:12] fadel commented on #9998
Check out https://pytorch.org/docs/stable/sparse.html

[2018-07-30 14:42] benkrause opened #10006 "RNN gradients in eval mode in pytorch 0.4"
I need to be able to compute the gradients of an RNN with dropout temporarily turned off. In earlier versions if pytorch, it was possible to do this just by setting model.eval() and calling loss.backward(), but in pytorch 0.4 I get this error message:

Traceback (most recent call last):
  File "dynamiceval.py", line 271, in <module>
    gradstat()
  File "dynamiceval.py", line 137, in gradstat

[2018-07-30 15:30] vadimkantorov commented on #9998
This is a nice explanation of coalesced sparse tensors. A suggestion: add a link to this page from `torch.sparse_coo_tensor` doc, saying that details about duplicate indices are there?

[2018-07-30 15:35] ezyang opened #10007 "Upgrade Caffe2 Hypothesis"
Currently, we are pegged on Hypothesis 3.59.0 as per https://github.com/pytorch/pytorch/pull/9830

This is bad, we should endeavor to take updates of the versions of our dependencies on a timely basis.

Unfortunately, the new version of Hypothesis has some behavior changes which cause previously stable tests to start flaking. Known cases: https://github.com/pytorch/pytorch/issues/9854 https://gith

[2018-07-30 15:52] hglaude commented on #9406
Hi,

It would be great if this function "new_distance_func" could take a list of pairs of indices "pairs" such that
[code]
is equivalent to
[code]
But much more memory efficient. That would also suit the use case above.

Thank you

[2018-07-30 15:59] ilan1987 opened #10008 "[feature request] assure no Nan is entered"
I just faced a problem that my output of a model was always Nan when in eval mode, I debugged the model to find out that inside a batchnorm layer the running variance had Nan. This is a model I loaded from somewhere.
somewhere in my code I have this line :
batchnorm.running_var = torch.from_numpy(A_np_ndarray)
I think the code could be made more idiot proof by checking inside a setter of any of th

[2018-07-30 16:08] soumith commented on #10008
We added Anomaly Detection recently, and it is part of 0.4.1 release. While it is an expensive mode (in terms of overhead), it is provided so that you can sanity check your training / models when needed using this mode: https://pytorch.org/docs/stable/autograd.html#anomaly-detection

[2018-07-30 16:08] #10008 closed

[2018-07-30 16:08] akhti opened #10009 "mse_loss reduction='none' is ignored when required_grads is True"
## Issue description

If a tensor with requires_grad=True is passed to mse_loss, then the loss is reduced even if reduction is none.
Appeared in Pytorch 0.4.1.

## Code example

[code]
Outputs:
[code]
## System Info
[code]

[2018-07-30 16:13] soumith commented on #9982
there is no problem with this loop, backward will be computed correctly and is independent of how you use `g_x_local`. In the future, post questions to https://discuss.pytorch.org

[2018-07-30 16:13] #9982 closed

[2018-07-30 16:15] soumith commented on #9873
@simonm3 that is not normal behavior at all, esp. if you compiled from source with MKLDNN (you have to install MKLDNN first, and compile PyTorch -- make sure PyTorch detected MKLDNN).
What kind of model are you running?

[2018-07-30 16:21] zou3519 commented on #10009
cc @li-roy

[2018-07-30 16:22] zou3519 commented on #9987
Try `git submodule sync`. You have an older checkout of pytorch and your submodules need to be synced to point to the most recent ones.

[2018-07-30 16:57] ezyang opened #10013 "undefined_tensor_test (and probably others) regex match on exception *including* backtrace, which is not portable"
`undefined_tensor_test` asserts that an error message for `undef.add(undef)` must mention `add`.

It indeed does, but only because `add` is mentioned in the *backtrace*:

[code]

This is non-portable and fragile. When we test that a message occurs in an exception, we should not regex over the backtrace!

CC @mingzhe09088, because you disabled this test as it was failing in Caffe2

[2018-07-30 17:21] ailzhang commented on #9453
Closing, please reopen if you still see the problem.

[2018-07-30 17:21] #9453 closed

[2018-07-30 17:32] SsnL commented on #10004
The original Spectral Norm paper doesn't backprop through the left and right singular vectors, so didn't we. It's also unclear why detaching before the loop was reasonable because the _u vector is cached and reused.

[2018-07-30 17:32] #10004 closed

[2018-07-30 17:36] jramseyer commented on #8518
Ah, ok, I understand!  Thanks for all of your explanations; I really appreciate it!

[2018-07-30 17:40] zou3519 commented on #9983
Yes, please!

[2018-07-30 17:42] ezyang commented on #10013
Here's what the trace looks like when symbolizing isn't working:

[code]

[2018-07-30 17:44] zou3519 commented on #9976
Could you please provide a reproducible example? Unused parameters shouldn't affect the outcome of the forward pass.

[2018-07-30 17:45] zou3519 commented on #9967
This shouldn't be the case; we'll try to reproduce it.

[2018-07-30 17:47] zou3519 commented on #9942
We're glad that you found that it's not 0.4.1!

[2018-07-30 17:47] #9942 closed

[2018-07-30 17:52] zou3519 commented on #9929
Couldn't we write a wrapper function in python to match the API (and handle variable args?)

[2018-07-30 17:52] li-roy commented on #10009
PR is out for this.

@akhti  FYI, this bug only happens when the target tensor requires grad. If only input requires grad, the bug won't happen.

[2018-07-30 17:53] zou3519 commented on #9922
cc @apaszke what do you think?

[2018-07-30 17:57] hmc-cs-mdrissi commented on #9942
If you look at the edit, while I don't think it was caused solely by 0.4.1, I think part of it was caused by either it or cuda 9.2. I didn't check to see which of the two was having the harmful effect (mostly due to a deadline in a few days that needs working code). I can investigate it more properly this weekend.

[2018-07-30 17:59] jramseyer commented on #8518
Got it working; I'll send a PR soon.  thanks!

graph(%i0 : Dynamic) {
  %2 : int[] = prim::ListConstruct()
  %3 : Dynamic = aten::permute(%i0, %2)
  return (%3);
}

[2018-07-30 17:59] soumith commented on #9942
that's good to know. Please reopen the issue once you investigate. thanks

[2018-07-30 18:00] zou3519 commented on #9771
We should add a line to the readme about this

[2018-07-30 18:40] t-vi commented on #9929
Thank you!  I'm doing that for tensordot at the moment and will also do it for eimsum.

[2018-07-30 19:50] ferrine commented on #10004
According to https://discuss.pytorch.org/t/disconnected-gradient-in-pytorch/6341/5
detach will help to avoid a leak.

[2018-07-30 19:51] SsnL commented on #10004
no_grad stops history tracking too.

[2018-07-30 19:59] #9930 closed

[2018-07-30 20:50] ferrine commented on #10004
I see, that was just a proposal to correctly pass gradients through power
iteration method

пн, 30 июл. 2018 г., 22:51 Tongzhou Wang <notifications@github.com>:

[2018-07-30 20:51] SsnL commented on #10004
@ferrine No worries. This is a perfectly valid thing to think about. I considered that too when we implemented SN. But _u and _v are cached at every iteration so it would be (nearly) impossible to compute exact gradient.

[2018-07-30 21:07] zou3519 opened #10032 "3x regression in JIT LSTM speeds"
On a branch that hasn't pulled master in 7-days:

Benchmarking LSTM model forward pass with 1 layer, 512 hidden size, 512 input size, 100 seq length. All the weights have requires_grad=True.
[code]
On current master:
[code]

cc @zdevito

[2018-07-30 21:08] carlosgmartin opened #10033 "torch.nn.functional.nll_loss not returning negative log likelihood"
## Issue description

torch.nn.functional.nll_loss returns the negative likelihood instead of the negative _log_ likelihood.

## Code example

[code]
prints
[code]

## System Info
[code]

[2018-07-30 21:17] carlosgmartin commented on #10033
Nevermind, I see now that `input` is supposed to contain _log_-probabilities of each class. A bit confusing.

[2018-07-30 21:17] #10033 closed

[2018-07-30 21:19] weiyangfb opened #10034 "[doc] args 'elementwise_mean' can actually mean global mean in some nn.*loss modules and nn.functional.*loss"
Args 'elementwise_mean' can actually mean global mean in some nn.*loss modules and nn.functional.*loss, for instance, [torch.nn.MultiLabelSoftMarginLoss](https://github.com/pytorch/pytorch/blob/bfe2aa093e17c84db863672ad446de064e47dc7e/torch/nn/modules/loss.py#L889-L894)

[2018-07-30 21:36] zou3519 commented on #9997
I have no plans to work on it @ptrblck and I don't think anyone else is planning on it (@alicanb?).

That and the [cuda kernel for unique](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/Unique.cu) look like good places to start.

[2018-07-30 21:40] #4985 closed

[2018-07-30 21:58] zou3519 commented on #10032
One (probably minor) factor is that torch.chunk no longer distributes over some torch.add operations that used to happen.

[2018-07-30 22:09] jspark1105 commented on #9674
There's a generalization of CSR to tensors called compressed sparse fiber (http://glaros.dtc.umn.edu/gkhome/fetch/papers/2015-Smith-CSF.pdf) . I'm not saying we should implement this because this is still complex and with little library support yet.

I want to learn more about "coalesced hybrid COO tensor". Any pointers to it?

[2018-07-30 23:06] li-roy commented on #9674
@jspark1105 We don't have any good documentation, but our implementation of sparse tensor allows values to be a tensor, rather than just a numerical value. For example, a (2, 3, 4, 5) sparse tensor with 2 sparse dims and 2 dense dims treats indices the exact same as a (2, 3) sparse tensor. The only difference is that each of the values will be a (4, 5) tensor rather than a scalar.

Our tensor repr

[2018-07-30 23:10] alicanb commented on #9997
Not me. Feel free @ptrblck !

[2018-07-31 00:02] weiyangfb commented on #9674
Some update of design decisions:
- Agreed upon to represent sparse tensor in hybrid COO format, and Sparse tensor + Constant is not needed currently
- Support autograd on _values() of sparse tensor (note that certain ops such as resize_() on values might change the mapping between values and indices, but this ops is rarely used)
- If sparse ops have the same name as dense, the backward should have

[2018-07-31 00:13] fritzo opened #10041 "[JIT] Support torch.distributions.utils.broadcast_all()"
## Problem

The main blocker to using torch.distributions in the JIT is the `broadcast_all()` function that is used in every distribution's `__init__()` method. Currently `broadcast_all()` calls `torch._C._infer_size()` under the hood, which results in a JIT error
[code]
An expensive workaround is to replace the non-jittable `torch._C._infer_size()` invocation with a `torch.sum(*values).size()` wh

[2018-07-31 00:16] fritzo commented on #10041
@zdevito @apaszke , I'd be happy to implement this if you could give me some pointers or example functions to follow, as I'm not familiar with the current C++ plumbing.

[2018-07-31 00:44] SsnL commented on #10032
can you bisect?

[2018-07-31 00:44] fmassa commented on #10041
I believe this is related to https://github.com/pytorch/pytorch/issues/8076

[2018-07-31 00:48] soumith commented on #9986
docs are updated now.

[2018-07-31 01:06] weiyangfb opened #10043 "Sparse tensor use cases"
We are working on to increase supports for sparse tensor. Currently we have [summarized current state of sparse tensor](https://github.com/pytorch/pytorch/issues/9674) and listed out [sparse ops to support](https://github.com/pytorch/pytorch/issues/8853). We would like to collect sparse tensor use cases to facilitate the design decisions. It will be very helpful if you can post your use cases and

[2018-07-31 01:08] fritzo commented on #8076
We have a helper `torch.distributions.utils.broadcast_all()` that should allow you to
[code]

[2018-07-31 02:01] brightnesss commented on #10043
I'm going to train the fc layer or named embedding layer with the sparse matrix(coo_matrix or csr_matrix from scipy) input. I would like to have its forward and backward.

[2018-07-31 03:20] tengyifei opened #10050 "Cannot export ONNX model with ELU operations"
## Issue description

When I export a model to ONNX format using the tracer, the following error appears:

[code]

ONNX version is 1.2.2

## Code example

[code]

If I examine the offending "scale" attribute passed to ELU, its value is 1, which is effectively not there.

## System Info

PyTorch version: 0.4.0
Is debug build: No
CUDA used to build PyTorch: None

OS: Mac OSX 10.13.6
GCC version: Cou

[2018-07-31 06:54] aliutkus commented on #1552
I feel like this is not what I would call a general interpolation method, because it assumes some constant up-downscaling factor.

In the case of 1d, I think that there is a need for a function that would do interpolate(xd,yd,x) where xd are sorted x-values, yd are the corresponding output values, and x are the points you want the linear interpolation from.

This is similar to the numpy interp1d f

[2018-07-31 07:26] li-roy commented on #9301
It is not. @weiyangfb since you already have #9965 open, can you fix this as well? From a cursory glance, I'm guessing this bug has been there since size_average was introduced, so tests might be wrong as well.

[2018-07-31 07:29] weiyangfb commented on #9301
@li-roy Yeah, I will fix this.

[2018-07-31 07:39] rednoah91 commented on #9874
@houseroad how do you think : )?

[2018-07-31 08:32] veepersgit opened #10062 "Does this mean onnx do not support spatialBN operator?"
I am using pytorch to train a shuffleNet model which uses spatialBN operator. And I'm trying this way: Pytorch model->onnx model->caffe2 model. It works smoothly. But when I try to do the inference using the well-transfered caffe2 model. It comes this:

Unexpected Error: [enforce fail at spatial_batch_norm_op.cc:11] X.ndim() >= 3 && X.ndim() <= 5.  Error from operator:
input: "1967" input: "1103"

[2018-07-31 08:36] mjc14 opened #10063 "[feature request ] is there any plan the backend gloo support more operation?"
is there any plan the backend gloo support more operations?
such as all_gather

[2018-07-31 09:06] t-vi commented on #10000
How about doing a NOP in the empty case? I looked at the setattr recently and could adapt the code there.

[2018-07-31 10:08] chzhan commented on #7330
https://github.com/pybind/pybind11/issues/1472
Maybe Pytorch's pybingd11 submodule needs to be updated.

[2018-07-31 10:11] fmassa commented on #9934
The problem is actually in [`__array__` in here](https://github.com/pytorch/pytorch/blob/master/torch/tensor.py#L391-L393). It actually converts the data to `.cpu()` before doing `.numpy()`.

[2018-07-31 10:21] GZHermit opened #10065 "[docs] Document leaf node distinction in FAQ or Tutorials"
everyone, I find a problem about the change of the tensor's type.
This is my code:
[code]
Why the w1.grad is None? And if you change the tensor's type by using the type_as, it will appear the same problem.

I need help...thank you

cc @ezyang @albanD @zou3519 @gqchen @pearu @nikitaved @soulitzer @jlin27 @mruberry

[2018-07-31 10:53] lcxywfe commented on #9444
I use
    "sudo FULL_CAFFE2=1  mdl python setup.py install"
get
    Failed to run 'bash tools/build_pytorch_libs.sh --use-cuda --use-nnpack --full-caffe2 nccl caffe2 nanopb libshm gloo THD c10d'

[2018-07-31 12:14] vadimkantorov commented on #9929
Should I file another issue for tracking `torch.meshgrid` varargs'izing?

[2018-07-31 12:15] vadimkantorov commented on #8049
@vishwakftw if you are on a linear algrebra impl streak, you may like this one :)

[2018-07-31 12:37] kelsiuss commented on #9564
@bapriddy what was your solution?

[2018-07-31 12:44] vadimkantorov commented on #9993
A-ha, that's a valid way.

It's nicer than coding it from scratch, but still is a little bit verbose. Of course it's a question of taste / PyTorch API cohesion / etc...

[2018-07-31 13:17] jph00 commented on #8928
This is looking great - thanks! We're doing some performance testing, and it's a big improvement.

FYI, at the moment `F.interpolate` is much faster than `grid_sampler` even in the case the affine matrix is identity and there's no resize.

(Also, PIL's `transform` is much faster still, at least when using pillow-simd.)

[2018-07-31 13:21] vaibhavbhoir opened #10069 "dll load failed"
## Issue description

i installed pytorch using **conda install -c peterjc123 pytorch=0.3.1**
i am using a amd gpu so is it because of cuda or something
please help me out
output:
[INFO   ] [Logger      ] Record log in C:\Users\DELL\.kivy\logs\kivy_18-07-31_7.txt
[INFO   ] [Kivy        ] v1.10.1.dev0, git-484b2f7, 20170513
[INFO   ] [Python      ] v3.6.1 |Continuum Analytics, Inc.| (default, May 1

[2018-07-31 13:31] ShayWeissman opened #10070 "I am using ubuntu 16.04 anaconda 3 python 3.6"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

Provide a short description.

## Code example

Please try to provide a minimal example to repro the

[2018-07-31 13:40] Weyne168 commented on #9922
I want to convert the parameters trained by PyTorch 0.4.0 to prototxt of caffe and caffemodel

[2018-07-31 13:47] soumith commented on #1552
@aliutkus you make a good point. I'm reopening this for us to increase the scope of the feature and get the implementations.

[2018-07-31 13:49] soumith commented on #10069
Please use instructions from https://pytorch.org . Your install method is not the latest for Windows, and  the version you are using is not the latest either.

[2018-07-31 13:54] ShayWeissman commented on #10070
Collecting environment information...
PyTorch version: 0.4.1
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: Ubuntu 16.04.4 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.10) 5.4.0 20160609
CMake version: Could not collect

Python version: 3.6
Is CUDA available: Yes
CUDA runtime version: Could not collect
GPU models and configuration: GPU 0: GeForce GTX 1060 6GB
Nvidia driver version: 3

[2018-07-31 14:57] zou3519 commented on #10041
@fritzo I'm working on implementing `torch.broadcast_all` today. It should be traceable when I'm done with it :)

[2018-07-31 16:04] fcalvet commented on #9943
Not directly on this issue but related: the conda binaries for windows aren't updated on the official pytorch channel which is a bit confusing since it's the case on soumith channel.
Is this expected ?

[2018-07-31 16:26] zou3519 commented on #10069
Closing this issue, please reopen @vaibhavbhoir if the problem persists on the latest version.

[2018-07-31 16:26] #10069 closed

[2018-07-31 16:26] alexge233 opened #10078 "UserWarning: cuDNN library not found. Check your LD_LIBRARY_PATH }.get(sys.platform, 'LD_LIBRARY_PATH')))"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

I've built pytorch on `aarch64` and in specific a Jetson TX2 from source, using:
[code]

The compil

[2018-07-31 16:28] pjh5 commented on #9444
@lcxywfe can you post a new issue with the full error message that you are getting? Also please read https://caffe2.ai/docs/faq.html#null__how-do-python-installations-work ; we advise you to not use sudo when installing via setuptools.

[2018-07-31 16:28] soumith commented on #9943
@fcalvet I'm not sure how our uploader broke this badly on Windows. It indeed uploaded to the `soumith` channel rather than `pytorch`. We've uploaded the packages to `pytorch` now and are fixing the script. Thanks a ton for reporting.

[2018-07-31 16:31] soumith commented on #9943
@hmc-cs-mdrissi thanks for reporting. fixed via https://github.com/pytorch/pytorch.github.io/commit/3a7186420c0e11a1bbf85dc9073957a8de1cd43f

[2018-07-31 16:31] #9943 closed

[2018-07-31 16:36] zou3519 opened #10079 "Auto-tag caffe2 PRs"
ONNXbot used to label caffe2 PRS but it is no longer doing this. This would be helpful!

cc @houseroad

[2018-07-31 16:45] houseroad commented on #10079
We miss @bddppq's @onnxbot :-)

[2018-07-31 17:11] jaskarannagi19 commented on #9604
@pjh5 Please help me out as well

******** Summary ********
-- General:
--   CMake version         : 3.5.1
--   CMake command         : /usr/bin/cmake
--   Git version           : v0.1.11-9553-g56974a0
--   System                : Linux
--   C++ compiler          : /usr/bin/c++
--   C++ compiler version  : 5.4.0
--   BLAS                  : Eigen
--   CXX flags             :  -fvisibility-inlines-

[2018-07-31 17:48] ParitoshParmar commented on #9976
@zou3519 , I made a minimal reproducible example. But I am not getting that much difference in the minimal example, while I am still getting the difference in my main code. For data to be used in the minimal example, I am just saving the tensor from my main code and loading it in the minimal example. So the only difference seems to be in the data loading. I haven't figured out if and where I am ma

[2018-07-31 17:48] #9976 closed

[2018-07-31 18:10] #3420 closed

[2018-07-31 18:50] soumith commented on #10062
cc: @houseroad @bddppq

[2018-07-31 18:52] matthew-z commented on #10065
I think it is a intended feature. dtype casting is not a differentiable op.

[2018-07-31 18:59] houseroad commented on #10062
`SpatialBN` is caffe2 op, which is the implementation of BatchNormalization in Caffe2. According to your error message, it seems the input `X`'s dimension is >5 or <3, which is not supported by the implementation in SpatialBN. You can compare your shufflenet with the one in our model zoo: https://github.com/onnx/models/tree/master/shufflenet

[2018-07-31 19:01] soumith commented on #9146
@jfolt the two results are absolutely not equal, in any scientific computing sense.

What you are seeing is floating point precision playing with your intuition. You have an `inp` that contains a range between `0 to 1399`, which covers a bunch of exponent range. Then, you are doing a `W * X + b` operation here, where W is quite small (mean = 0.0002). You are doing a lot of multiplying large number

[2018-07-31 19:01] #9146 closed

[2018-07-31 19:08] johnknelsonintific commented on #7807
Any news on this @rix161? I have the exact same issue, even installed the same way via Anaconda.

[2018-07-31 19:09] zou3519 commented on #10065
@GZHermit ,

is a leaf tensor, while the next line,

creates a non-leaf tensor `w1`. Gradients only accumulate in leaf tensors (i.e., `w` in this case).

To fix the problem, you can do the following:

[code]

[2018-07-31 19:09] vadimkantorov commented on #9406
One thing to keep in mind is that if `d = torch.sqrt(A.pow(2).sum(1, keepdim = True) - 2 * torch.mm(A, B.t()) + B.pow(2).sum(1, keepdim = True).t())` is used for Eucldiean distance, the values can get a tad negative, so clamping may be required (which is not free unfortunately).

[2018-07-31 19:17] Luke1962 commented on #8236
I've the same problem after successfull build from source with raspbian.
The used build command is  ~/pi/pytorch/scripts/build_raspbian.sh
PYTHONPATH is /home/pi/ros_catkin_ws/devel/lib/python2.7/dist-packages:/opt/ros/kinetic/lib/python2.7/dist-packages:/**home/pi/pytorch/caffe2**:/home/pi/pytorch/build:/home/pi/pytorch/caffe2/python

I'm not shure if these paths (manually added) are correct.
Whi

[2018-07-31 19:25] #9418 closed

[2018-07-31 19:29] jfolt commented on #9146
Thanks for commenting.

Yes, there is a float rounding involved in those operations. But that is not the point.

Those 2 are equivalent operations. In the first case I run all batch members through the linear layer (W*X+b) in one operation, and in second case I do exactly the same but one batch member at a time.

Whatever rounding occurs in the first case, should happen in exactly the same way in

[2018-07-31 19:46] soumith commented on #9146
@jfolt

This is not how it works. Depending on the input shape, the BLAS library (that does matrix multiplication) will order the for loops wildly differently. There's a whole set of schemes to determine which loop-ordering to use. And the loop ordering determines the order in which the elements get added up / multiplied.
Almost always you dont notice these things because generally in floating poi

[2018-07-31 20:41] #10009 closed

[2018-07-31 21:06] alexge233 commented on #10078
Never-mind, the instructions on that repo seem to be out of date. I've used `master` branch, recompiled and now it works fine.

[2018-07-31 21:06] #10078 closed

[2018-07-31 21:25] gongliyu opened #10094 "windows pytorch 0.4.1 error=48 : no kernel image is available for execution on the device"
## Issue description
After I updated windows pytorch from 0.4.0 to 0.4.1,  one of my network code throws an error. I tried to downgrade back to 0.4.0. The code works well on 0.4.0.

The error messages are shown below:
THCudaCheck FAIL file=c:\programdata\miniconda3\conda-bld\pytorch_1532505617613\work\aten\src\thc\generic/THCTensorMathPairwise.cu line=102 error=48 : no kernel image is available fo

[2018-07-31 21:27] pjh5 commented on #9604
@jaskarannagi19 since you're using Anaconda, you should use https://caffe2.ai/docs/getting-started.html?platform=mac&configuration=compile#anaconda-install-path . If you don't want to use the script, you have to use https://caffe2.ai/docs/getting-started.html?platform=mac&configuration=compile#custom-anaconda-install .

When you have Anaconda but build Caffe2 without the conda-specific flags then

[2018-07-31 21:42] soumith commented on #10094
cc: @peterjc123 can you check if we didn't compile 0.4.1 with compute capability 5.0? We should be doing https://github.com/pytorch/builder/blob/master/conda/pytorch-0.4.1/build.sh#L8

3.0, 5.0+PTX, 6.0, 6.1, 7.0

[2018-07-31 21:46] vadimkantorov commented on #9703
also it would be nice if `F.normalize` supported multidim

[2018-07-31 22:01] zou3519 opened #10096 "[jit] Proposal: fuse add ops that expand tensors"
Let's say we have `torch.add(self, other)` and `self` has size `(64, 2048)`, while other has size `(2048)`. This isn't fusable into a FusionGroup because the inputs (self, other) have different sizes.

However, `other` can be expanded into the size of `self`. If we insert an `expand` node, then the operation will be fusable into a FusionGroup. The cost of an expand is around 3 microseconds, which

[2018-07-31 22:26] ezyang opened #10099 "Caffe2 Windows configuration cannot handle AT_API classes with static methods (but PyTorch's can)"
There is a weird inconsistency between how PyTorch Windows and Caffe2 Windows is configured. It might have to do with the fact that Caffe2 exports all symbols on Windows at the moment.

Basically, the following compiles in PyTorch, but not in Caffe2:

[code]

In Caffe2, it complains:

[code]

[2018-08-01 01:12] Kandarp2516 commented on #9951
After looking bit deeper on pytorch to onnx and onnx to caffe2 code, I realized that this might be version conflict. After updating pytorch to 0.4.1, export to caffe2 works fine.

[2018-08-01 01:12] #9951 closed

[2018-08-01 03:39] samuelstanton commented on #1359
+1

[2018-08-01 04:23] theja2289 opened #10109 "Quadro m2000m not able to get pytorch working with gpu"
@peterjc123  Could you please help me with this, also let me know if I have to compile it from source.

If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

## Issue description
I'm not able to get pytorch working with cuda.

## Code example
if torch.cuda.device_count() > 0:
    print("Let's use", torch.cuda.device_count(), "GPUs!")
else

[2018-08-01 04:44] peterjc123 commented on #10109
@theja2289 No, you don't need to. Just wait for a few hours. I'm in the process of rebuilding the CUDA packages. Sorry for the inconveniences.

[2018-08-01 04:49] theja2289 commented on #10109
No worries @peterjc123 , thanks for responding so fast :)

[2018-08-01 05:03] Yangqing commented on #10099
Could you do a print of AT_CORE_API right before the class definition, and compare between the caffe2 build and the pytorch-classic build? I suspect this is due to build command differences.

[2018-08-01 05:26] adaitche commented on #5609
The problem disappears when I use `torch.tensor` instead of `torch.Tensor`, i.e. the following gives the right result

[code]

whereas

[code]

still prints 0. This is on pytorch 4.1. The problem occurs only on OSX, on Linux both of the above snippets produce the same result.

[2018-08-01 06:34] zacario-li commented on #9058
@ashah03 modify /scpipts/build_raspbian.sh
about line 39, add "-DUSE_GLOO=OFF"
this works for me.

[2018-08-01 07:52] Marcovaldong commented on #6464
@pjh5 Why can not use packages from conda-forge? I am installing caffe2 on a server without Internet. I have to download every package used and I can not find useful packages from other uploaders.

[2018-08-01 07:53] zsk423200 opened #10111 "Cmakelist Architecture and c code modification"
hello, i want to add some print info in c code, but i am not clear the cmakelist architecture, and how to use which cmakelist to compile the cpp which i have modified. for example, i want to compile DataChannelGloo.cpp, which cmakelist i should use.
document is best.

[2018-08-01 08:11] TimHsu1998 commented on #9967
I also have the same problem.

[2018-08-01 08:40] TimidLion commented on #3718
Hi, I also wondering if this is implemented in pytorch yet! I'll wait for the answer. Thanks!

[2018-08-01 08:41] theja2289 commented on #10109
I even tried to build from source, getting this error while building from source no idea why the slash is different.
![image](https://user-images.githubusercontent.com/10782347/43510879-d97af466-952b-11e8-957c-c86ee62cddbd.png)

![image](https://user-images.githubusercontent.com/10782347/43510947-01f8f334-952c-11e8-8375-1d9c86402594.png)

[2018-08-01 08:46] peterjc123 commented on #10109
@theja2289 No, it is not related to the error. The real error is that the program cannot find `cl.exe`. I don't know how you activated the environment. You should build the binaries in `x64 Native Tools Command Prompt for VS 2017`.

[2018-08-01 08:47] huwei1024 opened #10113 "cuda runtime error (8) : invalid device function"
how can i fix this problem:

RuntimeError: cuda runtime error (8) : invalid device function at c:\new-builder_2\win-wheel\pytorch\aten\src\thcunn\generic/Threshold.cu:34

Collecting environment information...
PyTorch version: 0.4.1
Is debug build: No
CUDA used to build PyTorch: 8.0

OS: Microsoft Windows 10 企业版
GCC version: Could not collect
CMake version: Could not collect

Python version: 3.7
Is

[2018-08-01 08:52] peterjc123 commented on #10113
@huwei1024 Yes, we are regenerating the binaries.

[2018-08-01 08:52] Marcovaldong commented on #9921
@CarlosYeverino ,Did you reinstall your CUDA+cuDNN? If not, how did you tell the makefile where the cudnn is?

[2018-08-01 09:31] pfriesch commented on #8430
I have the same problem, trained the model with pytorch 0.4.0 and tried to load it with 0.4.1.

[2018-08-01 09:35] theja2289 commented on #10109
Attached the output from the build, could you please let me know if this build went through correctly.
I used
[code]

[output.txt](https://github.com/pytorch/pytorch/files/2248878/output.txt)

![image](https://user-images.githubusercontent.com/10782347/43513827-9e06d974-9533-11e8-967b-c834aec6dcb5.png)

[2018-08-01 09:43] linguichao commented on #9921
yes, i had reinstalled cuda+cuDnn.

At 2018-08-01 16:53:15, "marcovaldo" <notifications@github.com> wrote:

@CarlosYeverino ,Did you reinstall your CUDA+cuDNN? If not, how did you tell the makefile where the cudnn is?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-08-01 10:07] rotabulo opened #10114 "Wrong Warning "compiler (c++) may be ABI-incompatible with PyTorch!""
## Issue description
I get the warning about my compiler not being ABI-compatible even though it is.
I think the issue is due to CXX not being set, which defaults to `c++` and the ABI-compatibility check is not properly done in `https://github.com/pytorch/pytorch/blob/master/torch/utils/cpp_extension.py#L91`, because `c++` is not listed among the possible cases.

PyTorch version: 0.4.1
Is debug bu

[2018-08-01 10:10] shkit commented on #9677
Thanks!

[2018-08-01 10:10] #9677 closed

[2018-08-01 10:38] umepy opened #10115 "Error : "not enough memory: you tried to allocate 0BG""
What is this error? this is very strange.
I have enough RAM(32GB) and checked that it did not use RAM more than 10GB.
When i add the code which makes my torch model to use .cpu() and .cuda() many times, this error happen.
What cause this error?

[code]

##System info
- PyTorch or Caffe2: Pytorch
- How you installed PyTorch (conda, pip, source): pip
- OS: Ubuntu 16.04LTS
- PyTorch version: 0.4.1
-

[2018-08-01 10:41] StephenChou0119 opened #10116 "bug report: out of memory when using torchvision.models.densenet169 with drop_rate"
## Issue description
out of memory when using torchvision.models.densenet169 with drop_rate = 0.2 even batchsize =1.
when check the memory usage with 'nvidia-smi', the number  increases slowly, it may be related to the 'inplace' parameter of F.dropout.
when drop_rate = 0.0, there is no exception.
## Code example
drop_rate = 0.2
model_ft = models.densenet169(pretrained=True, drop_rate=drop_rate)
##

[2018-08-01 10:56] daniel-j-h commented on #8392
Hey @jamesr66a I'm running into the exact same issue with PyTorch 0.4.1 hitting the assertion at:

https://github.com/pytorch/pytorch/blob/v0.4.1/torch/csrc/jit/export.cpp#L296

I don't think it is strictly related to the `ModuleList` though. There is a similar report [here](https://github.com/pytorch/pytorch/issues/9587).

And in my case I'm trying to export an encoder-decoder model with skip-con

[2018-08-01 11:08] theja2289 commented on #10109
It looks like it's related to issue #10094, reverted back 0.4.0 and it resolves the issue.

[2018-08-01 11:25] themightyoarfish opened #10117 "Build fails on Ubuntu 16.04: CTCLoss with CUDNN 6"
I have checked out 6f6a1f2d638f5f989786e45b5850b8d3ac4b4048. I have a conda env in which all requirements are installed as per `Readme.md`. Among those are CUDA 8 and CUDNN 6 and Python 3.6.5. I have built previous commits successfully (haven't tried in the past weeks).
Running `python setup.py install` yields
[code]

I tried running `python setup_caffe2.py install` first (which is not documented)

[2018-08-01 12:08] brave-hannah commented on #9708
Thank you for your reply. By the way, what version do you use for cudnn and cuda? I'am afraid of the mismatch version I am using results into this problem.

[2018-08-01 12:34] nicola-decao opened #10118 "Wrong values of a Beta distribution sampling if the last dimension of the shape is 1"
## Issue description

Errors occur when sampling from a Beta distribution if the last dimension of the shape is 1.

## Code example

Sampling with shape `[64, 2]` returns correct values an a correct shape:

[code]

Sampling with shape `[64, 1]` returns wrong values (always 0.5 and some NaNs) an a correct shape:

[code]

## System Info

[code]

[2018-08-01 12:50] soumith commented on #10114
cc: @goldsborough

[2018-08-01 13:59] ezyang commented on #10117
@t-vi Can you look at this one too? Sounds like we forgot to put ifdefs to guard the CuDNN CTCLoss implementation based on version. (Not sure why CI didn't catch it, I guess we're not actually testing against cuDNN 6)

[2018-08-01 14:00] sleepinyourhat commented on #8712
@W4ngatang might be able to help reproduce, but we've given up on fastText for this project 🙁.

[2018-08-01 14:03] ezyang commented on #10117
@themightyoarfish Can you double check if you have other versions of cuDNN installed on your system? We have in our code:

[code]

Which makes it hard to believe that it's actually using the cuDNN 6 headers; you probably are in a situation where cuDNN 7 headers are being used, but cuDNN 6 library is being linked.

A workaround is to build 430e44480f1ab4bd352bc9bde213092302ce107e ; alt if you find

[2018-08-01 14:06] ezyang commented on #8838
Hi @mjc14, how did you instlal Pytorch?

[2018-08-01 14:09] ezyang commented on #10111
Please see https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md for up to date instructions on how to build PyTorch.

[2018-08-01 14:09] #10111 closed

[2018-08-01 14:11] ezyang commented on #10099
I figured it out: it's because the Caffe2 build is static, while the PyTorch build is dynamic. I wrote a nice Note about it in https://github.com/pytorch/pytorch/pull/10092

[2018-08-01 14:11] #10099 closed

[2018-08-01 14:27] themightyoarfish commented on #10117
I have in fact only the one version.
[code]

[2018-08-01 14:28] themightyoarfish commented on #10117
The `cudnn.h` header contains the version 6.0.21 as well, so no mismatch. As I said, I used to compile successfully, 2 months ago with the same setup.

[2018-08-01 14:31] XiongChengxin commented on #9761
I found it works when the kernel has only 1 argument, but I am confusing about what I should do if I want to do 3D convtranspose.

[2018-08-01 14:33] XiongChengxin commented on #9761
I found it works when the kernel has only 1 argument, but I am confusing about what I should do if I want to do 3D convtranspose(not square, eg. kernel=(4,1,1)).

[2018-08-01 14:41] johnknelsonintific opened #10119 "[Caffe2]"
## Issue description

I am trying to learn Caffe2, and am trying to run through the tutorials. For the MNIST tutorial (located here: https://github.com/caffe2/tutorials/blob/master/MNIST.ipynb), I am seeing an error when executing the line `workspace.RunNetOnce(train_model.param_init_net)`. I get:

[code]

This is for an unmodified MNIST.ipynb notebook. I have confirmed there are data.mdb and lock

[2018-08-01 14:42] ezyang commented on #10117
OK, another thing to try: can you edit `aten/src/ATen/cudnn/Descriptors.h` and above `struct AT_CUDA_API CTCLossDescriptor`, add

[code]

[2018-08-01 14:59] xiaopuLee opened #10120 "load model with pytorch0.4 with model saved with pytorch0.3"
When I load the weight saved with pytorch0.3  with pytorch 0.4.
I met this exceptions.

RuntimeError: storages don't support slicing

import torch
import sys
cp = torch.load(<model_saved_from_pytorch_0.3>, map_location=lambda storage, loc: storage)

how can I fix this?
please help me.

[2018-08-01 15:10] steffen-jung opened #10121 "Kernel dies during forward of LSTM."
## Issue description

Kernel dies during second forward of LSTM if input sequence has a certain length (?). I ran the script in Spyder on 2 different machines and the kernel dies on both.

"Kernel died, restarting"

Am I doing something wrong here or is it a bug?

## Code example

[code]
## System Info

**Machine 1:**
PyTorch version: 0.4.0
Is debug build: No
CUDA used to build PyTorch: None

OS:

[2018-08-01 15:25] jt120 opened #10122 "version 0.4.1 torch.arange dtype change"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description
in version 0.4.1 torch.arange dtype change, so the toturial at
https://pytorch.org/tutorials/beginne

[2018-08-01 15:56] W4ngatang commented on #8712
Hi Soumith,

It's not an issue now, and things are a bit hectic this week to reproduce,
but I'll reach out if we run into the issue again. Thanks!

Best,
Alex

On Wed, Aug 1, 2018 at 10:01 AM Sam Bowman <notifications@github.com> wrote:

[2018-08-01 15:58] ngimel commented on #10096
That's strange, as of a few days back the following function
[code]
where `scale` and `shift` are broadcastable to x was properly fused into a single kernel for me. Important difference is that in my case `scale` and `shift` did not require gradient, which is not the case for adding bias in LSTM. For a function to be put in a fusion block it has to be symbolically differentiable, IIRC, and expand

[2018-08-01 16:17] pjh5 commented on #6464
@Marcovaldong please read https://github.com/caffe2/caffe2/issues/1980 . It is because default conda channels use gcc 7.2, conda-forge uses gcc 4.8.5 . If your system gcc is < 5 then use conda-forge, otherwise you shouldn't.

[2018-08-01 16:40] themightyoarfish commented on #10117
I removed conda's cuda installs and rebuilt, now the error is this:
[code]

[2018-08-01 16:41] caogang commented on #9528
The same error : torch.onnx export Segmentation fault.

PyTorch version: 0.4.1

[2018-08-01 16:54] jaskarannagi19 commented on #9604
@pjh5 Thanks reinstalled using anaconda method but no stuck at detector :(

[2018-08-01 16:55] zou3519 commented on #10096
There used to be explicit expands before relevant binary operations. Something changed somewhere (my guess is the TensorIterator got rid of the necessity for the explicit expand?) and now there are no explicit expands:
[code]

Without explicit expands, the inputs don't have the same sizes anymore so no fusion occurs.

[2018-08-01 16:56] ezyang commented on #10117
I am not sure what the root cause is. It might be a good idea to make a fresh conda environment and try again.

[2018-08-01 17:00] zou3519 commented on #10121
@steffen-jung Could you try running in python (and not spyder) and see what happens?

[2018-08-01 17:00] zou3519 commented on #10121
Oh, you should upgrade to 0.4.1. I think you're facing a stack overflow bug that we fixed in that release.

[2018-08-01 17:05] jerryzh168 commented on #9761
have you tried changing the arguments to have 6 padding numbers?

[2018-08-01 17:18] OpenaiSeven commented on #8838
Hi @ezyang , I have the same problem. I installed Pytorch using pip. But first I installed the cpu version, then I uninstall them by using 'pip uninstall torch torchvision'. It turns out successful. Then I install the gpu version, using  'pip install ll http://download.pytorch.org/whl/cu92/torch-0.4.1-cp36-cp36m-win_amd64.whl' and 'pip install torchvision'. But after all that, I check torch.cuda.i

[2018-08-01 17:20] ezyang opened #10127 "aten_op in Caffe2 doesn't correctly track dependencies"
Steps to reproduce:
1. Check out 685224aa14b59d011d0926d615846a60f138e4ba
2. Do a full build with `FULL_CAFFE2=1 python setup.py build_deps develop`
3. Update to 4070005081f9bc5f00d10793daf9c41056f4f7fb
4. Try a rebuild with `FULL_CAFFE2=1 python setup.py build_deps develop`

It fails saying:

[code]

It looks like `aten_op.h` did not get regenerated.

cc @ezyang @gchanan @zou3519

[2018-08-01 17:32] jaskarannagi19 commented on #9604
@pjh5 its a caffe2 issue only
mkdir -p build && cd build && cmake .. && make -j8
-- Caffe2: Found gflags with new-style gflags target.
-- Caffe2: Cannot find glog automatically. Using legacy find.
-- Caffe2: Found glog (include: /home/jaskaran/.conda/envs/Pose/include, library: /home/jaskaran/.conda/envs/Pose/lib/libglog.so)
-- Caffe2: Found protobuf with new-style protobuf targets.
-- Caffe2: Pro

[2018-08-01 18:29] ngimel commented on #10096
You are right, couple weeks back tracer inserted explicit expands, now it does not.

[2018-08-01 18:31] themightyoarfish commented on #10117
A completely fresh setup indeed fixed the problem. So it's kind of moot what the issue was really.

[2018-08-01 18:31] #10117 closed

[2018-08-01 18:39] vishwakftw commented on #10000
It works just fine on https://github.com/pytorch/pytorch/commit/f126687fbca9414696c930a67f7cf1bded29804c. Sorry about the earlier report.

[2018-08-01 18:58] alicanb commented on #10118
`_standard_gamma` (therefore all distributions using it, including beta) is broken as of 0.4.1. Similar issue: https://github.com/pytorch/pytorch/issues/9521 . @SsnL you might want to make this high priority...

[2018-08-01 19:16] themightyoarfish commented on #10117
For posterity: Using the same envorinment but cloning a fresh copy + building also worked.

[2018-08-01 20:37] zou3519 commented on #10032
Appears to be memory leak. `torch.cuda.memory_allocated` scales linearly with the number of loops I run my LSTM

[2018-08-01 20:39] Balandat commented on #9332
@vishwakftw, do you think it's feasible to port this over?

(@darbour, @bletham, @bkarrer, @gpleiss, @jacobrgardner, this would be nice to have for qMC, for our purposes in particular for MC evaluation of batch acquisition functions)

[2018-08-01 20:39] hagerrady13 opened #10140 "[Performance Issue] Inference time increases on CPU the more you train the model on a TitanX."
I have a [UNet model](https://github.com/milesial/Pytorch-UNet/blob/master/unet/unet_model.py) that I train on a [2x80x608] image. The model is trained on a TitanX pascal GPU for 100 epochs. When I test the trained model on a an intel i5 machine with no gpu, inference time grows as I train the model for more epochs.
For instance, I get 500 ms if I load a checkpoint trained for 10 epochs while i ge

[2018-08-01 20:55] DoktorMike commented on #5879
Anyone knows if this has been passed on to pickle as a request? I'm having a similar issue when restoring models from disk and databases. If anyone has a workaround solution I would be very happy to hear about it.

[2018-08-01 21:06] SsnL commented on #10122
Thanks for reporting! Tutorials are updated now. :)

[2018-08-01 21:06] #10122 closed

[2018-08-01 21:09] soumith commented on #10096
yes, this is a sweeping change that @colesbury made. now operators are responsible for broadcasting, I think.

[2018-08-01 21:17] akuz opened #10141 "CreateNet(train_net) cannot find blob created by the RunNetOnce(init_net) in Caffe2 (C++)"
When I run the below code, I first RunNetOnce(init_net), which creates the blobs that are later supposed to be used by the training network. One of the blob names is "filter". However, when I run the init net once, and then try to create the training network, it fails, stating that the input for the "filter" (in Conv) is not found. I attach the code below.

    // run init network
    CAFFE_ENFORC

[2018-08-01 22:00] weiyangfb commented on #10043
@brightnesss Okey,  I guess `nn.Linear` should probably serve your application. It calls `addmm(Sparse, Dense)` and `matmul(Sparse, Dense)`. These two ops are already implemented, we will need the backward in-place.

[2018-08-01 22:28] akuz commented on #10141
I just found out that it works, if I add "filter" as external input for the "train_net" like so:

    train_net.add_external_input ("filter");

before executing CreateNet(train_net).

[2018-08-01 22:28] #10141 closed

[2018-08-01 22:32] elanmart commented on #9981
@zou3519 the problem is [here](https://github.com/pytorch/pytorch/blob/master/torch/nn/parameter.py#L30)

Specifically, the `super(Parameter, self)` seems to cause infinite recursion with `dill`.

This was introduced in https://github.com/pytorch/pytorch/pull/8633 as per [comment](https://github.com/pytorch/pytorch/pull/8633#discussion_r196269752) by @SsnL .

I'd be happy to fix it, but I have no

[2018-08-01 22:36] #8385 closed

[2018-08-01 22:58] RLisfun commented on #8856
It would be amazing to see this fixed

[2018-08-01 22:58] ezyang commented on #9031
Now that we have CTC natively, this is no longer relevant.

[2018-08-01 22:58] #9031 closed

[2018-08-01 23:07] ezyang commented on #8856
Your request has been heard.

[2018-08-01 23:19] catalys1 opened #10148 "MSELoss wrongly sums instead of averages when reduction='elementwise_mean'"
## Issue description

I was training an autoencoder with MSELoss, and the loss values on the training data were huge but the loss values on the validation data were small. It appeared as if the loss was not being averaged on the training pass, but it was on the validation pass. A little poking around in the debugger revealed this to be the case.

The problem is in the `_pointwise_loss` loss functi

[2018-08-01 23:50] #2496 closed

[2018-08-02 01:18] SsnL commented on #10148
@li-roy @weiyangfb one of you guys is fixing this, right? :)

[2018-08-02 01:19] weiyangfb commented on #10148
@SsnL yes, I am fixing this https://github.com/pytorch/pytorch/pull/9965

[2018-08-02 01:44] rfejgin commented on #4858
It looks like the problem is broader than we initially thought. Zero probability events can get selected anywhere in the distribution, not only just if they are the first or last bin. The script below reproduces the problem in bins in the middle of the distribution the in just a few seconds.

...

[code]
**Output:**
[code]

[2018-08-02 01:57] mjc14 commented on #8838
@ezyang  i  install from source as the guide line on git.

[2018-08-02 02:04] vsoch commented on #5514
I think both of these points are fair, and actually 90% of the time I'd take team "It's been 10 years already migrate to Python 3!" But I also now that there are several users (non developers) that are using older software (without an ability to update for python 3) that still have a good 2 years with python 2, and would greatly benefit from having such a container. On the flip side, it really hur

[2018-08-02 02:28] HarshTrivedi commented on #9952
I worked on analysing different coin betting optimization algorithms for parameter free optimization with Professor Francesco (@bremen) during his Convex Optimization [class](http://francesco.orabona.com/teaching.html#CSE592). I can't open full code repository since that work is unpublished yet, but [here](https://github.com/HarshTrivedi/coin-betting-optimizers-pytorch) is the minified repository

[2018-08-02 02:31] rfejgin commented on #4858
Another finding from the thread for @t-vi's pull request  (https://github.com/pytorch/pytorch/pull/9960) is that there appears to be a problem with some of the floating point calculations in the code.

For example, I added a this printout:
```printf("Zero probability selected! cat=%d, probability=%.9g, prevBucket=%.9g, curBucket=%.9g\n", cat, prob, prevBucket, curBucket);```
at this line:
https://

[2018-08-02 02:33] rfejgin commented on #4858
oh, and just wanted to thank @t-vi for the fix candidates and great discussion!

[2018-08-02 02:43] li-roy commented on #10148
@weiyangfb Wait this is actually a different issue than the one you're fixing, this is duplicate of #10009, which was fixed in #10018.

[2018-08-02 02:44] #10148 closed

[2018-08-02 02:47] bhushan23 commented on #9952
I had a chat with @HarshTrivedi
given that he have already worked on COCOB and he wants to take this task, I am okay with it.
I will act as reviewer and work if something is blocking
@HarshTrivedi let me know if you need anything.

[2018-08-02 03:39] vinaykumar2491 commented on #6041
@StalVars PyTorch supports both `pip` and `conda` package managers.
`pip3 install torch torchvision`
See https://pytorch.org/

[2018-08-02 03:42] lcxywfe opened #10155 ""No module named 'tools.setup_helpers'" when use pip install caffe2"
I want to use pip to install caffe, and i get "No module named 'tools.setup_helpers'"
[code]

[2018-08-02 03:43] lilong-epfl commented on #8838
My problem was solved. In my case, its not the problem of Pytorch, the reason is that I didn't install cuda driver properly.

[2018-08-02 03:54] laoreja commented on #8856
Based on my experiments, I got error "THCudaCheck FAIL file=/pytorch/aten/src/THC/generic/THCStorage.cu line=58 error=2 : out of memory" when doing `torch.cuda.sparse.FloatTensor(...)` even with very small tensors (the one in the doc example)

[2018-08-02 03:56] rfejgin commented on #4858
Specifically, we could do something like this:
Change https://github.com/pytorch/pytorch/blob/master/aten/src/THC/THCTensorRandom.cuh#L257
to
[code]

[2018-08-02 04:09] laoreja commented on #8856
I find the problem, on CPU, I follow the example and do not need to specify the size, the CPU version can infer the size; however on GPU, I have to specify the size, otherwise, I got the OOM error

[2018-08-02 05:01] #8838 closed

[2018-08-02 05:01] soumith commented on #8838
@mjc14 your source install likely didn't detect CUDA. Do you have CUDA installed on your machine?

[2018-08-02 06:42] lee2430 commented on #4293
For anyone who still suffer from this issue, try the following command:
`fuser -k /dev/nvidia*`
or
`kill $(lsof -t /dev/nvidia*)`

[2018-08-02 06:51] t-vi commented on #4858
I'd still think we should be able to take it apart to know why it fails here. I'll give it another shot with debugging - hopefully also finding out why the same kernel seems to be behaving differently in the extension and in THC.

[2018-08-02 07:14] huwei1024 commented on #10113
When can i download it?

[2018-08-02 07:20] mjc14 opened #10158 "compile with cuda + openmpi : pml_ucx.c:226 Error: UCP worker does not support MPI_THREAD_MULTIPLE"
my potorch  installed from source, and i  compile  with cuda-8.0 + openmpi-3.1.1  successfully ,but  when i use it ,some error happened. i need help.
[compile method](https://discuss.pytorch.org/t/segfault-using-cuda-with-openmpi/11140)
**test  #code:**
import torch
import torch.distributed as dist

dist.init_process_group(backend='mpi')

t = torch.zeros(5,5).fill_(dist.get_rank()).cuda()

dist.al

[2018-08-02 07:36] peterjc123 commented on #10113
@soumith Are the binaries updated? I think they will be available soon, maybe tomorrow.

[2018-08-02 07:43] redpony opened #10160 "dir(torch) fails in python3.7, pytorch0.4.1, breaks tab completion in IDEs"
## Issue description

When `dir(torch)` fails with the following error message: `TypeError: descriptor '__dir__' of 'object' object needs an argument`. Since `__dir__` underlies `inspect`, `pydoc`, etc., it means tab completion at the module level is broken in interactive environments.

## Code example

[code]

## System Info
This was a fresh install (yesterday, 1 Aug 2018) of both Python3 (via ho

[2018-08-02 07:50] redpony commented on #10160
Also: I confirm the problem doesn't occur in python-2.7.

[2018-08-02 08:04] hongsoog commented on #10119
I got the exactly same error.

[2018-08-02 08:04] vishwakftw commented on #9332
Sorry for the delay @Balandat . I did go through the CPython implementation, and I think this can be ported into ATen. I should be able to start working on it in a couple days and will keep you posted.

[2018-08-02 08:10] mjc14 commented on #8838
thank you , it didn't detect CUDA ,i have solved my problem.

[2018-08-02 08:38] steffen-jung commented on #10121
That seemed to work, thank you :)

[2018-08-02 08:42] jihaonew opened #10161 "error when building caffe2 from source with gcc 7 & cuda gcc 5.5"
The error is:
[code]
I build caffe2 in ubuntu 18.04 with gcc 7. And I add ```-DCUDA_HOST_COMPILER=/usr/bin/gcc-5``` flag when I run ```build_anaconda.sh```
I think this error is caused by gcc 5.5, but I do not know how to install gcc5.5 in ubuntu 18.04.
I find a [same issue](https://github.com/tensorflow/tensorflow/issues/10220).

[2018-08-02 08:43] dmarcosg commented on #642
Hello! The very same problem seems to still exist in maxunpool3d in pytorch 0.4.
Maybe the fix was only for 2d?
Thanks!

[2018-08-02 08:49] vadimkantorov commented on #10140
Or maybe flush denorm issue?

[2018-08-02 08:51] #10121 closed

[2018-08-02 10:58] CarlosYeverino commented on #9921
Hi @Marcovaldong ,

I have already installed CUDA 8.0 and cuDNN 5.1.10. I solved the issue by switching only to cuDNN 7.0.5 and kept CUDA 8.0. Make sure that you do the following in the extracted folder of cuDNN 7.0.5 (I installed with the Linux library option from NVIDIA):

[code]

This leads to an overwrite of cuDNN files. This way, CMake will detect cuDNN 7.0.5 instead of cuDNN 5.1.10.

[2018-08-02 11:41] #4293 closed

[2018-08-02 14:12] JiamingSuen commented on #9163
What if a bug is only triggered only on multiple GPUs? In my case after training with multiple gpus for 3 hours the following error will occur:
[code]

Any advice for debugging in this scenario?
Thanks.

[2018-08-02 14:19] #8518 closed

[2018-08-02 14:30] Amir-Arsalan commented on #8373
@SsnL What could be causing this potentially? I cannot compile PyTorch anymore from source and keep getting this error.

[2018-08-02 15:52] soumith commented on #642
@dmarcosg this was fixed for MaxUnPool3d in pytorch 0.4.1

[2018-08-02 16:01] soumith commented on #8373
@Amir-Arsalan is it the exact same build logs? Can we see your full build logs of `python setup.py install`

[2018-08-02 16:01] ezyang commented on #8373
Have you tried reinstalling your conda environment yet?

[2018-08-02 16:36] themightyoarfish commented on #1382
Also, there is [this Numba implementation,](https://numba.pydata.org/numba-examples/examples/density_estimation/histogram/results.html) not sure if this is helpful. I'm trying to run it on tensors by use of the [cuda array interface](https://numba.pydata.org/numba-doc/dev/cuda/cuda_array_interface.html#cuda-array-interface).

[2018-08-02 16:37] li-roy commented on #8062
We recently reworked size_average and reduce to a single reduction argument. I think the right way to approach this is to add additional options in reduction to specify a weighted vs unweighted average.

[2018-08-02 16:44] soumith commented on #10113
The new binaries are updated for Windows.

If you have previously installed via anaconda, you have to do:

[code]

and then reinstall pytorch.

If you have installed via `pip` command on https://pytorch.org, first uninstall pytorch via `pip uninstall torch` and then rerun that command (so that the new wheel is downloaded and installed)

[2018-08-02 16:44] #10113 closed

[2018-08-02 16:44] soumith commented on #10109
The new binaries are updated for Windows.

If you have previously installed via anaconda, you have to do:

[code]

and then reinstall pytorch.

If you have installed via `pip` command on https://pytorch.org, first uninstall pytorch via `pip uninstall torch` and then rerun that command (so that the new wheel is downloaded and installed)

[2018-08-02 16:44] #10109 closed

[2018-08-02 16:44] soumith commented on #10094
The new binaries are updated for Windows.

If you have previously installed via anaconda, you have to do:

[code]

and then reinstall pytorch.

If you have installed via `pip` command on https://pytorch.org, first uninstall pytorch via `pip uninstall torch` and then rerun that command (so that the new wheel is downloaded and installed)

[2018-08-02 16:44] #10094 closed

[2018-08-02 16:53] Amir-Arsalan commented on #8373
@soumith @ezyang Actually I just noticed that my logs are different. I am building PyTorch in a Singularity container and install _yaml_ via `pip3 install -U pyyaml` in the container but PyTorch cannot import it. This would never happen in the past.

[code]

[2018-08-02 16:56] SsnL commented on #8373
@Amir-Arsalan are you sure that you are also building with python3?

[2018-08-02 17:02] Amir-Arsalan commented on #8373
@SsnL I do `python3 setup.py install`. Should I do anything else besides that?

[2018-08-02 18:14] bigdimboom opened #10170 "build error"
## Issue description
Failed to build the caffe2

## Code example

CMake 3.11.3

## System Info
- Caffe2:

******** Summary ********
General:
  CMake version         : 3.11.3
  CMake command         : C:/Program Files/CMake/bin/cmake.exe
  Git version           : v0.1.11-9628-gf908b2b91-dirty
  System                : Windows
  C++ compiler          : C:/Program Files (x86)/Microsoft Visual Studio

[2018-08-02 18:30] Amir-Arsalan commented on #8373
@SsnL Thank you. Changing that line let PyTorch get compiled.

[2018-08-02 18:32] emerali commented on #10043
I'd like to be able to implement the contents of [this paper](https://www.nature.com/articles/s41467-018-04316-3) using PyTorch.

I'm mostly interested in RBMs, so do not personally need autograd support (since for RBMs, I have to compute and assign the gradients manually). But the Feed Forward/Convolutional Neural Network parts will need autograd.

Other than that, sparse initialization is needed

[2018-08-02 18:38] gpleiss opened #10172 "[Feature request] Batch eig/symeig functions (for small matrices, with CUDA)"
## Issue description

**Proposed ** - add `torch.geevj` and `torch.syevj` calls, which hook into cuSolver's jacobi-based eigensolvers. These functions could operate on matrices or batches of matrices (that are smaller than 32x32).

**Long** - there are two issues:

- For small matrices (e.g. <32x32 matrices), `eig` and `symeig` are much slower for cuda matrices than cpu matrices.
- It would be use

[2018-08-02 19:26] #8529 closed

[2018-08-02 19:46] CarlosYeverino opened #10176 "[Caffe2] Modelling using Ops instead of Helper Functions"
Hi all,

how could I do the LeNet model using only Ops instead of helper functiones like below?

[code]

From the Ops catalogue, I know that the corresponding fc layer and pred are:
[code]

How should I set the **ConvPoolOpBase** operator (mentioned in the catalogue) which provides the stride and kernel size, or the pads’ sizes in each direction for Conv and MaxPool layers?
https://caffe2.ai/docs/

[2018-08-02 20:49] Balandat commented on #10172
This would be super useful to have in general, and in particular could significantly speed up some of our efforts around Bayesian Optimization.

[2018-08-02 21:24] ezyang commented on #5514
FWIW, we still officially support Python 2 and test against it. I'm not sure what problems you ran into updating the Dockerfile (you didn't post them) but it *should* work, if you line everything up right.

[2018-08-02 21:33] carlosgmartin opened #10182 "[feature request] Treat tensor as tuple of tensors in torch.cat"
## Issue description

Treat `torch.cat(a)` as `torch.cat(tuple(a))` when `a` is a tensor, like numpy does.

## Code example

[code]
outputs
[code]

[2018-08-02 22:37] soumith commented on #10182
I'm not sure I understand the reason for the request.
What exactly are you catting in the case of `torch.cat(a)`?

[2018-08-02 23:00] elanmart opened #10188 "Build failed for master on Ubuntu 16.04"
I'm not sure if this is my fault, or something that might be of interest to others, but I tried to build the current master today, but without luck.

I checked-out to `0.4.1` and the build finished successfully.

[build log](https://gist.github.com/elanmart/b67fdfe51159090eac0278ef8f5dd01d)

The error:
[code]

env
[code]

sorry for the trouble,
Marcin

[2018-08-02 23:31] marii-moe commented on #9326
Looked into this one a bit and was able to reproduce it on my machine, I have not updated to the latest master.

For a single array element after the convolution, here are some of the values I got:

.....I let this run for a bit

Which would line up with the "it might be expected due to algorithm and precision issue"

This seems to most frequently happen in the lower right hand corner of the convo

[2018-08-03 00:27] carlosgmartin commented on #10182
In my particular case, I'm creating a graph neural network. Let `edges` be a tensor of adjacency matrices for each edge type, i.e. a tensor of shape (m, n, n) where m is the number of edge types and n is the number of nodes. Let `features` be a tensor of feature vectors for each node, i.e. a tensor of shape (m, k) where k is the dimensionality of the feature space. Then `edges @ features` has shap

[2018-08-03 00:29] weiyangfb commented on #1468
closing this because avg_pool has been moved under ATen now

[2018-08-03 00:35] weiyangfb commented on #1809
closing because this is fixed by https://github.com/pytorch/pytorch/pull/1880

[2018-08-03 00:35] #1809 closed

[2018-08-03 01:13] jleni commented on #7318
Sorry to ask again but any news about this?
Would it help opening an issue here at jetbrains https://youtrack.jetbrains.com/issues/PY?q=pytorch ?

[2018-08-03 01:38] isalirezag opened #10195 "[enhancement] bounding box detection"
it would be useful to have some functions like this:
http://chainercv.readthedocs.io/en/stable/reference/visualizations.html

[2018-08-03 01:52] soumith commented on #10195
I think you want to open this in https://github.com/pytorch/vision/

[2018-08-03 01:52] #10195 closed

[2018-08-03 03:32] richielo commented on #8115
I am having the same issue. It hangs at initialisation without any error message. Have you solved it @VanDavv ? Thanks a lot

[2018-08-03 04:03] carlosgmartin commented on #10182
@SsnL That works, though it's less concise. Shouldn't it be possible to treat a tensor like a sequence? Even better would be adding `cat` as a tensor method (like `eig`, `sum`, etc).

[2018-08-03 05:45] VanDavv commented on #8115
@richielo no, I haven't. Still awaiting for some feedback or clues

[2018-08-03 06:34] dmarcosg commented on #642
Oh, perfect, I need to keep more up to date! Thanks a lot!

On Thu, Aug 2, 2018 at 5:55 PM Soumith Chintala <notifications@github.com>
wrote:

[2018-08-03 07:07] lianglia-apollo opened #10200 "[caffe 2] BUILD failed on ubuntu 16.04"
BUILD failed on ubuntu 16.04  ---
error: argument of type "void *" is incompatible with parameter of type "int *"

## Issue description

Some error msg are shown as below:

/usr/lib/gcc/x86_64-linux-gnu/5/include/avx512vlintrin.h(11180): error: argument of type "void *" is incompatible with parameter of type "int *"

/usr/lib/gcc/x86_64-linux-gnu/5/include/avx512vlintrin.h(11189): error: argument

[2018-08-03 07:12] lianglia-apollo commented on #10161
I am having similar issues. See https://github.com/pytorch/pytorch/issues/10200

[2018-08-03 08:04] zhengduoru opened #10201 "nvcc fatal : Unsupported gpu architecture 'compute_70'"
my environment:
Centos
python3.6
CUDA9.0
cudnn7.0
and my server GPU is V100

what can I do when  nvcc fatal   : Unsupported gpu architecture 'compute_70'

[2018-08-03 08:17] dnlcrl opened #10202 "Build failed for master on MacOs 10.13.6"
Hello, I'm trying to compile and install pytorch from source on my Macbook but `MACOSX_DEPLOYMENT_TARGET=10.9 CC=clang CXX=clang++ python setup.py install` is giving me an error (entire log [here](https://drive.google.com/file/d/1sVf8CfWHKOSnaKnKNA_imKq_j0tx8ROT/view?usp=sharing)):

Does someone know how can I compile and install the master on macos? Thank you.

[2018-08-03 08:39] dedoogong opened #10203 "[Caffe2] Can I convert Caffe2 to Caffe?"
I'm trying to convert Keypoint-R-CNN example model based on Detectron/Caffe2 to Caffe.
By default, Detectron divides the model into "base" part and "head" part, but I made a new Caffe prototxt including both keypoint net and net(base net) after extracting detectron_net.pbtxt and detectron_keypoint_net_pbtxt together and manually changed each names of items.

Also, I found it's possible to convert

[2018-08-03 09:07] dnlcrl commented on #10202
It looks like this is the incriminated commit: https://github.com/pytorch/pytorch/commit/f908b2b919a29aece4530eada4634281bfb07cf9#diff-a608c7a9fb7c3917c129c412f5aaeac6. I can compile on the parent commit but not with this one (giving the error above).

Any hint on how to solve this?

[2018-08-03 09:34] Marcovaldong commented on #9921
Hi @CarlosYeverino ,

Thanks for your response. I have fixed my problem. I need to install caffe2 in a server which is used by several researchers. So I can not reinstall CUDA or replace cuDNN 5.1 with cuDNN 7.0.5.

After two days attempting, I found that we can specify the path of both CUDA and cuDNN when cmake, and there is the command I used below:
[code]

[2018-08-03 09:50] shqking opened #10205 "[Caffe2] cross-compile caffe2 for armv7"
Hi all,

Have anyone tried to cross-compile caffe2 for armv7 platform?
If yes, could you please show me the details.
Thanks in advance.

[2018-08-03 10:01] fmassa commented on #10182
I think the request of making `torch.cat` support a single tensor as input makes sense.

We already consider a tensor as an iterable (we can do `for batch in torch.rand(3, 10)` and we will have tensors of size 10).
I believe `torch.cat` should iterate over any sequence of tensors and concatenate them over the specified dimension.

I'd not vote for adding `cat` as a method though. Most of the time

[2018-08-03 10:11] fmassa commented on #1468
The optimization opportunity still exists (and also for max_pool, as we only need to hold the max indices, and not the input).

The ATen implementation calls [THNN/THCUNN](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/nn.yaml#L137-L138), which in turn still requires the [input (and thus stores the whole input), while only the sizes are necessary](https://github.com/pytorch/pytorch/b

[2018-08-03 11:51] shkit opened #10206 ""setup.py clean" deletes configuration files of IDE."
## Issue description

I'm using Visual Studio Code and Visual Studio. These IDEs store configurations to FOLDER/.vscode and FOLDER/.vs.
When I do "setup.py clean", these folders are deleted because those are described in .gitignore file.
Thus I need to reconfigure IDE settings whenever I executes "setup.py clean".

I think a behaviour of "setup.py clean" may be overkill and might be need to add "c

[2018-08-03 13:12] fmassa commented on #10182
A simple fix for this issue would be to do something like
[code]
(or using `list`).

[2018-08-03 13:20] gmyofustc commented on #8348
the same problem. It alwasy tries to use CXX compiler which I don't want it use!!!
I specify the CXX compiler, it does not work. Looking for answer

[2018-08-03 13:53] dnlcrl commented on #10202
Additional Info:

`$ clang --version` output:

`$ pkgutil --pkg-info=com.apple.pkg.CLTools_Executables
` output:

[2018-08-03 14:00] aliutkus commented on #1552
OK, so, I have spend some time these last days implementing a pytorch extension for doing 1-D interpolation.

To this purpose:
1. I implemented a [pytorch-searchsorted](https://github.com/aliutkus/pytorch-searchsorted) function, that looks for desired values in sorted arrays. This may be useful for other tasks than just interpolation
2. I implemented a [pytorch-interp1d](https://github.com/aliutku

[2018-08-03 14:07] ezyang commented on #10206
Happy to take a patch that fixes this. We can probably split the .gitignore file into a "should be cleaned" and "should not be cleaned" section, and only read out the should be cleaned section.

[2018-08-03 14:11] ezyang commented on #10202
CC @li-roy

[2018-08-03 14:24] dnlcrl commented on #10202
Ok I got it working, the problem was due to my conda environment, because I tried to create a new fresh environment and it finally worked fine.

Thank you very much and sorry for the spam.

[2018-08-03 14:24] #10202 closed

[2018-08-03 14:36] BlindElephants commented on #1359
+ 1

[2018-08-03 14:41] serhii-havrylov opened #10207 "a strange torch.no_grad behaviour when used with lazy_property from distributions"
Recently I encountered a weird bug, that can be reproduced with the next snippet of code:

[code]
If one removes the print function right before the `no_grad` context manager there is going to be a runtime error when calling `backward`: `RuntimeError: element 0 of tensors does not require grad and does not have a grad_fn`

It turns out that calling lazy property `cat.logits` within the `no_grad` c

[2018-08-03 14:44] fmassa commented on #10207
I've debugged this problem with @serhii-havrylov earlier on, and it sounds like it's a bad interaction between `lazy_property` and the `no_grad` context manager.

cc @fritzo

[2018-08-03 15:09] ezyang commented on #8605
I double checked the code and this still seems impossible. The registry is always retrieved via `RegistryName()`, and this properly initializes on first use:

[code]

I also checked the constructor of Registry and it doesn't actually call anything that could lead to a cycle (and in any case the backtrace is not consistent with that).

[2018-08-03 15:19] zou3519 commented on #10096
What changed is that we don't have explicit expands anymore; some of the operators (add, mul, sub, and div, and possibly others?) can do the broadcasting themselves.

I thought about two potential solutions for the graph fuser to adapt to this:
1) We could have a pass to add explicit expands before the graph fuser pass and a pass to remove explicit expands after. This way all fusion opportunities

[2018-08-03 15:30] fritzo commented on #10207
IIRC @neerajprad and @alicanb and I encountered this problem early, and @apaszke recommended always using `with torch.grad_enabled():` inside `@lazy_property` methods in case the gradient was enabled later on. I don't believe we ever made a complete pass over the `@lazy_property` implementations to make this consistent across all distributions. Also I believe the strategy to disable gradients was

[2018-08-03 15:35] fritzo commented on #10207
Also I believe the best solution is to improve our documentation (there's no simple coding fix due to the out-of-order execution). @serhii-havrylov feel free to incorporate any clarifying text you could into the distribution docs, or we could add some clarifying text and cc you on the PR.

[2018-08-03 15:41] SsnL commented on #10207
:) I think we fixed this in https://github.com/pytorch/pytorch/pull/7708, which is part of 0.4.1. Can you try that?

[2018-08-03 15:45] bapriddy commented on #9564
@kelsiuss  I installed everything but resnet failed to actually run.  I'm going to re-visit the problem next week.

[2018-08-03 15:57] davclark commented on #9219
Where is a good place to track when PyTorch on ROCm (1.8.2) is working? Just following this issue?

[2018-08-03 16:04] ezyang commented on #9784
@gchanan and I decided that the way we'll fix this is putting the VariableTypeRegistry static initializer in the same compilation unit as VariableHooks, so that we can make sure that it gets run before we register VariableHooks.

[2018-08-03 16:07] soumith commented on #10201
please use the issue template and re-file the issue. We dont have enough information to help you. https://raw.githubusercontent.com/pytorch/pytorch/master/.github/ISSUE_TEMPLATE.md

[2018-08-03 16:07] #10201 closed

[2018-08-03 16:07] iotamudelta commented on #9219
@davclark please see the ROCm [fork](https://github.com/ROCmSoftwarePlatform/pytorch) and file issues there. Current state is that PyTorch is building on ROCm 1.8.2 (also see CI for that and the build scripts for dependencies) and is close to working. We are actively working on fixing outstanding issues.

[2018-08-03 16:07] serhii-havrylov commented on #10207
@SsnL Yes, it work! Thanks a lot!

[2018-08-03 16:13] vadimkantorov commented on #8605
I can try again a fresh source version. I can also put some `printf`'s to some places if you have some ideas where they may clear up the picture.

[2018-08-03 16:18] #10207 closed

[2018-08-03 16:25] fgtoralesch commented on #6780
Sorry, my explanation could be misleading (I will correct it now) @springishere. If you try to use tensorboardX the model is exported with ONNX and then the same bug appears.

Answering your question, if you update to the latest ONNX and pytorch-nightly it should work. However, I don't know to which commit the fix belongs to. I hope that helps.

[2018-08-03 16:53] dashesy commented on #8115
@VanDavv have you checked [this](https://github.com/pytorch/pytorch/issues/1637#issuecomment-338268158) too? to check if it is [ACS-relatd](https://devtalk.nvidia.com/default/topic/883054/multi-gpu-peer-to-peer-access-failing-on-tesla-k80-/?offset=26)? I have seen it could be P2P related, in which case I was able to use 1 process per 1 GPU and NCCL worked (using IPC)

[2018-08-03 17:27] kmaninis commented on #2584
Hi, [this](http://hangzh.com/PyTorch-Encoding/nn.html#batchnorm2d) is the updated link from above. It works quite well! Needs installation of yet another external package, though. It would be great if incorporated in the pytorch repo.

[2018-08-03 17:35] zhanghang1989 commented on #2584
FYI, I have implemented SyncBatchNorm using MXNet Gluon http://mxnet.incubator.apache.org/versions/master/api/python/gluon/contrib.html?highlight=syncbatchnorm#mxnet.gluon.contrib.nn.SyncBatchNorm

[2018-08-03 17:40] Amir-Arsalan commented on #9289
@soumith As mentioned [here](https://github.com/NVIDIA/nvidia-docker/issues/793) too, This does not happen anymore after the latest updates to the Docker image contents from NVIDIA.

[2018-08-03 18:01] ailzhang commented on #9996
I can repro this on 0.4.1. Running bisect to find the offending commit.

[2018-08-03 18:20] soumith commented on #10200
is this for caffe2 or pytorch? what is the command used to build? give the full log, not just snippet of error.

Provide this information:

PyTorch or Caffe2:
How you installed PyTorch (conda, pip, source):
Build command you used (if compiling from source):
OS:
PyTorch version:
Python version:
CUDA/cuDNN version:
GPU models and configuration:
GCC version (if compiling from source):
CMake version:

[2018-08-03 18:45] zou3519 commented on #10032
Repro script, for reference:
[code]

[2018-08-03 18:59] vadimkantorov commented on #9542
thanks @resistor!

[2018-08-03 18:59] #9542 closed

[2018-08-03 19:15] lianglia-apollo opened #10215 "[Caffe2] Build failure on Ubuntu 16.04"
## Issue description

Provide a short description.
When I follow the directions on https://tech.amikelive.com/node-706/comprehensive-guide-installing-caffe2-with-gpu-support-by-building-from-source-on-ubuntu-16-04/
I got some targeting missing complain when I did "cmake .."
The build failed with the info:

[code]

[code]

[2018-08-03 19:17] lianglia-apollo commented on #10200
When I follow the instructions according to https://tech.amikelive.com/node-706/comprehensive-guide-installing-caffe2-with-gpu-support-by-building-from-source-on-ubuntu-16-04/, it seems I was able to pass this issue, but a new issue apprears, see:

https://github.com/pytorch/pytorch/issues/10215

[2018-08-03 19:37] #10200 closed

[2018-08-03 20:05] zou3519 commented on #10032
I think I've found a shared_ptr reference cycle:

ExecutionPlanAutogradFunction owns a vector of SharedVariable (https://github.com/pytorch/pytorch/blob/65d32b17057a35938d932b5071585be15e19af55/torch/csrc/jit/graph_executor.cpp#L98)

When it captures an input to save for backwards, this is called: https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/graph_executor.cpp#L87. This creates a

[2018-08-03 20:11] ailzhang commented on #9996
Seems to be related to this PR https://github.com/pytorch/pytorch/commit/976f9253a5425918eda7cf865b097cf42b5da8d7#diff-0d553ed0e9ca41fdac21632b4d503a10 cc: @ezyang

[2018-08-03 20:21] ezyang commented on #9996
Ugh, I know what this is, but apparently I didn't fix it enough.

[2018-08-03 20:31] ailzhang commented on #10115
@umepy  Could you provide a simple repro script for this? Thanks!

[2018-08-03 20:46] ezyang commented on #9996
@yangky11 Can you please test https://github.com/pytorch/pytorch/pull/10220 and let me know if it works on your full model.

[2018-08-03 21:17] krishnap25 opened #10223 "[feature request] Forward-mode automatic differentiation"
Thanks for the awesome library! It would be great if PyTorch could support forward-mode automatic differentiation. The main use case is to compute a Jacobian-vector product. I tried using [this trick](https://j-towns.github.io/2017/06/12/A-new-trick.html) that simulates forward-mode autodiff by running reverse-mode twice, but it causes my GPU to run out of memory with AlexNet. [HIPS/autograd](http

[2018-08-03 21:28] ailzhang commented on #10120
Could you give an simple model that trigger this? Thanks

[2018-08-03 22:38] yangky11 commented on #9996
@ezyang I'm afraid I can't. I've been never able to build Pytorch from source due to some dependency issues on my server. And it's difficult for me to do anything about that since I don't have the root privilege.

[2018-08-03 23:16] soumith commented on #10188
can you `git clean -xfd`.
and also make sure `libcaffe2.so` is not in your site-packages (maybe lingering from an old install)

The reason for the error is `libcaffe2_gpu.so` is linking to a `libcaffe2.so` that was compiled with gcc <= 5.1 (either came from pytorch binaries or lingering old file somewhere)

[2018-08-03 23:57] jerryzh168 commented on #9761
Feels like ConvTranspose does not support 3D yet: https://github.com/pytorch/pytorch/blob/master/caffe2/operators/conv_transpose_op_impl.h

[2018-08-04 00:55] #9141 closed

[2018-08-04 01:26] #9784 closed

[2018-08-04 02:57] Johnccl commented on #10182
[code]

[2018-08-04 03:39] Johnccl opened #10229 "Speed of group convolution"
I'm trying to use group convolution in my model, but I find that the speed of group convolution layer is too slow. I tested different groups settings on titan x maxwell. The result shows that when groups==input_channels, the speed is very fast even with different output_channels. But other groups will slow down the forward heavily. Here is my test code, if I was wrong, please correct me.
[code]
Th

[2018-08-04 04:49] soumith commented on #10229
you should either run your script with `CUDA_LAUNCH_BLOCKING=1 python yourscript.py`, or change `count` in the following way, to get correct timings:

[code]

[2018-08-04 05:39] llv22 opened #10232 "AVX not enabled for pytorch/caffe2"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

1. pytorch's CMakeLists.txt and change Line 113
option(USE_NATIVE_ARCH "Use -march=native" ON)

2.

[2018-08-04 13:44] luhc15 opened #10234 "libtorch.so.1: undefined symbol:"
when I install from source, I got error like this after import torch：

  File "<stdin>", line 1, in <module>
  File "/home/luhongchao/anaconda2/lib/python2.7/site-packages/torch/__init__.py", line 84, in <module>
    from torch._C import *
ImportError: anaconda2/lib/python2.7/site-packages/torch/lib/libtorch.so.1: undefined symbol: _ZTIN2at4TypeE

I installed then  use : pip install torch, but als

[2018-08-04 15:51] elisim commented on #10234
Same problem

[2018-08-04 17:36] ezyang commented on #10234
`pip uninstall torch; pip uninstall torch`, and then reinstall from source. Alternately, blow away your Anaconda environment and install into a new one. (The root problem is that you have an old shared library hanging around which doesn't have the correct symbols.)

[2018-08-04 17:46] ezyang commented on #9996
Hmm, what's the error? I find that a fresh Anaconda environment can usually overcome any root-side misconfiguration, but maybe it's a CUDA related problem?

[2018-08-04 18:06] ezyang commented on #9016
https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-cuda9.1-cudnn7-ubuntu16.04-test/6317/console

[2018-08-04 18:46] fmassa commented on #10032
I reopened this because I believe we only fixed the memory leak, and not the slowdown?

[2018-08-04 19:13] soumith commented on #10032
@fmassa i believe the slowdown was because of the memory leak.

[2018-08-04 19:16] vivekanandgoud commented on #6098
+1

[2018-08-04 22:11] Jyouhou commented on #4741
@soumith
Thanks! It worked for me.

In my case, a higher momentum solved the problem. Maybe the default value of 0.1 is not a good one?

[2018-08-04 22:35] vishwakftw commented on #9983
@zou3519 @fmassa I went through the SciPy implementation for `matrixexp` (named `expm` in SciPy), and have a few questions:
- the implementation is added for sparse arrays as well. Should I be considering that, or is that supposed to be left for later?
- the implementation seems to take advantage of upper triangular matrices, and there are some optimized calculations done for the same. Should I ta

[2018-08-04 22:35] vishwakftw commented on #10000
Can this be closed, or is this issue being still investigated?

[2018-08-05 00:07] peterjc123 commented on #6098
@GusSand Wait! Are you trying to use it under WSL? It is actually impossible at the moment because GPUs cannot be found under WSL. There is an [issue](https://github.com/Microsoft/WSL/issues/829) (feature request) for this under WSL repo. However, since there is Windows support, why don't you just install it in the main Windows environment?

[2018-08-05 00:59] emerali opened #10236 "torch.bernoulli's out kwarg is broken"
## Issue description

`torch.bernoulli()` can no longer overwrite a desired tensor

## Code example

[code]

I get a similar error if i try to do `a.bernoulli(out=b)`

## System Info

- PyTorch or Caffe2: PyTorch
- How you installed PyTorch (conda, pip, source): pip
- Build command you used (if compiling from source): n/a
- OS: Ubuntu 18.04
- PyTorch version: 0.4.1
- Python version: 3.6.5
- CUDA/c

[2018-08-05 01:32] rajarshd opened #10237 "Irregular behavior of torch.max on cpu & gpu for a tensor containing -inf"
## Issue description
```torch.max()``` has irregular behavior on a tensor containing all ```-inf```, depending on whether it is on cpu or gpu.
## Code example
[code]

## Environment
[code]

[2018-08-05 01:54] tete1030 opened #10238 "nn.ReLU Module with input NaN still gives 0"
## Issue description

I noticed similar issue has been reported in #7999 and fixed in pytorch 0.4.1 #8033

However, when using Module ReLU, the problem still exists.

## Code example

[code]

## System Info

PyTorch version: 0.4.1
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: Ubuntu 16.04.5 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.10) 5.4.0 20160609
CMake version: version 3.5.1

[2018-08-05 03:34] Johnccl commented on #10229
Thank you for your reply @soumith . I tried the two methods respectively, but it seems to take more time.

[2018-08-05 03:42] soumith commented on #10229
can you update the timings that you found with the new methods.

Also, some information:

- how did you install pytorch
- how did you install mxnet
- what's the output of

[code]

[2018-08-05 03:45] SubigyaPanta commented on #7318
I'm having the same issue in Ubuntu 16.04 and PyCharm 2017.3

Strange thing is when I run in python console, it shows auto-complete properly.
![working_in_console](https://user-images.githubusercontent.com/2729048/43682325-6d044472-9891-11e8-8106-ac280917d8c3.jpg)

But when I run the same in the editor it doesn't work.
![not_working_in_editor](https://user-images.githubusercontent.com/2729048/4368

[2018-08-05 05:06] SsnL commented on #10237
reproducible on master

[2018-08-05 07:45] Johnccl commented on #10229
The timings with new methods are just followed by your advise @soumith : \
my first try is run script with:
[code]
I also tried to change the timings :
[code]
The result shows that both the two methods take more time in group convolution, only when groups==input_channels it runs very fast (input tensor is (1, 1024, 19, 19)). The output is like this:
[code]
And here is the information of my pytorch

[2018-08-05 09:47] whiteboy1999 commented on #8465
how to solve this issue ?

[2018-08-05 10:11] markalexander commented on #9559
@weiyangfb Agree.  In that vein, things like `SubsetRandomSampler` also have this extended use where the result is not necessarily a subsample.  Perhaps then `RandomIndicesSampler` is more appropriate, with a slight change to the docstring about replacement.  In fact `SubsetRandomSampler` is seemingly quite close to `torch.utils.data.dataset.Subset` in intent anyway, only it provides indices in ra

[2018-08-05 11:17] vivekanandgoud commented on #6098
issue fixed for me

windows 10
GPU 940 MAX
CUDA 9.0

installed CUDA tool kit  https://developer.nvidia.com/cuda-downloads
replaced CUDANN libraries  https://developer.nvidia.com/cudnn

Check if your CUDA_HOME, CUDA_PATH & CUDA_PATH_V8 is set up properly. If not add it.

then re install pytorch with cuda 90 compatibility   https://pytorch.org/

......................................................

[2018-08-05 11:41] mikaelfs commented on #10215
Hi, thanks for referencing the instruction in my article. I'm wondering when you did the git pull for the build. The instruction was working and tested against the master branch at the time it was written (April). It's been a while so probably there are some changes I'm not aware of that leads to the error.

I'll try to rebuild this week to confirm.

[2018-08-05 13:02] kharvd opened #10241 "Applying torch.log after torch.expand gives incorrect results on CPU"
## Issue description

`torch.expand` seems to be not working correctly with `torch.log`, `torch.exp` etc on CPU. The exact same code works on CUDA.

## Code example
[code]

## System Info
[code]

[2018-08-05 13:52] cbogdanmihai opened #10242 "Build error - CUDA path containing backslash"
Hello,

Having issues while building pytorch.
CUDA path is constructed or changed to have backslash but has an added "\include".

C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v8.0\include

Environment: Win 10, Cuda 8, CUDDN 7.1, Py 2.7, cmake 3.12, VS 2017.

ERROR:

CustomBuild:
  Building NVCC (Device) object caffe2/CMakeFiles/caffe2_gpu.dir/__/aten/src/THC/Release/caffe2_gpu_generated_THCR

[2018-08-05 13:55] vishwakftw commented on #10241
Reproducible on master. cc: @SsnL

[2018-08-05 14:03] vishwakftw commented on #9332
@Balandat I have some primitive designs for the implementation, and I thought I should clear up which one to use proceeding further:
1. `SobolEngine` in Python: Since the implementation in `CPython` is available, it should not be hard to reproduce this in PyTorch. This would include writing a new class, and the methods associated with it in pure Python.

- Pros: Not required to deal with a `at::Ge

[2018-08-05 14:13] hagerrady13 commented on #10140
@soumith I ran the anomaly detection on different checkpoints and on the whole training process but got no evidence of having nans in my model.

[2018-08-05 14:16] hughperkins opened #10243 "Initialization can be surprisingly important, and under-rated"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

Was trying to reproduce a paper. Flatlined at 50% eval accuracy. On a two-class problem (binary cro

[2018-08-05 14:25] XiongChengxin commented on #9761
I modify my 3D data to 2D now, but I am comfused about how to use stride and padding in convtranspose, the API said "Note that other parameters, such as the stride and kernel size, or the pads’ sizes in each direction are not necessary for input because they are provided by the ConvTransposeUnpoolOpBase operator", but I didn't find the " the ConvTransposeUnpoolOpBase operator". Any suggestions? Th

[2018-08-05 14:44] peterjc123 commented on #10242
The actual error is this:nvcc fatal : Host compiler targets unsupported OS. Please use MSVC 14.11 toolset.

[2018-08-05 14:50] cbogdanmihai commented on #10242
Using 14.11 toolset, following exact install instructions... Below is the build config:

-- ******** Summary ********
-- General:
--   CMake version         : 3.12.0
--   CMake command         : C:/Program Files/CMake/bin/cmake.exe
--   Git version           :
--   System                : Windows
--   C++ compiler          : C:/Program Files (x86)/Microsoft Visual Studio/2017/Community/VC/Tools/MS

[2018-08-05 14:53] peterjc123 commented on #10242
Sorry, I updated my last post. You should use MSVC 2015 when you build for CUDA 8. Please refer to the build steps on the main page of this repo.

[2018-08-05 14:57] peterjc123 commented on #10242
Have you skipped this part in the README:
[code]

[2018-08-05 14:59] cbogdanmihai commented on #10242
No, using exact steps as described in the readme.md, but now I have found that changing the line:
set "PREBUILD_COMMAND=%VS140COMNTOOLS%\..\..\VC\vcvarsall.bat"
to
set "PREBUILD_COMMAND=C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat"
results in:

Microsoft (R) Build Engine version 14.0.25420.1
Copyright (C) Microsoft Corporation. All rights reserved.

Build started 05.08.2018

[2018-08-05 15:01] peterjc123 commented on #10242
The build tools for v141 (Platform Toolset = 'v 141') cannot be found.
Just install it and try again.

[2018-08-05 15:03] cbogdanmihai commented on #10242
They are installed :) just checked

[2018-08-05 15:09] peterjc123 commented on #10242
I see. Then you are probably using the wrong msbuild. Let's skip this and use ninja instead. Try these:
[code]

[2018-08-05 15:30] cbogdanmihai commented on #10242
With ninja i have the following error:

[413/692] Linking CXX shared library bin\caffe2.dll
FAILED: bin/caffe2.dll lib/caffe2.lib
cmd.exe /C "cd . && "C:\Program Files\CMake\bin\cmake.exe" -E vs_link_dll --intdir=caffe2\CMakeFiles\caffe2.dir --manifests  -- C:\PROGRA~2\MICROS~1.0\VC\bin\amd64\link.exe /nologo @CMakeFiles\caffe2.rsp  /out:bin\caffe2.dll /implib:lib\caffe2.lib /pdb:bin\caffe2.pdb /d

[2018-08-05 15:32] peterjc123 commented on #10242
You'll need this patch: https://download.microsoft.com/download/8/1/d/81dbe6bb-ed92-411a-bef5-3a75ff972c6a/vc14-kb4020481.exe

[2018-08-05 15:42] cbogdanmihai commented on #10242
Seems it is now compiling. Thanks!

[2018-08-05 15:47] keunwoochoi commented on #3775
Is there any news on this issue? I'm interested in implementing STFT (and perhaps iSTFT) in pytorch too.

[2018-08-05 15:54] #10242 closed

[2018-08-05 15:56] SsnL commented on #10243
Just want to point out that the initialization schemes are documented by @vishwakftw at https://github.com/pytorch/pytorch/pull/9038 . Thanks @vishwakftw !

[2018-08-05 15:56] soumith commented on #10140
@hagerrady13 that's suspicious. Do you see the memory of the process increasing over time? maybe that can explain the slowdown

[2018-08-05 16:01] SsnL commented on #3775
Hi @keunwoochoi , stft is already in. I just need to add the unchecked methods.

[2018-08-05 17:25] ezyang commented on #10234
CC @pjh5

[2018-08-05 18:27] Balandat commented on #9332
@vishwakftw, no sure I completely follow (I'm not familiar with the `at::Generator` objects).

1. Do you suggest doing al the looping etc. that's done in the C-code in python? That would be inadmissibly slow (that's why this was moved to cython). In general, performance in generating these Sobol samples is critical, since it would be used to do things like quasi-Monte-Carlo integration, for which

[2018-08-05 20:13] lianglia-apollo commented on #10215
Thanks. I was building from the most recent master (just several hours before I posted the issue).

[2018-08-05 21:29] vishwakftw commented on #9332
Thank you, @Balandat. Actually, I think I should be able to circumvent the problem with `at::Generator` and porting to C++ won’t be an issue. The reason I thought it was required is because of the `randint` in the CPython implementation.

I just wanted to confirm how you would have liked the implementation to be, hence the question.

[2018-08-05 22:02] zou3519 commented on #10032
Yes the slowdown was due to memory leak

[2018-08-05 22:02] #10032 closed

[2018-08-05 23:28] apaszke commented on #10237
It's hard to argue what should variance be for a vector of infinities, but we never really committed to keeping 100% parity between backends. They have different performance characteristics, and so often use different algorithms, which might have subtly different numerical properties (especially in weird edge cases like this one). I'd say this is of low priority.

[2018-08-06 00:54] SsnL commented on #10237
@apaszke the issue is about max, not variance. (The object is named “var” probably to mean “variable”). I think we should fix this soon.

[2018-08-06 01:07] apaszke commented on #10096
Me, @zdevito and @colesbury discussed that when merging the `TensorIterator` PR, and decided to settle for a temporary regression in the fuser to unblock it. I don't think we should insert unnecessary expands if the nodes won't get fused anyway, because that's just adding extra work, so I'd go with option 2.

[2018-08-06 01:34] apaszke commented on #10237
Oh ofc, my bad. We probably just initialize the `max` with the smallest non-inf value on CUDA.

[2018-08-06 01:42] peterjc123 commented on #10206
@ezyang @soumith It seems the PR is merged, can we close this issue?

[2018-08-06 02:31] soumith commented on #10206
closed via #10233

[2018-08-06 02:31] #10206 closed

[2018-08-06 02:46] XiongChengxin commented on #9761
I modify my 3D data to 2D now, but I am comfused about how to use stride and padding in convtranspose, the API said "Note that other parameters, such as the stride and kernel size, or the pads’ sizes in each direction are not necessary for input because they are provided by the ConvTransposeUnpoolOpBase operator", I found the 'ConvTransposeUnpoolOpBase operator' but still have no idea how to use s

[2018-08-06 03:01] Mabinogiysk commented on #9127
I found this error has a serious effect on my training. I got garbled in labels.
Some useful information:
https://github.com/pytorch/pytorch/issues/1551
https://discuss.pytorch.org/t/using-torch-tensor-over-multiprocessing-queue-process-fails/2847/6

[2018-08-06 03:05] Kongsea commented on #1708
I have a question.
For example, if my input is (64, 128, 7, 7), then if using depthwise convolution, it will be: nn.Conv2d(128, 256, 3, groups=256).
However, in this situation, there will be 256 different kernels. But if I want this 256 kernels to be a some one kernel (i.e., sharing kernel weights). How to set the parameters in this situation?
Thank you.

[2018-08-06 03:08] yangky11 commented on #9996
@ezyang I guess it's because of some version mismatches.
[code]

[2018-08-06 03:26] bowen-xiao96 opened #10248 "torch.mean produces wrong computation result on Windows"
## Issue description

PyTorch 0.4.0 torch.mean produces wrong result

## Code example

This happens when trying to calculate the mean pixel value of CIFAR10 dataset.
Following is the code:
[code]
It produces `tensor([ 0.3277,  0.3277,  0.3277])`

If we replace the last few lines with numpy calculation

[code]

The result is `[0.49139968 0.48215827 0.44653124]`, which is correct, while the computat

[2018-08-06 03:36] CoinCheung opened #10249 "pytorch does not compatible with caffe2"
## Issue description

I seem not able to import torch together with caffe2 in the same process.

## Code example

[code]
or
[code]

## System Info
Collecting environment information...
PyTorch version: 0.5.0a0+08daed4
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: Ubuntu 16.04.4 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.10) 5.4.0 20160609
CMake version: version 3.5.1

Python versi

[2018-08-06 03:37] SsnL commented on #10249
what's the error message?

[2018-08-06 04:14] CoinCheung commented on #10249
[code]
or
[code]

[2018-08-06 04:25] #9232 closed

[2018-08-06 04:42] JimLee1996 commented on #7079
Can't reproduce on `0.4.1`. Fixed. Thank you.

[2018-08-06 05:10] sairampillai commented on #9621
@SsnL @zou3519  The issue has been fixed in PyTorch 0.4.1. Thank you.

[2018-08-06 05:10] #9621 closed

[2018-08-06 05:11] tensorbuffer opened #10252 "[feature request] Support ATen:expand() operator for ONNX export"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description
Exporting pytorch to onnx model that contains aten::expand() operator fails

Provide a short descrip

[2018-08-06 05:46] jiapei100 commented on #9235
@achalshah20 @pjh5

I still haven't solved the issue yet.... Waiting for the solution... Any progress?????

[2018-08-06 05:48] vadimkantorov opened #10253 "[docs] Mention inline CUDA extensions in docs"
It would be nice to mention `load_inline` (https://github.com/pytorch/pytorch/pull/7059) in the tutorial
 https://pytorch.org/tutorials/advanced/cpp_extension.html

A practical use-case for an example may be a bilateral filter from https://github.com/NVIDIA/FastPhotoStyle/blob/master/smooth_filter.py (currentlly uses CuPY and pynvrtc).

[2018-08-06 06:02] Kongsea commented on #10249
The same error as you.

[2018-08-06 06:17] peterjc123 commented on #10248
@bowen-xiao96 Yes, I can reproduce this issue and I can get the same result on a Linux box.

[2018-08-06 07:57] pascal1129 opened #10254 "I don't knw whether GPU support is right, there are 3 HypothesisDeprecationWarning"
## Issue description
I install Caffe2 based on the website:
https://caffe2.ai/docs/getting-started.html?platform=ubuntu&configuration=compile

When command 'sudo make install -j20' is finished,  i type:
cd ~ && python -c 'from caffe2.python import core' 2>/dev/null && echo "Success" || echo "Failure"

Then, the result is 'Sucess'.

After that, i want to know whether GPU support is right ,i type co

[2018-08-06 08:39] richielo opened #10255 "CUDA error: out of memory - huge embedding layer"
I am working on a CNN autoencoder for text with an architecture and loss function like this:
![screen shot 2018-08-06 at 4 32 25 pm](https://user-images.githubusercontent.com/13329406/43705909-763d9628-9996-11e8-8a57-b8165369fe95.png)

    def computeCrossEntropy(log_prob, target):
        loss = [F.nll_loss(sentence_emb_matrix, word_ids, size_average=False) for sentence_emb_matrix, word_ids in zi

[2018-08-06 08:47] wandering007 commented on #1708
@Kongsea

[code]

[2018-08-06 08:48] robpal1990 opened #10256 "[Caffe 2] How to access/remove Blobs from Workspace?"
I'm using the Python version of Caffe2 (inside the docker image caffe2/caffe2:snapshot-py2-cuda9.0-cudnn7-ubuntu16.04).

I loaded a pre-trained ResNet50 from models into Workspace and I would like to re-train it on my own dataset.
In order to do that, I need to remove/modify some layers -- how do I do it via Python API? I'm not interested in the FetchBlob() method which returns a numpy array, I'd

[2018-08-06 09:28] hcx1231 commented on #10249
I also have the same error as you

[2018-08-06 12:26] pascal1129 commented on #10007
[Caffe2] I don't knw whether GPU support is right, there are 3 HypothesisDeprecationWarning · Issue #10254 · pytorch/pytorch
https://github.com/pytorch/pytorch/issues/10254

Do i have the same problem?

My hypothesis version is 3.66.26

What should i do now?

[2018-08-06 12:44] pascal1129 commented on #10254
Same problem?

https://github.com/pytorch/pytorch/issues/10007

[2018-08-06 13:10] lzcn commented on #10234
Have you build caffe2 from source and add the lib python to `LD_LIBRARY_PATH`?

Remove the lib python of your own build caffe2 in `LD_LIBRARY_PATH` may help.

e.g. do not add
`export LD_LIBRARY_PATH=~/caffe2/build/lib:$LD_LIBRARY_PATH`

PS. I recommend not do add any extra path in $LD_LIBRARY_PATH, add manually when you need.

[2018-08-06 13:15] hagerrady13 commented on #10140
@apaszke Is [this ](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/Context.cpp) what you are talking about? How do I use it to be enabled on a CPU?

[2018-08-06 13:55] vadimkantorov commented on #10140
@hagerrady13 For enabling flushing denormalized values that slow down CPU, you may check out https://pytorch.org/docs/stable/torch.html?highlight=set_flush#torch.set_flush_denormal

[2018-08-06 14:10] RohitKeshari commented on #10248
@soumith any idea why it is happening. I can also reproduce this issue on ubuntu16.04 with PyTorch version '0.4.0'

[2018-08-06 15:26] themightyoarfish opened #10258 "Minor sphinx issue"
https://github.com/pytorch/pytorch/blob/7be071a829f5bbaa643ccacdd20b1508f78a2d78/torch/_torch_docs.py#L5893

For some reason, sphinx does not correctly render directives such as
[code]
where `<stuff>` is not preceded by a space. This causes the code to be rendered verbatim.

[2018-08-06 15:29] weiyangfb commented on #9301
closing because it should be fixed in https://github.com/pytorch/pytorch/pull/9965

[2018-08-06 15:29] #9301 closed

[2018-08-06 16:18] soumith commented on #10255
thanks for your issue.
Please post it on our forums, where questions have to be asked (github is for bug reports and feature requests).
The forums are at https://discuss.pytorch.org

[2018-08-06 16:18] #10255 closed

[2018-08-06 17:00] achalshah20 commented on #9235
No. It still doesn't work for me with gcc 7. Temporary I am using gcc-6 until it is fixed

[2018-08-06 17:26] elanmart commented on #10188
Thanks Soumith, sorry for the trouble! It was indeed an old `libcaffe2` messing things up.
Thanks a lot.

[2018-08-06 17:26] #10188 closed

[2018-08-06 17:28] soumith commented on #10248
I have tried to reproduce this on Linux and on OSX, I cannot reproduce the issue.

here are outputs:

Linux:
[code]

OSX:

[code]

[2018-08-06 17:29] zou3519 commented on #10120
Are you on 0.4.1?

[2018-08-06 17:34] vadimkantorov commented on #10140
@somith @apaszke Cuda compiler can also accept `-ftz=true`, but it seems no way to enable it at runtime :(

[2018-08-06 17:46] SsnL commented on #10116
When dropout > 0, we have to save the mask for backward, and hence use more memory. So you probably were right on the edge before using dropout. This is expected.

[2018-08-06 17:46] #10116 closed

[2018-08-06 17:48] #10034 closed

[2018-08-06 17:50] SsnL commented on #9326
@marii-moe Thanks for providing the results! I think this is indeed due to algorithmic and precision differences.

[2018-08-06 17:50] #9326 closed

[2018-08-06 17:51] soumith commented on #6912
we made tensor printing less ugly in #7632 and a few other PRs. hope you are satisfied :)

[2018-08-06 17:51] soumith commented on #7281
We haven't heard back from you in a while, please feel free to open once you give us a code sample.

[2018-08-06 17:51] #7281 closed

[2018-08-06 18:01] jerryzh168 commented on #9761
What is the error message right now?

[2018-08-06 19:08] bowen-xiao96 commented on #10248
@soumith problem seems to be specific to version 0.4.0. After I upgrade pytorch to 0.4.1 on Windows, the issue disappeared.

[2018-08-06 19:38] aywi commented on #10248
@bowen-xiao96 @peterjc123 @soumith @zou3519 This problem seems to be specific to CPU version of PyTorch 0.4.0. I can reproduce it on Windows 10 + PyTorch 0.4.0 using Bowen's code. But when I added `.cuda()` to the `data`, this problem disappeared. I guessed there are some floating-point numerical issues in the CPU version of C library, just like #8710 #9286. Not sure whether current version solved

[2018-08-06 19:41] lianglia-apollo commented on #10215
@mikaelfs Should I follow the instruction at "https://github.com/pytorch/pytorch#from-source" or your article to install caffe2? Thanks!

[2018-08-06 19:51] SsnL opened #10270 "segfault when ceil(cpu_tensor, out=cuda_tensor)"
[code]

[2018-08-06 20:56] SsnL opened #10276 "threshold(x, 0, 0) consistently faster than relu(x)"
In `CUDA_LAUNCH_BLOCKING=1 ipython`,
[code]

[2018-08-06 21:12] soumith commented on #10248
Okay it looks like we fixed it between 0.4.0 and 0.4.1. I think I remember the PRs that fixed this.

[2018-08-06 21:12] #10248 closed

[2018-08-06 21:32] soumith commented on #10182
Some of the core devs discussed this today. We dont think this feature request will go in. Here is the reasoning:

- adding `torch.cat(tensor, dim)` seems prime to silent bugs, where the user forgets to pass the list of tensors and adds a Tensor.
- the cleaner workound `torch.cat(tuple(tensors), dim=dim)` is concise enough, and captures the operation much more explicitly

[2018-08-06 21:32] #10182 closed

[2018-08-06 21:44] ailzhang commented on #10158
@mjc14 Could you also try mpi3.0.0? I cannot repro it on 3.0.0 version.
I'm installing 3.1.1, will confirm if I can repro it or not.

[2018-08-06 21:48] SsnL commented on #8465
@whiteboy1999 Upgrade to 0.4.1 should solve it

[2018-08-06 22:03] mobiusinversion commented on #6570
@sm-jalali-f Just use TensorFlow, its easy:

In Python:

        builder = tf.saved_model.builder.SavedModelBuilder(path)
        builder.add_meta_graph_and_variables(sess, [tf.saved_model.tag_constants.SERVING])
        builder.save(False)

In Java:

        SavedModelBundle.load(path, "serve").session();

@soumith @goldsborough

[2018-08-06 22:39] mikaelfs commented on #10215
The installation steps in the article were adapted from original Caffe2 build instructions since I had built it pre and post Pytorch merging. I didn't build with Anaconda though. I can access the build environment today and confirm the validity of the instruction.

[2018-08-06 23:36] ezyang commented on #9092
@peterjc123 Do you remember how many symbols the build had after the fix?

[2018-08-07 01:01] feynmanliang opened #10288 "Cannot link against CUDA-aware MPI due to Anaconda's MPI library taking precedence"
## Issue description

After compiling a CUDA-aware OpenMPI from source, I tried to build with MPI+CUDA support within Anaconda. However, the Anaconda MPI library was taking precedence and `FindPackage` wasn't able to resolve the MPI library I wanted. It would be useful if we could override the `MPI_CXX_COMPILER` option to CMake to force building against a particular MPI library when multiple are a

[2018-08-07 01:19] ailzhang commented on #9934
What's the expected behavior should be here?

[2018-08-07 01:24] ailzhang commented on #9981
@elanmart Yes I think your suggestion should work. Feel free to submit a PR for it!

[2018-08-07 01:58] weiyangfb commented on #9779
The error message looks fine with 0.4.0+ API:
[code]

And we are planning deprecating torch.Tensor: https://github.com/pytorch/pytorch/issues/7900

[2018-08-07 01:58] irishev opened #10290 "FP16 Grouped convolution is too slow on Titan V"
I tested a ResNeXt29_8x64d model (CIFAR-10) and found iteration on a convolution modulelist is always much faster than grouped convolution. It seems grouped convolution doesn't utilize the tensor core.

### Code of grouped convolution

[code]

### Code of modulelist iteration
[code]

### Result

Grouped convolution

[loss : 1.78515625]: 391/391 [03:38<00:00]
[loss : 1.599609375]: 391/391 [03:29<00

[2018-08-07 02:08] ailzhang commented on #10229
I can repro a similar perf with cuda9.0 cudnn7.0.
I profiled both pytorch and mxnet on a single input(in_channel-1024, size=19, batch=1, kernel_size=3, padding=1). outchannel=64, group=1
For Pytorch, we have 92% compute spent on maxwell_scudnn_winograd_128*128_ldg1_ldg4_tile148n_nt, with 773 invocations and avg duration of 256us.
For mxnet, we have 22.4% compute spent on maxwell_cgemm_32*64_tn.
In

[2018-08-07 02:17] hadim commented on #6570
I am not sure this is the good place to troll about TF/PyTorch... (I am a TF user myself).

[2018-08-07 02:40] bowen-xiao96 commented on #10248
@soumith Thank you very much.

[2018-08-07 03:55] peterjc123 commented on #9092
@ezyang The number decreased to 4958 and 3321 for `caffe2.dll` and `caffe2_gpu.dll`.

[2018-08-07 06:11] ngimel commented on #10229
@ailzhang for your convolution in pytorch on P100 I see
[code]
1001 invocations of a kernel, which is to be expected for 1000 convolutions run in a loop + warm up
I could not profile mxnet with the given script, it errored out, and the profiles that it did produce never had 1000 invocations of the same kernel (which is to be expected if the timing loop did run correctly), so I would not trust mxne

[2018-08-07 06:13] JiangWenPL opened #10292 "[feature request] Matrix rank"
## Issue description

I want to have function looks like `torch.matrix_rank()` that is similar to `np.linalg.matrix_rank()`

[2018-08-07 08:36] VanDavv commented on #10070
@ShayWeissman I think I managed to fix this issue by adding `rb` flag when opening the file
[code]

With this, the error does not occur

[2018-08-07 08:40] hagerrady13 commented on #10140
Yes @vadimkantorov , [that](https://pytorch.org/docs/stable/torch.html?highlight=set_flush#torch.set_flush_denormal) was the solution!!
I enabled "set_flush_denorm" in case of CPU and now different checkpoints have the same inference time. Many thanks!

[2018-08-07 08:59] zsk423200 opened #10294 "how to setting the protoc: tcpip and rdma"
when install from source, and set USE_GLOO_IBVERBS=1, it support ib and tcp when transportation, so how to choose one of them

[2018-08-07 09:04] zsk423200 opened #10295 "Error:Read timeout when start pytorch"
i change my presentation:

install from source:
`python setup.py install`
and use gloo, get the error:
`[/home/zhoushengkai/code/pytorch_v0.4.1/third_party/gloo/gloo/transport/ibverbs/buffer.cc:108] Read timeout LID: 5 QPN: 27156 PSN: 14966066`

but install from binaries, and also use gloo, is ok.
i print info, and show it has block at broadcast (waitRecv)when start pytorch

today, i reinstall wit

[2018-08-07 11:32] #10140 closed

[2018-08-07 12:38] domaala opened #10298 "[feature request] Runtime warning for inappropriate labels (among others)"
While you can get an exception when passing integers where floats are required, I believe there are no checks that actually make sure that you are using the expected **values** within your tensors. In turn, this makes tracking problems in your models a bit more challenging.

For instance, when using [`nn.CosineEmbeddingLoss`](https://pytorch.org/docs/stable/nn.html#torch.nn.CosineEmbeddingLoss), t

[2018-08-07 13:31] vishwakftw commented on #10292
@SsnL Is this worth adding to ATen ?

[2018-08-07 14:13] Pratyeka commented on #7318
I have the same issue in Window7 PyCharm2018, Win10 PyCharm2018, Win10 VS2017, Win10 Spyder.
and i try to use pytorch0.4.0 and pytorch0.4.1, both cannot auto-complete.
only ipython shows auto-complete properly.
please help me

[2018-08-07 14:22] ezyang opened #10299 "Hard-coded rpaths on OSX build can lead to hard to debug hysteresis problems"
When #9836 was merged, it passed CI, both in PR and on master. A few hours later, all builds started failing (though somewhat intermittently). This PR was initially ruled out as cause of the outage, because it didn't fail on master. But it in fact was the root cause.

The problem is that the new codepath incorrectly relied on build products existing from *a different* build workspace, unrelated to

[2018-08-07 14:26] prashantserai opened #10300 "Disabling MPI fails, unable to build on Centos7"
## Issue description
Hi! I'm building PyTorch from Source. I did a Git pull of the repo, and the CMake would complain about MPI not available (error message below).
I also tried to disable use of CAFFE2, MPI, and NUMA, but it still looks for MPI (and tries to build Caffe2..!!!)

##Code Example
cd ~/pytorch/centos7/;
make clean;
BUILD_CAFFE2=false;USE_MPI=false;USE_NUMA=false;
python setup.py insta

[2018-08-07 14:41] ailzhang commented on #6622
The doc has already been updated. https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/loss.py#L312
Going to remove the `documentation` label and label it as a bug to fix in 1.0 release.

[2018-08-07 14:47] sidnav opened #10302 "fe2"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

Provide a short description.

## Code example

Please try to provide a minimal example to repro the

[2018-08-07 14:56] Ai-is-light opened #10303 "cuda runtime error(59): device-side assert when running torch.topk"
The code and dataset were the same as before, but I got the following error. However they could work well about a half mouth ago.
the pytorch's version is 0.3.1, BUT I find the version 0.4.0 also meeting with the same error
raceback (most recent call last):
File "main.py", line 341, in
main()
File "main.py", line 141, in main
train(train_loader, model, criterion, optimizer, epoch)
File "main.py",

[2018-08-07 15:00] ezyang opened #10304 "flat_hash_map causes ICE on Windows"
Re https://github.com/pytorch/pytorch/pull/10263#issuecomment-410843393

CC @smessmer

[2018-08-07 15:30] #10302 closed

[2018-08-07 15:46] JiamingSuen commented on #8483
I want to follow up on this issue. The commit mentioned earlier 4caea64 makes a lot of user defined cpp/cuda extension broken on `0.4.1`, examples include `roi_align` in `Detectron.pytorch`, `correlation` in [flownet2-pytorch](https://github.com/NVIDIA/flownet2-pytorch/) and many more.

I think a tutorial or at least detailed comment can be provided illustrating how to migrate these ops into the n

[2018-08-07 15:54] zou3519 opened #10307 "[docs] document torch.digamma"

[2018-08-07 16:35] ezyang opened #10312 "scripts/onnx/install-develop.sh and install.sh are out of date"
They build and install PyTorch and Caffe2 separately. It should use the integrated build with `FULL_CAFFE2` instead.

[2018-08-07 16:46] soumith commented on #10300
USE_MPI is not well defined for `python setup.py install`.

Here's what you need:

`USE_DISTRIBUTED=0 python setup.py install`

[2018-08-07 16:46] #10300 closed

[2018-08-07 16:59] #10160 closed

[2018-08-07 17:04] CarlosYeverino opened #10314 "[Caffe2] ConvPoolOpBase operator"
Hello all,

can you please provide an example showing **how to set the ConvPoolOpBase operator** (which provides the stride and kernel size, or the pads' sizes in each direction) to be able to use the MaxPool and Conv operators for network modelling? It would be nice to have a reference for it since I haven't found any example.

I am interested in **modelling networks** using **only operators** an

[2018-08-07 18:00] vadimkantorov commented on #10043
Also, for work with Laplacians and sparse stochastic matrices, computing row sums is useful. Currently:
[code]

[2018-08-07 18:17] ailzhang commented on #10229
Hi @ngimel , thanks for confirming. Yea I also saw mxnet error out with some arguments. I just picked one that worked fine and did the profiling.

Here is my script just in case it helps. I'm taking a look at mxnet implementation to see if they have any customized kernel for `groups != input_channels`, since in those cases mxnet is much faster.
[code]

[2018-08-07 18:25] #9998 closed

[2018-08-07 18:25] #9914 closed

[2018-08-07 18:27] ngimel commented on #10229
mxnet may be faster, but this script is not timing it properly (there are no necessary synchronizations, even with CUDA_LAUNCH_BLOCKING=1 it is not calling *any* convolution kernel for a thousand times, which it should), so we have no idea what mxnet's actual performance is.

[2018-08-07 18:54] ezyang opened #10322 "RecurrentNetworkParallelTest.test_equiv_recurrent intermittently fails"
[code]

Sample log: https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-mkl-ubuntu16.04-test/11362//console

cc @ezyang @gchanan @zou3519 @jerryzh168

[2018-08-07 20:00] ailzhang commented on #10229
Talked to @ngimel offline, the perf diff should be a false alarm that mxnet didn't really run the conv  kernels with the script above.

For a single shape, if you print the output tensor, that actually enforce mxnet to run 1000 invocations of `maxwell_scudnn_winograd_128x128_ldg1_ldg4_tile148n_nt` as well, with a similar avg. duration.

I'm not very familiar with mxnet syntax, adding sth like `tor

[2018-08-07 20:03] shawnjhenry opened #10324 "[Feature Request] Inverse Hyperbolic Functions"
Hi,

As far as I can tell, PyTorch doesn't have inverses implemented for hyperbolic functions.  These are useful, e.g., for operations on hyperbolic space.  (A notable example being that the distance function on the hyperboloid model of hyperbolic space uses the inverse hyperbolic cosine.)  It's not that hard to implement these functions by hand, but inconvenient.

Thanks,
Shawn

cc @VitalyFedyuni

[2018-08-07 20:26] YuJiang01 commented on #1551
Also get this error. Is there a way to avoid it?

[2018-08-07 21:01] ezyang opened #10326 "Windows builds with CUDA 9.2"
CC @yf225 @peterjc123

We don't currently install CUDA 9.2 on our Windows AMIs, so that is the first thing that would need to be done.

[2018-08-07 21:12] ezyang opened #10329 "at::optional does not work on nvcc Windows (CUDA 9.1)"
Upstream issue at https://github.com/akrzemi1/Optional/issues/58

Possible resolutions:

- I've tested that a trivial program using https://github.com/martinmoene/optional-lite DOES compile successfully on Windows. Maybe we can switch to it.
- @ngimel suggested maybe CUDA 9.2 fixes the problem. I haven't been able to test this yet.

[2018-08-07 21:25] yf225 commented on #10326
There are some issues with the Jenkins client when we create a new AMI (it doesn't connect to Jenkins master). I will try to figure it out.

[2018-08-07 21:49] kausic94 commented on #499
@1zb
I try this, but it say that required arguement bias is missing despite it being present. Do you know what the problem could be?

[code]

[2018-08-07 21:54] zou3519 commented on #10303
Looks like topk is failing? Could you please post a minimal reproducible example as well as let us know what pytorch version you're using? We fixed a few topk bugs recently.

[2018-08-08 01:38] vishwakftw commented on #10292
I had an implementation ready before I asked you this, so just wanted to confirm if I could send it in.

[2018-08-08 02:23] Ai-is-light opened #10339 "what(): cuda runtime error (59) : device-side assert triggered at /pytorch/torch/lib/THC/generic/THCStorage.c:184"
The code and dataset were the same as before, but I got the following error. However they could work well about a half mouth ago.
the pytorch's version is 0.3.1
raceback (most recent call last):
File "main.py", line 341, in
main()
File "main.py", line 141, in main
train(train_loader, model, criterion, optimizer, epoch)
File "main.py", line 192, in train
prec1, prec5 = accuracy(output.data, target,

[2018-08-08 03:01] lianglia-apollo opened #10341 "[Caffe2] Which document should we follow to install caffe2?"
There are at least TWO "official" documents for caffe2:
(1) https://github.com/pytorch/pytorch#from-source
(2) https://caffe2.ai/docs/getting-started.html?platform=ubuntu&configuration=compile

Which one should we follow?
As we noticed that there are lots of questions in building caffe2, it would be nice if there is an "official" way to do it other than multiple documents that are different from e

[2018-08-08 03:15] Ai-is-light commented on #10303
@zou3519 Thanks! Looking forward to your any replies.
The code and dataset were the same as before, but I got the following error. However they could work well about a half mouth ago.
the pytorch's version is 0.3.1, BUT I find the version 0.4.0 also meeting with the same error
raceback (most recent call last):
File "main.py", line 341, in
main()
File "main.py", line 141, in main
train(train_loader

[2018-08-08 03:29] breadbread1984 opened #10342 "[Caffe2] which kind of database can I read from caffe2"
I know caffe2 support lmdb, leveldb, hdf5. But after I move to the pytorch built by anaconda's channel caffe2, I find all these features are turned off when compiling. Now I can't use Save, Load, CreateDB operators with the database formats I am familiar with.

I don't want build pytorch myself. that is too brutal to get these features. I just want to know which kind of database format is supporte

[2018-08-08 04:46] 1f9763 commented on #10155
i met it too

[2018-08-08 06:35] CoinCheung commented on #10249
This problem seems to be brought by importing concurrently caffe2 and the latest pytorch of v0.5xxx. I install back pytorch v0.4 and this problem is solved.

[2018-08-08 06:54] rahul003 opened #10344 "Segmentation fault while training"
## Issue description

Training crashes with segmentation fault at random points. When I restart the job from the saved checkpoint, doesn't crash at least for some time.
Here's the stacktrace.
[code]

## Code example
I'm running this example of Horovod Resnet50 Imagenet: https://github.com/uber/horovod/blob/master/examples/pytorch_imagenet_resnet50.py

## System Info
[code]

[2018-08-08 06:59] Taha-Bahadori opened #10345 "Potential Bug in torch.symeig()"
## Issue description
The eigenvectors produced by `torch.symeig()` are not always orthonormal.

## Code example
[code]

Here is the result:
[code]

## System Info
PyTorch version: 0.4.1
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: Ubuntu 14.04.5 LTS
GCC version: (Ubuntu 4.8.4-2ubuntu1~14.04.4) 4.8.4
CMake version: version 3.11.1

Python version: 2.7
Is CUDA available: Yes
CUDA runti

[2018-08-08 07:36] ProfFan commented on #8483
@JiamingSuen The world is small LOL

Struggling to get flownet2-pytorch built

[2018-08-08 08:44] nitinmeharia commented on #8712
Refer: xtannier's answer on https://github.com/pytorch/pytorch/issues/9129

[2018-08-08 08:52] morningmorningwind opened #10346 "no += method for torch.tanh"
if we run something like

y = y0
y += torch.tanh(x)

where y0, x are Tensors

I would throw the following error:

_RuntimeError: one of the variables needed for gradient computation has been modified by an inplace operation_

My guess is that this "+=" operation is not properly defined in torch.tanh
because when I change the syntax to y = y+ torch.tanh(x), everything works correctly.

My pytorch v

[2018-08-08 09:01] albanD commented on #10346
Hi,

Please use the [forum](https://discuss.pytorch.org/) to ask questions.

The problem is that if y's value is needed by some operation to compute the backward pass, then you will see this error if you try to modify it inplace. And `+=` is doing an inplace change.

[2018-08-08 09:02] #10346 closed

[2018-08-08 09:45] zsk423200 opened #10347 "version:branch 0.4.1"
i git clone branch0.4.1,
`git clone --recursive -b v0.4.1 https://github.com/pytorch/pytorch.git`
and install from source, after install, use python print pytorch version, is
`>>> torch.__version__ `
0.5.0a0+a24163a
and i find version in setup.py, is also 0.5.0a0, but i install from Binaries, print info is 0.4.1.
why??

[2018-08-08 10:05] ZCzhan commented on #9440
@peterjc123 I'm on a corporate network.  I'm still having import torch issue.

I followed the advices on the forum - installed pytorch using pip3 (also tried conda installs), updated PATH. But have the following errors:
E:>python
Python 3.6.6 (v3.6.6:4cf1f54eb7, Jun 27 2018, 03:37:03) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

impor

[2018-08-08 11:18] vinaykumar2491 commented on #3775
Hi @SsnL How can we use `torch.stft` on CUDA. I don't see any `device` parameter in `torch.stft()`

[2018-08-08 11:42] vishwakftw commented on #10347
Duplicate of https://github.com/pytorch/pytorch/issues/9926 .

[2018-08-08 11:43] benjamin-work opened #10348 "Possible memory leak when exceptions are raised"
## Issue description

There seems to be a memory leak when exceptions are raised (and captured) during the training process. This could be caused by references within the exception's traceback that are not properly garbage collected.

## Code example

See: https://gist.github.com/benjamin-work/d27f8e5d61853a0983a7e640ed09f9c8

This code generates the following output:

[code]

## System Info

PyTo

[2018-08-08 12:00] ZCzhan commented on #9440
Many thanks.  I read that post.  I believe all the dlls are accessible.  The issue seems that torch._C is trying to create some file or write to some section of the memory.  However, I’m not sure, but have a suspicion that GPO policy might be to blame.  I could not simply disable it as my company does not allow it.

Thanks anyway.

Zhan

From: peterjc123 [mailto:notifications@github.com]
Sent: 08

[2018-08-08 12:50] shaibagon opened #10349 "[feature request] consistent default values for leaky_relu"
Working with leaky ReLU I found out that the default value for `negative_slope` is different if you use `nn.LeakyReLU` (default is [0.02][1]) or `nn.functional.leaky_relu` (default is [0.01][2]).

Is it okay to ask to set the default `negative_slope` to the same value in both places?

Thanks!

 [1]: https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/activation.py#L504
 [2]: https://gi

[2018-08-08 13:04] t-vi commented on #10345
As commented on the forums, I think the main thing going on here is that symeig is called without `eigenvectors=True` and returns funny stuff. Maybe we should add a Python wrapper returning just the eigenvalues in the eigenvectors=False case.

[2018-08-08 13:12] Taha-Bahadori commented on #10345
@t-vi: Thank you for clarification.  I confirm that with `eigenvectors=True` the results are correct.  As a result, this bug report is a minor issue.

[2018-08-08 13:13] prashantserai opened #10350 "Disabling DISTRIBUTED fails, unable to build on Centos7"
## Issue description

Hi! I'm building PyTorch from Source. I did a Git pull of the repo, and the CMake would complain about MPI not available (error message below).

At first, [#10300](https://github.com/pytorch/pytorch/issues/10300),  I tried  "BUILD_CAFFE2=false;USE_MPI=false;USE_NUMA=false;" but to no avail.

On @soumith 's suggestion, I also tried USE_DISTRIBUTED=0, but again the same error p

[2018-08-08 13:41] t-vi commented on #10276
So the fundamental reason is that `clamp_out` is implemented using [`copy_` + `clamp_`](https://github.com/pytorch/pytorch/blob/0d03219a421310c2c8c0f287284e27e31ee74562/aten/src/ATen/native/cuda/CUDAUnaryOps.cpp#L17), when the [original THC clamp](https://github.com/pytorch/pytorch/blob/0d03219a421310c2c8c0f287284e27e31ee74562/aten/src/THC/generic/THCTensorMathPointwise.cu#L92) used to just copy w

[2018-08-08 13:45] #9383 closed

[2018-08-08 13:58] alexholdenmiller opened #10351 "narrow tensor to zero elements fails with misleading error message"
Hi all,

I expected narrowing a tensor to length zero to give me an empty tensor, but instead it gave an error that the target size exceeded the size of the tensor (at least this error message isn't exactly right, even if an error is the expected behavior).

[code]

Thanks!

[2018-08-08 15:01] benjamin-work commented on #10348
It seems that the issue is not connected to PyTorch after all

https://gist.github.com/benjamin-work/9cd434e63b1e215989098fee44a2d6ce

Closing this

[2018-08-08 15:01] #10348 closed

[2018-08-08 15:25] Wangbicong commented on #3025
I think this interface is very useful.
So I hope it can be added as soon as possible.

[2018-08-08 15:35] t-vi commented on #10270
CUDAUnaryOps.cpp needs a few checkSameGPU.
As the #10352 touches that anyway, I'll add that there.

[2018-08-08 15:39] huanghoujing opened #10353 "ATen Core Headers Were Installed to ATen/core/core/*.h instead of ATen/core/*.h"
## Issue Description

I git clone pytorch to `$PYTORCH_HOME`, and installed it using cmake to directory `$PYTORCH_HOME/build/install`. The ATen core headers were installed to `$PYTORCH_HOME/build/install/include/ATen/core/core/*.h` instead of `$PYTORCH_HOME/build/install/include/ATen/core/*.h` (**I think this is abnormal, because compiling custom operators requires `<ATen/core/*.h>`. See below.**)

[2018-08-08 15:58] t-vi commented on #10270
Hmhm. This is the wrong way around. The segfault actually is in the CPU version.

[2018-08-08 18:35] Balandat opened #10355 "Missing documentation for torch.allclose"
`torch.allclose` is quite useful for cutting down on boilerplate code - however, the function is currently not documented, which makes its behavior intransparent (e.g. tolerances? can we set them). Can we add a docstring for it explaining what exactly it does?

[2018-08-08 18:43] akuz opened #10356 "ATen headers installed to a wrong location"
Just updated the source from the master, and 'make install' (on Mac) copied the ATen headers to:

/usr/local/include/ATen/core/core/

instead of

/usr/local/include/ATen/core/

[2018-08-08 18:49] bhushan23 commented on #9530
ping @fmassa

[2018-08-08 18:49] lukepfister commented on #3022
I’m having a similar problem-  audible click, complete system shutdown.

It seems that it only occurs with BatchNorm layers in place.  Does that match with your experience?

[2018-08-08 18:53] akuz commented on #10353
I got the same on Mac, already posted another bug report ;)

[2018-08-08 19:25] rahul003 commented on #10344
On a single GPU I can reproduce this consistently after about 1hr of training. Close to the end of 1st epoch.

It says CPU float tensor above, does that mean it's related to data loading, since training is on GPU.

[2018-08-08 19:51] vadimkantorov commented on #9934
I think `__array__` should not include an automatic `cpu` call, and just be equivalent to `tensor.numpy()`

[2018-08-08 20:55] davidmascharka opened #10357 "torch.bernoulli inconsistent gpu/cpu results"
## Issue description

The behavior of CUDA and CPU `sample` in the `distributions` module is inconsistent. On the CPU side, there appears to be an argument validity check, while on the GPU side, this does not appear to be implemented. [This issue](https://github.com/pytorch/pytorch/issues/5248) is somewhat related.

## Code example

[code]

## System Info

[code]

[2018-08-08 21:14] shahruk10 commented on #10234
same here, both caffe2 and pytorch built from source

[2018-08-08 22:06] root-master commented on #4090
use `sudo`

[2018-08-08 22:42] fritzo commented on #9977
Hi @SsnL and @t-vi, could you suggest any possible workarounds? This is the last remaining bug preventing Pyro from migrating to 0.4.1. I've been able to workaround other issues but this one has me stumped 🤔

[2018-08-08 22:50] SsnL commented on #9977
We will update and merge #9995

[2018-08-08 23:16] fritzo commented on #9977
Great, do you have any ETA on when #9995 would make it into a release?

[2018-08-09 01:28] mjc14 opened #10363 "RuntimeError: Function not implemented at /pytorch/torch/lib/THD/process_group/General.cpp:17"
i find some problem, the same code and same env.  some machine my code can work,but some machine have some error as follow:

    dist.init_process_group('nccl', world_size=world_size, init_method='file://shared_distributed')
  File "/home/.pyenv/versions/3.6.6/lib/python3.6/site-packages/torch/distributed/__init__.py", line 94, in init_process_group
    group_name, rank)
RuntimeError: Function not

[2018-08-09 01:50] vishwakftw commented on #10357
Distributions have a `validate_args` argument that does this for you. The default value is `False`. Could you please set it to true, and check please.

[2018-08-09 03:09] sudiptap commented on #3890
thanks apaszke.

[2018-08-09 04:00] samson-wang opened #10364 "[feature request] callback or hook when dataset iteration restarts"
In some cases, I would like to do some stuff at the beginning of each epoch.

One can implement a Sampler to explicitly call a customer dataset function before return a iterator.

However, I think a default callback/hook entry in Dataset and Dataloader is much easier and handy.

Here is what I use in practice.

In dataset base class.
[code]

In dataloader , callback when new an iterator
[code]

Th

[2018-08-09 04:14] #10270 closed

[2018-08-09 04:26] shaibagon commented on #10349
How embarrassing :

[2018-08-09 05:53] homespring commented on #7318
I have tried VS2017 and PyCharm2018.2 with pytorch0.4.1 on Windows 10 and autocompletion doesn't work for me.

[2018-08-09 05:56] vishwakftw commented on #9332
@soumith

I have a question about integrating the `SobolEngine` in Python. There are two approaches:
1. Define the key methods involved for the `SobolEngine` in ATen, and write the class in Python in the usual way:
[code]
The methods for `SobolEngine` will be taken exposed via `ATen` as done for general native functions, except for the fact that the methods exposed will be private i.e., prefixed w

[2018-08-09 06:25] SsnL commented on #10364
Hmm when to start a new DataLoaderIter is completely in the hand of users. I don't see why we should provide this.

[2018-08-09 06:46] beichen2012 opened #10367 "how to create 2 or more workspace instance in python API"
hi, I want to run the mtcnn net model, which have 3 nets(pnet, rnet, onet).
but the workspace owned the blobs ,so, how to create 2 or more workspace instance in python API?

我想使用caffe2预测mtcnn模型， 这个模型有三个网络，pnet, rnet和onet。因为网络中的参数是由workspace保管的（blobs），所以如果三个网络使用同一个workspace就会出现同名的blob参数被覆盖的情况，所以我想问一下，python中如何创建两个及以上的workspace。

[2018-08-09 07:12] beichen2012 commented on #10367
OK, I find it out:

workspace.SwitchWorkspace

[2018-08-09 07:12] #10367 closed

[2018-08-09 08:15] luhc15 commented on #10234
I installed pytorch 0.4.0, it works well.

[2018-08-09 08:45] mikaelfs commented on #10215
@lianglia-apollo i rebuilt from sources again today using the latest source codes with the same steps written in my article. the build was successful. so, if someone builds on Ubuntu 16.04 with the steps outlined in the article, there should be no problem.

the error you saw in the build might be related with external dependency (probably Qt5) and not the Caffe2 sources.

[2018-08-09 09:09] akuz commented on #10356
closing in favour of: https://github.com/pytorch/pytorch/issues/10353

[2018-08-09 09:09] #10356 closed

[2018-08-09 09:55] sebastianberns commented on #10364
You might want to check out [ignite](https://github.com/pytorch/ignite/) which provides an [event system](https://pytorch.org/ignite/concepts.html#events-and-handlers) similar to what you’re asking for (Events.EPOCH_STARTED).

[Here’re some examples](https://github.com/pytorch/ignite/tree/master/examples) to get you started.

[2018-08-09 10:27] lianglia-apollo commented on #10215
@mikaelfs Thanks. I was able to build using your instructions as a baseline, but with some changes. The gcc 5.5 will introduce an error related to the conversion of void *, and I need to use gcc 6 to build. I also found some issue with opencv, so that I am using -DUSE_OPENCV=0 for cmake.

[2018-08-09 10:37] heylfda opened #10370 "Different results when using function argmax or argmin for data type ".cuda()" and ".cpu()""
## Issue description

I got different results when using the function argmax, for the tensor like this. This tensor has shape (3, 4). **I want to get the place which the first "1" apperence.** But I got different results when using cuda tensor and cpu tensor. And I got this difference when using version 0.4.0, then I change to 0.4.1, but this difference still exists.
The input tensor:
[code]
And I

[2018-08-09 10:54] alxmopo3ov opened #10371 "Zero-dimensional tensor.tolist() returns float"
Hello!

[code]
prints
[code]

Seems like zero-dimensional tensors (i.e. scalars introduced in torch 0.4) have a bit confusing behavior of the tolist method: it returns the value itself not wrapped to list

Is it bug or expected behavior?

Thank you!

[2018-08-09 11:33] IvyGongoogle commented on #2705
as @soumith said, you can use `pip install`

[2018-08-09 12:02] beichen2012 commented on #8944
@pjh5 Acutally ,  I only have python2.7, and the other 2 nets works well, but the thired one throws: UnicodeDecodeError.

[2018-08-09 13:17] acgtyrant opened #10375 "torch.multiprocsssing.Queue.get() blocks"
## Issue description

I can not get the tensor from queue.

## Code example

[code]

I executed this code, and only get and put printed, no end. I use ctrl-c to interrupt it, I find it blocks in result = queue.get(). Any idea?

## System Info

Collecting environment information...
PyTorch version: 0.4.0a0+200fb22
Is debug build: No
CUDA used to build PyTorch: Could not collect

OS: Arch Linux
GCC

[2018-08-09 13:41] vishwakftw commented on #10357
I believe you should pass `validate_args` in the constructor of the distribution.

[2018-08-09 13:53] sdsy888 opened #10376 "How some doc files are generated?"
I'm reading the doc files of the [pytorch](https://pytorch.org/docs/stable/tensors.html). And I know a little about the sphinx.

But when I see [this doc file](https://pytorch.org/docs/stable/tensors.html), I couldn't find the corresponding source file from which this doc file is generated.  For example,  the content below seems like it is written by hand directly in the `tensors.rst` file

[code]

[2018-08-09 14:08] gchanan opened #10377 "[Docs] Update broadcasting documentation for scalars / n-dimensional empty tensors"
`Each tensor has at least one dimension.` is out of date.
`Then, for each dimension size, the resulting dimension size is the max of the sizes of x and y along that dimension.`  -- this is wrong now that we have n-dimensional empty tensors (1 goes to 0).
I don't think the backwards compatibility section is relevant anymore.

[2018-08-09 14:09] fmassa commented on #10371
I believe this is expected behavior.
We actually have (almost all the time) that

[code]

Also, this is the same behavior as numpy.

[2018-08-09 14:09] #10371 closed

[2018-08-09 15:30] Balandat commented on #9332
Maybe this provides some useful side context: One of the main use cases will be qMC integration. E.g. if `f : [0, 1]^d -> (-inf, inf)` then we'll often want to do something like

[code]

Or one could have a top-level function of the form `xqmc = torch.sobol(10000, dim=d)` to reduce boilerplate code.

[2018-08-09 15:36] mikaelfs commented on #10215
with flag -DUSE_OPENCV=0, Caffe2 will be built without OpenCV support, which may not be an optimal configuration especially if you want to use Detectron.

since there was Qt5 error, my suggestion is to install Qt5 dependencies via apt and build OpenCV with Qt5 support. something like:

    sudo apt-get install -y qt5-default libvtk6-dev

    //when building OpenCV from source
    cmake -DWITH_QT=O

[2018-08-09 15:55] #9977 closed

[2018-08-09 16:01] fcalvet commented on #1485
Run into a similar issue when switching from a tensor with shape [2,1,8,512,512] to one with shape [2,1,512,512,8] broke my script.

Could this be somehow related to the expected shape for convolution being `minibatch×in_channels×iT×iH×iW `and not `minibatch×in_channels×iH×iW×iT`, with T<W and H ?
If so should a check be implemented to warn the user, regardless of the fix for this bug ?

The follo

[2018-08-09 16:40] davidmascharka commented on #10357
That may be recommended. However, that is not the issue. The issue is the inconsistency of the `sample()` function between the CUDA and the CPU implementations. Having the distribution's `__init__` function throw is completely beside the point here. The fact is I *can* create a distribution with `validate_args` set to `False` or `None` in both the CPU and the CUDA versions. However, the `sample()`

[2018-08-09 16:42] vishwakftw commented on #10357
cc: @fritzo

[2018-08-09 16:53] fritzo commented on #10357
@davidmascharka I believe you are hitting bug #9917 in `torch.bernoulli(p.expand())`. The [workaround](https://github.com/uber/pyro/pull/1294/files#diff-120fbe36e4b03a2335f19d622512e077R51) we're using in Pyro is to call `.contiguous()` on the argument to `torch.bernoulli()`:
[code]

[2018-08-09 17:14] davidmascharka commented on #10357
@fritzo that actually points me to a problem with just `torch.bernoulli`:

[code]

[2018-08-09 18:31] zou3519 commented on #10303
Oh I see. The assert is actually in NLLLoss. The problem is that there exists some target value in your `target` tensor that is not in the range [0, n_classes). Could you assert this in your code and see if that assert is triggered?

[2018-08-09 18:33] zou3519 commented on #10375
I think you might need to launch the other process first, and then put the tensor into the queue.

The current order is that you're making a queue, passing a tensor into the queue, and then creating a new process with the queue.

[2018-08-09 18:38] alxmopo3ov commented on #10371
Ok, thank you!

[2018-08-09 18:38] zou3519 commented on #10347
See @vishwakftw's comment.

[2018-08-09 18:38] #10347 closed

[2018-08-09 19:42] #9756 closed

[2018-08-09 19:42] #10276 closed

[2018-08-10 00:20] ezyang opened #10391 "Warn/error if importing torch from source directory"
We noticed Numpy did this recently:

[code]

That's nice! We should do this too.

[2018-08-10 01:43] eulerreich opened #10393 "`DataLoader` doesn't respond to `set_default_tensor_type`"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

If I set default tensor to double, `DataLoader` still yields float tensors.

## Code example

[code

[2018-08-10 01:46] Tshzzz commented on #9679
Have you ever solved this problem? I meet this problem too.

[2018-08-10 02:35] Ai-is-light commented on #10303
Thanks for your advice.
I will check it

[2018-08-10 03:00] acgtyrant commented on #10375
I change the script as below:

[code]

It still blocks after print the 'put'.

[2018-08-10 05:42] silenceli commented on #6794
has the same problem;

using conda install -c pytorch pytorch-caffe2-cuda9.0-cudnn7

[2018-08-10 07:13] sleepfin opened #10396 "[feature request] Provide a way to redirect shared memory prefix "/torch_""
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

Shared memory in pytorch always use ‘/torch_xxx' but there may be not enough space.
So I get error

[2018-08-10 07:29] omry commented on #10377
Why do you think the backward compatibility section is no longer relevant?

[2018-08-10 08:08] jae1e opened #10397 "ATen header missing while building an app with Caffe2 as shared library"
## Issue description

When I compile external C++ app with CMake using Caffe2 dependency, ATen header is missing.

Seems like ATen headers are not properly copied to /usr/local/include while other headers are well installed.
Reproduced with Caffe2 with Ubuntu 16.04/CUDA 8/CuDNN 7 Dockerfile [here](https://github.com/pytorch/pytorch/blob/master/docker/caffe2/ubuntu-16.04-cuda8-cudnn7-all-options/Do

[2018-08-10 09:43] riccardosamperna commented on #8599
I am getting exactly the first error @arogozhnikov reported:

` FloatSpatialGridSamplerBilinear_updateOutput received an invalid combination of arguments - got (int, Tensor, Tensor, Tensor, int), but expected (int state, torch.FloatTensor input, torch.FloatTensor grid, torch.FloatTensor output, int padding_mode)`

and I don't understand what is the problem. Can someone help on this?

[2018-08-10 10:05] ClementPinard commented on #8366
It sounds reasonable.

However do you have more explanation on your last sentence ? why wouldn'it work with reusing accessor as subaccessor ? (is it referring to the `[j][k]`operation ?)

[2018-08-10 13:01] t-vi commented on #8366
Well, I guess you could amend accessor with the pointer traits.
I've used this new header CUDATensorAccessor.h: https://github.com/t-vi/pytorch/tree/cuda_tensoraccessor
for a module of mine and it seemed to work, but it is far from a PR.
- I would prefer to have a tensor method, but I'm not 100% certain where I can put it,
- I would want to have some unit tests (just writing some arange-like array

[2018-08-10 13:10] themightyoarfish opened #10400 "How can I reference `torchvision` in sphinx?"
The `objects.inv` sphinx inventory for the `torch` package is hosted at [https://pytorch.org/docs/master/objects.inv](https://pytorch.org/docs/master/objects.inv), so the following works in `conf.py`:
[code]
However, a reference such as `torchvision.datasets` is met with a `reference target not found` warning by Sphinx. I tried using `'torchvision': ('https://pytorch.org/docs/master/', None)` as w

[2018-08-10 13:54] pjh5 commented on #9679
@Tshzzz please see https://github.com/caffe2/caffe2/issues/1980

[2018-08-10 14:02] linrio opened #10401 "[caffe2] namespace "Eigen" has no member "CudaStreamDevice""
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

I want to build caffe2 in docker container. The Dockerfile is:
[code]

## Error emssage:
[code]

Ac

[2018-08-10 14:46] SsnL commented on #10357
This should eventually be fixed by my patch #10273 .

[2018-08-10 14:53] #7289 closed

[2018-08-10 14:53] #7286 closed

[2018-08-10 14:57] ptrblck opened #10402 "Error on printing non-contiguous tensors"
## Issue description

`get_summarized_data` in `_tensor_str.py` crashes when (unintentionally) a non-contiguous `tensor` is printed.
The `.view(-1)` call in [this line of code](https://github.com/pytorch/pytorch/blob/e9ad74357e43d90f773abe31de88bd5f61db23eb/torch/_tensor_str.py#L216) throws an error, as `view(-1)` cannot be called on an non-contiguous `tensor`.

## Code example

[code]

This code

[2018-08-10 14:58] weiyangfb commented on #10376
The source you are looking for is [here](https://github.com/pytorch/pytorch/blob/master/torch/_tensor_docs.py). If I understand correctly, the API document htmls are autogenerated by Sphinx based on `*.rst` with docstrings at `*_docs.py`.

[2018-08-10 15:02] vishwakftw commented on #10402
An alternative workaround would be to call `reshape(-1)` instead on `view(-1)`. IIRC `.contiguous().view(...)` is equivalent to `.reshape(...)`.

[2018-08-10 15:38] ptrblck commented on #10402
Would you prefer calling `reshape(-1)` for every `self[i]` for `start` and `end` or rather once `contiguous()` on `self`?

I've timed it with a quick script and the latter seems to be a bit faster:
[code]

[2018-08-10 15:42] soumith commented on #10400
you have to copy over torchvision rst files over, like here: https://github.com/pytorch/builder/blob/master/jenkins/pytorch/build_nimbix.sh#L344-L346

[2018-08-10 15:45] avmgithub opened #10403 "[ppc64le pytorch] SIGSEGV on test_matmul_4d_1d"
PyTorch version   torch (0.5.0a0+e9ad743)

OMP_NUM_THREADS=4

test_matmul_4d_1d (__main__.TestAutograd) ... Traceback (most recent call last):
  File "run_test.py", line 368, in <module>
    main()
  File "run_test.py", line 360, in main
    raise RuntimeError(message)
RuntimeError: test_autograd failed! Received signal: SIGSEGV

here is the trace :

Core was generated by `python test_autograd.py

[2018-08-10 15:57] vishwakftw commented on #10402
Oh I didn't notice the other `view(-1)`. Sorry about that.

[2018-08-10 16:25] ptrblck commented on #10402
I'll have to rebase again, as I accidentally pushed some other PR to my current master.

[2018-08-10 17:00] ailzhang commented on #10158
Hi @mjc14 , I actually did all my experiments with cuda9.0, and it works fine with openmpi 2.1 and 3.0.

[2018-08-10 17:01] ailzhang commented on #10158
@mjc14 Let us know if you still see the issue consistently, better to give us a way to repro on our end. Thanks

[2018-08-10 17:31] ArmenAg commented on #10393
I don't think this is an issue. datasets.CIFAR10 loads up the data into a numpy array (https://github.com/pytorch/vision/blob/master/torchvision/datasets/cifar.py#L95). The default collate functionality for collating numpy arrays is simply to use torch.from_numpy() which preserves type (as it should).
[code]

[2018-08-10 18:29] D-X-Y commented on #1724
@fmassa May I ask why gesv only support `A is a square matrix`. As I saw from https://www.tensorflow.org/api_docs/python/tf/matrix_solve_ls, it support that A is a M*N matrix, and B is a N*K matrix, then solve a matrix X (N*K). If I want to use a non-square matrix A in gesv, would you mind to let me know how to implement in PyTorch?

[2018-08-10 18:32] PonaFly opened #10413 "Kernel dies when fitting Pytorch model Linux Mint"
## Issue description

Hello there.I'm using Jupyter Notebook, Linux Mint x64 and I have a huge problem with Pytorch. When I running this code - kernel dies.Perfect running on Win 8.1 x64,no problem. I tryed different types of installing - pip,conda, source code from github.Nothing. Please, explain me why this happen all times and how to fix it

## Code example
[code]
## System Info
[code]
[code]

[2018-08-10 18:53] zou3519 commented on #1724
@D-X-Y this doesn't exactly answer your question but you can add zero-rows to the A matrix until it becomes square.

[2018-08-10 18:55] SsnL commented on #10402
@soumith I disagree. We should use `reshape`, but not on every slice, instead, we should do `self = self.reshape(self.size(0), -1)` and just use slice in the loop. `reshape` is nicer because it doesn't copy if the strides are compatible. E.g., considering tensor
[code]
Then `self.reshape(self.size(0), -1)` gives you a view with
[code]
but `contiguous` copies.

[2018-08-10 19:03] colesbury commented on #10396
Did you switch to 'file_system' sharing strategy? The default on Linux is 'file_descriptor', but your stack trace includes:

[code]

[2018-08-10 19:09] colesbury commented on #10402
We should avoid operations that may copy the whole tensor in printing code. At most the extra memory used should be proportional to the data that's actually printed.

Printing a big tensor shouldn't cause an OOM.

[2018-08-10 19:44] #9702 closed

[2018-08-10 20:40] #10241 closed

[2018-08-10 21:12] zou3519 opened #10419 "[jit][script] Shape prop doesn't like add(Tensor, int)"
It's a little hard to post a repro, but `PropagateShapeOnNode` does not propagate the shape when the node is `aten::add(Tensor, int)`. This prevents fusion opportunities for tensor-scalar operations right now because the graph fuser relies on a specialized graph to fuse ops.

[2018-08-10 21:14] zou3519 commented on #10419
Nvm, that graph isn't specialized.

[2018-08-10 22:50] ptrblck commented on #10402
@SsnL As far as I understand from [your comment](https://github.com/pytorch/pytorch/pull/10405#discussion_r209359147) the way to go would be to `reshape` `start` and `end` `tensors`:
[code]
This could still copy `self[i]`, if it's non-contiguous, couldn't it?

[2018-08-10 23:05] evanfeinberg opened #10424 "RuntimeError "sizes must be non-negative" (0.4.1)"
In the transition from PyTorch 0.3.1 --> 0.4.1, we noticed the following error. When initializing a tensor beginning with a dimension of size -1 (to account for inconsistent batch sizes), the following error is thrown:

`RuntimeError: sizes must be non-negative`

Simple reproducing example...
`x = torch.FloatTensor(-1,2)`
`x_batch = torch.FloatTensor([[0., 1.], [2., 3.]])`
`x.resize_as_(x_batch).c

[2018-08-11 01:50] samson-wang commented on #10364
@sebastianberns It's cool. Thanks!

@SsnL I see. Just do it before each epoch iteration. Forget it. lol

[2018-08-11 01:50] #10364 closed

[2018-08-11 01:52] vishwakftw commented on #9430
I think this can be closed due to adbcb3c1dc7058ef35d9be455971c2099e2928d6 .

[2018-08-11 02:54] mjc14 commented on #10158
@ailzhang could you give me your configs of experiments? or a guide line of compilation ? may be my some configs lead to the error.

[2018-08-11 03:32] kishwarshafin commented on #7092
Having this problem since we switch to 0.4 and it's been a while now. Any chance we will get a solution soon?

Also, is there is a performance comparison between models that do flatten_parameter() and those don't?

[2018-08-11 04:59] johnhany opened #10430 "`Segmentation fault(core dumped)` with 0.4.1 on Ubuntu 16.04"
## Issue description

Got error `Segmentation fault(core dumped)` with version 0.4.1 on Ubuntu 16.04, even with MNIST example snippets.

PyTorch was upgraded by `sudo pip3 install --upgrade torch torchvision` from 0.4.0.

I inserted `print(1)` at the [first line](https://github.com/pytorch/examples/blob/master/mnist/main.py#L59) in `main()`, yet only error message was shown and `1` was not printed

[2018-08-11 05:35] c0nn3r commented on #4164
Implementing lots of transformer models has further convinced me this is a really good idea. Often you see people writing out the dimensions names in a comment on top of the line they are working on.

However, the only way I can see this idea being competitive in speed is manipulating the AST (while respecting transposes).

[2018-08-11 06:46] vrt1shjwlkr commented on #9985
Hi I am also encountering the Error 3. The error was not there with PyTorch  0.3.0.post4. My current system is: PyTorch0.4.1, Python3.6, installed using conda.

@PetrochukM did you find any workaround these?

@SsnL any solution for the error? What specific information about the error would you require for suggesting workarounds?

Thanks.

[2018-08-11 08:51] lantiga commented on #10402
An alternate way would be to build an index tensor for just the elements that will be printed (typically not a lot) and then just use advanced indexing. This should avoid calls to ‘contiguous’ and extra allocations would be proportional to what’s actually being printed.

[2018-08-11 10:39] cdluminate opened #10431 "[feature request] Add soversion for ATen"
Adding a SOVERSION would make PyTorch (ATen) more friendly to distribution maintainers.

I'll submit a PR soon.

[2018-08-11 12:32] D-X-Y commented on #1724
@zou3519 thanks a lot, I find the solution, `torch.gels` can solve the problem.

[2018-08-11 12:50] lantiga opened #10433 "Accessing grad_fn throws when re-executing a loaded script module"
## Issue description

Exporting a traced model, importing it back, running it on some input and printing the output fails with
[code]

## Code example

### Exporting a traced model

[code]

### Importing the traced model

[code]
produces
[code]
In fact, just accessing `z.grad_fn` outside the print statement triggers the exception.

The exception doesn't show up if the imported model is run in a `t

[2018-08-11 13:17] mariosfourn opened #10434 "[feature request] torch.roll like numpy.roll"
## Feature Request

Apply numpy-like array manipulation routines for torch tensors. In particular:

flip(m, axis)   | Reverse the order of elements in an array along the given axis.
fliplr(m) |         Flip array in the left/right direction.
flipud(m) |        Flip array in the up/down direction.
roll(a, shift[, axis]) | Roll array elements along a given axis.
rot90(m[, k, axes]) | Rotate an array

[2018-08-11 13:33] D-X-Y commented on #5431
It seems the doc of `torch.gels` still has a error: in https://pytorch.org/docs/master/torch.html?highlight=gels#torch.gels the size of matrix B should be `m×k` rather than `n×k`.

[2018-08-11 13:41] lantiga commented on #10433
Basically, `ExecutionPlanAutogradFunction` is set as `grad_fn` in `ExecutionPlan::runWithGrad` https://github.com/pytorch/pytorch/blob/29406a2c4c36d3c155abed16cf75f26af44426d4/torch/csrc/jit/graph_executor.cpp#L173-L175

However, `ExecutionPlanAutogradFunction` is never registered through `registerCppFunction`, which triggers the exception in `functionToPyObject` https://github.com/pytorch/pytorch

[2018-08-11 13:54] vishwakftw commented on #10434
`flip` is available from `0.4.1`, and `rot90` is in the works (@weiyangfb). I think `fliplr` and `flipud` are special cases of `flip`.

[2018-08-11 13:57] mariosfourn commented on #10434
Thanks, I didn't realise it was added. How about `roll`?

On Sat, 11 Aug 2018 at 14:55 Vishwak Srinivasan <notifications@github.com>
wrote:

[2018-08-11 13:58] vishwakftw commented on #10434
`roll` has not been added yet, as far as I know.

[2018-08-11 14:13] xkszltl opened #10435 "[Caffe2 Bug] Error ISO C++ forbids declaration of DISABLE_COPY_AND_ASSIGN with no type"
## Issue description

Compile error when using `-DUSE_ROCKSDB=ON`

https://github.com/pytorch/pytorch/blob/ab6afc2b238deb9e3b731399a367385518b788e5/modules/rocksdb/rocksdb.cc#L70

## System Info

- PyTorch or Caffe2: Caffe2
- How you installed PyTorch (conda, pip, source): source
- Build command you used (if compiling from source): cmake+ninja
- OS: CentOS
- PyTorch version: master
- GCC version (

[2018-08-11 14:39] ghltshubh commented on #8936
What machine are you using?

[2018-08-11 14:47] ghltshubh commented on #8373
Using ppc64le4, CUDA 8.0.61-1, CuDNN 6.0, NVIDIA P100, Red Hat Enterprise Linux Server release 7.4 (Maipo)
getting
[code]

[2018-08-11 17:31] bhushan23 commented on #9430
Good to know it's done. I was almost done with the prototype.

[2018-08-11 18:50] ll884856 commented on #9699
@DoctorYe I change to CUDA 8.0 and cuDNN 6.0 and the problem was solved.

[2018-08-11 20:44] yw155 opened #10440 "[caffe2] enforce fail at context_gpu.cu:285, cannot get GPU memory usage statistics"
## Issue description
enforce fail at context_gpu.cu:285, cannot get GPU memory usage statistics

## Code example
from caffe2.python import utils
mem_stats = utils.GetGPUMemoryUsageStats()

WARNING: Logging before InitGoogleLogging() is written to STDERR
W0811 21:28:20.350441 28545 init.h:99] Caffe2 GlobalInit should be run before any other API calls.
Traceback (most recent call last):
  File "<std