[2020-03-06 03:59] mrshenli opened #34353 "DISABLED test_torchscript_function_exception (__main__.JitRpcTestWithSpawn)"
https://app.circleci.com/jobs/github/pytorch/pytorch/4716746

[code]

cc @ezyang @gchanan @zou3519 @suo @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar

[2020-03-06 04:12] jerrybai1995 commented on #34330
@SsnL Thanks! But am I able to free that cached memory? Why doesn't `torch.cuda.empty_cache()` work then?

[2020-03-06 04:14] neonbjb commented on #34273
This is more or less what I'm requesting. I'm still playing with it to test how usable it is.

https://github.com/neonbjb/pytorch/commit/8ddcba20fd5744d877bcf03101cc86fd1bfff74e

[2020-03-06 04:32] amirhajibabaei opened #34355 "pytorch sparse_coo_tensor broadcasting in multiplication"
Using broadcasting in normal tensors, the following works
[code]
I need to extend this behavior to sparse vectors, but I can't:
[code]
Why shouldn't this work? Is there an pytorch function to do this? If not what is the best alternative algorithm?

cc @vincentqb

[2020-03-06 05:37] hhwode opened #34359 "When using Distributed RPC Framework, there is a leaking memory"
❓ Questions and Help
Hi.
When using Distributed RPC Framework, there is a leaking memory, I don't know if there are any pieces that need to be configured
### Description
When I ran the RNN example provided on  [RNN](https://github.com/pytorch/examples/tree/master/distributed/rpc/rnn), when the number of iterations reached 10,000, the RNN example slowly consumed all the memory. Not clear why.
You c

[2020-03-06 06:37] deJQK commented on #32639
Perhaps this is related to modification of pytorch's convention on last epoch. Before 1.1, the initial last epoch is -1, but since 1.1 it is changed to 0.
1.0.1: https://pytorch.org/docs/1.0.1/_modules/torch/optim/lr_scheduler.html
1.1.0: https://pytorch.org/docs/1.1.0/_modules/torch/optim/lr_scheduler.html

You can find that last_epoch is set to 0 in 1.1.0 before assigned to self.last_epoch.

[2020-03-06 08:26] Maghoumi commented on #5261
Following my comments above, I decided to release the GRU JIT implementation I mentioned above, hoping it would help others: https://github.com/Maghoumi/JitGRU

[2020-03-06 08:32] jjsjann123 opened #34361 "[JIT legacy executor] device propagation regression"
## 🐛 Bug

PR #33705 introduces regression on shape propagation.
`rand_like` does not propagate correct device from input to output any more.I'm observing gpu tensor input with output marked as cpu tensor.

## To Reproduce

[code]

After the commit, output becomes:
[code]

## Expected behavior

Previously, dropout node could be fused as:
[code]

## Additional context

I have checked the `FuseGraph`

[2020-03-06 09:14] JesperLindberg opened #34362 "torch::from_blob() issues when making a tensor from a vector"
## 🐛 Bug

I want to make my `current_state`, which is made of `std::vector<double>` to a `torch::Tensor`.

## To Reproduce

Steps to reproduce the behavior:

1: Have a dobule vector, i.e `0.0642382 0.0395936 0 0.219108 0.372894 0.422909 0.554452 0.302765 1`
2: `torch::Tensor current_state = torch::from_blob(current_state.data(), { 9}).to(*device);`
3: std::cout << "next state is: \n" << next_state

[2020-03-06 09:39] peterjc123 commented on #34362
cc @yf225

[2020-03-06 10:00] Dr-Noob commented on #23554
As @vyi suspected, this seems to be a path issue. I solved it by just doing symlinks to the right location. In my case, it was looking for the libs at `/home/user/pytorch/torch/lib`, while they were actually at `/home/user/pytorch/INSTALL/home/user/pytorch/torch/lib`. So I just had to to:

[code]

[2020-03-06 10:14] vadimkantorov commented on #34306
This question about perf of conv_tbc and if it's used inside conv1d isn't docs-related per se...

[2020-03-06 10:46] JesperLindberg commented on #34362
Solve, was apparently not a bug...
https://discuss.pytorch.org/t/converting-vector-of-double-to-tensor-issues/72256/2

[2020-03-06 10:46] #34362 closed

[2020-03-06 13:39] KaiyuYue commented on #31684
Thanks very much.

[2020-03-06 14:23] Baranowski commented on #973
I reproduced the `received 0 items of ancdata` error but couldn't reproduce the FD leak that IvanPrado diagnosed (except the expected scenario where references to the SHM tensors are kept alive outside the DataLoader loop). I think it's fair to ignore the latter part of this issue unless it's observed in the wild again. My rationale:

* It's been almost 2 years so even if there was a bug causing l

[2020-03-06 14:39] albanD commented on #4661
Hi,

In general, if you have questions, please use the forum: https://discuss.pytorch.org/
We only use issues for feature requests or bugs.

[2020-03-06 14:52] peterbell10 commented on #18853
I ran the test again with a newer build of pytorch and `ddp_multi` succeeds as well now. Running through the history, 05d18ffaf5ccc5a19245afafe3998fc3731b570d was the first commit to succeed. It looks like the `TORCH_CHECK` that was failing has been removed completely. So, I guess this can be closed now?

cc @pritamdamania87

[2020-03-06 14:52] FDuiv opened #34366 "Why?"
![image](https://user-images.githubusercontent.com/45262140/76094207-2e842c00-5ffd-11ea-9ba2-6b03827be759.png)

[2020-03-06 14:59] albanD commented on #34366
Hi,

We use github issues only for bugs or feature requests.
Please use the forum to ask questions: https://discuss.pytorch.org/

Given the size of the difference, this is most likely due to the fact that floating point operations are not commutative. So doing operations in different order can change the result by 1 bit.

[2020-03-06 14:59] #34366 closed

[2020-03-06 15:05] JamieMair commented on #33811
CPP to CPP saving and loading works just fine, haven't tried with python to python but I assume that is fine.

[2020-03-06 15:10] albanD opened #34367 "Better testing of the autograd engine"
This is to  add more tests to the autograd engine to better test edge cases to make sure we don't introduce regression in future changes.

- [ ] Reproduce the non-deterministic case
  - 3 different branches, A, B and C.
  - A and B are on CPU, C is on GPU.
  - Compare the result if B finish after C and if C finish before B.

- [ ] Reproduce the determinism for CPU only
  - 3 CPU branches A, B and

[2020-03-06 15:26] pbelevich commented on #33106
Implemented in https://github.com/pytorch/pytorch/pull/34033

[2020-03-06 15:26] #33106 closed

[2020-03-06 15:55] ezyang commented on #34096
Yeah, that would be great. (Note that most tests still default to `exact_dtype=False`, but we want to fix that.)

[2020-03-06 15:55] yf225 commented on #33192
Fixed by https://github.com/pytorch/pytorch/pull/34208.

[2020-03-06 15:55] #33192 closed

[2020-03-06 16:03] ailzhang commented on #34096
Oh I just realized we do have a `assert_allclose` API already. But it's not in `TestCase` class. https://github.com/pytorch/pytorch/blob/master/torch/testing/__init__.py#L18
I somehow feel they should be in one place... Let me know if you have any preference between these it and `assertEqual`. ;)

[2020-03-06 16:13] skn123 commented on #33129
@cpuhrsch The closest example would be the way opencv builds its python wrapped library. On doing a make install, I can start ysing the library in python.

[2020-03-06 16:25] mpariente commented on #33140
@cpuhrsch Anything about this issue?

[2020-03-06 16:27] david-wahlberg opened #34371 "reference to "Node" is ambiguous, due to namespace issue"
## 🐛 Bug

I intend to use libtorch in a plugin project for the VFX compositing software Nuke (https://www.foundry.com/products/nuke). When I include torch using the standard line:
#include <torch/torch.h>
I'm getting a class name ambiguity with the class "Node" in Nuke's API. This shouldn't really happen since everything is properly namespaces. I've traced the problem down to these sources in torc

[2020-03-06 17:00] fuzihaofzh opened #34372 "gumbel_softmax encounter nan problem"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. simply invoke the gumbel_softmax function many times in fp16 mode. Occainonly, it may encounter an nan problem.

I debug into the gumbel_softmax function and found that in https://github.com/pytorch/pytorch/blob/9a5e9d8cecb1c68eebd69618729a7ec5671b2a06/torch/nn/functional.py#L1495  an element of gumbels is inf.
This happens occasional

[2020-03-06 17:04] gchanan commented on #24759
https://github.com/pytorch/pytorch/pull/34331

[2020-03-06 17:14] Baranowski commented on #33933
@kazemSafari, thank for the report.

Is there some particular reason why you consider this behaviour a bug? From your description this behaviour seems harmless to me, as per https://www.linuxatemyram.com/ (apologies for the patronizing tone of that site, it's the best summary I could find after quick googling).

Of course, it's possible that I'm missing something here.

[2020-03-06 17:21] nik31096 commented on #6041
See [https://stackoverflow.com/questions/58595291/runtime-error-999-when-trying-to-use-cuda-with-pytorch]. This was helped me without reboot every time.

[2020-03-06 17:28] pritamdamania87 opened #34375 ".detach() behaves differently for dense tensors vs sparse tensors"
## 🐛 Bug

When we call tensor.detach(), the operations supported on the detached tensor differ in case of sparse/dense.

## To Reproduce

[code]

The last line `sp1.zero_()` throws the following exception:
[code]
## Expected behavior

We should have consistent behavior across sparse and dense tensors after detaching.

## Additional context

This was discovered as part of https://github.com/pytorch

[2020-03-06 18:01] imskr commented on #34351
Can I work on this?

[2020-03-06 18:13] Enealor opened #34377 "Update PyTorch copyright year for 2020"
## 📚 Documentation

The current documentation still copyrights PyTorch for 2019. This can be seen on the [documentation for master](https://pytorch.org/docs/master/) near the bottom.

Note: I addressed this in PR #34291 along with some other documentation issues. This one stands out as it makes information appear to be outdated.

[2020-03-06 18:15] mihaimaruseac commented on #34377
IANAL but afaik copyright years should not be updated. A copyright year of x means that the file was created in year x and all changes to the file from year x until end of copyright period as defined by law are covered.

Updating the year to x + 1 means that all contributions in year x are no longer covered by copyright

[2020-03-06 18:25] jonathanking commented on #25150
@BioFreak95 were you able to remedy this?

[2020-03-06 18:33] Enealor commented on #34377
If that's the case, then it shouldn't have been updated from 2018 (#21372).

[2020-03-06 18:58] albanD commented on #34375
There are consistent in the sense that if you try to resize_() a detached dense Tensor, you will get the same issue.
It just happens that `.zero_()` needs to resize the tensor if it is sparse.

What is your idea on how we can fix that?

[2020-03-06 19:00] anjali411 opened #34380 "rand() method for complex dtype"
Similar to https://github.com/pytorch/pytorch/pull/34037/files we can view a complex tensor as a float tensor and pass it to uniform_ used by rand

cc @ezyang @anjali411 @dylanbespalko

[2020-03-06 19:00] #34309 closed

[2020-03-06 19:28] KsenijaS commented on #33787
Hi Alban,

Thank you for answering my questions, it is very helpful. I have one additional question though:
mse_loss operator is not used if target.requires_grad is set to true, and is instead calculated using other operators. My understanding from previous PRs to mse_loss is that there is a bug in mse_loss function and that's why things are done this way.  So my question is, are there plans to fi

[2020-03-06 19:41] dashesy opened #34390 "ONNX Export to .view(1, -1) should not use Flatten"
## 🐛 Bug

Depending on the input shape `view` could be [exported to](https://github.com/pytorch/pytorch/blob/5500c3de0ac2bec1e79dd7e7f47d9869b70ffb3b/torch/onnx/symbolic_opset9.py#L377) `Flatten`. This is incorrect for some shapes.

## To Reproduce

Steps to reproduce the behavior:

[code]

The output shape is `1, 0` and not `0` nor `0,1`. But if exporting uses `Flatten` the output shape would be

[2020-03-06 19:43] albanD commented on #33787
I wouldn't call it a bug for the mse_loss cpp/cuda operator. It was designed this way.

But a feature request to add support for backprop through the target in the cpp operator would be welcome accepted.
But I don't think we have such feature request so I don't think anyone is working on it.

[2020-03-06 19:53] mritunjaymusale opened #34391 "Implementing SLIDE algorithm within Pytorch"
## 🚀 Feature
Implementing the SLIDE algorithm.

## Motivation

I came across [this](https://arxiv.org/abs/1903.03129v2) new paper while browsing through the AI group on facebook. I haven't read it completely yet, but I believe what they have manged to pull off(based on my current understanding) is, they have gotten rid of matrix multiplication all together  from Network and replace it with hashing

[2020-03-06 19:55] jerryzh168 commented on #34351
@imskr sure, feel free to submit a PR and tag us :)

[2020-03-06 20:09] anjali411 opened #34392 "Have isFloatingType, tensor.is_floating_point() return true for complex dtype"
https://github.com/pytorch/pytorch/pull/34093/files

cc @ezyang @anjali411 @dylanbespalko

[2020-03-06 20:59] imskr commented on #34351
@jerryzh168 Thanks. Do I have to add `scalar_type` as argument in quantized::cat?

[2020-03-06 21:16] githubgregersen commented on #30578
Im not sure how to reconcile the above with the following (creating a symmetric matrix by broadcasting a single vector)
[code]
Which produces:
[code]

IE, the current implementation produces the correct numerical gradients, while the SymEig class in the first post does not.

[2020-03-06 21:26] ptrblck commented on #34340
Building PyTorch from source won't build `torchvision` automatically, so you would need to build `torchvision` [from source](https://github.com/pytorch/vision#installation).

[2020-03-06 21:45] ailzhang commented on #34361
cc: @bhosmer for the PR mentioned in issue.

[2020-03-06 21:49] zou3519 opened #34397 "TorchScript docs have broken links"
## 📚 Documentation

https://pytorch.org/docs/master/jit_language_reference.html "Builtin Functions" goes nowhere
![image](https://user-images.githubusercontent.com/5652049/76125225-58702b00-5fca-11ea-9831-191aabc4b9dd.png)

[2020-03-06 22:25] eellison commented on #34361
cc @Krovatkin

We're trying to focus our efforts on profiling executor, which is the default on master & AFAIK will be the default for the next release. We'll accept bug fixes for the legacy executor but we're mostly working towards making the change. Shape analysis has proved to be a hassle to maintain and there isn't any plan on using it moving forward. The new profiling executor might introduce

[2020-03-06 22:27] eellison commented on #34361
I'm not that close to the source on this though so what I stated above may not reflect everyone's opinions 😛

@Krovatkin thoughts ?

[2020-03-06 22:33] JosephDiPalma commented on #33143
@zasdfgbnm I built the latest code from source and still receive an error for the original code segment.  It is a different error that says: `Runtime Error: Trying to create tensor with negative dimension -59809105: [-59809105]`.

[2020-03-06 22:39] Krovatkin commented on #34361
As @eellison mentioned maintaining the legacy executor won't be our **top** priority moving forward. Please try using the new executor as much as possible and report any issues you run into with it. Those will be given a much higher priority.

We seem to internally agree we should fix **this** particular issue. We also welcome fixes from our contributors to the shape inference/legacy executor.

[2020-03-06 22:40] Krovatkin commented on #34361
cc: @zdevito @suo

[2020-03-06 22:53] ngimel commented on #33143
Can you try nightly binaries? It seems like we cannot reproduce your issues, is there something special about your build?

[2020-03-06 22:57] jjsjann123 commented on #34361
Thanks for the suggestion here. We fallback to legacy executor because of redundant profiling node does not get eliminated during optimization passes and was blocking the fusion. (I'll file a separate issue against that shortly)

We currently use legacy executor in many of our benchmark scripts to avoid regression.

[2020-03-06 22:58] jerryzh168 commented on #34351
@imskr yeah, I think what we need here is
PR 0. implement a requantize op, that can convert between different scalar_types
PR 1. add scalar_type as an argument for quantized::cat, and in the end of the op we'll call requantize

[2020-03-06 23:14] JosephDiPalma commented on #33143
@ngimel I tried the Anaconda nightly binary and it produced the above Runtime Error.  I tried it on a system level Anaconda install and also the Anaconda install inside the NVIDIA docker container `nvcr.io/nvidia/pytorch:20.02-py3`.

[2020-03-06 23:19] ngimel commented on #33143
Yep, thanks, can repro it now, sorry about the noise.

[2020-03-07 00:13] mschneider commented on #18631
@samson-wang looking forward to you releasing this. can i help pushing this forward?

[2020-03-07 00:52] lookup1980 commented on #22488
When will we have this feature?
It is very useful!

[2020-03-07 01:07] jiapei100 opened #34409 "PyTorch build with Ideep support?"
I met the following **ERROR** messages... Any suggestions?

[code]

Cheers
Pei

[2020-03-07 01:46] goudantongxue commented on #20140
How to install tb-nightly? i found conda don't have this command. Do I have to use pip install tb-nightly?

[2020-03-07 02:26] rohan-varma commented on #34309
@eellison Is this fixed?

[2020-03-07 02:30] yf225 commented on #34340
Closing as there is a known solution.

[2020-03-07 02:30] #34340 closed

[2020-03-07 04:02] BrutalStark opened #34412 "error in pytorch Docs: https://pytorch.org/docs/stable/distributions.html"
Categorical distribution is also called multinoulli distribution, instead of multinomial.
At the beginning of the page, under title "score function"

[2020-03-07 06:14] IsThatYou commented on #4661
Hi,
Thank you for the response. I am fairly certain this is caused by a bug. If I just use `autograd.grad` to get the gradient with respect to the embedding layer, let's call this W', then I can call backward on W' without any memory leak. The problem is that this is not exactly what I wanted. It could be off because if there are the same tokens in the sentence, the gradient returned for that toke

[2020-03-07 09:00] peterjc123 opened #34415 "CUDA 9.2 build failed on Windows"
## 🐛 Bug

Error text:
[code]
https://dev.azure.com/pytorch/PyTorch/_build/results?buildId=18544&view=logs&j=041eaf33-987e-5185-f943-83be45323396&t=a55446c0-8f00-5209-db58-e279ce356ee3

## To Reproduce

Steps to reproduce the behavior:

1. python setup.py build

## Expected behavior

Build succeeds.

## Environment

Please copy and paste the output from our
[environment collection script](https://r

[2020-03-07 09:02] peterjc123 commented on #34415
It seems to https://github.com/pytorch/pytorch/pull/34381 is the causing the conflict. cc @zasdfgbnm

[2020-03-07 09:21] imskr commented on #34351
I have to add `scalar_type` argument to functions in [here](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/quantized/cpu/qconcat.cpp) right? @jerryzh168

[2020-03-07 11:33] meganset opened #34417 "C++ libtorch.zip includes two copies of *.so libraries"
## 🐛 Bug

Unzipping the nightly libtorch file results in a directory twice the size of the 1.4.0 version.
(3.0g vs 1.5g for version 1.4.0)

It looks like there are two copies of *.so files

[code]

cc @ezyang @seemethere

[2020-03-07 16:14] yf225 commented on #34294
I am putting `numpy` tag on this issue, because it can be related to the workstream at https://github.com/pytorch/rfcs/pull/3.

[2020-03-07 16:32] yf225 commented on #2614
@QuantScientist @herleeyandi @hvasbath @aymenx17 @lifengjin Would you like to check if this problem still occur in PyTorch 1.4?

[2020-03-07 16:33] yf225 commented on #2604
@zhuchen03 Curious is this problem still reproducible on PyTorch 1.4?

[2020-03-07 17:40] Baranowski commented on #17499
@zou3519, are you working on this or trying to repro?

[2020-03-07 19:20] songyuc opened #34429 "Why do PyTorch not support two successive inplace ReLU operations?"
Hi guys,
I might a problem today, as I find that maybe PyTorch do not support two successive inplace ReLU operations, and here is an sample as,
[code]
I am wondering whether it is a bug or not?

Any answer or idea will be appreciated!

[2020-03-07 19:31] zhuchen03 commented on #2604
Thanks a ton for following up! That's a long time ago. I do not have access to the environment any more, but I've never had the same issue again.

[2020-03-07 20:26] aluo-x opened #34431 "Linking error in torch_shm_manager near end of compilation"
**Platform:** Linux 5.5.8
**Driver:** 440.64
**CUDA:** V10.2.89
**Python:** Anaconda 2019.10, Python 3.7.6
**Commands used to build:**
**GCC:** 8.3.1
**Binutils:** 2.34.0
**Pytorch version:** [8a17dc6](https://github.com/pytorch/pytorch/commit/8a17dc65af1bbe261f34cf1447af9ef71f6842ab)
`
DEBUG=0 USE_CUDNN=1 USE_CUDA=1 USE_MKLDNN=1 USE_MKLDNN_CBLAS=1 USE_SYSTEM_NCCL=0 MAX_JOBS=40 BUILD_TEST=0 USE_LE

[2020-03-07 21:11] kazemSafari commented on #33933
@Baranowski Thank you so much for your reply and sharing the link. That does answer my question although I reached the same conclusion after doing more searches. Btw, i do not have a great background in computer science. I am just a mathematician and am learning these things for the first time. Thanks again.

[2020-03-07 21:53] vadimkantorov commented on #34429
It's because of current version tracking limitations: https://discuss.pytorch.org/t/relu-dropout-inplace/13467

[2020-03-07 22:03] hadaev8 commented on #10459
@zhangguanheng66
Any update about cudnn MHA?

[2020-03-07 22:58] aluo-x commented on #34431
Tag v1.4.0 builds and installs. However `import torch` fails with
`/home/aluo/tools/pytorch/build/lib/libtorch_python.so: undefined symbol: _ZN5torch3jit19testConstantPoolingEv`

[2020-03-07 23:08] vincentqb commented on #34355
Related to #3158

[2020-03-08 00:05] #2604 closed

[2020-03-08 00:40] yf225 commented on #33961
@rohan-varma Curious should we close this issue, since https://github.com/pytorch/pytorch/pull/33987 is merged? Thanks!

[2020-03-08 02:27] #31325 closed

[2020-03-08 02:42] mrshenli opened #34432 "DISABLED test_gloo_backend_1gpu_module_device_ids_integer_list (__main__.DistributedDataParallelTest)"
https://ci.pytorch.org/jenkins/job/pytorch-builds/job/py3.6-clang7-rocmdeb-ubuntu16.04-test2/20231//console

[code]

cc @ezyang @gchanan @zou3519 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528 @osalpekar

[2020-03-08 03:12] zhanyike opened #34437 "How to quantize CNN in pytorch 1.3?"
I tried to quantize CNN refer to https://pytorch.org/tutorials/advanced/dynamic_quantization_tutorial.html

but I got this error:
RuntimeError: Didn't find engine for operation quantized::linear_prepack NoQEngine

How can I solve it?

my environment:

pytorch1.3.0+cpu
windows 10
python3.7

[2020-03-08 04:08] peterjc123 commented on #34415
Well, it is still failing with the commit 65bad41cbec096aa767b3752843eddebf845726f.

[2020-03-08 05:44] #34415 closed

[2020-03-08 06:41] #34437 closed

[2020-03-08 07:33] uddmorningsun commented on #28775
After investigating and learning, I add MIPS arch define in `aten/src/TH/vector/simd.h`, `third_party/sleef/src/arch/helperpurec_scalar.h` with `debian:stretch` docker image. Finally, it does work!
[code]

Since machine resources isn't enough, so only `pytest test_autograd.py`, test display is ok:https://user-images.githubusercontent.com/19144683/76158082-df4d1100-614c-11ea-9394-d9e02c9b4089.png

[2020-03-08 07:46] songyuc commented on #34429
Hi, @vadimkantorov Vadim!
Although two successive inplace ReLU operations are not supported, but inplace ReLU plus `+=` are supported as [https://github.com/pytorch/pytorch/issues/5687#issuecomment-412681482](https://github.com/pytorch/pytorch/issues/5687#issuecomment-412681482).
And I think these two kinds of operations have the same implementation strategy.

[2020-03-08 08:51] vadimkantorov commented on #34429
In the comment you cited, @colesbury explains the difference between += and two ReLU, so that may be the remaining piece of the puzzle. If you want to sidestep version tracking, you could use `.data`, but then it's up to you to make sure that computation is correct

[2020-03-08 09:15] songyuc commented on #34429
Thanks very much for @vadimkantorov your answer!

[2020-03-08 09:20] zhangyu345293721 opened #34449 "Who is more efficient than Python and tensorflow"
## 📚 Documentation

[2020-03-08 11:13] Baranowski commented on #33933
Cool. Thanks again for taking the time to report and please keep reporting things when they look like a bug.

[2020-03-08 11:13] #33933 closed

[2020-03-08 11:28] Baranowski commented on #24665
Nitpick: this duplicates https://github.com/pytorch/pytorch/issues/24679, not the issue linked above which is for CUDA

[2020-03-08 11:43] Youarerare opened #34450 "Help/ RuntimeError: fractional_max_pool2d_backward_out_cuda failed with error code 0"
My code works fine on cpu，but when I want to train my network on GPU, the error occurred:

Traceback (most recent call last):
  File "/data/private/syk/123/semantic_nli/Task3-Natural Language Inference/run.py", line 177, in <module>
    train(train_iter, dev_iter, loss_func, optimizer, EPOCHS,PATIENCE, CLIP)
  File "/data/private/syk/123/semantic_nli/Task3-Natural Language Inference/run.py", line

[2020-03-08 12:00] feipenghe opened #34451 "Mac build from source error"
OS version: macOS 10.13.6
Cuda version: 10.1
GPU: GTX 1060

`[1/893] Linking CXX shared library lib/libtorch_cpu.dylib
FAILED: lib/libtorch_cpu.dylib
: && /Library/Developer/CommandLineTools/usr/bin/clang++ -Wno-deprecated -fvisibility-inlines-hidden -Wno-deprecated-declarations -DNDEBUG -DUSE_FBGEMM -DUSE_QNNPACK -DUSE_PYTORCH_QNNPACK -DUSE_XNNPACK -O2 -fPIC -Wno-narrowing -Wall -Wextra -Wno-miss

[2020-03-08 13:02] Li-chunming commented on #24149
You can use the onnxruntime to do inference

[2020-03-08 14:43] vishwakftw commented on #34449
We use GitHub issues for tracking bugs and feature requests only.

[2020-03-08 14:43] #34449 closed

[2020-03-08 14:56] mglisse opened #34452 "Using numpy array to index torch tensor"
## 🐛 Bug

Using a numpy array `i` as index for a torch tensor `t` (i.e. `t[i]`) is interpreted differently than indexing a numpy array with the same index, or indexing t with the index converted to a tensor.

## To Reproduce

[code]

## Expected behavior

I expected the last line to behave the same as the previous two.

## Environment

PyTorch version: 1.4.0
Is debug build: No
CUDA used to build P

[2020-03-08 15:15] hadaev8 opened #34453 "Query padding mask for nn.MultiheadAttention"
nn.MultiheadAttention already have key_padding_mask, which is fine and easy to use, it would be useful to have query_padding_mask argument.

My attention alignments looks like this and i do not like it. Probably it decreese model performance.

![alt text](https://i.imgur.com/BiH6v21.png)

Probably, I can make a length mask with attn_mask argument, but not sure how.

[2020-03-08 16:26] aluo-x commented on #31179
@GanjinZero I'm curious how you eventually fixed this error. I have the exact same issue. Pytorch 1.4.0 built from source against CUDA 10.2

[2020-03-08 19:28] mathemage commented on #34010
Hi @Marceliny and @skmatz !

I've opened the PR to fix the typo: https://github.com/pytorch/tutorials/pull/879

Thanks for a tip!
Regards,
@mathemage

[2020-03-08 20:02] yf225 commented on #32414
@p-morais Thanks a lot for the bug report! https://github.com/pytorch/pytorch/pull/34463 should fix this issue.

I believe it should already be possible currently, and here is an example for doing it: https://github.com/pytorch/pytorch/blob/79d47c1c5ff5306bdd275196b7171c04bebbdcca/test/cpp/api/modulelist.cpp#L62-L77.

[2020-03-08 20:02] bupt-renpei opened #34464 "Dynamically specify the in_features of nn.linear() in pytorch"
class Network(nn.Module):
    def __init__(self):
        super().__init__()
        self.hidden = nn.Linear(784, 256)
        self.output = nn.Linear(256, 10)

Hi everyone,

Is there any approach to avoid calculate the in_feature in nn.linear()? For example, I want to replace the previous statement with the following style:

self.hidden = nn.Linear(None, 256)
self.output = nn.Linear(None, 10)

[2020-03-08 21:29] Jagerjaque commented on #20464
Seems like this was mistakenly left open.

[2020-03-08 21:44] ezyang commented on #27837
Raising priority based on user activity

[2020-03-09 00:12] fsi-tk commented on #34204
I have solved this problem, using OpenCV instead of Pillow for original Pytorch model.
(The differences between OpenCV and Pillow might affect output's error)
So, I close this issue.

[2020-03-09 00:12] #34204 closed

[2020-03-09 01:24] GanjinZero commented on #31179
Downgrade to pytorch 1.2.0

[2020-03-09 01:32] aluo-x commented on #31179
I ended up fixing my issue by re-installing the proprietary Nvidia driver on linux with the line `--no-nvidia-modprobe` **removed**. I was then able to build pytorch 1.4.0 from source:
`USE_CUDA=1 USE_CUDNN=1 USE_MKLDNN=1 USE_MKLDNN_CBLAS=1 python setup.py develop` which installed pytorch into my conda environment.

[2020-03-09 02:41] sjdrc commented on #3022
Hey just FYI I was experiencing this issue on multiple machines (all X299 with multiple 2080Tis), and after trying 4 different PSUs the Corsair AX1600I is the only one that I did not encounter reboots with.

[2020-03-09 03:47] vincezengqiang opened #34470 "get error when load checkpoint and finetune with optimizer, RuntimeError: expected backend CPU and dtype Float but got backend CUDA and dtype Float"
hi， i get error when i load checkpoint and used to init optimizer，the  code is fellowed:
# save
torch.save(
                        {
                            'epoch': epoch,
                            'model': model,
                            'optimizer_state_dict': optimizer.state_dict(),
                            'loss': loss
                        },
                        '{0}/CRNN_

[2020-03-09 03:53] ptrblck commented on #34464
That's not possible, as you need to initialize the parameters (`weight` and `bias`) with a certain shape.
You could [concatenate/crop](https://discuss.pytorch.org/t/how-to-dynamically-change-the-size-of-nn-linear/29634/2?u=ptrblck) the parameters or precalculate the shape.

[2020-03-09 03:56] ptrblck commented on #34450
Could you rerun the code with `CUDA_LAUNCH_BLOCKING=1 python script.py args` and post the stack trace here?

Also, could you post a code snippet to reproduce this issue?

[2020-03-09 05:50] Kevin0624 commented on #30459
@yangsenius  How do you fix the None  in                     transition_layers.append(None)

[2020-03-09 05:54] ptrblck commented on #34089
Based on your code snippet, it seems you are not using a 3-dimensional convolution, but rather a grouped 2-dimensional convolution.

Note that you create a "fake depth dim" in your `nn.Conv3d`, which is never used.

The fastest approach should therefore be a grouped `nn.Conv2d` with the interleaved kernel (which is created in your for loop):
[code]
Note that you might need to relax the shapes for

[2020-03-09 06:17] Borahb opened #34473 "Legacy autograd function with non-static forward method is deprecated and will be removed in 1.3 and UserWarning: Legacy autograd function object was called twice. You will probably get incorrect gradients from this computation, as the saved tensors from the second invocation will clobber the saved tensors from the first invocation. Please consider rewriting your autograd function in the modern style; for information on the new format, please see: https://pytorch.org/docs/stable/notes/extending.html#extending-torch-autograd 626"
I have been running this code for object detection but while running the code ,I am getting a warning

..\torch\csrc\autograd\python_function.cpp:638: UserWarning: Legacy autograd function with non-static forward method is deprecated and will be removed in 1.3. Please use new-style autograd function with static forward method. (Example: https://pytorch.org/docs/stable/autograd.html#torch.autograd.

[2020-03-09 06:34] kooyunmo commented on #21683
Is there any ongoing PR for this issue?

[2020-03-09 06:43] jessie-zhao commented on #33488
@BowenBao, I modified according to your advice. That error seems to get solved, but the following new error occurred.
$ python evaluate.py --task interp --dataDir ./tiny/vimeo_triplet/sequences --pathlist ./tiny/vimeo_triplet/tri_testlist.txt --model ./toflow_models/interp.pkl 2>&1 | tee convert_onnx.log
Traceback (most recent call last):
  File "evaluate.py", line 128, in <module>
    vimeo_evalu

[2020-03-09 06:45] jessie-zhao commented on #33488
I tried nightly build, not working.

[2020-03-09 06:48] peterjc123 commented on #34473
Please prepend the following code to ignore warnings.
[code]

[2020-03-09 06:53] Borahb commented on #34473
okay...but for the  2nd warning it is also affecting the gradients,its saying to rewrite the autograd function in new style. So where to change ?

[2020-03-09 06:59] peterjc123 commented on #34473
Please use `Tensor` instead of `Variable`. More details could be retrieved here. https://pytorch.org/blog/pytorch-0_4_0-migration-guide/#merging-tensor-and-variable-and-classes

[2020-03-09 07:16] Borahb commented on #34473
I did but it could not import Tensor, i watched the blog, but couldn't identify what to change.

[2020-03-09 08:33] XYAskWhy opened #34476 "Missing ‘get_trace_graph’ function in Torch1.4"
‘get_trace_graph’ function could be found in Torch1.3, but not in 1.4 version. I wonder if it is replaced with another function? If so, which one? Thanks in advance : )

cc @suo

[2020-03-09 08:57] Baranowski commented on #24534
Other TH operators depend on `addmm`. Namely: `addmv`, `addr` and `addbmm`. @VitalyFedyunin, how do you suggest I deal with that? A couple possibilities I can think of:

1. migrate `addmm` to ATen but leave the old TH implementation (without dispatching `addmm` to it) until all those ops are migrated.
2. have those TH operators internally use the new ATen `addmm` (not sure if that's possible and w

[2020-03-09 08:58] #34470 closed

[2020-03-09 09:44] zasdfgbnm commented on #24534
There is already a PR migrating addmv and mv to ATen:
https://github.com/pytorch/pytorch/pull/30898

[2020-03-09 10:13] SelvamArul commented on #701
Disabling linting all together (as suggested by @miranthajayatilake ) is not a good solution. Seems  `pylint`has issues with pytorch but for me `flake8` works well.
In VS Code, one can select `flake8` by `Ctrl + Shift + P` ->` Select linter` -> `flake8`.

[2020-03-09 11:20] mugheesahmad commented on #20527
I ran this code on colab and the output is not consistent.

import torch
print("pytorch version",torch.__version__)
import torch.nn as nn
model = nn.Linear(1, 1) # 'Net' is a simple MLP
optimizer = torch.optim.SGD(model.parameters(), lr=0.1)
schedular = torch.optim.lr_scheduler.MultiStepLR(optimizer, milestones = [4,7], gamma=0.1)

print('Initial LR : {0:.8f}'.format(schedular.get_lr()[0]))
for e

[2020-03-09 11:24] SerendipityForZhch opened #34477 "The output tensors are different when same code is implemented in Jupyter and Spyder ."
## ❓ Questions and Help

The demo is simple as follows.
[code]
In Jupyter, the demo output:
[code]
In Spyder, the demo output:
[code]
As we can see, the y.grad_fn is None in Spyder which is not expected.  When we try y.backward(), a RuntimeError occur.
"RuntimeError: element 0 of tensors does not require grad and does not have a grad_fn."

I have report this issue to Spyder, but they think this is

[2020-03-09 11:51] bytp6 commented on #33855
If Conv2d is used in the model, in the profiler, it shows CUDA_total_time of conv2d, convolution, _convolution, and cudnn_convolution. I wonder that what's the meaning and the difference between them.

[2020-03-09 13:33] albanD commented on #4661
We should be clearer in the doc that `.bacward(..., create_graph=True)` creates reference cycle and should either be replaced by `autograd.grad()` or make sure the user manually deletes the `.grad` after use.

[2020-03-09 13:37] SirGaLaHaD69 opened #34481 "CUDA for Pytorch"
I already had installed cudatoolkit 10.1.243 for TensorFlow GPU. Now while installing PyTorch there's again a requirement of cudatoolkit 10.1.168. I had also set my ENV variables for the previous version.

So what should I do now?

Can I (if possible ) ignore the cuda installation ? how will it affect ?

cc @ezyang @seemethere

[2020-03-09 14:08] githubgregersen commented on #30578
Taking it one step further, and directly specifying the unique N*(N+1)/2 parameters of the symmetric matrix (and reusing the rest of the code from update#3):
[code]
produces
[code]
So it looks like the current implementation is correct.

[2020-03-09 14:12] rgommers commented on #34294
The signature in the test is `tensors, dim=0, out=None` which seems right, but construction of `func_args` in `generate_tensor_like_override_tests` may indeed generate the wrong thing it seems (since `nargs==1` here).

Cc @ngoldbaum, @hameerabbasi

[2020-03-09 14:31] keloemma opened #34482 "RuntimeError: CUDA error: no kernel image is available for execution on the device"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

Hello, I ma trying to train a model on a server I ma getting this error :

NFO - 03/

[2020-03-09 14:40] mys007 opened #34483 "JIT: Tracing faster than scripting"
## 🐛 Bug

Calling a traced module in a for-loop with constant number of iterations from a scripted module is slower than tracing, at least with CUDA.

## To Reproduce

[code]

Running it on Ti 2080 gives me:
[code]

## Expected behavior

Tracing and scripting should produce comparable running times.

## Environment

PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Ub

[2020-03-09 14:58] peterjc123 commented on #34482
Would you please tell me what is your GPU?

[2020-03-09 15:06] #25845 closed

[2020-03-09 15:09] keloemma commented on #34482
-----------------------------------------------------------------------------+
| NVIDIA-SMI 440.59       Driver Version: 440.59       CUDA Version: 10.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|

[2020-03-09 15:12] peterjc123 commented on #34482
The name of the GPU is not complete in your previous output. BTW, may I ask which command did you use to install PyTorch?

[2020-03-09 15:17] #32414 closed

[2020-03-09 15:20] wazizian commented on #34294
Indeed, ```func_args``` is built as ```[TensorLike()]```, while it should be something like ```[(TensorLike(), TensorLike())]```, shouldn't it?
If it helps, I can try to fix the tests and do a PR, please let me know.

[2020-03-09 15:21] keloemma commented on #34482
name of the GPU is hyperion but when you said name  I do not understand could you be a clearer. I install Putorch with this command :

pip install torch==1.4+cu100 torchvision==0.5.0+cu100 -f https://download.pytorch.org/whl/torch_stable.html

[2020-03-09 15:23] busterbyron opened #34484 "build from source error"
**Description:**
I'm trying to build pytorch from source, but this happens:

[ 26%] Linking CXX static library ../../../../lib/libmkldnn.a
[ 26%] Built target mkldnn
[ 26%] Built target fbgemm_avx2
Makefile:140: recipe for target 'all' failed
make: *** [all] Error 2
Traceback (most recent call last):
  File "setup.py", line 737, in <module>
    build_deps()
  File "setup.py", line 316, in build_de

[2020-03-09 15:23] ngoldbaum commented on #34294
I'm looking at it right now.

The heuristics used in the `TensorLike` tests to generate arguments aren't very sophisticated. Right now they ignore keyword arguments, for example.

[2020-03-09 15:25] peterjc123 commented on #34482
Is your GPU Titan X, Titan V or Titan XP?

[2020-03-09 15:26] ngoldbaum commented on #34294
Hmm, this is a little bit more complicated actually because `torch.cat` isn't implemented in Python, so this is an issue with the C++ argument parsing. `torch.cat` doesn't go through the python `_get_overloaded_args` function as suggested in the issue.

[2020-03-09 15:28] keloemma commented on #34482
When I run nvidia-smi  ; I get this : GPU  Name        Persistence-M

[2020-03-09 15:29] peterjc123 commented on #34482
No no no, it is a column name. I want to know what exactly is `| 0 GeForce GTX TIT... ` referring to.

[2020-03-09 15:29] keloemma commented on #34482
I do not really know I will ask one of my colleagues

[2020-03-09 15:31] WillTeng opened #34485 "ImportError: cannot import name 'FileStore'"
Hi,when I'm running the example of distributed module,it show "ImportError: cannot import name 'FileStore'".My torch version is 1.4.0+cpu,python version is 3.6

[2020-03-09 15:33] keloemma commented on #34482
GPU 0: GeForce GTX TITAN Black (UUID: GPU-b090c9b8-e98c-158d-fb91-3efb70f15a12)
GPU 1: GeForce GTX TITAN Black (UUID: GPU-4bea0593-e7f5-7904-06f7-cb09f0bd49d2)

[2020-03-09 15:34] peterjc123 commented on #34482
According to https://developer.nvidia.com/cuda-gpus, they are of CUDA compute compatibility 3.5, which is already kicked out in our binaries builds starting from 1.3.1. So there are two options:
1. Build for source
2. Use old packages like 1.3.0

[2020-03-09 15:34] #34482 closed

[2020-03-09 15:39] keloemma commented on #34482
thank you

[2020-03-09 15:39] peterjc123 commented on #34481
PyTorch packages doesn't rely on the global CUDA installation. For conda packages, it relies on a conda package called `cudatoolkit`. For wheels packages, the CUDA libraries are installed locally.

[2020-03-09 15:42] WillTeng opened #34486 "ImportError: cannot import name 'FileStore'"
Hi,when I'm running the example of distributed module,it show "ImportError: cannot import name 'FileStore'".My torch version is 1.4.0+cpu,python version is 3.6

[2020-03-09 15:44] WillTeng opened #34487 "ImportError: cannot import name 'FileStore'"
Hi,when I'm running the example of distributed module,it show "ImportError: cannot import name 'FileStore'".My torch version is 1.4.0+cpu,python version is 3.6

[2020-03-09 15:44] samgd opened #34488 "ONNX Export: `torch.mm`"
## 🐛 Bug

`torch.mm(x, w)` throws an index error when attempting to export a module using this function to ONNX. However, `x.matmul(w)` succeeds.

## To Reproduce

Minimal code example.

1. Creates a torch.nn.Module that performs a matmul during the forward pass.
2. Attempts to export that module - jitted or not - to ONNX using `torch.onnx.export` and then print the graph.
3. This fails if `torch.

[2020-03-09 15:49] michael-koller-91 commented on #30578
Thank you for your investigation. I think the surprising result might be due to the fact that by using the build_symmetric function, one effectively has not ```DIM*DIM``` variables but ```(DIM*(DIM+1)/2)``` which leads to a wrong result. This is reflected by the fact that the gradient in your last post has only dimension 6 instead of 9.

If we explicitly create a matrix with ```DIM*DIM``` independ

[2020-03-09 15:49] zhangguanheng66 commented on #10459
Last time, I saw some performance benchmark on cudnn MHA and pytorch MHA. We are working on decomposing MHA to add more flexibility.

[2020-03-09 15:52] wazizian commented on #34294
As a comparison, here is the doc explaining how ```numpy``` deals with the dispatch for the concatenation function:
[https://numpy.org/neps/nep-0018-array-function-protocol.html#finding-arguments](https://numpy.org/neps/nep-0018-array-function-protocol.html#finding-arguments)

[2020-03-09 16:02] ngoldbaum commented on #34294
It looks like we just never added support for `__torch_function__` in `PythonArgs::tensorlist` or `PythonArgs::tensorlist_n`, see e.g.:

https://github.com/pytorch/pytorch/blob/b1bd950a4d3a06b4e105cb77238fb7df01fad4da/torch/csrc/utils/python_arg_parser.h#L271-L273

This just calls `THPVariable_Check`, which doesn't have any checking for `__torch_function__`.

The fix is to replace the call to `THP

[2020-03-09 16:07] ezyang opened #34489 "Turn on exact_dtype by default on test_sparse.py"
## 🐛 Bug

A longstanding bug in our test suite is that `assertEqual` does not verify that the [dtypes](https://pytorch.org/docs/stable/tensor_attributes.html#torch-dtype) of two tensors match, which can lead to tests unexpectedly passing when they should fail (e.g., #33651). In #33825 we make it possible to do exact dtype matching by default, but turn it on only for `test/test_torch.py`

The purpo

[2020-03-09 16:07] ezyang commented on #34489
(This task is allocated to a current bootcamper, please reach out to me before claiming it.)

[2020-03-09 16:09] prajjwal1 commented on #33757
@yf225 You can close this issue as it has been resolved in [#34299](https://github.com/pytorch/pytorch/pull/34299)

[2020-03-09 16:10] #33757 closed

[2020-03-09 16:24] svenstaro commented on #32277
How about that new release?

[2020-03-09 16:36] spandantiwari commented on #34352
@yf225 - we will take a look.

[2020-03-09 16:43] prajjwal1 commented on #33953
Thanks. I'll work upon it and let you know my findings.

[2020-03-09 16:57] gchanan commented on #32520
@v0dro any update?

[2020-03-09 17:20] yf225 commented on #34058
This might not be fixable. We will investigate and then give a response on this.

[2020-03-09 17:21] #33961 closed

[2020-03-09 17:22] yf225 commented on #27837
@peterjc123 Would you like to look at this issue again? Thanks!

[2020-03-09 17:26] rohan-varma commented on #33961
@yf225, yes, thanks for closing it out!

[2020-03-09 17:33] #34371 closed

[2020-03-09 17:42] ezyang commented on #973
In general it's good for making sure we can accurately report crashed workers (although I wonder why we are suppressing the child stderr stuff to begin with). Do you know if it's just a situation where the child process is dying due to a signal or something? The "check if shm tensors leak out of dataloader" is a nifty idea and is technically possible to do (e.g., loop over all objects known to Pyt

[2020-03-09 17:49] ezyang commented on #18853
@peterbell10 Yes, this looks resolved to our satisfaction! Perhaps the only last thing is to maybe think about a good place to add some documentation about this.

[2020-03-09 17:50] ezyang commented on #34096
Yes, we should put them all in one place :> TestCase seems like the logical spot.

[2020-03-09 17:52] ezyang commented on #34375
My claim is that we should start allowing metadata modification on `detach()`ed tensors. The semantics is that detach gives you a fresh metadata, and we've already had a release cycle where we forbid those modifications, and so now we can just change the semantics.

[2020-03-09 17:58] ailzhang commented on #34096
I feel @nairbv 's PR https://github.com/pytorch/pytorch/pull/34258 is bringing closer by adding `atol` and `rtol` to `assertEqual`, I'll hold my PR until his is merged.

[2020-03-09 18:14] boulabiar commented on #34058
I hope you find something, or matching size taken by each component to those 267MB.
it can be a single library "inline"ing all functions for avx, avx2, avx512, ... or similar like the case for opencv.

[2020-03-09 18:17] surak commented on #18993
Any solution for this?

[2020-03-09 18:18] patrick-kidger commented on #1552
If it helps anyone who got here by Googling (like I did) - I've ended up writing my own approach for performing natural cubic spline interpolation:

[torchcubicspline](https://github.com/patrick-kidger/torchcubicspline)

It includes support for:
- Batching
- Missing values
- GPU support and backprop via PyTorch
- The ability to directly evaluate the first derivative of the spline.

[2020-03-09 18:24] ezyang commented on #24534
@Baranowski Yes, it's likely that the cluster of the matrix multiply / BLAS operations are most conveniently done all in one go. Check on prior work first.

[2020-03-09 18:26] ezyang commented on #33855
They're internal wrappers that call each other and do some processing before deferring to the next implementation. You don't have to worry about it; really cudnn_convolution (or the top level conv2d) is all you really care about.

[2020-03-09 18:27] seemethere commented on #33188
This should be resolved now, am able to confirm that installing with `cudatoolkit=10.2` on `pytorch-nightly` installs a version of pytorch that has been compiled with cuda 10.2

[2020-03-09 18:27] #33188 closed

[2020-03-09 18:29] ezyang commented on #34294
btw @wazizian, what are you using `__torch_function__` for, if I may ask :)

[2020-03-09 18:33] jerryzh168 commented on #34351
@imskr yeah, and requantize is implemented in this PR: https://github.com/pytorch/pytorch/pull/34376, you can wait until that PR is landed

[2020-03-09 18:54] albanD commented on #34375
But what does it mean to do `a.detach().resize_(...)`?

[2020-03-09 19:09] #34206 closed

[2020-03-09 19:13] zou3519 commented on #17499
I'm not actively working on it so I am unassigning myself for now.

[2020-03-09 19:20] SsnL commented on #34330
[code]

It actually is working. You printed once before `empty_cache` and once after `z = gnorm(z)` which does another allocation (as I described above) so you couldn't see its effect.

[2020-03-09 19:21] SsnL commented on #34330
Also, try `print(torch.cuda.memory_summary())` :) It could be pretty handy at times.

[2020-03-09 19:31] githubgregersen commented on #30578
This paper says the gradient in the matrix cookbook is wrong (ie, one can not form the symmetric gradient Gsym(A) via G(A)+G(A)^T - diag(G(A) )

What is the gradient of a scalar function of a symmetric matrix?
https://arxiv.org/pdf/1911.06491.pdf

[2020-03-09 19:37] #33143 closed

[2020-03-09 19:48] zhaojuanmao commented on #34353
GIL change in #33329 could cause deadlock

[2020-03-09 19:48] zhaojuanmao commented on #34304
GIL change in #33329 could cause deadlock

[2020-03-09 19:48] zhaojuanmao commented on #34237
GIL change in #33329 could cause deadlock

[2020-03-09 19:48] zhaojuanmao commented on #34260
GIL change in #33329 could cause deadlock

[2020-03-09 19:48] zhaojuanmao commented on #34264
GIL change in #33329 could cause deadlock

[2020-03-09 20:25] ngimel commented on #34412
Thanks for reporting. Can you submit a PR with a fix?

[2020-03-09 20:30] ngimel commented on #34473
You have to rewrite your custom autograd functions with @staticmethod forward and backward methods, as the warning suggests.

[2020-03-09 20:31] #34486 closed

[2020-03-09 20:31] #34485 closed

[2020-03-09 20:41] xuhdev opened #34502 "Any reason to keep AT_WARN?"
The use of `AT_WARN` generates a considerable amount of warning messages during compilation. Does `AT_WARN` still have any remaining value, I wonder? Would it be OK to replace all `AT_WARN` with `TORCH_WARN` and remove the definition of `AT_WARN` at this moment?

[2020-03-09 20:48] ngimel commented on #34450
Likely related to #34083.

[2020-03-09 21:05] rgommers commented on #32520
@gchanan on the open PR for this I commented (https://github.com/pytorch/pytorch/pull/32616#discussion_r371430430) that since this is so similar to the `cosine_similarity` issue in gh-29442, to resolve the right approach there and then copy it for `kl_div`.

In that `cosine_similarity` issue, the preference was for a nicer but more complicated fix, and it breaks backwards compatibility to some ext

[2020-03-09 21:28] hadaev8 commented on #7455
Implementations here lack of class weights feature.
((

[2020-03-09 21:48] Baranowski commented on #24534
Thank you for linking the PR, zasdfgbnm, and for writing it in the first place. I will wait until it's merged, otherwise one of use will get in the other's way. Besides, basing my patch on your changes will save me a lot of mental work.

[2020-03-09 21:54] mechkb commented on #22329
Any updates on this?

I've a custom C++/ CUDA op that I'm trying to JIT using `jit.script`. I registered the `forward` and `backward` functions in the cpp file using `torch::RegisterOperators`. I'm able to successfully load these functions in python using `load_library()` and use them in my custom autograd op class.

Now when I perform:
[code]

I get the following error:
[code]
Everything works if

[2020-03-09 22:23] ezyang opened #34507 "Implicit view tracking in no_grad mode will break when we merge no grad with no variable mode"
Noticed when reviewing https://github.com/pytorch/pytorch/pull/34145

It turns out we do some view tracking even when `no_grad` is turned on, and this is used in some cases to resolve some behavior in user defined autograd functions. So this would break once we fix this and we'd have to recover this information manually.

cc @ezyang @SsnL @albanD @zou3519 @gqchen @ngimel

[2020-03-09 22:54] xuhdev commented on #34079
Solved by #34153

[2020-03-09 22:54] #34079 closed

[2020-03-09 23:01] leimao commented on #16029
I came back to this GLU many years after I implemented it. The figure in the original paper is confusing, and there is no "split" for the inputs. Essentially you do two independent convolutions for the same input, get two outputs of the same shape, do sigmoid activation for one of the outputs, then multiply these two together. If the PyTorch `glu` is indeed doing splitting, then I think the progra

[2020-03-09 23:07] drdarshan commented on #25641
Hello @mrshenli, I'd love to pick this up as a bootcamp/warm-up task. Please let me know if you have any concerns. Thank you!

[2020-03-09 23:10] ngimel opened #34513 "RNN + DataParallel + scripting is broken"
## 🐛 Bug

Because of complex handling of parameters in RNN modules, trying to script RNN module and wrap it in DataParallel results in errors.

## To Reproduce
1) Script module + move it to .cuda():
[code]
Happens because RNN’s _apply is not called, and parameters are not reflattened after being moved.  To avoid this, first move module to cuda, then script. It's still only a warning and some perf

[2020-03-09 23:48] edraizen opened #34516 "Expose chunk_sizes for DataParallel"
## 🚀 Feature

Allow users to add custom chunk_sizes when running DataParallel.

## Motivation

I am using the SparseConvNet package (https://github.com/facebookresearch/SparseConvNet), where tensors cannot be split evenly because each sample may have different sizes.

## Pitch

Add a new if statement to allow a custom scatter function to handle chunk_sizes if desired in `torch.nn.parallel.scatter_

[2020-03-10 00:09] neginraoof commented on #34352
Thanks @yf225. I believe this issue is resolved as part of opset 11 export.
Pixel_shuffle op was updated as part of ONNX opset 11 export. Prior to that, ONNX did not have an operator to match pixel_shuffle directly, so we were using a subgraph which didn't allow for dynamic shapes to export this op.
If you specify the opset_version=11 when calling the export API, you should no longer see this exce

[2020-03-10 00:20] eellison commented on #34513
Dup of https://github.com/pytorch/pytorch/issues/30635

[2020-03-10 00:23] ngimel commented on #34513
No it's not a dup. #30635 is "module wrapped in DataParallel cannot be scripted", this is "a particular scripted module cannot be wrapped in DataParallel".

[2020-03-10 00:48] reddandelion217 commented on #34352
thanks for all your help! you indeed solve my question!@neginraoof  @spandantiwari @yf225

[2020-03-10 00:48] #34352 closed

[2020-03-10 02:27] Guitaricet commented on #33168
Is there any workaround for this issue until new pytorch release?

[2020-03-10 02:31] #33913 closed

[2020-03-10 02:36] ralzq01 commented on #33855
@ezyang Thanks for your reply! Could you also offer some hints to the above questions? Particularly, I want to know the accurate meaning of CUDA time. Does it also include the kernel launching time and queueing time?

[2020-03-10 02:38] yoshihingis opened #34524 "I could male libtorch dll ,lib from soruce in Windows , but build error happened in build for mnist.cpp"
## 🐛 Bug
I made libtorch ver4.0 dll .lib by build from source in Windows.
I got same name dlls, libs  as dlls and libs which are included with  libtorch-win-shared-with-deps-1.4.0.zip
But I use my build c10.lib and torch.lib to build mnist,cpp , build error was happened.
Build error is Link2001  Error.

## To Reproduce
Steps to reproduce the behavior:
1. I used VS17 native command commna prompt.
2

[2020-03-10 03:34] msbaines opened #34525 "tensor._copy should not copy when src and dst point to the same memory"
## 🐛 Bug

I noticed a few unexpected 1GB DeviceToDevice cudaMemcpyAsync while training my model. I root caused these copies to tensor._copy doing a cudaMemcpy even when src and dst are the same. According to the CUDA [documentation](https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__MEMORY.html#group__CUDART__MEMORY_1g85073372f776b4c4d5f89f7124b7bf79) overlapping src and dst is not suppo

[2020-03-10 03:40] lerndeep commented on #15645
I am using torch version 1.4.0 but I got the same issue how can I solve it?

[2020-03-10 04:15] ksrath0re commented on #958
This worked. Thank you so much.

[2020-03-10 04:22] Hwijune commented on #34204
hi @fsi-tk

I want to convert model onet_ain_x1_0 to onnx.

osnet_ain_x1_0
osnet_ain_x1_0_msmt17_256x128_amsgrad_ep50_lr0.0015_coslr_b64_fb10_softmax_labsmth_flip_jitter.pth

how can i use your source code??

[2020-03-10 05:21] peterjc123 commented on #34524
You'll need to link against `torch_cpu.lib` instead of `torch.lib`.

[2020-03-10 05:26] #22534 closed

[2020-03-10 05:37] yoshihingis commented on #34524
Thank you peterjc123.
I tried to do the build with link against toruch_cpu.lib.
But do you kkown reason why c10.lib made error during the build ?
I think that c10.lib is one of libraries of CUDA10.1.
I want to use libtorch with GPU.
Thank you for your advice.

[2020-03-10 05:44] prajjwal1 commented on #33953
Hi @zou3519 ,
Where do I add the test, I mean in which file ?

[2020-03-10 05:48] Borahb commented on #34473
Can you specify on which file the changes have to be made.

[2020-03-10 05:52] Junan007 commented on #24237
I am facing a similar problem.

[2020-03-10 06:55] yoshihingis commented on #34524
Dear peterjc123
I linked aginst torch_cpu.lib instead of torch.lib.
Unfortunately the build made error "not found torch.lib"
Hence I changed name torc_cpu.lib to torch.lib and I rebuilt.
But LINK error 2002 happened as same as the case of my build torch.lib.
I reported the result.

[2020-03-10 07:09] peterjc123 commented on #34524
Could you please post the full log during the build of your project?

[2020-03-10 08:57] lordeddard opened #34531 "Small error in the parameter description of OneCycleLR"
## 📚 Documentation

In the parameter description of `total_steps` in the class `OneClassLR` it says

Shouldn't that be

The corresponding line in the source code. https://github.com/pytorch/pytorch/blob/4f62cbe7de8f867809ca601c996dd48a5a28ffca/torch/optim/lr_scheduler.py#L1046

cc @vincentqb

[2020-03-10 09:03] kostekIV commented on #34380
Hello, I would like to work on it as my first contribution to pytorch. Could I claim this issue?

[2020-03-10 09:14] yanty123 opened #34532 "RuntimeError: sparse_.is_sparse() INTERNAL ASSERT FAILED on torch 1.4"
## 🐛 Bug

I try to build a GCN model, and i use the torch.sparse to compute the sparse matrix, in the loss.backward() funtion, it breaks.

## To Reproduce

Steps to reproduce the behavior:

1.build the network with torch.sparse
1.

  File "E:/GCN/GCN (1).py", line 123, in <module>
    loss.backward()
  File "C:\Users\小翔\AppData\Local\Programs\Python\Python36\lib\site-packages\torch\tensor.py", lin

[2020-03-10 09:55] turtleizzy opened #34533 "`torch.exp` hangs for CPU execution"
## 🐛 Bug

`torch.exp` hangs for CPU execution.

## To Reproduce

Steps to reproduce the behavior:

`torch.exp(torch.tensor([1.0, 2.0]))`

## Expected behavior

It should not hang. It does not hang for pytorch <1.2.

## Environment

 - PyTorch Version (e.g., 1.0): 1.2-1.4
 - OS (e.g., Linux): Ubuntu 16.04
 - How you installed PyTorch (`conda`, `pip`, source): conda environment, pytorch installed vi

[2020-03-10 10:01] prajjwal1 commented on #33953
I think that [this](https://github.com/pytorch/pytorch/blob/master/test/test_torch.py) might be a suitable place to add the test. Could you please provide some pointer on how to add the test so that it works in the intended manner ?

[2020-03-10 10:08] nikitaved commented on #32520
@rgommers, I am not sure that two issues are actually related. And seem like the real issue is in the `log_softmax`, not the `kl_div` itself. KL is computed in the most numerically-stable manner. Indeed, a bit confusing that one of the inputs represents its weights in a log-space, but, I guess, it is done to accommodate the `softmax` operation...

[2020-03-10 10:09] peterjc123 commented on #34532
Would you please share the code?

[2020-03-10 10:12] turtleizzy commented on #34533
Similar issue: https://github.com/pytorch/pytorch/issues/25904

[2020-03-10 10:23] nikitaved commented on #32520
Hmm, `softmax` is cool. It does the scaling to improve its numerical stability.

[2020-03-10 10:38] nikitaved commented on #32520
Ok, it seem I know where the issue is. The issue is `log(softmax)`. Computing `log(softmax)` in a straightforward fashion in not numerically stable, we can rescale numerator and denominator by any exponent. `softmax/log_softmax` perform this rescaling...

[2020-03-10 11:04] yanty123 commented on #34532
OK, my ugly code is in the annex.
You can run GCN.py to recover it.

And I have run it without any problems with torch 1.0+cpu right now, maybe there is something wrong with the new version?

Thank you very much!
Good luck and best wishes!

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"peterjc123"<notifications@github.com&gt;;
发送时间:&nbsp;2020年3月10日(星期二) 晚上6:09
收件人:&nbsp;"pytorch/

[2020-03-10 11:50] yoshihingis commented on #34524
Thaak you for peterjc123.
Yes, I will be able to post the full log during the build of my project . But it is very long log, please wait for some days.

[2020-03-10 11:53] peterjc123 commented on #34524
Actually, I just want to know the details of the build error. e.g. what symbols are not found during linking

[2020-03-10 12:20] JesperLindberg opened #34535 "Traning DQN, element 0 of tensors does not require grad and does not have a grad_fn0"
## ❓ Questions and Help

Sorry posted at wrong place

[2020-03-10 12:22] theairbend3r commented on #3022
I have the same issue.
Machine config - Lenovo y540, RTX 2060, Ubuntu 18.04. I tried training a simple binary image classification model (4 conv layers with batchnorm). The model trained for 20 epochs (batch size = 8) and then my laptop shut down.

Output of `nvidia-smi`:
[code]

Following is the log file before the system crashed I think. I found it in - `cat /var/log/kern.log`.

[code]

How can

[2020-03-10 12:27] imskr commented on #34351
@jerryzh168 Thanks

[2020-03-10 12:43] nikitaved opened #34536 "Make kl_div accept not just `target`, but `log_target` as well to avoid numerical issues when `target=softmax`, for example."
## 🚀 Feature
Make `kl_div` accept `target` in both normal and log-space to avoid potential numerical issues.

## Motivation

The current implementation computes `log(target)` explicitly, which could be sub-optimal numerically. Some probabilities might have some structure which could be used to increase the stability of `log(target)`, for example in `softmax`, where instead of computing the log of

[2020-03-10 13:15] #34535 closed

[2020-03-10 13:17] borhanMorphy commented on #21683
As a heavy torch user,  this feature sounds nice.

[2020-03-10 13:18] ironcadiz opened #34537 "nn.MultiHeadAttention should be able to return attention weights for each head."
## 🚀 Feature

## Motivation
Currently when using the `nn.MultiHeadAttention` layer, the `attn_output_weights` consists of an average of the attention weights of each head, therefore the original weights are inaccessible. That makes analysis like the one made in this [paper](https://arxiv.org/abs/1906.04341v1) very difficult.

## Pitch
When the `nn.MultiHeadAttention` forward is called with `need_w

[2020-03-10 13:25] meganset commented on #34417
I don't see this problem with the macos version, _libtorch-macos-latest.zip_,
but it does appear in the linux versions, both cpu-only and CUDA 9 & 10 versions.
It looks like copies of the *.so files are in the root dir as well as the lib/ subdirectory
when the zip file is created.

e.g.

[code]

[2020-03-10 13:31] jinfagang commented on #33188
@seemethere How about install from pip?

[2020-03-10 13:57] peterjc123 commented on #34532
Where is GCN.py?

[2020-03-10 14:07] Oktai15 commented on #30139
I have the same problem

[2020-03-10 14:12] yanty123 commented on #34532
sorry, i emailed it ,but it didn't appear here before.
[GCN_codes.zip](https://github.com/pytorch/pytorch/files/4312870/GCN_codes.zip)

[2020-03-10 14:21] michael-koller-91 commented on #30578
Nice, thank you for the link to this paper! That's the solution of the issue. So, in summary, all sources which use G(A) + G(A)^T - diag(G(A)) are not correct. Instead, (G(A) + G(A)^T) / 2 is the correct formula. Since the latest version implements exactly this, everything is fine.

Thanks for the discussion.

[2020-03-10 14:21] #30578 closed

[2020-03-10 14:27] julianmack opened #34538 "Onnx export of scripted `scatter_` fails silently"
## 🐛 Bug

`torch.onnx.export`-ing a `torch.script`-ed model with the `.scatter_` operation fails silently.

## To Reproduce

I would like to export an onnx graph with the functionality:
[code]
A requirement of my use-case is that the model must be scripted before exporting (due to control flow not shown here).

**As noted in the docs** an export of `IdxModel` ignores the line `x[i] = b` meaning th

[2020-03-10 14:31] sjdrc commented on #3022
@theairbend3r I'm not sure if you're having the same issue as the one here. As I understand it, when starting training with torch, the GPUs and CPU(s) ramp up so quickly that it can exceed normal power draw and trigger overload protection on the PSU. I was always experiencing this before the first epoch ended.

Sorry I don't have any more useful suggestions for you.

[2020-03-10 14:34] albanD commented on #34429
Two ReLU in a row or just one are the same thing. Why do you want to put two in a row?

Also as Vadim mentionned, the problem is that the ReLU needs the result to compute the backward so you should not override it.

I **strongly** advise against the use of `.data` because it has many many nasty side effects that you don't want (including breaking gradient computations).

[2020-03-10 14:34] #34429 closed

[2020-03-10 14:35] albanD commented on #34451
Hi,

Is this from a clean repo? Have you try cleaning and retrying?

[2020-03-10 14:38] albanD commented on #34464
Hi,

We use github issues only for bugs or feature requests.
In the future, please use the forum to ask questions: https://discuss.pytorch.org/

[2020-03-10 14:38] #34464 closed

[2020-03-10 14:39] anjali411 commented on #34380
Hi @kostekIV yeah for sure!! this task is similar to adding complex support for randn so this might be helpful https://github.com/pytorch/pytorch/pull/34037 feel free to ask any questions and add me as a reviewer on your PR! :)

[2020-03-10 14:42] albanD commented on #34532
Looking at the code, the error is because `_sparse_addmm` is called with a non-sparse Tensor.

[2020-03-10 14:50] albanD commented on #34531
Hi,

Good catch. Could you send a PR to fix the typo?

[2020-03-10 14:51] albanD commented on #34453
Hi,

Could you please use the template provided to explain in more details what you want and why?
Thanks

[2020-03-10 14:53] #33675 closed

[2020-03-10 14:53] albanD commented on #25904
The deadlock happens when you try to run python code. Can you give the full code sample of what you were doing when it happens?

[2020-03-10 14:54] albanD commented on #34533
Closing in favor of #25904 that is the same issue. Please send there a full script to reproduce the deadlock.

[2020-03-10 14:54] #34533 closed

[2020-03-10 14:59] yanty123 commented on #34532
Maybe sparse_.mm？&nbsp;&nbsp;
But i&nbsp; am sure that there is one dense tensor and one sparse&nbsp; tensor.&nbsp;&nbsp;
And it can run in the caclucate lines. however it&nbsp; breaks after&nbsp; loss. backend()
thank you

---Original---
From: "albanD"<notifications@github.com&gt;
Date: Tue, Mar 10, 2020 22:42 PM
To: "pytorch/pytorch"<pytorch@noreply.github.com&gt;;
Cc: "Author"<author@noreply.gi

[2020-03-10 15:00] #32625 closed

[2020-03-10 15:00] albanD commented on #34525
The problem is that detecting if two Tensors overlap or not is not a simple problem. And it can be quite expensive to check it every time we do a copy.
I think in general the user should not call `.copy_()` if the two Tensors are the same no?
And especially, wrt the issue you linked, the conversion to a different type should be a no-op if the type is already correct as this is easy to check and un

[2020-03-10 15:02] albanD commented on #34513
I guess the custom "replicate" logic that exists for the RNN module in `RNNBase` is not properly replicated on the jit side?

[2020-03-10 15:08] albanD commented on #34502
cc @ezyang we do want to just remove them all right?

[2020-03-10 15:11] albanD commented on #34487
Hi,

We use github issues only for bugs or feature requests.
Please use the forum to ask questions: https://discuss.pytorch.org/

Also please include more informations like what is the exact code you were running, what is the full error message, etc.

[2020-03-10 15:11] #34487 closed

[2020-03-10 15:13] albanD commented on #34484
Hi,

There is not much information in what you shared. Could you share the full build log please? Also if you can locate the actual error message.

[2020-03-10 15:18] albanD commented on #34477
Hi,

As you saw in the issue templace, we use github issues only for bugs or feature requests.
In the future, use the forum to ask questions: https://discuss.pytorch.org/

For your problem, can you check in Spyder if grad mode is enabled with `torch.is_grad_enabled()`. Most likely you disabled it and did not restart the python environment?

[2020-03-10 15:24] Youarerare commented on #34450
Thank you for you reply.
I tried to install gdb for stack trace, but it failed because I am not root, and it took me a lot of time to install various dependencies.
I tried to reproduce this error with a shorter code. The network is the same as the code I used above, the data is a copy from real data. the error seems a little different.

![image](https://user-images.githubusercontent.com/18135822/7

[2020-03-10 15:25] msbaines commented on #34525
There seems to already be a check here for sameness:

https://github.com/pytorch/pytorch/blob/f5ee46f1cfea4bbdd9fbe00a1f50b4385c5e4faa/aten/src/ATen/native/Copy.cpp#L101

Perhaps is_same() could be extended. In my repro case, it's the same memory (i.e. totally overlapping).

We ran into this issue while adding support for FP16 in our optimizer. The optimizer casts the parameters to float, updates,

[2020-03-10 15:27] albanD commented on #34532
Not sure how you end up calling this function but `_sparse_addmm` is an internal function that you should not call directly.
And it works fine if used directly:
[code]

[2020-03-10 15:32] albanD commented on #34525
So you mean that calling `.float()` on a Tensor that is already of type float still makes a copy??

[2020-03-10 15:33] vadimkantorov commented on #34429
@albanD I guess in practice it can happen as an artefact of some model decomposition choices, e.g. one module ends with ConvBNRelu, and the next module does ReLU+CosineSimilarity.

Hope we get some version tracking sidestepping ways when `.data` is phased out! :)

[2020-03-10 15:37] albanD commented on #34473
In your net, you use a custom autograd.Function that is an old style one.  As mentionned in the warning, you should follow the instructions in this doc on how to write a proper custom Function: https://pytorch.org/docs/stable/autograd.html#torch.autograd.Function

You have to make the change wherever you define the new `autograd.Function`.

Note that this warning will become an error in 1.5 as men

[2020-03-10 15:37] #34473 closed

[2020-03-10 15:40] yanty123 commented on #34532
OK thank you very much.&nbsp;
I will check it sincerely after .&nbsp;
By the way, its amazing that there is no problems when I run it with torch&nbsp; 1. 0.

---Original---
From: "albanD"<notifications@github.com&gt;
Date: Tue, Mar 10, 2020 23:28 PM
To: "pytorch/pytorch"<pytorch@noreply.github.com&gt;;
Cc: "Author"<author@noreply.github.com&gt;;"yanty123"<316506204@qq.com&gt;;
Subject: Re: [pytorc

[2020-03-10 15:43] albanD commented on #34429
We need to design and implement it. But it will be added before .data is removed for sure as we use .data for that purpose internally as well.

Btw in this case `.data` is not good as it will break the graph and prevent gradients from flowing ;)

[2020-03-10 15:56] ngimel commented on #34513
Yes, see the comment in the failing snippet. `_replicate_for_data_parallel` and `__setattr__` in jit don't call custom RNN overrides.

[2020-03-10 15:57] wDaniec commented on #34392
Hey. I've been using pytorch for quite some time now and wanted to contribute to it in some way. It seems like this issue could be a nice starting point. Is it ok if I claim this issue?

[2020-03-10 15:58] #33562 closed

[2020-03-10 16:13] msbaines commented on #34525
No, `.float()` does not make a copy except when the tensor is FP16. The copy happens later when call `._copy()`. For the FP32 case, the `._copy()` should be a no-op. Our code is similar to the repro steps I included.

[2020-03-10 16:16] shreyaskamathkm opened #34540 "Deformable convolution fails when batch size if increased?"
## 🐛 Bug

Deformable convolution fails when batch size is more than 32. To check if this is a regular behavior, it was tested against the implementation provided in [mmdetection](https://github.com/open-mmlab/mmdetection). It works for any batch size.

Trace:

[code]
## Expected behavior

[code]

## Environment Information:

[code]

[2020-03-10 16:17] ngimel commented on #34525
For UB, when source and destination are the same, in practice results are correct, for partial overlap it's indeed UB. So functionally we are good here, but you are right, cudaMemcpy should not be invoked in this case.

[2020-03-10 16:21] ngimel commented on #34450
The error above (device-side assert) is different and most likely related to the not valid data that you are trying to push through the network. Can you try @ptrblck's suggestion and run your original network with  `CUDA_LAUNCH_BLOCKING=1 python script.py args`?

[2020-03-10 16:22] albanD commented on #34525
You mean `.copy_()` right?

Note that for partial overlap, the result will be UB for cpu as well as we don't have a strict read/write ordering.

Also you should not use .data but you should wrap your code in `with torch.no_grad()` if you don't want gradients.
Once you do that, you can guard the `.copy_()` with `if x is not y:`.

[2020-03-10 16:33] kostekIV commented on #34380
@anjali411 Thank you. :)

[2020-03-10 16:39] #34481 closed

[2020-03-10 16:46] elistevens commented on #23430
I think this implementation will be more correct in semi-degenerate edge cases:

    def __iter__(self):
        # deterministically shuffle based on epoch
        torch.manual_seed(self.epoch)

        indices = []
        while len(indices) < self.total_size:
            indices += list(self.sampler)

        # subsample
        indices = indices[self.rank:self.total_size:self.num_replicas]

[2020-03-10 16:51] ngimel commented on #34525
Use of `.data` is discouraged. As @albanD suggests, if you don't want some operations tracked by autograd, you should wrap them in `no_grad()` context manager. Once you do that, `x.copy_(y)` passes `is_same()` check and no memcopy is invoked.

[2020-03-10 16:54] vfdev-5 commented on #23430
@elistevens the cases when the number of samples are less then the number of replicas are rare :)
Yes, I agree that there is an assumption about that.

[2020-03-10 16:58] albanD commented on #34525
Good point by @ngimel this check is already done in the `.copy_()` implementation [here](https://github.com/pytorch/pytorch/blob/cb689a5d68a9c4c203f0d3dffbb1ef2cb7d2a506/aten/src/ATen/native/Copy.cpp#L101). So if you don't use `.data` (which you should not), this will already happen properly!

As mentioned above, for the more general case where you have a different Tensor that is potentially an ar

[2020-03-10 17:00] msbaines commented on #34525
This is great advice! I will try `no_grad()`.

[2020-03-10 17:02] albanD commented on #34540
Most likely bad 32-bit indexing in our kernel?

[2020-03-10 17:11] elistevens commented on #23430
I think that the issue is triggered when `self.total_size` is larger than `sampler.num_samples`, but smaller than `len(sampler.weights)`.  `total_size` will be larger than `num_samples` any time the replica count isn't an even divisor, and having your `num_samples` be fixed to a size smaller than your dataset seems like a reasonable thing to do if you want to have consistent epoch sizes or somethi

[2020-03-10 17:16] zou3519 commented on #33953
@prajjwal1 Since the change should not be too large and it looks like our current method of testing type hints is complicated, I am happy to review a change without a test unless you have an idea of how to do the testing. The problem with adding a test to `test_torch.py` is that I don't think we run mypy over that file.

@ezyang is there a better way to test type hints than adding an example to a

[2020-03-10 17:18] MattToul opened #34541 "Building pytorch for IOS. Undefined Symbol"
I am trying to build pytorch locally to use on an IOS device.

I have followed every step from : https://pytorch.org/mobile/ios/#build-pytorch-ios-libraries-from-source.

The Header Search Path is defined, and I have added the linker flag for libtorch.a.

Unfortunately after finishing the XCode setup, when trying to build the following error occurs :
<img width="584" alt="Capture d’écran 2020-03-

[2020-03-10 17:39] #33552 closed

[2020-03-10 17:39] ngoldbaum commented on #34294
On further reflection, this is a little more tricky than I thought.

To ground this discussion, here's what `cat` looks like in the generated version of `python_torch_functions.cpp`:

https://gist.github.com/ngoldbaum/b44f7711e61d3adb3f801e62354f3767

My earlier suggestion could work, but it will require a more extensive refactor than I anticipated. Basically, right now `tensorlist` and `tensorlis

[2020-03-10 17:45] HapeMask commented on #24823
I may have missed it in the above comments, but the 2D CUDA case w/`inf` values in the grid produces a RuntimeError as well. Here is a simple example:

[code]

gives

`RuntimeError: cuda runtime error (77) : an illegal memory access was encountered at ../torch/csrc/cuda/Module.cpp:179`

[2020-03-10 17:51] prajjwal1 commented on #33953
@zou3519 What type of test do you want me to add ? I mean would running mypy over this example
[code]
won't be enough ?

[2020-03-10 18:06] zou3519 commented on #33953
Running mypy over the simple example would work. How are you planning on running mypy in the test? You could use the `subprocess` module to shell out to mypy and run it over some file that has the code in your example.

[2020-03-10 18:10] musikisomorphie commented on #28733
Hi @VitalyFedyunin, is anyone still looking into this problem? If not, I can give it a try.

[2020-03-10 18:14] #33580 closed

[2020-03-10 18:17] zou3519 commented on #34540
This is a problem with a torchvision operator, right? It might help to cross-post in the torchvision repo: https://github.com/pytorch/vision/

[2020-03-10 18:17] prajjwal1 commented on #33953
I was thinking of doing something like https://github.com/pytorch/pytorch/blob/cd9d9a2235567eb76743a5d863e0f2d4074d8956/test/test_torch.py#L377
Like adding lines of code into a list like `test_type_hints` and running mypy over them ?

[2020-03-10 18:19] zdevito commented on #28520
We probably want something like:

[code]

#34360 is an instance that needs this centralized state.

[2020-03-10 18:24] ezyang opened #34543 "Stop storing THPLayout in the Python argument parser"
`torch/csrc/utils/python_arg_parser.h` is the code responsible for parsing our Python arguments, distinguishing between various overloads, and filling in defaulted arguments. The FunctionParameter struct represents a function parameter, and it stores defaults to be used in some cases:

[code]

Note that `default_layout` is the odd entry out for the union: the default in this case points to a THPLa

[2020-03-10 18:24] mehameha998 opened #34544 "Strange behaviour of F.interpolate with bicubic mode."
## 🐛 Bug
Input:
          X with shape (2,3,256,256)
RUN:
         Y = F.interpolate(X, [256,256], mode='bicubic', align_corners=True)
         Z = F.interpolate(Y, [256,256], mode='bicubic', align_corners=True)
ISSUE:
         Y[1,:,:,:] = zeros and Z[1,:,:,:] = zeros.

Following is my code:

def interpolate_torch(x, s=256, mode='bicubic', align_corners=True):
    return F.interpolate(x, [s, s],

[2020-03-10 18:27] mehameha998 commented on #34544
When I use bilinear, everything is ok. Help someone can given me the answer.

[2020-03-10 18:28] karimhasebou commented on #28733
Go ahead. I gave it a try but didn't have any luck.

[2020-03-10 18:30] musikisomorphie commented on #28733
Okay, I will see what I can do.

[2020-03-10 18:53] ezyang commented on #634
I looked in fairseq and couldn't find any occurrence of HierarchicalSoftmax in their library.

[2020-03-10 18:53] zou3519 commented on #33937
Since the functions are different, this isn't a use case for vmap. Python multiprocessing (for CPU tensors) or multi-stream (for CUDA) sound like reasonable solutions.

Does https://pytorch.org/docs/stable/notes/multiprocessing.html#asynchronous-multiprocess-training-e-g-hogwild help answer some of your questions, @522730312 ?

[2020-03-10 18:56] nikonikolov opened #34546 "Different gradients with batch norm on GPU and CPU"
## 🐛 Bug

Significantly different gradients with `torch.nn.BatchNorm1d` and `torch.nn.Linear` on GPU and CPU.

## To Reproduce

Script to reproduce
[code]

Output:
[code]

## Expected behavior

I would expect that gradients in the network, no matter the architecture, to be roughly equal across CPU and GPU. I can accept the differences in gradients for the conv network cause I can believe it's due

[2020-03-10 18:58] zou3519 commented on #26123
Seems fixed now:
![image](https://user-images.githubusercontent.com/5652049/76348999-97122800-62df-11ea-8807-78afb3c47cbe.png)

[2020-03-10 19:04] gchanan commented on #34391
We'll wait until we have more signal (namely citations).  If that happens, please reopen.

[2020-03-10 19:04] #34391 closed

[2020-03-10 19:12] gchanan commented on #28997
for custom functions, there is a fairly simple workaround (write/read from disk yourself).  That won't work with double backwards, but that's fairly uncommon.

For now, we'll label low priority.

[2020-03-10 19:18] gchanan commented on #34273
SavedVariables is an implementation detail that changes regularly.  Can you, instead, write your own custom Function implementations to avoid the recompute?

[2020-03-10 19:21] gchanan commented on #34537
@zhangguanheng66 @cpuhrsch is this on the MultiHeadedAttention roadmap?

[2020-03-10 19:22] gchanan commented on #34536
we'd accept a flag that indicates if the target is in the log space or not.

[2020-03-10 19:24] gchanan commented on #2478
@vincentqb can you make a call on this?

[2020-03-10 19:25] rgemulla commented on #15918
Have a look at `cdist`; from my understanding, it's what you want to do.

[2020-03-10 19:26] gchanan commented on #7535
The current accepted proposal for this is https://github.com/pytorch/pytorch/issues/27878.

[2020-03-10 19:29] ezyang commented on #33181
I'm not convinced it should be an underscore-underscore method, but this certainly seems reasonable enough.

[2020-03-10 19:29] gchanan commented on #33181
@SsnL what's your take?

[2020-03-10 19:38] zhangguanheng66 commented on #34537
We are decomposing multiheadattention func soon (in-projection/out-projection layers plus scale-dot product layer). Then, you will be able to obtain the attention weights before averaging.

[2020-03-10 19:39] zhangguanheng66 commented on #32590
After decomposing, users should be able to obtain the attention weights before averaging.
https://github.com/pytorch/pytorch/issues/34537

[2020-03-10 19:55] #34489 closed

[2020-03-10 20:08] mk123qwe opened #34550 "Didn't find engine for operation quantized::conv_prepack NoQEngine (operator () at ..\aten\src\ATen\native\quantized\cpu\qconv_prepack.cpp:264) (no backtrace available)"
Didn't find engine for operation quantized::conv_prepack NoQEngine (operator () at ..\aten\src\ATen\native\quantized\cpu\qconv_prepack.cpp:264)
(no backtrace available)

win10
python3.6
pytorch1.3

code:
from torch.quantization import convert
model_quantized_and_trained = convert(model_ft_tuned, inplace=True)

cc @peterjc123 @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a

[2020-03-10 20:22] ezyang commented on #34375
My suggestion is that it causes a resize of the `a.detach()` tensor, but doesn't resize `a`.

[2020-03-10 20:27] albanD commented on #34375
If you do that, then `my_sparse_tensor.detach().zero_()` will not zero out the original sparse Tensor. Which is not really the expected behavior...

[2020-03-10 20:29] IguanaAzul commented on #21683
This feature is relevant, it should be implemented.

[2020-03-10 20:43] suo commented on #34476
Yes, `get_trace_graph` was an internal function that was intended for use by ONNX export only. As an alternative, please get the graph like:
[code]
Let me know if you're having any issues!

[2020-03-10 20:43] #34476 closed

[2020-03-10 20:46] suo commented on #34483
This is not entirely unexpected; scripting preserves actual loop semantics while tracing unrolls all loops (since tracing merely observing what happened when you ran your model on the example inputs). Generally the overhead from scripting is negligible, since tensor operations dominate wall time.

We do have work in progress to close this gap even in cases where overhead is important (models with

[2020-03-10 20:51] albanD commented on #34546
Hi,

I am bit confused by your test code:
- Generating random numbers on different devices will give you different random value, even if you set the same random seed as different pseudo random number generators are used for different devices.
- It is expected that running the same code on different devices may not give you bit-wise same result. So when you stack a few of them, it is expected that

[2020-03-10 20:56] ar4 opened #34551 "Multidimensional CUDA irfft modifies input"
## 🐛 Bug

torch.irfft modifies the input Tensor for the multidimensional case on a GPU

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

The input should not be modified

## Environment

PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Ubuntu 18.04.3 LTS
GCC version: (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0
CMake version: version 3.12.0

[2020-03-10 20:58] ezyang commented on #33950
@anjali411 and I discussed and we think this is high priority for complex project. Not urgent, but should be done.

[2020-03-10 21:15] seemethere commented on #34417
If I had to guess it'd probably have something to do with these lines:

https://github.com/pytorch/builder/blob/f0dd04b3d803980d6c6a39ca3e19523272fe476a/manywheel/build_libtorch.sh#L119-L144

[code]

I'll be taking a look at resolving these today.

[2020-03-10 21:22] gchanan commented on #34375
it's an interesting issue, because we put in that metadata error so people wouldn't do `a.detach().resize_(...)` and expect `a` to resize.  But this is really about how you look at detach -- is it a logical "view" of the Tensor (where you would expect `a.detach().zero_()` to zero out `a` or not.  We could also do some in-between thing where like...the implementation wipes out indices/values if it

[2020-03-10 21:36] mrshenli commented on #27096
Discussed with @xush6528 offline and we are trying to design a solution for this. We could extend  #31893 to solve both this issue and #31325.

### Motivation

Currently, we already have a `_ignore_leaks` mode for non-graceful shutdown, and we would like to reliably delete RRefs for the graceful shutdown mode.

### Problem Statement

Following things could lead to RRef leaks:

1. One object in a l

[2020-03-10 21:41] dylanbespalko commented on #33950
This would be great. Way beyond my abilities, but I would love to see it.

[2020-03-10 21:41] albanD commented on #34273
As greg mention, the main problem here is that we don't have a single way to implement Nodes in the graph.
The only api that nodes must have is the `release_variables()` that should release all buffers. But how these buffers are saved is "user-defined". In particular, our codegen has one way. Custom python autograd.Function has one for input/output otherwise the user can do whatever he wants. cust

[2020-03-10 21:47] vincentqb commented on #2478
Given the cost associated to backtracking, this mechanism should be left in the control of the user. The scheduler could have flag that indicates its status though, so the user can save/load based on that flag, see [comment](https://github.com/pytorch/pytorch/pull/2544#pullrequestreview-362051904).

[2020-03-10 21:51] ilia-cher commented on #28520
it seems we already basically have this, but in a form of `ThreadLocalDebugInfoBase` and `DebugInfoGuard`, the name though is misleading - it doesn't have to be debug info; we can extend this as we want and we also take care of fork and autograd threads. I'd suggest:
1. refactor DebugInfoGuard into ThreadLocalStateGuard (and so on)
2. there's been a discussion on passing extra bits of info along m

[2020-03-10 21:54] neonbjb commented on #34273
Alright, I can understand that. Feel free to close if you feel this doesn't warrant any other discussion. For now I'll use the modification linked above since it does seem to work with the models I've been running. I'll re-open if I come up with a better solution that might be more amenable to the torch team.

[2020-03-10 21:58] gchanan commented on #34096
I don't think TestCase is a good spot -- the point of the testing packages is to collect things that are useful for other projects that use pytorch, but not our test framework.  I think assert_allclose fits in there and the assertEqual in TestCase is an anti-pattern.

[2020-03-10 22:01] nikonikolov commented on #34546
Hey, thanks for the quick response.

1. Regarding random numbers: All tensors are generated on the default device (CPU) and only then moved to the target device. Also if you check the losses, you will see they are very similar up to an admissible floating point error. You can also double check the inputs (I already did it myself - they are the same).

2. I am not asking for the same bit-wise resul

[2020-03-10 22:21] ailzhang commented on #34096
@gchanan with PR #34258 we'll essentially merge the functionality of `allclose` check into `assertEqual`. We can keep both, while `assertEqual` being the major API used in our test framework?

[2020-03-10 22:28] albanD commented on #34546
1. Yes I agree with you

Yes, but not floating point operations. They specify a given precision and any value close enough to the truth is valid.

Or maybe batchnorm increase the errors a lot (more than a simple Linear layer with weights close to 1).
Can you see an error in the value computed by a single batchnorm?

[2020-03-10 22:32] albanD commented on #34273
Feel free to ask on the forum: https://discuss.pytorch.org/ if you need any help for your custom implementation.

I'll close this issue for now.
Feel free to re-open if you have a general idea of things we could add!

[2020-03-10 22:32] #34273 closed

[2020-03-10 22:34] ezyang opened #34557 "Mobile builds are clobbering ASAN docker image"
The mobile builds added in #30292 reuse the ASAN docker image.

[code]

When this occurs, we must rename the "commit" docker image so they don't clobber each other. However, this does not appear to be happening, as discovered by @kostmo

[code]

This isn't the first time this has happened; see #28581 for last time.

cc @ezyang @gchanan @zou3519 @seemethere @ljk53

[2020-03-10 22:42] ezyang commented on #33855
Sorry, I don't know off the top of my head. If I needed to figure it out I'd go look and see where the times are coming from in the source code. Be sure to report back here when you find out :)

[2020-03-10 22:42] albanD commented on #28520
For 4. are the thread_local associated to the dispatcher already there? Otherwise, these ones should be added as well.

[2020-03-10 22:47] nikonikolov commented on #34546
Error is < 1.0.

Sure it might increase errors, but > 20.0 is unacceptable. This is too much for a floating point error ...
1. Why does it not happen when we switch batch norm with layer norm in the network with linear layers?  The principle of batch norm and layer norm is very similar ...
2. Why does it not happen in the network with batch norm and conv layers, which has more parameters and is de

[2020-03-10 22:47] #33229 closed

[2020-03-10 22:57] ezyang commented on #34502
Ye, we should rename all of them and delete `AT_WARN` entirely. The problem is we don't have a Werror build so people keep finger macroing the old name when they add warnings. So we have to rip the bandaid off entirely to keep it fixed.

[2020-03-10 22:58] ilhamfp opened #34562 "PyTorch result changes on the exact same setting if run sequentially"
## 🐛 Bug
Even after setting all random factors with seeds, PyTorch result changes on the exact same setting if run sequentially.

## To Reproduce
I have created 2 Kaggle Kernel that trains & test PyTorch on the same MNIST dataset five times. The kernels showcase the difference between setting random factors only once vs. each sequential run.

1. [Setting random factor once](https://www.kaggle.com/

[2020-03-10 22:58] ezyang commented on #34477
This is also a really old version of PyTorch. I'm closing this as non-actionable. If you manage to repro with the latest version of PyTorch and have a clear description of the Spyder setup, maybe we can help more.

[2020-03-10 22:58] #34477 closed

[2020-03-10 22:59] ezyang commented on #34392
Yes, this should be a pretty small fix. Tag @anjali411 as reviewer.

[2020-03-10 23:06] albanD commented on #34546
It should be much lower than that. <1e-5 at least.

By the way to do tests, you can generate float numbers that have 1 bit difference only by doing:
[code]

[2020-03-10 23:07] #34084 closed

[2020-03-10 23:09] albanD commented on #34562
Hi,

We use github issues only for bugs or feature requests.
Please use the forum to ask questions: https://discuss.pytorch.org/

For your question, you can check the note we have in the doc on reproducibility [here](https://pytorch.org/docs/stable/notes/randomness.html).

[2020-03-10 23:09] #34562 closed

[2020-03-10 23:14] ezyang commented on #34375
Yeah, this sucks. I can't think of any way around it besides gchanan's idea, but I think it's not a good idea to have a big pile of zeros hanging around either. Maybe we should just add a `nograd_zero_` method just for this case, blegh.

[2020-03-10 23:17] ezyang commented on #34096
This is `torch.testing._internal`, not the general `torch.testing` module. Which exists solely because @pritamdamania really wanted to be able to put tests in subdirs in `tests/` ;)

[2020-03-10 23:18] nikonikolov commented on #34546
Yeah, it's < 1e-5. Sorry, the number I have was too relative. Anyway, can you investigate the rest of the errors:

[2020-03-10 23:39] #19001 closed

[2020-03-10 23:42] albanD commented on #34546
I just saw that your `run_model` actually take the absolute value and sum up all the gradients before comparing them. That could make you loose a lot of precision as well.
Can you try the same thing without summing? Just give `p.grad` back. And compare them by doing `max_diff = max((v1 - v2).abs().max(), max_diff)`.

[2020-03-10 23:55] Enealor commented on #34544
Maybe related to #32918. To make sure though: is `content.png` a `256x256` image?

[2020-03-11 00:06] anjali411 commented on #34392
@wDaniec following this https://github.com/pytorch/pytorch/pull/34093#issuecomment-597354763, we might not want to make this change anymore. However if you would like, you can work on one of these two issues:
https://github.com/pytorch/pytorch/issues/33568
https://github.com/pytorch/pytorch/issues/33567

[2020-03-11 00:13] mkardas opened #34565 "Backward operations not decorated with stashed seq marker"
## 🐛 Bug
According to `Forward-backward correlation` section of [autograd documentation](https://pytorch.org/docs/stable/autograd.html#torch.autograd.profiler.emit_nvtx), when CUDA profiling is enabled forward operations should be decorated with `seq=<N>` and backward operations should be decorated with `stashed seq=<N>` with matching numbers for corresponding forward-backward operations. Currentl

[2020-03-11 00:57] XiaobingSuper commented on #34409
@jiapei100, could you collect your environment by following steps:
## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (e.g., Linux):
 - How you i

[2020-03-11 01:56] eellison commented on #34513
@suo were you looking at `__apply__` / weights compaction at some point ?

[2020-03-11 02:02] Youarerare commented on #34450
I run my original network with CUDA_LAUNCH_BLOCKING=1 python run.py

the error is the same as

Traceback (most recent call last):
File "/data/private/syk/123/semantic_nli/Task3-Natural Language Inference/run.py", line 177, in
train(train_iter, dev_iter, loss_func, optimizer, EPOCHS,PATIENCE, CLIP)
File "/data/private/syk/123/semantic_nli/Task3-Natural Language Inference/run.py", line 147, in train

[2020-03-11 02:16] ezyang commented on #34294
I believe I understand the problem. The fact that this is an issue suggests that we implemented things incorrectly in the first place; that is to say, we put the `has_torch_function` test too early. Here's an alternative codegen for this function:

[code]

The idea is to not do the `has_torch_function` test until after we've extracted the arguments. At this point, we have gone over all the tensor

[2020-03-11 02:19] ezyang commented on #32520
OK, we agreed with the proposed approach in our research meeting. Does this sufficiently unblock?

[2020-03-11 02:33] peterjc123 commented on #34550
Duplicate of #31684.

[2020-03-11 02:33] #34550 closed

[2020-03-11 02:39] HomeLH commented on #4518
`conda update python` works well. The updated python version is 3.8.1

[2020-03-11 02:50] Enealor opened #34573 "Restructure `multi_head_attention_forward`"
## 🚀 Feature

Restructure the function `multi_head_attention_forward`  in [nn.functional](https://github.com/pytorch/pytorch/blob/23b2fba79a6d2baadbb528b58ce6adb0ea929976/torch/nn/functional.py#L3573) into several functions to improve the ability to experiment. In particular, decompose the function so that the following are available:
* The input embedding functions.
* The computation of attention

[2020-03-11 03:00] jiapei100 commented on #34409
@XiaobingSuper
Hi, Thank you Xiaobing.
I'm not using conda at all...
How can modify it correspondingly?

[2020-03-11 03:00] zechendev commented on #13061
disable ninja, do solve this problem!
in my case, the pytorch version is 1.3.0 python version is 3.7.0.
Thank you!

[2020-03-11 03:07] XiaobingSuper commented on #34409
@jiapei100,  the script not need conda, it will collect your device detail: such as gcc version, OS verison and others, I should know how do you install pytorch so that I can reproduce it in my side.

[2020-03-11 03:12] zhujun5164 opened #34574 "how can i make sure that when my pytorch code run in cpu can use avx2"
## ❓ Questions and Help

environment: cpu  i7-9700
system: win10
python: 3.7
pytorch: 1.4

i use the cpu-z it ask me the i7-9700 cpu can use avx2.
Does it means that when my pytorch code run in my cpu, it can use the avx2 automaticly?
And how can i make sure that

[2020-03-11 03:38] taoddiao opened #34576 "Significant speed difference between P100 and V100"
## 🐛 Bug

P100 (running time is about 30 seconds ) is much slower than V100 (2-3 seconds) when running `affine_grid` and `grid_sample` forward/backward pass
## To Reproduce
My code is like:

[code]
## Expected behavior

Usually V100 gives a 2x or 3x speedup over the P100. What causes this large difference?

## Environment

 - PyTorch Version: 1.1.0
 - OS: Ubuntu 16.04
 - How you installed PyTorch:

[2020-03-11 04:09] jiapei100 commented on #34409
@XiaobingSuper

[code]

[2020-03-11 04:44] ngimel commented on #28520
No, dispatcher keys are not there yet.

[2020-03-11 04:56] yoshihingis commented on #34524
Link errors: 2001 were reported , when I used torch.lib at mnist project  which were built from source codes by my self.

 ・""__declspec(dllimport) const torch::optim::SGD::`vftable'" (__imp_??_7SGD@optim@torch@@6B@)" was unsolved
 ・""__declspec(dllimport) class at::LegacyTypeDispatch & __cdecl at::globalLegacyTypeDispatch(void)" (__imp_?globalLegacyTypeDispatch@at@@YAAEAVLegacyTypeDispatch@1@XZ)"

[2020-03-11 05:09] XiaobingSuper commented on #34409
@jiapei100, may be the following options can sovle your problem:
1. Install conda befoe build the source code as :  [README.md](https://github.com/pytorch/pytorch)
2. If you don't  want to use conda, you can try the following command to install pytorch:
[code]
If still not work, please list your build commands which you build the source code. Thanks!

[2020-03-11 05:16] mehameha998 commented on #34544
The `content.png` is a `1024 x 1024` image.

[2020-03-11 05:18] jiapei100 commented on #34409
@XiaobingSuper
I know conda. I seriously don't like to use conda. I'm NOT using any virtual environment ....

[2020-03-11 05:25] yoshihingis commented on #34524
Link errors: 2001 were reported , when I used c10.lib at mnist project which were built from source codes by my self.

・""__declspec(dllimport) struct c10::impl::LocalTensorTypeSet __cdecl c10::impl::tls_local_tensor_type_set(void)" (__imp_?tls_local_tensor_type_set@impl@c10@@YA?AULocalTensorTypeSet@12@XZ)" was unsolved
・""__declspec(dllimport) public: class c10::TensorTypeSet __cdecl c10::TensorO

[2020-03-11 05:29] mehameha998 commented on #34544
Also, in my training script, if I first interpolate with `bicubic` mode and `scale_factor=1` and then interpolate the results again using `bicubic` and `scale_factor != 1`, the final results will be left rotated 90 degrees.
PS: if the first interpolation is `bilinear` or the seconde interpolation use `scale_factor = 1`,  everything will be ok.

[2020-03-11 05:30] jiapei100 commented on #34409
@XiaobingSuper
Now my problem becomes after disable MKLDNN:

https://github.com/leonardvandriel/caffe2_cpp_tutorial/issues/77

Any suggestions?

[2020-03-11 05:57] jiapei100 commented on #9990
Just disable OpenCL?

[2020-03-11 06:43] lordeddard commented on #34531
Sure!

[2020-03-11 07:10] peterjc123 commented on #34574
It will be used when avx2 is available on your cpu.

Maybe we can add a new api for this. cc @ezyang

[2020-03-11 07:32] yoshihingis commented on #34524
Dear peterjc123

I suugesd all build log.
I used Visual stuido 2019 ,command prommpt set UTF-8

Build log included "Japananese" erros  , I translated them to English.
If there were inluded "miss-translate", I am sorry for my inconvinience.

[build log]
I attache build log. this is too long hence I could not write it.
[build_311log.txt](https://github.com/pytorch/pytorch/files/4316615/build_311log.

[2020-03-11 07:38] peterjc123 commented on #34524
Thanks for providing those logs. I'll look into it. BTW, could you please share all the libs and the DLLs you generated?

[2020-03-11 07:42] peterjc123 commented on #34524
BTW, if you are using a GPU version of LibTorch, you need to link against `c10.lib`, `c10_cuda.lib`, `torch_cpu.lib` and `torch_cuda.lib` at the same time.

[2020-03-11 07:45] prajjwal1 commented on #33953
Please provide your suggestions:
Here's the example code
[code]
Here's the file that should invoke the error, this can be placed inside `test_type_hints`
[code]
Returns
[code]

[2020-03-11 08:09] songyuc commented on #34429
Hi, @albanD ,
I think @vadimkantorov 's argument is right, as I was porting an model in PaddlePaddle, where there are two successive inplace ReLUs in the code.
And the point is, now that PaddlePaddle supports this kind of operations, I do not think PyTorch is not responsible for this.
Besides, as one inplace ReLU function is able to undertake the task of gradient backward, there is no doubt that t

[2020-03-11 08:22] wDaniec commented on #34392
Thank you for sending alternative issues. I will work on #33567 then.

[2020-03-11 08:24] wDaniec commented on #33567
I will try to fix it.

[2020-03-11 08:33] zasdfgbnm commented on #33166
Looks like something similar to the dynamic casting mechanism in cuda loops is a solution? I originally implemented such a mechanism on CPU in https://github.com/pytorch/pytorch/pull/28427, but we eventually decided to remove it because there was no perf benefit. cc: @ngimel

[2020-03-11 08:42] zasdfgbnm commented on #32881
@zihaozhang9 Could you try the latest nightly build? A recent fix https://github.com/pytorch/pytorch/pull/33073 is supposed to fix some of these errors.

[2020-03-11 08:47] zasdfgbnm commented on #32861
cc: @xwang233 Does your fix cover this bug?

[2020-03-11 09:14] guanxiang opened #34583 "Could not run 'quantized::conv2d' with arguments from the 'CPUTensorId' backend. 'quantized::conv2d' is only available for these backends: [QuantizedCPUTensorId]."
I follow the official document to quantize ERFNET，but some error happened ,when I eval the quantized model. The error is as below:

[code]

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a

[2020-03-11 09:19] zihaozhang9 commented on #32881
Sorry, I can't confirm at the moment that the problem above is a pytorch problem. Because I tried to install tensorflow, a similar problem occurred. And [Nvidia ](https://devtalk.nvidia.com/default/topic/1072514/container-tensorflow/tensorflow-cuda_error_mis-aligned_address-misaligned-address/post/5434061/#5434061)suggested that I use the reproducer to find the problem. But I don't currently use r

[2020-03-11 09:28] nikitaved commented on #32520
So, we agreed on an additional flag. This will affect the backward formula for `kl_div` as well.
Yeah, I believe it could be resolved already and it is not going to be bc-breaking.

[2020-03-11 10:27] yoshihingis commented on #34524
Dear ,peterjc123
Thank you for your advice!
1. About my build the Dlls and the libs.
 After I checked ,  I will report it later.
 Please wait.
2. About  link the Libs.
・ At firast ,I linked all Libs which included original downloaded "libtorch-win-shared-with-deps-1.4.0.zip"
・Next, I chaged my built "torch.lib" instead of the original downloaded "torch.lib!
 So , I linked the original downloadesd

[2020-03-11 10:37] yoshihingis commented on #34524
Dear ,peterjc123

 About my build the Dlls and Libs, I compare with the Dlls and Libs which included "libtorch-win-shared-with-deps-1.4.0.zip".
 I attached Excel.
[libtorch_dll_lib00310github.xlsx](https://github.com/pytorch/pytorch/files/4317635/libtorch_dll_lib00310github.xlsx)

[2020-03-11 13:40] Enolerobotti opened #34585 "Unstable softmax trace when exporting to onnx"
## 🐛 Bug

The ONNX model with softmax which is exported with torch.onnx module predicts NaNs instead of expected numerical values. The actual output does not depend on mantissa. The actual result is unstable. Meaning that expected value 5.0390004e-32 actually may be converted either to NaN or to 5.0390004e-32.  If for example 5.0390004e-32 was correctly converted to  5.0390004e-32 then it may happ

[2020-03-11 13:55] ar4 commented on #34551
It appears that this does not occur in all situations. I have tried running the example code on K80, P4, and P100 GPUs and it always prints the expected 0.0. Either it occurs on T4 GPUs (as in the case I reported above), or there was something wrong with the instance I was using when the problem occurred. I have not yet been able to re-test it on another T4 instance.

[2020-03-11 13:56] albanD commented on #34429
The thing is that the spirit of using inplace operation is to reduce memory. So in that same spirit, when we "save" variables, we don't copy them, we just take a reference to them.
If you later modify that tensor inplace, you will see the error you see now and you have to use the out-of-place version of your function.
Basically the idea is that we never do full copies of your Tensor under the hood

[2020-03-11 13:58] ezyang commented on #34574
Yeah, this seems reasonable. We could make `__config__` report what the detected avx level is as an easy test here.

[2020-03-11 14:18] ducha-aiki commented on #34089
@ptrblck thank you! Indeed, you are right in that sense that my convolution is not really 3d, but I was under the impression that similar to [1xK] kernels in inception-like architectures, which are in fact 1D convolutions, but typically run like 2D convs with extra dim, conv3d should work here as well.
Thank you for the conv2d_interleaved, it solves the problem.

[2020-03-11 14:18] #34089 closed

[2020-03-11 14:24] #33016 closed

[2020-03-11 14:35] #8049 closed

[2020-03-11 14:37] ar4 commented on #34551
I note that the cuFFT manual says

Is is possible that there are situations in which PyTorch might be setting a custom stride?

[2020-03-11 14:43] vadimkantorov commented on #8049
@pearu @nikitaved What's your take on https://github.com/pytorch/pytorch/issues/8049#issuecomment-588188616 ?

[2020-03-11 14:51] yangsenius commented on #30459
Because the `nn.ModuleList()` requires its elements to be `nn.Module` subclass or `None`.

So I try define a `None_Module`
[code]
Then use `_none= none_module()` and `transition_layers.append(_none)`.
In forward, use `if hasattr(self.transition_layers[i], "none_module_property"):` instead of ` if self.transition[i] is not None:`

[2020-03-11 14:59] yangsenius commented on #30459
@Kevin0624 Does it work?

[2020-03-11 15:29] artmatsak commented on #33813
Same issue here when exporting a BART model.

[2020-03-11 15:29] zou3519 commented on #33953
Hmm, but you're not getting that if you run mypy locally? What changes did you make to the type hints for shape? It might be helpful if you submitted a pull request (even if it the test is not working) so that we could debug together on that.

[2020-03-11 15:41] iotamudelta commented on #33128
Resolved in #34103

[2020-03-11 15:41] #33128 closed

[2020-03-11 15:44] prajjwal1 commented on #33953
Yes, I'm getting it when I'm trying it on my machine. This change
`
class Size(Tuple[_int, ...]): ...
`
fixes the problem.
I can send a PR, but I don't know where to put the example. The subprocess code can come inside `test_type_hint` but I don't know where to put the example.

[2020-03-11 15:47] savadhanistablab commented on #34028
This worked for me:
- Uninstalled tensorflow,
- Reinstalled Tensorboard.
PS: Restart Kernel and tensorboard.

[2020-03-11 15:56] zou3519 commented on #33953
There are a couple of options here. You could include the file under a new folder under the test/ directory, somewhere like `pytorch/test/type_hint_tests/size.py`. Alternatively, you could write the contents of the test to a temporary file and then run mypy over that temporary file.

[2020-03-11 15:58] ezyang opened #34590 "Turn on exact_dtype by default on test_optim.py"
## 🐛 Bug

A longstanding bug in our test suite is that `assertEqual` does not verify that the [dtypes](https://pytorch.org/docs/stable/tensor_attributes.html#torch-dtype) of two tensors match, which can lead to tests unexpectedly passing when they should fail (e.g., #33651). In #33825 we make it possible to do exact dtype matching by default, but turn it on only for `test/test_torch.py`

The purpo

[2020-03-11 15:58] ezyang commented on #34590
This task is reserved for a bootcamper.

[2020-03-11 16:12] ezyang commented on #34574
Reserving this task for a bootcamper

[2020-03-11 16:15] ngimel commented on #34576
cc @ptrblck

[2020-03-11 16:18] ngimel commented on #34573
cc @zhangguanheng66 @cpuhrsch.
@enealor do you want to work on this? If so, can you please coordinate with @zhangguanheng66 and @cpuhrsch .
Thanks!

[2020-03-11 16:19] vprelovac commented on #33813
+1

[2020-03-11 16:29] ngimel commented on #33166
This is a limitation not of TensorIterator itself (`dont_compute_common_dtype` would make TensorIterator ignore whatever input/output types are), but of `cpu_kernel_vec`. Probably `cpu_kernel_vec` can be improved to relax type restrictions.

[2020-03-11 16:39] ngimel commented on #34089
@ptrblck workaround is very clever, but it is still a real bug, in a sense that cudnn should determine under the hood that the convolution is in fact 2d and use available efficient implementation. @ptrblck can you please file a cudnn bug for this?

[2020-03-11 16:45] X-funbean opened #34592 "Why apply kaiming_normal_ with mode='fan_out' to ResNet in torchvision.models"
Although the doc says:

But I can't get it, and I haven't found many materials talking about how to choose between 'fan_in' and 'fan_out'.
What's the criterion of choosing the mode? When should 'fan_in' or 'fan_out' be chosen?  Anybody plz help me out.

[2020-03-11 16:46] seemethere commented on #34417
This should be resolved now with https://github.com/pytorch/builder/pull/418

[2020-03-11 16:46] #34417 closed

[2020-03-11 16:48] Enealor commented on #34573
@ngimel I am happy to coordinate with them. The issue that spawned this asked for helpers to first open an issue and wait for feedback. I am willing to work on it further given the go-ahead.

[2020-03-11 17:19] ezyang commented on #34551
Yes, we may have misunderstood the specification and are setting up custom strides without cloning first, esp if the input is noncontiguous. sounds like this might be easy to fix, in that case; just clone the input before calling.

[2020-03-11 17:20] spandantiwari commented on #34585
@Enolerobotti  - Do you see anything wrong with the exported ONNX model? Let us know if you do. If not, then most likely this could be an implementation issue in ORT. Could you please report this in onnxruntime repo?

[2020-03-11 17:36] prajjwal1 commented on #33953
@zou3519  I've opened a PR here https://github.com/pytorch/pytorch/pull/34595. Please provide your suggestions.

[2020-03-11 17:39] xwang233 commented on #32861
Most of these calls with deprecated signatures were fixed in #33428. They were mainly in optimizer and test code. Thanks for checking, and please let me know if there is anything missed.

[2020-03-11 17:41] zhangguanheng66 commented on #32590
This is a short review of different attention mechanism used in SOTA research and existing NLP libraries.

AllenNLP

* AdditiveAttention → Computes attention between a vector and a matrix using an additive attention function. The similarity between vector x and matrix y is computed as V tanh(Wx + Uy) [ref](https://arxiv.org/pdf/1409.0473.pdf)
* BilinearAttention → Computes attention between a vect

[2020-03-11 18:11] vincentqb commented on #20527
Thanks for the example. As mentioned in #26423, `get_lr` should be replaced by `get_last_lr`, see below.

[code]

Since #26423 has been merged, I will close this issue. Please feel free to re-open if the issue persists.

[2020-03-11 18:11] #20527 closed

[2020-03-11 18:32] zasdfgbnm commented on #32861
@jecampagne These APIs were deprecated long time ago, but just recently PyTorch start to issue warnings to them. Even inside PyTorch, these APIs were used, which is fixed at https://github.com/pytorch/pytorch/pull/33428 by @xwang233. Could you try the latest nightly build to see if you can still see these warnings? These warnings are most likely coming from optimizers.

[2020-03-11 19:00] hadaev8 commented on #34453
@albanD
## 🚀 Feature

Len mask argument for query in nn.MultiheadAttention

## Motivation

Its easy to use key_padding_mask for key argument, and not obvious how to do same for query.

## Pitch

It would be cool and useful to have a padding mask the same as for key argument.

## Alternatives

Probably, I can make a length mask with attn_mask argument, but not sure how.

## Additional context

Imag

[2020-03-11 19:48] albanD commented on #34375
@gchanan  I think [our doc](https://pytorch.org/docs/stable/autograd.html#torch.Tensor.detach) is very clear about this:
- Returns a new Tensor: so changing metadata of the Tensor won't affect the original one
- Shares storage: so it is a view and changing the values will change the original Tensor.

The idea behind preventing metadata change was to avoid a silent BC-breaking change.
I would be in

[2020-03-11 19:53] dncliss opened #34606 "Multiple CMake target errors ever since commit 0e52627358"
## 🐛 Bug

Building pytorch on platform `ppc64le`, since Feb 28, has resulted in a flurry of CMake Error
messages partway through the build.  An example of the error message appears below, though the error will repeat with some variations and different target names:

[code]

To see a full log with the varying CMake errors, here is an example CI output on ppc64le:
https://powerci.osuosl.org/job/pyto

[2020-03-11 19:55] dncliss commented on #34606
Main page with nightly CI builds on `ppc64le`; you can see the failures every night starting Feb 29.  Output is available to browse for any of these runs, though the failure messages are all
essentially the same since that date:
https://powerci.osuosl.org/job/pytorch-linux-cuda92-cudnn7-py3-mpi-build-only-gpu/

[2020-03-11 20:04] kimishpatel commented on #34606
Thank you @dncliss for bringing this up. It may need a little more digging in to figure out what is happening. From the looks of it is trying to redefine ATEN_CPU_FILES_GEN_TARGET target, but nothing seems obvious why this should be. I will try to take a look, but it may take some time.

[2020-03-11 20:08] kimishpatel commented on #34606
@dncliss, maybe a quick way to check if that commit is a problem create a trial branch and apply revert of that commit on it?

[2020-03-11 20:18] jiapei100 opened #34611 "Eigen version for PyTorch ?"
Which version of eigen is working for PyTorch?

[code]

[2020-03-11 20:20] gvashishtha opened #34612 "No module named tools.nnwrap when installing py35 torch on Windows"
## 🐛 Bug

I get an ImportError when trying to install torchvision from a pip wheel on Windows in a fresh conda environment.

## To Reproduce

Steps to reproduce the behavior:

1. `conda create -n py35 python=3.5`
1. `conda activate py35`
1. `pip install "https://download.pytorch.org/whl/cpu/torchvision-0.5.0%2Bcpu-cp35-cp35m-win_amd64.whl"`

[code]

## Expected behavior

Expected installation to p

[2020-03-11 20:25] mk123qwe opened #34613 "RuntimeError: Could not run 'aten::thnn_conv2d_forward' with arguments from the 'QuantizedCPUTensorId' backend. 'aten::thnn_conv2d_forward' is only available for these backends: [CPUTensorId, VariableTensorId]."
## 🐛 Bug

 - PyTorch Version (e.g., 1.0):1.4
 - OS (e.g., Linux):ubuntu16.04
 - How you installed PyTorch (`conda`, `pip`, source):pip
 - Build command you used (if compiling from source):
 - Python version:3.6
 - CUDA/cuDNN version:10.1
 - GPU models and configuration:
 - Any other relevant information:

## Additional context
RuntimeError: Could not run 'aten::thnn_conv2d_forward' with arguments

[2020-03-11 20:27] ngimel commented on #34611
Pytorch comes with its own eigen submodule. If you want us to be able to help you, please give more details about your build envoronment.

[2020-03-11 20:29] ngimel commented on #34592
These sort of questions is better suited for the forums, discuss.pytorch.org

[2020-03-11 20:29] #34592 closed

[2020-03-11 20:35] gvashishtha commented on #34612
One workaround for now: `pip install https://download.pytorch.org/whl/nightly/cpu/torch-1.4.0.dev20191015%2Bcpu-cp35-cp35m-win_amd64.whl` (this randomly chosen nightly build doesn't produce the same error as the main one)

[2020-03-11 20:47] ashishfarmer opened #34615 "TestNN.test_cpu_vs_cudnn_no_dropout does not test MIOpen RNN on ROCm"
Running `PYTORCH_TEST_WITH_ROCM=1 python test_nn.py TestNN.test_rnn_cpu_vs_cudnn_no_dropout` does not run MIOpen path.
This [line](https://github.com/pytorch/pytorch/blob/70f3298684538ee1b37fb61a2c8b858ad277c16d/test/test_nn.py#L5556) in test_nn.py sets data type of tensors for the test to `double`, which is not supported by MIOpen which is why during execution we fall back to HIP kernels rather t

[2020-03-11 21:09] MattToul commented on #34541
Solved it by using libtorch_cpu.a

[2020-03-11 21:09] #34541 closed

[2020-03-11 21:25] alanhdu commented on #22573
FWIW, we've also run into this problem: in our use case, we want to factor *many* small matrices (e.g. factor 5000 16x16 matrices), which neither the GPU or the CPU implementations of PyTorch seem well-suited for: the CPU version does not seem to parallelize across the batch dimension well (no matter the batch size, I only saturate 1.5 cores on my laptop) while the GPU version is painfully slow (e

[2020-03-11 21:32] xuhdev commented on #23177
This should have been fixed now. Closing.

[2020-03-11 21:32] #23177 closed

[2020-03-11 21:37] xuhdev opened #34621 "A better way to show users all build options"
We currently have build options enumerated at the top of setup.py. This, however, is redundant (as the info is largely available in CMakeLists.txt) and is pretty fallible and confusing. We should make it more user-friendly, say, `python setup.py help` should list the options extracted from `CMakeLists.txt`.

---

This dates back to discussion long time ago with @ezyang , but was never written down

[2020-03-11 21:46] dncliss commented on #34606
@kimishpatel - thanks for your thoughts on this.  I'll keep looking myself.  As for the ATEN_CPU_FILES_GEN_TARGET, that's just one of many, so the issue isn't specific to that target; there's something else underlying that is having an impact.

To find the specific commit that introduced the issue, I looked for likely commit targets on Feb 28/29 when the nightly builds started failing.  I looked f

[2020-03-11 22:00] mrshenli commented on #34359
@hhwode thanks for reporting. We will investigate. It could be Python GC didn't launch in time, or dist autograd context wasn't deleted fast enough on remote node, or a bug.

For RRef, we can try explicitly call `del rref`.
For dist autograd, do we have API to block waiting for dist autograd context deletion? @pritamdamania87

[2020-03-11 22:11] leigh-plt commented on #34540
CPU module crashed after 32 batch size too.

[2020-03-11 22:12] mrshenli commented on #33939
@doudoubobo thanks for reporting. I can reproduce this issue, and the error is as following:

[code]

[2020-03-11 22:25] ptrblck commented on #34576
Double post from [here](https://discuss.pytorch.org/t/large-runing-time-difference-between-p100-and-v100/72533).

Let's keep the discussion here for now. I'll try to grab a machines with the right setup and try to reproduce.

[2020-03-11 22:47] jjlilley commented on #33939
@mrshenli  So, the issue is that JIT Pickler doesn't yet support pickling sparse tensors. Not sure where this is on their priority list.
 - Ideally, once this happens, this would just work.
 - Though, we have to also add a !has_storage() check in this file first
 - We could un-sparseify the tensors automatically, but that could be quite slow - not sure if that's what we really want? Maybe defer to

[2020-03-11 22:50] ashishfarmer commented on #34615
Enforcing the `dtype` in `_test_RNN_cpu_vs_cudnn` to `float` ensured that the input and hx and cx tensors are `floats` however, it initialized weights tensor as `double` because of the global setting [here](https://github.com/pytorch/pytorch/blob/56832bf7f3ab44dd3472ac82e7acc471479441d6/test/test_nn.py#L27).

[2020-03-11 22:53] jjlilley commented on #33939
https://github.com/pytorch/pytorch/pull/34626 will add the has_storage() check.

[2020-03-11 23:22] AmericanEnglish commented on #26555
I would like to second this idea. This fixed the build error for me as well. It definitely seems to be a problem using MKLDNN even at commit 2de4f245c6b1e1c294a8b2a9d7f916d43380af4b the issue persists but the suggested fix works.

[2020-03-11 23:42] ngimel commented on #34615
You could probably cast the module to `dtype` to make sure it's `float`?

[2020-03-11 23:43] ngimel commented on #34621
That's a great idea!

[2020-03-12 00:26] peterjc123 commented on #34612
Would you please try the following command?
[code]

[2020-03-12 00:30] peterjc123 commented on #34612
I don't think this is possible to fix because
1. You are using direct link, so it won't find  any package unless it is hosted on pypi.
2. However, windows binares are not available on pypi.

[2020-03-12 00:37] #34525 closed

[2020-03-12 00:46] cpuhrsch commented on #33129
@skn123 - sorry for the delayed reply. Gow is this different from what we're currently doing?

[2020-03-12 00:50] cpuhrsch commented on #32851
This issue seems unrelated to NestedTensors.

@simonverret - If I'm understanding you correctly you want to pass in a Dataset that's simply backed by a list but observe unexpected behavior when it comes to sampling.

Try using our own collate_fn. This will give you full control over how batches are assembled. There you can then decide whether you want to return a list of Tensors or other construct

[2020-03-12 00:59] zhujun5164 commented on #34574
thanks if have any result, please ask to me.

[2020-03-12 01:07] cpuhrsch commented on #34573
@Enealor - We're actively working on this for several of the reasons you stated. We'll need review / input of our designs and eventually also work to implement. I'm happy to see we have community support for this and are happy to loop you in.

[2020-03-12 01:22] X-funbean commented on #34592
I found similar questions on discuss.pytorch.org, but it seems theres no satisfying answers, so I wish to find some answers here. Thanks a lot. @ngimel

[2020-03-12 01:38] ezyang commented on #34615
Inability to specify dtype when allocating module parameters is a long standing wart in PyTorch's API. Natalia's suggestion is the most expedient. I couldn't find an issue about this, but maybe we should consider (1) expunging the use default data type in our tests (somehow) and (2) figuring out a way to let modules allocate at different dtype/device directly.

[2020-03-12 01:38] mhaboali commented on #33758
It was resolved by reinstalling the GPU driver.

[2020-03-12 01:38] #33758 closed

[2020-03-12 02:01] zhangguanheng66 commented on #34573
Definitely. As the first step, please split the MHA function into several building blocks in nn.Module and nn.functional. Something like [this](https://github.com/zhangguanheng66/torchBERT/blob/6becd06ee049b9e0d35dc222b2c3410473263664/torchBERT/model.py#L45-L105) should be a good start. Feel free to pin us once you have a PR.

Please keep in mind that those building blocks should be JIT-ability, q

[2020-03-12 04:23] jiapei100 commented on #34611
@ngimel

Thank you for your prompt reply. I'm NOT using your Eigen, but a system Eigen, which is the MOST up-to-date one.

[2020-03-12 04:26] #34531 closed

[2020-03-12 04:59] sharvil commented on #6760
In case folks are still looking for it, there's a fast `LayerNormLSTM` implementation in [Haste](https://github.com/lmnt-com/haste).

[2020-03-12 07:01] #34121 closed

[2020-03-12 07:01] shiyongde commented on #34295
I fixed it by using docker。

[2020-03-12 07:01] #34295 closed

[2020-03-12 07:25] yoshihingis commented on #34524
Dera,peterjc123.

I have one thing to confirm.
I want to build the Dlls and the libs for libtorch Ver.1.4.
Yesterday you told me that I had to link toch_cuda.lib instead of torch.lib.
But the original downloaded libtorch file  "libtorch-win-shared-with-deps-1.4.0.zip" did not include torch_cuda.lib.
 but the downloaded  Prevew(nightly) libtoch file has toch_cuda.lib and the file size of toch.lib i

[2020-03-12 08:08] lanjinraol commented on #34450
I also have the same error. It works when I reduce the size of features.  https://discuss.pytorch.org/t/maxpool2d-error-instead-of-1d/69444

[2020-03-12 08:12] songyuc opened #34643 "Could you please add a torch setting like torch.set_checkpoint_enabled(True)"
## 🚀 Feature
Hope you to add a torch setting like `torch.set_bp_cp_enabled(True)`, so that every `nn.module` in the code will conduct the backward in the checkpoint mode so as to minimize the GPU memory usage.

## Motivation
I'm always frustrated when the parameters number of a model is so large that I will be worried that I cannot train it on my own GPU server.

## Pitch

When `torch.set_bp_cp_en

[2020-03-12 09:06] Enolerobotti commented on #34585
@spandantiwari yes, I see something wrong with the exported graph.
[code]
I guess I get NaN during the division Div(%3, %4). So, this bug is not come from the onnxruntime.

I've found a workaround. The workaround is replace negative axis -2 in the softmax with x.dim()-1. After the replacement I get correct results. Now the graph is

[code]
Unfortunately, this workaround is not useful for me becaus

[2020-03-12 09:06] peterjc123 commented on #34524
Sorry I messed it up. As for PyTorch 1.4.0, the library `torch.lib` is effective. But in master, it is split into two libraries `torch_cpu.lib` and `torch_cuda.lib`, and `torch.lib` itself becomes an empty stub.

[2020-03-12 09:09] peterjc123 commented on #34524
Our build script: https://github.com/pytorch/builder/blob/master/windows/build_pytorch.bat.

[2020-03-12 09:57] PrashantDandriyal commented on #1633
I guess running it on terminal works after uninstalling and installing numpy as mentioned here
https://github.com/tensorflow/tensorflow/issues/25942#issuecomment-563413326

[2020-03-12 10:06] yoshihingis commented on #34524
Dear peterjc123
Thank your kindness,
You suggested build tool "build_pytorch.bat" , I wondef that it is build tool only for the pytorch.
To make sure, I give you one question.
Does the build_pytorch.bat  buid all DLLs and Libs for the libtorch ?

Regards,

[2020-03-12 10:54] tjysdsg commented on #7318
Broken things that I have noticed in version 1.4.0:
[code]

[2020-03-12 11:39] peterjc123 commented on #34524
No, it could be used to build libtorch too. You may need `set BUILD_PYTHONLESS=1`.

[2020-03-12 12:25] yoshihingis commented on #34524
Dear peterjc123
Thank you for your advice.
I will try to build libtorch from the source with "build_pytorch.bat".

Regards,

[2020-03-12 12:40] vadimkantorov opened #34646 "Support creating a CPU tensor from ctypes pointer"
NumPy has utilities that allow to create an array from a ctypes pointer in pure Python (without C++ extensions):
- https://docs.scipy.org/doc/numpy/reference/routines.ctypeslib.html#module-numpy.ctypeslib
- https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.ctypes.html

In C++ land, it seems that [`torch::from_blob`](https://pytorch.org/cppdocs/api/function_namespacetorch_1ad7fb2a7

[2020-03-12 14:18] vadimkantorov commented on #34646
Can Storage.from_buffer be used now for this purpose? https://github.com/pytorch/pytorch/issues/30387 and I wonder what happens about freeing the memory.

https://github.com/pytorch/pytorch/blob/74ce3a032cc6df0a208c0769060c062d37e9bb32/torch/csrc/generic/StorageMethods.cpp#L87

[2020-03-12 14:32] mrshenli commented on #33939
Yep, deferring it + good error message sound good to me.

[2020-03-12 14:37] SteversIO commented on #34451
I am also getting this from a clean build.

[2020-03-12 14:37] vadimkantorov commented on #34646
[from_dlpack](https://pytorch.org/docs/stable/dlpack.html?highlight=from_dlpack#torch.utils.dlpack.from_dlpack) seems to be a good way for interop with C code, but a version that accepts the DLTensor fields as arguments (or provides a way to construct the relevant PyCapsule from bare values)

[2020-03-12 14:42] zou3519 commented on #7318
@tjysdsg Thanks for reporting. Could you open a new issue with those cases for more visibility?

[2020-03-12 14:43] albanD commented on #34451
Triage review to make sure the xnnpack module is properly looked into by the relevant people.

[2020-03-12 14:55] ezyang opened #34647 "Correctly sfinae template constructors of IValue"
Currently, IValue (`aten/src/ATen/core/ivalue.h`) has the following templated constructors:

[code]

These templated constructors recursively make use of the IValue(T) constructor, for whatever selection of what T is. Unfortunately, these constructors are not SFINAE'd, which means we will consider IValue constructible for *any* setting of T, even if the underlying IValue(T) constructor doesn't exi

[2020-03-12 14:59] ezyang commented on #34647
This task is currently reserved for bootcamp, let me know if you have questions about it.

[2020-03-12 15:03] terhuhf commented on #34543
Closed by https://github.com/pytorch/pytorch/pull/34584

[2020-03-12 15:03] #34543 closed

[2020-03-12 15:25] ngimel commented on #34643
Thank you for the suggestion. We would be willing to accept a PR enabling this feature

[2020-03-12 15:26] ezyang opened #34648 "test_complex should inherit from torch.testing._internal.common_utils.TestCase"
self explanatory. cc @ezyang @anjali411 @dylanbespalko

[2020-03-12 15:39] albanD commented on #34643
For the alternative method with a module-level flag. The thing is that checkpointing is only useful if you wrap multiple modules together. As the memory it saves is the intermediary results between module.
So this wouldn't be useful I think.

For the global context, how would you plan on doing this?

[2020-03-12 15:52] McHughes288 commented on #3867
This is one way to get same padding working for any kernel size, stride and dilation (even  kernel sizes work too).

[code]

[2020-03-12 15:59] ngimel commented on #34450
@xwang233 can you please take a look if fractional_max_pool has the same bug as the one you recently fixed for max_pool?

[2020-03-12 16:25] vadimkantorov opened #34649 "Confusing error message of tensor constructor when passing a storage"
I tried to use torch.Tensor and pass it a torch.Storage (maybe wrongly) and got this:
[code]

Even if this is not allowed, a better error message would make more sense!

[2020-03-12 16:39] vadimkantorov commented on #34646
As a workaround I do:

[code]
In essence I first cast ctypes pointer to ctypes array, and then construct a storage+tensor out of it.

Not sure what happens with freeing memory: if it is freed and if yes and who is responsible for doing it

[2020-03-12 16:49] busterbyron commented on #34484
Hey, thanks for responding. Turns out I had a driver (and thus cuda) that was incompatible with my system, and I think I messed up the path a bit.

PyTorch is working great now, except that despite building from source I still get the following message--is that to be expected?

it__.py:87: UserWarning:
    Found GPU0 GeForce GTX 770 which is of cuda capability 3.0.
    PyTorch no longer supports t

[2020-03-12 16:55] vadimkantorov opened #34651 "Support passing memoryview to torch.as_tensor"
As far as I understand, memoryview python objects support itemsize and shapes, ndim, strides etc:

https://docs.python.org/3/library/stdtypes.html#memoryview :
[code]

[2020-03-12 17:19] lucmos commented on #22573
Hi @alanhdu,

I'm hitting the same problem. Are you defining a custom `backward` pass for the QR decomposition?

[2020-03-12 17:26] albanD commented on #34484
Yes, because the new features in 3.5 give very large speed improvement, we do not restrict ourselves to not use these features. So running on 3.0 might stop working at any time as it is not an officially supported capability.
We try to do our best to make it still work, but that might not be possible going forward.

This is a python warning, so you can silence it as any other python warning if you

[2020-03-12 17:26] #34484 closed

[2020-03-12 17:48] eellison opened #34658 "DISABLED test_keypoint_rcnn (__main__.TestONNXRuntime_opset11)"
## 🐛 Bug

https://app.circleci.com/pipelines/github/pytorch/pytorch/138566/workflows/850299ec-3258-4e78-b680-cfad253c746a/jobs/4782754/parallel-runs/0/steps/0-105

[code]

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2020-03-12 18:05] noahgolmant opened #34660 "Add "strict" flag to ignore missing parameters in Optimizer.load_state_dict"
## 🚀 Feature

Add a `strict` flag to `Optimizer.load_state_dict` to match the interface for `nn.Module.load_state_dict`. This allows the optimizer to ignore missing parameters in the optimizer state.

## Motivation

Currently, loading optimizer state fails when the new optimizer object has distinct parameters from the saved state. This makes finetuning difficult since I would prefer to load partia

[2020-03-12 18:20] neginraoof commented on #34658
Thanks Elias. About the WIP PR you have for interpolate to optimize the executed ops, can you tell me in what stage is the PR? I'm trying to see if can look into this PR more.

[2020-03-12 18:30] imskr commented on #34351
@jerryzh168 Since `requantize` is implemented in PR: #34376 I can now add `scalar_type` in file right?

[2020-03-12 19:13] ezyang opened #34666 "setup.py is not respecting CC variable"
Steps to reproduce:
1. have a gcc install on your system (preferably, something really old, so it's obvious when it's called); also have a clang install
2. run `CC=clang CXX=clang++ python setup.py develop`

Expected result: clang is used
Actual result: gcc is still used to compile some files

Note that the cmake will report that it detected clang. But gcc still gets used anyway...

[2020-03-12 19:14] ezyang commented on #34666
Actually it turns out I was correctly using clang, but pulling the wrong system headers.

[2020-03-12 19:14] #34666 closed

[2020-03-12 19:17] #31611 closed

[2020-03-12 19:37] driazati opened #34672 "[jit] pow of 2 `int`s returns a `float`"
[code]

cc @suo

[2020-03-12 19:40] eellison commented on #34672
This is expected behavior. 2 ** -2 returns a float. We could return ScalarType but thought it’d be a worse ux.

[2020-03-12 19:45] alanhdu commented on #22573
That's our plan, but we haven't gotten around to implementing it yet.

[2020-03-12 19:54] eellison commented on #34658
It's mostly getting the size & shape info of the input tensor, and then figuring out ways to constant prop that through. It has a few dependencies so probably a week or two out from being landed.

[2020-03-12 19:58] dncliss commented on #34606
Updating: Experimenting a little more today:

[code]

The last scenario above is probably not worth looking at, being a bogus mixture of
two commits and it demonstrating the ongoing error in question.

The rest of 0e52627358 doesn't cause breakage without the 2 corresponding CMakeList.txt
file changes in place.
The failure *is* there with new caffe2/CMakeList.txt and old caffe2/utils/CMakeList.txt

[2020-03-12 20:07] kimishpatel commented on #34606
Try removing these lines:   https://github.com/pytorch/pytorch/commit/0e52627358c4ec60243f9d8e19b722b7b2265ffc#diff-8f885316d57c59b5aa82e9857dbe5935R62-R65?
I dont suppose "-fno-openmp" flag applies to your build.
If not that it might be related to this: https://github.com/pytorch/pytorch/commit/0e52627358c4ec60243f9d8e19b722b7b2265ffc#diff-8f885316d57c59b5aa82e9857dbe5935R55-R61
Unfortunately fxd

[2020-03-12 20:16] rohan-varma commented on #34141
@aazzolini Any idea on why this may fail? It seems to be very rare so not sure if there's a race condition with the seeding or something like that.

[2020-03-12 20:48] musikisomorphie opened #34675 "[feature request]Support dilation parameter for unfold2d_* function (slow cpu maxpool2d #28733)"
## Issue description

@soumith, @VitalyFedyunin, @karimhasebou, I was investigating slow maxpool2d on cpu issue #28733.

I thought I could use the conv2d implementation, but two important functions unfold2d_acc, unfold2d_copy (https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cpu/Unfold2d.cpp) lack of dilation parameters, which are required in maxpool2d. This also leads to slow c

[2020-03-12 21:14] dncliss commented on #34606
Yep....narrowing down: removing lines 62-65, the error remains as described.  (Also, removing 695-697 only, same thing.)
But keeping those and removing only lines 55-61, the fxdiv stuff, makes the compile choke - demonstrating as you say, that this is a fundamental element of that commit.
I'm wondering also why (or if?) this is only failing on our PPC64LE platform for some reason.  But even if so,

[2020-03-12 21:16] jerryzh168 commented on #34613
This means you are feeding a quantized Tensor to a non-quantized kernel, could you paste your code?

[2020-03-12 21:17] jerryzh168 commented on #34613
Also please post questions in: https://discuss.pytorch.org/c/quantization/17

[2020-03-12 21:20] jerryzh168 commented on #34583
this means you are feeding non-quantized Tensor to a quantized kernel. I think probably QuantStub is not placed correctly, could you post your model?

Also please use https://discuss.pytorch.org/c/quantization/17 for questions.

[2020-03-12 21:21] ninjakx opened #34680 "ImportError: cannot import name 'GoogLeNetOutputs' from 'torchvision.models.googlenet'"
Version:
torch==1.4.0
torchvision==0.5.0
fastai==1.0.60

Getting this error while calling fastai

**Traceback:**

[code]

[2020-03-12 21:35] #34680 closed

[2020-03-12 21:37] linjieyangsc commented on #29724
Hi, @supriyar @alohali. Is there any solid plan to support quantized model conversion to onnx? As far as I know TensorRT now supports inference with int8 arithmetics on some NVDIIA GPUs, and to convert pytorch model to tensorRT we have to go through onnx for now. It will be a great benefit if we can convert quantized pytorch models to onnx. Thanks!

[2020-03-12 21:47] ngimel commented on #34646
I was going to suggest `from_buffer` workaround, but I also don't know who is responsible for freeing the memory.

[2020-03-12 21:54] jerryzh168 commented on #29724
@linjieyangsc I think we might want to support that through graph mode quantization. cc @raghuramank100

[2020-03-12 21:58] arunkumarpaleti opened #34682 "Pytorch not compatible with react native android"
## 🐛 Bug

I started using Pytorch in my app in which a module is already using ReactNative.Application is crashing while running the model

## To Reproduce

Steps to reproduce the behavior:

1.Download sample react native Android code
2.Integrate Pytorch
3.Try to load a sample model using Pytorch.

App crashes with following error
 java.lang.UnsatisfiedLinkError: couldn't find DSO to load: libpyto

[2020-03-12 22:17] mruberry commented on #34651
Hey @vadimkantorov, thanks for the idea! Would you be interested in submitting a PR for this behavior?

[2020-03-12 22:22] vadimkantorov commented on #34651
@mruberry Sorry, I don't have time lately for contributing (and learning to contribute and the codebase itself) to PyTorch more substantively than complaints in issues :(

[2020-03-12 22:24] mruberry commented on #34649
Can you elaborate on your use case a little? Instead of having multiple storages, why not just have multiple tensors associated with those storages in the first place?

[2020-03-12 22:26] mruberry commented on #2659
Closing this old issue due to lack of response.

[2020-03-12 22:26] #2659 closed

[2020-03-12 22:28] mruberry commented on #2655
Closing due to age and lack of response. Please reopen/comment if this is still an issue!

[2020-03-12 22:28] #2655 closed

[2020-03-12 22:30] vadimkantorov commented on #34649
My usecase is this: https://github.com/pytorch/pytorch/issues/34646

I tried a few things to simplify the code. One of them was creating a typed storage, and then trying some generic method to create a tensor from it. The most logical was [torch.as_tensor](https://github.com/pytorch/pytorch/issues/34651) and torch.Tensor.

Even if passing typed storage to torch.Tensor constructor is not supported,

[2020-03-12 22:30] alexge233 commented on #34223
Just a bump, in order to get more people's opinions.

[2020-03-12 22:31] mruberry commented on #2647
Closing due to age and the script running successfully for me on nightly. Please reopen comment if this is still an issue!

[2020-03-12 22:31] #2647 closed

[2020-03-12 22:33] mruberry commented on #2646
This works for me on nightly. Closing due to age - do you still encounter an error here? Please comment/reopen if so!

[2020-03-12 22:33] #2646 closed

[2020-03-12 22:34] mruberry commented on #2626
Closing due to age and lack of updates. If this is still an issue please comment/reopen!

[2020-03-12 22:34] #2626 closed

[2020-03-12 22:42] vadimkantorov commented on #34649
@mruberry I don't have multiple storages simultaneously. It's that I don't know beforehand the storage type... In the code example in https://github.com/pytorch/pytorch/issues/34646 I have to use two dictionary lookups as a workaround: dtype2storage and dtype2tensor.

[2020-03-12 23:48] nikitaved commented on #8049
@vadimkantorov, let's probably write that proposal discussed in [#29488](https://github.com/pytorch/pytorch/pull/29488) where we could keep a list of desirable algorithms?
You can kick off with the largest eigenvector. I also have some things in my mind.
Will you be able to formulate it? I will join you in once I have a bit of free time.

[2020-03-13 00:18] ailzhang commented on #33870
Update from chat with @ngimel :
[code]
Also works and expected...
autograd also failed in those cases
[code]

[2020-03-13 01:05] xwang233 commented on #34450
For the `fractional_max_pool`, please check this
https://github.com/pytorch/pytorch/blob/9f05fc932270d6758868df847c79e3e6974a052e/aten/src/ATen/native/cuda/DilatedMaxPool2d.cu#L574-L576
which is code within `max_pool2d_with_indices_backward_out_cuda_template` function. I have no idea why it's called `fractional_max_pool`.

I've checked @Youarerare 's "esim.txt" code, and only `max_pool1d` is used.

[2020-03-13 01:13] Hao-Yan commented on #12873
I did some experiment with below code:

![image](https://user-images.githubusercontent.com/6327453/76579377-2d358200-6489-11ea-8c33-b4fefab3affd.png)

With command `pmap -x pid`, I see that there is a large `anon` mapping memory, which is non file-backend memory and most of it is in `RSS`.

![image](https://user-images.githubusercontent.com/6327453/76578420-bfd42200-6485-11ea-87c6-837057f0e280.png

[2020-03-13 01:28] tjysdsg opened #34699 "Broken Hinting for PyCharm, torch 1.4.0"
## 🐛 Bug

Broken hinting in IDEs like PyCharm

Similar issue to #7318, but for version 1.4.0

## To Reproduce

Steps to reproduce the behavior:

- `torch.cuda.manual_seed` cannot find `manual_seed`
- `torch.cuda.manual_seed_all` cannot find `manual_seed_all`
- `torch.utils` cannot find `utils`
- `torch.backends` cannot find `backends`
- `torch.optim.lr_scheduler._LRScheduler.step()` argument `epoc

[2020-03-13 01:29] tjysdsg commented on #7318
Here it is #34699, I'll also update the issue if I find anything new

[2020-03-13 02:23] feipenghe commented on #34451
I am following instruction here.[cuda on macbook](https://www.cs.rochester.edu/u/kautz/Installing-Pytorch-Cuda-on-Macbook.html)
I am thinking is it because the driver listed only support GTX up to 600. But mine is GTX 1060 and its corresponding driver doesn't have macos version.
But nvidia manager does recognize my graphical card though.
![Screen Shot 2020-03-12 at 19 23 21](https://user-images.gi

[2020-03-13 03:46] mrshenli commented on #27096
closed by #31893

[2020-03-13 03:46] #27096 closed

[2020-03-13 03:49] mrshenli commented on #34304
closed by #34505

[2020-03-13 03:49] #34304 closed

[2020-03-13 03:49] mrshenli commented on #34353
closed by #34505

[2020-03-13 03:49] #34353 closed

[2020-03-13 03:51] mrshenli commented on #34237
closed by #34505

[2020-03-13 03:51] #34237 closed

[2020-03-13 03:52] mrshenli commented on #34260
closed by #34505

[2020-03-13 05:00] merisgong208 opened #34703 "[JIT] UserWarning: `optimize` is deprecated and has no effect. Use `with torch.jit.optimized_execution() instead"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

---------------------------------------------
model = mysfv2.shufflenet_v2_x0_5()
model.load_state_dict(torch.load('shufflenetv2_x0.5-f707e7126e.pth'))
model.eval()

example = torch.randn(1,3,224,224)
traced_script_module = torch.jit.script(model, example) #warning here
traced_script_module.save('shufflene

[2020-03-13 06:15] guanxiang commented on #34583
hi jerry
thanks for your replay. I do not add any QuantStub, DeQuantStub in the code, just convert model to quantized model

[2020-03-13 06:42] xieshuqin opened #34704 "RuntimeError: derivative for grid_sampler_2d_backward is not implemented"
Hi

When trying to compute the second order derivative of `grid_sampler`, the following error occurs: `RuntimeError: derivative for grid_sampler_2d_backward is not implemented`.

It seems useful to support second order derivative for bilinear interpolation operations like this, given bilinear interpolation is used in some common operations like deformable convs and roialign.

Another side question

[2020-03-13 07:57] rohan-varma commented on #34260
Unfortunately it looks like this is still failing, so I'm reopening the issue. It failed on my unrelated change () when I landed it: https://github.com/pytorch/pytorch/commit/fd355965857f5c281d0b60be864745e7b7a223bd

https://app.circleci.com/pipelines/github/pytorch/pytorch/139173/workflows/0d3e7e18-218e-4189-a0d7-504d7eeb15de/jobs/4798239
https://app.circleci.com/pipelines/github/pytorch/pytorch/

[2020-03-13 08:36] whl287 opened #34707 "Pytorch report INTERNAL ASSERT FAILED at ..\torch\csrc\jit\ir.cpp:1529 when use torch.jit.script to convert to model"
## 🐛 Bug

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\ProgramData\Anaconda3\envs\pytorch\lib\site-packages\torch\jit\_recursive.py", line 534, in recursive_script
    return create_script_module(nn_module, infer_methods_to_compile(nn_module))
  File "C:\ProgramData\Anaconda3\envs\pytorch\lib\site-packages\torch\jit\_recursive.py", line 296, in create_script_

[2020-03-13 09:51] ptrblck commented on #34576
I'm not sure how the `loss_fn` and optimization is defined, so I profiled `affine_grid` and `grid_sample` using this code:
[code]
(and also divided `N, C, D, H, W` by 2 for another smaller run).

I used a source build and CUDA10.2.89 as well as the latest stable binaries with CUDA10.1.

Results:

| | `1.5.0a0+99e211e` + CUDA 10.2.89 | `1.4.0` + CUDA10.1 |
| ------------- |-------------| -----|
| V

[2020-03-13 10:21] peterjc123 commented on #34707
Would you please share your code?

[2020-03-13 12:14] v0dro commented on #24621
As was agreed in today's meeting, I will work on a straightforward port to ATen and Nik will work on porting using TensorIterator, after which we can compare the performance and see which implementation is faster.

[2020-03-13 12:16] whl287 opened #34713 "torch.jit.script report error when using index to subscript nn.ModuleList"
## 🐛 Bug
torch.jit.script report error when using index to subscript nn.ModuleList

## To Reproduce

Steps to reproduce the behavior:

1. test.py
<pre>import torch.nn as nn

class my_model(nn.Module):
    def __init__(self):
        super(my_model, self).__init__()
        self.m = nn.ModuleList([nn.Conv3d(3, 64, kernel_size=(5, 7, 7), stride=(1, 2, 2), padding=(2, 3, 3), bias=False),

[2020-03-13 12:21] whl287 commented on #34707
I am sorry, but the code is behind the firewall, i am not allowed to upload it, I have adjust the code and it can not be reproduced, I will ask for your help after it reproduce again, thanks

[2020-03-13 13:26] jjabo opened #34714 "torch.distributions.Categorical.sample uses unnecessary huge amount of memory"
## 🐛 Bug

When sampling from a torch.distributions.Categorical distribution initialized with a few distributions (e.g. 2 distributions each with 2**16 categories) the sample() functions allocates unnecessary huge amount of memory.

## To Reproduce
[code]

Output:
Traceback (most recent call last):
  File ".../lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3326, in run_code

[2020-03-13 13:40] vikramg1 commented on #24081
on my HP Envy dual boot laptop, I had to disable virtulization in the BIOS settings. Seems to work now.

[2020-03-13 13:53] ezyang opened #34715 "Maybe gpu_kernel shouldn't ASSERT_HOST_DEVICE_LAMBDA"
I am not really sure why this assert exists (don't you only need a device lambda for gpu kernels?), but I was recently working on #31278 and discovered a case where it was actively harmful to define things as a `__host__ __device__` lambda.  Consider this code:

[code]

This doesn't work, because lambdas with captures only work for pure `__device__` lambdas, not `__host__ __device__` lambdas. So t

[2020-03-13 14:10] albanD commented on #33870
The auto-casting is not a problem in itself, but the backward formula are for the function without the auto-casting.
So if this auto-casting is considered valid in the forward, we have to find a way for the backward formula to match.

[2020-03-13 15:14] vincentqb commented on #24892
We don't think this method should be in pytorch core, at least not yet.

Our reservation is that we want to include methods that the community uses as a standard, or else the code maintenance problem balloons up for us. We do show discretion based on what the paper shows as evidence, for example BatchNorm was included within weeks of it's publish date (in Torch). In terms of rejected methods, we'v

[2020-03-13 15:14] #24892 closed

[2020-03-13 15:14] colesbury commented on #34715
We need to infer the types of the lambda's parameters. CUDA kernels have a weird two-stage compilation that necessitates tagging lambda's as `__host__` to be able to get at the parameter and return types. I don't remember all the details. If you want to see how things fail, try removing the assertions.

You can, in general, capture values with `__host__ __device__` lambdas. For example, we do that

[2020-03-13 15:22] vincentqb commented on #21988
I second [comment](https://github.com/pytorch/pytorch/issues/21988#issuecomment-503819515) given above. Adding gaussian noise to the gradient in SGD is simple, and does not require an extra interface. I will close this issue, but please feel free to re-open if you think this is not the case.

[2020-03-13 15:22] #21988 closed

[2020-03-13 15:31] mrshenli opened #34716 "DISABLED test_stress_heavy_rpc_torchscript (__main__.RpcTestWithSpawn)"
This is still flaky after #34505

https://app.circleci.com/pipelines/github/pytorch/pytorch/139235/workflows/eedfde36-e956-4d3f-952b-24fd62639d14/jobs/4801429

[code]

cc @ezyang @gchanan @zou3519 @suo @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar

[2020-03-13 15:42] ezyang commented on #34715
It doesn't work with the explicit pointer (I tried it!). And to be clear, the issue here is the *nested* lambda (the top level lambda captures fine). But yeah, maybe there's just not a good answer here (and there is an ok workaround.)

[2020-03-13 16:14] colesbury commented on #34715
Does this have anything to due with captures?

Try removing the tag on the nested lambda.

[2020-03-13 16:14] colesbury commented on #34715
https://gcc.godbolt.org/z/LXuMgX

[2020-03-13 16:17] kostekIV commented on #34380
Hi @anjali411 I looked into how it was done with `randn` function and have couple of questions.
I see that `normal_` is dispatched through file `native_functions.yml` either to `normal_cpu_` or `normal_cuda_`. Similarly  `uniform_` is dispatched to either `legacy::cpu::_th_uniform_` or to `uniform_cuda_`. I see that function `legacy::cpu::_th_uniform_` is being generated in build directory. I am n

[2020-03-13 16:22] kulalexey opened #34717 "Beta Distribution values wrong for a=b---> 0 (again)"
In pytorch 1.4.0 we have same problem as in https://github.com/pytorch/pytorch/issues/15738 with same way to reproduce

cc @vincentqb @fritzo @neerajprad @alicanb @vishwakftw

[2020-03-13 16:22] colesbury commented on #34715
On a related noted, this BaseSampler stuff seems to make the more complicated just to save a few lines of code repetition between CUDA and CPU.

[2020-03-13 16:27] ngimel commented on #34576
@taoddiao please provide complete runnable example demonstrating performance regression.

[2020-03-13 16:33] #33467 closed

[2020-03-13 16:37] ezyang commented on #34658
The disable is not working. https://circleci.com/api/v1.1/project/github/pytorch/pytorch/4801840/output/105/0?file=true&allocation-id=5e6ba83115bd6173c2cd319b-0-build%2F1F1A2E8E

[2020-03-13 16:42] colesbury commented on #34715
Also, it's possible the limitation was specific to CUDA 8. If you can remove the assertions (and pass a `__device__` only lambda to the relevant functions) you should go for it.

[2020-03-13 17:01] spandantiwari commented on #34658
@eellison - are there are any other ONNX tests besides this one that is being disabled because of your interpolate PR?

[2020-03-13 17:02] neginraoof opened #34718 "ONNX export of nn.interpolate scripted module is broken due to removal of aten::__interpolate op"
## Issue description

There's a recent change in jit scripting path for nn.interpolate operator. After aten::__interpolate operator is removed and the scriptable nn.interpolate module has become scriptable as part of this PR: https://github.com/pytorch/pytorch/pull/34514, the graph new graph is exported using hundreds of extra nodes.
This means that the the jit graph for interpolate op is now scri

[2020-03-13 17:09] zhangguanheng66 commented on #34573
@Enealor I starts a PR [here](https://github.com/pytorch/pytorch/pull/34719). Feel free to continue the work if you have time. After we collect some feedback, we can move the code to `torch.nn.functional`

[2020-03-13 17:10] zhangguanheng66 commented on #32590
PR to break MHA into building block. Feedback are welcome
https://github.com/pytorch/pytorch/pull/34719

[2020-03-13 17:11] ar4 commented on #34551
I ran the example code above on a new T4 instance, with the same result (8 instead of the desired 0). I imagine that the Tensor should be contiguous in memory when allocated in this way. If so, a custom stride may not be the issue.

[2020-03-13 17:14] RicCu commented on #24892
@vincentqb  wasn't [torch contrib](https://github.com/pytorch/contrib) set up for these non-mainstream algorithm implementations? Wouldn't it be worth it to revive that project? Or alternatively increase support/discovery of community implementations via torch hub?

[2020-03-13 17:19] spandantiwari commented on #34718
With the change https://github.com/pytorch/pytorch/pull/34514, the TorchIR graph will now have many more nodes as compared to before. Is there any plan to optimize this to reduce/consolidate the nodes? Interpolate is a popular op and I am thinking about the perf impact of this change.

cc: @ebarsoum

[2020-03-13 17:31] vincentqb commented on #24892
This is a bigger discussion about how to discover related projects, optimizers being one example. I'll cc @ailzhang for torchhub.

[2020-03-13 17:31] jiapei100 opened #34720 "Where is dd.h ?"
[code]

[2020-03-13 17:37] ailzhang commented on #24892
Hi w.r.t the discovery problem, torchhub can help on that. If you would like to add a `hubconf.py` in https://github.com/LiyuanLucasLiu/RAdam it'll be already easily accessible for users.
Also if you want to raise awareness of this new optimizer, feel free to send a PR in pytorch/hub so that it shows up https://pytorch.org/hub/. UI is mainly designed for models, but we could extend it a little I t

[2020-03-13 17:53] eellison commented on #34718
Hi all,

for context: we basically hacked in compilation of `torch.nn.functional.interpolate` when we were adding support for interpolate in the standard library, because we could not then compile it as python code. It was always the intention that we were going to work towards compiling the function normally, as we do for the rest of the standard library. This means that we can optimize through i

[2020-03-13 17:56] eellison commented on #34718
As far as

I can help provide guidance and do code reviews to get this through.

[2020-03-13 17:59] eellison commented on #34658
The interpolate scripting one. let's centralize conversation on  https://github.com/pytorch/pytorch/issues/34718 if that works for you.

[2020-03-13 18:25] eellison commented on #34672
Discussion is [here](https://github.com/pytorch/pytorch/pull/26926#discussion_r328839368) for context. I'm going to close, reopen if you think there is something else to discuss.

[2020-03-13 18:25] #34672 closed

[2020-03-13 18:30] #33988 closed

[2020-03-13 18:30] #34083 closed

[2020-03-13 18:43] zhaojuanmao commented on #34716
tried stress run 100 times and can not reproduce it so far

[2020-03-13 18:44] zhaojuanmao commented on #34260
tried stress run 100 times locally and can not reproduce it so far

[2020-03-13 19:14] Evpok opened #34727 "Nightly builds for cp38 missing for non-windows targets"
See for instance <https://download.pytorch.org/whl/nightly/cu101/torch_nightly.html>.

On <https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html> the macosx target are there, though.

ping @seemethere

[2020-03-13 19:15] seemethere commented on #34727
Looking into this right now

[2020-03-13 19:18] jamesr66a opened #34728 "CPU softmax performance poor when dim is not the last dimension"
[code]

Gives result
[code]

which is way below peak machine bandwidth.

On machine https://gist.github.com/jamesr66a/f05b2cfd879e205032d4ab7637290d40

Snooping around in perf shows we're spending the most time in scalar transcendental operations:

![image](https://user-images.githubusercontent.com/4685384/76652383-bac5b000-6523-11ea-94e5-fe4af1ce7650.png)

Conceivably this is an "outer reduction"

[2020-03-13 19:19] zhaojuanmao commented on #34260
this test actually did not hit torch script code paths, all the user functions are running python call path

[2020-03-13 19:21] stereomatchingkiss opened #34731 "Small output value mismatch after convert to onnx model"
## Issue description

After I convert the model from pytorch to onnx, the precision output has small different

## Code example

steps to reproduce

1. Download model from [here](https://mega.nz/#!YTZFnSJY!wlbo_5oa2TpDAGyWCTKTX1hh4d6DvJhh_RUA2z6i_so), it is one of the model from [pytorchreid](https://kaiyangzhou.github.io/deep-person-reid/MODEL_ZOO)
2. Install pytorch as their instructions, rememb

[2020-03-13 19:29] #34502 closed

[2020-03-13 19:43] #34264 closed

[2020-03-13 20:02] seemethere commented on #34727
Looks like we neglected to add them to `master`, submitted #34732 to remedy that

[2020-03-13 21:07] VitalyFedyunin opened #34736 "SqueezeNet fails on Volta + Channels Last"
[code]

Fails with:
[code]

cc @csarofeen @ptrblck @VitalyFedyunin @jamesr66a

[2020-03-13 21:11] Enealor commented on #34573
@zhangguanheng66 Thank you for the link. I have started restructuring the code in `functional`. Based on my work so far, I have changed my pitch and added an alternative.

I could use feedback on how to handle the input embeddings. As I explain above, there are three different ways the input embedding is calculated. Should I add a function for each, or provide one function that can be used by the

[2020-03-13 21:15] neggert commented on #20380
@pietern Is GLOO supported on MacOS? This code hangs for me at `init_process_group` on a Mac, but seems to work fine on Linux.

[code]

[2020-03-13 21:41] ghost opened #34743 "Problem with F.avg_pool2d"
Trying to convert [this](https://github.com/zllrunning/face-parsing.PyTorch) pytorch  model with ONNX gives me this error. I've searched github and this error came up before in version 1.1.0 but was apparently rectified. Now I'm on torch 1.4.0. (python 3.6.9) and I see this error.

 File "/usr/local/lib/python3.6/dist-packages/torch/onnx/__init__.py", line 148, in export
    strip_doc_string, dyna

[2020-03-13 21:59] simonverret commented on #32851
Thank you @cpuhrsch. Using the dataloader option
```collate_fn=lambda x: x```
indeed yields the desired behavior.

I am now able to explain my confusion. The dataloader interprets the dataset as a list of (input,target) tuples, whereas I designed the dataset to be a list of inputs only, i.e. [input_list1, input_list2, etc.]

For the specific example given above, the behavior therefore seems the co

[2020-03-13 22:14] neginraoof commented on #34718
Thanks Elias for providing the details and also suggestions.
I just did a perf test for the single interpolate op (that I have put the graph for) and I'm seeing 2x slowdown on jit script module compared to before.

About the suggestions for ONNX export:

I will look more into how the uninlined graph looks like and how it could be translated to an ONNX node. I need to see if we can do this without

[2020-03-13 22:31] Hao-Yan commented on #12873
See more discussion here: https://discuss.pytorch.org/t/why-pytorch-used-so-many-cpu-ram/73151/4

[2020-03-13 23:37] ebonetti commented on #33202
Just decided to fix this issue as the fix seems as simple as changing [this line of code](https://github.com/pytorch/pytorch/blob/6d6655e6be914e04a3ea4bdb7e7990f9ba9e3c2f/torch/nn/utils/rnn.py#L147) to:
`lengths = torch.as_tensor(lengths, dtype=torch.int64, device='cpu')`

By chance I discovered that it's a duplicated of #16636 (whoops, my bad) and the fix is hopefully on its way with #16542, so I

[2020-03-13 23:37] #33202 closed

[2020-03-14 00:10] kostmo opened #34751 "network-based TorchHub tests contribute to CI flakiness"
Perhaps this suite of tests can be run on nightly instead of on each `master` commit?

See this [example failure on `master` branch](https://circleci.com/gh/pytorch/pytorch/4763382):

[code]

cc @ezyang @gchanan @zou3519 @ailzhang, @suo

[2020-03-14 00:15] jiapei100 commented on #34720
Sorry, it's just in libm in third_party.
Better turn OFF libm .

[2020-03-14 00:15] #34720 closed

[2020-03-14 01:13] osalpekar opened #34754 "General Purpose Faulty RPC Agent"
## 🚀 Feature
#33636 will introduce failure injection for PyTorch Distributed tests using `FaultyProcessGroupAgent`, a child class of `ProcessGroupAgent` whose methods can be overriden with faulty implementations.

As @pritamdamania87 suggested, we should make this framework more general-purpose, and make `FaultyProcessGroupAgent` a child of `RpcAgent`. This will allow us to do failure injection fo

[2020-03-14 02:15] malfet commented on #25393
This sounds like a good old multiple-instances-of-nvcc-write-to-the-same-temp-file
One can invoke `nvcc -v` to see all temporary filenames it creates.
I guess on windows they are more likely to collide with each other than on linux.
One solution to the problem would be to invoke nvcc sequentially. Another is to tweak environment (there must be something similar to TMPDIR on Windows, mustn't it?)

[2020-03-14 02:26] peterjc123 commented on #25393
Yes, they are called TMP and TEMP.

[2020-03-14 02:28] peterjc123 commented on #25393
Is there any example of the latter method on Unix systems?

[2020-03-14 03:06] melissa135 opened #34758 "Wrong Result when Converting Odd Integers Larger than 2^24 to Tensor"
## 🐛 Bug

The torch.Tensor(), also named torch.FloatTensor(), returns wrong result when converts odd integers larger than 2^24. The value of returned tensor is not the original integer, but a number of it +1 or -1.

It's quite strange. Although the bug can be resolve by explicitly using torch.IntTensor(), I wonder the reason that caused the bug.

## To Reproduce

Steps to reproduce the behavior:

[2020-03-14 04:29] vainaijr opened #34760 "rough implementation doubt"
I created a rough implementation of stand alone self attention, I have certain doubts regarding it, should I create a pull request with [WIP], to iterate and figure out solutions to mistakes in my implementation.

[2020-03-14 05:58] prajjwal1 commented on #33953
@zou3519 you can close this now.

[2020-03-14 06:40] A-Rain opened #34761 "copy mechanism in assignment operation might get problem?"
I don't know whether this phenomenon can be seen as a bug, but it's quite strange.
if torch version is 1.1.0, when we run the following codes, `mask1` and `mask2` have the same results:
[code]

[code]

but if torch version is 1.3.0, the results are different. It seems that dtype of tensor can influence the copy mechanism?
[code]

[code]

[2020-03-14 07:24] ppwwyyxx commented on #12013
I found that `Linear` still does not work for empty batch on master.
[code]
gives an error of
[code]

[2020-03-14 08:47] peterjc123 commented on #25393
I've written a utility `randomtemp`. https://github.com/peterjc123/randomtemp  Hopefully it can be used to resolve this problem if that's the case.

[2020-03-14 09:35] malemo commented on #34743
I added `print (v.node ())` to symbolic_helper.py just before the runtime error is raised to see what's causing the error.

This is the output: `%595 : Long() = onnx::Gather[axis=0](%592, %594) # /content/drive/My Drive/Collab/fp/model.py:111:0`

And that line in 111 in model.py is: `avg = F.avg_pool2d(feat32, feat32.size()[2:])`

I've read somewhere that onnx cannot recognized tensor.size() metho

[2020-03-14 14:51] odysseus9672 opened #34765 "Add ability to return a copy to Module's state_dict member function."
## 🚀 Feature

Add the ability for the `Module`'s `state_dict` member function to optionally provide detached copies of the module's internal state. Probably controlled with a keyword argument `copy=False`.

## Motivation

When optimizing the loss for a neural network I'm working on the optimizer seems to have a tendency to overshoot or not finish converging in my iteration limit. My simple solutio

[2020-03-14 18:10] zyzhang1130 opened #34766 "RuntimeError: CUDA error: out of memory"
Hi, I'm not sure how to solve this issue, but I think it might be possible:

when I did this:
X = torch.cuda.FloatTensor(X)

for using gpu to training my network, it throw me this error:
RuntimeError: CUDA error: out of memory

I understand that it is probably because X is too large (it is indeed), however I do have 4 GTX 1080 at hand, and I'm thinking of making use of all gpus to store X. The exi

[2020-03-14 19:39] Baranowski commented on #973
Sorry for the late response. I didn't know the answer to your question.

As I mentioned in the PR above, turns out the worker is not crashing - the socket is silently stripping a FD from a message when passing it would exceed the open file limit. The worker is oblivious to this.

[2020-03-14 20:15] wazizian commented on #34294
You're welcome to ask, @ezyang :)
We are working with graph neural networks, and we use masks to manipulate batches of graphs of different sizes. To separate this logic from the models, we are experimenting with a tensor-like class which takes care of masking, and we rely on ```__torch_function__``` to make it compatible with some of the ```torch``` functions. (The code is [here](https://github.co

[2020-03-14 21:36] Yurasyk commented on #16417
For the particular case, where there are enough GPU memory, but an error still is thrown. In my case I SOLVED it by reducing the number of workers in the dataloader.

[2020-03-14 21:46] jia2lin3yuan1 opened #34771 "Where can I find how torch computes gradients for the basic mathematic operators, like round, mode, clamp"
##  Where can I find how torch computes gradients for the basic mathematic operators,  like round, mode, clamp.

 I know the mathematic gradients equation, but I am not sure how it is computed in torch, especially how torch computes the sub-gradients. It would be great if there is a document to introduce this.

Thank you for the help!

[2020-03-15 00:48] Balandat commented on #9222
So gpytorch's `LazyTensor` module (https://github.com/cornellius-gp/gpytorch/tree/master/gpytorch/lazy) has some basic functionality for this. It supports things like `BlockLazyTensor`, `BlockDiagLazyTensor` and exploits this structure when doing things like matmuls, solves, cholesky decompositions, log-prob computations etc. Its focus is on psd matrices though, rather than general block-sparse pr

[2020-03-15 00:56] rbrigden opened #34772 "Unsupported ONNX op (Upsample 3D, bicubic) contrary to documentation"
## 🐛 Bug

NotImplementedError for nn.Upsample ONNX conversion when documented argument specs are met (3D input, bicubic interpolation)

## To Reproduce

Steps to reproduce the behavior:

1. Create a module with `nn.Upsample(scale_factor=(4, 4), mode='bicubic')`
2. Provide a 3D example input when running `torch.onnx.export` on the module

Observed output:
[code]
## Expected behavior

Successful exp

[2020-03-15 01:17] xieshuqin opened #34773 "How to write codes to support second order derivative (double backward) for custom CUDA extension"
Hi,

I am lost in figuring out how to compute second order derivatives for custom CUDA extensions after reading the [Extend Torch With Cpp and CUDA](https://pytorch.org/tutorials/advanced/cpp_extension.html).

Could somebody tell me how to do this? Many thanks!

[2020-03-15 02:28] HymEric opened #34775 "How to do a split operation for dataset, not random split. I mean just like dataset[0:100] and dataset[100:200]]"
How to do a split operation for dataset, not random split. I mean just like dataset[0:100] and dataset[100:200]]

[2020-03-15 02:36] #34775 closed

[2020-03-15 02:37] HymEric commented on #34775
I have found the way.

class SubsetSampler(Sampler):
    r"""Samples elements from a given list of indices, without replacement.
    not random
    Arguments:
        indices (sequence): a sequence of indices
    """

    def __init__(self, indices):
        self.indices = indices

    def __iter__(self):
        return (self.indices[i] for i in self.indices)

    def __len__(self):
        return

[2020-03-15 03:45] prasunmishra commented on #4418
Solution: Reduced the batch size to 8 (or 4) - based on computer hw config

[2020-03-15 06:20] zechenghe commented on #2575
I moved import torch before sklearn but it did not work. After workaround for a while, I found downgrade scikit-learn to 0.19.1 works for me.

[2020-03-15 08:17] yoshihingis commented on #34524
Dear peterjc123

  I tried to build libtorch ver1.4 by build_pytoch.bat whic you teached .
  buld_pytoch.bat stopped with the Error ;
[Error]
 Cloning into 'pytorch'...
 remote: Repository not found.
 fatal: repository 'https://github.com//pytorch/' not found
The specified path can not be found

 Please refer to build.log which I attached
[build.log](https://github.com/pytorch/pytorch/files/433390

[2020-03-15 08:30] yoshihingis commented on #34524
Dear peterjc123

 In order to avoid confuse ,I separated from build_pytorch.bat .
 I have one question about build_libtorch.py.
 You recommended the build_pytorch.bat with setting BUILD_PYTHONLESS=1,
 Why we can not use build_libtorch.py to build the Dlls and the libs for libtorch Ver1.4?

 If we can set the build_libtorch for libtorch Ver1.4. can we build the Dlls and the libs
 for libtroch Ver1.

[2020-03-15 08:32] songyuc commented on #34643
Hi, @albanD ,
in fact, I think I misunderstand the function of checkpoint, so, I need to rethink my idea.
And there is one thing I realized, which is very important, that is,
I find that checkpoint can only be used to wrap the some operations together,
like,
[code]

But,  maybe it cannot directly have influence on forward function, like,
[code]
Here is my understanding, am I right?

As a result, I

[2020-03-15 09:07] toliz commented on #19213
Having the same problem in v1.3.1 as well

[2020-03-15 09:55] zynos opened #34779 "CUDNN_STATUS_EXECUTION_FAILED corrupted double-linked list"
## 🐛 Bug

After 62 hours of reinforcement learning network training my script gets killed by SIGABRT
`Process finished with exit code 134 (interrupted by signal 6: SIGABRT)`

<pre>Traceback (most recent call last):
  File "/home/nick/PycharmProjects/babyRudder/babyai/scripts/train_rl.py", line 194, in <module>
    logs = algo.update_parameters(status['i'])
  File "/home/nick/PycharmProjects/babyRu

[2020-03-15 10:17] ptrblck commented on #34779
I guess the `corrupted double-linked list` error might be raised by `glibc` as a sequential failure of the `RuntimeError`.
Could you explain your use case a bit more? I.e. are you changing the input shapes / model parameters during the RL training?
How large is the peak memory usage on the device and would it be possible to try to give us a code snippet to reproduce this issue (I imaging it might

[2020-03-15 10:26] ptrblck commented on #34766
You could split the data and push each chunk onto a specific device via: `x0 = x0.to('cuda:0')` etc.
However, note that operations on tensors have to be applied on the same device and you would have to use some workarounds as e.g. described [here](https://discuss.pytorch.org/t/matmul-on-multiple-gpus/33122/2?u=ptrblck).

[2020-03-15 10:30] ptrblck commented on #34758
This is expected, as it's a float32 limitation.
From the [Wikipedia article](https://en.wikipedia.org/wiki/Single-precision_floating-point_format):

Integers between `2**24=16777216` and `2**25=33554432` round to a multiple of 2 (even number)
Integers between `2**25` and `2**26` round to a multiple of 4
...

[2020-03-15 10:30] zynos commented on #34779
Hi, thanks for the quick response!
I am using the babyAI environment (https://github.com/mila-iqia/babyai)
and every timestep I collect data and store complete episodes (maximum of 128 timesteps at the moment) in an external replay buffer.
from this replay buffer i train an LSTM in a online fashion with the goal of predicting the episode's reward. The episodes vary in length.

The main trainnig is

[2020-03-15 10:34] ptrblck commented on #34779
Do you have a limit on the max length of the episodes?
Also, how large was the peak memory usage during the run?

[2020-03-15 10:37] zynos commented on #34779
The max length of an episode is 128 for this specific environment which also caused the crash.
Cuda memory is constant around 2579MiB / 7981MiB
My RAM (with open browser etc is around 14 / 16 GB

[2020-03-15 10:59] peterjc123 commented on #34524
[code]

[2020-03-15 11:02] peterjc123 commented on #34524
You need to set more env vars before the build.
[code]

[2020-03-15 14:01] malemo commented on #34743
Based on my further research I found [this](https://blog.csdn.net/weixin_43902449/article/details/90515528) source stating that:

Both resNet50 and 32 are fine, but to resNet18, ONNX model cannot be exported.

The model I’m using is indeed based on resnet18.

The source suggests the following changes:

From this:

def forward(self, x):
feat = self.base(x)
feat = F.avg_pool2d(feat, feat.size()[2:])

[2020-03-15 15:09] zyzhang1130 commented on #34766
I did something like this:

for epoch in range(epoch):
    perm = torch.randperm(N)  # Generate a set of random numbers of length: sample size
    sum_loss = 0  # Loss for each epoch

    for i in range(0, N, batch_size):
        x = X[perm[i:i + batch_size]]  # Pick random samples by iterating over random permutation
        y = Y[perm[i:i + batch_size]]  # Pick the correlating class

        x =

[2020-03-15 16:11] ghost opened #34780 "Failed to export an ONNX attribute 'onnx::Gather' Bug"
## 🐛 Bug

While trying to convert resnet18 based pytorch model from [here](https://github.com/zllrunning/face-parsing.PyTorch). Below error comes up:

## To Reproduce

Steps to reproduce the behavior:

1. Download [this repo](https://github.com/zllrunning/face-parsing.PyTorch).
_Also download the model weights 79999_iter.pth from the repo page and place it in res/cp._
1. In Google Collab run conve

[2020-03-15 16:36] cjermain commented on #34772
This appears to be an issue in `torch.nn.functional.interpolate`. The case of 3D bicubic is not present in the if-else section, so it bottoms out to the final `else`.
https://github.com/pytorch/pytorch/blob/1d81bd02cc73ea81236f3b450e86a5eb726f23bd/torch/nn/functional.py#L3006-L3013

Before the ONNX support can be established, the actual PyTorch method needs to be fixed.

[2020-03-15 17:58] ksanjeevan commented on #34256
Hey @suo, do you know if this is reproducible or maybe an issue only I'm having?

[2020-03-15 19:03] #24753 closed

[2020-03-15 20:08] tycho01 opened #34788 "keepdim for Tensor.select?"
## 🚀 Feature
I noticed quite some Tensor functions had a `keepdim` boolean param, tho not [`Tensor.select`](https://pytorch.org/docs/stable/tensors.html#torch.Tensor.select), where behavior is now what one would expect for `keepdim=False`.
Would it maybe be an idea to add this parameter there as well?

[2020-03-15 21:12] jiapei100 opened #34789 "Build PyTorch from source..."
Sorry for my naive questions...

1. I tried to build **PyTorch** using **CMAKE**, and it seems except **caffe2**, there is **NO python package of PyTorch** has been generated.

2. Just wonder what's the **difference between**
- cmake build
- `python setup.py build`

3. How to configure those **MACROS** before running `python setup.py build` ?
Please refer to my current **DIRECT build** with the fo

[2020-03-15 21:36] xieshuqin commented on #24870
@bnehoran  It would be great to include higher order derivative for this operation too. Computing second order derivatives is quite common in meta-learning settings but grid_sample doesn't support this yet.

[2020-03-15 22:04] #28881 closed

[2020-03-15 23:12] #24728 closed

[2020-03-15 23:12] #33197 closed

[2020-03-15 23:17] #34344 closed

[2020-03-15 23:32] vadimkantorov commented on #32867
It seems that <8bit quantization starts to appear: https://github.com/pytorch/pytorch/pull/34783/files and seems somewhat related to this discussion

[2020-03-15 23:52] vadimkantorov commented on #33152
It seems that pointwise complex multiplication is implemented, right? Then I can close https://github.com/pytorch/pytorch/issues/6514

Also a question: will torch.rfft / irfft start returning complex tensors by default (a first step may be a dtype argument). My usecase: https://gist.github.com/vadimkantorov/d9b56f9b85f1f4ce59ffecf893a1581a

[2020-03-16 01:10] #24729 closed

[2020-03-16 01:20] #24691 closed

[2020-03-16 01:23] Enealor commented on #34573
Follow-up: I have created a PR with the approach that would introduce less specialized functions. I believe it is ready for feedback.

[2020-03-16 01:42] masahi commented on #34351
@jerryzh168 I believe the output dtype of concat of should be the same as input qtensors, so adding `scalar_type` to qconcat args doesn't seem right to me.

Instead, now that you have a requantize op, I think a better way is to use the requantized op to make input quant params to be the same as output, and use the normal concat op (`aten::cat`). This is how TVM implements qconcat. https://github.c

[2020-03-16 02:28] jpyrett commented on #33385
Yes, I'm seeing this also. We need to be able to build pytorch with Cuda support on MacOS

[2020-03-16 03:45] taoddiao commented on #34576
Here is my complete runnable example:
[code]
I have updated PyTorch to 1.4.0 with CUDA 9.2.
Results:
|  | MSELoss | DiceLoss |
|-|-|-|
| V100 | 0.02111s/iter | 0.02081s/iter |
| P100 | 0.37644s/iter | 0.37789s/iter |

[2020-03-16 03:47] taoddiao commented on #34576
Trying to update CUDA and retest it.

[2020-03-16 06:32] wizyoung commented on #8976
@SystemErrorWang Same condition. I have more than 252G memory but still get the Dataloader killed. I monitored the system memory usage with htop command and the memory usage was always less than 30G if I set num_workers= 16. I am using the ubuntu 18.04 system and not docker. This definitely should not be the memory problem. (btw, the pytorch version is 1.4.0 on python 3.7.4)

[2020-03-16 07:17] liao1995 commented on #31822
same issue for me, any solutions?

[2020-03-16 07:17] Rikorose opened #34797 "torch.stft does not accept complex input"
## 🐛 Bug

torch.stft fails with the error message `expected a 1D or 2D tensor of floating types` if complex input is provided (i.e. last dim = 2 for real and imaginary part).

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

It should run the fft on the complex valued input

cc @ezyang @anjali411 @dylanbespalko

[2020-03-16 07:37] cmougan opened #34798 "Building wheel for torch (setup.py) ... error - While running pip install torch"
Unable to install pytorch. I have tried with the reccomended instalations from the oficial pytorch webpage and I get the same eror.

Versions:
Anaconda, version  is 4.7.12
pip 19.2.3 from C:\ProgramData\Anaconda3\lib\site-packages\pip (python 3.7)

Log:

[code]

cc @peterjc123

[2020-03-16 07:58] ptrblck commented on #34766
Could you create a topic in our [discussion board](https://discuss.pytorch.org/) please, so that we can continue the discussion there or do you think there is still a bug/issue in the code?
The code looks alright (besides the usage of `Variable`, which is deprecated since PyTorch `0.4.0`).

[2020-03-16 08:03] PeterCha90 opened #34799 "Is it possible to run an object detection android app by using Pytorch Mobile?"
Hi, I want to use Pytorch Mobile if it is possible to run the trained mobilenet-ssd model with my dataset on Android by using it.

So I just want to know whether it is possible or not. Does it depend on app development because Pytorch mobile can support the model perfectly?

[2020-03-16 08:39] marcoippolito commented on #33343
I join my voice to  @michaelboth and @VitaMusic 's  request to ask , if it is possible, to focus more effort on the C++ side of the already great PyTorch project.

There is a growing demand for implementing PyTorch's models directly in C++, without needing to jump back-and-forth between Python-C++, and again passing through ONNX.

Last November I asked in the PyTorch Forum's news about a timeline

[2020-03-16 08:47] xyang619 opened #34800 "[ONNX] Bug: export LSTM/GRU crashed without bias term"
## 🐛 Bug
I tried to export a model to onnx format, and I found that when LSTM/GRU without bias term, it would crash.

## To Reproduce
Steps to reproduce the behavior:
1. With bias term, it works as expected!
[code]
2. However, if the model wIthout bias term, it crashes with error messages (as pasted below the code)
[code]

[code]

## Expected behavior
crashes without bias term.

## Environment

 -

[2020-03-16 09:35] peterjc123 commented on #34798
You could not do `pip install torch` because the packages are not hosted on PyPI. Instead, please enter the commands in https://pytorch.org.

[2020-03-16 09:39] peterjc123 commented on #34798
Are you using 32-bit Python? What is the result of `python -c 'import struct;print( 8 * struct.calcsize("P"))'`?

[2020-03-16 09:45] vadimkantorov commented on #20984
@ezyang One way is also supporting both things: page-per-function for super-fast redirection/rendering for leads from google search; and a giant optimized (when it happens) single page (or page per module)

[2020-03-16 09:55] CholoeMoretz opened #34801 "Does pytorch support complex neural network trainning?"
I am working on some radar datasets,which actually includes the phase of the electromagnetic wave that described with complex numbers.
The job is to classify them into different object classes,whichi definitely will use complex number as part of traininng.
Does pytorch support the comlex number neural network  trainning? Or Is ther any package that supports the complex number neural nertwork train

[2020-03-16 10:38] cmougan commented on #34798
64

[2020-03-16 11:18] peterjc123 commented on #34798
Could you please share with us which command you are using previously? BTW, does the conda ones work?

[2020-03-16 11:23] peterjc123 commented on #34798
What's more, could you please append `-vvv` to the pip command you used previously and post the output here?

[2020-03-16 12:38] jinuhwang commented on #32214
I had the same problem try installing python3-dev

[2020-03-16 13:25] cmougan commented on #34798
(base) C:\Users\navarra>pip install -vvv torch
Created temporary directory: C:\Users\navarra\AppData\Local\Temp\2\pip-ephem-wheel-cache-e_md3ezm
Created temporary directory: C:\Users\navarra\AppData\Local\Temp\2\pip-req-tracker-j6zdvenx
Created requirements tracker 'C:\\Users\\navarra\\AppData\\Local\\Temp\\2\\pip-req-tracker-j6zdvenx'
Created temporary directory: C:\Users\navarra\AppData\Local\Te

[2020-03-16 13:27] anjali411 commented on #34380
Hey @kostekIV  I think we should definitely put at::native::view_complex_as_float in a header in a new file for complex ```/aten/src/ATen/ComplexHelper.h```. That issue might be resolved if the function is defined inline :) And so passing in the resized tensor (complex tensor viewed as fp tensor, similar to that in randn) to the existing rand function and updating the function calls in this file `

[2020-03-16 13:41] peterjc123 commented on #34798
No, I mean `pip install torch==1.4.0+cpu torchvision==0.5.0+cpu -f https://download.pytorch.org/whl/torch_stable.html -vvv`.

[2020-03-16 13:51] vadimkantorov commented on #34646
I guess for both `from_buffer` and `from_dlpack` (and maybe new variants if supported, e.g. creating a tensor from pointer + dtype directly without trouble of picking the good storage type): it would be nice and useful to have an example in docs + question of freeing memory should be addressed

[2020-03-16 14:34] zou3519 commented on #20984
@vadimkantorov we're splitting up the nn documentation in #34796

[2020-03-16 14:44] zhangguanheng66 commented on #34573
Thanks. @Enealor Made some comments there. Just wondering if you want to merge your work to this one. Then, you can take charge of this PR from now on.

[2020-03-16 14:49] vadimkantorov commented on #20984
@zou3519 If I understand well in there splitting is done by modules, but maybe still a page per function is good for instant google->docs transition

[2020-03-16 14:51] zou3519 commented on #20984
I agree, the other frameworks (numpy, Tensorflow) have all adopted a single page per function

[2020-03-16 14:54] vadimkantorov commented on #20984
I think all functions on one page is good for roaming / discoverability by random scrollong, and function per page is good for hyperlinks and google, so both are sensible to have

[2020-03-16 14:59] zou3519 commented on #33953
Thanks for the fix, @prajjwal1!

[2020-03-16 14:59] #33953 closed

[2020-03-16 15:42] zyzhang1130 commented on #34766
sure.  Thanks for the reply anyways

[2020-03-16 15:44] gchanan commented on #34801
CC @anjali411.

Not yet, although it is planned, see https://github.com/pytorch/pytorch/issues/33152.

If you have further questions, do you mind asking on the forums (https://discuss.pytorch.org/)? We try to limit github issues to bugs / feature requests, etc.

[2020-03-16 15:44] #34801 closed

[2020-03-16 16:10] Ali2500 opened #34808 "Using torch.nn.functional.interpolate with 'nearest' mode introduces misalignment"
## 🐛 Bug

When resizing images and their corresponding segmentation masks, it is common practice to use bilinear interpolation for the images and nearest neighbor sampling for segmentation masks. However, I have observed that using the `interpolate` method in `torch.nn.functional` with `mode='nearest'` causes the resized segmentation masks to be shifted to the bottom right when compared to the ori

[2020-03-16 16:12] amatsukawa commented on #24468
@orionr if I do have tensorflow installed, what steps should I follow to make this work? Just simply having it installed doesn't seem to to do the trick, the `gs://proj/...` url is just interpreted as the path `gs: -> proj -> ...` on local disk.

[2020-03-16 16:32] agolynski commented on #34699
CC @ezyang @zou3519 who already helped with
https://github.com/pytorch/pytorch/issues/7318
Also a related issue here:
https://github.com/pytorch/pytorch/issues/16996

Not sure if we have a category for such issues.

[2020-03-16 16:35] agolynski commented on #34714
Thank you for the through diagnostic and code sample!

[2020-03-16 16:38] agolynski commented on #34717
also CC @cpuhrsch

[2020-03-16 16:39] albanD commented on #34643
Hi,

You can apply it to any object that you can `__call__` in python (functions or nn.Module invocation for example)
If you want to make sure a function is always called as checkpoint, I guess you can wrap it with:
[code]

[2020-03-16 16:48] kimishpatel opened #34812 "Semantic differences between forward and backward of upsampling2d/3d in channels last (NHWC, NDHWC) format."
## 🚀 Feature
Preserving memory input memory format in upsampling nearest model op. Forward and backward.

## Motivation

At the moment, upsample nearest kernels, forward and backward, return output in the contiguous format, ignoring the input memory format. For example, if the input was channel last the output will still be in contiguous, channels first, format.

This PR introduces https://github.

[2020-03-16 16:48] kimishpatel commented on #34812
cc: @VitalyFedyunin

[2020-03-16 17:01] xush6528 opened #34814 "[JIT] Tensor.add_ incorrect schema matching on overloads"
# Reproduce

[code]

PythonArgParser gives warning and use the correct overload,
[code]

JIT use the wrong overload and insert a `aten::SclarImplicit`,
because it by default allows conversion.

https://github.com/pytorch/pytorch/blob/c235be42ddecc3c4e1cdf192ca2764455082c1c6/torch/csrc/jit/frontend/schema_matching.cpp#L102

[2020-03-16 17:06] albanD commented on #34431
Triage review to know if any other module is needed here.

[2020-03-16 17:07] #34557 closed

[2020-03-16 17:10] suo commented on #34751
@ailzhang any thoughts? We want to reduce the number of tests that are accessing network.

[2020-03-16 17:12] zdevito commented on #34703
optimized execution is on by default, so adding that resource guard is not expected to speed things up. One thing to do is to make sure you are not timing the first run of the model in C++. On the first run there may be a lot of initial passes running that will make the model appear slow. It is a good idea to warm up execute before timing it.

[2020-03-16 17:13] ezyang commented on #34431
cc @malfet

[2020-03-16 17:15] ezyang commented on #34431
high priority to attempt a repro.

[2020-03-16 17:22] ailzhang commented on #34751
I guess I'll first add a retry to hub tests to minimize the failure rate.
I can send a PR for it.
Also as discussed with @kostmo offline, if we want to move network dependent tests to a separate job per operation system, I think that's also fine. :D

[2020-03-16 17:26] colesbury commented on #33870
We should support this in autograd:

1) For backwards compatibility. There's likely code that depends on this (in the "forward" pass).
2) Even before we supported mixed-type operations, we supported mixing types with a scalar. The same logic applies to devices.

It should be fixable at the place where the error is raised in the autograd engine, without too much work. If the `output_device != metad

[2020-03-16 17:51] kostmo opened #34821 "Installing CUDA intermittently fails on Windows"
Typical error manifestation:
[code]

Example failures:
* https://circleci.com/gh/pytorch/pytorch/4823524
* https://circleci.com/gh/pytorch/pytorch/4824539

cc @ezyang @gchanan @zou3519 @peterjc123

[2020-03-16 17:56] neerajprad commented on #34714
@jjabo - I think one issue is that the `probs` argument to `Categorical` can be batched (n-dimensional where n > 2, the last dim is taken as the event dim), whereas the argument to `multinomial` has to be 1 or 2D. I think the issue with the current code is the `expand` step which in this case expands probs to have shape more than `2**16 x 2**16`! I think we should be able to use your solution to w

[2020-03-16 18:08] rohan-varma commented on #33506
Fixed by https://github.com/pytorch/pytorch/pull/33513

[2020-03-16 18:08] #33506 closed

[2020-03-16 18:15] zhaojuanmao commented on #33948
closing this, as it looks like it is not relevant and it never happened any more

[2020-03-16 18:15] #33948 closed

[2020-03-16 18:44] rohan-varma commented on #31846
Looks like python 3.5 only failure - it might be because of dict key ordering? https://stackoverflow.com/questions/1867861/how-to-keep-keys-values-in-same-order-as-declared

[2020-03-16 18:52] rangit3 commented on #2575
The idea helped me, but 0.19.1 could't be installed with some warning.
0.2 did the trick.

[2020-03-16 19:12] r-zenine opened #34826 "AT_DISPATCH_FLOATING_TYPES_AND2 fails with ScalarType::Byte"
## 🐛 Bug

Using AT_DISPATCH_FLOATING_TYPES_AND2, in `cuda` code is causing a compilation error:

I am trying to enable support for `uint8` for nearest Neighbor upsampling.
Therefore, I tried to replace `AT_DISPATCH_FLOATING_TYPES_AND_HALF` with `AT_DISPATCH_FLOATING_TYPES_AND2(at::ScalarType::Half, at::ScalarType::Byte, ...`
Which caused a compilation. On the other hand, using `AT_DISPATCH_ALL_TYP

[2020-03-16 19:14] suo commented on #16592
removed high priority as we don't have enough information to investigate right now :(

[2020-03-16 19:22] sidazhang commented on #16592
@suo  lol, you mean you don't have enough information to investigate an unknown error?

jks jks!

@mcarilli @mkolod you guys need to improve your error codes. Hahah! Stop playing error hide and seek with users! :P

[2020-03-16 19:29] pritamdamania87 commented on #34141
Tried to repro this with 500 runs in OSS and internal and couldn't reproduce this.

[2020-03-16 19:34] ezyang commented on #34715
OK, thanks for the tip!

[2020-03-16 19:36] alicanb commented on #34717
I'm going to reopen #15738 and close this one. Let's continue to discuss it there.

[2020-03-16 19:36] #34717 closed

[2020-03-16 19:40] alicanb commented on #15738
I can reproduce this in master

[2020-03-16 19:50] ezyang commented on #973
Excellent!

[2020-03-16 19:56] colesbury commented on #34826
You probably also need to add a ScalarTypeToCPPType mapping from Byte to uint8_t here:

https://github.com/pytorch/pytorch/blob/e93e7b27950392fdd8ac8c15b45094e954ba3ebf/c10/core/ScalarType.h#L100-L109

If that's not sufficient, there might be other similar mappings missing.

[2020-03-16 19:59] ezyang commented on #34294
^- @cpuhrsch, may be of interest to you.

[2020-03-16 20:00] ngimel commented on #16592
@sidazhang is it still an issue? I thought it was fixed one way or another, turned out to be some dlopen error?