[2019-06-10 22:27] jeffreyksmithjr commented on #21575
I read this issue as a question. Please use https://discuss.pytorch.org for questions. Feel free to reopen this issue if I misunderstood.

[2019-06-10 22:27] #21575 closed

[2019-06-10 22:28] jeffreyksmithjr commented on #21569
I read this issue as a question. Please use https://discuss.pytorch.org for questions. Feel free to reopen this issue if I misunderstood.

[2019-06-10 22:28] #21569 closed

[2019-06-10 22:31] jeffreyksmithjr commented on #21567
Leaving this open as a docs error to be fixed.

[2019-06-10 22:33] VitalyFedyunin commented on #20322
Agree about error messaging, but it seems reasonable to have broadcasting here.

[2019-06-10 23:16] ngimel commented on #21589
Errors in EmbeddingBag tests are arguably incorrect tests. It is well known that backward always happens on the default stream, regardless of the stream used by forward (which is a big inconvenience, btw, but a subject for a separate conversation) (#7601). EmbeddingBag test runs backward on default stream (no choice), then starts comparing results on the non-blocking non-default stream when result

[2019-06-10 23:23] noeboito commented on #4207
When I try to make the second step, I have this

CondaKeyError: 'servers_proxy': key 'servers_proxy' is not in the config file

What's wrong ?

[2019-06-11 01:59] soumith commented on #19302
fixed now

[2019-06-11 01:59] #19302 closed

[2019-06-11 03:41] Blusea commented on #499
[code]

[2019-06-11 04:03] Maghoumi commented on #20140
In case you've already tried `pip install tb-nightly` but still get the error message about `TensorBoard 1.14`, it could be that the TensorBoard packages in your `~/.local` are older than 1.14.

This can happen if you install packages via `pip install --user ...` and some other packages via `sudo pip install ...`, which is known to mess things up.

[2019-06-11 04:23] Blusea commented on #499
[code]

[2019-06-11 04:29] Blusea commented on #499
[code]

[2019-06-11 04:30] sjdrc commented on #19353
We're seeing this same issue occur when linking libtorch and our internal library.

[2019-06-11 05:00] DNGros commented on #11199
Can this be closed now with #18334  or perhaps broken into separate issues for the kinds of attentions that remain that people still have need for? Most of the other attentions seem like a special case of MultiheadedAttention. Not sure if people would find it valuable to have it as a separate function....

[2019-06-11 05:21] jpchen opened #21623 "LR Scheduler bug?"
I think there may be a bug with some of the LR schedulers eg StepLR.  essentially if the epoch is a multiple of the step size, the LR will keep multiplying by gamma, even if the epoch never increases:
[code]

versus if epoch % step_size != 0:
[code]

IIUC, calling `sched.step(epoch=i)` multiple times should be idempotent.  Note that this seems to have been introduced in 1.1; 1.0 works as intended.

[2019-06-11 05:26] kingaza commented on #21402
Thanks @gchanan @suo ,
The model is [TCN](https://github.com/locuslab/TCN/blob/master/TCN/tcn.py). And I replace weight_norm with `BatchNorm1d`, because I don't know how to use weight_norm in ScriptModule.
After training I save the model: `torch.jit.save(model, 'model.pt')`

[2019-06-11 05:37] magic282 commented on #16417
I tried reducing the batch size and it worked. The confusing part is the error msg that the cached memory is larger than the to be allocated memory.

[2019-06-11 05:57] #11199 closed

[2019-06-11 06:37] XiaobingSuper commented on #21597
I can reproduce the issue for torch=1.0.1 and torch=1.1.0, but it can pass the test case for torch=1.0.0, I will futher investigate it, thanks!

[2019-06-11 06:41] pandeykartikey commented on #20615
Hi @driazati , would like to work on this feature if no one else is already working on it.

[2019-06-11 06:52] whimian commented on #20757
The bug is still not solved in version 1.1.0.

[2019-06-11 06:59] abonnet commented on #21584
@smessmer confirmed it is fixed! Thanks a lot!

[2019-06-11 08:29] Jason-xin commented on #10942
but when you convert it to onnx, input size must be specific....

[2019-06-11 09:09] tchaton opened #21626 "Wierd Bug - No idea what happened"
[code]

[2019-06-11 09:24] siddhantk commented on #19969
Encountered the same bug. Anyone solved it yet?

[2019-06-11 09:50] kingaza commented on #21402
model code
[code]

train and save functions
[code]

[2019-06-11 11:02] pdeperth commented on #5905
Same with pytorch 0.3.0, cuda 9.2 and python 2.7 in a conda environment.

[2019-06-11 11:18] Jason-xin commented on #20643
@jasonlovescoding Have you solved this problems? I changed dim=-1 and it works, but I was not sure whether the result was the same or not?

[2019-06-11 11:40] pietern commented on #21415
@slayton58 The `group_ranks` function was only used in `ProcessGroupMPI` to provide a mapping from global ranks to local ranks for subgroups. In #14809 I made this obsolete by only allowing construction of the `ProcessGroupMPI` if you know which ranks participate in it. This means full symmetry between the underlying process group implementations and doesn't leak any details about rank mapping int

[2019-06-11 11:48] LoveZL0512 opened #21627 "libtorch centos crash"
environment:
system: linux centos 7.6
compiler: gcc 4.8.5
libtorch: CPU version [https://download.pytorch.org/libtorch/cpu/libtorch-shared-with-deps-latest.zip] 1.1.0
demo:[https://pytorch.org/tutorials/advanced/cpp_export.html]

[code]

I use cmake to build the demo, CMakeLists.txt:
project(torchd_emo)
find_package(Torch REQUIRED)

message(STATUS “Pytorch status:”)
message(STATUS " libraries: ${T

[2019-06-11 12:35] li-ren commented on #19969
I solved it. Use pytorch nightly build 🎉

[2019-06-11 13:02] slayton58 commented on #21415
In my use-case I don't strictly need the global ranks (more I actually just need to know how many ranks are in the subgroup) -- I understand why you might want to abstract out exactly what's happening under the hood :)

[2019-06-11 13:29] albanD commented on #21626
Hi.

Could you give more context how you installed pytorch and what were you doing when you get this error?
In particular if you can give a small code sample that reproduce the crast, that would be very helpful !

[2019-06-11 14:19] luhc15 opened #21630 "How to accerlate dataloader?"
how to accelerate dataloader?
When we load data like :
for  i， data  in enumerate(dataset):
      data.to(gpu)
if we transfer data to gpu, the operation takes a lot of time.
how can we get data stored in gpu directly? Or any other ways to accelerate the dataloader

[2019-06-11 14:49] HapeMask commented on #19394
@mcarilli @ezyang a coworker shared this with me, it might be relevant Re: "TLS doesn't work the way we think it does on Windows": https://developercommunity.visualstudio.com/content/problem/124121/thread-local-variables-fail-to-be-initialized-when.html

They do say that it only affects "those that also use LoadLibrary DLLs and create threads before loading the DLL," which I'm not sure is the case

[2019-06-11 15:15] ezyang commented on #21585
cc @bddppq

More failures

[code]

https://ci.pytorch.org/jenkins/job/pytorch-builds/job/py2-clang7-rocmdeb-ubuntu16.04-test/24787//console

[2019-06-11 16:00] ezyang commented on #19394
Yes, this does look very relevant.  Do you know a way to work around the
issue?

Excerpts from Gabe Schwartz's message of 2019-06-11 07:51:01 -0700:

[2019-06-11 16:12] HapeMask commented on #19394
Not yet. Based on the comment from MSFT in the linked thread though, it may not be something a library developer can fix given that you can’t control when a consumer decides to load your library (if they do it dynamically) relative to thread construction.

Of course one option is to not use `thread_local`, or conditionally not use it on windows, but I don’t know if that is something you can/want t

[2019-06-11 16:19] ezyang commented on #21589
Oooh, I had forgotten about that. We should probably just fix that, then, and a bunch more things might work.

@malvika2147 is working on autograd this summer, this might be a good thing to work on.

[2019-06-11 16:30] Youssefares commented on #19003
@memahesh
I haven't had time to fix this I am afraid.
Sorry for any delay I might have caused. I think a pull request is already open for it though. So you can follow the progress there.

[2019-06-11 16:31] ngimel commented on #21589
Same thing is happening in common_nn tests https://github.com/pytorch/pytorch/blob/master/test/common_nn.py#L3240-L3241, so short term fix to make tests pass is to put syncs after backward where necessary, but long term backward should respect forward stream, and then those syncs won't be needed.

[2019-06-11 16:50] #5848 closed

[2019-06-11 16:50] xsacha commented on #19394
I have worked around the issue by ensuring I never call model forward from a different thread than I read the model from. That is, I have a model thread per-model.
This is required for batching anyway.

[2019-06-11 16:58] ezyang commented on #21467
This might be high priority, but I'm deprioritizing it because it hasn't been shown that we keep breaking this.

[2019-06-11 17:13] nithinraok opened #21639 "Incompatible Keys need not be returned when missing keys and unexpected keys are Null"
## 🚀 Feature

when loading state_dict I'm getting
``` IncompatibleKeys(missing_keys=[], unexpected_keys=[]) ``` message though model is loaded correctly. I feel we can have a conditional case before returning this named tuple when missing keys and unexpected keys are null
## Motivation

I thought it was some error and wasted some time to figure out finally that this wasn't an error at all. I am no

[2019-06-11 17:28] spandantiwari commented on #19374
This issue has been fixed in master.

[2019-06-11 17:30] mrshenli opened #21640 "Support all_reduce a list of same-device tensors"
[`distributed_c10d.py`](https://github.com/pytorch/pytorch/blob/master/torch/distributed/distributed_c10d.py) provides APIs to reduce a single tensor per process, or multiple tensors per process where each of them needs to reside on a different device. It will be useful (e.g., for model averaging) to support reducing a list of tensors per process where all of them are on the same device. The imple

[2019-06-11 17:54] kparaju commented on #21626
Seeing the same error. Installed via conda

[code]

Here is the conda env export:
[code]

[2019-06-11 18:04] ezyang commented on #20757
I think the fix didn't make it to 1.1.0 release. Try patching it in yourself.

[2019-06-11 18:05] ezyang commented on #20778
Yes, please do! (We're just saying explicitly, if someone were to put up a PR for this, we would accept and merge it.)

[2019-06-11 18:10] YurongYou opened #21643 "torch.solve in GPU fails when batch > 65535"
## 🐛 Bug

`torch.solve` in GPU tensor fails when the batch size of the tensors > 65535, and throws a `RuntimeError: CUDA error: invalid configuration argument `. Interestingly, if you run the `torch.solve` multiple times, it will occasionally pass (but with wrong results). See the reproducing code.

## To Reproduce

Steps to reproduce the behavior:

[code]
It will output
[code]

if you execute mul

[2019-06-11 18:13] mcarilli opened #21644 "with emit_nvtx context manager is broken in current master."
[code]
Run the following script:
[code]

Result:
[code]

The offending line is simple:
https://github.com/pytorch/pytorch/blob/master/torch/autograd/profiler.py#L398
I'd submit a quick PR to fix it, but I'm not sure what you guys actually want the value of record_shapes to be for this call.

[2019-06-11 18:35] EvenOldridge opened #21645 "Batch Dataloader and Dataset"
## 🚀 Feature
A dataloader and dataset that operate at the batch level, rather than the item level, pulling batches from contiguous blocks of memory and avoiding random access patterns in the dataloader.

## Motivation
Loading data item by item and coallating into a batch is very inefficient, particularly in the case of tabular or text data where the items are small.  This is compounded further whe

[2019-06-11 18:44] ezyang commented on #18429
A while ago, we had some problems with certain models because of numeric
stability issues: there were small numerical differences between PyTorch
and Caffe2 and the model architecture amplified these differences.

The easiest way to debug this problem is to do a layer-by-layer
comparison, and see where the divergence happens.  Let us know if you
find out.

Excerpts from Geoff Smith's message of 20

[2019-06-11 18:47] ezyang commented on #21363
I believe it's referring to `torch/csrc/onnx/init.cpp`

@jvesely, does this happen to you if you have a completely fresh Python environment, and install PyTorch from there? My easiest guess is that you somehow have two copies of PyTorch floating around here.

[2019-06-11 18:50] ezyang commented on #21318
This is almost certainly a misconfiguration of gtest on the system; probably header and library being linked against not agreeing. We can leave this issue open in case any one else runs against it, but it is probably not anything we can do about it (except, maybe, tighten up our gtest detection logic so that this sort of thing cannot happen.)

[2019-06-11 18:51] ezyang commented on #21477
cc @fmassa @soumith

[2019-06-11 18:51] ezyang commented on #21154
@ptrblck Build from source, I think.

[2019-06-11 18:51] gauravkoradiya commented on #18999
same issue

[2019-06-11 18:52] #19374 closed

[2019-06-11 18:57] soumith commented on #21630
please use https://discuss.pytorch.org for questions

[2019-06-11 18:57] #21630 closed

[2019-06-11 19:03] SsnL commented on #21639
duplicate of https://github.com/pytorch/pytorch/issues/20128

[2019-06-11 19:03] #21639 closed

[2019-06-11 19:03] ezyang commented on #18643
cc @malvika2147

[2019-06-11 19:07] #18354 closed

[2019-06-11 19:16] fmassa commented on #21645
I believe this is being implemented in https://github.com/pytorch/pytorch/pull/19228

Let us know if there is anything else your proposal that is not present in #19228

[2019-06-11 19:16] ezyang commented on #19394
Well, we could always rewrite the code in #15080 to use some sort of lock free structure (or we could even just take out a big honking lock; the critical region isn't big). @mcarilli thoughts (also, would you be interested in doing this?)

[2019-06-11 19:24] ezyang commented on #17199
I think this warrants at least some sort of documentation update, but we might also want to detect if we are linked against buggy OMP, and then complain at the user if they fork (in the same way we try to do this for CUDA).

[2019-06-11 19:28] ezyang commented on #18319
@cheungxiongwei Get it here: http://web.mit.edu/~ezyang/Public/packer-windows.zip

[2019-06-11 19:29] oswinoswin commented on #12598
Documentation says it's working (https://pytorch.org/docs/stable/torch.html#torch.unique) but
`torch.unique(torch.tensor([1, 1, 2]), return_counts=True)` fails (unique() got an unexpected keyword argument 'return_counts').

[2019-06-11 20:14] ngimel commented on #21645
Correct me if I'm wrong, but it looks to me that #19228 still reads data item by item, even in batched mode https://github.com/pytorch/pytorch/blob/1834c27184387175b39722b750c153a37754766c/torch/utils/data/_utils/fetch.py, which is what @EvenOldridge wants to avoid. (this is not saying that #19228 could not be changed to accomodate fetching a full batch at once). Also, looks like #19228 is stalled

[2019-06-11 20:17] fmassa commented on #21645
I don't think #19228 is stale, and @SsnL is still working on getting it merged.
Also, I was under the impression that batched mode was added explicitly to support fetching a full batch at once, on systems where performing a query is expensive. But maybe @SsnL can give more details on it?

[2019-06-11 20:18] fmassa commented on #21645
Also, @ngimel the batched fetching is done in https://github.com/pytorch/pytorch/blob/1834c27184387175b39722b750c153a37754766c/torch/utils/data/_utils/fetch.py#L46 I believe

[2019-06-11 20:22] SsnL commented on #21645
Yep I can clarify a bit. This indeed can be solved by #19228 (which is not stale). To do this, disable automatic batching and handle collation oneself in an IterableDataset’s __iter__.

[2019-06-11 20:26] ngimel commented on #21645
Thanks for the clarification!

[2019-06-11 20:26] SsnL commented on #21645
The auto-collation in fetch.py is meant to be used by cases where batch size is not data dependent and chunk reading is not too beneficial, I.e. majority of small to medium size training. It is provided for users to easily implement custom dataset without figuring out complicated efficient batching code themselves. After #19228 , setting batch_size=None (and batch_sampler=None) disables autobatchi

[2019-06-11 20:40] Oewyn commented on #17703
I too am able to reproduce this on pytorch 1.1.0 on 2 nodes with worldsize =4, ranks 0,1 on one machine and 2,3 on another connected via direct 10Gbe connection.

-Paul

[2019-06-11 20:45] ptrblck commented on #12598
@oswinoswin Yes, @zasdfgbnm  implemented it, so I'm closing this issue.

[2019-06-11 20:45] #12598 closed

[2019-06-11 20:47] VitalyFedyunin commented on #19092
After several conversations about how confusing it is to have Tensors to carry (or not) channels_last 'tag' we decided to take the risk of introducing bc-breaking change and auto-promote tensors to the channels_last format.

What does it mean to the API:

Any 3d,4d,5d tensors with strides like N,1,H,[W,[D]] will automatically get channels_last memory format.

To make it work, we will take special

[2019-06-11 21:02] EvenOldridge commented on #21645
@SsnL Some very cool work.  I looked into the multiprocessing side of dataloaders but when I found it wasn't necessary for my use case of tabular data I went with a simpler approach.  The iterable style looks particularly useful for the larger than memory dataloader that I'm currently working on.

Can you clarify the below further:

I'm trying to understand how a user would take advantage of batch

[2019-06-11 21:05] vincentqb commented on #20527
Only schedulers depending only on epoch number can have the epoch parameter as an option, and so this parameter should not be expected from a general scheduler. (ReduceLROnPlateau is an example of scheduler that should not have it.) We are planning on reinstating #14010 with the following modifications: when the user inputs the epoch parameter, a warning is shown, and the closed form of the schedu

[2019-06-11 21:15] spandantiwari commented on #19157
@SingL3 - could you provide the repro steps for this. Also, there have been several improvements to the PyTorch ONNX exporter since 0.4.0 release. It would be helpful if you can try exporting from the latest release PyTorch 1.1, maybe even the nightly build, and see if you still hit this issue.

[2019-06-11 21:22] spandantiwari commented on #19277
ONNX spec supports large models (>2GB) since v1.4.0. [This](https://github.com/onnx/onnx/pull/678) is the relevant PR.

[2019-06-11 21:37] thiagocrepaldi commented on #19213
Yes, I agree. I have created `n` processes, setting `torch.set_num_threads(1)` on each of them and instead of having `n` threads being used, I got all CPUs at 100%

On a 24 CPUs server, even if I spawn a single process, all 24 CPUs are used

I will try to create a minimal repro script soon. te current repro has lots of unrelated changes and not easily shareable

[2019-06-11 21:43] soumith commented on #21477
I'll look into this.
It is by design, but our error messages are getting eaten up by the loader checks being raised before our error messages.
torchvision master has been moved to lazy-loading, which is a bit better.

[2019-06-11 21:45] soumith commented on #21477
about `torchvision` downgrading pytorch to CUDA9, i dont think that's true. In Piotr's example, he first installs `torch-nightly`, and then installs `torchvision` which installs `torch`. `torchvision-nightly` should be provided to depend on `torch-nightly`, as tracked here: https://github.com/pytorch/vision/issues/833

[2019-06-11 21:52] ptrblck commented on #21477
That's true and I wasn't aware of `torchvision-nightly`, so thanks for the information.
However, what do you think about the second install approach?
[code]
Here I try to explicitly select `torchvision` from `cu100`, which downgrades to CUDA9.
Is this expected, because `torchvision` is not compatible with `torch-nightly`?

[2019-06-11 22:10] soumith commented on #21477
yes this issue needs to be fixed as well. i filed an issue for this here: https://github.com/pytorch/pytorch/issues/19990

[2019-06-11 22:10] soumith commented on #21477
the problem is that there is no actual filename distinction between our feature-tracked wheels

[2019-06-11 22:17] bddppq commented on #21585
Created a jira ticket in the amd jira. @iotamudelta Could you help follow up with the investigation?

[2019-06-11 22:21] #21257 closed

[2019-06-11 22:21] #21508 closed

[2019-06-11 23:18] orionr commented on #20477
I'm working on a fix for this. cc @natalialunova

[2019-06-12 01:17] eugeneware commented on #17571
@suo It's for getting U-nets to work where hooks are used to store activations from the forward pass. See [code here](https://github.com/fastai/fastai/blob/master/fastai/vision/models/unet.py#L46) for the model that many people in the fast.ai course are trying to compile.

It turns out that if you just comment out that error the compilation works.

So it would be great if there was some option tha

[2019-06-12 02:08] #21573 closed

[2019-06-12 02:20] jinfagang commented on #15523
cat is not the solution, if output tensor not same size in all axis, can not concate. And toTuple() methods I just got some scalar value but not a tuple of tensors.

[2019-06-12 02:50] ChisenZhang commented on #21455
this is the model architecture of faceboxes:
`import torch
import torch.nn as nn
import torch.nn.functional as F

class BasicConv2d(nn.Module):

    def __init__(self, in_channels, out_channels, **kwargs):
        super(BasicConv2d, self).__init__()
        self.conv = nn.Conv2d(in_channels, out_channels, bias=False, **kwargs)
        self.bn = nn.BatchNorm2d(out_channels, eps=1e-5)

    def forwa

[2019-06-12 02:55] jvesely commented on #21363
yes. The problem appears in appveyor CI [0, 1.0.1: 1], everything is installed from scratch.

[0] https://ci.appveyor.com/project/jvesely/psyneulink-wuxsn/builds/25037488/job/28d6ddsrh2hga5sb?fullLog=true
[1] https://ci.appveyor.com/project/jvesely/psyneulink-wuxsn/builds/25042790/job/bevusdmjgmn289bx?fullLog=true

[2019-06-12 03:08] haiyang-tju commented on #14395
Great! It works.

[2019-06-12 03:23] haiyang-tju commented on #14395
But when I run the exported onnx model in caffe2, it gives me the RuntimeError:

RuntimeError: [enforce fail at aten_op.h:14251] . Attempting to run unknown ATen operator configuration: adaptive_avg_pool3d-2
@zrphercule would you like to take a look? Thanks.

the running code script as follows:

[code]

[2019-06-12 03:46] wwyi1828 commented on #17108
Thank you! I have the same problem, and I need to reboot the Python every time. According to what you said, I add torch.cuda.current_device() after import torch. It works.

[2019-06-12 03:47] helloahn commented on #21583
FYI, I'm using these 2 headers `caffe2/core/workspace.h`, `caffe2/core/init.h`.
Is there any proper way to use caffe2 in cpp if it is wrong?

[2019-06-12 04:14] eugeneware commented on #17571
FYI [this issue](https://github.com/pytorch/pytorch/issues/20862) is related to this issue also.

[2019-06-12 04:20] vishwakftw commented on #21643
Thank you for raising this issue.

This issue is more of a dependency related issue. MAGMA uses the grid dimension `y` to maintain a counter for batches. The limit of this dimension is 65535, and therefore batch sizes > 65535 aren't accommodated, leading to an error.

The way I can see this issue getting resolved, albeit temporarily, is using a for-loop in your code to cycle through mini-batches o

[2019-06-12 06:18] robsalomone opened #21673 "Diagonal Transform"
## 🚀 Feature
Add a transform function in distributions that only transforms diagonal elements of matrix valued random variables, similar to the TransformDiagonal bisector in TensorFlow Probability.

## Motivation
Important for reparametrizing covariance matrices to unconstrained space (first, take Cholesky, then transform the diagonal only with log transform.

[2019-06-12 07:40] pietern commented on #21015
@sth1997 What kind of error? If you have an ib0 interface it is most likely for IPoIB, which is unrelated to whether you compile with ibverbs or not (since that is only used for actual IB, not IPoIB).

[2019-06-12 08:25] bruce2k opened #21676 "How can I verify caffe2 install success?"
## ❓ Questions and Help

hi,

OS is ubuntu17.10,
python 3.6.8

I installed Caffee2 in my PC, but I don't know how to verify if it's success.
the installation instructions follow "https://caffe2.ai/docs/getting-started.html?platform=ubuntu&configuration=prebuilt"  select Ubuntu & Pre-Built Binaries , install command:

conda install pytorch-nightly cuda90 -c pytorch

Collecting package metadata: don

[2019-06-12 08:26] bemoregt opened #21677 "I met thie error when run onnx inference."
Hi, @svenstaro @eklitzke @dreiss @huitseeker @jfsantos

My Code (onnx model converted from pytorch model)-

[code]

I met thie error when run onnx inference. -
`RuntimeError: Method run failed due to: [ONNXRuntimeError] : 2 : INVALID_ARGUMENT : Invalid Feed Input Name:data`

What's wrong to me ??

Best,
@bemoregt.

[2019-06-12 08:45] bruce2k commented on #21676
after execute 'pip install future' the problem solved

[2019-06-12 08:45] #21676 closed

[2019-06-12 10:20] pietern commented on #21344
@MichaelDylan77 Could you give the code in #21591 a try and see if it works for you?

[2019-06-12 10:26] pietern commented on #21415
In that case you should be able to use `torch.distributed.get_world_size(group=pg)` directly.

The `pg` is still to be considered an abstract object. In reality it's an instance of the C++ `c10d::ProcessGroup` class, and you can also call `pg.size` to get the same information. This is not considered public API so please prefer going through the `torch.distributed` function instead.

[2019-06-12 10:28] pietern commented on #21480
Good catch. It ends up using the input tensors as intermediate storage to compute the reduction.

[2019-06-12 12:01] jeroenvuurens commented on #19003
I think you are correct, if you indent the second and third to last lines in the __init__ it works.

[2019-06-12 12:16] pietern commented on #21677
Are you sure the arguments you pass to `sess.run` are valid? Does the shape of the input match the expected shape of the ONNX model?

[2019-06-12 12:24] McChicken93 opened #21679 "BatchNorm: C++ Frontend ignoring running_mean and running_var"
## 🐛 Bug

When using the PyTorch C++ frontend, the BatchNorm-Modules ignore running_mean and running_var values.

## To Reproduce

Steps to reproduce the behavior:

[code]

Returns for both forwards a value of [3, 3]

## Expected behavior

According to the Pytorch documentation https://pytorch.org/docs/stable/nn.html#torch.nn.BatchNorm2d the value should be [2.5, 2.5].

## Environment

 - PyTorch

[2019-06-12 12:24] pietern commented on #21673
Is this something you'd be willing to contribute?

[2019-06-12 12:28] pietern commented on #21679
I don't know why this is happening myself, but marked as "high priority" so someone else will take a look.

[2019-06-12 12:47] geoffsmith commented on #18429
I'm pretty sure now there's an issue with exporting PixelShuffle to ONNX. I've made a minimal script to demonstate: https://gist.github.com/geoffsmith/0b69070e96262dffe4ae1c22e9126bf3

I think that the PixelShuffle ONNX export function re-arranging the tensors slightly differently to the way that PyTorch does it. In the script I show that the values in a simple (1, 1, 4, 4) tensor are ordered diff

[2019-06-12 12:50] pietern commented on #14395
@houseroad Can you take a look at this as well?

[2019-06-12 12:54] pietern commented on #21605
@suo @jamesr66a Can you take a look at this?

[2019-06-12 12:58] pietern commented on #21626
@kparaju @tchaton Which serialized model are you loading? Are you using the same one?

I'm guessing the serialized model is malformed, or otherwise causes some tensors to be partially loaded or initialized, which in turn causes the assertion failure when everything is being cleaned up when the program terminates. That said, even for malformed serialized models, it should error gracefully, not term

[2019-06-12 13:18] xiiiiiiii opened #21680 "Disable nondeterministic CTCLoss from cuDNN"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.I i updated pytorch version and ctc，use pytorch_nightly, but in my train ,nn.CTCloss() is still zero,so,i would like to ask if the version pytorch(nightly) has been solved this problem
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com

[2019-06-12 13:22] ezyang commented on #21680
What is the version on the nightly you installed? It should have been fixed in #21392 which landed seven days ago. Are you sure there isn't an unrelated bug in your training script? Can you post a script that reproduces the problem?

[2019-06-12 13:24] ezyang commented on #21589
I'm reducing priority because this has been broken for a while, and we don't have very many users demanding that non-standard streams work. If we end up with an important use case for non-standard streams bump this up.

[2019-06-12 13:35] ezyang commented on #21679
The example looks like it is giving the correct result to me.

[code]

gives

[code]

Your problem is probably that you forgot to set the module to `eval()` mode.

[code]

You can do this by calling `eval()` on your C++ module.

[2019-06-12 13:35] #21679 closed

[2019-06-12 13:35] ezyang commented on #21679
By the way, replacing parameters this way:

[code]

will break `parameters()` machinery. In general, don't assign over members in modules in the C++ API.

[2019-06-12 13:37] qbx2 opened #21681 "[JIT] Optimize assert statements by __debug__ flag"
## 🐛 Bug

`assert` statements are not removed in jit graph even if -O is provided to python interpreter.

## To Reproduce

[code]
Output:
[code]

## Expected behavior

The assert statements should be removed when `__debug__` is False. Please refer to https://docs.python.org/3/using/cmdline.html#cmdoption-o and https://docs.python.org/3/reference/simple_stmts.html#assert .

## Environment

Collecti

[2019-06-12 13:38] ezyang commented on #21402
I'm reprioritizing this to high, as batch norm is important and this really should work.

[2019-06-12 13:42] ezyang opened #21682 "C++ module API footgun: assigning to parameter doesn't update `parameters()` list"
In https://github.com/pytorch/pytorch/issues/21679#issue-455182954 I saw a user do this:

[code]

This is bad, you shouldn't do it. The reason is because you have created a new tensor and stuck it on the parameter slot, but the *registered* parameter (stored in the parameters vector) isn't updated in this case.

I didn't see anything documented against this.

[2019-06-12 13:51] xiiiiiiii commented on #21680
![image](https://user-images.githubusercontent.com/45999214/59355117-0232cc00-8d59-11e9-86e7-d6d846ffc479.png)

I downloaded this Preview（Nightly）version  yestarday，i watched #21392,but i don`t know if it unpdate in pytorch vision 1.1. but i used version Preview（Nightly）1.1, l also get nan loss,So,which version of pytorch should i download to solve this problem?

[2019-06-12 14:00] ezyang commented on #21680
Yesterdays nightlies should be sufficient; I checked Conda and our Windows builds are working. So it must be something else. Do you have a script which reproduces the nan loss?

[2019-06-12 14:00] ezyang commented on #21680
cc @t-vi

[2019-06-12 14:11] #21344 closed

[2019-06-12 14:17] hossein1387 opened #21683 "Import ONNX model to Pytorch"
## 🚀 Feature

Importing ONNX models into Pytorch.
## Motivation

Almost all other frameworks already support this. Importing ONNX models into Pytorch makes Pytorch much more flexible.

## Pitch

In `torch.onnx`, a function should be created to take the ONNX model and outputs a Pytorch model.

cc @BowenBao @neginraoof

[2019-06-12 14:32] zou3519 commented on #21644
I don't know the answer to that question, but here's the PR that introduced it: https://github.com/pytorch/pytorch/pull/20035. cc @salexspb and @zdevito

[2019-06-12 14:34] zou3519 commented on #21644
Seems like it should be `False` for backwards compatibility. We should probably add a `record_shapes` option to `emit_nvtx`'s `__init__`.

[2019-06-12 14:35] gchanan commented on #21682
and it's different from the python API, so should be spelled out in bold :).

[2019-06-12 14:41] bruce2k opened #21684 "The cuda problem in caffe2"
Hi

I install Caffe2 with Python3.6.8, cuda 9.0.176, cudnn 7 ,Driver Version: 384.130 OS ubuntu 17.10

Caffe2 install use: conda install pytorch-nightly cuda90 -c pytorch

when I try to run maskrcnn demo as below the "CUDA driver version is insufficient for CUDA runtime version" error occurs . pls help me! Thanks a lot!
python tools/infer_simple.py \
    --cfg configs/12_2017_baselines/e2e_mask_rc

[2019-06-12 14:41] xiiiiiiii commented on #21680
the num of my train date is 9000,is this:
![image](https://user-images.githubusercontent.com/45999214/59358538-550f8200-8d5f-11e9-9f7b-a02e7567dbad.png)
and the label is
00000000.jpg 144 80 91 9 213 24 16 217 91 682 129 100 5
"144 80 91 9 213 24 16 217 91 682 129 100 5"is the index of the words in the picture in the alphabet
my alphabet has 5990 num classes
is this
![image](https://user-images.git

[2019-06-12 14:50] bruce2k commented on #21684
even i use :conda install pytorch-nightly cuda90 -c pytorch , but the install information still  as below. the problem cause by  "pytorch-nightly-1.2.0.dev20190612|py3.6_cuda10.0.130_cudnn7.5.1_0"? how can i solve it?

added / updated specs:
- cuda90
- pytorch-nightly

The following packages will be downloaded:

package                    |            build
---------------------------|------------

[2019-06-12 15:19] MichaelDylan77 commented on #21344
@pietern I’ll test it out this afternoon!

[2019-06-12 15:20] ezyang commented on #10243
See also #18182

[2019-06-12 15:21] mcarilli commented on #21644
I have a local PR ready, gimme about an hour to test it.

[2019-06-12 15:24] umanwizard commented on #21602
Just for the sake of completeness, can you tell us what CPU you have?

[2019-06-12 15:25] tushar-semwal commented on #3867
Will this also apply to Conv1d?

[2019-06-12 15:25] zou3519 commented on #21644
Do nvtx ranges support adding extra information (like the input shapes)? Not sure if `record_shapes` makes sense for `emit_nvtx`

[2019-06-12 15:26] WanCC1995 commented on #21602
2.9 GHz Intel Core i5

[2019-06-12 15:27] umanwizard commented on #21627
Can you paste the actual code you are using? This one has a bunch of syntax errors, so I think Github's formatting screwed it up somehow...

[2019-06-12 15:29] umanwizard commented on #21627
From the stack trace, it seems this is crashing in `torch::jit::parseSchemaOrName(std::string const&)`. Triaging to JIT module.

[2019-06-12 15:30] ezyang commented on #20756
I don't think `_load_from_state_dict` is the correct mechanism here; the loading was done with `torch.load` which will use Pickle, which doesn't use state dict loading.

[2019-06-12 15:32] gchanan commented on #18182
Capturing an in-person discussion with @ezyang on https://github.com/pytorch/pytorch/pull/21613 -- which also wants to change some default behavior -- we should name these options with "future" in the name, current proposal is (`torch.__future__`)

[2019-06-12 15:32] umanwizard commented on #21682
Seems like docs is the correct module for this

[2019-06-12 15:38] ezyang commented on #21680
Thanks, can you also tell us what the output of this is?

[code]

[2019-06-12 15:49] shagunsodhani commented on #20921
I realised that there are some other tensor creation ops which have the same issue of `sizes` vs `size`. I submitted a new [PR](https://github.com/pytorch/pytorch/pull/21686/) which fixes them.

[2019-06-12 16:27] #6593 closed

[2019-06-12 16:28] sairaamVenkatraman opened #21688 "Batched Conv2d for sequence data"
## 🚀 Feature
A module that allows for batched 2d convolutions on sequence data. Essentially, a module that takes as input a tensor of dimensions (batch_size, sequence, channel, H, W) and returns a tensor of dimensions (batch_size,sequence,channel,H',W').
Note: This function is **NOT** conv3d. The convolution is 2d, and is applied individually to each element of the sequence.
## Motivation
Using co

[2019-06-12 16:53] hughperkins commented on #18182
Updating defaults seems to me like a good idea. But I think it's not sufficient. Since different scenarios, networks etc, need different initializations. I think that the initialization should be:

1. visible: we are aware of what choice of initialization we are making, that we are making a choice, and
2. easy to modify

For point 2, since there are a small finite number of fairly standard initial

[2019-06-12 17:03] driazati commented on #20939
This is mostly landed, though it's guarded behind a flag. To finish this up, we need to:

* Make error reporting through function calls show the trace of calls that led to the error
* Change documentation to use recursive script rather than inheriting from `ScriptModule`
* Remove weak script
  * Delete `WeakScriptModuleProxy` - recursive script will seamlessly take its place
  * Delete weak script

[2019-06-12 18:05] mcarilli commented on #21644
Not currently, but my PR https://github.com/pytorch/pytorch/pull/21691 includes some surgical changes to `torch/csrc/autograd/profiler.cpp` such that nvtx ranges can append shape information.

[2019-06-12 18:21] igorsyl commented on #19277
Is this still a problem?  Provided example works ok for me:

![image](https://user-images.githubusercontent.com/1248500/59376054-03420a00-8d15-11e9-83e2-166f704c2b40.png)

[2019-06-12 18:51] ezyang commented on #21589
@ngimel tells me that getting CUDA graphs https://github.com/pytorch/pytorch/issues/15623 to work is blocked on this working correctly (because CUDA graphs must run on a non-default stream.) So when CUDA graphs get to the point where they are usable and we want to let people use them, we will need to fix this.

[2019-06-12 19:02] #20421 closed

[2019-06-12 19:17] suo commented on #21402
@kingaza what arguments did you use to initialize the model? Additionally, if you could upload your `model.pt` it would help as well

[2019-06-12 19:32] svenstaro commented on #21677
Why would you highlight me?

[2019-06-12 19:41] eellison commented on #21681
We have to be careful with this, because in the future we will make `assert x is not None` refine Optional types.

[2019-06-12 20:09] SsnL commented on #21688
just reshape conv and reshape back

[2019-06-12 20:15] suo commented on #17571
@zdevito do you remember why we explicitly disallow hooks?

[2019-06-12 20:35] ezyang opened #21700 "ld: error: can't create dynamic relocation R_X86_64_DTPOFF32 against symbol: ideep::utils::computation_cache"
There's something wrong with `TORCH_STATIC` when building with MKL DNN.

Steps to reproduce:
1. Apply this diff to turn on static build:

[code]

Run build with `USE_MKLDNN=1`:

[code]

If you turn off MKLDNN the problem goes away. I don't have time to investigate, so filing a bug here.

[2019-06-12 20:38] ilia-cher commented on #19213
that'd be very helpful, thanks!

[2019-06-12 20:41] Krovatkin opened #21701 "Add comments on classes to `bailout_graph.cpp`"

[2019-06-12 20:41] Krovatkin commented on #21701
@ZolotukhinM

[2019-06-12 20:46] Krovatkin commented on #19413
https://github.com/pytorch/pytorch/pull/20279 addresses this

[2019-06-12 20:46] #19413 closed

[2019-06-12 20:50] xuhdev opened #21702 "Better CMake integration"
(This is a feature that I've been working on (see https://github.com/pytorch/pytorch/pull/21493#issuecomment-500513129). I open this issue so that relevant PRs can be better tracked.)

## 🚀 Feature and Motivation

Better CMake integration. Currently there are a lot of inconsistency and redundancy between the Python setup scripts and CMake scripts (duplicated env check, overriding env check, incons

[2019-06-12 20:51] zdevito commented on #17571
I can't remember. We should revisit it and see if wean just enable it.

[2019-06-12 21:07] gkossakowski commented on #19277
the size of the model exported looks too small, are you sure the whole model got exported?

[2019-06-12 21:15] ezyang commented on #21702
One small thing I noticed recently, when trying to build directly using cmake: `PYTHON_EXECUTABLE` detection doesn't seem to work, I have to say `-DPYTHON_EXECUTABLE=$(which python)` to get it to point at the right place.

[2019-06-12 21:21] ezyang opened #21703 "BUILD_ATEN_ONLY no longer works, due to missing caffe2.pb.h header"
Steps to reproduce:

[code]

we get:

[code]

[2019-06-12 21:41] ezyang commented on #14367
I am actually quite curious how @sinkingsugar got it to work, because I have been trying to get this to work myself and there is SOOOO much broken stuff lol.

[2019-06-12 21:59] xuhdev commented on #21702
@ezyang Do you mean running the following in a clean source tree? It actually worked for me (`PYTHON_EXECUTABLE` in `CMakeCache.txt` was set correctly).

[code]

[2019-06-12 22:01] ezyang commented on #9797
This problem still occurs on master

[2019-06-12 22:04] ezyang commented on #21702
Yeah, that didn't work for me. Interesting!

Excerpts from Hong Xu's message of 2019-06-12 15:00:44 -0700:

[2019-06-12 22:33] liukuanlk opened #21706 "Windows: Optional.h(519): error C2660: 'c10::optional<bool>::swap': function does not take 2 arguments"
## 🐛 Bug

Optional.h(519): error C2660: 'c10::optional<bool>::swap': function does not take 2 arguments when I tried to build a function in VS C++

It seems that the "swap" on line # 519 cannot find the definition (line # 1052). Do you have any workaround to resolve this issue? Many thanks!

## To Reproduce

Steps to reproduce the behavior:

1. when you call "swap" function in PyTorch C++ "Optiona

[2019-06-12 22:44] umanwizard opened #21710 "Python 3.8: Can't use constants in jit script"
## 🐛 Bug
This works with Python 3.7 but fails on Python 3.8
**test.py**
[code]
**error message**
[code]

## Expected behavior

## Environment

[code]

## Additional context

[2019-06-13 00:25] ZhengDeQuan commented on #13728
yes it has been solved

---Original---
From: "Jerry Zhang"<notifications@github.com>
Date: Wed, Jun 5, 2019 02:22 AM
To: "pytorch/pytorch"<pytorch@noreply.github.com>;
Cc: "Mention"<mention@noreply.github.com>;"ZhengDeQuan"<1206407723@qq.com>;
Subject: Re: [pytorch/pytorch] RuntimeError: param_from.type() == param_to.type() ASSERT FAILED (#13728)

@ZhengDeQuan can you confirm whether this is resol

[2019-06-13 00:25] sidazhang opened #21717 "Dict Attribute does not work in PYTORCH_JIT=0"
## 🐛 Bug

AttributeError: 'Attribute' object has no attribute 'keys'

A dictionary Attribute in PYTORCH_JIT=0 is not a dictionary but a Attribute object

[2019-06-13 00:26] sidazhang commented on #21717
@suo  @driazati I know that you are refactoring this right now to get rid of attribute. I am just filing this to track it and make sure that in your new refactor, dictionary is treated correctly. No need to fix this bug with attribute

[2019-06-13 00:46] LoveZL0512 commented on #21627
here is a similar question#14981，i will try to upgrade gcc

[2019-06-13 01:16] daquexian commented on #21271
Solved in #21330

[2019-06-13 01:16] #21271 closed

[2019-06-13 01:31] xiiiiiiii commented on #21680
thank you ,i run collect_env.py,resault is:
![image](https://user-images.githubusercontent.com/45999214/59396858-20321800-8dbd-11e9-8a92-585da5611585.png)

my model is  mobilenetv2+avgpool+fc+softmax
![image](https://user-images.githubusercontent.com/45999214/59397033-c41bc380-8dbd-11e9-9bab-d06734b80bd0.png)

but i run my script,resault is:
![360032279](https://user-images.githubusercontent.com/4

[2019-06-13 01:47] xiiiiiiii commented on #21680
oh ,i  made a mistake,i install nightly version in ubuntu,but i watch the result of collect_env.py,i have torch version and torch_nighly version,should i unsintall torch version?

[2019-06-13 02:43] SsnL opened #21722 "TestJit.test_cpp flaky"
[code]
https://circleci.com/gh/pytorch/pytorch/1983629?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-06-13 03:37] encichou commented on #21270
thanks ，I update my pytorch 1.0，now my error is finished

[2019-06-13 03:41] sjdrc commented on #19353
Could someone from the dev team please comment on this issue? You're currently shipping code that doesn't integrate properly.

[2019-06-13 04:01] soumith commented on #19353
our shipped binaries are with `_GLIBCXX_USE_CXX11_ABI=0` because they are compiled with gcc 4.9.2. your `yaml-cpp` library was compiled with `_GLIBCXX_USE_CXX11_ABI=1`, so likely gcc >= 5. The function that is failing to link on yaml-cpp side has std::string in it's prototype, and the ABI is different for std::string with and without this flag.

Two solutions exist:
- compile pytorch / libtorch fr

[2019-06-13 04:01] #19353 closed

[2019-06-13 04:04] sjdrc commented on #19353
gcc 4.9.2 was released on October 30, 2014.
Do you plan to switch to a newer version of GCC at some point?

[2019-06-13 04:16] syed-ahmed commented on #1614
It's now documented in master: https://pytorch.org/docs/master/torch.html#generators.

[2019-06-13 04:30] soumith commented on #19353
we plan to provide CXX11 ABI libtorch binaries, but progress has been slow. this is tracked in https://github.com/pytorch/pytorch/issues/17492

[2019-06-13 04:42] #21270 closed

[2019-06-13 04:49] kostmo commented on #20742
FYI, #20774 is merged now.

[2019-06-13 04:53] chenzhekl commented on #7284
I need `searchsorted` as well for implementing "Cubic-Spline Flows". TensorFlow already has a method for that https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/searchsorted

[2019-06-13 06:28] MichaelDylan77 commented on #21344
Everything seems to work fine on my end. No obvious issues. Memory usage looks relatively constant after removing and re-wrapping the model in DDP

[2019-06-13 06:38] chughtapan commented on #21406
I was able to reproduce this. Also adding some memory allocation statistics collected at the end of the script.
**With tracing**
[code]

**Without tracing**
[code]

To collect these statistics, I modified the original example to,
[code]

[2019-06-13 07:25] vishwakftw commented on #21643
Closed by 4c03ac7ac4d6fe9bc428f20834da053f9701c3c6

[2019-06-13 07:25] #21643 closed

[2019-06-13 07:25] vishwakftw commented on #13276
Closed by 4c03ac7ac4d6fe9bc428f20834da053f9701c3c6

[2019-06-13 07:25] #13276 closed

[2019-06-13 07:27] dongfangduoshou123 opened #21726 "Caffe2 APIs are being deprecated"
I see in website caffe2.ai say that 'Caffe2 APIs are being deprecated', Is this mean caffe2 is abandoned or other mean? I want to know caffe2's future.

Thank you!

[2019-06-13 07:32] wait1988 commented on #19053
@ofexe you export the model with input shape (1, 1, 32, 160),if the input width is larger than 160,does this model work well?

[2019-06-13 07:37] dongfangduoshou123 commented on #21726
@kostmo

[2019-06-13 07:53] ujsyehao commented on #16500
how to uninstall it?

[2019-06-13 07:55] huolianchu commented on #21627
你好，i问这个问题解决了吗

[2019-06-13 07:57] huolianchu commented on #21627
I have been troubled by this question for two days. Have you solved it?

[2019-06-13 08:01] LoveZL0512 commented on #21627
is this your question？i copy from forum，my question is similar，i am busy this week，you  can try to upgrade your gcc>=4.9.2

[2019-06-13 08:06] huolianchu commented on #21627
I tried different versions of GCC, but it didn't work. I used the GPU version of libtorch.

[2019-06-13 08:16] t-vi commented on #21680
Hi,

if would be great if you could try to uninstall. You could also just print `torch.__version__` in your actual script to be sure.
If you still get NaN with recent nightlies, could you run `torch.save` with the exact inputs to the CTC Loss? Then you should be able to reproduce the NaNs without the remainder of the model.

Thank you!

[2019-06-13 08:17] fmassa commented on #1614
Closing this via @Syed-Ahmed comment

[2019-06-13 08:17] #1614 closed

[2019-06-13 08:32] sairaamVenkatraman commented on #21688
@SsnL  That was a solution I did not mention, but have used. I find that having too large a batch size causes errors in conv2d. This is an open issue, and I am linking it here. https://github.com/pytorch/pytorch/issues/17774

[2019-06-13 08:39] arunpatro commented on #973
@yangyuke001 after importing torch

[2019-06-13 08:46] drnikolaev opened #21727 "test/onnx/test_pytorch_onnx_caffe2.py fails when built with CUDA"
## 🐛 Bug

Not sure how it's missed but here we go:

## To Reproduce
Clone and build latest master. Then run:
[code]

After setting `do_constant_folding=True` default for `run_debug_test` and `run_actual_test` we get much more:

[code]

cc @BowenBao @neginraoof

[2019-06-13 08:46] xiiiiiiii commented on #21680
oh，thank you,t check my version,i used torch 1.1.0 not nightly,so i uninstall torch 1.1.0,but i have another question, i download torch-nightly 1.2.0 and torchversion 0.3.0
![image](https://user-images.githubusercontent.com/45999214/59417091-32ca4280-8df9-11e9-8837-a63ad649c2d9.png)

but when i import torchvision,i met this bug:
![image](https://user-images.githubusercontent.com/45999214/59417434-

[2019-06-13 09:11] huolianchu commented on #20469
How did you solve it?

[2019-06-13 09:28] pietern commented on #21344
@MichaelDylan77 Thanks for confirming it works for you!

[2019-06-13 09:37] xingzhex commented on #20129
There are two papers from the same author: [https://arxiv.org/pdf/1406.1078.pdf], September, 2014 (Cho is the first author) and [https://arxiv.org/pdf/1412.3555.pdf], December, 2014 (Cho is the third author). GRU's formulas are different in these two papers. Wikipedia took the formula from the second paper. I think the first one should be the correct one since it is the original paper.

[2019-06-13 09:58] Kaixhin commented on #20129
@kyunghyuncho would you be able to settle this?

[2019-06-13 10:06] trahman888 opened #21728 "batch sorting?"
I need help to implement batch sorting in Pytorch. Suppose I have a tensor of size test_tensor(6,492,5) where 6 is the batch size. I want to sort each batch element (i.e. 492x5 dimensional feature) based on last column (i.e. 5th column) of it. Can anyone help me?

[2019-06-13 10:23] fuzailpalnak opened #21729 "Upsample ONNX gives INVALID_GRAPH"
## 🐛 Bug
RuntimeError: [ONNXRuntimeError] : 10 : INVALID_GRAPH : Load model from test.onnx failed:Type Error: Type 'tensor(int64)' of input parameter (11) of operator (Floor) in node () is invalid.

Converting bilinear layer to onnx generates invalid graph

## To Reproduce
[code]
Steps to reproduce the behavior:

1.build pytorch form source with bilinear support
2.Run the above code

[code]

## En

[2019-06-13 10:24] vakul-singh commented on #14468
try pip3 install https://download.pytorch.org/whl/cpu/torch-1.1.0-cp36-cp36m-win_amd64.whl

[2019-06-13 10:25] vakul-singh commented on #12711
try pip3 install https://download.pytorch.org/whl/cpu/torch-1.1.0-cp36-cp36m-win_amd64.whl

[2019-06-13 11:40] simonepri opened #21730 "Missing documentation for cdist"
## 📚 Documentation

Following the discussions in https://github.com/facebookresearch/PyTorch-BigGraph/issues/51#issuecomment-501293200, I'm opening this issue to let you know that the `cdist` function introduced in the last release of PyTorch [it has not been documented yet](https://pytorch.org/docs/stable/search.html?q=cdist&check_keywords=yes&area=default).

[2019-06-13 11:42] BorisGiba commented on #19835
I am having the same issue at the moment (building PyTorch on the Raspberry Pi), same error.
Have you found a solution yet?
Setting ONNX_MLL to 0 did not work for me.

[2019-06-13 12:09] kingaza commented on #21402
hi @suo , thx very much.
before training, the weights were initialized:
[code]
in cpp, the model is loaded simply from a pt file , and there is no more initialization
here is the `model.pt` [model.zip](https://github.com/pytorch/pytorch/files/3285873/model.zip)

[2019-06-13 13:17] ezyang opened #21731 "Improve multithreaded random number generation (RNG)"
We received some internal reports (for FB employees: https://fb.workplace.com/groups/329222650990087/permalink/438424466736571/) that multithreaded processing with RNG performs poorly. This is probably because the majority of our CPU code takes out a lock (locking) for the entirety of the kernel in question.

@syed-ahmed do any of your upcoming plans for RNG fix this problem?

[2019-06-13 13:52] nairbv commented on #18111
this was fixed by https://github.com/pytorch/pytorch/pull/20458

[2019-06-13 13:52] #18111 closed

[2019-06-13 14:10] mansoorkhansitar opened #21733 "CUDA out of memory error while loading VGG model."
Hello,

I have this issue where I get a CUDA error while loading my model. I'm using Amazon ec2 p2.8x large server. I have used the nn.Dataparallelism module in pytorch with device_ids = 0,1,2,3,4,5,6,7 specified. However, the model is fit and consuming all of the GPU memory of only the first GPU. And when I start the training process within a few iterations throws a CUDA out of memory error. How

[2019-06-13 14:25] auroraustc commented on #18837
[#19540](https://github.com/pytorch/pytorch/issues/19540) This page may be helpful. I tried the code on this page using stable version of libtorch (v1.1.0). It runs well on single GPU(by setting CUDA_VISIBLE_DEVICES=0 manually), but got an error  `what():  data_parallel not supported without CUDA (data_parallel at /home/Software/libtorch/include/torch/csrc/api/include/torch/nn/parallel/data_parall

[2019-06-13 14:42] zou3519 commented on #13728
Closing this for now, if anyone sees this assert again please re-open this issue.

[2019-06-13 14:42] #13728 closed

[2019-06-13 14:52] AlexanderKazakov opened #21734 "Conv2d 40x slowdown depending on its filter weight (on CPU)"
## 🐛 Bug

nn.Conv2d performance (on CPU) changes 40 times by only changing its filter weights

## To Reproduce

1. Download script, .pth files
2. Run script

## Results on my PC
Script output:
[code]
Results depend on the Conv2d state only.
torch.no_grad() switching or changing input values do not affect the time.

## Expected behavior
Stable forward time

## Environment

- PyTorch version: 1.1.0

[2019-06-13 14:59] AlexanderKazakov commented on #21734
By the way, I place the script here in order to show that there is nothing special in it:
[code]

Also, the CPU profile running the script
![proc](https://user-images.githubusercontent.com/5320488/59443463-b2a9da00-8e04-11e9-9228-56fa7378bd89.png)

And the histogram of the conv.weight.flatten():
*Fast:*
![weight_fast](https://user-images.githubusercontent.com/5320488/59443535-d2d99900-8e04-11e9-85

[2019-06-13 15:33] vadimkantorov commented on #21734
denormalized floats to blame?

[2019-06-13 15:35] ifedan commented on #21469
Working on fix: https://github.com/pytorch/pytorch/pull/21533

[2019-06-13 15:41] ezyang commented on #21734
I agree with @vadimkantorov, if the slow down is data dependent, then this is almost certainly due to denormalized floats. I don't know if PyTorch library has an easy way to check for this in your dataset, but that would be the first thing to check.

[2019-06-13 15:45] kyunghyuncho commented on #20129
either is fine, because it's all about semantics of z. that is, if z is considered an update gate, z * n makes sense, while (1-z)* n makes sense if we think of z as a leaky coefficient. in the end, they are equivalent.

[2019-06-13 15:49] ezyang opened #21737 "Static linking master bug"
Statically linking PyTorch doesn't work (well). This master bug is to track all of the individual bugs related to this problem, as well as record up-to-date instructions for how to do static linking on master.

Blockers:
- [x] #20742 - `libtorch.a` is not generated, even when building with `-DBUILD_SHARED_LIBS=OFF`
- [ ] #9797 - building pytorch as a subdirectory in cmake doesn't work (workaround

[2019-06-13 15:50] ezyang commented on #20742
This issue is fixed by #20774. This doesn't mean you actually can statically link though, track the rest of the saga at #21737

[2019-06-13 15:50] #20742 closed

[2019-06-13 15:51] ezyang commented on #21737
cc @marchss

[2019-06-13 16:00] ezyang opened #21738 "symbol lookup error: libmkl_intel_lp64.so: undefined symbol: mkl_blas_dsyrk (binaries built with static linking -DBUILD_SHARED_LIBS=OFF fail due to dynamic linker problem)"
Steps to reproduce:

[code]

Try to run one of the built binaries, e.g., `caffe2_benchmark`. It fails with:

[code]

The cause of this problem is that the binaries are being linked with mkl, but they aren't being linked with `-Wl,--no-as-needed` and so the static library that contains `mkl_blas_dsyrk` is being pruned too. I made a little stub application like:

[code]

and this solved the problem

[2019-06-13 16:02] ezyang commented on #20273
In the terminal state, I don't really want static linking with an explicit, hand-written list of linker flags to be a supported operation (it's really difficult to link the transitive dependencies correctly). Your problem is probably because you missed a static library that you need to link in. For a better way to do linking in this situation, please check #21737

[2019-06-13 16:03] ezyang commented on #21737
cc @Palmitoxico

[2019-06-13 16:05] #17874 closed

[2019-06-13 16:06] ezyang commented on #17228
Given the error, the most likely explanation is that you have an improper version of nccl:

[code]

Try seeing if your submodules are out of date, or if you have an out of date system install of nccl.

[2019-06-13 16:06] #17228 closed

[2019-06-13 16:07] ezyang commented on #17108
fix was merged

[2019-06-13 16:07] #17108 closed

[2019-06-13 16:09] ezyang commented on #15785
I think this is a dupe of #20686, as I see `UnaryOpsKernel.cpp.DEFAULT.cpp.DEFAULT.cpp.DEFAULT.cpp.AVX2.cpp.AVX2.cpp` which is due to us generating the files too many times. I'm going to close this in favor of that bug. Cleaning your source directory will help.

[2019-06-13 16:09] #15785 closed

[2019-06-13 16:10] ezyang commented on #20686
cc @magicwyzh @Xfel @HerculesJack

[2019-06-13 16:11] edgarriba commented on #18182
and what if e.g you want to initialize weights and bias with a different method ?

[2019-06-13 16:22] ezyang commented on #14367
@LearnedLately  @marchss I have gotten the static linking to successfully work using `-Wl,--whole-archive`. I'll put up complete instructions in #21737

[2019-06-13 16:29] ezyang commented on #21737
cc @LearnedLately @sinkingsugar @jainshobhit

[2019-06-13 16:30] ailzhang commented on #21710
@umanwizard  Which commit are you on? It seems to be working on my side.

[2019-06-13 16:32] ezyang commented on #21680
Yes please, uninstall all of torch and then try again with the nightly.

[2019-06-13 16:34] dbrotman opened #21740 "Spurious Generated Version Number in TorchConfigVersion.cmake When Building with CMAKE Directly"
## 🐛 Bug

When building libtorch with cmake/make directly, the generated `TorchConfigVersion.cmake` will always show 1.0.0 as the version number

## To Reproduce

Steps to reproduce the behavior:

1. Clone Pytorch
2. Checkout v1.0.0
3. Build libtorch with cmake/make
4. Look at `TorchConfigVersion.cmake`

[code]

## Expected behavior

The first line in `TorchConfigVersion.cmake` should be:
`set(PAC

[2019-06-13 16:35] Jianhui-Li commented on #21597
@bddppq  will fix in MKL-DNN v0.20

[2019-06-13 16:39] igorsyl commented on #19277
Your issue says that an "empty onnx file is created on disc".  In my case, the generated file is not empty and it looks like the model loads up correctly.  Perhaps you're having an issue with pytorch version?

[2019-06-13 16:53] Palmitoxico commented on #20273
I don't think it is a good idea to write the linker flags 'by-hand' either, but when building and installing the static caffe2 version it doesn't provide CMake or pkg-config file, so I had to 'guess' those.

I tried to find where the ```EmbeddingLookup_int32_t_float_float_false__avx2_fma``` symbol is defined, but only ```libcaffe2.a``` has a reference to it (and it is undefined):
[code]

I used to

[2019-06-13 16:55] Palmitoxico commented on #20273
I should probably try again with most recent commits, but the ```-DBUILD_PYTHON=OFF``` seems to be broken.

[2019-06-13 16:56] AlexanderKazakov commented on #21734
@vadimkantorov Thank you, you are right! When I checked the filter weight for denormalized values, in the fast filter there were not such at all, and in the slow one there were about 60% denormalized values. When I replaced them like
[code]
forward times became equal and model behavior is the same.

Intersting, but not so important question is why eps = pow(2, -125)? From documentation it should b

[2019-06-13 16:56] #21734 closed

[2019-06-13 17:00] soumith commented on #21734
you could also set https://pytorch.org/docs/stable/torch.html?highlight=flush#torch.set_flush_denormal and you'll be fine without changing the weights

[2019-06-13 17:10] nairbv commented on #5219
@ivankreso I don't see an existing one. basic_ops.h seems reasonable to me.

[2019-06-13 17:11] umanwizard commented on #21710
This is possibly a Python version issue since I am on 3.8 (which is unreleased). Let me try on 3.7.

[2019-06-13 17:12] deeponcology commented on #19302
I can confirm that I have both Windows 10 and Linux working using CUDA 10 and Opencv 3.4 on the GPU.
Thanks.

[2019-06-13 17:12] umanwizard opened #21741 "No PyPI packages for Python 3.8 which will be released soon (expected October)"
[code]

[2019-06-13 17:13] soumith commented on #21733
please use https://discuss.pytorch.org for questions

[2019-06-13 17:13] #21733 closed

[2019-06-13 17:14] soumith commented on #21728
please use https://discuss.pytorch.org for questions

[2019-06-13 17:14] #21728 closed

[2019-06-13 17:15] soumith commented on #21726
it means what it says -- the API is being deprecated. Eventually the caffe2 frontend will receive no support.

[2019-06-13 17:15] #21726 closed

[2019-06-13 17:19] xingzhex commented on #20129
@kyunghyuncho Aha, yes, they are. Thank you very much for your reply. So z in Equation 7 of the paper <Learning Phrase Representations using RNN Encoder–Decoder
for Statistical Machine Translation> is actually a reset gate if I understand correctly?

[2019-06-13 17:21] gottbrath commented on #21597
Jianhui reports that this is root caused and will be fixed in the next release.

When is that next release ... calendar?

Is there a way to work around? Are there specific shapes .. so we could fall back to less performant implementation.

[2019-06-13 17:35] ezyang opened #21743 "torch.load: UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3 in position 1105: ordinal not in range(128)"
Steps to reproduce: run this test:

[code]

The problem is that the docstring in the module has a Unicode character and our unpickler doesn't specify any encoding (thus defaulting to ascii).

[2019-06-13 17:41] ezyang opened #21745 "torch.save also saves docstrings into pickle for some reason"
Steps to reproduce:
1. Run:

[code]

2. Open `moo.pt` in your editor

Expected result: a bunch of unintelligible binary gobbeldygook

Actual result: I see a docstring!!!

[code]

[2019-06-13 17:42] SsnL commented on #21743
see the 2nd note of torch.load: https://pytorch.org/docs/master/torch.html#torch.load

[2019-06-13 17:44] ezyang commented on #21743
You're right. I'm not the only one to have this problem https://github.com/CSAILVision/places365/issues/25

Maybe we should catch this error and point at the documentation on the matter.

[2019-06-13 17:53] ezyang commented on #21745
This makes our pickles big and exacerbates #21743

[2019-06-13 18:38] ezyang commented on #20686
@peterjc123 I'm going to de-prioritize this particular issue as it was caused by in-source build. I guess in principle our cmake could be made to also work with non-in-source build, but making this work feels like low priority to me.

[2019-06-13 18:57] umanwizard commented on #21710
I think this is because of commit [3f2281](https://github.com/python/cpython/commit/3f22811fef73aec848d961593d95fa877f77ecbf) in Python.

[2019-06-13 19:17] SsnL commented on #21722
rebased and its gone

[2019-06-13 19:17] #21722 closed

[2019-06-13 19:31] rm17tink commented on #4518
Not sure if anyone has solved this issue but windows 10, Python 3.7.1 installing from Spyder using the !pip install. CUDA was messing up that error message for me. So i deleted the files manually( uninstall) took forever and reinstalled the non-cuda version. Works fine now.

[2019-06-13 19:39] reactivetype commented on #10203
@dedoogong  Can you please explain which method or tool you used? Thank you.

[2019-06-13 20:14] YUE-FAN commented on #4534
I'm also very confused by that. The code for the sanity check is:
[code]
It seems that if the input tensor is of size [1, 3, 32, 32], it will pass the test.
Why doesn't the code look like:
[code]
@colesbury

[2019-06-13 20:25] SsnL commented on #20322
fixed via https://github.com/pytorch/pytorch/commit/4b45f08f8765549915417997c30ae8981f2ad125

[2019-06-13 20:27] SsnL commented on #20322
I'll leave this open until a test is added. cc @izdeby

[2019-06-13 20:31] ezyang commented on #4906
I was able to reproduce this issue on 5485f09f1834381262b71a0dff6514b5b5c157eb

[2019-06-13 20:51] Jianhui-Li commented on #21597
We are expecting next release on early July.  Meanwhile, we are looking at workaround for these specific shapes.  @uyongw

[2019-06-13 21:46] kyunghyuncho commented on #20129
i called r a reset gate. i think calling z either way an update gate is fine, as it's whether we update the existing cell with a new value or update the new value while maintaining the old value by z.

[2019-06-13 21:56] gchanan commented on #21701
did you mean bailout_graph?

[2019-06-13 21:57] gchanan commented on #21706
a full log would be great.

[2019-06-13 21:59] VitalyFedyunin commented on #1220
We are working on it #19092

[2019-06-13 22:03] gchanan commented on #21730
@ifedan can you take a look?

[2019-06-13 22:09] Krovatkin commented on #21701
@gcatron yes 😄 thank you!

[2019-06-13 22:17] xingzhex commented on #20129
i see. thank you very much for your explanation.

[2019-06-13 22:57] gchanan commented on #1220
I think is more up-to-date, so I'm going to close this.

[2019-06-13 22:57] #1220 closed

[2019-06-13 22:59] simonhessner commented on #12207
@t-vi

Thank you very much! This solves the problem with the non-deterministic behaviour. It even runs faster in my tests.
Does this produce the same result as the Upsampling layer or are there cases where your method would fail?

[2019-06-13 22:59] SsnL opened #21760 "[FR] faster reduce sum on expanded/unfolded tensors"
`bmm`, `tensordot`, and `einsum` all do some sort of `reshape` followed by one or more `mm`s. This makes doing reducing over arbitrary dimensions of large expanded/unfolded tensors slow, as the `reshape`s copy the data.

In a real research project, we have a case where one wants to do `'bshk,bhksc->bhsc'`, where the second input tensor has a huge `k` but `sc` is unfolded from a single contiguous t

[2019-06-13 23:06] jamesr66a opened #21761 "[JIT] Bad error message when instantiating a script class with no __init__"
[code]

[code]

[2019-06-13 23:34] Chillee commented on #21462
I don't think I'm gonna be able to take this one - having some issues with building CUDA pytorch, and too much inertia to figure out how to fix it :(

[2019-06-14 00:20] dongfangduoshou123 commented on #21726
But, The caffe2's subdir 'the https://github.com/pytorch/pytorch/tree/master/caffe2' is still updating， means caffe2's api is being deprecated and its all features will be used by pytorch/libtorch frontend?

[2019-06-14 00:46] jasjuang opened #21766 "Missing header files for prebuilt libtorch"
## 🐛 Bug

Caffe headers are missing in both the latest stable release and nightly
https://download.pytorch.org/libtorch/cu100/libtorch-shared-with-deps-latest.zip
https://download.pytorch.org/libtorch/nightly/cu100/libtorch-shared-with-deps-latest.zip

## To Reproduce

Steps to reproduce the behavior:

Go into `/libtorch/include/caffe2/utils/`, open `math.h`

It is including non-existent headers l

[2019-06-14 00:50] soumith commented on #21726
we are making no commitments on what part of that code will be used by libtorch

[2019-06-14 00:52] spandantiwari commented on #20643
@jasonlovescoding @Dreamgang - I tried the repro steps above in the latest PyTorch master and I see the export happen without issues. Below's what the ONNX graph looks like. Could you let us know which version of PyTorch are you using?
![Softmax_ONNX_Export](https://user-images.githubusercontent.com/23646532/59476067-d9b3dc00-8e03-11e9-87d2-d72ccec104e9.png)

[2019-06-14 01:26] WenjianDong commented on #5486
I'm using `type(my_tensor) == type(None)`. It works for my case, but I'm wondering if it could be a general solution.

[2019-06-14 01:33] peterjc123 commented on #20686
@ezyang Yes, that seems okay to me. I'm just trying to moving all the builds to out-source builds to avoid this issue.

[2019-06-14 01:36] njtuzzy opened #21768 "compile error when using Libtorch 1.1 on windows 7 vs2015"
## ❓ Questions and Help
I followed the guidence from pytorch.org to make a project which recall the libtorch using Vs2015. Cuda version 8.0 cudnn 7.0 libtorch version 1.1

but when i compile the project, lots of error in typeid.h popped oput which seems to related caffe2? for example:

C2134 caffe2:TypeIdentifier::TypeIdentifier:call does not result in a constant expression
C2071 caffe2:TypeMeta::

[2019-06-14 01:38] peterjc123 commented on #21740
Duplicate of https://github.com/pytorch/pytorch/issues/20525.

[2019-06-14 01:39] #21740 closed

[2019-06-14 01:42] peterjc123 commented on #21768
If you use VS 2015, make sure you have Update 3 installed.

[2019-06-14 01:43] peterjc123 commented on #21768
Wait, you are using CUDA 8. Starting from v1.1.0, we have stopped the support for CUDA 8.

[2019-06-14 01:43] #21768 closed

[2019-06-14 01:47] njtuzzy commented on #21768
@ peterjc123 even i use the pytorch 1.0 before, it is the same problems: do you think that it may be caused by my VS stidio version?
and i will try cuda 9.0

Thanks

[2019-06-14 01:50] peterjc123 commented on #21768
If you use VS 2015, make sure you have Update 3 installed.

[2019-06-14 04:49] ashiqimran commented on #4546
conda install pytorch=0.4.1 cuda90 -c pytorch

This command worked for me

[2019-06-14 06:44] sto-chastic opened #21774 "Traced model with constant output"
## 🐛 Bug

After tracing my model, the output is the same, no matter what input I provide.

## To Reproduce

The output itself is a concatenated output of an nn.Module.

The module which concatenates is:

[code]

the result `x, *loss_dict = module(x, targets)` comes from this other nn.module:

[code]

I am tracing with:

[code]

I even notice that at the end of the trace, on debugger mode, I can se

[2019-06-14 06:53] hexiaoting commented on #21277
already fixed in PR: https://github.com/pytorch/pytorch/pull/20846

[2019-06-14 07:49] guotong1988 commented on #7014
Thank you.

[2019-06-14 07:56] sivaprasadraju commented on #13040
How did you change the output of model from dict to list? Thanks!

[2019-06-14 07:59] #20129 closed

[2019-06-14 08:10] a-whitej commented on #20757
In the _get_cache_or_reload function, add the "cached_zipfile.close()" call after the cached_zipfile.extractall(hub_dir) function to fix the bug.

[2019-06-14 08:17] One-sixth opened #21776 "Throw RuntimeError when trace torch.jit.ScriptModule without torch.jit.script_method forward"
## 🐛 Bug
RuntimeError: Cannot insert a Tensor that requires grad as a constant. Consider making it a parameter or input, or detaching the gradient
when use torch.jit.ScriptModule without torch.jit.script_method forward.<br>

It can work normally when I replace torch.jit.ScriptModule to nn.Module.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

No error.

## Enviro

[2019-06-14 08:44] zhyj3038 commented on #13040
modify the original code which using  __setattr__  and __getattr__, it will generate dict . just using a list to gather 'hm', 'reg' and 'wh' layers.

---Original---
From: "Siva Prasad Raju"<notifications@github.com>
Date: 2019/6/14 15:57:38
To: "pytorch/pytorch"<pytorch@noreply.github.com>;
Cc: "zhang ya jun"<zhyj3038@qq.com>;"Comment"<comment@noreply.github.com>;
Subject: Re: [pytorch/pytorch] Ru

[2019-06-14 08:46] rathisoft commented on #5040
https://github.com/udacity/P1_Facial_Keypoints/issues/6 - I got it solved by following this.

Helped me for solving the IRIS dataset problem using pyTorch.

[2019-06-14 09:23] Dreamgang commented on #20643
my Pytorch version is 0.4.1

[2019-06-14 09:53] BrettRyland opened #21777 "typo and missing return statements"
## 🐛 Bug

1. On the current master (556af7c19), building causes a lot of unnecessary spam from `ThrowInTheTowelIfGradientIsCalled` and `GradientNotImplementedYet`.
2. A lambda in the ideep third party module is missing a trailing `;`. This appears to be corrected in the upstream version of ideep.
3. A return statement is missing in `Eigen/src/Core/arch/GPU/PacketMathHalf.h` in the eigen third part

[2019-06-14 10:00] nguyenvulebinh commented on #20522
@t-vi I found that version torch 1.1.0 still get this error but it's fine if I install version nightly. The problem is if I install the nightly version, I can't use torchvison 0.3.0. How can I deal with this situation?

[2019-06-14 10:10] t-vi commented on #20522
@fmassa might know if there are nightlies for torchvision or you might compile torchvision from source (it's a breeze).
As a workaround you could use a hook zeroing gradients outside the mask.
Sorry about the inconvenience.

[2019-06-14 10:33] nguyenvulebinh commented on #20522
Perfect! I compile torchvision from source and it works well. Thanks you @t-vi

[2019-06-14 11:54] tsungruihon commented on #18004
@shashankNREL may i ask how you solve that problem?

[2019-06-14 12:17] TTMRonald opened #21778 "UserWarning: ONNX export failed on primitive operator ListUnpack; please report a bug"
## ❓ Questions and Help

Hi, I want to convert model to onnx in pytorch 1.0.0. But i meet an error.

Then, I added a definition as described in this document.
https://github.com/onnx/tutorials/blob/master/tutorials/PytorchAddExportSupport.md#fail-to-export-the-model-in-pytorch

The added code is
`@parse_args('v', 'i', 'v', 'v', 'f', 'i')
  def group_norm(g, input, num_groups, weight, bias, eps, cu

[2019-06-14 12:49] SergioRAgostinho commented on #7500
Request for  `torch.trace`.

[2019-06-14 13:09] liukuanlk commented on #21706
Thank you for your reply. Do you ask the full log of errors? Please refer to following.

`C:\Users\kuanliu\Desktop\PT\libtorch-win-shared-with-deps-latest\libtorch\include\c10/util/Exception.h(27): warning C4275: non
dll-interface class 'std::exception' used as base for dll-interface class 'c10::Error'
C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\VC\Tools\MSVC\14.15.26726\inclu

[2019-06-14 13:43] igorsyl commented on #19277
I am able to reproduce the issue.  I needed to increase the number of weights in the embedding layer to just over 2GB:
[code]

![image](https://user-images.githubusercontent.com/1248500/59513403-68fed500-8e80-11e9-9355-9c28f1b50d78.png)

[2019-06-14 13:51] pwiercinski opened #21779 "Use of word "elements" in `torch.utils.data` samplers"
## 📚 Documentation

In `torch.utils.data` Samplers' [documentation](https://pytorch.org/docs/stable/data.html) I find the use of word "element" confusing.
For example, the description of `torch.utils.data.SequentialSampler` says:

`torch.utils.data.SequentialSampler` doesn't return elements of an object, but indices of those elements. This also applies to other samplers and is not clear from docum

[2019-06-14 14:07] vishwakftw commented on #7500
torch.trace should be simple. A sample implementation is:

[code]

[2019-06-14 14:58] pfrendl opened #21780 "cumsum cuda numerical instability"
## 🐛 Bug

Calling cumsum on a CUDA vector of nonnegative values can result in a vector with local minima.

For CPU vectors, cumsum works as expected.

## To Reproduce

The example vector I found has 500 elements, so pastebin:
https://pastebin.com/X8s8dhaR

## Expected behavior

Calling cumsum on a vector of nonnegative values should result in a vector of ascending values.

## Environment

 - PyTor

[2019-06-14 15:37] nict-wisdom commented on #21406
@ailzhang Do you have any progress on this?

If you need more information, please let me know.
I'm not able to fix the source, but I would be happy to investigate this issue more if it helps you solve this problem.
For example, I think I can identify exactly where this problem happens.

[2019-06-14 15:45] gkossakowski commented on #19277
Ah yes, the original report should have dim set to 200 instead of 5 which
is what I used. My apologies and thanks for digging in!

On Fri, Jun 14, 2019 at 3:44 PM igorsyl <notifications@github.com> wrote:

--
gkk

[2019-06-14 16:01] rgommers commented on #18066
`avg_pool2d` done in gh-21635, `avg_pool3d` being landed in gh-21732

[2019-06-14 16:03] ezyang opened #21785 "test_nuclear_norm_axes_small_brute_force is flaky"
[code]

https://circleci.com/gh/pytorch/pytorch/1997492

First thing to check is if we're deterministically seeding correctly. If we are, then check for access to uninitialized memory.

cc @skrah

[2019-06-14 16:44] SsnL commented on #4220
closed by https://github.com/pytorch/pytorch/commit/bc6281028ce02d7a92093e5331ac11047347a162

[2019-06-14 16:44] #4220 closed

[2019-06-14 17:11] skrah commented on #21785
If I understand #21589 correctly, the test skip in #21638 is just a temporary workaround.

`cuda-memcheck --tool initcheck` shows **read** access to uninitialized memory in magma, but in many tests, not just `nuclear_norm`.

[2019-06-14 17:42] edgarriba commented on #20939
question: are we going to support exporting scripted modules to onnx ?

[2019-06-14 17:58] ezyang commented on #21589
Back in December, I remember we had a bit of an argument about what the CUDA stream we should put PyTorch kernels on by default (PyTorch's historical behavior was using the legacy default stream; Caffe2's historical behavior was using a freshly allocated stream). One point of matter we did agree on was that, regardless of what we decided to do in the end, we should run PyTorch's test suite on a no

[2019-06-14 18:01] zhangguanheng66 commented on #21777
@BrettRyland Could you submit a PR?

[2019-06-14 18:05] mnabenas opened #21794 "Linker errors when building project with OpenCV"
## 🐛 Bug

I'm trying to add libtorch to a working project. CMake configure throws no errors but when I try to build the project, it throws a lot of linking errors with OpenCV.
Then I tried to run the example code in [Installing C++ Distrbutions of Pytorch](https://pytorch.org/cppdocs/installing.html) en then it throws a different set of errors.
## To Reproduce

Steps to reproduce the behavior:

Co

[2019-06-14 18:16] colesbury opened #21796 "Add torch.fill_diagonal"
## 🚀 Feature
Implement torch.fill_diagonal based on numpy.fill_diagonal

See https://docs.scipy.org/doc/numpy/reference/generated/numpy.fill_diagonal.html

## Motivation
Alex asked me how to do this today.

## Alternatives
The following works but isn't obvious and may not work for non-strided Tensors:

[code]

[2019-06-14 18:22] colesbury opened #21798 "Support torch.where(condition) as an alias for NumPy-like nonzero"
## 🚀 Feature
Implement `torch.where(condition)` as an alias for a NumPy-like nonzero. Currently, we only support `torch.where(condition, x, y)` with the second and third arguments.

## Motivation
NumPy supports numpy.where(condition) without the x and y arguments. It's behaves like numpy.nonzero.

https://docs.scipy.org/doc/numpy/reference/generated/numpy.where.html

## Pitch
Maybe @alexpeys will

[2019-06-14 18:23] SsnL commented on #21688
I believe that should be the recommended way to solve the problem you have. Therefore, I am inclined to close this as a duplicate of #17774. What do you think? It would also be great if you can provided info @ngimel asked for in #17774.

[2019-06-14 18:37] ezyang commented on #4906
However, when I did a hard clean of all of the source directories (including submodules; e.g., `git clean -xfd && git submodule foreach git clean -xfd`) the problem went away. My guess is that if you do a non-CUDA, then do CUDA build, without cleaning in between, that's what causes the problem.

[2019-06-14 18:40] gchanan commented on #21589
Ya, we basically need a point person to handle fixing this and to follow test failures until they are fixed.

[2019-06-14 19:14] colesbury commented on #21777
I believe the ThrowInTheTowelIfGradientIsCalled warnings are because of CAFFE_ENFORCE(false) now using `C10_UNLIKELY`

cc @smessmer

[2019-06-14 19:38] BrettRyland commented on #21777
Yeah, I doubt the patches I made are anywhere near the best solutions (despite compiling fine). Looking at upstream for ideep and eigen, these fixes are made in commits [d72721b](https://github.com/intel/ideep/commit/d72721ba44624dd9b06678f1cb6400a6a8c5e647#diff-89f4e64b25c453aac8d8057b9ddb8d78) and [5713d8b28](https://github.com/eigenteam/eigen-git-mirror/commit/5713d8b28ff946276b493736498cb231e7

[2019-06-14 19:55] soumith commented on #21779
what should it be replaced with, to make it clearer?

[2019-06-14 19:59] soumith commented on #21766
cc: @kostmo this might be because of the libtorch merger?

[2019-06-14 20:06] mickypaganini commented on #20402
I started prototyping this idea using simple pruning methods: random and L1-based unstructured pruning, and random and Ln-based structured pruning. These are simple method that are either random or only depend on the magnitude of the weights. You can [check it out on my fork](https://github.com/mickypaganini/pytorch/blob/pruning/torch/nn/utils/prune.py).
[Thanks @michaelklachko for pointers to oth

[2019-06-14 20:30] Jackerz312 commented on #18631
same question, any news?

[2019-06-14 20:56] jasjuang commented on #21766
I went through the pull requests and issues and I think this one might solve it https://github.com/pytorch/pytorch/pull/21678. I am not familiar with python and pytorch so I am not 100% sure.

[2019-06-14 21:02] spandantiwari commented on #20643
@Dreamgang - there have been many updates to the PyTorch-ONNX exporter since 0.4.1. Could you please try this in the latest version. Thanks.

[2019-06-14 21:39] michaelklachko commented on #20402
Note that pruning operation is similar to quantization. So perhaps the two can be implemented in a similar manner, or even combined. For example, binarizing ReLU activations, and ternarizing weights can be considered a form of pruning.

[2019-06-14 21:46] michaelklachko commented on #20402
Here's [one example](https://github.com/eladhoffer/convNet.pytorch/blob/master/models/modules/quantize.py) of how quantization op can be integrated into a layer. In my opinion, it makes sense to integrate weight pruning/quantization into a layer (e.g. like weightnorm), however for activations it's probably better to have it as a separate layer type (e.g. like batchnorm).

[2019-06-14 22:15] vincentqb commented on #20527
Change described in previous comment implemented in #21800

[2019-06-14 22:56] eellison commented on #21774
I would recommend breaking up your model into smaller components, and try to see where the output gets constantified. Additionally, you can print out the traced graph (before saving), and try to find out at one point the graph no longer depends on prior state.

[2019-06-14 22:57] eellison commented on #21776
@Krovatkin new API for tracing methods

[2019-06-14 23:50] AnirudhDagar opened #21810 "index_add_ inside DataParallel doesn't work as expected"
## 🐛 Bug
`index_add_` (and probably other similar indexing functions like `index_copy_`, Ps. Not tested) give wrong results when used inside a model which has been wrapped with `DataParallel`.
Even with `DataParallel` wrapped model, the forward function which may be using `index_add_` for some kind of calculations should work normally as in the case for single GPU.
Refer to the log attached which

[2019-06-15 01:45] driazati commented on #20939
@edgarriba ONNX support for script modules is not currently on our roadmap

[2019-06-15 02:10] songziqin opened #21815 "I hope pytorch support operation tf.scatter_nd"
I want to implement the deep interest network, I encounter a problem,I want to use the function that is same to  tf.scatter_nd,but pytorch do not implement. I have read the document,torch only hava scatter_,but that is different from tf.scatter_nd. So I want to know if you can  offer this op in the next release.

[2019-06-15 06:19] IsCoelacanth opened #21817 "Changing behavior of Im2Col and Col2Im to be inverses of each other."
## 🚀 change col2im from summing to use average.

## Motivation
Having im2col and col2im be inverses will make writing custom convolution and capsule models much easier. I was stuck with this issue for a very long time and eventually had to abandon the project.

[2019-06-15 06:28] SsnL commented on #21810
you are not distributing work according to your batch dimension. of course the results are different

[2019-06-15 06:42] AnirudhDagar commented on #21810
Hi @SsnL! Here the batch dimension is 4 and then gets split into 2 and 2. Can you please elaborate, I couldn't get your point exactly?  Also, how can I make index_add_ work here in the expected way?

[2019-06-15 06:49] scientium opened #21818 "C++ ABI - Coupling different libraries issue"
## ❓ Questions and Help

Hello,

I am trying to couple PyTorch and OpenFOAM, an opensource CFD code. I am using C++ api of pytorch.

When I try to compile two libraries together, I have to set abi flag (-D_GLIBCXX_USE_CXX11_ABI). If I set it to 1, I have the following compilation error.

 undefined reference to `c10::Error::Error(c10::SourceLocation, std::__cxx11::basic_string<char, std::char_trai

[2019-06-15 07:55] xiaoxiangyeyuwangye opened #21819 "RuntimeError: CUDA error: an illegal memory access was encountered"
Hi,everyone!
I met a strange illegal memory access error. It happens randomly without any regular pattern.
The code is really simple. It is PointNet for point cloud segmentation. I don't think there is anything wrong in the code.
[code]
After random number of steps, error raises. The error report is
[code]
When I added "os.environ['CUDA_LAUNCH_BLOCKING'] = '1'" at the top of this script, the error

[2019-06-15 08:37] henon opened #21820 "[docs] sum_to_size parameter missing in docs"
## 📚 Documentation

Hello all,

I am working on [Torch.NET](https://github.com/SciSharp/Torch.NET). While generating the API from the docs I noticed this inconsistency in [Tensor.sum_to_size](https://pytorch.org/docs/stable/tensors.html#torch.Tensor.sum_to_size):

The text mentions a parameter `other` which is not shown in the parameter list.

[2019-06-15 10:28] sto-chastic commented on #21774
I will thank you. Just by print(traced_model)? Also, any ideas of what might cause this? What Kind of things I need to look for?

[2019-06-15 10:35] fmassa commented on #21815
Have a look at [`torch.index_add_`](https://pytorch.org/docs/stable/tensors.html?highlight=index_add_#torch.Tensor.index_add_), looks similar to what you are looking for.

From the TF docs:

Also, we use GitHub issues for tracking bug reports and feature requests. Questions are better suited for the forums https://discuss.pytorch.org

[2019-06-15 10:35] #21815 closed

[2019-06-15 10:40] skrah opened #21821 "Stream safety of MAGMA functions"
#21785 showed that `at::svd()` is not stream-safe.  `at::svd()` uses `magma_dgesdd()`.

According to  http://icl.cs.utk.edu/magma/forum/viewtopic.php?f=2&t=1080, the old way of making MAGMA functions stream-safe is:

[code]

The new way is using a `magma_queue_t`, but not all functions have it.  In particular `magma_dgesdd()` doesn't appear to have this parameter.

I'm not sure if either of these

[2019-06-15 10:40] fmassa commented on #21817
`col2im` corresponds to the derivative of `im2col`, and as such should be summed and not averaged.
You can always divide by the number of kernel elements to get the behavior your want.

This has been discussed in https://github.com/pytorch/pytorch/issues/20806 already, and seems to be a recurrent issue.

As such, I'm tagging it as a needs discussion. I could involve either a documentation improvem

[2019-06-15 11:01] scientium commented on #21818
Update: I cannot find build_libtorch.py in my  distribution.

[2019-06-15 12:40] simonepri commented on #15253
@jacobrgardner
I can confirm that the code you provide is definitely faster. (x51)
@ifedan any idea of why there's such a big difference on GPU?

[2019-06-15 14:52] henon opened #21822 "[doc] torch.unique's return value doc is broken"
## 📚 Documentation
I am working on [Torch.NET](https://github.com/SciSharp/Torch.NET) which is generated from the docs. Here is another bug I noticed: https://pytorch.org/docs/stable/torch.html#torch.unique

![image](https://user-images.githubusercontent.com/44090/59552925-7fdf1d80-8f8d-11e9-8eb2-af0919e37b00.png)

unique_consecutive is OK, so the correct doc string could be copied from there:

![

[2019-06-15 15:08] LaurentMazare commented on #12417
Closing as `Declarations.yaml` ended up fitting my use case nicely.

[2019-06-15 15:08] #12417 closed

[2019-06-15 15:59] jinfagang opened #21823 "what(): another list already started (listInsert at /pytorch/torch/csrc/jit/interpreter.cpp:563)"
What does this happen:

  what():  another list already started (listInsert at /pytorch/torch/csrc/jit/interpreter.cpp:563)

My situation is that I am training on pytorch and meanwhile try to inference on a libtorch demo. Does they can not co-exist?

[2019-06-15 16:04] jinfagang commented on #19302
what():  another list already started

what does this error mean?

[2019-06-15 16:12] lsrock1 opened #21824 "How about add torch::end for slicing in c++ frontend"
## 🚀 Feature
Add static const variable that means end of the tensor.

## Motivation
Reference slice function's definition
https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/core/Tensor.h#L527

In c++ slicing the whole tensor with step 2

[code]

If torch::end exists and set 9223372036854775807.

[code]
## Pitch

Improve readability and keep clear intention.

[2019-06-15 16:18] vishwakftw commented on #21821
Another related thread: http://icl.cs.utk.edu/magma/forum/viewtopic.php?f=2&t=1034

[2019-06-15 16:42] EthanChen911238 opened #21825 "untimeError: cuda runtime error (59) : device-side assert triggered at /opt/conda/conda-bld/pytorch_1549630534704/work/aten/src/THCUNN/generic/ClassNLLCriterion.cu:111"
I use python 3.6.8 and pytorch version is 1.0.1
When I try to build Seq2Seq model and using CrossEntropyLoss, I got error message below

THCudaCheck FAIL file=/opt/conda/conda-bld/pytorch_1549630534704/work/aten/src/THCUNN/generic/ClassNLLCriterion.cu line=111 error=59 : device-side assert triggered
Traceback (most recent call last):
  File "sent2hyngram_train.py", line 351, in <module>
    valid_

[2019-06-15 17:17] SsnL commented on #21817
IMHO an option to switch between sum and avg is reasonable. On another related note, could we change im2col to a view op when viewing is possible (i.e., no padding, sufficient contiguity conditions)? It will be wayyy faster.

[2019-06-15 17:21] SsnL commented on #21819
Could be the same cudnn bug fixed in 7.6. See https://github.com/pytorch/pytorch/issues/16831. Could you try pytorch 1.1?

[2019-06-15 17:37] luricheng opened #21826 "ImportError: No module named hubconfs.bert_hubconf"
## ❓ Questions and Help

### when I load bert by torch.hub, No module named hubconfs.bert_hubconf

[code]

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-06-15 17:52] henon opened #21827 "[doc] allclose: parameter type of equal_nan is documented wrongly"
## 📚 Documentation

I am working on [Torch.NET](https://github.com/SciSharp/Torch.NET) which is generated from the docs. Here is another bug I noticed:

[allclose](https://pytorch.org/docs/stable/torch.html#torch.allclose) documents parameter equal_nan as float, but it should be bool.

[2019-06-15 18:44] thomasj02 opened #21828 "make_zeros is slow for small tensors (C++)"
## 🐛 Bug

For small 1d tensors (smaller than about 4000), setting each element to zero with an accessor is faster than using make_zeros.

Benchmarking code (uses https://github.com/google/benchmark):

[code]

And here are the results:
[code]

As you can see, for small 1d tensors make_zero is sometime almost 3x slower than using an accessor. For 2d tensors, make_zeros is still slower for very small

[2019-06-15 19:05] vainaijr opened #21829 "Mini image net, tiered image net"
Hello,

Is it possible to add omniglot, mini imagenet and tiered imagenet datasets to torchvision.

And is it possible to upload these datasets to google drive, and share that link, so that people using google colab do not need to download these datasets. they access them directly by adding the dataset to their drives.

This would reduce the time taken to download datasets, as they would be direct

[2019-06-15 19:07] henon opened #21830 "[docs] torch.hamming_window parameters alpha and beta not documented"
## 📚 Documentation
I am working on [Torch.NET](https://github.com/SciSharp/Torch.NET) which is generated from the docs. Here is another bug I noticed:

In [torch.hamming_window](https://pytorch.org/docs/stable/torch.html#torch.hamming_window) the parameters alpah and beta are missing from parameters table. It is not a big deal, just inconsistent

[2019-06-15 19:13] henon opened #21831 "[doc] torch.bincount docs inconsistent"
## 📚 Documentation
I am working on [Torch.NET](https://github.com/SciSharp/Torch.NET) which is generated from the docs. Here is another bug I noticed:

[torch.bincount](https://pytorch.org/docs/stable/torch.html#torch.bincount) documentation is inconsistent:

![image](https://user-images.githubusercontent.com/44090/59555436-72885a00-8fb2-11e9-8385-515c92fc0af2.png)

[2019-06-15 19:28] henon opened #21832 "[doc] torch.diagflat doc inconsistency"
## 📚 Documentation
I am working on [Torch.NET](https://github.com/SciSharp/Torch.NET) which is generated from the docs. Here is another bug I noticed:

[torch.diagflat](https://pytorch.org/docs/stable/torch.html#torch.diagflat) parameter names are inconsistent:

![image](https://user-images.githubusercontent.com/44090/59555541-6d2c0f00-8fb4-11e9-933c-210ae209d397.png)

[2019-06-15 20:40] pwiercinski commented on #21779
Since it doesn't sample actual elements of the passed object, but their indices, simply "indices of elements" would be clear to me.
So that:

Becomes:

[2019-06-15 22:12] ngimel commented on #21780
Unfortunately parallel algorithms used for computing cumsum on the gpu do not maintain this (admittedly nice) property.

[2019-06-15 22:16] ngimel commented on #21815
`index_add_` does not support all the cases that gather_nd/scatter_nd support, however, advanced indexing (for gather_nd and scatter_nd without repeating indices) and index_put_ (for scatter_nd with repeating indices) implement required functionality, though indices have to be modified compared to indices expected by tf.scatter_nd.

[2019-06-15 22:18] ngimel commented on #21825
That error is usually caused by out-of-bounds target values, double check that they are between 0 and corresponding input size.

[2019-06-15 22:26] zhangguanheng66 commented on #21822
@henon thanks. If you could, please submit a PR and fix it. Appreciate it.

[2019-06-15 22:46] sidharthms opened #21833 "TorchScript segfault when using recursive custom classes"
Hi,

Following the comments in [this question](https://discuss.pytorch.org/t/is-there-support-of-recursive-custom-classes-like-tree-in-tree-lstm/47418), I was trying to create a class that has attributes of the same class type as shown below:

[code]

But this code results in a segfault with message `Segmentation fault: 11`.

Environment:
 - PyTorch Version: 1.2.0.dev20190615
 - OS: Mac
 - How you

[2019-06-16 01:06] clemej opened #21834 "Build failed when linking bin/test_parallel with multiple openmp functions defined"
## 🐛 Bug

Building ROCm from source fails with this error:
[code]

It appears mlkdnn is linked against intel's libiomp5.so, while the rest of the system is linked against GCC's openmp.  Full log attached.

## To Reproduce

Steps to reproduce the behavior:

1. Foillow steps to build with ROCm support from here (Option 4, until step 7):  https://github.com/ROCmSoftwarePlatform/pytorch/wiki/Building-

[2019-06-16 01:07] clemej commented on #21834
Failed Build log

[build-pytorch-openmp-failed.log](https://github.com/pytorch/pytorch/files/3293706/build-pytorch-openmp-failed.log)

[2019-06-16 01:37] clemej commented on #21834
Fixing my numpy issue and setting BLAS=OpenBLAS didn't work.  Next I will try disabling mkldnn if I can.

[2019-06-16 03:36] ezyang commented on #20488
Still flaky https://circleci.com/gh/pytorch/pytorch/2000275?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-06-16 03:36] vishwakftw commented on #21829
Could you please open this issue in [torchvision](https://github.com/pytorch/vision)?

[2019-06-16 03:36] #21829 closed

[2019-06-16 03:36] ezyang commented on #16953
Possibly related: the test occasionally times out on non-PPC: https://circleci.com/gh/pytorch/pytorch/2000995?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-06-16 03:53] clemej commented on #21834
Disabling MKL-DNN with `USE_MKLDNN=0` allowed test_parallel to compile and link.

The build then failed later for other reasons (it looks like a recent change to `torch/csrc/generic/StorageSharing.cpp` around line 252/254 needs to be hip-ified for rocm, but that's most assuredly a separate issue.

[2019-06-16 04:23] clemej opened #21838 "ROCm build fails on master, possibly related to CudaIPC"
## 🐛 Bug

Attempting to build latest master for ROCm, once I disable MKL-DNN (see issue #21834), the build almost completes but fails with the following errors, seemingly related to CudaIPC:

[code]
.... many more errors like this, then finally ...

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Follow steps to build with ROCm support from here (Option 4, until step 7): https://gith

[2019-06-16 04:23] semchan commented on #18631
how to fix it? pls

[2019-06-16 08:51] EthanChen911238 commented on #21825
After I check my target value, it actually out-of-bounds.
Thanks a lot.

[2019-06-16 08:51] #21825 closed

[2019-06-16 09:00] simonepri opened #21840 "RuntimeError: s__th_ne is not implemented for type SparseCPUType"
## 🐛 Bug
See title

## To Reproduce
Unable to provide a short repro, I can provide the full code if necessary.

Ref: https://github.com/facebookresearch/PyTorch-BigGraph/issues/51#issuecomment-502410183

## Stack Trace

<details><summary>Show</summary>

[code]

</details>

## Environment
I was using Colab and BigGraph with `torch.autograd.set_detect_anomaly(True)`

PyTorch version: 1.1.0
Is debug

[2019-06-16 09:12] robsalomone commented on #21673
Unfortunately note @pietern, I don't know the back end well enough I'm afraid for a feature like this.

[2019-06-16 09:44] xkszltl opened #21843 "[Caffe2/ONNX] ONNX LSTM Loading"
## Bug

ONNX LSTM only requires 3 args, however Caffe2 requires exactly 7 args or it will throw an exception about "not enough args to unpack".
![image](https://user-images.githubusercontent.com/5203025/59562294-ccebdf80-8fdf-11e9-8461-93ea636bba28.png)

We should set optional args to 0-blob.

Related code:

https://github.com/pytorch/pytorch/blob/263b1985a85bdcf565a1baeee2d95b00dff8126f/caffe2/py

[2019-06-16 10:37] shbnm21 commented on #14351
Verify the numerical correctness upto 3 decimal places
np.testing.assert_almost_equal(torch_out.data.cpu().numpy(), c2_out, decimal=3)

print("Exported model has been executed on Caffe2 backend, and the result looks good!")

On running this function I am getting following error
Attribute Error:'Nonetype' object has no attribute 'data'

W

[2019-06-16 11:33] t-vi commented on #18270
With the specialization #18407, this is gone for optional.

[2019-06-16 11:33] #18270 closed

[2019-06-16 13:13] henon commented on #21822
I'll leave it to other volunteers.

[2019-06-16 14:42] borchero opened #21845 "_jit_internal.weak_module does not allow ModuleList in __constants__"
## 🐛 Bug

When using ``torch.nn.ModuleList`` within a module annotated with ``torch._jit_internal.weak_module``, an error is raised in the forward method, incorrectly stating that the ModuleList is not added to ``__constants__`` although it is.

## To Reproduce

Minimum working example to reproduce the bug:

[code]

Traceback of Error:

[code]

Note that the usage of ``ModuleList`` in this context

[2019-06-16 17:09] xuhdev commented on #21574
Could you try the latest version? A lot have changed in the build scripts.

[2019-06-16 18:36] Stonesjtu opened #21847 "A global switch to disable tensor broadcast for debugging purpose"
## 🚀 Feature

[code]

## Motivation

Broadcast is very convenient and efficient in many scenarios, but it also introduces extra careless bugs which are hard to locate.
It should be great if I can disable the broadcast mechanism (or force the Tensor size check) at debugging time.

## Pitch

## Alternatives

## Additional context

[2019-06-16 19:16] ezyang commented on #19302
@jinfagang File another issue with more detailed information about how you got this error

[2019-06-16 19:29] ezyang commented on #20273
@Palmitoxico Yeah, in the terminal state we should have a CMake/pkg-config file which gives the correct settings. Can you file a separate bug about `-DBUILD_PYTHON=OFF` being broken?

[2019-06-16 23:23] XinDongol opened #21848 "Is there any way to count/profile all matrix multiplication within a model"
## 🚀 Feature
Is there any way to count/profile all matrix multiplication within a model

[2019-06-16 23:27] ehsanzare opened #21849 "Finetune semantic segmentation model on our dataset"
Hi there,

do you have a tutorial/guidance on how to finetune provided trained semantic segmentation model of torchvision 0.3 (FCN or DeepLabV3 with Resnet 50 or 101 backbone) on our dataset (transfer learning for semantic segmentation)?

[2019-06-17 01:26] soumith commented on #21848
please use https://discuss.pytorch.org for questions

[2019-06-17 01:26] #21848 closed

[2019-06-17 01:26] soumith commented on #21849
please use https://discuss.pytorch.org for questions

[2019-06-17 01:26] #21849 closed

[2019-06-17 01:47] soumith commented on #21818
building libtorch from source will fix this.

https://github.com/pytorch/pytorch/blob/master/tools/build_libtorch.py is this what you are looking for?

[2019-06-17 01:48] xkszltl opened #21850 "[iDeep] Compile error with iDeep"
## Bug

Got `error: expected ',' or ';' before 'vecwise_binary_op'` recently.

This is likely to be the commit causing this issue.
https://github.com/pytorch/pytorch/commit/731670f40a396b36304d8cdf0a47213042e10110

The version of iDeep in this commit does miss a `;` after lambda `auto a = [](){}`.
![image](https://user-images.githubusercontent.com/5203025/59568485-0d734980-9030-11e9-8cea-6346c0ebf

[2019-06-17 02:38] #21830 closed

[2019-06-17 02:38] #21831 closed

[2019-06-17 02:38] #21832 closed

[2019-06-17 02:38] #21820 closed

[2019-06-17 02:38] #21822 closed

[2019-06-17 02:38] #21827 closed

[2019-06-17 06:45] gujinghui commented on #21597
fixed in #21854

[2019-06-17 08:50] shayan09 commented on #14684
Using LibTorch 1.2.0 and OpenCV 4.1.0 and facing issues.
[code]

[2019-06-17 09:06] njtuzzy commented on #21768
@peterjc123
 After i updated the VS2015 to update3, it works. thanks very much. But i  got another question. It is the "unpack" function in variadic.h. C2951: template declarations are only permitted at global or namespace scope. ? is it caused by the VS2015 version?

Thanks

[2019-06-17 10:03] skrah commented on #18275
Done in #21022.

[2019-06-17 10:03] #18275 closed

[2019-06-17 10:11] peterjc123 commented on #21768
Looks like it is caused by the missing of some C++ 11/14 features. So you'll have to use VS 2017. BTW, if you use VS 2017 with the latest update, you'll have to use CUDA >= 10.0.

[2019-06-17 10:20] chennian32 opened #21855 "cpp frontend libtorch torch::optim::SGD step memory leak win10 cu100 stable1.1"
## 🐛 Bug

for (size_t epoch = 0; epoch < epoch_count; ++epoch) {
			for (auto& batch : *dataloader) {
				if (_is_exit_)
					return false;
				model_->train();
				auto data = batch.data.to(d), targets = batch.target.to(d);
				batch.data.reset();
				batch.target.reset();
				optimizer_->zero_grad();
				auto prediction = model_->forward(data);
				auto loss = get_loss(prediction, targets);

[2019-06-17 10:45] #21855 closed

[2019-06-17 12:11] zhangbin0917 commented on #7337
Can I ask why here using log-probability not probability for x ?
I mean, intuitively, using probability should be better understood.

[2019-06-17 12:44] jbaron opened #21856 "Batch Normalization axis"
## 🚀 Feature
Make it possible to specify the axis on which to perform Batch Normalization.

## Motivation
Right now batch normalization is geared towards convolution layers which have typically a  layout of NxCxWxH (in the context of 2D batch normalization). But there are other scenarios possible (for example to apply BN to a RNN) where the features are located at a different axis. The current sol

[2019-06-17 12:50] mhkefayati commented on #8473
same here on tensorwatch's draw_model function.

[2019-06-17 13:21] RuABraun commented on #14367
Same error as @marchss

Looking at the suggestion in 21737 now.

[2019-06-17 14:12] zou3519 commented on #21828
Most of what you're seeing is probably tensor allocation overhead.

[2019-06-17 14:39] sbelharbi commented on #15359
Hello,
        Any news an this flag?
Determinism is crucial.
From my experience, current version allows determinism over one gpu, up to a precision `1e-16`, using fixed seeds. Note that infinitesimal difference may be amplified and diverge the results.

Please, consider the case of multigpu as well (at least for a fixed `K` gpus, the behavior needs to be deterministic. I am able to achieve some k

[2019-06-17 14:42] haoransh opened #21857 "Documentation misleading for torch.jit.trace: not all torch.jit.trace will return a TracedModule object"
## 📚 Documentation

The first cope snippet of https://pytorch.org/docs/stable/jit.html#torch.jit.ScriptModule shows an example to trace
[code]

And immediately after this snippet, it says `Tracing a function will construct a ScriptModule`. However, this is not true. For a plain python function like the above example, `torch.jit.trace` will only return a `torch._C.Function` object, instead of a `Sc

[2019-06-17 14:57] thomasj02 commented on #21828
Why would I see more tensor allocation overhead when using zeros compared to creating exactly the same size tensor with empty and then filling it with accessor?

[2019-06-17 15:09] zou3519 commented on #21828
My apologies, I skimmed over your code too quickly. As you pointed out, what you're seeing isn't tensor allocation overhead.

`at::zeros` is implemented with an `at::empty` followed by a call to `tensor.zero_()`. It looks like the `zero_()` call is the culprit here (you can test this by just running a benchmark of `tensor.zero_()` vs zero-ing via accessor).

[2019-06-17 15:10] eellison commented on #21774
Try printing out (traced_script_module.forward.graph)

[2019-06-17 15:27] serhiy-yevtushenko opened #21859 "CTCLoss CUDA backward throws setStorage: storage size mismatch error"
## 🐛 Bug

When running a code for (CNN + RNN model with CTCLoss) on Google Colab, I obtain following exception:

[code]

The pytorch version on google colab, where I execute GPU version, is 1.1.0

## To Reproduce

Steps to reproduce the behaviour:

Code, in which behaviour is observed, is attached
[Min.zip](https://github.com/pytorch/pytorch/files/3297672/Min.zip)
Steps to perform on google colab

[2019-06-17 16:15] suo commented on #21833
Hi @sidharthms, as I said on the forums, we do not currently support class types that contain themselves. https://github.com/pytorch/pytorch/pull/21842 should clarify the error msg.

[2019-06-17 16:32] sbelharbi commented on #20683
Config: Python `3.7.0`. Pytorch nightly build `1.2.0.dev20190616` (https://download.pytorch.org/whl/nightly/cu100/torch_nightly-1.2.0.dev20190616-cp37-cp37m-linux_x86_64.whl)

@CoinCheung
Hello,
I made some changes (only to shape tensors, loss).

From the first look, I suspected that `F.interpolate` is the reason for the non-deterministic. After inspecting, `F.interpolate` is actually the reason +

[2019-06-17 16:37] zdevito commented on #21823
Hi, is it possible to post an example that causes this issue, or to post the entire error message? Thanks!

[2019-06-17 16:43] serhiy-yevtushenko commented on #21859
I was able to localize exception as being caused by usage on torch.nn.CTCLoss (replacing torch.nn.CTCLoss with torch-baidu-ctc (and adjusting call to torch-baidu-ctc to convert tensors to CPU according  to torch-baidu-ctc requirements leads to disappearence of exception)

[2019-06-17 16:45] sidharthms commented on #21833
Yup, thanks for the clarification!

[2019-06-17 16:45] #21833 closed

[2019-06-17 16:51] serhiy-yevtushenko commented on #21859
Workaround for usage of torch.nn.CTCLoss - convert all arguments during the call to CTCLoss to cpu. This allows avoiding exceptions when doing computation on GPU

[2019-06-17 16:56] ailzhang commented on #18627
#21451

[2019-06-17 17:06] ezyang commented on #21597
@gchanan says: we should probably test MKL DNN more thoroughly, since this seems to be the third MKL DNN specific bug in convolution

[2019-06-17 17:09] ezyang commented on #21706
cc @peterjc123 if you have any ideas

[2019-06-17 17:11] ezyang commented on #21703
In triage meeting, we think that `BUILD_ATEN_ONLY` should be deprecated and removed

[2019-06-17 17:14] EvenOldridge commented on #21645
@SsnL I understand you're probably very busy with your PR but I'd like to make sure this doesn't just disappear.  Can you confirm whether or not your dataloader reads batches as contiguous blocks of memory.  From what's being described it's possible under the iterable dataloader but not built in?

If not maybe we can work together to add that functionality or I can follow up on this once your PR i

[2019-06-17 17:19] zou3519 commented on #8308
Both of the following fail now:
[code]

so I think we can close this now. cc @VitalyFedyunin

[2019-06-17 17:49] IsCoelacanth commented on #21817
I agree with with @SsnL there should be a reduction option which allows switching from the default (summing) to average for use cases that require it.
An alternative could be to include in the documentation how to get this behavior from the current way col2im works (code example).

[2019-06-17 18:04] SsnL commented on #21859
cc @t-vi

[2019-06-17 18:05] SsnL commented on #21856
In RNNs, you often want to use LayerNorm instead.

[2019-06-17 18:07] SsnL commented on #21828
I'm pretty sure that .zeros() fills in parallel. Maybe this is threading overhead? cc @colesbury

[2019-06-17 18:12] VitalyFedyunin commented on #21828
I will take a look.

[2019-06-17 18:19] thomasj02 commented on #21828
FYI I see similar behavior with stack_out (and I’m sure there are others)

[2019-06-17 18:32] gchanan commented on #20837
just registering that I agree with @colesbury's take here.

[2019-06-17 18:38] SsnL commented on #21645
@EvenOldridge Hi sorry for the late reply. I'm not at FB so at best I am working on PyTorch parttime.

#19228 solves this in the sense that auto-collation becomes optional. With either the old map-style dataset, or the new iterable-style dataset, one can do batching themselves within the dataset code, as what you have done in your repo. Then simply disabling multiprocess loading achieves what your

[2019-06-17 19:01] t-vi commented on #21859
Sounds like #20522, can you try with the nightlies, please? Thank you.

[2019-06-17 19:08] umanwizard commented on #21856
@cpuhrsch  any thoughts ?

[2019-06-17 19:09] #8308 closed

[2019-06-17 19:10] VitalyFedyunin commented on #21828
Tensor.zero_ is using old TH code from the THTensorFill.cpp, we are planning to update this during H2 (hopefully much sooner).

[2019-06-17 19:20] VitalyFedyunin commented on #20837
@colesbury I'm not telling that we are going to write this code. But it is possible to check if there are any active allocations in CUDACachingAllocator.cpp and error out if any of the tensors remains.
(besides that developer would need to check all streams and events).

@Stonesjtu I don't think anyone will start implementing this functionality any time soon. But if you are ready to submit PR I wo

[2019-06-17 19:36] umanwizard commented on #21859
@serhiy-yevtushenko Let me know if you still have the issue with the nightly builds. If not, I can close this.

[2019-06-17 19:43] umanwizard commented on #15359
@t-vi are you actually working on this?

[2019-06-17 19:47] umanwizard commented on #21847
I agree that this would be useful, but it might be non-trivial to implement, since not all operators use the same mechanism for doing broadcasting.

[2019-06-17 19:51] umanwizard commented on #21850
this should be fixed by #21854 , I will close it once that lands.

[2019-06-17 19:52] t-vi commented on #15359
I don't want to keep you from doing it.

[2019-06-17 19:55] umanwizard commented on #15359
@t-vi Sorry if I was not clear, I am not planning on working on this :) . Just was trying to understand whether anyone was actively doing so.

[2019-06-17 19:59] cpuhrsch commented on #5013
cc @ilia-cher

[2019-06-17 20:05] umanwizard commented on #21826
Can you give a short example of the code you're using to load it?

[2019-06-17 20:49] elronbandel commented on #18999
I had exactly the same issue. i got it fixed  by installing the exact pytorch version for my 10.1 CUDA with:
conda install pytorch torchvision cudatoolkit=10.1 -c pytorch
instead of installing it with the installtion snippet generated for me by pytorch website:
conda install pytorch torchvision cudatoolkit=10.0 -c pytorch

[2019-06-17 20:49] sachin-r commented on #15862
Facing the same issue

[2019-06-17 20:50] Jianhui-Li commented on #21597
@ezyang @gchanan  I am following up on what should be done the testing side.

[2019-06-17 20:53] sachin-r commented on #15862
Facing the same issue
[code]
throws the following error
[code]
I tried to run with
[code]
but didn't get any further details in the stacktrace

Anybody, please help.

[2019-06-17 21:41] jaglinux opened #21873 "Caffe2 - devtoolset8- depthwise3x3_conv_op_test failure"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Create devtoolset-8 docker image with ROCm 2.5 installed
./build.sh py2-devtoolset8-glibc2.26-rocmrpm-centos7.5
2. Run container and build Caffe2, run unit tests.

## Error message
/home/caffe2/caffe2/share/contrib/depthwise/depthwise3x3_conv_op_test.cc:145: Failure

Value of: relErr <= maxRelErr || (relErr > maxRelErr && absErr <= ab

[2019-06-17 21:46] serhiy-yevtushenko commented on #21859
Unfortunately, i could not verify whether the nightly build fixes issue due to dependency of my code on torchvision, and current nightly build does not function with torchvision 0.3.0

Could you please clarify, whether there is a way to use torchvision with nightly build?

[2019-06-17 22:00] yf225 opened #21875 "In-place operation on differentiable view leaks memory"
[code]

This is reproducible on master.

Initial investigation shows that the leak is not because of saving Variables for backward (the SavedVariable constructor was not called).

cc @ezyang @SsnL @albanD @zou3519 @gqchen @ngimel

[2019-06-17 22:02] aszlam opened #21876 "nn.TransformerLayer"
A generic pytorch transformer layer

## 🚀 Feature
input:

a 2-dim Tensor [x_{00}, x_{01},  ... x_{0m_1}, x_{10}, ... x_{1m_1}, ... x_{km_k}]; each x is a vector.

and either (or both, but they should match):
* a 1-dim Tensor of offsets [o_0, ..., o_k ]
* or a list of square 2-dim Tensors [ A_{m_0}, .... A_{m_k}] of attention masks

output:
a 2-dim Tensor [h_{00}, h_{01},  ... h_{0m_1}, h_{10}, ...

[2019-06-17 22:06] t-vi commented on #21859
The canonical way is to build torchvision from source, it's really easy (much more so than PyTorch itself).

[2019-06-17 22:07] aszlam commented on #21876
@cpuhrsch @zhangguanheng66 @soumith @imisra @siddk

[2019-06-17 22:25] jbaron commented on #21856
@SsnL: the case I had at hand required some BN before going into a LSTM layer (so not a "LayerNormLSTMCell" type of solution). But mainly I was a bit surprised that it could not be parametrized since I would expect also other use cases (but perhaps I'm wrong there).

[2019-06-17 22:28] serhiy-yevtushenko commented on #21859
I confirm that with nightly build and torchvision built from source the problem is no longer reproducible.
The issue could be closed.
Are there any timelines, when this code would get to stable version of pytorch?

[2019-06-17 22:34] zhangguanheng66 commented on #21876
@aszlam Thanks for the contribution. A great feature to extend the applicability of the transformer model in other domains.

[2019-06-17 22:48] gautams3 opened #21882 "Converting from IValue to double gives INTERNAL ASSERT failure"
## 🐛 Bug

Simple unit test to show how I get an internal assertion failure when converting from at::Tensor to double.

## To Reproduce

Steps to reproduce the behavior:

1. Compile this code, which tries to convert a vector of IValue to a vector of float

[code]
2. Observe an error message similar to this

## Expected behavior

Test should pass

## Environment
PyTorch version: 1.2.0a0+fc3f702
Is d

[2019-06-18 00:03] zdevito commented on #21537
A minimal version of the code that still leaks is the following. It no longer uses the jit, so it looks like the issue is in the F.conv2d function. I am removing the JIT tag because it does not appear related.

[code]

[2019-06-18 00:34] njtuzzy commented on #21768
@peterjc123  thanks  for telling that!

[2019-06-18 00:35] xiaoxiangyeyuwangye commented on #21819
@SsnL Thanks for your rely. I will do more trials and post the results here. This is really a weird error and very hard to debug.

[2019-06-18 00:41] zdevito commented on #21537
More investigation indicates that this is a leak in the mkldnn convolution pathway. In particular, disabling mkldnn by disabling the if statement on `Convolution.cpp:445` makes the leak disappear. Benchmarking script is:
[code]

[2019-06-18 00:44] bddppq commented on #21537
@Jianhui-Li @XiaobingSuper @gujinghui @mingfeima @jgong5 Could you help investigate?

[2019-06-18 01:17] hexiaoting commented on #21453
@fmassa What can I do for this bug?

[2019-06-18 01:25] bddppq commented on #21597
Fixed in #21854

[2019-06-18 01:25] #21597 closed

[2019-06-18 01:26] bddppq commented on #21597
@Jianhui-Li @XiaobingSuper @gujinghui Thanks for the quick fix!

[2019-06-18 01:27] bddppq commented on #21850
Fixed in #21854

[2019-06-18 01:27] #21850 closed

[2019-06-18 01:32] #21859 closed

[2019-06-18 01:51] jinfagang commented on #21823
@zdevito  Same traced pt model, same c++ program, different machine on of them got this error. I can not even debug for why. I will udpate an error message when logging on to problem machine.

[2019-06-18 03:14] jgong5 commented on #21537
@uyongw

[2019-06-18 03:14] jgong5 commented on #21537
@bddppq We will follow up.

[2019-06-18 03:27] peterjc123 commented on #21706
I wonder if this is a VS bug because I cannot reproduce this with VS 2017 15.9(14.16).

[2019-06-18 04:05] hxbai commented on #20355
I meet the problem when using fairseq
https://github.com/pytorch/fairseq/blob/master/fairseq/distributed_utils.py#L121

when export NCCL_LL_THRESHOLD=0, there will be error:
`Traceback (most recent call last):
  File "train.py", line 306, in <module>
    cli_main()
  File "train.py", line 298, in cli_main
    nprocs=args.distributed_world_size,
  File "/usr/local/lib/python3.5/dist-packages/torch/

[2019-06-18 04:10] garimss opened #21893 "cmake error build failed"
how to solve this problem

Error log file says The system is: Windows - 10.0.17763 - AMD64

CAFFE2_ROOT=D:\pytorch\scripts\..
CMAKE_GENERATOR=Visual Studio 15 2017
CMAKE_BUILD_TYPE=Release
cmake -GNinja -DMSVC_Z7_OVERRIDE=False -DBUILDING_WITH_TORCH_LIBS=OFF -DBUILD_BINARY=False -DBUILD_CAFFE2_OPS=True -DBUILD_PYTHON=False -DBUILD_SHARED_LIBS=OFF -DBUILD_TEST=True -DCAFFE2_STATIC_LINK_CUDA=False -

[2019-06-18 04:19] peterjc123 commented on #21893
You were using Ninja but you didn't activate the environment and thus the build error. Please read this [section](https://github.com/pytorch/pytorch#install-pytorch) carefully before build.

[2019-06-18 04:19] #21893 closed

[2019-06-18 04:25] chennian32 opened #21894 "cpp frontend torch::nll_loss2d memory leak"
## 🐛 Bug
`torch::nll_loss2d` memory leak

When I use classification, there is no memory leak using nll_loss,But when I train with semantics segmentation, memory leaks occur when I use nll_loss2d.
## To Reproduce

Steps to reproduce the behavior:

1.semantics segmentation
2.torch::nll_loss2d
3.cpp frontend

[code]

 - PyTorch Version (e.g., 1.0):1.1
 - OS (e.g., Linux):windows 10
 - How you install

[2019-06-18 06:09] garimss commented on #21893
hi peterjc123

I have forced ninja to off and now showing below error:
CAFFE2_ROOT=D:\pytorch\scripts\..
CMAKE_GENERATOR=Visual Studio 16 2019
CMAKE_BUILD_TYPE=Release
When you specify `CMAKE_GENERATOR_TOOLSET_VERSION`, you must also activate the vs environment of this version. Please read the notes in the build steps carefully.
"Caffe2 building failed"

[2019-06-18 06:10] garimss commented on #21893
hi peterjc123
I have forced ninja to off and now showing below error:
CAFFE2_ROOT=D:\pytorch\scripts..
CMAKE_GENERATOR=Visual Studio 16 2019
CMAKE_BUILD_TYPE=Release
When you specify CMAKE_GENERATOR_TOOLSET_VERSION, you must also activate the vs environment of this version. Please read the notes in the build steps carefully.
"Caffe2 building failed"

[2019-06-18 06:11] zh217 commented on #21680
Hi, I also encountered this problem.

With the following script I can reproduce it every time (get the input data and script from [here](https://github.com/zh217/torch_ctc_test)):

[code]

This is the result on the latest nightly on Linux:

[code]

and on stable version on Windows:

[code]

Note that `grad_sum` for the GPU case is always `nan`.

[2019-06-18 06:19] zh217 commented on #21680
This is the collected environment for Linux, if it helps:

[code]

[2019-06-18 06:19] xiiiiiiii commented on #21680
what is the version of you pyrorch? is torch nightly?do you update ctc?

[2019-06-18 06:19] peterjc123 commented on #21893
Two options available:
1. unset `CMAKE_GENERATOR_TOOLSET_VERSION`
[code]
2. activate the env.
[code]
It is clearly written in the doc through the previous link. If it is still broken, then please check your VS installation.

[2019-06-18 06:20] xiiiiiiii commented on #21680
what is the version of you pyrorch? is torch nightly?do you update ctc?

[2019-06-18 06:23] xiiiiiiii commented on #21680
you have version torch 1.1.0 and torch-nightly,You could also just print torch.__version__ in your actual script to be sure. maybe you should uninstall torch 1.1.0 and use torch-nightly?

[2019-06-18 06:29] zh217 commented on #21680
If you glance at my script you should see that the pytorch used is indeed the nightly version.

[2019-06-18 06:37] t-vi commented on #21680
Thank you for providing this, it is extremely helpful! I can reproduce the NaN with your script.
So this happens with the CuDNN backend enabled only, I have not quite figured out why.
When adding `torch.backends.cudnn.enabled = False`  it asks you to move the target tensor to cuda, but then it seems to work. Is that the case for you, too?

[2019-06-18 06:38] zh217 commented on #21680
Yes, NaN only appears when CUDNN is used.

[2019-06-18 06:40] ngimel commented on #21821
The problem is not so much with a stream safety, as with magma not setting a stream at all (e.g. the failing test is not multithreaded, so the locks in the old way that are supposed to provide stream safety under multithreaded operation are irrelevant). Rather than throwing an error on encountering non-default stream, I think it is better to synchronize default stream (on which magma would run its

[2019-06-18 06:42] t-vi commented on #21680
Thanks for confirming! So either we don't check the inputs enough before calling CuDNN (more likely) or it is a CuDNN bug. In either case we would likely want to avoid passing these inputs to CuDNN if we can find a reasonable criterion.

[2019-06-18 06:49] zh217 commented on #21680
I didn't dig too much into this, but I never encountered this problem when the number of labels is very small (say, below 64). For my problematic inputs the number of labels is huge (in the thousands). By profiling, I also noticed that the CuDNN CTC loss function seems to achieve its unbelievable performance by cleverly batching most calculations in linear space instead of log space, so they could

[2019-06-18 07:00] vishwakftw commented on #21821
For all of the batched kernels in MAGMA, a `magma_queue_t` object is taken as an argument, which is constructed using the current stream, cuBLAS and cuSparse handles. However, all MAGMA functions don’t support batching.

[2019-06-18 07:02] t-vi commented on #21680
I copied that behaviour for collecting gradients from the "alignment matrix". When I last benchmarked it, the native implementation wasn't too bad in performance, either, although it uses `atomicAdd` which will have performance degrade when many threads try to add to the same memory location. My number of classes was small, though...

@ngimel Do you know if there is an implicit limit on the number

[2019-06-18 07:24] njtuzzy opened #21899 "Crash when using tensor.setdata() function in libtorch on windows"
## ❓ Questions and Help
When i use the the set_data function in libtorch as following, the exe will be crashed!
at:: Tensor a = torch::ones({3});
at::Tensor b = torch:: zeros({3});

a.set_data(b)
....
? do anyone know what's going on?

Thanks

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](http

[2019-06-18 08:09] zh217 commented on #21680
It seems training is very unstable when the number of classes is big even when CuDNN is disabled.

I did some more investigations. These should be reproducible by using the latest test [here](https://github.com/zh217/torch_ctc_test/).

With the latest nightly:
[code]

With stable:

[code]

Loss values match pretty well for all three backends. For grad.sum(), CuDNN complete blew it. Plain CUDA prod

[2019-06-18 08:16] t-vi commented on #21680
While it certainly is possible that there are errors in the implementation, I should note that grad_sum is probably close to numerical precision limits. You could try with double.

While implementing CTC loss, I once had a cuda implementation completely in log-space. I didn't keep it, but it should not be too hard to implement if you wanted (either by implementing atomicLogAddExp or moving to a de

[2019-06-18 08:33] gcanonaco opened #21900 "Multiprocessing and tensor problem"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.Build a Neural network with double weights
1.Use the multiprocessing library to parallelize the prediction of the neural network
1. Use the Queue from multiprocessing to exchange data from the workers and the main process
1. read all the prediction back from the ouput queue
(All this is done in the context of a RL problem)

My implemen

[2019-06-18 08:39] sto-chastic commented on #21774
I tried that, however it says `AttributeError: 'function' object has no attribute 'graph'`. I tried just `print(traced_script_module.forward)` and got the same output as above. Am I missing something?

[2019-06-18 09:01] zh217 commented on #21680
Okay I found the cause of unstability. It has nothing to to with numerical precision.

Just in case, I have updated my test to use double whenever the backend is not CuDNN.

The relevant tests now reads:

[code]

So, given an edge case where `len(target) == 0`, the CPU backend always gives wrong answer for the loss regardless of the parameter `zero_infinity`, whereas the GPU backend gives the corr

[2019-06-18 09:07] zh217 commented on #21680
Okay on further testing the plain CUDA implementation also has problems.

Now the test is changed to only backward propagate the loss corresponding to the second sample (I have set `reduction='none'`).

[code]

Now with `zero_infinity=False`, the CUDA backend will still claim that the grad is `nan` even though the infinity only occurs in the case where the loss is NOT propagated.

[2019-06-18 09:22] t-vi commented on #21680
Target length 0 for GPU is an open issue #18215 . I you think the CPU version is bad, too, it might be good to comment there. (Note that one would expect a gradient for empty targets pushing `blank` probs everywhere, it's just not properly implemented in CUDA.)
If "not propagate" means sticking a 0 into grad_out: That does not help you from getting NaNs. This is neither CTC-specific nor considered

[2019-06-18 09:24] yongqianxiao opened #21901 "python setup.py install get error.subprocess.CalledProcessError: Command '['cmake', '-GNinja', '-DBUILDING_WITH_TORCH_LIBS=ON', '-DBUILD_BINARY=False', '-DBUILD_CAFFE2_OPS=True', '-DBUILD_PYTHON=True', '-DBUILD_SHARED_LIBS=ON', '-DBUILD_TEST=True', '-DCAFFE2_STATIC_LINK_CUDA=False', '-DCMAKE_BUILD_TYPE=Release', '-DCMAKE_CXX_FLAGS= ', '-DCMAKE_C_FLAGS= ', '-DCMAKE_EXE_LINKER_FLAGS=', '-DCMAKE_INSTALL_PREFIX=/home/nudt302/pytorch/torch', '-DCMAKE_PREFIX_PATH=/home/nudt302/anaconda3/lib/python3.6/site-packages', '-DCMAKE_SHARED_LINKER_FLAGS=', '-DINSTALL_TEST=True', '-DNAMEDTENSOR_ENABLED=False', '-DNCCL_EXTERNAL=True',"
## 🐛 Bug

 - PyTorch Version (e.g., 1.0): the latest version
 - OS (e.g., Linux): 16.04
 - How you installed PyTorch (`conda`, `pip`, source): source
 - Build command you used (if compiling from source): `python setup.py install`
 - Python version: 3.6
 - CUDA/cuDNN version: 10.0
 - GPU models and configuration: 1080ti
 - Any other relevant information: **mkl: 2018**
cmake: 3.14 was built through

[2019-06-18 09:25] zwx8981 commented on #21876
Is there any plan to provide a tutorial of showing an example of using Transformer layer as an alternative of RNN for seq2seq task such as machine translation? @cpuhrsch @zhangguanheng66 @soumith @imisra @siddk

[2019-06-18 09:31] zh217 commented on #21680
I see your point regarding pushing to blank. Will test that further.

The "not propagate" reasoning is that otherwise the gradient would depend on how I split up my batches. For example, if I use batch_size=1, then obviously the "good" sample will back propagate correctly. I understand that this might be problematic in a CTC implementation. In that case, some documentation would help.

[2019-06-18 09:37] t-vi commented on #21680
`zero_infinity` should work on a per-sample basis, so you'd get regular gradients for the other samples.

[2019-06-18 09:39] zh217 commented on #18215
Test data and script found [here](https://github.com/zh217/torch_ctc_test/). Script reproduced below:

[code]

Running the script we got:

[code]

... and then the script hangs.

A few problems can be seen from the result (besides the problem mentioned aboved and the problem with CuDNN implementation as noted in https://github.com/pytorch/pytorch/issues/21680):

* the CPU implementation does not r

[2019-06-18 09:44] t-vi commented on #18215
I would expect a nonzero loss when you have target length 0, but negative losses do indicate a problem.

[2019-06-18 10:04] zh217 commented on #18215
This looks like an uninitialized variables problem.

Here are results from several different runs:

[code]

[code]

[code]

There is nothing stochastic about the tests being run. Yet for test_data_2, every time the CPU answer is different.

For test_data_3 where all targets are empty the CPU answer seems OK though.

[2019-06-18 10:07] ofexe commented on #19053
It's CRNN model I use.
In fact I tried two methods. One is that I resize image to size 32*160, another is resize to 32*(w*32/h), the  latter one works better.

[2019-06-18 10:18] ameet20 opened #21902 "contradictory output values"
Hello please find following description:

Hello, when I debug this project, input same images and output different values respectively in Python env. and in c++ env. . However, input torch::ones({1,1,224,224}) and output same values. Am I missing some details in bgr2tensor？
C++ API release is much slower than Python API in the same system environment. Inputting a (1,1,224,224) tensor resumes about

[2019-06-18 11:03] ntatsisk opened #21903 "bug? dataloader causes mutliple global prints"
## 🐛 Bug

I am new to pytorch and so I am not sure if it is an actual bug or a normal thing. However, when I have a print statement outside of any function and I iterate over a Dataloader then the print statement is invoked multiple times.

## To Reproduce
[code]

The output:

[code]

## Expected behavior

The print statement should be invoked only once.

## Environment
 - PyTorch Version 1.1.0
 -

[2019-06-18 11:06] yongqianxiao commented on #21179
@VertexC hello, I got the same error, have you solve the issue? Tell me if you solve the problem, thanks

[2019-06-18 11:57] westpilgrim commented on #13040
how did you modify this?could you give some sample code?

[2019-06-18 12:53] Windaway opened #21905 "Module to device can not move function list to device."
## 🐛 Bug

if i define a function list like below in a module,  and use to device.

        for x in range(layn):
            temp1=nn.Linear(input_size, 3 * hidden_size, bias=self.bias)
            temp2=nn.Linear(hidden_size, 3 * hidden_size, bias=self.bias).to("cuda:0" )
            self.x2h.append(temp1)
            self.h2h.append(temp2)

then self.x2h.weight cannot be moved to device.

 - PyT

[2019-06-18 13:07] adefossez commented on #21462
No worries, I can take care of it. @fmassa, I'll probably bug you to get some help.

[2019-06-18 13:18] mnabenas commented on #21794
When finding package and adding ${TORCH_LIBRARIES} to target link libraries before OpenCV libs in CMake file, it builds just fine.

[2019-06-18 13:36] zhangguanheng66 commented on #21876
@zwx8981 there is and will land soon. https://github.com/pytorch/examples/pull/555

[2019-06-18 13:36] mahmoodn opened #21907 "Downloading 3rd party packages"
Although I have recursively downloaded pytorch via `git clone --recursive https://github.com/pytorch/pytorch`, by running `python3 setup.py install` it goes to download some third party packages.
How can I fully download the source code from internet and then build it without internet connection?

[2019-06-18 13:48] manueldiaz96 commented on #768
@soumith could you please link to how to use these bitwise operations?

Searching on the docs, they do not seem to be there:
https://pytorch.org/docs/master/search.html?q=bitwise&check_keywords=yes&area=default

Thanks!

[2019-06-18 14:38] NikitaSemenov opened #21909 "ONNX export of `nn.LSTMCell` on CUDA device fails on `_thnn_fused_lstm_cell`"
## 🐛 Bug
When i trying to export my taco2 model to onnx i got this error.
How can i add symbolic and where i can do it?
 UserWarning: ONNX export failed on ATen operator _thnn_fused_lstm_cell because torch.onnx.symbolic._thnn_fused_lstm_cell does not exist

## To Reproduce

Steps to reproduce the behavior:

1. cloned nvidia/Tacotron2 repo https://github.com/NVIDIA/tacotron2
1. create export script

[2019-06-18 14:58] zh217 commented on #18215
I opened a pull request for a fix for the CPU implementation. After the fix, my test for the CPU case looks good now:

[code]

If anyone can tell me how I can make custom-built pytorch work in python, without having to recompile the whole thing after every change, I can look into the GPU case too ...

[2019-06-18 15:01] ezyang commented on #18999
@soumith Who can update the website downloader box?  This seems easy
enough to fix.

Excerpts from elronbandel's message of 2019-06-17 13:50:16 -0700:

[2019-06-18 15:14] t-vi commented on #18215
Thank you! Awesome! [CONTRIBUTING.md](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md) has some hints at to keep your sanity with re-building. I [deviate from that at times](http://lernapparat.de/fixing-your-first-pytorch-bug/), but the documented method is probably best.

[2019-06-18 15:15] fmassa commented on #21462
@adefossez sure, no worries!

[2019-06-18 15:27] ezyang commented on #21706
@liukuanlk could you please tell us exactly what version of MSVC you are using?

[2019-06-18 15:30] ezyang commented on #21838
De-prioritized as this is a ROCm bug

[2019-06-18 15:30] ezyang commented on #21838
cc @VitalyFedyunin as the missing symbols are related to the CUDA IPC refcounting work

[2019-06-18 15:31] ezyang commented on #21706
De-prioritizing this pending evidence that this is more widespread (if you are affected by this, please post, we'll bump up priority in that case.)

[2019-06-18 15:32] ezyang commented on #21834
ROCm = not high priority

[2019-06-18 15:36] ezyang commented on #18631
Absent someone writing a fast fp32 depthwise convolution kernel for us, we'll have to wait until cuDNN decides to optimize this case.

[2019-06-18 15:40] skrah commented on #21785
Can we close this in favor of #21821? I haven't seen the error again on master, so the #21638 changes appear to work.

[2019-06-18 15:40] #21785 closed

[2019-06-18 15:49] #19351 closed

[2019-06-18 15:53] ezyang commented on #18113
cc @pk-g @houseroad re Aeroxander's latest comment

[2019-06-18 15:55] ailzhang commented on #21406
Thanks for reporting! I will take a look today.

[2019-06-18 15:55] skrah commented on #18066
#21635 and #21732 are merged.

[2019-06-18 15:55] #18066 closed

[2019-06-18 15:57] #20528 closed

[2019-06-18 15:59] ezyang commented on #17658
cc @mcarilli

[2019-06-18 16:17] lydials commented on #18631
@ezyang Does cudnn 7.6.0 optimize this? There are some improvements on grouped conv at 7.6.0

[2019-06-18 16:29] izdeby commented on #20322
@Ssnl, i've created [PR](https://github.com/pytorch/pytorch/pull/21912/files) with a test to cover this case. Please, let me know if you would like me to add any other cases.

[2019-06-18 16:29] SsnL commented on #21903
not a bug, you are on windows so be aware of the default `spawn` start method executes the script again.

[2019-06-18 16:29] #21903 closed

[2019-06-18 16:30] SsnL commented on #21905
use nn.ModuleList

[2019-06-18 16:30] #21905 closed

[2019-06-18 16:34] ngimel commented on #18631
Only for fp16 on Volta cards.

[2019-06-18 17:06] houseroad commented on #18113
@Aeroxander do you want to provide your onnx model? I think it may be due to different opset version.

[2019-06-18 17:10] colesbury commented on #21777
@smesser can you fix this?

[2019-06-18 17:18] ezyang commented on #18032
CUDA 8 is no longer supported.

[2019-06-18 17:18] #18032 closed

[2019-06-18 17:22] ezyang commented on #18631
It sounds like Tensorflow has a specialized implementation of depthwise convolution for float32. I believe that the implementation lives at https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/depthwise_conv_op_gpu.h

It would be a pretty interesting to (1) verify that this implementation is indeed much faster and (2) port it over to PyTorch.

[2019-06-18 17:41] mcarilli commented on #17658
I've never seen this before.  Could be related to https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/cudnn/Handle.cpp#L38-L47, which also wasn't an issue I dealt with (I'm not sure why it was necessary).

[2019-06-18 17:44] VertexC commented on #21179
@yongqianxiao I didn't finally install it myself for some other reason. It might be helpful if you can put your cmake log here and ask @ezyang for help.

[2019-06-18 17:50] VitalyFedyunin commented on #21828
I will simplify a bit, but in general (using your numbers): ~500ns is the cost of the tensor function execution (including all type/device dispatching). `zeros()` function (internally) call two more functions `empty` and `zero_` which results with up to 3x function call price. Iterator overhead (universal implementation) is around ~100ns. Iterating with the accessor would always be faster as you a

[2019-06-18 18:03] VitalyFedyunin commented on #21838
I was able to build master using PYTORCH_ROCM_ARCH=gfx900 USE_ROCM=1 USE_LMDB=1 USE_OPENCV=1 MAX_JOBS=8 BLAS="OpenBLAS" USE_MKLDNN=0 USE_MIOPEN=1 options.

Can you please clarify if `python tools/amd_build/build_amd.py` script finished successfully and your git repo is clean and synced with all submodules.

You can also try to use docker file with proper libs installed (Option 2.) and build distri

[2019-06-18 18:11] creotiv opened #21917 ".to(device) should cause exception if was not set in current train graph"
## 🐛 Bug

When called .to(device) on constant once before train/eval loops this cause errors with training and not raising Exception.

## To Reproduce

1) i used code from here https://github.com/pytorch/examples/tree/master/fast_neural_style
2) this is how its done in example. style calculated before loop https://gist.github.com/creotiv/e70c1781097ea5068f3be8da5e37d117
3) this is how it cause pro

[2019-06-18 18:47] ifedan commented on #21469
Fixed

[2019-06-18 18:47] #21469 closed

[2019-06-18 18:52] zou3519 commented on #21828
If this is important, we can speed this up in the short-term by breaking up `zeros` into a `zeros_cpu` and `zeros_cuda`, and `zeros` for other backends.  These functions can call `empty_cpu` or `empty_cuda` or `empty` depending on what the backend is and we can probably do something similar for `zero_` as well.

[2019-06-18 19:08] Xyand opened #21922 "Segmentation fault using all_reduce with cuda:1 (MPI)"
## 🐛 Bug

Using `all_reduce` under cuda-aware MPI with a cuda device other than `cuda:0` causes segmentation fault. I managed to bypass this for a very specific use case by setting `CUDA_VISIBLE_DEVICES=1` and then using `cuda:0` within pytorch.

## To Reproduce
[code]

Steps to reproduce the behavior:

Segmentation fault:
[code]
## Expected behavior

No crash

## Environment

PyTorch version: 1.1

[2019-06-18 19:08] Aeroxander commented on #18113
@houseroad sure! Here it is: [decoder.onnx](https://github.com/Aeroxander/decodererror/blob/master/decoderrand.onnx)

[2019-06-18 19:36] zou3519 commented on #21875
I think just changing the view's value might cause a memory leak. See example:
[code]

[2019-06-18 19:55] LalehSeyyed commented on #20756
I have the same issue while loading the densenet model of https://github.com/jrzech/reproduce-chexnet/tree/master/pretrained. ahow can we fix it?

[2019-06-18 20:19] #4288 closed

[2019-06-18 20:20] #4219 closed

[2019-06-18 20:27] thomasj02 commented on #21828
While the benchmarks I provided were for zeros, I want to mention that I have seen similar issues with other functions like cat_out, stack_out, etc.

It doesn’t make sense that iterating with the accessor is always faster due to it being custom code, since the non-accessor version wins in the large tensors

I think it’s more likely to be the threading causing the overhead because I do see what see

[2019-06-18 20:46] Spandan-Madan opened #21926 "Bug in saving indexed torch tensors makes it much slower than numpy."
## 🐛 Bug

I am indexing tensors and storing each element of the batch separately so that they can be read individually from disk. The output of the model is a tensor of size (40,100,256,256). When I index one element from it and store the (100,256,256) dimensional tensor using torch.save() it takes the exact same time as it takes to save the whole (40,100,256,256) object.

On the other hand, if I

[2019-06-18 21:02] zou3519 commented on #21828
@thomasj02 It's a known issue that torch.cat is slow on CPU: https://github.com/pytorch/pytorch/issues/18634.

[2019-06-18 22:55] soumith commented on #21926
this is not a bug, it's actually by design.

when you index individual elements into a Tensor, then you are holding a view into the original Tensor.

[code]

If you actually do `torch.save([a, b], 'foo.pt')` then PyTorch makes sure that this "view" property is actually preserved across serialization / deserialization.
So,

[code]

So, what you are seeing is that even when you are indexing, the who

[2019-06-18 22:55] #21926 closed

[2019-06-18 22:58] Spandan-Madan commented on #21926
Interesting, what was the reason behind doing this?

Thanks,
Spandan

[2019-06-18 23:14] soumith commented on #21926
if you do a `torch.save(my_model, ...)` where your model has parameters that are views, or if you do `torch.save([my_model, my_optimizer], ...)`, when you load the model back, you want the preserving property that these both continue to work as expected

[2019-06-18 23:17] Spandan-Madan commented on #21926
Thanks!

[2019-06-19 00:08] yongqianxiao commented on #21179
thanks, actually I added a new issue, and I will ask him for help.

[2019-06-19 00:13] yongqianxiao commented on #21901
@ezyang hello, could you have a look at this issue? Thank you.

[2019-06-19 00:38] lara-hdr opened #21935 "Unexpected output size for Maxpool"
The output of Maxpool has an unexpected size for some corner cases.

Repro:
Maxpool1d(kernel_size=3, stride=2, padding=0, dilation=2)
input=torch.randn(1,1,4)

If I use the L_out formula from the documentation (https://pytorch.org/docs/stable/nn.html?highlight=maxpool#torch.nn.MaxPool1d) to compute the output size, I get {1,1,0}.
However, the output generated has a size of {1, 1, 1}.

And with ONN

[2019-06-19 00:58] GeoffreyChen777 commented on #20611
I have a similar problem.

My training will get stuck at the same iteration steps. The GPU usage is 100%, but nothing happens.

[2019-06-19 01:14] Stonesjtu commented on #20837
@VitalyFedyunin Quite happy to implement, i think we can check the cuda memory allocation like this:

[code]

[2019-06-19 01:32] sevenguin commented on #1608
If i just have 1 GPU card, and i use with torch.cuda.device(1), what happend? It's OK?

[2019-06-19 01:42] #20322 closed

[2019-06-19 02:16] vusraju commented on #19969
Add "cudaDeviceSynchronize();" before and after you do inference. it solved my issue. Also It didn't change the speed.

[2019-06-19 02:43] EvenOldridge commented on #21645
I think you might be missing a few key points.

The dependency is there if you want to achieve performance.  Benchmarking non-multi vs multiprocessors in my problem domain shows a 3-5x difference in throughput.  So while you can disable it you're performance tanks.

The submission is for a batch dataset and batch dataloader class that is extended to tensors in TensorBatchDataset.  This is the exac

[2019-06-19 02:53] HITerStudy opened #21945 "how to use mkl-dnn after installing by conda?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)
how to use mkl-dnn after installing by conda "conda install mkl-dnn"? And I don`t kno

[2019-06-19 03:24] anubhav1772 opened #21948 "Getting 1 as an ouput on running torch.cuda.device_count() but still able to pass 2 as an argument in torch.cuda.device()"
## 📚 Documentation

Hi,
When I ran `torch.cuda.device_count()`, I got `1` in output but still able to pass` 2`(which is greater than device count) as an argument in the `torch.cuda.device()` method. The documentation here says its a `context-manager` that changes the selected device but I have just `1` cuda device available, i.e., `cuda:0`. Then, why am I not getting any error when I passed `2` as

[2019-06-19 04:46] clemej commented on #21838
Confirmed that with a clean checkout of master the build succeeds.  Perhaps I forgot to re-run build_amd.py after a git pull.  Apologies for the noise. Closing.

[2019-06-19 04:46] #21838 closed

[2019-06-19 05:36] JunaidRana opened #21954 "RuntimeError: CUDA error (10): invalid device ordinal"
I am working on Unity ml-agents. I want to run MADDPG for my project. I have installed torch, torch is able to detect the GPU in machine. Using python jupyter notebook.
here are some package versions
python 3.6
torch 0.4.0
ml-agents 0.8

i am getting this error.
Any help would be appreciated.

[code]

[2019-06-19 05:48] Usmaniatech opened #21955 "CUDA error (10): invalid device ordinal"
I am using cuda to work on MADDPG and it gives following error:

I am using:

to train on cuda. but i get the error.

I have checked:

[2019-06-19 05:55] umichyiwan opened #21956 "nn.init.orthogonal_ doesn't work with multiprocessing"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]
output:
test in
test out
test in
t

[2019-06-19 06:13] creotiv commented on #21917
I was wrong

[2019-06-19 06:13] #21917 closed

[2019-06-19 06:53] JunaidRana commented on #21954
@XiaobingSuper kindly help

[2019-06-19 07:04] zh217 commented on #21680
I think I know what is happening now.

I've upgraded my [script](https://github.com/zh217/torch_ctc_test/) to accept arguments. It then tests the four implementations: CPU, CUDA-aten, CuDNN-non-deterministic, CuDNN-deterministic. You can also specify `--n-classes` for the number of classes in the sample, and `--beta` to scale the inputs ("beta" as in statistical mechanics).

The conclusion is that

[2019-06-19 07:16] vishwakftw commented on #21577
Closing this, since this issue is a specific case of https://github.com/pytorch/pytorch/issues/21821.

[2019-06-19 07:16] #21577 closed

[2019-06-19 07:19] xiaoxiangyeyuwangye commented on #21819
@SsnL I update the environment to pytorch 1.1, cuda 10.0, cudnn 7.6, but this error still happens.

[2019-06-19 07:24] zh217 opened #21961 "CuDNN CTC implementation ignores grad_out completely"
## 🐛 Bug

Say we have

[code]

When grad_out are all 1, everything is OK:
[code]

this prints
[code]

But now let's try to make grad_out 0.5:

[code]

Note the `.mean()` instead of `.sum()`. Now the result is:
[code]

The CuDNN implementation gives wrong result.

[2019-06-19 07:31] westpilgrim commented on #13040
I modify dlav0.py line 615 - 618 to :
        ret = []
        for head in self.heads:
            ret.append(self.__getattr__(head)(x))
        return [ret]

and convert to onnx successes.haven't test the model yet

[2019-06-19 07:31] zh217 commented on #21961
Due to the way CuDNN is implemented, it may be impossible to cater for the case of

[code]

But at least we should tell the user that.

[2019-06-19 08:02] zh217 commented on #21680
I think we should disable the non-deterministic algorithm.

I did some profiling. Here is the result on RTX 2080 Ti, with
[code]

All quoted numbers are iterations/second (higher is better):

[code]

So by using the deterministic algorithm, in exchange for insignificant performance hit, we get correct result.

[2019-06-19 08:47] Jie-Yuan opened #21962 "How to deploy pytorch???"
How to deploy pytorch???

[2019-06-19 09:14] hierarchyJK commented on #6061
Thank for [vishwakftw], this is the pytorch'version problem

[2019-06-19 09:37] pietern commented on #19145
@gchanan After rebasing my diffs it looks like this is no longer an issue. I might have missed that the Tensor/Variable merge has landed. Can you confirm that any new tensor through `at::empty` (for example) can act like a Variable now?

[2019-06-19 10:09] kefirski commented on #7500
Hi, @vishwakftw, Is there any ETA on adding batched det/logdet operations?

[2019-06-19 10:31] vishwakftw commented on #7500
It should be done by the end of the month. The only thing hindering batched det / logdet / slogdet is the backward pass which requires batched SVD.

[2019-06-19 11:06] janfreyberg opened #21965 "base_lrs in torch.optim.lr_scheduler.CyclicLR gets overriden by parent class if parameter groups have 'initial_lr' set"
## 🐛 Bug

One of the arguments of `torch.optim.lr_scheduler.CyclicLR` is `base_lr`. This is described in the documentation as:

When this class actually computes the learning rate on each step, it uses the attribute `self.base_lrs`. This is set in the parent class, [`torch.optim.lr_scheduler. _LRScheduler `](https://github.com/pytorch/pytorch/blob/master/torch/optim/lr_scheduler.py#L26)

However,

[2019-06-19 13:36] scientium commented on #21818
Hi, I followed every instruction to build libtorch. But I am not able to link it to my code. Could you please tell me how to link the locally built libtorch with any program?

[2019-06-19 13:58] mahmoodn opened #21966 "Non-root installation"
I want to install pytorch for a user. However, the default `python3 setup.py install` seems to require root access.
[code]
How can I do that?

[2019-06-19 14:21] zou3519 commented on #21966
Please ask questions over at our forums in the future: https://discuss.pytorch.org/

You can create a python virtual environment that lives in a local directory that you have permission to write to. Then, install PyTorch in said virtual environment. See https://docs.python.org/3/tutorial/venv.html for more details.

[2019-06-19 14:21] #21966 closed

[2019-06-19 14:22] zou3519 commented on #21962
Please ask questions at our forums: https://discuss.pytorch.org/, or follow the issue template.

[2019-06-19 14:22] #21962 closed

[2019-06-19 14:24] marchss opened #21967 "libtorch c++ forward function tensor mismatch error"
## ❓ Questions and Help

After successfully converting pytorch model into C++, this line ```module_->forward(inputs)``` runs into error.

 Am I missing something to write ```inputs``` properly? I've been searching around for docs related to the forward() function with respect to tensor mismatch, but did not find any helpful clues.

```inputs``` contains four tensors ```premises, premises_length, h

[2019-06-19 14:50] vishwakftw commented on #21956
Could you please copy-paste the output from the environment collection script found [here](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)?

[2019-06-19 16:07] umichyiwan commented on #21956
Collecting environment information...
PyTorch version: 0.4.1
Is debug build: No
CUDA used to build PyTorch: None

OS: Mac OSX 10.14
GCC version: Could not collect
CMake version: version 3.3.2

Python version: 3.5
Is CUDA available: No
CUDA runtime version: No CUDA
GPU models and configuration: No CUDA
Nvidia driver version: No CUDA
cuDNN version: No CUDA

Versions of relevant libraries:
[pip3] num

[2019-06-19 16:16] vishwakftw commented on #21956
Seems to be related: https://github.com/numpy/numpy/issues/654

[2019-06-19 16:21] gchanan commented on #19145
CC @yf225.

I don't believe that's correct, although I guess it depends on what you mean by "act like a Variable."  What's your definition?

[2019-06-19 16:41] pimdh opened #21970 "Checkpoint backward not called if function returns einsum result"
## 🐛 Bug

When a function returns the result of `einsum` is checkpointed, the backwards pass is not correctly computed.

## To Reproduce
[code]
Returns:
[code]

## Expected behavior

The three functions should result in the same gradient, but function `g` results in no gradient. When `einsum` is followed by `clone`, the gradient reappears, as in function `h`.

## Environment
[code]

## Additional

[2019-06-19 16:50] yf225 commented on #19145
@pietern After #17072, we don't unpack Variables when we pass them into ATen ops (instead we use `at::AutoNonVariableTypeMode` so that the ATen ops will use the Variables as if they are Tensors). The tensors returned from ATen ops can still be either Tensors or Variables, and we need to check whether they are Tensors to decide whether to rebox them or not.

[2019-06-19 16:54] umichyiwan commented on #21956
Does pytorch internally use openblas?

[2019-06-19 17:05] SMesser commented on #21777
Um. Maybe? I haven't done hardware GPU acceleration before and am not familiar with the contributors, project, or problem... Are you sure you tagged the person you intended?

[2019-06-19 17:07] SMesser commented on #21777
Also, I'm getting notifications for @smessmer, even though I'm @smesser...

[2019-06-19 17:13] gchanan commented on #19145
@yf225 @pietern ya, this pretty tricky and brittle...

[2019-06-19 17:25] justindomke opened #21971 "Implement covariance_matrix for Independent distributions"
## 🚀 Feature
For distributions created by calling `torch.distributions.Independent`, support `covariance_matrix`

## Motivation

This will make it easier to treat multivariate distributions in a uniform way. Of course, this covariance matrix will just be a diagonal of the variance of (batched) distribution that was used to create the Independent distribution.

## Pitch

I think the implementation

[2019-06-19 17:31] vishwakftw commented on #21956
PyTorch internally uses a flavor of BLAS: MKL, OpenBLAS and so on. The `orthogonal_` initialization uses the QR decomposition internally (which in turn is implemented using `geqrf`, `orgqr` which are LAPACK routines), which is why this issue has popped up.

If you have NumPy installed, could you copy paste the output of `numpy.__config__.show()`?

I ran the script that you have provided and seems

[2019-06-19 17:52] ngimel commented on #19092
From slack conversions, per @ezyang's request

Natalia Gimelshein [2:19 PM]
So I take it there would be no concept of tag.
[code]
Vitaly Fedyunin [8:23 AM]
z is going to be channels_last

Vitaly Fedyunin [8:25 AM]
if x1 is not channels_last in any of proposed variants (unless we change chunk function not to return views), so convolution will convert it to contiguous(channels_first) format and retu

[2019-06-19 17:55] umanwizard opened #21973 "PyTorch should provide CUDA 9.2 binaries."
Currently, the only 9.x series CUDA that we target in our distributed binaries is 9.0.

It would be better to ship a CUDA 9.2 version of PyTorch instead, since, according to Nvidia, it has various bugfixes and improvements.

[2019-06-19 18:02] ezyang commented on #19092
I think the observation I made to @VitalyFedyunin when we chatted about this in-person (but I don't think I remembered to write this down anywhere), is that there is a degree of freedom in convolution, which is that when it gets an argument whose memory layout doesn't match any that it knows how to efficiently implement, which layout should it contiguify to? For BC-reasons, contiguifying to channe

[2019-06-19 18:11] colesbury commented on #21777
Sorry, typo... (I edited the tag)

[2019-06-19 18:22] colesbury commented on #20837
I don't think that's sufficient. CUDA resources also include things like streams, cuBLAS handles, and cuDNN handles.

[2019-06-19 18:35] mahmoodn opened #21976 "About CMAKE_PREFIX_PATH"
I see a lot of topic relate to my problem, but I haven't found a clear answer for that.
I have installed pytorch which can be verified as below

[code]

However, I can not run the dcgan example

[code]

What should  be the additional steps to fix that?

[2019-06-19 18:37] Stonesjtu commented on #20837
Are these different types of CUDA resources managed individually.

[2019-06-19 18:42] h6197627 commented on #18524
Also having this issue with CMake 3.14.5
Confirm that @rjknight workaround with increasing CMAKE_VERSION_THRESHOLD to 3.15.0 works

[2019-06-19 18:55] umichyiwan commented on #21956
Thanks for your response, I am using macbook.

Here is the output:

[code]

[2019-06-19 19:15] MiroFurtado opened #21980 "pip doesn't seem to detect pytorch1.2.0dev on CUDA 10"
## 🐛 Bug

When running a docker container from pytorch/pytorch like pytorch/pytorch:pytorch/pytorch:nightly-devel-cuda10.0-cudnn7, pip does not seem to detect the pytorch binary and will install over it if you try to install any other package.

## To Reproduce

1. Pull the docker image `pytorch/pytorch:pytorch/pytorch:nightly-devel-cuda10.0-cudnn7` and get a shell
2. run `python -c 'import torch;

[2019-06-19 19:20] SsnL commented on #21973
Out of curiosity, I know that we have `magma-cuda92`, which is great and useful for building this binary. But where does it come from? I am not able to find it in pytorch/builder.

I'm asking since I have long been hoping for a `magma-cuda101` (https://github.com/pytorch/pytorch/issues/20103)

[2019-06-19 19:24] soumith commented on #21973
i built it locally and pushed. `magma-cuda101` can happen, i have to build the docker image for CUDA 10.1 which I was lazy to do (so many other backlog binary tasks).
If you push a magma-cuda101 recipe and build the conda binary, i am happy to push it upstream to the pytorch channel

[2019-06-19 19:24] SsnL commented on #18901
I now think that this would be quite confusing (although very handy). So i'm closing this.

[2019-06-19 19:24] #18901 closed

[2019-06-19 19:26] umanwizard commented on #21798
am I missing something, how is this different from the `as_tuple` parameter I added in `nonzero` ?

[code]

[2019-06-19 19:26] yf225 commented on #7844
Starting from https://github.com/pytorch/pytorch/pull/21613, the new behavior we will have in future releases is consistent with this warning, which is that parameters of a model after dtype/device conversion functions such as `.cuda()`/`.cpu()`/`.to()`/`.float()`/`.double()` will be different objects with those before the call (you can enable this new behavior by setting `torch.__future__.set_ove

[2019-06-19 19:26] #7844 closed

[2019-06-19 19:33] fmassa commented on #21798
Yes, the request is just to dispatch to `nonzero(as_tuple=True)` when there is only a single argument to `where`.
This is very common in numpy, and I believe most people use `where` instead of `nonzero`

[2019-06-19 19:37] umanwizard commented on #21798
Ok, I should be able to do this easily

[2019-06-19 19:42] ngimel commented on #19092
So the hazyness of convolution (and other layout-aware operators, for that matter, e.g. upsampling that I've recently looked at starts by calling .contiguous() on the input - so what is it supposed to mean?) was the primary reason for introducing the tag, iirc.

[2019-06-19 19:49] #17028 closed

[2019-06-19 19:53] kostmo commented on #16459
Addressed by @ezyang in #21308

[2019-06-19 19:53] #16459 closed

[2019-06-19 20:04] anjandeepsahni opened #21981 "ReduceLROnPlateau parent class is not _LRScheduler"
## 🐛 Bug

This is based on the discussion here: [forum link](https://discuss.pytorch.org/t/reducelronplateau-parent-class-is-not-lrscheduler/48441)

I was wondering why ReduceLROnPlateau does not have _LRScheduler as parent class. If I want to check if a variable is a learning rate scheduler object type, I could have used:

`isinstance(scheduler, optim.lr_scheduler._LRScheduler)`

Above covers all

[2019-06-19 20:29] SsnL commented on #21981
I did not look into how possible it is to make it a subclass of `_LRScheduler`. If it isn't hard, we could do it.

However, you should never rely on private classes. If any user code is broken by assuming non public API, we may not fix.

[2019-06-19 20:49] RylanSchaeffer opened #21987 "PyTorch Equivalent of Numpy's nanmean (or add exclude_nans to mean/var/other reductions)"
## 🚀 Feature
Numpy has a function, `np.nanmean()`, that excludes NaN values when computing the mean. I'd like

## Motivation
Suppose I want to compute MSE over two vectors, one of which has NaN values. Right now, there's no easy way of doing this.

## Hope
`torch.nanmean(x)` returns the mean of all non-nan values of `x`.

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @anjali411 @mruberry @rgo

[2019-06-19 20:59] RylanSchaeffer opened #21988 "PyTorch Implementation of Michael Jordan’s lab's Perturbed SGD?"
There’s a line of work out of Michael Jordan’s lab regarding perturbed stochastic gradient descent that allegedly has advantages over SGD:

- Gradient Descent Can Take Exponential Time to Escape Saddle Points
- How to Escape Saddle Points Efficiently
- Stochastic Gradient Descent Escapes Saddle Points Efficiently

Is there an implementation of Perturbed SGD in PyTorch as an optimizer? I looked thr

[2019-06-19 21:03] umanwizard commented on #21579
Yep, the doc seems wrong here. @ksanjeevan Thanks for reporting it.

[2019-06-19 21:04] MohamedAliRashad opened #21989 "TypeError: only floating-point types are supported as the default type"
## 🐛 Bug

i can't make my default weights and learning process in `uint8` for testing.

[2019-06-19 21:19] mrshenli commented on #21989
Hi @MohamedAliRashad could you please share some more context, e.g., a minimum repro and the error message?

[2019-06-19 21:21] MohamedAliRashad commented on #21989
![Screenshot from 2019-06-19 23-19-53](https://user-images.githubusercontent.com/26205298/59802133-d8dde700-92e8-11e9-915c-7bbda7465b6b.png)
This the screen i received & i tried to do `.uint8()` on every layer but it gave me another error with the Conv layers.

[2019-06-19 21:28] mrshenli commented on #21988
AFAIK, `optim.SGD` does not support perturbation. @fmassa can you confirm this or is there a simple work around?

[2019-06-19 21:37] umanwizard commented on #21987
I think instead of reproducing the NumPy interface exactly, it would be better if we added a parameter `exclude_nans` to `mean`.

That way, we wouldn't have to add a million new overloads (there are already at least 9 overloads for `mean`).

[2019-06-19 22:04] mrshenli commented on #21980
Hi @yf225, are you familiar with this?

[2019-06-19 22:07] RylanSchaeffer commented on #21987
@umanwizard sounds good to me!

[2019-06-19 22:10] RylanSchaeffer commented on #21988
I think it's be pretty straightforward to modify SGD with a `add_perturbation` parameter of something. PSGD is almost identical to SGD; the only modification is adding i.i.d. Gaussian noise:

![image](https://user-images.githubusercontent.com/8942987/59804790-2dab3e80-92a4-11e9-9892-b3ecaea9a4de.png)

[2019-06-19 22:14] borisfom commented on #20453
Any ETA on this ?

[2019-06-19 22:16] mrshenli commented on #21976
Hi @mahmoodn, have you tried the solutions mentioned in #12449?

[2019-06-19 22:48] mrshenli commented on #21955
Hi @Usmaniatech, can you share the call stack to that error and steps to reproduce?

[2019-06-19 22:51] mrshenli commented on #21955
Same error was reported in #21954

[2019-06-19 22:53] mrshenli commented on #21954
@JunaidRana are you using a pre-trained model?

[2019-06-19 23:00] soumith commented on #21954
please use https://discuss.pytorch.org for questions

this is not a bug report, and the error can be googled for

[2019-06-19 23:00] #21954 closed

[2019-06-19 23:02] soumith commented on #21955
please reopen the issue (or file a new issue) by following our bug-report template (or pick a different template).

There's not enough info in this issue to understand why the problem shows up or what pytorch version and os you are using

[2019-06-19 23:02] #21955 closed

[2019-06-19 23:24] SsnL commented on #21989
This is true, and is by design thus expected behavior. But I do admit that the naming is a bit confusing.

[2019-06-19 23:25] SsnL commented on #21987
ohh the np nan* methods! I certain do wish we have a way to do them in pytorch too!

[2019-06-20 01:07] ezyang commented on #19092
Yeah, so I'm OK with cracking open the tag design again, but then we
have to seriously solve the problems of how to propagate these tags,
even when you lose layout (as would have been the case with chunking
on channels).  I am much more fond of making "current layout" some
sort of context manager, than making it data dependent.

Excerpts from ngimel's message of 2019-06-19 12:43:45 -0700:

[2019-06-20 01:37] syed-ahmed commented on #21731
Do you have a reproducer script/benchmark for this or any details on which kernels are showing the poor performance? I could push a patch based on that and if taking out a lock is the actual issue.

[2019-06-20 02:36] vishwakftw commented on #21956
Outside of conda, can you try setting OPENBLAS_NUM_THREADS=1 and see if the problem still persists?

[2019-06-20 02:47] vishwakftw commented on #21988
I think adding noise to gradients is simple. A simple `apply_` call should be able to iterate through all model parameters and add the noise to the gradients, after which `step` Is called.

I initially proposed adding Noisy SGD, but the proposal was rejected considering its triviality. Ref: https://github.com/pytorch/pytorch/pull/4332

[2019-06-20 02:50] hongzhenwang commented on #1355
meet the same problem. In my case,  the problem arise when I install opencv-python (I have installed opencv3 before). After move opencv-python, the training will not stop.

[2019-06-20 02:53] vishwakftw commented on #21971
cc: @fritzo

[2019-06-20 03:03] soumith commented on #21988
Our general criteria for acceptance:

- The method has to be well-established (we ask people to submit new or low-cited methods to https://github.com/pytorch/contrib )
For example, if you see #13213 above, we reject those at that point of time, as they were fresh off the press
- The method has to match the paper
- The method has to have a consistent and thoughtful interface
   - Sometimes, leaving

[2019-06-20 03:15] Rogerspy commented on #21901
I have the same issue:

- OS (e.g., Linux): 18.04
- How you installed PyTorch (conda, pip, source): source
- Build command you used (if compiling from source): python setup.py install
- Python version: 3.5

[2019-06-20 03:15] RylanSchaeffer commented on #21988
@soumith those seem like reasonable criteria. What determines whether a method is well-established?

I checked and the two earlier papers (excluding the recent 2019 preprint) were published at top-tier venues and have been well cited since:

- Gradient Descent Can Take Exponential Time to Escape Saddle Points was published at NeurIPS in 2017 and has 57 citations
- How to Escape Saddle Points Effic

[2019-06-20 03:19] umichyiwan commented on #21956
still persists...

[2019-06-20 03:25] a819411321 commented on #20315
把你的channel改了就行了

[2019-06-20 03:25] vishwakftw commented on #21988
The first paper, IIRC, is an analysis based paper whichever constructs splines with saddles and shows that GD takes exponential time to escape them.

The second paper proposes the perturbed gradient method. The method itself has a lot of bells and whistles depending on the type of function it is optimizing (Lipschitz constant, Hessian-Lipschitz constant and so on). The noise is not added at every

[2019-06-20 03:34] xyl576807077 opened #22011 "NameError: name 'logging' is not defined"
It seems the *_pytorch_graph.py* don't import *logging* module
[code]

[2019-06-20 03:43] soumith commented on #22011
cc: @lanpa

[2019-06-20 03:45] yongqianxiao commented on #21901
I solved the problem. If you have the same problem, have a look at the answer of @ezyang  [#16602](https://github.com/pytorch/pytorch/issues/16602).

ezyang:  It's failing on a Werror, so if you can somehow force the gtest build to not build with `-Werror` that should also unblock you. So maybe try just deleting` -Werror` from` third_party/googletest/googletest/cmake/internal_utils.cmake` and see

[2019-06-20 03:45] #21901 closed

[2019-06-20 04:36] #21761 closed

[2019-06-20 05:05] vishwakftw commented on #21902
Could you please indicate where the contradiction occurs?

[2019-06-20 05:09] soumith commented on #20402
@mickypaganini thanks a ton for the proposal, and your WIP branch.

I reviewed the overall (new) design using hooks, and focused more around nn.Module rather than tensors themselves. I think this design is less invasive and makes a lot more sense -- because pruning is primarily targeted for weights anyways. It looks great.

I have some bikeshedding points. I think you'd want to place the code in `

[2019-06-20 05:15] soumith commented on #20402
@mickypaganini one thing to keep in mind though is that using forward hooks has it's limitations.
For example, if you want to prune based on post-activation information, it's not very straight-forward to do so.

Example:

[code]

Here, you cannot prune based on the values of `y` using the current interface, you can prune only based on the values of `x`, `conv1.weight` and `conv1.bias` and at best

[2019-06-20 05:30] IngleJaya95 commented on #10234
export LD_LIBRARY_PATH=/usr/local/cuda-9.0/lib64
This helps me.

[2019-06-20 06:13] adodge opened #22013 "Mysterious Tensor Indexing Problem"
## 🐛 Bug

Indexing into a tensor with a 2d list of indices seems to fail sometimes, with a critical point when the number of indices is less than 32.

## To Reproduce

[code]

`n=31` fails with:
[code]

## Expected behavior

I expected this indexing to work the same for any number of indices.  This is problematic in my actual code as the size of the data varies.

## Environment

PyTorch version: 1

[2019-06-20 06:42] zbyte64 commented on #2118
[Searching for class "Lambda" "import torch.nn"](https://github.com/search?q=%22class+Lambda%22+%22import+torch.nn%22&type=Codel) yields 1400 results. This pattern allows for quick use of lambdas in defining a `Sequential` Like:

[code]

[2019-06-20 07:00] syed-ahmed commented on #21731
An initial plan I do have is:
- use AVX2 vector instructions for `at::Philox4_32_10` `mulhilo` function following Yigit Demirag's GSoC work: https://indico.cern.ch/event/442270/contributions/1095737/subcontributions/98020/attachments/1147625/1645951/Yigit_-_GSoC_Final_Presentation_1.pdf and see if it gives comparable single thread performance to at::mt19937
- If the above is successful, then we ca

[2019-06-20 07:05] Usmaniatech commented on #21955
I am running this file
https://github.com/kotogasy/unity-ml-tennis/blob/master/Multi%20Agent%20Deep%20Deterministic%20Policy%20Gradient.ipynb

Instead of

[2019-06-20 07:15] JunaidRana commented on #21954
@mrshenli i am trying to connect unity-mlagents MADDPG example.  I want to start training.

[2019-06-20 07:20] JunaidRana commented on #21955
i also have the same error.
My insllation pkgs are

Torch 0.4.0
tensorflow-gpu 1.7.1
cuda 9.0
cudnn 7.0.5

Torch is connected with CUDA and Tensorflow is also built with cuda.

[2019-06-20 07:58] Usmaniatech commented on #21955
Unityagents support protobuf==3.5.2 and unity mlagents supports protobuf>=3.6,<3.7
I require both unityagents and mlagents. How do I fix this

[2019-06-20 08:15] ChisenZhang commented on #21455
if you have some time, can you help me to analysis this problem?

[2019-06-20 09:43] xwdu opened #22017 "mkldnn_version.h: No such file or directory"
I compiled pytorch under ubuntu18.04, gcc 7.4.0, and I git checkout v1.0.0 before compiling.
After the compiling process begins, I terminated at about 34% with the error:

[code]
So what's wrong with it and how can I solve this problem? Can anyone help me with this issue?

[2019-06-20 09:49] geoffsmith commented on #18143
That workaround didn't work for me because the modules I'm using in the ModuleList take multiple parameters in the forward method. Another workaround that worked for me is to factor the inner loop out to a new function.

[2019-06-20 09:55] Blusea commented on #499
[code]

[2019-06-20 10:03] MohamedAliRashad commented on #21989
@SsnL i want to test the training process and testing with `uint8` data type, how should i do this now ?

[2019-06-20 10:26] nmathew commented on #21956
Try this

import torch.nn as nn
import torch.multiprocessing as mp
import time
def test():
    print("test in")
    layer = nn.Linear(5 * 5 * 64, 64)
    nn.init.orthogonal_(layer.weight.data)
    print("test out")
processes = []

if __name__ == '__main__':
    test()
    for rank in range(0, 1):
        p = mp.Process(target=test)
        p.start()
        processes.append(p)
        time.sleep(0

[2019-06-20 11:15] apaszke commented on #20939
We should deprecate inheriting from `ScriptModule`. It's a very weird API that I often find hard to explain to people (in contrary to the simple `torch.jit.script` annotation).

[2019-06-20 11:29] peterjc123 commented on #22017
Have you tried `git submodule update --init --recursive` after you do `git checkout v1.0.0`?

[2019-06-20 11:32] mahmoodn commented on #21976
If you mean this [idea](https://github.com/pytorch/pytorch/issues/12449#issuecomment-465719560), no. it doesn't work.

[code]

[2019-06-20 11:57] whbjzzwjxq commented on #21989
File "C:\Program Files\JetBrains\PyCharm 2018.2.4\helpers\pydev\pydevd.py", line 1664, in <module>
    main()
  File "C:\Program Files\JetBrains\PyCharm 2018.2.4\helpers\pydev\pydevd.py", line 1658, in main
    globals = debugger.run(setup['file'], None, None, is_module)
  File "C:\Program Files\JetBrains\PyCharm 2018.2.4\helpers\pydev\pydevd.py", line 1068, in run
    pydev_imports.execfile(file,

[2019-06-20 12:12] GeoffreyChen777 commented on #19258
Same here...

[2019-06-20 13:17] fmassa commented on #2118
Reopening given that we reached an agreement in https://github.com/pytorch/pytorch/issues/2118 that we will be implementing this.

Thus, I believe we should add `nn.Flatten` following the semantics of `torch.flatten`.

[2019-06-20 13:42] jhagege commented on #18412
+1 ?

[2019-06-20 13:42] shbnm21 commented on #4343
I am facing different issue with onnx.eport function

x = torch.randn(batch_size, 1, 224, 224, requires_grad=True)

torch_out = torch.onnx._export(torch_model, x,
                               "model1.onnx",
                               export_params=True)

It gives me graph
But when I print torch_out it gives None

And that is causing AtrributError when comparing torch_out with caffe2 model

n

[2019-06-20 13:46] mahmoodn opened #22018 "Builing for a specific SM number"
I would like to install PyTorch from source for a specific sm number. I mean the nvcc options. I don't want to use the default settings which use multiple sm and arch numbers.

As I grep, I also see many such options in the third party packages. Is there any way to force all of them to use my sm number? For example, some thing like `python setup.py -gencode=sm_52 install`

[2019-06-20 14:52] ifedan opened #22022 "nn.modules.functional.h does not support optional arguments"
## 🐛 Bug

FunctionalImpl binds a function one-to-one with its' arguments and does not allow to add new optional arguments. If you add not-optional argument, it will break BC.

## To Reproduce

Steps to reproduce the behavior:

1. I changed signature of avg_pool2d method, added optional argument
2. Got failure:
[code]

## Expected behavior

Should allow to add optional arguments to the function and

[2019-06-20 14:56] mahmoodn commented on #21976
OK I fixed that.

`CMAKE_PREFIX_PATH` should be a folder containing `TorchConfig.cmake` which is `torch/share/cmake/Torch`

mahmood@m2000:build$ cmake -DCMAKE_PREFIX_PATH=/home/mahmood/pytorch/torch/share/cmake/Torch/ ..
-- The C compiler identification is GNU 7.4.0
-- The CXX compiler identification is GNU 7.4.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bi

[2019-06-20 14:56] #21976 closed

[2019-06-20 15:03] isalirezag commented on #19996
I have the same issue.
it disapears when i do `num_workers = 0,` in dataloader though

[2019-06-20 15:54] VitalyFedyunin commented on #21900
By any change you can try with the pytorch 1.1?

[2019-06-20 16:48] dmagee commented on #18837
I'm getting the same issue on a 4xGPU machine. The program from #19540 prints out "CUDA Available! Training on GPU" and then throws that exception above. If you modify the line:

        auto output = torch::nn::parallel::data_parallel(model, data);
to:
        auto output = model->forward(data); // Serial training

It all works fine. I'm using:

Windows 10
Visual Studio 2017
Cuda 10
Latest NVIDIA

[2019-06-20 17:01] nairbv opened #22024 "Consolidate definition of operators/gradients where possible"
In working on #21088, there were cases where code changes needed to be made that were repetitive and could be error-prone. We could probably simplify/merge some of this code.

To modify an operator we need to update:

* Tensor.h, TensorMethods.h, and Type.h for C++ interfaces.
* native_functions.yaml for the primary interface definition used by codegen.
* aten/src/ATen/native/*Ops.cpp for the C++

[2019-06-20 17:09] soumith commented on #22018
Yes. By example:
[code]

[2019-06-20 17:09] #22018 closed

[2019-06-20 17:26] umanwizard commented on #22013
Does `M[torch.tensor(idxes)]` do what you want?

[2019-06-20 17:54] michaelklachko commented on #20402
@soumith

Oh I wish this were true! :)  #18318 refers to only post-training quantization, and only deals with 8 bit precision. That's a good start, but it's trivial compared to all the active research on binary and ternary networks. As you go below 4 bits you start seeing accuracy degradation, inversely proportional to the model size. New papers get posted every week on ways to reduce that degrada

[2019-06-20 18:14] kittipatv commented on #11340
6. would be great for reproducibility.

[2019-06-20 18:37] mahmoodn opened #22032 "max_pool2d_with_indices: internal error"
I get an internal error while running examples/cpp/mnist/

[code]
gcc and nvcc versions are

[code]

[2019-06-20 18:56] mikeseven commented on #18524
confirm the issue with onnx-tensorrt with cmake 3.14.5 is solved with @rjknight solution.
but there are other problems with cmake 3.14+
- in cuda.cmake, adding Modules_CUDA_fix should be commented
- in cuda.cmake, line 120+, when TensorRT is not installed in system path, it oftens doesn't find the library. Solution:
       - define TENSORRT_ROOT system variable: export TENSORRT_ROOT=/path/to/Tenso

[2019-06-20 19:16] #21535 closed

[2019-06-20 19:33] Kipok opened #22035 "Have a different way to check if gradient was computed in the optimizer (not checking for None)"
## 🚀 Feature
The feature I want is to be able to check if the gradient was actually computed or not for a specific parameter in the optimizer, instead of checking if the gradient is None (as done currently).

## Motivation
The motivation in my case comes from trying to implement some code that is doing multi-task learning. On each training iteration I'm getting a batch from a single task and compu

[2019-06-20 20:25] zou3519 opened #22039 "[jit] torch.empty_like is different from eager mode"
TorchScript doesn't seem to recognize that the arguments on empty_like are optional. Examples:

Eager mode:
[code]

JIT:
[code]

cc @suo

[2019-06-20 20:47] SsnL commented on #21589
So, out of curiosity, other than autograd, thrust, and rng functions, what is known to not work on non default streams? What about the most basic use for parallelizing a for-loop, i.e., launching a bunch of small kernels, one on each stream, and then letting the default stream wait on them?

[2019-06-20 20:50] gottbrath commented on #21873
Discussion in bug meeting: This is just in Contrib .. so this shouldn't block forward progress. Go ahead and skip this test.

[2019-06-20 20:57] ngimel commented on #21589
RNG works on non-default streams (as of a few weeks back, when mtgp was nuked and replaced by philox), thrust functions mostly do (I could have missed something in my grepping), magma does not https://github.com/pytorch/pytorch/issues/21821, and backward for anything does not.

[2019-06-20 21:01] SsnL commented on #19508
@syed-ahmed I can't repro on master build now! Thank you so much for fixing this! I'm closing this :)

[2019-06-20 21:01] #19508 closed

[2019-06-20 21:02] SsnL commented on #17898
Neither I on master nor @syed-ahmed on #20626 can reproduce this anymore. So I'm closing it. :)

[2019-06-20 21:02] #17898 closed

[2019-06-20 21:05] mpruthvikumar opened #22040 "SigAbort while running the Caffe2 unit test - thread_init_test - built on Clang7 +glibc 2.23"
## 🐛 Bug
SigAbort while running the Caffe2 unit test - thread_init_test - built on Clang7 +glibc 2.23

## To Reproduce
Run the Caffe2 unit tests
.jenkins/caffe2/test.sh

## Execution dump
[----------] Global test environment tear-down
[==========] 1 test from 1 test case ran. (1 ms total)
[  PASSED  ] 1 test.
+ for test in '$(find "$cpp_test_dir" -executable -type f)'
+ case "$test" in
++ basename

[2019-06-20 21:11] jignparm commented on #21935
Any updates on this? It seems like the PyTorch implementation doesn't match the documentation for Maxpool1d, at least in the expected output shape computation.

[2019-06-20 21:14] mickypaganini commented on #20402
@soumith thanks for the positive feedback!

OK on `prune.ln_structured` instead of `utils.ln_structured_pruning`. I agree.

On your second point, perhaps a naive solution:
[code]
Then, similar to other pruning methods provided so fare, we'd have to implement an activation-based pruning method like `activation_based_pruning(module, name, X, amount)` with `module=net.conv1`, `name='weight'`, `X=<som

[2019-06-20 21:28] SsnL opened #22042 "CI apt-get fetch flaky failure"
[code]
https://circleci.com/gh/pytorch/pytorch/2042118?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-06-20 21:47] adodge commented on #22013
Aha!  Indeed it does.  Thank you!  That's an excellent workaround.

I'm tempted to say this is still a bug.

Indexing by native python lists seems like it should either be equivalent to indexing by a tensor or completely disallowed.  Or, at the very least, the error message should mention something about indexing by native python lists being unsupported.

[2019-06-20 21:57] mrshenli commented on #21945
If you build PyTorch with MKLDNN [enabled](https://github.com/pytorch/pytorch/blob/0408697317de6146ed9e5445faaeab49828310b1/setup.py#L45), you can then create MKLDNN tensors by `tensor.to_mkldnn()`. And, operations like [linear](https://github.com/pytorch/pytorch/blob/0408697317de6146ed9e5445faaeab49828310b1/aten/src/ATen/native/Linear.cpp#L15) would automatically use mkldnn.

I am closing this is

[2019-06-20 21:57] #21945 closed

[2019-06-20 21:59] mrshenli commented on #22042
CC @yf225

[2019-06-20 22:10] mrshenli commented on #22032
@skrah is this a case that `DilatedMaxPool2d.cu` did not cover? Or maybe a bug in mnist example?

[2019-06-20 22:11] yf225 commented on #22042
from @ezyang: "I'm not sure there is anything we can do besides wait for security.ubuntu.com to fix their thing"

[2019-06-20 22:18] #22042 closed

[2019-06-20 22:31] gailweiss commented on #3931
similarly - could we have an option to return just the very last state? Getting all of them on long sequences when I just want the last - e.g. when preparing for truncated backprop - blows up the memory for no reason

[2019-06-20 22:49] jaglinux commented on #21873
Sure, Thanks.

[2019-06-20 22:49] #21873 closed

[2019-06-20 23:06] fuzihaofzh opened #22049 "Cannot update part of the parameters in DistributedDataParallel."
## 🐛 Bug

When I use multiple GPU while the loss is calculated by only part of the parameters. I get the following errors. Use only one GPU works well.

## To Reproduce

Steps to reproduce the behavior:

Define a network in which the loss only depends on part of the parameters. We get:

RuntimeError: Expected to have finished reduction in the prior iteration before starting a
 new one. This error

[2019-06-20 23:28] Moondra opened #22050 "RuntimeError: cuDNN error: CUDNN_STATUS_INTERNAL_ERROR in 1.1.0"
I am currently using Windows 7, Pytorch version 1.1.0,
It seems from what I have read this error should have been fixed
in 1.1.0?

Here is the environment:

Collecting environment information...
PyTorch version: 1.1.0
Is debug build: No
CUDA used to build PyTorch: 9.0

OS: Microsoft Windows 7 Professional
GCC version: (tdm64-1) 5.1.0

CMake version: version 3.7.0-rc1

Python version: 3.6
Is CUDA a

[2019-06-20 23:49] syed-ahmed commented on #11340
Update:
~1. Document torch.Generator better, e.g., it's only CPU RNG, examples, ctor, etc.~
    - documentation added in https://pytorch.org/docs/master/torch.html#generators
~2. Provide CUDA equivalent of torch.Generator.~
    - cuda generators can now be created with `torch.Generator(device='cuda')`
~3. Provide better transformation between Generator and rng_state.~
    - `torch.Generator` is no

[2019-06-20 23:53] syed-ahmed commented on #17079
torch.Generator() is now documented here: https://pytorch.org/docs/master/torch.html#generators and should behave like numpy `RandomState` now. Following is an example usage. @petered Please feel free to document here if there is something we have missed, otherwise we can close this issue.

[code]

[2019-06-21 00:00] syed-ahmed commented on #15867
Update:
After my PR, the reproducer script now says the following:
[code]
which I think is the correct behavior as `torch.manual_seed` is returning a CPU generator and it is being fed to a cuda function. Whether `torch.manual_seed` should return a CPU generator is a different issue.

[2019-06-21 00:10] peteroconnor-bc commented on #17079
Nice!

[2019-06-21 01:07] SsnL opened #22052 "CI failure points to nonexistent code..."
This has to be the weirdest CI failure I have seen. On #22043 , a PR filed today, one of the CI test run fails with
[code]

The PR doesn't touch this line. And this line of code printed in error trace
[code]
does not even match what the line is on master, which is
https://github.com/pytorch/pytorch/blob/d4119f8fcbde15569b8f2993973439f2961ea22a/torch/nn/utils/clip_grad.py#L35
and is 2 years old.
Th

[2019-06-21 01:10] wyessen commented on #13110
Bump? Has been more than six months, I'm now hitting this issue too.

[2019-06-21 01:24] wanchaol commented on #21478
@jamarshon I tried the `torch.stft`, it does work for torchscript:

[code]

[code]
Can you help providing a minimal example that is not working?

[2019-06-21 01:45] SsnL commented on #11340
@syed-ahmed Thanks so much for working on this.

Yes, I meant those functions. Most of them sample from gaussian or uniform.

This is true for the random sampling **functions**, but not the `torch.distributions.*` classes.  cc @fritzo on this.

[2019-06-21 01:46] SsnL commented on #11340
@syed-ahmed I've changed the description of this issue into a checklist to track your progress! Thanks again!

[2019-06-21 01:51] xkszltl opened #22053 "MSVC Warning C4834 in ATen"
## Bug

Got this warning when used caffe2 in our application.

[code]

![image](https://user-images.githubusercontent.com/5203025/59891972-1e072500-938c-11e9-9d04-3cbb8f13c898.png)

## Environment

 - PyTorch Version (e.g., 1.0): master
 - OS (e.g., Linux): Win10
 - How you installed PyTorch (`conda`, `pip`, source): source
 - Build command you used (if compiling from source): vs2017

[2019-06-21 01:54] #18744 closed

[2019-06-21 01:54] chennian32 commented on #21894
Does anybody handle this issue?

[2019-06-21 02:33] umanwizard commented on #21579
Landed a fix to the docs. Closing this out.

[2019-06-21 02:33] #21579 closed

[2019-06-21 02:33] ezyang commented on #22052
The usual explanation is that somewhere, somehow in our CI, we installed
another copy of PyTorch (the last time this happened, it was because of
the torchvision install).

Excerpts from Tongzhou Wang's message of 2019-06-20 18:08:56 -0700:

[2019-06-21 02:43] SsnL commented on #22052
@ezyang I had thought about that possibility. Yet none of the commits that touched that file has a line similar to the one in the trace. So I doubt it comes from an accidentally installed release.

[2019-06-21 02:55] umanwizard commented on #22013
In particular it does seem that we should have the same behavior regardless of whether the list has more or fewer than 32 elements.

But I don't know the exact PyTorch indexing rules -- will discuss with the rest of the team and update this issue accordingly.

[2019-06-21 03:07] #17909 closed

[2019-06-21 03:12] Chillee commented on #22039
I think I can fix this - it's probably not an issue with `empty_like` in particular, but with all optional arguments. https://github.com/pytorch/pytorch/pull/22055 fixes one case of this.

[2019-06-21 03:27] SsnL commented on #18096
closed via #19228

[2019-06-21 03:27] #18096 closed

[2019-06-21 03:27] SsnL commented on #19946
closed via #19228

[2019-06-21 03:27] #19946 closed

[2019-06-21 03:35] xiaoxiaotao commented on #20805
I use the faceboxes(https://github.com/XiaXuehai/faceboxes.git).when I use pyttorch c++ api,the inference result is not the python.I use this way to fix.
1.original make model ways:
`torch.save(net.state_dict(),'weight/faceboxes.pt')
net.load_state_dict(torch.load('weight/faceboxes.pt', map_location=lambda storage, loc:storage), strict=False)
traced_script_module = torch.jit.trace(net.cuda(), im_t

[2019-06-21 05:07] shayan09 commented on #14219
It has to do with the .pt file generated by PyTorch. On installing the latest nightly version and torchvision from the PyTorch website, it worked for me.

pip install torch_nightly -f https://download.pytorch.org/whl/nightly/cu90/torch_nightly.html
pip install torchvision
wget https://download.pytorch.org/libtorch/nightly/cpu/libtorch-shared-with-deps-latest.zip

I am using C++11 standard and gcc

[2019-06-21 06:01] gamerDecathlete opened #22060 "ExpTransform log_abs_det_jacobian, is it correct?"
## ❓ Questions and Help

I was going through the implementation for the Transform functions, and I don't think the log absolute determinant of the jacobin of the "ExpTransform" is correct:

def log_abs_det_jacobian(self, x, y):
        return x

presumably, x is input and y is the output, but just kind of quickly doing some calculations, I think there should be a sum operation over the last dimens

[2019-06-21 06:50] xuhdev commented on #21907
I don't think it would download anything if all dependencies are met.

[2019-06-21 07:02] xuhdev commented on #22053
Does #22061 fix the issue for you?

[2019-06-21 07:02] ashuvishnoi commented on #566
Thanks buddy!

[2019-06-21 07:13] krshrimali commented on #22032
I seem to have this same problem. Here is the call stack:

[code]

A few days back, everything seemed to work though. Not sure what changed?

[2019-06-21 07:27] gcanonaco commented on #21900
Sorry, right now I can't. If you need something else maybe I can help you.

[2019-06-21 07:33] #21967 closed

[2019-06-21 08:08] skrah commented on #22032
The situation in `ATen/native` is that most code assumes that a complete `IntArrayRef` is passed.

"Complete" means that even if a Python function is called with `padding=1`, the C++ function gets an `IntArrayRef` of size 2 with the single integer repeated.

This works for most files in `Aten/native`, which do not even check for a single integer.

`DilatedMaxPool2d.cu` already works around a coupl

[2019-06-21 08:28] xkszltl commented on #22053
Thanks.
Looks like it will. I can have a try tomorrow.

[2019-06-21 08:31] garimss opened #22063 "from caffe2.python import core WARNING:root:This caffe2 python run does not have GPU support. Will run in CPU only mode. CRITICAL:root:Cannot load caffe2.python. Error: No module named caffe2_pybind11_state"
I have installed caffe2 from these instructions

https://caffe2.ai/docs/getting-started.html?platform=windows&configuration=compile

I m getting this error, please suggest how to come over this.
**from caffe2.python import core**
WARNING:root:This caffe2 python run does not have GPU support. Will run in CPU only mode.
CRITICAL:root:Cannot load caffe2.python. Error: No module named caffe2_pybind11_

[2019-06-21 08:51] mahmoodn commented on #22032
This one
https://github.com/pytorch/examples/tree/master/cpp/mnist

[2019-06-21 09:02] skrah commented on #22032
Thanks! The signature suggests that `kernel_size` needs to be passed in full (`IntArrayRef` of size 2):

[code]

But the example code passes an integer, which translates to an `IntArrayRef` of size 1:

https://github.com/pytorch/examples/blob/1de2ff9338bacaaffa123d03ce53d7522d5dcc2e/cpp/mnist/mnist.cpp#L40

So it looks that prior to the `DilatedMaxPool2d` port a single `kernel_size` integer got ex

[2019-06-21 09:20] skrah commented on #22032
The Python `MaxPool2d()` docs allow a single int for `kernel_size`, so the C++ API should, too.

[2019-06-21 09:20] pietern commented on #22049
Did you try the instructions in the error message?

[2019-06-21 09:24] pietern commented on #21640
This wouldn't allreduce them together (as is the case for the multi device one) but rather concatenate them and allreduce them in a single call, as opposed to N separate calls. We can call this `allreduce_coalesced`, similar to the existing `broadcast_coalesced`.

[2019-06-21 09:25] pietern commented on #21415
@slayton58 Does this work for you?

[2019-06-21 09:45] yil8 opened #22066 "torch.onnx._export does not support tensor sum with multiple dims"
## 🐛 Bug

## To Reproduce
[code]
Error message
[code]

## Environment
 - PyTorch Version : 1.0.1.post2
 - OS: Ubuntu 18.04.2 LTS
 - How you installed PyTorch : pip install torch
 - Python version: 3.6.7
 - CUDA/cuDNN version: 10.1/7.5
 - GPU models and configuration: NVIDIA 1080Ti

[2019-06-21 09:49] peterjc123 commented on #22063
Since the build process is successful, the problem is likely to be on installation. Have you tried https://caffe2.ai/docs/getting-started.html?platform=windows&configuration=compile#null__python-configuration?

[2019-06-21 10:03] SaschaStenger opened #22067 "pytorch 1.1 on Anaconda"
## 📚 Documentation

Regarding the installation info in the
[https://pytorch.org/get-started/locally/#anaconda]( https://pytorch.org/get-started/locally/#anaconda )
The version of pytorch, that is supposed to install with the given command:
`conda install pytorch torchvision cudatoolkit=10.0 -c pytorch`
is supposed to be pytorch 1.1, but it does install 1.0

[2019-06-21 10:07] fuzihaofzh commented on #22049
The instruction there just give a way to find which variable is not included. However, Since I want to train the first part of the net first. I intend not the update the parameters for the second net.

[2019-06-21 10:08] chinafei opened #22068 "thrift with libtorch will generate Segmentation fault"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.if program use thrift and  dependent on libtorch ,it will generate segmentation fault ,event no code with libtorch in program.
2. if CMakeList like :
   target_link_libraries(demo_server ${TORCH_LIBRARIES} thrift).
 Program will generate segmentation fault.
But if CMakeList like this:
   target_link_libraries(demo_server  thrift).
 Pro

[2019-06-21 10:37] walton-wang929 commented on #19969
@vusraju can you paste your codes here?

[2019-06-21 10:49] garimss commented on #22063
There is no such file in root or any sub folder.

On Fri, Jun 21, 2019, 5:50 PM peterjc123 <notifications@github.com> wrote:

[2019-06-21 10:50] arijit17 opened #22069 "issue with ONNX and PyTorch"
Hi all:

I'm getting this error:
[code]

Any idea how to get around it?

I'm using:
Python 3.5.2
Pytorch '1.0.1.post2'
Ubuntu 16.04.2