[2020-09-16 20:32] glaringlee commented on #37756
Just FYI. This is available in the master branch already. #44333
We are working on turning on the parity test at the moment

[2020-09-16 20:33] ezyang opened #44817 "ComplexHelper.h contains non-inline functions"
This happens to work out right now because there is only one cpp file that includes them, but it will break when we have a second include. To fix, move the functions into a cpp file.

[2020-09-16 20:45] vkuzo commented on #44802
I see, thanks, makes sense.  The use case we are working with is hitting this because a custom child of `nn.BatchNorm is calling `super().forward(x)`:

[code]

since we chatted offline that we can likely remove the `x.numel() > 0` check, this behavior can be deleted as well.  I'll follow up on this specific case.

[2020-09-16 20:53] hetulsanghvi opened #44822 "ONNX export failed on ATen operator rfft because torch.onnx.symbolic_opset9.rfft does not exist"
## 🐛 Bug

ONNX Export doesn't support Real FFT

## To Reproduce

Run the following code
[code]

## Expected behavior

I would expect FFT to be supported in ONNX Export.

## Environment

Collecting environment information...
PyTorch version: 1.2.0
Is debug build: False
CUDA used to build PyTorch: 10.0.130
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.5 LTS (x86_64)
GCC version: (Ubuntu 7.5.0-3u

[2020-09-16 20:56] #43141 closed

[2020-09-16 20:56] mruberry commented on #29209
How significant is the performance gap? PyTorch doesn't typically support array_likes, so I would expect us to only support the first (N, D) array option.

You could start by only supporting a single integer (bins for all dimensions).

You could start by putting range in the signature but not supporting values other than None.

Agreed. You could also not implement this to start.

The return type s

[2020-09-16 21:08] #43649 closed

[2020-09-16 21:19] francois-a commented on #31546
It would be very useful to have this feature, potentially as an option. Also for `torch.inverse`.

[2020-09-16 21:29] pritamdamania87 opened #44827 "Pipeline Parallelism in PyTorch"
# Introduction

As machine learning models continue to grow in size (ex: OpenAI GPT-2 with 1.5B parameters, OpenAI GPT-3 with 175B parameters), traditional [Distributed DataParallel](https://pytorch.org/docs/stable/notes/ddp.html) (DDP) training no longer scales as these models don’t fit on a single GPU device. As a result, we need to leverage some sort of model parallelism techniques to train suc

[2020-09-16 21:35] FTD007 opened #44828 "no kernel image is available for execution on the device"
runned on
pytorch 1.4
cuda 10.1
tesla K80

I thought K80 is 3.7 already but still get this error

error message:

THCudaCheck FAIL file=/pytorch/aten/src/ATen/native/cuda/Dropout.cu line=147 error=209 : no kernel image is available for execution on the device
Traceback (most recent call last):
  File "/dartfs-hpc/rc/home/w/f00355w/.conda/envs/tape/bin/tape-train-distributed", line 8, in <module>

[2020-09-16 21:41] #43530 closed

[2020-09-16 21:41] ParthPatel-ES opened #44829 "max_pool2d() missing 1 required positional argument: 'input'"
## 🐛 Bug

I am trying to quantize a salient object detection model.
Originally, my ResNet class would look like:

[code]
[code]

And it works just fine. But if I replace everything with quantized functions like:

[code]
`TypeError: max_pool2d() missing 1 required positional argument: 'input'`

So, I think the problem is in torch.nn.MaxPool2d does not need any input argument but torch.nn.quantized.

[2020-09-16 21:46] Tahmid1406 commented on #21819
I also had the same problem. But if i run the whole code in one cell, then there's no error. The error only appears if I split the codes in different cells of jypyter notebook.

[2020-09-16 21:50] SsnL commented on #43502
@VitalyFedyunin  I don't know what this issue is trying to achieve. I strongly advise against unconditionally printing out the traces from workers on SIGINT. Most of the time when you SIGINT, you ***are not*** investigating stuck data set code. It is unreasonable to have main process tracebacks overwhelmed by a trace from every single worker, often interleaved together, and often with tens or even

[2020-09-16 21:56] jeffdaily commented on #35901
@david-macleod would it be possible for you to try PR #44742 with your workload?  We're looking for 1) it fixes your OOM issue, and 2) no performance regression is measured.

[2020-09-16 22:05] yingsiq commented on #27212
+1

[2020-09-16 22:42] #33309 closed

[2020-09-16 22:46] spandantiwari commented on #43051
I am seeing the names for the ONNX nodes that were created.
[code]
`Conv_0` and `Conv_1` are the ONNX node names. I am not sure where the names `Apple` and `banana` must come from given that in the PyTorch code you have in the link above, they are part of the Python variable names.

This is the design and not a bug. You can use ONNX APIs to set the node names in the ONNX graph.

[2020-09-16 22:50] yingsiq opened #44841 "Exporting the pytorch grid_sample operator to ONNX opset version 9 is not supported"
## ❓ Questions and Help

I tried to convert a PyTorch model that has a grid_sample operation to ONNX but it was not supported.
I'm using PyTorch version 1.6.0. Please help add support!

Issue was also described but not resolved in:
https://github.com/onnx/onnx/issues/883
https://github.com/pytorch/pytorch/issues/27212
https://github.com/onnx/onnx/issues/2383
https://github.com/microsoft/onnxruntim

[2020-09-16 22:54] jamesr66a opened #44842 "[JIT] get_jit_def breaks with continued string literals"
[code]

[code]

cc @gmagogsfm

[2020-09-16 22:56] walterddr commented on #42969
reopen because of partial diff

[2020-09-16 23:23] #43577 closed

[2020-09-16 23:32] kyoungrok0517 commented on #44787
The original code is here:

https://github.com/stanford-futuredata/ColBERT

[2020-09-16 23:50] pritamdamania87 commented on #43536
@wakandan Could you share the code for `regression_train.py`? We can't reproduce the issue with the commands you provided without that.

[2020-09-16 23:55] vkuzo opened #44849 "fx: assertions based on tensor shapes are not symbolically traceable"
This currently fails:

[code]

Is this something we'd consider special casing and supporting in the future?

[2020-09-17 00:01] vkuzo opened #44850 "fx: python primitives on tensor shapes is not symbolically traceable"
Logic which uses primitives such as 'float', etc. on incoming shape dimensions is currently not traceable:

[code]

Similar errors occur for other primitives, such as int(Proxy), sqrt(Proxy), etc.

Is this something which we plan to support in the future / what would be a good recommendation to customers to refactor this logic to be traceable?

[2020-09-17 00:05] vkuzo opened #44851 "fx: Python range function using proxied tensor dimensions is not traceable"
Some models use tensor shapes with the `range` function.  Currently this is not symbolically traceable:

[code]

Thoughts on if this should be added to FX or if we need a workaround?

[2020-09-17 00:16] sidml commented on #42078
In my case using `pip install torchvision==0.7.0` instead of `torchvision==0.7.0+cpu` solved the error.

[2020-09-17 00:23] pritamdamania87 commented on #44544
Unfortunately for gloo it seems like we just pick random ports for the client and there is no way to configure this currently. NCCL seems to be doing the same based on the logs you pasted (`srs-ds8:192240:192316 [0] include/socket.h:390 NCCL WARN Connect to 10.81.13.54<34419> failed : No route to host
`). I couldn't find a way to configure this for NCCL, maybe you can create a gh issue in https://

[2020-09-17 00:24] jamesr66a commented on #44851
This should be rewritten as

[code]

Not even for symbolic tracing, but for performance and stylistic reasons

[2020-09-17 00:27] vkuzo commented on #44851
makes sense, my fault for not using the best initial example.  The real model code is as follows:

[code]

[2020-09-17 00:28] pritamdamania87 commented on #44771
I'm guessing passing an RRef like this would work, but at any point if we try to inspect the RRef (using `.to_here()` or `.local_value()), this would throw a timed-out exception? If this is the case today, I think the behavior is fine since RRef is like a Future in some sense where it is pointing to value that might not have materialized yet.

[2020-09-17 00:28] jamesr66a commented on #44850
What's the intent here? `float(1.0 / c)` seems redundant, the expression `1.0 / c` is already the result of a true division, I don't know what the cast is supposed to be for

This could just be written as
[code]

[2020-09-17 00:31] raghuramank100 opened #44852 "Support for quantized maxpool 1d"
Support for maxpooling is restricted to maxpool 2d.  It will be great to have support for maxpool1d so that users need not dequantize tensors when this operator is used in their models.

cc @heitorschueroff @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a @vkuzo

[2020-09-17 00:32] jamesr66a commented on #44849
The issue here is that in Python, an `assert` statement is just syntactic sugar. The statement `assert x, msg` lowers to:
[code]

This can be confirmed by:
[code]

[code]

So in the case of the example, the result of the expression `x.shape == y.shape` is indeed being used as the condition of an `if` statement and thus control flow

I'm not sure if there's much we can do here apart from the user r

[2020-09-17 00:32] vkuzo commented on #44850
Here are some harder examples:

[code]

[2020-09-17 00:37] vkuzo commented on #44849
thanks for the explanation, sounds reasonable.  `torch.assert` or some variant with special handling in fx thereof sounds good if users are adamant about keeping these - will check.

[2020-09-17 01:31] Crescentz opened #44855 "RuntimeError: Caught RuntimeError in replica 1 on device 1."
## 🐛 Bug

version 1.4 OK, 1.6 Bug
mutil-GPU  torch.nn.DataParallel(model)
======================================

Traceback (most recent call last):
  File "/home/zy/CODE/bishe/glyce/glyce/bin/run_bert_glyce_classifier.py", line 421, in <module>
    main()
  File "/home/zy/CODE/bishe/glyce/glyce/bin/run_bert_glyce_classifier.py", line 412, in main
    train(model, optimizer, train_loader, dev_load

[2020-09-17 01:41] jamesr66a commented on #44850
Hmm I thought we added support for `math.sqrt` at some point, let me look into it

[2020-09-17 01:45] jamesr66a commented on #44850
Oh I don't think we did actually. There are a couple workarounds:

1) Rewrite expression `math.sqrt(x)` as `x ** 0.5`
2) Rewrite expression `math.sqrt(x)` as `torch.sqrt(x)`
3) We figure out how to get `__torch_function__` working on things like `math.sqrt`. @zdevito I think you looked into this when I was doing the BERT example

[2020-09-17 02:00] vkuzo commented on #44850
great, thanks, the workarounds should work for `sqrt`!

any suggestions for `float(C)`, which also occurs in some user models?  Agreed that `float(1/C)` can be refactored away.

[2020-09-17 02:18] mszhanyi commented on #44549
@NahianAlindo , Has this issue still existed?

[2020-09-17 02:24] mszhanyi commented on #44470
@adampauls , thank you raising and taking care of this issue. I'll assign the owner to you

[2020-09-17 02:31] chenbohua3 commented on #44768
After some further experiments, I found there may be some bugs of JIT.

For a function:
[code]
we can get graph like:
[code]
but if we use decorator
[code]
the graph becomes:
[code]

It seems that when use decorator, JIT does not parse `no_grad()`, although this function is exported to torchscript 'successfully'.

BTW, The decorator use was not supported according to this PR: https://github.com/py

[2020-09-17 02:47] mszhanyi commented on #42115
@CaoZhongZ , thank you fixing this issue very much. I'm assign the owner to you.

[2020-09-17 02:49] mszhanyi commented on #44614
@xkszltl  could this issue be closed?

[2020-09-17 02:55] mszhanyi commented on #44283
@maxluk @GuoxiaWang , What's your opinion whether to take it as a new feature in the next stage?

[2020-09-17 02:57] mszhanyi commented on #42939
@peterjc123 , thank your fix to this issue, I'm assign the owner to you

[2020-09-17 03:01] tgsmdww opened #44858 "floor_divide has wrong result"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]
The result is
[code]

Use numpy:
`np.floor_divide(-1,2)`
and the result is `-1`

## Expected behavior
![image](https://user-images.githubusercontent.com/17045617/93416703-e366a200-f8d8-11ea-805e-d21b1573c2c1.png)
[code]

## Environment

Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: Mic

[2020-09-17 03:43] mszhanyi commented on #44363
Duplicate of #32516

[2020-09-17 03:47] mruberry commented on #44858
You are correct and we are fixing this. This issue is a dupe of https://github.com/pytorch/pytorch/issues/43874.

Thank you for reporting this, @tgsmdww.

[2020-09-17 03:47] #44858 closed

[2020-09-17 03:49] mruberry commented on #44855
Hey @Crescentz, can you provide a brief script reproducing this issue?

[2020-09-17 03:50] mruberry commented on #44787
This issue seems more appropriate for the PyTorch Lightning github: https://github.com/PyTorchLightning/pytorch-lightning. PyTorch Lightning is a separate project.

[2020-09-17 03:50] #44787 closed

[2020-09-17 04:01] mruberry commented on #44792
Thanks for reporting this issue, @ivkireev86. We just updated our determinism documentation (see https://pytorch.org/docs/master/generated/torch.set_deterministic.html#torch.set_deterministic). It mentions EmbeddingBag but not the Embedding module.

cc @kurtamohler

[2020-09-17 04:02] mruberry commented on #44785
Sorry you're hitting this issue, @yang-gis. Caffe2 is no longer supported, but you may find help on our forum at https://discuss.pytorch.org/.

[2020-09-17 04:02] #44785 closed

[2020-09-17 04:04] ngimel commented on #44784
cc @ilia-cher

[2020-09-17 04:05] mruberry commented on #44777
Thanks for the suggestion, @farahmand-m. This has been mentioned before, but you're right that it could be tricky to implement correctly (and performantly).

[2020-09-17 04:06] mruberry commented on #44776
You can acquire a module's parameters and buffers by querying for them, which may be what you want. This question is more appropriate for our forums, however. Try asking there.

[2020-09-17 04:06] #44776 closed

[2020-09-17 04:51] kaushal-py commented on #19003
The bug exists in pytorch 1.6 as well.

[2020-09-17 04:53] mruberry commented on #20464
Closing since we now have gelu.

[2020-09-17 04:53] #20464 closed

[2020-09-17 04:55] ngimel commented on #44792
High priority for silent wrong results.

[2020-09-17 05:14] kurtamohler commented on #15359
I believe we can close this issue now since the flag API exists and is well documented.

[2020-09-17 05:14] #15359 closed

[2020-09-17 05:19] ngimel commented on #44792
This bug existed forever and was inherited from the old code #4322

[2020-09-17 05:39] mruberry commented on #27311
This appears to have been removed.

[2020-09-17 05:39] #27311 closed

[2020-09-17 05:40] t-vi commented on #15359
@kurtamohler Awesome work. Thank you.

[2020-09-17 06:01] CoinCheung commented on #15359
Does it mean that, we could use `torch.manual_seed(111)` to set everything deterministic, including the `interpolation` operation ?

[2020-09-17 06:10] t-vi commented on #15359
No. Take a look at the [Reproducibility / Randomness](https://pytorch.org/docs/master/notes/randomness.html#avoiding-nondeterministic-algorithms) note.
So far, we have infrastructure, marked the known sources on non-determinism and greatly improved documentation so you can know what's going on.
If you hit non-deterministic operations, you're still out of luck, but now it is more reasonable to work

[2020-09-17 06:27] #33394 closed

[2020-09-17 06:59] ppwwyyxx opened #44864 "[JIT] treat `assert not torch.jit.is_scripting()` statically"
## 🚀 Feature
JIT should treat `assert not torch.jit.is_scripting()` statically (like how it treats `if is_scripting()` and ignore what's after the assertion in a basicblock.

## Motivation

Having more ways to let torchscript ignore code sections will in general make it easier to migrate code to partially support torchscript.

## Pitch
Currently, this is scriptable:
[code]
but this fails:
[code]

[2020-09-17 07:09] liuxz-cs opened #44866 "The index overflow when running function 'multinomial'"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

When I use the function multinomial to get the result, the result overflows, and get

[2020-09-17 07:16] quasimik commented on #13447
I wanted to `gather` a `Dict` which has different types on every key. One of the types is a `List[List[Tensor]]`. I wanted to keep these tensors as separate elements of the list, as the tensors are not on the dimension split by `scatter` and are not rectangular when combined. I additionally also wanted to transfer all the tensors to the target device, regardless of where they are in this nested st

[2020-09-17 07:18] liuxz-cs opened #44867 "A error about cuda runtime error(59)"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

I run my code, and I did not get the error before, I have got the problem recently,

[2020-09-17 07:22] yeyupiaoling commented on #32893
@zihaozhang9 请问你是如何解决这个问题的，我的机器也出现了这个问题。
[code]

错误信息：
[code]

[2020-09-17 07:43] #43511 closed

[2020-09-17 07:58] gmagogsfm commented on #43125
Slice support has been added, please give it a try and let me know if anything is still missing.

[2020-09-17 07:59] gmagogsfm commented on #43511
Slice support has been added. Could you sync to HEAD and try again?

[2020-09-17 08:03] dragen1860 commented on #22906
The most embarassing is :
1. When set `align_corners=False`, you can normally export to ONNX and converted to CoreML, but you can not get consistent result since Coreml use 'align_corner=True' internally.
2. When set `align_corners=True` and `opset_version=11`, you usually can struggle to export to ONNX, but you can not convert to CoreML.

[2020-09-17 08:08] CedricPicron opened #44869 "Incorrect processing of autograd profiler outputs in torch.utils.bottleneck"
## 🐛 Bug
The incorrect processing relates to https://github.com/pytorch/pytorch/blob/b6f4bb0a703d6c33bedf3c7f4551954a8015fcb9/torch/utils/bottleneck/__main__.py#L119.
For simplicity, here's a copy of the code
[code]
1. Here `topk_events = sorted_events[:topk]` followed by  `'output': torch.autograd.profiler.build_table(topk_events)` is incorrect. The table is built by using only the `topk_events`

[2020-09-17 08:26] GiovanniPasq opened #44871 "module 'torch.nn' has no attribute 'Unflatten'"
## ❓ Questions and Help
Hello, i'm using the latest version of PyTorch (1.6.0) and i need to use one of them:
1) torch.nn.Unflatten (Python class, in Unflatten)
2) torch.Tensor.unflatten (Python method, in Named Tensors)

However, when i try to use the the example code i have these respectively errors:
1) module 'torch.nn' has no attribute 'Unflatten'
2) zip argument #1 must support iteration

I f

[2020-09-17 08:37] Stick-To commented on #44776
![1](https://user-images.githubusercontent.com/34546552/93446648-078ba880-f904-11ea-83eb-7aa1eef50455.png)
I want to get some information like this
@mruberry

[2020-09-17 08:47] navid-mahmoudian opened #44872 "Problem with narrowed tensor and torch.save()"
## 🐛 Bug

I noticed that when torch.save() is used on a narrowed version of a tensor, it saves the whole tensor (original tensor), but when using torch.load() it returns the narrowed tensor. To me, this looks like a bug because it saves something more than what it is intended, and we are not able to recover this redundant info. For that, I wrote a simple example, and you can check the output to se

[2020-09-17 09:12] liu-jc commented on #41128
Thanks for your sharing. I used torch-sparse as well, which perfectly solves the problem. Sorry for not updating here. I'd like to know whether there is any plan to support sparse gradients naturally in Pytorch? I think it should be an important feature as many applications/research relies on sparse tensors.

[2020-09-17 09:20] kamo-naoyuki opened #44873 "Segmentation fault using DataParallel without inputs"
## 🐛 Bug

Got segmentation fault.

## To Reproduce

[code]

## Environment

[code]

[2020-09-17 10:10] pearu commented on #31546
I think raising an error when the system is singular is a better approach than returning nans. In the latter case, one would always need to check if the solution contains nans before proceeding. If this check is skipped, the nans will propagate till the end of the user program and it makes for a user to find where the nans originate, difficult. The early exception is better than late.

I suggest t

[2020-09-17 10:25] ducha-aiki commented on #31546
@pearu if you divide by zero, you get NaNs, not crashing. Why solving linear eq. should be different?

[2020-09-17 10:33] hlahkar commented on #44768
Hi @chenbohua3 ,

I analyzed this issue and found that this is currently not supported. Details can be found in jit_unsupported.rst.You can use torch.jit.trace as a workaround

PyTorch Unsupported Modules and Classes
------------------------------------------

TorchScript cannot currently compile a number of other commonly used PyTorch
constructs. Below are listed the modules that TorchScript does

[2020-09-17 10:33] vadimkantorov commented on #43125
Is `Tensor 0` notation also fixed?

[2020-09-17 10:40] pearu commented on #31546
@ducha-aiki, division by zero is not the situation that most user programs would consider normal, and it is better to stop the program there where any abnormality occurs the first time.

The normal behavior of solving the linear equation is to return a solution of the linear system. If the output of `solve` contains NaNs, then it is not a solution: `a*nan == b` is never true. Hence, the `solve` ca

[2020-09-17 10:51] hlahkar commented on #44842
@jamesr66a

Is it because of the String Dedentation?

[2020-09-17 10:51] Tikquuss commented on #8304
Here are some functions that can help you.
[code]
Illustration
[code]

[2020-09-17 10:54] ducha-aiki commented on #31546
Yet, no even warning.

![image](https://user-images.githubusercontent.com/4803565/93461186-b3bd9700-f8e4-11ea-8ce7-30efa8ff354f.png)

And that is I consider normal - because for learned system zeros CAN occur. The same is for linear eq. solving - I need warning and filtering, not the entire crash.
Moreover - OpenCV some does not consider it as a crash either.

[2020-09-17 10:54] mountain commented on #43349
same issue +1

[2020-09-17 11:01] ShotDownDiane commented on #25165
i solved this problem by update my torch version from 0.4 to 1.2

[2020-09-17 11:09] pearu commented on #31546
IEEE floating-point standard specifies that division by zero has well-defined result, as you also demonstrated. Most numerical libraries implement this behavior. On the other hand, many systems raise an exception when trying to divide by zero. For instance, Python does that.

Solving a linear system has a well-defined result only if a solution can be found. I don't know a linalg library that would

[2020-09-17 12:40] gemfield commented on #38122
On PyTorch 1.6, same issue:
[code]

workaround:

[code]

[2020-09-17 12:43] chenbohua3 commented on #44768
Thanks for your reply @hlahkar. I know the decorator use of `torch.no_grad()` is not supported by jit for now. But the case mentioned above may mislead users and make them think that the decorator use is feasible. I think it would be better if jit can throw some warnings in that case instead of export it 'successfully':)

[2020-09-17 13:34] zihaozhang9 commented on #32893
我的是显卡硬件坏了，已经寄回厂家维修了。

The graphics card hardware is damaged. It has been mailed to the manufacturer for repair.

[2020-09-17 13:40] jmlemercier commented on #33152
Hi, I saw you ticked `torch.bmm` for CPU Complex Tensors, which is great, thanks ! Just wondering when the newer version implementing should be released, if you have an estimation.
Thanks a lot !

[2020-09-17 14:09] glaringlee commented on #44866
@liuxz-cs
I tried to reproduce this on my end, but I can not get 3223520557, I got 0 instead. (I create the `prob`  by torch.tensor, not calling softmax).

Can you provide more info about your code?
a. If you are using an older version pytorch, can you try building the latest pytorch using the code in master branch?
b. it seems to me that `prob` comes from softmax. Can you provide a code piece whi

[2020-09-17 14:11] glaringlee commented on #44867
@liuxz-cs
Can you provide a sample code piece to reproduce this? What pytorch version you are using?

[2020-09-17 14:13] #43621 closed

[2020-09-17 14:27] glaringlee commented on #44871
@GiovanniPasq
Please try the latest pytorch in github master branch. These functions should be available.
1.6 might not have them since unflatten functions are added 2 months ago.

[2020-09-17 14:42] ThomasRetornaz opened #44878 "[ONNX] Support Tuple(List(Tensors),...) in input/ouput"
First of all, thanks for this awesome library

## 🚀 Feature
Add support of List(List(Tensors)) in onnx export facilities

## Motivation

(Note i already ask on pytorch forum but without luck, hope i m in the right place and you have time to have a look)

I have some kind of transformer models (aka encoder/decoder)
The input of the decoder have the form List(List(Tensor)) where list have variable s

[2020-09-17 14:43] je-dbl commented on #8976
I've encountered the same problem recently. I am running models locally.

However, I created multiple virtual environments with the virtualenv command. The error might be linked to this, since my computer did not have enough memory to run the dataloader with numerous workers.

When I removed the virtual environments, the error disappeared.

Created virtual environments like this
[code]
And removed

[2020-09-17 14:44] glaringlee commented on #44872
@albanD
I am not sure whether this is related to extra info stored for autograd. `x` is created with autograd off, not sure whether extra info will be created when doing y1 = x.narrow(). save() stored more info for `y1` which is the result of calling `narrow`, but it saved much less info for `y2`  which is cloned from y1. Any thoughts?

[2020-09-17 14:54] simonhandsome opened #44880 "about sparse cnn quantize aware training"
Hi, did anyone know that can sparse convolutional neural network being implemented in quantize aware training, cause if i implement my sparse cnn model into quantize aware training, it continuously appeared the error "max nan can't be less than min nan".

cc @vincentqb @aocsa @nikitaved @pearu @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a @vkuzo

[2020-09-17 14:59] mattip commented on #42952
Coming back to this. I think the way forward is to
- add tests for complex dtypes and various trigonometric functions
- mark as xfail the tests that fail based on OS/device
- merge the tests to master.
- fix the implementations one at a time in new PRs.

In looking at the operator tests in `test/test_torch.py`, I see
- `torch_op_tests` that use `_TorchMathTestMeta` and match results to numpy/scipy

[2020-09-17 15:01] liuxz-cs commented on #44866
The piece of code I use is
`
prob = F.softmax(out.logit, dim=1)
action = prob.multinomial(1).data
`
actually, out.logit is the output of a CNN network, it is a vector with shape [1 x 6].

The torch version I use is 0.4.1.post2, and the cuda version is 9.0 the cudnn version is 7.0.5
I do not know if the version of torch, cuda and cudnn not match leading to that error.

[2020-09-17 15:12] Vadkoz commented on #42435
Same problem now.  torch 1.5.1, windows 10

[2020-09-17 15:13] glaringlee commented on #44873
@kamo-naoyuki
DataParallel needs the forward function has at least 1 input.
And we recommend to use DistributedDataParallel instead of DataParallel.
See here:
https://pytorch.org/docs/stable/generated/torch.nn.parallel.DistributedDataParallel.html#torch.nn.parallel.DistributedDataParallel

[2020-09-17 15:26] lematt1991 opened #44881 "`emit_nvtx` example in docs seems to be broken."
## 🐛 Bug

Following an (adapted) version of the example provided in the docs for [`emit_nvtx`](https://pytorch.org/docs/stable/autograd.html#torch.autograd.profiler.emit_nvtx) produces the following error:

[code]

## To Reproduce

[code]

Yields the following output:

[code]

## Expected behavior

No error

## Environment

[code]

 - PyTorch Version (e.g., 1.0): 1.6.0
 - OS (e.g., Linux): Linux

[2020-09-17 15:37] ezyang commented on #41128
cc @pearu

[2020-09-17 15:37] yaokmallorca opened #44882 "libtorch load trace module failed in Qt5"
I need to use U-Net in Qt5. Before it, I tried to make experiment in cmake. The result was perfect.
However, I integrated the code into a Qt5 application to load the same model,  it reported an error.

The CMakeList.txt file without Q5:
[code]

Here, its the code of loading model:
[code]
IN THIS WAY, THE MODEL WORKS PERFECTLY!!!!!!!!!!!!!!!!!!

For the Qt5 application, this application uses gstrea

[2020-09-17 15:40] glaringlee commented on #44866
@liuxz-cs
0.4.1.post2 is too old. Can you install a newer version and try again?
You can find the installation instruction at https://pytorch.org/
In 'QUICK START LOCALLY' session.

[2020-09-17 15:54] vincentqb commented on #42435
Does `from torch.optim.swa_utils import SWALR` work?

[2020-09-17 15:54] oke-aditya commented on #42435
This feature came in torch 1.6 + so you won't be able to use in torch 1.5.1.
It is broken on torch 1.6 but fixed on master.
But you can do
[code]

[2020-09-17 15:59] ezyang commented on #44316
Some of the machinery to do this exists from `__torch_function__` work, where `tools/autograd/gen_annotated_fn_args.py` makes available a small slice of information from Declarations.yaml which is currently being used for testing. This could be conceivably expanded to cover more information.

However, I'm quite nervous about a few things:

* Declarations.yaml is bad and we shouldn't use it. So the

[2020-09-17 16:10] ngimel commented on #44828
Please try with the latest pytorch version, reopen if issue persists.

[2020-09-17 16:10] #44828 closed

[2020-09-17 16:12] smessmer commented on #44316
We should probably expose the schema from the dispatcher, not the one from codegen, otherwise we don't handle extensions correctly

[2020-09-17 16:16] karlhigley commented on #1285
Computing weight decay this way is actually common when optimizing recommendation models like L2-regularized matrix factorization with SGD. The state of the PyTorch optimizers w.r.t. sparsity makes this a lot harder than it needs to be. Attempting to apply SGD weight decay to a sparse embedding layer currently gives the error:

Since there isn't another behavior currently implemented for this case

[2020-09-17 16:43] vkuzo opened #44887 "fx: unable to symbolically trace model with torch.zeroes(Proxy)"
Currently using proxied tensor shapes as inputs to `torch.zeros` is not symbolically traceable:

[code]

Is this expected to work?

[2020-09-17 17:01] ezyang commented on #44316
Relevant: https://github.com/pytorch/pytorch/pull/37091#discussion_r431388402

[2020-09-17 17:02] gmagogsfm commented on #43125
`Tensor 0` notation is only used when printing function schema, not emitting Python code. Besides, since `slice` is supported now, your program should not see it any more.

But indeed it is a bit hard to understand, I will reopen and see how I can improve it.

[2020-09-17 17:04] ezyang commented on #44316
cc @hameerabbasi

[2020-09-17 17:30] #43699 closed

[2020-09-17 17:30] gmagogsfm opened #44892 "Enum value's type in incorrectly inferred after save/load"
## 🐛 Bug

When a module with a string-enum attribute is saved and loaded back, the string-enum attribute's is inferred to be a int-enum instead.

## To Reproduce

Run the test added in:
https://github.com/pytorch/pytorch/pull/44891

## Expected behavior

The attribute should still be string-enum type.

cc @gmagogsfm

[2020-09-17 17:32] spandantiwari commented on #44841
This is a duplicate of https://github.com/pytorch/pytorch/issues/27212. Please consider submitting a PR for this.

I will close this issue and track this enhancement request in https://github.com/pytorch/pytorch/issues/27212.

[2020-09-17 17:32] #44841 closed

[2020-09-17 17:35] nikitaved commented on #44880
Could you please post the error message along with the reproduction script? To the best of my knowledge, it might be problematic, because autograd has a limitation when it comes to supporting dense grads for sparse inputs, and some functions handle sparse input but produce dense gradients.

[2020-09-17 17:39] mruberry commented on #42952
TorchMathTestMeta is being refactored into test_unary_ufuncs.py and tensor_op_tests will also be refactored to use the OpInfo test pattern in the near future, so I wouldn't invest there. They're also unlikely to show the issue without more significant changes.

I'm not entirely sure how interesting this behavior is to test for or how fixable these behaviors are. If we did want to test for them I w

[2020-09-17 17:49] ezyang commented on #44316
We had a meeting about this, and what I suspect is:

* `__torch_function__` functions already do overload resolution before calling `__torch_function__`, which means in principle we do have the default arguments. We just need to make them available somehow. We can't easily pass these directly into `__torch_function__` without being BC breaking
* We don't want to unconditionally fill defaults, as t

[2020-09-17 17:53] glaringlee commented on #44882
@yaokmallorca
I noticed your pytorch and libtorch is 1.1 which is kinda old. Can you try our latest version?
We have similar issue (not exactly the same though) on libtorch 1.1.  #20804

Please let me know if you still get such error on newer versions. thx

[2020-09-17 17:53] FTD007 commented on #44828
I need a pytorch version >1.0 <1.5, btw how to reopen? do you mean start a new issue?

[2020-09-17 17:55] #44472 closed

[2020-09-17 18:07] mattip commented on #42952
How would you propose moving forward to a place where complex operations are tested and fixed?

Or are you suggesting to lower the priority of this issue and #43852 for now?

[2020-09-17 18:12] ngimel commented on #44828
1.4 version won't be fixed. Any other version in the range you've mention should work on K80.

[2020-09-17 18:13] ezyang opened #44898 "Don't query current device on stream construction"
The constructor for torch.cuda.Stream in torch/csrc/cuda/Stream.cpp unconditionally calls `cudaGetDevice` . However, this `current_device` is not used by anything. Delete it and make sure that nothing breaks when you do so.

[2020-09-17 18:17] albanD commented on #44872
Hi,

No this is expected.
The solution if you want to avoid this is just to `.clone()` the Tensor before saving it. Note that the `.detach()` doesn't change anything here! The serialization is **not** differentiable.

The detail here is just that when you do narrow, the underlying storage actually is still full size. And the serialization stores the full Storage.
In your example, you could actuall

[2020-09-17 18:18] mruberry commented on #42952
In test_unary_ufunc.py we are testing complex inputs, just not "hard" ones (large values, infs and nans).

We can pursue having operators opt-in to harder complex tests, like the approach I described above.

[2020-09-17 18:22] #43219 closed

[2020-09-17 18:26] spandantiwari commented on #44822
@hetulsanghvi - yes, this is not supported in the exporter yet. The primary reason is that it is not a supported op in ONNX spec.
For prioritization, it will be helpful if you can you provide information on which specific model do you need this for?

For now, we will defer this till this is supported in ONNX.

[2020-09-17 18:29] zhanghang1989 commented on #44594
After making the change, I got the following error:

[code]

[2020-09-17 18:31] jamesr66a commented on #44887
Oh weird, I think this probably has to do with how `__torch_function__` works. @ezyang @hameerabbasi does `__torch_function__` work on constructor functions like this?

[2020-09-17 18:34] hameerabbasi commented on #44887
`__torch_function__` only works on functions that take in `Tensor`s. Construction functions don’t work, unless they’re of the kind `_like`, which is a possible workaround.

[2020-09-17 19:10] jerryzh168 opened #44901 "for loop can't be symbolically traced"
[code]

what is the recommendation?

[2020-09-17 19:24] HapeMask commented on #44662
If you add `, dtype=th.float64` to the construction args for `x`, this error goes away.

[2020-09-17 19:25] vadimkantorov commented on #44544
I found the gloo issue https://github.com/facebookincubator/gloo/issues/54 and created issue https://github.com/NVIDIA/nccl/issues/388

In the meanwhile, it would be good to have PyTorch highlight this behavior very clearly in docs (including some references on this ephemenal port range and where it is set up). A user may think that the opening MASTER_PORT on the server is enough for everything to

[2020-09-17 19:35] albanD commented on #44662
Ho so only loosing precision due to small epsilon for float32. That is very likely.

@carmocca  can you confirm that running the test in double works?

[2020-09-17 19:37] jamesr66a commented on #44887
@vkuzo does `zeros_like` work here?

[2020-09-17 19:59] gmagogsfm commented on #43397
Closing as we have decided to take a different approach.

[2020-09-17 19:59] #43397 closed

[2020-09-17 20:00] FTD007 commented on #44828
Oh ok, let me try. BTW does he cuda version matter? I am using 10.1, should I lower it to 10 or 9 for pytorch 1.3 or 1.2

[2020-09-17 20:11] jamesr66a commented on #44842
@hlahkar yes

[2020-09-17 20:27] navid-mahmoudian commented on #44872
Hello,
Thank you very much for your response. From the beginning, I knew that this is because in narrow the underlying storage is still full size. However, **I do not agree that this is what should be expected**. When users save a narrowed tensor, they expect to save only what is needed. This behavior is what happens in NumPy (i.e. the np.save only saves what is needed, not the full size). Here is

[2020-09-17 20:35] vkuzo commented on #44887
this is the real code snippet where we hit this:

[code]

subbing `zeros_like` for `zeros` would need a tensor with the correct shape already constructed.  Is there a recommended way to do the tensor construction?

[2020-09-17 20:45] albanD commented on #44872
This is linked to sharing views across serialization.
You can see previous issues https://github.com/pytorch/pytorch/issues/40157 and https://github.com/pytorch/pytorch/issues/33101 for example.

You can see full details about what happens in the serialization note of the doc: https://pytorch.org/docs/master/notes/serialization.html#saving-and-loading-tensors-preserves-views

[2020-09-17 21:04] vadimkantorov commented on #7313
A development on the issue by @t-vi: https://lernapparat.de/computed-parameters/ :)

[2020-09-17 21:11] amgaweda commented on #30664
Just confirming this approach worked for me; Windows 10, using Anaconda's CMD Terminal

[2020-09-17 21:21] mruberry commented on #24991
Reserving for bootcamp.

[2020-09-17 22:35] mruberry commented on #42720
This appears to be working as expected. Please reopen if you're still seeing this issue.

[2020-09-17 22:35] #42720 closed

[2020-09-17 22:35] mruberry commented on #9885
This issue is lacking details needed to make it actionable. @SsnL, do you recall which examples you were thinking of updating?

[2020-09-17 22:37] mruberry commented on #10370
This is now fixed! Both the CPU and CUDA argmin/argmax should now return the FIRST minimum/maximum, consistent with NumPy.

[2020-09-17 22:37] #10370 closed

[2020-09-17 22:37] SsnL commented on #9885
@mruberry this was created in the context that tensor printing format was changed in 0.4. it is not valid anymore.

[2020-09-17 22:37] #9885 closed

[2020-09-17 22:44] mruberry commented on #32437
This should work in the latest PyTorch. @sebastienwood would you try on nightly or wait for 1.7. If this still reproduces please reopen this issue.

[2020-09-17 22:44] #32437 closed

[2020-09-17 22:46] mruberry commented on #38541
This might be appropriate as another section in our Reproducibility note (https://pytorch.org/docs/master/notes/randomness.html).

[2020-09-17 22:48] vadimkantorov commented on #44822
@hetulsanghvi You can work around by manually generating the fourier basis and doing matrix multiply, as in https://github.com/pytorch/pytorch/issues/31317.  This won't be "fast", but may be sufficient depending on the problem size

[2020-09-17 22:53] mruberry commented on #44619
See also https://github.com/pytorch/pytorch/issues/44080

cc @mariosasko

[2020-09-17 23:00] vkuzo commented on #44849
would it make sense to provide `torch.fx.is_tracing()`, so users can gate the asserts on that flag?

[2020-09-17 23:03] sb0115basavaraju commented on #34704
Hello,

I got the same issue. Any solution?

[2020-09-17 23:05] VitalyFedyunin commented on #43502
@ssnl agree, overly verbose (30x processes) dump is dangerous for usability. We currently do research on possibility of generating useful debug if user had to terminate stuck process.

Unfortunately num_workers=0 or profiling not always working, as such kind of 'stuck process' sometimes manifest after hours/days of training.

Anyway be sure, that we are not landing >30 similar debug traces as is.

[2020-09-17 23:09] fostiropoulos opened #44917 "Incorrect implementation of SGD momentum"
## 🐛 Bug

Pytorch documentation: https://pytorch.org/docs/stable/optim.html#torch.optim.SGD
"This is in contrast to Sutskever et. al. and other frameworks which employ an update of the form"
![image](https://user-images.githubusercontent.com/4337024/93537302-022c5f00-f900-11ea-9a98-fa83a7b90654.png)

SGD: http://proceedings.mlr.press/v28/sutskever13.pdf
![image](https://user-images.githubuserconte

[2020-09-17 23:11] fostiropoulos commented on #44917
I am not sure if this error also reflects in the implementation of SGD.

[2020-09-17 23:19] osalpekar commented on #41929
Fixed by #42208

[2020-09-17 23:19] #41929 closed

[2020-09-17 23:44] Hangjun commented on #44898
Hey @ezyang, I'm in bootcamp and I saw this issue so I grabbed it if no one else is working on it. Let me know if I'm testing the removal correctly in https://github.com/pytorch/pytorch/pull/44919. Thanks!

[2020-09-18 00:44] mrshenli commented on #36247
If no one is working on this, I would like to reserve it for bootcamp.

[2020-09-18 00:54] Stick-To opened #44924 "is there some functions like Model.get_config() in keras?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)
![1](https://user-images.githubusercontent.com/34546552/93542768-6dbc0e00-f98c-11ea-9

[2020-09-18 00:57] mrshenli commented on #44631
Reserve for bootcamp

[2020-09-18 01:00] SsnL commented on #44631
@mrshenli This issue is a duplicate and there is already community effort trying to solve it https://github.com/pytorch/pytorch/pull/40437

[2020-09-18 01:13] #44864 closed

[2020-09-18 01:16] kamo-naoyuki commented on #44873
No. You are wrong. Segmentation fault shouldn't happen in Python even if the usage is not expected. This is a bug.

[2020-09-18 01:24] jerryzh168 opened #44926 "Can fx add an API for users to register custom module class that won't be symbolically traced"
In that case, can we atleast only add custom module. Here it looks like the user is expected to know that torch.nn and sequential are existing leaf modules. Can we request the fx team to have an API to register a custom module?

_Originally posted by @raghuramank100 in https://github.com/pytorch/pytorch/pull/44766#discussion_r490641075_

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr6

[2020-09-18 01:26] #44872 closed

[2020-09-18 01:34] glaringlee commented on #44873
@kamo-naoyuki
You are right, this is a bug. i am not saying this is not a bug. I was trying to tell you why there is a segfault.
We will  prioritize this.
FYI, we recommend to use DistributeDataParallel(DDP). DDP is tend to replace the DataParallel, less bugs and more support.

[2020-09-18 01:57] liuxz-cs commented on #44866
So what version should I install to math my cuda and cudnn version?

[2020-09-18 01:58] liuxz-cs commented on #44866
the OS is ubuntu 16.04

[2020-09-18 02:45] glaringlee commented on #44866
@liuxz-cs
Can you install cuda 9.2? Our newer version pytorch support cuda from version 9.2, if you can install 9.2, then you can install the latest version of pytorch.

If you want to stick with 9.0. Try pytorch 1.1.
You can find the installation info here:
https://pytorch.org/get-started/previous-versions/
Search version 1.1

[2020-09-18 02:53] tangyanf opened #44928 ""new_full" support for torch 1.6.0+cu101"
## 🐛 Bug

when i export a model to onnx then i got a RuntimeError:Exporting the operator new_full to ONNX opset version 11 is not supported. Please open a bug to request ONNX export support for the missing operator.
 I updated the source code today，found that you have already supported new_full in symbolic_opset9,but it still not support in torch which was installed by pip. so,which time i can use

[2020-09-18 03:06] liuxz-cs commented on #44866
Okay, I will try it, thanks a lot!

[2020-09-18 03:37] Baeleader opened #44930 "https://tutorials.pytorch.kr/advanced/cpp_export.html#id1"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

Step3.
root@4b5a67132e81:/example-app/build# ./example-app <path_to_model>/traced_re

[2020-09-18 03:47] m-mohsin-zafar opened #44931 "Issue while writing scalars o tensorboard using writer.add_scalars(....)"
## Problem using add_scalars in torch.utils.tensorboard
    line 387, in add_scalars
    scalar_value = workspace.FetchBlob(scalar_value)
    NameError: name 'workspace' is not defined

[2020-09-18 03:57] ezyang commented on #44887
Oh, just use `new_zeros` instead of `zeros_like`, which takes a shape too.

[2020-09-18 04:14] satyam78622 commented on #19406
it worked for me

[2020-09-18 04:18] vkuzo commented on #44887
hmm, unfortunately that doesn't work either:

[code]

[2020-09-18 04:29] Sgt-Miller commented on #17023
Same from India, takes ages!

[2020-09-18 04:32] Sgt-Miller commented on #17023
Much better with pip

[2020-09-18 06:27] stas00 opened #44935 "a new type of nn.Module param for large transient data (that doesn't get saved)"
## 🚀 Feature

So we have params and buffers in `nn.Module`, which are awesome.

What can we do if we have a huge param like variable that we don't want to save with the model, e.g. if that variable gets deterministically calculated and it's huge. For example positional embeddings in transformers models https://github.com/huggingface/transformers/issues/7229 - in the presented example those come to

[2020-09-18 06:32] yeyupiaoling commented on #32893
好的，谢谢

[2020-09-18 06:55] skyoung commented on #15849
Strangely, I found that the memory usage on my first GPU is much higher than other gpus when I use this data loader for multi-gpu training.

[2020-09-18 06:56] oyekamal commented on #16417
decrease the batch size and increase the epochs. that is how i solved it.

[2020-09-18 07:02] MingyuanZ-USTB commented on #29383
I have the same question with python 3.6.4, win6 x64, torch 1.6.0 , cuda 10.1, do you find the solution yet?

[2020-09-18 07:02] sandias42 commented on #35633
Wanted to add my support for this feature (or a variation) that helps make something like LMS more easily accessible to the pytorch community. Everyone who I have shared the LMS fork with has been amazed at what a big difference having this feature makes in the convenience of model development, particularly for people who don't have unlimited access to 32 GB V100 servers  or whatever and need to r

[2020-09-18 07:22] SplitInfinity commented on #41420
`torch.no_grad` and `torch.autograd.profiler.record_function` are done, so I'm closing this for now.

[2020-09-18 07:22] #41420 closed

[2020-09-18 07:22] #40260 closed

[2020-09-18 07:25] WhiteDOU commented on #44931
I face the same problem, Can you share the solution if you have solved it.

[2020-09-18 07:44] nightlessbaron opened #44938 "DataParallel on CPU"
## 🚀 Feature

Adding DataParallel method for CPU

## Motivation

Recently, I have been working on few-shot learning and meta-learning models which in particular need small datasets. Let's take MAML for example. We have scope for parallelizing the inner loop and data parallelism seemed to be the answer for that. While, using GPUs does the work, we can also make use of CPUs for the same, as the data

[2020-09-18 07:46] SplitInfinity commented on #44708
I was able to reproduce this error in 1.6 but not in 1.7. Can you try 1.7? You can either build from source or use the nightly builds from pytorch.org.

[2020-09-18 08:20] dbalchev opened #44939 "Inconsistent result from FBGEMM and QNNPACK quantization backends"
## 🐛 Bug

Running quantized convolution with FBGEMM and QNNPACK yield different results. Since I noticed they handle the bias differently (FBGEMM adds it as a float, but QNNPACK quantizes it) I tried some tricks to workaround that, but found a case where their results differ even when there's no bias.I tried reproducing the calculations by hand and it seems the result from FBGEMM is wrong.
## To R

[2020-09-18 08:27] ShiinaMitsuki opened #44940 "AttributeError: module 'torch._C' has no attribute 'ExtraFilesMap'"
## 🐛 Bug
AttributeError: module 'torch._C' has no attribute 'ExtraFilesMap'

After the compilation from source using the latest code cloned from master branch, trying to _import torch_ from python interpreter raise an error:

[code]
PS: the compilation is completed in a running docker container (ubuntu16.04, cuda10.0, cudnn7.6.5, RTX2070 graphic card on the host machine, gpu driver 418.39)

## To

[2020-09-18 08:45] #34797 closed

[2020-09-18 09:00] farahmand-m commented on #44777
An alternative could be that manually moving a tensor to RAM wouldn't require a call to `detach` beforehand. The process won't be automatic any longer, but manually baking it into a module wouldn't be that hard, neither.

[2020-09-18 09:09] gongsuming opened #44942 "maxpooling--2D"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. when use dilated convolution, for example: nn.Conv2d( 1, 1 , (3, 3), stride=1, padding=(2, 2),dilation=(2,2), bias=False),
1. use padding=2 to keep Hin =Hout ; Win = Wout. It is right.
1.however , when use dilated pooling, for example : nn.MaxPool2d((3, 3), stride=1, padding=(2, 2),dilation=(2,2))
    use padding=2 to keep Hin =Hout ;

[2020-09-18 09:32] One-sixth opened #44943 "In pytorch 1.6。Run model with input no contiguous tensor will become very slow."
## 🐛 Bug

In pytorch 1.6。Run model with no contiguous tensor will become very slow.

## To Reproduce

Steps to reproduce the behavior:

This is a simplified code, and the speed difference may not be obvious.
In my training code and model, the speed difference between using contiguous and not using contiguous is very big (over 10x), I don't know why.

[code]

## Expected behavior

## Environment

P

[2020-09-18 09:45] lamhoangtung commented on #44708
@SplitInfinity Sure I will try 1.7 soon

[2020-09-18 09:52] liushuai839 opened #44944 "some gradients of parameters in pytorch is None"
Hi,guys!
when I add a learnable parameter(a tensor) in a network, its gradient is None.But i make sure that it is a leaf node.Also,I set the require_grad is true. It works as a index in python. e.g. a[b](a is the learnable parameter )

These are the questions. Thanks for your attention!!

[2020-09-18 10:27] alexeyr opened #44945 "Fuse softmax and masking in MultiheadAttention"
## 🚀 Feature

Fuse `softmax` and mask calculation in `multi_head_attention_forward`.

## Motivation

Currently `torch.nn.functional.multi_head_attention_forward` masks attention and then calls `softmax` as follows:

https://github.com/pytorch/pytorch/blob/caea1adc35404b39fe4f2e3fa75f9a0b9e554bbc/torch/nn/functional.py#L4265-L4281

(the code in C++ frontend is similar). In our own C++ implementatio

[2020-09-18 11:05] Benjiaminh commented on #1204
----- TRAINING - EPOCH 1 -----
/usr/local/lib/python3.6/dist-packages/torch/optim/lr_scheduler.py:123: UserWarning: Detected call of `lr_scheduler.step()` before `optimizer.step()`. In PyTorch 1.1.0 and later, you should call them in the opposite order: `optimizer.step()` before `lr_scheduler.step()`.  Failure to do this will result in PyTorch skipping the first value of the learning rate schedule

[2020-09-18 11:11] Benjiaminh commented on #1204
Can you tell me how to do it?Please

[2020-09-18 11:17] lw commented on #41474
I am by no means an expert. I said that because at one point I was curious about this so I downloaded vanilla PyTorch from PyPI, built a C++ extension on top of it which allowed me to invoke the `IsUsingGoogleLogging` function and saw that it returned false. That may have changed since though.

https://github.com/pytorch/pytorch/blob/caea1adc35404b39fe4f2e3fa75f9a0b9e554bbc/c10/util/Logging.h#L79-

[2020-09-18 11:25] vadimkantorov commented on #9190
@kshitij12345 Does it support `torch.where(torch.BoolTensor([True, False]), 3, 4)` i.e. where all arguments except condition are scalars / Python scalars?

[2020-09-18 11:33] kshitij12345 commented on #9190
As far as I recall, that should work. I can confirm if it works or not in few hours.

[2020-09-18 11:59] DianeTOY commented on #5046
very thank you for your answer,I got the same problem as you,and now I solve it!!!

[2020-09-18 12:06] Flamefire opened #44948 "Clarify use of GLog/GFlags"
## 🐛 Bug

The CMakeLists.txt contains https://github.com/pytorch/pytorch/blob/b85568a54a9c60986235ad1e0cc5dffc71b9d5b1/CMakeLists.txt#L756-L761 which basically says that PyTorch requires GLog and GFlags. However I just downloaded the "official pytorch" via `pip install torch==1.6.0+cpu torchvision==0.7.0+cpu -f https://download.pytorch.org/whl/torch_stable.html` and checked that glog is not used t

[2020-09-18 12:21] carmocca commented on #44662
It works!

Does that mean we should always use adaptive pooling with `torch.double`? or is it just a problem when running gradcheck?

[2020-09-18 12:52] lw commented on #43006
I can't seem to figure out how `torch.cuda.cudart().cudaHostRegister` works.

[code]

Pybind says it wants a `capsule` object as first argument. How do we obtain that from a tensor? Do you have an example invocation of this?

Also, another issue is that `torch.cuda.cudart()` doesn't provide `cudaHostUnregister`.

[2020-09-18 13:07] peterjc123 commented on #44814
`__declspec(dllimport)` should not appear if you try to link the libs statically.  You'll need to pass in additional flags to set C10_IMPORT to nothing instead.

[2020-09-18 13:10] peterjc123 commented on #44814
To make it clear, in https://github.com/pytorch/pytorch/blob/master/c10/macros/Export.h#L49, C10_BUILD_SHARED_LIBS should not be defined for static libs.

[2020-09-18 13:18] iamarpan commented on #32049
@gchanan Is this issue still open. If yes, this would be my first open-source contribution. Can you please tell me what error message needs to be displayed in case of negative value.

[2020-09-18 13:46] albanD commented on #44662
Thanks for checking! No this is a limitation of gradcheck that is very sensible to numerical precision.
Closing now as this is just due to bad usage of gradcheck.

[2020-09-18 13:46] #44662 closed

[2020-09-18 13:56] alexeib opened #44949 "conv_transpose1d with output padding backpropagation does not work"
see the discussion here:
https://discuss.pytorch.org/t/loss-backward-failure-due-to-contiguous-issue/96416/9

in a nutshell, having several stacked conv_transpose1d layers with stride > 1 and output padding makes it not possible to backprop the loss with an error "ones need to be contiguous"

cc @ezyang @albanD @zou3519 @gqchen @pearu @nikitaved @ngimel

[2020-09-18 14:12] ParthPatel-ES commented on #44829
[quantized maxpool2d and adaptiveavgpool2d](https://discuss.pytorch.org/t/quantized-maxpool2d-and-adaptiveavgpool2d/83314) should not be defined in the quantizable version.

[2020-09-18 14:12] #44829 closed

[2020-09-18 14:20] agolynski commented on #44938
@nightlessbaron Would https://pytorch.org/docs/stable/multiprocessing.html work for your usecase or you are proposing PT to have data parallel wrapper for this?

[2020-09-18 14:44] ezyang commented on #7313
@jamesr66a @gchanan Did you mention that Torch FX might also be another approach to doing weight norm / spectral norm things?

[2020-09-18 14:54] DarshanAwachat commented on #44814
@peterjc123
getting the same error even after setting C10_IMPORT to nothing.

[2020-09-18 14:57] fatvlady opened #44951 "copy.deepcopy not working properly for jit.TopLevelTracedModule"
## 🐛 Bug

When trying to deep-copy jit scripted/traced module, parameters are not copied properly. Instead, they are created with `grad_fn=<CloneBackward>`, mirroring to original parameter tensors. Not sure if it is bug but looks quite strange. On the contrary, deep-copy of say `nn.Linear` module works fine, introducing completely independent modules.

## To Reproduce

[code]
## Expected behavior

[2020-09-18 14:59] zhangguanheng66 commented on #15849
@skyoung Are you using `DataParallel`?

[2020-09-18 15:04] mrshenli commented on #24772
If no one is working on this, I would like to reserve this for bootcamp.

[2020-09-18 15:08] mrshenli commented on #24525
self-assigned to reserve for onboarding.

[2020-09-18 15:12] mruberry commented on #44935
Does a nonpersistent buffer do what you want?

https://pytorch.org/docs/master/generated/torch.nn.Module.html?highlight=buffer#torch.nn.Module.register_buffer

Original issue for context: https://github.com/pytorch/pytorch/issues/18056.

[2020-09-18 15:14] SsnL commented on #44944
indexing is nondifferentiable wrt index

[2020-09-18 15:19] skyoung commented on #15849
No. I use `DDP`. When I remove this data loader and use the normal one, then the memory usage imbalance disappears. It seems the problem is caused by `__iter__()` of `FastDataLoader`. If I delete it, everything goes well. but it will not raise stop error at the end of the epoch.

[2020-09-18 15:22] hameerabbasi commented on #44887
I think you should be using `x.new_zeros(...)` where you forward `new_zeros` appropriately.

[2020-09-18 15:23] mruberry commented on #32049
I just re-ran the case in the issue and this has been fixed. Relevant code snippet:

https://github.com/pytorch/pytorch/blob/7680358122e62387737a3e4f3b7621e23bd133b1/aten/src/ATen/native/LossNLL.cpp#L61

It must have been accidentally left open.

[2020-09-18 15:23] #32049 closed

[2020-09-18 15:27] zhangguanheng66 commented on #15849
cc @mrshenli

[2020-09-18 15:36] KaiHoo commented on #28950
@SsnL I also get the same error training mask RCNN models with torch 1.4.0, torch vision 0.5.0 (I load all images into memory). The error **always** occurs near the end of third epochs. I have 400G memories and 110G shm. I use watch -n 1 "tail nohup.out && free -h && df -h" to see what happened when error occurs but both the memory and shm are OK. I did not use pin_memory. Any ideas?

"""
  File "

[2020-09-18 15:47] vkuzo commented on #44887
I see, thanks, using `x.new_zeros(...)` instead of `torch.tensor(()).new_zeros(...)` fixes the symbolic tracing error.  Just for my own curiosity, would you have context on why this fixes things?

[2020-09-18 15:49] stas00 commented on #44935
@mruberry - that's fantastic! I had no idea we had this in our arsenal now! Thank you so much!

Except it seems to be incomplete - torchscript doesn't handle it correctly. Doing:

[code]
Open a more specific issue?

[2020-09-18 15:51] hameerabbasi commented on #44887
`Tensor.new_zeros` is a `classmethod`, and is forwarded to the appropriate class, which means it can be traced. Using `torch.tensor(()).new_zeros(...)` calls the `new_zeros` `classmethod` on the `Tensor` class still, instead of `type(x)`, which then doesn't allow it to be traced anymore (as `Tensor` itself has no such functionality, and calls to an instance of `Tensor` or `Tensor` itself aren't di

[2020-09-18 15:53] #44887 closed

[2020-09-18 15:56] ezyang commented on #43006
Something like this:

[code]

As for cudaHostUnregister, we should just add it.

[2020-09-18 15:58] ezyang opened #44952 "Add cudaHostUnregister to torch.cuda.cudart()"
Noticed at https://github.com/pytorch/pytorch/issues/43006

Implementation is at torch/csrc/cuda/shared/cudart.cpp

You should add a small test when you do this.

[2020-09-18 16:06] lw commented on #43006
I can't seem to get that to work. I've tried in the same shell I had open before:
[code]

Are you sure that ctypes wrapper work seamlessly with pybind?

[2020-09-18 16:10] neginraoof commented on #44928
new_full has been added as a PR that's merged 2 days back. If you're using PyTorch build nightly, you should be able to export it with latest nightly. But it will be part of the stable build starting from next release.
I'm closing this as it's not a bug. Please fill free to re-open if you see any further issues with export of this op.

[2020-09-18 16:10] #44928 closed

[2020-09-18 16:10] Electric-Turtle opened #44954 "Optimization with constraints for torch.optim"
## 🚀 Feature
The option for constraint-aware optimization techniques within torch.optim. [Sequential Quadratic Programming](https://en.wikipedia.org/wiki/Sequential_quadratic_programming) is a very common choice, but there are other algorithms out there.

## Motivation
SQP (and related techniques) are nice for when parameters need to be within a specified range (or satify some other constraint fun

[2020-09-18 16:17] soulslicer opened #44957 "Sync Batch Norm hangs if i don't call a module in one of the Processes"
I have a special model where, during the first iterate of a video, one of the components doesnt get used for example:

[code]

One of the GPU's / process might hit self.iter = 0, while another GPU may still be running stuff with self.iter = N. When this happens, the model hangs on any batch norm.

How can I get around this?

[2020-09-18 16:21] ngimel commented on #44949
Can you please provide a small runnable script reproducing the error?

[2020-09-18 16:21] mruberry commented on #44935
Glad I could help (a little, anyway). A more specific issue for the JIT behavior would be appreciated, @stas00.

[2020-09-18 16:28] ailzhang commented on #43441
Closing since @linux-jedi 's PR is already merged. :D

[2020-09-18 16:28] #43441 closed

[2020-09-18 16:32] SsnL commented on #44957
Syncbn, as its name suggests, synchronizes (and thus waits) across all ranks in the process group. All ranks must call this op the same number of times.

[2020-09-18 16:34] soulslicer commented on #44957
What happens if I "fake" call it by simply calling it with a zero tensor, but I do not return it to be part of the output or loss function, so its not part of the graph. I assume this wont work either?

[2020-09-18 16:41] soulslicer commented on #44957
Nevermind, since it so happens that my model is dealing with probability distributions, when i have iteration 0, i shall just pass in a uniform distribution so the module gets called always

[2020-09-18 16:41] #44957 closed

[2020-09-18 17:24] hetulsanghvi commented on #44822
@vadimkantorov Thanks for the suggestion. I will go through this, implement and get back.

[2020-09-18 17:34] vincentqb commented on #39279
For those interested in functional optimizers in this context, I would love to hear if #44715 is aligned with how you were envisioning them :)

[2020-09-18 17:45] vkuzo commented on #44887
got it, thanks for explaining!

[2020-09-18 18:04] #41288 closed

[2020-09-18 18:24] vadimkantorov commented on #38349
A request for numpy.append (useful for collecting some metrics values in a torch tensor instead of python array). A simplistic impl can be like this:
[code]

[2020-09-18 18:46] vadimkantorov opened #44964 "Improve how type annotations show up in html docs"
Maybe some simpler type annotations can be introduced.
Currently it's `kernel_size: Union[T, Tuple[T, ...]], stride: Optional[Union[T, Tuple[T, ...]]]`, and it's hard to parse, especially since it's so comon and clutters the signatures. Can we introduce some type alias `int_or_inttuple` or something in this spirit?

![image](https://user-images.githubusercontent.com/1041752/93633775-c8d31c80-f9ef-

[2020-09-18 19:35] vadimkantorov opened #44968 "[feature request] dtype argument for torch.sign"
E.g. it may be useful to pass in torch.int8 to save memory (or even do some bitpacking in future if 1 stands for >= 0 and 0 stands for < 0)

[2020-09-18 19:44] gabinkbl opened #44969 "Tensordot does not support Bool"
## 🐛 Bug

tensordot issues an error while using tensors of dtype Bool (not sure if this an intended behavior).
numpy.tensordot fully supports such tensors.

## To Reproduce
a = torch.tensor([[False, True], [False, True]])
b = torch.tensor([[False, True], [False, True]])
torch.tensordot(a, b, dims=1)
Traceback (most recent call last):
File “”, line 1, in
File “…\torch\functional.py”, line 705, in t

[2020-09-18 19:46] SplitInfinity commented on #41706
Fixed in #44249

[2020-09-18 19:46] #41706 closed

[2020-09-18 19:47] SplitInfinity commented on #41707
Fixed in #44249.

[2020-09-18 19:47] #41707 closed

[2020-09-18 20:47] LoudeNOUGH commented on #40497
Same problem, but only with DataParallel and multiple GPUs. Using `torch.detect_anomaly` allows catching NaN at the very first step of backward. Training runs just fine on a single GPU.

[2020-09-18 21:09] mruberry commented on #44776
You can print the module (and recursively print its contents). To the precise behavior you want you may have to write your own print function.

[2020-09-18 21:35] bugra commented on #44293
@Godricly This is fixed through: https://github.com/pytorch/pytorch/pull/44888

[2020-09-18 21:35] #44293 closed

[2020-09-18 21:46] #44731 closed

[2020-09-18 21:51] spandantiwari commented on #34054
@Enolerobotti - @shubhambhokare1 has added a PR for this. If possible, please track it and see if you can test this patch on your end.

[2020-09-18 21:54] ailzhang commented on #43815
cc: @gchanan If I understand the discussion in #21613 correctly, copy and overwrite is desired way so the xla part should be fine. Do you know why we don't do the same to buffers? Thanks!

[2020-09-18 22:18] vadimkantorov opened #44989 "Support unfold for Long tensors on CPU"
It would be useful for mode filter that should operate on discrete inputs:
[code]

[2020-09-18 22:26] vadimkantorov opened #44991 "Unite/unify tensor.unfold and torch.nn.functional.unfold"
Two versions exist for seemingly same functionality:

1) tensor.unfold supports Long tensors (F.unfold does not: https://github.com/pytorch/pytorch/issues/44989)
2) tensor.unfold returns different shape layout
3) tensor.unfold has differnet argument names: size/step instead of kernel_size/stride
4) tensor.unfold does not support padding (while F.unfold does)

[2020-09-18 22:42] wanchaol opened #44992 "[jit] cann't pass class objects across boundary of tracing/scripting"
[code]

error:

[code]

[2020-09-18 22:44] neginraoof commented on #33443
Thanks for reporting this issue. Many problems with export of Mask RCNN and Keypoint RCNN models with dynamic size detections and keypoints has been resolved recently. The main PR which addresses this issue is: https://github.com/pytorch/vision/pull/2087
And the latest one is: https://github.com/pytorch/vision/pull/2488
Could you please let us know if you're still facing this issue using the lates

[2020-09-18 22:57] #33793 closed

[2020-09-18 23:06] fxmarty commented on #1837
It should be stated explicitly in the documentation that torch and numpy median behave differently.

[2020-09-18 23:45] theweiho opened #44998 "Add TorchScript support for Python logging"
## 🚀 Feature
Being able to use logging.info(), logging.warn(), etc in Python for a TorchScript model

## Motivation

I'd like to print some logging statements, and print() is insufficient since when we use the TorchScripted model, we're redirecting stdout to a file to capture inference results.

## Pitch

Being able to logger.info()

## Alternatives

print() is insufficient since when we use the T

[2020-09-19 00:03] mariosasko commented on #15786
@mruberry Think this issue can be closed since the signal is no longer raised.

Instead we get this error:

```RuntimeError: Integer division of tensors using div or / is no longer supported, and in a future release div will perform true division as in Python 3. Use true_divide or floor_divide (// in Python) instead.```

in both cases (the one with Dropout and the second one from @colesbury). I th

[2020-09-19 00:22] soumyadipghosh commented on #34862
@prabhuomkar Did you finally implement support for CIFAR-10/ImageNet in C++ in torchvision?

[2020-09-19 00:29] neginraoof commented on #39365
This issue appears in test_word_language_model_GRU in test_pytorch_onnx_onnxruntime.

[2020-09-19 00:46] pritamdamania87 commented on #37002
Regarding `Delay Allreduce`, I'm wondering if we can run in delay allreduce mode only for the first iteration and keep track of how many times each parameter is supposed to be used. Then for subsequent iterations we can probably use this information to run in the normal mode using the information we learnt in the first pass in terms of how many times a parameter can be used. This won't work in the

[2020-09-19 01:48] vadimkantorov opened #45009 "Median / quantile / mode pooling"
Using F.unfold+mode seems much slower than F.max_pooling1d, so a native version should be much faster.

Existing impls:
https://docs.scipy.org/doc/scipy/reference/generated/scipy.ndimage.median_filter.html
https://docs.scipy.org/doc/scipy/reference/generated/scipy.ndimage.percentile_filter.html#scipy.ndimage.percentile_filter
https://docs.opencv.org/3.4/d4/d86/group__imgproc__filter.html#ga564869a

[2020-09-19 03:01] stas00 opened #45012 "torch.jit saves nonpersistent buffers"
## 🐛 Bug

nonpersistent buffers were added recently: https://github.com/pytorch/pytorch/issues/18056 [doc](https://pytorch.org/docs/master/generated/torch.nn.Module.html?highlight=buffer#torch.nn.Module.register_buffer)

A fantastic addition, but alas it doesn't work with torchscript. It doesn't skip this type of buffer when saving the trace. as a result `loaded_model.state_dict()` contains non-pe

[2020-09-19 03:02] stas00 commented on #44935
Done: https://github.com/pytorch/pytorch/issues/45012

Thank you again, @mruberry! You helped me discover a new feature today!

[2020-09-19 03:02] #44935 closed

[2020-09-19 03:13] prabhuomkar commented on #34862
@soumyadipghosh
Not yet, but I have a reference CIFAR implementation:
https://github.com/prabhuomkar/pytorch-cpp/blob/31d325e34c0d3d3578dd5e811a2b459a78dcc32f/tutorials/popular/blitz/training_a_classifier/include/cifar10.h
https://github.com/prabhuomkar/pytorch-cpp/blob/31d325e34c0d3d3578dd5e811a2b459a78dcc32f/tutorials/popular/blitz/training_a_classifier/src/cifar10.cpp

[2020-09-19 03:31] Coderx7 opened #45013 "Does Pytorch support comments, doctstring, keywrods, etc in torchscript extension like Pybind11?"
Torchscript resembles pybind11 a lot, but there is no information concerning how well it mimics Pybind11 and to what extend.
I cant find anythig regarding comments, or specifying keywods for the exposed methods,classes through torchScript.
Are these even supported?

cc @gmagogsfm

[2020-09-19 03:35] 227BaronChen commented on #27584
I was wondering has anyone solve the problem?

[2020-09-19 03:49] #42265 closed

[2020-09-19 04:34] #43992 closed

[2020-09-19 05:15] 227BaronChen commented on #27584
I found a solution that seems to work. Using “int(_1.size(1) // 2)” instead of “_1.size(1) // 2”

[2020-09-19 05:15] 227BaronChen commented on #27551
I found a solution that seems to work. Using “int(x.size(1))” instead of “x.size(1)”

[2020-09-19 05:32] Enolerobotti commented on #34054
@spandantiwari thanks! Will test it ASAP.

[2020-09-19 06:07] abhinavkulkarni opened #45016 "LibTorch custom reshape submodule fails"
## 🐛 LibTorch custom reshape submodule fails

Hi,

I have a simple custom reshape/view submodule that fails for a simple input in LibTorch.

My `nn::Sequential` model is as follows:

[code]

The implementations of Permute and Reshape modules are really simple. Following are the declarations in the header file:

[code]

Following is the implementation in cpp file:

[code]
I know about the spurious

[2020-09-19 06:15] abhinavkulkarni commented on #45016
Also, please note that for a simple `nn::Sequential` with just the reshape submodule (or may be followed by a linear one), I get correct output.

So, it's some combination of the submodules in my example that's throwing up the error.

Also, as I also noted above, I get the correct output for all the submodules right up to reshape one.

[2020-09-19 06:39] jihuacao commented on #12831
Why don't we just update the sampler rather than generate num_workers new processes in every time when iter(DataLoader) is called?

[2020-09-19 08:33] WangWenhao0716 opened #45021 "The support for 3080 or 3090"
Hi! I have got several 3080 GPUs. However, I find some problems.
The system is Ubuntu 16.04, the version of PyTorch is 1.1.0.
My codes are:
import torch ---(1)
X = torch.rand((3,6)) ---(2)
X = X.cuda() ---(3)

I find the step (1) and (2) very smooth, which means it nearly does not cost any time.
However, I found the third step costs nearly 10 minutes to finish moving the data from memory to VRAM.

[2020-09-19 08:51] AinzWoolGoun opened #45022 ".cuda() Function Takes Too Much Time with Lastest PyTorch CUDA 10.1"
I meet a strange problom when trainning the model.
The function .cuda() will takes too much time except for the first iteration.

[code]

And run the script by python -m get the problem.
[code]
You can see that above: the first iteration the .cuda() is run fast, but after is very slow!
By the way, my platform is blow:
[code]
I will be very appreciated If somebody has some suggestions. This problem

[2020-09-19 09:11] xwang233 commented on #45021
You are using pytorch 1.1, which is not compiled (optimized) for cuda compute capability 8.x (Ampere). Please get the latest CUDA 11. For better performance, please also get the latest pytorch source code, and build them with `TORCH_CUDA_ARCH_LIST=8.6`.

[2020-09-19 09:52] v0dro commented on #22378
After much deliberation and revisions, scatter reductions for both CPU and CUDA are now complete. https://github.com/pytorch/pytorch/pull/41977 for CUDA, https://github.com/pytorch/pytorch/pull/36447 for CPU. Both implementations exist for addition and multiplication since @ngimel determined the subtraction and division to be unnecessary. The CPU implementation is always deterministic since the th

[2020-09-19 10:19] seighail3 commented on #45021
Not even released yet, holy kek

[2020-09-19 10:55] KaiHoo commented on #28950
@SsnL @ShuangjunLiu I can also repeat the error with torch 1.5.0
[code]

[2020-09-19 11:29] DarshanAwachat opened #45027 "Static build Error"
@peterjc123
I have statically build libtorch on windows successfully using the below commmands. After that when I try to link libtorch to the project I get the LNK2019 Unresolved External Symbol error?Is there anyway to solve this

The libraries I am linking are

Caffe2_perfkernels_avx.lib
Caffe2_perfkernels_avx2.lib
Caffe2_perfkernels_avx512.lib
c10.lib
caffe2_protos.lib
clog.lib
cpuinfo.lib
cpui

[2020-09-19 12:48] swecomic opened #45028 "GeForce RTX 3080 with CUDA capability sm_86 is not compatible with the current PyTorch installation."
## Edit: If you see this error, please go to https://pytorch.org/get-started/locally/ and download a wheel built with cuda 11.x

---

**Hi

I recently purchased RTX 3080 and got this error
==========================
GeForce RTX 3080 with CUDA capability sm_86 is not compatible with the current PyTorch installation.
The current PyTorch install supports CUDA capabilities sm_37 sm_50 sm_60 sm_61 sm_7

[2020-09-19 14:16] WangWenhao0716 commented on #45021
Thanks for your reply. I have used your method. However, the problem is
nvcc fatal   : Unsupported gpu architecture 'compute_86'
I do not know how to do it?

[2020-09-19 14:17] WangWenhao0716 commented on #45028
I have the same problem. Toooooo sad

[2020-09-19 14:24] manwan opened #45030 "The "LibToLib 1.5.0" or "LibToLib 1.4.0" fail to be built in Xcode 12"
## 🐛 Bug

After upgrading the Xcode from Xcode 11.x to Xcode 12, the https://github.com/pytorch/ios-demo-app build fails.

## To Reproduce

Steps to reproduce the behavior:

1. Upgrade the Xcode 12.0 and iOS 14.0
2. Run git clone https://github.com/pytorch/ios-demo-app.git
3. Build the ios-demo-app
4. Get error
"In ./ios-demo-app/PyTorchDemo/Pods/LibTorch/install/lib/libXNNPACK.a(up4x9-aarch64-neo

[2020-09-19 14:27] Hersue commented on #18104
Hi KosmonautX,
Did u find out the solution for this problem? I met the same error when loading .pt file by torch.load().
Regards.

[2020-09-19 14:41] swecomic commented on #45028
I just installed cudatoolkit 11.0 and tried to install pytorch 1.6.0, but only pytorch-CPU version is available.
Anyone else facing the same problem?

[2020-09-19 15:02] KosmonautX commented on #18104
Hey @yuan-commits and @Hersue, pickle as an object serialization module should support persistence and transport between operating systems but I was unable to solve it back then with a deadline, from what I recall I conducted both pre-processing and training within a GPU-enabled container instance. Protocol 4 should be cross-compatible across python versions.
Here is [more information](https://www

[2020-09-19 15:17] Sleepwalking commented on #45028
@swecomic It seems to work if you switch to the nightly builds, which also means it's the in-development 1.7.0, instead of the stable release (1.6.0).
```conda install pytorch torchvision cudatoolkit=11 -c pytorch-nightly```

I got RTX 3080 working on this configuration but I'm getting some stability issues. Training goes well for a few minutes and then hangs.

[2020-09-19 17:50] xwang233 commented on #45021
Seems like the latest cuda version doesn't support sm_86 yet. Can you try `TORCH_CUDA_ARCH_LIST='8.0+PTX'`?

[2020-09-19 18:38] Khoa-NT commented on #42654
I have the same error when in Dataset I return a dict that contains a list.

[code]

[2020-09-19 18:45] ngimel commented on #45028
cc @ptrblck for training hangs on 3080. @Sleepwalking do you have a script to reproduce the issue?

[2020-09-19 19:14] krishnansr commented on #4518
This worked with following config,
Windows 10
cudatoolkit 10.0.130
pytorch 1.4.0
msvc-runtime

Thanks for the pypi package!

[2020-09-19 19:17] fostiropoulos commented on #44917
The error carries out in the implementation

https://pytorch.org/docs/stable/_modules/torch/optim/sgd.html#SGD

[code]

### Analysis of differences
#### Problem 1:

Wrong interpretation of SGD algorithm by [Sutskever et. al. (2013)](http://proceedings.mlr.press/v28/sutskever13.pdf)

[code]

Should instead be (notice the signs):

[code]

#### Problem 2:

Momentum as it currently is implemented resu

[2020-09-19 20:25] mruberry commented on #38349
In that case you could just use cat?

[2020-09-19 20:32] vadimkantorov commented on #38349
It's a question about allocation. As you know, any dynamic array (like python's list or otherwise) doesn't just use cat and reallocate at every extend call. They usually reallocate assuming some growth factor (of range of 2), this lets to allocate fewer times, at the expense of over-allocating.

[2020-09-19 20:57] rsboaventura commented on #34612
The following command solved the problem for me (CUDA 11.0):

pip install torch===1.6.0 torchvision===0.7.0 -f https://download.pytorch.org/whl/torch_stable.html

[2020-09-19 21:22] mruberry commented on #38349
I don't really see how that applies to append. It would allocate its output like anything else without additional changes to PyTorch's memory allocators to support some kind of hinting.

[2020-09-19 21:42] vadimkantorov commented on #38349
It depends on how you choose to implement append. My version pre-allocates larger buffers, so that following small appends do not lead to reallocations.

I have not proposed or discussed changes to allocators wrt to append-like functionality, so cannot comment about that.

[2020-09-19 21:53] WangWenhao0716 commented on #45021
Thanks, I have tried TORCH_CUDA_ARCH_LIST='8.0+PTX'. The problem "nvcc fatal : Unsupported gpu architecture 'compute_86'" is gone. And I compile it successfully. By the way, " a cuda 11 pytorch nightly" also works well.

However, a warning indicates:
GeForce RTX 3080 with CUDA capability sm_86 is not compatible with the current PyTorch installation.
The current PyTorch install supports CUDA capabi

[2020-09-19 21:58] WangWenhao0716 commented on #45021
I'm wondering when and whether the pytorch/Nvidia official can give support to sm_86?

[2020-09-19 22:01] xwang233 commented on #45021
Thanks. Are you able to train network on that install? If not, then we may have to wait for the next cuda release that supports sm_86.

[2020-09-19 22:02] WangWenhao0716 commented on #45021
I will try it and give your feedback later.

[2020-09-19 22:04] WangWenhao0716 commented on #45021
Currently, I try:
import torch
X = torch.rand((64,3,256,128)).cuda()
import torchvision
model = torchvision.models.resnet50()
model = model.cuda()
print(model(X))

It works well.

[2020-09-19 22:06] xwang233 commented on #45028
Related https://github.com/pytorch/pytorch/issues/45021

[2020-09-19 22:23] benprofessionaledition commented on #44469
I got this exact same error message from torch.jit.trace indirectly while using Tensorboard. The problem was a shape mismatch within the network due to the shape of what I was feeding through it. I would check to make sure that that tensor "x" is actually capable of being run through the network before calling anything from torch.jit, since at that point you're at the mercy of native code a millio

[2020-09-19 23:57] AmeetR opened #45038 "Cuda error "an illegal memory access was encountered""
I am running a baseline MNIST network on a new Windows 10 machine, with two RTX Quadro 5000s. I'm able to get training to work with the following code, but for some reason evaluation is not working - giving me an illegal access memory: I'm running pytorch 1.6, torchvision 0.7.0, cudatoolkit 10.2.

`
import torch.nn as nn
import torch.nn.functional as F
torch.cuda.set_device(1)

## Define the NN ar

[2020-09-19 23:59] AmeetR commented on #45038
This has been baffling me and has no issues running on CPU.

[2020-09-20 00:01] AmeetR commented on #45038
I'm also using jupyter lab if that makes a difference.

[2020-09-20 00:20] WangWenhao0716 commented on #45021
@xwang233
The Deep Learning Performance Test for 3080
Test environment:
One 3080 GPU (provided by Colorful), PyTorch ‘1.7.0a0+9e5045e’,
One 1080Ti GPU (Founder Edition), PyTorch ‘1.1.0’
The PyTorch for 3080 is a beta version, and it is compiled by myself using CUDA 11.0. However, 3080 with CUDA capability sm_86 is not compatible with this version. Therefore, performance is limited.
Backbone: ResNe

[2020-09-20 02:34] cth7 commented on #38572
Closing this as that driver checking function has been removed (https://github.com/pytorch/pytorch/pull/42249), making this irrelevant.

[2020-09-20 02:34] #38572 closed

[2020-09-20 02:35] cth7 commented on #39256
Resolved by https://github.com/pytorch/pytorch/pull/39273.

[2020-09-20 02:35] #39256 closed

[2020-09-20 02:53] minghuisvn opened #45040 "using torch.utils.data.Dataset to make my dataset, find the index is out of the len defined in the __len__"
## ❓ Questions and Help
I used the Dataset abstract class to construct my dataset, but unexpectedly found that the index range in __getitem__  did not correspond the len defined in the __len__ . In fact, the index range is greater than 0~len(dataset). My test code is as below:
[code]
the result was as follows:
3195
0
1
2
...
3205
3206
3207

I am confused by the way which define the index range.

c

[2020-09-20 03:24] TonyLianLong opened #45041 "`torch.mean` does not produce correct output on CPU"
## 🐛 Bug

`torch.mean` does not produce correct output. It runs on CPU.

## To Reproduce

Steps to reproduce the behavior:

1. Install PyTorch:  ```
2. ```torch.ones((20000,1000000)).mean()```
This outputs:
```tensor(0.2147)```

## Expected behavior
It should be 1.

## Environment

[code]

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/p

[2020-09-20 03:40] zyXu1996 opened #45042 "torch.distributed launch.py is hanged. (pid, sts) = os.waitpid(self.pid, wait_flags)"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.running in the terminal :python3.5 -m torch.distributed.launch --nproc_per_node=2 --master_addr 127.0.0.2 --master_port 29501 train.py
1.after many epochs training, it randomly hanged, The procedure still exists but hanged
1.This often happens on weight models, a light-weight model that only runs for several hours or one day usually do

[2020-09-20 03:47] zyXu1996 commented on #45042
`the code setting like:
parser.add_argument("--local_rank", type=int, default=0)

 cudnn.benchmark = True
 cudnn.deterministic = False
 cudnn.enabled = True
 distributed = True
 device = torch.device(('cuda:{}').format(args2.local_rank))

    if distributed:
        torch.cuda.set_device(args2.local_rank)
        torch.distributed.init_process_group(
            backend="nccl", init_method="env://

[2020-09-20 05:43] Sleepwalking commented on #45028
@ngimel Thanks for the attention. I find it hard to come up with a minimal example because it can take anywhere from 5 minutes to an hour to reproduce this issue, but I managed to get a trace of the callstack when it froze. Smells like a deadlock.
[code]

Full log is [here](https://pastebin.ubuntu.com/p/frJBcTyqCt/).

[2020-09-20 06:32] swecomic commented on #45028
@Sleepwalking
Thanks. I'm trying training now and it's working fine without any problem so far.

[2020-09-20 07:09] xw285cornell opened #45044 "torch rpc cannot handle UnsupportedNodeError exception"
## 🐛 Bug

torch/distributed/rpc/internal.py: handle_exception() function (https://github.com/pytorch/pytorch/blob/master/torch/distributed/rpc/internal.py#L177): if the exception is type is UnsupportedNodeError (https://github.com/pytorch/pytorch/blob/master/torch/jit/frontend.py#L105), the program will crash with "positional argument offending_node not found".

## To Reproduce

Steps to reproduce

[2020-09-20 07:13] fan-of-dark commented on #35873
Hi friends , I encountered the similar error while installing fastai-cpu into local windows 10 using conda.

Pip subprocess error:
ERROR: Could not find a version that satisfies the requirement torch==1.4.0  (from torchvision>=0.1.9->-r C:\Users\windows\fastai\fastai\condaenv.pkqlr_xm.requirements.txt (line 1)) (from versions: 0.1.2, 0.1.2.post1, 0.1.2.post2)
ERROR: No matching distribution found

[2020-09-20 07:22] liushuai839 commented on #44944
Now I want to  achieve this function in pytorch, e.g. a[b] and  a is the learnable parameter ,It can be updated by the back propogation.  Could you give me some advice? It confused  me for a few days.

[2020-09-20 07:32] mcarilli commented on #44724
Probably another function needs to be added to the cast lists.

[2020-09-20 07:39] kshitij12345 commented on #9190
[code]

[2020-09-20 07:44] AinzWoolGoun commented on #45022
After debug the C++ of PyTorch, I find that is my broken CPU that cause the problem. It is the iteration of GPU memory recycle that  cost so much time with low performance CPU.

[2020-09-20 07:54] Sleepwalking commented on #45028
Please ignore my previous post. In the next few trials, the code always freezes during `Tensor.item()` calls, instead of the callstack posted above. So I might have attached to the wrong process.

[code]

https://pastebin.ubuntu.com/p/9JvhhXMzBD/

Here's a minimal example that reproduces this issue. Note that the chance of freezing is **extremely** low per iteration. You might need to wait for hou

[2020-09-20 10:43] #45030 closed

[2020-09-20 11:54] FzuGsr commented on #39240
Sorry，I was busy with other things and forgot about it

I run the demo HelloWorldApp and get the score. Results v7a and v8a were inconsisten.

eg：
v8a scores：
 0.04438868 -0.2466146 0.026746958 -0.2277736 -1.2187537 0.24902838
v7a scores：
 0.05209251 -0.26059324 0.021892326 -0.2502968 -1.2437805
[code]

I want to get the probability of prediction. What should I do to make the results consistent ?

[2020-09-20 13:05] wZuck opened #45047 "Question about QAT demo"
When i try PyTorch QAT Demo [GitHub File](https://github.com/pytorch/tutorials/blob/master/advanced_source/static_quantization_tutorial.py) [Webpage](https://pytorch.org/tutorials/advanced/static_quantization_tutorial.html#quantization-aware-training), i want to know how to find the scale and zero_point of the activations?

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a @vkuzo

[2020-09-20 13:37] mariosasko commented on #45040
Could you please provide the code of your class (that is a sublass of `torch.utils.data.Dataset`).

[2020-09-20 14:24] peterjc123 commented on #45038
Please run the following code block first before you `import torch`.
[code]
With this code block, the CUDA calls are synchronous, so you may be able to find out what's wrong there.

[2020-09-20 14:30] peterjc123 commented on #45038
It seems that you forget to move the output data back to CPU using `.cpu()`. As you can see, the variables `loss`, `output`, `target` and `pred` are all on GPU.

[2020-09-20 14:35] agadetsky commented on #38681
@nikitaved seems like #39744 is finished. Will you be able to work on adding stable sort/argsort?

[2020-09-20 16:26] acxz commented on #44384
Arch Linux users are also facing this issue: https://github.com/rocm-arch/python-pytorch-rocm/issues/6

[2020-09-20 17:06] phizaz opened #45048 "Autocast with LSTM cell (with bias) produces "expected scalar type Half but found Float""
## 🐛 Bug

LSTM cell with bias produces "expected scalar type Half but found Float" error when called within an autocast context.

## To Reproduce

[code]

Error produced:
[code]

Note that there is no problem while setting `bias=False`.

## Expected behavior

No error.

## Environment

 - PyTorch Version (e.g., 1.0): 1.6.0
 - OS (e.g., Linux): Ubuntu 18.04
 - How you installed PyTorch (`conda`, `p

[2020-09-20 17:29] xwang233 commented on #45041
See https://github.com/pytorch/pytorch/issues/44350

[2020-09-20 18:13] leriomaggio commented on #13617
I do believe @soumith is right!
I did the very same mistake, accidentally picking ppc64 version instead of x86.

I would suggest to close this issue and marked as solved 👍

[2020-09-20 19:10] ngimel commented on #44724
I don't think adding a function to the cast list is going to help, mismatch happens in the inplace operation that are not particularly well handled by casts? https://github.com/pytorch/pytorch/blob/5f692a67dba3f8f01e3c4b1cb52a8624e1056874/torch/nn/modules/adaptive.py#L202.
The solution is probably to create output only when it's type is known.

[2020-09-20 20:23] rohan-varma commented on #37002
Might be my lack of understanding, but was wondering why we have to run in delay allreduce mode to keep track of this? With the current mode where comm/comp are overlapped, won't we be able to get this information by counting how many parameters have their autograd hooks fired?

[2020-09-20 20:35] abhinavkulkarni commented on #45016
Thanks, this is solved by using proper move semantics.

[2020-09-20 20:35] #45016 closed

[2020-09-20 21:20] wahlberg82 commented on #31985
I'm in the same situation. I'm building a plugin for a commercial host application. This plugin, which is in the form of a shared library (.so file), is statically linking libtorch (i.e. it's baking all of it into it's own so file). The only libraries that are dynamically linked against are the CUDA libs. This plugin needs to be portable to other systems without the need to install lots of depende

[2020-09-20 21:29] ironhide23586 commented on #4534
Facing this issue even after calling model.eval()

[2020-09-20 22:08] ngimel commented on #45041
This was fixed in #39516

[2020-09-20 22:08] #45041 closed

[2020-09-20 22:11] ngimel commented on #45048
Duplicate of #42605, this was fixed in #44296

[2020-09-20 22:11] #45048 closed

[2020-09-20 23:19] andrew-bydlon commented on #28871
Is there any progress on this?  This would also solve https://github.com/pytorch/pytorch/issues/3025 very naturally.

[2020-09-21 00:06] SharonBarak opened #45051 "Custom Datatypes in Tensors"
## 🚀 Feature

The ability to create tensors with custom objects.

## Motivation

I'm working on machine learning with homomorphic encrypted data, which is stored in a Python class with operator overloading. Currently tensor attributes can be one of a few primitive types, and I am not able to create a Pytorch tensor which holds this data.

## Pitch

Numpy is able to create ndarrays holding custom P

[2020-09-21 02:14] zhanghang1989 commented on #44594
Solved by using this solution https://github.com/pytorch/pytorch/issues/42271#issuecomment-666055175

[2020-09-21 02:14] #44594 closed

[2020-09-21 02:28] zhangmeteor commented on #45030
We are facing the same issue, How was it resolved?

[2020-09-21 02:52] mruberry commented on #28871
No progress that I'm aware of, sorry.

[2020-09-21 03:06] ezyang commented on #10223
Another question; was this code derived from scratch, or is it taken from an existing paper? (If so, can we get a citation for that paper?)

[2020-09-21 03:59] konioyxgq opened #45053 "about benchmark issue"
Under the condition of benchmark=true, the training is repeated twice, and each training epoch=50, the model trained twice has a much worse effect on the test set. I know that in the case of benchmark=true, it is not reproducible during training, but the result is a bit worse, and the recall rate has dropped from 40.3% to 39.5%. Is this within the expected range?

[2020-09-21 06:42] zxk19981227 opened #45056 "Why an error occured when i used a linear and out+=bias caused a problem that out and bias on the different device"
I implement the transformer model  and when i meet this strange question.

[code]
the error is just like above. if i delete the bias, the error dismissed.

[2020-09-21 06:49] hbwx24 opened #45057 "How can the assert error message be at the end"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[code]
Dear developer:
My pytorch is version 1.1. The assert in cuda takes effect fi

[2020-09-21 08:07] Anku5hk commented on #4207
One solution is to download torch .whl file manually, by going to [here](https://download.pytorch.org/whl/torch_stable.html). Then inside conda(anaconda command prompt), install it via `pip install file_location/file.whl` .Also for cudnn check this [doc](https://docs.nvidia.com/deeplearning/cudnn/install-guide/index.html#install-windows). This worked for me.

[2020-09-21 08:20] lizezheng commented on #34707
came across the same error when export script model via torch.jit.script(MyTransformerModel)
output of collect_env.py  is:

Collecting environment information...
PyTorch version: 1.4.0
Is debug build: False
CUDA used to build PyTorch: 10.0
ROCM used to build PyTorch: N/A

OS:
GCC version: (GCC) 5.1.0
Clang version: 3.4.2 (tags/RELEASE_34/dot2-final)
CMake version: version 3.9.2

Python version: 3.

[2020-09-21 08:41] daemontoxa commented on #45030
@manwan @zhangmeteor Yep, see the same problem when building on real devices. Have you solved it?

[2020-09-21 08:42] superlyy commented on #44143
same issue here

[2020-09-21 09:08] DarshanAwachat opened #45058 "static build"
I want to build libtorch statically on windows for cpu. Any ideas on how to do it?
@peterjc123

cc @malfet @seemethere @walterddr @peterjc123 @maxluk @nbcsm @guyang3532 @gunandrose4u @smartcat2010 @mszhanyi

[2020-09-21 09:09] liym27 opened #45059 "How to view C++ error report stack of pytorch?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2020-09-21 09:15] realiti4 opened #45060 "Windows source build fails with 'error LNK2019' at linking stage"
Pytorch master source build fails at linking stage with 'error LNK2019'. I am using MSVC 19.27 and cmake 3.18.2. I haven't use CUDA in this build log to reproduce it faster, but enabling it also gives the same result. These are the variables that I set before build:

[code]

**Error:**
[code]

**Full log is attached.**

[log.txt](https://github.com/pytorch/pytorch/files/5254393/log.txt)

 - PyTorc

[2020-09-21 09:21] miranov25 commented on #29209
Hello @mruberry  and @pl0xz0rz

I have comments related to related to pull request  https://github.com/pytorch/pytorch/pull/44485 in context of this issue https://github.com/pytorch/pytorch/issues/29209

- Parallel version - thread https://github.com/pytorch/pytorch/pull/44485#pullrequestreview-491874925
  - for future version explicitly parallel version is preferable
- Weights:  thread https://gi

[2020-09-21 09:24] pavlonadolynskyi commented on #44143
same ...

[2020-09-21 09:42] IvanYashchuk opened #45061 "Complex-valued symmetric eigendecomposition"
## 🚀 Feature
Support for complex-valued `torch.symeig`.

## Motivation

Expanding complex numbers support for linear algebra routines.

Ref. #33152

cc @ezyang @anjali411 @dylanbespalko @vincentqb @vishwakftw @jianyuh @nikitaved @pearu

[2020-09-21 09:55] nikitaved commented on #45061
Upvote for the Hermitian decomposition. I could work on the backward part once forward is done.

[2020-09-21 09:58] nikitaved commented on #38681
I will, but not until the beginning of next week. The CPU part is straightforward, the CUDA part will certainly require port, unless `stable_sort` is a separate routine. But, I presume, it is better to be just `sort` with an additional flag.

[2020-09-21 10:10] nikitaved commented on #38353
LOBPCG and low-rank SVD do not support backward yet, I am working on it now.

The code from above could be modified to eliminate the Identity matrix, as it is not needed explicitly.
The `mxm` projection matrix is needed, but, I presume, it is possible to use some associativity to lighten the memory/computational burden a bit, exactly as you suggest, @mattorourke17.
Would you like to submit a PR?

[2020-09-21 10:16] xkszltl opened #45062 "Too few arguments to vulkanOptimizeForMobile()"
## 🐛 Bug

Build failed.
This is a recent regression in the past few days.

<img width="1084" alt="image" src="https://user-images.githubusercontent.com/5203025/93755672-48eac380-fc36-11ea-8783-1df8dc415ec3.png">

This PR may be the reason: https://github.com/pytorch/pytorch/pull/44903

## Environment

 - PyTorch Version (e.g., 1.0): master
 - OS (e.g., Linux): CentOS 7
 - How you installed PyTorch

[2020-09-21 10:19] nikitaved opened #45063 "`transpose` doing conjugation for complex input by default"
## 🚀 Feature
As per title

## Motivation
Allows not to think too much whether input is complex or real for most linear algebra algorithms.
Eliminates the necessity to modify backward for some functions.

[2020-09-21 10:37] IvanYashchuk commented on #43349
This was fixed in #43208.

[2020-09-21 10:57] lamhoangtung commented on #44708
Thanks for the help @SplitInfinity. I can confirm that 1.7 solved the problem :D

[2020-09-21 10:57] #44708 closed

[2020-09-21 13:06] MarouaneMaatouk opened #45064 "CXXABI_* and GLIBCXX_* not found on gcc 4.8.2 after building Pre-cxx11 ABI Libtorch from source using gcc 5.4.0"
## CXXABI_* and GLIBCXX_* not found on gcc 4.8.2 after building Pre-cxx11 ABI Libtorch from source using gcc 5.4.0

Hi,
After trying to build the libtorch (Pre-cxx11 abi) from source using gcc 5.4.0, using the following steps :

[code]

Then after switching to an older gcc 4.8.2, the command ```ldd libtorch.so``` throws some errors :

[code]
I also tried with no success to hardcode the value of ``

[2020-09-21 13:16] paantya commented on #41794
@rgommers The problem is that I am expecting a hint about the available content afte the` torch.utils `, but I am not getting it.

[2020-09-21 14:13] DarshanAwachat commented on #44814
@peterjc123 Any other ways to tackle this problem. Or can you tell me a way to build static libraries for windows?

[2020-09-21 14:14] albanD commented on #15786
Sounds good, thanks for the update.

[2020-09-21 14:14] #15786 closed

[2020-09-21 14:17] ezyang commented on #22378
sgtm

[2020-09-21 14:20] mrshenli opened #45067 "DISABLED test_rpc_profiling_remote_record_function (__main__.TensorPipeRpcTestWithSpawn)"
https://app.circleci.com/pipelines/github/pytorch/pytorch/216602/workflows/27933844-4828-44d7-bcfa-af3ce27766c0/jobs/7620849/steps

[code]

[code]

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @jjlilley @osalpekar @jiayisuse @mrzzd @agolynski @SciPioneer @H-Huang @cbalioglu @xush6528

[2020-09-21 14:27] ezyang commented on #45063
We can (and should) add a hermitian operator; but I'm pretty unconvinced that we should silently assume the user meant H when they say T, in contravention of mathematics.

[2020-09-21 14:27] ezyang commented on #45063
cc @boeddeker

[2020-09-21 14:30] ezyang commented on #38349
FWIW, Caffe2 had append too. It is a useful operation for certain use cases, although it is somewhat questionable whether or not these use cases should actually be done with tensors haha.

[2020-09-21 14:48] mrshenli commented on #45067
https://app.circleci.com/pipelines/github/pytorch/pytorch/216370/workflows/9a281875-b888-429f-9758-27841741e0de/jobs/7609155/steps

[2020-09-21 14:55] boeddeker commented on #45063
I think most people know numpy.
In numpy the transpose function does only transpose (Beside doing slightly different things).

When reading the literature, many people say "conjugate transpose" (e.g. [1]), so implementing the `transpose` operation to do also a conjugate, it would lead to confusion.

A hermitian operator could help to reduce the overhead to zero for complex gradients, when they are

[2020-09-21 15:00] arquolo commented on #38645
However, this does not happen when `pytorch` is installed in `cpuonly` mode.

Given binary size (*.dll + *.pyd files) of 200 MB for CPU-only version of PyTorch each subprocess commits about 60 MB of RAM.
PyTorch built with CUDA has 1.2 GB binaries and commits about 1.3 GB of RAM.

I guess pytorch built with CUDA preloads all DLLs for each subprocess, what it shouldn't do.
At least until any `Tenso

[2020-09-21 15:00] agolynski commented on #44930
Could you post on discussion forum?

[2020-09-21 15:00] #44930 closed

[2020-09-21 15:08] albanD commented on #10223
The code was derived from scratch I'm afraid.

Just to be sure that I read the scheme code correctly, what it does is handle a largest level in any input and then call into the original function again after unpacking the selected level. So in case of nested level, the original function is called with a dual object again and ends up in this function again.

For the first version that does not handl

[2020-09-21 15:11] agolynski commented on #44943
@One-sixth My guess would be that cuda kernel ops are more efficient on contiguous tensors.

[2020-09-21 15:14] soumyadipghosh commented on #34862
@prabhuomkar Thats great! Are you aware of anything similar for ImageNet?

[2020-09-21 15:15] ezyang commented on #10223
I haven't absorbed all of the comment here yet, but I do want to agree on one point: for efficiency reasons, I agree it will probably be better to do all the levels at once. I'd just like us to explicitly acknowledge this as a performance optimization and understand the semantics in terms of the recursive version.

[2020-09-21 15:29] agolynski commented on #44969
referencing https://discuss.pytorch.org/t/tensordot-does-not-support-bool/96750

[2020-09-21 15:33] nikitaved commented on #45063
Tensorflow allows conjugation in `transpose`, although it does not do that by default.
In inner-product spaces over reals `T` is essentially an adjoint operator, so is `H` over complex numbers.
Then, what do you think about a method like `adjoint`? In most backward implementations `T` exactly is adjoint.

[2020-09-21 15:40] kurtamohler commented on #24802
Closing because the issue's request has been fulfilled. I will open new issues/PRs for the few remaining tasks:

* Add dtype arg support to nuclear and frobenius norm
* Add named tensor support in matrix norm
* Use out variants of functions called from linalg_norm_out_impl

[2020-09-21 15:40] #24802 closed

[2020-09-21 15:56] rgommers commented on #41794
Then you have to do `import torch.utils` and you will gets hints for what's in that namespace.

[2020-09-21 15:57] agolynski commented on #44989
@vadimkantorov Seems like unfold is only supported on floating and complex types.

Could you file mode() request in a different issue?

[2020-09-21 16:04] vadimkantorov commented on #44989
Already done :) https://github.com/pytorch/pytorch/issues/45009

[2020-09-21 16:22] #44482 closed

[2020-09-21 16:41] anjali411 commented on #45063
I agree with @boeddeker here. I think we should follow the numpy semantics and only perform conjugate transpose when user calls `tensor.H`.

As Ed pointed out, I think tensorflow's behavior to return conjugate transpose for `torch.transpose` is unintuitive mathematically.

[2020-09-21 16:42] MrStarry commented on #45028
I am currently using Windows10, python3.7, cudn11, and installed pytorch1.7 using the following command:
_**pip install --pre torch torchvision -f https://download.pytorch.org/whl/nightly/cu110/torch_nightly.html**_
The warning still exists, but the program can run normally and achieve the expected effect

[2020-09-21 16:44] vkuzo commented on #44850
looks like the user code can be refactored to avoid `float` as well by casting the other operand to float and relying on Python's casting rules for calculations with int + float.  Closing for now, will reopen if this is blocking.

[2020-09-21 16:44] #44850 closed

[2020-09-21 16:47] pearu commented on #45063
`transpose` (or `T`, in short) should do transpose only.

For conjugate transpose, I suggest introducing the method `transjugate` (or `H`, in short) as in https://en.wikipedia.org/wiki/Conjugate_transpose

Adjoint is specific to square matrices.

[2020-09-21 16:57] anjali411 commented on #33152
@jmlemercier it exists on the master and will be released in 1.8 release in October.

[2020-09-21 17:02] ezyang commented on #44714
@SsnL It would be better to do the check inside `randperm_out`, no?

[2020-09-21 17:03] ezyang commented on #44692
I think it can be up to the ONNX team to decide whether or not to mark this high prio or not.

[2020-09-21 17:07] gchanan commented on #44945
CC @zhangguanheng66

[2020-09-21 17:17] jamesr66a commented on #44849
@vkuzo `is_tracing()` is a gateway to introducing tech debt in user's code (e.g. we don't want to get in this situation: https://fburl.com/codesearch/omqla0l2, it makes the code too complicated and ruins test cover) so we'd like to avoid that. IMO we should bias toward first-class solutions here, e.g. `torch.assert`. BTW if you (or someone else) want to send a PR to add that op, I can review it

[2020-09-21 17:19] zhangguanheng66 commented on #44945
Link a relevant PR for this https://github.com/pytorch/pytorch/pull/42323

[2020-09-21 17:22] cpuhrsch opened #45072 "nn.Module.script"
## 🚀 Feature

## Motivation

There is a pervasive pattern within the PyTorch community where users have the need to prepare a Module before calling torch.jit.script. An example here might include replacing an instance of an object with an instance of its JIT-able equivalent (e.g. [PyText ScriptVocab](https://github.com/facebookresearch/pytext/blob/master/pytext/torchscript/vocab.py#L12)) for deplo

[2020-09-21 17:23] cpuhrsch commented on #45072
cc @zdevito @gchanan @zhangguanheng66 @suo @jamesr66a @dongreenberg @mthrok @vincentqb

[2020-09-21 17:23] jamesr66a commented on #44849
In addition to `torch.assert` we could also explore doing an AST rewrite on `forward` methods that are being traced to automatically convert `asset` statements to callsites to that. Don't think it would be too difficult and would open the door to more friendly workarounds in the future

[2020-09-21 17:24] jamesr66a commented on #44851
Can this be refactored as an operator? It seems like a sufficiently low-level operation that that might be worth it for multiple reasons (tracing, potential perf optimization, etc)

[2020-09-21 17:33] rkube opened #45073 "Compilation errors on power-pc"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. git  git@github.com:pytorch/pytorch.git; cd pytorch
2. git checkout tags/v1.6.0
3. git submodule sync
4. git submodule update --init --recursive
5. Activate conda environment
6. conda activate ml
7. export CMAKE_PREFIX_PATH=${CONDA_PREFIX:-"$(dirname $(which conda))/../"}
8. MAX_JOBS=128 python setup.py install

## Expected behavior

[2020-09-21 17:35] supriyar commented on #43679
Hi @jamesr66a, what is the plan to support this going forward? The exact issue faced is in symbolically tracing transformer models (mentioned in #44665). There seems to be other places in the code where they use `view` on shape - https://github.com/huggingface/transformers/blob/master/src/transformers/modeling_bert.py#L289

[2020-09-21 17:50] malfet commented on #44964
Such aliases are already used in the module definitions, but apparently are unwrapped when documentation is generated:
https://github.com/pytorch/pytorch/blob/acc2a1e5fabe3c322927be72e0aa5d2e02bae46c/torch/nn/modules/pooling.py#L17-L19

[2020-09-21 17:53] gmagogsfm commented on #44940
Are you, by any chance, running python `import torch` under `pytorch` folder?

[2020-09-21 17:57] vadimkantorov commented on #44964
maybe it's also worth to promote them to "first class" and remove leading underscore from "_size_any_t" and give it a more comprehensible name such as "int_or_inttuple" (or sth else, but semantics of word "any" here is not very clear)

[2020-09-21 17:57] malfet commented on #44948
Thank you for reporting the issue. Comment is indeed out of date. (I think the warning should be emitted if either GFLAGS or GLOG is used or if we are building with customer PROTOBUF)
Please feel free to submit the PR to address the issue and I will review it.

[2020-09-21 18:16] SsnL commented on #44714
@ezyang It depends on whether we want to allow `torch.randperm(..., generator=a_cuda_gen)`.

[2020-09-21 18:25] ezyang commented on #10223
This implies the invariant that res.level >= level, IIUC? Because if there are lower levels and you call primal on a higher level, the strictly correct thing is to delete all the lower levels too.

One downside of doing it this way is if the levels are very sparse, you are still going to end up traversing all of them in this formulation.

Overall, now that you are allocating new tensors for each l

[2020-09-21 18:26] ezyang commented on #22378
@ngimel is going to respond here

[2020-09-21 18:41] gchanan commented on #45072
CC @dzhulgakov

[2020-09-21 18:42] gchanan commented on #45072
we have other "prepare for running in other mode" APIs already, right?  I'm thinking about some of the packing work that @jamesr66a worked on.

[2020-09-21 18:49] erjia-guan commented on #43502
Just make some notes for the second scenario, as the worker is killed by user.
By injecting a traceback function within the signal hander in **DataLoader.cpp**
[code]
[code]

Since there are ways to traceback of **KeyboardInterrupted** and trace stack of `SIGTERM`, we can determine the methodology to log these information (may setting up a DEBUG flag) in the future.
cc: @VitalyFedyunin

[2020-09-21 18:58] cpatrickalves commented on #29893
os.environ['LRU_CACHE_CAPACITY'] = '1' also work for me, THANKS!

[2020-09-21 19:22] #13617 closed

[2020-09-21 19:32] kurtamohler commented on #26596
To me, it seems like we have at least two options to solve this issue:

1. Keep the current behavior and update `torch.nn.Embedding`'s documentation to mention the in-place modification. Then the user will just have to make sure to clone the weight tensor before using it for another calculation. Note that in the repro script above, replacing the line `a = embedding.weight @ W.t()` with `a = embedd

[2020-09-21 19:34] leximester commented on #44143
I have the same issue

[2020-09-21 19:34] malfet commented on #45027
Can you please try to reproduce the same issue by following [Using PyTorch C++ Frontend](https://pytorch.org/tutorials/advanced/cpp_frontend.html) tutorial (and generating MSVC project from CMakeLists.txt)?

I'm going to close the issue for now, as it sounds more like a question/help request, which better be discussed at https://discuss.pytorch.org/c/c/11

If not, please do not hesitate to reopen

[2020-09-21 19:34] #45027 closed

[2020-09-21 19:35] #43761 closed

[2020-09-21 19:43] yaokmallorca commented on #44882
@glaringlee
Sorry for the late reply.
Today I downloaded the newest version of Pytorch and Libtorch, and the problem disappeared.
I think it is because Pytorch is too old.

Thank you for your helping.

[2020-09-21 19:44] #44882 closed

[2020-09-21 19:45] jamesr66a commented on #44901
Is `self.encoded_feature_key` a constant? Not clear to me why the values would show up as a Proxy. Can you share the whole stack trace and maybe a minimal repro?

[2020-09-21 19:47] jamesr66a commented on #43679
@supriyar if possible, a workaround would be to manually unpack the shape elements before passing them to `view` e.g. `n, c, h w = x.shape; x.view(n, c, h w)`. Unfortunately I don't think there's an easy solution to this as the control flow used here is embedded deep in the Python interpreter. We might be able to have something long-term via AST rewrites, but that would require more experimentatio

[2020-09-21 19:47] malfet commented on #45073
Thank you very much for reporting the issue. If you have fix in mind already, please do not hesitate to send a PR and I will gladly review it.

[2020-09-21 19:50] rkube commented on #45073
Sorry, I really don't know much about cmake.
I manually worked around it by amending NVCU_FLAGS in Need to change NVCU_FLAGS in vim third_party/nccl/nccl/src/collectives/device/Makefile with "-mno-float128".

[2020-09-21 19:50] mrshenli opened #45082 "RPC _all_gather() can timeout in init_rpc"
`_all_gather()` can timeout waiting for `rpc_async` to followers in `init_rpc`, which is not expected.

https://github.com/pytorch/pytorch/blob/1a580c10216451eb8b1f18da35fb158fdca1ecff/torch/distributed/rpc/api.py#L200-L207

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar @jiayisuse

[2020-09-21 20:53] gmagogsfm commented on #44698
Adding mobile team.

It is a bit strange though that you need `aten::dropout` on a mobile device. Are you training on a iOS? In an inference model, you normally need to strip the model of any `dropout`s.

[2020-09-21 20:55] gmagogsfm commented on #44734
@wanchaol Wanchao, is `wait()` supported?

[2020-09-21 21:06] wmmxk commented on #40457
I run into a similar issue. It turns out self.parameters() is called when figuring out which gpu is used.

In my case, I make the following change to the implementation in hugging face. It works.
[code]

[2020-09-21 21:08] wanchaol commented on #45013
TorchScript is not a pybind11 variant, it's a subset of python. Are you referring to Torchbind that binds C++ class to python? that's still an experimental feature, and we only support limited set of functionality that pybind11 did. I think only thing available in doc is https://pytorch.org/tutorials/advanced/torch_script_custom_ops.html and https://pytorch.org/tutorials/advanced/torch_script_cust

[2020-09-21 21:16] wanchaol commented on #44800
what do you mean by continue training? are you saying that while you are saving this model, you still want this model to be trained concurrently?

If this is the wanted use case, how could it be realistic that during training, you are updating your model parameters, but you still want to save the model? the model saved will simply be in a incorrect state i think.

[2020-09-21 21:17] vadimkantorov commented on #44991
Also, unfolding 1x1x300000 and then applying torch.mode is super slow, even on GPU. Maybe torch.mode doesn't batch on the good dimension...

[2020-09-21 21:18] #43622 closed

[2020-09-21 21:20] rohan-varma opened #45089 "Deadlock in RPC when calling init_process_group"
## 🐛 Bug

The following test should reproduce a deadlock in RPC, using the ProcessGroup backend, where we call `dist.init_process_group` after one rank sends and waits on an RPC:

[code]

In the above case, it seems like ranks 0, 2, 3 call into `init_process_group`, but the RPC from rank 1 gets stuck waiting, and hence 1 never calls into `init_process_group`. Rank 1 then encounters an error that t

[2020-09-21 21:25] kurtamohler commented on #30774
I'm interested in working on this because I want to learn more about JIT. But please excuse my lack of knowledge, I think I need to understand a few things more clearly before I could start working on this.

As far as I understand, when `numel` was removed from `native_functions.yaml`, it now no longer goes through the dispatch code, so it has better performance than it used to. Is that right?

Th

[2020-09-21 21:28] jerryzh168 commented on #44901
sorry, pasted the wrong example before, fixed now.

[2020-09-21 21:40] ngimel commented on #22378
To have parity with pytorch_scatter, we still need scatter_min, scatter_max and scatter_mean. Also, it would be good to have benchmarks comparing performance in pytorch core and pytorch_scatter. @rusty1s is there a good set of benchmarks for scatter operations?

[2020-09-21 21:47] ezyang commented on #30774
I think there's a pretty substantial unknown design component for this, which may make it difficult for non-internals team to work on. I'm happy to answer your questions though, since they should be helpful for whoever eventually works on this.

Yes. numel is manually implemented in TensorBody.h like this:

[code]

if it had a declaration in `native_functions.yaml`, it would have gotten a code gen

[2020-09-21 21:56] ezyang commented on #43144
A good external allocator story would also help rationalize some of our internal diffs like https://github.com/pytorch/pytorch/pull/42006 and https://github.com/pytorch/pytorch/pull/43951

cc @kimishpatel @dreiss

[2020-09-21 21:59] wanchaol commented on #44698
cc @dreiss

[2020-09-21 22:02] kurtamohler commented on #30774
Got it, thanks @ezyang. Since the design decisions need to be made internally, maybe I should put the quansight-nack label on this?

[2020-09-21 22:03] wanchaol commented on #44998
short term can you try registering your own custom operator that do the logging? we are still under discussion on how the packing works for python/non-python envs.

[2020-09-21 22:08] WangWenhao0716 commented on #45028
Its computing performance is limited to some extent.

发自我的iPhone

------------------ Original ------------------
From: MrStarry <notifications@github.com&gt;
Date: Tue,Sep 22,2020 0:42 AM
To: pytorch/pytorch <pytorch@noreply.github.com&gt;
Cc: WenhaoWang <2609667791@qq.com&gt;, Comment <comment@noreply.github.com&gt;
Subject: Re: [pytorch/pytorch] GeForce RTX 3080 with CUDA capability sm_86 is not

[2020-09-21 22:18] wanchaol commented on #44951
thanks for reporting, this should works with scripting but not tracing yet.

[2020-09-21 22:30] xuhdev commented on #42660
@ailzhang Is the error considered a bug (output tensor can't be a different dtype)? Or do you think a correction of error message is already sufficient?

[2020-09-21 22:58] kurtamohler commented on #9382
I can work on this. But first, I want to address how to deal with deprecation. Since we want a function whose behavior matches `numpy.array_split`, I suggest that we create a new function called `torch.tensor_split`, and then we can deprecate the `torch.chunk` method. Does that plan sound good?

[2020-09-21 23:28] malfet commented on #45021
@WangWenhao0716 can you try using PyTorch nightly builds (by running `pip install --pre torch torchvision -f https://download.pytorch.org/whl/nightly/cu110/torch_nightly.html` ) and share the perf difference here?

[2020-09-21 23:35] WangWenhao0716 commented on #45021
@malfet OK, in fact, I have downloaded the nightly version Pytorch and used it. The experiments show a significant improvement on multi-GPUs training because I do not compile Pytorch using NCCL by myself. I will report the detailed results soon.

[2020-09-21 23:41] WangWenhao0716 commented on #45021
@malfet Currently, I'm waiting for the arrival of the last GPU. When it arrives, I will report the performance difference of 4 GPUs between 3080 and 1080Ti.

[2020-09-21 23:42] mruberry commented on #9382
Creating `torch.tensor_split` sounds like a good first step.

[2020-09-21 23:50] malfet commented on #45042
Can you please try reproducing the same issue using PyTorch-1.6.0?

[2020-09-21 23:58] ectersen commented on #45028
This works for me while the one below doesn't.

[2020-09-22 00:01] malfet commented on #45047
Not sure if this the right answer, but you probably can get those by invoking `.calculate_qparams()` method.
Please use https://discuss.pytorch.org/ to ask questions about PyTorch.
And do not hesitate to reopen this issue if you feel like there is something in this tutorial or in PyTorch quantization subsystem that does not work as expected.

[2020-09-22 00:01] #45047 closed

[2020-09-22 00:07] ProGamerGov commented on #19037
It'd be insanely useful to have a PyTorch version of `numpy.cov`!

[2020-09-22 00:09] JiesiZhao077 commented on #45072
PyText is replacing `ScriptVocab` with TorchText's `Vocab`. However we have to add this `to_ivalue` to our transforms in order to scriptify them because of this issue. It would be great if users like us don't need to add this additional function to all layers to keep our interface clean. Thanks! CC @hudeven

[2020-09-22 00:16] malfet commented on #45058
https://github.com/pytorch/pytorch/issues/45027 discusses how to do it. And please, ask general questions on https://discuss.pytorch.org/

[2020-09-22 00:16] #45058 closed

[2020-09-22 00:35] malfet commented on #45053
Can you please give a bit more details, namely exact command you are trying to run, what vesion of PyTorch are you using and so on.

[2020-09-22 00:46] malfet commented on #45057
As `Questions and Help` header suggests, please ask those kinds of questions on the [Discussion Forum](https://discuss.pytorch.org/)

To answer your questions. As GPU code is executed asynchronously from the main application, multiple CUDA kernel can run in parallel, some of them hitting exception earlier while others later.
Or it might be due to a different buffering policies for `stdout` (where

[2020-09-22 00:46] #45057 closed

[2020-09-22 00:51] malfet commented on #44469
@SungmanHong can you please share a collab notebook (or full script) here?

[2020-09-22 00:53] zyXu1996 commented on #45042
OK, I will try it later

[2020-09-22 00:55] malfet commented on #44968
Thank you for your suggestion. We would accept a patch that fixes this.

[2020-09-22 01:03] malfet commented on #45060
Thank you for reporting the issue. It looks like for some reason build system fails to find symbols that should have been generated when compiling `onnx_onnx_torch-ml.proto`

[2020-09-22 01:12] konioyxgq commented on #45053
In the script: 'torch.backends.cudnn.benchmark = True', 'torch.backends.cudnn.deterministic = True'
pytorch1.5+cu92

Distributed training is used:
[code]

[2020-09-22 01:35] malfet commented on #45064
Can you share a few more details how you've built gcc-5.4.0?
By default, GCC is coupled with a version of `libstdc++`, but there is a way to configure the build to use version already available in the system path.
Otherwise, it sort of expected behaviour: shared library/executable compiled against newer version of libstdc++ is not compatible with an old one.

PyTorch binary is build using `devtool

[2020-09-22 01:35] SungmanHong commented on #44469
@malfet
@benprofessionaledition

Sorry for the late response.
I posted the same question on the Pythorch community site.
( https://discuss.pytorch.org/t/no-module-named-torch/95856 )
I first discovered that the detector2 that I input into torch.jit.trace is not a pyorch neural network.
Which means I'm not the one who's going to get the error.
Traced_script_module = torch.jit.trace (detector2, x)
T

[2020-09-22 01:40] lizezheng opened #45100 "Pytorch report INTERNAL ASSERT FAILED at ..\torch\csrc\jit\ir.cpp:1529 when use torch.jit.script to convert to model"
## 🐛 Bug

came across same error as https://github.com/pytorch/pytorch/issues/34707#issue-580449872

output of collect_env.py is:

Collecting environment information...
PyTorch version: 1.4.0
Is debug build: False
CUDA used to build PyTorch: 10.0
ROCM used to build PyTorch: N/A

OS:
GCC version: (GCC) 5.1.0
Clang version: 3.4.2 (tags/RELEASE_34/dot2-final)
CMake version: version 3.9.2

Python vers

[2020-09-22 01:57] ShiinaMitsuki commented on #44940
Nope, I run Python under my ```home``` folder, and the ```pytorch``` folder is under ```/pytorch_build```

[2020-09-22 02:26] Coderx7 commented on #45013
Yes, I was referring to Torchbind , but I couldn't find any references to that name anywhere in the docs, so I used Torchscript.
The issue is, at its current state, the Torchbind , needs to be wrapped again so the docs, and certain keywrods can be provided to the users, without it its very hard and cumbersome .
its a very good addition, but it really needs such barebone features as well. do you pl

[2020-09-22 02:36] guol-fnst commented on #44873
How about throwing an exception when the forward function has only 1 input?
@glaringlee

[2020-09-22 02:36] ezyang commented on #43006
Hmm, I lifted this straight from some internal code, so if it doesn't work that's puzzling to me. Let me dig around a little.

[2020-09-22 02:55] csukuangfj commented on #15949
I am facing the same problem even if the code is compiled with `-D_GLIBCXX_USE_CXX11_ABI=0`.

[2020-09-22 03:03] ezyang commented on #30774
Yes, unless perhaps if I've failed to dissuade you haha. (I'd be happy to advise this project if you did want to pick it up.)

[2020-09-22 03:38] mrshenli opened #45105 "DISABLED test_backward_ddp_outside_uneven_inputs (__main__.ProcessGroupDdpUnderDistAutogradTestWithSpawn)"
https://app.circleci.com/pipelines/github/pytorch/pytorch/216783/workflows/07366a95-f646-498b-868a-51413a9879a0/jobs/7634221/steps

[code]

[code]

cc @ezyang @gchanan @zou3519 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528 @osalpekar @jiayisuse @agolynski @jjlilley

[2020-09-22 03:38] glaringlee commented on #44873
@guol-fnst
Yes, this is doable. We will put a fix.
And we do recommend to use DDP instead of DataParallel. Thanks a lot for suggestion!

[2020-09-22 03:41] jimmysue commented on #1776
Is there a way to avoid the forward computation in backward call ?

[2020-09-22 04:24] dzhulgakov commented on #45072
The problem is that the proposed `script` method is destructive (unlike `eval` that can be un-done with `train`), so it's not a very intuitive API to put in core.

How wide-spread do you think it'd be? Because one can always do `m.apply(lambda x: x.script() if hasattr(x,'script') else None)` manually

[2020-09-22 04:42] kurtamohler commented on #30774
Well I would still be interested in it. But maybe I should wait a bit, learn more about the machinery involved in this issue over the next several weeks/months. If I think I've reached a sufficient understanding, and no one else has picked up this issue by then, maybe I'll pick it up. Also, if by any chance someone wanted to hash out the design decisions and didn't want to implement them for some

[2020-09-22 04:52] #45082 closed

[2020-09-22 06:48] dzhulgakov opened #45108 "warnings.warn is too spammy in TorchScript"
## 🐛 Bug

TorchScript supports `warnings.warn` syntax, however it doesn't respect the Python defaults (which is print the warning only once per invocation point as pointed out by `stack_level`): https://docs.python.org/3/library/warnings.html#the-warnings-filter

It can cause a lot of spam, especially for deployed inference models.

## To Reproduce

Sample notebook: https://colab.research.google.c

[2020-09-22 06:58] xymeng16 opened #45109 "Failed to initialize NVML: Driver/library version mismatch after CUDA Out of Memory Error in PyTorch"
## 🐛 Bug

I used the CUDA install runfile to install the drivers and cuda toolkit. After the fresh installation, everything went well. However, once I faced the CUDA Out of Memory Error in PyTorch, the driver would crash and even the nvidia-smi was not able to be executed, with error "Failed to initialize NVML: Driver/library version mismatch".

I am not sure if this is a bug of cuda or PyTorch. H

[2020-09-22 07:08] Flamefire commented on #44948
So just to make it clear: The condition should be inverted? As in: The build is only tested when **not** building with gflags, glog or system protobuf?

Since when is that the case? That warning was introduced for 0.4.0: https://github.com/pytorch/pytorch/commit/a1518b780138400af98df6ea0096f39f2481191d

[2020-09-22 07:25] #43178 closed

[2020-09-22 07:38] lamhoangtung commented on #19053
I'm having the same problem on 1.7. The work arround @driazati provided does not solve my problem.

Btw my code is running fine with the warning but a tons of log just slow down my C++ application. Are there anyway to fix this completely or suppress this warning ? Thanks

[2020-09-22 08:13] ruichernob opened #45111 "(prototype) Graph Mode Dynamic Quantization on BERT failure on quantize_dynamic_jit(...) call"
## 🐛 Bug

Attempted to reproduce results from
https://pytorch.org/tutorials/intermediate/dynamic_quantization_bert_tutorial.html#install-pytorch-and-huggingface-transformers

## To Reproduce

Steps to reproduce the behavior:

1. Follow the tutorial under the link above:

`tokenizer = BertTokenizer.from_pretrained(configs.output_dir, do_lower_case=configs.do_lower_case)`
`model = BertForSequenceCla

[2020-09-22 08:20] lw commented on #43006
Oh I think I see what happened, you probably copied that snippet from PBG, which is the project I'm working on and which is exactly where we're seeing the problem I'm reporting in this issue: https://github.com/facebookresearch/PyTorch-BigGraph/blob/929dae01fe1a12d583733326e98139c33fc24690/torchbiggraph/train_gpu.py#L152-L160

As I mentioned, that code used to work before PyTorch 1.6 but is now br

[2020-09-22 08:35] tartakovsky opened #45112 "Add RMSE loss function"
## 🚀 Feature
I would like `RMSELoss` class to be added to `torch.nn` module, implemented, for example, as:

[code]

The motivation for `eps` is discussed here:
https://discuss.pytorch.org/t/rmse-loss-function/16540/4
https://discuss.pytorch.org/t/rmse-loss-function/16540/6

## Motivation

The motivation for adding RMSE loss is that it's a popular loss function which is often encountered in Kaggle

[2020-09-22 08:39] SciPioneer commented on #31924
Cannot reproduce this failure after running the same test 100 times on 8 GPUs.

[2020-09-22 08:41] konioyxgq commented on #45053
I know that when cudnn.benchmark=true, different convolution implementation algorithms are selected for calculation, so when cudnn.benchmark=true, the training process cannot be reproduced. But I think the results obtained by different convolution implementation algorithms are different but should not be very large. I found in the test that the recall rate of the test set obtained by repeated trai

[2020-09-22 08:58] marty1885 commented on #35049
I ran into the same issue on aarch64. I am able to work around it by downloading sleef 3.5.1, install it to system and set the `USE_SYSTEM_SLEEF=ON` flag.

Hope it helps

[2020-09-22 09:00] hbwx24 commented on #45057
thank you very much！

[2020-09-22 09:02] gwenzek opened #45113 "sspaddmm yields inconsistent results"
## 🐛 Bug

`sspaddmm` yields different results than the dense counterpart.

For sanity I also compared the results to `torch.sparse.addmm` and with all possible combination of sparse and dense matrix.
Only `sspaddmm` yields inconsistent results.

## To Reproduce

[code]

## Expected behavior

The two versions should yield the same result.
[code]

## Environment

[code]

cc @ezyang @gchanan @zou3519

[2020-09-22 09:43] agadetsky commented on #38681
@nikitaved thank you, will be waiting for your PR.

[2020-09-22 09:44] fmassa opened #45114 "[Feature Request] ShuffleDataset"
## 🚀 Feature

Provide a `ShuffleDataset` IterableDataset that can be composed with a user-defined dataset for performing random shuffling.

The simplest way to implement this would be to follow the [shuffling strategy from TensorFlow](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#shuffle), which keeps a buffer of dataset elements, and once the buffer is full, randomly pop one element

[2020-09-22 10:15] abhaygargab commented on #23730
Any updates on this issue?

[2020-09-22 10:48] tintifax89 commented on #44143
Same issue. Any solutions/workarounds?

[2020-09-22 11:02] zhangmeteor commented on #45030
We found this issue caused by XNNPACK library.
I suppose they used some features which Xcode12 assumed it supported arm64 architecture for Mac.

In our scenario, XNNPACK is not required, we just removed it in CMAKE.

Hope this could help.

[2020-09-22 11:23] pepper-jk opened #45115 "Standardized Distributions"
## 🚀 Feature

`torch.normal`, `torch.distributions.normal`, and `torch.tensor.normal_` should allow the same parameters and execute the same function/method in the backend.

## Motivation

This issue is related to pytorch/opacus/issues/59. The motivation behind it is to allow any distribution to be used by the noise generation of differential privacy in `opacus`, formerly known as `pytorch-dp`.

T

[2020-09-22 11:36] skyoung commented on #15849
Setting `pin_memory=False` solves the GPU memory problem, but slows down the data loading speed. I guess `FastDataLoader` is not compatible with the pin memory mechanism.

[2020-09-22 12:26] lw opened #45116 "DISABLED test_backward_ddp_inside (__main__.TensorPipeDdpUnderDistAutogradTestWithSpawn)"
https://app.circleci.com/pipelines/github/pytorch/pytorch/217196/workflows/15141629-1343-446c-a9cf-230f9c6b4527/jobs/7655526/steps

Probably same issue as #40434, which affects ProcessGroup.

[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528 @osalpekar @jiayisuse @agolynski @jjlilley

[2020-09-22 12:26] lw opened #45117 "DISABLED test_backward_ddp_outside (__main__.TensorPipeDdpUnderDistAutogradTestWithSpawn)"
https://app.circleci.com/pipelines/github/pytorch/pytorch/217196/workflows/15141629-1343-446c-a9cf-230f9c6b4527/jobs/7655526/steps

Probably same issue as #40378, which affects ProcessGroup.

[code]

cc @ezyang @gchanan @zou3519 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528 @osalpekar @jiayisuse @agolynski @jjlilley

[2020-09-22 12:26] lw opened #45118 "DISABLED test_backward_ddp_outside_uneven_inputs (__main__.TensorPipeDdpUnderDistAutogradTestWithSpawn)"
https://app.circleci.com/pipelines/github/pytorch/pytorch/217196/workflows/15141629-1343-446c-a9cf-230f9c6b4527/jobs/7655526/steps

Probably same issue as #45105, which affects ProcessGroup.

[code]

cc @ezyang @gchanan @zou3519 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528 @osalpekar @jiayisuse @agolynski @jjlilley

[2020-09-22 12:34] erickrf opened #45119 "bucketize fails with inputs requiring gradient"
## 🐛 Bug

Calling `torch.bucketize` with an input that requires gradients gives the following error:
[code]
The operation is naturally not differentiable but should not give an error.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

The operation should perform normally like other non-differentiable ones, e.g. argmax.

## Environment

 - PyTorch Version (e.g., 1.0)

[2020-09-22 13:13] mszhanyi commented on #41896
The root cause is that the specification template function couldn't be exported in dll because it's in the cpp file. I tested that it could be exported only if it's defined in the header file. I raised [an issue](https://developercommunity.visualstudio.com/content/problem/1193545/template-class-specification-member-function-could.html) to VC team.  And I wrote a small demo to reproduce it.  @bwign

[2020-09-22 13:24] antoinecarme opened #45120 "Is there a typo in ReLU6 declaration ?"
Was just doing some automated work on activations.  I see that ReLU6 is declared as a sub-class of Hardtanh. This smells a lot like a typo.

Not sure of the real impact. Seems harmless.

$  grep class nn/modules/activation.py

class Threshold(Module):
class ReLU(Module):
class RReLU(Module):
class Hardtanh(Module):
**_class ReLU6(Hardtanh):_**
class Sigmoid(Module):
class Hardsigmoid(Module):
clas

[2020-09-22 13:29] louisabraham commented on #35049
Rad! I will definitely try tonight :)

[2020-09-22 13:32] #43960 closed

[2020-09-22 13:50] mrshenli opened #45122 "DISABLED test_backward_ddp_inside (__main__.TensorPipeDdpUnderDistAutogradTestWithSpawn)"
https://app.circleci.com/pipelines/github/pytorch/pytorch/217203/workflows/9228f0bf-ed03-47fe-9a3d-dc736b8e14c3/jobs/7653966/steps

Same as #40434, but for TensorPipe backend

[code]

cc @ezyang @gchanan @zou3519 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar @jiayisuse @lw @beauby

[2020-09-22 13:50] zou3519 commented on #9382
From an API perspective `torch.tensor_split` sounds really close to `torch.split` so it can be confusing. But I'm not sure what could be beter

[2020-09-22 13:51] mrshenli opened #45123 "DISABLED test_backward_ddp_outside (__main__.TensorPipeDdpUnderDistAutogradTestWithSpawn)"
Same as #40378 but for TensorPipe backend.

https://app.circleci.com/pipelines/github/pytorch/pytorch/217203/workflows/9228f0bf-ed03-47fe-9a3d-dc736b8e14c3/jobs/7653966/steps

[code]

cc @ezyang @gchanan @zou3519 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar @jiayisuse @lw @beauby

[2020-09-22 13:52] Parskatt opened #45124 "Ellipsis support for view and reshape functions"
## 🚀 Feature

Enabling the following syntax:
[code]
This is not possible at the moment and must rather be done by (from what I know):
[code]
This would also be possible for the final dimensions, i.e.
[code]
## Motivation

It looks messy to have to include the unchanged dimensions in the reshape arguments, and it requires additional code.
A common use-case could be un/flattening an image or feature

[2020-09-22 13:52] lw commented on #45122
Isn't this a duplicate of #45116?

[2020-09-22 13:52] lw commented on #45123
Isn't this a duplicate of #45117?

[2020-09-22 13:54] mrshenli commented on #45122
Yes didn't realize that. Let me close this one.

[2020-09-22 13:54] #45122 closed

[2020-09-22 13:54] zou3519 commented on #9382
It's also worth noting that our [split function](https://pytorch.org/docs/stable/generated/torch.split.html) is different from numpy's [split function](https://numpy.org/doc/stable/reference/generated/numpy.split.html) and that numpy's split and array_split functions are pretty similar in terms of functionality so they don't really have this problem.

[2020-09-22 13:54] mrshenli commented on #45123
Yep, let me close this one.

[2020-09-22 13:54] #45123 closed

[2020-09-22 13:56] Geeks-Sid commented on #45124
This seems very confusing and probably can be done in only the first dimension, right?

[2020-09-22 13:56] fmassa commented on #45124
I'm afraid this could be an ill-defined operation in general (specially if mixed with `-1` reshaping).

For the most common cases of flattening only a subset of dimensions, we have `tensor.flatten(start, end)`, which IMO is a good compromise in veneral.

[2020-09-22 13:58] seandoyle commented on #45030
But - it's still an issue when you're trying to compile [PTMobileWalkthruIOS](https://github.com/pytorch/workshops/tree/master/PTMobileWalkthruIOS).  Shouldn't XNNPACK be required for inference? (asking out of ignorance :-) ).

[2020-09-22 14:03] romanpogodin opened #45125 "Boolean indexing of an ndarray with a torch.tensor mask breaks for size=1"
## 🐛 Bug

Numpy allows to index arrays with boolean pytorch tensors and usually behaves just like pytorch. However, for a dimension of size 1 a pytorch boolean mask is interpreted as an integer index. As a result, indexing of `np.ones(1)` with a `torch.ones(1, dtype=torch.bool)` returns an error as it tries to access the second element. Expected behaviour is achieved by casting the tensor to numpy

[2020-09-22 14:05] Parskatt commented on #45124
Flatten does work for flattening but not unflattening.

The operation works for arbitrary numbers of leading or trailing dimensions. However it would get ambiguous the specificied dimensions are not leading or trailing.

[2020-09-22 14:29] elanter opened #45128 "[Deleted]"
Deleted as posted from wrong account.

[2020-09-22 14:37] huguesb opened #45129 "Inconsistent wheel name in https://download.pytorch.org/whl/torch_stable.html"
## 🐛 Bug

CPU-only wheel on https://download.pytorch.org/whl/torch_stable.html has a different name for macOS than it does for every other platform

This makes it difficult to use the CPU-only package, since it requires using env markers in the requirements file, which is both non-intuitive, and breaks some workflows (e.g requirements pinning with tools like `pip-compile` either breaks completely

[2020-09-22 14:50] albanD commented on #1776
Hi,

You don't have to do the second forward inside the first backward call.
This is just an example that shows that you can call autograd.grad within a Function's backward.

[2020-09-22 14:52] marty1885 commented on #35049
To be clear. I set the CMake flag (editing CMakeLists.txt), not by exporting. And I built pytorch using a modified Arch Linux's [PKGBUILD](https://github.com/archlinux/svntogit-community/tree/packages/python-pytorch/trunk). Not sure if the patches have helped in other ways.

[2020-09-22 14:59] jimmysue commented on #1776
Hi,

I change the code as below, which lead to endless loop, what's wrong with that ?

[code]

[2020-09-22 15:06] albanD commented on #1776
You're calling `grad(y, x)` where the backward of this function is the `exampleFct.backward()`. Which then calls grad again, calling into `exampleFct.backward()`. etc...

If you have further question, I would encourage you to open a new topic on the forum (https://discuss.pytorch.org/) so that we can discuss it there without making too much noise on the github issues which are reserved for bug and

[2020-09-22 15:26] #36323 closed

[2020-09-22 15:28] elSomewhere opened #45133 "[Feature Request] Add support for Hidden Markov Models in torch.distributions"
## 🚀 Feature
It would be useful to have a basic abstraction class for [Hidden Markov Models](https://en.wikipedia.org/wiki/Hidden_Markov_model) which builds on top of the distribution classes already implemented in the [pytorch distributions](https://pytorch.org/docs/stable/distributions.html#mixturesamefamily) package.

## Motivation
Hidden Markov Models (HMM) are a fundamental concept in many pr

[2020-09-22 15:28] vadimkantorov commented on #38349
python may use two much memory for numbers, since it creates a full blown-object if I understand well... + sometimes the actuall source of values is another tensor, so without append it would lead to yet another copy

[2020-09-22 15:52] hameerabbasi commented on #42942
The PR was reverted in https://github.com/pytorch/pytorch/commit/9f67176b821afe4afa75df22f43f4932f1289ef4, we should potentially re-submit another PR.

[2020-09-22 15:55] #45128 closed

[2020-09-22 16:04] #41773 closed

[2020-09-22 16:16] #44531 closed

[2020-09-22 16:23] mariogeiger opened #45136 "Multiple torch.load in one file"
## 🐛 Bug

`torch.load` fails to load multiple content in one file.

## To Reproduce

[code]

Crashes with the following error
[code]

## Environment

[code]

[2020-09-22 16:25] malfet commented on #45129
Good point,
@seemethere is there a standard naming pattern for MacOS wheels?

[2020-09-22 16:28] malfet commented on #45059
Can you please be a bit more specific?
And [Discussion Forum](https://discuss.pytorch.org/) is much convenient for having an open ended discussions than issue tracker.

[2020-09-22 16:28] #45059 closed

[2020-09-22 16:43] eellison commented on #42334
Closed with https://github.com/pytorch/pytorch/pull/39111

[2020-09-22 16:43] #42334 closed

[2020-09-22 16:49] malfet commented on #45062
Thank you for reporting the issue.
CC: @IvanKobzarev

[2020-09-22 17:04] linjiapro opened #45139 "Libtorch index API perform poorly under repetitive usage"
## 🐛 Bug
I have a Libtorch project that has some execution speed issues. I have spent half a day to debug it. It turns out that using index API repetitively is much less efficient compared to using an accessor.

Here is the doc on index API:
https://pytorch.org/cppdocs/notes/tensor_indexing.html

Basically, the job is to read lots of tensors and copy their value into a data object in memory:

  fo

[2020-09-22 17:30] IvanKobzarev commented on #45062
I think this issue was fixed in https://github.com/pytorch/pytorch/pull/45052

[2020-09-22 17:41] albanD commented on #45136
From the forum comment: this used to work in 1.5.

[2020-09-22 17:44] rohan-varma opened #45145 "DISABLED test_rpc_profiling_remote_record_function (__main__. ProcessGroupRpcTestWithSpawn)"
https://app.circleci.com/pipelines/github/pytorch/pytorch/217237/workflows/9eaaf92d-91de-4eae-8fe1-2dbc24484c75/jobs/7656484

Related to https://github.com/pytorch/pytorch/issues/45067

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @anjali411 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @jjlilley @osalpekar @jiayisuse @mrzzd @agolynski @SciPioneer

[2020-09-22 17:52] #44871 closed

[2020-09-22 18:23] rusty1s commented on #22378
I have written some benchmarks for `torch-scatter`, see [here](https://github.com/rusty1s/pytorch_scatter/blob/master/benchmark/scatter_segment.py). It can download some sparse matrices from the [SuiteSparse Matrix Collection](https://sparse.tamu.edu/) and performs scatter operations for different feature dimensionalites. I hope that this is useful to you :)

[2020-09-22 18:32] #44670 closed

[2020-09-22 18:42] Anoop01234 commented on #44019
Can I work on it?

[2020-09-22 18:42] Anoop01234 commented on #44019
I would like to work on it!

[2020-09-22 19:00] #44892 closed

[2020-09-22 19:26] brando90 commented on #21254
@soumith what about on this one:

[code]

[2020-09-22 19:28] malfet commented on #45109
This sounds like a NVIDA driver problem. Is the problem 100% reproducible. And would it be possible to upgrade your system to a newer driver? I'm also using RTX 2080Ti with CUDA-10.2 but never had any stability problem after updating to 440.82

[2020-09-22 19:31] malfet commented on #45062
@xkszltl can you please check if issue is still reproducible with #45052 fix applied and reopen issue if this is the case.

[2020-09-22 19:31] #45062 closed

[2020-09-22 19:35] Anoop01234 commented on #44019
Sir, wiki is not part of the project because when I am forking the project, the wiki section appears to be empty. So do I need to submit the wiki file on mail? Or how am I supposed to do?

[2020-09-22 19:56] gmagogsfm commented on #44998
In addition to what Wanchao suggests, I think `warnings.warn` is also supported inside TorchScript, would that be sufficient for your use case?

[2020-09-22 20:06] ezyang commented on #43006
It looks like the only way to create capsules is from C. Oops. Makes me wonder what pybind11 was thinking having capsules be the default binding for `void*` arguments. Patch coming.

[2020-09-22 20:20] ngimel commented on #45139
If you are copying slices of tensors, for best performance you should be copying slices in one op, not do element wise accesses. Indexing and accessor APIs are for random values from the tensor, and indexing is designed to copy/access values at multiple indices at once, not do it in a loop.

[2020-09-22 20:29] rohan-varma opened #45160 "In profiler, record_function event's total CPU time can be less than the contained ops"
## 🐛 Bug

When a user uses `torch.autograd.profiler.record_function()` we would like to create a profiling block with contains overall profiling information for the aggregate of all operators ran within. As a result, we should expect that the total `cpu_time_total` should be an upper bound on the sum of all contained operators `cpu_time_total`. However, the following repro shows that is not always

[2020-09-22 20:30] rohan-varma commented on #45145
It looks like the fundamental issue is not RPC related, but a larger issue w/the profiler: https://github.com/pytorch/pytorch/issues/45160

[2020-09-22 20:30] rohan-varma commented on #45067
It looks like the fundamental issue is not RPC related, but a larger issue w/the profiler: https://github.com/pytorch/pytorch/issues/45160

[2020-09-22 20:37] ailzhang commented on #45120
nope if you look at the documentation of `relu6` and `hardtanh` it's reasonable to do subclass. Closing since it's resolved.

[2020-09-22 20:37] #45120 closed

[2020-09-22 20:40] ailzhang commented on #45119
Hmmm not sure if we should support autograd for `torch.bucketize`(returns indices) but if we don't, we probably need a better error message.

[2020-09-22 20:42] jparkhill commented on #32293
For my own purposes I wrote a 1-dimensional torch.distributions.TruncatedNormal with sample, icdf etc. Here's the code:

`import math
from numbers import Number

import torch
from torch.distributions import constraints
from torch.distributions.exp_family import ExponentialFamily
from torch.distributions.utils import _standard_normal, broadcast_all

class TruncatedNormal(ExponentialFamily):
    r""

[2020-09-22 20:42] ailzhang commented on #45056
Please reopen with a proper bug report including a minimal repro and error message. Thanks!

[2020-09-22 20:42] #45056 closed

[2020-09-22 20:47] ailzhang commented on #44944
Closing as pytorch forum is a better place for questions. Thanks!

[2020-09-22 20:47] #44944 closed

[2020-09-22 20:48] albanD commented on #45119
Hi,

We don't support autograd for things that return integer types indeed.
This was fixed on master and should properly return a Tensor that does not require gradients if you use the nightly build. Can you confirm that please?

[2020-09-22 20:54] cpuhrsch commented on #45072
It's not supposed to be descrutive. torch.jit.script is meant to call .script on its input nn.Module as a first step before further processing. The user defined .script then needs to have been implemented as an out-of-place operation. It won't touch the input given to torch.jit.script outside of its scope.

This applies to the current ```to_ivalue``` method in torchtext as well. It's another step

[2020-09-22 21:04] ezyang commented on #43006
@lw Oh, this reminds me that I need to clarify something: this is specifically a problem in our fbcode build, right? In open source we have an extra trick to force CUDA to be loaded with `RTLD_GLOBAL`, so OSS users should not be affected by this.

[2020-09-22 21:04] linjiapro commented on #45139
@ngimel thanks for your reply.

What I want to do is that I have a C++ multi dimensional vector, and I need to write into it using the tensor data. What API I can use to copy slice of the tensor into the vector? tensor.Index({Slice}) will still return tensor, I still have to loop the returned Tensor to put the value into C++ vector.

[2020-09-22 21:21] ezyang opened #45165 "Add a test to detect dangling impl registrations with no corresponding defs"
In our operator registration API, it is not an error to impl without def, because the indeterminacy of static initializer ordering means that the impl could happen before the def. Furthermore, we don't know if at some later point you will trigger more static initializers, so there is no "finalization" point in the operator registration where we can assume a closed universe thereafter. What this me

[2020-09-22 21:27] SplitInfinity commented on #45100
Can you share your code?

[2020-09-22 21:32] kurtamohler commented on #9382
I agree it could be confusing. However, it does get us closer to numpy-like compatibility. For now, I'll name it `torch.tensor_split`, and I can easily change it before the PR gets merged, if a better name comes up.

[2020-09-22 21:59] fritzo commented on #45133
Hi @elSomewhere, I agree HMMs are super useful. Here are some existing PyTorch implementations of HMMs:
- Pyro's [DiscreteHMM](http://docs.pyro.ai/en/stable/distributions.html#discretehmm) and [GaussianHmm](http://docs.pyro.ai/en/stable/distributions.html#gaussianhmm) classes.
- pytorch-struct's [HMM](http://nlp.seas.harvard.edu/pytorch-struct/model.html#Hidden-Markov-Model) class.

These PyTorch

[2020-09-22 22:02] spandantiwari commented on #33443
@dxxz @ankitdhall @xsidneib - as @neginraoof asked, can one of you please check with the latest versions (which have the PRs  to see if you still see this issue. Otherwise, we can go ahead and close it.

[2020-09-22 22:16] cpuhrsch commented on #45072
cc @astaff

[2020-09-22 22:17] cpuhrsch commented on #43646
cc @astaff

[2020-09-22 22:48] ptrblck commented on #45053
That's a valid assumption.

Could you update to the latest stable PyTorch version (`1.6`) with CUDA10.2, which would ship with cudnn7.6.5.32 and rerun the script, please? (your cudnn version should be 7.6.3.30, if I'm not mistaken)

Would it be possible to post the model definition, data shapes as well as the used GPU, so that we can check the called kernels?

[2020-09-22 22:57] rohan-varma commented on #45105
@mrshenli Is this one expected to be fixed by https://github.com/pytorch/pytorch/pull/45088?

[2020-09-22 23:03] xwang233 opened #45172 "[Native] ConvTranspose2d crashed"
## 🐛 Bug

PyTorch native ConvTranspose2d failed

## To Reproduce

Steps to reproduce the behavior:

[code]

Exception stacktrace:
[code]

Note that this **failed** on pytorch commit 1.7.0a0+ c947ab0, but **passed** on 1.7.0a0+ 4810365. So one of the commits merged on 9/21 could be the problem.

Also note that we have cudnn flags **enabled=False**, so this is **not** a cuDNN issue.

## Expected beh

[2020-09-22 23:50] jerryzh168 opened #45176 "copy.deepcopy can't preserve attributes attached to GraphModule object"
[code]

Output:
[code]

[2020-09-23 00:01] kurtamohler commented on #41528
I suppose we should address the possibility of changing `torch.nn.functional.grid_sample`'s API. One solution could be to add a `mode='trilinear'` option, which can only be used if the input is 5-D, and only allow `mode='bilinear'` to be used if the input is 4-D. But is the BC break worth it?

[2020-09-23 00:11] fritzo commented on #42449
cc @martinjankowiak

[2020-09-23 01:16] xuqingyu26 commented on #41528
It would be better to add a mode, thank you

[2020-09-23 01:26] samster25 commented on #44504
@colesbury @gchanan so I tried the script on many GPUs and theres something interesting here. On a K80, P100, and V100 I get the same exact time within a few microseconds for both loops. However on Turing GPUs (like the T4), I get a gap of milliseconds.
[code]
I put the example up in a [google collab notebook](https://colab.research.google.com/drive/13tp_2XQWs4_vbhYHB1vxAcu5Hg9GmekF?usp=sharing#sc

[2020-09-23 01:40] #42562 closed

[2020-09-23 01:51] ShiinaMitsuki commented on #44940
My fault, I run ```pip install -r requirements.txt``` before the compilation though I removed ```torch``` and ```torchvision``` indeed, I forgot to remove ```pytorch-ignite``` which installed ```torch 1.6.0```.
The code ```DEFAULT_EXTRA_FILES_MAP = torch._C.ExtraFilesMap()``` exist only in an older version of pytorch aka 1.6.0 and before and somehow the building procedure didn't remove it.

[2020-09-23 01:51] #44940 closed

[2020-09-23 02:10] addisonc6 commented on #43212
is this open to work on?

[2020-09-23 02:14] mrshenli commented on #42517
The error persist with NCCL 2.7.8. See #45140

[2020-09-23 02:15] mrshenli commented on #42517
@ngimel do you know what could be causing this?

[2020-09-23 02:20] pritamdamania87 commented on #45044
@xw285cornell Could you provide some minimal code to reproduce the problem? We seem to be calling `handle_exception` mostly on the client side to unwrap the exception. So if, `UnsupportedNodeError` is raised on the server side, it should still be wrapped inside a RemoteException?

[2020-09-23 02:22] vishwakftw opened #45184 "torch.add with complex tensors and floating alpha throws an error"
## 🐛 Bug

`torch.add` allows `torch.add(x, y)` with `x` and `y` being complex. However, this code throws an error:
[code]
I suspect `torch.sub` to suffer from this as well.

## Expected behavior

No error should have been thrown.

## Additional context

This bug is fairly simple to fix I think. Currently, `alpha_check` in https://github.com/pytorch/pytorch/blob/3682df77dbd47b5f949caae85be73963d544

[2020-09-23 02:36] Ethan146815 commented on #21819
I also had this problem, I tested my code both on tensorflow and pytorch, all appeared the same error.  It can run correctly for some steps, I donnot know how to solve this problem. Someone help me!

[2020-09-23 02:58] zasdfgbnm commented on #45028
@Sleepwalking Re: https://github.com/pytorch/pytorch/issues/45028#issuecomment-695757514

I tried your script on a RTX 2080ti for 10+ hours, and  on a RTX 3090 for 15+ hours, and I can not reproduce the freeze. Are you able to try it on a different device, or reinstall your driver/CUDA?

[2020-09-23 03:01] WangWenhao0716 commented on #45028
Hi do you know when the cuda11 will support sm_86？

发自我的iPhone

------------------ Original ------------------
From: Gao, Xiang <notifications@github.com&gt;
Date: Wed,Sep 23,2020 10:59 AM
To: pytorch/pytorch <pytorch@noreply.github.com&gt;
Cc: WenhaoWang <2609667791@qq.com&gt;, Comment <comment@noreply.github.com&gt;
Subject: Re: [pytorch/pytorch] GeForce RTX 3080 with CUDA capability sm_86 is no

[2020-09-23 03:09] zasdfgbnm commented on #45028
@WangWenhao0716 Sorry I can not disclose the release date of the new CUDA, but please keep an eye on https://developer.nvidia.com/cuda-downloads

[2020-09-23 03:10] WangWenhao0716 commented on #45028
thanks～

发自我的iPhone

------------------ Original ------------------
From: Gao, Xiang <notifications@github.com&gt;
Date: Wed,Sep 23,2020 11:09 AM
To: pytorch/pytorch <pytorch@noreply.github.com&gt;
Cc: WenhaoWang <2609667791@qq.com&gt;, Mention <mention@noreply.github.com&gt;
Subject: Re: [pytorch/pytorch] GeForce RTX 3080 with CUDA capability sm_86 is not compatible with the current PyTorch insta

[2020-09-23 03:10] williamFalcon commented on #21819
we've been testing this pretty rigorously on Lightning (master) and we don't seem to be having these issues... maybe try that?

https://pytorch-lightning.readthedocs.io/en/latest/new-project.html

[2020-09-23 03:24] Sleepwalking commented on #45028
@zasdfgbnm Thank you very much for testing.

I nuked the system partition and reinstalled Ubuntu 20.04, 455.23.04 driver, CUDA 11.03 and then compiled PyTorch from source (with `TORCH_CUDA_ARCH_LIST="6.0;6.1;7.0;7.5;8.0+PTX"`). This time I tried 1.6.0 just to see if it's a feature regression from 1.6.0 to the current master, but unfortunately the problem persisted.

Some other builds I tried but h

[2020-09-23 03:32] neeraj-j opened #45185 "Static Quantized model accuracy varies greatly with Calibration data"
## 🐛 Bug

Changing the calibration data impacts the generated quantized model's accuracy massively. On larger dataset (COCO) and complex models the validation accuracy varies from 0 - 87.3% (actual 90.6).

## To Reproduce

Steps to reproduce the behavior:

1. Run the Colab notebook given at "https://pytorch.org/tutorials/advanced/static_quantization_tutorial.html"
2.  You will have to add followin

[2020-09-23 03:33] pritamdamania87 commented on #37002
As per my understanding we mark parameters as "ready" when the autograd hooks fire. If the autograd hooks fire multiple times for the same parameter or not enough times, we probably have asserts in the code that fail. We don't have information upfront about how many times the autograd hook is going to fire before we can mark a parameter as "ready" and I think that's why we need delay allreduce.

[2020-09-23 03:43] zhangqianjin opened #45186 "conda install pytorch, why not set caffe2's lmdb and leveldb to be available by default?"
Many people want to use caffe2 in pytorch to write high-efficiency models, but in the default settings, lmdb and leveldb are not available and need to be compiled from the source code. In this process, various strange problems will be encountered. In the simple installation method of pytorch, Can all functions related to caffe2 be turned on?

cc @ezyang @seemethere @malfet @walterddr

[2020-09-23 03:57] mszhanyi commented on #45060
@realiti4 Did you run 'git submodule sync --recursive & git submodule update --init --recursive'

[2020-09-23 04:18] soumith commented on #21254
@brando90 looks like you are on a ppc64le which we don't have binaries for on the default pytorch channel (maybe IBM has them in their ppc64le channel)

[2020-09-23 04:28] realiti4 commented on #45060
Hi @mszhanyi, yes I run it.

[2020-09-23 04:50] zasdfgbnm commented on #45028
@Sleepwalking I don't know. I need to look deeper. But it doesn't look like a PyTorch bug to me.

[2020-09-23 05:25] suo commented on #45111
cc @jerryzh168

[2020-09-23 05:50] t-vi commented on #45139
You found accessor for elementwise array-like access. You can use `.data_ptr<T>()` to get a pointer to the memory (but have to take care of strides/sizes yourself or check that it's contiguous).

Your use of Tensor::index will construct many 1-element tensors which gives you the performance hit. I'm afraid this isn't something one can avoid except by not using Tensor::index for this, really.

[2020-09-23 05:56] linjiapro commented on #45139
K, sounds good. I recommend updating the official documentation of https://pytorch.org/cppdocs/notes/tensor_indexing.html to include our discussion here. @svenevs, let me know if I can help with this.

[2020-09-23 06:00] ptrblck commented on #45028
@Sleepwalking could you check, if ECC mode is on and if not enable it using [these instructions](https://docs.nvidia.com/grid/latest/grid-software-quick-start-guide/index.html#enabling-ecc-memory) and rerun your script, please?

[2020-09-23 06:06] t-vi commented on #45139
If you wanted to add a paragraph to https://github.com/pytorch/pytorch/blob/master/docs/cpp/source/notes/tensor_indexing.rst , that would be most awesome!

[2020-09-23 06:10] RockingJavaBean commented on #38207
@Nayef211 Sorry for the late reply, it seems that the fix for JIT string `split` does not have Windows related issue.
It passed the unit test with pytest on my local Windows machine, which checks split result with different sets of input.

[code]

Test code:
https://github.com/pytorch/pytorch/blob/7fba30c2be4c1373c1e4424111e5ec2b878a85da/test/test_jit_string.py#L265-L275

[2020-09-23 06:18] ppwwyyxx commented on #43834
This turns out to be a glibc bug https://sourceware.org/bugzilla/show_bug.cgi?id=20839 triggered by some libs in opencv. The latest opencv-python has added a workaround for it. (details at https://github.com/skvark/opencv-python/issues/381)

[2020-09-23 06:20] Sleepwalking commented on #45028
@ptrblck I meant downloading the NGC docker image and running it locally on RTX 3080, which does not support ECC. Sorry for the confusion.

[2020-09-23 06:20] prabhuomkar commented on #34862
Not yet, will try to add one by this weekend as an example

[2020-09-23 06:26] linjiapro commented on #45139
I will get that done soon. Thanks.

[2020-09-23 07:14] xymeng16 commented on #45109
Yep, after every fresh installation of the driver, once I enlarge the batch size and meet the CUDA OOM error. My driver will crash. I would like to update my driver to 440.82 and test if this error could be fixed. Thanks!

[2020-09-23 07:21] bakaito commented on #4827
I have jupyter installed in conda but still can't import torch

[2020-09-23 07:26] lw commented on #43006
Ehm, no, actually what we're seeing is the opposite: in fbcode we've never had issues loading CUDA by doing `cudart = ctypes.cdll.LoadLibrary(None)`, but some of our OSS users started reporting failures with PyTorch 1.6 (see https://github.com/facebookresearch/PyTorch-BigGraph/issues/154).

[2020-09-23 07:45] Coderx7 commented on #17492
Seems like the cpu versions of Pytorch are still being built using `GLIBCXX_USE_CXX11_ABI=0`! I tried both the pip and conda packages (1.6cpu only) and they both :
[code]
Do I still have to build from source ? Isnt there any plans on enabling this by default?

[2020-09-23 07:51] lizezheng commented on #45100
Thanks for reply.
It is the espnet/egs/aishell/asr1 demo，I`ve trained a transformer model(change some code to run torch.jit.script)
well , it didn`t work, as illustrated above.

[2020-09-23 07:52] PiedFalconet opened #45196 "Running rpc module on two server connection refused"
## 🐛 Bug

I run the server-side program on one GPU server, and run the client-side program on another GPU server,using rpc.init_rpc(), but 127.0.1.1:xxxx (xxxx is the port number, different each time) appears after the startup, refused connection on the server side, it is used by default The agreement is gloo, and the error is reported in the gloo file.

## To Reproduce

Steps to reproduce the beh

[2020-09-23 07:54] mszhanyi commented on #41471
@peterjc123 , could we close this issue?

[2020-09-23 08:00] bangbangjim commented on #7686
any solution to this problem for Mac yet?

[2020-09-23 08:05] mszhanyi commented on #40861
@peterjc123 , is this should be closed too?

[2020-09-23 08:08] mszhanyi commented on #40922
@multinucliated since it's not a Pytorch bug/issue. For general questions, could you please ask in https://discuss.pytorch.org/.
We'll close the issue soon

[2020-09-23 08:19] xymeng16 commented on #45109
@malfet Thanks! Updating the driver to 440.82 works! But I still don't know the exact reason of it. I've already reported the bug to the NVIDIA CUDA forum. If there is any problem related to torch, I will updat here.

[2020-09-23 08:19] #45109 closed

[2020-09-23 08:22] mszhanyi commented on #45060
It's not a diffcult thing to build Python CPU.
Please refer the attached script (rename *.txt to *.bat ) to set environment variable.
please download mkl and sccache as https://github.com/pytorch/pytorch/tree/master/.jenkins/pytorch/win-test-helpers/installation-helpers

BTW, it'd best to install 16.6.5 in https://docs.microsoft.com/en-us/visualstudio/releases/2019/history and disable the upgrade.

[2020-09-23 08:36] #41471 closed

[2020-09-23 08:36] #40861 closed

[2020-09-23 08:37] dbalchev commented on #44939
I dug deeper into FBGEMM implementation and found out that in this example I get a saturation in `vpmaddubsw` (`211 * 71 + 171 * 107 == 33278`).

The issue can be closed, since this is a quirk of the implementation, but IMO this should be documented, since it's a bit obscure and hard to trace. (:

[2020-09-23 08:41] realiti4 commented on #45060
I've built Pytorch with cuda many times before, but this is the first time I am trying with VS2019. VS2017 also doesn't work on master for me. I disabled cuda in this build to reproduce the error faster. I got the exact same error with cuda before that.

I'll try to install 16.6.5, and see if that helps.

It is unrelated, but can I also ask about these warnings in log file? I didn't see these with

[2020-09-23 08:43] rlczddl commented on #26456
I have this error, too.And I use random input without any preprocessing when tracing my model.The problem comes from moving torch::Tentor data to Eigen::MatriXf with the following line:
    auto tt = t.contiguous().to(torch::kCPU).contiguous(); // t is at::Tensor and t.dim()==2
    Eigen::Map<MatrixType<float, Eigen::RowMajor>> e(tt.data_ptr<float>(), t.size(0), t.size(1));

Any help?

[2020-09-23 08:46] mszhanyi commented on #45060
In my memory, it should be OK

[2020-09-23 08:59] xsidneib commented on #33443
Thanks @spandantiwari  and @neerajprad ,

I've got the nightly build yesterday and - in my case -  I could export the ONNX model, without problem. However, my issue is even more complicated and I actually don't know if the issue is with pytorch or TensorRT from NVIDIA. Basically, if I export the maskrcnn (as it's in the torchvision documentatino) to ONNX and try to convert it in TensorRT, I have i

[2020-09-23 09:01] konioyxgq commented on #45053
I also tried it in cudnn8.0.2 and had the same problem. Sorry I cannot provide our model definition. If this is a definite problem, then I think the problem should be reproduced well.
In addition, I plan to train several times to find the best result, then find the corresponding convolution operator, modify the pytorch source code, and fix the convolution operator. Is this method reliable?

[2020-09-23 09:25] PatrickNa commented on #14395
A similar error appears when the onnx model is tried to be loaded with onnxruntime:

`Fail: [ONNXRuntimeError] : 1 : FAIL : Fatal error: ATen is not a registered function/op`

[2020-09-23 09:29] zzpmiracle commented on #13397
use model.module instead of model, it works for me !

[2020-09-23 09:42] pavelexpertov commented on #44019
That's what I am wondering about. I believe it's the documentation team responsible for writing this. Even though it seems non-trivial for a 'registered' contributor to do so. What do you say @smessmer ?

[2020-09-23 09:50] svenevs commented on #45139
Hi, I'm sorry I'm a little confused. The documentation there you just need to edit and commit to https://github.com/pytorch/pytorch/blob/master/docs/cpp/source/notes/tensor_indexing.rst

I don't feel qualified to write the new docs, I'm not familiar with the code. My recollection is there's a build server that runs every couple hours, but I don't know who maintains that internally. Cpp docs take ~

[2020-09-23 10:01] benkent100 commented on #7686
We ended up rebuilding the libraries from source and forcing it to use openmp.

[2020-09-23 10:28] MarouaneMaatouk commented on #45064
Hi @malfet, thanks for the answer. This did resolve the issue !
Here's how i built gcc-5.4.0:
[code]
***
### Additional questions:
- Is there a similar way to do that with the openmp; otherwise i get this error: ```libgomp.so.1: version `GOMP_4.0' not found```,
- And since with the environment variables mentioned above, there a significant difference in terms of speed between my build and the one

[2020-09-23 10:58] yuuho opened #45198 "DataLoader workers do not work with pytorch1.6"
## 🐛 Bug

Dataloader doesn't work when using cv2.resize on Dataset.

## To Reproduce

Steps to reproduce the behavior:

1. import torch before numpy
1. create some nn.module and load state_dict
1. resize a image to a larger size using `cv2.resize` in the Dataset Class
1. then DataLoader does not work (This worked in pytorch 1.3)

[code]

## Result

[code]
and this does not end.

- This happens whe

[2020-09-23 11:10] mruberry opened #45199 "JIT doesn't support rfloordiv with scalars correctly"
[code]

Note that this works in eager mode:

[code]

[2020-09-23 11:44] realiti4 commented on #45060
Downgrading to 16.6.5 didn't help unfortunately

[code]

Full log:
[log2.txt](https://github.com/pytorch/pytorch/files/5267864/log2.txt)

[2020-09-23 11:46] DarshanAwachat commented on #45027
I have tried it that way still the same issue

[2020-09-23 11:47] PatrickNa commented on #43367
I would also be in favor of having this. Thanks and greetings!

[2020-09-23 12:22] mruberry commented on #45051
Thanks for the suggestion, @SharonBarak.

[2020-09-23 12:24] mruberry commented on #45125
Thank you for reporting this issue, @romanpogodin. We would accept a PR fixing this.

[2020-09-23 12:25] spacegoing commented on #26247
Any update on this?

[2020-09-23 12:53] hlahkar commented on #45199
This happens because in the code segment
def _wrapped_rfloordiv_scalar(a):
  return 5 // a

5 is an integer; hence a is implicitly defined as integer at the time of JIT Scripting. There is a workaround to make the above code snippet work. We can modify _wrapped_rfloordiv_scalar as:

**def _wrapped_rfloordiv_scalar(a):
  return 5. // a**

This will ensure that a is automatically declared as float.

[2020-09-23 13:24] ayushpatidar commented on #45112
Hey,
Can I work on this issue. if it is not assigned to anyone
.

[2020-09-23 14:13] nachifur commented on #3415
I have new discoveries and can reproduce this result. The h5 file can be operated in multiple threads, but one file cannot be operated frequently. When the number of CPUs is greater than 1, after the first run of the program, you must wait a few minutes before you can run the program for the second time. I think that although the main program was closed, the multithreading was not killed in a shor

[2020-09-23 14:22] albanD opened #45201 "Backward of repeat() crash if repeated size is 0"
Repro:

[code]

Fails with:
[code]

This should return a gradient full of 0s

cc @ezyang @albanD @zou3519 @gqchen @pearu @nikitaved

[2020-09-23 14:30] rgommers commented on #45051
numpy `object` dtype arrays can be quite useful, but it's hard to see how that translates to GPU or other devices.

[2020-09-23 14:33] ezyang opened #45202 "test_cudart_register doesn't work on ROCm"
Patch in https://github.com/pytorch/pytorch/pull/45159 and it fails on ROCm with:

[code]

I'm guessing there's some behavior difference with how `cudaHostRegister` and the ROCm equivalent works

cc @jeffdaily @sunway513

[2020-09-23 14:48] ezyang opened #45203 "Staged backend fallback (per-operator precomputation)"
When writing the backend fallback for conjugate views (https://github.com/pytorch/pytorch/pull/44799) I noticed that I needed to do some computation on the function schema to determine what the appropriate course of action. This computation is indifferent to the actual IValues, and could be done once per operator and then cached for subsequent operator calls. It would be nice if the backend fallba

[2020-09-23 14:58] zou3519 commented on #41528
Let's keep this issue open to discuss adding a mode. We've already clarified the bit in the docs, so I'm downgrading the priority on this.

[2020-09-23 15:26] louisabraham commented on #35049
Thank you very much, I was able to compile torch.

Here are instructions taken from my [blogpost](https://louisabraham.github.io/articles/pinebook-pro-setup.html)

---

After some effort and the help of [marty1885](https://github.com/pytorch/pytorch/issues/35049), I could compile the latest version of PyTorch.

First, compile and install sleef: <https://sleef.org/compile.xhtml> (you will need sudo

[2020-09-23 15:30] #44637 closed

[2020-09-23 15:39] jeffdaily commented on #45202
Taking a look now.  Thanks for bringing this to our attention.

[2020-09-23 15:42] kurtamohler commented on #41528
Sounds good! I'll unassign myself for now.

[2020-09-23 15:46] marty1885 commented on #35049
@louis2889184 Wow, that's a very clear and easy to follow instruction!

Since you are at it. May you try if your build of PyTorch can utilize multiple cores? Mine seems to be single core only and I can't figure out why. I think I'll make another report if you are also experiencing the same issue.

[2020-09-23 15:55] MrStarry commented on #45028
Use python3.8 and install the latest preview version today:
**_https://download.pytorch.org/whl/nightly/cu110/torch-1.7.0.dev20200923%2Bcu110-cp38-cp38-win_amd64.whl_**
Warning has disappeared.

[2020-09-23 15:57] WangWenhao0716 commented on #45028
wow! thanks you very much for the update and I will try it later!

发自我的iPhone

------------------ Original ------------------
From: MrStarry <notifications@github.com&gt;
Date: Wed,Sep 23,2020 11:55 PM
To: pytorch/pytorch <pytorch@noreply.github.com&gt;
Cc: WenhaoWang <2609667791@qq.com&gt;, Mention <mention@noreply.github.com&gt;
Subject: Re: [pytorch/pytorch] GeForce RTX 3080 with CUDA capabilit

[2020-09-23 15:57] vadimkantorov commented on #45198
Maybe again a deadlock because of multithreading initialization issues. You may try to set `cv2.setNumThreads(0)` (or sth like that) somewhere

[2020-09-23 16:02] MrStarry commented on #45028
@WangWenhao0716 My experiments show that the performance of the latest version seems to have improved compared to the September 18th version.

[2020-09-23 16:04] WangWenhao0716 commented on #45028
Ok！

发自我的iPhone

------------------ Original ------------------
From: MrStarry <notifications@github.com&gt;
Date: Thu,Sep 24,2020 0:03 AM
To: pytorch/pytorch <pytorch@noreply.github.com&gt;
Cc: WenhaoWang <2609667791@qq.com&gt;, Mention <mention@noreply.github.com&gt;
Subject: Re: [pytorch/pytorch] GeForce RTX 3080 with CUDA capability sm_86 is not compatible with the current PyTorch installation

[2020-09-23 16:10] louisabraham commented on #35049
Thanks :)

What do you mean by "multiple cores"? Do you mean BLAS parallelism? or torch.distributed?

[2020-09-23 16:12] marty1885 commented on #35049
Oops.. I mean BLAS parallelism.

[2020-09-23 16:13] louisabraham commented on #35049
What is your protocol to test?

[code]

[2020-09-23 16:24] marty1885 commented on #35049
Please run:

[code]

It generates a large matrix (large enough so there's enough time to observe) then performs matrix multiplication.

Then run `top`, `htop` or whatever to see if PyTorch is performing the matrix multiplication in parallel.

Mine look like this
![image](https://user-images.githubusercontent.com/8792393/94040956-2efadd80-fdfc-11ea-8a01-95db285ce0eb.png)

By the looks of the output

[2020-09-23 16:31] mhnatiuk commented on #37581
What is the usecase for warning about array being read-only? Probably as 99% of users, I use DataLoader to (suprisingly enough) __load data __ and I consider forcing user to have a writable array as one of the most absurd pattern I have yet seen in PyTorch. I have 4M rows of data, I won't copy it because it's stored and loaded using numpy.memmap and I don't want to allow anything to write to it. I

[2020-09-23 16:35] louisabraham commented on #35049
By default, I had blas (lapack) installed. Installing openblas made me use multiple threads (and drastically improved even single thread performance).

[2020-09-23 16:47] jerryzh168 commented on #45111
we are moving away from torchscript based graph mode quantization (quantize_jit) and will be using (quantize_fx) instead.
@supriyar is also working on fx based graph mode dynamic quantization tutorial.

also @supriyar can you post the link to the prototype torchscript based graph mode dynamic quantization tutorial?

[2020-09-23 16:51] louisabraham commented on #35049
Also you don't have OpenMP, which is strange as it is usually bundled with the compiler.

[2020-09-23 16:53] louisabraham commented on #35049
Strangely, rerunning cmake after installing OpenBLAS doesn't change the BLAS : MKL option so it's probably useless to recompile as the problem either will be solved by installing OpenBLAS or comes from another source (most likely OpenMP).

[2020-09-23 17:01] mruberry commented on #37581
PyTorch doesn't (yet) support read-only tensors, so you're making the data writable when you create a PyTorch tensor from it. That's why we warn.

[2020-09-23 17:12] whatdhack opened #45208 "Adding @torch.no_grad() to forward () causes undefined value in torch.jit.script()"
## 🐛 Bug

Adding @torch.no_grad() decorator to forward causes undefined value in torch.jit.script .

[code]

## To Reproduce

Run the following code.

[code]

## Expected behavior

No exception

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist bel

[2020-09-23 17:40] dfalbel opened #45210 "TripletMarginWithDistanceLoss example code doesn't work correctly"
## 📚 Documentation

The example available [here](https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/loss.py#L1316-L1329)
fails with a:

[code]

cc @ezyang @albanD @zou3519 @gqchen @pearu @nikitaved @jlin27 @mruberry

[2020-09-23 18:09] #43006 closed

[2020-09-23 18:14] guilhermeleobas opened #45215 "Enable torch.onnx.* typechecks during CI"
`TestTypeHints.test_run_mypy` should pass with `[mypy-torch.onnx.*]` deleted from mypy.ini

cc @ezyang @malfet @rgommers @xuzhao9 @gramster

[2020-09-23 18:16] mrshenli commented on #45105
@rohan-varma this should be fixed by #45181 when that lands I think

[2020-09-23 18:17] mrshenli commented on #45089
fixed by #45088

[2020-09-23 18:17] #45089 closed

[2020-09-23 18:30] soumyadipghosh commented on #34862
That would be nice!

[2020-09-23 18:41] jeffdaily commented on #45202
Looks like the behavior of ROCm runtime after hipHostRegister is called in the test is to change the memory type to hipMemoryTypeDevice, instead of hipMemoryTypeHost.  I need to further confirm with a standalone c++ test case.

[2020-09-23 19:07] dzhulgakov opened #45220 "FX should preserve type annotations and not break TorchScript-ability"
## 🚀 Feature
Right now torch.fx tracing erases all python type annotations (on inputs or intermediate values), it breaks TorchScript that requires static typing.

## Motivation

One of the use cases of FX is to do program transformations from Python to Python that change the logic of the program only a little bit. Examples: quantization (local transformation) or model splitting (partitioning the m

[2020-09-23 19:35] ezyang commented on #45196
Try setting `MASTER_ADDR` and `MASTER_PORT` externally from the process, rather than directly in environ.

[2020-09-23 19:39] ezyang commented on #45022
Are you sure this isn't just blocking to catch up with queued GPU operations? Run your model under nvprof and take a look at the gpu execution on nvvp.

[2020-09-23 19:41] ezyang commented on #45198
Hi priority to try the repro

[2020-09-23 19:43] ezyang commented on #45172
It's almost certainly e2f49c8437421919bdd3a55a49c6b35af1e36a7d. cc @walterddr

[2020-09-23 19:44] ezyang commented on #45210
Probably just need to drop `requires_grad=True` from all the `randint`

[2020-09-23 19:45] #5868 closed

[2020-09-23 19:46] ezyang commented on #5898
ninja suppresses by default now

[2020-09-23 19:46] #5898 closed

[2020-09-23 19:47] ngimel commented on #45022
cudaFree synchronizes queued GPU ops, so it makes sense that it takes long. You shouldn't have cudaFree in your code (but regardless, any synchronizing operation will show up as taking a lot of cpu time).

[2020-09-23 19:48] ezyang commented on #5916
New error seems pretty clear.

[code]

[2020-09-23 19:48] #5916 closed

[2020-09-23 19:50] lunixbochs commented on #7686
did you do anything specific to force it to use openmp? would love even some vague instructions, as I'm interested in doing that too

[2020-09-23 19:50] #5957 closed

[2020-09-23 19:51] ezyang commented on #5961
Guessing whatever it is, we've fixed it in the meantime. If you have a repro on recent version of PyTorch please feel free to reopen.

[2020-09-23 19:51] #5961 closed

[2020-09-23 19:51] ezyang commented on #5970
Most of the stuff now lives in `torch/testing/_internal`.

[2020-09-23 19:51] #5970 closed

[2020-09-23 19:52] ezyang commented on #5979
Due to lack of inactivity, guessing that something about tbb has changed to make this less likely to happen. Closing this; feel free to reopen if this is still affecting you.

[2020-09-23 19:52] #5979 closed

[2020-09-23 19:57] walterddr commented on #45172
on it

[2020-09-23 20:17] supriyar opened #45225 "Support custom state_dict load/save functionality for Script Models"
TorchScript does not have access to custom _{save_to,load_from}_state_dict code present in the modules.

Use Case:
We are trying to add functionality to load/save observer stats from script modules using the state_dict.
For Quantization Observers, like PerChannelMinMaxObserver we have a custom `load_from_state_dict` that resizes the attributes based on the input size - https://github.com/pytorch/p

[2020-09-23 20:50] brando90 opened #45228 "Installing torchvision for ppc64le IBM architecture"
I am in a weird scenario were I am forced to use torch `1.3.1` (due to hardware see: https://public.dhe.ibm.com/ibmdl/export/pub/software/server/ibm-ai/conda/#/). I read from the pytorch docs that it's corresponding version of torchvision is `0.4.1` (https://pypi.org/project/torchvision/):

but for some reason I have the wrong version of it:

[code]

is there a way to install the right version of

[2020-09-23 20:51] jeffdaily commented on #45202
We have assigned our runtime team to further triage this issue.  The following c++ code has the expected result for ROCm <= 3.3.  ROCm 3.5 and newer returns the memory type as Device.

[code]

[2020-09-23 20:55] supriyar commented on #45111
Sure. This is the link to the prototype tutorial we have for Torchscript graph mode - https://pytorch.org/tutorials/prototype/graph_mode_dynamic_bert_tutorial.html

[2020-09-23 21:10] #43729 closed

[2020-09-23 21:17] pritamdamania87 commented on #45196
Is there a firewall between the two hosts that is blocking most ports and you need to manually open certain ports? If so, that might be the reason here since gloo does dynamically allocate ports and clients might try to reach a server on that port.

Another reason might be that Gloo is not picking up the right interface. If so, follow the instructions here to set the correct interface: https://pyt

[2020-09-23 21:21] spandantiwari commented on #35516
Just to clarify and confirm - is there something wrong you see with the export, or is it that the model export is correct but this is a question of multiple nodes being inserted in opset 11?

[2020-09-23 21:33] spandantiwari commented on #33443
@xsidneib - thanks for getting back. Good to know that you can export the model now. I too am not sure about this error that you have included. Looks like this is some issue when importing the ONNX model in TensorRT. From a quick look at the TensorRT issues that you have listed, they don't seem to be questioning the correctness of the exported ONNX model, but discussing the additional nodes that a

[2020-09-23 21:33] #33443 closed

[2020-09-23 21:40] mcarilli commented on #44724
uh oh, in place ops aren't handled at all by autocast right now.  I did some as proof of concept when i was first writing it, but they were kind of ugly.  How frequently is AdaptiveLogSoftmaxWithLoss used in the network?  If it's rarely used, for now the best solution is to disable autocast for it and cast inputs to float:
[code]

[2020-09-23 21:50] alexeib commented on #44949
ok in my case the issue was that i had a layernorm after the transposed conv layers and was on pytorch 1.4. i found another issue that described a bug with layernorm following transposed conv and found that upgrading to pytorch 1.5+ fixed the issue

[2020-09-23 21:50] #44949 closed

[2020-09-23 22:19] rmccorm4 commented on #35516
Hi @spandantiwari ,

I believe the question is two-fold:

1. Why is the ONNX graph produced in Opset 11 so complicated vs. Opset 10
2. Why do additional flags like constant folding in `torch.onnx.export(...)` not seem to simplify the graph, but something like onnx-simplifier can achieve this: https://github.com/NVIDIA/TensorRT/issues/439#issuecomment-604163341?

[2020-09-23 23:26] monajalal commented on #38122
@gemfield could you please explain a little more on your workaround?

How did you fix it? Where did you add those three lines?

[2020-09-23 23:30] vincentqb opened #45242 "Functional Interface for optimizers"
## 🚀 Feature

As requested in the context of distributed work in #44715 and of meta-learning in #39279, we want to refactor the optimizer in order to provide a functional form to them. The current object-form would simply call into the functional form.

- [ ] Update all python optimizers
- [ ] Update all C++ optimizers

[2020-09-23 23:44] ezyang commented on #43006
Oh OK, then this is probably the thing where we're statically linking against CUDA and so some symbols get entirely removed because they are unused. These functions will help.

[2020-09-23 23:57] nitinshyamk commented on #35713
+1 to this issue.

Unfortunately, I'm having the same issue as well with the MNIST dataset, similar setup as described.  I'm using Visual Studio, but with CMake as the build system. If it's just an issue with the MNIST custom data set, I'll go the same route too, thanks for leaving that info @alex-zador  . W/out access to the mnist.cpp file, it's difficult to take a look though I believe it's the

[2020-09-24 00:36] kurtamohler commented on #44792
@ngimel , what is the cause of the nondeterminism? I'd like to include a short description of the cause next to the nondeterministic alert, so we have it documented.

[2020-09-24 00:52] elistevens commented on #27878
Unclear if this issue is still actually active, but it was pointed at recently as if it were, and I'd like to point out that #2 above would require some magic to make work properly (assuming that the `torch =` part is required, vs. just setting a bunch of global state in `torch.get_context(device='cuda:2')`, and in that case, the function should be renamed to something more accurate), and would le

[2020-09-24 01:14] SsnL commented on #27878
@elistevens Yeah I think you are right. #2 doesn't work normally, unfortunately.

[2020-09-24 01:24] linjiapro commented on #45139
@svenevs I apologize for the confusion. I saw that the libtorch documentation (https://pytorch.org/cppdocs/) has you in the acknowledge section, and thought that you maintain the docs. No worry at all. I will take care of the documentation changes.

[2020-09-24 01:56] meetshah1995 commented on #41355
@suo -- Is there an effort planned to support this and support of `with torch.cuda.stream(s)` context managers in TorchScript?

cc: @sidazhang

[2020-09-24 02:24] shijianjian commented on #27749
Any update?

[2020-09-24 02:24] tbennun opened #45255 "ONNX: source range and node scopes do not appear in final graph"
## 🐛 Bug

When exporting a traced or scripted module, some calls (such as aten expansions) and passes do not carry node metadata forward. Source information of the nodes in the exported graph then becomes sparse.

## To Reproduce

Steps to reproduce the behavior:

1. Run the code below with `torch.onnx.export(..., strip_doc_string=False)` (if necessary, I can construct a simpler example)
1. Observ

[2020-09-24 02:31] AinzWoolGoun commented on #45022
oooh! I think that I misunderstand the workflow of cuda. When we call a function like .cuda() in python, it seems instant but actually it just add a operation to the cuda queue. So the operation that really cost time maybe the forward or backward  of the net in GPU. Am i right?

[2020-09-24 02:36] marty1885 commented on #35049
Ahh... so its caused by LAPACK. Installed OpenBLAS (replaces LAPACK) and it runs in parallel. Thank you!

MKL and MLK-DNN are different products (yeah, bad naming). MKL is x86 only while MKL-DNN supports a wide family of processors. The relation is kinda convoluted and I have to hack CMake to convince PyTorch MKL-DNN is available on ARM. I don't get why PyTorch prioritizes using BLAS instead of NN

[2020-09-24 03:09] SplitInfinity commented on #45208
Using `torch.no_grad` is only supported in with statements, not as a decorator. There is an open issue I am working on (#44768) to fail better if it is used as a decorator.

Can you use a with statement for whatever it is you're trying to do?

[2020-09-24 03:35] gemfield commented on #38122
@monajalal You can have a look at https://github.com/DeepVAC/libdeepvac/blob/master/python/CMakeLists.txt

[2020-09-24 03:42] vkuzo commented on #45185
hi @neeraj-j , thanks for the report.  It's likely that the numbers you are seeing can be explained by the dataset composition.  The dataset referenced in the tutorial is not the real ImageNet1K dataset, it is a tiny subsample of it with only 1k images.

To get consistent measurements on this toy dataset, you could do the following:
* always evaluate on the same slice of the dataset (i.e. create t

[2020-09-24 03:45] vkuzo commented on #44939
there is a `reduce_range` argument for observers to prevent the overflow in fbgemm (see https://pytorch.org/docs/stable/quantization.html, search for `reduce_range`).  Agreed that it's hard to find and we should document it better.

cc @raghuramank100

[2020-09-24 03:52] vkuzo commented on #44782
hi @AlexeyAB , the stack trace in this case is helpful:

[code]

The issue is that `F.conv2d` is a functional call to conv which is not supported by PyTorch Eager Mode Quantization.  To use eager mode, this would need to be rewritten to use `torch.nn.Conv{1|2|3}d` in order for the `torch.quantization.prepare` API to pick it up correctly.  https://github.com/pytorch/pytorch/pull/45093 might be help

[2020-09-24 04:02] mszhanyi commented on #45060
could you try building in a clean clone, git submodule xxxx, and download mkl and sccache from [this]( https://github.com/pytorch/pytorch/tree/master/.jenkins/pytorch/win-test-helpers/installation-helpers) and set environments based my attached script. The torch_python references should be like
![image](https://user-images.githubusercontent.com/16190118/94099568-d65c2c80-fe5d-11ea-92de-deddff1686f

[2020-09-24 04:20] AlexeyAB commented on #44782
@vkuzo Hi,
Thanks for explanation.

Will it be static-quantization for graph-mode?
Are there any approximate dates, is it a month or a year?

[2020-09-24 05:16] Vishal487 commented on #41763
I am working on it.

[2020-09-24 05:24] #43360 closed

[2020-09-24 05:33] Vishal487 commented on #41754
Hi, I am working on it

[2020-09-24 05:36] Vishal487 commented on #41754
Do you want to replace **whitelist** from filename too or only occurences of **whitelist** inside the file?

[2020-09-24 05:42] CoinCheung commented on #5310
has this problem really been solved ? When I use tensorrt 7.0.0 to compile the onnx export from pytorch with nn.AvgPool2d, the I still met some problem if I use opset11, but the opset10 will be fine.

[2020-09-24 05:51] david-waterworth commented on #1355
@SebastienEske ulimit -n fixed this for me as well

[2020-09-24 06:24] ruichernob commented on #45111
Appreciate you, @supriyar . Tracing of the quantization model worked, but traced model lost accuracy as well as simply quantized.
By the way, it seems it is impossible to use traced Bert-like models for on device inference since model requires more than 1 input tensor. It do traced. Without quantization ti doesn't lose accuracy and in Python I'm able to call forward() with the desired input.
BUT!

[2020-09-24 06:49] robieta commented on #44943
GPUs are well known to prefer NCHW to NHWC layout. I tweaked your benchmark to show just that. (No use doing a copy in only one path or also measuring the non-Conv end of the network.)

[code]

I don't see any difference in performance between 1.5.1 and 1.6 for either the original or modified script, but I seem to recall @VitalyFedyunin was doing some work to reduce the pitfalls of layout. (It loo

[2020-09-24 07:00] whatdhack commented on #45208
Thanks.  I can  tolerate the grad, although do  not need that for just the forward pass.

[2020-09-24 07:00] neeraj-j commented on #45185
Hi @vkuzo ,  I understand your response.
1. As mentioned in point # 4 above, post-quantization eval dataset slice is same (sequential sampler) still I see variation of ~5%. Which is huge for such tiny dataset. Below is the output with same slice of eval dataset ( I printed target values to make sure that every loop is evaluated on same data slice 0-299) by adding "if prnt : print(target)"

[code]

[2020-09-24 07:15] #23651 closed

[2020-09-24 07:53] realiti4 commented on #45060
Thank you, it is successful this time.

[code]

[2020-09-24 07:56] lw commented on #43006
Oh, yeah, that would explain it. Why didn't we realize it earlier?

Your PR fixing cudaHostRegister in cudart() doesn't exactly solve the topic of this issue, but it does fix the problem we were having in the BigGraph project, so that's probably good enough for us.

Thanks again!

[2020-09-24 08:02] rlczddl commented on #26456
Hi, I think I found the reason.In my case, i  wrote a conversion function:
auto tensor2eigen(at::Tensor& t)
{
    assert(t.dim()==2);
    auto tt = t.to(torch::kCPU);
    Eigen::Map<MatrixType<float, Eigen::RowMajor>> e(tt.data_ptr<float>(), t.size(0), t.size(1));
    return e;
}
When i got an output from network(output on torch::kCUDA), i put it to this function,  and outliers will appear in the

[2020-09-24 08:12] mszhanyi commented on #45060
My pleasure. thank your confirmation!

[2020-09-24 08:12] #45060 closed

[2020-09-24 08:14] louisabraham commented on #35049
Really nice! I don't think PyTorch can use oneDNN (they renamed it) "instead" of BLAS, they are probably not the same APIs. Maybe for more neural networky functions it will use oneDNN.

You can probably check by testing OMP_NUM_THREADS and tbb::init (with ctypes) to set the number of threads manually.

[2020-09-24 08:46] One-sixth commented on #44943
@robieta In the code of my real environment, there is indeed a significant difference between 1.5.1 and 1.6. Maybe the network is not big enough and complicated.
You can also try pytorch 1.3.1. My code was originally written based on pytorch 1.3.1. In pytorch 1.3.1, whether it is contiguous does not affect the speed.
This is my test output in pytorch 1.3.1.
[code]