[2019-05-07 20:42] xsacha commented on #20011
For GPU, you must use from_blob_strided as the GPU mat will be strided.
Strides will be {step, channels, 1}

[2019-05-07 20:43] pietern commented on #20200
@Usama-Zafar Thanks for the report. The output snippet you included shows the tensors you're trying to use are CUDA tensors. Is your MPI build CUDA aware? PyTorch doesn't implicitly copy the CUDA tensors back to the host for you.

[2019-05-07 20:45] shakibakh opened #20247 "Problem running custom operator test, pytorch 1.1.0"
## 🐛 Bug

I cannot save and then load a custom operator, using the test code available in pytorch/test/custom_operator in Pytorch 1.1.0.

## To Reproduce

Steps to reproduce the behavior:
[code]
## Expected behavior

pass AT_ASSERT(module != nullptr); in load_serialized_module_with_custom_op_and_execute

## output

I get the following error:
[code]
Aborted (core dumped)

## Environment

 - PyTorch

[2019-05-07 21:31] Krovatkin commented on #20247
@driazati @suo any insights?

[2019-05-07 22:03] pietern commented on #20204
It was added by @jjsjann123 in #14267. Can you comment?

[2019-05-07 22:32] skrah commented on #20215
@ailzhang I introduced that line during the port to `ATen` as a workaround.  Most other code in `ATen/native`, for example `adaptive_avg_pool2d()` does not allow `output_size.size() == 1` for the `2d` functions.

I heard from @ezyang that expansion to a list of repeated values should probably happen here:

https://github.com/pytorch/pytorch/blob/864cfbc2162a874fd67b50414205483cb9ac6b5d/torch/csrc/

[2019-05-07 22:33] eloyfelix opened #20248 "Sparse tensors can't be used in DataLoader running many workers"
## 🐛 Bug

Sparse tensors can't be used in DataLoader running many workers

## To Reproduce

Steps to reproduce the behavior:

[code]

[code]

## Expected behavior

The same one that I have when not setting n_workers parameter.

[code]

[code]

## Environment

PyTorch version: 1.1.0
Is debug build: No
CUDA used to build PyTorch: None

OS: Mac OSX 10.14.4
GCC version: Could not collect
CMake version

[2019-05-07 22:38] ailzhang commented on #20215
@skrah I see, that makes sense. I'll look into this tmr if no one with better context beats me on it :D

[2019-05-07 22:45] driazati commented on #20247
It's likely a version mismatch of some kind (or maybe some missing bugfix from v1.1.0), the tests run fine for me on master. I'm having trouble reproing this on v1.1.0 though (getting other build errors), @shakibakh are you able to run the erroring code under with gdb (e.g. `gdb --args ./build/test_custom_ops model.pt`) to get a better stack trace?

[2019-05-07 23:00] #20198 closed

[2019-05-07 23:16] xkszltl opened #20250 "Build error on Win for THD: Cannot open gflags/gflags.h"
## Bug

GFlags are correctly detected by CMake (listed in CMakeCache and also found `-I` to gflags in other caffe2 compiling command).

But there're a few files from THD referencing gflags via c10 without proper include dir dependency.

[code]

## Environment

- PyTorch Version (e.g., 1.0): master
 - OS (e.g., Linux): Win10
 - How you installed PyTorch (`conda`, `pip`, source): source
 - Build com

[2019-05-07 23:37] ferrine commented on #7801
@dbbert, my guess is that bottleneck you observe might be due to this function
https://github.com/pytorch/pytorch/blob/master/torch/random.py#L48
As said in description this is slow for multigpu. Check your `preserve_rng_state` is set to False and you have deterministic output.

[2019-05-07 23:44] shakibakh commented on #20247
As libtorch for cuda 10.0 has just a nightly build, I also tried installing torch-nightly (1.1.0.dev20190507) (via pip), and again save and load, but the same error exist. It seems that save has changed the way it creates .pt file, but load is not aligned with it, as load can load models which are saved by Pytorch 1.0 and not the ones saved by 1.1.0.

gdb gives the same stack trace:
[code]

p.s: I

[2019-05-07 23:53] PowerSnail commented on #20183
Thanks for liking my suggestion.

Here are my software versions:

- python: 3.7.3
- Sphinx: 2.0.1
- latexmk: 4.61
- latex: (running latex --version):

[code]

Here is the log file produced by latex (`docs/build/latex/pytorch.log`)
[pytorch.log](https://github.com/pytorch/pytorch/files/3154908/pytorch.log)

Let me know if any more information is desired.

[2019-05-08 00:11] #20030 closed

[2019-05-08 00:21] xvdp commented on #15671
This may or not be related, but I found no docs on the topic.
Ellipsis working in numpy are not working in torch einsum
Example:
[code]
[code]

[code]

[2019-05-08 00:26] img5d opened #20254 "RuntimeError: Not compiled with GPU support ( win10 )"
## ❓ Questions and Help

Hey , guys, I`m a beginner.I need a help.

When i tried maskrcnn-benchmark, at last i encountered the issues as the title:

RuntimeError: Not compiled with GPU support (nms at c:\users\gs63vr\train\maskrcnn-benchmark\maskrcnn_benchmark\csrc\nms.h:22)
(no backtrace available)
[ WARN:0] terminating async callback

The method i used is Step-by-step installation
(Anaconda3→Cre

[2019-05-08 00:28] gavrielstate commented on #13807
I'm seeing similar issues, and the problem appears to be that the fuser code in the JIT is entirely disabled in Windows. See: https://github.com/pytorch/pytorch/blob/master/torch/CMakeLists.txt#L209

[2019-05-08 02:02] ThisIsIsaac commented on #19335
@zou3519 @VitalyFedyunin
I am going to go ahead and make a pull request. Meanwhile, I would really appreciate someone could address these two points:

Thanks.

[2019-05-08 02:10] yxchng opened #20257 "RuntimeError: ONNX export failed: Couldn't export operator aten::upsample_trilinear3d"
Currently I am facing the error

`
RuntimeError: ONNX export failed: Couldn't export operator aten::upsample_trilinear3d
`

According to the folks at ONNX, this is a bug in PyTorch. https://github.com/onnx/onnx/issues/1999

cc @suo @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2019-05-08 02:28] EsdeathYZH commented on #20156
I add ```at::init_num_threads``` and after that the C++ time is similar to python.
[code]
I think it's probably the reason for previous results.

[2019-05-08 02:28] denru01 commented on #20037
After using OMP_NUM_THREADS=1, the speed is back to normal. Thanks, @VitalyFedyunin.

[2019-05-08 02:28] #20037 closed

[2019-05-08 02:32] jjsjann123 commented on #20204
Yes we could add support for 2d Tensor. But be aware that kernel performance for 2d input would be bad because of the data access pattern in current implementation.

We added support for 2d input in the apex implementation (https://github.com/NVIDIA/apex/commit/0a991543846966d5f586540dc2441e512139e9fc), for which we had a channel last option that delivers decent performance.

[2019-05-08 02:43] vishwakftw commented on #20254
I believe this issue pertains to [maskrcnn-benchmark](https://github.com/facebookresearch/maskrcnn-benchmark).

[2019-05-08 02:44] #20254 closed

[2019-05-08 02:48] EsdeathYZH commented on #20156
Sorry for another problem, how to build libtorch from source? I found the libtorch from website is build with ```D_GLIBCXX_USE_CXX11_ABI=0```, which introduce link error when linking with other dependencies.

I try to use ```python setup.py build```, but I don't know how to organize output files as libtorch's directory structure. Is there a tutorial about how to build libtorch (CPU-only or with CU

[2019-05-08 03:03] JC-S opened #20260 "tensor.cuda() method errors out in multi-thread dataloader"
## 🐛 Bug

I was trying to use GPU for some heavy-lifting pro-processing work so I wrote my own transform function.
The tranform function keeps throwing 'RuntimeError: CUDA error: initialization error' whenever I use num_worker > 0.
The error happens at the line when I try to send tensor to GPU using tensor.cuda()

## To Reproduce

Steps to reproduce the behavior:

1. Write a customized transform f

[2019-05-08 03:34] tsauri commented on #20096
#14869
bug since last year

[2019-05-08 04:59] soumith commented on #20260
please read the note https://pytorch.org/docs/stable/notes/multiprocessing.html#sharing-cuda-tensors

relevant section:

[code]

Basically, add

[code]
right at the top of your main script.

Does that help?

[2019-05-08 05:09] JC-S commented on #20260
That did solve the problem. Thanks so much for your timely reply and hope you sleep well :)

[2019-05-08 05:10] #20260 closed

[2019-05-08 05:24] Terodee opened #20263 "C++ Can only index with tensors that are scalars (zero-dim)"
I got an error ```Can only index with tensors that are scalars (zero-dim) (operator [] at C:\w\1\s\windows\pytorch\aten\src\ATen/TensorOperators.h:62)(no backtrace available)```
while the python one ran normal:
[code]
code is shown below
[code]

[code]

is there anything i didn't notice about the C++ frontend?or the interface is a little different from the python one.

[2019-05-08 05:25] Terodee commented on #20263
![08Q)C@5X{EAHB_AYQN}@KAW](https://user-images.githubusercontent.com/12407152/57351503-b195e500-7194-11e9-9d73-233d7c3fb37d.png)

[2019-05-08 06:12] Usama-Zafar commented on #20200
@pietern Yes I the MPI I am using is build CUDA aware. And yes the problem seems to be from moving tensors around in the GPU. When I explicitly copy CUDA tensors back to host and then communicate it works perfectly fine. That's weird even though I built my MPI as CUDA aware.

[2019-05-08 06:37] yelu opened #20264 "Remove static variable definitions to support libtorch dlls delayed loading"
## 🚀 Feature

Remove static variable definitions to support delayed loading libtorch dlls.

## Motivation
Some dlls required by libtorch are quite big. So when embeding libtorch into a product, we want them to be optional if the user doesn't use any functionalities in libtorch. Users need to have those dlls only when they need libtorch. To achieve the goal, we usually use delayed loading feature(/

[2019-05-08 06:38] yimikai commented on #12401
Please, how to get the new master for R2plus1D ?

[2019-05-08 06:59] Kirayue commented on #20028
Hi, @jcreinhold
I also wondered why it did not appear. Sorry for the poor doc after deciding to change name form SGDR to CosineAnnealingWarmRestarts.
About the usage `LR should be updated every batch, not epoch`, `step()`  without argument is set to epoch update, you can give an argument for a batch update. For example, if you have 15 training examples and batch size is 4, so there would be 4 iter

[2019-05-08 08:16] Deeplearning20 commented on #2731
@codemarsyu   hello， can  you  sovle the  problem ? i have the error ‘ from torch._C import *
ImportError: numpy.core.multiarray failed to import’,       with   Python 3.6 and Numpy=1.16.1

[2019-05-08 09:37] cdjhz commented on #3495
Hey! is there a way to implement gradient ascent in pytorch? In some cases, some of the terms in the loss are maximized for one network and minimized for another network. But, it seems the learning rate must be set positive. Otherwise, I have to to forward the data again and compute the -loss and backward it.

[2019-05-08 11:35] michael81420 opened #20268 "[Caffe2] Convert caffe to caffe2 with solverstate"
Can I convert  a caffemodel and a solverstate file to caffe2 training file?

I have used below code to convert caffemodel, but it only convert the weight.
I want to get the momentum information which is in solverstate.

`python -m caffe2.python.caffe_translator XXX.prototxt XXX.caffemodel`

[2019-05-08 13:02] ezyang opened #20271 "Official instructions for how to build libtorch don't have same structure as prebuilt binaries"
On Slack, Geoffrey Yu asked:

@pjh5 responded: "If you're curious, here's exactly what builds the libtorches https://github.com/pytorch/builder/blob/master/manywheel/build_common.sh#L120 . It's mostly tools/build_libtorch.py but also copies some header files from a wheel file"

This is not mentioned at all in the "how to build libtorch" documentation: https://github.com/pytorch/pytorch/blob/master

[2019-05-08 14:26] Palmitoxico opened #20273 "Linker errors when linking statically (avx perfkernels) [Caffe2]"
## 🐛 Bug

I've been trying to build the caffe2 v1.1.0 release and link it statically with our application, but I'm getting a lot of undefined symbols related to avx functions.

## To Reproduce

I've built caffe2 142c973f4179e768164cd578951489e89021b29c using the following flags:
[code]
Minimal application code:
[code]
Build flags:
[code]
Output:
[code]

## Environment

 - Caffe2 version: 142c973f4

[2019-05-08 14:42] MatthiasKohl opened #20275 "Memory (CPU/sys) leak with custom batch norm layer"
## 🐛 Bug

Unreasonable memory increase (probably memory leak) while training a simple CNN with a custom mean-only batch-norm layer on GPU. This is probably related to the module buffer, since removing the buffer stops the problem and training on CPU also seems to work fine.

## To Reproduce

Steps to reproduce the behavior:

1. Evaluate script below while monitoring CPU memory usage

[code]

EDIT:

[2019-05-08 14:44] MatthiasKohl commented on #20275
I assume that a graph with `self.running_mean` (from the custom batch norm) is retained somehow, which is why the leak is on CPU but I don't really understand why

[2019-05-08 14:49] pedromorais17 commented on #20011
Thank you @xsacha. Indeed, I saw an example using strides, but I failed to set correctly the dimensions.
However, how can I reconvert from a strided tensor to a cvMat structure?

Thank you in advance.

[2019-05-08 14:49] SerailHydra commented on #19925
@mrshenli I managed to fix the compatibility issue and change to pytorch v1.1. However I still got the same error

[code]

[2019-05-08 14:54] mrshenli commented on #19925
@SerailHydra Thanks, I will take a look. Could you please post a minimum repro?

[2019-05-08 15:06] nairbv commented on #20052
This doesn't seem to be a regression, though it's possible this was extensible prior to the tensor/variable merge. Is there a specific use case we need to support? If not, the correct fix may just be to make the types not extensible (maybe we remove Py_TPFLAGS_BASETYPE) so that it doesn't crash.

If we need it, we'd probably want to create subclasses of variable not tensor. It's possible to create

[2019-05-08 15:10] VitalyFedyunin commented on #20248
Indeed Sparse Tensors are not supported in Multiprocessing/Sharing. It will take some big time to add such support. Meanwhile please use strided tensors and convert to sparse after dataloading is done.

[2019-05-08 15:12] VitalyFedyunin commented on #20183
Thanks. Let's have module owner to take a look.

[2019-05-08 15:15] VitalyFedyunin commented on #20257
cc @houseroad

[2019-05-08 15:15] SerailHydra commented on #19925
@mrshenli Here is my repo:
https://github.com/SerailHydra/seq2seq_dist_test

Basically you can just do `bash run.sh dist` on each of your node. Check `dist_config.txt` for dististributed configurations. The repo use wmt_ende dataset, you might need to change `DATASET_DIR` in `run.sh` as well

[2019-05-08 15:29] VitalyFedyunin commented on #20275
Have you tried to run it for a while? CUDA tensors are using caching allocator which might lead to the eventual memory fragmentation. It should not be noticeable on longer runs.

[2019-05-08 15:31] eloyfelix commented on #20248
I'll do as you suggest, many thanks.

[2019-05-08 15:32] MatthiasKohl commented on #20275
It seems like I was able to fix this problem by updating the `self.running_mean` buffer like this:

[code]

The important thing is to detach the incoming variable from the graph when applying it to the buffer. I'm still unsure about this though.
Isn't the whole point of buffers vs. parameters that buffers are not supposed to have a graph, so why is one kept here ?
And if the buffer is kept in the

[2019-05-08 15:33] MatthiasKohl commented on #20275
@VitalyFedyunin : in my toy example, you can just increase the number of batches. It allocates ~7MB per second. That's crazy, I wouldn't expect that from memory fragmentation.

In fact, I ran a larger thing using this custom batch norm long enough (during the night) to go out of memory on the full system (something like 64GB RAM)

[2019-05-08 15:56] SsnL commented on #20275
Yeah, that `running_mean` update is exactly your problem. You keep extending the graph.

[2019-05-08 15:56] dichotomies commented on #973
Another (maybe more convenient) solution: I discovered by chance that setting `pin_memory = True` for the dataloader(s) solves the problem. If I turn it off, I get the error message as described in the issue. This might also give an additional lead towards the cause of the issue.

[2019-05-08 16:55] zdevito commented on #20229
Fixed in #20246

[2019-05-08 16:55] #20229 closed

[2019-05-08 17:13] AlexandrosFerles commented on #16417
Getting the same error:

[code]

for a batch size of 1 on a simple segmetation task. Is there any solution to this?

[2019-05-08 17:37] ptrblck commented on #20275
@MatthiasKohl Thanks for letting me know the bug is still in the code. We've had this issue already in the discussion board, but apparently I've forgotten to fix it in the repo.

[2019-05-08 17:42] SsnL commented on #3495
@cdjhz Alternatively write a custom `torch.optim.Optimizer`

[2019-05-08 17:59] orionr commented on #18903
@sndnyang we still have some issues with `add_graph` for this model, but if you install PyTorch nightly it shouldn't fail even though the graph optimization fails. If the MLP model visualized doesn't look good you can try and pass `operator_export_type="RAW"` to add_graph and see if that helps.

Once you've confirmed the fixes we've made in nightly cause add_graph to at least not fail I'll close t

[2019-05-08 18:34] skrah commented on #18283
With `conda` there are sometimes stale libraries in e.g. `miniconda3/lib/*` that cause issues like this.

I don't have OS X, so I quickly setup a test on Travis CI with `pytorch-nightly` that passes (i.e. produces a  `c10::Error`) with a pristine `conda` environment on Mac OS X:

https://travis-ci.org/skrah/test-osx-issue/builds/529914165#L720

[2019-05-08 18:37] skrah commented on #18283
The script is here:

https://github.com/skrah/test-osx-issue/blob/master/.travis.yml

[2019-05-08 18:42] heiner commented on #18283
Thanks for investigating Stefan! I'm still not sure what causes this, but given that it works in a fresh environment I am happy to have this closed.

[2019-05-08 18:52] ilia-cher commented on #20156
@ezyang I'm not sure the title is correct though - all programs do not run singlethreded by default, they just use default OMP/MKL settings.

You can see in `init_num_threads` that what it does is:
`omp_set_num_threads(mkl_get_max_threads());`

Supposedly that results in better perf.

Also note, that we did not do any initialization in libtorch before (`at::init_num_threads` used to be called `THI

[2019-05-08 18:53] sndnyang commented on #18903
@orionr  Yes! It can plot now! Great!
![image](https://user-images.githubusercontent.com/2310591/57400148-dd1ecc80-71a0-11e9-8ff6-5aab48a3ca0e.png)

[2019-05-08 18:58] ilia-cher commented on #20156
@ezyang Curious what would happen if we put call to `init_num_threads` in static initialization code in `libtorch`, i.e. whether that would affect Python's execution thread and `main` function thread - we should check this, though this will not protect against user creating a new std::thread and launching OMP/MKL-based routines from there.

[2019-05-08 19:06] skrah commented on #18283
Yes, it's hard to tell.  With another package I had issues similar to this one; the causes were either stale libraries in system directories or in `miniconda/lib`.

I'm closing then, of course please reopen if a fresh `miniconda` install does not work either.

[2019-05-08 19:17] nairbv commented on #20052
extending torch.Tensor is possible, just not torch.<ScalarType>Tensor.

[2019-05-08 19:43] JaeDukSeo commented on #13045
EVERYONE My friend Jason J. Yu (https://github.com/JasonYuJjyu) got this under control.

https://gph.is/2RXxlPP

He will save us.

[2019-05-08 19:46] yf225 commented on #20151
@lanpa Would you like to take a look at this issue?

[2019-05-08 20:03] orionr commented on #18903
Excellent!

[2019-05-08 20:03] #18903 closed

[2019-05-08 20:06] nairbv commented on #20052
For extending torch.Tensor, I think you just want to not pass through the arguments (or omit the `__init__` call entirely). If you overrode `__new__` you'd need to pass those on to super.

[code]

[2019-05-08 20:07] gchanan commented on #20052
I don't think that's what you meant to write.

[2019-05-08 20:11] nairbv commented on #20052
ah, the `<>'s` erased it. Edited.

[2019-05-08 20:12] gchanan commented on #20052
ok, can we make extending `torch.<ScalarType>Tensor` not segfault?

[2019-05-08 20:13] nairbv commented on #20052
right, (see linked PR).  E.g. attempting to extend torch.FloatTensor will give `type 'torch.FloatTensor' is not an acceptable base type"`

[2019-05-08 20:18] gchanan commented on #20052
ah, just FYI referencing an issue from another issues/PR doesn't seem to trigger a notification on the reference issue, so people won't catch it unless you actually write something in the original issue.

[2019-05-08 21:05] ezyang opened #20287 "Get people to stop improperly using AT_ASSERT"
Somehow, we have ended up in a situation where a lot of people in the PyTorch codebase are using `AT_ASSERT` when they should be using `AT_CHECK` (just do a grep for `AT_ASSERT` in `aten/src/ATen/native`, I audited the first five files and *every* occurrence of `AT_ASSERT` was wrong). Just to review the intended semantics:

* `AT_ASSERT` means "internal error, someone on the PyTorch dev team fucke

[2019-05-08 21:07] ezyang commented on #20287
cc @gchanan

[2019-05-08 21:11] ezyang commented on #20287
Proposal was modified to use `AT_` instead of `C10_` on the grounds that it is easier to type.

[2019-05-08 21:11] gchanan commented on #20287
lgtm.

[2019-05-08 21:12] smessmer commented on #20287
I fully agree we should fix this and choose names that better describe what these do.

Note that it's not always obvious if `AT_ASSERT` or `AT_CHECK` is the right choice.
For example, in my current work on the operator library, say a kernel uses the registration API wrongly. The registration API asserts against this and should (probably?) use `AT_CHECK` because the bad kernel could be a custom ker

[2019-05-08 21:15] ezyang commented on #20287
Matters will always be murky for the C++ API, because we publish the very same API we use internally and so you can't distinguish between user and internal code. However, one way to solve this problem is to distinguish between the internal API, and the public API (which is hopefully just a thin wrapper around the private one, but not necessarily). Then you can put proper checks in the public API.

[2019-05-08 21:15] Krovatkin commented on #20287
it would be nice if these macros all returned an `ostream` object for composing comprehensive error messages.

[code]

[2019-05-08 21:18] ezyang commented on #20287
@Krovatkin The `ASSERT` macro, for internal implementation reasons, currently requires you use to a separate `ASSERTM` for messages.

[code]

I plan to eliminate this inconsistency. (I'll have to construct two strings on error case because of variadic macro comma pasting shenanigans, but that's a small price to pay).

[2019-05-08 21:25] suo commented on #20287
For informational purposes: the way people are trained to do in fbcode is glog-style: `CHECK()` will crash the process (not catchable), `DCHECK()` is the same but gets compiled out in opt. If you want to throw a user-facing error instead of crashing everything, you have to `throw` explicitly.

I don't think we should have a crashing `CHECK()`, since there's basically no circumstance where it's oka

[2019-05-08 21:44] ezyang commented on #20287
@suo Are you OK with the `AT_CHECK` name in that case? It sounds like it might be toxic for fbcode people, and we should change it to something that leads to a less visceral reaction (like `AT_ENFORCE`). (I personally prefer `AT_CHECK` but I'm willing to compromise on this.)

[2019-05-08 22:41] yl1991 commented on #14870
@MilesCranmer Same for me but I feel like gloo is a bit slower than nccl, what do you think?

[2019-05-08 23:30] zdevito commented on #20287
This seems like a great improvement. It would be nice if the error messages knew what do with source range information, so, for instance, `AT_ASSERT(cond,  node->range())` would give useful error reporting information.

[2019-05-08 23:39] eellison commented on #20287
There's JIT_SCRIPT_ASSERT in error_report.h, but no one ever uses that

[2019-05-08 23:40] zdevito commented on #20287
I am just going to clean up SourceRange so it has an operator<<, that way it will work trivially with AT_CHECK and AT_ASSERT

[2019-05-08 23:53] yf225 commented on #7801
@dbbert Could you provide us with the minimal reproduction code for the slowdown issue?

[2019-05-08 23:55] #18003 closed

[2019-05-09 00:08] yf225 commented on #20263
Tensors in C++ API currently only support indexing with scalar / zero-dim tensor. We have plans to support tensor slicing, advanced indexing and `tensor[mask]` syntax in the future.

[2019-05-09 00:36] buduo15 commented on #14223
How did you finally solved this problem ?
I added both QMAKE_CXXFLAGS += -D_GLIBCXX_USE_CXX11_ABI=0 and  -L/usr/local/cuda-9.2/lib64, besides the path of libtorch/lib for cpp is also added.

[2019-05-09 00:44] yf225 commented on #20156
There was also a recommendation from @mingfeima on how to set the optimal values for OMP env vars: https://github.com/mingfeima/convnet-benchmarks/blob/master/pytorch/run.sh#L16-L25.
[code]
cc. @mingfeima Would you like to weigh in on this?

[2019-05-09 01:47] williamFalcon commented on #12977
You can use these instructions to run pytorch on 2080ti.

https://medium.com/@_willfalcon/how-to-install-pytorch-1-0-with-cuda-10-0-169569c5b82d

[2019-05-09 01:54] solomatov commented on #12977
@williamFalcon It actually works pretty well now. Have no problems with the current version of the driver/CUDA. Don't remember what it was.

[2019-05-09 02:57] kealennieh opened #20296 "the capacity of memory when compiling pytorch from source"
how large the capacity of memory is needed when compiling pytorch from source ?

I've got about 5GB available when compiling in ubuntu 18.04.  Each time I compile with **python setup.py install**, the compiling program will occupy all the capacity of memory. Then my screen is stuck. After a while,  the screen becomes dark and my laptop reboots....

Is there any way to setup some parameters to use

[2019-05-09 03:01] AlliedToasters commented on #10043
The paper mentioned by @iandanforth empirically shows a number of benefits to sparse networks buts stresses the lack of support by Torch:

frameworks, including PyTorch and Tensorflow do not have
adequate support for sparse matrices to exploit these properties, and our implementations ran at the same speed as
the corresponding dense networks. We suspect this is due
to the fact that highly sparse n

[2019-05-09 03:09] beyondpie commented on #19453
Hi, does somebody solve this problem?
I recently face it in CentOS7, CUDA 9.0. Even use simple GPU model.

[2019-05-09 03:11] beyondpie commented on #17658
on CentOS 7, also face it.

[2019-05-09 03:14] ZaydH opened #20297 "Gumbel-Softmax Arxiv Docs Link Broken"
## 📚 Documentation

Docs for `torch.nn.functional.gumbel_softmax`.

Function `gumbel_softmax` docstring entry for `Gumbel-Softmax distribution` has two Arxiv links:

    .. _Gumbel-Softmax distribution:
        https://arxiv.org/abs/1611.00712
        https://arxiv.org/abs/1611.01144

The official [PyTorch docs](https://pytorch.org/docs/stable/nn.html#gumbel-softmax) concatenate the two links toge

[2019-05-09 03:14] SixerWang commented on #19453
Do you mean the core dump problem? When I don't use LSTM, or use LSTM on CPU, I don't meet the core dump problem.

[2019-05-09 03:21] beyondpie commented on #19453
Yes, I mean on GPU, even not LSTM model, a resnet18 from the demo example, still has the segmentation error.

[2019-05-09 03:39] xkszltl commented on #16544
Run into the same issue today.
Should we consider defaulting this to OFF with MSVC?

[2019-05-09 03:49] LCWdmlearning commented on #16123
hello ! I meet same problems.Have you solved it?

[2019-05-09 04:30] nihui commented on #17095
I met the same problem. resolved by adding no_grad guard. Thanks !

[code]

[2019-05-09 04:39] MingChaoXu commented on #2731
i find this problem too, but i uninstall several times, i think it's because i install too many versions of numpy

[2019-05-09 05:32] SixerWang commented on #19453
Maybe we should wait for official response.

[2019-05-09 05:37] peterjc123 commented on #16544
It should be set to OFF on default. Which command are you using during build?

[2019-05-09 05:40] xkszltl commented on #16544
Just a simple cmake command.
https://github.com/pytorch/pytorch/blob/3d4d7b90820101988b84e0b9a6544aeaa2247ee1/CMakeLists.txt#L124

[2019-05-09 05:41] peterjc123 commented on #16544
Oh, I see. You are using the cmake command. I'll see what I can do to fix this issue.

[2019-05-09 05:44] ZaydH opened #20301 "Softmax Docs Example Deprecated"
## 📚 Documentation

In the master docs for `nn.Softmax()`, the example provided is:

However, this implementation appears deprecated in 1.1.  You now get a warning like:

`UserWarning: Implicit dimension choice for softmax has been deprecated. Change the call to include dim=X as an argument.`

If you agree, I can change the example to `m = nn.Softmax(dim=1)` and issue a pull request so there is no

[2019-05-09 06:54] SsnL commented on #20301
Please make a PR. Thank you!!

[2019-05-09 07:38] ZaydH commented on #20301
I modified the docstring directly.  I assume that is all that is typical.  If I should rebuild the docs, etc., please let me know.

[2019-05-09 07:58] un-knight opened #20311 "pytorch1.1 training speed slower than pytorch1.0"
## 🐛 Bug

With the same configuration, I trained a face recognition model with pytorch1.0 and pytorch1.1 separately and found that training speed under v1.0 is faster than v1.1. To be more exact, I got about 2.5 batchs/sec/gpu with v1.0 while 2.0 batchs/sec/gpu with v1.1. Both experiments configurations are the same(same batch size, init seed, number of processes and so on).

I use the `torch.nn.p

[2019-05-09 08:12] ytgcljj opened #20312 "python setup.py install erroy"
launchx-500-10802@launchx50010802:~/github/pytorch$ python setup.py install
Building wheel torch-1.1.0a0+d24c0aa
-- Building version 1.1.0a0+d24c0aa
make: *** No rule to make target 'install'。 停止。
Traceback (most recent call last):
  File "setup.py", line 728, in <module>
    build_deps()
  File "setup.py", line 294, in build_deps
    build_dir='build')
  File "/home/launchx-500-10802/github/pytor

[2019-05-09 08:23] MatthiasKohl commented on #20275
Thank you for your help guys. Even though it was quite surprising to me when I saw it, I understand this is expected behavior, so I'll close the issue.

Just a final question: is there a way here to have the buffer not be part of the graph (maybe with something like `torch.no_grad()` instead of detaching from the graph) ?
I ask this because in some functions, it can be a bit hard to tell which ten

[2019-05-09 08:23] #20275 closed

[2019-05-09 08:56] un-knight opened #20313 "nccl runtime error: unhandled system error"
## 🐛 Bug

Got NCCL RuntimeError when startup a distributed training task with 2 nodes. Error code is:

[code]

But when I run the same code inside 1 nodes with multi-processes and each process per gpu, it works well.

## Environment

both node has the same configuration.

[code]

[2019-05-09 09:12] taylover-pei opened #20314 "What’s the difference between the two hypothesis?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

Resnet has a 4 component: layer1, layer2, layer3, layer4.

Hypothesis one：
And I ini

[2019-05-09 09:13] timha92 commented on #16830
Try add detach() to your tensor
either as
torch::Tensor loss = torch::mse_loss(out, desired_out.detach());
or
torch::Tensor desired_out = linear2->forward(in).detach();

[2019-05-09 09:32] tgy commented on #10172
This is supported in TensorFlow (https://www.tensorflow.org/api_docs/python/tf/linalg/eigh)

[2019-05-09 10:42] ptrblck commented on #20275
@MatthiasKohl That should also work as it was the solution to the [aforementioned issue](https://discuss.pytorch.org/t/how-does-batchnorm-keeps-track-of-running-mean/40084/16?u=ptrblck).

[2019-05-09 11:34] jcreinhold commented on #20028
@Kirayue I know this is not relevant to the current discussion, but—since you implemented and contributed the method to pytorch—what are your thoughts on adding in "normalized weight decay" as per Appendix B.1 in [Decoupled Weight Decay Regularization](https://arxiv.org/abs/1711.05101), which is, for all intents and purposes, the follow-up paper for SGDR.

They say it is a preliminary result, but

[2019-05-09 11:46] noobgrow opened #20315 "libtorch+opencv Mat result error: different from the python ones"
`#include <torch/script.h> // One-stop header.
#include <iostream>
#include <memory>
#include <string>
#include <opencv2/opencv.hpp>
using namespace std;
using namespace cv;

int main(int argc, const char* argv[]) {
	//加载模型
	string model = "model.pt";
	// Deserialize the ScriptModule from a file using torch::jit::load().
	shared_ptr<torch::jit::script::Module> module = torch::jit::load(model);
	as

[2019-05-09 11:59] mfuntowicz commented on #13118
@ezyang Thanks for having a look, here is the output:

[code]

Let me know if you need any other thing on my side that can be helpful.

[2019-05-09 13:01] heslowen opened #20316 "What is the meaning of such a formula in some functions"
## 📚 Documentation
What is the meaning of such a formula in some functions？ Just like the formula in the following picture
math::
        v = \frac{v}{\max(\lVert v \rVert_p, \epsilon)}.
![image](https://user-images.githubusercontent.com/22348625/57455073-e8efb900-729c-11e9-895f-588ec050ed4b.png)
Is my chrome lack of some Plug-ins so they can not show correctly??

[2019-05-09 13:09] SsnL commented on #20316
It's the latex that specifies the math function this API is performing.

[2019-05-09 13:10] #20130 closed

[2019-05-09 13:28] Usama-Zafar commented on #16559
I am getting the same issue. Seem like if you try to create a CUDA tensor in a thread it produces this error.

[2019-05-09 13:51] ezyang opened #20320 "C++ tensor.print() no longer gives useful information"
It's currently implemented as

[code]

But `dispatch_type()` no longer is giving useful information.

@li-roy, do you think you could take a look at this?

[2019-05-09 14:22] #20316 closed

[2019-05-09 14:32] soumith commented on #20314
please use https://discuss.pytorch.org for questions

[2019-05-09 14:32] #20314 closed

[2019-05-09 14:53] MrFive5555 opened #20322 "Segmentation fault occur when using index_copy_"
## 🐛 Bug

When using the index_copy_ function, the programme will throw a segmentation fault.

## To Reproduce

Steps to reproduce the behavior:
Run the code below:
[code]
[code]
I know the code following will work, but it seems that the issue above is an unexpected performent.
[code]
## Environment
[code]

[2019-05-09 14:56] zuoxingdong opened #20323 "Support size to `torch.normal`"
This would be more consistent with numpy.

[2019-05-09 14:58] ezyang commented on #13118
I've managed to reproduce on a Fedora docker image. My command log:

[code]

[2019-05-09 15:09] ezyang commented on #13118
This appears to be an NVIDIA bug.

[2019-05-09 15:15] ezyang commented on #13118
https://developer.nvidia.com/nvidia_bug/2593622

[2019-05-09 16:11] VitalyFedyunin commented on #17459
This seems to be doable by combining code from the https://github.com/celery/billiard/blob/master/billiard/reduction.py with our custom reductions from the
torch/multiprocessing/reductions.py basically all you need to do it copy
[code]
into the billiard code or separate module

[2019-05-09 16:13] VitalyFedyunin commented on #17459
Closing because it is out of the project scope and should be implemented as a separate python module as part of billiard.

[2019-05-09 16:13] #17459 closed

[2019-05-09 16:31] #20215 closed

[2019-05-09 16:37] TianHaiFinger commented on #17438
Hi, I have the same problem as you. Could you please describe your solution to this problem?
Thanks!

[2019-05-09 16:46] zdevito commented on #20287
This patch makes SourceRange printable, so `AT_ASSERT(cond, "error message\n", node->sourceRange())` will print context information.
https://github.com/pytorch/pytorch/pull/20300

[2019-05-09 16:54] pietern commented on #20200
@Usama-Zafar Can you confirm if any MPI operation against CUDA pointers works? If none of them work then the CUDA support in your MPI distribution or UCX may be broken...

[2019-05-09 16:54] romth777 commented on #17438
Hi, you should check if the data type is suitable; in my case, the embedding weight needs float64 type, then I fix it.
Cheers,

[2019-05-09 16:56] TianHaiFinger commented on #17438
Ok, I'll try. Thank you

[2019-05-09 17:07] pjh5 commented on #20271
I was not aware of https://github.com/pytorch/pytorch/blob/master/docs/libtorch.rst , but it is more recent than the binary jobs that build libtorch. I have never tried building libtorch myself, but if these instructions work then we should really switch the binaries to these; the binary way is a little hacky right now.

[2019-05-09 17:34] houseroad commented on #20031
I didn't see any problem here. If you want to control the names of inputs in exported model, please check input_names parameter in export function: https://github.com/pytorch/pytorch/blob/master/torch/onnx/utils.py#L90

[2019-05-09 17:34] #20031 closed

[2019-05-09 17:37] pedromorais17 opened #20326 "Libtorch error in header file"
I'm creating a class with libtorch members. While including "`#include <torch/script.h>`" into the header, I'm getting the following error:

`1>c:\code\externallibraries\libtorch_cuda10_debug\libtorch\include\aten\core\ivalue.h(713): error C2334: unexpected token(s) preceding '{'; skipping apparent function body (compiling source file GeneratedFiles\Release\moc_ImageProcessingInterface.cpp)`

If I

[2019-05-09 17:37] VitalyFedyunin commented on #20311
Try to set OMP_NUM_THREADS to the value equal to the number_of_cpu_cores / nproc_per_node

[2019-05-09 17:38] pedromorais17 commented on #20011
I found the solution. I'm sending an example of the conversion step to a binary image:

[code]

[2019-05-09 17:39] VitalyFedyunin commented on #19953
Also if you use distributed training, try to adjust OMP_NUM_THREADS env. variable.

[2019-05-09 17:39] houseroad commented on #19954
Right now, we don't have adaptive_pool in ONNX, is it possible, you can use regular pool to express your model?

[2019-05-09 17:41] houseroad commented on #19835
try

`export ONNX_ML=0`, and clean all the caches, and rebuild.

[2019-05-09 17:43] houseroad commented on #19948
This is an expected behavior, and appropriate warning have sent out. So close the issue.

[2019-05-09 17:43] #19948 closed

[2019-05-09 17:58] colesbury commented on #20199
This is **not** typically the case. Python objects including `torch.Tensor` are referenced counted. They are usually collected when the last reference is dropped. The collection is only delayed if they are involved in a reference cycle.

[2019-05-09 17:58] houseroad opened #20327 "[ONNX] Add fast_neural_style to the CI"
Like what we did for other examples in test_pyttorch_onnx_caffe2.py.

[2019-05-09 18:01] houseroad commented on #19374
Ideally, we should also add this model to the CI to prevent regression in the future. https://github.com/pytorch/pytorch/issues/20327

[2019-05-09 18:06] pietern commented on #18300
I notice you start those threads but don't join them explicitly. They are likely being joined at process termination, but then other stuff may have already been destructed. Can you try joining them inline (right after calling `start`) and report back what happens?

[2019-05-09 18:31] deepakn94 commented on #18300
If I join inline, there's no error (but no concurrency, so this is similar to not passing in `--helper_threads` at all).

If I join after starting all the helper threads (using the code below), I get the same error as before.

[code]

[2019-05-09 18:41] gkossakowski opened #20329 "[onnx] Malformed model exported with nn.Sequential and nn.Embedding"
## 🐛 Bug

ONNX exporter gets tripped by a model using `nn.Sequential` and `nn.Embedding` when the embedding layer is stored as a class property. The generated onnx file is malformed: it has an initializer for the user-defined input. The initializer used is the weight metrix of the embedding table.

The embedding table appears in initializers the second time (this time for the embedding layer).

##

[2019-05-09 19:10] xsacha commented on #20011
Woah, what are you doing there? That's a lot of modifying the image.
I understand the permute if it's the result of a forward, but why the multiple/clamp? If the result is floating point it is probably for a reason. Keep it in 32F?

You can also dump in straight in to a GpuMat. Then run a convertTo.

[2019-05-09 19:26] vadimkantorov commented on #20301
A proposal: a magic that would decorate certain examples to run as tests

[2019-05-09 19:43] sbarratt commented on #8304
The [following code](https://gist.github.com/sbarratt/37356c46ad1350d4c30aefbd488a4faa) will do the trick with a single call to backward, taking advantage of when the function takes batched inputs.

[2019-05-09 19:59] malmaud commented on #16996
What specifically do you mean by 'this bug'? Like, which methods? I did a fresh install of 1.1.0 and all the new type stubs have seemingly been installed correctly.

[2019-05-09 20:16] gycn commented on #6124
Has there been any progress on this issue?

[2019-05-09 20:17] ifedan commented on #15253
I just try to run a test for CPU:
[code]
And it seems like that c++ implementation is faster that scipy version.

Can you, please, provide the environment and the test that you ran?

[2019-05-09 20:26] ifedan commented on #15253
I ran the following test for GPU:
[code]

[2019-05-09 20:37] ZaydH commented on #20301
I assume these examples are being run through with `doctest` (they have similar format).  Is that not correct?

[2019-05-09 20:42] ailzhang commented on #13045
Closing this issue via https://github.com/pytorch/pytorch/issues/1637#issuecomment-338268158,
@JaeDukSeo if you also another work around for it, please feel free to share it here so that more people can find it. Thanks!

[2019-05-09 20:42] #13045 closed

[2019-05-09 20:49] ailzhang commented on #20297
Hey @ZaydH , we are happy to take an PR to fix it! Thanks!

[2019-05-09 20:50] ailzhang commented on #20312
Hey Could you reopen the issue using our bug report template and collect the necessary env info? It's hard to tell without enough error messages. Thanks!

[2019-05-09 20:50] #20312 closed

[2019-05-09 20:50] driazati commented on #18456
Closing since I haven't seen this recently but there was no real resolution so feel free to re-open if it happens again

[2019-05-09 20:50] #18456 closed

[2019-05-09 20:51] ailzhang commented on #20313
Hey @un-knight if you could provide a simple repro script for us to test, it would be super helpful. Thanks!

[2019-05-09 21:00] pedromorais17 commented on #20011
Yes @xsacha , I'm receving FLOAT data and converting to unsigned char. Indeed, your suggestion is more efficient, I will update it. Thank you very much for your support.

[2019-05-09 21:00] ailzhang commented on #20322
I'm adding "high pri" since I feel we should at least give a better error message instead of segfault, and it doesn't seem hard to do.

[2019-05-09 21:02] HapeMask opened #20335 "cat()/stack() calls in JIT do not accept lists of tensors"
## 🐛 Bug

When including a call to `th.cat(tensors)` in a ScriptModule, if `tensors` is a tuple of tensors the ScriptModule can be constructed, but if `tensors` is a list of tensors, the construction fails.

## To Reproduce

Run this short repro example:
[code]

The module will fail to construct unless the first cat() call is replaced w/the second.

## Expected behavior

cat() / stack() accepts li

[2019-05-09 21:08] ailzhang commented on #20311
@un-knight does it only happen in distributed training or the speed is also different in single gpu training? That will help us narrow down the issue. Thanks!

[2019-05-09 21:13] ailzhang commented on #20301
Closing as the PR is merged. @vadimkantorov please make a separate issue for running examples code. (I'm not sure how it's implemented, but I guess it's manually pasted there :P

[2019-05-09 21:13] #20301 closed

[2019-05-09 21:13] #17757 closed

[2019-05-09 21:46] pedromorais17 opened #20338 "CUDA too slow"
Hi all,

I'm working with libtorch (pytorch build 1.1) in Visual Studio 2017, Windows 10, NVIDIA Quadro P2000. Hi started by creating an initial model in python. My forward stage required 50 ms (in python with GPU). When moving to C++ (with GPU), I registered a similar result (approximately 50 ms). Then, I moved for a simple network (the original originated a .pt file of approximately 60 mb, and t

[2019-05-09 22:21] Stonesjtu commented on #20199
@colesbury But the reference cycles are almost everywhere in complicated (or simple) codebase

In the example below, the memory consumption keeps increasing until reaching CPython's threshold.

But if you uncomment the `gc.collect()`, it remains constant.

[code]

[2019-05-09 22:45] gchanan commented on #7082
I believe this should be fixed after https://github.com/pytorch/pytorch/pull/19011 -- please reopen if that is not the case.

[2019-05-09 22:45] #7082 closed

[2019-05-09 22:51] gchanan commented on #4685
Closing as these are reports from 0.2 with no update.  If this error still exists, people reopen.

[2019-05-09 22:51] #4685 closed

[2019-05-10 00:10] colesbury opened #20342 "TensorIterator resizes output to a scalar if there are no inputs"
## 🐛 Bug

In master e47b210 -- May 9, 2019

When TensorIterator is built with only a single output (and no inputs) it resizes the output to a scalar (0-dim).  The problem lies in `compute_shape`. If there are no inputs (and `resize_outputs_` is the default value of `true`) then `shape_` remains empty.

This bug is not user visible. There's no code currently that triggers it, but it makes it harder

[2019-05-10 00:28] jamestwebber opened #20343 "torch.distributions.Binomial.sample() uses a massive amount of memory"
## 🐛 Bug

I'd like to use a random sampling process as part of my training (related to work in [this paper](https://arxiv.org/abs/1901.11365). In my case this entails taking a binomial sample every epoch from the raw data, and using that sample to train. The dataset itself is small enough to fit into GPU memory (~8000 samples by 7000 features). Unfortunately, the binomial sample method contains [t

[2019-05-10 00:55] mkhoshle opened #20344 "Problem using Pytorch-GPU"
Hi all,

I am having trouble to run my code using GPU but it works totally fine on CPU. On GPU I get the following error:

[code]

In order to avoid the out of memory error I converted my mat file to h5 and I do not load all of my dataset into memory at the same time. My code runs perfectly fine on CPU. But this time I get the following error:

[code]

## Environment

[code]

And here is how I ins

[2019-05-10 02:28] un-knight commented on #20311
@VitalyFedyunin actually, I set `--nproc_per_node=8` and each proc have 6 threads for `DataLoader` in my training code.

[2019-05-10 02:53] peterjc123 commented on #20326
Would you please tell me which line does it exactly point to?

[2019-05-10 02:54] peterjc123 commented on #20326
Also would you tell me which version are you using?

[2019-05-10 03:09] lianghongzhuo commented on #16996
can't find reference in 1.1.0, some examples:
[code]

[2019-05-10 03:10] #13409 closed

[2019-05-10 05:29] bcrchzz commented on #16996
@malmaud

for example, `torch.arange`, `torch.zeros`, `torch.cat`
![image](https://user-images.githubusercontent.com/48672827/57504555-855e9d80-7327-11e9-8b05-49325f11d109.png)

[2019-05-10 05:35] zhuqiang00099 opened #20350 "libtorch problem on windows: fatBinaryCtl_CreateHandle"
## Environment
- libtorch version win-cu90-1.1.0
- cuda-driver 10.1
- gpu devices GTX1080 and RTX2070 (on one computer)

## Description
on gtx1080, the trace-model can be loaded through jit, but an error occurs on rtx2070,it says  fatBinaryCtl_CreateHandle can not be located on C:\WINDOWS\system32\nvcuda.dll. I have tested successfully on notebooks with GTX1060,GTX965M,GTX920M,GTX960M,GTX940MX. Th

[2019-05-10 05:45] peterjc123 commented on #20350
`nvcuda.dll` is managed by your GPU driver. Please keep them constant between devices.

[2019-05-10 05:49] raminrasoulinezhad commented on #16238
It solved my problem a well

[2019-05-10 05:57] un-knight commented on #20311
@ailzhang Hi! I have only tested it on single node multi-gpu environment with multi-processes and one process per gpu. And I have do some comparative experiment, here is the results:

nproc | pytorch1.0(batches/sec/gpu) | pytorch1.1(batches/se/gpu)
------------ | -------------|--------
1 | 2.6|2.93
4 | 2.5 | 2.50
8 | 2.49 | 2.10

from the result, we can see that v1.1 is faster than v1.0 in single

[2019-05-10 06:29] ailzhang commented on #20311
@un-knight Thanks for the detailed report! Would it be possible for you to share your model script with some fake data?
Thanks a lot!

[2019-05-10 06:53] peterjc123 commented on #20350
Wait, I just noticed you are using CUDA 9.0 binaries for RTX cards. I'm afraid you 'll have to use the CUDA 10.0 one instead.

[2019-05-10 06:53] #20350 closed

[2019-05-10 07:35] pedromorais17 commented on #20326
@peterjc123  I'm using pytorch 1.1, Visual Studio 2017, Windows 10, Cuda 10.

I have a class termed ImageProcessingInterface.

When I include "#include <torch/script.h>" in my header I get the abovementioned error message. If I include in the cpp of the class, it works ok. Nevertheless, I need to create some torch members in my class, so I need to include it in my header.

[code]

[2019-05-10 07:37] n2i95 commented on #16417
I am also having this issue. How to solve it??? `RuntimeError: CUDA out of memory. Tried to allocate 18.00 MiB (GPU 0; 4.00 GiB total capacity; 2.94 GiB already allocated; 10.22 MiB free; 18.77 MiB cached)`

[2019-05-10 07:58] zhuqiang00099 commented on #20350
Yes ..cuda10 works ...

[2019-05-10 08:01] un-knight commented on #20313
@ailzhang Of course! There is the test code address https://github.com/NVIDIA/apex/tree/master/examples/simple/distributed.

When I run the code on a single node, everything is ok. But when I run the code on multi-nodes, I got the nccl runtime error.

for example:
node1(node1 ip: 192.168.3.8)
[code]
----------------------------------------------------
node2
[code]

then node2 got nccl runtime erro

[2019-05-10 08:14] un-knight commented on #20311
@ailzhang Sorry, I'm afraid not, but I will try the distributed training on imagenet in my free time. And try to find out whether Resnet will get the same speedup ratio problem

[2019-05-10 08:18] lightningsoon commented on #1355
my solutions add  cv2.setNumThreads(0) at preprocess program
I have 2 dataloader ,which are for train and val
I only could run evaluater once.

[2019-05-10 09:15] vpedro87 opened #20355 "Backwards hangs"
Training is hanging during a call to backwards - I might be wrong but it looks like it hangs while one of the threads tries to acquire a lock.

The setup is the following:
 - pytorch version is 1.0.0post2
 - start 4 python processes on same machine (using multiprocessing spawn, but same happens with Popen)
 - each process uses a different gpu and different data (all data is loaded into memory prio

[2019-05-10 09:27] jbcdnr opened #20356 "Load tensor from file in C++ fails"
## 🐛 Bug

I don't manage to import a tensor saved in PyTorch from C++. Any help on this is welcome 😄

## To Reproduce

Save a tensor to a file in python.

[code]

Build this small C++ program

[code]

At runtime I get:

[code]
## Expected behavior

I would expect to be able to load a tensor from the PyTorch dump in the C++ program.

## Environment

PyTorch version: 1.1.0
Is debug build: No
CUDA us

[2019-05-10 09:32] Pipoderoso commented on #20326
I think #19405 may help you

[2019-05-10 09:43] designnner commented on #20128
how to solve this error ? IncompatibleKeys(missing_keys=[], unexpected_keys=[])

[2019-05-10 10:04] danFromTelAviv opened #20357 "Process finished with exit code 139 (interrupted by signal 11: SIGSEGV) ctc gpu"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2019-05-10 10:07] #20357 closed

[2019-05-10 10:17] pedromorais17 commented on #20326
Indeed, the problem is compatibility with QT. This issue was solved.

[2019-05-10 10:17] #20326 closed

[2019-05-10 11:38] lianghongzhuo commented on #16996
@bcrchzz `torch.arange`, `torch.zeros`, `torch.cat` works fine in 1.1.0 with the PyCharm IDE.
Did you update your pytorch?

[2019-05-10 11:41] pedromorais17 opened #20358 "Build Libtorch source in Windows"
Hi,

I'm trying to create the libtorch project using CMAKE 3.13.1. I'm using Windows 10, CUDA 10, pytorch 1.1, CUDNN 7.5.

However, while configuring the project I'm getting the following error:

[code]
[code]
[code]

[code]

Do you have any suggestion? Thank you in advance.

[2019-05-10 11:43] lianghongzhuo commented on #16996
What still cannot find the reference now is `torch.data` in the 1.1.0 version.

[2019-05-10 11:49] bcrchzz commented on #16996
@lianghongzhuo Both my pytorch and pycharm are in the latest version.
![image](https://user-images.githubusercontent.com/48672827/57525215-b4433680-735c-11e9-9e2a-3f12cf293dc0.png)

[2019-05-10 11:51] peterjc123 commented on #20358
[code]

[2019-05-10 11:53] #20358 closed

[2019-05-10 11:53] bcrchzz commented on #16996
Besides, I find more functions, `torch.sqrt/zeros_like/where`, which cannot be referred correctly.

[2019-05-10 12:16] vadimkantorov opened #20359 "[feature request] Run examples from docs as tests"
Quite a few times (e.g. https://github.com/pytorch/pytorch/issues/20301) some examples from docs became obsolete and ran unnoticed.

Proposal: ability to mark some examples in docs as tests and run them on CI and check execution for errors, warnings etc.

[2019-05-10 12:17] zhixinma commented on #2198
maybe you can check your data type of the embedding, it should be float32 but not float64.
This error can arise by a customed embedding matrix.

[2019-05-10 12:27] un-knight commented on #20313
I think I fixed the issue. It's my fault not to set `NCCL_SOCKET_IFNAME`, `MASTER_ADDR` and `MASTER_PORT` correctly. Debug with `NCCL_DEBUG=INFO` is very useful!

[2019-05-10 12:27] #20313 closed

[2019-05-10 12:48] malmaud commented on #16996
As @lianghongzhuo says, the type stubs for `torch.arange` etc have been successfully used in pycharm by others and me. If there still an issue for you, it must be on the PyCharm side - there's nothing more that can be done on the PyTorch side than shipping working type stubs.

[2019-05-10 12:58] andreskull commented on #17858
Here is the reproducible code that results in the same error:

`import torch.nn.functional as F
import torch.nn as nn
import torch
import math
from torch.utils.tensorboard import SummaryWriter

class Actor(nn.Module):
    def __init__(self):
        super().__init__()
        self.hidden = nn.Sequential(
            nn.Linear(23, 8),
            nn.ReLU(),
            nn.Dropout(p=0.15),
        )

[2019-05-10 13:03] bcrchzz commented on #16996
@malmaud Thank you a lot. I re-configured the python interpreter in the PyCharm Preference and reopened it. And the problem solved.
I use a remote python interpreter installed on a server. And I guess Pycharm may cache something locally, which makes it cannot refer the right version for lint.

Thanks again for your great jobs.

[2019-05-10 13:47] #20155 closed

[2019-05-10 13:51] zxhr2793 commented on #19953
@VitalyFedyunin This environment variable has impact on the training/testing time? or the final inference performance? I have looked for some information about this variable but do not fully understand.

[2019-05-10 13:53] #20250 closed

[2019-05-10 13:57] ezyang opened #20363 "Replacement header for <math.h>"
A common mistake is to use `M_PI` from `<math.h>` which is not portable on Windows. Standard workaround is to `#define _USE_MATH_DEFINES` before including the header. We should have a shim header that handles this for you, and then add a lint rule to forbid direct inclusion of `math.h`. Alternately, if only uses of `M_PI` are in cpp files, we can just add `-D_USE_MATH_DEFINES` to our Windows compi

[2019-05-10 13:59] DavidRuhe commented on #16996
@bcrchzz  I'm also use a remote interpreter. How did you reconfigure the remote interpreter? I removed it and re-added it but still have the reference problems.

[2019-05-10 14:05] ezyang commented on #6488
This was fixed see #8084

[2019-05-10 14:05] #6488 closed

[2019-05-10 14:06] ezyang opened #20364 "RoiAlignTest.CheckCPUGPUEqual hangs on ROCm"
Sample log: https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-clang7-rocmdeb-ubuntu16.04-test/20240/console

[code]

cc @bddppq @iotamudelta

[2019-05-10 14:08] gchanan commented on #20208
@izdeby can you take a look?

[2019-05-10 14:08] gchanan commented on #20322
@izdeby can you take a look?

[2019-05-10 14:58] ezyang commented on #19092
@dzhulgakov @VitalyFedyunin  After reviewing #19975, I have some new concerns about the recorded memory format tag in tensor. My basic problem is, how are we to decide if operations should preserve memory tag? Originally, I had thought that only "alternative layout aware" operators would need to have these smarts. But looking at Vitaly's patch, I think some core operators are also going to need ad

[2019-05-10 15:07] VitalyFedyunin commented on #19092
Wait, tensors are still stay indexed in the order of: 0-dim N; 1st-dim C; 2nd-dim H; 3rd-dim W. So x[0] returns tensor with 0-dim C; 1st-dim H; 2nd-dim W. Regardless if x was channels_first or channels_last memory layout.

Otherwise memory_format just makes no sense and we need only to permute tensor.

[2019-05-10 15:08] ezyang commented on #19092
My point is that the memory format tag isn't preserved. If the input tensor was tagged `channels_last`, the new tensor is tagged `any`

[2019-05-10 15:09] ezyang commented on #19092
cc @zou3519, the layout propagation logic here reminds me a lot of named dimension propagation in the named tensor work.

[2019-05-10 15:14] colesbury commented on #20363
Or just disallow `M_PI` which is not part of the standard?

[2019-05-10 15:16] colesbury commented on #20363
To clarify, I'd suggest a replacement for `M_PI` (which is not standard) instead of a replacement for `math.h` (which is standard).

[2019-05-10 15:18] ezyang commented on #20363
SGTM

Excerpts from Sam Gross's message of 2019-05-10 15:17:13 +0000:

[2019-05-10 15:18] colesbury commented on #20363
Also, this made me think of this:

https://twitter.com/doom_txt/status/1106238987687976962

[2019-05-10 15:30] Genius1237 commented on #16996
I get errors for `torch.tensor`,`torch.float`, `torch.ones`, `torch.zeros` and `torch.zeros` on 1.1.0 installed from pypi on VS Code.

[2019-05-10 15:40] slowbull commented on #18414
There are two minor issues in your code which may cause your bad results on BS 16384. I can obtain test error 85% on BS16384 with my implementation.    Firstly, You don't need to apply lars on 'bn' and 'bias'.  Adding these lines may help.

params_skip = []
  params_noskip = []
  skip_lists = ['bn', 'bias']
  for name, param in net.named_parameters():
    if any(name in skip_name for skip_name in

[2019-05-10 15:40] bddppq commented on #20364
This issue will be fixed once all CI servers have been upgraded to ROCm 2.4 (which includes a firmware upgrade). The upgrade is on going, but since we have quite a few CI workers now, expect couple of days before it’s finished.

[2019-05-10 15:42] gchanan commented on #1485
removing "topic: crash" as this doesn't crash.

[2019-05-10 15:50] gchanan commented on #20052
This looks complete after https://github.com/pytorch/pytorch/pull/20283.

[2019-05-10 15:50] #20052 closed

[2019-05-10 15:55] ailzhang commented on #20311
Thanks @un-knight! That will be super helpful too! If there's a commonly available network that has similar structure/model to yours and shares the same speed regression, we will definitely look into it!

[2019-05-10 16:04] gchanan commented on #19900
I wasn't able to reproduce this on 1.1 -- please reopen if you can reproduce on 1.1 (and provide a specific n please).

[2019-05-10 16:04] #19900 closed

[2019-05-10 16:12] gchanan opened #20367 "Overhead performance regression over time umbrella issue."
This issue is meant to collect various performance-regression-over-time bug reports that aren't specific op regressions, that almost certainly overlap, but which we should track separately to make sure we cover all the cases.

To start:
https://github.com/pytorch/pytorch/issues/5388
https://github.com/pytorch/pytorch/issues/16717
https://github.com/pytorch/pytorch/issues/2560

[2019-05-10 16:13] gchanan commented on #2560
tracking "high priority" in master issue https://github.com/pytorch/pytorch/issues/20367.

[2019-05-10 16:14] gchanan commented on #5388
tracking high priority in umbrella issue: https://github.com/pytorch/pytorch/issues/20367.

[2019-05-10 16:22] gchanan commented on #19668
removing "high priority" because a workaround exists.

[2019-05-10 16:34] soumith commented on #20355
@mrshenli @albanD do you have any ideas on why it might be hanging?

[2019-05-10 16:49] suo commented on #17858
@andreskull thanks for your repro!

@orionr is this perhaps related to the tensorboard onnx export? Can you or @lanpa take a look

[2019-05-10 16:55] soumith commented on #20344
You dont have mkl installed in your anaconda environment. `conda install mkl` should do.

ImportError: libiomp5.so: cannot open shared object file: No such file or directory comes with that

[2019-05-10 16:55] #20344 closed

[2019-05-10 16:57] ezyang commented on #20048
So, one interesting thing to note, is that a single call to `cudaGetDeviceCount` is sufficient to initialize CUDA and cause forking to fail. I made some relevant changes during a time when I was not aware of this distinction (#18445), and this might be the cause of the problem.

[code]

[2019-05-10 16:59] ezyang commented on #20048
Update: The particular PR I linked looks blameless, as it doesn't seem to cause cudaGetDeviceCount to be called any more than it was previously. Still investigating.

[2019-05-10 17:04] gchanan commented on #14571
@nairbv said he'd look at this.

[2019-05-10 17:11] ezyang commented on #20048
This script passes on master:

[code]

So, at least the "basic" CPU functionality is not broken.

[2019-05-10 17:17] Krovatkin commented on #19070
@soumith yes, fixed in https://github.com/pytorch/pytorch/pull/19905

[2019-05-10 17:17] #19070 closed

[2019-05-10 17:19] ezyang commented on #20355
Is it possible to get the reproducer script (even if it takes multiple hours to repro)? What happens on master?

[2019-05-10 17:20] Krovatkin commented on #20101
@SsnL https://github.com/pytorch/pytorch/pull/20368 should make trace API consistent with what @apaszke and @zdevito decided. If you pass `my_module.my_not_forward_method` it will complain now.

[2019-05-10 17:32] mrshenli commented on #20355
@vpedro87 would I be correct to assume that you are not using `DistributedDataParallel`, and instead manually synchronize training using `torch.distributed.all_reduce`, `torch.distributed.all_reduce`, etc.?

[2019-05-10 17:33] ezyang commented on #20048
@Amir-Arsalan I "reconstituted" your small script into a running reproducer:

[code]

However, on master, this does not reproduce the problem. Can you dump your entire script here, by any chance? Otherwise, we'll need a more detailed reproducer.

[2019-05-10 17:35] zou3519 commented on #20359
I think this would be great, but it might take a bit of work to get it up and running.

[2019-05-10 17:41] zou3519 commented on #20338
Could you provide some more information about what is in your model?

[2019-05-10 17:46] vpedro87 commented on #20355
Afraid it's not possible to upload the reproducer script. I'm trying to write a smaller version which also hangs - but testing for this is tricky since the original script may take hours to hang.

@mrshenli that's correct I'm not using DistributedDataParallel and instead calling torch.distributed.all_reduce in each machine separately at the end of each batch.

[2019-05-10 17:47] vpedro87 commented on #20355
Don't know if it's helpful but I didn't kill the processes yet - they're still stuck.

[2019-05-10 17:54] spandantiwari commented on #17534
@houseroad @daiwei89 - I tried to repro this with the latest master and I see that actually both SimpleModel1 and SimpleModel2 exports are broken.

For SimpleModel1 I see the following failure:
[code]
For SimpleModel2 the export goes through, but the exported model is obviously wrong. Here's the graph:
[code]
I will look at this issue.

[2019-05-10 18:01] suo commented on #17534
Thank you @spandantiwari!

[2019-05-10 18:02] mrshenli commented on #20355
Are you passing `async_op=False` or `async_op=True` to `all_reduce`? Is it something like the following:

[code]

In the above case, both forward and backward are local activity. But it could be sth got messed up in the previous `all_reduce`. Could you please try two things:

1. set `async_op=False` to force synchronization after every `all_reduce`.
2. run you code with latest PyTorch master. We f

[2019-05-10 18:04] zou3519 commented on #20264
How does a static variable stop delayed loading from working?

[2019-05-10 18:07] spandantiwari commented on #17534
@houseroad @daiwei89 - The prim::Constant issue seems to be coming from how default arguments are handled in TorchScript based export. We have seen this issue before, and there are a couple of PRs by @BowenBao  that should address the issue here.
https://github.com/pytorch/pytorch/pull/20255
https://github.com/pytorch/pytorch/pull/20256

@houseroad @suo - If you could please review them, that'll b

[2019-05-10 18:08] mrshenli commented on #20355
It will be helpful if you could post your script even if it's hard to reproduce. We can help to check if there is any unexpected configurations.

[2019-05-10 18:11] mrshenli commented on #20355
@ezyang if a tensor content got modified during a backward call, will it cause backward to hang or just produce wrong results?

[2019-05-10 18:15] vpedro87 commented on #20355
@mrshenli I'm using the default in all_reduce, i.e. async_op=False.
Code is something along these lines:
[code]

[2019-05-10 18:16] makeyourownalgorithmicart commented on #20323
yes - I support this

the current API is inconsistent with the rest of the API an norms set by bumpy

also the size should/could be a tuple

[code]

[2019-05-10 18:17] ezyang commented on #17680
I think your problem is that you're using `spawn`, but your notebook doesn't have the (mandatory!) `if __name__ == '__main__'` guard. The reason this is important is because the way spawn works is it first *loads* your notebook and runs all of its code (including `pool.map`), and then it actually tries to run the `run_steps` function you requested to be run. Obviously if all your child tasks are r

[2019-05-10 18:20] vpedro87 commented on #20355
will try to run in latest PyTorch master and report back - that will take a few days.

Really cannot share the script I'm afraid - need to write a simplified version of it and check it also hangs.

[2019-05-10 18:23] ezyang opened #20375 "Better documentation / molly-guards around use of multiprocessing with spawn in Jupyter/ipython notebooks"
Apparently, it's really popular for users to use multiprocessing + spawn in ipython/Jupyter notebooks. For example, #17680; also, https://fb.workplace.com/groups/1405155842844877/permalink/2766399306720517/ (FB-only)

There is a loaded footgun that occurs when you combine these three ingredients: the spawn method will **run everything in your notebook top-level** (and you probably have live statem

[2019-05-10 18:25] ezyang commented on #15734
@EvenOldridge Invalid device memory sounds like a different problem. Do you want to file a separate issue for it?

Also, #20375 may be relevant to people on this thread.

[2019-05-10 18:27] ezyang commented on #20375
Also related #3492

[2019-05-10 18:35] mrshenli commented on #20355
BTW, any reason for not using `DistributedDataParallel`?

[2019-05-10 18:42] vpedro87 commented on #20355
Main reason is that I haven't looked into it, tbh.

[2019-05-10 18:52] igormq commented on #20017
Any news?

[2019-05-10 18:55] izdeby opened #20376 "assertEqual in tests ignores dtype when comparing tensors."
In unit tests, a check like this:
`self.assertEqual(torch.tensor([1], dtype=torch.int), torch.tensor([1], dtype=torch.double))` should fail but it doesnt.

cc @ezyang @gchanan @zou3519

[2019-05-10 19:00] #19186 closed

[2019-05-10 19:10] mrshenli commented on #20355
[Here](https://pytorch.org/tutorials/intermediate/ddp_tutorial.html) is a tutorial.

[2019-05-10 19:50] mrshenli commented on #18853
@albanD @ezyang @colesbury do you have any thoughts on the autograd memory leak issue?

[2019-05-10 20:00] yaroslavvb opened #20380 "torch.distributed support on MacOS is missing"
Currently trying to use distributed on MacOS crashes because torch.distributed namespace is empty
I vaguely recall it working a year ago.

This is useful for quick sanity checks on my MacBook before deploying to cluster.

[code]

[2019-05-10 21:56] orionr commented on #17858
@andreskull thank you for the code! For `add_graph`, you need to pass through a sample bit of data in order to trace the graph. Please take a look at https://pytorch.org/docs/stable/tensorboard.html at the  top for an example. Does passing a sample through work for you?

[2019-05-10 22:25] enoonIT commented on #17680
Thanks for the explanation, that does make sense

[2019-05-10 22:25] #17680 closed

[2019-05-11 00:17] #19363 closed

[2019-05-11 00:38] eellison opened #20388 "[JIT] Support Forward Reference Type Annotations in UDT"
## 🐛 Bug

Cannot type a class with an annotation that contains itself using python 3 style comments

## To Reproduce
[code]
## Expected behavior

Should work based on the description of forward references in PEP 484
https://www.python.org/dev/peps/pep-0484/#forward-references

cc @suo

[2019-05-11 00:46] jacobrgardner commented on #15253
@ifedan I believe see two issues with your testing code:

1. Timing only the `torch.cdist(a, b)` call is problematic because, as a cuda call, it is asynchronous. As a result, you're only really getting timing for launching the CUDA call. In my test code, I included printing out an entry in the result, which will ensure that we block on the CUDA calls actually returning. For example:

[code]

2. Fo

[2019-05-11 01:09] jacobrgardner commented on #15253
If it's useful, here's a fully self contained timing test that handles synchronization appropriately:
[code]
From which I get:
[code]

[2019-05-11 03:27] ajaysg commented on #17858
I was getting the error when I tried a import a pytorch model(. Pt) to onmx
format. Still I could not find out a way

On Sat, 11 May, 2019, 3:27 AM Orion Reblitz-Richardson, <
notifications@github.com> wrote:

[2019-05-11 03:28] ajaysg commented on #17858
*onnx fromat

On Sat, 11 May, 2019, 8:57 AM Ajay Ganesan, <ajay190694@gmail.com> wrote:

[2019-05-11 05:10] hameerabbasi commented on #16955
I just tested this on Linux, and yes, `ccache` does seem to cause it.

[2019-05-11 08:45] xinliweiyuan opened #20393 "NameError: name 'List' is not defined in custom_rnns LSTMCell jit fastrnns"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

seq_len, batch, input_size = 5, 12, 20
hidden_size = 32
inp = torch.randn(seq_len, batch, input_size)
state = LSTMState(torch.randn(batch, hidden_size),
                      torch.randn(batch, hidden_size))

lstm = LSTMLayer(LSTMCell, input_size, hidden_size)
out, out_state = lstm(inp, state)
print(out.shape)

rlstm = ReverseLSTMLayer(L

[2019-05-11 09:20] xinliweiyuan commented on #20393
It is the PyTorch version problem.  I use the update command to update version 1.0, and cos the problem. While when I install 1.1 and uninstall 1.0. The problem solved.

[2019-05-11 09:20] #20393 closed

[2019-05-11 10:28] pedromorais17 commented on #20338
I think that I found the problem. Basically, I created a simple C++ code with a for-cycle to repeat the following instruction several times and get the times:

for each index of the cycle, I start by:
1 - read image
2 - transform to gpu tensor
3 - read the model using torch::jit::load
4 - start timer
5 - get output tensor through module-forward(input).toTensor;
6 - end timer
7 - convert data to c+

[2019-05-11 11:07] seongwook-ham commented on #20311
in my case, pytorch-pretrained-BERT(https://github.com/huggingface/pytorch-pretrained-BERT) squad task 1.1 is same situation.
single gpu performance is not problem but in multigpu setting with nn.dataparallel or distributed training, pytorch 1.1.0 is much slower than pytorch 1.0.1.
it could be related phenomenon that pytorch 1.1.0 use much lower vram than 1.0.1,

[2019-05-11 14:36] soumith commented on #20338
yea, that's probably because your weights are being evicted from cache and they have to be reloaded?

[2019-05-11 14:36] #20338 closed

[2019-05-11 15:25] vishwakftw commented on #16780
I have got the issued fixed the MAGMA team. The fix should be available in their recent release: v2.5.1-alpha1.

cc: @soumith

[2019-05-11 15:37] nbrgr commented on #12112
`ATEN_CPU_CAPABILITY=default` fixed my issue with Illegal Instruction core dumps. However, in my case it was from running a release build I downloaded via conda with
`conda install pytorch-cpu torchvision-cpu -c pytorch`

The stack trace for my issue is

[code]

Here is the output from `lscpu`:

[code]

This is the code that was run:

[code]

According to gdb the instruction that caused the core d

[2019-05-11 15:50] danFromTelAviv opened #20396 "add ram limit to net for production"
## 🚀 Feature
Allow a ram limitation that would slow down the inference in favor of limiting ram usage.

## Motivation
In many production settings, we want to use very cheap servers that have specific limitations on the ram. However, we get all sorts of samples ranging in sizes (audio in my case, but this could be true for text or other variable length samples ). The default way to deal with this i

[2019-05-11 17:09] soumith commented on #20396
If you just need to run inference, running the inference in a `with torch.no_grad():` block will store no intermediate buffers at all, and will have as low of a memory limit as one can get.

If you have to run `backward` pass as well in production, we give utilities called `checkpoint` and `checkpoint_sequential` that allow you to trade-off memory for speed: https://pytorch.org/docs/stable/checkpo

[2019-05-11 17:09] #20396 closed

[2019-05-11 17:13] soumith commented on #12112
@nbrgr our binaries are built for a CPU with capability of at least SSE4 / SSE/4.1/4.2/4.3 (considering any processor in the last decade). Your virtualization layer is not enabled for anything beyond SSE2, I suggest that you figure out how to enable that in your virtualization layer -- your underlying processor likely supports it.

[2019-05-11 17:36] danFromTelAviv commented on #20396
Hi @soumith.
I think you missunderstood me. Although that may help a bit.
What I would like is within each layer for there to be minimal ( or limited ) ram usage as well as in between layers. for example if I have two consecutive conv1d layers of filter len 3 with padding all I need is 5 timesteps in the ram at once to calculate the result for a single final timestep.

My issues is when I get samp

[2019-05-11 17:55] soumith commented on #20396
If it spans to a layer-internal granularity, i think such a feature is simply hard to design. It's unlikely that we'll provide it.
You need global limits, and you need every single function in pytorch to be aware of these limits -- it's not a simple change of "oh let's reorder this for-loop". On GPU, it gets even more complex to design a kernel with blocking in mind -- it directly affects speed.

[2019-05-11 18:08] danFromTelAviv commented on #20396
It would likely be very complex to make this happen ( unless someone comes up with a creative solution ) but it would really help in many production/ low ram situations ( cellphones for example ). I don't think tf has anything like this either so it could be a nice little feature to compete with ; )
I guess it really depends on how many people could find this useful - maybe I'm just looking at it

[2019-05-11 18:12] soumith commented on #20396
most production situations that I've heard about or encountered are not low-ram. Even cellphones are getting quite powerful.
The market for low-ram as you mean it is quite low and likely shrinking going forward.

[2019-05-11 18:30] danFromTelAviv commented on #20396
1-3 gb of ram ( as a single process ) I think will continue to be significant for some time...
I personally want this for processing [almost] arbitrarily large files - imagine videos that are processed all together, very long audio files, high-resolution images. In our case, I would like to limit my servers to 2 gb of ram due to the costs of a larger server.
I think the data types will actually gr

[2019-05-11 18:49] colesbury commented on #12112
@soumith I don't think that's the issue. If it were an SSE4 instruction then I don't think setting `ATEN_CPU_CAPABILITY=default` would have fixed it.

The issue seems to be that it's using an FMA4 instruction on a processor that doesn't support it. My guess is that it's a bug in the Sleef dispatcher (we don't use FMA4 anywhere). FMA4 is a little weird because it's **only** supported on AMD process

[2019-05-11 19:02] colesbury commented on #12112
@soumith, also I'm not sure why you say "our binaries are built for a CPU with capability of at least SSE4 / SSE/4.1/4.2/4.3". I don't see anything in our build files that suggests this and it seems like an unnecessary restriction. (Also SSE 4.3 doesn't exist)

[2019-05-11 19:42] denru01 commented on #14870
I encountered the same problem in the nightly build, but not in the 1.0 stable build.
- I run the training script on a single machine with 8 GPUs and the training procedure got stuck in the middle of training. The strange thing is that it happened at 70-ish epoch instead of the first few iterations.
- I tried to use a third-party library, apex, and it still got stuck but at different epoch.

[2019-05-11 19:59] colesbury commented on #12112
I wrote up the bug on the Sleef GitHub https://github.com/shibatch/sleef/issues/261

We should just patch this line:

https://github.com/zdevito/sleef/blob/191f655caa25526ae226cf88dd2529265176014a/src/arch/helperavx.h#L66

so that it says `reg[2]` instead of `reg[3]`

[2019-05-11 20:53] colesbury commented on #20199
@Stonesjtu we shouldn't generate any reference cycles during normal operation. For example, we worked hard to ensure that autograd backwards doesn't generate any reference cycles. It's really a bug if we do: relying on the GC can still result in OOM and way too much GPU memory usage.

What you describe in load_state_dict should be fixed. The fix is simple: a `del load` after this line:
https://git

[2019-05-11 21:48] Stonesjtu commented on #20199
Thanks for the fix!

[2019-05-11 22:54] #20004 closed

[2019-05-11 23:08] suo opened #20399 "[jit] can't use script classes as torch.jit.Attribute"
[code]
results in:
[code]

[2019-05-11 23:44] emerali opened #20400 "Improper handling of momentum in CyclicLR"
## 🐛 Bug

The CyclicLR scheduler tries to access the optimizer's momentum parameter even if `cycle_momentum=False`.

## To Reproduce

Steps to reproduce the behavior:

1. Setup a model named `net`
2. Run the following:
[code]

Resulting error:
[code]
## Expected behavior

I expect the scheduler not try to access the `momentum` key if I've told it not to cycle the momentum parameter. The error seem

[2019-05-11 23:48] emerali commented on #20400
seems this is a duplicate of #19003 (didn't see it when I tried searching earlier)

[2019-05-11 23:48] #20400 closed

[2019-05-12 01:37] mickypaganini opened #20402 "Tensor and nn.Module Pruning"
## 🚀 Tensor and nn.Module Pruning
Tensor method and/or `nn` util to sparsify tensors and/or model, according to various pruning techniques in the literature.

## Motivation
State-of-the-art deep learning techniques rely on over-parametrized models that are hard to deploy. On the contrary, biological neural networks are known to use efficient sparse connectivity. It's important to identify best tec

[2019-05-12 01:48] Amir-Arsalan commented on #20048
@ezyang I'll try to provide a script on Monday.

[2019-05-12 02:04] yaroslavvb opened #20403 "Installing PyTorch 1.1 into cloned conda env that contained PyTorch 1.0 gives "Getting "module 'torch._C' has no attribute 'BoolStorageBase'" with PyTorch 1.1""
Trying to install and use PyTorch 1.1 on AWS image derived from DLAMI 22 fails with following on `import torch`
[code]
Things tried

[code]

On a different machine
[code]

Uninstalling torch and reinstalling version 1.0 with pip fixes the issue
Another solution that worked was to install torch 1.1 directly into pytorch_p36 environment instead of cloning it

[2019-05-12 02:10] yaroslavvb commented on #20403
This seems to be similar issue to https://github.com/pytorch/pytorch/issues/12031 . It looks like you must do `conda uninstall pytorch -y` before `conda install pytorch` or you end up in unrecoverable bad state

[2019-05-12 02:10] #20403 closed

[2019-05-12 02:17] kamathhrishi commented on #17902
I would like to work on this.  @sbarratt aren't you going for it ?

[2019-05-12 02:25] escorciav commented on #15601
is this going to move along?
👍 for an official (zero-copy) bridge btw pytorch<=>numba, GPU tensors.

[2019-05-12 02:32] yurivict opened #20404 "Sleef build failure: Usage : ../../bin/mkalias <vector width> <vector FP type> <vector int type> <mangled ISA> <extension>"
[code]

OR the same with GNU make

[code]

Log: https://people.freebsd.org/~yuri/py-pytorch-failure.log

1.0rc0-4217-g163f0e182
FreeBSD 11.2

[2019-05-12 02:55] 8enmann opened #20405 "CosineAnnealingLR has unexpected behavior with large step"
## 🐛 Bug

CosineAnnealingLR has unexpected behavior with large step. We use token count as the step for language modeling and this is often in the 1e9 range.

## To Reproduce
1. Construct torch.optim.lr_scheduler.CosineAnnealingLR with max_step=1e9
2. scheduler.step(x) for large x

Repro in this collab notebook
https://colab.research.google.com/drive/11htMBtisAHq7fQViW0inUMPAiA2J93t3

## Expected

[2019-05-12 03:05] shizi626 opened #20406 "torch.nn.functional.nll_loss return unexpected nan"
## 🐛 Bug

`torch.nn.functional.nll_loss` returns unexpected `nan` loss on some `ignore_index`  value
## To Reproduce

Steps to reproduce the behavior:

[code]
The inputs and targets are following
[code]
this is the output result
[code]

## Expected behavior

I think the output result on `ignore_index` value (i.e. `-1` in this case) should be zero (or other values except `nan`), but I get `nan` on

[2019-05-12 03:36] vishwakftw commented on #20343
cc: @fritzo @neerajprad

[2019-05-12 03:50] jamestwebber commented on #20343
I will add that, while numpy appears to do this efficiently, [you might not want to emulate their implementation](https://github.com/numpy/numpy/blob/master/numpy/random/mtrand/distributions.c#L313)

[2019-05-12 03:54] SsnL commented on #20128
@designnner This is not an error. It's just the `repr` that isn't ideal. Feel free to ignore.

[2019-05-12 05:48] iArunava commented on #20128
Hi! I am looking into this.
And I would like to know whose `__repr__` are you suggesting to change?

Also, I was thinking of replacing the following
https://github.com/pytorch/pytorch/blob/163f0e182c7e092d6b61600e3a5e20347abab848/torch/nn/modules/module.py#L778
with
[code]
or some other message, or nothing at all.
Let me know.

[2019-05-12 06:31] musikisomorphie commented on #6934
@soumith, I noticed that you were assigned to several issues, can I help you with this one?  I work on image restoration and GAN, so I used this metric a lot. I could give it a try.

[2019-05-12 08:56] Jonas1312 opened #20408 "DLL error on Windows 10"
## 🐛 Bug

I was trying to build a documentation for a python package that uses pytorch and I got the following error:

[code]

It's pretty hard to reproduce because when I run the same commands manually it works:
[code]

I also switched python version to 3.6.8 and same error.

## Environment

[code]

 - PyTorch Version (e.g., 1.0): 1.1.0
 - OS (e.g., Linux): windows 10 17763
 - How you installed P

[2019-05-12 09:41] kamathhrishi commented on #20240
Awesome, I would like to implement this but I am not finding the existing implementation of cumprod and cumsum just to have an understanding of how cummax could follow the standards of PyTorch.

Thank you.

[2019-05-12 10:10] DHPO opened #20409 "[DataLoader] RuntimeError: unable to resize file </torch_22438_3818345986> to the right size"
## 🐛 Bug

When I run program on server by SSH, DataLoader may cause this RuntimeError.

If this error happens, in the same SSH session it can reproduce again (but file number varys).

But after I reconnecting SSH, everything is OK.

## To Reproduce

Steps to reproduce the behavior:

Cannot always reproduce.

Traceback:
[code]

## Environment

(I use the official docker image)

PyTorch version: 1.0

[2019-05-12 12:21] lironmo opened #20410 "pytorch 1.0.1.post2 crash at forward on Mac Os after fork"
hello,
i created the following scripts for testing,
not sure what is the source of the problem but it's seems that in some scenario it's happened on linux as well at different but similar scenario(crash on forward after fork)
the following script crash on mac OS (see next comment)

[2019-05-12 12:22] lironmo commented on #20410
`import torch
import torchvision
import torch.multiprocessing as mp

def test(m):
    # m.share_memory()

    print('3')
    t = torch.ones((1, 3, 224, 224), dtype=torch.float32)
    print('4')
    with torch.no_grad():
        o = m(t)
    print('fun for all')

def run_forward_local():
    print('Start forward_local')
    torch.set_num_threads(1)
    m = torchvision.models.resnet18()
    t = torc

[2019-05-12 12:36] peterjc123 commented on #20408
Print PATH before `from torch._C import *`. That is, add `print(_dl_flags.environ['PATH'])` before that line.

[2019-05-12 12:37] peterjc123 commented on #20408
BTW, may I know what this error mean in English?

[2019-05-12 12:43] Jonas1312 commented on #20408
Yes sorry it's in French, in English: `ImportError: DLL load failed: A dynamic link library (DLL) initialization routine failed.`

`print(_dl_flags.environ['PATH'])`:

[code]

[2019-05-12 13:43] opherlieber opened #20411 "Non blocking tensor copy to GPU not working from torch 1.0"
## 🐛 Bug

The non_blocking option of tensor.cuda()/tensor.to() does not seem to have any effect as of torch 1.0, or possibly something additional needs to be configured for it to work?

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

In torch 0.4 the time it took is ~5ms (Aside from the 1st iteration), and ~25ms when setting non_blocking=False.
As of torch 1.0 up t

[2019-05-12 13:53] nikita-astronaut commented on #6124
Buys, the periodic padding is VERY needed!

[2019-05-12 13:57] peterjc123 commented on #20408
https://github.com/tensorflow/tensorflow/issues/23683 Would you please try whether downgrading protobuf which is suggested in this post helps?

[2019-05-12 14:01] peterjc123 commented on #20408
Plus,  maybe issue https://github.com/pytorch/pytorch/issues/20202 is related.

[2019-05-12 14:04] peterjc123 commented on #20408
Plus, you can use `Process Monitor` to locate which DLL is exactly the cause of this issue.

[2019-05-12 14:19] sbelharbi commented on #10577
Pytorch: 1.0.1
Python: 3.7.0

Make sure you have enough space on disc.
My code was working fine, then suddenly this error (related to saving the model) starts to show:
[code]
The server's disc was saturated....
After making some space, the code turns to work fine.

I think that the error message can be improved to be more clear!!!

[2019-05-12 14:28] frams163com commented on #14850
c10 may be short for **C**ore **Ten**sor Library.  However,  there is ATen, which is A Tensor Libraray. The naming convention is a little weird.

[2019-05-12 14:42] yaroslavvb commented on #20403
Actually even conda uninstall pytorch -y only works sometimes. There's some non-determinism about conda and clone. Ultimately I was able to install a working version of pytorch 1.1 by using "build from source" instructions on a machine where all the other methods failed

[2019-05-12 15:06] fmassa commented on #20240
@kamathhrishi they are currently implemented in our legacy library TH / THC, you can find them in https://github.com/pytorch/pytorch/blob/163f0e182c7e092d6b61600e3a5e20347abab848/aten/src/TH/generic/THTensorMoreMath.cpp#L369-L401
for CPU and
https://github.com/pytorch/pytorch/blob/163f0e182c7e092d6b61600e3a5e20347abab848/aten/src/THC/generic/THCTensorMathScan.cu#L108-L120
for CUDA

[2019-05-12 15:25] Jonas1312 commented on #20408
@peterjc123 I don't have protobuf installed on my computer. I tried to install both 3.5.1 and 3.5.2 but nothing changed.

I've tried Process monitor and I think the .dll causing the issue is "cudnn64_7.dll" shipped with the pytorch wheel.

https://user-images.githubusercontent.com/15847892/57584117-1eccb180-74d8-11e9-82fe-72fa7dc2881b.jpg

On the image above you can see the .py files being read fo

[2019-05-12 15:46] peterjc123 commented on #20408
I didn't see anything wrong there. Could you please give me the full log in text form? Also, what about giving it admin rights?

[2019-05-12 16:02] Jonas1312 commented on #20408
[logfile.zip](https://github.com/pytorch/pytorch/files/3170280/logfile.zip)
Contains full log in .csv and .pml format.
I have filtered the log to show only python executable

[2019-05-12 16:05] Lalaland commented on #20343
For those large sizes couldn't you just use a normal approximation?

[2019-05-12 16:21] Alaya-in-Matrix opened #20412 "String in tensor"
## 🐛 Bug

`"whateverstring" in torch.tensor(1.)` returns True

![image](https://user-images.githubusercontent.com/8230801/57584985-5d805d00-7514-11e9-9303-d0e9f6d72257.png)

This bugs happens in torch.1.1.0, I'm running pytorch with python 3.6.5, on windows linux subsystem.

But it won't happen in 1.0.1post2, with Ubuntu 16.04 and python 3.6.8

![image](https://user-images.githubusercontent.com/82

[2019-05-12 17:27] Derek-Wds commented on #20129
Hi, in the paper by [Cho](https://arxiv.org/pdf/1406.1078.pdf). The documentation of GRU's formula is correct.

Thanks,
Derek

[2019-05-12 18:34] yf225 commented on #20264
@peterjc123 Do you have insights on how static variables can stop delayed loading from working on Windows?

[2019-05-12 19:20] Jonas1312 commented on #20408
I have an other issue with this script: https://gist.github.com/Jonas1312/3cac92d34dd9a56d727e380a2f79c836

The error is not exactly the same but maybe there's a link between the failures.
[code]

When I run the script for the first time it crashes, if I launch it a second time it works perfectly...

[2019-05-12 19:22] Jonas1312 commented on #20408
@peterjc123 I read that pytorch is built against an old version of nvidia drivers (418.xx), do you think that downgrading could help?

[2019-05-12 19:28] dimalik commented on #13214
Might not be the cleanest approach but you could compute the sequence lengths within the `train` function (untested but should work)

[code]

[2019-05-12 19:53] colesbury commented on #20411
You are not measuring the effect of non_blocking because you are explicitly synchronizing inside your measurement.  You end up measuring some complicated interaction between copy overhead and copy time.

non_blocking=True doesn't make the copy faster. It just allows the copy_ call to return before the copy is completed. If you call `torch.cuda.synchronize()` immediately after a copy you've added b

[2019-05-12 19:53] #20411 closed

[2019-05-12 20:02] colesbury commented on #20412
This is weird. The bug is because we return `NotImplemented` in [`Tensor.__contains__`](https://github.com/pytorch/pytorch/blob/c30224ad21db93701da56bd91152dc0e40b28402/torch/tensor.py#L479) which gets coereced to a `bool` and `bool(NotImplemented)` is `True`.

The fix is to just return `False` instead of `NotImplemented`.

It's not entirely clear from the Python documentation which operators supp

[2019-05-12 20:03] chrislengerich commented on #20412
This is a regression from https://github.com/pytorch/pytorch/issues/17000.

[2019-05-12 20:16] jamestwebber commented on #20343
That's a good point although I'm not it'll work in my case because I'm sampling from a heterogenous materix–the max count is high but most counts are low enough that a normal approximation wouldn't be appropriate. I would think that using the normal approximation on an item-by-item basis would be pretty hard.

Also, the code scales with the size of the sample as well as the max count, so even if t

[2019-05-12 21:19] neerajprad commented on #20343
Our binomial `.sample` method is naive, and relies on the native `bernoulli` sampler. This was put in place to provide a simple though naive implementation at the time, but given more interest and use from the community, I think it is worth considering implementing a native binomial sampler in Aten.

scipy uses an algorithm called [BTPE](https://dl.acm.org/citation.cfm?id=42381), and the [tensorfl

[2019-05-12 22:34] miladmozafari opened #20414 "torch.max, the first or the last occurrence?"
This is not truly a bug, but a change in PyTorch 1.1.0 which I found it by chance. This change was very important to my project [SpykeTorch](https://github.com/miladmozafari/SpykeTorch).
In PyTorch 0.4.1, using max (or min) function results in finding the first occurrence of the max-value, however in PyTorch 1.1.0 (not sure about other versions > 1.0.0) the result is the last occurrence. I search

[2019-05-13 00:34] SsnL commented on #20414
`max` is never guaranteed to return the first or the last.

[2019-05-13 00:43] virajmavani opened #20416 "Class based Sampler for Class Incremental/Continual Learning research"
## 🚀 Feature

A class based dataset sampler for class incremental and continual learning research.

## Motivation

For research in class incremental learning domain, we need datasets to be split up on the basis of classes so that after training on one subset of classes, others can be introduced and the model can be made to generalize on that too in an architectural fashion or using generalization

[2019-05-13 01:33] peterjc123 commented on #20408
@Jonas1312 Maybe. I'm not sure about this.

[2019-05-13 01:44] peterjc123 commented on #20408
@Jonas1312 What about replacing them with the win10 version of the DLLs? We use cuda 10 and cudnn 7.4.1.5.

[2019-05-13 02:06] Kirayue commented on #20028
@jcreinhold, I will take it into consideration and implement it.

Thank you for the suggestions.

[2019-05-13 03:40] ak9250 commented on #14260
I am getting the same error in google colab
![Screen Shot 2019-05-12 at 11 40 02 PM](https://user-images.githubusercontent.com/6818285/57594693-4ee37700-750f-11e9-94e5-0e089d5cfd39.png)

[2019-05-13 03:59] SsnL commented on #20416
This seems a perfect place to use a custom sampler class.

[2019-05-13 04:36] Jonas1312 commented on #20408
@peterjc123 I tried to downgrade to pytorch 1.0.1 and it solved the issue...

[code]

[2019-05-13 04:38] peterjc123 commented on #20408
The workground here is to use `pytorch-cpu`.

[2019-05-13 04:42] Jonas1312 commented on #20408
Ok thank you @peterjc123  but I need GPU support so I'll stay on 1.0.1.

Have you found what is causing those issues on windows with version 1.1.0? Could downloading the nightly builds solve the problem?

[2019-05-13 05:04] peterjc123 commented on #20408
@Jonas1312 I hope I can find the cause for this issue, but the information here is too limited. Nevertheless, I find another [post](https://blogs.msdn.microsoft.com/tess/2009/04/29/unable-to-load-dll-dllname-dll-a-dynamic-link-library-dll-initialization-routine-failed-0x8007045a/) in MSDN about this issue, and if you have time, you can give me more insights on this issue, which may possibly solve

[2019-05-13 05:25] peterjc123 commented on #20408
Some more you can try: https://stackoverflow.com/a/37229013

[2019-05-13 05:38] wuwuzhijing opened #20420 "subprocess.CalledProcessError: Command '['cmake', '--build', '.', '--target', 'install', '--config', 'Release', '--', '-j', '7']' returned non-zero exit status 1"
When compiling the pytorch from github, after I excute

after a few minuters, the following problem occurs:

用于 x64 的 Microsoft (R) C/C++ 优化编译器 19.00.24215.1 版
版权所有(C) Microsoft Corporation。保留所有权利。

Traceback (most recent call last):
  File "setup.py", line 728, in <module>
    build_deps()
  File "setup.py", line 294, in build_deps
    build_dir='build')
  File "J:\Projects\caffe2\pytorch\tools\b

[2019-05-13 05:57] peterjc123 commented on #20420
Full log, please.

[2019-05-13 06:00] peterjc123 commented on #20420
Are you using VS 2015? Please read this section carefully. https://github.com/pytorch/pytorch#install-pytorch

[2019-05-13 06:15] wuwuzhijing commented on #20420
sorry,  I  don't read the guide carefully.  I will try to install vs2017update3 community and try compile again.  By the way is there any way to fix the vs2015 and make it work?

[2019-05-13 06:17] virajmavani commented on #20416
Shall I go ahead and start working on the implementation?

[2019-05-13 06:21] peterjc123 commented on #20420
Yes, but we don't want to do this.  The support for C++ 11 is poor in VS 2015, and we don't want to add those hacks any more because VS 2017 is already supported.

[2019-05-13 06:37] wuwuzhijing commented on #20420
OK, thank you. I will try vs2017 15.4 and give some feedback later.

[2019-05-13 06:40] xinliweiyuan commented on #17971
It seems the bug or problem of Pytorch 1.1. But why do you have such a problem in 0.4?

[2019-05-13 06:48] #20200 closed

[2019-05-13 07:52] VirginianBlue commented on #20195
I just run build_windows.bat form source.And I didn't change anything.
My Environment:
OS (e.g., Linux): win10
Python version: python 3.6.4
CUDA/cuDNN version: CUDA 8.0
Any other relevant information: VS 2017

[2019-05-13 07:53] VirginianBlue commented on #20195
I can't find it , I'm sorry I don't know what's that thing

[2019-05-13 07:54] wuwuzhijing commented on #20420
How long it takes for the entire process? I've wait for almost 1 hour....

[2019-05-13 08:00] peterjc123 commented on #20420
It depends on how many CPU cores the machine has. Usually, with an 8-core CPU and Ninja, a CUDA build should take 2-3 hrs, while a CPU build takes 1-2 hrs.

[2019-05-13 08:05] wuwuzhijing commented on #20420
mine:

Ninja
CUDA

It seems my build will end till evening..OK, I will keep patient...

[2019-05-13 08:05] peterjc123 commented on #20195
It is usually in the build directory, that is, where you run the command. The reason I ask for it is that all the commands with the arguments could be seen there.

I don't think you can use CUDA 8.0 with VS 2017 14.16. You'll need to either set `CUDAHOSTCXX` to the compiler of VS 2015 Update 3 or updating CUDA to 10.0.

[2019-05-13 08:09] wuwuzhijing commented on #20420
Ops, an error occured just now

  File "setup.py", line 728, in <module>
    build_deps()
  File "setup.py", line 294, in build_deps
    build_dir='build')
  File "J:\Projects\caffe2\pytorch\tools\build_pytorch_libs.py", line 283, in build_caffe2
    check_call(build_cmd, cwd=build_dir, env=my_env)
  File "F:\Program\Codes\Anaconda\envs\python37forPytorch\lib\subprocess.py", line 347, in check_cal

[2019-05-13 08:11] wuwuzhijing commented on #20420
An error occured just now. I've paste my building log, please check and config why this happened..
Thank you!

[2019-05-13 08:16] peterjc123 commented on #20420
Sorry, I could not find any useful information from your log. Did you forget to redirect stderr to stdout, that is `python setup.py 2>&1 > build.log`?

[2019-05-13 08:17] wuwuzhijing commented on #20420
I redirect like this:

[2019-05-13 08:18] peterjc123 commented on #20420
That way, the stderr stream won't be written to the file. (sad)

[2019-05-13 08:23] wuwuzhijing commented on #20420
I excute

but error like this
![image](https://user-images.githubusercontent.com/13216845/57606358-505a8100-759b-11e9-9a28-00a00d6b957e.png)
(stupid...)

[2019-05-13 08:24] peterjc123 commented on #20420
@wuwuzhijing Sorry, it should be `python setup.py > build.log 2>&1`.

[2019-05-13 08:29] wuwuzhijing commented on #20420
@peterjc123 excellent, it worked and waiting...  I think the pytorch  compilation is
incremental compilation, so you'll be disturbed again once the next error occurs....

[2019-05-13 08:31] dudongge commented on #20030
brew install libomp solves the proble
this solve my problem

[2019-05-13 08:39] wuwuzhijing commented on #20420
@peterjc123 stopped again, log:
[build2.log](https://github.com/pytorch/pytorch/files/3171920/build2.log)

[2019-05-13 08:46] peterjc123 commented on #20420
The actual error here is `Host compiler targets unsupported OS`. It is caused by the incompatibility of the versions between CUDA and VS. Unfortunately, CUDA 8 is broken on Windows. You'll need to update CUDA to 10.0 or downgrade your VS to 14.11 (15.4.5 Update).

[2019-05-13 08:47] peterjc123 commented on #20195
You have the same problem with #20420. So I'm going to close this one.

[2019-05-13 08:47] #20195 closed

[2019-05-13 08:52] qijianan777 opened #20421 "The result of gloo all_gather error"
I use gloo for Model Parallelism, when I use all_gather, the result is error.

There are two process, I expect the all_gather result is [Tensor1, Tensor2], but the result is actually [Tensor1, Tensor1].
The Tensor2 is like this
![image](https://user-images.githubusercontent.com/50440190/57607871-949b5080-759e-11e9-9f9e-d39b4faaf1a0.png)
The result  is like this, The senod Tensor in the result shou

[2019-05-13 08:53] wuwuzhijing commented on #20195
Thank you

[2019-05-13 09:15] wuwuzhijing commented on #20420
@peterjc123 I notice somewhere that the Nsight of cuda should be installed before vs2017, but now I have 2017 installed, does it matter I install Nsight after vs2017？ If not, why they have this conclusion...

[2019-05-13 09:18] lsrock1 commented on #19353
I have same error with yaml-cpp and gtest

test subdirectory's cmakelists
`
# Target name
set(target UnitTests)

# Sources
file(GLOB sources
    ${CMAKE_CURRENT_SOURCE_DIR}/*/*.cpp)

# Build executable
add_executable(${target}
    test.cpp
    ${sources})

# Link libraries
target_link_libraries(${target}
    PRIVATE
    gtest
    maskrcnn
    ${TORCH_LIBRARIES})`

in cpp file

`#include "gtest/gte

[2019-05-13 09:20] peterjc123 commented on #20420
No, actually nsight needs to be installed after vs 2017 because it depends on that.

[2019-05-13 09:49] wuwuzhijing commented on #20420
@peterjc123
Now  my env:

Is there any problem?

[2019-05-13 09:50] kamathhrishi commented on #18414
@noahgolmant , any progress?

[2019-05-13 09:52] peterjc123 commented on #20420
LGTM

[2019-05-13 09:55] wuwuzhijing commented on #20420
@peterjc123
OK, one more question, should I rebuild from very begin or continue the build process before?

[2019-05-13 09:57] peterjc123 commented on #20420
Rebuild from the beginning because the generator has changed.

[2019-05-13 10:09] DavidRuhe commented on #16996
For me torch.log, torch.stack, torch.exp, torch.randn do not work yet.

[2019-05-13 10:23] attibalazs opened #20423 "Error downloading MNIST dataset"
hi all,

having problems downloading the MNIST dataset, also tried with FashionMNIST which works fine.

[code]
error message

using:

torch==1.0.1.post2
torchvision==0.2.2

[2019-05-13 11:05] Jonas1312 commented on #20408
@peterjc123 I would be happy to help but I don't have any experience on building pytorch from source, do you have up-to-date instructions for this purpose? (for windows obviously)

[2019-05-13 11:13] frankang commented on #14310
how is you card's state now? I got the same error here.
[code]

[2019-05-13 11:13] peterjc123 commented on #20408
1. Install (VS 2017 + CUDA 10.0 / 10.1 ) / (VS 2019 + CUDA 10.1)
2. Install `pyyaml` `pip install yaml`
3. Install CMake 3.14.3
4. Follow the steps in README.md
5. You can use Ninja to speed up build `pip install ninja`

[2019-05-13 11:27] gangulypritha commented on #10203
Hi, Could you kindly elaborate on the procedure?

[2019-05-13 11:48] ezyang commented on #15601
We'll accept a PR, just needs someone to roll up their sleeves and do it :)

[2019-05-13 12:26] wuwuzhijing commented on #20420
@peterjc123 Thank you for your guiding, finally I made it.

![image](https://user-images.githubusercontent.com/13216845/57620682-12218980-75bc-11e9-89af-369085e30e71.png)

Next I will do some classification works with caffe2.  I am a freshman on this kind of project. So I got your email address and then you may be disturbed on github or email...
Thank you!

[2019-05-13 12:28] #20420 closed

[2019-05-13 12:46] mrocklin commented on #15601
@madsbk any interest in trying to add a `__cuda_array_interface__` property to torch tensors?

[2019-05-13 12:55] FedericoMuciaccia opened #20424 "pos_weight argument in torch.nn.BCELoss"
## 🚀 Feature requested
I'd like to have a `pos_weight` arguments in `torch.nn.BCELoss`

## Motivation
to have consistency with `torch.nn.BCEWithLogitsLoss` and to be able to address a multi-label task with a strong class imbalance

[2019-05-13 13:39] madsbk commented on #15601
@mrocklin sure, look interesting.

I gather @dotsdl, you are not working on a PR anymore right? Did you encounter any showstoppers?

[2019-05-13 13:58] malmaud commented on #16996
I think there's no doubt that the stubs of the `torch.*` methods are being installed with 1.1.0. If your editor isn't making use of them, the issue must be with your editor and its interaction with your Python environment - there isn't anything more that can be on the PyTorch side.

[2019-05-13 14:19] escorciav commented on #15601
@madsbk you may wanna sync up with @ezyang
It seems it was implemented in #11984 (as @matthieuheitz mentioned before). I think that it's missing that the unit-test passes the CI #12614.

[2019-05-13 14:26] mrocklin commented on #15601
I think that #11984 implements the `__cuda_array_interface__` so that other projects can easily understand how to operate on data stored in torch tensors.  However I don't think that it supports the other direction, where torch becomes able to operate on other projects that implement the `__cuda_array_interface__`.

[code]

The second option, where torch functions work on objects that implement th

[2019-05-13 14:26] mrocklin commented on #15601
(I could be mistaken though, to be honest I only glanced through things)

[2019-05-13 14:49] madsbk commented on #15601
@mrocklin, I think you are right. #11984 implements the [`__cuda_array_interface__`](https://github.com/pytorch/pytorch/pull/11984/files#diff-cc0c64d106a6a6ac17e095af0ce1d6b6R450) property.

[2019-05-13 14:55] dmgolembiowski commented on #20416
This idea seems wonderful! Is there an appropriate LR algorithim to go along with the sampler class for this sort of undertaking? I have so many questions but I'm not sure which ones are the right ones to ask!

[2019-05-13 15:09] zhiweifang opened #20433 "Dataloader's memory usage keeps increasing during one single epoch."
(All codes were tested on Pytorch 1.0.0 and Pytorch 1.0.1. Memory capacity of my machine is `256Gb`. )

## Description and Reproduction

Hi,

I create a dataloader to load features from local files by their file paths but find this results in OOM problem even though the code is simple.

The dataloader can be simplfied as:

[code]

During each epoch, the memory usage is about `13GB` at the very beg

[2019-05-13 15:09] zou3519 commented on #19092
I'm still catching up on this proposal. But @ezyang we could keep track of the layout propagation logic by propagating a per-dimension flag (or name) and then it would be equivalent to having named tensors with name conventions

[2019-05-13 15:13] kamathhrishi commented on #20240
@fmassa thank you :) I have began working on this. Expect a pr soon.

[2019-05-13 15:15] SsnL commented on #20433
Sounds like the cause is https://github.com/pytorch/pytorch/issues/13246

[2019-05-13 15:24] #20132 closed

[2019-05-13 16:47] suo commented on #20335
@driazati can you take a look? it appears whatever type promotion we have for lists isn't working

[2019-05-13 16:49] yf225 commented on #20208
Removing "needs discussion" from this issue, as there is already an open and approved PR for it.

[2019-05-13 17:22] fmassa commented on #6124
Can't we just use circular padding (from `torch.nn.functional.pad` and apply a convolution without padding afterwards?

[2019-05-13 17:27] fmassa commented on #20264
We would be willing to accept PRs adding support for this functionality, if it doesn't add overheads or downsides. @peterjc123  what do you think?

[2019-05-13 17:49] Kuldaen commented on #13541
We are getting this problem too. It is not an abi issue. The cxx11 namespace only applies to std:: eg. std:: basic_string. Looking at libc10.so it seems this constructor is missing altogether

[2019-05-13 18:03] jeffreyksmithjr commented on #20380
Cc @pietern @mrshenli

[2019-05-13 18:06] jeffreyksmithjr commented on #20376
I could see us desiring the current behavior or the proposed behavior. Labeling needs discussion.

[2019-05-13 18:17] jeffreyksmithjr commented on #20404
Could you run and paste the output of https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py ?

[2019-05-13 18:31] abaisero commented on #20024
Similar to this, the new torch bool type does not support .all() and .any() in 1.1.0.  Not sure if it's worth opening a separate issue for this?

[2019-05-13 18:31] #18065 closed

[2019-05-13 18:31] Jonas1312 commented on #20408
@peterjc123
Good news: I managed to build pytorch without any issues! (VS 2019, CUDA10.1)
Bad news:
[code]

do you have any idea where to start looking for the bug?

[2019-05-13 18:55] driazati commented on #20399
I've kind of started on this in #19131, though it needs some rebasing to work on the qualified name changes.

[2019-05-13 19:28] fmassa commented on #20024
@abaisero we are aware of the missing functions for bool, and are working on having them implemented

[2019-05-13 20:28] myy920213 opened #20449 ""derivative for _thnn_fused_lstm_cell_backward is not implemented" while using GPU"
## 🐛 Bug
I got RuntimeError : "derivative for _thnn_fused_lstm_cell_backward is not implemented" while computing second order derivative of LSTMcell.
This works fine while using cpu, but got this error while using GPU.
Very confusing about this issue. Is this mean second order derivative of LSTMcell is not available on CUDA?

[2019-05-13 21:02] skrah opened #20452 "Corner case in matmul optimization"
If the shape contains multiple zeros (which can happen as a result of slicing), the `matmul` optimization for `A.ndim >= 3 && B.ndim <= 2` fails.

First an example *without* optimization:

[code]

The optimization gives a `Runtime` error:

[code]

This is the error location:

https://github.com/pytorch/pytorch/blob/824d4f9957b1e2b5d812b7b7b0379bf0f7e270a9/aten/src/ATen/native/LinearAlgebra.cpp#L42

[2019-05-13 21:22] jeffreyksmithjr commented on #20410
Please post your logs to allow for some assessment of what is going wrong.

[2019-05-13 21:23] umanwizard commented on #20323
Thanks, we will consider this.

For now, can you get unblocked by doing something like this?

[code]

Just trying to make sure I understand your use case correctly.

[2019-05-13 21:26] jeffreyksmithjr commented on #20410
Closing this issue, because we need more information to effectively triage it. When you provide the requested information, feel free to reopen the issue, to let us know that we can continue with assessing the issue. This open/close/open cycle is how we manage the flow of issues, so your reopening of the issue will constitute the signal that lets us know to take a look at the issue again.

[2019-05-13 21:26] #20410 closed

[2019-05-13 21:27] jeffreyksmithjr commented on #20409
Closing this issue, because we need more information to effectively triage it. When you provide the requested information, feel free to reopen the issue, to let us know that we can continue with assessing the issue. This open/close/open cycle is how we manage the flow of issues, so your reopening of the issue will constitute the signal that lets us know to take a look at the issue again.

[2019-05-13 21:27] #20409 closed

[2019-05-13 21:33] jeffreyksmithjr commented on #14850
Interpreting this as a request for documentation.

If you just want an answer to what is C10 for yourself, I would point you to the Discuss forums: https://discuss.pytorch.org/

[2019-05-13 21:33] vuzelac-cadence opened #20453 "resnet50 export to ONNX messes up Flatten layer"
Converting resnet50, (similar issue for vgg16, densenet201, squeezenet as well) from examples directory into ONNX.  What's supposed to be simple flattening at the end of the model turns out to be a complicated network:

Model prints this as last two layers:
[code]
ONNX produced model final layers:
[code]

Isn't the converter just supposed to insert a Flatten layer ?

Some frameworks/compilers don'

[2019-05-13 21:36] jeffreyksmithjr commented on #20414
Per @SsnL , this looks to be as designed. Closing.

[2019-05-13 21:36] #20414 closed

[2019-05-13 22:21] Maghoumi commented on #5261
Just wondering if there are any plans for this...

I tried @t-vi's suggestion of implementing a GRU cell manually (https://discuss.pytorch.org/t/how-can-i-get-higher-order-gradient-on-grucell/24581/2) but the resulting model is painfully slow...

[2019-05-13 22:30] umanwizard commented on #1834
closing this since it is basically a dupe of #20293

[2019-05-13 22:30] #1834 closed

[2019-05-13 22:32] umanwizard commented on #18634
@hanmingliu2 are you still working on making `torch.cat` faster?

[2019-05-13 23:06] soumith commented on #12112
@colesbury you are probably right about the issue (as always).

I'm pretty sure we had it. I think it got lost in a cmake refactor.

[2019-05-13 23:11] ngimel opened #20457 "index_put_ no longer accepts indices with non-matching backend"
## 🐛 Bug
in index_put_ operation indices backend now has to match source backend. It used to be not necessary, so that e.g. cuda tensor could be indexed by cpu tensor. Blame points to #17991  https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/Indexing.cpp#L204

## To Reproduce
[code]
used to work, now it does not. Note that forward operation with ind0 on the cpu still works (`a[in

[2019-05-13 23:18] soumith commented on #20380
@yaroslavvb from what I remember, we dont plan to add distributed support on OSX or Windows

[2019-05-13 23:27] soumith commented on #20416
before anyone starts working on it -- what exactly is being proposed here?

I cant see how this can actually be implemented without enforcing constraints on the Dataset (and how / what constraints is not clear from the proposal)

[2019-05-13 23:30] SsnL commented on #20416
Sorry if I caused any confusion. My comment meant that this should be implemented on user side / or in a noncore library.

[2019-05-13 23:57] hanmingliu2 commented on #18634
@umanwizard Yes. I also have an hypothesis on why `torch.cat` is slower than `torch.clone`. However, it's final week of the semester where I have very little time to test such hypothesis. I will have time to work on it  after May 15th, is that okay? I am sorry for the inconvenience my slow progress on this issue may cause.

[2019-05-14 00:32] ghost opened #20464 "Implementing GELU activation"
Gaussian Error Linear Unit (GELU) has become really mainstream with models such as BERT using it. But nn.modules.activation doesn't have a GELU implementation. Feature request to expand the arsenal of activation functions available right off the bat in Pytorch :)

I could work on it, to get it merged upstream if assigned.

[2019-05-14 00:40] ezyang commented on #19092
It would be neat if we could line up the memory tag logic and the named tensor logic exactly, even if we have them as two separate implementation paths in the beginning.

[2019-05-14 00:45] michaelklachko opened #20465 "Second order gradient cuda error"
## 🐛 Bug
Convnet training on GPU: when penalizing gradient growth (backpropagating a gradient of a gradient) the following error happens:

[code]

## To Reproduce

[code]

## Environment
PyTorch version: 1.1.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 18.04.1 LTS
GCC version: (Ubuntu 7.3.0-27ubuntu1~18.04) 7.3.0
CMake version: version 3.6.2

Python version: 3.6
Is CUDA av

[2019-05-14 00:52] ezyang opened #20466 "Lint rule to prevent direct use of #pragma omp"
@ilia-cher, I noticed, quite by accident, that you had expunged all occurrences of `#pragma omp` in favor of `at::parallel_for`. That's cool, should we add a lint rule to prevent people from reintroducing direct use of `#pragma omp`? There's still one occurrence of it in aten/src/THNN/generic/VolumetricConvolutionMM.c and I doubt most reviewers will know to reject reviews if they contain fresh occ

[2019-05-14 00:57] seongwook-ham commented on #15421
now is it fixed? i want to use pytorch to serve text analysis model. and it would be nice if i do not need to transform it tensorflow.

[2019-05-14 01:45] ilia-cher commented on #20466
Yes! That would be great.

[2019-05-14 01:46] ilia-cher commented on #20466
we should also ideally limit usage of OMP in general, so anything like `_OPENMP` macro checks or include of 'omp.h' should be prohibited

[2019-05-14 01:58] zhiweifang commented on #20433
@SsnL Thanks for your response.

It is easy to deal with list of data in type of int or float by using `numpy.ndarray` or `torch.Tensor`, but I have no idea how to deal with list of strings (usually in variable length) so that I can test my case. May I have your suggestions?

[2019-05-14 02:44] xiaoranchenwai opened #20469 "ubuntu Build Libtorch source error"
[ 25%] Building CXX object third_party/protobuf/cmake/CMakeFiles/libprotoc.dir/__/src/google/protobuf/compiler/python/python_generator.cc.o
[ 25%] Building CXX object third_party/protobuf/cmake/CMakeFiles/libprotoc.dir/__/src/google/protobuf/compiler/ruby/ruby_generator.cc.o
[ 25%] Building CXX object third_party/protobuf/cmake/CMakeFiles/libprotoc.dir/__/src/google/protobuf/compiler/subprocess.cc

[2019-05-14 02:47] peterjc123 commented on #20408
Have you tried this: https://stackoverflow.com/a/37229013? Setting `Show loader snaps` in `Global Flags x64` and then use `Process Monitor` or `API Monitor`.

[2019-05-14 02:50] yurivict commented on #20404
[code]

[2019-05-14 03:13] kamathhrishi commented on #20240
@fmassa Should I add tests for it? Where are the tests for cumsum and cumprod located?

[2019-05-14 03:28] peterjc123 commented on #20408
Let me conclude it for you:
1. Install WDK https://docs.microsoft.com/en-us/windows-hardware/drivers/download-the-wdk
2. Execute these commands:
[code]

[2019-05-14 03:35] asa008 commented on #19563
Can anybody give me some tips? thanks a lot

[2019-05-14 04:37] peterjc123 commented on #20264
Are you talking about `/DELAYLOAD` in `link.exe`? I didn't find static definitions to be the block of the delay loading feature in the MSDN document. https://docs.microsoft.com/en-us/cpp/build/reference/constraints-of-delay-loading-dlls?view=vs-2019

[2019-05-14 04:42] Silas606 commented on #18272
@marsermd I encountered the same problem before. For me, this was mainly caused by in-source build. The kernel files in `aten/src/ATen/native/cpu/ ` are to be duplicated multiple times with file extensions such as AVX2 based on you cpu and compiled multiple times against those instruction sets. The in-souce build will duplicate all the files in the cpu kernel folder right in the same folder, inclu

[2019-05-14 05:12] peterjc123 commented on #20264
I've created one VS 2017 project for validating this idea. [TestDelayLoad.zip](https://github.com/pytorch/pytorch/files/3175925/TestDelayLoad.zip) And from the `Output` part, you can see that the DLL that contains the static definition is actually delay loaded.
Here is my log:
[code]

[2019-05-14 05:35] umanwizard commented on #18634
@hanmingliu2 Yes, it is definitely okay. There is no inconvenience; we are happy for any help you are able to give :)

[2019-05-14 06:31] sakaia commented on #20423
Works fine for me on Google Colab.

[code]

[code]

1.1.0
0.2.2

[2019-05-14 06:39] xyoungli opened #20477 "tensorboard not updating"
i wrote a loss summary every 10 iters, while tensorboard did not show the latest loss.
eg. training iter now is 1000, while tensorboard only shows 100
following is my code:
initialization:
        self.writer = SummaryWriter(log_dir=cfg.LOG_DIR, flush_secs=10)
loss:
        self.writer.add_scalar('Train/iter_loss', losses.val.item(), i + (epoch - 1) * epoch_size)

[2019-05-14 06:49] linhuaiyuan opened #20478 "time"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-05-14 07:16] zieitokk opened #20479 "Customize loss function with caffe2.python"
Hi I just wondering if there is a way for us to customize loss function by using caffe2 python interface?

If the answer is yes, how could I implement the customized loss function?

Thank you very much!

[2019-05-14 07:32] Jonas1312 commented on #20408
@peterjc123
one test with py36.exe +sls : https://pastebin.com/dXPFT8wj
one test with sphinx-build.exe +sls : https://pastebin.com/mQmvcpD5
and last one with both +sls : https://pastebin.com/W37AFkd4

[2019-05-14 07:59] peterjc123 commented on #20408
@Jonas1312 Could you catch something if you do the following thing?
[code]
If not, then it's a bit weird there. May I know which python distribution are you using? I've inspected the official one and the conda one, both of which don't have `py36.exe`.

[2019-05-14 08:02] Jonas1312 commented on #20408
https://pastebin.com/HnHCRauD

[2019-05-14 08:12] Jonas1312 commented on #20408
Since the source of the issue seems difficult to find, what about trying to find the guilty commit directly?

I'm thinking of this because torch 1.1.0 builds are broken but 1.0.1 builds work perfectly, so the issue may have been caused by a bad commit which broke windows builds.

We could try to do a binary search over all commits from 1.0.1 to 1.1.0, that would require to build maximum 12 wheels

[2019-05-14 08:18] lironmo commented on #20410
hey @jeffreyksmithjr ,
its really simple test that i created to show the problem.

the logs are:
Start forward_local
Start FW
End FW
End running
Start
Start forward_local
Start FW
END ALL

as you see some python process crashed.

excepted logs :
Start forward_local
Start FW
End FW
End running
Start
Start forward_local
Start FW
End FW
End running
END ALL

[2019-05-14 08:19] lironmo commented on #20410
[run_mp.py.txt](https://github.com/pytorch/pytorch/files/3176550/run_mp.py.txt)

[2019-05-14 08:21] lironmo commented on #20410
@jeffreyksmithjr please reopen,
i believe that if we find the root of this problem we get a lead for another similar problem i have at linux.

Thanks!

[2019-05-14 08:26] peterjc123 commented on #20408
@Jonas1312 Looks like I've missed one argument to attach to the child processes. Would you please try the following script:
[code]

Yes, but it is tiring work. We'll need to rebuild 12 commits, so it is the last thing we can try when we are really out of ideas.

[2019-05-14 08:31] Jonas1312 commented on #20408
@peterjc123 caffe2.dll?
[dfg.txt](https://github.com/pytorch/pytorch/files/3176591/dfg.txt)

[2019-05-14 08:34] peterjc123 commented on #20408
@Jonas1312 Thanks. I'll look into it.

[2019-05-14 08:38] peterjc123 commented on #20408
Would you please build with `set REL_WITH_DEB_INFO=1` and try again? That way, we can generate the debugging symbols so that we can know the issue better.

[2019-05-14 08:39] Jonas1312 commented on #20408
@peterjc123 ok, please wait few hours 😅

[2019-05-14 08:46] vadimkantorov commented on #1834
@umanwizard super-duper :) glad to know it's about to be fixed :)

[2019-05-14 08:50] vadimkantorov opened #20481 "[docs] Automatically detect docs missing in rst"
I propose something like to find automatically members missing from rst (could be put on some doc page as well). This could also be improved to make a list of public members missing docs altogether.
[code]

[2019-05-14 08:52] fmassa commented on #20240
I would say `cummax`, but it does look weird.

Tests are in `tests/test_tensor.py` or `tests/test_torch py` cant remember the exact one right now

[2019-05-14 08:54] LCWdmlearning commented on #17154
I have the same problem. Have you solved it?

[2019-05-14 08:59] li-roy commented on #19625
closed by #20305

[2019-05-14 08:59] #19625 closed

[2019-05-14 09:18] peterjc123 commented on #20408
BTW, instead of using `g`, you can use `k` for printing stack trace. More details: https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/k--kb--kc--kd--kp--kp--kv--display-stack-backtrace-

[2019-05-14 10:34] vishwakftw commented on #20481
I believe we already something like this in `test_doc_coverage.py` in `test/`.

[2019-05-14 10:41] vadimkantorov commented on #20481
Somehow this test's errors still go unnoticed? Probably these errors are not well highlighted in CI output?

A few recent "missing docs in rst" issues: https://github.com/pytorch/pytorch/issues/18983, https://github.com/pytorch/pytorch/issues/19259 (these are both in April, the `test_doc_coverage.py` existed already)

[2019-05-14 10:47] vishwakftw commented on #20481
This is probably because doc strings for `torch.nn` aren’t tested; only doc strings in `torch.*` and `torch.Tensor.*` are being tested for.

[2019-05-14 10:48] sovrasov opened #20486 "MultiStepLR is broken"
## 🐛 Bug

MultiStepLR drops learning rate by gamma**2 times instead of gamma on each milestone. After one epoch it restores the lr to normal value.

## To Reproduce

Steps to reproduce the behavior:

Use the following code:
[code]
The output is:
[0.2]
[0.2]
[0.0020000000000000005] here should be 0.02
[0.020000000000000004]
[0.020000000000000004]
[0.020000000000000004]
[0.020000000000000004]
[0.020

[2019-05-14 10:49] songmeixu commented on #18932
@toekneechin777 Have you solved this problem? I had the same issue, and the @glample method did not work out for me.

[2019-05-14 10:53] vadimkantorov commented on #20481
Currently somehow `torch.is_grad_enabled` is not catched (https://github.com/pytorch/pytorch/issues/4474). I assume it is because it doesn't have a doc string.

I think there is also value in putting in docs public members even if they have no doc strings yet (maybe in a special section of the doc page or highlighted in some way). At least some simple functions would be discovered and used by user

[2019-05-14 11:53] nicolasgriffiths commented on #17492
What is the status of this? The wheels from `https://download.pytorch.org/whl/nightly/devtoolset7/cpu/torch_nightly.html` still have symbols from the old gcc ABI.

[2019-05-14 12:10] sakaia commented on #20356
From Error message

As for ResNet18 model, it is zipped.
but tensor file is not zipped.

[code]

[code]

Ref.
  LOADING A PYTORCH MODEL IN C++
  https://pytorch.org/tutorials/advanced/cpp_export.html

[2019-05-14 12:11] attibalazs commented on #20423
yes it works fine on colab, maybe its something to do with the machine i am using.

[2019-05-14 12:42] Jonas1312 commented on #20408
@peterjc123
[dfgdfg.txt](https://github.com/pytorch/pytorch/files/3177684/dfgdfg.txt)

[2019-05-14 12:54] seenitall commented on #20477
Same here, I need to kill the tensorboard session and start it again to get it updated (page reloading does not help -- Firefox).

[2019-05-14 12:55] peterjc123 commented on #11326
Looks like it is reproducible on Windows with PyTorch 1.1.0, although with some slightly different phenomenon. Related issue: https://github.com/pytorch/pytorch/issues/20408

[2019-05-14 13:03] peterjc123 commented on #20408
@Jonas1312 Would you please attach the JIT debugger in VS? It will give us some clearer image of this issue.

[2019-05-14 13:06] peterjc123 commented on #11326
Call stack:
[code]

[2019-05-14 13:24] Jonas1312 commented on #20408
do you have any tutorial to do that? JIT debugger is installed but it doesn't attach to sphinx-build

[2019-05-14 13:29] Jonas1312 commented on #20408
@peterjc123 https://user-images.githubusercontent.com/15847892/57701824-194ca400-765d-11e9-8e68-717794690ecb.png

[2019-05-14 13:31] peterjc123 commented on #20408
Thanks! Could you please send the call stack in text format?

[2019-05-14 13:32] Jonas1312 commented on #20408
[cs.txt](https://github.com/pytorch/pytorch/files/3177946/cs.txt)

[2019-05-14 13:36] peterjc123 commented on #20408
And the arguments please?

[2019-05-14 13:38] Jonas1312 commented on #20408
you want me to tick the "show parameter values" option?

[2019-05-14 13:40] peterjc123 commented on #20408
No, just the values in the `autos` section.

[2019-05-14 13:41] Jonas1312 commented on #20408
[cs.txt](https://github.com/pytorch/pytorch/files/3177989/cs.txt)

[2019-05-14 13:41] SerailHydra commented on #19925
@mrshenli find anything?

[2019-05-14 14:01] peterjc123 commented on #20408
Let me conclude the details here.
Call Stack:
[code]
Related source files:
[code]
Entry point:
[code]
Final crash site:
[code]
@ezyang  Any ideas?

[2019-05-14 14:18] kamathhrishi commented on #20240
@fmassa tests/test_tensor.py it is. This is my first time contributing to Pytorch so there might be things I might miss out on. Do you think its a good idea to create a draft PR to see if I am going in the right direction?

[2019-05-14 14:47] peterjc123 commented on #20408
@Jonas1312 I think the problem is most likely to be on the `strtod_c` function. Would you please try replacing the function definition in `torch/csrc/jit/script/strtod.cpp` to the following?
[code]

[2019-05-14 14:49] Jonas1312 commented on #20408
I'm not sure if it's relevant but i've found this: https://user-images.githubusercontent.com/15847892/57707488-01c6e880-7668-11e9-87c0-d57b774455e3.png

@peterjc123 ok!

[2019-05-14 15:01] peterjc123 commented on #11326
More detailed version: https://github.com/pytorch/pytorch/issues/20408#issuecomment-492250174

[2019-05-14 15:05] ezyang opened #20488 "RoiAlignTest.CheckCPUGPUEqual is still flaky"
Previously #8084

CC @yinghai @xkszltl

[code]

https://circleci.com/gh/pytorch/pytorch/1680769?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

RNG should be deterministic here, I don't know why it is flaking.

[2019-05-14 15:05] Jonas1312 commented on #20408
@peterjc123
[code]

[2019-05-14 15:07] peterjc123 commented on #20408
Thanks for the verification. Let me fix this in a PR.

[2019-05-14 15:08] ezyang opened #20489 "RuntimeError: Creating MTGP constants failed"
The MTGP constants error came back.

[code]

https://circleci.com/gh/pytorch/pytorch/1680491?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-05-14 15:14] SaiK95 commented on #14175
@vishwakftw Hi, can you tell me if there's a resolution to this thread?
Or what the best way to perform batch SVD on small tensors (smaller than 32*32) is?

[2019-05-14 15:19] peterjc123 commented on #11326
I reverted the function `strtod_c` to the state of this [PR](https://github.com/pytorch/pytorch/pull/12739/files) for MSVC. You can do it too if you can confirm this one is the issue.

[2019-05-14 15:20] vishwakftw commented on #14175
Hi @SaiK95. Sorry I haven’t been able to get to this in the past few months due to college. I’ll get to it in the summer, within a month.

Currently, the best and only possible way to do it would be to run a loop.

[2019-05-14 15:21] pjh5 commented on #17492
I'm working on https://github.com/pytorch/pytorch/pull/20243 to fix them. The old wheels will all be purged once I'm convinced everything is working as expected.

[2019-05-14 15:23] SaiK95 commented on #14175
@vishwakftw No problem, thanks for the quick reply!

[2019-05-14 15:50] liukuanlk commented on #18607
@chjz1024 @peterjc123 Thank you for all information you provided. They are very helpful. Actually I encountered the same issue "std ambiguous symbol" in latest VS 2017. I tried to change the `conformance` mode property to `No` but it does not help. I got new error as attached.
![image](https://user-images.githubusercontent.com/22803967/57710921-d62e0900-763b-11e9-8d3f-4d32b64a3631.png)

I can use

[2019-05-14 15:54] peterjc123 commented on #18607
@liukuanlk One step is missing there. You'll need to add the addition libraries in Linker Options: `torch.lib;caffe2.lib;caffe2_gpu.lib;c10.lib;c10_cuda.lib`.

[2019-05-14 15:54] ezyang commented on #15601
Yes, I need to clarify that we alerady have a `__cuda_array_interface` property on Tensor, so the ask here is to make it so that relevant parts of our Python binding code can accept non-Tensor, non-numpy objects that do implement `__cuda_array_interface__`, in the same way we accept numpy objects in some cases.  I think I would look into `torch/csrc/utils/tensor_new.cpp` as a start; grep for `tnes

[2019-05-14 15:58] fmassa commented on #20240
In general, I'd try first to manage to compile pytorch from source. This should be easy but is a necessary first step.

Note that part of this task requires having a GPU to compile / test the CUDA parts -- this might be difficult to do without access to a GPU.

If you are unsure of some parts of the implementation, just let us know.
I'd ideally open a PR once at least the CPU parts are working.

[2019-05-14 16:19] liukuanlk commented on #18607
@peterjc123 thanks for reply. But sorry I did not get your point. I have already set `additional library directories` in step 3. Could you give me more specific instruction like where I should include the `.lib` you mentioned?

[2019-05-14 16:31] peterjc123 commented on #18607
https://images.app.goo.gl/5v5EpnA8CUDMPg787

[2019-05-14 17:44] eellison commented on #10733
@suo is this easier to do now that Modules are first class ?

[2019-05-14 17:45] Kaixhin commented on #20464
This is fairly simple (see below for what would need to be added to `functional.py`), but seeing as it is common enough now could be worthwhile. If you're able to submit a PR with this (including a Module that wraps this and tests as necessary) then that would be useful.

[code]

[2019-05-14 17:58] VitalyFedyunin commented on #19092
Phase 1
--------

Expands functionality of two tensor functions `.is_contiguous` and `.contiguous` (both python and c++ api).

Note: We had several complaints about `.to(memory_format)` function, and decided not to support it.

1.  `.contiguous` now support optional keyword-only argument - `memory_format`, which can be either `torch.contiguous_format` or `torch.channels_last`.

    - Using `torch.

[2019-05-14 18:07] mfuntowicz commented on #19840
It's working fine with your fix, thanks @pietern !

[2019-05-14 18:07] #19840 closed

[2019-05-14 18:21] pdilyard opened #20494 "Install only a specific version via pip"
Including `torch==1.1.0` as a requirement ends up installing ~500mb package which is not desirable in a production environment (we build a lot of containers and this makes them way larger than necessary).

I know you can install a wheel directly like this: `pip install https://download.pytorch.org/whl/cpu/torch-1.0.1-cp36-cp36m-linux_x86_64.whl`, however, when you run `pip freeze` you end up with

[2019-05-14 18:32] J0-nas commented on #18797
Hi,
I encountered a similar error (or same, I don't know) in a single GPU setting. Otherwise our software setup might be similar.
I use:
Windows 10
python 3.6.8
pytorch 1.1.0

and a GTX 1070.

While I don't use multiple GPUs I do use multiply python+pytorch instances to train multiple models at once.
I'm not 100% sure, but it seems like the error occured right when the training of one model is com

[2019-05-14 18:39] zdevito opened #20495 "Improve attribute missing error message."
When accessing a non-existent attribute on a script module, it gives the error below. It should instead say the attribute does not exist (which is different from it being None).
[code]

[code]

[2019-05-14 18:40] #20478 closed

[2019-05-14 18:52] ngimel commented on #20144
Hi @Kaixhin, I cannot reproduce your failure on a relatively fresh master with
[code]
Can you please provide either a small repro, or instructions on how to reproduce it from your PlaNet repo?

[2019-05-14 19:01] Kaixhin commented on #20144
@ngimel just ran your script on my Mac (no CUDA) and Ubuntu desktop (no CUDA) and got the same error as before. However, running with CUDA there was no error. I'm using 1.1 on all of these machines.

[2019-05-14 19:07] driazati opened #20497 "Statically make `__setstate__` set all attributes/parameters"
#20242 added support for `__getstate__` and `__setstate__` on a module which is an alternative to automatically saving all parameters/attributes. This means the user must be initializing all parameters/attributes themselves. Like in TorchScript classes' `__init__()`, we should be statically verifying that this is actually happening.

[2019-05-14 19:48] VitalyFedyunin commented on #19092
Phase 2
--------

Preserve memory format for specific operations:

1.  Unary element-wise operators preserve channels_last memory format.

[code]

2.  Binary element-wise operators ( `add`, `sub`, `mul`, `div`) preserve channels_last memory format.

[code]

3. Any operations over sizes, strides and dims order reset memory format.

[code]

Remains undecided

1. Result of the reshape (and similar) o

[2019-05-14 19:54] fuzic opened #20499 "No guard against empty tensors for nn.functional.dropout()"
## 🐛 Bug

python crashes (with SIGFPE) when dropout is called on an empty cuda tensor.

## To Reproduce

Steps to reproduce the behavior:

import torch
torch.nn.functional.dropout(torch.Tensor([]).to('cuda'))
Floating point exception (core dumped)

## Expected behavior

Either a python exception should be raised or it should be a no-op.

## Environment

 - PyTorch Version (e.g., 1.0): master
 - OS

[2019-05-14 20:01] pearu commented on #18354
Porting SpatialReflectionPadding is completed in https://github.com/pytorch/pytorch/pull/15480 and https://github.com/pytorch/pytorch/pull/15525 .

[2019-05-14 20:02] TheCodez opened #20500 "[jit] RuntimeError: v->type()->isSubtypeOf(elem_type)"
## 🐛 Bug

## To Reproduce

This code:
[code]

yields the following error:
[code]

## Expected behavior

Should work without a problem.

## Environment

 - PyTorch Version: 1.1.0

cc @ezyang @gchanan @zou3519 @suo

[2019-05-14 20:15] ngimel commented on #20144
Can confirm that it breaks on cpu-only builds. Just running the example on the cpu, but with cuda-enabled build is still fine.

[2019-05-14 20:24] pearu commented on #18354
@ezyang , can you confirm that the issue can be closed?

[2019-05-14 20:25] gottbrath commented on #14263
we think this is likely not to be an issue any more. SsnL or other folks reading this. If you can still reproduce this with a recent version of PyTorch please let us know.

[2019-05-14 20:25] #14263 closed

[2019-05-14 20:29] liukuanlk commented on #18607
@peterjc123 Thank you, that works! However, when I followed the above steps and worked on this advanced example https://github.com/pytorch/examples/blob/master/cpp/dcgan/dcgan.cpp I could build but I could not run. When I use debug mode I got
[code]

[2019-05-14 20:30] eellison commented on #20500
error from createList @suo

[2019-05-14 20:47] pietern commented on #20453
cc @houseroad

[2019-05-14 20:54] pietern commented on #20469
The logs you posted doesn't actually contain the error in question; could you post your full logs?

[2019-05-14 20:58] pietern commented on #20449
Can you confirm if this is the same as #5261?

[2019-05-14 21:04] myy920213 commented on #20449
Thanks for reply. I think this is the same issue.

[2019-05-14 21:04] pietern commented on #20465
Adding back the autograd label since the conditions appears to be triggered there.

@li-roy @zou3519 Could you take a look at this?

[2019-05-14 21:07] ngimel commented on #20449
Actually I think this issue is different - #5261 is about cudnn rnn, _thnn_fused_lstm_cell_backward is backward for non-cudnn path.

[2019-05-14 21:07] pietern commented on #20457
cc @li-roy as author of #17991.

[2019-05-14 21:11] wanchaol commented on #20494
quoting this from https://pytorch.org, you can run the following to install the cpu only version of 1.1.0
[code]

[2019-05-14 21:12] pietern commented on #20486
Adding the "needs discussion" label because I don't know if this behavior is by design or not.

I agree it looks faulty but need someone else to confirm this.

[2019-05-14 21:21] pietern commented on #20477
cc @orionr

[2019-05-14 21:24] suo commented on #10733
This is addressed by #20503

[2019-05-14 21:24] ngimel commented on #20457
I'm about to submit a PR that fixes this and also improves performance of indexing backward, so no need to fix issue separately, I'm just wondering if we want this feature going forward.

[2019-05-14 21:27] orionr commented on #20477
cc @lanpa - any thoughts? Also, cc @natalialunova as an FYI

[2019-05-14 21:35] ngimel commented on #20449
Apparently, double backward on gpu has been broken for some time. What's happening is in the forward _thnn_fused_lstm_cell is called https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/RNN.cpp#L259-L265, and it has its derivative specified in derivatives.yaml, it's _thnn_fused_lstm_cell_backward. _thnn_fused_lstm_cell_backward does not have derivative, and throws an error.
The easi

[2019-05-14 21:38] colesbury commented on #20457
Yes. It makes things like `x[3, [4, 5, 6]]` easier to write. Thanks for fixing it.

[2019-05-14 22:06] xmnlab commented on #18355
it seems this task was already done in PR #15507 and #15485.

[2019-05-14 22:07] nairbv commented on #14571
`no_grad_embedding_renorm_` was removed from derivatives.yaml in  https://github.com/pytorch/pytorch/pull/14639/. Do we have some other test-case we can use to observe/test the behavior in the current codebase?

It seems something like the below would work, but no VariableType_*.cpp files were affected when I tried this change:

[code]

[2019-05-14 22:25] xmnlab commented on #18353
I am assuming that we should port also col2im and col2vol, is that correct?

[2019-05-15 00:52] vuzelac-cadence opened #20516 "MobileNetV2 export to ONNX fails"
## 🐛 Bug
Converting mobilenet_v2  from examples directory into ONNX fails with:
[code]

## To Reproduce

Steps to reproduce the behavior:

mobilenet_v2 obtained using `examples/imagenet/main.py` . Converted using:
[code]
## Environment
PyTorch version: 1.1.0a0+6e82b1c
Is debug build: No
CUDA used to build PyTorch: Could not collect

OS: Microsoft Windows 10 Enterprise
GCC version: Could not collec

[2019-05-15 00:52] peterjc123 commented on #18607
On Windows, debug and release builds are not ABI-compatible. If you plan to build your project in debug mode, please try the debug version of LibTorch.

[2019-05-15 02:34] akjindal53244 opened #20518 "[pypi] Unavailability of Source Distribution for torch and torchvision"
## 🚀 Feature
I need to install `pytorch` through `pypi` (https://pypi.org/project/pytorch/) but it says:

While trying to install `torch` and `torchvision` through `pypi`, I found that there is no source distribution available for both, there are only wheels. In order to include any library, we require only source distribution available on `pypi` and due to unavailability of the same, it is not pa

[2019-05-15 02:44] sikuntiannan commented on #18607
you think  use C++17 tandard?

[2019-05-15 03:48] jjsjann123 commented on #16158
Now #19630 is in, I'll start looking at porting faster kernel implementation.

[2019-05-15 06:32] xiaoranchenwai commented on #20469
I have solved the question,thank you.

[2019-05-15 06:32] #20469 closed

[2019-05-15 06:47] ypw-rich opened #20522 "nn.CTCLoss RuntimeError on GPU"
## 🐛 Bug

nn.CTCLoss Run the official documentation sample code works fine on the CPU but  RuntimeError on the GPU.

## To Reproduce

[code]

[code]

See https://gist.github.com/ypw-rich/faafe22d108c4fe24f128ecb4aaabda3

## Expected behavior

Expect same grad on CPU.

## Environment

PyTorch version: 1.1.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 18.04.2 LTS
GCC version:

[2019-05-15 07:00] maeotaku commented on #16442
@robbine  @lawlietAi did you find a solution to this?

[2019-05-15 07:07] lawlietAi commented on #16442
**erf** does not in onnx basic symbolic set. so you can add a param to modify the domain of symbolic .
but I have forgotten what param you need to add. you may need to try.

[2019-05-15 07:34] kangkang59812 commented on #13444
still confused what and where the error is ? @zheddie

[2019-05-15 07:59] peterjc123 commented on #18797
@J0-nas Could you please change https://github.com/pytorch/pytorch/blob/master/aten/src/TH/THAllocator.cpp#L91-L107 to the following code and then rebuild pytorch?
[code]
The steps to build pytorch on Windows:
1. Install (VS 2017 + CUDA 10.0 / 10.1 ) / (VS 2019 + CUDA 10.1) For VS, tick C++ desktop development. For CUDA, tick all options.
2. Install pyyaml `pip install pyyaml`
3. Install CMake 3.1

[2019-05-15 08:01] amirmk89 opened #20523 "nn.Upsample scale_factor does not support tuple inputs"
## 🐛 Bug

When adding an nn.Upsample module with different scale factors per axis, i.e. a tuple of floats matching input size, a TypeError is raised.

## To Reproduce

Steps to reproduce the behavior:
import torch.nn as nn
upsample_layer = nn.Upsample(scale_factor=(2,2))

Fails and raises:
TypeError: float() argument must be a string or a number, not 'tuple'

According to the docs, it should handl

[2019-05-15 08:05] yangyuke001 commented on #973
where should I put this command:`torch.multiprocessing.set_sharing_strategy('file_system')`
thx in advance

[2019-05-15 08:05] neoinmtv opened #20524 "[MacOS] datasets.ImageFolder() silently fails conversion for 16-bit PNG"
The following code falsely converts my 16-bit PNG (0-65535, mean ~40000) into weird (0-1, mean 0.99) distributions. This wasted me ~3 hours to debug !!! Please at least show error message instead of silently fail !!!!
I attached the pngs, when I converted my PNG to 8-bit, it works.

Note that standalone `transforms.ToTensor()(PIL Image)` always works, see below.

My code following https://pytorch.

[2019-05-15 08:52] Sakurawy commented on #19453
We've met the similar segmentation fault on Ubuntu16.04, CUDA9.0. If change to CUDA9.2, the problem is gone.

[2019-05-15 09:05] blackccpie opened #20525 "Wrong CMake version in libtorch C++ binary packages"
## 🐛 Bug

CMake version (in `TorchConfigVersion.cmake`) seems stuck to 1.0.0 in the latest libtorch C++ windows packages (CUDA or not).
This problem may also have affected the previous 1.0.1 packages.

Another big problem for me is that I can't find any more link to download libtorch C++ 1.0.1 packages,
upon which I based all my current developments.

## To Reproduce

Download the latest package h

[2019-05-15 09:10] #20169 closed

[2019-05-15 09:16] jasam-sheja opened #20527 "StepLR, MultiStepLR, ExponentialLR and CosineAnnealingLR scheduler wrong lr value"
When the StepLR, MultiStepLR, ExponentialLR or CosineAnnealingLR scheduler is called with the same epoch parameter the optimizer value is further reduced even though it's the same epoch

a sample code
[code]
now if we call `lr_scheduler.step(epoch=2)` multiple times
[code]
output:
[code]

Even if such use-case is bizarre, this is extremely unexpected.
This is happens using PyTorch version 1.1.0 bu

[2019-05-15 09:18] xinliweiyuan commented on #14260
I had the same problem.  It is the problem of Cudnn. Before Cuda 1.0, the RNN doesn't support Cudnn, everything works fine.

In [4]: a = torch.randn([30, 5])
In [5]: a.to(torch.device('cuda'))
it works fine.

In [2]: rnn = torch.nn.GRU(100, 32)
In [3]: rnn.to(torch.device('cuda'))
If I wanna create a rnn to cuda, error happens.
RuntimeError: cuDNN error: CUDNN_STATUS_EXECUTION_FAILED.

So it is de

[2019-05-15 09:20] xinliweiyuan commented on #14260
By the way, Cuda 1.1 still has the same issues. I tried on Cuda 10.0 and 9.0, the problem is the same.
@soumith .

[2019-05-15 09:22] xinliweiyuan commented on #18032
see https://github.com/pytorch/pytorch/issues/14260

but the issue is not solved. The same problem here. Especially when you want to use RNNs.

[2019-05-15 09:32] boeddeker opened #20528 "An outer torch.no_grad() is ignored inside a thread"
## 🐛 Bug

An outer torch.no_grad() is ignored inside a thread (e.g. `ThreadPoolExecutor.map`).

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

The result of `list(ex.map(net, [input_data]))` should not have a `grad_fn`.

## Environment

PyTorch version: 1.1.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 18.04.2 LTS
GCC version: (Ubuntu 7.3.0

[2019-05-15 09:57] liuchang8am commented on #12339
Hi @goldsborough , do you still have the plan for providing libtorch for amr64?

[2019-05-15 10:03] jakkes commented on #16996
Using torch v1.1.0 and VSCode v1.33.1 (latest) with python 3.6.7, pretty much all torch.* methods do not show up (including all posted by the @imyhxy further up), nor is torch.tensor callable. It works fine in pycharm (apart from the callability of torch.tensor).

[2019-05-15 10:12] liqima commented on #20155
thanks very much!

[2019-05-15 11:11] un-knight commented on #20311
@ailzhang I tested it on imagenet12 with Resnet18, there are the results:

nproc/ngpu | pytorch1.0(sec/batch/gpu) | pytorch1.1(sec/batch/gpu)
---------------|------------------------------------|-----------------------------
1            |       0.323                             |       0.38
4             |       0.381                               |           0.61
8            |        0.609

[2019-05-15 11:16] xinliweiyuan commented on #17971
However, I fixed the bug, but not from codes. I change the python to Conda python, and the problem is solved. So the codes still not compatible with the original python3. When installing from Conda, the Cuda toolkit will be installed, and it might be the solution.

blas-1.0-mkl.t 100% |##################################################| Time: 0:00:00   8.66 MB/s
conda-env-2.6. 100% |##############

[2019-05-15 11:17] JamieCT opened #20529 "Segmentation fault (core dumped) when passing empty Tensors to pack_padded_sequence"
Passing an empty tensor (so with shape (0,n,m)) to pack_padded_sequence causes a "segmentation fault (core dumped)"

Produce the error:
[code]

Expected behavior:
An exception raised stating that the input tensor must not be empty.

Environments created on:
-PyTorch 1.0, Windows (installed via conda), CUDA (9.0)
-PyTorch 1.0, Linux (installed via pip), CUDA ('9.0.176')

Thanks,
Jamie

[2019-05-15 11:17] veritas9872 commented on #6934
@musikisomorphie I think it would be great if there were a properly tested SSIM and MS-SSIM in Pytorch.

[2019-05-15 11:30] veritas9872 commented on #6934
I have found that it is rather inconvenient to use the SSIM in skimage for Pytorch Tensors since they are in NCHW order, instead of the HWC order that skimage expects (same for MS-SSIM in skvideo).

Also, their use as loss functions can significantly enhance image quality in tasks such as image reconstruction, denoising, and super-resolution.

See [here](https://arxiv.org/pdf/1511.08861.pdf) for t

[2019-05-15 11:39] skrah commented on #18064
I think this one is finished.

[2019-05-15 11:39] #18064 closed

[2019-05-15 11:52] marchss commented on #8831
I also got the same issue when compiling libtorch from source

[2019-05-15 12:09] musikisomorphie commented on #6934
@veritas9872, @soumith did not answer me back, I guess he is busy. Anyway, I will check those articles you mentioned and implement SSIM/MS-SSIM in the following weeks. I will let you if I make some progress.

[2019-05-15 14:31] xmnlab commented on #16158
I am applying some suggestion from #19630 on a new PR #20505 .. basically changing the order of some parameters and fixing the kernel launching

[2019-05-15 14:43] #20408 closed

[2019-05-15 14:43] meganset opened #20531 "c++ torch::nn::Sequential increments count on name errors"
## 🐛 Bug

Sequential size() returns incremented count when _push_back_ fails on name errors:

[code]
prints:
[code]

[2019-05-15 15:06] lironmo opened #20532 "Couple hundred MB are taken just by initializing cuda"
hello,
it's seems that any process that use cuda consume at initializing step around 300MB to 400MB!.
The problem that this memory overhead happened on the GPU RAM, what cause cuda OUT OF MEMORY ERROR.

This is very problematic in my scenario of multiple process that use the cuda resource.
Environments:
Cloud: AWS
Machine Type: single p3.8xlarge machine with only 4 gpus
Machine Image: "Deep Learni

[2019-05-15 15:08] ezyang commented on #15476
@yf225 are you working on this?

[2019-05-15 15:11] pdilyard commented on #20494
Yep, but as described in my issue, if you do that and then run `pip feeze > requirements.txt`, you end up with `torch==1.1.0` in your requirements file, which means that other users and build tools will still be downloading the full package.

[2019-05-15 15:22] ezyang commented on #20404
You need to look further up in your logs. Log output when running parallel builds can be confusing because the error doesn't show up in the end. In this particular case your error is:

[code]

It looks like `mkalias` is not what the build for sleef is expecting. If you don't care about sleef, it might be possible to just build without it although I don't see a knob to do so.

[2019-05-15 15:24] ezyang commented on #20404
This looks like the same problem as #215.

[2019-05-15 15:48] peterjc123 commented on #9461
I have given it a shot in a recent PR https://github.com/pytorch/pytorch/pull/20530, but it seems that the MSVC has a strong constraint for using SIMD / auto vectorizers.

[2019-05-15 15:48] ezyang commented on #20404
Fixing this bug should simply be a matter of updating sleef to upstream. However, we currently have a fork of sleef.

[2019-05-15 15:50] EvenOldridge commented on #15734
@ezyang I was able to figure it the invalid memory issues.  You're right, it was an embeddingbag layer that was receiving indexes outside of its range.

[2019-05-15 15:54] ezyang opened #20535 "Unfork sleef"
We are currently tracking a fork of sleef that lives in https://github.com/zdevito/sleef This is bad because it prevents us from easily taking upstream fixes; e.g., the fix for https://github.com/pytorch/pytorch/issues/20404 We should unfork.

We are running two patches:
- https://github.com/zdevito/sleef/commit/191f655caa25526ae226cf88dd2529265176014a it is fixed upstream by 79df29e3a2f9a4ef9c422

[2019-05-15 16:04] ezyang commented on #20296
One thing to try is reduce the parallelism of the build. This can be done by setting `MAX_JOBS=1`, for example.

[2019-05-15 16:04] #20296 closed

[2019-05-15 16:21] ezyang commented on #19269
This is almost certainly not our problem. Here is how I would debug it:

[code]

If the error still occurs after following these steps exactly, I would strace python setup.py install to figure out when the root owned file is being created.

Reopen this issue if you need more help.

[2019-05-15 16:21] #19269 closed

[2019-05-15 16:22] #19251 closed

[2019-05-15 17:21] ngimel commented on #16592
Closing, please reopen if workaround in https://github.com/pytorch/pytorch/issues/16592#issuecomment-486875369 does not solve it.

[2019-05-15 17:27] hellf commented on #10232
I have same issue.

[2019-05-15 17:49] mrshenli commented on #19925
@ngimel Have you seen similar errors before?

[2019-05-15 17:57] ngimel commented on #19925
Similar errors usually happen when there are bugs in the code calling nccl, so arguments passed to nccl are wrong. So likely it is fixed in the latest pytorch versions. Also, pytorch now has native ctc implementation, so updating the repo to use pytorch's ctc instead of warp-ctc should not be too hard, if that's the only thing preventing from switching to newer pytorch version.

[2019-05-15 18:00] SerailHydra commented on #19925
@ngimel I did try PyTorch 1.1 and I got this error still:

https://github.com/pytorch/pytorch/issues/19925#issuecomment-490517436

[2019-05-15 18:55] colesbury commented on #20532
It's used by the CUDA driver. I think it's used to store the CUDA kernels and PyTorch has a lot of CUDA kernels.

No (other than quitting the process)

The standard practice is to **not** access the same GPU from multiple processes. i.e. use one process per GPU.

[2019-05-15 19:00] colesbury commented on #20532
Also see https://stackoverflow.com/questions/7146226/device-memory-for-cuda-kernel-code-is-it-explicitly-manageable#tab-top

[2019-05-15 19:18] lironmo commented on #20532
Thanks for the answer.
Maybe i can workaround it and spawn another child process for each batch and pass the models by queues - but it will slow down the process and probably be worst than cpu tesnsor.

If the standard practice "is to not access the same GPU from multiple processes"  there is a scale problem that probably need to be fixed( at the distributed/federated world)

why it's allocate on

[2019-05-15 19:19] ezyang commented on #19057
@charlesCXK Sorry about the late response. I don't know how to download from that link from the Baidu link; it seems to require a desktop client.

[2019-05-15 19:21] ezyang commented on #19057
But essentially, what I am curious, is what `open` call resulted in fd 40991. So just search for that number from the bottom of the file up.

[2019-05-15 19:21] ezyang commented on #19057
I'm closing this issue because it is unlikely to be a PyTorch issue; it is probably network filesystem related. As a workaround, consider compiling from local disk.

[2019-05-15 19:25] ezyang commented on #18645
@asa008 Can you paste what the contents of `generic_forward` (right below) are? It should look like this:

[code]

Can you paste the exact contents of your error message?

[2019-05-15 19:29] ezyang commented on #17903
This is an mkl version mismatch, e.g., #5099. Upgrade your copy of mkl and mkl-include (and make sure there aren't any old versions hanging around) and try again. One easy way to make sure you get a hermetic environment is try the install from a fresh conda install.

[2019-05-15 19:29] #17903 closed

[2019-05-15 19:32] ezyang commented on #17874
This is https://github.com/intel/mkl-dnn/issues/440. According to the MKL-DNN developers, this can occur if you're compiling against an outdated MKL library. Try updating your MKL.

[2019-05-15 19:37] colesbury commented on #20528
This is expected (no_grad is thread-local) but we should probably document that

[2019-05-15 19:37] ezyang commented on #17349
I'm going to close this issue as "please upgrade your NCCL" version. If you need help doing this, ask in the forums.

[2019-05-15 19:37] #17349 closed

[2019-05-15 19:38] ezyang commented on #16608
@ailzhang Quick tip: "module: build" means build system problems; it doesn't refer to ci flakiness :)

[2019-05-15 19:39] ezyang commented on #16206
#19057 has more information, so I'm going to close this in favor of that one.

[2019-05-15 19:40] ezyang commented on #19057
Reopened because I saw another user report #16206 of the exact same thing.

[2019-05-15 19:40] #16206 closed

[2019-05-15 19:41] nmatthews-asapp opened #20546 "Saving state_dicts should capture shared state"
## 🚀 Feature
Add metadata to the state_dict to support round trip saving and loading. Specifically, if the same object appears more than once in the object hierarchy, then that fact should be captured in the state_dict representation so that an object produced via `load_state_dict` is equivalent to the original object.

## Motivation

In a hierarchy of nn.Modules wherein one object can appear in m

[2019-05-15 19:48] soumith commented on #20546
from what I know, this is already true for Tensors, i.e. a state_dict saved will only save a given storage once. So, if two Tensors are sharing a single Storage, their "sharing" mechanism should be preserved even after reloading.

If that's not the case as of today, we have regressed.

[2019-05-15 19:54] soumith commented on #20546
okay, so I looked into this, with the following snippet:

[code]

What we do support is doing `torch.save(C, 'c.pth')` and reloading it with `torch.load` will preserve state. I guess we dont support it with `state_dict` and `load_state_dict` yet, but we should

[2019-05-15 19:55] ezyang commented on #8831
@marchss Which error? There are multiple, different errors, reported throughout this issue.

[2019-05-15 20:01] nmatthews-asapp commented on #20546
Actually I realized under a specific circumstance this does work, and the following snippet clarifies:
[code]
this code passes in `torch==1.1.0` with no assertion errors

[2019-05-15 20:08] #10733 closed

[2019-05-15 20:10] colesbury commented on #20546
I don't see anything we should change in PyTorch. `load_state_dict` doesn't change the structure of the Module and **should not** change the structure.

If you create your first version with:

[code]

Then your second version of C needs to be created with the same structure:

[code]

If you instead do:

[code]

You've create a different structure and shouldn't expect it to work the same as your fi

[2019-05-15 20:30] Bronek commented on #17874
Right sorry I missed your question @jzenn  I do not use intel-mkl so I guess that explain why this has worked for me.

[2019-05-15 20:30] suo commented on #16592
@ngimel, can we get a more explicit error message in the case where libnvrtc-builtin is not found? That way we can tell if future "NVRTC_ERROR unknown" errors are from the same cause or not.

[2019-05-15 20:39] sdraper-CS opened #20548 "optimizer.pyi incorrectly describes the params type, leading to mypy linting errors"
## 🐛 Bug

torch.optim.optimizer.pyi currently contains:

[code]

However, the doc states that the `params` in the constructor is `iterable of parameters to optimize or dicts defining parameter groups` (i.e. - 'dicts' plural).  The doc description is correct (matches the code), which makes the `.pyi` incorrect.

Unless I'm missing something it should be:

[code]

## To Reproduce

Steps to reproduce

[2019-05-15 20:48] flacjacket commented on #16592
I'll note that I was able to figure out how to get the code that I was trying to use to run, but it didn't have anything to do with libnvrtc-builtin. What I did was change my forward function noted above (https://github.com/pytorch/pytorch/issues/16592#issuecomment-474984213) to use in-place relu's and changed from:
[code]
to
[code]
It would seem to me there is some other issue.

[2019-05-15 20:57] deisler134 commented on #18993
@soumith when I build libtorch meet the same issue:

caffe2/CMakeFiles/caffe2.dir/__/aten/src/ATen/native/cpu/Activation.cpp.DEFAULT.cpp.DEFAULT.cpp.DEFAULT.cpp.o:(.data.rel.local+0x0): first defined here
caffe2/CMakeFiles/caffe2.dir/__/aten/src/ATen/native/cpu/Activation.cpp.DEFAULT.cpp.o:(.data.rel.local+0x0): multiple definition of `at::native::DispatchStub<void (*)(at::TensorIterator&, c10::Sc

[2019-05-15 21:28] ecvgit opened #20551 "torch.norm produces incorrect results"
## 🐛 Bug

torch.norm gives incorrect results on CPU in the latest nightly build as well as in 1.1.0 stable.

## To Reproduce

(tensor(5792.6187), tensor(9237.8311, device='cuda:0'))

## Expected behavior

Both b and c should have the same values.

## Environment

PyTorch version: 1.1.0.dev20190514
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: Red Hat Enterprise Linux Server release 7

[2019-05-15 21:59] ezyang commented on #20402
cc @soumith. This sounds generally reasonable, but I am a little wary about signing up to figure out what "reasonable default pruning" behavior is for every module. Maybe this could live out of tree for the short term, and we can assess as people get more experience with what is 100%, obviously useful functionality, and what is a bit more opinion based and changes as research evolves?

[2019-05-15 22:05] soumith commented on #20551
i think this is float precision issues.

in float64, it seems to be working fine:

[code]

[2019-05-15 22:06] soumith commented on #20551
cc: @umanwizard to double-check, i think you made norm TensorIterator compatible if I remember (sorry if it wasn't you)

[2019-05-15 22:09] umanwizard commented on #20551
No, it was done by @jjsjann123 in #15414

[2019-05-15 22:49] ecvgit commented on #20551
The code above gives correct results in pytorch 0.4.

[2019-05-15 22:54] EvenOldridge opened #20562 "Performance issue when accessing an extremely large (10GB) longtensor"
## 🐛 Bug

I'm encountering a very strange performance issue when accessing an extremely large tensor.  I first encountered it when loading a whole dataset into gpu memory on a Tesla v100, which may be required for reproducibility because smaller tensors don't demonstrate the effect.

If the tensor is above a certain size, then once you index past a specific value, access to the tensor (or at least

[2019-05-15 22:59] zhangguanheng66 commented on #18853
This may not be relevant. We recently have the CUDA OOM problem. We were able to resolve the issue by removing some "weak_script" decorators (https://github.com/pytorch/pytorch/pull/20563).

[2019-05-15 23:04] ngimel commented on #16592
@suo pytorch is already correctly trying to extract error message from libnvrtc https://github.com/pytorch/pytorch/blob/428104c60a07938f97f33ab1b6c68c3ea91abb81/torch/csrc/jit/fuser/cuda/fused_kernel.cpp#L67-L73, the problem is libnvrtc is returning unhelpful "unknown error", which is a general problem with many cuda tools https://discuss.pytorch.org/t/runtimeerror-cuda-runtime-error-59/750/5
@fla

[2019-05-15 23:13] houseroad commented on #8054
cc: @spandantiwari

[2019-05-15 23:37] stephenroller commented on #18853
Super interesting. I’m not using weak script anywhere (and neither is the test case)

[2019-05-16 00:05] bhack commented on #18631
Any news on this?

[2019-05-16 01:56] ZhengRui commented on #3022
I had the same issue with 4x2080ti + asus x299 sage + Rosewill Hercules 1600W PSU (or Corsair 1500i), disabling cpu turbo not help. After using [Corsair 1600i Titanium ](https://www.amazon.com/CORSAIR-AX1600i-Titanium-Certified-Modular/dp/B0787G1Z74), it works perfectly.

[2019-05-16 02:27] colesbury commented on #20562
I'm having trouble running your example. The transitive dependencies seem to require a different CUDA version from what I have installed (CUDA 10). It would help if you can simplify the repro code and remove unnecessary dependencies.

We have some operations that are much slower on very large tensors (more than 2147483647 elements) because they usekernels with int64 index calculations instead of i

[2019-05-16 02:27] kerryJo opened #20566 "What is a C ++ torch api similar to the registor_hook function in Python?"
I want to know the backward grdient value of a particular layer.
In Python, there is a function called registor_hook. C ++ does not have the same function.
Is there a similar method?

[2019-05-16 02:42] colesbury commented on #20551
PyTorch 0.4 did the accumulation using double https://github.com/pytorch/pytorch/blob/v0.4.1/aten/src/TH/generic/THTensorMath.cpp#L4307

Now it's using float accumulation:
https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cpu/ReduceOpsKernel.cpp#L57

CUDA uses float accumulation, but is saved because the necessary parallelism forces a form of [pairwise summation](https://en.wikip

[2019-05-16 03:04] VirginianBlue opened #20568 "Can't build caffe2 on windows"
I update my CUDA from 8.0 to 10.0 but get the same problem.
I excute

And got this error:

FAILED: bin/kernel_functor_test.exe
Cmd.exe /C "cd . && "C:\Program Files\CMake\bin\cmake.exe" -E vs_link_exe --intdir=caffe2\CMakeFiles\kernel_functor_test.dir --rc=C:\PROGRA~2\WI3CF2 ~1\10\bin\100177~1.0\x64\rc.exe --mt=C:\PROGRA~2\WI3CF2~1\10\bin\100177~1.0\x64\mt.exe --manifests -- C :\PROGRA~2\MIB055~1\

[2019-05-16 03:05] jjsjann123 commented on #20551
Like Sam mentioned, numerical behaviors are very differently on CPU/GPU because of the level of parallelism. Sacrifices like this (using `double` instead of `float`) is necessary for CPU, but it is not on CUDA code and would hurt performance.
We probably could plumb some logic through so we use different accumulation on each device. But really the shared code between CPU/GPU kernels are not signif

[2019-05-16 03:08] VirginianBlue commented on #20568
My build.ninjia:
[build.log](https://github.com/pytorch/pytorch/files/3185244/build.log)

[2019-05-16 03:21] michaelarg commented on #18627
Here is my all pull request #20521

[2019-05-16 04:45] jzenn commented on #17874
@Bronek No Problem. Thanks a lot anyway.

[2019-05-16 04:57] peterjc123 commented on #20568
From the log, looks like `miniz` is built with `/MD`, which should be `/MT`.

[code]

[2019-05-16 06:13] peterjc123 commented on #20568
Hey, would you please try if #20574 solves your problem?

[2019-05-16 06:56] virajmavani commented on #20416
It is supposed to be implemented without placing any constraints on the Dataset. It will be a similar implementation as that of the subset classifier. Just instead of indices, it will use the class labels. @soumith @SsnL Still, if you think it is not needed in the source code, it's okay. It makes complete sense in implementing it as a custom sampler on user end. I was just proposing it so that eve

[2019-05-16 06:57] wfrabbit opened #20576 "NVRTC_ERROR unknown when using self-built libtorch"
Hi, I am doing inference with my own GPU model. When i use the released nightly version of libtorch from official website, there is no issue. Then I build libtorch from the same version of pytorch source and use the self-built version of libtorch to do inference, it shows the following error:

pytorch/torch/csrc/jit/fuser/cuda/fused_kernel.cpp:196: NVRTC_ERROR unknown:
operation failed in interpre

[2019-05-16 07:01] charlesCXK commented on #19057
@ezyang
Thank you for your reply! I had downloaded PyTorch=1.0.0 from pip3, and that satisfied my needs.

[2019-05-16 07:01] #19057 closed

[2019-05-16 07:10] zieitokk opened #20577 "Is there a way to utilize ATen full lib by calling caffe2.python.core.CreateOperators?"
Hi I just wondering if there is a way to utilize ATen full lib by creating like
[code]
I wanted to use grid_sampler function in ATen lib and I have checked the `native_functions.yaml` in `aten/src/ATen/native` which has function `grid_sampler`.

However when I run operators above, it shows an error claimed that

It's really appreciated that if someone can answer my question!

[2019-05-16 07:10] #20479 closed

[2019-05-16 07:20] boeddeker commented on #20528
Ah, ok, thanks.
Yes, some documentation would be useful. Searching for this problem only yields questions for multiprocessing.
Are there more things to consider, when I use a threadpool for validation?

[2019-05-16 07:27] peterjc123 commented on #20525
cc. @pjh5

[2019-05-16 07:56] nbrgr commented on #12112
I tested the patch with my local build and can confirm that the change solved my problem, I also just downloaded the latest nightly and that version works as well.

[2019-05-16 08:06] DaoyuLee opened #20578 "why we don't need to write a backward() method when applying a new loss we personally define?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-05-16 08:09] sovrasov commented on #20486
@pietern the same issue is reported here https://github.com/pytorch/pytorch/issues/20527
Behavior of the schedulers has been certainly changed since 1.0.1 with no changes in documentation at the same time.

[2019-05-16 08:10] grib0ed0v commented on #20486
@sovrasov @pietern I can confirm that I also noticed such kind of behavior.
For one of my trainings, MultiStep LR graph is attached below:
![image](https://user-images.githubusercontent.com/10911871/57837202-f8a25c80-77ca-11e9-8d59-e6915a550bc3.png)
I'm sure that this doesn't work as designed.

[2019-05-16 08:35] SpringSJTU commented on #19969
The same bug occur to me, do you solve it?

[2019-05-16 09:08] baldassarreFe opened #20579 "Exception when adding custom scalars in tensorboard"
## 🐛 Exception when adding custom scalars in tensorboard

An exception is raised when adding custom scalars using

`TypeError: Parameter to MergeFrom() must be instance of same class: expected tensorboard.SummaryMetadata.PluginData got list.`

## To Reproduce
Minimal code to reproduce:
[code]

Running this results in:
[code]

## Environment

Please copy and paste the output from our
[code]

## Add

[2019-05-16 09:25] amosella commented on #19739
I also met this crash. To solve the issue I compiled pytorch and open3d from source.

[2019-05-16 10:16] A1R0B0T commented on #20477
I have the same problem

[2019-05-16 11:39] #20566 closed

[2019-05-16 12:19] zym1010 commented on #3022
@ZhengRui My machine also has 4x2080ti + x299 sage, but with a 2000W PSU; still failing... (maybe due to CPU difference? Mine is a 12 core i9-9920X).

[2019-05-16 12:26] elgalu commented on #7035
How to disable caffe2 from PyTorch default build?

The default build takes several hours and most of what we see in the output is `caffe2` e.g.

[code]

[2019-05-16 12:53] ezyang commented on #7035
`/aten/src/THCUNN` is PyTorch, it's just put in a confusing directory. If you don't care about CUDA, you can speed your build up quite a bit by disabling it.

[2019-05-16 13:05] wangshankun commented on #13040
same problem here， Centernet to onnx

[2019-05-16 13:08] nmatthews-asapp commented on #20546
Ok this makes sense to me. Sounds like this can be closed

[2019-05-16 13:08] #20546 closed

[2019-05-16 13:36] arp2600 opened #20583 "Conv2d triggers assertion in mkl-dnn when padding=(n, 3)"
## 🐛 Bug

An assertion is triggered:
[code]
When doing:
[code]

Error occurs when `padding[1] == 3`. The value of `padding[0]` does not seem to matter.

Error occurs on this processor `Intel(R) Xeon(R) CPU E5-2697 v2 @ 2.70GHz`
But not this processor `Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz`

Error occurs using torch version `1.0.1` and `1.1.0`
But not using torch version `1.0.0`

## To Reproduce

[2019-05-16 14:11] elgalu commented on #7035
That's what I thought, that `caffe2` being part of the path was just misleading but it's all PyTorch in the end.

I'm building it next to latest CUDA, cuDNN, etc:
https://github.com/elgalu/sagemaker-pytorch-fp16

So I guess will have to deal with the 5hs build, unfortunately TravisCI cancels builds after 50min.

Is it possible to split the build somehow in stages? or do you know any other open-sou

[2019-05-16 14:11] artemru commented on #17199
I met this problem several years ago, and I found out this solution consisting of running a function within a new python thread when passing it python process :

[code]
Do this work in your environnent  ?

[2019-05-16 14:18] svmsunny commented on #17888
I solve this problem by installing the PyTorch from Source, https://github.com/pytorch/pytorch#from-source. and
MACOSX_DEPLOYMENT_TARGET=10.9 CC=clang CXX=clang++ USE_LMDB=ON python setup.py install
The default config of USE_LMDB is OFF.

[2019-05-16 14:28] nairbv commented on #18111
Tests in the PR pass except for windows, but had to disable some jit checks that say sparse tensors are unsupported. Needs some feedback from @eellison, since I'm not sure if we want to support jit for sparse.

[2019-05-16 14:33] #4993 closed

[2019-05-16 14:39] ezyang commented on #7035
So, if I understand correctly, you are trying to use Travis to build CUDA-enabled binaries for use on Sagemaker. You're going to have a bad time. (I think we were just barely able to build CPU-only builds on Travis before we switched, with liberal use of ccache.) Is there a reason you can't use our nightlies for this? @pjh5

[2019-05-16 14:49] allegroai opened #20585 ""pip install --find-links" installs package from PyPI instead of pytorch.org"
## 🐛 Bug

`pip install --find-links https://download.pytorch.org/whl/CUDA_VERSION/stable torch` installs package from PyPI and not from provided index.

## To Reproduce

[code]
Note the `https://files.pythonhosted.org` URL.
Adding `--verbose` gives more specific information:
[code]
With this line indicating the problem:
[code]

## Expected behavior

pip should be able to download the package match

[2019-05-16 14:55] elgalu commented on #7035
I need cuda92 instead of cuda90 , when I tried with the nightly build torch.matmul was super slow when using https://github.com/NVIDIA/apex

[2019-05-16 15:17] rgommers commented on #18355
Thanks looks right, thanks @xmnlab. @ezyang can you confirm and close this?

[2019-05-16 15:18] pjh5 commented on #20525
The 1.0.1 packages are still, just the latest does not point to them. The link will be like https://download.pytorch.org/libtorch/cu90/libtorch-win-shared-with-deps-1.0.1.zip . We'll look into the version difference

[2019-05-16 15:19] ezyang commented on #7035
Could you please file a bug report about this? Please say exactly which nightly you used (e.g., how you installed it) and how you measured that it was "super slow".

[2019-05-16 15:26] zhangguanheng66 opened #20588 "Out-of-memory on GPU due to the "weak_script" decorators"
## 🐛 Bug

The issue has been resolved with a recently merged PR (https://github.com/pytorch/pytorch/pull/20563). This issue report is here for the record and future benchmark. The issue is related to the local scope of a weak-scripted function, which cause a memory leak.

We have the out-of-memory issue when running nn.MultiheadAttention module on CUDA. This happened since we split the forward fun

[2019-05-16 15:39] ezyang commented on #18355
I agree, and in the future, you can close tasks this way :)

[2019-05-16 15:39] #18355 closed

[2019-05-16 15:41] rgommers commented on #18355
thanks

I don't have rights to do that. but maybe @xmnlab or @skrah does by now?

[2019-05-16 15:43] xmnlab opened #20590 "Change function that truncate to scalar_t on each atomicAdd"
## 🚀 Feature

at https://github.com/pytorch/pytorch/pull/19630/files#diff-5092da792c30694ee4adf0d0ae2a37c6R206 it is truncating to scalar_t on each atomicAdd call. It would be good to change that. See comments by @ngimel https://github.com/pytorch/pytorch/pull/19630#discussion_r281426912

## Motivation

Performance improving

## Pitch

## Alternatives

## Additional context

[2019-05-16 15:43] pjh5 commented on #20525
cc @soumith

[2019-05-16 15:44] xmnlab commented on #20590
@ngimel please feel free to add any more details about your thoughts on ths issue. Thank you so much!

[2019-05-16 15:53] ezyang commented on #18355
I filed a ticket to give you rights.

[2019-05-16 16:23] colesbury commented on #12112
Thanks @nbrgr!

[2019-05-16 16:23] #12112 closed

[2019-05-16 16:23] lanpa commented on #20477
@xyoungli Does @seenitall 's method work for you?
Which version of tensorboard are you using?

[2019-05-16 16:29] colesbury commented on #20535
zdevito/sleef@9b249c5 is out as a PR: https://github.com/shibatch/sleef/pull/262

[2019-05-16 16:52] raghuramank100 commented on #19092
What about operations like cat/split? It will be useful for them to preserve the memory format.

[2019-05-16 16:55] sidazhang opened #20591 "@ignore annotation for user defined type"
## 🚀 Feature
In user defined type, it would be nice to have a @ignore annotation similar to https://github.com/pytorch/pytorch/pull/16055

This allows the user to write python only methods that are only used in training / debugging (like `def  #visualize`)

[2019-05-16 17:05] hongyx11 commented on #17888
proud of you! will try it.

[2019-05-16 17:13] ezyang commented on #20402
Some other comments that I had in private conversation with @mickypaganini:

* There's probably some API bikeshedding to do on the exact signature of `prune` (and whether or not it lives as a method or function). All of these possibilities are easy to implement, we just have to decide what to do. One non-obvious sticking point is that writing binding code for operators which take "enums" (like the

[2019-05-16 17:41] pjh5 commented on #17492
I am reasonably confident that this will be fixed in tonight's builds, as I'm now grepping through all the exposed symbols. I'll do a practice run a little later today to make sure again.

We'll delete all the old builds currently uploaded in devtoolset7 that are all incorrect.

Thanks everyone for your patience.

[2019-05-16 17:52] nmerrill67 commented on #19540
Is there any update on this? This is a serious issue that has not been addressed at all. The DataParallel unit tests only test scatter and gather, but not with autograd. I believe that it does not work for training, which is displayed by my MNIST example that is attached above.

[2019-05-16 17:52] colesbury commented on #20551
@jjsjann123 I was suggesting something different: that we use pairwise summation on the CPU in reduction kernels -- not that we switch to double accumulation.

[2019-05-16 17:53] williamluke4 commented on #16417
Same issue here ```RuntimeError: CUDA out of memory. Tried to allocate 54.00 MiB (GPU 0; 11.00 GiB total capacity; 7.89 GiB already allocated; 7.74 MiB free; 478.37 MiB cached)```

[2019-05-16 18:02] suo commented on #19351
I believe this is happening because of how we do dynamic attribute loading for custom operators. @zdevito, I remember you had an idea for easy fix but I forgot what it was

[2019-05-16 18:53] mrTsjolder commented on #6934
There's also [this paper](https://arxiv.org/abs/1511.06409), which seems to have been published during the same time, but did not make it to publication.

[2019-05-16 19:14] colesbury commented on #20535
Both changes are now merged upstream

[2019-05-16 19:56] pjh5 commented on #17492
We have cleaned out the old incorrect builds and populated today's builds. A spotcheck on the Python 3.7 cpu package shows cxx11 symbols in the shared libraries. I think this is finally correct, but please let me know if you encounter any problems.

Remember that the urls are of the form
[code]
where 'devtoolset7/' is inserted after 'nightly/'

[2019-05-16 19:56] zdevito commented on #19351
Oh, we probably have torch.ops inherit from Module (the python class), but it isn't really a module so it doesn't have __file__ set. Asking for it then goes through our op lookup path. Solution is probably to simply set `__file__` on torch.jit.ops to _something_.

[2019-05-16 20:13] zasdfgbnm opened #20606 "PyTorch is not using the GPU specified by CUDA_VISIBLE_DEVICES"
## 🐛 Bug

PyTorch is not using the GPU specified by `CUDA_VISIBLE_DEVICES`

## To Reproduce

Run the following script using command `CUDA_VISIBLE_DEVICES=3 python test.py`

[code]

On my server, the output is:

[code]

From the output, we can see that, the process id is `18286`, and `nvidia-smi` shows that this process is using GPU 5, which is not the 3 as specified by `CUDA_VISIBLE_DEVICES`.

##

[2019-05-16 20:28] zasdfgbnm commented on #20606
More comment:

Using the following command instead
`CUDA_DEVICE_ORDER=PCI_BUS_ID CUDA_VISIBLE_DEVICES=3 python test.py`
would fix the problem.

But I am not sure if this is the expected behavior...

[2019-05-16 20:35] ngimel commented on #20606
This is expected behavior, and your solution is correct.

[2019-05-16 20:35] #20606 closed

[2019-05-16 20:37] umersadiq commented on #9235
Any update here - does anyone have a workaround for the cpuinfo error above?

[2019-05-16 21:25] wanchaol commented on #20591
@driazati can you take a look at this since you write the @ignore annotation?

[2019-05-16 21:28] karthiksn commented on #19969
@SpringSJTU - haven't solved it yet, but haven't actively been working on this.

[2019-05-16 21:50] umanwizard commented on #19122
@gsp-27 Hey, sorry nobody responded to you. I am planning on adding this in the next day or two, unless you have already worked on it.

[2019-05-16 21:53] SweetVlad opened #20611 "Freeze during validation with distributed training and model with batch normalization layers"
## ❓ Questions and Help
Hi,
I got unexpected behavior during training with torch.distributed.DistributedDataParallel model on multiple GPUs.

- I train my model with DistributedSampler and DataLoader from torch lib. During training everything is fine, but when I validate my model after the first epoch of training, everything gets stuck  - no crash, but GPUs are showing 100 % utilization as well as

[2019-05-16 21:57] EvenOldridge commented on #20562
Thanks for the follow up Sam.  I updated the repo to eliminate any unnecessary dependencies leaving only torch, ignite, and base python libraries.  I also rewrote the indexing test (thanks for the code) and ran it with similar effect.

Finally, I made another discovery while reviewing the code, which is that the issue only occurs if I shuffle the data.  I'm doing so using the following function:

[2019-05-16 22:33] EvenOldridge commented on #20562
One further follow up that I tested was to test a different type of shuffle (offset by 1) with the following function:

    def shuffle(self):
        print('shuffling batch')
        #idx = torch.randperm(self.num_samples, dtype=torch.int64, device='cuda')
        # offset by 1
        idx = torch.arange(1, self.num_samples+1, dtype=torch.int64, device='cuda')
        idx[self.num_samples-1] = 0

[2019-05-16 22:34] hhbyyh commented on #15210
Thanks @SPark9625 for creating the issue.
I can still see the issue in Pytorch 1.0.1

[code]

error info:
`Segmentation fault (core dumped)`

PyTorch version: 1.0.1
Is debug build: No
CUDA used to build PyTorch: None

Python version: 3.6
Is CUDA available: No
CUDA runtime version: No CUDA
GPU models and configuration: No CUDA
Nvidia driver version: No CUDA
cuDNN version: No CUDA

libtorch 1.0.1

[2019-05-16 22:34] adamlerer opened #20613 "groupby function"
## 🚀 Feature

## Motivation

## Pitch

[code]

Basically T is an `Nx...` tensor and `F` is a size `N` tensor. This function returns a list `groups` of length equal to the number of unique values in F. Each group contains all the rows of `T` for that unique element. `values` is just a tensor containing the unique values corresponding to each group, and `inverse_map` is a list of tensors telling you

[2019-05-16 23:02] driazati commented on #18232
`in` statement still isn't supported

[2019-05-16 23:09] driazati opened #20615 "[jit] del statements aren't supported"
`del` isn't currently supported for dicts or lists:

[code]

`del` can also be used on lists:
[code]

cc @suo

[2019-05-16 23:26] #20578 closed

[2019-05-16 23:27] driazati opened #20616 "[jit] `list(string)` does not work"
This doesn't work, the error message is also an internal assert

[code]

[2019-05-16 23:30] li-roy commented on #20577
Please use https://discuss.pytorch.org (https://discuss.pytorch.org/) for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-05-16 23:30] #20577 closed

[2019-05-16 23:32] li-roy commented on #20532
Closing this because it's not an actionable issue.

[2019-05-16 23:32] #20532 closed

[2019-05-16 23:41] li-roy commented on #20499
fixed by #20499

[2019-05-16 23:41] #20499 closed

[2019-05-16 23:59] tshrjn commented on #2517
Hi @EvenOldridge were you able to solve it or reproduce it on stripped down code?

I'm having a similar issue when using a custom `collate_fn` with `num_workers>0`, I get the following error on the line which just makes zero tensor with appropriate device like this `src = torch.zeros((bs, max_src_len), dtype=torch.long, device=self.device)` :

[code]

It's works when `num_workers>0` on `cpu` and a

[2019-05-17 00:08] jidroid404 commented on #20464
@Kaixhin How come it's to be added to `functional.py` and not `activation.py`?

[2019-05-17 00:21] Kaixhin commented on #20464
The default is to create a functional interface in `functional.py` first. You'll see that many activation modules are basically wrappers around a function.

[2019-05-17 00:26] jidroid404 commented on #20464
@Kaixhin Could you please point me to a PR on some other activation function that was eventually merged so that I could wrap my head around the workflow and pulling it off ! Thanks

[2019-05-17 00:33] liuchang8am commented on #13040
Solved.Just change the output of your model from dict to list.

[2019-05-17 00:36] Kaixhin commented on #20464
You can have a look at https://github.com/pytorch/pytorch/pull/8551 . I haven't contributed in a long time so can't give you more detailed advice - do your best and open a PR and a maintainer should be able to help you from there.

[2019-05-17 01:56] yjhjstz commented on #15210
[code]

this would be ok , because forward may return Tensor or Tuple , we can replace like :
[code]

[2019-05-17 02:16] nicolasCruzW21 commented on #17212
Hello,
I have a similar issue. I can load a pth model correctly, but the error emerges when trying to trace the model using jit.

Ubuntu 16.04
Pytorch 1.1
cuda 10.0
cudnn:7.4.2
Python 3.6

I am able to export the model using pytorch 1.0 with cuda 9.0.
The error is:
Traceback (most recent call last):
  File "VisualizeResults.py", line 178, in <module>
    main(args)
  File "VisualizeResults.py", li

[2019-05-17 02:44] ZhengRui commented on #3022
@zym1010  my cpu is 10core i9-9820

[2019-05-17 03:24] marchss commented on #8831
Thanks @ezyang

The <intrin.h> error as listed below.

pytorch/CMakeFiles/CMakeTmp/src.c:2:22: fatal error: intrin.h: No such file or direct    ory
298    #include <intrin.h>
299                       ^
300 compilation terminated.
301 gmake[1]: *** [CMakeFiles/cmTC_222f8.dir/src.c.o] Error 1
302 gmake[1]: Leaving directory `/data1/charliexiao/pytorch/CMakeFiles/CMakeTmp'

[2019-05-17 03:25] marchss commented on #8831
Thanks @ezyang

The <intrin.h> error as listed below.

pytorch/CMakeFiles/CMakeTmp/src.c:2:22: fatal error: intrin.h: No such file or direct ory
298 #include <intrin.h>
299 ^
300 compilation terminated.
301 gmake[1]: *** [CMakeFiles/cmTC_222f8.dir/src.c.o] Error 1
302 gmake[1]: Leaving directory `pytorch/CMakeFiles/CMakeTmp'

[2019-05-17 03:33] hanmingliu2 commented on #18634
@umanwizard I have a few hypotheses which I want to discuss with you guys about:
1. The overheads brought by output size calculation and contiguity check are trivial
2. Slowdown happens when inputs are not all contiguous
3. If **2** is true, then slowdown is in the call `at::_copy_same_type_(nt__wrap, inputs_wrap)` if and only if `at::_copy_same_type_` is slower than `memcpy`(which I think is opti

[2019-05-17 03:51] veritas9872 opened #20619 "Allow parallel sending to device in DataLoader"
## 🚀 Feature
I wish to request a feature that allows DataLoader to send data to devices instead of only pin memory, or create a new DataLoader which can do this.

## Motivation

I am currently working on a dataset with very large image sizes. Also, these images need to be processed with computationally intensive processes which are best done on GPU.

Due to the large size of my data, the training

[2019-05-17 04:40] Yudonggeun opened #20627 "How to transfer tf.layers.dense to pytorch?"
How to transfer tf.layers.dense to pytorch?

[code]

[2019-05-17 04:41] Yudonggeun opened #20628 "tf.layers.dense"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-05-17 04:42] #20628 closed

[2019-05-17 04:55] soumith commented on #20627
please use https://discuss.pytorch.org for questions

[2019-05-17 04:55] #20627 closed

[2019-05-17 05:08] xyoungli commented on #20477
tb-nightly, 1.14.0-20190513
it works, but that's not the normal way to update

[2019-05-17 05:08] VirginianBlue commented on #20568
Thank you for that. It solve this problem.
I get it at last:

-- Install configuration: "Release"
"Caffe2 built successfully"

But now,I am confused how to use caffe2 in VS2017. I can't follow the install introduction on[https://caffe2.ai/docs/cplusplus_tutorial.html](url) to use it on VS2017. And there is no build directory , no caffe2.sln or such this thing.And I add

to the Additional Including

[2019-05-17 05:20] liuchang8am commented on #19969
same bug here,

`torch::Tensor out_tensor = module->forward(inputs).toTensor();`

the out_tensor type is [ Variable[CUDAType]{1,10} ], and Segmentation Fault is followed.

[2019-05-17 06:26] peterjc123 commented on #20568
Since you are using Ninja, there won't be `Caffe2.sln`. You just need to find `ninja.build`. The directory of that file is the build directory.

[2019-05-17 06:26] ruohoruotsi commented on #20030
I agree with @ezyang that a pytorch installation via pip should not depend on brew. PyTorch is a dependency for my library and my users may or may-not have/care about brew.

- So just to clarify, the solution was to remove the `brew install libomp` step && correctly package up the platform specific libraries of libomp (.dylib, .so, etc) ? Is that correct?

- If I'd like to grab the latest nightly

[2019-05-17 06:45] COthello opened #20629 "profiler seems not print all op calls"
## 🐛 Bug

Hello everyone, I use pytorch profiler to get my program performance, but seems profiler not print all op function calls.
My program has 53 conv2d, but profiler only print 6 conv2d calls, can anyone help on that? Thanks!
![image](https://user-images.githubusercontent.com/9839536/57908296-4645c480-78b2-11e9-8a57-24c5e771c60b.png)

## To Reproduce

Steps to reproduce the behavior:

[2019-05-17 06:46] prafullasd opened #20630 "distributed all_reduce deadlocks in v1.1"
## 🐛 Bug

I'm doing multi-node training (8 nodes, 8 gpu's each, NCCL backend) and am using `DistributedDataParallel` for syncing grads and `distributed.all_reduce()` calls to log losses. I recently upgraded from Pytorch v1.0 to v1.1 and after doing so, my training script hangs at a `distributed.all_reduce()` call. The hang doesn't occur if I downgrade pytorch to v1.0. It also hangs if I use the py

[2019-05-17 06:56] hshustc commented on #17658
The same problem. Has anyone solved it?

[2019-05-17 07:09] sshikha23 opened #20631 "Error: Could not find a version that satisfies the requirement torch==0.3.1 (from versions: 0.1.2, 0.1.2.post1) ERROR: No matching distribution found for torch==0.3.1"
I am trying to install torch=0.3.1

Collecting torch==0.3.1
  ERROR: Could not find a version that satisfies the requirement torch==0.3.1 (from versions: 0.1.2, 0.1.2.post1)
ERROR: No matching distribution found for torch==0.3.1

I tried all the available answers to this questions but still i am unable to install it.
I am not getting what "**matching environment** and **what version** means.
I am

[2019-05-17 07:15] Randl commented on #1355
I've just encountered this bug with pytorch 1.1. Same got got stuck twice on the same place: end of 99th epoch. `pin_memory` was set to `False`.

[2019-05-17 07:28] mhubii commented on #16830
yes thank you @timha92, that is the solution which was also provided in the [forum](https://discuss.pytorch.org/t/backward-keep-graph-cpp-api/36559/2) :)

[2019-05-17 07:38] jlquinn opened #20632 "Minor typo in wiki page"
## 📚 Documentation

I don't seem to be able to edit directly, so I'm filing an issue:

https://github.com/pytorch/pytorch/wiki/Writing-Python-in-cpp-(a-manifesto)

s/solves are problem/solves our problem/

[2019-05-17 07:43] fmassa commented on #18634
@hanmingliu2 from your previous post, all the inputs that you ded to cat are contiguous, and you are concatenation on the first dimension, so all the slices are also contiguous. Could you clarify what you mean by your point 2 wrt contiguous tensors?

[2019-05-17 08:15] Randl opened #20634 "SyncBN doesn't support fp16 inputs with fp32 parameters"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Convert network to 16 bits while keeping SyncBN in 32 bits
2. Get `RuntimeError: expected scalar type Half but found Float` error

## Expected behavior
BatchNorm works with different types of input and parameters.

## Environment
Collecting environment information...
PyTorch version: 1.1.0
Is debug build: No
CUDA used to build PyTorch

[2019-05-17 08:59] GolovanovSrg commented on #20630
I have the same problem

[2019-05-17 09:25] Jonas1312 opened #20635 "CUDA error: unknown error on Windows"
## 🐛 Bug

`CUDA error: unknown error` after trying to convert a `torch.float32` tensor to a `torch.cuda.FloatTensor` using `x.type(torch.cuda.FloatTensor)`

## Call stack:
![Capture](https://user-images.githubusercontent.com/15847892/57917902-feb13f80-7895-11e9-8f54-bfd07ac3a832.PNG)

Variables:
- item2 tensor: https://user-images.githubusercontent.com/15847892/57917623-631fcf00-7895-11e9-9e66-726

[2019-05-17 09:39] wfrabbit commented on #20576
Just FYI, this issue is fixed after i upgrade to cuda 10.

[2019-05-17 10:11] hshustc commented on #19969
The same bug. so sad.

[2019-05-17 10:50] elbaro opened #20637 "Forward hook, Activation holder"
## 🚀 Feature

Add `nn.Module.activation` field to hold the last activation (or tuple, etc) returned from forward().

[code]

## Motivation

- Visualizing activation histogram in tensorboard is not easy.
- Capturing intermediate activations from a network for regularization loss is not easy.

## Pitch

Weight tensors can be enumerated and put into tensorboard like the following:

[code]

However it