[2019-04-29 01:00] denru01 commented on #17703
I encountered the same issue when using 1.1.0a0+84b264b. It happens rarely and randomly. I did not test it on the newest version since the newest version runs very slow (at least 2x slower).

[2019-04-29 01:42] danilogr commented on #19839
What a silly mistake from my side. It worked after updating! Thanks!

[2019-04-29 01:42] #19839 closed

[2019-04-29 01:48] pietern commented on #19896
Thanks for reporting. I think #19897 should fix this issue.

[2019-04-29 02:47] sdlmw opened #19899 "Help installation Issues on Ubuntu 16.04"
`Killed
Makefile:91: recipe for target '/home/mingwei/pytorch/build/nccl/obj/transport/net.o' failed
make[4]: *** [/home/mingwei/pytorch/build/nccl/obj/transport/net.o] Error 137
make[4]: *** Waiting for unfinished jobs....
Killed
Makefile:91: recipe for target '/home/mingwei/pytorch/build/nccl/obj/transport.o' failed
make[4]: *** [/home/mingwei/pytorch/build/nccl/obj/transport.o] Error 137
Killed

[2019-04-29 03:22] bombs-kim opened #19900 "Strange behavior of torch.multinomial on cuda.HalfTensor"
## 🐛 Bug

`torch.multinomal` raises RuntimeError: CUDA error: misaligned address on certain conditions.

## To Reproduce
Just run this code in your python repl
[code]
If n is a even number, the above code doesn't raise an error!

## Environment

 - PyTorch Version (e.g., 1.0): 1.0.1.post2
 - OS (e.g., Linux): Ubuntu 16
 - How you installed PyTorch (`conda`, `pip`, source): conda
 - Build command y

[2019-04-29 03:52] dianyancao opened #19902 "At training time, pytorch batchnorm use biased batch var to normalize input, but running var is updated by unbiased batch var"
I test BatchNorm use the following code, and find pytorch BatchNorm is inconsistency between train and eval mode.
[code]
Simply run above code form these output:
[code]
The final totoal error between out1 and out2 is expected to less than 1e-4.
This error exist after pytorch-0.3.1 to pytorch1.0 both in python2 and python3 on cpu and cuda.

[2019-04-29 03:57] SsnL commented on #19902
the +eps goes before sqrt

[2019-04-29 04:02] dianyancao commented on #19902
After I move the self.eps into sqrt, the error remains.

[2019-04-29 04:04] GuanLianzheng commented on #19598
Hi, @billpku do you complete Bert to TensorRT?

[2019-04-29 04:10] SsnL commented on #17909
you can use `torch.utils.data.get_worker_info() != None` to get the same information (whether you are in a worker process) after https://github.com/pytorch/pytorch/pull/19228

[2019-04-29 05:32] Athenaplot opened #19906 "the speed of dataloading imfected by the number of Samples"
I am  traped in the speed of the dataloading. In my experiment , I have 700k Samples ，one file for one sample. so I rewrite the Dataset and use the Dataloader of pytorch. But, the speed is much much slow. the batch_size is 128, the input image is of 80*80. while I reduce the number of my samples,like just 10k,it turns out to be much faster. so ,I want to figure out what limit the speed of the data

[2019-04-29 05:37] ABigPing opened #19907 "batches_outstanding=0, so the program quit"
I use pytorch 0.3.0
When I use DataLoader with num_workers==4, the program exits after training hundreds of batches.
I checked the source code and found that batches_outstanding was reduced to 0.
Why does this happen? How should I solve this problem?

[2019-04-29 05:50] mfuntowicz commented on #19840
I shouldn't be using any unused parameters, but I'm training two networks in an adversarial setup, defined like this:

[code]

[code]

So during the generator backward, it's using the output of the critic which is frozen w.r.t its parameters.

[2019-04-29 06:31] Athenaplot commented on #19906
i think maybe i have an io bottleneck

[2019-04-29 07:07] dianyancao commented on #19902
Is BatchNorm implement use this file?
'''pytorch\pytorch\caffe2\operators\spatial_batch_norm_op.h'''
On eval mode, the '''ComputeFusedParam''' function use rsqrt variance to scale input,
but on train mode, the '''ComputeBatchMoments''' function use rsqrt mean variance to scale input,
the variance is scaled by '''const T scale = T(1) / static_cast<T>(num_batches_ * N * HxW);'''
file '''pytorch\pyto

[2019-04-29 07:19] SsnL commented on #19902
no it's not that file. in fact, it calls into cudnn, so i'm at least 99.999999% sure that the pytorch behavior is correct. finally, you are missing the bessel's correction when accumulating running variance.

[2019-04-29 07:32] dianyancao commented on #19902
Cpu version has the same behavior too.
I use torch.var it does the bessel's correction by unbiased=True option.
Maybe the above test code has something wrong?

[2019-04-29 07:49] JingLiRaysightmed opened #19908 "c++/pytorch How to convert tensor to image array?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.
I would like to convert a tensor to image array and use tensor.data<short>() method. But it doesn't work.

My function is showed below:
[code]

The runtime log is showed below:

Why and how to convert?

We have a set of [listed resources available on the website](https://pytorch.org/r

[2019-04-29 07:57] danFromTelAviv commented on #17714
@t-vi  I want to give this one more go. It doesn't make sense to me that pytorch with and without nnpack perform the same on my board. Especially since I did see a boost in performance when I used nnpack + darknet.
I tried to install both on separate fresh boards to avoid issues ( just btw ).
Can you please review by logs and see if you see anything strange or try to see if on the raspberry pi you

[2019-04-29 08:27] XiaXuehai opened #19909 "nn.LSTM errors when using torch.jit.script_method"
## 🐛 Bug

nn.LSTM errors when using torch.jit.script_method
## To Reproduce

Steps to reproduce the behavior:

[code]
## Expected behavior

## Environment

 - PyTorch Version (e.g., 1.0): 1.01
 - OS (e.g., Linux): Windows7
 - How you installed PyTorch (`conda`, `pip`, source): conda
 - Build command you used (if compiling from source): conda install pytorch-cpu torchvision-cpu -c pytorch
 - Python

[2019-04-29 08:31] dianyancao commented on #19902
test batch norm
test data x:[[1,2,3],[3,4,0]]
weight:[0.0290, 0.4019, 0.2598]
bias:[0, 0, 0]
eps:1e-5
the mean of x:[2, 3, 1.5]
the unbias var of x:[2, 2, 4.5]
In training,batch norm must output:
output = weight*(x - mean) / sqrt(var+eps) + bias
=[[-0.0205, -0.2842,  0.1837], [ 0.0205,  0.2842, -0.1837]]

but pytorch batch norm output:
[[-0.0290, -0.4019,  0.2598], [ 0.0290,  0.4019, -0.2598]]
whi

[2019-04-29 09:25] dianyancao commented on #19902
Pytorch batch norm use biased variance.
And when the bachnorm follows with a linear layer or convolution layer,
The model output will be inconsistency,it may cause by _weak_script_method_ graph optimization.
The following code not work with ```prefix_linear = True```,but work with ```prefix_linear = False```.

[2019-04-29 09:57] JingLiRaysightmed commented on #19908
I have found the solution. When I convert the y to kCPU, it works. Because it in CUDA before.

[2019-04-29 09:58] #19908 closed

[2019-04-29 10:04] Yao-Yuan opened #19911 "BatchNorm does not support batchsize>65535 in eval mode, raise CUDNN_STATUS_NOT_SUPPORTED"
## 🐛 Bug

Hi, I found a bug while feeding big batch size to my model. The code works fine if I remove `bn.eval()`.
I have checked similar issues, none seems to solve the problem

`RuntimeError: CUDNN_STATUS_NOT_SUPPORTED. This error may appear if you passed in a non-contiguous input.`

## To Reproduce
My minimum code for reproducing this bug:

(```)
import torch
import torch.nn as nn

torch.backen

[2019-04-29 11:27] andriusstank opened #19912 "Grouped convolution produces wrong results on CPU"
## 🐛 Bug
Grouped convolution with 4 input channels, 16 output channels and 2 groups yields wrong result. Interestingly, many other combinations of number of input and output channels work fine.

## To Reproduce
Here's simple 2d 1x1 convolution. One element of input is 1.0, while the rest are zeros. Weight tensor is all ones. However, result on CPU is all zeros.

[code]
I get the following output:

[2019-04-29 13:11] dianyancao commented on #19902
Finally,I find the problem.
At training time, pytorch batchnorm use biased batch var to normalize input, but running var is updated by unbiased batch var.So after model convergence and switch to eval model,the running var gives unbiased prediction, but this is inconsistency with train mode with biased prediction.
Change the torch.var unbiased option to True or False for seeing the result.
[code]

[2019-04-29 13:33] Meteorix opened #19913 "Is CudnnRNN thread-safe?"
## 🐛 Bug

When I use a multi-threaded server to run rnn, it will segment fault. So I dig into it with gdb and find it crashes in ```torch/nn/modles/rnn.py```. I am new to PyTorch and cuda programming. Is it a bug in PyTorch? Or is it meant to be not thread-safe?

## To Reproduce

Steps to reproduce the behavior:

1. define an rnn like this
[code]
2. run rnn in a multi-threaded server
[code]
3. it

[2019-04-29 13:47] dianyancao commented on #19902
[https://github.com/pytorch/pytorch/issues/3122](url)
[https://github.com/pytorch/pytorch/issues/4741](url)

[2019-04-29 13:48] dianyancao commented on #19902
The cudnn version has the same problem.

[2019-04-29 13:56] VinACE commented on #16542
The cpu method did not fix Iam trying  lengths =  torch.as_tensor(lengths, dtype=torch.int64)

[2019-04-29 14:16] SsnL commented on #19902
yeah, that's just how bn works. in training time it tricks the gradients to believe that it is working on full population stats.

[2019-04-29 14:16] #19902 closed

[2019-04-29 14:49] pedromorais17 commented on #19801
Thank you all. @xsacha: How can I get the debug prebuilt files? For Release it works, but I'm missing the debug options.

[2019-04-29 14:54] peterjc123 commented on #19801
https://pytorch.org/ Select Nightly, Windows, LibTorch, C++ and your CUDA version and then you can see the link to the debug version of LibTorch.

[2019-04-29 14:57] xsacha commented on #19801
I have found that you can just paste the DLLs and PDBs in to your release folder to debug crashes.
That is, you do not actually need to build it again.

[2019-04-29 15:13] pedromorais17 commented on #19801
Looking to https://pytorch.org/tutorials/advanced/cpp_export.html, it is mentioned that: "On Windows, debug and release builds are not ABI-compatible. If you plan to build your project in debug mode, we recommend building PyTorch from source.".

I download the file from https://pytorch.org (as suggested by @peterjc123) and I'm not seeing any .pdb file. I think that these files were compiled only f

[2019-04-29 15:17] SsnL commented on #19912
Works for me on a master build. Likely fixed somewhere between 1.0.1 and master.

[2019-04-29 15:21] peterjc123 commented on #19801
@pedromorais17  They are under the `lib` directory.

[2019-04-29 15:27] pedromorais17 commented on #19801
![pytorch](https://user-images.githubusercontent.com/44382268/56907152-95f75400-6a9b-11e9-85bf-913c24301fff.PNG)

@peterjc123 Please see my lib directory. No .pdf files.

Thank you in advance.

[2019-04-29 15:32] dianyancao opened #19916 "[Bug]BatchNormalization - normalization var and running var are not compatible"
## 🐛 Bug

[19920](https://github.com/pytorch/pytorch/issues/19902)
I think this problem 19920 is a bug, because in practice,when the batchnorm use small batchsize and small spatio size, the output will vary large between train model and eval model.
So we don't need to fix this?

[2019-04-29 15:35] SsnL commented on #19916
No it's not a bug. That behavior of BN is exactly what the original paper describes, and is consistent with all the ML framework out there.

Furthermore, the Bessel's correction is what makes training and eval behavior more similar, rather than more different, as in training you are pretending working on all data to get more proper gradient, and when accumulating running stats you are indeed worki

[2019-04-29 15:37] dianyancao commented on #19916
But if I test batchnorm with small batchsize and small spatio size,the predict result is wrong.
Follow practice not paper.

[2019-04-29 15:39] SsnL commented on #19916
What do you mean that it is wrong?

And batch size in testing doesn't matter.

I also mentioned the common practice....

[2019-04-29 15:39] dianyancao commented on #19916
It harms regression task more than classification task.

[2019-04-29 15:40] dianyancao commented on #19916
if I test batchnorm with few sample, small batchsize and small spatio size,the predict result is wrong

[2019-04-29 15:41] SsnL commented on #19916
I was just asking about what about it is wrong....

[2019-04-29 15:42] dianyancao commented on #19916
Use the following code,reproduce unconsistence result.
[code]

[2019-04-29 15:43] SsnL commented on #19916
yeah, because you did not implement BN, but just a variant of it.

[2019-04-29 15:44] SsnL commented on #19916
I thought you figured out that BN normalizes using batch variance in training, and use population variance estimation in testing, no?

[2019-04-29 15:46] dianyancao commented on #19916
Yes, then it will cause problem.
The above code,assert error message:
[code]

[2019-04-29 15:48] SsnL commented on #19916
I know. They are different because they have different arithmetics. You can't expect two different formulas to give same results.

[2019-04-29 15:54] soumith commented on #19912
it will be part of the 1.1 release tomorrow.

[2019-04-29 15:54] #19912 closed

[2019-04-29 15:55] dianyancao commented on #19916
I set batchnorm momentum to 1.0,then test batchnorm with eval and then train mode.
The model output is not close.So when use it in regression task,it will harm performance.
test output:
[code]
test code:
[code]

[2019-04-29 15:55] dianyancao commented on #19916
the final test only test pytorch batchnorm

[2019-04-29 15:56] peterjc123 commented on #19801
Is this the precompiled binary for release? The release one doesn't contain debug symbols, only the debug one includes them.

[2019-04-29 15:56] xsacha commented on #19801
They were there when I downloaded the prebuilt libtorch Debug version.

[2019-04-29 16:14] dianyancao commented on #19916
BatchNorm some how like parameter reinitialization and refinement.
So near model convergence, one can use model.eval() continue for training with some epoch.
This time the problem comes, but if use popular variance also in training mode,there is no large error.

[2019-04-29 16:14] soumith commented on #19906
please use https://discuss.pytorch.org for questions

[2019-04-29 16:14] #19906 closed

[2019-04-29 16:19] pedromorais17 commented on #19801
Looking to the pytorch web page, they mentioned that: "On Windows, debug and release builds are not ABI-compatible. If you plan to build your project in debug mode, we recommend building PyTorch from source."

I'm trying to compile it from the source but I'm having several errors while during the cmake.

Have you tried to compile it from the source?

[2019-04-29 16:44] apaszke commented on #9410
Another argument to against this extension of unsqueeze is that it is not clear if the indices are equivalent to a sequence of unsqueeze calls, or do they use the original dimensions of that tensor.

[2019-04-29 16:46] apaszke commented on #7172
Honestly if your method breaks just because of this, then I could be wary of it. As mentioned before, this function is simply non-differentiable at `0`, so you might want to try a smoother alternative.

[2019-04-29 16:54] rgommers commented on #19241
PR was merged, this issue can be closed

[2019-04-29 16:57] fmassa commented on #19916
Batch Norm is known to give bad results during training in the small batch regime, see https://arxiv.org/abs/1607.06450 and https://arxiv.org/abs/1803.08494

GIven that this is a known aspect of `BatchNorm`, and not a bug in PyTorch, I'm closing this issue.

[2019-04-29 16:57] #19916 closed

[2019-04-29 17:01] fmassa commented on #19827
Can you provide a minimal example that enables us to reproduce the problem? The snippet that you shared doesn't contain enough information for us to investigate.

[2019-04-29 17:04] fmassa commented on #19907
It seems that you only trained for an epoch, and training has finished running on this single epoch.

Also, we use GitHub issues for tracking bugs and feature requests, questions are better suited for the forums https://discuss.pytorch.org/

[2019-04-29 17:04] #19907 closed

[2019-04-29 17:10] #19241 closed

[2019-04-29 17:11] fmassa commented on #19829
As @SsnL pointed out, having a single `torch.device` is the recommended way, and having device-agnostic code is very straightforward.

[2019-04-29 17:11] #19829 closed

[2019-04-29 17:13] soumith commented on #19829
The reason we dont want to do a "global" mode is because it has side-effects on the user's mental model. GPU memory isn't free, but people do construct Tensors often as if they are from a free memory pool, which is what CPU memory feels like.
A single `torch.device` that if you want, you can set as a global and reference in your code internals -- is the way to go.

[2019-04-29 17:16] cpuhrsch commented on #19838
Hello @carry-xz, could I ask you for a script to reproduce this behavior? What environment are you working within (OS, PyTorch version etc.)? When opening an issue you should see the option to open up a bug report, which will have a list of all the information we typically need.

[2019-04-29 17:17] houseroad commented on #19598
@GuanLianzheng sorry, I am not a TensorRT expert. Seems PyTorch ONNX exporter work without problem. Probably you can reach out to Nvidia/TensorRT folks, they should be able to help.

[2019-04-29 17:18] fmassa commented on #19911
This error doesn't happen if we don't use `cudnn`.
A quick fix is to add one extra entry in https://github.com/pytorch/pytorch/blob/39b885cbbfc8c115069d49f5a6d27ea622bd05dc/aten/src/ATen/native/Normalization.cpp#L368 to avoid cudnn in this situation.

Also pinging @ngimel for awareness

[2019-04-29 17:19] Queuecumber commented on #19827
Sorry I meant to update this yesterday. I was getting hit with

https://github.com/pytorch/pytorch/issues/15054#

along with lazy evaluation, e.g. the tensor was not evaluated until it was needed (the indexing operation in my example) and at that point cudnn was screwing up. So this isnt a new issue.

[2019-04-29 17:19] #19827 closed

[2019-04-29 17:25] fmassa commented on #19838
@carry-xz this is expected, see the implementation of `CTCLoss` in https://github.com/pytorch/pytorch/blob/39b885cbbfc8c115069d49f5a6d27ea622bd05dc/aten/src/ATen/native/LossCTC.cpp#L366-L371

From [the documentation](https://pytorch.org/docs/stable/nn.html#torch.nn.CTCLoss)

[2019-04-29 17:25] #19838 closed

[2019-04-29 17:47] SibtainRazaJamali opened #19920 "CTC Decoder with KenLM Language Model"
where is the implementation of ctc_decoder_with_kenlm in pytorch? I have found some 3rd party implementation but they are no longer supported by pytorch now?

[2019-04-29 17:49] xsacha commented on #19801
If building from source, use -DCMAKE_BUILD_TYPE=Debug

[2019-04-29 17:56] soumith commented on #19920
we dont have such a thing in pytorch core

[2019-04-29 17:56] #19920 closed

[2019-04-29 18:08] VitalyFedyunin commented on #19825
Trying to reproduce and find related change now.

[2019-04-29 19:05] SerailHydra opened #19925 "ProcessGroupNCCL.cpp:260, unhandled cuda error, when using 2 nodes with 4 GPUs each"
## 🐛 Bug

I managed to run distributed training using 2 nodes and 2 GPUs each, but failed with NCCL error when using 4 GPUs on the 2 nodes. The error occurs when fist calling dist.broadcast.

## To Reproduce

Here is the codebase:
https://github.com/mlperf/training/tree/master/rnn_translator/pytorch

I changed a few places for my script on multi-machine multi-gpu settings work. Here is the init_pr

[2019-04-29 19:07] VitalyFedyunin commented on #19825
cc @ilia-cher

[2019-04-29 19:46] VitalyFedyunin commented on #19825
I cannot reproduce the issue, can you please tell which builds exactly you are comparing?

[2019-04-29 19:54] Yao-Yuan commented on #19911
Hi, thank you for help. I have looked a bit into this, and have some concern about performance for large batch size if do not use cudnn but the native one/thnn.

Also, I want to point out the batch size limit (magic number 131070) seems to disappear with newer cudnn. I will later go to corresponding issue .

[2019-04-29 20:41] dtmoodie commented on #19374
I can confirm that my model exports with pytorch 1.0.1 but not with the nightly.

[2019-04-29 20:50] ngimel commented on #19911
cc @t-vi for native th/aten performance.
It's true that this limit was removed in the latest cudnn versions, however, performance for large batch size can also be not great, I did not benchmark it.

[2019-04-29 21:18] pietern commented on #19791
This is indeed fixed in the latest nightlies. You'll get a different error message that encourages you to pass `find_unused_parameters=True` to the `DistributedDataParallel` constructor. This will find any unused parameters and deal with reducing them across processes. If these parameters are defined in error and *never* used, you should either set `requires_grad` to `False` like you already do, o

[2019-04-29 21:18] #19791 closed

[2019-04-29 21:22] mruberry commented on #16831
We are testing a fix that we expect will ship in a future version of cuDNN. Unfortunately I cannot be more specific than that at the moment.

[2019-04-29 21:28] hartb opened #19930 "caffe2/resnet50 assert in fetch_blob() when base_learning_rate = 0"
## 🐛 Bug

The MultiPrecisionSgdOptimizer used by the resnet50_trainer.py Caffe2 example avoids setting up a learning rate blob (doesn't call build_lr()) if the base_learning_rate is 0:

From `caffe2/python/optimizer.py`:

[code]

But the resnet50_trainer.py example code tries to fetch the learning rate blob without regard for whether `base_learning_rate` was non-zero.

From `caffe2/examples/resnet

[2019-04-29 21:30] pietern commented on #19840
I think #19901 addresses this. The underlying problem was interaction between `find_unused_parameters` and outputs that don't accumulate into the module's parameters. While verbose, the error message incorrectly instructed you to set `find_unused_parameters=True`. If you update to the latest nightly or master and try again, while removing the `find_unused_parameters` argument, it should work as ex

[2019-04-29 21:59] t-vi commented on #19911
For me, the working example with cudnn is 5% faster than native (215µs vs. 225µs). @Yao-Yuan what setup is your performance concern with?
[code]
I don't do fp16 / other V100 etc. performance as I don't have hardware to benchmark that with.

[2019-04-29 22:18] daiwei89 opened #19935 "[jit] Onnx weight names do not match graph inputs in "Diamond of Death""
## 🐛 Bug

A weight parameter referenced twice causes wrong ONNX weight exports.

## To Reproduce

Run the following (notice that `model3` is both a member of `model2` and `model`, and `model2` is a member of `model`):

[code]

Gets the following outputs. Notice that input `%1 : Float(2, 5)` has a different shape than the weight initializer `1` with shape `(2, 6)` in the onnx file.

[code]

## Expe

[2019-04-29 22:25] labor00 commented on #19825
Hello @VitalyFedyunin.
I have built the pytorch (commit a25b79531) with these settings (`BUILD_TORCH=ON python setup.py bdist_wheel`). After the installation I have tried to run the mnist example (https://github.com/pytorch/examples/tree/master/mnist). Where I have changed the `num_workers` parameters, as in the following diff:
[code]
Running this (modified) script I got the following timings:

[c

[2019-04-29 22:29] ilia-cher commented on #19764
Yes, it is important to use the same openmp runtime library. At the moment, afaik we specifically link MKL with compiler's runtime, so, when it comes to building PyTorch, both MKL and cases of explicit usage of OpenMP (through pragma's) should use the same runtime library.

[2019-04-29 22:46] SsnL commented on #19764
@ilia-cher Yes, we do specifically link MKL. However, in the above code section I linked (which I wrote), we also tries to link an omp if the there isn't a MKL lib with name `*omp`. We can't just not run `FindOpenMP` because it is not guaranteed that we link with MKL. So the section should be changed to trying linking against all mkl libs.

[2019-04-29 23:01] DavidHarrison opened #19940 "Inline comment definition of `geometric` differs from documentation."
PyTorch 1.0.1 documentation for `geometric` defines it as [*f(X = k) = (1 - p)^(k - 1)p*](https://pytorch.org/docs/stable/tensors.html#torch.Tensor.geometric_) whereas the inline comment in the code defines it as [*p(i) = (1 - p)p^(i - 1)*](https://github.com/pytorch/pytorch/blob/83221655a8237ca80f9673dad06a98d34c43e546/aten/src/TH/THRandom.h#L74).

[2019-04-29 23:17] ilia-cher commented on #19764
I see, and by 'linking against all mkl libs' - you mean cases when there isn't an MKL lib with `omp` in the name? Is it `libmkl_rt` or smth else? And feel free to send a PR, we'll gladly review)

[2019-04-29 23:28] mikehcheng commented on #19263
I work with @b0noI, the image is working as intended, but the user is likely noticing the behavior where nvidia-smi shows the driver version instead of the CUDA version. See https://stackoverflow.com/questions/53422407/different-cuda-versions-shown-by-nvcc-and-nvidia-smi for a more detailed explanation.

That being said, for PyTorch we recommend selecting the framework "PyTorch 1.0 + fast.ai 1.0 (

[2019-04-30 00:04] borisfom commented on #19374
@houseroad : Any ETA in mind ?

[2019-04-30 00:24] labor00 commented on #19825
I have reinstalled the pytorch (clean repository and installation directory) with the current branch (a5b8a7d44b). The results are similar to the ones that I have posted above.

[2019-04-30 00:49] mingfeima commented on #19797
@bddppq what is the workaround at the moment? Adding `to_dense()` before adaptive_avg_pool2d and `to _mkldnn()` after?

[2019-04-30 02:00] SsnL commented on #19764
Yep, exactly. I can't remember what was the mkl lib that tried to link omp (probably the `_threads` one?).

[2019-04-30 02:16] lmxhappy opened #19943 "random module conflict"
[code]
in tempfile.py when importing random it is to find the random module of torch instead of the sys random module

[2019-04-30 02:29] zegzag opened #19944 "DataLoader for Large Corpus file"
## 🚀 Feature

## Motivation

## Alternatives

## Additional context

[2019-04-30 02:30] #19944 closed

[2019-04-30 02:34] SixerWang commented on #19453
@yf225 @gchanan Would you mind having a look at the issue when you are free? It is a little urgent for me, thanks a lot.

[2019-04-30 02:41] rjknight commented on #18524
I'm seeing this issue as well,  downgrading to 3.9.4 works due to this bit of code in third_party/onnx-tensorrt/CMakeLists.txt

[code]
seems like things go bad  when we go through the else leg and enable the CUDA language, as a test I changed CMAKE_VERSION_THRESHOLD to 3.15.0 and was able to compile fine with cmake version 3.14 so I agree, it doesn't seem to be a cmake issue, my guess is probably

[2019-04-30 02:44] zegzag opened #19946 "DataLoader for Large Corpus File"
## 🚀 Feature
&emsp; DataLoader for large corpus file, supporting multi-process and multi-thread and memory optimization

## Motivation
&emsp; Thanks a lot for your pytorch framework, I've benefited a lot in work by using it. But I also got some little confusions with regard to data loading and processing.
&emsp; In NLP cases, suppose I have a very large corpus file with labeled data "corpus.csv",

[2019-04-30 02:56] soumith commented on #19943
this is because you are running it from `/Users/didi/anaconda3/lib/python3.7/site-packages/torch/` or `/Users/didi/anaconda3/lib/python3.7/site-packages/torch/` is in your PYTHONPATH

[2019-04-30 02:56] #19943 closed

[2019-04-30 04:20] tsauri commented on #18521
Any updates on this missing non 2D pad operator?

For now I reimplemented STFT with Conv1D, and use zero padding with param padding=(some_value) inside with nn.functional.conv1d params

[2019-04-30 04:31] XiaXuehai commented on #19909
Solved by installing pytorch nightly

[2019-04-30 04:31] #19909 closed

[2019-04-30 04:34] SsnL opened #19947 "[bug] Conv shape check prints overflowed ints"
## 🐛 Bug
[code]

[2019-04-30 04:36] SsnL commented on #19946
This is definitely a valid feature request. In fact, I implemented something called `IterableDataset` that will be used as an iterable (e.g., generator, data stream) in PyTorch. It is currently being reviewed at #19228 .

[2019-04-30 04:38] SsnL commented on #19947
caused by
https://github.com/pytorch/pytorch/blob/8e7750679920e406f77769324d249481db689370/aten/src/ATen/native/Convolution.cpp#L195-L206

[2019-04-30 04:42] grantsrb commented on #8930
Low chance this applies to your situation, but I got this error when I used a parameter with `requires_grad` set to `True` as the `running_mean` in the `nn.functional.batch_norm` function. Hopefully this helps someone else who finds themselves in the same situation.

[2019-04-30 05:28] daiwei89 opened #19948 "[jit] Slice assignment is completely elided in Onnx graph"
## 🐛 Bug

Assignments like `a[:2] = x` is elided in ONNX graph.

## To Reproduce

Runs this code:

[code]

Observe in the output below that `2*x` is elided in Onnx graph.

[code]

## Environment

Collecting environment information...
PyTorch version: 1.0.1.post2
Is debug build: No
CUDA used to build PyTorch: None

OS: Mac OSX 10.14.5
GCC version: Could not collect
CMake version: version 3.12.2

Py

[2019-04-30 05:46] bddppq commented on #19797
@mingfeima Either do what you said, or change to use AvgPool2d. But I should be able to get #19818 into master soon (waiting for review).

[2019-04-30 07:57] MuruganR96 opened #19951 "Tacotron pytorch model to ONNX not exporting ?"
## RuntimeError: Expected object of backend CPU but got backend CUDA for argument #3 'index'
## RuntimeError: cuDNN error: CUDNN_STATUS_EXECUTION_FAILED
## RuntimeError: $ Torch: not enough memory: you tried to allocate 2442GB. Buy new RAM! at /pytorch/aten/src/TH/THGeneral.cpp:201
i try to export pytorch tacotron pretrained model to onnx model. it is throwing this **three kind of issues.**

## To

[2019-04-30 08:27] zxhr2793 opened #19953 "Performance difference between 0.4.1 and 1.1.0"
## ❓ Questions and Help

The avearge runtime of my model under the environment of PyTorch 0.4.1.post2 is about 16ms, while changing to PyTorch 1.1.0.dev20190411, the time is increased to 20ms.

runtime in 0.4.1
![QQ截图20190430161427](https://user-images.githubusercontent.com/11815604/56949065-8132c300-6b64-11e9-960a-84f207c98bda.png)

runtime in 1.1.0
![QQ截图20190430161534](https://user-images.githu

[2019-04-30 09:05] weihua04 opened #19954 "Export AdaptivePool2d[3,3] to ONNX.symbolic with error "Only output_size=[1, 1] is supported""
i'd like to export the pytorch model to onnx,
i have a AdaptiveAvgPool2 but isn't output_size=[1, 1]
"        self.avgpool = nn.AdaptiveAvgPool2d((3, 3))".

how to export the pytorch model to onnx?
does anyone has any good idea?

[2019-04-30 09:55] rightx2 opened #19957 "New Sampler class suggestion, a.k.a `SequentialIndicesSampler`"
## 🚀 Feature

Sequential sampler based on **indices**, not on data

## Motivation
It might be really helpful to have samplers that sample data based on **indexes without randomness** (In short, no-randomness version of `SubsetRandomSampler`), so that it make it possible to generate `Dataloader` for train, valid and test dataset like below:
[code]
(`len(train_indexes_list) : len(valid_indexes_list)

[2019-04-30 10:10] dnlcrl opened #19958 "torch._C._demangle("t") needs to return `t` instead of `unsigned short`"
## 🐛 Bug

I asked in PT's Slack about why the PyTorch profiler returns an `unsigned short` op when performing `torch.t(tensor)`, @t-vi guesses `torch._C._demangle("t")` needs to return `t` instead of `unsigned short`and asked me to open this issue.

Thank you

## To Reproduce

[code]

which outputs:

But when directly using `torch.transpose(tensor, 0, 1)` the profiler doesn’t show any `unsigned sh

[2019-04-30 10:18] apaszke commented on #19422
We already have `torch.autograd.profiler.range`. It's just not very well documented.
[code]

[2019-04-30 10:51] databatman commented on #7068
Hi,everyone, I finally find someway to reporduce result !
everytime you run torch code, you should always run seed determined func as follow:

`
def seed_torch(seed=1029):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)
    torch.manual_seed(seed)
    torch.cuda.manual_seed(seed)
    torch.cuda.manual_seed_all(seed)  # if you are using multi-GPU.
    tor

[2019-04-30 11:00] t-vi commented on #19958
To be more precise, I think it's one of the two `demangle`s in [`torch.autograd/profiler.py`](https://github.com/pytorch/pytorch/blob/master/torch/autograd/profiler.py) doing it. Finding out which one and special casing single letter function names would be easy, but might not be high quality enough for inclusion into PyTorch. A cleaner solution might be to indicate that we're passing a function n

[2019-04-30 11:13] apaszke commented on #19408
While this is true, the ideal state we should be in is that it would no longer be the case 😄 This is a very valid concern. Having larger tensor structs is bad even in the case of e.g. CUDA arrays simply because of the increased cache pressure. We should squeeze out all the perf we can to support small array use-cases too, as they are very common as well.

[2019-04-30 11:15] apaszke commented on #19260
Honestly I think it's `nn.Sequential` semantics which we should keep. It's way more common and it makes sense to pass the inputs that way when you compose the functions sequentially.

[2019-04-30 11:21] ezyang opened #19960 "On first construction, CUDAContext changes default CPU allocator behavior"
The first time you construct a CUDAContext, the CPU memory allocator will be changed into one that allocates CUDA pinned memory, reporting that this occurred at level `VLOG(1)`. This is not documented anywhere end-users are likely to see, and is a silent performance hazard for anyone doing Caffe2-PyTorch interop, as it will *also* silently change the behavior of all PyTorch allocation functions to

[2019-04-30 11:26] Yao-Yuan commented on #19911
I runned your code snippet, it is 0.15s with cudnn enabled and 480us without cudnn (enabled=False). I am a bit confused Is it what to expect? Sorry, I am still new to these.

As of performance, 5% would not be a concern for me.

[2019-04-30 11:39] apaszke commented on #19958
Or we could special-case `t` 😄 Those conflicts will probably be rare, and adding a flag which says that a name might be mangled or not might complicate things too much. But it's still worth trying to see if there's a simple solution.

[2019-04-30 11:41] ShijianXu commented on #15797
Hi, still have a problem.

I used the solution you provided and when run: `torch.version.cuda`, it will show `10.0.130`. However, if I continue to install torchvision via `pip3 install torchvision`, it will show this:

https://files.pythonhosted.org/packages/fb/01/03fd7e503c16b3dc262483e5555ad40974ab5da8b9879e164b56c1f4ef6f/torchvision-0.2.2.post3-py2.py3-none-any.whl
Collecting six (from torchvis

[2019-04-30 11:53] t-vi commented on #19911
What's your environment (Hardware, CUDA version, PyTorch build?) In particular, do you have a debug build by chance? In these, native (`cudnn.enabled=False`) will be much slower than cudnn, as one is with debug and one is without.

[2019-04-30 12:15] t-vi commented on #19958
I meant that demangle should know whether it demangles an entire function name or just the substring corresponding to a single type (function `t` vs the `t` in `_Z1ft`) so that in the former case it can can skip demangling if the function name doesn't start with `_Z` or `?` (the latter to cover MSVC). Or we could skip the demangling for those cases in `autograd/profiler.py`.

[2019-04-30 12:31] RizhaoCai commented on #15797
Could you try to avoid using torchvision and keep torch.version.cuda->10.0.130. Then run the code to see if it is the problem brought by the torchvision.

Or you can try to install torchvision from source (https://github.com/pytorch/vision) to keep torch from being reinstalled.

[2019-04-30 12:38] apaszke commented on #19958
Isn't the `_Z` prefix compiler specific? Or is there an option for c++filt which makes it work with function names only?

[2019-04-30 12:39] bothmena commented on #19899
Hi, Have you considered the option of installing torch via docker instead?

I always had trouble installing both PyTorch and TensorFlow, but since I started using Docker I no longer have any install related problems.

[2019-04-30 12:41] t-vi commented on #19958
Most of the compilers we care about seem part of `_Z`, but MSVC is different:
https://en.wikipedia.org/wiki/Name_mangling#How_different_compilers_mangle_the_same_functions

[2019-04-30 12:54] Yao-Yuan commented on #19911
I am using a linux server. The confusing part is that native (480us) is faster than with cudnn enabled (0.15s = 150000us)

The environment is as follows:
PyTorch version: 1.0.1.post2
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: openSUSE Leap 42.3
GCC version: (SUSE Linux) 4.8.5
CMake version: version 3.13.3

Python version: 3.6
Is CUDA available: Yes
CUDA runtime version: Could not

[2019-04-30 13:52] lcswillems commented on #13918
Are you awaiting an answer of me?

[2019-04-30 14:03] xmnlab commented on #16955
not sure if it can be helpful, but you maybe can try to install cudatoolkit-dev:

`conda install -c conda-forge cudatoolkit-dev`

it is just a `helper` it has a post-script that will download locally cudatoolkit from nvidia and install it on conda environment

[2019-04-30 14:33] truh commented on #16805
[code]

solved this problem for me.

[2019-04-30 14:44] SdgJlbl opened #19961 "torch.nn.LogSoftmax.__repr__() does not include dim argument"
## 🐛 Bug

The `__repr__` of the class torch.nn.LogSoftmax does not contain the value of the dim argument, even if the implicit dimension choice for softmax has been deprecated.

## To Reproduce

Steps to reproduce the behavior:
[code]
Output
[code]
Expected
[code]

## Expected behavior

I would have expected the same behaviour as from classes such as torch.nn.Conv2d or torch.nn.MaxPool2d.

## Envi

[2019-04-30 15:03] SdgJlbl commented on #19961
I'm happy to submit a PR if that helps :)

[2019-04-30 15:32] apaszke commented on #19961
Please do!

[2019-04-30 15:46] sublee commented on #19260
@apaszke Thank you for your opinion. I also agree with you. Both approaches work well but `nn.Sequential`'s approach is simpler and more straightforward.

If so, shouldn't we revert the `tuple` specialization of `checkpoint_sequential`?

[2019-04-30 16:07] gchanan commented on #19685
removed `high priority` because I think the JIT issue is real, but the specific overload issue doesn't seem serious, as pointed out by @colesbury.

The "frontend" schema unification part is complete in that all function signatures in native match their corresponding signature in JIT.  The backends are still super complicated, because they do things like splatting / reverse splatting TensorOptions

[2019-04-30 16:36] VitalyFedyunin commented on #19685
I'm on hold with the TensorOptions while @smessmer working on the codegen unification, As it might introduce more complexity into the code base.

[2019-04-30 17:34] fritzo commented on #18434
So what is the recommended alternative to `Tensor.new_empty()`?

[2019-04-30 17:42] jbohnslav commented on #17572
I fixed this with a `conda install ninja`. Not sure why that dependency doesn't seem to be in the README.

[2019-04-30 18:17] #19642 closed

[2019-04-30 18:20] spandantiwari commented on #16908
I have investigated the particular issue of large integer value (18446744073709551615) as input to `Unsqueeze`. The large integer shows up not only in the context of `Unsqueeze` or `Reshape`, but anytime there a negative value stored in an `onnx::Constant` of tensor type `int64`. However, this particular scenario is not a bug in PyTorch ONNX exporter, but seems to be an issue in the ONNX graph vis

[2019-04-30 18:25] drnikolaev commented on #16908
@spandantiwari yes, that was Netron, thank you for the update, verifying...

[2019-04-30 18:35] sflc6 opened #19969 "libtorch Segmentation Fault: RHEL 7 - easy to reproduce"
## 🐛 Bug

tl; dr; I traced a (non-pretrained) resnet18 model in python and saved this to a .pt. I successfully loaded this .pt in a C++ program. Model inference seems to work. When the C++ program exits, I encounter a segmentation fault.

## To Reproduce

Here are code snippets to minimally reproduce the issue:

(1) First, generate the model by running the following python script. If successful, y

[2019-04-30 18:41] Queuecumber opened #19970 "Scatter CUDA Out Of Memory"
## 🐛 Bug

DataParallel scatter is hitting a CUDA OOM error for reasons I can't figure out.

I am trying to reload a checkpoint from a model which was training without memory issues earlier. Same batch size, same model, same machine. GPUs are 4x Quadro P6000 with 24GB of memory each. Here is the error:

[code]

So it looks like it's the scatter that's failing, the model loads fine, dataparallel get

[2019-04-30 18:43] jbohnslav commented on #19184
I had this exact same issue with python 3.6. I didn't have time to track down the cause, so I just made a new Anaconda environment. I upgraded to python 3.7 with  `conda install -c anaconda python=3.7`. Then I ran `conda install numpy pyyaml mkl mkl-include setuptools cmake cffi typing`, and `conda update --all`.
Then installed only torch with `python setup.py install`. It resolved by issue.

[2019-04-30 18:51] ilia-cher commented on #19825
You've modified number of workers from 1 to 8, so I assume you use 8 parallel threads, each of them calls a BLAS function (or explicitly uses OpenMP parallelization). OpenMP creates a new thread pool for each newly created thread, so essentially this resulted in 8 times more OpenMP threads created. You might see this drop in performance because of this, that would also explain why setting OMP_NUM_

[2019-04-30 19:30] ilia-cher commented on #19764
I think I'm still not sure I understand.
So, in the `FindOpenMP.cmake` fragment mentioned above, we call `FindMKL.cmake` and then if `MKL_FOUND` and `MKL_OPENMP_LIBRARY` is not empty, then we use `MKL_OPENMP_LIBRARY` as an OpenMP library, makes sense. Otherwise we try to find OpenMP library with `find_library(OpenMP_libomp_LIBRARY NAMES omp gomp iomp5 ... )`

What are the cases when we have MKL bu

[2019-04-30 20:06] lxiaorui opened #19972 "module 'torch.distributed' has no attribute '_compute_bucket_assignment_by_size'"
## ❓ Questions and Help

I am trying to use the DistributedDataParallel class for distributed training. I tried to run the code from here:
**https://github.com/pytorch/examples/blob/master/imagenet/main.py**
by the command:
**python main.py '/mnt/home/Data/' --dataset MNIST  --epoch 5 --multiprocessing-distributed --dist-url 'tcp://127.0.0.1:23456' --world-size 1 --rank 0**
which supposed to use a

[2019-04-30 20:12] ngimel commented on #19953
Do you have a standalone script demonstrating performance regression? Also, comparing results of pytorch profiler for 0.4 and 1.1.0 might be interesting https://pytorch.org/docs/stable/autograd.html?highlight=profiler#profiler.

[2019-04-30 20:38] suo commented on #19948
@houseroad, can you take a look at this?

[2019-04-30 20:49] deepakn94 commented on #18300
This is the output with `NCCL_DEBUG=INFO` (and then it hangs),

[code]

Without `--use_helper_threads`, it doesn't hang and the output looks like this,
[code]

[2019-04-30 21:33] Queuecumber commented on #19970
I have a feeling this is not scatter that is failing it's just where the exception looks like it's coming from.

Now the kind of weird thing is that with a batch size of 32, each GPU should get 8 images (32 / 4 = 8), so, with that in mind, if I set

CUDA_VISIBLE_DEVICES=0 and batch size 8, no problem
CUDA_VISIBLE_DEVICES=0,1 and batch size 16 no problem
CUDA_VISIBLE_DEVICES=0,1,2 and batch size 24

[2019-04-30 21:50] houseroad commented on #19366
Close it, since the fix is merged.

[2019-04-30 21:50] #19366 closed

[2019-04-30 22:02] #19797 closed

[2019-04-30 22:15] houseroad commented on #19948
Please don't ignore the following warning:
[code]
We have checked the jit graph before converting to onnx graph:

[code]

I think the reason is that you did in-place update, and tracer didn't trace it correctly. The root cause is in tracer :-)

[2019-04-30 22:17] nhiem2000 opened #19978 "[JIT] traced model with optimization shows no performance improvement"
## 🐛 Bug

Using torch.jit.trace with optimize=True shows no performance difference with optimize=False
The test model I used is resnet from torchvision.  I modified it to run only the features extraction (no ave pooling and fc for classification).

Inference test.py python script:
[code]
Modified  resnet.py from torchvision
[code]

## To Reproduce

Steps to reproduce the behavior:

Run test.py wit

[2019-04-30 22:26] houseroad commented on #19935
I cannot reproduce the problem with the master.

Here is what I have got:

[code]

[2019-04-30 22:42] daiwei89 commented on #19935
It seems to be fixed in the nightly.  Thanks for checking!

[2019-04-30 22:42] #19935 closed

[2019-04-30 22:45] fritzo commented on #11412
This is simple to implement via `TransformedDistribution`
[code]
Thus it seems to me it's not worth adding this to torch.distributions.

[2019-04-30 22:45] #11412 closed

[2019-04-30 22:47] #5227 closed

[2019-04-30 22:53] fritzo commented on #17842
A backwards-compatible change would require each `sample` and `rsample` implementation to update with a bit more code. This seems like a lot of work.
[code]

[2019-04-30 23:29] Stonesjtu commented on #19961
@SdgJlbl  reminder that you can override `extra_repr` instead of  `__repr__`.

[2019-05-01 00:09] Queuecumber commented on #19970
Just an addendum to the above tests, the only batch size that works for 4 devices is batch size **2** even batch size **3** causes a crash.

I also updated my pytorch to the latest version, which is 1.1.0 I think. The error message changed to

[code]
 e.g. it failed to allocate 1.10GB when there were 20.86GB free???

[2019-05-01 00:26] gchanan commented on #8930
I believe the problem is as @grantsrb described, if you disagree please reopen.

[2019-05-01 00:26] #8930 closed

[2019-05-01 00:42] gchanan commented on #19913
can you reproduce this on 1.1?  A number of thread-safe fixes have gone in since 0.4.1.  I'm going to close for now, please reopen if you can reproduce this on 1.1.

[2019-05-01 00:42] #19913 closed

[2019-05-01 00:43] gchanan commented on #19899
This doesn't appear to be a bug, or at a minimum, there is not nearly enough information.  Please ask on the forums.

[2019-05-01 00:43] #19899 closed

[2019-05-01 00:47] gchanan commented on #19951
This doesn't appear to be a bug; please use https://discuss.pytorch.org (https://discuss.pytorch.org/) for help. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-05-01 00:47] #19951 closed

[2019-05-01 00:57] trias702 commented on #17108
I just got this error for the first time today, after running PyTorch 1.0.1 (CUDA 10.0) on Windows 10 for months and months with no problems.

In my case, the error only started happening when I updated my Nvidia graphics driver to 430.53 from 417.35. Luckily, simply reverting to driver version 417.35 caused the error to go away and everything works fine again. I did not need to touch my CUDA or P

[2019-05-01 01:02] Queuecumber commented on #19970
Here's the relevant line that is causing the failure

https://github.com/pytorch/pytorch/blob/792cb774f152bab5b968f4ec51da0fc21ff9e895/aten/src/THC/THCGeneral.cpp#L159

when trying to enable peer memory access. The thing is, according to the docs at https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__PEER.html#group__CUDART__PEER_1g2b0adabf90db37e5cfddc92cbb2589f3 OOM isnt even an error t

[2019-05-01 01:28] Queuecumber commented on #19970
OK here's my best guess as to whats happening

Any time it tries to access that 4th GPU, it gets the OOM error. That would explain why 1,2,3 cuda devices work without a problem and it would explain why with four devices I can use a batch size up to 3. I bet that the way scatter works is that it just places each element sequentially on the GPUs, so for batch size three it would only use GPUs 0,1,2

[2019-05-01 02:17] abdelrahmanabdelnabi commented on #14260
I am facing a similar issue when using the Tesla T4 GPU on google colab. The error i get is different however.

The error is:

[code]

I tried installing the CUDA 10 version of pytorch by running the following but this didn't fix my issue.
[code]

[2019-05-01 02:34] soumith commented on #16733
this is now live, and ships sass code for 7.5 (if you use the CUDA10 builds)

[2019-05-01 02:34] #16733 closed

[2019-05-01 02:35] soumith commented on #16733
the commit that fixed it was https://github.com/pytorch/pytorch/pull/19392

[2019-05-01 02:35] soumith commented on #19070
has this been fixed?

[2019-05-01 02:52] soumith commented on #14260
@abdelrahmanabdelnabi can you try 1.1, i.e `pip install torch==1.1.0 -f https://download.pytorch.org/whl/cu100/stable` and see if it fixes the issue?

[2019-05-01 02:55] SsnL commented on #19978
In such a large and sequential vision model you probably can't get much from tracing, except for maybe fusing BN with conv in eval. But you are measuring in training.

[2019-05-01 03:21] xsacha commented on #19953
Do you turn off grad and run eval before testing?
There seems to be a higher penalty for this in 1.0.1+

[2019-05-01 03:24] soumith opened #19990 "[Bug] make non-default binaries track specific features via X.Y.Z+feature"
Right now, PyTorch's cu100 and cpu-only wheels have exactly the same filename as the default cu90 wheels.

Reading this thread https://github.com/pypa/pip/issues/4321#issuecomment-333774919 it is evident that we shouldn't have done this.

We need to fix:
- `download.pytorch.org/whl/cpu/torch-1.1.0-cp27-cp27m-linux_x86_64.whl` -> `download.pytorch.org/whl/cpu/torch-1.1.0+cpuonly-cp27-cp27m-linux_x8

[2019-05-01 03:32] soumith commented on #18311
this was fixed via https://github.com/pytorch/pytorch/pull/18994
It is part of 1.1 release.

[2019-05-01 03:32] #18311 closed

[2019-05-01 04:17] csinva opened #19991 "Strange default behavior for output shape"
If Y is one-dimensional, the Y vector must have shape (batch_size, 1) and not just shape (batch_size). If it does not have the 2nd dimension of size 1, the default behavior is very misleading.

A simple script reproducing this behavior is located [here](https://github.com/csinva/pytorch_dangerous_mistakes/blob/master/output_shape_err.ipynb).

[2019-05-01 04:21] ThisIsIsaac commented on #19335
@zou3519 @VitalyFedyunin
ping

[2019-05-01 04:48] SsnL opened #19995 "[JIT] tensor.new_* should not be legacy and deprecated"
These were created to match numpy and are quite handy to create tensors with the same device & dtype (especially considering that python does not have `.options()`). They are still relatively new (introduced in 0.4) and we are still advocating using them in docs. I don't know why they are not considered "legacy" just because that the current JIT does not support them.

relevant PR: https://github.

[2019-05-01 05:05] fritzo commented on #19995
I just spent half a day rewriting Pyro to avoid using these constructors. It would be great if my team could have stable recommendations for which constructors to use. cc @neerajprad

[2019-05-01 05:37] zxhr2793 commented on #19953
@ngimel  @xsacha Thanks for your kindly warning, since my gpus are busy on other task, I will try this solution later and inspect the bottleneck of runtime

[2019-05-01 06:06] suo commented on #19995
Seems like there's some confusion about whether we actually did deprecate these. We can make them work with the JIT if that's the desired behavior—can someone with more context weigh in on what we should do with the `new_*` constructors? @zdevito @apaszke @gchanan

[2019-05-01 06:15] SsnL commented on #19995
@suo The legacy tensor ctor, I am pretty sure, is `tensor.new(...)`, not the `tensor.new_*` family.

[2019-05-01 06:31] ispine commented on #19453
can i get CmakeLists.txt file's code?

[2019-05-01 07:13] moskomule opened #19996 "OMP: Warning #190 because of fork not waiting for parallel region to end"
## 🐛 Bug

After updating to v1.1.0, I get `OMP: Warning #190: Forking a process while a parallel region is active is potentially unsafe.` from DataLoader when `num_workers>1`. This was not the case when I used v1.0.1 and v1.0.0.

## To Reproduce

[code]

* len(test_loader.dataset) < len(train_loader.dataset)
* When `num_workers==1`, no warning.
* I also tested mnist and got the same warning.

## E

[2019-05-01 07:31] Jonas1312 commented on #17108
@trias702 can you try to install the new version? https://download.pytorch.org/whl/cu100/torch-1.1.0-cp36-cp36m-win_amd64.whl

[2019-05-01 07:38] levzlotnik opened #19998 "GNMT: no 'decoder.embedder' in model.named_module()"
## 🐛 Bug

Hi, I am trying to get a recursive dictionary of all submodules in GNMT using `dict(model.named_modules())`.
However I get a `KeyError` when trying `dict(model.named_modules())['decoder.embedder']`, even though `dict(model.decoder.named_modules()['embedder']` does exist.
## To Reproduce

Steps to reproduce the behavior:

1. Cloned the NVIDIA/DeepLearningExamples repository
`git clone htt

[2019-05-01 09:18] xiaodi68 commented on #17108
I got the similar issue with an error as "RuntimeError: cuda runtime error (30) : unknown error at ..\aten\src\THC\THCGeneral.cpp:51" on my new machine (Windows 10, Nvidia RTX2070). (Also referred to https://discuss.pytorch.org/t/a-error-when-using-gpu/32761).
I tried a lot of methods suggested, such as cuda downgrading, Anaconda downgrading and upgrading, etc. However not successful.
For my case,

[2019-05-01 10:37] levzlotnik commented on #19998
After looking at the source code for `model.named_modules()`, I've realized that if a module is shared between 2 different submodules - it only gets yielded once for the first submodule it was inserted to.
Closing since this is not a bug - this implementation of GNMT allows a shared `nn.Embedding` layer in both the encoder and the decoder.

[2019-05-01 10:37] #19998 closed

[2019-05-01 11:02] qbx2 opened #20004 "[JIT] cannot access to initialized attribute in script-annotated class __getitem__"
## 🐛 Bug

[code]
[code]
## Expected behavior

It should compile the class.

## Environment

$ python collect_env.py
Collecting environment information...
PyTorch version: 1.1.0
Is debug build: No
CUDA used to build PyTorch: Could not collect

OS: Mac OSX 10.14.3
GCC version: Could not collect
CMake version: version 3.14.0

Python version: 3.7
Is CUDA available: No
CUDA runtime version: Could not c

[2019-05-01 11:05] peterjc123 commented on #17108
We are building this time with the NVIDIA driver 418.96. But according to your test results, I don't know whether I should downgrade or upgrade it. However, if the problem is caused by the driver, we can actually do some tests on this. Also, if you have time, you can try whether building from source solves it.

[2019-05-01 11:17] peterjc123 commented on #17108
Actually, from the CUDA document, I can only find that there is a lower limit of the driver version for each CUDA version: https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html#major-components. But it didn't mention what will happen if we compile binaries using newer versions of GPU drivers, or the driver version mismatches with the one on the user's PC.

[2019-05-01 11:31] bliunlpr opened #20005 "install error from source"
Hello,there is the output.I don't know how to deal with it.

[1/1460] Building CXX object caffe2/CMakeFiles/caffe2.dir/contrib/aten/aten_op.cc.o
FAILED: caffe2/CMakeFiles/caffe2.dir/contrib/aten/aten_op.cc.o
/data1/NLPRMNT/public/gcc485/bin/c++   -DCPUINFO_SUPPORTED_PLATFORM=1 -DHAVE_MALLOC_USABLE_SIZE=1 -DHAVE_MMAP=1 -DHAVE_SHM_OPEN=1 -DHAVE_SHM_UNLINK=1 -DNNP_CONVOLUTION_ONLY=0 -DNNP_INFERENCE_O

[2019-05-01 11:32] bliunlpr commented on #20005
I cannot find the file caffe2/caffe2/contrib/aten/gen_aten_op.h

[2019-05-01 11:42] lijunzh commented on #1837
@stiv-yakovenko Thanks for the suggestion.

This line can be simplified as `ymax = yt.max()[None]`.

[2019-05-01 11:52] migalo22 commented on #15848
when i try to run my varitionnal auto-encoder i get this error :

test_and_train.py:None (test_and_train.py)
test_and_train.py:102: in <module>
    model_net = VoxceptionNet(n_classes=40).to(device)
..\..\..\Anaconda3\envs\lib\site-packages\torch\nn\modules\module.py:381: in to
    return self._apply(convert)
..\..\..\Anaconda3\envs\lib\site-packages\torch\nn\modules\module.py:187: in _apply
    m

[2019-05-01 11:52] ZaydH opened #20006 "RuntimeError: invalid argument 10: ldb should be at least max(1, 0), but have 0 at ../aten/src/TH/generic/THBlas.cpp:36"
## 🐛 Bug

Runtime error:

[code]

## To Reproduce

I do not get this in all cases.  I get it on an autoencoder with two decoders.  I did not get this error in 1.0.0.  I can dig into it more and try to make a streamlined MWE if the devs are unsure what could cause this.

## Expected behavior

In 1.0.0, this did not raise an issue.  It just pushed the loss backwards as expected.

## Environment

Col

[2019-05-01 12:37] soumith commented on #19995
@suo i think issuing the warning and calling them legacy was a mistake (it took me by surprise as well, but I was too buried into the release to have time to think through).
We should undo those warnings.
The legacy constructors are `x.new(...)` and `torch.*Tensor(...)`

[2019-05-01 12:39] soumith commented on #19991
That behavior is called broadcasting, and it's what we implemented looking at NumPy. Here's a link to read: https://docs.scipy.org/doc/numpy/user/basics.broadcasting.html

Where it gets particularly error-prone is inputs to loss functions (as your example encounters). We now issue a warning as of release v1.1 when such a situation occurs, so that the user is aware of and can fix the issue.

[2019-05-01 12:39] #19991 closed

[2019-05-01 12:58] soumith commented on #13918
@lcswillems no that tag was wrong, sorry about that.

[2019-05-01 13:03] soumith commented on #19911
I can reproduce this issue with the latest CuDNN 7.5.1.

The fix is indeed to disable CuDNN for this setting.
We found a magic number of 13070 last time, but it looks like it possibly regressed.

@ngimel can you advise after looking at internal code on what magic number we should set this time? Last time, I did it with trial and error.

[2019-05-01 13:10] soumith commented on #19834
caffe2 uses the same scheme as pytorch. For Caffe1, your differences dont sound right, it has padding all around as well.
If you have questions, ask in https://discuss.pytorch.org

[2019-05-01 13:10] #19834 closed

[2019-05-01 13:38] x1155665 commented on #17108
Updating Nivida driver (to 430.39) also worked for me.

[2019-05-01 14:02] nhiem2000 commented on #19978
My intention is to measure the forward pass (inference), not training.
I used

in the inference loop of the test script.  Is it not enough to imply that is the forward path?  If not, what should I do to make sure that I am running the inference pass?

[2019-05-01 14:18] Amir22010 opened #20009 "issue while exporting torch model to onnx format"
## 🐛 Bug

i am getting error while converting my saved torch model to onnx format

torch.onnx.export(trained_model, dummy_input, "sentiment.onnx")
TypeError: forward() missing 1 required positional argument: 'hidden'

torch version - '1.0.1.post2'

## To Reproduce

Steps to reproduce the behavior:
from torch.autograd import Variable
import torch.onnx
# Load the trained model from file
net_save = S

[2019-05-01 14:24] nhiem2000 commented on #19978
FYI, I also added this to the test script to explicitly specify the forward pass:

There is no difference in the result.

[2019-05-01 14:35] abdelrahmanabdelnabi commented on #14260
@soumith I tried it, but unfortunately it didn't fix the issue.

The code was working fine without any errors on nividia Tesla K80 on google colab. But since colab started rolling out the Tesla T4 recently, this error showed up on the first run on T4 GPUs. Do you think this is an issue with pytorch or CuDNN?

Here is the relevant part of the code where the error happens:

[code]

[code]

we are us

[2019-05-01 14:38] soumith commented on #14260
my command was incorrect. I updated it now to `pip3 install https://download.pytorch.org/whl/cu100/torch-1.1.0-cp36-cp36m-linux_x86_64.whl`, can you give that a try?
I will try in colab on my end as well

[2019-05-01 14:43] soumith commented on #14260
the snippet at the top works fine for me in Colab on T4.

<img width="1021" alt="Screen Shot 2019-05-01 at 10 42 43 AM" src="https://user-images.githubusercontent.com/1310570/57022708-ebe40d00-6bfd-11e9-9ab8-80ed2eb7313c.png">

[2019-05-01 14:53] meganset commented on #19462
Realized I got the name of the NamedAnyModule header file wrong:
_named_any.h_ not _any_module.h_

I think _named_any.h_ should be included in _modules.h_

[2019-05-01 15:25] SixerWang commented on #19453
@ispine the CmakeLists.txt  is simple:

[code]

And my file tree is like:

[code]

[2019-05-01 15:37] pedromorais17 commented on #19801
I will try and then send you my feedback.
Thank you for all your support.

[2019-05-01 15:44] pedromorais17 opened #20011 "Tensor To OpenCV - C++"
I'm using the pytorch with float image (C++). Currently, I'm not using GPU, but I'm having difficulties to convert the data between torch and opencv.

Basically, I'm reading an image,

cv::Mat image, image_bgr;
image_bgr = cv::imread("FILENAME");
cvtColor(image_bgr, image, cv::COLOR_BGR2RGB);

// converting it to float
cv::Mat bgr[3]; // destination array
cv::split(image, bgr);
cv::Mat channelsCon

[2019-05-01 15:54] pietern commented on #19972
This looks like a mismatch between Python sources and the C++ library. We always make these updates in lock step, so if you're using the right version of Python sources and the right version of the C++ library, which are always installed side by side, then this wouldn't be an issue. Please reinstall from source, or upgrade to version 1.1, to resolve the issue.

[2019-05-01 15:54] #19972 closed

[2019-05-01 16:08] max333 commented on #20005
I have different error messages, but related to roughly the same files.  I don't seem to have a missing file (but maybe it fails before encountering a missing file), but aten_top.h fails to resolve some imports from "at::".

I'm on Ubuntu19.04 and CUDA 10.1.

[code]

[2019-05-01 16:09] xsacha commented on #20011
Something like this?
[code]

[2019-05-01 16:09] xmnlab commented on #16955
@hameerabbasi I have the same problem here (`cannot find -lcudart_static`) on build time, not sure but it seems it was after install ccache.

[2019-05-01 16:41] labor00 commented on #19825
The `num_workers` option affects the number of processes created by the dataloader, the training is performed by the GPU.

The issue here is the change of behavior before and up to 1.0 ( I have tested using the 1.0 binary and it works without performance degradation without setting up the OMP_NUM_THREADS=1, but the 1.1 version also presents the behavior described here) this code executed without c

[2019-05-01 16:42] zhangguanheng66 commented on #19970
Thanks for the information. We will discuss this issue during our next triage meeting.

[2019-05-01 16:44] #19961 closed

[2019-05-01 16:45] Queuecumber commented on #19970
I have a feeling this is something to do with cuda and something weird with the compute cluster I am working on, but I'm not sure how to further debug it

After needing to restart it again this morning, I was getting this same crash until I disabled only the *3rd* gpu, so now GPUs 0,1,3, work fine but anything put on 2 causes a crash. Who knows what caused it to change.

[2019-05-01 16:56] zhangguanheng66 commented on #17572
@soumith  Do we need to update Pytorch README file? I had this problem before too and installed ninja.

[2019-05-01 16:59] VitalyFedyunin opened #20017 "torch.jit.trace returns unwrapped C type"
## 🐛 Bug

### With pytorch 1.1.0

[code]

Returns `torch._C.Function` and cannot be saved:

`Traceback (most recent call last):
  File "1.py", line 7, in <module>
    torch.jit.save(z, "filename")
  File "/home/vitalyf/local/miniconda/envs/wp_1/lib/python3.7/site-packages/torch/jit/__init__.py", line 198, in save
    m.save(f, _extra_files=_extra_files)
AttributeError: 'torch._C.Function' object h

[2019-05-01 17:01] SsnL commented on #19825
Are there functions not respecting `set_num_threads` here?
https://github.com/pytorch/pytorch/blob/e04caa3f44a76e23aec2cb654134e7c873d813c8/torch/utils/data/_utils/worker.py#L72

[2019-05-01 17:11] zhangguanheng66 commented on #20011
Please use https://discuss.pytorch.org for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-05-01 17:11] #20011 closed

[2019-05-01 17:21] abdelrahmanabdelnabi commented on #14260
@soumith It is working now. Thank you so much!

[2019-05-01 17:45] justheuristic opened #20019 "Product of ones is zero on cuda"
## 🐛 Bug

Product of ones is zero on cuda. This seems like a rather common issue, but i found no mentions of it here after a brief keyword search.

## To reproduce
[code]
prints
[code]

## Expected behavior
I'd expect it to be 1 :)

## Environment
[code]

## Additional context
This does not seem to be a floating point precision issue:
[code]
prints
[code]

[2019-05-01 18:01] nairbv opened #20022 "Precision of sparse float embeddings differs from dense embeddings on CPU"
## 🐛 Bug

In test/test_nn.py we skip 'backward' for low-precision types (float, half) because the precision is often too low to get reliable results on large embeddings. The same test doesn't fail for dense embeddings. There's a limit to how much precision we can expect with float and half types, but it would be preferable if they were consistent or if the difference was clearer.

## To Reproduce

[2019-05-01 18:20] DavidHarrison commented on #19940
It seems like the behavior of the `geometric_` operator is consistent with the inline comment rather than the web documentation:
[code]

[2019-05-01 18:42] gchanan commented on #19995
@soumith's description is correct, those aren't legacy.

This is relatively clear in the implementation (https://github.com/pytorch/pytorch/blob/master/torch/csrc/utils/tensor_new.h) -- the implementations of `x.new(...)` and `torch.*Tensor(...)` are called "legacy", and the implementations of e.g. `new_zeros` aren't.

[2019-05-01 18:47] rmcavoy opened #20023 "Broken Documentation Strings for nn.MultiheadAttention"
## 📚 Documentation

https://pytorch.org/docs/stable/nn.html?highlight=attention#torch.nn.MultiheadAttention

The docstring for the inputs and outputs of nn.MultiheadAttention are broken since they are in the wrong format. They also light on description of each input.

 They display for inputs as,
query: [target length, batch size, embed dim] key: [sequence length, batch size, embed dim] value: [se

[2019-05-01 18:59] AlexFuster commented on #18903
I had the same problem and at the end it was a matter of types.
in my case I had a float32 in tensor and
[code]

[2019-05-01 19:09] neale commented on #19024
I can also confirm that this issue is in the latest build of 1.1.0.
Cuda 10. Python 3.7.2.

[2019-05-01 19:16] makeyourownalgorithmicart commented on #19829
thanks - @SsnL  could you point me to this documentation? I can't seem to find it.

it would be good if there was an official recommended mental model and usage pattern

I'm not being lazy - I just can't find it!

[2019-05-01 19:17] makeyourownalgorithmicart commented on #19682
I've discussed this with other PyTorch users and they also have the same opinion as myself on this lack of View()

[2019-05-01 19:42] trias702 commented on #19003
This bug is still present in the official PyTorch 1.1.0 which was released Apr 30, 2019. It's a really bad bug since CyclicLR is a big feature of the new pytorch and this bug causes CyclicLR to fail on any optimizer which doesn't support momentum. It's a fairly easy fix too, just indent two lines of code.

[2019-05-01 19:45] suo commented on #19995
Okay, we should revert this. @driazati can you take a look?

[2019-05-01 19:54] malmaud opened #20024 "New 'bool' type doesn't support inversion in 1.1.0"
[code]

TypeError: ~ (operator.invert) is only implemented on byte tensors

[2019-05-01 20:03] gchanan commented on #19995
Just to give a bit more context, I know it would have been a lot clearer for you if we actually put deprecated warnings on `torch.Tensor` in python, but we have shy-ed away from it because it would cause a ton of deprecated warnings for literally every torch program.

But that reasoning doesn't really apply to JIT.

[2019-05-01 20:31] driazati commented on #19995
Reverting the warnings seems reasonable (#20026), we can do a follow up PR to fix it in the JIT specifically.

[2019-05-01 20:37] VitalyFedyunin commented on #16926
Now we sync on event or thread whenever we are sending CUDA tensors via IPC.

[2019-05-01 20:37] #16926 closed

[2019-05-01 20:50] vfdev-5 commented on #20019
@justheuristic this is fixed in 1.1.0 version (probably by https://github.com/pytorch/pytorch/pull/15653)
Your issue possibly a duplicate of https://github.com/pytorch/pytorch/issues/15647

[2019-05-01 20:55] jcreinhold opened #20028 "CosineAnnealingWarmRestarts documentation poor and not appearing"
## 📚 Documentation

The documentation for the newly introduced `CosineAnnealingWarmRestarts` learning rate scheduler (#17226) does not appear on the website (see [here](https://pytorch.org/docs/stable/optim.html); the location where it should be).

Furthermore, looking at the [source code of the function](https://github.com/pytorch/pytorch/blob/master/torch/optim/lr_scheduler.py#L699), I am very c

[2019-05-01 20:57] Kunlun-Zhu opened #20029 "RuntimeError:CUDA Error:out of memory"
## 🐛 Bug
 With a CUDA 10.1 and RTX GPU.
When I try even the most simpliest code like
nums = torch.randn(2,2).cuda(), it show the above error
And torch.cuda.is_available() is True.
Any idea?

[2019-05-01 21:19] kaszperro opened #20030 "I can't import PyTorch, libomp.dylib can't be loaded."
## 🐛 Bug

I tried to install PyTorch, but I can't use it. It can't link dynamic library libomp.dylib

## To Reproduce

Steps to reproduce the behavior:

1. pipenv install torch torchvision
2. `from torch.utils.data import Dataset`

[code]

## Expected behavior

Being able to use and import PyTorch

## Environment

 - PyTorch Version (e.g., 1.0): 1.1.0
 - OS (e.g., Linux): Mac OS Mojave
 - How you

[2019-05-01 21:25] suo commented on #20004
Ugh, this is because Python's` inspect` returns members in name order instead of definition order.

The only method for which definition order matters is `__init__`, since it initializes the class's attributes. As a temporary workaround, try defining a method that does not precede "__init__" in token order.

The longer term fix is simple enough—we should special-case `__init__` to be compiled firs

[2019-05-01 21:31] soumith commented on #20029
please use our bug report template, we need so much more info that we request in the template to understand what's up

[2019-05-01 21:31] #20029 closed

[2019-05-01 21:32] #20019 closed

[2019-05-01 21:40] #14260 closed

[2019-05-01 21:40] eellison commented on #20017
cc @wanchaol recently touched save @zdevito first class module support

[2019-05-01 21:49] kaszperro commented on #20030
`brew install libomp` solves the problem.

[2019-05-01 21:51] SsnL commented on #19764
In the case where I saw this, the mkl definitely still uses omp. It's a long time ago so I don't remember what if actually found. But I can try to reproduce.

[2019-05-01 21:57] nhiem2000 commented on #19953
Also make sure your model is in eval mode and not training.
For 1.1.0, I find that I need to explicitly set the model to eval mode

[2019-05-01 22:03] kalyc opened #20031 "Cannot convert PyTorch to ONNX using Pytorch 1.1 and ONNX 1.5.0"
## 🐛 Bug

Cannot convert PyTorch to ONNX using the latest PyTorch and ONNX version

System Config:
[code]

## To Reproduce

Steps to reproduce the behavior:

1. Use Ubuntu 16.04
2. Install latest PyTorch conda package as mentioned on official website
3. pip install onnx==1.5.0

Run the following:

pytorch_export.py:
[code]

verify_onnx_model.py
[code]

```python pytorch_export.py```
```python veri

[2019-05-01 22:05] kalyc commented on #20009
Me too: https://github.com/pytorch/pytorch/issues/20031

[2019-05-01 22:48] labor00 commented on #19825
I have tried to find the function that was spawning the threads with the results obtained from the perf record. However even after recompiling the pytorch package with debug symbols (CFLAGS="-g -ggdb") there still some missing symbols. Is there any other method to compile with debug symbols the pytorch package? thanks

[2019-05-01 22:49] SsnL commented on #19825
@labor00 Use `DEBUG=1` :)

[2019-05-01 23:10] soumith commented on #15054
Hey everyone,

This issue might be fixed by cudnn 7.5.1, which was shipped in pytorch 1.1.
Please give it a try

[2019-05-01 23:31] ilia-cher commented on #19825
btw, regarding OpenMP behavior - we're working on improving parallelism handling within core PT, I posted a broad plan in https://github.com/pytorch/pytorch/issues/19002 - soon we'll be able to use parallelism other than OpenMP, e.g. native thread pool or Intel TBB

[2019-05-01 23:32] kalyc commented on #20031
Tested with ONNX 1.2.0 as well, latest Pytorch doesn't work with ONNX

[2019-05-01 23:33] ilia-cher commented on #19764
Sounds good, thanks, that would be interesting to see what configuration led to this.

[2019-05-01 23:36] kit1980 commented on #19778
I think this "only retain gradients of leaf variables" should be in the FAQ.
Just saw a StackOverflow question about this: https://stackoverflow.com/questions/55942423/pytorch-backpropagating-from-sum-of-matrix-elements-to-leaf-variable

[2019-05-01 23:37] #19995 closed

[2019-05-02 00:02] denru01 opened #20037 "Slow distributed training"
## 🐛 Bug

Distributed training of the nightly build (1.1.0.dev20190501) is much slower (5x) than that of the stable build (1.0.0).

## To Reproduce

Steps to reproduce the behavior:

1. Run the following code using "python -m torch.distributed.launch --nproc_per_node=8 main.py"
2. On 8 V100s, the running time of the stable build is 20 sec, but that of the nightly build is 103 sec.

[code]

## Expe

[2019-05-02 00:09] drnikolaev commented on #16908
Although Axis 0 is still used it seems to be not against ONNX standard. Thank you.

[2019-05-02 00:09] #16908 closed

[2019-05-02 00:13] drnikolaev commented on #17697
Duplicate of #17606

[2019-05-02 00:13] #17697 closed

[2019-05-02 00:14] lxiaorui commented on #19972
Thanks @pietern. I upgrade it to version 1.1 and it works.

By the way, there are some other issues in **https://github.com/pytorch/pytorch/blob/master/torch/distributed/distributed_c10d.py**.

In both function **gather** and **scatter**, if the node is not the dst/src, it requires the **tensorlist** to be **None** which is ensured by：
`if gather_list:
            raise RuntimeError("non-empty gat

[2019-05-02 00:44] xsacha commented on #19978
I did a test with/without optimization on a traced model (faceboxes).
Test was run with no_grad, eval mode, inferencing. Times are averaged over 205 batches.

Without tracing the model (in python):
forward_pass_time: 0.0897s misc: 0.0214s
Accuracy: 99.21% AP
Without optimization:
forward_pass_time: 0.0840s misc: 0.0196s
Accuracy: 99.21% AP
With optimization:
forward_pass_time: 0.0834s misc: 0.0193

[2019-05-02 01:00] #19314 closed

[2019-05-02 01:13] npyoung commented on #16559
Still an issue with 1.1.0-cuda10. Pre-initializing CUDA in the main thread mitigates the issue, but it's messy.

[2019-05-02 01:42] pgromano commented on #17842
It looks like all the `sample` and `rsample` methods pass `sample_shape` to `Distribution._extended_shape`.

[code]

That change should automatically handle the values passed into a tuple which get cast to a `torch.Size` instance. It would definitely require changing every `sample` and `rsample`

[code]

Happy to take that on and test!

[2019-05-02 02:14] Multihuntr commented on #15054
:heart: :heart: :heart:

Using my previous test script. I created 2 Dockerfiles, the only difference being which version of pytorch it uses.

Here are the results:

[code]

[2019-05-02 02:29] SsnL commented on #19957
I'm not sure we want this in core. This can be so easily implemented on user end. The `sampler` arg is specifically used to pass in custom samplers.

[2019-05-02 02:39] pgromano commented on #17842
I made the following changes described above and the changes below to `torch.distributions.normal.py`

[code]

[2019-05-02 02:40] xkszltl opened #20046 "Leaking Torch Files"
## Bug

When I build from source and install to `/usr/local`, some headers leaks out to `/usr`.

![image](https://user-images.githubusercontent.com/5203025/57054303-88cb9800-6c48-11e9-965c-8d404a5c5854.png)
![image](https://user-images.githubusercontent.com/5203025/57054323-bfa1ae00-6c48-11e9-9181-844c28582d3f.png)

This issue may be caused by the following code:
https://github.com/pytorch/pytorch

[2019-05-02 03:02] soumith commented on #19957
I'll go with @SsnL 's judgement and close this request.

[2019-05-02 03:02] #19957 closed

[2019-05-02 03:05] soumith commented on #16559
does anyone on this thread have a snippet that reproduces the issue? we can start looking

[2019-05-02 03:20] senhuiguo commented on #16559
@soumith Here you go
[code]

[2019-05-02 03:29] soumith commented on #16559
@senhuiguo i am on ubuntu 16.04 with pytorch 1.1.0 binaries, and I cannot reproduce with your snippet.

[code]

Any additional hints about your environment?

[2019-05-02 03:38] xin-xinhanggao opened #20047 "Libtorch's Interoperability with OpenGL/Cuda"
## ❓ Questions and Help
Hello everyone, I want to convert tensor(at::kCuda) to OpenGL texture. But the IO between GPU and CPU is much too slow. Could libtorch interoperate with OpenGL texture or Cuda array in GPU layer?

I can not find solution in pytorch forum, so post it here for help.

[2019-05-02 03:47] Amir-Arsalan opened #20048 "Forking is not possible anymore when using any PyTorch version from about 2 months ago"
I have been building PyTorch from source in the past couple of months. Since around 1 (or maybe 2) month(s) ago I am unable to do forward passing to my models when using the `multiprocessing` package of PyTorch. If I'm not mistaken, the last version of PyTorch that I built and still allows me to use `fork`ing is [this](https://github.com/pytorch/pytorch/tree/bad4442) one; or more precisely, the ve

[2019-05-02 04:01] MuruganR96 commented on #19951
Thank you sir.

[2019-05-02 04:23] SsnL commented on #20048
It is surprising that your program ever worked because CUDA runtime does not support `fork`. See this note being added: https://github.com/pytorch/pytorch/pull/19904

[2019-05-02 04:30] EvenOldridge commented on #15734
@ezyang I'm running into this same issue when trying to launch multiprocessing dataloaders with datasets that use cuda.  You mention:

Is there a workaround if you're using jupyter notebooks rather than a script?  I tried the spawn method but it still has the same error for me.

[2019-05-02 06:41] senhuiguo commented on #16559
@soumith
[code]

[2019-05-02 06:45] bnehoran opened #20052 "SegFault and other errors on instantiating subclass of torch.FloatTensor and torch.Tensor"
## 🐛 Bug

Instantiating a subclass of `torch.FloatTensor`, `torch.ByteTensor`, or `torch.BoolTensor` causes a **segmentation fault**, a `c10::Error: Unrecognized Scalartype UNKNOWN_SCALAR`, and/or other odd errors.

Instantiating a subclass of `torch.Tensor` with parameters and overriding `__init__` fails with a `TypeError`.

## To Reproduce

Run the following 4 lines on a fresh python REPL (or so

[2019-05-02 06:46] t-vi opened #20053 "RFC: accscalar_t for float on CPU"
## Issue
Currently `accscalar_t` for `float` is `double` on the CPU:

https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/AccumulateType.h#L34

I suggest to have a small discussion whether it'd be better to switch to float.

## Motivation

This is prompted by @wanchaol asking about a [`UndefinedBehaviorSanitizer: float-cast-overflow`](https://gist.github.com/wanchaol/aceb0a1e8d3a93c885368

[2019-05-02 07:03] youkaichao commented on #4661
The same problem makes me confused for days. I want to work with high order derivatives and `.backward(create_graph=True)` incurs memory leak. Switching to `autograd.grad` solves the problem.

[2019-05-02 07:15] ilia-cher commented on #19002
upd, actually with the last changes (e.g. https://github.com/pytorch/pytorch/pull/20002) - it seems that we don't really have any use cases of specific macro checks (except a few where it makes sense, e.g. inside ATen/Parallel), so we might even not need any explicit macro like `INTRA_OP_PARALLEL`

[2019-05-02 07:18] graykode opened #20054 "Dockerfile submodule and unicode issue"
## 🐛 Bug

## To Reproduce

#### 1. git clone missing
I tried to build [Dockerfile](https://github.com/pytorch/pytorch/blob/master/docker/pytorch/Dockerfile).
First, before `RUN git submodule update --init`, It is not fully functional independently.
 Is it true that the `git clone pytorch.git` was missing before `WORKDIR /opt/pytorch`?

[code]

I already see https://github.com/pytorch/pytorch/pull/

[2019-05-02 07:47] ispine commented on #19453
Thank you for your answer
And I have a question.
I want to know if you've solved the core dump problem

-----Original Message-----
From: "SixerWang"<notifications@github.com>
To: "pytorch/pytorch"<pytorch@noreply.github.com>;
Cc: "ispine"<pine1578@naver.com>; "Mention"<mention@noreply.github.com>;
Sent: 2019-05-02 (목) 00:26:31 (GMT+09:00)
Subject: Re: [pytorch/pytorch] How to load PyTorch model wi

[2019-05-02 07:56] SixerWang commented on #19453
I haven't solved the core dump problem.  I think the core dump problem may be caused by that the script doesn't release gpu memory of LSTM correctly.

[2019-05-02 08:38] andrewnaguib opened #20056 "Creation of too big multidimensional array returns empty tensor."
## 🐛 Bug

When trying to create a tensor of too many dimensions it simply returns an empty tensor with its shape is the dimensions I passed even though it should have contained the value `1`.

## To Reproduce

Steps to reproduce the behavior:

Number of 2's in the following example is `>63`.
[code]
Output:

[code]

Another related issue

[code]

These are `62` 2's.

Output:

[code]

When they're `

[2019-05-02 09:22] kavyajeetbora commented on #11762
When converting the image  to tensor put x.view(1,32,32) if your image size is 32 by 32.

[2019-05-02 09:44] justheuristic commented on #20019
Thanks / sorry for inconvenience

[2019-05-02 10:56] Amir-Arsalan commented on #20048
@SsnL @soumith @ezyang I know CUDA was never `fork`-safe and that's why I didn't do `model.cuda()` before starting any of the processes: cause once CUDA is initialized within one environment/process you cannot use the model in a child environment/process.

What is the solution now? Why can't I even do `fork`ing when the model is on the CPU memory? How come my code always works up until that specif

[2019-05-02 11:05] xin-xinhanggao commented on #20047
Or is there a way to convert libtorch tensor(k::Cuda) to cuda array?

[2019-05-02 11:45] vsub21 commented on #17289
@sh0416 I came across your post when trying to find the absolute max of torch.rand(). Is it verified that the max value of torch.rand() will indeed be 0.9999 (with the specified precision)? I am trying to sample uniformly from (0, 1) instead of [0, 1) -- to rectify this I am considering adding 1e-5 to the result in order to avoid issues with 0 values. Any thoughts?

[2019-05-02 11:50] sh0416 commented on #17289
@vsub21 Not good. What about resample when sampled value is zero?

[2019-05-02 11:52] mfuntowicz commented on #19840
Sorry for the time to get back on this issue.

I'll have some extra time to have a look at the solution you proposed @pietern  and will update my comment just after that.

[2019-05-02 11:56] vsub21 commented on #17289
@sh0416 you're right, that would work well.

I also found [self.uniform_()](https://pytorch.org/docs/stable/tensors.html#torch.Tensor.uniform_) that might be useful; do you think this would work well too?

`rand_unif = torch.empty(logit_probs.size()).uniform_(1e-5,1. - 1e-5)`

[2019-05-02 12:04] sh0416 commented on #17289
It will work if you use low precision.

PyTorch supports very high precision like 1e-15 or more.

That’s why I confused.

For very precisely, I recommend you to use my method. It’s simple and fast in terms of probablistic points :)

If you don’t mind about sampling 0.0000001, then use your method.

In my experience, sometimes very small value is important.

But it is your choice. :)

[2019-05-02 12:11] around1991 opened #20058 "Implement noise_shape keyword for Dropout layers"
## 🚀 Feature
Tensorflow has a noise_shape keyword for tf.nn.dropout, which specifies which dimensions should have dropout masks calculated independently and which dimensions should have shared dropout masks. PyTorch should have a similar feature too.

## Motivation

This is a very useful feature to have (for example, if we process the same example multiple times, we may want to tie dropout masks f

[2019-05-02 13:03] Yusnows commented on #19739
I also meet this crash, but I don't know what is wrong.
I had run my code(the same code) successfully, but after I upgrade open3d and nvidia driver(the driver upgrade from 390 to 418), I meet the crash. Then, I modified my to import open3d first, and it works.

[2019-05-02 13:50] zuoxingdong opened #20060 "[JIT] LSTMCell still not speedup with 1.1.0"
I've tried the [template provided in fastrnn](https://github.com/pytorch/benchmark/blob/master/rnns/fastrnns/custom_lstms.py#L94-L120) with latest PyTorch, however, it seems the speedup still not there yet. Here is the benchmark code

[code]

[code]

[2019-05-02 14:20] pedromorais17 commented on #19801
The pytorch webpage has now the Release and Debug pre-compiled files. Thank you for all your support.

[2019-05-02 15:02] SsnL commented on #20060
fwiw running this on a master build with some warmup iters gives me numbers like
[code]

[2019-05-02 15:14] MSC19950601 commented on #19457
@colesbury It works!  Thank you for help!

[2019-05-02 15:14] #19457 closed

[2019-05-02 15:28] fritzo commented on #17842
Hmm it still seems this will break many user-defined distributions. @neerajprad WDYT?

[2019-05-02 15:38] jzenn commented on #17874
@Bronek I have been trying for several days now to install PyTorch with CUDA 10.1 and did not manage to install it properly. I have to use CUDA 10.1 since it is the version of the cluster I am training on. Since you managed to install PyTorch with CUDA 10.1 would it be ok for you if shared your Dockerfile? Thank you very much in advance.

[2019-05-02 15:45] feferna commented on #17108
Thanks! This is the exactly same thing that happens with me on Windows 10.

If I use torch.cuda.current_device() before anything cuda-related, it works like a charm.

[2019-05-02 16:23] ifedan commented on #20047
Please use https://discuss.pytorch.org for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-05-02 16:23] #20047 closed

[2019-05-02 16:27] pjh5 opened #20066 "Change devtoolset7 CUDA 9.0 nightlies to use a lower devtoolset"
"CUDA 9.0 is not compatible with std::tuple from GCC version >= 6"
We should use devtoolset5 for the CUDA 9.0 nightlies

[2019-05-02 16:29] pjh5 opened #20067 "Remove CUDA 8.0 nightlies"
We will only provide 9.0 and 10.0 for now.

[2019-05-02 16:45] vsub21 commented on #17289
@sh0416 Thank you for your help!

[2019-05-02 17:05] ttbek opened #20070 "RuntimeError: _th_uniform_ not supported on CPUType for Long"
## 🐛 Bug

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
RuntimeError: _th_uniform_ not supported on CPUType for Long

## To Reproduce
Follow 1st tutorial https://pytorch.org/tutorials/beginner/blitz/tensor_tutorial.html#sphx-glr-beginner-blitz-tensor-tutorial-py
The error occurs when specifying the dtype:
`x = torch.zeros(5, 3, dtype=torch.long)`

Steps to reproduce the

[2019-05-02 17:10] ttbek commented on #20070
Weird... it seems like it is working now.  Well... I'm lost on how to reproduce it then, will update if I find out.

[2019-05-02 17:21] eellison commented on #20046
cc @kostmo

[2019-05-02 17:27] ifedan commented on #20054
To be able to give a flexibility to a user to choose PyTorch version, "git clone" part was not included into Dockerfile.

[2019-05-02 17:41] ifedan commented on #20054
Can you provide more details on the second point? Why do you think LANG is required?

[2019-05-02 17:41] #20054 closed

[2019-05-02 17:56] #20067 closed

[2019-05-02 18:50] SsnL commented on #19829
@makeyourownalgorithmicart In the docs it is indeed a bit hidden at https://pytorch.org/docs/master/notes/cuda.html#device-agnostic-code . It is used and recommended (I believe) throughout all of the tutorials https://pytorch.org/tutorials/ . We'd happily accept a PR to make the doc section more evident (and ideally modernizing the section on `torch.cuda.device`)!

[2019-05-02 19:14] Amir-Arsalan opened #20074 "Unable to compile an older version of PyTorch"
I just tired building PyTorch from source from [this commit](https://github.com/pytorch/pytorch/tree/bad4442) but I got the following messages and error:

[code]

Then I get the following messages:

Then I do
`git submodule update --init --recursive`

and get the following messages:

I also tried with `git checkout bad4442` which is a bit older than `3a01a45`  but got the same error at the end.

I

[2019-05-02 19:15] #16562 closed

[2019-05-02 19:15] wanchaol commented on #20060
@zuoxingdong are you running this on CPU? the first time when you pass inputs to the JIT code, it will run optimization passes to compile the specialization for that input shape, and then generate optimized graph. So in your case, as @SsnL suggested, you will need to have a small warmup before you time it. You can also try to time it on GPU, which should result in similar times between `LSTMCell`

[2019-05-02 19:20] houseroad opened #20075 "torch.arange always generate constant result in tracing"
We hope to get dynamic result, however, in the traced onnx graph, we alway get constant directly.

For a reproduction, please https://github.com/pytorch/pytorch/pull/20072

[2019-05-02 19:52] umanwizard commented on #2228
I opened a gist with some thoughts on this, which we have been discussing. But it seems gist is not the best format for open discussion, so I am reposting it here. @gchanan , can you paste your comments from the gist into this issue?

[2019-05-02 19:52] umanwizard commented on #2228
## Summary

The goal of this project is to create an alternative Python API for PyTorch which is as similar as possible to NumPy, while retaining distinguishing features like simple GPU support and gradient computation, as illustrated below.

**Basic Example**:
[code]

## Goals

* The project should, when complete, implement (at least) a large subset of the NumPy ndarray API.
* Implementing NumPy

[2019-05-02 19:57] eellison commented on #18903
Hi @AlexFuster,

Do you mind posting a complete repro ? This error could be triggered in a variety of ways so it's possible that your root cause was different than the other repros.

[2019-05-02 19:57] eellison commented on #18903
Also, cc @orionr TensorBoard support

[2019-05-02 20:03] gchanan commented on #2228
Discussed this with Soumith, Greg, and Sam -- we decided we would take a slightly simpler approach involving only one tensor type.

Just to provide some context here, the concern was 1) having multiple APIs that "live forever" and 2) downstream components have to worry about the tensor mode, which doesn't seem necessary.

Basic Example:

Doesn't this example already work? (besides the torch.numpy

[2019-05-02 20:09] zou3519 commented on #20074
Try `git submodule sync` and then `git submodule update --init`?

[2019-05-02 20:17] soumith commented on #20054
When you provide more details, please re-open the issue. thanks.

[2019-05-02 20:18] umanwizard commented on #2228
Better example showing param translation:
[code]

No, I was suggesting we would have functions that let you convert between the types for "free" (i.e., with only some overhead of unwrapping/re-wrapping Python objects, no copying data)

But, this is irrelevant if we decide to go with only one tensor type.

Making it obvious at a glance that the code will not work in stock Numpy.

Yes, it will becom

[2019-05-02 20:20] soumith commented on #20070
reopen the issue when you can reproduced it again :)

[2019-05-02 20:20] #20070 closed

[2019-05-02 20:29] zhangguanheng66 commented on #20058
@soumith I have a look at this feature request. If we decide to implement it, I'm happy to take this small task.

[2019-05-02 20:42] soumith commented on #20048
there was a bug that was in the last 2 months, but was fixed on master. I am trying to find the relevant issue and fix.

[2019-05-02 21:54] emitch commented on #19739
@zou3519 sorry for the delay in getting back to you. open3d installed with pipenv.

[2019-05-02 22:12] wanchaol commented on #20060
close this since it should have be resolved. @zuoxingdong if you feel any difficulties in reproducing a comparable numbers, feel free to reopen it :)

[2019-05-02 22:12] #20060 closed

[2019-05-02 22:14] soumith commented on #20048
I've been searching for the fix, but I think it was titled as something else -- so it's been hard to find. But I can confirm that it was definitely fixed.

[2019-05-02 22:50] acburigo opened #20086 "CosineAnnealingLR giving unexpected learning rates on PyTorch 1.1."
## 🐛 Bug

`CosineAnnealingLR` (and probably others) are giving unexpected learning rates.

## To Reproduce

Code:
[code]

Output of PyTorch 1.0.1:
[code]

Output of PyTorch 1.1:
[code]

## Expected behavior

I was expecting almost the exact same output as PyTorch 1.0.1. The only difference would be that PyTorch 1.1 should start with `last_epoch = 0`.

## Environment

 - PyTorch Version (e.g., 1.0)

[2019-05-02 22:52] soumith commented on #20053
this is something we've narrowed on as the right behavior since the torch7 days.
However, considering that no-one ever complained that their GPU outputs didn't have enough precision, in these many years.
It's worth considering, but I would be worried about BC-breaking.

Just switching it on android is dangerous because a model that you saved on PC will suddenly work differently on Android -- very

[2019-05-02 22:53] soumith commented on #20052
cc: @smessmer @gchanan

[2019-05-02 22:56] soumith commented on #16559
@senhuiguo what OS are you on, and what NVIDIA driver? I will atleast try a repro on docker

[2019-05-02 23:53] Amir-Arsalan commented on #20048
@soumith Fixed meaning that I should be able to run my code, at least when on CPU? But that's not what's happening now. I cannot use my model in any process.

[2019-05-02 23:58] orionr commented on #18903
Hi @sndnyang and others - instead of tensorboardX, can you use the version in PyTorch? We will be focusing our support on that implementation although @lanpa supports both.

Just change

[code]

to

[code]

and please see if it reproduces. We're looking to increase our test coverage for add_graph, which does have issues with some model types. Thank you for the data! @lanpa, can you add this failur

[2019-05-03 01:19] raghuramank100 commented on #19092
Do we assume that operations like below are not allowed?
x.zeros(10,3,32,32)
# x is in nchw (default)
# x.size() is [10,3,32,32]
# x.stride() is [3*32*32, 32*32, 32,1]
x = x.permute(0,2,3,1)
# At this point
# x.size() is [10,32,32,3], size is not in nchw order
# x.stride() is [3*32*32, 32,1,32*32]

# How can this be supported?
y = x.to(memory_format=torch.memory_format.nhwc)

One more variant woul

[2019-05-03 02:07] #20074 closed

[2019-05-03 02:33] dzhulgakov commented on #19092
@raghuramank100 - why would user call `.permute(0,2,3,1)` in the first place? All tensors in this proposal have semantic size of (n,c,h,w), meaning that size(1) returns you channels. That's what PT's standard library assumes today and what it'd assume in this proposal too. So one would likely never call .permute at all

[2019-05-03 02:43] soumith commented on #20048
are you saying it doesn't work like that on master, or on a commit from 2 months ago? I thought master is fine (forking before initializing CUDA should work fine)

[2019-05-03 02:48] SsnL commented on #20048
I think he's saying that the code works 2 months ago, but not anymore on master.

[2019-05-03 02:49] Amir-Arsalan commented on #20048
@soumith Compiling PyTorch from master (or any commit from the past two month'ish) does not allow me to do `fork`ing. I was able to do `fork`ing on commits from 2 months ago and before that.

[2019-05-03 04:04] JuanFMontesinos opened #20089 "[Undesirable behaviour] Allocating a nn.Parameter on gpu inside a nn.Module makes it not to be enlisted as network parameter"
Short explanation:
Defining a parameter inside a nn.Module produces different a behaviour than a nn.Module if it's allocated on gpu after defined.

Long explanation:
As far as I know registering a parameter inside a nn.Module, in the init method, expects to register that tensor as a parameter of the network. Those parameters are leaf tensors, thus, they get optimized through learning.

Main proble

[2019-05-03 04:18] senhuiguo commented on #16559
@soumith CentOS Linux release 7.2.1511 (Core), Driver version: 384.90

[2019-05-03 04:22] bestlin commented on #18000
I saw SpatialBN did support the half. Why we can not use it? Something missing?

[2019-05-03 04:22] soumith commented on #20089
[code]

[2019-05-03 04:22] #20089 closed

[2019-05-03 04:22] soumith commented on #20089
see https://pytorch.org/docs/stable/tensors.html?highlight=leaf#torch.Tensor.is_leaf for an explanation on leaf vs non-leaf variables

[2019-05-03 04:43] mrshenli opened #20090 "How to add dynamically allocated strings to Pickler?"
The following code prints `111` and `111`, instead of `222` and `111`, because `222` is skipped [here](https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/pickler.cpp#L68). Is this by design as Pickler only works for statically allocated strings? Or is there a way to correctly add dynamically allocated strings? (and all other types listed [here](https://github.com/pytorch/pytorch/blob/ma

[2019-05-03 04:45] mrshenli commented on #19925
@SerailHydra which version of PyTorch are you using? Above env shows:

[code]

[2019-05-03 06:06] gatapia opened #20092 "new tensorboard add_scalar not allowing merged scalars on same chart"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. call add_scalar('\<groupname\>/\<id\>', scalar_value, epoch)
2. open tensorboard

## Expected behavior

When using '\<group\>/\<id\>' as the tag for a scalar we should see the scalars plotted on the same chart.  This allows for train and test loss to be plotted on same chart for instance.  Instead we get a new header \<group\> with tw

[2019-05-03 06:56] suo opened #20095 "[jit] cannot recursively construct a class inside itself"
This should be possible:
[code]

[2019-05-03 06:59] zhutmost commented on #16996
I have updated to the latest version (1.1.0). However, this bug is still not fixed.

[2019-05-03 07:15] tsauri opened #20096 "Can't ONNX export torch.jit.load-ed model"
## 🐛 Bug

[code]

## To Reproduce

Steps to reproduce the behavior:

Run onnx_full_export.py from https://github.com/pytorch/translate

## Expected behavior

## Environment
Pytorch 1.1 stable
## Additional context

[2019-05-03 08:24] Meteorix commented on #19913
@gchanan thanks for your reply. This issue is fixed on 1.1 version.

[2019-05-03 08:27] #17990 closed

[2019-05-03 08:27] #8775 closed

[2019-05-03 10:24] hrpan opened #20099 "RuntimeError: input->node()->kind() == prim::Constant ASSERT FAILED at /opt/conda/conda-bld/pytorch-cpu_1556653093101/work/torch/csrc/jit/passes/graph_fuser.cpp:483, please report a bug to PyTorch. (mergeNodeIntoGroup at /opt/conda/conda-bld/pytorch-cpu_1556653093101/work/torch/csrc/jit/passes/graph_fuser.cpp:483)"
## 🐛 Bug

## To Reproduce

[code]

## Expected behavior

Return a tensor of rank (1,1,8,8).

## Environment

PyTorch version: 1.1.0
Is debug build: No
CUDA used to build PyTorch: None

OS: Ubuntu 18.04.1 LTS
GCC version: (Ubuntu 7.3.0-16ubuntu3) 7.3.0
CMake version: version 3.10.2

Python version: 3.6
Is CUDA available: No
CUDA runtime version: No CUDA
GPU models and configuration: No CUDA
Nvidia

[2019-05-03 11:50] kefirski opened #20100 "MultivariateNormal fails with CUDA"
## 🐛 Bug

MultivariateNormal fails on CUDA

## To Reproduce

For example, cpu version works fine

[code]

But if I try to create  MultivariateNormal instance with CUDA tensors then:

[code]

I tried to workaround this issue by creating instance not from covariance matrix, but from `scale_tril`, but in this case `log_prob` method fails

[code]

## Environment

[code]

[Here](https://pastebin.com/5F

[2019-05-03 11:52] rgommers commented on #16955
You both seemed to be saying it's `ccache` related and disappeared after a full rebuild.
https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#use-ccache says "Alternatively, `ccache` provided by newer Linux distributions (e.g. Debian/sid) also works, but the `nvcc` symlink to `ccache` as described above is still required." Did you perhaps miss that symlink?

[2019-05-03 12:51] hameerabbasi commented on #16955
I never installed CCache on my box.

[2019-05-03 12:56] oldnaari opened #20101 "jit tracing error for nn.Sequential with nn.Conv2d in torch 1.1.0"
## 🐛 Bug

[code]
when tracing nn.Sequential with nn.Conv2d in torch 1.1.0

## To Reproduce

Steps to reproduce the behavior:

[code]

Raises the following error
[code]

## Expected behavior

Expected to convert without issues

## Environment

PyTorch version: 1.1.0
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: Ubuntu 18.04.2 LTS
GCC version: (Ubuntu 7.3.0-27ubuntu1~18.04) 7.3.0
CMake

[2019-05-03 13:43] SerailHydra commented on #19925
PyTorch version is 1.0.0, CUDA version is 10.0

@mrshenli I changed the framework myself, maybe that is why these versions are N/A, but I didn't touch the distributed part.

[2019-05-03 13:51] benjaminr commented on #19277
Just a heads up, don't think I'm going to get time to look at this any time soon. Happy for someone else to look at it instead.

[2019-05-03 13:57] sndnyang commented on #18903
@orionr   Hi, sorry, I can't import tensorboard
[code]

[2019-05-03 13:58] sndnyang commented on #18903
By the way, I have installed tensorboard.

In [2]: import tensorboard

In [3]:

[2019-05-03 14:15] #17572 closed

[2019-05-03 14:31] hengfun opened #20102 "LSTM forget bias must be initialized properly"
## 🚀 Feature
LSTM forget bias must be initialized to 1 or 2 for better training.

## Motivation

Please see:
https://pdfs.semanticscholar.org/1154/0131eae85b2e11d53df7f1360eeb6476e7f4.pdf
http://proceedings.mlr.press/v37/jozefowicz15.pdf

"This problem is addressed by simply initializing the forget
gates bf to a large value such as 1 or 2. By doing so, the
forget gate will be initialized to a valu

[2019-05-03 14:38] stephenroller commented on #18853
Just ran with pytorch 1.1 given the release:

[code]

[2019-05-03 14:44] mfuntowicz commented on #19092
Would a context manager be useful to allow the user to override the memory format of allocated tensors within the manager scope to specific format ?

[code]

[2019-05-03 14:46] orionr commented on #18903
@sndnyang, please try `pip install tb-nightly` for now (it should get to the release channel soon) to get 1.14 and then try again. Let me know if that works for you.

[2019-05-03 15:01] VitalyFedyunin commented on #19092
I don't like the idea of context manager, as it will loosen up control of memory_format.

For example:

[code]

When explicit memory_format makes it clear:

[code]

If necessary we can add syntax to allow:

[code]

[2019-05-03 15:03] SsnL opened #20103 "[FR] magma for cuda 10.1"

[2019-05-03 15:03] VitalyFedyunin commented on #19092
@raghuramank100 there is no need to permute.
[code]
Will do all dirty work for you, keeping dims order the same as in x.

So:
[code]

[2019-05-03 15:03] SsnL commented on #20100
Likely due to the fact that magma100 is incompatible with cuda 10.1. I created an issue for this #20103

[2019-05-03 15:08] zou3519 commented on #8938
Instead of using the nn.LSTM, one alternative to get the cell state from the last layer is to write an LSTM via the PyTorch JIT and have it return what you'd like. The JIT optimizes its LSTMs pretty well so the performance should be similar to that of nn.LSTM for many use cases.

See here for more details: https://pytorch.org/blog/optimizing-cuda-rnn-with-torchscript/

[2019-05-03 15:20] sndnyang commented on #18903
@orionr , Hi,  the same question when I run  ` dummy_input = (torch.zeros(2, 1, 28, 28),); writer.add_graph(MLP(None), dummy_input, True)`

[code]

and what's more (I'm not sure if it's an issue) after the previous exception.

[code]
Thank you so much!

[2019-05-03 15:34] orionr commented on #18903
Thanks for the feedback, @sndnyang - very helpful. We'll clean this up. @lanpa, FYI.

[2019-05-03 16:04] mfuntowicz commented on #19092
@VitalyFedyunin That makes sense.

From a user point of view, the naming of the method (if it stays like this) seems misleading to me as "to" is already the recommended way for transferring Tensor to different devices.

Also, what about something like [Numpy's one](https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.asfortranarray.html) for converting C_ORDER and F_ORDER arrays ?

[c

[2019-05-03 16:39] eellison commented on #16123
Is this possible yet with first class modules?

[2019-05-03 16:50] raghuramank100 commented on #19092
@VitalyFedyunin : I understand that the conversion to a different layout eliminates the need for users to permute. However, once this functionality is available in torch, what would happen if users called the functions in the sequence I outlined above? We should atleast have a warning/error message stating that the layout transformation failed.

[2019-05-03 16:55] thuyen commented on #16847
@eellison It works. Thanks!

[2019-05-03 17:19] VitalyFedyunin commented on #19092
This is going to be possible only when we implement named tensors. Because right now:

[code]

Nobody can tell me if I just created nchw or nhwc.

[2019-05-03 17:44] mrshenli commented on #20086
@chandlerzuo is this behavior expected?

[2019-05-03 17:50] kohr-h commented on #5853
This has long been solved, see #2953

[2019-05-03 17:51] mrshenli commented on #19925
@SerailHydra The sync fix is after 1.0 (#18465). Could you please try the latest master? If it still breaks I will take a look.

[2019-05-03 17:59] SerailHydra commented on #19925
@mrshenli I did try installing later version of PyTorch, however my user programs are not compatible with later version. Could you tell me where the critical code diff is I can take a look and fix myself.

[2019-05-03 18:18] suo commented on #20095
Fixed by #20106

[2019-05-03 18:28] suo commented on #20090
cc @driazati

[2019-05-03 18:30] suo commented on #20099
@wanchaol, looks like a failure in the fuser. Can you take a look?

[2019-05-03 19:07] suo commented on #16847
Closing as we support this in the tracer now.

[2019-05-03 19:07] #16847 closed

[2019-05-03 19:10] suo commented on #18569
Closing this as it's been folded into #19070. Feel free to reopen if you think the proposed fix is not enough

[2019-05-03 19:10] #18569 closed

[2019-05-03 19:14] driazati commented on #19395
Fixed in #19678

[2019-05-03 19:14] #19395 closed

[2019-05-03 19:32] neerajprad commented on #17842
@pgromano - I don't think that the change above is backwards compatible without incorporating @fritzo's snippet, but combining the two should work fine. I think we should support both varargs as well as list/tuples for backward compatibility, and also to keep things consistent with other pytorch constructors that allow for both varargs and iterable style size specification.

For user defined distr

[2019-05-03 20:15] pgromano commented on #17842
Yes, y'all are absolutely right. I hadn't considered user-defined distributions before. Let me know if y'all want to move forward, and I'm happy to take on writing in the changes.

[2019-05-03 20:30] wanchaol commented on #20099
@hrpan I am actively debug on this. if you want to get unblocked, this will work back to normal if you comment out `with torch.no_grad():`

[2019-05-03 20:36] johntiger1 commented on #3431
Was this fixed?

[2019-05-03 20:41] #5853 closed

[2019-05-03 20:42] mrshenli commented on #19925
@SerailHydra For `ProcessGroupNCCL::broadcast`, [here](https://github.com/mrshenli/pytorch/blob/400a674a2aeec1d3a4eac22f948de7fdebddb590/torch/lib/c10d/ProcessGroupNCCL.cpp#L448-L452) are the lines that need to be added. It avoids deleting tensors before the send is done.

Regarding the backward compatibility issue, what are the API changes that caused the problem?

[2019-05-03 20:46] pjh5 opened #20111 "Split libtorch binary build CI job into separate variants"
We should move this loop https://github.com/pytorch/builder/blob/master/manywheel/build_common.sh#L120 into separate jobs.

Right now the libtorch job can take a ridiculous amount of time. This should help greatly.

[2019-05-03 20:48] SerailHydra commented on #19925
@mrshenli Thanks for your info, I will check it out myself.

As for the compatibility issue, it is been a while so I cannot remember exactly, however I am pretty sure that it is one of the following repos that gave me the compatibility issue:

https://github.com/mlperf/training/tree/master/speech_recognition
https://github.com/mlperf/training/tree/master/rnn_translator
https://github.com/huggingfa

[2019-05-03 20:50] soumith commented on #8938
considering that using custom RNNs is the only way this is possible (because nn.LSTM's backing CUDNN LSTM does not allow extraction of intermediate states), I am closing this request with @zou3519 's answer above as the way forward.

[2019-05-03 20:50] #8938 closed

[2019-05-03 20:53] EvenOldridge commented on #2517
I'm in a similar situation, trying to do preprocessing on GPU via RAPIDS and then passing the already on GPU tensors to the dataloader and running into this same issue.  I've tried spawn (and forkserver) but haven't been able to get either working.  Everything works fine with num_workers=0, but the throughput is less than half that of a dataloader that's using CPU memory and 4 workers.

It would b

[2019-05-03 20:57] zhangguanheng66 commented on #19422
Hey, I will give this a shot.

[2019-05-03 20:58] #1906 closed

[2019-05-03 21:01] zhangguanheng66 commented on #1552
I'm going to take a look and see how we can implement this in pytorch core.

[2019-05-03 21:03] zhangguanheng66 commented on #8049
Thanks @lobpcg . I will take a look and implement it soon.

[2019-05-03 21:08] soumith commented on #14354
Fixed on master via @ljk53 's PRs

[2019-05-03 21:08] #14354 closed

[2019-05-03 21:08] soumith commented on #15427
Fixed on master via @ljk53 's PRs

[2019-05-03 21:08] #15427 closed

[2019-05-03 21:08] soumith commented on #14258
Fixed on master via @ljk53 's PRs

[2019-05-03 21:08] #14258 closed

[2019-05-03 21:08] soumith commented on #14280
Fixed on master via @ljk53 's PRs

[2019-05-03 21:08] #14280 closed

[2019-05-03 21:08] lijunzh commented on #1552
@zhangguanheng66 That will be very helpful. Now, I load my data into CPU and do the interpolation by NumPy and then load it back to GPU. I will save much time for me to do everything inside the GPU.

[2019-05-03 21:08] soumith commented on #13116
Fixed on master via @ljk53 's PRs

[2019-05-03 21:08] #13116 closed

[2019-05-03 21:08] soumith commented on #9752
Fixed on master via @ljk53 's PRs

[2019-05-03 21:08] #9752 closed

[2019-05-03 21:08] soumith commented on #7589
Fixed on master via @ljk53 's PRs

[2019-05-03 21:08] #7589 closed

[2019-05-03 21:11] ailzhang commented on #1552
@zhangguanheng66 IIRC there're ongoing work migrating TH implementations to Aten for many interpolation modes. Good to check with @ezyang and @fmassa on this. :D

[2019-05-03 21:18] zhangguanheng66 commented on #1552
@ailzhang thanks for the remind. Will talk to Ed next week.

[2019-05-03 21:19] lobpcg commented on #8049
Great,m thanks! I am very busy and expect it getting worse, so I would not be able to do any coding myself, but glad to help with advice.  Please let me know if you have any questions on the abstract implementation proposed in  https://github.com/lobpcg/blopex-python/blob/master/README.md Do you want me to add you to this repository?

[2019-05-03 21:27] vfdev-5 commented on #20086
I think this is just a problem of the visualization:
[code]
gives
[code]
Optimizer has correct values inside. As it is now implemented using iterative computation, `get_lr()` seems give weird values...

[2019-05-03 21:28] zhangguanheng66 commented on #8049
That would be great.@lobpcg

[2019-05-03 21:32] smileeok commented on #19625
Any update on this? Any other way of asynchronously copying GPU memory to CPU memory?

[2019-05-03 21:35] colesbury commented on #3431
@johntiger1 yes

[2019-05-03 21:40] milos-popovic opened #20113 "[JIT][script] JIT for torch.norm ignores argument defaults"
## 🐛 Bug

torch.norm `p` argument default is ignored by JIT

## To Reproduce

Steps to reproduce the behavior:

1.
[code]

fails with:

2.
[code]
Works fine

## Environment

Collecting environment information...
PyTorch version: 1.1.0
Is debug build: No
CUDA used to build PyTorch: 9.0

OS: Microsoft Windows 10 Pro
GCC version: Could not collect
CMake version: version 3.9.0-rc5

Python version: 3.6

[2019-05-03 21:41] lobpcg commented on #8049
Done, please accept.

[2019-05-03 21:52] pk-g commented on #19374
The issue here seems to be with upsample upon export. Please feel free to review the proposed fix #20116 on this.

[2019-05-03 22:11] Krovatkin commented on #20101
@oldnaari

Could you please try calling `trace on your `model` rather than `model.forward`?  It will still be tracing `model.forward`, but it will also capture all module's parameters.

[code]

We are going to split `trace` into `trace` and `trace_module` and then we could consider on improving an error message for this particular case.

[2019-05-03 22:17] SsnL opened #20117 "[FR] [RFC] add Sequential.append & .extend"
A common pattern people use in `__init__` of a `nn.Module` is to build a `list` first and then feed it into `nn.Sequential` because `Sequential` doesn't support many handy methods existing on `list`. E.g.,

[code]

This is totally unnecessary if we can just provide `.append` and `.extend` on `Sequential`.

[2019-05-03 22:21] SsnL commented on #20101
@Krovatkin But according to https://github.com/pytorch/pytorch/issues/19070, `torch.jit.trace(model.forward, torch.randn(1, 1, 3, 3))` would eventually also work (by the 2nd syntax sugar), right?

[2019-05-03 22:40] #19940 closed

[2019-05-03 23:01] Krovatkin commented on #20101
@SsnL , #19070, I believe, addresses a slightly different issue. Namely, it allows to trace multiple methods as a part of a single module (https://github.com/pytorch/pytorch/pull/19905)

[2019-05-03 23:07] SsnL commented on #20101
@Krovatkin Yes. I agree that this is orthogonal with `trace_module`. What I was asking is that, in the scenario of tracing a single module method, shouldn’t `trace(n.forward, x)` still work eventually, because it would be converted to `trace(n.forward.__self__, x)`?

[2019-05-03 23:07] SsnL commented on #20101
@Krovatkin Yes. I agree that this is orthogonal with `trace_module`. What I was asking is that, in the scenario of tracing a single module method, shouldn’t `trace(n.forward, x)` still work eventually, because it would be converted to `trace(n.forward.__self__, x)`?

[2019-05-03 23:51] Krovatkin commented on #20101
@SsnL I honestly don't know how @zdevito wants us to handle this particular case.
If it's a truly `static` function (i.e. it doesn't use module's parameters) we wouldn't want to necessarily create a whole module to host it, since we now have standalone functions. This is exactly how `trace` works now. It will create a standalone function even for module's methods:

[code]

 On the downside, if we

[2019-05-04 00:00] driazati commented on #18720
Can you also post the C++ code you were using the load the module?

[2019-05-04 00:06] MichaelDylan77 opened #20118 "Unable to import 1.1 when installing with pip"
## 🐛 Bug

It seems there is an issue with the pip installation of 1.1. After upgrading, I get an error when calling `import torch`.

## To Reproduce

Steps to reproduce the behavior:

1. Install torch==1.1.0 with pip

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/anaconda3/envs/torch/lib/python3.6/site-packages/torch/__init__.py", line 79, in <module>
    from t

[2019-05-04 00:10] jamesr66a opened #20119 "[JIT] Source highlighting doesn't line up when tabs are used for indentation"
[code]

[code]

[2019-05-04 01:06] crcrpar commented on #20117
FYI: [chainer.Sequential](https://docs.chainer.org/en/latest/reference/generated/chainer.Sequential.html#chainer.Sequential) supports those methods and could be a reference.

[2019-05-04 01:51] neerajprad commented on #17842
Sorry, the snippet above should work even for user-defined distributions that are calling `Distribution._extended_shape`, just that the `sample` method's interface will differ.

Sounds good to me. I think it will be nice to have consistency with other tensor constructors. @fritzo - what do you think?

[2019-05-04 01:56] johntiger1 commented on #9160
Not quite, since we can't swap out `nn.BatchNorm1d()` with `nn.Sequential()` directly.

In particular, running your input x through nn.Sequential() returns none for me

[2019-05-04 02:05] SsnL commented on #20117
@crcrpar Thanks for the reference! Chainer also has `insert`, `pop`, and `repeat`, all of which could be useful. I'm curious about `flatten` though, what's the use of that? :)

[2019-05-04 02:09] MilesCranmer commented on #9160
FYI that PR has been merged. nn.Identity() is in master.

[2019-05-04 02:22] johntiger1 commented on #9160
Thanks! Did not realize that. Here is a link to documentation for anyone in the future :)
https://pytorch.org/docs/stable/nn.html#identity

[2019-05-04 02:24] johntiger1 commented on #3431
Thanks, yep it is `non_blocking` now from my understanding

https://pytorch.org/docs/stable/tensors.html#torch.Tensor.cuda

[2019-05-04 02:52] crcrpar commented on #20117
TL; DR: the method is for better performance.

In Chainer, `Link`, the base class of `Sequential`, `Chain`, and concrete NN layers w/ learnable parameters such as Conv & BN has `repeat` method that creates a new `Sequential` object from itself [docs](https://docs.chainer.org/en/stable/reference/generated/chainer.Link.html#chainer.Link.repeat).
e.g. `Linear(...).repeat(2)` is equivalent to `Sequent

[2019-05-04 02:55] SsnL commented on #20117
I see. Thanks!

[2019-05-04 03:52] cy-xu commented on #1615
Hi, a follow up on a different perspective. I manual seed both pytorch and numpy, and tested on a single GPU to get matching random numbers. But I train on the cluster and the scheduler assigns me a to a random GPU each time, then I found that numpy still produce identical numbers across different GPU but numpy's random number is different on different cards... Did anyone notice this before?

[2019-05-04 04:31] iArunava opened #20122 "Is the `device=` parameter required in torch.FloatTensor and similar ones"
Hey!

[code]

But,
[code]
works!

Also,
[code]
works!

---

So, is the `device=` really needed in `torch.FloatTensor` ?
Or is this some device compatibility issues or like that?

[2019-05-04 04:40] soumith commented on #20122
`torch.FloatTensor` is a legacy constructor and doesn't support all types.
To answer your question, i think `torch.cuda.FloatTensor` might be what you are looking for -- but please dont use either. Just use `torch.empty(..., device='cuda')`

[2019-05-04 04:40] #20122 closed

[2019-05-04 05:19] wangqi1113 opened #20123 "RuntimeError cudnn error cudnn_status_alloc_failed"
python version: 3.6.4
pytorch version: 1.1.0
cuda version: 9.0
cudnn version: 7
win10

[2019-05-04 05:31] iArunava commented on #20122
Okay, thanks.

[2019-05-04 06:01] SsnL opened #20124 "[FR] Warn if scheduler.step() is called but optim.step has not been called"
In 1.1 we made a major BC breaking change, where the order of calling lr schedulers should be changed from
[code]
to
[code]

This silently breaks many code, and makes it impossible to write consistent code for 1.0.1 and 1.1. So I propose to add a warning in `scheduler.step` where it looks at the corresponding optimizer, and checks if its `.step` has been called.

If it has not been called, this is

[2019-05-04 06:01] SsnL commented on #20124
cc @vfdev-5

[2019-05-04 06:07] 8enmann opened #20125 "NCCL hang in PyTorch Distributed Data Parallel for Mixed Precision Training"
## 🐛 Bug

On an AWS p3.16xlarge machine, I'm using the mixed precision training from https://github.com/NVIDIA/Megatron-LM checked in at https://github.com/cybertronai/transformer-xl
When I run with [adaptive softmax](https://github.com/cybertronai/transformer-xl/blob/master/mem_transformer.py#L477) with 8 GPUs and [apex mixed precision](https://github.com/cybertronai/transformer-xl/blob/master/fp

[2019-05-04 06:46] 8enmann commented on #20125
This appears to have been fixed in 1.1, will reopen if it's broken after upgrade.

[2019-05-04 06:48] 8enmann commented on #20125
Nope, still broken
[code]

[2019-05-04 06:56] 8enmann commented on #20125
I ran with n_procs=1 and suddenly a magic new error message appeared telling me to try adding `find_unused_parameters=True` to `DistributedDataParallel`. When I did that, it worked! Thank you for good error messages!!!

[2019-05-04 06:56] #20125 closed

[2019-05-04 07:37] SsnL opened #20128 "[FR] make IncompatibleKeys print nicer when there is no error"
Now it prints `IncompatibleKeys(missing_keys=[], unexpected_keys=[])` upon a successful `load_state_dict`, and could be quite confusing. This can happen a lot, e.g., in jupyter notebooks.

We can just subclass and overwrite `__repr__`.

[2019-05-04 07:46] kangkang59812 opened #20129 "GRUcell has a wrong formula"
## 📚 Documentation

https://pytorch.org/docs/stable/nn.html?highlight=grucell#torch.nn.GRUCell
$$
\begin{aligned} r &=\sigma\left(W_{i r} x+b_{i r}+W_{h r} h+b_{h r}\right) \\ z &=\sigma\left(W_{i z} x+b_{i z}+W_{h z} h+b_{h z}\right) \\ n &=\tanh \left(W_{i n} x+b_{i n}+r *\left(W_{h n} h+b_{h n}\right)\right) \\ h^{\prime} &=(1-z) * n+z * h \end{aligned}
$$

For the last one , It should be (1-z)

[2019-05-04 09:13] Kaixhin commented on #9572
@t-vi with Pytorch 1.1 now out, what do you think is the best way forward on these?

[2019-05-04 10:03] t-vi commented on #9572
JIT is definitely the way to go here (see the PyTorch blog), even if the backward optimal is still waiting to be merged.

[2019-05-04 11:51] kefirski commented on #20100
@SsnL You are right, downgraded CUDA version to 10.0, everything works fine

[2019-05-04 11:51] #20100 closed

[2019-05-04 12:10] AdityaKansal commented on #3226
It would be great help if someone can please help or guide me through a link to understand why we are not allowing integers value while calculating gradients? As per my understanding, once we have the d/dx of  some function, then we should be able to calculate its value at integer value of x as well.

[2019-05-04 12:26] andrewnaguib commented on #20056
@ifedan I'm not sure how you guys triage things. But, I wanted to tell you that I edited the issue in case you want to edit labels.

[2019-05-04 13:01] Hshihua commented on #7890
@wangkenpu The same issue with you. Have you found a valid solution to address such a problem?

[2019-05-04 13:07] educob commented on #11326
I had to reinstall conda, pytorch, pyqt5 and I get the same error.

Linux mint 18.3
Anaconda2.2018.12
python: 3.7.3.
pytorch: 1.1.0
pyqt: 5.9.2

If I import torch soon enough it works ok.

[2019-05-04 14:34] soumith commented on #9572
I'm going to close this issue, referencing the blog post https://pytorch.org/blog/optimizing-cuda-rnn-with-torchscript/

Custom RNNs via JIT are the way forward.

[2019-05-04 14:34] #9572 closed

[2019-05-04 14:44] Kaixhin commented on #9572
I would say the goal is to provide these out-of-the-box for end users. JIT is great for custom methods, but right now anyone who wants to use layer norm in an RNN (really common use-case) will have to copy over a reference implementation for their own projects. @t-vi is currently drafting a lot of the features for most of these [here](https://github.com/t-vi/pytorch-tvmisc/blob/master/rnn/jited_rn

[2019-05-04 17:42] VictorZuanazzi commented on #1620
The suggestion of @apaszke works really well for me. I am training GANs:

`z = torch.randn(current_batch, latent_dim, device = device)
l_G = -torch.log(discriminator(generator(z))).sum()
l_G.clamp(epsilon)
optimizer_G.zero_grad()
l_G.backward()
optimizer_G.step()`

[2019-05-04 19:03] Kaixhin commented on #20102
Noted in https://github.com/pytorch/pytorch/issues/9572. The issue is currently closed, but hopefully there will be more customisable RNNs with this as an option for LSTMs.

[2019-05-04 19:14] meganset opened #20130 "Need to include ATen/Parallel.h for get/set_num_threads"
## 🐛 Bug

Prior to 1.1.0, the c++ interface was able to reference
[code]
without additional includes beyond: _torch/torch.h_

now, it looks like it is necessary to explicitly include:
ATen/Parallel.h

this is easy enough to do, but seems like this should be part of the overall include,
yes(?)

thanks

[2019-05-04 19:21] soumith commented on #20130
yea this should be fixed. cc: @yf225 @ilia-cher

[2019-05-04 19:49] soumith commented on #9572
yes, we can package them in contrib for sure. right now they are shipped in the `benchmarks` repo, which is probably not as accessible.

[2019-05-04 20:17] colesbury commented on #3226
We allow integer values. Floating-point tensors can represent integer values. You can even compute derivatives of functions that are integer-valued (floor(), ceil(), round()), although the derivative will be zero, which might not be useful for optimization.

We don't allow derivatives of functions where the **domain of the function** is limited to integers. That's same as functions on tensors with

[2019-05-04 20:18] colesbury commented on #16667
@ezyang if I mark this as high-priority will it get fixed? 😄

[2019-05-04 21:05] #20023 closed

[2019-05-05 00:46] nrlugg opened #20132 "nn.MultiheadAttention has no `_{get,set}_input_buffer` internals"
## 🐛 Bug

Pretty clear from the title: there are no internal methods `_{get,set}_input_buffer` in the new `nn.MultiheadAttention` module,  so you get the following error when passing an `incremental_state` to the module call

[code]

It would seem that these were lost when porting the [Fairseq implementation](https://github.com/pytorch/fairseq/blob/master/fairseq/modules/multihead_attention.py).

[2019-05-05 01:45] crcrpar commented on #20054
@graykode As to "1. git clone missing", I guess you forgot to pass the `.` to build command because I failed to build when I ran `docker build -t pytorch -f docker/pytorch/Dockerfile`. The right command is **`docker build -t pytorch -f docker/pytorch/Dockerfile .`**.

See: https://github.com/pytorch/pytorch#docker-image

[2019-05-05 02:11] ZZprogrammer commented on #16930
Hi! I got this problem too. I tried to remove my envs and  reinstall pytorch. But it didn't work....
Thanks for any advice!

[2019-05-05 02:32] ivanwilliammd opened #20133 "THCudaCheck FAIL file=/pytorch/aten/src/THC/THCGeneral.cpp"
Hello, my friend are trying her new RTX 2080 8GB, with nvidia driver 410.57

She's currently running some legacy deep learning model using pytorch 0.4.1 (incompatible with pytorch 1.0) due to NMS and RoI align still using ffi instead of cpp. The nvidia driver 410.57, and still using cuda 9.0.
She gets THCudaCheck FAIL file=/pytorch/aten/src/THC/THCGeneral.cpp silent error, while the model still ru

[2019-05-05 02:52] NhanTran96 commented on #16930
Please refer to my answer [here](https://github.com/pytorch/pytorch/issues/18484).

[2019-05-05 03:07] wangkenpu commented on #7890
1. try to use nn.LSTMCell instead of nn.LSTM
2. try to redefine hidden shape and transpose it in each forward step

[2019-05-05 03:55] graykode commented on #20054
@crcrpar No it is not matter, it's same whether `.` is or not.

[2019-05-05 04:00] graykode opened #20134 "ERROR: Command "python setup.py egg_info" when dockerfile build"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

`docker build -t pytorch -f Dockerfile .`
[code]

## Expected behavior

This will be issue
[code]

## Environment

 - PyTorch Version (e.g., 1.0): lastest
 - OS (e.g., Linux): Window10 Home
 - How you installed PyTorch (`conda`, `pip`, source): source
 - Build command you used (if compiling from source): `docker build -t pytorch -f Docke

[2019-05-05 04:33] AdityaKansal commented on #3226
Thank you so much your detailed answer.

[2019-05-05 05:10] vishwakftw commented on #20123
Could you please provide a script that can reproduce the issue?

[2019-05-05 05:21] MaxLiu245 commented on #20070
Well, I meet this issue, too.

My Win10 supports me ```CUDA 9.1``` so I thought I downloaded the right corresponding ```torch```.

I just opened my Anaconda, created a new environment with Python 3.7, then installed ```torch``` and ```torchvision```, and I tried to run

```x = torch.zeros(3, 3, dtype=torch.long)```,

the it gave me ```RuntimeError: _th_uniform_ not supported on CPUType for Long```

[2019-05-05 05:26] denru01 commented on #20037
I have pinpointed the commit that leads to the slowdown. This commit is 465799fab36e81e4aba6bf4d3c1fcd03a3a10f57. Before this commit, the code takes 22.2 secs. After this commit, it takes 106.8 secs. The commit comment states that "Slow down observed on smaller tensors (up to 10% or about 1us per op.)", but I observed 500% slowdown even on my full-fledged code with lots of large tensor movement.

[2019-05-05 07:46] nuomizai commented on #19088
I have the same trouble. By vectorization, do you mean to clip every element separately in a torch tensor? For example,
x = torch.tensor([1,2,3])
x = torch.clamp(x, min=[-1,2,4]) # haven't been supported by torch.clamp yet
# so the result is x = torch.tensor([1,2,4])

[2019-05-05 08:59] fmassa commented on #19088
@nuomizai no, this is not what they meant by vectorization. You can btw achieve what you want with `torch.max(tensor1, tensor2)`.

[2019-05-05 09:02] nuomizai commented on #19088
@fmassa Yeah, you remind me! Thanks a lot~

[2019-05-05 09:13] lihuanglx opened #20138 "Inconsistant values of lr_scheduler.get_lr and lr in optimizer.param_groups"
## 🐛 Bug

After upgrading to 1.1.0, the value returned by `lr_scheduler.get_lr` is confusing comparing to the value inside `optimizer.param_groups`.

## To Reproduce

Code:

[code]

Output:

[code]

We got inconsistant values. The two values are the same in the first line, but different in following lines by lr decay factor `gamma = 0.9`.

## Expected behavior

At least we should have consistant v

[2019-05-05 09:20] codexetreme commented on #20118
I have the same issue when running with python 3.6, if you use 3.7 however, it works. I haven't checked for other versions though

[2019-05-05 09:27] codexetreme commented on #20138
If this is a bug, can I try to work on it?

[2019-05-05 09:34] codexetreme commented on #20117
Can I work on this? I would like to implement the features discussed here :)

[2019-05-05 09:38] zerollzeng commented on #19835
also have this problem when building tensorRT samples from source, error occured as follow
[code]
heres how I install onnx:
[code]

[2019-05-05 09:41] fmassa commented on #20037
Do you see the same slowdown if your dataset return torch tensors instead of numpy arrays?

[2019-05-05 10:10] glenn-jocher commented on #19374
Same issue here. Export works in 1.0.1 but is broken in 1.1.

[2019-05-05 10:11] LIMr1209 opened #20140 "TensorBoard logging requires TensorBoard with Python summary writer installed. This should be available in 1.14 or above"
Traceback (most recent call last):
  File "/home/tian/.conda/envs/jiqi/lib/python3.6/site-packages/torch/utils/tensorboard/__init__.py", line 2, in <module>
    from tensorboard.summary.writer.record_writer import RecordWriter  # noqa F401
  File "/home/tian/Desktop/ai/machine-learn/Image_recognition/tensorboard.py", line 3, in <module>
    from torch.utils.tensorboard import SummaryWriter
ImportE

[2019-05-05 10:12] LIMr1209 commented on #20140
tensorboard --logdir=runs
TensorBoard 1.14.0a20190504 at http://tian-ORC:6006/ (Press CTRL+C to quit)

[2019-05-05 11:42] kaszperro commented on #20118
Probably duplicate of #20030
try `brew install libomp `

[2019-05-05 12:16] vfdev-5 commented on #20138
@lihuanglx I would say this is due to recursive reimplementation of LR scheduler, https://github.com/pytorch/pytorch/pull/14010

[2019-05-05 12:18] aliYaHf commented on #19374
I have the same problem. Is there any solution?
`Traceback (most recent call last):
  File "tools/train.py", line 253, in <module>
    main()
  File "tools/train.py", line 138, in main
    writer_dict['writer'].add_graph(model, (dump_input, ))
  File "/root/anaconda3/lib/python3.6/site-packages/tensorboardX/writer.py", line 566, in add_graph
    self.file_writer.add_graph(graph(model, input_to_mod

[2019-05-05 12:24] FingerRec commented on #16831
In pytorch1.1, code works well

[2019-05-05 13:21] hanochk opened #20141 "AvgPool2d: when kernel is NxN while Input is MxN w/o padding : not work right"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

self.model = nn.Sequential((nn.AvgPool2d(kernel_size = 6 )))(x)
1.x = [16,1,3,6]
1.No error message despite the fact that no padding was allowed by configuration

## Expected behavior

 I was expecting an error message like in TF

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.github

[2019-05-05 14:11] zhaoyue-zephyrus opened #20142 "Convolution over tensor with different batch-sizes gets different results on RTX 2080Ti"
## Convolution over tensor with different batch-sizes gets different results on RTX 2080Ti

## To Reproduce

I tried to use both pytorch 1.0.0 and the recently released pytorch 1.1.0 and run the following test codes.

[code]

## Expected behavior

I expected all of the outputs to be zeros. However, on RTX 2080Ti, I get some output like below:
[code]
As a reference, on Titan Xp, the results is
[cod

[2019-05-05 14:26] huangbiubiu commented on #10443
`conda` is also a solution:

[code]

[2019-05-05 14:31] soumith commented on #16831
thanks for reporting @FingerRec

[2019-05-05 14:31] #16831 closed

[2019-05-05 14:33] CyFeng16 commented on #16831
@FingerRec glad to hear!

[2019-05-05 14:46] mertensu commented on #5912
Hi @adaitche, are there any updates on this issue? How did you solve it?

[2019-05-05 16:00] PetroSokirniy opened #20143 "TripletMarginLoss example isn't clear"
## 📚 Documentation

The example in https://pytorch.org/docs/stable/nn.html#tripletmarginloss isn't very clear. It doesn't specify which input is the anchor, positive, and negative.
Current:

Proposed:

[2019-05-05 16:04] codexetreme commented on #20024
Can I work on this ?

[2019-05-05 16:46] Kaixhin opened #20144 "maybe_group && maybe_group == fused_cat ASSERT FAILED"
## 🐛 Bug

I get the following error during the backwards pass of a JITted model that I'm training. The trace is as follows:

[code]

## To Reproduce

This is from my [PlaNet repo](https://github.com/Kaixhin/PlaNet), where I'm trying to replace `nn.GRUCell` with my own JIT variant:

[code]

## Environment

[code]

[2019-05-05 18:01] SsnL commented on #20143
Thanks! Feel free to submit a PR. We will gladly accept it.

[2019-05-05 18:38] soumith commented on #20142
1.2948e-07 and 9.3088e-08 are near enough to 0.0 for doing operations in float32 precision

[2019-05-05 18:38] #20142 closed

[2019-05-05 19:08] MichaelDylan77 commented on #20118
@kaszperro definitely is a duplicate. Looks like that issue was reopened. Installing libomp does indeed work as a quick-fix for this.

[2019-05-05 21:28] mechamoth commented on #1552
Just as a heads up, some of the fast.ai students ended up replicating some of [TensorFlow's image warping ops](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/image/python/ops) (along with bilinear interpolation) [in a standalone repo](https://github.com/zcaceres/spec_augment/blob/master/SparseImageWarp.ipynb). It's a pretty direct port and probably doesn't need to be as co

[2019-05-05 21:29] mrshenli commented on #19925
@SerailHydra Does the fix solve the problem? May I close this issue?

[2019-05-05 23:27] SerailHydra commented on #19925
@mrshenli not exactly. I found that adding instrumentation alone doesn't seem to work because there are too many cascading dependencies and changes required. Implementations of lots of packages have to be changed as well.

I tried using pytorch 1.1 directly. The problem is that the speech repo has warp_ctc required. This repo is not updated enough to work with 1.1:
https://github.com/SeanNaren/war

[2019-05-06 01:04] PetroSokirniy commented on #20143
Cool, thank. Never committed to OSS before.

[2019-05-06 01:57] denru01 commented on #20037
@fmassa I tried 4 combinations.
Without this commit + return numpy arrays (see code 1): 22.2 secs.
With this commit + return numpy arrays (see code 1): 106.8 secs.
With this commit + return torch tensors (converted from numpy arrays, see code 2): 105.0 secs.
With this commit + return torch tensors (native, see code 3): 87 secs.

Code 1:
```return np.random.rand(3, 800, 800).astype('f'), np.random.

[2019-05-06 02:31] GeniusGaryant commented on #20140
It seems that you worked? If not, maybe this link https://www.endtoend.ai/pytorch-tensorboard may help you.

[2019-05-06 02:42] SixerWang commented on #19453
@ispine Thanks for your response. I haven't solved the core dump problem. I think the core dump problem may be caused by that the script doesn't release gpu memory of LSTM correctly.

[2019-05-06 02:43] LIMr1209 commented on #20140
@GeniusGaryant Thank you very much :blush:

[2019-05-06 02:56] AshwinRJ commented on #9410
Fair enough

[2019-05-06 03:24] SakodaShintaro opened #20146 "CPU Memory leak when using weight_decay in libtorch"
## Bug
When using weight_decay in libtorch, CPU Memory usage is slowly increasing.

## To Reproduce
I used docker container "nvidia/cuda:9.2-cudnn7-devel-ubuntu18.04", stable libtorch(1.1) for cuda9.0. This phenomenon can be reproduced using the mnist example in the pytorch/example repository.

rewrite examples/cpp/mnist/mnist.cpp l.148

[code]

Because the speed of increase is very slow, it may b

[2019-05-06 03:53] ezyang commented on #16667
Not today, though one of my jobs is to figure out how to make that be true :)

[2019-05-06 04:33] chenbohua3 opened #20149 "slice error"
## 🐛 Bug

different behavior of slicing tensor with slices in different tensor type
## To Reproduce

Steps to reproduce the behavior:
[code]

## Expected behavior

if dtype of b is torch.uint8, it works normally like:
[code]
if I change dtype to torch.int64, it woks differently like:
[code]
it seems that the value of slices act as slices instead of the position of no-zero elements
## Environment

[2019-05-06 04:37] Msabih commented on #12506
This is a great example. Is it possible to pass GPU pointer to the tensor and use cv::cuda::GpuMat and cv::cuda::warpPerspective  so that the data remains on GPU ?

[2019-05-06 05:48] LIMr1209 opened #20151 "RuntimeError: Given input size: (2048x1x1). Calculated output size: (2048x-5x-5). Output size is too small at /pytorch/aten/src/THNN/generic/SpatialAveragePooling.c:48"
import torch
import torchvision
from torch.utils.tensorboard import SummaryWriter
from torchvision import datasets, transforms

# Writer will output to ./runs/ directory by default
writer = SummaryWriter()

transform = transforms.Compose([transforms.ToTensor(), transforms.Normalize((0.5,), (0.5,))])
trainset = datasets.MNIST('mnist', train=True, download=True, transform=transform)
trainloader = to

[2019-05-06 05:49] LIMr1209 commented on #20151
Official Example Running Error

[2019-05-06 06:30] SsnL commented on #20140
cc @orionr The error message is confusing. Python summary writer isn't in `TensorBoard 1.14.0a20190301 ` (it is in `TensorBoard 1.14.0a20190505`)

[2019-05-06 06:39] 666xiaohei666 commented on #2706
i met the problem too, do you solve the problem?

[2019-05-06 07:06] 666xiaohei666 commented on #2706
i met the problem too, do you solve the problem?

[2019-05-06 07:25] lqyiii commented on #2706
i did not solve it , i guess that it is a bug of pytorch

[2019-05-06 07:49] One-sixth opened #20153 "JIT scripted indexing with ellipsis and None is not working correctly"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. use torch.chunk on torch.jit.script_method

[code]

## Expected behavior

No exception.

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and

[2019-05-06 08:12] 666xiaohei666 commented on #2706
https://github.com/huaweicloud/dls-example/issues/26
This help me,hope it can help you.

------------------ 原始邮件 ------------------
发件人: "lqyiii"<notifications@github.com>;
发送时间: 2019年5月6日(星期一) 下午3:26
收件人: "pytorch/pytorch"<pytorch@noreply.github.com>;
抄送: "568245360"<568245360@qq.com>; "Comment"<comment@noreply.github.com>;
主题: Re: [pytorch/pytorch] test_multiprocessing.py RuntimeError: unable to

[2019-05-06 08:13] 666xiaohei666 commented on #2926
add these in front of my code solve my ploblem hope can help you.
'''
import sys
import torch
from torch.utils.data import dataloader
from torch.multiprocessing import reductions
from multiprocessing.reduction import ForkingPickler

default_collate_func = dataloader.default_collate

def default_collate_override(batch):
  dataloader._use_shared_memory = False
  return default_collate_func(batch)

s

[2019-05-06 08:14] Joeywzr opened #20154 "convert the model from pytorch to onnx to caffe2, but get a lower accuracy than before"
When I convert the model from pytorch into caffe2, the top1 and top5 accuracy rate on ILSVRC12 dataset became smaller.

The procedure for converting is:

1.convert pytorch into onnx IR
2.convert onnx IR into caffe2

I have tested many pretrained models. All of the accuracy decreased a lot.

![EDFhQJ.png](https://s2.ax1x.com/2019/05/06/EDFhQJ.png)

I don't know what caused the problem. May the inte

[2019-05-06 08:35] yaohuaxin commented on #4981
where torch.cuda.FloatTensor and torch.FloatTensor are defined in the source code?

[2019-05-06 08:36] yinxiaochuan commented on #11886
Please update the warning signal. In the current version (1.1), it still outputs the CUDA_HOST_COMPILER=/usr/bin/gcc-5.

[2019-05-06 08:49] peterjc123 commented on #11886
Okay, I'm on this.

[2019-05-06 09:52] LIMr1209 commented on #20151
have no errors after upgrade  torchvision==0.2.2.post3.

[2019-05-06 10:49] liqima opened #20155 "No module named _msvccompiler"
## ❓ Questions and Help
I tried to install caffe2 in Windows10, vs2017 following [this](https://caffe2.ai/docs/getting-started.html?platform=windows&configuration=compile) and got this problem.
![image](https://user-images.githubusercontent.com/31846112/57220828-60b8ac00-702f-11e9-9cf8-12a952064f91.png)

does anyone known how to solve that?
thanks.

[2019-05-06 11:02] ezyang commented on #19422
Reclassifying this as a documentation issue.

[2019-05-06 11:04] ezyang commented on #2517
@EvenOldridge What you describe, should work. If you can make a small script that repros the issue, please feel free to post it in a new issue. I did a quick search for dataloader spawn/forkserver issues but didn't see anything relevant.

[2019-05-06 11:10] ezyang commented on #19092
Perhaps I misunderstood the original proposal, but isn't the recorded memory format tag supposed to disambiguate this situation?

[2019-05-06 11:12] ezyang commented on #16955
I was looking at this bug again and I realized there is a more fundamental misunderstanding here. You're building a test with CUDA on a Mac... do you actually have an NVIDIA GPU inside your Mac? If you don't, this whole exercise is pointless and even if you did get it to work (by the way, the bug is valid, in the sense that it should work, nothing wrong with cross-compiling on a Mac with no GPUs)

[2019-05-06 11:14] EsdeathYZH opened #20156 "libtorch does not initialize OpenMP/MKL by default"
I find that matrix multiplication is slower in C++ API, so I write the same code in C++ and python and record their execution times, code is as following:

**C++:**
[code]

**Result**:
[code]

**python:**
[code]

**Result**:
[code]

**Testing Environment:**
[code]

It's not a small difference, why is it happen???

[2019-05-06 11:16] ezyang commented on #17108
For the record, this isn't supposed to be necessary, but it's possible this is broken.

[2019-05-06 11:26] ezyang commented on #15848
In all likelihood your `device` value is nonsense. Print it out and see what the problem is.

[2019-05-06 11:27] ezyang commented on #16805
Thanks @truh, that's very useful information

[2019-05-06 13:04] hameerabbasi commented on #16955
;)

[2019-05-06 13:21] voyager112 opened #20161 "Get error when do the backward:“RuntimeError: Tensor: invalid storage offset”?"
When I use pytorch to do the backward grad, get error:
`RuntimeError: Tensor: invalid storage offset at c:\users\administrator\downloads\new-builder\win-wheel\pytorch\aten\src\th\generic/THTensor.cpp:761`

and here are part of codes
[code]

[2019-05-06 13:45] ezyang commented on #2228
How difficult would it be to get the list of methods on ndarray which we literally cannot support without introducing an ndarray type? I feel that this would help people make a more informed decision about the cost of an ndarray type.

[2019-05-06 13:51] peterjc123 commented on #20155
What is the version of your python executable?

[2019-05-06 13:53] peterjc123 commented on #20155
Oh, I see. We don't support building with Python 2.7 on Windows so I don't think a fix is needed here.

[2019-05-06 13:55] peterjc123 commented on #20155
But as a workground, you can take a look here as a reference: https://github.com/pytorch/pytorch/blob/v1.0.1/tools/setup_helpers/ninja_builder.py#L68.

[2019-05-06 14:39] Queuecumber commented on #19970
After working with my IT department, we believe that this is actually a misleading error and that it is actually main memory that is running out, not CUDA memory. We have been unable to reproduce the error when the job is allowed to use more main memory and it explains why the error is coming from a CUDA function which should not throw a cuda OOM error.

[2019-05-06 15:29] orionr commented on #20140
1.14 hasn't been released yet (the above are just master commits), but will be in the near future. This is what we reference in the message. For now, people should install with `pip install tb-nightly` until the 1.14 release.

[2019-05-06 15:30] #20140 closed

[2019-05-06 15:32] izdeby commented on #20161
Please use https://discuss.pytorch.org for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-05-06 15:32] #20161 closed

[2019-05-06 15:39] ezyang commented on #20156
Can you give us more details about how you built the C++ API example and how you got the binary distributions of pytorch and libtorch? Also, what happens if you rerun the benchmark with `OMP_NUM_THREADS=1` on both samples

[2019-05-06 15:50] izdeby commented on #20149
@chenbohua3, can you, please, verify that you are still getting this behavior? I can't repro the issue:
![Screen Shot 2019-05-06 at 11 50 12 AM](https://user-images.githubusercontent.com/47012416/57237416-2af6d180-6ff5-11e9-9f72-0a82b98d1cb9.png)

[2019-05-06 16:03] SsnL commented on #20151
@izdeby I don't know why this needs discussion. The tensorboard example is badly written. The same error happened to me when I tried as well. Instead of doing model hacking like it does, it should just transform the MNIST to rgb in dataset.

[2019-05-06 16:10] izdeby commented on #20133
Please use https://discuss.pytorch.org for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-05-06 16:10] #20133 closed

[2019-05-06 16:14] izdeby commented on #20132
@nrlugg, thanks for reporting the issue! Do you have a self-contained script which we could use to reproduce the problem?

[2019-05-06 16:18] isalirezag opened #20165 "torch.nn.threshold cannot accept tensor as a threshold"
## 🚀 Feature
I think it will be useful if we can pass threshold as a tensor to the threshold function. in this way we can compute the backprop of the threshold tensor and use it in training process.

right now the threshold function just takes non-tensor threshold

[2019-05-06 16:19] SsnL commented on #20103
@izdeby  Why is this closed?

[2019-05-06 16:22] SsnL commented on #20165
We could do this. But the gradient wrt to the threshold tensor will always be zero btw.

[2019-05-06 16:22] Kunlun-Zhu opened #20167 "What kind of cuda version needed for Ubuntu 18.04, and pytorch version"
## ❓ Questions and Help
Cuda 10.1 seems not working
### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-05-06 16:24] izdeby commented on #20103
Sorry, @SsnL, i saw that you referenced a closed issue and there is no description here so i thought it was resolved. Reopening

[2019-05-06 16:24] SsnL commented on #20103
@izdeby No worries :)

[2019-05-06 16:25] fmassa commented on #20149
I believe this behavior is expected: until we disable boolean indexing with `uint8` tensors, this behavior will persist. This was btw one of the reasons why we introduced `bool` tensors in the first place, so that this becomes consistent.

This means that, for now, indexing with a `torch.tensor([0, 1, 1], dtype=torch.uint8)` tensor and with a `torch.tensor([0, 10, 20], dtype=torch.uint8)` gives th

[2019-05-06 16:26] izdeby commented on #20167
Please use https://discuss.pytorch.org for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-05-06 16:26] #20167 closed

[2019-05-06 16:30] SsnL commented on #20165
Btw, isn't this just `max`?

[2019-05-06 16:30] ClementPinard opened #20169 "[extension-cpp] extra_compile_args inplace operations"
## 🐛 Bug

Problem occurs when building multiple extension, and giving the same dictionnary for `extra_compile_args`

## To Reproduce

Very easy to reproduce with https://github.com/pytorch/extension-cpp/tree/master/cuda

change the setup.py to have a second fake extension and add extra_compile_args.
this version of `setup.py` won't work, but the second proposed version will:

[code]
This outputs (

[2019-05-06 16:31] isalirezag commented on #20165
I think that can so useful.
It wont always be zero, it might be a little complicated though...

hmmm why 'max'?

[2019-05-06 16:32] isalirezag commented on #20165
i was trying to do it with `clamp` but i couldnot make that work

[2019-05-06 16:34] SsnL commented on #20165
`max(tensor, threshold)[i]` gives you `tensor[i]` if `tensor[i] > threshold[i]`, and `threshold[i]` otherwise.

[2019-05-06 16:46] pietern commented on #19972
@lxiaorui It works when you pass an empty list. The empty list evaluates to `False`.

[2019-05-06 16:48] isalirezag commented on #20165
I see, yes it is kinda similar. but when you use `max` you threshold them with the max value but in the threshold function you have the ability to threshold them with whatever value you desire

[2019-05-06 16:53] SsnL commented on #20165
I think you still threshold with arbitrary values.

On Mon, May 6, 2019 at 12:49 Alireza <notifications@github.com> wrote:

[2019-05-06 17:01] isalirezag commented on #20165
maybe im making a mistake. can you please provide an example?
in torch.threshold you have the freedom to choose what value to put instead of the elements that are less than the threshold.
when i tried max it was replacing the values below the threshold with the threshold value

[2019-05-06 17:10] ezyang commented on #20149
Just to clarify what @fmassa said, the uint8 behavior is *not* the expected behavior; if you pass in a tensor to the index, we're supposed to interpret the tensor values as indices you want to index out, and not as a boolean mask. The fact that uint8 is interpreted as a boolean mask is something we expect to change eventually. We can leave this issue open for now to keep track of the matter.

cc @

[2019-05-06 17:12] zhangguanheng66 commented on #19970
Thanks for the update. I will just close the issue. If you have any questions, please feel free to re-open the issue.

[2019-05-06 17:12] #19970 closed

[2019-05-06 17:13] ezyang commented on #20092
cc @lanpa

[2019-05-06 17:14] ezyang commented on #20151
cc @lanpa

Regardless of where the bug is, the example should be fixed.

@fmassa thinks this might be a tracing related issue. @lanpa, if you agree, please retag this issue 'jit'

[2019-05-06 17:15] izdeby commented on #20118
dup of #20030. lets discuss there

[2019-05-06 17:15] #20118 closed

[2019-05-06 17:16] ezyang commented on #20030
cc @JerryShih

[2019-05-06 17:17] ezyang commented on #20030
cc @pjh5 @kostmo

[2019-05-06 17:18] ezyang commented on #20154
@fmassa suggests that the problem might be related to preprocessing differences between the PyTorch and Caffe2. It's hard to say without seeing the code however.

[2019-05-06 17:20] ezyang commented on #20102
Related to #18182

[2019-05-06 17:21] mrshenli commented on #20037
CC @VitalyFedyunin

[2019-05-06 17:22] ezyang commented on #20102
Yes, we'd accept this change, but in the context of the BC knob proposed and accepted in #18182 so you won't be able to change this until the BC knob is created.

[2019-05-06 17:25] ezyang commented on #19739
If someone can figure out a fix for this, that would be great, but given that a good workaround exists, it's probably going to be a while before we get around to looking at it.

[2019-05-06 17:26] ezyang commented on #19996
Do you have a self-contained script which reproduces this problem?

[2019-05-06 17:28] ezyang commented on #19996
cc @ilia-cher

[2019-05-06 17:35] fmassa commented on #19996
This might be related to https://github.com/pytorch/pytorch/pull/19011 , as we set `num_threads` to 1 in the DataLoader https://github.com/pytorch/pytorch/blob/9005a2c0fc2d981c65b388ccd2ec4be3e1106a66/torch/utils/data/_utils/worker.py#L72

[2019-05-06 17:45] ezyang commented on #18856
This issue is stalled on CircleCI

[2019-05-06 17:47] VitalyFedyunin commented on #20037
@denru01 I wonder if you reverted 465799f to measure performance or checked code prior to it?

[2019-05-06 17:53] denru01 commented on #20037
I did not revert 465799fab36e81e4aba6bf4d3c1fcd03a3a10f57. I directly cloned the newest code from Pytorch and installed from source. I will be able to get 22.x secs if I revert 465799fab36e81e4aba6bf4d3c1fcd03a3a10f57.
Thanks!

[2019-05-06 18:06] ezyang commented on #1552
For the record, it's this PR: #19630. Should be landing soon.

[2019-05-06 18:28] zhangguanheng66 commented on #20132
Good catch. I will resolve this issue.

[2019-05-06 18:44] gchanan commented on #907
Removing high-priority since it was removed previously and added back with no new justification.

[2019-05-06 18:49] skrah commented on #18283
@heiner On Linux using the latest master (9005a2c0fc) I cannot reproduce this.  I'm getting a `c10::Error` and the test case also passes `Valgrind` --- apart from some `definitely lost` leaks, some of them in external packages, but those are a different issue.

[2019-05-06 18:50] j-haj commented on #14686
I have noticed that if I leave the page open in a tab, navigate away for a few minutes and return, the page reloads, which takes a second or two. I would be ok with a slower page load if it only happened once per visit to the page.

[2019-05-06 18:50] skrah commented on #18283
The expected error:

[code]

[2019-05-06 18:55] gchanan commented on #2257
closing this because it's old and we never reproduced it.

[2019-05-06 18:55] #2257 closed

[2019-05-06 18:56] t-vi commented on #20165
You can get the same using `torch.where(inp >= threshold, inp, value)`, if you JIT it, it'll be fast, too. To be honest, I think the `threshold != value` case (i.e. when it's not `max`) seems pretty exotic.

[2019-05-06 18:58] gchanan commented on #2518
I don't actively maintain the benchmark anymore, but the writeup is available at https://github.com/gchanan/pytorch/wiki/Mini-Sequence-Labeler-PyTorch-vs-Dynet.

[2019-05-06 18:58] #2518 closed

[2019-05-06 19:00] gchanan commented on #2575
removing "high priority" because there are workarounds and no reports for almost a year.

[2019-05-06 19:04] gchanan commented on #1907
closing for now since this seems resolved; if you disagree please reopen.

[2019-05-06 19:04] #1907 closed

[2019-05-06 19:05] ezyang commented on #18066
Happening in #19735

[2019-05-06 19:08] zhangguanheng66 commented on #20132
@nrlugg Thanks for bringing up the problem. To fully support the incremental_state function, we need to implement a few additional utils. And we lack of a unit test for the incremental_state function. Instead, I will disable the function for now. If it's needed in the future, please open a feature request.

[2019-05-06 19:09] fmassa commented on #1552
The difference between the interpolate from this issue is that we don't assume that the interpolation grid is uniform.
So this is not exactly equivalent to the aforementioned PRs.

One way of seeing this is as follows: this issue asks for a more generic way of performing 1d interpolation, where instead of assuming an uniform grid from 0 to output size, the user specifies it instead.

[2019-05-06 19:19] gchanan commented on #16045
closing for now since the warning has been implemented.  If there is sufficient request for an error option, please open another issue.

[2019-05-06 19:19] #16045 closed

[2019-05-06 19:20] #16158 closed

[2019-05-06 19:27] gchanan commented on #16947
moving milestone to 1.2.

[2019-05-06 19:30] gchanan commented on #17350
removing high priority label because no one is actively working on this and we aren't actively working on https://github.com/pytorch/pytorch/issues/15359.

[2019-05-06 19:31] gchanan commented on #17495
looks like a caffe2 issue.

[2019-05-06 19:37] fritzo commented on #17842
Hmm, I think it will still be complex to maintain backwards compatibility. E.g. I see lots of code that passes `sample_shape` as a kwarg, and to maintain compatibility we would need something like
[code]
At this point I'm thinking this change doesn't benefit users. Moreover it makes it more difficult to add custom kwargs like `mcmc_samples` for approximate samplers.

Currently torch.distributions

[2019-05-06 19:38] soumith commented on #1552
yea, this feature request is very very different from "interpolation for images".

[2019-05-06 19:40] isalirezag commented on #20165
@t-vi `torch.where(inp >= threshold, inp, value)` will kill the gradient flow

[2019-05-06 19:42] gchanan commented on #18096
https://github.com/pytorch/pytorch/pull/19228 is the latest version of this.

[2019-05-06 19:44] gchanan commented on #18283
perhaps this was an ABI issue?  I'm going to close because that's my best guess and because of the lack of reproduction reported by @skrah.  @heiner can you kindly reopen if you disagree?

[2019-05-06 19:45] zhangguanheng66 commented on #1552
After taking a look at the feature request, it seems that the unstructured interpolation function is requested. I will first work on the unstructured interpolation on 1d.

[2019-05-06 19:56] li-roy commented on #19625
@smileeok Sorry for the delay, fix will be out soon.

[2019-05-06 19:59] ilia-cher commented on #19996
Interesting, generally speaking OMP does not work well with `fork`, this is a known limitation of OMP.
It might be a harmless warning if we always call `set_num_threads(1)`, but let me dig into it first.

[2019-05-06 20:03] raghuramank100 commented on #19092
@VitalyFedyunin Makes sense, we need to make sure that this is communicated to end users when this API stabilizes.

[2019-05-06 20:10] bryant1410 commented on #5072
This is fixed, right?

[2019-05-06 20:13] bryant1410 opened #20178 "Tensor.__floordiv__ missing from pyi"
## 🐛 Bug

`Tensor.__floordiv__` is not provided in pyi files.

## To Reproduce

Divide 2 tensors (or a tensor and an int) with `//` in PyCharm.

[2019-05-06 20:20] peteflorence commented on #1552
Hi folks, the code that I wrote up before does do bilinear interp on a
non-regular grid, in case useful... (and I am actively using it in a
project of mine for C-dimensional images)
https://gist.github.com/peteflorence/a1da2c759ca1ac2b74af9a83f69ce20e

https://gist.github.com/peteflorence/a1da2c759ca1ac2b74af9a83f69ce20e

On Mon, May 6, 2019 at 3:39 PM Soumith Chintala <notifications@github.com>
w

[2019-05-06 20:33] wanchaol commented on #20153
after looking into it, I think it is because of different behaviors on `mean_scale[..., None, None]` for unsqueezing Nones between python and jit, they currently produce different shapes: python side provide `[2, 12, 1, 1]` but jit side provide `[2, 1, 1, 12]`, might be related to a uncovered edge case from #18615, @t-vi can you take a look on this?

[2019-05-06 20:35] t-vi commented on #20165
How so? You get a gradient for inp and for value, but not for threshold, but that is expected.

[2019-05-06 20:36] eellison commented on #20153
Is it possible this is related ? https://github.com/pytorch/pytorch/issues/18616

[2019-05-06 20:40] gchanan commented on #18128
removing "high priority" as I think the inclusion of "-D_GLIBCXX_USE_CXX11_ABI=1" moves down the priority.  Feel free to disagree :).

[2019-05-06 20:42] wanchaol commented on #20153
@eellison I guess it's a slightly different issue, the one you mentioned is that we flattening the list index , which we shouldn't not to. This one is a different behavior mismatch when use None indexing and ellipsis syntax. Agree that we can reassign that one as well and these two issues might can be fixed together.

[2019-05-06 20:45] t-vi commented on #20153
Uh uh. I think it's ellipsis not being correctly handled. I'll try to figure it out.

[2019-05-06 20:46] t-vi commented on #20153
@One-sixth  Thank you for reporting this and providing a concise example. That really helps a lot tracking down these bugs!

[2019-05-06 20:48] isalirezag commented on #20165
@t-vi
Actually, you are right I guess.
Is it what you mean?
This will work I think:
[code]

[2019-05-06 20:50] isalirezag commented on #20165
@t-vi
Actually, you are right I guess.
Is it what you mean?

[code]

[2019-05-06 20:50] gchanan commented on #19002
marking this as a feature because although it maybe doesn't strictly fit, I'd argue it's closer to that than a bug fix.

[2019-05-06 20:51] gchanan commented on #19025
should this be closed now that you can serialize a vector of tensors?

[2019-05-06 20:57] gchanan commented on #19508
removing "high priority" because I believe this has always been the case (i.e. it's not a regression).

[2019-05-06 21:06] gchanan commented on #20156
not enough info here to be "high priority" yet.

[2019-05-06 21:14] gchanan commented on #2816
closing as an old issue.

[2019-05-06 21:14] #2816 closed

[2019-05-06 21:19] gchanan commented on #1834
https://github.com/pytorch/pytorch/issues/2228 seems like the relevant overall issue.

[2019-05-06 21:28] gchanan commented on #1930
covered by https://github.com/pytorch/pytorch/issues/17935.

[2019-05-06 21:28] #1930 closed

[2019-05-06 21:32] gchanan commented on #1938
not enough here to be "high priority"

[2019-05-06 21:38] gchanan commented on #11390
@SsnL are you still looking at this?

[2019-05-06 21:39] gchanan commented on #9732
got rid of "high priority" since it's covered by https://github.com/pytorch/pytorch/issues/13638.

[2019-05-06 21:39] #9732 closed

[2019-05-06 21:44] SsnL commented on #11390
@gchanan No, we never reached an agreement on what to do with it.  cc people who were involved in the discussion @apaszke @colesbury @soumith .

[2019-05-06 21:59] PowerSnail opened #20183 "Latex Errors when Compiling documentation to latexpdf"
## 📚 Documentation

I raise this issue because I encountered many warnings and errors compiling the documentation.
I checked out version 1.1.0, and followed the instruction of "Building the Documentation" by running pip install -r requirements, and then make latexpdf. I already have texlive, latexmk, and other necessary latex packages installed. My system is Ubuntu 19.04.

Errors include missing r

[2019-05-06 22:16] VitalyFedyunin commented on #20037
@denru01 thanks! I can reproduce regression with adding/removing 465799fab3 . Now checking why it affects distributed performance so tragically.

[2019-05-06 22:21] TheCodez commented on #16123
The following piece of code is still not working:

[code]

Gives the following error:
[code]

[2019-05-06 22:41] #20095 closed

[2019-05-06 22:54] xsacha commented on #20156
Is this only in CPU? What optimisations are you using? What backend does the CPU use for C++ to do the multiplication?
Sounds like the python one is using 8 cores and the C++ one is using a single core.

[2019-05-06 23:04] BorisMarjanovic commented on #19003
When will this bug be fixed?

[2019-05-06 23:12] ilia-cher opened #20189 "Unify Caffe2 and PyTorch OpenMP initialization"
At the moment we have two separate OpenMP initialization procedures, one in Caffe2 in `caffe2/core/init_omp.cc`, executed when `GlobalInit` is called. Another is in PyTorch in `at::init_num_threads()`

There're some differences in default settings (e.g. single-thread setting in Caffe2 and default settings in PyTorch) as well as potential conflict if two initialization procedures are called in one

[2019-05-06 23:18] shubham-goel commented on #5072
Yes. Can now use `.floor()` .

[2019-05-06 23:18] #5072 closed

[2019-05-07 00:03] ankitkv opened #20192 "eps parameter of torch.nn.utils.spectral_norm doesn't work"
## 🐛 Bug

The `eps` parameter of `torch.nn.utils.spectral_norm` doesn't have the intended effect if a weight matrix is zero.

## To Reproduce

[code]

## Expected behavior

The output of `m(a)` should not be `nan`s, since the default `eps` is `1e-12`.

## Environment

 - PyTorch Version (e.g., 1.0): 1.1.0
 - OS (e.g., Linux): Linux
 - How you installed PyTorch (`conda`, `pip`, source): pip
 - Pyth

[2019-05-07 00:08] gui11aume commented on #15773
I find it surprising that there is no implementation of the Dirichlet gradient because there is already an implementation of the Gamma gradient. The standard way to generate a Beta variable is to generate two Gamma variables (see for instance [Wikipedia](https://en.wikipedia.org/wiki/Beta_distribution#Generating_beta-distributed_random_variates)) and compute their fractional ratio. For instance, t

[2019-05-07 01:21] SsnL commented on #20192
copy pasting my reply on slack:

eps is used in computing vector norm for power iteration. but no matter what the u and v eigen vectors are, you always get sigma = u W^T v = 0.
The behavior is following the original chainer impl: https://github.com/pfnet-research/sngan_projection/blob/e84b1a5f604de5fec268f37c3f26478e80b7f475/source/links/sn_linear.py#L65

[2019-05-07 01:21] #20192 closed

[2019-05-07 01:22] VirginianBlue opened #20195 "caffe2 Build error on windows"
Windows build of caffe2 fails. Errors in running build_windows.bat:
[1121/1204] Linking CXX executable bin\data_filler_test.exe
FAILED: bin/data_filler_test.exe
Cmd.exe /C "cd . && "C:\Program Files\CMake\bin\cmake.exe" -E vs_link_exe --intdir=caffe2\CMakeFiles\data_filler_test.dir --manifests -- C:\PROGRA~2\ MIB055~1\2017\ENTERP~1\VC\Tools\MSVC\1416~1.270\bin\Hostx64\x64\link.exe /nologo caffe2\C

[2019-05-07 01:23] SsnL opened #20196 "[ROCm CI] test_LPPool1d_cuda occassional SIGIOT"
[code]
https://ci.pytorch.org/jenkins/job/pytorch-builds/job/py2-devtoolset7-rocmrpm-centos7.5-test/10657/console

[2019-05-07 01:28] hanmingliu2 commented on #18634
@fmassa Thank you so much. The slowdown does appear now after I updated to nightly version.
[code]

[2019-05-07 01:41] weiqiangguo commented on #19213
You try to use pytorch 1.1, the bug has been fixed in pytorch 1.1,

[2019-05-07 01:46] nrlugg commented on #20132
@zhangguanheng66 Will do! Thanks!

[2019-05-07 02:06] ankitkv commented on #20192
In the source code for `spectral_norm`, `eps` is being used in `normalize`, where `max(eps, norm)` is considered as a denominator. I think the purpose of `eps` is exactly to bring numerical stability when norms are very small. I'm not sure following the original chainer impl is a reason for the bug to not be valid.

The `eps` should be used for `sigma` as well, just as it is used within `normalize

[2019-05-07 02:32] xualan commented on #17888
do you have resolve it?

[2019-05-07 02:33] xualan commented on #17888
i also met this problem

[2019-05-07 03:14] chenbohua3 commented on #20149
@izdeby yes, I can reproduce this problem. It seems that `int64 b` in your codes happens to be [1, 1, 0], which will lead to consistent results of boolean mask and index. Try to make `int64 b` to [1, 0, 1], this problem will be reproduced.

[2019-05-07 03:27] xkszltl commented on #20046
@suo @kostmo May I ask for some details about this `triaged` tag?

[2019-05-07 03:27] bluesky314 commented on #2575
What are the workarounds then @gchanan?

[2019-05-07 03:56] img5d commented on #4090
it is very useful!

[2019-05-07 04:23] pbanavara commented on #1938
Hey sorry I haven't had anytime to delve deeper into this. If this issue no
longer relevant, please delete the same. I haven't done any work on this.

On Tue, May 7, 2019 at 3:03 AM gchanan <notifications@github.com> wrote:

[2019-05-07 04:55] peterjc123 commented on #20195
What flags did you set before build?

[2019-05-07 04:58] peterjc123 commented on #20195
And btw, could you please share the ninja config file `ninja.build`?

[2019-05-07 05:32] zdevito opened #20198 "test_namedtuple_return is flakey"
[code]

[2019-05-07 05:51] EsdeathYZH commented on #20156
I build the C++ API example as the tutorials on website, using cmake to build.
CMakeLists:
[code]
I get libtorch from url on website :
[code]
I install pytorch using conda:
[code]

Both are CPU-only.

How to rerun the benchmark with OMP_NUM_THREADS=1?  I'm new to pytorch so I don't know much about running parameters.

[2019-05-07 05:52] SPark9625 commented on #19025
Cool!! I just checked that I can both save and load `torch::Tensor`s and `std::vector<torch::Tensor>`s with the latest macOS libtorch! Closing this now :)

[2019-05-07 05:52] #19025 closed

[2019-05-07 06:14] one86951 commented on #17349
could you give me more details about “upgrade nccl to 2.4.2”？Thanks @qaohv

[2019-05-07 06:21] suo commented on #20046
Triaged means we have processed the issue and verified that the right labels/owners have been applied.

[2019-05-07 06:24] xkszltl commented on #20046
Thanks for the clarification

[2019-05-07 06:49] Stonesjtu opened #20199 "load_state_dict creates reference cycle, is there a python garbage collect operation before raise CUDA out-of-memory error?"
## 🐛 Bug

Python's garbage collection invokes every 700 object creations (by default), so there should be a situation when the object is not referred but still occupies the CUDA memory (when reference cycles happen), so I'm asking for an additional garbage collecting operation if the CUDA memory is out.

[2019-05-07 06:57] jainshobhit commented on #9406
This issue has been addressed in the latest version of Pytorch 1.1.0. The documentation for it is still not up in the pytorch docs but you can see `torch.cdist` added in the release notes: https://github.com/pytorch/pytorch/releases/tag/v1.1.0

[2019-05-07 07:06] SsnL commented on #20101
@Krovatkin Yes I really hope @zdevito can help clarify. I am a bit lost on the relation between the proposal in #19070 and `trace_module` of #19905. It seems that #19905 covers majority of the functionalities proposed in #19070 but with a different API.

It feels to me that #19905 is trying to make the distinction that `trace` traces regular static functions and `trace_module` returns a traced mod

[2019-05-07 08:10] Usama-Zafar opened #20200 "Distributed Communication with openmpi fails"
## 🐛 Bug

When trying to run a multi-process training with mpi backend the program fails at communication. Otherwise runs perfectly fine.

## To Reproduce

Steps to reproduce the behavior:

1. Install CUDA's latest toolkit 10.1 and equivalent CuDNN 7.5.1
2. Install Openmpi v3.1.2 with CUDA support
3. Build / install pytroch from source.
4. Test any communication for a process group with mpi backen

[2019-05-07 08:37] crackcomm commented on #5700
Is there any equivalent folder on Windows?

[2019-05-07 08:45] JerryShih commented on #20030
@ezyang
How to add the libomp dependency in pytorch pip installation?

Will all pytorch dependent libraries be backed into wheel package?
If yes, I will add the libomp files like these code: https://github.com/pytorch/pytorch/blob/2356fac9a5205a2e11f1abf6105fdb3124246d41/setup.py#L738-L825

How about other dependent libraries? Are they all in third_party folder and built from source?

[2019-05-07 08:47] fabienpesquerel opened #20201 "In-place modification with double slicing (using boolean mask)"
## 🐛 Bug

Cannot do in-place modification of a tensor with a double slicing using `torch.uint8` (boolean mask) tensor.

## To Reproduce

Steps to reproduce the behavior:

[code]

No error is reported when running this code.

## Expected behavior

I think that it is expected that, no matter which of the three ways I described to do the in-place modification of the tensor, `a` should have been modif

[2019-05-07 09:03] crackcomm opened #20202 "cuDNN arch mismatch - software or hardware error?"
Hello, I had a lot of fun with training neural networks on my GPU but then I tried LSTM.

[code]

My GPU is `GeForce GTX 950` and it's `NVIDIA Compute Capability` is `5.2`.

[code]
I would really appreciate quick guess, is the hardware too old or could that be an environment issue?

[2019-05-07 09:05] skrah commented on #18862
I can confirm that `.contiguous()` allocates `12GB`, which is `192 * 4096 * 4096 * sizeof(float)`.

I wonder though why the inner matrix dimension from `192 * 4096 * 1` is broadcasted to `4096`. The comment at the top of the function in `LinearAlgebra.cpp` says:

[code]

So shouldn't the matrix dimensions be left untouched?

[2019-05-07 09:08] peterjc123 commented on #20202
Since you are using Anaconda, the problem is likely to be caused by the environment. Would you please remove the system cuda path from the environment variable `PATH` before you start Python?

[2019-05-07 09:12] peterjc123 commented on #20202
7501

It means that it is trying to load your global cudnn, which is not what it should do here.

[2019-05-07 09:20] crackcomm commented on #20202
@peterhj You're awesome!

I removed paths from environment variable but still had the same problem then I recalled I placed `cudnn64_7.dll` in my `System32` directory.

[code]

My model is wrong but the LSTM layer seems to be executed, thank you very much! The issue can be closed.

[2019-05-07 09:22] peterjc123 commented on #20202
Wait, I'll fix it in the related code. Looks like we can do better in choosing the right cudnn library during runtime.

[2019-05-07 09:22] crackcomm commented on #20202
@peterjc123 Oh, autocorrection.

[2019-05-07 09:23] crackcomm commented on #20202
@peterjc123 I'm sorry, latency. Figured would close for you :)

[2019-05-07 09:28] skrah commented on #18862
Probably I'm using `NumPy` terminology here (there is an explicit outer loop).  In this case the "broadcasting" just seems to happen internally before the operation, but the comment at the top of the function refers to the result dimensions. I have to take a closer look.

[2019-05-07 09:41] fmassa commented on #20201
This behavior is expected and is the same as in numpy.

There are a few subtleties in here:
- indexing with a boolean tensor always returns a new tensor, and not a view to the existing tensor
- this means that operations on the result of boolean indexing do not modify the indexed tensor
[code]
Now, why does `a[a > 0] = 0` modify `a`? Because this dispatches to `__setitem__` internally, which calls

[2019-05-07 09:41] #20201 closed

[2019-05-07 10:03] sshaoshuai opened #20204 "SyncBatchNorm should support 2D input (B, C)"
## 🐛 Bug

In the implementation of SyncBatchNorm, I just found that there is a `_check_input_dim` to make sure the input dimension > 2. But actually it should support the input with shape (B, C), just like the BatchNorm1d.

So could you relax the input check to be `input.dim() < 2` of [SyncBatchNorm here](https://pytorch.org/docs/stable/_modules/torch/nn/modules/batchnorm.html#SyncBatchNorm)?

[2019-05-07 10:10] peterjc123 commented on #20202
Would you please try whether #20205 solves your problem without the PATH changes?

[2019-05-07 10:13] fabienpesquerel commented on #20201
Thanks you for this quick and nice answer. I am happy with your explanation although I find this behavior confusing (at least in the first place) but I am sure that there are good reason for this.

The problem was that I was having a high level view of the situation (as often when writing with python).

Thanks again !

[2019-05-07 10:19] heiner commented on #18283
I don't believe this is an ABI issue as it occurs on Mac using clang (although incidentally cpp_extension.py prints its warning message unless I set CXX=c++, which I believe doesn't actually change which compiler gets used):

[code]

The issue still occurs for me, on MacOS with the latest nightly conda package (`1.1.0.dev20190507-py3.7_0`).

[2019-05-07 10:30] heiner commented on #18128
I'm not sure what you mean, but I would consider this a rather grave issue: It's quite hard to debug / find out that it's an ABI problem, and it's "just" following the standard documentation. The fact that PyTorch's setup.py/cpp_extension.py uses `-D_GLIBCXX_USE_CXX11_ABI=1` automatically which _pretends_ to make this work but doesn't actually aggravates the issue IMO.

In fact, right now my proje

[2019-05-07 10:31] apaszke commented on #20101
In a chat with @zdevito we concluded that the API would be the following:
1. `trace_module` takes in a module and (optionally, defaulting to `['forward']`) list of methods to trace. Not tracing `forward` is forbidden.
2. `trace` _always_ traces a single function (and returns a `torch.jit.Function`) without taking any parameters into the context. The only exception to that rule is that if you pass

[2019-05-07 10:32] plang85 commented on #18436
Yep. Can be handily reproduced by adding a second tensor to `tests/test_torch::test_serialization_offset`

[code]

I'll look into this, currently working around it.

[2019-05-07 10:41] heiner commented on #19420
I appreciate this might not be a major concern in most applications. However, the suggestion to just not "trace over multiple iterations of the loop" makes some rather strong assumptions on what the application looks like, including the assumption of having a single loop.

For an example of where these assumptions don't hold, consider the case of a multi-threaded asynchronous system, e.g. in recen

[2019-05-07 11:02] apaszke commented on #11390
IIRC we did arrive at the conclusion that it was the desired behavior?

[2019-05-07 11:11] apaszke commented on #11390
Oh, we only wanted to make `.requires_grad` to always return `False` and remove that from printing inside the `no_grad` block to avoid confusion. But that was it if I remember correctly.

[2019-05-07 12:43] kgizdov opened #20206 "Failed to build with system protobuf"
## 🐛 Bug

Failed to build (link) `caffe2_benchmark` target.

## To Reproduce

Steps to reproduce the behavior:

1. `git submodule update --init --recursive`
2. `... python setup.py build`
3. Get error:
[code]

## Expected behavior

Expected to build and link fine

## Environment
`collect_env.py`:
[code]
Manual spec:

 - PyTorch Version (e.g., 1.0): 1.1.0
 - OS (e.g., Linux): ArchLinux x86_64
 - Ho

[2019-05-07 13:24] ezyang commented on #19420
Yeah, I think it would help us a lot if you could give an example where it's not easy to restructure the code so that you trace only one iteration.

[2019-05-07 13:27] ezyang commented on #20030
pip doesn't know anything about brew, you can't ask it to brew install a package. Also, while this resolution "solves" the issue, I would love to better understand how this dependency came to be (in particular, why are we building binaries with a dependency on brew libraries? That sounds bad.)

In some cases where we can't assume end users have a library installed, we distribute the library with o

[2019-05-07 13:33] ezyang commented on #20156
It's an environment variable, so `OMP_NUM_THREADS=1 python your_benchmark.py`

[2019-05-07 13:34] ezyang commented on #20156
cc @ilia-cher @pjh5 is default multithreading behavior different between libtorch and regular PyTorch builds?

[2019-05-07 14:01] xvdp commented on #1382
Thank you for the implementation, it is present in latest release, but there's an inconsistency in behaviour you may want to fix: cuda and cpu return different types
[code]

[code]

[2019-05-07 14:01] apaszke commented on #20117
I think it's reasonable to add that, but I'm not convinced about the `.repeat()` and `.flatten()` API. Let's leave that out.

[2019-05-07 14:02] apaszke commented on #20117
@codexetreme yes, please go ahead!@codexetreme yes, please go ahead!

[2019-05-07 14:05] SsnL commented on #20117
Yep I agree with @apaszke . `append`, `extend`, `insert`, and `pop` would be great!

[2019-05-07 14:11] codexetreme commented on #20117
Cool, ill work on `append`, `extend`, `insert`, `pop`. I'll submit a basic PR then keep pushing work to it and ask you guys if it's going the way it's supposed to ( since this is only my second issue so far, so I will need some input)

[2019-05-07 14:12] ezyang commented on #19268
@gchanan I'm going to disagree with the priority label here. This is a very serious gotcha (and hard to see in code review) for use of PackedTensorAccessor which I have seen multiple people trip over over the past few months.

[2019-05-07 14:15] apaszke commented on #20124
Why did that change??

[2019-05-07 14:16] mrshenli commented on #19925
Do you still need the same error message after adding the small fix?

[2019-05-07 14:19] ezyang opened #20208 "GPU histc returns tensor of wrong dtype"
cc @xvdp @jaciefan

Original report from @xvdp: https://github.com/pytorch/pytorch/issues/1382#issuecomment-490092747

Thank you for the implementation, it is present in latest release, but there's an inconsistency in behaviour you may want to fix: cuda and cpu return different types

[code]

[code]

[2019-05-07 14:19] ezyang commented on #1382
@xvdp I refiled this as a new issue for you https://github.com/pytorch/pytorch/issues/20208

[2019-05-07 14:22] ezyang commented on #15734
I don't know too much about Jupyter notebooks. But one thing to take care about is out-of-order execution; you really need to make sure that you spawn the subprocesses before you do any CUDA processing; just being at the top of the notebook is insufficient.

[2019-05-07 14:29] VitalyFedyunin commented on #20199
It is possible to register GC callback if CUDA is out of memory. We would gladly accept PR which is doing it.

[2019-05-07 14:29] VitalyFedyunin commented on #20198
cc @zou3519

[2019-05-07 14:34] zou3519 commented on #20208
Probably my fault. I'll assign it to myself when I get to working on it

[2019-05-07 14:34] SerailHydra commented on #19925
@mrshenli I cannot manage to build the project.

[2019-05-07 14:39] VitalyFedyunin commented on #20198
Do you mind if I assign it to you, so you can reroute later?

[2019-05-07 14:41] crcrpar commented on #20117
I agree. `repeat` and `flatten` might confuse users.

[2019-05-07 14:43] zou3519 commented on #20198
I'm not the point person for linear algebra and/or named tuple returns. I think maybe @zasdfgbnm was working on named tuple returns?

[2019-05-07 14:49] VitalyFedyunin commented on #20178
We would gladly accept PR which is fixing it.

[2019-05-07 14:53] zasdfgbnm commented on #20198
@zou3519 Yes, this test was added by me, I will take a look.

[2019-05-07 14:54] hongyx11 commented on #17888
no

[2019-05-07 14:59] bryant1410 commented on #20178
Can you point out which files should be changed, or give some guidance on the change for a PR author?

[2019-05-07 15:10] gchanan commented on #11390
was that discussion captured anywhere?

[2019-05-07 15:11] soumith commented on #20030
this is something that needs to be fixed. I can take a look at fixing binaries and re-uploading.
The problem is that our macos CI installs libomp over here: https://github.com/pytorch/pytorch/blob/0da0c4be48c675d61c39b4554131e1dbe9177cab/.circleci/verbatim-sources/header-section.yml#L294 , I think for CI / testing. But binary builds also pick it up and use it.

[2019-05-07 15:14] soumith commented on #20206
protobuf has known issues that we patch against with https://github.com/pytorch/pytorch/blob/master/cmake/ProtoBufPatch.cmake

I dont think the patch is being applied if it's system protobuf -- and I'm not sure how to apply that patch to a system protobuf

[2019-05-07 15:18] SsnL commented on #11390
@gchanan Partly in https://github.com/pytorch/pytorch/pull/12502, and partly on slack in a group chat. IIRC, the core of the discussion is about this pattern:
[code]

and whether you should be able to backprop from `z` to `y`.

[2019-05-07 15:20] gchanan commented on #2575
See @lautjy's post for a couple of potential workarounds.

[2019-05-07 15:21] kgizdov commented on #20206
Why do we need that patch? Is `protobuf 3.7.0` not good?

[2019-05-07 15:32] gchanan commented on #11390
@apaszke's final reply in https://github.com/pytorch/pytorch/pull/12502 seems different than the conclusion here:

i.e. the quote suggests changes to `detach`, but the suggestion here:

doesn't have any changes to `detach`.  Is one more updated that the other or are these two separate issues?

[2019-05-07 15:34] gchanan commented on #19268
@ezyang can you link a few examples?

[2019-05-07 15:36] skrah opened #20215 "The JIT sometimes does not repeat values in the output_size argument."
**Background**

This issue came up during the port of `adaptive_max_pool2d()` to `ATen`. The relevant function signature in `native_functions.yaml` is:

   `func: adaptive_max_pool2d(Tensor self, int[2] output_size) -> (Tensor, Tensor)`

**The issue**

When `output_size` is a single `int` on the Python level (square image H x H), `adaptive_max_pool2d()` receives an `output_size` argument with `out

[2019-05-07 15:38] skrah commented on #20215
The test case that generates the error in `common_nn.py` is this one:

[code]

[2019-05-07 15:42] ezyang commented on #19268
This one from Clement Pinard on Slack:

The benchmark used is https://github.com/ClementPinard/Pytorch-Correlation-extension/blob/master/benchmark.py

Also this PR from Ivan https://github.com/pytorch/pytorch/pull/19630 ported PackedTensorAccessor directly, causing indexing to change from 32-bit to 64-bit. Probably every porting PR which had code previously using THCDeviceTensor also committed the

[2019-05-07 15:43] soumith commented on #20146
this looks worrying on whether it's a cycle (C++ doesn't have a gc either). @yf225 @gchanan

[2019-05-07 15:44] gchanan commented on #19268
ok, you convinced me :).

[2019-05-07 15:48] xvdp commented on #1382
@ezyang thank you. The python "fix" is trivial .to(dtype=...) but imo inconsistencies lead to code rot.

[2019-05-07 15:49] soumith commented on #19213
@oroojlooy please reopen issue if you can reproduce it with v1.1 pytorch

[2019-05-07 15:50] VitalyFedyunin commented on #20178
tools/pyi/gen_pyi.py and torch/__init__.pyi.in are good files to start

[2019-05-07 15:50] chia-an commented on #10370
If the function always gives the index of the last maximum value, then flipping the tensor along the given dimension before calling argmax should give the index (after flipping) of the first maximum value. This is the work-around I use in my case.

E.g.
[code]
Output: `tensor([1, 0])`

[code]
Output: `array([1, 0])`

[2019-05-07 15:55] VitalyFedyunin commented on #20183
Can you please send us error logs file as well as latex/Sphinx versions?

Also I have updated description a bit to highlight nice proposal about pytorch.org site.

[2019-05-07 16:03] soumith commented on #20169
I think a `copy.deepcopy` seems reasonable.

[2019-05-07 16:10] pedromorais17 commented on #20011
Dear all,

I'm not sure if you have a GPU implementation example. Looking for the previous example, the CPU code is working correctly, but the GPU example is failing completely. Please see the example code. Have any suggestion? Thank you in advance.

// read image
cv::Mat image_bgr;
cv::Mat image;
image_bgr = cv::imread("C:\\Users\\pedro\\Desktop\\binary\\VeinsImages\\teste_0.png");
cv::cvtColor(i

[2019-05-07 16:11] t-vi commented on #19268
Batch norm saw a huge impact, too.

[2019-05-07 16:17] pjh5 commented on #20030
I can remove this dependency for the binaries. I'll put out a PR soon

[2019-05-07 16:25] pjh5 commented on #20156
The libtorch builds are actually Python manywheel builds with the the c++ bits zipped up, so I don't think there should be a difference.

[2019-05-07 16:28] yf225 commented on #18128
@kostmo @pjh5 Do we have plans to address the C++ ABI-compatibility issue better, either by building with each Linux distribution's default compiler toolchain, or by having both `-D_GLIBCXX_USE_CXX11_ABI=0` and `-D_GLIBCXX_USE_CXX11_ABI=1` versions?

[2019-05-07 16:54] VitalyFedyunin commented on #10370
Note: as PyTorch doesn't support negative strides at this moment, `flip` operation makes the full copy of Tensor and might affect performance.

[2019-05-07 17:18] EsdeathYZH commented on #20156
I rerun C++ example on another machine for many times, I find the result is not stable.
Sometime it's slow:
[code]

Sometimes it's similar to python example:
[code]

And python execution time is always stable:
[code]

I also run with the OMP_NUM_THREADS=1 on both, I think it's not because of this.

[2019-05-07 17:19] pjh5 commented on #17492
I forgot to comment earlier, but this should work now for cpu and CUDA 10.0, for pip wheels and libtorch packages, for linux. The urls look like

[code]

CUDA 9.0 packages are not available yet because CUDA 9.0 doesn't support gcc >= 6, so we'll have to add another gcc version for those.

@srasool  we are not planning on building these for Windows. Are you encountering the same gcc ABI problem on

[2019-05-07 17:19] pjh5 commented on #18128
I forgot to comment earlier on https://github.com/pytorch/pytorch/issues/17492 , but the devtoolset7 binaries are live for cpu and CUDA 10.0

[2019-05-07 17:28] spandantiwari commented on #19374
Track PR https://github.com/pytorch/pytorch/pull/20116 for the fix for this issue.

[2019-05-07 17:34] VitalyFedyunin commented on #20204
I don't see a problem about changing it, but perhaps module owners can provide more information about why it was restricted like this.

[2019-05-07 17:35] EvenOldridge commented on #15734
One issue I ran into and was able to resolve was to make sure that any classes being used were wrapped in a module (per: https://stackoverflow.com/questions/48593694/python-multiprocessing-returning-attributeerror-when-following-documentation-cod)

I'm still running into invalid device memory issues when I try to share cuda tensors across different spawned processes though.  Unfortunately for what

[2019-05-07 17:50] Usama-Zafar commented on #20200
Some additional information turns out the reduce bug was my problem but the isend and irecv problem still exist. I did some additional poking and found out that this happens when you try to send receive tensors that are on GPU. If you communicate with non cuda tensors the code works fine.

[2019-05-07 18:06] jamesr66a opened #20229 "[JIT] String parser does not handle trailing commas in apply expression arg list"
Repro:

[code]

Output:

[code]

[2019-05-07 18:10] TheCodez opened #20230 "[jit] torch.tensor doesn't support list of tuples"
## 🐛 Bug

Cannot create a tensor using `torch.tensor` from a list of tuples.

## To Reproduce

Steps to reproduce the behavior:

[code]

gives the following error:
[code]

## Expected behavior

Should not give an error. Works in pure python.

## Environment
Pytorch 1.1.0

## Additional context

A workaround is to use a list of lists instead.

[2019-05-07 18:32] crackcomm commented on #20202
@peterjc123 I will

[2019-05-07 18:45] crackcomm commented on #20202
I just need to recover those PATHs 😆

[2019-05-07 18:50] VitalyFedyunin commented on #20037
Ok. So the explanation is quite simple. 465799f introduced improved Copy/Clone functions, and they are using inter-op parallelism whenever it is meaningful. However, in this particular case you got around 192 threads, 8 processes spawned by torch.distributed and every one of them have a default number of threads equal to 24. The simplest solution would be to run:
 `OMP_NUM_THREADS=1 python -m torc

[2019-05-07 18:51] crackcomm commented on #20202
I added

[code]
My windows explorer couldn't find any match for "cudnn" in C:\\, so frustrating.

[code]

[2019-05-07 18:53] VitalyFedyunin commented on #20037
Please close the issue if it solves your problem. Thanks.

[2019-05-07 18:58] denru01 commented on #20037
@VitalyFedyunin Thanks for your help. Does setting OMP_NUM_THREADS=1 have an impact on the performance?

[2019-05-07 19:00] srasool commented on #17492
@pjh5  My bad, i put a wrong download link for libtorch
https://download.pytorch.org/libtorch/nightly/cpu/libtorch-shared-with-deps-latest.zip
I looked at the TorchConfig.cmake  which is

`set(TORCH_CXX_FLAGS` `"-D_GLIBCXX_USE_CXX11_ABI=0")`

and also for

https://download.pytorch.org/libtorch/nightly/devtoolset7/cpu/libtorch-shared-with-deps-latest.zip

it has the same 'set(TORCH_CXX_FLAGS "-D_GL

[2019-05-07 19:13] VitalyFedyunin commented on #20037
You will get best performance if you set it to the number_of_cpu_threads_available / number_of_gpu devices.

[2019-05-07 19:13] soumith commented on #17492
@srasool your issue is unrelated to this -- it doesn't apply to Windows

[2019-05-07 19:14] soumith commented on #17492
@srasool yea that looks wrong. we'll look

[2019-05-07 19:33] crackcomm commented on #20202
@peterjc123 turn's out I made a mistake during patching the code or something, I don't know why buy I had
[code]
instead of
[code]

The magic... It obviously works now ;) Thank you.

[2019-05-07 19:36] eellison commented on #20230
= low-pri, since `list(tup)` works.

[2019-05-07 19:37] ailzhang commented on #20215
@skrah  I'm trying to understand the problem better, in this example we handle the `int` by https://github.com/pytorch/pytorch/blob/cb8ff2a2b4640fea1981ed2e00ebbc038485c216/aten/src/ATen/native/AdaptiveMaxPooling2d.cpp#L167, is it not the right way to do it?

[2019-05-07 19:41] TheCodez opened #20239 "[jit] add support for tuple unpacking in for loops"
## 🚀 Feature
Add support for tuple unpacking in for loops

## Motivation

Makes working with tuples a better experience and the code shorter.

## Pitch

This should be possible:

[code]

## Alternatives

A current workaround is to use:

[code]

[2019-05-07 19:42] ilia-cher commented on #20156
In Python, when we initialize torch module we explicitly call `at::init_num_threads()` to initialize OMP/MKL. Could you add the same call in your C++ binary at the beginning and report results?

[2019-05-07 19:49] t-vi commented on #19268
So where are we aiming to have that? In the API docs, https://pytorch.org/cppdocs/api/classat_1_1_tensor.html?highlight=accessor#_CPPv4NK2at6Tensor8accessorEv , the tutorial https://pytorch.org/tutorials/advanced/cpp_extension.html#using-accessors (which is using `size_t` at the moment...)?

[2019-05-07 19:54] EvenOldridge commented on #2517
I'll try to strip down the code and put something together.  Thanks @ezyang.

[2019-05-07 19:57] cannon opened #20240 "Cumulative Maximum"
## 🚀 Feature
Add cumulative maximum for tensors, where each element along an axis is the max of it and everything before it.

## Motivation
This is useful for evaluating mAP by creating precision-recall curves, where precision should be monotonically decreasing with respect to recall. More info: https://medium.com/@jonathan_hui/map-mean-average-precision-for-object-detection-45c121a31173

## Pitch

[2019-05-07 20:02] SsnL opened #20241 "[FR] nn.Module.requires_grad_()"
Useful in finetuning, gan training, etc. :)

[2019-05-07 20:05] srasool commented on #17492
@soumith thanks. should i open a new issue in order to track as the current issue is closed

[2019-05-07 20:06] pjh5 commented on #17492
@srasool you are right. There is yet another bug. I'll fix this now

[2019-05-07 20:12] VitalyFedyunin commented on #20240
Thank you for the meaningful suggestion. We will try to allocate resources to implement this functionality. Also, we are glad to accept PR which implements this operator.

[2019-05-07 20:13] eellison commented on #16962
Closed with https://github.com/pytorch/pytorch/pull/20081

[2019-05-07 20:13] #16962 closed

[2019-05-07 20:22] gchanan commented on #19268
@ezyang do you have a recommendation here?

[2019-05-07 20:24] pietern opened #20245 "[distributed] ProcessGroupMPI tests in test_c10d.py"
These are not in place yet due to the non trivial work required to launch an MPI test.

Go through the test cases in `test_c10d.py` and evaluate where we need to add tests that use `ProcessGroupMPI`. Also figure out where refactoring is needed to support this.

There is an opportunity to consolidate the multi process test harness in `MultiProcessTestCase` between `test_c10d.py` and `test_distribut