[2020-03-16 20:00] ezyang commented on #32867
cc @jspark1105

[2020-03-16 20:05] rgommers commented on #12013
The _non-exhaustive_ seems important here - the listed functions in the PR description were all done, but no triaging of other functions happened.

Perhaps needs a generic test for all functions in the `nn.functional` namespace?

[2020-03-16 20:06] ezyang commented on #33152
Yeah, pointwise complex multiply is all done. But if you have an old fashioned float tensor it's not possible to conveniently call the kernel due to #33950

Eventually we want rfft/irfft to return complex by default but this has BC implications which we haven't studied yet. An argument of some sort is definitely a good first step.

[2020-03-16 20:09] rjknight opened #34833 "Fix reference to NO_CUDA and NO_DISTRIBUTED"
## 📚 Documentation

The old build variables NO_CUDA and NO_DISTRIBUTED are referenced in CONTRIBUTING.md

[2020-03-16 20:11] rjknight commented on #34833
PR: https://github.com/pytorch/pytorch/pull/34831

[2020-03-16 20:20] ezyang commented on #34699
We're not going to backport type hinting fixes to 1.4.0, sorry.

[2020-03-16 20:20] #34699 closed

[2020-03-16 20:23] vadimkantorov commented on #33950
I wish storages were united also in relation with https://github.com/pytorch/pytorch/issues/34646 https://github.com/pytorch/pytorch/issues/34649 https://github.com/pytorch/pytorch/issues/34651

[2020-03-16 20:24] gottbrath commented on #33912
Ping .. this is the most important one of these items for Jerry.

[2020-03-16 20:28] orionr commented on #24468
Is everything installed in the same conda environment or virtualenv? You should be able to confirm that TensorBoard is returning `tensorflow` at https://github.com/tensorflow/tensorboard/blob/master/tensorboard/compat/__init__.py#L52

[2020-03-16 20:43] kurtamohler commented on #24596
I have a branch that ports mm to ATen: https://github.com/pytorch/pytorch/compare/master...kurtamohler:port-mm-cuda?expand=1

However, performance decreased in some cases, so I'm looking into that before creating a PR.

[2020-03-16 20:44] kurtamohler commented on #24596
Also, should I add complex support to this, or will that be a different issue?

[2020-03-16 20:53] neerajprad commented on #15738
The issue is the same as mentioned by @fritzo above and, while not as frequent, it exists whenever `_s_gamma_cpu` returns a tensor where all elements in the event dim are tiny (clamped to `2.2251e-308` for double). I'm not sure what's the best way to handle this.

[2020-03-16 21:04] alanhdu commented on #31545
This is also something that we're interested in -- we use `slice` objects at inference time to handle windowing logic (we work on realtime time series), and it'd be great to have first-class support for this!

[2020-03-16 21:24] alanhdu opened #34837 "[torch.jit.script] Support tensor indexing after an Ellipsis"
## 🚀 Feature

Support Tensor indexing after an ellipsis: right now the following code:

[code]

fails with:

[code]

## Motivation

For our application, we would like to manipulate the diagonal of a batch of matrices, which is most easily expressed by manipulating `inputs[..., range(N), range(N)]`. Unfortunately, Torch does not currently support this when using `torch.jit.script`.

[2020-03-16 21:34] alanhdu opened #34839 "[torch.jit.script] Allow `range` to index into Tensor"
## 🚀 Feature
Support using `range` objects as indexes into a Tensor.

Right now, code like:

[code]

will fail with

[code]

## Motivation

Using `range` makes it easier to express certain diagonal manipulations of matrices (e.g. for Toeplitz matrices). This isn't a huge deal, because `torch.range` exists, but it is a small papercut.

[2020-03-16 21:58] amatsukawa commented on #24468
After some tinkering, this seems to only work if you have tensorflow 2.1 installed, but not with tensorflow 1.14, which is what I had.

[2020-03-16 23:12] pritamdamania87 commented on #34141
Closing this out since we haven't been able to reproduce the failure. We can revisit this if we this consistently failing in the future.

[2020-03-16 23:27] zhaojuanmao commented on #34716
can reproduce it in local OSS stress runs with following error:

[E request_callback.cpp:39] Received error while processing request type 0: bad_weak_ptr
Rank 0 finished testing 20 times in 0.020754337310791016 seconds.
Process process 3:
Traceback (most recent call last):
  File "/home/yanlizhao/local/anaconda3/envs/py3.6/lib/python3.6/multiprocessing/process.py", line 258, in _bootstrap
    self

[2020-03-16 23:36] amatsukawa commented on #24468
Just for folks encountering this later. After further experimentation, it seems this will work with the last v1 release of TF as well (v1.15), if you prefer to have TF1.

[2020-03-16 23:54] RicCu commented on #34799
According to [this post from 25 days ago](https://discuss.pytorch.org/t/limitations-of-torch-mobile-torchscript-object-detection-segmentation/70197/2) there's no support for specialized object detection ops yet. However things might have changed since then.

[2020-03-17 00:03] zhaojuanmao commented on #34716
Process process 2:
[E thread_pool.cpp:112] Exception in thread pool task: [/home/yanlizhao/pytorch/third_party/gloo/gloo/transport/tcp/pair.cc:563] Read error [2401:db00:21:604e:face:0:13:0]:8835: Connection reset by peer
[E thread_pool.cpp:112] Exception in thread pool task: [/home/yanlizhao/pytorch/third_party/gloo/gloo/transport/tcp/pair.cc:563] Read error [2401:db00:21:604e:face:0:13:0]:8835:

[2020-03-17 00:31] #34727 closed

[2020-03-17 00:32] PeterCha90 commented on #34799
thanks for your answer!

[2020-03-17 00:35] MohamedAliRashad opened #34850 "load_state_dict_from_url error with weights downloaded from Google Drive ?"
## 🐛 Bug
It gives me an error when i pass a sharable link to `.pth` weights on google drive to the `load_state_dict_from_url` function

## To Reproduce
`torch.hub.load_state_dict_from_url("https://drive.google.com/open?id=1P_ZYUWuUjt2DAUtPxG882mdQX95TIX3D")`

## Expected behavior

to return the state_dict

## Environment

PyTorch version: 1.3.0
Is debug build: No
CUDA used to build PyTorch: 10.1.2

[2020-03-17 00:41] driazati opened #34851 "[jit] `__hash__` magic method is missing"
[code]

should work but errors out

[2020-03-17 00:54] peterjc123 commented on #34821
Well, this means the CUDA installation is flaky.

[2020-03-17 01:06] NeilGirdhar opened #34852 "Support arbitrary types in jit"
It would be really nice and elegant to be able to pass objects of arbitrary types to a jitted function.  Currently, it seems that you have to manually deconstruct the object before the call and reconstruct it after the call.

I think the easiest most complete implementation would be to simply copy `jax.register_pytree_node` (https://jax.readthedocs.io/en/latest/notebooks/JAX_pytrees.html).  Essent

[2020-03-17 02:53] as754770178 opened #34857 "Pytorch 1.4 backward error"
[code]

The loss is `tensor(17.5398, device='cuda:0', grad_fn=<PermuteBackward>)`.
In torch1.2, the program can run. In torch1.4 report error.

cc @ezyang @SsnL @albanD @zou3519 @gqchen

[2020-03-17 03:21] #34751 closed

[2020-03-17 03:21] FernandoZhuang commented on #16417
## Background

py36, pytorch1.4, tf2.0, conda
fine tune the Roberta

## Issue

The issue same as @EMarquer : **pycharm** shows that  i still have enough memory, however allocates memory failed, out of memory.

## Ways I tried

1. "batch_size = 1" failed
2. "torch.cuda.empty_cache()" failed
3. CUDA_VISIBLE_DEVICES="0" python Run.py failed
4. Because i don't use jupyter, no need to restart the kerne

[2020-03-17 03:25] emailweixu opened #34859 "Incorrect shape from torch.distributions.kl.kl_divergence"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
Run the following code
[code]

## Expected behavior

In the above code, the expected shape from the first kl_divergence() should be `[2]`. Instead, I got `[]`.

## Environment

ollecting environment information...
PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Ubuntu 18.04.2 LTS
GCC version: (Ubuntu 7.5.0-

[2020-03-17 03:47] driazati commented on #34852
We have support for [classes in TorchScript](https://pytorch.org/docs/master/jit_language_reference.html#id2), is there something in particular that's missing that you're looking for? `NamedTuple`s are also supported. We also have other things like `enum.Enum` and `@dataclass` on our roadmap but no concrete timeline yet. We're also introducing a way to [bind C++ classes into TorchScript](https://p

[2020-03-17 03:49] NeilGirdhar commented on #34852
Got it, that makes sense.

[2020-03-17 03:50] #34852 closed

[2020-03-17 05:10] prabhuomkar opened #34862 "[C++ API] Support for CIFAR10 and CIFAR100 Datasets"
## 🚀 Feature
C++ API should support Famous Open Datasets CIFAR10 and CIFAR100.
**Dataset Reference**: [https://www.cs.toronto.edu/~kriz/cifar.html](https://www.cs.toronto.edu/~kriz/cifar.html)

## Motivation
While creating PyTorch C++ tutorials [https://github.com/prabhuomkar/pytorch-cpp](https://github.com/prabhuomkar/pytorch-cpp), I came to know that PyTorch has support for these datasets via [v

[2020-03-17 05:12] prabhuomkar commented on #34862
cc @yf225 @soumith @apaszke

[2020-03-17 06:02] yoshihingis commented on #34524
Dear peterjc123

Thank you for your helps.
 I got All Dlls and Libs for the libtorch Ver1.4 and Preview(Nightly) by build_pytorch.bat .
 I got libtorch-win-shared-with-deps-1.4.0.zip and libtorch-win-shared-with-deps-latest.zip as same as the originals from  pytorch.org.

 But it took very long time to build, I needed 8 hours by Core-i7 4790K to build.

 I have one question ; Is there way not to b

[2020-03-17 06:29] peterjc123 commented on #34524
@yoshihingis Are you using Ninja? If not, you may give it a try. `pip install ninja`.

[2020-03-17 06:33] peterjc123 commented on #34524
Also, you don't need to compile for all CUDA architectures. Take a look here. https://github.com/pytorch/builder/blob/master/windows/cuda101.bat#L44

[2020-03-17 08:05] sdsy888 commented on #3022
Several possible solutions: (not sure if any one of them could fix the problem independently)
- BIOS version: I followed the discussion above to update my BIOS version from 3501 to 4001 (Asus X99-E WS/USB3.1), problem solved.
- Setting the Nvidia GPU fan: I changed the GPU fan speed to reduce the risk of high temperature that could cause emergent shutdown/reboot.
- Lower the `num_worker` from 12 t

[2020-03-17 08:19] peterjc123 opened #34870 "Flaky test test_ctc_loss_cuda on Windows"
## 🐛 Bug

[code]
Example CI runs:
1. https://circleci.com/gh/pytorch/pytorch/4836419?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
2. https://circleci.com/gh/pytorch/pytorch/4824934?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

## To Reproduce

Steps to reproduce the behavior:

1. python run_test.py -i autograd

## Expected

[2020-03-17 08:30] linchaozhang opened #34872 "why the bias is float in quantization model"
I've found the bias in quantization model is float after convert.

i think the bias should be int32 for inference in paper

and how can i extract the params in quantization model?

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a

[2020-03-17 09:02] Parskatt opened #34874 "Extend nn.functional.softmax for arbitrary dimensions"
## 🚀 Feature

Allow dim in softmax to be: dim (python:int or tuple of python:ints).
## Motivation

This would allow calculation of softmax over arbitrary dimensions, which is useful in some contexts.

Example of what I'm currently doing in a project(not numerically stable):

[code]
Many pytorch functions already allow a Union of int and tuples for dimensions.
Extending this to softmax would be in

[2020-03-17 09:30] taoddiao commented on #34576
@ptrblck Hi ptrblck, I have updated CUDA to 10.1 but no improvements. P100 is still 17-18 times slower than V100.
Results:
| | MSELoss | DiceLoss|
|-|-|-|
|P100 (PyTorch 1.4.0 + CUDA 10.1)| 0.38662s/iter | 0.38683s/iter |
|V100 (PyTorch 1.4.0 + CUDA 10.1)| 0.02145s/iter | 0.02102s/iter |

[2020-03-17 09:36] vadimkantorov commented on #6514
Implemented in master. However, casting (*, 2) float tensors to complex tensors seems not done atm: https://github.com/pytorch/pytorch/issues/33152#issuecomment-599735453

[2020-03-17 09:36] #6514 closed

[2020-03-17 09:39] vadimkantorov commented on #33152
@ezyang Does real() and imag() always copy? In many circumstances for advanced complex formulas it may be very useful to "unbind" complex tensor into real/imag without copying. I proposed `copy=False` argument for conj() in https://github.com/pytorch/pytorch/issues/30237 but is rejected for now

[2020-03-17 09:47] mdztravelling opened #34876 "outputs are different between ONNX and pytorch"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.  I export a pytorch model to onnx and there are not any errors, but the outputs are different when doing inference use same inputs.    What is possible solution ?
[code]

1.  pytorch model , network and script (export onnx ) in this repo [https://github.com/mdztravelling/ASR](url)
1. convert log in [https://github.com/mdztravelling/AS

[2020-03-17 09:51] songyuc opened #34877 "Could please add a member function like "nn.Module.get_out_channels()""
## 🚀 Feature
I want a member function like "nn.Module.get_out_channels()".

## Motivation
It will be more convenient as I can write the code as:
[code]

Thanks in advance!

[2020-03-17 10:01] r-zenine commented on #34826
Hi @colesbury,
Thanks for the tip. I'll give it a try.

[2020-03-17 10:07] lablabla opened #34878 "Set the number of CUDAStream"
## 🚀 Feature
Allow setting the number of `CUDAStream` in the stream pools

## Motivation
When running multiple inferences using different streams from different threads, the current concurrency limit is 32 (as stated in https://github.com/pytorch/pytorch/blob/master/c10/cuda/CUDAStream.h). We're using T4 which allow Concurrent Kernel Execution of 128. and would like to use more than 32 logical str

[2020-03-17 10:50] Hemantr05 opened #34879 "Addition of Siamese loss or contrastive loss function"
## 🚀 Feature

I would like to contribute to the pytorch by adding the [ contrastive loss](http://yann.lecun.com/exdb/publis/pdf/hadsell-chopra-lecun-06.pdf) function which is usually implemented  for siamese networks

## Motivation

I have been working on siamese networks and have implemented constrastive loss to measure similarity between bottleneck embeddings of the autoencoder.

## Pitch

The o

[2020-03-17 12:08] wxupjack commented on #22372
Have you solved this problem？I also meet it when using this yolo templete.

[2020-03-17 12:37] heiner opened #34880 "Expanded tensors don't work as registered buffers"
## 🐛 Bug

Consider the following code ([gist](https://gist.github.com/heiner/4e8b34c3edd66a04b11e8a3798e14656)):

[code]

The error underlying error is:

[code]

## To Reproduce

Run code above.

## Expected behavior

I can see why writing to a tensor with a non-standard stride like the one returned by `expand` is tricky. Still, there are use cases for copying the weights (and buffers) of one modu

[2020-03-17 13:03] jjabo commented on #34714
@neerajprad - The code you posted crashes for me with
 _AttributeError: 'list' object has no attribute 'numel'_
since I give a list to sample_shape (is that wrong usage)? If I change your code to:
[code]
it works.
One peculiarity though is that the batch dimensions become the last dimensions of the output, e.g if I create categorical with probs.shape = [B,X] and call sample(sample_shape=[500]) the

[2020-03-17 13:28] Evpok commented on #34877
I don't think that would be practical, since the output of a module can be anything and in particular, if it is a tensor there is in general no guarantee that the dimensions are constant.
Maybe something can be done with type hints for layers that do have a static output shape?

[2020-03-17 13:36] ajay-sreeram commented on #4546
I am having

NVIDIA-SMI <b>390.30</b>                 Driver Version: <b>390.30</b>
Cuda compilation tools, release <b>9.1, V9.1.85</b>
torch._C._cuda_getDriverVersion(): <b>9010</b>

but torch.cuda.current_device() throws error:
`The NVIDIA driver on your system is too old (found version 9010). `

someone please help me with this

[2020-03-17 13:38] huangrichen11 opened #34881 "libtorch memory leak"
## 🐛 Bug
result in memory leak when use libtorch. but i think that it is very strange. because i only define `torch::DeiviceType`  , then got **bug1**
### bug1
[code]

### bug2
[code]
## To Reproduce
### bug1
[code]
### bug2
[code]

## Environment

 - PyTorch Version : 1.4
- libtorch Version: 1.4
 - OS (e.g., Linux): Ubuntu 14.04
 - How you installed PyTorch (`conda`, `pip`, source): pip
 - Python

[2020-03-17 13:44] huangrichen11 opened #34882 "libtorch strange memory leak"
##  Bug
Using libtorch causes memory leaks. but i think that it is very strange. because i only define `torch::DeiviceType`  , then got **bug1**
### bug1
[code]

### bug2
[code]
## To Reproduce
### bug1
[code]
### bug2
[code]

## Environment

 - PyTorch Version : 1.4
- libtorch Version: 1.4
 - OS (e.g., Linux): Ubuntu 14.04
 - How you installed PyTorch (`conda`, `pip`, source): pip
 - Python versi

[2020-03-17 13:46] peterjc123 commented on #34882
Closing the duplicate issue.

[2020-03-17 13:46] #34882 closed

[2020-03-17 14:26] pearu commented on #8049
@vadimkantorov sorry for the late response.
The algorithm of `svd_lowrank` assumes that it's input is a lowrank matrix. Applying `svd_lowrank` to a full-rank matrix violates this assumption. So, I would not trust that the result will give extreme singular values exactly, although, it may be close to it. This requires experimenting (that may lead to discarding the idea) and analysis (to ensure that

[2020-03-17 14:51] mrshenli commented on #30105
closed by #31893

[2020-03-17 14:51] #30105 closed

[2020-03-17 14:51] mrshenli commented on #27098
closed by #34497

[2020-03-17 14:51] #27098 closed

[2020-03-17 15:03] LyricZhao commented on #21683
Looking forward to have it in torch

[2020-03-17 15:25] glaringlee commented on #31938
Please refer to the PR to see the solution we put there.

[2020-03-17 15:25] #31938 closed

[2020-03-17 15:26] cpbotha commented on #25639
Hi all, until someone has time to fix this at the source, I hacked and slashed together (using Emacs of course) an index-url you can use for pytorch: https://vxlabs.com/pypi/

I am currently using this in my poetry pyproject.toml as an additional index-url and it works like a charm.

You can drill down, you'll see that it ends up pointing to all the whl packages that are hosted at pytorch, it just

[2020-03-17 15:31] fritzo commented on #34714
@jjabo `[500,B]` is correct in your example since `sample_shape` is by convention left of `batch_shape`. From a [tutorial](https://pyro.ai/examples/tensor_shapes.html#Distributions-shapes:-batch_shape-and-event_shape):
[code]

[2020-03-17 16:19] eellison commented on #34851
Is this something you encountered or a something a user brought up ? I don't know how useful it is to enumerate all python features if no user is ever encountering it.

[2020-03-17 17:48] ezyang commented on #24596
complex mm can be a separate issue.

[2020-03-17 17:55] driazati commented on #34851
Just something we're missing. It's another random hole in the language that'd be pretty easy to fix, just like a lot of other stuff we found during the language survey

[2020-03-17 17:59] ezyang commented on #34141
If you cannot reproduce locally, I would suggest thinking about what kind of logging or rage-style reporting could be installed to help you debug from the (rare) CI crashes. This is a doubly good exercise to do for a distributed system since any extra robustness you add here will also help you diagnose production crashes. I'll emphasize that setting up this kind of logging infrastructure is not an

[2020-03-17 18:05] ezyang commented on #33152
Yes right now it always copies. It would be good to avoid the copy but #33950 needs to happen first.

[2020-03-17 18:07] ezyang commented on #25639
Thanks @cpbotha. BTW, @kohtala, @seemethere and I were looking at this recently, and we noticed that `provides-dist` has a very scary message on the docs saying most tools in the ecosystem don't use it. Do you have any experience using it for projects?

[2020-03-17 18:13] ezyang opened #34895 "Delete as_variable_ref"
It doesn't do anything anymore. Get rid of it.

[2020-03-17 18:13] ezyang commented on #34895
Reserving this task for bootcamp.

[2020-03-17 18:25] eellison commented on #34851
Makes sense. It would still be good to delineate user issues / real issues in some way.

[2020-03-17 18:30] soumith commented on #34880
cc: @albanD

[2020-03-17 18:35] ngimel commented on #34878
cc @ptrblck @csarofeen, this is nvidia-specific.

[2020-03-17 18:36] mrshenli commented on #34877
@songyuc

If you are only looking for this API in conv layers, I think it is already there. You can get the out channels by calling `conv1.out_channels`.

For general `nn.Module`, I agree with @Evpok's comments. Not all modules have a channel dimension.

[2020-03-17 18:39] Hemantr05 commented on #34879
@mrshenli  can create a PR?

[2020-03-17 18:56] neerajprad commented on #34714
@jjabo - I have put up a fix with your solution above. I have not been able to test it on CUDA, but going by your response above, I think it should work and not result in OOM error anymore. Thanks for flagging this!

[2020-03-17 19:04] albanD commented on #34880
Hi,

I'm not sure to understand what you want here?
Do you mean that the error introduced in https://github.com/pytorch/pytorch/commit/c7bf4d22fe7f0de239feeb084682827c3b9a759f is not clear enough in this case?

[2020-03-17 19:05] gchanan commented on #34660
This sounds reasonable -- @vincentqb do you object?

[2020-03-17 19:06] heiner commented on #34880
The error message is not great but that's not my point.

I'd rather ask if we shouldn't support Tensor.copy_ from a tensor with the same size and strides?

[2020-03-17 19:08] zhangguanheng66 commented on #34537
Landing one of the two PRs should be able to solve the issue.
https://github.com/pytorch/pytorch/pull/34719
https://github.com/pytorch/pytorch/issues/34573

[2020-03-17 19:22] gchanan commented on #21457
@bnehoran: assigning you because @soumith says you are working on it, but no time pressure to complete it.  Let me know if that isn't accurate.

[2020-03-17 19:24] gchanan commented on #634
we accept the feature request for HierarchicalSoftmax.

we'll accept the negative sampling loss (i.e. what is linked in chainer), but don't plan to add anything beyond that at this time.

[2020-03-17 19:34] exfoxz commented on #29546
I'm now running into this issue and seeing two different behaviors with 2 different versions of PyTorch:
Code:
[code]

PyTorch 1.4.0a0+b9b9fd4 (compiled from source):
[code]

PyTorch 1.5.0a0+f9ad552 (compiled from source):
[code]

I suppose the later behavior is the correct one while PyTorch 1.4.0 seems to be giving the wrong mask.

[2020-03-17 19:37] albanD commented on #34880
cc @VitalyFedyunin do you think this could be added to TensorIterator on which copy_ is based?

[2020-03-17 19:42] fmassa opened #34907 "max / min doesn't work on tensors with 0 elements"
## 🐛 Bug

Current `min` / `max` implementation is too restrictive wrt tensors with zero elements.
Indeed, min/max reduction over an empty dimension should raise an error, as they don't have an identity, but if the dimension being reduced is not of size 0 (but the tensor has 0 elements), then it should work.

## To Reproduce

[code]
raises
[code]
while
[code]
returns
[code]

---
PyTorch version `1.

[2020-03-17 19:48] exfoxz opened #34908 "Flipped look-ahead attention mask with generate_square_subsequent_mask()"
## 🐛 Bug

This is a re-open of #29546. It seems to have been fixed with v.1.3.1 but now seems to have made a come back with 1.4.0a0+b9b9fd4. However, it doesn't seem to be a problem with 1.5.0a0+f9ad552, but considering 1.4.0 is the stable release, it is still an issue.

Basically the mask generated with Transformer.generate_sequare_subsequent_mask() is flipped and allows tokens at current timeste

[2020-03-17 19:49] jjsjann123 commented on #34736
Just a quick update.
I hit multiple bugs in investigation. But with ToT code as of commit `ef78fa8868bbeb61` We locate this problem down to max pooling layer.

The new minimal repro I have is (@xwang233 is working on it right now):
[code]

Our error message is poor here, because of concurrent kernel execution. We tried to improve it with #34853

[2020-03-17 19:54] vincentqb commented on #34660
That sounds good to me too.

[2020-03-17 20:09] exfoxz commented on #34908
I compiled my PyTorch from source, and my system has IBM processors, if that helps.

[2020-03-17 20:17] kurtamohler commented on #33950
I'll start on it this week.

[2020-03-17 20:43] jerryzh168 commented on #34351
@masahi Thanks for providing your input! Yes for `quantized::cat` we might want to enforce inputs and outputs to have the same `scalar_type`, but this is not the case in general. If we take a step back and look at how we get quantized ops, it is through patterns like the following, taking `quantized::conv2d` from graph mode quantization as an example:

[code]
Notice that `%r_dtype` in `aten::quant

[2020-03-17 20:44] bisandud commented on #15763
Please I have same problem but after doing all the suggestions here this is what i am having
Epochs: 0%
0/100 [00:00<?, ?it/s]
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
~\Dropbox\Implement2020\Codes\DNNETSC\matic_pytorch.py in <module>
     13     for sample in lc_database: # data samples

[2020-03-17 20:47] kimishpatel opened #34913 "Generic API for ops that are require context, such as packed weights."
## 🚀 Feature
A generic API that encapsulates certain operators that require contexts. For example weights are prepacked in certain format.

## Pitch

* Instead of using _xnnpack::conv2d_prepack and _xnnpack::conv2d_packed, prepacked::.., prepacked::..
    * Conv:
        * prepacked::conv2d_clamp_prepack -> Conv2dOpContext
        * prepacked::conv2d_clamp_run
    * Linear:
        * prepacked::li

[2020-03-17 20:47] aluo-x commented on #34431
v1.4.0 builds fine, installs, and as far as I can tell, runs on both the CPU & GPU
Just to confirm. I can still replicate this using the latest master.
**Platform:** Linux 5.5.9
**Driver:** 440.64
**CUDA:** V10.2.89
**Python:** Anaconda 2019.10, Python 3.7.6
**GCC:** 8.3.1
**Binutils:** 2.34.0
**Pytorch version:** [cfab65d](https://github.com/pytorch/pytorch/tree/cfab65d90df2e7ca6d98a8207b603c1345

[2020-03-17 20:47] kimishpatel commented on #34913
cc: @dzhulgakov, @dreiss, @AshkanAliabadi

[2020-03-17 20:52] masahi commented on #34351
I believe concat op doesn't need `scalar_type` argument (assuming it means output dtype), but for other ops it makes sense to add `scalar_type`.

Right now all Torch quantized ops output quint8 tensor as output. Can I use this occasion to ask if Torch team has a plan for other output types, like uint4? If that is the case, the output `scalar_type` does really matter. Personally I'm very interested

[2020-03-17 20:59] noahgolmant commented on #34660
@vincentqb I have to dig a tiny bit more to implement the replacement since the example dictionary update code isn't correct, but after that I'll make a PR!

[2020-03-17 21:00] jerryzh168 commented on #34351
yeah, but we would like to keep consistent for all quantized ops. `quantized::cat` and similar ops can have checks in the ops that input/output scalar_types should be the same.

I think we'll be supporting more scalar_types if we see they become popular in different hardwares, but right now you can already do 4 bit quantization during training using fake quant to estimate the accuracy impact

[2020-03-17 21:38] csarofeen commented on #34878
Physical streams remain at default 8 and maximum 32.

[2020-03-17 22:10] ngimel commented on #20240
cummin and cummax are implemented.

[2020-03-17 22:10] #20240 closed

[2020-03-17 22:10] ailzhang commented on #34839
Thanks @alanhdu for the feature request! @driazati IIRC you have a list of language features we'll be adding, does this fall into our plan?

[2020-03-17 22:10] ailzhang commented on #34837
Thanks @alanhdu for the feature request! @driazati IIRC you have a list of language features we'll be adding, does this fall into our plan?

[2020-03-17 22:16] ailzhang commented on #34713
This seems a duplicate of https://github.com/pytorch/pytorch/issues/16123. Marking triage review to collect a short update for this task.

[2020-03-17 22:43] zhangguanheng66 commented on #34908
Please check if the PR to fix the type-promotion bug is in your branch. The PR was sent after 1.3 release (October 10, 2019)

[2020-03-17 22:52] terhuhf commented on #34647
Closed by #34843

[2020-03-17 22:52] #34647 closed

[2020-03-17 23:47] uddmorningsun commented on #28775
I will close because of no any response, and see: https://github.com/uddmorningsun/mips-applications-in-python/tree/master/pytorch

[2020-03-17 23:47] #28775 closed

[2020-03-18 00:51] #34714 closed

[2020-03-18 02:07] peterjc123 commented on #34821
[code]
It seems to be caused by the installation of `visual_studio_integration_10.1`. Let's do it manually.

[2020-03-18 02:13] linchaozhang opened #34937 "[JIT]torch.jit.export invaild for pytorch1.4"
@torch.jit.export
it works in pytorch1.3, the same code in pytorch1.4, it's invaild.

[2020-03-18 02:30] peterjc123 commented on #25393
New occurrence after the previous fix:
https://circleci.com/api/v1.1/project/github/pytorch/pytorch/4848808/output/105/0?file=true&allocation-id=5e715778abc2b72bcca749e6-0-build%2F6B231C7B

[2020-03-18 02:32] emcastillo commented on #31467
While trying to reproduce the issue, I have seen that it is happening because the
temporary folder created by `self.basedir = TemporaryDirectory()` is being destroyed before the
`FileStore` destructor gets invoked. (Probably at the end of the test `setUp` method).

When it tries to open the file in https://github.com/pytorch/pytorch/blob/master/torch/lib/c10d/FileStore.cpp#L274
The temp dir seems

[2020-03-18 02:40] mrshenli commented on #34857
Hey @as754770178, could you please add a repro for this error?

[2020-03-18 02:43] mrshenli commented on #34872
@linchaozhang could you please the [forum](https://discuss.pytorch.org/c/quantization/17) for questions? Closing this issue now. Feel free to create another issue if this becomes a concrete feature request.

[2020-03-18 02:43] #34872 closed

[2020-03-18 02:54] CaoZhongZ opened #34939 "Enable OpaqueTensor to possess Storage to allow it to view from CPUTensor"
## 🚀 Feature
Allow OpaqueTensor to have storage. Implement OpaqueTensor<<ideep::tensor>> in a way that use Storage as its buffer manager.

## Motivation

  MKLDNN Layout is a physical extension to stride layout (always stride logically), so it is compatible to CPUTensor when transform from it. The copy nature of to_mkldnn will hurt performance when MKLDNN ops scattered in models, while it could be

[2020-03-18 03:45] Mujtaba-Asif opened #34941 "Issues with DataParallel on Multiple GPUs"
I am getting the following error when trying to use Multiple GPUs with DataParallel. Please note the implementation works perfectly fine on a single GPU.
Here is the traceback:

Traceback (most recent call last):
  File "train.py", line 247, in <module>
    train_loss = train_xe(model, dataloader_train, optim, text_field)
  File "train.py", line 77, in train_xe
    out = model(detections, captions

[2020-03-18 04:06] samson-wang commented on #18631
@mschneider Thanks. I've been very busy for last two months. I've made the repo public https://github.com/samson-wang/dwconv . The backward has not done yet. It's a large kernel convolution problem. I'll have a try next few days.
Feel free to do a pull request. lol

[2020-03-18 05:29] HopefulRational commented on #34874
Hi @Parskatt. I think this can be done by using `permute` and  `reshape` to merge those dimensions and then using `nn.functional.softmax` for that single dimension and again using the `permute` and `reshape` again to get to right dimensions.
I came across this and did it that way while implementing a paper that uses softmax_3D. Following code may be helpful for better understanding :
[code]
Hope t

[2020-03-18 06:35] HopefulRational commented on #34941
Hi @Mujtaba-Asif. I am new here but want to contribute. Could you please mention the pytorch version you are using.
Also if you are not using the `nn.DataParallel` in a manner similar to :
[code]
then, could you please give that part of the code where you are using `nn.DataParallel`.
Thanks.

[2020-03-18 06:58] liyuanyaun commented on #19070
but how use functions of the trace module in libtorch?

[2020-03-18 06:59] HopefulRational commented on #34797
Hi @Rikorose. Actually work is still going on for all this. For example, check this :
https://github.com/pytorch/pytorch/issues/33152#issuecomment-599735453
hope this helps.

[2020-03-18 07:01] Coderx7 commented on #18325
In order to get rid of such errors, first save your models using `torch.jit.trace(model, example_input)` and then save it using `torch.jit.save(model)`. ultimately load your model using `torch.jit.load('path to new model parameters') `

[code]
then load the model
[code]

[2020-03-18 07:18] Rikorose commented on #34797
There is already `torch.fft` that supports complex input via separate real and imaginary part in the last dimension.

The problem lies within the stft implementation ([here](https://github.com/pytorch/pytorch/blob/40265e2/aten/src/ATen/native/SpectralOps.cpp#L196), and [here](https://github.com/pytorch/pytorch/blob/40265e2/aten/src/ATen/native/SpectralOps.cpp#L252)).

An option would be to additio

[2020-03-18 08:05] chiehpower opened #34947 "Cannot use setup.py install"
## 🐛 Bug
Hi all,
I already have torch and there is no issue if I import torch.
However, if I import `caffe2.python` Then I will get this error message.
[code]
So I am going to install pytorch repo from stratch.
However, when I use this command...
[code]
Then I get these error messages below.
[code]
It said that ` fatal error: cuda.h: No such file or directory #include <cuda.h>```
I have exported m

[2020-03-18 08:14] msieb1 opened #34948 "TracerWarning: Output nr 1. of the traced function does not match the corresponding output of the Python function"
## 🐛 Bug

I am calling `torch.jit.trace` on a model and I am getting the corresponding error. Detailed:

[code]

[2020-03-18 08:31] Parskatt commented on #34874
Yeah, but it looks messy ;)

[2020-03-18 08:37] Mirko-Nava opened #34949 "Equality operator for torch.distribution.*"
## 🚀 Feature
Implement `__eq__()` for torch.distributions.distribution.Distribution and subclasses.

## Motivation

This would avoid situations such as:
[code]
It should be possible to compare distributions without the need of writing custom code.
The comparison operator could be implemented according to the parameters that define the distribution itself.

As an example, the Normal class could hav

[2020-03-18 08:52] liyuanyaun opened #34950 "how could i load model in c++ and use other method not forward"
for exanple:
[code]

and in libtorch
the mothod 'forward' can be used by (torch::jit::script::Module)model.forward. if i want to use method 'weighted_kernel_sum', but how to referance the method   'weighted_kernel_sum'?

cc @suo

[2020-03-18 09:00] lablabla commented on #34878
@csarofeen, can you please share where is this stated? I couldn't find information about this before opening the issue. Might have used the wrong search terms

[2020-03-18 09:07] ptrblck commented on #34576
@taoddiao Thanks for the code! I can reproduce this issue and it seems two cublas kernels are creating the performance hit on the P100. I'll forward the issue and will update you here.

[2020-03-18 09:39] HopefulRational commented on #34797
hi @Rikorose . ok... I am actually new but wanted to contribute... sorry i didn't do my homework...

[2020-03-18 10:23] yoshihingis commented on #34524
Dear peterjc123

Thank you for your good support, and I am sorry for my many questions.
you said that you don't need to compile for all CUDA architectures.
I used Geforce GTX1060 6G memory. It's Computer capability is 6.1.
How should I modify the codes of cuda101.bat ?

[Original Code as below]
IF "%BUILD_VISION%" == "" (
    set TORCH_CUDA_ARCH_LIST=3.7+PTX;5.0;6.0;6.1;7.0;7.5
    set TORCH_NVCC_

[2020-03-18 10:28] peterjc123 commented on #34524
@yoshihingis If you only use the compiled binaries on our own machine, then you could do `set TORCH_CUDA_ARCH_LIST=6.1`. Otherwise, your modification looks good.

[2020-03-18 10:32] matthijsvk commented on #9222
I'd also be very interested in Pytorch support for (block) sparse operations.
In neural networks for example, OpenAI uses it for language modeling, speech, and I think also in their DOTA2 AI.

[2020-03-18 10:43] jgong5 commented on #34939
@CaoZhongZ Are you proposing to extend the semantics of `Storage` such that it could be no longer (offset, strided layout)? Would this BC breaking? Note that the code can get the `Storage` from a `Tensor` and pass it and the corresponding offset along to initialize another `Tensor` assuming strided layout. I guess that is why opaque tensor does not hold `Storage`. Can we make the `Storage` interna

[2020-03-18 12:13] kohtala commented on #25639
Hi.

No, I have not used `provides-dist`.

The main improvement proposed in this issue was the simple repository index that @cpbotha created for test. `provides-dist` was an idea on top of it to take it one step further. If `provides-dist` does not work, there would then need to be different indices for different cuda versions. Different cuda versions could not be in a single index (such PyPi).

[2020-03-18 12:16] CaoZhongZ commented on #34939
I might be naive and optimistic in this:
1. Both 'has_storage' and 'storage' are virtual, which means I could block storage request when format are not compatible.
2. or if has_storage, we use storage, if not, ideep::tensor behavior as descriptor and manager.
Clean and clear.

Hold the ref and deleter in a void pointer? That's too vague and not straight forward.

[2020-03-18 12:20] kohtala commented on #25639
I tried to see what happens with `pip`. Unfortunately it seems to treat packages by same name and version unique and always download the one from PyPi. pypa/pip#5045

[2020-03-18 12:21] cpbotha commented on #25639
Just to add to @kohtala 's comment above:

I wast struggling yesterday with the cuda and gpu versions.

According to PEP 440 "torch-1.4.0+cpu" is exactly the same version as "torch-1.4.0" and "torch-1.4.0+cu92", for example. So if you start by installing +cpu for example, it's hard to convince pip or pipenv that you want to go back to the cu101 packages, which are the postfix-less version ones.

A

[2020-03-18 12:22] cpbotha commented on #25639
Besides the local version label (+blah) I mentioned above, I am able to install directly from my index with e.g. `pip install --index-url=https://vxlabs.com/pypi/ torch==1.4.0`.

[2020-03-18 12:22] vadimkantorov opened #34951 "[feature request] Sparse output option for topk, min, max"
I wonder if PyTorch hybrid sparse/dense tensors can be used to represent outputs of dimension-wise topk / min / max. Unfortunately I couldn't completely understand from docs if they can be used for that (my current understanding is that they could not, hence feature request).

Probably pruning work is related as well.

My current impl storing directly indices/values from topk: https://gist.github.

[2020-03-18 12:22] Coderx7 commented on #31620
I faced this issue and my problem was that, the pretrained model I used, had saved the model wholely ( saved it like `torch.save({'model': model})` and as you know, this is very bad, since in order to use that model, you need to have the same module/file/dir heirarchy or else it will crash.
I tried to convert this model into torch script, it went fine, but upon using I faced this error.

to solve

[2020-03-18 13:04] jgong5 commented on #34939
@CaoZhongZ Yes, this should work. Basically we never use `Storage` to store data with opaque layout, which is safe to fit into current design.

[2020-03-18 13:19] mrshenli opened #34952 "DISABLED test_backward_node_failure (__main__.DistAutogradTestWithSpawn)"
https://app.circleci.com/pipelines/github/pytorch/pytorch/141441/workflows/a4d5bdb8-6425-4c59-9997-a468ad951b01/jobs/4854537

[code]

cc @ezyang @gchanan @zou3519 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar

[2020-03-18 14:05] Enealor commented on #20984
I like breaking up the documentation as it will make it faster to build small parts of it - any changes to documentation included in nn.rst is slow to process due to how long it takes to compile. If we want to use one page per function/class, then we should look into using [autosummary](https://www.sphinx-doc.org/en/master/usage/extensions/autosummary.html). It handles generating the individual HT

[2020-03-18 14:06] dinkdeep opened #34953 "Graphic tool to view the backward(Gradient Graph) and forward graph in Pytorch"
Is there any graphical tool based on dot (graphViz) similar to what (TensorFlow and Pytorch/Glow) to view the backward Graph in Pytorch or at least a way to get a textual dump of backward Graph where the Graph Tree with Nodes and there edges can be seen, somethings on the line of JIT IR. Is there some environment variable like PYTORCH_JIT_LOG_LEVEL or some logic to dump the Nodes/edges  in torch/c

[2020-03-18 14:09] dinkdeep commented on #34953
By mistake populated the description with comments .

[2020-03-18 14:16] malfet commented on #34431
Those functions are implemented in `elementwise_mul_gradient_op.cc`, which according to the log were compiled.
@aluo-x , can you please run:
`nm caffe2/CMakeFiles/torch_cpu.dir/operators/elementwise_mul_gradient_op.cc.o|c++filt |grep Backward` and share the output here?

[2020-03-18 14:23] duncster94 commented on #9222
FYI, OpenAI had a blog post about a month ago about this. They're actively implementing blocksparse kernels in PyTorch.

https://openai.com/blog/openai-pytorch/

[2020-03-18 14:24] amoshyc opened #34954 "[Tensorboard] `RuntimeWarning: invalid value encountered in multiply` when calling `add_embedding` with `label_img`."
## 🐛 Bug

When calling [`add_embedding`](https://pytorch.org/docs/stable/tensorboard.html#torch.utils.tensorboard.writer.SummaryWriter.add_embedding) with `label_img`, sometimes I get following warning:
[code]

I suspect it is caused by [L34](https://github.com/pytorch/pytorch/blob/73c1030328deb6f00ab867f5c402b203dbffae3c/torch/utils/tensorboard/_embedding.py#L34) in `make_sprite`.

1. According t

[2020-03-18 14:36] colesbury commented on #34761
Sorry, this was a bug in PyTorch 1.3.0. It was fixed in 1.3.1 and later versions.

See https://github.com/pytorch/pytorch/releases/tag/v1.3.1

[2020-03-18 14:36] #34761 closed

[2020-03-18 14:41] colesbury commented on #34765
A typical pattern is to save the best state_dict to a file. If you prefer keeping the values in memory, you can use `copy.deepcopy` from the standard Python library.

I don't see a compelling enough argument for expanding the interface of `state_dict()` when there are built-in functions to perform the same operation, but I'll leave this issue open for other PyTorch contributors to comment on.

[2020-03-18 14:44] colesbury commented on #34771
See https://github.com/pytorch/pytorch/blob/master/tools/autograd/derivatives.yaml

That file is used to generate torch/csrc/autograd/generated/Functions.cpp during the build process. Here is an example of the generated output from a recent version of PyTorch:

https://gist.github.com/colesbury/0620ea5bbba1d073002c7ed9612c9e91

[2020-03-18 14:44] #34771 closed

[2020-03-18 14:51] colesbury commented on #34773
Use differentiable operations in the first order derivative. For example, the LLTMFunction looks like:

[code]

You would write something like:

[code]
[code]

[2020-03-18 14:51] #34758 closed

[2020-03-18 14:56] colesbury commented on #34772
Thank you for tracking down the root cause and the PR

[2020-03-18 14:58] colesbury commented on #34788
cc @gchanan, guardian of the Tensor API

[2020-03-18 15:00] yarkable commented on #2762
hardcore

[2020-03-18 15:01] colesbury commented on #34789
Use `python setup.py install` to build the Python package. It will use cmake under the hood, but you should not call cmake directly; that's not a supported way to build the Python package

These environment variables control the build:
https://github.com/pytorch/pytorch/blob/d927d58c2a72e46e84d03bcd4fa01118e7b9f4b3/setup.py#L28-L115

[2020-03-18 15:01] #34789 closed

[2020-03-18 15:03] #34766 closed

[2020-03-18 15:03] xieshuqin commented on #34773
I see, thank you!

[2020-03-18 15:03] #34773 closed

[2020-03-18 15:05] colesbury commented on #34833
Thanks!

[2020-03-18 15:13] colesbury commented on #34947
Here are the environment variables that control the build:

https://github.com/pytorch/pytorch/blob/d927d58c2a72e46e84d03bcd4fa01118e7b9f4b3/setup.py#L120

You might want to try `CUDA_HOME` instead of `CUDA_INSTALL_DIR`.

@orionr, Is caffe2 included with the PyTorch wheel? I was under the impression that it was.

[2020-03-18 15:16] colesbury commented on #34826
PyTorch devs: we might want to ensure that the AT_DISPATCH macros work with all the built-in scalar types

[2020-03-18 15:26] colesbury commented on #34954
Thanks for tracking this down. A PR fixing this would be very welcome.

[2020-03-18 15:34] #34736 closed

[2020-03-18 15:35] kohtala commented on #25639
In this install the only index is your index so it won't go to pypi. If you need something from pypi in the same install (`-r requirements.txt`) then if we are to trust the pypa/pip#5045 issue it'll install torch from pypi.

Anyway, the Simple Repository API would be an improvement. Unfortunately not as great improvement as one would hope.

[2020-03-18 15:41] cpbotha commented on #25639
poetry does the right thing here. You can define any number of source indices. By default it will go extra-index -> extra-index -> pypi. However, you can change the order with source config settings in the pyproject.toml.

[2020-03-18 15:42] colesbury commented on #34951
I'll let @vincentqb comment, but it seems like a sparse tensor constructor that accepts the output format of the indices + values of topk/min/max would be sufficient without having to complicate the topk/min/max API.

[2020-03-18 15:49] colesbury commented on #34808
@fmassa can you take a look at this?

[2020-03-18 15:53] colesbury commented on #34850
That URL is not a PyTorch file (.pth). It's a webpage with a link to a PyTorch file.

You need a direct download URL. Google drive doesn't support that directly, but you can use  something like https://sites.google.com/site/gdocs2direct/

[2020-03-18 15:53] #34850 closed

[2020-03-18 15:54] colesbury commented on #34799
@dreiss can you confirm the status?

[2020-03-18 15:57] colesbury commented on #34949
Thanks for writing up the feature request. I'll let the torch.distributions teams comment.

[2020-03-18 16:01] colesbury commented on #34941
Yes, can you please provide the PyTorch version and a little more information about the model you are using?

[2020-03-18 16:06] SsnL commented on #34880
The correct thing to do is to disallow `x.copy_` if `x` has overlapping memory, which is hard to detect but we have a helper that detects most cases (cc @zou3519 ). This should be checked before the TensorIterator kernel so I don't think the actual implementation of `copy_` is relevant.

[2020-03-18 16:07] #34648 closed

[2020-03-18 16:11] rohan-varma commented on #34952
Taking a look, never saw this before:
`Received error while processing request type 15: TypeError: 'NoneType' object is not callable`. Not sure if this indicates that python interpreter is unavailable in the remote end.

[2020-03-18 16:18] spandantiwari commented on #34772
Thanks @cjermain .

This does not seem like an ONNX export issue. Seems like it is not supported in `torch.nn.functional.interpolate`.

[2020-03-18 16:28] Mujtaba-Asif commented on #34941
I am trying to parallelize this network.
https://github.com/aimagelab/meshed-memory-transformer/blob/master/train.py#L182

After line 182 I just added
model = torch.nn.DataParallel(model)

I have tried Pytorch 1.1.0, 1.2.0, 1.4.0, and 1.5. (from source)

[2020-03-18 16:33] orionr commented on #34947
Caffe2 (potentially minus some operators right now - @ezyang might now on that front) should be included. caffe2_pb2 would be built as a part of that. cc @malfet

[2020-03-18 16:36] orionr commented on #34947
Also, heads up that we aren't supporting the Caffe2 APIs with new builds moving forward, so this might break. We strongly encourage folks to move to the PyTorch APIs.

[2020-03-18 16:40] vadimkantorov commented on #34951
@colesbury Sparse tensors waste a lot of memory on storing index tuples for all remaining dimensions (the index pattern is very regular, since reduction is typically done only across one dimension). So I was thinking about hybrid sparse/dense tensors.

[2020-03-18 16:45] mrshenli opened #34960 "DISABLED test_autograd_context (__main__.DistAutogradTestWithSpawn)"
https://app.circleci.com/pipelines/github/pytorch/pytorch/141487/workflows/6ccb9e3c-5ce3-4884-8c80-657207053845/jobs/4855438

[code]

cc @ezyang @gchanan @zou3519 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar

[2020-03-18 16:48] zou3519 commented on #34880
The code is doing `m2.mybuf.copy_(m1.mybuf)`.

Right now, the code is failing because `m2.mybuf` has overlapping memory. `m2.mybuf.copy_(something_contiguous)` should always fail because it is impossible to copy something that is contiguous into a buffer that has overlapping memory because there is not enough memory.
However, in this particular case, the copy is still possible because `m1.mybuf` h

[2020-03-18 16:48] dskhudia commented on #33843
qmul and qadd_scalar are optimized in the following PRs.
https://github.com/pytorch/pytorch/pull/34925
https://github.com/pytorch/pytorch/pull/34834

[2020-03-18 17:09] colesbury commented on #33820
This appears to still be broken

[2020-03-18 17:11] colesbury commented on #34772
Thanks @spandantiwari -- I've removed the ONNX tag

[2020-03-18 17:34] neerajprad commented on #34949
Sounds reasonable. One complication that I see is comparing distributions which are differently parameterized. e.g. Bernoulli with probs vs logits. One choice would be to return False if the distribution instances are differently parameterized. We can also convert the parameters to compare, which might be wasteful but more appropriate.

[2020-03-18 17:35] ezyang commented on #33950
@kurtamohler let's have a brief call to talk about general design

[2020-03-18 17:54] kurtamohler commented on #33950
@ezyang , sure let's do it. Maybe just give me a little time to familiarize myself a bit more with how StorageImpl currently works. When would be a good time for you to talk?

[2020-03-18 17:59] ezyang commented on #33950
whenever you feel ready ping me on slack

[2020-03-18 18:00] colesbury commented on #34800
Thanks for the report. I can reproduce the issue in 1.5.0a0+7da24b3

[2020-03-18 18:02] romanpogodin opened #34964 "Gradient update of a sparse matrix results in a memory leak"
## 🐛 Bug

Gradient update with `parameter.add_(val, grad)` of sparse matrices results in a memory leak that is not present in dense matrices with the same computation.

Freeing cache/calling the garbage collector does not remove the problem. The result of the computation is the same for both the sparse and the dense networks. The backward pass without an update of the matrix does not cause this pr

[2020-03-18 18:03] colesbury commented on #34953
@szagoruyko is https://github.com/szagoruyko/pytorchviz still the best way to do this? Or is there a way with tensorboard?

[2020-03-18 18:22] ezyang opened #34966 "Windows build on VS 14.25.28610 is broken (14.24.28314 is OK)"
[code]

sample failure: https://circleci.com/gh/pytorch/pytorch/4856228?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link/console

Successful builds form the past https://circleci.com/gh/pytorch/pytorch/4854216?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link/console are on an early version of VS

[2020-03-18 18:24] ezyang commented on #34966
I've sent a support ticket to CircleCI asking if they upgraded this morning

[2020-03-18 18:30] ezyang commented on #34966
Fixed by https://github.com/pytorch/pytorch/pull/34926

[2020-03-18 18:42] paras-jain commented on #34412
Submitted a PR with a fix.

[2020-03-18 18:53] fritzo commented on #34949
Can you explain more the use case for `==` on distributions? I would't expect e.g. PyTorch modules to be equality comparable. This also seems to bring up tricky issues of e.g. whether two distributions are equal if only `.validate_args` differ. Or what if they differ only in shape, but would be identical if they were broadcast correctly? Do you want equality to behave like tensor equality (which c

[2020-03-18 19:22] dncliss commented on #34606
@kimishpatel - I'm back to looking at this again.  So this does appear tied to the `fxdiv` code additions. Presumably in spite of the failures on PPC64LE it must be working on X86, or the issue would have been raised sooner (?)

One theory, considering what is different between the builds on these two platforms:  On PPC, we don't have the QNNPACK support and the USE_QNNPACK boolean check is thus o

[2020-03-18 19:26] mrshenli commented on #34960
Tried a few hundred times on linux and macos locally, but cannot reproduce the error. Looks like there might be a race for our shutdown. Trying with CI docker env now.

[2020-03-18 19:34] z-a-f commented on #34351
FYI: It is good to have a `scalar_type`. For example in our LSTM implementation we want to have 32 bit quant for the internal state (`c`), but the input/output and gates are 8-bit. At the same time, sigmoid output is unsigned (could be signed tho), while tanh is signed. It makes it more "natural" to have different scalar types for different parts. Of course, we could make an exception, an adapt th

[2020-03-18 19:35] eellison opened #34971 "[JIT] Class Annotations not being resolved"
## 🐛 Bug
[code]

cc @suo

[2020-03-18 19:40] z-a-f commented on #34351
For the the `concat_out` you are right, we can infer the type from the output tensor. The problem is that when there are different paths with different quantization params coming together, it is not 100% clear what the result should be. During the concatenation we have to requantize even if the `scalar_type` is the same for all tensors. For example, if the scale and zero_point are different. In su

[2020-03-18 19:50] z-a-f commented on #34351
BTW FYI: `torch.cat` **tries** promoting the types when concatenating. The problem is that it is not behaving properly (@jerryzh168 I wonder if we should open an issue about that):

[code]

In numpy this is behaving properly:

[code]

[2020-03-18 20:06] alicanb commented on #34949
To me, this version makes sense, but i'm not sure if we need it- manually typing this check is more unambiguous and not that cumbersome to type manually
[code]

[2020-03-18 20:08] vishwakftw commented on #34949
I was just going to suggest what @alicanb suggested.

[2020-03-18 20:23] jerryzh168 commented on #34351
we don't allow type promotion for quantized data types since quantized data types are not meaningful independently, they are coupled with other quantization parameters like scale/zero_point to represent the quantization, so the idea of original data type promotion doesn't really apply here I think.

[2020-03-18 20:27] VitalyFedyunin opened #34977 "`conv2d` is slow with specific shapes of channels_last tensors"
GPU: Tesla V100-SXM2
Cuda: 10.0
CudNN: 7603

[code]

[code]

[2020-03-18 20:44] VitalyFedyunin commented on #34977
One more shape:
[code]

[2020-03-18 20:52] VitalyFedyunin commented on #34977
nvprof for channels last only run with ((100, 2048, 14, 14), (2048, 64, 3, 3), None, (2, 2), (1, 1), (1, 1), 32)

[code]

[2020-03-18 20:54] pbelevich opened #34984 "Rename CPUGenerator to CPUGeneratorImpl and CUDAGenerator to CUDAGeneratorImpl"
Maybe even to DefaultCPUGeneratorImpl and DefaultCUDAGeneratorImpl

Depends on #34468

[2020-03-18 20:58] pbelevich opened #34987 "Hide Generator's mutex behind a method"
Maybe even drop `operator->` from `at::Generator`

Depends on #34468

[2020-03-18 21:10] Haydnspass commented on #24236
Any update from this?

[2020-03-18 21:12] neginraoof commented on #34743
Thanks for reporting this issue.
As you can see from the error message, 'kernel size' is required to be static for the ONNX AveragePool op. Since in ONNX spec, 'kernel size' is set to be an attribute rather than an input to the operator, we cannot export a dynamic variable input 'kernel size'.
Could you consider a workaround like:
    def forward(self, x):
        size_array = [int(s) for s in x.s

[2020-03-18 21:30] raghuramank100 commented on #34351
Lets not do type promotion in concat. The input data types should be the same. I do not see the need for a scalar_type for cat. The output type should be the same as that of the input

[2020-03-18 22:06] VitalyFedyunin opened #34996 "`avg_pool2d` needs to be converted to support `densenet161` in channels last mode"
`avg_pool2d` need to have separate kernel to run efficiently on channels last input.

cc @ngimel @VitalyFedyunin @jamesr66a

[2020-03-18 22:07] Mirko-Nava commented on #34949
The meaning I give to equality for distributions is related to the underlying formal parameters of the distribution itself (i.e.,  mean and standard deviation for a normal distribution), so my interpretation is boolean valued.
In this sense, adopting the solution suggested by @alicanb seems reasonable (see https://en.wikipedia.org/wiki/Gibbs%27_inequality for details).
The only caveat I could fors

[2020-03-18 22:11] fritzo commented on #34949
Hi @Mirko-Nava can you please give some example applied use cases?

[2020-03-18 22:13] VitalyFedyunin commented on #34996
[code]

[2020-03-18 22:14] zhaojuanmao opened #34997 "[Master Plan] Merge c10::ivalue::Future and torch::utils::Future<T>"
Ideally we should have one Future abstraction in PyTorch codebase to have unified code paths regarding Future usage.

torch::utils::Future<T> is a generic Future, we can specialize it as torch::utils::Future[IValue] and make torch::utils::Future[IValue] to be an IValue. After that, we can kill c10::ivalue::Future implementation

cc @suo @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gq

[2020-03-18 22:22] albanD opened #34998 "Better examples in functional autograd functions"
The current documentation of `torch.autograd.functional` follows that same practice as other places: create random Tensors and print them.
We could improve that by:
- Use hard coded values to make them more readable and easily reproducible
- Find a way to test that the docstring example stays up to date with what the function does?

[2020-03-18 22:27] zhaojuanmao opened #34999 "Merge rpc.Future and rpc._pyFuture in torch.distributed.rpc package"
Right now, if users call rpc_async(.., python_funciton, ...), it will return rpc.Future that is binded to Future<Message> in C++ land; if users call rpc_async(.., torch_function, ..), it will return rpc._pyFuture that is binded to ivalue::Future wrapper.

Once c10::ivalue::Future and torch::utils::Future are merged in #34997, we should merge return type of rpc_async(.., python_funciton, ...) and r

[2020-03-18 22:56] jlquinn commented on #29093
I'm running into this issue trying to compile v1.4 branch.  CentOS 7, conda 4.8.3, conda gcc 7.3.0, conda cuda toolkit 10.1.

I've tried USE_SYSTEM_NCCL, USE_STATIC_NCCL, installing conda nccl.  So far nothing works.

[2020-03-18 23:01] ngimel commented on #34939
cc @alband for view implications for autograd.

[2020-03-18 23:02] gchanan commented on #34907
CC @mruberry

[2020-03-18 23:06] gchanan commented on #6934
I asked @fmassa his opinion on this and:

So, to summarize:
We'd accept a PR that implements this, but it's (probably) blocked on https://github.com/pytorch/pytorch/issues/22439.

[2020-03-18 23:09] Mirko-Nava commented on #34949
I stumbled upon this when writing test cases for a custom layer, for which I tried comparing two distributions to see if they were equal.
Honestly I cannot imagine any other applied use cases other than testing; at least for now.

[2020-03-18 23:32] fritzo commented on #34949
@Mirko-Nava if your only use case is testing, I would recommend writing a custom test utility to compare distributions. I do this often in test codebases, e.g.
[code]

My concern with adding this operator before we have a compelling use case is that there are many design decisions, and we might later find a more compelling use case but realize that we made inconvenient design decisions. So I think

[2020-03-18 23:42] wanchaol opened #35006 "[autograd] multithread autograd follow up tasks"
Record several follow ups that I will do after https://github.com/pytorch/pytorch/pull/33157

- [ ] save/restore the thread local ready queue (as well as other TLs) when we do async run of the engine (to address https://github.com/pytorch/pytorch/pull/33157#discussion_r393933924)

- [ ] use the new c10 threadpool init_thread api, to create PyThreadState there initially before any launch of the thr

[2020-03-19 00:12] gchanan opened #35009 "[v1.5.0] Release Tracker"
The [1.5 release branch](https://github.com/pytorch/pytorch/tree/release/1.5) has been cut!

This issue is for tracking cherry-picks to the release branch.  The criteria for a change to be included is ALL of the following:

1. bug fix or documentation fix/improvement (i.e. NOT a feature)
2. already landed in master or specific to 1.5 (e.g. deprecating a feature in 1.5)
3. worth the risk/reward.  F

[2020-03-19 00:15] changx03 commented on #24807
This error is still popping out even with
[code]
in the `.pylintrc` file

[2020-03-19 00:19] jamesr66a commented on #35009
Docs change once it lands https://github.com/pytorch/pytorch/pull/35007

[2020-03-19 00:23] vadimkantorov commented on #31478
at least `self.module(*inputs, ...)` could be replaced by `self.module(*[x.to(device = device_ids[0]) for x in inputs], ...)`, but maybe even the copy of multiple tensors could be done explicitly in parallel akin to Scatter function.

[2020-03-19 00:47] dzhulgakov commented on #34351
Btw, in any case for regular cat we should not return garbage - let's error out or fix it properly (meaning yes, let's create an issue for it)

[2020-03-19 01:03] jlquinn opened #35012 "v1.4 compile failure in conda env on CentOS7"
## 🐛 Bug

I'm trying to build pytorch 1.4 from source in a conda env on CentOS 7, in order to pick up newer libraries, and have a pytorch 1.4 with python 3.7 and APEX.  So far the build has been unsuccessful.

## To Reproduce

Steps to reproduce the behavior:

I'm building on a machine with a K40 and the weakest CPU in our cluster, E5-2667 v2

[code]

[code]

I'm using NCCL_ROOT because the system

[2020-03-19 01:08] zhaojuanmao commented on #34260
it passed on buck test, but it always failed on my local OSS test. Looks like program exited abnormally after throwing errors in "ret = rpc.rpc_sync(
                dst_worker_name, MyScriptModule, args=(self.rank,)
            )"

[2020-03-19 01:34] z-a-f opened #35014 "`torch.cat` should do type promotion"
## 🐛 Bug

When concatenating tensors of different dtypes, the result is unexpected (and often incorrect). This could be fixed by using type promotion.

## To Reproduce

[code]

## Expected behavior

Here are possible behaviors:

### Solution 1. Raise an error.

This makes sense with the current implementation where there is no actual type promotion.
[code]

### Solution 2. Promote/Demote to the dt

[2020-03-19 01:35] auroraustc commented on #31283
Hello:
I have found out the reason of this problem: cuda is not fully compatible with gcc. After I switched to cuda10.1/gcc7.3, everything goes fine.

[2020-03-19 01:42] z-a-f commented on #34351
@dzhulgakov #35014

[2020-03-19 01:48] SsnL commented on #33181
I think this is a nice feature to have. The double underscore sounds fine to me, as it would have less BC issue and makes sense as a python API.

However, I do wonder if we should use another word than `collate`. Now that the data loader can yield individual non-batched samples, I wonder if we can have a reasonable API name that captures both cases.

For `__worker_init__`, I have similar concerns.

[2020-03-19 01:53] Ryuk17 commented on #18325
thanks

[2020-03-19 01:58] #27643 closed

[2020-03-19 02:14] #34966 closed

[2020-03-19 02:47] cocoakang commented on #27975
Faced the same problem and I found using CPU memory can circumvent that.
In detail, send the tensor to CPU and then enqueue the CPU tensor.
But fixing that bug is appreciating.

[2020-03-19 03:13] songyuc commented on #34877
I get it, and thanks sincerely for your answer, @Evpok and @mrshenli.

[2020-03-19 03:13] #34877 closed

[2020-03-19 03:16] malfet commented on #34947
Can you please try removing `build` folder and run `setup.py` again?
Also, please check that `which nvcc` returns path to the correct version of CUDA compiler.

Because from the logs it looks like build is using  CUDA-10.2, although you've selected to use CUDA-10.0:

To change the default, please put path to CUDA-10 bin folder as the first candidate in search path, by invoking:
` export PATH=/usr/

[2020-03-19 03:27] PingHGao opened #35020 "`device_count()` returns 1 while `torch._C._cuda_getDeviceCount()` returns 2?"
# Environment：
- Win10
- Pytorch 1.3.0
- python3.7（Anaconda3）
# Problem
I am using dataparallel in Pytorch to use the two 2080Ti GPUs. Code are like below:
[code]
But when run this code, I encounter errors below:
[code]
When I debug into it, I find the function `device_count()` in `get_device_properties()` returns 1 while I have 2 GPU on my machine. And `torch._C._cuda_getDeviceCount()` returns 2

[2020-03-19 03:34] chiehpower commented on #34947
Hi all,
Thanks for all your reply and suggestions!!

Hi colesbury,
In my source, I put both indeed. You can see my previous provided export.
Also, I have tried to export particularly `CUDA_HOME`, but the result is same.

Hi orionr,
Thanks for your useful information! I will notice it.

Hi malfet,
Thanks for your suggestion. I haven't tried to remove build folder. (I will try it later.)
Also I alre

[2020-03-19 03:56] chiehpower commented on #34947
Now it seems like successfully finish the setup.py. Somethings like below:
[code]
Although I can successfully import `caffe2` and  `caffe2.python`.
[code]

However, I cannot still import the relevant caff2 package.
[code]
And
[code]
Is there any idea for this issue?
Thank you very much!!

[2020-03-19 05:13] rohan-varma opened #35026 "Refactor record_function_ops.cpp to not use cpp_custom_type_hack"
## 🚀 Feature
Currently the implementation of the `record_function` class is not ideal in that it uses a `cpp_custom_type_hack` to cast a tensor into a custom C++ object, in this case, `torch::autograd::profiler::RecordFunction`. See https://github.com/pytorch/pytorch/blob/master/torch/csrc/autograd/record_function_ops.cpp.

Now with the availibility of torchbind, we can register the above as a cus

[2020-03-19 06:06] smilesun commented on #27070
@ukaneverin, how do you know it makes n copies of subnet?

[2020-03-19 06:14] liyuanyaun commented on #29190
did you solve this problem? could you share the solution? thank you very much

[2020-03-19 06:33] tugrulince commented on #33473
With #34563, we can now perform shift operations. I will be closing this issue in the next few days unless I hear complications.

[2020-03-19 06:55] r-zenine commented on #34826
Hi @colesbury ,

I'll submit the fix for `Byte`.

[2020-03-19 07:06] dinkdeep commented on #34953
Hi Sam,
Thanks for the link to utility, I cloned and tried the test example in the folder but did not find dot/pdf/png file which I could use to see the graph.
Some how I had to add this small function save() to make sure dot does a render operation
and is able to write it to a pdf file.

BTW on an another side note, Is there a way we could get hold of Backward Graph in C++ code .
(https://pytorch

[2020-03-19 07:20] shaun95 commented on #15716
I tried[ eric-zhenhai ](https://github.com/pytorch/pytorch/issues/15716#issue-395759070) test code on Pytorch==1.4.0 on Ubuntu with 3 GPUs and this is the output I get

Does that mean we can now safely avoidly the workaround provided by [ r9y9/wavenet_vocoder](https://github.com/r9y9/wavenet_vocoder/commit/6b9c932fdb2e53e406cfe460d700868891a9efb0)

[2020-03-19 07:34] yoshihingis commented on #34524
Dear peterjc123
Thank you for your supports.
 I tried to do build_pytorch,bat with "set TORCH_CUDA_ARCH_LIST=6.1 to to reduce the build time,
but I got the same result without "set TORCH_CUDA_ARCH_LIST=6.1".
 It needed 8hours to build the Dlls, Libs.

My procedure is as below;
1 .I checked my computer capability by the device Query, which is one of  CUDA utilities  sample
  codes.  I confirmed tha

[2020-03-19 07:38] peterjc123 commented on #34524
You need to apply the changes to the file otherwise it won't work.

[2020-03-19 07:45] peterjc123 commented on #35020
I tried to move a different model with PyTorch 1.4.0 and cannot reproduce your problem.
The code is listed below:
[code]
BTW, you mentioned the function `device_count()` in `get_device_properties()` returns 1. Could you elaborate a little bit? I think `get_device_properties` is a device-level function and only returns the information of a device.

[2020-03-19 08:16] Mujtaba-Asif commented on #34941
@colesbury Actually the same implementation works fine on CPUs. I have tried these ways to forward pass:
- model(detections, captions)
- model.forward(detections, captions)
- model.module.forward(detections, captions) [I am able to execute the script but the model uses only one GPU]

[2020-03-19 08:46] Hemantr05 commented on #34879
May I add the loss function?

[2020-03-19 10:13] ZizhouJia commented on #32641
torch._C._jit_pass_inline(trace.graph) is not work for ONNX jit graph to expose the scopeName.
Could you tell me How to expose the scopeName in ONNX jit graph.
The scopeName is very usefully. I also was hoping that it would better expose the onnx instead of hiding it.

[2020-03-19 11:45] Baranowski commented on #17499
(note to self) Possibly related: https://github.com/pytorch/pytorch/issues/27218

[2020-03-19 13:59] mys007 commented on #34483
Thanks for the reply! Indeed, the scripted module doesn't have the loop unrolled. But I'm wondering where does the 7% running time overhead come from, as the conditions are static and don't involve any Tensor operations. I'm not sure operation fusion in the upcoming work as you've suggested will address this?

[2020-03-19 14:36] zou3519 commented on #31283
@auroraustc what configuration were you using before?

[2020-03-19 15:06] VitalyFedyunin commented on #35014
Need to check it in v1.4, possibly regression.

[2020-03-19 15:07] VarIr commented on #32507
Same issues here on Travis linux builds with pytorch 1.5-nightly and mkl 0.21.1
[code]
[code]

[2020-03-19 15:09] VitalyFedyunin commented on #35012
Have you tried to build pytorch without APEX?

[2020-03-19 15:11] amberhappy opened #35035 "How install old version pytorch 1.2.0 from source?"
Hi,I'm installing pytorch1.2.0 from source(anaconda,python3.7,ubuntu18.04,cuda9.2).
my commands:
'''
conda install numpy ninja pyyaml mkl mkl-include setuptools cmake cffi typing
conda install -c pytorch magma-cuda92
git clone --recursive https://github.com/pytorch/pytorch
git clone --branch v1.2.0 https://github.com/pytorch/pytorch.git pytorch-1.2.0
cd pytorch-1.2.0
git submodule sync
git submodu

[2020-03-19 15:14] VitalyFedyunin commented on #34797
We will gladly accept PR implementing Complex support.

[2020-03-19 15:20] VitalyFedyunin commented on #35009
#34934 fixes of maxpool (somehow didn't make it into release cut)

[2020-03-19 15:23] albanD commented on #30632
The PR is now merged.

[2020-03-19 15:23] #30632 closed

[2020-03-19 15:29] mrshenli commented on #34960
Tried on the failed MacOS CI docker environment, still cannot reproduce. But I noticed that the `test_autograd_context` test case takes very long to finish in MacOS CI env (~10sec). I am not sure if it could be some bad luck resource contention making this take even longer to finish (> 100sec) and finally leads to timeout. So submitted #35037 to reduce the number of iterations.

[2020-03-19 15:31] gchanan commented on #35009
@jamesr66a: looks good to go, can you open a PR against the release branch?

[2020-03-19 15:36] VitalyFedyunin commented on #34760
CC @zhangguanheng66

[2020-03-19 15:36] VitalyFedyunin commented on #34760
Hi @zhangguanheng66 can you please act as domain expert here

[2020-03-19 15:46] nikitaved commented on #25785
Is someone working on this one? If not, I could give it a try, maybe?

[2020-03-19 15:46] albanD commented on #34939
I am not super familiar about the OpaqueTensor contruct but from the autograd point of view, when a function is defined in `tools/autograd/derivatives.yaml` like `to_mkldnn` is [here](https://github.com/pytorch/pytorch/blob/1f4a4aaf643b70ebcb40f388ae5226a41ca57d9b/tools/autograd/derivatives.yaml#L923-L924), the signature of the function must reflect properly if the result is a view of the input (s

[2020-03-19 15:48] VitalyFedyunin commented on #35035
Please try solution from https://github.com/torch/torch7/issues/1190#issuecomment-498934400

[2020-03-19 15:48] vishwakftw commented on #25785
I don’t anyone is working on it. Feel free to tag me as a reviewer if you are.

[2020-03-19 15:53] nikitaved commented on #17501
Any update? I could have a look at this one...

[2020-03-19 15:56] CaoZhongZ commented on #34939
Thank you for the info. It would indeed always return view if we were done the modification, should backward of the op be view like?

[2020-03-19 16:13] albanD commented on #34939
There is no restriction on the backward, it can do whichever is most efficient.

Question though: What shouls happen if I do:
[code]

[2020-03-19 16:14] albanD commented on #17501
I don't think anyone is looking into this.
It most likely requires to write a specialized cuda kernel to replace the current implementation that call many different kernels.

[2020-03-19 16:23] ezyang opened #35038 "Rename Dispatcher::findSchema to Dispatcher::findOperator"
https://github.com/pytorch/pytorch/pull/34456#discussion_r393886732

[2020-03-19 16:27] zhangguanheng66 commented on #34760
Do you mean the self-attention building blocks in MutilheadAttention module? Something like this
https://github.com/pytorch/pytorch/pull/34793

[2020-03-19 16:33] ezyang opened #35040 "Deprecate and remove RegisterOperators"
Once the new operator registration api lands, it will be profitable to remove the old API so we can tighten up internal invariants related to how many times a def can happen. Deprecation strategy:

1. Migrate all uses we have direct control over to the new API
2. Make it invalid to mix new-style with old-style registration, but preserve multiple defs for old api. This will break anyone who overrid

[2020-03-19 16:37] ezyang opened #35041 "Make operator registrations truly commutative using priority"
Static initializers may run in arbitrary order; we must design static initialization so that no matter what order they run you get the same result. This is not currently true for cases where you override a kernel with another (currently done to support Jupyter notebooks). Let's make this case commutative too, by associating registrations with priority, and then always taking higher priority. Reloa

[2020-03-19 16:37] dinkdeep commented on #34953
Hi @szagoruyko, for the forward graph with JIT am seeing some incompatibilities with  torch 1.50 python -c "import torch; print(torch.__version__)" 1.5.0a0+bc60052
It seems broken at couple of places.

1) torch.onnx._optimize_trace(trace,torch._C._onnx.OperatorExportTypes.ONNX)
instead of torch._C._onnx.OperatorExportTypes.ONNX_ATEN_FALLBACK
2) get_trace_graph is now _get_trace_graph()
trace, _ =

[2020-03-19 16:41] danieltudosiu commented on #22961
Any progress on this?

[2020-03-19 16:58] aluo-x commented on #34431
Running this command inside the build folder results in no output. Removing the grep Backward gives the following:
https://pastebin.com/2Q5p6rvE

[2020-03-19 17:04] aluo-x commented on #34431
I'm currently uploading a compressed version of the build folder. Built with higher parallelism but otherwise same git revision and same settings as specified above. Will put a link here once the upload is finished.

[2020-03-19 17:22] ngimel commented on #22961
This is a pretty old issue comparing performance using now old versions of pytorch and cudnn, tbh, I don't think it's going to be looked at in detail. If you have perf issues with current pytorch/cudnn versions, please file a new issue with a script that demonstrates performance problems. Don't forget to use torch.backends.cudnn.benchmark=True and use a few warmup iterations, and benchmark and pro

[2020-03-19 17:25] spandantiwari commented on #34780
@malemo - I see you have another issue similar to this https://github.com/pytorch/pytorch/issues/34743. Is this a duplicate of that?

[2020-03-19 17:32] danieltudosiu commented on #22961
In my case, I am facing a 10times increase in iteration time when I ported my code from Tensorflow to Pytorch. Upon profiling my code with both torch.utils.bottleneck.profiler and torch.cuda.profiler I observed that the issue I face is on the backward pass. More precisely on the update on the convolutions, even more precisely it is the following kernel call `void cudnn::detail::wgrad_alg1_nd_float

[2020-03-19 17:33] albanD opened #35045 "torch.cat is moving Tensors across devices silently"
## 🐛 Bug

Giving input from different devices to torch.cat moves them all to the device of the first input.

As a side effect, since the autograd formula is not aware of this, it fails during the backward.

## To Reproduce

See user report here: https://discuss.pytorch.org/t/multi-gpu-backward-error/73427/

## Expected behavior

`torch.cat` should never move Tensors across devices.

cc @ezyang @gc

[2020-03-19 17:39] paplhjak commented on #17501
I for one would appreciate it, as it would help tremendously with speed of training networks with spatially variant convolution kernels.

[2020-03-19 17:41] ngimel commented on #22961
I'm sorry, the information you've provided is not actionable. With proper benchmarking benchmark=True does not give worse performance, unless your input sizes change at each iteration. You can try using pyprof https://github.com/NVIDIA/apex/tree/master/apex/pyprof to identify problematic operation, but that's again subject to proper benchmarking, enough warm-up iterations, enough benchmarking iter

[2020-03-19 17:44] nikitaved commented on #17501
OK, them I will look into it as soon as I get time. Meanwhile, if someone interested, please, feel free to assign yourself!

[2020-03-19 17:46] ngimel commented on #17501
@paplhjak is it for cpu or gpu? Also it would be helpful if you provided some representative parameters for benchmarking.

[2020-03-19 17:47] ngimel commented on #35045
@Baranowski can you please look into a quick fix here?

[2020-03-19 17:49] danieltudosiu commented on #22961
Thank you for responding @ngimel. For me to give you the required data I have the following questions:
- Do you recommend PyProf over torch.cuda.profiler + torch.bottleneck.profiler.emit_nvtx + NvProf?
- Do you want me to run with only torch.backends.cudnn.benchmark=True or with both True and False?
- How many warm-up iterations are enough?
- How many profile iterations are enough?
- What files do

[2020-03-19 17:50] samuelbroscheit opened #35047 "Divergence when resuming from checkpoint (Module.load_state_dict() and Optimizer.load_state_dict())"
## 🐛 Bug

When a model is resumed from a checkpoint (Module.load_state_dict() and Optimizer.load_state_dict()), the model diverges from the original trajectory (without resuming).

## To Reproduce

Steps to reproduce the behavior:

1. Run the following code and observe that the output is

[code]

Reproduction code:

[code]
## Expected behavior

Resuming from a checkpoint should not diverge from th

[2020-03-19 17:55] hyperfraise commented on #22961
Yeah using cudnn enabled solves this for me.

[2020-03-19 18:02] ngimel commented on #22961
pyprof provides more detailed information than torch.autograd.profiler (e.g. torch.autograd.profiler does not record all the necessary shapes). If you are certain that your input sizes don't change every iteration, just running with benchmark=True is enough, otherwise, run with both benchmark=True and benchmark=False.  There should be say 20 warmup iterations (with a synchronization after them) an

[2020-03-19 18:29] mrshenli commented on #34262
Fixed by #34316

[2020-03-19 18:29] #34262 closed

[2020-03-19 18:31] mrshenli commented on #30534
closed by #30610

[2020-03-19 18:31] #30534 closed

[2020-03-19 18:31] louisabraham opened #35049 "Compilation error on aarch64"
## 🐛 Bug

I'm trying to compile pytorch on manjaro arm (pinebook pro).

[code]

The last lines are

[code]

[2020-03-19 18:43] malemo commented on #34743
Thank you for your reply. I'm trying to convert a model, and I'm not too familiar with the code.
This is the whole def forward:

        H0, W0 = x.size()[2:]
        feat8, feat16, feat32 = self.resnet(x)
        H8, W8 = feat8.size()[2:]
        H16, W16 = feat16.size()[2:]
        H32, W32 = feat32.size()[2:]
        avg = F.avg_pool2d(feat32, feat32.size()[2:])
        avg = self.conv_avg(avg)

[2020-03-19 19:01] aluo-x commented on #34431
Due to parallelism the order of the error messages might be different, but the general failure message is the same.

Here is the link to the tarball of the build folder generated:
https://my.pcloud.com/publink/show?code=XZMEA9kZWTRNoVMFATSSVSA7Dzk4hQJPDbGX

Since 1.4.0 works but master doesn't, I'm wondering if we could bisect it to find a last good revision.

I'm also curious if this is a compile

[2020-03-19 19:04] danieltudosiu commented on #22961
@ngimel Thank you very much for the swift response!

My network is a particular implementation of the VQ-VAE 2 paper and besides the quantization process, it is fully convolutional with a standard input size of [3,1,192,256,192].

I observed that PyProf does not cover transpose convolutions which I use heavily in my network. Will that be a big problem?

Should I post the links to the files here af

[2020-03-19 19:22] VitalyFedyunin commented on #35014
Can we please do simple fix to Raise error (as we need it in 1.5) and discuss type promotion after.

[2020-03-19 19:22] VitalyFedyunin commented on #35014
pytorch 1.4

[code]

[2020-03-19 19:23] louisabraham commented on #35049
I added

[code]

and now I get

[code]

[2020-03-19 19:25] #34821 closed

[2020-03-19 19:50] malfet commented on #34947
Module `past` is part of `python3-future` package on Ubuntu (or just `pip3 install future`)

[2020-03-19 19:52] ngimel commented on #22961
Hm, then I'm surprised that cudnn.benchmark hurts - it's possible that it would not help, but it should not help. I've verified with pyprof author that transposed convolution is supported in a sense that it will capture all the relevant shapes and parameters, but they won't compute achieved flops/bandwidth. If some convolutions are egregiously slow though, just looking at the timing should be enou

[2020-03-19 19:54] adityaiitb commented on #22961
@danieltudosiu

(wrt PyProf): I didn't yet add bytes, flops calculation for transposed convolution. But all the other useful information e.g. the call stack (file name, line number), tensor shape, datatype and attributes (strides, padding, dilation), kernel duration etc. are captured. The information is visible in the intermediate human readable dictionary (every line of output corresponds to the

[2020-03-19 20:02] danieltudosiu commented on #22961
@ngimel @adityaiitb Thank you for your support.

I am working now on installing Apex and running a full-blown profiling.

Will come back to you with more details tomorrow morning London time.

[2020-03-19 20:03] jamesr66a commented on #35041
@ezyang do you have any ideas for how to make dependencies between static initialization easier? For example in torchbind you can register a class, but then if you want to register an op that takes that class as an arg or returns it, you need to ensure that the class registration's static initialization happens before the op registration (for schema creation purposes). e.g. see the use of Meyer's

[2020-03-19 20:10] jamesr66a commented on #34950
Hi @liyuanyaun,

You can use `Module::run_method()`, which allows you to pass in the name of the method you'd like to run.

Also, the proper place for questions is PyTorch forums under the [JIT tag](https://discuss.pytorch.org/c/jit/13). Please feel free to ask questions there

James

[2020-03-19 20:10] #34950 closed

[2020-03-19 20:12] jamesr66a commented on #34948
Hi @msieb1, is it possible to share the code for the model you're trying to trace?

[2020-03-19 20:13] mcarilli commented on #35009
https://github.com/pytorch/pytorch/pull/35011 may be a candidate.  Native automatic mixed precision support is a very important feature for us that I've been writing for over 6 months now, targeting 1.5.  It was approved and merged yesterday, but required a workaround for some unexpected windows failures (see the PR description for the full story).  Build with workaround has passed ci-all and @ezy

[2020-03-19 20:13] jamesr66a commented on #34937
Hi @linchaozhang, can you provide an error message or a code fragment that reproduces the error you're seeing? the `export` decorator is still valid, so what you're seeing is likely a bug

[2020-03-19 20:14] ngimel commented on #22961
Cool! You don't need to install apex with cpp extensions, for profiling just python installation will do.

[2020-03-19 20:59] vainaijr commented on #34760
I do not modify existing MHA, in the paper for stand alone self attention, they use notion of relative distance between pixels, so how far a pixel is to the query will also have an impact on attention weights,

nn.MHA only expect input as text sequence, that is q, k, v is only 3 dimensional tensor, (sequence length, batch size, embedding size), but for stand alone self attention, q, k, v is 4 dime

[2020-03-19 21:00] ezyang commented on #35041
@jamesr66a we have a similar-ish problem with schemas and implementations, and the way I did it was I implemented the static initializers in such a way that it didn't matter what order you ran them (and added tests for this too). I don't know if this is possible for torchbind. Let's VC if you want to talk about this more.

[2020-03-19 21:12] #35047 closed

[2020-03-19 21:38] zhangguanheng66 commented on #34760
For the input dimension part, `ScaledDotProduct` module in https://github.com/pytorch/pytorch/pull/34793 accepts tensors with more than 3 dimension  because `nn.matmul` is applied. And should the dimension be (N, H, W, C)?

For the attention layer with the consideration of `rel_distance`, IMO, it's a little bit too custom for a platform. Pulling specific implementations into the library limits the

[2020-03-19 21:49] pwwang commented on #8348
Do it with: `env CMAKE_CXX_COMPILER=/yourpathto/g++ python setup.py install`

[2020-03-19 21:51] pbelevich opened #35067 "Replace Generator with optional<Generator> instead of nullptr or Generator()"
Because Generator with nullptr impl is weird

Depends on #34468

[2020-03-19 21:53] hypernicon commented on #32322
Should this have been closed? The referenced bug #840 suggests a workaround by replacing mp.spawn with mp.Process. But the problem seems to persist if you do torch.multiprocessing.set_start_method('spawn'). So the proposed resolution is simply to use "fork" instead of "spawn", which is unsatisfying because "fork" prevents you from allocating memory on the GPU within child processes due to an attem

[2020-03-19 21:54] jerryzh168 opened #35068 "`aten::quantize_per_tensor` is not constant folded"
all arguments for node: `  %2.quant : Tensor = aten::quantize_per_tensor(%self.conv.weight, %self.conv.2_scale_0, %self.x.2_zero_point_0, %self.conv.2_scalar_type_0)` are constant but looks like this is not folded:
[code]

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a

[2020-03-19 21:57] suo commented on #34870
@peterjc123 do you mind if I disable this test on windows?

[2020-03-19 21:58] vadimkantorov commented on #35045
One case (hopefully supported in future) where moving between devices makes sense:
`torch.cat([torch.rand(3, device = 'cuda'), 1])` for appending python scalars to a tensor

[2020-03-19 22:45] eellison commented on #35068
Said in private message but - this is most likely a bug in the way in the way `quantize_per_tensor` is registered, not an issue with constant propagation.

[2020-03-19 22:57] gchanan opened #35071 "Options for printing the shape with print(tensor)"
It has been a fairly frequent feature request to print the shape of a tensor when printing the tensor in Python with `print(tensor)` (and it was controversial when we stopped printing the shape awhile ago).

We've been somewhat reluctant to do this because:
1) it doesn't match NumPy
2) it's not usable in the repr
2) the cost is asymmetric.  I.e. printing is worse than not printing because you can'

[2020-03-19 23:51] xush6528 opened #35074 "[JIT] If a python function type comment is referring to a wrong type, JIT frontend gives a not helpful error message"
[code]

The error message is
[code]

[2020-03-20 00:10] zhaojuanmao commented on #34716
I  ran this test  on  OSS  repo  using  "python ...." 1000  times and  "pytest  ..." 500 times, can not  reproduce it.

Would like to close  it and see  whether  it will happen again in master in  the next a  few days

[2020-03-20 00:26] pbelevich opened #35078 "Generator C++ API should match Python API"
I tried to do it in #34968 but that PR added c-tor Generator(Device device) to C++ API to match Python API, to avoid code duplication the logic was moved from THPGenerator_pynew to corresponding at::Generator c-tor. Unfortunately it made Generator.h dependent on CPUGenerator.h and CUDAGenerator.h, but this is how our Python API works :(

[2020-03-20 00:27] chiehpower commented on #34947
Thanks for your help!
It works!!
I will close this issue!

[2020-03-20 00:27] #34947 closed

[2020-03-20 00:51] mingfeima commented on #32507
@gkucsko  @VarIr Thanks for the test!
Actually these are a different cases resulting into the same error. These errors are already fixed on DNNL 1.2 (MKL-DNN is renamed as DNNL).
We are updating DNNL(MKL-DNN)  version in #32422, normally these errors will be cleared when this is settled.

[2020-03-20 01:30] CaoZhongZ commented on #34939
Current status, 'a' will keep the original content and 'a_mkl' will be a's contents plus 2. After implement the proposal, 'a_mkl' and 'a' will both plus 2.

In this situation, my intension is to_mkldnn must be conforming to 'view' function with same shape of 'a', except the type of 'a_mkl', it is a OpaqueTensor<MKLDNN> now.

[2020-03-20 01:35] ezyang commented on #25639
Thanks for offering. Here's the script that we use to create the index: https://github.com/pytorch/builder/blob/master/cron/update_s3_htmls.sh

It... kind of looks like we might be making simple indices already. So is the request to drop the local version specifier as well from the versions in that case?

[2020-03-20 01:59] ezyang commented on #34964
Marking high priority due to memory leak.

[2020-03-20 02:08] peterjc123 commented on #34870
@suo Okay. Let's fix this test case later.

[2020-03-20 02:50] #34960 closed

[2020-03-20 03:52] #31468 closed

[2020-03-20 05:07] #35045 closed

[2020-03-20 05:28] yf225 commented on #34862
@prabhuomkar Thanks a lot for the suggestions! My personal take is that we should put the C++ vision datasets in https://github.com/pytorch/vision, same as the Python ones. @fmassa Curious what are your thoughts on this?

[2020-03-20 05:30] jgong5 commented on #34939
@albanD @CaoZhongZ Any option to get the backward of `to_mkldnn` more efficient? Currently we always use `to_dense` with explicit copy while the input to `to_dense` would be either opaque or strided. In the latter case, `to_dense` would be a view as well.

[2020-03-20 05:43] linchaozhang commented on #34937
`    @torch.jit.export
    def forward_export(self, images):
        return self.backbone(images)

    def forward(self, images, targets=torch.IntTensor([0])):
        cls_logits, bbox_pred = self.backbone(images)
        if self.export:
            return self._forward_export(cls_logits, bbox_pred)
        else:
            if self.training:
                return self._forward_train(cls_logits,

[2020-03-20 05:45] zhaojuanmao commented on #34716
reopening, tried stress ran 1000  times again, found one  repro

Ran 1 test in 0.728s

OK
[E request_callback_impl.cpp:94] Received error while processing request type 0: bad_weak_ptr
Process process 0:
Traceback (most recent call last):
  File "/home/yanlizhao/local/anaconda3/envs/py3.6/lib/python3.6/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
  File "/home/yanlizhao/local

[2020-03-20 05:52] CaoZhongZ commented on #34939
@albanD I have a further question about optional view case. Like aten::reshape(Tensor self, int[] shape) -> Tensor, there is no alias mark (a) on self and result tensor. In this case, JIT algorithm won't presume possible alias between self and result, which is an error when reshape actually returns view in some cases.

So I want to know exactly the semantics of the alias mark (a), is it a necessar

[2020-03-20 06:24] tygrer commented on #34743
I alter my code in this way, and it works.

[2020-03-20 07:16] cpbotha commented on #25639
I had a quick look at the script, it looks like it's almost there (but I did not look long enough :).

Ideally, we end up with the following simple indices:

- https://pytorch.org/pypi/cpu/
- https://pytorch.org/pypi/cu92/
- ...

In each case, the top-level index only a hrefs the package names: torch, torchvision, torchaudio, torchtext, etc. -- each of those hrefs is another html a hreffing the fu

[2020-03-20 07:35] yoshihingis commented on #34524
Dear peterjc123

I'm sorry, I have misunderstood.
I thought that originally your orignal " build_pytorch.bat" has the function which make the special Dlls and libs according with "set TORCH_CUDA_ARCH_LIST".

Hence I modified CUDA101.bat as below. It is special Dlls & Libs for GPU' architecture 6.1;

IF "%BUILD_VISION%" == "" (
    set TORCH_CUDA_ARCH_LIST=6.1
    set TORCH_NVCC_FLAGS=-Xfatbin -com

[2020-03-20 08:08] liyuanyaun commented on #34950
thank you very much, could you tell me which version of libtorch is needed?

[2020-03-20 08:15] Magicwangs opened #35094 "tensorboard add_graphoperator_export_type"
## 🚀 Feature

## Motivation

## Pitch

## Alternatives

## Additional context

[2020-03-20 08:19] #35094 closed

[2020-03-20 08:35] Magicwangs opened #35095 "tensorboard add_graph 's "operator_export_type""
## tensorboard add_graph 's "operator_export_type"

`torch.utils.tensorboard add_graph` have "operator_export_type"(kwargs) in torch 1.1
but now we can not use this kwargs in torch 1.2 and later? (or similar kwargs)

The remove is from  https://github.com/pytorch/pytorch/pull/23000

With "operator_export_type", we can draw ellegant graph, and this is very helpful for model visualization.

before (

[2020-03-20 08:40] sam-cts opened #35096 "failed on onnx.checker.check_model after torch.onnx.export"
## 🐛 Bug
Failed to check_model after exporting a model with torch.onnx.export

`
  File "tools/pytorch2onnx.py", line 122, in main
    onnx.checker.check_model(onnx_model)
  File "/usr/local/lib/python3.6/dist-packages/onnx/checker.py", line 91, in check_model
    C.check_model(model.SerializeToString())
onnx.onnx_cpp2py_export.checker.ValidationError: Mismatched attribute type in ' : value'

==>

[2020-03-20 09:42] amberhappy opened #35097 "undefined symbols when using libtorch and ITK"
I build pytorch and libtorch from source(ubuntu18.04, anaconda, pytorch1.2.0, cuda9.2,ITK5.0).
[code]
when using ITK and libtorch sperately, the cmake project can be great .But when linking libtorch and ITK together, I got lot of errors of "undefined symbols"
[code]

[2020-03-20 12:13] yyhhlancelot commented on #1633
If you use Spyder, try to delete the project and recon it again. It occured when I  rebooted my computer last time because of Spyder's frozing.

[2020-03-20 14:35] danieltudosiu commented on #22961
@ngimel I have made public my git repo and you can find it here https://github.com/danieltudosiu/nmpevqvae

In it you can find the net.sql.gz which is the profiling that I have done. To generate it I used the profiling.py script and the command line `nvprof -f -o net.sql --profile-from-start off -- python3 profiling.py`. The python environment that I use can be found in the requirements.txt (besid

[2020-03-20 14:40] albanD commented on #2691
For reference, this is a similar issue for the cudnn version of the fused RNNs, maybe the two could be merged? https://github.com/pytorch/pytorch/issues/5261

[2020-03-20 14:48] albanD commented on #2710
The error messages are now much more verbose and should contain all the information you need.
Let us know if you want more to be added.

For the tolerance, the whole point of the reentrant check is to make sure we get a deterministic behavior that is exact.
For the few ops that need it, you can now pass the `nondet_tol` argument to raise that threshold.

[2020-03-20 14:48] #2710 closed

[2020-03-20 14:49] mrshenli opened #35099 "test_backward_node_failure_python_udf is flaky"
Not disabling the test for now as 1) the error is very rare and didn't occur on master yet 2) this might be caused by some race in RPC code instead of the flakiness in this specific test as similar error occurs in #34952 too.

https://app.circleci.com/pipelines/github/pytorch/pytorch/143234/workflows/1fe63b95-2578-4964-8797-aa107a4758e0/jobs/4886776

[code]

cc @ezyang @gchanan @zou3519 @pietern @

[2020-03-20 14:57] ezyang commented on #25639
I'm not aware of anyone touching the s3 indexes right now. You'll have to hack it up since you don't have access to the bucket but I'm more than happy to help you deploy the update it if you have a proposed update. Note that if we change the URLs in a BC-breaking way that is going to be a lot more work!

[2020-03-20 14:59] albanD commented on #34939
The problem here is that all the logic that handles view/inplace in the autograd engine assumes that both are strided Tensors. In particular, we need to do fancy stuff with the graph to support this and we will sometimes replace your custom backward function.
In this case, this is problematic because you want a special backward function.

One solution could be to forbid inplace on the result of th

[2020-03-20 15:25] #33986 closed

[2020-03-20 15:32] orionr commented on #35095
Likely no plan to bring kwargs back (we want to have a clear and documented API which this doesn't help) but cc @sanekmelnikov and @lanpa to see if we can help add operator_export_type as an optional.

[2020-03-20 16:32] csarofeen commented on #34878
I had to ask the CUDA team internally, uncertain where/if it's in public documentation.

[2020-03-20 16:43] adityaiitb commented on #22961
A couple of things:

1. I looked at the SQL file. It does not have a single GPU kernel. Looks like for some reason your application ran on the CPU :)

2. I tried running your code but couldn't because there is a hard coded path "/raid/danieltudosiu/datasets/neuro_morphology/healthy/train_192". If you can modify that to feed random data, that would help.

3. The SQL file is big because NVprof captu

[2020-03-20 16:46] yf225 commented on #35009
C++ frontend fixes:

**In Progress**:
- #35022 Fix AdaptiveAvgPool{2,3}d and AdaptiveMaxPool{2,3}d implementation (https://github.com/pytorch/pytorch/pull/35022)
- #35023 Fix Conv and ConvTranspose implementation (https://github.com/pytorch/pytorch/pull/35023)
- #35024 Fix fractional_max_pool3d_with_indices implementation (https://github.com/pytorch/pytorch/pull/35024)
- #35025 Fix F::interpolate

[2020-03-20 16:55] danieltudosiu commented on #22961
@adityaiitb Interesting! I will modify the script now and push it to git. 10 calls to conv_transpose3d sounds about right. I need to go and move my workstation from office to home covid19 style. Let me know if you need anything else. There are NVTX annotation for each nn.Module that I create so I could debug it.

[2020-03-20 17:23] malfet opened #35103 "`bin/test_jit --gtest_filter=JitTest.CustomOperators --gtest_repeat=2` fails"
## 🐛 Bug

Multiple runs of JitTest.CustomOperators fail with:
[code]

## To Reproduce

`cmake /path/to/pytorch -G Ninja;  ninja test_jit; bin/test_jit --gtest_filter=JitTest.CustomOperators --gtest_repeat=2`

cc @suo

[2020-03-20 17:27] nikonikolov commented on #34546
The last suggestion produces errors < 1e-2, which is acceptable

[2020-03-20 17:27] #34546 closed

[2020-03-20 17:31] malfet commented on #35103
Looking into this one now.

[2020-03-20 17:37] danieltudosiu commented on #22961
@adityaiitb @ngimel

I modified the profiling script to be independent of my data but respect the data shape.

I did two more profilings one that tried to capture between start and stop called net_independent.sql.gz and another one which captured everything and in this one I was able to pars and you find it as net_independent_all.dict.gz since the sql was too big.

Let me know if I can be of any f

[2020-03-20 17:54] malfet commented on #35103
And it happens because deregister is not implemented: https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/runtime/register_c10_ops.cpp#L160

[2020-03-20 18:04] suo commented on #35103
lol, cc @smessmer

[2020-03-20 18:33] xush6528 opened #35108 "zip(list, tuple) throws an non-actionable error message"
[code]

Error message,
[code]

Expected
[code]

@wanchaol

[2020-03-20 18:56] zzzwen opened #35110 "Consolidate RRef type class and RRef impl class"
Python3 typing for `rpc.RRef` is missing.  If I do `from torch.rpc.distritubed import RRef`, then `rref_module : RRef[nn.Module]` will result in error `'pybind11_type' object is not subscriptable`

cc @suo @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar

[2020-03-20 19:06] hypernicon commented on #32322
Seeing stack traces like the following in GDB suggests to me that there is some sort of garbage collection issue, perhaps in shared memory, involving a lock in a bad state:

#0  __lll_lock_wait () at ../sysdeps/unix/sysv/linux/x86_64/lowlevellock.S:135
#1  0x00007feba3281023 in __GI___pthread_mutex_lock (mutex=0x7feb9b492608 <torch::(anonymous namespace)::cuda_ipc_global_entities+136>) at ../nptl/

[2020-03-20 19:10] xush6528 commented on #35110
@zzzwen the type class in under `_jit_internal.py`.

try this
[code]

[2020-03-20 19:36] xush6528 opened #35116 "JIT does not support class instance attribute type annotation"
From PEP 526, https://www.python.org/dev/peps/pep-0526/#class-and-instance-variable-annotations.

These 2 syntax are supported in Python3.

[code]

[code]

Now what is supported is
[code]

[2020-03-20 19:38] colesbury commented on #25186
This appears to be fixed in #25459 by @jiayisunx

[2020-03-20 19:38] #25186 closed

[2020-03-20 19:55] hypernicon commented on #32322
@VitalyFedyunin I might be wrong but I've convinced myself by reviewing the code in CudaIPCTypes.cpp that the gdb trace I posted in the previous comment on this bug is due to a circular series of calls that leads to CudaIPCSentDataLimbo_::collect() trying to acquire the same lock twice and failing the second time.

[2020-03-20 20:13] jerryzh168 commented on #34718
we may need the same thing for quantization. @neginraoof let me know if you have any update on this

[2020-03-20 20:53] seyeeet opened #35118 "Customize batch size based on gpu id"
Right now after choosing the batch size we cannot choose how many batches each gpu should have...
This is not important when the memory of gpus are the same.
BUT if we have 3 gpus with different memory then it will be really helpful to have the power to choose how many batches to give to each gpu.

e.g. we have 3 GPUs: 1 is 24 GB, and 2 are 11GB. each of 11GB can have a batch of 1.
If we do a batc

[2020-03-20 21:30] alex-zador opened #35123 "VS 2019 cpp/custom-dataset example compiler error"
When compiling custom-dataset example receive errors:
1) no instance of constructor "torch::nn::Functional::Functional" matches the argument list	CustomDataSet	...\CustomDataSet\CTorch.cpp	125
2) cannot determine which instance of overloaded function "torch::log_softmax" is intended	CustomDataSet	...\CustomDataSet\CTorch.cpp	125
 line 125 is: push_back(Functional(torch::log_softmax, 1, torch::null

[2020-03-20 21:40] vishwakftw commented on #34061
I've done more testing, seems like the effect starts for a `n` < 350.

[code]

| C | CPU | GPU |
|--|--|--|
| 270 | -1.000010 | -1.000009 |
| 271 | 1.000003 | 1.000000 |
| 272 | -1.000006 | -1.000005 |
| 273 | 0.999998 | 0.999997 |
| 274 | -1.000002 | -1.000001 |
| 275 | 1.000000 | 1.000000 |
| 276 | -0.999998 | -1.000000 |
| 277 | 1.000004 | 1.000004 |
| 278 | -1.000008 | -1.000006 |
| 279 | 1.00

[2020-03-20 22:28] albanD opened #35128 "Autograd Engine leaks reentrant threadpool threads on deletion"
This is not a huge problem in general but we should have a similar mechanism as we do for the device worker threads [here](https://github.com/pytorch/pytorch/blob/12f0052eee599ae85c78ccb22c17ae41cc221ff2/torch/csrc/autograd/engine.cpp#L233-L254) that tries it's best to clean things up when possible.

[2020-03-20 22:29] pritamdamania87 commented on #34367
We can focus on the local autograd engine for testing to begin with. A few areas for the distributed engine where we probably need more test coverage is as follows:

1. Would be nice to mirror the Reentrant tests mentioned in the summary for the distributed engine as well.
2. Test distributed engine with a mix of CPU and GPU work.
3. Ensure the RPCs in the backward pass of the distributed engine d

[2020-03-20 23:05] algoterranean commented on #33238
Thanks @ousou, I was running into the same problem and this patch does seem to work so far.

This is a surprisingly significant problem for a main release and needs some attention.

[2020-03-20 23:22] jamesr66a commented on #35009
https://github.com/pytorch/pytorch/pull/35133

^We'd like to get this in because it aligns torchbind's qualified names with the custom op API, and sets us up to converge the two in the future. Getting this into 1.5 would allow us to save a lot of BC headache in the future

[2020-03-20 23:26] malfet commented on #35128
I can look into that.

[2020-03-21 01:06] krshrimali opened #35138 "CUDA unexpected launch failure for complex128 inputs being cast to complex64 for certain unary ops"
## 🐛 Bug

`CUDA error: unspecified launch failure` is raised while trying to cast `complex128` tensors to `complex64` by the following unary ops. Because of `CUDA launch failure`, any additional cuda calls in the program also fail.

[code]

Note: This has been tested only for unary floating ops (see: #33322).

## To Reproduce

To reproduce the issue for a single unary op, use this script:

[code]

[2020-03-21 01:11] debvrat commented on #32881
Hi,

How do you get around this issue? What is causing it?

My environment details are:
Windows 10
CUDA 10.2
conda 4.8.3
Python 3.7.6
Pytorch 1.0.0
torchvision 0.2.2

[2020-03-21 01:20] debvrat commented on #17774
Hi,

I am getting the same error on a relatively small batch size: 64.
How do you get around this?

[2020-03-21 01:22] zihaozhang9 commented on #32881
At present, I have not solved this problem. In my case, I think that reinstalling the system, Anconda, and installing pytorch with conda can solve it.

[2020-03-21 02:35] krshrimali commented on #35123
Thanks for creating this issue.

A temporary work around is using `torch::nn::functional::log_softmax` instead of `torch::log_softmax` in `custom-dataset.cpp`.

I'm not sure if this is the desired change, as per the recent changes in libtorch API. After a few discussions, I'll create a PR to change this in examples by the weekend. Thanks!

[2020-03-21 02:36] danieltudosiu commented on #22961
@adityaiitb

I did some personal parsing of the dict hoping to find something useful, but the most useful thing I found is this but I can't make heads or tails of it.

[code]

Also, the inbuilt parser crashes due to unusual return of layers (VectorQuantizerEMA, Quantization, Encoder, VectorQuantizedVAE).

What would you recommend that I do next?

I found out that PyTorch "they ship with their own

[2020-03-21 03:08] #32119 closed

[2020-03-21 03:29] zasdfgbnm commented on #35009
https://github.com/pytorch/pytorch/pull/35146

^ Docs fix of DP vs DDP on CUDA

[2020-03-21 03:41] osalpekar commented on #26116
Closed by https://github.com/pytorch/pytorch/pull/33636

[2020-03-21 03:41] #26116 closed

[2020-03-21 03:42] osalpekar commented on #28123
Closed by https://github.com/pytorch/pytorch/pull/33636

[2020-03-21 03:42] #28123 closed

[2020-03-21 03:42] osalpekar commented on #33072
Closed by https://github.com/pytorch/pytorch/pull/33636

[2020-03-21 03:42] #33072 closed

[2020-03-21 03:52] soumith commented on #22961
If you installed PyTorch from binaries (pip or conda), then yes. It will be agnostic to system's CUDA/CUDNN

[2020-03-21 04:20] akotlar commented on #30968
Seems related, although sampling dimensions explicit in the distribution parameterization:

[code]

nSamples after expansion has shape [20_000, 3, 2], probs is shape [20_000, 3, 2]

Takes 3 minutes.

[2020-03-21 04:41] alex-zador commented on #35123
Actually, I've tried this but receive another error for the same line.

Compile succeeded when I used
push_back(Functional(torch::nn::functional::detail::log_softmax, 1, torch::nullopt));

I will see if the code work at runtime...

Should I close this issue?

[2020-03-21 04:50] Meowzz95 commented on #33124
I had same issue but I could not find the file anywhere(I really have little knowledge about c/c++ compilation)

Ended up using clang/clang++ to successfully compile.

`CC=/usr/bin/clang CXX=/usr/bin/clang++`

[2020-03-21 04:53] krshrimali commented on #35123
Sorry, I wasn't clear about this change. Using `torch::nn::functional::log_softmax` requires to remove the third argument (`torch::nullopt`). Using `detail` namespace works but I doubt if it's supposed to be user-facing namespace.

Please keep this issue open (until we hear from @yf225 on this) and let us know if the code works well at runtime.

[2020-03-21 05:02] bigcmos opened #35149 "torch v1.4.0 Unable to checkout '6aaaa4754fe2a7467c5f0584648ba47482caad7d' in submodule path 'third_party/fbgemm'"
## 🐛 Bug

I'm trying to build pytorch from source at tag `v1.4.0`.

In tag `v1.4.0` I'm unable to init submodule `third_party/fbgemm`.

I get this error:
`Unable to checkout '6aaaa4754fe2a7467c5f0584648ba47482caad7d' in submodule path 'third_party/fbgemm'`

This was working earlier this morning and stopped working a few hours ago.  When I inspect the fbgemm repo and compare it to an old repo I had

[2020-03-21 05:14] TomDLT opened #35151 "Segfault when indexing with single element array"
## 🐛 Bug

Segmentation fault on read-only numpy array.
Might be related to #33001.

## To Reproduce

Steps to reproduce the behavior:
[code]

## Expected behavior

No segmentation fault

## Environment
[code]
## Additional context

[2020-03-21 05:31] alex-zador commented on #35123
Th executable ends with c10::IndexError in KernelFunction.h

[2020-03-21 05:36] alex-zador commented on #35123
Th executable ends up with c10::IndexError in KernelFunction.h at first train iteration.
It runs in CPU mode.

I am using VS2019, OpenCV 4.2.

[2020-03-21 07:33] daydayfun opened #35153 "How to impove conv2d performance in cpu mode"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

1. when i use PIP to install pytorch, con2d perforamance is better

2. when i down p

[2020-03-21 07:45] daydayfun commented on #35153
import torch
from torch.nn.parameter import Parameter
import torch.nn as nn
from torch.nn import functional as F
import time

in_shape = (1,64,1440,2560)
weight_shape = (3,64,3,3)
bias_shape = (3)
inputs = torch.rand(in_shape, dtype=torch.float)
fliters = torch.rand(weight_shape, dtype=torch.float)
bias = torch.ones(bias_shape, dtype=torch.float)

stride = 1
padding = [1,1]
dilation = 1
groups = 1

[2020-03-21 07:50] daydayfun commented on #35153
I can find out "install pytorch-cpu==1.0.0 torchvision-cpu==0.2.1 cpuonly -c pytorch"  how to compile the pytorch code, whether some optimization enableed?  Please help me with this, thanks a lot.

[2020-03-21 07:50] daydayfun commented on #35153
I can't  find out "install pytorch-cpu==1.0.0 torchvision-cpu==0.2.1 cpuonly -c pytorch" how to compile the pytorch code, whether some optimization enableed? Please help me with this, thanks a lot.

[2020-03-21 08:03] daydayfun commented on #35153
static void THNN_(SpatialConvolutionMM_updateOutput_frame)(
          THTensor *input,
          THTensor *output,
          THTensor *weight,
          THTensor *bias,
          THTensor *finput,
          int kW,
          int kH,
          int dW,
          int dH,
          int padW,
          int padH,
          int64_t nInputPlane,
          int64_t inputWidth,
          int64_t inputHeight,

[2020-03-21 08:04] daydayfun commented on #35153
THTensor_(addmm)
THNN_(unfolded_copy)
cost  a lot of time, how to optimize them??

[2020-03-21 08:56] danieltudosiu commented on #22961
@soumith yes I pip installed it. Then my problem is purely a PyTorch one?

[2020-03-21 09:45] daixiangzi opened #35155 "pytorch model convert onnx KeyError: 'im2col'"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):1.4.0
 -

[2020-03-21 09:45] dinkdeep commented on #34953
![pytroch_mlp_backward_graph](https://user-images.githubusercontent.com/61411073/77223763-6f477d80-6b85-11ea-88da-202080a376ee.png)
 @colesbury @szagoruyko ,

On a side note related to the backward graph shouldn't it look look like flipped as in the attached png, the root node is AddmmBackward (matmul )and leaf nodes are W0.bias an WO.weight and those are the ones which get populated at the end .

[2020-03-21 10:05] cmougan commented on #34798
I managed by using
`conda install pytorch torchvision -c pytorch`
and modifying the .condarc so I can make a proxy

[2020-03-21 10:05] #34798 closed

[2020-03-21 12:29] vainaijr commented on #34760
Yes, it would be (N, H, W, C);  they use different way to compute rel distance in different paper, so, it is a bit custom. For example, in this paper, https://openreview.net/pdf?id=ryfxVNEajm, they use skewing technique to compute relative distance.

I think only making input as >3 dimensional would be ok for now, that is all three of q, k, v could be >3 dimensional.
Also, instead of using bmm or

[2020-03-21 12:53] CaoZhongZ commented on #34939
I poked autograd with some code and learned a lot, you are absolutely right, that's really a lot of fancy stuff there.

Yes, definitely work for almost all the cases. However I don't want to abandon a small case:
[code]
However, if there is no easy solution, we could make it simple, just block in-place case.

[2020-03-21 13:16] ShirleyTse opened #35156 "I have installed libomp but still cannot import Pytorch"
**BUG:**

I tried to install torch1.0, but I failed.

Terminal gave me this:
[code]

And I saw a solution on GitHub, which told me to install libomp. However, it didn't work.

**My Environment:**

macOS High Sierra 10.13.6
NVIDIA GeForce GTX 1070
GPU Driver Version: 387.10.10.10.40.133
CUDA Driver Version: 396.148
CUDA Version: 9.2
cuDNN Version: 7.2
Python Version: 3.7.7
Pytorch  Version: 1.0

[2020-03-21 14:12] Ed-Swarthout-NXP commented on #33124
The file is deep in the hierarchy:
aten/src/ATen/native/quantized/cpu/qnnpack/src/q8gemm/8x8-dq-aarch64-neon.S

[QNNPACK-q8gemm-8x8-dq-aarch64-neon.S-fix-mov-operand.patch.txt](https://github.com/pytorch/pytorch/files/4363087/QNNPACK-q8gemm-8x8-dq-aarch64-neon.S-fix-mov-operand.patch.txt)

[2020-03-21 16:50] Meowzz95 commented on #33124
Omg.. then I must have use `find` incorrectly... thanks for you reply, did not expect a reply from a one month old issue.

[2020-03-21 16:57] xhcgit opened #35159 "How to implement bmm between two sparse tensor"
## 🚀 Feature

## Motivation

## Pitch

## Alternatives

## Additional context

[2020-03-21 17:20] kirk86 opened #35160 "Documentation doesn't cover MWE using launch.py script"
## 📚 Documentation

Documentation related to `torch.nn.parallel.DistributedDataParallel()` don't include any examples of how to properly use it in combination with `launch.py`

The screenshot below from `launch.py` shows one can call their script e.g. `main.py` using `launch.py` but gives no proper example on how to set up `main.py` in order to work correctly with `launch.py`

In order not to repe

[2020-03-21 21:24] lutzroeder commented on #33307
@driazati @zdevito @ezyang what are next steps?

`archive/producer` would be a better name for the file instead of `archive/pytorch_version` as it should also include the name of the package that created the file. For example, `pytorch 1.4.0` or `torch 1.4.0`.

If adding this in `torch.serialization` is all that is need I can submit a PR.

`PyTorchStreamWriter::setup` would be the other place but

[2020-03-22 02:35] stoneboy100200 opened #35171 "Questions about cudaStreamSynchronize in Pytorch"
Hello, I am a user of pytorch (1.0.1). I would like to ask a question about the cuda operator. This question has troubled me for a long time and I have not found an answer.

Many cuda operators, such as "aten/src/ATen/native/cuda/Activation.cu: prelu_cuda". In this function, "at::cuda ::getCurrentCUDAStream(curDevice)" is called, but "cudaStreamSynchronize(stream)" is not called, I know that cuda'

[2020-03-22 03:19] krshrimali commented on #35123
Thank you for the information @alex-zador. I need a little more information on this:

1. Are you using Caltech-101 Data Set mentioned here: https://github.com/pytorch/examples/tree/master/cpp/custom-dataset?
2. Can you copy the whole error here? It will be helpful to debug.

Also, please re-open this issue since the issue is not technically resolved. I'll work on the cpp-customdataset example this

[2020-03-22 03:37] ngimel commented on #35171
Please ask the questions on discuss.pytorch.org. To answer your questions very briefly, the situation you described is correctly handled by pytorch because pytorch uses caching allocator, and when allocating gpu memory it also marks the stream it is used on. As long as you keep launching cuda work on the same stream, the memory you are using might be marked as free, but in fact no other stream wil

[2020-03-22 03:37] #35171 closed

[2020-03-22 04:42] stoneboy100200 commented on #35171
Hi Ngimel,
Thank you very much for your reply. I know that cuda will guarantee the sequential execution of programs in the same stream. In fact, my problem is that the destruction of the intermediate Tensor will cause the memory allocated for cuda on the CPU side to be destroyed. If cuda is calculating at this time, This behavior will cause some problems, so pytorch should have a mechanism to exte

[2020-03-22 05:16] ngimel commented on #35171
Caching allocator is in this file https://github.com/pytorch/pytorch/blob/master/c10/cuda/CUDACachingAllocator.cpp.
No, this behavior does not cause problems because of stream ordering guarantees.

[2020-03-22 05:20] stoneboy100200 commented on #35171
Is it the same for pytorch 1.0.1?

[2020-03-22 05:30] ngimel commented on #35171
Yes, it did not change for a long time.

[2020-03-22 06:41] alex-zador commented on #35123
@krshrimali, sorry, that was unintentionally closed.

[2020-03-22 07:04] alex-zador commented on #35123
@krshrimali, sure I used  Caltech-101 and info.txt.

That is strange, but this time code runned a number of iterations. I received:
Running on: CPU
Train Epoch: 1 16/7281  Loss: 0.297678  Acc: 0
Train Epoch: 1 176/7281 Loss: 0.523969  Acc: 0.0965909
Train Epoch: 1 336/7281 Loss: 0.530743  Acc: 0.0922619
Train Epoch: 1 496/7281 Loss: 0.53766   Acc: 0.0927419
Train Epoch: 1 656/7281 Loss: 0.536154

[2020-03-22 07:05] mhajiaghayi commented on #29724
Hi @jerryzh168  and @supriyar
I was also trying to convert a BERT dynamically quantized model to onnx but i got the following error.

''ONNX export failed on quantized operator quantized::linear_dynamic because torch.onnx.symbolic_opset9.linear_dynamic does not exist.''
it seems ''dynamic quanitized'' linear operation in onnx:
https://github.com/onnx/onnx/blob/master/docs/Operators.md#dynamicquant

[2020-03-22 07:07] krshrimali commented on #35123
Thank you for sharing this. I'll run on my local system and see if I can reproduce this.

[2020-03-22 07:22] AranKomat commented on #4570
@soumith @edgarriba You can just use scatter_add_(dim, index, other) for batched bincount, where 'index' is your input and 'other' is just torch.ones(...).

[2020-03-22 08:18] ayushtues commented on #34895
Hi, @ezyang  I will try to get rid of it

[2020-03-22 08:31] ayushtues commented on #34895
Should I try removing all occurrences of as_variable_ref in the code? Or can I just make the function do nothing and return the input in its definition?

[2020-03-22 09:03] Randl opened #35180 "hasSpecialCase INTERNAL ASSERT FAILED: We don't have an op for aten::to but it isn't a special case."
## Stack trace
[code]

## Expected behavior

## Environment

PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Ubuntu 18.04.4 LTS
GCC version: (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
CMake version: version 3.10.2

Python version: 3.6
Is CUDA available: Yes
CUDA runtime version: 10.1.168
GPU models and configuration:
GPU 0: GeForce RTX 2080 Ti
GPU 1: GeForce RTX 2080 Ti
GP

[2020-03-22 09:12] eleflea commented on #31821
I tried with pytorch 1.5.0, and the same error occurred.

[code]

[2020-03-22 09:46] Borda opened #35181 "whl package for CUDA 10.2"
## ❓ Questions and Help

I am wondering if and when there will be also supported with pre-build wheels for CUDA 10.2 as it for other  CUDA versions at https://download.pytorch.org/whl/cu102 or via pip as
[code]

Thanks

[2020-03-22 09:47] eleflea opened #35182 "Error when QAT with Dataparallel in multi-GPU"
## 🐛 Bug

I tried to QAT a detection model. When I dont use Dataparallel or use Dataparallel with single GPU, it goes well. But when I train model with Dataparallel in multi-GPU, it raise an error.

## To Reproduce

code:

[code]

error when training on 2 GPU:

[code]

## Expected behavior

Should not raise error.

## Environment

PyTorch version: 1.5.0
Is debug build: No
CUDA used to build PyTorc

[2020-03-22 09:53] phuongmiguel opened #35183 "Broken pipe error: errno 32 broken pipe in windows"
=== Software ===
python        : 3.7.6
fastai        : 1.0.60
fastprogress  : 0.2.2
torch         : 1.4.0
torch cuda    : 10.1
============
Hi all,
I'm just a beginner. I have a problem.
Problem: **BrokenPipeError: [Errno 32] Broken pipe** when it comes from 12th cell (In[12], jupyter notebook)

Error code: '' **learn.fit_one_cycle(6, lr, callbacks = [AccumulateStep(learn,n_acc)])**''

Code from I

[2020-03-22 10:10] specyfick opened #35185 "caffe2: Compiler error: expected ‘)’ before ‘PRId64’"
## 🐛 Bug

Compilation ends with: caffe2: Compiler error: expected ‘)’ before ‘PRId64’

## To Reproduce
Source cloned:
[code]
next:
[code]

And compilation stops with error:

[code]

## Expected behavior

Compilation to be succesfull.
Initialy I've instal pytorch from conda. Runing my script gives me an error:

`ImportError: /lib64/libc.so.6: version `GLIBC_2.14' not found (required by /users/...xx

[2020-03-22 10:39] peterjc123 commented on #35181
CUDA 10.2 packages will be added in the next major release. There's no plan of publishing cuda 10.2 packages for 1.4.0.

[2020-03-22 10:39] #35181 closed

[2020-03-22 10:44] peterjc123 commented on #35183
Please ask the questions on https://discuss.pytorch.org/.

[2020-03-22 10:44] #35183 closed

[2020-03-22 11:05] VIGNESHinZONE commented on #33567
How can i reproduce this issue??  And i tried reading https://github.com/pytorch/pytorch/issues/755 .
Im getting
RuntimeError: Could not infer dtype of complex

[2020-03-22 11:06] specyfick commented on #35185
Ok solved ...after 12 hours :)
I've deleted /build, after first compilation.
Add in CMakeLists.txt file folowing line:
 `add_definitions(-D__STDC_FORMAT_MACROS) `

Mission compleeted.
Now time to tests.

[2020-03-22 11:30] absentio commented on #29967
I sitll get the same error even installing pytorch-nightly. Any solution?

[2020-03-22 12:58] wormwang opened #35186 "Eigen error stop when building source on rocm 2.10 on Ubuntu 18.04"
## 🐛 Bug

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version : 1.4.0
 - OS (e.g., Linux): Ubuntu 18.04
 - How you installed PyTorch : building source
 - Build comma

[2020-03-22 13:08] absentio commented on #27627
I can't get it working by simply installing https://github.com/pytorch/pytorch/issues/29967. I don't need GPU support but just a way to install it. I tried with every version, even 1.0.0 but I always get the same error. Do I have to build it?

[2020-03-22 14:41] phuongmiguel commented on #35183
Dear,

This is my issue [
https://discuss.pytorch.org/t/broken-pipe-error-errno-32-broken-pipe-in-windows/74035].
Can you help me, please

I'm looking forward to hearing from you.

Best regard,
Phuong.

Vào CN, 22 thg 3, 2020 vào lúc 17:44 peterjc123 <notifications@github.com>
đã viết:

[2020-03-22 15:26] ddkalamk commented on #35149
Even pytorch v1.5.0-rc1 has similar issue with fbgemm.

[2020-03-22 16:41] ipcoder opened #35188 "Summary generation for tensorboard is very slow"
I have noticed that adding even a single scalar to log with SummaryWriter slows by~10 the learning rate:
[code]
After some experiments and examination of the implementation I have found that **even without writing the data**, only  the __creation__ of the Summary item takes ~.5 sec.
[code]
This is of course a very rough measurement but it is consistent with  ~10% drop in GPU load.
## Expected beha

[2020-03-22 17:39] LuposX commented on #33631
@Unity05 Thank you, you're code helped me so much.

[2020-03-22 17:41] Unity05 commented on #33631
@LuposX I am glad I could help you with that. :)

[2020-03-22 19:00] h6197627 opened #35191 "Forward/backward hooks support in DistributedDataParallel"
## 🚀 Feature
PyTorch now recommends to use DistributedDataParallel over DataParallel for all sorts of multi-GPU trainings (#35063). However, it has one limitation comparing to old DataParallel module - currently it cannot handle forward/backward hooks in a user convenient way.
Proposed workaround
https://github.com/pytorch/pytorch/blob/95ad94c75b09ad2438141e4eb52e83e737966e60/torch/nn/parallel/dis

[2020-03-22 19:56] dachosen1 commented on #33567
is this still being worked on? Could i take a shot at it.

[2020-03-22 20:48] ipcoder commented on #35188
I have figured out that the reason for the slow down is the access to the loss tensor on the CUDA - not related to the tensorboard interface.

[2020-03-22 20:48] #35188 closed

[2020-03-22 21:40] jlquinn commented on #35012
@VitalyFedyunin Yes, this build isn't using Apex yet.  I'm just trying to compile PyTorch, before trying to build a compatible APEX

[2020-03-22 22:03] wDaniec commented on #33567
Yes. I am working on it. Couldn't spend much time on it last week because of illness.

[2020-03-23 00:57] malfet commented on #35156
According to `ImportError` message, import failed because `libcufft.10.0.dylib` is missing on your system.
That is, it looks like you've install pytorch with CUDA 10 support, although only CUDA-9 is available on your system.

[2020-03-23 01:00] shamoons commented on #15645
Same, I tried `import torch.utils.cpp_extension`, but no dice.

[2020-03-23 01:34] danieltudosiu commented on #22961
@ngimel @adityaiitb

I found out the reason. In my experiment.py I was missing the line of code `torch.backends.cudnn.benchmark = True`.

For the love of God could you please explain what does this line of code does under the hood? I get a general idea but what does it ACTUALLY do?

[2020-03-23 02:13] malfet opened #35195 "`JitTest.ADFormulas` fails intermittently"
## 🐛 Bug

Run `bin/test_jit --gtest_filter=JitTest.ADFormulas --gtest_repeat=1000 --gtest_break_on_failure` will fail with `INTERNAL ASSERT FAILED`

cc @suo

[2020-03-23 02:19] malfet commented on #35195
And culprit is `tanh` sub-test if any of the input tensor elements greater than 4.

[2020-03-23 02:19] malfet commented on #35195
Following diff makes failure permanent
[code]

[2020-03-23 02:30] dachosen1 commented on #33567
ok no worries. let me know if you need help

[2020-03-23 03:48] soumith commented on #22961
@danieltudosiu it kicks off an internal auto-tuner in CuDNN which picks the best convolution codepath manually after benchmarking every single available codepath (algorithm) manually for each input shape

[2020-03-23 05:08] neginraoof commented on #34743
@malemo
Please change the code to:

size_array = [int(s) for s in feat32.size()[2:]]
avg = torch.nn.functional.avg_pool2d(feat32, size_array)

[2020-03-23 05:47] take-cheeze commented on #35155
You can export it with custom torch.onnx exporter with [UnfoldToDepth-12 operator]( https://github.com/onnx/onnx/blob/master/docs/Operators.md#unfoldtodepth)

[2020-03-23 05:50] songyuc commented on #3867
I want the "same padding" feature in Conv2d too.

[2020-03-23 05:52] bigcmos commented on #35149
I'm currently working around this for now by checking out fbgemm @ `399ea14` manually before building.  This seems to work, but it would be great to have an official update of `v1.4.0`.

[2020-03-23 05:57] ptrblck commented on #35153
The PyTorch binaries ship with some additional libraries, which accelerate your use cases.
E.g. MKL might speed up your convolutions, so you would need to install this lib when building PyTorch from source.

That being said, I would recommend to stick to the lastest stable release, as `1.0.0` is old by now.

[2020-03-23 06:29] CaoZhongZ commented on #34939
@albanD Hi, I have a hard-time to understand this example. What does it mean?
[code]

My experiment (no idea what i'm doing)
[code]

and Next
[code]

I got (still no clue)
[code]

[2020-03-23 06:47] KoykL opened #35202 "grid_sample returns corrupted tensor when grid.max() and grid.min() has huge difference"
## 🐛 Bug

torch.nn.functional.grid_sample(input, grid, mode='bilinear', padding_mode='zeros', align_corners=None) returns corrupted tensor when grid.max() and grid.min() has very different value on GPU.

"Corrupted" meaning: attempt to read the returned tensor, such as printing the tensor will result in: RuntimeError: CUDA error: an illegal memory access was encountered.

The issue goes away when

[2020-03-23 07:02] daixiangzi commented on #35155
i solved this problem ,thanks&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Takeshi Watanabe"<notifications@github.com&gt;;
发送时间: 2020年3月23日(星期一) 中午1:47
收件人: "pytorch/pytorch"<pytorch@noreply.github.com&gt;;
抄送: "代翔子"<543826458@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [pytorch/pytorch] pytorch model convert onnx KeyError: &#39;im2col&#39; (#35155)

You can ex

[2020-03-23 07:16] r-zenine opened #35203 "Support NHWC upsampling for CUDA."
## 🚀 Feature
Add support for NHWC images for upsampling nearest in CUDA.

https://github.com/pytorch/vision/issues/1179#issuecomment-558197607
## Motivation
We need this work in order to match the work from [This PR](https://github.com/pytorch/pytorch/pull/34597) and have feature parity with CPU.

In addition, this would help us further support an ongoing work done with @fmassa  to have efficient

[2020-03-23 07:21] Baranowski commented on #17499
@snippler, I know it's been over a year but do you have a code that reproduces this issue?

I have looked at the DataParallel and DataLoader code and don't see any obvious place where they would trigger the __hash__ issue.

I've also ran https://github.com/mrcolo/research_srgan which uses both DataParallel and DataLoader, and I didn't see increase in /dev/shm usage between epochs.

[2020-03-23 07:50] tygrer commented on #34743
Actually，When I test the onnx model，there still has a problem like this #19643,
So I solve the problem by changing the code to :
        size_array = [int(s) for s in x.size()[2:]]
        x = torch.nn.functional.avg_pool2d(x, size_array,stride=size_array)

[2020-03-23 08:17] snippler commented on #17499
I am not sure if I still have the code where the problem could be reproduced. Probably not but I'll post if I find it.

[2020-03-23 08:24] #32282 closed

[2020-03-23 08:40] yoshihingis commented on #34524
I could build the dlls and the libs by build_pytorch.bat.
Thank for your many advices.

[2020-03-23 08:40] #34524 closed

[2020-03-23 08:47] JesperLindberg opened #35204 "Documentation for torch::randint seems to be out of date?"
## 📚 Documentation
When I use function `torch::randint()` it takes arguments `int64_t high, at::IntArrayRef size, at::TensorOptions &options = {}` however, at the documentation it says there should also be a `at::Generator generator`

https://pytorch.org/cppdocs/api/function_namespacetorch_1ad86f0f5e4b92098660b54e584342a188.html?highlight=randint

I am using libtorch 1.4

cc @yf225

[2020-03-23 08:54] JesperLindberg opened #35205 "Lower bound for torch::randint."
## 🚀 Feature
I would want to have a lower limit for torch::randint. The reason for this is so that I can sample ints from 5-10 for example.

## Motivation
In C++ there is no "good" go-to default random number generator, however libtorch offers a solution for it. This solution seems to be forgotten or very out-of date as its missing one crucial feature. To be able to adjust the starting value of th

[2020-03-23 08:55] yoshihingis opened #35206 "I could bulild the Dlls and LIbs but they were different file-size from the Original Dlls nad Libs."
Questions or Bugs ?

 I could build the Dlls and the Libs of libtorch Ver4.0 by buld_pytorch.bat, I got the libtorch-win-shared-with-deps-1.4.0.zip whicn included the DLLs and the Libs have same names as original
libtorch-win-shared-with-deps-1.4.0.zip.

  I built the Dlls and the LIbs by both VS17and VS19, I compared the file sizes of the DLLs and the Libs with the Orignal Dlls and Libs , Please

[2020-03-23 09:04] daydayfun commented on #35153
Thanks very much，i will install mkl-dnn and try
I found the difference between libtorch.so, the faster one has mkl-dnn inside.

[2020-03-23 09:04] #35153 closed

[2020-03-23 09:26] songyuc opened #35207 "It seems the implementation of ResNet-101 is different from the model in the original paper"
## ❓ It seems the implementation of ResNet-101 is different from the model in the original paper
It seems the implementation of ResNet-101 is different from the model in the original paper.
Here is the information of the first block,
![image](https://user-images.githubusercontent.com/27288110/77301730-23ced400-6d2b-11ea-8467-a7976dcfb1b7.png)
and in the paper, the structure is,
![image](https://us

[2020-03-23 09:34] peterjc123 commented on #35206
This is not a bug. The size of the binary is not consistent and there're too many factors that will affect that.

[2020-03-23 09:34] #35206 closed

[2020-03-23 09:38] JVGD commented on #21683
This feature is very relevant, my motivation:

- Load ONNX models into pytorch to compare models against same test cases

[2020-03-23 10:40] prajjwal1 commented on #35009
Leaving it here because this PR fixes a [high priority issue](https://github.com/pytorch/pytorch/issues/33953).  This [PR](https://github.com/pytorch/pytorch/pull/34595) adds Support for Tensor Shape Type Hint.

[2020-03-23 10:43] prajjwal1 commented on #35207
It will be better if this query is first posted on [torchvision issues](https://github.com/pytorch/vision/issues) or [forums](discuss.pytorch.org). This is not related to Pytorch main repo.

[2020-03-23 12:20] anasvaf commented on #21909
any updates regarding this issue?

[2020-03-23 12:26] Baranowski commented on #33870
I'm on it. For the record, in the latter case the exception raised is different:

[code]

[2020-03-23 12:57] as754770178 opened #35208 "The BatchNorm error in `DataParallel`"
`https://github.com/open-mmlab/mmdetection/issues/2312`
I debug this error. I set breakpoint in
[code]
I found that the parameters and buffer in `cuda:1` and the input in `cuda:1`. I wonder that when the program exec to `/opt/anaconda3/lib/python3.7/site-packages/torch/nn/modules/batchnorm.py`
The parameters and buffer of batchnorm in `cuda:0` and the input in `cuda:1`.
And only batchnorm have thi

[2020-03-23 14:17] nikitaved commented on #35205
5 + randint(5) should resolve your issue?

[2020-03-23 14:25] pbelevich commented on #35205
[torch::randint() has lower bound](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/TensorFactories.cpp#L520), you can write`torch::randint(5, 10, {3, 3});`

[2020-03-23 14:32] pbelevich commented on #35204
That's true, I'm rewriting RNG infrastructure, the documentation will be updated soon

[2020-03-23 14:52] albanD commented on #33870
@colesbury I would argue that given that it is the op that does the casting in the forward pass, it should be the op that does the casting in the backward pass as well. Not the engine.
You don't think so?

[2020-03-23 14:56] ksasso1028 opened #35210 "libTorch version not matching checked out version when building with build_libtorch.py"
I have noticed that when building libtorch using build_libtorch script on the newest version, the TorchVersion file indicates it builds Torch 1.1. However if i build pytorch using the setup.py build command, the libtorch version will match the checked out version. Whats going on here?

Also where are the required libTorch libs needed for standalone c++ when you do setup.py build? the documentation

[2020-03-23 15:01] albanD commented on #34939
The problem with this case is that if the user also modifies `a` inplace, we have to rewrite the graph to be able to compute the right gradients and we won't be able to handle that.
To make this work, we would need to insert in the backward pass multiple calls to `to_mkldnn` and back to regular CPU. This would be very complex.

The right question to ask yourself to understand what `autograd.grad(o

[2020-03-23 15:07] h6197627 opened #35211 "Caffe2 mobile building broken"
## 🐛 Bug

Caffe2 compilation for Android (and probably iOS) is failing with error

[code]

similar error was in https://github.com/pytorch/pytorch/pull/29705#issuecomment-600829622 and it was resolved by excluding immintrin.h from mobile builds with preprocessor guard.

With #34783 immintrin.h appeared in fused_rowwise_nbitfake_conversion_ops.cc

## To Reproduce

Steps to reproduce the behavior:
B

[2020-03-23 15:15] ezyang commented on #34939
You've identified a problem ("cannot run MKLDNN operations on standard layout cpu tensors without doing a copy first") which I agree with, and a solution ("enable opaquetensor to possess storage") which I disagree with. A much simpler way to solve the problem is to just not use the MKLDNN Opaque Tensor for standard layout tensors, and just use an old fashioned CPU tensor in those cases. You can us

[2020-03-23 15:28] CaoZhongZ commented on #34939
I know, we could block the case. Since we are concerning computation bound ops, they can't be in-place.

[2020-03-23 15:35] shlongsas opened #35212 "cannot build from src"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2020-03-23 15:35] CaoZhongZ commented on #34939
Then what is the output when we applied MKLDNN operations on standard layout tensors. Currently we kind have two mode of it: call a MKLDNN operation on standard layout tensors we get a standard layout tensor, call a MKLDNN operation on opaque tensors we could get a opaque tensor which requires a plain copy. You suggest that we call MKLDNN operation on standard layout tensors and output opaque tens

[2020-03-23 15:41] #35212 closed

[2020-03-23 15:42] rdv0011 commented on #8853
Is this topic related to conversion pytorch to ONNX?
I am facing the error when GraphEncoder::EncodeTensor() tries to call SparseTensorImpl::is_contiguous() which is not implemented. Please check the details here: https://github.com/onnx/onnx/issues/2676

[2020-03-23 15:53] ngimel commented on #33870
Autograd engine is already summing to the necessary shape and casting to the necessary type, to account for broadcasting and type promotion that the op did in forward. Is moving across devices conceptually different?

[2020-03-23 15:57] colesbury commented on #33870
@albanD I think it will be easier to implement this as part of the engine and simpler to maintain. I think the situation is similar to broadcasting. Originally, we implemented broadcasting per-op, without any broadcasting logic in the autograd engine. This turned out to be hard to maintain: you have a mix of complicated derivative expressions and conservative calls to sum and casting.

[2020-03-23 16:00] eellison commented on #35195
Thanks for the issue! assigning to you as you have a fix out.

[2020-03-23 16:01] albanD commented on #33870
Ok,
As a side note: This code (and the broadcasting one) should be careful about setting the grad mode properly otherwise higher order derivatives won't work.

[2020-03-23 16:03] eellison commented on #35108
@xush6528 this is fair. It's a little tricky to get a good error message here because the sugared values don't have full first-class types. For instance `range` is not a type, nor is `Module list`. I think at least printing the SugaredValue that doesn't have a statically determinable length would help.

[2020-03-23 16:07] vivekmig opened #35213 "Tensor __radd__ type hint issue"
## 🐛 Bug

Type checking any code adding a float or integer to a tensor (`__radd__` method) results in a type checking error when using nightly build (but not in release). This is causing type checking failures for downstream applications, particularly in Captum.

## To Reproduce

Run mypy on any code applying radd, such as:
[code]
Mypy Error:
`test_file.py:4: error: Unsupported operand types for +

[2020-03-23 16:11] mrshenli commented on #34874
Adding this to triage review to discuss how to proceed on this feature request.

[2020-03-23 16:13] supriyar commented on #31821
@eleflea what layers does your model have? There is a test (see link below) which demonstrates the flow to be used to convert a model from pytorch -> onnx -> Caffe2. Right now caffe2 is the only backend supported for this flow. Also, it currently works for traced models.

https://github.com/pytorch/pytorch/blob/master/test/onnx/test_pytorch_onnx_caffe2_quantized.py#L237

[2020-03-23 16:13] mrshenli commented on #34879
Adding this to triage review meeting to discuss how can we should proceed with this feature request and contribution.

[2020-03-23 16:41] dinkdeep opened #35215 "Get hold of Backward graph from a C++ module."
Hi Guys
@huzecong  @ezyang @gqchen @albanD
Is there a way we could get hold of Backward Graph in C++ code .

We have a custom FPGA and asic & we would like to perform training on a multi-chips HW asics, they are similar to nvidia GPU's and we would like to interconnect them the way nvidia DGZ servers do  and want to run training on them, For the inference part we are able  use a Glow backend for P

[2020-03-23 16:53] ak-source commented on #25393
seems related to https://github.com/thrust/thrust/issues/1030

[2020-03-23 16:53] ggeor84 commented on #31821
@supriyar Problem is that export is broken, we don't even get to generate a quantized onnx model

[2020-03-23 16:55] albanD commented on #35215
Hi,

The IR graph from the jit and the graph made of Nodes for the autograd are two independent things.
In particular, the autograd graph only contains Nodes that can execute arbitrary operations and only represent the backward pass.

[2020-03-23 16:59] peterjc123 commented on #25393
If this is the case, maybe we could apply `/Zc:__cplusplus` to fix that.

[2020-03-23 17:04] ezyang commented on #34879
This one should go to the "needs research" queue

[2020-03-23 17:05] albanD commented on #35014
We already added a fix for the device here: https://github.com/pytorch/pytorch/pull/35053 shall we add a similar one for dtype?

[2020-03-23 17:05] gchanan commented on #34879
1430 citations since 2006.

[2020-03-23 17:06] gchanan commented on #34874
I think we should always accept these kinds of requests, but they shouldn't be "high priority."

[2020-03-23 17:06] ezyang commented on #34675
Hey MKLDNN peeps, does MKLDNN have dilated max pool2d?

[2020-03-23 17:07] ezyang commented on #34874
I agree that permuting and then unpermuting is probably the easiest way to implement it.

[2020-03-23 17:07] mruberry commented on #35014
Disallowing sounds like a good start to prevent silent breaks. NumPy will type promote in this case:

[code]

So in the future I'd expect PyTorch to type promote, too (following our own type promotion rules).

[2020-03-23 17:10] albanD commented on #35014
That might have complex implications for the backward formulas. So that would need to be discussed.

[2020-03-23 17:14] ezyang commented on #34675
I'm a very dubious that unfold is actually giving us a "fast" implementation of conv2d (we should be short circuiting to mkldnn when things are fast), but if there is actually a performance speedup by using unfold, it seems that adding the dilation parameter makes the most sense.

[2020-03-23 17:14] ezyang commented on #35014
Can't you just compute at the promoted type and then the autograd engine will take care of converting the dtype as necessary?

[2020-03-23 17:14] mrshenli opened #35216 "API doc for torch.max/min is broken"
with [1.4 stable](https://pytorch.org/docs/stable/torch.html#torch.max), both max and min are broken

<img width="880" alt="Screen Shot 2020-03-23 at 1 10 07 PM" src="https://user-images.githubusercontent.com/16999635/77343167-a776c980-6d07-11ea-9f1a-1e4621228f18.png">

on [master](https://pytorch.org/docs/master/torch.html#torch.min), min is broken

<img width="875" alt="Screen Shot 2020-03-23 at

[2020-03-23 17:16] gchanan commented on #35014
@ezyang I don't know if the autograd engine handles that case currently, but it should.

[2020-03-23 17:19] yf225 commented on #34874
@Parskatt We would love to accept PRs on this feature, thanks!

[2020-03-23 17:21] yf225 commented on #34964
We should investigate into this and provide a fix.

[2020-03-23 17:21] #35155 closed

[2020-03-23 17:25] yf225 commented on #35014
We will raise error for this case in 1.5, and we will implement the type promotion approach after discussion.

[2020-03-23 17:39] musikisomorphie commented on #34675
@ezyang, @ngimel, @soumith , I think with unfold function we achieve a standard implementation of conv2d for CPU. Since unfold lacks dilation parameter, so the current CPU implementation for conv2d with dilation and maxpool 2d are implemented naively, i.e., multiple for loops, which shows roughly 9 times slower compared to the conv2d (without dilation). This is reflected by the experiments I repor

[2020-03-23 17:54] houseroad commented on #31821
@ggeor84 are you going to use Caffe2 as the backend? or you just need onnx model? If the latter, then this workflow probably wont' work for you.

[2020-03-23 18:00] ggeor84 commented on #31821
@houseroad I just need the onnx model. I was looking to run it with onnxruntime

[2020-03-23 18:22] pbelevich commented on #35156
How did you do that? Please specify exact steps

[2020-03-23 18:26] ShirleyTse commented on #35156
Stupid me.

You’re right. I installed CUDA10 and cuDNN7.4 and it goes well now. Thank u!

[2020-03-23 18:28] pbelevich commented on #35202
reproducible

[2020-03-23 18:29] #35156 closed

[2020-03-23 18:32] #35185 closed

[2020-03-23 18:46] pbelevich commented on #35159
Please use https://discuss.pytorch.org (https://discuss.pytorch.org/) for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2020-03-23 18:46] #35159 closed

[2020-03-23 18:51] r-zenine commented on #35203
Hi,
Small Update :
I see an opportunity to reuse most of the code if we manage to make this portion of the code parametrized by the memory layout.
https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/UpSampleNearest2d.cu#L46-L49

We could add a template parameter to the `upsample_nearest2d_out_frame` for memory layout and get the code snippet above into it a template function.

[2020-03-23 18:56] develooper1994 opened #35222 "Continuous Learning"
## 🚀 Feature

Continuous Learning.
## Motivation
I am considering to learning should continue while collecting data. There is infrastructure apis to use pretrained network but I can't continue to train with it.

I'm always frustrated when comes to mobile. There is only infrastructure libraries.
## Pitch

There for "mobile gpu support" may requires to continuous training.
## Alternatives

## Additi

[2020-03-23 19:08] fraserprice commented on #27588
Bump. Any solutions?

[2020-03-23 19:12] zeroepoch commented on #32983
Any update on this bug?

[2020-03-23 19:12] adityaiitb commented on #22961
@danieltudosiu @ngimel

I have quite a few updates.

1. The profile context manager captures only the current device. That's why I did not observe any GPU kernels when I ran your code. There is a very small fix as follows (thanks to Natalia).

[code]

2. The PyProf in APEX is in a state of flux. For the time being can you run `parse.py` and `prof.py` using my repo at https://github.com/adityaiitb/

[2020-03-23 19:14] colesbury commented on #35207
@songyuc It would also help if you point out what difference you see

[2020-03-23 19:16] yns88 commented on #35149
I just pushed a new tag for v1.4.1 that should fix this issue. Can you check your build on that tag?

[2020-03-23 19:32] lematt1991 commented on #29814
I'm also seeing this bug.  I tried wrapping the `step` call in a `torch.no_grad()` `with` block, but am still getting the error.  Why is it that

[code]
fails, but moving the `with torch.no_grad()` into the SGD step succeeds?

[2020-03-23 19:32] anjali411 opened #35225 "[RuntimeError] copy_() : CUDA error: unspecified launch failure"
CUDA error: unspecified launch failure when I changed the dispatch here https://github.com/pytorch/pytorch/blob/9441c7a9443dbc810c1190e4ca1e06c7c8308e47/aten/src/ATen/native/cuda/Copy.cu#L64 to AT_DISPATCH_ALL_TYPES_AND_COMPLEX_AND3
and ran this code on cuda:

import torch
a=torch.randn(2,3,dtype=torch.complex64).cuda()
b=a.to(torch.complex128)

RuntimeError: CUDA error: unspecified launch failure

[2020-03-23 19:34] pbelevich commented on #35213
I tried to reproduce on master:
[code]
@vivekmig can you please specify exact steps to reproduce?

[2020-03-23 19:45] ngimel commented on #35225
cc @zasdfgbnm

[2020-03-23 20:01] anjali411 commented on #35225
Here's the PR for reference: https://github.com/pytorch/pytorch/pull/34093

[2020-03-23 20:07] vivekmig commented on #35213
@pbelevich Whoops, sorry had a typo in the example, should be the reverse, `print(7 + ten)`. Fixed now.

[2020-03-23 20:17] pbelevich commented on #35213
@vivekmig I was able to reproduce, thanks!

[2020-03-23 20:34] ezyang commented on #34939
The invariant is: standard layout == CPU Tensor; blocked layout == opaque tensor. If you have operations that take standard layout tensors and produce block layout, yes, you will take in a CPU tensor and produce an opaque tensor; and vice versa. Just like we have operations that take in CPU tensors and output CUDA tensors.

[2020-03-23 20:41] ezyang commented on #35215
If you're tracing, trace the forward and backward and you'll get a usable graph you can export. Our symbolic differentiation support is very modest and unlikely to be enough.

[2020-03-23 20:46] colesbury commented on #35151
@TomDLT thanks for the bug report. Your example made it easy to reproduce the issue.

The problem is that the memory mapped for `y` is not aligned to eight bytes. C and C++ expect basic data types (and arrays) to be aligned to a multiple of their size. For example, doubles and arrays of doubles should be at least 8-byte aligned; floats should be at least 4-byte aligned, etc.

The memory mapped `y`

[2020-03-23 20:47] ezyang commented on #34675
OK, but did you double check which kernel was being run without dilation? I'm expecting it's some MKLDNN kernel, not the unfold one.

[2020-03-23 20:50] baqwas opened #35234 "Raspberry Pi Zero build fails"
## 🐛 Bug

Cannot build from source on Raspberry Pi Zero 1.3

## To Reproduce

Steps to reproduce the behavior:

1. Install prequisite packages
2. Clone GitHub respository to local folder
3. Export flags for build
[code]
4. Ran the following command from the source folder:
`python3 setup.py build`

Encountered the following error message at the 12% mark when:
[code]

[code]
## Expected behavior

Bu

[2020-03-23 20:55] bigcmos commented on #35149
Success.  Thank you!
```Submodule path 'third_party/fbgemm': checked out '399ea148f1403c100e6d601ec3587a621de96a84'```

[2020-03-23 20:57] bigcmos commented on #35149
Oh

[2020-03-23 21:16] #35213 closed

[2020-03-23 21:26] seemethere commented on #35009
https://github.com/pytorch/pytorch/pull/35242

^ Script fix to unblock all of CI

[2020-03-23 21:48] pbelevich commented on #35222
Please use https://discuss.pytorch.org for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2020-03-23 21:48] #35222 closed

[2020-03-23 21:57] lw opened #35251 "[RFC] TensorPipe RPC agent"
### What is TensorPipe?

TensorPipe (https://github.com/pytorch/tensorpipe) is a library that provides a new primitive for point-to-point communication for machine learning. A so-called pipe is an ordered bidirectional stream of structured messages between two processes. Each message contains a list of payloads/tensors, which are represented as buffers: by a pointer and a length, residing on CPU o

[2020-03-23 21:59] lw commented on #35251
CC @mrshenli @pritamdamania87 @serhaty @satgera @jjlilley

[2020-03-23 22:05] ptrblck commented on #17774
@debvrat could you post a code snippet to reproduce this issue, please?

[2020-03-23 22:18] zasdfgbnm commented on #35225
I can not reproduce this on
[code]

[2020-03-23 22:49] zasdfgbnm commented on #35225
With `torch.cuda.synchronize()`, I can reproduce now

[2020-03-23 23:20] KiddoZhu opened #35257 "Undesired type cast in arithmetic between tensor and ndarray"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

[code]

## Environment

 - PyTorch Version: 1.4.0

## Additional context

This happens for any numpy type (int32, uint32, int64, uint64) and any arithmetic (+, -, *).

cc @ezyang @gchanan @zou3519

[2020-03-24 00:02] baqwas commented on #35234
Hello!
After reading other notes in this forum, I ran the following commands and repeated the build command:

[code]

The error message now is different, as follows:
[code]
Please advise (perhaps some flag or setting is incorrect at my end). Much appreciated.

Kind regards.

[2020-03-24 00:20] seemethere commented on #35210
This is most likely because the default version set in the `CmakeList.txt` is `1.1.0`, see https://github.com/pytorch/pytorch/blob/7ab25b2e6bc0ae4883248cef270c137313163965/CMakeLists.txt#L366

However the `setup.py` defaults to whatever is in the base `version.txt`, or gets overridden by the environment variable `PYTORCH_BUILD_VERSION`. What this means is that default `cmake` variable never actual

[2020-03-24 00:22] seemethere commented on #35149
We probably won't update the tag and push a new tag with the updated `version.txt`. We're about to release 1.5.0, if you want to get the correct version while building I'd suggest setting the following environment variables:

- `PYTORCH_BUILD_VERSION=1.4.1`
- `PYTORCH_BUILD_NUMBER=1`

Going to go ahead an close this since we do have a valid tag to build off of.

Feel free to re-open if there are a

[2020-03-24 00:22] #35149 closed

[2020-03-24 00:36] anjali411 commented on #35225
alternately you can also use CUDA_LAUNCH_BLOCKING=1,
for eg. for #35255: CUDA_LAUNCH_BLOCKING=1 python test.cpp

[2020-03-24 00:46] XiaobingSuper commented on #34675
For Cov2d, we can enable MKLDNN dilation case to get a better performance than native path by change the flag in https://github.com/pytorch/pytorch/blob/c321f02756fc31250ffd57f1ad5e515240dca122/aten/src/ATen/native/Convolution.cpp#L217-L223. For max_pool2d dilation case, the work is in progress and will support it at next step.

[2020-03-24 01:16] shamoons commented on #805
If ReLU6 made it into the core, I should think that max out would as well.

[2020-03-24 01:18] rohan-varma opened #35266 "Using profiler to profile distributed autograd code can lead to misleading results"
## 🐛 Bug

Using the autograd profiler with dist autograd may lead to potentially misleading results, by profiling events that occur in separate threads and are not part of the functions that are executed directly by the code enclosed in the python scope. These functions occur in separate threads and are in response to requests from other workers.

## To Reproduce

Run the following test:
[code]

W

[2020-03-24 01:43] cpuhrsch commented on #34294
@wazizian - as an obligatory pluck for [nestedtensor](https://github.com/pytorch/nestedtensor). [MaskedTensor](https://github.com/wazizian/graph_neural_net/blob/mixed_batches/toolbox/maskedtensor.py#L50) seems quite similar in goal as what NestedTensor is trying to achieve. If I'm not mistaken you're taking the approach of [matchbox](https://github.com/salesforce/matchbox).

[2020-03-24 02:14] CaoZhongZ commented on #34939
That's exactly the programming model of MKLDNN, I'm up to that. Then my interest shift to, can I get a fallback when an operation does not support Opaque Tensor? Exploiting the new dispatching mechanism?

[2020-03-24 03:05] bigcmos commented on #35149
ok.  That's a bummer.  I was already setting the `PYTORCH_BUILD_VERSION` manually, but was using that file to validate the version number.

I guess I can't trust that file so, I'll work around it.

[2020-03-24 03:18] shersoni610 opened #35270 "Cuda Problem"
Hello,

I had Cuda10.2 installed on my machine but after reading Pytorch I installed
10.1 and changed /usr/local/cuda ->/usr/local/cuda-10.1 instead of cuda-10.2.
I am keeping 10.2 also for other applications.

here is what I see:
drwxr-xr-x 13 root root 4096 Mar 23 17:12 .
drwxr-xr-x 14 root root 4096 Aug 25  2019 ..
drwxr-xr-x  2 root root 4096 Oct 30 20:48 bin
lrwxrwxrwx  1 root root    9 Mar 2

[2020-03-24 03:24] #18853 closed

[2020-03-24 03:27] shersoni610 opened #35271 "Torch Version"
Hello,

I used pip to install pytorch ( stable 1.4 version). I followed the command on the web i.e.

pip install torch torchvision

However on executing, I see the versin 1.3.1
Python 3.7.3 | packaged by conda-forge | (default, Jul  1 2019, 21:52:21)
[GCC 7.3.0] :: Anaconda, Inc. on linux
Type "help", "copyright", "credits" or "license" for more information.

'1.3.1'

Why it is so?

Thanks

cc @ez

[2020-03-24 03:52] peterjc123 commented on #35009
https://github.com/pytorch/pytorch/pull/35275

^ Load torch_global_deps for Windows

[2020-03-24 03:56] ouguozhen commented on #34121
Hi, i meet the same error, have you found the PATH?

[2020-03-24 04:02] mostafarohani opened #35276 "Large Inference Time Discrepancy when using group convs for batching"
## 🐛 Bug

Rather than using F.conv2d to convolve a (B, C, H, W) with a (C, C, K, K) kernel, imagine we reshape the input to (1, B*C, H, W) and tile the kernel to (B * C, C, K, K). We then can call F.conv2d with groups=B, and then reshape the output to be once again (B, C, H, W). These two different ways of implementing the batch convolution are the same in that they yield the same output and are d

[2020-03-24 04:24] tuxzz opened #35277 "`torch.jit` failed to compilation with `torch.stft`"
## 🐛 Bug

## To Reproduce

[code]
[code]

Notice that if I remove the `center` parameter, the behaivour of jit compiled `torch.stft` is different to `torch.stft`. The jit compiled `torch.stft` has no `center` parameter(or always `center=False`). The python version of `torch.stft` has default parameter `center=True`.

## Environment
PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTor

[2020-03-24 04:50] tuxzz commented on #35277
I want to fix this problem by add an argument `center`  to [aten/src/ATen/native/SpectralOps.cpp](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/SpectralOps.cpp).
Is it safe to modify this function signature?

[2020-03-24 06:25] ousou commented on #33238
Another related issue is #33552, and it's possible that this problem has already been fixed by PR #33907.

[2020-03-24 06:28] paleomoon commented on #2341
same error, num_workers=0 worked, but I want multiprocessing to speed up dataloading.

[2020-03-24 06:48] xush6528 commented on #34260
The failure is deterministic now. The error happens when serializing a Python object return value for Python RPC call.
There is no error handling in Python serializer, so the exception is caught by RPC code.

RPC error handling prepare the response Message using the exception string as message payload and MessageType::EXCEPTION as message type.

See https://github.com/pytorch/pytorch/blob/43fc97db

[2020-03-24 06:48] ptrblck commented on #35276
Thanks for reporting the issue.
I can reproduce the slowdown with the default setup.
However, if you use `torch.backends.cudnn.benchmark = True` and add some warmup iterations to the script, I can see a speedup of:
[code]
on a V100 with PyTorch build from source using CUDA10.2.89 with cudnn7.6.5.32.

[2020-03-24 06:49] ptrblck commented on #35271
Could you post the install log here and make sure to only use a single PyTorch installation in your current environment?

[2020-03-24 06:55] ptrblck commented on #35270
The conda binaries ship with their own CUDA lib, so your local CUDA installation won't be used.
There is no need to change the sym link to cuda-10.2.

It seems that your conda takes a long time to try to resolve conflicts in your current conda environment due to other installed libraries, e.g. Theano.

Usually the binary installation takes a couple of minutes, so the conflict resolution is most li

[2020-03-24 07:19] xush6528 commented on #34260
It turned out it's a GIL deadlock. The exception is actually a `py::error_already_set.` object, which holds 3 `py::object`s. Need to hold GIL and release the object first, before calling it's destructor.

[2020-03-24 07:30] zasdfgbnm opened #35284 "Create a c10::complex"
**For the list of PRs, see https://github.com/pytorch/pytorch/issues/35284#issuecomment-605350370**

It is very unfortunate that, `std::complex` does not work on CUDA, so on CUDA, all complex operators are implemented as converting `std::complex` to `thrust::complex` and then work on that. But this approach has its issue too:

First, `thrust::complex` itself has some problem, for example, on CUDA9

[2020-03-24 07:32] emcastillo commented on #35014
I started to work on a type promotion approach in #35030

[2020-03-24 07:32] zasdfgbnm commented on #35284
cc: @ngimel

[2020-03-24 07:33] wazizian commented on #34294
Indeed, but we preferred to keep using batched operations (unlike NestedTensor, if I'm not mistaken). However I didn't know about matchedtensor and I'll definitely take a look at it! Thank you for the suggestion :-)

[2020-03-24 07:48] neginraoof commented on #19643
@PhotonQuantum  This problem was fixed recently in avg_pool. Could you try the latest build?

[2020-03-24 07:49] neginraoof commented on #34743
@malemo  Please confirm if this workaround solves the problem for you.
We can track the other error separately.

[2020-03-24 08:44] XHPlus opened #35285 "Wrong scopeName of exported onnx graph when there is slice operation"
## 🐛 Bug

## To Reproduce
[code]

Log:

[code]

## Expected behavior

The scopeName of conv node  should be Net_slice/Conv2d[conv] instead of Net_slice in the `model with slice` case.

## Environment

 - PyTorch Version: 1.3.1
 - OS (Linux): linux
 - How you installed PyTorch (`conda`, `pip`, source): `pip`
 - Python version: 3.6
 - CUDA/cuDNN version: cuda9, cudnn7
 - GPU models and configuration

[2020-03-24 08:54] briliantnugraha opened #35287 "Interpolate Bug on Opset 11"
Hi guys, sorry to disturb you guys.

I just want to mention that when I saved the model with torch.onnx.export or torch.onnx._export with opset_version=11, then I will "always" get incorrect model whenever the model contains pytorch tensor with "torch.FloatTensor" type.

You could use this as reference to reproduce: https://discuss.pytorch.org/t/onnx-export-no-bilinear-interpolation-support/42527

[2020-03-24 10:47] kamo-naoyuki opened #35289 "torch.load(map_location="cuda") always indicates device0"
## ❓ Questions or feature request

- Repro

[code]

[code]
(pytorch=1.4.0)

Is this expected? By intuition, map_location="cuda" should indicates the current device because tensor.to("cuda") implies the current device, but actually it always points to device=0.

If it's expected, in my understanding, the only way to specify the current device is "map_location=torch.device(torch.cuda.current_device(

[2020-03-24 11:45] CaichaoGitHub opened #35290 "Why C++ version libtorch so slow"
my code is sample

` torch::jit::getProfilingMode() = false;`
  ` torch::jit::setGraphExecutorOptimize(false);`
   ` torch::Tensor tensor = torch::zeros({1,3, 1280, 1280},at::kFloat);`
   ` torch::jit::script::Module model = torch::jit::load("./psenet.pt");`
    `model.eval();`
    `std::vector<torch::jit::IValue> inputs;`
    `inputs.push_back(tensor);`
    `long long t1 = getSystemTime();`
    `

[2020-03-24 12:03] daydayfun commented on #31591
I have the same problem

[2020-03-24 12:21] deepindeed opened #35291 "export ScriptModule models to ONNX format failed"
## 🐛 Bug

Unable to export ScriptModule models using torch.onnx.export interface to onnx model

## To Reproduce

Runing the following example script:
[code]

then, the following error occurs:

[code]
## Expected behavior

export ScriptModule models to onnx model successfully.

## Environment

PyTorch version: 1.4.0+cpu
Is debug build: No
CUDA used to build PyTorch: None

OS: Ubuntu 18.04.4 LTS
GCC

[2020-03-24 12:38] sjf18 opened #35292 "copy cuda tensor to cpu numpy is slow"
## ❓ Questions and Help
Hi, when i convert cuda tensor to cpu numpy using `tensor.cpu().data.numpy()`, it is so slow.
it takes more than 100ms, but my network inference time is only 5ms,  are there any ways to accelerate the operation?
### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pyto

[2020-03-24 12:41] Oktai15 opened #35293 "ONNX export failed with Conv1d with compiled TorchScript model"
## 🐛 Bug

ONNX export failed with Conv1d with compiled TorchScript model

## To Reproduce

I have toy model:

[code]

I try to convert it to ONNX using TorchScript (because my real model (not toy) have if-cond, for-loop and conv1d as well):

[code]

I got following error:
[code]

## Environment

PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Debian GNU/Linux
CMake

[2020-03-24 13:26] rdv0011 opened #35294 "ONNX export support for sparse tensors"
## 🐛 Bug

ONNX converter fails because of RuntimeError

## To Reproduce

Steps to reproduce the behavior:

1. Run convert2ONNX.py

[code]

## Expected behavior

1. No runtime issues and converted model in ONNX format

## Environment

[code]

 ## Additional context

The reason might be that the constructor ```GraphEncoder::EncodeTensor()``` tries to call not implemented function ```SparseTensorImpl

[2020-03-24 13:29] qiuqiangkong opened #35295 "torch.onnx flip tensor required"
torch.onnx flip tensor required. I want to do x[::-1] but it says "ValueError: negative step not yet supported". I am wondering why such a simple operation is not supported.

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2020-03-24 13:53] morawi commented on #2341
Seems that the only way for this to work is using Linux, I am using Windows-10 for prototyping and then pushing everything to the cluster which is based on Linux.

`if platform.system()=='Windows':
    n_cpu= 0`

[2020-03-24 14:27] JesperLindberg commented on #35205
@pbelevich Apparently there are multiple different torch::randint? I get 4 to choose from now when I look into this matter further.

[2020-03-24 14:59] ezyang commented on #34939
You mean for pointwise operations? In general none of our kernels are going to know how to deal with non-standard memory layout, so I don't know how you're going to fall back to strided. Do you mean convert to strided, and then run the strided version? There's no easy way to do it, since we tend not to like doing these implicit conversions (it's a hidden performance cliff); for each implicit conve

[2020-03-24 15:28] #34551 closed

[2020-03-24 15:35] philip-bl opened #35299 "`torch.einsum` allocates vastly different amount of memory depending on arguments order"
## 🐛 Bug

When doing einsum with the equation `'abcdefghijklmnopt,qrsp,qrso,qrsn,qrsm,qrsl,qrsk,qrsj,qrsi,qrsh,qrsg,qrsf,qrse,qrsd,qrsc,qrsb,qrsa->qrst'`, if I move the `abcdefghijklmnopt` argument to the front, pytorch allocates a significantly different amount of memory.

## To Reproduce

Steps to reproduce the behavior:

1. Run the following script
[code]
2. Run the following script, which diff

[2020-03-24 15:41] zou3519 commented on #27588
@fraserprice the workaround is setting `torch.backends.cudnn.enabled = False`. From the thread above it looks like we're having trouble reproducing a bug. If you could send some information about what cudnn / cuda version you have installed, which version of pytorch you're using, and a minimal repro we can help look at the problem

[2020-03-24 15:42] dinkdeep commented on #35215
Hi @albanD, Looks like to me that the backgraph nodes are generated probably by overloading the Forward graph nodes using automatic differentiation during JIT, It would be great if you can point me to the file and functions in torch I would like to take a look once.

Hi @ezyang I have seen the trace called from python code on forward graph but not sure for backward graph, BTW would it possible to

[2020-03-24 15:44] #35195 closed

[2020-03-24 15:52] malfet opened #35300 "Unit test failures are not reported as failure by Windows CI"
For example    [pytorch_windows_vs2019_py36_cuda10.1_test2](https://app.circleci.com/pipelines/github/pytorch/pytorch/144817/workflows/c0ac3f91-edb1-4294-9cf4-aad70b6a89d0/jobs/4916119) reported to have finished successfully, but if one to grep the log, he can observe that number of tests have failed:
[code]

cc @ezyang @gchanan @zou3519 @seemethere @peterjc123

[2020-03-24 15:53] CaoZhongZ commented on #34939
I'm stuck in the status quo. Two path in convolution use DNNL in two different way as I mentioned early, if I change DNNL ops to accept CPU tensor and output opaque tensor then I break one. The only way to contain both usage simultaneously is to do a automatically fall back, which is not good practice.

The status quo can't be accepted when dnnl ops are archipelago in models then there would be ma

[2020-03-24 16:19] eellison commented on #35277
Is this on master ? I think I fixed this. https://github.com/pytorch/pytorch/pull/33504 Feel free to reopen if you try it on master and it doesn't work.

[2020-03-24 16:19] #35277 closed

[2020-03-24 16:19] roderickObrist commented on #25302
Hey guys if I can help,
I also had this problem similar to this, but it would happen every 100 or so epochs.

I noticed it only happened with CUDA enabled, also dmesg has this log entry whenever it would crash.

[code]

It's gibberish to me, but it told me that CUDA and python multithreading were not playing nice.

My fix was to disable cuda in the datathreads, here is a snippet of my python entry

[2020-03-24 16:22] roderickObrist commented on #1355
Hey guys if I can help,
I also had this problem similar to this, but it would happen every 100 or so epochs.

I noticed it only happened with CUDA enabled, also dmesg has this log entry whenever it would crash.

[code]

It's gibberish to me, but it told me that CUDA and python multithreading were not playing nice.

My fix was to disable cuda in the datathreads, here is a snippet of my python entry

[2020-03-24 16:55] albanD commented on #35299
Hi,

I think this is expected behavior.
You can use projects like [optimized einsum](https://optimized-einsum.readthedocs.io/en/stable/) if you want to find good re-ordering.

[2020-03-24 16:58] albanD commented on #35292
Hi,

We use github issues only for bugs or feature requests.
Please use the forum to ask questions: https://discuss.pytorch.org/ as mentionned in the template you used.

Note that in your case, you are most likely missing `torch.cuda.syncrhonize()` when timing your GPU code which makes the copy look much slower than it is because it has to wait for the rest of the work to be done.

[2020-03-24 16:58] #35292 closed

[2020-03-24 16:59] wDaniec commented on #33567
Sorry for such a long delay. I've been trying to workout how to solve it in a reasonable way but got stuck at the moment. Was hoping to just overload the __abs__ method in Tensor class, but the tensor.abs() function seems to be Cpp implemented and linked in the torch/__init__.py. I am confused as to where to find the function itself.

[2020-03-24 17:06] anjali411 commented on #33567
you can find the abs functions here: https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/cpu/vec256/vec256_complex_float.h and here: https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/cpu/vec256/vec256_complex_double.h however this change is not a straightforward as the vec256_base class is constrained to return the vec256<T> for all methods in vec256 class

[2020-03-24 17:12] albanD commented on #35270
Hi,

We use github issues only for bugs or feature requests.
Please use the forum to ask questions: https://discuss.pytorch.org/

Feel free to re-open if you think this is a bug but closing given that it seems to be an installation issue.

[2020-03-24 17:12] #35270 closed

[2020-03-24 17:16] albanD commented on #35271
Also make sure that your conda is up to date as it might prevent you from getting the latest version of pytorch.

[2020-03-24 17:19] PhotonQuantum commented on #19643
@neginraoof Yes, the problem is solved.

[2020-03-24 17:21] albanD commented on #35276
Optimistically closing this as "cudnn default algorithm is not as good but using benchmark for it to discover a better algorithm fixes the issue".

Feel free to re-open if you think there is something actionable on pytorch side.

[2020-03-24 17:21] #35276 closed

[2020-03-24 17:45] pbelevich commented on #35205
@JesperLindberg There are 4 overloaded methods `torch::randint()`, 2 overloader methods `torch::randint_out()` and 2 `torch::randint_like()`,  what is your question?

[2020-03-24 17:46] #35204 closed

[2020-03-24 18:09] hovhannesgithub opened #35306 "Lib size almost does not change when doing custom build on iOS compared to Android"
## 🐛 Bug

On master branch when doing custom build for Android I get 40% decrease in Lib size (for libpytorch_jni.so) but when doing custom build for iOS with the same .yaml file I get about 2.7% decrease (for libtorch_cpu.a).

## To Reproduce

Steps to reproduce the behavior:

1. BUILD_PYTORCH_MOBILE=1 IOS_ARCH=arm64 ./scripts/build_ios.sh
2. SELECTED_OP_LIST=ops.yaml BUILD_PYTORCH_MOBILE=1 IOS_A

[2020-03-24 18:10] rjknight commented on #35012
you might try adding
[code]
to the top of your build.sh script, Anaconda pre-seeds CFLAGS and CXXFLAGS with some preferred settings one of which is -std=c++17.  The line above will remove that flag and allow cmake to add the std based on the project settings.

[2020-03-24 18:22] seemethere commented on #35009
https://github.com/pytorch/pytorch/pull/35310

^ Switching default CUDA to 10.2 for wheels

[2020-03-24 18:37] xush6528 commented on #34997
Motivation

* It is causing RPC C++ entries to return different types, RPC TorchScript returns ivalue::Future. This is blocking Dist autograd Profiler(Rohan) and adding Future Python Type Annotation(Wanchao, Shihao).
* Autograd, DistAutograd, RPC is using utils::Future<T>, while JIT/TorchScript is using ivalue::Future. On integration point of RPC and JIT modules, this always creates divergent code

[2020-03-24 18:39] #34260 closed

[2020-03-24 18:40] anjali411 opened #35312 "Method/constructor which takes as input a tensor containing angles and magnitude and returns a complex tensor"

[2020-03-24 19:31] albanD commented on #35215
It doesn't have to as it just runs the regular pytorch cpp ops. And these ops support autograd. So the backward graph is built automatically independently of the jit.

[2020-03-24 19:43] SsnL commented on #35289
fwiw i can not reproduce on `1.5.0a0+0f0a5b1`

[2020-03-24 19:45] SsnL commented on #35208
this looks like a mmdetection bug rather than a pytorch one

[2020-03-24 19:58] VitalyFedyunin commented on #35035
I'm going to close the issue, feel free to reopen if it provided solution doesn't work for you.

[2020-03-24 20:11] VitalyFedyunin commented on #32322
Thanks, I will have fix for it. Need to land it.

[2020-03-24 20:14] werkt opened #35316 "Bazel Support"
## 🚀 Feature
Support a Bazel build of pytorch, equal in capacity to the cmake build

## Motivation

pytorch integration with bazel projects is substantially easier with a bazel ruleset and target surface. Additional uses include from-source build capacity, with unique global configurations like sanitizers.

## Pitch

bazel building and testing with clear instructions for using pytorch as an extern

[2020-03-24 20:23] ezyang commented on #35284
Don't worry about BC. We can introduce our own complex type. However, I think it would be clearer for the discussion if you could write a sketch of what the class would look like (including implicit conversions, etc) and how you are planning to deal with `thrust::complex` operations. Are you going to basically do "thrust::complex but with a default constructor"?

[2020-03-24 20:25] ailzhang commented on #35009
https://github.com/pytorch/pytorch/pull/35315

Pin XLA CI to use r1.5 release branch.

[2020-03-24 20:48] great-way commented on #34574
It seems we do have such functionality in the latest pytorch version. You can use torch.config.show() to print out the versions of libraries used by pytorch including whether you are using AVX, AVX2, or not.

Code pointer: https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/Version.cpp#L168
Related pull request: https://github.com/pytorch/pytorch/pull/18579

[2020-03-24 20:51] SplitInfinity opened #35319 "[GitHub] Add pull request template"
## Issue description
PyTorch makes use of issue templates, but does not use a pull request template. It might be a good idea to add one in order to help make sure all PRs have good, descriptive messages that make sense to contributors and users who need to dig through the commit history but may be unfamiliar with some parts of the code. It might be a good idea to combine this with the suggestions

[2020-03-24 20:52] SplitInfinity commented on #35319
cc: @suo @jamesr66a @eellison @tugrulince @zdevito @driazati

Would appreciate feedback on this. It's super simple but maybe there's reason it hasn't been done already...

[2020-03-24 21:01] dylanbespalko commented on #35284
I think this a really good idea. I think the current solution to cast to `thrust::complex` or `rocm::complex` is a problem especially when you try to go beyond simple point-wise operators.

I have encountered code on the CPU and FPGA that tries to support BOTH "riri" (float[2]) and "rrii" memory patterns. This code pre-dates wide memory lanes which are now common on the CPU, GPU, and FPGA (virtual

[2020-03-24 21:03] eellison commented on #35319
Not sure how this would work with ghstack, which at this point is a good portion of PRs.

[2020-03-24 21:07] SplitInfinity commented on #35319
I was wondering that myself. #35115 is one my `ghstack` PRs and my original commit message seems to have been appended below the list of all the PRs in the stack. I think that's fine, assuming it also gets committed by the ShipIt bot that way.

[2020-03-24 21:14] mruberry commented on #35009
#35321, required for porting #34794, the latter of which will let users workaround torch.div using either torch.floor_divide or torch.true_divide as appropriate.

[2020-03-24 21:17] zasdfgbnm commented on #35284
@ezyang Sure, I will prepare a sketch

[2020-03-24 21:19] mossadhelali commented on #4546
I had a similar situation to @shividhar, I couldn't update the driver because I didn't have root access.
The cuda version installed was 10.0. When I installed flair, it updated pytorch because it requires version 1.1+. The problem was the automatic update installed cuda version 10.1.
So I ran: `pip install torch==1.4.0+cu100 torchvision==0.5.0+cu100 -f https://download.pytorch.org/whl/torch_stable

[2020-03-24 21:25] abidmalikwaterloo opened #35322 "OpenMP in Pytorch"
## ❓ Questions and Help
Does Pytorch use OpenMP to exploit multi-core resources?
### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2020-03-24 21:37] #26578 closed

[2020-03-24 21:48] malemo commented on #34743
I changed the code to what you suggested, and I no longer have 'onnx::Gather' error.
However, I now have these errors: (Sorry for long text)
I have no idea what the error is.

1.4.0
/content/drive/My Drive/Collab/fp/model.py:116: TracerWarning: Converting a tensor to a Python integer might cause the trace to be incorrect. We can't record the data flow of Python values, so this value will be treate

[2020-03-24 21:55] TomDLT commented on #35151
This seems to be an oversight of joblib indeed.
Making a copy in `torch.as_tensor` when data is misaligned would improve robustness, though it is somehow an edge case.

Thanks for the explanation !

[2020-03-24 22:14] SsnL opened #35328 "[magma] CUDA 10.2 build has magma but cannot use linalg"
I built from source with conda `magma-cuda102 -c pytorch` installed

[code]

[2020-03-24 22:24] spandantiwari commented on #35295
Can you add repro steps and all the installation information.

[2020-03-24 22:25] spandantiwari commented on #35096
Can you add proper repro steps?

[2020-03-24 22:26] spandantiwari commented on #35287
@briliantnugraha - can you add repro steps please?

[2020-03-24 22:30] SsnL commented on #35328
clean fixed it

[2020-03-24 22:30] #35328 closed

[2020-03-24 23:52] jacobkimmel commented on #11931
I'll add a bump to this -- I love the `Multinomial` API, but sampling is much slower than a comparable call to `numpy`.

Given a set of parameters `p` with `p.shape[0] == 20000`, `torch.distributions.Multinomial(10000, probs=p).sample()` takes 100 seconds longer than `np.random.multinomial(10000, pvals=p)` using the latest `torch==1.4`.

[2020-03-25 00:06] 6etacat commented on #1249
Willing to take on this. Do I need to implement this in C++? I'm not super familiar with Python(Cython) C++ interface. The official docs are super vague.

[2020-03-25 00:09] albanD commented on #35319
cc @soumith might be interested in this.

[2020-03-25 00:10] albanD commented on #35322
Hi,

We use github issues only for bugs or feature requests.
Please use the forum to ask questions: https://discuss.pytorch.org/

To answer your quetion, yes pytorch use OpenMP when it is available to speed up compute intensive CPU tasks.

[2020-03-25 00:10] #35322 closed

[2020-03-25 00:10] albanD commented on #35118
Hi,

Can you give a bit more context? Is this for DataParallel or DistributedDataParallel?

[2020-03-25 00:18] vadimkantorov commented on #31678
Fixed in https://github.com/pytorch/pytorch/pull/31826

[2020-03-25 00:18] #31678 closed

[2020-03-25 00:21] vadimkantorov commented on #28719
Fix incoming in https://github.com/pytorch/pytorch/pull/34711

[2020-03-25 00:21] #28719 closed

[2020-03-25 00:48] erip opened #35342 "`pytorch_jni` is not available in nightly for OS X."
## 🐛 Bug

`pytorch_jni` is not available in pytorch-nightly.

## To Reproduce

Steps to reproduce the behavior:

1. `conda install -c pytorch-nightly pytorch -y`
1. `ls ~/miniconda3/envs/$CONDA_DEFAULT_ENV/lib/python3.6/site-packages/torch/lib`
1. Observe no `pytorch_jni` lib

## Expected behavior

pytorch_jni should be distributed with OS X in 1.5.0 builds according to [this](https://github.com/p

[2020-03-25 01:07] kamo-naoyuki commented on #35289
I found that this bug was fixed by https://github.com/pytorch/pytorch/commit/2f5eefe525d2602222117de8ab990ec495763cc1

[2020-03-25 01:07] #35289 closed

[2020-03-25 01:08] #24671 closed

[2020-03-25 01:08] #24672 closed

[2020-03-25 02:01] briliantnugraha commented on #35287
Hi @spandantiwari, sure.

The exact problem comes from [this link](https://github.com/facebookresearch/maskrcnn-benchmark/blob/master/maskrcnn_benchmark/modeling/backbone/fpn.py#L64).

a. If I change it into this:
[code]

b. Make a new custom model (with only the backbone and FPN) like [this](https://github.com/briliantnugraha/custom_torchvision_model/blob/master/custom_resnext101.py#L40-#L55) on

[2020-03-25 02:46] deepBuffett commented on #30512
I got the same error also when calling torch.onnx.export api with parameter opset_version=11 is set

[2020-03-25 04:03] peterjc123 opened #35358 "[Discussion] Implement sth like torch_global_deps on Windows"
## What is wrong there?
In https://discuss.pytorch.org/t/torch-cat-runtimeerror-error-in-loadlibrarya/71188/5, we can see that it is caused by the fact that `caffe2_nvrtc.dll` is not loaded during initialization. Currently, it will only happen when one trys to use CUDA in the official distribution of Python 3.8. It doesn't apply the changes to `PATH` for DLL search purposes, which makes  `caffe2_n

[2020-03-25 04:19] AbdelsalamHaa commented on #30655
Hi Guys, after so long of trying I manged to do it. I have converted the Tensor to a float than I converted this code to java and it worked.
the code is below
Note: this is to convert to RGB Bitmap

Here is the output tensor:

    final Tensor outputTensor = module.forward(IValue.from(inputTensor)).toTensor();
    float[] array1 = outputTensor.getDataAsFloatArray() ;

    for (int i = 0 ; i< array

[2020-03-25 04:32] peterjc123 commented on #35358
I'll implement solution 4 because it seems the best one among all.

[2020-03-25 05:01] YingleiZhang opened #35363 "NCCL version upgrade for PyTorch"
## 🐛 Bug

Build PyTorch from source code would fail on some old Linux release.
This issue has been described here: https://github.com/NVIDIA/nccl/issues/244, and Nvidia folks had it fixed (https://github.com/NVIDIA/nccl/commit/7f2b337e703d73ed369937c9996e1f3d5f664ad0). However, that change has not been included in the PyTorch source code, so if people need to build PyTorch from source code on some

[2020-03-25 05:03] YingleiZhang commented on #29093
I think NCCL had it fix a few month ago, and if you upgrade the NCCL version for PyTorch source code, it would fix the issue.
I cut a ticket for similar issue: https://github.com/pytorch/pytorch/issues/35363

[2020-03-25 05:48] xush6528 opened #35367 "Thorw an actionable error message on user call rref<ScriptModule>.to_here() in torchscript"
For now, we don't support sending Modules across RPC. jit::pickle does not pickle python/script hybrid Module.

However, we noticed that we can still call script_module_rref.to_here() in TorchScript on user nodes, the failure is on the requesting user node and when unpicking rpc::Message to IValue.

The error message now is like,
[code]

I wonder what happens to the owner node when responding to t

[2020-03-25 06:21] peterjc123 commented on #35009
#35368

^ Load all DLLs in the lib directory for Windows

[2020-03-25 06:22] aluo-x commented on #34431
I suspect that it is something in my CFLAGS or CXXFLAGS, does anything in

`-g -O3 -feliminate-unused-debug-types -pipe -Wall -Wp,-D_FORTIFY_SOURCE=2 -fexceptions -fstack-protector --param=ssp-buffer-size=32 -Wformat -Wformat-security -Wl,–copy-dt-needed-entries -m64 -fasynchronous-unwind-tables -Wp,-D_REENTRANT -ftree-loop-distribute-patterns -Wl,-z -Wl,now -Wl,-z -Wl,relro -fno-semantic-interpos

[2020-03-25 07:30] ak-source commented on #25393
unfortunately, this introduces another thrust problem (e.g. CompareNEKernel.cu):
`D:/programs64/cuda101/include\thrust/detail/complex/catrig.h(607): error: no instance of function template "thrust::atanh" matches the argument list
            argument types are: (double)
`
with problematic include chain ATen/native/cuda/zmath.cuh -> thrust/complex.h -> thrust/detail/complex/catrig.h (has __cpluspl

[2020-03-25 07:32] krshrimali commented on #35123
Update: Sorry, it took time. I was able to reproduce this issue with:

`VS 2019, C++ 14 ISO Version, Libtorch (PyTorch 1.4 Stable) Debug Version`

The build is successful but the following exception is thrown:

[code]

Exception thrown at:

[code]

Here is the **Call Stack**:

[code]

@peterjc123 - I understand you must be very busy, but could you look at this? MNIST Example works fine on the same

[2020-03-25 07:33] peterjc123 commented on #25393
@ak-source Thanks for the investigation. BTW, could you please share with us how did you patch c99math.h?

[2020-03-25 08:08] helloxy96 commented on #27837
I'm facing the same issue when running on Win10 + Pytorch 1.4 with LSTM + classification. My GPU could run smoothly with other models like CNN.
The same piece of code could be executed on server with Ubuntu system. So guess some issue with Win10 compatibility

[2020-03-25 08:44] #35211 closed

[2020-03-25 08:52] JohnLLLL opened #35372 "How to support single-process-multiple-devices in DistributedDataParallel other than CUDA device"
Hi,

I am investigating to extend the DistributedDataParallel to other accelerator devices than CUDA devices.
Not only to support single-process-single-device but also to support the single-process-multiple-devices and multple-processes-multiple-devices.

There are a lot of CUDA dependency in the DistributedDataParallel.

My question is:
1. How to override CUDA logical dependency and dispatch the

[2020-03-25 09:17] peterjc123 commented on #35123
Yeah, I'm able to reproduce this issue. And I manage to resolve it by replacing all the occurrences of `long` into `int64_t`.

[2020-03-25 09:19] krshrimali commented on #35123
Thank you for suggesting the resolve. I'm curious to know why using `int64_t` worked and `long` didn't?

[2020-03-25 09:26] peterjc123 commented on #35123
`label` is declared as `kLong` in https://github.com/pytorch/examples/blob/master/cpp/custom-dataset/custom-dataset.cpp#L58 but it is used as `long` in https://github.com/pytorch/examples/blob/master/cpp/custom-dataset/custom-dataset.cpp#L73 and https://github.com/pytorch/examples/blob/master/cpp/custom-dataset/custom-dataset.cpp#L23. `kLong` refers to `kInt64`, which is a 8-bit data type, but `lo

[2020-03-25 09:30] krshrimali commented on #35123
Thank you for the explanation.

@alex-zador: You can close this issue after testing the solution suggested by @peterjc123 above (it works fine on my machine). Though, the custom-dataset example might need some refactoring, so don't wait for the PR (it may take some time). :)

[2020-03-25 09:41] naykun opened #35373 "RuntimeError: CUDA error: no kernel image is available for execution on the device"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

Hi, I encountered an error when running my project using Pytorch 1.4 CUDA 10.1 on a

[2020-03-25 09:45] naykun commented on #35373
And additional, this image and script work perfectly when I using a Tesla P100 GPU. But when I change to a Tesla V100 GPU, the above problem emerged.

[2020-03-25 09:46] peterjc123 commented on #27837
Could you please test whether it is still a problem in the nightly package or the 1.5.0 package?

[2020-03-25 10:12] peter850706 commented on #20424
Agree with @FedericoMuciaccia. Is there any updates for this?

[2020-03-25 10:31] ak-source commented on #25393
Disregard that, still got same unreproducible C2993 error with /Zc:__cplusplus. Earlier, I had "build" directory reproducibly failing (at THCTensorSortShort.cu), and hardcoding c++17 in thrust\detail\config\cpp_dialect.h fixed that. But looks like it is just a symptom of some inconsistence in environment/flags (across nvcc stages maybe?)

just added "using ::atanh"

[2020-03-25 10:59] peterjc123 commented on #25393
Yeah, maybe. I am considering to add a wrapper to retry the build a few times.

[2020-03-25 12:02] dinkdeep commented on #35215
Hi @albanD, @ezyang, ,
Hi Alban, So as I understand the autograd/backward ops are basically the "grad" Variable of the  associated tensor of the user specified Ops and are generated dynamically as per the philosophy of torch which is a dynamic graph execution.

Probably the  JIT IR provides the static model, where the entire graph can be serialised and exported to a file and can be loaded from a c

[2020-03-25 12:15] zjjott commented on #34613
important part: add `model.eval()` before quantization.

[2020-03-25 12:21] Lezcano commented on #10454
Has there been any progress in this direction? I think it would be a great addition to Pytorch.

[2020-03-25 12:39] helloxy96 commented on #27837
@peterjc123 the issue is resolved after I upgrade to nightly version. Thanks for the help :)

[2020-03-25 13:03] LutaoChu opened #35376 "where to find the source code for `torch.xx()`"
where to find the source code for `torch.xx()` ?  For example `torch.div()`

[2020-03-25 13:06] philip-bl commented on #35299
If this is the expected behaviour, then I think it should be documented. Right now the documentation for `torch.einsum` doesn't say how it's computed.

[2020-03-25 14:16] baqwas commented on #35234
Also, cannot build using pip:
[code]

[2020-03-25 14:53] albanD opened #35378 "Deadlock on GCC 5.4 when running test_nn.py"
# Observation
- CI hangs on random tests see [here](https://app.circleci.com/pipelines/github/pytorch/pytorch/145444/workflows/8ad2ad13-5265-4fa2-b69b-d1880b1f5ace/jobs/4931621) [here](https://app.circleci.com/pipelines/github/pytorch/pytorch/145447/workflows/75958c59-409d-4b9c-82bd-7f5607d49beb/jobs/4933755) [here](https://app.circleci.com/pipelines/github/pytorch/pytorch/145423/workflows/b419318

[2020-03-25 15:02] ezyang commented on #35378
Thread 1 is waiting for a notify, thread 5 is attempting to notify. Very odd! Maybe some memory corruption going on here.

[2020-03-25 15:10] zou3519 opened #35379 "Accessing Tensor::grad() in the C++ API for a non-leaf tensor should warn"
## To Reproduce

In python, accessing the .grad attribute of a non-leaf tensor is a common pitfall users run into. For example:
[code]
Luckily, this raises a nice warning in Python:
[code]

In the C++ API, no warning happens: https://discuss.pytorch.org/t/very-confused-with-changes-in-autograd/74355 . It would be great for usability to add that warning.

cc @ezyang @SsnL @albanD @zou3519 @gqchen @

[2020-03-25 15:31] yumu-76 opened #35381 "runtime error when loding heavy dataset"
## 🐛 Bug

i used torch.save to save two very big tensors one being the training dataset and the other one being the test dataset (separated by torch.utils.data.random_split)

the original tensor was of size (4803, 354, 4000)

when i do that it’s very slow to save (wich is understandable), both files have the same size (wich is weird since the testing set is only 20% of the original while the train

[2020-03-25 15:37] ezyang commented on #35378
@albanD uploaded the core dump in a docker image at https://hub.docker.com/r/alband/ci_debug run `gdb /opt/conda/bin/python ci_debug.core_dump` to get the core dump

[2020-03-25 16:08] ngimel commented on #35381
Please provide a small self-contained runnable script that would reproduce an error.

[2020-03-25 16:10] ngimel commented on #35376
Please ask questions on discuss.pytorch.org. There's no single place where the source code for the different tensor methods can be found. For a nice tour of pytorch internals (slightly out of date) please see http://blog.ezyang.com/2019/05/pytorch-internals/

[2020-03-25 16:10] #35376 closed

[2020-03-25 16:14] ngimel commented on #35373
Normally this error means that code is not compiled for your GPU architecture, but our binaries are compiled with V100 support, so I'm not sure what's going on here.

[2020-03-25 16:16] ngimel commented on #35363
Thank you for reporting! We should update nccl submodule. cc @seemethere to route to the appropriate person.

[2020-03-25 16:19] ngimel commented on #35342
cc @dreiss

[2020-03-25 16:26] shersoni610 opened #35382 "Installing Pytorch from source"
Hello,

I am installing pytorch from source on a Linux machine. Which options are recommended
from the list for the optimal installation:

--     USE_TENSORRT        : OFF
--   USE_ROCM              : OFF
--   USE_EIGEN_FOR_BLAS    :
--   USE_FBGEMM            : ON
--   USE_FFMPEG            : OFF
--   USE_GFLAGS            : OFF
--   USE_GLOG              : OFF
--   USE_LEVELDB           : OFF
--