[2020-10-12 07:25] xwang233 commented on #46157
Thanks for the suggestion, and I think this is a good idea. I think in most cases CUDA libraries are dynamically linked, so the binary space won't be a problem usually?

About not linking to cusolver at compile time, sure, we can add an environment variable `USE_CUSOLVER=0` just like `USE_CUDA=0`. @ngimel please advise if we need such a cmake flag to disable it, and maybe similar variables for cub

[2020-10-12 08:27] Flamefire opened #46175 "DistributedDataParallel cannot handle multi-device runs with non-evenly divisible batch sizes"
## 🐛 Bug

When running the test suite after the build the DistributedDataParallelSingleProcessTest fails with `'initialize_buckets' must NOT be called during autograd execution`

Reproducer: `./run_test.py -i distributed/test_c10d_spawn DistributedDataParallelSingleProcessTest.test_rnn`

Edit: Reason is that the batch size is not evenly divisible by the number of devices/GPUs leading to the Reduce

[2020-10-12 08:49] konioyxgq commented on #45372
I understand a little bit. thank you very much

[2020-10-12 08:49] #45372 closed

[2020-10-12 09:00] tomerip opened #46176 "BucketSampler for easy variable-length input batching"
## 🚀 Feature
An additional [Sampler](https://pytorch.org/docs/stable/data.html#torch.utils.data.Sampler) that helps dealing with generating batches of the same (or close) length in order to avoid padding or packing.

## Motivation

In many different scenarios involving input (or output) that contains sequences, there's the need to deal with the fact that not all sequences in the dataset will be th

[2020-10-12 10:10] #31924 closed

[2020-10-12 10:13] ptrblck commented on #46158
cudnn8.0.3 and 8.0.4 doesn't ship with fully trained heuristics for the 30XX series, which will be added either in 8.0.5 or 8.1.
Performance regressions for cudnn workloads might thus be expected at the moment.

[2020-10-12 10:38] mruberry commented on #45592
Link to landed master PR (if applicable): https://github.com/pytorch/pytorch/pull/45802
Link to release branch PR: https://github.com/pytorch/pytorch/pull/46177
Criteria Category: fix for silent correctness issue (https://github.com/pytorch/pytorch/issues/45721)

[2020-10-12 11:12] LinYichenShelly opened #46178 "torch.cuda.amp! when I use torch.cuda.amp on DCN(DeformConv), the error "RuntimeError:expect scalar type Float but Half ""
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2020-10-12 11:41] Flamefire commented on #41261
Looks like this is caused by the header `altivec.h` which defines `bool` (and `vector`) to `__bool` leading to an error due to context sensitive keywors being disallowed in standard C++: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=58241

The solution is to undefine `bool` and `vector`. See also https://gitlab.mpcdf.mpg.de/bbramas/inastemp/blob/9e153cdaebb88d5dd1dece5766ce98b88a52d681/Src/ALTIVEC/

[2020-10-12 11:45] Flamefire commented on #41261
Fix added in #46179
Would be great to include this in 1.7

[2020-10-12 12:30] Flamefire commented on #46175
I'm also getting related errors in that test:

[code]

Setting `CUDA_VISIBLE_DEVICES=0` before running the test makes it pass. However the other tests in this file require multiple GPUs.

[2020-10-12 12:38] Coderx7 opened #46180 "Training a pruned model makes it 10 times slower at inference"
## 🐛 Bug

I pruned a resnet18 model and saved it as jit so it can be used in libtorch. The model is pruned and trained using Pytorch 1.5.1 and Python 3.7 under linux. Everything seems fine, the model learns and performs as expected.
However, what is not normal is the 10x times slow-down at inference.
Below are the stats I recorded for 10 iterations of the pruned model's forward time before and aft

[2020-10-12 13:39] UlrichFreitag commented on #31881
Yeah that feature would be very useful. The thing is, we can see an initial memory footprint increasing (by PyTorch) between each new GPU architecture... Would that not be possible to dynamically load the necessary kernels when needed?

[2020-10-12 13:40] UlrichFreitag commented on #46158
Do we have any rough idea when this will be available? :smile:

[2020-10-12 13:40] totomobile43 commented on #21819
Maybe helpful for someone. I had this problem and it was the result of multiplying a tensor on the gpu with a tensor on the cpu, and then trying to access the memory. Specifically if you create a new tensor in place (i.e. torch.eye(3), then make sure that tensor is on the gpu). Perhaps torch.matmul() should throw an error if the input tensors are not on the same device.

[2020-10-12 13:46] albanD commented on #46168
Note that this comment not only mentions hook but also all the views that can happen between different grads in the network.
And because we don't track all the other Tensors that are views of this one, we cannot know if other Tensors are looking at the same memory as this one. And so I don't think we can expect to know when it is safe to modify such Tensor inplace.

That being said it would be ver

[2020-10-12 14:34] agolynski commented on #46087
@FrankLeeeee: Could you make sure that
1) if you do broadcast in world group (0-15) it works fine and
2) if you broadcast in just one smaller group (say ranks 0-3) it also works fine?

If this needs to be reproduced: what version of NCCL do you use?

[2020-10-12 14:38] leopd commented on #24401
Smaller batch sizes impact model quality for some algorithms, such as when using negative sampling and contrastive losses where you use all-to-all comparisons between the records in the minibatch.  There is no straightforward replacement for larger minibatch sizes except to use multiple GPUs and a pretty complex effort to coordinate the workers.

If this is a predefined limit somewhere, it seems l

[2020-10-12 14:40] FrankLeeeee commented on #46087
Hi, thanks for your reply. Yes it works in the world group as well as single small group. However, when it does broadcast in multiple groups simultaneously, it will produce this error.

I use NCCL 2.6.4 and CUDA  10.1

[2020-10-12 14:41] henrique opened #46181 "NCCL group broadcast fails"
## 🐛 Bug

It looks like that distribution groups are not supported in nccl but the api doesn't warn the user.
When a group is specified on a broadcast, only a subset of the data is synchronised and group boundaries are not respected.
conda Torch 1.6 NCCL 2.4.8 CUDA 10.1

e.g.:
#### split 4 GPUs in 2 groups (odd/even)
    dist.init_process_group("nccl", init_method=init_method,

[2020-10-12 14:43] Flamefire commented on #46175
Ok, after some debugging I found that this is related to the number of GPUs available. With 2 GPUs it passes, with 3 or more it fails. The reason seems to be that at https://github.com/pytorch/pytorch/blob/a814231616f5db7fcdb8793f64c12d652d1e8572/torch/nn/parallel/distributed.py#L571-L572 a `Reducer` instance is created with 1 parameter (called `replica` in C++) per device. This becomes important

[2020-10-12 14:54] agolynski commented on #46084
@2015211289 I presume you are doing this tutorial https://pytorch.org/tutorials/beginner/blitz/tensor_tutorial.html

I've tried to repro on my machine (although I think it has more than 500M) and no luck
![Screen Shot 2020-10-12 at 10 51 57 AM](https://user-images.githubusercontent.com/5865598/95760476-13eff080-0c79-11eb-8590-f0d4552e6495.png)

What did you change in order of execution for it to w

[2020-10-12 15:17] Flamefire commented on #46175
And the final link: The `scatter` method splits the input along the given dimension into equal-sized chunks. The problem here: The batch size (split dimension) is `4`. Hence `4 / ceil(4/6) == 1` and `4 / ceil(4/3) == 2` which explains the number of replicas I see.

So the problem is that the `DistributedDataParallel` Module and/or the `Reducer` class can't handle the case that less than the maximu

[2020-10-12 15:20] antocuni commented on #45821
I'd like to add my 2 cents to this discussion. By looking at the source code, it seems to me that the current behavior or `torch.svd` was not designed, but simply a byproduct of a bug. In particular, look at `_create_U_S_VT`:

https://github.com/pytorch/pytorch/blob/a814231616f5db7fcdb8793f64c12d652d1e8572/aten/src/ATen/native/LinearAlgebraUtils.h#L221

As the name suggests, it should create a `VT

[2020-10-12 15:21] dvolgyes opened #46184 "redesign of Dropout"
## 🚀 Feature
Well, the current Dropout* implementations are confusing, and at the same time miss feature (rescaling).
Unlike Cond*d, BatchNorm*d, etc., Dropout has three variants: Dropout, Dropout2d, Dropout3d.
The Dropout can drop any tensor element with p probability. On the other hand, the Dropout2d/3d
drops complete feature subtensors.
The misleading part is that the feature channel is always

[2020-10-12 15:22] mruberry commented on #45821
Sounds great, @antocuni! I agree we should consider deprecating torch.svd once torch.linalg.svd lands. It will also be confusing to have a method torch.Tensor.svd when both functions are in because users may not know which svd it refers to.

[2020-10-12 15:25] dvolgyes commented on #46184
Before selecting new name,  also consider the discussion in   #41243.

[2020-10-12 15:37] antocuni commented on #45821
This is something which I didn't think about. What should `Tensor.svd` do if/when we remove `torch.svd`? Ideally it would do the same as `torch.linalg.svd`, but this will break compatibility.

FWIW, this is the commit which aims to fix the documentation:
https://github.com/pytorch/pytorch/pull/45562/commits/97662da54aba366dd547e46d557edc2b86ff86dc

[2020-10-12 15:41] glaringlee commented on #41261
@Flamefire Nice fix.
I will approve this, whether we can put this into 1.7 is not decided yet, I will follow this up and update here.

[2020-10-12 15:48] #45838 closed

[2020-10-12 16:00] mruberry opened #46187 "Better support for operators that return (named) tuples of tensors"
Some PyTorch operations, like max and svd, can return a (named)tuple of tensors. There are two issues with their behavior:

- they do not always return a tuple
- when they do return a tuple, they can return the extra tensors in strange ways

For example:

[code]

[code]

I propose we improve the consistency of PyTorch's UX by doing the following:

- Update these functions to consistently return a

[2020-10-12 16:02] mruberry commented on #45821
We should warn/deprecate for a release and then remove both functions for a release. Then we can consider adding torch.Tensor.svd back and mapping it to torch.linalg.svd.

[2020-10-12 16:22] vkuzo commented on #46096
hi @justinblaber , what system are you running this on?  We do have a fast path for quantized upsample for AVX2 (https://github.com/pytorch/pytorch/pull/26631).

[2020-10-12 16:25] ShangxuanWu commented on #18626
Support +1

[2020-10-12 16:40] glaringlee commented on #45896
@meganset
Yes, we will land this into pytorch code base. The author seems no longer working on it, will double check with the author and find someone else wrapping this up if necessary.

[2020-10-12 16:51] glaringlee commented on #46139
Please add your cmake version.
And your CMakeList.txt has no cmake_minimum_required, please added.

[2020-10-12 16:53] malfet commented on #46139
Those are warning that should not prevent generating a correct build rules and building the app

[2020-10-12 16:59] glaringlee commented on #46149
@MichalisLazarou
@jgericardo is correct

[2020-10-12 17:08] spandantiwari commented on #45816
@pfeatherstone - we will take a look.

[2020-10-12 17:12] agolynski commented on #46144
@anjali411

[2020-10-12 17:14] malfet commented on #46136
@duanyzhi What version of gcc are you using? Can you run https://github.com/pytorch/pytorch/blob/master/torch/utils/collect_env.py and post the results here?

[2020-10-12 17:22] malfet commented on #46136
Please try building with newer compiler (say gcc-7) to avoid those errors, which seems to be addressed in https://github.com/pytorch/pytorch/issues/26892

[2020-10-12 17:34] #42979 closed

[2020-10-12 17:37] albanD commented on #42327
Closing as duplicate of #36035
We can continue any discussion there.

[2020-10-12 17:37] #42327 closed

[2020-10-12 18:03] enterthevoid22 opened #46202 "pytorch not uploading data to tensorboard page"
hello,

after spending days on this issue i'm trying again starting from scratch with a new environment. i'm going to put all details since i'm not formally educated with computers so maybe i make some dumb mistakes that i'm not aware of.

1. created a conda environment myenv with python 3.8, pytorch 1.6 and tensorboard 2.3.0

2. open pycharm, create new project, create new python module, named te

[2020-10-12 18:05] ngimel commented on #45663
Fixed both in #45748

[2020-10-12 18:05] #45663 closed

[2020-10-12 18:06] mcarilli commented on #45910
Thanks for the repro!  I think this is user error, but easily fixed.  Autocast is intended to wrap each forward pass individually, not an entire epoch.

The following runs end to end on my card (also a 16GB Volta) without OOM:
[code]
Please reopen if this doesn't fix your issue.

[2020-10-12 18:24] glaringlee commented on #46152
@Sumanth9Nandamuri
Hi, I think the problem of your code is that you did not register your `weight` list. So when you convert your module to cuda module by calling `.cuda()` (or similar), the Tensor within `weight` is not converted.

You can use a parameterlist here and register parameterlist to your module, or just simply register each parmeter within `weight`

[2020-10-12 18:29] #46085 closed

[2020-10-12 18:30] nikitaved commented on #22620
When the input is full-rank, the gradient wrt LU could be implemented like this:
[code]
You can see that `lu_unpack` is used. However, `lu_unpack` comes from `torch`, not `ATen`.

Does it make any sense to wrap LU and LU_solve into a Function?

[2020-10-12 18:32] glaringlee commented on #46153
@vinayaka16041999 Can you check your aws env?
I just tried with `pip install torch==1.2.0+cpu torchvision==0.4.0+cpu -f https://download.pytorch.org/whl/torch_stable.html` on a aws machine with ubuntu 16.04 + cuda 9.x, it works fine for me.

[2020-10-12 18:34] yaroslavvb commented on #32589
Basically need more numpy-like automatic-type promotion -- obviate the need for the user to add .float() casts. For example

[code]

If this is already a goal, then it would make sense to close this issue and have specific issues for cases where this behavior is not yet implemented.

For device-handling annotations, there's a conflict between easy to debug performance problems and being easy to pr

[2020-10-12 18:35] albanD commented on #22620
For things that are too tricky to implement on the c++ side, it is fine to have a python-only version that is differentiable.
Similarly to what we did for lobpcg: if no input requires_grad, use the old codepath via c++. Otherwise, use a custom Function to enable autograd.

[2020-10-12 18:46] malfet commented on #41153
No longer the case, closing:
[code]

[2020-10-12 18:46] #41153 closed

[2020-10-12 18:53] deKeijzer opened #46205 "Could not find a version that satisfies the requirement torch=1.6.0"
## 🐛 Bug

I am unable to install the latest stable PyTorch build for CUDA 10.2 using the command given by the PyTorch website for pip on Windows.

## To Reproduce

Steps to reproduce the behavior:

1. Go to the PyTorch website
2. Click on get started
3. Have the following settings:
- Stable (1.6.0)
- Windows
- Pip
- Python
- CUDA
4. This outputs `pip install torch===1.6.0 torchvision===0.7.0 -f ht

[2020-10-12 18:53] glaringlee commented on #46154
@dabasmoti
Hi, I saw you have an issue with sentence-transformers at here. https://github.com/UKPLab/sentence-transformers/issues/485 Please stay with them for update since they knows better of their code. I'll keep this open for now.

[2020-10-12 18:59] glaringlee commented on #46155
'high priority' since this caused unexpected crash

[2020-10-12 19:00] malfet commented on #45592
Link to landed master PR: #45004
Link to release branch PR: #46206
Criteria Category: Regression from previous release

[2020-10-12 19:03] malfet commented on #45592
Link to landed master PR: #46036
Link to release branch PR: #46207
Criteria Category: Fixes for silent correctness issue

[2020-10-12 19:08] quasiben commented on #1750
We've also added some examples here: https://github.com/quasiben/nvtx-examples

[2020-10-12 19:10] vadimkantorov commented on #46085
@partypyro How does the new error message look like?

[2020-10-12 19:12] glaringlee commented on #46159
@ferrine
You can override __add__ in your class, do type checking and your own impl for addition operation.

[2020-10-12 19:15] glaringlee commented on #46160
@EverLookNeverSee
Did you check 'imagenet_classes.txt' to make sure it has data in it?

[2020-10-12 19:17] glaringlee commented on #46161
@InfiniteLife Yes, @xsacha is right, can you post the error message here? I will let jit people take a look at this at the moment.

[2020-10-12 19:20] rmchurch commented on #1750
@ezyang with the bindings to nvtx by @shwina, it would almost appear to negate the need for nvtx bindings within pytorch itself, or possibly include a third-party repo connection to them within the pytorch repo. I don't know enough about whether pytorch would accept such connections.

[2020-10-12 19:22] vinayaka16041999 commented on #46153
Had to go with 1.4.0 and 0.5.0

Vinayaka K M

On Tue, 13 Oct, 2020, 12:03 am xyli, <notifications@github.com> wrote:

[2020-10-12 19:23] partypyro commented on #46085
![95663511-9b602700-0af4-11eb-9a21-7e0505fdfc6a](https://user-images.githubusercontent.com/13827698/95782954-ba41f300-0c85-11eb-992d-f48e38d05d2d.png)

[2020-10-12 19:23] vfdev-5 commented on #46160
@EverLookNeverSee take a look here : https://github.com/pytorch/vision/blob/master/examples/python/tensor_transforms.ipynb

[code]

HTH

[2020-10-12 19:31] glaringlee commented on #46172
@peterjc123
Can you comment?

[2020-10-12 19:34] dusha1248 opened #46208 "subprocess.CalledProcessError: Command '['cmake', '--build', '.', '--target', 'install', '--config', 'Release', '--', '/p:CL_MPCount=8']' returned non-zero exit status 1"
## 🐛 Bug

Hello! I have VS 17 version 15.9 with VC++ 2017 version 15.6 v14.13 toolset. I try to install pytorch like in instruction, but an hour later I get an error:

Traceback (most recent call last):
  File "setup.py", line 727, in <module>
    build_deps()
  File "setup.py", line 314, in build_deps
    build_caffe2(version=version,
  File "C:\Users\andre\pytorch\tools\build_pytorch_libs.py", l

[2020-10-12 19:41] malfet commented on #46171
@TiberiusDeng can you please run https://github.com/pytorch/pytorch/blob/master/torch/utils/collect_env.py and share its output here. I.e. it's important to know version of libtorch and whether it was build locally or downloaded using one of the official packages.

[2020-10-12 19:46] glaringlee commented on #46180
@Coderx7
If I understand correctly.
Can you use 'trained parameters directly into your module and run inference'  compare with 'train module first and run inference after'? Let me know whether both inference have the same performance?

The thing is that after training, your module's parameter changed, different inputs do affect the performance of the pytorch operations sometimes (eg, some operator

[2020-10-12 19:50] YunYunY opened #46209 "calculate partial derivatives instead of total derivative like tf.gradients with parameter stop_gradients"
## 🚀 Feature
calculate partial derivatives instead of total derivative like tf.gradients with parameter stop_gradients https://www.tensorflow.org/api_docs/python/tf/gradients

## Motivation
It is a useful feature to investigate the vanishing/exploding gradient problem like RNN. Usually, we want to check the last hidden layer partial gradient w.r.t the first hidden in RNN.

## Pitch
Same behavior l

[2020-10-12 19:58] linjiapro commented on #40581
I am seeing exact same issue: training on 2 GPUS is slower than 1 GPU. The issue might be the clone class's reset() function gets called for every batch. I don't think we should hack in a way that reset function reset to a cached version of parameters, though this will make training quicker, the reason is that if we do this, we change the behavior of the clone; this will create bug when clone is c

[2020-10-12 20:03] scottxu0730 opened #46210 "[FX]Add support for len() on Proxy"
__len__ isn't defind on Proxy. Please add support for len() on Proxy.

[2020-10-12 20:08] glaringlee commented on #46153
You were trying 1.2 + 0.4 in your post.
For 1.4 + 0.5, you can do
pip install torch==1.4.0+cpu torchvision==0.5.0+cpu -f https://download.pytorch.org/whl/torch_stable.html

You can find the installation guide for all previous versions here:
https://pytorch.org/get-started/previous-versions/

[2020-10-12 20:12] ezyang commented on #31881
@malfet you were talking to me about this very issue recently right? I suggested that you should look into mobile selective build, which does exactly what people are asking for here: a way to only compile kernels in PyTorch that you need. This seems like exactly the issue being reported here.

One thing that I'm a little confusing is @UlrichFreitag, you seem to imply that the memory footprint incr

[2020-10-12 20:15] ezyang commented on #46088
This should be relatively "easy" to fix (although we may not have an idiomatic way to do this in the codebase). Would be a good starter task for someone looking to learn more about Python C API.

[2020-10-12 20:17] lamhoangtung commented on #31881
@ezyang So how can I compile only needed kernel for libtorch? I spent quite the effort to move down to libtorch to hope for a better production deployment but GPU memory footprint doest not improve at all ;(

[2020-10-12 20:25] ezyang commented on #46187
Perhaps I don't have a good sense of how torch.max is used in the wild, but changing `torch.max` to always return a tuple seems like a step too far to me, even from a purely UX perspective. Like, come on, if I just ask for a max, I should get a max, not a weird `(max, None)` tuple.

If it were up to me, I would personally prefer you separate the function in case you are interested in indices (e.g.

[2020-10-12 20:30] mruberry commented on #46187
That's also a fine solution. But note we have amax which is redundant with max in this case.

[2020-10-12 20:32] ezyang commented on #45910
@mcarilli do you think there is a doc update opportunity? For example, telling the user that caching is going on under the hood.

[2020-10-12 20:34] #45953 closed

[2020-10-12 20:37] mcarilli commented on #45910
Existing docs are pretty clear context manager usage should be per-forward-pass, but don't mention caching, and i agree they should.

[2020-10-12 20:38] faraazn opened #46212 "Torchscript: Error passing custom class to module in c++"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Create a custom class for data abstraction and two torchscript modules.

[code]

2. Run with python and save modules.

[code]

3. Load modules in C++ and pass the custom object output from one module as input to the other.

[code]

3. Run code, which leads to error.

[code]

## Expected behavior

Expected code to run to completion and

[2020-10-12 20:40] malfet commented on #46205
@deKeijzer looks like you are trying to install PyTorch using 32-bit Python runtime, which is not a supported. Please update your Python to 64-bit version and try again.
If this is not the case, please do not hesitate to reopen the issue.

[2020-10-12 20:40] #46205 closed

[2020-10-12 20:40] ezyang commented on #32589
@yaroslavvb should chime in directly here, but it didn't seem to me like Yaroslav actually wanted `torch.allclose(x, (1, 2, 3))` to work, just needed `torch.allclose(x, 1)` to work (which is scalar and we have precedent for supporting in other places.)

Both @ngimel and I agree with you that promotion should happen here. Just a matter of implementing it. Maybe it would be worth renaming this issue

[2020-10-12 20:41] ezyang commented on #27878
Bumping priority due to activity on this issue, the parent issue, and also other issues.

[2020-10-12 20:49] mruberry commented on #32589
Thanks for your follow-up, @yaroslavvb. @ezyang addressed the other points pretty well, I think, as for this one:

We have this as a goal for the unary ufuncs (see tracking issue: https://github.com/pytorch/pytorch/issues/42515 and discussion issue https://github.com/pytorch/pytorch/issues/36571). It's already implemented for the binary ufuncs (I think it only affects div and atan2), and it also n

[2020-10-12 20:51] ezyang commented on #46155
cc @xwang233 who authored the convolution repro code, maybe you can figure out where the repro code generation is going wrong here.

[2020-10-12 20:52] Kipok opened #46213 "Integrating CuDNN API for LSTMs with projections"
## 🚀 Feature
CuDNN supports LSTMs with projections (https://arxiv.org/abs/1402.1128) from release 7.1.2, but it's not exposed in PyTorch. It would be great if PyTorch natively integrated that CuDNN functionality.

## Motivation
The motivation for this is twofold. First, the performance of TorchScript accelerated code is still significantly lagging behind that of CuDNN implementation. When sequence

[2020-10-12 20:53] ngimel commented on #46187
So long term state for max:
1) `amax` to compute results without indices (including with no dim argument, currently amax doesn't support that)
2) `max_with_indices` requires `dim` argument and alway produces tuple
3) `max` is deprecated.
Deprecating `max` is going to be hard because it's used everywhere.

For other functions mentioned in this issue always returning tuple seems like a nbd? e.g. ok

[2020-10-12 20:53] ezyang commented on #31881
also cc @ljk53

[2020-10-12 20:56] mruberry commented on #46187
Median has the same issue, so presumably it would be split into "median" and "median_with_indices."

[2020-10-12 20:59] ezyang commented on #46209
For clarity, OP is NOT referring to `tf.stop_gradient`, which is indeed the same thing as detach. If I understand correctly, you could work around this problem by manually detaching all occurrences of `a`; and this is annoying to do because you might have a lot of occurrences of a (and also you might want to still form the graph for a because you might want to compute a different partial derivativ

[2020-10-12 21:03] wahlberg82 commented on #31985
I did a pull of the nightly master yesterday and recompiled statically. I can confirm that this fix is working well and solving the issue. Thanks all for fixing this so quickly and being such a great community!
Cheers, Davd

[2020-10-12 21:04] ezyang commented on #46187
Yeah, I'm just not seeing the payoff in deprecating max. :/

One difference between max and svd, is that by default svd will return three tensors, and `compute_uv=False` is a mechanism by which a user can explicitly say "nuh-uh, don't compute U and V". It doesn't seem like a hard sell to have a different variant of `svd_no_uv` for this case.

[2020-10-12 21:06] nickgg commented on #45592
Link to landed master PR (if applicable): #46129
Link to release branch PR: #46214
Criteria Category: Correctness fixes for Half types in NNC based fuser (#45953

[2020-10-12 21:17] ngimel commented on #46187
You make it seem like a well-reasoned thought-through decision, but it's not, it's just something that happens currently. Could have easily gone the way of `max`, and return a tuple if u,v are requested, and a tensor if not.

[2020-10-12 21:17] KsenijaS commented on #45816
@pfeatherstone it is probably because prim::ListUnpack is in the exported ONNX graph and that's why you are getting runtime error:
[code]
We are looking into how to solve it.

[2020-10-12 21:22] malfet commented on #46208
Few important excerpts from the log:
[code]
And than later (Having to use [CP-866](https://en.wikipedia.org/wiki/Code_page_866) brings back memories) :
[code]

[2020-10-12 21:24] vinayaka16041999 commented on #46153
It was not working so i had to go with next version!

Vinayaka K M

On Tue, 13 Oct, 2020, 1:38 am xyli, <notifications@github.com> wrote:

[2020-10-12 21:29] albanD commented on #46088
Hi,

Shouldn't this be solved by https://github.com/pytorch/pytorch/pull/43684 ?
Can you double check that this still happens on master by using a nightly build?

[2020-10-12 21:32] ezyang commented on #1750
If PyTorch nvtx bindings are simple to do, it may still be profitable to ship them with PyTorch, as it will save people from having to install another library.

[2020-10-12 21:34] mruberry commented on #46187
Ed, is it safe to say you'd just prefer all of these cases were different functions?

[2020-10-12 21:38] ngimel commented on #46187
It is feasible to have different functions for `max`, `eig`, `svd` (there are just 2 versions - "with something" and "without something"), but it is not possible in case of `unique`, which has 3 bool arguments telling it what to return, so you'd need 8 different functions if you want to adopt this approach.

[2020-10-12 21:45] albanD commented on #46209
As Ed mentionned just above. You can add a hook that looks like the following for every Tensor you want to "stop gradients" for: `t.register_hook(lambda grad: torch.zeros_like(grad))`.
You can then remove the hook when you want to do a full backward.

Does that match what you're trying to do?

[2020-10-12 21:47] vadimkantorov commented on #46202
I don't know, but maybe it's again that it doesn't flush even if close is called

[2020-10-12 22:04] dusha1248 commented on #46208
In your instruction is written:
:: [Optional] If you want to override the Cuda host compiler
set CUDAHOSTCXX=C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\VC\Tools\MSVC\14.11.25503\bin\HostX64\x64\cl.exe

Is 14.11 C++14 complaint? Does Visual Studio have suitable compiler? Sorry for stupid question.

[2020-10-12 22:07] xwang233 commented on #46155
Hmm, I think the repro code generation is working normally since the generated code looks similar to the raw cuDNN inputs. It's just that the generated code can't reproduce the error for some unknown reasons.

@jonashaag Thanks for reporting the issue. I'm a bit confused about your post as you mentioned two machines and three cuda versions. Would you double check the GPU model, CUDA version, and c

[2020-10-12 22:23] #45917 closed

[2020-10-12 22:24] jonashaag commented on #46155
It’s a 1080 Ti running CUDA 10.1 (PyTorch 1.6). I also tried 10.2 with nightly.

On a different machine that’s almost identical to the failing one (some OS, GPU) I can use CUDA 11.1 with nightly, there it works, but I don’t if it has anything to do with those versions in the first place. It could also be the that something is wrong with that machine.

I can get you the exact versions used, and whe

[2020-10-12 22:25] ngimel commented on #46157
cublas and cudnn are used literally everywhere, so disabling them means pretty much leaving pytorch unusable. I'm not sure how big cusparse it, if it's not too big I'd think there's no harm in also having it always on. Having `USE_CUSOLVER=0` flag makes sense.

[2020-10-12 22:27] ngimel commented on #46152
Closing, the error is in user code. On master, instead of illegal memory access, device mismatch error is thrown.

[2020-10-12 22:27] #46152 closed

[2020-10-12 22:32] xwang233 commented on #46155
I think it's the cuDNN library that causes failure. CUDA 10.1 and 10.2 are very likely installed with cuDNN 7.6.5 in your system. Many bugs in 7.6.5 were fixed in cuDNN 8, which is usually installed with CUDA 11.0 or 11.1. It would be nice to check if the model is still failing in cuDNN 8 + cuda 11. Then, we can provide a fix if it still fails in the latest library versions.

[2020-10-12 22:33] mrshenli commented on #38513
I cannot reproduce either. Maybe some PR unintentionally fixed this. Closing

[2020-10-12 22:33] #38513 closed

[2020-10-12 22:36] vkuzo commented on #45592
Link to landed master PR: https://github.com/pytorch/pytorch/pull/46077
Link to release branch PR: https://github.com/pytorch/pytorch/pull/46217
Criteria Category: silent correctness (fixes numerics for NHWC in QNNPACK for tanh, hardsigmoid, sigmoid)

[2020-10-12 22:48] mcarilli commented on #40497
NaNs with amp may be easy to fix if your usage is incorrect, or hard if autocast coverage is missing for some layer (which would be a bug we should fix in pytorch).  Try the steps in the troubleshooting guide first:  https://pytorch.org/tutorials/recipes/recipes/amp_recipe.html#loss-is-inf-nan.

@ruathudo In your case, [Prefer binary_cross_entropy_with_logits over binary_cross_entropy](https://pyt

[2020-10-12 22:52] walterddr opened #46222 "Use better tempfile creation mechanism for windows test"
This is a follow up on #45917 - Previously we fixed test_serialization by
* avoiding the usage of filename in torch.save/load;
* kept one specific test to validate both file descriptor and filename code path for torch.save/load

However per @malfet 's [comment](https://github.com/pytorch/pytorch/pull/46120#discussion_r503463075) we can also abstract out temp file creation step to support the last

[2020-10-12 23:00] Balandat commented on #46169
The main issue with that besides stability is that this operation will not be auto-grad-able at zero (whereas the actual operation is differentiable at zero).

[2020-10-12 23:12] #45928 closed

[2020-10-12 23:20] #45968 closed

[2020-10-12 23:51] ngimel opened #46224 ".to_sparse() should produce a tensor with contiguous indices"
Currently, `.to_sparse` for cuda tensor produces tensor with contiguous indices, and for cpu tensor does not:
[code]
This should be fixed by changing the contiguity of cpu `nonzero` output rather than by calling `contiguous` directly in `to_sparse`.

cc @vincentqb @aocsa @nikitaved @pearu @mruberry

[2020-10-13 00:20] nikhilmishra000 opened #46225 "torch.mode when input has nans"
## 🐛 Bug

`torch.mode` has inconsisent behavior when the input contains nans:

* The torch [docs](https://pytorch.org/docs/stable/generated/torch.mode.html) do not say what the nan policy is, whereas the scipy [equivalent](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.mode.html) lets the user decide
* On cpu, `torch.mode` acts like scipy's `nan_policy="omit"`
* On cuda, it gives

[2020-10-13 00:39] corey-cole commented on #46154
Is it possible this is the same root cause as 43300?  The CPU flags don’t list AVX.

I would try enabling core dumps and then check the core file via gdb.  If it is the same root cause then it should fail in the same place in Aten.

https://github.com/pytorch/pytorch/issues/43300

[2020-10-13 00:46] justinblaber commented on #46096
Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz which supposedly supports AVX2. If it makes any difference I'm running 1.7.0 manually built pytorch.

[2020-10-13 01:02] pritamdamania87 commented on #45419
@Flamefire I've removed as many casts as I could in: https://github.com/pytorch/pytorch/pull/46227, The only ones I couldn't remove were the ones of the form `  {"copy_", (PyCFunction)(void(*)(void))THPStorage_(copy_), METH_VARARGS | METH_KEYWORDS, nullptr},` since `METH_VARARGS | METH_KEYWORDS` implies 3 args and I had to keep the PyCFunction cast. Let me know if there is a way around this as wel

[2020-10-13 01:31] ngimel commented on #46168
A common case where the gradients are views is `z=x+y`. In the absence of broadcasting, gradients of x and y would be referencing the same storage, and then would go their own separate ways, so modifying them in place would be unsafe.
Also note that the memory high water mark is typically achieved at the very beginning of the backward pass, so for most of backward it does not matter much whether g

[2020-10-13 01:32] #44792 closed

[2020-10-13 01:34] gmagogsfm commented on #43039
Looking through stale issues. @suo, could you remind me what is still in discussion?

[2020-10-13 01:37] gmagogsfm commented on #42207
Why is this "in discussion"?

[2020-10-13 01:38] ailzhang opened #46231 "Remove catchAllKernel_"
Motivation:

catchAllKernel_ is the last resort when there's no other kernels available is dispatcher (before erroring out). Due to this "default" property catchAll was used in many unexpected cases that we might not support. we want to remove it and switch users to use more explicit APIs to tell us what the kernel is for and when it should be used.

Plan on record for catchAll removal:

1. For AP

[2020-10-13 01:42] gmagogsfm commented on #43948
Span, could you take a look at @suo's last comment? Thanks!

[2020-10-13 01:43] gmagogsfm commented on #36247
Assigning to myself, reserved for bootcamp

[2020-10-13 01:53] vadimkantorov commented on #46168
Yep, it's mostly fragmentation effects that I'm talking about coming from absence of fine-grained controls over memory allocator buffer bucketing (and is it also faster if we read/write the same memory from some caches standpoint?)

In BatchNorm + activation "single-stream" architectures with custom backwards that currently just allocate a new grad_input, whereas they could reuse grad_output if it

[2020-10-13 02:00] sarahannali commented on #46222
Hi! Is this open for contribution?

[2020-10-13 02:16] ngimel commented on #45746
Can't repro with mkldnn 1.6.0

[2020-10-13 02:30] Coderx7 commented on #46180
Hi,
I couldnt underastand this part:

Do you mean to transfer the trained parameters from a trained model to the pruned version thats not trained yet? and see if the performance is any different?

I need to add that both networks use the very same image-size both at training and inference. this shouldn't be affecting this much of a slow down anyway right?

Yes, you are right, I need to be providin

[2020-10-13 02:41] TiberiusDeng commented on #46171
Thank you. I am using using the official package from https://download.pytorch.org/libtorch/cpu/libtorch-shared-with-deps-1.6.0%2Bcpu.zip

[2020-10-13 02:49] david-macleod commented on #45968
Works great, thanks!

[2020-10-13 03:03] lsd1994 commented on #46172
I use libtorch 1.4 and solve this problem. Now the CUDA works normally when calling dll functions.
But 1.5 and 1.6 have the same problem, do you know why?

[2020-10-13 03:12] glaringlee commented on #46180
@Coderx7
Yep, that's what I meant, but now I see what you mean. So you train your module under python and save it with jit, and run inference with libtorch using jit saved module, right? If so, please discard my previous comments, I've thought you were running in the same env.

Another thing I want to ask is that did you set the same thread number when doing training and inference?
You can try set

[2020-10-13 03:26] Coderx7 commented on #46180
Yes you are right.
No everything thread related is default. I didnt change anything.
alright I'll come back to you when this is all finished and ready.

[2020-10-13 03:40] ezyang commented on #46187
Well, it's well thought out in the sense that it matches Numpy's default? (Though I'm not sure how the author then decided to return zeroed tensors, that's just weird.)

I don't think I'd go as far to claim that. But my general thinking is that we should "pave the cowpaths", and giving weird APIs to valuable "short" names in the name of consistency is un-Pythonic and un-PyTorchy.

I also think tha

[2020-10-13 04:07] XiaobingSuper commented on #45746
There has a simple code can reproduce this issue:
[code]
There will has a patch to solve it. Thanks!

[2020-10-13 04:22] gardotd426 commented on #46034
CUDA support is broken on 5.9 because of the "GPL condom" stuff that was added to the kernel. `nvidia_uvm` will no longer load, and running things like `clinfo` will give output saying there are no supported platforms.

I don't think there's anything pytorch can do, because this is a fundamental "Nvidia vs the Linux Kernel/GPL" issue.

[2020-10-13 04:54] nolehuan commented on #45028
thanks

[2020-10-13 05:18] Coderx7 commented on #46180
OK here are the results. the `thread_num` is not set to 1 anywhere, since when I set it the performance gets several times worse. this is shown below :
![pytorch_pruning_bench](https://user-images.githubusercontent.com/5382892/95818075-df8b3b80-0d2f-11eb-9695-86c0bf3cf797.gif)
As the name suggests, one of the models are fully trained after being pruned, and the other is just prior to being pruned.

[2020-10-13 05:19] WangWenhao0716 commented on #45028
Hi are there any comparisons between your 3080 with your old gpu？

发自我的&nbsp;iPad

------------------ Original ------------------
From: nolehuan <notifications@github.com&gt;
Date: Tue,Oct 13,2020 0:55 PM
To: pytorch/pytorch <pytorch@noreply.github.com&gt;
Cc: WenhaoWang <2609667791@qq.com&gt;, Mention <mention@noreply.github.com&gt;
Subject: Re: [pytorch/pytorch] GeForce RTX 3080 with CUDA capabi

[2020-10-13 05:24] ngimel commented on #45746
Ok, must be avx512 thing

[2020-10-13 05:33] ptrblck commented on #22741
This might have been a known issue for cudnn7.5.
I tried to reproduce it using the provided code snippet with all supported binaries and it seems the memory usage is alright:
| pytorch version | cuda | cudnn | before mem print | after mem print |
|---------------------------|----------|------------|----------------------------------------------------------------|-----------------------------------

[2020-10-13 06:41] enterthevoid22 commented on #46202
doesn't seem like the issue since i'm following the official tutorial on the pytorch website.
still i tried adding flush but it didn't change anything.
is there a way to manually upload the event files to the web page? maybe it's possible to debug the issue this way.

[2020-10-13 07:11] mruberry commented on #22741
Thank you, @ptrblck. @kingder, is updating cuDNN an option?

[2020-10-13 07:53] ferrine commented on #46159
I'm sure it is not a maintainable way. I would override every single class method because I want pytorch behavior like in old releases. It just performed regular addition and returned pytorch tensors

[2020-10-13 08:14] mruberry commented on #46159
@ezyang This seems related to work like torch_function? Is there a good label for these issues? I don't think it's type promotion.

[2020-10-13 08:22] Darshcg opened #46237 "RuntimeError: Unsupported: ONNX export of index_put in opset 9. Please try opset version 11."
I was converting our custom Pytorch model to Trt and run it on a Jetson.
While converting pt to ONNX I am getting an error like:
RuntimeError: Unsupported: ONNX export of index_put in opset 9. Please try opset version 11.

Code for the Conversion:
[code]

May I know how this can be resolved?
Torch version: 1.6

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof @ezyang

[2020-10-13 08:30] guol-fnst commented on #45125
The latest version seems to have fix this bug.

[1. 1.]

[1. 1.]

[2020-10-13 08:38] Flamefire commented on #45419
I see. For `METH_VARARGS | METH_KEYWORDS` the expected type is `PyCFunctionWithKeywords`: https://docs.python.org/3/c-api/structures.html#c.PyCFunctionWithKeywords So I'd suggest to encapsulate the cast to `PyCFunction` (which seems to be required, unfortunately) into a function which takes a `PyCFunctionWithKeywords` to a) hide the ugliness of `(PyCFunction)(void(*)(void))` and b) enforce the cor

[2020-10-13 08:46] back2yes opened #46238 "Simple model cannot converge with fp16 precision using torch.cuda.amp"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

The model should converge with both batch_sizes of 32 and 128. However, with batch_size==32, the loss looks like:
epoch: 0: 	1.0
epoch: 1: 	1.0
epoch: 2: 	0.9970703125
epoch: 3: 	0.99072265625
epoch: 4: 	0.982421875
epoch: 5: 	0.9716796875
epoch: 6: 	0.958984375
epoch: 7: 	0.9443359375
epoch: 8: 	0.927734375

[2020-10-13 09:40] henrique commented on #46181
Sorry guys, I think we were misusing the API
as the docu says all groups have to be present in all nodes, so that seem to solve the problem
[code]

thanks for the amazing work on PyTorch!

[2020-10-13 09:40] #46181 closed

[2020-10-13 11:38] hyunjaecho94 opened #46239 "tensorboard multiple add_graph()"
Is it possible to add multiple graphs (multiple calls to add_graph(model_A), add_graph(model_B), etc). I tried it, but only the last called add_graph() gets shown on tensorboard. Thanks!

[2020-10-13 11:55] pyscorcher opened #46240 "Support "symmetric" reflection padding"
## 🚀 Feature

Currently `ReflectionPadNd` does *not* repeat the boundary pixels, as demonstrated by the docs:

[code]

According to the paper mentioned below, it would be very beneficial to use the `SYMMETRIC` variation that is already available in [tensorflow](https://www.tensorflow.org/api_docs/python/tf/pad) - I'm quoting the example from the linked page:

[code]

I propose two ways in which th

[2020-10-13 12:01] songpeng326 opened #46241 "ubuntu16.04+vscode compile libtorch error"
I use libtorch for the first time，when I cmake this project, it has no error， but I make this project ,it has many errors.
If anyone knows how to solve it, please let me know and I will be very grateful.
The specific situation is as follows:

CMakeLists.txt
cmake_minimum_required(VERSION 3.0 FATAL_ERROR)
project(libtorch_test)
# SET(CMAKE_BUILD_TYPE "Debug")
SET(CMAKE_BUILD_TYPE "Release")
SET(CMA

[2020-10-13 12:03] david-macleod opened #46242 "Assigning a parameter to an indexed tensor that was produced by DDP no longer works in torch nightly (1.7)"
## 🐛 Bug

In torch 1.6 assigning a parameter to an indexed tensor successfully create a new tensor which was part of forward graph, this behavior no long works using the latest torch 1.7 nightly

## To Reproduce
[code]
Which returns the (truncated) output

[code]

## Expected behavior

No error to occur, as in torch 1.6

## Environment

[code]

## Additional context

When running the same code wit

[2020-10-13 12:45] InfiniteLife commented on #46161
I do not have source files so I am viewing disassembly output, the most I can get:
![image](https://user-images.githubusercontent.com/7304884/95862072-0d41a600-0d6b-11eb-912f-ab1d8cef767e.png)

I will try to connect source files to get more info

[2020-10-13 12:57] wuyujiji opened #46245 "the different train speed between pip install torch==1.2 and build torch1.2 from source"
## ❓ Questions and Help
Hi, recently I train a model with pytorch1.2. I found a phenomenon that train speed of each iter is different by installing pytorch from different ways. In details, the train speed by pip install torch==1.2 is  faster than about 3x than build torch1.2 from source. Could you please help me analyzing the reason? Thanks a lot !

### Envrionment
CUDA: 10.0
pytorch: 1.2
torchvis

[2020-10-13 13:11] pearu commented on #46165
This issue extends to using the `is_sparse` property as well.

Currently, the `is_sparse` property is used for distinguishing tensors using `sparse_coo` or `strided` layouts. (For `_mkldnn` layout, we have `is_mkldnn` property).

An introduction of a new sparse layout would make the result of `is_sparse` ambiguous.

Possible solutions:
1. Each layout `xyz` will have the corresponding `is_xyz` prop

[2020-10-13 13:17] wuyujiji commented on #46245
In face, I want to know the diffs of build ways between the pytorch official wheel package and mine

[2020-10-13 13:23] SoulSharer opened #46246 "libtorch_cpu.a is huge (1 GB) with build_android.sh"
## 🐛 Bug

I've seen [similar issue #34058](https://github.com/pytorch/pytorch/issues/34058). However unlike in that issue libtorch_cpu.a is 5 times larger. With CUDA and a lot of other modules already turned off by default in the build_android.sh script.
What causes it to bloat to a such degree? 1GB is way too much, especially for mobile platforms.
![image](https://user-images.githubusercontent.co

[2020-10-13 13:23] glaringlee commented on #46180
@Coderx7
I see. You actually jit saved both models and run under C++. It seems to me that the timing difference do caused by model itself since jit saving process is always the same (to me), shouldn't cause any difference. I will have jit people take a look at this.

[2020-10-13 13:24] glaringlee commented on #46180
Send to jit oncall to take a look at, please advise.

[2020-10-13 13:26] fisakhan commented on #16899
@soumith @vadimkantorov using torch.set_num_threads(1) in Python I get in total 3 threads, where 1 thread is generated by Python. I use os.system( "top -H -b -n1 | grep python | wc -l") command to count the number of threads. Why do I get 2 (rather than 1) additional threads?
Can I make the total number of threads to 2 or 1 (including thread for python)?

[2020-10-13 14:00] realiti4 commented on #45028
Are you using pytorch-nightly wheels by any change? Because I think there is a problem with those. I just found out they are 9 times slower than my own build with cuda 11.

[2020-10-13 14:41] Flamefire opened #46248 ""distributed" NCCL tests fail when having more than 3 GPUs"
## 🐛 Bug

When running the distributed NCCL tests on a system with more than 3 GPUs available the tests fail with a connection refused error.

Tracing that down via ` NCCL_DEBUG=INFO` reveals a warning "bootstrap.cc:190 NCCL WARN Bootstrap Root : mismatch in rank count from procs 6 : 3", which hints that 6 GPUs are available and hence expected but only 3 processes are started which is indeed what

[2020-10-13 15:00] sparseinference commented on #42300
After switching to python3.8 I now get this warning.
This was very surprising after using python3.7 for a long time -- exactly the same code.

[2020-10-13 15:03] hadaev8 commented on #42300
How to track what tensors exact have case this warning?

[2020-10-13 15:04] anjali411 commented on #46144
@jonashaag which operation did you use in `net` when training diverged? It's a little hard for me to figure out which options you selected because of the 0s and 1s.

[2020-10-13 15:07] ezyang commented on #46155
@xwang233 one alternate possible explanation is the problem is stride related. In the backtrace, I see:

[code]

x.real and x.imag are going to produce non-contiguous tensors.

[2020-10-13 15:11] bdhirsh commented on #46225
tested this on latest master, confirmed that this is still occurring (in particular the results for cpu and cuda are different)

[2020-10-13 15:15] ezyang commented on #46159
cc @hameerabbasi

[2020-10-13 15:17] albanD commented on #46168
I think that your comment actually points in the right direction: if you have specific group of ops that you know will behave well and you want to optimize, then you can wrap them in a single `autograd.Function`. That way you might be able to save even more buffers and you can use the intermediary gradients inplace as they are internal to your Function.

[2020-10-13 15:19] bdhirsh commented on #46239
Hi @hyunjaecho94 I'm going to close this issue and redirect you to the forum. Can you post your question there? https://discuss.pytorch.org/c/tensorboard/28

[2020-10-13 15:19] #46239 closed

[2020-10-13 15:19] vadimkantorov commented on #46168
Maybe it's possible to have some sort of MemoryEconomicalSequential

[2020-10-13 15:22] vadimkantorov commented on #46168
And enabling manual shape hints / shape bucketing would also help of course :)

[2020-10-13 15:23] ezyang commented on #46159
Yes, this is a behavior change introduced by `__torch_function__`. Hameer and I discussed in the PR whether or not we should BC break or not (https://github.com/pytorch/pytorch/pull/37091#pullrequestreview-419541245). Fortunately, there is a way to recover the old behavior:

[code]

I was checking the release notes and I realized we forgot to add a note about this. Part of the issue is we didn't a

[2020-10-13 15:26] minghuisvn commented on #45040
Undoubtedly,  raise Error can make it work as expected. Thank you! It seems I should inspect the source code in the pytorch package more to better understand it.

[2020-10-13 15:26] #45040 closed

[2020-10-13 15:27] ezyang commented on #46246
You need selective build. @dhruvbird @ljk53

[2020-10-13 15:28] ezyang commented on #46242
@bdhirsh Don't forget to add a module label to bugs when you are triaging, this will make sure the correct person gets CC'ed

[2020-10-13 15:29] hameerabbasi commented on #46159
Perhaps an alias of `torch._C._disabled_torch_function_impl` in `torch.overrides` would work?

[2020-10-13 15:31] rgommers commented on #46159
https://pytorch.org/docs/master/notes/extending.html#subclassing-torch-tensor is new, subclassing `Tensor` should now be much more "proper", would be good to have a look if that fits your needs.

I'd still prefer people to first use the private API as a workaround and see if there's actual use cases before making this public. This issue does seem to suggest better subclassing behaviour is the pref

[2020-10-13 15:37] albanD commented on #46168
But then you will still need to implement the backward for each op as an inplace op (which we don't have right now).
Note also that you will need extra logic to only save the minimal set of buffers (which is handled by the autograd but you won't have that for the intermediary things inside your custom Function).
So in spirit you want something like that. But I don't think you can implement a gener

[2020-10-13 15:41] nikitaved commented on #22620
`torch.lu` returns a packed LU decomposition. In the differentiable version of `torch.lu` we receive LU_grad in the backward step. If you look at the diagonal of LU_grad, it is not possible to decouple the contributions of L_grad and U_grad. In order to separate these contributions, we need a new function that returns L and U separately, so that we receive explicit L_grad and U_grad in the backwar

[2020-10-13 15:44] jonashaag commented on #46144
I'm sorry!

[code]

[2020-10-13 15:50] albanD commented on #22620
Does that mean that you can't write a backward for `lu_unpack` itself?
And you can only write the backward if the forward is the pair `lu` + `lu_unpack` ?

[2020-10-13 15:52] albanD commented on #46168
We don't have that I'm afraid :/
refcount just know how many reference to this Tensor object they are. Not how many Tensor look at the same memory as this Tensor.

[2020-10-13 15:55] nikitaved commented on #22620
Yes, lu + lu_unpack in forward is required for a well-defined backward.

[2020-10-13 16:10] ezyang commented on #46159
Looking at https://github.com/geoopt/geoopt it looks like the use case here is implementing ManifoldTensor and ManifoldParameter. I'm guessing that they want to discard manifold implementation when a non-manifold-aware operation is used.

Definitions are at https://github.com/geoopt/geoopt/blob/master/geoopt/tensor.py

[2020-10-13 16:27] sparseinference commented on #42300
@alirezakazemipour I did try it with `.contiguous` after `.permute(...),` I still got the warning.

[2020-10-13 16:42] albanD commented on #22620
But is that unique? Does it matter if it's not?
Note that if you write it this way, the same gradient as the ones in LU will flow for both L and U :D

[2020-10-13 16:43] nikitaved commented on #22620
And now I am having an issue that `gradcheck` passes, but `gradgradcheck` does not.

[2020-10-13 16:49] kurtamohler opened #46253 "Add short guide for updating `torch.norm` calls to `torch.linalg.norm`"
## 📚 Documentation

Since `torch.norm` and `torch.linalg.norm` are significantly different in a few ways, it might be a bit challenging for users to update. It would be useful to write a short guide pointing out the differences and how to use `torch.linalg.norm` to perform any operation that `torch.norm` can do.

[2020-10-13 16:51] kurtamohler opened #46254 "Enable named tensor inputs to `torch.linalg.norm`"
## 🚀 Feature

[2020-10-13 16:54] kurtamohler opened #46255 "Add dtype arg support to torch.linalg.norm with ord='fro' and ord='nuc'"
## 🚀 Feature

`torch.linalg.norm` currently supports the `dtype` arg for all norm types except Frobenius and nuclear.

cc @ezyang @vincentqb @vishwakftw @jianyuh @nikitaved @pearu @mruberry @heitorschueroff

[2020-10-13 16:58] malfet commented on #46241
Can you please share your full vscode project as attachment?

[2020-10-13 16:59] #45490 closed

[2020-10-13 16:59] nikitaved commented on #22620
@alban, this is really weird. Check out this script:
[code]

When I use `gradgradcheck(LU.apply, S)` I get
[code]

Now I call `gradgradcheck(LU.apply, S, [torch.rand(2, size, size, dtype=torch.double)])` and I get:
[code]

Finally, with `gradgradcheck(LU.apply, S, [torch.zeros(2, size, size, dtype=torch.double)])` I get a pass.

Is there something I am doing super wrong in backward?

[2020-10-13 17:03] alirezakazemipour commented on #42300
@sparseinference
I did not use torchvision, so I have no idea about its relevancy to the issue. For me `.contiguous()` made the warning disappear.
Could you put the `permute()` part of your code here?

[2020-10-13 17:05] gmagogsfm commented on #43193
Please update to HEAD PyTorch and try again : )

[2020-10-13 17:05] rohan-varma commented on #46064
Should be resolved by https://github.com/pytorch/pytorch/pull/46067

[2020-10-13 17:05] #46064 closed

[2020-10-13 17:09] ngimel commented on #46168
Storages have refcounts too, I think currently this is used to steal produced gradients to move them (instead of copying) to `.grad` attributes.

[2020-10-13 17:13] sparseinference commented on #42300
@alirezakazemipour It's very simple:

[code]
I just apply some matmuls on each dimension after permuting.
If I insert `.contiguous()` after every permute, I still get the warning.
The input tensor shape is (B,C,H,W) , channels first.

[2020-10-13 17:14] rohan-varma commented on #46248
Thanks for reporting! I can confirm I can repro this on a 4-GPU machine, and it indeed looks like we should have WORLD_SIZE = no. of GPUs used in the test. I'm not sure why we hardcode that value to '3' in `run_test.py`.

[2020-10-13 17:15] bdhirsh commented on #46238
I was able to repro this on 1.6.0, but not on tip-of-master. Seems like it's no longer an issue?

[2020-10-13 17:16] ferrine commented on #46159
Yes, I also had very long discussions about whether should I make any operation manifold-aware or not. Given the complications I faced in prior releases I decided not to experiment with exposing my prototypes and just keep the rest simple.

[2020-10-13 17:16] vadimkantorov commented on #46168
In many cases allocation of grad_input is already separated from the function that fills in the buffer. In many cases (elementwise functions, normalization) passing in same grad_input pointer as grad_output pointer would just work.

[2020-10-13 17:19] spandantiwari commented on #43948
@gmagogsfm - As @suo mentioned, there's ongoing effort to update the support for ScriptModules in ONNX export. There will possibly be significant updates to the code path implementing support for ScriptModules including a deeper look at `_C._jit_pass_lower_graph` and alternatives. We will take this as a test case.

In case this is blocking you, would it make sense to use tracing here for the time

[2020-10-13 17:26] rohan-varma opened #46259 "DistributedDataParallel hangs when using NCCL backend"
## 🐛 Bug

The following code using DDP will hang when backend=`nccl`, but not when backend=`gloo`:
[code]

This was originally raised in the forums: https://discuss.pytorch.org/t/subprocess-stuck-at-loading-batch/99075. In the hang, it seems that both ranks are able to load the first batch, and then rank 1 gets stuck and does not advance to loading the second batch. With the Gloo backend, training

[2020-10-13 17:33] rohan-varma commented on #46175
Thanks for the extensive report and the fix in https://github.com/pytorch/pytorch/pull/46186! As @mrshenli mentioned, we are working towards no longer supporting single-process, multiple device mode in DDP, so I think we can close this issue out given that there is a workaround.

[2020-10-13 17:33] #46175 closed

[2020-10-13 17:35] albanD commented on #22620
If it was, you would see "value that is required for backward has been modified by an inplace op".

IIRC from the gradcheck code, this happens when the output of the function does not require gradients.
Did you checked that running backward with `create_graph=True` creates gradients that require grads?

[2020-10-13 17:39] vkuzo commented on #46096
Confirmed that upsample is hitting the avx2 fast path from https://github.com/pytorch/pytorch/pull/26631/files for me, and I see similar performance breakdowns as reported in the original issue. @lly-zero-one, any thoughts on if this is expected?  For an input of (1, 1, 224, 224) the shapes going through this kernel are [1, 64, 14, 14], [1, 32, 28, 28], [1, 16, 56, 56], [1, 16, 112, 112], all in N

[2020-10-13 17:40] gchanan commented on #45592
Link to landed master PR (if applicable): N/A
Link to release branch PR: https://github.com/pytorch/pytorch/pull/46262
Criteria Category: Release branch specific changes

[2020-10-13 17:40] gmagogsfm commented on #42207
This is lots of work with unclear benefit. We also need time to get some planning done.

[2020-10-13 17:42] albanD commented on #46168
I don't think we do no. We just look at the Tensor refcount.
And it is expected that the returned Tensors can (both for .backward and autograd.grad), in some rare cases, be views of each other.
For example, taking your example from above:
[code]

[2020-10-13 17:57] sparseinference commented on #42300
This looks like the location in the code where the warning is coming from:

[https://github.com/pytorch/pytorch/blob/3e957d0545e650f45e11c75c4aac2313f200ff8b/aten/src/ATen/native/TensorIterator.cpp#L921](url)

[2020-10-13 18:06] alirezakazemipour commented on #42300
@sparseinference
I have no other suggestions but based on your input shape **(B, C, H, W)**, your permutation should be `permute(0, 3, 2, 1)` if the channel is at the third dimension, otherwise, there were no need to permute the input in your first line.
If you ever managed to fix it please update reponses here.
Good luck. :+1:

[2020-10-13 18:15] mrshenli commented on #26362
Async UDF is available now, closing this issue.

API: https://pytorch.org/docs/master/rpc.html#torch.distributed.rpc.functions.async_execution
Tutorial: https://pytorch.org/tutorials/intermediate/rpc_async_execution.html

[2020-10-13 18:15] #26362 closed

[2020-10-13 18:17] mrshenli commented on #37459
Tutorials are updated. Closing this issue.

[2020-10-13 18:17] #37459 closed

[2020-10-13 18:19] mrshenli commented on #35575
Closing this issue, as `DistAutogradTestWithSpawn` is now part of `TensorPipe` and `ProcessGroup` RPC tests. This issue disables nothing for the new test structure.

[2020-10-13 18:19] #35575 closed

[2020-10-13 18:22] lly-zero-one commented on #46096
C=1 means the avx2 path will not really take effect. We probably need to do some special optimization for C=1 case, or else it is basically pixel by pixel operation.

[2020-10-13 18:33] vkuzo commented on #46096
sorry, to clarify, C=1 in the model input, but C is 64, 32, 16, 16 in the upsample kernels

[2020-10-13 18:43] bdhirsh commented on #46245
Please use the forum for questions (https://discuss.pytorch.org/). Closing out this issue for now, but feel free to open a new issue if it turns out to be a feature request or bug.

[2020-10-13 18:43] #46245 closed

[2020-10-13 18:44] nikitaved commented on #22620
Could you please elaborate? The gradgradcheck creates grad_outputs if they are not provide. I get this `Numerical gradient for function expected to be zero` when I provide grad_outputs.

[2020-10-13 19:03] Flamefire commented on #46248
Imo the usage of only 3 ranks makes sense and pytorch should handle this. Given that multi gpu per process seems to be deprecated in ddp a valid fix would include limiting the test to 1 gpu per process. But that should still work even when more are available

If you can point me at the commits I can try it they help

[2020-10-13 19:03] mruberry commented on #46225
Thanks for reporting this issue, @nikhilmishra000, we should definitely fix this and would take a PR updating our behavior. We should propagate NaNs in this case and note that it's a BC-breaking change to do so.

[2020-10-13 19:15] xwang233 commented on #46155
@ezyang , the cudnn raw inputs with dim and stride show that the input and output tensors are contiguous. I suggest that we wait @jonashaag to confirm the cudnn version. If the problem still exists in cudnn 8, I'll try a repro and let cudnn team fix the crash.

[2020-10-13 19:20] ezyang commented on #22024
Some of this is going to be addressed by structured kernels, RFC at https://github.com/pytorch/rfcs/pull/9/files

[2020-10-13 19:27] ruathudo commented on #40497
I have been using nn.CrossEntropyLoss (for multi classes) which handling the logits input by default, I believe. In my case, when using default Transformer module, the model got NaNs loss after 15 epochs, and it almost converaged at that time.

[2020-10-13 19:42] jonashaag commented on #46155
I just checked, the versions I used are as follows:

- PyTorch 1.6.x, CUDA 10.1, cuDNN 7.6.3
- PyTorch Nightly, CUDA 10.2, cuDNN 7.6.5
- PyTorch Nightly, CUDA 11.1, cuDNN 8.0.3

[2020-10-13 19:49] spandantiwari commented on #46237
Can you please set `opset_version=11` or `opset_version=12` in your export API call.

[2020-10-13 19:50] lly-zero-one commented on #46096
I see. That looks weird. Just one more question before diving into it, are we running with one thread?

[2020-10-13 19:52] pritamdamania87 commented on #45419
Thanks for the suggestion, I'll give this a shot.

I'm not sure about the reason for this, but I guess is that its some old legacy code. We use pybind11 everywhere in any new code we add that has python bindings.

[2020-10-13 19:53] mrshenli opened #46272 "test_distributed_* does not work with run_test.py -i option"
Unlike other non-distributed tests, `run_test.py -i` cannot select a test function from `test_distributed_*`, it seems always runs everything.

Unlike `test_c10d*`, `test_distributed_*` does not work as-is with `pytest`. Instead, it requires `BACKEND`, `MASTER_ADDR`, and `MASTER_PORT` env vars to be set.

@wanchaol and @ailzhang have both hit this problem.

[2020-10-13 19:56] #46020 closed

[2020-10-13 20:10] anjali411 commented on #46144
#44444 was reverted due to a windows failure. When I ran the this repro code:
[code]
locally with https://github.com/pytorch/pytorch/pull/46275 changes, I got the expected result.

[2020-10-13 20:13] mrshenli opened #46276 "test_distributed_* does not show error details from the subprocess"
I tried explicitly raise an error in the test function, below is what I got when I use `pytest -kvs`. It only shows the error code, which is not helpful for debugging.

[code]

[2020-10-13 20:16] zdevito opened #46277 "`__torch_function__` does not get call for torch.Tensor's `__getitem__` syntax"
## 🐛 Bug

If you write `tensor_val[my_custom_type_with_torch_function]`, the `__torch_function__` call is not invoked on `my_custom_type_with_torch_function` even though it is defined. This works for other operators like `__add__`
`
## To Reproduce

[code]

## Expected behavior

`__getitem__` works the same way as `__add__`

## Environment

[code]

## Additional context

This is causing issues whi

[2020-10-13 20:17] zdevito commented on #46277
@ezyang

[2020-10-13 20:17] osalpekar opened #46278 "Work Logging causes Hang in NCCL Async Error Handling"
## 🐛 Bug

tl;dr - We must remove tensor-related logging from the `WorkNCCL::operator<<` function, otherwise printing the work objects tracked in `ProcessGroupNCCL::workMetaList_` will cause segfaults.

The Work objects we track in the workMetaList for the NCCL Async Error Handling mechanism don't contain output tensors (`WorkNCCL::outputs_`). As described in the `ProcessGroupNCCL::workEnqueue` fun

[2020-10-13 20:18] ezyang commented on #46277
cc @hameerabbasi @rgommers

[2020-10-13 20:22] ptrblck commented on #46158
@xsacha
RE: Improved FP32:
The effective FFMA throughput per SM is doubled on devices with sm86.
You could see the improvement in all FFMA based kernels, i.e. operations such as
[code]
Note that your kernel might still be memory bandwidth bound, which would decrease the end-to-end performance gain.

cublas is targeting these new kernels in November.

Note that TF32 (https://blogs.nvidia.com/blog/2

[2020-10-13 20:25] mingzhe09088 commented on #46248
I don't think we are hardcoding the number of GPUs to 2 ro 3. For the failed test, we do check all available GPUs and assign them evenly among processes here https://github.com/pytorch/pytorch/blob/master/torch/testing/_internal/distributed/distributed_test.py#L2655.

[2020-10-13 20:39] ngimel commented on #46158
Almost all (all?) kernels in pytorch are memory-bandwidth bound, so realistically only kernels in cublas and cudnn can be expected to utilize this higher throughput.

[2020-10-13 20:40] realiti4 commented on #45028
That might have been a quick conclusion, so I deleted it. 9 times difference seemed absurd, maybe there was an issue with env. I'll make more tests.

[2020-10-13 20:45] anjali411 commented on #45592
Link to landed master: https://github.com/pytorch/pytorch/pull/46281
Link to release branch PR: https://github.com/pytorch/pytorch/pull/46258
Criteria Category: Doc fix

[2020-10-13 20:57] vkuzo commented on #46096
I checked it with a single thread (didn't check with other configurations yet).  Here is what's I'm running:
script: https://gist.github.com/vkuzo/59a1c64abdeefd2d7929e38580243f77
invokation: `OMP_NUM_THREADS=1 python ~/local/tmp/issue_46096.py`
results: https://gist.github.com/vkuzo/09cd311ebbc7655c71890b3f1accca73

[2020-10-13 20:57] dvolgyes commented on #35660
Well, if it disappeared after 1.5, could you check it with 1.6? I guess if it works, this ticket could be renamed like "prior v1.5 ..." (in case somebody got stuck with old version)  and then you could close it.

[2020-10-13 21:02] rohan-varma commented on #46248
We do assign GPUs evenly to processes, but isn't the issue that only 3 processes are started instead of the expected 6? It seems that issue comes from here: https://github.com/pytorch/pytorch/blob/v1.7.0-rc1/test/run_test.py#L181 which sets the `WORLD_SIZE` (no. of processes that we need to spawn).

[2020-10-13 21:09] yaroslavvb commented on #32589
Good to see that there's some progress on the default device issue!

In ideal world, integer promotion is done for any floating point parameter.

But, I'm guessing that legacy type-handling code makes this hard to do for all ops. For instance, debugging why `torch.cholesky_inverse(torch.tensor(1))` gets type-error, I got to [this file](https://github.com/pytorch/pytorch/blob/1552a926a3e92f57f2573b

[2020-10-13 21:11] albanD commented on #46209
I think we should move debugging discussions that are unrelated to the feature request to the forum: https://discuss.pytorch.org/
You can open a topic there with code sample and what you expect to see and ping me.

For the particular issue, didn't you get a warning when you tried to access the `.grad`?
From looking at the code, it looks like `states[0][1]` is the `h` that was given as input which

[2020-10-13 21:39] zou3519 commented on #46254
Feel free to add me as reviewer when you have a PR! I remember the torch.norm code has like 5+ different cases. We should test that named tensor support exists in all of those codepaths

[2020-10-13 21:43] dhruvbird commented on #46246
@linbinyu @iseeyuan Any idea why @bdhirsh is unable to build w/o link-whole?

My very naïve guess regarding why you need to `--whole-archive` is because there are some global object whose constructors are used to register ops, and those object are not referenced anywhere. If the compiler decides to leave them out, then their constructors won't be called, and the operator registration won't happen

[2020-10-13 21:52] gchanan commented on #42660
also, not a crash.

[2020-10-13 21:52] DzReal commented on #46259
Hi, all

Just an update on the issue. I've managed to resolve the hang by adding `torch.cuda.set_device(rank)` before the training loop. It stopped subsequent subprocesses (except rank 0) from allocating memory on GPU 0. I assume that is what caused the program to hang. But I still don't know where exactly GPU 0 was accessed by those subprocesses, since I explicitly declared device name when movin

[2020-10-13 21:54] divideconcept commented on #46158
@ptrblck is TF32 support transparently enabled in PyTorch 1.7 when using regular FP32 tensors and convolutions ? Is there anything to know or do to benefit from the speedup of TF32 ?

[2020-10-13 21:54] gchanan commented on #42660
The error message is saying that thee TensorIterator invocation is bogus and (could) result in a silent correctness problem.

[2020-10-13 21:57] albanD commented on #46242
Hi,

After looking into this her are a few comments:
- You should not modify the input to your net when you use DDP. As this input will sometimes be a view of the original input and sometimes not. So you will end up modifying your dataset for some samples at each forward which is most likely not what you want to do.
- @mrshenli will look into removing the Scatter op that creates a view here as it

[2020-10-13 21:58] nelson-liu commented on #30532
If it helps, I put up some K40-compatible pip binaries at https://nelsonliu.me/files/pytorch/whl/torch_stable.html . Versions 1.3.1 to 1.6.0, hoping to keep them updated for new releases.

You can pip-install them with (change desired versions as necessary):

[code]

I tested all of these binaries (except the CUDA 10.2 ones, hoping to get to those soon) by running the word-level language modeling

[2020-10-13 22:00] ptrblck commented on #46158
[This doc](https://pytorch.org/docs/master/notes/cuda.html#tf32-on-ampere) explains the flags, the methods (matmul + conv), and provides an example code snippet as well as links for more information.
Let me know, if you need more info.

[2020-10-13 22:16] divideconcept commented on #46158
@ptrblck Thanks, that's very helpful. I have 2 questions about it though:

1/ do you know if these 2 flags can be accessed via libtorch (C++) and if so, how ?

2/ I'm a little worried that no FP32 vs TF32 improvement could be seen with RTX 30x0 GPUs, because it has very different specs compared to A100.
According to the [GA100 whitepaper page 36](https://www.nvidia.com/content/dam/en-zz/Solutions/

[2020-10-13 22:18] agolynski opened #46291 "ProcessGroup::Work API changes"
## 🚀 Feature
We are propose changing ProcessGroup's collective communication primitives to return ivalue::Future instead of ProcessGroup::Work to be compatible with TorchScript.

This is a placeholder for reporting issues related to this change, e.g. clients that need support for ProcessGroup::Work functionality that might get deprecated due to this migration.

[2020-10-13 22:21] jayenashar commented on #30532
@nelson-liu that's great.  then i only need to worry about conda packages.

this is how i test for cuda: `python -c 'import torch; torch.randn([3,5]).cuda()'`

[2020-10-13 22:23] xsacha commented on #46158
1) The flag is set by at::globalContext().setAllowTF32CuBLAS(bool)

[2020-10-13 22:23] ptrblck commented on #46158
@divideconcept
1. You could set it in a similar way to e.g. `benchmark` via `at::globalContext().setAllowTF32CuDNN(bool)`.
The methods can be found [here](https://github.com/pytorch/pytorch/blob/3f5eee666cfbb5cbc5ced32915658e00b39b40e9/aten/src/ATen/Context.h).

2, The current cublas and cudnn releases did not train their heuristics for 30XX, so regressions might be expected. I'm currently unsure,

[2020-10-13 22:25] gchanan commented on #45860
is this fixed?

[2020-10-13 22:27] SplitInfinity commented on #45860
#45940 is waiting for review with all comments addressed and all tests passing.

[2020-10-13 22:36] mruberry commented on #42660
Fixing the error message is sufficient. It would be OK for the output tensor to have a different dtype, too. Then safe casting rules would apply (i.e. no float -> int conversions).

[2020-10-13 22:39] mruberry commented on #46240
Does NumPy's pad function's symmetric padding mode implement this behavior? (See https://numpy.org/doc/1.18/reference/generated/numpy.pad.html?highlight=pad#numpy.pad.)

I'd like us to consider implementing a pad function like that to simplify our padding UX.

[2020-10-13 22:42] mruberry commented on #46255
We would accept a PR adding this behavior.

[2020-10-13 22:53] mruberry commented on #32589
Unfortunately there's no developer documentation for adding a new operation. This would be good to fix.

Issues (or one tracking issue) for which functions should but don't have this behavior would be helpful.

[2020-10-13 23:18] pranaynaki commented on #42095
@mrshenli Is there any work to bring the nccl backend to Windows?

[2020-10-13 23:30] osalpekar commented on #46278
Closed by #46265

[2020-10-13 23:30] #46278 closed

[2020-10-13 23:37] choidongyeon opened #46297 "v1.7.0-rc1 4 data loader test failures: unexpected keyword argument 'persistent_workers'"
## 🐛 Bug

There are four test failures when running `test_dataloader.py`, all of them are related to `persistent_workers`. I don't have enough context on this right now to understand what's up. Are there plans to fix this before 1.7.0 is officially released?

## To Reproduce

Steps to reproduce the behavior:

`python test_dataloader.py`

[code]

## Expected behavior

## Environment

Please copy an

[2020-10-13 23:54] albanD commented on #22620
The error "Numerical gradient for function expected to be zero" happens if your function returns nothing that requires grad. See the check [here](https://github.com/pytorch/pytorch/blob/e1c9aa918a7a0a5a06d9d276206f42341f1ea714/torch/autograd/gradcheck.py#L322-L331).

So the error comes from the fact that your forward saves for backward something that is neither an input or output.
Why don't you ju

[2020-10-14 00:20] SsnL commented on #46297
Did you uninstall old versions?

[2020-10-14 00:24] back2yes commented on #46238
@bdhirsh THX, I will try it.

[2020-10-14 00:32] mruberry commented on #46187
I think we're quickly getting to a concrete plan. Let's look at some data and then review a few options.

First, functions that return tuples (except functions in the nn module, which would include ops like AdaptiveMaxPool1d which have a `return_indices` argument and only returns a tuple if it's true):

**Sorting and selection functions that (can) return a tuple:** topk, kthvalue, sort, unique, me

[2020-10-14 00:38] ptrblck commented on #46178
@LinYichenShelly could you post a code snippet, repository, or more information so that we could try to reproduce and debug this issue?

[2020-10-14 00:44] Heermosi opened #46299 "I'm compiling the pytorch 1.6.0 stable version on CUDA 11.1 and CUDNN 8.04 with 3090 and failed."
## ❓ Questions and Help
So, that is 1.6.0 stable version failed on compiling caffe2 utils.

I'm running the nvidia-docker pulled from docker hub with cuda 11.1 and cudnn 8.04 installed, magma compiled with ampere compatible(should I explicitly specify sm_86?).

And I got this on compiling the code

[code]
It seems the code from caffe2 utils does not recognize sm_86 arch, so is that possible to ove

[2020-10-14 00:51] Heermosi commented on #45021
I'm working on cuda 11.1 and cudnn 8.04
I tried to specify sm_86 into the magma 2.5.4 compilation and it failed to recognize it! All right I used Ampere instead.
And when I tried to compile pytorch 1.6.0 stable version, it failed on caffe2 utils compilation, it was a not support gpu arch error.
So which version should I have  to build and what kind of parameter should I provide with ./configure?
T

[2020-10-14 00:51] Heermosi commented on #45021
自己编，没办法

[2020-10-14 00:54] Heermosi commented on #45021
因为不想用conda所以自己编了，自己编不过要指定GPU类型目前不能单独指定sm_86，貌似magma 2.5.4还没有针对sm86做独立的支持，基本上不需要指定其他的库，里面参数太多看得头痛

[2020-10-14 00:55] dusha1248 commented on #46208
I install clang++ compiler and set it as CUDAHOSTCXX, but mistakes are repeated.

[2020-10-14 00:55] WangWenhao0716 commented on #45021
The same error with you. Please install the nightly version of pytorch directly without compiling by yourself. The performance cannot be improved by cuda11.1 with cudnn8.0.4, currently.

发自我的iPhone

------------------ Original ------------------
From: Heermosi <notifications@github.com&gt;
Date: Wed,Oct 14,2020 8:52 AM
To: pytorch/pytorch <pytorch@noreply.github.com&gt;
Cc: WenhaoWang <2609667791@

[2020-10-14 01:04] Heermosi commented on #45028
它是不是比rtx要快些？，我用11.1+8.0.4直接编1.6.0好像不行，1.7.0能行吗？

[2020-10-14 01:23] Heermosi commented on #46158
Hi, where did you get the code to compile? I cannot find it!
1.8.0?????

[2020-10-14 01:32] zasdfgbnm commented on #46299
1.6 does not support CUDA 11, please use a newer version

[2020-10-14 01:34] #46299 closed

[2020-10-14 01:34] Heermosi commented on #46299
Alright, I'll look into others...

[2020-10-14 01:37] WangWenhao0716 commented on #46158
ha... My friend &nbsp;helps me. Sorry...

发自我的iPhone

------------------ Original ------------------
From: Heermosi <notifications@github.com&gt;
Date: Wed,Oct 14,2020 9:24 AM
To: pytorch/pytorch <pytorch@noreply.github.com&gt;
Cc: WenhaoWang <2609667791@qq.com&gt;, Author <author@noreply.github.com&gt;
Subject: Re: [pytorch/pytorch] No improvement gain between sm_86 (cuda 11.1) and sm_80 (cuda 11

[2020-10-14 01:37] zasdfgbnm opened #46302 "CUDA elementwise ops should use common_dtype instead of output dtype to do computation"
It seems that, many elementwise ops, such as those in https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/UnaryGeometricKernels.cu are dispatching with `iter.dtype()` instead of `iter.common_dtype()`. This is not the same behavior as CPU. We should make them behaving the same way

cc: @mruberry

cc @ngimel @nairbv @mruberry

[2020-10-14 01:50] songpeng326 commented on #46241
Firstly, I thank you very much.
Because I put the library of libtorch in this project before, it caused the file to be very large, so I sent you the compressed package and deleted it.the vision libtorch :libtorch-shared-with-deps-1.6.0+cu101.zipthe vision of cuda : 10.0

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2020-10-14 02:16] FrankLeeeee commented on #46181
Hi Henrique, this is Shenggui and thanks for your help!😀

[2020-10-14 02:38] malfet commented on #23482
@adamjstewart do you have a repro for the issue? If so, can you please install [ninja ](https://ninja-build.org/), start the build process and share `build/build.ninja` here? As I do not see `/usr/include` being added to the isystem path when compiling CPUAllocator.cpp:
[code]

[2020-10-14 02:51] Heermosi commented on #45021
It was a very sad story, and I've bought the card for evaluation.
I hope it worth the cost, but there might be a lot of time before we can unleash its full potential.
Now 50% gain is just enought for me.

[2020-10-14 03:03] ymthink commented on #36035
Encountered the same problem, which slows down the training time a lot.

[2020-10-14 03:04] FrankLeeeee commented on #46087
Hi, I will close this issue as it is solved in https://github.com/pytorch/pytorch/issues/46181

[2020-10-14 03:04] #46087 closed

[2020-10-14 03:11] #46209 closed

[2020-10-14 03:18] dhruvbird commented on #46246
@bdhirsh Did you try disabling MKL?

[2020-10-14 03:34] tengerye commented on #37104
@jamesr66a @speedcell4 Hi, I got the same issue. What is the reason for this? Shall we avoid the global variable?

[2020-10-14 03:54] lly-zero-one commented on #46096
It seems the output size is pretty large for the operator. For each element in height*width, the implementation vectorizes the channel dimension.
[code]

[2020-10-14 04:05] 2015211289 commented on #46084
if torch.cuda.is_available():
    device = torch.device("cuda")
    x = x.to(device)                                      #  I sent x to GPU first,
    y = torch.ones_like(x, device=device)   #  and then created y in GPU , and it worked
    z = x + y
    print(z)
    print(z.to("cpu", torch.double))

[2020-10-14 04:25] nbcsm commented on #42095
@pranaynaki, unfortunately, NCCL 2.x does not support Windows, so there won't be a NCCL backend for Windows in the near future...

[2020-10-14 04:25] hudsontek commented on #29383
Same issue here. I'm also using windows7 x64. Looks like it's a win7 only problem.

[2020-10-14 04:26] hayatkhan8660-maker commented on #5554
Hi @mithunpaul08 , i am working on project related to person re-identification i am trying to re-implement that code of one of the CVPR paper entitled "ABD-Net: Attentive but Diverse Person Re-Identification". I trained the ABD-Net architecture with resnet and densenet but when i am trying to train the architecture using shufflenet backbone I face this error. Could you please help me..

==========

[2020-10-14 04:32] pemryan commented on #29383
The best solution for now is to upgrade the OS to windows 10 or a Linux distro.

[2020-10-14 04:33] saahiluppal commented on #45895
Eventually answering my own question
Have a look at this https://huggingface.co/transformers/main_classes/optimizer_schedules.html#schedules

[2020-10-14 04:34] #45895 closed

[2020-10-14 04:48] ngimel commented on #46037
This unfortunately does not fix all cases that need to be fixed (and breaks some that were not broken)
[code]

[2020-10-14 04:55] linjiapro commented on #12449
Update on my previous post: it turns out that the make file can use {PROJECT_SOURCE_DIR}, but there has to be a dollar sign before it:

 list(APPEND CMAKE_PREFIX_PATH ${PROJECT_SOURCE_DIR}/ThirdParty/libtorch/

[2020-10-14 04:55] adamjstewart commented on #23482
@malfet which issue are you looking for a reproducer for here? Each new version of PyTorch has more and more build issues. Do you want me to try installing the latest version without any of the above mentioned patches? I think I have access to a couple of old machines that exhibit this problem, although I'm currently struggling to build CMake on those systems.

[2020-10-14 05:31] malfet commented on #46171
@TiberiusDeng can you please share source code + build script for the minimal repro case?

[2020-10-14 05:42] janelu9 opened #46307 "support a kind of elementwise mul for sparse tensor"
I think this kind of mul should be executed for sparse tensor , and it should still return a sparse tensor.

[code]

cc @aocsa @nikitaved @pearu @mruberry

[2020-10-14 05:43] malfet commented on #23482
@adamjstewart According to the issue title, PyTorch build system can add unneeded `/usr/include` to the system path, which breaks support for compilers installed into a custom folder. I would greatly appreciate if someone can share a more detailed steps on how to reproduce that particular issue.

[2020-10-14 05:46] malfet commented on #46246
`.a` files are much bigger than actual executables, because they contain multiple repeated instantiations of the standard templates (i.e. every .o file withing static library that uses say std::vector<int> would likely contain an implementation of `std::vector<int>:operator[]()`)
Please try linking it to the hello world executable, and something tells me even with the wholearchive option total siz

[2020-10-14 05:50] malfet commented on #43300
Verified that default codepath of torch-1.7.0.dev20201013%2Bcpu-cp37-cp37m-linux_x86_64.whl no longer contains AVX2 instrucitons by running the following command:
[code]

[2020-10-14 05:50] #43300 closed

[2020-10-14 05:56] Char-Aznable commented on #23482
@malfet My OP uses centos 6.9, which has an ancient compiler toolchain if you want to try that. Basically, find an centos 6.9 (or something even older) and build your own newer compiler toolchain and use that to build pytorch to see if the build system pick up old files from the system path like `/usr/include`

[2020-10-14 06:10] Heermosi commented on #46158
I've also got some performance information based on our applications
And I observed some strange issues on pytorch-cuda11.0-cudnn8.0.3

I'm monitoring the performance of the inference process and I got some timing problem

[code]
This is 2 different image processing time, while they were timeing from inferencing the same picture fed at different position in a sequence.
This strange timing only obs

[2020-10-14 07:09] chengjunlu opened #46310 "COMPILE_TIME_MAX_DEVICE_TYPES is not changed as new DeviceType::Metal added."
The COMPILE_TIME_MAX_DEVICE_TYPES should be 12 instead of 11 when the new "Metal" has been added.

Metal value:
https://github.com/pytorch/pytorch/blob/d790ec6de01a61fe81733c41a64b6092bacfb7bd/c10/core/DeviceType.h#L27

COMPILE_TIME_MAX_DEVICE_TYPES  value:
https://github.com/pytorch/pytorch/blob/d790ec6de01a61fe81733c41a64b6092bacfb7bd/c10/core/DeviceType.h#L32

cc @ezyang @bhosmer @smessmer @ljk

[2020-10-14 07:22] chengjunlu opened #46311 "Compile error when use c10::RegisterOperators::Options::kernel with the return type "std::tuple<Tensor&, Tensor&>""
The code:
https://github.com/pytorch/pytorch/blob/d790ec6de01a61fe81733c41a64b6092bacfb7bd/aten/src/ATen/core/boxing/impl/make_boxed_from_unboxed_functor.h#L366

may use the return_to_ivalue defined here, which requires a l-value tensor as param:
https://github.com/pytorch/pytorch/blob/d790ec6de01a61fe81733c41a64b6092bacfb7bd/aten/src/ATen/core/boxing/impl/make_boxed_from_unboxed_functor.h#L304

T

[2020-10-14 07:26] mruberry commented on #46222
@sarahannali Yes, we would accept a PR fixing this.

[2020-10-14 07:33] david-macleod commented on #46242
Thanks for the quick response, given the scenario where we are wanting to replace some indices of an input tensors with a learnable embedding (given a boolean mask, which will be different for all batches and sometimes the mask will be all false), is there a recommended approach for is this behavior or is it just fundamentally incompatible with DDP after torch 1.6?

[2020-10-14 07:38] mruberry commented on #46165
I'm curious what @ngimel and @ezyang think about this. `to` currently supports memory format, and I imagine they have better ideas about the future of layout and memory format.

As for `is_sparse`, I would suggest we try removing it (Option 2) for now.

[2020-10-14 07:44] SoulSharer commented on #46246
Using selective ops build won't allow us to update TorchScript model on the fly, we would have to recompile application to include new ops that might be used. However it might be a good compromise for now. Thanks for pointing that out.

@malfet While it is true that final binary is less than 1Gb even with `-Wl,--whole-archive,` however it is still huge. It's around 500 MB instead of 250 MB like yo

[2020-10-14 07:59] pyscorcher commented on #46240
@mruberry good point! Yes, numpy behaves exactly like that:

[code]

[2020-10-14 08:18] DineshShrestha commented on #5554
Just change the image file and the text data so that the number of images
and text corresponds to each other.

Dinesh

On Wed, 14 Oct 2020, 06:26 Hayat ullah, <notifications@github.com> wrote:

[2020-10-14 08:23] hayatkhan8660-maker commented on #5554
Could you please explain in a bit detail.. thank you

[2020-10-14 08:31] Heermosi commented on #46158
I've looked into the kernel log there were some thing interesting....

`resource sanity check: requesting [mem 0x000c0000-0x000fffff], which spans more than PCI Bus 0000:00 [mem 0x000d4000-0x000d7fff window]
`
It seems to be root cause to the unstable inference timing. I don't know how to fix it. I've got only 8GB ram, is that the cause?

[2020-10-14 08:39] mruberry commented on #46240
Thank you for the follow-up, @pyscorcher. Looks like it's time to prioritize a pad implementation.

[2020-10-14 08:49] Flamefire commented on #46248
See my comment above (https://github.com/pytorch/pytorch/issues/46248#issuecomment-707946886): Using 3 processes on a system with 6 GPUs should be fully valid. It can be discussed if that should use only 3 GPUs (1/process) or all 6.

It would be good to know where/why NCCL tries to use 6 ranks if only 3 are participating

[2020-10-14 09:12] DineshShrestha commented on #5554
I think you have downloaded the dataset whose dimension vary in size. That
is the reason it is giving you dimension out of range. So before training a
dataset, make sure the dataset you choose for training I.e the image set
and the test dataset is of correct size. Tor example one single image
contain 5 different dataset. So make sure each image have five different
data set for training.

On Wed, 1

[2020-10-14 09:47] TiberiusDeng commented on #46171
@malfet Thank you very much for your attention. I've found a solution. The error may be caused by a registry of torchvision op in my program.  I've removed it and it works.

[2020-10-14 09:47] #46171 closed

[2020-10-14 10:02] antocuni commented on #45821
(sorry guys, I closed the issue by mistake, reopening it)

[2020-10-14 10:10] hameerabbasi commented on #46277
This works somewhat but not completely. The error message is misleading, this happens because you're trying to index by a `float`, which would error in any case.

[code]

[2020-10-14 10:14] KagamiMiro opened #46312 "Could not load library cudnn_ops_infer64_8.dll. Error code 126"
After upgrade to rtx3090, I reinstalled my Windows10 and pytorch with

When I use nn.Conv/nn.BatchNorm layer in my module and do the forward propagation, it shows

in Vscode

in Pycharm

I’ve tried reinstalling pytorch and installed cuda toolkit 11 from developer.nvidia.com, but the problem remains unsolved.

[code]

cc @malfet @seemethere @walterddr @peterjc123 @maxluk @nbcsm @guyang3532 @gunandr

[2020-10-14 11:22] InfiniteLife commented on #46161
That's most info I could get from that message. Not sure what to get more - have no experience debugging such complicated projects.

I've builded torch myself for Release configuration, and now it works fine.

[2020-10-14 12:17] RockingJavaBean opened #46314 "Clang-tidy failed to run due to Python 3.9.0 of setup-python action"
The `Setup Python` step installed the `Python 3.9.0` for the `Clang-tidy` check
It equals to the `max_version` defined in the `setup.py`, causing the script exited with error code `1`.
https://github.com/pytorch/pytorch/blob/62d37b9f263144d77736ff292d1840d4a0956614/setup.py#L180-L182

Below are the extracted error message.
[code]

Failed Github Actions: #46313 #46309
- https://github.com/pytorch/p

[2020-10-14 12:18] Flamefire commented on #46248
Ok some more (printf) debugging: I recorded the invocation of `ProcessGroupNCCL::getNCCLComm` and see that for my case the first process uses devices 0 and 1, the second device 2 and the third device 4.
So for some reason only the first process "remembers" to use 2 devices and expects the same from the others that somehow forgot it.

This still happens on master, so not fixed and pretty sure a bug

[2020-10-14 12:18] malfet commented on #23482
@Char-Aznable, can you share a CMakeCache.txt from the project on your system?

[2020-10-14 12:22] vadimkantorov commented on #23482
This can happen because of multilib/multiplatform feature of GCC and its
configuration. Disabling system paths is possible with some special
switches, but then it may disable all standard includes...--
Vadim Kantorov
+33 6 03 29 27 69

[2020-10-14 13:03] lemonahmas commented on #46299
Hi, may I get to know what version will be capable to use with cuda 11.1?

[2020-10-14 13:08] huang229 opened #46316 "Does the model support semi precision reasoning?"
Hello, do you support semi precision reasoning when deploying trained models?

[2020-10-14 13:14] janeyx99 commented on #46037
Ah oops, I guess I should ask for some clarifications:
1. We only want **cpu** tensors that are 0-dimensional to be treated as scalar exponents when calculating pow.
2. We only want to delegate this special case when the base tensor is on cuda (no other cases)

Essentially, the fix should check the device type of both base and exponent, correct?

[2020-10-14 13:52] AnthonyBarbier commented on #42444
I've hit the same bug: it seems to be a problem with libgomp: when hitting an OMP loop inside a child process no threads get created and the child just hangs there:

[code]

This was running with the following patch:
[code]

[2020-10-14 13:59] Coderx7 opened #46318 "Issues with building Libtorch with /MTd in Windows"
## 🐛 Bug

DLLs cant be built as Debug configuration with `/MTd` under windows.
Creating staticly built libs under windows is also problamatic. and generates wierd linker issues.
Peter kindly suggested to build static libs this way :
[code]
This results in the following errors :
[code]
Creating a Debug configuration with `/MTd` using normal cmake (i.e. generating visual studio solution from cmake b

[2020-10-14 14:20] malfet commented on #46312
I think we just missed this dll from our packaging scripts. Thank you for reporting

[2020-10-14 14:33] ezyang opened #46319 "Remove header declarations for CPUType/TypeDefault"
Previously, they were necessary because static dispatch would call these functions directly. As static dispatch has been removed, the majority of this codegen is no longer needed.

TypeDefault is still invoked from VariableType and some resolution needs to be found there, but I kind of suspect @ailzhang's work on Math kernels will also obviate the need for explicit TypeDefault invocations in Varia

[2020-10-14 14:37] malfet commented on #46312
According to https://app.circleci.com/pipelines/github/pytorch/pytorch/226808/workflows/ca8f2f51-ec15-468d-a8d2-7c3217418348/jobs/8209403
the libraries is copied into the nightly .whl package:
[code]

[2020-10-14 14:42] #46314 closed

[2020-10-14 14:43] gchanan commented on #46310
just confirming this is not a problem on 1.7.

[2020-10-14 14:43] gchanan commented on #46310
just confirming this is not a problem on 1.7.

[2020-10-14 14:43] albanD commented on #46242
Hi,

You just need to clone the input that was given to you before modifying it inplace and all will be good.
In this case, adding a `x = x.clone()` at the beginning of the forward will make the error go away.

[2020-10-14 14:43] #46154 closed

[2020-10-14 14:49] heitorschueroff commented on #46307
This is a good request and we would accept a patch that implements this feature. There are actually 2 things that need to be done, one is broadcasting which is what the current error you are getting is complaining about and the other is implementing mul between dense and sparse tensors. Operators such as torch.add do accept dense and sparse tensors but it also does not broadcast.

[2020-10-14 14:55] keyboardAnt commented on #18996
Oct 14, 2020:

[code]

[2020-10-14 14:56] #41261 closed

[2020-10-14 14:57] glaringlee commented on #41261
@Flamefire
Sorry about the inconvenience, this code will be included in the next release, since 1.7 release is already cut and we want this code stay for longer before in 'release' status. Please built it with master branch at this point. Thanks.

[2020-10-14 15:05] heitorschueroff commented on #46316
Could you please write your question in the following forum https://discuss.pytorch.org/. We try to keep the issues for bugs/feature requests. Thank you!

[2020-10-14 15:05] #46316 closed

[2020-10-14 15:47] spandantiwari commented on #46237
@Darshcg - let us know if this works for you.

[2020-10-14 15:48] pearu commented on #46307
@janelu9 here's a quick workaround to `mul(a, S)` issue:
[code]

[2020-10-14 15:58] heitorschueroff commented on #46065
@SsnL is this a known issue? Can you advise on what may be causing this?

[2020-10-14 16:00] Darshcg commented on #46237
Hi @spandantiwari,
Thank you a lot for your kind response.
I really appreciate your time.

 Actually, I am further converting the ONNX model to TRT Model, but with opset_version=11, the Scatter op is being generated, but Scatter op is not Supported for tensorrt.

Can you please guide for an Alternative Conversion from the PyTorch model to ONNX other than torch.onnx.export?
And what is the reason f

[2020-10-14 16:01] SsnL commented on #46065
Yeah the test is pretty slow, but it has many nested loops running
different configurations of the same setting so if you break it up it is
not too bad.

On Wed, Oct 14, 2020 at 11:58 Heitor Schueroff <notifications@github.com>
wrote:

[2020-10-14 16:05] spandantiwari commented on #46156
@vuksan314 - there are lot of tensor detach and device() calls within your model. They may actually be creating issues here. If they are not required for model inference, can you please try removing them before ONNX export?

It may also be helpful to try using `torch.jit.script()` API to at least see if this model can be converted to a ScriptModule correctly.

Note that TorchScript and ONNX suppor

[2020-10-14 16:08] mrshenli opened #46321 "Add distributed examples into PyTorch CI tests"
### Targeted Examples

This will help us to capture tutorial/examples failures caused by BC-breaking changes. So the test should ideally be the same as the examples. However, as some examples depends on non-PyTorch libraries, we will need to replace those with some dummy implementation. Below is a list of existing examples.

- [ ] [Distributed Reinforcement Learning using RPC and RRef](https://pyt

[2020-10-14 16:19] Flamefire commented on #46248
Ok, I likely found the cause after a lot of tedious debugging. The TLDR is that the `DistributedDataParallel` class can't handle the mix of local and distributed GPUs.

So what happens is:
- A ProcessGroupNCCL is created with 3 ranks (0-2)
- at some point during startup a broadcast of a single tensor is done
- this creates a new NCCL communicator
- For all but rank 0 this hangs in `broadcastUnique

[2020-10-14 16:47] bootpin commented on #40581
Yes we should move to DistributedDataParallel. My hack allowed me to scale training to multiple GPUs but would not be an acceptable addition to the code base.  I however cannot find a C++ implementation of DistributedDataParallel in the 1.6 release. Is this in the works?

[2020-10-14 16:47] monajalal opened #46322 "How can I fix NAN loss (or very large MSE losses)?"
I have this very simple resnet network that I am trying to train from scratch for task of landmark estimation (I have 4 landmarks):

[code]

For the following piece of code:

[code]

I get this NAN as well as very large MSE losses (showing only for one step):

[code]

The other thing besides Network I am also suspicious of is the transforms:

Here's the transforms I am using:
[code]

[2020-10-14 16:48] wconstab commented on #36461
@theycallmefm We'd like to track this down, but from the thread above it looks like we haven't gotten access to all of the code necessary to reproduce the problem.  Would you be willing to share your model code along with your c++ code and detailed steps such that we can observe the issue and debug it?  Alternatively, you could try out the latest pytorch build and let us know if the issue is resol

[2020-10-14 16:55] #42974 closed

[2020-10-14 16:57] walterddr commented on #42975
fixed in https://github.com/pytorch/pytorch/pull/45548

[2020-10-14 16:57] #42975 closed

[2020-10-14 16:58] walterddr commented on #42972
fixed in https://github.com/pytorch/pytorch/pull/45630

[2020-10-14 16:58] #42972 closed

[2020-10-14 16:59] ngimel commented on #40581
cc @pritamdamania (for ddp) and @glaringlee (for c++ apis). Requests to have ddp in c++ come up regularly, can you guys comment on the plans?

[2020-10-14 17:00] wconstab commented on #46180
@Coderx7 thanks for offering to produce a minimal repro- that will help us a lot.  If you can share the script for the simple model and the script that saves/loads it, that would be best.

[2020-10-14 17:02] jeffdaily commented on #45592
Link to landed master PR (if applicable): https://github.com/pytorch/pytorch/pull/46097
Link to release branch PR: https://github.com/pytorch/pytorch/pull/46323
Criteria Category: Significant performance regression from previous release, ROCm-only

[2020-10-14 17:03] heitorschueroff commented on #46297
I could not repro the error above but instead I get `fixture 'worker_id' not found` error for test method `test_worker_info_init_fn`. And test method `test_proper_exit` keeps alternating between worker error and loader error.

[2020-10-14 17:08] peterbell10 commented on #38413
Today, that same documentation says:

So, it seems this was just an error in the CuFFT documentation.

[2020-10-14 17:13] xta0 commented on #46310
No, The metal stuff was landed yesterday. it's only available on master

[2020-10-14 17:16] heitorschueroff commented on #6424
@zou3519 Can this issue be closed?

[2020-10-14 17:16] wconstab commented on #46212
@eellison My hunch without debugging would be that we are creating a 'Token' type in the context of compiling Model and a different 'Token' type in the context of compiling Tokenizer, and there is something inconsistent about the two Token types that prevents interchanging them.  Can you confirm if this is a known issue?  If not, it looks like we have enough info here to repro and track it down.

[2020-10-14 17:17] eellison opened #46326 "[JIT] Unannotated NamedTuple Type should use TensorType::getInferred()"
## 🐛 Bug / 🚀  Feature
[code]

It would be nice if we showed that the Tensor type was inferred because no type annotations were given for the named tuple. There was a user internally who was confused by this.

cc @gmagogsfm

[2020-10-14 17:24] xta0 commented on #46310
Have a fix here - https://github.com/pytorch/pytorch/pull/46327

[2020-10-14 17:26] ngimel commented on #38413
Thanks for checking, @peterbell10 ! Closing the issue, the clone looks to be necessary.

[2020-10-14 17:26] #38413 closed

[2020-10-14 17:29] SplitInfinity commented on #43873
The wrapper class will be shared by all instances of all TorchScript classes (rather, what are known today as TorchScript classes) just like how `RecursiveScriptModule` is used to wrap all scripted modules. So I think the answer is no.

[2020-10-14 17:30] zasdfgbnm commented on #46299
@lemonahmas 1.7 will, but is not released yet. You can also use the master branch.

[2020-10-14 17:34] blefaudeux commented on #42849
@mrshenli wrt the custom bucketing, is there some public plan for that ? It would be super interesting for the lightning integration, we would love to get to a proper `reduce` without having to fork the DDP engine. cc @ananthsub

[2020-10-14 17:38] gchanan commented on #45357
confirmed this isn't a regression, so putting on the 1.8.0 milestone.

[2020-10-14 18:02] eellison commented on #46212
@wconstab, yea, seems like something inconsistent about the types, maybe the compilation unit ? Not a known issue AFAIK

[2020-10-14 18:12] brando90 commented on #5040
Hi Adam,

is it possible to have a description that is more precise of what is causing the error to ease debugging? Is it caused my:
1) my code
2) my RAM
3) my gpu memory
4) filesystem memory

I find that if it's a recurring issue it's often useful to state the source of the problem to more effectively fix it.

[2020-10-14 18:15] mruberry commented on #46037
Either input or exponent can be a CPU scalar tensor when the other tensor is a CUDA tensor.

Cases that should work:

cpu x cpu
cpu scalar x cuda
cuda x cpu scalar (zero dim tensor or actual scalar value)
cuda x cuda

Possibly,  haven't looked too carefully, but you definitely don't want to take an item() from a CUDA tensor because this will cause a cross-device synchronization, and one of our des

[2020-10-14 18:19] EverLookNeverSee commented on #46160
Thanks

[2020-10-14 18:41] #26669 closed

[2020-10-14 18:41] gmagogsfm commented on #44842
Should this be closed?

[2020-10-14 18:42] vfdev-5 commented on #46160
Let me close the issue as answered, feel free to reopen if needed more help on this topic.

[2020-10-14 18:42] #46160 closed

[2020-10-14 18:42] nikithamalgifb commented on #44842
Yes, let me close this.

[2020-10-14 18:42] #44842 closed

[2020-10-14 18:43] nikithamalgifb commented on #44842
Closing.

[2020-10-14 18:43] ngimel commented on #45629
I agree with @dzhulgakov and @gdankel that we should provide a list of standardized labels. Pytorch does not control training loop abstraction, so we ourselves cannot do much with those labels, but it would provide a way for add-on packages to have an easy semi-standardized way of putting their own labels.
I'm less certain about implicit advance, for one thing, because it's too magical, for anothe

[2020-10-14 18:45] gchanan commented on #46302
I don't think this causes a bug because our current unary ops require the same dtype(s).

[2020-10-14 18:50] happywu commented on #34540
Hi @vfdev-5 ,
By setting
[code]
would occur RuntimeError: CUDA error: CUBLAS_STATUS_ALLOC_FAILED when calling `cublasCreate(handle)`

Tested on pytorch==1.6.0, torchvision==0.7.0

[2020-10-14 18:54] ejguan commented on #46297
Agree with @SsnL.
Cleaning up the environment will solve the issue, since persistent_workers is just introduced to 1.7.0

[2020-10-14 18:56] ejguan commented on #46297
I think we explicitly introduce the `worker_error` and `loader_error` to check if the `DataLoader` can exit properly.

[2020-10-14 18:58] gchanan commented on #45592
Link to landed master PR (if applicable): https://github.com/pytorch/pytorch/pull/45782
Link to release branch PR: https://github.com/pytorch/pytorch/pull/46333
Criteria Category: Test/CI fixes or improvements

should allow ROCm tests to pass.

[2020-10-14 19:03] gmagogsfm commented on #45985
Notes on implementing it.

- A pre-scan of sortable types should be enhanced to allowed `optional[T]`
https://github.com/pytorch/pytorch/blob/5500b62f28c2cf49f50c752a7c0f2a57b46b8bb5/torch/csrc/jit/runtime/register_prim_ops_fulljit.cpp#L1175

- Comparators should support sorting `optional[T]` by checking whether it is `None` first and then delegate to comparator of `T`
https://github.com/pytorch/p

[2020-10-14 19:04] froody commented on #45995
Reopened with reduced test case for crash using gloo backend only

[2020-10-14 19:07] ngimel commented on #46302
It does not cause bugs now, but in the linked PR cuda and cpu behavior is divergent because of this.

[2020-10-14 19:08] gmagogsfm commented on #45985
A testcase:
[code]

[2020-10-14 19:09] KiddoZhu opened #46334 "A race problem of JIT cpp extensions in distributed setting"
When compiling JIT cpp extensions in distributed setting for **the first time** on a machine, processes will have race problems in creating the temporary directory for compilation. This always halts the program.

[code]

Once the directory has been created, running the program again won't cause the error.

The problem can be reproduced using the same code snap in #6353. This may be fixed by a lock

[2020-10-14 19:14] pritamdamania87 commented on #40581
I'm not aware of any immediate plans to support a C++ API for DDP. @ngimel If you have references to additional gh issues/forum posts requesting this feature, it would help us to prioritize a C++ API accordingly.

[2020-10-14 19:17] zdevito commented on #46277
In the case where we run into this, `MyTensor` is not a Tensor (nor does it contain one, it is a symbolic representation of a Tensor), so trying to use `as_subclass` isn't really viable. When I looked at the code for handling `__getitem__` in C++ it looks like it is only checking `self` for `__torch_function__`, but is ignoring the potential `__torch_function__` on the index variable.

[2020-10-14 19:34] brando90 commented on #5040
https://discuss.pytorch.org/t/training-crashes-due-to-insufficient-shared-memory-shm-nn-dataparallel/26396/26
https://github.com/pytorch/pytorch/issues/5040

[2020-10-14 19:34] albanD commented on #46242
Removing the 1.7 milestone as the fix is fairly dangerous and would only change from an internal assert to a nice error message. The release note will explicitly mention this case as raising an internal error to reduce user confusion when getting this error.

[2020-10-14 19:37] rohan-varma commented on #46276
It looks like this issue might be specific to `pytest` as I was able to use the OSS test runner as follows: `python test/run_test.py --verbose -i distributed/test_distributed_fork`.

And I was able to see the raised error, such as:
[code]

Not sure why it doesn't work the same for pytest or if there is a way to specify the specific test without pytest.

[2020-10-14 19:40] ljk53 commented on #46246
This is because the Android NDK cmake toolchain file always add "-g" flag to generate debug info regardless of CMAKE_BUILD_TYPE - it's expected that later build step will strip before releasing.

pytorch's master cmake file has logic to add "-s" compiler flag for Android build to neglect the "-g" flag. However, it only works for GCC compiler. Newer Android NDK has moved to clang so this 'hack' no

[2020-10-14 19:41] mariosasko commented on #46322
Please use [PyTorch forum](https://discuss.pytorch.org/) for this sort of questions. Higher chance of getting answers there.

Btw, from what I see (didnt went through the code thoroughly) you are not iterating through the dataloader properly. Basically, you use the 1st batch over and over (iter gives you an iterator, and with next you get the first chunk).

Instead of:
[code]
try:
[code]

Let me k

[2020-10-14 19:47] rohan-varma commented on #45995
Confirmed that the same error seems to happen even if `rpc.BackendType.TENSORPIPE` is used as the RPC backend.

[2020-10-14 20:37] zhuqiangLu commented on #46312
Hi, @KagamiMiro

You can download the cudnn achieve from https://developer.nvidia.com/rdp/cudnn-archive and simply put the dlls in your pytorch lib. For example, in my case, I need to put these dlls to  E:\ANACONDA\Lib\site-packages\torch\lib

[2020-10-14 20:50] zou3519 opened #46339 "Fix batching rule for transpose"
## 🐛 Bug

Batched gradient computation with transpose doesn't work in an edge case.

## To Reproduce

[code]
gives

[code]

The expected result is `torch.tensor([3.14, 3.14*2, 3.14*3])` (vmap does 3 vjps here).

## Resources

- [How to write a batching rule](https://github.com/pytorch/pytorch/blob/635aebdfab20d9ace8ecfaf347102f0a49fa3553/aten/src/ATen/BatchingRegistrations.cpp#L8-L49)
- [What is a

[2020-10-14 21:02] zou3519 opened #46340 "Add batching rule for real and imag"
## 🐛 Bug

real and imag are used in complex autograd. To support batched gradients with complex autograd, we will need to implement batching rules for real and imag.

## To Reproduce

[code]
raises
[code]

## Resources

- [How to write a batching rule](https://github.com/pytorch/pytorch/blob/635aebdfab20d9ace8ecfaf347102f0a49fa3553/aten/src/ATen/BatchingRegistrations.cpp#L8-L49)
- [What is a Batch

[2020-10-14 21:08] eellison opened #46341 "[JIT] Better Error Messages for mistyped Class Members"
## 🐛  Bug
[code]
Gives

This is occurring because `sel.val` is not annotated as an int. It would be nice if the error message would be better here (and if scripting Mod didn't require me to annotated ValHolder with `torch.jit.script`...)

cc @gmagogsfm

[2020-10-14 21:12] zou3519 opened #46342 "Enable batched gradient computation for torch.cdist"
## 🐛 Bug

torch.cdist doesn't support batched gradient computation.

## To Reproduce

The following code attempts to compute a jacobian using batched gradient computation.
[code]
It errors out with `RuntimeError: Batching rule not implemented for aten::contiguous; the fallback path doesn't work on out= or view ops.`

## Expected behavior

No error. `vmap` has this issue where it cannot handle cont

[2020-10-14 21:52] SciPioneer opened #46348 "C++ DDP Communication Hook"
## 🚀 Feature
DDP communication hook was proposed in #39272, and a Python implementation is included in release 1.7. It turns out that a C++ prototype implementation has shown more performance gain than the Python counterpart.

Need to officially support a C++ communication hook, which is a subclass of `CommHookInterface`.

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @

[2020-10-14 22:07] #40362 closed

[2020-10-14 22:10] rohan-varma commented on #46259
Sounds good, it looks like this can be resolved by setting `torch.cuda.set_device()` then. I'll go ahead and close this out.

[2020-10-14 22:14] isrobson opened #46350 "torch.distributions.half_normal.HalfNormal.cdf returns negative values"
## 🐛 Bug

I've been using `torch.distributions` for a bit of probability work and noticed a strange behavior where `torch.distributions.HalfNormal` returns a _negative value_ for some CDF scores -- something that is typically bound between 0 and 1.

## To Reproduce

Steps to reproduce the behavior:
[code]

Output is:
[code]

## Expected behavior

Mathematically, a HalfNormal variable should always

[2020-10-14 22:20] #46259 closed

[2020-10-14 22:23] choidongyeon commented on #46297
Hi @SsnL, thanks for the advice - I created a new conda env to test this out again and do not run into the issue anymore. Thank you for the explanation @ejguan ! Closing issue.

[2020-10-14 22:23] #46297 closed

[2020-10-14 22:43] gchanan commented on #46242
putting back 1.7.0 milestone while we investigate it from the DDP side.

[2020-10-14 22:59] wentaozhu commented on #31460
Are there any updates on this? I have run into this issue as well.

[2020-10-14 23:00] szhengac commented on #45953
@nickgg it works. Thanks!

[2020-10-15 00:22] #45324 closed

[2020-10-15 00:23] henryiii opened #46367 "[chore] Test pybind11 2.6.0 (RC 2?)"
There [is a bug](https://bugs.python.org/issue41237) in CPython 3.9.0 (already fixed in 3.9 and master) that breaks pybind11 extensions slightly, causing them to exhibit UB (on macOS, usually segfaults on process exit). While this will be fixed in CPython 3.9.1, and has [already been patched](https://github.com/conda-forge/python-feedstock/pull/402) in Conda-forge's Python 3.9 build, it is likely

[2020-10-15 00:26] chengjunlu commented on #46310
Thanks for the information.
Close this issue because there's a fix already.

[2020-10-15 00:26] #46310 closed

[2020-10-15 00:50] TDHTTTT commented on #21411
Is this still an interesting issue for pytorch? If so, I am willing to contribute.

[2020-10-15 01:04] garroud opened #46368 "[JIT] Inconsistent behavior of torchScript parser in python and c++"
## 🐛 Bug

I am trying to writing some unit tests for torchScript interpreter with utilization of torch.jit.fork. In detail,  I tried to compile the following script in C++ with the complie API provided in JIT:
[code]
The function is able to be consumed by `torch.jit.script` API but not able to be compiled in C++ due to error msg:
[code]
As a workaround, I tried to use `torch.jit.script(run_paralle

[2020-10-15 01:38] albanD commented on #45210
Reserving for bootcamp.
The task should consist in:
- Get pytorch setup
- Reproduce the failure when trying to execute the given sample
- Ensure that dropping the requires_grad=True for the randint make it work
- Update the doc inline and send a PR

[2020-10-15 01:39] albanD commented on #45119
Closing as this is fixed in master. Feel free to re-open if you still see the issue on nightly build.

[2020-10-15 01:39] #45119 closed

[2020-10-15 01:42] albanD commented on #44640
@rtqichen are you working on this? Otherwise I would like to take on this task for a new person in the team.

The task would consist in
- Consider only vjp/hvp first
- Add a test to show that in fails when run in a `with.no_grad()` block
- Add the appropriate `with torch.enable_grad()` for the part that always need to be differentiated.
- Send a fix for that
- Next steps are to support jacobian/he

[2020-10-15 01:46] rtqichen commented on #44640
Ah sorry, I haven't been able to get around to this yet. Feel free to re-assign.

[2020-10-15 01:51] albanD commented on #44546
Hi,

I think this is fixed in master no?
The first test has been moved to the proper files for torchbind and the two cuda tests are now properly protected with `@skipCUDAIfRocm`.
Can you confirm it is all good now?

[2020-10-15 02:08] Heermosi commented on #46299
geiniyigelianjie

[https://github.com/pytorch/pytorch/issues/45028]

neirongdazhiruxia:
1. shiyong nvidia-docker cuda11.0-devel
2. anzhuang anaconda3
3. `conda install pytorch torchvision cudatoolkit=11 -c pytorch-nightly`

[code]

[2020-10-15 02:16] lemonahmas commented on #46299
伸手党谢过 抱拳了老铁

[2020-10-15 02:18] albanD opened #46373 "Add `inputs` argument to `autograd.backward()`"
## 🚀 Feature
Update the `autograd.backward()` and `Tensor.backward()` APIs to have a `inputs` argument.
This will contain a list of leaf Tensors for which the `.grad` field should be populated.
All other leaf Tensors should be ignored.

## Motivation

This will enable the use of `.backward()` in NN use cases where only a subset of the `.grad` fiels should be updated.
This happen in the context of

[2020-10-15 02:27] albanD commented on #3307
Taking for bootcamp.
The implementation [here](https://github.com/pytorch/pytorch/blob/e2f12885140c36c1d5bf82de6eb47797856fdacd/torch/tensor.py#L42-L76) should be updated to properly deepcopy the `.grad` field if it exists.

[2020-10-15 02:36] albanD commented on #4661
Note that because the `Tensor.backward()` is directly hooked into the c++ API, this warning should be added directly [there](https://github.com/pytorch/pytorch/blob/5640b79bf8a5412a0209a919c05c811d5427cc12/torch/csrc/autograd/autograd.cpp#L131) and use the `TORCH_WARN_ONCE()` macro to generate the warning. It should also be tested in tedt/test_autograd.py.

[2020-10-15 02:45] anjali411 opened #46374 "Complex Number support for torch nn modules"
## 🚀 Feature
This issue is meant to roll up the conversation for how PyTorch intends to extend complex number support to nn module.

## Motivation

Complex Neural Networks are quickly becoming an active area of research and it would be useful for the users to be able to create modules with complex valued parameters.

## Pitch

Some of the things intended to be discussed further are:
1. Creating mo

[2020-10-15 02:54] tengerye opened #46375 "JIT: segfault in LSTM"
## 🐛 Bug

Segfault error when tried to convert JIT on LSTM with `flatten_parameters()`.

## To Reproduce

Steps to reproduce the behavior:
[code]

## Expected behavior

## Environment

PyTorch version: 1.5.0+cu101
Is debug build: False
CUDA used to build PyTorch: 10.1
ROCM used to build PyTorch: N/A

OS: Debian GNU/Linux 10 (buster) (x86_64)
GCC version: (Debian 8.3.0-6) 8.3.0
Clang version: Could

[2020-10-15 03:08] #43212 closed

[2020-10-15 03:12] ezyang commented on #46373
SGTM

[2020-10-15 03:17] ezyang commented on #46374
nn module initialization has long been a sore point for PyTorch; for example, we still don't have a canonical way to directly initialize modules on CUDA, users have to initialize on CPU and move to CUDA.

[2020-10-15 03:30] yangsenius commented on #39165
How do you solve the issue of `List[torch.Tensor]` as the input of the module that has been inserted by `torch.jit.script` ?

I run the same issue when using PyTorch 1.6. The error is :

[code]
I also change the `nn.Sequential` into the `nn.ModuleList`, but it didn't work

[code]

@WaterKnight1998 @eellison . The `List` type is not supported?

[2020-10-15 04:36] mathmanu commented on #45635
Looking forward for Graph Mode Quantization Aware Training.

[2020-10-15 05:00] peterjc123 commented on #46312
Thanks for.reporting. I will take a look.

[2020-10-15 05:48] lidorshimoni commented on #40671
**Rebooting fixed the issue** for me as well

[2020-10-15 06:05] peterjc123 commented on #46312
Looks like the anaconda team forget to package the `cudnn_ops_*.dll` into the package. Should we package them in our package, @malfet ? Or should we open an issue at somewhere, cc @soumith ?

[2020-10-15 06:09] Ri0S opened #46377 "rtx3090 with half precision shows lower speed than single precision"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. any models with fp16

[code]

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

PyTorch version:

[2020-10-15 06:12] peterjc123 commented on #46318
Please try the following commands.
[code]

[2020-10-15 06:12] Heermosi commented on #45028
I've observed a 44% performance gain compared 3090 to Titan RTX on benchmarking CRAFT algorithm.
The 3090 was running on a 8GB ram old computer with a pcie 2.0 16x slot, an i3-4130 cpu.
The Titan RTX was running on the 64GB ram computer with a pcie 3.0 16x slot with 8x mode, an i7-9700k cpu.
The gpu running time(and plus some cpu time) on titan rtx compared with 3090 was 144:100.
So that 3090 must

[2020-10-15 06:23] Heermosi commented on #45028
I've observed a performance boost when I set cudnn benchmarking to True.
It seems general pytorch nightly build cannot ultilize the sm_80/sm_86 arch.
So please check that if you have set the option on, with out setting that option, it can be even slower than an Titan RTX.

[2020-10-15 06:32] #45860 closed

[2020-10-15 06:34] Heermosi commented on #45028
May be you can remove the 2060M on a same machine?

Well, I guess, the strange result might be... they did not compute at all or it did not get to that device(cuda:1) at all.

[2020-10-15 06:44] meet-VC opened #46379 "Reduce "reserved" memory by PyTorch."
I am using Facebook's Detectron-2 custom training.

But I am getting error for: **RuntimeError: CUDA out of memory. Tried to allocate 48.00 MiB (GPU 0; 15.90 GiB total capacity; 14.55 GiB already allocated; 33.81 MiB free; 15.08 GiB reserved in total by PyTorch)**

Installing PyTorch:
[code]
Training Code:

[code]
[code]
Error Log:

[code]

[2020-10-15 07:08] xsacha opened #46380 "JIT LibTorch: Profiling Mode Enabled causes memory leak"
## 🐛 Bug

I noticed in a recent nightly (around 1.7.0-rc1) that memory seems to uncontrollable leak per forward run. I am seeing about 4-15MB/second in a particular app. I tracked it down to at::cat being called with memory that is never deallocated and noticed some calls to ProfilingRecord's.

Eventually I tracked down that turning off profiling mode successfully eliminates the memory leak.
Also,

[2020-10-15 07:23] cdluminate opened #46381 "[Feature] Imbalanced batch scattering in th.nn.DataParallel"
## 🚀 Feature

When, say 4 GPUs (e.g. Titan Xp with 12 gigs of video memory) are shared among a group of people, the balanced (default) data scattering (i.e. sizes of sub-batches scattered across these cards are nearly the same) may not be flexible enough to fully leverage the GPU resource in terms of the graphics memory. For example, when the other students / colleagues  have consumed [1GB, 2GB, 8

[2020-10-15 07:24] chengjunlu opened #46382 "ATen operation registration "c10::RegisterOperators::op" API asserts when register aten operation."
## 🐛 Bug

Because of the "c10::RegisterOperators::Options::impl_unboxedOnlyKernel" has been removed in #42841
The user cannot create the KernelFunction with unboxed kernel only.
The code asserts when c10::RegisterOperators::op adds the new kernel to the Dispatch table.

## To Reproduce

Use the old API "RegisterOperators" is used to register the aten operation for the new specific backend
[code]

[2020-10-15 07:33] ekhahniii commented on #43135
Hi @mrshenli, I currently take [your suggested approach](https://github.com/pytorch/pytorch/issues/43135#issuecomment-676852360) (verbatim) to use torch.utils.checkpoint in a distributed setting. Unfortunately, I do notice a significant accuracy drop compared to DDP when manually reducing (and averaging) gradients, without other code changes (besides not wrapping the model in DDP).

I'm wondering,

[2020-10-15 07:34] chengjunlu commented on #46382
The KernelFunction::setManuallyBoxedKernel_ checks whether there is a boxed kernel if the aten operations have a manually unbox boxed call wrapper.
But the RegisterOperators always create the boxed kernel.

How to solve this conflict?

And what is the purpose of the generated_unboxing_wrappers for?

[2020-10-15 07:39] Flamefire commented on #45592
Link to landed master PR (if applicable): #46186
Link to release branch PR: #46385
Criteria Category: Test/CI fixes or improvements

Fix for test_rnn in test/distributed/test_c10d_spawn.py

[2020-10-15 07:56] SoulSharer commented on #46246
Thanks for the fix! '-g0' flag solved the problem. It reduced overall size by ~460 MB which is perfect.
Had no clue about NDK generating debug symbols for release builds behind the scenes, now it makes sense why the resulting binary was huge.

We do use both "--whole-archive" and "--gc-sections" at the same time. And we will consider limiting ops we use for our modules to trim down size even more.

[2020-10-15 07:56] #46246 closed

[2020-10-15 08:37] back2yes commented on #46238
I tried building from source from `1.8.0a0+d5ca53c`, and it worked well with a batch_size as large as 1024. Great~

[2020-10-15 08:37] #46238 closed

[2020-10-15 09:12] Neutron3529 commented on #46158
[code]

[2020-10-15 09:19] miladmozafari opened #46386 "GPU memory when registering a forward hook with "self" access"
## 🐛 Bug

First of all, I am not sure if this issue relates to PyTorch or Python. However, since it happens only on GPUs, I am suspecting that it relates to PyTorch. Apologies if this is not a PyTorch problem.

I found a GPU memory leak (or better to say garbage collection issue) when I register a function with `self` access as a forward hook in a module. This problem happened when I was iterative

[2020-10-15 09:34] Flamefire commented on #46248
@rohan-varma  @mrshenli How to continue here? I'm specifically concerned there are deeper issues. For example I traced the broadcasts to `_sync_params_and_buffers` where the first process does a `broadcast_coalesced` and seemingly finished without any other process being involved which kinda makes sense as it doesn't actually need to do anything. However it uses the wrong communicator (One with GP

[2020-10-15 09:39] zhongqiu1245 opened #46387 "A few question about sharing weights of convolution kernels and your dilation convlution"
1,Could you tell me how can I achieve multiple convolution kernels sharing the same weight? If I want to make 4 convolution kernels to share 1 weight.
2,May I ask whether the implementation of dilated convolution is to generate a convolution kernel with a dilation rate = r as in the original paper or to periodically sample the feature map at equal intervals, then convolve with a common convolution

[2020-10-15 10:50] KagamiMiro commented on #46312
Thank you guys so much!

[2020-10-15 10:50] #46312 closed

[2020-10-15 11:07] vadimkantorov commented on #46374
Related to @ezyang point: https://github.com/pytorch/pytorch/issues/29523

[2020-10-15 11:09] WZMIAOMIAO commented on #44511
i got same problem.

[2020-10-15 11:18] Flamefire commented on #45592
Link to landed master PR (if applicable): #46315
Link to release branch PR: #46388
Criteria Category: Test/CI fixes or improvements

Avoid error when using Python 3.9 (e.g. clang-tidy CI)

[2020-10-15 12:16] jorism1993 commented on #22329
Is there any update on this issue? It would be cool to use custom backward functies with jit!

[2020-10-15 12:17] ozen commented on #45578
You need to wait for the new version of cuDNN (8.0.5 or 8.1) with the improvements for 30 series GPUs. RTX 3090 will be faster than Titan RTX for transformers too. Don't sell your stuff because some guy on the internet has wrong info :)

[2020-10-15 13:50] realiti4 opened #46391 "Warnings during compiling: floating-point value does not fit in required integral type"
Hi, I've moved to Cuda 11.0 and I am getting warnings below while compiling. I just can't remember exactly, but I don't think I saw these with 10.2. I don't know if it related, but `run_test.py` is also failing when it comes to Distribution related tests. I can post test's log when the build is complete, if it is helpful. Thank you.

[code]

 - PyTorch Version (e.g., 1.0): release/1.7 branch
 - OS

[2020-10-15 13:56] hameerabbasi commented on #46277
This is correct. Although it's more complicated than that, if it's a `tuple`/`list` being passed into `__getitem__`, we need to check _every input_ for `__torch_function__` if it isn't an exact `Tensor` or Python type. I seem to recall I couldn't figure out a way to do that at the time without dropping performance, or maybe it was overly complicated.

[2020-10-15 14:41] Flamefire opened #46392 "Replace list(map(lambda constructs by list comprehension"
During debugging I've seen many constructs like `list(map(lambda i: torch.device('cuda:' + str(i)), gpus))`

I'd propose to replace those by "regular" list comprehensions. So the above is equivalent to `[torch.device('cuda:' + str(i)) for i in gpus]`

This replacement can be automated via regexp replacement for (likely) almost all cases.

Reasoning: The nesting of parentheses and the inline lambda

[2020-10-15 14:49] Oldes commented on #10443
@proy0111 I'm getting this:
[code]
I have `Python 3.9.0`.

[2020-10-15 14:50] Jimut123 opened #46393 "Couldn't build multi scaled kernel nested model"
I'm trying to create a modified MNIST model which takes input 1x28x28 MNIST tensor images, and it kind of branches into different models with different sized kernels, and accumulates at the end, so as to give a multi-scale-kerneled response in the spatial domain of the images. I'm worried about the model, since, I'm unable to construct it.

[[Colab-link](https://colab.research.google.com/drive/1LN

[2020-10-15 14:53] #45494 closed

[2020-10-15 15:45] jeffdaily commented on #44546
Test suite should be run with `PYTORCH_TEST_WITH_ROCM=1` to activate the `@skipIfRocm` and `@skipCUDAIfRcom` decorators.

[2020-10-15 15:48] ezyang commented on #46187
What I am missing from the discussion above is a clear explanation of our goals. For example, naively, if our primary goal was Numpy compatibility, I'd expect that we'd be willing to go through quite a bit of effort to get things to line up with Numpy APIs. I think that our prior work on Numpy compatibility has meant that this is not a primary goal; it's tempered by (1) not following Numpy in area

[2020-10-15 15:56] ezyang commented on #46165
Some thoughts:
* I find myself observing a tension between removing these functions versus generalizing them for the brave new world. For example, `to_sparse` could take the sparse layout as an argument (and, for BC reasons, default to COO); similarly, `is_sparse` could simply return true for both COO and CSR (option 3 in https://github.com/pytorch/pytorch/issues/46165#issuecomment-707727764), als

[2020-10-15 16:14] ngimel commented on #46187
As I see it, the biggest problems with option 1) is
 - c++ codegen can't provide this behavior, so python wrappers will be required for functions to implement it
 - script does not support this behavior. Workarounds used in script to support `unique` currently are atrocious, and there was a bit of infrastructure necessary to implement to make even those workarounds possible.
I don't think option 1

[2020-10-15 16:21] suamin commented on #31460
I also ran into the same issue. In my case the training loop generally runs fine but raises the error in a specific batch. The model expects something as `forward(inputs, tag=True, inputs_opt=None)`. Passing partial `kwargs` or all the `kwargs` does not help either. As OP pointed, only `model(inputs)` works. A temporary work around is to create a `dict` with the `args` and `kwargs` and handle them

[2020-10-15 16:31] ailzhang opened #46400 "Make Undefined reprensentable in DispatchKeySet."
followup for https://github.com/pytorch/pytorch/pull/46352

[2020-10-15 16:51] ngimel commented on #44634
I'd suggest adding https://github.com/pytorch/pytorch/issues/14945 to 1.8, performance of `sparse_coo_tensor` call is very bad, we should either fix it or expose unsafe version to python, or, preferably, both.

[2020-10-15 16:51] eellison commented on #46380
Hi, thanks for the issue. Do you have a repro you could share by any chance ?

[2020-10-15 17:33] mcarilli commented on #45420
See
https://pytorch.org/tutorials/recipes/recipes/amp_recipe.html#speedup-with-amp-is-minor
https://pytorch.org/tutorials/recipes/recipes/tuning_guide.html
for general and amp guidance.

If your model/batch size are small and achieve low device utilization, amp won't help, and may hurt.  Also, if your GPU is not Tensor Core enabled (in other words if it's Pascal or earlier) amp isn't expected to d

[2020-10-15 17:49] jsrozner opened #46405 "Allow downstream users to suppress Save Optimizer warnings"
## 🚀 Feature
Enable downstream users of this library to suppress lr_scheduler save_state_warning. (Propose to add an argument to LambdaLR [torch/optim/lr_scheduler.py])

If set to true, the warnings.warn(SAVE_STATE_WARNING, user_warning) that prints "Please also save or load the state of the optimizer when saving or loading the scheduler."  will not be generated.

## Motivation
Various bugs / disc

[2020-10-15 17:51] albanD commented on #45592
Link to landed master PR (if applicable): None
Link to release branch PR: https://github.com/pytorch/pytorch/pull/46406
Criteria Category: 1.7 specific mitigation for https://github.com/pytorch/pytorch/issues/46242 that replaces the internal error by a helpful message.

[2020-10-15 17:53] #32516 closed

[2020-10-15 17:53] ElieAljalbout commented on #21819
I had a similar experience as well, I had an nn.LayerNorm on the cpu receiving as input a tensor on the gpu, having both on the same device fixed the problem.

[2020-10-15 17:56] #37855 closed

[2020-10-15 18:02] #45902 closed

[2020-10-15 18:05] rgommers commented on #46159
I played around with `ManifoldTensor` a bit. Given that there are (AFAICT) no examples in the docs it's a little hard to understand the exact goals and I may be missing something important, but it seems to me that the API of `ManifoldTensor` is a little confusing.

When you construct a `ManifoldTensor`, it has a `.manifold` attribute (the extra "metadata"), all the regular methods that `torch.Tens

[2020-10-15 18:10] erip commented on #43909
Closed with #44257

[2020-10-15 18:10] #43909 closed

[2020-10-15 18:12] erip commented on #44363
@mszhanyi I think this can be closed with the merge of #44257

[2020-10-15 18:14] VitalyFedyunin commented on #46165
Also sparse, strided, and mkldnn they all serve the purpose of efficiently selecting proper kernel, if we 'layout' expandable, we might loose some performance.

[2020-10-15 18:45] albanD commented on #45592
Link to landed master PR (if applicable): #46397
Link to release branch PR: https://github.com/pytorch/pytorch/pull/46408
Criteria Category: Fix wrong error message content for `torch.scatter`. It is a nice to have but not strictly needed.

[2020-10-15 18:49] ngimel commented on #46377
cc @ptrblck, @mcarilli

[2020-10-15 18:50] malfet commented on #46377
@Ri0S is this specific to RTX3090 or happens on other GPUs as well? Also, would this be reproducible with the release build? (Because debug build of PyTorch is not optimized for performance)

[2020-10-15 18:51] mthrok opened #46409 "Custom ops get stuck in multiprocess data loader under certain environments"
## 🐛 Bug

`torchaudio` has custom ops which are written on top of `libsox` and bound via `TORCH_LIBRARY`.
Some ops get stuck when when all of the following conditions are met;
 - Called in `DataLoader` with `num_workers > 0`
 - Python `3.6` or `3.7`
 - `macOS`.
They work fine on Linux or Python 3.8 of macOS.

There are two functions get stuck. `torchaudio.sox_effects.apply_effects_file` and `torch

[2020-10-15 18:55] malfet commented on #46392
Thank you for suggestion. If you have a PR that addresses that already, I would gladly review it

[2020-10-15 19:05] mruberry commented on #46187
I had a chance to talk with @ezyang offline and we would like to submit this as our joint proposal:

- Functions that return named tuples either always returned a named tuple or can "collapse" to a single tensor if no optional tensors are requested. This behavior is to be decided case-by-case.
- When a function returns a named tuple, the uncomputed tensors can be absent, None, or empty tensors. Wh

[2020-10-15 19:06] malfet commented on #46387
Please use https://discuss.pytorch.org/ to ask question about PyTorch

If you feel something is not working as expected, please do not hesitate to file a separate issue

[2020-10-15 19:06] #46387 closed

[2020-10-15 19:10] malfet commented on #46379
Would adding `torch.cuda.empty_cache()` during the training loop help free enough memory?

[2020-10-15 19:13] malfet commented on #46367
@henryiii does it happen on any other platforms that OS X?

[2020-10-15 19:15] henryiii commented on #46367
Only macOS tends to segfault (somewhere between 20-80% of the time), but it's technically UB on all platforms.

[2020-10-15 19:15] malfet commented on #46393
@Jimut123 please post this question to https://discuss.pytorch.org/
But if you believe this is a bug in PyTorch, please do not hesitate to re-open the issue.

[2020-10-15 19:15] #46393 closed

[2020-10-15 19:26] mthrok commented on #46409
**UPDATE** Setting `OMP_NUM_THREADS=1`, seems to resolve the issue. The `num_workers` parameters on DataLoader seems to have no effect on the issue.

[2020-10-15 19:26] malfet commented on #46391
Thank you for reporting the issue. We would gladly accept PR that fixes the warnings.

[2020-10-15 19:29] #45385 closed

[2020-10-15 19:38] henryiii commented on #46367
Though, in this issue I'm hoping someone who knows how to build pytorch can just bump the pybind11 version to 2.6.0rc2, build, and make sure it doesn't explode or something, at least in a way that we have to fix in pybind11 before release. :)

[2020-10-15 20:14] ptrblck commented on #46377
After adding synchronizations to profile the code properly, it seems that `cudnn.benchmark = True` can yield a speedup for the provided workloads (while `benchmark=False` yields bad performance), so I would recommend to use it.
I've used the latest nightly binary with CUDA11.0+cudnn8.0.3 (`1.8.0.dev20201014`)  on a 3090.

Results:
|         | benchmark=False     | benchmark=True     |
|---------|-

[2020-10-15 20:20] malfet commented on #46367
@henryiii do you want to test pybind11 with Python-3.9 or any version of Python will do?

[2020-10-15 20:20] ilia-cher commented on #45629
thank you for the suggestions, these features are not covered by this issue; also please clarify 1. - I think we already support this - we do have both cpu ranges and (when you set use_cuda=True) cuda kernels ranges - we don't output it in a trace yet but FunctionEvent should have information about cuda kernels within it

[2020-10-15 20:21] henryiii commented on #46367
Any version or OS, just to make sure there are no incompatible changes.

[2020-10-15 20:25] mthrok commented on #46409
I suspected the possibility of `libsox`'s OpenMP support interfering Torch, but checking the build log, `libsox`'s OpenMP support is turned off.

https://app.circleci.com/pipelines/github/pytorch/audio/3597/workflows/36d5bc2f-ad1f-49fa-90b6-71a170f14dc3/jobs/106033

[2020-10-15 20:25] malfet commented on #46367
Will find out soon here: https://github.com/pytorch/pytorch/pull/46415

[2020-10-15 20:26] zarzen commented on #35363
are there ways to choose a different version of NCCL at runtime?
I have a modified NCCL, I would like to use with PyTorch distributed API, how could I do?

[2020-10-15 20:27] #24487 closed

[2020-10-15 20:27] #24488 closed

[2020-10-15 20:27] #24489 closed

[2020-10-15 20:27] #24490 closed

[2020-10-15 20:27] #24491 closed

[2020-10-15 20:27] #24492 closed

[2020-10-15 20:27] #24493 closed

[2020-10-15 20:27] #24494 closed

[2020-10-15 20:27] #24495 closed

[2020-10-15 20:27] #24496 closed

[2020-10-15 20:36] SsnL commented on #46409
What happens if you use regular multiprocessing instead of data loader?

[2020-10-15 20:48] #46037 closed

[2020-10-15 20:55] ngimel commented on #24345
This is fixed for 2-norm, re-open if other norms are needed.

[2020-10-15 20:55] #24345 closed

[2020-10-15 20:58] xwang233 commented on #42666
Thanks for the linear algebra tracking issue. Now that cusolver has been included in pytorch nightly build #42403, and cusolver matrix inverse seems to be better than MAGMA on single matrix case. I would also suggest that we start planning to add cusolver implementations for those linalg operations that are slow on MAGMA. A heuristic to dispatch cusolver (single matrix)/cublas batched/MAGMA would

[2020-10-15 20:59] gchanan commented on #45592
Link to landed master PR (if applicable): https://github.com/pytorch/pytorch/pull/46335
Link to release branch PR: https://github.com/pytorch/pytorch/pull/46418
Criteria Category: Test/CI fixes or improvements.  Should allow clang-tidy to pass on release branch.

[2020-10-15 21:02] xsacha commented on #46380
@eellison Can confirm it happens simply running a face detector such as:
https://github.com/biubug6/Pytorch_Retinaface

[2020-10-15 21:04] gchanan commented on #45592
Link to landed master PR (if applicable): https://github.com/pytorch/pytorch/pull/45638
Link to release branch PR: https://github.com/pytorch/pytorch/pull/46419
Criteria Category: Test/CI fixes or improvements. Should fix cuda fuser test failures on release branch.

[2020-10-15 21:11] rgommers commented on #46187
This together doesn't actually say that it's either a single tensor or a namedtuple of _all_ return values. It actually prescribes very little, basically "do whatever makes sense". Which is fine with me, but just to make sure: given that you say it's similar to option 3, did you mean to add something like "_if_ you return a namedtuple, it must have the maximum number of elements"?

[2020-10-15 21:23] xwang233 commented on #42666
@antocuni Do you have any plan to add cusolver SVD implementations in your PR #45562? Or is anyone working on that or interested in doing so?

[2020-10-15 21:23] nithin-nod commented on #41961
This issue was resolved from the DLRM side by tweaking the model (https://github.com/facebookresearch/dlrm/issues/69). These suggestions work for the sequential path.

[2020-10-15 21:23] #41961 closed

[2020-10-15 21:29] SplitInfinity commented on #45592
Link to landed master PR: #45940
Link to release branch PR: #46422
Criteria category: Fix for a crash in an uncommonly used user-facing code path in TorchScript

[2020-10-15 21:35] gchanan commented on #45592
Link to landed master PR: N/A
Link to release branch PR: https://github.com/pytorch/pytorch/pull/46425
Criteria category: Release branch specific changes, fix CI for XLA.

[2020-10-15 21:38] mruberry commented on #46187
You're right, this is vague because the behavior may change in the future. For now it's (1) all tensors returned and (2) uncomputed tensors are empt, which is the simplest thing to implement in PyTorch today.

[2020-10-15 22:01] malfet commented on #46381
Thank you for the proposal. If you have a PR in mind, please do not hesitate to share.

[2020-10-15 22:01] rohan-varma opened #46428 "send_object/recv_object APIs for c10d"
## 🚀 Feature
We should expose 2 APIs, `send_object` and `recv_object` to send picklable, non-tensor objects with send/recv semantics, similar to what is done for RPC arguments (but without using RPC). We will allow these APIs to take in a `rank` argument to address the source/destination of the send/recv similar to the existing send/recv APIs for tensors.

This is a natural extension of the work d

[2020-10-15 22:29] jerryzh168 opened #46430 "module type is not preserved when symbolic tracing torch.nn.quantized.FloatFunctional"
## 🐛 Bug

torch.fx.symbolic_trace does not preserve the type of the module when we don't call forward function of the module.

## To Reproduce

[code]

Result:
[code]
## Expected behavior

type of m.ff should be FloatFunction

## Environment

## Additional context

[2020-10-15 22:37] gchanan opened #46431 "[1.7"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2020-10-15 22:38] #46431 closed

[2020-10-15 22:44] BowenBao commented on #43787
@mruberry should we close this issue now that ONNX div export is updated to perform true_divide? The problem with export time shape/type info availability/correctness is a much broader goal, and we are working continuously to improve the coverage and flexibility of shape/type inferencing.

[2020-10-15 22:51] gchanan opened #46432 "[v1.7] Figure out what to do about https://github.com/pytorch/pytorch/pull/46285"
https://github.com/pytorch/pytorch/pull/46285 reverts https://github.com/pytorch/pytorch/pull/42457, which is in the release branch.  But the test case added by https://github.com/pytorch/pytorch/pull/42457 was actually fixed by https://github.com/pytorch/pytorch/pull/46250 which is not on the release branch and isn't needed (it's a prototype feature).

But the original issue was filed in https://

[2020-10-15 22:56] rgommers commented on #46159
Thanks, that helps. Then the alternative would be:
[code]
All the methods are actually defined on the manifold, e.g.:
[code]
and (modulo a tweak to `__repr__` and pickling support) it seems everything interesting is in `.manifold`.

I'm not suggesting you actually make a change (https://github.com/pytorch/pytorch/issues/46159#issuecomment-707817037 should fix your issue right now), but I think you

[2020-10-15 23:02] rohan-varma opened #46434 "[RFC] A general C10D_DEBUG_LEVEL flag for verbose DDP/torch.distributed logging"
## 🚀 Feature

We should introduce an environment variable `C10D_DEBUG_MODE` that DDP/torch.distributed can read and configure an appropriate logging level based on the requested verbosity. More verbose logging could result in reduced performance while performance should not be impacted by the lowest verbosity level of the logging.

Listing some ideas for what we could dump as part of this logging:

[2020-10-15 23:09] gchanan commented on #46432
According to @spandantiwari this isn't really part of the 1.7 public release so we can just leave this as is.  Feel free to re-open if that's not the case.

[2020-10-15 23:09] #46432 closed

[2020-10-15 23:14] malfet commented on #46386
The issue can be addressed by adding `gc.collect()` to the loop body stabilizes memory consumption

[2020-10-15 23:30] malfet opened #46437 "Call to `torch.cuda.memory_stats` before any allocating any tensors on GPU causes SEGFAULT"
[code]

[2020-10-15 23:30] malfet commented on #46437
And fix is super trivial

[2020-10-15 23:36] robieta commented on #45592
Link to landed master PR: https://github.com/pytorch/pytorch/pull/46023
Link to release branch PR: https://github.com/pytorch/pytorch/pull/46403
Criteria category: Special Dispensation several key tweaks to benchmark utils.

[2020-10-15 23:46] jamt9000 commented on #20692
Fixed in #44167

[2020-10-15 23:46] #20692 closed

[2020-10-15 23:49] rgommers commented on #44634
Added to the list, and cleared stale assignee so someone else can pick it up.

[2020-10-15 23:53] #45113 closed

[2020-10-15 23:55] rohan-varma opened #46438 "On crashes in DDP/C10d, dump relevant state to logs to aid debugging."
## 🚀 Feature

When a process using DDP/torch.distributed crashes, it would be useful to dump the state of various structures within c10d and DDP in order to aid debugging. Examples could include:

1) State and status of various NCCL communicators
2) State and status of outstanding work objects
3) Various configuration options DDP/c10d was initialized with and using
4) Currently active/in-flight re

[2020-10-15 23:58] rgommers commented on #46240
There may be some synergy with or lessons from gh-45667 (`'same'` padding for conv1/2/3d). Cc @peterbell10

[2020-10-16 00:00] mszhanyi commented on #44363
@erip. Well done!

[2020-10-16 00:00] #44363 closed

[2020-10-16 00:07] mruberry commented on #43787
Sounds good.

[2020-10-16 00:07] #43787 closed

[2020-10-16 00:27] peterbell10 commented on #46240
Most of the challenges I'm having with #45667 are codegen related. However, `F.pad` has separate manually created C++ and python APIs so I think sidesteps these issues entirely.

[2020-10-16 01:21] xwang233 opened #46440 "[JIT] TensorExpr causes segmentation fault"
## 🐛 Bug

JIT TensorExpr causes segmentation fault. Bisection shows it's introduced in https://github.com/pytorch/pytorch/pull/45396.

original discussion link https://github.com/pytorch/pytorch/issues/43429#issuecomment-709665059

## To Reproduce

Steps to reproduce the behavior:

- git clone nvidia/deeplearningexample
- checkout `ac059022a54051df1ca4a9c55e0d27c475a6999d`
- cd `PyTorch/SpeechSynt

[2020-10-16 01:23] Ri0S commented on #46377
I can't find any stable version with cuda 11. pytorch 1.6.0 version with cuda 10.2 can't use tensor in rtx3090.
I tested in Titan X (Pascal) with same version in my issue. There is no significant difference from the stable version.

[2020-10-16 01:30] ngimel commented on #46440
cc @ZolotukhinM, @Krovatkin

[2020-10-16 03:03] MaybeS commented on #27212
+1

[2020-10-16 03:36] RichardcLee commented on #45420
Thank you for your patience.
Our model is 2D AttUnet(batch_size=8) and GPU is 1070Ti(pascal)
and we have already used torch.backends.cudnn.benchmark = True at the top of script, but it doesn't work.
So the reason for the problem should be the GPU.

[2020-10-16 03:49] #42977 closed

[2020-10-16 04:00] walterddr commented on #42970
fixed in https://github.com/pytorch/pytorch/pull/43990

[2020-10-16 04:00] #42970 closed

[2020-10-16 04:16] ZolotukhinM commented on #46440
Thanks for the report, I'll take a look at it!

I've extracted a smaller repro if anyone is curious:
[code]

[2020-10-16 04:26] xsacha commented on #46380
I have worked out that the memory leaks occur with the following combination:
[code]

Disabling graph optimiser + enabling profiling mode.

[2020-10-16 04:43] ZolotukhinM commented on #46440
The issue seems to be with how we handle negative values of `dim` for `torch.cat` when converting it to tensor expressions. The code assumed that it cant be negative, but in this test it is. I'll submit a fix for this shortly.

[2020-10-16 04:55] meetgandhi123 commented on #46379
@malfet i really don't have much idea about PyTorch, but I can surely try and let you know. Can you please guide me with where should I add "torch.cuda.empty_cache()" ?

[2020-10-16 06:41] pomelyu commented on #40497
The problem solved in my case. I found, in my code, SSIM calculation cause the NaN loss. I use `torch.cuda.amp.autocast(enabled=False)` to force that part to ran on FP32,  and it worked fine. The results is almost the same as original training, but with less training time.

In more detail, I found the wrong calculation occurred in a convolution used to create Gaussian Blur. I have no idea why it c

[2020-10-16 06:44] litttl opened #46450 "How to use GPU Tensor in diffrent GPUStreams with multi threads"
thread task codes as follow：
void* task_routine3(void** arg)
{
    struct timeval time_cur;
    auto options = torch::TensorOptions().device(torch::kCUDA, 0);
    torch::Device device(torch::kCUDA, 0);

    pthread_t tid = pthread_self();
    std::cout << tid << "Start time:" << time_cur.tv_sec << ":" << time_cur.tv_usec << std::endl;
    at::cuda::CUDAStream mystream = at::cuda::getStreamFromPool

[2020-10-16 06:47] litttl opened #46451 "How can I use parallel cudastreams in multi threads?"
thread task codes as follow：
void* task_routine3(void** arg)
{
    struct timeval time_cur;
    auto options = torch::TensorOptions().device(torch::kCUDA, 0);
    torch::Device device(torch::kCUDA, 0);

    pthread_t tid = pthread_self();
    std::cout << tid << "Start time:" << time_cur.tv_sec << ":" << time_cur.tv_usec << std::endl;
    at::cuda::CUDAStream mystream = at::cuda::getStreamFromPool

[2020-10-16 07:04] Krovatkin commented on #46380
@xsacha

I tried reproducing a memory leak in this commit: https://github.com/biubug6/Pytorch_Retinaface/commit/8e535c33c6b9019246a5c9be90b572cb059d7733 but, unfortunately, I couldn't see any significant increase in memory aside from very small fluctuations (0.3-1%) 😢
I tried both mobilenet and resnet backbones.

Could you please share with us
1) a serialized model by `torch.jit.save(model)` and a

[2020-10-16 07:53] andriyrizhiy commented on #27212
+1

[2020-10-16 07:53] mruberry opened #46458 "Tensor expressions type promotion for torch.sin is incorrect after #45733"
https://github.com/pytorch/pytorch/pull/45733 adds int->float type promotion to torch.sin(), which is consistent with NumPy's sin() function. Since TE implements its own type promotion, that type promotion is now inconsistent with ATen's. The correct behavior is to promote integer inputs to torch.sin() to the default scalar type before the computation.

cc @gmagogsfm

[2020-10-16 08:19] #46440 closed

[2020-10-16 08:31] ZolotukhinM commented on #45592
Link to landed master PR: #46446
Link to release branch PR: #46453
Criteria category: fixes a crash

[2020-10-16 08:53] jomach commented on #37377
Setting MKL_THREADING_LAYER=GNU worked for me. At least the error is gone.

[2020-10-16 10:02] mruberry commented on #45897
Some additional datapoints:

- as best I can tell hspmm, smm, and dsmm are unused
- sparse.mm and spmm appear to be used in a few places

[2020-10-16 10:13] antocuni commented on #42666
I think that the PR has already a broader scope than originally planned (because now it fixes also #45821), so it's probably better to avoid adding too much stuff at it and add cusolver in a separate PR (moreover, I have 0 experience with cusolver, so if anyone wants to take it, I'm fine with it).

[2020-10-16 10:30] IvanYashchuk commented on #42666
I think nobody is currently working on cusolver implementations. I am interested in doing that, we can work on this together @xwang233. We should thoroughly review the performance of magma and cusolver, first. Also I think it's useful not to forget about ROCm here and think how rocsolver fits in this work.

[2020-10-16 10:51] xsacha commented on #46380
@Krovatkin
To replicate you need to disable optimizer like so:
`torch._C._set_graph_executor_optimize(False)`
as in https://github.com/pytorch/pytorch/blob/f5c95d5cf1718bd4b2d5b787d7fae9151efff811/benchmarks/profiler_benchmark/profiler_bench.py

[2020-10-16 11:32] xsacha commented on #46451
Each thread will have its own cuda stream already.

Manual use of the streams is only if you want to use multiple streams within the same thread.

[2020-10-16 11:44] dbalchev opened #46459 "INTERNAL ASSERT FAILED at "/pytorch/aten/src/ATen/core/type.cpp":1029"
## 🐛 Bug

I get this message when I try to use a combination of TorchScript classes and `NamedTuple`s.
The full error message I get is
[code]

## To Reproduce

Steps to reproduce the behavior:

1. I've refined the error into the following code:
[code]

## Expected behavior

Not throwing an exception, like it happens if I remove `torch.jit.script`.

## Environment

Please copy and paste the output

[2020-10-16 12:39] bensums commented on #16076
Just a comment here. The rank calculating code in both linked snippets seems incorrect: If there are no singular values > 0.00001 then they default to full rank, rather than zero rank. OTOH if the rank is guaranteed >= 1 then the code would be correct, but then there'd be no need for the default value at all because the if condition in the loop would always be entered and the rank would be set the

[2020-10-16 13:18] BynaryCobweb opened #46460 "C++ API: Training and inference of torchscript modules on multiple GPU"
At the moment, `torch::nn::parallel::data_parallel` (in file [data_parallel.h](https://github.com/pytorch/pytorch/blob/master/torch/csrc/api/include/torch/nn/parallel/data_parallel.h) ) only works with native torch modules and cannot handle modules traced with torch.jit.

Is there any plan to support it in the future? Are there technical limitations explaining why this is not implemented yet?

[2020-10-16 13:23] Flamefire commented on #46392
Created #46461 and #46462 addressing this. Note how the intend is clearer, especially in complex cases which even led to discovery of a bug in the test code.

[2020-10-16 14:09] erip opened #46464 "[META] Assert that expected libraries appear in libtorch"
## 🚀 Feature

We should create an expected list of files to appear in libtorch to test that libtorch was build correctly.

## Motivation

With #44257, we should expect that libtorch bundles contain pytorch_jni libs appear in libtorch bundles. This currently doesn't happen because of upstream cmake issues in fbjni.

## Pitch

To make sure that upstream issues don't silently cause issues in libtorch

[2020-10-16 14:13] bb-1357 opened #46465 "Random errors：module 'torch.utils.data' has no attribute 'IterableDataset'"
## 🐛 Bug

cuda10.0, torch 1.1, python3.6~3.7,Our team uses the same set of codes, and the version of torch is **consistent**.The strange thing is that only a few people meet this error,in any ways they cannot import this package.

## To Reproduce

Steps to reproduce the behavior:

1.Not everyone had this problem.
2.Our only current solution is to copy and paste all torch files from people who can

[2020-10-16 14:33] bderrett opened #46468 "Advanced indexing: allow combining Boolean & integer index"
## 🚀 Feature
In NumPy, this works:
[code]

In PyTorch (master branch), it doesn't:
[code]

It would be great if PyTorch allowed this kind of indexing, to make using PyTorch easier for newcomers familiar with NumPy, and to make this kind of indexing operation more concise.

cc @mruberry @rgommers @heitorschueroff

[2020-10-16 14:42] wconstab commented on #46458
@mruberry can you be more specific, are you saying that the TE implementation should promote int to float following numpy, or something else (how to determine the correct 'default scalar type')?

[2020-10-16 14:45] Flamefire commented on #41469
I'm still seeing this issue, however after resolving a long standing bug in OpenBLAS on POWER the issue got much better. I see a failure in `test_conv_large_cpu` which is always as follows:

[code]

The actual values are constant, so the results are at least stable now. When checking the test code I see a comment:

[code]

Hence I think the test itself might be unstable. I also see a dependency on

[2020-10-16 15:26] albanD commented on #41469
Thanks for the update!

From what I understand from this test, the input is very large (and so there are very large reductions in the backward). So they have to use this trick to avoid the reduction in one dimension (and thus reduce reduction errors).

Given the values, it does look like a loss of precision due to different float reduction ordering. But is it expected for this reduction to be less

[2020-10-16 15:54] mthrok commented on #46409
Not sure if this is a right way but I ran the following script and it worked fine for both Python's standard multiprocessing and PyTorch's multiprocessing module.

[code]

[2020-10-16 16:09] gchanan commented on #46458
it should promote to the default dtype.  In python land that's `torch.get_default_dtype()`, in C++ it's `at::get_default_dtype()`.

[2020-10-16 16:17] mruberry commented on #42666
After talking with @ptrblck, we decided to create separate tasks to review performance and look at switching some function to cuSolver. It's a great idea, @xwang233.

[2020-10-16 16:31] gchanan commented on #46465
what's your version of torchtext?

[2020-10-16 17:18] hologerry commented on #22095
Saved my life!

[2020-10-16 17:24] gchanan commented on #45592
Link to landed master PR: N/A
Link to release branch PR: https://github.com/pytorch/pytorch/pull/46478
Criteria category: Release branch specific changes, fix CI for backwards compatibility

[2020-10-16 17:27] viraj123456789 commented on #10443
ERROR: Could not find a version that satisfies the requirement torch===1.6.0 (from versions: 0.1.2, 0.1.2.post1, 0.1.2.post2)
ERROR: No matching distribution found for torch===1.6.0

[2020-10-16 17:33] Oldes commented on #10443
@viraj123456789 you must use Python 3.8, not 3.9!

[2020-10-16 17:38] Oldes commented on #10443
Also as https://download.pytorch.org/whl/cu102/torch-1.6.0-cp38-cp38-win_amd64.whl is over 1GB and `pip` which I was using had problems with downloading it.. better is to download the file from browser (where one can do resume) and than install using:
[code]

[2020-10-16 17:58] yohan-pg opened #46480 "Allow negative learning rates"
## 🚀 Feature
Currently, optimizers throw an assertion error when negative learning rates are supplied at construction. This proposal suggests removing this restriction.

## Motivation
Since maximization is equivalent to minimizing a negative loss function, negative learning rates are useful and make sense. For example, in GANs, the generator and discriminator can be trained adversarially by giving

[2020-10-16 18:25] ezyang commented on #44120
My guess is that the ONNX tests are only running on one particular CI config, which is not the one that is populating coverage information.

cc @malfet

[2020-10-16 18:26] ezyang commented on #46367
Last time I tried https://github.com/pytorch/pytorch/pull/31920 ASAN started failing; hope we have better luck this time.

[2020-10-16 18:27] mbanani opened #46483 "Error when using TorchScript with autograd"
When trying to apply torch.jit.script on a function that calls `torch.autograd.grad`, I ran into the following error:

[code]

If I understood the error correctly, it's expecting the output of `torch.autograd.grad` to be a List of tensors but found a Tensor, when the output is a tuple of tensors.

I suspect the issue to be in this line, but I am not sure: https://github.com/pytorch/pytorch/blob/93

[2020-10-16 18:38] henryiii commented on #46367
Excellent, glad to see it wasn't the 2.6 changes at least. I was looking through the changes and couldn't see anything in the last several versions that would be likely to fail, but it looks like I wasn't looking back far enough, then.

This _only_ affects llvm, by the way, I rebuild locally in a LLVM docker container and forgot to force LLVM, and it passed. I rebuild forcing LLVM and got the four

[2020-10-16 18:45] ezyang commented on #46187
I think this accurately reflects our conversation. However, it is not the full story because we need a plausible proposal for how to adjust codegen to handle this.

[2020-10-16 18:46] ezyang commented on #46187
Python codegen will be easier to change when https://github.com/pytorch/pytorch/pull/46244 lands.

cc @ljk53

[2020-10-16 18:48] ezyang commented on #46311
@ailzhang When you mentioned that you had successfully convinced some folks to migrate to the new API, was it in reference to this issue?

[2020-10-16 18:54] malfet commented on #44120
That's correct, code coverage is currently running only on for one configuration, i.e. pytorch_linux_bionic_py3_8_gcc9_coverage_test. I can easily add subset of ONNX tests there, or enable Python code coverage collection during ONNX test runs

[2020-10-16 18:55] malfet commented on #46367
@henryiii please let us know if you need any help debugging those

[2020-10-16 19:05] henryiii commented on #46367
I'd be happy to have some, especially on the first one, I'm fairly familiar with the internals of pybind11 and _using_ PyTorch, but not the internals of PyTorch. :)

Any idea why these would only show up on LLVM?

I think it's okay to move forward on the release of pybind11 2.6.0, and if changes are needed in pybind11, that should be an easy 1.6.1.

[2020-10-16 19:27] henryiii commented on #46367
What is the JIT mechanism in PyTorch? Is it GCC based, perhaps? In 2.4.0, this was added:

The compiler ID is now part of the internal structure. I wonder if that is what causes the JIT extension not to find the PyTorch parts?

[2020-10-16 19:39] ansley commented on #36247
Task is more complex than it seems. Tags changed at the suggestion of @gmagogsfm

[2020-10-16 19:40] henryiii commented on #46367
I suspect it's this commit: https://github.com/pybind/pybind11/commit/c9f5a

[2020-10-16 19:52] malfet commented on #46367
You are probably right: I'm not 100% sure if pre-CXX11 ABI is still correctly enforce when clang is used as host compiler (because clang on its own is fine, as PR passes CI on OS X)

[2020-10-16 19:57] ezyang commented on #46187
Natalia and I spent a little time exploring whether or not `Literal[True]` based overloads in `native_functions.yaml` were a good idea, and we decided that it would be very difficult to get JIT to understand how to do overload resolution in this situation so it's a bad idea. So we should probably still only have situations where `torch.unique(Tensor) -> Tensor` but then the moment you add the bool

[2020-10-16 19:58] ezyang commented on #46187
And we did decide that disabling positional access in return is a good idea and we should do it. Something like `torch.unique(Tensor) -> dataclass(blah: Tensor, boo: Tensor)`

[2020-10-16 20:28] gmagogsfm commented on #43948
Sounds good.

Just FYI, I am not the OP, so unsure if tracing works for OP.

[2020-10-16 20:28] gmagogsfm commented on #43948
Sounds good.

Just FYI, I am not the OP, so unsure if tracing works for OP.

[2020-10-16 20:41] guilhermeleobas opened #46489 "Enable torch.nn.cpp typechecks during CI"
`TestTypeHints.test_run_mypy` should pass with `[mypy-torch.nn.cpp]` deleted from mypy.ini

cc @ezyang @malfet @rgommers @xuzhao9 @gramster

[2020-10-16 20:51] Krovatkin commented on #46380
@xsacha

Okay looks like we know what's going on here.
`torch::jit::GraphOptimizerEnabledGuard no_optimizer_guard{false}` with profiling on hits a corner case where ProfilingGraphExecutor would still profile (i.e. insert profiling nodes and do 1 profiling run per our defaults) but disable optimizations in the optimization stage. The optimization stage also includes the pass that removes `prim::pro

[2020-10-16 21:00] froody opened #46491 "cannot call rpc.init_rpc twice within a single process"
## 🐛 Bug

Initializing rpc twice within the same process fails

## To Reproduce

Steps to reproduce the behavior:

1. python [rpc_init.py](https://gist.github.com/froody/56929cb775d6e0e0db20792f32b68d14)

actual output:
[code]

Other error:

1. Change `init_rpc(rank, world_size, 1)` to `init_rpc(rank, world_size, 0)`
2. python init_rpc.py

[code]

## Expected behavior

process exits cleanly

## En

[2020-10-16 21:28] dme65 opened #46496 "LU pivoting is inconsistent with scipy.linalg"
## 🐛 Bug

`torch.lu` returns a 1-indexed pivoting vector, which is inconsistent with for example `scipy.linalg`. This behavior is correctly documented, though.

## To Reproduce

Steps to reproduce the behavior:

[code]

Example output:
[code]

## Expected behavior

This isn't an issue for users that only use the LU factorization to work with `torch.lu_unpack` and `torch.lu_solve` as they don't nee

[2020-10-16 21:29] dme65 commented on #46496
cc: @Balandat, @vishwakftw

[2020-10-16 21:30] gchanan opened #46497 "randint dtype description is incorrect"
## 📚 Documentation

The docs read:
`
dtype (torch.dtype, optional) – the desired data type of returned tensor. Default: if None, uses a global default (see torch.set_default_tensor_type()).`

but the example clearly shows that the default is `torch.int64`:

[code]

cc @jlin27 @mruberry

[2020-10-16 22:19] ailzhang commented on #46322
Yea closing via https://github.com/pytorch/pytorch/issues/46322#issuecomment-708619451

[2020-10-16 22:19] #46322 closed

[2020-10-16 22:24] ailzhang commented on #46465
pytorch version 1.1 is too old, it may not work well with torchtext i think. would you mind upgrading to a newer version?

[2020-10-16 22:25] ailzhang commented on #46465
I'm going to close this issue as it's not a bug report/feature request. Please feel free to reopen if necessary. Thanks!

[2020-10-16 22:25] #46465 closed

[2020-10-16 22:30] ailzhang commented on #46451
Please redirect all questions to the forum as suggested in the template, thanks!

[2020-10-16 22:30] #46451 closed

[2020-10-16 22:33] ailzhang commented on #46450
Please redirect all questions to pytorch forum as suggested in the template. Thanks!

[2020-10-16 22:33] #46450 closed

[2020-10-16 22:34] ailzhang commented on #6590
Closing since no response for too long. Please feel free to reopen if necessary.

[2020-10-16 22:34] #6590 closed

[2020-10-16 22:36] nikitaved commented on #46496
I would probably add that some documentation on what these `pivs` actually encode is much appreciated, because they do not represent the permutation of the form `i -> sigma(i)`, which was very confusing to me.

[2020-10-16 22:36] #42973 closed

[2020-10-16 23:10] Krovatkin commented on #45592
Link to landed master PR: https://github.com/pytorch/pytorch/pull/46479
Link to release branch PR: https://github.com/pytorch/pytorch/pull/46502
Criteria category: Critical fixes (increased memory consumption in profiling mode)

[2020-10-16 23:16] nikitaved commented on #46496
After doing some experiments and reading the documentation for `lu_factor`. Both methods, `torch.lu` and `scipy.linalg.lu_factor` return the same LAPACK pivots. The difference is that SciPy returns the 0-indexed ones, and PyTorch seems to return the 1-based, no?

[2020-10-16 23:43] dme65 commented on #46496
Correct, subtracting of 1 gives the desired results, but why return 1-indexed pivots when tensors are 0-indexed?

Agreed on LAPACK pivots being a bit confusing.  You have to loop through the vector and do all the swaps to get the pivoting vector to apply to the rows of the right hand side when solving linear systems.

[2020-10-16 23:50] henryiii commented on #46367
pybind11 2.6.0rc3 now allows `PYBIND11_COMPILER_TYPE` and `PYBIND11_STDLIB` to be predefined. We could use that to test and see if that really is the problem. What's the best way to do that?

[2020-10-16 23:52] malfet commented on #46367
Let me update the PR and see if it will fix the issue

[2020-10-16 23:55] henryiii commented on #46367
You will want to define `PYBIND11_COMPILER_TYPE` and `PYBIND11_STDLIB` to empty strings to restore pre-2.4 behavior. pybind11 gets included in ~20 places or so, so can it be added as a flag in the build system?

[2020-10-16 23:57] malfet commented on #46367
Yes, this is totally double. Is there a documentation on what those defines are doing?

[2020-10-17 00:05] malfet commented on #46367
Added defines to the diff, let's see if it will address the problem

[2020-10-17 00:07] henryiii commented on #46367
Not really, [just here].(https://github.com/pybind/pybind11/blob/c16da993094988141101ac4d96a9b2c92f9ac714/include/pybind11/detail/internals.h#L152-L217)

At the moment, it probably should be considered a secret backdoor that lets you override the ABI string.

[2020-10-17 00:34] henryiii commented on #46367
It needs to be an empty string, currently it's `1`. It's going to get concatenated into a ABI strong.

[2020-10-17 01:27] robin5540 opened #46505 "Cannot script when a static method or cross module function calls custom op."
## 🐛 Bug

## To Reproduce

[code]

utils.py
[code]

[code]

## Expected behavior

The tests should pass.

## Environment
[code]

## Additional context

I think the same problem exists when trying to pass a custom class to a python function. BUT, when passing a custom class to a custom op or custom class method script works as expected.

[2020-10-17 01:31] robin5540 commented on #46505
[code]

[2020-10-17 01:31] robin5540 commented on #46505
[code]

[2020-10-17 02:29] msieb1 opened #46507 "`tensor.mode()` takes extraordinarily long for sizes larger than `65536`"
## 🐛 Bug

See title. The operation below takes around 20 seconds. On cpu(), or with batch size smaller than 65336, it's less than a second.

## To Reproduce

[code]

## Expected behavior

## Environment

 - PyTorch Version (e.g., 1.0): 1.3
 - OS (e.g., Linux): Linux
 - How you installed PyTorch (`conda`, `pip`, source): pip
 - Python version: 3.6

## Additional context

cc @ngimel @VitalyFedyunin

[2020-10-17 03:55] jsrozner commented on #46405
PS, I would be willing to write the PR! (I wanted to confirm that this is a reasonable idea, first)

[2020-10-17 04:29] zcong17huang commented on #44473
Hello，I meet the same problem. But when i add `torch.backends.cudnn.enabled = False`，the 'non-contiguous input'  problem is solved，but it comes with a new one: **RuntimeError: CUDA out of memory**. My GPU has enough memory. So do you know why?

[2020-10-17 04:39] peterjc123 commented on #46312
Verified in 1.8.0.dev20201016 builds.

[2020-10-17 06:53] KKhushhalR2405 opened #46514 "Fix batching attempt for transpose."

[2020-10-17 07:14] hologerry commented on #43546
Same problem

[2020-10-17 07:30] bladesaber opened #46515 "onnx missing operator bug"
## 🐛 Bug

RuntimeError: Exporting the operator triu to ONNX opset version 12 is not supported. Please open a bug to request ONNX export support for the missing operator.

## To Reproduce

Steps to reproduce the behavior:

1. highly depended on my code, so difficult to show reproduce

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](htt

[2020-10-17 08:25] KagamiMiro commented on #46312
Perfectly fixed👌

[2020-10-17 11:03] shuklaayush commented on #37409
I'm facing the exact same issue. I guess it can be fixed by storing the Subset indices as a tensor/numpy array instead of a plain Python list (using `.numpy()` instead of `.tolist()` [here](https://github.com/pytorch/pytorch/blob/master/torch/utils/data/dataset.py#L353))

[2020-10-17 11:27] neeraj-j commented on #45185
Using numeric suite I was able to debug and fix the issue.
Appreciate all your help and time.

[2020-10-17 11:27] #45185 closed

[2020-10-17 12:46] taketakeseijin commented on #18631
https://github.com/pytorch/pytorch/pull/22302

[2020-10-17 13:56] NewCoderQ commented on #27212
+1

[2020-10-17 14:32] SsnL commented on #46409
What happens if you also set `torch.set_num_threads(1)` in `f`?

[2020-10-17 14:33] nikitaved commented on #46496
Agree, I am not aware of the motivation behind it.

A bit on the relevant note, I am working on making LU differentiable, and for that I need `lu_unpack`. However, the interconnection between modules + scripting + `autograd.Function` is a bit problematic and hacky. That could be a good call for making `lu_unpack` implemented in ATen rather, so that LU_backward is in ATen and all the issues with ji

[2020-10-17 14:36] wconstab commented on #46483
@mbanani Can you say a little more about your motivation for using grad in a script function?  I'm not sure if the specific failure you reported is a bug we expect to work, but in general the pattern we usually support with JIT is to script the 'forward' function and handle grad/optim outside.

[2020-10-17 15:04] mbanani commented on #46483
@wconstab Thank you for the quick response. Part of my forward loop is a greedy iterative optimization where I calculate the gradient with respect to an intermediate variable and update it several times. This is by far the slowest part of my pipeline, so I was hoping that JIT might speed it up. I thought I'd raise the issue since the reported error was a type mismatch, and not an unsupported funct

[2020-10-17 15:13] mathewhuen opened #46516 "Batchnorm support for tracking buffer statistics when using gradient accumulation"
## 🚀 Feature

## Motivation

## Pitch

## Alternatives

[2020-10-17 15:15] mathewhuen commented on #46516
It's my first time posting, so I apologize if I made any mistakes. Thank you in advance for any input!

[2020-10-17 16:14] vkuzo commented on #44111
just a heads up, seems like there was a regression and this now fails with a different error:

[code]

[2020-10-17 19:48] cheny1ming commented on #37068
+1 for windows support highly appreciated!

[2020-10-18 00:34] #45921 closed

[2020-10-18 00:37] Char-Aznable commented on #23482
Because this OP was over 1 year ago, I don't have any log files related this any more except for those reported in the OP.

I don't think this is gcc specific. In fact, multilib is explicitly disabled in the version of GCC used in the OP. I haven't tried this but it's likely clang with the same gcc toolchain will also trigger this bug. Another control I did was using a minimal foobar CMakeLists.tx

[2020-10-18 03:41] ismymajia opened #46517 "torch script error for fairseq language model"
❓ Questions and Help
export_pt.py ：
model = load_model_ensemble_and_task([args.input_model])[0][0]
model.eval()
model_dict = model.decoder.dictionary
generator = SequenceGenerator([model], model_dict, beam_size=args.beam_size)
scripted_generator = torch.jit.script(generator)
scripted_generator.save(args.output_model)

But the following problem occurs：

File "export_pt.py", line 62, in
main()
File

[2020-10-18 04:43] gmagogsfm commented on #46458
@Krovatkin Is this something you can help look at? Thanks

[2020-10-18 05:52] Coderx7 commented on #46318
@peterjc123 : Thanks but I'm getting this error :

[code]
Full message looks like this:
[code]
whats wrong here?

[2020-10-18 08:19] ihmc3jn09hk opened #46519 "Access batch elements in Tensors"
## ❓ Questions and Help

Hi, I am trying to use PyTorch for NN study and there is a question on accessing a batch of Tensor elements. e.g.
[code]

Could someone please point out what should be the C++ equivalent of the above code?
I could only come up to:
[code]

[2020-10-18 08:48] Sleepwalking commented on #45028
I tested @bryanhpchiang's benchmark script on RTX 3080, RTX 2080 Ti and RTX 2080. This time I upgraded to cuDNN 8.0.4 and PyTorch `release/1.7`, compiled from source. Just in case the performance is bottlenecked by data transfer, I also added a few more Conv2d layers. Here's a table of average inference time. From the results it looks like an adequate problem size is needed to reveal some performa

[2020-10-18 08:56] WangWenhao0716 commented on #45028
The 3080 is too bad currently...&nbsp;

发自我的iPhone

------------------ Original ------------------
From: Kanru Hua <notifications@github.com&gt;
Date: Sun,Oct 18,2020 4:48 PM
To: pytorch/pytorch <pytorch@noreply.github.com&gt;
Cc: WenhaoWang <2609667791@qq.com&gt;, Mention <mention@noreply.github.com&gt;
Subject: Re: [pytorch/pytorch] GeForce RTX 3080 with CUDA capability sm_86 is not compatible w

[2020-10-18 10:07] vadimkantorov commented on #23482
(About multilib/multiplatform: from my experience GCC would check some /usr paths (and other paths specified at compiled configuration time) anyway prior to anything specified in the compilation command line / env vars. If any of these search checks succeed, it stops the search. This can happen in multiplatform case, or if any of PyTorch libraries are installed in system paths such as /usr/local/l

[2020-10-18 10:09] mszhanyi opened #46520 "Caffe2 operator tests are not enabled in Windows CPU"
## 🐛 Bug

Now, a lot caffe2 operators are used in torch_cpu.dll, but all the tests are not enabled in Windows CPU.

## Expected behavior

For CI, The Windows CPU platform should be covered by caffe2 operator tests too.

## Additional context

The caffe2 operators tests are not in Windows GPU either. Due to it needs more work (Unknown fatal python errors in too many tests), it will be covered later

[2020-10-18 14:19] divideconcept commented on #45028
Yeah, not great.
RTX 2080: 10.6 TFLOPS
RTX 2080 Ti: 13.45 TFLOPS
RTX 3080: 29.8 TFLOPS

[2020-10-18 15:01] susheelm commented on #40659
**### Queseq[int] can be one of it.**

[2020-10-18 15:31] DavidKatz-il commented on #46222
Hi @sarahannali
Are you working on a PR?

[2020-10-18 15:46] jo7ueb opened #46522 "ModuleNotFoundError when installing PyTorch via pip on aarch64 environment"
## 🐛 Bug

Couldn't install PyTorch via pip. It's critical.

## To Reproduce

Steps to reproduce the behavior:

1. ` python3 -m pip install --no-binary torch torch`

Here's output.
[code]

## Expected behavior

Install succeeds.

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.

[2020-10-18 15:56] jo7ueb commented on #46522
I tried as [official document](https://pytorch.org/get-started/locally/) says.
Also I got an error.

[code]

[2020-10-18 15:58] jo7ueb commented on #46522
Content on PyPI might be wrong?

[2020-10-18 19:40] vadimkantorov commented on #46515
It seems that this issue is a duplicate of https://github.com/pytorch/pytorch/issues/32968

[2020-10-18 20:15] avijain3 commented on #46240
Hi @pyscorcher,
I have been trying to create a new class  `_SymmetricPadNd()`  in the `padding.py` file.
I am trying to understand the code from other classes like `_ConstantPadNd()` and `_ReplicationPadNd` that are already built but I encounter terms like 'constant' and 'replicate' in the `F.pad` function. I am unable to understand what exactly is their significance and are they imported keywords

[2020-10-18 20:51] ajyl commented on #21819
@totomobile43 Thank you so much, I was running into this illegal memory access  error as well, and I think I had the same problem - multiplying tensors and then accessing the results later would throw the error.

However, when I explicitly moved both my tensors onto cpu before doing the matrix multiplication, the error went away.

[2020-10-18 23:46] vadimkantorov commented on #46496
(I was also once confused by pivot format: https://discuss.pytorch.org/t/torch-lu-pivots-are-not-permutations-sometimes/53825 )

[2020-10-19 01:54] Waasem opened #46525 "Unable to load entire model (with class definition)"
## 🐛 Bug

Following the steps in https://pytorch.org/tutorials/recipes/recipes/saving_and_loading_models_for_inference.html, I have saved a CNN model from CNN architecture at https://github.com/pytorch/examples/tree/master/mnist. But when I load the model for inference, I get an error.

## To Reproduce

Steps to reproduce the behavior:
a. # Specify a path and instantiate the model.
PATH = "entire_

[2020-10-19 02:27] mcarilli commented on #46178
Does DeformConv use any custom autograd functions?  If it uses Python `torch.autograd.Function`s, please see https://pytorch.org/docs/master/notes/amp_examples.html#autocast-and-custom-autograd-functions.

If it uses C++ custom autograd functions registered with the dispatcher in C++, please see https://pytorch.org/tutorials/advanced/dispatcher.html#autocast

If the failing op is from pytorch or t

[2020-10-19 02:52] SpartaG117 commented on #46086
@BIT-silence Thank you！

[2020-10-19 02:57] assskiller commented on #35803
It's working. Thanks!

[2020-10-19 04:33] xsacha commented on #3667
Any update with this?
I can't find the CUDNN_CONVOLUTION_FWD_PREFER_FASTEST in pytorch anymore. It looks like the cudnn/Conv.cpp has moved.

[2020-10-19 05:19] Coderx7 commented on #46318
Googling the error leads to this : https://github.com/pytorch/pytorch/pull/39848 as well. I'm not sure how to go about this. Seems the static libs werent successful there either.
@peterjc123 Could you kindly elaborate more on  this, how you fixed the isse on #39848 ?

[2020-10-19 06:02] duanyzhi commented on #46136
thx!  it worked for gcc-7.

[2020-10-19 06:02] #46136 closed

[2020-10-19 06:13] akarshkumar0101 commented on #39656
Are there any updates on adding broadcasting support within torch.cross?

[2020-10-19 06:37] zerovirus123 opened #46527 "Could not check compiler version in cpp_extension.py"
Hi there, I found a Windows build for detectron2: https://github.com/conansherry/detectron2. Seeing how there is no official Windows support, I thought that it is a good alternative.

I am trying to install the module in my Anaconda environment. However, I encountered this error during the build process.

[code]

It seems like cpp_extension.py could not locate the MSVC compiler. I am using Microso

[2020-10-19 07:06] DanielZ98 commented on #33812
how to solve it？

[2020-10-19 07:38] Flamefire commented on #41469
I'm not fully sure but it is possible: The low-level details of e.g. OpenBLAS differ between archs and IIRC x86 often uses 80bit registers for intermediate results and POWER might not so rounding errors could happen earlier and get propagated. However as the issue disappears when OpenMP is effectively disabled it might be caused by some scheduling.

I can try to further trace down where the differ

[2020-10-19 07:58] izypd opened #46528 "Pytorch+ROCm+Archlinux: build stopped when Build CXX object test_api/CMakeFiles/test_api.dir/modules.cpp.o"
## 🐛 Bug

Hello! I am trying to build Pytorch 1.7.0rc2 in Archlinux. But build stopped when Build CXX object test_api/CMakeFiles/test_api.dir/modules.cpp.o

## To Reproduce

Steps to reproduce the behavior:

1.install Archlinux or EndeavourOS.
2.[add arch4edu to your Archlinux](https://github.com/arch4edu/arch4edu/wiki/Add-arch4edu-to-your-Archlinux)
3.run `yay -S rocm-dev rocm-utils rocm-libs rcc

[2020-10-19 08:35] blizda commented on #46166
Additional information about this issue from author of this model https://github.com/tatp22/linformer-pytorch/issues/23

[2020-10-19 08:38] mruberry commented on #39656
No. We do plan a deprecation review for the next 1.8 release, however, which I expect would include torch.cross.

[2020-10-19 08:46] j-paulus commented on #43948
@spandantiwari OP here, I am currently using tracing as a work-around. It has its drawbacks, but the converted network seems to work despite the lot of warnings. So from my side this is not a blocking issue.

[2020-10-19 09:24] wagnifico opened #46529 "Overhead when using torch multiprocessing"
## 🐛 Bug

I'm implementing a testing script and I observed a great increase in the execution time, both in CPU and GPU, when using the multiprocessing module. The total time only increases when adding workers. For the sample code presented further, the elapsed time is multiplied by 12 comparing a fully serial call and multiprocessing with a single worker.

When running in CPU, there is a big overh

[2020-10-19 09:39] athewsey opened #46530 "[Request] Batched Dataset->DataLoader interface"
## 🚀 Feature

A batch-capable `Dataset`->`DataLoader`-like interface which, beyond just *collating* Dataset iterables into DataLoader batches, supports also *distributing*: So that e.g. an `IterableDataset` can yield **macro-batches** of data which the loader can split or aggregate to the desired size for loading.

## Motivation

Many data loading or transformation tasks are accelerated by batchin

[2020-10-19 10:07] mfkasim1 opened #46531 "`torch.igamma` error and gives wrong results on float64 ROCm"
## 🐛 Bug

This bug is related to PR #46183 where the implementation of `torch.igamma` in CUDA using float64 in ROCm is giving either errors or wrong results.

## To Reproduce

There are two cases based on the unittest I tried:

### Case 1 (ROCm raises an error):

    # device is cuda, dtype is torch.double
    def test_igamma(self, device, dtype):
        loglo = -4
        loghi = 4
        exp1

[2020-10-19 11:00] manuelbaum commented on #42368
Thanks, I think this is a really, really useful feature!

Is it possible that it doesn't work with torch.autograd.jacobian yet?

If I try this, I get an error:

`nbatch = 4
A = torch.randn(nbatch, 2,2)
f = lambda x: x**2

J = torch.autograd.functional.jacobian(f, (A[0]))
lambda_jac = lambda x: torch.autograd.functional.jacobian(f, (x))
vmapped_jacobian = torch.vmap(lambda_jac)

J_vmapped = vmapped

[2020-10-19 11:33] nikitaved commented on #46496
Yeah, it makes sense to update the doc to clarify them, and the fact that in order to get the final permutation, you have to multiply all the intermediate transpositions encoded by the data returned by LAPACK.

[2020-10-19 12:06] mys007 opened #46533 "Quantization Observer: Proper behavior in multi-GPU setting"
## 🐛 Bug

Quantization Observer can lose track of the exact GPU device and fails if the model is not on the default device. If e.g. `cuda:1` is used, `RuntimeError: Expected all tensors to be on the same device, but found at least two devices, cuda:1 and cuda:0!` is raised in `scale = torch.max(scale, torch.tensor(self.eps, device=device, dtype=scale.dtype))` inside ` _calculate_qparams()`.

Sugge

[2020-10-19 12:08] GeoffreyChen777 opened #46534 "Build 1.6 from source failed."
I'm trying to build v1.6 on a POWER8 ppc64le machine.

CUDA 10.2
GCC 7.3 / 8.2

but I got plenty of errors:

<details>
........

/gpfs/home/wmg/wmrkwh/miniconda3/envs/geo/powerpc64le-conda_cos7-linux-gnu/include/c++/7.3.0/tuple(877): error: template parameter "_UTypes" may not be redeclared in this scope

/gpfs/home/wmg/wmrkwh/miniconda3/envs/geo/powerpc64le-conda_cos7-linux-gnu/include/c++/7.3.0/

[2020-10-19 12:34] Flamefire opened #46536 "Various tests wrongly decorated with largeCUDATensorTest"
## 🐛 Bug

During analysis of #41469 I encountered the following:

So a CPU test is skipped due to the GPU not having enough memory.

## To Reproduce

Steps to reproduce the behavior:

1. `python ./test_nn.py TestNNDeviceTypeCPU.test_conv_large_cpu`

## Expected behavior

CPU test is executed

## Environment

 - PyTorch Version (e.g., 1.0): 1.7.0-rc2

## Additional context

This test (and others) i

[2020-10-19 14:17] zou3519 commented on #42368
torch.vmap doesn't work with torch.autograd.jacobian yet. I'll add it to the list of things to investigate. Could I ask about what your use case for batched jacobians is?

[2020-10-19 15:02] zou3519 opened #46538 "Make nested TreeSpec printing nicer"
## 🚀 Feature

Right now, printing a nested TreeSpec happens all on one line. This can be difficult to read if the user receives a TreeSpec from a very nested python data structure.

## Motivation
[code]

## Pitch

Make the printing look nicer. @ezyang [suggested](https://github.com/pytorch/pytorch/pull/46287#discussion_r506658091) to turn TreeSpec into a dataclass and have printing logic use pprin

[2020-10-19 15:06] shijianjian commented on #41412
We are facing the same issue with Union param/return values.
[code]

@ansley @gmagogsfm Will this fix be included in the next version (0.7.0)?

[2020-10-19 15:54] zou3519 commented on #43192
I can reproduce this, but I'm not sure if it is worth fixing. The repeat pattern being used here is repeating a Tensor along some dimension of size 1. The best thing to actually do here is to expand the tensors along a dimension to avoid a copy; replacing the `repeat` in the benchmark code with a `expand` produces the best performance on my machine:

[code]
@tobiasfshr: are you repeating a tensor

[2020-10-19 16:01] #21875 closed

[2020-10-19 16:04] ngimel commented on #33812
It has been fixed in #34100

[2020-10-19 16:11] vkuzo commented on #44111
actually, my bad, that trace points to quantization and not symbolic tracing, will file a separate issue.  Sorry :)

[2020-10-19 16:11] #44111 closed

[2020-10-19 16:39] ngimel commented on #43192
Regardless of a particular case, backward of `repeat` is inefficient due to https://github.com/pytorch/pytorch/blob/e7564b076c13325fba1704d9d07844a26041f10f/torch/csrc/autograd/FunctionsManual.cpp#L645. `sum_tensorlist` is inefficiently implemented as a sequential sum. `grad` is guaranteed to be evenly split into necessary-size pieces, so instead of chunk + sum_tensorlist `grad` tensor can be resh

[2020-10-19 16:45] Aceticia commented on #40002
@Marceliny Hi, what does free memory mean in this case? Just from the error message, it looks like there are enough space to fit the current allocation, unless it means something else?
I'm having the same issue, but just want to be really sure it's not a problem in pytorch or CUDA before I decrease the batch size.

[2020-10-19 16:55] dhruvbird commented on #12873
Thanks @ezyang  for pointing me to this issue!

@lamhoangtung @davidmascharka (and others): There's a feature (build by @ljk53) called custom build (for PyTorch), which is currently only applicable for mobile, since it only works for the CPU kernel. It currently works by statically checking the set of used operators and their dependent operators, which makes it somewhat complex.

We're working on

[2020-10-19 16:55] cpuhrsch commented on #46409
In [Python 3.8 mac is using spawn by default](https://www.python.org/downloads/release/python-380/).

[2020-10-19 17:02] gmagogsfm commented on #41412
Hi Shijianjian,

I assume you mean 1.7.0? If so, then fix will not be in it since 1.7 branch cut date has passed. But we will try to make it in 1.8.

[2020-10-19 17:07] SsnL commented on #27878
@malfet Why not having the object do both? It is not always desirable to wrap the entire program in a context manager.

[2020-10-19 17:34] ailzhang commented on #27878
Removing "high priority" label since this feature request still need some work in defining the user facing API and how it should work with existing code.
Probably also related: we also need define what to do with the current `torch.set_default_dtype` API.

[2020-10-19 17:42] ailzhang commented on #46311
This is a separate issue from RegistrationDeclarations.h migration. Looks like it's about wrapping `std::tuple<at::Tensor&, at::Tensor&>` in boxed IValue. cc: @smessmer

[2020-10-19 17:42] ailzhang commented on #46382
cc: @smessmer

[2020-10-19 17:44] heitorschueroff opened #46544 "PyTorch NaN behavior and API design"
This issue is for discussing how PyTorch should handle NaN values and how we should design our operator API to do that.

We have many issues such as #46225, reporting inconsistent handling of NaN values. One solution is to follow NumPy's design and have nan* ops which ignore NaN values while the regular versions treat NaN values as the largest element. However, this approach requires defining many

[2020-10-19 17:47] albanD commented on #41469
That sounds good for me. Do we have a mechanism to change the precision just when running on power?

[2020-10-19 17:50] mruberry commented on #46544
We should implement the NumPy signatures but `nan_policy` is probably the more maintainable approach.

[2020-10-19 18:16] ZolotukhinM commented on #45592
Link to landed master PR: #46446, #46500, #46482
Link to release branch PR: #46513 (combines all three commits)
Criteria category: fixes incorrect behavior in fused aten::cat

[2020-10-19 18:16] kurtamohler commented on #42371
I just realized that my PR #45777 is not just a first step to a solution--it's the entire solution. After that change, the mm backward function can automatically avoid retaining the unnecessary tensor data. I had assumed codegen didn't have this ability yet, but evidently not. Running the repro script in the issue description, I get this now:
[code]

I wonder if there are any other operations we c

[2020-10-19 18:16] #42371 closed

[2020-10-19 18:17] ganeshbhargav commented on #46525
The error after running the code is `AttributeError: Can't get attribute 'Net' on <module 'main'>`.

An AttributeError means that the program tried to use an attribute of an object, but the object did not have the requested attribute.

The line with the error must be the below code :-
`	model = Net()`

Explanation:
Python tried to create an Object of Net class, but could not find the class definit

[2020-10-19 18:21] BowenBao opened #46545 "Scripting error on PyTorch transformer tutorial"
## 🐛 Bug

Tried to script the example transformer model in PyTorch tutorial.

[code]

## To Reproduce

All the code except for last line is copied from [beginner_source/transformer_tutorial.py](https://github.com/pytorch/tutorials/blob/ba6070e0b201775f334db7232c2f13387b599999/beginner_source/transformer_tutorial.py)
torch.jit.script(model).

[code]

## Expected behavior

Get a scripted module.

@z