[2019-11-14 00:53] mruberry commented on #29514
Another instance: https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-devtoolset7-rocmrpm-centos7.5-test/45888//console

[2019-11-14 00:53] gottbrath commented on #29397
filed as https://ontrack.amd.com/browse/FBA-146

[2019-11-14 00:54] mruberry opened #29777 "nccl_ops_test.py::NCCLOpsTest::test_nccl_reduce_scatter is flaky in ROCm CI"
build: py2-devtoolset7-rocmrpm-centos7.5-test
https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-devtoolset7-rocmrpm-centos7.5-test/45875//console

[code]

cc @ezyang @gchanan @zou3519 @jerryzh168

[2019-11-14 00:55] mruberry commented on #29777
Seems like there's a recent spat of ROCm + NCCL CI failures.

[2019-11-14 00:56] mruberry commented on #29397
Another ROCm instance: https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-devtoolset7-rocmrpm-centos7.5-test/45844//console

[2019-11-14 00:58] mruberry opened #29778 "ROCm CI may hang after NCCL tests are run"
build: py2-devtoolset7-rocmrpm-centos7.5-test
https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-devtoolset7-rocmrpm-centos7.5-test/45849//console

[code]

[2019-11-14 00:59] mruberry opened #29779 "ROCm CI may hang/timeout after testing nnpack"
build: py2-devtoolset7-rocmrpm-centos7.5-test
https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-devtoolset7-rocmrpm-centos7.5-test/45871//console
[code]

cc @ezyang @gchanan @zou3519 @jerryzh168

[2019-11-14 01:06] ezyang commented on #29764
This has affected me too

[2019-11-14 01:07] ezyang commented on #29693
@jerryzh168 where as this fixed? If you link to a PR feel free to close this

[2019-11-14 01:12] fritzo commented on #29698
Duplicate of https://github.com/pyro-ppl/pyro/issues/2149

Note that the `_kl_independent_independent` pasted here is from Pyro, not PyTorch.

[2019-11-14 01:13] IvanKobzarev commented on #29159
https://github.com/pytorch/pytorch/pull/29738 is landed which reenabled gradle builds on CI. So far works fine :) I will keep monitoring of it.

[2019-11-14 01:16] gottbrath commented on #29779
filed in Jira as https://ontrack.amd.com/browse/FBA-149

[2019-11-14 01:19] mruberry commented on #29698
Thank you, @fritzo.

[2019-11-14 01:19] #29698 closed

[2019-11-14 01:23] gottbrath commented on #29778
https://ontrack.amd.com/browse/FBA-150

[2019-11-14 01:25] gottbrath commented on #29777
https://ontrack.amd.com/browse/FBA-151

[2019-11-14 01:27] gottbrath commented on #29776
https://ontrack.amd.com/browse/FBA-152

[2019-11-14 01:29] Godricly commented on #29706
It is used in [CARAFE: Content-Aware ReAssembly of FEatures](https://arxiv.org/abs/1905.02188) to extract local patches.

[2019-11-14 01:29] gottbrath commented on #29760
https://ontrack.amd.com/browse/FBA-153

[2019-11-14 01:31] gottbrath commented on #29540
ok .. i added a comment in Jira that this one might be a red herring and gave it a lower priority.

[2019-11-14 01:33] gottbrath commented on #29514
filed in Jira as https://ontrack.amd.com/browse/FBA-154

[2019-11-14 01:34] gottbrath commented on #21585
https://ontrack.amd.com/browse/FBA-84

[2019-11-14 01:38] gottbrath commented on #21585
from Diwaker "Chris Gottbrath fix was in VBIOS update (for MI25) and in ROCm2.5. Since the issue was reported on CI node (worker3), we upgraded the CI node (VBIOS D0513100-006 for MI25 and reinstalling ROCm 2.5) and verified that test is passing.

Please let us know, if you still see the issue on worker3."

Do we still see trouble with CI worker3?

[2019-11-14 01:45] agadetsky commented on #26411
@michiboo hello! firstly I think we need to end this PR on `cummax` (https://github.com/pytorch/pytorch/pull/26637). Can you work on it?

[2019-11-14 02:09] michiboo commented on #26411
Hi, Yes I could try work on it.

[2019-11-14 03:00] HHIR commented on #11762
Image[None, ...] works for me.
example:

[2019-11-14 04:13] felixlaumon commented on #4107
@wbhu as a workaround you might want to try the non-CuDNN version of batch norm and wraps it as a layer. Below is an example for non-CuDNN BN in 1D

[code]

[2019-11-14 05:53] JoonBumLeem opened #29795 "CUDA error (cublasSgemm / cuda runtime error (719) / etc)"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

I reproduce code for error. When I run this code on 1 console, its okay. But run over 2 and 3 console, then it show error message. Sometimes running only 1 console makes error message too.

    import torch
    import torch.nn as nn
    import torch.nn.functional as F
    from torch.utils.data import DataLoader, Dataset

    device = tor

[2019-11-14 06:23] peterjc123 commented on #29795
First, please rewrite your code into the following style:
[code]
Second, for your problem, there are two major causes:
1. You are out of GPU memory.
2. You'll need to switch off the TDR settings.

[2019-11-14 06:24] michiboo commented on #26411
@agadetsky  what do you use to loop over multi-dimensional tensor in C++, I am trying to compute the convert value of the tensor to 1s and 0s

[2019-11-14 06:30] peterjc123 commented on #29722
Are you running PyTorch 1.3.0/1.3.1 with CUDA 10? If yes, then it is because we didn't pack all the CUDA DLLs in it. Please wait for #29356 to be fixed.

[2019-11-14 07:13] CeadeS commented on #29722
I guess its the MKL

[2019-11-14 07:17] peterjc123 commented on #29722
We link against the MKL static libraries, so they should not rely on the user's environment.

[2019-11-14 07:26] cowry5 commented on #15609
Same here: Pycharm 2019.1.4 and Pytorch 1.2.0

[2019-11-14 07:39] dreamy-viator opened #29796 "[iOS] fft: ATen not compiled with MKL support"
## 🐛 Bug

I'm trying to use stft on iOS device.
[code]

If I call stft, I get this error.
c10::Error: false CHECK FAILED at /Users/distiller/project/aten/src/ATen/native/mkl/SpectralOps.cpp (_fft_mkl at /Users/distiller/project/aten/src/ATen/native/mkl/SpectralOps.cpp:15)

This leads to this error.
https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/mkl/SpectralOps.cpp#L15
  AT_ERR

[2019-11-14 10:18] mathpopo opened #29799 "android run build_pytorch_android.sh error"
## 🐛 Bug

 android run_test.sh run error

## To Reproduce

Steps to reproduce the behavior:

1.connect android phone
1.compiled the whole code
1.run android/run_test.sh

## Expected behavior

Welcome to Gradle 5.0!

Here are the highlights of this release:
 - Kotlin DSL 1.0
 - Task timeouts
 - Dependency alignment aka BOM support
 - Interactive `gradle init`

For more details see https://docs.grad

[2019-11-14 10:28] meganset opened #29800 "unsqueeze has 'out=' option documented but not implemented(?)"
## 📚 Documentation

I think the documentation shouldn't include an _out=_ option,
I don't see any _unsqueeze_out()_ function in ATen..

[code]

[2019-11-14 10:39] mahmoodn opened #29801 "Use non-system cuda path"
How can I specify non-system cuda path for pytorch installation?
I mean a path other than /usr/local/cuda.

[2019-11-14 11:36] akikaaa opened #29802 "How to release gpu memory of intermediate result tensor"
In the example below, after calling torch.matmul, the gpu memory usage increases by  181796864 bytes, which is almost the sum of the sizes of c and b.transpose(2,3).  So I guess the unreferenced intermediate result b.transpose(2,3) is stored in gpu memory.  How could I release the gpu memory allocated to this intermediate result to save gpu memory?

import torch
from torch.autograd import Variable

[2019-11-14 11:52] CJosephides opened #29804 "Parallel data loader performance degradation for IterableDataset (but not for Dataset)."
## 🐛 Bug

Data loader performance degrades with > 1 data loader worker when using `IterableDataset` but not when using (map-style) `Dataset`.

## To Reproduce

Steps to reproduce the behavior:

My experiment (code below) consisted of:

1. Make a (Iterable)Dataset class. This synthesizes dummy data and possibly adds a time delay to simulate batch loading work.
2. Make a Dataloader that consumes the

[2019-11-14 11:56] yyf1986 opened #29805 "I use Torch Script to convert has error"
## ❓ Questions and Help
attribute 'use_res_connect' of type 'bool' is not usable in a script method (did you forget to add it __constants__?):
at d:\PyCode\FeatherNetB\models\FeatherNet2.py:77:15
    @torch.jit.script_method
    def forward(self, x):
        if str(self.use_res_connect) == "True":
[code]

[2019-11-14 12:07] mohitranawat opened #29806 "Model Loading issue in android"
My model contains nn.Functional.interpolate layer and it is converted properly to .pt model using jit.
But Loading same model in android giving issues.
This is happening in case of interpolate layer only
 - PyTorch Version (e.g., 1.0): 1.3.1
 - OS (e.g., Linux): Windows
 - How you installed PyTorch (`conda`, `pip`, source): pip
 - Build command you used (if compiling from source):
 - Python versio

[2019-11-14 12:15] yyf1986 commented on #29805
when I use

[2019-11-14 12:15] #29805 closed

[2019-11-14 12:33] xonobo opened #29807 "list of registered buffers does not move to cuda"
Here is the code to see the bug

[code]

[2019-11-14 13:42] sheikmohdimran commented on #29655
I was able to reproduce the same output with the latest nightly build.

[code]

[2019-11-14 14:33] yy738686337 opened #29808 "How can I get hyperparameter in ScriptMoudle using libtorch?"
After I trained a model in python and save it with `torch.jit.trace,` how can I get the parameter e.g.
stride or padding size of `Conv2d `when loading the model in libtorch?
by the way, the model is created by` torchvision.models`.

cc @suo

[2019-11-14 15:02] tbelhalfaoui opened #29809 "Memory leak with Conv1d on CPU"
## 🐛 Bug

When training (on CPU) a simple one-layer CNN (with variable-width batches, as it is standard in text classification), the memory usage increases significantly at each `forward` call, and quickly causes an out of memory.

## To Reproduce

[code]

When running `python example.py`, I get this OOM error after 30 iterations:
[code]

The [memory profiler output](https://github.com/pytorch/pyt

[2019-11-14 15:40] antonior92 opened #29814 "SGD fails on sparse matrix"
## 🐛 Bug

One SGD step for optimizing a model with a sparse parameter matrix gives me a RuntimeError

## To Reproduce

[code]

gives me the error
[code]

## Environment
[code]
## Additional context

Just changing on `sgd.py`:
[code]
to:
[code]
seems to fix the problem.

cc @vincentqb

[2019-11-14 15:41] #29159 closed

[2019-11-14 15:42] SsnL commented on #29804
Thank you for the detailed report. I'll take a look!

[2019-11-14 15:53] antonior92 opened #29816 "AdamSparse Fails on sparse matrix"
## 🐛 Bug

One AdamSparse step for optimizing a model with a sparse parameter matrix gives me a RuntimeError

## To Reproduce

[code]

gives me the error:

[code]

## Environment

[code]

## Additional context

I did manage to fix Sparse Adam to run in this minimal example by:
1. Doing as proposed in https://discuss.pytorch.org/t/pytorch-sparse-adam-how-to-run/39871/2
and changing on ``sparse_adam.

[2019-11-14 16:02] steige2 opened #29817 "Problems with multiple users, single install"
## 🐛 Bug

import torch works for me but does not work for anyone else

## To Reproduce

python

(for me, quiet completion)
(for another user, the following:)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/N/soft/rhel7/deeplearning/Python-3.7.4/lib/python3.7/site-packages/torch/__init__.py", line 228, in <module>
    class BFloat16Storage(_C.BFloat16StorageBase, _

[2019-11-14 17:38] vincentqb commented on #29722
Have you also tried compiling from source?

[2019-11-14 17:43] vincentqb commented on #29795
As mentioned [here](https://github.com/pytorch/pytorch/issues/27837#issuecomment-541927318), to help diagnose, could you also run your code with anomaly mode enabled?

[2019-11-14 17:44] NestLakerJasonLIN opened #29820 "nn.Transformer.generate_square_subsequent_mask does not behave as expected"
## 🐛 Bug

To generate mask, the `nn.Transformer.generate_square_subsequent_mask` need set all masked positions as `-inf` and all unmasked positions as `0.0`. To do this, the call `masked_fill` set positions in `mask` where `mask == 0` as `-inf`. However, the `mask` is of type `boolean` instead of `float`, so the `mask==0` does not behave as expected and hence result is wrong.
I think we should use

[2019-11-14 17:45] ptrblck commented on #24032
@suo Do you know, if this is the result of #20760?

[2019-11-14 17:46] HussainHaris opened #29821 "Vanilla Resnet50 Not Computing on iOS via Libtorch (Pytorch Mobile)"
## 🐛 Bug

Unsure of whether or not Pytorch Mobile iOS supports anything more complex than a resnet34, as I cannot get a vanilla resnet50 to work. I've gotten resnet34 and below as well as mobilenet to work in iOS and call predictions (with the Libtorch library doing the C++ bridging).

Specifically, in my predictImage function in "TorchModule.mm" in my iOS project this line never computes/moves fo

[2019-11-14 17:48] vincentqb commented on #29775
Have you tried compiling the code from source with this change? We'd welcome a pull request for a change like this. Thank you!

[2019-11-14 17:52] driazati opened #29822 "[jit] Traced `cat` on GPU doesn't support negative indexing"
[code]

throws

[code]

scripting fixes the issue

[2019-11-14 17:53] unrahul commented on #29655
@mruberry   With the recent nightly builds, I no longer see this issue, closing the thread, thanks all.

[2019-11-14 17:53] #29655 closed

[2019-11-14 17:57] vincentqb commented on #29758
Please feel free to submit a pull request for this :)

[2019-11-14 17:58] HussainHaris commented on #29821
Code is much easier to view here:
https://discuss.pytorch.org/t/pytorch-mobile-ios-resnet50-not-computing/61014

[2019-11-14 18:00] vincentqb commented on #29754
Sounds like a good idea to me.

@fmassa -- is your thumbs up meaning the same?

[2019-11-14 18:01] vincentqb commented on #29737
The issue seems to have been fixed, so I will close this issue. Please feel free to re-open if this is not the case.

[2019-11-14 18:01] #29737 closed

[2019-11-14 18:02] ngoldbaum opened #29823 "Building from source leaves a "python3.7m" directory in the tree"
## 🐛 Bug

After I'm done building from source there is a new untracked directory in the pytorch source tree.

## To Reproduce

Steps to reproduce the behavior:

1. Build from source using `python setup.py develop`
2. Run `git status`

[code]

## Expected behavior

`git status` should be clean, either because that directory doesn't exist or because it's in `.gitignore`.

## Environment

[code]

[2019-11-14 18:14] christopher-beckham commented on #5565
Does anyone have an implementation of this? Even if it's written in PyTorch (rather than C) code?

[2019-11-14 18:16] vincentqb commented on #29744
Have you tried running your code with `.contiguous()` as in #2917? Have you tried running the same code as #2917?

[code]

For completeness, please copy and paste the output from our environment collection script:
[code]

[2019-11-14 18:18] steige2 commented on #29817
Rebuilding everything (from a fresh python install) as opposed to an update to torch and torchvision seems to have fixed the problem. The root cause of what we observed, is not understood to me and the problem really should not occur at all. I also had a friendly user test before and after I installed the many other packages we have on our production instances. The troublesome import worked both b

[2019-11-14 18:18] anderspapitto commented on #29737
thanks all

[2019-11-14 18:21] vincentqb commented on #29739
It would be a good idea to submit this upstream.

Have you tried adding the flags directly inline when building?

[2019-11-14 18:25] #26177 closed

[2019-11-14 18:25] eellison commented on #26215
I think this is fixed with my stop special-casing container PR.

[2019-11-14 18:25] #26215 closed

[2019-11-14 18:26] #26671 closed

[2019-11-14 18:29] vincentqb commented on #29734
I'm adding the autograd label since the related pull request touches files in autograd. @gchanan please update this if there is a better label.

[2019-11-14 18:33] eellison commented on #26747
No one actually asked for this and we decided to not support it for now, so closing. Comment on this issue if this is a problem for you.

[2019-11-14 18:33] #26747 closed

[2019-11-14 18:39] vincentqb commented on #29725
Please note that this issue tracker is not a help form and this issue will be closed. We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our [discussion forum](https://discuss.pytorch.org/).

[2019-11-14 18:39] #29725 closed

[2019-11-14 18:42] vincentqb commented on #29724
Could you please copy and paste the output from our environment collection script?
[code]

[2019-11-14 19:07] vincentqb commented on #29723
I can't reproduce, see below. Can you compile from source?

[code]

[code]

[2019-11-14 19:14] zou3519 commented on #22251
This is not that easy to fix. The problem with calling `to('cuda')` is that `PackedSequence.to` does not know what 'cuda' is: it could be a device, dtype, layout, etc.

`Tensor.to` does not have this problem because it has overloads in PythonArgParser to handle this special behavior, but `PackedSequence.to` is implemented only in python and does not have access to that logic.

We could either:
- p

[2019-11-14 19:16] agadetsky commented on #26411
@michiboo unfortunately I am not familiar with pytorch C++ implementation.

[2019-11-14 19:16] zou3519 commented on #26977
I completed this: https://pytorch.org/docs/stable/named_tensor.html

[2019-11-14 19:16] #26977 closed

[2019-11-14 19:20] zou3519 commented on #4164
We released named tensors as an experimental feature for pytorch 1.3: https://pytorch.org/docs/stable/named_tensor.html. It's now possible to name tensor dimensions and use the names in tensor methods in a growing number of functions.

[2019-11-14 19:23] ngimel commented on #29744
cc: @csarofeen @ptrblck

[2019-11-14 19:57] soumith commented on #27738
@magic282 please try upgrading your nvidia driver to 430 or above and please confirm if that fixes things. I have just tried things on a P100 and GP100, and the binaries worked fine for me.

[2019-11-14 20:01] ailzhang commented on #29548
Thanks @ezyang! This is a very helpful feature!
To add some context about the current XLA integration:
* After https://github.com/pytorch/pytorch/pull/29636 has landed, PyTorch only provides a full list of non-compound ops (instead of all `at::` ops before) as API contract to XLA. You can find a snapshot of the list [here](https://gist.github.com/ailzhang/905aa41a5be8c5315ba0e3d8f0d0e326#file-regi

[2019-11-14 20:02] isaacmg commented on #24816
I'm having the same issue but I'm not even using a softmax function (as I'm working with time series data). The following is returning NaN values after the first gradient step.
[code]

[2019-11-14 20:20] creotiv commented on #5565
@chinibinibin no, it's doing only 2d interpolation. i tested it on HDRNet network from google, and it was giving wrong results. Thus network doesnt work. So problem still exists. Especialy when we have 3D space but doesnt have interpolation for it :(

[2019-11-14 21:00] peterbell10 commented on #18643
I've been unable to reproduce the sharp memory spikes from the issue, only a very slight rise in memory usage. The profile looks roughly the same for all of the python and pytorch versions I tried.

![plot_py36](https://user-images.githubusercontent.com/13238737/68895405-1b351400-0721-11ea-9f81-e892a17014be.png)

@TaehwanKwon would you mind posting the memory profile that you see running the cpu s

[2019-11-14 21:30] mruberry commented on #29764
I think we need to make our triage guidance stricter and immediately start skipping these flaky tests. Someone on the JIT team should skip this test ASAP.

[2019-11-14 21:31] mruberry commented on #29380
This did happen again:

https://app.circleci.com/jobs/github/pytorch/pytorch/3602021

[2019-11-14 21:33] christopher-beckham commented on #5565
I'm no expert on the algorithm for trilinear/bilinear sampling, but it appears that the z coordinates are being used still in the bilinear case, as seen here: https://github.com/pytorch/pytorch/blob/81bf73643b6552a63794fb889238aaf0c2a7baa6/aten/src/ATen/native/GridSampler.cpp#L68-L147

??

[2019-11-14 21:42] mruberry opened #29842 "CI timeout after running test_async_grad_guard_with_grad (jit.test_async.TestAsync)"
pytorch_linux_xenial_cuda9_cudnn7_py3_test
https://app.circleci.com/jobs/github/pytorch/pytorch/3600910

[code]

@suo

[2019-11-14 21:44] CamiWilliams opened #29843 "torch.distributions.normal.Normal is not JIT supported"
## 🐛 Bug
When trying to use `torch.distributions.normal.Normal` in a JIT function, you get `torch.jit.frontend.NotSupportedError: comprehension ifs not supported yet`.

## To Reproduce
I am writing a function and calling `torch.distributions.normal.Normal.sample()`.

Steps to reproduce the behavior:
1. Call `torch.distributions.normal.Normal` in a function tagged with `@torch.jit.script`.

[code]

[2019-11-14 21:44] ezyang opened #29844 "Fold DispatchStub into c10 dispatcher"
Right now we have two levels of dynamic dispatch: c10 dispatcher does a first level of dispatch, and then DispatchStub does a second level of dispatch. For CUDA/HIP dispatch, DispatchStub's extra dispatch is completely unnecessary. However, for CPU dispatch, DispatchStub supports dispatching to AVX/AVX2/default CPU kernels at runtime depending on what instruction set is supported by the processor.

[2019-11-14 22:11] ailzhang commented on #29843
Sounds like this is a feature request for the `list comprehension with ifs`. Will discuss the priority in the triage meeting for it.

[2019-11-14 22:15] zdevito commented on #29844
What stops us from just having 1 CPUTensorID, and then decide which kernel to register _at program initialization_. In other words, we just change initialization to be:

[code]

This wasn't possible with vtables, but now that we control what is in the tables, can't we just register differently to resolve this?  This also resolves what to do for kernels that don't have implementations in AVX2 -- si

[2019-11-14 22:16] VitalyFedyunin commented on #27678
@edelsohn in our case we observing situation when it is better to hand-write vectorized code instead of leaving it up to compiler

@quickwritereader can you please clarify 'pytorch modifications for handling power' part? As ideally we would live to isolate all 'hardware' specific code to cmake files and Vec256 implementation.

In general I have nothing against modifying cmake files to accommodate

[2019-11-14 22:17] ailzhang commented on #29800
@meganset We'll happily accept a PR to correct the documentation. Would you mind sending one? Thanks!

[2019-11-14 22:18] ailzhang commented on #29801
@mahmoodn I assume you are building from source right?
Try setting `CUDA_HOME` env?

[2019-11-14 22:20] ailzhang commented on #29801
Since this is more like a question instead of bug report, I'm closing it via my answer above. Please feel free to post a follow up question in forum if that doesn't work for you. Thanks!

[2019-11-14 22:20] #29801 closed

[2019-11-14 22:21] ezyang commented on #29844
This seems like it should work :>

[2019-11-14 22:22] zdevito commented on #29764
@driazati can you disable this test? I believe you are the JIT oncall at the moment.

[2019-11-14 22:25] mruberry commented on #29764
See also:

https://github.com/pytorch/pytorch/issues/29842

Maybe disable both while you're in there?

[2019-11-14 22:31] smessmer commented on #29844
I agree with @zdevito. AVX doesn't seem like a property of a tensor, you don't want to dispatch some tensors to AVX and some to non-AVX like you might do with CPU and CUDA.

[2019-11-14 22:32] #28983 closed

[2019-11-14 22:42] ailzhang commented on #29807
@xonobo
So if you do `print(list(a.buffers()))` you'll see your buffer are on CUDA device.
`a.params` as an attribute will be copied when `register_buffer` and `params` won't move along with `.to()`. But the buffer does.
Please let us know if this doesn't solve your question. Thanks!

[2019-11-14 22:42] #29807 closed

[2019-11-14 22:50] ailzhang commented on #29809
Hmmm this sounds like a weird issue (with the additional context 4 & 5).
I'll mark this high priority to reproduce the reported behavior as a first step at least.

[2019-11-14 22:53] ailzhang commented on #29820
cc: @zhangguanheng66 might be interested in taking a look?

[2019-11-14 22:58] zhangguanheng66 commented on #29820
It's an old issue related to type promotion and has been fixed by v.1.3.1. Please update your pytorch with the latest binary package or master branch. Feel free to re-open the issue if you still have questions.

[2019-11-14 22:58] #29820 closed

[2019-11-14 23:01] ailzhang opened #29855 "Pytorch multiprocessing sync crash with python barrier."
This is an issue original found in [pytorch/xla repo](https://github.com/pytorch/xla/issues/1354) by @jysohn23 @dlibenzi .

[code]

[2019-11-14 23:02] ngimel commented on #29802
The memory would automatically be released if the intermediate result is not used elsewhere (e.g. it is not necessary to store it for backwards pass). However, it won't be reflected in torch.cuda.memory_allocated because that memory would still be managed by pytorch's memory allocator, and would be reported as allocated to cuda driver, but this memory is still available for pytorch process to use.

[2019-11-14 23:02] #29802 closed

[2019-11-14 23:06] zhangguanheng66 commented on #24816
Could you provide the input `x` and `mask` so we could reproduce the error?

[2019-11-14 23:12] quickwritereader commented on #27678
Hi Vitaly. I changed these files to add power Vec256 by following AVX,AVX2 additions
 [vsx branch](https://github.com/quickwritereader/pytorch/commit/d5f0fce0da861bcf39fa34aaa4a389b54d712920)
cmake/Modules/FindVSX.cmake
cmake/Codegen.cmake
cmake/Dependencies.cmake
aten/src/ATen/native/DispatchStub.cpp
aten/src/ATen/native/DispatchStub.h

Frankly, I did not test compiler auto-vectorization.  As far

[2019-11-14 23:12] zhangguanheng66 commented on #29520
some changes could be made [here](https://github.com/pytorch/pytorch/blob/77bb41c96553756dea5e350ad02383bc5f00b7ab/torch/nn/functional.py#L3364). However, in general, I don't want to change the API which introduce a BC breaking.

[2019-11-14 23:12] #29520 closed

[2019-11-14 23:22] NestLakerJasonLIN commented on #29820
Thanks! It works now after updating.

[2019-11-14 23:56] dzhulgakov commented on #29844
Agree for cuda/hip dispatch.

For AVX - I'm not fully sold it should happen on c10::Dispatcher level. There's usually big enough shared part of CPU code (all the checks, allocations, etc) and only the inner compute kernel is avx/avx2 dependent. So having a separate lightweight mechanism for it (DispatchStub) feels more convenient. FWIW, there's a similar mechanism in caffe2/perfkernels - we should

[2019-11-15 00:16] mrshenli opened #29860 "torch.save/load shows raw path on the pickle_module arg"
The doc now looks like below. I would assume the path was not intended to be there?

<img width="877" alt="Screen Shot 2019-11-14 at 4 12 15 PM" src="https://user-images.githubusercontent.com/16999635/68906684-fb3e2a00-06f9-11ea-812a-90e66aecc787.png">

[2019-11-15 00:37] vincentqb opened #29863 "n-dimensional non-constant padding functional"
## 🚀 Feature

It'd be nice to have n-dimensional non-constant padding functional available.

[code]

## Motivation

non-constant would simplify pytorch/audio#337.

## Additional context

n-dimensional constant padding was introduced in #2657.

[2019-11-15 00:46] edelsohn commented on #27678
@VitalyFedyunin The question was not about hand-optimized kernels.  Abdel has written hand-optimized kernels for OpenBLAS.  The question is whether he could assume that the compiler would hoist loop invariant constants.

PyTorch and libATen are Open Source software.  They already contains some support for Power Altivec.  IBM is sponsoring Abdel to update and enhance the support for the newer desig

[2019-11-15 00:58] akikaaa commented on #29802
@ngimel Thanks for your response. But I'm still confused. If the gpu memory used by intermediate result is released but cached, why doesn't the gpu memory usage decrease even after I call torch.cuda.empty_cache()?
Both torch.cuda.memory_allocated(0) and torch.cuda.memory_cached(0) stay the same.

[2019-11-15 01:06] sayakpaul commented on #27738
Anything on this? :(

[2019-11-15 01:13] ksurya commented on #22259
I have come across the same issue.

Environment: PyTorch 1.3, CUDA 10.1, Tesla V100

Two flask servers serving BERT-Large models on same GPU.

A multi-threaded client makes requests to only one the server, but still the GPU hangs. GPU-Util remains at 100% indefinitely.

[2019-11-15 01:14] lanpa commented on #29545
@corner100 How do you import tensorboard? Is that imported before torch or after torch. Did you have tensorflow-gpu installed as well?

[2019-11-15 02:20] driazati commented on #29764
for posterity a backtrace gives but I'm still looking into it

[code]

[2019-11-15 02:36] driazati commented on #29764
@Krovatkin after some investigation this looks like an interpreter bug, do you mind taking a look?

[2019-11-15 02:47] jithunnair-amd commented on #27116
Issue has been fixed in commit https://github.com/pytorch/pytorch/commit/24242e86f

[2019-11-15 02:47] #27116 closed

[2019-11-15 02:58] sysuzyq opened #29887 "Error when loading model with traced `to` call"
## terminate called after throwing an instance of 'torch::jit::script::ErrorReport'

[code]

[code]

cc @suo

[2019-11-15 03:06] zdevito commented on #29764
I was able to repro locally, and put up the PR above that fixes it. The test-disabling PR hasn't landed yet, so this fix PR cannot revert the test disable.

[2019-11-15 03:22] soumith commented on #27738
@sayakpaul what GPU does your instance have? by the same issue, can you expand what you're seeing?

[2019-11-15 03:44] alohali commented on #29724
@vincentqb
Collecting environment information...
PyTorch version: 1.3.0
Is debug build: No
CUDA used to build PyTorch: 10.1.243

OS: Ubuntu 16.04.5 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.12) 5.4.0 20160609
CMake version: version 3.5.2

Python version: 3.5
Is CUDA available: Yes
CUDA runtime version: 10.0.130
GPU models and configuration:
GPU 0: TITAN Xp
GPU 1: TITAN Xp
GPU 2: TITAN Xp
GPU 3

[2019-11-15 04:19] sheikmohdimran commented on #29538
Unable to recreate with the latest nightly

[code]

**Environment**

[code]

[2019-11-15 05:12] mgraczyk commented on #5301
Looks like torch is trying to call `cudaGetDevice` on a forked child process (data loader worker) in `pytorch/torch/csrc/autograd/profiler_cuda.cpp`. The worker throws a runtime error and brings down the process tree. One simple solution that may work is to have the profiler check its pid and stop if the pid changes. Another option is to use some post-fork registration that would be called or sign

[2019-11-15 05:43] mathpopo commented on #29799
./scripts/build_pytorch_android.sh

+ '[' false = true ']'
+ gradle -p /home/chenxin/Downloads/pytorch/android clean assembleRelease

FAILURE: Build failed with an exception.

* Where:
Build file '/home/chenxin/Downloads/pytorch/android/libs/fbjni_local/build.gradle' line: 40

* What went wrong:
A problem occurred evaluating project ':fbjni'.

* Try:
Run with --stacktrace option to get the stack t

[2019-11-15 06:14] PistonY opened #29889 "died with <Signals.SIGSEGV: 11>"
## 🐛 Bug
Hello, I use Pytorch to train my model, and suddenly raise a error, I've tried for a few times, I could train for some epochs, and this error suddenly comes out.
I really don't know why and how to figure this.
[code]
## Environment

I use Ubuntu 18.04
CUDA: 10.1
CUDNN: 7.6
Pytorch: 1.3 with miniconda.
I use to this to launch.
[code]

[2019-11-15 06:58] RichardHuan opened #29891 "Get wrong precision when multi nodes run in docker"
I can finetune a pretrained model using two nodes outside docker by several steps to get better precision. But when I do the same thing in the docker( without any error messages) by several steps in the same machine, the test precision is always 0. Does anyone know why?
Pytorch version is 1.2.0, nccl version is 2.4.8 for inside or outside docker container.

[2019-11-15 07:02] #28819 closed

[2019-11-15 07:18] rohan-varma opened #29892 "Support per-RPC timeouts in Process Group Agent"
## 🚀 Feature
Support for RPCs having timeouts is being added in https://github.com/pytorch/pytorch/pull/29601, but this isn't currently per RPC. We would like to extend this to a per-RPC timeout that is configurable by calls to `rpc.rpc_(a)sync`. The reason for this is that the user may want more granular control over how long they expect an RPC to last. See the discussion in the mentioned PR for

[2019-11-15 07:27] seyong92 opened #29893 "Memory leak when evaluating model on CPU with dynamic size tensor input."
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Make a simple network.
2. Change a model to eval mode (with torch.no_grad())
3. Evaluate model with dynamic size input.
4. CPU memory increases a lot.
5. I attached a simple toy example that can reproduce this error.
https://github.com/seyong92/pytorch_memory_leak_test/
Run this code with "python3 main.py -ds" (-ds means the input ten

[2019-11-15 07:41] mkatsevVR commented on #29356
1.3.1 is out but doesn't appear to be fixed..?

[2019-11-15 08:18] peterjc123 commented on #29356
Yes, looks like @soumith is on a holiday. We have to wait for a while.

[2019-11-15 08:20] peterjc123 commented on #29356
If you want to get the fixed wheels, you can find them here: https://dev.azure.com/peterjc123/_git/pytorch_builder/branches.

[2019-11-15 08:31] WEIFZH commented on #17203
the same issue today
i've tried python 3.6.x and 3.7.1, didn't work.

[2019-11-15 08:44] Rustin333 commented on #29356
@soumithSent from my Samsung Galaxy smartphone.
-------- Original message --------From: peterjc123 <notifications@github.com> Date: 11/15/19  2:20 AM  (GMT-06:00) To: pytorch/pytorch <pytorch@noreply.github.com> Cc: Subscribed <subscribed@noreply.github.com> Subject: Re: [pytorch/pytorch] windows release of pytorch 1.3 is missing several required cuda libraries (#29356) Yes, looks like @soumith is

[2019-11-15 09:18] sayakpaul commented on #27738
@soumith it's a P100. I am seeing:

[code]

[2019-11-15 09:27] GrzegorzKarchNV commented on #24235
thanks @wanchaol for your solution.
For LSTM layer it won't work, as expected from your comment:
[code]
output:
[code]
can the problem be fixed in a reasonable time (i.e., ONNX not supporting types other than tensor), or can you recommend any workaround for the issue?

[2019-11-15 10:11] CeadeS commented on #29722
Compiled it from source now but got the same results. With and without cuda.

[2019-11-15 10:28] dbergh opened #29895 "Assignment of tensors in the c++ API does not work as expected"
## 🐛 Bug
The following short program does not compile.

    #include "torch/torch.h"

    int main() {
        torch::Tensor tensor = torch::ones({2, 2});
        tensor.fill_(0); // OK
        tensor = 0; // Gives compile error
    }

## Expected behavior

I would expect both the expressions 'tensor.fill_(0)' and 'tensor = 0' to compile and that they would yield the same result.

Looking at the s

[2019-11-15 10:37] Rustin333 commented on #29722
unsubscribeSent from my Samsung Galaxy smartphone.
-------- Original message --------From: CeadeS <notifications@github.com> Date: 11/15/19  4:12 AM  (GMT-06:00) To: pytorch/pytorch <pytorch@noreply.github.com> Cc: Subscribed <subscribed@noreply.github.com> Subject: Re: [pytorch/pytorch] Slow (20-50x) RNN tutorial/example when torch is installed using pip comp. to conda installation (#29722) Compi

[2019-11-15 10:45] Dorozhko-Anton opened #29896 "No module named fb"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Just import
[code]

Error:
[code]

## Expected behavior

import succeeds

## Environment

Collecting environment information...
PyTorch version: 1.3.1
Is debug build: No
CUDA used to build PyTorch: 10.1.243

OS: Ubuntu 18.10
GCC version: (Ubuntu 8.3.0-6ubuntu1~18.10.1) 8.3.0
CMake version: Could not collect

Python version: 3.7
Is CUD

[2019-11-15 13:02] DineshShrestha commented on #5554
IndexError                                Traceback (most recent call last)
<ipython-input-11-faabee82ef6e> in <module>
      1 im_id = '23445819_3a458716c1.jpg'
----> 2 sample_and_plot(im_id)

<ipython-input-7-29fb074ca40e> in sample_and_plot(im_id)
     35     s1 = solver.sample(feature, search_mode='greedy')
     36     s1 = decode_captions(s1, data.idx_to_word)
---> 37     s2 = solver.sample(f

[2019-11-15 13:21] GLjun commented on #19103
Hi, I run the code below. but the measured time is just the same. And I tried torch.mm by small gemm kernel, the torch.cuda.stream() just didn't work. All the stream running interleaved but serial.
`import numpy as np
import torch
import time

k = 4
cuda = torch.device('cuda')
streams = [torch.cuda.Stream(cuda) for i in range(k)]

x = torch.tensor(np.random.rand(100, 2048, 2048).astype(np.float32)

[2019-11-15 14:19] f0k commented on #18182
This is bugging me as well. Let's try reviving this.

FWIW, in Lasagne we provided a keyword argument for every parameter of a layer that you could either pass a callable initializer or custom values (or a graph evaluated in the forward pass). This would make it much more visible, but it would also involve touching each and every module constructor, and it's not very practical for changing many in

[2019-11-15 14:25] Rustin333 commented on #18182
Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: Jan Schlüter <notifications@github.com> Date: 11/15/19  8:20 AM  (GMT-06:00) To: pytorch/pytorch <pytorch@noreply.github.com> Cc: Subscribed <subscribed@noreply.github.com> Subject: Re: [pytorch/pytorch] Update weight initialisations to current best practices (#18182) This is bugging me as well. Let's try reviving this

[2019-11-15 15:36] ezyang commented on #29844
I mean, I think this is a problem we should generally solve: shared code that should be reused between different implementations of the kernel (this applies across cpu and cuda).  Also, there isn't all that much that's shared in practice:

[code]

[2019-11-15 15:36] ezyang commented on #29809
Might be #27971 or #25267.

[2019-11-15 15:49] ngimel commented on #29802
Your `a` and `b` require gradient, intermediate result is retained to be able to compute the gradients and thus is stored for the backward pass. As I've said, if this issue is a bottleneck for you, it is possible (in your particular configuration) to implement this matmul without an intermediate matrix.
BTW, `Variable` is a deprecated syntax.

[2019-11-15 16:22] ezyang commented on #26838
I've reproduced this locally on two different configurations too.

[2019-11-15 16:39] Kytabyte opened #29905 "Argument missing and ordering mismatch at `torch.distributed.rpc.init_model_parallel` doc"
## 📚 Documentation

Per `torch.distributed.rpc.init_model_parallel` function on RPC document page in master branch [here](https://pytorch.org/docs/master/rpc.html), I think there are some points to revise or polish:

1. the argument `worker_name_to_id` is missing in doc.
2. The order of arguments in doc does not match the function signature, which would cause additional ambiguity or inconvenience

[2019-11-15 16:45] WilliamCCHuang opened #29906 "[TensorBoard] add_hparams outputs undesired figures"
## 🐛 Bug

The method `add_hparams` in tensorboard is amazing, however, sometimes it generates strange figures like the following figure:

<img width="1439" alt="截圖 2019-11-16 上午12 30 21" src="https://user-images.githubusercontent.com/33038038/68959176-8574b400-0808-11ea-9dcc-86c886f24bbf.png">

The second figure in the bottom row shows that there are some gaps in loss and accuracy when the x-axis

[2019-11-15 16:53] Kytabyte commented on #29905
I can try to fix this if it's needed and it's not urgent, as I have no experience in contributing PyTorch but I'm willing to take the first stab

[2019-11-15 17:01] hameerabbasi commented on #28361
It seems like variable and no-argument methods do not parse self in their list of arguments:

https://github.com/prasunanand/pytorch/blob/torch_function/tools/autograd/gen_python_functions.py#L101-L110

and

https://github.com/prasunanand/pytorch/blob/torch_function/tools/autograd/gen_python_functions.py#L73-L89

`PythonArgParser` also does not take `self`: https://github.com/prasunanand/pytorch/b

[2019-11-15 17:07] hameerabbasi commented on #28361
Also, would it be better to have an expected method on subclasses for the default `__torch_function__` a.la. `__array_wrap__` (instead called `__torch_wrap__`, for mirroring NumPy), or just call the default constructor with the output tensor?

Examples:

[code]

vs

[code]

@jph00 Thoughts?

[2019-11-15 17:09] soumith commented on #29356
uploaded fixed wheels. Please uninstall pytorch and reinstall according to the commands on https://pytorch.org

[2019-11-15 17:09] #29356 closed

[2019-11-15 17:10] ezyang commented on #28361
It's hard to talk about a very specific implementation problem without seeing more about the planned implementation. In particular, why does PythonArgParser need self?

[2019-11-15 17:12] soumith commented on #29896
it's been like this for a year. the caffe2 frontend is not supported, and going away. I am not entirely sure how long we'll even keep it exposed in master.

I'm closing this as a `wontfix`.

[2019-11-15 17:12] #29896 closed

[2019-11-15 17:16] soumith commented on #27738
@sayakpaul as the error message says, upgrade your CUDA driver, you installed the CUDA 10.1 compatible pytorch package which is the default.

[2019-11-15 17:22] hameerabbasi commented on #28361
Here's my line of reasoning:

1. We need a default `__torch_function__` on `Tensor` (see issue description), which has to be applied to `self` as well.
2. We need to make it work with methods as well, for this to work.
3. `self` needs to be in the list of parsed arguments, because most of the `__torch_function__` logic is inside `PythonArgParser`.

The other option is to refactor/rewrite the logic

[2019-11-15 17:40] lara-hdr opened #29909 "Regression in JIT tracer with loops"
## 🐛 Bug
I noticed a regression in the jit tracer in the last 3 days.
I made some test and it seems that it is coming from https://github.com/pytorch/pytorch/pull/29230 (commit 5b702ab52b572895f8dd2bf49e50f187febe4047).

## To Reproduce
In the below example I have a loop on "i" in range(10), when I trace it, "i" starts taking weird values when torch.cat() is used in the loop, I think it starts tak

[2019-11-15 17:41] houseroad commented on #29909
cc: @Krovatkin @suo

[2019-11-15 17:51] gwgundersen commented on #22526
I tried the nightly build,

[code]

but now I run out of CUDA memory in what I assume is an unrelated bug—although oddly enough, I tried upgrading versions to 1.3.1 because I was running out of memory on 1.0.1. Sorry for my confusing reports. All this worked months ago, and I'm just context switching back into a dormant project.

Anyway, [here is the model](https://gist.github.com/gwgundersen/1c00

[2019-11-15 18:16] eellison commented on #29340
FYI: https://github.com/pytorch/pytorch/pull/28918/

[2019-11-15 18:25] Krovatkin commented on #29909
@lara-hdr Thanks for reporting this! I'll look into this ASAP.

[2019-11-15 18:32] soumith commented on #29893
as per https://github.com/pytorch/pytorch/issues/25267#issuecomment-553517072 can you try running with `MKL_DISABLE_FAST_MM=0` env variable

[2019-11-15 18:36] soumith commented on #29643
we usually control the version name with env variable `TORCH_PACKAGE_NAME` in our binary build environments.

[2019-11-15 18:36] #29643 closed

[2019-11-15 18:36] supriyar commented on #29806
Dupe of https://discuss.pytorch.org/t/model-loading-issue-in-android/60990.
@mohitranawat do you have a small repro that we can try out on our end to diagnose the problem better?

[2019-11-15 18:36] soumith commented on #29643
we'll try to proactively fix it, but since the v1.3.1 release is already tagged, i will refrain from changing the tag.

[2019-11-15 18:40] suo commented on #24032
It certainly seems so. @ailzhang did you have a recent change that fixed this or is it an unrelated dropout fusion thing?

[2019-11-15 18:41] Krovatkin commented on #29909
@lara-hdr could you try removing `@torch.jit.script` if you are decided to use a jit tracer? I think we usually use either tracer or jitter, using both is a bit unusual mode for us and seems to have exposed an issue in our new graph executor infrastructure.

[2019-11-15 18:59] lara-hdr commented on #29909
Indeed if I remove @torch.jit.script, it works fine in the above example.
In this example, it is fine since it is just a simple repro, but more complex scenarios that require to mix both tracing and scripting will be broken...
Do you have an idea of why this regression is introduced?

[2019-11-15 19:10] hugovbraun commented on #26811
I only wrote the Upright version of this operator/test, so not sure what's in this one

[2019-11-15 19:16] #29475 closed

[2019-11-15 19:25] Krovatkin commented on #29909
@lara-hdr we are switching to a new graph executor infrastructure and we are enabling it for our OSS users. We would like our users to use andh help us test our new infrastructure as much as possible but at this point you could get the original behaviour by setting these switches to false in python
[code]
and in c++
[code]

[2019-11-15 19:27] IvanKobzarev commented on #29799
@mathpopo
file android/gradle/release.gradle exists in the repo:
https://github.com/pytorch/pytorch/blob/master/android/gradle/release.gradle

I guess that something like android studio etc. could delete /gradle/ folder for 'cleaning' of the project

If that is the case - we can think about renaming /gradle/ folder

[2019-11-15 19:37] xuhdev commented on #21702
I believe that this issue has been largely resolved (if I'm not mistaken), except NumPy as a special case in which we should rely on the Python script. The next step may be to resolve #23512

[2019-11-15 19:53] mahmoodn commented on #29801
Thanks. I asked that in forum but didn't get any reply.

[2019-11-15 20:24] skrah commented on #26838
The CI situation is strange.  I'm pretty sure that I didn't see a skip on some CIs when I wrote that test, so I assumed it was OK.

Perhaps 12GB is just too little, the 6GB limit for the other test also required some experiments because the exact amount of memory is hard to tell.

[2019-11-15 20:25] zou3519 commented on #29895
In python,
[code]
foo isn't a tensor anymore at the second call. Because of that, I'm not sure that the c++ API should have this behavior.

[2019-11-15 20:25] skrah commented on #26838
I only have a 6GB card here, so I cannot test.

[2019-11-15 20:32] yf225 commented on #29895
For the reason that @zou3519 detailed above, C++ API should not have this behavior, and we should use `tensor.fill_(0);` if we want to fill `tensor` with 0.

[2019-11-15 20:32] #29895 closed

[2019-11-15 20:39] mbchang commented on #21092
After putting in
[code]
I also get the same error `AttributeError: Can't pickle local object`. Would anyone have any ideas how to fix this?

[2019-11-15 21:12] SsnL commented on #21092
Hi, for pickling errors, you likely are using some objects that python
pickled can not handle, e.g. objects that has pointers to functions defined
in local scopes. In some cases the code can be modified so that the object
become picklable, e.g by moving locally-defined functions to global scope.
Alternatively you can investigate using other pickers like cloudpickle or
dill.

On Fri, Nov 15, 2019 a

[2019-11-15 21:37] zhaojuanmao opened #29924 "Remote python exception is not rethrown when create remote reference to itself"
## 🐛 Bug

It is found that remote python exception is not re-thrown when create remote reference to itself

## To Reproduce
add a new unit test to create remote reference to itself, remote exception is not rethrown
    @dist_init
    def test_remote_with_exception(self):
        n = self.rank + 1
        dst_rank = n % self.world_size
        rref = rpc.remote("worker{}".format(self.rank), no_resu

[2019-11-15 21:52] alicanb commented on #29476
probably because 1/T-1 != 1/(T-1)

[2019-11-15 21:53] ezyang commented on #21702
OK, SGTM!

[2019-11-15 21:53] #21702 closed

[2019-11-15 21:59] alexEl86 commented on #28746
I have the same problem, anybody

[2019-11-15 22:00] alexEl86 commented on #28746
I have the same problem, anyone with an idea?

[2019-11-15 23:22] supriyar commented on #29796
Hello,
MKL is supported only on Intel devices so we currently do not compile MKL in our iOS build.
You are hitting this assertion because the at::_fft operator calls at::_fft_with_size which currently only has an mkl implementation.

At this point, these functions are not supported on mobile, but we're happy to accept contributions if anyone is interested in submitting a PR for these ops!

[2019-11-16 00:11] #21545 closed

[2019-11-16 00:18] ailzhang commented on #24032
I think this is likely fixed on master. I'm building locally to confirm.

[2019-11-16 00:36] sayakpaul commented on #27738
@soumith yeah! But I am curious about knowing Colab too has CUDA10.0 and PyTorch 1.3.1 still runs.

[2019-11-16 00:40] zdevito opened #29938 "test_graph_for_py_nested_remote_call (__main__.DistAutogradTestWithSpawn) is flaky"
Example failure: https://app.circleci.com/jobs/github/pytorch/pytorch/3620994

It should be disabled and investigated.

[code]
cc @ezyang @gchanan @zou3519 @jerryzh168 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528

[2019-11-16 00:41] zdevito commented on #29938
cc @mrshenli

[2019-11-16 00:44] xzhu1900 opened #29939 "torch.nn.parallel.DistributedDataParallel is slow on backpropagation"
## 🐛 Bug

We are training with Bert model from [this repository](https://github.com/microsoft/AzureML-BERT/tree/master). We found out that when using `torch.nn.parallel.DistributedDataParallel`, we incur a ~3x performance slowdown per iteration compared to the default Apex DistributedDataParallel.

We broke down the training into steps and found out the major slowdown happened at the backpropagati

[2019-11-16 01:07] driazati commented on #29808
You can grab parameters off a `script::Module` with [`script::Module::attr`](https://pytorch.org/cppdocs/api/structtorch_1_1jit_1_1script_1_1_module.html#exhale-struct-structtorch-1-1jit-1-1script-1-1-module). You can also print the whole model with `script::Module::dump()` if that's what you're looking for. Closing since this is a help question (please put any follow ups on the forums [here](http

[2019-11-16 01:07] #29808 closed

[2019-11-16 01:51] #29764 closed

[2019-11-16 03:43] zdevito opened #29959 "DISABLED test_async_grad_guard_with_grad (jit.test_async.TestAsync)"
Test issues please ignore.
This is not a real issue, but a test that the presence of this issue causes the code in the PR https://github.com/pytorch/pytorch/pull/29944 to skip the test named in this issue.

cc @ezyang @gchanan @zou3519 @jerryzh168 @suo

[2019-11-16 03:47] soumith commented on #27738
colab is loaded up with special builds of pytorch that are built against cuda 10.0

[2019-11-16 05:29] diegovalenzuelaiturra opened #29961 "Add support for integer matrix multiplication (particularly for dtype = torch.int8 )"
## 🚀 Feature

Implement GPU INT8 matrix multiplication in PyTorch.

## Motivation

In order to save time by using less GPU memory per data (hence, being able to use bigger batch sizes), I think it would be nice to be able to use int8 when representing the data, for example, for combinatorial problems, since the combinatorial space is vast.

## Pitch

I'd like to be able to perform a matrix multipl

[2019-11-16 05:33] diegovalenzuelaiturra commented on #29961
Currently, the following code crashes

[code]

Error message:

[code]

[2019-11-16 06:35] a5tr1 commented on #17203
I succeded with re installing the version as written in this link [https://stackoverflow.com/questions/49395819/import-torch-giving-error-from-torch-c-import-dll-load-failed-the-specif](url)
look for the end of comment it works for me.

Looks like torch in windows are very sensitive with the version compatible each package
Package      Version
------------ -----------
intel-openmp 2019.0
mkl

[2019-11-16 06:36] a5tr1 commented on #17203
please try my latest comment, maybe it will works for you

[2019-11-16 06:41] magic282 commented on #27738
@soumith Thank you. Upgrading the driver indeed solves this problem. Actually I was running inside docker on a cluster, so I didn't know that the driver on the host machine is lower.

[2019-11-16 08:32] jusonn commented on #27610
How will model server loads pytorch model?
Will JIT be essential to model server? or there will be another model object like tf saved_model??

[2019-11-16 10:08] sayakpaul commented on #27738
@soumith thanks much for the clarification!

[2019-11-16 10:25] yanglongfei908 opened #29966 "Get "RuntimeError: CUDA error: device-side assert triggered""
Snippet from my code :
[code]
But I get error of `RuntimeError: CUDA error: device-side assert triggered"`.
The output by adding `CUDA_LAUNCH_BLOCKING=1`:
[code]
How to fix it?

cc @ngimel

[2019-11-16 10:34] hameerabbasi commented on #28361
I have a WIP branch up at https://github.com/Quansight/pytorch/tree/subclassing, I've added tests at: https://github.com/Quansight/pytorch/blob/a68761ef8942041089d5da4815db07f020667260/test/test_subclassing.py

[2019-11-16 10:36] Tj85710 opened #29967 "Illegal instruction : 4"
## 🐛 Bug

Unable to run pytorch on an iMac 27 mid-2010 Intel Core i7.

## To Reproduce

[(base) iMac27:~ xxxxxx$ conda install --update-all pytorch torchvision -c pytorch

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Users/xxxxxx/miniconda3

  added / updated specs:
    - pytorch
    - torchvision

The following p

[2019-11-16 11:04] mahmoodn opened #29968 "Issue with adding additional CFLAGS path"
I would like to know why adding additional include paths via CFLAGS doesn't work for building Pytorch?
I haven't root access to install devel packages, so I have the downloaded rpm file and extract it inmy home.
[code]
Still I get `numa.h not found`

[code]

[2019-11-16 11:55] #22549 closed

[2019-11-16 14:49] FANTASTPATR opened #29969 "The second parameter "tgt" of Transformer in its function forward:"
I'm not very sure that what is the parameter "tgt" means.
The document says it is the sequence of decoder. However, I have a question that since I have the sequence to decoder, thus I have the result of decoder, why do I have to use transformer for inferencing?
For example, I have a seq2seq task that translate "I love you" from English to Franch "Je t'aime", what is the parameter of "tgt"?
Looking

[2019-11-16 19:27] dreiss commented on #6570
Nightly libtorch builds now include JNI bindings on Linux.  Mac and Windows will follow.  The Java API is now on Sonatype.

Here's a repository that demonstrates how to use it: https://github.com/dreiss/java-demo .  Setup instructions are in the readme.  They're very short and don't require building any C++ code or checking out the PyTorch repository.

Please send feedback!

[2019-11-16 19:52] DomHudson opened #29973 "Indexing into tensor order of magnitude slower than numpy"
## 🐛 Bug

Indexing into a pytorch tensor is an order of magnitude slower than numpy.

## To Reproduce

Steps to reproduce the behavior:

[code]

[code]

[code]

## Line profiler

[code]

## Expected behavior

I expect indexing to be quite quick.

## Environment

[code]

cc @ezyang @SsnL @albanD @zou3519 @gqchen @VitalyFedyunin @ngimel @gchanan @jerryzh168 @mruberry

[2019-11-16 20:02] zasdfgbnm commented on #9983
Instead of hunting for the "best" implementation and keep this feature being delayed, is there anything preventing us from adding a naive implementation first?  Something like:
[code]

In general, all the matrix functions, as long as this function could be written as a power series, could be implemented using the above method
[code]

We can always improve later.

[2019-11-16 20:51] ferrine commented on #9983
BTW, I have a working jit scripted version of this if it is relevant
https://github.com/geoopt/geoopt/blob/master/geoopt/linalg/_expm.py

[2019-11-16 22:32] Lezcano commented on #9983
@ferrine Your implementation of the forward pass is correct, as I see that is an adaptation of numpy, as it is mine, but it's missing the implementation of an approximation for the gradient.
@zasdfgnm an implementation using the eigendecomposition, not only just works for symmetric matrices, but the algorithm is rather poor in terms of numerical stability.

A stronger way to go forward would be ta

[2019-11-17 00:47] isaacmg commented on #24816
Thanks for the response. I was able to fix it on my own. I didn't normalize my time series values before passing them in which caused the loss to explode. After applying StandardScaler prior to passing in the time series value the problem went away.

[2019-11-17 02:05] chrahunt commented on #27197
This was addressed in #27713.

[2019-11-17 02:07] chrahunt commented on #27078
This was addressed in #27713.

[2019-11-17 02:42] #27078 closed

[2019-11-17 02:42] #27197 closed

[2019-11-17 03:20] gauravjain14 opened #29976 "Using PyTorch 0.5.0 with torchvision"
I have been trying to get PyTorch 0.5 working with Torchvision. I know its pretty old but that's what I am supposed to work with due to using GPGPUSim. The torchvision version I have is 0.4.2.

When I try to do import torchvision, I get the following error:

File "/usr/local/lib/python3.5/site-packages/torch/jit/frontend.py", line 422, in build_Subscript
    raise NotSupportedError(base.range(), "

[2019-11-17 04:31] NathanDrakeHat opened #29977 "torchvision.datasets ImageNet and EMNIST url invalid"
url outdated!

[2019-11-17 08:38] aviaisr opened #29980 "ONNX export failed: Couldn't export operator aten::upsample_bilinear2d"
## 🐛 Bug

I'm trying to use torch.onnx.export function to convert my model to ONNX but I get this error

torch\onnx\symbolic_helper.py:176: UserWarning: ONNX export failed on upsample_bilinear2d because align_corners == True not supported
RuntimeError: ONNX export failed: Couldn't export operator aten::upsample_bilinear2d

 - PyTorch Version: '1.4.0.dev20191113'

 - OS: Windows 10

 - How you inst

[2019-11-17 08:50] #29980 closed

[2019-11-17 08:50] aviaisr commented on #29980
Fixed after adding

torch.onnx.export(..,opset_version=11)

[2019-11-17 10:11] artemZholus commented on #24081
Same problem. I've tested on Ryzen 3700 with two gtx 1060 6gb. `DataParallel` freezes at `forward` if using two gpus while behaving normally with one. `strace` also showed me deadlock at ioctl
[code]
I'm using `PyTorch==1.3.0`, driver version `418.87` (also tried with `435.21` but unsuccessfully), `cuda==10.1`, `cudnn==7.6.5`

[2019-11-17 10:30] VincentBt opened #29981 "[feature request] Multivariate normal CDF"
I'd like to discuss here the implementation of the multivariate normal cumulative distribution function (CDF), as the following code
[code]
raises a _NotImplementedError_.

The cdf of the mvn has no closed-form solution, and is implemented [in scipy](https://github.com/scipy/scipy/blob/master/scipy/stats/mvndst.f) (Fortran code) and [in Matlab](https://fr.mathworks.com/help/stats/mvncdf.html) base

[2019-11-17 11:49] aviaisr commented on #27841
I think I have the same issue.

I exported a pytorch model to onnx, then I loaded the onnx, called "prepare" (from onnx_tf.backend) in order to later export the model to pb.

I see that the model is not passing the validation check done by the onnx checker:

 File "C:/CP/DL_REPOSITORIES/pytorch-onnx-tensorflow-pb/avia_convertPyTorchToOnnx.py", line 32, in run
    tf_rep = prepare(model_onnx, opset

[2019-11-17 19:34] shchur opened #29984 "Some cublas functions don't handle inputs with zero strides"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]
## Expected behavior

No exception is raised.

## Environment
[code]

This code was run on Google Colab. The bug also reproduces on my server (Ubuntu 16.04LTS, 4x GTX1080Ti GPUs).

## Additional context

The bug doesn't occur if:
1. If I replace `sum()` with `mean()`
[code]

2. If I use a different shape of the tensor
[code]

3. I

[2019-11-17 19:44] ngimel commented on #29969
Please don't duplicate questions from forums here, and please ask questions on forums only. https://discuss.pytorch.org/t/the-second-parameter-tgt-of-transformer-in-its-function-forward/61195

[2019-11-17 19:44] #29969 closed

[2019-11-17 19:57] ucalyptus commented on #24807
Any updates? @Microsheep  and @danilo-augusto ? I encountered the same error. Did https://github.com/pytorch/pytorch/pull/25093 solve this issue?

[2019-11-17 20:20] ngimel commented on #29984
Simpler repro
[code]
some cublas functions (gemv and ger at least) don't handle broadcasted arguments, and thus broadcasted arguments should be expanded before calling into them. Note, above repro does not produce errors on cpu.
cc: @ptrblck @csarofeen

[2019-11-17 20:56] peterbell10 commented on #22251
@mruberry has already fixed this in #27245.

[2019-11-17 20:56] #22251 closed

[2019-11-17 21:08] peterbell10 commented on #29476
Can confirm: `1/T-1 == -0.9667`, `1/(T-1) == 0.0345`. As you'd expect, replacing `T` in the expression with the literal 30 gives the exact same answer:
[code]

[2019-11-17 21:08] #29476 closed

[2019-11-17 22:17] Oktai15 commented on #3867
Do we have any update about solution for this issue?

[2019-11-18 00:01] JoonBumLeem commented on #29795
Thank you for  answers @peterjc123 @vincentqb
And sorry for the code style. I don't know how to change it with colors.

I tried all above but it's still error.
For GPU memory, it's usually running long time  and then suddenly make error message.
TDR settings also I did but not work.

t.autograd.set_detect_anomaly = True
This option not work too.

self.rnn = nn.LSTM(29, 128, batch_first=True,

[2019-11-18 00:50] seyong92 commented on #29893
Unfortunately, it still occurs with command "MKL_DISABLE_FAST_MM=0 python3 main.py -ds"

[2019-11-18 01:29] KarimTarabishy commented on #25646
I have the same problem, trying with tensors of the same size gives no memory leak. I have tried the cache environment variable for mkldnn, but it did not work.

[2019-11-18 01:50] #29889 closed

[2019-11-18 02:04] xsacha commented on #23730
I get the same error about CUB path missing.
[code]
Even though it is clearly present in third_party/cub and setting CUB_INCLUDE_DIR didn't work.

[2019-11-18 03:19] vdantu commented on #27610
@jusonn : TorchServe will not rely only on JIT. We are proposing to support both JIT and Eager Mode scripts.

In the initial release we want to provide a TorchServe serialization tool for customers who want to use eager-mode scripts. This tool can be used to serialize the eager mode model-script along with state_dict and/or any other extra files necessary to serve the model. This serialized model

[2019-11-18 03:30] mohitranawat commented on #29806
hey @supriyar  do you want model and jit trace side repro or for android side also?

[2019-11-18 03:49] xsacha commented on #17525
Yep, getting the same thing here.

I had to do, as a workaround:
[code]

[2019-11-18 04:17] yxjiang opened #29987 "Move the attributes of a module to the given device"
## 🚀 Feature
In the current implementation of *[Module](https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/script/module.h#L289-L313)*, there are methods ([torch::jit::script::Module::to(...)](https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/script/module.cpp#L138-L150)) to move all the parameters to the given device (e.g. from CPU to GPU). However, there is no correspondin

[2019-11-18 04:18] yxjiang commented on #29987
cc. @suo , @driazati

[2019-11-18 05:56] mathpopo commented on #29799
@IvanKobzarev  as your path ,i copy the file manually.
Script '/home/chenxin/Downloads/pytorch/android/gradle/release.gradle' line: 7

* What went wrong:
Could not compile script '/home/chenxin/Downloads/pytorch/android/gradle/release.gradle'.

  script '/home/chenxin/Downloads/pytorch/android/gradle/release.gradle': 7: unexpected token: < @ line 7, column 1.
     <!DOCTYPE html>
     ^

  1 error

[2019-11-18 07:13] YanZhiyuan0918 opened #29989 "Static Quantization: Get Error "RuntimeError: didn't find kernel to dispatch to for operator 'quantized:: conv2d'. Tried to look up kernel for dispatch key 'CPUTensorId'. Registered dispatch keys are [quantizedCPUTensorId](look up_at /pytorch/aten/src/ATen/core/dispatch/DispatchTable.h:249)""
## Problem Description

I want to do "Post-training static quantization" for my model. Steps to reproduce the behavior:

1. First, I run the demo on the official website, and it works well. The demo is on:
[https://pytorch.org/tutorials/advanced/static_quantization_tutorial.html](url)
2. Second, I want to do static_quantization for my own model, just like the demo. The code I use are:
`myModel = l

[2019-11-18 08:38] tbelhalfaoui commented on #29809
Wow, indeed, `LRU_CACHE_CAPACITY=1` (from https://github.com/pytorch/pytorch/issues/27971) solves my issue!

Thanks a lot for pointing out, @ezyang!

[2019-11-18 09:45] CeadeS commented on #29722
I compiled it with TBB and it runs much faster now. Not as fast as the conda build, but i can work with that.

[2019-11-18 09:59] Joyako opened #29990 "Pytorch1.3 for Android: Failed to transform artifact 'pytorch_android.aar' to match attributes"
## Failed to transform artifact 'pytorch_android.aar (org.pytorch:pytorch_android:1.4.0-SNAPSHOT:20191117.102116-39)' to match attributes {artifactType=jar}.

### I use  the '1.4.0-SNAPSHOT' and 'Pytorch-1.3.0',  my project  is OK in the first few week. But now I build my project when it can not sucess , I have not changed my project at all.

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-11-18 11:25] peterjc123 commented on #29722
Why? We didn't use MKL that is installed with conda. Also, we didn't build it with TBB in both conda builds and wheels build. That's pretty weird.

[2019-11-18 11:27] Haruo195 commented on #29630
@yangpc615 Hi, could you please tell us how did you solved that problem?

[2019-11-18 11:29] McChicken93 opened #29992 "CUDNN_STATUS_NOT_SUPPORTED on Backward pass when input tensor was permuted (libtorch)"
## 🐛 Bug

Between 2460dced8f and 18bdf97dbb something broke in PyTorches internals, as I'm getting a CUDNN_STATUS_NOT_SUPPORTED error when trying to train my C++ implementation of Pointnet++.

This results from a permutation from BHWC to BCHW and not calling contiguous afterwards.

The forward pass works, but on the backward pass the following error is thrown:

[code]

The exact same code works in

[2019-11-18 12:34] CeadeS commented on #29722
I am too new to this, to be able to comment on that.  The only thing I know is, that I compiled that over and over with different settings and ended up with one that is kind of working. Maybe it has something to do with openmp?

[2019-11-18 12:44] aviaisr opened #29993 "pytorch onnx exporter created an invalid model"
I exported a trained PyTorch model to onnx and the file was created but the model seems to be invalid. When I loaded the model and checked it I get the following validation error:

_onnx.checker.check_model(model_onnx)
File "C:\ProgramData\Anaconda3\lib\site-packages\onnx\checker.py", line 91, in check_model
C.check_model(model.SerializeToString())
onnx.onnx_cpp2py_export.checker.ValidationError:

[2019-11-18 13:39] peterjc123 commented on #29722
By comparing the build scripts and the logs in (https://dev.azure.com/pytorch/PyTorch/_build/results?buildId=17796 vs https://dev.azure.com/pytorch/PyTorch/_build/results?buildId=17796) and (https://github.com/pytorch/builder/blob/master/conda/pytorch-nightly/bld.bat vs https://github.com/pytorch/builder/blob/master/windows/build_pytorch.bat), I don't think openmp is causing this issue and I could

[2019-11-18 13:43] peterjc123 commented on #29722
BTW, does replacing some of the DLLs in the conda package help? If yes, then we can actually compare the compile and link commands.

[2019-11-18 13:45] rmcavoy commented on #29973
I recommend testing the indexing as [i, j] for a comparison. IIRC, [i][j] should slice it into columns and then index the columns so has the potential to be quite a bit heavier.

[2019-11-18 14:28] DomHudson commented on #29973
Thank you - that is a good tip! Numpy appears faster this way but, the difference with torch still remains.

[code]

[code]

[code]

[2019-11-18 14:29] ezyang commented on #29382
This is still affecting me https://app.circleci.com/jobs/github/pytorch/pytorch/3615514

[2019-11-18 14:37] rmcavoy commented on #29973
Does it maintain that speed diff with the TORCH_matrix computed in an environment where autograd should be disabled? i.e. test with
[code]

(I would confirm your test myself but I don't generally run inside Jupyter and unless I am not mistaken that timeit syntax is invalid outside ipython)

[2019-11-18 14:44] DomHudson commented on #29973
Unfortunately the difference remains on my machine with the `no_grad` context manager - I used 100 loops this time.

[code]

[code]

[code]

[2019-11-18 14:50] ezyang commented on #26838
@skrah I think this is a regression of some sort, because I definitely recall that `test_cuda.py` was working in the past. :/

[2019-11-18 14:55] andrewgordonwilson opened #29994 "Add SWA to PyTorch mainline"
## 🚀 Feature

Add [SWA](https://github.com/pytorch/contrib/blob/master/torchcontrib/optim/swa.py) to https://github.com/pytorch/pytorch/tree/master/torch/optim.

## Motivation

Stochastic weight averaging (SWA) is a general purpose optimization procedure that leads to improved generalization with essentially no computational overhead. [A description of SWA is here](https://pytorch.org/blog/stochas

[2019-11-18 15:02] ezyang commented on #27971
Amplifying priority: https://github.com/pytorch/pytorch/issues/29809 is a duplicate report of this problem.

[2019-11-18 15:02] ezyang commented on #29809
Thanks, I'm going to close this as a dupe, but this is defo high priority.

[2019-11-18 15:02] #29809 closed

[2019-11-18 15:17] aviaisr commented on #27838
I think I have the same issue. Used opset 11.
https://github.com/pytorch/pytorch/issues/29993#issue-524345045

[2019-11-18 15:43] orionr commented on #26790
@sanekmelnikov are you working on this one?

[2019-11-18 15:56] zhangguanheng66 commented on #24816
Just to clarify an early comment. There is a `softmax` function within `MultiheadAttention` function. See [here](https://github.com/pytorch/pytorch/blob/94016b153a4130814d95181014f635b33eb117df/torch/nn/functional.py#L3375)

[2019-11-18 16:02] zou3519 opened #29995 "python_doc_push should not depend on a CUDA build"
AFAIK, our docs build is CUDA-agnostic and should stay that way. Because of that, our python docs push job should not depend on a CUDA build but instead depend on a CPU-only build.

cc @ezyang @zou3519

[2019-11-18 16:07] #29683 closed

[2019-11-18 16:22] the7threvival commented on #1355
num_workers set to 0 worked for me. You should make sure it is at 0 everywhere you are using it.

Some other potential solutions:

6. from multiprocessing import set_start_method
    set_start_method('spawn')
7. cv2.setNumThreads(0)

It seems 3 or 7 are the way to go.

[2019-11-18 16:39] peterjc123 commented on #29722
@CeadeS Interesting. Would you please do the following to print out the DLLs that were loaded in the two environments:
[code]

[2019-11-18 16:51] mrshenli commented on #29382
@ezyang The error above does not seem to relate to RPC?

[code]

[2019-11-18 16:51] mrshenli commented on #29410
closed by #29069

[2019-11-18 16:52] #29410 closed

[2019-11-18 17:13] mrshenli commented on #29905
Hey @Kytabyte, thanks a lot for working on this!! The `rpc` API is currently experimental and we are still working on documents. Regarding `worker_name_to_id`, we are removing this arg and it won't appear in the first experimental release, and `init_model_parallel` API will be renamed to `init_rpc` (#29762).

[2019-11-18 17:19] mrshenli commented on #29905
Per 3. the repr for `backend` is indeed an issue. I see the following API signature:

[code]

@rohan-varma @xush6528 Shall we stay consistent with [`init_process_group`](https://pytorch.org/docs/stable/distributed.html#torch.distributed.init_process_group) and just show `backend` in the signature?

[2019-11-18 17:23] mrshenli opened #30014 "Remove `.api` from RPC API signature"
The `remote`/`rpc_sync`/`rpc_async` APIs are listed as `torch.distributed.rpc.api.*` in our doc. The `.api` segment should not appear there.

![Screen Shot 2019-11-18 at 12 22 31 PM](https://user-images.githubusercontent.com/16999635/69074832-224c7280-09fe-11ea-9fa8-72ffc568ac60.png)

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528

[2019-11-18 17:27] eellison commented on #29843
Dup of https://github.com/pytorch/pytorch/issues/27504

[2019-11-18 17:27] rohan-varma commented on #29905
@mrshenli I agree, though one difference is `init_rpc` provides a default backend type and `init_process_group` does not provide a default backend arg, hence the discrepancy in the docs. We should probably try to change the repr that is showing up to something simpler like just `BackendType.PROCESS_GROUP` like @Kytabyte suggested.

[2019-11-18 17:58] zhengshou opened #30015 "JIT fails for multihead attention"
## 🐛 Bug

I can run the model before torchscript while the torchscripted model fails in running time for the multihead attention @driazati

## To Reproduce

The following code sample:

[code]
## Expected behavior

[code]

## Environment

bento classyvision env

cc @suo

[2019-11-18 18:02] #29796 closed

[2019-11-18 18:07] ezyang commented on #29380
cc @t-vi

[2019-11-18 18:08] ezyang commented on #29380
Would be good to figure out if this is cudnn ctcloss or our cuda ctcloss

[2019-11-18 18:11] ezyang commented on #15676
@quickwritereader I think it would be a very useful activity for unit tests to come into existence as part of the POWER work, if you can put that into your work scope.

[2019-11-18 18:13] ezyang commented on #29378
@albanD says, we should be able to support autograd on out= parameters if we don't resize. @ngimel also says you have to erase history on the out tensor and check versions. @albanD says we can support a minimal subset, e.g., if out doesn't require gradient, and we can just do a regular inplace operation. We fail if we have to resize.

[2019-11-18 18:15] mrshenli commented on #29212
closed by #29069

[2019-11-18 18:15] #29212 closed

[2019-11-18 18:16] mrshenli commented on #29156
closed by #29069

[2019-11-18 18:16] #29156 closed

[2019-11-18 18:16] #29530 closed

[2019-11-18 18:18] ezyang commented on #29523
Triage review seemed like this was a reasonable thing to support. @albanD is a little nervous about having to add the parameter everywhere (context manager, maybe?)

[2019-11-18 18:19] ezyang commented on #29498
Downgrading priority until we get a repro

[2019-11-18 18:22] ezyang commented on #29137
Triage review likes lining up with the numpy behavior

[2019-11-18 18:24] ezyang commented on #29398
This seems reasonable to do.

[2019-11-18 18:25] ezyang commented on #29372
We should do this.

[2019-11-18 18:27] ezyang commented on #29116
We discussed this in triage review. In general, it would be good to have out= working on every operator. However, the way our system is currently setup makes this not so easy to do, and also means that we could add resizing semantics to operators (which we don't want to propagate). So we'd need a more detailed plan before working on this (although the thoughts are in the right place!)

[2019-11-18 18:30] vincentqb commented on #29372
According to the [documentation](https://pytorch.org/docs/stable/torch.html#torch.std), the default is unbiased estimate (divide by `length-1`) for the standard deviation, so nan is expected.

[code]

[2019-11-18 18:32] vadimkantorov commented on #29398
A minor badness is that `kthvalue` and `topk` have different default `largest` argument value, but it's been their semantics for a long time..

[2019-11-18 18:37] xta0 commented on #29821
Hi Hussain,

As we've discussed in the PyTorch forum, this is a known issue, and we've fixed it - #29885  .If you want to try out the fix, you need to pull the latest code from master and re-compile the static libraries from source code. Note that the fix will be available in the release of Cocoapods.

[2019-11-18 18:40] vadimkantorov commented on #29523
Many potential ways to do this, I hope a good, conceptually simple design can be find (lazy tensors? reset_parameters argument to constructor? weight tensors arguments to constructor? state_dict/tensor_lookup argument to constructor? initializer config argument to constructor? context manager for stubbing rand factory?).

[2019-11-18 18:44] driazati opened #30019 "[jit] Values of constants can't be accessed"
Constant values are inlined in the graph without names, so they can't be accessed after compilation. This is a problem since a lot of `nn.Module`s are scripted using constants instead of attributes, so users have no way of accessing these values once they have scripted a module.

[code]

An easy fix would be to delete all the `__constants__` arrays in `torch/nn` so everything would be made into an

[2019-11-18 18:48] vadimkantorov commented on #29116
I think it should also be more clear from the docs that "out=" arguments don't support differentiation. Also probably same is valid for the return values from the functions (since they would return out-argument there).

The generic code using out-argument to switch between out-of-place and inplace probably won't support autograd? versus the code that conditionally uses function and its function_ c

[2019-11-18 18:53] vadimkantorov commented on #29378
For the example above, padding operation would also need out-argument, since it's potentially hugely-allocating

[2019-11-18 19:02] pritamdamania87 opened #30022 "RRef Leak and pickler issues with Distributed Optimizer"
## 🐛 Bug

Script shared below runs into RRef leaks and pickler issues when running the DistributedOptimizer

## To Reproduce

[code]

The code above fails with: https://gist.github.com/pritamdamania87/08cf8de0aa95de03ba1e50da89f96996

It looks like when we create RRefs in the DistributedOptimizer constructor, we don't "wait" for these RRefs. Aside from the issue above, we should ensure we wait for

[2019-11-18 19:19] aazzolini commented on #30022
There's 2 things:
1) Waiting on RRef triggers a copy to local -- which is not the intended behavior. What we want is to use rpc instead and have remote return a RRef. I will send a fix for that soon.
2) If the above is not intuitive then we should think of a better API for this functionality. It would be for example a wrapper around rpc.
3) In the long run, it should be fine to not wait on RRefs a

[2019-11-18 19:21] mrshenli commented on #30022
For RRef leak, I think that's because `rref1` and `rref2` are not dereferenced by Python when you call `rpc.join_rpc()`.

[2019-11-18 19:23] albanD commented on #29523
Here are the different designs I can think of.
Let me know what you think.

- One limitation I see is that the current `nn.Module` does not take any argument. And so all the user code calls it with no argument (not forwarding anything from their subclass to the parent class).
This means that adding a new argument is going to be tricky and potentially quite confusing to the user as it won't be a un

[2019-11-18 19:25] pritamdamania87 commented on #30022
I was referring to the optimizer rrefs here: https://github.com/pytorch/pytorch/blob/master/torch/distributed/optim/optimizer.py#L73. I feel we should wait for these, otherwise the error reporting to the user would be very confusing. If any of those `rpc.remote` calls fail, it will show up as an error during `optimizer.step` which would be confusing for users. Also, since the constructor of the op

[2019-11-18 19:36] aazzolini commented on #30022
We don't have wait on RRefs. So instead of calling remote that returns an RRef and wait on a remote RRef, I'll call rpc_async that returns future<RRef> and then wait on this future. I'll send a fix soon.

[2019-11-18 19:38] supriyar commented on #29806
Just the model should suffice. We can try loading it on mobile and running to see what the issue might be. cc @xta0

[2019-11-18 19:41] pritamdamania87 commented on #30022
Looks like the pickler issue is due to the fact that I was calling `rref.to_here()` and the lock object couldn't be pickled.

[2019-11-18 19:43] ezyang commented on #28361
OK, let's talk about this for a moment. In the `__tensor_function__` PR I mentioned about whether or not it would make sense to have some sort of magic method for overriding both functions and methods, but we decided it was out of scope for this issue. Let's drop the question of default tensor function preserving subclasses for a moment, and ask a simpler question: how exactly does the extension t

[2019-11-18 19:44] aazzolini commented on #30022
Just not sure how to unit test this since the unit tests seem to be passing. Is there anything in the code above that differs from the unit test except the way we terminate? (vs. in the unit tests we're adding a barrier at the end?)

[2019-11-18 19:55] vincentqb commented on #29795
Given the size of `sample_x` and `sample_y` ((1000, 30, 29) and (1000, 1)), I assume the dimensions of the first are `(seq_len, batch_size, features)`?

If that is so, then you should use `batch_first=False`. Please see [here](https://discuss.pytorch.org/t/could-someone-explain-batch-first-true-in-lstm/15402) for a discussion.

[2019-11-18 20:00] vadimkantorov commented on #29523
@albanD to assess the amount of work for "new module constructor argument" scenarios, what are standard torch modules that hold learnable weights/biases:
* Conv*d
* BatchNorm*d
* Linear
* Bilinear
* Embedding
* RNN / LSTM / GRU
* MultiheadAttention

Are there more?

[2019-11-18 20:06] sbrl commented on #488
Relevant article: https://arstechnica.com/gadgets/2019/11/intels-oneapi-aims-to-unify-ai-code-efforts-across-disparate-hardware/

If what they say in this article is true _and PyTorch implements support for it_, it could be a huge thing. I'm seriously tempted to open a new issue to request OneAPI support.

[2019-11-18 20:08] albanD opened #30027 "Add easy way to add our error handling to any pybind binding"
Pytorch's custom error handling (and warning) is done via `HANDLE_TH_ERRORS`-like macros.
There is a special version for pybind that is aware of pybind custom errors with `END_HANDLE_TH_ERRORS_PYBIND` [here](https://github.com/pytorch/pytorch/blob/b45069b59ffb372f0a25d7be0a1d690b1e19d416/torch/csrc/Exceptions.h#L70).

It would be nice for our pybind code to always use such macros.
We can either:
-

[2019-11-18 20:22] albanD commented on #29523
`Transformer` have some as well I think.

The more I look at it and the more I feel like disabling `torch.nn.init` is the way to go.
It is used everywhere internally.
By design, the api is only inplace ops.
It will work with user code where they use it.
The contest manager will be clear enough to avoid confusion on where it works/doesn't work.
Does not require to pass an argument to every single m

[2019-11-18 20:22] sbrl opened #30029 "Request: oneAPI support"
## 🚀 Feature

Intel have announced their new oneAPI, which provides hardware acceleration support on a diverse range of underlying devices. Supporting it would give a huge boost to performance on a wide range of devices that do not contain an Nvidia® GPU.

## Motivation
Nvidia® GPUs are expensive, and I do not currently own one. I do however own an AMD Radeon and, of course, Intel Integrated Graph

[2019-11-18 20:40] xush6528 opened #30032 "Add docs for RpcAgentOptions"
## 📚 Documentation

As asked in #29972

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528

[2019-11-18 20:42] #29153 closed

[2019-11-18 20:45] pinkhamr commented on #18325
I'm having the same issue as @jhagege and @ericwtlin, any solutions?

[2019-11-18 20:50] vadimkantorov commented on #29523
Some arguments against context manager: inherited spreading effect, when dealing with code non-directly called by the user. Practically it's probably OK. When tracing / jit'ing, would such global flag affecting behavior change be unclear to save?

The original [initializer suggestion](https://github.com/pytorch/pytorch/pull/18020) is also practically useful and Keras/TF have [this](https://keras.i

[2019-11-18 20:52] aazzolini commented on #30022
@Pritam i think the leak is not really caused by what you mentioned in the issue .

Instead i was able to fix the issue by moving application code into a separate function. The leaks were real: we were callling rpc_join before deleting the objects containing RRefs.

So we need to make it clear to users that all the RRefs need to be gone before calling rpc_join. A good way of ensuring this is make

[2019-11-18 20:52] mruberry commented on #29973
Lowering priority (for the moment). Thanks for the filing this issue! Iterating over a matrix like this seems like an unusual pattern. While PyTorch's indexing does appear to be slower than numpy's, are there some real-world workloads whose performance you think would be significantly impacted by this issue? Or is there a natural coding pattern that can't workaround this issue?

[2019-11-18 21:01] vadimkantorov commented on #29523
I also wonder if one could do a BigQuery search to find projects using PyTorch that do some manual initialization with nn.init. Maybe looking at code snippets would also provide some food for design

[2019-11-18 21:34] BowenBao commented on #28259
@dashesy - closing as this is merged in master. Feel free to reopen if issue persists.

[2019-11-18 21:34] #28259 closed

[2019-11-18 21:38] BowenBao commented on #29993
@aviaisr Thanks for reporting this. There has been a PR fixing this issue (pad opset 11) that went in after the 1.3.1 release. https://github.com/pytorch/pytorch/pull/28225. Please try with PyTorch nightly to see if the issue is still there. Thanks.

[2019-11-18 21:39] apaszke commented on #29523
I second the opinion that adding arguments is a bad idea, primarily because this approach doesn't scale. It's an easy thing to do for "leaf" modules like Linear or Conv2d, but I don't think it's reasonable to e.g. expect authors of standard implementations of models like ResNet to provide an argument to override the initialization of each single part. On the other hand, you haven't solved the prob

[2019-11-18 21:40] apaszke commented on #29523
Also, having a context manager that "disables" `torch.nn.init` feels like a bad idea to me. It's very specific to this particular case, and we'll likely run into similar issues in the future. If someone _really_ wants this, then they can monkey patch all of those methods. Finally, what if someone hard-codes the initialization and doesn't use `torch.nn.init` at all?

[2019-11-18 21:48] jamesr66a commented on #29909
Tracing scripted modules should work just fine (the graph should just be inlined) so this indeed seems like a regression. @Krovatkin did you change affect how this behavior works?

[2019-11-18 21:48] fmassa commented on #29973
This is related (if not a duplicate) of https://github.com/pytorch/pytorch/issues/5388

[2019-11-18 21:50] jamesr66a commented on #29887
@sysuzyq This looks like a forward-compatibility issue, i.e. the version of PyTorch you use to save your model is newer than the libtorch version. Can you check if this works if these versions match?

[2019-11-18 21:58] Krovatkin commented on #29909
Yes and no. I believe traced graphs look exactly the same, but the way we are handling input specialization in Profiling executor seems to have a bug that is exposed by `check_trace` switching between `requires_grad` true and false. I'm investigating this issue.

[2019-11-18 21:59] piyush-kgp commented on #29372
@vincentqb , then may be we should raise a division by zero error

[2019-11-18 22:18] suo commented on #29938
@mrshenli please disable this test while you work on root causing the flakiness. Thanks! 😄

[2019-11-18 22:24] nairbv opened #30044 "Improve error message for dividing by a sparse zero-dim tensor"
Division by a sparse zero-dim tensor isn't supported, but the error message has changed recently. The old error message would be preferable.

In 1.3:
[code]

in 1.2:
[code]

possibly related to:
https://github.com/pytorch/pytorch/pull/26501

cc @vincentqb

[2019-11-18 22:26] vadimkantorov commented on #29523
Another take: if PyTorch decides to provide initializer argument for other, usability reasons, then suppporting this is easy.

@apaszke I think that if the there is a recommended supported way of doing this, then standard model authors for big models (for which this can add a few seconds of startup time) would update their code (for instance vision models in torchvision already have an argument re

[2019-11-18 22:33] piyush-kgp commented on #29372
Actually this got me curious as to what does `torch.tensor(0)/torch.tensor(0)` return. Surprisingly it didnt throw any error, rather my REPL crashed and closed the process in which python was running with this message on my terminal: `Floating point exception: 8`.

Is this expected?

[2019-11-18 22:39] Jianhui-Li commented on #27955
oneCCL is open-sourced on https://github.com/intel/oneccl

[2019-11-18 22:41] suo commented on #30019
@jerryzh168 is currently working on this

[2019-11-18 22:51] scottcantreid opened #30049 "CPU Memory Leak for JIT ScriptModule on DataParallel"
## 🐛 Bug

I am encountering CPU memory leakage issues when training my custom torchscript RNN models in a DataParallel environment. I am implementing custom RNN cells, using torchscript for speedups. These models perform great in a single-GPU environment, and torchscript gives me an ~2.0x speedup. However, when I deploy my models on multiple GPUs using DataParallel, I encounter a CPU memory leak.

[2019-11-19 00:25] rohan-varma opened #30057 "Cannot call rpc.init_rpc two distinct times."
## 🐛 Bug

After calling `rpc.init_rpc` and then `rpc.join_rpc`, if the user tries to re-initialize RPC, then they get the following error:

https://gist.github.com/rohan-varma/e6c3fa16a6bc3d838755a7408a0a603f

It seems that the `DistAutogradContainer` is not destroyed, and thus there is an attempt to initialize it twice.

## To Reproduce

Run the following script:
https://gist.github.com/rohan-var

[2019-11-19 00:29] pritamdamania87 commented on #30057
Is there a valid use-case for calling `init_rpc` more than once? I think it should be reasonable to expect that the user should call init_rpc only once and then join_rpc once.

[2019-11-19 01:01] luoqing94 commented on #29893
Did you solve this problem? I also encountered this problem.

[2019-11-19 02:08] aazzolini commented on #30022
https://github.com/pytorch/pytorch/pull/30062

[2019-11-19 02:30] seyong92 commented on #29893
@luoqing94 I didn't solve the problem yet.

[2019-11-19 04:05] faizao commented on #16417
Guys, i resolved my problem reducting my batchsize by half.

[2019-11-19 04:11] #29083 closed

[2019-11-19 04:35] alessandro893 commented on #29967
Same problem (mac pro 5,1), how to disable AVX?

[2019-11-19 04:51] mohitranawat commented on #29806
@supriyar you can find the model here -
https://drive.google.com/file/d/1Ux_-Llp1bAALYyIsKYHC77qr5V370KMl/view?usp=sharing

[2019-11-19 05:58] lk1983823 opened #30071 "Pytorch 1.3 cuda 10 driver 410.48 not available"
I have cuda 10 and driver version 410.48 installed followed the instruction of Nividia with a .deb installation. When I use torch 1.2, it can detect my gpu, however, torch 1.3 fails. Can any one help?
Thanks!
[code]

 - PyTorch Version (e.g., 1.0): 1.3
 - OS (e.g., Linux): Linux  Ubuntu16.04 kernel 4.4.0.98
 - How you installed PyTorch (`conda`, `pip`, source): pip install
 - Build command you use

[2019-11-19 06:27] PistonY commented on #29271
@neginraoof Does this fix in Pytorch 1.3?

[2019-11-19 06:49] Arenops opened #30073 "Gradients given by Pytorch 0.4.0 and 0.4.1 are different when backward?"
[code]

-----------------------------------
Pytorch 0.4.1 print as follow:
[code]
------------------------------
Pytorch0.4.0 print as follow:
[code]
cc @ezyang @SsnL @albanD @zou3519 @gqchen

[2019-11-19 07:23] menghuu commented on #9898
Hi, what's the situation of this feature?

[2019-11-19 07:58] hameerabbasi commented on #28361
Okay, so my vision is the following: `__torch_function__` has the signature `(func, args, kwargs)` (from the previous PR). In traditional Python style, if it's called on a `Tensor` _method_, then `func` will be the method itself e.g. `Tensor.__add__`, and `args`/`kwargs` would also contain `self`, in addition to the other explicitly passed-in arguments. In this example, `args` will contain both `s

[2019-11-19 08:10] fepegar commented on #12773
I'm having the same problem.

`collect_env` on host:
[code]

`collect_env` on image:
[code]

Running CUDA sample on image:
[code]

Related to #21259?

[2019-11-19 08:41] CeadeS commented on #29722
@peterjc123  i generated the prints for different enviroments that can be found here: [https://github.com/CeadeS/notes/tree/master/torch_perf](https://github.com/CeadeS/notes/tree/master/torch_perf )
I noticed that the not working installation with pip is not importing mkl-ish but the conda installs do. The builts both, the working and the not working one do not load something mkl-ish

[2019-11-19 08:52] peterjc123 commented on #29722
cc @soumith

[2019-11-19 09:00] #29031 closed

[2019-11-19 09:20] #28844 closed

[2019-11-19 09:26] zhirihuixin commented on #30071
I have the same question, please help, thanks!

[code]

[2019-11-19 09:28] zhirihuixin commented on #30071
python3.5 and pytorch1.1 is OK
[code]

[2019-11-19 10:36] alohali commented on #29724
@vincentqb any suggestions?

[2019-11-19 10:43] ShadowTemplate commented on #29643
Ok! Thank you very much for your response.
Have a great day.

[2019-11-19 11:56] sukykunnu commented on #4827
I had the same issue. Tried below in jupyter notebook in a conda env:
 pip3 install torch torchvision

Exited out of the condo (base, as well) and Conda activates <env name> . It worked fine.

[2019-11-19 13:01] peterjc123 opened #30074 "Conda CUDA builds are taking more than 4 hrs on Windows"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. See the nightly builds starting from Nov. 15 [here](https://dev.azure.com/pytorch/PyTorch/_build?definitionId=1&_a=summary)

## Expected behavior

Builds finish in 240 minutes.

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils

[2019-11-19 13:03] peterjc123 commented on #30074
Attempted the fix https://github.com/pytorch/builder/commit/ccd6bd9c34275dec55ac22797eace58e5c933e91. Let's see whether it solves the problem.

[2019-11-19 13:20] Andrej-sens opened #30075 "Pytorch + CUDA build: CuSparseHandlePool.obj: error LNK2019"
I was trying to build Pytorch from source using Cuda 10.1 on Windows 10. However, I got
[code]
I tried also use pre-built Libtorch but I got errors on gpu implementation. More information is [here](https://github.com/pytorch/pytorch/issues/30076#issue-525008428).
Can you help me out please?

cc @peterjc123

[2019-11-19 13:26] Andrej-sens opened #30076 "LibTorch(C++) with Cuda is raising an exception"
I am trying to create NN with LibTorch 1.3 and C++ using Cuda 10.1 and Windows 10. For the build I am using Visual Studio 2019.

So far I tried basic examples and [MNIST example][1] with CPU which is working. However I cannot run it with CUDA. I tried to move model to GPU as it is described [here][2], but it is not working.

So I tried just simple

    int main(){
        auto net = std::make_shar

[2019-11-19 13:30] peterjc123 commented on #30076
We fixed a similar bug in https://github.com/pytorch/pytorch/issues/22681. Please use the nightly build or build from source.

[2019-11-19 13:30] #30076 closed

[2019-11-19 13:32] peterjc123 commented on #30075
Well, looks like that we will need to link against cusparse.lib too.

[2019-11-19 13:40] pietern commented on #29938
Another instance: https://circleci.com/gh/pytorch/pytorch/3655027

[2019-11-19 13:40] peterjc123 commented on #30075
Wait! Looks like the function should be only involved in CUDA 10.2. https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/sparse/cuda/SparseCUDABlas.cu#L11

[2019-11-19 13:57] peterjc123 commented on #30075
This is weird that we could not reproduce in the nightly CI. Could you please tell me how you tried to do the build?

[2019-11-19 14:02] paynowski opened #30077 "MIssing CUDA kernel operator"
## 🐛 Bug

I receive this error when trying to load a script model:
[code]

## To Reproduce

Steps to reproduce the behavior:

1. I export my UNet via tracing and scripting
2. When I try loading in C++ app I get the error message above.

The 2 export methods

def ExportScriptViaTracing(self):
        """
        Converting Python model to Torch Script via Tracing for C++
        """

        self.M

[2019-11-19 14:06] peterjc123 commented on #30075
cc @ezyang

[2019-11-19 14:07] peterjc123 commented on #30077
You'll need to try with the nightly build.

[2019-11-19 14:07] Andrej-sens commented on #30075
In build directory

`cmake .. -G "Visual Studio 16 2019" -A x64`

It automatically linked CUDA 10.1 and all dependecies except Python Debug Library which I linked manually through CMake GUI.
However, it found cuDNN 7.6.5 in Cuda 10.0 library folder but I think it doesn't matter where it is placed.

[2019-11-19 14:22] peterjc123 commented on #30075
This is how you configured the CMake project. How about the build process? Did you open the VS project (.sln/.vcproj) and build?

[2019-11-19 14:26] peterjc123 commented on #30075
I have to say it's totally weird. The macro `TORCH_CUDASPARSE_CHECK` is used both the source files:
[code]
which is defined in
[code]
However, the function `cusparseGetErrorString` is also declared in that file. The confusing part is that why only the symbol in one of the files is missing?

[2019-11-19 14:37] Andrej-sens commented on #30075
Yes, compiled in VS2019. I forgot to mention (probably related) another change in project. Compailing a Torch project was causing error
` cl: command line error D8016:'/Ox' and '/RTC' command-line options are incompatible.`

I found that this can be resolved by [this](https://stackoverflow.com/questions/23179136/visual-studio-command-line-error-d8016-ox-and-rtc-command-line-options-a) solution (se

[2019-11-19 14:48] ezyang commented on #29992
cc @VitalyFedyunin this sounds related to layout changes

[2019-11-19 14:51] ezyang commented on #29893
Please try `LRU_CACHE_CAPACITY=1` instead; this might be a dupe of #27971

[2019-11-19 14:53] ezyang commented on #29976
It sounds like torchvision is using features of PyTorch that didn't exist in 0.5. You'll have to rewrite the relevant portions to use backward compatible bits. We won't be able to provide assistance.

[2019-11-19 14:53] #29976 closed

[2019-11-19 14:54] peterjc123 commented on #30075
I believe these flags are indicating that you are not doing it in the right way. Usually, we will do this for a debug libtorch build.
[code]

[2019-11-19 14:56] ezyang commented on #29966
This is probably due to an out of bounds index into your embedding table. Please validate your input data. If you can provide a full repro for the problem feel free to reopen the issue.

[2019-11-19 14:56] #29966 closed

[2019-11-19 14:56] peterjc123 commented on #30075
For more details, you can read how we build the libtorch binaries:
https://github.com/pytorch/builder/blob/master/windows/internal/setup.bat#L34

[2019-11-19 14:57] ezyang commented on #29968
I'm not sure if this is supposed to work, maybe @xuhdev knows. You may have better luck just hacking up the cmake.

[2019-11-19 14:58] Andrej-sens commented on #30075
Thank you, I'll check it out.

[2019-11-19 14:58] ezyang commented on #29967
I think this is the same problem as #27627. Can you please try a nightly and see if it resolves the problem?

[2019-11-19 15:00] ezyang commented on #29961
Integer matrix multiplication is something the crypten folks have also been interested in https://github.com/facebookresearch/CrypTen though I'm not sure if on GPU. cc @knottb

[2019-11-19 15:20] VitalyFedyunin commented on #29992
It is, I will check it.

[2019-11-19 15:21] VitalyFedyunin commented on #29992
CC @jjsjann123

[2019-11-19 16:11] ezyang commented on #29372
That's because `torch.tensor(0)` infers to be an integer, and integer div-by-zero is UB. I think we have an issue filed somewhere to test this and fail more gracefully.

[2019-11-19 16:17] ezyang commented on #28361
OK, this sounds plausible to me. However, it sounds like this is different from the way Numpy handles arrays in `__array_function__`. Can you compare this refinement to the Numpy approach?

Also, we have to be careful about this change because if I define both `def __add__` and `def __torch_function__`, which one "wins"?

[2019-11-19 16:42] hameerabbasi commented on #28361
`__array_function__` in NumPy doesn't apply to `ndarray` methods. NumPy, in order to handle subclassing behaviour, does `ret = ret.view(subclass)` at the end of every method, and then in addition calls `ret.__array_finalize__(self)` (assuming it exists).

`__add__` wins, because of Python's `__mro__`, subclasses come before superclasses. NumPy has the same problem and model.

[2019-11-19 16:47] chentau opened #30090 "torch.distributions.kl_divergence gives different gradients than manual implementation"
## 🐛 Bug

For some reason, the built in `torch.distributions.kl_divergence` is giving me different gradients wrt the parameters of the distributions, compared to when I manually implement the kl divergence.
As an example, I took the kl divergence of the categorical distribution - I haven't tested with any other distributions yet.

## To Reproduce

[code]

The two numbers should match up, but they

[2019-11-19 17:17] jph00 commented on #28361
On Tue, Nov 19, 2019, at 8:43 AM, Hameer Abbasi wrote:

This is also how fastai v2 works BTW - we call `retain_types()` at the end of `Transform.encodes` and various other places (automatically, in most cases).

[2019-11-19 17:21] mrshenli commented on #29938
This should be fixed by #29770

[2019-11-19 17:23] mrshenli commented on #29382
closed by #29827

[2019-11-19 17:23] #29382 closed

[2019-11-19 17:23] mrshenli commented on #29150
closed by #29827

[2019-11-19 17:23] #29150 closed

[2019-11-19 17:24] mrshenli commented on #29117
closed by #29827

[2019-11-19 17:24] #29117 closed

[2019-11-19 17:26] mrshenli commented on #28932
closed by #29069

[2019-11-19 17:26] #28932 closed

[2019-11-19 17:39] #29187 closed

[2019-11-19 17:52] driazati commented on #30015
Can you include the `_lengths2mask` function?

[2019-11-19 17:57] diegovalenzuelaiturra commented on #29961
Thanks @ezyang , I will try it.

So far I have tried PyTorch, TensorFlow, Jax and CuPy.
* Only TensorFlow allows multiplying matrices using int32.
* CuPy allows multiplying matrices using int8 (but without the benefits of autodiff)

I've asked to @ptrblck by twitter [here](https://twitter.com/ptrblck_de/status/1195581650165358595) and he was very kind to answer the following :

[2019-11-19 18:03] spandantiwari commented on #29271
@PistonY - no, the fix is in master only. You can get it by installing the PyTorch nightly build.

[2019-11-19 18:15] nikitaved commented on #30090
Hi! Shouldn't d2 be `d2 = dist.Categorical(torch.ones(5) / 5)`?

[2019-11-19 18:25] gottbrath commented on #29326
In review in the quantization meeting we thought that Supriya might be the right person for this.

[2019-11-19 18:27] gottbrath commented on #18318
closing this issue since we delivered this.

[2019-11-19 18:27] #18318 closed

[2019-11-19 18:28] mrshenli commented on #29381
closed by #29827

[2019-11-19 18:28] #29381 closed

[2019-11-19 18:34] rgommers commented on #28361
The option of using `__array_finalize__` was discussed in gh-22402, the issue is that it's slow.

This actually doesn't work for PyTorch because `Tensor.view` behaves quite differently from `ndarray.view`. We had tests in the `__torch_function__` branch that used it (adapted from NumPy) but they didn't work so we changed to only use the regular Python way of creating and instantiating a subclass.

[2019-11-19 18:38] zhengshou commented on #30015
@driazati Opps, added that func. Thanks!

[2019-11-19 18:39] Krovatkin commented on #29909
@lara-hdr your repro hit not just one, but two bugs at the same time 🥇
I have a fix for a more glaring one, which is a crash due to a missing argument to one of the nodes: https://github.com/pytorch/pytorch/pull/30097
The second issue is that `i` counter isn't updated properly when we transition to a new graph, so in one of the iterations the counter value will be wrong.
I'm still working on the s

[2019-11-19 18:41] jph00 commented on #28361
Maybe it could be called `.cast` instead?

[2019-11-19 18:45] nikitaved commented on #30090
Interesting. I confirm, I have the same issue. The manual gradient is correct, it matches
`torch.log(a) - np.log(1./5) + 1.`.

[2019-11-19 18:59] lara-hdr commented on #29909
thanks for the fix!

[2019-11-19 19:07] piyush-kgp commented on #29372
ok. I think you might be referring to this https://github.com/pytorch/pytorch/issues/327, which seems to be a work in progress

[2019-11-19 19:10] ezyang opened #30102 "Binding Variable methods/functions in native_functions.yaml is awkward due to AutoNonVariableTypeMode"
Right now, some "Variable" functions are bound using `native_functions.yaml`, and some are not.  For example, `Tensor::view()` is manually bound on the Variable class, but `Tensor::backward()` is bound using `native_functions.yaml`. I thought, for uniformity sake, it would be better if all of these functions were bound on `native_functions.yaml`. But I cannot conveniently do this: when I do, https

[2019-11-19 19:14] xuhdev commented on #29968
The issue doesn't seem like not detecting numa. Could you paste the full error message? It looks like it is your system posix engine that wasn't detected.

[2019-11-19 19:27] xuhdev commented on #29968
Could you try #30104 ( `Numa_INCLUDE_DIR=/storage/users/mnaderan/tools/usr/include/ Numa_LIBRARIES=/storage/users/mnaderan/tools/usr/lib/ python setup.py install`)

[2019-11-19 19:28] mrshenli opened #30105 "Nuke local UserRRefs when shutting down RPC"
This issue is created based on discussion with @jjlilley and @zzzwen. @pritamdamania87  and @aazzolini and I also encountered similar struggle in #30022 and https://github.com/pytorch/examples/pull/662

Currently, application code needs to make sure there is no reference to `UserRRef` before calling `join_rpc()`, otherwise, those `UserRRef`s will be held alive by the application code and won't sen

[2019-11-19 19:29] xta0 commented on #29990
cc @IvanKobzarev

[2019-11-19 19:54] rajeevsrao commented on #28306
@neginraoof since the change was backed out, can you please resubmit? Thanks.

[2019-11-19 19:57] neginraoof commented on #28306
This fix is merged: https://github.com/pytorch/pytorch/pull/29354

[2019-11-19 20:25] mrshenli opened #30110 "test_gloo_backend_4gpu_module is flaky"
https://ci.pytorch.org/jenkins/job/pytorch-builds/job/py3.6-clang7-rocmdeb-ubuntu16.04-test2/8007//console

[code]

[code]

cc @ezyang @gchanan @zou3519 @jerryzh168 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528

[2019-11-19 21:08] dashesy commented on #25039
lanczos prefilter will be helpful to have an interpolation similar to PIL, and thus torchvision.transforms.Resize. Bilinear shrinking without prefilter produces a very different image.

[2019-11-19 21:29] xta0 commented on #29821
@HussainHaris
I'm going to close this issue. The fix has been landed. Let me know if you have any questions in the forum thread.

[2019-11-19 21:29] #29821 closed

[2019-11-19 21:41] rajeevsrao commented on #28306
Thanks - didn't notice the second MR. Will confirm and close the issue.

[2019-11-19 22:11] supriyar commented on #29806
Hi @mohitranawat, I wasn't able to repro this error

Ran it using the cpp test script
[code]
Runs fine without any errors.

Can you try this with pytorch build from source? One known issue is https://github.com/pytorch/pytorch/pull/30067 so you can patch it in your build.

[2019-11-19 22:15] eellison commented on #30049
It's possible this is related to https://github.com/pytorch/pytorch/issues/25267

But it could also just be a DataParallel & JIT issue. cc: @gqchen

[2019-11-19 22:39] #24531 closed

[2019-11-19 22:41] VitalyFedyunin commented on #24563
It is

[2019-11-19 22:41] #24563 closed

[2019-11-19 22:41] VitalyFedyunin commented on #24700
Already ported

[2019-11-19 22:41] #24700 closed

[2019-11-19 23:02] nairbv commented on #27610
Another question I have is what this looks like when we scale to multiple hosts. I'm imagining multiple model servers running inference behind a load balancer, but then it's not clear how the models are managed across all inference hosts.

[2019-11-19 23:18] yf225 commented on #28478
@suo Are we able to set the gradients in-place for the parameters obtained from a `torch::jit::script::Module`? If so I think C++ frontend optimizers should work with script modules.

[2019-11-19 23:26] smessmer commented on #30102
register them to the compound op key?

[2019-11-19 23:46] SsnL commented on #30073
On recently built master, this gives
[code]

which looks really wrong to me.

[2019-11-19 23:50] #26922 closed

[2019-11-19 23:50] #28928 closed

[2019-11-19 23:56] SsnL commented on #30090
Hmm so in this case actually both are correct. PyTorch is computing the prob with `a / a.sum()`, and thus get you a different gradient (with the same function value):
https://github.com/pytorch/pytorch/blob/c2e576e74b73bdb1eb9db30268883b8efa884de8/torch/distributions/categorical.py#L50

[2019-11-19 23:56] fritzo commented on #30090
One difference is that `dist.Categorical` normalizes its input, whereas your version allows gradient updates to change the norm.

[2019-11-20 00:04] jediblu opened #30125 "quantization-aware training"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. git clone https://github.com/pytorch/tutorials.git
1. Build the tutorials following the documentation on https://github.com/pytorch/tutorials
1. Run the tutorials/advanced_source/static_quantization_tutorial.py

## Expected behavior

There is a comment in static_quantization_tutorial.py that says "quantization-aware training yields an

[2019-11-20 00:28] rohan-varma opened #30127 "Add proper destructor to ProcessGroupAgent"
## 🚀 Feature
In some cases there are failures and the user cannot shutdown the RPC Agent through the RPC API. In this case, we should implement a destructor for ProcessGroupAgent that tries to call the `shutdown` routine to shutdown the agent cleanly.

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528

[2019-11-20 00:29] #907 closed

[2019-11-20 00:33] ngimel commented on #30071
@zhirihuixin Please refer to table 1 here, for cuda 10.1 (which is cuda version used to build pytorch 1.3, according to your output, you need driver version 418.39 or later.
You can install pytorch for cuda 10 using command
[code]
to install pytorch compiled with cuda 10 that should run on your system.
@lk1983823 can you please check which cuda version was used to compile pytorch and which cuda dr

[2019-11-20 00:39] eellison commented on #29987
This seems like just an omission in https://github.com/pytorch/pytorch/pull/28828 . I think `Module::to_impl ` should iterate over the attributes in addition to the parameters and buffers. @zdevito could you confirm ?

[2019-11-20 00:42] rgommers commented on #28361
I find a number of discussions on the behavior of `view`, so I think it has been considered before and rejected. `cast` implies a dtype change I'd think rather than a shape change. `view` is basically equivalent to `reshape` in NumPy. Or `Tensor.reshape`, except that that also works for mismatching shapes.

[2019-11-20 00:46] jph00 commented on #28361
On Tue, Nov 19, 2019, at 4:43 PM, Ralf Gommers wrote:

Possibly one of us is misunderstanding something (and it could well be me!)

In numpy, `view` does exactly that: it's a dtype change, not a shape change. That's why I suggested `cast` as the name for the equivalent functionality in pytorch.

[2019-11-20 00:54] rgommers commented on #28361
There's a bit more to `view` in NumPy:
[code]

[2019-11-20 00:55] as754770178 opened #30129 "calculate grad error"
my code as below:
[code]
In 0.4.0, the output is
[code]
In pytorch 1.1.0, the result is
[code]
The grad of `w` and `w1` is different in different pytorch version, the different places marked by `xxx`.

In pytorch 1.2.0, the program report error:
[code]
I fix thiserror by delete `x = x + update`, but report other error due to the `w.grad` is None, I add `w.retain_grad` the error still exist.

cc @e

[2019-11-20 00:58] jph00 commented on #28361
On Tue, Nov 19, 2019, at 4:55 PM, Ralf Gommers wrote:

Yes, true, but that doesn't invalidate the basic point I think :)

[2019-11-20 01:01] zasdfgbnm commented on #4528
fixed

[2019-11-20 01:01] #4528 closed

[2019-11-20 01:27] IvanKobzarev commented on #29990
Hello @Joyako ,

I checked our demo HelloWorldApp with the latest snapshots versions and it works:

[code]

Before commit https://github.com/pytorch/pytorch/commit/8e3486de81d848e5c9a375134b3b14998ac36654 (which was landed today) we had a problem that our nightly builds included debug symbols and were quite big.
I guess that this might be the reason of this gradle failure.

What is also suspicious

[2019-11-20 01:36] as754770178 commented on #30129
`x = x + update` is after `backward`, not between calculate loss and backward, such as after calcalating loss and before backward.

[2019-11-20 01:36] as754770178 commented on #30129
`x = x + update` is after backward, not between calculate loss and backward, such as after calcalating loss and before backward. Whether report the error?

[2019-11-20 01:37] as754770178 commented on #30129
`x = x + update` is after backward, not between calculate loss and backward, such as after calculating loss and before backward. Whether report the error?

[2019-11-20 01:51] Walstruzz commented on #11931
PyTorch 1.2.0
It's still very slow...

[2019-11-20 01:57] mrshenli commented on #29938
@pritamdamania87 The error "could not find autograd context" still occurs after #29770. I am disabling `test_graph_for_py_nested_remote_call` for now.

[code]

[2019-11-20 02:01] #5330 closed

[2019-11-20 02:02] mrshenli commented on #29938
disabled in #30132

[2019-11-20 02:40] chughtapan opened #30138 "Unable to register custom JIT Operator with CONSERVATIVE AliasAnalysis"
## 🐛 Bug

Cannot register a custom JIT Operator with `AliasAnalysisKind::CONSERVATIVE`. This is useful to do create operators like
[code]
Currently, running this fails the assert at https://github.com/pytorch/pytorch/blob/2367e71f55c8547a674b90912ffc95ca60687844/torch/csrc/jit/operator.cpp#L146-L147

## Expected behavior

This worked before https://github.com/pytorch/pytorch/commit/bbc53bffefa56ca

[2019-11-20 02:44] zhirihuixin commented on #30071
@ngimel Thank your very much! I solved this problem by reinstall pytorch1.3.1(torch-1.3.1+cu100-cp36-cp36m-linux_x86_64.whl) for cuda 10.0, The command (pip install torch) is for cuda 10.1.

[code]

[2019-11-20 02:46] xsacha commented on #30029
Also, OneAPI can work with Nvidia GPUs anyway:
https://www.phoronix.com/scan.php?page=news_item&px=Intel-oneAPI-DPC-SYCL-NVIDIA-CU

[2019-11-20 02:55] NumesSanguis commented on #22169
I didn't read the whole discussion above, but when I was looking for how to deal with audio files of different lengths, I found `awkward-array`: https://github.com/scikit-hep/awkward-array

It seems that it's basically numpy, but with support for `JaggedArrays`.
There seems to support for "awkd" files, HDF5, Parquet, or ROOT type storages, which would help with loading jagged arrays.

Also, it see

[2019-11-20 02:55] amajidsinar opened #30139 "RuntimeError: isTensor() INTERNAL ASSERT FAILED at /pytorch/aten/src/ATen/core/ivalue_inl.h:90, please report a bug to PyTorch. Expected Tensor but got Int (toTensor at /pytorch/aten/src/ATen/core/ivalue_inl.h:90)"
So, what I'm trying to do is to to convert torchscript model into onnx. Both scripting and tracing works during the creation of graph, but fails when the model is converted into onnx

Here's the error:

Traceback (most recent call last):
  File "yolo2script.py", line 8, in <module>
    torch.onnx.export(model_scripted, dummy_input, "yolov3.onnx", example_outputs=model(dummy_input))
  File "/usr/lo

[2019-11-20 05:11] mohitranawat commented on #29806
Hi @supriyar  I am getting this error while loading the model in android studio java.
The patch you shared is not relevant to me or I don't know where to patch it as it is in java.

[2019-11-20 05:24] lk1983823 commented on #30071
@ngimel Thank you !!

[2019-11-20 05:24] #30071 closed

[2019-11-20 05:33] #29924 closed

[2019-11-20 06:58] chentau commented on #30090
If I understand correctly then, the built in and manually implemented gradients are proportional to each other, correct?  In that case, is one preferable to the other?  I would imagine that the built in normalization of the categorical distribution would be useful for prevent gradient explosion.

[2019-11-20 07:53] samsamoa opened #30147 "DataLoader fails to re-raise exceptions with required arguments"
## 🐛 Bug
`torch.utils.data.DataLoader` attempts to relay exceptions from its child processes.  It fails to do this when the exception type takes multiple required arguments.

## To Reproduce

Run this:
[code]

The result:
[code]

## Expected behavior

Should see the `E: Special exception message` printed. (This works when `num_workers=0`.)

## Environment
 - PyTorch Version (e.g., 1.0): 1.3.1
 - O

[2019-11-20 09:07] xiaomaAI123 opened #30150 "I have reconstructed LSTM model and tested by mnist data but the loss is not changed (loss=2.3)"
my code is as follows:
import torch
from torch import nn
from torch.autograd import Variable
import torchvision.datasets as dsets
import torch.utils.data as Data
import torchvision.transforms as transforms
from torch.nn import Parameter
from torch import Tensor
import math
from torch.nn import init

torch.manual_seed(1)

EPOCH =1
BATCH_SIZE = 64
TIME_STEP = 28
INPUT_SIZE = 28
Hidden_size=128
Num_c

[2019-11-20 09:09] Tj85710 commented on #29967
YESSSSSS !!
Thanks a lot.

Here it is :

(base) iMac27:miniconda3 xxxxxx$ **conda install --update-all pytorch-nightly torchvision -c pytorch**
Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Users/xxxxxx/miniconda3

  added / updated specs:
    - pytorch-nightly
    - torchvision

The following packages will be down

[2019-11-20 09:09] #29967 closed

[2019-11-20 09:12] CeadeS commented on #29722
I replaced the libgomp-7c85b1e2.so.1 with libiomp5.so
The performance improved, i was able to reproduce behavior. Do not ask me why

[2019-11-20 09:24] pietern commented on #27278
Another example of a hang: https://circleci.com/gh/pytorch/pytorch/3669403

[2019-11-20 09:54] pietern commented on #30127
The forced shutdown won't be clean, right?

[2019-11-20 09:56] pietern commented on #30110
Nothing we can do about this one:

Closing the issue. If it happens again, we'll have to take it up with CircleCI.

[2019-11-20 09:56] #30110 closed

[2019-11-20 10:05] zhouzq-thu commented on #29993
@BowenBao

Same issue when setting `opset_version=11` with the latest PyTorch version and maybe add the following code to the `test` function:

[code]

The code above will produce the error:

[code]

## Environment

PyTorch version: 1.4.0a0+7495c25
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Ubuntu 18.04.3 LTS
GCC version: (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0
CMake version: version 3

[2019-11-20 10:20] pietern commented on #30022
@pritamdamania87 You can make your launcher a bit simpler by changing:

[code]

to:

[code]

The function takes `(rank, *args)` as argument, so in this case `(rank, nprocs, file_name)`.

Also see https://pytorch.org/docs/stable/multiprocessing.html#torch.multiprocessing.spawn

[2019-11-20 10:29] taojake opened #30151 "fp16 fails to speed up HRNet"
## ❓ Questions and Help
fp16 can't spped up on HRNet
### Please note that this issue tracker is not a help form and this issue will be closed.
ubuntu16.04
pytorch1.1
cuda10.0
cudnn7.5
driver410.78
HRNetw32

inference with fp32:
44.31ms
inference with fp32:
50.40ms

hrnet is pose model, which is full of connection between different blocks, there are many for operation, and + operation(python operat

[2019-11-20 10:35] Joyako commented on #29990
Hello @IvanKobzarev I use 'implementation 'org.pytorch:pytorch_android:1.4.0-SNAPSHOT'' and 'implementation 'org.pytorch:pytorch_android_torchvision:1.4.0-SNAPSHOT'' to my project, it can  normal compile, but in runtime , it is crash in Module.load() function, but it is  work use this way in first few week,  thanks any way.

[2019-11-20 11:02] christegho commented on #4546
I am having a similar issue as @fhamborg. Although I have CUDA 10.1. Were you able to resolve this issue by any chance?

[2019-11-20 11:06] pietern commented on #29891
How do you reproduce the issue?

Only the problem statement is not enough for us to try and help you out with this.

On a related note, the bug report issue template is useful as it contains all the fields that may be relevant to helping you figure out what's going on. Please stick to using the template (you can leave fields that are not applicable empty).

[2019-11-20 11:10] kl456123 commented on #3415
老铁别扯些没用的， 最简单的方法就是加锁，multiprocessing.Lock

[2019-11-20 11:13] pietern commented on #22259
@ksurya Can you include a stack trace of your server? Knowing where it is hanging is critical in figuring out what's going on. After all, you can induce a hang by executing an infinite loop from a GPU kernel :)

[2019-11-20 11:13] hameerabbasi commented on #28361
Agreed, the point was to demonstrate NumPy behaviour, and as this is a PyTorch issue tracker I should have mentioned that the equivalent for `Tensor` would have to be created or discovered. Perhaps @ezyang can specify whether this is feasible, and a couple of guidelines on how.

[2019-11-20 11:23] fhamborg commented on #4546
Unfortunately not really; I avoided the issue by switching to another machine...

[2019-11-20 11:27] zhouzq-thu commented on #29993
@BowenBao @lara-hdr @neginraoof
After I update ONNX to 1.6.0, it's OK now, but does a single `ZeroPad2d` layer need so many ops? :)
Maybe it is good to add a feature that we can decide to export a static or dynamic ONNX model.

![converted](https://user-images.githubusercontent.com/9458157/69235150-b881c380-0bcb-11ea-84be-1925153b235e.png)

[2019-11-20 11:38] nikitaved commented on #30090
No, they are not proportional. So, given the normalization, i.e. that `a` sums up to 1, the true gradient in the first case, if my calculus is correct, becomes:
`(1-a)*(torch.log(a) - np.log(1./5) + 1)`,
while in the second case:
`torch.log(a) - np.log(1./5) + 1`.
The second gradient matches the one received from the backward method, while the first one does not. So, unless there is a mistake in m

[2019-11-20 11:54] pietern commented on #29093
@SsnL Can you confirm the sysroot for conda gcc 7.3?

[2019-11-20 11:55] pietern commented on #29695
@eellison Do you have a link to the CI job with the failure?

[2019-11-20 12:30] pietern commented on #29191
Sure, there is no fundamental limitation to do that. It's uncommon that heterogeneous systems are used for data parallel training though, because the performance imbalance means your better performing hardware will mostly be idle.

Closing the issue, because this is not an issue.

Please direct future questions to the forums at https://discuss.pytorch.org/.

[2019-11-20 12:30] #29191 closed

[2019-11-20 13:33] peterjc123 commented on #30074
Looks like it is down to about 2hrs again. https://dev.azure.com/pytorch/PyTorch/_build/results?buildId=18300 Will create a PR on this.

[2019-11-20 13:34] pietern commented on #30022
This is related to / a duplicate of #27928.

cc @rohan-varma

[2019-11-20 13:38] jerremy1336 opened #30155 "Transform caffe2 to trt failed"
## 🐛 Bug
I called transform_caffe2_net(pred_net,
                                            {input_name: input_blob_dims},
                                            max_batch_size=1, debug_builder=False,
                                            build_serializable_op=False)

to transform caffe2 model to trt, got the following exception, input_blob_dims = (1, 3, 800, 832), input_name = pred_ne

[2019-11-20 13:39] pietern commented on #27843
@zou3519 We did this to avoid adding yet another submodule. If we pull in libuv (not a problem w.r.t. cross platform support, since that's one of its explicit goals), then this issue goes away.

[2019-11-20 13:40] leejh1230 commented on #30150
The code is too hard to read, but I think the 'lstm' is not working 'recurrent'.

[2019-11-20 13:40] pietern commented on #22071
@zhaojuanmao Unassigning you while there is no work in progress.

[2019-11-20 13:50] pietern commented on #25531
@rohan-varma @pritamdamania87 I think this can be closed since #29601 and #28392 are merged?

[2019-11-20 13:55] pietern commented on #27409
@soumith I think you're more familiar with magma et al. Who should take a look at this?

[2019-11-20 13:58] pietern commented on #26475
@rohan-varma Were you able to repro this?

[2019-11-20 14:39] luoduo21 opened #30156 "Does the pytorch1.3 support SSD model on android"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-11-20 14:53] albanD commented on #30073
This is a cross post with the forum: https://discuss.pytorch.org/t/why-are-gradients-given-by-pytorch-0-4-0-and-0-4-1-are-different-when-backward/61450/7?u=alband

tl-dr: This is fixed in master. Our old AccumulateGrad used to use the unsafe `.data` which we don't do anymore.

[2019-11-20 14:53] #30073 closed

[2019-11-20 15:08] pietern commented on #27405
@mrshenli This might be a good bootcamp task.

[2019-11-20 15:08] pietern commented on #27368
@mrshenli @rohan-varma Is this still a legit issue? I recall seeing some error handling PRs go in.

[2019-11-20 15:13] SsnL commented on #30090
It’s really not a bug. The two functions match exactly on the prob simplex,
but differ otherwise. So they have different gradients.

On Wed, Nov 20, 2019 at 06:39 nikitaved <notifications@github.com> wrote:

[2019-11-20 15:13] shayan113 commented on #24157
@orionr Thank you for your guidance，I've just solved this problem.
on Windows
version：
torch 1.3.1
tensorboard 2.0.1
Python 3.7.4

[2019-11-20 15:18] pietern commented on #25570
@soumyadipghosh Sure, you could do that. But first you'd need to register the memory that would be available for one-sided access (read/write). I think this is the bigger problem here. Once that is done, calling into the routines that perform one-sided access is a detail.

[2019-11-20 15:19] pietern commented on #25570
If there is a use case to motivate this functionality then the discussion can become more concrete.

[2019-11-20 15:21] nikitaved commented on #30090
I agree, that they have different gradients, but in the first case, when `a` is passed to the Categorical, the gradient does not match the one that I derived by hand, which is
`(1-a)*(torch.log(a) - np.log(1./5) + 1)` in my case. Is there a mistake in my derivation?

[2019-11-20 15:34] 421psh opened #30158 "LibTorch. Namespaces bug."
## 🐛 Bug

Loads of errors during C++ code compilation due to problems with namespaces in LibTorch files.

## What helped
Changes in files:

1. libtorch/include/ATen/detail/CUDAHooksInterface.h
26 line:
[code]
2. libtorch/include/ATen/core/TensorBody.h
35 line:
[code]
## Environment
PyTorch version: 1.3.1
Is debug build: No
CUDA used to build PyTorch: 10.1.243

OS: Ubuntu 16.04.6 LTS
GCC version: (

[2019-11-20 15:49] ezyang commented on #30102
@smessmer Yes, I think that would fix it.

[2019-11-20 16:18] rohan-varma commented on #25531
Yep, this is now implemented.

[2019-11-20 16:18] #25531 closed

[2019-11-20 16:33] #29817 closed

[2019-11-20 16:33] zou3519 commented on #27843
@pietern It would be nice to be able to grab the docstrings without building with distributed support to avoid adding the submodule; how feasible do you think that is? The risk in the situation right now is that we might accidentally not build the distributed documentation and push it out for a release

[2019-11-20 16:39] zou3519 commented on #27843
An alternative would be to have some sort of test system for our documentation to check, before we push a release, that all the docs that we want are there.

[2019-11-20 16:54] #30074 closed

[2019-11-20 16:54] CeadeS commented on #29722
I guess its FindOpenMP.cmake or FindOpenMKL.cmake libiomp ist not linked correctly even with the latest intel build enviroment installed.

[2019-11-20 17:15] VitalyFedyunin commented on #24579
Seems to be ported (can't find PR number)

[2019-11-20 17:15] #24579 closed

[2019-11-20 17:15] VitalyFedyunin commented on #24716
I can close, right?

[2019-11-20 17:15] #24716 closed

[2019-11-20 17:17] sidazhang opened #30161 "Support struct that is initializable / mutable in CPP"
## 🚀 Feature
[code]

initialize in CPP (where it is the call site of the model) and pass into the model during inference

## Motivation

Currently, we can use jit classes to initialize structs. But the struct must be initialized during the export of the model. It would be good if the structs can be initialized at inference time in CPP as it will give a lot more flexibility to the production side w

[2019-11-20 17:24] #24717 closed

[2019-11-20 17:24] #24718 closed

[2019-11-20 17:24] #24580 closed

[2019-11-20 17:24] vadimkantorov opened #30162 "Newline or whitespace missing in formula for PoissonNLLLoss"
![image](https://user-images.githubusercontent.com/1041752/69262021-fcbc9600-0bc2-11ea-97af-236226678212.png)

[2019-11-20 17:24] #24581 closed

[2019-11-20 17:28] #24598 closed

[2019-11-20 17:28] #24599 closed

[2019-11-20 17:31] #24732 closed

[2019-11-20 17:31] #24733 closed

[2019-11-20 17:32] #24736 closed

[2019-11-20 17:32] #24737 closed

[2019-11-20 17:33] #24741 closed

[2019-11-20 17:33] #24742 closed

[2019-11-20 17:34] #24743 closed

[2019-11-20 17:34] #24744 closed

[2019-11-20 17:35] #24624 closed

[2019-11-20 17:37] #24629 closed

[2019-11-20 17:37] #24630 closed

[2019-11-20 17:38] #24762 closed

[2019-11-20 17:38] #24763 closed

[2019-11-20 17:38] #24651 closed

[2019-11-20 17:39] #24780 closed

[2019-11-20 17:40] #24653 closed

[2019-11-20 17:41] #24783 closed

[2019-11-20 17:41] #24777 closed

[2019-11-20 17:41] #24776 closed

[2019-11-20 17:41] #24775 closed

[2019-11-20 17:41] #24774 closed

[2019-11-20 17:43] zdevito commented on #29987
The behavior should match `nn.Module`'s implementation of `to`. If doesn't (very possible) then we should fix it. However, I think `nn.Module` only moves parameters and buffers, not all attributes.

[2019-11-20 18:10] rohan-varma opened #30164 "Don't hold locks in RecvWork::wait and SendWork::wait in ProcessGroupGloo"
## 🚀 Feature
Per @pietern's comment in https://github.com/pytorch/pytorch/pull/29928/, we can avoid holding the lock in `ProcessGroupGloo` when waiting on send/recv operations:

"The lock is there only to synchronize a background thread that executes the work and marks it as completed, not multiple waiters. For the send/recv work, that background thread is the actual Gloo I/O thread that marks a s

[2019-11-20 18:32] eellison commented on #30138
Dup of https://github.com/pytorch/pytorch/issues/24243. cc @smessmer

[2019-11-20 18:45] vincentqb commented on #30090
I second that `(torch.log(d1) - np.log(1./5) + 1)` would be the gradient with respect to `d1` (if we could record it) and not `a`, at least because of what you are saying @SsnL.  It'd be nice to figure out the analytical version of what pytorch is doing. I was expecting what @nikitaved said too, `(1-a)*(torch.log(a) - np.log(1./5) + 1)` but that doesn't match either :) I any case, I would not call

[2019-11-20 18:52] rgommers commented on #28361
@hameerabbasi you may want to browse through the diff in gh-22235, it's incomplete and part of a set of PRs that were a little confused, but for preserving subclasses in methods it kind of does what `view` + `__array_finalize__` does. So at least good to see what parts of the code it had to touch.

That's of course an alternative direction to your original "parse `self` + use `__torch_function__`"

[2019-11-20 18:55] vincentqb commented on #29724
Thoughts @houseroad ?

[2019-11-20 18:56] umgupta commented on #28313
I faced the same issue, it seems like upgrading dill to 0.3.1.1 fixed the problem for me.

[2019-11-20 19:16] zhaojuanmao commented on #24959
had second thought, I think we can just simply throw RemoteException on server side with concatenated stack trace message, then python exception can be captured as MessageType::EXCEPTION as well on server side in C++ land. This EXCEPTION message will be passed to client side and handled in the same way as C++ exceptions.

will put a PR later on

[2019-11-20 19:17] ezyang commented on #28361
What if I, in my subclass, define both `__add__` and `__torch_function__`? Then MRO doesn't give guidance, IIUC?

[2019-11-20 19:18] ezyang commented on #28361
Yes, this name seems better

[2019-11-20 19:20] hameerabbasi commented on #28361
Python always looks for `__add__` when `+` is used, so that always takes precedence.

[2019-11-20 19:28] ezyang commented on #28361
I don't think this resolves my problem. A better comparison is comparing `__add__` and `__getattr__`, both of which are ways you could overload the behavior of `+`. My understanding is that Python's rules mean that once I define `__add__` in ANY superclass, `__getattr__` will never be considered, even if I redefine it in a subclass.

[code]

But the stated desired behavior above is that I can subc

[2019-11-20 19:30] ezyang commented on #28361
I suppose one way to solve the problem is to require users to explicitly define `__torch_function__` to call your "preserve subclasses" implementation. This seems workable to me, although it's inconsistent with how `__getattr__` works.

[2019-11-20 19:32] hameerabbasi commented on #28361
There will be a default `__torch_function__` implementation, which will, in essence, be skipped for `torch.Tensor`, which would do the right thing.

[2019-11-20 19:49] fritzo commented on #30090
I believe PyTorch computes a gradient that avoids numerical drift in logits space. Usually categorical distributions are parametrized by log-probabilities, named "logits" in the codebase. When computing gradients wrt logits, the PyTorch gradient sums to zero:
[code]
I guess it would reasonable to instead avoid drift in `probs` space by ensuring that `grad(kl_1, [probs])` sums to zero.

[2019-11-20 19:57] yf225 commented on #25883
@Yunseong-Jeong Thanks a lot for your interest! Would you like to work on any of the following functions?
[code]
Thanks so much for your help!

[2019-11-20 20:15] danilo-augusto commented on #24807
Normally the fix is sufficiently simple to allow for a local cherry-pick, avoiding the shadowing problem. I'm not in control of the PR though.

[2019-11-20 20:16] danilo-augusto commented on #24807
And of course having everybody making the same changes locally and building from scratch is very far from ideal.

[2019-11-20 20:22] ezyang commented on #28361
@hameerabbasi had a brief call. I presented two problems with Hameer's implementation:

1. Suppose that I define `__torch_function__` and `add` on a subclass. If `add` calls `super().add()` as part of its implementation, `__torch_function__` will get invoked later! That's weird.
2. Suppose that `__torch_function__` is only invoked if `add` is not overridden (which fixes (1)). Then we lose "composi

[2019-11-20 21:02] rohan-varma opened #30181 "Move argument init_method to RpcAgentOptions and provide a default when initializing RPC."
## 🚀 Feature
The `rpc.init_rpc` API takes an argument, `init_method`, that specifies how to initialize the store that is used in the rendezvous process when workers discover each other. We should move this argument to the recently introduced `RpcAgentOptions` structure that is used to configure the RPC backend, since this argument can be different for different rpc backends.

With this, we should

[2019-11-20 21:06] #29211 closed

[2019-11-20 21:12] jamesr66a opened #30182 "[quantization][graph mode] SubgraphRewriter discards SourceRanges"
Example from test_insert_prepack_unpack: https://github.com/pytorch/pytorch/blob/ae6af8d55faa6efa6018d20fec3a4909acd36a4e/test/test_jit.py#L1194

The diff of the module's forward before and after is:

[code]

We've lost source range information on the CallFunction node, meaning we're losing valuable debug info and possibly making the stack traces less interpretable

[2019-11-20 21:21] eellison commented on #711
Taking out of `jit` triage queue because we published a tutorial on JITable custom RNNs: https://pytorch.org/blog/optimizing-cuda-rnn-with-torchscript/

[2019-11-20 21:22] eellison commented on #4138
Is this still an issue? Seems like it is no longer relevant.

[2019-11-20 21:22] eellison commented on #4105
Is this still an issue ?

[2019-11-20 21:23] eellison commented on #4782
We updated the IR docs.

[2019-11-20 21:23] #4782 closed

[2019-11-20 21:30] IvanKobzarev commented on #29806
Hello @mohitranawat,
Mentioned patch was merged yesterday in master and it is included in our nightly android builds. To use them:
[code]
If you used nightlies, you might need gradle key `--refresh-dependencies` to be sure that it will not use cached version.

To check that the patch is included, 1.4.0 nightlies version should be >= 45
the latest nightly url:
https://oss.sonatype.org/service/local

[2019-11-20 21:39] IvanKobzarev commented on #29990
@Joyako
What is the full error message you get?

Just guessing:
As you use nightly builds - you get the latest version of libtorch with all the changes of jit, serialization etc. So you need to regenerate your torchscript pt files (trace/script) to be aligned with the latest nightlies. (to install pytorch nightly from python for example and rerun python scripts that generate your models)
That migh

[2019-11-20 21:39] eellison commented on #7072
Seems like https://github.com/pytorch/pytorch/issues/6010 fixed this. Closing for now, please reopen if you have this problem.

[2019-11-20 21:39] #7072 closed

[2019-11-20 21:40] PCerles opened #30184 "IterableDataset should be able to provide a length"
I'm using the IterableDataset class to iterate through a list of tar files. Roughly, it works like

[code]
Since I know the chunk size a priori, I know the length of my dataset, and want to use the length to keep track of how far I am through an epoch, and because it plays nicely with Pytorch Ignite. In my opinion, this should be left to the user to choose to implement.

[2019-11-20 21:41] suo commented on #30161
I think this shouldn't be too difficult to add. The trickiest part is how to get a qualified name for the class, which is not a user-visible concept. We'll put it in our queue and update on the priority soon!

[2019-11-20 21:50] eellison commented on #7660
We got rid of attributes for any aten operator so i believe this has been fixed.

[2019-11-20 21:50] #7660 closed

[2019-11-20 21:52] #7662 closed

[2019-11-20 21:53] eellison commented on #22911
I'm going to closed this since it is a dup.

[2019-11-20 22:07] Krovatkin commented on #29909
@lara-hdr I also have a tentative fix for the second issue now: https://github.com/pytorch/pytorch/pull/30186 Hopefully, the fix for the first issue will be merged today.

[2019-11-20 22:08] jvanheugten commented on #22911
Not really a duplicate, since the above is for a single module, not a sharing between multiple modules.
For example, simply execute the code above.
The issue arises since `self.logits = self.weight` in the _single_ module.

[2019-11-20 22:10] zdevito commented on #8872
This is supported now

[2019-11-20 22:10] #8872 closed

[2019-11-20 22:12] zdevito commented on #9055
This looks out of date, closing.

[2019-11-20 22:12] #9055 closed

[2019-11-20 22:13] zdevito commented on #9066
Closing this old issue, if this is still relevant, please reopen.

[2019-11-20 22:13] #9066 closed

[2019-11-20 22:13] #9210 closed

[2019-11-20 22:16] zdevito commented on #10433
Pretty sure this issue has been addressed. Reopen if I am mistaken.

[2019-11-20 22:16] #10433 closed

[2019-11-20 22:18] zdevito commented on #10484
Pretty sure this has been fixed, or is obsolete. Reopen if I am wrong.

[2019-11-20 22:18] #10484 closed

[2019-11-20 22:21] zdevito commented on #10747
Closing old issue.

[2019-11-20 22:21] #10747 closed

[2019-11-20 22:22] #4138 closed

[2019-11-20 22:24] ezyang commented on #4105
DynamicLibrary appears to dlclose on destruction. So it's fixed.

[2019-11-20 22:24] #4105 closed

[2019-11-20 22:25] #10774 closed

[2019-11-20 22:29] zdevito commented on #11186
This seems to work now.

[2019-11-20 22:29] #11186 closed

[2019-11-20 22:29] eellison commented on #22911
@jvanheugten thanks for the clarification. re-opening

[2019-11-20 22:30] zdevito commented on #11455
closing old issue.

[2019-11-20 22:30] #11455 closed

[2019-11-20 22:31] zdevito commented on #11480
Closing old issue, should be fixed now.

[2019-11-20 22:31] #11480 closed

[2019-11-20 22:32] jjsjann123 commented on #29992
This should have been resolved by: https://github.com/pytorch/pytorch/pull/30174#pullrequestreview-320280712

[2019-11-20 22:36] zdevito commented on #11555
Closing old issues, please reopen if this still a problem.

[2019-11-20 22:36] #11555 closed

[2019-11-20 22:39] zdevito commented on #11829
This appears to be fixed.

[2019-11-20 22:39] #11829 closed

[2019-11-20 22:41] SsnL commented on #30184
I will update https://github.com/pytorch/pytorch/pull/23587 and fix this

[2019-11-20 23:17] yf225 commented on #25883
@bernsm3 Curious are you currently working on `weight_norm` and `remove_weight_norm`? Please let me know if there is anything I can help with :)

[2019-11-20 23:19] mawright opened #30194 "Support broadcasting in einsum"
## 🚀 Feature
`torch.einsum` errors when trying to broadcast a size-1 dimension. Both Numpy and Tensorflow support einsum broadcasting:

Numpy:
[code]

Tensorflow:
[code]

Pytorch:
[code]
gets
[code]

cc @vincentqb @vishwakftw @jianyuh @nikitaved @pearu @mruberry @heitorschueroff

[2019-11-20 23:23] zdevito commented on #12024
closing issue as it is likely no longer valid, reopen if not true.

[2019-11-20 23:23] #12024 closed

[2019-11-20 23:23] #12286 closed

[2019-11-20 23:24] zdevito commented on #12291
Closing old issue

[2019-11-20 23:24] #12291 closed

[2019-11-20 23:25] zdevito commented on #12393
We ended up using the `__closure__` stuff.

[2019-11-20 23:25] #12393 closed

[2019-11-20 23:26] zdevito commented on #12445
Looks like this has been fixed, closing.

[2019-11-20 23:26] #12445 closed

[2019-11-20 23:29] zdevito commented on #12579
This appears to be fixed.

[2019-11-20 23:29] #12579 closed

[2019-11-20 23:31] zdevito commented on #12580
Never versions seem to trace correctly, so I am closing this.

[code]

[2019-11-20 23:31] #12580 closed

[2019-11-20 23:33] eellison commented on #6012
I believe this has been fixed through symbolic_script.cpp.

[2019-11-20 23:33] #6012 closed

[2019-11-20 23:33] zdevito commented on #12769
This has been fixed

[2019-11-20 23:33] #12769 closed

[2019-11-20 23:33] eellison commented on #7097
The PR that this issue links to has landed.

[2019-11-20 23:33] #7097 closed

[2019-11-20 23:35] zdevito commented on #12875
We now have jit-specific code for module replication in data parallel so this should be fixed. If it isn't please reopen the issue.

[2019-11-20 23:35] #12875 closed

[2019-11-20 23:36] zdevito commented on #12894
This is now supported

[2019-11-20 23:36] #12894 closed

[2019-11-20 23:37] zdevito commented on #12978
This looks out of date so I am closing. Reopen if this is still broken.

[2019-11-20 23:37] #12978 closed

[2019-11-20 23:37] eellison commented on #7925
This issue description appears outdated. We no longer do the hack described and ONNX support for dynamic shapes i'm sure is being tracked in https://github.com/onnx/onnx.

[2019-11-20 23:37] #7925 closed

[2019-11-20 23:51] zdevito commented on #13390
The autodiff for jit works in a different way now, so torch._C._jit_differentiate is obsolete. Please reopen if there is still an issue here.

[2019-11-20 23:51] #13390 closed

[2019-11-20 23:59] eellison commented on #8777
I think this is fixed with recursive scripting api.

[2019-11-20 23:59] #8777 closed

[2019-11-21 00:00] eellison commented on #8761
This has been done now.

[2019-11-21 00:00] #8761 closed

[2019-11-21 00:03] wanchaol commented on #13797
we killed symbolic variable.

[2019-11-21 00:03] #13797 closed

[2019-11-21 00:04] eellison commented on #8604
This succeeds now.

[2019-11-21 00:04] #8604 closed

[2019-11-21 00:07] eellison commented on #8495
This is fixed:
[code]

[code]

[2019-11-21 00:07] #8495 closed

[2019-11-21 00:10] eellison commented on #8392
The example given in the issue works now, so I'm closing. Please re-open if this is an issue for you.

[2019-11-21 00:10] #8392 closed

[2019-11-21 00:11] eellison commented on #4468
Just tried the repro and it worked so I'm closing. please re-open if this an issue for you on master.

[2019-11-21 00:11] #4468 closed

[2019-11-21 00:13] eellison commented on #7507
Old issue, and seems like profiling executor solves this issue. Closing, re-open if you think this is still relevant.

[2019-11-21 00:13] #7507 closed

[2019-11-21 00:14] pritamdamania87 commented on #30014
Closing this since I believe #30160 resolves this (https://pytorch.org/docs/master/rpc.html#torch.distributed.rpc.remote)

[2019-11-21 00:14] #30014 closed

[2019-11-21 00:18] eellison commented on #6006
As far as I can tell this has been fixed::

[code]

[2019-11-21 00:18] #6006 closed

[2019-11-21 00:20] eellison commented on #6008
Since this is an old-issue and all but two issues of it have been closed I'm going to close this. Re-open if you think it is still relevant. Remaining two issues:

https://github.com/pytorch/pytorch/issues/6007
https://github.com/pytorch/pytorch/issues/6010

[2019-11-21 00:20] #6008 closed

[2019-11-21 00:28] eellison commented on #8348
Is this still an issue ?

[2019-11-21 00:37] eellison commented on #8473
Does anyone have a small repo for this? Not sure if this is fixed on master.

[2019-11-21 00:40] eellison commented on #8558
Compilation unit isn't a user-facing api now, and there are other more explicit issues about ScriptModule repr: https://github.com/pytorch/pytorch/issues/28517. Closing, re-open if you think this is relevant.

[2019-11-21 00:40] #8558 closed

[2019-11-21 00:41] vadimkantorov commented on #8049
awesome stuff :) are these implementations differentiable wrt input?

[2019-11-21 00:45] zasdfgbnm opened #30204 "JIT does not supporting `retain_graph` in autograd"
## 🐛 Bug

[code]
Fails with

[code]

Fixed in https://github.com/pytorch/pytorch/pull/30203

cc @suo

[2019-11-21 01:47] Yunseong-Jeong commented on #25883
@yf225 I'll try the spectral_norm. Is there anything I need to know before I do?

[2019-11-21 02:45] XiaoqiangZhou opened #30211 "A problem of nn.ConvTranspose2d in PyTorch"
I met a strange `cuDNN error: CUDNN_STATUS_INTERNAL_ERROR` when I run the `nn.ConvTranspose2d` function in gpu-cluster.
Codes like:(in the ipdb debug mode)
[code]
I'm not sure whether it is because `nn.ConvTranspose2d` cannot handle the strange spatial size (128, 80).
After I change the spatial size to (64,64), no error.
I think there is no problem with pytorch environment, with `pytorch=1.0.1` an

[2019-11-21 03:05] mzmssg commented on #13390
@zdevito
Is there some doc about the new way

[2019-11-21 03:14] balde-soul opened #30213 "cost more video memory than the sum of the input and the output tensor of the func in checkpoint"
![2019-11-21_110927](https://user-images.githubusercontent.com/22140223/69301105-19eb7600-0c50-11ea-8306-d1108002f2ac.png)

base on the code in the picture,  I set the break point hard upon every checkpoint calling(in the second cell.forward function)
the memory should be growth in 75M in every step in the rolling theoretically, but 400M actually.

**[Untitled.txt](https://github.com/pytorch/pytor

[2019-11-21 03:20] raghuramank100 opened #30214 "Add support for fusion of relu6 with conv and bn for quantization"
## 🚀 Feature
 Add support for fusing nn.ReLU6  with Conv and BN.
## Motivation
 Xraymobile and mobilenet models use ReLU6 instead of ReLU. It will be convenient for quantization to directly support ReLU6. Currently ReLU6 module can be quantized, but not fused.

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a

[2019-11-21 03:47] Suyash458 commented on #25883
@yf225 I'd like to work on `PackedSequence`. Is that one still available?

[2019-11-21 03:59] yf225 commented on #25883
@Suyash458 Thanks so much for your interest! I just went through the list again and I realized that the RNN module workstream lead by @pbelevich would probably include `PackedSequence` as well. Among the rest of the functions, wondering would you be interested in working on `pad_sequence`? Thanks a lot again!

[2019-11-21 04:10] yf225 commented on #25883
@Yunseong-Jeong My sincere apologies for the confusion - it seems that `spectral_norm` is currently blocked by the fact that we don't have `_forward_pre_hooks` in C++ `torch::nn::Module` at the moment. I will work on adding that to `torch::nn::Module` and keep you updated on the progress :D

[2019-11-21 04:11] yf225 commented on #25883
@bernsm3 My apologies for the earlier message - it seems that both `weight_norm` and `remove_weight_norm` are blocked by the fact that we don't have `_forward_pre_hooks` in C++ `torch::nn::Module` at the moment. I will work on adding that to `torch::nn::Module` and keep you updated on the progress :D

[2019-11-21 04:14] yf225 commented on #25888
@albanD Curious is `register_forward_pre_hook` also blocked by the need to fix `backward_hooks`, or are they independent of each other? Thanks!

[2019-11-21 04:31] Joyako commented on #29990
Hello @IvanKobzarev, my problem has solved , thanks a lot.As your said I update pytorch nightly from python and regenerate my torchscript pt, my project is running normally.Thanks again.

[2019-11-21 06:05] aviaisr commented on #29993
Thanks! It worked with pytorch-nightly, version 1.4.0.dev20191118!

[2019-11-21 06:05] #29993 closed

[2019-11-21 06:39] mohitranawat commented on #29806
Thanks @IvanKobzarev it worked.
Initially I was also doing same thing but that url is not working and build was not happening.

[2019-11-21 06:39] #29806 closed

[2019-11-21 07:12] intgogo opened #30220 "What a BUG fxxxk!"
### pytorch: 1.2.0
### torchvision: 0.4.0
### function to_tensor eat cpu ridiculous

### When I run codes below,cpu usage ~ 100%
[code]
### When I run codes below,cpu usage ~ 1200%
[code]

[2019-11-21 07:28] eLvErDe commented on #9208
Hello,

I can confirm this issue, the broken snippet is
[code]

The test is incorrect because it's CUTA_HOST_CC which is used and not defaults's CC when building with CUDA.

[2019-11-21 08:04] Rikorose opened #30225 "c10:Error: could not unlink the shared memory file"
## 🐛 Bug

Torch fails while trying to `shm_unlink()`. Stack trace below. Is there a way to get the `shm_unlink` *errno*?

## To Reproduce

I am using shared memory for dataloading (via torch's dataloader) and Queues from torch.multiprocessing for async summary writing. This error randomly happens at some point during the training.
Fyi I am using `torch.multiprocessing.set_sharing_strategy("file_sy

[2019-11-21 08:15] rohan-varma commented on #30105
There's also no guarantee that the python GC would garbage collect the reference by the time we want it to, correct?

[2019-11-21 08:19] rohan-varma commented on #30022
There is another simple repro in the above issue that @pietern mentioned. The RRefs leak in a seemingly simple script, so maybe we should add a warning to users mentioning they should enclose RRefs in another function until we figure out a fix?

[2019-11-21 08:35] huangpan2507 commented on #8318
I met the same problem ,then I try to add this to my ~/.bashrc
export LD_LIBRARY_PATH="/home/myname/anaconda3/envs/maskrcnn_benchmark/lib:$LD_LIBRARY_PATH"
nothing change in ~/.bashrc  !!!!
so i add it by hand .

the ~/.bashrc  show below:
 1
  2 # >>> conda initialize >>>
  3 # !! Contents within this block are managed by 'conda init' !!
  4 __conda_setup="$('/home/huangpan/anaconda3/bin/conda' '

[2019-11-21 08:38] huangpan2507 commented on #8318
Can u help me? how to add that path to  ~/.bashrc ?

[2019-11-21 08:49] zetyquickly opened #30226 "Wrong substitution of aten::to"
## 🐛 Bug

The bug takes place when TorchScript scripting is used from eager Python code. ATen::to in resulting TorchScript code has one extra parameter `None`. Then `C++` cannot deal with it
## To Reproduce

This comes from an article on discuss:

https://discuss.pytorch.org/t/jit-mobile-wrong-substitution-of-aten-to/60846

## Expected behavior

Substitution doesn't contain extra `None`

## Enviro

[2019-11-21 09:04] MaybeS commented on #29186
Same problem here
@zsk423200  did you solve this problem?

[2019-11-21 09:14] fmassa commented on #30220
This is just that we use OMP for arrays larger than a certain size.
If you want to keep a single CPU process running, do
`torch.set_num_threads(1)` in the beginning of your program

[2019-11-21 09:14] #30220 closed

[2019-11-21 09:21] princexiaobai opened #30227 "pytorch_java_only-1.4.0-20191120.095751-9.jar load model bug"
## 🐛 Bug

## To Reproduce
pytorch_java_only-1.4.0-SNAPSHOT/pytorch_java_only-1.4.0-20191120.095751-9.jar
when load pytorch model by java, throw exeception:

Caused by: java.lang.NoClassDefFoundError: org/pytorch/Module$NativePeer
	at java.lang.ClassLoader$NativeLibrary.load(Native Method)
	at java.lang.ClassLoader.loadLibrary0(ClassLoader.java:1941)
	at java.lang.ClassLoader.loadLibrary(ClassLoade

[2019-11-21 10:13] Suyash458 commented on #25883
@yf225 `pad_sequence` sounds good!

[2019-11-21 12:00] ZiyuBao commented on #6932
Same working with faster rcnn and got the error. Did you use torch==0.4.0?

[2019-11-21 12:17] ZiyuBao commented on #6932
I was also working with faster r-cnn and got the error. Downgrading to 0.3.0 solved FileNotFoundError but will produce another error:
`self.ratio_list_batch[left_idx:(right_idx+1)] = torch.tensor(target_ratio.astype(np.float64)) # trainset ratio list ,each batch is same number
TypeError: 'module' object is not callable`

Where this error is related to `torch.tensor` in the above error message. Upg

[2019-11-21 12:41] CeadeS commented on #29722
I found a working solution. FindMKLDNN.cmake enforces SET(MKLDNN_THREADING "OMP:COMP" CACHE STRING "") if no MKLDNN Threading is defined. This prevents MKLDNN from finding the libiomp5 and disables intel mkldnn threading. The default should be "OMP" so the MKLDNN is able to look lookup libiomp5 by itself.

[2019-11-21 12:50] DomHudson commented on #29973
Hi @mruberry !
Thanks for taking a look at this issue. I agree that iterating over all elements like this would be unusual, however I don't think indexing into the tensor is unusual.  For example, it will be common to create a tensor and manipulate its values to create your model input. You could convert a numpy array or python list to the pytorch tensor but it would be reasonable to assume it wou

[2019-11-21 12:54] kerry-Cho opened #30231 "cpp frontend torch::nll_loss2d Crash"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

If do not enter the following target as kLong, it will crash but no message will be generated.

[code]

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manua

[2019-11-21 13:01] artemZholus commented on #24081
I managed to solve this issue in my case by disabling IOMMU in bios.

[2019-11-21 13:09] iamlockelightning commented on #27623
Keep watching

[2019-11-21 13:22] peterjc123 commented on #30231
Would you please try the nightly build?

[2019-11-21 14:00] zuoxingdong commented on #10324
@zou3519 @vishwakftw Any update on this?

[2019-11-21 14:07] jhrmnn commented on #5411
Just hit this as well, also find it very confusing. (I initially found the issue by doing integer to non-integer power, but I assume these are all related.)

Is this simply an architectural decision that won't change (in which case this should be closed, and I'd argue that this semantics should be mentioned in the tutorials for beginners), or is it still open up for a debate?

[2019-11-21 14:08] kerry-Cho commented on #30231
thanks.
In nightly builds, a message appears.
Often there are no messages on the cpp frontend.

^^
[code]

[2019-11-21 14:22] #30231 closed

[2019-11-21 14:25] hartb commented on #12286
FWIW, I agree with the closure. We hadn't seen failure recur since the initial report. Thank you!

[2019-11-21 14:26] vishwakftw commented on #10324
As far as I am aware, no one is taking care of this at the moment.

[2019-11-21 14:44] zuoxingdong commented on #10324
@vishwakftw Thanks for the quick response. Do you know which file in the repo could be the place for a PR to support these functions?

[2019-11-21 14:50] odedbd commented on #15849
This is blocking my upgrade to 1.3 as well. I have a use case where setting up the workers is a costly process.

[2019-11-21 15:12] sailfish009 opened #30236 "pytorch-1.4.0a0+f7b12a9 with cuda-10.2 requires libnvrtc.so.10.1 (from cuda-10.1)"
## 🐛 Bug

Installed cuda-10.2 in ubuntu-19.10, run simple mnist.py example from pytorch dist.
get error like below.

However, if i install cuda-nvrtc-10-1 (10.1.243-1) and symbolic link library file within cuda-10.2/lib64,
then the problem go away.
sudo ln -s /usr/local/cuda-10.1/lib64/libnvrtc.so.10.1.243 /usr/local/cuda/lib64/libnvrtc.so.10.1

why i need cuda-nvrtc-10-1, although i got whole cud

[2019-11-21 15:31] albanD commented on #25888
Hi,

No they are independent.
Both forward_hook and forward_pre_hook are easy to do and not problematic :)

[2019-11-21 16:37] yxjiang commented on #29987
If consistency between nn.Module and Module::to_impl is mandatory, is it possible to add this capability to both?

[2019-11-21 16:42] eellison commented on #29099
Could you provide a repro ? You might try just adding a `noqa`?

[2019-11-21 17:00] vadimkantorov opened #30237 "[discussion] conj() method copy/nocopy semantics for real tensors"
It seems to copy:
[code]

However, if the caller wants to save memory for real tensors and does not use inplace ops, they need to do ifs (and enumerate all complex types) like in https://github.com/pytorch/pytorch/pull/29488/files#diff-62a3ecc69398a4b080599d5222c535b1R70

Also this copy semantics seems not documented: https://pytorch.org/docs/master/torch.html?highlight=conj#torch.conj

cc @Vitaly

[2019-11-21 17:04] vadimkantorov opened #30238 "[feature request] dtype.is_complex field"
`dtype.is_complex` would simplify checks like https://github.com/pytorch/pytorch/pull/29488/files#diff-62a3ecc69398a4b080599d5222c535b1R70 (and `dtype.is_floating_point` already exists)

[2019-11-21 17:18] neginraoof commented on #29993
@zhouzq-thu There's a difference between PyTorch and ONNX spec for pad. For PyTorch, pad tensor is in the following order: [dim_n_begin, dim_n_end, dim_n-1_begin, dim_n-1_end, ..., dim_m_begin, dim_m_end]
But the ONNX order is: [dim_0_begin, dim_1_begin, ... , dim_0_end, ..., dim_n_end]
Hence we have this subgraph to reshape the tensor.

[2019-11-21 17:24] yf225 commented on #25883
@Suyash458 Thanks so much for your help! I mentioned your name next to it :D

[2019-11-21 17:51] mrshenli commented on #30105
Yes, based on yesterday's discussion, we are going ignore those RRef leaks at shutdown time, because shutdown means the application no longer cares about the local state. We would still enforce leak checking for tests though, to make sure that `OwnerRRef`s are indeed deleted properly. see #30217

[2019-11-21 17:52] vincentqb commented on #29994
In general, we focus on including methods that the community uses as a standard, or else the code maintenance problem balloons up for us. We do show discretion based on what the paper shows as evidence, for example BatchNorm was included within weeks of it's publish date (in Torch). In terms of rejected methods, we've rejected newly minted papers such as Swish (#3260, #3182), [Yellowfin](https://g

[2019-11-21 17:59] #30204 closed

[2019-11-21 18:01] joaolcaas commented on #15216
On pytorch's AlexNet model for cifar10 data set i just used model.eval() with batch 1 and it worked
`
input_example = th.rand(1, 3, 32, 32)
`
`
model.eval()
`
`
trace_model = th.jit.trace(model, input_example)
`

[2019-11-21 18:33] vdantu commented on #27610
I have published an architecture diagram above in the main description along with the API spec. Please share your views on this.

@nairbv : If the server is behind managed container orchestration service (and a load balancer). In my experience, in managed orchestrations, its easier to have individual cluster of containers host a single model. Then customers can have multiple of these model-server

[2019-11-21 18:46] ngoldbaum commented on #29161
I think I can take this on but don't have the context for why this was deprecated. Is there a suggested alternate API that users should use instead of `Tensor.type()`?

[2019-11-21 18:57] mrshenli commented on #29905
#30093 addressed the missing arg issue and #30243 fixes the backend type repr issue.

[2019-11-21 18:58] wanchaol commented on #17532
This should be supported by our new TensorType now.

[2019-11-21 18:58] #17532 closed

[2019-11-21 19:04] driazati commented on #14471
This is fixed on master

[2019-11-21 19:04] #14471 closed

[2019-11-21 19:08] driazati commented on #15116
While there's still not actual support for this case, you should be able to combine the two by using TorchScript's [recursive compilation API](https://pytorch.org/docs/master/jit.html#migrating-to-pytorch-1-2-recursive-scripting-api) instead of inheriting from `torch.jit.ScriptModule`. That way you can delay the compilation of your module until you actually need it, and save the uncompiled version

[2019-11-21 19:20] mruberry commented on #29973
Yep, that makes sense.

[2019-11-21 19:21] t-vi commented on #29099
As mentioned on slack, the problem seems to be that subclassing really requires that the signature of the superclass is implemented in the subclass (because one would need to allow passing a subclass instance to a function taking a superclass instance and so the type inference for calling the latter's forward must match what happens with subclass's forward, too).
We don't have that and we cannot r

[2019-11-21 19:21] driazati commented on #14255
Closing since this works on master

[2019-11-21 19:21] #14255 closed

[2019-11-21 19:22] SsnL opened #30246 "CUDA mask_select uses way too much memory"
[code]

Titan XP
CUDA: 10.1

Why does it allocate about 4.75x of the indexed tensor, rather than just 1x?

[2019-11-21 19:27] SsnL commented on #30246
2x is due to
https://github.com/pytorch/pytorch/blob/caed485873a750fa698c402e7d64f9b1c386cca9/aten/src/THC/generic/THCTensorMasked.cu#L275-L281

which we can probably remove as the comment references to CUDA 7 which we don't support now.

[2019-11-21 19:27] #27215 closed

[2019-11-21 19:46] zasdfgbnm opened #30248 "Add scripts for comprehensive benchmark TensorIterator"
## 🚀 Feature

Proposed in: https://github.com/pytorch/pytorch/pull/29743

TensorIterator is a performance-critical but complicated. Changing some parts of it might
cause hard-to-realize regression on the other parts. It would be very convenient to have a script that benchmark all the case we could imagine:

**Memory layout**: trivial 1D, (contiguous dim, non-contiguous dims)
**Problem size**: smal

[2019-11-21 19:47] driazati commented on #14944
We now enforce that at least a `forward` method is defined on compile modules so this shouldn't be an error anymore. Feel free to re-open if you have a specific repro that's still a problem.

[2019-11-21 19:47] #14944 closed

[2019-11-21 19:49] driazati commented on #14653
This is fixed on master

[2019-11-21 19:49] #14653 closed

[2019-11-21 20:19] ezyang commented on #29161
It's a long and windy story but basically people should generally use `Tensor.options()` instead of `type()`. Usual use of `Tensor.type()` is to pass it to a factory function, and options in the new mechanism.

[2019-11-21 20:39] cpuhrsch commented on #30238
@vadimkantorov - thanks for creating the issue. I'm flagging this for triage review in case this concept of "is_floating_point" is not current anymore and we're supposed to use something else. Otherwise I think we'd be willing to accept a PR since this appears small to me. Thanks.

[2019-11-21 20:41] raghuramank100 commented on #30125
Can you provide more details? The tutorial was using a part of imagenet for illustration purposes. The script that we actually used to train mobilenet is now open sourced as part of torchvision at:
https://github.com/pytorch/vision/blob/master/references/classification/train_quantization.py

The quantized mobilenet model (trained using this script) is also available as a pretrained quantized model

[2019-11-21 20:43] cpuhrsch commented on #30162
We'd definitely accept a PR for this. I'm assigning myself to this issue to track it.

[2019-11-21 20:45] zhaojuanmao commented on #27368
we can catch exception remotely and send the exception back to users. but if server crashes, we should not expect error message right?

[2019-11-21 20:49] zhaojuanmao commented on #27368
what we can do is to check python function exists or not before executing it and having segment fault. if python function does not exist, we need send error message back to users.

[2019-11-21 20:50] zdevito opened #30256 "Let's support user-defined functions in C++ that have custom autograd behavior"
## 🚀 Feature

Rather than try to invent the "best" API for defining gradients in C++, it is probably easier for people to use an API that looks almost exactly like the Python API, with the same restrictions and behavior. Example:

[code]

## Motivation

We currently do not have a user-exposed way to write gradients from C++. Our internal API has too many corner-cases to expose directly.

cc @suo

[2019-11-21 20:50] VitalyFedyunin commented on #30237
Im not sure we want this kind of copy avoiding optimization is it will be BC-breaking. Plus there are many cases when we do such copy, take ` x.pow(1) ` as example.

[2019-11-21 20:53] cpuhrsch commented on #30236
@sailfish009 - you can look at the [environment variables](https://github.com/pytorch/pytorch/blob/master/cmake/Modules_CUDA_fix/upstream/FindCUDA.cmake#L29) within the FindCUDA module. It should be possible for you to specify a path to the runtime you want to link against without using symlinks. We don't distribute for 10.1 and 10.1/10.2 are likely not ABI compatible, so you'll need to compile fr

[2019-11-21 20:55] cpuhrsch commented on #10324
Unary operations like this are implemented in [UnaryOps.cpp](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/UnaryOps.cpp#L310). But be warned that it's not necessarily easy to implement this, since this lives relatively far within in the core and even more so if you care about numerical stability.

[2019-11-21 20:56] zdevito commented on #30256
Actually seems like @malvika2147 implemented this already: https://github.com/pytorch/pytorch/pull/23020 We should see if we can make it bind into the JIT.

[2019-11-21 21:01] cpuhrsch commented on #30225
Outside of trying to use gdb, or recompiling with some error-catching code in THAllocator.cpp I can't think of many options to catch the errno here.

[2019-11-21 21:04] VitalyFedyunin commented on #10324
We will gladly accept PR which implements this functions (with numerical stability in mind). But we have no plans to work ourself.

[2019-11-21 21:05] vadimkantorov commented on #30237
Then maybe add to docs "For real tensors, conj returns a copy of the original tensor" or sth similar?

[2019-11-21 21:06] #28347 closed

[2019-11-21 21:07] vadimkantorov commented on #30238
There's a very recently added `dtype.is_signed`: https://github.com/pytorch/pytorch/issues/29475

[2019-11-21 21:08] cpuhrsch commented on #30213
Hello @bado-lee - thanks for posting this! Could you create a smaller Python script to reproduce this issue?

Also there are a few things about your code that surprise me.
a) Why do you use "checkpoint" within the forward instead of applying it to the model?
b) Why do you use numpy zeros instead of [torch.zeros](https://pytorch.org/docs/master/torch.html#torch.zeros)?
c) Why do you call 'pass' the

[2019-11-21 21:14] cpuhrsch commented on #30211
Hello @XiaoqiangZhou - I tried reproducing this on my end using the latest nightly but wasn't able to.

PyTorch 1.0.1 is quite old (we have 1.3 now) - is there a reason you don't want to update?  I'm flagging this in any case, but you're using old software effectively.

[2019-11-21 21:18] cpuhrsch commented on #30194
Paging @t-vi who is on the blame for a recent feature added to this. Any plans to support this Thomas?

I'll assign myself to keep track of this.

[2019-11-21 21:22] t-vi commented on #30194
Oh, it's a great feature, but plans... well.

[2019-11-21 21:29] cpuhrsch commented on #30150
Hello @xiaomaAI123 - could you create a minimal code example and use the code formatting option, a paste or attach a file? Once we can reproduce this we can investigate. I'm assigning myself to keep track.

[2019-11-21 21:30] cpuhrsch commented on #30151
Hello @taojake - could you post the code with this model and show the commands you use to time this plus the hardware environment this ran in? Thank you!

[2019-11-21 21:33] cpuhrsch commented on #30147
I'm going to assign myself to keep track of this, but it's unlikely we'll get to around to do this. I'll also let @SsnL comment on this.

[2019-11-21 21:34] yf225 commented on #30158
@421psh Could you elaborate what errors you saw in your C++ code compilation?

[2019-11-21 21:36] cpuhrsch commented on #11931
@t-vi - I'm assigning you to this just because you commented on it earlier, but I'm also assigning myself to keep track of it. Let me know how you think we should do this.

[2019-11-21 21:37] cpuhrsch commented on #30129
Hello @as754770178 - have you considered migrating to a newer version of PyTorch?

[2019-11-21 21:38] SsnL opened #30263 "pairwise_dist eps argument is confusing"
The doc says that `eps` helps preventing division by zero (without mentioning how).  The actual implementation is
https://github.com/pytorch/pytorch/blob/0fdbb762d1a9e6b9c262760b6b67bcb3d0814407/aten/src/ATen/native/Distance.cpp#L15-L17

However, `norm(zero_vector)` is perfectly stable and gives correct gradient. So unless `pairwise_dist` output is used as a denominator, there is no DBZ or any ins

[2019-11-21 21:43] cpuhrsch commented on #30263
I'm also in favor of this. This flag effectively makes the user responsible for numerical stability and it's not consistent. I'll flag it for triage review so we can make a decision.

[2019-11-21 21:44] ezyang commented on #28361
I want to point out another use case of this functionality that surfaced in our conversations with OpenAI. What OpenAI wants to do is insert hooks at a per operator level, so they can inspect the tensors that are flowing through each operation (right now, they are hooking in at the module level, but sometimes there are more fine grained operations they need to hook into).

`__torch_function__` is

[2019-11-21 21:49] cpuhrsch commented on #1591
Since we have a solution I'm using this issue to track work that could be replaced by NestedTensors and therefore am assigning myself.

[2019-11-21 21:51] eellison commented on #30256
I'm pretty sure this already works. It's being used in torchvision: https://github.com/pytorch/vision/blob/f677ea31db8f45dbfec2fe5e519da82853815776/torchvision/csrc/ROIPool.h

[2019-11-21 21:51] ezyang commented on #15352
This now is happening with CudaNonDefaultStream

[2019-11-21 21:51] #15352 closed

[2019-11-21 21:52] #2206 closed

[2019-11-21 22:00] lara-hdr commented on #29724
@alohali this PR enables tests for torchvision ONNX exports. Mobilenet (and quantized mobilenet) is exporting and the mobilenet test is passing https://github.com/pytorch/pytorch/pull/30121/files#diff-92f53f0d2694170082f0ad81bfc05604R196.
You could try exporting like in this test. if it is still failing could you share the code you are using to export the model?

[2019-11-21 22:03] ezyang commented on #27405
@mrshenli Heads up, Hugh Xia is going to take a look at this task

[2019-11-21 22:21] lara-hdr commented on #29724
@alohali my bad, I realized the "quantized" parameter defaults to False. I was able to reproduce the error when I set it to True. I'm looking into it.

[2019-11-21 22:44] soumith commented on #27409
in terms of cmake / rpath, maybe @xuhdev would know.

[2019-11-21 22:44] zhangguanheng66 commented on #27623
@iamlockelightning @stangelid Though we allow `key` and `value` to have different value from `embed_dim`, we still require `key` and `value` to have same size. You should set `kdim` and `vdim` to the same value. Probably, I should have an error check there.

Do you see a case that `key` and `value` have different size?

[2019-11-21 22:47] soumith commented on #4546
@fhamborg @christegho what you both say is pretty strange, I cannot reproduce it, but I am thinking out loud what it could be. Do you by any chance have any previous pytorch installed? Also, can you say what is the output of `print(torch.__config__.show())` and `print(torch.version.cuda)`

[2019-11-21 22:52] xuhdev commented on #27409
Could you try from the latest source? A lot of things have changed since then, and I doubt whether it still exist in the latest version. For the old version, I don't think it hurts to stick to your workaround (i.e., `install_name_tool -add_rpath /usr/local/magma/lib /path/to/libtorch.dylib`).

[2019-11-21 23:02] SsnL commented on #30129
What is the relation between this issue and https://github.com/pytorch/pytorch/issues/30073?

[2019-11-21 23:04] gottbrath commented on #27938
I have a fix for the actual bug. I have created a separate issue for the testing omission and have self assigned that.

[2019-11-21 23:12] vadimkantorov commented on #30263
Is `norm` special-cased to be stable at zero?

[2019-11-21 23:17] vadimkantorov commented on #30147
previously reported seemingly the same issue: https://github.com/pytorch/pytorch/issues/25522

[2019-11-21 23:21] gottbrath commented on #27451
ok .. this is strange. I can still see this error in the stable doc & the master doc on pytorch.org (master says 1.4.0a0+188d0a9) but on my local build this appears fixed.

[2019-11-21 23:23] raghuramank100 commented on #29989
@YanZhiyuan0918 : It looks like you may not have inserted QuantStub() and DeQuantStub() at appropriate locations in your model. This is because the model is quantized, but the input tensor is not.

Also, going forward, please post related questions to pytorch forums.  Closing this issue for now.

[2019-11-21 23:23] #29989 closed

[2019-11-21 23:27] gottbrath commented on #27451
![pt-i27451-master-vs-my-local](https://user-images.githubusercontent.com/45861273/69385207-73b16780-0c73-11ea-8955-d778edbe7464.png)

my local is on the left, master is on the right.

[2019-11-21 23:32] CoderHam commented on #17658
I am facing the same issue with gcc 7.4. I run one model instances per thread in 4 different threads. They return the expected results but when I kill the process after running these inferences that I get this error (A segfault during futex_abstimed_wait_cancelable). The same does not happen when running these models on CPU. (I kill the process using `Ctrl + C`. The trace is below
[code]

[2019-11-21 23:32] sailfish009 commented on #30236
i found that if previous nvrtc version exist(ubuntu apt package c state) and build pytorch source result this bug.
i purged nvrtc 10.1, and rebuild source and tested mnist is ok.

[2019-11-21 23:32] #30236 closed

[2019-11-21 23:35] dreiss commented on #30227
We made a change that requires updating both the Java and C++ sides of the JNI library simultaneously.  It looks like you're using the latest Java jar, so please download the latest libtorch and try again.

cc @xcheng16 and @IvanKobzarev .  This should never affect our internal builds or external release builds, but it can happen to anyone external using snapshot/nightly.  If we need to make a cha

[2019-11-21 23:36] scottcantreid commented on #30049
@eellison My impression is that this is unrelated to #25267 given that I am not using MKL and I only encounter the CPU memory leak when the model is on GPU. Is there anything I can do to help you diagnose/address this issue?

[2019-11-21 23:39] gottbrath commented on #27450
someone fixed this in the meantime.

[2019-11-21 23:39] #27450 closed

[2019-11-21 23:53] suo commented on #21701
It looks like there are comments now

[2019-11-21 23:53] #21701 closed

[2019-11-21 23:59] suo commented on #21776
This should be fixed by the `torch.jit.trace_module()` API. Feel free to reopen if you are still seeing issues.

[2019-11-21 23:59] #21776 closed

[2019-11-21 23:59] suo commented on #21882
Closing this as this is intended behavior.

[2019-11-21 23:59] #21882 closed

[2019-11-22 00:22] #29905 closed

[2019-11-22 00:28] as754770178 commented on #30129
@cpuhrsch It's important I want to know why. otherwise, I can't write the code, because I can't promise the code is right. If you kown, please tell me. Thanks

[2019-11-22 00:28] as754770178 commented on #30129
@cpuhrsch It's important I want to know why. otherwise, I can't write the code, because I can't promise the code is right. If you kown, please tell me. Thanks

[2019-11-22 00:28] as754770178 commented on #30129
@cpuhrsch It's important I want to know why. otherwise, I can't write the code, because I can't promise the code is right. If you kown, please tell me. Thanks

[2019-11-22 00:28] as754770178 commented on #30129
@cpuhrsch It's important I want to know why. otherwise, I can't write the code, because I can't promise the code is right. If you kown, please tell me. Thanks

[2019-11-22 00:28] as754770178 commented on #30129
@cpuhrsch It's important I want to know why. otherwise, I can't write the code, because I can't promise the code is right. If you kown, please tell me. Thanks

[2019-11-22 00:28] as754770178 commented on #30129
@cpuhrsch It's important I want to know why. otherwise, I can't write the code, because I can't promise the code is right. If you kown, please tell me. Thanks

[2019-11-22 00:28] as754770178 commented on #30129
@cpuhrsch It's important I want to know why. otherwise, I can't write the code, because I can't promise the code is right. If you kown, please tell me. Thanks

[2019-11-22 00:28] as754770178 commented on #30129
@cpuhrsch It's important I want to know why. otherwise, I can't write the code, because I can't promise the code is right. If you kown, please tell me. Thanks

[2019-11-22 00:28] as754770178 commented on #30129
@cpuhrsch It's important I want to know why. otherwise, I can't write the code, because I can't promise the code is right. If you kown, please tell me. Thanks

[2019-11-22 00:37] gottbrath commented on #26899
docstrings were missing. Sat with Raghu to work out what to write.

[2019-11-22 00:39] albanD commented on #30129
The answer is both in the issue that is linked by @SsnL  and the forum post.

Also you already posted this code twice in the forum and this is the second issue here with the exact same code.
Please make sure to read the previous answers. If you have follow up question about the answer, ask them where the answer was given.
Thanks

[2019-11-22 00:39] #30129 closed

[2019-11-22 00:42] as754770178 commented on #30129
sorry, I don't know my friend submmit the issue.

[2019-11-22 01:03] gottbrath commented on #27938
![pt-i27938-more-gaps](https://user-images.githubusercontent.com/45861273/69389383-b62d7100-0c80-11ea-87bf-6d3b376eb84a.png)

looks like there are a few more missing: slice, ReLU and ReLU_

[2019-11-22 01:08] gottbrath opened #30283 "rendering issue on QConfig"
![pytorch-quantization-bug-rendering-QConfig](https://user-images.githubusercontent.com/45861273/69389653-82068000-0c81-11ea-9257-cb0f966ff4a3.png)

what is going on with QConfig()

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a

[2019-11-22 01:19] kritiagg commented on #21154
Any updates on this issue?

[2019-11-22 01:26] gottbrath commented on #30283
I have this fixed in my local code.

[2019-11-22 01:35] gottbrath commented on #26305
I have this fixed in my local branch
![pt-i26305-fixed](https://user-images.githubusercontent.com/45861273/69390778-4f5e8680-0c85-11ea-9546-20ea933ecf62.png)

[2019-11-22 01:36] gottbrath commented on #26899
![pt-i26899-fixed](https://user-images.githubusercontent.com/45861273/69390802-6f8e4580-0c85-11ea-97af-9859e8184ec6.png)

[2019-11-22 02:00] gottbrath commented on #27938
![pt-i27938-fixed](https://user-images.githubusercontent.com/45861273/69391820-cd705c80-0c88-11ea-85f3-dfa31ea08337.png)

fixed these last few as well.

[2019-11-22 02:02] gottbrath commented on #30283
![pt-i30283-fixed](https://user-images.githubusercontent.com/45861273/69391906-158f7f00-0c89-11ea-9dc8-649c4adbfcca.png)

[2019-11-22 02:21] xiaomaAI123 commented on #30150
thank you very much! i will give the file at once

------------------&nbsp;Original&nbsp;------------------
From:&nbsp;"cpuhrsch"<notifications@github.com&gt;;
Date:&nbsp;Fri, Nov 22, 2019 05:29 AM
To:&nbsp;"pytorch/pytorch"<pytorch@noreply.github.com&gt;;
Cc:&nbsp;"小马过河"<315222415@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
Subject:&nbsp;Re: [pytorch/pytorch] I have  reconstructed LSTM m

[2019-11-22 02:27] #29990 closed

[2019-11-22 02:28] xiaomaAI123 commented on #30150
thank you gei your attention to my question, and i will give the file&nbsp;

------------------&nbsp;Original&nbsp;------------------
From:&nbsp;"leejh1230"<notifications@github.com&gt;;
Date:&nbsp;Wed, Nov 20, 2019 09:40 PM
To:&nbsp;"pytorch/pytorch"<pytorch@noreply.github.com&gt;;
Cc:&nbsp;"小马过河"<315222415@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
Subject:&nbsp;Re: [pytorch/pytorch] I h

[2019-11-22 02:30] xiaomaAI123 commented on #30150
this is my python file

[2019-11-22 02:34] gottbrath commented on #29735
<img width="1428" alt="pt-i29735-fixed" src="https://user-images.githubusercontent.com/45861273/69393274-93558980-0c8d-11ea-8384-40fa3373d21c.png">

from my local dev instance.

[2019-11-22 02:41] xiaomaAI123 commented on #30150
------------------&nbsp;Original&nbsp;------------------
From:&nbsp;"cpuhrsch"<notifications@github.com&gt;;
Date:&nbsp;Fri, Nov 22, 2019 05:29 AM
To:&nbsp;"pytorch/pytorch"<pytorch@noreply.github.com&gt;;
Cc:&nbsp;"小马过河"<315222415@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
Subject:&nbsp;Re: [pytorch/pytorch] I have  reconstructed LSTM model and tested by mnist data but the loss is not c

[2019-11-22 02:52] rohan-varma opened #30287 "Document RpcBackendOptions data structure"
## 📚 Documentation

Came up in comments for https://github.com/pytorch/pytorch/pull/30208. A class called `RpcBackendOptions` is used to pass in certain arguments (like store init method, timeout) to the RPC backend - we should add docs for this and explain what options can be set.

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528

[2019-11-22 02:54] gottbrath commented on #27451
this was also happening with ConvReLU3d (see image above).

[2019-11-22 02:57] seyong92 commented on #29893
Unfortunately, it still happens with the command "LRU_CACHE_CAPACITY=1 python3 main.py -ds" in my machine.

[2019-11-22 03:19] qjchen1972 opened #30289 "Some error using caffe2.python.onnx.backend in pytorchv1.3"
There was an error converting the pytorch model to caffe2.
some error info:

File "/root/audio/trainer/onnx_proc.py", line 47, in create_caffe2_model
    rep = backend.prepare(model, device="CPU")
  File "/root/anaconda3/lib/python3.7/site-packages/caffe2/python/onnx/backend.py", line 713, in prepare
    init_net, predict_net = cls._onnx_model_to_caffe2_net(model, device, opset_version, False)
  F

[2019-11-22 03:26] tjsongzw commented on #18312
`torch.testing.assert_allclose` works

[2019-11-22 03:54] rohan-varma opened #30290 "Move shutdown implementation details from ProcessGroupAgent to RpcAgent"
## 🚀 Feature
Per @pritamdamania87's comment on https://github.com/pytorch/pytorch/pull/30020, we can have duplicated code in the shutdown implementation of different RPC backends. We should unify this code in RpcAgent's shutdown function, and then each backend can have a `shutdownImpl` for their custom shutdown implementation details.

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @

[2019-11-22 04:25] zhouzq-thu commented on #29993
@neginraoof However, in most situations, the pad tensor is static, we can just reshape and permute it in numpy, not in the graph.

[2019-11-22 04:33] vadimkantorov opened #30291 "[feature request] A way to restore/assign tensor _version"
I'm doing some manual inplace tensor manipulation in custom autograd functions. I have to work with `.data` directly because otherwise version tracking errors out. It would be nice to allow save/restore tensor versions when it's needed. Currently `tensor._version` is not writable. (related https://github.com/pytorch/pytorch/issues/23756, cc @ezyang)

[2019-11-22 05:14] DH-HAN opened #30293 "DCGAN Tutorial Broken Pipe [Errno 32] Broken pipe"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

Environment Windows 10 64 pro
                     RTX 2080 Python3.7.3

This is cod

[2019-11-22 05:16] AtlantixJJ opened #30294 "BatchNorm track_running_stats not working as expected"
## 🐛 Bug

I went through the code of batchnorm.py and found this statement in batchnorm.py:

line 78 in pytorch 1.3.1:

[code]

Maybe this statement should be `self.training and self.track_running_stats` according to the documentation `If track_running_stats is set to False, this layer then does not keep running estimates, and batch statistics are instead used during evaluation time as well.`

F.b

[2019-11-22 05:50] peterjc123 commented on #30293
Please refer to this issue: https://github.com/pytorch/pytorch/issues/25302.

[2019-11-22 05:50] #30293 closed

[2019-11-22 06:35] peterjc123 opened #30296 "Windows debug build failure"
## 🐛 Bug

[code]
More details could be found [here](https://dev.azure.com/pytorch/PyTorch/_build/results?buildId=18306).

## To Reproduce

Steps to reproduce the behavior:

1. `set DEBUG=1`
2. `python tools/build_libtorch.py`

## Expected behavior

Build pass.

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorc

[2019-11-22 06:37] peterjc123 commented on #30296
It seems to be related to https://github.com/pytorch/pytorch/pull/28287. cc @ezyang

[2019-11-22 06:40] SmallsmallRain opened #30297 "RuntimeError: Trying to backward through the graph a second time, but the buffers have already been freed. Specify retain_graph=True when calling backward the first time."
for iteration, (images, targets, _) in enumerate(data_loader, start_iter):

        if any(len(target) < 1 for target in targets):
            logger.error(f"Iteration={iteration + 1} || Image Ids used for training {_} || targets Length={[len(target) for target in targets]}" )
            continue
        data_time = time.time() - end
        iteration = iteration + 1
        arguments["iteration"

[2019-11-22 07:36] ZolotukhinM commented on #30182
In general case it is impossible to figure out source ranges for nodes in the subgraph we're replacing with - they are new nodes and their relation with the matched subgraph is not described anywhere. Thus, if we still want to somehow set source ranges for these nodes, we need to provide some extra knowledge to the compiler.
I can see two possible options for this:
1) Add an optional lambda argume

[2019-11-22 07:52] Jianhui-Li opened #30300 "upgrade MKL-DNN 0.20.1 to DNNL 1.1"
## 🚀 Feature
This RFC is to upgrade MKL-DNN 0.20.1 to DNNL 1.1. DNNL is MKL-DNN's new name.  The major release DNNL 1.0 introduced a number of new features, and DNN 1.1 continues improvement on performance, quality, and usability. Below is an incomplete list, please refer to https://github.com/intel/mkl-dnn/releases for a full description.

    DNNL 1.0 added SGEMM copy-based kernels for Intel SSE

[2019-11-22 07:55] suyashjoshi commented on #6570
Love to try it but I'm on Mac and currently looks like project is for Linux only.

[2019-11-22 08:08] xsacha commented on #30300
Should PyTorch integrate with the OpenCL support from this as well?

[2019-11-22 09:04] josh-gleason opened #30301 "Documentation for torch.svd does not indicate whether or not singular values are returned in descending order"
## 📚 Documentation

Documentation for [torch.svd](https://pytorch.org/docs/stable/torch.html#torch.svd) does not indicate whether or not singular values are returned in descending order. My suspicion is that they are since both LAPACK and MAGMA's ?gesdd return them in descending order. It seems like this should be clarified in the docs to avoid unnecessary sorting, or mistaken assumptions.

[2019-11-22 09:19] xiaomaAI123 commented on #30150
import torch
from torch import nn
from torch.autograd import Variable
import torchvision.datasets as dsets
import torch.utils.data as Data
import torchvision.transforms as transforms
from torch.nn import Parameter
from torch import Tensor
import math
from torch.nn import init
torch.manual_seed(1)

EPOCH =1
BATCH_SIZE = 64
TIME_STEP = 28
INPUT_SIZE = 28
Hidden_size=128
Num_classes=10
Num_layers=1
L

[2019-11-22 09:28] zxgm opened #30302 "convert pth file to onnx model that supports any batch size"
How to convert a pytorch  pth file to an onxx model that supports any batch size,how to set torch.randn function batch_size variables

[2019-11-22 09:34] Andrej-sens commented on #30075
The build failed again.

I configured cmakefile with `tools\build_libtorch.py` and build it in Visual Studio. I tried to build it directly in console but apparantelly every time I run out of memory even I have 16GB. I tried solution described [here](https://github.com/pytorch/pytorch/issues/20296) by setting `MAX_JOBS=1` but it did not help. I believe it can be done setting `/MP[x]` flag but in `b

[2019-11-22 10:07] peterjc123 commented on #30075
Would you please try the nightly build? For the memory issue, limiting the threads won't work because it is the linking process that takes much memory, but it only uses one process/thread. This issue should be resolved recently by splitting the libraries into `libtorch_cpu` and `libtorch`. @ezyang can tell you more about this.

[2019-11-22 10:26] JohnZengAsr commented on #29108
May I known the owner of this issue?

[2019-11-22 12:06] #28288 closed

[2019-11-22 12:10] pietern commented on #28288
@haowu80s Can you give it a try with master? PR #29118 should fix this and was just merged.

[2019-11-22 12:29] pietern commented on #29042
The fix for #28288 landed. Can you check if the clang+cuda build works with master?

[2019-11-22 12:42] speedcell4 opened #30303 "reshape with non-contiguous input has wrong gradient on CUDA (breaking einsum)"
## 🐛 Bug

`einsum`, which takes **incontiguous** tensor as input, can not back-propagate correct gradient

## To Reproduce

[code]

this code will output as below, but as you notice `einsum.jacobian` of `incontiguous input tensor` is different from all the others.

[code]

## Expected behavior

[code]

## Environment

PyTorch version: 1.3.1
Is debug build: No
CUDA used to build PyTorch: 10.1.243

[2019-11-22 12:46] pietern commented on #27843
@zou3519 Do we build documentation for release on a Mac?

[2019-11-22 12:49] pietern commented on #27229
I think the only thing remaining is before we can close this issue is an `__all__` in `__init__.py`.

[2019-11-22 12:58] pietern commented on #25767
@CrazyRundong Can you confirm if this is still an issue with the most recent release?

[2019-11-22 13:00] Badstu commented on #2456
Have you add this function to torch or torchvision or anywhere else? I'm sorry that I can not find docs about PixelUnShuffle.

[2019-11-22 13:04] ezyang commented on #29065
diff was unlanded

[2019-11-22 13:05] SomeUserName1 commented on #16417
`RuntimeError: CUDA out of memory. Tried to allocate 2.00 MiB (GPU 0; 3.95 GiB total capacity; 0 bytes already allocated; 2.02 GiB free; 0 bytes cached)`

Conda packages installed:
[code]

System Info
`Linux nic-nac 5.3.0-12.1-liquorix-amd64 #1 ZEN SMP PREEMPT liquorix 5.3-8ubuntu1~disco (2019-11-20) x86_64 x86_64 x86_64 GNU/Linux
`

nvidia smi
`Fri Nov 22 14:05:14 2019
+--------------------------

[2019-11-22 13:06] greatwallet opened #30304 "Pytorch 1.0.0 compile failure on Ubuntu 16.04 LTS with CUDA 10.1"
## ❓ Pytorch 1.0.0 compile failure on Ubuntu 16.04 LTS with CUDA 10.1

I want to install `pytorch = 1.0.0` to implement a specific baseline on a compute machine with CUDA version of 10.1, However there seems to be no existing binary compatible with this configuration. So I try to compile the source.

### Command before Compilation
[code]
### logs
[code]

### System
* Ubuntu 16.04 LTS
* CUDA 10.1 w

[2019-11-22 13:29] christegho commented on #4546
I ended up resolving the issue by upgrading to CUDA 10.1.

On Thu, Nov 21, 2019 at 10:47 PM Soumith Chintala <notifications@github.com>
wrote:

[2019-11-22 13:52] pietern commented on #24920
After much discussion, we decided not to support this because it invalidates the assumption of isolation. A tensor in shared memory can be modified by both the sender and the receiver. For something like a data loader, there is a well defined policy of a producer and a consumer of the data. For RPC this is not the case. Allowing for shared memory tensors to pass through can cause unintended behavi

[2019-11-22 13:52] #24920 closed

[2019-11-22 14:16] ezyang commented on #29893
OK, looks like a new one. @gujinghui @PenghuiCheng @XiaobingSuper @jianyuh can you please check?

[2019-11-22 14:17] ezyang commented on #30296
Probably not enough CAFFE2_API annotations. I'll take a look today

[2019-11-22 14:17] ezyang commented on #30075
That diff got reverted; you'll have to unrevert it and give it a try

[2019-11-22 14:31] zou3519 commented on #27843
We build locally if the CI isn’t working. It’s easiest to build and test on a Mac than to grab a devserver and build the docs on that due to some other dependency issues.

[2019-11-22 14:39] 421psh commented on #30158
I suppos I managed to solve my problem. There was a conflict between my namespaces in some other files and Libtorch namespaces. That's why there were so many errors like:
[code]

[2019-11-22 14:40] #30158 closed

[2019-11-22 15:12] ezyang opened #30321 "dyld: Library not loaded: /usr/local/opt/openssl/lib/libssl.1.0.0.dylib Referenced from: /usr/local/bin/sccache"
All OS X builds are failing due to this https://app.circleci.com/jobs/github/pytorch/pytorch/3698524

CircleCI ticket: https://support.circleci.com/hc/en-us/requests/63093

[2019-11-22 15:13] ezyang commented on #30321
From CircleCI:

[2019-11-22 15:22] VitaMusic opened #30322 "libtorch windows VS2019 projects pendeling on return"
## 🐛 Bug

I use downloaded from site a stable version 1.3.1 of libtorch in debug and release modes
And I'm testing a simple project on mnist data from pytorch site.

When project is executed and the main have to exit after return 0; it does not happens, neigther debug nor release modes. the program is pendeling and the process have to be killed.

## To Reproduce

cpu only, libtorch debug or releas

[2019-11-22 16:13] VitaMusic commented on #25698
1.
-----------------------------------------
in the current approach there is one not practical thing :
Debug depends from libtorch debug
Release depends from libtorch release

in current configuration we can not generate a vs solution with correct Debug and Release, because if we cmake debug, the release version will reference on debug libtorch
and versa, we cmake release, so debug version will b

[2019-11-22 16:19] VitaMusic commented on #25698
@peterjc123 recompilation of pytorch or libtorch with your scripts for windows does not work for me, could you help me with it ?

[2019-11-22 17:16] phamdat09 commented on #10996
Hello!!!
Anyone can fix it ?
Thanks

[2019-11-22 17:23] tangtang666 opened #30323 "ImportError: cannot import name '_DataLoaderIter'"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.from torch.utils.data.dataloader import _DataLoaderIter

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with

[2019-11-22 17:25] gottbrath commented on #29735
@raghuramank100 -- I chatted with @supriyar  and she suggested that we also need to mention a change in QConfig here with this. Can you help sort that out?

[2019-11-22 17:46] albanD commented on #30263
Yes, we use the subgradient of 0 at 0 for norm since https://github.com/pytorch/pytorch/pull/2775