[2020-11-30 08:32] auroraustc opened #48573 ""RuntimeError: CUDA error: invalid configuration argument" when operating on some GPU tensors"
## 🐛 Bug

[gpu_tensor_cpp.tar.gz](https://github.com/pytorch/pytorch/files/5614336/gpu_tensor_cpp.tar.gz)

When calling some functions like torch::mean() on this gpu tensor, a CUDA runtime error will occur:
[code]
Here is the complete output of gdb backtrace (running with CUDA_LAUNCH_BLOCKING=1):
[code]
The code at `/home/admin/fanyi/Softwares/NN_train/src_O0/struct_DP.h:232` is :
[code]
This firs

[2020-11-30 08:35] NingAnMe commented on #24305
if using the debug version, while you cmake, please use "`cmake --build . --config Debug`" instead of "`cmake --build . --config Release`"

[2020-11-30 09:01] xwang233 commented on #48572
`torch.inverse` for singular matrix is a known issue https://github.com/pytorch/pytorch/issues/46557, and was fixed in https://github.com/pytorch/pytorch/pull/46625. You may use a recent nightly build to get the correct `torch.inverse` behavior.

[2020-11-30 09:06] xwang233 commented on #48573
Thanks for reporting the issue. Can you share the tensor shape used in `torch.mean`?

For GPU reduction issue, cc @zasdfgbnm @ptrblck . User is seeing issue on A100.

[2020-11-30 09:09] wjth07 opened #48574 "Gumbel_softmax issue in hard mode"
https://github.com/pytorch/pytorch/blob/bdf360f9f233211b0f84bfb461700d32f69545f7/torch/nn/functional.py#L1549
is there should be:
ret = (y_hard - y_soft).detach() + y_soft ？

cc @albanD @mruberry

[2020-11-30 09:19] r-t-m opened #48575 "NCCL backend doesn't use MASTER_PORT during reconnect"
We try to leverage distributed training using NCCL backend in kubernetes 1.17 (specifically kubeflow 1.1) with 1 master and multiple workers. During initial setup all is working fine until the error in one of the worker pod happens and kubernetes restarts the failed pod. After restart NCCL(?) doesn't want to honor specified MASTER_PORT and is using random one to reconnect to the master as a result

[2020-11-30 09:24] lezasantaizi opened #48576 "how to avoid the precision loss(float32) caused by the gradient accumulation of Ring Allreduce in the case of ddp"
## ❓ Questions and Help

### how to avoid the precision loss(float32) caused by the gradient accumulation of Ring Allreduce in the case of ddp.

How to avoid the precision loss(float32) caused by the gradient accumulation of Ring Allreduce in the case of ddp

when run model in single gpu twice, the weight is always same;
when run model in ddp twice , the weight is different in grad apply.

I suspe

[2020-11-30 10:16] hlahkar commented on #46988
@mruberry - I have created a test framework https://github.com/pytorch/pytorch/pull/48488. This is WIP; can you kindly check whether the idea is correct. You can also suggest what kind of test cases to be added.

[2020-11-30 10:23] Yasin40 commented on #17911
Hi, i have similar problem and similar error but for ```ivalue_inl.h```, which described [here](https://github.com/ultralytics/yolov5/issues/1554#issue-753020980)

If possible for you, Help me.

[2020-11-30 11:07] fritzo commented on #43837
@fatvlady (sorry for abandoning #43935). I wonder if we could implement a fake version that inputs and outputs fake tensors with zero stride. Would the following be compatible with the jit?

<details>

[code]

</details>

[2020-11-30 11:10] ElsaBroso1 commented on #24807
I have the same error, but I cannot find the file tensor.py. Where is it suppose to be?
![image](https://user-images.githubusercontent.com/75251123/100603120-f77d4580-3304-11eb-98bd-3ab49a83dadb.png)

[2020-11-30 11:18] nailimixaM commented on #48520
cc @fmassa @ezyang

[2020-11-30 11:19] richardk53 commented on #26996
In my case it was a neural network with particle filter inference.
The matrices for which the Magma calls sometimes failed hat a leading Particle (P) and Batch (B) dimension.
For example, certain neural network architectures architectures always failed with B=32 and P=32, but never failed with B=33 and P=32.
But this was neural network architecture dependent (as it leads to a different memory usag

[2020-11-30 12:11] 1187697147 opened #48578 "import torch error!"
When I run 'python setup.py install', it works well for the first time. I think I have installed pytorch successfully, but when I import torch, I get some errors and it suggests me to run the following command:
[code]
 So I just run the command above, but this time I get a new error:
[code]

[2020-11-30 12:12] auroraustc commented on #48573
Thank you for your reply!
The shape of that tensor is
`torch.Size([1287, 575, 3])`

I performed more tests on other systems (with V100 and K80 GPUs) using the same code in the "**To Reproduce**" section, and got the following result:
GPU|Pytorch| CUDA | Result
--- | :---: | :---: | ---
V100 | 1.6.0	| 10.1 | Error
V100 | 1.6.0	| 10.2 | Error
V100 | 1.7.0	| 10.1 | Error
V100 | 1.7.0	| 10.2 | Error
K

[2020-11-30 12:29] aryan461 commented on #30482
So how we shold convert a list integers to a tuple of integers (with unknown length) and it is still sciptable?

[2020-11-30 12:37] Flamefire opened #48579 "test_fs_pool fails"
## 🐛 Bug

When running the test on x86 I get the following failure:

[code]

## To Reproduce

Steps to reproduce the behavior:

1.`PYTORCH_BUILD_VERSION=1.7.0 PYTORCH_BUILD_NUMBER=1 MAX_JOBS=12 BLAS=Eigen USE_FFMPEG=1 BUILD_CUSTOM_PROTOBUF=0 USE_IBVERBS=1 USE_CUDA=1 TORCH_CUDA_ARCH_LIST="3.7;6.1;7.0" USE_METAL=0   /sw/installed/Python/3.7.4-GCCcore-8.3.0/bin/python setup.py build` / install
1. `cd

[2020-11-30 13:01] cheerser commented on #48517
same problem

[2020-11-30 13:25] Rov67777 opened #48580 "Input/output error when using torch.save"
## 🐛 Bug

I get a error of type _OSError: [Errno 5] Input/output error_ using torch.save. This error is not happening systematically but only roughly 1 out of 10 times so it is difficult to reproduce it. Below you can find the error message.

[code]

## Environment
PyTorch version: 1.4.0
Is debug build: False
CUDA used to build PyTorch: 10.1
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.5 LTS

[2020-11-30 13:31] mattip commented on #41661
So far we have theorized that the wrong `libgcc_s.so.1` is being picked up. This could be shown by someone with the problem compiling the test program in the [man page](https://linux.die.net/man/3/pthread_cancel) for `pthread_cancel` and, if it runs correctly, trying to figure out which `libgcc` the test program is using versus which `libgcc` pytorch is using.

Since I cannot reproduce nor help wi

[2020-11-30 13:34] mattip commented on #42952
pr gh-43202 moved the needle on this for linux, but windows still fails the tests there. Apparently it takes a different code path. A more comprehensive test and fix is needed. Unassigning myself, maybe someone else will pick it up.

[2020-11-30 13:50] peterjc123 commented on #48535
[code]

[2020-11-30 14:27] bubas3000 commented on #3223
Oops, the output should be [0,2,4] of course...

[2020-11-30 14:37] malfet commented on #47978
Please note, that the issue can be worked around by either renaming the .whl file or upgrading the pip. Before update:
[code]
Updating:
[code]
After update:
[code]

[2020-11-30 14:46] zou3519 commented on #48417
@YihanWang617 You can use torch.autograd.functional.jacobian to compute the full jacobian: https://pytorch.org/docs/stable/autograd.html.

[2020-11-30 14:50] albanD commented on #48417
Hi,

The problem is that the formulas we define for the backward pass only handle gradients, not batch of gradients (which is effectively what you're trying to do).
So even though modifying the engine to allow this would be simple, it would also require updating all the formulas.

[2020-11-30 14:51] zou3519 commented on #43227
Raising to hi-pri for user activity. I'm not sure what the final behavior should be, if we do a docs fix then we should also try to improve the error message

[2020-11-30 14:54] #48532 closed

[2020-11-30 14:55] albanD commented on #47562
Hi,

I don't think the DDP module supports double backward either. Or at least it is not officially supported and tested for :/

[2020-11-30 14:56] albanD commented on #48531
Hi,

Please avoid double posting you comments...

The create_graph=True leak with backward is documented and expected. And DPP does not support it AFAIK.

[2020-11-30 14:56] #48531 closed

[2020-11-30 14:56] zou3519 commented on #7834
@ngimel we're deprecating torch.Tensor.new() (it's been so long that I forget what the behavior of this function is). torch.Tensor.new_zeros, torch.Tensor.new_empty, ... are different and are here to stay.

[2020-11-30 14:58] kshitij12345 commented on #48578
Are you trying to import from the cloned directory (as that has a directory called `torch` which Python will try to import).

Try importing torch from somewhere else.

[2020-11-30 15:02] 1187697147 commented on #48578
Ok, I think you are right, I will try and thank you for your reply!

[2020-11-30 15:04] rgommers opened #48585 "repr of device is broken"
## 🐛 Bug

The `repr` of device instances is broken - the index for GPUs is missing, as is a closing bracket. A repr is supposed to be able to be `eval`-ed (not that that's a good idea typically, but there's no reason for it not being true here).

## To Reproduce

[code]

## Expected behavior

Repr should be, in the above case, `"device(type='cuda', index=0)"`

## Environment

<details>

[code]

</

[2020-11-30 15:06] kshitij12345 commented on #48541
Looks like it is fixed on master. Probably installing the nightly would fix the issue.

![Screenshot from 2020-11-30 20-34-43](https://user-images.githubusercontent.com/19503980/100626245-96c52b80-334b-11eb-962c-27f2e1ba0633.png)

[2020-11-30 15:13] avitase opened #48587 "[feature request] Give `torch.cholesky` an optional fallback to test whether the tensor is positive definite"
Cholesky decomposition only works for positive definite matrices (AFAIK extensions of the Cholesky algorithms for positive semi-definite do exist also). Ironically, a very fast way to test whether a matrix is positive definite is to try a Cholesky decomposition. This is actual much more efficient than the more naive approach of checking the sign of all eigenvalues. Unfortunately, catching the `Run

[2020-11-30 15:17] ejguan commented on #48528
Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)

You can get the script and run it with:
[code]

[2020-11-30 15:19] albanD commented on #48398
This formula has not been updated to work with complex Tensors yet.
We would be happy to accept a PR that does that.
You can do something similar to this PR https://github.com/pytorch/pytorch/pull/47566 to enable the test and if it fails, update the formula in derivatives.yaml accordingly.

[2020-11-30 15:19] UlrichFreitag opened #48588 "PyTorch cannot be linked (libtorch_cuda.so) at the last step of compilation with CUDA 11.1 with PyTorch/builder"
## 🐛 Bug

I can't build PyTorch for CUDA 11.1 and cuDNN 8.0.5 using https://github.com/pytorch/builder

## To Reproduce

To be able to compile PyTorch, I have created a small script that uses the functionnality of PyTorch Builder:

`build_pytorch.sh`
[code]

`entrypoint.sh`
[code]

This script is quite useful since it allows me to test patch (like Large Model Support) with little change, and build

[2020-11-30 15:28] Parskatt commented on #45124
Some followup. Im now just using EinOps's rearrange instead (https://github.com/arogozhnikov/einops)

The rearrange does what I requested here and much more. I'll close with that.

[2020-11-30 15:28] #45124 closed

[2020-11-30 15:38] byronyi commented on #48588
Try `export TORCH_CUDA_ARCH_LIST="8.6"`.

[2020-11-30 15:44] xcodz-dot commented on #48528
Thanks for your help :) but I have switched to tensorflow and started a book with it, book is taking up money so i will be with tensorflow.

[2020-11-30 15:44] #48528 closed

[2020-11-30 15:44] chrisby commented on #44378
Yeah, this is exactly how `scipy` is doing it:

[code]

[2020-11-30 15:48] senderle commented on #47702
I think some of the replies here suggesting that this shouldn't be a priority are pretty myopic. The M1 is not specially hardware, like a ML-capable GPU. It is standard, everyday, consumer-grade hardware.

It's going to be **everywhere**.

Any ML framework that doesn't support it is guaranteed to fall behind in usage compared to those that do.

[2020-11-30 15:49] H4dr1en commented on #2829
Landed here because of https://github.com/pytorch/ignite/issues/462

I ended up patching ReduceLROnPlateau as follows:

[code]

[2020-11-30 15:57] Flamefire opened #48591 "Test failure in test_memory_format_operators and faulty test"
## 🐛 Bug

I'm getting test failures in test_memory_format_operators_cpu:

[code]

I believe there is also a bug here: Some functions modify the x tensor, e.g. `x.logit_()`, so the next tests are affected. This is potentially problematic as that operations introduces quite a number of NaN values.

## To Reproduce

Steps to reproduce the behavior:

Either run `python test_torch.py TestTorchDeviceTyp

[2020-11-30 16:27] fatvlady commented on #43837
@fritzo I think that the latter solution, despite of being somehow workaroundish, works with tracing and is definitely easier than fixing all the occurrences of `broadcast_tensors` (especially CUDA op fuser - something I would rather not to touch with my current codebase knowledge).

[2020-11-30 16:32] huwei1024 commented on #48535
@peterjc123

then got this:
When you specify `CMAKE_GENERATOR_TOOLSET_VERSION`, you must also activate the vs environment of this version. Please read the notes in the build steps carefully

build_windows.bat:

set USE_NINJA=OFF
set CMAKE_GENERATOR=Visual Studio 16 2019
set CMAKE_GENERATOR_TOOLSET_VERSION=14.27
set DISTUTILS_USE_SDK=1
set USE_DISTRIBUTED=OFF
set USE_CUDA=ON

[2020-11-30 16:38] jerryzh168 commented on #48514
I see, I think there is a bug here https://github.com/pytorch/pytorch/blob/master/torch/nn/intrinsic/qat/modules/conv_fused.py#L97, we'll need to make bias a parameter as well, thanks for reporting.

[2020-11-30 17:33] huiguoo commented on #48053
I'll make a try at `torch.frac`.

[2020-11-30 17:35] romanpogodin commented on #45125
Sorry for a late reply. @seberg is correct -- the issue occurs for arrays of size one and it is not fixed.

[2020-11-30 17:36] brianjo commented on #44533
Thanks for this report. I'll look into getting it fixed.

[2020-11-30 17:41] Flamefire commented on #48591
I debugged the issue a bit and the problem is, that `min(x, y)` is not really defined when either argument is NaN. I found that GCC 6.3 uses simple comparisons, while GCC 7+ uses intrinsics on POWER. The difference can be seen at https://godbolt.org/z/cbq71c

This yields a hardware instruction for `min(x,y)` which given NaNs doesn't consistently return NaN or the finite value. Maybe with an effect

[2020-11-30 17:51] ngimel commented on #26996
@richardk53 if you have pytorch 1.7 or source build, can you try your workload with PYTORCH_NO_CUDA_MEMORY_CACHING=1 and report failing sizes? This should disable caching allocator and make magma failures more frequent and predictable. Thank you!

[2020-11-30 17:52] gchanan commented on #48281
yes, I was just checking if we needed to emergency fix for 1.7.1.

[2020-11-30 17:55] ezyang commented on #27878
A nicer API would be:

[code]

now uses the context. It would be implemented via some sort of `Model(..., torch_txt=torch_txt)` API, as you mentioned below.  Though I'm not sure if other people would like the API.

[2020-11-30 18:02] SsnL opened #48595 "[FR] add huber option for smooth_l1_loss"
## 🚀 Feature

`SmoothL1Loss` is different from huber for just a `beta` scaling. It doesn't hurt to add an option that supports it!

cc @albanD @mruberry

[2020-11-30 18:03] ngimel commented on #47637
duplicate of #43227

[2020-11-30 18:03] #47637 closed

[2020-11-30 18:08] gchanan commented on #48353
The error message is to avoid subtraction or negation on boolean data types, so type promoting out of bool should be fine.

Also, the error message is bad in this case because it leaks an implementation detail and gives a worse error message:

[code]

[2020-11-30 18:11] ejguan commented on #48548
Thanks for reporting this issue, @HeyangQin
We would accept a PR fixing this.
It seems related to the doc for C++ frontend. Can you look at this issue? @glaringlee

[2020-11-30 18:11] gchanan commented on #48574
I don't think it matters -- y_hard will not have a gradient, so the subtraction shouldn't have a gradient either.

[2020-11-30 18:13] gchanan commented on #48556
See https://github.com/pytorch/pytorch/issues/47750.

[2020-11-30 18:13] #48556 closed

[2020-11-30 18:16] ngimel commented on #48587
There's a proposal to do that https://github.com/pytorch/pytorch/issues/47608#issuecomment-725721306

[2020-11-30 18:18] rgommers commented on #41661
I don't think it is actually. A test with the exact `conda` env in https://github.com/pytorch/pytorch/issues/41661#issuecomment-671098810, which has a `pip`-installed pytorch 1.6.0 shows `libgcc_s.so.1 => /usr/lib/libgcc_s.so.1` - and running the 1.6.0 test suite against this `pip`-installed pytorch works just fine.

Yep, me neither. If anyone who encounters this issue could put together a reprodu

[2020-11-30 18:19] agolynski commented on #48049
@mcarilli

[2020-11-30 18:21] ezyang commented on #48214
@sbb-gh That is a very interesting question. I don't know if there is a way to do what you are requesting without some sort of new operator or fusion. Would you agree that it is not related to this issue, though, because you need the multiplication as well (which is not standard scatter add?) In that case, I'd suggest filing a new issue for it.

[2020-11-30 18:27] ngimel commented on #48541
Fixed in #46320

[2020-11-30 18:27] #48541 closed

[2020-11-30 18:27] agolynski commented on #48010
We might want to relax requirement for correctness in such cases.

[2020-11-30 18:27] ezyang commented on #48010
and just fyi,

[code]

[2020-11-30 18:30] neonbjb commented on #24005
I'd love to hear of any progress too. This bug pretty much kills multi-GPU processing for me with `number_gpus` < 3. This is because gradient_checkpointing backwards passes are significantly more performant than non checkpointing passes on consumer GPUs. As a result I get numbers like this:

Baseline, no gradient_checkpointing: 1.0it/s
1 GPU, gradient_checkpointing: 1.6s/it
2 GPU, no gradient_chec

[2020-11-30 18:35] gchanan commented on #43227
@LysSanzMoreta IMO that's a bug in the downstream library -- PyTorch's philosophy is that we try to avoid silent synchronizations not that we require all data to be on the same device.

[2020-11-30 18:35] spandantiwari commented on #36899
@imalsogreg  - were you able to repro this issue on Ubuntu?

[2020-11-30 18:36] ngimel commented on #48547
Fixed in https://github.com/pytorch/pytorch/pull/45684

[2020-11-30 18:40] eellison commented on #30482
If you know the length of the list, you can convert it to a tuple by explicitly creating a tuple `(li[0], li[1], ...)`. If you don't know, I would try to rewrite your code to a list of integers instead of a tuple of integers with unknown length.

[2020-11-30 18:51] gchanan commented on #48585
confirmed on master.

[2020-11-30 18:52] gchanan commented on #48585
also a regression from 1.7.0.

[2020-11-30 19:21] #48304 closed

[2020-11-30 19:24] eellison opened #48605 "[NNC] Bugs Exposed in Binary/Ternary Op / Dtype Testing"
## 🐛 Bug

@ZolotukhinM  found the following bugs in https://github.com/pytorch/pytorch/pull/48282 (and some others that have already been fixed.

- [] lshift segfaults on cpu when tensors are int8
- [] comparison-ops produce incorrect results with dtype=uint8 and negative scalar
- [] cuda compilation fails with dtype=float16 for pow
- [] shift ops don't support dtypes correctly (@ZolotukhinM said

[2020-11-30 19:28] #48087 closed

[2020-11-30 19:31] eellison commented on #48053
@huiguoo, looks like @penguinwu fixed `torch.frac` as well (thanks!!) Sorry about that. I just opened https://github.com/pytorch/pytorch/issues/48605 which should also be a good bootcamp issue to work on. Feel free to ping me internally with any questions (same goes to @penguinwu)

[2020-11-30 19:32] jaglinux commented on #48110
I think adding tensor parameter to barrier is taxing for user since its not user intention to call all_reduce inside barrier.
Instead of that, adding new parameter "device" is meaningful where device is the preferred GPU to be used for a particular rank.
def barrier(group=group.WORLD,async_op=False, device=None)
The below functions also needs to be changed to accommodate GPU preference.
def init_p

[2020-11-30 19:36] #48198 closed

[2020-11-30 19:39] huiguoo commented on #48053
Sounds good, thanks @eellison !

[2020-11-30 19:41] gchanan commented on #48585
I can't reproduce it in a local build but the nightlies do show the problem.

[2020-11-30 19:53] ngimel commented on #48533
Repro without requires_grad(note returning 2 tensors from the function):
[code]

[2020-11-30 19:59] osalpekar commented on #44205
Closed by https://github.com/pytorch/pytorch/pull/46045

[2020-11-30 19:59] #44205 closed

[2020-11-30 20:17] ejguan commented on #48545
BTW, should we mention supported python version in https://pytorch.org/get-started/locally/

[2020-11-30 20:19] zasdfgbnm commented on #47493
fixed

[2020-11-30 20:19] #47493 closed

[2020-11-30 20:21] eellison commented on #43942
Code pointers: the  type unification for emitting ternary ops should be more similar to how we unify  output types when emitting if nodes

[2020-11-30 20:23] ejguan commented on #48555
Setting high priority because it is a crash

[2020-11-30 20:29] toshi2k2 commented on #47702
@ShawonAshraf What are you even talking about? Did you understand that I am talking _for_ open source frameworks?

[2020-11-30 20:31] eellison commented on #43942
For a first-step fix to this, I would try to fix:
[code]

[2020-11-30 20:32] penguinwu commented on #48053
Yes, I am working on the fix for both abs and frac, will submit the PR soon.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Hui Guo <notifications@github.com>
Sent: Monday, November 30, 2020 2:39:40 PM
To: pytorch/pytorch <pytorch@noreply.github.com>
Cc: Peng Wu <pengwu@fb.com>; Mention <mention@noreply.github.com>
Subject: Re: [pytorch/pytorch] [NNC] Fix IR Eva

[2020-11-30 20:54] LysSanzMoreta commented on #43227
@gchanan Ok, thanks!, we found a work around

[2020-11-30 20:57] albanD commented on #48439
I can repro on cuda. But the code runs just fine on CPU.

[2020-11-30 21:10] ejguan commented on #48578
Hi @1187697147
Can you close the Issue if it's solved?

[2020-11-30 21:23] ejguan commented on #48588
CUDA11.1 may not be supported due to internal error (https://github.com/pytorch/pytorch/issues/47820#issuecomment-725906418)
#47820 and #47109

[2020-11-30 21:34] ejguan commented on #48579
Can not reproduce on MacOS or Linux x86.

[2020-11-30 21:42] albanD commented on #48439
Simpler repro that does not involve checkpointing:
[code]

This looks wrong as the input/weight should not be modified inplace: https://github.com/pytorch/pytorch/blob/b5149513ec02fa7d9711f6f79f759654f5d3a840/aten/src/ATen/native/cudnn/Conv.cpp#L977

[2020-11-30 21:47] ejguan commented on #48591
Even if I can not reproduce the test failure, I think the tests should to be fixed. All in-place operators will modify `x`, which is not our expectation. (`x_c` won't change the memory of `x`, since `x` is not in `contiguous_format`)

[2020-11-30 21:48] rgommers commented on #27878
Python modules are singletons, so it's a little unclear what `model = torch_ctx.wrap(model)` should be doing. The `wrap()` can't just tack some context onto the existing `model` (that would leak to other users of `model`), therefore `model` needs to be a new namespace-like object with `Model` also being a new generated version of the original `Model`.

I guess that's the yak that needed shaving, a

[2020-11-30 21:55] seemethere opened #48617 "CPP Extension building with windows fails for Python 3.9"
## 🐛 Bug

Building CPP extensions for windows with Python 3.9 is failing since `_nt_quote_args` was removed from `distutils.spawn` as part of this commit: https://github.com/python/cpython/pull/18743

## To Reproduce

Steps to reproduce the behavior:

1. Try and build `torchvision` on windows with Python 3.9 installed, ([CircleCI logs for reference](https://app.circleci.com/pipelines/github/pytorc

[2020-11-30 21:58] janeyx99 commented on #48588
Ah, try cutting down on some of the supported architectures to alleviate this as @byronyi suggested.

This is a problem because the binary for CUDA 11.1 gets large and the relocation markers are only 32 bits. Relocation markers, to my limited understanding, marks offsets to other linked libraries. Since the binary got bigger, the gaps between stuff got bigger as well. Thus, when the marker needs t

[2020-11-30 22:01] spandantiwari commented on #7870
cc: @shubhambhokare1

[2020-11-30 22:11] Looottch opened #48619 "Error For C++ CUDA Extension Build"
cuda extension for pytorch1.6
when #include <THC/THCAtomics.cuh> in .h file and build through setup then it will have following errors
/usr/local/lib/python3.6/dist-packages/torch/include/THC/THCAtomics.cuh: In member function 'void AtomicAddIntegerImpl<T, 1>::operator()(T*, T)':                                                                                               /usr/local/lib/python3.6/

[2020-11-30 22:24] #47754 closed

[2020-11-30 22:25] navahgar commented on #48533
Thanks for the repro steps. Looking into this.

[2020-11-30 22:26] SsnL opened #48621 "[FR] loss reduction argument accepts None"
## 🚀 Feature
Currently it accepts string `'none'`.... why not also accept None? :)

[2020-11-30 22:59] osalpekar commented on #48575
@r-t-m I don't think simply restarting the failed pod would be sufficient - this might require you to bring down the NCCL ProcessGroup that was created earlier and re-rendezvous to create a new ProcessGroup once all the nodes are back up (ProcessGroups assume the worker gang is static so nodes cannot simply leave/re-enter). Torchelastic can help with this process of bringing down the ProcessGroup

[2020-11-30 23:03] #48578 closed

[2020-11-30 23:14] osalpekar commented on #48576
@lezasantaizi Are you using NCCL or Gloo as the communication backend for DDP? Also just to confirm, everything else is held constant across the runs (model weights initialization, ordering/shuffling on the data, etc.)?

I believe there is some non-determinism introduced by NCCL since it computes the best way of performing allreduce each time, and so the exact configuration such as the number of r

[2020-11-30 23:15] gchanan commented on #48574
Going to close, if you disagree with the assessment please re-open.

[2020-11-30 23:15] #48574 closed

[2020-11-30 23:28] mahclark opened #48626 "Missing super().__init__() call in nn.Module"
I think I found a quirk with Python that `__init__` of `nn.Module` doesn't account for.
https://github.com/pytorch/pytorch/blob/d386d3323f055397b10cd1c66a8677d9038aa783/torch/nn/modules/module.py#L223

Consider the following:
[code]
The output is:
[code]
However, if we uncomment `super().__init__()` in `Module`, the output is:
[code]
See [this stack overflow answer](https://stackoverflow.com/a/301

[2020-11-30 23:37] gchanan commented on #48439
CC @VitalyFedyunin

this seems to not match the documentation, which suggests `resize` on the same shape should be a no-op.

[2020-11-30 23:58] mcarilli commented on #44206
Jie's corresponding diffs for bilinear:  https://github.com/pytorch/pytorch/pull/21879

[2020-12-01 00:01] mcarilli commented on #37730
Can you check if https://github.com/pytorch/pytorch/pull/40221's diffs resolve the issue?

[2020-12-01 00:03] ShawonAshraf commented on #47702
What I understand here is that this kind of perspective is the reason behind frameworks getting handed over to a few vendors. :)

Also, you don't have to care about any product since this isn't a consumer forum asking for reviews of a gadget.

Speaking of walled garden, I'm very intrigued to see which part of CUDA is open source. Afaik, MLCompute, which Apple used to build their private fork of Te

[2020-12-01 00:04] mcarilli commented on #47183
Closing as duplicate of https://github.com/pytorch/pytorch/issues/37730.

The PR with the fix (https://github.com/pytorch/pytorch/pull/40221) looks fine to merge but needs a test.

[2020-12-01 00:04] #47183 closed

[2020-12-01 00:04] rgommers opened #48628 "Add docs on PyTorch - NumPy interaction"
Mixing PyTorch and NumPy is quite common and there are a lot of subtleties involved (see for example gh-7610), but there is no documentation on this at all right now. I think this belongs as a separate section in the API docs.

_Outline:_

Converting tensors into ndarrays, and vice versa. Should cover:
- Constructor functions (`tensor`, `as_tensor`, `asarray`)
- `Tensor.numpy()`
- The purpose of `

[2020-12-01 00:21] toshi2k2 commented on #47702
@ShawonAshraf AFAIK, you don't seem to understand anything. Nobody said anything about CUDA being open source at all. Which part of the conversation you got that from? I AM talking about official OpenCL and/or HIP support and why we need it - read the conversation again. Read.

[2020-12-01 00:23] matdodgson commented on #47702
The conversation is getting a bit heated. Toshi2k2 is taking the Richard Stallman perspective which is valid. Unfortunately the GPU industry is non free and there's not much you can do about it. If you want to do AI you're stuck with it.

I for one have a new Apple M1 device and would like to see pytorch support for it.

[2020-12-01 00:25] JunkyByte commented on #13918
Is this going to be fixed? I enjoy the 200x speedup I just got but I don't understand why I should spend 2 hours debugging a similar issue? List to tensor seems a reasonable conversion to me. While the workaround is convenient it is still a bug right? Thanks!

[2020-12-01 01:17] mariosasko commented on #48626
Could you please elaborate why do you need multiple inheritance?

In PyTorch, modularity (while defining layers) is achieved by subclassing `nn.Module` (single inheritance). Before initializing layers/parameters, it's required to call `super().__init__()` so they get registered properly afterwards.

If you need multiple inheritance e.g. mixin classes with layers, put `nn.Module` last when specifyi

[2020-12-01 01:24] ShawonAshraf commented on #47702
Also, this childish "Apple bad" mentality isn't going to help anybody. As someone mentioned above,  you have to support commodity hardware. Be it open source or anything else.

[2020-12-01 01:27] mariosasko opened #48634 "[docs] ScriptModule docs are not properly generated"
## 📚 Documentation

Link to ScriptModule on [jit's doc page](https://pytorch.org/docs/stable/jit.html):
![img1](https://user-images.githubusercontent.com/47462742/100685028-cee46280-337b-11eb-842f-f92e822afe77.PNG)

ScriptModule's doc page:
![img2](https://user-images.githubusercontent.com/47462742/100685043-d60b7080-337b-11eb-8623-20bdb29747d5.PNG)

There is a typo as well, `wrap a` (I assume the

[2020-12-01 01:28] ShawonAshraf commented on #47702
Richard Stallman's perspective works great on paper. In practice, people need to get work done and what gets work done on majority of GPUs isn't open source. I'm not against the open source ideology but sometimes, people need to understand that just because they don't eat ice cream on Monday mornings, other people should do the same as well.

[2020-12-01 01:29] ShawonAshraf commented on #47702
I think I've already mentioned what problems AMD has faced down that line. READ. Brrrr.

[2020-12-01 01:39] ShawonAshraf commented on #47702
Please read again what I wrote. :) I don't know why you're acting like a angry redditor with brand bias.

I for one would love to see ROCm succeed but at it's current state, it's barely usable for most use cases. And there are a lot of people out there to whom getting the job done matters more than having a fully open source compliant setup and open source ethics. And, that's where ROCm and their

[2020-12-01 01:40] WilliamTambellini commented on #21683
Now 151 likes but no sign of step forward. I dont know how the pytorch project works but is a minimum of reply from the project maintainers to be expected ?

[2020-12-01 01:43] mahclark commented on #48626
Thank you this solves my problem. I have been using multiple inheritance to avoid code duplication in the constructor of different subclasses of `nn.Module`.

Yes, I've been using `class B(A, nn.Module):` until now. And thank you for making the obvious point that I could make `A` inherit `nn.Module`!

[2020-12-01 01:48] jamesr66a opened #48635 "[JIT] TorchScript doesn't support del with multiple operands"
[code]

[code]

cc @gmagogsfm

[2020-12-01 02:24] mszhanyi commented on #48475
@osalpekar , thank your reply. I'll try to improve it.

[2020-12-01 02:27] linjiapro opened #48636 "[libtorch] CUDA error: an illegal memory access was encountered"
## 🐛 Bug

I encountered the following sporadic crash while doing ResNet training using libtorch:

terminate called after throwing an instance of 'c10::Error'
  what():  CUDA error: an illegal memory access was encountered
Exception raised from launch_vectorized_kernel at /pytorch/aten/src/ATen/native/cuda/CUDALoops.cuh:119 (most recent call first):
frame #0: c10::Error::Error(c10::SourceLocation,

[2020-12-01 02:32] mszhanyi commented on #48535
@huwei1024 please refer
MSVC++ 14.27 _MSC_VER == 1927 (Visual Studio 2019 Version 16.7 (https://en.wikipedia.org/wiki/Microsoft_Visual_C%2B%2B)
and install the proper version in https://docs.microsoft.com/en-us/visualstudio/releases/2019/history.

[2020-12-01 02:33] gunandrose4u commented on #48535
@huwei1024 , you need activate your vs env as follow,

set CMAKE_GENERATOR=Visual Studio 16 2019
set CMAKE_GENERATOR_TOOLSET_VERSION=14.27
set DISTUTILS_USE_SDK=1
for /f "usebackq tokens=*" %i in (`"%ProgramFiles(x86)%\Microsoft Visual Studio\Installer\vswhere.exe" -version [16^,17^) -products * -latest -property installationPath`) do call "%i\VC\Auxiliary\Build\vcvarsall.bat" x64 -vcvars_ver=%CMA

[2020-12-01 02:39] linjiapro commented on #48636
Another crash stack which is the similar to the one I pasted above:

terminate called after throwing an instance of 'c10::Error'
  what():  CUDA error: an illegal memory access was encountered
Exception raised from launch_vectorized_kernel at /pytorch/aten/src/ATen/native/cuda/CUDALoops.cuh:119 (most recent call first):
frame #0: c10::Error::Error(c10::SourceLocation, std::__cxx11::basic_string<ch

[2020-12-01 03:18] jinfagang commented on #47750
@gchanan Hi, what's your suggestions on this error?

[2020-12-01 03:27] #48514 closed

[2020-12-01 03:36] lezasantaizi commented on #48576
@osalpekar ,Thanks for your reply!
My confusion are the same as [yanz0920](https://discuss.pytorch.org/t/does-ddp-make-computations-non-deterministic/100641)
,but how to fix the rings ? it looks like the questioner is solved the problem.
![image](https://user-images.githubusercontent.com/7878465/100694061-2f4dc100-33c9-11eb-83ed-3396f2720d45.png)

[2020-12-01 03:39] vikigenius commented on #44530
@fritzo Is there something still blocking the issue? I just came back after a short break and I see that it hasn't been fixed yet. Is there anything I can do to help?

[2020-12-01 04:56] V3RGANz opened #48640 "torch.nn.Module.named_parameters has wrong type annotation"
## 🐛 Bug

`named_parameters(prefix: str = '', recurse: bool = True) -> Iterator[Tuple[str, torch.Tensor]]` has `torch.Tensor` in return type, but seems that it always narrower type - `nn.Parameter` (as in `torch.nn.Module.parameters` signature)

## Environment

pytorch 1.7

cc @albanD @mruberry @ezyang @malfet @rgommers @xuzhao9 @gramster

[2020-12-01 05:45] gmagogsfm commented on #43021
I think we went through this issue before and it is assigned. Moving this to pending.

[2020-12-01 06:27] kshitij12345 opened #48641 "[bug] `torch.sinh`: Incorrect values for vectorized path"
[code]

[2020-12-01 06:30] kshitij12345 commented on #48641
Cause of issue looks to be from `Sleef`,

[code]

**Output**
[code]

[2020-12-01 06:39] lxuechen opened #48642 "`torch.Tensor.index_put_` mismatch between implementation and stub"
## 🐛 Bug

While the documentation of `torch.Tensor.index_put_` states that the second argument is named `value`, a deeper delve into the usage shows the name is actually `values` with the extra s at the end.

This affects the usage when the argument is treated as a keyword argument, and also affects the static analysis of IDEs, producing an intriguing warning at first sight.

## To Reproduce
[code

[2020-12-01 06:55] pmeier opened #48643 "Torchscript does not work with type: ignore comments for mypy"
## 🚀 Feature

torchscript should work with [`type: ignore` comments](https://mypy.readthedocs.io/en/stable/common_issues.html#spurious-errors-and-locally-silencing-the-checker) from `mypy`.

## Motivation

In `torchvision` we are beginning to type check our annotations with `mypy`. Since torchscript as of now only supports a subset of the annotations, we need to silence `mypy` on some lines. This

[2020-12-01 07:17] kshitij12345 commented on #48641
Similar case for `torch.cosh`

[code]

[2020-12-01 08:20] hal-314 opened #48645 "Can sublist a nn.Sequential subclass"
## 🐛 Bug

Subclassing nn.Sequential prevents to access children modules as `seq[1:4]`. I use it to encapsulate several layers in one predefined class and have that new when printing the whole model instead of a Sequential. As a workaround, I could define a function that returns a regular nn.Sequential.

## To Reproduce

[code]

I tried to use OrderedDict and add_module without success. It gives me

[2020-12-01 08:37] gmagogsfm commented on #48307
This is a bit difficult given that we currently implemented enum as its own first-class type to sidestep difficulty of its special recursive type. One work around is to use a free function instead. It wouldn't have the bonus of strong association with the Enum type, but should not have any functional flaw.

One thing that we can improve about the situation though is to give a more actionable error

[2020-12-01 09:09] Flamefire commented on #48591
Seemingly this depends on register allocation and which operations are used. I.e. `clamp(x,l,h) = max(l, min(x,h))` and the compiler may choose different hardware instructions for this min/max. And those have different behavior related to NaN especially differing for signaling and quite NaN and which operand is first/last. See e.g. https://ibm.ent.box.com/s/1hzcwkwf8rbju5h9iyf44wm94amnlcrv p. 578/

[2020-12-01 09:13] vadimkantorov commented on #37718
Currently ModuleDict error is not very clear (I think it should error out clearly with "forward not supported"):
[code]

https://discuss.pytorch.org/t/mix-of-nn-sequential-and-nn-moduledict/104724

[2020-12-01 09:35] godblessY opened #48646 "torch v1.2.0. save to onnx model, torch.onnx.export save nothing"
https://github.com/pytorch/pytorch/blob/ccd20e995fb56a1aafefd90c0f2c68c537534c67/torch/onnx/utils.py#L341

## for large models, if need to sleep a while to for export onnx model to write?

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2020-12-01 09:49] gmagogsfm commented on #48294
Doesn't seem like this issue needs any triage from JIT side. Removing from JIT triage queue.

[2020-12-01 10:17] UlrichFreitag commented on #48588
@byronyi @janeyx99 Even in doing so just before calling `manywheel/build.sh` in my script, I still have the same error:

[code]

[2020-12-01 10:21] jensam commented on #48575
It seems the worker pod failing was a symptom of the way we were configuring the pre-trained model ‘Roberta’ we are fine-tuning. This was causing the worker to fail, it seems. After fixing the Roberta configuration we are not seeing the same NCCL connection problems.

[2020-12-01 10:40] schwobr commented on #23430
Looking at the solution it looks pretty good to me. Is there any plan to add something similar to pytorch ? I can just copy catalyst solution in the meantime but I feel like it should be natively possible to use custom samplers with ddp in pytorch.

[2020-12-01 10:44] frgfm commented on #48643
@pmeier should we ignore the modules that have mypy `type: ignore` then?

[2020-12-01 10:51] pmeier commented on #48643
We should fix torchscript to able to handle these comments. If I'm not wrong, they simply need to be discarded.

[2020-12-01 11:01] JTaets commented on #18125
Is there still a plan to implement the rsample for mixture models (https://arxiv.org/abs/1607.05690)?
Tensorflow has it implemented and I think it could be usefull.(https://github.com/tensorflow/probability/blob/9415ba638bd3b372512241c54d254eb076c566df/tensorflow_probability/python/distributions/mixture_same_family.py#L433)

[2020-12-01 11:02] frgfm commented on #48643
@pmeier my bad, I thought you opened the issue in the torchvision repo!
Happy to help but I would need some guidance as I haven't worked on JIT so far

[2020-12-01 11:06] caniko commented on #25639
Thank you @jkyl; however, I am still curious about what is going on with this issue.

The high priority label being dropped without any message by the individual @zou3519. Please comment on issues while changing states, otherwise it is a bad practice. Is the issue solved? Why isn't it a high priority anymore?

[2020-12-01 11:11] idigitopia opened #48648 "Confused on project website pointer."
## 📚 Documentation
When you subscribe to the PyTorch newsletter at the end there is an option to take you to the project website. This currently points to [TorchML](https://twitter.com/TorchML). Which seemed a bit odd to me as I was hoping to be pointed to [pyTorch](https://twitter.com/PyTorch )

Is there a specific reason why this is so?

[2020-12-01 11:22] Red-Eyed commented on #47750
@jinfagang so he already wrote a suggestion:

[2020-12-01 11:37] mariosasko commented on #48645
As pointed out in the traceback, this line is the problem:
[code]

`self.__class__` turns into class `A` and `A` doesn't have an init that accepts 2 arguments (`self` and one more for `OrderedDict`, in this case), causing a failure.

This would work if instead of:
[code]
we had:
[code]

The latter was the original behavior, but this was changed by #11694. IMO, this PR should be reverted.

[2020-12-01 11:46] pmeier commented on #48643
@frgfm Lets wait for the "pros" to asses the situation first. I've never worked on `torch.jit` so far and thus I can't comment if this is viable / doable / ...

[2020-12-01 11:59] vadimkantorov opened #48649 "[docs] A single additional summary page for diag* methods"
Currently there is `diag`, `diagonal`, `diag_embed`, `fill_diagonal_`, `diagflat`. And the user has to click around them to find what they do. It would be nice to have a single compact table about their functionality.

[2020-12-01 12:00] mariogeiger commented on #47038
I see the same warning when running `backward`
[code]

I installed pytorch with cuda because I use the same pytorch install on two different clusters that have the same `/home`

##collect_env.py output:
[code]

[2020-12-01 12:02] vadimkantorov commented on #40770
@pearu What algorithm does pca_lowrank currently use? The docs at https://pytorch.org/docs/stable/generated/torch.pca_lowrank.html have a reference to `Finding structure with randomness` without a clear note that this is indeed implemented. From the implementation PR I vaguely remember that randomized PCA was in fact not implemented, and some more advanced LOBCPG (?) was used? Should the docs be c

[2020-12-01 13:03] peterjc123 commented on #48568
@zfenice Please post your VS version.

[2020-12-01 13:04] fritzo commented on #18125
cc @martinjankowiak (re: `MixtureSameFamily.rsample()`)

[2020-12-01 13:05] peterjc123 commented on #48568
And it would be great if you could attach a small code sample for us to reproduce this issue.

[2020-12-01 13:10] fritzo commented on #44530
@vikigenius this issue is confusing and it looks like we pivoted multiple times. I'm closing it to avoid the confusing conversation. If you still feel there is incorrect behavior could you open up a new issue and suggest a fix, or simply open up a PR with the fix?

[2020-12-01 13:10] #44530 closed

[2020-12-01 13:17] vadimkantorov opened #48650 "Keyword-only device argument (and maybe dtype) for torch.meshgrid"
Since it's a factory function, it would be useful to have a device (and maybe a dtype) argument

[2020-12-01 13:20] peterjc123 commented on #48517
@ezyang Any ideas?

[2020-12-01 13:21] peterjc123 commented on #48527
I can reproduce this with PyTorch 1.7.0 + RTX 3080.

[2020-12-01 13:32] peterjc123 commented on #48527
It seems that this function is based on MAGMA. Will try to rebuild with newer versions.

[2020-12-01 14:06] nikitaved commented on #48299
@gchanan , I have submitted the fix here : https://github.com/pytorch/pytorch/pull/48363 . I think it could be shipped with 1.7.1.

[2020-12-01 14:17] sparkingdark commented on #48585
Can I work on it and try to give a fix?

[2020-12-01 14:20] sparkingdark commented on #48628
Is it basically creating a seperate document fornumpy pytorch interaction,quite interesting,I can give it a try to work.
can @rgomathi assign this to me.

[2020-12-01 14:21] peterjc123 commented on #48527
It seems that the current windows MAGMA binaries are built without cuda arch 8.0 support. I will fix it.

[2020-12-01 14:26] byronyi commented on #48588
@UlrichFreitag Make sure the env doesn't get override like here: https://github.com/pytorch/builder/blob/master/manywheel/build.sh#L52

[2020-12-01 14:32] sparkingdark commented on #48520
Hey @nailimixaM I am happy to collaborate to implement this functionality,let me know if I can help.

@fmassa @ezyang

[2020-12-01 14:47] AAnoosheh commented on #26218
Is this still an issue?  Because Adam's eps is still 1e-8.

Or does Lightning not actually perform backprop/updates in 16-bit?

[2020-12-01 14:48] Strivathsavashwin commented on #26608
Hi,

I am running the python script in Spyder using Anaconda command prompt. I am getting the same error module 'torch.jit' has no attribute 'unused'

[2020-12-01 14:49] rgommers commented on #48585
@sparkingdark please feel free to work on any open issue that's unassigned. In this case it's a high-prio regression, so there's some time pressure, which means someone else may jump in and fix it. If you're new to PyTorch development, I'd usually recommend to pick issues where it's clear what to do and that haven't moved in say a week or two.

[2020-12-01 14:51] albanD commented on #48520
Hi,

Thanks for opening a feature request!

The general policy we have for new functions/layers is to make sure they have been used by researchers significantly since their publication (the main reason being that once something is added to torch.nn, it cannot really be removed anymore and we need to maintain it).

So we can look if the homoscedastic version meet that criterion (I haven't looked at

[2020-12-01 14:52] rgommers commented on #48628
@sparkingdark this is probably not a good issue to work on, we'll assign someone to this after the outline is agreed on.

that's not how this works, only people with triage or commit rights on the repo can be assigned to issues.

[2020-12-01 15:02] malfet commented on #48517
This sounds interesting, tentatively grabbing for myself...

[2020-12-01 15:03] sparkingdark commented on #48628
Okay understood

[2020-12-01 15:05] sparkingdark commented on #48585
okay I try to do my best and I am new to pytorch development can you tell me how to getting started actually I was looking for good first issue but all of them are taken that's why i am now searching above that.

[2020-12-01 15:08] sparkingdark commented on #48520
hey @albanD can I also give it a try to implement in my repo?

[2020-12-01 15:08] skyline75489 commented on #48517
I’m the one that reported the issue in VS community. It works with VS 16.7 so I think it’s a regression in the compiler itself.

[2020-12-01 15:17] nailimixaM commented on #48520
Thanks @albanD, I understand your point. I realise I've made a slight slip-up - the first paper proposes the heteroscedastic loss (which is a general version of the homoscedastic loss)! (The homoscedastic loss is simply the case where the variances are all equal, which is trivially handled by a heteroscedastic implementation). In this case I'd be interested to hear whether you think this loss qual

[2020-12-01 15:19] ezyang commented on #48524
Repro 1 fails because we don't have ARM binaries on pip, so it picks up an ancient version of torch which advertises itself as source wheel.

Repro 2... it doesn't look like a build of PyTorch actually happened. What if you `python setup.py install` instead of using pip?

[2020-12-01 15:26] nailimixaM commented on #48520
@albanD See for example this tensorflow commit: https://github.com/tensorflow/agents/commit/3ae8ef2a8eb0c8496998e269159a3d20e36d5f45

[2020-12-01 15:27] sparkingdark commented on #48520
Thanks man I love to do it ...

[2020-12-01 15:29] sparkingdark commented on #48585
hey i need some help @rgommers can you tell me how to compile and install the pytorch 1.8.1.8.0a0 is it on the developer branch.
and one thing can I use google colab for testing purpose.

[2020-12-01 15:41] neonbjb commented on #48527
Awesome! Thank you so much for the quick turnaround on this. Please let me know if you want me to test a fix.

[2020-12-01 15:41] sparkingdark commented on #48083
Can I try to reproduce this issue on my os and give a fix if possible.

[2020-12-01 16:35] csarofeen commented on #26218
CC: @xwang233 @ptrblck

[2020-12-01 16:35] glaringlee commented on #48548
We have multiple tickets for such problem. eg #44533 is under investigating now.
I think we need to use `overload` for these overload functions, but I do not see any automated way to do it at the point.

[2020-12-01 16:37] kshitij12345 commented on #48585
@sparkingdark Have a look at https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#developing-pytorch
That has all the necessary instructions.

[2020-12-01 16:59] kurtamohler commented on #3194
I can start adding this

[2020-12-01 17:27] mcarilli commented on #48049
I was still confused because https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/autocast_mode.cpp#L71 should ensure the only things that get cached are leaves (model params) that require grad.  These don't move between iterations of the loop under `no_grad`.  @ptrblck investigated yesterday in depth yesterday and we realized there are 3 ingredients that cause the cache blowup we didn't d

[2020-12-01 17:37] mrshenli commented on #48365
Adding "triage review" label to discuss whether we can add custom OOM exception or if there are other suggestions.

[2020-12-01 17:37] ezyang commented on #45581
Eek, PyLongFromLong! We should fix these, definitely. (And probably also add a lint rule to complain about it.)

[2020-12-01 18:11] sparkingdark commented on #48585
Yeah I am new to pytorch development and try to do it,is their any
community channels available for pytorch I can join ?

On Tue, 1 Dec 2020, 20:19 Ralf Gommers, <notifications@github.com> wrote:

[2020-12-01 18:20] gmagogsfm commented on #48549
There is a highly-related issue with a solution:
https://github.com/pytorch/pytorch/issues/30786

We can follow same pattern for all ops defined as built_in ops for tensor.py

[2020-12-01 18:24] lutzroeder commented on #48524
@ezyang both started working today after updating to Python 3.9.0 and pip 20.3 (probably using Rosetta) which unblocks the scenario.

[2020-12-01 18:25] t-vi commented on #48049
The special handling of views in `no_grad` is required, this is part of `DifferentiableViewMeta` in `torch/csrc/autograd/variable.h`:

https://github.com/pytorch/pytorch/blob/98fddc1f061fb5b0dcac9f49b3b096bcdc124a12/torch/csrc/autograd/variable.h#L322-L337

I think could add checking `_base` to detect non-leaves to handle that case.

[2020-12-01 18:26] gmagogsfm commented on #48525
Notes:

There is on-going work from Mikhail Z that allows adding hints about device location of Tensors in C++ APIs. If we take the route of allowing user specifying tensor sizes for sake of optimization, our interfaces should be consistent.

[2020-12-01 18:29] gmagogsfm commented on #48452
@malfet Is this a known issue with XCode build?

[2020-12-01 18:33] gmagogsfm commented on #48437
Frozen models aren't supposed to be mutated. But moving model devices placements should be supported on JIT models before freezing. Could you do that instead?

Meanwhile, one thing we could do to improve the situation is to give a clear error when attempting to call .to on frozen model.

[2020-12-01 18:33] malfet commented on #48452
@gmagogsfm not that I know of, but likely.
@muralivm just to confirm, you are trying to run it on iOS device, aren't you?

[2020-12-01 18:34] gmagogsfm commented on #48415
Thanks for spotting the issue and we'd love a PR, shoot it our way!

[2020-12-01 18:42] albanD commented on #48049
Yes views need to inherit the requires grad from their base otherwise code like the following would not work
[code]

Do I understand properly that the issue is that this view op makes it so that the input to the linear (and thus your cache) is different at each iteration and so a new entry is created every time (and never cleaned up even when the Tensor goes out of scope)?

[2020-12-01 18:59] gmagogsfm commented on #48054
@zou3519 Hi Richard, could you clarify a bit why named tensor is not supported in tracing? Thanks!

[2020-12-01 19:00] #37516 closed

[2020-12-01 19:02] malfet commented on #47978
https://download.pytorch.org/whl/torch_stable.html has been updated to include copy of 10.9 packages marked as 11.0 compatible.

[2020-12-01 19:03] malfet commented on #48524
PyTorch should be buildable from source on M1, see https://github.com/pytorch/pytorch/issues/48145 Will try to start uploading M1 wheels intermittently.
And even if one does not update pip to  20.3, PyTorch stable binaries should be downloadable from https://download.pytorch.org/whl/torch_stable.html , see https://github.com/pytorch/pytorch/issues/47978

[2020-12-01 19:05] osalpekar commented on #48576
I believe `NCCL_RINGS` environment variable allows you to explicitly configure the rings used by NCCL, but this is a better question to ask in the NCCL GitHub directly

[2020-12-01 19:14] nikitaved commented on #44378
Well, for CUDA it seems like Magma has only `?gels` that works only for overdetermined matrices. Fear not, we can still use SVD + pseudo inverse for underdetermined/rank-deficient inputs in CUDA.

[2020-12-01 19:49] nikitaved commented on #44378
@mruberry , I have started working on this issue. The next release you mentioned above is 1.7.1, right?

[2020-12-01 19:52] mruberry commented on #44378
1.7.1 is only some bugfixes for the 1.7 release. The next release from nightly is 1.8.

[2020-12-01 20:04] lijunzh commented on #47056
@ngimel Any thoughts on what may be the cause of the slow down? We really want to upgrade to the PyTorch 1.7 for the new features, but the training speed will be a bottleneck for us.

[2020-12-01 20:04] PeterL1n commented on #48437
@gmagogsfm

The idea is that I want to publish a frozen optimized model for others. Currently, I cannot freeze it because other people won't be able to change devices.

I could release the unfrozen model and other people can freeze it themselves before inference. But I currently can't find the `freeze` method on LibTorch C++ API.

[2020-12-01 20:07] ngimel commented on #47056
That's a question for nvidia, cc @ptrblck, @xwang233

[2020-12-01 20:09] mcarilli commented on #48049
Are you proposing we check `t._base()` somehow in the line where we check for cache eligibility (https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/autocast_mode.cpp#L71)?

[2020-12-01 20:19] lazySperm opened #48665 "Getting an error when modifying the faster_rcnn model to add inception_v3 backbone model"
I was following this tutorial  [Modifying the model to add a different backbone](https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html#modifying-the-model-to-add-a-different-backbone). When I replace the mobilenet_v2 model with inception_v3, the code does not work and  gives the following error:
[code]
I am using the following environment:

* Ubuntu 18.04.4 LTS
* CUDA Version: 10.2

[2020-12-01 20:37] SsnL opened #48666 "[dataloader] hang on python exit when has iter ref and sampler yields large indices"
## 🐛 Bug

Using the DataLoader causes the main process to hang on exit waiting to join the indices queue putting thread when the sampler is large (e.g., when `batch_size` is large) and a reference to the iterator is kept around (e.g., when `persistent_workers=True`). For instance, see the following simple script:

[code]

Running the above in the below environment (pretty standard) will hang at ex

[2020-12-01 20:44] ezyang opened #48667 "Operator registration doesn't work with noexcept functions on some compilers (c10::guts::is_function_type rejects noexcept)"
@fmassa reported that this registration:

[code]

failed with:

[code]

This problem doesn't occur on all compilers (notably, OSS had no problems) so it might be a platform007 clang specific thing.

cc @smessmer

[2020-12-01 21:04] jeffdaily commented on #44546
Closing.  Reproducer step (2) had `USE_ROCM=1`, but it should have been `PYTORCH_TEST_WITH_ROCM=1`.

[2020-12-01 21:04] #44546 closed

[2020-12-01 21:10] albanD commented on #48049
I guess you could check `!t.is_view()` there indeed. If you say that you never want to cache the result for a view of a larger Tensor?
But then what happens if someone actually have weights that are views of a bigger Tensor for some reason? The caching will just miss them completely.
So I don't think you can have something that will work for everything here by just looking at the Tensor. But maybe

[2020-12-01 21:15] raraz15 commented on #45769
Same Problem.

My model has a conv2d layer followed by a custom RNN layer and some FC layers. The error however comes from conv2d layer.
I set `torch.backends.cudnn.deterministic = True` and  `torch.backends.cudnn.benchmark = True`.

What I've tried so far:

First I `detach_()` 'ed my gradients from the model outputs to save GPU memory but that did not help.
Second I disabled cuDNN by `torch.backe

[2020-12-01 22:33] zhangguanheng66 commented on #48648
cc @brianjo

[2020-12-01 22:41] ngimel commented on #48636
Please run with CUDA_LAUNCH_BLOCKING=1 to get correct backtrace.

[2020-12-01 22:44] mruberry commented on #48649
It is confusing. We would accept a PR implementing this proposal.

[2020-12-01 22:49] bertmaher commented on #48605
I'm going to claim remainder/fmod with int8

[2020-12-01 23:09] KsenijaS commented on #47042
@pranjaldatta it is probably available on pytorch-nightly:
cpu:
conda install pytorch torchvision torchaudio cpuonly -c pytorch-nightly
gpu, depending of cuda version installed:
conda install pytorch torchvision torchaudio cudatoolkit=10.2 -c pytorch-nightly

[2020-12-01 23:27] malfet opened #48674 "`torch.jit.script` is often broken in Python-3.9"
Following example:
[code]
fails in Python-3.9 with
[code]

cc @gmagogsfm

[2020-12-01 23:29] malfet commented on #48674
And the reason for that is very simple:
[code]

[2020-12-01 23:32] #48393 closed

[2020-12-02 00:31] malfet commented on #48674
Another interesting offender:
[code]

[2020-12-02 00:50] zfenice commented on #48568
I'm using Visual Studio Community 2019 Version 16.8.2

I am running the sample code provided by detectron2

    caffe2::GlobalInit();

    // initialize Net and Workspace
    Workspace workSpace;
    caffe2::NetDef initNet_, predictNet_;
    CAFFE_ENFORCE(ReadProtoFromFile(FLAGS_init_net, &initNet_));
    CAFFE_ENFORCE(ReadProtoFromFile(FLAGS_predict_net, &predictNet_));

    int predictNet_size =

[2020-12-02 00:54] peterjc123 commented on #48568
One thing I want to confirm is whether this is only a VS-16.8 thing?

[2020-12-02 01:22] SciPioneer commented on #48478
Thanks for detecting this misuse!

Your guess is correct: currently this bug is not exposed because these hooks only run with NCCL. Agree that we should make future API less error-prone.

[2020-12-02 01:49] ezyang opened #48684 "Remove remaining native:: references from non-native ATen"
@iseeyuan recently made a patchset to make ATen compileable completely separately from ATen_cpu. This does not work if you have references to native:: functions from not the native/ folder. He fixed all sites which were blocking him.

However, it turns out there are a number of native:: references that still remain. These references did not block Martin's work, but they should still be resolved:

[2020-12-02 03:31] zfenice commented on #48568
I've just spent hours trying different versions. Unfortunately, I found out that I can't link to the library (specifically protobuf.lib) because of non compatibility issue with older versions of VS explained here:
https://developercommunity.visualstudio.com/content/problem/1010557/-dyn-tls-on-demand-init-and-tls-guard-related-weir.html
So only versions of VS2019 v.16.5 or higher can be tested. I w

[2020-12-02 03:35] YongyuG opened #48690 "C++ error when using at::tensor -> toTuple()"
## 🐛 Bug

terminate called after throwing an instance of 'c10::Error' what():  isTuple() INTERNAL ASSERT FAILED at /home/yckj1497/mic_array_native/libtorch/include/ATen/core/ivalue_inl.h:723, please report a bug to PyTorch. Expected Tuple but got Tensor (toTuple at /home/yckj1497/mic_array_native/libtorch/include/ATen/core/ivalue_inl.h:723)frame #0: c10::Error::Error(c10::SourceLocation, std::__cx

[2020-12-02 03:42] #48690 closed

[2020-12-02 04:04] lezasantaizi commented on #48576
@osalpekar ,Thanks!
I will to ask the NCCL forks in the NCCL GitHub.

[2020-12-02 04:12] YongyuG opened #48691 "C++ Convert c10::IValue to tensor or tuple or to TensorList failed"
**I tried to convert my output tensor to tuple using output.toTuple() but get a weird result.
My output is a 3d tensor with ` [ CUDAFloatType{1,2,83840} ]`

code from tensor to tuple;
[code]
**get the error**
[code]

**then I tried `output.toTensorList()`  to get the Tensors by indexing the returned list, get the error again.**
[code]
**get the error**
[code]

cc @gmagogsfm

[2020-12-02 04:25] lutzroeder opened #48692 "torch.jit.frontend.NotSupportedError: ellipsis is not supported"
## 🐛 Bug

[code]

## To Reproduce

Steps to reproduce the behavior:

[code]
[code]

@malfet @jerryzh168 @raghuramank100

cc @gmagogsfm

[2020-12-02 04:27] lutzroeder commented on #48692
#48593

[2020-12-02 04:27] #48692 closed

[2020-12-02 04:31] malfet commented on #48692
AST tree generation changed a bit in Python-3.9, this fix it: https://github.com/pytorch/pytorch/pull/48676

[2020-12-02 04:53] 1187697147 opened #48693 "When will pytorch support cudnn8.0.5?"
**Not a issue.**
Hi,
I want to know when developers can use new Pytorch which supports Cudnn8.0.5?
Thank you!

[2020-12-02 06:28] shaibagon commented on #37718
I second @vadimkantorov : This is the same for `ModuleList`, see [this SO question](https://stackoverflow.com/q/65096679/1714410).

If you decide to stay with `NotImplementedError` in `forward` you need to make sure the code gets there.

Maybe adding explicit `__call__` method that throws the `NotImplementedError` as well to get a better error message faster?

[2020-12-02 06:36] YongyuG commented on #22440
hi，how did you get your 2rd output, i got the same error as yours

[2020-12-02 06:52] dkostecki opened #48697 "Python Pickle Serialization Mangles NllLossBackward Objects in Tensor Objects"
## 🐛 Bug
Python Pickle serialization mangles NllLossBackward objects in Tensor objects without throwing an error, but attempting to serialize the grad_fn object encapsulated in the Tensor object throws a TypeError. This behavior seems inconsistent.

## To Reproduce
Steps to reproduce the behavior:

torch.nn.functional.nll_loss returns Tensor objects which contain a loss value as well as a grad_fn

[2020-12-02 07:12] mruberry commented on #46988
I commented on the PR. Your going in the right direction but we should reuse the existing code instead of duplicating it. For sparse OpInfo-based testing let's start small with just one new test that compares the same operation on sparse and strided tensors.

[2020-12-02 07:15] mruberry commented on #48519
Thank you for reporting this issue, @Rajathbharadwaj. We would accept a PR adding complex support to `torch.diag`.

[2020-12-02 07:33] raviv commented on #31316
I'm trying to quantize `torchvision.models.detection.fasterrcnn_resnet50_fpn` to increase inference speed on GPU.
Could you help with a code sample for doing that?
Thanks.

[2020-12-02 07:41] ituantuan8 commented on #43227
Hello, how did you solve this problem？thank you

[2020-12-02 07:42] mruberry commented on #45125
Thank you, @sebger and @romanpogodin.

[2020-12-02 07:44] ituantuan8 commented on #43227
@LysSanzMoreta Hello, how did you solve this problem？ thank you

[2020-12-02 07:46] ituantuan8 commented on #43227
@LysSanzMoreta Hello, how did you solve this problem?I have the same problee,thank you

[2020-12-02 07:59] mruberry commented on #48010
Offline update: Triage review decided that while this was not high priority we would take a fix for it and we are not interested in relaxing correctness at this time.

[2020-12-02 08:04] vadimkantorov commented on #37718
I think NotImplemented in `forward` may be better, because it could then be overridden if someone derives from ModuleDict

[2020-12-02 08:06] mruberry commented on #48552
Thank you for filing this issue, @kshitij12345. Note that SciPy's expit also does not support complex input:

[code]

However, I think the definition is valid for complex numbers and, if it is, we would accept a PR implementing the behavior.

As an aside, PyTorch's use of the name "sigmoid" for this function seems odd. "Logistic" or "expit" are probably better names.

[2020-12-02 08:09] mruberry commented on #48572
Thank you for reporting this issue, @NJdevPro, we'll take a look soon!

[2020-12-02 08:09] mruberry commented on #48580
An error like this suggests the issue is local. Are you able to reproduce it on other machines?

[2020-12-02 08:11] mruberry commented on #48547
Closing this issue since it is addressed. cc @gchanan to consider for 1.7.1.

[2020-12-02 08:11] #48547 closed

[2020-12-02 08:12] shaibagon commented on #37718
@vadimkantorov I see your point. We can leave the existing `ModuleList`/`ModuleDict` as-is (apart from #48698) and have all the fancy `forward` options people request here implemented in derived class, e.g. `ModuleListParallel`.

The thing is I'm not sure the "default" behavior of `ModuleList` should be to apply all the sub-modules in parallel, as requested here. I don't think we should change the

[2020-12-02 08:17] rabeehkarimimahabadi opened #48702 "provide example for distributed training with iterative dataloaders"
Hi
I need to make iterative datasets work with distributed training, for this I shard the data which does not work, see my issue here https://github.com/pytorch/xla/issues/2657 to pytorch XLA team but this is in fact related to pytorch team to me, there is NO documentation or proper examples showing how to do it, I really need to make it work, could you please assist me? thanks

[2020-12-02 08:23] vadimkantorov commented on #37718
If derived classes are accounted for - probably better to adjust that PR to make forward throw NotImplemented. Otherwise, the implementor would have to override both forward and `__call__`

[2020-12-02 08:33] gemfield commented on #26555
sleef.h comes from the build for pytorch/third_party/sleef, also make sure the configure& build for sleef is successful.
e.g. In the cmake output, you should see something like below:
[code]

[2020-12-02 08:40] mruberry commented on #48641
Thanks for reporting and elaborating on this issue, @kshitij12345. Before we proceed, let's let the broader team take a look at this issue.

[2020-12-02 08:41] shaibagon commented on #37718
@vadimkantorov I took your advice implementing #48698 - it only fixes `forward` method such that it will actually reach the `NotImplementedError` in the `forward` and not throw the `TypeError` as you witnessed yourself.

I did _not_ change anything w.r.t `__call__` in either `ModuleList` nor `ModuleDict` in #48698, as you suggested.

It would be tremendously kind if you could peak at #48698, and p

[2020-12-02 08:42] kingder commented on #48439
Is there any workaround?

[2020-12-02 08:51] Rov67777 commented on #48580
Hey @mruberry, thanks for your answer. I was not able to reproduce it on other machines, actually when I write the model to a different drives than this drive (a mounted drive on linux using SMB 3.0) it seems to work properly.

[2020-12-02 08:52] mruberry commented on #48580
Interesting. Do you think it's an issue with that drive, then?

[2020-12-02 08:53] Rov67777 commented on #48580
I guess the error is coming from the interaction between torch.save and mounted drives ? Have people already experienced this kind of problems and might have an idea how to fix it ?

[2020-12-02 08:55] mruberry commented on #48580
I don't think we've seen this issue previously, no. There could be a specific interaction causing this failure, but an OSError suggests a problem with the operating system or hardware.

[2020-12-02 08:59] scp92 opened #48703 "Caffe2 upsample do not support float times output_size"
Hi all,
I export a quantized model (with output_size=7x7, and input size is 4x4)
 to onnx, and I try to run it on caffe2 backend. And I found that the height_scale is 1 but not 1.75 according the [code](https://github.com/pytorch/pytorch/blob/f02753fabb8116ab202fd56b3fcaf9389b7cade6/caffe2/operators/quantized/int8_resize_nearest_op.h#L40).

[2020-12-02 09:17] mruberry commented on #48640
Thank you for reporting this issue, @V3RGANz. I'll let our typing experts comment.

[2020-12-02 09:23] wang7143 commented on #45769
I have encountered a similar problem, using your method does not report an error

[2020-12-02 09:36] xwang233 commented on #45769
@wang7143 Thanks for reporting the issue. Is this exception related to your report in https://github.com/microsoft/Bringing-Old-Photos-Back-to-Life/issues/66? If so, can you run `python -m torch.utils.collect_env` to collect your system environment?

[2020-12-02 09:38] wang7143 commented on #45769
Collecting environment information...
PyTorch version: 1.7.0
Is debug build: True
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.1 LTS (x86_64)
GCC version: (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0
Clang version: Could not collect
CMake version: version 3.18.4

Python version: 3.8 (64-bit runtime)
Is CUDA available: True
CUDA runtime version: Could not collect
GPU m

[2020-12-02 09:38] huwei1024 commented on #48535
@gunandrose4u
set USE_NINJA=OFF
set CMAKE_GENERATOR=Visual Studio 16 2019
set CMAKE_GENERATOR_TOOLSET_VERSION=14.27
set VCToolsVersion=14.27.29110
set DISTUTILS_USE_SDK=1
set USE_DISTRIBUTED=OFF
set USE_CUDA=ON

i got this error:

@PEAE@Z) 中引用了该符号 [D:\Work\GitHub\torch\pytorch\build\caffe2\CppSignature_test.vcxproj]
  torch_cpu.lib(conv_dnnlowp_acc16_op.obj) : error LNK2019: 无法解析的外部符号 "__declspec(

[2020-12-02 10:06] mruberry commented on #43342
We now have a "generic" triplet margin loss! Closing this issue.

[2020-12-02 10:06] #43342 closed

[2020-12-02 10:29] CorentinJ commented on #32101
Noting that you can get all tensors allocated on CUDA in the program using python's garbage collector:
[code]

And compute the size used in byte by each tensor with `tensor.element_size() * tensor.nelement()`

[2020-12-02 10:57] ptrblck opened #48706 "test_inverse setup is flaky using MKL>=2020.1 on certain CPUs and fails on CUDA"
## 🐛 Bug

`test_inverse` fails after updating MKL to >=2020.1 (we used 2019.1 previously) on DGX1V nodes (8x V100) in `float32`.

### Root cause
While debugging we could narrow down the root cause to the test setup in [`random_fullrank_matrix_distinct_singular_value`](https://github.com/pytorch/pytorch/blob/bcc85a363ecbcb381623d3c26faa94be13ad58bc/torch/testing/_internal/common_utils.py#L1540-L155

[2020-12-02 11:01] raven-jia opened #48707 "Why loss.backward and optimizer.step take longer with larger batch size?"
I was trying to measure the training time with different batch size. It shows that backward() and step() increase with larger batch size (forward time also increases but that's expected). The following times are all averaged over all iterations in the epoch. (I believe I measured time correctly with torch.cuda.synchronize()

batch size = 96
Train Epoch #1: 100%|██████████| 3336/3336 [19:59<00:00,

[2020-12-02 11:04] LysSanzMoreta commented on #43227
@ituantuan8 For pyro-ppl find the issue discussion here : https://forum.pyro.ai/t/pytorch-rnn-lengths-in-cpu-incompatibility-with-elbo-loss-calculation/2391/10

[2020-12-02 11:21] thematrixduo opened #48709 "Error when running Dataloader with multiple workers"
## 🐛 Bug

I got this error message while running dataloader with 40 workers to load Howto100M dataset (https://github.com/antoine77340/MIL-NCE_HowTo100M). The loader reads video files with ffmpeg and text files using pandas.read_csv().  My main issue is that I don't quite understand what the error is about. I guess there are some inner issues that are not raised.

## To Reproduce

Steps to reprodu

[2020-12-02 11:39] ituantuan8 commented on #43227
@LysSanzMoreta Thank you very much

[2020-12-02 11:44] ituantuan8 commented on #43227
@LysSanzMoreta My problem is solved, thank you so much

[2020-12-02 11:47] vadimkantorov commented on #32101
Now more and more tensors are allocated from C++ (including output volumes from ops), gradients etc. They still add memory pressure on the caching allocator, but cannot be inspected like this :(

[2020-12-02 12:07] rgommers commented on #48640
Based on the implementation, typing as `Parameter` seems correct. This is more a usage question than a typing question though - are there any `Module` subclasses floating around that do _not_ return `Tuple(str, Parameter)` from that method?

[2020-12-02 12:13] rgommers commented on #48585
https://discuss.pytorch.org/. A word of advice though: please do your homework first, like searching for the available information on a topic, and then ask a specific question when you do get stuck. That makes it much more likely someone will answer your question.

[2020-12-02 12:17] CeLaMbDa opened #48710 "RuntimeError: CUDNN_STATUS_BAD_PARAM when testing environment"
full repo:
`Traceback (most recent call last):
  File "C:/Users/ps/PycharmProjects/pythonProject2/main.py", line 98, in <module>
    outputs = model(images)
  File "C:\Program Files\Python37\lib\site-packages\torch\nn\modules\module.py", line 727, in _call_impl
    result = self.forward(*input, **kwargs)
  File "C:\Program Files\Python37\lib\site-packages\torch\nn\parallel\data_parallel.py", line

[2020-12-02 12:19] sparkingdark commented on #48585
Yeah will do. Thanks for sharing.

On Wed, 2 Dec 2020, 17:44 Ralf Gommers, <notifications@github.com> wrote:

[2020-12-02 13:05] erip commented on #32516
This now officially works out of the box on Windows. See discussion [here](https://github.com/dreiss/java-demo/issues/1#issuecomment-737217879)

[2020-12-02 13:15] ivannz opened #48713 "Enhanced generators with grad-mode decorators"
## 🚀 Feature
Support for enhanced generators (generator-based coroutines) by grad-mode decorators.

## Motivation

As it is currently implemented grad-mode context managers for the generators do not offer full support for the generator semantics laid out in [pep-342](https://www.python.org/dev/peps/pep-0342/), namely two-way communication via `.send` and `.throw`. Such generators, also called coro

[2020-12-02 13:31] CorentinJ commented on #32101
I don't know about that, I wrote a function to compare the size of tensors in memory w.r.t. what pytorch shows is allocated, and it matches:

[code]

[2020-12-02 13:31] rahulbhat44 commented on #7612
@YueshangGu @morgangiraud  Did you guys solve this problem ??? I am having the same problem. Could you please tell the solution ???

[2020-12-02 14:27] bdhirsh commented on #48693
Hi!

Could you please re-post your question in the PyTorch forums here? https://discuss.pytorch.org/latest. I'm going to close out this issue.

[2020-12-02 14:27] #48693 closed

[2020-12-02 14:50] ak-source commented on #48533
Hi, thanks for investigating this.

Please try the script below. Unless my non-clean rebuild is at fault, there is still a problem, only first 512 values are correct. Not sure why requires_grad_ line makes a difference.

[code]

[2020-12-02 14:53] albanD commented on #48439
Yes sorry, you just need to avoid having a conv as the first module in the checkpoint when using a different memory format.
The cheapest thing for you is to update your original code to do this for example (the view op does not do any copy so will be very cheap): `out = checkpoint(lambda inp: model(inp.view_as(inp)), input).sum()`

[2020-12-02 14:55] ezyang commented on #48049
Thanks, this is a good analysis. A quick thoughts: view cache blow up due to .t() can be solved with a simple heuristic: if we have a view of a parameter, cast the *source* of the view and cache that. Then, when checking the cache, if we are given a view, check if we have a cache of the view base, and if so, redo the view on top of that.

[2020-12-02 15:00] albanD commented on #48049
Users might have the bad idea to assign as a parameter a small slice of a much bigger Tensor. Such approach would process a very big Tensor that should not be be processed.
But this would be rare as well.

[2020-12-02 15:02] shakjm opened #48714 "RTX 3090 setup vs 2x RTX 2080TI setup slower? Help.."
Hi all,

I have a question on the setup for pytorch which is bothering me a lot. I have one setup with the following specs:

**SETUP A** (Data Parallel)
2x RTX 2080 TI MSI Gaming X Trio
1x Threadripper 1950X
96 GB RAM (2600MHz)

Another setup with:
**SETUP B** (Single GPU)
1x RTX 3090 ZOTAC Trinity
1x Threadripper 3970x
64GB RAM (3200MHz)

However, when running the same model, Setup A takes only 1

[2020-12-02 15:10] ezyang commented on #48640
The intention of the method name seems pretty clear. Let's just update it.

[2020-12-02 15:15] ezyang commented on #48049
If this is a concern, you can update the heuristic to only see through view operations that preserve numel.

Also, it is only a problem to cast the bigger tensor *if you don't actually use the rest of the parameters in the bigger tensor in that run*. If you do use them, then you probably are going to autocast them too, in which case you're just paying for it up front.

[2020-12-02 15:18] ejguan commented on #48709
The error is re-raised from subprocess of workers.
I roughly look into the code. You may check the `HT100M_DataLoader`. It seems related to error handling of ffmpeg-python.
Can you try to run without `--multiprocessing-distributed` and see what's going on?

[2020-12-02 15:40] datumbox opened #48716 "Error "member may not be initialized" due to constexpr at Windows"
As discussed at https://github.com/pytorch/vision/pull/3051, the use of `constexpr` at [ir.h](https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/ir/ir.h#L1349) and [pickler.h](https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/serialization/pickler.h#L211) raises `member may not be initialized` errors on TorchVision on Windows. We should consider replacing it with `CONSTEXPR_

[2020-12-02 15:57] yangsenius commented on #16123
Could you share the JITTed HRNet version?

[2020-12-02 16:13] Silence-Monk commented on #30655
// I modified the code from **phillies** to get coloful image. Note that the format of an output tensor is typically NCHW.
// Here's my function in Kotlin. Hopefully it works in your case:

[code]

[2020-12-02 16:36] #48299 closed

[2020-12-02 16:37] navahgar commented on #48533
The problem is that there is a dependency from `sqrt` to `+` in function `f`, due to which we need to add `SyncThreads` between those statements. That was missing. My attached draft PR should fix it.

[2020-12-02 17:11] foundry-markf opened #48724 "TorchConfig.cmake setting IMPORTED_LOCATION unconditionally on torch import target"
## 🐛 Bug

I'm new to dealing with PyTorch, but I encountered an issue at build time, when trying to build a consumer application with RELWITHDEBINFO CMake build type, whereas PyTorch was built with RELEASE build type, on Windows in a shared library build of PyTorch.

The error shown (from the ninja build tool we used as CMake generator):

[code]

referring a library for `torch` to be linked agains

[2020-12-02 17:12] #48666 closed

[2020-12-02 17:19] ak-source commented on #48533
I should have mentioned that I've applied your patch. It fixes the small tensor case in the test, but differentiable graph with multiple thread blocks seems to have some additional issue.

[2020-12-02 17:28] navahgar commented on #48533
Okay, thanks for the update. I ll check it out.

[2020-12-02 17:41] #24565 closed

[2020-12-02 17:43] zimonitrome commented on #31874
I feel like `num_workers` should not need to be reduced. I am trying to run 8 workers on a 16 thread CPU and it fails ~50% of the time while my CPU is working at ~25% and there are lots of memory available.

[2020-12-02 17:57] ngimel commented on #48714
The link above leads to unrelated page, the issue contains no actionable information.

[2020-12-02 17:57] wconstab commented on #48691
@YongyuG can you attach a fully runnable snippet of code, including the model? (or a simpler model if it does the same thing)

Can you also clarify what you expect the type of outputTensor to be?
auto outputTensor = _model.forward(inputs);

It looks like from your description, outputTensor is supposed to be a tensor.  The error message also claims the output is a tensor.  "Expected Tuple but got T

[2020-12-02 17:58] #48674 closed

[2020-12-02 18:03] ngimel commented on #48707
Please ask questions on discuss.pytorch.org.

[2020-12-02 18:03] #48707 closed

[2020-12-02 18:03] #48642 closed

[2020-12-02 18:09] VitalyFedyunin commented on #48709
Also running `DataLoader` with `num_workers = 0` helps to debug the issue.

[2020-12-02 18:16] VitalyFedyunin commented on #48439
Yes, this looks like documentation issue and also changing input tensor (even metadata) inplace is shady. I will assign it to myself to followup with fixes.

If @kingder are willing to contribute code, I'm ready to provide more detailed explanation how to fix conv operator.

[2020-12-02 18:37] VitalyFedyunin commented on #48591
Interesting, so far we are not doing any optimizations for Power architecture. That means something goes funny with compiler optimization here https://github.com/pytorch/pytorch/blob/af8c75e2116a03aeaef131ef8007fae05546a3a3/aten/src/ATen/native/cpu/UnaryOpsKernel.cpp#L144

Can you please try to compile all code with -O0 to see if issue still remains?

[2020-12-02 18:58] SsnL commented on #48709
The cause is that we failed to reconstruct the exception. We should do something like https://github.com/python/cpython/blob/e42b705188271da108de42b55d9344642170aa2b/Lib/concurrent/futures/process.py#L129-L131 for our remote exception. Ctx: https://github.com/pytorch/pytorch/pull/40437

[2020-12-02 19:11] thematrixduo commented on #48709
I tried only data loading without distributed training, but got the same error.

[2020-12-02 19:14] VitalyFedyunin commented on #33181
Replied inside #48536

[2020-12-02 19:26] xwang233 commented on #48706
For `test_inverse` with cuda and single precision, we have some very high tolerance. See

https://github.com/pytorch/pytorch/blob/3b25af02a4033f762275286d6d5d684209477997/test/test_linalg.py#L1716-L1722

Also, for matrix inverse, our initial values are initiated as randn, so the inverse matrix can usually have very large numbers and trigger mismatches. We've seen so many flaky failures in single p

[2020-12-02 19:31] xwang233 commented on #48710
Thanks for reporting the issue. Can you run `python -m torch.utils.collect_env` to collect and share your system environment?

[2020-12-02 19:31] ZolotukhinM opened #48733 "[TensorExpr] Add logging statements to LLVM codegen."
## 🚀 Feature
LLVM codegen in the TensorExpr fuser currently doesn't have logging, we should add it to improve debuggability. For instance, we could dump the generated LLVM IR (similar to how cuda codegen dumps the generated cuda program in the end).

## Source pointers
* The LLVM codegen implementation lives in `torch/csrc/jit/tensorexpr/llvm_codegen.{cpp,h}`.
* To print LLVM IR one could use `Fun

[2020-12-02 19:40] VitalyFedyunin commented on #48177
Hello! This looks like reasonable request. Feel free to open PR for it and please include benchmarks with oneDNN on and oneDNN off.

[2020-12-02 19:43] ezyang commented on #48706
cc @nairbv

But yes, if the change in precision is acceptable, then the only recourse is to adjust downstream precision tests. Try not to relax them too much.

[2020-12-02 19:53] #48200 closed

[2020-12-02 20:04] fritzo commented on #47123
Hi @decodyng, I think the best we can guarantee in the `torch.distributions` library is to correctly catch errors *when validation is enabled*. I believe this error would have been caught earlier if you had called
[code]
In fact we recently enabled validation by default in Pyro (a downstream library). If this seems useful we could consider enabling validation by default also in PyTorch. What's you

[2020-12-02 20:05] vadimkantorov commented on #48645
But then slicing would again return nn.Sequential and not the subclass, both can be problematic...

[2020-12-02 20:10] eellison commented on #48437
Exposing torch.jit.freeze in the C++ seems like a good resolution of this issue, i can do that

[2020-12-02 20:15] eellison commented on #37718
futures = [torch.jit.fork(module, *args, **kwargs) for module in self.module_list]
    return [torch.jit.wait(future) for future in futures]

@twoertwein that only works if you assume that each module independently applies the inputs, which i'm not sure is a valid  assumption for all  ModuleLists.

However, for your own implementation you can achieve by subclassing ModuleList/ModuleDict
[code]

[2020-12-02 20:20] decodyng commented on #47123
@fritzo Validation by default seems like a good way to handle this, since I think the default behavior, if someone doesn't know about the validation arg, should ideally be set up in a way that explicitly raises errors like this rather than failing silently. Having a way to turn validation off does seem valuable in some circumstances, but that should probably be reserved for advanced users who do s

[2020-12-02 20:28] twoertwein commented on #37718
thanks for the example!

I assume people would use `Sequential` and not `ModuleList` in such a case. Or more generally, if there is an arbitrary dependency, people wouldn't call `forward` on `ModuleList` as there is no way it can magically infer how the models should be plugged in with each other.

[2020-12-02 20:39] ejguan opened #48739 "PyTorch's fmod and remainder cannot be exported to ONNX with consistent semantics (Type promotion)"
## 🐛 Bug

We are improving `fmod` #48278 and `remainder` #48668 with type promotion.
This means:
[code]

Exporting `fmod` and `remainder` with type promotion requires ONNX manipulating the dtypes of the inputs.

The followings are several scenario not supported to export.
- For `fmod`
  - Intergral tensor fmod to floating-point scalar value
- For `remainder`
  - Intergral tensor fmod to floating-p

[2020-12-02 20:50] albanD commented on #48645
I would argue that this is expected behavior.
I think your subclass should overwrite the `__getitem__` method to make it work properly with the quirks of your subclass (in this case a completely different `__init__` function).

[2020-12-02 21:12] malfet commented on #47622
Link to landed master PR:
Link to cherry pick PR: https://github.com/pytorch/pytorch/pull/48744

[2020-12-02 21:23] SplitInfinity opened #48746 "[JIT] Providing class annotations for buffers can result in them having non-Tensor types"
## 🐛 Bug
If a buffer is annotated with a type inside a class definition but also registered using `register_buffer`, it can end up having a non-Tensor type but with `is_buffer` set to `true` inside the class type for the module. Consequently, it gets excluded from `buffers()` and `named_buffers()`.

## To Reproduce
[code]

cc @gmagogsfm

[2020-12-02 21:34] KsenijaS commented on #47182
@oneway234 I have identified that this for loop is causing the error in the overlap_add function : https://github.com/oneway234/torch_to_onnx/blob/f781fbdd8a52359ddc549c1ecbb3f18169441f8c/signal_processors/utils.py#L48
I will work on fixing it

[2020-12-02 21:41] mcarilli commented on #48049
I like this idea, but I don't think it should block https://github.com/pytorch/pytorch/pull/48696, which is a simple fix that's strictly better than current code.

[2020-12-02 21:51] ArthurFirmino opened #48747 "[bug][libtorch] torch::load seeks to the start of the input stream before reading"
## 🐛 Bug

The behavior of torch::load makes it impossible to read multiple tensors from a stream, as it will seek to the beginning of the stream before reading the tensor. The corresponding writing function torch::save does not seek to the beginning of the stream.

## To Reproduce
[code]

Output:

[code]

## Expected behavior

Tensors x and y read from the input stream match the tensors written to

[2020-12-02 21:54] ezyang commented on #47028
Sorry about the delay, this is a pretty tricky issue and I had to spend some time reading code.

The relevant comment for existing stream synchronization logic in autograd engine is:

[code]

The leaf streams in this situation, however, are the streams associated with the gradient accumulators, which should all be associated with `fwd_bwd_op_stream` (when the leafs were used). So based on this ana

[2020-12-02 22:00] eellison commented on #37718
That may or may not be true with ModuleLists, I don't think it applies to ModuleDicts:  https://github.com/pytorch/vision/blob/973db14523d338fa4e772574fe4d49763fb25245/torchvision/models/_utils.py#L62

& IMO it would be kind of weird to have different behavior b/w ModuleLists and ModuleDict. Yea agreed that there is  no general way to infer how the modules  relate to each other.

[2020-12-02 22:01] xwang233 opened #48748 "__torch_function__ PR may cause performance regression on GPU training"
## 🐛 Bug

https://github.com/pytorch/pytorch/pull/37091 may cause performance regression on GPU training

Recently we've seen some training performance regressions on GPU. After investigation, we found that https://github.com/pytorch/pytorch/pull/37091 might be the root cause. Nsys profilings showed that CPU overheads are increased after this commit.

(Detailed perf numbers will be updated later.)

[2020-12-02 22:06] AidanKenney commented on #47594
Hi there, if this still needs work, I'd be happy to get started.

[2020-12-02 22:08] ezyang commented on #48748
cc @hameerabbasi

[2020-12-02 22:11] ezyang commented on #48748
I'm hoping that this is just something dumb, similar to the situation with comparison ops that @robieta fixed at  https://github.com/pytorch/pytorch/pull/48018

[2020-12-02 22:21] SsnL commented on #48709
It's not about distributed training. Try single process dataloading.

[2020-12-02 22:22] mcarilli commented on #48748
This surfaced in a network that was already horribly CPU bound (so very vulnerable to CPU overhead increase).  The profile looked horrible end to end both before and after https://github.com/pytorch/pytorch/pull/37091, I couldn't tell if any particular op was the smoking gun.

[2020-12-02 22:49] stas00 commented on #48049
May I also ask in this context why caching is skipped if: `!arg.requires_grad()` - e.g. multple transformers models have static positional embedding (not part of the grad tree) which don't ever change so I'd think those should be cached.

And moreover, since they don't ever change these would be a candidate for a constant cache and not re-calculated on each enter/exit from autocast context (if mem

[2020-12-02 22:51] #48189 closed

[2020-12-02 23:03] mcarilli commented on #48748
@xwang233 is it possible to share the network where we saw these regressions? @ngimel @mruberry are looking for a simple-but-realistic model to check the CPU overhead of Ruberry's "Jiterator" prototype https://github.com/pytorch/pytorch/pull/48403 which implements a neat idea (lazily runtime-compile TensorIterator kernels only when a network uses them, to reduce initial build time, binary size, an

[2020-12-02 23:46] malbergo commented on #39178
Just wanted to see if there was any update on this front :)

[2020-12-02 23:50] #48585 closed

[2020-12-02 23:51] SciPioneer commented on #47202
@tvogels

Hi Thijs, could you please take a look at #48670 (mainly powerSGD_hook method in the file powerSGD_hook.py)? This PR adds error feedback.

As I understand, the error feedback implementation should be simple for my case, which can be viewed as vanilla SGD, as my comm hook module is not fused with optimizer, and I don't need to follow the example in PowerSGD paper and consider momentum.

T

[2020-12-02 23:54] mruberry commented on #48748
@ngimel and @mruberry's prototype, comrade.

[2020-12-03 00:10] xwang233 commented on #48748
Thanks for all the comments. I was using the following command for the profiling

[code]

where `main_amp.py` is from apex, https://github.com/NVIDIA/apex/blob/master/examples/imagenet/main_amp.py

I was working on cuda 11.1 + cudnn 8.0.4 A100. A container with this environment can be pulled at
[code]
where apex is installed in `/opt/pytorch/apex`. Make sure to also rebuild apex after rebuild pyto

[2020-12-03 00:11] pritamdamania87 commented on #48710
@CeLaMbDa Could you share a self contained repro for this? For example what are the contents of the `../../data` directory that you use in your code?

[2020-12-03 00:12] xwang233 commented on #48748
Thanks @ezyang @robieta for the fix. I've tried the current master commit which included PR https://github.com/pytorch/pytorch/pull/48018, and the performance is not recovered.

[2020-12-03 00:13] robieta commented on #48748
naive question: why is a large ResNet CPU bound?

Also, I'm working on another PR to address more of the `__torch_function__` overheads. Should be ready for you to test by EoD.

[2020-12-03 00:20] pritamdamania87 commented on #48702
@rabeehkarimimahabadi Is the use case here that you have a stream of data (data size is not known before hand?) represented by [IterableDataset](https://pytorch.org/docs/stable/data.html#iterable-style-datasets) and you want to shard that stream across multiple processes for distributed training?

[2020-12-03 00:26] pritamdamania87 commented on #48575
@jensam In that case, is it ok to close out this issue? As Omkar mentioned above you need to restart everything and reinitialize a new process group or use torchelastic.

[2020-12-03 00:31] pritamdamania87 commented on #48576
@lezasantaizi How many GPUs are you using here and are you tuning the learning rate/batch size accordingly to accommodate for multiple GPUs?

Sharing this note from the [DDP documentation](https://pytorch.org/docs/stable/generated/torch.nn.parallel.DistributedDataParallel.html#torch.nn.parallel.DistributedDataParallel):

[2020-12-03 00:31] fathia-ghribi commented on #4827
when i run import torch , an error occurs ModuleNotFoundError: No module named 'torch'.

[2020-12-03 00:56] #48617 closed

[2020-12-03 00:59] trias702 commented on #47038
I'd just like to say that I too am getting this error on Ubuntu 18.04 and 16.04 with PyTorch 1.7 built against CUDA 11.0 (am using the one from the official repo, not a custom compiled one). No matter what I do, I cannot get PyTorch to see and load in the CUDA I have installed. I have tried CUDA 11.0 and 11.0-Update1, neither works, I have also tried 3 different NVIDIA drivers, and that doesn't fi

[2020-12-03 01:03] pritamdamania87 commented on #48466
Might be related to: https://github.com/pytorch/pytorch/pull/46624, the 0 seems to be indicating the associated value of the enum. cc @xuzhao9

[2020-12-03 01:05] mcarilli commented on #48748
@mruberry https://www.youtube.com/watch?v=rmwe54CkKQw

@xwang233 what nsight systems command did you use to make the profiles you gave me?

@robieta I think 32 is a small batch size for the network on A100.

[2020-12-03 01:15] gunandrose4u commented on #48535
@huwei1024 , looks like your submodule fbgemm need to be updated. Can you update your submodule fbgemm same commit as the one in master branch?

[2020-12-03 01:27] stas00 opened #48760 "[online docs] anchors to source code are missing"
## 📚 Documentation

Anchors to the source code seem to have disappeared. For example:

1. Go to https://pytorch.org/docs/stable/generated/torch.nn.Module.html#torch.nn.Module.eval
2. Click [Source] on the right, which sends you to:

https://pytorch.org/docs/stable/_modules/torch/nn/modules/module.html#Module.eval

and this anchor doesn't exist

I don't see any anchors in the HTML:
[code]

in 1.6.0

[2020-12-03 01:31] mruberry commented on #48747
Thank you for reporting this issue, @ArthurFirmino. I suppose a workaround would be to load from the stream into an intermediate buffer and call torch.load on that?

Changing this behavior would be BC-breaking, but it seems unlikely that anyone is relying on it.

[2020-12-03 01:39] thematrixduo commented on #48709
Thanks! Loading with single workers identifies the issue. I identified a corrupted video file that is causing the error for ffmpeg.

[2020-12-03 01:39] #48709 closed

[2020-12-03 02:27] #44206 closed

[2020-12-03 03:04] ezyang opened #48763 "BoxedKernelWrapper triggers MSVC bug in internal Windows build"
Steps to reproduce: patch in https://github.com/pytorch/pytorch/pull/48718/commits/ac563715716a0778410dc8444e55c338a3bf961c most relevant segment is

[code]

Run build-arvr-diff-windows job (FB internal). Triggers this error:

[code]

Open source Windows MSVC does not seem to have any problems. Internal build appears to be running MSVC 15.9.12 (for reference, our standard OSS Windows build is MSVC

[2020-12-03 03:04] ezyang commented on #48763
cc @bhosmer @smessmer

[2020-12-03 03:07] KsenijaS commented on #47182
@oneway234  can you try replacing the line: https://github.com/oneway234/torch_to_onnx/blob/f781fbdd8a52359ddc549c1ecbb3f18169441f8c/signal_processors/utils.py#L39
[code]
with
[code]
This is only a workaround to unblock you while I'm working on fixing this permanently.

[2020-12-03 03:15] r-barnes opened #48764 "gradcheck doesn't provide an index"
## 🐛 Bug

In console output I see
[code]

## Expected behavior

I expect to see, e.g.,
[code]

[2020-12-03 03:16] shakjm commented on #48714
I apologize. I've updated the link again. Apparently I've tried running my simulations last night. Both on Setup A and Setup B. However, the new RTX 3090 gives me NaN for loss. Anyone has any ideas around this issue? :/

[2020-12-03 03:38] mcarilli commented on #48049
@stas00  `is_leaf()`, as far as I know, checks if the tensor has any autograd history (@albanD knows more).  If we're not under no_grad, you're probably right:  `arg.is_leaf()` suffices to tell us if an incoming param is a static model param in most cases.

But if we are under no_grad, all newly created tensors pass the `arg.is_leaf()` check, because they don't have autograd history.  If we get ri

[2020-12-03 04:00] stas00 commented on #48049
Thank you for the detailed explanation, @mcarilli.

Following this discussion it sounds like the main problem here is that there is an expectation that `autocast` is supposed to magically optimize everything - and everything is different, so as you all have been saying this is an impossible task, and battles have to be picked.

Would the developers consider adding some manual options in addition t

[2020-12-03 04:00] ngimel commented on #48714
It still contains no actionable information. Please provide scripts to reproduce nan loss/bad performance. You should not expect relative performance on one workload to translate to another.

[2020-12-03 04:12] seemethere commented on #47622
Link to landed master pr: https://github.com/pytorch/pytorch/issues/48618
Link to cherry pick PR: https://github.com/pytorch/pytorch/pull/48768
Criteria Category: Special dispensation (fixes cpp extension building for windows for Python 3.9)

[2020-12-03 04:30] dhruvbird commented on #48510
Currently, PyTorch doesn't support on-device Training (only inference).

[2020-12-03 04:30] #48510 closed

[2020-12-03 04:32] DebadityaShome commented on #4827
@fathia-ghribi Can you give more details which OS / Environments are you using?

[2020-12-03 04:34] dhruvbird commented on #47927
@peter197321  The PyTorch Mobile wiki contains information about how to build PyTorch only for mobile. Please see https://pytorch.org/mobile/android/#building-pytorch-android-from-source (for how to build from source for Android).

[2020-12-03 04:34] #47927 closed

[2020-12-03 05:12] dhruvbird commented on #43488
@un-knight If you are using custom build as mentioned in https://pytorch.org/mobile/android/#custom-build then you can manually add the operator name in the generated YAML file before building. Are you using custom build in the first place?

[2020-12-03 05:14] dhruvbird commented on #40906
@HumberMe Q. What is SRU?

[2020-12-03 05:14] bhosmer commented on #48763
No time to dig rn but a couple quick notes:
1. The immediate cause of both errors in the snippet (152) is `static_assert(sizeof(FuncType) != sizeof(FuncType)`, which is there only to generate additional error content when none of the valid specializations have triggered.
2. Most likely this means that fixing the immediate cause of the error (e.g. by just doing away with the helpful static assert)

[2020-12-03 05:18] #48165 closed

[2020-12-03 05:40] jiangzhiwei2018 opened #48770 "How can I find a function to calculate correlation coefficient matrix like numpy.corrcoef () in pytorch?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2020-12-03 05:44] #43455 closed

[2020-12-03 05:47] ZolotukhinM opened #48771 "[TensorExpr] Convert all logging statements in LLVM codegen to jit-logging infrastructure."
## 🚀 Feature
LLVM codegen in the TensorExpr fuser currently has some debug logging that's guarded with `ifdef`s. We should instead be using `GRAPH_DEBUG` statements, like we do in all other places in the TorchScript codebase (these statements can be turned on without rebuilding pytorch in contrast to the ifdefs).

## Source pointers
* One of the places using `#if DEBUG_PRINT`: https://github.com/p

[2020-12-03 05:50] soumith commented on #47702
this conversation is super unproductive.

PyTorch stands for pragmatism. We have finite engineering time, and whatever works best for our users in terms of flexibility, user-friendliness, performance and support is first priority for us. We don't really try to stand for or promote a viral open-source philosophy such as GPL.

- We will not do OpenCL, as outlined in https://github.com/pytorch/pytorc

[2020-12-03 06:12] shakjm commented on #48714
Hi ngimel, I'm not sure if the scripts would be easily reproducible as you would require data to do so. I will attach the github link for everyone's reference. I'm also running it on windows (which should be easier to configure than ubuntu I suppose?) I've downloaded the latest driver and CUDA as well. So far, there are no NaNs yet, but the loss is not converging. May I know if there are any diffe

[2020-12-03 06:12] bakaito commented on #4827
If it's a jupyter notebook and you have installed pytorch in a different
environment than the default one, make sure you activate the one where
pytorch is installed (conda activate <env_name>)

On Thu, Dec 3, 2020 at 10:02 AM Debaditya Shome <notifications@github.com>
wrote:

[2020-12-03 06:14] shaibagon commented on #37718
@twoertwein and @eellison my 2 cents: In my experience, `ModuleList` and `ModuleDict` are used as _containers_ for modules, and more often that not the stored modules are _not_ intended for parallel run on the same inputs.

The idea of leaving  `ModuleList` and `ModuleDict` as-is but allowing to easily derive "parallel" classes from them seems like the right course of action.

[2020-12-03 06:22] huwei1024 commented on #48535
i clone the repository again, got this error:

--
-- ******** Summary ********
-- General:
--   CMake version         : 3.18.4
--   CMake command         : C:/Python/Python38/Lib/site-packages/cmake/data/bin/cmake.exe
--   System                : Windows
--   C++ compiler          : C:/Program Files (x86)/Microsoft Visual Studio/2019/Enterprise/VC/Tools/MSVC/14.27.29110/bin/Hostx64/x64/cl.exe
--

[2020-12-03 06:42] shakjm commented on #48714
I think I've been able to pinpoint where it is causing an issue to my models. However, it actually works in the previous versions of pytorch. Can I get some idea on which part of the code that's causing this issue ? When I removed this class from my model, my model's loss function tends to converge as usual.

`class QubicAttention_3d(nn.Module):
    """ Criss-Cross Attention Module"""
    def __in

[2020-12-03 06:47] ngimel commented on #48714
cc @ptrblck for convergence issues. So your model converges with pytorch 1.7 on 3080, and does not on 3090? Still, without a repro script not a lot can be done.

[2020-12-03 06:56] shakjm commented on #48714
Sorry ngimel, may I know what's a repro script and how I can generate it for diagnosing this issue? I might have misunderstood it as the script that I'm running (my model).

As for the convergence issue, when the attention class was added to my model, the loss does not converge on my RTX 3090. However, it works fine on my 2x RTX 2080 TI. Hope that makes everything clearer now. I apologize if it wa

[2020-12-03 07:36] linjiapro commented on #48636
I tried multiple times to reproduce this but failed. This might be a one-off event. Let me close it.

[2020-12-03 07:36] #48636 closed

[2020-12-03 07:41] ptrblck commented on #48714
@shakjm a repro script can be used to reproduce the issue. It should contain your model as well as the training setup, so that we can use the mentioned GPUs and compare the convergence on our systems.
Without a repro script we won't be able to debug the convergence issue besides checking, if the posted attention model calls into faulty kernels using your current lib versions.

Could you provide yo

[2020-12-03 07:53] ptrblck commented on #26218
@williamFalcon If I understand the issue correctly, you are using pure FP16 training by calling `model.half()` in PyTorch Lightning and suggest to increase the `eps` values for `Adam` for these FP16 parameters or are you seeing the same issue using `amp`?

[2020-12-03 08:10] fathia-ghribi commented on #4827
My OS : Windos 10 ,  i use anaconda and jupyter notebook

[2020-12-03 08:11] robieta commented on #48748
Can you give https://github.com/pytorch/pytorch/pull/48776 a try and see if it helps?

[2020-12-03 08:12] shakjm commented on #48714
Apologies, as the Question category did not have this link to the script. I have gotten it from the Bug report section and have attached both the Setup's script for your reference.

Setup A's Script
<details>
  <summary>Setup A's script</summary>
  PyTorch version: 1.6.0
Is debug build: False
CUDA used to build PyTorch: 10.1
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.1 LTS (x86_64)
GCC vers

[2020-12-03 08:14] fathia-ghribi commented on #4827
I created an environment named 'test', after I executed the command: conda activate test, when I run import torch,an error occurs ModuleNotFoundError: No module named 'torch'.

[2020-12-03 08:15] ptrblck commented on #48714
The model code looks alright besides the undefined `layers_se`. Are you using any methods or classes from this star import?
Are you using a publicly available dataset (or one from e.g. `torchvision`)?

[2020-12-03 08:20] oneway234 commented on #47182
@KsenijaS
Thanks! I will replace it to unblock.

And, it's glad to know that the issue will be fix in future!

[2020-12-03 08:24] shakjm commented on #48714
Yeap! I have attached the codes as below. However, the model seems to work very well when I remove QubicAttention from the codes where I've appended it in block. When QubicAttention is introduced, Setup B tends not to work as it should as shown in Setup A. The dataset that I'm using is actually based on LUNA16 challenge datasets that is not present in torchvision, as it needs to be further preproc

[2020-12-03 08:32] kingder commented on #22741
Thanks for looking into it, seems like a cuDNN issue.

[2020-12-03 08:32] #22741 closed

[2020-12-03 09:17] #48575 closed

[2020-12-03 09:17] r-t-m commented on #48575
@pritamdamania87 @osalpekar thanks for the suggestions!

[2020-12-03 09:22] mark-arm opened #48778 "Optimizer does not support passing a dict as 'params'"
The docstring states:

However what the code actually does is this:

`param_groups = list(params)`

Reference: https://github.com/pytorch/pytorch/blob/c7746adbc6e6ace9d4c2b54e32c8d36a7b7b0e31/torch/optim/optimizer.py#L45

Creating a list of a dict will actually just create a list of its keys. This is not a dict, so the subsequent code will then create a new dict with the key 'params' and value thi

[2020-12-03 09:28] xwang233 commented on #48748
Thanks for the work in #48776 . I merged that onto current master at 79b9c034656652cad838a15094536fe38344ab2c. The performances before and after the PR are nearly the same, and still off from the commit before #37091.

[2020-12-03 09:29] bakaito commented on #4827
How is pyrotechnics installed? Have you tried Activating the environment
before installing pytorch too?

On Thu, 3 Dec 2020 at 1:44 PM, fathia-ghribi <notifications@github.com>
wrote:

[2020-12-03 09:29] bakaito commented on #4827
*pytorch

On Thu, 3 Dec 2020 at 2:58 PM, Samhitha Vadlamani <vadlamani.bits@gmail.com>
wrote:

[2020-12-03 09:36] #48778 closed

[2020-12-03 09:37] mark-arm commented on #48778
Misread the documentation, it should be an iterable of dicts. Nothing wrong here 👍

[2020-12-03 09:39] raisinglc opened #48779 "[libtorch] tensor.to(torch::Device(torch::kCPU)) is VERY SLOW"
ENV:
libtorch (1.7.0) cuda 10.1
windows 10
vs 2017
Memory: 16G
GPU Memory : 2G
GPU: 850m (it's old.)

I am working on developing with libtorch, but the execution time is very long for a single inference (400 ms). My model ist a backbone of resnet34 with some head architecture. I print out the execution time.

method:
<time.h>
clock()

WARMING UP:
pre-process(on CPU) + sent input to GPU: 30 ms
forw

[2020-12-03 09:41] fathia-ghribi commented on #4827
i tried with  (https://pytorch.org/get-started/locally/)
but
![image](https://user-images.githubusercontent.com/73582705/100992046-fdb53100-3553-11eb-9197-4364faae1642.png)

[2020-12-03 10:04] sungreong opened #48780 "[BUG] torch jit save / AssertionError: Expected Module but got <class 'method'>"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. define the model ( index_info is dict format)
index_info has a position information

EmbeddingLayer is another torch class

[code]

2. save the torch model using jit

there has some error
[code]

3.  AssertionError occurs

[code]

## Expected behavior

save model

## Environment

Please copy and paste the output from our
[environment

[2020-12-03 10:43] #43837 closed

[2020-12-03 11:48] liyiyu36 commented on #47569
I uninstalled the dataclasses, and the error remians, throwing the same message.

[2020-12-03 12:18] nairbv commented on #48706
What's the particular assert that fails? To clarify, is it that test_inverse on GPU fails on slightly different random input, where the random input generator used MKL?

If the issue is that inverse is amplifying slight differences in a function it directly relies on, we might have to accept that tolerance change, but I would typically expect tests to be resilient to slightly different input tenso

[2020-12-03 12:22] shakjm commented on #48714
Hi just an update, I've been running the model without any attention class. However, the same nan loss issue still occurs. However, this time, there's an error after having 100 over iterations of nan losses :

RuntimeError : CUDA error : the launch timed out and was terminated.

Any reason why this occurs? I'm clueless.

[2020-12-03 13:38] #48716 closed

[2020-12-03 14:27] albanD commented on #48049
Reopening as the PR was just a quick fix and more might need to be done

[2020-12-03 14:43] ezyang commented on #48763
@bhosmer To adjust priority: I'm ditching the implementation strategy that lead to this problem, so it is not urgent to fix. Since I patched out the problem in my PR, I've adjusted the description above to point to the specific intermediate commit that had this comment.

I don't think the error has to do with the static assert, because we ought to have compiled the same call (with same template ar

[2020-12-03 14:43] ezyang commented on #48763
I do think it's worth durably recording this problem because we DO need to support this internal Windows build, so we have to make sure we avoid this compiler bug.

[2020-12-03 14:47] ezyang commented on #47569
Can you post the "same" new error message? If you uninstalled dataclasses there should no longer be files at `~/.local/lib/python3.8/site-packages/dataclasses.py`

[2020-12-03 14:55] #47443 closed

[2020-12-03 15:01] penguinwu opened #48784 "[NNC] let `tensorexpr::Dtype::scalar_type` use `c10::ScalarType`"
**Problem description**

`Dtype::scalar_type` currently is defined as `tensorexpr::ScalarType`
[code]

Since `c10::ScalarType` defines more utility functions than `tensorexpr::ScalarType`, some times one needs to explicitly do `static_cast<c10::ScalarType>(...)`. @bertmaher suggested to replace make `tensorexpr::Dtype::scalar_type` to use `c10::ScalarType` directly (see the discussion [here](https

[2020-12-03 15:10] Lilyjjo opened #48786 "Improve assertAutodiffNode error message"
The error message created in PR #48567 for assertAutodiffNode can be improved by looking at the comments on the PR. Improving the error message will improve contributors' UX.

cc @gmagogsfm

[2020-12-03 15:24] tlk2abhishek commented on #25088
Exporting the operator max_unpool2d to ONNX opset version 11 is not supported.

Please let me know if this issue has got fixed ?
Is there any work around solution available for this issue.

[2020-12-03 15:42] frederikschubert commented on #47885
This is is caused by the topology of your CUDA devices. You can see it via the following command:
[code]
If the CUDA devices are not connected via a `SYS` connection, NCCL will throw your error.

[2020-12-03 16:14] heitorschueroff commented on #8091
@cya410, please open another issue under pytorch/examples if this is still ongoing.

[2020-12-03 16:14] #8091 closed

[2020-12-03 16:28] heitorschueroff commented on #8024
@kyuusaku I'm closing this issue, feel free to reopen if it is still a problem for you.

[2020-12-03 16:28] #8024 closed

[2020-12-03 16:44] heitorschueroff commented on #48779
Hi @raisinglc, it would be very helpful if you could post a script of your test. One possibility that comes to mind is that your measurement for the forward propagation is not synchronizing the CUDA device so when you move the data back to the CPU you have to wait for the computation for finish first.

[2020-12-03 16:49] heitorschueroff commented on #48770
Closing this issue. Please, post your question in our discussion forum.

[2020-12-03 16:49] #48770 closed

[2020-12-03 17:06] Flamefire commented on #48591
Building with `DEBUG=1` is a bit tricky due to an error

When disabling the build of that I was able to confirm the issue does not exists at `-O0`. This is expected. When not optimizing the check used is a pretty much literal `if(a < b) use a; else use b;` which is always false (and hence uses b) when any of a/b is NaN. With optimizations this is replaced (maybe) by a single `min(a,b)` instruction

[2020-12-03 17:06] maridia opened #48793 "Weight_decay in torch.Adam"
## 📚 Documentation

In the current [pytorch docs for torch.Adam](https://pytorch.org/docs/stable/optim.html), the following is written:

"Implements Adam algorithm.

It has been proposed in [Adam: A Method for Stochastic Optimization](https://arxiv.org/abs/1412.6980). The implementation of the L2 penalty follows changes proposed in [Decoupled Weight Decay Regularization](https://arxiv.org/abs/1711

[2020-12-03 17:14] ngimel commented on #48714
Can you try setting `matmul` or both (matmul and cudnn) allow_tf32 flags to False on 3090?
[code]

[2020-12-03 17:37] lutzroeder opened #48795 "RuntimeError: Python type cannot be used as a value:"
## 🐛 Bug

[code]

## To Reproduce

[code]

[code]

## Environment

Collecting environment information...
PyTorch version: 1.8.0.dev20201203
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: macOS 11.0.1 (x86_64)
GCC version: Could not collect
Clang version: 12.0.0 (clang-1200.0.32.27)
CMake version: version 3.19.1

Python version: 3.9 (64-bit runtime)
Is C

[2020-12-03 17:39] mruberry commented on #48760
cc @brianjo, too

[2020-12-03 17:41] malfet commented on #48763
Grabbing for myself as I'm working on another Windows related regression in https://github.com/pytorch/pytorch/issues/48517

[2020-12-03 17:42] lutzroeder commented on #48795
[code]

[code]

[2020-12-03 17:51] ptrblck commented on #48706
The test fails e.g. with:
[code]

Yes, that's what we are observing by updating MKL. Also, as mentioned before, the used CPU architecture seems to be important in this case.

Let me try it out. Also, I'll check, if creating the `random_fullrank_matrix` in `float64` always could get rid of the issue (the default is set to `float64`, but the test overrides it to `float32`).

[2020-12-03 18:16] spandantiwari commented on #48646
Not sure what the issues is here.
From the title it seems that you are using 1.2. Please upgrade to the latest PyTorch as several updates to ONNX export have gone in since then.
If you still see any issues, please open an issue with detailed description and repro.

[2020-12-03 18:16] #48646 closed

[2020-12-03 18:22] malfet commented on #48795
@lutzroeder is this specific to Python-3.9 or can you reproduce it with 3.8?

[2020-12-03 18:26] spandantiwari commented on #8025
Why is it not exported to ONNX?

@mfojtak - I am not sure what you mean by "it is not exported".

For example, %5 is a float tensor of shape (64, 100) and it should be fine in the exported ONNX graph as well.

Are you seeing any issue running the ONNX model?

If there's any issue in visualizing/printing the ONNX graph using ONNX helper APIs, the best place to report that is in the onnx/onnx repo.

[2020-12-03 19:03] #46743 closed

[2020-12-03 19:26] heitorschueroff commented on #47594
Hi @AidanKenney, thank you for your interest but the PR https://github.com/pytorch/pytorch/pull/47724 already fixes it.

[2020-12-03 19:46] AidanKenney commented on #47594
Understood, thanks @heitorschueroff I hope to contribute on a different issue soon!

[2020-12-03 19:54] #42115 closed

[2020-12-03 19:54] #45746 closed

[2020-12-03 19:57] smessmer commented on #48246
Can `torch.register_runtime` be kept outside of torch and be `ipex.register_runtime()` instead? It would be nice if that kind of thing could be done out of tree. If not, what would we have to change in-tree at the minimum to make an out of tree implementation possible?

[2020-12-03 19:58] bhosmer commented on #48763
@ezyang yeah, definitely an MSVC bug. We've already upgraded our way past similar problems, it appears to (have) be(en) a soft spot :)

It's almost certainly true that the static assert is just a cascading error - and yeah agree, lambda capture would be one of the first things to push around if we were trying to find a workaround. But happy if we don't need to for your stuff :)

[2020-12-03 20:12] SF0220 commented on #48510
Thank you for your reply! Actually, I am working with a Federated ML research group and focusing on doing training on mobile or IoT. May I ask what work needs to be done to support training on mobile with PyTorch? Or would you like to co-work with us FedML to explore this project? I believe this would be an interesting direction and make PyTorch more powerful in ML. @chaoyanghe

[2020-12-03 20:44] #48764 closed

[2020-12-03 21:14] lutzroeder commented on #48795
`torchvision-0.2.2.post3` is what gets installed on M1 Big Sur when running `pip install --upgrade --pre torchvision -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html`.

[code]

[2020-12-03 21:22] rohan-varma opened #48804 "Improve torch.distributed.new_group() documentation in the context of SyncBatchNorm"
## 📚 Documentation

In current documentation for using subgroups other than the whole world in SyncBatchNorm: https://pytorch.org/docs/stable/generated/torch.nn.SyncBatchNorm.html#torch.nn.SyncBatchNorm.convert_sync_batchnorm, it is not clear that when creating subgroups, every rank still needs to make the call regardless of whether they are in the group or not, as per the docs in https://pytorch.

[2020-12-03 21:41] chaoyanghe commented on #48510
@dhruvbird Hi, may I have a private discussion with your team? I am working on-device training project https://fedml.ai. We hope to collaborate with you.

[2020-12-03 21:44] robieta commented on #48748
I have a theory about why. `nn` layers use `Parameter`, rather than `Tensor`, so they take the slow path to check.

[code]

[code]

[2020-12-03 22:33] #48795 closed

[2020-12-03 22:46] #47570 closed

[2020-12-03 23:26] jerryzh168 opened #48813 "inception_v3 is not symbolically traceable"
[code]

Error:
[code]

[2020-12-04 00:27] ClashLuke commented on #21819
I did some more debugging on this issue, and I've come to the conclusion that it can also be a hardware failure, instead of a problem with PyTorch.

OS: Windows 10 (Build: 19041.450)
NVIDIA Driver: 457.51 (with CUDA 10.2)

Running any model works perfectly fine on the default memory clock. However, after overclocking the GPU to 4550 MHz, it suddenly gets these errors _sometimes_. I never had an is

[2020-12-04 00:56] wconstab commented on #48780
@sungreong Thanks for reporting this issue.  I tried to reproduce but the code you provided above isn't complete.  I tried implementing EmbeddingLayer but did not get the same error as you did.  Could you update to provide a fully runnable repro script?

[2020-12-04 00:58] wconstab commented on #7968
@jamesr66a @zdevito is this still something we want to do? looks like it got mysteriously revived from the dead.

[2020-12-04 01:14] pritamdamania87 commented on #48804
Don't the docs already mention this:

[2020-12-04 01:29] rohan-varma commented on #48804
I meant the docs/example in sync_batchnorm itself: https://pytorch.org/docs/stable/generated/torch.nn.SyncBatchNorm.html#torch.nn.SyncBatchNorm.convert_sync_batchnorm, where the example doesn't really show that very clearly.

[2020-12-04 01:34] TigerChen2 commented on #47354
Python3.9.0 has the error but 3.8.6 doesn't have the error on window10.

[2020-12-04 02:45] iimmer opened #48818 "normal distribution torch.exp(log_prob(x)) return a probability > 1"
why a normal distribution  return a  probability > 1 sometimes ?

tensor(-0.1572)

tensor(1.1591)

Why the probability greater then 1?
Did I miss something?

[2020-12-04 02:52] Kyeongpil commented on #35458
@zhangguanheng66 Sorry for the late response.
I think it is hard to implement Shared-QK attention using the nn.MultiheadAttention module.
Because shared-QK attention sets k_j = \frac{q_j}{||q_j||} and prevents tokens from attending to themselves.
However, all query and key vectors are calculated using F.multi_head_attention_forward in nn.MultiheadAttention.

[2020-12-04 03:03] mc261670164 opened #48820 "torch::jit::load crashes on large model"
## 🐛 Bug

Hi,
     when I use the LibTorch(1.7) to load my trained model, It crashed.When I use it to load a model of 44M, it wokrs well, but when I use it to load a yolov5x model (344M).
![1](https://user-images.githubusercontent.com/30143189/101116549-4fc38880-3620-11eb-9738-b22033a5aa2d.png)
     How can I fix it? Thanks!

cc @gmagogsfm

[2020-12-04 04:00] malfet commented on #48517
This compilation failure can be fixed by adding a const qualifier to `CompositeRandomAccessor::operator*()`

[2020-12-04 04:28] ptrblck commented on #48793
Additional context: issue was discussed [here](https://discuss.pytorch.org/t/weight-decay-in-torch-adam/104942/4?u=ptrblck) and the author would be interested in creating a PR with some support.
If the change is applicable, feel free to ping me to discuss how to create the PR.

[2020-12-04 04:45] SsnL commented on #48818
this is a continuous distribution. density can be larger than 1

[2020-12-04 05:29] viswaradhreddy commented on #48452
@malfet As this for unit test I am running on the simulator.
its working fine until including the LibTorch.

I also tried the demo app with only LibTorch ,its working fine. After including the Quick library its started crashing in the demo app too.

[2020-12-04 05:41] shakjm commented on #48714
Hi ngimel, noted with thanks. I'll try this out and update you both accordingly. Thank you so much for the help, I really appreciate it.

[2020-12-04 06:11] #48818 closed

[2020-12-04 06:32] lezasantaizi commented on #48576
there are 4gpus in each ; and my confusion is the problem of deterministic model. @osalpekar has solved my confusion;

[2020-12-04 06:53] stas00 commented on #48049
Now that the nightly binary build was updated I verified that both the short reproduction script in the first comment and the original application where I discovered this leak no longer have the leak, and I get about 30% speed increase with `--fp16` - yay!

[2020-12-04 06:56] stas00 commented on #48049
Is this fix going to be added to 1.7.x or just 1.8.0?

[2020-12-04 07:10] Davidrjx commented on #48555
below screenshot is crash dump stack trace of the task at that time,
![image](https://user-images.githubusercontent.com/4284791/101132635-49de9f00-3642-11eb-88fb-275bfa599cde.png)

[2020-12-04 07:27] #43665 closed

[2020-12-04 07:51] liubamboo commented on #11886
I have the same bug. Anybody can help?
I run command below:
git clone --recursive -b v1.0.1 https://github.com/pytorch/pytorch
cd pytorch && mkdir build && cd build
python ../tools/build_libtorch.py

And a bug appears:
-- Found CUDA: /usr/local/cuda (found suitable version "9.0", minimum required is "7.0")
-- Caffe2: CUDA detected: 9.0
-- Caffe2: CUDA nvcc is: /usr/local/cuda/bin/nvcc
-- Caffe2: C

[2020-12-04 08:31] rohan-varma commented on #46564
@H-Huang Can we close out this issue?

[2020-12-04 08:37] rohan-varma commented on #47832
@Hznnn Are you still experiencing the issue? It would be great to get the model (or a condensed version of it if you cannot share) and training script and launch method, so that we can fully reproduce and dig into the error.

[2020-12-04 09:03] songyuc commented on #43101
Hi, @mruberry, I implemented one myself with `torch` and `numpy`, as,
Input: tensor, the prediction of words.
Output: list, list of sentences.
Do you think it is appropriate?

[2020-12-04 09:06] gccollect commented on #29383
Unfortunately it doesn't

[2020-12-04 09:13] songyuc opened #48830 "Please add "dim" feature for function "torch.masked_select""
## 🚀 Feature

A `dim` feature can be added for function `torch.masked_select`.

## Motivation

I think it will be more convenient if we can have a "dim" parameter in `torch.masked_select`.
There is a scenario as we have these three tensors,
labels: [N]
scores: [N]
boxes: [N,4],
and we can get the indexes like, `bool_mask = labels== 2`.
Then we can select `labels` and `scores` as,
[code]
So, I want

[2020-12-04 09:24] IvanYashchuk opened #48831 "Enable linear algebra functions on ROCm platform"
## 🚀 Feature
PyTorch shipping with linear algebra functionality on AMD GPUs via the [hipMAGMA](https://icl.utk.edu/magma/software/browse.html?start=0&per=5) library. The ability to run the same code that uses linalg functions on Nvidia and AMD GPUs.

## Motivation

Dense linear algebra is used in many applications of scientific computing. In the High-Performance Computing world, AMD is gaining pop

[2020-12-04 10:26] peterjc123 commented on #11886
@liubamboo What do you mean? The warning itself is real and I think it's pretty self-explanatory.
[code]

[2020-12-04 10:29] mruberry commented on #41688
We have added torch.linalg.eigh and I believe it address this issue. When I run the above here's what I see for eigenvalues:

[code]

[2020-12-04 10:34] peterjc123 commented on #48724
@bdhirsh The easiest workground is that you use the Release configuration with the additional compiler flag `/Zi` and the additional linker flag `/DEBUG:FULL`.

[2020-12-04 10:36] briankosw opened #48832 "cudnn cannot be pickled by cloudpickle"
## 🐛 Bug

I was spawning parallel processes using Joblib for training distributed PyTorch code, and I get the error that the cudnn object cannot be pickled. After pruning as much extraneous code as possible, I've identified that cloudpickle is unable to pickle cudnn, as demonstrated in the minimal repro below:

## To Reproduce

[code]

[code]

## Expected behavior

If you use Python's native pickl

[2020-12-04 10:37] peterjc123 commented on #48724
@bdhirsh The easiest workground is that

This sounds interesting. Any thoughts, @ezyang ?

[2020-12-04 10:44] peterjc123 commented on #48535
@huwei1024 Well, the message you provided is very useless. Would you please provide the full log? BTW, may I ask why do you want to build it from source?

[2020-12-04 10:48] peterjc123 commented on #48527
Wait for the merge of https://github.com/pytorch/builder/pull/600.

[2020-12-04 11:07] Svalorzen commented on #17492
Is there still no way to install an official pip wheel with the new ABI, so that the version released for C++ and the version released for Python are by default compatible? Is there an issue that tracks this?

[2020-12-04 11:19] chengjunlu commented on #48246
@smessmer We are working on the RFC for the runtime registration. And your suggestion will be taken into consideration.

[2020-12-04 12:02] datumbox opened #48835 "error: a member of type "const c10::Symbol" cannot have an in-class initializer on Windows"
## 🐛 Bug

PR #48717 replaced `constexpr` with `CONSTEXPR_EXCEPT_WIN_CUDA` to resolve some of the problems on CUDA+Windows for TorchVision as discussed at pytorch/vision#3051. Unfortunately we continue having issues:
[code]

I believe we need to move the initialization outside of the class on the following two places:
https://github.com/pytorch/pytorch/blob/0484b048d050ea5b10cb0efd147148aa893f2a4b/

[2020-12-04 12:35] nikitaved commented on #48572
There are common issues with most PyTorch routines which are inherited from LAPACK/MAGMA  - not all of them handle rand-deficient cases.

I think if the uses intentionally uses a LAPACK routine and is aware of its limitations, it is fine to just return a LAPACK error.
If we are to introduce a flag to handle rank-deficient cases, then we need to support `solve` for general matrices.
The algorithm c

[2020-12-04 12:40] gemfield commented on #14367
If you got "PyTorch is not linked with support for cuda devices”, and is using libtorch static library, that is because the cuda registration (C10_REGISTER_GUARD_IMPL(CUDA, CUDAGuardImpl)) is in compile unit CUDAGuardImpl.cpp.o, which will be ar to libc10_cuda.a. make sure use -Wl,--whole-archive on libc10_cuda.a during link phase.

[2020-12-04 12:41] gemfield commented on #33435
If you got "PyTorch is not linked with support for cuda devices”, and is using libtorch static library, that is because the cuda registration (C10_REGISTER_GUARD_IMPL(CUDA, CUDAGuardImpl)) is in compile unit CUDAGuardImpl.cpp.o, which will be ar to libc10_cuda.a. make sure use -Wl,--whole-archive on libc10_cuda.a during link phase.

[2020-12-04 12:41] gemfield commented on #48291
If you got "PyTorch is not linked with support for cuda devices”, and is using libtorch static library, that is because the cuda registration (C10_REGISTER_GUARD_IMPL(CUDA, CUDAGuardImpl)) is in compile unit CUDAGuardImpl.cpp.o, which will be ar to libc10_cuda.a. make sure use -Wl,--whole-archive on libc10_cuda.a during link phase.

[2020-12-04 12:52] BossRobin commented on #16417
减少batch_size，或者减小max_length

It works for me, thanks

[2020-12-04 13:11] rgommers commented on #48572
Thanks for the explanation @nikitaved. So the options seem to be:

1. Clearly document current behavior, and let the user deal with the problem themselves. The docs at https://pytorch.org/docs/master/linalg.html do not mention rank deficiency at all yet - seems important.
2. Add some safeguards like @nikitaved proposes unconditionally.
3. Add some safeguards that can be enabled/disabled by the use

[2020-12-04 13:40] #48527 closed

[2020-12-04 13:45] AlexanderMath commented on #42243
We report time for **both** forward pass and gradient computations, e.g., the time of ```torch.matrix_exp(A+A.T).sum().backward()```. We apologize for not making this clear. Note that the article was submitted and presented before PyTorch 1.7.0 introduced ```torch.matrix_exp```, we thus used your implementation of Padé approximation to make the plot https://github.com/Lezcano/expRNN. That said, th

[2020-12-04 13:50] AlexanderMath commented on #42243
We report time for **both** forward pass and gradient computations, e.g., the time of ```torch.matrix_exp(A+A.T).sum().backward()```. We apologize for not making this clear. Note that the article was submitted and presented before PyTorch 1.7.0 introduced ```torch.matrix_exp```, we thus used your implementation of Padé approximation to make the plot https://github.com/Lezcano/expRNN. That said, th

[2020-12-04 13:54] albanD commented on #48520
Hey,

That sounds good, I think we would be happy to add a Module and functional for the general case.
Could you share here what you think the API will look like just to make sure everyone is happy with that before you start implementing it?

[2020-12-04 13:56] Sundrops opened #48837 "the result of torch.addcmul(input, tensor1, tensor2, value) != the result of input​+value*tensor1​*tensor2"
## 🐛 Bug

- the result of torch.addcmul(input, tensor1, tensor2, value) != the result of input​+value\*tensor1​\*tensor2
- the results of torch.addcmul(input, tensor1, tensor2, value) in 1.5.1+cu101 and 1.2.0 are different

Impacted Files: https://github.com/pytorch/pytorch/search?l=Python&q=addcmul  many optimizers

## To Reproduce
https://pytorch.org/docs/stable/generated/torch.addcmul.html?high

[2020-12-04 14:11] albanD commented on #48049
This is only going to be in 1.8

[2020-12-04 14:19] nailimixaM commented on #48520
Great! Sure, I had the following in mind, trying to keep the same theme as the [Poisson NLL loss]:(https://pytorch.org/docs/stable/generated/torch.nn.PoissonNLLLoss.html#torch.nn.PoissonNLLLoss)

`
def gaussian_nll_loss(input, target, var, eps=1e-8, full=False, reduction='mean'):
        r"""Gaussian negative log likelihood loss.

        See :class:`~torch.nn.GaussianNLLLoss` for details.

[2020-12-04 14:29] albanD commented on #48520
That looks good!
We will want a bit more details for things like eps but we can discuss that on the PR.

Let me know if you want any guidelines on how to add this or have any question! You can just add me as a reviewer on the PR once you have it ready!

[2020-12-04 14:49] ezyang commented on #48748
@robieta ding ding ding, that sounds super plausible to me.

We actually did talk about this in code review: https://github.com/pytorch/pytorch/pull/37091#discussion_r433799872 but maybe the fast path didn't actually work.

[2020-12-04 14:50] pbelevich commented on #48835
Experiencing the same issue in [torchcsprng](https://app.circleci.com/pipelines/github/pytorch/csprng/688/workflows/4b2f7f7b-7ab5-4546-b1d4-41ddb84f016f/jobs/30439)

[2020-12-04 14:56] mhnatiuk commented on #43369
I was able to reproduce that, generally speaking, right now if smbd saved CUDA tensors using pickle and tries to load them on CPU-only machine (i.e. in a CI pipeline), pytorch fails with

[2020-12-04 15:14] hameerabbasi commented on #48748
Confirmed, working on fixing this in a PR now.

[2020-12-04 15:33] #37141 closed

[2020-12-04 15:46] SsnL commented on #48837
The difference is well below the order of 1e-5, which is expected for fp32 arithmetics. Afterall, floating point computation is not exact.

[2020-12-04 15:46] hameerabbasi commented on #48748
Sorry, false alarm. Fast path works for `Parameter` but not `UninitializedParameter` (which inherits from it), which does define `__torch_function__` (and is called in `test/test_nn.py`).

I just printed out something in `_disabled_torch_function_impl` to see if it was ever being called, I assumed it wouldn't ever be, but `UninitializedParameter` calls `super().__torch_function__` (so it is called

[2020-12-04 15:54] zhangguanheng66 opened #48839 "torch.save fails with pickler.dump for bytes"
## ❓ Questions and Help

This is probably not an issue with pytorch. I try to `torch.save` an ops with bytes from pybind11 pickle. Here is the pybind11 registration [link](https://github.com/zhangguanheng66/text/blob/sp_binding/torchtext/csrc/register_bindings.cpp#L68).

How do I `torch.save` the ops:
[code]

The error message I got:
[code]

[2020-12-04 15:56] cpluspluser commented on #29806
hi @IvanKobzarev , I am getting this error while I use your method.
Can you help me ?

`2020-12-04 23:54:27.561 21305-21305/com.example.hc.digitalgesturerecognition E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.example.hc.digitalgesturerecognition, PID: 21305
    com.facebook.jni.CppException: open file failed, file path: file:///android_asset/Ves230_DCL_CPU.pt (FileAdapter at /var/lib/

[2020-12-04 16:02] jeffdaily commented on #48831
We are actively working on this known deficiency.  One sticking point is how to package hipMAGMA.  CUDA MAGMA is installed in the PyTorch CI images using conda packages, but we do not have hipMAGMA conda packages.  We could build it from source as needed, but we would prefer a package option.

It sounds like you've done quite a bit of work already to integrate hipMAGMA?  Do you have notes or code

[2020-12-04 16:13] Lezcano commented on #42243
For what is worth, this is the time I get:
[code]
when running the following statement:
[code]
with `torch.utils.benchmark` on an `RTX 2080` with initialisation
[code]

I believe that the difference comes from the fact that the exponential of matrices takes longer to compute for matrices of larger norm. On the other hand, to do optimisation with orthogonal constraints, (or on an arbitrary manifold

[2020-12-04 16:27] ezyang commented on #48555
The backtrace is in a very well tested part of PyTorch, so unfortunately it's going to be hard to diagnose this problem with just the screenshot of the backtrace. Is there a self contained script we can try to reproduce with? I also notice you are on PyTorch 1.4.0, could you please try upgrading?

[2020-12-04 16:33] ezyang commented on #48748
UninitializedParameter should only be relevant for LazyModules, I don't think that's being used here?

[2020-12-04 16:38] bderrett opened #48841 "torch.multinomial selects elements with zero weight"
## 🐛 Bug

torch.multinomial sometimes selects elements with zero weight.

## To Reproduce

When I run this code, element 0 is often selected within 200 iterations on CPU and within 1000 iterations on CUDA:

[code]

## Expected behavior

An element with weight 0 is never selected.

## Environment

PyTorch version: 1.7.0+cu101
Is debug build: True
CUDA used to build PyTorch: 10.1
ROCM used to build

[2020-12-04 17:15] brianjo commented on #48760
Thanks for the report. I think we tracked down the issue. I should have a fix in today.

[2020-12-04 17:39] malfet commented on #48517
Closing, as it is already fixed by #47853

[2020-12-04 17:39] #48517 closed

[2020-12-04 17:49] kurtamohler opened #48842 "Support autograd in `torch.svd` with complex inputs"
## 🚀 Feature
`torch.svd` does not have autograd support for complex inputs.

## Motivation

While working on updating complex support for `torch.linalg.norm` and `torch.norm`, I noticed that the code paths that use `at::svd` underneath were throwing errors when given a complex input that requires grad, like the following:

[code]

## Pitch

Support autograd with complex inputs

cc @ezyang @anjali4

[2020-12-04 17:50] kurtamohler commented on #48842
I'd be happy to work on this, assigning myself

[2020-12-04 17:53] mrshenli commented on #47622
Placeholder for NCCL all2all, cc @mingzhe09088 @msbaines

[2020-12-04 17:56] min-xu-ai commented on #24005
@neonbjb very interesting numbers! What do you mean "consumer GPUs"? Why would that matter for gradient checkpointing?

FWIW, this test file contains various cases you can use checkpointing with DDP, including that cases it work and the cases it doesn't. https://github.com/facebookresearch/fairscale/blob/master/tests/nn/pipe/test_checkpoint_ddp.py

Again, I'd love to know more details about your p

[2020-12-04 18:02] neonbjb commented on #24005
By "consumer GPUs" I mean GeForce GPUs meant for gaming, which have GDDR6 or GDDR6X memory. I believe the reason for the performance boosts in these GPUs is that they have compute on par with server-grade GPUs but much slower memory. This makes it so that it is actually faster to re-compute many operations than it is to retrieve them from memory.

I've been meaning to do a writeup on this to "stir

[2020-12-04 18:05] ezyang opened #48845 "memory_format kwarg doesn't work on most factory functions"
[code]

[2020-12-04 18:17] ngimel commented on #48748
Definitely not.

[2020-12-04 18:22] pcgeek86 commented on #47116
Just hit this issue as well. Failing to install PyTorch on Python 3.9 on Windows 10.

I'm using the [scoop package manager](https://scoop.sh) to install Python and pip.

[code]

Results

[code]

[2020-12-04 18:40] malfet commented on #48841
Cannot reproduce it on machine running FC30, CUDA-10.1 (not that it matters in this case), Python-3.7  and PyTorch-1.7.0
@bderrett can you please share a bit more information about your system?

[2020-12-04 18:46] brianjo commented on #48760
Just landed a PR that should fix this. Please feel free to reopen an @ me if there are continued issues. Thanks!

[2020-12-04 18:46] #48760 closed

[2020-12-04 18:54] mruberry commented on #48842
We would definitely accept a PR implementing this ;)

[2020-12-04 19:22] malfet commented on #48841
Modified above example in a way that it reproduces in both 1.7 and 1.8:
[code]

[2020-12-04 19:25] migueLib commented on #17023
What's going on with the unusable download speeds from Germany?

[2020-12-04 19:27] mingzhe09088 commented on #47622
Link to laned master PR: #45900
Link to cherry pick PR: #48857
Criteria Category: Enable NCCL A2A on OSS (fixes duplicate NCCL linking issue)

[2020-12-04 19:37] #48294 closed

[2020-12-04 19:45] penguinwu opened #48860 "[NNC] Implement `abs` for integral types without promoting to float"
This is a follow-up issue for #48679, where I added missing data types (int and half) for `kFabs` by promoting those types into float when converting from Call expressions to `IntrinsicOps`. This does minimal surgery to the code but is not efficient because standard libraries already support `abs` for integral types.

This enhancement will make `kFabs` IR support integral types. In fact, both cuda

[2020-12-04 19:59] penguinwu commented on #48605
@huiguoo `abs` support is added in #48679 (PR not landed though), but please double check.

Missing integral type for `and` is fixed in #48179.

I will take Shift ops.

[2020-12-04 20:15] heitorschueroff commented on #9282
I re-enabled the einsum tests [here](https://github.com/pytorch/pytorch/pull/47860/files#diff-7e17421f32124016eb8de04dc2f445da5786a28355e1addc72b305466f590180R2474) by cloning the input that shared the storage.

[2020-12-04 20:28] mauricett commented on #19037
I would calculate the covariance like:

def cov(X):
    D = X.shape[-1]
    mean = torch.mean(X, dim=-1).unsqueeze(-1)
    return 1/(D-1) * (X - mean) @ (X - mean).transpose(-1, -2)

Works with batches of matrices too. And you can calculate correlation similarly:

def corr(X):
    D = X.shape[-1]
    std, mean = torch.std_mean(X, dim=-1)
    std = std.unsqueeze(-1)
    mean = mean.unsqueeze(-1)

[2020-12-04 21:22] #46405 closed

[2020-12-04 21:22] #46800 closed

[2020-12-04 21:22] penguinwu opened #48864 "[NNC] Handle `half` type in the backend instead of when converting to IntrinsicsOps"
## Issue description

To support half types in kernel functions, it is currently done in in `kernel.cpp` when we convert from `aten::xxx` node to `Intrinsics` node, e.g.,

[code]

Current implementation implies that `kFloor` does not support `half` natively. This could be inefficient for platforms w/ native `half` support (e.g., accelerators and gpus).

This feature would add `half` as valid input

[2020-12-04 23:14] gmagogsfm opened #48869 "Tracing fails sanity check when"
## 🐛 Bug

Tracing on a model with fails sanity check that verifies traced model matches original eager code behavior.

## To Reproduce

https://fburl.com/paste/ubfihdid

## Expected behavior

Tracing either succeeds or fails before going into sanity check

## Environment

FB internal dev server

[2020-12-04 23:37] frebro83 opened #48870 "Problem with building from source in win7"
I have been spending a few days trying to build PyTorch from source due to an incompatibility with the compute capability 3.5 of my GTX780 but without success, I have tried to build with and without Ninja, but not had any success.

I am running windows 7 with:

- VS Community 2019 16.8.2
  - MSVC 14.28
  - Windows 10 SDK 10.0.19041.0
  - C++ CMake tools for Windows
- CUDA 10.2
  - cuDNN 7.6.5.32

[2020-12-04 23:44] mthrok commented on #48839
This is about the usage of PyBind11. See https://pybind11.readthedocs.io/en/stable/advanced/cast/strings.html#return-c-strings-without-conversion

Changing the binding to this works
https://github.com/mthrok/text/blob/b0f88ba56603590444a5c10e216573ebce0740ad/torchtext/csrc/register_bindings.cpp#L52-L74

[2020-12-04 23:45] H-Huang commented on #46564
@rohan-varma I haven't done the 2nd step yet, so leaving the issue open.

[2020-12-05 00:51] gmagogsfm commented on #41353
Hi Ross,

I am currently working on this. Right now our focus is to provide low level c10d communication primitives for fb-internal use cases as beta tests. We plan to open source TorchScriptable `torch.distributed` APIs next half. These APIs are required by SyncBatchNorm. With that being said, SyncBatchNorm probably will be ready around April or May next year.

[2020-12-05 01:17] malfet commented on #48870
Sounds like a duplicate of https://github.com/pytorch/pytorch/issues/48517, which was fixed by https://github.com/pytorch/pytorch/pull/47853 / https://github.com/pytorch/pytorch/pull/48821

[2020-12-05 01:36] ProGamerGov commented on #19037
I have an RGB covariance matrix calculation function for image datasets here: https://github.com/ProGamerGov/dream-creator/blob/master/data_tools/calc_cm.py#L61-L67

[2020-12-05 01:59] Sundrops commented on #48837
@SsnL
[code]
0.18293097615242004 vs 0.18293100595474243
The difference is the order of 1e-6. And difference will accumulate in Adam or other impacted optimizer , so the training results will be different.

[2020-12-05 02:01] SsnL commented on #48837
@Sundrops yeah, but the same thing happens if you do `a+b+c` vs `a+c+b`. I don't know why this is a problem. It is never guaranteed to be bitwise equivalent.

[2020-12-05 02:14] vickykhan89 commented on #9446
Hello all, good day!
I have two tensor a[100,8] and b[100,8], I need to change the shape/dimensions values in b[100,8] to b[8,100]. How can i do this need a piece of code. will be very thankful.

[2020-12-05 02:34] huwei1024 commented on #48535
@peterjc123
$ python collect_env.py
Collecting environment information...
PyTorch version: 1.7.0
Is debug build: True
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: Microsoft Windows 10 Pro
GCC version: Could not collect
Clang version: Could not collect
CMake version: version 3.18.4

Python version: 3.8 (64-bit runtime)
Is CUDA available: True
CUDA runtime version: 10.2.89
G

[2020-12-05 02:45] lunixbochs opened #48873 "aarch64 CMake checks are incorrect on Apple Silicon"
Pytorch's CMakeLists.txt files have several checks for `CMAKE_SYSTEM_PROCESSOR MATCHES "aarch64"` that don't take into account the fact that `CMAKE_SYSTEM_PROCESSOR` can be `arm64` on Apple Silicon (or `arm64e` for Pointer Authentication).

As of 6ab84ca0f3458924e79f0279521a8b5720d3a9e3, here are the CMake checks I found that seem to include `aarch64` but not `arm64`:

[code]

I think this at mini

[2020-12-05 02:55] lunixbochs opened #48874 "Checking the hw.optional.arm64 sysctl prevents Apple Silicon from building a universal binary"
This check https://github.com/pytorch/pytorch/blob/e7ca62be08f96b07efc1271baf9b02d4e7be226a/cmake/Modules/FindARM.cmake#L44-L45 prevents an Apple Silicon Mac from building an x86_64 variant of Pytorch.

I'm sure the check exists because folks are installing CMake as an x86_64 binary from homebrew, so they want to use it to pick a different architecture from the CMake architecture, however this is

[2020-12-05 03:00] #23232 closed

[2020-12-05 03:18] Sundrops commented on #48837
@SsnL got it. thanks you.

[2020-12-05 03:18] #48837 closed

[2020-12-05 05:05] peterjc123 commented on #48535
@huwei1024 The useful logs are printed out in the console, not in those log files. BTW, I still don't understand what you are trying to do. We have prebulit LibTorch and PyTorch binaries. Why do you want to build from source? However, if you really want to build from source, please follow the following process using CMD.
[code]

[2020-12-05 05:24] huwei1024 commented on #48535
@peterjc123
Because I installed Python3.9, i cant install pytorch from pip, so i want to build from source.

[2020-12-05 05:25] peterjc123 commented on #48535
@huwei1024 We have started to provide python 3.9 binaries in the nightly channel.

[2020-12-05 05:29] huwei1024 commented on #48535
--   Public Dependencies  : Threads::Threads;caffe2::mkldnn
--   Private Dependencies : pthreadpool;cpuinfo;XNNPACK;fbgemm;fp16;aten_op_header_gen;foxi_loader;fmt::fmt-header-only
-- Configuring incomplete, errors occurred!
See also "D:/Work/GitHub/pytorch/build/CMakeFiles/CMakeOutput.log".
See also "D:/Work/GitHub/pytorch/build/CMakeFiles/CMakeError.log".
Traceback (most recent call last):
  File

[2020-12-05 05:30] huwei1024 commented on #48535
ok, Thank you.

[2020-12-05 05:46] afpapqy opened #48878 "nvrtc: error: invalid value for --gpu-architecture (-arch)"
## 🐛 Bug

When I tried to put multi-images into model through a loop function, this error occured. Does anyone know how to fix it?
## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment
rtx 3080
libtorch_deps_cu110
cuda11.0
Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/to

[2020-12-05 06:40] afpapqy commented on #48479
The same problem! Have you solved it?

[2020-12-05 07:17] KinglittleQ commented on #37246
The same problem occurred to me.

[2020-12-05 07:31] stas00 commented on #31285
I'm on RTX 3090, cuda 11.1 and torch-nightly from:

[code]

It's limited until cuda-11.2 is released, but it works just fine.

[2020-12-05 08:36] vadimkantorov commented on #7012
IIUC now nvrtc is used by PyTorch directly, so maybe this functionality could be simplified

[2020-12-05 09:35] xwang233 opened #48879 "Test self.assertEqual with msg does not print numerical comparison results"
## 🐛 Bug

Test `self.assertEqual` with kwarg `msg=` does not print numerical comparison results

e.g. if the following test fails

[code]

we only get **"AssertionError: False is not true : something"**

This is not as intuitive as the `assertEqual` without `msg=`, which prints something like

AssertionError: False is not true : Scalars failed to compare as equal! Comparing 5.067170143127441 and 5

[2020-12-05 09:37] xwang233 commented on #48879
and why do we have two labels of "tests" and "testing" 🤔

[2020-12-05 09:54] mruberry commented on #48879
"testing" could probably have a better, more distinct, name, but it's intended to be used for issues related to the torch.testing module vs. PyTorch's actual tests (which get "module: tests").

I think we would accept a PR combining custom messages and the default message. I don't have an immediate design for what these messages would look like. Maybe some other testing libraries have similar func

[2020-12-05 10:56] pro-panda opened #48880 "bucket_cap_mb not honored by AllReduce ops"
Running the [imagenet example](https://github.com/pytorch/examples/tree/master/imagenet) on a single node, 4-GPU setup calls 3 NCCL AllReduce ops per batch for gradient synchronization, with sizes `2052000`, `28852224`, and `15853824` bytes.

I assumed that each op will follow the `bucket_cap_mb` limit, i.e. none of the allReduce would have sizes more than say, 25 MB (default)

Changing bucket_cap

[2020-12-05 11:14] vadimkantorov commented on #4954
Another instance with bincount:
![image](https://user-images.githubusercontent.com/1041752/101241062-4b1bd480-36f3-11eb-9a09-bbb049ab6e46.png)

I would say some postproc of search results should de-duplicate function pages. Multiple occurences of search term there don't deserve to be separate search hits

[2020-12-05 11:15] vadimkantorov commented on #32306
Seems raising same issue: https://github.com/pytorch/pytorch/issues/43867

[2020-12-05 11:19] frebro83 commented on #48870
After pulling, syncing and updating submodules I get a new error a few hours into the build running the following settings:
[code]

[code]

when attempting to run without Ninja using the following setup:
[code]

causes me to get a similar fault:
[code]

Any ideas/suggestions/hints would be appreciated. Thank you.

[2020-12-05 11:47] Coderx7 commented on #48385
*Second update :*
I was wrong, the commands specified here create 64bit versions. That is nothing is built as x86!
I was trying to create the MT version (for release only as the debug seems not to be possible), but I kept getting missing libs/ conflicts. I then tried the *normal* here to see how the MD builds and what I'm doing wrong until I noticed all the generated header files are machine x64 a

[2020-12-05 11:56] frebro83 commented on #48870
Adding tons of paths in my path variable and rerunning the Ninja from where it left off without emptying the builds folder:
[code]

[2020-12-05 13:20] talemache commented on #48878
It could be a conflict with the nvrtc library and Windows. I'm not exactly sure though.

[2020-12-05 14:42] zs963048949 opened #48882 "PyTorch has many hide bug"
My task is medical image segmentation， binary classification.
When I make the code for a normal and basic running，I had met a lot of abnormal phenomenon.The main reason is abnormal dice(segmentation accuracy).However，I have not received any error message.I try to find the question，but I meet more problem.I think my code don't have a large problem.The main problem came in dataset loader.There were

[2020-12-05 14:59] walterddr commented on #48879
IMO assert utilities should differentiate between different type of assertions easily. out of top of my head, junit does something very similar to this.
since we are already extending/overriding the assert function we might be able to use something similar to https://github.com/junit-team/junit5/tree/cfdf09aad5ed70fae210fe14fad6d6356f749242/junit-jupiter-api/src/main/java/org/junit/jupiter/api?

[2020-12-05 16:23] frebro83 commented on #48870
I guess my comments on a closed ticket will not be read, I do not seem to be able to open it up myself. I figured it would be reasonable to continue my issues in the same help request instead of opening up a ton of new ones every time I get a different error message. What do you think?

cc @malfet

[2020-12-05 16:30] peterjc123 commented on #48870
Extracted error message:
[code]
Looks like we should do an explicit type casting there.

[2020-12-05 16:36] mauricett commented on #48882
Can you try to provide some actual code examples? That would be very helpful.

[2020-12-05 16:37] malfet commented on #48870
@frebro83 can you please try passing `BUILD_TEST=0` and see if it fixes the problem?

[2020-12-05 16:38] malfet commented on #48870
@peterjc123 are you already working on a PR, or do you want me to send one?

[2020-12-05 16:40] ak-source commented on #48870
as a workaround, you can skip building tests, controlled from CMakeLists.txt:
option(ATEN_NO_TEST "Do not build ATen test binaries" OFF)

[2020-12-05 16:54] mauricett commented on #19037
You can do the same with my code, by the way, by moving the reshape outside of the covariance function.
[code]

[2020-12-05 17:00] frebro83 commented on #48870
I can test the fix you are merging, I am a little unsure about the static cast as it should still fail on the double? But I'll try it as it would be quicker then rerunning without tests.

[2020-12-05 17:03] peterjc123 commented on #48870
@frebro83 There are two variants for `pow` on Windows. One takes two floats and returns float, the other accepts two doubles. So I think that's okay.

[2020-12-05 17:18] abebeos commented on #27678
@ team: status?

[2020-12-05 17:21] frebro83 commented on #48870
@peterjc123, @malfet: Success in building and it also seems to work

[code]

[2020-12-05 17:21] #48870 closed

[2020-12-05 17:21] frebro83 commented on #48870
Thank you for the support and help.

[2020-12-05 17:27] quickwritereader commented on #27678
@abebeos
I was busy for a month because of local problems. I'm going to refresh my PR with the latest master. and also address Sleef asan case hoping it will be accepted, finally

[2020-12-05 17:40] abebeos commented on #27678
Thanks for the update. Just asking, some bounties seem to be stalled since months. Good luck!

[2020-12-05 18:45] bhendrickson commented on #40581
One can train on multiple GPUs without using the data_parallel abstraction and the overhead in `.clone()` by making a model for each GPU, using `torch::cuda::nccl::broadcast` to spread weights from the first to the rest, using multiple threads to do forward & backward on each, and using `torch::cuda::nccl::reduce` to combine all gradients back to the first. Besides being lower overhead, this neith

[2020-12-05 19:01] frebro83 opened #48888 "Background threads not exiting after calling loss.backward() on Win7"
## 🐛 Bug

Background threads not exiting after calling loss.backward() on Win7, forced to kill the python console between each run.

## To Reproduce

Steps to reproduce the behavior:

1. Run conda with python 3.8 on windows 7
2. Run on either cpu or gpu (both tried)
3. Install from wheel, pip or build from source (all three tried)
3. Calculate a loss based on your loss function
4. Call loss.backwa

[2020-12-05 20:00] yuanzhedong commented on #15797
I think it's due to cuda version and pytorch version mismatch, I got this error because I have cuda 10 and pytorch 1.5 but 1.5 only support 10.1 and 10.2 https://pytorch.org/get-started/previous-versions/

[2020-12-05 20:13] Jokeren opened #48889 "Avoid initializing gradInput twice in the backward phase of replication_pad"
## 🚀 Feature
Avoid initializing gradInput twice in the backward phase of `replication_pad3d`, `replication_pad2d, and `replication_pad1d`

## Motivation

https://github.com/pytorch/pytorch/blob/251398acca732fcdf78c194328ff9ede8adb56d1/aten/src/ATen/native/cuda/ReplicationPadding.cu#L894

https://github.com/pytorch/pytorch/blob/251398acca732fcdf78c194328ff9ede8adb56d1/aten/src/ATen/native/cuda/Repl

[2020-12-05 21:58] ngimel opened #48892 "is_non_overlapping_and_dense() does not error out for sparse tensors"
## 🐛 Bug

`is_non_overlapping_and_dense()` does not error out for sparse tensors (it should, similar to `is_contiguous()`), and sparse tensors end up calling it in some tensor factories (e.g. `to_impl` or `empty_like`, list is non-exhaustive).

## To Reproduce

[code]
outputs
[code]
## Expected behavior
Sparse tensors should error out in `is_non_overlapping_and_dense` call

The fix should make `is

[2020-12-05 23:06] ezyang commented on #7012
nvrtc isn't going to work for non-CUDA bits though, right?

[2020-12-05 23:15] vadimkantorov commented on #7012
Probably. But for quick-n-dirty accelarated CUDA code as in https://github.com/NVIDIA/FastPhotoStyle/blob/master/smooth_filter.py it would be enough

[2020-12-05 23:26] xkszltl opened #48895 "Compile error in Windows SDK"
## Bug

Failed to compile on Windows recently.
Sounds like a preprocess related error, since there's no `/` or `{` there.

Screenshot. `oaidl.h` is in the background.
<img width="1330" alt="image" src="https://user-images.githubusercontent.com/5203025/101267521-920dd680-3794-11eb-8765-bc1a0943dccd.png">

Build options:
https://github.com/xkszltl/Roaster/blob/b603b4ae05089cfb02c0c3f3c748f6c87c7e9b6

[2020-12-06 01:05] SsnL commented on #48892
Hm, shouldn't it return `False` instead, as its name suggests?

[2020-12-06 01:56] erwincoumans commented on #47702
I just compiled PyTorch pure CPU version from source code, it works fine on M1. Haven't benchmarked yet.

First install miniconda with Python 3.9 and Tensorflow for M1 using this link:
http://iphonesdkdev.blogspot.com/2020/11/202011.html
and then
[code]
That part was easy.

In case someone is interested, George Hotz is hacking to get the Neural Engine to work:
https://github.com/geohot/tinygrad/tr

[2020-12-06 02:15] ngimel commented on #48892
Semantically, it's almost the same as `is_contiguous()`, so they should either together return false, or together error out. `dense` in the name means that strided tensor occupies contiguous memory region with no holes, not that it is dense as in "not sparse".

[2020-12-06 02:44] mruberry commented on #48892
I suggest we make this thrown an error for consistency. Erroring seems appropriate when the question the function is asking doesn't apply to the type it's given. Erroring out now also gives us more flexibility to change the behavior in the future.

[2020-12-06 03:42] SsnL commented on #48892
I see now. Thanks @ngimel . But I gotta say that it is not great naming.

[2020-12-06 03:59] mruberry commented on #24504
Running this on nightly I get:

[code]

I think this was fixed by https://github.com/pytorch/pytorch/pull/39273 by @cth7.

[2020-12-06 03:59] #24504 closed

[2020-12-06 04:24] laszukdawid commented on #13300
Given no change in status, I'm assuming that nothing other than default pickle is included?

I've seen that both [dill](https://pypi.org/project/dill/) and [cloudpickle](https://pypi.org/project/cloudpickle/) are relatively popular options.

[2020-12-06 04:33] sidmani opened #48898 "Weight normalization causes layer to not move to GPU"
## 🐛 Bug

A linear layer in a torch.nn.Module does not move to the GPU if `torch.nn.utils.weight_norm` is applied, and the layer is not called in the forward function using the standard `__call__` function.

## To Reproduce

Steps to reproduce the behavior:
This works:
[code]
but replacing the layer(x) with linear_inplace(layer, x) throws the following error:
[code]

## Expected behavior
Since to(

[2020-12-06 04:47] sidmani commented on #48898
I guess it's the consequence of this line in torch.nn.utils.weight_norm:
[code]
which removes the weight matrix from the parameter list, and then it's not transferred to the GPU. How can I make the linear_inplace function work properly while respecting the weight norm operation?

[2020-12-06 04:54] peterjc123 commented on #48878
Related: https://github.com/pytorch/pytorch/issues/47669
Will be resolved in the upcoming 1.7.1 release.

[2020-12-06 04:57] SsnL commented on #48898
Even if you fix it somehow, your `linear_inplace` won't be weight-normalized.

[2020-12-06 04:57] peterjc123 commented on #48888
Related: https://github.com/pytorch/pytorch/issues/29383
Sadly, there is no workground available now.

[2020-12-06 05:00] sidmani commented on #48898
@SsnL I see that now. I can re-implement weight_norm to also be in-place. Do you think the memory savings will be worth it? I am running thousands of passes of the network with no_grad() as part of the training of a 3D point representation network.

[2020-12-06 05:06] peterjc123 commented on #48888
I found a related article about it. https://stackoverflow.com/questions/60452341/stdconditional-variable-notify-problem-on-windows-7-called-from-destructor-o Looks like we have two options to fix this:
1. Switch to another implementation of `mutex` or `conditional_variable`.
2. Refactor the code to avoid calling `notify` in destructors.
What do you think, @ezyang @malfet ?

[2020-12-06 05:20] SsnL commented on #48898
I can't comment on that, but it is not a difficult implementation and you can copy-paste most of the code. You do need to be careful to make sure that backward still works (i.e., you are not overwriting variables needed for backprop). I would suggest implementing as a custom nn.Module rather than a "hack" like in your original post. Then you can measure the memory usage in your usecase for your da

[2020-12-06 05:25] sidmani commented on #48898
Great, thank you. I appreciate the help.

[2020-12-06 05:26] #48898 closed

[2020-12-06 05:52] n2cholas commented on #47287
Like @mruberry pointed out, documenting this specifically gives users the impression that disabling TF32 guarantees identical results across hardware, even though it definitely doesn't. Furthermore, the line `Completely reproducible results are not guaranteed across PyTorch releases, individual commits, or different platforms. Furthermore, results may not be reproducible between CPU and GPU execut

[2020-12-06 05:52] #47287 closed

[2020-12-06 06:05] NadiaRom commented on #32680
I faced the same error during quantization. Just moving the model to cpu helped.

[2020-12-06 07:28] mruberry commented on #32680
Thanks for the report, @NadiaRom. Let's see if the quantization engineers have a better idea of what's going on here.

[2020-12-06 07:28] ViktorooReps commented on #24807
Had the same error with conda environment named after torch. Renaming the environment helped.

[2020-12-06 12:00] francois-rozet commented on #35674
I wrote a `torch` implementation of `numpy.unravel_index`:

[code]

It is NOT exactly the same interface, but I believe it is better as it doesn't return tuples.

[2020-12-06 14:20] IvanYashchuk commented on #48831
Here are notes for installing hipMAGMA + PyTorch ROCm.
First, OpenBLAS (or MKL), ROCm libraries, hipBLAS need to be installed.
OpenBLAS steps:
[code]
hipBLAS steps (if not installed together with other ROCm libraries):
[code]
Add paths to lib of hipBLAS and OpenBLAS to LD_LIBRARY_PATH variable.

hipMAGMA steps (I use the latest development branch merge-master-hipMAGMA from bitbucket commit 202e59f

[2020-12-06 14:40] Kyeongpil commented on #47622
Link to release branch PR: #48775
Criteria Category: Documentation improvements

[2020-12-06 15:36] Looottch commented on #48619
Already solved

[2020-12-06 15:36] #48619 closed

[2020-12-06 15:51] denfromufa commented on #47702
@erwincoumans can you compile with python 3.8 instead of python 3.9? This is what tensorflow-macos is using right now. It would be cool just to have one environment for comparison.

[2020-12-06 17:36] sidmani opened #48900 "addmm with out= argument returns incorrect result"
## 🐛 Bug

addmm returns an incorrect result when the out= parameter is passed. The input and output are the same shape.

## To Reproduce

Steps to reproduce the behavior:
[code]
Output:
[code]
[code]
Output:
[code]

## Expected behavior

addmm should return the same values (all ones) for both calls. I understand from browsing other issues that out= can do unexpected things if the input and output

[2020-12-06 18:16] honzasp opened #48901 "Transcendental functions broken on Jetson Xavier NX"
## 🐛 Bug

Transcendental functions (such as `torch.exp`, `torch.sin`, `torch.cos`) return random garbage on Jetson Xavier NX.

## To Reproduce

Sample session from Python REPL:

[code]

Note that all three calls return exactly the same values.

## Expected behavior

The functions should return tensors with correct values.

## Environment

Running on the Jetson Xavier NX Development Kit from Nvidia

[2020-12-06 18:25] #48835 closed

[2020-12-06 18:42] jackdyson31 opened #48903 "c10::Scalar macOS build error on CUDA 10.1, cuDNN 7.6.5 for PyTorch version 1.8"
## Issue description

Building pyTorch on macOS High Sierra with CUDA 10.1 and cuDNN 7.6.5 (for CUDA 10.1) installed and running on an NVIDIA GTX 650M GPU fails at 77% with 24 errors connected to converting from long type to c10::Scalar type.

The problem seems to be connected to type conversions in lines 74-80 of file BatchLinearAlgebraLib.cu. The command where that happens is :

[code]

I submit

[2020-12-06 18:53] erwincoumans commented on #47702
@denfromufa the tensorflow-macos is incomplete and doesn't ship with include headers and libraries, so we cannot point CMAKE_PREFIX_PATH to a path. So for now, it is just switching between virtualenv+python3.8+tensorflow-macos and miniconda3+python3.8+pytorch.

It makes sense to use the M1 for inference, converting a PyTorch or TF model to CoreML using https://coremltools.readme.io/docs, that woul

[2020-12-06 19:53] ngimel opened #48904 "Implement Segment Reduction in pytorch"
## 🚀 Feature
Implement a function similar to C2 LengthSum in pytorch, currently for the workloads that need it it is inefficiently implemented by calling c2 wrapper. Description:
[code]
pointer to c2 cuda implementation (not that SparseFused is `false` in template instantiation)
https://github.com/pytorch/pytorch/blob/e429d05015bfa878f2ae660a1e0dd96b51d743d5/caffe2/operators/segment_reduction_op_g

[2020-12-06 20:08] ptrblck commented on #35674
Thanks for sharing your approach, @francois-rozet!
I believe we are targeting a matching interface with numpy, but might not always be too strict.
CC @mruberry who is leading this work. :)

[2020-12-06 20:37] francois-rozet commented on #35674
Well I always disliked that `numpy.unravel_index` returns a `tuple` of arrays, instead of a single 2D array. `numpy` (and `torch`) should be as efficient as possible and the `tuple` is a bottleneck, in my opinion, especially if the coordinates need to be packed (`stack` or `cat`) together afterwards. If the user *really* needs a `tuple`, he can still do `tuple(np.unravel_index(...))`.

This is why

[2020-12-06 21:07] francois-rozet commented on #35674
Well, I went to read the C code of `numpy.unravel_index`. Damn it is [wild](https://github.com/numpy/numpy/blob/92bf2f6d81252f97a7acc69fcc016636b29d1277/numpy/core/src/multiarray/compiled_base.c#L1167). In fact, they have a sub-function that unravels a single integer, which is probably why they return a `tuple` instead of a 2D array.

[2020-12-06 21:13] vkuzo commented on #32680
@NadiaRom , would you have a repro, and an environment description?  The original issue here is for PyTorch v1.4 and we've had various related bug fixes since then.  Perhaps we can file a separate issue for the specific error you are seeing?

[2020-12-06 21:25] NadiaRom commented on #32680
Sure. It's torch==1.7.0+cu110 on ubuntu 20.04 with cuda 11.1.
Reproduction:
1) load Bert model from transformers and place it on gpu `model = AutoModelForSequenceClassification.from_pretrained('nlpaueb/legal-bert-small-ucased').cuda()` - the exact model I used.
2) Quantise `torch.quantization.quantize_dynamic(model, {torch.nn.Linear}, dtype=torch.qint8)` - it will fail. But if you call `model.cpu(

[2020-12-06 21:45] sramakrishnan247 commented on #48904
@ngimel Hey, can I take this up?

[2020-12-06 22:40] quickwritereader commented on #41261
@glaringlee
why here, we choose undefine  instead of using -std=g++11  ?
I rebased my Pr and it started to give me errors. I think I can still do a workaround even with undefine things

[2020-12-07 00:45] bhendrickson commented on #40581
At least some of the motivation for DistributedDataParallel using separate processes seems to be to get around python's global interpreter lock, which doesn't exist in C++. Although it is nice for the C++ frontend to mirror the Python one, for single computer multi-gpu training, perhaps using separate processes is an unnecessary hassle?

As @bootpin points out, one can train on multiple GPUs witho

[2020-12-07 00:48] mariosasko commented on #48879
@walterddr Could you please be more specific? The link you provided points to the whole API.

[2020-12-07 01:42] #48576 closed

[2020-12-07 01:52] #47498 closed

[2020-12-07 01:56] #46782 closed

[2020-12-07 01:58] #46554 closed

[2020-12-07 02:01] #45419 closed

[2020-12-07 02:02] #45326 closed

[2020-12-07 03:34] Light-- opened #48915 "pytorch 1.4 can not load model saved by 1.7"
## 🐛 Bug

model trained by pytorch 1.7.0 cuda 11.0.221, but cannot load by pytorch1.4.0, cuda 10.0.130

## To Reproduce

Steps to reproduce the behavior:

1. train model and save by 1.7
2. load by 1.4

[code]

3. load by 1.7
[code]

## Expected behavior

normal loaded.

## Environment

env of 1.7:

[code]

env of 1.4:
[code]

## Additional context
model trained  and load by 1.4 is ok.
weird bug an

[2020-12-07 05:32] JBlaschke commented on #45323
Closing this issue -- I was successful using clang ;)

[2020-12-07 05:32] #45323 closed

[2020-12-07 05:43] SciPioneer commented on #47202
Hi Thijs! Thanks for the help of code review! An initial version of PowerSGD communication hook has been checked in, and it has shown some early promising results. I am running more experimental evaluations, but this also requires more time on our end. Could you please help also compare it with your original implementation? Hopefully the performance can be on par with your implementation.

Just ne

[2020-12-07 07:24] xunzi2020 commented on #14401
tensor([[ 729, 6397, 6698, 2498,  539, 2735, 5176, 3041, 3065, 1958, 5338, 5418],
        [ 561, 3406, 6233,  686,  279, 2827, 1807, 4237, 3208, 4622, 1070, 5189],
        [3337, 2152, 3013, 2102, 4874, 3355, 1965,  518, 2527, 4231, 1024, 6199],
        [6601,  946, 3536, 1287,  763, 2755,  915, 2314, 2672, 5856, 6236, 4755],
        [1852, 1637, 3060, 4436, 4792, 5930,  635, 4699, 4567, 1904, 225

[2020-12-07 07:45] Flamefire commented on #41261
@quickwritereader What do you mean? The undefine is definitely needed and pretty much the only valid fix. This header should not define C/C++ keywords to something else as that is explicitely forbidden by the standard (at least defines as "undefined behavior")

If this is causing any trouble, let's discuss that in a separate issue and find a solution.

[2020-12-07 08:21] BramVanroy commented on #29395
@peterjc123  What is the reason for this, I wonder? Why can't pip figure out which system variables to use to install the right version?

[2020-12-07 08:23] jackdyson31 commented on #48903
If the conversions are implicit then that might be raising this error for this version of clang. What to do ? Get rid of them "administratively" ?

e.g. "reinterpret_cast<long>" ---> "reinterpret_cast<long long int>"

This "hack" does seem to work because it removes the constructor degeneracy. And because the new type is actually larger than a "long int" it should not cause operational problems. H

[2020-12-07 08:59] jackdyson31 commented on #42271
In my opinion, with the greatest of respect and admiration for the PyTorch project, I would say that there are many users that still drive older Macs as front end platforms because they were just better all-round machines up  until now, even if newer technology is faster. NVIDIA still supports GeForce GTX upto the Pascal architecture on MacOS High Sierra 10.13.6 which runs great on these machines.

[2020-12-07 09:04] feiyangsuo opened #48927 "how to train a "mask keypoint r-cnn""
**Question**
To have a detection model predict bbox, mask and keypoints simultaneously, I wrote a script of "mask keypoint r-cnn", based on pytorch's indigenous implementation of  mask r-cnn and keypoint r-cnn.

To test the baseline I use a dataset with 10 images of pedestrians, labeled with keypoints and masks. In training I sum the losses of each module together and optimize it. But the result i

[2020-12-07 09:30] quickwritereader commented on #41261
I meant using -std = gnu++  which consider such violations.

[2020-12-07 09:51] Flamefire commented on #41261
No it does not: It is already done by the preprocessor so the C++ lexer/parser can't do anything anymore. Test case: https://godbolt.org/z/T185zs

[2020-12-07 10:07] menchunlei commented on #42391
i met the same error, but can't solve it.

[2020-12-07 10:51] quickwritereader commented on #41261
actually, I meant these:
-std=gnu++11 used with include <altivec.h>  works : https://godbolt.org/z/Kn4Eq3
-std=c++11 used with include <altivec.h>  does not work: https://godbolt.org/z/oE9f68

[2020-12-07 11:17] matfeb commented on #21683
A temporary not perfect time consuming idea I'm going to try is to convert onnx -> keras (onnx2keras) then keras -> pytorch (MMdnn).

[2020-12-07 11:23] mattip commented on #47462
Up to breathe 4.14 there were two "Unable to resolve multiple matches" warnings generated by breathe. In 4.15-4.16, there were 13 warnings. Versions 4.17-4.18.0 of breathe cause sphinx errors:
[code]
Version 4.19.0 has 576 warnings.

There are sphinx domain warnings about "Duplicate declarations" (that changed in a sphinx 3.3 to "Duplicate C++ declarations"). These went down from 1500 in pre-1.19-

[2020-12-07 11:28] zoufangyu1987 opened #48928 "When multiple GPUs run multiple processes, it is found that any process not running in GPU 0 will have some more memory (such as 200m) in GPU 0. What is the cause of this?"
Hello everyone, when multiple GPUs run multiple processes, we find that a process running in GPU 0 only occupies 1000m of memory; however, running a process with GPU 1 will occupy 1000m of memory in GPU 1, and it will also occupy 200m of memory in GPU 0; GPU 2 or GPU 3 are the same; we found that as long as the processes not running in GPU 0 will have 200m more memory in GPU 0, what is the cause o

[2020-12-07 11:30] zoufangyu1987 commented on #48928
The libtorch model is used.
用的是libtorch模型。

[2020-12-07 11:33] Flamefire commented on #41261
Ah I see. Reason is that with `-std=gnu++11` GCC defines `__APPLE_ALTIVEC__` which does skip the bool define. Found something on the GCC ML which introduced that in some version: https://gcc.gnu.org/legacy-ml/gcc-patches/2004-05/msg00454.html

Anyway: I don't see why we should force using the non-standard C++ mode. The source explicitly says `You are allowed to undef these for C++ compatibility`,

[2020-12-07 11:43] hal-314 commented on #48645
I'm not sure that `nn.Sequential` subclasses should overwrite `__getitem__` if they want to add attributes to `nn.Sequential`. Also, I don't see that my example has a completely different `__init__` function. It's directly calling `nn.Sequential.__init__` as you would do normally outside the constructor. So, I expect to work.

[2020-12-07 11:45] lyhyl commented on #7277
![image](https://user-images.githubusercontent.com/3370369/101347167-9b965c00-38c4-11eb-8cd3-b5d5b3551964.png)
no, it still happened.

[2020-12-07 12:02] sainisanjay commented on #41593
This issue still exist in the PyTorch 1.7.0.
OS: `Ubuntu 20.04.1 LTS`
CUDA: `11.1`
nvcc -V
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2020 NVIDIA Corporation
Built on Mon_Oct_12_20:09:46_PDT_2020
Cuda compilation tools, release 11.1, V11.1.105
Build cuda_11.1.TC455_06.29190527_0
CuDNN: `cudnn-11.1-linux-x64-v8.0.5.39.tgz`

[code]

[2020-12-07 12:47] cuge1995 commented on #17221
It works !

[2020-12-07 13:32] wgchang opened #48929 "Domain Specific Batch Normalization"
## 🚀 Feature

Domain-specific Batch Normalization (paper: https://arxiv.org/abs/1906.03950, github: https://github.com/wgchang/DSBN)

## Motivation
DSBN is a simple and powerful method in the domain adaptation method.
paper: https://arxiv.org/abs/1906.03950

## Pitch

I want to add **a DSBN class and its methods** that enable data obtained from several different domains to be forwarded to the batc

[2020-12-07 13:44] RunningLeon opened #48930 "Could we wrap some pytorch operations into a large symbolic Op and export it to onnx ?"
Hi,
I want to export some post-processing operations to a custom Op in ONNX from Pytroch.
Could anyone pls. tell me if it is possible?
Following is my sample code, but it got this error:

[code]
Many thanks in advance.

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2020-12-07 14:48] chrsengel opened #48931 "set_start_method('spawn') breaks DataLoader"
## 🐛 Bug

I wrote a custom Dataset for a Siamese Network. I want to utilize all GPUs, therefore I have to call `torch.multiprocessing.set_start_method('spawn')` before I begin. However, this leads to the DataLoader object being stuck forever. The code works if it only uses the CPU. But of course this is not an option.

Here's the custom dataset class:

[code]

For context: The images I want to use

[2020-12-07 14:56] chrsengel commented on #48931
All of the code I am using can be found [here](https://github.com/chrsengel/Bachelorarbeit/blob/master/code/train_siamese.py).

[2020-12-07 15:02] chrsengel commented on #48931
I managed to fix this by putting the `torch.multiprocessing.set_start_method('spawn')` into the `if name=='__main__':` part in my training script.
So it seems like it is not possible to run this in a jupyter notebook sequentially.

[2020-12-07 15:02] #48931 closed

[2020-12-07 15:17] bossenti opened #48932 "Unknown builtin op: torchvision::nms when loading scripted FasterRCNN"
## 🐛 Bug

Scripted FasterRCNN saved to a .pt-file cannot be loaded via torch.script.load due to Unknown builtin op: torchvision::nms.
Could not find any similar ops to torchvision::nms. This op may not exist or may not be currently supported in TorchScript.

## To Reproduce

Steps to reproduce the behavior:

model.eval()
model = torch.jit.script(model)
torch.jit.save(model, PATH_MODEL + 'model.pt'

[2020-12-07 15:41] walterddr commented on #48879
oops. actually I was wrong. there's already a mechanism to customized assert messages based on content type in : https://github.com/pytorch/pytorch/blob/master/torch/testing/_internal/common_utils.py#L1049 -

The problem is it doesn't process use message that well. Preparing an improvement to attach user-provide `msg` after internal `debug_msg`

[2020-12-07 15:41] latuanvinh1998 commented on #14620
Tks, you save my day. The problem here is the version of OpenCV, I down version of OpenCV to 3.4 and it work even on CUDA 11.0.

[2020-12-07 15:59] foundry-markf commented on #48724
Thanks for the replies.

Although agreed, massaging the Release configuration compiler and link flags is one option, it isn't what a non-build-savvy developer will reach for, whereas changing a build type is straightforward.

We're going to apply a patch to PyTorch to make it work for those devs internally wanting to use RelWithDebInfo in their applications, so this ticket was about exploring the

[2020-12-07 16:30] mszhanyi commented on #48513
`In a terminal: pip install torch===1.7.0+cu110 torchvision===0.8.1+cu110 torchaudio===0.7.0 -f https://download.pytorch.org/whl/torch_stable.html`

Is the terminal in VScode？
Did you select the python interpreter in VSCode？

[2020-12-07 17:26] wconstab commented on #48820
@mc261670164 Thanks for reporting this issue!  We'll need more details before we can help though.  Can you attach the following:

Details about how you save/create the 44M working model and the failing yolov5x model
 * which version of pytorch used here, which version of torchvision or other libs
 * source code and command line for how you create the .pt files

Details about your c++ program and c

[2020-12-07 17:26] LukeAI commented on #47109
Is it clear now which CUDA 1.7.1 will target?

[2020-12-07 17:43] #47594 closed

[2020-12-07 17:46] zhangguanheng66 commented on #48839
Thanks @mthrok, how about the torchbind one? I saw a similar issue when saving and loading the torchbind SP model. As you found the solution, do you want to send out a PR and land the pybind pickle support for SP model?

[2020-12-07 18:04] ezyang commented on #48365
This wouldn't be too hard to do, mostly a question of should we do it and what should the exception be named.

[2020-12-07 18:10] malfet commented on #48214
High-pri for a doc fix.
@sbb-gh, If you feel that new op is needed, please open a separate feature.

[2020-12-07 18:10] ezyang commented on #28786
Tagging internals on this, this is hitting a longstanding problem https://github.com/pytorch/pytorch/issues/19393

[2020-12-07 18:11] ezyang commented on #39465
Yes please fix this

[2020-12-07 18:14] malfet commented on #48713
Thank you for the suggestion. If you have a PR in mind, please do not hesitate to publish it.

[2020-12-07 18:15] ezyang commented on #47462
RIP. Maybe we should fund some improvements to breathe :/

[2020-12-07 18:20] jonasteuwen commented on #48365
As an argument in favor: it is not uncommon to want to do this. There are quite a few posts on the pytorch forum and detectron2 uses it as well:https://github.com/facebookresearch/detectron2/blob/d06fd8521d90241f7c37a24e726d514a075b680d/detectron2/utils/memory.py#L19

[2020-12-07 18:20] malfet commented on #48641
Perhaps we should eventually introduce a global flag that would switch PyTorch behavior for float tensor between  correctness vs performance mode.
We are not looking for a PR that would regress the performance to fix such corner cases.

[2020-12-07 18:20] seemethere commented on #47622
Link to landed master pr: https://github.com/pytorch/pytorch/pull/47150
Link to cherry pick PR: https://github.com/pytorch/pytorch/pull/48937
Criteria Category: Special dispensation (fixes cpp extension building for windows for Python 3.9)

[2020-12-07 18:21] malfet commented on #48555
Removing high priority unless it can be reproduced in latest release.

[2020-12-07 18:22] wconstab commented on #39465
It sounds like @rohan-varma may be working (or planning to work) on this issue and coordinating with JIT team.  Let us know if not and we can discuss in our triage.

[2020-12-07 18:28] malfet commented on #48841
Will follow up with @ngimel on how reliable is the failure. (I can reproduce it on my Linux box, but never on a Mac, so can it be a compiler problem?)

[2020-12-07 18:30] odysseus9672 commented on #20972
This is still in issue in Pytorch 1.7.0.

[2020-12-07 18:33] peterbell10 commented on #45198
I was able to reproduce in a conda environment by downgrading `opencv` to 3.4.2. It looks like `opencv` is known to have issues after fork, see https://github.com/opencv/opencv/issues/5150.

Some other workarounds that fit with this theory:
- Creating `DataLoader` with `multiprocessing_context='spawn'`
- `cv2.setNumThreads(0)` or running with `OMP_NUM_THREADS=1`
- Move `import cv2` from global sco

[2020-12-07 18:37] xkszltl commented on #48928
Are you using any other framework upon pytorch?

Some resource may not be allocated for all devices.
These tensor may be used for output/debugging/general management which is unrelated to distributed training.

It is also possible that tensors are created on GPU 0 first and copied, but not freed.

[2020-12-07 18:45] mattip commented on #47462
I distilled the failure down to a test I could add to breathe in the issue linked above this comment, maybe the author will be able to suggest a fix.

[2020-12-07 18:47] walterddr commented on #48841
same here. unable to repro on mac

[2020-12-07 19:26] rgommers commented on #46826
@hameerabbasi this is fixed, right?

[2020-12-07 19:27] hameerabbasi commented on #46826
Correct.

[2020-12-07 19:27] #46826 closed

[2020-12-07 19:27] ailzhang commented on #48928
Hi could you provide a repro script thanks!

[2020-12-07 19:28] seemethere commented on #47622
Link to landed master pr: https://github.com/pytorch/pytorch/pull/48696
Link to cherry pick PR: https://github.com/pytorch/pytorch/pull/48936
Criteria Category: Fixes memory leak

[2020-12-07 19:28] walterddr commented on #47622
Link to landed master PR: ##48590
Link to cherry pick PR: #48943
Criteria Category: fix flake8

[2020-12-07 19:29] ailzhang commented on #48927
Hi! As instructed in the issue template, please reopen the questions in pytorch forum, thanks!

[2020-12-07 19:29] #48927 closed

[2020-12-07 19:32] ailzhang commented on #48915
Pytorch doesn't guarantee forward compatibility, but for this particular issue using `torch.save(_use_new_zipfile_serialization=False)` in 1.7 and load it in 1.4 might work. Please feel free to reopen if it doesn't fix. Thanks!

[2020-12-07 19:32] #48915 closed

[2020-12-07 19:34] ailzhang commented on #48901
marking as triage review since we might not have CI for Jetson, but it's probably worth taking a look to see if it's reproducible.

[2020-12-07 19:38] ngimel commented on #48901
#48451 can be related, I suspect it's arm, not cuda. cc @malfet

[2020-12-07 19:57] leovinus2001 commented on #47688
I also love to have a proper macOS PyTorch using Metal/BNNS/Accelerate but specifically Metal to have TFLOPS training and inference performance on my iMac 64GB with Radeon Pro 580 8 GB.

My impression (which might be a few months outdated, sorry) is that PyTorch < 1.7 only has some Metal  support in the iOS inference backend as to be not "too slow on CNNs" compared to CoreML on iOS and same device

[2020-12-07 19:58] heitorschueroff commented on #32591
PR https://github.com/pytorch/pytorch/pull/48184 fixes the slowdown by choosing between multiply/sum and bmm depending on the input size however it introduces regression for other functions that depend on sumproduct_pair. A solution requires further design.

[2020-12-07 19:59] z-a-f commented on #45215
The #48782 is getting reverted, so reopening the issue here

[2020-12-07 20:00] ailzhang commented on #48900
Marking as high pri since this is a correctness issue.

[2020-12-07 20:03] ailzhang commented on #48882
Hi @zs963048949 please use the issue template to report bugs and provide a repro script. Thanks!

[2020-12-07 20:07] ag14774 opened #48945 "CUDA error: illegal memory access Conv3d"
## 🐛 Bug
I get this error:
RuntimeError: CUDA error: an illegal memory access was encountered

with the following code:

## To Reproduce

Steps to reproduce the behavior:

import torch
torch.backends.cuda.matmul.allow_tf32 = True
torch.backends.cudnn.benchmark = True
torch.backends.cudnn.deterministic = False
torch.backends.cudnn.allow_tf32 = True
data = torch.randn([2, 1, 33, 352, 608], dtype=tor

[2020-12-07 20:09] ailzhang commented on #48830
Not really directly related to numpy, but I feel this falls into a similar API design, please feel free to move the label if it's not accurate. Thanks!

[2020-12-07 20:12] sidmani commented on #48900
@ailzhang Is it legal to use the same tensor as input and output? That is what causes the problem. If it isn't legal to do that, I think it should be clearly stated in the docs.

[2020-12-07 20:14] ngimel commented on #48889
Thanks for reporting @Jokeren, we'll accept a PR fixing this.

[2020-12-07 20:38] Jokeren commented on #48889
@ngimel Thanks. May I know what open source models you are using to measure the performance of pytorch? Currently, I am using resnet, gcn, and unet. I would like to test some language models. However, the transformer framework seems using tensorflow internally, at least for BERT.

[2020-12-07 20:44] ngimel commented on #48889
Models are listed here https://github.com/pytorch/benchmark/tree/master/torchbenchmark/models, I don't think many of them use ReplicationPad though.

[2020-12-07 20:47] seemethere commented on #48873
cc @janeyx99

[2020-12-07 20:48] Jokeren commented on #48889
@ngimel, Thanks for the link! I am not referring to this specific fix. We plan to use our performance tools to profile more examples and check if we can find performance problems.

[2020-12-07 21:27] walterddr commented on #48873
looks like some of the places is suppose to be enabled. but i am not sure we are currently supporting NNPACK (e.g. the line in cmake/externalnnpack.cmake:30) explicitly disables set(USE_NNPACK OFF) when it is arm64.

[2020-12-07 21:29] fathia-ghribi commented on #4827
hi all,
no one can help me to solve this error.
![image](https://user-images.githubusercontent.com/73582705/101407800-b7f1c300-38db-11eb-868f-27f0bebe7030.png)

[2020-12-07 21:31] walterddr commented on #48874
cc @janeyx99

[2020-12-07 22:28] hesther opened #48957 "On macOS Big Sur, parallel DataLoader causes global variables to be reinitialised"
## 🐛 Bug

On macOS Big Sur, using DataLoader with num_workers!=0 changes the value of global variables  (see minimum working example below, where I have used a dummy variable VAR). I also tried on GridOS (Linux) and macOS Mojave, without any problems there. It is reproducible across different machines with macOS Big Sur, with different versions of pytorch. I am not sure whether the problem is with

[2020-12-07 22:32] SsnL commented on #48957
Seems spawn vs fork behavior. If you do **either** of the two things below, you should see the same behavior on your previous osx:
1. move `set_var` outside the `if __name__ == '__main__':`
2. use `multiprocessing_context='fork'` in creating `DataLoader`

[2020-12-07 22:38] hesther commented on #48957
Great, that works. Means that it needs to be changed throughput the software I want to use then (which isn't mine, *sigh). Thanks for your quick help!

[2020-12-07 22:48] malfet commented on #48874
Hmm, let me try to amend the build definition here

[2020-12-07 22:54] hellkite500 opened #48958 "libtorch tensor in std::vector becomes undefined"
## 🐛 Bug

If you put a `torch::Tensor` in a `std::vector` the resulting tensor is `undefined`.

## To Reproduce

Steps to reproduce the behavior:

1. Create a `torch::Tensor` with some default values
2. Push the tensor into a `std::vector`
3. Access the tensor from the vector container

4. Here is a minimal example. Note the difference in output between accessing from the vector and directly print

[2020-12-07 23:01] rohan-varma opened #48959 "[Poll] Add Windows support to torch.distributed package"
We have seen several requests to support distributing training as part of the PyTorch C++ API (libtorch), namely [1](https://github.com/pytorch/pytorch/issues/40581), [2](https://github.com/pytorch/vision/issues/3052) (in torchvision repo), [3](https://discuss.pytorch.org/t/libtorch-c-mpi-example/39671/4), and an [example](https://github.com/pytorch/examples/pull/809/files) that uses MPI_allreduce

[2020-12-07 23:04] spandantiwari commented on #48930
@RunningLeon - yes, you can export a PyTorch op as a custom op to ONNX through the PyTorch-ONNX exporter. Please see this tutorial. https://github.com/onnx/tutorials/tree/master/PyTorchCustomOperator

[2020-12-07 23:04] #48930 closed

[2020-12-07 23:39] guilhermeleobas opened #48968 "Enable torch.nn.modules.container typechecks during CI"
`TestTypeHints.test_run_mypy` should pass with `[mypy-torch.nn.modules.container]` deleted from mypy.ini

cc @ezyang @malfet @rgommers @xuzhao9 @gramster

[2020-12-07 23:55] ailzhang commented on #48900
@sidmani I think it's legal to use the same tensor as input and output (as if it was inplace). For example `add`'s out version can correctly handle it. So for now I'll just keep this as a bug but yeah feel free to use the inplace version or create an additional Tensor to work around it before it's fixed.

[2020-12-08 00:12] #46497 closed

[2020-12-08 00:16] YunYunY opened #48972 "non-negative least squares solver feature request"
## 🚀 Feature
non-negative least squares solver.

## Motivation
Scipy has [nnls](https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.nnls.html#scipy.optimize.nnls) which is useful when solving linear least squares with non-negativity constraint.

## Pitch
The solution to the least squares should be non-negative.

## Additional context
In the new version, PyTorch has lstsq implemente

[2020-12-08 00:23] mthrok commented on #48839
@zhangguanheng66

Is there an issue reported that I can look at?

[2020-12-08 00:29] zasdfgbnm opened #48978 "`test_variant_consistency_jit` for BFloat16 are skipped in a confusing way"
In file https://github.com/pytorch/pytorch/blob/master/torch/testing/_internal/common_methods_invocations.py
There are lots of tests skipped using something like
[code]
The test `test_variant_consistency_jit` itself does not work, because `isfinite` is not supported on BF16. Even if all the operators used to implement the backward are working.

We should make this test work, and clean this file.

[2020-12-08 00:31] pritamdamania87 commented on #48880
DDP uses 1MB for the last bucket to avoid high latency of large allreduce after backward is done. We don't split parameters across buckets, so the actual bucket size might be slightly higher, as a result this is the `2052000` bytes bucket you see. After this, DDP would allocate buckets of 25MB each, but again since we don't split parameters across buckets and instead create a new bucket each time

[2020-12-08 00:38] xwang233 commented on #48945
Thanks for the report. I'm able to reproduce that on 2080Ti with cudnn 8.0.5. We'll file a bug to cudnn and get a fix soon.

[2020-12-08 00:40] zhangguanheng66 commented on #48839
Yup. Here is the code snippet to reproduce the serialization issue with torchbind sentencepiece model
[code]
Same issue is observed for the pybind one.

[2020-12-08 01:00] ZolotukhinM commented on #48533
@ak-source, #48967 should hopefully fix the issue: I've checked with your latest repro and the one at the top: both of them pass with that PR. Please let us know if you hit more issues!

PS: sorry for that github spam above - that's an unfortunate side effect of mentioning the issue in a commit message.

[2020-12-08 01:14] pritamdamania87 commented on #48959
Adding a few references where this came up in the past: https://github.com/pytorch/pytorch/issues/40581 and https://discuss.pytorch.org/t/libtorch-c-mpi-example/39671/6.

[2020-12-08 01:21] gmagogsfm opened #48984 "Scripting silently ignores methods of class derived from `NamedTuple`"
## 🐛 Bug

When a Python class derives from `NamedTuple`, its methods and staticmethods are silently ignored at compile time until their callsite.

## To Reproduce

[code]

## Expected behavior

Either gives clear error message stating that deriving from NamedTuple isn't allowed or fully support deriving from NamedTuple with custom methods.