[2021-01-05 08:16] gemfield commented on #34583
When using static quantized model, you need to insert QuantStub and DeQuantStub at the beginning and end of the network.

[2021-01-05 08:19] aivul opened #50090 "Torch native_layer_norm OP out-of-bounds access"
## 🐛 Bug

## To Reproduce

[code]

## Expected behavior
`native_layer_norm(Tensor input, Tensor? weight, Tensor? bias, int M, int N, float eps) `
The param `M` and `N` are supposed to be limited in a certain range.

## Environment

[code]

## Additional context

Though some OPs are not user facing operators, they are exposed to every user. Normal user won't execute these OPs forever, but attackers

[2021-01-05 08:57] Froskekongen commented on #26340
@seemethere, is there any update on this? A start would be to simply make a mirror index that points to the previous one but has the required structure. This would be a trivial starting point that would make the lives of a lot of people easier.

[2021-01-05 09:00] RafalSkolasinski commented on #26340
Maybe I am missing something but why not publish it to PyPi under different name, `torch-cpu`?

Wouldn't that work?

[2021-01-05 10:00] zwang92 commented on #49989
You are absolutely correct ！ It confuses me for a long time as I mistake TORCH_LIBRARY_static_init_xxx as static function declaration . Thank you so much :) @skyline75489

[2021-01-05 10:00] #49989 closed

[2021-01-05 10:26] ymsdu2004 opened #50092 "batch_isend_irecv: the receiving end cannot receive large tensors from the sending end correctly"
## 🐛 Bug

I found the problem of abnormal data sending and receiving in a simple scenario： two processes act as sender and receiver respectively，when the data is small（tensor_sizes = [10] * 7，7 tensors([0,1,2,...9]) as a batch）, it ok, but when the data reaches a certain large value（tensor_sizes = [100000] * 7,  7 tensor([0,1,2,3, ..., 99999]) as a batch）, it does not work as expectations

## To R

[2021-01-05 10:26] #49968 closed

[2021-01-05 11:16] LithiumH commented on #22259
I have the same issue with CUDA 10.1 with Pytorch-lightning. My case might be a bit different since I'm having 1/4 GPU at 0% while the rest 3/4 GPU (and corresponding CPU process) stuck at 100%. This is my nvidia-smi output:

[code]
I checked that process 334471 is in S state while 334477 and 334473 are in R state. Interestingly 334464 which is using 100% GPU is also in a S state which is very st

[2021-01-05 11:32] Flamefire commented on #41592
I did a few simple tests using numpy, pyfft and mkl-fft in Python and this seems to be true for x86. But again: MKL does not work **at all** on non x86. I'm actually surprised because I expected to see the slowdown on an AMD Rome processor due to the known "downgrading" of MKL performance on non-Intel processors. But I was not able to verify that for FFTs using Python as the interface.

[2021-01-05 11:33] LukeAI commented on #25584
The SOTA vision object detection: ScaledYolo now depends on Mish and a random third party extension to work - which itself works with pytorch1.6. so you cannot do SOTA object detection with Pytorch 1.7 because of this missing, which is maybe a good argument for its inclusion? @soumith
https://github.com/WongKinYiu/ScaledYOLOv4/tree/yolov4-csp

[2021-01-05 11:58] #33442 closed

[2021-01-05 14:31] Naagar opened #50095 "RuntimeError: svd_cuda: the updating process of SBDSDC did not converge (error: 11)"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2021-01-05 15:31] ezyang commented on #50018
OOC, is there some tool you're using to detect these?

[2021-01-05 15:32] ezyang commented on #49985
Support requests like this are better answered in the forums: https://discuss.pytorch.org/

[2021-01-05 15:35] ezyang commented on #49999
try --no-as-needed when linking. But yeah, this isn't a PyTorch issue, maybe the forums can help you debug this.

[2021-01-05 15:35] #49999 closed

[2021-01-05 15:36] #50032 closed

[2021-01-05 15:38] ezyang commented on #50038
cc @zou3519 although it's not public API we still ought to be checking all of the necessary preconditions

[2021-01-05 15:38] #37756 closed

[2021-01-05 15:38] ezyang commented on #50043
Yes.

[code]

[2021-01-05 15:38] #50043 closed

[2021-01-05 15:41] ezyang commented on #9095
gonna guess this isn't relevant anymore

[2021-01-05 15:41] #9095 closed

[2021-01-05 15:41] michalsustr commented on #25979
Just encountered this. Maybe it would be good to drop `pretty_print` and just have one way of printing, i.e. via operator<< ?

[2021-01-05 15:42] jiafatom commented on #42653
Seems that there is no simple onnx operator for `torch.adaptive_avg_pool2d`. `Resize` op and `AveragePool` cannot simply do that.
Checked one implementation [here](https://discuss.pytorch.org/t/what-is-adaptiveavgpool2d/26897/12), for the 1d case, `adaptive_avg_pool1d` is like
[code]
I verified this code and seems correct.

[2021-01-05 15:42] #9124 closed

[2021-01-05 15:45] ezyang commented on #43300
yes, run it under gdb and tell us what symbol / backtrace the illegal instruction is occurring in

[2021-01-05 15:45] ezyang commented on #43300
also I suggest opening a new issue, this is probably something different

[2021-01-05 15:46] ezyang commented on #31829
yeah, that also seems pretty reasonable too

[2021-01-05 15:46] c-f-h opened #50097 "Cannot print 32-bit complex tensors"
## To Reproduce

[code]

The following error is produced by the `print()` line:

[code]

## Environment

Tried this on Google Colab, `torch.__version__` is `1.7.0+cu101`.

[2021-01-05 15:53] vadimkantorov commented on #31829
Or some more general replace gradient values version: replacing infs can be useful too, or sometime replacing zero's by a tiny eps. This function can be useful for forward too. There may be some nuances (like negative/positive zeros), but it should be possible to come up with a good design...

[2021-01-05 15:53] ezyang commented on #49797
Yes. In general automatic refcounting pays its way for the porting. Performance is the only possible problem.

[2021-01-05 15:58] ezyang commented on #49652
I think the invariant is that this should never be called with `NO_DEVICE`.

The relevant call site is

[code]

`local_graph_task->owner_` should have a device associated with it at all times.

[2021-01-05 16:05] ezyang commented on #41592
yeah, sorry, I should have specified, regular x86 cpu binaries :)

[2021-01-05 16:13] c-f-h opened #50098 "Errors when coercing complex numbers of various sizes"
Runtime errors when multiplying tensors involving complex numbers and non-matching bit widths.

## To Reproduce

[code]

The first line produces:

    RuntimeError: common_dtype_ != ScalarType::Undefined INTERNAL ASSERT FAILED at "/pytorch/aten/src/ATen/native/TensorIterator.cpp":237, please report a bug to PyTorch.

The second line produces:

    RuntimeError: "copy_" not implemented for 'Complex

[2021-01-05 16:20] zou3519 commented on #50038
This isn't a public API but yes we should check the preconditions because those checks are inexpensive.

We'd accept a PR to fix this (or I'll fix it after some time).

[2021-01-05 16:30] zou3519 commented on #50038
@aivul do you have a specific use case where you're using `_remove_batch_dim` directly?

[2021-01-05 17:17] #47334 closed

[2021-01-05 17:19] nikithamalgifb commented on #49742
Took a quick look, I was not able to reproduce the same error on my local setup. May be the exact setup is required to reproduce the issue?

[2021-01-05 17:28] mruberry commented on #50016
Thank you for reporting this issue, @DNXie. We would accept a PR fixing this.

[2021-01-05 17:35] osalpekar commented on #49968
@ymsdu2004 - Could you comment on why you closed the issue? I've looped in Mingzhe who designed the NCCL p2p API and could help with the issue

[2021-01-05 17:44] nikithamalgifb commented on #49728
Ternary If needs to be handled the similar way like the basic if-else.

[2021-01-05 18:05] TrentWeiss commented on #44954
Unfortunately no. I have been chugging along with the CPU-only version of SQP in SciPy.  I don't have enough development cycles to build SQP from scratch within PyTorch.  I was hoping the PyTorch community could help me out :)

Did you manage to find a GPU implementation (even if not in PyTorch)? If so, can you link it here?

[2021-01-05 18:29] toshas opened #50104 "Support CUDA and backpropagation in `torch.orgqr`"
## 🚀 Feature

As of PyTorch 1.7, `torch.orgqr` only supports CPU tensors and does not implement gradients.
Feature proposal: add support for CUDA tensors and gradients wrt inputs.

## Motivation

This function is required to perform orthogonal parameterization of matrices (not to be confused with orthogonal initialization). Given an input matrix of shape `d x r` with `d >= r`, `orgqr` produces an

[2021-01-05 18:36] erikwijmans commented on #47138
The fix for this wasn't cherry picked into 1.7.1.  It should be in nightly tho.

[2021-01-05 18:39] ezyang commented on #49724
We've been discussing this internally, and @albanD has argued that the derivative w.r.t. x of f(x, y) = x ⊕ y when y approaches -∞ should be 1, and not 0. I haven't found an error in the reasoning.

We have d/dx f(x, y) = e^x / (e^x + e^y). Alban says that you should take the limit on y first, before taking the limit on x. Taking the limit on y gives you e^x / e^x, and then taking the limit on x g

[2021-01-05 18:49] jiafatom commented on #42653
In sum, it is not easy to export adaptive_avg_pool1d using existing onnx operators. It is better to propose a new onnx operator or a custom op in ORT for this.

[2021-01-05 19:00] lqf96 commented on #49797
Got it. Thanks for the answer!

[2021-01-05 19:00] #49797 closed

[2021-01-05 19:06] jeisner commented on #49724
For x > -∞ and y = -∞, the gradient should be [1,0].
For x = -∞ and y = -∞, the gradient should be [nan, nan], because it's not clear how to take the double limit (you could get [1,0] or [0,1] or [0.5,0.5] depending on how you do it).
This is in fact the current behavior, and it is correct as it stands.
That is, the current implementation correctly computes the gradient of f(x,y) with respect to x

[2021-01-05 19:26] jeisner commented on #49724
(note - I corrected a typo in previous post as well as making other edits for clarity, so you may want to make sure you're looking at the latest version - apologies)

[2021-01-05 19:27] zasdfgbnm commented on #49207
@zasdfgbnm I think winograd is still important, at least for my example below:
[code]
[code]

Maybe we can have `torch.backends.cudnn.workspace_limit = None` by default, which means no limit.

[2021-01-05 19:32] #48110 closed

[2021-01-05 19:36] gchanan commented on #50076
Ya that makes sense, I'm just arguing for a different name from resize that makes that interpretation more obvious.

[2021-01-05 19:39] ezyang commented on #49724
This is probably my misunderstanding. (Rereading!)

[2021-01-05 19:48] ngimel commented on #49724
#31829 was arguing for this, and having grad of [-inf, -inf] be 0,0 would automatically solve problem 1

gradOutput being equal to 0 allows one to ignore this particular problem though, but requires a concept of unknown but finite value, which we can't readily represent in floating point :-)

[2021-01-05 19:49] albanD commented on #49724
The parallel I see here is the following: When x and y are finite values, and the function is locally convex, we use the min-norm subgradient here (as it is guaranteed to be a descent direction).
I am not sure how this argument adapts in the infinite case though.

That is a tricky argument to make with autograd :D
Autograd only ever looks at a single elementary function at a time. And you cannot e

[2021-01-05 20:00] alanhdu commented on #49742
The exact output from `collect_env.py`:

[code]

[2021-01-05 20:04] ezyang commented on #49724
cc @vincentqb

[2021-01-05 20:08] ezyang commented on #49724
So, just to restate Alban's statement above, there are other situations in PyTorch (though usually at non-infinite points) where there isn't a unique choice for derivative (because it depends on which direction you approach the singularity), and so we just pick an arbitrary point (the min-norm subgradient) to return in this situation, instead of returning a "finite" NaN. It doesn't seem like this

[2021-01-05 20:08] pierreia commented on #48145
I've got the same problem as @elbamos , I followed the steps of @iwisher. However, I use a virtual environment through PyCharm where I installed tensorflow for Mac OS. Any ideas? I'm so disappointed to have to get on my old computer to user transformers library...

[2021-01-05 20:22] pritamdamania87 commented on #49961
We don't have tutorials yet, but will have some as part of pt1.8. We do have a benchmark here that you can look at as an example in the meantime: https://github.com/pytorch/pytorch/blob/master/benchmarks/distributed/pipeline/pipe.py.

The PP in PyTorch basically pulls in the PP work from fairscale, although if you'd like to test things out in PyTorch you can always use the nightly builds to use th

[2021-01-05 20:53] jeisner commented on #49724
Yes, but fortunately, PyTorch is implemented such that the backward function _also_ gets to look at `output_grad`.
(The multiplication by `output_grad` is handled within the backward function, not by some external generic glue that implements the chain rule.)
This makes it possible to get the behavior I proposed, as illustrated by the proof-of-concept monkey patch I included.

I mentioned the issu

[2021-01-05 20:55] jeisner commented on #49724
If it's really better to make an arbitrary non-nan choice instead of using a nan that can be zeroed out:
Then I'd be inclined to say that for x = -∞ and y = -∞, the gradient of x ⊕ y should be returned as [0.5, 0.5], just as when x = -99 and y = -99.  (This is different what you'd get with x = -99 and y = -98, i.e., x and y → ∞ at different rates.)

In general, my version would probably be:
* if a

[2021-01-05 21:07] spandantiwari commented on #49665
Thanks @jiafatom.
@lockercho  - could you please verify that this is indeed fixed in master? Please reopen if you still see this issue.

[2021-01-05 21:07] #49665 closed

[2021-01-05 21:07] albanD commented on #49652
I think we have a race in the engine in the case where the task is queued on a worker thread [here](https://github.com/pytorch/pytorch/blob/16e5af41dab3a64072d88d76003dd9c2aa49d4bc/torch/csrc/autograd/engine.cpp#L919). And the worker thread start processing it faster than the next line that runs in this function that sets the `owner_` [here](https://github.com/pytorch/pytorch/blob/16e5af41dab3a640

[2021-01-05 21:15] albanD commented on #31829
This can be implemented with a custom autograd Function already right? Or even a hook similar to `x.register_hook(lambda g: g.masked_fill_(g != g, 0)`?

Or your argument here is more that we should have that in core pytorch?

[2021-01-05 21:37] naserpiltan commented on #49999
@ezyang Thank you sir , yes this the true answer :  --no-as-needed when linking.

[2021-01-05 22:02] #47123 closed

[2021-01-05 22:03] albanD commented on #3307
No this has not been done yet.

[2021-01-05 22:08] albanD commented on #25723
It depends where this line is haha
Also there is not fix for this as this is the expected behavior :)

[2021-01-05 22:11] stas00 opened #50112 "need a clear guide for when and how to use torch.cuda.set_device()"
## 🚀 Feature

I find myself quite unclear about `torch.cuda.set_device()`. The current documentation is very unsatisfactory, ambgious and confusing. e.g. the first 3 lines of code sample:
https://pytorch.org/docs/stable/notes/cuda.html#cuda-semantics

cuda = torch.device('cuda')     # Default CUDA device
cuda0 = torch.device('cuda:0')
cuda2 = torch.device('cuda:2')  # GPU 2 (these are 0-indexed)

[2021-01-05 22:26] vadimkantorov commented on #31829
My argument is that these problems are so frequent (torch.where producing bad gradients, absence of xlogy, need for replacing inf gradients to sidestep 0 * inf) and require code that's not completely trivial that PyTorch needs idioms for these in core (though hopefully backward of torch.where could still be fixed + xlogy implemented).

[2021-01-05 22:52] mruberry commented on #3025
Quick fyi: following NumPy's recommendation we should implement isin to start.

[2021-01-05 22:53] #49737 closed

[2021-01-05 23:00] fehiepsi commented on #49993
I am not sure what is the expected behavior. It makes more sense to me that they are different. Did you find the same behavior in other frameworks?

[2021-01-05 23:06] albanD commented on #31829
Do you have an issue about that? The only one I have in mind is about the fact that it generates "just" 0 gradients for elements that were not used and I don't think there is any plan to change that.

The problem is that, as you said, the choice of which one to use is not trivial and requires a deep understanding of what is happening. But I feel like, by the time you understand that you need this

[2021-01-05 23:17] ezyang commented on #49724
PyTorch's subgradient handling is definitely not perfect. Here's a fun recent paper ragging on us for being unsound:

![image](https://user-images.githubusercontent.com/13564/103704602-8c640600-4f77-11eb-9b9d-535b927a479f.png)

(h/t @bmsherman @martinjm97 from https://arxiv.org/pdf/2007.08017.pdf )

Proper intervals would fix that problem, but I have no idea how to implement it, so practical consi

[2021-01-05 23:18] gchanan opened #50121 "torch.pow type promotion is incorrect with 0-dimensional tensors"
## 🐛 Bug

The issue is that it treats python numbers and 0-dim scalars as having the same priority class, when the 0-dim scalar should be favored.  This is a little difficult to see when not using the `out=` variant (because it calculates the result type correctly), but it's obvious with out variants:
[code]

Note the top example is "correct" in that it is doing the computation in uint8 and then c

[2021-01-05 23:18] vadimkantorov commented on #31829
A problem about torch.where is that gradients would still be nan even if the bad value was not taken in the forward pass. At least it was like that for a long time, so the naive entropy computation had bad gradients: `torch.where(p > 0, p * p.log(), 0)`

For generic case, yes, the user should have control, but there should be supporting idioms (pseudo-functions) to make these choices easier and le

[2021-01-05 23:26] vadimkantorov opened #50122 "[proposal] Pseudo-functions to support common gradient patch use-cases like replacing inf / nan or clipping / gradient reversal"
Created per @alband request.

Originally started in https://github.com/pytorch/pytorch/issues/31829#issuecomment-754939837 and in  https://github.com/pytorch/pytorch/issues/35666#issuecomment-606826976

Motivations: these gradient hacks are quite common and not completely trivial, should be nice to have them in core as idioms

In addition, having a convenience function to replace some inf/nan by p

[2021-01-05 23:28] albanD commented on #31829
Yes but as was discussed in the issue, this is expected I am afraid. the function before the `torch.where` is the one that generates these bad gradients. So there is very little `torch.where` can do unless we can have a "unused" (or something else) element for the gradient. But this would need to be stored within the grad Tensor and all the float values are already used there.

[2021-01-05 23:29] glaringlee commented on #9190
assign to myself, this is a good task for onboarding new team member.

[2021-01-05 23:32] vadimkantorov commented on #31829
Isn't it torch.where that produces its final gradient? The whole point of using torch.where is to instruct it to not use `p * p.log()` where it is not correctly defined. So it should be able to not use the `p * p.log()` gradient where `p == 0` because it's exactly the passed mask

[2021-01-05 23:37] albanD commented on #31829
`torch.where` will generate the right gradients for all these inputs, and the gradient will be `0` because these inputs were not used.
The problem is that later in the grad computation (of log for example), this grad of 0 will end up being divided by another 0, leading to nan.

[2021-01-05 23:41] vadimkantorov commented on #31829
Well, for a long time it was `nan` and was `nan` last time I checked. I'll dig up the discussions about entropy function...

I guess I don't understand why you say that computation of gradient of `log` is later in the grad computation. First we get gradient of `p` and `p.log()` (will be bad as well), then of `p * p.log()` (which will have nan), and then torch.where should ignore these bad gradient

[2021-01-05 23:46] albanD commented on #31829
The gradients are computed in the backward order compared to the forward pass. So the where is the first one for which gradients are computed. then product, then the log and then p.

[2021-01-05 23:52] vadimkantorov commented on #31829
Isn't there a moment in mul gradient where it multiplies the results by the `grad_output` (that it received from torch.where)? It could probably copy over zeros instead of multiplying zero by nan/inf and having a nan propagated? Or is the problem the perf hit of modifying the mul's backward?

[2021-01-05 23:55] albanD commented on #31829
The problem is that we have no way to differentiate a `0` that comes from "unused" from a `0` that comes from "it is numerically 0".
And while, for the first one, we could argue that we have happy that multiplying it with inf should remain a "unused" 0. For the second one, we definitely want it to become a nan!

Hence my comment above that the big blocker here is that we have no way to differentia

[2021-01-06 00:22] osalpekar commented on #48959
As an additional data point, @soumyadipghosh has been working on an example that mimics the C++ DDP API by using MPI collectives here: https://github.com/pytorch/examples/pull/809

[2021-01-06 00:54] #49889 closed

[2021-01-06 01:42] fteufel opened #50125 "ONNX: torch.where() failing because of __derive_index"
## 🐛 Bug

I'm trying to export a model using ONNX, the used operations are supposed to be supported. I'm using `torch.jit.script`. When compiling a call to `torch.where()`, onnx.export() fails.
[code]

## To Reproduce

[code]

## Expected behavior

According to the docs, `torch.where()` is supposed to be supported by ONNX. Is there something wrong with the specific usage of where?

## Environment

[2021-01-06 01:49] xiexie123 commented on #3307
works for me

`class Tensor(torch._C._TensorBase):
    def __deepcopy__(self, memo):
        if self.is_leaf:
            if id(self) in memo:
                return memo[id(self)]
            with torch.no_grad():
                if self.is_sparse:
                    new_tensor = self.clone()
                else:
                    new_storage = self.storage().__deepcopy__(memo)

[2021-01-06 01:55] #50082 closed

[2021-01-06 01:56] eellison commented on #50082
fixed with https://github.com/pytorch/pytorch/pull/49436

[2021-01-06 01:56] eellison commented on #47932
fixed with https://github.com/pytorch/pytorch/pull/49436

[2021-01-06 01:56] #47932 closed

[2021-01-06 02:03] oumarkaba commented on #9983
Are there any updates on this? I'm looking forward to the matrix log!

[2021-01-06 02:17] gchanan commented on #50121
Interestingly, this doesn't apply to CUDA:
[code]

[2021-01-06 02:19] malfet commented on #49730
This was introduced by https://github.com/pytorch/pytorch/pull/36659

[2021-01-06 02:25] aivul commented on #50038
Not yet. It is used for security analysis.

[2021-01-06 02:44] mxgbs commented on #14000
Hi,

I actually have the same problem when creates a tensor with an array data. I follow what you did and the major difference is that I directy assign *data with imgC_float which is a flat array. Though it works, I got warning when compiling "ATen/core/TensorBody.h:354:7: note: declared here T * data() const " Could you please help with this? The note seems indicate something is wrong.

	for (int

[2021-01-06 03:06] wrrogers commented on #37068
At my university, the servers are windows only and no plan to add support for linux.  Extremely frustrating.  There is WSL but the university windows contract won't allow for the upgrade to allow WSL for many years still.

[2021-01-06 03:08] lockercho commented on #49665
Hi @jiafatom, many thanks for the help.
Hi @spandantiwari, yes I've tested master branch and it works!

[2021-01-06 04:19] mruberry commented on #50112
Hey @stas00, thank you for the suggestion. I agree we should be clearer in our documentation, especially for the function itself (see https://github.com/pytorch/pytorch/issues/50097), and your writeup brings up a lot of good points that we should address. Thanks for taking the time to file this issue with such a thoughtful write-up.

[2021-01-06 04:26] stas00 commented on #50112
Thank you for your follow up, @mruberry

Did you mean to post a different link? I am not sure how the issue you linked to is related to `torch.cuda.set_device`.

[2021-01-06 04:26] skyline75489 commented on #37068
@wrrogers If you can get PyTorch 1.7.0, you should be able to use DDP on WIndows. See https://pytorch.org/tutorials/intermediate/ddp_tutorial.html

[2021-01-06 05:21] gmagogsfm opened #50127 "JIT does not correctly compile custom classes derived from torch.Tensor"
## 🐛 Bug

In the unlikely case of user defining a custom class that derives `torch.Tensor`, TorchScript would still treat it like base `torch.Tensor` class, which can lead to incorrect behavior.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Expecting that JIT and eager produce same result or JIT explicitly rejecting user's custom class.

[2021-01-06 05:40] #46549 closed

[2021-01-06 05:41] #37883 closed

[2021-01-06 05:42] #24697 closed

[2021-01-06 06:42] pritamdamania87 commented on #50092
cc @mingzhe09088

[2021-01-06 07:01] stas00 commented on #49961
This is very helpful - thank you, @pritamdamania87!

Oh, great, I was actually thinking of experimenting with fairscale's PP first, since we have just integrated their Sharded DDP into the HF trainer. So if we start using PP it might be fairscale if pt>=1.8 restriction won't be accepted by the HF team, since it'd be easier to ask to install a 3rd party module than request users to upgrade to pt-1.

[2021-01-06 07:29] jiangsy commented on #29843
The error of 'Call' object has no attribute 'id' seems to be caused by the `with torch.no_grad()` in `sample()` , (relevant to #44768). However, even if I remove the entire `sample()` function, new errors still come when unpacking the tuple in `self.loc, self.scale = broadcast_all(loc, scale)` (relevant to #28303). Hope that `torch.distributions` can be supported by jit since it's commonly used in

[2021-01-06 07:44] ansong1024 opened #50130 "training speed"
Hi
  Choosing GPUs(2,3,4,5,6,7) is 20% faster than choosing GPUs(1,2,3,4,6,7). How to deal with this problem？

Ubuntu16.04，pytorch1.5, cuda10.2, single machine with 8 GPUs

Thanks

[2021-01-06 08:00] jarledo commented on #49460
I'm just spitballing here, but the only place I found a relevant call to `std::back_insert_iterator` is here through the `std::regex_replace` call (see (3)-(6) here https://en.cppreference.com/w/cpp/regex/regex_replace):
https://github.com/pytorch/pytorch/blob/ad7d208ba5f2c5614679a7999918b75ae74530e9/torch/csrc/jit/serialization/import_source.cpp#L321

Is it possible that `qualified_classname.qual

[2021-01-06 08:27] windmaple commented on #49308
Unfortunately 'git submodule foreach git clean -xdf' didn't help here. I also tried cloning a fresh repo, still no luck.

In addition, I tried to compile onnx directly using

[code]

and it worked just fine.

[2021-01-06 09:02] seungwonpark opened #50134 "nn.InstanceNorm should warn user if input channel is inconsistent with num_features, even when affine=False"
## 🐛 Bug

When `nn.InstanceNorm1d` is used without affine transformation, it does not warn the user even if the channel size of input is inconsistent with `num_features` parameter. Though the `num_features` won't matter on computing `InstanceNorm(num_features, affine=False)`, I think it should warn the user if the wrong argument/input is being given.

## To Reproduce & Expected behavior

[code]

I

[2021-01-06 09:21] TomHeaven commented on #42271
From the error message, we can see that clang compiler of macOS convert  `ptrdiff_t` to `long` type. Tensor object seems to have trouble linking `tensor<long>.item()`. Therefore, a better fix is to manually specify the data type here as `int64_t`:

[code]

I'll try to make a pull request according to the fix.

[2021-01-06 09:42] twhuhn opened #50136 "Inconsistent Variable Naming in FindTorch.cmake"
## 🐛 Bug

when find_package'ing Torch in C++ environments, CMake variables like _LIBRARIES or _INCLUDE_DIRS are set uppercase (TORCH_) instead of being set according to the package name (Torch_), which is at least common practice in other packages (e.g. [Boost](https://cmake.org/cmake/help/latest/module/FindBoost.html) ).

Although not rendering the package inusable, at least in my case this leads

[2021-01-06 09:59] Anaphory opened #50137 "Core Dump due to 'free(): double free detected in tcache 2'"
## 🐛 Bug

After several days of training on a not particularly capable GPU, one of my models suddenly died during testing with the message

    evaluating…
    92%|████████████████▌ | 1667/1811 [4:43:54<08:57,  3.73s/it]
    free(): double free detected in tcache 2
    Aborted (core dumped)

## To Reproduce

So far, this has only occurred once (a similar parallel run, and two more runs on CPU inst

[2021-01-06 10:59] byronyi commented on #48491
Same error here.

[2021-01-06 11:12] #50130 closed

[2021-01-06 11:17] mberr commented on #3025
Although it looks like numpy is currently just wrapping `in1d`:

https://github.com/numpy/numpy/blob/da887a666ad975ece7fb7465005aa99c0ddef8d2/numpy/lib/arraysetops.py#L709-L711

[2021-01-06 11:24] ain-soph opened #50138 "[Feature Request] Hessian support for model weights (nn.Parameter)"
## 🚀 Feature
`torch.autograd.functional.hessian` provides a convenient way to calculate hessian for a function wrt an input. However, many times we don't want to calculate hessian wrt x (input), but hessian wrt θ (model parameters).
Currently hessian API in this case have some confusion and not very convenient. There is a related post in discussion board:
https://discuss.pytorch.org/t/using-autogr

[2021-01-06 11:32] Dicko87 commented on #7068
Hi folks, I am struggling with getting repeatable result for a DETR model I am running with pytorch.
I have defined the following function:
import os
from numpy import random
import numpy as np
def seed_torch(seed=42):
	random.seed(seed)
	os.environ['PYTHONHASHSEED'] = str(seed)
              np.random.seed(seed)
              torch.manual_seed(seed)
              torch.cuda.manual_seed(seed)

[2021-01-06 11:44] noamzilo opened #50139 "How to correctly nest datasets and dataloaders?"
## ❓ Questions and Help

Hi, I am asking here because it seemed like the right place, if it isn't please tell me where to ask.

 Consider a stream of tabular data.

[code]

Please assume the dataframes will be large (and different).

I want to create a dataloader for data that is arranged as I stated above.
batches should be of X rows of the current dataframe, until it is done (including shuffling

[2021-01-06 11:53] mruberry commented on #50104
Thank you for this suggestion, @toshas. Can you comment on why you're interested in torch.orgqr, in particular, vs. the new torch.linalg.qr? See its documentation here: https://pytorch.org/docs/master/linalg.html#torch.linalg.qr.

[2021-01-06 12:09] mruberry commented on #50112
Haha, thank you @stas00, I did mean to post a different link. Editing it inline now.

[2021-01-06 12:12] mruberry commented on #49885
I'm actually not our optimizer expert, sorry. And I wanted to give them a chance to review. Since people just got back from the New Year holidays it might take a little time.

[2021-01-06 12:26] toshas commented on #50104
Great question @mruberry! QR decomposition takes an arbitrary matrix `W` as an input, and returns an orthogonal matrix `Q`, and a triangular matrix `R`. This function is useful on its own, but it does not help to solve parameterization of the manifold, which is the "inverse" problem in some sense.

Say we want a matrix `W` (of shape `d x r`)(which could be a weight matrix of a layer) be orthogonal

[2021-01-06 12:29] Lezcano commented on #50104
A more mathematical take on the problems of QR vs orgqr:

The current QR implementation does not implement backpropagation whenever the input is not full rank. This is not because the current implementation is lacking, but because the gradient is not well defined for these inputs (there are many possible gradients really). This could be solved by a careful implementation of QR with pivoting, but e

[2021-01-06 12:36] mruberry commented on #49992
Thanks for this suggestion @vadimkantorov. It would be good to be clearer about the relationship between modules and the operations behind them.

[2021-01-06 12:39] mruberry commented on #50017
Thank you for pointing this out, @DNXie. @dreiss, maybe this typo fix can be rolled into another PR?

[2021-01-06 12:42] jiangsy commented on #29843
It may also require a better support of Class (e.g. inheritance #26177).. so things may be a little bit tricky

[2021-01-06 12:50] mruberry commented on #50104
Thank you, @toshas, @Lezcano. Also, let me cc @jbschlosser who's looked at better support for orthogonalization constraints recently.

From your analysis I will tentatively suggest that we would accept a PR implementing this. More correctly, it would be interesting to see two (maybe three) PRs: one adding CUDA support, and another autograd support.

fyi we're also currently working on improving Py

[2021-01-06 13:00] vadimkantorov commented on #49992
(hopefully at least a notice "there is also a functional version F.hardshrink" could be auto-generated)

[2021-01-06 13:10] jiangsy commented on #29843
a minimal workaround for torch.Normal could be

[code]

[2021-01-06 14:10] TomHeaven commented on #42271
I've created a pull request here: https://github.com/pytorch/pytorch/pull/50141.
Unfortunately, I cannot get rid of some unwanted changes in submodules...

Maybe you can directly fix the issue with my above fix. @ezyang

[2021-01-06 14:54] ezyang commented on #49652
So therefore, not only a ROCm problem

[2021-01-06 14:57] Hitansh159 commented on #50013
yes, currently tile and repeat do the same thing the only difference is that repeat will not except the input tuple of lesser dimensions then tensor. Tile overcome this by assuming that  user want to extend the dimensions to initial if input tuple is of lesser dimension.

also Tile is implemented with help of repeat function.

I want to contribute but the issue being that I am unable to build at m

[2021-01-06 14:58] mruberry commented on #49652
Also removing "module: flaky-tests" even though this is causing intermittent test failures. This will let it appear in our triage review meeting.

[2021-01-06 15:02] mruberry commented on #50013
Hi @Hitansh159, thanks for your interest, but this issue is currently only for discussion. We have not decided to do any work here, yet. It'd be great to have you contribute to PyTorch, though. You may want to look at this query of issues for something to start with:

https://github.com/pytorch/pytorch/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22

and check out our contribution gui

[2021-01-06 15:07] DNXie commented on #50018
@ezyang  Yes, this bug is detected when we are collecting the document using script for research purpose. :)

[2021-01-06 15:10] ezyang commented on #50095
cc @vishwakftw but you might just be out of luck, sounds like something ill-conditioned going on here

[2021-01-06 15:19] mruberry commented on #9190
fyi @glaringlee this could actually be very tricky to implement and test.

[2021-01-06 15:20] mruberry commented on #9983
Sorry, no update on matrix log or matrix sqrt. We are planning to review better SciPy linear algebra compatibility in the near future, however.

[2021-01-06 15:21] mruberry commented on #50098
Thank you for reporting this issue, @c-f-h. We'll take a look.

[2021-01-06 15:23] rgommers commented on #9983
@nikitaved has done work on matrix sqrt, which should be unblocked once his `linalg.lstsq` PR is in - it's still a big job after that though, so no ETA. No one has worked on matrix log AFAIK.

[2021-01-06 15:31] albanD commented on #49724
Could you point me to that please?
From my understanding, this problem comes from the fact that you are using the chain rule at a point where the the functions is not differentiable and so you cannot expect it to work.
Another example I can give you is `relu(x) - relu(-x)`. This is also an identity function but the autograd will give a 0 gradient at 0. The nice thing with this example is that it s

[2021-01-06 15:43] #49977 closed

[2021-01-06 15:44] ejguan commented on #50089
Can you please share a minimum script to reproduce this Error?
I can only suggest to try to force spawn as the start method in your main function.

[2021-01-06 15:49] mrzzd opened #50143 "FX call_function does not work if target is a class member function"
## 🐛 Bug

Currently if one has a statement like `tracer.create_proxy('call_function', f, args, kwargs)` where `f` is a class member function, the generated code does not work correctly.

## To Reproduce

As explained in the description:

[code]

## Expected behavior

The generated code should have `f = module_name.A.f()`. But instead it has `f.module_name.f()`

[2021-01-06 15:52] anjali411 commented on #50097
@c-f-h we don't currently support many operations/tensor creators for `torch.complex32`, which also makes me think it's best to disable `torch.complex32` until we commit to adding support for it.

[2021-01-06 16:23] jbschlosser commented on #49726
@mruberry and I looked at this. Summary for those who don't want to dig into the original issue / PRs:

As mentioned elsewhere, this is a common problem that occurs when mixing `@property` and `__getattr__` (see [here](https://stackoverflow.com/questions/25115366/property-and-getattr-compatibility-issue-with-attributeerror), [here](http://blog.devork.be/2011/06/using-getattr-and-property_17.html),

[2021-01-06 16:36] stas00 commented on #50112
Thank you for the edit. And so the doc says:

which
1. is even more confusing.
2. it's not saying which `device` (but linking to `torch.cuda.device`), and we have `torch.device` and 2 are just as confusing and behave identically at times and differently at other times: https://github.com/pytorch/pytorch/issues/49952

[2021-01-06 16:44] aocsa commented on #49683
I would like to see this issue and open a PR.
I'll take a peek in the next day or two. cc @ngimel

[2021-01-06 16:51] joacorapela commented on #49993
Thanks for your feedback @fehiepsi

The expected behavior is that torch.optim converges to the minimum of the Rosenbrock function, as jax.scipy.optimize does in the script below, but torch.optim does not.

Note, however, that in jax.scipy.optimize I am using BFGS, instead of L-BFGS, since the latter is not available in jax.scipy.optimize yet.

This is the output of the script:

[code]

Thanks
#

[2021-01-06 17:18] soulitzer opened #50146 "No documentation for `torch.sgn`"
## 📚 Documentation

`torch.sgn`, not to be confused with `torch.sign` is not documented at all.

Important things to mention in the docs include:
 - the fact that it support complex, unlike `torch.sign`
 - difference from NumPy's sign, which also supports complex
 - the formula for what it does when input is complex (since there are many different possible formulas)

cc @ezyang @anjali411 @dylanbe

[2021-01-06 17:22] mruberry commented on #50146
It is actually documented but it's missing an torch.rst entry so it doesn't appear in the built docs. See here:

https://github.com/pytorch/pytorch/blob/68a6e4637903dba279c60daae5cff24e191ff9b4/torch/_torch_docs.py#L7517

[2021-01-06 17:45] asobhy-qnx commented on #28772
I am cross compiling for QNX and I came across this issue @yurivict how did you resolve this?

[2021-01-06 17:49] IvanYashchuk commented on #50104
I think it's a good idea not to constrain ourselves to support only what NumPy or SciPy supports. Especially in this case when LAPACK, MAGMA, cuSOLVER already provide a ready routine to use.
Even though LAPACK API is well-known to some people, this new function should probably have a different more descriptive name as we are not constrained by the old Fortran 6 character function name convention.

[2021-01-06 17:52] #49918 closed

[2021-01-06 17:53] jackdyson31 commented on #48903
@ezyang Cheers mate. I'll change it to int64_t and recompile it to check it works ok. Tom has already added a patch on his page, so I'll submit one for just this problem.

[2021-01-06 18:02] glaringlee commented on #9190
@mruberry
Thanks for letting me know! It seems to me that we have 2 problems here, type mixed and device mixed. We can probably fix type mixed (promotion) first and for device mixed issue, I am not sure whether we should support.

The Tensoriterator will promote the input condition tensor as well, without changing the Tensoriterator, I guess what we can do instead is to get the promoted type from

[2021-01-06 18:03] SsnL commented on #49726
@jbschlosser I agree that this is in essence a Python issue. However, I still think that we should provide a workaround because this confusing phenomenon is really caused jointly by user and PyTorch (which defines custom `__getattr__`) and the users should not be expected to know this implementation detail, and thus may likely be confused (for instance, they wouldn't even know that they need to se

[2021-01-06 18:16] spandantiwari commented on #49665
Thanks @lockercho for confirming.

[2021-01-06 18:24] spandantiwari commented on #50125
@fteufel - we have a PR enabling the export of __derive_index but it is not in master yet. https://github.com/pytorch/pytorch/pull/49514
Adding @neginraoof who is the author of the PR to see if torch.where() should be enabled after that.

[2021-01-06 18:24] ngimel commented on #14848
Do you have benchmarks demonstrating slow performance on the GPU? For the original issue I have GPU faster than CPU and CPU faster than numpy. Closing the issue.
[code]

[2021-01-06 18:24] #14848 closed

[2021-01-06 18:27] nikhilmishra000 commented on #47138
oh got it -- will it be included in 1.8? do you have a ballpark estimate of when that will be released?

[2021-01-06 18:28] yurivict commented on #28772
```PyTorch``` doesn't yet build on FreeBSD.

But I don't remember why I closed it exactly.

Please feel free to reopen if you observe the same symptom.

[2021-01-06 18:35] ZejiaZheng commented on #14867
[code]
This is not always true. Any network with a dense layer would only work on the specific input size. The deployment system that I am currently working on is also blocked by this issue.

[2021-01-06 18:42] ngimel commented on #11867
Closing, LayerNorm was rewritten multiple times since, please reopen if issue still persists. cc @BIT-silence

[2021-01-06 18:42] #11867 closed

[2021-01-06 18:50] hsilveiro commented on #49555
Hey again
After several experiments, we tried to make some modifications to the number of Inter-op and Intra-op threads.
First of all, we used the following methods:
get_num_interop_threads() and get_num_threads() to have an idea of how many were being used. It seems that the default is four threads for each one (and this default value seems to conform with the number of existing cores in the used

[2021-01-06 18:50] ailzhang commented on #44680
@zou3519 Great questions!
1. Yes they got generated from derivatives.yaml and got populated to AutogradCPU/AutogradCUDA entries in dispatch table.
2. Yea Math maps to a set of backend keys and it has lower priority than the explicit registration to those keys. For example, in the addr case above, `math_addr` will be populated to both `AutogradXLA` and `XLA` if XLA doesn't have a direct registratio

[2021-01-06 18:55] vadimkantorov commented on #9190
Just to be sure, wasn't this issue fixed in https://github.com/pytorch/pytorch/pull/40336? what's left to be done?

[2021-01-06 18:58] #47722 closed

[2021-01-06 19:02] mruberry commented on #9190
Type promotion.

[code]

[2021-01-06 19:03] malfet commented on #43300
@maximtrp if you running the code on modern CPU you need to build qemu with a small patch to simulate sigill on all AVX instructions.

[2021-01-06 19:20] zasdfgbnm opened #50153 "libtorch_cuda.so is missing fast kernels from libcudnn_static.a, therefore statically linked cuDNN could be much slower than dynamically linked"
## 🐛 Bug

libtorch_cuda.so is missing fast kernels from libcudnn_static.a, therefore statically linked cuDNN could be much slower than dynamically linked.

People at NVIDIA found that the following code is much slower on backward when running with statically linked cuDNN compared to dynamically linked one:

[code]

The backward for statically linked cuDNN is about 4x slower than the dynamic ones.

[2021-01-06 19:27] malfet commented on #50153
@zasdfgbnm Is it only true for fp16 on Ampere or for tensor types/architectures as well?

[2021-01-06 19:44] ain-soph commented on #49530
May close this issue if it's not appropriate. Personally I'd prefer native `dict` and think that's more readable and brings a clean coding style with fewer brackets and import sentences. But `OrderedDict` won't affect any daily use for sure.

[2021-01-06 19:56] kurtamohler commented on #39227
It does seem like we could use `gpuAtomicAdd` to enable duplicate indices for the CUDA implementation. Currently, as far as I understand, determinism does not seem to be an issue since duplicate indices are not allowed. If we update to use `gpuAtomicAdd`, it will be nondeterministic when given duplicate indices, so it would need proper deterministic flag documentation and behavior.

At the very le

[2021-01-06 20:01] albanD commented on #47571
Hi @juntang-zhuang

Small update on this as most of us where away on the past two weeks.
Unfortunately @glaringlee was not aware of the special policy we have for the python side of the torch.nn and torch.optim APIs as he is much more focused on the c++ APIs.
Sorry about the late reply here :/

In particular, you can see it in other similar feature requests [here for example](https://github.com/py

[2021-01-06 20:02] e-rich commented on #17023
I had the same experience as Doev. I don't understand why, because 5 minutes before I downloaded 2 GB in 5 minutes.

[2021-01-06 20:09] Naagar commented on #50095
how can I resolve this any suggestions?

[2021-01-06 20:24] malfet commented on #50153
I do not see cutlass kernels invoked when running on 2080 with shared libcudnn.so.7.5.0:
[code]

[2021-01-06 21:06] erikwijmans commented on #47138
I am not Pytroch team, so I don't know the exact details, but since the fix is in master I assume it will be.  Don't have a guess for the 1.8 release timeline tho.

[2021-01-06 21:12] juntang-zhuang commented on #47571
@albanD Thanks a lot. I'll keep my local repository for general purpose use, will consider a pull request later.

[2021-01-06 21:17] ejguan commented on #49849
First, I am not sure why you put `num_workers-1` into DataLoader. But, it's not related to the problem you have.

To solve the problem, can you put these part into a function and called by
[code]
Your code currently will generate the worker number of `MyIterableDataset`s rather than one due to python multiprocess mechanism.

[2021-01-06 22:04] hudsontek commented on #48382
This does solve the problem. But still, this is a weird bug. Different behiviors on different platforms.

[2021-01-06 22:10] albanD commented on #47571
That sounds great! Don't hesitate to ask in this issue or on the forum if you have any issue with implementing new optimizer/operators in pytorch!

You can link your local repo with the code here if you want. In case people looking for an implementation find this issue :)

[2021-01-06 22:15] jamesr66a commented on #50143
Can you show a broader example of where this is needed? I want to make sure that the rest of the infrastructure is consistent with supporting calling class methods

[2021-01-06 23:33] marii-moe opened #50170 "Automated Mixed Precision not documented to work with nn.DataParallel"
The documentation is here: https://pytorch.org/docs/stable/notes/amp_examples.html#dataparallel-in-a-single-process
and here: https://github.com/pytorch/pytorch/blob/master/docs/source/notes/amp_examples.rst#dataparallel-in-a-single-process

This is the statement in question:

This pull request updated `parallel_apply` so that `nn.DataParallel` will work with `autocast`. https://github.com/pytorch

[2021-01-07 00:29] jerryzh168 opened #50174 "torch.chunk returns Proxy"
Can be reproduced by:
[code]

Error:
[code]

[2021-01-07 00:30] #9201 closed

[2021-01-07 00:31] gmagogsfm opened #50175 "`torch.jit._overload` should have some safe guarding against misusing it."
## 🚀 Feature
`torch.jit._overload` should have more safeguarding against misuses like, annotated function doesn't have a pass-only body. Currently, behavior is confusing when it is misused.

## Motivation
`torch.jit._overload` requires a specific use pattern, ie declaring multiple unambiguous schemas annotated with `torch.jit._overload` and a single implementation that is compatible with previousl

[2021-01-07 00:31] jamesr66a commented on #50174
If the number of chunks is fixed, you can iterate and index as a workaround:

[code]

Otherwise, this program is dynamic and fundamentally not traceable

[2021-01-07 00:32] jamesr66a commented on #50174
Closing as this is working as intended. We can make a follow-up to discuss informing the system about static chunking

[2021-01-07 00:32] #50174 closed

[2021-01-07 00:37] jamesr66a opened #50177 "[FX] Static chunking"
[code]

Does not work, because `chunk` returns a list of tensors, but we represent it as a `Proxy` in FX. If the user can certify that the chunk callsite is indeed static, we could emit `getitem` calls and make each of the contained values available. Also DCE ones that aren't used. Equivalent PT code (we would define syntactic sugar for this):

[code]

[code]

[2021-01-07 00:41] jerryzh168 opened #50178 "[FX] `is None` condition check does not error out in symbolic tracing, and can produce silently incorrect results."
[code]
We get:
[code]

Expected:

I think it would be better for this case to error out so that user will be aware that the model is not compatible with symbolic tracing.

[2021-01-07 00:46] H-Huang commented on #50139
Hi, can you post this on the [PyTorch forums](https://discuss.pytorch.org/)?

[2021-01-07 00:46] #50139 closed

[2021-01-07 00:46] malfet commented on #50051
@skyline75489 did you see it every time you start a test? Or in the middle of test execution?

[2021-01-07 00:52] skyline75489 commented on #50051
About 3 out 10 times I’m seeing the error in the middle of test execution. But I don’t think this is the same error as you mentioned in the log. In that log no exception detail was printed. I’ve also seen this one locally, which is even harder to know why since absolutely no exception info can be used.

[2021-01-07 00:57] xwang233 opened #50179 "[Feature Request] Add a test option that allows tests continue to run after failure"
## 🚀 Feature

Add a test option that allows tests continue to run after failure.

For example, when we run `python test/run_test.py`, if `test_A` fails, all tests after that are stopped. We want `test_B`, `test_C` continues to run and have their error messages (if any) printed as well.

## Motivation

Detect failures thoroughly.

## Pitch

I found that there is an option called `continue_through_e

[2021-01-07 01:43] malfet commented on #49656
I've noticed, that it always hangs while running `test_functional_autograd_benchmark.py`

[2021-01-07 01:49] xwang233 commented on #50179
Seems like there is an option `--continue-through-error`. I'll close this.

[2021-01-07 01:49] #50179 closed

[2021-01-07 02:00] jcaw commented on #49601
Sure. It seems that `compute_deltas` packs all leading dimensions into the freq dimension, e.g. `(batch, channels, freq, time)` -> `(batch * channels * freq, time)`. This creates a tensor that's very large in one dimension (rather than just large overall) which seems to be the issue.

This will trigger it on my 970:

[code]

Pushing it further will eventually cause OOM:

[code]

If I balance the d

[2021-01-07 02:01] malfet commented on #49656
Since test as it's currently written escapes code coverage anyway it seems safe to bypass it.

[2021-01-07 02:08] jcaw commented on #49601
Ok, a bit more digging. This triggers the error:

[code]

But 65535 is fine:

[code]

Is something exceeding a 16 bit limit?

Interestingly, if I change the order of the dimensions things work fine, with much higher numbers:

[code]

[2021-01-07 02:10] malfet commented on #49656
When one of the subtests deadlock, backtrace looks as follows:
[code]

[2021-01-07 02:11] malfet commented on #50051
@skyline75489 is it possible to configure Windows to print some message in system log if process terminates with unhandled exception?

[2021-01-07 02:27] sharvil opened #50185 "CUDACachingAllocator is not GC-aware"
## 🐛 Bug

Dead objects holding `Tensor`s are considered active memory by `CUDACachingAllocator`. Under GPU memory pressure, the allocator makes no attempt to run a garbage collection cycle on dead but as yet uncollected `Tensor`s. As a result, the allocator has no recourse but to raise an OOM exception despite having potentially significant amounts of memory available to service the allocation req

[2021-01-07 02:33] skyline75489 commented on #50051
For C# & other CLR-based application, the unhandled exceptions will be logged in the event viewer. For Python I honestly have no idea. I'll need to take some to time to investigate this

[2021-01-07 02:55] ptrblck commented on #50153
@malfet Thanks for the quick test!
We are currently trying to scope this issue and are investigating the drop of these kernels from the statically built lib with the cudnn team.

[2021-01-07 03:06] ngimel commented on #49601
Thanks for a reproduction! @xwang233 can you please look into this?

[2021-01-07 03:42] ptrblck commented on #49952
The issue seems to be raised due to an uninitialized CUDA.
I.e. calling `memory_allocated()` directly fails:
[code]
while this works on my local setup (a recent nightly build, nuked my env and cannot reinstall the current nightly at the moment, will recheck it later):
[code]

PyTorch 1.6.0 and 1.7.0 create a Segmentation fault using the first code snippet and 1.5.0 works fine, so I assume the chan

[2021-01-07 03:48] H-Huang commented on #50137
Thanks for the report @Anaphory, I tried to repro this locally using your code but was missing configurations. Based on your description, I suspect it could just be a bad GPU which caused some sort of memory corruption. Closing this issue for now unless we get additional reports or consistent reproduction.

[2021-01-07 03:48] #50137 closed

[2021-01-07 03:58] gmagogsfm opened #50188 "Interface compilation fails when doc-string is present in method body with Python 3.8"
## 🐛 Bug

Defining a `torch.jit.interface` in Python 3.8 errors out if method has a doc-string. This is because we have hard-coded logic that checks each interface method only has a single `pass` statement in AST, however, doc-string's presence breaks this check.

## To Reproduce

[code]

AST dump from the method:
[code]

You can see that there are two statements in the body, namely a string const

[2021-01-07 03:58] gmagogsfm commented on #50188
Also, I am curious why this isn't caught by our CI, is it because we don't have a test case with doc-string?

[2021-01-07 04:27] juntang-zhuang commented on #47571
@albanD  Thanks a lot! The link to local repository with an implementation of AdaBelief in PyTorch is https://github.com/juntang-zhuang/Adabelief-Optimizer

[2021-01-07 05:17] IAMAl commented on #48145
Hi,

If you install PyTorch without anaconda environment, this instruction works;
https://github.com/IAMAl/PyTorch4M1

[2021-01-07 05:32] sharvil opened #50190 "Calling emptyCache in Conv_v7.cpp causes performance degradation"
## 🐛 Bug

In `aten/src/ATen/native/cudnn/Conv_v7.cpp`, there are calls to `CUDACachingAllocator::emptyCache` when running an algorithm search during benchmarking. [The justification for the calls is](https://github.com/pytorch/pytorch/blob/25a8397bf3760d60bd754517d590f15cbd041e25/aten/src/ATen/native/cudnn/Conv_v7.cpp#L280-L283):

[code]

There are a few issues with this call:
1. It's not necessar

[2021-01-07 05:44] ngimel commented on #50090
Can't repro on master. Signature of `native_layer_norm` changed, but even accounting for that I get a correct error message:
[code]
Current signature is
[code]

[2021-01-07 05:49] ngimel commented on #50087
You cannot override `.cuda()` method this way, it's not supported. You need to override `_apply` method instead. Please ask questions on discuss.pytorch.org

[2021-01-07 05:49] #50087 closed

[2021-01-07 05:57] fehiepsi commented on #49993
Thanks, @joacorapela! I did some quick tests by changing the last element of `x0` from `1e4` to `1e3` and `1e2` and found that
+ In float32, pytorch version somehow converges for 1e2 and 1e3 but not for 1e4; jax version does not converge at all
+ In float64, pytorch version converges for all; jax version only converges for 1e4

In all of my tests, PyTorch version performs better, either in float32

[2021-01-07 06:04] ngimel commented on #49952
Yeah, I'm pretty sure the problem was introduced in #37567

[2021-01-07 06:15] getalloseal commented on #50089
When I wrote the minimal example, I have figured out what causes the error. I still do not know why. Anyone can help to explain will be appreciated. I have a customized dataset, which will filter out some indices. There is one line using set of integer tensor, which cause the error. The error only happens when you use multiprocessing (only spawn I have tested) both in main function and inside data

[2021-01-07 06:35] binshengliu commented on #48841
I ran into the same problem. I saved the prob tensor and I can almost 100% reproduce it using the saved tensor on GPUs and on CPUs.

[code]

My environment:
[code]

[2021-01-07 06:39] KeyKy commented on #28497
I also get this error.

[2021-01-07 06:55] carlosgmartin opened #50192 "GRU and LSTM fail for seq_len = 0"
## 🐛 Bug

[GRU](https://pytorch.org/docs/stable/generated/torch.nn.GRU.html) and [LSTM](https://pytorch.org/docs/stable/generated/torch.nn.LSTM.html) raise a RuntimeError for inputs of `seq_len` 0.

## To Reproduce

Example:

[code]

Output:
[code]

## Expected behavior

Should output a tensor of size `torch.Size([0, 10, 6])` and `h_0`.

## Environment

[code]

[2021-01-07 07:39] carlosgmartin commented on #4582
@apaszke I see no reason to not handle the 0 case. There's a very good reason why 0 shows up as a natural base case in *many* situations. For example, it is convenient to have tensors with dimensions of size 0. Why? Because we've found that it simplifies our programming logic. Thus PyTorch handles arithmetic with dimensions of size 0.

Likewise, treating natural numbers (including 0) uniformly sim

[2021-01-07 08:37] yindavidyang commented on #49865
It's probably not a simple linear algebra issue -- the above code generates 265MB of CUDA computing cache.

[2021-01-07 08:44] xysmlx opened #50195 "ONNX exporter outputs invalid ONNX graph for function with torch.jit.script annotation"
## 🐛 Bug

torch.onnx.export exports invalid ONNX graph for the following function:
[code]

The datatype of the constant 1.0 is identified as double. Then, the inputs of the add operator in ```1.0 + torch.erf(x)``` are float tensor and double tensor, which is invalid in ONNX.

Error message of ONNX Runtime:
[code]

ONNX graph:
[code]

However, torch.onnx.export works well when the torch.jit.script

[2021-01-07 09:03] blair2020 commented on #49095
Hello, I've met exactly the same problem with you now. Would you plz share your solution? Thx in advance!

[2021-01-07 09:40] wanyu2018umac commented on #49928
Thanks! So should I open a PR for this? I'm new on using PR submission.🤦‍♀️

[2021-01-07 11:22] slin96 opened #50198 "deterministic implementation for adaptive_avg_pool2d_backward_cuda"
## 🚀 Feature

Provide a deterministic implementation for _adaptive_avg_pool2d_backward_cuda_

## Motivation

I am currently doing some experiments that require 100% reproducibility with vgg19 and alexnet form torchvision.
Both make use of _adaptive_avg_pool2d_backward_cuda_ and when using _torch.set_deterministic(True)_ they throw:
_RuntimeError: adaptive_avg_pool2d_backward_cuda does not have a d

[2021-01-07 11:34] nquest commented on #50001
CPU and CUDA versions are built automatically in Arch's community repo and builds are stable. We use same PKGBUILDs with small modifications for rocm-specific builds, but trying to be as close as possible to Arch's community version.

[2021-01-07 11:52] ymsdu2004 commented on #50092
@mingzhe09088 Is it similar to this issue？https://github.com/pytorch/pytorch/issues/38642

[2021-01-07 12:04] shaoming20798 commented on #50087
OK, I will.

[2021-01-07 12:33] peterjc123 commented on #50051
https://docs.microsoft.com/en-us/cpp/cpp/unhandled-cpp-exceptions?view=msvc-160 Looks like MSVC provides a path for catching those unhandled exceptions.

[2021-01-07 12:41] egrefen commented on #39279
Thanks for the code snippet, @vincentqb, and sorry for taking so long to get back to you. Just as a point of clarification, would the idea be that at the end of the meta-training loop, the `inner_module` state would correspond to its state at the end of the latest inner loop, or would it revert to how it was before the meta-training loop was done? If the latter, should we expect a `inner_model.loa

[2021-01-07 12:43] egrefen commented on #39279
I agree @seba-1511 that letting the `to=` keyword in `backward` take an iterable of parameters/leaf-nodes in the backward graph offers more flexibility (even outside of the meta-learning case).

[2021-01-07 13:07] rishabhvarshney14 commented on #50064
Can I work on it @anjali411?

[2021-01-07 13:18] jeisner commented on #49724
@albanD writes:

When @ezyang says "proper intervals," I am guessing he means that the backward pass in principle could return a subdifferential.  In the scalar case, this is an interval.

For example, the subdifferential of `relu(x)` at x=0 is [0,1].  One could then do interval arithmetic in the chain rule, so the subdifferential of `relu(x) - relu(-x)` would be computed as [0,1] - [0,1] = [-1,1]

[2021-01-07 13:33] albanD commented on #47571
Thanks for the link.

Closing for now to reduce noise. Please re-open the issue when we have more data on the adoption so that we can reconsider adding this!

[2021-01-07 13:33] #47571 closed

[2021-01-07 13:40] albanD commented on #49656
Thanks for looking into this Nikita!
Do I understand correctly that:
- `test_functional_autograd_benchmark.py` works fine on all CI machines except the one that test coverage.
- When you run locally the `multiheadattn` for `vjp` test on your machine in a loop, it ends up deadlocking (what machine are you using? We have some deadlock on exit in windows)
- When you deadlock, it is in the destruction

[2021-01-07 13:45] albanD commented on #39279
@egrefen and @seba-1511 for the autograd API, the inputs= choice is the one that was made indeed and this is already available in master: https://pytorch.org/docs/master/autograd.html#torch.autograd.backward

Note that, for now, the given inputs must be leafs. We can lift that constraint in the future if needed.

[2021-01-07 14:06] sseveran opened #50200 "CUDA Crash when allocating memory."
## 🐛 Bug

I am experiencing a crash intermittently in a dataloader process. I am not so much looking for a solution at this point, more guidance on collecting information that might be useful in tracking down more information or building a more deterministic repro case if that is possible. Given that it seems to be an issue allocating memory I am not confident at this point that one can be easily

[2021-01-07 14:10] ezyang commented on #50097
to be clear, this is some confusion here: complex32 refers to half-precision complex tensors. If you want floating point complex tensors, that is complex64 (the number refers to the overall size of the complex number, not the constituent pieces)

[2021-01-07 14:22] almson opened #50201 "Excessive memory usage caused by Samplers storing lists of indices"
## 🐛 Bug

Samplers use excessive memory. Memory usage is unbounded and prevents use of data loaders which report a large length (>100 million examples).

For example, a moderately-sized audio dataset of 500 hours at 100 fps contains 180 million timesteps and reports this as its length. This leads to ~100GB of memory usage during multi-GPU training.

Samplers shouldn't use memory to store lists. Th

[2021-01-07 14:25] ansley opened #50203 "`add_XX` ops not symbolically traceable"
## 🐛 Bug

`addmm`, `addmv`, and similar ops are not symbolically traceable. The error message that appears suggests that the `add_XX` op is being passed a `Proxy` instead of a `Tensor`. I've looked at the implementation of these ops in LinearAlgebra.cpp, and `add_XX` appears to be a single operation (not `add` + `XX`).

Both `add` and `mm` can be symbolically traced; the problem is with `addmm`.

[2021-01-07 14:32] ezyang commented on #48841
Re-increasing priority based on user activity

[2021-01-07 14:34] albanD commented on #49724
In the context of PyTorch, I think we want a "reasonable" value here to be consistent with all the other ops we have that admit such interval of differentials (relu, max, maxpool, clamp, etc)

So the action plan here is:
- Solve the third problem for logsumexp and softmax by having a check that look at the number of elements in the Tensor. This should be fairly cheap CPU side check.
- If we are ha

[2021-01-07 14:58] anjali411 commented on #50064
@rishabhvarshney14 yes absolutely! please feel free to add me as a reviewer for your PR

[2021-01-07 15:06] ejguan commented on #50089
Can you try to use `torch. multiprocessing as mp` instead.

[2021-01-07 15:15] getalloseal commented on #50089
tried both, and same behavior.

[2021-01-07 15:28] ejguan commented on #50089
It should be working if you set mp.set_start_method('fork')

[2021-01-07 15:30] c-f-h commented on #50097
I actually missed that. I don't think the `dtype` documentation explains that, although to be fair one could guess it from the aliases `torch.cfloat` and `torch.cdouble`. I guess I just assumed that `complex32` would be a complex number built from 32-bit floats; my bad.

[2021-01-07 15:35] getalloseal commented on #50089
It is true! But still do not now know why.

[2021-01-07 15:46] bsun0802 opened #50204 "Find the joint eigenvalue of two matrices."
## 🚀 Feature
A differentiable function to find the joint eigenvalues of two matrices, MATLAB has a built-in function to find the joint eigenvalues, but I'm not sure whether it is differentiable.
https://stackoverflow.com/questions/36551182/how-can-i-find-the-joint-eigenvalues-of-two-matrices-in-matlab

## Motivation
I encounter this problem when I want to use a distance measure for covariance matr

[2021-01-07 15:46] egrefen commented on #39279
Goes to show my knowledge is out of date. That's super!

[2021-01-07 15:46] happyCodingSusan commented on #33233
Hello,

I am running windows 10, installed pytorch 1.4.0, torchvision 0.5.0

When I run the following codes,
import torch
model = torch.hub.load('pytorch/vision', 'resnet18', pretrained=True)

I got the error message of "Exception has occurred: URLError, <urlopen error unknown url type: https>"

In fact, I want to load the following model, and I got the same error message,
model = torch.hub.load('

[2021-01-07 15:49] happyCodingSusan commented on #33233
I missed some error messages which are:
Exception has occurred: URLError
<urlopen error unknown url type: https>

[2021-01-07 15:49] jbschlosser commented on #49726
@SsnL I 100% agree with you here! A smooth UX wouldn't require the user to know this implementation detail to properly debug their own code.

My personal opinion is that we should provide a workaround, and it should be the "right" workaround. I think moving the logic from `__getattr__` into `__getattribute__` is the "right" way to go. It is understandable, doesn't depend on specific python idiosyn

[2021-01-07 15:53] sinestic opened #50206 "Build Fail with vulkan on ARM64 and wayland drivers"
## Issue description

Last master commit fails to build with vulkan enabled.
I have used the USE_VULKAN=1 without google shaderc and i'm using ninja to build

Below there is the description of the error:

FAILED: caffe2/CMakeFiles/torch_cpu.dir/__/aten/src/ATen/native/Copy.cpp.o
/usr/bin/c++  -DCPUINFO_SUPPORTED_PLATFORM=1 -DFMT_HEADER_ONLY=1 -DFXDIV_USE_INLINE_ASSEMBLY=0 -DHAVE_MALLOC_USABLE_SIZE

[2021-01-07 15:55] kshitij12345 opened #50207 "[doc] Broken formatting for the function signature of `torch.randperm`"
## 📚 Documentation

Documentation does not mention anything about randperm accepting a generator.
https://pytorch.org/docs/stable/generated/torch.randperm.html

Following works:
[code]

Also,
https://github.com/pytorch/pytorch/blob/321b98830e17e9e1a366ababeb5475f9f202c815/aten/src/ATen/native/native_functions.yaml#L3073-L3086

cc @jlin27 @mruberry

[2021-01-07 15:55] vishwakftw commented on #50095
Can you extract the matrix that you are performing SVD over?

[2021-01-07 15:59] kshitij12345 opened #50208 "[doc] Broken formatting on `torch.repeat_interleave`"
## 📚 Documentation

https://pytorch.org/docs/stable/generated/torch.repeat_interleave.html
![Screenshot from 2021-01-07 21-27-25](https://user-images.githubusercontent.com/19503980/103914094-55385500-512f-11eb-84fa-273241aa499e.png)

cc @jlin27 @mruberry

[2021-01-07 16:00] zou3519 opened #50209 "Warnings during backward execution may not be turned into Python warnings, leading to console spam"
## 🐛 Bug

Warnings during backward execution may not be turned into Python warnings, leading to console spam.

## To Reproduce

Steps to reproduce the behavior:
1. Ignore all warnings in Python with `warnings.simplefilter('ignore')`
2. Use CUDA tensors
3. Find an operator whose backward pass emits a warning message. I chose to use vmap because I know how to produce a warning using vmap but there a

[2021-01-07 16:01] mruberry commented on #50097
Not "your bad" at all. Our docs could always be better. I've added the "docs" module to this issue.

[2021-01-07 16:03] twolffpiggott opened #50210 "Pytorch 1.7.1 hangs with multi-gpu, while Pytorch 1.6.0 works correctly"
## 🐛 Bug

Basic `torch.nn.DataParallel` usage succeeds on Pytorch `1.6.0` using both CUDA `10.2.89` and `11.0.3`. However using the appropriate Pytorch `1.7.1` version with each of these CUDA versions, the python process hangs indefinitely and has to be killed. The complete version combinations tested and outcomes are listed below.

The Nvidia driver version is `450.51.06` throughout and two Tesla

[2021-01-07 16:14] amurumanasa commented on #8976
Can anyone help  me  out  where  to  set  num_workers=0

[2021-01-07 16:16] amurumanasa commented on #8976
@Lmy0217 Can you please tell me where to set num_workers=0

[2021-01-07 16:17] Naagar commented on #50095
code was working fine, I did update something, and this error starts showing.

[2021-01-07 16:47] ezyang commented on #49724
No, I am not happy to use a sync point here >:(

[2021-01-07 16:55] zou3519 commented on #50192
We would accept a patch fixing this. Either a better error message or returning the correctly-shaped tensor should be good here.

[2021-01-07 16:57] soumyadipghosh commented on #48959
Thanks @osalpekar for the mention. I think that adding distributed training features in the C++ API would be very useful and DDP can be a good start. I am working on algorithms that reduce communication in distributed machine learning and I started using the C++ API over the Python API due to the following reasons - a) torch.distributed in the Python API doesn't support one-sided communication pri

[2021-01-07 16:57] zou3519 commented on #50204
This seems worth having. I'm curious if there is a numpy/scipy equivalent to this operation that we can use as a reference.

[2021-01-07 16:59] zou3519 commented on #50207
We would accept a PR to fix this (unless it turns out that there's a reason why this isn't documented)

[2021-01-07 17:00] mariosasko commented on #50192
This is what you get if you set `seq_len` to 0:
[code]
It's expected that you can't perform meaningful operations on an empty tensor.

However, a more informative error message would be great.

[2021-01-07 17:00] zou3519 commented on #50208
We would accept a PR to fix this.

[2021-01-07 17:03] mruberry commented on #50207
cc @ngimel - is there a better label or person to cc for this?

[2021-01-07 17:08] mfkasim1 commented on #50204
I have implemented this in xitorch: https://xitorch.readthedocs.io/en/latest/api/xitorch_linalg/symeig.html#xitorch.linalg.symeig (source: https://github.com/xitorch/xitorch/blob/master/xitorch/_impls/linalg/symeig.py#L27).
Also, for scipy: https://docs.scipy.org/doc/scipy/reference/generated/scipy.linalg.eigh.html with `b != None`

[2021-01-07 17:08] zou3519 commented on #50200
I think this might just be https://pytorch.org/docs/stable/notes/multiprocessing.html#cuda-in-multiprocessing. Can you try `multiprocessing.set_start_method('spawn')` at the top of your script?

[2021-01-07 17:10] ngimel commented on #49928
Yes, you should create a fix, make sure that it works locally and submit a PR. Please see https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md for more details.

[2021-01-07 17:12] ngimel commented on #48841
@binshengliu please try on master, there were fixes after 1.7.

[2021-01-07 17:14] Lmy0217 commented on #8976
@amurumanasa the argument of [DataLoader](https://pytorch.org/docs/stable/data.html?highlight=dataloader#torch.utils.data.DataLoader).

[2021-01-07 17:15] antocuni opened #50211 "Build broken on ubuntu due to MKL symbols not found"
## 🐛 Bug

On my system, pytorch builds fine, but using MKL function fails:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. `python setup.py develop`
1. `python -c 'import torch; torch.tensor([[1.0, 2], [3, 4]]).svd()'`

Depending on which MKL operations is used, the undefined symbol varies.

## Expected behavior

Not to crash :)

## Environment

I think that the relevant env variabl

[2021-01-07 17:17] jinkoo2 commented on #29383
Same here... pytorch 1.7.1 stable, python 3.7, anaconda3

os.kill(os.getpid(), 0) did not fix my issue.

[2021-01-07 17:21] jeisner commented on #49724
`logsumexp` is often applied in parallel to the various fibers of a multidimensional tensor.  (Or the fibers of a reshaped tensor if `len(dim)` > 1.)  The check for infinite values has to be performed for each fiber separately.

Does this change the cost analysis of the sync point?

[2021-01-07 17:32] gchanan opened #50213 "torch.float_power out= and inplace variant errors on non-matching output dtype instead of casting"
## 🐛 Bug

Operators usually check that the computation type can be safely casted to the output (and this matches NumPy behavior), and this doesn't happen with `float_power`.

[code]

this violates https://github.com/pytorch/pytorch/wiki/Developer-FAQ#how-does-out-work-in-pytorch

[code]

[2021-01-07 17:35] ngimel commented on #50207
cc @pbelevich, I don't think there's a reason for it to be undocumented. See also #44714 for some corner cases where generator argument is ignored causing segfaults.

[2021-01-07 17:40] ngimel commented on #49724
We already have sync points in norm/max gradients that spread the gradient value to all the sources.

[2021-01-07 17:42] jeffdaily commented on #9219
I'm assuming we can close this old issue now.  @odellus please reach out to us again if you continue to face issues building ROCm PyTorch.

[2021-01-07 17:42] #9219 closed

[2021-01-07 17:50] spandantiwari commented on #9228
We do not have this file onnx/symbolic.py in the repo. Also I don't see this line anywhere either.
`# There is no translation for it, but we don't want to raise an error yet`

It seems like you may be using an older version of PyTorch. Could you please try with the latest version and reopen this issue if you see any issue? Thanks.

[2021-01-07 17:50] #9228 closed

[2021-01-07 17:59] dojoteef commented on #50185
Tbh, I am doubtful the issues I brought up previously (and my associated workaround) are due to ref cycles that need to be cleaned up by the garbage collector. That said, I believe my workaround was deemed a slippery slope, possibly because it was heavy-handed. Hopefully, this targeted approach is acceptable for this particular case.

[2021-01-07 18:07] kurtamohler opened #50214 "Add torch.linalg.vector_norm and torch.linalg.matrix_norm functions"
## Update!

From offline discussion with @kurtamohler and @ngimel, for the 1.9 release we plan to:

- implement torch.linalg.vector_norm
- implement torch.linalg.matrix_norm
- ensure torch.norm and torch.linalg.norm can be performantly implemented using them (this requires fixing some issues in torch.norm)
- docs deprecate torch.norm in favor of these two functions

In the feature we may even want

[2021-01-07 18:07] kurtamohler commented on #50214
cc @mruberry @ngimel

[2021-01-07 19:02] ejguan commented on #50089
Not hundred percent sure.
When using `spawn`, `set` should be inherited by child processes, but somehow it's being copied when a tensor attached to it.

[2021-01-07 19:03] jph00 opened #50219 "`requires_grad_` in `no_grad` context returns incorrect value with tensor subclasses"
## 🐛 Bug

When `requires_grad_` is called in a `no_grad` context on a `Tensor`, it returns the newly set value correctly. However, when called on subclasses, it incorrectly returns the old value.

## To Reproduce

Steps to reproduce the behavior:

This prints the correct values `False False True`:

[code]

This incorrectly prints `False` as the second value:

[code]

## Expected behavior

`False F

[2021-01-07 19:04] jph00 commented on #50219
cc @hameerabbasi

[2021-01-07 19:07] carlosgmartin commented on #50192
@mariosasko

You can. PyTorch handles arithmetic with dimensions of size 0. See also https://github.com/pytorch/pytorch/issues/4582#issuecomment-755944010.

[2021-01-07 19:08] jamesr66a commented on #50203
The issue is that there are too few arguments to the callsite:

[code]

Running this outside FX displays that^ error

These ops (addmm, addmv) are fused versions of matrix/matrix and matrix/vector multiplication, so you can think of them as (b + x @ w), where b, x, and w are the positional arguments to the function.

I think there's a valid request here to make that dispatch error message more cle

[2021-01-07 19:08] #50203 closed

[2021-01-07 19:14] malfet commented on #49959
Grabbing for myself, as I have a symbolicated backtrace:
[code]

[2021-01-07 19:22] #49656 closed

[2021-01-07 19:33] omry commented on #48832
The good folks at cloudpickle did some digging and have suggestions for possible fixes in PyTorch [here](https://github.com/cloudpipe/cloudpickle/issues/405).

It would be great if the solution they are offering there would be evaluated.

[2021-01-07 19:43] #42271 closed

[2021-01-07 19:45] mariosasko commented on #50192
@carlosgmartin Thanks for linking the relevant PR!

What I've meant is it's not common to work with multi-dim tensors where one dimension is equal to 0, so I wouldn't rely on this behavior. Let's see what the experts have to say.

[2021-01-07 19:59] zou3519 commented on #50192
In general, PyTorch is supposed to handle operations on tensors dimensions of size 0. If you spot some code that doesn't work, please file a bug report (like this one).

There are situations where users want to use tensors with a batch dimension of size 0 (one example I saw recently was when a user sharded data across devices and some of the data had size-0 batch dims).

[2021-01-07 20:06] getalloseal commented on #50089
Anyway, set(tensor) is evil and should be avoided. The behavior is totally different from numpy array. See the following:

set(numpy.array([1,2,3])) -> {1,2,3}
vs.
set(torch.tensor([1,2,3])) -> {tensor(1), tensor(2), tensor(3)}

[2021-01-07 20:12] linminhtoo commented on #23144
Any update on this? I am intending to do a similar operation and have a use case where I absolutely need to be sure of the final order of tensors

[2021-01-07 20:13] ejguan commented on #50089
Closing the issue as the suggestion is provided.

[2021-01-07 20:13] #50089 closed

[2021-01-07 20:19] SsnL commented on #50089
@getalloseal In numpy you are not really getting a python int anyways
[code]

[2021-01-07 20:44] ppwwyyxx opened #50224 "Let loss_func(empty_inputs, reduction="mean") return 0"
## 🚀 Feature
A loss function called with empty inputs (tensors with zero elements) and `reduction=mean` currently returns nan.
It might be better to return 0.
[code]
Same for many other losses.

## Motivation

If we consider the function using its mathematical definition, then the "mean" of losses is indeed undefined. ("sum" and "none" reduction do return reasonable results).
However if we conside

[2021-01-07 20:51] ptrblck commented on #33233
[code]
works on my Windows10 system with `torch==1.8.0.dev20201116`, so you might need to update PyTorch to the latest stable release or a nightly build.

[2021-01-07 21:07] getalloseal commented on #50089
Good point! Another inconsistence is actually here

1 in set(np.array([1,2,3])) -> True
vs
1 in set(torch.tensor([1,2,3])) -> False

I would prefer
either
set(torch.tensor([1,2,3])) returns {1,2,3}
or
reject as, set(np.matrix([1,2,3])), set([np.array(1), np.array(2)])

This behavior is consistent:
torch.tensor(1) == 1 -> tensor(True)
np.matrix(1) == 1 -> matrix([[True]])

[2021-01-07 21:12] SplitInfinity commented on #46212
I submitted a PR that updates the error message to make it clear that the types do not match because their compilation units are different.

I think saving both modules into the same archive (if possible) should solve the problem you are seeing.

[2021-01-07 21:13] lixilinx opened #50226 "Can you add higher order derivative support for torch's embedding function?"
## 🚀 Feature
add higher order derivative support to torch.nn.functional.embedding

## Motivation

Almost all native Pytorch operations support higher order derivative. However, I checked torch.nn.functional.embedding and found that it does not. It will be a nice feature to have.

My torch version is 1.8. Please run the following code to confirm my observation.
[code]

cc @ezyang @albanD @zou3519 @

[2021-01-07 21:27] xwang233 commented on #50198
https://github.com/pytorch/pytorch/blob/b824fc4de22c0e278ec57669b1b82c2d8e1f7394/aten/src/ATen/native/cuda/AdaptiveAveragePooling.cu#L674-L675

Seems like we have this `atomicAdd` path always enabled for `adaptive_avg_pool2d_backward_cuda` when contiguous memory format is used. We may need to re-evaluate if we still want to keep using atomic operations. cc @jjsjann123

As a temporary workaround, y

[2021-01-07 21:28] #46391 closed

[2021-01-07 21:31] BowenBao opened #50231 "Tracing with autocast failed with error: "Cannot insert a Tensor that requires grad as a constant""
## 🐛 Bug

[code]

## To Reproduce

Run the following script:

[code]

The issue looks similar to #40910, which was using tracing with apex amp.

[2021-01-07 21:40] ngimel commented on #50198
Thanks for reporting! Most models (in fact, all models in torchvision except alexnet and vgg) use AdaptiveAveragePooling with 1x1 output, and it has a deterministic path. As alexnet and vgg are pretty old models, we did not prioritize supporting them.

[2021-01-07 21:44] #49729 closed

[2021-01-07 21:51] brando90 commented on #5400
do we know what is causing the issue?

I have a higher version

```pytorch                   1.7.0           py3.8_cuda11.0.221_cudnn8.0.3_0    pytorch```

and I get that error...

[code]

[2021-01-07 22:18] #48324 closed

[2021-01-07 22:24] spandantiwari commented on #39613
Addressed in https://github.com/pytorch/pytorch/pull/47348.

[2021-01-07 22:24] #39613 closed

[2021-01-07 22:26] spandantiwari commented on #47089
Addressed.

[2021-01-07 22:26] #47089 closed

[2021-01-07 22:28] janeyx99 opened #50232 "Support CUDA 11.2"
This issue will track the current progress on adding CUDA 11.2 support.

- [X] Installing to conda-cuda and libtorch containers (https://github.com/pytorch/builder/pull/616)
     - [X] Push pytorch/conda-cuda
     - [X] Push the libtorch image (`pytorch/pytorch-binary-docker-image-ubuntu16.04:latest`)
- [X] Add setup to manywheels (https://github.com/pytorch/builder/pull/617) + edit (https://githu

[2021-01-07 22:28] Sean0719 opened #50233 "loss funciton"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

Hello,

Is there exist one loss function with the similar function of keras.losses.S

[2021-01-07 22:39] peterbell10 opened #50234 "`torch.stft` fails to center complex input tensors"
## 🐛 Bug
`torch.stft` with default `pad_mode` will raise an error while centring complex input tensors. This is because centering relies on `F.pad` which only partially supports complex types.

## To Reproduce

[code]

Produces the following traceback:
[code]

Calling `stft` with `center=False` or `pad_mode='constant'` works fine though.

## Environment

[code]

cc @ezyang @gchanan @zou3519 @bdhir

[2021-01-07 22:47] amrragab8080 commented on #47291
@seemethere Has this been picked up in `1.8.0` using the nightly build it seems I am able to reproduce the error?

[2021-01-07 23:51] mrzzd commented on #50143
We have an internal usecase for it. Basically we like to fx-trace a part of the forward function of the module, and the rest is splitted to a separate function of the module, which is called by proxy call_function (using newly introduced @wrap).  Yes, it is a bound method call, and we also need to extend create_arg to support passing "this"  (which is of type nn.Module), but other than that it wor

[2021-01-08 00:05] mruberry commented on #43567
@vishwakftw Sorry for the lack of response: yes. It'd be nice to see if this could be corrected.

[2021-01-08 00:13] kurtamohler commented on #3194
I've discovered a conceptual problem related to ignoring padded elements in the reduction. What should happen if every element in a reduction is padded? A simple example:

[code]

What should `res` be? Here's what I think should happen:

The logical embedding result in this case would be of size `[0, 4]`, and we want to compute mean/sum/max across dim 0 of that tensor. So it would follow that the

[2021-01-08 00:17] eellison commented on #45604
Resolved: with 2 runs warmup for 5 runs I got `0.002325` with JIT and `0.0031390` for eager

[2021-01-08 00:17] #45604 closed

[2021-01-08 00:23] #49704 closed

[2021-01-08 00:28] mruberry commented on #50213
When addressing https://github.com/pytorch/pytorch/issues/49468 we should be sure it catches issues like this.

[2021-01-08 00:31] TomHeaven commented on #48903
It seems `long` is a troublesome data type on macOS, using `int64_t` instead may be a universal fix.
The following patch should fix the issue:
[code]

[2021-01-08 00:49] malfet commented on #47291
@amrragab8080 are you saying you can still reproduce the problem using nightly build of pytorch?
If so, please run `python3 -m torch.utils.collect_env` and post the output here.

[2021-01-08 01:21] XiaobingSuper commented on #50042
The issue wil be solved at next onednn upgradation, thanks!

[2021-01-08 01:42] wgale commented on #41508
Sorry - I've had to abandon this due to the new CLA.

[2021-01-08 02:22] binshengliu commented on #48841
Thanks for the reply. I can confirm my issue was gone on the nightly build `1.8.0.dev20210107+cu110`. May I ask what the problem was? Which stable version will contain the fixes?

[2021-01-08 02:33] #49730 closed

[2021-01-08 02:37] sseveran commented on #50200
I am running that, plus some other experiments. I will report back with findings.

I have done a lot of reading, but I am still not clear on why I would need spawn vs fork. I don't make any tensors until my custom collate_fn. Is that running in one process or multiple processes?

[2021-01-08 02:50] alicera opened #50251 "GPUs memory are not averge"
OS: ubuntu18.04
nvidia driver : 450.66
pytorch: '1.6.0a0+9907a3e'

![image](https://user-images.githubusercontent.com/59388989/103968556-062a0880-519f-11eb-84cb-8fa50c986f1c.png)

And I train the https://github.com/biubug6/Pytorch_Retinaface with 3GPUs.
3 GPUs and batch 15
The memory doesnt average.

[2021-01-08 03:14] wanyu2018umac commented on #49928
I'll try. Thanks!

[2021-01-08 03:38] peterjc123 commented on #29383
This post is getting a bit stale. Please continue the discussion in https://github.com/pytorch/pytorch/issues/48888.

[2021-01-08 03:38] #29383 closed

[2021-01-08 04:14] OasisArtisan commented on #32113
I'm having the same issue. Have you solved this @zhangguanheng66 ?

[2021-01-08 04:18] kshitij12345 commented on #50208
Sure.

[2021-01-08 04:23] ngimel commented on #48841
It was fixed in #47387, there was a relatively rare problem where "0" was generated at the same position as a non-zero probability, effectively masking it.

[2021-01-08 04:24] ngimel commented on #50233
Please ask questions on discuss.pytorch.org.

[2021-01-08 04:24] #50233 closed

[2021-01-08 04:28] jonykarki commented on #50192
I would like to work on this. Any suggestions on what I should do? How difficult is this?

[2021-01-08 04:34] kshitij12345 commented on #50207
It is fixed in https://github.com/pytorch/pytorch/pull/47231

Correct documentation is available on docs for master: https://pytorch.org/docs/master/generated/torch.randperm.html?highlight=torch%20randperm#torch.randperm

The formatting of the function signature looks to be broken,
![Screenshot from 2021-01-08 10-03-54](https://user-images.githubusercontent.com/19503980/103974946-edb6ef80-5198-11e

[2021-01-08 04:35] SplitInfinity commented on #46459
I'm unable to repro in with torch-1.8. I think it should be fixed if you upgrade.

[2021-01-08 04:35] #46459 closed

[2021-01-08 04:37] g-karthik opened #50252 "model.to("cuda") slow/takes forever on the new A100 GPU"
## 🐛 Bug

The `model.to("cuda")` call takes forever on the new A100 GPU by NVIDIA.

## To Reproduce

Steps to reproduce the behavior:

On an AWS p4d instance:

1. Take any model (I use the `GPT2LMHeadModel` in `huggingface/transformers`) as follows:
   `model = GPT2LMHeadModel.from_pretrained("gpt2")`

2. Put it on a CUDA device like this: `model.to("cuda")`
3. Observe the amount of time taken.

I

[2021-01-08 04:38] jay746 commented on #50042
Thanks @XiaobingSuper  and @gchanan for looking into the issue.
I will look forward for the fix in next upgradation.

[2021-01-08 06:00] JonathanCMitchell commented on #42332
Has this been fixed for a latest torch version? Trying to do send/recv for NCCL backend in PyTorch

[2021-01-08 06:07] swolchok commented on #49431
FWIW, I just profiled this with `perf` on a recent commit and nothing immediately jumped out at me (unless it's time spent in `TensorIteratorBase::build`). If we're not so lucky as to have this turn out to be fixed in 1.8, I think the next step might be to profile 1.5 and compare.

[2021-01-08 07:38] nrlugg opened #50258 "More general MultiHeadAttention and Transformer modules"
## 🚀 Feature

Modularize `nn.MultiHeadAttention` / `nn.functional.multi_head_attention_forward()` and generalize the `nn.Transformer` modules so that:
1. Novel attention functions can be used with minimal effort (i.e., without having to rewrite the entire Transformer architecture), and
2. The attention functionality can be used in modules other than `nn.MultiHeadAttention`.
3. There is more flexib

[2021-01-08 07:45] cyy5358 commented on #50251
Can torch.nn.parallel.DistributedDataParallel work better?
[code]

[2021-01-08 07:49] xwang233 commented on #50252
I see that you are using pytorch 1.4 + cuda 10.1, which was not optimized for A100 GPU. Can you try the latest release of pytorch 1.7.1?

[2021-01-08 08:11] liunian-netizen opened #50259 "IndexError: Target 117 is out of bounds."
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2021-01-08 08:13] liunian-netizen commented on #50259
Traceback (most recent call last):
  File "E:/pytorch的编译资料/pytorch 全连接神经网络.py", line 102, in <module>
    loss = criterion(out, target.long())
  File "D:\ProgramData\Anaconda3\lib\site-packages\torch\nn\modules\module.py", line 727, in _call_impl
    result = self.forward(*input, **kwargs)
  File "D:\ProgramData\Anaconda3\lib\site-packages\torch\nn\modules\loss.py", line 962, in forward
    ignore

[2021-01-08 08:42] skyline75489 opened #50260 "FusedKernelCPU failed to delete generated dll files on Windows"
## 🐛 Bug

Found during #49781.

This line actually fails to unlink the dll, resulting in `EACCESS`:

https://github.com/pytorch/pytorch/blob/c215ffb6a2de1c85a62a146a9e282908335ba3ed/torch/csrc/jit/codegen/fuser/cpu/temp_file.h#L120

By the look of it, seems `DynamicLibrary` is still holding a lock on the dll files.

Another thing worth mentioning is that `cl.exe` generate `lib`, `obj` and `exp` fi

[2021-01-08 08:42] skyline75489 commented on #50260
CC @peterjc123 Don't know it's a known issue to you.

[2021-01-08 08:44] skyline75489 commented on #50259
Please fill the issue template to provide more information. Show us the code if necessary. Not just in the PyTorch repo. You should provide as much as information as you can no matter the repo you're working with.

[2021-01-08 08:49] skyline75489 commented on #50259
A "issue template" is what you see when you try to create the issue. Do not just delete that. It's useful for the maintainers to have enough context to work with.

[2021-01-08 08:51] skyline75489 commented on #50259
Github is meant be be a place to report issues about PyTorch *itself*. For general support, please go to the [Discussion Forum](https://discuss.pytorch.org/).

[2021-01-08 08:51] liunian-netizen commented on #50259
import torch
from torch.autograd import Variable
import numpy as np
import matplotlib.pyplot as plt
from torch import nn, optim
from torch.utils.data import DataLoader
from torchvision import datasets, transforms
import os
os.environ['CUDA_LAUNCH_BLOCKING'] = '1'

# 定义三层全连接神经网络
class simpleNet(nn.Module):
    def __init__(self, in_dim, n_hidden_1, n_hidden_2, out_dim):  # 输入维度，第一层的神经元个数、第二层的神经元个数，

[2021-01-08 09:02] skyline75489 commented on #50259
首先 GitHub 只用来处理 PyTorch 开发本身有关的问题，如果不能确定是不是 PyTorch 本身的问题，请前往 [支持论坛](https://discuss.pytorch.org/) 或者 StackOverflow。

First of all, Github is supposed to be a place for the development of PyTorch itself. If you are not sure the issue is in fact a PyTorch issue, please go to the discussion forum or stackoverflow.

其次，几乎永远都不要贴完整的代码，对大部分人来说是一种时间上的浪费，请提供一个[最小的，可复现的例子](https://stackoverflow.com/help/mi

[2021-01-08 09:05] Nakupenda-7 opened #50261 "ModuleNotFoundError: No module named '__torch__'"
**Resume training, load the model and report an error**
Loading Backbone Checkpoint './model/EfficientNet-b0/model/Epoch_36_Time_2021-01-07-00-31_checkpoint.pth'
Traceback (most recent call last):
File "train.py", line 370, in
main()
File "train.py", line 44, in main
mp.spawn(main_worker, nprocs=ngpus_per_node, args=(ngpus_per_node, cfg, val_dataset))
File "/root/miniconda3/envs/myconda/lib/python

[2021-01-08 09:15] skyline75489 commented on #50261
请不要删除 Issue 模版中原有的内容，并按照模版内容提供尽可能多的信息。

Please do not delete what is in the Issue Template and provide the necessary context accordingly.

请提供一个[最小的，可复现的例子](https://stackoverflow.com/help/minimal-reproducible-example)。

Please provide a [Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example) if it's possible.

[2021-01-08 09:52] peterjc123 commented on #50260
I didn't notice that before. Thanks for pointing it out. And I have to say this is not easy to fix. Maybe we could create a temp dir instead and remove the dir when the fusedkernel is destroyed. Otherwise, we are totally out of control that what files will be generated by the MSVC toolchain.

[2021-01-08 10:16] blueloveTH opened #50268 "CUDA error when using `binary_cross_entropy_with_logits`"
## 🐛 CUDA error when using `binary_cross_entropy_with_logits`

If using a RTX 3070 GPU with `F.binary_cross_entropy_with_logits` in code, it will cause a **RuntimeError: CUDA error: unspecified launch failure**. While for RTX 20 series or older GPU, everything is going well.

## To Reproduce

Check [this notebook](https://github.com/blueloveTH/bug-report-pytorch/blob/main/cuda_error.ipynb).

The c

[2021-01-08 10:48] ptrblck commented on #50268
I tried to reproduce this issue on a 3080 using `seq_len=2800`, which seems to be approx. the max sequence length before an OOM issue is raised with the PyTorch `1.7.1` CUDA11.0 binaries, but cannot reproduce it.
Are you observing similar failures using this particular GPU, since running into this issue depending on the usage of the memory sounds a bit strange.
Are you able to find any XIDs in `dm

[2021-01-08 11:07] blueloveTH commented on #50268
@ptrblck Sorry, I don't know what `dmesg` is (Google says it is a Linux command)
Did you reproduce it in Windows?

[2021-01-08 11:30] blueloveTH commented on #50268
I tried to add some debug point to the for loop.
[code]
[code]
Seems like the error is caused by `binary_cross_entropy` indirectly. Invocation of `binary_cross_entropy` leads to error several steps later when move tensors to GPU.

[2021-01-08 11:38] blueloveTH commented on #50268
Replacing `LSTM` with `Conv1D`, the error disappears. @ptrblck

[2021-01-08 12:05] boegel commented on #43209
I'm still seeing this issue with PyTorch 1.7.1, see https://github.com/easybuilders/easybuild-easyconfigs/pull/11636#issuecomment-752064404 for more info.

More specifics:

* PyTorch 1.7.1 installed from source with GCC 9.3.0 + CUDA 10.1.243
* Python 3.7.4
* OS: CentOS 7.9
* Intel Xeon Gold 6242 (`cascadelake`)

[2021-01-08 12:41] dancingpipi opened #50272 "default_collate: if elem in batch is list, the whole batch would be transpose?"
https://github.com/pytorch/pytorch/blob/c215ffb6a2de1c85a62a146a9e282908335ba3ed/torch/utils/data/_utils/collate.py#L82

Is this expect?

code below:
[code]

output:

`{'data': [tensor([0.3175, 0.4267], dtype=torch.float64), tensor([ 0.4768, -0.6364], dtype=torch.float64), tensor([-1.6446, -0.9557], dtype=torch.float64)], 'target': tensor([4, 1])}`

expect:
`{'data': [tensor([0.3175, 0.4768,-1.644

[2021-01-08 12:49] jackdyson31 commented on #48903
@TomHeaven  @ezyang  Ah cheers Tom! I have done all that in my local git and it has compiled past the 75% mark (still going on actually). That said it went past the 75% mark safely which is where I got my original hangup, so along with your fix for #42271, let's close this as well ?

[2021-01-08 13:10] ArijRB commented on #47138
I have the same issue with, I have : pytorch  1.7.1  py3.8_cuda10.2.89_cudnn7.6.5_0

Thank you in advance

[2021-01-08 13:23] Berlin-98 commented on #1204
I run into the same error when using bert , I found that i gave the wrong labels for ids, so this error is associate  with wrong labels.

[2021-01-08 13:35] #49652 closed

[2021-01-08 13:54] mruberry commented on #49152
Good news: F.normalize no longer throws a deprecation warning.

[2021-01-08 13:54] #49152 closed

[2021-01-08 14:06] bsun0802 commented on #50204
I think by a little linear algebra, the joint eigenvalues can be calculated with native torch APIs. The process are as follows,

The joint eigenvalues are the solution of det(lambda*A - B) = 0. Since A in my case is a covariance matrix which is nonnegative positive definite, therefore A^-1 exists.

By facts, det(AB) = det(A)det(B). So det(lambdaA - B) = det(A) * det(lambda - BA^-1) = 0
And if we a

[2021-01-08 14:11] mruberry opened #50273 "torch.cross is divergent from np.cross"
PyTorch's [torch.cross](https://pytorch.org/docs/master/generated/torch.cross.html?highlight=cross#torch.cross) has the  signature:

[code]

And its documentation notes that "If dim is not given, it defaults to the first dimension found with the size 3. Note that this might be unexpected."

Numpy's [np.cross](https://numpy.org/doc/stable/reference/generated/numpy.cross.html) has the signature:

[c

[2021-01-08 14:19] mruberry opened #50274 "torch.equal is divergent from np.equal"
PyTorch's [torch.equal](https://pytorch.org/docs/master/generated/torch.equal.html?highlight=equal#torch.equal) tests if two tensors have the same size and elements, while NumPy's [np.equal](https://numpy.org/doc/stable/reference/generated/numpy.equal.html?highlight=equal#numpy.equal) tests for elementwise equality.

NumPy's np.equal is a top 300 NumPy function. PyTorch's torch.equal is used hundr

[2021-01-08 14:27] mruberry opened #50275 "torch.transpose is divergent from np.transpose"
PyTorch's [torch.transpose](https://pytorch.org/docs/master/generated/torch.transpose.html?highlight=transpose#torch.transpose) swaps two dimensions in a tensor, while NumPy's [np.transpose](https://numpy.org/doc/stable/reference/generated/numpy.transpose.html?highlight=transpose) permutes the dimensions of its input, like PyTorch's [torch.Tensor.permute](https://pytorch.org/docs/master/tensors.ht

[2021-01-08 14:27] mfkasim1 commented on #50204
The matrix `BA^(-1)` is not necessarily symmetric, so you have to use `torch.eig`. I have tried the method you suggested with `torch.eig`. However, in case of near-degenerate eigenvalues, the eigenvectors might be complex.

A numerically-stable solution with native torch APIs, in my opinion, is here: https://github.com/xitorch/xitorch/blob/b09d3bf449adbf39be748159f6565872ae78107e/xitorch/_impls/li

[2021-01-08 14:37] nikitaved commented on #50204
You can still use symeig if you decompose
[code]

[2021-01-08 14:41] mruberry opened #50276 "torch.meshgrid is divergent from np.meshgrid"
PyTorch's [torch.meshgrid](https://pytorch.org/docs/master/generated/torch.meshgrid.html?highlight=meshgrid#torch.meshgrid) is divergent from NumPy's [np.meshgrid](https://numpy.org/doc/stable/reference/generated/numpy.meshgrid.html?highlight=meshgrid#numpy.meshgrid). The documentation for these functions is very hard to parse, so I am not sure if this is a bug or not.

Snippet demonstrating the d

[2021-01-08 14:56] Adblu opened #50277 "torch.distributed.launch couses no module name 'xxx'"
I know its a common question but somehow dosnt work for me. Here is my project structure:

[code]
in file go.py i have:
[code]
When im starting go file from MAIN directory: python -m src.start.go It works like a charm.

Now, I have 4 GPU machines, and when I try to run my script in distributed mode like that:

[code]

It throws me an error: 'no module src' It happens after adding distributed mode.

[2021-01-08 15:00] #42571 closed

[2021-01-08 15:08] #48370 closed

[2021-01-08 15:18] ezyang commented on #48903
In general, OK with replacing these with `int64_t`. Send us patches.

[2021-01-08 15:20] mruberry commented on #50134
Thank you for reporting this issue, @seungwonpark.

[2021-01-08 15:22] mruberry commented on #39227
Can you elaborate on what you mean by "duplicate indices are not allowed?" Even if the indices are not obviously duplicated, a single memory location could be written to multiple times (by many operations) depending on how the tensor is viewed. I mentioned this previously on the original determination. If operations like torch.add can exhibit nondeterministic behavior when used this way. We should

[2021-01-08 15:36] #49700 closed

[2021-01-08 16:02] luvwinnie commented on #49046
Does this has been fixed? I'm facing the same problem.

[2021-01-08 16:14] jackdyson31 commented on #48903
Will do.

[2021-01-08 16:27] 0phoff opened #50282 "Add MultiScheduler"
## 🚀 Feature
I would like to have a MultiScheduler that allows me to use multiple schedulers after each other, with the same optimizer.

## Motivation
It is not uncommon to have a learning rate schedule that looks like the following example:
- First have a burn in learning rate for 1000-2000 batches (eg. quadratic or exponential curve)
- Step down learning rate at steps 10.000 and 25.000.

You cou

[2021-01-08 17:02] mruberry commented on #48832
That's very generous of them to spend their time debugging this. The suggested fix looks straightforward to apply. I've suggested we validate whether that will address the end-to-end scenario here.

[2021-01-08 18:08] gchanan commented on #50251
Please file an issue with Retinaface.

[2021-01-08 18:08] #50251 closed

[2021-01-08 18:11] walterddr commented on #50211
could you try patching #50080 and see if it helps?

[2021-01-08 18:13] gchanan commented on #50261
do you have a reproduction?  Otherwise it's unlikely we can help.

[2021-01-08 18:13] #50259 closed

[2021-01-08 18:14] walterddr commented on #50211
thanks for reporting the issue. looking into it.

[2021-01-08 18:20] eellison commented on #43620
@chenbohua3 I  could  not  repro  this on master, closing.  Please re-open if  this still repros for you on master.

[2021-01-08 18:20] #43620 closed

[2021-01-08 18:21] eellison commented on #40228
This no longer repros, closing.

[2021-01-08 18:21] #40228 closed

[2021-01-08 18:21] eellison commented on #37945
This was fixed via API, closing.

[2021-01-08 18:21] #37945 closed

[2021-01-08 18:26] gchanan commented on #50224
I'd like to hear other's opinions, but I'm personally not in favor.

1) this is consistent with the definition of mean in the torch package and NumPy:
[code]

you can of course redefine things in different contexts, but I find this sort of definition complexity gets out of control pretty quickly.

2) it's much more likely someone will find a NaN and be able to reason through what is happening when

[2021-01-08 18:29] #49962 closed

[2021-01-08 18:34] gchanan commented on #9272
@vincentqb  do we have something like this in torchaudio at this point?

[2021-01-08 18:38] ngimel commented on #50268
Sometimes oom error is masked as something else, at the core it's still not enough memory, so not much can be done. Can you please run with CUDA_LAUNCH_BLOCKING=1 to make sure that the error is thrown from the operation that's causing it?

[2021-01-08 19:15] heitorschueroff opened #50285 "Discuss options for implementing einsum_path"
np.einsum_path computes the optimal contraction order (depending on chosen algorithm may be suboptimal) for computing einsum. It returns the path which can then be passed to np.einsum via the optimize parameter. Alternatively, one can say optimize=True to run einsum_path internally and use it one time.

NumPy seems to use the library https://optimized-einsum.readthedocs.io/en/stable/.

We need to

[2021-01-08 19:21] jbschlosser opened #50286 "Passing an empty tensor to EmbeddingBag segfaults"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

crashes with a segfault.

## Expected behavior

No segfault; I expect either an error or an empty tensor to be returned.

## Environment

[code]

cc @albanD @mruberry @jbschlosser

[2021-01-08 19:27] heitorschueroff opened #50287 "Review torch.linalg module ahead of release"
This issue is a reference for quality checking the torch.linalg module ahead of 1.8 release.

- Ensure documentation is consistent across torch.linalg ops
- Review uses of out= for consistency and performance, including unnecessary copies and unwanted resizing
- Review and document all cross-device sync

cc @jianyuh @nikitaved @pearu @mruberry @heitorschueroff @walterddr @IvanYashchuk

[2021-01-08 19:31] zhangguanheng66 commented on #50258
We have `MultiheadAttentionContainer` here https://github.com/pytorch/text/blob/master/torchtext/nn/modules/multiheadattention.py

[2021-01-08 19:41] jbschlosser commented on #3194
@kurtamohler While your proposed suggestion makes sense, I think the all-padding case can be considered "user error". As a user, I'd prefer the logic error out for all reduction types rather than continue with silently incorrect behavior. This conservative error behavior can be easily changed in the future if a use case surfaces.

I was originally going to suggest defaulting to the current `Embedd

[2021-01-08 19:47] vadimkantorov commented on #3194
This can realistically easily happen as a result of text-preprocessing. It would be good if it didn't do anything bad in this case.

[2021-01-08 19:53] jamesr66a commented on #50143
OK so the requirements are basically:
* You want a callee method of forward() on the same class to be accessible from the final GraphModule interface
* The implementation of this callee method should be traced through

I think we should provide an API for this rather than using wrap, which is meant for free functions. We might have something like:

[code]

Then the traced forward call would have a

[2021-01-08 20:00] mrzzd commented on #50143
Yes, that's what we need. Just small point that `self` is an arg here not a target.

[2021-01-08 20:04] vincentqb commented on #9272
We do have the STFT  (torch.stft and torch.istft) and Spectrogram transform (in [audio](https://pytorch.org/audio/stable/transforms.html#torchaudio.transforms.Spectrogram)). These are related to the fast Fourier transform, [torch.fft](https://pytorch.org/docs/stable/fft.html).

The wavelet transform is used in audio, so it would make sense to me to have in the audio library. However, we do not hav

[2021-01-08 20:07] t-vi commented on #9272
I think the wavelet transform is relevant enough in vision to have it in PyTorch rather than audio.

[2021-01-08 20:15] eric-tc opened #50289 "Build libtorch failed"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

I'am building libtorch 1.6 following this guide https://github.com/pytorch/pytorch/blob/master/docs/libtorch.rst.
I'm using Cmake

I'm using this https://github.com/pytorch/pytorch/issues/33124#issuecomment-602048845 to solve qnnpack compilation problem with GCC

/home/ubuntu/Develop/Installer/pytorch/torch/csrc/distributed/rpc/utils.cpp

[2021-01-08 20:21] kurtamohler commented on #39227
Apologies, I misunderstood the issue. Duplicate indices are indeed allowed:

[code]

I agree. I think this discussion probably belongs in its own issue, so I'll go ahead and open one

[2021-01-08 20:47] kurtamohler commented on #3194
Thanks for the responses! I think I agree with the idea to throw an error instead of attempting to reduce a fully padded tensor.

@vadimkantorov can you clarify, are you saying it would be bad to throw an error if the embedding output is fully padded?

[2021-01-08 20:50] jbschlosser commented on #3194
Absolutely, and I realized I wasn't being precise with the different possibilities. Consider a batch of N sentences; there's 3 cases I see:
1. Batch of N sentences where all N are empty (zero-length). This is the empty input tensor case.
2. Batch of N sentences where some are empty while the rest are non-empty. This will result in the empty sentences being all padding within the batch.
3. Batch of

[2021-01-08 21:17] jeffdaily commented on #49652
@albanD can we add a `TORCH_INTERNAL_ASSERT` to capture the invariant as mentioned by @ezyang in `ready_queue_by_index()`?  Just in case.

[2021-01-08 21:20] #50211 closed

[2021-01-08 21:55] jbschlosser opened #50292 "Implement dunder getattribute instead of dunder getattr for nn.Module"
## 🚀 Feature

Implement `__getattribute__` instead of `__getattr__` for `nn.Module`.

## Motivation

The purpose behind this proposal is as a workaround to a Python issue that arises if a user employs the `@property` decorator in their `nn.Module` subclass. Lots of detail on the problem can be found in #33934 and #49726, as well as [here](https://stackoverflow.com/questions/25115366/property-and-g

[2021-01-08 21:57] #49478 closed

[2021-01-08 22:04] jbschlosser commented on #49726
Just opened #50292 to get broader feedback.

@jonykarki How do you feel about your PR removing the broken `ModuleAttributeError` fix and related tests for now?

[2021-01-08 22:12] gmagogsfm commented on #49444
@penguinwu Seems related to IR manipulatiblity work you brought up.

[2021-01-08 22:13] jonykarki commented on #49726
I don't know if I can still work on the same PR since I messed it up. I can do it in a new PR and just remove the ModuleAttributeError and fix the related tests if you want.

[2021-01-08 22:14] gmagogsfm commented on #49511
Nikitha, should we move this to in-progress?

[2021-01-08 22:15] gmagogsfm commented on #49569
cc @penguinwu

[2021-01-08 22:15] jbschlosser commented on #49726
Sure, if you're up for it, a new PR would be awesome!

[2021-01-08 22:26] rohan-varma opened #50295 "Allow ProcessGroup specific options in init_process_group and new_group"
## 🚀 Feature
We have seen a few use cases where users directly call the [pybind APIs](https://github.com/pytorch/pytorch/blob/master/torch/csrc/distributed/c10d/init.cpp#L1020) `dist.ProcessGroupNCCL` and `dist.ProcessGroupGloo` since they need to configure the process groups with specific `Options`, such as whether the NCCL PG should use a high priority stream. This must be done because our curre

[2021-01-08 22:31] penguinwu commented on #49444
Right, I was just reading about that.

[2021-01-08 22:38] adamjstewart commented on #23482
Ping @malfet, I'm still encountering this issue. Would love to figure out the safest way to patch upstream so that future versions will build on my system.

[2021-01-08 22:44] albanD commented on #9229
@zou3519 do I remember correctly here that the main issue is that implementation like cudnn do not provide double backward and don't provide the right intermediates for us to compute that double backward either? And so we would need to do something like this to support it: https://github.com/pytorch/pytorch/blob/aa18d174553e1c2ab4d9e09ae45c6ac323f04af5/tools/autograd/derivatives.yaml#L798

[2021-01-08 22:46] skyline75489 commented on #50289
Please do not delete what is in the Issue Template and provide the necessary context accordingly. For example the compiler version.

[2021-01-08 22:48] skyline75489 commented on #50277
What’s in go.py ?

[2021-01-08 22:50] SplitInfinity commented on #49511
At the very least, we should include in the error message a suggestion that the user needs to use a float literal (e.g. `0.0`).

[2021-01-08 23:04] eellison commented on #49617
Related: https://github.com/pytorch/pytorch/issues/28258

[2021-01-08 23:21] wanchaol commented on #49782
cc @dreiss

[2021-01-08 23:29] t-vi commented on #28258
This is related to a deficiency in Python and the Python devs seem to be disinclined to fix it ( https://bugs.python.org/issue33826 ).
As Guido explains [on the dev list](https://mail.python.org/archives/list/python-dev@python.org/thread/AC5B5VORS6FF6KJ3EG5DIV3ZLAQB6DIY/#QHSINZZQRPV2HQROSXOLG3AUQ5QKKG6V) it probably isn't worth fixing due to heavy-handed process this would be required to go throug

[2021-01-08 23:29] wanchaol commented on #49969
@t-vi are you currently working on this?

[2021-01-08 23:34] malfet commented on #23482
@adamjstewart please do not hesitate to share the patch that check the presence of `pthread_setname_np` and I will review it. (On the other hand glibc-2.12, that contains abovementioned function was release in 2010 and contains a number of pretty sever security vulnerabilities, is there a reason why you need to use such an old version of glibc?)

[2021-01-08 23:35] t-vi commented on #49969
Yes, so I have a branch that does this as part of the [ScriptTorch](https://lernapparat.de/scripttorch/) effort of trying to make TorchScript-by-default possible in PyTorch, but I wanted to also get feedback if this is considered OK in general.
(I tried to pitch it to @eelison today.)

I can send a PR if the general direction sounds like it could be tried (subject to not degrading performance etc.

[2021-01-08 23:35] adamjstewart commented on #23482
I'll try to write up something when I get a chance.

Cray supercomputer which can't be upgraded but is no longer maintained by Cray.

[2021-01-08 23:37] ejguan commented on #50272
The reason is we want to combine the data for each batch. Like your example, you have 3 features for each data and you set batch_size as 2. We combine each feature within the batch. So, in the output, you ultimately have 3 features, each feature represent the values for the batch which is 2.
You can see the output is a list of three tensors, each tensor has 2 value.
The output should be expected.

[2021-01-08 23:39] malfet commented on #23482
As for your `int32_t` patch, can you please check if following can be compiled on that machine:
[code]

[2021-01-08 23:41] neginraoof commented on #50125
The issue here is that where operator has an input (mask) that is selected based on the iterator (i). So, the _derive_index op is taking the count of the iterator to select the mask and pass that to where op.
As you can see form the logs, the issue is that we do not have support for export of the _derive_index op in master yet.
This is already implemented in our dev branch, and will go to master s

[2021-01-08 23:42] wanchaol commented on #49969
nice, we had a brief discussion on this and it sounds a good idea, assigning this to you then. cc @suo @eellison

[2021-01-08 23:47] ptrblck commented on #49046
@luvwinnie @AlexanderKazakov are you seeing the same issue with the latest stable release (`1.7.1`) and if so, could you post the shapes of all tensors needed to reproduce this issue, please?

[2021-01-08 23:56] adamjstewart commented on #23482
@malfet yes that seems to compile:
[code]

[2021-01-08 23:58] malfet commented on #49617
@t-vi I've fixed some issues with torch.jit parsing, but not all. Do you have a short example what is still not working in master?

[2021-01-09 00:19] shanesyy-1992 opened #50303 "Way to solve GPU Host Thread Contention?"
Hello. Sorry to bother you guys. It seems that sometimes there might be CPU Thread Contention between workers on a single node for distributed training. The CPU may use a lot of its host threads to keep one GPU busy, then launch kernels on another GPU, which would result in an overall delay since all workers need to do the synchronization in each batch. In TensorFlow, we can use TF_GPU_THREAD_MODE

[2021-01-09 00:44] xwang233 opened #50307 "test_unsupported_dtypes_addmm_cuda_bfloat16 fails on A100"
## 🐛 Bug

`test_unsupported_dtypes_addmm_cuda_bfloat16` fails on A100

However, this test passed on V100 and my 2070 GPU, which are both running cuda 11.2 with pytorch built from head of the master branch. c215ffb

https://github.com/pytorch/pytorch/issues/49024 might be related?

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

No fail.

## Environment

[code]

##

[2021-01-09 00:45] rohan-varma opened #50308 "Support timeout in RRef proxy functions and local_value"
## 🚀 Feature
We have added helper methods such as `rref.rpc_async()` and `rref.rpc_sync()` to make it simple to run RPCs with the given RRef as an argument. These functions essentially run the given  member function on the owner of the RRef with the given RRef as the `self` argument. However, we have seen some issues with hangs/debugability, and it would be good to add a timeout for these function

[2021-01-09 01:23] #50307 closed

[2021-01-09 02:12] #49878 closed

[2021-01-09 02:16] ngimel commented on #50286
Interestingly, EmbeddingBag is not in 0-batch roll-up issue #38115. @jbschlosser can you please add it there?

[2021-01-09 02:17] smkravec commented on #42357
I was able to reproduce this running their minimal example on my version of torch (1.8.0a0+2dff0b3)

[2021-01-09 02:33] luvwinnie commented on #49046
Thank you ! I have tested that it works.

[2021-01-09 02:53] blueloveTH commented on #50268
@ngimel  You are right. If using `os.environ['CUDA_LAUNCH_BLOCKING'] = '1'`, the error disappears but the training speed decreases a lot.

https://user-images.githubusercontent.com/28104173/104081186-0d691900-5268-11eb-84d8-e2057906cf3f.mp4

Here I summarize the key points we discovered for this issue up to now.

1. RTX 3070
2. F.binary_cross_entropy_with_logits()
3. RNN based model
4. **without**

[2021-01-09 03:48] bsun0802 commented on #50204
Thanks both of you for your time.

@mfkasim1 I think there is some lib called ALGLIB (https://www.alglib.net/eigen/symmetric/generalizedsymmevd.php) used the same cholesky decomposition method.

@nikitaved
How to compute A^{-0.5}, is it torch.inverse(torch.matrix_power(A, 2))

[2021-01-09 04:03] #49299 closed

[2021-01-09 07:06] PandaBoi commented on #49982
I would also like to work on this issue as my first step towards contributing! Could you please help me understand where I can look for the issue to arise from? my guess after looking through the error, is somewhere in ATen. Do let me know?

[2021-01-09 07:22] peterjc123 commented on #50051
Seems related: https://github.com/pytorch/pytorch/issues/49652 and resolved by https://github.com/pytorch/pytorch/pull/50164.
But I think it is better to add the terminate handler so that it will be better to debug those uncaught exceptions easily next time. My work is in #50320. What do you think, @malfet @ezyang ?

[2021-01-09 07:51] peterjc123 commented on #50268
Maybe https://github.com/pytorch/pytorch/pull/49534 is related. Could you please try the nightly package?

[2021-01-09 08:02] peterjc123 commented on #50232
@janeyx99 What about Windows? Is it still 0%?

[2021-01-09 08:04] peterjc123 commented on #50268
Another thing you may try is to disable cudnn using `torch.backends.cudnn.enabled=False`.

[2021-01-09 08:07] eric-tc commented on #50289
HI @skyline75489,
ok i have updated the comment.

Thanks

[2021-01-09 08:26] Adblu commented on #50277
@skyline75489 In go.py you will find:
[code]

[2021-01-09 08:44] George3d6 commented on #49095
As of yet we were unable to find a cause.

[2021-01-09 08:58] skyline75489 commented on #50277
Seriously you need to give us more. Do not just delete the issue template. Are you using Windows? How do you handle the launch in go.py? You can not expect us to just magically know what’s happening.

[2021-01-09 09:03] skyline75489 commented on #50289
Have you tried submodule update? Seems a submodule issue. Also cleaning the build folders sometimes help.

[2021-01-09 09:24] starhiking commented on #47163
I met the problem in distributed training with bacthsize > 1.
In batchsize = 1 or single gpu, it won't occur.
I thought the problem caused by transpose or permute.
When I delete the transpose or permute, or add .contiguous() after above function, it goes work.
Thus I suspect transpose caused the gradients stride wrong. Need to be contigous.

Before:

     vit_ll = eval('self.vit'+str(i)).forward_w

[2021-01-09 09:27] blueloveTH commented on #50268
@peterjc123 Thanks for your advice. I've compared these settings which can suppress this problem.

Setting | max GPU memory occupied | running time
-- | -- | --
CUDA_LAUNCH_BLOCKING = 1 | 5.8G/8G | 18.8s
torch.backends.cudnn.enabled = False | 7.8G/8G | 18.1s
both on| 7.8G/8G | 32.2s

Seems like `torch.backends.cudnn.enabled = False` will use a lot more memory. I wonder if I can know the difference

[2021-01-09 09:50] dheerajgattupalli commented on #49982
Hi @mruberry,
 I was actually looking into this also and narrowed down the error to this line
https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/TensorTransformations.h#L14

the error check seems appropriate ... the difference between TensorTransformations.cu and TensorTransformations.cpp was that the method flip_check_errors was being called in Cuda version and not called in the

[2021-01-09 09:53] sudo-panda commented on #46222
@mruberry I would like to take up this issue.

[2021-01-09 10:22] edgarriba commented on #42357
Right, seems to be gone with recent versions.

[2021-01-09 10:22] #42357 closed

[2021-01-09 10:25] kshitij12345 commented on #49982
Expectation would be
ii. To suppress the error from the CUDA version.

NumPy's flip returns unchanged array when `()` is passed similar to CPU version.

**Sample**
[code]

[2021-01-09 10:31] carlsummer commented on #24305
I slove it,
you can see libtorch-demo/example-app at main · carlsummer/libtorch-demo · GitHub,
set(CMAKE_BUILD_TYPE “Release”)

-DCMAKE_PREFIX_PATH=path\to\opencv\build\x64\vc14\lib;path\to\libtorch -DCMAKE_BUILD_TYPE=Release -G"Visual Studio 14 Win64"

[2021-01-09 10:43] ardeal opened #50322 "convet pt file of pytorch yolov3 to onnx"
Hi,

The following code is based on master branch of https://github.com/ultralytics/yolov3
I am trying to convert pt file of yolov3 to onnx format.

The following line could be correctly executed:
p = torch_model(x)

I have confirmed that both the network and input are put to GPU.

however, torch.onnx.export() function encountered the following issue:

[code]

[code]

cc @houseroad @spandantiwari

[2021-01-09 10:49] eric-tc commented on #50289
HI @skyline75489

thanks for the suggestion. Right now i have compiled it by adding

`-DUSE_DISTRIBUTED:BOOL=OFF `

to Cmake command.
I will try also by updating submodule and let you know.

[2021-01-09 11:06] hjw21century commented on #4827
First, you should get which jupyter you are using by 'which jupyter' command.
Then, you get which python interpreter you are using by 'vim /usr/bin/jupyter' for example.
If the python version is not what you expected. now reinstall jupyter binded with the python version you expect.

[2021-01-09 11:12] dheerajgattupalli commented on #49982
Hi,
just pushed the fixed commit to my fork... https://github.com/dheerajgattupalli/pytorch/commit/c976993c8494d6ab0d7969b6a850ca90a2f0512c

Changes:
1. I am returning from the method when the length of dims is zero because further steps in the method seem to assume that the size is greater than zero and hence cannot run...
2. modified the test case which had a reference to this issue when the dev

[2021-01-09 11:25] hjw21century commented on #4827
Also, you can directly check the jupyter kernel setup in '/usr/local/share/jupyter/kernels/python3/kernel.json' file.

[2021-01-09 12:14] pengzhen1 commented on #5858
请问你是怎么解决的

[2021-01-09 12:31] nikitaved commented on #50204
@bsun0802 , no, it is a function of a matrix, not an elementwise-operation.
For a full-rank psd you can get it as
[code]
The approach with Cholesky decomposition could be slower because its backward will recompute `L^{-1}`. But the overall numerical stability will indeed be dependent on how well your metric matrix (`B` in your case) is conditioned.

[2021-01-09 12:50] rohan-varma commented on #49819
Hi @cicirori, I have put up a fix at https://github.com/pytorch/pytorch/pull/50180 that hopefully resolves the regression. Feel free to patch it and give it a try and ensure communication/computation is overlapped as expected.

[2021-01-09 13:16] eric-tc commented on #50289
Hi @skyline75489 ,

i was able to compile following your suggestion.

Thanks

[2021-01-09 13:16] #50289 closed

[2021-01-09 13:16] jackdyson31 commented on #48903
@ezyang
Right I have attached a patch for both Tom's #42271 and my own issue here - hopefully I got that right.
[patch.diff.txt](https://github.com/pytorch/pytorch/files/5791151/patch.diff.txt)

[2021-01-09 15:30] walterddr commented on #46222
i've taken down the first issue tag per mike's comment. but please feel free to send us a patch and I can take a look

[2021-01-09 15:54] kshitij12345 commented on #49982
I think the change looks good. Were you able to successfully test the change?

Also feel free to open the PR (that would also run the CI test suite). Changes, if required, can be discussed there.

[2021-01-09 16:09] dheerajgattupalli commented on #49982
yes, I ran the test_tensorexpr.py which had the test case pointing to this issue removed that and the test was successful...

[2021-01-09 16:10] rabeehk opened #50323 "running a job on multiple gpus with qsub"
Hi
I would like to run a scirpt on multiple gpus with a qsub job submission, using torch.distributed command, I am not sure how to do this with qsub, when the gpus are in different machines, could you provide me with some initial script for this? thanks

[2021-01-09 16:10] rabeehk opened #50324 "running a job on multiple gpus with qsub"
Hi
I would like to run a scirpt on multiple gpus with a qsub job submission, using torch.distributed command, I am not sure how to do this with qsub, when the gpus are in different machines, could you provide me with some initial script for this? thanks

[2021-01-09 16:10] #50324 closed

[2021-01-09 16:13] pranavdurai10 commented on #50324
@rabeehk I guess this link will give you a good head-start.
https://pytorch.org/docs/stable/distributed.html

[2021-01-09 16:16] kshitij12345 commented on #49982
The updated test is in `test_shape_ops.py`
https://github.com/dheerajgattupalli/pytorch/commit/c976993c8494d6ab0d7969b6a850ca90a2f0512c#diff-9da3e8a2e39aa9125b6fa09ecd774c8260333e5a84287ea054bbc5afca39bdecR397

So be sure to test that.

[2021-01-09 16:17] pranavdurai10 commented on #50323
@rabeehk I guess this link will give you a good head-start.
https://pytorch.org/docs/stable/distributed.html

[2021-01-09 16:41] rabeehk commented on #50323
Hi
not really, I am not sure how to do it with qsub job submission, in which
gpus are on a different machine.
I already have read this page, still not sure how to do it with qsub
thanks

On Sat, Jan 9, 2021 at 5:17 PM Pranav Durai <notifications@github.com>
wrote:

[2021-01-09 16:52] AlexanderKazakov commented on #49046
@ptrblck Yes, I am seeing the same issue on the latest stable release, installed according to instructions from pytorch.org via:
[code]

I have the same error:
[code]

As for the shape of tensors, are you able to download the file with pickled tensors from my first message? The error is sustainably reproducible on that data. Anyway, here are the shapes of those tensors:
[code]

As a side note, whe

[2021-01-09 16:59] pranavdurai10 commented on #50323
@rabeehk Gotcha! Refer to this one.
https://discuss.pytorch.org/t/use-of-torch-distributed-launch-on-a-distributed-multi-node-system/103305

[2021-01-09 17:15] rabeehk commented on #50323
hey,  this person has not solved it yet

On Sat, Jan 9, 2021 at 5:59 PM Pranav Durai <notifications@github.com>
wrote:

[2021-01-09 17:24] brthor commented on #49394
@mruberry

If I understand your set of experiments correctly, it seems there are a couple key points in the provided script they don't explain adequately (number 3 I find the most convincing logically):

1. Allocating the tensors in a for loop causes the memory increase proportional to the number of tensors created for the same backing data.

[code]

2. Tensors are allocated in such a way that the

[2021-01-09 17:57] pranavdurai10 commented on #50323
@rabeehk https://leimao.github.io/blog/PyTorch-Distributed-Training/

[2021-01-09 18:06] pfeatherstone opened #50327 "Complex convolution is ONNX exportable but not ONNX runnable."
## 🐛 Bug

Complex convolution is ONNX exportable but not ONNX runnable.

## To Reproduce

Run the following code:
[code]

## Expected behavior

I expect this to work and print:
[code]

Instead i get error:
[code]

## Environment

[code]
## Additional context

I'm trying to do a 1D complex convolution. This version only has to perform 2 1d real convolutions, which is possible if ```groups==1```. Ot

[2021-01-09 18:09] pfeatherstone commented on #50327
If i use
[code]
instead, it works but this has to perform 4 convolutions. Not great.

[2021-01-09 19:18] phospheneai commented on #41593
When you copy your cudnn.h file into "cuda/vxx/include" it doesn't contain certain things in the Header portion.
So in this case this you need to copy cudnn_version.h file into your cuda directory.

[2021-01-09 19:34] t-vi commented on #49617
As of b5ab0a7f781411878b30b0d83cda47f9c364dc03 (Friday Jan 8), test/test_jit.py throws a lot of errors, e.g. TestEnum.
E.g.:
[code]

[2021-01-10 01:08] skyline75489 commented on #50323
Please only use issues for the development of PyTorch itself. For support, please use the forum instead.

[2021-01-10 01:11] skyline75489 commented on #50322
Please make sure that the issue is because of PyTorch itself. This does not seem to be a torch issue.

Github is not a support forum. Github is for the development of torch itself. Please use the forum for technical support.

[2021-01-10 01:24] PandaBoi commented on #38349
Hi @mruberry,
I would like to take a shot at diag_indices, as a first contribution.. I had a doubt about the function, since it can be implemented without taking an input tensor, should I keep it that way? In the other functions I could not find another wherein no tensors were passed in as parameters. Would appreciate some help regarding this. Thanks!

[2021-01-10 02:24] mruberry commented on #38349
@PandaBoi You're correct, diag_indices does not take a tensor as input, and this does make it different than the other functions on the list.

Other functions that don't take tensors as parameters include the tensor creation operations, like torch.randn and torch.ones, and other index-producing functions like torch.tril_indices and torch.triu_indices. The latter functions also take some kwargs, an

[2021-01-10 02:26] antsfamily opened #50328 "RTX3090 performs no better than 1080ti"
# Questions

I want to compare the performance of Pytorch on 3090 and 1080ti graphics cards. I find that 3090 is no better than 1080ti when training a network and 1x faster than 1080ti when testing a network. Why?

# Hardware and software configuration

- GPU: ``RTX3090`` (MSI VENTUS 3X 24G OC), ``GTX1080ti``
- CPU: ``E5-2696v3``
- Memory: ``64G``
- PCI version: 3.0
- Power Supply: 1000W
- CUDA: `

[2021-01-10 02:34] PandaBoi commented on #38349
@mruberry definitely helped, I'll look into those functions and work on an initial implementation. Thanks!

[2021-01-10 04:25] mruberry commented on #49394
I understand your points, so let's add some more data with tooling. Principally, however, I think the issue here is that you're using virtual memory usage to infer a leak, but there's no requirement that a program return memory to the OS. Put another way, we can't tell if there's a leak by looking at the virtual memory usage. The above snippets attempt to demonstrate how virtual memory usage may s

[2021-01-10 05:07] mruberry opened #50330 "Docs build failures are difficult to identify"
Warnings in the docs build are now a build failure in CI. These failures, however, are difficult for developers to relate to their PRs. See, for example, https://github.com/pytorch/pytorch/pull/50046#issuecomment-755285957.

The warning:

[code]

appears in a lengthy printout that can include other warnings like these:

[code]

It would be nice to more clearly describe to developers why the doc bu

[2021-01-10 05:28] mruberry commented on #5411
I believe, as of PyTorch 1.7, this issue is resolved (including rdiv).

[2021-01-10 05:28] #5411 closed

[2021-01-10 05:28] mruberry commented on #24991
Releasing from bootcamp reservation.

[2021-01-10 05:40] rodrigodesalvobraz opened #50331 "torch.topk is incorrect about the meaning of returned indices"
## 📚 Documentation

[torch.topk documentation](https://pytorch.org/docs/stable/generated/torch.topk.html) says that the function returns a tuple `(values, indices)`, where _indices_ is "the indices of the elements in the original input tensor."

The straightforward interpretation of that sentence is that _indices_ is a collection containing _n_-tuples where _n_ is the number of dimensions in the o

[2021-01-10 06:12] mruberry opened #50332 "torch.Tensor.random_ is divergent from NumPy's np.random.random"
[torch.Tensor.random_](https://pytorch.org/docs/master/tensors.html?highlight=random_#torch.Tensor.random_) is divergent from NumPy's [np.random.random](https://numpy.org/doc/stable/reference/random/generated/numpy.random.random.html?highlight=random#numpy.random.random), which is an alias for [np.random.random_sample](https://numpy.org/doc/stable/reference/random/generated/numpy.random.random_sam

[2021-01-10 06:18] mruberry commented on #1875
Good idea. Let's cover this with the more recent and general https://github.com/pytorch/pytorch/issues/45833.

I filed https://github.com/pytorch/pytorch/issues/50332 to track this.

Good news! We have [ones_like](https://pytorch.org/docs/master/generated/torch.ones_like.html?highlight=ones_like#torch.ones_like) and [zeros_like](https://pytorch.org/docs/master/generated/torch.zeros_like.html?highl

[2021-01-10 06:18] #1875 closed

[2021-01-10 06:26] mruberry opened #50333 "Function Request: scipy.stats.pearsonr"
A request for a function like SciPy's [scipy.stats.pearsonr](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.pearsonr.html) to be added to PyTorch.

Originally requested https://github.com/pytorch/pytorch/issues/1254.

[2021-01-10 06:26] mruberry commented on #1254
We would accept a PR adding torch.corrcoef modeled after NumPy's np.corrcoef.

I filed a separate issue for the scipy.stats.pearsonr request here: https://github.com/pytorch/pytorch/issues/50333. Slightly editing this issue to just track torch.corrcoef.

[2021-01-10 06:29] mruberry commented on #1254
Bumping priority based on emotes.

[2021-01-10 06:44] sudo-panda commented on #46222
@walterddr I tried running the test by commenting out [Line 585](https://github.com/pytorch/pytorch/blob/375c30a7177442fb9d6de7516a9ae4031ae324c4/test/test_serialization.py#L585) but the test runs successfully, Can you please elaborate on the error you were expecting with NamedTemporaryFile(), for which the test had to be skipped?

[2021-01-10 06:49] mruberry opened #50334 "Function Request: np.interp"
An implementation of NumPy's [np.interp](https://numpy.org/doc/stable/reference/generated/numpy.interp.html?highlight=interp#numpy.interp).

This was first requested on https://github.com/pytorch/pytorch/issues/1552.

[2021-01-10 06:51] mruberry opened #50335 "Function Request: scipy.interpolate.interp1d"
A request to implement SciPy's [scipy.interpolate.interp1d](https://docs.scipy.org/doc/scipy/reference/generated/scipy.interpolate.interp1d.html) in PyTorch.

Originally requested here: https://github.com/pytorch/pytorch/issues/1552.

[2021-01-10 06:53] mruberry opened #50336 "Function Request: scipy.ndimage.zoom"
A request to implement SciPy's [scipy.ndimage.zoom](https://docs.scipy.org/doc/scipy/reference/generated/scipy.ndimage.zoom.html).

First requested in https://github.com/pytorch/pytorch/issues/1552.

[2021-01-10 06:55] mruberry opened #50337 "Function request: scipy.interpolate.RectBivariateSpline"
A request to implement SciPy's [scipy.interpolate.RectBivariateSpline](https://docs.scipy.org/doc/scipy/reference/generated/scipy.interpolate.RectBivariateSpline.html).

Originally requested in https://github.com/pytorch/pytorch/issues/1552.

[2021-01-10 06:57] mruberry opened #50338 "Function request: scipy.interpolate.RegularGridInterpolator"
A request for SciPy's [scipy.interpolate.RegularGridInterpolator](https://docs.scipy.org/doc/scipy/reference/generated/scipy.interpolate.RegularGridInterpolator.html?highlight=regulargrid#scipy.interpolate.RegularGridInterpolator).

Originally requested in https://github.com/pytorch/pytorch/issues/1552.

[2021-01-10 06:59] mruberry opened #50339 "Function request: scipy.interpolate.griddata"
A request for SciPy's [scipy.interpolate.griddata](https://docs.scipy.org/doc/scipy/reference/generated/scipy.interpolate.griddata.html?highlight=griddata#scipy.interpolate.griddata).

Originally requested in https://github.com/pytorch/pytorch/issues/1552.

[2021-01-10 07:01] mruberry opened #50340 "Function request: scipy.interpolate.InterpolatedUnivariateSpline"
A request for SciPy's [scipy.interpolate.InterpolatedUnivariateSpline](https://docs.scipy.org/doc/scipy/reference/generated/scipy.interpolate.InterpolatedUnivariateSpline.html?highlight=interpolatedunivariatespline).

Originally requested in https://github.com/pytorch/pytorch/issues/1552.

[2021-01-10 07:02] krishnatejakanchi commented on #17023
@soumith So many are facing this issue

[2021-01-10 07:17] mruberry opened #50341 "Interpolation tracking issue"
This issue is a roll-up of interpolation-related discussion, requests and issues.

**Function requests:**

- [ ] np.interp, https://github.com/pytorch/pytorch/issues/50334
- [ ] scipy.interpolate.interp1d, https://github.com/pytorch/pytorch/issues/50335
- [ ] scipy.interpolate.InterpolatedUnivariateSpline, https://github.com/pytorch/pytorch/issues/50340
- [ ] scipy.interpolate.RectBivariateSpline,

[2021-01-10 07:18] mruberry commented on #1552
Thank you everyone who participated in this issue. Since it's an older issue and covers many requests, I've filed more modern issues tracking each request. It's helpful when issues map to a specific request.

First, the good news: PyTorch now has [torch.searchsorted](https://pytorch.org/docs/master/generated/torch.searchsorted.html?highlight=searchsorted#torch.searchsorted)!

Issues to track the o

[2021-01-10 07:18] #1552 closed

[2021-01-10 07:19] mruberry commented on #2163
Closing due to age and lack of response. If you're still seeing this issue on a modern version of PyTorch please file a new issue.

[2021-01-10 07:19] #2163 closed

[2021-01-10 07:23] imaginary-person commented on #48251
`d >= 182` triggers more threads because the OpenMP implementation uses a threshold `at::internal::GRAIN_SIZE` to determine whether parallelization would be helpful for an array, or not, and it is deemed inefficient to parallelize over arrays shorter than `GRAIN_SIZE`. `GRAIN_SIZE ` has heuristically been chosen as `32768 `in the current implementation. 182 * 182 is 33124, which triggers OpenMP pa

[2021-01-10 07:30] Mwni commented on #30664
If you've ever ran `pip install torch` without the `-f https://download.pytorch.org/whl/torch_stable.html` argument, chances are, you have the corrupt cpu only version in your pip cache. whatever reinstall you do, doesn't matter because pip will just pull the same bad version from cache. to solve:

[code]

[2021-01-10 07:41] mruberry opened #50342 "torch.any and torch.all map uint8 -> uint8 but should map uint8 -> bool"
This historic behavior was preserved in recent updates to torch.any and torch.all because it's relied upon by some PyTorch programs. Changing this is BC-breaking and requires a torchscript adapter be written.

[2021-01-10 07:41] mruberry commented on #44779
This issue is resolved, although because of BC-breaking concerns uint8 tensors still return a uint8 output when called with any/all. That new issue is tracked explicitly here: https://github.com/pytorch/pytorch/issues/50342.

[2021-01-10 07:41] #44779 closed

[2021-01-10 07:42] mattip commented on #50330
The easiest thing to do would be to improve the error message at the end of the build step, either in the `Makefile` or in the circleCI script that calls `make html` to state "if this step fails, look back in the log for WARNING: (in capital letters)". A more advanced solution would be to do something like
[code]

I wonder if there is a way to write a test to make sure it works as advertised

[2021-01-10 07:44] mruberry opened #50343 "RFC: identify analogous NumPy operators when documenting PyTorch operators"
Today in PyTorch operators are often compatible with their NumPy counterparts, but their documentation makes no mention of this. JAX, in contrast, links the corresponding NumPy function in their documentation. See, for example, https://jax.readthedocs.io/en/latest/_autosummary/jax.numpy.abs.html#jax.numpy.abs.

This RFC proposes that PyTorch's operator documentation adopts a similar approach, and

[2021-01-10 07:45] mruberry opened #50344 "NumPy Compatibility tracking issue"
This issue is a roll-up of NumPy Compatibility-related discussion, requests and issues.

PyTorch has a goal of being familiar to NumPy and SciPy users, and interoperating with libraries that work with NumPy-compatible tensors. Some "sub-trackers" for this tracker are https://github.com/pytorch/pytorch/issues/38349, where requests for functions in the numpy namespace are tracked, https://github.com

[2021-01-10 07:53] mruberry commented on #2228
Since this issue is older, and our strategy for NumPy Compatibility has been greatly expanded and altered, I'd like to close it in favor of more modern issues. See https://github.com/pytorch/pytorch/issues/50344, in particular, which includes links to more detailed issues to capture all levels of suggestions for how to improve PyTorch's NumPy Compatibility.

I encourage everyone interested in this

[2021-01-10 07:53] #2228 closed

[2021-01-10 07:56] mruberry commented on #50330
Telling people to search for "WARNING" would be a major improvement. Replicating the WARNINGs with some context at the bottom of the build output would be even better. We could also consider creating an artifact and telling people to search for WARNING and/or look at the artifact to understand the failures.

[2021-01-10 08:02] mruberry opened #50345 "torch.special tracking issue"
This issue is a roll-up of torch.special discussion, requests and issues. In particular, it is intended to track porting existing PyTorch functions analogous to scipy.special functions to a new torch.special namespace, and scipy.special function requests.

**Porting to torch.special**

- [ ] Create a torch.special namespace
- [ ] Create a doc for the torch.special module
- [ ] Identify all scipy.s

[2021-01-10 08:16] mruberry commented on #2245
Closing this issue due to age, and because it seems to be resolved. If this is incorrect, please file a new issue using a more recent version of PyTorch.

[2021-01-10 08:16] #2245 closed

[2021-01-10 08:20] mruberry commented on #2793
I've updated the labels on this function. We would still accept a PR implementing this behavior. Note that this functionality is consistent with NumPy, where np.clip can accept array-likes.

[2021-01-10 08:21] mruberry commented on #2967
We no longer support Python 2. Closing this issue.

[2021-01-10 08:21] #2967 closed

[2021-01-10 08:25] mruberry commented on #3146
Closing due to age. Please file a new issue with a recent version of PyTorch if there's still an improvement to be made.

[2021-01-10 08:25] #3146 closed

[2021-01-10 08:26] FrankLeeeee opened #50346 "how to save weights when using RPC framework"
Hi,

I am using the RPC framework to split the model across different processes/ranks. However, I notice that calling torch.save will only save the weights of the part of the model on a single rank. I am wondering if there is a way to save the weights of all models into one file?

[2021-01-10 08:28] mruberry commented on #3619
@zou3519 Is this old issue still relevant? The particular functions in question don't even exist anymore. Maybe there's a different issue with multiprocessing we're still dealing with?

[2021-01-10 08:31] mruberry commented on #9503
Closing this in favor of the more recent https://github.com/pytorch/pytorch/issues/50276.

[2021-01-10 08:31] #9503 closed

[2021-01-10 08:33] mruberry commented on #9440
Closing this issue due to age. If an issue like this is still occurring with a more recent version of PyTorch please file a new issue.

[2021-01-10 08:33] #9440 closed

[2021-01-10 08:38] mruberry commented on #9468
The snippet

[code]

which I think corresponds with the last issue mentioned, works as of PyTorch 1.7. Closing this issue.

If there are other NumPy scalar interop issues with PyTorch tensors please file a new issue with a more recent version of PyTorch.

[2021-01-10 08:38] #9468 closed

[2021-01-10 08:42] mruberry commented on #9235
Closing this issue due to age and because caffe2 is effectively deprecated. If this issue is still occurring please switch to PyTorch or file a new issue.

[2021-01-10 08:42] #9235 closed

[2021-01-10 08:43] mruberry commented on #9186
This is an interesting NumPy-compatibility idea but we should carefully consider this UX. If anything it seems nicer to make more args kwarg-only for readability and maintainability.

[2021-01-10 08:44] mruberry commented on #8194
Closing due to age and because PyTorch is now preferred to Caffe2. If this issue is still relevant please file a new issue.

[2021-01-10 08:44] #8194 closed

[2021-01-10 08:46] mruberry commented on #7840
Closing this issue due to age and because it is now recommended to use PyTorch, not Caffe2. If this is still relevant please file a new issue.

[2021-01-10 08:46] #7840 closed

[2021-01-10 08:46] mruberry commented on #7830
Closing this issue due to age and because PyTorch is now preferred to Caffe2. If this issue is still relevant then please open a new issue.

[2021-01-10 08:46] #7830 closed

[2021-01-10 08:47] mruberry commented on #7826
Closing this issue due to age and because PyTorch is now preferred to Caffe2. If this issue is still relevant then please open a new issue.

[2021-01-10 08:47] #7826 closed

[2021-01-10 08:47] mruberry commented on #7756
Closing this issue due to age. If you're still experiencing an issue with ONNX please file a new issue. ONNX support has changed significantly since this issue was filed.

[2021-01-10 08:47] #7756 closed

[2021-01-10 08:48] mruberry commented on #7745
@houseroad Is this issue still relevant?

[2021-01-10 08:48] mruberry commented on #7719
Closing due to age and because PyTorch is now preferred to Caffe2. If this issue is still relevant please open a new issue.

[2021-01-10 08:48] #7719 closed

[2021-01-10 08:49] mruberry commented on #7728
Closing this issue due to age and because PyTorch is now preferred to Caffe2. If this issue is still relevant then please open a new issue.

[2021-01-10 08:49] #7728 closed

[2021-01-10 08:49] mruberry commented on #7030
Closing this issue due to age and because PyTorch is now preferred to Caffe2. If this issue is still relevant then please open a new issue.

[2021-01-10 08:49] #7030 closed

[2021-01-10 08:50] mruberry commented on #6356
Closing this issue due to age and because PyTorch is now preferred to Caffe2. If this issue is still relevant then please open a new issue.

[2021-01-10 08:50] #6356 closed

[2021-01-10 08:52] mruberry commented on #10430
Closed due to age and apparent fix. If this issue is still occurring please file a new issue with a more recent version of PyTorch.

[2021-01-10 08:52] #10430 closed

[2021-01-10 08:53] mruberry commented on #10344
Closing due to age and lack of response. If this issue is still occurring please file a new issue using a more recent version of PyTorch.

[2021-01-10 08:53] #10344 closed

[2021-01-10 08:55] mruberry commented on #9899
Closing due to age. If this issue is still occurring please file a new issue with a more recent version of PyTorch.

[2021-01-10 08:55] #9899 closed

[2021-01-10 08:56] mruberry commented on #9624
Related: https://github.com/inducer/pycuda/issues/226. As @SsnL mentions that's probably a blocking issue.

[2021-01-10 08:58] mruberry commented on #11728
Closing due to age, lack of response, and because PyTorch is now preferred to Caffe2. If this is still an issue then file a new issue.

[2021-01-10 08:58] #11728 closed

[2021-01-10 09:02] mruberry commented on #10742
PyTorch now has both finfo and iinfo! Closing this issue.

[2021-01-10 09:02] #10742 closed

[2021-01-10 09:03] mruberry commented on #11103
Closing due to age. If this issue is still occurring with a recent build of PyTorch please open a new issue.

[2021-01-10 09:03] #11103 closed

[2021-01-10 09:25] mruberry commented on #12887
This issue and the increase memory usage seem to be resolved on recent builds of PyTorch. If you're still seeing either issue with PyTorch 1.7 or later please open a new issue.

[2021-01-10 09:25] #12887 closed

[2021-01-10 09:26] mruberry commented on #14671
Closing due to age. If this issue is still relevant please file a new issue using a more recent version of PyTorch.

[2021-01-10 09:26] #14671 closed

[2021-01-10 09:28] mruberry commented on #14085
@vishwakftw is correct, we want to be consistent with NumPy (which may be internally inconsistent, unfortunately).

[2021-01-10 09:28] #14085 closed

[2021-01-10 09:30] mruberry commented on #15302
This appears to be fixed on nightly.

[2021-01-10 09:30] #15302 closed

[2021-01-10 09:32] mruberry commented on #15056
This is fixed in PyTorch 1.7 (and possibly earlier versions of PyTorch, too).

[2021-01-10 09:32] #15056 closed

[2021-01-10 09:33] mruberry commented on #14846
This has been fixed!

[2021-01-10 09:33] #14846 closed

[2021-01-10 09:37] mruberry commented on #15921
This appears to be fixed on nightly, although it is not fixed in PyTorch 1.7. Maybe @ejguan fixed it?

[2021-01-10 09:37] #15921 closed

[2021-01-10 09:46] mruberry commented on #18095
The divergence between method and function variants of flip suggests there's an error in codegen. This issue reproduces in PyTorch 1.7.

[NumPy's flip](https://numpy.org/doc/stable/reference/generated/numpy.flip.html) does allow the dims argument to be an integer. We should update our flip to be the same. Updating title of this issue.

[2021-01-10 09:50] mruberry commented on #17231
I've updated the title of this issue and its labels. We would accept a PR implementing this, although I expect the design of torch.testing may change in the near future.

[2021-01-10 09:52] mruberry commented on #17646
This no longer occurs as of PyTorch 1.7 because of type promotion. Switching the division to be floor division will throw a ZeroDivisionError as expected.

[2021-01-10 09:52] #17646 closed

[2021-01-10 09:56] LordGav commented on #28320
I had the same error, just freed up some space in drive, and It worked

[2021-01-10 10:26] mruberry commented on #50285
NumPy's einsum [seems much more popular](https://github.com/Quansight-Labs/python-api-inspect/blob/master/data/csv/numpy-summary.csv) than its einsum_path, and it does seem strange that it's a separate function vs. a kwarg.

@rgommers, what are your thoughts? Maybe we should just alias einsum_path to einsum?

[2021-01-10 10:28] mruberry commented on #49530
Let's get a third opinion from @jbschlosser.

[2021-01-10 10:51] rgommers commented on #9186
+1 for more kwargs-only. I suggest to close this as wontfix.

[2021-01-10 10:52] pfeatherstone opened #50348 "ONNX export: Unexpected node type: onnx::Gather when doing adaptive filtering"
## 🐛 Bug

I am trying to do adaptive filtering. Each batch gets its own filter. The following code fails to export but runs perfectly fine in normal pytorch execution mode.

[code]

## To Reproduce

Run the code above. You will get the error:
[code]

## Expected behavior

I expect this to export fine.

## Environment

[code]

## Additional context

cc @houseroad @spandantiwari @lara-hdr @BowenBao

[2021-01-10 10:56] rgommers commented on #50285
I've never seen `einsum_path` used much, I would not add it as a separate function. Adding only the `optimize` keyword makes more sense to me, or doing nothing except adding docs (option 3 above).

[2021-01-10 10:58] rgommers commented on #50330
There is an artifact already, adding to the message that the `pytorch_python_doc_build` CI job takes you straight to the rendered html that you can inspect for issues may make sense.

[2021-01-10 11:00] pfeatherstone commented on #27838
I think https://github.com/pytorch/pytorch/issues/50348 is related

[2021-01-10 11:02] rgommers commented on #11695
I really wish NumPy was less forgiving, it's an endless source of issues. There's something to say for accepting Python `int` and `float` for convenience, but lists/tuples are very questionable already, and anything beyond that is definitely not a good idea.

[2021-01-10 11:04] rgommers commented on #50343
TensorFlow does this too: https://www.tensorflow.org/api_docs/python/tf/experimental/numpy/std

It seems useful to do indeed. Would be nice to have this in a uniform and easy to recognize manner in the docs. Maybe add a `.. numpy-compat::` reST directive that can be easily styled?

[2021-01-10 11:06] mruberry commented on #50275
I think we can combine the functionality of torch.transpose and np.transpose. There is a caveat with this approach, however.

Looking at the signatures, torch.transpose requires three arguments `torch.transpose(input, dim0, dim1)`, while `numpy.transpose(a, axes=None)` requires one or two. This difference would suggest that we can always disambiguate calls to one transpose vs. the other.

However,

[2021-01-10 11:08] mruberry commented on #11695
I agree with @rgommers, and if we follow the thinking in https://github.com/pytorch/pytorch/issues/31558 this approach may be an antipattern as it will prevent some device types from maximizing their performance.

[2021-01-10 11:09] rgommers commented on #50334
I would not add an `interp` function. NumPy has very limited interpolation functionality, it'd be better to be `scipy.interpolate` compatible. And the `interp1d` function (also requested in gh-50335) is essentially the same.

[2021-01-10 11:10] pfeatherstone commented on #50348
Note that using ```torch.jit.script``` or ```torch.jit.trace``` works fine

[2021-01-10 11:26] rgommers commented on #50341
Note that `scipy.interpolate` has two sets of interpolation functionality: a functional style one (`interp1d`, `interp2d`, `spl*`, etc.) and a class-based one (`InterpolatedUnivariateSpline` et al.). The former is legacy, the latter is preferred.

`scipy.ndimage` indeed also has a lot of interpolation functionality. One of the most powerful functions is `ndimage.map_coordinates`, and for regular g

[2021-01-10 11:28] rgommers commented on #50336
Note that if someone wants to work on this, use SciPy 1.6.0 (just released) to compare - `zoom` has a couple of nasty bugs in extension modes that were only fixed in 1.6.0 (plus new extension modes were added).

[2021-01-10 11:31] rgommers commented on #50333
There are a lot of hypothesis tests in `scipy.stats`. I'm not sure I would put these in scope for PyTorch, they seem better outside - or just use SciPy, because it would accept `torch.Tensor` just fine for CPU tensors. And this is typically functionality you'd only use at the end of some model, so having a GPU implementation doesn't seem too important.

[2021-01-10 11:45] Ali-Kamel commented on #3825
thank you it worked for me aswell !

[2021-01-10 11:48] pfeatherstone commented on #50348
Which is odd. I thought ```torch.jit.trace``` and ```torch.onnx.export``` used the same IR parser.

[2021-01-10 11:54] SteveJunGao commented on #29795
Are there any updates on this? I also encountered the problem
[code]

[2021-01-10 11:55] blakeliu commented on #44551
@RobertCsordas   I meet the same bug!  [https://github.com/ultralytics/yolov5/issues/1469#issuecomment-757408613](url)
### I use tiny-imagenet 200 dataset train with [https://github.com/pytorch/examples/blob/master/imagenet/main.py](url), the same with outputs
[code]

### My software environment
[code]

[2021-01-10 12:54] aliutkus commented on #50335
For the record, this is implemented here:
https://github.com/aliutkus/torchinterp1d

best

[2021-01-10 13:17] t-vi opened #50351 "Add Python version to libtorch_python soname"
## 🚀 Feature

We should include the Python SOABI marker in the libtorch_python library name.
It can be obtained using `sysconfig.get_config_var('SOABI')`.

## Motivation

Like the Python modules `torch._C` etc., libtorch_python is tightly coupled to the Python version. If something goes wrong, segfaults, missing symbols or the like occur. It would be useful to avoid this, which can be done by addi

[2021-01-10 13:41] #30446 closed

[2021-01-10 15:21] PandaBoi opened #50352 "Difference between torch.tril_indices and numpy.tril_indices"
## 🐛 Bug

The return type of numpy.tril_indices is a tuple of arrays while torch.tril_indices returns a single tensor. The issue could be that they might not produce the same results if utilised in the same manner on a tensor as shown below. Are the tril_indices from torch to be used in a different fashion?

## To Reproduce

![image](https://user-images.githubusercontent.com/43226067/104126773-751

[2021-01-10 17:06] Iman1221 commented on #5406
Thank you @andreped. I agree with you.
But there is something really weired in pytorch eval mode with batch normalization.
I set the momentum to 0.01 but it is still not like tensorflow.
Are you setting batch norm to eval mode? Something like:

def set_bn_eval(m):
    if isinstance(m, nn.modules.batchnorm._BatchNorm):
        m.eval()

model.apply(set_bn_eval)

[2021-01-10 18:01] blueloveTH commented on #50268
@peterjc123 @ngimel Hey, I update a [new notebook](https://github.com/blueloveTH/bug-report-pytorch/blob/main/cuda_error_2.ipynb) to find the edge case.

I decomposed the model settings and locked two parameters `seq_len` and `hidden_dim` that are related to this problem.

Here is the result.

| seq_len / hidden_dim | 2000 | 1500 | 1199 | 1200     | 1201 | 1300 |
| -------------------- | ---- | --

[2021-01-10 18:18] blueloveTH commented on #50268
And for `seq_len>2000` and `hidden_dim>1200` I can get two random error
[code]

or

[code]

With `os.environ['CUDA_LAUNCH_BLOCKING'] = '1'`, the error disappers. Hope this can help.

[2021-01-10 18:25] defineHong commented on #37477
I have the same error and I need help QwQ

[2021-01-10 18:58] snailrowen1337 opened #50354 "for CNN in fp16 execution time depends on input scale"
## 🐛 Bug

Using a convolutional model in half-precision has execution time dependent upon the input scale.

## To Reproduce

[code]

the output is

[code]

## Expected behavior

The time shouldn't be dependent upon the scale of the input.

## Environment

 - PyTorch Version (e.g., 1.0): 1.7.1.
 - OS (e.g., Linux): CentOS
 - How you installed PyTorch (`conda`, `pip`, source): conda
 - Build command

[2021-01-10 19:16] sseveran commented on #50200
So I think this is somehow related to the debugger in pycharm, although I don't know enough about how it works to speculate as to why. I would guess that it tampers with forking somehow. I can run fine outside of the debugger.

I  did try with spawn, but it ran so slowly. I don't know if this fixed it or did not trigger the bug.

Closing for now.

[2021-01-10 19:16] #50200 closed

[2021-01-10 19:58] ngimel commented on #50352
You can get same results as numpy by using `torch.tril_indices(...).unbind()`. The order of positional arguments is also different between torch and numpy (as shown in your snippet), in torch it's (row,col, offset), in numpy it's (row, offset, col).

[2021-01-10 21:46] mrshenli commented on #45067
reopen as the error occurs again. But looks like it only appears after landing this stack (https://github.com/pytorch/pytorch/pull/50029). @rohan-varma does the profiler has any assumption on the `FutureMessage` that `ivalue::Future` violates?

https://app.circleci.com/pipelines/github/pytorch/pytorch/258889/workflows/a6b05e17-ec66-44ab-a133-3376f76a705b/jobs/10077140/steps

https://app.circleci.c

[2021-01-10 22:10] mruberry commented on #50352
Thanks for reporting this issue, @PandaBoi. I've updated its title and labels.

[2021-01-10 22:18] jonykarki commented on #49769
@saiamrit Are you working on this? If not, I'd like to work on this.

[2021-01-10 22:20] mruberry commented on #49769
@jonykarki Go ahead, as the contributing guide mentions we don't support "reserving" issues.

[2021-01-10 22:26] #46529 closed

[2021-01-10 22:30] VitalyFedyunin commented on #43359
It now supported, but you will need to compile it yourself.

[2021-01-10 22:30] #43359 closed

[2021-01-10 22:39] VitalyFedyunin commented on #38475
We will gladly accept PR implementing this fast kernel.

[2021-01-10 22:42] mruberry commented on #46544
To elaborate: my suggestion is to add the `nan_policy` kwarg to existing operators and either alias the nan* operators to call the operator with a particular nan_policy value, or have the nan_policy value determine which operator is called. We should be careful that whatever approach we take (and it may very operator-by-operator) doesn't increase dispatch overhead unless absolutely necessary.

[2021-01-10 23:06] albanD commented on #12986
Since you're at a point where log is not continuously differentiable, you cannot expect them to commute I'm afraid.

The behavior you're seeing is expected and as mentionned above, the only way to fix that would be to be able to see the difference between 0 grad and not defined grads which we cannot do with current Tensors.

[2021-01-10 23:06] #12986 closed

[2021-01-10 23:07] francois-rozet commented on #22439
For those who are interested, I have implemented a package of IQA metrics:
https://github.com/francois-rozet/piqa

[2021-01-10 23:09] jonykarki commented on #49769
Should I just replace `Byte` with `Bool` or make it `Byte or Bool` since having `Byte` condition works as well?
![image](https://user-images.githubusercontent.com/25265687/104137986-8e0e3f00-5366-11eb-8c78-d1bc5abb83b4.png)

[2021-01-10 23:10] francois-rozet commented on #6934
I have implemented a package of fast IQA metrics (including SSIM and MS-SSIM) in PyTorch:
https://github.com/francois-rozet/piqa
Any feedback would be appreciated.

[2021-01-10 23:14] brthor commented on #49394
I feel that there is perhaps a disagreement on the existence and nature of the issue that I am reporting.

In essence, my methods in establishing that this issue exists have been from a black box perspective to the program, and through systematic elimination of variables. I cannot comment knowledgeably on the methods of debugging or other perspectives other than from the black-box system perspecti

[2021-01-10 23:15] ngimel commented on #49769
Replace `Byte` with `Bool`, we should deprecate and disallow usage of `Byte` here completely.

[2021-01-11 00:02] andreped commented on #5406
Well, the whole point was to be able to deploy the model in test mode. So yes, I modified the momentum, deployed it in test mode, and then it worked.

When I didn't change the momentum, I was still able to run the model in train mode, and it worked somewhat. However, this is non-ideal for multiple reasons. Simple: model.eval() should be sufficient.

@Iman1221: But what do you mean like tensorflow?

[2021-01-11 01:09] PandaBoi commented on #50352
Will a PR on this issue be useful?
 I would like to take it up as a first contribution, please let me know what all could be worked upon?

[2021-01-11 02:42] mhiyer commented on #34948
Do you mean add the line 'model.eval()' or add something before 'model.eval()'? Could you expand on this? Thanks

[2021-01-11 02:50] mruberry commented on #50352
Not at this time, sorry @PandaBoi. You can search for issues labeled with "good first issue," however, to find a good first issue. This one is trickier because we need to decide if we want to impose a backwards compatibility-breaking change on PyTorch users.

[2021-01-11 03:00] mruberry commented on #49394
@brthor How do you see this go out of memory? Do you have to increase the buf_size to do that? Or are you filling the deque after its buffer is full?

Do you see the same memory usage increase when you use `data_t = torch.randn((4, 4, 50, 50))` as the current `torch.as_tensor` line?

[2021-01-11 03:15] mruberry commented on #50285
Additional context: it seems like JAX uses opt-einsum.

[2021-01-11 04:01] PandaBoi opened #50360 "error: conversion from ‘std::vector<at::Tensor>’ to non-scalar type ‘at::Tensor’ requested"
## ❓ Questions and Help

While trying to tackle diag_indices #38349 I had the issue as shown below:

![image](https://user-images.githubusercontent.com/43226067/104145699-053ae600-53ee-11eb-8cda-9fa6527836c6.png)

This was what I was trying:

![image](https://user-images.githubusercontent.com/43226067/104146024-3d8ef400-53ef-11eb-8905-dba6f01a6d87.png)
![image](https://user-images.githubuserconten

[2021-01-11 04:11] mruberry commented on #50360
Chunk, split, or tensor_split would be the right functions to look at for returning a tuple of tensors. See

https://github.com/pytorch/pytorch/blob/36ddb00240604c328358d4c35cbb042674a8ecf8/aten/src/ATen/native/TensorShape.cpp#L512

These functions all take tensor inputs but I'd be surprised if that mattered. What does your native_functions.yaml entry look like?

[2021-01-11 04:18] PandaBoi commented on #50360
native_functions entry
![image](https://user-images.githubusercontent.com/43226067/104146802-ff470400-53f1-11eb-8afe-a8ff3cf8100e.png)

Infact when I tried switching the first parameter with a tensor input, the function worked without an issue. It was when I switched it to an int that the problem arised.

[2021-01-11 04:21] mruberry commented on #50360
That is really interesting. Let's ask @bhosmer, our area expert.

[2021-01-11 04:38] mruberry commented on #2456
This has been added by @jbschlosser. See https://pytorch.org/docs/master/generated/torch.nn.PixelUnshuffle.html?highlight=unshuffle#torch.nn.PixelUnshuffle.

[2021-01-11 04:38] #2456 closed

[2021-01-11 05:25] PandaBoi commented on #50360
For reference,
The tensor version which built succesfully:

native_functions:
![image](https://user-images.githubusercontent.com/43226067/104149129-20f8b900-53fb-11eb-9e93-2747e7e12c94.png)
def:
![image](https://user-images.githubusercontent.com/43226067/104149186-41c10e80-53fb-11eb-980a-5a1e49ec12a2.png)

Output:
[code]
This follows the expected output of the function.

[2021-01-11 05:35] ngimel commented on #50360
Try adding an entry in derivatives.yaml with `output_differentiability: [False]` to prevent `autograd` from generating the code (your errors are coming from autograd generated code).

[2021-01-11 06:24] PandaBoi commented on #50360
I tried adding as suggested in `derivatives.yaml` however `autograd` is still generating the code, and I find an entry in `variable_factories.h` generated by `autograd`.  Is there something else I should be doing to prevent its generation?
@ngimel

[2021-01-11 06:41] ngimel commented on #50360
You can also do
[code]
in native_functions.yaml

[2021-01-11 06:44] robieta commented on #48748
Closing since that stack has been merged. Thanks for the report and for testing!

[2021-01-11 06:44] #48748 closed

[2021-01-11 06:50] mruberry commented on #11695
Closing this in favor of the more recent and general https://github.com/pytorch/pytorch/issues/46138.

[2021-01-11 06:50] #11695 closed

[2021-01-11 08:00] PandaBoi commented on #50360
That did not work as well, it ended up generating in `autograd`. However, I found in `derivatives.yaml` a suggestion :
[code]
I did that, and `autograd` did not generate the code for this function, however it failed in the last step of linking CXX executable
[code]
Am I missing something?

[2021-01-11 08:09] feihaochen commented on #34948
Add the line 'model.eval()' . This should work.

________________________________
From: mh iyer <notifications@github.com>
Sent: Monday, January 11, 2021 10:43 AM
To: pytorch/pytorch <pytorch@noreply.github.com>
Cc: CHEN, Feihao <feihaochen@link.cuhk.edu.hk>; Comment <comment@noreply.github.com>
Subject: Re: [pytorch/pytorch] TracerWarning: Output nr 1. of the traced function does not match the co

[2021-01-11 08:34] Adblu commented on #50277
[code]

go.py file is a file responsible for training a model using mmdetection library:
[code]

When I move gp.py into src directory, there is no error. However, when Im calling it from folder start the error appears.

[2021-01-11 09:21] Toudsour opened #50363 "Occur bug when convert a model with str input to ONNX"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

Just run my following code:
[code]

Get error message on my machine
[code]

## Expected behavior

I want to test if I could have export a model with str input to ONNX format. If I can, it means I could write some pre-processing or post-processsing with torchscript and export them to ONNX for inference.

## Environment

PyTorch version: 1

[2021-01-11 09:49] YongHuangSJTU opened #50365 "Error when export custom LSTM cell model to ONNX with jit script"
## 🐛 Bug

I can't export my custom LSTM cell model to ONNX with jit script

## To Reproduce

Steps to reproduce the behavior:
Here's my code

[code]
------------------------------------------------
Error:

  File "d:\Augloop\py\same2.py", line 59, in <module>
    generate_model()
  File "d:\Augloop\py\same2.py", line 56, in generate_model
    input_names=['input_data'], example_outputs=o)
  File "

[2021-01-11 10:13] tchaton opened #50366 "Optimizer closure return None to skip step"
## 🚀 Feature

## Motivation

Hey All,

Currently, when providing the `closure to the optimizer`, there is not way to skip step to be run.

For SGD:

[code]

I would like to propose a API change. If the loss returned by the user is None, then it would skip step update.

[code]

## Pitch

## Alternatives

## Additional context

[2021-01-11 10:42] pfeatherstone commented on #23066
me too. Is there a fix?

[2021-01-11 11:23] goodclass commented on #50354
[code]

- PyTorch Version (e.g., 1.0): 1.7.1
- OS Win10
- GPU models and configuration: RTX 3090
- CUDA/cuDNN version: 11.0/ 8.0.4

[2021-01-11 11:30] nairbv commented on #49468
some of this might belong in test_type_promotion.py where there are additional tests for out= variants of a number of operators.

[2021-01-11 12:25] pfeatherstone commented on #50348
Though i experience problems when using a scripted module on a CUDA device. All a bit of a nightmare. Anybody had a chance to look at this?

[2021-01-11 12:53] david-sen opened #50371 "Windows compatibility issue"
## 🐛 Bug

I'm unable to install detectron2 on Windows because of some "problem" with PyTorch. However, some replacements in a few files solves the issue.

## To Reproduce

Steps to reproduce the behavior:

1. Install PyTorch using the official command
2. Try to install detectron2 from source

## Expected behavior

After running the following commands in bash in my venv folder

[code]

The installa

[2021-01-11 13:09] uaahacker commented on #3825
thanks

On Sun, Jan 10, 2021 at 4:46 PM Ali <notifications@github.com> wrote:

[2021-01-11 13:19] albanD commented on #49724
We can do something similar to what we do for norm/max which explicitely avoid the sync on cuda:
https://github.com/pytorch/pytorch/blob/9d8bd216f9e29251685389a22dce69614ab648a5/torch/csrc/autograd/FunctionsManual.cpp#L806-L814

With similar code that handle the infinite cases. Is everyone happy with this?

[2021-01-11 13:19] mruberry commented on #50214
I like the idea of supporting a dims argument, but let me ask a more general question:

Currently torch.norm and torch.linalg.norm support a variety of norms computed with radically different methods. They almost seem like "clearing houses" or "routers" for picking a norm. Would it be simpler if we implemented the vector norms and the matrix norms that comprise torch.norm and torch.linalg.norm as

[2021-01-11 13:56] albanD commented on #10729
For the `torch.where` example, it is definitely going to be hard to fix as by the time when you compute the backward of the exp, you cannot know if the 0 is a real 0 or from undefined gradients.

For the clamp case, it boils down to the question of: Should the backward pass propagate inf/nan gradients flowing back or try to remove them as much as possible.
I think that in most cases, inf/nan gradi

[2021-01-11 14:00] albanD commented on #11797
I am going to close this as outdated as we moved to a new style of custom Function since this issue was open and we now properly support non Tensor type and don't try to unpack them.

The infinite recurse though comes from the gradcheck code I think and might still happen. But here, the gradcheck expects *only* Tensors are input and so should not be given such objects.
The reason why this recursio

[2021-01-11 14:00] #11797 closed

[2021-01-11 14:26] ejguan commented on #15921
Yes, it's fixed. see PR #47323

[2021-01-11 14:50] faroit commented on #42813
@jonashaag maybe you want to reopen this one?

[2021-01-11 15:16] zou3519 commented on #9229
Yes, the problem is that cudnn doesn't provide double backwards and doesn't provide the correct intermediates for us to compute the double backwards. In order to compute double backwards for RNNs, one has to make sure they are not using the cudnn implementation (the fused LSTMCell RNN implementation does support double backward).

The easiest thing to do here is document how to compute double back

[2021-01-11 15:30] zou3519 commented on #50226
`embedding` does support higher order gradients:
[code]

The phenomenon that is happening in your example is that the values of `g` are independent from whatever values are in `embedding_matrix`; g is a constant function of `embedding_matrix`. In this case, it looks like autograd just decides not to assign a grad_fn:
[code]

I don't know if this is the intended autograd behavior, but I think it ha

[2021-01-11 15:37] albanD commented on #50226
Hi,

Yes this is expected.
Independent gradients in pytorch can be represented by
- No graph (and so no grad_fn), leading to error if you try to backprop
- A graph that will generate 0 gradients

[2021-01-11 15:37] #50226 closed

[2021-01-11 15:39] albanD commented on #9229
What the example I gave above is doing is checking, when the backward is running, if grad mode is enabled, the run a backward that is differentiable. Otherwise, run the non-differentiable one. I think that would work here as well no?

[2021-01-11 15:44] zou3519 commented on #3619
I applied some updates for the times (IIRC we did a simple rename of gesv->solve, potrf->cholesky). The code still hangs, and adding `OMP_NUM_THREADS=1 MKL_NUM_THREADS=1` causes the hang to go away.
[code]

[2021-01-11 15:51] zou3519 commented on #9229
We are unable to run an efficient differentiable backward for LSTM if the forward computation went through cudnn. This because during the forward pass, cudnn saves intermediate values into some buffers and we do not know how those buffers work (it is an implementation detail for cudnn that is not supposed to be a stable API).

We could just re-run the forward pass without cudnn during the backward

[2021-01-11 15:57] mruberry commented on #50360
Try it without the kwargs for now.

[2021-01-11 16:03] janeyx99 commented on #50232
Currently yes. If you'd like to contribute, that'd be much encouraged and appreciated! :) Otherwise, it is on the roadmap.

[2021-01-11 16:06] albanD commented on #9229
Ho ok, so that is not an option.
I guess that raising a nice error that explicitly says that you should run the forward without cudnn if you need double backward is a good solution?

Also we already have such a context manager:
[code]
will print
[code]

[2021-01-11 16:07] izdeby opened #50375 "Provide a set of C++ foreach APIs that will take tensor pointers as an input"
**Motivation**
Performance analysis and Nested Tensor showed that there are use cases when we dont want to manually create a list of tensors as that might be expensive. We should be able to accept a list of tensor pointers instead.

[2021-01-11 16:17] zou3519 commented on #9229
Agree! I tried to do this in https://github.com/pytorch/pytorch/pull/33884 but it caused tests to fail wildly. I should go back and investigate.

Nice! It will be helpful to add that to the error message PR (it looks like I did mention it in the error message but forgot about it until now haha)

Speaking of which, this issue is probably a duplicate of https://github.com/pytorch/pytorch/issues/5261

[2021-01-11 16:21] anjali411 commented on #24745
making it high priority because it's useful for complex tensors

[2021-01-11 16:22] anjali411 commented on #24754
making it high priority because it's useful for complex tensors

[2021-01-11 16:34] albanD commented on #9229
#33884 looks very much like the right fix for me :)
From a quick look, all the CI failures in there look unrelated to your PR!

[2021-01-11 16:44] zhangguanheng66 commented on #50371
high priority since it might block the downstream library (detectron2).

[2021-01-11 17:03] sirmarcel commented on #42368
Hello! Just wanted to drop in to say that `vmap` has some quite interesting applications when it comes to computing jacobian-related properties in the context of NNs for physics, such as [SchNet](https://github.com/atomistic-machine-learning/schnetpack), so I'm really quite keenly following the developments here. Is there any chance this feature will make it into the next release of `pytorch`?

[2021-01-11 17:05] zhaojuanmao commented on #50277
train.py script path should be a full path that torch.distributed.launch can know about

[2021-01-11 17:17] malfet commented on #49959
Fixed crash, but underlying transformation of tensor lists (i.e. `Tensor[]`  types) needs to be properly addressed by ONNX exporter.

[2021-01-11 17:24] JohnReid opened #50378 "Categorical logits argument is treated as log probabilities"
## 🐛 Bug

The `logit` argument to `torch.distributions.Categorical` is not treated as logits, rather as log probabilities

## To Reproduce

[code]

produces
[code]

## Expected behavior

I expect the last line to be the same as the first and the second line to be different from the first. Log probabilities are not logits.

[code]

## Environment

[code]

cc @fritzo @neerajprad @alicanb @vishwakftw

[2021-01-11 17:24] ngimel commented on #50360
See README.md, section on `use c10_dispatcher`. In you implementation signature, you have to split TensorOptions into separate arguments (basically, you function signature should be the same as what linker complains about).

[2021-01-11 17:31] aktaseren opened #50379 "module 'torch' has no attribute 'potrf'"
## 🐛 Bug
I can not execute a script run by pytorch. I am having the issue on the lines below.

[code]

**The error output is below:**

AttributeError: module 'torch' has no attribute 'potrf'

I could not find any solution for potrf. Do you have any suggestion to figure it out?

[2021-01-11 17:43] ejguan commented on #48055
Closing the issue as solved.

[2021-01-11 17:43] #48055 closed

[2021-01-11 17:45] ejguan commented on #47445
Closing as the issue as solved in #48543

[2021-01-11 17:45] #47445 closed

[2021-01-11 17:46] ngimel commented on #50354
cc @ptrblck

[2021-01-11 17:52] spandantiwari commented on #50363
@Toudsour - FYI - only tensor, list and tuples are supported as input to the export API.

[2021-01-11 18:03] gchanan commented on #50224
triage review to discuss the labeling and thoughts.

[2021-01-11 18:06] malfet commented on #50371
@david-sen can you share a build failure logs here prior to your changes?

[2021-01-11 18:09] albanD commented on #50224
I do agree that mean should return `nan` for empty Tensors and it is consistent with numpy:
[code]

[2021-01-11 18:12] anjali411 opened #50381 "`trace_backward` does not work for complex tensors"
I ran the code below after locally rebasing on #50380 and adding `trace` to `GRADIENT_IMPLEMENTED_FOR_COMPLEX` in `gen_variable_type.py`.

[code]

cc @ezyang @anjali411 @dylanbespalko @mruberry

[2021-01-11 18:12] ezyang commented on #50224
Related-ish https://github.com/pytorch/pytorch/issues/50122

[2021-01-11 18:15] malfet commented on #38230
Sounds like a duplicate of https://github.com/pytorch/pytorch/issues/50014 (destruction of GIL in autograd threads)

[2021-01-11 18:16] anjali411 commented on #24714
hi pri because https://github.com/pytorch/pytorch/issues/50381

[2021-01-11 18:17] anjali411 commented on #24577
hi pri because https://github.com/pytorch/pytorch/issues/50381

[2021-01-11 18:17] gchanan commented on #31829
closing this, further discussion in: https://github.com/pytorch/pytorch/issues/49724.

[2021-01-11 18:17] #31829 closed

[2021-01-11 18:19] gchanan commented on #50042
@XiaobingSuper do you know the surface area of this bug?  It would be helpful to write tests against and potentially workaround until the next onednn upgrade.

[2021-01-11 18:20] snailrowen1337 commented on #50354
This issue persists if I "warm-start" the GPU:

[code]

[2021-01-11 18:21] gchanan commented on #1254
Note we aren't going to do this, but will put in the torch. package.

[2021-01-11 18:26] ezyang commented on #50371
Possibly related https://github.com/pytorch/pytorch/pull/48836

[2021-01-11 18:27] gchanan commented on #50371
Also maybe related: https://github.com/pytorch/pytorch/pull/48717

[2021-01-11 18:27] anjali411 commented on #24616
hi pri because this should be supported for complex tensors

[2021-01-11 18:36] soulitzer opened #50382 "out variant of many loss functions are not consistent with non-out variant when reduction is not none"
## 🐛 Bug

The out variants of `l1_loss`, `mse_loss`, `smooth_l1_loss`  loss functions implement the reduction with `.mean(dim=0)` while non-out variants of the same loss functions implement the reduction with `.mean()` which should be the correct behavior.

## To Reproduce

[code]

## Expected behavior

They should be consistent

## Environment

PyTorch version: 1.8.0a0+3435892
Is debug build: Fal

[2021-01-11 18:38] jbschlosser commented on #50224
I agree with @gchanan and @albanD that we should maintain the current behavior, for the same reasons:
1. Consistency with numpy
2. Minimizing the possibility of silently incorrect behavior

It's easy to manually work around the NaNs when 0 is preferred.

[2021-01-11 18:55] SharonBarak commented on #45051
Hi @rgommers and @mruberry , just wanted to check in and see if there has been any progress on this suggestion.

[2021-01-11 18:58] faroit commented on #42813
ping @vincentqb is there any path going forward for nd-stft and nd-istft or at least revert to torchaudios older behaviour?

[2021-01-11 19:01] zou3519 commented on #42368
@sirmarcel does a faster [torch.autograd.functional.jacobian](https://pytorch.org/docs/stable/autograd.html#torch.autograd.functional.jacobian) serve your use case or is there something specific that you'd want to do with a vmap? We're planning on adding a flag to torch.autograd.functional.jacobian to leverage torch.vmap in the backend (instead of invoking the autograd engine multiple times as it

[2021-01-11 19:03] Lilyjjo opened #50384 "Static hooks serialization: moving the hook definitions outside of module definitions in the archive"
Currently for serialization of script modules with hooks, the hook definitions are being saved inside modules even if the hook itself is shared between multiple modules. Look into moving the hook definitions outside of the model in the archives if users start to experience bloat in the archive files due to hooks. Code added for the hooks serialization can be found here #49545

cc @gmagogsfm

[2021-01-11 19:05] albanD commented on #50382
Thanks for the report!
I don't think this is high pri (and agree with the labelling) as these out variants don't support autograd and computing a loss and not computing gradients is a fairly niche use case.
But we should definitely fix that if we can.

[2021-01-11 19:07] albanD commented on #50224
Closing this as there seems to be a consensus.
Feel free to re-open if there is a strong argument against it!

[2021-01-11 19:07] #50224 closed

[2021-01-11 19:08] Lilyjjo opened #50386 "Static hook serialization: remove #ifndef CAFFE2_FBCODE 3/15/2021"
Remove two `#ifdef CAFFE2_FBCODE` in pytorch/torch/csrc/jit/api/module_save.cpp added in #49544

Added for forward compatibility concerns.

cc @gmagogsfm

[2021-01-11 19:32] ppwwyyxx commented on #50224
Thanks for the feedbacks! Actually I think the behavior of `torch.mean` is only loosely relevant because no law says `F.cross_entropy` has to use `torch.mean` in the end. I think it is relevant, only in the sense that the name is similar, so an inconsistency will surprise users.

That reminds me of what tensorflow did - they just call it something else, a new `SUM_OVER_BATCH_SIZE` mode: https://ww

[2021-01-11 19:37] jbschlosser commented on #38115
@v0dro FYI it looks like tests for `nn.Embedding` and `nn.EmbeddingBag` are missing from the list above.

[code]

First one succeeds and second one segfaults for me.

[2021-01-11 19:51] rgommers commented on #45051
Not that I know of. The "needs research" label basically means "unclear what to do". Adding more detail would be useful. Like, does it actually need to be a Python-level object? That is unlikely to be accepted, because it cannot be implemented on a GPU. So why use PyTorch over NumPy here?

[2021-01-11 19:55] vadimkantorov commented on #31829
Would you like to copy-paste there the examples/test cases from my OP here? So that they are not forgotten

[2021-01-11 20:01] zou3519 commented on #50379
We removed potrf in PyTorch 1.2: https://github.com/pytorch/pytorch/releases/tag/v1.2.0. Please use torch.cholesky instead

[2021-01-11 20:13] kurtamohler commented on #50214
@mruberry, your suggestion makes sense. `torch.linalg.norm` could just simply route directly to `at::linalg_vector_norm` (the at:: implementation of `torch.linalg.vector_norm`) when its vector norm conditions are met. This would require `at::linalg_vector_norm` to offer a `dim` argument, since `torch.linalg.norm` offers the ability to calculate vector norm across just one dimension of an n-dimensi

[2021-01-11 20:15] SsnL commented on #50378
`torch.logits` is really binary logits.

[2021-01-11 20:19] mruberry commented on #50214
It's true that linalg.norm could route to linalg.vector_norm when it was computing a vector norm. But I was thinking even more fine-grained like: _matrix_two_norm, _matrix_neg_two_norm, _vector_zero_norm ... These functions don't need to be exposed to users. This might be more readable.

[2021-01-11 20:21] BowenBao commented on #50195
hi @xysmlx, thanks for reporting. I couldn't repro this issue in latest pytorch master, it seems it is already resolved. Please try with pytorch-nightly, and feel free to reopen if the issue persists.

[code]

output:
[code]

[2021-01-11 20:21] #50195 closed

[2021-01-11 20:49] ngimel commented on #50214
All vector norms and frobenius norm are implemented in the same way, via reduction. For matrix norm indeed splitting into separate functions might make sense, but even with that I'd leave  +/-inf and +/-one matrix norm in the same function, they share a lot of implementation. That leaves nuclear norm and +/-2-norms that could also live together because they both rely on first computing svd. Questi

[2021-01-11 20:51] ptrblck commented on #50354
I cannot reproduce this issue after adding the warmup iterations via the for loop or by calling `time(model, x)` once before the profiling (I would nevertheless recommend to use a few iterations for warmup and the actual profiling).
On a TitanV I get using the `1.7.1` binaries with CUDA11.0:
Without warmup:
[code]
With warmup:
[code]

[2021-01-11 20:55] ngimel commented on #50354
Please use torch Timer utilities with blocked_autorange, they take care of warmup and synchronization https://pytorch.org/docs/master/benchmark_utils.html?highlight=timer#torch.utils.benchmark.Timer

[2021-01-11 20:56] #47671 closed

[2021-01-11 21:07] kurtamohler commented on #50214
Got it, that makes sense. Although I'm not too sure if we should separate the vector norm orders into `_vector_zero_norm` and so on, because that would make it necessary to duplicate the logic for selecting the appropriate vector norm order in both `at::linalg_norm` and `at::linalg_vector_norm`. Would it make more sense to just have a `_vector_norm` to encapsulate this logic?

Also, if I understan

[2021-01-11 21:10] zou3519 commented on #50375
Are we talking `vector<Tensor*>`? Isn't a `Tensor` already a pointer?

[2021-01-11 21:12] kurtamohler commented on #50214
@ngimel, you're right, frobenius norm is the same as a vector 2-norm, so it should share the same implementation as vector norm.

[2021-01-11 21:18] jamesr66a opened #50397 "[FX] FX tracing obfuscates call provenance when scripting"
[code]

Notice in the error message the line `'foo_wrapper' is being compiled since it was called from 'GraphModuleImpl.forward'`. It would be better if we could provide some better information about debugging, since `GraphModuleImpl` isn't very informative

[2021-01-11 21:47] aktaseren commented on #50379
Thank you. It worked now.

[2021-01-11 21:47] #50379 closed

[2021-01-11 21:49] aktaseren opened #50401 "AssertionError: Torch not compiled with CUDA enabled"
## 🐛 Bug

[code]

AssertionError: Torch not compiled with CUDA enabled

I am having the issue above while I run a script run by pytorch. I am using MacOS BigSur the latest version. My PyTorch version is 1.7.0. What do you suggest me to solve it?

cc @ngimel

[2021-01-11 21:54] nSircombe commented on #48177
Hi,

Sorry for the delayed response - I've raised a PR (https://github.com/pytorch/pytorch/pull/50400).
At present this doesn't include any benchmarking details. This minimal change is intended to simply enable AArch64 builds with oneDNN, leveraging the library's C++ reference kernels. Recent oneDNN releases provide the capability to use primitives based on Arm Compute Library with the specific go

[2021-01-11 22:08] #46341 closed

[2021-01-11 23:09] carlosgmartin opened #50402 "ValueError: optimizer got an empty parameter list"
## 🐛 Bug

## To Reproduce

[code]

raises

[code]

## Expected behavior

Sometimes models happen to have no PyTorch parameters (perhaps through an automated construction or modification process). They should be treated [uniformly](https://github.com/pytorch/pytorch/issues/4582#issuecomment-755944010), not as a special case.

## Environment

[code]

[2021-01-11 23:29] heitorschueroff commented on #50285
The purpose of einsum_path is to save the contraction order to reuse in multiple calls of einsum. However, the time to compute the einsum_path is likely to be insignificant compared to the time to actually compute einsum. We could start by just adding the optimize parameter until someone requests einsum_path.

[2021-01-11 23:30] BowenBao commented on #50365
Hi @YongHuangSJTU, could you check which PyTorch version you are using? Your description shows both `PyTorch version: 1.4.0+cpu` and `[pip3] torch==1.7.1`.
I'd recommend using the latest release. I tried with your script in latest master, and it exported fine.

[2021-01-11 23:34] brthor commented on #49394
@mruberry

I can observe OOM by leaving `buf_size` constant and varying `repro_tensor_allocations` between runs of the script. I do not fill the deque after its buffer is full.

Increasing `repro_tensor_allocations` to a high enough value (like 8 for 32gb RAM) causes OOM in the non-fixed version of the script.

Increasing `repro_tensor_allocations` only changes the number of `torch.as_tensor()` ca

[2021-01-12 00:14] feynmanliang opened #50404 "HalfCauchy does not respect _validate_args"
## 🐛 Bug

The `validate_args` argument to a `torch.distribution.Distribution`'s constructor should enable support checking for a distribution. This works fine for Beta and Bernoullii distributions, but `HalfCauchy` does not throw a run-time exception when support checking fails.

## To Reproduce

When I run `torch.distributions.HalfCauchy(1.0, validate_args=True).log_prob(torch.tensor(-1))`, no ru

[2021-01-12 00:18] kvpratama commented on #45769
yes, set cudnn.benchmark to false work for me. thanks!

[2021-01-12 00:38] #50188 closed

[2021-01-12 00:39] #48415 closed

[2021-01-12 00:56] BowenBao commented on #50348
hi @pfeatherstone, `group` by ONNX Conv spec is an attribute, which means it's value has to be fixed at export time. Thus the error message. Make the following update then the model exports fine.
[code]

[2021-01-12 00:57] vadimkantorov commented on #50345
Many of these funcions like softmax / log1p / round may be of more common use in PyTorch than they were originally in SciPy. Will this mean deprecating them in torch namespace and having to add everywhere import torch.special ?

We already have F.softmax, torch.softmax - a lot of confusion about torch.* versions and F.* verisons...

[2021-01-12 01:07] #49044 closed

[2021-01-12 01:33] neginraoof commented on #44120
Hi @janeyx99 and @malfet
Thanks for sending the updates to code coverage tool.
These updates have helped including Caffe2 tests, but we're still seeing ONNX test not covered by the tool.
Here is an example of code coverage report for ONNX on @janeyx99 's PR: https://codecov.io/gh/pytorch/pytorch/compare/a49367e9c9fcfa9547782420a24441f13fef19dc...544f1274d9fe5b2a28e5f45d2896962e9e3a2e49/tree/torch/

[2021-01-12 01:45] mingfeima commented on #50042
@vpirogov please take a look!

[2021-01-12 01:49] nrlugg commented on #50258
Thanks @zhangguanheng66 -- that's exactly the kind of paradigm I was thinking of! I didn't realize `torchtext` had the `MultiheadAttentionContainer`.

Would it be of interest to expand that kind of `*Container` paradigm in `torchtext` to the rest of the Transformer?  Or of interest to start including specific implementations of attention?

[2021-01-12 01:53] zhangguanheng66 commented on #50258
@nrlugg If you like, you can open an issue in torchtext and describe the features you needs. We can start from there.

[2021-01-12 01:55] nrlugg commented on #50258
Will do 👍

[2021-01-12 02:05] skyline75489 commented on #50401
The error message is clear. You’re not using a PyTorch with CUDA support.

[2021-01-12 02:27] peterjc123 commented on #50371
Also related: https://github.com/pytorch/pytorch/issues/11004

[2021-01-12 02:28] peterjc123 commented on #50232
@janeyx99 Ok, I will do that when cudnn for cuda 10.2 is out.

[2021-01-12 02:30] jiaxiangshang commented on #31285
@GuanhuaWang Hi guanhua,
I have the same env with V100, do you have any suggestions except building from source?
Really thanks for your help.

[2021-01-12 02:38] ain-soph opened #50415 "[doc template bug] fix bug of search.html"
## 📚 Documentation

Duplicate of https://github.com/pytorch/pytorch_sphinx_theme/pull/88. But it seems the maintainers haven't replied after 3 weeks, so I move it to the main pytorch repo.

The `search.html` in this repository is already out of date because of the Sphinx 3.4.0 update.
In [issue 8419](https://github.com/sphinx-doc/sphinx/issues/8419) (with [pull request 8445](https://github.com/sph