[2022-04-02 11:38] vadimkantorov commented on #75143
try newer versions. maybe same reason as https://github.com/pytorch/pytorch/issues/67839?

[2022-04-02 17:11] vadimkantorov commented on #75145
BatchNorm / GroupNorm are typically fused with an affine transform, so `weight` / `bias` are for this post-normalization affine transform. Affine transform can be disabled IIRC by setting `affine=False` in constructor args

[2022-04-02 17:18] vitrioil commented on #71636
@gchanan should this be fixed? It is specific to int and not float. Removing `to(self.options)` does solve the inconsistency between float/int.

[2022-04-02 17:37] zikpefu commented on #74303
Hey everyone, I believe that I completed the code but I am unable to push my local branch to as a remote branch, do I need permission or should I have forked the repo?

[2022-04-02 18:00] KimbingNg opened #75147 "Dataloader hangs. Potential deadlock when creating subprocess?"
### 🐛 Describe the bug

## 🐛 Bug ?

I have a main process running with pid `52422`. Sometimes it get stucked when iterating over my dataloader with `num_workers > 0` during training.

The threads of the main process:
[code]
[code]
It has 4 subprocess (`26345`, `26346`, `26347`, `26351`). One of them  (`26346`) is getting blocked at the `pthread_mutex_lock` call, and the others are stucked at `poll

[2022-04-02 18:14] KimbingNg commented on #75147
Interestingly, when I interrupt my main process with`kill -INT 52422`,  the process does not terminate, and it is able to run again.

[2022-04-02 18:16] zikpefu commented on #74303
Nevermind I figured it out

[2022-04-02 19:00] 0x00b1 commented on #74839
Hi, @albanD! 😀

Root-finding, from my perspective, is a fundamental, general-purpose optimization method (rather than a specialized scientific computing method). I appreciate others may see this differently! My issue was motivated by practice (i.e., repeatedly encountering this shortcoming). I am proposing the inclusion of one (or more) generic operations that provide a foundation for specialized,

[2022-04-02 19:02] 0x00b1 commented on #74839
Let me know if I can help! (I have also been casually writing about these issues on my private workspace.)

[2022-04-02 19:13] 0x00b1 commented on #74839
For sure. The JAX community is doing great work around these issues. However, I’ve been really impressed with the PyTorch team’s work on two major projects: torch.linalg and torch.distributions. In fact, I’ve been so impressed they’ve completely changed my thinking.

Previously I believed PyTorch shouldn’t expand the namespace much further and would benefit from getting functionality like linear a

[2022-04-02 19:31] dibgerge commented on #74016
A basic example using the `dataloader` is giving me the error:

[code]

Gives output

[code]

[2022-04-02 20:07] ketangangal commented on #75144
Hello @howtoblind,

I tried to reproduce this issue but for me torch with python version 3.10.0 is working fine.

`
import torch
import os

os.system('python --version')
print(torch.tensor([1, 2, 3, 4]).float())

`
![image](https://user-images.githubusercontent.com/40850370/161399416-76fcb58a-909e-4ac0-9750-478f5801e666.png)

[2022-04-03 00:55] Karuso33 opened #75153 "TLS certificate of download.pytorch.org is expired"
The TLS certificate that is used, for example, at https://download.pytorch.org/whl/torch_stable.html is expired as of right now.

cc @ezyang @gchanan @zou3519

[2022-04-03 01:01] fukatani commented on #75153
I found certificate of https://download.pytorch.org/whl/cpu has also expired.

[2022-04-03 02:44] FrederickGeek8 commented on #75153
The entire domain is affected so all `download.pytorch.org` URLs are down.
<img src='https://discuss.pytorch.org/uploads/default/optimized/3X/e/4/e4586d0f0b039514e5cffc2b5ddb8a415b00ff2b_2_1012x1000.png' width='500' alt='Screenshot of TLS cert' />

[2022-04-03 03:25] danton721 commented on #33288
it happened, https://download.pytorch.org/ seems to have invalid certificates again

[2022-04-03 03:29] knimet commented on #33288
same issue

[2022-04-03 03:33] MSFTserver commented on #75153
All https urls are down, you can alternatively install manually and use http links, if you do need to get it running for whatever reason

[2022-04-03 05:21] shengkunc commented on #33288
hit the same now

[2022-04-03 05:24] KimbingNg commented on #75147
I believe the cause of the issue is that one of the worker processes hangs at this line:
https://github.com/pytorch/pytorch/blob/ad028e5e09d5ddffee63c49b723594a84b8a90e4/torch/utils/data/_utils/worker.py#L216 forever, where it tries to obtain a locked mutex.

[code]

[2022-04-03 05:40] johnowhitaker commented on #75153
This is quite a high priority - a lot of code relies on these pretrained models and users doing something like
`import torchvision.models as models`
`m = models.vgg16(pretrained=True)`
Are going to hit the error and have no easy way to fix it.

[2022-04-03 05:45] Binxly commented on #75153
A quick fix before their renewal rolls out, from using @The Comet Is Coming in the discord
Add a cell above Cell 2, and paste in the following, using the URL for the model with HTTP, instead.
`!wget -O /root/.cache/torch/hub/checkpoints/vgg16-397923af.pth http://download.pytorch.org/models/vgg16-397923af.pth`

[2022-04-03 05:45] edward-chalon commented on #33288
same issue as well

[2022-04-03 06:07] attafosu commented on #36461
Not sure if anyone is facing a similar issue, but I had to "clone" the tensor after calling "from_blob":

`torch::Tensor input_tensor = torch::from_blob(data, {N,C,HW}).clone()`

Apparently "from_blob" does not take ownership of the data, and whatever owns the data (I had cv::Mat) may screw with it.
Saw this from here: https://stackoverflow.com/questions/63076312/how-to-populate-torchtensor-with-c

[2022-04-03 06:13] soumith commented on #75153
@seemethere has just issued new certs. might take a sec to propagate through

[2022-04-03 06:29] soumith commented on #75153
fixed should be live now (I see it resolve correctly in an incognito window or with a cache-cleared browser)

[2022-04-03 06:29] #75153 closed

[2022-04-03 06:30] soumith commented on #75153
apologies for this. @seemethere will do an internal postmortem next week and put better processes in place for this to not break

[2022-04-03 08:01] azrael417 commented on #75031
I experimented a bit and I think I got it to work. Afaics, the return value of these callbacks needs to be tensors, so I am returning bucket.buffer() in model_copy and nut.value()[0] in model_reduction. Is that a correct approach? Afaics, bucket.buffer() is modified inplace in the model copy op and the first future, so I can safely return it and assume it has the updated grads, correct?

[2022-04-03 10:38] wayi1 commented on #74907
Vectorization of matrix multiplications in this proposal is indeed a good optimization for PowerSGD.

I tried it in the initial PoweSGD implementation, but in my target use case I didn't see many neighboring tensors that have the same shape, so didn't spend time on such optimization. Please go for it if it will work for your use case.

On the other hand, increasing DDP allreduce bucket size can be

[2022-04-03 15:36] bjborder opened #75158 "Offical libtorch (pytorch c++ frontend) docker image"
### 🚀 The feature, motivation and pitch

Would it be possible to provide an official libtorch docker image mirorring the official pytorch image? This would lower the barrier to getting setup and deploying applications using libtorch, particularily becuase libtorch is not distributed with any package manager.

I noticed that images are [already created](https://github.com/pytorch/builder/tree/main/

[2022-04-03 17:19] lapp0 commented on #22259
I resolved this by rebuilding my entire container. Please make sure the pytorch nccl and system nccl version numbers are the same, they were different for me which may have been the cause of my issue:

[code]

[2022-04-03 17:54] rohan-varma commented on #75031
Yes, bucket.buffer() should be modified in place if it is passed to allreduce().

And similar to as you mentioned, I think you're returning something as a Future[Future[Tensor]] but the API needs to return a Future[Tensor].

[2022-04-03 18:23] MagiaSN commented on #74907
Thanks for your reply, we have tested DDP with (pytorch implementation) and without (custom implementation) computation / communication overlap, and found no significant difference in our 11B model training, thus we just disabled the bucket mechanism and found the proposed improvement quite helpful. I have opened a pull request #75157

[2022-04-03 21:13] anjali411 commented on #71446
@Hanrui-Wang any updates?

[2022-04-04 00:16] mruberry commented on #75144
Make sure `t` requires a gradient.

[2022-04-04 00:16] #75144 closed

[2022-04-04 00:28] mruberry commented on #75143
Check appears to be working properly now, as @vadimkantorov mentions.

[2022-04-04 00:28] #75143 closed

[2022-04-04 00:37] mruberry commented on #75093
cc @mikaylagawarecki

[2022-04-04 00:43] mruberry commented on #75018
cc @to-mi @albanD

[2022-04-04 01:26] #74122 closed

[2022-04-04 01:39] nkaretnikov commented on #73187
the pr was reverted, reopening

https://github.com/pytorch/pytorch/pull/74635

[2022-04-04 02:09] mruberry commented on #68742
@janeyx99 We should get its creators to comment before proceeding

[2022-04-04 02:44] ezyang opened #75166 "Disable Python mode (torch dispatch mode) inside of mode-induced __torch_dispatch__call"
### 🚀 The feature, motivation and pitch

When working with Python modes it is very easy to trigger infinite recursion, since most calls to any PyTorch function will end up back in the `__torch_dispatch__` for the mode. This makes, e.g., debug printing a pain, since you have to `no_dispatch` first.

I propose that we should switch the default around: by default, when we enter a `__torch_dispatch__`

[2022-04-04 03:01] sunnyfree0402 opened #75167 "Exporting the operator amax to ONNX opset version 9 is not supported"
Call:
`torch.onnx.export(...)`
`x_max = torch.amax(x, dim=self.dim, keepdim=self.keepdim)`

Error:
`RuntimeError: Exporting the operator amax to ONNX opset version 9 is not supported. Please feel free to request support or submit a pull request on PyTorch GitHub.`

[2022-04-04 03:26] janeyx99 opened #75168 "DISABLED test_reduce_full_group_max (__main__.TestDistBackendWithSpawn)"
Platforms: mac

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_reduce_full_group_max%2C%20TestDistBackendWithSpawn)).

I just looked into why flaky test bot didn't catch this, and it looks like the upload test stats step failed due to missing permissions. Where are the instructions to add the lambda invokefunction permission to the runner

[2022-04-04 03:33] janeyx99 opened #75169 "ROCm test reports not found"
### 🐛 Describe the bug

In CI, we currently cannot collect test reports for ROCm. This means that we cannot analyze stats for ROCm workflows and thus miss out on a variety of features, including:
- Having a test history for ROCm (was a test always skipped or never run, etc)
- Allowing us to debug flakiness that spans overtime
- Automatically disabling flaky tests based on the stats collected autom

[2022-04-04 04:29] nkaretnikov commented on #71673
opened a pr: https://github.com/pytorch/pytorch/pull/75170#issuecomment-1087102930

[2022-04-04 04:31] liuxingbaoyu opened #75171 "torch.jit.load fails when path contains non-ascii characters"
### 🐛 Describe the bug

https://github.com/openai/CLIP/pull/227

`torch.jit.load` fails when path contains non-ascii characters

[code]

[code]

Related issues: https://github.com/pytorch/pytorch/issues/47422

### Versions

PS C:\Users\流星暴雨\AppData\Local\Programs\Python\Python39\Lib\site-packages\torch\utils> python collect_env.py
Collecting environment information...
PyTorch version: 1.8.2+cu102

[2022-04-04 05:02] ngimel commented on #75025
cc @ptrblck

[2022-04-04 05:56] PetrochukM commented on #72643
It'd be awesome to have this available in PyTorch!!

[2022-04-04 06:04] ptrblck commented on #75025
@QuiteAFoxtrot I think this is expected behavior based on the [Initialization section](https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#initialization) of the same linked docs.
In particular these section might be relevant:

If a context is created and made current via the driver API, subsequent runtime calls will pick up this context instead of creating a new one.
If the runtime i

[2022-04-04 06:26] yzs981130 opened #75172 "Runtime configuration to disable TORCH_WARN temporally?"
### 🚀 The feature, motivation and pitch

I'm working on an older version of PyTorch and would like to disable an annoying `TORCH_WARN`

https://github.com/pytorch/pytorch/blob/631f0351313da2edeeb72cf8bb963035b11425d9/c10/util/Exception.h#L518-L530

temporally, which has already been merged into master. I wonder if it is possible to add a switch to adjust the log level at runtime?

There are also o

[2022-04-04 06:27] timmywanttolearn commented on #74734
Sure, I use uniform quantization. And I need to send some 16bits int tensors

[2022-04-04 06:27] timmywanttolearn commented on #74734
Sure, I use uniform quantization. And I need to send some 16bits int tensors

[2022-04-04 06:42] thomasahle opened #75173 "LowRankMultivariateNormal doesn't work with 0 diagonal"
### 🐛 Describe the bug

According to the documentation, the LowRankMultivariateNormal (from `torch.distributions.lowrank_multivariate_normal`) takes two parameters `cov_factor` and `cov_diag` and samples from the MultivariateNormal with `covariance_matrix = cov_factor @ cov_factor.T + cov_diag`.
It seems clear from this definition that we should be able to take `cov_diag = torch.zeros(...)` and ev

[2022-04-04 07:06] RachitBansal commented on #33288
Yes, facing the same issue while downloading ```resnet50```.
@adityasaini70's solution still works.

[2022-04-04 07:37] OlofHarrysson commented on #69078
I'm getting this problem too. It seems like disabling the jit optimizations via an undocumented context manager fixed this issue.

[code]

[2022-04-04 10:07] qouteall opened #75177 "[Libtorch C++] `torch::save` crash if the folder is not created"
### 🐛 Describe the bug

example
[code]
If the folder `aaa` does not exist then it will crash. The correct behavior should be logging error message or creating the folder.

### Versions

Libtorch 1.11.0 (for cuda 11.3)
MSVC2019

cc @ezyang @gchanan @zou3519 @jbschlosser @mruberry

[2022-04-04 11:06] bourne-3 opened #75179 "REPRODUCIBILITY about torch_geometric of Gat"
### 📚 The doc issue

I encounter the problem about REPRODUCIBILITY.  Each time i run model trainning and then evaluate, the result show different even the seed had been set.
That is confuse me a lot.
Pre
1、i have set the seed to accordding to the post
like below
[code]

2、already read the doc https://pytorch.org/docs/stable/notes/randomness.html
The cuda of mine is 11.4 , GPU is RTX A4000
so i set

[2022-04-04 11:46] IvanYashchuk opened #75180 "Add BUILD_LAZY_CUDA_SPARSE option"
### 🚀 The feature, motivation and pitch

Recently linear algebra functions gained support to be loaded dynamically (https://github.com/pytorch/pytorch/pull/73447) this change reduces CUDA context size when cuSOLVER and MAGMA are not used in PyTorch programs. We should add the same feature for the cuSPARSE library.

### Alternatives

_No response_

### Additional context

_No response_

[2022-04-04 11:56] HKEa opened #75181 "pytorch 1.11 cross entropy loss returns nan with ignore index labels"
### 🐛 Describe the bug

import torch
import torch.nn as nn

t=torch.tensor([[1,2,3.]])
l=torch.tensor([-1])
loss=nn.CrossEntropyLoss(ignore_index=-1)
loss(t,l)

### Versions

NGC  nvcr.io/nvidia/pytorch:22.02-py3 image

PyTorch version: 1.11.0a0+17540c5
Is debug build: False
CUDA used to build PyTorch: 11.6
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.3 LTS (x86_64)
GCC version: (Ubuntu 9.3.0

[2022-04-04 12:35] to-mi commented on #75018
My (non-expert) analysis of this: There was a backwards-incompatible change to `grid_sampler_2d_backward` in PyTorch 1.11.0 (it now takes in the grad mask to possibly avoid computing unnecessary gradient for the input) and the stylegan3 code is calling this function directly. The commits for this change are here: https://github.com/pytorch/pytorch/commits?author=to-mi&since=2021-09-30&until=2021-1

[2022-04-04 13:13] pearu opened #75182 "libfb dependency breaks pytorch build"
https://github.com/pytorch/pytorch/pull/75176 adds libfb dependency:

https://github.com/pytorch/pytorch/blob/152489a8cf56eb40c9e0a6f7deb6af515f2cc46e/tools/pyi/gen_pyi.py#L14

that breaks pytorch build:
[code]

I could not find the origin of the libfb package. Is this a Meta internal thing?

cc @malfet @seemethere

[2022-04-04 13:40] bogan-FMA opened #75184 "PyTorch source code compile fail after "Built target fbgemm_avx2""
### 🐛 Describe the bug

configuration:

-- Will link against OpenMP libraries: /opt/rh/devtoolset-7/root/usr/lib/gcc/x86_64-redhat-linux/7/libgomp.so;/lib64/libpthread.so
-- Found CUDA: /usr/local/cuda (found version "10.2")
-- Caffe2: CUDA detected: 10.2
-- Caffe2: CUDA nvcc is: /usr/local/cuda/bin/nvcc
-- Caffe2: CUDA toolkit directory: /usr/local/cuda
-- Caffe2: Header version is: 10.2
-- Found

[2022-04-04 13:48] albanD commented on #75182
It got reverted, you can pull master again.
Thanks for the report!

[2022-04-04 13:48] #75182 closed

[2022-04-04 13:55] zou3519 commented on #75166
To check my understanding, this would disable just the current mode, not all modes, right?

Printing logic should probably do a no_dispatch at the very top (or there should be a way for _tensor_str to be overridden by Tensor subclasses), otherwise, things go through the default _tensor_str

[2022-04-04 13:59] mruberry commented on #75179
Duplicate of https://github.com/pytorch/pytorch/issues/50469

[2022-04-04 13:59] #75179 closed

[2022-04-04 14:13] mruberry commented on #46302
The file in question has been updated; the few cases where this happens can probably be tracked as separate bugs.

[2022-04-04 14:13] #46302 closed

[2022-04-04 14:19] #54352 closed

[2022-04-04 14:26] #63494 closed

[2022-04-04 14:26] #64386 closed

[2022-04-04 14:28] Leoooo333 opened #75185 "RuntimeError: falseINTERNAL ASSERT FAILED"
### 🐛 Describe the bug

RuntimeError: falseINTERNAL ASSERT FAILED at "../aten/src/ATen/MapAllocator.cpp":263, please report a bug to PyTorch. unable to open shared memory object </torch_621231_0> in read-write mode

### Versions

1.10.0+cu113

[2022-04-04 14:32] xkszltl opened #75186 "Failed to build `convert_and_benchmark.cc` due to missing `net_observer_reporter_print.h`."
### 🐛 Describe the bug

[code]

### Versions

master

cc @ezyang @gchanan @zou3519

[2022-04-04 14:34] mruberry commented on #69464
The above issues have been addressed.

[2022-04-04 14:34] #69464 closed

[2022-04-04 14:34] ezyang commented on #75166
Yes; or more precisely, we would simply remove the mode from the mode stack. When there is only one mode (as in the current implementation), it would simply turn off the mode entirely.

[2022-04-04 14:49] ejguan commented on #75185
This has been resolved by #https://github.com/pytorch/pytorch/pull/72232. Please try to use new pytorch release or nightly.
Feel free to re-open it if the problem persists.

[2022-04-04 14:50] #75185 closed

[2022-04-04 15:01] albanD commented on #75166
I think this is a good idea.
The way I see it for modes, there are two ways to go:
- It is disabled by default when it is handled (this proposal) and the user have to explicitly re-enable it if they want it again.
- Nothing is done by default and the user has to disable this mode while handling to avoid infinite recursion (no_dispatch is NOT the same as this, this disables only the mode, we don't

[2022-04-04 15:05] albanD commented on #75104
Hi,
Thanks for the report, could you send a small PR fixing that?

[2022-04-04 15:06] albanD commented on #75145
Hi,

We use github issues only for bugs or feature requests.
Please use the forum to ask questions: https://discuss.pytorch.org/

The answer from Vadim above is accurate for your question.

[2022-04-04 15:06] #75145 closed

[2022-04-04 15:11] albanD commented on #75018
We did change this function is an non BC-compatible way. But this function is not exposed via public API. The stylegan repo uses the internal `torch._C._jit_get_operation` to be able to access it.
I feel like the best would be to update the stylegan code to pass in the new argument (read from `ctx. needs_input_grad`).

[2022-04-04 15:21] #73187 closed

[2022-04-04 15:45] Lezcano commented on #72204
I believe this one should be fixed, right @nikitaved ?

[2022-04-04 16:02] nikitaved commented on #72204
I think so, yes.

[2022-04-04 16:02] #72204 closed

[2022-04-04 16:06] yujianll commented on #75093
Thanks!

[2022-04-04 16:15] cpuhrsch commented on #75181
@HKEa - thank you for submitting the issue! Could I also ask you what the expected behavior is?

[2022-04-04 16:15] janeyx99 commented on #68742
@mruberry Who are the creators?

[2022-04-04 16:23] MR-hyj commented on #75145
I'm sorry for causing you any trouble. I'm deleting this issue. :)

[2022-04-04 16:30] HKEa commented on #75181
Prior to 1.11 the returned loss is 0

[2022-04-04 16:36] stas00 opened #75198 "`get_device_name` fails to identify RTX 3090 Ti"
### 🐛 Describe the bug

I have 2 cards:
0 - RTX 3090 Ti
1 - RTX 3090

as you can see the first one doesn't get properly identified
[code]

### Versions

PyTorch version: 1.11.0
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used to build PyTorch: N/A

OS: Ubuntu 21.10 (x86_64)
GCC version: (Ubuntu 10.3.0-11ubuntu1) 10.3.0
Clang version: 13.0.0-2
CMake version: version 3.21.3
Libc vers

[2022-04-04 17:02] ejguan commented on #75186
Adding to triage review to discuss the POC for the files in binaries folder. And, it seems that a few files in this folder have not been touched for multiple years.

[2022-04-04 17:07] ezyang commented on #74935
I am conceptually OK with ChannelsLast1D. I am very unhappy with the bitfield situation. I agree that absent any refactoring, we should do Proposal 2.

[2022-04-04 17:07] albanD commented on #75177
Adding an error message sounds like the right way to fix this (note that we already have this in python).
We would accept a PR adding it for the c++ API code.

[2022-04-04 17:08] mruberry commented on #50469
cc @cpuhrsch @mikaylagawarecki

[2022-04-04 17:08] cpuhrsch commented on #75181
@HKEa - Makes sense and I'm also able to reproduce this. Could I also ask you why you need this behavior? In both cases all targets have been ignored.

[2022-04-04 17:10] ezyang commented on #50469
The last time we discussed it was here: https://github.com/pytorch/pytorch/issues/72831

Now we have a use case. Someone should implement it.

[2022-04-04 17:11] mruberry commented on #74839
Root-finding functionality is certainly interesting! At this time we'd like to suggest it be implement in its own library on top of PyTorch, however. In the future we may want to make a larger investment in an optimize-like module for PyTorch Core, though.

[2022-04-04 17:12] Lezcano commented on #74839
I believe xitorch implements this: https://github.com/xitorch/xitorch

[2022-04-04 17:16] albanD commented on #74935
For reference, the RFC from the repo: https://github.com/pytorch/rfcs/pull/42

[2022-04-04 17:18] mruberry commented on #74935
Thank you for the detailed RFC. The Core team isn't pursuing additional channels last memory format support at this time, however, and may not be available to review related PRs. We think it would require adding numerous kernels to provide this kind of support properly.

[2022-04-04 17:19] mruberry commented on #74485
Motivated by a principal of Python consistency, even though this is a private object we prefer `dir` work on it. It would make enumerating functions in the PyTorch API easier, for example.

[2022-04-04 17:21] mruberry commented on #74798
We would like to update miniz and should pick a tag in the miniz repository to update to with this fix (if available) or wait until one one is available.

[2022-04-04 17:24] malfet commented on #74473
Removing high priority, @atalman can you please make sure to add test to prevent those regressions from happening in the future?

[2022-04-04 17:31] edwardjhu commented on #74143
@cbalioglu Thanks! I just asked to be added to torch slack since I don't use FB. Will reach out to you over there once I get in.

[2022-04-04 17:40] mruberry commented on #68742
@zou3519?

[2022-04-04 18:01] janeyx99 commented on #74132
Can you close this once the documentation here is up to date? https://github.com/pytorch/pytorch/wiki/Continuous-Integration#how-to-test-the-disabled-test-on-ci

Things to mention:
- PR_BODY doesn't work for push-triggered CI (so anything not prefixed with pull or lint)
- the test will be disabled if ANY of the commit messages contains a fix #blahhhh

[2022-04-04 18:05] zou3519 commented on #68742
I agree it should be deprecated in favor of the new profiling techniques. I don't know what the recommended API to use now is so I won't be very helpful in writing a deprecation message.

A cursory search through GitHub shows that there are folks using it: https://github.com/search?l=Python&p=2&q=torch.utils.bottleneck&type=Code so we should do a deprecation cycle instead of removing it entirely i

[2022-04-04 18:29] #74132 closed

[2022-04-04 18:33] ronghanghu commented on #74424
Hi @mikaylagawarecki, I wonder if there is an update or an ETA on this issue? It has been blocking our use cases for quite a while, so it would be great if there can be a timeline on this. Thank you!

[2022-04-04 18:38] HKEa commented on #75181
Yes, let say this CE loss is only one of many, instead of not changing the
general loss, it turns it to nan, even if autograd behaviour doesn't change
it mess up the logs
Thank you for the brief reply
Appreciate it.
Haim

On Mon, Apr 4, 2022, 20:08 cpuhrsch ***@***.***> wrote:

[2022-04-04 18:38] mikaylagawarecki commented on #74424
Hi, @ronghanghu I'm sorry for the delay, will push a PR for this today

[2022-04-04 18:43] ronghanghu commented on #74424
@mikaylagawarecki Sounds great, thanks!

[2022-04-04 18:45] #75104 closed

[2022-04-04 19:21] cpuhrsch commented on #75181
@HKEa - I see, so you're logging a running average (or such) of your loss and every once in a while end up with a datapoint without any target. Because CE loss returns `nan` now it screws up that running average whereas previously it just added 0 to it?

[2022-04-04 19:28] rohan-varma commented on #74162
@siaimes Can you provide a script that reproduces an error this might cause?

[2022-04-04 19:47] H-Huang opened #75213 "Improve wording in _store_based_barrier logging and identify ranks that have not joined"
🚀 Feature
To better debug the stuck ranks that have not reached `_store_based_barrier()`. We can think about recording the ranks that have not called into the function and logging those.

Currently, while ranks are waiting for all workers to call into `_store_based_barrier`, they log
[code]

see: https://github.com/pytorch/pytorch/blob/cda3f586d0b1189c5c4175a503f99f374d1fcce2/torch/distributed/dis

[2022-04-04 20:02] rohan-varma opened #75215 "Document bfloat16 support"
### 📚 The doc issue

torch.distributed and applications such as DDP can only support bfloat16 data type with NCCL process group when NCCL version is >= 2.10.3, as previously NCCL did not support this datatype. We should document this as such.

### Suggest a potential alternative/fix

_No response_

[2022-04-04 20:22] henrytwo opened #75217 "Storing LTC tensor shape information in jit::Value"
### 🚀 The feature, motivation and pitch

Currently, a `jit::Value` contained in a graph generated by the TorchScript LTC backend contains no tensor shapes; however, `lazy::Value` from each `lazy::Node` _does_ contain this information. It would be beneficial to propagate this data all the way through to JIT.

It looks like `jit::Value`s are generated [here](https://github.com/pytorch/pytorch/blob/5

[2022-04-04 20:23] ezyang opened #75218 "tree_map doesn't work over return_types"
### 🐛 Describe the bug

[code]

This prints `None`.  I expected to get `torch.return_types.cummin(values=None, indices=None)`

cc @zou3519

### Versions

master

[2022-04-04 20:24] zou3519 commented on #75218
We have a fix for this in functorch, we just need to upstream it to pytorch/pytorch

[2022-04-04 20:27] ezyang commented on #75172
Err, what version of PyTorch are you on?

The warnings are supposed to go to Python and you can filter them out using the normal mechanisms in warnings. Does that help?

[2022-04-04 20:28] zou3519 opened #75219 "convolution forward-over-reverse mode AD fails for certain inputs"
### 🐛 Describe the bug

There are two problems:
1. There is most likely a bug in convolution's forward-over-reverse formula
2. PyTorch's forward-over-reverse testing is not sufficient (it did not catch this case from the OpInfo-generated test, but we caught it in functorch's tests)

## Problem 1: bug in convolution's forward-over-reverse formula

Repro:
[code]
results in `RuntimeError: Trying to s

[2022-04-04 20:47] soulitzer commented on #75219
CUDA and cpu share the same forward AD formula  for convolution backward (which is relatively simple because it is is multi-linear), so if cuda succeeds but cpu fails, I'm suspecting something is going wrong with the convolution backward implementation

[2022-04-04 20:48] davidberard98 commented on #61655
1. run `python test\test_cpp_extensions_jit.py -k test_jit_cuda_extension`; it succeeds
2. run `python test\test_cpp_extensions_jit.py`; it fails

so - might have something to do with some global state that's affected by earlier tests?

[2022-04-04 21:18] davidberard98 commented on #61655
`test_jit_cuda_archflags` is setting some global flags that aren't being cleaned up

[2022-04-04 21:24] H-Huang commented on #75097
Need to more info to determine the root cause of the hang. Do you have a script that you can share that can reproduce this?

Based on your code snippet, it may be that one rank has finished while the others are still hanging and it runs `destroy_process_group()` too early. You can try synchronizing with [barrier()](https://pytorch.org/docs/master/distributed.html#torch.distributed.barrier) before

[2022-04-04 21:28] borisfom commented on #75004
Also: this issue causes latest transformers to fail : https://github.com/huggingface/transformers/issues/16532

[2022-04-04 21:28] mikaylagawarecki opened #75224 "Avoiding cast of certain tensors in in the optimizer state dict when load_state_dict() is called"
### 🐛 Describe the bug

In #71333, #71334 and #71335 certain items in the state dict for various optimizers were changed from floats/ints to singleton Torch.Tensors (most notably `state['step']`). The rationale was to consolidate all updates to the optimizer state to the the functional API provided in [`torch/optim/_functional.py`](https://github.com/pytorch/pytorch/blob/master/torch/optim/_functi

[2022-04-04 21:31] Lezcano opened #75225 "One of the backends for `lu_factor` fails on windows."
### 🐛 Describe the bug

See the skip added in https://github.com/pytorch/pytorch/pull/73878#discussion_r841416793

### Versions

master

[2022-04-05 00:09] davidberard98 commented on #48091
@jjsjann123 this is fixed by #50467 and #57321 right? can we close it?

[2022-04-05 00:36] #48091 closed

[2022-04-05 00:45] tom-p-reichel opened #75240 "Large cumulative sums appear to be nondeterministic."
### 🐛 Describe the bug

@timothytmzhou and I found that cumulative sums over large input arrays do not seem to deterministically produce the same output array:

[code]
yields, on my machine:
[code]
Multiple runs of this file exhibit unique non-determinism. Here's another run:
[code]
We decided to test this after reading [this paper](https://www.cs.purdue.edu/homes/lintan/publications/variance-ase2

[2022-04-05 01:05] stas00 opened #75242 "large model, low memory: need `torch.load` that loads one submodule at a time"
### 🚀 The feature, motivation and pitch

Here is a puzzle for you:

Say, you have 24GB of GPU RAM and 32GB of CPU RAM and a pretrained fp32 pytorch model checkpoint that is 40GB big.

Say, you want to inference or finetune in fp16 or bf16 and you have enough CPU and GPU memory to handle a 20GB model.

It should be possible, but you can't load the model in half precision because `torch.load` is inf

[2022-04-05 01:39] ezyang commented on #75240
cc @kurtamohler

[2022-04-05 01:40] ezyang commented on #75240
This repros for me

[code]

[2022-04-05 01:51] ezyang commented on #75240
CUDA cumsum uses CUB's InclusiveScan which is supposed to be deterministic per docs here https://nvlabs.github.io/cub/structcub_1_1_device_scan.html#a16d7bc049ba8985dd89b10b3bcf0a8a3

[2022-04-05 01:53] ngimel commented on #75240
Pytorch directly calls thrust in this case, cc @zasdfgbnm (this is small enough to use int32 indexing, so the issue is not multiple cub kernels)

[2022-04-05 01:55] ezyang commented on #75240
Am I misunderstanding the profile? Lol

[code]

[2022-04-05 01:56] ngimel commented on #75240
My profile (after removing all prints and comparisons):
[code]
1st cub kernel is setting up some configs, second cub kernel is doing the work.

[2022-04-05 03:19] siaimes commented on #74162
This doesn't cause an error, it just doesn't take advantage of the previously saved _metadata when loading the model.

[2022-04-05 04:52] nkaretnikov commented on #73236
tracked it down to a call here: https://github.com/pytorch/pytorch/blob/37e0d2e361d8e0fa0afe5e6fc3d481d98b06b31d/torch/csrc/autograd/python_variable_indexing.cpp#L319

[code]
which returns different results for tensor and ndarray, minimized repro:

[code]

it’s due to count_specified_dimensions returning different size here (1 vs 4):
https://github.com/pytorch/pytorch/blob/37e0d2e361d8e0fa0afe5e6f

[2022-04-05 05:00] nkaretnikov commented on #73236
or... is it just a "wontfix"? arrays and tensors are handled differently by that function. e.g., this is processed similarly to the numpy array call:

[code]

[2022-04-05 06:11] annisat commented on #46907
I encountered the same (similar?) problem with only 20 epochs but with epoch-wise image records. I simplfied my original code and made a minimal one that reproduces the error. Please see if they are related or I'm making a mistake somewhere.

[code]
After this, open `tensorboard --logdir test`. It ends up showing only epoch=1,2,3,4,8,9,10,11,13,19
The missing records are only missing when reaching

[2022-04-05 06:43] sjeaugey commented on #74734
Indeed NCCL does not support 16-bit integers at the moment, but if the goal is to do send/recv, then there is no real need to wait for specific support. PyTorch can simply implement it using uint8 and doubling the count. We do not implement type-specific NCCL kernels except for reductions. They all map to int8 in the end, simply multiplying the size by the datatype size.

[2022-04-05 06:58] Sentient07 opened #75249 "Inconsistent summation when done before/after conversion to cuda"
### 🐛 Describe the bug

My bug is summarised in the image below. In a nutshell, if you sum along a dimension on a tensor and then convert to cuda, it's different from what is observed by converting to cuda and then taking a summation. The margin of error is of the order 1e-6, I agree it's small. But if you invert two different matrices with this seemingly insignificant difference, the magnitude is

[2022-04-05 09:38] Davmo049 opened #75251 "Potential runtime optimization of Mish activation"
### 🚀 The feature, motivation and pitch

Mish is a quite popular activation function. It is defined as a tanh of a softplus. Softplus is in turn defined as softplus(x) = log(1+exp(x)). Tanh is defined in terms of exponential functions. Logarithms and exponentials cancel out.

By doing algebraic manipulation one can prove that an equivalent function is mish(x) = x*(1-2/(1+(1+exp(x))^2).
Current imp

[2022-04-05 10:09] 8scarlet8 opened #75252 "Batchnorms force set to training mode on torch.onnx.export when running stats are None"
### 🐛 Describe the bug

When converting PyTorch model to `.onnx` it assumes that batchnorm layers are in training mode if `track_running_stats=False` even though layers clearly have training attribute set to False. We can reproduce this by setting `module.running_var = None` and `module.running_mean = None` or by creating new model with `nn.BatchNorm2d(channels[0], track_running_stats=True)`. Here

[2022-04-05 12:59] HKEa commented on #75181
Yes, (of course it can be circumvented by some condition)

[2022-04-05 13:33] kxhit commented on #10375
Hi, I wish to pass one shared CUDA tensor to different processes, hoping other processes only use this shared tensor without a copy to save GPU memory. But I couldn't find a way to do it? Is there any solution? Thanks a lot!

[2022-04-05 14:13] pmeier commented on #73466
cc @ejguan @NivekT

[2022-04-05 14:22] ejguan commented on #73466
In terms of dependency, making `torch.hub` depends on `torchdata` may not be a good idea because currently `torchdata` depends on `torch` then a circular dependency happens. This might be doable if we spin off `torchdata` from pytorch core.

From the feature perspective, I believe the use case of `load_state_dict_from_url` is loading from a single url. It's not intuitive to use `DataPipe` in `torc

[2022-04-05 15:09] zengk95 commented on #66178
# 3/26–4/03
https://github.com/pytorch/pytorch/pulls?q=is%3Apr+label%3Areverted+is%3Aclosed+updated%3A%22%3E2022-03-26%22+

## No PR Signal
- https://github.com/pytorch/pytorch/pull/75176
- https://github.com/pytorch/pytorch/pull/74525
- https://github.com/pytorch/pytorch/pull/74463 not sure about this one

## Ignored Signal
- https://github.com/pytorch/pytorch/pull/74969
- https://github.com/pyto

[2022-04-05 15:52] mikaylagawarecki commented on #74424
@ronghanghu This should be fixed on master now!

[2022-04-05 15:54] albanD commented on #74424
@ronghanghu can you confirm this is fixed now on your end and we can close this issue?

[2022-04-05 15:55] H-Huang commented on #74809
Related issue with non-contiguous tensors on distributed collective: #73515

[2022-04-05 16:01] vadimkantorov commented on #69431
I also wonder if treemap is parallel (akin to _foreach methods). Probably for `torch.to(..., non_blocking=True)` it doesn't matter as much, but still. It also probably could benefit from a single cudaMalloc call (at least for all strided tensors) flattening all tensors in the input

[2022-04-05 16:22] annisat commented on #46907
I think I solved this issue (at least mine). It is not about `torch.SummaryWriter` not writing records. It's about tensorboard not displaying it.

Based on three observations, I suspect it is about displaying: 1) the images were there until certain epoch. Like, images of epoch 13 disappeared after those of 15 were recorded. (not the exact number, just as example of my observation). And 2) the size

[2022-04-05 16:30] zasdfgbnm commented on #75240
I also reproduced. Will try to create a standalone C++ non-pytorch repro.

[2022-04-05 16:30] rohan-varma opened #75255 "[RFC] Add ability to ignore parameters / modules in FSDP"
### 🚀 The feature, motivation and pitch

Sometimes, FSDP wraps models with components such as model parallelism modules, and users would like to ignore these parameters / modules when wrapping their overall model with FSDP.

This is similar to DDP which offers the following API to do so: https://github.com/pytorch/pytorch/blob/master/torch/nn/parallel/distributed.py#L1698

In order to implement th

[2022-04-05 16:44] ngimel commented on #75240
The first mismatch is typically at index 76800 on my machine, so inputs smaller than 76800 don't have this problem, inputs larger than 76800 do.

[2022-04-05 16:49] zasdfgbnm commented on #75240
On my machine, it was 69120.

[2022-04-05 17:00] ronghanghu commented on #74424
Thanks for the fix! I'll try out the nightly PyTorch build this evening and confirm it tomorrow

[2022-04-05 17:01] ngimel commented on #75240
An on colab with T4 I just got 63360

[2022-04-05 17:07] cpuhrsch commented on #75181
@HKEa - actually after bisecting the last ~500 commits I found the PR that changed the behavior and an existing issue https://github.com/pytorch/pytorch/issues/70348 that discusses this. I'm going to close this issue just to deduplicate, but could I kindly encourage you to comment on https://github.com/pytorch/pytorch/issues/70348 and state your concern there too?

[2022-04-05 17:07] #75181 closed

[2022-04-05 17:55] zasdfgbnm commented on #75240
Reproduced by hijacking cub's unit test: https://github.com/NVIDIA/cub/pull/453

[2022-04-05 17:57] deepanshu650 opened #75265 "Kernel Dies while using conv2d layer / function"
### 🐛 Describe the bug

Kernel dies and restarts automatically as soon as model having conv2d is used.
It happens for both - conv2d layer (torch.nn.Conv2d) and conv2d function (torch.nn.functional.conv2d), while i am able to use linear layer model in my system.
Here is a minimal example code

[code]
<img width="751" alt="Screenshot 2022-04-05 at 9 12 31 PM" src="https://user-images.githubuserconte

[2022-04-05 18:00] SherlockNoMad commented on #73515
IIUC, the backward path for AllGather is ReduceScatter. I am wondering is there a deeper reason why it's currently implemented as All2All with explicit sum.

ReduceScatter is also a lower communication payload than All2All.

Also, dist.reduce_scatter accepts non-contiguous input_tensor_list.

[2022-04-05 18:27] awgu commented on #74694
https://github.com/pytorch/pytorch/pull/74834/

[2022-04-05 18:27] #74694 closed

[2022-04-05 18:30] BowenBao commented on #75167
Should be supported by #75268

[2022-04-05 18:43] Linux-cpp-lisp opened #75269 "`torch.multiprocessing` does not propagate global PyTorch options when `forkserver` is used"
### 🐛 Describe the bug

`torch.multiprocessing` does not propagate global state like the default dtype to worker processes when using the `forkserver` start method:

[code]
gives
[code]
on 1.11 and 1.10. If you change it to `fork`, all of them print `float64`. This leads to dtype errors when the tensors are brought back to the parent process.

Since switching to `forkserver` (necessary for CUDA, a

[2022-04-05 19:02] BowenBao commented on #75100
Have you tried exporting with `verbose=True`? It adds stacktrace information to `doc_string` field of each node. https://pytorch.org/docs/stable/onnx.html#torch.onnx.export

[2022-04-05 19:05] sklin93 commented on #74437
@davidberard98 What op should I call now to replace `aten::cudnn_convolution_backward_weight` and `aten::cudnn_convolution_transpose_backward_weight`? The context is the custom op for StyleGAN ([here](https://github.com/NVlabs/stylegan2-ada-pytorch/blob/6f160b3d22b8b178ebe533a50d4d5e63aedba21d/torch_utils/ops/conv2d_gradfix.py#L143))

Thank you

[2022-04-05 19:20] wanchaol opened #75272 "[shard] support ShardedTensor setters"
### 🚀 The feature, motivation and pitch

in https://github.com/pytorch/pytorch/pull/74695 we switched ShardedTensor to use torch.Tensor as a subclass, but we currently only support getters, not setters, we might need to support them to allow user to alter some attributes of sharded tensor

### Alternatives

_No response_

### Additional context

_No response_

[2022-04-05 19:29] BowenBao commented on #75004
Thanks for reporting this regression. Created a pr to fix it #75273

[2022-04-05 19:49] cpuhrsch commented on #68621
@Linux-cpp-lisp - we now added support for `torch.mm(dense, sparse_csr)` and the above snippet executes.

[code]

[2022-04-05 20:04] davidberard98 commented on #74437
@sklin93 I think `aten::convolution_backward` should work. It has a bool option to whether or not to transpose, and you can pass a list of booleans (bool[] output_mask) to compute grad for only weight.

[2022-04-05 20:14] zou3519 commented on #71117
NB: @pmeier's old at https://github.com/pytorch/pytorch/pull/69211 has many of the OpInfos that we need to test the above (binary_cross_entropy{_with_logits}, l1_loss, etc) but I don't know what the status of it is

[2022-04-05 20:59] soulitzer commented on #75219
(1) The issue is that mkldnn's convolution backward does not respect the output_mask argument. Because None is passed in for bias, we expect an undefined tensor to be returned for grad_bias. Instead a scalar tensor is returned. I'm not sure what it would contain (possibly zeros), but it is of the wrong size.

(2) the reason it does not fail in core is that and we only go into the mkldnn path when

[2022-04-05 21:22] zasdfgbnm commented on #75240
cc: @ptrblck

[2022-04-05 21:26] davidberard98 opened #75280 "[JIT] log_extract.py improvements"
### 🚀 The feature, motivation and pitch

- [ ] move the make_tensor functions into torch/testing or somewhere else like that, to dedup log_extract from torchbench
- [ ] move the no_fuser wrapper into torch/testing or torch.jit.fuser() , to dedup
- [ ] randomize data in make_tensor
- [ ] randomize data in parse_ir constant tensors
- [ ] csv output for easier analysis

### Alternatives

_No response

[2022-04-05 21:27] samdow opened #75281 "normal_ with generator produces different results if input is noncontiguous"
### 🐛 Describe the bug

Calling in-place normal when the input is a view produces a different value, even when using generators. As a note, this works as expected if `y` is just a slice but incorrectly if it's transposed like in this example

[code]

### Versions

PyTorch version: 1.11.0
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: macOS 12.2.1 (x86_6

[2022-04-05 21:27] jjsjann123 opened #75282 "nvfuser fails on benchmark"
### 🐛 Describe the bug

Issue found on David's benchmark runs. Opening this bug so we can properly trace it in the project board

Currently a few of them are failing fallbacks: autogen-0, autogen-4. You can run the isolated cases with
$ python run_microbenchmarks.py nvfuser --filter autogen-0
autogen-4 is actually failing its fallback as well - e.g. if you enable fallbacks, it still fails

### Ver

[2022-04-05 21:27] davidberard98 commented on #72471
log_extract.py - documented in https://github.com/pytorch/pytorch/pull/75266

Further improvements tracked in https://github.com/pytorch/pytorch/issues/75280

[2022-04-05 21:27] #72471 closed

[2022-04-05 21:36] BowenBao commented on #74732
Hello @YsYusaito , could you try testing with more recent version? I tried your script, and on PyTorch 1.11 and onnxruntime 1.10, the models produce same outputs.

[2022-04-05 22:04] davidberard98 commented on #72466
now running in ci.

[2022-04-05 22:04] #72466 closed

[2022-04-05 22:28] tlringer commented on #75240
@ezyang : @tom-p-reichel is looking to talk to someone about adding some determinism testing to Pytorch's CI as well, to catch issues like this even when they're from upstream dependencies like CUDA. Is there anyone he can talk to about this? I can set up a meeting if it helps.

(Everyone else, hi, I'm Talia and I'm working with Tom and Timothy on a research project! Thank you for being so prompt

[2022-04-05 22:31] rohan-varma opened #75287 "[RFC] Consolidated and unified state_dict and load_state_dict hooks"
### 🚀 The feature, motivation and pitch

Today, PyTorch offers a few private hooks for `state_dict` and `load_state_dict` that exist to allow users to run post and pre processing respectively when saving and loading model checkpoints.

Current state_dict post hook: https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/module.py#L1265
Current state_dict pre hook: https://github.com/pytorc

[2022-04-05 22:31] bdhirsh commented on #75281
marking hi-pri since it looks like a silent correctness issue

[2022-04-05 22:33] ngimel commented on #75249
This is expected behavior, see https://pytorch.org/docs/master/notes/numerical_accuracy.html. Summation on cuda and cpu is performed in the different order, and that leads to the different results. Please use double precision if you need better accuracy.

[2022-04-05 22:33] #75249 closed

[2022-04-05 23:13] sklin93 commented on #74437
@davidberard98 Thanks! I'm trying that, but what `bias_sizes` should I pass to the function? It seems to be a required arg.

[2022-04-05 23:19] davidberard98 commented on #74437
It should be the shape of the bias tensor that was provided to the pass. Or if bias was none, you can pass `None` as the sizes.

From native_functions.yaml:

[code]

The question mark in the type annotation `int[]?` means that it is optional, i.e. it can take None as a parameter

[2022-04-05 23:33] zou3519 commented on #75219
This happens inside of convolution_backward, right? The spec of convolution_backward should be "if None is passed in for bias, then an undefined tensor must be returned".

I'd expect convolution_backward to call mkldnn's convolution backward -- we could have convolution_backward always return undefined tensor for grad_bias and ignore the return as a result.

We probably want to have tests (maybe s

[2022-04-05 23:39] davidberard98 commented on #74404
Fixed by https://github.com/pytorch/pytorch/pull/74997, thanks @wukong1992

[2022-04-05 23:39] #74404 closed

[2022-04-05 23:40] davidberard98 commented on #73737
I think this is fixed by https://github.com/pytorch/pytorch/pull/74997, please reopen if not

[2022-04-05 23:40] #73737 closed

[2022-04-05 23:53] ezyang commented on #75240
Basically everyone relevant is CC'ed to this issue :) What's the proposal? One problem is we don't want to slow down the CI too much, but a lot of these determinism issues only manifest on big inputs (as is the case here!) Maybe we can set some sort of offline fuzzing style infra. (cc @malfet, maybe?)

[2022-04-06 00:19] malfet commented on #75240
We can add determinism tests on say periodic/nightly basis. fuzzing might lead to increased test flakiness, which is not a desired outcome.

[2022-04-06 00:54] soulitzer commented on #75219
Yep

Good idea, made a PR that just does the check at the end of convolution

That would make sense, though getting gradcheck to not be flaky might take a little experimentation

[2022-04-06 01:11] ken012git commented on #34704
Similar issue. How should I workaround?
RuntimeError: derivative for aten::hardswish_backward is not implemented

[2022-04-06 01:43] #74628 closed

[2022-04-06 01:45] ezyang commented on #75240
Oh 20sec is totally fine. If you want you can just submit a Pr to add this as a normal test

[2022-04-06 01:58] #73194 closed

[2022-04-06 02:22] sebasarbe commented on #37068
+1 please add windows!

[2022-04-06 02:28] Linux-cpp-lisp commented on #68621
@cpuhrsch cool, thanks!

Will this be in the 1.12 nightly so I can try it out?

[2022-04-06 03:03] cpuhrsch commented on #68621
@Linux-cpp-lisp - yes it will be.

[2022-04-06 03:23] rohan-varma commented on #66178
@[zengk95](https://github.com/zengk95) I would not say https://github.com/pytorch/pytorch/pull/74452 falls under "ignored signal", as it was more due to missing signal on the PR, possibly due to different NCCL versions running on master vs PR branches.

[2022-04-06 03:29] rohan-varma opened #75306 "[FSDP] Investigate CPU offload on separate stream"
### 🚀 The feature, motivation and pitch

Context: https://github.com/pytorch/pytorch/pull/74452#discussion_r833765789

Currently, CPU -> GPU copy in forward pass happens on the all_gather stream. Although in mixed precision training, we have a separate stream for these copies. It might be useful to understand perf implications of whether this would be beneficial for non-mixed precision use cases a

[2022-04-06 04:09] anonymous2015258 opened #75308 "Using Adaptive Model for Pytorch Mobile"
### 🐛 Describe the bug

I recently tried to build an executable model for a Neural ODE model with an adaptive step size ODE solver and found a feature that can become a vulnerability. I noticed that each executable model is needed to be initialized with an input, which creates the computational graph for the rest of the inputs. If someone uses an initialization input that causes higher computation

[2022-04-06 04:48] kennethchiu commented on #75240
For what it's worth, the docs reference this paper (https://research.nvidia.com/sites/default/files/pubs/2016-03_Single-pass-Parallel-Prefix/nvr-2016-002.pdf), which actually seems to be saying that the algorithm is non-deterministic, and thus the paper from which the code was presumably based contradicts the docs.

work is nondeterministic execution scheduling. Whereas
contemporary scan paralleli

[2022-04-06 05:13] kshitij12345 opened #75309 "[jit] failing OpInfo JIT tests for conv1d and complex input"
### 🐛 Describe the bug

Adding expectedFailure to unblock the PR

Test : `test_nnc_correctness`
Ref: https://github.com/pytorch/pytorch/runs/5838401052?check_suite_focus=true#step:9:22211

Test : `TestDtypeCustomRules`
Stack Trace
[code]

### Versions

master

[2022-04-06 05:38] sklin93 commented on #74437
@davidberard98 thank you!
I made these [changes](https://www.diffchecker.com/68YsfWVW) to the previously linked [code](https://github.com/NVlabs/stylegan2-ada-pytorch/blob/6f160b3d22b8b178ebe533a50d4d5e63aedba21d/torch_utils/ops/conv2d_gradfix.py). Basically I need to pass `weight` instead of `weight_shape` to the new `torch.ops.aten.convolution_backward` function. But I get the following error:

[2022-04-06 05:45] davidberard98 commented on #74437
You'll probably need to convert one of the tensors to the correct type. If you're concerned with performance issues from casting tensors, you can experiment with passing empty tensors with correct shape information (e.g. create a small tensor and then torch.expand it to the correct size) - some of the data might not be important to the computation so it might be fine to pass empty tensors for some

[2022-04-06 05:53] YagaoDirac opened #75312 "Parameter of g in backward function is buggy."
### 🐛 Describe the bug

`
import math
import numpy
import torch

class SafeMul(torch.autograd.Function):
    @staticmethod
    def forward(ctx, x, y):
        return torch.ones_like(x)
    @staticmethod
    def backward(ctx, g):
        print(F"g before {g}")
        g[1] = 123.
        print(F"g after {g}")

        return #The return value has nothing to do with this report.

x = torch.tensor([1

[2022-04-06 06:25] pmeier commented on #71117
@mruberry wanted to land the stack at some point, but it seems we both have forgotten about it. Want to give this another shot?

[2022-04-06 06:29] sklin93 commented on #74437
@davidberard98 thanks!! That's a very good idea since the weight is only used for its shape. I passed `empty_weight = torch.empty(weight_shape, dtype=input.dtype, layout=input.layout, device=input.device)` to the op.

Could you take a look at the [changes](https://www.diffchecker.com/0rXiySXB)? It runs without any problem (!) but I want to make sure I didn't accidentally mess something up. It's on

[2022-04-06 06:31] harryhan618 commented on #74831
@albanD @mruberry @jbschlosser @walterddr @kshitij12345
Execuse me, is this issue still under review?

[2022-04-06 06:48] YagaoDirac commented on #75312
Ok, I tried mean() instead of sum(). It works... So the bug is probably in the sum() function.

[2022-04-06 07:40] pallgeuer commented on #75186
I have this issue as well when trying to build PyTorch 1.11.0 at the moment.

[2022-04-06 07:46] florian98765 opened #75319 "[feature request] torch.diff with n=2"
Hi everybody,
we are using pytorch to solve partial differential equations like to Laplace equation.
using `torch.diff` with `n=2` would allow to directly create get a finite difference version of the Laplace operator.

pytorch currently reports:
[code]
So, here is the feature request.

By the way, appending / prepending zeros is a nice way to define homogeneous boundary conditions. Allowing a sin

[2022-04-06 07:51] xkszltl commented on #75186
Currently I have to pin my build to somewhere earlier, with commit hash 025cd69.
Choose that commit also because it's right before dropping python3.6 support.

[2022-04-06 07:53] Howe-Young commented on #75097
Thanks for your advice. After I try to use your suggestion to modify, the problem still exists.

The code mainly refers to this: https://github.com/ultralytics/yolov5/blob/master/train.py
The execution command is:
[code]

[2022-04-06 08:10] essems commented on #67528
in scripts/build_ios.sh
  CMAKE_ARGS+=("-DCMAKE_PREFIX_PATH=$(python3 -c 'import sysconfig; print(sysconfig.get_path("purelib"))')")
  CMAKE_ARGS+=("-DPYTHON_EXECUTABLE=$(python3 -c 'import sys; print(sys.executable)')")

this works find for me..

[2022-04-06 08:43] marcocaccin commented on #75100
I tried that first, but TL;DR it simply does not work.
There are a couple of problems with this approach:
1. The docs aren't saying the truth (deserves a separate github issue, but let's not get derailed). To be more specific, the documentation shows that the docstring of each node should contain a `scope:` section (which is indeed what I'm looking for, even if in a slightly different format), but

[2022-04-06 08:47] wannieman98 commented on #74341
Hi, can I work on this? Thanks!

[2022-04-06 09:15] vadimkantorov commented on #75251
My take: if it's not used in popular existing modules, it could be optimized. If it's already used, then an `approx` string argument could be useful akin to GELU https://github.com/pytorch/pytorch/issues/39853#issuecomment-1075686097 (although GELU approx seems to have problems reported by HF)

[2022-04-06 10:11] lxx249 commented on #16417
Have you solved the problem? I have tried many ways, it still has the error

[2022-04-06 10:30] green-slowmoe commented on #5229
getting the same error using GCC 11.2.0, even when trying to build outside anaconda.
@denfromufa: what did you remove exactly?

[2022-04-06 10:48] wassimseif opened #75321 "PyTorch Profiler typo. collecton -> collection"
### 📚 The doc issue

In the overview section of https://pytorch.org/docs/stable/profiler.html#torch-profiler

PyTorch Profiler is a tool that allows the ~~collecton~~ collection of the performance.

I can do the PR for this.

Is this the right file to edit ?https://github.com/pytorch/pytorch/blob/d4f831349756f3739ef69f82a15c86fc677f3eeb/torch/profiler/__init__.py

### Suggest a potential alternati

[2022-04-06 10:55] homomorfism commented on #40859
In case someone struggles with loading pruned weights to unpruned Pytorch lightning module

`python

def get_attr(obj, names):
    if len(names) == 1:
        return getattr(obj, names[0])
    else:
        return get_attr(getattr(obj, names[0]), names[1:])

def set_attr(obj, names, val):
    if len(names) == 1:
        return setattr(obj, names[0], val)
    else:
        return set_attr(getattr(o

[2022-04-06 11:31] lxx249 commented on #16417
it works for me

[2022-04-06 11:59] YsYusaito commented on #74732
Hi, @BowenBao

Thank you for reply.
I'll test on PyTorch 1.11 and onnxruntime 1.10.

I would appreciate it if you could share the Pytorch and ONNX models you have created, and the script to convert from Pytorch to ONNX, just in case via e-mail.

ys.yusaito@gmail.com

[2022-04-06 12:00] Lyken17 opened #75322 "[torch.fx] proxy-retracing example code not working properly"
### 📚 The doc issue

https://pytorch.org/docs/stable/fx.html#proxy-retracing provides an example to rewrite DAG

[code]

However, if we use the provided sample, this will not work as expected:

[code]

### Suggest a potential alternative/fix

I am still learning torch.fx internal logics. It is more like a bug with sample code as the fx.transformer works as expected.

[2022-04-06 12:17] huangyaling opened #75323 "pytorch1.6.0 rsub op float32 compute result is different from c++ calculation result"
### 🐛 Describe the bug

rsub op float32 compute result is different from c++ calculation  result：
pytorch float32 compute result is 0.0468173027 and double compute result is 0.046817302703857421875，but
c++ demo float32 compute result is 0.0468177795 and double compute result is0.0468173050.
[code]

### Versions

pytorch 1.6.0

[2022-04-06 14:12] zou3519 commented on #75219
It's probably "good enough" to set the tolerance at 1e-4 or something low like that. The goal of the testing is to (1) check the output values are roughly OK and (2) do a smoke test (e.g. check that the code doesn't raise an exception)

We could possibly also get away with just doing (2) (it would be a lot faster because we wouldn't need to compute an entire jacobian!) It depends on how confident

[2022-04-06 14:36] ezyang commented on #69813
Any news on this?

[2022-04-06 15:28] dzdang commented on #75005
Not sure if this is a quant issue. @Hikaru-13915 Can you provide the code that produces the issue?

[2022-04-06 15:51] tlringer commented on #75240
From looking at that paper, those docs, and the Nvidia comments, it seems then like they intended to introduce this nondeterminism, but did not update the docs or tell downstream consumers?

I wonder then if there will be any way to enforce determinism when it is desired? In the meantime, maybe it's worth documenting in Pytorch on the page about reproducibility that these functions introduce nonde

[2022-04-06 16:48] an99990 commented on #63662
Would this affect loading weights or saving weights ? I am training a model using detectron2 framework. using
`    dist.init_process_group(
        backend="nccl", init_method="tcp://localhost:23456", rank=0, world_size=1
    )`
makes it possible to train on single GPU, however when I am loading the weights to test , i get

[code]

So i try stopping the training and reloading the weights but I don

[2022-04-06 16:54] awgu commented on #75255
In my understanding, there are two approaches, broadly:
1. `module._modules -= modules_to_ignore`, where `module` is the first `FSDP` ctor arg
    - Pros: Additional logic scales constantly (i.e. `O(1)`) in the API surface -- the modules in `modules_to_ignore` truly do not exist in the view of `module`
    - Cons: Without other saved references to the ignored modules, the user may lose access to t

[2022-04-06 17:06] zasdfgbnm opened #75334 "ProcessGroupNCCL is relying on UB to support bool data type"
### 🐛 Describe the bug

In https://github.com/pytorch/pytorch/blob/a90bcd2066389595cd2d1302648dc9232dbc4fe8/torch/csrc/distributed/c10d/ProcessGroupNCCL.cpp#L79 we can see that ProcessGroupNCCL views a tensor of type `bool` of dtype `uint8_t`.

Unfortunately, the C++ standard does not specify any detail about how compilers implements `bool`:

https://stackoverflow.com/questions/4897844/is-sizeofbo

[2022-04-06 17:18] ronghanghu commented on #74424
Following up: I tested the nightly 20220406 PyTorch build and confirm that this issue is fixed now.

[2022-04-06 17:18] #74424 closed

[2022-04-06 17:25] eellison commented on #72112
Hey, so this is \*partially\* solved with https://github.com/pytorch/pytorch/pull/75119, although it creates random data for Tensors. We could extend it to this case as well

[2022-04-06 17:27] KDharmarajanDev opened #75336 "Libtorch Crash after Attempting to Evaluate Model after Opening an OpenGL Context"
### 🐛 Describe the bug

Error:
```/tmp/llvm/lib/Support/BranchProbability.cpp:41: llvm::BranchProbability::BranchProbability(uint32_t, uint32_t): Assertion `Numerator <= Denominator && "Probability cannot be bigger than 1!"' failed.```

The error above happens when attempting to evaluate a TorchScript model in C++ Libtorch while an OpenGL context (from Dear ImGUI) is already opened within the same

[2022-04-06 17:29] malfet commented on #66178
@zengk95 I don't think https://github.com/pytorch/pytorch/pull/74542 is a land race, but rather an internal-only regression (although a simple linter failure)

[2022-04-06 17:30] eellison commented on #75309
cc @Gamrix

[2022-04-06 17:32] wconstab commented on #75217
The first question is, which backends/when/why want this info plumbed through TS?
- for lazy TS backend at least for GPU/nvfuser, we don't particularly want to stamp concrete shape information on the IR since we're trying to reuse the graph with dynamic shape inputs anyway.  We are using the profiling executor, so it has its own scheme for guarding and sampling shapes
- if other backends want a fu

[2022-04-06 17:43] henrytwo commented on #75217
We are building a separate MLIR backend that borrows some of the JIT Graph generation code from TS backend, so I wanted to check if this is something we should upstream. Since it seems that the priority is to have dynamic shapes, I don't think we need to.

In terms of plumbing this, right now I'm updating the type for each `jit::Value` after it is produced in the lowering code using the shape info

[2022-04-06 17:49] jjsjann123 commented on #73620
Is this one still failing issue specific to windows after #73742?

[2022-04-06 17:55] davidberard98 commented on #73620
^ these specific tests are no longer failing.

But the job still fails on windows - not really sure why https://github.com/pytorch/pytorch/runs/5820450732?check_suite_focus=true. I'll need to go look further into what's happening there.

[2022-04-06 18:06] tlringer commented on #75240
One more thing: I've been looking around the repo for other uses of InclusiveScan, cumsum, cumprod (is cumprod a problem, @tom-p-reichel ?) , and so on. I find a lot of hits, but I don't know the code base well. I'm curious what parts of Pytorch this might impact downstream. Like anything that might depend on the nondeterministic code. Does anyone know?

[2022-04-06 18:07] jjsjann123 commented on #73395
Don't have the repro with latest upstream after the merge. I saw it in the other issue where this test seems to be flaky?!

[2022-04-06 18:08] silvasean commented on #75217
Can you talk a bit more about this "profiling"? Is it part of LTC? Or something specific to nvfuser?

I think from the Torch-MLIR side, my only ask is that either 1) There is a policy layer built into LTC sitting above us that is doing the shape specialization/despecialization or 2) We see the full shapes for each trace so we can build such a layer ourselves.

[2022-04-06 18:10] eellison commented on #75217
I will submit a PR with small pedagogical example and docs for how to integrate in the current profiling flow.

[2022-04-06 18:12] silvasean commented on #75217
Thanks. And as a bit of context, for the most part, it's pretty useless to us (Torch-MLIR, for our current set of backends) to see graphs without at least the rank (i.e. ndim) known (or inferrable, but in this case we should already have the information) for each tensor. So we would like it if we could tell LTC "give us rank-specialized graphs".

[2022-04-06 18:16] makslevental opened #75342 "`torch.fx.operator_schemas.normalize_function` is too permissive"
### 🐛 Describe the bug

[`normalize_function`](https://github.com/pytorch/pytorch/blob/b72b5b2833a086417299849daebf51ab2ed0e76d/torch/fx/operator_schemas.py#L230) doesn't catch signature mismatches when [`len(matched_schemas) == 1`](https://github.com/pytorch/pytorch/blob/b72b5b2833a086417299849daebf51ab2ed0e76d/torch/fx/operator_schemas.py#L296).

Minimal repro follows.

Example schema:

[code]

[2022-04-06 18:30] jjsjann123 commented on #73620
Looks like it's complaining about `test_jit_cuda_fuser` failed but I do not see any failing tests there :confused:
It also looks like it's not running `test_jit_autocast` at all, which is right after `test_jit_cuda_fuser`. maybe it's a timeout issue?!

[2022-04-06 18:54] Gamrix commented on #75309
@kshitij12345 Can you link the related PR?

[2022-04-06 19:32] skaudrey commented on #37477
Anyone works it out? Waiting for help QAQ

[2022-04-06 19:57] davidberard98 commented on #73620
Timeout is a good idea - but I think the timeout is [5 hrs](https://github.com/pytorch/pytorch/blob/master/.github/workflows/_win-test.yml#L32) for that test.

[2022-04-06 19:58] jjsjann123 commented on #75029
Per the opinfo tests. `test_nvfuser_correctness_nn_functional_conv_transpose3d_cuda_float32` it seems to be failing even with nvfuser turned off. :)

I'll try to dig deeper to figure out what's being tested.

[2022-04-06 20:02] Linux-cpp-lisp commented on #68621
@cpuhrsch just downloaded today's nightly--- I am able to run the snippet you posted.

I am able to run my entire model using the sparse matrices without any immediately apparent issues, either from autograd, JIT, or freezing, so it seems that everything has been resolved! I will do a more thorough check on the numerical equivalence of the results when I have a chance.

More importantly, now that

[2022-04-06 20:29] terrychenism commented on #74540
per discussion with @vkuzo there is not a good way to use TensorIterator on quantized tensors and preserve strides, and set this issue as low priority.

[2022-04-06 20:29] miayu79 opened #75356 "Dictionary input parameter gets interpreted as multiple parameters during pytorch onnx conversion"
### 🐛 Describe the bug

model signature: model(input_ids_1, input_ids_2, valid_length_1, valid_length_2, x = None, y = False, z = None, dict=None)
code to convert:
optional_input = {"dict":dict_values}
dummy_input = (input_ids_1, input_ids_2, valid_length_1, valid_length_2, optional_input)
torch.onnx.export(model, dummy_input, model_onnx_path, opset_version=14, input_names=["input_ids_1", "input_i

[2022-04-06 20:55] davidberard98 commented on #74112
cc @dzdang

[2022-04-06 21:04] jjsjann123 commented on #75029
kkk, just got a repro that conv3d has some numerical issue... I'm taking a wild guess that it's from the reduction order :(
I'll open an issue to track this and update the comment on our disabled test. There's nothing to do with nvfuser or model save/load. Let's cross that one off after I opened the issues.

[2022-04-06 21:27] cpuhrsch commented on #75251
In principal this seems like it should help, because it saves a lot of expensive transcendental functions. Just out of curiosity I tried to use the default fuser and nvfuser (via torch.jit.script), which work for well for pointwise operations on GPUs, [to implement this](https://gist.github.com/cpuhrsch/fd54e2f27a25ac88abe44ca6ccc6f894).

I found that the numerical results are (as one might expect

[2022-04-06 21:30] garymm commented on #69674
@thiagocrepaldi can you add a dummy symbolic for grid sampler to confirm it works with just `OperatorExportTypes.ONNX`?

[2022-04-06 21:39] jjsjann123 opened #75363 "conv3d has numerical issue where same input produces output that are not bit-wise identical"
### 🐛 Describe the bug

A simple repro
[code]
Here's the output.
[code]

My brief investigation seems to indicate that we are running native kernels (at least I don't see anything cudnn in the log)
I'm guessing there's some reduction in arbitrary order that's causing this. Opening the issue so we have something to track the issue.
[code]

### Versions

[code]

[2022-04-06 21:40] jjsjann123 commented on #75363
This is the root cause of opinfo test failure reported in #75029 .
cc'ing @davidberard98 @xwang233

[2022-04-06 21:49] mrshenli opened #75369 "Profiler SegFault on a single Linear layer"
### 🐛 Describe the bug

[code]

[code]

### Versions

Nvidia driver version: 450.119.03
cuDNN version: Probably one of the following:
/usr/local/cuda-10.1/targets/x86_64-linux/lib/libcudnn.so.7.6.5
/usr/local/cuda-10.2/targets/x86_64-linux/lib/libcudnn.so.7.6.5
/usr/local/cuda-11.0/targets/x86_64-linux/lib/libcudnn.so.8.0.5
/usr/local/cuda-11.0/targets/x86_64-linux/lib/libcudnn_adv_infer.so.8.0.5

[2022-04-06 22:03] davidberard98 opened #75371 "The worst NVFuser microbenchmarks all use reshape"
### 🐛 Describe the bug

Below is a CSV showing benchmark results (on A100) from microbenchmarks https://github.com/pytorch/benchmark/pull/801. The CSV is sorted by increasing "nvfuser vs none", which is the performance improvement (positive is good). Note that a number of microbenchmarks are omitted because they fail fallbacks.

* The first 9 (autogen-47 to autogen-69) are slow because they are hi

[2022-04-06 22:21] zhaojuanmao opened #75373 "[RFC] Validate that FSDP modules execution order is the same across ranks"
### 🚀 The feature, motivation and pitch

Right now FSDP assumes module execution order is the same across ranks without validation. This is not safe, it would either result in hang or incorrect results.

Propose to add validation in the following way, alternative ways are welcomed. Note the following approach will work efficiently for graphs whose execution order do not change over iterations. If

[2022-04-06 22:29] atalman opened #75375 "Pytorch test failure with CUDA 11.6"
### 🐛 Describe the bug

We recently introduced CUDA 11.6 to pytorch CI/CD pipeline. We are observing following failure in both windows and linux instances:

Linux:
[code]
[Link](https://github.com/pytorch/pytorch/runs/5858491614?check_suite_focus=true) to a failed job

Windows:
[code]
[Link](https://github.com/pytorch/pytorch/runs/5851046713?check_suite_focus=true) to a failed job

### Versions

P

[2022-04-06 22:30] zhaojuanmao commented on #75373
cc @awgu

[2022-04-06 22:52] mrshenli commented on #75369
I switched back to v1.10 (1.10.0a0+git71f889c), that works. So, this seems like a regression.

[2022-04-06 22:58] ptrblck commented on #75375
CC @xwang233 who is already debugging it

[2022-04-06 23:10] miccio-dk opened #75383 "[ONNX] Error when exporting adaptive_max_pool2d to ONNX"
### 🐛 Describe the bug

When trying to export [this model](https://github.com/gabrielmittag/NISQA) to ONNX, I get the following:
- `pytorch 1.10.1`: no errors/warnings, Segmentation fault
- `pytorch 1.8.2 LTS`: RuntimeError: Unsupported: ONNX export of operator adaptive_max_pool2d, since output size is not factor of input size. Please feel free to request support or submit a pull request on PyTorc

[2022-04-06 23:17] kit1980 commented on #69500
Removing the hook because the CVS integration is removed from flake8.
New recommended way from flake8 is to use pre-commit framework https://flake8.pycqa.org/en/latest/user/using-hooks.html , maybe we should look it it at the future.

[2022-04-06 23:18] miccio-dk commented on #75383
PS: same "Segmentation fault" result using latest pytorch 1.11.0

[2022-04-06 23:35] garymm commented on #37720
Blocked by #39365

[2022-04-06 23:44] robieta commented on #75369
Thanks for the report. I'm able to repro. How in the world did this get past CI?

[2022-04-06 23:45] garymm commented on #38887
Possibly the same root cause as https://github.com/pytorch/pytorch/issues/47887

[2022-04-06 23:46] nik1097 commented on #74326
Hey, @janeyx99 since this issue is not claimed yet, can I try my hand at it?

[2022-04-06 23:49] nik1097 commented on #74326
Hey @janeyx99 could I work on this issue? If it's not already taken?

[2022-04-06 23:51] garymm commented on #40910
Closing as a duplicate of #50231 (even though this issue is older, the other issue makes it clear that the root cause is in the tracer, not ONNX export)

[2022-04-06 23:51] #40910 closed

[2022-04-06 23:55] garymm commented on #38218
@libinta your provided code runs successfully on PyTorch 1.10.0.

@heliqi if this is still a problem, please open a new issue with some repro instructions. Even if you can't share the full model, we need something to work with.

[2022-04-06 23:55] #38218 closed

[2022-04-07 00:02] garymm commented on #42993
The provided code works with onnxruntime 1.11.0 and torch 1.10.0. Please re-open with version info if this is still a problem.

[2022-04-07 00:02] #42993 closed

[2022-04-07 00:04] garymm commented on #43656
@wangyems is this causing issues? If so please elaborate.
If not, please close the issue.

[2022-04-07 00:05] guotuofeng commented on #75369
@mrshenli, would you please try the nightly build? I am supposing the crash should be fixed in the latest nightly build.

[2022-04-07 00:09] robieta commented on #75369
I ran into this building from head, so this is something new.

[2022-04-07 00:09] atalman opened #75391 "Pytorch linalg test failure with cuda 11.6"
### 🐛 Describe the bug

We recently introduced CUDA 11.6 to pytorch CI/CD pipeline. We are observing following failure on Linux :

[linux-bionic-cuda11.6-py3.7-gcc7](https://github.com/pytorch/pytorch/runs/5859582068?check_suite_focus=true)

[code]

### Versions

CUDA 11.6
Pytorch master

[2022-04-07 00:09] #43656 closed

[2022-04-07 00:09] garymm commented on #41774
@zhujiangang is this still an issue with the latest nightly version of PyTorch?
If so, we'll need more info to work on this. Can you provide a checkpoint of the trained model, and code that loads the checkpoint, exports, and demonstrates the output mismatch between the ONNX and PyTorch models?

[2022-04-07 00:09] wangyems commented on #43656
closed it

[2022-04-07 00:12] ptrblck commented on #75391
CC @xwang233

[2022-04-07 00:12] SherlockNoMad commented on #73515
I looked further into this issue, and here's the root cause.

In the repro example above, loss function is .sum() function, see `gathered_tensor.sum().backward()`. The gradient for .sum() is implemented as grad.expand(), which returns a non-contiguous tensor, which is immediately back-propagated to _AllGather.backward() function.

As it turned out, none of the following API `dist.all_to_all`, `dis

[2022-04-07 00:13] garymm commented on #43417
@mattfreed is this still an issue with latest nightly PyTorch?
If so, could you please provide code that includes a full `nn.Module` class and the call to `torch.onnx.export`?

[2022-04-07 00:16] garymm commented on #41072
Seems to work with PyTorch 1.10.0.
Please open a new issue if this is still a problem on the latest PyTorch nightly version.

[2022-04-07 00:16] #41072 closed

[2022-04-07 00:16] #75167 closed

[2022-04-07 00:16] rohan-varma commented on #75373
Thanks for this proposal it looks good to me overall especially if the concern below can be addressed:

Regarding (2):

If each rank creates its execution order independently during forward and backward pass, and then we broadcast it at the end, won't we risk running into hang in the first iteration itself?

For example, if rank 0 and rank 1 have mismatched execution order, we might call `all_gath

[2022-04-07 00:19] BowenBao commented on #72528
Closing.

[2022-04-07 00:19] #72528 closed

[2022-04-07 00:20] #75004 closed

[2022-04-07 00:21] garymm commented on #41304
Based on the last update, changes to the model have been identified that could make it convertible to ONNX.
Closing due to age and lack of activity. Please open a new issue if more help is needed.

[2022-04-07 00:21] #41304 closed

[2022-04-07 00:26] ngimel commented on #75369
I can't repro on my setup (cuda 11.5, python 3.9.7, fresh master build), so it's probably setup dependent, and thus sneaked past CI. @Chillee had some profiler segfaults recently too.

[2022-04-07 00:28] garymm commented on #25088
Copy pasting work-around from @markson14's link. I have not verified this is correct:

[code]

[2022-04-07 00:29] garymm commented on #43367
Duplicate of #25088

[2022-04-07 00:29] #43367 closed

[2022-04-07 00:33] garymm commented on #45561
@amek-aymen is this still an issue on the latest pytorch nightly version?
If so, please provide:
* code that downloads the model and exports it
* a screenshot or some code that specifies what is wrong in the exported model

[2022-04-07 00:36] garymm commented on #42911
@Joevaen we need to see the source code that produces `self.network` in order to act on this.
Also I suggest that you try without `torch2trt` and without `simplify`, as I have no idea what those do.
Please try with the latest pytorch nightly version and provide the requested info if you want help.

[2022-04-07 00:44] robieta commented on #75369
I'm on CUDA 11.0, @Chillee is on 11.5. But definitely it's env dependent. One of the interesting things is that the failure is in the kernel rather than the actual profiler code. (In both cases, so I assume it's the same issue.) So my guess is that we're doing something to put the GPU in a bad state. Running a bisect now, though CUDA builds are sloooowwwwww.

[2022-04-07 00:44] robieta commented on #75369
(Oh, and I don't even have to call the linear layer to repro: `torch.zeros(10, 10).cuda(0)` is enough)

[2022-04-07 01:34] Chillee commented on #75369
If it helps, this is a backtrace of the segfault: https://pastebin.com/0yh12uGP

I think it also has something to do with the particular settings it's being built with - installing pyTorch nightly works for me, building from source doesn't.

[2022-04-07 01:49] jgong5 commented on #74935
Thanks @mruberry for the feedbacks. According to the suggestions from @VitalyFedyunin today, we will check and handle channels last 1D format inside individual performance-critical op kernels first (e.g., conv1d and maxpool1d) without explicitly exposing the `torch.channels_last_1d` to the users. Later on, after a large portion of ops honor the channels last 1D format, it would be a good motivatio

[2022-04-07 01:56] ngimel commented on #75369
Hm, why is there libcupti.so.9 in the stacktrace? Should it be libcupti.so.11, so there's something wrong with the linking?

[2022-04-07 02:03] ngimel commented on #75369
Could it be #74009?

[2022-04-07 02:28] robieta commented on #75369
eec994fc16c3553686ff348e8029862491ca4968 is good, so thankfully no.

[2022-04-07 03:36] yzs981130 commented on #75172
Thanks for the reply.

The warning exists on PyTorch 1.9 and the corresponding `TORCH_WARN` is removed from libtorch after 1.10.

I have tried to ignore python warnings by `python -W ignore` which seems not to work. I finally redirect stderr to filter the warning.

[2022-04-07 04:16] wanchaol opened #75402 "[shard] make sharded_tensor.cpu() a `__torch_function__` op instead"
### 🚀 The feature, motivation and pitch

as titled, https://github.com/pytorch/pytorch/pull/74941 we are making it a class method, where it should be a torch function op instead.

### Alternatives

_No response_

### Additional context

_No response_

cc @hameerabbasi @rgommers @peterbell10

[2022-04-07 05:05] ngimel commented on #75363
I can repro, but I'm seeing dgrad kernels from cudnn which are expected to be non-deterministic:
[code]

[2022-04-07 05:10] Balandat opened #75404 "Calling state_dict on nested modules falsely raises DeprecationWarning"
### 🐛 Describe the bug

[code]

Presumably, this should result in false `DeprecationWarning`s being raised in everyone's code who has nested modules (which is pretty much everyone). More context and pointer to why this is happening here: https://github.com/pytorch/pytorch/pull/72780#pullrequestreview-934487712.

### Versions

main branch (I believe this was introduced by #72780)

cc @ezyang @gchan

[2022-04-07 05:14] xwang233 commented on #75375
Thanks for the report. This is due to a cusolver eigenvalue solver issue in cuda 11.6. We're working on this internally.

[2022-04-07 05:16] xwang233 commented on #75391
Thanks for the report. This is due to a cusolver eigenvalue solver issue in cuda 11.6. It has already been fixed internally and will be available in the next cuda release.

[2022-04-07 05:16] ngimel commented on #75312
This is expected behavior, as your backward function is getting a discontiguous tensor as `g` if you compute loss as `sum`, see #64529. You need to first call `g=g.contiguous()` if you want to avoid it.

[2022-04-07 05:16] #75312 closed

[2022-04-07 05:20] ngimel commented on #75281
This is expected behavior, see #71090

[2022-04-07 05:20] #75281 closed

[2022-04-07 05:21] shahad-mahmud opened #75405 "torch.pow() return `nan` for negative values with float exponent"
### 🐛 Describe the bug

If `a` is a tensor, then any operation like `a ** 2.2` or `torch.pow(a, 2.2)` return `nan` for negative values in the tensor `a`.

[code]

This results into:
[code]

### Versions

Collecting environment information...
PyTorch version: 1.11.0+cu113
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used to build PyTorch: N/A

OS: CentOS Linux 7 (Core) (x86_64)
GCC v

[2022-04-07 05:41] suo opened #75406 "DISABLED test_readall (test_zipfile.ZipfileTest)"
Platforms: mac

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_readall%2C%20test_zipfile.ZipfileTest)).

cc @malfet @albanD

[2022-04-07 05:41] suo commented on #75406
@PaliC please take a look

[2022-04-07 05:49] ngimel commented on #75391
Do you suggest disabling these tests in the meantime? How wide is the bug surface?

[2022-04-07 06:04] SsnL commented on #75405
isn't it expected since it is generally not defined?

[2022-04-07 06:15] suo commented on #73039
I am reopening this issue, as it looks like queueing has recently gotten a lot worst (perhaps related to the 5.0 upgrade?)
e.g. right now (well after peak working ours) there are still 200+ jobs in queue
<img width="728" alt="image" src="https://user-images.githubusercontent.com/1617424/162132452-85ef331f-1b99-4e1d-9349-e418f0bf9d75.png">

[2022-04-07 06:26] kshitij12345 commented on #75309
Updated the description. Sorry forgot to add it. Thanks @Gamrix!

[2022-04-07 06:43] pytorch-bot[bot] opened #75409 "DISABLED test_exception_single (__main__.ForkTest)"
Platforms: asan, linux

This test was disabled because it is failing in CI. See [recent examples](http://torch-ci.com/failure/test_exception_single%2C%20ForkTest) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/5863105042).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 1 red and 3 green.

[2022-04-07 06:52] marksboy commented on #59777
Hello, Xuyang. I faced the same issue. May I ask you how you did to solve this problem?
Thank you.

[2022-04-07 07:26] fuzihaofzh opened #100628 "Feature request: fast way to approximate the diagonal of the hessian"
Hi,
I want to get the second-order gradients for a nn.Module function. I use `make_functional_with_buffers` to wrap it. But I fail to get the second-order gradients with RuntimeError. The code is as follows:
[code]

I got the following error:
[code]

The functorch is directly installed from source.

[2022-04-07 07:29] apoorvjha commented on #75405
By leveraging complex number representation of the negative numbers you can get around this issue. Please refer to attached screenshot.
![image](https://user-images.githubusercontent.com/56272803/162144147-239a5c27-5664-4064-ad33-2503fe779da3.png)

[2022-04-07 07:34] shahad-mahmud commented on #75405
Got it. Thank you for the explanation :)

[2022-04-07 07:34] #75405 closed

[2022-04-07 07:43] CNTRYROA opened #75411 "operating tensor got unexpected output on aarch64 machine"
### 🐛 Describe the bug

**pytorch 1.10.0**
**aarch64 machine**
**python 3.7**

I build pytorch 1.10.0 and install on the aarch64 machine.
When I execute python script below. I found the output tensor that contain zero value.
On the x86 machine, I got the output tensor that is whole one value.
I want to know what is the reason.
code:
[code]
output:
[code]

In addition to this, I found that the defa

[2022-04-07 08:09] harryhan618 commented on #74443
@ngimel
Excuse me, I just want to ask if pytorch will allocate more memory if I declare a tensor shape that is not the power of 2? (e.g. `torch.rand(4, 480, 1024, device='cuda')`)

[2022-04-07 09:02] jjsjann123 commented on #75282
Phew... finally got the repro. Will look at this problem tomorrow.

[2022-04-07 09:18] Aktcob commented on #75090
anybody?

[2022-04-07 09:49] xajdlg opened #75413 "RuntimeError: Exporting the operator bucketize to ONNX opset version 14 is not supported"
### 🐛 Describe the bug

 torch.onnx.export(model,
            (batch[2]),
            "ssss.onnx",
            export_params = True,
            opset_version = 14,
            do_constant_folding = True,
            input_names = ['input'],
            output_names = ['output'],
            dynamic_axes = {})

### Versions

Collecting environment information...
PyTorch version: 1.10.2+cu102
Is de

[2022-04-07 09:54] wuzuowuyou opened #75414 "Dataset combined with pycuda issue，Cannot set num_worker>=1"
### 🐛 Describe the bug

Can you give me an example of pycuda combined with  torch.utils.data.DataLoader  and num_worker > 1?
I tried worker_init_fn what you said, but I still failed。
Detailed links are as follows
https://github.com/pytorch/pytorch/issues/74014#issuecomment-1079942795

[code]

### Versions

appdirs 1.4.4
certifi 2021.10.8
distro 1.6.0
imageio 2.16.0
lmdb 1.3.0
Mako 1.1.6
MarkupSafe

[2022-04-07 10:48] marcocaccin commented on #75100
@BowenBao thank you!
A small clarification/nit to be made about your last comment though: the `doc_string` field contains sort of a traceback of where in the code the node comes from, but does not seem to have any reference to the scope name.
I don't have access to the MS link but if there's anything I can help you (e.g., providing a gist of how I solved the problem at the moment) please ping me a

[2022-04-07 11:06] aleSuglia commented on #21567
Could you please clarify whether specifying the `torch.Generator` parameter is required to make sure that the sampling process is reproducible? I've set the random seed globally but I don't know whether `torch.bernoulli` would actually use the global random seed generator for this function when the `generator` parameter is not specified.

[2022-04-07 11:32] ysiraichi commented on #69813
Ah, I'm sorry. I intend to work on this next, if that's ok (prioritizing the `IListRef` PRs, though).

[2022-04-07 12:41] atalman commented on #70111
Small update on this, I can confirm this is still not fixed in CUDA 11.6

[2022-04-07 12:53] JohnIsak commented on #69519
Reproduced on pytorch 1.11 and cuda 11.3

[2022-04-07 12:54] Lezcano commented on #75391
If we have another fallback backend, we could potentially check for the version and dispatch to the other backend if that version of the library is in use. We already do this to work around bugs in magma.

[2022-04-07 13:20] mruberry opened #75417 "DISABLED test_torch_nn_CrossEntropyLoss_2d_indices_target_smoothing_weight_cuda (__main__.TestCppApiParity)"
platforms: windows

This test is failing on Windows with CUDA 11.6. Example log: https://github.com/pytorch/pytorch/runs/5861322515?check_suite_focus=true.

Example snippet:

[code]

cc @ezyang @gchanan @zou3519 @peterjc123 @mszhanyi @skyline75489 @nbcsm @jbschlosser @albanD @mruberry @walterddr @kshitij12345 @ngimel

[2022-04-07 13:24] atalman commented on #75417
cc @ptrblck @xwang233

[2022-04-07 13:26] ezyang opened #75419 "Require PyTorch test suite to be warnings clean"
### 🐛 Describe the bug

We have too many warnings.

One way to avoid rampant over-warnings is to make warnings in the test suite a hard failure. Here's the idea:

1. By default, all warnings turn into errors in the test suite
2. If you explicitly want to test a deprecated API, you have to explicitly use a helper function, e.g., self.deprecated(lambda: deprecated_call()), which then explicitly requ

[2022-04-07 13:29] pallgeuer commented on #75186
I isolated the issue and this patch seems to get 1.11.0 to compile fine:
[code]
There are two issues, first that the `convert_and_benchmark` target is missing the include directory `${CMAKE_CURRENT_SOURCE_DIR}/../modules`, and second that  `BUILD_CAFFE2` is now `OFF` by default, which makes several binaries throw linker errors, because they try to use the Caffe2 API (so we need to guard those targ

[2022-04-07 13:58] #69034 closed

[2022-04-07 14:08] ezyang commented on #69813
Not blocked on IListRef right?

[2022-04-07 14:15] ysiraichi commented on #69813
Nope. I've been away these past couple days.

[2022-04-07 14:45] atalman commented on #75417
This could be a flaky test, another run with 11.6 have not surfaced this issue:
https://github.com/pytorch/pytorch/runs/5861097296?check_suite_focus=true

[code]

[2022-04-07 15:13] codgeek opened #75428 "ONNX export of torch.minimum"
### 🐛 Describe the bug

 Pytorch operator `minimum` cannot be converted to onnx.  Actually the corresponding operator is `Less`, a simple OP that return the smaller element in 2 tensor.
[pytorch minimum](https://pytorch.org/docs/stable/generated/torch.minimum.html#torch.minimum)
[onnx less](https://github.com/onnx/onnx/blob/main/docs/Operators.md#Less)

`RuntimeError: Exporting the operator minimu

[2022-04-07 15:13] ddelange commented on #49297
Would agree that adding the link to the dockerhub description would fix this issue.

@seemethere what do you think? Is there a place I can PR or does a dockerhub admin need to do this?

[2022-04-07 15:48] jeffdaily commented on #73039
Is this a temporary situation?  We recently added libtorch nightly builds and had some issues during that bring-up that broke ~10 runners for a few days.  We're back to 53 active runners.

[2022-04-07 16:01] KyleCZH commented on #74995
Thanks. After setting WORLD_SIZE=4. the test passes with rocm gpus

[2022-04-07 16:05] jeffdaily commented on #73039
Prior to moving to rocm 5.0 for distributed tests, it looks like they started timing out.

https://hud.pytorch.org/hud/pytorch/pytorch/master/2?name_filter=rocm

We're seeing download timeouts, as well.

[code]

[2022-04-07 16:10] soulitzer opened #75432 "Rollup: Top forward-over-reverse formulas"
These are the top operators by usage that do not support forward-over-reverse autograd. Supporting these requires writing the forward AD formula for the vjp of the operator. For example, to support forward-over-reverse for convolution, one needs to write the forward AD formula for `convolution_backward`.

- [ ] nn.functional.batch_norm
- [ ] nn.functional.cross_entropy
- [ ] nn.functional.embeddin

[2022-04-07 16:18] atalman opened #75434 "Cuda 11.6 Linux test_linalg_lu_factor_and_lu, test_lu_unpack_check_input and test_lu_unpack failures"
### 🐛 Describe the bug

Following workflow fails: [linux-bionic-cuda11.6-py3.7-gcc7 / test (default, 1, 2, linux.4xlarge.nvidia.gpu)](https://github.com/pytorch/pytorch/runs/5871482309?check_suite_focus=true#logs)

Here is the workflow failure log: : https://github.com/pytorch/pytorch/runs/5871482309?check_suite_focus=true

[code]

cc @ngimel @jianyuh @nikitaved @pearu @mruberry @walterddr @IvanYa

[2022-04-07 16:54] jerryzh168 opened #75440 "[quant] PackedLinearWeight::apply_dynamic_impl does not handle ReLUFused template argument"
### 🐛 Describe the bug

The `ReLUFused` argument is not handled in https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/quantized/cpu/qlinear_dynamic.cpp#L22, but handled in the caller function: https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/quantized/cpu/qlinear_dynamic.cpp#L370, we need to fix the problem by moving this code inside `PackedLinearWeight::apply_d

[2022-04-07 16:54] ngimel commented on #74443
Pytorch can round some allocations up. Please use torch.discuss.org for questions, github is for bug reports.

[2022-04-07 16:54] #74443 closed

[2022-04-07 16:55] suo commented on #73039
Let's continue monitoring. If I get some time, I'll wire up historical data as well so we can look at trends over time.

[2022-04-07 16:59] ngimel commented on #75419
See also #49642

[2022-04-07 17:18] timmywanttolearn commented on #74734
I got it. Thank you.

[2022-04-07 17:21] mhh0318 opened #75442 "when inputs includes str, scatter() in dataparallel won't split them correctly."
### 🐛 Describe the bug

When the datasets include `array` and `str`, the `str` part cannot be splitted and applied to device correctly.

[code]

In the training phase, the input to the model is a `dict` as `{'img':Tensors, 'txt': [str,str,...,str]}`

However,  after `torch.nn.parallel.data_parallel.py`
[code]

image part (array) can be split, but text part (str) will remain.

Error log:
[code]
The

[2022-04-07 17:26] xwang233 commented on #75434
stacktraces showing it's due to the scatter_add PR that merged recently https://github.com/pytorch/pytorch/pull/75140 cc @ngimel

[code]

[2022-04-07 17:32] ngimel commented on #75434
But it's happening on 11.6 only?

[2022-04-07 17:33] ngimel commented on #75434
Ok, unlanding #75140. @xwang233 it's your PR, please let me know when it's safe to reland.

[2022-04-07 17:37] xwang233 commented on #75391
Hi @ngimel , in cuda 11.6, cusolver added a new kernel for symmetric eigenvalue solver `syevd`. Anything using `eigh` with cusolver `syevd` backend may be affected.

Pytorch heuristics for eigenvalue solver `syevd`:
https://github.com/pytorch/pytorch/blob/064206df039d48de08c3502dcc03bcba7161de70/aten/src/ATen/native/cuda/linalg/BatchLinearAlgebraLib.cpp#L1390-L1402

[2022-04-07 17:43] atalman commented on #75434
@xwang233 There is also this failure : https://github.com/pytorch/pytorch/runs/5872488261?check_suite_focus=true

Can this be connected to that PR above ? (I believe these failures are recent as well)

[code]

[2022-04-07 17:44] xwang233 commented on #75434
From the cuda error message, it seems to be related. Now that the scatter_add PR is reverted, maybe we can retry the cuda 11.6 testing?

[2022-04-07 17:46] atalman commented on #75434
@xwang233 sounds good rerunning these tests now

[2022-04-07 17:52] rohan-varma commented on #66229
Junjie fixed it

[2022-04-07 17:52] #66229 closed

[2022-04-07 17:58] ezyang commented on #74400
This is definitely a wrapped number problem. Eager mode will work OK because the tensor you get secretly has the wrapped number bit set but when you put it into AOTAutograd and get an FX graph that information gets lost. Not sure what to do about it.

[2022-04-07 17:58] AnukritiSinghh commented on #10396
is there a solution?

[2022-04-07 17:58] ezyang commented on #74400
As a start, we could try to detect if a tensor is a wrapped number (I don't think we expose bindings for this at the moment) and then save it to a graph as a Python number instead of a tensor.

[2022-04-07 17:59] duskvirkus commented on #74341
@janeyx99 Interested in working on this issue this weekend. Unless @abhishinde24 or @wannieman98 are still interested.

[2022-04-07 18:02] #75029 closed

[2022-04-07 18:04] xwang233 commented on #75434
Seems so. I just tested locally with cuda 11.5 and it passed. 😢  Could be some undetected cuda issue. Will take a look.

[2022-04-07 18:46] makslevental commented on #74400
As far as I can tell that is the case (it is not bound). If you point me to where you'd like for the binding to sit, I can submit a PR that wires it up.

I have no design opinions, but can just say that would be satisfactory for my use-case (which is not actually related to FX - that was just the easiest way to show a repro).

[2022-04-07 18:53] #74501 closed

[2022-04-07 18:55] #73177 closed

[2022-04-07 18:56] xwang233 commented on #75434
For the other tests that also failed with this error message `CUDA error: invalid device function`, it seems to be a non-recoverable cuda failure, just like `cuda illegal memory access`. The first failure (from a `scatter_add` call) remains.

[2022-04-07 18:59] terrychenism commented on #74538
fixed by PR #75355

[2022-04-07 18:59] #74538 closed

[2022-04-07 19:01] #69500 closed

[2022-04-07 19:45] cpuhrsch commented on #68621
@Linux-cpp-lisp - great! I'm very happy to hear this. If you can share a link or snippet to run this model benchmark we can do some more profiling on our end and maybe even improve on that number!

[2022-04-07 19:53] rohan-varma commented on #74494
Hi-pri because it would block checkpoint testing / full_state_dict checkpoint. Resolved now.

[2022-04-07 20:01] rohan-varma commented on #75255
Discussed offline, approach (2) seems better, though we should not eliminate these ignored modules from state_dict.

[2022-04-07 20:28] jjsjann123 opened #75457 "[WIP] microbenchmark codegen error"
### 🐛 Describe the bug

Will get a repro once I verified the issue on devel branch.

Currently the issue comes from microbenchmarks. https://github.com/pytorch/pytorch/issues/75282

autogen-15 error, TorchScript IR:
[code]

Fusion ir and error:
[code]

### Versions

Reproed this on master branch + microbenchmark in David's repo.
I'll extract a repro on our devel branch and raise this issue to the

[2022-04-07 20:28] Ierezell opened #75458 "Placing model on bfloat16 on CPU make it freeze/hang"
### 🐛 Describe the bug

Note :
I know that bfloat16 should obviously not be used on a CPU model.
Maybe it's a better practice to do `to(self.device).to(bfloat16)` than `.to(bfloat16).to(self.device)`
But there will be dummy guys like me who will also hit the same error.

Maybe instead of hanging forever we could have an Exception or some warning.

[code]

[code]

[code]

Thanks,
Have a great day :

[2022-04-07 20:28] jjsjann123 commented on #75457
nonono.. opened this on the wrong repo...sorry about that.

[2022-04-07 20:28] #75457 closed

[2022-04-07 21:00] garymm commented on #43417
Please open a new issue with repro instructions if needed.

[2022-04-07 21:00] #43417 closed

[2022-04-07 21:02] vadimkantorov commented on #75458
(unrelated to the hang, but can one fuse `to(self.device).to(bfloat16)` into `to(device = self.device, dtype = torch.bfloat16)`?)

[2022-04-07 21:15] ezyang opened #75462 "NotImplemented confusion between __torch_function__ and __rpow__ (and other dunder magic methods)"
### 🐛 Describe the bug

There are two levels of multiple dispatch for an operator like `__pow__`:

* If you return NotImplemented from `__pow__`, Python will attempt `__rpow__` on the other argument if the types are different, raising a TypeError if nothing is supported
* If you return NotImplemented from a `__torch_function__` implementation that is hit when processing `__pow__`, PyTorch will att

[2022-04-07 21:17] Ierezell commented on #75458
Hi @vadimkantorov, thanks !
This will become my new go to.
It's always a problem to know if it's better to go first on GPU than to cast or the other way. using your solution will let pytorch do the best :) (maybe it should be emphasized on the docs ?)

[2022-04-07 21:18] vadimkantorov commented on #65156
@cpuhrsch Another op that could support nestedtensor/tensorlist is batched torch.unique (or corresponding indices) across a dim and similar ops that now could return a tensor list

Also it would be useful to have some free functions for conversions of different "padded" formats: flat tensor with split indices, padded tensor with recorded amount of padding, tensor lists, padded tensor with padding

[2022-04-07 21:24] cpuhrsch commented on #65156
@vadimkantorov - Thanks for raising this! Could I kindly ask you to open a separate issue for this so we can track this as well?

[2022-04-07 21:32] davidberard98 commented on #75371
cc @jjsjann123

[2022-04-07 21:36] vadimkantorov commented on #65156
Not sure sparse is the right label...

[2022-04-07 21:38] cpuhrsch commented on #65156
@vadimkantorov - Yes and no. I also added the nestedtensor label.

[2022-04-07 21:42] vadimkantorov commented on #65156
About separate issue - I'm not sure what's the design idea of NestedTensor exactly and what's your design idea for conversion between different formats... E.g. do you wish to have several versions of TensorList depending on format?

for pad_stack a padded format makes most of sense, for some others TensorList may be best. but it may be good to support some variants. Maybe via some namedtuples that

[2022-04-07 21:43] cpuhrsch commented on #65156
@vadimkantorov by the way, NestedTensor is [now in core](https://pytorch.org/docs/master/nested.html) so you can do

[code]

[2022-04-07 21:44] vadimkantorov commented on #65156
i wonder could decompose into:
`t0, t1 = t.unbind()` be done without explicit call into unbind? similar to regular python's namedtuples?

[2022-04-07 21:45] cpuhrsch commented on #65156
@vadimkantorov we could support indexing `t1 = t[1]`

[2022-04-07 21:50] cpuhrsch opened #75464 "Strict torch.jit.script fusion mode"
### 🚀 The feature, motivation and pitch

Not easily knowing when something is fused has bitten the e3nn team quite a bit I think. Turns out control flow prevented all their [ridiculously fuseable code](https://github.com/e3nn/e3nn/blob/main/e3nn/o3/_spherical_harmonics.py#L184-L456) from being fully optimized. [Removing control flow](https://gist.github.com/cpuhrsch/71ff55435c480ff03f399006bfa4c60

[2022-04-07 21:58] robieta commented on #75369
I have discovered (after two bisects that made no sense) that this only repros if I `make clean` between steps.

[2022-04-07 21:58] eellison opened #75465 "[JIT] Bool Should Subtype NumberType"
### 🐛 Describe the bug

In Pytorch, boolean values may be passed in for `Scalar` arguments. E.g. `eq.Scalar(Tensor self, Scalar other) -> Tensor` is invoked with e.g. `torch.arange(-1, 2) == True`. However, in JIT `NumberType` does not subtype from `Int`.
[code]

The following variants are available:

To fix: need to update the type hierarchy in `jit_type.h`, as well as add support for boolean Sca

[2022-04-07 22:17] d4l3k opened #75467 "torch.package: log.info when loading packages w/ externed modules + documentation"
### 🚀 The feature, motivation and pitch

Follow up from [T116586096](https://www.internalfb.com/intern/tasks/?t=116586096)

We should improve the user experience around externing and make it more obvious when something is externed.

We should update torch.package documentation to highlight that the packaged models aren't fully immutable/hermetic and there are backwards compatibility issues that th

[2022-04-07 22:20] ngimel commented on #68041
Also see #71274

[2022-04-07 22:41] bmwshop opened #75470 "Segmentation fault in zero_grad()"
### 🐛 Describe the bug

An attempt to run this in Colab or docker, etc. on a GPU fails due a segmentation fault (see trace below)

https://github.com/NVIDIA/NeMo/blob/main/tutorials/asr/ASR_with_Subword_Tokenization.ipynb

Python 3.8.12
torch: '1.12.0a0+2c916ef'
pl: '1.6.0'

The same code appears to work in native mixed precision

### Versions

Epoch 0:   6%|██████▋

[2022-04-07 23:27] eellison opened #75474 "[NVFuser] call kernels with informative names (e.g. pow_mul_add)"
### 🚀 The feature, motivation and pitch

NNC Generates kernel names using [GenerateNameForGraph](https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/passes/utils/subgraph_utils.h#L68-L71) which improves profiling and debugging generated fusions. NVFuser should do the same

cc @jjsjann123 @kevinstephano @ngimel

### Alternatives

_No response_

### Additional context

_No response_

[2022-04-07 23:37] malfet opened #75475 "PyTorch can not be compiled with CUDA acceleration using Clang as host compiler"
### 🐛 Describe the bug

Running `CC=clang CXX=clang++ python setup.py develop` would fail to compile PyTorch with CUDA using clang as host compiler (as it would not be passed as ccbin option)

### Versions

N/A

[2022-04-07 23:51] davidberard98 opened #75476 "issue with pow() & different argument dtypes in NNC"
### 🐛 Describe the bug

Repro:
[code]

cc @YosuaMichael

### Versions

master, gpu

[2022-04-08 00:47] rohan-varma opened #75478 "Make FSDP Mixed Precision work with BatchNorm"
### 🚀 The feature, motivation and pitch

Mixed precision training for FSDP recently landed: https://github.com/pytorch/pytorch/pull/75024, however, it does not work out of the box for batch norm at the moment.

If mixed precision is attempted to be used with batchnorm/syncbatchnorm, an error similar to the below is encountered:

[code]

In general, even if the rest of the model (i.e. dense layers)

[2022-04-08 01:02] robieta commented on #75369
Confirmed that https://github.com/pytorch/pytorch/pull/74009 is the culprit. (which also explains why I have to `make clean` each time) @ezyang How do you want to proceed? Normally it's an obvious revert hammer, but it sounds like this was fixing *other* issues so...

[2022-04-08 01:21] robieta commented on #75369
Update: I have `CUDA_HOME=/usr/local/cuda-11.0/` set. Before #74009 I see:
`CUDA_cupti_LIBRARY = /usr/local/cuda-11.0/extras/CUPTI/lib64/libcupti_static.a`
but after:
`CUDA_cupti_LIBRARY = /usr/lib/x86_64-linux-gnu/libcupti.so`
which is a symlink to `libcupti.so.9.1` (Which explains the strange symbols @ngimel) So the question is: why is CMake finding the wrong `.so`? Sadly, my CMake-fu is far too

[2022-04-08 01:53] wukong1992 commented on #61176
@gmagogsfm Can you  review the code.

[2022-04-08 02:16] hxi667 opened #75480 "IndexError: Caught IndexError in replica 0 on device 0."
### 🐛 Describe the bug

This error occurs when I train my model with 8-gpu, and I don't know how to fix it.

Traceback (most recent call last):
  ...
  File "/root/anaconda3/envs/SSGait/lib/python3.7/site-packages/torch/nn/modules/module.py", line 727, in _call_impl
    result = self.forward(*input, **kwargs)
  File "/root/anaconda3/envs/SSGait/lib/python3.7/site-packages/torch/nn/parallel/data_pa

[2022-04-08 02:25] suo opened #75482 "Windows actions failing during setup"
Examples:
- https://github.com/pytorch/pytorch/runs/5878041324?check_suite_focus=true
- https://github.com/pytorch/pytorch/runs/5877370350?check_suite_focus=true
- https://github.com/pytorch/pytorch/runs/5877156070?check_suite_focus=true
- https://github.com/pytorch/pytorch/runs/5877098426?check_suite_focus=true

cc @ezyang @gchanan @zou3519 @seemethere @malfet @pytorch/pytorch-dev-infra

[2022-04-08 03:00] edric1261234 commented on #36061
same issue, expected solution

[2022-04-08 03:32] urimerhav commented on #23900
Just came to say I hit on the same issue 3 years later. Yes, it's not a pytorch issue, but the reason we all hit on this issue is the lack of native support for "repeat=True" for `DataLoader` class. Might be a good idea to add that feature and save future grief for other developers.

[2022-04-08 03:46] pytorch-bot[bot] opened #75492 "DISABLED test_conv_after_fork (__main__.TestConvAfterFork)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](http://torch-ci.com/failure/test_conv_after_fork%2C%20TestConvAfterFork) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/5878789548).

Over the past 3 hours, it has been determined flaky in 2 workflow(s) with 2 red and 6 green.

cc @SsnL @VitalyFedyunin @ejguan @NivekT

[2022-04-08 03:56] soulitzer commented on #75321
Hey thanks for the catch, we typically don't accept fixes small typos like this though due to the developer/machine overhead it takes to land PRs however.

[2022-04-08 03:56] #75321 closed

[2022-04-08 04:10] soulitzer commented on #75323
This is expected since floating point numbers only have about 7 digits of precision anyway

[2022-04-08 04:10] #75323 closed

[2022-04-08 04:11] huangyaling commented on #75323
您发送的用户现不再服务区内，可能是网络不通，想解决此类问题，请您将头用力撞向显示器，以保证网络通畅！若网络修复成功后，请你现在立刻猛击你的显示器直到它冒火花为止,听到响声后我会给你回复。

[2022-04-08 04:19] soulitzer commented on #75265
Could you try on colab? I could not reproduce the behavior there

[2022-04-08 04:34] turtleizzy opened #75494 "`torch.pinverse` on CUDA tensors produces non-optimal output for certain type of (invertible) matrix for torch > 1.10"
### 🐛 Describe the bug

### Bug Description

`torch.pinverse / torch.linalg.pinv` produces non-optimal result at high probability when inversing matrix with structure `[A b | 0 1]`, especially when `||b|| >> ||A||`. In fact, the probability of failure raises significantly if `||b|| / ||A|| > 100`.

This type of matrix is very common for coordinate transforms, and the triggering condition  `||b|| >

[2022-04-08 05:12] YidaWeng commented on #73193
Can I try to solve this problem?

[2022-04-08 05:23] soulitzer opened #75495 "Forward AD convolution fails for the empty backend"
### 🐛 Describe the bug

Repro: `python test/test_nn.py -k test_conv_backend`

[code]

### Versions

main

[2022-04-08 05:31] xwang233 commented on #74487
Reopen since the above PR https://github.com/pytorch/pytorch/pull/75140 had some cuda issue in cuda 11.6 and just got reverted. I'll work to resolve the issue and reland the PR for this FP16 scatter_add issue.

[2022-04-08 05:34] xkszltl opened #75496 "RocksDB 7 may have C++17 dependency"
### 🐛 Describe the bug

Build failed on Ubuntu 18.04 with gcc-8.

[code]

### Versions

Commit 025cd69a86b4cce951c1fccb5b7160d8174e5ea9

[2022-04-08 05:34] songyuc opened #75497 "Feature Request: Please add a function like dimension transformation like `einops`"
### 🚀 The feature, motivation and pitch

Please add a function like dimension transformation like `einops`:
[code]
So, kindly add a new feature like:
[code]

### Alternatives

_No response_

### Additional context

_No response_

cc @jianyuh @nikitaved @pearu @mruberry @walterddr @IvanYashchuk @xwang233 @Lezcano

[2022-04-08 05:43] xkszltl commented on #75496
In additional, we may need to be more permissive about this warning with content awareness, or respect custom `CMAKE_CXX_STANDARD` with `option` instead of `set`, to allow user setting it to 17: https://github.com/pytorch/pytorch/blob/38a758e25178d70362c1a2d900e9f7c27e70af28/CMakeLists.txt#L37-L45

[2022-04-08 06:10] edric1261234 commented on #50427
Same issue

[2022-04-08 07:26] jaysonph opened #75500 "RuntimeError: cuDNN error: CUDNN_STATUS_EXECUTION_FAILED"
### 🐛 Describe the bug

**🐛 Bug**
- cuDNN error on Torch 1.6.0 with CUDA 10.1 when running on a 1080Ti with 512.15 Nvidia drivers.
- cuDNN error on Torch 1.11.0 with CUDA 11.3 when running on a 1080Ti with 512.15 Nvidia drivers.

**To Reproduce**
Save this script as **resnet_lstm.py**
[code]

Save this script as test.py
[code]

### Versions

Collecting environment information...
PyTorch version: 1

[2022-04-08 07:45] Kanaricc opened #75502 "TensorBoard frontend fails to display embeddings when `add_embedding()` writes large `label_img`"
### 🐛 Describe the bug

When using `add_embedding()` and switching to Projector tab in TensorBoard frontend, the frontend fails to display too large sprite images.

[code]

After that, run `tensorboard --logdir=logdir` and switch to the Projector tab.

<img width="278" alt="Snipaste_2022-04-08_15-39-46" src="https://user-images.githubusercontent.com/46213939/162388778-7b3771aa-2ff9-4e26-9e91-2e494

[2022-04-08 07:49] kshitij12345 opened #75503 "make_dual errors out when primal is a Tensor and tangent is a subclass Tensor"
### 🐛 Describe the bug

[code]

### Versions

master

cc: @zou3519 @soul

[2022-04-08 09:02] amarckal opened #75504 "Profiling graphed callables or cuda graphs raises a RuntimeError"
### 🐛 Describe the bug

When using the profiler with `ProfilerActivity.CUDA` to profile code that involves a cuda graph or a graphed callable results in a `RuntimeError: CUDA error: an illegal memory access was encountered`

Workaround is to use the nvprof or Nvidia Nsight Systems

Minimal example:

[code]

Resulting traceback

[code]

### Versions

[code]

cc @ezyang @gchanan @zou3519 @ilia-cher

[2022-04-08 10:05] Nuno-Mota opened #75508 "ONNX scripting description mentions removed argument"
### 📚 The doc issue

The ONNX related documentation, in particular the [subsection of tracing vs scripting](https://pytorch.org/docs/master/onnx.html#tracing-vs-scripting), mentions an argument that has been removed in version 1.11.

Concretely, in the 'Scripting' part:

However, the `example_outputs` arg has been removed entirely, as it appears that the model is now executed internally, in order

[2022-04-08 10:08] Nuno-Mota commented on #75508
Related PR: #75509

[2022-04-08 10:42] CNTRYROA commented on #75411
Maybe it's the same problem as [issues 65673](https://github.com/pytorch/pytorch/issues/65673)

[2022-04-08 11:39] vadimkantorov commented on #70166
Somewhat related: https://github.com/pytorch/pytorch/issues/75478 - in the sense of forcing full/mixed precision for certain modules. Similar decorators exist in mmdet/mmcv: https://mmcv.readthedocs.io/en/latest/api.html#mmcv.runner.force_fp32

[2022-04-08 12:28] atalman commented on #75434
It looks like we can resolve this issue, after reverting above commit https://github.com/pytorch/pytorch/pull/75140 these tests started to pass.

cc @xwang233 @ngimel  @ptrblck

[2022-04-08 12:31] atalman commented on #75391
@xwang233 Please let us know if you are talking about major or minor release ? Its important for us, since minor release intergation would take couple of days, vs major release like cuda 11.7 would take at least couple of weeks.

[2022-04-08 12:55] xcoldhandsx commented on #74798
I checked 2.2.0[2..2.0](https://github.com/richgel999/miniz/releases/tag/2.2.0). It works fine, crash doesn't reproduce.

[2022-04-08 13:12] xkszltl commented on #75496
Here's the commit for C++17 on RocksDB side:
- https://github.com/facebook/rocksdb/commit/fd3e0f43b3cd041c38e37543e0b616d18ca55179

[2022-04-08 13:16] YosuaMichael commented on #75476
Thanks for creating this issue @davidberard98 :)

[2022-04-08 13:24] ejguan commented on #75492
Running out of shared memory

[2022-04-08 13:29] nikitaved opened #75510 "[doc] view appears to mean different things, `view/reshape` vs `transpose/permute`."
### 📚 The doc issue

From the docs it might appear that "view" and "shares the same storage" are interchangeable concepts. Unfortunately, this is not the case and a bit confusing.

For example, the doc for `transpose` is clear in saying that the returned tensor shares the same storage with the original input.
However, `permute` reads `Returns a view of the original tensor input with its dimensions

[2022-04-08 13:44] timmywanttolearn opened #75512 "Connection closed by peer when using dist.isend in gloo backend"
### 🐛 Describe the bug

When I try to use dist.isend in gloo backend, sometimes it will occur that the connection is closed by peers. However nccl won't
gloo code
[code]
bug report
[code]
However nccl won't
If you change backend to 'nccl', these won't happen

### Versions

CUDA -- 10.2
pytorch version -- 1.12.0(nightly)

[2022-04-08 13:44] ejguan commented on #75414
Let's keep discussion in the original Issue.

[2022-04-08 13:44] #75414 closed

[2022-04-08 13:44] ejguan commented on #74014
I guess y

[2022-04-08 13:47] #72494 closed

[2022-04-08 13:50] jamfly commented on #72212
Hi @tvercaut,

Have you been tested on an extremely huge table? When I used the index_select in your approach, I encounter the OOM issue. Plus, it cannot deal with one dimension sparse tensor. I had to make it two-dimensional beforehand.

Or, do you know a better way to get the values from a sparse tensor by a sequence of the index? Original index_select is too slow to use. Something like `tensor[

[2022-04-08 14:19] a333klm commented on #40415
If someone else encounters this especially when using torch with c++:
In my case I had the c++ library on my LD_LIBRARY_PATH. This led to the issue above when I used pytorch in python.

[2022-04-08 14:40] janeyx99 commented on #73039
update: queuing is worse now—it’s an avg of 7hrs wait based on metrics.pytorch.org

[2022-04-08 14:50] hyperfraise opened #75513 "Write text on images as an augmentation"
### 🚀 The feature, motivation and pitch

Hi.

Right now, I believe that if you wanna write text on a GPU Tensor, you're gonna have to convert it back to numpy array and use OpenCV.

This is unfortunate since text writing is a very good augmentation is some cases, where input data might have timestamps for example. Also, most efficient loading libraries make use of the GPU (for example Nvidia Dali,

[2022-04-08 14:55] kumpera commented on #75334
AFAICT, tensor dtypes have well defined representations that are not tied to C datatypes.
For example, `torch.long` is always 64bits.

[2022-04-08 14:57] janeyx99 commented on #74341
@abhishinde24 are you still interested? If so, when do you think you could have a draft PR?

@wannieman98 when do you think you'd have a draft PR ready?

(If there's no response from @abhishinde24 and @wannieman98 by the end of today, @duskvirkus feel free to do it this weekend.)

[2022-04-08 15:03] jerryzh168 opened #75514 "Need to add guard for code in prepare"
### 🐛 Describe the bug

We need to add a guard in https://github.com/pytorch/pytorch/blob/master/torch/ao/quantization/fx/prepare.py#L974 so that input_arg.arg[0] is valid, we'll need to return if we can't find the activation_post_process that we want to share

### Versions

pytorch master

cc @jerryzh168 @jianyuh @raghuramank100 @jamesr66a @vkuzo

[2022-04-08 15:06] kumpera commented on #75480
Hi,

Could you provide a complete example that shows the issue you're running into?

[2022-04-08 15:07] vadimkantorov commented on #65156
maybe namedtuples PaddedTensorWithPadInfo and PaddedTensorWithMask could be introduced that would contain the padded tensor and some padding info. If they are simple namedtuple, they would get decomposed easily as well. pad_stack (or F.pad applied to nestedtensro) could return one of these

[2022-04-08 15:22] zrion opened #75515 "Error while installing pytorch"
Hello,

I'm trying to install pytorch from source (without conda). My machine has installed Ubuntu 18.04, CUDA 10.2, gcc 9, and python 3.8. Running ```python3.8 setup.py install``` returns this error:
[code]

I'm not sure why gcc > 8 is not supported. Please let me know how to proceed.
Thank you.

[2022-04-08 15:40] rohan-varma commented on #68391
duplicate

[2022-04-08 15:40] #68391 closed

[2022-04-08 15:41] ezyang commented on #75494
Any chance you'd be willing to bisect this for us?

pinverse originally implemented by @vishwakftw. @IvanYashchuk most recently made changes to some aspects of the kernels.

[2022-04-08 15:42] ezyang commented on #75497
added to triage review to discuss

[2022-04-08 15:42] songyuc commented on #75497
你好，您的邮件我已经收到，谢谢您！~O(∩_∩)O~                                                    宋玉成

[2022-04-08 15:45] ezyang commented on #75500
Can you run with `CUDA_LAUNCH_BLOCKING=1 python script.py` and give us the backtrace where the execution fails

[2022-04-08 15:46] Lezcano commented on #75497
Is this not [torch.permute](https://pytorch.org/docs/stable/generated/torch.permute.html)?

[2022-04-08 15:53] ezyang commented on #75510
Feel free to send some doc PRs.

I think trying to scrub confusion between "view" the concept and `view` the function will be difficult, however, because we can't rename the view function, and "is view of" is a more refined statement than "shares same storage": (1) two tensors can share storage and not alias each other, e.g., x[0] and x[1], (2) view is an autograd concept and there is a way to get

[2022-04-08 15:54] ezyang commented on #75515
This is a CUDA problem, we can't really help you. Since it looks like you want CUDA support, I suggest downgrading gcc or upgrading CUDA to a version that supports gcc 9 (not sure if one exists tho)

[2022-04-08 15:54] #75515 closed

[2022-04-08 15:56] songyuc commented on #75497
I expect that this new function can accept the transformation string as the argument.

[2022-04-08 15:59] #60190 closed

[2022-04-08 16:14] IvanYashchuk commented on #75494
`pinverse/pinv` just calls `torch.linalg.svd` underneath. There were several updates to SVD to rely on a faster, but less robust Jacobi-based algorithm. Related PRs: https://github.com/pytorch/pytorch/pull/48436, https://github.com/pytorch/pytorch/pull/64533. The fact that the number of failures on the CPU didn't change significantly, I'd say that either 48436 or 64533 are the root causes of the p

[2022-04-08 16:15] Lezcano commented on #75497
Would the following code do the trick?

[code]

[2022-04-08 16:18] zrion commented on #75515
Thanks for responding. I downgraded gcc to v4.9 and had this interruption while building:
[code]

Is this also because of gcc version? Which one would you recommend to build.
Thanks a lot.

[2022-04-08 16:27] seemethere commented on #75482
cc @atalman could this be related to the AMI update?

[2022-04-08 16:29] Lezcano commented on #75494
Even more, the latter PR (https://github.com/pytorch/pytorch/pull/64533) just fixes a convergence problem. I'd be looking at https://github.com/pytorch/pytorch/pull/48436 as the one that introduced this issue.

On a different note, it is worth noting a few things about the reproducer (although this may or may not be relevant for your particular use case):
- Whenever possible, it's better to use `l

[2022-04-08 16:31] kumpera commented on #75442
This is the expected behavior of DataParallel. Only tensors are slices and everything else is replicated.

You can work around this with something like the following in your forward pass:

[code]

[2022-04-08 16:31] #75442 closed

[2022-04-08 16:34] songyuc commented on #75497
I think a tuple or list comprehension might be better than a dict one.

[2022-04-08 16:35] Leo-Hsu-Design-Student commented on #926
May I ask why this work for ''import torch''?
thank you!

[2022-04-08 16:36] Lezcano commented on #75497
Agree, I just simplified the code to be a couple lines. Does this solve this issue?

[2022-04-08 16:42] songyuc commented on #75497
This implementation does realize the the case mentioned, however, which might be a little unconcise. Besides, the original operation in einops is more powerful, like "n c h w -> n c (hw)".

[2022-04-08 16:50] thiagocrepaldi commented on #69674
By using a dummy it does work, but it needs a fix that I was already working.
Basically, some constants have `value_z` attribute as opposed to `value_t`.
Seems a Caffe2 thing, but other tests fail without that.

[code]

[2022-04-08 17:23] #75098 closed

[2022-04-08 17:47] ezyang commented on #74400
Add a new underscored function to native_functions.yaml. Underscore because we need to decide what the permanent status of wrapped number is going to be.

[2022-04-08 17:47] ezyang commented on #75419
ya same idea

[2022-04-08 17:52] wannieman98 commented on #74341
I'll have a draft PR by this weekend!

[2022-04-08 18:00] drisspg commented on #75411
Tried replicating this on my m1 arm machine and unable to:
[code]
[code]
ENV:
[code]

[2022-04-08 18:00] abhishinde24 commented on #74341
I'll have a draft PR by this weekend!

[2022-04-08 18:19] albanD commented on #75411
@CNTRYROA any chance you could check if you still observe this in the latest release?
I don't think any core dev is running linux arm machine, so it might be hard for us to investigate.

[2022-04-08 18:25] ngimel commented on #75510
Sorry, I don't see where's a contradiction here. "view" means using the same storage, "permute" is always a view, semantics of "permute" and "reshape" operations is different.
Defining when exactly a tensor can be viewed is not trivial, a detailed description of "contiguous subspaces" is needed (and we are not even implementing it exactly right anyway), but current docs are doing a decent job.

[2022-04-08 18:30] kshitij12345 commented on #75309
No. All inputs should have same dtype.

[2022-04-08 18:39] kumpera opened #75529 "Data race and unaligned access in TensorImpl"
### 🐛 Describe the bug

We ran into this TSAN data race:
[code]

Upon inspection of the code there are a few issues that are worth considering.

It's an unaligned access. While this is fine on most arch's, there are still CPUs out that that will either trap, misbehave and, most likely, be slower at accessing it. Luckily there's no cache-line tear but the risk is there.

This is a bitfield that is

[2022-04-08 18:49] atalman opened #75532 "Remove conda-forge dependency for cuda 11.5, 11.6"
### 🐛 Describe the bug

Here is the one example of the conda-forge dependency  [binary_linux_test](https://github.com/pytorch/pytorch/blob/master/.circleci/scripts/binary_linux_test.sh#L56)

We would want get rid of this. If conda-forge not used we get following error:

[code]

### Versions

CUDA 11.5
CUDA 11.6

cc @ngimel @seemethere @malfet @pytorch/pytorch-dev-infra @ptrblck

[2022-04-08 19:07] nikitaved commented on #75510
Right, but `reshape` on a contiguous tensor is always a view, even if we reshape with perturbed dimensions, this does not hold for non-contiguous tensors.

[2022-04-08 19:09] SN4KEBYTE opened #75534 "Unable to install pytorch with pip on macOS Monterey 12.0.1 (M1 chip)"
### 🐛 Describe the bug

I'm trying to install pytorch using pip:
```python -m pip install torch```

The error:
[code]

### Versions

PyTorch version: N/A
Is debug build: N/A
CUDA used to build PyTorch: N/A
ROCM used to build PyTorch: N/A

OS: macOS 12.0.1 (arm64)
GCC version: Could not collect
Clang version: 11.1.0
CMake version: version 3.21.2
Libc version: N/A

Python version: 3.8.12 (default, A

[2022-04-08 19:13] jjsjann123 commented on #75282
Realized that failing tests are caused by `reshape` in fusion group.

We have disabled `view` in fusion due to some known codegen challenges. `Reshape` behaves similarly and should have been disabled as well, this was an oversight on me. I verified locally that doing so seems to resolve the issue (and of course there's no fusion any more for the failing cases).
I'll kick off a PR to disable `Resha

[2022-04-08 19:24] kumpera commented on #75512
I added a `time.sleep(10)` at the end of `main_worker` to ensure that this is not racing with shutdown and it does indeed fail to work.

@jiayisuse do you have an idea of what's the issue here?

[2022-04-08 19:42] jwohlwend commented on #68735
@kwen2501 I'm happy to report that turning off both AMD SVM (virtualization) and IOMMU in the BIOS did the trick! It turns out that this issue wasn't about the A100's specifically but something to do with the AMD CPU's (did not happen on our intel based setups). Super grateful for the help, thank you!

[2022-04-08 19:42] #68735 closed

[2022-04-08 19:46] duskvirkus commented on #74341
Who ever ends up working on this if it's not too hard maybe including windows reserved file names (like con and aux) for and file names beginning '-' or '--' (cause problems on unix based systems) in when running ci. Don't know if this would bloat the scope of this issue but seems like the goal is not to break compatibility between os. I know first hand that it's very frustrating if you can't clon

[2022-04-08 20:05] zhaojuanmao commented on #75373
you are right, this proposal can not prevent hang in the first iteration. When there is hang in the first iteration, it will become the same problem as DDP: there should be some desync happened, in this case hang and timeout will crash the process, and "TORCH_DISTRIBUTED_DEBUG=DETAIL " can help debug this, right?

but this proposal can help surface the accuracy issue when the executor order is not

[2022-04-08 20:06] duskvirkus commented on #75470
I can attempt to replicate this weekend and see if I can narrow down the problem.

[2022-04-08 20:07] #75508 closed

[2022-04-08 20:07] #74995 closed

[2022-04-08 20:08] desertfire commented on #74565
There is some issue with the benchmark, see https://github.com/pytorch/benchmark/issues/328.

[2022-04-08 20:15] albanD commented on #74831
Hi,

I don't think there is anything new beyond my comment above.
The code sample you share does have the expected behavior: if `y` is still in scope, then it keeps the autograd graph alive and thus the hook.
As mentioned above, we could clean these buffers earlier. We need to make sure we get the right behavior when multiple backward are involved though. If you're interested in contributing this

[2022-04-08 20:22] #74303 closed

[2022-04-08 20:27] #74453 closed

[2022-04-08 20:27] albanD commented on #74890
@LemonPepperSeasoning could you send a PR updating the gitignore file with this please?

[2022-04-08 20:27] vadimkantorov commented on #65156
Will it return back the padding information in some compact nice form? Or allow to compose a padding mask? It's often useful (since often padding / unpadding are needed in various parts of model)

Hmm, I see, so it's always copying. I guess for foreach methods nestedtensor supporting no-copy would be nice too (as it's already the case)

[2022-04-08 20:52] cpuhrsch commented on #65156
@vadimkantorov - we can return a NestedSize. It would look like this.
[code]

Next to `to_padded_tensor` we could also add a `to_tensor_mask` to generate a (padded, mask) tuple or `to_mask` to just return the mask (which we already have, just not publicly).

We can use the recycle the foreach kernels for various NestedTensor operations. Which operations do you need?

I agree that a `divisible_by`

[2022-04-08 20:54] albanD commented on #74806
So you should actually be able to have the main object be a list of Tensors. Like the test above could do `tensor = [None]*5` and will work just fine.

It is not, it is just a side effect of advanced indexing of cloning. You could do ` tensor[2] = op(tensor[0].clone(), tensor[1].clone())` in the first example to get the same behavior

[2022-04-08 21:15] vadimkantorov commented on #65156
It seems that divisible_by needs not any new special types. This kind of processsing already exists in detectron2 and all other vision frameworks. I also think that to_padded_tensor could be better served by a more generic `pad` method that can accept flexible padding options (pad left, pad right for each dim, type of padding)

[2022-04-08 21:20] desertfire commented on #73966
Setting --allclose_atol from 1e-4 to 1e-3 will make Super_SloMo and fastNLP_Bert.

Setting --allclose_atol  to 1e-2 will make opacus_cifar10

[2022-04-08 21:47] jjsjann123 commented on #75371
Not really a solution but #75539

[2022-04-08 21:55] zrion opened #75541 "Linking failed when building pytorch from source"
Hello,

I'm trying to build pytorch from source on Ubuntu 18.04 (with CUDA 10.2, Cmake 3.23.0, gcc 7.3.0) and ran to this linking error:
[code]

I have ```libcublas.so.10``` locate in ```/use/lib/x86_64-linux-gnu/``` and I already inserted this line to ```~/.profile```:

```export CUDA_cublas_LIBRARY=/use/lib/x86_64-linux-gnu/libcublas.so.10```

But the problem still persists. What should I do to

[2022-04-08 22:10] jjsjann123 commented on #75088
Having the repro, digging into this one

[2022-04-08 22:17] ngimel commented on #75088
it's here, https://github.com/pytorch/pytorch/blob/1fc2f4cc31178ef732483b4363b6a640d68d49b1/torch/csrc/jit/codegen/cuda/runtime/helpers.cu#L110, clamp incorrectly substitutes FLT_MIN/FLT_MAX for non-specified values, and thus infinities are not propagated correctly.
Similar things could be happening in other places with respect to nan/inf propagation

[2022-04-08 23:01] xwang233 commented on #75494
Thanks for raising this issue. I think it's because we're changing the SVD driver from 1.4 to 1.10. The current default SVD algorithm gesvdj generally doesn't work well for large size matrices. We'll try to adjust the heuristics to get a balance between performance and accuracy.

[2022-04-08 23:03] xwang233 commented on #75391
Cusolver eigenvalue solver fixes will be integrated in cuda 11.7

[2022-04-08 23:39] malfet commented on #75534
Hmm, this is strange, can you please try downloading and installing https://files.pythonhosted.org/packages/7c/bc/c5ada769b0f31ca1b7f05e15575703641d648100ac432a182e350076e64d/torch-1.11.0-cp38-none-macosx_11_0_arm64.whl directly?

[2022-04-09 00:07] eellison commented on #75464
Does this need to work with autodiff as well ? What is the expected behavior with respect to non-fusable ops like matmul, as opposed to missed fused operators ? It might at present be difficult to correct classify missed fused operators vs unfusable ones / compute bound ones

[2022-04-09 01:05] wuzuowuyou commented on #74014
i try,  and as follows,
[code]
But the mistake remains.
so,what can i do?
I've run away.

[2022-04-09 01:28] turtleizzy commented on #75494
Sadly I couldn't locate #48436 on [release notes](https://github.com/pytorch/pytorch/releases?page=1).
A deep search revealed that the related commit 186c3da was likely merged after v1.8.0, so I tested on v1.7.1.
[code]
So this result confirmed #48436 to be the cause of this issue.

Thank you so much for your comment. `pinv` was necessary in my use case because matrix `A` can be eventually boiled

[2022-04-09 01:43] bmwshop commented on #75470
withdrawn; this does not appear to be an issue with pytorch.

[2022-04-09 01:43] #75470 closed

[2022-04-09 01:52] turtleizzy opened #75549 "`torch.linalg.lstsq` raises `CUBLAS_STATUS_EXECUTION_FAILED` for large `B` in CUDA tensors"
### 🐛 Describe the bug

`torch.linalg.lstsq` raises `CUBLAS_STATUS_EXECUTION_FAILED` for large `B` in CUDA tensors but not `torch.lstsq`.

### Code to reproduce

[code]

### Versions

pytorch 1.10.1+cu113
[code]

[2022-04-09 02:08] #75541 closed

[2022-04-09 02:12] zrion opened #75551 "Undefined reference while building libtorch_cpu.so"
Hello,

Like title, I ran into the undefined reference error while building pytorch with the latest commit:
[code]
I compiled with gcc 7.3.0 and CUDA 10.2, on ubuntu 18.04. Does anyone has any ideas why the linking fails?

[2022-04-09 03:09] ezyang opened #75554 "torch.overrides testing is not catching people adding new kwargs and not passing on to handle_torch_function"
### 🐛 Describe the bug

In  https://github.com/pytorch/pytorch/pull/75484 I detected several cases where people added new kwargs to functions that supported `__torch_function__`, but forgot to send those arguments to `handle_torch_function`. Our current `test/test_overrides.py` testing is insufficient to catch these cases as the functions are never exercised with these new arguments. I found these

[2022-04-09 03:25] tlringer commented on #75240
(The reason I ask about the above is that it appears that, with identical loss, on fixed hardware, with a fixed random seed, with everything set to be as deterministic as possible, we are getting different gradients---@timothytmzhou is looking into this more to determine what is happening, but it is really difficult to debug the code. It seems to happen after the call to `backward`, which looks to

[2022-04-09 04:27] SN4KEBYTE commented on #75534
Still getting an error:
```ERROR: torch-1.11.0-cp38-none-macosx_11_0_arm64.whl is not a supported wheel on this platform.```

[2022-04-09 04:47] kat25230 opened #75556 "[JIT] `torch.jit.ignore` is not working on hooks"
### 🐛 Describe the bug

Adding `torch.jit.ignore` on hooks doesn't seem to work. It throws the same error with and without the decorator. See this short code snippet for reproduction:

[code]

Error:
[code]

### Versions

Collecting environment information...
PyTorch version: 1.11.0
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: macOS 11.4 (x86_64)
GCC

[2022-04-09 05:58] ngimel commented on #75240
@tlringer have you tried [set_deterministic_debug_mode](https://pytorch.org/docs/master/generated/torch.set_deterministic_debug_mode.html?highlight=set_deterministic#torch.set_deterministic_debug_mode)? It won't warn on cumsum yet (cc @kurtamohler to add the warning) because we didn't realize it's nondeterministic, but it should flag other operations known to be non-deterministic.

[2022-04-09 06:05] ptrblck commented on #75500
@jaysonph I cannot reproduce the issue with `1.11.0+cu113` so far on Pascal GPUs, but also don't have access to a 1080Ti yet.
Could you install the nightly binaries and check if you are still hitting the issue, since we've recently updated cuDNN to 8.3 and based on the raised error I would assume cuDNN fails to execute the workload.

[2022-04-09 06:18] ptrblck commented on #75549
Thanks for reporting the issue. I'm able to reproduce the cublas error and will forward the logs to our internal cublas team.

[2022-04-09 06:31] ptrblck commented on #75532
I agree that mixing different channels is not the desired path.
The dependency conflict is btw. also raised for the `cuda` conda binary.

I'm happy to forward this issue and check if we could either relax these dependency or move the required packages.

[2022-04-09 07:11] endernewton commented on #75551
I had a similar issue when compiling on GPU, switching to gcc 8.4 solved the problem.

[2022-04-09 07:32] thunderstudying commented on #2482
Maybe lower num_workers may help.

Causation: When memory usage is close to 100%, this Error is likely to occur, so just take care of memory usage can avoid this error.

[2022-04-09 10:15] StalVars commented on #51349
In my case, I also observed that 'set_detect_anomaly(True)' makes the forward pass much slower.

[2022-04-09 10:16] LarsHill commented on #39250
The issue still persists and is quite annoying when comparing multiple runs with different hyperparameter setups. Is there any plan to fix this or is there a known workaround?

[2022-04-09 11:46] #74806 closed

[2022-04-09 12:11] timmywanttolearn commented on #75512
Sure if you add something to wait will cause the right result. But why nccl backend does not has this issue, there should be no differences

[2022-04-09 13:12] zenetio commented on #74016
I am facing the same issue while training my YOLOV5 model.
`Exception ignored in: <function StorageWeakRef.__del__ at 0x00000248E64DF700>
Traceback (most recent call last):
  File "miniconda3\envs\yo1\lib\site-packages\torch\multiprocessing\reductions.py", line 36, in __del__
  File "miniconda3\envs\yo1\lib\site-packages\torch\storage.py", line 520, in _free_weak_ref
AttributeError: 'NoneType' obj

[2022-04-09 15:26] ezyang opened #75562 "clang-tidy "error: do not use const_cast" cppcoreguidelines-pro-type-const-cast is counterproductive"
### 🐛 Describe the bug

When interfacing with the CPython API, we frequently need to interact with functions that incorrectly take `char*` when they actually respect `const char*`. It is standard to cast a const char* to char* in this situation. There are two ways you can do it: you can do an unsafe C-style `(char*)` cast (this is unsafe because it will happily convert anything you give it to char

[2022-04-09 15:34] deepanshu650 commented on #75265
@soulitzer yes i am able to run it in colab. I am able to run it in AWS sagemaker as well.
But not in my local machine.

[2022-04-09 15:36] ezyang commented on #75529
This is valid. Note that the `owns_pyobj_` bitfield setting is protected by the GIL, so the problem is that there are other non-GIL protected fields which are accessed here. I'm thinking maybe we can move the bit into `pyobj_` (making it a tagged pointer), which is already a GIL protected field, so we can avoid inflating TensorImpl size.

[2022-04-09 15:54] ezyang opened #75565 "make lint should advertise make setup_lint"
### 🐛 Describe the bug

If `make lint` fails because not enough tools are installed, it should tell the user to run `make setup_lint`

### Versions

master

[2022-04-09 15:55] ezyang opened #75566 "CI should advertise `make lint`"
### 🐛 Describe the bug

When lints fail, the CI should tell the user that they can check lints locally by running `make setup_lint; make lint` so that they get in the habit of running this before submitting.

### Versions

master

cc @seemethere @malfet @pytorch/pytorch-dev-infra

[2022-04-09 15:56] ezyang opened #75567 "Smart make lint ala arc lint"
### 🐛 Describe the bug

make lint takes a pretty long time to run on my machine. This is because it is linting all files in PyTorch, and our tools (flake8, mypy) are not particularly fast. `arc lint` at Facebook takes a different approach: it only runs lint on files that changed for the current diff. We should provide this capability.

### Versions

master

cc @malfet @seemethere

[2022-04-09 16:08] ezyang opened #75568 "mypy typing strategy for Tensor-likes (`__torch_function__`)"
### 🐛 Describe the bug

Presently, most functions advertise that they accept Tensors. This, strictly speaking, is a lie, as most function support `__torch_function__` overrides. However, it is an admirable lie; most people would prefer to see that a function takes Tensor (and only if they were working on a non-Tensor-subclass `__torch_function__`, would they find the information of whether or not

[2022-04-09 19:08] scratchmex opened #75577 "Cannot use proxy because of urllib: `urlopen error Remote end closed connection without response`"
### 🐛 Describe the bug

[code]

Basically what is happening is that I have set up `http[s]_proxy` environment variable for `urllib` to use it, and it is. The problem is that is not using the `keep-alive` header and the server is prematurely dropping the connection. If I use `requests` module it works just fine. If you do `urllib.request.urlopen("https://github.com/")` it will be the same error.

[

[2022-04-09 19:10] tesfaldet commented on #75240
Sounds related to what I experienced with [checkpoint_sequential](https://twitter.com/mattierialgirl/status/1512483082309451782?s=20) the other day.

[2022-04-09 19:50] zrion commented on #75551
Th

[2022-04-09 19:50] #75551 closed

[2022-04-09 21:29] MrDaniLLka opened #75579 "'torch.nn.quantized' has no attribute 'FloatFunctional'"
### 🐛 Describe the bug

Running [quantization tutorial](https://pytorch.org/tutorials/advanced/static_quantization_tutorial.html) on Windows 10 x64 errors and i get an error in class InvertedResidual: AttributeError: module 'torch.nn.quantized' has no attribute 'FloatFunctional'

### Versions

StatusCode        : 200
StatusDescription : OK
Content           : from __future__ import print_function

[2022-04-10 00:15] lexming commented on #72516
@davidberard98 I run the test with `TORCH_SHOW_CPP_STACKTRACES=1` but it did not generate any additional output
[code]

My original report used a shared filesystem (GPFS), which might have had a role due it's higher latency, but it's not the case. I also ran this test on a more traditional setup using a local filesystem and the detection of the highlight still fails.

Let me know if there is anyth

[2022-04-10 03:59] stas00 commented on #69666
This issue has been resolved by adding `-lcurand` to the linker command, so closing this.

[2022-04-10 03:59] #69666 closed

[2022-04-10 05:29] yoshikimiki commented on #74876
I've seen a few comments where [PyTorch supposedly speeds up on serverless setups](torch.set_num_threads(1)) from setting the number of threads to 1. Is this true?

The main reason why I wanted to use this feature was to try to obtain this speedup. If it is true, is there another way to set this value? I can see that it still somehow using the number of available cores. Thanks.

[2022-04-10 08:44] nkaretnikov commented on #74489
hello, any update on this?

[2022-04-10 09:33] felixdivo commented on #74415
I think the problem on Windows is slightly different. It seems like tha path is not assembled correctly (mixing `/` and `\`):

[code]

[Added line breaks for readability]

[2022-04-10 13:26] MohamedAliRashad opened #75582 "Add `balance` flag to `random_split`"
### 🚀 The feature, motivation and pitch

It will be much easier to add a balance flag tp `random_split` for balancing between classes and not needing to go to `Sampler` or `train_test_split` from `sklearn`.

### Alternatives

`Sampler` or `train_test_split` from `sklearn`

### Additional context

Just make it for me, please ^^

[2022-04-10 18:47] chen-little-tom commented on #75534
sorry, it can't work!

[2022-04-10 18:47] tlringer commented on #75240
Thanks, @ngimel. Setting that mode did not flag anything. I'll let you know if learn anything else about what is happening and whether or not it is related.

[2022-04-10 23:13] hannahsalameh commented on #73930
Hello! I am a beginner to contributing and would like to take this bug up. Is there any relevant resources that could help me that I could be pointed to?

[2022-04-10 23:22] hannahsalameh commented on #72257
Hello!  I am a beginner to contributing and would like to work on this issue.

[2022-04-10 23:32] davidrzs commented on #67864
Sorry for my late reply. Have been quite busy lately. @ekhahniii yes, with busy I mean other users / other jobs by other users or myself. We have a cluster with 8 GPUs per compute node. So there are often cases when multiple jobs (up to 8) are scheduled onto the same node (cluster runs slurm).

Reverting to PyTorch 1.8 has solved the issue for me, but once the cluster is less busy, I might be able

[2022-04-11 00:51] HaoZeke opened #75586 "`mm`"

[2022-04-11 01:41] #74890 closed

[2022-04-11 01:43] anjali411 commented on #72360
addr's JVP computation uses outer in it's computation which in turn uses mul which has been short circuited for ZTs

JVP benchmark for `torch.addr` shows 5-10x perf gain across all sizes on CPU
[code]

[2022-04-11 01:43] #72360 closed

[2022-04-11 03:49] pytorch-bot[bot] opened #75591 "DISABLED test_pointwise_op_fastpath__foreach_addcmul_cuda_int32 (__main__.TestForeachCUDA)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](http://torch-ci.com/failure/test_pointwise_op_fastpath__foreach_addcmul_cuda_int32%2C%20TestForeachCUDA) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/5965038361).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 1 red and 3 green.

cc @crcrpar @

[2022-04-11 06:19] kshitij12345 commented on #75503
This line throws the error
https://github.com/pytorch/pytorch/blob/bcf6974c207ac0339bfb8bdfdb0b0ec348f7a22f/torch/csrc/autograd/python_variable.cpp#L1433-L1436

[2022-04-11 06:33] CNTRYROA commented on #75411
@albanD  I change the compiler from `GCC version: (Ubuntu/Linaro 7.5.0-3ubuntu1~18.04) 7.5.0` to `clang version 10.0.0-4ubuntu1~18.04.2`. The problem has been solved. My Pytorch version is 1.10.0.
So It maybe is the problem of GCC.
[code]

[2022-04-11 07:07] mruberry commented on #74415
cc @ptrblck

[2022-04-11 07:56] ledhieu commented on #17023
adding **--no-cache-dir** works for me
 mine was: pip install torch torchvision -f https://download.pytorch.org/whl/torch_stable.html --no-cache-dir

[2022-04-11 08:12] fatcat-z commented on #75428
The returned results of ONNX::Less op is different than aten::minimum, actually ONNX::Min is the correct one.

This is being tracked internally by Microsoft at https://msdata.visualstudio.com/Vienna/_workitems/edit/1742314.

[2022-04-11 10:25] pearu commented on #74916
As follows from https://github.com/pytorch/pytorch/pull/75023 (below called as the "current state"), SparseCsrTensorImpl holds 4 layouts to represent CSR, CSC, BSR, and BSC sparse tensors.The corresponding tensors can currently be constructed using CSR tensor factory function:
[code]
where in `layout=...` one can specify `sparse_csr`, `sparse_csc`, `sparse_bsr`, or `sparse_bsc` (prefixed with `tor

[2022-04-11 10:53] Harimus opened #75595 "Inference mode throws RuntimeError for `torch.repeat_interleave()` for big tensors"
### 🐛 Describe the bug

I think this bug is related to issue: #70177 and #60539 for `torch.inference_mode()`.

When running `torch.repeat_interleave` function on big tensors inside `with torch.inference_mode():` block if causes the RuntimeError:

Below is a python interactive quick example to replicate the bug: (Edit: Running without CUDA or GPU)

[code]

### Versions

Collecting environment infor

[2022-04-11 12:36] sriveravi commented on #39250
I believe the issue has been fixed. On the left, you need to scroll down and check the appropriate boxes. It will default to a smaller subset if you change the parameter sets.

[2022-04-11 14:29] janeyx99 commented on #74341
@abhishinde24 @wannieman98 did either of you get a chance to work on this?

[2022-04-11 14:43] ejguan commented on #74014
TBH, I think this question should be asked in https://github.com/inducer/pycuda.
Have you tried to run a for loop function to iterate over your Dataset using multiprocessing. If the Error persists, I believe it's the problem about how pycuda interacts with multiprocessing.

[2022-04-11 14:50] janeyx99 commented on #74326
@nik1097 when do you think you could have a draft PR by? Since @asmita410 hasn't worked on this in the last 2 weeks, I think you can go for it!

[2022-04-11 14:56] shinh opened #75597 "ONNX: ones_like may result in a large ONNX"
### 🐛 Describe the bug

Torch functions which can be represented by `ConstantOfShape` op are expanded to `Constant` op. This happens even with `do_constant_folding=False`. Here is an example script:

[code]

With torch 1.9, it output `['Shape', 'ConstantOfShape', 'Add'] 210` but with 1.10 and 1.11, it output `['Constant', 'Add'] 400000XXX`.

Even worse, this may make ONNX export fail due to the 2G

[2022-04-11 15:00] kumpera commented on #75529
Thanks for looking into this. While access rules are mentioned on comments, it would be great if those would be enforced on sanitizer runs. For example:

[code]

Where `PTSAN_MUST_HOLD_GIL` expands to a GIL check under a sanitizer build.
We could even use the capabilities clang annotations to have some of this being enforced at compile time.

[2022-04-11 15:15] soulitzer commented on #75503
It's possible to avoid this error by disabling `__torch_function__` for the subclass. Logging Tensor doesn't work, but something like the following might:

[code]

[2022-04-11 15:17] zou3519 commented on #75503
@kshitij12345 and I were wondering if this is expected.

It sounds like this isn't expected and we do indeed want `make_dual` to work with primal is a Tensor and tangent is a Tensor subclass. Furthermore, the UX we want is that the user shouldn't have to do anything special to make this work. Does that sound right, @soulitzer ?

[2022-04-11 15:33] zou3519 commented on #75503
@kshitij12345 -- for composite compliance testing, does it work if we disable torch_function (like in https://github.com/pytorch/pytorch/issues/75503#issuecomment-1095182250) ?

[2022-04-11 15:45] Lezcano commented on #75494
If the matrix comes from the user and you just want to account for the case when it might be singular, I would still use `linalg.inv` (or `linalg.solve`) first wrapped in a try-catch, and then fallback to `linalg.pinv` if that operation has failed.

Again, this is unrelated to this issue. We should have a look at the defaults that we're using here to avoid hitting these issues as much as possible.

[2022-04-11 16:05] cpuhrsch commented on #75464
@eellison - or did you mean something else?

[2022-04-11 16:09] tgolsson commented on #75534
I just went through a dig; it looks like there's just no published wheels for Monterey/OSX 12.x -- neither to PyPi nor anywhere on https://download.pytorch.org/whl. I'm guessing it needs to be handled here: https://github.com/pytorch/builder/blob/main/wheel/build_wheel.sh#L104

[2022-04-11 16:22] vitrioil commented on #75177
I can work on this.

@albanD I was just checking this. It throws this error:
[code]
Followed by a huge dump.

It comes from [inline_container.cc](https://github.com/pytorch/pytorch/blob/3001bda3042eaee01f2e8c4b7b28da74b3566065/caffe2/serialize/inline_container.cc#L341).

This change comes from here: #44266

This seems to be the desired behaviour to avoid double exception. If I comment this [line](

[2022-04-11 16:26] obilaniu commented on #67864
@davidrzs It turns out this bug is one of those you can work around with just an `LD_PRELOAD` of a suitable patch. I made a Gist [here](https://gist.github.com/obilaniu/b133470cb70410d841faca819d3921e5) with the compile instructions inside.

[2022-04-11 16:28] #75482 closed

[2022-04-11 16:41] eellison commented on #75464
And do you have the original code ? (not just the sped up code)

[2022-04-11 16:43] garymm commented on #75100
Same request from @lutzroeder to make visualizing structure in Netron possible.
Basically, what TensorFlow is doing. Nodes are named "module1/submodule2/nodename_x" and the "/" are interpreted by Netron as hierarchy.

[2022-04-11 16:49] conceptofmind opened #75598 "amax to ONNX opset version 12 is not supported"
### 🐛 Describe the bug

Amax operator used in model architecture:

`sim = sim - sim.amax(dim=-1, keepdim=True).detach()`

Attempt to export Onnx/PyTorch model:

[code]

Error:

RuntimeError: Exporting the operator amax to ONNX opset version 12 is not supported. Please feel free to request support or submit a pull request on PyTorch GitHub.

### Versions

Collecting environment information...
PyTor

[2022-04-11 16:50] eldarkurtic opened #75599 "kthvalue 20x slower than sort"
### 🐛 Describe the bug

An example task: find 2nd smallest element in a huge tensor on a cuda-device.

1) First approach via `torch.sort`:
[code]
2) Second approach via `torch.kthvalue`:
[code]

I would expect much better running time of the `kthvalue`, especially when `k` is as small as `2`.

### Versions

Collecting environment information...
PyTorch version: 1.11.0
Is debug build: False
CUDA us

[2022-04-11 16:54] cpuhrsch commented on #74916
@pearu  - For the purposes of this PR let's follow existing conventions. To the first point, let's go with option 2. To the second, let's go with option 2. However, let's add a leading underscore to these functions and open up a separate discussion around a unified API for these various compressed layout. In particular, could I ask you to open a separate feature proposal for option 4?

[2022-04-11 17:05] cpuhrsch commented on #75464
Yes, the original code is [here](https://github.com/e3nn/e3nn/blob/main/e3nn/o3/_spherical_harmonics.py#L184-L456) (linked under [ridiculously fuseable code](https://github.com/e3nn/e3nn/blob/main/e3nn/o3/_spherical_harmonics.py#L184-L456) above)

[2022-04-11 17:07] seemethere commented on #75566
I know @suo was working on a lint runner for this

[2022-04-11 17:10] gchanan commented on #75224
I'm not sure if I'm reading this correctly -- is `state[step]` floating point?  Or what is `param` here?

[2022-04-11 17:14] soulitzer commented on #75497
From triage review: we would like something like this, but it should be in Python
@ngimel this is more powerful than reshape and could potentially be a footgun
@mike we'll allow it but if doesn't return a view, then we'll error

[2022-04-11 17:24] cpuhrsch commented on #65230
@alvinsun724 - could you try upgrading to the latest version of PyTorch? I also updated your issue description to use backticks instead of double quotes for code highlighting, which I think makes it easier to read.

[2022-04-11 17:29] tgolsson commented on #75534
There seems to be hints of that! I'm not a Mac user, I was investigating a similar issue based on a bug report from a user, and then found this topic. That kind of backwards/forwards compatibility is mentioned specifically only on the `pip download` documentation page. I'll try to verify with the original reporter.

[2022-04-11 17:30] albanD commented on #75177
The original report is on Windows, it might be that error handling is not working as smoothly there.
If you have a simple place to add such a test if the folder exists, then that would be great!

[2022-04-11 17:37] mikaylagawarecki commented on #75224
`param` is the parameters that the optimizer is optimizing (like the weights). If the `param` is floating point all tensors in the optimizer state dict are casted to the device and dtype of the param, so changing `state['step']` to a tensor caused it to be cast to XLA/CUDA

[2022-04-11 17:42] kumpera commented on #75213
Should we handle this as a log post-processing or a runtime problem?

Post-processing all logs of a job and produce a single, unified, log of PT operations could help people debug issues way beyond this. The advantage of this approach is the minimal impact on production performance (we might have to generate richer / more frequent logs) but comes with a higher operational cost.

Handling this at r

[2022-04-11 17:46] janeyx99 commented on #75566
2 solutions:
- add note to lint workflows or Dr. CI
- use lint runner

[2022-04-11 18:09] garymm commented on #69674
I'm guessing this was closed on accident

[2022-04-11 20:17] ngimel commented on #75599
cc @zasdfgbnm @yueyericardo

[2022-04-11 20:56] mostafarohani opened #75619 "`all_gather_object` not working with NCCL Backend"
### 🐛 Describe the bug

The below code works perfectly fine with the `gloo` backend
[code]

However, with `nccl` as the backend, it gives the error
[code]
<img width="1199" alt="Screen Shot 2022-04-11 at 1 50 31 PM" src="https://user-images.githubusercontent.com/8623092/162830430-97fef69e-5899-48d3-9e6e-5e124458ffce.png">
<img width="1017" alt="Screen Shot 2022-04-11 at 1 49 30 PM" src="https://us

[2022-04-11 21:06] janeyx99 commented on #56396
Documentation would be done in: #75620

[2022-04-11 21:25] garymm opened #75621 "[ONNX] Export embedding_bag with 2d input"

[2022-04-11 21:31] ngimel opened #75622 "NVFuser incorrectly computes max for extremal values"
[code]

[2022-04-11 21:33] garymm opened #75623 "[ONNX] `ONNX_ATEN_FALLBACK` supports ONNX Runtime"
Previously setting `operator_export_type=OperatorExportTypes.ONNX_ATEN_FALLBACK` produed a model that was only usable by Caffe2.
This issue tracks work to make it usable by ONNX Runtime as well.

[2022-04-11 21:39] davidberard98 commented on #73395
Sounds like it hasn't failed after #75340 , so probably it's been fixed.

[2022-04-11 21:39] #73395 closed

[2022-04-11 21:40] jjsjann123 commented on #75089
Turns out I never pushed the `comment` button.

This one should have been addressed on our last upstream push (https://github.com/pytorch/pytorch/pull/73627/files#diff-9a369e3147d7eb6a66c7ced126ada0a68e2cdf34e6e677b6e17135ed2abd4e60R125-R129) and I'm not seeing it repro on master.

I'm closing this one.

[2022-04-11 21:40] #75089 closed

[2022-04-11 21:56] jjsjann123 commented on #75622
This one is really surprising.

[2022-04-11 22:01] #74612 closed

[2022-04-11 22:09] xwang233 opened #75624 "[build] File `torch/csrc/lazy/generated/README.md` gets cleaned by `python setup.py clean` but it's tracked by git"
### 🐛 Describe the bug

File `torch/csrc/lazy/generated/README.md` gets cleaned by `python setup.py clean` but it's tracked by git.

Every time I started a clean build with `python setup.py clean`, this file gets removed (from .gitignore) and my `git status` shows a deleted file.

### Versions

master

cc @malfet @seemethere

[2022-04-11 22:12] malfet commented on #75624
cc: @wconstab who added those files as part of https://github.com/pytorch/pytorch/pull/74850
Are they intend to be permanent? Or so, mind removing it from the clean target?

[2022-04-11 22:17] malfet commented on #75624
Looks like a oneliner - just exclude README.md from .gitignore

[2022-04-11 22:23] garymm opened #75625 "[ONNX] Support unit tests in scripting that we already support in tracing"
https://microsoft.sharepoint.com/:x:/r/teams/ONNX2/_layouts/15/Doc.aspx?sourcedoc=%7B2F53DDC4-54E9-488F-B5CB-C114937A3E90%7D&file=TorchScript%20Export%20Issues.xlsx&wdOrigin=OFFICECOM-WEB.MAIN.SEARCH&ct=1636674278879&action=default&mobileredirect=true&share=IQHE3VMv6VSPSLXLwRSTej6QAWZK7HjHmHw9xD4UMRwbV4U&cid=9094dc65-62dd-4898-86b4-84904add63f7

[2022-04-11 22:35] garymm opened #75627 "Move test/jit/test_onnx_export.py to test/onnx"
This file should be moved to the test/onnx dir:
test/jit/test_onnx_export.py

Perhaps combined with test/onnx/test_pytorch_onnx_no_runtime.py which is being added in https://github.com/pytorch/pytorch/pull/73284.

That will let us merge changes to that file without going through the PyTorch internal tests, and it will also just consolidate all the ONNX tests for easier discoverability.

[2022-04-11 22:39] salilsdesai commented on #74540
I am trying to add a scalar to a quantized tensor, and an exception is being thrown which links this issue. Is there a workaround for this that you recommend?

[2022-04-11 22:43] vasudev-sharma commented on #34704
Same issue

[2022-04-11 22:44] garymm opened #75629 "[ONNX] Fix or delete test_embedding_bag_dynamic_input"
[This test](https://github.com/pytorch/pytorch/blob/2b6726f0b77a3e7f64c3fd3c7e4f4d6d1976fed4/test/onnx/test_pytorch_onnx_onnxruntime.py#L6165) is always skipped. We should either fix it or delete it.

[2022-04-11 22:46] garymm opened #75630 "[ONNX] Make it obvious when a test failure is scripting vs tracing in test_pytorch_onnx_onnxruntime.py"
Today it's not clear from the error message nor test name whether the failure is in scripting mode or not.

[2022-04-11 22:48] garymm opened #75631 "[ONNX] Export should ensure both branches of if statement produce same type"
I found a case where I had to modify the model with extra type-casting to make it produce a valid output.

Particular code can be seen in _capacity function here:
https://github.com/microsoft/DeepSpeed/pull/1578/files

If I remove the `.to(int64)` from inside the if statement, the exported model has inconsistent types for the if and else branches.

[2022-04-11 22:51] #72674 closed

[2022-04-11 22:56] garymm commented on #75413
Should be fixed by https://github.com/pytorch/pytorch/pull/74856

[2022-04-11 22:56] #75413 closed

[2022-04-11 22:59] garymm opened #75633 "[ONNX] Remove reliance on broken behavior of list append"
We want to unblock this PR: https://github.com/pytorch/pytorch/pull/39536

[2022-04-11 23:01] tanmoyio commented on #74341
I am going to work on it today

[2022-04-11 23:02] garymm opened #75634 "[ONNX] Enable stacktrace print for TORCH_INTERNAL_ASSERT errors in export."
Using `TORCH_SHOW_CPP_STACKTRACES=1` shows more stacktrace for TORCH_INTERNAL_ASSERT errors.

An option is to set this when exporting with `verbose=True`.

[2022-04-11 23:04] garymm opened #75635 "[ONNX] Add API to torch.onnx to unregister custom ops"
Basically expose [this functionality](https://github.com/microsoft/onnxruntime/blob/19b82b4/tools/python/register_custom_ops_pytorch_exporter.py#L74). It's useful at least for unit tests, possibly other use cases as well.

[2022-04-11 23:10] tanmoyio commented on #75565
I would like to work on it @ezyang @malfet @seemethere

[2022-04-11 23:12] garymm opened #75636 "[ONNX] Run tests with ASan in CI"
To catch memory leaks [like this](https://github.com/pytorch/pytorch/pull/68210) and other memory issues.

[2022-04-11 23:15] garymm opened #75637 "[ONNX] automatic type checking during export inside autocast"
Currently when Autocast is enabled, type check for input arguments is disabled, which results in confusing error messages for the user during torch.onnx.export
One workaround is to manually write type check code for each symbolic by manually analysing its opsets/schemas
https://github.com/pytorch/pytorch/issues/72494 is an example of this approach.

However, a better way might be to leverage ONNX

[2022-04-11 23:16] garymm opened #75638 "Add list of supported prim/quantized ops by ONNX converter into torch.onnx page"
Follow up from https://github.com/pytorch/pytorch/pull/74397

[2022-04-11 23:56] denolf opened #75640 "cpu only pip3 install preview (Nightly) has CUDA dependency"
### 🐛 Describe the bug

After installing a cpu only version of the Preview (Nighlty) PyTorch Build using:
`pip3 install --pre torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/nightly/cpu`

and resulting in following packages being installed:

Collecting torch
  Using cached torch-1.10.2-cp36-cp36m-manylinux1_x86_64.whl (881.9 MB)
Collecting torchvision
  Using cached

[2022-04-12 00:29] ngimel commented on #60539
Can't repro on master, closing.

[2022-04-12 00:29] #60539 closed

[2022-04-12 00:30] aligirayhanozbay opened #75642 "Navi 21 GPU hang when passing wrong input to embedding layer"
### 🐛 Describe the bug

Passing an incorrect value to a `torch.nn.Embedding` layer (i.e. a value greater than the number of unique items an embedding layer is initialized to handle) causes a GPU reset/hang on AMD Navi 21 hardware installed in my system. My hardware specs are as follows:

CPU: Ryzen 5900X
GPU: Radeon 6900XT
RAM: 2x 16GB Crucial Ballistix 3600 CL16
SSD: Crucial MX500
Mobo: MSI X570

[2022-04-12 00:31] ngimel commented on #75595
Can't repro on master. Please reopen if still repros on 1.11/nightlies

[2022-04-12 00:31] #75595 closed

[2022-04-12 00:32] ngimel commented on #70177
Can't repro on master, please reopen with repro if still repros on 1.11/nightlies

[2022-04-12 00:32] #70177 closed

[2022-04-12 01:52] ezyang commented on #75529
This sounds doable. What is the correct macro to check if we are under TSAN sanitizer build

[2022-04-12 01:58] malfet commented on #75562
One can always suppress clang-tidy by adding `//NOLINTNEXTLINE(cppcoreguidelines-pro-type-const-cast)`, or perhaps we can suppress it for the entire file..

[2022-04-12 02:00] ezyang commented on #75562
Empirically, people will just opt for the far shorter C-style `(char*)` cast.

[2022-04-12 02:20] iyxv commented on #74016
I also had the same problem while training my model. This problem does not occur if the parameter of workers is set to 0

[2022-04-12 02:30] rohan-varma commented on #75619
cc @wanchaol Could this be related to the recent changes to `allgather` in NCCL backend?

[2022-04-12 03:15] jjsjann123 commented on #75622
same pitfall as with the others. Quick PR to patch it #75646

[2022-04-12 03:15] Sanster commented on #55277
Some possibly relevant links

- https://github.com/microsoft/onnxruntime/issues/9289
- https://forums.developer.nvidia.com/t/higher-memory-usage-ampere-compared-to-pascal/198966

[2022-04-12 03:21] bo-miao commented on #55277
The problem still has not been solved...

[2022-04-12 03:41] Sanster commented on #55277
I found that on different GPU, the memory occupied by initializing CUDA Session has **huge** difference

[code]

|torch|torchvision|GPU|GPU Memory(mb)|DIff(%)|
|-----|-----------|-----|------------------|-------|
|1.8.2+cu101|0.9.2+cu101|1080|721| 0 |
|1.8.2+cu111|0.9.2+cu111|3090|1687| 133% |

[2022-04-12 03:46] pytorch-bot[bot] opened #75648 "DISABLED test_ddp_uneven_inputs (__main__.TestDistBackendWithSpawn)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](http://torch-ci.com/failure/test_ddp_uneven_inputs%2C%20TestDistBackendWithSpawn) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/5982219882).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 3 red and 2 green.

cc @pietern @mrshenli @pritamdamania

[2022-04-12 05:33] kulinseth commented on #75534
I tried few things:

1. I am able to install it fine inside a miniconda/miniforge environment:

[code]

2. Using system python3. Make sure pip is updated `python -m pip install -U pip`

[code]

3. The other things to try is if you Xcode Command line tools installed . The python3 used by the command line tools with `arm64` is the right binary format to use

[2022-04-12 06:23] GeneralJing commented on #62936
same question. how to soloved this?https://github.com/pytorch/pytorch/pull/73760 i didn't see how to do to solove this.

[2022-04-12 08:26] vadimkantorov commented on #70177
But do you have a clue why this problem happened? Seems quite a strange failure mode. I also wonder if the constants for "big tensor" have simply changed...

[2022-04-12 09:41] holl- opened #75655 "`jit(Function)` results in double execution"
### 🐛 Describe the bug

`jit`-compiling a function that calls a custom function (`torch.autograd.Function`) results in the following behavior:

* The contents of the custom function are added to TorchScript but the output of the jitted code is discarded
* The Python version of the custom function will always be called before the TorchScript version and its output will be used in later code.

So ef

[2022-04-12 10:22] MohamedAliRashad commented on #75582
@ejguan
splits train and test data between classes in balance ... takes from every class the same number of samples tp build the splits.
If it's not possible the function can raise an error

[2022-04-12 10:44] datemoon opened #75657 "1.11.0 distribution train different with 1.8.1"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description
**I use 1.11.0 run distribution and gpu use like**
| Processes:

[2022-04-12 10:45] datemoon commented on #75657
I run like this
torchrun --nnodes=1 --nproc_per_node=8 --max_restarts=0 --rdzv_id=0 \
        --rdzv_backend=c10d --rdzv_endpoint=127.0.0.1:9850 \
        test.py

[2022-04-12 10:46] georgeyiasemis opened #75658 "`torch.distributed.init_process_group` hangs with 4 gpus with `backend="NCCL"` but not `"gloo"`"
### 🐛 Describe the bug

**Problem**
Running a torch.distributed process on multiple 4 NVIDIA A100 80G gpus using `NCCL` backend hangs. This is not the case for backend `gloo`.

`nvidia-smi` info:

[code]

Code to reproduce:

[code]

* By running `python3 test.py  --num-gpus 2 --backend NCCL` or `python3 test.py  --num-gpus 4 --backend gloo` no prpblem occurs.

* By running
[code]
  this hangs/free

[2022-04-12 10:47] datemoon commented on #75657
1.8.1 run like this
python3 -m torch.distributed.launch --master_port=9850 --nnode=1 --node_rank=0 --nproc_per_node=8 test.py

[2022-04-12 11:14] em17331 opened #75659 "Misleading documentation for cholesky_inverse"
### 📚 The doc issue

https://pytorch.org/docs/stable/generated/torch.cholesky_inverse.html

The documentation suggests that the inputted matrix should be the original positive-definite matrix A, where as the examples show that the user must first compute the cholesky u and input that into the cholesky_inverse function.

### Suggest a potential alternative/fix

Change the parameters section so that

[2022-04-12 12:43] Ziaeemehr opened #75662 "multiprocessing and torch.tensor, Cannot allocate memory error"
### 🐛 Describe the bug

Consider the simple example in the following, if I return a list at `func`, there will be no error,
if I return a `torch.tensor` I will get this error:

[code]
and If it use  `set_sharing_strategy`, to avoid this error:

[code]

I get another error says

[code]

is there any solution?
I need to return the tensor, so just removing the tensor is not an option.

I am using

##

[2022-04-12 13:28] ezyang commented on #74788
Here is how I think it would work.

First, let's review the code generated by structured kernels https://github.com/pytorch/rfcs/blob/rfc-0005/RFC-0005-structured-kernel-definitions.md#functions-to-define. Importantly, notice that `set_output` is a virtual method: we override it with a different implementation depending on if we produce a functional/inplace/out kernel. Intuitively, the idea is tha

[2022-04-12 13:32] crsegerie commented on #74016
Same problem

[2022-04-12 13:55] ezyang opened #93746 "Off main thread symbolic evaluation"
Standard JIT design has compilation run off-thread, so that normal user code can continue running while compilation is still occurring. Unfortunately, torchdynamo's implementation in Python makes this difficult to do, as in standard Python there is a GIL which prevents useful parallelization of Python work. This means that we need to think about our off main thread strategy earlier rather than lat

[2022-04-12 14:00] ejguan commented on #75582
Then, why not just use `random_split(ds, [len(ds)/2, len(ds)/2])`

[2022-04-12 14:42] albanD commented on #75018
The mask should be a tuple of booleans actually (as you propose in the example below). No Tensor involved here.

That sounds correct yes.

[2022-04-12 14:57] janeyx99 opened #75664 "DISABLED test_fft_plan_repeatable_cuda (__main__.TestFFTCUDA)"
Platforms: rocm

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_fft_plan_repeatable_cuda%2C%20TestFFTCUDA)).

cc @jeffdaily @sunway513 @jithunnair-amd @ROCmSupport @KyleCZH @mruberry @peterbell10

[2022-04-12 15:00] janeyx99 opened #75665 "DISABLED test_join_kwargs (__main__.TestJoin)"
Platforms: rocm

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_join_kwargs%2C%20TestJoin)).

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @SciPioneer @H-Huang @jeffdaily @sunway513 @jithunnair-amd @ROCmSupport @KyleCZH

[2022-04-12 15:06] kumpera commented on #75529
The way to check if sanitizer is in use is by using `__has_feature`. The recommended way would be something like this:

[code]

This only works with clang though. I believe GCC exposes some macro, do we support TSAN + GCC?
Docs on those features for clang: https://clang.llvm.org/docs/ThreadSanitizer.html#has-feature-thread-sanitizer

[2022-04-12 15:10] rohan-varma commented on #74810
fixed now

[2022-04-12 15:10] #74810 closed

[2022-04-12 15:11] #74494 closed

[2022-04-12 15:11] rohan-varma commented on #74165
fixed now

[2022-04-12 15:11] #74165 closed

[2022-04-12 15:30] kumpera opened #75666 "checkpointing of DDP comms hook"
### 🚀 The feature, motivation and pitch

Some DDP comms hook, like PowetSGD, are stateful and must be part of model checkpointing to enable trainer restarts.

Right now, this has to be manually done by users and, in some cases, requires workaround as the state objects are not serializatible. For example: https://discuss.pytorch.org/t/how-to-resume-with-powersgd-enabled-training/148747/

DDP should

[2022-04-12 15:34] jncasey opened #75667 "Implement histc for bfloat16 on CPU"
### 🚀 The feature, motivation and pitch

Add support for `histc` using bloat16 on cpu.

Currently, this yields the error:
[code]
as detailed in [this issue at wandb](https://github.com/wandb/client/issues/3332)

### Alternatives

_No response_

### Additional context

_No response_

[2022-04-12 15:38] H-Huang commented on #75662
Are you sure this is the error coming from pytorch? I tried to grep for a section of that message and don't find anything. The "cannot allocate memory" sounds like a RAM problem

[2022-04-12 15:44] aligirayhanozbay commented on #75642
@sunway513 I am not using `amdgpu-dkms`, I'm simply using `amdgpu` from the kernel driver, so that's not the issue. Training of other pytorch models works fine. The issue occurs when you create a `torch.nn.Embedding` layer with a dictionary size `k`, but pass it an integer input larger than `k`. For instance:

[code]

Now of course this code has an (intentional) bug in it, you should not pass a va

[2022-04-12 15:50] sunway513 commented on #75642
Thanks @aligirayhanozbay for the further clarification, and yes I agree to your point.
We'll try to reproduce the observation locally and update here. cc @kentrussell @ROCmSupport for awareness.

[2022-04-12 16:07] denolf commented on #75640
Upgrading Python to 3.8 solves this:

$ python3 collect_env.py
Collecting environment information...
PyTorch version: 1.12.0.dev20220412+cpu
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: CentOS Linux release 7.4.1708 (Core)  (x86_64)
GCC version: (GCC) 8.3.0
Clang version: 8.0.1
CMake version: version 3.20.6
Libc version: glibc-2.17

Python version: 3.

[2022-04-12 16:27] malfet commented on #75562
clang-tidy 12 supports //NOLINTBEGIN //NOLINTEND, we should upgrade our linter and decorate specific files as such

[2022-04-12 16:28] malfet commented on #75565
@tanmoyio sure, feel free to propose a PR (that checks for a few missing deps and suggests to run `make setup_lint`)

[2022-04-12 16:45] vitrioil commented on #75177
Okay, I will create a PR to check if parent directory exists or not and throw an error in case it does not exist.

[2022-04-12 16:46] ngimel commented on #70177
As Alban said, this is likely because tls wasn't passed correctly in the multithreading region, these places were cleaned up in #58655 and similar stacks from Peter Bell

[2022-04-12 16:55] braindevices commented on #37720
any update on this?

[2022-04-12 17:14] CallumFling commented on #44710
@slckl there is a hacky method that works for some models. https://github.com/pytorch/pytorch/issues/46649#issuecomment-715471342 works for now for me on some of my models (ephasis on some) but flakiness is expected right now I think until a full-on C++ implementation of AMP is ready.

Hopefully there will be some updates around this feature soon!

[2022-04-12 17:19] olahsymbo opened #75673 "Tensorboard Issue with visualizing the connections of encoder-decoder network"
### 🐛 Describe the bug

We are trying to visualize the connections of the intermediate layers of a deep neural network using tensorboard. Our implementation is below:

[code]

However, we keep getting this error pointing to `jit`

[code]

### Versions

Python 3.6.9

torch==1.8.0
torchsummary==1.5.1
torchvision==0.9.0
tensorboard==2.8.0

[2022-04-12 17:46] suo commented on #75566
okay I did some digging and learned about https://github.com/PyO3/maturin, which basically seems like magic and will let us distribute a rust binary with `pip`.

[2022-04-12 17:50] suo commented on #75566
that was easy https://pypi.org/project/lintrunner/

[2022-04-12 17:58] lessw2020 opened #75676 "[FSDP] [Mixed Precision] using param_dtype breaks transformers ( in attention_probs matmul)"
### 🐛 Describe the bug

Using PyTorch nightly, enable mixed precision support parameters for fsdp.
When running with a transformer, you will hit the following error - float expected but received half or bfloat (depending on mp config):
<img width="1109" alt="mp_half_float_expected" src="https://user-images.githubusercontent.com/46302957/163023347-231ac2a5-60f0-422a-a100-c6b2381f71f2.png">

Note th

[2022-04-12 18:10] garymm opened #75677 "use ONNX symbolic shape inference in torch.onnx.export"
There's some code in the torch.onnx.export for doing symbolic shape inference which is redundant with what exists in the ONNX repo.
This tracks using the code provided by ONNX and thereby simplifying the torch codebase.

[2022-04-12 18:30] seemethere commented on #75640
We don't currently support Python 3.6 anymore. Would recommend to upgrade to at least 3.7.

Thanks for reporting though!

[2022-04-12 18:30] #75640 closed

[2022-04-12 18:32] wanchaol commented on #75619
hmmm the recent changes is only for NCCL `gather`, but not `all_gather`, these two are actually not sharing the same code I think.

This seems to be high priority and wondering why this wasn't been caught by our CI signals.

[2022-04-12 18:50] wayi1 commented on #74556
Another relevant proposal: https://github.com/pytorch/pytorch/issues/75666, inspired by this post: https://discuss.pytorch.org/t/how-to-resume-with-powersgd-enabled-training/148747

This is because this optimizer needs to be combined with post localSGD hook.

[2022-04-12 19:00] rohan-varma commented on #75666
Thanks! I don't think we considered checkpoint implications, but a first thought is that we can override state_dict's load/save  hooks to check if there is a communication hook, and if so, checkpoint it? And have stateful hooks responsible for implementing their own __getstate__ and __setstate__ so that they can be serialized / pickled appropriately.

cc @zhaojuanmao @mrshenli

[2022-04-12 19:09] wanchaol commented on #75619
@mostafarohani Looking closer to the repro code, it seems like you are not setting the current device on each rank for nccl process group,

before the collective, you need to set `torch.cuda.set_device(rank)`, then it should work. Please see the note section in the doc here:https://pytorch.org/docs/stable/distributed.html?highlight=all_gather_object#torch.distributed.all_gather_object

[2022-04-12 19:09] #75619 closed

[2022-04-12 19:13] mruberry commented on #53849
Closing this as the last issue has been mooted

[2022-04-12 19:13] #53849 closed

[2022-04-12 19:14] mruberry commented on #42515
Closing this issue as it's largely been superceded

[2022-04-12 19:14] #42515 closed

[2022-04-12 19:47] thiagocrepaldi commented on #69674
https://github.com/facebookresearch/detectron2/pull/4120 adds support for ONNX-only export. A dummy `::grid_sampler` was stubbed for the specific `RendPoint` model reported here

[2022-04-12 20:42] #14618 closed

[2022-04-12 20:42] #14724 closed

[2022-04-12 20:53] thomasahle opened #75701 "Einsum should have an `out=` parameter"
### 🚀 The feature, motivation and pitch

When using `einsum` in performance sensitive code (and not caring about gradients), it is not good that it allocates a new tensor for the result. Then `numpy` version has an `out=` parameter, similar to `bmm` and many other pytorch functions, which allow specifying a piece of memory to store the result. It would be good to have this in pytorch as well.

###

[2022-04-12 20:58] janeyx99 commented on #74955
Update: Nikita--this is a cmake bug (conda yanked it afterwards). We should just unpin it, make sure it works and then be done with this. (I will add this to Dev Infra Backlog to discuss next sprint.)

[2022-04-12 20:59] janeyx99 commented on #74967
Question: Do we want to host our own copy of these dependencies? Yes!

[2022-04-12 21:28] thomasahle commented on #75701
Is there a general issue tracking adding `out=` parameters to more functions?
It would also be useful to have the option in `torch.diagonal`. It already exists in `torch.diag`, but only `.diagonal` works on batched matrices.

[2022-04-12 21:30] lessw2020 commented on #75676
Small repo to quickly reproduce:
https://github.com/lessw2020/mixprecision

git clone and run "python fsdp_mp.py" should put you right into stack trace.
adjust active policy to relevant configs to toggle between working (bfSixteen_working) and not (bfSixteen).
<img width="878" alt="mp_policy_control" src="https://user-images.githubusercontent.com/46302957/163057679-c2f867a3-1315-46de-b8f2-1de87397

[2022-04-12 21:42] peterbell10 commented on #75664
I can't see any relevant changes on our end, so suspect this is a ROCm bug. That said, AFAIK the ROCm version is fixed in CI so not sure why this would only start now.

[2022-04-12 21:46] janeyx99 commented on #75664
@jeffdaily could this have to do with the 5.0 update? Or the fact that these tests were recently allowed on trunk?

[2022-04-12 22:13] janeyx99 commented on #74967
Triaging in favor of duplicate https://github.com/pytorch/pytorch/issues/74968

[2022-04-12 22:14] janeyx99 opened #75703 "Let's host NVIDIA dependencies in our own S3"
### 🚀 The feature, motivation and pitch

To avoid SEVs where we are unable to retrieve a dependency hosted by NVIDIA (see https://github.com/pytorch/pytorch/issues/74967), we should host copies in S3 ourselves.

### Alternatives

_No response_

### Additional context

This was not possible before but may be possible now.

[2022-04-12 22:15] ehgh opened #75704 "MultiheadAttention for the case when query size and key size are different"
### 🐛 Describe the bug

MultiheadAttention class fails for the case when query and key size are different and they are of type numpy int64.

[code]

This line of code produces an error when embed_dim is different than kdim and they are of type np.int64
[code]

Root cause is line below. ```self._qkv_same_embed_dim``` is of type ```<class 'numpy.bool_'>``` and while its value is ```False``` the if s

[2022-04-12 22:16] janeyx99 commented on #74968
Followup issue: https://github.com/pytorch/pytorch/issues/75703

[2022-04-12 22:17] janeyx99 opened #75705 "Unpin cmake across our repo"
Followup to https://github.com/pytorch/pytorch/issues/74955#issuecomment-1097210570.

It turns out that that cmake version was just bad and we can now unpin cmake once again.

cc @seemethere @malfet @pytorch/pytorch-dev-infra

[2022-04-12 22:36] thomasahle commented on #75701
I ran into one more: `numpy.sum` has an `out=`, but `torch.sum` doesn't.

[2022-04-12 22:41] albanD commented on #74788
Thanks for all the details.
To quickly follow up on this, it would then be ok to have the codegen generate a new overload for structured functions. In particular:
- Have a new overload with `dtype` and `layout` (more?) as extra arguments.
- These overloads are not bound to python in any way
- These overload use the new variants of set_output to force the dtype/layout
- These overloads will `dispat

[2022-04-12 22:43] jeffdaily commented on #75664
I don't have a full history of this test.  @micmelesse do you know whether this test has been an issue for us in the past?

[2022-04-12 23:12] davidberard98 opened #75708 "NVFuser failing autogen-33 benchmark"
### 🐛 Describe the bug

Repro:

[code]

Or using `https://github.com/pytorch/benchmark/pull/801`,
[code]

Run with `PYTORCH_NVFUSER_DISABLE_FALLBACK=1`

Note: same error on autogen-69, I'm not sure if it's caused by the same issue.

Error:

[code]

Stacktrace
[code]

cc @jjsjann123

### Versions
p4d24xlarge - A100s
master - commit `c2d4e201a33f7093c2325a93fa4d38555b74aef2`

[2022-04-12 23:27] xuzhao9 commented on #75703
Currently our CI is depending on three Nvidia components: Nvidia kernel driver, CUDA, and cuDNN. Are we hosting all three of them?

[2022-04-13 00:36] Chillee commented on #75015
cc: @eellison

[2022-04-13 01:24] wenbo-cv commented on #63662
Thank you for the answer. It helps me run my training code successfully.

[2022-04-13 02:00] lockingball commented on #58744
hi,have you solved the problem? i cannot see your comment，could you tell me again ,thanks !

[2022-04-13 02:04] MohamedAliRashad commented on #75582
No, i don't mean balancing the train and test splits. I mean building the train split from equal number of samples between all classes so if i have 5 classes and there is no balance between them the algorithm makes sure that the sampling is balanced among them (2 samples from each class for example)

[2022-04-13 02:06] leslie-fang-intel commented on #75458
Hi @Ierezell,

- Bfloat16 can be used on a CPU model (even so not all bf16 cpu optimization has been landed yet). Suggested to use [Autocast](https://pytorch.org/docs/master/amp.html#torch.autocast) for BFloat16 on CPU.
- Another thing, these code `model.to(torch.bfloat16)` should not hang on CPU even without Autocast.
  - Is your model a convolution based model? The good bf16 convolution performa

[2022-04-13 02:19] TorRient opened #75719 "RuntimeError: derivative for aten::cudnn_convolution_relu is not implemented"
### 🐛 Describe the bug

model.eval()
model = torch.jit.script(model)
model = torch.jit.freeze(model)
model = torch.jit.optimize_for_inference(model)

I'm using torch jit for inference with VGG19 model, here is my bug. Any solution for this?
Thanks

File "/opt/conda/lib/python3.8/site-packages/torch/_tensor.py", line 352, in backward
    torch.autograd.backward(self, gradient, retain_graph, create_

[2022-04-13 02:59] ezyang commented on #74788
I don't have any objection to this plan (we're basically adding a new type of "out" function, but because we have structured kernels you don't actually have to write any new code) but if you're going to go to the lengths of defining new overloads, might as well expose them from Python. If someone is writing a backend, they will need to know how to deal with these overloads when they get invoked...

[2022-04-13 03:04] BichenWuUCB opened #75721 "Support batch indexing with sparse tensors with torch.sparse"
### 🚀 The feature, motivation and pitch

I am working on a problem that requires looking up sparse tensor values based on a batch of indices. The problem can be abstracted by the following example:

[code]
If `a` is a dense tensor (vector), then given a list of indices, `a[index]` will return a tensor with the i-th element as `a[index[i]]`. However, on sparse tensors, this operator is not supporte

[2022-04-13 03:08] 103yiran opened #75722 "LocalResponseNorm seems mismatch with onnx"
### 🐛 Describe the bug

in [`local_response_norm`](https://github.com/pytorch/pytorch/blob/master/torch/nn/functional.py#L2467) function, if  `size` is even, front padding is greater than back.
[code]
While in [onnx](https://github.com/onnx/onnx/blob/main/docs/Operators.md#LRN), the formula is square_sum[n, c, d1, ..., dk] = sum(X[n, i, d1, ..., dk] ^ 2), where max(0, c - floor((size - 1) / 2)) <=

[2022-04-13 04:45] mathandy commented on #32192
was having the same problem with `torch==1.4.0` on a 3090, but the problem went away when I tried in 1.12. 👍

[2022-04-13 07:04] naor2013 commented on #65540
@starryskyyl did you find a solution for this?

[2022-04-13 07:13] jinfagang commented on #47217
100 years later, seems the error still exists:

[code]

[2022-04-13 07:17] candlewill commented on #73481
@MultiTrickFox Could you share the method of how did you fix the Memory Leak in WeightNorm? Btw, this problem is in the train or inference stage?

[2022-04-13 07:40] jinfagang opened #75723 "[ONNX] How to export fx quantized model to onnx?"
### 🚀 The feature, motivation and pitch

FX is great! How to export fx quantized model to onnx?

### Alternatives

Currently, I have traced the quantized int8 model to torchscript, it works OK.

### Additional context

I just wonder, If torch already supported export fx model to onnx, how to do it? I got error:
[code]

If not support, then, when will support? What's the obstacles behind it?

**thi

[2022-04-13 07:49] aruroyc commented on #49555
@hsilveiro did you finally manage to solve this? I have a similar situation on [haystack](https://github.com/deepset-ai/haystack) with gunicorn. Wondering if there is a way to prevent model loading for each worker (4!)

[2022-04-13 09:09] otaj opened #75725 "Warning originating in C10 backend does not get translated to Python warning if run from subprocess"
### 🐛 Describe the bug

Hi,

I want to record a warning in Python, that is originating in C10 portion of the code (`TORCH_WARN_ONCE`), while running in a subprocess because of DDP. However, it seems that this warning is impossible to catch because it does not propagate to Python correctly. Below is a simple demo, that is mostly taken from [this tutorial](https://pytorch.org/tutorials/intermediate/

[2022-04-13 09:40] pytorch-bot[bot] opened #75726 "DISABLED test_large_cumsum_cuda_float16 (__main__.TestTorchDeviceTypeCUDA)"
Platforms: win, windows

This test was disabled because it is failing in CI. See [recent examples](http://torch-ci.com/failure/test_large_cumsum_cuda_float16%2C%20TestTorchDeviceTypeCUDA) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/6002054004).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 1 red and 3 green.

cc @ezyang @gchanan @z

[2022-04-13 10:01] Ziaeemehr commented on #75662
The function just returns an integer, I don't expect that to consume more of my machine RAM (64GB).

[2022-04-13 10:14] ShadyRagab13 opened #75728 "torch.cuda.is_available() returns False"
Issue is solved now!

[2022-04-13 10:31] #75728 closed

[2022-04-13 10:31] ShadyRagab13 commented on #75728
Issue closed!

[2022-04-13 10:47] ryandaryl opened #75730 "`torch.unique` for zero-length `dim` doesn't preserve the input size"
### 🐛 Describe the bug

### Description

Usually, when applying `torch.unique` to a specific dimension, `torch.unique(dim=x)` returns output that, except for dim `x`, matches the size of the input tensor.
However, in the case where dim `x` in the input tensor has length zero, the input dimensions are discarded, and `torch.unique` output erroneously has size `[0]`. This happens regardless of the sh

[2022-04-13 11:02] miccio-dk commented on #75383
Here is a small demo script, based on a subset of the model I was investigating.
Please let me know if it's "minimal" enough, and I'll try to shorten it further:

[code]

thanks!

[2022-04-13 11:41] #74157 closed

[2022-04-13 12:51] #75624 closed

[2022-04-13 13:12] awgu commented on #75373
Just curious, what are practical examples for which the module execution order may differ across ranks?

[2022-04-13 13:19] upayuryeva commented on #20997
Me too :(
Did you solve this?

[2022-04-13 13:25] Ierezell commented on #75458
Hi @leslie-fang-intel, thanks for the reply!
Good to know that some bf16 optimizations are coming to CPU.

No, my model is a hugging face transformer one (maybe I should raise the issue there ?).

I also thought about it being slow but it was a matter of seconds (without bf16 or on GPU) and with bf16 on CPU it just computed for more than 30mn.... (also none of the processors where running (checked

[2022-04-13 13:36] thiagocrepaldi commented on #69674
The PRs below fix the caffe2-onnx export. Changes in both Detectron2 and Pytorch are required. Apparently, their CI does not test export that involve ONNX as they dont have it as dependency

https://github.com/facebookresearch/detectron2/pull/4153
https://github.com/pytorch/pytorch/pull/75718

[2022-04-13 13:45] janeyx99 opened #75731 "DISABLED test_large_cumprod_cuda_float16 (__main__.TestTorchDeviceTypeCUDA)"
Platforms: win

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_large_cumprod_cuda_float16%2C%20TestTorchDeviceTypeCUDA)).

Seems similar to https://github.com/pytorch/pytorch/issues/75726 where they both fail to allocate enough memory.

cc @ezyang @gchanan @zou3519 @peterjc123 @mszhanyi @skyline75489 @nbcsm @mruberry

[2022-04-13 14:23] alealv commented on #75336
Facing the same problem

[2022-04-13 14:55] fate100 commented on #68910
@wojtuss ， I have the same wrong with you. Would you tell me how do you solve the problem. Thank you

[2022-04-13 15:07] nik1097 commented on #74326
Hey, @janeyx99 thank you for replying. I'm currently working on another issue, and I also see someone else trying to work on it. I will wait for them to complete.

[2022-04-13 15:09] janeyx99 commented on #74326
@nik1097 no worries! have fun with the other issue :) Who do you see working on the issue though? I am unaware of any attempts.

[2022-04-13 15:13] lijiong20 opened #75734 "GET “CUDA error: an illegal memory access was encountered” with nn.Conv2d"
### 🐛 Describe the bug

I get this error with 2080ti, pytorch 1.11 and 1.10, but the code runs well on kaggle or colab with same pytorch and cuda version
[code]

Here is the error
[code]
I tried to run it in cpu and it works well.
I tried to change kernel size to `nn.Conv2d(1, 100, (5,127))` and it works well
I tried to change input, it can work from `torch.randn(1, 1, 18, 128)` to `torch.randn(6,

[2022-04-13 15:14] awgu commented on #75373
Is the backward pass order in terms of the start of a parameter's gradient computation or the end? It seems like start makes sense.

[2022-04-13 15:22] soulitzer commented on #51349
That is expected @StalVars

https://github.com/pytorch/pytorch/blob/790cc8f2591bc0bef30303ce9a9829b75d70ac65/torch/csrc/autograd/anomaly_mode.h#L24-L32

The performance hit is because on the creation of every node of the backward graph extra metadata, e.g. current stack trace of the forward execution is stored.

[2022-04-13 15:29] HarborYuan opened #75735 "torch.autograd.grad needs an extra tuple when handling single outputs and is_grads_batched=True"
### 🐛 Describe the bug

Hi,

I am running the torch.autograd.grad for calculating sample wise gradients. However, the following intuitive implementation does not work.

[code]

The output is

[code]

after reviewing the source code, it seems that the codes have already handled the single tensor input situation (but did not pass into the functional function).

I acknowledge that the following modif

[2022-04-13 15:48] #73503 closed

[2022-04-13 15:51] #75622 closed

[2022-04-13 16:19] hannahsalameh commented on #72257
@dagitses for this feature, I was considering creating a new public function hasnan(x) that just implements this functionality, does this sound like a good solution to pursue?

[2022-04-13 16:26] Indradyumna opened #75740 "Large numerical error when applying nn.Linear in RTX A6000 with cuda>=11.1"
### 🐛 Describe the bug

# Applying a simple Linear layer (Y = aX) is generating incorrect output with A6000 GPUs using cuda >=11.1

## Report:
1.In the code snippet, we have a simple linear layer (without bias). First we use nn.Linear to compute Y=aX. Next we explicitly multiply the two tensors, We expect the norm of the difference to be 0 in all cases (can be confirmed by uncommenting the line se