[2017-12-24 06:14] armstrang commented on #494
after i installed pytorch with cuda, Anaconda Prompt is error
![untitlgged](https://user-images.githubusercontent.com/32195239/34324626-aae11096-e8b4-11e7-9d93-9a2708e02dc1.png)

[2017-12-24 06:26] peterjc123 commented on #494
@armstrang Please move your question [here](https://github.com/ContinuumIO/anaconda-issues/issues). I don't know what's wrong there. Maybe someone there knows the actual problem.

[2017-12-24 06:40] tkclimb opened #4343 "Can't export onnx from normal computation graph"
Is there any way to export normal computation graph by `pytorch.onnx.export` ??
I just met an error when I ran a following simple code.

## sample code
[code]

## error message
[code]

it seems to be 1st argment is not proper.
however I have no idea which kind of object I should take here when I'd like actually to do it.

[2017-12-24 07:45] udion commented on #1888
I installed pytorch-gpu from conda, I am getting the same error, is it resolved yet?

[2017-12-24 11:56] hhsecond commented on #4343
``onnx.export`` expects the first argument to be a model (inherited from torch.nn.Module) that has ``forward`` method and can be backpropagated. In the above case, you are passing a Variable

[2017-12-24 13:01] tlkvstepan opened #4344 "ConvTranspose3d with large input tensor"
ConvTranspose3d with large input raises an error:

RuntimeError: CUDNN_STATUS_NOT_SUPPORTED. This error may appear if you passed in a non-contiguous input

[code]
With smaller inputs the module works fine. CUDA 8.0.44, CUDNN v5.

[2017-12-24 13:34] tlkvstepan commented on #4344
Ok, as explained in issue #1664 it is cudnn bug. But what is the best fix?
Is it better to use cudnn.benchmark = True, or disable cudnn?  I am processing large inputs, so I assume that using benchmark flag is not a wise choice. However, my experiments show that with cudnn disabled, networks requires even more GPU memory, than with the benchmark flag..

[2017-12-24 16:52] fmassa commented on #4329
Can you try running the test in double precision instead of single (float) precision?

[2017-12-24 18:04] princebhatia09 commented on #494
@peterjc123

Hi , hope you are doing good.

I am using anaconda on windows 7 64 bits and created a virtual_platform and used the command:
conda install -c peterjc123 pytorch_legacy cuda80

to test in python i open spyder and enter import torch i receive above mentioned error

from torch._C import *
ImportError: DLL load failed: The specified module could not be found

in my system i have installed

[2017-12-24 18:32] Dtiffster commented on #494
@princebhatia09 I did a clean install of anaconda and then downloaded and did an offline install of the CPU version (see above) to get it working on my work laptop (which doesn't have a supported card). The cuda90 version worked fine on my desktop (after a clean install).

[2017-12-24 18:43] princebhatia09 commented on #494
how to install cpu version?
using these commands?
conda uninstall cuda80
conda uninstall cuda90
#like i type these two commands above and execute and then type command below?
conda install -c peterjc123 pytorch

[2017-12-25 01:20] peterjc123 commented on #494
@princebhatia09  Yes. Just type in the commands you mentioned.

[2017-12-25 01:23] flystarhe commented on #3415
@zhbbupt 没有,我拖鞋了,单进程运行的

[2017-12-25 03:07] Sidney2408 commented on #494
![screenshot 27](https://user-images.githubusercontent.com/19767514/34331609-43077974-e963-11e7-9767-06823233258a.png)

Here is the output of dependency walker. @peterjc123 could you  elaborate on how to configure the PATH?

[2017-12-25 03:45] peterjc123 commented on #494
@Sidney2408 Which version is this? GPU or CPU? If GPU, do you have Nvidia Graphics cards? How did you install the package?

[2017-12-25 04:18] Sidney2408 commented on #494
@peterjc123 I installed the CPU version using the command conda install -c peterjc123 pytorch.

I'm not sure if this might shed more light on the issue but when I ran the command
where api-ms-win-crt-runtime-l1-1-0.dll

I got this output
Anaconda3\envs\tensorflow\api-ms-win-crt-runtime-l1-1-0.dll
Anaconda3\envs\tensorflow\Library\bin\api-ms-win-crt-runtime-l1-1-0.dll
AppData\Local\Programs\MiKTeX

[2017-12-25 04:37] peterjc123 commented on #494
@Sidney2408 This is normal. It will use the first entry which lies in your Anaconda dir.

[2017-12-25 04:46] laiviet opened #4347 "Crash while running with multiple GPUs on single node"
My code run well with single GPU. When I run with 2 GPUs it logs the following error.

My machine has 4 GTX 1080 and 128GB RAM
 ``
*** Error in `python': free(): invalid pointer: 0x00007fcbb6ab6d80 ***                                                                   | (ETA:  --:--:--)
======= Backtrace: =========
/lib/x86_64-linux-gnu/libc.so.6(+0x777e5)[0x7fcbbe0307e5]
/lib/x86_64-linux-gnu/libc

[2017-12-25 05:10] princebhatia09 commented on #494
@peterjc123   Alright it is working. I am using Cpu version. But one thing

Now how can use it outside anaconda? Like using pip command on my command prompt to install pytorch?

I am using sony laptop i3 processor which has some VGA graphics card i guess with windows 7.

There has to be a way to install it outside anaconda, because at my work place there's a security reason and anaconda will not w

[2017-12-25 05:32] peterjc123 commented on #494
@princebhatia09 The whl packages are available through [CI](https://ci.appveyor.com/project/peterjc123/pytorch/branch/v0.3.0_win).

[2017-12-25 05:54] Neltherion commented on #494
@peterjc123 It's strange... Trying to install the CUDA 9.0 version but one time I get this:

[code]

And in another attempt (exactly after the previous one) I get this:

[code]

I remember getting the DLib error too... I'm not sure how many installed packages should be sacrificed and downgraded (or upgraded perhaps ?) to be able to install pytorch... Is there anything I can do?

And thanks for wha

[2017-12-25 06:00] princebhatia09 commented on #494
@peterjc123 Hey! That's good. Why do we need to use anaconda,when the wheel package is available?

[2017-12-25 06:23] peterjc123 commented on #494
@princebhatia09 It has a good public hosting service. It sound weird that you download packages from Google Drive and then install it.
@Neltherion You can try first installing pytables then pytorch. If you still get the error, install the offline package from Anaconda.

Actually, they care for this. The Windows PRs are actively merged. The official Windows CI is near to be setup, and the official

[2017-12-25 06:42] Neltherion commented on #494
@peterjc123 Thanks for the quick response... And I apologize for my misinformation about the main developers... My errors are not limited to `pytables` only and each time i try to install pytorch I get a new dependency conflict or link error...

I'll try the offline package but what is special about the offline package that makes it different than installing online?

[2017-12-25 06:47] peterjc123 commented on #494
@Neltherion It will skip the dependency test. I tried installing pytables with pytorch, and it works fine. I don't know what's wrong there.

[2017-12-25 10:15] Sidney2408 commented on #494
@peterjc123
When I tried using the python in my environment this was the output:

`Python 3.5.1 |Continuum Analytics, Inc.| (default, Jun 15 2016, 15:29:36) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.`

[2017-12-25 10:22] peterjc123 commented on #494
@Sidney2408 There's a `circular dependency` warning. Would you please find out that dll?

[2017-12-25 14:31] The-Fonz opened #4348 "torch.nn.InstanceNorm1d has inconsistent semantics of train and eval"
For `torch.nn.InstanceNorm1d` the docs say:

*At evaluation time (.eval()), the default behaviour of the InstanceNorm module stays the same i.e. running mean/variance is NOT used for normalization. One can force using stored mean and variance with .train(False) method.*

However, the source for `.eval()` shows that it simply calls `.train(False)`.

[2017-12-25 15:31] tabibusairam commented on #958
Hi, I have got the same error but it is coming only for the validation. The whole training process worked completely fine. I'm trying to do transfer learning using inception v3. Can anyone help me out please ? Thanks

[2017-12-25 17:02] tsdaemon commented on #3591
I have a similar error trying to build a Docker image on Windows. The problem was in line endings, which was automatically converted from LF to CRLF by Git. I have set a global option `git config --global core.eol lf` and cloned the pytorch project again and the problem was solved.

[2017-12-25 20:54] ahmedanis03 commented on #4333
here is a modified mnist example to reproduce the inconsistency:
to reproduce run:
[code]
why --no-cuda: because running on GPU give a different result each time for the mnist example and i don't know why!.
[code]

[2017-12-25 21:00] ezyang commented on #4337
Yes this should be pretty simple to add. Tag me on a PR and I'll make sure it gets reviewed.

[2017-12-25 21:52] saisrivatsan opened #4349 "Issues with numpy-like broadcasting"
The code (attached below) throws an error when run
`x=torch.FloatTensor(5,1,4,1)`
`y=torch.FloatTensor(  3,1,1)`
`(x+y).size()`

Pytorch Version: 0.1.12

This is an example that took from here: http://pytorch.org/docs/master/notes/broadcasting.html
Any idea how to get this working?

[2017-12-26 03:11] hhsecond commented on #4349
@saisrivatsan If I am not wrong, broadcasting is introduced in PyTorch 0.2 and the current PyTorch version is 0.3
An update to 0.2 or 0.3 will resolve this problem for sure.

[2017-12-26 05:09] saisrivatsan commented on #4349
Yeah, it did.
Thanks.

[2017-12-26 05:09] #4349 closed

[2017-12-26 05:35] vishwakftw commented on #2174
cc: @soumith This issue has been open for quite sometime.

[2017-12-26 08:52] apaszke commented on #4333
@ahmedanis03 can you please provide us with a diff for this file instead of a whole new version? That would make it easier to see what has changed.

@magic282 I'm glad to hear that you resolved some parts of the problem. I'm not entirely sure what's left. We're aware of the difference in speed between Windows and Linux, but note that you're not using official Windows packages (there are none at th

[2017-12-26 08:54] apaszke commented on #4348
It's because of [these lines](https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/instancenorm.py#L35-L36). However, I'd say this is a questionable design decision and we should definitely change this. `train(False)` should always be sematically equivalent to `eval()`!

[2017-12-26 08:58] apaszke commented on #4340
Can you elaborate what's the exact problem? `nn.Conv2d` doesn't use randomness in any way, so it shouldn't interact with seeding

[2017-12-26 08:59] apaszke commented on #4330
I think there's been some discussion about it, but I'm not 100% what was the conclusion (also, I don't think we converged on the API). @fritzo, do you remember?

[2017-12-26 08:59] apaszke commented on #4334
What does it print if you only start up a single process?

[2017-12-26 09:00] apaszke commented on #4336
Can you post the full build log? Do you have NNPACK installed somewhere?

[2017-12-26 09:01] apaszke commented on #3615
@gmyofustc did you try using MPI? We can try to expose the timeout argument to Python

[2017-12-26 09:52] ahmedanis03 commented on #4333
@apaszke HYG https://www.diffchecker.com/o1YJsfZo (i hope that is what you want)
and to clarify where is the inconsistency here is the steps i made:
1) train the model **from scratch** for 2 epochs, you will get exp1_epoch_one_accuracy and exp1_epoch_two_accuracy
2) train the model **from scratch** for 1 epochs, you will get exp2_epoch_one_accuracy = exp1_epoch_one_accuracy
3) train the model **fr

[2017-12-26 12:21] kvrd18 commented on #2393
@VincentMatthys the latest release does not have this problem.

[2017-12-26 12:51] Sidney2408 commented on #494
I solved some missing dlls by adding the directories to the PATH variable. However there are many modules that cannot load because they do not exist in my system:
API-MS-WIN-XXXX.DLL
ext-ms-win-XXXX.dll

Screenshot for KERNEL32.DLL
![kernel32](https://user-images.githubusercontent.com/19767514/34356995-e994a832-ea7d-11e7-9865-3bdb518bd8a0.png)
KERNEL32 seems to have itself as a dependency

Screens

[2017-12-26 15:34] StatML commented on #4336
Hi @apaszke Thanks for your response! The full build log is as follows. It seems that NNPACK had been installed. ` Found NNPACK    (include: /usr/local/include, library: /usr/local/lib/libnnpack.so)`

[2017-12-26 19:34] fritzo commented on #4330
This was briefly discussed on the [Design Doc](https://docs.google.com/document/d/1wnABg0cdyaVMr-Xqz_brHBwnPJuzTeSk3Oqko2HHSfE/edit#heading=h.7w4tro6t2bxr), but no conclusion was reached. We should discuss more. Here are my thoughts:

It would be great to maximize compatibility with [Tensorflow Distributions](https://www.tensorflow.org/versions/r0.12/api_docs/python/contrib.distributions/kullback-

[2017-12-26 19:37] fritzo commented on #4330
Also see the issue https://github.com/probtorch/pytorch/issues/37 on https://github.com/probtorch/pytorch/projects/1 where we're tracking distributions work (sorry for duplication, but the separate issue list really helps us prevent issues from getting lost).

[2017-12-26 21:53] fritzo commented on #4319
Fixed by #4327

[2017-12-26 21:53] #4319 closed

[2017-12-26 22:12] ezyang opened #4353 "test_distributions.py should seed on setUp, to make it harder to accidentally commit nondeterministic tests"
Right now it seeds only if you call `_set_rng_seed` which means it's easy to forget to call it, leading to a nondeterministic test.

Instead, we should modify `setUp` in `common.py` and have it seed Numpy as well as Torch:

[code]

CC @fritzo

[2017-12-26 22:34] fritzo commented on #4353
We should also add some maintainer-instructions for dealing with changing randomness sources in test_distributions.py. In particular there are two types of randomized tests:
1. The easier type of randomized test are tests that should always pass but are initialized with random data. If these fail something is wrong, but it's fine to use a fixed seed.
2. The trickier tests are statistical tests, an

[2017-12-26 23:10] jpeg729 opened #4355 "gradcheck fails with cryptic error"
I tried implementing the [ISRLU activation](https://arxiv.org/pdf/1710.09967.pdf) but the `gradcheck` fails. I have pytorch 0.3.0 installed via conda.

Here is the code.
[code]
And here is the error.
[code]
Any ideas?

Interestingly, `gradcheck` isn't documented on the pytorch website. It is mentioned on the "Extending pytorch" page, but you won't find it on the `torch.autograd` page.

[2017-12-26 23:54] fritzo commented on #4353
I'll try to add a `setUp` method as part of the `OneHotCategorical` PR (the nondeterminism just bit me 😄 )

[2017-12-27 01:12] kawing-chiu commented on #488
Arrived at this issue after reading the news that nvidia kindly forbids the usage of geforce gpus in datacenter :)

[2017-12-27 02:42] hhsecond commented on #4337
@ezyang my CPP knowledge is very minimal but I can give it a shot if you could guide me a little

[2017-12-27 04:07] kamo-naoyuki opened #4358 "Invoking MKL in multiprocessing with importing torch causes blocking"
Using numpy.lialg.svd(invoking functions in MKL may be its triger) in multiprocessing with importing torch causes blocking.

The following stops at "Start svd":

[code]

It works without the comment of set_start_method or with comment of importing torch, but it means that just importing torch affects the original multiprocessing in python or numpy.mkl.

[2017-12-27 06:22] jasw1001 opened #4359 "Error in ONNX with max_pool3d"
hi,
I encountered a problem when I was using ONNX to export a model in which max_pool3d was used, but ceil_mode was False.
The pytorch I am using was downloaded today(27 Dec 2017).
Could anyone help me to solve it?
Thanks a lot!!!!!

UserWarning: ONNX export failed on max_pool3d because torch.onnx.symbolic.max_pool3d does not exist
  .format(op_name, op_name))
RuntimeError: ONNX export failed: Cou

[2017-12-27 08:05] jyzhang-bjtu opened #4360 "For multi-GPU computing, the module buffer report error if using torch.autograd.Variable"
This is my own defined module with the buffer ind_upper where inds['upper'] can be a tensor or variable.
Here is one line of the init function of my module.
  self.register_buffer( 'ind_upper', inds['upper']   )
My torch version is 0.3.0.

1. When my module uses torch.nn.DataParallel for multi-GPUs, the error msg is as follows if inds['upper'] is a torch.autograd.Variable.

File "/opt/pytorch/lib/

[2017-12-27 08:52] antspy opened #4361 "Model loader with cuda and data parallel"
Hi,

it would be nice if the model loader would not care whether the weights were saved with cpu, cuda or data parallel and just accept everything in input.

So if model is on cpu and weights were saved on data parallel, the weight are automatically transformed to cpu and loaded. If the model is on data parallel and the weights were saved from cuda, they are loaded correctly and automatically assi

[2017-12-27 09:02] lizhengwei1992 commented on #967
I find the dilated convolution (dilation=2 ) slower much than convolution (dilation=1). my pytorch version is 0.3.0.post4, I test the dilated convolution like this:
`for batch_size in [1]:
    for dilation in reversed([1]):
        m = nn.Sequential(Conv2d(128, 128, kernel_size=3, padding=1, dilation=dilation),
                          Conv2d(128, 128, kernel_size=3, padding=1, dilation=dilation)

[2017-12-27 09:37] vishwakftw opened #4362 "[Feature Request] Having a descriptive summarization of the optimizer"
I was wondering if a more descriptive version of the representation of a optimizer object can be given. Currently, this is what is returned:
[code]

I would like to add something like:
[code]

Let me know your views. If required, I would be happy to work on a PR.

[2017-12-27 14:04] dichotomies opened #4363 "Error when initializing tensor from numpy array with correct dtype."
A minimal example:

[code]

Although `a` has `dtype` `int64` and this type *is listed as supported*, the array can't be converted.

Consider that `a` is initialized with an upper bound of type `long`.

I'm not completely sure, whether this issue is related to torch or numpy, but numpy initializes the array with values as expected, whereas torch throws an inconsistent error message.

[2017-12-27 14:20] dichotomies opened #4364 "Initializing tensor from numpy array results in unexpected values of tensor."
Minimal example:
[code]

Torch initializes the tensor with values which are different from the numpy array.

I've seen issues for similar kinds of problems (see https://github.com/pytorch/pytorch/issues/3671). Maybe the easiest solution to all these initialization problems might be, to check for the same values of the original and initialized array/tensor instead of initializing tensors silently w

[2017-12-27 14:35] ezyang commented on #4353
Thanks @fritzo!

[2017-12-27 16:44] zou3519 commented on #4364
Could you please provide some information about what version of pytorch and numpy you're using?

![image](https://user-images.githubusercontent.com/5652049/34387282-37bf3018-eafb-11e7-8dea-c1fcbc30096f.png)

It works as expected for me on master

[2017-12-27 16:54] zou3519 commented on #4363
![image](https://user-images.githubusercontent.com/5652049/34387514-957dde88-eafc-11e7-950c-02010ad64524.png)

Works for me on master and 0.3. Seems like it could be related to #4364

[2017-12-27 16:54] dichotomies commented on #4364
I'm using torch 0.3.0.post4 (latest one on website of PyTorch) and numpy 1.13.3.

[2017-12-27 16:55] zou3519 commented on #4364
I'm running the same thing, this is strange. In the first line `any_number = long(2)`, I assumed that `long` came from `np.long`. Is this the case?

[2017-12-27 16:59] dichotomies commented on #4364
Nope, it's indeed the python built-in type. Actually this issue came up when I tried to get the shape of `Variable` (i.e. `a = torch.autograd.Variable(torch.LongTensor([1]))`, `a.shape`).

[2017-12-27 17:21] zou3519 commented on #4364
Thanks for the clarification, I'm now seeing your results. Looks like the tensor constructor doesn't work well with python2.7 long types.

[2017-12-27 18:45] dichotomies commented on #4364
Sure, no problem. Thanks for looking into it!

[2017-12-27 19:29] colesbury commented on #4358
It doesn't block in my installation. How did you install PyTorch? What version of PyTorch and Python are you using?

[2017-12-27 19:39] yf225 commented on #3759
Done moving Travis contbuilds to ci.pytorch.org.

Windows CI is currently running slow (~40 mins for a clean build, and incremental build with clcache is unstable), probably need to speed up more before enabling it in PRs.

Also working on gcc 4.8 and 7.x CPU contbuilds.

[2017-12-27 20:05] zou3519 commented on #4364
The problem seems to be that np.longlong and np.int64 are the same thing (at least on a 64bit system, I think), but the NPY_LONGLONG and NPY_INT64 macros are different...

I'll put up a pr for this soon.

[2017-12-27 20:49] ngimel commented on #4344
Try updating your cudnn, cudnn v5 is no longer supported by pytorch. In deciding whether to use cudnn.benchmark what's important is not how big the inputs are, but how often the size of the input changes (if at all). If your inputs are always the same size (or you have just a few possible input sizes) you can use cudnn.benchmark.

[2017-12-27 20:52] apaszke commented on #4353
Fixed in #4357

[2017-12-27 20:52] #4353 closed

[2017-12-27 20:53] apaszke commented on #4359
This operator is simply not supported yet. One way to fix it would be to set `ceil_mode` to False, although this might result in different results if input sizes are not sized properly

[2017-12-27 20:54] apaszke commented on #4360
Buffers are only meant to be tensors.

[2017-12-27 20:54] #4360 closed

[2017-12-27 20:55] apaszke commented on #4361
I'm not sure if I understand the proposal. Currently `torch.load` will restore the weights in exact same location where they were at save time. You can change this behavior using `map_location` argument.

[2017-12-27 20:58] #4344 closed

[2017-12-27 21:01] atabakd opened #4368 "Profiler for Python 2.7"
Running `prof = torch.autograd.profiler.load_nvprof('trace_name.prof')` on Python 2.7 causes an error:
`NameError: global name 'FileNotFoundError' is not defined` and according to [here](https://github.com/philkr/lpo/issues/5#issuecomment-100596671), FileNotFoundError apparently doesn't exist in python 2.7.
A simple solution that worked for me is to add to the beginning of torch/autograd/profiler.

[2017-12-27 21:05] apaszke commented on #4355
The error message is quite self descriptive. You're returning a Tensor from `backward`, while you should have returned a Variable. If you want to return a tensor add `@once_differentiable`.

Note that we're using GitHub issues for bug reports only, and all questions should be posted on [our forums](discuss.pytorch.org).

[2017-12-27 21:05] #4355 closed

[2017-12-27 21:06] apaszke commented on #4337
It should be a matter of adding a few lines in `torch/csrc/jit/python_ir.cpp`

[2017-12-27 23:13] ezyang commented on #4368
Thanks for the report. Could you post the stacktrace of the error by any chance? It doesn't look like we have any occurrences of FileNotFoundError in our code, so it may be an upstream problem.

[2017-12-28 00:15] #4363 closed

[2017-12-28 00:15] #4364 closed

[2017-12-28 00:22] alsrgv commented on #3615
@apaszke, I have a similar problem, too. I'm running the code from the master branch that I built 2 days ago.

I got Gloo working with 4 nodes with 4 GPUs each, but it fails on 32 nodes.  I tried MPI backend with `DistributedDataParallel` and found that it doesn't converge very well.

I scaled back experiment to 4 nodes with 4 GPUs each and observed that MPI backend with `DistributedDataParallel`

[2017-12-28 00:22] soumith commented on #4358
something similar was reported before in https://github.com/pytorch/pytorch/issues/3619#issuecomment-343371799

It's MKL, it is not being fork-safe for some reason, not sure why. When `import torch` is done, I guess some MKL state is being initialized.

[2017-12-28 01:01] hughperkins commented on #488
Haha :)

So, there are two approaches that I know of. Well, a few more if you include AMD's HIP. Actually, that should probably be your first port of call I reckon. Have you tried it? How far does it get you?

[2017-12-28 02:13] mirh commented on #488
HIP just works over ROCm - which is just newest amd gpus (like 1-2 years at most) and some other [requirements](https://rocm.github.io/ROCmInstall.html#system-requirements).
So I wouldn't be so sure about that.

Also, for the love of me I cannot see who ever brought up mkl-dnn. It simply isn't supposed to target gpus (intel uses clDNN for that, if any).

[2017-12-28 03:13] vishwakftw commented on #4362
Thank you. Please have a look at the PR https://github.com/pytorch/pytorch/pull/4371.

[2017-12-28 03:51] gentaiscool opened #4372 "Error in saving pytorch model"
I got this error after I called retain_grad() on my variable. I worked in python 3.5.

Traceback (most recent call last):
  File "main.py", line 256, in <module>
    torch.save(model, f)
  File "/home/genta/.local/lib/python3.5/site-packages/torch/serialization.py", line 134, in save
    return _with_file_like(f, "wb", lambda f: _save(obj, f, pickle_module, pickle_protocol))
  File "/home/genta/.l

[2017-12-28 03:52] 742820488 opened #4373 "RuntimeError"
RuntimeError: CUDNN_STATUS_INTERNAL_ERROR

[2017-12-28 04:41] vishwakftw commented on #3847
Could I work on a PR to implement ReLU in C++?

[2017-12-28 04:49] Aloisius commented on #1505
This works for me without any changes to the cmake files with the new 2018 version on macos

[code]

[2017-12-28 04:53] iqbalu commented on #1355
@apaszke any idea why the usage of shared-memory keeps increasing after some epochs. In my case, it starts with 400MB and then every ~20th epoch increases by 400MB. Thanks!

[2017-12-28 04:54] leftthomas opened #4374 "torch.matmul() wrong"
`a = torch.arange(1, 200*6*3+1).resize_(200, 6, 3)`
`w = torch.arange(1, 4*6*10*3+1).resize_(4, 6, 10, 3)`
`result = ((w.unsqueeze(dim=0)).matmul(a.unsqueeze(dim=-1).unsqueeze(dim=1))).squeeze(dim=-1)`
`w2 = w.transpose(-1, -2)`
`result2 =((a.unsqueeze(dim=-2).unsqueeze(dim=0)).matmul(w2.unsqueeze(dim=1))).squeeze(dim=-2).transpose(0, 1)`
`print(torch.equal(result, result2))`

I have this code, it

[2017-12-28 05:23] jasw1001 opened #4375 "RuntimeError: ONNX export failed: Couldn't export Python operator Scatter"
Hi,
Could anyone help me to figure out the following error?
Many Thanks!!!!!

my network

`

class Net(nn.Module):
    def __init__(self):
        super(Net, self).__init__()
        layer_list = []
        in_channel = 1
        cfg = [64, 64, 'M', 128, 128, 'M', 256, 256, 256, 'M', 512, 512, 512, 'M', 512, 512, 512]
        for output_channel in cfg:
            if output_channel == 'M':

[2017-12-28 06:59] zhouzq-thu opened #4376 "ImportError: cannot import name 'YamlLoader'"
Build error:
[code]

According to [PyYAMLDocumentation](https://pyyaml.org/wiki/PyYAMLDocumentation), the `pytorch/tools/autograd/utils.py` should be modified as:
[code]

[2017-12-28 08:10] rajarsheem commented on #2762
If declaring the class definition is necessary before loading when the full model graph was saved via torch.save(model, ...), then why wouldn't I just save the model state_dict torch.save(model.state_dict(), ...) ? How the former is different (or beneficial) than the latter ?

[2017-12-28 09:53] OnezeroW commented on #4376
I faced the same problem when installing pytorch from source.
[code]
You mean the utils.py file is wrong?

[2017-12-28 10:06] vishwakftw commented on #4007
`torch.expm1` has been merged into master. I think this issue can be closed now.

[2017-12-28 10:16] gesape commented on #4111
Hi everyone, I have the same problem. I am on Ubuntu 16.04 and using python 3.5. I do only have an integrated Intel HD 620.
At first I tried installing pytorch with cuda 7.5 with pip3. "import torch" always resulted in segmentation fault, therefore I tried installing without cuda, which results in the same error:

sudo -H pip3 install http://download.pytorch.org/whl/cu80/torch-0.3.0.post4-cp35-cp3

[2017-12-28 10:24] #4007 closed

[2017-12-28 10:38] vishwakftw commented on #4376
Although the PyYAML documentation site suggests that `from yaml import CLoader as <insert name>` is possible, I could not perform it. That is a reason for the `try` failing. This has been reported as well: https://github.com/yaml/pyyaml/issues/108

I believe that the `except` should have this instead:
[code]

[2017-12-28 10:46] jpeg729 commented on #4355
I'm sorry, I really thought this was a bug.
I agree this question was more suited to the forums.

[2017-12-28 11:07] soumith commented on #4376
you guys are right, the `except` case has to be modified to: `from yaml import Loader as YamlLoader`. The original issue (my guess) is that your pyyaml had some compile error and the CLoader wasn't successfully installed.

[2017-12-28 11:13] fer-git opened #4377 "Getting Cuda error (3): initialization error"
I got a problem when I need to iterate through DataLoader. I think the problem lies on num_workers parameter in DataLoader. Here is a snippet to reproduce the error:

[code]
The error that I got:
[code]
I do not have issues when I run it on CPU with num_workers > 0 and on GPU with num_workers=0.

My torch version is 0.3.0.post4
Python version is 3.6.4
Ubuntu version is 17.04
Cuda version is 9.0.17

[2017-12-28 11:36] vsbiradar opened #4378 "Advanced indexing in 2d tensor"
I have a 2d tensor X. and two lists of indexes that is first index and second call a and b. I want to do
X[a[i],b[i]] = 0 for i in range(len(a)). How can I do this. If i directly do X[a,b] the error is IndexError: The advanced indexing objects could not be broadcast

[2017-12-28 12:27] atabakd commented on #4368
Sure. This is my full traceback:

[code]

[2017-12-28 12:37] zck119 commented on #4329
The function can pass the test in double precision, but I feel the error seems too much off (-0.9537 vs -1) even for single precision.

[2017-12-28 12:50] amartya18x commented on #4115
Any progress on if we should go ahead with this ?

[2017-12-28 12:54] cyxtj commented on #3587
[code]
the output I got:
[code]
to be more intuitive, I arrange the result:
[code]
After this experiment:
1. forward and backward are computed independently
2. after running through f/b ward, it returns something like `torch.cat([forward, backward], dim=-1)`
3. the hidden it return is actually  hidden of  word 3 in forward pass, and hidden of word 0 in backward pass.
4. therefore it is not a good

[2017-12-28 13:15] soumith commented on #4329
i'm closing the issue, as this is expected to an extent. we dont expect finite difference tests to pass in single precision

[2017-12-28 13:15] #4329 closed

[2017-12-28 13:23] #4376 closed

[2017-12-28 14:36] antspy commented on #4361
Hi,

I typically use torch.load_state_dict to save the model weights; I think this is cleaner and less error prone than saving the whole class with torch.save - torch.load.
So, if I train a model on multiple GPUs and then want to evaluate on a single GPU (or viceversa), I will have to manually convert the state dict. For example:

[code]

It is easy enough to just change b so that it is accepted b

[2017-12-28 15:01] sxqqslf opened #4380 "RuntimeError: the number of sizes provided must be greater or equal to the number of dimensions in the tensor"
Same problem as #4228 , I try this code on the terminal,
`a = Variable(torch.randn(1,1), requires_grad=True)`
`b = Variable(torch.randn(1,1), requires_grad=True)`
`d = torch.nn.functional.cosine_similarity(a,b)`
`d.backward()`
then,
`RuntimeError: invalid argument 1: the number of sizes provided must be greater or equal to the number of dimensions in the tensor at /pytorch/torch/lib/TH/generic/THT

[2017-12-28 15:14] apaszke commented on #4372
Did you call that on a parameter? There's no need to do so - parameters have to be leaves and will retain grad anyway. If you did that on an intermediate Variable - those can't be pickled and that's a known thing. If you cached any intermediates in your model you'll need to remove them before picking.

[2017-12-28 15:14] #4372 closed

[2017-12-28 15:15] apaszke commented on #4373
That's not enough information for us to fix it. Please share the details of your system and a minimal (a few lines long) script that would let us reproduce it.

[2017-12-28 15:15] #4373 closed

[2017-12-28 15:16] apaszke commented on #1355
@iqbalu not really. That shouldn't be happening

[2017-12-28 15:17] apaszke commented on #4375
We don't support exporting modules wrapped in DataParallel. Remove the wrapper and export this.

[2017-12-28 15:17] #4375 closed

[2017-12-28 15:18] williamFalcon opened #4381 "pad_sequences duplicates variable"
[code]

Errors:
[code]

[2017-12-28 15:22] 0phoff opened #4382 "Synchronized communication with workers"
The full extend of my problem can be read [here](https://discuss.pytorch.org/t/communicating-with-dataloader-workers/11473) on the forums.
But what I basically need, is a way to communicate with my worker threads before they start preparing the next batch.

I think the easiest way to implement this is to pass a function as an argument to your _DataLoader_.
The _DataLoaderIter_ object can then call

[2017-12-28 15:24] apaszke commented on #4361
We don't want to make `load_state_dict` do any pattern matching for DataParallel keys, because that would complicate the contract. We've thought about this a few times, but always concluded that we prefer the way it is right now. Thanks for the proposal!

[2017-12-28 15:24] #4361 closed

[2017-12-28 15:26] apaszke commented on #4115
Yeah let's do that. It's not a super high priority so no one is working on this as far as I know

[2017-12-28 15:27] apaszke commented on #4368
Can you run `ls` in this directory? Are you sure the file exists?

[2017-12-28 15:28] apaszke commented on #4368
Yeah it seems that `FileNotFoundError` is defined only in Python 3.3+. Can you please send a PR with the snippet you proposed as a fix? Thanks!

[2017-12-28 15:28] amartya18x commented on #4115
I can do it. I haven't made a contribution to pytorch before but I can do it, I guess.

[2017-12-28 15:28] apaszke commented on #4378
Note that we're using GitHub issues for bug reports only, and all questions should be posted on [our forums](discuss.pytorch.org).

[2017-12-28 15:28] #4378 closed

[2017-12-28 15:29] apaszke commented on #4377
See [multiprocessing docs](http://pytorch.org/docs/master/multiprocessing.html#sharing-cuda-tensors). If you want to use CUDA, change the start method (it's a limitation of the CUDA runtime, we can't do anything about this).

[2017-12-28 15:29] #4377 closed

[2017-12-28 15:36] apaszke commented on #4330
I also think the functional form would make a better API.

[2017-12-28 15:55] zou3519 commented on #4380
I can reproduce this on master. Will look into it.

[2017-12-28 16:07] gchanan commented on #4374
With the larger matrix you are hitting precision issues of float; if you make the tensors LongTensors or DoubleTensors the problem goes away:
`
a = torch.arange(1, 2000*6*3+1).resize_(2000, 6, 3).long()
w = torch.arange(1, 4*6*10*3+1).resize_(4, 6, 10, 3).long()
`

[2017-12-28 16:07] #4374 closed

[2017-12-28 16:18] #4362 closed

[2017-12-28 17:09] szagoruyko opened #4386 "RuntimeError: invalid argument 2: Source tensor is empty, on Variable indexing"
odd difference between cuda Tensor and Variable:

[code]

encountered in torch.distributions.Categorical, built yesterday from master

[2017-12-28 17:27] Evpok commented on #3587
That is what I understand from the CuDNN API reference (which is not that clear either…)

[2017-12-28 18:12] choongng commented on #488
Internally (at Vertex.AI) we have discussed what it would take to do PyTorch on PlaidML. Short version is it should work well, if someone wants to do the work we can coordinate with PyTorch team what the right technical approach is. Payoff is GPU-accelerated PyTorch on Linux/Mac/Win for all cards with at least OpenCL 1.2 (and other APIs we might add in the future).

[2017-12-28 18:13] luhc15 opened #4387 "cannot allocate memory"
the problem arise when run after 1epoch, but works well in first train epoch as well as the  followed 1st validate epoch. batch_size is 8 and work_number is 2。why this happened ?
File "/home/luhongchao/anaconda2/lib/python2.7/site-packages/torch/utils/data/dataload
er.py", line 301, in __iter__
    return DataLoaderIter(self)
  File "/home/luhongchao/anaconda2/lib/python2.7/site-packages/torch/uti

[2017-12-28 18:21] scelesticsiva opened #4388 "Dynamic addition of neurons"
I am trying to add hidden units to a 3-layered neural network(input, hidden,output) dynamically as I train it. I want to keep the weights of trained part of the network as I add new hidden units.This is my code,

[code]
I have noticed that once I call “add_neurons” method, the weights stop updating(while gradients are generated). Any help would be much appreciated.

[2017-12-28 18:29] yf225 commented on #3759
gcc 4.8 and 7.2 CPU contbuilds are up

[2017-12-28 19:06] Apogentus commented on #494
Hi. Thanks for adding support for Windows. I wanted to ask is parallelization over multiple GPUs possible?
[I had some problems using it.](https://stackoverflow.com/questions/48012816/pytorchwindows-is-parallelization-over-multiple-gpus-possible)

[2017-12-28 19:31] zou3519 commented on #4387
It sounds like you don't have enough RAM in your machine.

[2017-12-28 19:33] #4368 closed

[2017-12-28 19:58] fmassa commented on #488
I believe there was some work that was being done to make Pytorch HIPS compatible. @soumith is that still being worked on?

[2017-12-28 20:23] Apogentus opened #4391 "PyTorch+Windows: is parallelization over multiple GPUs possible?"
I have 2 GPUs, but can't run [a simple parallelization official demo of PyTorch](http://pytorch.org/tutorials/beginner/former_torchies/parallelism_tutorial.html). I am using Python 3.6.1, PyTorch 0.2.1+a4fc05a, Windows 7 64 bit, anaconda 4.3.30.

I get the following error:

[code]

Here is [an extended statement of the question with the source code.](https://stackoverflow.com/questions/48012816/py

[2017-12-28 20:54] apaszke commented on #4388
Note that we're using GitHub issues for bug reports only, and all questions should be posted on [our forums](discuss.pytorch.org).

[2017-12-28 20:54] #4388 closed

[2017-12-28 20:55] #4387 closed

[2017-12-28 20:56] apaszke commented on #4391
We do not officially support Windows yet, so we won't actively look into this issue. I'll keep it open as a reference to track what needs to be fixed before we release official Windows packages.

[2017-12-28 21:06] ezyang commented on #4391
CC @peterjc123

[2017-12-28 21:39] ezyang opened #4392 "Cache CuDNN benchmark selection, turn it on by default, use it across PyTorch runs"
CuDNN benchmark mode can have some beefy speed increases for our cuDNN users, but we don't turn it on by default because the benchmarking process takes a long time. One possibility to alleviate this so that we can turn it on by default is to cache the benchmark selection (keyed on PyTorch version, cuDNN version, device ID, and all of the input parameters) in, say, `$HOME/.pytorch`, and then reuse

[2017-12-28 21:51] ezyang commented on #3070
This is fixed.

[2017-12-28 21:51] #3070 closed

[2017-12-28 21:51] ezyang commented on #3909
We now have 4.8 CI, so I am going to assume this got fixed in the shuffle.

[2017-12-28 21:51] #3909 closed

[2017-12-28 21:55] ezyang commented on #3804
This should be fixed in HEAD now.

[2017-12-28 21:55] #3804 closed

[2017-12-28 21:57] ezyang commented on #3736
I recently rewrote how the export works for batchnorm in HEAD. Does fast-neural-style still fail?

[2017-12-28 21:57] #3257 closed

[2017-12-28 21:58] #4343 closed

[2017-12-28 21:58] ezyang commented on #4343
@hhsecond you are right on. @tkclimb, give that a try?

[2017-12-28 22:03] deepbrain opened #4396 "JIT leaks memory in nets with dropout layer"
if I add a dropout layer in FC layers, a JIT compiled forward pass of a net starts to seriously leak memory in the backward pass. I made a simple test case below. When it runs, you will see a rapidly increasing GPU/CPU memory usage in nvidia-smi/top and it will crash with an out of memory exception soon. Without the dropout layer or the backward pass, it works fine.

[code]

[2017-12-28 23:06] pclucas14 commented on #825
Facing a similar issue, would love to know what best practice is.

[2017-12-28 23:24] soumith commented on #4392
ummm combinatorics wont be kind to you if you want to do this one. I worked out paper math a while ago, and for even very simple use-cases, the cache will run into TeraBytes.

[2017-12-28 23:27] soumith commented on #488
@choongng can you reach out to me at [myfirstname --- at --- fb com], we should detail an approach and a plan, and I want to make sure it all looks clean. Ideally we'd want this to be activated as a plugin to PyTorch or something, but there are real maintenance costs then, so we have to figure out Continuous Integration.
On our side, we are likely going to finish HIP support.

[2017-12-28 23:35] soumith commented on #4381
closed via #4383

[2017-12-28 23:35] #4381 closed

[2017-12-28 23:36] jekbradbury commented on #825
The easiest way is to use cupy like in https://github.com/szagoruyko/pyinn or https://github.com/salesforce/pytorch-qrnn, but the best practice for code that could eventually be merged into PyTorch master would be to add an ATen native function like ROI pooling [here](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/NativeFunctionsCuda.cu#L37).

[2017-12-28 23:43] apaszke commented on #4392
Another solution would be to make it "weakly on" by default (in contrary to "strongly on" when set to True explicitly) i.e. to have a patience value, and fall back to greedy selection if the run-time/global cache size exceeds that.

[2017-12-29 00:23] hughperkins commented on #488
@mirh wrote:

To be fair, if you're going to set up a new data centre full of AMD GPUs, you'd probably use the very latest ones?

Ditto if you're replacing NVIDIA GPUs with AMD ones.

So, hip seems viable in both cases?

I guess there could be people who have a gaming box with a 1-2 year old AMD card in, but they're not really the target market of NVIDIA's data center segmentation: they can perfec

[2017-12-29 00:24] hughperkins commented on #488
(as far as Mac support, I mean, you can run pytorch on Mac already, just not on the gpu. but if you're going to run training, I dont really see running on a Mac gpu as terribly viable really...  Spin up a few v100s on aws, and away you go...)

[2017-12-29 00:31] hughperkins commented on #488
(in my opinion, for AMD to make their gpus more viable for ml, they might consider throwing up a bunch of cloud gpus, even at a loss: I dont really see anyone buying AMD gpus for ml until the libraries exist. And no-one is going to write libraries for cards they dont have.)

[2017-12-29 01:27] leftthomas commented on #4374
@gchanan thanks your answer, but I want to know why the computation of this two methods different, and I tested this code using numpy, it hasn't this problem.

[2017-12-29 01:43] jinfagang opened #4400 "Installation Optimise For Chinese Users Who Behind the Wall"
As you know, we are just can not access all Google etc access behind the f*k great wall. The pytorch.org wesite can not load properly when click pip and cuda chips. Just not responding,  I think the site using some access which block in China. Just for suggestion, write more install command in Github README.md or anywhere else.

[2017-12-29 02:49] peterjc123 commented on #4391
@Apogentus No, it's not supported. Nvidia doesn't provide nccl2 support for Windows. So there's no way to make it work on Windows.

[2017-12-29 03:45] gchanan commented on #4374
I'd suggest asking on the forums; it would be helpful if you include the corresponding numpy code as well.

[2017-12-29 03:55] zou3519 commented on #4400
Interesting. Sure, I think it's reasonable to add some installation instructions to the README. I'll put up a pr for it later.

In the meantime, here's a list of the relevant `whl` files.
[code]

[2017-12-29 04:45] ezyang commented on #4336
I recently changed how NNPACK links with ATen so this is probably my fault.

For now, if you apply  https://github.com/pytorch/pytorch/pull/4401 you can disable nnpack with `NO_NNPACK=1`. I'll look more into why there are linker errors after the new year.

[2017-12-29 05:06] vishwakftw opened #4402 "Some computational efficiency improvements in derivatives"
I was going through the `derivatives.yaml` for the derivative of existing functions in `torch`, and feel like some of them are a bit inefficient. Some of them are listed below:

- `reciprocal` : From `grad / -(self * self)` to `- grad * result * result`
- `sqrt`: From `grad * self.pow(-0.5) / 2` to `grad * self.rsqrt() * 0.5` or `grad / (2 * result)`
- `acos`: From `grad * -((-self * self + 1).sqr

[2017-12-29 05:31] XiaoYee opened #4403 "Pytorch docs：RNN weight_ih_l[k] shape error"
In pytorch docs，torch.nn.RNN parts show that variable **weight_ih_l[k]**  has shape of input_size x hidden_size，however it should be hidden_size x input_size.

[2017-12-29 07:14] sxqqslf commented on #4380
@zou3519 Besides, I install the pytorch by the pip, not from the source code.
I find the functional.py in the github is different from my local version

[2017-12-29 07:14] pkdogcom opened #4404 "nn.Conv3d always freezes on Docker"
I was trying to train [a model](https://github.com/kenshohara/3D-ResNets-PyTorch/blob/master/models/resnext.py) on Docker that uses 3D Convolution and it freezes at nn.Conv3d every time in the forward function. Sometimes I can stop the processes with ctrl+c but sometimes I have to manually kill the process. Also, when it freezes, all GPUs are 100% utilized, although power or memory usage are low.

[2017-12-29 07:33] soumith commented on #4336
#4401 has been merged. so now with master you can do NO_NNPACK=1 python setup.py install

[2017-12-29 07:34] pkdogcom commented on #4404
BTW, before it freezes it will docker related warning like
[code]

which I suppose shouldn't have anything to do with this issue.

[2017-12-29 09:51] apaszke commented on #4402
* `reciprocal` looks good
* `sqrt` looks good (the version with rsqrt is better)
* `acos` + `asin` looks good
* `div` - I'm not sure about this. It would be best to use this version for the regular op, and the one we have right now for the in-place version. I don't think it's possible to do with with our current codegen, as in-place versions are automatically generated from regular definitions (or

[2017-12-29 09:52] #4391 closed

[2017-12-29 10:24] vishwakftw commented on #4402
Thanks. I will open a PR. Current improvements are in:
- [ ] `sqrt`
- [ ] `reciprocal`
- [ ] `acos`
- [ ] `asin`

Please add more, if there are any.

[2017-12-29 10:35] apaszke commented on #4396
Thanks for the report! Note that the JIT is still unreleased, but of course feel free to play with it. The proper way to use it with nn Modules is to decorate the whole class, but it's still worthwhile to investigate this leak

[2017-12-29 10:41] apaszke commented on #3615
@alsrgv Thanks a lot for the detailed writeup. That's very surprising for me, we'll need to look into the discrepancy. Changing the way you do communication shouldn't have such a dramatic effect on the training. BTW what kind of errors do you get form gloo (is it still the timeout?) and when does that happen (perhaps right before/after validation?)?

[2017-12-29 10:42] apaszke opened #4406 "DistributedDataParallel doesn't converge well when using MPI"
## Originally posted by @alsrgv:

I got Gloo working with 4 nodes with 4 GPUs each, but it fails on 32 nodes.  I tried MPI backend with `DistributedDataParallel` and found that it doesn't converge very well.

I scaled back experiment to 4 nodes with 4 GPUs each and observed that MPI backend with `DistributedDataParallel` indeed converges much worse with the same batch size & lr.  On the chart belo

[2017-12-29 10:43] apaszke commented on #3615
I've created an issue to track the MPI problems: #4406

[2017-12-29 11:26] apaszke commented on #4333
You have dropout in your model, so the RNG state also affects the results. If you want full reproducibility after the checkpoint, you'll need to serialize all RNGs too (or e.g. at the beginning of each epoch do `torch.manual_seed(args.seed + epoch)`).

[2017-12-29 11:26] #4333 closed

[2017-12-29 12:03] mirh commented on #488
If you are bringing up a datacenter and all, surely. (Trivia: [afaiu](https://github.com/ROCm-Developer-Tools/HIP#hip-portability-and-compiler-technology) if you port something to HIP, it should still nonetheless retain compatibility with nvidia cards)

But I thought this issue was about something a tad more generic?
Maybe, say, I want to experiment with my intel igp, or with some arm board perhap

[2017-12-29 12:24] hughperkins commented on #488
board perhaps
Ok. And, you mean, you're going to handle the
experimentation/coding/library coding yourself?

[2017-12-29 15:09] emited commented on #825
Is it possible to create ATen functions and add them to a already built version of pytorch ?

[2017-12-29 15:16] soumith commented on #825
@emited not yet, we're working on ATen extensions

[2017-12-29 16:49] Erotemic opened #4408 "torch.onnx.export fails on Linear when bias=False, torch.onnx.symbolic.matmul does not exist"
Using `torch.onnx.export` on a model that contains a linear layer with no bias, I receive an error:

[code]

I've constructed a minimal working example that reproduces this
[code]

Environment Info:
[code]

[2017-12-29 17:01] Erotemic commented on #4408
I notice in `symbolic.py` there is a function:

[code]

is it sufficient to simply add another function:

[code]

If I hack this into my installed pytorch, then the model "seems" to work correctly. I can save it, reload and then it checks correctly.

Is this the correct fix? I'm not really sure what `bmm` stnads for, nor is it obvious from the docs what sort of object `g` is (although I assume it

[2017-12-29 17:51] deepbrain commented on #4396
I use somewhat complex multi-head network with lots of conditionals in the forward function. The conditionals do not change during the training of the corresponding parts of the network, so I could unroll all of the conditionals into multiple classes, but that would create a lot of classes and clutter in the code, making it less readable and manageable.  So, I am hoping that I could JIT compile th

[2017-12-29 19:53] KaaPex opened #4410 "Compilation error from source"
Using Ubuntu 17
The C compiler identification is GNU 4.8.5
The CXX compiler identification is GNU 4.8.5

[code]

[2017-12-29 21:07] colesbury commented on #4402
These changes make sense to me.

@apaszke, why would you use the current version of div for in-place?

I have a change that allows different derivatives for in-place functions, but I'd like to avoid special casing too many of the in-place derivatives.

[2017-12-29 22:37] hughperkins commented on #488
Oh, Arm. I see, you (@mirh) want to run pytorch models on arm, eg/ie on cell-phones?

On the whole, whilst I'm not saying that it's impossible to:
- 1. port pytorch to work on arm gpus, and
- 2. get pytorch to work on cellphones (maybe it does? but seems like something that at least ios would (strongly) discourage?)

... but I reckon that sounds hard. I reckon if it was me, well, it depends somewh

[2017-12-29 22:49] KaaPex commented on #4410
I am trying gcc-5.4.1 and 6.4.0 same problem

[2017-12-29 23:00] mirh commented on #488
Those were just ideas (and I was talking about arm servers if any, for as much as the newly introduced android nnapi certainly looks interesting)
Anyway, sorry for the divagation. Better if I don't steal any more of your time.
Best wishes to you and facebook/vertexai guys.

[2017-12-30 00:47] colesbury commented on #3275
This is done, at least from the performance perspective.

[2017-12-30 00:47] #3275 closed

[2017-12-30 01:07] alsrgv commented on #3615
@apaszke, I was getting "Read timeout" errors.  I think they were caused by longer GPU initialization on certain workers.  I was able to partially mitigate this by doing a bit of warmup with Keras + Horovod training, and then switching to PyTorch.  Having a larger default timeout (and/or having it configurable) would be helpful.

[2017-12-30 01:19] windweller commented on #1794
Any update on this issue? It does seem like the function has been written but somehow did not end up in the actual codebase!

[2017-12-30 04:38] vishwakftw commented on #4402
I also have one question. Some ops have derivatives defined with `.reciprocal()` and some ops have derivatives with a direct division (`div` or `/`). Is there any difference between `.reciprocal()` and the standard `div`?

[2017-12-30 06:42] vishwakftw commented on #2392
This is taken care of in the master branch

https://github.com/pytorch/pytorch/blob/fec3d4a079b082ec6d56ab93f31cdb0a228d09fc/torch/nn/functional.py#L1118-L1119

[2017-12-30 07:02] y3mnx commented on #1851
pip install torchvision

Try This and Be happy ... Its working

[2017-12-30 07:07] y3mnx commented on #1376
pip Install torchvision

try this

[2017-12-30 07:11] #2392 closed

[2017-12-30 10:28] AlexHex7 opened #4412 "How to use net.cuda() when Network class has list or dict wich contains nn layers?"
For example

[code]

.cuda() can not put parameters of self.convs'  layers.

Should I use self.register_parameter API? Or dose it have another easy way?
Thanks!

[2017-12-30 10:30] AlexHex7 commented on #4412
Oh! Now I know I can use add_moudule to solve it.  Dose it have another easy way, if no I will close this issue.

[2017-12-30 11:28] apaszke commented on #4412
We're using GitHub issues for bug reports only, and all questions should be posted on [our forums](discuss.pytorch.org).

[2017-12-30 11:28] #4412 closed

[2017-12-30 11:31] apaszke commented on #4402
Oh my bad. The new definition would be actually much more efficient for in-place. Not sure why I thought differently. Sorry @colesbury

@vishwakftw `x.reciprocal()` is equivalent to `1 / x`, but more efficient. On the other hand `y / x` is more efficient than `y * x.reciprocal()`.

[2017-12-30 11:33] apaszke commented on #3615
It is configurable, it's just not exposed in Python 😕

[2017-12-30 11:35] apaszke commented on #3615
@alsrgv If you want to give a larger timeout a try you can add [`context->setTimeout(...)`](https://github.com/facebookincubator/gloo/blob/8b630a7d4d31948b999edaf773aff4135d758451/gloo/context.h#L37) right before [this line](https://github.com/pytorch/pytorch/blob/master/torch/lib/THD/base/data_channels/GlooCache.hpp#L119).

[2017-12-30 11:44] AlexHex7 commented on #4412
Sorry, I can not get into the forums for a long time.

[2017-12-30 11:48] apaszke commented on #4396
Every class instance has its own trace cache, so it should still work for you

[2017-12-30 11:50] apaszke commented on #4408
`bmm` is batched matrix multiply, `g` is a graph. I'm not 100% sure that this is enough, but it looks good. Can you please send a PR, and we'll have someone review that? Thank you!

[2017-12-30 11:55] apaszke commented on #4412
What do you mean? You should be able to register any time

[2017-12-30 12:02] AlexHex7 commented on #4412
It is not the forum's problem. I think maybe it has something to do with my country's policy... And a couple months ago, I can get into the forums...

When I try to get into the forum. It says that **This site can’t be reached discuss.pytorch.org took too long to respond**. Anyway, thanks and I will find some way to solve it.

[2017-12-30 12:05] soumith commented on #4412
@AlexHex7 which country are you from?

[2017-12-30 12:11] AlexHex7 commented on #4412
China.

[2017-12-30 12:11] AlexHex7 commented on #4412
@soumith China.

[2017-12-30 12:49] apaszke commented on #4412
@AlexHex7 it should work once you replace a regular Python list with `nn.ModuleList` for `self.convs`

[2017-12-30 13:16] MichaelLiang12 commented on #1416
How about the following codes?
[code]
BTW, I am implementing bilinear CNN. Do you know anything about it? Can you help me about the problem? [click here](https://discuss.pytorch.org/t/unkonwn-probelm-of-bilinear-cnn-not-error-but-problem-in-my-implemention-of-algorithm/11704)  @KaiyuYue

[2017-12-30 15:02] rdipietro commented on #1794
@apaszke @soumith

[2017-12-30 21:04] hughperkins commented on #4400
In my experience/opinion, anything in `.com` is allowed by default, and blacklisted if some reason determined later. Meanwhile, `.org` is blacklisted by default, and whitelisted if some reason determined later. python.org was stuck in the default blacklist for years.... (might still be there).

tldr; if some way of hosting things in a `.com` domain, might fix a bunch of access issues.

[2017-12-30 23:21] alicanb opened #4413 "UnboundLocalError: local variable 'distutils' referenced before assignment"
This error happens building from source in Linux. Introduced in https://github.com/pytorch/pytorch/pull/3993

[2017-12-31 00:33] pkdogcom commented on #4404
It turns out that this issue has nothing to do with PyTorch and it is caused by IOMMU which causing troubles in P2P GPU traffic. By adding the 'iommu=soft' option in grub as described [here](https://github.com/pytorch/pytorch/issues/1637#issuecomment-338268158) the issue was resolved.

[2017-12-31 00:33] #4404 closed

[2017-12-31 01:02] debnil commented on #2389
Bumping the above, does autograd work on sparse variables now?

[2017-12-31 01:56] D-X-Y commented on #2421
@soumith Hi, the norm function can give use the 0 gradients now.
However, the following code still has the nan gradient problem
[code]

[2017-12-31 05:00] vishwakftw commented on #4402
Considering the differences between `reciprocal()` and `div()`, I have made a few more changes in the latest PR.

[2017-12-31 05:11] #4413 closed

[2017-12-31 06:55] albanD commented on #2421
Ho
The square root has no gradient at 0. This is expected behavior.

[2017-12-31 15:27] D-X-Y commented on #2421
Hi, @albanD but the sub-gradient of the square root should be zero?
Also, y = torch.sqrt( x * x ) should equal to x.norm(), why they have different gradient ( 0 and nan )?

[2017-12-31 15:52] amrit110 opened #4417 "Strange behavior of comparison operations"
I get a strange behavior of using comparison operations in combination with indexing elements from a tensor, either directly or using ``torch.index_select``. Ideally the below snippet should gather values below ``0.8`` but for ``length = 4100`` and above it fails. Here I use ``torch.lt`` but it happens for ``torch.gt`` if I switch the order of comparison.

[code]

[2017-12-31 15:56] cai-lw commented on #2421
@D-X-Y I think @albanD was right. The left-side derivative of sqrt(x) at x=0 is undefined, so it doesn't even have a subgradient at x=0.

[2017-12-31 16:27] Branham94 opened #4418 "BrokenPipeError: [Errno 32] Broken pipe"
Hello,
I'm learning deep learning with python using pytorch. Then, I've downloaded a code for training ssd (single shot multi-box detector), it works for some people who have downloaded it too. But when I run it I get this error:

ForkingPickler(file, protocol).dump(obj)

BrokenPipeError: [Errno 32] Broken pipe

Here a draft of the code :

[code]

[2017-12-31 16:55] peterjc123 commented on #4418
@Branham94 Set `num_worker` to 0 and try again.

[2017-12-31 17:38] amrit110 commented on #4417
using ``test_tensor[select]`` or ``torch.arange`` instead of ``torch.linspace`` works

[2017-12-31 17:38] #4417 closed

[2017-12-31 17:42] Kaixhin commented on #3732
I may also be affected by this issue in my [Rainbow repo](https://github.com/Kaixhin/Rainbow/blob/master/env.py) - same error and fix as #2473 - `import cv2` after `import torch` seems to be working fine atm (running with `gdb` just in case), but I was getting a segfault after a while when the imports were the other way around. Using `pip`'s `opencv-python` on Ubuntu 14.04.6 + CUDA 8.0 + Python 3.

[2017-12-31 18:31] Branham94 commented on #4418
@peterjc123  Thanks for your answer. Yes I'm on Windows 10. I setted num_worker to 0, and I haven't no more this error, but another one occured :
RuntimeError: cuda runtime error (2) : out of memory at d:\pytorch\pytorch\torch\lib\thc\generic/THCStorage.cu:58

I will search on existing forum!

[2017-12-31 19:20] sawsc opened #4419 "torch.linspace() issue with the 4095th element"
There seems to be an issue with the 4095th element of a torch.linspace():

[code]

Output:
[code]

[2017-12-31 19:39] hassanshallal opened #4420 "out of memory cuda runtime error (2) on p2.xlarge AWS instance with batch_size = 1"
Hi folks,

I know this issue has been reported earlier and the common wisdom has converged to decreasing the batch_size. In my current situation, decreasing the batch_size all the way to 1 didn't solve the out of memory runtime error indicating to me that there must be something else that's causing this issue. Here are some relevant information:

1) I am trying to fine tune pretrained resnet-34 on

[2018-01-01 00:36] elbaro opened #4422 "the derivative for 'cudnn_batch_norm_backward save_mean' is not implemented"
[code]

Having this error when BatchNorm + wgan_gp (second order) is used.
It's installed from master fec3d4.

[2018-01-01 01:38] deepbrain commented on #4396
If I decorate the whole class, it seems to work without a noticeable speedup. So, I don't know if it uses a compiled structure or not. Can it be related to a fact that I also call the forward method from the class __init__ method to dynamically create the network structure?

I like that in pytorch I can build the network structure dynamically, so from the "__init__" I call the "forward" while sett

[2018-01-01 01:49] peterjc123 commented on #4418
@Branham94 It seems that you using too much GPU memory. You can reduce batch_size or try to use a smaller model.

[2018-01-01 04:29] zhouzq-thu opened #4424 "Request: More detailed documentation"
More detailed documentation such as

<img width="712" alt="screen shot 2018-01-01 at 12 28 29 pm" src="https://user-images.githubusercontent.com/9458157/34465601-59cd3d92-eeef-11e7-952d-057aa638b93c.png">

[2018-01-01 06:00] ezyang commented on #4422
This is almost definitely my fault. I'll look into it on Tuesday.

[2018-01-01 06:03] garytho commented on #3966
Is this fixed?
I have found that using `mp.set_start_method("spawn")` slows down my code significantly.
Can someone please explain to me how I can avoid this issue?
thanks

[2018-01-01 07:08] soumith commented on #4418
closing because original error is resolved.

[2018-01-01 07:08] #4418 closed

[2018-01-01 08:06] HAOYU-LI commented on #4017
same problem here.
gcc (Ubuntu 4.8.4), python 2.7, cuda 7.5, cuDNN 6.0.21

[2018-01-01 13:54] apaszke commented on #3966
@garytho if you're using Python 3 you could use `forkserver` instead of `spawn`. That should make it faster. We've tried to patch it as much as we can, but in general forking isn't a safe operation in presence of multiple threads, and shouldn't be done in the middle of the program

[2018-01-01 13:56] apaszke commented on #4424
@zhouzq-thu That looks awesome! Could you please submit a PR? We'll happily merge such improvements

[2018-01-01 14:05] apaszke commented on #2389
The embedding is guaranteed to work, but many ops still don't support it

[2018-01-01 14:06] apaszke commented on #4400
@hughperkins that's helpful, we'll try to set up `.com` aliases

[2018-01-01 14:08] apaszke commented on #4396
Hmm no I don't think we will be supporting something like this already. An implementation detail is that calling `.forward` will probably go around the JIT, and only `module(...)` will trigger it, so you might try. But as I said, it can break any moment.

Also, I wouldn't expect a noticeable speedup on this kind of model. It's quite small and GEMM-heavy, so there's not a lot of things we can optim

[2018-01-01 14:55] zhouzq-thu commented on #4424
@apaszke I have submitted a PR (#4428), which contains the detailed documentation for some loss functions. Other function will be added later.

[2018-01-01 17:57] jusjusjus opened #4431 "method `cuda` for PackedSequence"
My use-case necessitates sending a `PackedSequence` to the GPU.  What I currently do is `packed_gpu = PackedSequence(packed.data.cuda(), packed.batch_sizes)`.  I think this could be included in a convenience method as so:  `packed_gpu = packed.cuda()`.

See pull request: #4430

[2018-01-01 19:25] Victor0118 commented on #4005
How about MarginRankingLoss for the same issue? Anyone working on this?

[2018-01-01 21:22] lifengjin commented on #2614
I am also getting this error. My program is in python but I first use CUDA C (thrust and cusp) to do some stuff first and then use pytorch to do some other stuff. My observation is:
1. If the pytorch model is a CNN, then the error goes away. If I use a GRU then I'd see this error.
2. If the model is small then the error goes away even if the model is a GRU.
3. The error occurs only if I transfer t

[2018-01-01 21:33] apaszke commented on #4005
I don't think so. Go for it if you want

[2018-01-01 21:33] #4005 closed

[2018-01-01 21:34] apaszke commented on #4431
That seems like a good idea. You've already sent a PR so I'll close the issue

[2018-01-01 21:34] #4431 closed

[2018-01-01 21:46] apaszke commented on #4424
That's some really good stuff. Doc improvements are always desired, but we simply don't have enough throughput to do all of this work ourselves. I'll close the issue, but if you'll find some time and improve other docstrings please send PRs!

[2018-01-01 21:46] #4424 closed

[2018-01-01 21:47] apaszke commented on #4424
BTW what theme did you use to render that image?

[2018-01-01 22:01] lxuechen opened #4433 "Unexpected behaviour when multiplying a np.float64 before Variable"
It seems that when I multiply a floating number of type np.float64 before a torch.autograd.Variable I get a nested np.ndarray with the "core" inside it being the Variable. However, when I reverse the order of multiplication, the problem is gone. Here's one example

[code]

I get the follow result when running with python3.5.2 and torch-0.3.0.post4
[code]
Is this expected?

[2018-01-01 22:37] apaszke commented on #4433
It's a known problem that will be fixed once we add proper scalar support (it's in progress).

[2018-01-01 22:37] #4433 closed

[2018-01-01 22:44] #4403 closed

[2018-01-02 01:41] zhouzq-thu commented on #4424
The original sphinx style.

[2018-01-02 04:28] deepbrain commented on #4396
I was talking about a real model that has hundreds of python lines in the forward call. It executes considerably faster (50-70% faster) if compiled with the jit.compile method, but unfortunately leaks the memory when the dropout is included. With the decorations I see no speedup. The simple code above is just as a greatly simplified test case for the memory leak.

It would be nice if jit.compile w

[2018-01-02 04:46] vishwakftw opened #4434 "[Feature Request] Implement Pareto Distribution"
I could issue a PR if you feel this is worth adding to the list of distributions.

[2018-01-02 08:02] jonmorton commented on #4340
@bamtercelboo you did not pass any argument to `torch.cuda.manual_seed`. Try:

[code]

[2018-01-02 08:54] diggerdu commented on #3775
I have implemented STFT inverse STFT(trainable)
https://github.com/diggerdu/pytorch_audio

[2018-01-02 09:13] soumith commented on #3775
@diggerdu it's also implemented in master branch via #4095
See: http://pytorch.org/docs/master/torch.html?highlight=stft#torch.stft

[2018-01-02 10:02] diggerdu commented on #3775
@soumith but without inverse transformation, which is an important module in google tacotron or other end to end model for audio processing. I have a paper which submitted to ICASSP 2018, we developed a  SOTA learning based model for noise reduction using this code. And a pure python implementation is more flexible and efficient than an unoptimized CUDA version, because we just combine some conv l

[2018-01-02 10:23] soumith commented on #3775
@diggerdu yea you're right, istft will be added soon too.

That's very cool. Are you planning to release the model training code as well?

[2018-01-02 10:32] diggerdu commented on #3775
@soumith
Yeah, I will release that model after the accepted notification(or reject) been received. LOL

[2018-01-02 11:07] 0phoff commented on #4382
So I tinkered around a bit with these workers (mostly just running stuff and printing out indices), and now I understand my idea will not work.

If I understand everything correctly, you keep **2 * workers** number of batches in your queue. This means that if I would call a function in _put_indices()_ to change some _multiprocessing_ variables, the **2 * workers** batches that were already in the

[2018-01-02 11:09] #4340 closed

[2018-01-02 11:10] apaszke commented on #4340
This issue has been inactive so I'll close it, but feel free to reopen if you still have the problem.

[2018-01-02 11:30] apaszke commented on #4396
That's great to hear. We'll look into the dropout issue. You can try using `model.jit_debug_info()` and see the number of JIT cache hits/misses

[2018-01-02 11:51] chenyuntc commented on #4400
@apaszke btw, the [forum](https://discuss.pytorch.org) also seems to be blocked from time to time.

[2018-01-02 12:47] apaszke commented on #4420
You're probably accumulating the loss without taking the `.data` or doing something else that prevents the previous iteration graphs from being freed. Try using the official imagenet example, and reopen the issue if you hit the same issues with that script. Otherwise, please ask on [our forums](discuss.pytorch.org) - we're using GitHub issues for bug reports only.

[2018-01-02 12:47] #4420 closed

[2018-01-02 12:55] apaszke commented on #4434
I'll leave this one up to @fritzo

[2018-01-02 13:20] apaszke commented on #4382
As you pointed out it's not easy to implement a robust way for communication like this, so I think it's best to avoid doing so. One way to implement this would be to encode the information in the object used to index the dataset by creating your own sampler. The whole process would look approximately like this:
[code]

[2018-01-02 13:20] #4382 closed

[2018-01-02 13:21] apaszke commented on #4396
Could you provide us with a dummy script that showcases your use case? I'm not sure if I fully understand what you're doing, so it would be helpful to see the code

[2018-01-02 15:08] ezyang commented on #4260
We are no longer skipping at distributions tests in master CI:

[code]

[2018-01-02 15:08] #4260 closed

[2018-01-02 15:09] ezyang commented on #4336
Reopening since there is still an underlying nnpack build bug.

[2018-01-02 16:19] ezyang commented on #4336
The root-cause of this error is that you probably built and installed nnpack with `--inference-only`, but PyTorch requires both inference and backwards functions to be compiled. I'll beef up the CMake to test when this situation has occurred.

[2018-01-02 16:38] ezyang commented on #4422
@elbaro Would it be possible to get more detailed reproduction instructions?

[2018-01-02 16:51] nikostr commented on #4107
@ngimel any idea when this might get resolved? :)

[2018-01-02 17:21] ezyang opened #4440 "Assert that some tests must not be skipped under certain CI configurations"
It seems pretty easy to accidentally misconfigure one of our CI environments, and consequently fail to run a test. It would be great if we could somehow either:

1. Assert that all tests eventually get run under some configuration (not sure how to do this)
2. Assert that in a given CI environment, some test must not be skipped

That way, an env misconfiguration turns into an error, rather than jus

[2018-01-02 18:04] SsnL commented on #4406
cc @teng-li @ailzhang

[2018-01-02 18:09] SsnL commented on #4348
@apaszke I agree. We should fix `train(False)` to be equivalent with `eval()`. But should we also provide an additional method on `InstanceNorm*d` for users who want to use running mean/var?

[2018-01-02 18:34] hassanshallal commented on #4420
Thanks a lot for the response and the redirection, will pay attention to different platforms!

[2018-01-02 18:36] SsnL opened #4441 "Implement CPU EmbeddingBag in C"
to replace current slow Python implementation.

[2018-01-02 18:54] apaszke commented on #4348
Sure, an extra method sounds good.

[2018-01-02 18:57] #3883 closed

[2018-01-02 19:10] zou3519 commented on #4347
Could you also try building from source, and see if the problem still persists?

[2018-01-02 19:10] SsnL commented on #4296
@fehiepsi I believe this is more of a precision issue. If you try:
[code]
, it gives expected results. Same goes for trtrs :)

[2018-01-02 19:36] ezyang commented on #4422
Never mind, it's pretty easy to repro:

[code]

[2018-01-02 20:02] garytho commented on #3966
If I've already called `backward` on the local process and I don't need to keep the `autograd` computational graph nor the threads it has open, is there some way I can "turn off" the autograd engine before I launch subprocesses that call `backward` and therefore be able to fork safely?

[2018-01-02 20:02] SsnL commented on #4294
Yeah, you would need a lapack library to use those functions, e.g. mkl.

[2018-01-02 20:09] fritzo commented on #4434
Hi @vishwakftw, a bunch of us working on distributions are collaborating on [this task board](https://github.com/probtorch/pytorch/projects/1), and I've added a [Pareto task](https://github.com/probtorch/pytorch/issues/62). If you'd like to implement this, feel free to check out our [Design Doc](https://docs.google.com/document/d/1wnABg0cdyaVMr-Xqz_brHBwnPJuzTeSk3Oqko2HHSfE/edit?usp=sharing) and c

[2018-01-02 20:21] #4294 closed

[2018-01-02 20:22] soumith commented on #4294
@Supe2015 i think you installed from source right? but you dont have a working LAPACK library on your machine i think

[2018-01-02 20:32] ezyang commented on #4422
Root causes:

- I did a hack to work around lack of ability to return non-requires grad outputs from ATen functions, but apparently this hack doesn't work. We need a way of returning variables from an ATen function such that they unconditionally don't require grad. @colesbury suggested that we add a new special form to `derivatives.yaml` to trigger this but I am actually not too sure we can actual

[2018-01-02 20:58] IssamLaradji opened #4447 "Surprising behavior of `nn.Parameter` with `np.float64` scalars"
`nn.Parameter` and `numpy.float64` don't seem to mix well, consider the following behavior,

[code]

Is this an expected  behavior ?

Note that `np.log` returns a `np.float` type scalar

[code]

I would use `torch.log` instead of `np.log` but it seems that `torch` math operations don't work directly on scalars without first being  converted to a `FloatTensor` - which adds boiler code.

[2018-01-02 21:12] vadimkantorov commented on #4386
related to https://github.com/pytorch/pytorch/issues/2027?

[2018-01-02 21:13] colesbury commented on #4386
@vadimkantorov  different code path but similar issue

[2018-01-02 21:14] apaszke commented on #4447
Known issue. Will be fixed once we introduce scalars (in progress).

[2018-01-02 21:14] #4447 closed

[2018-01-02 21:15] apaszke commented on #4447
Oh, as a workaround try multiplying by the scalar form the other side (yes, in Python multiplication isn't necessarily commutative)

[2018-01-02 21:17] japan4415 commented on #2496
I got same problem in ikostrikov/pytorch-a3c.
Ubuntu 16.04 Python 3.5.2 Pytorch 0.3.
On my MacOS, this code worked.

[2018-01-02 21:20] vadimkantorov commented on #4392
i've had not so long ago a case where setting benchmark to True caused massive slow-downs

[2018-01-02 21:49] colesbury commented on #4441
Hold off on this please. I have a partial implementation

[2018-01-02 22:15] SsnL opened #4449 "Implement log det"
I'll do this.

[2018-01-02 22:22] elanmart commented on #4441
Perhaps it would be cool to also resolve https://github.com/pytorch/pytorch/issues/4068 with this one?

[2018-01-02 22:33] tymokvo commented on #494
@peterjc123 you are amazing, I have it working with cuda8 on windows10. reusing some of my pytorch stuff I developed on linux and it is flawless so far...

thank you so much!

[2018-01-02 23:09] SsnL commented on #4441
@elanmart Yeah, I've seen other requests for this. If changing the existing cuda code is not too hard, we can certainly do it.

[2018-01-03 01:02] jekbradbury commented on #4386
This is a regression from the latest 0.3 binaries, which don't have this error.

[2018-01-03 02:00] jekbradbury commented on #4396
I may also be experiencing a related leak, though I haven't really triaged yet; I get an OOM after a few dozen training iterations when I annotate the first of these modules (inside a larger network; the second module shows the direct context where it's used):
[code]
I also have to explicitly specify the `super` call Python 2-style; if I use `super()` I get:
[code]

[2018-01-03 03:15] paddyhoran commented on #494
Yes, I must say a big thank you to @peterjc123 also.  Really appreciate all your work on this!

[2018-01-03 04:17] GeorgeBohw opened #4454 "RuntimeError: cuda runtime error (59) : device-side assert triggered at /pytorch/torch/lib/THC/generic/THCTensorCopy.c:18"
the errors as following:

Traceback (most recent call last):
  File "test.py", line 31, in <module>
    generated = model.inference(data['label'], data['inst'])
  File "/home/george/project/pix2pixHD/models/pix2pixHD_model.py", line 175, in inference
    input_label, inst_map, _, _ = self.encode_input(Variable(label), Variable(inst), infer=True)
  File "/home/george/project/pix2pixHD/models/pix2pi

[2018-01-03 07:45] dylanthomas commented on #494
@peterjc123
I have trouble using pyTorch 0.3.0 with Titan-V [ but not with Titan-X] and am seeking your help.

I have installed pyTorch 0.3.0 using **conda install -c peterjc123 pytorch cuda90** and run pyTorch inside a Jupyter notebook without a problem when on Titan-X.

But on Titan-V, the GPU is corrected recognized [that is, "torch.cuda.get_device_name(0)" returned Titan-V], but the input data

[2018-01-03 08:22] peterjc123 commented on #494
@dylanthomas The GPU arch for the card __Titan V__ is Volta. I didn't compile the CUDA code for Volta in the conda package. You may have to compile from source with the help of this [repo](https://github.com/peterjc123/pytorch-scripts) by yourself.

[2018-01-03 08:33] fehiepsi commented on #4296
@SsnL Yes, it seems that if we construct `A` using `A = torch.randn(100, 100).tril(); A = A @ A.t()`, then some of its eigenvalues will be approximately 0, hence these Laplack functions fail.

[2018-01-03 08:39] gmyofustc commented on #3615
@apaszke  I am using gloo backend.
@alsrgv Recently, I found when I change the init_process_group from tcp to shared file system, the distributed training will be much stable
[code]
But when using the shared file system, the distributed engine does not always launch sucessfully. I have to submit the job lots of times.

And for distributed training, you can try [bmuf algorithm](https://docs.microso

[2018-01-03 09:15] GeorgeBohw commented on #4454
it's ok when i change to use another gpu（change gpu_id to 1）,maybe the problem is from gpu itself.

[2018-01-03 09:15] #4454 closed

[2018-01-03 13:51] apaszke commented on #4396
I'll look into that today

[2018-01-03 14:07] klyao opened #4456 "mul(sparse, dense) in pytorch"
Are there any implementation that realize the hadamard product between sparse and dense tensor in pytorch? It's very weird that we can get the hadamard product between sparse and sparse tensor by sparse_a * sparse_b, while we  can't get the hadamard product between sparse and dense tensor by any func.

cc @vincentqb @aocsa

[2018-01-03 15:24] soumith commented on #4408
fixed via #4452

[2018-01-03 15:24] #4408 closed

[2018-01-03 15:44] ezyang opened #4457 "Check at compile-time that grads[i] indexing in tools/autograd/derivatives.yaml are in bounds"
We don't check that the grads[i] formulas in tools/autograd/derivatives.yaml match with the actual number of outputs. We already do semantic analysis on derivative expressions (to determine what to save).
I will extend this to extract the set of direct grads[i] accesses that are made and then I will check if they are in bounds, based on the metadata which specifies how many outputs the forward has

[2018-01-03 18:44] #4396 closed

[2018-01-03 22:03] avmgithub opened #4464 "[ppc64le] test_cuda.py fails with newly added test test_stft"
The error is  --  python: /home/freddie/builder/jenkins/pytorch/pytorch/aten/src/ATen/ArrayRef.h:138: const T& at::ArrayRef<T>::operator[](size_t) const [with T = long int; size_t = long unsigned int]: Assertion `Index < Length && "Invalid index!"' failed.
test/run_test.sh: line 62: 157891 Aborted                 $PYCMD test_cuda.py $@

I believe the commit that did this was:  d8b2e5d0916a85e603c9

[2018-01-03 22:23] SsnL commented on #4464
What's your architecture and could you build with DEBUG=1 and paste the trace?

[2018-01-03 22:28] avmgithub commented on #4464
Architecture is ppc64le.  Sure I will build with DEBUG=1.
What trace are you referring to ?  The build output trace ?   Or the trace when I run the test ?

[2018-01-03 22:30] SsnL commented on #4464
The trace when the test errors. Ideally which PyThon stft call and the c trace. :) Thanks!

[2018-01-03 23:08] avmgithub commented on #4464
Here is the result -  I compiled with DEBUG=1 and then ran  "python test_cuda.py TestCuda.test_stft"
Result \:

ERROR: test_stft (__main__.TestCuda)

Traceback (most recent call last):
  File "test_cuda.py", line 1004, in test_stft
    TestTorch._test_stft(self, lambda t: t.cuda())
  File "/home/freddie/builder/jenkins/pytorch/pytorch/test/test_torch.py", line 2704, in _test_stft
    _test((2, 5),

[2018-01-03 23:42] fritzo commented on #678
I believe this can be closed. #4399 implemented `digamma(x)` and `polygamma(1,x)` (aka `trigamma(x)`), so `torch.lgamma` is now be *twice* differentiable.

[2018-01-03 23:48] fritzo opened #4466 "polygamma(n, x) fails on Variables x (but works on Tensors)"
To reproduce:
[code]
Note that `polygamma(n,0)` works as intended in computing derivatives of `digamma()`:
[code]

[2018-01-03 23:49] fritzo commented on #4466
@apaszke we got most of the plumbing right in #4399, but this usage does not yet work.

[2018-01-04 01:21] apaszke commented on #678
we still don't have native support for (log)beta. not sure how important that is since it can be computed using lgamma

[2018-01-04 01:33] deepbrain commented on #4396
I can confirm that in my tests it is not leaking memory anymore. Also, I looked at how jit instruments the classes and figured out what I was doing incorrectly. Now it all seems to work well. I am getting a 20% speedup on inference in a relatively simple model and 5% speedup during the learning. This is on a very fast Intel CPU 8700K and python2. I am guessing that the speedup will be greater with

[2018-01-04 01:38] deepbrain opened #4468 "JIT cuda error with non default GPU ID"
I found an issue when using a GPU with ID != 0. If I run all of the .cuda calls with the GPU argument of 1
 -- .cuda(1), I get an error:

RuntimeError: arguments are located on different GPUs at
 ../pytorch/aten/src/THC/generic/THCTensorMathPairwise.cu:259

It happens only with the JIT class decorations on. Also, it does not happen when the GPU id == 0.

Let me know if you can reproduce this, if n

[2018-01-04 02:16] rachtsingh commented on #678
In my experience, implementing it from lgamma is stable enough (https://github.com/rachtsingh/ibp_vae/blob/master/src/lgamma/beta.py#L22).

[2018-01-04 02:27] fritzo commented on #678
Right we're already using `lbeta(x,y) = lgamma(x) + lgamma(y) - lgamma(x,y)` in torch.distributions:
https://github.com/pytorch/pytorch/blob/35abc4e/torch/distributions/dirichlet.py#L63

[2018-01-04 02:59] sighingnow commented on #4419
Swap the order of the `*` and `/` operator, try

[code]

Then we could get the right answer. The result of `i * (b-a)` exceeds the precision of `float` type.

Indeed, in pytorch the `linspace` was implemented as @Ktakuya332C comment:

https://github.com/pytorch/pytorch/blob/43ab91118226b330be6d2274a154b98da233d879/aten/src/TH/generic/THTensorMath.c#L3385-L3388

[2018-01-04 03:03] dylanthomas commented on #494
@peterjc123
As suggested, I cloned your repo, ran **cuda9.bat** and tried to build using **python setup.py install**, but got the following error messages,
https://gist.github.com/dylanthomas/12a34043b1b46956830316e031081558

Can you tell me what could be the problem(s) ?

[2018-01-04 03:20] peterjc123 commented on #494
@dylanthomas It seems that `msbuild` cannot be found. Can you manually add it to PATH using command like this before build:
[code]
And please check if `msbuild.exe` exists in the specified dir.

[2018-01-04 04:07] Luckick commented on #2535
@apaszke Hi, I just want to know how to add batch norm in a nn.Sequential() when I use DoubleTensor. Thank you.

[2018-01-04 04:17] peterjc123 commented on #494
Guys, good news here. Windows CI for official PyTorch is now enabled in PRs.

[2018-01-04 04:20] yf225 commented on #3759
Windows CI is now enabled

[2018-01-04 04:28] Nelthirion commented on #494
Thanks for the news...

How long do you think it'd take for the link to appear in [pytorch.org](http://pytorch.org/) ?

[2018-01-04 04:42] rachtsingh commented on #678
Oh, I was trying to remember this: there's a lot of special purpose code handling [here](https://github.com/scipy/scipy/blob/master/scipy/special/cephes/beta.c#L138) (inside Cephes) based on the relative scale of the arguments, but I don't think it ended up mattering much.

[2018-01-04 05:16] peterjc123 commented on #494
@Nelthirion According to this [post](https://github.com/pytorch/pytorch/issues/3649#issuecomment-344280941), it should be available in about 2-3 months.

[2018-01-04 07:33] jiqiujia commented on #2575
the same problem when used in spyder, but it's ok when using a terminal

[2018-01-04 08:19] dylanthomas commented on #494
@peterjc123 Thank you for your help.  But I am still struggling.  So,
1.
when cuda9.bat was ran, I got
**C:\Users\parkj\pytorch-scripts\pytorch\aten\src\ATen\common_with_cwrap.py
1 File(s) copied
The system cannot find the path specified.**
So I manually ran
x**copy /Y C:\Users\parkj\pytorch-scripts\pytorch\aten\src\ATen\common_with_cwrap.py tools\shared\cwrap_common.py**

2.
And then, I set the m

[2018-01-04 08:26] visonpon commented on #3883
i also encounter this error when i use 8 Titan X GPUs and my pytorch version is 0.3 ,python is 2.7. it's so depressing since i have trained for some epoch.
Hope this issue can be solved quickly ,thanks~

[2018-01-04 08:46] peterjc123 commented on #494
@dylanthomas Please clean first before you rebuild it.
[code]

[2018-01-04 09:50] araffin opened #4472 "Build Error: no matching function for call to setattr(torch::jit::Node*&, ...)"
Hello,
I'm trying to build pytorch (I tried both v3_buildfix and master branch) on a raspberry pi 3 but i'm getting that error:

[code]
Note: I'm building without CUDA and DISTRIBUTED support.

OS:  Ubuntu 16.04 (Mate)
gcc: arm-linux-gnueabihf-gcc (Ubuntu/Linaro 5.4.0-6ubuntu1~16.04.5) 5.4.0 20160609
cmake:  v3.5.1

[2018-01-04 11:49] apaszke commented on #4472
Can you try building with [this patch](https://github.com/pytorch/pytorch/pull/4473) and let me know if that fixes it?

[2018-01-04 11:57] apaszke commented on #678
Alright, I'll close this. We can always create a new issue if it turns out to be an unstable approximation.

[2018-01-04 11:57] #678 closed

[2018-01-04 12:17] #4213 closed

[2018-01-04 12:17] #4348 closed

[2018-01-04 13:45] #4402 closed

[2018-01-04 13:45] #4472 closed

[2018-01-04 13:58] IssamLaradji commented on #1489
This is quite important as relying on the order of parameters can easily break. This is also important in the cases of re-using the optimizer history for training small a subset of the model (while keeping the rest of the model fixed).
What if the optimizer uses the names of the parameters when the `.named_parameters()` dict is passed ? i.e.
` torch.optim.Adam(model.named_parameters(), lr=1e-5) `

[2018-01-04 14:20] vishwakftw commented on #4419
I think this can be closed now.

[2018-01-04 14:21] #4419 closed

[2018-01-04 14:21] Sanjeev2487 commented on #3221
Hi amrit110,

I am also facing same issue, can you please elaborate 'nvidia-docker run staring container'.
Thanks

[2018-01-04 14:47] vadimkantorov opened #4474 "[docs] not in docs online torch.no_grad(), set_grad_enabled(), is_grad_enabled()"
Including master docs: http://pytorch.org/docs/master/search.html?q=no_grad&check_keywords=yes&area=default#

Despite the existing doc string: https://github.com/pytorch/pytorch/blob/master/torch/autograd/grad_mode.py#L5-L20

[2018-01-04 14:52] apaszke commented on #1489
The optimizers don't rely on the order itself. They just rely on the references to the parameters staying valid. If you change your model, you should recreate the optimizer. Even saving names doesn't help because:
1. the optimizer still wouldn't have the reference to the module, so it can't even look them up
2. it makes `optim` tied to `nn` which is undesirable
3. it's still not robust to paramete

[2018-01-04 14:53] N-Dekker opened #4475 "Visual C++ ATen Command line error D8016: '/Ox' and '/RTC1' command-line options are incompatible"
The current master dc76db349e9022b8b4e23de19780a5edf63cc5a1 triggers the following error messages from Visual Studio 2015 (Debug build):

2>------ Build started: Project: ATen, Configuration: Debug x64 ------
2>cl : Command line error D8016: '/Ox' and '/RTC1' command-line options are incompatible
...
14>LINK : fatal error LNK1104: cannot open file '....\src\ATen\Debug\ATen.lib'

It appears that th

[2018-01-04 15:17] peterjc123 commented on #4475
@N-Dekker Why do you need Debug build?

[2018-01-04 15:52] SsnL commented on #4464
hmm this is a different error than you originally posted. But I will fix this one in an upcoming fft PR. Thanks :)

[2018-01-04 16:05] pefi9 opened #4476 "StepLR - example"
Hi,
In the https://github.com/pytorch/pytorch/blob/e9ef20eab5e5cf361bdc7a425c7f8b873baad9d3/torch/optim/lr_scheduler.py#L86-L89 is written: "lr values are [0.05, 0.005, ...]."
If I understand it correctly, it should be [0.5, 0.05, 0.005, ...].

[2018-01-04 16:08] #3759 closed

[2018-01-04 16:13] N-Dekker commented on #4475
@peterjc123 Isn't ATen meant to support both Debug and Release builds?
FYI I'm involved with the project at https://github.com/SuperElastix/SuperElastix which does support both build configurations, and we would like to be able to link our project with ATen.

[2018-01-04 16:37] ezyang opened #4477 "Concrete native function hazard"
Consider the following native function:

[code]

This is a valid native function, but it is not a "transparently differentiable" one. It turns out that if you forget to correctly define an entry for `f` in `tools/autograd/derivatives.yaml`, this function will segfault on return, because Variable wrapping will assume that everything returned by `f` is a Variable (which clearly is not the case.) The

[2018-01-04 16:41] zou3519 commented on #4380
Oh I see. Sorry, I meant that I reproduced it on 0.3, which is what you probably have from pip.

I should have fixed this with https://github.com/pytorch/pytorch/pull/3811 and I've verified that this doesn't crash on master anymore. @sxqqslf if you build from source, the error should go away :) (instructions are in the README).

[2018-01-04 16:51] zou3519 commented on #4476
That is correct. Please feel free to send a PR to fix it! (otherwise, I can)

[2018-01-04 16:59] pefi9 commented on #4476
If you don't mind, I'm not contributor yet and don't want to start just for one comment. I guess `MultiStepLR` is the same case.

[2018-01-04 17:09] happsky commented on #2575
@jiqiujia What your solutions, it's not work for me with a terminal?

[2018-01-04 17:37] #4476 closed

[2018-01-04 17:38] #4039 closed

[2018-01-04 17:53] marius313 commented on #494
@peterjc123 Thanks for all your great work.
Your Windows installation seems to run perfectly for my colleague.

However when I try to replicate his setup, I get really bad python kernel crashes.
The only difference is that I am using pytorch 0.3.0 and he uses and older version.
I have attached the script that kills my kernel.

My system settings are:
Windows-10-10.0.14393-SP0
Python 3.6.3 |Anacond

[2018-01-04 18:53] ezyang opened #4480 "DCE trick for inplace tracing doesn't work"
Exposed by #4395, hotpatched in #4471.

The DCE trick says that if I have `y = f(x)`, and `f` is internally implemented as `g`, it's OK to trace both `g` and `f`. Recall the tracing algorithm is:

1. enter f(x)
2. compute its result y (recursively calling other possibly tracing functions)
3. trace y = f(x) (use the mapping to figure out the identity of x, and writing in a mapping that y binds to t

[2018-01-04 19:11] r9y9 opened #4481 "Unable to convert list of numpy-type scalar to Tensor"
Similar to #3513, I happened to see an error when I wanted to convert list of int to LongTensor. To reproduce,

[code]

Of-course I can fix this by casting numpy.int32 to int, but I wonder if this could be handled in pytorch similar to #3513?

[2018-01-04 21:12] neerajprad commented on #4178
I tried to create the wheels for Ubuntu, and wanted to follow up. For our purposes, we do not need a manylinux wheel that works across multiple linux distros (which is otherwise useful, and for uploading to pypi). I was able to easily create one ~ 45 MB for `linux_x86_64` which is what we need for CI testing on ubuntu machines. I am now trying to figure out where to host it with public read permis

[2018-01-04 21:14] ezyang opened #4483 "Variable(None) seems wrong"
The expression `Variable(None)` is accepted without exception in PyTorch, but it will give a Variable wrapping a zero-size(??) tensor, which is basically not something you ever want; you want to an undefined tensor.

Perhaps this problem will go away when Tensor and Variable unify.

[2018-01-04 21:57] #4434 closed

[2018-01-04 22:02] taoari opened #4485 "DataParallel multi-gpu results do not match"
I am using the following scripts for multi-gpu computation using DataParallel:

[code]

The following is the output:

[code]

The CPU (o1) computation matches the GPU (o2) computation. But why they do not match with multi-GPU (o3) computation?

[2018-01-04 22:07] soumith commented on #4485
BatchNorm introduces variation in output depending on input batch size.
CPU and single-GPU are running Batch Size of 6
multi-GPU is running batch size of (6 / nGPU)

It's expected that these outputs wont be the same.

[2018-01-04 22:07] #4485 closed

[2018-01-04 22:08] colesbury commented on #4392
I really like this idea. I think fast-by-default is important: both in terms of start-up time and speed of convolutions. Many researchers don't know or forget about the cudnn.benchmark flag.

There are a few simple things we can do to make this reasonable:
1) Limit the size of the global cache (evict old entries)
2) Only benchmark a convolution after we see the same shape "key" multiple times. We

[2018-01-04 22:14] apaszke commented on #4392
The problem with 1. is that if the number of shapes you're using is larger than the cache size your program will keep benchmarking forever (if I understood that correctly).

I think 2. is a great idea, but it would still be the best with a mode that forcefully disables benchmarking after some time if it doesn't give you any speedups (i.e. the cache would have to be huge, there are too many too rar

[2018-01-05 00:19] dylanthomas commented on #494
@peterjc123
Thank you for the continued help.

I ran setup.py clean before install, but got pretty much the same error messages.
https://gist.github.com/dylanthomas/2990c25689418652b5ac5a5af9607cc8

Is there something else that I can try.. ?

[2018-01-05 02:03] davidbau opened #4490 "cuda topk dim=0 crash on small tensor in two lines of code"
Repro:
[code]

Expect two small tensors of small integers to be printed.  Instead, only the first case works. In the second case, you get a series of failed assertions starting with this:

[code]

I wonder if it is related to #3959

[2018-01-05 02:08] mingfeima commented on #4186
Hi, @soumith . Still looking forward to your reply. I already uploaded [MKLDNN](https://anaconda.org/mingfeima/mkldnn) to Anaconda, you can give it a try.

[2018-01-05 02:24] peterjc123 commented on #494
@dylanthomas You can try the original script [here](https://gist.github.com/peterjc123/a4ac6ce4b0ed4b1b497334baaeb595e3).

[2018-01-05 02:35] peterjc123 commented on #494
@marius313 I've reproduced the error here. I'll look into it later.

[2018-01-05 03:14] ezyang opened #4492 "test_cudnn_weight_format nondeterministically fails when run with pytest"
To reproduce, install pytest and run: `pytest test/test_nn.py -k cudnn`

You will get:

[code]

This failure does not happen when you run only this test.

[2018-01-05 03:26] ezyang commented on #4492
Minimal fix:

[code]

More robust fix coming tomorrow.

[2018-01-05 04:09] GeeshangXu commented on #478
The current pip wheel is **10 more times larger** than other deep learning frameworks, maybe CUDA and MKL should stay out the wheel.

[2018-01-05 05:18] peterjc123 commented on #4475
Well, you can remove the `/Ox` flags in `aten\src\ATen\CMakeLists.txt` as a workground.

[2018-01-05 09:22] sahiljuneja opened #4494 "ImportError: libcudnn-a2b758a6.so.7.0.3: cannot open shared object file: No such file or directory"
Installed pytorch version for python 2.7 on my system which **has a really old gpu and I don't plan to use it currently for pytorch**.

System - Ubuntu 16.04

I am not working with conda, because some of the work I plan to do requires trying to work with Gazebo and ROS which might have issues with conda.

Used the following from the website -
[code]

After that, I tried to run a DQN python script

[2018-01-05 11:31] albanD commented on #2421
@D-X-Y square root has no subgradient at 0. You could define a gradient by continuity but then it would be `+inf`...
Given that pytorch is using autograd, `x.norm()` and `x.pow(2).sqrt()` (equivalent to your `torch.sqrt(x*x)` are completely different:
- The first one is a single function that is convex and defined on R, it has a subgradient of 0 at 0.
- The second one is composed of two function,

[2018-01-05 11:36] soumith commented on #4494
that looks like a botched install. What is the output of the following commands:

[code]

[2018-01-05 12:08] araffin commented on #4472
Thanks, it compiles now ;)

[2018-01-05 12:33] lanpa opened #4495 "Incorrect scoped tracing result"
Using torch 0.4.0a0+408c84d, tracing code adapted from #4200

1. `F.log_softmax` is interpreted as:
[code]

2. Tracing result of VGG19/Alexnet from torchvision model: The scope of conv2d layers is `ReLU[x]` instead of `conv2d[x]`

alexnet:
[code]

vgg19:
[code]

3. [debug hint?] Tracing result of Resnet can be fixed if I rewrite `self.relu` as functional (`F.relu()`)
http://35.197.26.245:6006/#gra

[2018-01-05 14:26] gky1993 commented on #2762
I have the same problem!!! I use torch.save(model,...) to save the model but can not load the model with torch.load()??? I load models successfully before , why can't I now ?

[2018-01-05 14:53] ezyang commented on #4495
So, there are a few bugs here.

1. In the first case, the problem is that we are not correctly propagating scopes to *all* of the nodes generated by a symbolic definition, only one the output (`torch/csrc/jit/passes/onnx.cpp`):

[code]

This probably should be a simple fix; we should just adjust the default scope of newly added nodes before running the symbolic (assuming this is how it works... ha

[2018-01-05 14:53] ezyang commented on #4495
I'm going to tentatively assign this to myself but I am not going to get to it before the end of this week.

[2018-01-05 14:56] ezyang commented on #4081
Are all the fixes here merged to master now?

[2018-01-05 14:59] gky1993 commented on #2762
@Zahra-Kadkhodaie how do you add the definition?

[2018-01-05 15:07] lantiga commented on #4495
Hey @ezyang @lanpa, I'm taking a look.

[2018-01-05 15:33] PascalCeccaldi opened #4497 "MaxPool3d cannot be differentiated twice"
While trying to implement WGan with gradient penalty for 3D volumes, I realized that MaxPool3d cannot be differentiated twice, while it works for MaxPool2d or even AvgPool3d.

Here is the code I am using :

[code]
Thanks

[2018-01-05 15:36] lanpa commented on #4495
@ezyang @lantiga
I just fixed Alexnet tracing by explicitly made the forward call without using `nn.Sequential`

replace the [classifier](https://github.com/pytorch/vision/blob/master/torchvision/models/alexnet.py#L33) with

        x = F.dropout(x)
        x = self.fc1(x)
        x = self.relu1(x)
        x = F.dropout(x)
        x = self.fc2(x)
        x = self.relu2(x)
        x = self.fc3(x)

[2018-01-05 15:43] ezyang commented on #4497
Hi, which version of PyTorch?

[2018-01-05 15:48] PascalCeccaldi commented on #4497
Sorry, forgot this.
torch 0.3.0.post4

[2018-01-05 16:11] lantiga commented on #4495
Hi @lanpa, I want to make sure I'm reproducing what you see. This is what I get on AlexNet (I'm working on current master 408c84de7c4d852beffb9c64e2351b16cfff8a1f):

[code]

outputs

[code]

[2018-01-05 16:50] lanpa commented on #4495
@lantiga Here's my modified network: (I forward tensors explicitly)
https://gist.github.com/lanpa/452268a4e48106d79357dabf82d76054

And sorry, I forgot that I also called optimize:
https://github.com/lanpa/tensorboard-pytorch/blob/master/tensorboardX/graph.py#L45

so the output is much concise
[code]

[2018-01-05 16:52] lantiga commented on #4495
Thanks a lot. Indeed the issue seems to be the ONNX pass in optimize, as @ezyang already pointed to.

[2018-01-05 17:25] lantiga commented on #4495
Ok I think I get it. I believe both are the expression of the same issue in `torch/onnx/__init__.py`.
The fix is not hard but not a one-liner, I'll work on it in the weekend.

[2018-01-05 17:37] rajarsheem opened #4498 "recurrent dropout available ?"
Hello,
I am looking for recurrent dropout. Is this available or any alternative way of implementing it ?

[2018-01-05 17:58] #4386 closed

[2018-01-05 17:59] soumith commented on #4498
please use https://discuss.pytorch.org for questions

[2018-01-05 17:59] #4498 closed

[2018-01-05 20:12] colesbury commented on #4483
Yeah, `Variable(None)` is weird. Probably only accidentally supported because of the definition of `nn.Parameter`'s constructor.

RE: undefined vs. zero-sized: I think it's the reverse. We support zero-sized tensors (and variables) in Python. Undefined tensors should never escape to Python.

[2018-01-05 20:35] lukuang opened #4499 "Compiling error of gloo when installing pytorch from source"
Hi,

I am trying to install pytorch from source and faced a compiling problem of gloo. I followed the instruction in the README. Below is the error log.

[code]

Any help would be appreciated.

[2018-01-05 20:45] ngimel commented on #4081
#4184 is merged, #4199 is superceded by #4395, so this issue can be closed, and #4199 can be closed too? @lantiga?

[2018-01-05 20:55] #4081 closed

[2018-01-05 21:47] ezyang opened #4500 "CUDA ConvTranspose double backwards disagrees with CPU"
When I added more robust testing for double backwards, I discovered that the following tests started failing with giant numerical errors:

[code]

I am not sure why they are failing.

[2018-01-05 22:20] ezyang opened #4501 "Bind in Python _backward ATen functions"
At the moment they are not bound because we don't support `std::array<bool, N>` binding, but this should be easy to add.

[2018-01-05 22:32] lantiga commented on #4081
@ngimel yep, correct. Thank you for following up.

[2018-01-05 22:53] zdevito commented on #4468
I couldn't reproduce this exact problem, but I did submit #4504 which fixes a related issue. If this doesn't fix your issue, then a test case would be helpful.

[2018-01-05 23:08] apaszke commented on #4500
how big are the relative errors?

[2018-01-06 00:49] apaszke commented on #4475
We should patch this file to ignore this flag when building the library in debug mode. It shouldn't be too hard

[2018-01-06 01:36] lantiga commented on #4495
The `log_softmax` issue is clear, I have a fix.

The issue with AlexNet, Resnet etc is trickier: it's related to Relu having `inplace=True` (it's independent from the use of Sequential).

Essentially, during the ONNX pass, the scope is correctly set to `AlexNet/Sequential[features]/Conv2d[0]` when the `_convolution` op is created, but then it gets overwritten with `AlexNet/Sequential[features]/ReL

[2018-01-06 02:27] deepbrain commented on #4468
I am still getting the same error with the new code. Here is a simple test case, if you set the GPU=0 all works fine, when GPU=1 I get the error:

RuntimeError: arguments are located on different GPUs at ../pytorch/aten/src/THC/generic/THCTensorMathBlas.cu:236

if I comment out @torch.jit.compile(nderivs=1), no error is thrown.

[code]

[2018-01-06 03:21] Jensen-Su opened #4507 "RuntimeError: DataLoader worker (pid 23616) is killed by signal: Terminated."
Here is the error info
[code]
I'm lost...

[2018-01-06 05:00] sxqqslf commented on #4380
@zou3519 Emmm, I have rebuilt the pytorch from source, it's ok now, ths.

[2018-01-06 05:06] #4380 closed

[2018-01-06 05:15] ezyang commented on #4495
@lantiga, although I was initially not convinced, you nailed it on the head; in fact, this bug was uncovered by hotpatch #4471 (for #4480), which is working around a tracing problem by returning identity, causing setOutputs to go wrong. (We return identity in other places but its occurrence is much more rare.)

I think the correct way to fix this is to test if `output[i]` aliases one of the inputs

[2018-01-06 05:21] ezyang commented on #4500
The absolute error was very large, but I didn't actually check what the relative error was. I'll do so tomorrow.

[2018-01-06 05:48] ezyang commented on #4178
Yes, we've got this on our list of things to do for our CI system. One minor issue to resolve is where to put all the nightly binaries; it seems best if we never delete them.

[2018-01-06 06:52] vishwakftw commented on #3973
I believe this can be closed now. @soumith

[2018-01-06 07:28] jekbradbury commented on #830
I'm working on this :slightly_smiling_face:

[2018-01-06 08:26] neerajprad commented on #4178
@ezyang - I suppose there is little value in hosting old nightly binaries (beyond  1-2 weeks). Maybe you could have additional binaries hosted for major feature additions. If occasionally one needs to build an older version, they could build it from source.

I suppose we could use Amazon S3 to host it? That's what I was planning to do.

[2018-01-06 10:56] netheril96 opened #4509 "Feature request: instance norm without the computation of running statistics"
The current instance norm implementation delegates to `nn.functional.batch_norm` for the actual computation, and if my understanding is not wrong, the latter requires the presence of running mean and variance. Instance norm, however, usually never needs these statistics even in testing mode, so it is waste of both time and space. It would be nice if `batch_norm` could be modified such that running

[2018-01-06 11:02] netheril96 commented on #4507
One solution might be moving your codes to Python 3.5+, where [syscalls failing with EINTR are retried automatically](https://www.python.org/dev/peps/pep-0475/).

[2018-01-06 11:49] #4475 closed

[2018-01-06 11:54] #3973 closed

[2018-01-06 12:01] #2174 closed

[2018-01-06 12:03] apaszke commented on #4509
Yeah that should be fairly easy

[2018-01-06 12:33] vishwakftw commented on #3737
This can be closed too @apaszke

[2018-01-06 15:58] #4457 closed

[2018-01-06 16:45] #3737 closed

[2018-01-06 18:53] lantiga commented on #4495
@ezyang the plot thickens. So, this is what I get on AlexNet when I print out addresses of node, inputs and outputs at this point https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/passes/onnx.cpp#L89

[code]
It seems that the later `threshold` behaves correctly, but that `threshold_forward` reuses `_convolution`'s output node. This leads to `threshold_forward`'s scope to overwrite `_co

[2018-01-06 19:15] ezyang commented on #4495
@lantiga That seems consistent? #4471 operates by effectively creating an ONNX translation for `threshold_forward` that is identity (i.e., whatever `Value` it gets as input, it returns as output).

Maybe your problem is, in your debug statements, you're mixing up the input nodes from the old graph, versus the new graph. You need to check for aliasing against the new graph (i.e., after `env` transl

[2018-01-06 20:54] lantiga commented on #4495
Thanks for the explanation @ezyang

I'll look at this more closely, but in the meantime these are my debug statements:
[code]

[2018-01-07 01:16] davidbau opened #4513 "topk crash of 4d tensors on gpu"
Topk often works on the gpu, but often also not.  Found another form in which it fails, crashing when using topk on a 4d tensor.

[code]

Observe a crash with:

[code]

[2018-01-07 01:18] lantiga commented on #4495
Your suggestion worked @ezyang, I've got the fix. I'll submit a PR tomorrow, thanks!

[2018-01-07 01:44] bamtercelboo commented on #4340
@apaszke Hi, I have find the bug for the problem,  the bug appear when use nn.Embedding() , max_norm is not None.
if you use like this, `self.embed = nn.Embedding(V, D, max_norm=None, scale_grad_by_freq=True)` , this is ok, no problem, gpu and cpu both ok.
but when you use it like this, `self.embed = nn.Embedding(V, D, max_norm=5, scale_grad_by_freq=True)` , the random seed can not fix in gpu, cpu

[2018-01-07 02:00] bamtercelboo opened #4514 "nn.Embedding(), max_norm is not None can`t fix the random seed on cuda: #4340"
The problem : [#4340](https://github.com/pytorch/pytorch/issues/4340)
I have find the bug for the problem, the bug appear when use nn.Embedding() , max_norm is not None.
if you use like this, self.embed = nn.Embedding(V, D, max_norm=None, scale_grad_by_freq=True) , this is ok, no problem, gpu and cpu both ok.
but when you use it like this, self.embed = nn.Embedding(V, D, max_norm=5, scale_grad_by_

[2018-01-07 02:23] netheril96 commented on #4509
@apaszke Could you do it then? I am not familiar enough with PyTorch sources to propose a PR, especially since the implementation of `nn.functional` is very hard to understand.

[2018-01-07 03:58] asif07hossain commented on #1321
x11[:,:,0:int(w_f/2),0:int(h_f/2)]= x11[:,:,0:int(w_f/2),0:int(h_f/2)]*xx1[0]

suppose x11 is a auto grad variable. Now my issue is, when i am running the code it say:
RuntimeError: one of the variables needed for gradient computation has been modified by an inplace operation

but if i do x11=x11*xx1[0], then no error things go correctly

[2018-01-07 04:26] peterjc123 commented on #4092
@yf225 The first one is solved by #4453 but I think DataLoader can be further improved when #4000 is fininshed.

[2018-01-07 04:28] yf225 commented on #4092
@peterjc123 Cool I will mark it as resolved :)

[2018-01-07 07:45] zlmoment opened #4516 "What's the plan for macOS? I noticed that the macOS building badge was removed from README"
I was wondering if there is any future plan to support macOS (with GPU)?

[2018-01-07 10:00] HarshneetBhatia opened #4518 "from torch._C import * (ImportError: DLL load failed: The specified module could not be found."
File "<ipython-input-2-a4038b0d61ea>", line 4, in <module>
    import torch

  File "C:\Users\hp i3\Anaconda3\lib\site-packages\torch\__init__.py", line 76, in <module>
    from torch._C import *

ImportError: DLL load failed: The specified module could not be found.

[2018-01-07 10:11] peterjc123 commented on #4518
@HarshneetBhatia Which version are you using? Do you have CUDA cards? How did you install it?

[2018-01-07 10:19] peterjc123 commented on #4518
@HarshneetBhatia And I noticed there is a space inside your path of Anaconda install. Would you please try a path without it?

[2018-01-07 10:21] HarshneetBhatia commented on #4518
@peterjc123
Using Anaconda -Spyder python 3.6
I have installed conda install -c peterjc123 pytorch

I am using windows 8.1

[2018-01-07 10:29] peterjc123 commented on #4518
@HarshneetBhatia If if doesn't work after reinstalling Anaconda, then you can use sth. like Dependency Walker, open `[Anaconda PATH\Lib\site-packages\torch\lib\_C.pyd]` to detect what's wrong there.

[2018-01-07 10:33] soumith commented on #4516
we dont plan to support macOS + CUDA binaries. macOS + CPU binaries are always available from our website.

[2018-01-07 10:33] #4516 closed

[2018-01-07 10:58] maatini opened #4520 "endless loop in abs() for uint8_t"
My compiler (Apple LLVM version 8.1.0 (clang-802.0.42) complained about this, but I think it's reasonable. In the specialization THCNumerics<uint8_t> the abs-function is defined in a selfrecursive way
ie

uint8_t abs(uint8_t a) { return abs(a); }

Because an uint8_t has no sign it should imo defined as

uint8_t abs(uint8_t a) { return a; }

[2018-01-07 11:04] apaszke commented on #4516
but, if you have a CUDA card in your mac you should be able to build from source

[2018-01-07 11:05] apaszke commented on #4520
Yup that's an error. Can you please send a PR?

[2018-01-07 11:05] maatini commented on #4518
I had the same issue and it was caused the directory torch which is generated in the same directory by compiling the source. The solution for me was simply changing the directory before open python.

[2018-01-07 11:08] apaszke commented on #4509
I'm ok with accepting a PR, but I don't think it's a priority for us at this point, so I'll continue working on other things. Of course if you show us an example where getting rid of running stats makes the training much faster then we will reconsider the priority.

[2018-01-07 11:10] apaszke commented on #4514
Do you have any (small) snippet that would let us reproduce what you're seeing? I'm not sure if I fully understand the problem. `nn.Embedding` is fully deterministic and has no influence on the random state.

[2018-01-07 11:30] maatini commented on #4520
I am sorry. I am inexperienced with that and have not currently time. But I will soon invest some time in learning it.

[2018-01-07 11:44] sighingnow commented on #4520
I'm volunteer to push a patch for this issue.

[2018-01-07 11:45] netheril96 commented on #4509
😅It will be a little hard to benchmark the exact difference of memory and time usage, without an implementation that does not require the running statistics.

[2018-01-07 11:48] HarshneetBhatia commented on #4518
@maatini I am using Anaconda can you please guide me how to change the directory.

Thanks in advance

[2018-01-07 11:54] bamtercelboo commented on #4514
@apaszke all right, the test following:

- the same demo, **max_norm is not None**, ` self.embed = nn.Embedding(V, D, max_norm=5, scale_grad_by_freq=True)`run two times on `cuda`:
first result:
![default](https://user-images.githubusercontent.com/22359268/34649069-3e3d5556-f3e2-11e7-8f0c-12ac4d71a79a.png)
second result:
![default](https://user-images.githubusercontent.com/22359268/34649076-64cbf0f

[2018-01-07 12:03] bamtercelboo commented on #4514
@apaszke and,  when set the `torch.backends.cudnn.enabled = False`, the max_norm is not None else has no influence on the random state, so I think the problem is the cudnn problem, but I can not understand why the parameter of max_norm has relation with the cudnn?

[2018-01-07 12:04] maatini commented on #4518
The problem in my case was that I started python from a (command)-shell from the directory in which I compiled pytorch. In this directory exists (was generated) the sub-directory torch, which python tries to load if you "import torch". So simply leaving the pytorch directory before starting python solved my problem.

[2018-01-07 12:06] klyao opened #4523 "A big bug for torch.mm(sparse, dense) or torch.smm(sparse, dense)"
[code]

if you run the above code several times, you will find that torch.mm(c, e) and torch.mm(c_dense, e_dense) got a totally different results!!!

[2018-01-07 12:12] soumith commented on #4514
what is the output of `print(torch.__version__)`?

[2018-01-07 12:17] bamtercelboo commented on #4514
@soumith I once doubt the problem appear the pytorch version, I use the version is 0.3, I test it on the version 0.2, but still has the problem. so, the problem not caused by pytorch version.

[2018-01-07 12:23] soumith commented on #4514
@bamtercelboo i checked the CUDA kernel for max_norm based Embedding. It has no AtomicAdd operations and should be fully deterministic. What is likely happening is that for some reason when `max_norm=False`, by chance cudnn must be picking it's deterministic algorithms. This can happen because of subtle reasons (maybe if max_norm=False the input to Conv2d backward somewhere is non-contiguous or so

[2018-01-07 12:23] #4514 closed

[2018-01-07 12:40] bamtercelboo commented on #4514
@soumith @apaszke all right, I have tested,  `torch.backends.cudnn.deterministic = True`, the speed is almost same with the default, `torch.backends.cudnn.enabled = False`, the speed will be slower so much, but all of them can fix the cudnn random state. thanks.

[2018-01-07 12:50] maor121 commented on #830
Hi, I thought I would contribute an idea taken from another framework: Dynet.

Currently, implementing batching in sequences in Pytorch is a significant pain:
1) Packed sequence alter the input order, it is undocumented in what way exactly, and unless you want to constantly unpack & pack (inefficient), you would have a hard time altering it.
2) Masking is slow.
3) Batching sequences of the same le

[2018-01-07 13:38] #4520 closed

[2018-01-07 13:50] bamtercelboo commented on #4514
@apaszke @soumith `torch.backends.cudnn.deterministic = True` is only effective on CNN, not effective on LSTM, if want to fix the lstm random state in gpu, only set `max_norm = None` until now.

[2018-01-07 13:51] lantiga commented on #4495
Fix is in /cc @ezyang

[2018-01-07 14:03] apaszke commented on #4514
Note that it's not really caused by the `max_norm` flag (it's some weird interaction between cuDNN and the result of computation), so it might still get triggered under different conditions unless you use `deterministic = True`

[2018-01-07 14:34] lantiga commented on #3874
I guess we can close this

[2018-01-07 14:45] ducha-aiki commented on #3963
CUDA 9.0, gcc 6.3.0, Debian 9.2 - same problem :(

[2018-01-07 15:09] Sidney2408 commented on #494
@peterjc123 with regards to my previous post

I solved some missing dlls by adding the directories to the PATH variable. However there are many modules that cannot load because they do not exist in my system:
API-MS-WIN-XXXX.DLL
ext-ms-win-XXXX.dll

KERNEL32 seems to have itself as a dependency

The function that python35.dll has problems exporting is " PyThreadState_UncheckedGet"

These DLLs seem

[2018-01-07 15:12] peterjc123 commented on #494
@Sidney2408 Does creating a new virtual environment helps?

[2018-01-07 15:36] HarshneetBhatia commented on #4518
@maatini In Anaconda do you have any idea how can this problem be solved ?
Because I not getting how to change the directory in Anaconda.

[2018-01-07 16:05] Sidney2408 commented on #494
@peterjc123

(test) C:\Users>conda install -c peterjc123 pytorch
Fetching package metadata .............
Solving package specifications: .

UnsatisfiableError: The following specifications were found to be in conflict:
  - pytorch
Use "conda info <package>" to see the dependencies for each package.

(test) C:\Users>conda info pytorch
Fetching package metadata ...........

NoPackagesFoundError: Pac

[2018-01-07 16:24] Sidney2408 commented on #494
@peterjc123
Solved the package by downloading the zip and manually installing with
`conda install pytorch-0.3.0-py36_0.3.0.tar.bz2`

pytorch now compiles normally on the test env
Thank you so much!

[2018-01-07 16:41] ezyang commented on #4518
@HarshneetBhatia Same as how you normally change directory: `cd`.

[2018-01-07 19:09] ngimel commented on #4509
Then show what fraction of runtime instance norm as a whole is taking? If it's 10%, improving it by 20% is not going to give big overall speed-up.

[2018-01-07 20:51] jekbradbury commented on #830
There was some discussion about that possibility when DyNet autobatch was released. What I’m working on now would aim to solve the problems in 1,2,3 without the significant limitations and performance drawbacks of DyNet's approach (e.g. in DyNet the batching process is a graph optimization pass that runs every iteration and often takes longer than executing the batched network).

[2018-01-07 21:31] deepbrain commented on #4336
I pulled the code from the main branch today and still got this error:

[ 91%] Linking CXX executable wrapdim_test
../libATen.so.1: undefined reference to `nnp_convolution_kernel_gradient'

I checked that the nnp_convolution_kernel_gradient is present in the libnnpack.so in /usr/local/lib on my system.

When I pulled the change in 4439, I got a little bit further in compilation, but still get this

[2018-01-07 21:37] deepbrain opened #4526 "NNPACK build issue"
I pulled the code from the main branch today and still got this error:

[ 91%] Linking CXX executable wrapdim_test
../libATen.so.1: undefined reference to `nnp_convolution_kernel_gradient'

I checked that the nnp_convolution_kernel_gradient is present in the libnnpack.so in /usr/local/lib on my system.

When I pulled the change in #4439, I got a little bit further in compilation (the wrapdim_test

[2018-01-07 22:15] o0unce commented on #494
@peterjc123
win8.1  conda install -c peterjc123 pytorch cuda80  (done)

Run setup https://github.com/DmitryUlyanov/deep-image-prior/blob/master/denoising.ipynb >>>
AssertionError: Torch not compiled with CUDA enabled

Any help is very much appreciated.

[2018-01-07 23:10] peterjc123 commented on #494
@o0unce Please remove you packages and install again.
[code]

[2018-01-07 23:58] ezyang commented on #4526
Can you post a build log; in particular, I want to know which nnpack library cmake decided to link against.

[2018-01-08 01:58] ShomyLiu commented on #3883
Crashed in Python2.7
RuntimeError: torch/csrc/autograd/input_buffer.cpp:14: add: Assertion `pos >= 0 && pos < buffer.size()` failed
[code]

[2018-01-08 02:03] ezyang commented on #3883
@ShomyLiu This has been fixed in HEAD but there has not been a release of 0.3 with the fix yet.

[2018-01-08 02:06] ShomyLiu commented on #3883
@ezyang  Oh, Thanks for your reply.  I will try the HEAD version. Thank you .

[2018-01-08 02:10] deepbrain commented on #4526
The build log is below, here is the view of /usr/local/lib/libnnpack.so

[2018-01-08 02:20] sighingnow commented on #4466
When dispatch the module methods to variables, if the `self` argument comes second, the first two arguments need to be swapped.

https://github.com/pytorch/pytorch/blob/35abc4efa2d08ef2e9b7d978089fbd98b8d14187/torch/csrc/Module.cpp#L222-L224

We could use `polygamma` as

[code]

We should call `IMPLEMENT_STATELESS` for `polygamma` rather than `IMPLEMENT_STATELESS`. I will open a PR for that.

[2018-01-08 06:23] lanpa commented on #4523
What is `sparse_mx_to_torch_sparse_tensor()`? It's better to provide a minimal runnable code to reproduce the bug.

[2018-01-08 06:26] klyao commented on #4523
sparse_mx_to_torch_sparse_tensor() is just a func that transform sp.coo_matrix() to torch.sparse.FloatTensor.

def sparse_mx_to_torch_sparse_tensor(sparse_mx):
    sparse_mx = sparse_mx.tocoo().astype(np.float32)
    indices = torch.from_numpy(np.vstack((sparse_mx.row, sparse_mx.col))).long()
    values = torch.from_numpy(sparse_mx.data)
    shape = torch.Size(sparse_mx.shape)
    return torch.spa

[2018-01-08 07:05] netheril96 opened #4528 "HTTPS for the website"
I am not sure if this repo is the right place to post this issue. If it is not, please point to where I could voice my concern.

`pytorch.org` contains command line that people are expected to execute. It also hosts pip wheel files on insecure connections. The lack of TLS protection is dangerous, as attackers may inject malicious content into the webpage and the download stream. The solution is to

[2018-01-08 07:56] o0unce commented on #494
@peterjc123 I tried install, another problem.
import torch >>> ImportError: DLL load failed: specified module could not be found

[2018-01-08 08:01] peterjc123 commented on #494
@o0unce Did you have another install of PyTorch or Python? If not, then would you please if that works in a fresh virtual environment?

[2018-01-08 08:52] o0unce commented on #494
@peterjc123 No, but I can try.  It worked without errors with  `conda install -c peterjc123 pytorch`

[2018-01-08 10:15] zchky opened #4530 "descriptor 'add' of 'torch._C._VariableBase' object needs an argument"
the pytorch document said that the add opeartion can be like this
         ` torch.add(input, value=1, other, out=None)`
but it will rise the error of descriptor 'add' of 'torch._C._VariableBase' object needs an argument
when i do
        `torch.add(input=a, value=0.01, other=a)`

a is a Variable  like
Variable containing:
 5.0500
[torch.FloatTensor of size 1]

but torch.add(a, 0.01, a) is fine to

[2018-01-08 10:57] N-Dekker opened #4531 "Visual C++ TH\vector\AVX2.c(60): error C2440: 'function': cannot convert from 'int' to '__m256'"
Visual C++ 2015 (64-bits) produces the following messages (both for Debug and Release) at the master branch (current commit: c9bc6c2bc3af1308cff72c95eda55a1b7eff293c):

Does anyone of of you have a clue what goes wrong?

See https://github.com/pytorch/pytorch/blob/c9bc6c2bc3af1308cff72c95eda55a1b7eff293c/aten/src/TH/vector/AVX2.c#L60

[2018-01-08 11:44] elanmart commented on #4523
What torch version are you using? And what do you mean by "completely different"?
I can't reproduce this on `master`

[2018-01-08 11:45] tzuf opened #4532 "installation prob: CONNECTION FAILED for url <https://conda.anaconda.org/pytorch/linux-64/repodata.json>"
tried to install pytorch via conda on Ubuntu:
'conda install pytorch torchvision -c pytorch'
I get:
CondaHTTPError: HTTP 000 CONNECTION FAILED for url <https://conda.anaconda.org/pytorch/linux-64/repodata.json>
Elapsed: -

An HTTP error occurred when trying to retrieve this URL.
HTTP errors are often intermittent, and a simple retry will get you on your way.
ConnectionError(MaxRetryError("HTTPSCon

[2018-01-08 11:53] klyao commented on #4523
torch version: 0.2.0_4。

completely different means that they got a different result, but actually it should get the same result because  torch.smm(c-b, e).to_dense()) and torch.mm(c.to_dense()-b.to_dense(), e)) are equal operations.

[code]

[2018-01-08 11:54] klyao commented on #4523
Do you use the code that I provided above? If you run several times, you will find that sometimes they got different results.

[2018-01-08 12:22] o0unce commented on #494
@peterjc123 I create new VM win8.1x64, install anadoconda5.1py3.6x64
install packages: `conda install -c peterjc123 pytorch_legacy cuda80`
and numpy, scipy, matplotlib, scikit-image (all done)
Error appears again

[2018-01-08 12:30] peterjc123 commented on #494
@o0unce Do you have CUDA cards? Can you use sth like Dependency Walker on `[Anaconda PATH]\Lib\site-packages\torch\_C.pyd` to detect issues?

[2018-01-08 12:31] elanmart commented on #4523
I don't think it's a bug. You'll observe the same thing using numpy, it's probably just rounding errors due to limited machine precision.

[2018-01-08 12:39] apaszke commented on #4532
This is the answer:

Your connection is misconfigured.

[2018-01-08 12:39] #4532 closed

[2018-01-08 12:44] klyao commented on #4523
I'm afraid not, bro. I just tested it on numpy several times and got no problem...  And you can see that in pytorch, the difference of the results of the two operation is a little big while the matrix are only 4*4!
[code]
@elanmart

[2018-01-08 12:58] soumith commented on #4528
we use github-pages, which dont support https for custom domains yet https://github.com/isaacs/github/issues/156.
And the wheel files are hosted on https as well, it's just that many users with older python were having failing installs.
PyTorch is a community project, with the majority of the activity from facebook.
thanks a lot for voicing your concern, I'll keep the issue open to track this to c

[2018-01-08 13:12] albanD commented on #4523
Hi,

Using master, the following script runs forever on my machine. Does it crashes for you?
[code]

[2018-01-08 13:12] elanmart commented on #4523
1. Your numpy code uses `float64`s
2. Your numpy code uses element-wise mutliplication instead of matrix multiplication
3. Numpy produces the same errors.

https://gist.github.com/elanmart/d441d59f4fec3df36cd51b45384d4241
result: `7.15469010174e-08`

https://gist.github.com/elanmart/3b4f84a824c765dca1df8bb6a18ec9f2
result: `7.456755265593529e-08`

[2018-01-08 13:19] #4523 closed

[2018-01-08 13:20] klyao commented on #4523
@albanD yes, it will crash on my machine

[2018-01-08 13:23] klyao commented on #4523
@elanmart, fine, thank you ! Although it is a rounding error, it leads my other program to a very different result and it has bothered me several days to find this difference.

[2018-01-08 13:27] elanmart commented on #4523
Using ˙DoubleTensor˙s should certainly help if that's an issue.

[2018-01-08 14:33] chenyangh commented on #3917
@apaszke  I think I just found out the reason. My code is still a mess and I am ashamed of sharing it right now. :(
The unevenly GPU usage in my case is caused by some intermediate Tensors in the main loop. I don't quite know how you manage the variables that lost references, but they seem to be staying on the GPU memory unless specifically 'del' it.
My main loop is like below.
[code]
if I dont de

[2018-01-08 15:36] plus2047 commented on #1472
Get the same issue. When the model get a CPU tensor but it's in GPU, the error said it need a CPU tensor but get a GPU tensor.

[2018-01-08 16:02] zou3519 commented on #4530
I'll fix the docs for this later.

@zchky The behavior for this the add function is a little funky because a non-named argument comes after a named one. You shouldn't give names for `input` and `other` when calling, so
`torch.add(a, 0.1, a)` is good. When you leave out the value 0.1, it's inferred that when you're calling `torch.add(a, b)`, `value` is 1.

[2018-01-08 16:08] gchanan commented on #4530
@zou3519  I don't think this issue is specific to `add`; For example variants of `mul` have the same behavior:
[code]

[2018-01-08 16:32] zou3519 opened #4533 "Investigate difference between `torch.eig` and `numpy.linalg.eig`"
Reported here: https://discuss.pytorch.org/t/torch-eig-seems-really-unstable-can-anyone-explain-this-result/11579

Users may assume that `torch.eig` will return orthornomal eigenvectors when the input is symmetric. This is the case for `torch.symeig` but I don't think `torch.eig` has this guarantee, so I'll probably add a warning to the docs.

However, for most symmetric matrix inputs, it looks li

[2018-01-08 17:02] ccsasuke opened #4534 "nn.BatchNorm1d fails with batch size 1 on the new PyTorch 0.3"
My code was running Okay on PyTorch 0.2, but ran into this error when forwarding through a BatchNorm1d layer on 0.3:

`ValueError: Expected more than 1 value per channel when training, got input size [1, 128]`

I looked into the code and found that functional.batch_norm() added a check in 0.3:

[code]

So each of my samples is a 1d vector of size 128, and some of the batches may happen to have siz

[2018-01-08 17:04] vadimkantorov commented on #4528
For my personal project hosted on GitHub pages with a custom domain, I've set up a (free) CloudFlare frontend which can be configured to offer https: https://blog.cloudflare.com/secure-and-fast-github-pages-with-cloudflare/

[2018-01-08 17:15] colesbury commented on #4534
Like the error message says, you can't use feature-wise batch normalization if you only have 1 element per-feature.

https://arxiv.org/abs/1502.03167

[2018-01-08 17:15] #4534 closed

[2018-01-08 17:16] colesbury commented on #4530
We haven't updated the docs yet because the signature is different between Variable and Tensor.

[2018-01-08 17:17] ccsasuke commented on #4534
The batch sizes are not always 1. Say I have a batch size of 16 and my dataset has 17 samples. It should not fail on the 2nd batch, right?

[2018-01-08 17:21] #4492 closed

[2018-01-08 17:23] colesbury commented on #4534
It will fail. Don't train on batches of size 1 if you use feature-wise batch normalization. (Inference is fine on batch-size 1). Skip over the left-over batch.

Batch normalization computes:

[code]

If you have one sample per batch then mean(x) = x, and the output will be entirely zero (ignoring the bias). You can't use that for learning.

[2018-01-08 17:27] zuoxingdong opened #4535 "Slicing is not supported for `nn.Sequential`"
It seems the slicing is not supported for `nn.Sequential`. For example,

[code]
Then it has the error `TypeError: '<=' not supported between instances of 'int' and 'slice'
`

[2018-01-08 17:27] ezyang commented on #4526
My best guess at this point is that there is something wrong with how we are linking against nnpack with `.so` files; in my local working copy I only have `.a` files available which seem to link correctly.

[2018-01-08 17:41] soumith commented on #4535
this feature was added into the `master` branch 4 days ago, via https://github.com/pytorch/pytorch/pull/4491

[2018-01-08 17:41] #4535 closed

[2018-01-08 17:58] deepbrain commented on #4526
how do you link with .a files? Is there a build option to build with them?

I attached my libnnpack.so here, maybe it would help?

[libnnpack.zip](https://github.com/pytorch/pytorch/files/1612506/libnnpack.zip)

[2018-01-08 18:26] ccsasuke commented on #4534
Thank you for the advice. I'll skip leftover batches for now.
But can't it just be a no-op for size 1 batches?

[2018-01-08 18:49] ezyang commented on #4526
I rebuilt nnpack shared libraries and confirmed that it linked correctly against ATen.

Since I can't reproduce, let's do some remote debugging. Clear your build directory and rebuild ATen from scratch, with the following commands:

[code]

Post the full verbose log; I'm particularly interested in the linker command that is failing.

[2018-01-08 19:30] colesbury commented on #4534
No, because then the output would not have zero mean and unit variance. My guess is that changing statistics like that would also hurt convergence.

[2018-01-08 20:13] deepbrain commented on #4526
it fails on the cmake step with cuda not found - on this ubuntu machine I do not have Nvidia nor cuda. So, I copied the libnnpack files to another system with cuda support and surprisingly the build did not fail there (with the exact same binary libnnpack.so file!). So, the build fails only on a system with no cuda. I got this from cmake on the system where it fails:

CMake Error at cmake/FindCUDA

[2018-01-08 20:27] lysuhin commented on #3949
I had similar issue and was able to fix that by removing `libtorch` package in conda distribution (I thought only `pytorch` and `torchvision` are the ones to be removed).

[2018-01-08 21:06] zou3519 opened #4539 "Make `torch.bmm` behave more like `np.matmul`"
There are two main features that `torch.bmm` should support:
- broadcasting
- arbitrary left batch dimensions

[2018-01-08 21:16] deepbrain commented on #4526
I am attaching the successful cmake build from a system with cuda. It seems to use the same .so file with no issues. On a system with no cuda I need instructions on how to avoid the cmake error with the find_package cuda.

[make_on_system_with_GPU.zip](https://github.com/pytorch/pytorch/files/1613060/make_on_system_with_GPU.zip)

[2018-01-08 21:19] jekbradbury commented on #4539
Isn't `bmm` mostly deprecated in favor of `torch.matmul`, except that something needs to exist as a wrapper of cuBLAS batchedGemm?

[2018-01-08 21:23] zou3519 commented on #4539
Thanks @jekbradbury! I didn't realize `torch.matmul` existed.

[2018-01-08 21:23] #4539 closed

[2018-01-08 21:34] ezyang commented on #4500
With the help of @soumith, and confirmation from @ngimel, the problem has been narrowed down to the fact that `CUDNN_CONVOLUTION_FWD_ALGO_IMPLICIT_GEMM` doesn't actually support non-contiguous inputs (despite advertising support).

[code]

Patch coming.

[2018-01-08 21:44] SebyakinAndrei opened #4540 "Cuda out of memory but gpu memory is utilized about a half"
I'm running slightly modified code of EDSR baseline network from here: https://github.com/thstkdgus35/EDSR-PyTorch
The training on first epoch goes well, but on the test stage when loading a model it raises an error:
[code]
But what is strange is that gpu memory at that moment is utilised about a half. Here's nvidia-smi output (at the moment of peak memory usage):
[code]
In test function I also us

[2018-01-08 21:47] ezyang commented on #4526
@deepbrain That was enough for me to nail it. Patch coming.

[2018-01-08 21:54] ezyang commented on #3170
@SsnL fixed it, we're all done.

[2018-01-08 21:54] #3170 closed

[2018-01-08 21:55] ezyang opened #4542 "Carefully audit contiguity requirements of code"
While I was working on the cuDNN bindings, I was a bit nervous about when we required things to be contiguous or not (for the most part, I tried to exactly mimic what the API did previously, but I did not feel very confident about it.) The reason I was nervous is that we don't seem to carefully test our algorithms on all combinations of contiguity for each of their inputs.

Now that we most recent

[2018-01-08 22:12] ngimel commented on #4500
In fairness, cudnn manual mentions that filters layout must be contiguous in memory http://docs.nvidia.com/deeplearning/sdk/cudnn-developer-guide/index.html#cudnnSetFilter4dDescriptor.

[2018-01-08 22:25] #4526 closed

[2018-01-08 22:47] SsnL commented on #4540
Which version of PyTorch are you using? Btw, cuda memory usage can change very quickly, so you may not have captured the peak moment. It is also possible that the program tries to allocate a tensor larger than all remaining memory, causing OOM.

[2018-01-08 23:10] YuvalNirkin opened #4546 "NVIDIA driver too old error"
I am getting the following error:

  File "/home/yuval/Dev/Python/Projects/nlm_cnn/train.py", line 116, in main
    train_loss, train_acc = train(train_loader, model, criterion, optimizer, epoch, cuda, log_writer)
  File "/home/yuval/Dev/Python/Projects/nlm_cnn/train.py", line 147, in train
    for i, (image, target) in enumerate(pbar):
  File "/home/yuval/Dev/Python/Shared/anaconda3/lib/python3.6

[2018-01-08 23:48] ailzhang commented on #3787
@OnezeroW  @zjoe  NCCL2 backend could automatically pick up infiniband support. The patch should also work for compiling ibverbs support for gloo.
@zjoe Happy to help if you have any trouble using the patch.

[2018-01-09 00:09] ailzhang commented on #4546
Are you able to do `import torch` inside your python terminal?
Probably unrelated: worth trying to remove the ~/.nv if it exists.

[2018-01-09 00:14] ngimel commented on #4546
You need 387 driver for 9.1 toolkit, 384 corresponds to 9.0 (as the error message tells you)

[2018-01-09 00:40] colesbury opened #4547 "cuDNN half-precision batch normalization binding does not work"
The VariableType binding code for cuDNN batch norm looks like:

![26695836_146541072795362_1826711580_o](https://user-images.githubusercontent.com/655866/34699474-835d6eea-f4ab-11e7-9374-f5cff4dfa2c1.png)

The problem is that inputs are of mixed types, but `unpack` only handles types that exactly match `input`. We should probably use `unpack_any` here.

As reported by Yuxin

[2018-01-09 00:49] #4546 closed

[2018-01-09 00:58] soumith commented on #4468
fixed via #4545

[2018-01-09 01:50] deepbrain opened #4549 "RuntimeError: Unsupported op descriptor: thnn_batch_norm_forward-5-eps-momentum-training. File a bug report."
I started getting this with the latest code while using JIT:

RuntimeError: Unsupported op descriptor: thnn_batch_norm_forward-5-eps-momentum-training. File a bug report.

It did not happen 7 days ago and still does not happen if I roll back pytorch to the version I had 7 days ago.  Do you need any simplified test case to fix it?

[2018-01-09 01:57] deepbrain commented on #4549
here is a simple code that reproduces it:

'''python

import torch
from torch import jit
import torch.nn as nn
from torch.autograd import Variable
import torch.optim as optim

@torch.jit.compile(nderivs=1)
class TestNet(nn.Module):
    def __init__(self):
        super(TestNet, self).__init__()
        self.net1 = nn.Linear(100, 200)
        self.net2 = nn.Linear(200, 1)
        self.bn = nn.Batch

[2018-01-09 02:23] ezyang commented on #4549
Ah, that's probably because batchnorm got bound as an ATen method and I was apparently supposed implement some more JIT dispatch support but didn't.

[2018-01-09 02:31] ezyang commented on #4547
So, how do we spell this in ATen `native_functions.yaml`? Similarly, can we stop calling `ByteTensor` `BoolTensor`?

[2018-01-09 02:35] ezyang opened #4550 "Prefix cudnn internal convolution functions with underscore"
They show up on VariableBase so it is tempting to use them but @colesbury's disposition is that we should only have one convolution entry point, and the cudnn functions are "strictly internal".

We don't have to worry about this for the THNN functions as they don't get bound on VariableBase. Maybe that is what should happen for the cudnn functions as well.

[2018-01-09 02:48] ngimel commented on #4547
Huh, it used to work for us before #4285, I guess we should finally add a test ;-)

[2018-01-09 02:57] rachtsingh commented on #4178
Any luck on this?

[2018-01-09 03:18] IdiosyncraticDragon opened #4551 "Met 'cudnnDestroyDropoutDescriptor' while run multiply gpu-based models in multiply processes"
I loaded a model and replicated 3 models which are all on different GPUs, and use torch.multiprocessing to create 4 processes. By this  setting, I run one model in on process, so that I parallel run them. The running is fine, but when the processes were finished, this error occurred:
[code]

The code where the error happens is:
[code]

My pytorch version:
[code]

Is there any ways to fix this?

[2018-01-09 03:34] wjgaas opened #4552 "'torch.HalfTensor' object has no attribute 'uniform_'"
when i using torch.set_default_tensor_type('torch.HalfTensor'), i get the error 'torch.HalfTensor' object has no attribute 'uniform_', how can i solve this?

[2018-01-09 03:39] ezyang commented on #4552
HalfTensor is missing quite a lot of operations. One workaround is to make a float tensor first and then cast it to half tensor.

[2018-01-09 06:55] jolinxql opened #4555 "Model loading give different results on Windows and Linux"
I found that when I load and evaluate models trained and saved on windows use different operating systems, results are **inconsistent**.

**Phenomenon:**
I trained a model on Windows 10 and tested it on the test set before saving and got `accuracy = 63.91%`. Then I saved it to "model_epoN".
1. When I load and evaluate it on the same Windows 10, the results are **consistent**. i.e., `accuracy = 63.

[2018-01-09 07:45] Kaixhin commented on #4509
For context there are two PRs on LayerNorm (https://github.com/pytorch/pytorch/pull/2019 and https://github.com/pytorch/pytorch/pull/2112) with some discussion on this (one interpretation of InstanceNorm is that it is LayerNorm generalised to > 1D).

@ngimel Both LayerNorm and InstanceNorm are normalisation functions that do not need context -
 BatchNorm does need to keep running stats because of

[2018-01-09 08:12] lysuhin commented on #4507
+1
Installed the latest build from the source, now getting similar one:
`RuntimeError: DataLoader worker (pid 28124) is killed by signal: Illegal instruction.`

[2018-01-09 08:29] anilyuce commented on #3826
Also need this, any news on the implementation or has anyone found a work-around?

[2018-01-09 08:32] netheril96 commented on #4509
I am not familiar with the C sources of PyTorch, so I have a naive question: could the fused kernel of batch norm be more generalized? Not just by making running mean and variance optional, but also by generalizing the dimensions to normalize over. Instance norm and layer norm can then be treated as first class citizens, just like batch norm.

[2018-01-09 08:38] apaszke commented on #4552
CPU half tensors are only meant to be used for serialization/staging purposes and not for math

[2018-01-09 08:38] #4552 closed

[2018-01-09 08:42] apaszke commented on #4507
What’s your CPU?

[2018-01-09 08:52] SebyakinAndrei commented on #4540
Thank you for your answer! I use pytorch 0.3 win64 version from here: https://anaconda.org/peterjc123/pytorch. Also, about model size, it isn't large, because model has only 16 res blocks (which don't have batchnorm) and when I save trained model after first epoch before test on disk, it weights only 6MB. Also, I believe, that test input image is about hd size, so can this model allocate so large

[2018-01-09 10:26] peterjc123 commented on #4555
@jolinxql According to the post [here](https://stackoverflow.com/questions/1849523/is-pickle-file-of-python-cross-platform), It seems that Pickle is not consistent when you load dumps from a newer version in a old version of Pickle. Would you please try whether it is okay when the two PCs share the same Python version?

[2018-01-09 11:04] #3233 closed

[2018-01-09 11:04] jolinxql commented on #4555
@peterjc123 Thank you for your swift reply! I created a python 3.6 conda env on Ubuntu and tested. But the accuracy still equals to 0.1%. The output of python3.5 and python3.6 both on ubuntu are exactly same.
Maybe I should also try another test on python 3.5+win10.

[2018-01-09 11:29] apaszke commented on #4549
It should get auto-generated automatically

[2018-01-09 11:46] sighingnow commented on #4549
In #4395, `thnn_batch_norm` was renamed to `thnn_batch_norm_forward` in `derivatives.yaml`, but all functions ends with `_forward` are not recognized as JIT funciton in `gen_jit_dispatch.py`

https://github.com/pytorch/pytorch/blob/a0ab48575e8cb6cb0edb5e9966c14bf4404384fb/tools/jit/gen_jit_dispatch.py#L49-L52

[2018-01-09 11:59] lanpa commented on #4495
@lantiga I just test with commit b3710a2 and This time the scope of Dropout in Alexnet disappeared.

`  %31 : Float(1, 9216), %32 : UNKNOWN_TYPE = Dropout[is_test=1, ratio=0.5](%30)`

[2018-01-09 12:01] lantiga commented on #4495
@lanpa darn. Can you check if the scope is there in the non-optimized version of the trace?

[2018-01-09 12:07] visonpon commented on #3883
i have encountered this error , but change the pytorch to the latest version(0.4) will solve it.

[2018-01-09 12:11] lanpa commented on #4495
@lantiga
Dropouts are  `%70` and `%77`, and scope is correct before optimize.
https://gist.github.com/lanpa/57ac91b85c1fd8420bfdd8787162cff1

[2018-01-09 13:22] soumith commented on #4178
sorry for the delay, i'll have official CPU-only packages out later today.

[2018-01-09 13:44] ezyang commented on #4495
@lantiga Ack! I know exactly what the problem is: you need to set the scope guard for `callPySymbolicMethod` as well (really, any call site of `processSymbolicOutput`; and there are multiple).

This time, can we get `assertExpected` style tests too? Easier to see problems like that this way :)

[2018-01-09 13:45] lantiga commented on #4495
Yep, that's it. I can fix this in a couple of hours.
I'll also change the tests. Thanks!

[2018-01-09 13:50] ezyang commented on #4555
If accuracy is 0.1%, that means that some part of the network is behaving completely differently, which means it should be easy to debug layer by layer on a specific input and see where the big change is happening. Is that possible? Try deleting layers from the end of your model until the resulting tensors match, and then the problematic layer will be the one.

[2018-01-09 14:44] ezyang commented on #4549
@colesbury, do you think you could take a look?

[2018-01-09 14:49] N-Dekker commented on #4531
The problem is that the function definitions from https://github.com/pytorch/pytorch/blob/c9bc6c2bc3af1308cff72c95eda55a1b7eff293c/aten/src/TH/vector/avx_mathfun.h are not available ("undefined") to my Visual C++ build. Because for my build, USE_AVX2 is not defined. Which seems to be because FIND_PACKAGE(SSE) did not find AVX on my machine (C_AVX_FOUND does not evaluate to true). Any suggested fix

[2018-01-09 15:39] LemonMi opened #4557 "error in installing from source"
Hello,there is the output.I don't know how to deal with it.

[ 17%] Building NVCC (Device) object src/ATen/CMakeFiles/ATen.dir/__/THC/generated/ATen_generated_THCTensorMathCompareHalf.cu.o
[ 17%] Building NVCC (Device) object src/ATen/CMakeFiles/ATen.dir/__/THC/generated/ATen_generated_THCTensorMathReduceHalf.cu.o
/home/null/pytorch/aten/src/THC/generated/../THCDeviceUtils.cuh(61): error: identifi

[2018-01-09 15:42] soumith commented on #4557
you are compiling on a GPU that is CUDA capability less than 3.0, so the shfl_xor instruction is not available. We dont support GPUs in 2.0 / 2.1 cuda capability anymore.

[2018-01-09 15:42] #4557 closed

[2018-01-09 15:44] jolinxql commented on #4555
@ezyang Ok, I agree. I'll create a new post when I figure it out.

[2018-01-09 15:55] LemonMi commented on #4557
@soumith OK Thank you!

[2018-01-09 16:03] ezyang opened #4560 "[Intent to Implement] MatrixRef"
[code]

[2018-01-09 17:42] apaszke commented on #4549
I can take a look later today. I wrote that script

[2018-01-09 17:50] Erotemic opened #4562 "Spelling error in lr_scheduler.py"
Trivial report, unfortunately I can't make a PR at the moment, but I can submit a report.

line 329 in `torch/optim/lr_scheduler.py`

[code]

should replace `mode` with `threshold_mode`

[2018-01-09 17:52] colesbury commented on #4547
Longer term we should stop checking precise types in VariableType.cpp, and rely on the underlying `Type` to check precise types (float vs. double). We're not doing this now because `unpack_any` is slower than `unpack`.

Short term, we should just do whatever to make this function work. Special-casing in `gen_variable_type.py` is fine with me.

[2018-01-09 19:42] YuvalNirkin commented on #4546
@ngimel You are absolutely right. The latest NVIDIA driver offered on NVIDIA's site does not support CUDA 9. Installing the driver from the CUDA 9.1 toolkit solved the problem.

Thanks! :)

[2018-01-09 20:04] apaszke commented on #4560
Where would you use that? The assumptions of being 2D and contiguous are quite strict

[2018-01-09 20:07] ezyang opened #4564 "Mixed Tensor/TensorList arguments in ATen functions with explicit derivatives"
Today, you cannot write a derivative for a function with signature `f(Tensor, TensorList)` (or any combination thereof) because our code generation does not support it.

The primary technical barrier to implementing this is the fact that autograd internals works with a completely flat list of tensors. To support mixed Tensor/TensorList arguments in general, one would also have to record enough met

[2018-01-09 20:11] apaszke commented on #4564
I don't think we'll ever want to push this down to autograd. Adding native support for such things is basically pushing the overhead into a different place, and any extra metadata will slow down *all* of our ops, and it's true that this problem affects only a relatively tiny subset. Flattening should remain a responsibility of the caller.

[2018-01-09 20:17] ezyang commented on #4564
@apaszke None of the proposals here suggest autograd changes (though I did consider it!) The point is that binding code for a mixed Tensor/TensorList ATen operator would have to flatten/unflatten.

[2018-01-09 20:19] ezyang commented on #4560
Right now, I only need it to more conveniently deal with RNN weight lists (which are 2D: num_layers x (weights + biases))

[2018-01-09 20:57] #4495 closed

[2018-01-09 21:32] ngimel commented on #4509
@Kaixhin agree on not needing running stats on layer norm/instance norm, however, for both of them you still need trainable scale and shift, right? Don't the dimensions of those depend on the input dimensions?
@netheril96, right now pytorch in most cases uses cudnn implementation of batch norm, rather than THCUNN. IIRC, cudnn does not have to calculate running statistics (i.e. it will work if one

[2018-01-09 21:54] ezyang opened #4567 "Generalize 'grad' buffer hack in derivatives.yaml"
Can you spot the difference between these two definitions in derivatives.yaml?

[code]

One of these definitions uses `grads[0]`, and the other uses `grad`. They are different: if you say `grads[0]`, you are implying that ALL outputs of the function are differentiable; if you say `grad`, you are saying that only the FIRST output is differentiable. This matters because it affects how we set `requir

[2018-01-09 22:19] Kaixhin commented on #4509
@ngimel they do not necessarily need trainable shifts and scales, but in that case yes size needs to be known in advance. I believe that most of the time people will use trainable shifts and scales, so it may be a lower priority in that sense.

[2018-01-09 22:23] MInner opened #4568 "Anyone working on python type stubs?"
Type signatures of many functions are quite unusual for Python world (lots of method 'overloading', etc.) and it makes IDEs like pycharm fire lots of false positive errors.

I wonder if that might be possible to generate function signature subs [[1]](
https://www.python.org/dev/peps/pep-3107/) [[2]](https://www.python.org/dev/peps/pep-0484/#stub-files) from docs directly? Is anyone else interested

[2018-01-09 22:30] ezyang commented on #4568
I think this is a great idea, and a logical extension of our code generation strategy in ATen already.

[2018-01-09 23:15] davidbau opened #4570 "Feature request: torch.bincount"
Feature request: torch GPU bincount support.

numpy.bincount is an essential tool for working with order statistics, histograms, etc. Recently bincount was added to TensorFlow - https://github.com/tensorflow/tensorflow/pull/13813.  I prefer pytorch, and it would be nice to be able to use bincount in pytorch as well.

[2018-01-09 23:30] soumith commented on #4570
yea we should add this in.

[2018-01-09 23:43] davidbau commented on #1552
+1.  (Just spent a couple days working around the lack of interpolation in pytorch.)  There are several forms of interpolation that might be implemented, and they are all useful in different situations.  Here is a list of what's in numpy/scipy. The first three have been useful to me; it would be super-nice to have GPU versions of them.

numpy.interp - 1d interpolation - nice for representing custo

[2018-01-09 23:48] soumith commented on #1552
we have a 2D grid interpolator now, via: http://pytorch.org/docs/0.3.0/nn.html#torch.nn.functional.grid_sample

it works for 4D images (NxCxHxW) and works on HxW dimensions

[2018-01-09 23:52] benvcutilli opened #4571 "Allowing MSELoss in torch.nn to be twice differentiable"
I would like to have MSELoss() allow two backward passes (the second of which would need the second derivative of MSELoss()). Apparently this isn't allowed (traceback below). Scouring the codebase shows me no reason why it would be prevented, at least mathematically.

[code]

[2018-01-10 00:03] benvcutilli commented on #4571
Apparently there is no entry for MSELoss in torch/nn/_functions/thnn/auto_double_backwards.py. In theory this wouldn't be necessary if autograd were keeping track of the graph, though.

[2018-01-10 00:16] davidbau commented on #4570
After I opened this, a colleague mentioned to me that the tensorflow bincount is nice but not as much of a speedup as it could be for our application (counting many histograms in parallel). A significant speedup might be obtained for GPUs if there were a bincount(dim=X) version that can do many bincounts in parallel.

[2018-01-10 00:52] rafaelvalle commented on #3775
@diggerdu is that paper on arXiv?

[2018-01-10 01:08] gchanan commented on #4571
This was implemented in version 0.3.

[2018-01-10 01:08] #4571 closed

[2018-01-10 01:13] benvcutilli commented on #4571
OK, then Soumith's Anaconda channel has not been updated since 0.1.12, and through `conda`'s default channel, has only been updated to 0.2.something. What's the deal?

[2018-01-10 01:28] soumith commented on #4571
always follow the commands on our website http://pytorch.org to get the latest version of pytorch.

Also, the default anaconda channel has 0.3.0 https://anaconda.org/search?q=pytorch
Maybe you have to update your anaconda.

[2018-01-10 01:45] benvcutilli commented on #4571
Well, nothing much seems to have changed after updating conda. After the update, as far as what conda tells me what packages will be updated, pytorch or torchvision do not seem to want to be updated but others do. I can't really do those updates now, though, as I am running stuff on the current build of pytorch, so I'll ask later if the problem persists once I can upgrade those other packages, I g

[2018-01-10 01:50] benvcutilli commented on #4571
Ah, NVM, you guys changed the channel. I got the package when it was on the soumith channel. I still don't know why conda is not telling me that an update on the pytorch channel is available.

[2018-01-10 02:01] benvcutilli commented on #4540
Weights alone may not amount to much (and there may be extra memory baggage besides the numerical values of the weights alone, for example). Keep in mind that there is a whole computational graph and whatever. Did you try running it on CPU to get a feel for RAM usage? It's almost certainly not 1-to-1, but it may be an indicator.

[2018-01-10 02:54] houseroad commented on #3826
Create a PR in ONNX to add adjs attributes directly. (Although we can choose output_shape.) Adjs/output_padding is more widely used, and it's worth adding.

[2018-01-10 04:33] williamFalcon opened #4573 "Documentation for "char_rnn_classification_tutorial" has wrong output cell calculation"
@soumith Looks like [this tutorial](http://pytorch.org/tutorials/intermediate/char_rnn_classification_tutorial.html) has a bug in this code:

[code]

Looks like the output of the forward pass is done on the input and NOT on the processed data as computed by the RNN cell (ie: self.i2h(combined))

So, this:
[code]
Should become:
[code]

If you guys agree, I'm happy to make that minor (but frustratin

[2018-01-10 05:14] Alok opened #4574 "`from` keyword in `random_` gives error"
In `tensor.random_(from=foo)`, `from` cannot be used because it's reserved for imports. Trying to call that function using the keyword gives a `SyntaxError`.

[2018-01-10 06:38] nlothian commented on #2567
Just leaving a note to say this happened for me in a notebook after I suspended and restarted a computer (Ubuntu 16.04). Restarting Jupyter was sufficient to fix it for me.

[2018-01-10 08:01] Roger-luo opened #4575 "name change for generic type"
I have been developing complex type support for pytorch since #755. And I found that I had to use complex number in cpp because ATen or previously the THPP library is in cpp and thrust is a cpp library too.  And here is two main reason for this name change:

1. **Readability** when complex number is added to the library, it can be confusing to use `real` for generic type.
2. **It can be dangerous

[2018-01-10 08:05] SebyakinAndrei commented on #4540
Thanks for your suggestion! I'll try it soon)

[2018-01-10 09:34] hhsecond commented on #4337
@apaszke @ezyang Looks like ``unique()`` is not a method of ``node`` anymore and is available in only ``Value``. The return value of ``graph.nodes()`` looks like ``Value`` rather than ``node``. In that case is this even possible to resolve this github issue.

[2018-01-10 11:12] terribilissimo commented on #494
Hi Peterjc123, thanks for your support. Here is my Depwalker output,
[depwk.zip](https://github.com/pytorch/pytorch/files/1618502/depwk.zip)
 in .txt and .dwi.

I cannot manage to understand what goes awry, but it smells of some cuda-related issue.

Again, Thanks! :)

[2018-01-10 11:17] terribilissimo commented on #494
Here is the output in plain txt should you be afraid of opening .zips...
[_C.cp36-win_amd64.txt](https://github.com/pytorch/pytorch/files/1618509/_C.cp36-win_amd64.txt)

[2018-01-10 11:20] manasRK commented on #1591
This issue is tripping up our pipeline as well. For now, we are concat-ing dummy tensors and masking to take care of this.

However, is anyone working on this now?

[2018-01-10 11:23] peterjc123 commented on #494
@terribilissimo The environment of your PC is so complex. I have seen move than three Python distributions in your PATH. And it seems that you did not install it into the first python in PATH, so the error occurs.
List of your Python related dirs in PATH:
[code]
But the installation dir is `c:\users\poko\anaconda2\envs\fastai\lib\site-packages\torch`. Can you please make sure that the one used by

[2018-01-10 11:29] apaszke commented on #4337
`type()` is unavailable on purpose - every node only produces a number of outputs with specific types, and there's no point in duplicating that information. `unique()` is also no longer necessary - it's used to label SSA registers (Values) in our IR.

[2018-01-10 11:35] apaszke commented on #4573
Sorry, but what exactly is the problem? It doesn't matter if you use `hidden` or `combined` - you're composing linear operators, so you can alternatively use a single one, which is what the code does in here. Also, if you want to discuss that please open an issue in pytorch/tutorials repo (that's where they are hosted). Thanks!

[2018-01-10 11:35] #4573 closed

[2018-01-10 11:40] terribilissimo commented on #494
Peterjc123, again thanks for your support.

Ok, I'll follow exactly your recommendations, but I have to understand precisely what you want me to do.

I created an anaconda env for pytorch, installing a specific python in it (conda create -n env_name python=3.6), taking for granted that pytorch would have used it (which is clearly not so, as per you answer).

Now, how can I tell pytorch to use *tha

[2018-01-10 11:45] apaszke commented on #3917
They aren't on the other GPUs, but the graph on them should be alive as long as those outputs are. A minimal snippet that would help us reproduce it would still be helpful.

[2018-01-10 11:59] williamFalcon commented on #4573
@apaszke ok will open there.

The issue is that seld.i2o is intended to map the hidden into classification space (with the softmax).

However, as it’s written now, it is mapping the input directly without processing in the cell.

That is, current code:

ht = (xt * W_hx + b) + (ht_prev * W_hh + b)
output_t = (xt * W_hx + b ) + (ht_prev * W_hh + b)

But it really should be:
output_t = (ht * W_io + b

[2018-01-10 12:18] suke27 opened #4576 "memory issue"
Hi
when I run test program in pytorch, I found the memory seems can not free completely
my test program as below
        self.model.eval()
        for i in range(0,img_cnt) :
                img = misc.imread(load_name)
                input = img
                #prepare data
                input = self.prepareData(input, target, volatile=True)
                output = self.model(input)
I found

[2018-01-10 12:19] apaszke commented on #4576
We're using GitHub issues for bug reports only, and all questions should be posted on [our forums](discuss.pytorch.org).

[2018-01-10 12:19] #4576 closed

[2018-01-10 12:20] suke27 commented on #4552
'torch.HalfTensor' object has no attribute 'mul'
mul also not support?

[2018-01-10 12:33] soumith commented on #1591
@manasRK no one's working on it, you can go for it.

[2018-01-10 12:51] peterjc123 commented on #494
@terribilissimo Check if `python.exe` is the one that lies in `c:\users\poko\anaconda2\envs\fastai`, and `c:\users\poko\anaconda2\envs\fastai\Library` exists in PATH after you activate the env.
Just use the commands below.
[code]

[2018-01-10 13:27] hhsecond commented on #4337
Closing this issue then. I figured out a work around by using ``id()`` of python to get unique id. Thanks @lantiga

[2018-01-10 13:27] #4337 closed

[2018-01-10 13:28] terribilissimo commented on #494
@peterjc123 , In order to pursue tidiness, I did what follows:

1. I created a new env with python 3.6
2. I did `conda install -c peterjc123 pytorch cuda80`
3. I installed no other packages, in order not to pollute that fresh env.

Installed cuda80 version just because I have cuda 8.0 in the `CUDA_PATH` env var, and tensorflow works with it.

Now, coming to your instructions:

![capture](https://u

[2018-01-10 14:09] peterjc123 commented on #494
@terribilissimo I noticed that although your `CUDA_PATH` is that of CUDA 8, the CUDA 9 binaries will appear before that of CUDA 8 in `PATH`. You can confirm that using `where nvcc.exe`. You can try to use sth like `set PATH=%CUDA_PATH%\bin;%PATH%` to resolve this.

[2018-01-10 14:15] williamFalcon opened #4578 "[feature request] Weight norm option for RNN cells"
So, looks like [#1601](https://github.com/pytorch/pytorch/issues/1601) added weight norm to pytorch. However, what do you guys think about weightnorm within each RNN cell type that can be enabled through an option?

Such as:
[code]

The implementation would add weight norm to each of the weights within the cell hidden output (which you can do now if you run your own loop and add weightnorm at the

[2018-01-10 14:25] apaszke commented on #4552
Nope. Math on the CPU should be done in float at least

[2018-01-10 14:42] terribilissimo commented on #494
@peterjc123  Thanks for your replies.

In `where nvcc` Cuda 8.0 shows up first, but I updated my `PATH` as per your instructions nonetheless.

Still no luck with pytorch, however:

![capture4](https://user-images.githubusercontent.com/35294634/34778168-c5ed7652-f61c-11e7-8620-0a8a845d5576.PNG)

[2018-01-10 14:45] peterjc123 commented on #494
@terribilissimo Do you have `nvfatbinaryLoader.dll` in your PATH? Someone reported that they solves this issue by downloading it and put it in `SYSTEMROOT`.

[2018-01-10 14:48] terribilissimo commented on #494
@peterjc123 Definitely, yes.

It is in System32, which is in PATH:

![capture5](https://user-images.githubusercontent.com/35294634/34778462-aba00ae8-f61d-11e7-86c0-a0970b45828a.PNG)

[2018-01-10 14:55] mingminzhen opened #4580 "The meaning of deterministic for torch._C._cudnn_batch_norm_forward"
I try to use **torch._C._cudnn_batch_norm_forward**.
The prototype is as following in source code.
[code]
What's the meaning of the **"bool deterministic"**?

[2018-01-10 15:19] ezyang commented on #4580
Hi @mingminzhen, 'deterministic' controls cuDNN convolution algorithm selection, so that only deterministic convolution algorithms are selected. This excludes some of the faster algorithms.

BTW, we haven't decided to make this a public API yet, so the signature of this function may change without warning.

[2018-01-10 15:19] #4580 closed

[2018-01-10 15:49] peterjc123 commented on #494
@terribilissimo It seems that from the Dependency Walker files, PyTorch is linking to CUDA 9 files.(But you've installed cuda80 packages.) It's so weird. And it shows that NVRTC64_90.dll and CUDART64_90.DLL are missing. Could you please check these two files exist?

[2018-01-10 15:56] terribilissimo commented on #494
@peterjc123 allow me to say I really appreciate your support.

NVRTC64_90.dll and CUDART64_90.DLL are actually missing (I searched the whole C: disk). But they are CUDA 9.0 (well, actually 9.1) libraries, aren't they?

Now, I could uninstall cuda 9.1. In the end, it's not essential to my work. I just need cuda 8.0 for tensorflow. Should I do it?
Once I do it, I could try and create another fresh e

[2018-01-10 16:04] peterjc123 commented on #494
@terribilissimo Yes, you can try that.

[2018-01-10 16:36] cool-net commented on #494
感谢您的工作！

我用win7 x64，之前先直接装了pytorch cuda80，而且使用您的简单测试代码通过，但后来又看到您说win7应该装pytorch_legacy cuda80，于是我又卸了重装……请问，pytorch与pytorch_legacy的具体区别是什么？

谢谢！

[2018-01-10 16:40] terribilissimo commented on #494
@peterjc123 : I did it.

No luck. But pytorch now seems to link to the correct version of cuda:

![capture6](https://user-images.githubusercontent.com/35294634/34783270-70572bf2-f62b-11e7-96f8-b7f3e5fb2c65.PNG)

Here is the dump:

[_C.cp36-win_amd64.txt](https://github.com/pytorch/pytorch/files/1619616/_C.cp36-win_amd64.txt)

Thanks.

[2018-01-10 16:41] peterjc123 commented on #494
@cool-net 简单测试应该是没问题的，但是实际跑运算的时候就会不行了。pytorch_legacy是在win8.1上面用CUDA编译的，而pytorch则是在windows10 上面编译的，两者的二进制文件略有不同，因此貌似不能通用。

[2018-01-10 16:43] cool-net commented on #494
@peterjc123 Get it，thank you!

[2018-01-10 16:56] peterjc123 commented on #494
@terribilissimo Would you try if a clean CPU version works? It warns in the text saying that there's an circular dependency. Last time, some one solved this using a fresh virtual env. But it seems the issue is more complicated for you.

[2018-01-10 17:17] terribilissimo commented on #494
@peterjc123 It doesn't work :(

![capture6](https://user-images.githubusercontent.com/35294634/34785131-8489e40c-f630-11e7-94c6-bcfcd1ae5021.PNG)

dump:
[_C.cp36-win_amd64.txt](https://github.com/pytorch/pytorch/files/1619761/_C.cp36-win_amd64.txt)

[2018-01-10 17:20] SsnL commented on #4578
You can already achieve it now. For instance,
[code]

[2018-01-10 17:28] SsnL commented on #4578
I believe the reason is that WN is not as widely used as the other options
you mentioned. If it becomes a standard thing, it would make more sense to
support this. However, if you need this often in your project, you can
still easily write a simple function that returns such modules with WN
enabled.

On Wed, Jan 10, 2018 at 12:25 William Falcon <notifications@github.com>
wrote:

[2018-01-10 17:30] rdipietro opened #4581 "Variables do not support all logical operations (directly)"
[code]

Same goes for `+` being used in place of `|`.

[2018-01-10 18:20] #4578 closed

[2018-01-10 18:24] diggerdu commented on #3775
@rafaelvalle be soon

[2018-01-10 18:24] stefanonardo opened #4582 "[Feature request] PackedSequence with length = 0"
If you run `pack_padded_sequence(input, lengths)` with one of the lengths <= 0 it raises a `ValueError: length of all samples has to be greater than 0, but found an element in 'lengths' that is <=0`.
Would it be possible to change it in order to accept even sequences with length zero? The reason is that when you run truncated backpropagation it could happen that some sequences become empty in the

[2018-01-10 18:30] apaszke commented on #4582
I don't think that's a good idea. If you know it can happen in your use case just filter out the empty sequences before you call this function

[2018-01-10 18:30] #4582 closed

[2018-01-10 18:34] diggerdu commented on #3775
@rafaelvalle Here is [sample](https://soundcloud.com/delphi-gentry/sets/the-end-to-end-model-for-speech-enhancement-by-jointly-masking)

[2018-01-10 18:38] rafaelvalle commented on #3775
@diggerdu Thanks for sharing this. Is there a channel, e.g. github or reddit, in which we can talk about your work? I don't want to spam this pytorch issue with an unrelated topic

[2018-01-10 18:59] diggerdu commented on #3775
@rafaelvalle [r/machinelearning](https://www.reddit.com/r/MachineLearning/comments/7phpfj/endtoend_model_for_speech_enhancement_by_joint/)
I'm glad you are interested in my first paper during undergraduate, and I can share more information 6h later because it's 3am, Shanghai.
All unrelated reply will be deleted after you received this.

[2018-01-10 19:24] soumith commented on #4178
now http://pytorch.org has CPU-only wheels when CUDA=None is selected in the wizard.
The wheels are 45MB each and include statically linked MKL.

<img width="963" alt="screen shot 2018-01-10 at 2 24 20 pm" src="https://user-images.githubusercontent.com/1310570/34791114-fb9abf54-f611-11e7-88b8-04dde48f4575.png">

[2018-01-10 19:27] #4178 closed

[2018-01-10 19:28] SsnL commented on #4507
@Jensen-Su Sorry about the tracing being polluted by the final RunTimeError. Your real issue is that EINTR interrupts `queue.get`. Python doesn't handle this until 3.5. I'll send out a PR to address these two things.

@lysuhin Your issue is unrelated to the above one. What did you do in your dataset's `__getitem__`? Also, as asked by @apaszke , what's your CPU?

[2018-01-10 19:33] linkerzhang opened #4584 "ONNX export doesn't support InstanceNorm (needed by CycleGAN)"
Hi @houseroad @ezyang
The pytorch model is, https://github.com/junyanz/pytorch-CycleGAN-and-pix2pix.

PyTorch version: 0.4.0a0+040336f (HEAD)
The repro steps are,
1. clone this model into local disk,
git clone https://github.com/junyanz/pytorch-CycleGAN-and-pix2pix
2. download pre-trained model (horse2zebra)
bash pretrained_models/download_cyclegan_model.sh horse2zebra
3. download dataset
bash ./d

[2018-01-10 19:36] soumith commented on #4584
I've removed the `[help please]` tag from the heading, it is unnecessary and we prefer it not to be there.

[2018-01-10 19:46] neerajprad commented on #4178
@soumith - Thanks a bunch! Is it possible to get the build scripts for the CPU wheel too?

[2018-01-10 19:56] soumith commented on #4178
@neerajprad
checked in via https://github.com/pytorch/builder/commit/f01c39a60ebc0059d766ccd6700958590f21d6c5

[2018-01-10 20:05] ezyang commented on #4181
This is blocked on #4564, because the unpacked RNN signature requires both TensorList and Tensor.

[2018-01-10 20:08] ezyang opened #4587 "Automatically print un-translated ONNX graph on error"
We always want this info (c.f. #4584) and we don't output it by default. Output it by default.

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2018-01-10 20:14] ezyang commented on #4564
**Step 1: handle mixed Tensor/TensorList inputs.**

Here's what the codegen produces today:

[code]

Things to fix:
1. `compute_requires_grad` doesn't typecheck. We'll replace it with a templated variadic thing (similar to `isTracing`) and remove the initializer list
2. `compute_next_functions` doesn't typecheck. Also replace it with a templated variadic thing.

[2018-01-10 20:17] linkerzhang commented on #4584
graph(%0 : Float(1, 3, 256, 256)
      %1 : Float(64, 3, 7, 7)
      %2 : Float(64)
      %3 : Float(64)
      %4 : Float(64)
      %5 : Float(128, 64, 3, 3)
      %6 : Float(128)
      %7 : Float(128)
      %8 : Float(128)
      %9 : Float(256, 128, 3, 3)
      %10 : Float(256)
      %11 : Float(256)
      %12 : Float(256)
      %13 : Float(256, 256, 3, 3)
      %14 : Float(256)
      %15 : Float

[2018-01-10 20:28] ezyang commented on #4584
Yessir, that's it. Looks like the undefined tensors are being fed into batchnorm. I wonder how this happened

[2018-01-10 20:50] prigoyal opened #4588 "Don't use DoubleTensor as default global type in common.py"
I have been bitten hard many times (again today) by the usage of global DoubleTensor in common.py

This is really hard to track and the consequences are severe: memory usage blows up and speed becomes horrible too. We should not use default tensor type as DoubleTensor in any module. If some test requires doubleTensor, then explicity use DoubleTensor in that particular test rather than global setti

[2018-01-10 21:05] ezyang commented on #4588
It's not obvious to me that we should default to FloatTensor either. My preferred resolution is to disable use of torch.Tensor and force all tests to explicitly say what they want.

[2018-01-10 21:08] prigoyal commented on #4588
agreed @ezyang, that sounds better!

[2018-01-10 21:16] ezyang commented on #4584
The root cause is we don't have an exporter for InstanceNorm, and the desugaring in batchnorm doesn't seem to work.

Minimal test:

[code]

[2018-01-10 21:29] linkerzhang commented on #4584
@ezyang Thank you very much! Aha, it's a bad news.

ONNX export does not support is because pytorch does not have related op mapping or it's a limitation of exporting logic? I'm wondering whether this could be fixed with not much cost. :).

[2018-01-10 21:50] jekbradbury commented on #4568
x-ref https://github.com/allenai/allennlp/pull/374

[2018-01-10 22:19] linkerzhang commented on #4584
Thank you very much! @ezyang

So the root cause is that ONNX does not have the operator InstanceNorm. To fix it, we may create one op or add the semantics into BatchNorm. :)

[2018-01-10 22:33] #4500 closed

[2018-01-10 23:36] ruotianluo opened #4596 "Cannot install pytorch cuda 8.0 using conda"
I also tried
`conda install pytorch torchvision cuda80 -c pytorch`
nothing changed.

[2018-01-10 23:37] soumith commented on #4596
do you already have the cuda90 feature installed, for some reason...

Try first doing:

`conda uninstall cuda90`

[2018-01-10 23:38] ruotianluo commented on #4596
Thanks.
Solved.

[2018-01-10 23:38] #4596 closed

[2018-01-10 23:48] #4562 closed

[2018-01-11 01:57] peterjc123 commented on #494
@terribilissimo It may be the vc packages caused the problem. Can you try installing the offline package from [Anaconda Cloud](https://anaconda.org/peterjc123/pytorch) into a fresh env?

[2018-01-11 03:39] mingminzhen commented on #4580
thanks. It's useful.

[2018-01-11 03:51] hhsecond commented on #4337
@apaszke Since you mentioned ``unique()`` is also no longer necessary, would that be removed from ``Values`` also? Or it is unnecessary only for ``Node``

[2018-01-11 06:45] sunhs commented on #973
I'm faced with this problem too. In my code I did:

`
from multiprocessing import pool
p = pool.Pool()
p.map(preprocess, images)
`

where `images` are PIL Image objects and `preprocess` is a function to transform the PIL Image into a FloatTensor. This yields the same exception as above. When I change the ulimit or replace the `pool.map` with a normal `for loop` everything is good.

I'm just curiou

[2018-01-11 07:41] apaszke commented on #973
Tensors are always passed through shared memory. Try switching to the file name based sharing, or increase the limit of file descriptors per process using `ulimit`

[2018-01-11 07:42] apaszke commented on #4337
It's only unnecessary for `Node`. If you want to get a unique id (within nodes only), you can use `value.node().outputs()[0].unique()` (every node is guaranteed to have at least a single output).

[2018-01-11 08:36] apaszke commented on #4588
The default is like this, because a lot (most?) of our tests involve comparing to approximations/computing finite differences and that requires higher precision than float. Also, it doesn't really hurt perf/mem usage, because most tests should be very small and double math is as fast as float math on the CPU. For CUDA, we're using `torch.cuda.FloatTensor` in most places IIRC

[2018-01-11 09:03] terribilissimo commented on #494
@peterjc123

Certainly. I assume you want me to install the cpu-only package. Note that the env still has a `vc` package, although not from you.

![capture7](https://user-images.githubusercontent.com/35294634/34816849-6e580dfe-f6b6-11e7-97bf-fefda46038ba.PNG)

### dump:
[_C.cp36-win_amd64.txt](https://github.com/pytorch/pytorch/files/1621872/_C.cp36-win_amd64.txt)

[2018-01-11 09:26] guotong1988 opened #4603 "Does Nvidia have a kind of cuda driver to install for the machine without GPU?"
So after installing the cuda driver on the NO-GPU machine, we can debug on it in GPU-mode, which is the same as a machine with GPU~
Sorry to trouble you and thank you very much~

[2018-01-11 10:05] peterjc123 commented on #494
After inspecting the log, the following two libraries caused the problem.
[code]
I've uploaded the right version
[here](https://github.com/pytorch/pytorch/files/1622048/vc.zip).
Put the files into `[Anaconda env path]\Lib\site-packages\torch\lib` and it should be fine.
If the CPU version works, then the GPU should be working afterwards once you do the same thing.

[2018-01-11 11:40] stefdoerr opened #4605 "Warning on infinite acos gradients?"
Just a suggestion. Should there maybe be some kind of warning thrown in the case we get `acos` gradients of `-inf`? I understand that the behavior is correct but as the `inf` propagates through the graph you end up with a `NaN` that can take a decent bit of debugging to detect in a larger program.

[code]

[2018-01-11 11:49] apaszke commented on #4605
A lot of our ops work this way, and adding these checks would cause massive slowdowns. Thanks for the suggestion, but we can't afford that.

[2018-01-11 11:49] #4605 closed

[2018-01-11 11:54] apaszke commented on #4603
You can get a toolkit and build with CUDA support, but you can't run anything, so you can only debug build issues.

Note that we're using GitHub issues for bug reports only, and all questions should be posted on [our forums](discuss.pytorch.org).

[2018-01-11 11:54] #4603 closed

[2018-01-11 12:03] apaszke commented on #4410
Can you try pulling master and rebuilding it? I looked at the file and I all the errors you're seeing mean that you might not have complete C++11 support in your includes. It builds fine for me on GCC5.

[2018-01-11 12:21] stefdoerr commented on #4605
Ok, thanks anyway :)

[2018-01-11 12:56] Zrachel opened #4606 "Error while install distributed pytorch"
I run `WITH_DISTRIBUTED_MW=1 && python setup.py install` to install pytorch supporting distributed training. However, I get the following error:
[code]

Here is my environment:
[code]

[2018-01-11 12:58] soumith commented on #4606
at the moment master-worker mode might need some fixes to get compiled.

cc: @teng-li

[2018-01-11 13:15] apaszke commented on #4606
Yup, it’s not officially supported. You don’t need to specify any flags to compile with distributed support. It’s on by default

[2018-01-11 13:18] terribilissimo commented on #494
@peterjc123 Thanks.

I put your vcs into the last environment (the one above, with pytorch manually installed). No success.

I created another fresh env, installed pytorch with -c peterjc123 (cpu version), then copied the vcs in the right path.

No success.

![capture7](https://user-images.githubusercontent.com/35294634/34827200-b05d3f80-f6d9-11e7-9db2-701f24b81d4c.PNG)

## Dump:

[_C.cp36-win_amd

[2018-01-11 14:37] quoniammm commented on #990
Facing the same problem here in China again. Download speed ~ 8 kb/ps

[2018-01-11 14:59] Zrachel commented on #4606
Thank you for your quick reply. However, without specify distributed flag, I get:
[code]

[2018-01-11 15:47] peterjc123 commented on #494
@terribilissimo No. Please install the offline package and do the things again. Sorry for unclear  description.

[2018-01-11 15:51] peterjc123 commented on #494
@terribilissimo I need the log for the first one. Would you please do again?

[2018-01-11 15:54] soumith opened #4607 "conv1d needs additional shape checks"
[code]

Should error out but returns without error (returns uninitialized output).
Reported here: https://discuss.pytorch.org/t/minimum-kernel-size-convolution-solved-by-striding/12162

[2018-01-11 17:03] terribilissimo commented on #494
@peterjc123

Sure! I created a fresh env just to be sure. Here are the results:

![capture7](https://user-images.githubusercontent.com/35294634/34836244-97516a34-f6f7-11e7-8798-93cec6148951.PNG)

### Dump:

[_C.cp36-win_amd64.txt](https://github.com/pytorch/pytorch/files/1623412/_C.cp36-win_amd64.txt)

[2018-01-11 17:13] zkl99999 opened #4610 "If you want to disable CUDA support, export environment variable NO_CUDA=1."
this is mean?  how i do without CUDA
is this?
NO_CUDA=1 DEBUG=1 python setup.py install

[2018-01-11 17:29] apaszke commented on #4610
`NO_CUDA=1 python setup.py install`, or better go to pytorch.org and download a CPU-only binary (they are available since yesterday and weight only 45MB).

Note that we're using GitHub issues for bug reports only, and all questions should be posted on [our forums](discuss.pytorch.org).

[2018-01-11 17:29] #4610 closed

[2018-01-11 17:31] soumith commented on #3826
fixed via https://github.com/pytorch/pytorch/pull/4583

[2018-01-11 17:31] #3826 closed

[2018-01-11 20:33] KaaPex commented on #4410
The gcc cant use C++11, only with flag -lstdc++, but -std=c++11 did't work for me

[2018-01-11 21:14] apaszke commented on #4606
That's weird. When have you pulled the repo?

[2018-01-11 21:18] KaaPex commented on #4410
Well using clang-5.0 and clang++-5.0 helps me install torch from source, now i have:
Cuda-9.1
cudnn-7.0.5
torch-0.4.0

[2018-01-11 21:49] apaszke commented on #4410
Well you need a compiler with C++11 support to build PyTorch. `-std=c++11` is necessary. I haven't heard of similar issues. It's really weird and it might be a result of having your compiler pick up a wrong directory for includes (since you have multiple installed). Make sure you can compile other C++11 programs. We've never been defining such a flag.

[2018-01-11 22:12] Zrachel commented on #4606
At Sep 2017

[2018-01-11 22:20] teng-li commented on #4606
Yes, as Soumith said, WITH_DISTRIBUTED_MW, master worker mode is something we are actively working on and don't recommend to use it at this point.  distributed should be automatically built by default without any flags.

[2018-01-11 23:34] ebetica opened #4619 "Autogradpp issue masterthread"
- [x] #3971 Index tensor by scalar
- [ ] #3965 at::cat to take in lists of variables
- [x] #3847 Implement .relu on variables
- [x] Find a way to do all the max/min operations without returning a tuple. Instead of `std::get<0>(tensor.max())`, I want to be able to call `tensor.max()`, can be renamed to `maxv` or something...
- [x] Variable.detach_() doesn't do what I think it does, after a var.deta

[2018-01-11 23:53] samuela opened #4620 "`torch.normal` accepts Variables but does not propagate gradients"
Simple example:
[code]
produces:
[code]

[2018-01-11 23:54] samuela commented on #4620
Even worse, somehow I've found a way to successfully run `torch.normal` and `backward()` through it but the actual gradients aren't correct even though the code runs without errors. I'll try to get a minimal repro on that behavior as well.

[2018-01-12 00:21] samuela commented on #4620
Ok, here's another example of the behavior described in the previous comment: `backward()` runs without error, but the gradients are not actually calculated.

It's something like a VAE. It demonstrates using `torch.normal` for the reparameterization trick vs. a hand-written version.
[code]
It produces:
[code]

[2018-01-12 00:21] samuela commented on #4620
I'm using

[code]

[2018-01-12 00:51] peterjc123 commented on #494
@terribilissimo The following library is a circular dependency. Please check and replace it with a correct version.
`c:\users\poko\anaconda2\envs\fasty\API-MS-WIN-CORE-SYNCH-L1-2-0.DLL`

[2018-01-12 01:16] dineshj1 opened #4621 "MSEloss with reduce=False returns a tensor of same size as the input and target (rather than just one loss per batch element)"
MSELoss with reduce=False doesn't behave as documented.
[code]
As documented, this should return one loss for each of the 3 batch elements. Instead, it returns:
[code]

A similar setup with with CrossEntropyLoss(reduce=False) instead of MSELoss correctly returns a FloatTensor of size 3.

[2018-01-12 01:27] jlquinn opened #4622 "Protect user from No module named _C import error"
After installing pytorch, I tried to test that it worked by firing up python and import torch.
I get the error
 ImportError: No module named _C

I was sitting in the root of the pytorch git tree.  Moving out of the tree solves the problem, but it's mysterious until you find someone else on the web who had it.

Please consider adding a check that the user isn't sitting in the tree during import to

[2018-01-12 01:28] vadimkantorov opened #4623 "Variables are behaving strangely for indexing"
In python2:

[code]

[2018-01-12 03:19] aoken commented on #1835
There are a method to correctly calculate.

F.logsigmoid(autograd.Variable(torch.DoubleTensor([-300.0])))

you get correct answer.

[2018-01-12 03:51] loveJasmine opened #4625 "how to run pytorch-based project with pytorch source code"
I means, if I want be a developer of pytorch or customize the pytorch, what is the best practise?

[2018-01-12 05:43] JacquelineWang commented on #4049
Hi, I would like to know how do you reinstalled the Command line Tools?
I've encountered the same problem as you did.

[2018-01-12 06:05] zou3519 commented on #4625
Please use our forums at https://discuss.pytorch.org/ for questions.

You should fork the github repo to develop with it, and submit pull requests :)

[2018-01-12 06:31] shhong commented on #4049
Sure, you can the Command Line Tools at https://download.developer.apple.com/Developer_Tools/Command_Line_Tools_macOS_10.12_for_Xcode_8.2/Command_Line_Tools_macOS_10.12_for_Xcode_8.2.dmg . I think that you need to switch to Xcode 8.2 first, and then install the package.

[2018-01-12 07:46] JakobHavtorn opened #4628 "Softmax using multiple threads inhibiting parallel execution of forward passes (?)"
Using Linux Mint 18.3 and pytorch 0.3.0, some `nn.Module` and `nn.functional` methods appear to use multiple cores/threads and inhibit parallel execution.

At the basic level, I am interested in running multiple forward passes in parallel. This works perfectly on Mac OS 10.13.2 but on Linux Mint 18.3, I face the problem described above.

For a network like the one below, using `softmax` while exec

[2018-01-12 08:19] JacquelineWang commented on #4049
Thank you so much. It worked!

[2018-01-12 08:23] #4625 closed

[2018-01-12 08:34] donghwicha opened #4629 "0.3.0 availability on conda"
Hello.

I installed 0.3.0 as below

and it looks to be successful

but I can not find any build of 0.3.0 on conda repo.
https://anaconda.org/soumith/pytorch/files?sort=time&sort_order=desc

Can someone confirm whether pytorch 0.3.0  is available on conda repo?

[2018-01-12 08:37] lanpa commented on #4629
conda install pytorch torchvision -c `pytorch`

[2018-01-12 08:45] AkonLau opened #4630 "When torch.symeig or torch.svb works on GPU, why it still occupies a lot of CPU? Is it a bug or others?"

[2018-01-12 08:46] SahilC opened #4631 "Only nn.Parameters defined directly within nn.Module are listed in module.parameters()"
I was trying to implement a custom neural network module when I encountered this bug. Only parameters which are defined as attributes of module directly are listed in module.parameters().

Code to reproduce bug:

    class Module1(nn.Module):
        def __init__(self, input_size, hidden_size):
            super(Module1, self).__init__()

            self.w_i = nn.Parameter(torch.FloatTensor(input

[2018-01-12 08:48] #4629 closed

[2018-01-12 09:04] RichardMrLu opened #4633 "How to save a quantized model?"
I implement linear quantization, after quantizied, the model's size unchanged. I use 'torch.save()' to save quantized weights, it seems that it is tills float format..
anybody can help me? Thanks for your help.

[2018-01-12 09:49] terribilissimo commented on #494
@peterjc123 Thanks.

I'm having a hard time finding a correct version of that library, mainly because I don't what is exactly intended for "correct version". Plus, It is present in a lot of places in my system.

If you have a working version of it in your pc, may you attach it for me?

Thanks!

[2018-01-12 10:58] apaszke commented on #4631
There are good reason why we don't want to traverse arbitrary Python data structures, with performance being the most important consideration. That's why we have `nn.ParameterList` and `nn.ModuleList`. `nn.Module()` can also be used as a dictionary-like object for both parameters and submodules.

[2018-01-12 10:58] #4631 closed

[2018-01-12 10:59] apaszke commented on #4633
Note that we're using GitHub issues for bug reports only, and all questions should be posted on [our forums](discuss.pytorch.org).

[2018-01-12 10:59] #4633 closed

[2018-01-12 11:00] apaszke commented on #4630
This is definitely not enough information for us to say if something is a bug or not. It works on the CPU if you call it with a CPU tensor. I'll close this issue, but feel free to reopen if you can provide us with a small snippet of code that would reproduce your problem.

[2018-01-12 11:00] #4630 closed

[2018-01-12 11:02] terribilissimo commented on #494
@peterjc123

Bloody hell man, we did it (well, YOU did it, dude)!

I installed VC redistributable 2017 (*not* 2015). Now I'm getting no errors even with the gpu version.

![capture7](https://user-images.githubusercontent.com/35294634/34872224-6d644586-f790-11e7-9e4c-1474bcea930d.PNG)

I am deeply grateful!

[2018-01-12 11:34] apaszke commented on #4619
Regarding `tensor.max()` I think a better way would be to auto-generate "named-tuples" in C++ (i.e. you can still do `std::get<0>(tensor.max())` OR `tensor.max().values` (we'd generate a struct with two fields that also supports the `get` interface)

[2018-01-12 11:37] HenryJia commented on #3807
Any updates on this bug? I still can't seem to find a workaround?

[2018-01-12 11:42] apaszke commented on #4606
Well that's the answer to your problems. Pull the newest version and you'll have it supported out of the box.

[2018-01-12 11:42] #4606 closed

[2018-01-12 11:57] apaszke commented on #4628
Sorry, but is the problem that every process tries to use all the cores and this makes it slower for you? You can regulate the number of threads PyTorch uses by setting `torch.set_num_threads(X)` or running your script with `OMP_NUM_THREADS=X MKL_NUM_THREADS=X`. Does this solve your problem?

[2018-01-12 12:59] AkonLau opened #4634 "Issues about symeig and svd on GPU"
When torch.symeig or torch.svb works on GPU, why it still occupies a lot of CPU? Is it a bug or not?
The code are D, V = torch.symeig(input1, eigenvectors=True ), U, D, V = torch.svb(input2). The input1 and input2 are all torch.cuda.FloatTensor type. When I test it on GPU , they still occupy a lot of GPU.
But when I try D= torch.symeig(input1 ) on the GPU, it didn't occupy CPU. Could you give me s

[2018-01-12 13:07] sighingnow commented on #4607
I'll do this!

[2018-01-12 13:08] Sidney2408 commented on #494
Hi @peterjc123 , even though I managed to manually install pytorch from the zip file and import it in python, Anconda still gives the error of "module not found in win 64 channels" when I try to install Spyder.

Any idea as to which my Anaconda prompt is unable to locate the package?

[2018-01-12 13:12] peterjc123 commented on #494
@Sidney2408 Please install all other packages you needed before you install the offline package.

[2018-01-12 13:17] Sidney2408 commented on #494
@peterjc123 What are all the other packages?

[2018-01-12 13:19] peterjc123 commented on #494
@Sidney2408 You can remove pytorch first when you want to install some packages and then reinstall pytorch back.

[2018-01-12 13:31] Sidney2408 commented on #494
Ok @peterjc123  after opening Anaconda prompt and updating conda, Anaconda was able to find your pytorch package and installed other packages with it:

    cffi:           1.11.2-py36h829d1a5_0
    pycparser:      2.18-py36hd053e01_1
    pytorch:        0.3.0-py36_0.3.0      peterjc123
    sqlite:         3.20.1-h9eeafa9_2
    vs2017_runtime: 15.4.27004.2010-0     peterjc123

I guess that's that.

[2018-01-12 13:36] peterjc123 commented on #494
@Sidney2408 Sure, 80 or 90 is supported if you plug in a capable Nvidia Graphics card.

[2018-01-12 15:17] SsnL commented on #4634
Do you mean svd? We use magma bindings to many linalg functions. Magma doesn't implement everything in GPU so it sometimes still makes some lapack calls.

[2018-01-12 15:40] SsnL commented on #4620
It becomes backprop-able because an `nn.Linear` participates in the the computation. Its parameter requires gradient, so the autograd engine can execute in your second example.

I don't think `torch.normal` should be backprop-able as it is a sampling function. IMO, there is a fundamental difference between:
1. sampling using mu and sigma as distn parameter, and
2. training mu and sigma using rando

[2018-01-12 15:42] SsnL commented on #4551
Could you share the multiprocessing part of your code?

[2018-01-12 15:47] ezyang commented on #4622
Well, we could wrap the `import _C` in torch with a test for ImportError, and then give a suggested resolution in that case. Not that hacky.

[2018-01-12 15:51] ezyang opened #4636 "Better header hygiene in ATen"
Steps to reproduce:
1. Edit `native_functions.yaml` to add a single new function
2. Rebuild

Expected result: Quick rebuild
Actual result: Everything in the universe rebuilds

This is because a good portion of our C++ functions include `ATen/ATen.h`, which includes the autogenerated (very long) header file, which gets modified when you edit `native_functions.yaml`.

I suggest we separate the heade

[2018-01-12 18:06] ehannigan opened #4641 "Addition of two vectors results in 2d matrix"
I am adding two tensors that should be the same size. However, I noticed in my code, that one was a 2d (16x1) tensor, and the other was a 1d (16) vector. The addition of the two resulted in a 2d (16x6) tensor. This does not seem to be an intuitive result. Am I missing something from the documentation, or is this a bug?
[code]

x3 is a 16x16 matrix of 2's.

[2018-01-12 18:19] samuela commented on #4620
But I've also marked `mu` and `sigma` variables as requiring a grad in the first example. What makes them different than `nn.Linear` in the eyes of `backward()`?

Personally I would like to lobby for `torch.normal` (and friends) to be backprop-able, since it's convenient for cases where one wants to use a reparameterization trick. But I would also understand if they were deemed to not be backprop-

[2018-01-12 18:23] samuela commented on #4620
I recently tracked down a particularly nasty bug that was due to the behavior shown in the second example: no error, but also no gradients.

[2018-01-12 18:35] soumith commented on #4641
PyTorch implements broadcasting (like numpy does).
Please read https://docs.scipy.org/doc/numpy-1.13.0/user/basics.broadcasting.html for more details.

[2018-01-12 18:35] #4641 closed

[2018-01-12 19:17] kapilkd13 opened #4642 "Pytorch's Participation in GSOC 18!!"
Hi I am a Pytorch user and a GSOC 17 participant. I want to discuss the possibility of Pytorch's participation in GSOC 2018. Personally, I think this would be great way to engage young developers who may later become core developers and help in maintaining Pytorch, meanwhile achieving some key milestones for Pytorch as part of their project. more info can be found here https://summerofcode.withgoo

[2018-01-12 19:48] soumith commented on #4642
Thanks Kapil, we'll definitely consider it.

[2018-01-12 20:04] #4464 closed

[2018-01-12 20:04] soumith commented on #4464
fixed via #4544

[2018-01-12 20:04] soumith commented on #3556
fixed via #4035

[2018-01-12 20:04] #3556 closed

[2018-01-12 20:23] samuela commented on #4620
I'm still confused as to why one would error and the other would not. Shouldn't I be able to write my own linear layer `W @ x + b` and have it do the same thing? It looks like `nn.Linear` is receiving some special treatment here.

That makes sense. In that case `torch.normal` should not accept Variables as input, correct?