[2018-06-29 10:08] AlexLuya opened #9024 "cmake error:Could NOT find IDEEP (missing: /usr/local/include)"
- PyTorch or Caffe2: PyTorch
- Build command you used:
cmake  -DUSE_NATIVE_ARCH=ON -DUSE_FFMPEG=ON -DUSE_ATEN=ON  -D USE_TENSORRT=ON -D USE_OPENMP=ON -DUSE_MKL=ON -DUSE_IDEEP=ON ..

- OS:                                  ubuntu 16.04 64bit
- PyTorch version:             00b5d397aef410f5926cb50e7d6e4e676aef71a8
- Python version:                2.7.12
- CUDA/cuDNN version:    9.0/7.15
- GPU models a

[2018-06-29 10:14] arogozhnikov opened #9025 "[feature request] Allow embedding to use not only the last axis"
## Issue description

`torch.nn.Embedding` can provide one more argument - axis to use as an 'embedding dimensionality'

This will allow using `nn.Embedding` in sequential models.

## Code example

The following code is expected to work
[code]

New argument `added_dim=1` should be `-1` by default to agree with previous behavior.

[2018-06-29 11:36] ibrahimsoliman opened #9026 "(CAFFE_ENFORCE_EQ_WITH_CALLER tensor.h) caffe2 C++ windows10 runtime error!"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

I have successfully build and install caffe2 on windows 10 and while i am testing my below code in

[2018-06-29 11:53] t-vi commented on #8988
I'd do tensordot based on the (private) sumproduct_pair function used by einsum. In fact, if we want this, I'd be glad to send a PR.
Medium-term, I'd like to incorporate the optimizations into einsum itself. (Numpy, did, too.)

[2018-06-29 12:51] liu-zhy commented on #8886
HELP...please!!!

[2018-06-29 13:35] qimw opened #9028 "[caffe2]build problem, can not find caffe2_pybind11_state_hip"
## Issue description

I build the caffe2 with anaconda following the [page](https://caffe2.ai/docs/getting-started.html?platform=mac&configuration=compile#anaconda-install-path).
In the server with a single titanx, has cudnn7 and cuda9 but do not have nccl, so I download the nccl2 from nvidia and extract it to path/to/local/nccl2, and then edit the ./pytorch/conda/integrated/build.sh in the line 4

[2018-06-29 13:37] deepali-c commented on #3716
I am able to reproduce this issue with the following snippet:

[code]

[2018-06-29 13:46] ezyang opened #9029 "DataWorkersTest::testRNNInput timeout"
[code]

logs: Details

[2018-06-29 13:54] #8940 closed

[2018-06-29 14:11] ezyang opened #9030 "Consider testing in CI with gpytorch"
We internally have a copy of gpytorch, so if you make a change to PyTorch that breaks gpytorch, you will not notice it until you run fbcode tests. Would be good if OSS CI could notice this too. CC @yf225

[2018-06-29 14:13] ezyang opened #9031 "Consider testing in CI with warpctc"
Same justification as in #9030. CC @yf225

[2018-06-29 14:47] ezyang opened #9032 "Lint check for non-Unicode characters in diffs / Unicode characters without coding"
I noticed a PR which was only failing internal tests, and not external tests, due to a Unicode (or Latin-1?) apostrophe inside the source code. Our lint check should catch this. CC @yf225

[2018-06-29 14:47] zou3519 commented on #9022
I think you are looking for [torch.diagflat](https://pytorch.org/docs/master/torch.html?highlight=diag#torch.diagflat).

This issue isn't a bug report or feature request, so I am closing this. Please feel free to reopen if it is any of those.

[2018-06-29 14:47] #9022 closed

[2018-06-29 15:38] SsnL commented on #9025
this changes output shape?

[2018-06-29 16:21] hartb commented on #7420
Looking at the failure of `test_Conv2d_groups_nobias`...

This is also a "value out of tolerance" failure that we see only when using CUDA and torch.half/float16 on a system with V100 GPUs.

The failure is data specific. I cut down the test script to include just the failing case with fixed parameters and input values. (See attached `Conv2d.py`.)

With that setup, the values that differ out of tol

[2018-06-29 16:23] hartb commented on #7420
[Conv2d.zip](https://github.com/pytorch/pytorch/files/2150108/Conv2d.zip)

[2018-06-29 16:55] ailzhang commented on #7415
Hi @travel-go , if you are referring your checkpoint as a state_dict, then load_state_dict() is doing a for loop to load them one by one.
If you are loading your checkpoint from a file, the tensor reconstruction happens in __reduce__ behavior of Tensor & storageBase object, and triggered by pickle. Please note that loading from file is done through `torch.load()` and it has nothing to do with a mo

[2018-06-29 17:10] boyingl commented on #9011
how can I check the version of torchvision specifically ?

[2018-06-29 17:11] SsnL commented on #9011
`print(torchvision.__version__)`

[2018-06-29 17:31] gwern commented on #1637
Just leaving another comment about the workaround: I built a Threadripper/2x1080ti workstation and began the Fast.ai course. Training on a single GPU worked fine, so I thought I'd try both, using `DataParallel`. The Python process would spin at 100% unkillably, with small GPU utilization, requiring a reboot. The p2p CUDA sample would likewise hang at the first benchmark. Adding the IOMMU line in G

[2018-06-29 17:34] #8716 closed

[2018-06-29 18:00] jerryzh168 commented on #9026
You probably want to do
CPUContext context;
TneosrCPU tensor(dims, data_batch, &context);
in this case.

[2018-06-29 18:14] anderspapitto opened #9043 "onnx RNN conversion has some unhygenic steps"
pytorch's nn.RNN (and analogously, nn.GRU and nn.LSTM) don't have a direct ONNX analog. When we export them, they produce a subgraph which is intended to fully match the semantics of the original nn operator.

Another complication is that packed sequences do not exist in onnx. To get by this, we introduce a fictional onnx::PackPadded and onnx::PadPacked, which are defined to have exactly the same

[2018-06-29 18:28] jamesr66a commented on #8393
@zdevito was this closed by https://github.com/pytorch/pytorch/pull/8641?

[2018-06-29 18:29] #8393 closed

[2018-06-29 18:57] t-vi commented on #8847
I think all you need to do is to wrap the call of the function (in the autograd.Function forward):
[code]
...oh, and return something more reasonable than `0`.

[2018-06-29 19:07] PetrochukM commented on #7092
@soumith Read through the tutorial and the launch utility, the distributed API has many options that enable it to be really powerful. Amazing!

Following up on this comment to make training faster -- "If you are using RNN, it is better to use DistributedDataParallel (and 1 process per GPU) than using DataParallel." @soumith

For a single machine with multiple GPUs 2 - 8 running RNNs, what are opti

[2018-06-29 19:58] dhirajnitk commented on #3415
@soumith
Has this issue been resolved.  I'm still getting **Key errors** with multiple workers
[code]

[2018-06-29 20:23] boyingl commented on #9011
it's 0.2.0

[2018-06-29 20:28] karandwivedi42 commented on #9011
`num_classes=800` , `pretrained=True` do not work together AFAIK. Using pretrained means you have to keep `num_classes=1000`

[2018-06-29 20:34] karandwivedi42 commented on #9011
I just checked, using pretrained with `aux_logits=False` is also not possible. To use the pretrained model, you have to use
[code]
After that it works and I am can't reproduce the error with same config (pt0.3.1, tv0.2.0)

[2018-06-29 20:35] boyingl commented on #9011
just tried

`        inception = models.inception_v3(pretrained=True, aux_logits=False)
`
still same error:
[code]

[2018-06-29 20:51] samuelbroscheit opened #9046 "[feature request] freeze() for nn.Module"
For Modules like BatchNorm it is not sufficient to set requires_grad = False, because the running_mean and running_var are still updated unless the the module is set to .eval() .

Unless I am missing something, ATM, I only can solve this with

[code]
which feels quite hacky. Also, in general, it would be nice to have a convience function to freeze the parameters of a Module.

The idea would be tha

[2018-06-29 21:16] ezyang opened #9049 "Symbol::fromDomainAndUnqualString("", "blah") gives bad error: IndexError: basic_string::substr: __pos (which is 12) > this->size() (which is 0)"
Self-explanatory.

[2018-06-29 21:22] #8634 closed

[2018-06-29 21:23] #8527 closed

[2018-06-29 21:39] zou3519 commented on #6714
This looks fixed by #6728 so I am closing this.

[2018-06-29 21:39] #6714 closed

[2018-06-29 22:43] yf225 opened #9054 "UBSAN error: call to function THDRequest_free through pointer to incorrect function type 'void (*)(void *)'"
Both `test_irecv` and `test_isend` in `TestDistBackend` throws error with UBSAN (error line: https://github.com/pytorch/pytorch/blob/master/torch/csrc/PtrWrapper.cpp#L49):

[code]

[2018-06-29 22:49] yf225 opened #9055 "UBSAN error: downcast of address 0x7ffe0ba79e58 which does not point to an object of type 'torch::jit::Node'"
`test_decompose_addmm` in `TestJit` fails with UBSAN:
(error line: https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/attributes.h#L198)
[code]

[2018-06-29 22:49] ezyang commented on #9049
I agree with A. If we need B later we can always add it.

[2018-06-29 22:51] yf225 commented on #9054
@colesbury Should we just ask UBSAN to ignore it, or is there a better fix for this?

[2018-06-29 22:52] yf225 commented on #9055
@zdevito Should we just ask UBSAN to ignore it, or is there a better fix for this?

[2018-06-30 01:12] joseandrespena commented on #8974
@bingo619 buddy? are you there?

[2018-06-30 02:06] ashah03 commented on #8987
I had the same issue.

[2018-06-30 02:22] ashah03 opened #9058 "Installing PyTorch from source on Raspberry Pi:"
## Issue description

Trying to install PyTorch from source on Raspberry Pi Zero (ARMv6).

## Code example

Here is the trace:

 90%] Linking CXX executable ../bin/scalar_test
/home/pi/git/pytorch/build/lib/libcaffe2.so: undefined reference to `cpuinfo_arm_linux_init'
collect2: error: ld returned 1 exit status
caffe2/CMakeFiles/scalar_test.dir/build.make:95: recipe for target 'bin/scalar_test' fai

[2018-06-30 06:18] travel-go commented on #7415
I am grateful for your reply.I understand it.In my code,the function of  torch.load()  loads the whole model to gpu.I just change its storage path to the cpu.Thank you,I solve it.

[2018-06-30 06:19] #7415 closed

[2018-06-30 06:48] mirraaj commented on #9022
@zou3519, I think you do not get my doubt. What I want to do is get the diagnol matrix of the given tensor in this form:

a = tensor([[ 1.,  2.],
                  [ 3.,  4.],
                  [ 5.,  6.]])

torch.fuction(a) should now return three 2D arrays with following tensors as their diagnol values.

My main focus is to sample values from multivariate Gaussian using mean and variance matrix.

[2018-06-30 07:45] Oktai15 opened #9062 "CUDA error with torch.multinomial"
I have the following code:
`a = torch.multinomial(b, 5)`
where `b` is
`tensor([ 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
0., 0., 0., 0., 0., 0., 0., 0.,

[2018-06-30 09:30] doggycoder commented on #8788
@john7002 @davidbutler1 so do i

[2018-06-30 09:57] davidbutler1 commented on #8788
@doggycoder @john7002 I solved it by compiling with gcc 6 instead of 7. I think some of the syntax isn't compatible with gcc 7.

[2018-06-30 11:47] vishwakftw commented on #9058
If you are installing PyTorch, you should use `python setup.py install`.

[2018-06-30 12:17] Kaixhin commented on #8985
Is this just batch norm/instance norm with `affine=False` and using an `Embedding` to produce a weight and bias? If so then using the existing components would be simple enough, but I guess it is popular enough that a premade component would be nice.

[2018-06-30 12:30] vishwakftw opened #9063 "Magma installed via conda, not found during build"
## Issue description

I am building PyTorch, and have Magma installed using conda. However, this is not being found during the build.

### Build Log

This is the [build log](https://gist.github.com/vishwakftw/b705ca3322de7c45ea70f8ef63d8932f) relevant to the issue.

## System Info
PyTorch version: 0.5.0a0+33c75a0
Is debug build: No
CUDA used to build PyTorch: 8.0.44

OS: Ubuntu 16.04.2 LTS
GCC ver

[2018-06-30 12:36] t-vi commented on #8985
@Kaixhin yup. That is exactly it.

[2018-06-30 14:40] doggycoder commented on #8788
@davidbutler1 your are right. thank you very mach.

[2018-06-30 16:03] ezyang opened #9064 "data_workers_test.py::DataWorkersTest::testInputOrder intermittent Segmentation fault"
[code]

Logs: https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-cuda9.0-cudnn7-aten-ubuntu16.04-test/2744//console

cc @ezyang @gchanan @zou3519 @jerryzh168

[2018-06-30 16:05] SsnL opened #9065 "[build] pass nvcc arch flags to gloo"
pytorch log:
[code]

gloo log:
[code]

Other built libs I've seen, including libshm, nccl, c10d, use the correct arch flags.

cc @malfet @seemethere @walterddr

[2018-06-30 16:07] SsnL commented on #9062
All zero tensor is not a valid probability distribution (weighting considered or not). It's now a hard error on CPU too.

[2018-06-30 16:45] Oktai15 commented on #9062
@SsnL it's not true. Everything is okay if I transfer tensor to CPU

[2018-06-30 16:50] SsnL opened #9066 "[jit] [proposal] replace consecutive view ops with as_strided"

[2018-06-30 16:52] SsnL commented on #9066
I hope it's possible to replace consecutive `IndexBackward` with a single one... But it doesn't seem so.

[2018-06-30 16:55] SsnL commented on #9062
When i said “it’s an error now” I meant that it errors on master.

And erroring is the correct thing to do in this situation.

On Sat, Jun 30, 2018 at 12:45 Oktai Tatanov <notifications@github.com>
wrote:

[2018-06-30 17:20] SsnL opened #9067 "[jit] gen_jit_dispatch generates duplicate "descriptor"s"
Both following native tensor factory function entries generate same `descriptor` (`"bernoulli-5"`):
[code]

The corresponding `decl`s are
[code]
and
[code]

[2018-06-30 17:20] SsnL commented on #9067
cc @zdevito

[2018-06-30 17:29] SsnL commented on #9067
Similarly failing for
[code]

[2018-06-30 17:40] #9049 closed

[2018-06-30 17:57] rchavezj opened #9068 "Deployment for ios for 1.0"
I have a quick question regarding your future release for 1.0, do you guys plan on developing a converter from Pytorch models to coreML? I know Onnx.ai exist.

[2018-06-30 18:33] SsnL opened #9069 "[jit] cannot trace tensor factory methods"
Tracing newly created tensors is not too much a problem..... until we hit random numbers.

Things like `torch.randn(3)` are traced as `prim::Constant`, e.g.,
[code]

The `_like` variant is traced similarly (requires_grad or not):
[code]

In-place sampling methods like `normal_` aren't supported either.

This is blocking moving dropout into ATen #9008 . Because, assuming we don't have custom backwa

[2018-06-30 20:36] SsnL commented on #9011
@boyingl Could you `rm -rf ~/.torch/models` and try again?

[2018-06-30 20:37] SsnL commented on #8976
Then something in your dataset __getitem__ doesn't like multiprocessing. What's in there?

[2018-06-30 20:52] Krprashant94 opened #9071 "ImportError: DLL load failed: The specified module could not be found"
## Python Import Error with a message " ImportError: DLL load failed: The specified module could not be found. "

I am installed pytorch using
pip3 install http://download.pytorch.org/whl/cpu/torch-0.4.0-cp36-cp36m-win_amd64.whl
on plan python (not conda), and running hello world program and getting the same error.

## Code
[code]
(as given at https://pytorch.org/tutorials/beginner/blitz/tensor_tu

[2018-06-30 23:57] ashigirl96 commented on #7318
@kimdwkimdw I can do that! thank you!

[2018-07-01 02:48] Lmy0217 commented on #8976
@SsnL But when I set `num_workers=1`, my code is working sometime.

[2018-07-01 03:53] SsnL commented on #9071
cc @peterjc123

[2018-07-01 04:03] peterjc123 commented on #9071
@Krprashant94 Have you tried this https://gist.github.com/peterjc123/6b804651288e76db7b5fabe5348e1f03?

[2018-07-01 08:00] mabdullahrafique opened #9076 "RuntimeError: running_mean should contain 256 elements not 128"
I am implementing dcgan with pytorch to generate mnist digits, but I am getting the following error:
[code]

[code]

[code]

[code]

- PyTorch
- Installed pytorch using conda
- Jupyter notebook
- Ubuntu 16.04
- PyTorch version: 0.4.0
- 8.0.61/6.0.21 version:
- Nvidia Gtx-1060
- GCC version (if compiling from source):
- CMake version:
- Versions of any other relevant libraries:

[2018-07-01 09:14] Krprashant94 commented on #9071
No,not got success,, I used
pip install mkl mkl-fft intel-openmp numpy
pip install psutil first
pip install mkl
pip install mkl-fft

# Code
`import psutil, os
p = psutil.Process( os.getpid() )
for dll in p.memory_maps():
    print(dll.path)`

# Output
`
C:\Python\python.exe
C:\Python\DLLs\_bz2.pyd
C:\Python\DLLs\select.pyd
C:\Python\DLLs\_socket.pyd
C:\Python\python36.dll
C:\Windows\System32\local

[2018-07-01 09:29] Krprashant94 commented on #9071
Okey one ore thing : It may be relevent
When i am copying these file to /python36/DLLs/ the error messaged changed to

[code]
I did as https://github.com/pytorch/pytorch/issues/2731 and now

[code]

[2018-07-01 09:41] peterjc123 commented on #9071
For your recent post:
Why? It should't happen if you've set the environmental variable `PATH` correctly. Did you skipped that part in my first link?
For your previous post:
Can you try `import numpy` first? And then my question is that have you installed VC2017 Redist? And finally, you can try lucasg/Dependencies on Github, use it to open _C.pyd and give me the log.

[2018-07-01 10:04] Krprashant94 commented on #9071
Okay, thanks a lot I was written the wrong path and tried almost all of the answer in online.
Thankyou

[2018-07-01 10:05] #9071 closed

[2018-07-01 10:06] AlexLuya opened #9077 "cmake error in all machines when trying to rebuild from source"
Hello,
    I followed the instruction here:https://github.com/pytorch/pytorch#installation to build pytorch from source
instead using:
`    sudo python2 setup.py install`
I used:
`     cmake .. & sudo make install -j `nproc``

and the same thing was did in 3 ubuntu 16.04 machine,and pytorch works in these machines now,but when trying to run:
`      cd build & rm -rf * & cmake ..  `
I got all kinds

[2018-07-01 12:34] vishwakftw commented on #9076
[code]

Please use the [forums](discuss.pytorch.org) for questions.

[2018-07-01 12:40] #7929 closed

[2018-07-01 13:36] soumith commented on #9076
https://discuss.pytorch.org

[2018-07-01 13:36] #9076 closed

[2018-07-01 13:40] soumith commented on #9077
please use the instructions in the README and dont use `cmake .. && make install`. PyTorch wont install that way, and we dont support it.

[2018-07-01 13:40] #9077 closed

[2018-07-01 13:47] soumith commented on #8976
it seems like there isn't an isolated bug, but something in user's Dataset that might not like multiprocessing. Closing the issue to lead it into https://discuss.pytorch.org

[2018-07-01 13:47] #8976 closed

[2018-07-01 13:51] soumith commented on #9068
@rchavezj we will be having a conversion path through ONNX -> CoreML.

[2018-07-01 13:53] soumith commented on #9022
@mirraaj

What are the Tensors in the example, you forgot to put them in your comment

[2018-07-01 13:57] soumith commented on #9063
that is weird. is your $CMAKE_PREFIX_PATH correctly set to `"$(dirname $(which conda))/../"`?

[2018-07-01 13:58] soumith commented on #9058
@ashah03 Could you paste the full build log, it would be really helpful.
I compiled on an RPi about 4 weeks ago, and it went fine.

[2018-07-01 14:00] mirraaj commented on #9022
@soumith , Apologies for not being clear.

What I want is to sample values from a multivariate Gaussian distribution during runtime. It seems to be a bit undoable because the following line returns error whenever the batch size is greater than 1. It will be ver helpful if you could help me out with this. Please look at the code snippet I posted in my first comment. You will find that I have used t

[2018-07-01 14:02] soumith commented on #9022
but what do you expect to be the input and output of torch.diagonal? and what is the shape of `var`?

[2018-07-01 14:09] vishwakftw commented on #9063
I set it to `"(dirname $(which conda))/../"`, and now it compiles with MAGMA. Thanks.

[2018-07-01 14:09] #9063 closed

[2018-07-01 14:11] mirraaj commented on #9022
Let me be a bit more clear. Suppose I need to sample a value of shape (n,1) from a multivariate Gaussian distribution, I need to sample such value from the mean and covariance matrix. I am now assuming that the covariance matrix is a diagonal matrix. The values of the diagonal are the output from a neural network. Now, this seems to be working good when I keep the batch size to be 1. When I want a

[2018-07-01 14:51] AlexLuya commented on #9077
@soumith,if I can,I will,why,
[code]
by the way,the problem is still there,can you help to reinstall it?

[2018-07-01 15:06] vishwakftw opened #9079 "SVD using CUDA is broken"
## Issue description

Performing SVD using CUDA (built with MAGMA), give very different results to those given without CUDA. This is currently blocking #9052 .

## Code example

[code]
## System Info
- PyTorch or Caffe2: PyTorch
- How you installed PyTorch (conda, pip, source): source
- Build command you used (if compiling from source): python setup.py build develop
- OS: Ubuntu 16.04.2
- Python v

[2018-07-01 15:56] rchavezj commented on #9068
Wait I thought the point of 1.0 is to skip the middle man (ONNX.ai) and directly convert from Pytorch -> CoreML? Sorry for any confusion on my end.

[2018-07-01 17:13] apaszke commented on #9069
This is kind of expected. There are two main problems at play here:

1. RNG calls are not functional - they mutate the state of the global PRNG, and therefore we probably shouldn't rearrange them. This however requires us to add the "world token" to inhibit optimizations.
2. We never trace constructors. If we want to do this, we probably need to make the tracing a thread-local property, instead of

[2018-07-01 17:14] apaszke commented on #9069
Speaking of custom backward, this should be a non-issue. We'll need to add the random ops as non-differentiable in the symbolic AD, but capturing of the mask should happen automatically as part of the derivative for mul.

[2018-07-01 17:16] apaszke commented on #9066
Hmm why not? Viewing ops should be easily composable.

[2018-07-01 17:21] SsnL commented on #9069
@apaszke I am not very familiar with the jit structure, and not sure that I'm understanding this. Could you elaborate?

About dropout, my concern was that currently dropout is traced a single `Dropout` op, hiding the random sampling step inside. So the traced graph can be run "as-is" with proper dropout mask sampled very time (from my understanding). But since random ops (`bernoulli` in this case)

[2018-07-01 17:29] SsnL commented on #9069
I guess my question was how custom backward and symbolic AD are connected? My understanding was that jit also traces backward, but it seems that that was wrong and backward is handled by symbolic AD?

[2018-07-01 17:31] SsnL commented on #9079
thanks for reporting!

we aren't testing svd in test_cuda... :/

[2018-07-01 17:50] SsnL commented on #9079
it's only broken on non-square mats through lol

[2018-07-01 17:54] yf225 commented on #8651
@timmeinhardt The original issue is fixed on current master as well.

[2018-07-01 18:46] vishwakftw commented on #9079
No, it's broken for square matrices too.

[code]

[2018-07-01 18:46] SsnL commented on #9079
S is correct. I'm looking into it and it seems that we didn't to column major transformation for gesdd.

[2018-07-01 19:10] ptrblck opened #9081 "[feature request] scatter_mul_, scaller_div_, etc."
I would like to ask, if there is a need for additional `scatter_XXX` functions.
Currently I'm implementing `scatter_mul_`, `scatter_div_` and `scatter_sub_`.

I didn't come up with a valid use case yet, but if you think these functions would be beneficial for PyTorch I can create a merge request after finalizing the code.

[2018-07-01 19:42] SsnL opened #9083 "Optimize CUDA svd and eig"
For `eig`, when `eigenvector=False`, do not force the row-major-contiguous input to be column-major-contiguous because `A` and `A^T` have same evalues.

For `svd`, when input is row-major-contiguous, calculate `svd` as if `svd` is done on the input's transpose, and then return `r0^T, r1, r2`, where `(r0, r1, r2)` are from magma `gesdd`.

cc @ngimel @jianyuh @nikitaved @pearu @mruberry @heitorschue

[2018-07-01 20:24] t-vi opened #9084 "Native batch_norm"
I implemented batch_norm natively in ATen. It seems to do the right thing, but I think the existing tests are not comprehensive.

[2018-07-01 23:32] apaszke commented on #9069
It's true that we used to trace backward, but it's no longer the case. Right now we separate the graph into parts we can differentiate symbolically, and other ops that should be taken care of by autograd (and we don't have visibility into their backward graph anymore).

[2018-07-02 01:22] ezyang opened #9086 "test_ind_worker_queue: Address already in use / Sometimes hangs"
Intermittent OS X failure:

[code]

Sample log: https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-macos-10.13-py3-test1/2484/console

[2018-07-02 02:20] ibrahimsoliman commented on #9026
@jerryzh168 i have tried your solution but i am still getting the same error, i attached screenshot of the  error that my help:
![screenshot 31](https://user-images.githubusercontent.com/18678158/42142369-82bccbb0-7de1-11e8-957f-2b386f5164d7.png)

[2018-07-02 02:59] soumith commented on #9068
In 1.0, for server-side deployment, we will skip the middleman, any operators that are not supported in ONNX will still be exported via PyTorch's IR. And we can read the model from `libtorch` (PyTorch's C++ bits). This gives full coverage of all models that are defined via the PyTorch API.

For mobile, the standardized backends are becoming CoreML and NNAPI, at the moment it didn't make sense to c

[2018-07-02 05:37] peterjc123 opened #9092 "CUDA 8 build failed on Windows"
## Issue description

The error `LINK : fatal error LNK1189: library limit of 65535 objects exceeded` occurred when linking caffe2 using Visual Studio 2015.

## Code example

[code]

## System Info

PyTorch or Caffe2: PyTorch
PyTorch version: 0.4.0
Is debug build: No
CUDA used to build PyTorch: 9.0

OS: Microsoft Windows 10 Pro
GCC version: (Rev2, Built by MSYS2 project) 7.1.0
CMake version: versi

[2018-07-02 05:38] peterjc123 commented on #9092
Similar issue: https://github.com/caffe2/caffe2/issues/2294
CC: @orionr @pjh5

[2018-07-02 06:11] root20 opened #9094 "Filling a tensor uses all cpu cores"
## Issue description
When I generate a tensor with the function main2() in the following code, the code runs one process and uses only one cpu core.
However, when I fill (using .fill_(0)) the tensor with 0 (or multiply it with 0, or generate a tensor using torch.zeros(...)), the code runs multiple processes and uses whole cpu cores.
Is this behavior intended?

In my code, at every iteration I need

[2018-07-02 07:00] EricAugust opened #9095 "RuntimeError: backward_input can only be called in training mode"
This is my training code
[code]
And I use Adam. The model code is :
`
import torch
from torch.autograd import Variable
from torch import nn

class LSTM(nn.Module):

    def __init__(self, n_classes, dictionary, args):
        super(LSTM, self).__init__()

        self.hidden_dim = args.hidden_dim
        self.num_layers = args.num_layers
        self.gpu = args.use_gpu
        vocabulary_size = di

[2018-07-02 07:57] alok opened #9097 "Add python 3.7 to binary install page"
Python 3.7 hit homebrew on mac, and I upgraded to it. I tried doing `pip3.7 install torch` and got an error.

I also looked at https://pytorch.org/ and realized that 3.7 isn't on the list of install options.

It would be nice if both the pip install could be fixed and the install page updated.

[2018-07-02 08:16] beichen2012 opened #9098 "[caffe2] how to substract the mean value ?"
I have a trouble that ,how caffe2 sub the mean val:
[code]
when execute the line: m.Sub, I got :
TypeError: _CreateAndAddToSelf() takes at most 4 arguments (6 given)

[2018-07-02 08:48] arogozhnikov commented on #9025
Yes, it does. Below is detailed proposed behavior

[code]

And below is some demo how it affects shape:

[code]

[2018-07-02 09:05] aswin1980 opened #9099 "Caffe2 Train your own image"
Hi,
I would like to train my own set of images(Railroad signals). I would like to know how to do that from scratch. The tutorial is inadequate and does not explain how to do image training from scratch but explains in using a pre-trained dataset/models(e.g iris or handwriting).

Appreciate if the tutorial can be relooked in explaining how to train images from scratch.

Thanks

[2018-07-02 10:10] AlexLuya opened #9100 ""setup.py install" and "setup_caffe2.py install" give different CUDA version detection"
Iong ago,I have uninstall cuda 7.5 and installed cuda 9.0,but

`sudo python setup_caffe2.py install`
gives:
`Caffe2: CUDA detected: 7.5`

`sudo python setup.py install`
gives:
`Caffe2: CUDA detected: 9.0`

my configuration:
ubuntu 16.04
cmake 3.5.1
source code head:00b5d397aef410f5926cb50e7d6e4e676aef71a8

[2018-07-02 10:12] arogozhnikov opened #9101 "[pytorch, bug] Indexing inconsistencies"
## Issue description

when indexing from negative number to zero, results are

- inconsistent with numpy
- inconsistent for different axes
- sometimes results in crashes

## Code example

[code]

## System Info

Collecting environment information...
PyTorch version: 0.4.0
Is debug build: No
CUDA used to build PyTorch: 8.0.61

OS: Ubuntu 16.04.4 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.9) 5.4.

[2018-07-02 10:51] apexprs commented on #7899
@Khrylx, Could you please elaborate the steps you took to build onnx from source. Thanks!

[2018-07-02 11:20] Jongchan commented on #3415
I think you can bypass the runtime error by exception handler.
`try:
    set_start_method('spawn')
except RuntimeError:
    pass`
It's mentioned in https://github.com/pytorch/pytorch/issues/3492#issuecomment-392977006

I am not 100% sure that it will work, but you can try. It's just 3 more lines of codes.

[2018-07-02 11:55] AlexLuya commented on #9100
I found /usr/local/bin/nvcc is 7.5 uninstallation left,delete it,this problem is gone

[2018-07-02 11:55] #9100 closed

[2018-07-02 14:11] SsnL commented on #9066
Okay I think I understand now. You are talking about doing that in symbolic AD, right?

[2018-07-02 14:44] colesbury commented on #9054
@yf225 probably best just to fix the error. I think the easiest change is to make `THDRequest_free` take a `void*` pointer instead of `THDRequest*` and then cast to `THDRequest*` before calling delete.

[2018-07-02 14:50] apaszke commented on #9066
Yeah. We never trace the internals of `IndexBackward` or `IndexBackwardBackward`. We should just have a JIT pass that merges that viewing ops in the forward (and so their backward will get fused automatically, even if it's going to be differentiated by autograd). If you care about this optimization for 2nd order derivatives, then we'd need to add symbolic AD formulas for viewing ops, but since the

[2018-07-02 14:57] SsnL opened #9103 "TestNN.test_BCELoss_no_reduce warns"
[code]

[2018-07-02 15:05] AlexLuya opened #9104 "How to set USE_OPENCV=ON when 'python setup_caffe2.py install'"
When using cmake & make,we can set options like this:
    `-D USE_**=ON`
How to do same thing when using
     ` python setup.py install`

[2018-07-02 15:19] vadimkantorov commented on #8049
As @karol-arndt pointed out, LU-decomp exists as `torch.btrifact` - and this should be the last element for porting the randomized-svd code.

[2018-07-02 15:38] soumith commented on #9097
we'll add 3.7 binaries in our 0.4.1 minor release mid July

[2018-07-02 15:43] goodlux commented on #9099
We are in the process of writing new tutorials, and this topic should definitely be covered clearly. In the meantime, check out this thread:

https://github.com/caffe2/caffe2/issues/1755

Hopefully this helps in the meantime.

[2018-07-02 15:52] PetrochukM opened #9105 "DistributedDataParallel Batch Size"
## Issue description

The documentation for ``DistributedDataParallel`` mentions:

It's not clear if this is a suggestion or requirement. Does the module break if a batch size of one is run?

Concerning my use case, sometimes during training, an evaluating step is run with a batch size of one to generate a result for tensorboard. It's not clear to me if it's okay for me to do that with  ``Distribu

[2018-07-02 16:04] alok commented on #9097
:(. What do you recommend in the meanwhile if you've already switched to
3.7?
On Mon, Jul 2, 2018 at 8:39 AM Soumith Chintala <notifications@github.com>
wrote:

--
- Alok

[2018-07-02 16:14] shengpu1126 commented on #8921
The documentation seems to suggest that users should never invoke the `__init__` method of `PackedSequence`. I agree that the `elementwise_apply` functions are a way to make this work, but it would be nice if we make the interface of `PackedSequence` and `Tensor` consistent.

https://github.com/pytorch/pytorch/blob/0656ef483d1cd9041ad465652d3c151a60a96800/torch/nn/utils/rnn.py#L18

[2018-07-02 16:33] apaszke commented on #9097
You can always try to build from source. It should be easy. There are instructions in the README

[2018-07-02 16:39] Milpoder commented on #8588
@burnzzz did you solve that issue? I have exactly the same problem with the same versions

[2018-07-02 17:02] PetrochukM commented on #7092
Okay... running through this process, here are some things to watch out for:

- https://github.com/pytorch/pytorch/pull/7520
- https://github.com/pytorch/pytorch/issues/9105

[2018-07-02 17:33] SsnL commented on #9025
Can you use `permute` after embedding? I don't think there is enough use case to add this as an argument.

[2018-07-02 17:35] zou3519 commented on #9084
What tests do you think are needed?

[2018-07-02 17:37] yf225 commented on #9092
@orionr @pjh5 Should we find a way to trim down the number of symbols exported? Also this only affects CUDA 8 (VS 2015) because for CUDA 9 we use VS2017 to compile and it doesn't have this problem.

[2018-07-02 17:40] SsnL commented on #9081
Thanks for submitting the issue. We track this request at https://github.com/pytorch/pytorch/issues/6850 . There are some discussions there too.

[2018-07-02 17:40] #9081 closed

[2018-07-02 17:50] SsnL commented on #8987
Did you update the submodules? Also, could you use `python setup.py install` instead of running the bash script directly?

[2018-07-02 17:58] zou3519 commented on #9024
You are building caffe2 -- is this intentional?

To build pytorch you should use `python setup.py install`

[2018-07-02 18:06] zou3519 commented on #8935
Closing because of @li-roy's comment

[2018-07-02 18:06] #8935 closed

[2018-07-02 18:06] SsnL commented on #7943
Yeah your loader process was SIGKILL-ed somehow.  Can you try running with `num_workers=0` and see if it gives you better error message?

[2018-07-02 18:09] yf225 commented on #8974
@joseandrespena We actually need Command Line Tools from Xcode 8.2 (macOS 10.12) to build PyTorch with CUDA 9.2 on macOS (because otherwise Eigen will give compilation error). The correct steps should be:

1. Install Command Line Tools from Xcode 8.2 (macOS 10.12) from https://download.developer.apple.com/Developer_Tools/Command_Line_Tools_macOS_10.12_for_Xcode_8.2/Command_Line_Tools_macOS_10.12_f

[2018-07-02 18:11] #8974 closed

[2018-07-02 18:14] SsnL commented on #7082
@he010103 0.4 definitely has fft.

[2018-07-02 18:15] zou3519 commented on #7082
Can any of you reproduce this in a docker image? That would really help with debugging.

[2018-07-02 18:17] zou3519 commented on #8930
Could you post a minimal script that reproduces the problem?

[2018-07-02 18:21] zou3519 commented on #8926
Could you try relinking /usr/local/cuda to /usr/local/cuda-9.1/ (instead of cuda9.0 as it appears)?

[2018-07-02 18:38] t-vi commented on #9084
My top two were that it runs (I did have an error in the reshaping of the bias that I only found in my own comparison with the existing code but that did not seem to trigger a test failure) and that grads work as expected.

[2018-07-02 18:48] mitar commented on #7082
I use something like this to install Matlab into a Docker container:

[code]

This is an older version, but new has also the same issues as mentioned in this thread.

So then just install pytorch and then import matlab first before torch and it will fail. Importing matlab is a bit tricky, I am seeing now in the code, I will see if I can extract it later. But it is generally importing the `/opt/mcr

[2018-07-02 18:53] SsnL commented on #7082
If matlab has a libstdc++ that is too old, can we do anything? @soumith

[2018-07-02 18:55] boyingl commented on #9011
got the exact same error

[2018-07-02 18:55] orionr commented on #9092
Adding @Yangqing and @mingzhe09088 to this one, since it will likely get worse when we remove `BUILD_ATEN` and `BUILD_CAFFE2` and build everything.

@yf225 , any thoughts on how close are we to the 65535 limit? We actually make some effort to match visibility across platforms (see https://github.com/pytorch/pytorch/blob/master/caffe2/core/common.h) but it's possible that we need to trim things dow

[2018-07-02 18:57] ezyang opened #9109 "All methods on SymbolicVariable should be this-const"
@soumith and I spent fifteen minutes debugging a weird const-ness error in the symbolic differentiator. The root cause is that methods on SymbolicVariable are not const, even though SymbolicVariable is a "pointer" type. `const SymbolicVariable` simply means that the `Value*` pointer stored in the struct cannot be changed; ALL of our methods respect this. Correspondingly, we should append `const` t

[2018-07-02 18:58] mitar commented on #7082
From my testing I am not sure if it is the the question of old libstdc++, even if I force loading of system-wide libstdc++, error still happens.

My feeling is that it is something about threading. Does PyTorch uses threads?

[2018-07-02 19:18] fmassa commented on #9084
Wouldn't having a native implementation slow down significantly networks that have several batch norm layers?

[2018-07-02 19:42] t-vi commented on #9084
I'll have to benchmark it (maybe using resnet or so), but if you think it's an inherently bad idea, I'll just drop the idea.

[2018-07-02 19:43] jerryzh168 commented on #9026
@ibrahimsoliman can you print the values in the enforce?

[2018-07-02 19:58] SsnL opened #9110 "[sparse] regressions after moving into ATen"
1. create cuda sparse tensor with cpu indices tensor
	master:
[code]
	0.4:
[code]

2. add cuda sparse tensor to cpu dense tensor
	master:
[code]
	0.4:
[code]

3. dense + sparse with wrong number of dimdensions
    master:
[code]
    0.4:
[code]

cc @ezyang

[2018-07-02 20:05] #9084 closed

[2018-07-02 20:07] yf225 commented on #9092
@peterjc123 , re @orionr 's comment, is there a way to know how close we are to the 65535 limit? Perhaps we can count the number of exported symbols in a CUDA 9 build?

[2018-07-02 20:37] ashah03 commented on #9058
@vishwakftw I did use python setup.py install.

[2018-07-02 20:38] fmassa commented on #9084
I think that it can potentially slow down quite a lot, specially given that we have cudnn and optimized c/cuda code for it

[2018-07-02 21:48] saransha commented on #8424
if you dont mind me asking, when is the next minor release?

[2018-07-02 22:32] cpuhrsch commented on #7903
I'm closing this issue for now as the original topic is resolved and we want to be able to track these issues efficiently. Please let me know if this isn't the case.

The fallout issues from this are:
1. Conflict between TBB and OpenMP
2. Separate regression as mentioned by @jhmenke

@mingfeima - I'll reproduce this locally and create a separate issue so we can close this out.
@juliusshufan - Are

[2018-07-02 22:32] #7903 closed

[2018-07-02 22:55] #6245 closed

[2018-07-02 23:21] vadimkantorov commented on #3428
Searching for [pytorch lu factorization] returns this in top 5:
[code]

And another problem is that neither [pytorch lu decomposition] nor [pytorch lu factorization] returns a link to documentation of `torch.btrifact`. Maybe some bad SEO-friendliness of docs?

[2018-07-02 23:32] lucashu1 opened #9120 "Conda Install: PackageNotFoundError"
Hi, I'm trying to install Pytorch on MacOS (High Sierra) with Conda 4.3.15, Python 3.5.

I ran:
[code]

However, I keep getting a blank `PackageNotFoundErrror`:
[code]

Has anyone seen this issue before? I'm pretty sure I'm following the instructions correctly, so I'm wondering where things are going wrong.

If I run `conda create -n pytorch anaconda` to include all Anaconda packages, and then run

[2018-07-02 23:36] xkszltl opened #9122 "[Caffe2 Bug] Error about test_is_hashable with Visual Studio 2017"
## Issue description

Windows related bug.
Looks like it fails the compilation when doing hash(NotHashable) rather than fall back to false_type

[code]

[code]

Code related:
https://github.com/pytorch/pytorch/blob/a34211bd790dd900311b3993104cc563bb11ef8e/caffe2/utils/TypeTraits.h#L23
https://github.com/pytorch/pytorch/blob/50392cc55444672a4b63b335455040a6ba53ae32/caffe2/utils/TypeTraits_test.cpp#

[2018-07-02 23:52] xkszltl commented on #9122
I wonder if it's related to SFINAE in Visual Studio 2017.6.
Never tried 2017.7 since it's not supported by nvcc.

[2018-07-03 00:18] mruberry opened #9123 "Printing or asserting in device-side code can reduce or prevent concurrency"
The problem:

- PyTorch has asserts in its kernels. These asserts, even if not triggered, can prevent these kernels from running concurrently with other kernels.

The severity of this issue depends on the CUDA driver, but all recent drivers have some performance degradation when attempting to use kernels with asserts (or prints) in them concurrently.

In addition to the performance hit, the unexpe

[2018-07-03 01:15] ibrahimsoliman commented on #9026
i have preformed some debugging and the size_ = 0  while the values.size()=my image number * 3 "channels" * width *height = 1*3*224*224 = 150528 in my example,
so the enforce values (150528 , 0);
the size_ come from Resize function, i think the error happen in setDim function on Resize function..
Thanks for your reply @jerryzh168

[2018-07-03 02:16] peterjc123 commented on #9092
@yf225 Yes, we could use `dumpbin /exports caffe2.dll` to do that.

[2018-07-03 02:38] peterjc123 commented on #9092
The number of the exported symbols in `caffe2.dll` is 16938, while it increased to 51473 for `caffe2_gpu.dll` with CUDA 9.

[2018-07-03 02:43] #9103 closed

[2018-07-03 02:46] wjx2 opened #9124 "pytorch install error"
my linux python version 2.7.6, 64bit. cuda8.0.pip version 10.0.1.
and I use pip install torch torchvision, it gets errors below:
Looking in indexes: http://pypi.v2ex.com/simple/
Collecting torch
  The repository located at pypi.v2ex.com is not a trusted or secure host and is being ignored. If this repository is available via HTTPS we recommend you use HTTPS instead, otherwise you may silence this

[2018-07-03 03:30] soumith commented on #9124
it looks like you are using a private PyPI server `pypi.v2ex.com`. On this server, the `torch` package does not exist. Maybe you are on a private firewall that restricts which pypi packages you can install?

[2018-07-03 03:32] sunshineatnoon commented on #4570
Hi, Thanks for adding this feature. Is there any documentation for this function? Thanks!

[2018-07-03 04:00] chintak commented on #4570
@sunshineatnoon, how about:
[code]

[2018-07-03 04:54] WenjinTao commented on #9120
Got the same error on win10.
Running `conda install -c anaconda mkl` before installing pytorch solved my problem.

[2018-07-03 05:11] lucashu1 commented on #9120
@WenjinTao after I run `conda install -c anaconda mkl` and then try running `conda install pytorch -c pytorch` again, I get:
[code]
So unfortunately it doesn't seem like that fixes things for me.

[2018-07-03 06:06] jamesarambam commented on #8987
me too, during installation on CentOS release 6.7

[2018-07-03 06:32] Mabinogiysk opened #9127 "Always get error "ConnectionResetError: [Errno 104] Connection reset by peer""
## Issue description
I found someone had reported this error and could not reproduce it. However I always get this error during my training. When I get this error, the code is still running, so I  continue  to get this problem. It seems that it has no effect on training.

## Code example
[code]
ERROR message:
[code]

## System Info
- PyTorch or Caffe2: Pytorch
- How you installed PyTorch (conda, p

[2018-07-03 06:48] t-vi commented on #9084
No, I didn't want to throw out useful optimization, sorry if it sounded like that. I had understood that there was a general move from TH(CU)NN to ATen/native.
One thing I noticed is that the accumulation kernel in ATen/native/cpu doesn't differentiate between "data touching accumulation" and "further accumulation of intermediates", but that would be useful for an optimized variance. (I do believe

[2018-07-03 06:52] fmassa commented on #9084
We are indeed moving more and more of our layers to ATen, and having batch norm entirely in ATen is definitely something that will happen at some point in time.
But there are still a few things missing in ATen that would make converting BN to ATen easy. The first thing that comes to my mind is a DeviceTensor, that allows us to index nd tensors in cuda kernels, and is used in BN on the GPU.

[2018-07-03 06:54] Lmy0217 commented on #7943
@SsnL This is same with #8976.

[2018-07-03 06:54] #7943 closed

[2018-07-03 08:21] t-vi commented on #8366
So this link to @ClementPinard's proof of concept works better for me:
https://github.com/ClementPinard/extension-cpp/tree/deviceTensorExperiments

Is there a rough vision of how this ATen DeviceTensors should look like yet?

[2018-07-03 09:05] ClementPinard commented on #8366
Thanks for the correction, update my comment !

[2018-07-03 09:44] AlexLuya commented on #9024
@zou3519
`python setup.py install`
won't install caffe2 python related stuff in my ubuntu,so I tried to build caffe2

[2018-07-03 09:45] laobadao opened #9128 "onnx-caffe2 resnetv1_50 SpatialBN error"
E0703 17:37:20.831506 67212 operator_schema.cc:64]
Input index 3 (resnet_v1_50/conv1/BatchNorm/moving_mean:0) and output idx 1 (resnet_v1_50/conv1/BatchNorm/FusedBatchNorm:3) are not in-place but should be as required by op SpatialBN

WARNING:caffe2.python.workspace:Original python traceback for operator `4` in network `tf2onnx_predict` in exception above (most recent call last):
	run_onnx FAIL [e

[2018-07-03 09:54] fmassa commented on #8847
Closing following @t-vi comment

[2018-07-03 09:54] #8847 closed

[2018-07-03 09:58] pared commented on #3904
Hi, @soumith I was wondering if this issue is still a thing? I prepared simple POC of solving TSP problem
here:
https://github.com/pared/torch-tsp
I am new to open source, so I would probably need some guidance

[2018-07-03 10:12] cympfh opened #9129 "[Bug] Segmentation fault when importing fastText (with v0.4.0)"
Related #8358 ?

I got segfault in importing torch (0.4.0) after importing `fastText`.
I found it is caused by `from torch._C import *` (https://github.com/pytorch/pytorch/blob/master/torch/__init__.py#L80).

[code]

## gdb

[code]

[2018-07-03 10:24] vadimkantorov opened #9130 "[docs] Grid lines for activation function plots"
Without them it's hard to understand the right asymptote of sigmoid, and the linear regime bounds (more of a pedagogical thing for new users)

https://pytorch.org/docs/stable/nn.html?highlight=multilabel_soft_margin_loss#torch.nn.Sigmoid

Even very light lightgray dotted grid lines would be nice

[2018-07-03 10:37] AlexLuya opened #9131 "How to set USE_OPENVB=ON and BUILD_CAFF2=ON when build from source"
my configuration:
[code]

`python setup.py install`

gives:

[code]
How to solve these problems?

[2018-07-03 11:28] apaszke commented on #9123
Well the asserts usually guard out-of-bounds accesses, and I don't know how we could solve it otherwise. I don't think silently ignoring them is a good idea, because this can lead to values from uninitialized memory creeping into someone's computation, and blowing up things like BatchNorm stats in the middle of the training. We discussed the performance hit, and concluded that it's not big enough

[2018-07-03 11:56] 0phoff commented on #8741
Something like this seems to work for me.

I am not sure how the optimizer's ``state`` defaultdict is organized.
It seems as if it is a dictionary with the Tensors of ``self.param_groups`` as key and then the value is a dict containing the actual state tensors as values (with their names as key).
Are there other ways the ``state`` is used? Like global tensors or so?

[code]

---

I really enjoy wo

[2018-07-03 13:07] vadimkantorov opened #9132 "[feature request] torch.isinf, torch.isfinite"
Exists in numpy: https://docs.scipy.org/doc/numpy/reference/generated/numpy.isinf.html (https://docs.scipy.org/doc/numpy/reference/generated/numpy.isfinite.html) and tensorflow https://www.tensorflow.org/api_docs/python/tf/is_inf (https://www.tensorflow.org/api_docs/python/tf/is_finite)

Useful for debugging checks like `assert not (torch.isnan(x).any() or torch.isinf(x).any())`. Much more concise

[2018-07-03 13:30] gabriellap opened #9133 "[Caffe2] Error running net train when running resnet50"
## Issue description
I am getting the following error when training resnet50:

E0703 14:25:24.046447 34382 prefetch_op.h:110] Prefetching error basic_string::_M_construct null not valid
E0703 14:25:24.046572 34336 prefetch_op.h:83] Prefetching failed.
E0703 14:25:24.046938 34336 net_simple.cc:68] Operator failed: input: "train_reader" output: "imonaboat/data_nhwc" output: "imonaboat/label" name: "

[2018-07-03 14:21] ezyang opened #9137 "ObserverTest.TestMultipleNetBase intermittently segfaults"
Log:

[code]

Sample: https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-mkl-ubuntu16.04-test/7333/console

[2018-07-03 14:24] tete1030 opened #9138 "Different behavior between Tensor.sub() and Tensor.sub_() after expanded"
## Issue description

The behavior between `Tensor.sub()` and `Tensor.sub_()` can be different after the Tensor is expanded.

I can see why the inplace version `sub_()` produced such result. Each time `a` is subtracted, it is actually applied on original storage of `a`. So the three-time subtraction is applied on the same memory place.

However, if such behavior is intended, I suggest add note in

[2018-07-03 14:40] fmassa commented on #9138
Related issues:

https://github.com/pytorch/pytorch/issues/906
https://github.com/pytorch/pytorch/issues/8212

I believe this will try to be addressed in the future. Closing this in favour of #8212.

[2018-07-03 14:40] #9138 closed

[2018-07-03 14:58] glample opened #9139 "cannot reload on CPU model saved on GPU"
Here is the error I get when I try to reload on my laptop a model saved on a GPU server:

[code]

[code]

I modified it so that it loads the model on CPU directly:

[code]

But now I get this:

[code]

Note that I'm using pytorch 0.5 on my GPU server and pytorch 0.4 on my Mac (as I was not able to build pytorch from source on my mac).
Any ideas?

Thank you

[2018-07-03 15:39] ezyang commented on #9110
Root cause of 1 and 2 was that the old TH binding code used to do some extra checks, which native functions don't do. Added those tests back manually.

3 is a bit weirder; I'm not sure how the old code managed to report an error. In any case, adding the shape tests at the appropriate places was easy. PR coming.

[2018-07-03 15:42] SsnL commented on #9110
Also, afaict, `sparseElementwiseKernelScalar` in `SparseCUDAApplyUtils.cuh` doesn't work with `dimV > 1`. But it is called in `add_out_dense_sparse_cuda` when input is coalesced. I haven't checked if it gives correct results on `dimV > 1`. (It's definitely broken with noncontig I and V.)

[2018-07-03 15:45] SsnL commented on #9139
When you do `torch.load(.....)`, set `torch.load(...., map_location='cpu')`. If you don't, since you are loading GPU tensors, PyTorch will try to reconstruct GPU tensors, and fail.

[2018-07-03 15:45] SsnL commented on #9139
Just give it `'cpu'`, not a lambda.

[2018-07-03 16:03] vadimkantorov opened #9141 "Make torch.nn.functional.multilabel_soft_margin_loss more stable"
Currently it calls `sigmoid` and then `binary_cross_entropy` (which does `log` internally):
https://github.com/pytorch/pytorch/blob/master/torch/nn/functional.py#L1796-L1797

Is it not possible to compute it as: `torch.mean(-(y * F.logsigmoid(x) + (1 - y) * F.logsigmoid(-x)))` ?

[code]

[2018-07-03 16:55] vadimkantorov commented on #8049
two existing implementations in sklearn that may be useful for API design:
http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.TruncatedSVD.html
http://scikit-learn.org/dev/modules/generated/sklearn.utils.extmath.randomized_svd.html

[2018-07-03 17:01] vadimkantorov commented on #5612
fixed in https://github.com/pytorch/pytorch/pull/8958

[2018-07-03 17:01] #5612 closed

[2018-07-03 17:21] bhushan23 commented on #9132
I agree this is really helpful, Will send an PR.

[2018-07-03 17:48] rfejgin opened #9142 "Loss plugin indexes into a scalar"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description
The loss plugin generates this warning with PyTorch 0.4 :

Here's a link to the offending line:
http

[2018-07-03 17:57] vishwakftw commented on #1582
Isn't this closed via https://github.com/pytorch/pytorch/pull/8578 ?

[2018-07-03 18:02] pjh5 commented on #9120
I can't repro this on conda 4.5.4, so upgrading might fix this.

Can you try specifying the python version when you create the conda environment? For example:
```conda create -n pytorch python=3``` and then trying to install?

Running ```conda create -n pytorch python=3``` will populate the conda environment with the barebones Python packages (including Python and setuptools) needed for a function

[2018-07-03 18:09] pjh5 commented on #9104
AFAIK setuptools just doesn't support this. We can add code to read environment flags and add them to the cmake flags (like this https://github.com/pytorch/pytorch/blob/master/setup.py#L153 ) but we have to do it manually for every flag that we want to support. The easiest thing for you to do is to just add the flag manually to this list https://github.com/pytorch/pytorch/blob/master/setup_caffe2.

[2018-07-03 18:09] #9104 closed

[2018-07-03 18:42] #1582 closed

[2018-07-03 18:48] pjh5 commented on #9028
This warning
WARNING:root:This caffe2 python run does not have GPU support. Will run in CPU only mode.
WARNING:root:Debug message: No module named caffe2_pybind11_state_hip
does not actually indicate a problem. This will happen on a fully functional cpu-only build.

This is probably just a problem with the build system finding your CUDA installation. Where is CUDA installed on your machine?

Do yo

[2018-07-03 18:52] pjh5 commented on #9024
@AlexLuya you can actually use ```FULL_CAFFE2=1 python setup.py develop``` to install both Pytorch and Caffe2 with Caffe2 python bits, or you can patch #8509 and use ```FULL)CAFFE2=1 python setup.py install```

But it will likely still fail in the same way if it can't find the IDEEP files. How did you install MKL on this machine? cc @yinghai who knows more about MKL

[2018-07-03 18:58] pjh5 commented on #9003
So, the arguments that you pass to --cuda and --cudnn are actually only used for naming the package and aren't forwarded to the build system.

If you have both CUDA 9.2 and 9.0 installed on your machine, then make sure that /usr/local/cuda points to the correct version and that all of ```env | grep CUDA ``` are pointing to the right place too. If your default installation is CUDA 9.2 then the buil

[2018-07-03 19:07] pjh5 commented on #8984
Do not add the build directory to your PYTHONPATH. Read https://caffe2.ai/docs/faq.html#why-do-i-get-import-errors-in-python-when-i-try-to-use-caffe2 and the following few questions to understand what should be in your PYTHONPATH.

In your cmake output (ctrl-f for "Summary") it tells you what the CMAKE_INSTALL_PREFIX is. This is the location where it installed Caffe2. If you use the python install

[2018-07-03 19:16] jerryzh168 commented on #9026
that is weird, could you print the input and add additional debugging info in Resize function to see where it doesn't match expectation?

[2018-07-03 19:18] pjh5 commented on #8980
There are several ways to install from source. If you are using anaconda, then you should use https://caffe2.ai/docs/getting-started.html?platform=mac&configuration=compile#anaconda-install-path .

The "-j8" passed to the make command tells make to build in parallel using up to 8 threads. Whenever an error occurs on a thread, 'make' still waits for the other 7 threads to stop. So to actually find

[2018-07-03 20:03] shekhovt opened #9145 "bug with derivatives of expanded tensors"
## Issue description

When I take derivative of an element of an expanded tensor (or if such expression is a part of the graph) the derivative is incorrect.

## Code example

[code]
The expected result is 1

## System Info
PyTorch version: 0.4.0
Is debug build: No
CUDA used to build PyTorch: 8.0.61

OS: Debian GNU/Linux 9.3 (stretch)
GCC version: (Debian 6.3.0-18+deb9u1) 6.3.0 20170516
CMake versi

[2018-07-03 20:09] jfolt opened #9146 "LinearLayer precision problem"
I have a problem with LinearLayer (code snippet attached below). I expected to see the difference between the two output tensors to be exactly 0, but that is not the case. The problem occurs on Ubuntu and Windows, on CPU and GPU, Pytorch 0.4. Seems like a precision issue in the matrix multiplication/addition?
[code]

[2018-07-03 20:12] #9110 closed

[2018-07-03 20:17] lucashu1 commented on #9120
@pjh5

Updating conda to 4.5.4 and then running `conda create -n pytorch python=3` instead of `conda create -n pytorch anaconda` fixed it! I'm able to properly install pytorch now by running `conda install pytorch torchvision -c pytorch`.

Thanks for the help.

[2018-07-03 20:17] #9120 closed

[2018-07-03 21:04] weiyangfb opened #9147 "bug in running flip() on cpu"
[code]
It works fine in CUDA implementation:
[code]

[2018-07-03 21:47] zou3519 commented on #8698
For clarification, is the problem that the documentation lists different argument names than what is actually accepted?
i.e.,

Given argument names: ['tensor1', 'tensor2']

is the docs suggesting `torch.matmul(tensor1=foo, tensor2=bar)`?

[2018-07-03 22:08] vishwakftw commented on #8698
Yes

There are two fixes for this.
1. Modify Declarations.cwrap, derivatives.yaml to match docs
2. Modify docs.

I am inclined towards 1, in interest of backward compatibility.

[2018-07-03 22:53] edubois opened #9150 "[caffe2] Drop connections"
Hi,

Is there a way to implement a drop connection layer in caffe2? I'm not talking of dropout.
https://stats.stackexchange.com/questions/201569/difference-between-dropout-and-dropconnect

Thanks.

[2018-07-04 01:08] hveigz commented on #3718
Hi, is negative sampling / something like tensorflows' sampled_softmax_loss implemented in pytorch yet ? Thanks!

[2018-07-04 01:15] ezyang commented on #9016
Another case: https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-cuda9.0-cudnn7-ubuntu16.04-test/7232/console

CC @hlu1

Next time I see this happen I'm disabling the test.

[2018-07-04 01:19] pjspillai opened #9155 "Error in setup.py [fatal error: THC/THCGeneral.hpp: No such file or directory]"
Trying to build pytorch from source.

I ran `sudo python setup.py install` and got the error displayed below.
Installing in conda environment

[2018-07-04 01:34] vishwakftw commented on #9147
I think I have fixed the error locally. Shall I send in a PR?

[2018-07-04 01:36] ezyang commented on #9137
Another instance: https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-gcc5-ubuntu16.04-test/7235//console

[2018-07-04 01:37] ezyang commented on #9016
Another instance: https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-cuda9.0-cudnn7-aten-ubuntu16.04-test/2809//console

[2018-07-04 01:37] ezyang commented on #8982
Another one https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-gcc4.8-ubuntu14.04-test/7236//console

[2018-07-04 01:39] ezyang commented on #9147
Yes please!

[2018-07-04 01:41] quinnliu4real commented on #8980
@pjh5

Thanks for your help, Paul. Your points do make sense, and I'm going to give a try.

I'm not familiar with the conda-system-mixing thing, but I heard a bit of it, and I believe that is the cause of my error. (Actually I thought conda env was completely independent of everything, including system, HAHA..)

Anyway, your answer does help me a lot. Thanks again.

[2018-07-04 01:42] doudoubilly commented on #8369
I get the the same error when using RNN in training

[2018-07-04 01:57] glample commented on #9139
It worked, thanks!

[2018-07-04 01:57] #9139 closed

[2018-07-04 02:02] Jorghi12 commented on #9155
Can you run "python setup.py clean" and try again?

[2018-07-04 02:11] #9130 closed

[2018-07-04 02:42] MrWanter opened #9158 "setting CUDA_VISIBLE_DEVICES just has no effect"
Hi! I'm adding `os.environ['CUDA_VISIBLE_DEVICES'] = "2"` in my code does not work, the code always select first GPU, however `CUDA_VISIBLE_DEVICES=2 python train.py` works, I'm struggling to find the reason, but still has no clue...

[2018-07-04 04:14] SsnL commented on #9158
You need to do that before import pytorch.

[2018-07-04 04:14] #9158 closed

[2018-07-04 05:51] yinghai commented on #9024
I'll look into that.

[2018-07-04 05:57] elbaro opened #9160 "[feature request] nn.Identity"
nn.Identity (similar to tf.identity or tf.no_op) would be useful as a placeholder.

## Use cases
it is common to parameterize building blocks (e.g. ResBlock depth, Bottleneck width, etc).
nn.Identity can fill in gaps to provide a consistent architecture.

## Code example
To simulate padding='SAME' in TF, nn.ZeroPad2d((0,1,0,1)) is conditionally inserted.

[code]
By inserting `ZeroPad2d((0, 0, 0, 0

[2018-07-04 06:29] tete1030 commented on #598
Could this problem be properly noted in the doc before some solution?  Since it has existed so long and misleads many people including me.

[2018-07-04 06:54] ruotianluo commented on #9160
You can use nn.Sequential() to simulate identity

[2018-07-04 07:54] acgtyrant opened #9163 "CUDA_LAUNCH_BLOCKING=1 stucks sometime"
## Issue description

This is the context of the `segment.py`:

    #!/usr/bin/env python

    import torch
    from torch import nn
    import torch.utils.data

    class DRN(nn.Module):
        def __init__(self):
            super(DRN, self).__init__()
            self.a = nn.Conv2d(3, 16, kernel_size=7)

        def forward(self, x):
            print('before DRN forward')
            return x

[2018-07-04 10:22] jiapei100 opened #9165 "Fail to build pytorch/caffe2 ?"
I actually came across 3 issues so far:

- [Eigen with CUDA9: fatal error：math_functions.hpp：No such file or directory](https://github.com/caffe2/caffe2/issues/2485) The solution can be found at: [https://bitbucket.org/eigen/eigen/commits/034b6c3e101792a3cc3ccabd9bfaddcabe85bb58?at=default](https://bitbucket.org/eigen/eigen/commits/034b6c3e101792a3cc3ccabd9bfaddcabe85bb58?at=default).

- [error: t

[2018-07-04 11:04] skyuniversee opened #9166 "CAFFE2 MAKE ERROR:nvcc fatal"
nvcc fatal   : A single input file is required for a non-link phase when an outputfile is specified
CMake Error at gloo_cuda_generated_nccl.cu.o.Release.cmake:203 (message):
  Error generating
  /home/lty/caffe2/build/third_party/gloo/gloo/CMakeFiles/gloo_cuda.dir/nccl/./gloo_cuda_generated_nccl.cu.o

nvcc fatal   : A single input file is required for a non-link phase when an outputfile is specifi

[2018-07-04 11:34] vishwakftw commented on #9155
I think this has been fixed on `master`.

[2018-07-04 11:49] vishwakftw commented on #8698
I think it would be better to have a note in the documentation page telling that these are positional arguments, and the names to the variables in the docs are given for understandability. What do you think? @zou3519

[2018-07-04 12:33] Stonesjtu opened #9167 "Redundant code in distributed"
It seems like the `descriptors` is not used at all. Could someone tell me why don't directly `push_back` to `raw_descriptors`?

https://github.com/pytorch/pytorch/blob/4b2b6907929093634c1e452aa2a5a85e4dd9a793/torch/csrc/distributed/Module.cpp#L786

[2018-07-04 13:09] apaszke commented on #9163
Yes this is expexted because of NCCL. You need to remove DataParallel or limit the process to a single GPU for debugging

[2018-07-04 13:14] soumith commented on #9155
will be fixed by https://github.com/pytorch/pytorch/pull/9157

[2018-07-04 13:16] vishwakftw commented on #9155
I believe the same changes were made in https://github.com/pytorch/pytorch/pull/9159.

[2018-07-04 15:32] mrocklin opened #9168 "Serialization of data within a tensor is slow"
## Issue description

When naively serializing a pytorch tensor (or model) with pickle the process takes longer than it probably should when comparing it to Numpy serialization of the same data.  It appears that at some point we're converting things into a list rather than returning the buffers directly.

## Code example

[code]
The majority of this time is spent in converting the `t.storage()` ob

[2018-07-04 15:47] soumith commented on #9168
the standard pickler will be slow. if you use `torch.save` to a file or file-like object, it'll be much faster, as it goes through our custom pickling logic.

Have a look here: https://github.com/pytorch/pytorch/blob/master/torch/serialization.py#L212-L286

[2018-07-04 15:52] mrocklin commented on #9168
Right, I'm suggesting making Torch's implementation of pickle fast.

[2018-07-04 15:53] mrocklin commented on #9168
Separately, what is the most efficient way to convert a torch model/tensor into a set of bytes?  Pass an `io.BytesIO` to the save function?

[2018-07-04 15:56] soumith commented on #9168
@mrocklin the fastest way is to do `t.numpy()` and use whatever you'd do to numpy arrays. We dont natively provide conversion to the PyBuffer interface.

[2018-07-04 15:57] soumith commented on #9168
`t.numpy()` is a free operation, no memcpy, not much going on except to setup some C structs.

[2018-07-04 15:57] mrocklin commented on #9168
I understand.  Would the PyTorch community accept a PR that uses numpy within the `__reduce__` methods in order to improve serialization performance of tensor and model objects with naive use of pickle?

[2018-07-04 16:00] mrocklin commented on #9168
For others, looks like using io.BytesIO gets up to about 1GB/s.

[code]

And then we can reconstitute

[code]

[2018-07-04 16:02] mrocklin commented on #9168
For context, I maintain a parallel computing library, Dask, and users are naively passing around PyTorch objects and getting poor performance.  I can special-case PyTorch models to use the trick above, but it might be a good idea to make PyTorch's general serialization solution decently fast.  I think that this is probably pretty easy to do.

https://github.com/dask/dask-ml/issues/281#issuecomment

[2018-07-04 16:49] LanyK commented on #4518
@AnirbanKisku please look at the solutions presented in this thread. Specifically, look at the conversation bits starting at https://github.com/pytorch/pytorch/issues/4518#issuecomment-384195186.
Im positive you might be experiencing the same issue, but you did not provide much information.

[2018-07-04 17:19] SsnL commented on #9145
Fixed on master (probably via #8721 )

[2018-07-04 17:19] #9145 closed

[2018-07-04 18:45] soumith commented on #9168
I'll discuss with the team and get back to you in a couple of days. We've avoided a dependence on numpy for functionality so far, but it's been a while since we discussed this.

for the moment, this seems like a good idea.

[2018-07-04 18:49] soumith commented on #8369
@doudoubilly do you by any change have a way we can reproduce this?

[2018-07-04 18:54] mrocklin commented on #9168
Alternatively is there a nice way to get a memoryview out of a storage
object?

On Wed, Jul 4, 2018, 2:45 PM Soumith Chintala <notifications@github.com>
wrote:

[2018-07-04 18:55] mrocklin commented on #9168
This would be the pure python native solution

On Wed, Jul 4, 2018, 2:54 PM Matthew Rocklin <mrocklin@gmail.com> wrote:

[2018-07-04 19:00] soumith commented on #9168
MemoryView requires us to implement the Py_buffer interface, which we haven't. Implementing Py_buffer interface across Py2 and Py3 is really complicated (notes from last time we tried doing it).

[2018-07-04 19:07] mrocklin commented on #9168
Would you welcome a PR implementing the buffer protocol?

On Wed, Jul 4, 2018, 3:00 PM Soumith Chintala <notifications@github.com>
wrote:

[2018-07-04 20:38] erxnmedia opened #9170 "Big drop in performance for larger batch size for otherwise same training script"
## Issue description

I have a script with batch size 4 which gets 58% accuracy.  I change the batch size to 4096 and I get 19% accuracy.  I am not shuffling the inputs.  The accuracy results should be the same.  Is there a bug?  See also https://stackoverflow.com/questions/51180423/is-there-a-bug-with-pytorch-training-for-large-batch-sizes-or-with-this-script

## Code example

[code]
## System In

[2018-07-04 20:55] rsnk96 opened #9171 "Mismatch in behaviour of WeightedRandomSampler and other samplers"
## Issue description

All the other samplers for `torch.utils.data.DataLoader()` are designed to be used such that you can iterate an epoch (one epoch being the number of listed indices/data-points) over them by simply having them in a `for` loop. However, looping through a `DataLoader` with the sampler as `WeightedRandomSampler` simply occurs `num_samples` times. The `num_samples` argument is mis

[2018-07-04 21:20] SsnL commented on #9170
You should tune different hyparams (e.g., lr) to accommodate different batch size. Some say that larger batch size requires larger lr too.

[2018-07-04 21:20] #9170 closed

[2018-07-04 21:21] SsnL commented on #9171
Just want to comment on this. Do note that if you are using `num_workers > 0`, this weight update will be delayed.

[2018-07-04 21:34] erxnmedia commented on #9170
Thanks, I just realized that with large batch size I was doing far fewer updates.   My bad!

[2018-07-04 21:36] manuelsh opened #9172 "Kernel breaks when doing backward pass with .permute with the -1 option"
## Issue description

Permuting the axis of a tensor using the `-1` option breaks the kernel (tested in Jupyter) when doing the backward pass. The kernel just restart, there is no error provided.

## Code example

This code:
[code]
automatically breaks the Kernel of a Jupyter Notebook (run in JupyterLab).

Note that the following code:

[code]
worked well.

## System Info
PyTorch version: 0.3.1
Is

[2018-07-04 22:14] SsnL commented on #9172
What about in command line? The code works on master build with command line python.

[2018-07-04 22:15] SsnL commented on #9155
should be fixed!

[2018-07-04 22:15] #9155 closed

[2018-07-04 22:48] sunshineatnoon commented on #4570
@chintak Thanks!

[2018-07-05 00:44] mjscosta commented on #8585
Hi, similar problem with dlib.

https://github.com/davisking/dlib/issues/1383

[code]
Conda environment
[code]

[code]

[2018-07-05 01:03] pulse9dev opened #9174 "[Caffe2] build_ios.sh => 'is only available on iOS 11 or newer'"
## Issue description

I can't install build_ios.sh for caffe2 ios.

`aligned allocation function of tyle    ...   is only available on iOS 11 or newer`

My ipad version is higher than iOS 11.
Macbook Pro version is macOS High Sierra 10.13.5
Xcode version is 9.4.1
Python3

How can I fix the problem?!?
Thank you

iOS installing Error with below log
`[ 35%] Building CXX object caffe2/CMakeFiles/caffe

[2018-07-05 01:17] mjscosta commented on #8585
downgrading to v 0.3.1 executing the same test has no issues:
`python -c 'import dlib; import torch'`

[2018-07-05 01:55] acgtyrant commented on #9163
@apaszke Excuse me, how do you know this? I googled this problem many time, no one mention that.

[2018-07-05 03:51] tttor commented on #1359
+1

[2018-07-05 04:30] linzhiqiu opened #9176 "torch.save() and nn.DataParallel()"
As pointed out in this [post](https://discuss.pytorch.org/t/solved-keyerror-unexpected-key-module-encoder-embedding-weight-in-state-dict/1686), when model is trained using DataParallel(), the saved model state_dict will have prefix "module." before the names of all layers.

Is there a reason for such a prefix? Why couldn't this prefix be removed?

[2018-07-05 05:14] asprasan commented on #8529
Why don't we put each function in a separate html page just like numpy/scipy (or even tensorflow) does instead of listing everything in a single page? Instead of spending time on optimizing the equations this could be a much better alternative. I guess, most people visit the docs page only to check out one or two functions.

[2018-07-05 06:09] SongFGH opened #9178 "subfunction can not use new parameters cover old parameters！！！"
## Issue description
When we use a subfunction in a model, however this subfunction is not included in a model, if we repeatedly delivery parameters into this subfunction, this subfunction can not use new parameters cover old parameters. Maybe this is a bug

## Code example
[code]

## System Info
Windows,
Anaconda 3.6
Pytorch 0.4.0
cuda 0.9

##
when we delivery parameters into obtain_idx_of_tree((

[2018-07-05 06:39] SsnL commented on #9178
What do you mean by "old parameters" and "new parameters"? From what I can see here, `obtain_idx_of_tree` takes in `tree0`, which is an element of the input arg `alltrees`, which doesn't seem to be mutated.

[2018-07-05 07:19] SsnL commented on #9176
The module is added as a submodule of the `DataParallel` module.

[2018-07-05 07:40] manuelsh commented on #9172
Not happening in 0.4.0.

Happens only in 0.3.1.

Closing the issue. Thanks.

[2018-07-05 07:40] #9172 closed

[2018-07-05 08:26] sytelus opened #9179 "Is unsqueeze supported for ONNX (looks like yes, but doc doesn't say it)"
Looks like PyTorch ONNX support [does include](https://github.com/pytorch/pytorch/blob/master/torch/onnx/symbolic.py#L738) `unsqueeze` operator. However [doc here](https://pytorch.org/docs/stable/onnx.html#supported-operators) doesn't mention it. I'm wondering if doc just need to be updated or if there is something else missing to support `unsqueeze` operator.

[2018-07-05 09:16] Rahul-Venugopal opened #9180 "token ""CUDACC_VER is no longer supported. Use CUDACC_VER_MAJOR, CUDACC_VER_MINOR, and CUDACC_VER_BUILD instead."" is not valid in preprocessor expressions"
## I tried to install caffe2 by following this link  "https://caffe2.ai/docs/getting-started.html?platform=ubuntu&configuration=compile "

Every step was sucesfully compiled , but unfortunately while compiling the last command

****sudo make install**

I am getting the following ### output/error :

Scanning dependencies of target python_copy_files
[ 72%] Built target python_copy_files
[ 72%] Build

[2018-07-05 09:24] rsnk96 commented on #9171
@SsnL Interesting, didn't know that, perhaps it should be included in the documentation.

I'm trying to change the `WeightedRandomSampler` definition so that it can be looped over too. I'm not able to figure out how the `for` command breaks after `num_samples` iterations though. Can you point me in the right direction?

[2018-07-05 10:16] SongFGH commented on #9178
when idx = 0, according to idx_tree0, idx_idy0, y0 = obtain_idx_of_tree(tree0), we will obtain idx_tree = [0, 1, 2].
When idx = 1, if we jump into obtain_idx_of_tree(tree0), idx_tree should be  [], however we find idx_tree = [0, 1, 2]!!!
So, now you undersatnd what I mean

[2018-07-05 10:24] Rahul-Venugopal opened #9181 "token ""CUDACC_VER is no longer supported. Use CUDACC_VER_MAJOR, CUDACC_VER_MINOR, and CUDACC_VER_BUILD instead."" is not valid in preprocessor expressions"
**### Installation guide followed  -**
https://caffe2.ai/docs/getting-started.html?platform=ubuntu&configuration=compile

### **Error Output**

Scanning dependencies of target python_copy_files
[ 72%] Built target python_copy_files
[ 72%] Building NVCC (Device) object caffe2/CMakeFiles/caffe2_gpu.dir/sgd/caffe2_gpu_generated_adagrad_op_gpu.cu.o
[ 72%] Building NVCC (Device) object caffe2/CMakeFile

[2018-07-05 13:11] mrocklin commented on #9168
Short term, here is a possible workaround that reuses `torch.save` within `_StorageBase.__reduce__`: https://github.com/pytorch/pytorch/pull/9184

[2018-07-05 13:16] mrocklin opened #9185 "torch.Tensor.__repr__ is slow"
## Issue description

Calling `repr(my_tensor)` is probably slower than it should be

## Code example

[code]

[2018-07-05 13:22] fmassa commented on #9185
This has been fixed in master. Here are my timings:
[code]

[2018-07-05 13:22] #9185 closed

[2018-07-05 13:28] fmassa commented on #9185
No worries, thanks for opening the issue!

[2018-07-05 14:32] SsnL commented on #9178
well

1. `obtain_idx_of_tree` is a pure python function, so it's not pytorch's problem
2. you gave the default values as empty list, e.g., `, idx_tree = []`. by python semantics, this will construct **a single list object and use that as the default value whenever it is needed**, which means that if you mutate that list, the default value will not be an empty list any more.

[2018-07-05 14:32] #9178 closed

[2018-07-05 15:09] vadimkantorov opened #9186 "[torch] Make dtype second positional argument of torch factory methods"
NumPy lets the user pass dtype without kwarg, as the second positional argument: `np.zeros((3, 4), np.float32)`

In PyTorch `torch.zeros((3,4), torch.float32)` results in: `TypeError: zeros(): argument 'out' (position 2) must be Tensor, not torch.dtype`

I'd suggest the `out` argument is more exotic than `dtype`, and is a better candidate for later positional args, or as keyword-only.

[2018-07-05 15:39] SsnL commented on #9186
I think this is because that you can write `torch.zeros(3, 4, 5)` without the tuple (probably for backward compatibility reasons).

[2018-07-05 15:42] vadimkantorov commented on #9186
If pytorch does some custom argument parsing magic, it could disambiguate a `dtype`, right?

Also this is relevant mostly for the `torch.zeros(tuple, dtype)` scenario, for NumPy -> PyTorch code porting

[2018-07-05 15:50] XuefeiW commented on #571
Hi, I am using Pytorch 0.4, python 2.7, cuda 8.0 version. I still have this index out of boundary without any error message bug on both GPU and CPU.

Code example:
b = torch.Tensor(3,4,5)
b[1:2,10:100]

[2018-07-05 15:59] fmassa commented on #571
@XuefeiW this is different and follows the behavior of numpy and python lists
[code]

[2018-07-05 16:09] XuefeiW commented on #571
numpy will return an empty array, so it's relatively easy to tell something is wrong. Also in numpy you cannot assign any value to this returned array.

But in PyTorch, because it returns a tensor with one value, if the original intention is fetching one value then it's very difficult to find this error when debugging. Also you can assign tensor to this value and use it later:
b = torch.Tensor(3,4

[2018-07-05 16:13] #6187 closed

[2018-07-05 16:30] fmassa commented on #571
oh, this is fixed in master

[code]

[2018-07-05 16:40] JamieCT commented on #571
I experience the same issue as @XuefeiW , however I also occasionally (and inconsistently) experience an error message @fmassa , I assume neither of these are the intended behavior?
so running:

a = torch.Tensor(2,3)
print(a[1:2,3:4])

returns either
tensor([ 0.])
or
if value != math.ceil(value.item()):
RuntimeError: Overflow when unpacking long

I am using python 3.6.4, IPython 6.2.1, pytorch 0.4

[2018-07-05 16:44] fmassa commented on #571
@JamieCT the `Overflow when unpacking long` was fixed in master in https://github.com/pytorch/pytorch/pull/6876

[2018-07-05 17:05] yinghai commented on #9024
Have you provided the correct `-DINTEL_COMPILER_DIR=/ABC` to where your MKL libraries are located?

[2018-07-05 17:43] mruberry commented on #9123
Power users can already disable asserts in kernels by building PyTorch with the correct flag, so we already have the specialized build we're talking about available to them.

I'll close this for now until a better alternative to asserts is developed.

[2018-07-05 17:43] #9123 closed

[2018-07-05 17:48] himanshudce commented on #958
Reducing Batch size from 64 to 32 worked for me.

[2018-07-05 17:58] pjspillai commented on #9155
Thank You!

[2018-07-05 18:52] vadimkantorov opened #9190 "`torch.where` to support Python scalars and type promotion"
[code]

cc @nairbv @mruberry @rgommers @pmeier @asmeurer @leofang @AnirudhDagar @asi1024 @emcastillo @kmaehashi

[2018-07-05 19:08] t-vi commented on #9190
Python scalars are one thing, but
[code]
Yeah, but we never support mixing float and long tensors and maybe we shouldn't. The two cases work as expected when you fix your dtype:
[code]
Best regards

Thomas

[2018-07-05 19:23] soumith commented on #9163
@acgtyrant we asked some NVIDIA engineers. Apparently NCCL doesn't really like CUDA_LAUNCH_BLOCKING

[2018-07-05 20:04] t-vi commented on #9190
Well, it's the first relevant argument that determines the type. If you pass a long tensor as the first data argument, it expects the second to be one, too.

[2018-07-05 20:15] bhushan23 commented on #9190
I agree with @t-vi, user should specify with dtype.
Regarding scalar, I think we should support it. It is really intuitive to pass scalar here and we should be creating tensor out of it internally

[2018-07-05 21:05] pjspillai commented on #9181
Two issues:
1)Permission denied and 2)NCCL not found

Directly run the below command and print the error log (if any):

`python setup.py build install`

The setup.py script will automatically detect NCCL etc. and compile accordingly. Any changes you want to make as per your system / libraries, you can change in setup.cfg (if needed)

If you have still have the permission denied error,
 try `chmod

[2018-07-05 21:18] Novak3 opened #9193 "[Feature Request] Additional torch.nn.LSTM functionality"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

Ultimately, I would like to create a clean, fully functional, stacked LSTM unit out of existing fun

[2018-07-05 21:37] Novak3 commented on #9193
I suspect, but don't really know for sure, that some of the direct issues that prompted this feature request would be relieved if I simply had the authority to enforce dropout in the last layer.  It seems this could be achieved by adding another argument (say, "DropoutLastLayer") and defaulting it to false to preserve existing code.

I don't really know if that would interact badly with the packed

[2018-07-05 23:10] ailzhang commented on #9105
Hi @PetrochukM , for the first question, it's a suggestion instead of a requirement. In DDP we only run `len(inputs)` modules in parallel. In another word, if you only have batch 1 but device_ids=[0,1,2,3] in DDP, it will not break but only waste resources.
For your use case, if the evaluation step is in model train, it's safe to call DistributedDataParallel.

[2018-07-05 23:22] ailzhang commented on #7092
Hi @PetrochukM , to answer your questions:
- Since you are using single machine with DisitributedDataParallel, yes 1 process per GPU is recommended. An alternative is using 1 process for 8 GPUs along with DataParallel.
- Again for one node DDP, tcp and file initialization are the same. Since with tcp you will always use 127.0.0.1 as master address and this is for sure accessible from all processes

[2018-07-05 23:56] PetrochukM commented on #7092
@ailzhang Thanks for your thorough reply, learned something new :)

Responding to a couple of your points:
- The code base needs to be master/worker because the same script is getting run multiple times; therefore, if an action should only be taken once then it should be assigned to the master worker. Let me know if that does not make sense.
- The performance comparison is between DataParallel and

[2018-07-05 23:58] PetrochukM commented on #9105
Okay! Was worried because, to me, that did not read as a suggestion, sorry!

[2018-07-05 23:58] #9105 closed

[2018-07-06 00:08] ailzhang commented on #7092
Hi @PetrochukM ,
- May I ask what operation need to be run only once? Since each process of DDP is exactly the same as one GPU running on different batches. Running an operation only on master but not all of them basically means you want to apply something on some batches but not the others. Please let me know if you have any context on this.
- If I understand correctly, you are comparing DataPara

[2018-07-06 00:16] zdevito commented on #8502
Discussed with @wanchaol in person. These steps are needed to fix clamp. It is currently special-cased on Python:

1. Change THTensor_(clamp) to check for nan in min or max, and call cminValue or cmaxValue instead.
2. Change THCTensor_(clamp) to do the same
3. Fix derivatives.yaml to check for NaN and call the right gradient variant
4. Remove special handling of clamp in python_torch_functions.h
5

[2018-07-06 01:27] sytelus opened #9200 "PyTorch Windows build errors out because of older Caffe2"
If you try to build PyTorch latest master following instructions, you will ultimately get this error:

[code]

The cause of the error is that the version of [Caffe2](https://github.com/pytorch/pytorch/tree/master/caffe2) included with PyTorch has [issue](https://github.com/caffe2/caffe2/issues/774) compiling with VS2017. Looks like this issue was fixed in Caffe2 so may be updating version in PyTor

[2018-07-06 01:30] SongFGH commented on #9178
Yeah, you’re right.
Thanks for your solution!

发送自 Windows 10 版邮件应用

发件人: Tongzhou Wang
发送时间: 2018年7月5日 22:32
收件人: pytorch/pytorch
抄送: Long Wu; Author
主题: Re: [pytorch/pytorch] subfunction can not use new parameters cover old parameters！！！ (#9178)

well
1. obtain_idx_of_tree is a pure python function, so it's not pytorch's problem
2. you gave the default values as empty list, e.g., , idx_tree = []

[2018-07-06 02:04] jiapei100 opened #9201 "Build Pytorch without thirdparty?"
Is it possible to build Pytorch withou any thirdparty?

Cheers
Pei

[2018-07-06 02:06] #8980 closed

[2018-07-06 03:15] PetrochukM commented on #7092
Hi!

- For example, one operation is setting up an experiment folder, tensorboard, and preprocessing.
- Okay, Thanks! The memory is intended to be pretty low for this experiment!

[2018-07-06 03:21] soumith commented on #7092
one simple way to only execute particular code on 1 particular "master" worker is to have a simple if conditioned on the rank of the process.

if args.rank == 0:
    print("foo")

it's a common style in mpi-style distributed code

[2018-07-06 05:33] SsnL commented on #9094
It is intended. You can also use `torch.set_num_threads` to control the amount of parallelism: https://pytorch.org/docs/master/torch.html?highlight=threads#torch.set_num_threads

[2018-07-06 05:33] #9094 closed

[2018-07-06 05:57] sytelus commented on #9200
I think I figured out the cause of error. I'd CUDA 8.0/cuDNN 6.1 installed which expected VS2015 toolchain. After I uninstalled those and installed CUDA 9.2/cuDNN 7.1, I'm now past above error. I would suggest to add this in docs for WIndows build section because instructions there mentions VS2017 which would only work for CUDA 9.x/cuDNN7.x.

[2018-07-06 06:11] weiyangfb commented on #9058
Maybe try to update submodules `git submodule update --init --recursive` ?

[2018-07-06 06:19] Rikorose commented on #7883
@SsnL any update on this? Thanks

[2018-07-06 06:20] SsnL commented on #7883
Yes, there will be a PR in coming days.

[2018-07-06 08:50] artix41 commented on #1173
I also need that feature (for [this paper](https://arxiv.org/pdf/1706.04008.pdf))

[2018-07-06 09:17] JaosonMa opened #9204 "/usr/bin/ld: cannot find -lpthreads"
--
-- ******** Summary ********
-- General:
--   CMake version         : 3.5.1
--   CMake command         : /usr/bin/cmake
--   Git version           : v0.1.11-9200-g7b25cbb-dirty
--   System                : Linux
--   C++ compiler          : /usr/bin/c++
--   C++ compiler version  : 5.4.0
--   BLAS                  : Eigen
--   CXX flags             :  -fvisibility-inlines-hidden -fvisibility=hi

[2018-07-06 09:21] universewill commented on #8987
I had the same issue. I run python setup.py install and get the same error.

[2018-07-06 10:00] Rahul-Venugopal commented on #9181
@pjspillai  Thank you for replying and spotting the error. Now I was able to compile Caffe2 without any errors. I have two doubts regarding this

1) Is `python setup.py build install `  an alternative to `sudo make install` mentioned in the Caffe2 website ?
(PS : I just ran `sudo python setup.py build install` after `cmake ..`  mentioned in the instructions. is that enough )

2) I am using virtual

[2018-07-06 12:03] apaszke commented on #8502
What about clamp on integral types? There are no NaNs. Are we just always going to use the two-sided kernel?

[2018-07-06 12:03] apaszke commented on #8502
I'd also much rather use `inf` than `nan` to represent "no boundary"

[2018-07-06 12:07] apaszke commented on #9163
NCCL really needs to run multiple kernels on multiple GPUs simultaneously, or otherwise it will deadlock. This is why having 2 processes running DataParallels causes deadlocks (one starts a kernel on GPU0, another one on GPU1, you get a deadlock). Same issue happens here, because the CPU has to wait for GPU0 to return before it can queue the GPU1 kernel, but the GPU0 waits for GPU1.

[2018-07-06 12:17] apaszke commented on #9167
It's a legacy thing, we can remove it.

[2018-07-06 13:39] apaszke commented on #8771
I don't think we've ever considered that. The non-tuple way is less verbose and non-ambiguous, and I think it worked well for us so far.

[2018-07-06 14:06] Stonesjtu commented on #9167
I'm willing to create a PR for this.

Adam Paszke <notifications@github.com> 于2018年7月6日周五 下午8:17写道：

[2018-07-06 14:44] universewill opened #9207 "Where is the include and lib path for caffe2?"
i installed pytorch with caffe2 from source by using 'python setup_caffe2.py install' command.
Can anyone tell that where is the default include and lib path for caffe2?

[2018-07-06 14:44] apaszke commented on #9167
Please go ahead

[2018-07-06 14:53] mikeburon opened #9208 "[Caffe2] compiling error with gcc-6"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description
When compiling caffe2, the following error occurs

[ 72%] Linking CXX shared library ../lib/libcaffe

[2018-07-06 17:51] jamesr66a opened #9210 "[JIT][ONNX] Test proposed ONNX control flow schema with JIT and interpreter"
From ONNX control flow WG:

Implement these schema in script and the interpreter and report findings

[2018-07-06 17:59] floatn opened #9211 "[feature request] Convert "indices" variable in "torch.utils.data.dataset.random_split" to list"
## Issue description
random_split fills indices variable using torch.randperm function, which returns tensor. Through Subset class its values goes to Dataset.__getitem__. If I override getitem, tensor values are ok for indexing list, but with pandas DataFrame it raises TypeError. Maybe it would be better to convert indices to list variable at start.
## Code example
df = pd.DataFrame([1, 2])
tn = t

[2018-07-06 19:11] fmassa commented on #9211
I think we can just add a `.tolist()` after [the code in here](https://github.com/pytorch/pytorch/blob/master/torch/utils/data/dataset.py#L120). Could you send a PR?

[2018-07-06 19:53] vishwakftw commented on #8774
Related issue : https://github.com/pytorch/pytorch/issues/4053

[2018-07-06 20:15] vishwakftw commented on #4313
I believe this can be closed now.

[2018-07-06 20:35] #4313 closed

[2018-07-06 20:45] vishwakftw commented on #5177
This has been fixed.
[code]

[2018-07-06 20:47] vishwakftw commented on #5227
I think this has been fixed on `master`.

[2018-07-06 21:11] krishnakt031990 opened #9218 "[Caffe2] Cannot load caffe2.python. Error: libcaffe2.so: cannot open shared object file: No such file or directory"
## Issue description
I was trying to read my onnx model via caffe and deployed it onto AWS lambda.

The complete deployment seems to be working fine in my local but on AWS lambda we are getting this error.

## Code example
import caffe2.python.onnx.backend as backend

Please try to provide a minimal example to repro the bug.
Error messages and stack traces are also helpful.

Cannot load caffe2.pyt

[2018-07-06 21:24] odellus opened #9219 "problem building with ROCm"
I've asked for help [here](https://discuss.pytorch.org/t/building-pytorch-with-rocm/20793/1) but there haven't been any takers.

## Issue description
I'm trying to build pytorch with ROCm and I ran into the following error.

[code]

- PyTorch or Caffe2:
caffe2_hip apparently
- How you installed PyTorch (conda, pip, source):
trying to install from source.
- Build command you used (if compiling from

[2018-07-06 21:31] #5177 closed

[2018-07-06 21:38] odellus commented on #9219
I can see this is being talked about elsewhere. like an hour ago. Might be a little bit early here lmao.
https://github.com/pytorch/pytorch/pull/8812

But I see here that it's looking like I should be able to do what I'm doing.
https://github.com/pytorch/pytorch/pull/8343

[2018-07-06 21:50] tavianator opened #9221 "RNN weights are not Xavier-initialized"
The weights of the PyTorch RNN implementations (`torch.nn.LSTM`, `torch.nn.GRU`) are initialized with something that [appears](https://github.com/pytorch/pytorch/blob/7fbd57091dc39e86b2996ea132bbdcf7ae4997ce/torch/nn/modules/rnn.py#L115) to be like Xavier initialization, but isn't actually:

    def reset_parameters(self):
        stdv = 1.0 / math.sqrt(self.hidden_size)
        for weight in self

[2018-07-06 21:54] jithunnair-amd commented on #9219
There's a "hipify" step to replace all the CUDA references with HIP/ROCm references in-place: "python tools/amd_build/build_pytorch_amd.py". Also, don't forget to set env var USE_ROCM to 1. After that, you should be able to build using the normal "python setup.py" step.

[2018-07-06 21:58] iotamudelta commented on #9219
to add to what @jithunnair-amd said: there are currently a few more steps (with respect to dependencies) required which we are in the process of sorting out (among other things, you will need a ROCm 1.8.2). so indeed it is not production-ready yet but we are actively working on that.

[2018-07-06 21:59] rdspring1 opened #9222 "[feature request] Implementing Block Sparse Operations"
**TL;DR:**  Implementing block-sparse operations for faster matrix-multiplication. Is this something worth adding to PyTorch?

Goals:
1. Faster matrix-multiplication by taking advantage of block-sparsity
2. Improve running time of large-scale LSTMs - Word Language or Sentiment Analysis Models
3. Based on https://blog.openai.com/block-sparse-gpu-kernels/

New Features:
1. LinearBSMM Layer – A plug

[2018-07-06 22:18] odellus commented on #9219
That helped a lot. Now I'm getting this one:
[code]
except there's like 1300 lines of it.

So it's having trouble overloading the int operators to use Half types instead.

[code]

[2018-07-06 22:33] odellus commented on #9219
thanks for chipping in @iotamudelta . Any place for these steps? I'm anxious to help get this going. I need successful examples of using hipify with ATEN as well as a working pytorch_amd for p much all of my projects aside from one. Much obliged for any links you can send.

[2018-07-06 22:41] odellus commented on #7687
there's a preprocessing, hipify step where you need to run `python tools/amd_build/build_pytorch_amd.py` and make sure you have the python files at https://github.com/ROCm-Developer-Tools/pyHIPIFY copied over to `/opt/rocm/bin` not sure if you need to `chmod +x hipify-python.py` for build_pytorch_amd.py to work, but I did it anyway. Now I'm on to the next issue, problems with operator overloading

[2018-07-07 00:21] SsnL opened #9226 "warn if batchsize < #gpu in data parallel"

[2018-07-07 00:32] sytelus opened #9228 "ONNX expand and expand_as operators"
Currently many graphs containing expand and expand_as operators fail to export to ONNX (for example, SSD model). Looking in to [onnx/symbolic.py](https://github.com/pytorch/pytorch/blob/master/torch/onnx/symbolic.py#L234) we see `expand` implemented as:

[code]

I'm wondering if this is complete implementation . Also, currently `expand_as` not implemented at all. Any idea how do we implement these

[2018-07-07 01:48] ssnl opened #9229 "fused LSTM op doesn't support double backward"
and users can't get around it :/

cc @ezyang @albanD @zou3519 @gqchen @pearu @nikitaved @soulitzer @mruberry @jbschlosser

[2018-07-07 02:01] SsnL commented on #8987
@jamesarambam  @universewill same error as in `undefined reference to onnx::GetEmptyStringAlreadyInited[abi:cxx11]()' /home/xxx/Project/svn-store/PyTorch/pytorch-git/build/lib/libcaffe2.so: undefined reference toonnx::GetEmptyStringAlreadyInitedabi:cxx11'`? can you make sure that your onnx submodule is up to date?

[2018-07-07 02:18] bhushan23 commented on #9222
This will indeed help sparser nets. But we need to scope this feature.
@soumith @SsnL @apaszke what's your view?

[2018-07-07 02:38] bhushan23 commented on #9221
This code was added by @adamlerer

[2018-07-07 02:44] yes7rose opened #9232 "warn if user tries to build from source on windows & python 2.7"
install from source, run the test, i got error:

 File "D:\CashmereRuntime\Applications\python\2.7.11\lib\multiprocessing\process.py", line 258, in _bootstrap
    self.run()
  File "D:\CashmereRuntime\Applications\python\2.7.11\lib\multiprocessing\process.py", line 114, in run
    self._target(*self._args, **self._kwargs)
  File "D:\CashmereRuntime\PythonLibraries\pytorch\0.4.0\lib\torch\utils\dat

[2018-07-07 03:40] atan4583 commented on #4827
This is what I found :

If you have more than one environment in Anaconda,  jupyter notebook, pytorch and torchvision need to be installed in the same environment. Otherwise, jupyter notebook won't find the 2 from the environment where it is launched. The fix is to have 3 of them in the same environment.

[2018-07-07 03:46] jamesarambam commented on #8987
My Error :

+++++++++
running install
running build_deps
+ USE_CUDA=0
+ USE_ROCM=0
+ USE_NNPACK=0
+ USE_MKLDNN=0
+ USE_GLOO_IBVERBS=0
+ USE_DISTRIBUTED_MW=0
+ FULL_CAFFE2=0
+ [[ 7 -gt 0 ]]
+ case "$1" in
+ USE_NNPACK=1
+ shift
+ [[ 6 -gt 0 ]]
+ case "$1" in
+ USE_MKLDNN=1
+ shift
+ [[ 5 -gt 0 ]]
+ case "$1" in
+ break
+ CMAKE_INSTALL='make install'
+ USER_CFLAGS=
+ USER_LDFLAGS=
+ [[ -n '' ]]
+ [[

[2018-07-07 03:56] jamesarambam commented on #8987
I am trying to install pytorch from source because of this (glibc version) issue https://github.com/pytorch/pytorch/issues/6607

[2018-07-07 04:11] iotamudelta commented on #9219
@odellus please note that this setup is not officially supported yet! First you'll need ROCm 1.8.2, which will be released very soon. Subsequently, you'll currently need external components (hcRNG, hcSPARSE, Thrust, cub-hip, exact versions and steps are in docker/caffe2/jenkins/common/install_rocm.sh - this is work in progress). Then you can follow the commands in .jenkins/pytorch/build.sh for bui

[2018-07-07 04:39] odellus commented on #9219
Heck yeah! Thank you. :+1:

[2018-07-07 06:42] SsnL commented on #9232
no, getppid is a thing. it stands for "get parent pid".

what's the error?

[2018-07-07 07:22] BIGBALLON commented on #9099
@aswin1980
what about this one? [caffe2_demo](5118f8de3a1692439f5e6158774f8a181bfdf2ec)

you can check this [code](https://github.com/BIGBALLON/Caffe2_Demo/blob/master/02_cifar10/caffe2_cifar10.py) which train images from scratch (without lmdb, just use memory data)

[code]

[2018-07-07 07:35] jiapei100 opened #9235 ""caffe2" which requires target "nnpack" that is not in the export set."
[code]
**to generate and exit**

will bring me the following **ERROR** message:

[code]

Cheers

[2018-07-07 08:49] huntzhan opened #9236 "[feature request] Implementing a sampler for oversampling/undersampling"
**TL;DR:** I've implemented a customized sampler with the control of the label distribution in each batch.
Is this something worth adding to PyTorch?

The signature of `DistributionSampler`:

[code]

Usage:

[code]

[2018-07-07 10:35] floatn commented on #9211
Done. #9237 .

[2018-07-07 12:12] Kaixhin commented on #9221
While I think we have better weight initialisations for various modules now, unfortunately, adding this will be break backwards compatibility (and isn't a critical bug), so it won't get done.

[2018-07-07 13:05] vishwakftw commented on #9221
Also, adding to @Kaixhin 's point, if you really want Xavier initialization, you could try initializing manually using `nn.init.xavier_uniform` / `nn.init.xavier_normal`.

[2018-07-07 17:51] vishwakftw commented on #7733
I can take this up, if it is free.

[2018-07-07 22:21] vishwakftw commented on #7228
I have an implementation of the hash ready, but even this seems non-deterministic within the same process. The logic allows for as many CUDA devices as possible, and 2 CPU indices:
[code]
Do you have any idea why this might be happening?

[2018-07-08 04:43] ezyang commented on #9219
Yeah, my advice to you is to wait for 1.8.2 to release, it will make the setup process much simpler.

[2018-07-08 08:41] MrWanter opened #9241 "how do I freeze whole module with simple code"
Hi I googled freeze module, I only get something like
https://discuss.pytorch.org/t/freeze-the-learnable-parameters-of-resnet-and-attach-it-to-a-new-network/949
which is for freeze some defined sequentials in the module, however if I have a complex module and would like to freeze whole module, how to do it quickly, I tried
[code]
but this seems not work, is my code right?

[2018-07-08 10:29] CarlosYeverino opened #9242 "CUDA error: no kernel image is available for execution on the device Error from operator: output"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

I compiled whole pythorch with GPU support and console output was successfully compiled. Therefore

[2018-07-08 10:43] peterjc123 commented on #9242
What is PyTorch 3.5? Did you compile the packages by yourself and installed them on some other machines? If you are doing this, then remember to correctly set `TORCH_NVCC_ARCH_LIST`. Otherwise, it will be only built for your own graphic card.

[2018-07-08 11:02] CarlosYeverino commented on #9242
Hi peterjc123,
I just cloned yesterday pythorch to be able to use caffe2. I followed the instructions from https://caffe2.ai/docs/getting-started.html?platform=windows&configuration=compile
but installing CUDA 9.2

So, I install it running build_windows.bat on my own machine.

Do I need to do what you suggested before for this case?

[2018-07-08 12:34] MrWanter commented on #9241
this actually works, sorry

[2018-07-08 13:52] MrWanter opened #9243 "what if all gradients goes to zeros?"
Hi! I'm modifying some code [pytorch-faster-rcnn](https://github.com/jwyang/faster-rcnn.pytorch), I after adding some layers and loss term, in the training, the loss is going down, but after several steps in inital training, all gradients goes to zeros, but loss still not low, I checked when beginning training the gradients are normal, very puzelled about this behavior, can someone give me some ge

[2018-07-08 14:08] peterjc123 commented on #9242
Cc. @pjh5 @orionr

[2018-07-08 14:45] soumith commented on #9243
please use https://discuss.pytorch.org for questions

[2018-07-08 14:45] #9243 closed

[2018-07-08 14:45] soumith commented on #9241
please use https://discuss.pytorch.org for questions

[2018-07-08 14:45] #9241 closed

[2018-07-08 14:48] timsschoen commented on #9208
I can replicate this issue on Ubuntu 17.10 with CUDA 9.1, compiling with gcc-6.

[2018-07-08 16:20] vadimkantorov opened #9244 "[pytorch] [feature request] torch.eye_like"
Would be useful for regularisation code.

Currently, to create an identity matrix on the same device we need to pass both `device` and `dtype` explicitly to `torch.eye`.

Maybe all dimensions except the last two, can be considered as batch dimensions.

[2018-07-08 17:02] odellus commented on #9219
We'll see. I might end up doing just that.

[2018-07-08 17:03] vnelson76 opened #9245 "Someone has remote accessed my phone and I think crashed my pc's."
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

Provide a short description.

## Code example

Please try to provide a minimal example to repro the

[2018-07-08 17:04] #9245 closed

[2018-07-08 17:10] vishwakftw commented on #9244
Something like this should do:
[code]

[2018-07-08 17:14] shiretzet commented on #1204
Hi,

Looks like pytorch does not work with positive "ignore_index" (in my case - version 0.5.0a0+f607794)

when ignore_index=-1 it works

[2018-07-08 17:44] vadimkantorov commented on #9244
I am proposing to add a simple helper like this into core to complete existing `ones_like`, `zeros_like` etc

[2018-07-08 19:56] awav commented on #5198
Hello everyone, I'm not sure that requested feature addressed in other PRs (according to https://discuss.pytorch.org/t/batch-of-diagonal-matrix/13560/2). I need a `tensorflow.matrix_diag` method and new `torch.diagonal` works with multi dimensional cases, but doesn't do job in reverse (I don't mean AD reverse mode).

[2018-07-08 20:09] vadimkantorov opened #9247 "[pytorch] [docs] torch.trtrs works in fact on CUDA contrary to docs"
https://pytorch.org/docs/master/torch.html#torch.trtrs mentions "This method is NOT implemented for CUDA tensors."

but following doesn't break:
[code]

Obsolete documentation?

[2018-07-08 22:39] SsnL commented on #9242
Can you check the cmake log and see which archs it built for?

[2018-07-08 23:54] ezyang commented on #7228
@vishwakftw Do you have an easy script that reproduces the nondeterminism? I looked at your PR closely but I didn't see any obvious source of nondeterminism.

[2018-07-08 23:57] vishwakftw commented on #7228
The non-determinism occurs when `device.index > 254`.

[code]

[2018-07-09 00:56] Whamp opened #9249 "RuntimeError: cuda runtime error (77) looking for nonexistent directory"
RuntimeError: cuda runtime error (77) : an illegal memory access was encountered at c:\anaconda2\conda-bld\pytorch_1519501749874\work\torch\lib\thc\generic/THCTensorCopy.c:20

I have started getting this error at different sections of my code, the training phase and also the prediction phase. The error doesn't consistently show up in the same spot but once it's been triggered only a kernel restart

[2018-07-09 02:10] #6947 closed

[2018-07-09 02:16] #9247 closed

[2018-07-09 02:16] SsnL commented on #9247
fixed via #9239

[2018-07-09 02:59] plopd opened #9250 "[feature request] SSIM-based cost function as part of the standard set of loss functions"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

SSIM-based cost function as part of the standard set of loss functions.
See example here: https://g

[2018-07-09 03:30] chengzhengxin opened #9251 "This Caffe2 install is not built with cudnn, so you should not include this file."

[2018-07-09 04:16] PetrochukM opened #9253 "Inconsistent slicing"
## Issue description

Let me know but I'd imagine the code lines below would have the same output.

## Code example

[code]

[2018-07-09 05:03] SsnL commented on #9253
this will be fixed in next release :)

[2018-07-09 05:03] SsnL commented on #9253
cc @gchanan who's working on it

[2018-07-09 05:05] SsnL commented on #9250
as a user: this is kinda useful to me, so you have my vote

as a dev: we need enough usage before deciding that this should be in core. whats your thoughts on this, @soumith ?

[2018-07-09 05:50] ezyang commented on #9250
IMO, if one core dev thinks it's a good idea, in it should go :)

[2018-07-09 05:55] SsnL commented on #9250
Just want to clarify: I didn’t mean that I think this should be in core. Just that from me as a user’s perspective, this will save me some trouble because I once needed it and wouldn’t have to implement it myself if it were in core. A lot of things are like this (depending whether I happen to use them in my research) but not necesarily that we should put them in core.

[2018-07-09 06:43] peterjc123 commented on #9249
Your specs and code, please?

[2018-07-09 06:46] peterjc123 commented on #9200
I'm on this. Unfortunately, building PyTorch with VS2015 at present will be finally blocked by #9092.

[2018-07-09 06:57] peterjc123 commented on #8394
@soumith Could we close this, please?

[2018-07-09 07:36] saikiran6 opened #9256 "Caffe2 Exception encountered running PythonOp function: TypeError: unhashable type"
Hi,

Iam trying to train e2e_mask_rcnn_R-101-FPN_1x.yaml on my custom dataset. The dataset is converted into coco format. NUM_CLASSES is set to seven (it includes backgorund class as well). It worked well with tutorial_1gpu_e2e_faster_rcnn_R-50-FPN.yaml, with small modification in boxes.py by commenting line no 62  assert np.all(areas >= 0).

The error output is given below. Please help me resolve

[2018-07-09 08:24] jiapei100 opened #9257 "ModuleNotFoundError: No module named 'peachpy.x86_64.avx'"
[code]

Can anybody just give out a manual, how to successfully build **pytorch** with **caffe2** after **caffe2** is integrated into **pytorch**？

Thank you

[2018-07-09 08:45] JerryShih opened #9258 "[Caffe2] Build failed with python 3.7"
## Issue description

Build failed with python 3.7

## Code example

Build caffe2 from the original PyTorch repo with python3.7. Then, hit a build error.
The error message:
[ 92%] Building CXX object caffe2/CMakeFiles/caffe2_pybind11_state.dir/python/pybind_state.cc.o
In file included from /pytorch/caffe2/python/pybind_state.cc:1:
/pytorch/caffe2/python/pybind_state.h:200:19: error: assigning to '

[2018-07-09 08:49] JerryShih commented on #9258
The function PyUnicode_AsUTF8AndSize() prototype has changed.
https://docs.python.org/3.7/c-api/unicode.html#c.PyUnicode_AsUTF8AndSize

#9259

[2018-07-09 09:21] aswin1980 commented on #9099
@BIGBALLON Thanks for letting me know. Where is the way to pass the image folder
Below is the image I need to train. This is a signal post. The image is taken from the video and it is having a transparent background.

![105](https://user-images.githubusercontent.com/4591328/42442095-6d4ddde0-8387-11e8-95bb-d7f13e5c2cdc.png)

[2018-07-09 09:31] t-vi opened #9260 "Segfault in CuPy -> dlpack -> PyTorch"
Hi,

I'm not sure whether this is a PyTorch or a CuPy issue, but
[code]
seems to sefault for me relative reliably (python 3.6, PyTorch recent master, CuPy recent master, both built with gcc 5).
I'm not entirely sue whether the module and backward is strictly necessary, but I got the repro down from 1000 to less then 10 lines already and it's relatively quick to fail.

It could be a refcounting iss

[2018-07-09 09:33] ramkumarmrk commented on #4518
python preprocess.py -train_src data/src-train.txt -train_tgt data/tgt-train.txt -valid_src data/src-val.txt -valid_tgt data/tgt-val.txt -save_data data/demo
Traceback (most recent call last):
  File "preprocess.py", line 12, in <module>
    import torch
  File "C:\Users\mramkuma\AppData\Local\Programs\Python\Python35\lib\site-packages\torch\__init__.py", line 78, in <module>
    from torch._C imp

[2018-07-09 09:36] yes7rose commented on #9232
Python 2.7.11 (default, Jul  1 2016, 02:08:48) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'module' object has no attribute 'getppid'

22828

[2018-07-09 09:39] t-vi opened #9261 "memory leak for PyTorch -> dlpack -> CuPy"
Hi again,

for this one, I'm not sure whether it is a cupy or pytorch issue, either, but I don't think this should run out of memory:
[code]
`torch.cuda.memory_allocated()` will be high. Again it could be a refcounting thing that things are not going out of scope properly. (In which case it would be more of a CuPy issue.)

Best regards

Thomas

[2018-07-09 09:51] vadimkantorov commented on #9250
I think PyTorch needs a `contrib` repo strategy for less stable stuff :) Hopefully, something comes along after 1.0? :)

[2018-07-09 10:52] CarlosYeverino commented on #9242
As peterjc123 suggested, I set TORCH_CUDA_ARCH_LIST. I also change versions to CUDA 8.0, cuDNN  7.0.5 and Visual Studio 2015 since I saw on internet that there is no good compatibility with my previous combination.

However, I got a different error "Caffe2 building failed". How should I set TORCH_CUDA_ARCH_LIST for GeForce GTX 1050? I already tried set TORCH_CUDA_ARCH_LIST="6.1" with no success.

[2018-07-09 10:55] peterjc123 commented on #9242
@CarlosYeverino Remove the quotation marks and try again.
That is:
[code]

[2018-07-09 10:56] peterjc123 commented on #4518
@ramkumarmrk Have you tried Have you tried https://gist.github.com/peterjc123/6b804651288e76db7b5fabe5348e1f03?

[2018-07-09 11:15] JafferWilson opened #9263 "DLL load failed: The specified module could not be found. After installed using pip in python 3.5 windows."
I am using windows 10 OS with Python 3.5.
I am trying to run a program related to torch. So I installed Pytorch with the help of the instructions specified on their website:[ Pytorch installation](https://pytorch.org/)

See the following image for selection of the downloadable:
![pytorch](https://user-images.githubusercontent.com/13446197/42447420-7271a044-8397-11e8-98b1-db55469a787a.PNG)

I insta

[2018-07-09 11:58] mys007 opened #9264 "Dilated Conv3d segfaults (cpu)"
I have encountered a segfault when running `Conv3d` with dilation under pytorch 0.4.0 on the cpu for some specific tensor sizes. This is the code to reproduce the behavior:

[code]

And this is the stack trace from gdb:
[code]

And this is the environment information:
[code]

Thanks for your help!

[2018-07-09 12:13] CarlosYeverino commented on #9242
**@peterjc123 thanks, man. That solves my issue. Do you know how can I fix "It means you may not get the full speed of your CPU"?**

[E D:\Yeverino\git_projects\pytorch\caffe2\core\init_intrinsics_check.cc:43] CPU feature avx is present on your machine, but the Caffe2 binary is not compiled with it. It means you may not get the full speed of your CPU.
[E D:\Yeverino\git_projects\pytorch\caffe2\cor

[2018-07-09 12:13] #9242 closed

[2018-07-09 12:28] peterjc123 commented on #9242
@CarlosYeverino Can you please upload your `CMakeCache.txt` so that we can check if the flag is correctly set or something else is wrong there?

[2018-07-09 12:38] articuno12 commented on #6174
Same problem with me too.

[2018-07-09 12:39] CarlosYeverino commented on #9242
Here is the CMakeCache.

[CMakeCache.txt](https://github.com/pytorch/pytorch/files/2176150/CMakeCache.txt)

[2018-07-09 13:07] peterjc123 commented on #9242
@CarlosYeverino Here is the related cmake script. It states that the AVX2 switch was turned off due to a build error. Maybe @orionr and @pjh5 knows the details.
[code]

[2018-07-09 13:22] #8394 closed

[2018-07-09 13:24] peterjc123 commented on #9263
@JafferWilson Have you tried https://gist.github.com/peterjc123/6b804651288e76db7b5fabe5348e1f03?

[2018-07-09 13:32] JafferWilson commented on #9263
@peterjc123  Might work. But I m not using Anaconda. I have mention this in the titl. You can see: DLL load failed: The specified module could not be found. After **installed using pip in python 3.5 windows**.

[2018-07-09 13:34] peterjc123 commented on #9263
@JafferWilson Yes, there is `For wheels package` in that passage. Could you please try `pip install intel-openmp` first?

[2018-07-09 13:53] JafferWilson commented on #9263
Sure let me try it out.

[2018-07-09 13:54] JafferWilson commented on #9263
I tried it see the result:
[code]

[2018-07-09 13:58] ezyang commented on #9261
Does it leak if you omit `cupy.fromDlpack`? If so, sounds like a cupy issue. PyTorch's `to_dlpack` function returns a capsule, and from there it's cupy's job to make sure they free it when they're done with it.

[2018-07-09 14:52] SsnL commented on #9264
repro'ed on master!

[2018-07-09 15:33] t-vi commented on #9261
My impression is that CuPy implements a contract to be similar to the numpy/PyTorch sharing of data and PyTorch doesn't and instead interprets the contract you describe .

I must admit that I haven't seen the specs to argue about it but intuitively, the CuPy implementation makes much more sense to me.

I can still access a tensor I pass to to_dlpack. What happens with that when CuPy decides it doe

[2018-07-09 15:37] SystemErrorWang commented on #1917
get "BrokenPipeError: [Errno 32] Broken pipe" when trying next(iter(dataloader))

[2018-07-09 15:59] ezyang commented on #7096
@aliutkus I want to double check: in your case, are you putting a tensor in the queue and then retrieving it from the same process?

[2018-07-09 16:16] viggi1000 opened #9272 "Request to port Torch-Signal to Pytorch"
Hi @soumith, As discussed today researchers dealing with 1-D signals (Biomedical mainly) would find it immensely helpful if we can get something similar to the Torch-Signal for applying cuda optimized transforms like Wavelet/FFT to 1D signals. Presently we have to apply transforms on scipy or numpy or use libraries like (PytorchWavelet)[https://github.com/tomrunia/PyTorchWavelets] which too rely o

[2018-07-09 16:32] orionr commented on #9242
The `if (NOT MSVC)` check above was added by @Yangqing, so cc'ing him as well. @CarlosYeverino, feel free to remove that test and see if it works for you.

In general, though, depending on what operators you use in your network, most will be implemented in CUDA and run on the GPU, so AVX/AVX2 won't matter from a performance standpoint. Happy to hear you got CUDA working!

[2018-07-09 16:56] yinghai commented on #9024
@AlexLuya Is this still an issue for you after sync to recent master code?

[2018-07-09 16:57] yf225 commented on #9232
@yes7rose We don't support Python 2.7 on Windows, could you try with Python 3.6 instead?

[2018-07-09 17:02] pjh5 commented on #9251
Can you post all of the information in the Github issues template, including the full error message, all of your cmake output, and the operating system and environment that this is run on?

[2018-07-09 17:05] pjh5 commented on #9235
Can you give full cmake output, operating system, and cmake version?

[2018-07-09 17:06] pjh5 commented on #9218
Can you give the build command you used as well as the full cmake output?

[2018-07-09 17:13] pjh5 commented on #9207
That command uses setuptools, which installs into the site-packages directory of the Python installation that was active at the time that it was called. If you search the output for "Summary" then you should see a line for "CMAKE_INSTALL_PREFIX", that is where the Caffe2 libraries will be installed into. The Python source files should be in the site-packages of whichever Python you used when calli

[2018-07-09 17:20] SsnL commented on #9264
oh it overflowed int range.... fix incoming

[2018-07-09 17:21] zou3519 commented on #9232
We should probably have a runtime warning if one runs on Windows under python 2.7

[2018-07-09 17:30] zou3519 commented on #9236
@huntzhan I'm having trouble following what this does -- could you list some examples of how to use this and use cases?

[2018-07-09 17:33] zou3519 commented on #9222
Could be interesting, we would have to think about how this fits into the rest of sparse @li-roy @weiyangfb

[2018-07-09 17:34] zou3519 commented on #9229
I have some skeleton code for what It should look like... I can try to flush that out

[2018-07-09 17:34] weiyangfb commented on #7733
@vishwakftw Yes, I haven't look into this much. Please feel free to take it up :)

[2018-07-09 17:37] zou3519 commented on #9190
I think we're adding support for this. [This pr](https://github.com/pytorch/pytorch/pull/8919) could be a start

[2018-07-09 17:39] zou3519 commented on #9201
What do you mean by third party?

Pytorch has some dependencies that must be installed if that is what you are referring to.

[2018-07-09 17:40] zou3519 commented on #9193
I'm not really sure what's going on here but we will look into it.

[2018-07-09 17:45] zou3519 commented on #9168
@mrocklin we'll discuss and get back to you

[2018-07-09 17:47] zou3519 commented on #9176
@linzhiqiu is the "module" prefix a problem for you?

[2018-07-09 17:51] goodlux commented on #8529
@asprasan Agreed, that is good practice, and we are going out your suggestion in addition to rolling out Katex, in a separate PR.

[2018-07-09 17:53] fmassa commented on #9168
@zou3519 actually, I think this can be closed since https://github.com/pytorch/pytorch/pull/9184 was merged.

[2018-07-09 17:53] linzhiqiu commented on #9176
It is a problem when I want to reload the weight but not using model.DataParallel()
I currently manually remove all the "module" prefix, but other people may have the same issue

[2018-07-09 17:55] zou3519 commented on #8698
For context, kwargs can be used in place of positional args it looks like:
[code]

[2018-07-09 17:55] vishwakftw commented on #9244
I am sending in a PR.

[2018-07-09 17:55] ailzhang commented on #5823
We now have nn.functional.interpolate that does the same thing except for bicubic method. https://pytorch.org/docs/master/nn.html?highlight=interpolate#torch.nn.functional.interpolate
We have another issue for it open here. https://github.com/pytorch/pytorch/issues/918
We should add it to interpolate when it's done.

[2018-07-09 17:55] #5823 closed

[2018-07-09 17:56] zou3519 commented on #598
Sure, let's do that for now.

[2018-07-09 17:57] krishnakt031990 commented on #9218
Everything seems to be working fine with my local system or any of the EC instances on AWS that I spawn. I install conda and install pip on it, then install onnx from source and caffe2 from source

cmake -DBUILD_SHARED_LIBS=OFF -DCMAKE_INSTALL_PREFIX="/home/ec2-user/cf2/" -DCMAKE_PREFIX_PATH="/home/ec2-user/cf2/" -DUSE_GFLAGS=OFF  ..

When I run the program on my linux machine it works fine. Then

[2018-07-09 17:57] aliutkus commented on #7096
@ezyang yes, exactly, thanks

[2018-07-09 17:57] vishwakftw commented on #8698
I ran into those errors because of using them as kwargs during an experiment. Hence the issue.

[2018-07-09 17:58] krishnakt031990 commented on #9218
On my mac it is much more simple. I do onnx from source and use caffe2 from conda installation. Everything works as expected.

[2018-07-09 17:59] ailzhang commented on #5565
This is not with grid_sampler but might be useful in your case? https://pytorch.org/docs/master/nn.html?highlight=interpolate#torch.nn.functional.interpolate.

[2018-07-09 18:04] ailzhang commented on #1552
We now have nn.functional.interpolate that does interpolations except for bicubic method. https://pytorch.org/docs/master/nn.html?highlight=interpolate#torch.nn.functional.interpolate
We have another issue for bicubic open here. #918
Closing this for now. Feel free to reopen if you have any questions

[2018-07-09 18:11] flauted commented on #9176
I usually do:
[code]

[2018-07-09 18:40] fmassa commented on #5565
I also agree that having multiple interpolation modes in `grid_sample` could be desirable in some applications.

[2018-07-09 18:45] pjh5 commented on #9218
Can you post the cmake output from one of the machines that is getting this error?

[2018-07-09 18:50] t-vi commented on #9261
So I think that the problem here is that CuPy doesn't call the deleter.
I'll submit a PR to CuPy.

[2018-07-09 18:50] #9261 closed

[2018-07-09 18:57] ailzhang commented on #8928
Just found this thread. Should we also add other necesary methods when porting grid_sample to Aten?
https://github.com/pytorch/pytorch/issues/5565#issuecomment-403579583
cc: @fmassa

[2018-07-09 19:07] t-vi commented on #9272
What do you have in mind?
I could offer to do something like this (takes coeffs from PyWavelets) for 1d/2d:
https://github.com/t-vi/pytorch-tvmisc/blob/master/misc/2D-Wavelet-Transform.ipynb

[2018-07-09 19:07] Novak3 commented on #9193
I'm not sure what's going on there, either.  I wish I'd had the sense to take a complete code snapshot for posterity.  I do know, after thinking about it for a bit, that the following refactor seems to work.  I.e., it runs without error, reduces over-training, shows better error/loss when I turn the dropout off for evaluation, etc:

`        out1, _            = self.lstm1(pack1,  (self.h1, self.c

[2018-07-09 19:08] t-vi commented on #9261
CuPY PR: https://github.com/cupy/cupy/pull/1445

[2018-07-09 19:10] t-vi commented on #9260
So if I see this correctly, the memory allocated by CuPy should not be deallocated in ATen but the deleter should be called. Is that approximately correct?

[2018-07-09 19:32] linzhiqiu commented on #9176
@flauted Genius.. Let me close this issue

[2018-07-09 19:32] #9176 closed

[2018-07-09 19:40] joe-devv commented on #8103
I got around this issue by hard coding the num_threads around line 65 to 512. I'm running on Jetson TX2

[2018-07-09 19:44] pjh5 commented on #9181
@Rahul-Venugopal

1. There are many ways to install Caffe2. setup.py is a common Python installation method; it really just calls cmake and make behind the scenes, but has some extra logic to locate the current active site-packages and can be used to make pip packages. It ignores other files in the repo, so running cmake before setup.py will not affect setup.py . Also, to build Caffe2 along with P

[2018-07-09 19:47] SsnL opened #9280 "[0.4.1] master tracking issue"
[not a comprehensive list yet]

## important
- [x] fix segfault when importing pytorch & sentencepiece (https://github.com/pytorch/pytorch/issues/8358)
- [x] segfault when importing fasttext & pytorch #9129
- [x] align `torch.stft` with librosa signature & behavior (@SsnL, #7883)
- [ ] warn in dataloader if `IS_WINDOWS && py2.7 && num_workers > 0` (#9232)
- [ ] fix the perf discrepancy of argmax &

[2018-07-09 19:48] pjh5 commented on #9180
Can you post your cmake output? ctrl-f in all the output for "Summary" and it will be the list after that.

What is "ls -lah /usr/local/cuda" ? Is CUDA_HOME set?

[2018-07-09 19:56] SsnL opened #9282 "[gradcheck] warn about the case that mulitple inputs share storage"
also re-enable the skipped einsum tests

[2018-07-09 20:05] SsnL commented on #9015
When it hangs, can you interrupt it, e.g., using ctrl+C? If so, what's the stack trace it prints?

[2018-07-09 20:17] zou3519 commented on #9129
@cympfh how did you install fasttext?

It would greatly help debugging if you could reproduce this inside a docker image, but I will also try to repro it.

[2018-07-09 20:17] pjh5 commented on #9165
The third error looks protobuf related. What is your cmake output and how did you install Caffe2?

[2018-07-09 21:08] zou3519 opened #9286 "Accumulate into accreal instead of real for CPU loss functions"
All the loss fns except for MSELoss (that I just patched) do this.

[2018-07-09 21:12] t-vi commented on #9260
The segfault was caused by CuPy's pycapsule calling the deleter even if PyTorch consumed the DLPack. I submitted the above PR.

[2018-07-09 21:12] #9260 closed

[2018-07-09 21:17] jiapei100 commented on #9201
@zou3519
There is a subfolder named [third_party](https://github.com/pytorch/pytorch/tree/master/third_party) ?
It seems either Pytorch or Caffe2 requires/depends on some of the third party libraries?

[2018-07-09 21:29] jiapei100 commented on #9165
The 3rd error can be solved by downgrading GCC version to 6 instead of current 7.3.0.  Check [https://github.com/pytorch/pytorch/issues/8788](https://github.com/pytorch/pytorch/issues/8788) .

However, I still prefer building Pytorch with this ENV:
**Ubuntu 18.04 + gcc (Ubuntu 7.3.0-16ubuntu3) 7.3.0 +  Python 3.6.5**

As for the third_party submodules, is it possible for me to just ignore all ?

C

[2018-07-09 21:36] jiapei100 commented on #9235
@pjh5

- Ubuntu 18.04

- $ cmake --version
cmake version 3.10.2

CMake suite maintained and supported by Kitware (kitware.com/cmake).

- cmake output:
Do you mean the file CMakeCache.txt ？

I actually use the command `ccmake ../`, press **c** for compiling and **g** for generating, after pressing **g**, I got the above **2 ERROR** messages:

[2018-07-09 21:43] jiapei100 commented on #9235
`ccmake ../` brings me something weird:

I have to manually specify where are the third_party packages' source folders. (I didn't use the submodules in [third_party](https://github.com/pytorch/pytorch/tree/master/third_party) directly, but git clone out all third party packages by myself. For instance, [FP16](https://github.com/Maratyszcza/FP16) .

[code]

[2018-07-09 21:46] pjh5 commented on #9235
By cmake output I mean the two-column list that the cmake command outputs before finishing. If you used setup.py or conda-build then some other script called cmake for you, but you can still find the output by searching for the word "Summary". EDIT: Actually after reading your post more carefully, your cmake command was failing before it printed out the list I'm looking for.

If you run "git submo

[2018-07-09 22:04] mys007 commented on #9264
Well done, Tongzhou, that was really brisk!!

[2018-07-09 22:17] #9168 closed

[2018-07-09 22:34] Amir-Arsalan opened #9289 "Got CUDNN_STATUS_NOT_INITIALIZED although PyTorch recognizes CUDA & CuDNN"
**environment**

    OS: Ubuntu 16.04.3 LTS
    PyTorch version: 0.5.0a0+1483bb7
    How you installed PyTorch (conda, pip, source): source
    Python version: 3.5.2
    torch.backends.cudnn.version(): 7104
    CUDA version: 9.0.176
    NVIDIA driver version: 390.48 (tried with 390.67 as well)
    GPU: Pascal Titan-X (CUDA compute capability 6.1)

I compiled PyTorch from source and tried to run th

[2018-07-09 22:42] vishwakftw commented on #8774
@SsnL I have fixed this issue locally, shall I send in a PR?

[2018-07-09 23:08] jiapei100 commented on #9235
@pjh5

[2018-07-09 23:53] pjh5 commented on #9256
Python errors like this are often caused by something having the wrong "type". Looking at https://github.com/facebookresearch/Detectron/blob/master/detectron/utils/segms.py#L120 , are you sure that len(polys) is a reasonable value and that boxes_from_polys has the right number of dimensions?

[2018-07-09 23:56] #9167 closed

[2018-07-09 23:59] pjh5 commented on #9204
What is ```find /lib -name "*pthread*"``` ? If nothing is output, then try ```find / -name "*pthread*"```

Your cmake output says " -- Configuring incomplete, errors occurred!" What is the error that it encountered?

[2018-07-10 00:38] soumith commented on #8774
@vishwakftw yes please :)

[2018-07-10 00:43] Stonesjtu commented on #9232
@zou3519 For the runtime check, we can just omit the python2.7 channel of pip on windows. If not supported, why provided.

[2018-07-10 00:44] rdspring1 commented on #9222
Here is some more information about the underlying block-sparse operations:
- None of the inputs, outputs, or gradients use the COO sparse matrix representation.
- The sparsity pattern is a binary mask (D / block-size, N / block-size), representing the active blocks in the weight matrix.
- The block-sparse weight matrix is a dense tensor (non-zero blocks, block-size, block-size).
- The forward and

[2018-07-10 00:47] laobadao opened #9291 "[caffe2]ONNX FATAL: [enforce fail at backend.cc:653] . Caffe2 only supports padding 2D Tensor, whereas padding is [0, 3, 3, 0, 0, 3, 3, 0, ]"
## Issue description

resnet_v1_50

http://download.tensorflow.org/models/resnet_v1_50_2016_08_28.tar.gz

https://github.com/tensorflow/models/blob/master/research/slim/nets/resnet_v1.py

caffe2 is the latest version, onnx is is the latest version too ,Source code compilation

I convert tensorflow model to onnx and run in caffe2 ,onnx Pad OP convert to Caffe2 PadImage Op ,the attr pads not support

[2018-07-10 00:53] zou3519 commented on #9222
To fit it into how pytorch works currently, we could represent block-sparse tensors as 4D COO tensors, where the first two dimensions are sparse and the last two are dense. Essentially the first two dimensions indicate which "block of the grid" we're in, and the last two dimensions are the dense pieces of the matrix. I'm assuming the blocks are all the same size.

But it might be nicer to have a u

[2018-07-10 01:03] soumith commented on #9250
@apaszke and I were discussing this and https://github.com/pytorch/pytorch/pull/9177

We definitely need a `torchcontrib` package that publishes itself every two weeks or so, and can include loss functions, layers, etc from the latest and greatest papers.

[2018-07-10 01:06] hadim commented on #6570
Hello. Just to clarify things, there is no plan to add Java support (not Android only) to pytorch in a near future correct? I am considering switching from TF to pytorch but the lack of Java support is currently a limitation in my case.

[2018-07-10 01:07] zou3519 commented on #9232
@yes7rose said he installed from source, so maybe we should have a check in setup.py that exits immediately on windows if python is 2.7

[2018-07-10 01:11] soumith commented on #6570
We dont have any immediate plans to support Java.

[2018-07-10 01:46] Stonesjtu commented on #9232
I thought #4226 has added the python2.7 support for windows, when did we drop that.

[2018-07-10 01:56] #9200 closed

[2018-07-10 02:02] jiapei100 commented on #9235
What is **glog_DIR**? How to specify that in **Ubuntu 18.04**?

[code]

[2018-07-10 03:18] peterjc123 commented on #9263
@JafferWilson, what about `pip install numpy mkl`? If that doesn't help, then you may the environmental variable `PATH`. Make sure it points to the following locations:
[code]

[2018-07-10 03:56] jiapei100 commented on #9235
Here comes the final ERROR message, it seems it has something to do with **GCC compiler version**?

[2018-07-10 05:07] yf225 commented on #9232
@Stonesjtu Support for Python 2.7 on Windows is still a work in progress, as there are a few tests that doesn't pass in https://github.com/pytorch/pytorch/pull/4226. @peterjc123 may be able to chime in for more information.

[2018-07-10 05:15] JafferWilson commented on #9263
Ok Let me give it a try.

[2018-07-10 06:56] bhushan23 commented on #9222
What if we support sparsity internally? I will be lot of work though but will be far more efficient and save half the space.

[2018-07-10 08:02] munziliashali opened #9298 "concat tensor"
Hi all,

I have two tensors of different dimensions:
A = tensor([[-1.9314, -1.9754, -1.9867, -2.2567, -2.2533, -2.2397],
        [-1.9754, -1.9867, -1.9641, -2.2533, -2.2397, -2.2318]])
B = tensor([-2.2320, -2.2240])

I want to create a new tensor that looks like this:
C = tensor([[-1.9314, -1.9754, -1.9867,  -2.2567, -2.2533, -2.2397], [-2.2320],
        [-1.9754, -1.9867, -1.9641,  -2.2533, -2.2

[2018-07-10 08:16] fmassa commented on #9298
In PyTorch we don't currently support tensors having different sizes in the same dimension.
You might be able to simulate that using [`PackedSequence`](https://github.com/pytorch/pytorch/blob/master/torch/nn/utils/rnn.py#L12), or with the experimental [`BatchTensor`](https://github.com/pytorch/pytorch/pull/9198), but I'm not sure that we will be adding explicit support for that in PyTorch core soo

[2018-07-10 08:16] #9298 closed

[2018-07-10 08:53] lee-junjie opened #9301 "bug of multilable loss in v0.4"
[code]

doc: [https://pytorch.org/docs/stable/nn.html?highlight=multilabel_soft_margin_loss#torch.nn.MultiLabelSoftMarginLoss](https://pytorch.org/docs/stable/nn.html?highlight=multilabel_soft_margin_loss#torch.nn.MultiLabelSoftMarginLoss)

I think the default behavior of multilabel_soft_margin_loss is incorrect: current 0.4 version will **`average`** binary losses of classes in a sample. From the

[2018-07-10 09:02] munziliashali commented on #9298
Hi @fmassa thanks for the quick response. So, what if of the same dimension? I had a hard time trying to append with torch.cat.. Please help..

[2018-07-10 09:03] t-vi commented on #9280
Would #7763 qualify?

[2018-07-10 09:15] SsnL commented on #9280
I thought that it was fixed?

On Tue, Jul 10, 2018, 11:03 Thomas Viehmann <notifications@github.com>
wrote:

[2018-07-10 09:35] fmassa commented on #9298
You can specify the dimension where to concatenate the tensors.
[code]

Also, questions like those are better suited for https://discuss.pytorch.org/

[2018-07-10 09:52] vadimkantorov commented on #9250
Some ideas for it:
 - opt-in voting function (so that importing or using a module would send a vote to the server, and by resampling votes you may see if a module is really popular) - so that the most popular modules may be considered for promotion to core
 - some suggested structure such as "one module - one file" (a bit similar to MATLAB File Central) and relaxed testing requirements
 - some rea

[2018-07-10 10:04] chuong98 commented on #5660
I follow @velikodniy to add the Weighted BCEloss, where the weight can be computed dynamically for each path:
[code]
[code]

[2018-07-10 10:05] peterjc123 commented on #9092
@orionr Any progress here? It seems that this issue is listed in the 0.4.1 to-do list #9280.

[2018-07-10 10:55] CarlosYeverino commented on #7807
Any suggestion to fix this issue in windows 10? I have a similar issue caffe2/tutorials#7

[2018-07-10 12:50] saikiran6 commented on #9256
Thanks @pjh5. The issue is resolved. The segmentations in json file are in RLE format but for maskrcnn, it should be in polygons format. I stored my dataset in polygon format. Now iam able to train maskrcnn on my dataset.

[2018-07-10 12:56] Rahul-Venugopal commented on #9181
@pjh5  Thanks for repying.

When am installing using `FULL_CAFFE2=1 python setup.py install` , I am getting the following error

 Built target caffe2_pybind11_state
CMakeFiles/Makefile2:2104: recipe for target 'caffe2/CMakeFiles/caffe2_gpu.dir/all' failed
make[1]: *** [caffe2/CMakeFiles/caffe2_gpu.dir/all] Error 2
Makefile:140: recipe for target 'all' failed
make: *** [all] Error 2
Failed to run '

[2018-07-10 12:58] VladislavZavadskyy opened #9303 "If .to() is called on nn.Parameter, it returns a tensor."
For example:
[code]
## System Info
PyTorch version: 2018.05.07
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: Ubuntu 16.04.4 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.10) 5.4.0 20160609
CMake version: version 3.11.1

Python version: 3.6
Is CUDA available: Yes
CUDA runtime version: 9.0.176
GPU models and configuration: GPU 0: GeForce GTX 1070
Nvidia driver version: 396.26
cuDNN ver

[2018-07-10 13:10] SsnL commented on #9280
@t-vi 0.4.1 will contain (almost) all commits in current master. This list is to track the critical fixes not yet implemented on master. :)

[2018-07-10 13:16] t-vi commented on #9280
Ah thanks!

[2018-07-10 13:23] SsnL commented on #9301
cc @li-roy

[2018-07-10 13:40] #9264 closed

[2018-07-10 13:45] vishwakftw commented on #9303
I have a fix for this, can I send it in?

[2018-07-10 14:18] Amir-Arsalan commented on #9289
Forgot to mention that I build PyTorch in a Singularity container and bootstrap the container with an NVIDIA docker as follow:

[code]

[2018-07-10 14:39] rsnk96 commented on #9171
@zou3519 @SsnL please review #9183

[2018-07-10 15:07] Rahul-Venugopal commented on #9181
I have tried installing it without using a virtual environment and it works fine .
But I am not able to use GPU. I have checked and CUDA and cuDNN is installed correctly.

Output of my cmake is as follows

rahul@rahul-ThinkPad-E470:~/pytorch/build$ cmake ..
-- Does not need to define long separately.
-- std::exception_ptr is supported.
-- NUMA is not available
-- Turning off deprecation warning du

[2018-07-10 15:17] muni2773 opened #9306 "Build failing on Master with CUDA 9.2 CUDNN 7.1.4"
## Issue description
python setup.py install
[ 60%] Linking CXX shared library ../lib/libcaffe2.so
/usr/bin/ld: cannot find -lonnxifi_loader
collect2: error: ld returned 1 exit status
caffe2/CMakeFiles/caffe2.dir/build.make:2367: recipe for target 'lib/libcaffe2.so' failed
make[2]: *** [lib/libcaffe2.so] Error 1
CMakeFiles/Makefile2:1337: recipe for target 'caffe2/CMakeFiles/caffe2.dir/all' failed

[2018-07-10 15:23] vadimkantorov commented on #9303
there were similar issue with `nn.Parameter().type_as()`: https://github.com/pytorch/pytorch/issues/5164

[2018-07-10 15:54] MatthewInkawhich commented on #9099
@aswin1980 Check out the "CIFAR10_Part1" and "CIFAR10_Part2" tutorials in the [caffe2/tutorials](https://github.com/caffe2/tutorials/) repo. Part 1 specifically shows how to take a custom image dataset (in this case .png mirror of the CIFAR-10 dataset), format it, create image LMDBs, and train a model on them.

[2018-07-10 16:13] pjh5 commented on #9256
I'm glad you got it working

[2018-07-10 16:13] #9256 closed

[2018-07-10 16:20] pjh5 commented on #9181
Another thing I forgot to mention which I will add to that faq: Never use sudo to install with setup.py or with pip. All macs and linux computers come with a system python installed in /usr . This is the only python installation that requires sudo to install into, because it is dangerous to install new packages or change already installed packages of this system python. When you create a virtualen

[2018-07-10 16:23] apaszke commented on #8410
This has been fixed in #8641.

[2018-07-10 16:23] #8410 closed

[2018-07-10 16:48] viggi1000 commented on #9272
@t-vi That sounds good for start, [PytorchWavelet](https://github.com/tomrunia/PyTorchWavelets)  however was a great implementation which used nn.Conv1d and used numpy complex numbers to find wavelets. Other transforms like Gabor, Fourier would be appreciated.

[2018-07-10 16:56] zou3519 commented on #8741
Is there a roadmap to create a more unified API for them? Is it something you could use or want help with?

@0phoff could you elaborate on points that could be improved on optimizer? Also, what do you think a more unified API should look like?

[2018-07-10 17:17] Amir-Arsalan commented on #9289
This does not happen if I install PyTorch 0.4 through `pip` for Python3.

[2018-07-10 17:23] xypron opened #9310 "/usr/bin/ld: cannot find -lpthreads"
On Debian Buster

    cmake .

leads to an error

[code]

For compilation with pthreads  -pthread should be used not -lpthreads

[2018-07-10 17:29] FeepingCreature commented on #3390
`cudaMemcpyAsync` calls `clock_gettime` with `CLOCK_MONOTONIC_RAW`, which can be slow. Here's a small wrapper file to redirect it to `CLOCK_MONOTONIC_COARSE`; as far as I can tell, it works without issues.

    // redirect_gettime.c
    #include <dlfcn.h>
    #include <time.h>

    static int(*real_clock_gettime)(clockid_t, struct timespec *) = NULL;

    int clock_gettime(clockid_t clk_id, struct

[2018-07-10 18:03] weiyangfb commented on #9310
similar to #9204

[2018-07-10 18:06] wanchaol commented on #8769
@apaszke does that means we should probably stay align with the tracer and keep it as Tensor?

[2018-07-10 18:20] muni2773 commented on #9306
So there is no onnxifi_loader.so anywhere

find /home/ubuntu/blockv -name "*onnxifi*"

/home/ubuntu/blockv/miniconda2/envs/allennlp/lib/python3.6/site-packages/onnx-1.2.1-py3.6-linux-x86_64.egg/onnx/onnxifi_loader.h
/home/ubuntu/blockv/miniconda2/envs/allennlp/lib/python3.6/site-packages/onnx-1.2.1-py3.6-linux-x86_64.egg/onnx/onnxifi.h
/home/ubuntu/blockv/onnx/build/lib.linux-x86_64-3.6/onnx/onnxi

[2018-07-10 18:27] apaszke opened #9312 "[JIT] Tuple phi nodes can produce incorrect graphs"
[code]

produces this graph:

[code]

[2018-07-10 19:41] muni2773 commented on #9306
Never mind. Deleted the conda environment. Deleted pytorch and recloned it. These issues showed up after a git pull.

[2018-07-10 19:41] #9306 closed

[2018-07-10 19:44] tbenst opened #9315 "qr is not implemented for type torch.cuda.HalfTensor"
A number of operations are not implemented for HalfTensors, which makes it more difficult to leverage Tensor Cores.

## Code example

[code]

[2018-07-10 20:02] vishwakftw commented on #9315
I can think of one way of solving this: initialize with `float32` and then downcast to `float16`. I am not sure what problems this might cause.
[code]

[2018-07-10 20:35] cpuhrsch commented on #8154
We've recently added a few performance improvements. Could you try again @jhmenke?

[2018-07-10 20:50] pjh5 commented on #9092
@peterjc123 if we remove all files under caffe2/operators, what are the number of exported symbols?

[2018-07-10 21:32] bhushan23 commented on #9315
@vishwakftw then we are not taking advantage of fp16 also, we might face precision issues

[2018-07-10 21:36] vishwakftw commented on #9315
There is an obvious problem due to downcasting, yes. I was concerned about whether this could be trainable, and how costly training would be.

MAGMA does not have support for `float16` qr factorization, and so does LAPACK I think.

[2018-07-10 21:52] weiyangfb commented on #9129
I can repro #8358, but not this one.

[code]

My env:
[code]

fastText: https://github.com/facebookresearch/fastText

[2018-07-10 22:38] ybzhou opened #9326 "Convolution result inconsistent [bug]"
## Issue description
2d Convolution result is inconsistent when applied to the full input as compared to partial input.

Provide a short description.
convolve on a 2D in put of WxH should have the same results when convolved on the full input as compared to convolved to the partial input, if one makes sure the corresponding input is the same for the same location output at partial and full convolu

[2018-07-10 23:29] soumith commented on #9289
pytorch via 0.4 has it's own CUDA / CuDNN binaries (which are part of the package). Maybe your locally installed CUDA / CuDNN are in a wonky state?

[2018-07-10 23:32] vishwakftw commented on #7733
I don't understand the behavior of `hash()`. For an immutable type e.g., string:
[code]
What should be the expected behavior? Although, since `torch.Tensor` is mutable, `__hash__` shouldn't exist.

[2018-07-10 23:53] Balandat opened #9332 "[feature request] Low-discrepancy quasi-random sampler (Sobol sequences)"
It would be nice to have a native low-discrepancy quasi-random sampler available in pytorch (for things like qMC numerical integration etc.).

Ideally that would be implemented on a low-level in ATen, and have a convenience constructor on the python side (not sure exactly where that would live).

I have cython code for a Sobol generator with Owen scrambling that I'd be willing to port over for thi

[2018-07-11 00:14] weiyangfb commented on #7733
If you are worring about the behavior of `hash(Tensor)` and `__hash__()`. I think they should have consistent behaviors as mutable types. So we can probably remove `__hash__()` or raise an error whenever it gets called.

[code]

[2018-07-11 01:12] Amir-Arsalan commented on #9289
@soumith Well I'm pulling CUDA/CuDNN from NVIDIA's docker hub. Shouldn't it be working properly?

[2018-07-11 01:39] #9128 closed

[2018-07-11 01:39] #9291 closed

[2018-07-11 02:07] peterjc123 commented on #9092
@pjh5 Is there a PR or branch that I can test?

[2018-07-11 02:35] Naruto-Sasuke opened #9337 "Cannot switch to docs of other version by clicking 'version selector'"
I need to look for something in doc of '0.3.1', however,  I cannot have access to docs of other versions.
I wonder whether it has been broken.

[2018-07-11 02:48] tbenst opened #9338 "Make channel order consistent between nn.Conv* and nn.functional.conv*"
Right now, nn.Conv* is `In channels x Out channels`, while nn.functional.conv* is `Out channels x In channels`. I'd be great if we could just pick one format for both. Personally, I prefer `In x Out` but I think consistency is more important. Since this would be breaking, seems like a good thing to fix before 1.0

[2018-07-11 03:22] celticssssss commented on #9028
I also find this problem
and my CUDA like the photo
![image](https://user-images.githubusercontent.com/35193543/42548962-598e8586-84fc-11e8-8bee-299e0065c52d.png)
how could i solve this problem
How you installed PyTorch (conda, pip, source): source
PyTorch or Caffe2: caffe2
OS:ubuntu16.04
CUDA/cuDNN version:9.0/7.0.3
thank you

[2018-07-11 03:29] BanuSelinTosun commented on #8125
Hi @pjh5 and @briandw
I have the same/similar error when I try to build caffe2 in a different environment all from scratch. I am following these instructions: https://caffe2.ai/docs/getting-started.html?platform=ubuntu&configuration=compile#install-with-gpu-support
and getting the same error.
Any resolutions yet?

Thank you,
Selin

[2018-07-11 06:54] jhmenke commented on #8154
Yes, we are back at the 0.4 average:

[2018-07-11 07:10] peterjc123 commented on #9092
@pjh5 Actually the number increased to 52382 in the CUDA 9 build, and the CUDA 8 build still fails.

[2018-07-11 08:17] yes7rose commented on #9232
I am a TD in a 3D animation studio and we use Maya as main 3D software. Just now, all the industry software use Python2.7.x, so i have to build it from source, with the Maya version Python. Will pytorch for 2.7 support be Droped and when?  The using of Python2.7 in our studio will get to keep on at least 2 years, on Maya will use Python2.7 for a long time.

[2018-07-11 10:45] albanD commented on #9326
Hi,

Running your code on python 2.7 from master gives only `True`s.
Could you install from master and verify if this has been fixed in master?

[2018-07-11 12:25] mhusseinsh opened #9344 "Error while running pytorch"
Hey,
I installed pytorch following the commands given on the website
I tried to run python from the cmd to test with `import torch`
and I received this error

[code]
- PyTorch
- How installed: pip
- Build command you used (if compiling from source):
- OS: Windows 10
- PyTorch version: torch-0.4.0
- Python version: 3.6.5
- CUDA/cuDNN version: 9.0/7.0.5
- GPU models and configuration: NVIDIA Quadro

[2018-07-11 12:33] DJS2018 commented on #3909
I have this issue

[2018-07-11 13:35] xtannier commented on #9129
Hi,
I have the same exact problem.
On my laptop, everything is fine.
On my cluster login node or computing node, the same segfault as described above.

In both cases,
Python 3.6.6 :: Anaconda, Inc.
conda 4.5.4

On my cluster:
[GCC 7.2.0] on linux

On my laptop:
[GCC 4.8.2] on linux

[2018-07-11 14:48] BanuSelinTosun commented on #8125
@pjh5  No I have not built ONNX. But I also did not change the path either.

[2018-07-11 15:32] edchengg commented on #3420
@SivanKe Could you help me with the CTC loss? an example code would be really appreciate

[2018-07-11 15:40] ChaoYue0307 opened #9348 "torch.unsqueeze() docs has errors on range for dim [-input.dim(), input.dim()), it should be [-input.dim()-1, input.dim()+1)"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

Provide a short description.

## Code example

Please try to provide a minimal example to repro the

[2018-07-11 15:43] Rahul-Venugopal commented on #9181
Thanks for helping @pjh5

Okay I will describe steps I followed to install . (

1) Created a virtual enviornment <detectron_1> using following command :
 `virtualenv venvs/detectron_1`

2)Activated the environment $detectron_1  by going to bin directory </venvs/detectron_1/bin> and using command :
   rv@rv-HP-ZBook-15-G3:~/venvs/detectron_1/bin$ `source activate`

### Installing

Now started to in

[2018-07-11 16:14] SsnL commented on #9338
it's probably just doc error. they should take weight of same shape.

[2018-07-11 16:15] SsnL commented on #9337
it works for me. it's probably your local issue. feel free to reopen if this is not local.

[2018-07-11 16:15] #9337 closed

[2018-07-11 16:23] tbenst commented on #9338
The weight may be the same, but the function call is not. For functional, one writes `nn.Parameter(T.FloatTensor(64,8,5,5))` and for nn.conv2d the equivalent is `nn.Conv2d(8,64,(5,5),padding=self.dpad1)`

[2018-07-11 16:31] ltrottier commented on #5059
#### Solution (torch >= 0.4)

This is my solution:

1. First, reset the numpy seed at the beginning of each epoch:

[code]

2. Use `worker_init_fn` to set the numpy seed of each worker:
[code]

#### Explanations

After creating the workers, each worker has an independent seed that is initialized to the curent random seed + the id of the worker. Also, you need to reset the numpy random seed at the

[2018-07-11 16:35] SsnL commented on #9338
oh i see. yeah I agree with @fmassa .

[2018-07-11 16:36] SsnL commented on #9344
cc @peterjc123

[2018-07-11 16:57] paulrox opened #9349 "[Caffe2] Can't find Caffe2<->ONNX conversion tools"
Hi,

I have some problems finding the `convert-caffe2-to-onnx` and `convert-onnx-to-caffe2` tools.
In the past, I installed those tools from the [onnx-caffe2 repository](https://github.com/onnx/onnx-caffe2) without any problems. Now, this repository has been deprecated and it has been merged inside Caffe2.

I expected to find both tools along with the Caffe2 installation but (at least for me) this

[2018-07-11 17:04] pjh5 commented on #9181
There's a few confusions here.

- virtualenv only creates Python virtual environments. The "Anaconda Python or virtualenvs" section in https://caffe2.ai/docs/faq.html#null__how-do-python-installations-work explains what a Python virtual env is. Python virtual envs allow you to have separate Python installations that each have their own Python packages that don't affect each other. pip, conda, and

[2018-07-11 17:05] zou3519 commented on #9129
Can any of you reproduce this in a docker image? That would be helpful for debugging.

A stack trace of the segfault would be great as well; if you do something like
[code]
and then type "backtrace" when it crashes.

[2018-07-11 17:10] zou3519 commented on #9348
Relevant repro:
[code]

[2018-07-11 17:21] apaszke commented on #7851
This is fixed in master.

[2018-07-11 17:21] #7851 closed

[2018-07-11 17:40] pjh5 commented on #9257
Are you submodules fully updated? Use `git submodule update --init --recursive` to update them.

We are trying to keep the exact same installation instructions working as we integrate Caffe2 into Pytorch. For example, `python setup.py install` will still install Pytorch correctly. If you also want to build Caffe2, then you can use `FULL_CAFFE2=1 python setup.py install` to build all of Caffe2 alon

[2018-07-11 17:46] pjh5 commented on #9180
Closing as duplicate of #9181

[2018-07-11 17:46] #9180 closed

[2018-07-11 17:52] pjh5 commented on #9165
I will continue this in #9166 because there is more output there to work with.

[2018-07-11 17:52] #9165 closed

[2018-07-11 17:56] pjh5 commented on #9235
If you do not need nnpack then you can just turn it off by passing -DUSE_NNPACK=OFF to cmake.

Can you update to the latest code, clear out the build directory and old Caffe2 and Pytorch installations, and try again? This time pass VERBOSE=1 to your make command like `make VERBOSE=1 install -j8 |& tee out_make` and then upload the out_make file?

[2018-07-11 17:57] neherh opened #9351 "[feature request]- torchvision.transforms.ColorJitter Enhancement"
Currently, the ColorJitter function only takes in a single float value for the parameters brightness, contrast, saturation and hue. The value is chosen uniformly from  [max(0, 1 - brightness), 1 + brightness] (minus hue). What would improve this function is to be able to set your min and max bounds by inputting a tuple as a parameter.

[2018-07-11 18:01] thuyen opened #9353 "[Caffe2][Feature Request] Sharing scalars between an Op and its GradientOp"
I am writing an custom Op in caffe2 and couldn't find a way to share scalar information between the forward and backward pass. Right now I would need pass a giant tensor `X` to GradientOp in order to use its shape `X.size()`.

It would save a lot of memory if we can free `X` in the forward pass and just share some scalars with the GradientOp.

[2018-07-11 18:03] pjh5 commented on #9166
Can you post your cmake output? See https://caffe2.ai/docs/faq.html#what-is-the-cmake-output

[2018-07-11 18:08] pjh5 commented on #9201
Why do you want to build without using our third_party?

We populate third_party with git hashes that we test against and that we're sure work. For most of the packages, third_party is a fallback, and cmake will preferentially find packages in CMAKE_PREFIX_PATH or in system paths before finding them in third_party. More often then not, this causes problems for people when cmake picks up a system p

[2018-07-11 18:18] vishwakftw commented on #9351
Please open this issue in [vision](https://github.com/pytorch/vision).

[2018-07-11 18:32] ybzhou commented on #9326
did you test on MacOS? I tested with both python 3.6.5 and 3.6.6 from conda and get the same problem. The code passes on Linux though.

[2018-07-11 18:38] xtannier commented on #9129
Here are two traces.
The first one for
[code]
[test-import-fasttest-import-torch.txt](https://github.com/pytorch/pytorch/files/2185753/test-import-fasttest-import-torch.txt)
Note that this one looks for files in the directory `/opt/conda/conda-bld/pytorch_1524586445097/work/third_party/pybind11/include/pybind11/detail/`, that do not exist.

(It may be important to notice that I created my local co

[2018-07-11 18:40] ybzhou commented on #9326
In addition, if I change W to 161, on Linux it also fails. I would think it will fail on more values of W and different kernel sizes.

[2018-07-11 19:18] pjh5 commented on #9092
@peterjc123 Orion and I don't have much experience with Windows. Do you have any ideas how to tell what is causing most of the exported symbols and where/how we should start limiting these?

[2018-07-11 19:55] diggerdu commented on #3420
@edchengg
https://github.com/diggerdu/PyTorch-LipNet/blob/master/models/pix2pix_model.py#L58
https://github.com/diggerdu/PyTorch-LipNet/blob/master/models/pix2pix_model.py#L181

[2018-07-11 20:38] mhusseinsh commented on #9344
Hello @peterjc123, @SsnL  ,

I checked your solution [there](https://gist.github.com/peterjc123/6b804651288e76db7b5fabe5348e1f03), and I followed it, and also it didn't make a difference
I uninstalled python 3.6, and installed 3.5, but also the same
Below is my comment and result
-----------------------------------------------------------------------------------------------------------------------

[2018-07-11 20:47] mavenzer opened #9356 "RuntimeError: cuda runtime error (8) : invalid device function at /opt/conda/conda-bld/pytorch_1518243271935/work/torch/lib/THCUNN/generic/Threshold.cu:34"
[forums](https://discuss.pytorch.org/).

If you are submitting a bug report, please fill in the following details.
I am using linux machine with ubuntu in it .
Ubuntu Version 16.04 lts
NVIDIA  930mx
Nvidia driver version :  384.184

## Issue description
RuntimeError: cuda runtime error (8) : invalid device function at /opt/conda/conda-bld/pytorch_1518243271935/work/torch/lib/THCUNN/generic/Thresho

[2018-07-11 20:52] jramseyer commented on #8518
Hey @jamesr66a are you still seeing these test failures?  I just re-ran the tests, and these tests pass for me now.

[2018-07-11 21:03] jamesr66a commented on #8518
@jramseyer yes still seeing it. Make sure you remove the entry for e.g. `test_permute_scalar` from the autogen test blacklist before running: https://github.com/pytorch/pytorch/blob/master/test/test_jit.py#L4574

[2018-07-11 21:42] weiyangfb commented on #9129
@xtannier Thanks for the gdb trace! Could you try creating a new conda env without `-p`, and then install both of pytorch and fastText from source?

[2018-07-11 21:59] zou3519 commented on #9310
https://stackoverflow.com/questions/23250863/difference-between-pthread-and-lpthread-while-compiling

`-lpthread` and `-pthread` seem to both be valid, with some stackoverflow sources saying that `-pthread` is more portable.

I'm not sure if `-lpthreads` (with the s) is a thing though; that might be the problem with this error

[2018-07-11 22:04] zou3519 commented on #9310
@xypron could you post a full build log?

[2018-07-12 00:32] Balandat commented on #678
Looks like there currently is no implementation of the (log-) multivariate Gamma function? That would be useful for implementing Wishart / inverse Wishart distributions. Any plans to add this?

The straightforward way to do this would be to reduce it to multiple `lgamma` evaluations using the identity 35.3.4 from https://dlmf.nist.gov/35.3. I'm not sure how numerically stable that is, but it doesn

[2018-07-12 00:44] peterjc123 commented on #9344
@mhusseinsh Well, in your first example, Python is located in `C:\Program Files (x86)\Microsoft Visual Studio\Shared\Python36_64`. But in the second step, you checked the python instance in `C:\Python36\`. It seems PyTorch was installed in the first environment, but the PATH for the first python environment is not checked.

[2018-07-12 01:07] peterjc123 commented on #9092
@pjh5 @orionr Here is the full [list](https://gist.github.com/peterjc123/8cc18c15af402b1b320bd307a58ea26c) of the exported symbols. I hope that it's helpful. I skimmed the list and saw `kernelPointwiseApply2,3,4` takes a large part.

[2018-07-12 01:46] JerryShih commented on #9258
#9259 was merged.

[2018-07-12 01:46] #9258 closed

[2018-07-12 01:57] soumith commented on #9338
closing based on @fmassa 's comment. Agree with him.

[2018-07-12 01:57] #9338 closed

[2018-07-12 02:08] soumith commented on #9332
@vishwakftw would you be interested in implementing this?

[2018-07-12 02:10] soumith commented on #678
@Balandat would you open a separate issue for that request. cc: @vishwakftw and @alicanb on any interest in implementing @Balandat 's request.

[2018-07-12 02:11] anancds commented on #8987
I run python setup.py install  and had the same issue

[2018-07-12 02:12] vishwakftw commented on #9332
I could have a look at it and let you know in a day or two, if that's fine.

[2018-07-12 03:17] Balandat commented on #9332
As I said, I have a cython implementation must of which is plain C, so porting that shouldn't be all that bad.

[2018-07-12 03:19] jiapei100 commented on #9235
The uploaded **final ERROR** can be solved by [https://github.com/pytorch/pytorch/issues/8788](https://github.com/pytorch/pytorch/issues/8788) .

So, must current pytorch **NOT** be built with **GCC 7.3.0** ?

Thank you
Pei

[2018-07-12 03:42] ujsyehao opened #9373 "[caffe2] caffe2 install tutorial error: no module named hypothesis, cannot import_name caffe2_pb2"
In relu_op_test.py,
 `from hypothesis import given`, so we should **pip install hypothesis first**, but
![175](https://user-images.githubusercontent.com/17454232/42611262-d594d114-85c7-11e8-8bb8-0fa34bfdcaf3.png)
the tutorial doesn't say anything about hypothesis.

![176](https://user-images.githubusercontent.com/17454232/42611312-02076a9a-85c8-11e8-8302-773ec6672341.png)
When I `cd pytorch` and `

[2018-07-12 03:43] SsnL commented on #9351
See @vishwakftw 's comment above. Thank you!

[2018-07-12 03:43] #9351 closed

[2018-07-12 03:46] orionr commented on #9092
Thanks @peterjc123 - that is. Also cc'ing @ezyang and @zdevito since it looks like this is ATen.

[2018-07-12 03:49] aswin1980 commented on #9099
@MatthewInkawhich Thanks for the info. I will check it.

[2018-07-12 04:12] YuMing-Chang opened #9375 "[Caffe2] Not handle attribute 'spatial' of ONNX operator 'BatchNormalization'"
## Issue description

If I run a ONNX model contains 'BatchNormalization' operator and it has 'spatial' attribute, caffe2 will give me an error message:
[code]

I found that caffe2 do not handle attribute 'spatial' in Caffe2Backend::CreateBatchNormalization:
[code]

[2018-07-12 05:08] mhusseinsh commented on #9344
@peterjc123 so how to get pytorch installed in the second environment ? and let it read from there
After changing to python 3.5, and reinstalled torch. I got this error

[code]
and these are my environments
[code]

[2018-07-12 05:11] peterjc123 commented on #9344
@mhusseinsh And also `C:\Python35\Library\bin`.

[2018-07-12 05:15] mhusseinsh commented on #9263
hello @JafferWilson did you solve your problem ? I already have the same

[2018-07-12 05:21] mhusseinsh commented on #9344
@peterjc123 wow, now it works 👍  Thanks a lot. I was really stuck in this for so long

[2018-07-12 05:45] peterjc123 commented on #9344
@mhusseinsh Would you please close this issue?

[2018-07-12 05:46] #9344 closed

[2018-07-12 05:49] t-vi commented on #8653
I took a look here.
It is difficult to use docstrings + sphinx here for the properties using the ContextProp class - I haven't found a way trying docstrings in various forms and suggestions I found. My impression is that with the module replacement trick, ContextProp could be replaced by regular properties (I tried and it seemed to work), would that be OK, @ezyang ?

[2018-07-12 06:01] Balandat opened #9378 "[feature request] Multivariate Gamma function"
Looks like there currently is no implementation of the (log-) multivariate Gamma function? That would be useful for implementing Wishart / inverse Wishart distributions.

The straightforward way to do this would be to reduce it to multiple `lgamma` evaluations using the identity 35.3.4 from https://dlmf.nist.gov/35.3. For a float `a` the `p`-dim multivariate Gamma function in python is just

[code

[2018-07-12 06:01] Balandat commented on #678
Sure, new issue here: #9378

[2018-07-12 06:16] alicanb commented on #9378
Wishart (+multivariate lgamma) is on the to-do list https://github.com/probtorch/pytorch/issues/94, we haven't been able to get to it yet 😄 If you already have an implementation/ would like to take it on, you're definitely more than welcome.

[2018-07-12 06:29] JafferWilson commented on #9263
@mhusseinsh No sir it didn't work for me the same error.

[2018-07-12 07:07] bhushan23 commented on #9326
I am able to repro issue with Python 3.6 TOT master
But, I mismatch is at different place than stated above but consistent across runs.
Understanding the root cause

[2018-07-12 07:13] JafferWilson commented on #9263
[code]
The above output is what I got. Please check it @peterjc123

[2018-07-12 07:35] peterjc123 commented on #9263
@JafferWilson There're two environments. One is pure python `C:\Python35` and the other is Anaconda3 `C:\Users\aims\Anaconda3`. Since you've got Anaconda, why don't you install torch into Anaconda directly: `conda install -c pytorch pytorch-cpu`?
If you stick to use the first environment, you should list the dirs of it in front of those of the Anaconda environment.

[2018-07-12 07:49] JafferWilson commented on #9263
@peterjc123  I didn't got your point

What does it means?
Anaconda is something that I have I stalled after no solution available for my previous problem. But I am not using anaconda anyways. I just kept Anaconda in case if nothing worked then I need to go on for Anaconda which is not my choice to do work. I try to keep everything in the local environment then to go for a virtual env.

[2018-07-12 08:09] peterjc123 commented on #9263
@JafferWilson What is your PATH? Suppose it is `abcdasdjsakdkasjkdjaskd`, then it should be `C:\Python35;C:\Python35\Scripts;C:\Python35\bin;C:\Python35\Library\bin;abcdasdjsakdkasjkdjaskd`.

[2018-07-12 08:30] Rahul-Venugopal commented on #8987
I run python setup.py install and had the same issue

[2018-07-12 08:34] SsnL commented on #9356
Can you try 0.4?

[2018-07-12 08:42] peterjc123 commented on #9263
@JafferWilson Then could you try the following steps?
1. Install intel-openmp `pip install intel-openmp mkl`
2. Check iomp5 library existence
[code]
3. Install VC 2017 Redist https://aka.ms/vs/15/release/VC_redist.x64.exe
4. Check VC 2017 library existence `where api-ms-win-crt-utility-l1-1-0.dll`

[2018-07-12 08:58] xtannier commented on #9129
Interestingly pytorch `python setup install` from sources failed (I followed the instructions here https://github.com/pytorch/pytorch#from-source) while it works on my laptop. Could it be related?
Here is the log
[out-install-pytorch.txt](https://github.com/pytorch/pytorch/files/2187844/out-install-pytorch.txt)

Anyway I'll continue to investigate why it failed to compiled.

[2018-07-12 09:02] pyaf commented on #1355
If you are using collate_fn, and num_workers>0 with PyTorch version < 0.4:

MAKE SURE YOU DON'T RETURN ZERO DIM TENSORS FROM YOUR `__getitem__()` FUNCTION.
OR RETURN THEM AS NUMPY ARRAYS.

[2018-07-12 09:07] jiapei100 commented on #9235
@pjh5
Followed by what you said, my current [out_make](https://pastebin.com/hVUm7KbK)

[2018-07-12 11:47] SsnL opened #9381 "[doc] many losses still mention size_average in formula"
e.g., see equation of https://pytorch.org/docs/master/nn.html#torch.nn.KLDivLoss

@li-roy

[2018-07-12 12:08] JafferWilson commented on #9263
I tried But see what I got:
[code]

[2018-07-12 13:00] peterjc123 commented on #9263
@JafferWilson  Would you please restart the cmd window and do `echo %PATH%`?

[2018-07-12 13:04] elimohl opened #9382 "tensor.chunk returns wrong number of chunks"
## Issue description
Number of chunks generated by `torch.chunk` doesn't match `chunks` parameter.

## Code example
[code]

## System Info
PyTorch version: 0.4.0
Is debug build: No
CUDA used to build PyTorch: 8.0.61

OS: Debian GNU/Linux unstable (sid)
GCC version: (Debian 7.3.0-24) 7.3.0
CMake version: version 3.11.2

Python version: 3.6
Is CUDA available: Yes
CUDA runtime version: 9.1.85
GPU mod

[2018-07-12 14:24] vadimkantorov opened #9383 "[docs] Make clear the format of torch.eig eigenvalues"
The second dimension must be for the complex imaginary part, but it is not clear in the docs.
[code]

Currently in https://pytorch.org/docs/master/torch.html?highlight=eig#torch.eig:
`e (Tensor): the right eigenvalues of a` without specified shapes

[2018-07-12 14:25] sumrania commented on #6131
I downgraded mkl to 2018.0.1 by using `conda install mkl=2018.0.1` and it worked.

[2018-07-12 14:41] vadimkantorov opened #9384 "[pytorch] Intel MKL ERROR when doing torch.eig on a CUDA tensor"
[S.pt7.gz](https://github.com/pytorch/pytorch/files/2189021/S.pt7.gz)

What does this error mean and why is MKL involved in computing eigendecomposition of a CUDA tensor (the result tensor is also on CUDA)?

[code]

[2018-07-12 14:51] vadimkantorov commented on #9384
It seems this error comes out from MAGMA. A side question: should not PyTorch manage how downstream libraries report errors? should this not be a full-blown PyTorch error?

[2018-07-12 15:20] zuoxingdong opened #9386 "[Feature request] Add `Tensor.device_as`"
When we want to create a tensor in the middle of training process, because of consistency of `dtype` and `device`, it would be very nice to support a function `Tensor.device_as`, similar to that of `Tensor.type_as`

[2018-07-12 15:49] Balandat commented on #9332
cc @kkashin

[2018-07-12 16:04] jramseyer commented on #8518
I'm confused here--are these the test failures in test_jit or test_autograd?  Seems like autograd and jit share test names, and they pass in autograd but are blacklisted in jit.  The issue was opened for autograd, though.

Is test_jit running test_autograd's tests?

(Sorry for the questions; I'm new to the project).

[2018-07-12 16:18] SsnL commented on #9386
`a.to(b.device)` is of the same length. is there anything wrong with it?

[2018-07-12 16:19] SsnL opened #9390 "[docs] formula in BCEWithLogitsLoss"
https://pytorch.org/docs/master/nn.html#torch.nn.BCEWithLogitsLoss

[code]

[2018-07-12 16:25] jamesr66a commented on #8518
Hey @jramseyer, admittedly this is confusing. I made these tasks before Zach had made some revisions to the tests and moved them to test_jit. So ignore the fact that the issue says `test_autograd`, it's in fact talking about the failure in test_jit

[2018-07-12 16:34] anshulpaigwar opened #9391 "backward pass different behaviors with inplace operation"
## Issue description
Strange behaviour with inplace operation in the backward pass

## Code example

Using sigmoid function and then inplace operation raises the error on backward pass

[code]

inplace operation here does not raise the error on backward pass:

[code]

## System Info

PyTorch version: 0.4.0
Is debug build: No
CUDA used to build PyTorch: 8.0.61

OS: Ubuntu 16.04.4 LTS
GCC version: (

[2018-07-12 16:34] Amir-Arsalan commented on #9289
@soumith @ngimel Do you think this could be happening because the latest version of CUDA/CuDNN might have some dependencies on driver version? I know the latest driver version for Ubuntu is 390.67 but the one that I'm using is 390.48.

[2018-07-12 17:16] jramseyer commented on #8518
Ah, okay, I understand.  Thanks for the explanation!  I'll un-blacklist and try to fix the test_jit behaviors.

[2018-07-12 17:49] pjh5 commented on #9181
For your last error, see https://caffe2.ai/docs/faq.html#token-is-not-valid-in-preprocessor-expressions

[2018-07-12 17:51] pjh5 commented on #9235
Judging from this thread it seems like there might be an incompatibility between gcc 7 and CUDA 9 https://devtalk.nvidia.com/default/topic/1032269/cuda-9-gcc-7-compatibility-with-nvcc/ , but I have not tested this myself yet.

[2018-07-12 18:44] #8714 closed

[2018-07-12 18:49] jramseyer commented on #8518
Can you point me to where we define tuples?  I've been unable to find it.

Quick question: what's the desired behavior here?   Do we want to add support for empty tuples "()" or to fail when parsing them?  Supporting () makes sense to me.

[2018-07-12 18:53] LingxiaoShawn commented on #821
Can anyone explain why pytorch is designed to use new function object every time?
What if I have some data want saved in function initialization?
I think put that data inside class __init__, and use the same function object all the time can be much cleaner.

[2018-07-12 18:54] vadimkantorov opened #9395 "[pytorch] Strange tensor printing behavior"
Is there any reason the second tensor is printed as _exactly_ zero?

Seems scientific notation is enabled for some cases, but gets disabled past some number (why 2e-5 is worse than 1e-5?)

Stumbled on this while examining some tensor which appeared to be all zeros, except in fact none of the elements were zero.

[code]

at 0.5.0a0+8d38460

[2018-07-12 19:00] yjxiong commented on #821
I guess Function is a pure operator without any internal state. Any data should be fed as input to it. If you want to save some state information you can make a module that saves the state data and give that as input to the function object.

[2018-07-12 19:03] vishwakftw commented on #9395
Try `torch.set_printoptions(precision=5)`. It should give the correct output.

However, there is a nit in the docs, the default value of precision seems to be 4.

[2018-07-12 19:05] vishwakftw commented on #9395
That being said, I find some inconsistencies in the printing format, similar to @vadimkantorov's report:
[code]
Here the `precision` was set to 5.

[2018-07-12 19:10] vadimkantorov commented on #9395
Here: https://pytorch.org/docs/master/torch.html#torch.set_printoptions
it says "precision – Number of digits of precision for floating point output (default = 8)." which made me think the default was actually 8 (and I didn't find any `torch.get_printoptions`)

It also seems quite strange that 1e-05 and 2e-05 get printed differently at precision 4, since the number of digits to be printed in scien

[2018-07-12 19:10] LingxiaoShawn commented on #821
@yjxiong Thank you for your quick response. However, I can't use module since I want to define my own backward gradient. And module is mostly for neural network operation, I'm coding a normal function that based on pytorch tensor. And if the problem is happened only with parallel setting, maybe we can use as that way right, in single GPU?

[2018-07-12 19:15] yjxiong commented on #821
You can code your bp in your Function and make a Module to use that function. This is the standard pattern you can find in Pytorch tutorials.

[2018-07-12 19:15] vishwakftw commented on #9395
In `torch/_tensor_str.py`, you can find the default options.

[2018-07-12 19:16] jramseyer commented on #8755
I can take a look!

Is the desired behavior just: don't throw the error?  Are we expecting it to be either of defined or a variable?

[2018-07-12 19:21] LingxiaoShawn commented on #821
@yjxiong Let say that I want to wrap a decision tree as a function, then I need to access the tree data in order to define the function. So my problem is that define the Function need to access the data. I guess that I should try put it into init first, and use the same function object all the time. I'm not sure if this is the right way to do that but I will try first to say if it will have error.

[2018-07-12 19:23] jamesr66a commented on #8518
Sure,

* Here's where we convert a python AST Typle node into a ListLiteral tree view: https://github.com/pytorch/pytorch/blob/feaee219688c771a12a20cfa001495411ae735f8/torch/jit/frontend.py#L432. Afaict that's already correct
* In the string frontend parser, I believe we'll hit this case when parsing that tuple argument https://github.com/pytorch/pytorch/blob/feaee219688c771a12a20cfa001495411ae735

[2018-07-12 19:43] LingxiaoShawn commented on #821
https://github.com/pytorch/pytorch/blob/master/torch/nn/_functions/thnn/normalization.py

[2018-07-12 20:20] xtannier commented on #9129
No, I built from the github repo (`git clone --recursive https://github.com/pytorch/pytorch`).
I'm pretty sure I followed strictly the instructions from https://github.com/pytorch/pytorch#from-source.

I suspect a problem with the cluster installation, but I don't really know what to do at this point.
pytorch installed from conda works like a charm without fasttext

[2018-07-12 21:06] weiyangfb commented on #9129
I see, I think you are doing it correctly! And I just tried using `conda install pytorch`, it works fine too. Also, not 100% sure but this issue #358 might be related

[2018-07-12 21:34] elimohl commented on #9382
@gchanan `numpy.split` is equivalent to `pytorch.split` not to `pytorch.chunk`.
But Numpy can split array of size that is not divisible by the number of chunks with `numpy.array_split`: https://docs.scipy.org/doc/numpy/reference/generated/numpy.array_split.html

[code]

[2018-07-12 21:43] gchanan commented on #9382
Numpy.split isn't equivalent to either, but it's closer to torch.chunk (the parameters are number of splits/chunks, not sizes).  Thanks for the pointer to array_split, we should use those semantics if the sizes aren't divisible.

[2018-07-12 22:04] Amir-Arsalan commented on #9289
@soumith I am getting the exact same error message when trying to do a forward pass on a Lua Torch model after converting its modules to CuDNN modules. Do you think this could be related?

[2018-07-12 23:48] denjots opened #9404 "Segmentation fault with large dilated Conv2d"
## Issue description

Pytorch 0.4.0 gives a segmentation fault with dilated 2D convolutions over a specific size.

## Code example

import torch
import torch.nn as nn
model = nn.Conv2d(in_channels=64, out_channels=64, kernel_size=5, dilation=2)
model(torch.zeros([1, 64, 1166, 1166]))  # This runs
model(torch.zeros([1, 64, 1167, 1167]))  # This crashes

## System Info

PyTorch version: 0.4.0
Is deb

[2018-07-13 00:18] soumith commented on #9289
@Amir-Arsalan I wouldn't rule out driver upgrade solving the issue.

[2018-07-13 00:35] vadimkantorov opened #9406 "[pytorch] [feature request] Pairwise distances between all points in a set (a true pdist)"
Currently [F.pairwise_distance](https://pytorch.org/docs/stable/nn.html?highlight=pairwise#torch.nn.functional.pairwise_distance) and [F.cosine_similarity](https://pytorch.org/docs/stable/nn.html?highlight=pairwise#torch.nn.functional.cosine_similarity) accept two sets of vectors of the same size and compute similarity between corresponding vectors.

However, it's often useful to compute pairwise

[2018-07-13 00:40] zasdfgbnm opened #9407 "[feature request] Make `torch.gather` broadcastable."
Currently, `torch.gather` does not broadcast. For example:
[code]
gives
[code]

But

[code]
and
[code]
gives runtime errors.

It would be more convenient to allow broadcasting on every dimension except the dim specified as the second argument in gather, so that the above two codes can give the same result as the first code.

Does this proposal sound good? If yes, I can work on it.

[2018-07-13 00:55] Amir-Arsalan commented on #9289
I will give it a try in a few days.

[2018-07-13 00:58] zasdfgbnm opened #9408 "[jit][script] support tensor.expand([-1,-1,10,-1,-1])"
The topic of this issue has changed.

Original content:
~~Currently pytorch has `torch.expand` and `torch.expand_like`, which allow expanding the shape of a tensor to a fully specified shape(directly as in `expand` or indirectly as in `expand_like`). It would be more conveniently in some cases to write user code if we add a `torch.expand_dim`.~~

~~For example, if you have a tensor `(5, 3, 1, 4, 8

[2018-07-13 01:04] wanchaol opened #9409 "[JIT] batched tests called compiler when run every test cases individually"
[code]

[2018-07-13 01:10] zasdfgbnm opened #9410 "[feature request] Allow `torch.unsqueeze` to insert multiple new dims"
I suggest change the API of `unsqueeze` to `self.unsqueeze(dim, n=1) → Tensor` such that user can do a
[code]
rather than
[code]

[2018-07-13 01:10] pengwa opened #9411 "[onnx-caffe2] Caffe2 only supports padding 2D Tensor"
## Issue description

I run resnetv1-152 ONNX model with onnx-caffe2 backend, failed with below message:

errors thrown file https://github.com/pytorch/pytorch/blob/master/caffe2/onnx/backend.cc, seems the conversion for Pad is limited in current implementation.

## Code example

The ONNX operator for Pad is:

[code]

## System Info
Please copy and paste the output from our
[environment collection

[2018-07-13 01:16] weiyangfb opened #9412 "grad_fn of sparse tensor not displayed correctly"
The grad_fn are shown as Error when print a sparse tensor that requires_grad
[code]

Related codes are [here](https://github.com/pytorch/pytorch/blob/2ead3b0e54c0e53d3ab20c0b87a4aea873f6172d/torch/_tensor_str.py#L223-L227). How should I fix this? cc @colesbury

EDIT: `print(d.to_dense())` is legit since there is not grad_fn defined for `to_dense`, `print(d._indices().grad_fn)` and `print(d._values

[2018-07-13 01:32] soumith commented on #9391
this is fully expected.

`b` is needed to correctly compute the gradient of `a`. Hence, modifying `b` in-place cannot allow correct gradients to be computed for `a`.

[2018-07-13 01:32] #9391 closed

[2018-07-13 01:34] soumith commented on #9386
indeed, we made `to` the concise and powerful function to cover all of the typecasting / device-moving ops. I dont see a huge value in `device_as` vs a.to(b.device)`

[2018-07-13 01:34] #9386 closed

[2018-07-13 01:40] soumith commented on #9356
with 930mx, pytorch 0.3.1 wont work. This is because we didn;t ship for CUDA capability 5.0 support in 0.3.1 release.
0.4 release ships with 5.0 support, and hence will work without giving this error.

[2018-07-13 01:40] #9356 closed

[2018-07-13 01:52] cenaliu commented on #8987
I run python setup.py install and had the same issue

[2018-07-13 02:07] zasdfgbnm opened #9413 "[feature request] add `torch.find` to find the indices of values"
I'm suggesting to add the following operator to pytorch:
[code]
This operator outputs a long tensor of the same shape as the argument `tensor`, where the `result[i,j,..]` is the first index at vector `from_` whose value is the same as `tensor[i,j,..]`.

For example:
[code]
should give
[code]
If the pytorch team can confirm that this feature is helpful to add to pytorch, I will do the job of implem

[2018-07-13 02:08] apaszke commented on #8755
I think I accidentally hit this error during some other changes and found a solution, so it's possible this is already resolved.

[2018-07-13 02:11] apaszke commented on #821
@yjxiong is right. Functions are meant to be short lived (one application max!). Since this came out we've actually changed how functions work to make it clearer (`forward` and `backward` are now static methods), so this should be resolved now.

[2018-07-13 02:11] #821 closed

[2018-07-13 02:42] #3376 closed

[2018-07-13 03:11] ezyang commented on #9404
@SsnL, do you think this is the same as the segfault you showed me a week ago on convolution?

[2018-07-13 05:37] SsnL commented on #9404
@ezyang ah yes. int overflow. I only fixed conv3d because I didn’t want to hurt perf. I’ll fix all of them.

[2018-07-13 06:31] ustctf commented on #6469
Hi @kshitij12345 , really looking forward and appreciated for your implementation!

The double backward operator is becoming more and more important recently such as the usage in recent NAS work [https://arxiv.org/abs/1806.09055](url). To support double backward for Embedding is significantly desirable for NLP related tasks that are built upon these latest research.

[2018-07-13 07:16] xtannier commented on #9129
Do you mean #8358 (instead on #358) ?

[2018-07-13 07:19] weiyangfb commented on #9129
I meant this one: https://github.com/onnx/onnx/issues/358

[2018-07-13 07:44] anshulpaigwar commented on #9391
I agree @soumith for the first case but my doubt was shouldn't the second case also raise an error?? after all `b = a.sigmoid()` and `b = 1/((-a).exp()+1)` are the same so both the cases should raise an error

[2018-07-13 08:24] SsnL opened #9416 "[feature request] reshape_as"
we have view_as and expand_as

[2018-07-13 08:45] soumith commented on #9391
in the second case, b is the result of `1 / x`, and the derivative wrt `x` is `-1 / x^2`, which does not require `b` in the formula. In this case, if you make `c = ((-a).exp()+1); b = 1 / c` and then do an in-place operation on `c`, the backward will complain the same.

[2018-07-13 09:12] soumith commented on #9232
@yes7rose at the moment we dont have any plans to drop support for python 2.7 on Linux and OSX platforms. On Windows platform, we haven't supported 2.7 officially because of the reasons outlaid by peterjc123.

[2018-07-13 09:12] SsnL opened #9417 "[feature request] allow forward_pre_hook to "preprocess" input"
basically allowing returning new input tensor(s)

[2018-07-13 09:17] SsnL commented on #9417
we can raise if more than one such forward pre hooks are registered.

[2018-07-13 09:19] matthiasreisser opened #9418 "Segmentation Fault using dist.broadcast() with openmpi"
## Issue description

I am trying to run distributed pytorch using the mpi backend. In this specific minimal example, I am trying to broadcast a tensor from node 0 to node 1.
The example works fine when the tensor is living on cpu, however when trying to exchange the tensor between GPUs, I get a Segmentation fault. Please see below.

## Code example

[code]

When running `mpirun -n 2 segfault_demo

[2018-07-13 09:50] SsnL opened #9419 "weird error msg when using non-scalar tensor as int64"
[code]

cc @gchanan

[2018-07-13 11:43] MdAshrafulAlam opened #9420 "Anyone knows, how to update the module definition and patch the `state_dict` before loading loading a checkpoint for modules."
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

Provide a short description.

## Code example

Please try to provide a minimal example to repro the

[2018-07-13 13:29] anshulpaigwar commented on #9391
Now I get it thanks for explaining :+1:

[2018-07-13 14:05] Amir-Arsalan commented on #9289
@soumith @ngimel I tried with the latest driver but still get the same error. What else do you think could be potentially causing this?

[2018-07-13 15:20] vishwakftw commented on #9332
@Balandat could you point me to the Cython implementation? I am interested in getting an idea of how this would be implemented.

[2018-07-13 15:32] SsnL commented on #9420
can you use the template? there is no information about what you want.

[2018-07-13 16:04] apaszke commented on #8755
Yep, looks like #9414 fixes it.

[2018-07-13 16:13] colesbury commented on #9226
I'm not sure this should be a warning. It can happen at the end of an epoch where the left-over batch is much smaller.

[2018-07-13 16:21] Balandat commented on #9332
@vishwakftw, please see the attached files (should be `sobol.pyx` and `test_sobol.py`). At the core are the array literals defined up top, the actual logic is written in low-level C functions.

Calling `draw` on an instance of `SobolEngine` will generate points of a space-filling sequence. The important thing to note is that in order to continue filling the `[0, 1]^dimen` space "in between" the al

[2018-07-13 17:00] Amir-Arsalan commented on #9289
@soumith I also sent an email to _Felix Abecassis_ from NVIDIA and told him about this issue and asked him if he thinks the updates on CuDNN might be causing this. This is his reply:

I think what he means by image side is the Docker image.

[2018-07-13 17:50] ngimel commented on #9289
Have you tried official docker file (docker/pytorch/Dockerfile)? I've just rebuilt an image with it, it starts with `nvidia/cuda:9.0-cudnn7-devel-ubuntu16.04` image, the same you are using, has cudnn 7.1.4, and it works for me. The fact that you also have issues with lua torch points to the problems with your environment rather than cuda libraries.

[2018-07-13 17:54] ezyang commented on #5311
Thanks for the diagnosis. I'm going to look into it.

[2018-07-13 18:05] jramseyer commented on #8502
Hi, is this being worked on?  Else I can take a look.

[2018-07-13 18:30] Amir-Arsalan commented on #9289
@ngimel I didn't do this using the official Docker file but it looks like the [PyTorch Conda package](https://anaconda.org/pytorch/magma-cuda90) has been built about 5 months ago. Based on the above comment @soumith gave it looks like the pre-build packages of PyTorch use their own binaries for CuDNN. If that holds true for the Conda package, PyTorch will not use the CuDNN supplied through the off

[2018-07-13 18:31] jramseyer commented on #8518
Ah, this is very helpful!  Thank you very much!  Now I know where things are.  Thanks!

[2018-07-13 18:34] wanchaol commented on #8502
@jramseyer Hi Jenny, yes I am working on the fix, will send the PR out soon.

[2018-07-13 19:06] vadimkantorov commented on #9406
Also exists in MatLab: https://www.mathworks.com/help/stats/pdist.html

[2018-07-13 19:28] ezyang commented on #4560
Not happening.

[2018-07-13 19:28] #4560 closed

[2018-07-13 19:57] gchanan commented on #6469
@kshitij12345 are you still working on this?

[2018-07-13 19:57] ezyang opened #9430 "Port dropout to ATen"
Dropout is currently implemented in Python at `torch/nn/_functions/dropout.py`. We'd like it to be implemented as a native function in ATen as two functions: an out-of-place `dropout` and an inplace `dropout_`.

Reading material:
* How to add a native function: https://github.com/pytorch/pytorch/tree/master/aten/src/ATen/native/
* Derivatives are added in `tools/autograd/derivatives.yaml`
* You'll

[2018-07-13 20:10] soumith commented on #9430
FYI for anyone randomly stumbling on this. Do not work on this issue without telling us. We plan to assign this task to a particular person.

[2018-07-13 20:16] soumith commented on #9420
please use https://discuss.pytorch.org for questions.

[2018-07-13 20:16] #9420 closed

[2018-07-13 20:32] ngimel commented on #9289
The Dockerfile that I referenced builds pytorch from source using `nvidia/cuda:9.0-cudnn7-devel-ubuntu16.04` as the base image. It does not install pre-built conda package, and thus dynamically links to cudnn from base image (that is, cudnn 7.1.4). sorry, I don't have singularity environment to try your script.

[2018-07-13 20:34] soumith commented on #9289
@Amir-Arsalan please adopt the given Dockerfile to your singularity based env and see if it works out.

[2018-07-13 20:40] soumith commented on #9244
closing. See discussion on #9281 on why we wont implement this.

[2018-07-13 20:40] #9244 closed

[2018-07-13 20:48] ezyang commented on #6124
@isseu has kindly agreed to take this on. Here are some notes on how to implement:

1. We have a simple implementation of convolution by using im2col/vol2col to convert matrices into a Toeplitz matrix, and then doing a matrix multiplication to carry out the convolution. (If you don't see how this works, spend a little time with the matrices until you convince yourself it works :)
2. The CPU implem

[2018-07-13 20:57] vishwakftw commented on #9378
I can work on this. @soumith in `aten/src/ATen/native` there is no file open for miscellaneous math operations, so where can I put this?

[2018-07-13 21:02] ezyang commented on #9430
This issue is open season; anyone who is interested can take a crack at it :)

[2018-07-13 21:04] vadimkantorov commented on #9383
also eigenvectors shape isn't clear (are they returned as column or row vectors) and what is the sorted order of eigenvalues (descending or not)

[2018-07-13 21:06] c0nn3r commented on #9430
I would like to give this a try!

[2018-07-13 21:13] soumith commented on #9378
@vishwakftw `ATen/native/random.cpp` if you are adding rng functions, and `ATen/native/misc.cpp` otherwise, probably?

[2018-07-13 21:20] ezyang commented on #9406
@lena-kashtelyan has graciously agreed to implement this. Notes on how to implement this:

1. Decide how you want the API to look. You won't be able to add extra arguments to pairwise distance to directly add support for this, since pdist should take a single tensor, not a pair of tensors. SciPy's `pdist` function may not be a bad idea to emulate, but many of the metrics it supports are not implem

[2018-07-13 21:34] vadimkantorov commented on #9406
@ezyang `pdist` for two tensors is also often also useful, e.g. in case of matching sets of local descriptors in two images

[2018-07-13 21:47] #8774 closed

[2018-07-13 22:00] vadimkantorov opened #9433 "Build error: cannot find -lonnxifi_loader"
On master.

It also seems `python3 setup.py install` still tries to build Caffe2:
[code]

[2018-07-13 22:04] kshitij12345 commented on #6469
@gchanan yes i am still on it.
@ustctf Thank you for your kind words.. I ll give my best :)

[2018-07-13 22:06] vadimkantorov commented on #9433
As pointed out in https://discuss.pytorch.org/t/pytorch-build-compile-problem-cannot-find-lonnxifi-loader/20521/2, it is dangerous to just `git pull` without `git submodule update` (since new submodules could be added).

Maybe a foolproof check to build files that check that submodules have been checked out can be added, like that some main files in submodules exist or with `git submodule status`

[2018-07-13 22:07] vadimkantorov commented on #8996
(still happens on master)

[2018-07-13 22:14] gchanan commented on #9407
I think this would be useful.  You may want to look at my broadcasting notes: https://github.com/gchanan/pytorch/wiki/Broadcasting-Notes, which describes what to do with `torch.gather`.

[2018-07-13 22:18] gchanan commented on #9408
I think there are a couple of issues with this:
1) Naming: https://docs.scipy.org/doc/numpy/reference/generated/numpy.expand_dims.html already exists and does unsqueeze, basically.  Users aren't going to expect expand_dim to do what you are proposing here.
2) I don't really the see the use case; most of the time the expands happen implicitly, you rarely want to expand a single dimension explicitly

[2018-07-13 22:22] gchanan commented on #9410
I don't think the value is really there; you can already do something like:
[code]

[2018-07-13 22:22] #9410 closed

[2018-07-13 22:55] SsnL commented on #9226
@colesbury solid point... uhh, I really want to have an actual code warning if people try to use DP with suboptimal batch size because it seems that many users don't really understand DP and just treat it as a blackbox.

[2018-07-13 23:29] zasdfgbnm commented on #9408
@gchanan
1. I think we can name it `expand_at` instead
2. Explicit expand might be useful for ops that does not support broadcast, such as `stack`, `cat`. Also useful in JIT:
[code]
Currently it gives
[code]

[2018-07-14 00:12] zasdfgbnm commented on #9410
@gchanan
Hmmm, basically what I'm thinking was, I'm trying to JIT some code, below is a demo

[code]

Trying to script `f` would get a
[code]
and `g` looks really ugly...

[2018-07-14 01:46] vishwakftw commented on #4053
@apaszke I think this can be closed too.

[2018-07-14 02:05] peterjc123 commented on #9092
@ezyang @zdevito Any ideas on this?

[2018-07-14 02:19] bhushan23 commented on #8996
can you list down the command you used? I am not getting this warning but bunch of -Wno-absolute-value
I followed following- let me know if I am missing something

[2018-07-14 02:35] bhushan23 commented on #9430
I would like to take this one

[2018-07-14 03:13] nicebaby opened #9436 "[caffe2] error: ‘create’ is not a member of ‘cv::DualTVL1OpticalFlow’"
Hi,
 I try to install caffe2  on ubuntu16.04 by make ,and always displays this error:

/home/lyx/pytorch/caffe2/video/optical_flow.cc: In function ‘void caffe2::OpticalFlowExtractor(const cv::Mat&, const cv::Mat&, int, cv::Mat&)’:
/home/lyx/pytorch/caffe2/video/optical_flow.cc:10:43: error: ‘create’ is not a member of ‘cv::DualTVL1OpticalFlow’
   cv::Ptr<cv::DualTVL1OpticalFlow> tvl1 = cv::DualTVL

[2018-07-14 03:49] ezyang commented on #8518
@jramseyer You want to add a `Note [...]` about this in the first location you tried to find these docs at? :)

[2018-07-14 03:58] beichen2012 commented on #9207
if your `CMAKE_INSTALL_PREFIX` is `/usr/local`，the destination is:  `/usr/local/lib/python2.7/site-packages`, you can add the dictory to your PYTHONPATH.