[2020-06-29 08:15] quinor commented on #38788
Hi @ptrblck,

I am pretty convinced I should be using the native amp - as you can see I am running on the nightly binaries and lightning's amp implementation. Or did I not turn it on properly, where can you see that in the logs?

I am not using channels-last as it isn't supported yet. I am not using DDP. The model is pretty complex and I could send it to you privately if you want. As for the layer

[2020-06-29 08:19] ptrblck commented on #38788
I'm not seeing any logs, but referred to your information:

If you are using `opt_level='O2'`, then you would use apex/amp, not the PyTorch native implementation, as there are no opt levels.

"The model is pretty complex and I could send it to you privately if you want."
If your model code is not publishable in its current state, I would ask you not to send it to me for now.

We'll take a look at

[2020-06-29 08:42] Wenbin94 opened #40693 "why the value of print（model.state_dict().items()）different every time？"
the model weight after  quantification 。
code：
[code]
Run twice ，Partial result screenshot：

![20200629163939](https://user-images.githubusercontent.com/50608741/85992305-4279f080-ba27-11ea-953e-3afb9846ee9e.png)
![20200629164026](https://user-images.githubusercontent.com/50608741/85992310-4443b400-ba27-11ea-97d7-582e6510f2e7.png)

cc @suo @gmagogsfm @jerryzh168 @jianyuh @dzhulgakov @raghuramank10

[2020-06-29 08:46] MJITG commented on #40664
@Geeks-Sid In the case mentioned above, you can see there exist more params covering a wider area in conv2d compared to conv3d. In detail, conv2d has [C*D, C*D, 3, 3] kernel size while conv3d has [C, C, 3, 3, 3] kernel size. If D > 3, conv2d's computational complexity surpassed conv3d's.

[2020-06-29 08:50] MJITG commented on #40664
@soumith Could you plz help me figure it out?

[2020-06-29 08:59] quinor commented on #38788
Right, I believe this option is irrelevant then - I set it up in Lightning and didn't realize it's not passed to the native amp.

As for the model, the code has already been shared with Nvidia for different reasons, so it might be a feasible option if needed.

[2020-06-29 11:13] #39389 closed

[2020-06-29 11:35] vfdev-5 commented on #36035
Just checked DDP case single process multiple-devices use-case (https://github.com/pytorch/pytorch/pull/36503) and same issue persist for ParameterList/Dict.

<summary>

Code and output

<details>

[code]
Output
[code]

</details>
</summary>

User can fetch correctly all parameters with `.parameters()`, but ParameterList/Dict are only present on replica 0.

[2020-06-29 11:43] Nitya05 opened #40695 "Training on top of an already existing model in C++"
I am saving my model in Python using torch.jit.trace(model, example), and using this model in C++ for inference purpose. Is there a method by which I can train on top of this existing model in C++ itself? Or can it be done by Annotation instead of Tracing?

[2020-06-29 11:57] shuangjiexu opened #40696 "Trace model with floor, Inconsistent performance"
## 🐛 Bug

Traced model perform Inconsistent when floor

## To Reproduce

Steps to reproduce the behavior:

1. I have a separate file, you can run it in torch env:
[code]

I remove the `floor` in the network and results become right.
It seems that the boundary value (20.9999999999999 as an example), will be 20 by floor but 21 in traced model.

## Expected behavior

The data should have the same res

[2020-06-29 12:35] Tang-YH opened #40698 "Error in caffe2 when building pytorch from source"
## 🐛 Bug

While building pytorch from source, the script returns this error:
[code]

## To Reproduce

Steps to reproduce the behavior:

[code]

## Environment

[code]
I wasn't building pytorch with Anaconda, but the dependensies should be all installed.

cc @malfet @SsnL

[2020-06-29 13:48] zrss commented on #38572
/cc

[2020-06-29 13:59] Geeks-Sid commented on #40664
@MJITG Hi, This blog is written wonderfully, could you take a look [here](https://towardsdatascience.com/2d-or-3d-a-simple-comparison-of-convolutional-neural-networks-for-automatic-segmentation-of-625308f52aa7)?

[2020-06-29 14:29] SsnL commented on #20124
@antimora Yes I fully agree that it is bad practice. It was a decision we had to make because of the silent correctness issues. I vote for removing it. Let's see what @ezyang thinks!

[2020-06-29 14:29] #40119 closed

[2020-06-29 14:39] donglixp commented on #14461
scatter() might be influenced by the input data distribution. If the index is not evenly distributed, the speed would be very slow.

[2020-06-29 14:41] albanD opened #40701 "`.dim()` is not handled properly by the autograd codegen"
Having `self.dim()` in the autograd codegen currently saves `self` while only an int could be saved.
This is used in the repeat backward formula right now and can cause unexpected behavior (see forum [here](https://discuss.pytorch.org/t/expand-vs-repeat-used-within-backward-raise-error/87303))

A new special case can be added here: https://github.com/pytorch/pytorch/blob/b35cdc5200af963e410c0a2540

[2020-06-29 14:44] mrshenli commented on #40695
Hey @Nitya05, could you please use the [forum](https://discuss.pytorch.org/) for questions? I am closing this issue for now, but please feel free to open a new one if this turns out to be a bug report or feature request. Thanks!

[2020-06-29 14:44] #40695 closed

[2020-06-29 14:53] mrshenli commented on #40693
Hey @Wenbin94

I tried with simple linear layers but cannot reproduce it. Could you please share a min reproduce-able exmaple?

[code]

Outputs are:

[code]

[2020-06-29 15:12] mrshenli commented on #40690
Hey @Ze-Yang, setting `find_unused_parameters=True` in DDP ctor would avoid the error, but I don't think this is what you want. IIUC, the root cause is that `dist.all_gather` is not an autograd function, so that all operations prior to `all_gather` is not linked to the `out` tensor in the autograd graph. As a result, DDP would treat those tensors as unused parameters.

To address this problem, you

[2020-06-29 15:16] mrshenli opened #40702 "Implement autograd functions for c10d communication operations"
This is inspired by #40690 and other requests we saw before. Applications might want to use c10d operations (e.g., `all_gather`, `all_reduce`) in the forward pass and expect they been linked in the same autograd graph. This would require implementing autograd functions for c10d operations as what's done for `scatter` and `gather` in [nn/parallel/_functions.py](https://github.com/pytorch/pytorch/bl

[2020-06-29 15:16] mrshenli commented on #40690
Added a tracking issue at #40702

[2020-06-29 15:17] lukasfolle commented on #40667
How are the two GPUs connected? NVLink for RTX8000 seems some source of error #35870.

[2020-06-29 15:17] Ze-Yang commented on #40690
Thanks for your reply. I would try to manually implement the backward propagation.

[2020-06-29 15:18] mrshenli commented on #40683
Hey @nicksunyang, could you please use the [forum](https://discuss.pytorch.org/) for questions? I am closing this issue for now, but please feel free to open a new one if this turns out to be a bug report or feature request. Thanks!

[2020-06-29 15:18] #40683 closed

[2020-06-29 15:19] federicotomat commented on #19353
Hi @soumith,
I have the same problem but none of the solutions listed above works.
My problem consists in linking torch libraries in a project where another internal library is linked (YARP).

[2020-06-29 15:21] mrshenli commented on #40687
Adding this issue to triage review to discuss if we should add prefix to `LOG` and `CHECK` macros.

[2020-06-29 15:23] mrshenli commented on #40674
Hey @hyunjaecho94

The `.grad` field is set during the backward pass if they are not present. So if the `img_variable` is used during the forward pass, you should be able to access its `.grad` field after the backward pass.

[2020-06-29 15:24] mrshenli commented on #40674
Please use the [forum](https://discuss.pytorch.org/) for questions. I am closing this issue for now, but please feel free to open an new issue if this turns out to be a bug report or feature request.

[2020-06-29 15:24] #40674 closed

[2020-06-29 15:38] mrshenli commented on #40633
I confirm I can reproduce this error.

cc distributed oncall @agolynski, could you please help investigate why barrier failed if allreduce is not run on the new group?

[2020-06-29 15:58] SsnL commented on #40693
I think quantization must play a role in this issue...

[2020-06-29 16:03] nikitaved commented on #9983
When it comes to the matrix square root, would you be interested in the negative square root? I guess it is useful to have, especially for psd matrices, what do you think? It also makes the implementation a package deal if implemented via the matrix sign function.

[2020-06-29 16:05] vincentqb commented on #20124
Since the warning was added in 1.2 and we are now about to release 1.6, I also agree we can remove the warning to check this. I would make sure the documentation does specify the order though :) Thoughts?

[2020-06-29 16:06] ezyang commented on #38349
BTW, for the record, internally we still support tensors of strings, it is simply not exposed to the PyTorch frontend (for understandable reasons).

[2020-06-29 16:11] ezyang commented on #40659
These are all great issues, thank you for reporting them.

[2020-06-29 16:15] Lezcano commented on #9983
I have not looked into the implementation of the square root and related functions, but they would surely be very useful! I think that, if it's implemented in terms of the real Schur decomposition would allow to directly implement arbitrary fractional powers, although this could be a separate algorithm.

As PyTorch does not currently support complex numbers, this would have to be a real Schur deco

[2020-06-29 16:18] ezyang commented on #40701
Should be pretty easy to fix.

[2020-06-29 16:26] nikitaved commented on #9983
Amazing, but all these things can be implemented with a sign function (logarithm, fractional power,...)! So, to bring things to the table fast, I will probably concentrate on this path.

[2020-06-29 17:04] ezyang commented on #40687
cc @malfet but a recent PR improved this: #40491

[2020-06-29 17:06] gchanan commented on #40457
is there an issue for the intersection of this and HuggingFace Transformers?

[2020-06-29 17:11] malfet commented on #40687
Indeed this file just mimics the behavior of https://github.com/google/glog/blob/0a2e5931bd5ff22fd3bf8999eb8ce776f159cda6/src/glog/logging.h.in#L510
But we probably should not include this header from the top level header torch.h

[2020-06-29 17:12] ezyang commented on #40457
According to @ngimel, HuggingFace already has an update to deal with this BC breakage.

[2020-06-29 17:22] dashesy commented on #27265
I just noticed there is `torch.onnx.is_in_onnx_export()`. Is it equivalent to `torch._C._get_tracing_state()`?

[2020-06-29 17:26] spandantiwari commented on #38991
@houseroad Are there any plans for nn.Upsample to be deprecated/discouraged or will it stay alongside nn.Interpolate in perpetuity?

Also, @glenn-jocher - the PR for change in default has not made it to 1.6 branch yet. https://github.com/pytorch/pytorch/pull/39453 @houseroad @fmassa - can you please help merge this PR so that this can make it 1.6. Thanks.

[2020-06-29 17:44] ngimel commented on #40457
https://github.com/huggingface/transformers/pull/4300

[2020-06-29 17:46] AshkanAliabadi commented on #40668
https://github.com/pytorch/pytorch/pull/40707

[2020-06-29 17:49] mobassir94 opened #40711 "NaN when I use Group Normalization (GroupNorm)"
i was trying groupnormalization for efficientnet ,
my model code is :

[code]

with this model i get no error,everything works fine,however  i wanted to change all the batch normalization layers to group normalization layer like this :

[code]

# Train & Val
[code]
and now i am getting nan with that, after 1st and 2nd epoch i can see loss getting nan and after second epoch giving me this error : V

[2020-06-29 17:56] ngimel commented on #40664
Please use forums for general questions.

[2020-06-29 17:56] #40664 closed

[2020-06-29 18:01] #40393 closed

[2020-06-29 18:05] malfet commented on #39845
`add_subdirectory` failures  happened  because you have not checked out  sub-modules.
Please issue `git clone --recursive https://github.com/pytorch/pytorch` as recommended in https://github.com/pytorch/pytorch/#get-the-pytorch-source to check-out pytorch repository with its dependencies

[2020-06-29 18:05] #39845 closed

[2020-06-29 18:10] wanchaol commented on #40472
Please merge https://github.com/pytorch/pytorch/pull/40582 https://github.com/pytorch/pytorch/pull/40424 and https://github.com/pytorch/pytorch/pull/39601 (https://github.com/pytorch/pytorch/pull/40424 should come before https://github.com/pytorch/pytorch/pull/39601)

[2020-06-29 18:13] seemethere commented on #40472
Would you mind making the cherry pick PRs to `release/1.6`?

[2020-06-29 18:15] wanchaol commented on #40472
Yes sorry deleted that comment lol. I will create those cherry pick PRs :)

[2020-06-29 18:17] yf225 opened #40713 "Optional[Module] usage in TorchScript causes ASAN null-deref error"
The following TorchScript program seems to cause null-deref error in ASAN:
[code]
Error:
[code]
Curious is there a way to perform the same logic without causing ASAN null-deref error? Thanks!

cc @suo @gmagogsfm

[2020-06-29 18:25] vadimkantorov commented on #34951
I guess, this might also be useful for some pruning methods as well (those that keep topk largest weights). Of course more useful

[2020-06-29 18:32] bethebunny commented on #23352
Pytext has been using this implementation:
https://github.com/facebookresearch/pytext/blob/master/pytext/utils/lazy.py

Although I'm not longer actively contributing to the project and I don't know whether they're using it heavily, I have used this implementation for a number of side projects, including sequence classification and some GAN implementations, and they're quite ergonomic.

Basically,

[2020-06-29 18:43] wcneill commented on #15808
Is a solution to this going to be published? One that the average person can implement. talking about "Processes and threads" is not helpful without further explanation.

[2020-06-29 18:45] glenn-jocher commented on #38991
Thank you!

[2020-06-29 19:48] glaringlee commented on #40627
@nmerrill67
Pls try 'import torch' first, then 'import test_module'

[2020-06-29 19:55] nmerrill67 commented on #40627
@glaringlee Thanks for the reply. I have tried that in the past, and just tried it now again. It gives the same error. I also tried
[code]

Are you able to reproduce this error or is it just me?

[2020-06-29 20:15] glaringlee commented on #40627
@nmerrill67
I get the same error if import test_module only. But it works with 'import torch' first

[2020-06-29 20:18] nmerrill67 commented on #40627
How did you compile it?

[2020-06-29 20:19] glaringlee commented on #40627
@nmerrill67
[code]
I changed your file and module name to test_net, but basically same thing.

[2020-06-29 20:23] yashnv commented on #27176
Hello @lara-hdr, is this still an issue? The scale parameter still outputs as None and goes to the output-size scope for the default version of `upsample_nearest2d`.
As a workaround for exporting `torch.nn.functional.interpolate(x, scale_factor=2)`, I am using this before calling `torch.onnx.export`:

For opset11:
[code]
For opset10:
[code]

[2020-06-29 20:27] eellison commented on #40472
please merge https://github.com/pytorch/pytorch/pull/40645 (shape analysis fix for legacy fuser)

[2020-06-29 20:29] glaringlee commented on #40627
@nmerrill67
Here is the behavior in my ipython:
[code]

[2020-06-29 20:30] nmerrill67 commented on #40627
Thank you. I think I may have only tried the `import torch` with the cmake build, because I tried it again with the `setup.py` and it worked!

[2020-06-29 20:30] #40627 closed

[2020-06-29 20:46] agolynski commented on #40633
Seems like what happens here is rank 0 is no longer needed in your computation and it goes down. Behind the scenes, it brings down some structure (c10d store) that is needed for collective communication (this structure is tied to rank 0 as of now), see https://github.com/pytorch/pytorch/blob/6cb9e6b0158d3c9c0843c6c02335547a12217dfe/torch/distributed/rendezvous.py#L125.

There are 2 answers how to

[2020-06-29 20:46] pritamdamania87 commented on #40435
Fixed by https://github.com/pytorch/pytorch/pull/40495

[2020-06-29 20:46] #40435 closed

[2020-06-29 20:47] pritamdamania87 commented on #40453
Fixed by https://github.com/pytorch/pytorch/pull/40495

[2020-06-29 20:47] pritamdamania87 commented on #40453
Fixed by https://github.com/pytorch/pytorch/pull/40495

[2020-06-29 20:47] #40453 closed

[2020-06-29 20:47] pritamdamania87 commented on #40434
Fixed by https://github.com/pytorch/pytorch/pull/40495

[2020-06-29 20:47] pritamdamania87 commented on #40433
Fixed by https://github.com/pytorch/pytorch/pull/40495

[2020-06-29 20:47] #40433 closed

[2020-06-29 20:47] pritamdamania87 commented on #40378
Fixed by https://github.com/pytorch/pytorch/pull/40495

[2020-06-29 20:47] malfet commented on #40472
Please add corresponding PR/commit hash against master branch to the PR description.

[2020-06-29 20:50] #40223 closed

[2020-06-29 21:06] ezyang opened #40725 "torch/library.h bad error message when registering with explicit namespace"
[code]

I got this with

[code]

[2020-06-29 21:10] DenShlk opened #40726 "Arguments not valid android launch error"
I want to use [this](https://github.com/wolverinn/Depth-Estimation-PyTorch) model in my android app. But when I start the app it falls with an error. The model works fine on my PC.

## To Reproduce

Steps to reproduce the behavior:

1. Clone [repository](https://github.com/wolverinn/Depth-Estimation-PyTorch) and use instructions in readme to run the model.
2. Add code below to save the model
[code

[2020-06-29 21:11] christopherhesse commented on #40633
Thanks @agolynski, that does seem to avoid the error as well.  Before I close the issue, is there a way to tell the user to do that in this situation instead of printing Broken Pipe?

[2020-06-29 21:35] DenShlk commented on #40726
My pc PyTorch version was 1.5 and in dependences were 1.4. So solution is:

    implementation 'org.pytorch:pytorch_android:1.5.0'
    implementation 'org.pytorch:pytorch_android_torchvision:1.5.0'

[2020-06-29 21:35] #40726 closed

[2020-06-29 21:46] ezyang opened #40729 "Custom c++ extension build process doesn't preserve color from compiler"
When I work on torchvision I would like to see color from my compiler, but I don't have it.

[2020-06-29 22:13] glaringlee commented on #40663
@lawpdas
Do you have ninja installed?

[2020-06-29 22:37] ezyang opened #40736 "torch::autograd::Function should set AutoNonVariableTypeMode when running forward"
Currently, it does not, which means you cannot write idiomatic redispatch as:

[code]

You have to add the AutoNonVariableTypeMode guard yourself. This should have been taken care of in Function.

[2020-06-29 22:38] ezyang commented on #40736
Maybe this is intended behavior though: with the current behavior, you can write a complete forward-backward pass reentrantly inside of forward; but then simply define the double backwards formula directly. So maybe this is NOTABUG.

[2020-06-29 23:23] xwang233 opened #40744 "NameError: name 'get_fail_msg' is not defined, in test_dataloader.test_proper_exit"
See
https://github.com/pytorch/pytorch/blob/23db54acdf455866206d2de36c33fb75e177cb4c/test/test_dataloader.py#L1580-L1582

There is no definition for `get_fail_msg`. Besides, `self.fail` should be changed to `fail`?

cc @SsnL @mruberry

[2020-06-29 23:36] jiayisuse commented on #40702
That would be awesome if we can generalize autograd functions for c10d operations. TSC folks are manually implementing backward grad propagation for alltoall and reduce_scatter

[2020-06-29 23:40] kurtamohler commented on #24802
@nikitaved suggested that I try using an iterative approximation of the largest and smallest eigenvalues when `matrix_norm` is called with `p = 2`, rather than my current implementation which unnecessarily calculates every eigenvalue with SVD. With Nik's help, and after learning a bit more linear algebra, I wrote a proof-of-concept script to calculate these approximations for a range of matrix siz

[2020-06-29 23:44] rohan-varma commented on #40633
Wondering if it's worth it to have all participating ranks write to the store when they are ready to shutdown, and the owner for the store (rank 0) only proceeds if that is set? This would avoid the implicit assumption that rank 0 has to be manually kept alive for the entire duration of the program. It seems like it's something we should fix if the user has to ensure rank 0 is always kept alive (o

[2020-06-29 23:57] jerryzh168 commented on #40472
Please merge:
https://github.com/pytorch/pytorch/pull/40748
https://github.com/pytorch/pytorch/pull/40750
https://github.com/pytorch/pytorch/pull/40751
https://github.com/pytorch/pytorch/pull/40752

[2020-06-30 00:18] yf225 commented on #17492
@lxgyChen Since we don't support GCC on Windows, I believe there isn't a distinction between old vs. new ABI.

[2020-06-30 00:25] #40157 closed

[2020-06-30 02:13] Single430 opened #40756 "RuntimeError: rois.device().is_cpu() ASSERT FAILED at /vision/torchvision/csrc/cpu/ROIAlign_cpu.cpp:386"
## 🐛 Bug

[code]

## To Reproduce

Steps to reproduce the behavior:

1. `python /run/media/xxx/works/python/github/mmdetection/tools/pytorch2onnx.py configs/cascade_rcnn_r50_fpn_1x.py work_dirs/cascade_rcnn_r50_fpn_1xh/latest.pth --out model.onnx`

## Expected behavior

I am performing torch model to onnx
## Environment
[code]
## Additional context

[2020-06-30 02:30] jamesr66a commented on #40472
Please merge https://github.com/pytorch/pytorch/pull/40757

[2020-06-30 02:32] emcastillo commented on #40702
We have implemented this in [chainermn](https://github.com/chainer/chainer/blob/master/chainermn/functions/collective_communication.py)
I will try to make a port for these :)

[2020-06-30 04:37] anguoyang opened #40759 "Quantization support for F.Softmax"
## 🚀 Feature
Support the F.Softmax in quantization model

## Motivation
sometimes we need to add 2 tensors in quantized model, we could use torch.nn.quantized.FloatFunctional() , however sometimes we need F.Softmax on classification, then there is no such support, and the output is not within [0,1], it is not a big problem, but nice to support it.

[2020-06-30 06:12] nolifenameless commented on #36801
how about print out "setting up {}".format(self._testMethodName) in setup() stage? @ezyang

[2020-06-30 06:12] ngimel commented on #38057
@pinzhenx dilated convolutions with dnnl are now unconditionally enabled in #40483, did you fix the memory issues? Should dilated convolutions be guarded on dnnl version, and be enabled for 1.5 only?

[2020-06-30 06:16] mcarilli commented on #37735
After discussion with @ezyang we have a tentative plan to fix. Ed is laying the foundation in https://github.com/pytorch/vision/pull/2366, which updates `roi_align` to allow Pytorch's internal dispatcher to select different code paths.  The dispatcher knows about autocast, so I can register a code path that casts inputs if autocast is active, if @fmassa confirms this is a sensible approach.

The f

[2020-06-30 06:37] Wenbin94 commented on #40693
[code]
`============== 1st time ==================
0.6.1.conv1._packed_params
 tensor([ 48, 130,  39,  84,  16,   2,   0,   0,   1,  27, 208,  81,  16,   2,
          0,   0,  80, 172,  91,  79,  16,   2,   0,   0, 128,  57, 195,  89,
         16,   2,   0,   0, 128,  59, 195,  89,  16,   2,   0,   0, 128,  59,
        195,  89,  16,   2,   0,   0,  96, 151, 232,  86,  16,   2,   0,   0,
        1

[2020-06-30 06:45] panfengsu opened #40761 "Sparse Convolutional support"
hi,when pytorch can support sparse convolution in pytroch master?thanks.

[2020-06-30 06:51] WillemvJ commented on #38765
I had similar error as OP: /usr/lib64/libm.so.6: version "GLIBC_2.23" not found (required by ~/libtorch/lib/libtorch.so)

 Though my GCC is 7.3.0, using the non-ABI version resolved this for me; I could CMake, build, link, run with this version.

To me, it seems that  ABI version should also work for me since GCC is new enough. But this is on a cluster, so I doubt libm.so.6 is found on /usr/lib64/

[2020-06-30 06:54] pinzhenx commented on #38057
@ngimel It's been fixed on dnnl 1.4. You could simply verify it by this test

[code]

[2020-06-30 06:57] kingaza commented on #40361
got it.
thx

[2020-06-30 06:57] #40361 closed

[2020-06-30 07:02] nuka137 commented on #25888
From works for a week, I found it is difficult to expose hook function as simple as Python.

I think we need to add hook function call to [this method](https://github.com/pytorch/pytorch/blob/a371652bc85211a3967672bd0db5ece80f2ebae5/torch/csrc/api/include/torch/nn/pimpl.h#L118-L126) .
But inputs/outputs of `forward` function are not consistent, so we need to expose API arguments explicitly (or use

[2020-06-30 07:50] lawpdas commented on #40663
@glaringlee Yes, ninja 1.9.0 has been installed in my conda environment.

[2020-06-30 08:26] peterjc123 commented on #39394
Fixed by https://github.com/pytorch/pytorch/pull/40676.

[2020-06-30 08:26] #39394 closed

[2020-06-30 09:16] jobpasin commented on #7871
Don't know if there is a patch for this yet or not, but for those who use this code for LSTM, you need to change bias size from

`bias_ih = g.op('Constant', value_t=torch.zeros([3 * hidden_size], dtype=torch.float32))`
`bias_hh = g.op('Constant', value_t=torch.zeros([3 * hidden_size], dtype=torch.float32))`
to
`bias_ih = g.op('Constant', value_t=torch.zeros([4 * hidden_size], dtype=torch.float32))

[2020-06-30 09:26] vfdev-5 opened #40763 "Enhance supported types of functional.pad"
## 🚀 Feature

Currently, `torch.nn.functional.pad` does not support input tensors with dtype other than float32 or float64 for modes "replicate" and "reflect".

Method execution fails with error, for example :
[code]

Feature request is to improve the support for other types like uint8, long, etc

## Alternatives

We still can cast to float, perform the operation and recast back after to the origi

[2020-06-30 09:30] fmassa commented on #40763
I agree this would be very useful to have!

It should be as simple as replacing `AT_DISPATCH_FLOATING_TYPES` with `AT_DISPATCH_ALL_TYPES ` (or something like that).

I know there is an effort in making more data types be supported for some operations (like `torch.mean` on `uint8` types), so I believe this goes in line with this effort?

cc @mruberry

[2020-06-30 10:08] zjmtlab commented on #32765
Any solution or workaround for this issue? Seems I meet same issue with similar env. Thanks very much!

[2020-06-30 10:42] yl-to commented on #40227
@colesbury

[2020-06-30 11:10] mruberry commented on #40763
Note: https://numpy.org/doc/1.18/reference/generated/numpy.pad.html?highlight=pad#numpy.pad.

[2020-06-30 11:50] kshitij12345 commented on #40590
I guess the issue also affects the non-vectorised version as from the repro code above single element tensor also has the discrepancy which I think takes the non-vectorised path.
[code]

[2020-06-30 12:02] EvgenyM commented on #18626
+1

[2020-06-30 12:45] Laksh1997 opened #40767 "Einsum and BMM x50 slower on K80 CUDA + Half vs just CUDA"
## 🐛 Bug

Title says it all.

## To Reproduce

[code]

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0): 1.5.1
 - OS (e.g., Linu

[2020-06-30 12:47] eitanrich opened #40768 "pca_lowrank memory allocation"
The code below allocates a large amount of memory (same size as the input A) in order to subtract the mean.
This can probably be avoided...
https://github.com/pytorch/pytorch/blob/b9cca4b186797b4ccdc12197b3b71db94d8e2297/torch/_lowrank.py#L273

cc @VitalyFedyunin @ngimel

[2020-06-30 12:50] nicolasch96 opened #40769 "RuntimeError: The size of tensor a (2048) must match the size of tensor b (7) at non-singleton dimension 3 when resuming adam optimizer and model training"
## 🐛 Bug

Hello,
I am facing an issue when I load adam optimizer and or scheduler to resume my training. The bug happens on certain points of the training in the deeper epochs. early resume does not produce the error. So that means, some checkpoints does not produce this error.

Here is the error:
[code]

Here is my code:

[code]

When I comment the optimizer load state dict, the error disappears

[2020-06-30 12:56] eitanrich opened #40770 "Incremental version of pca_lowrank"
## 🚀 Feature
An incremental version of pca_lowrank - processing a mini-batch of samples in each iteration.
Similar to sklearn.decomposition.IncrementalPCA(), but in GPU.

## Motivation

The current implementation processes all the data in one go and can run quickly only if all the data fits into the GPU memory.

## Pitch

It is sometimes needed to perform PCA on a large dataset of images. Doing it

[2020-06-30 13:18] fmassa opened #40771 "[jit] round not equivalent between python and torchscript"
## 🐛 Bug

Originally reported by @vfdev-5  in https://github.com/pytorch/vision/pull/2342#discussion_r447587088

The behavior of `round` is not the same between torchscript and Python.
[code]
There are two differences: the value is different, but the returned type as well (float instead of int).

I'm using PyTorch version `'1.6.0.dev20200617'`

cc @suo @gmagogsfm

[2020-06-30 13:40] albanD commented on #25888
My guess is that some template magic will be needed here yes.
The main features that are needed here are:
- Call the user hooks before and after the forward call. One takes the `Args...` as input and the other one takes `torch::detail::return_type_of_forward_t<Contained, Args...>`.
- Allow the user to change the values in these hooks. This one I'm not sure how to do.

cc @yf225 do you have an idea

[2020-06-30 14:07] colesbury commented on #40770
For large problems you may also want to consider randomized PCA.

https://research.fb.com/blog/2014/09/fast-randomized-svd/
https://github.com/facebook/fbpca

[2020-06-30 14:13] colesbury commented on #40768
We would welcome a patch to improve the performance of pca_lowrank

[2020-06-30 14:15] colesbury commented on #40756
@fmassa I'm not sure if this is a bug in torchvision or in tracing

[2020-06-30 14:16] glaringlee commented on #40361
We should overload manual_seed() to support cpu or gpu only, this might be an onboarding task.

[2020-06-30 14:16] colesbury commented on #40761
@vincentqb do we have any plans to implement sparse convolution?

[2020-06-30 14:23] colesbury commented on #40767
The K80 doesn't have hardware support for accelerated half-precision operations. I think this is expected but cc @ngimel in case I'm missing something.

[2020-06-30 14:23] #40767 closed

[2020-06-30 14:29] glaringlee commented on #38765
@lanking520 @WillemvJ
Your libstdc++.so.6/libm.so.6 is too old, or the soft link pointed to an old version.  Get a newer version will solve your problem.

To check whether libstdc++.so.6 support specific GLIB, GLIBXXX and CXXABI version, run the following command and see whether the version is in the list:
strings <path to>libstdc++.so.6 | egrep "GLIBCXX_|CXXABI_"

To check libm.so.6
strings <path

[2020-06-30 14:35] colesbury commented on #40769
It seems like some important aspect of your model changes between checkpoints. From the error, it looks like the shape of the gradient average does not match the shape of the current gradient. There is not enough information here to know what's going on, so I'm closing the issue.

Please re-open if you're able to provide more information, such as a self-contained example that reproduces the error.

[2020-06-30 14:35] #40769 closed

[2020-06-30 15:06] nicolasch96 commented on #40769
Thank you for your reply. I have to mention that I extracted the current learning rate manually and redefined the optimized without leading its state dict and it worked. So I guess the problem is with the saved state dict of the optimizer.

Here is the model structure, it is a multiscale CNN model:
class Identity(nn.Module):
    def __init__(self):
        super().__init__()

    def forward(self,

[2020-06-30 15:10] ezyang commented on #40736
Some extra context from private correspondence:

Basically, in Python, torch.autograd.Function doesn't magically cause you to bypass dispatch to autograd. Therefore, C++ should behave the same way.

Well, not too long ago, there wasn't any such thing as "bypassing dispatch".

[2020-06-30 15:17] anjali411 commented on #40472
Please merge this doc fix: https://github.com/pytorch/pytorch/pull/40450

[2020-06-30 15:27] Borda commented on #32186
my issue was resolved by explicitly installing CPU version for a machine without GPU...

[2020-06-30 15:28] mcarilli commented on #40736
Thanks for following up!

hmm i don't think I understand what you mean.  Here's what I observe on a recent master:
[code]

[2020-06-30 15:31] vfdev-5 commented on #34837
Various padding mode of tensor can be also implemented with tensor indexing. And it would be very nice to have jit support for that too.

[2020-06-30 15:46] fmassa commented on #37735
This approach seems good to me

[2020-06-30 15:49] fmassa commented on #37735
@mcarilli also note that we might need to change `nms` as well, but it should be easy as there is no gradients assigned to it so it should be simpler to use the new registration mechanism

[2020-06-30 16:00] grohf opened #40784 "Missing ATen/native/cuda headers?"
I'm just curious if there is any particular reason for not including the ATen native cuda headers?
https://github.com/pytorch/pytorch/blob/a6a31bcd47094ecaa3a0a44644b86db985a051a3/aten/src/ATen/CMakeLists.txt#L371

I was toying around with fusing some element-wise operations in the TorchScript+libtorch tandem. So, I stumbled over CUDALoops.cuh etc. for some quick fusing tests.
But unfortunately, t

[2020-06-30 16:07] eliasyin commented on #3867
after read the code of @wizcheu , I create another version of conv1d with padding='same'

[code]

[2020-06-30 16:17] nikitaved commented on #24802
@kurtamohler , could you please also compare against the power method implemented for the Spectral Normalization? In the paper they operate on the right and the left sides of a rectangular matrix, without "squaring" it by multiplying with A or A^T. So, I would speculate that the power method on a matrix after the "squaring" process should be faster if the largest singular value > 1 (although it re

[2020-06-30 16:20] peterjc123 opened #40786 "The defintion of the job `binary_windows_upload` in config.yml is broken"
## 🐛 Bug

Per title.

[code]

The `executor` and `docker` key are exclusive in a job definition.

[2020-06-30 16:24] yf225 commented on #25888
I had some draft PR that might be able to do it: https://github.com/pytorch/pytorch/pull/30484. Haven't got it to the finish line, but maybe can serve as inspiration :) also cc. @glaringlee

[2020-06-30 16:27] peterjc123 commented on #40786
Caused by https://github.com/pytorch/pytorch/pull/40592. cc @malfet

[2020-06-30 16:29] malfet commented on #40786
Should be closed by https://github.com/pytorch/pytorch/pull/40742

[2020-06-30 16:32] #40786 closed

[2020-06-30 16:52] vincentqb commented on #34279
Relates to #40570

[2020-06-30 17:01] stalhabukhari opened #40790 "Channel dimension argument for F.one_hot"
## 🚀 Feature
`dim` argument in `F.one_hot(tensor, dim=1, num_classes=-1)`

## Motivation

via the [discussion on one-hot encoding](https://discuss.pytorch.org/t/pytocrh-way-for-one-hot-encoding-multiclass-target-variable/68321/8?u=stalhabukhari) at discuss.pytorch.org:

Output from `F.one_hot` yields a tensor in the NHWC format, which needs to be transposed to convert into PyTorch's NCHW format. A

[2020-06-30 17:10] ezyang commented on #9983
We support complex on master!

[2020-06-30 17:14] nikitaved commented on #9983
@ezyang , unfortunately, some of the fundamental functionality is missing yet :(
[code]

[2020-06-30 17:15] ezyang commented on #36801
@nolifenameless that won't work for the default Python test view, which prints only a single `.` per test. It would probably look somewhat ugly in verbose mode, though this would be easy enough to test and see.

[2020-06-30 17:16] glaringlee commented on #25888
@yf255 Thanks, I'll take a look at it and continue working on it.
@nuka137
I will prioritize this and hope we can finish this pre fwd hook later this year. We currently prioritize the work for adding transformer layer into pytorch c++ apis.

[2020-06-30 17:18] ezyang commented on #40736
`is_grad_enabled` is a different concept from AutoNonVariableTypeMode. If you did this test in C++ you would find that Python and C++ agree :)

Part of the confusion here is that, from a user persective, AutoNonVariableTypeMode doesn't make sense; it's a very operational guard whose semantics depends on how the dispatcher works. We have some ongoing work to unify the two concepts, but we're not th

[2020-06-30 17:19] ezyang commented on #40736
I'm going to reopen this issue for visibility.

[2020-06-30 17:19] seemethere commented on #35446
Going to be removing this from the `1.6.0` milestone since there hasn't been any update.

[2020-06-30 17:25] ezyang commented on #9983
Yeah, addmm has been blocked on getting ported to ATen first :( https://github.com/pytorch/pytorch/issues/24679

[2020-06-30 17:26] nikitaved commented on #9983
I will try to use algorithms which do not rely on the explicit complex structure, and the matrix sign function seems like a good solution. The complex support will be enabled automatically once `matmul` supports complex numbers.

[2020-06-30 17:35] jamesr66a commented on #40472
Please merge https://github.com/pytorch/pytorch/pull/40793

[2020-06-30 18:05] suo commented on #40490
Thanks for the report! 60s warmup is not expected, we'll take a look at this.

[2020-06-30 18:13] gchanan commented on #40613
do we support this in python?  I don't think we should add C++-only printing support.

[2020-06-30 18:29] anjali411 commented on #40472
please merge: https://github.com/pytorch/pytorch/pull/40513

[2020-06-30 18:30] anjali411 commented on #40472
please merge: https://github.com/pytorch/pytorch/pull/39087

[2020-06-30 18:41] kurtamohler commented on #24802
@nikitaved , unfortunately, it seems like the `torch.nn.utils.spectral_norm` method actually calculates `A / largest_eigenvalue(A)`. Maybe there's a function exposed to `at::` that will just calculate the eigenvalue, but it doesn't seem to be exposed to Python, as far as I can tell. So I had to calculate `A / spectral_norm(A)` to get the eigenvalue back out. This will introduce some amount of erro

[2020-06-30 18:54] nikitaved commented on #24802
@kurtamohler, the power method from Spectral Normalization does the following:
[code]
So you can use your code to test the stability.
It also makes sense to actually try matrices with different spectra.

Maybe, it is easier for now just to implement these things with SVD?

P.S. inverse might not work because the matrix might have very poor condition number. It makes sense to stick to SVD for the s

[2020-06-30 19:36] ezyang opened #40803 "randint is missing Generator argument from typing annotation"
Relevant code is

[code]

In `tools/pyi/gen_pyi.py`

cc @ezyang @malfet @rgommers

[2020-06-30 19:41] kurtamohler commented on #24802
@nikitaved , how does spectral normalization handle non-square matrices though? If `u_1` is size(n) and A is size(m, n), then the first `A u_k` multiply will result in `u_2` size(m). After that, `u_3` couldn't be calculated.

So I assume you'd have to obtain a square matrix from A somehow. One method would be `A_gram = A^T A`. But `A_gram == A_gram^T`, so if we input `A_gram` into the algorithm yo

[2020-06-30 19:45] nikitaved commented on #24802
See that the two sequences operate over A and A^T. They are trying to compute the leading right and left singular vectors.

[2020-06-30 20:01] kurtamohler commented on #24802
I still don't understand how this can be done for a non-square matrix. `u_{k+1} = A u_k / ||A u_k||_2` can only be calculated for one iteration because after that, `u_k.size() == A.size()[0]`, and you can't right-multiply an m-by-n matrix with an m-element vector if `m != n`.

[2020-06-30 20:05] vishwakftw commented on #24802
The procedure is: u_{k + 1} = A_{gram} u_{k} / ||A_{gram} u_{k}||_{2} and v_{k+1} = A A^{T} v_{k} / ||A A^{T} v_[k}||_{2}. Note that A_{gram} != A A^{T}

[2020-06-30 20:06] nikitaved commented on #24802
@kurtamohler , you are right! I have noticed that I made a mistake, confused `v_k+1` and `u_k+1`.

[2020-06-30 20:10] rgommers commented on #33389
@v0dro this can be closed right, now that gh-36447 is merged?

[2020-06-30 20:11] nikitaved commented on #24802
@vishwakftw , this is the method that @kurtamohler  already implemented. The the spectral normalization method for GANs does not compute "squaring". See https://arxiv.org/abs/1802.05957

[2020-06-30 20:14] kimishpatel commented on #40027
@maxmx911, I tried to reproduce your results.
I followed your steps, except for 5 and 6.
Here is what I did instead of step 5 and 6.

I applied this patch:
[code]

Then build android binary of speed_benchmark_torch as follows:
`ANDROID_DEBUG_SYMBOLS=1 BUILD_PYTORCH_MOBILE=1 ./scripts/build_android.sh -DANDROID_CCACHE=$(which ccache) -DBUILD_BINARY=ON`

Binary is in `build_android/bin` directory.
F

[2020-06-30 20:26] zou3519 commented on #35418
Reopening because #37737 was reverted

[2020-06-30 20:30] kurtamohler commented on #24802
@nikitaved , ah I see, `u_k` and `v_k` are just swapped every iteration. I've implemented it like this:

[code]

But that seems to give worse results than any of the other methods I've tried so far. Even with 100 iterations, the error is around 10% +/-20%.

[code]

[2020-06-30 20:46] renesax14 commented on #21092
Can you explain to us **what the error means in the first place**?

What does

[code]

mean?

https://discuss.pytorch.org/t/what-does-runtimeerror-cuda-driver-error-initialization-error-mean/87505

[2020-06-30 20:48] nikitaved commented on #24802
Cool, it exactly in accordance to my claim, as "squaring" squares singular values, hence has a potential for better convergence.

[2020-06-30 20:53] renesax14 commented on #21092
How was that link useful at all?

Threads are dangerous, ok I already knew that. What exactly did you get out of it?

[2020-06-30 20:55] renesax14 commented on #21092
What did you end up doing to solve your problem? Why did it happen? Did you use `pin_memory=True`?

[2020-06-30 21:03] #40292 closed

[2020-06-30 21:29] ngimel commented on #40590
Everything (regardless of the tensor size) goes to vml implementation which, in turn, calls vec256 implementation that I showed.

[2020-06-30 21:34] mattip commented on #35418
In 37737 I tried to remove RPATH linking outside of the pytorch directory. This broke conda, since it depends on RPATH linking to conda-env/lib where all the mkl, cuda, and other DLLs live. Perhaps there is a way to be more selective when telling CMake what directories to insert into RPATH: LINK_PATH is too broad.

[2020-06-30 21:39] wanchaol commented on #40472
Please merge https://github.com/pytorch/pytorch/pull/40796 and https://github.com/pytorch/pytorch/pull/40797 (failures seems not related)

[2020-06-30 21:41] ngimel commented on #33389
We still need documentation before closing the issue.

[2020-06-30 22:05] nuka137 commented on #25888
@glaringlee

Thanks! I hope this feature to land in future.

[2020-06-30 22:09] ngimel commented on #40768
Indeed, if I'm reading the code right what you want here is C expanded to the original A shape to compute (A-C)? You can just right it directly, C would be implicitly broadcast by subtraction operation. There no need to create ones_m1 matrix and compute matmul.

[2020-06-30 22:14] ngimel commented on #40711
This question is better suited for forums, discuss.pytorch.org. It is not surprising that when you change model architecture it may become unstable and produce nans.

[2020-06-30 22:14] #40711 closed

[2020-06-30 22:16] ezyang opened #40829 "Work on PyTorch Python code without having to build from source"
One of the biggest barriers to contributing small patches to PyTorch is inability to get a working development environment, because doing a full PyTorch build can take hours if you do not have very many CPUs. This is a massive waste if you just want to work on Python code, since you aren't going to need to rebuild anything in this case, why do you have to wait hours just to get started on your pat

[2020-06-30 22:24] ljk53 commented on #40456
The script in the paste P134182149 is for size analysis purpose, which shows break-down numbers of each components. I'll try to clean up and make it available for OSS.

Just to measure the size impact, you don't have to run that script. You can simply check x86 android prebuilt library size on CI job "android-ndk-r19c-gradle-build-x86_32" (added in #40010). I'll polish and land #40199 to also repo

[2020-06-30 22:36] vadimkantorov commented on #24802
I propose to migrate "spectral normalization" method into torch matrix_norm and have `algorithm` argument to specify if fast and approximate solution is expected. Then spectral normalization can use torch.matrix_norm under the hood

[2020-06-30 22:39] nikitaved commented on #24802
Makes sense, but I think it is better to leave spectral normalization as is. It avoids the matrix matrix multiply at the cost of slower convergence, but it is faster and cheaper the way it is..

[2020-06-30 22:47] spandantiwari commented on #39762
Thanks @weidezhang.
@KsenijaS - can you please take a look? Thanks.

[2020-06-30 23:27] ZolotukhinM commented on #40472
Please merge #40716

[2020-06-30 23:36] spandantiwari commented on #40074
@panjiangwei - I would say this is intentional. `torch.onnx.export` API exports batch norm in eval mode where the running stats are frozen. Also, note that ONNX `BatchNormalization` op is defined differently from PyTorch (`MomentumPT = 1 - MomentumONNX`). This is reflected in the exporter [here](https://github.com/pytorch/pytorch/blob/0ddaaf6a92b85bf9708bbc1715e82da3f601231d/torch/onnx/symbolic_op

[2020-06-30 23:36] #40074 closed

[2020-06-30 23:48] teichert commented on #31759
@zou3519 thanks very much for you work on this!  Would you mind commenting on the basic motivations for restricting dimension names rather than allowing arbitrary str or even Hashable? (code complexity, runtime complexity, memory complexity, cognitive complexity, etc.?)

fwiw: commas and parentheses would be valuable for my own application but wouldn't be allowed by python variable name rules.

[2020-06-30 23:51] anjali411 opened #40838 "Suppress Warnings for functions that internally cast complex values (with imag=0) to real values"
Some time back, I added warnings to `copy_` for the scenario when a complex value is casted to a real value. However these warnings are also generated for functions that internally use `copy_` because of other limitations. for eg. the kernel for`.angle()` `.abs()` first returns a complex tensor with imag value as 0 which is then casted to the required out dtype (floating point). I think to avoid a

[2020-06-30 23:52] #40529 closed

[2020-07-01 00:00] mruberry commented on #40472
Please merge #40799

[2020-07-01 00:39] ailzhang commented on #40501
@atemysemicolon Yep `load_state_dict_from_url` might does what you want. We currently want to keep `torch.load` separate from the `urllib` stuff which is well maintain in `load_state_dict_from_url`. Would this 2-step procedure work for your use case?
If not, please feel free to update here about your feature request. Thanks!

[2020-07-01 00:47] vadimkantorov commented on #24802
This behavior can also be desirable for similar scenarios. Or do you mean that if it's factored out of spectral normalization, it would have to do those matrix multiplies?

[2020-07-01 00:55] gaoteng-git opened #40843 "emit_nvtx context manager is very slow"
Hello! There are 2 modes under torch.autograd.profiler, profile & emit_nvtx.
In [pytorch bottleneck docs](https://pytorch.org/docs/stable/bottleneck.html), I found the words "please take into account that the **NVTX overhead is very high** and often gives a heavily skewed timeline".
However, in [NVTX docs](https://nvidia.github.io/NVTX/doxygen/index.html), I found the words "The library introduces

[2020-07-01 01:06] nikitaved commented on #24802
Yep, you kind of expect norm to give high quality results I guess... And for GANs it is speed then the quality of norm I presume. Actually, it makes sense to contact the authors and ask whether they tried better approximations...

[2020-07-01 01:13] mcarilli commented on #40736
Looks like `is_grad_enabled()` maps to some [standalone thread local flag](https://github.com/pytorch/pytorch/blob/179dbd4f25288a098099e806b16098468e6f0b2f/aten/src/ATen/core/grad_mode.cpp#L13) separate from any dispatch keys.  This still has an effect:  it [prevents autograd history recording](https://github.com/pytorch/pytorch/blob/179dbd4f25288a098099e806b16098468e6f0b2f/torch/csrc/autograd/fun

[2020-07-01 01:25] vadimkantorov commented on #24802
Fast inaccurate estimate may still be useful in other contexts too. But yes, it maybe requires some explicit choice of algorithm or some flag to enable it...

[2020-07-01 01:50] gongel commented on #19184
gcc-6 may work.

[2020-07-01 02:14] Godricly commented on #37313
its not fixed for me. I used 20200625 version.

[2020-07-01 02:43] DJMeng opened #40847 "RuntimeError: ONNX export failed: Couldn't export Python operator SwishJitAutoFn"
When I exported effcientnet b7 to onnx:
my env is torch 1.5, opset11.and I try other's version of torch or opset, it will meet other problems.
someone meet this error? Please help. Thanks.

cc @suo @gmagogsfm @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2020-07-01 03:48] peterjc123 commented on #40472
Please merge https://github.com/pytorch/pytorch/pull/40849.

[2020-07-01 03:49] ezyang commented on #35418
Actually, this RPATH linking also affects me in #40829 since it means that the shm manager is not relocatable.

I think conda is supposed to be able to identify situations like this an automatically update the rpath in executables when it installs conda packages; c.f., https://docs.conda.io/projects/conda-build/en/latest/resources/define-metadata.html#detect-binary-files-with-prefix So maybe we ju

[2020-07-01 03:56] jounjieli commented on #37068
torch.distributed would be very much appreciated for windows!

[2020-07-01 04:12] ezyang commented on #31759
one downside to allowing arbitrary strings is that IIRC there is some syntax sugar where we let you directly specify dimension names as keyword arguments (this is in sufficiently new version of Python 3 where we can tell what order kwargs were specified). If you had an arbitrary string this sugar wouldn't work.

On the other hand, I suppose that this is a choice we could leave to the end user to m

[2020-07-01 04:13] ezyang commented on #40838
There should be a way to say "I want to do a copy, discard imaginary part" explicitly, without having a warning. That would be the most logical way to suppress the warning.

[2020-07-01 04:16] ezyang commented on #40736
Yes this is correct! And you indeed get an infinite loop if you forget to add the guard. This is something that's very easy to get wrong and I suspect more people will run into it.

[2020-07-01 04:23] JingLiRaysightmed opened #40851 "test"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

Provide a short description.

## Code example

Please try to provide a minimal example to repro the

[2020-07-01 04:23] #40851 closed

[2020-07-01 04:35] peterjc123 commented on #40472
Please merge #40852.

[2020-07-01 04:42] WANGZhaowei-Wesley commented on #27749
still not yet

[2020-07-01 05:21] #40725 closed

[2020-07-01 05:34] #33439 closed

[2020-07-01 06:08] shuangjiexu commented on #40696
seems the same issue with https://github.com/pytorch/pytorch/issues/40771
round, floor, or use .long() to cast will cause the equivalent problem

[2020-07-01 06:17] TAOSHss commented on #40403
`Traceback (most recent call last):
  File "training.py", line 233, in <module>
    main()
  File "training.py", line 230, in main
    train(config)
  File "training.py", line 89, in train
    for step, samples in enumerate(dataloader):
  File "/home/intern1/anaconda3/envs/airiacvlib/lib/python3.6/site-packages/torch/utils/data/dataloader.py", line 819, in __next__
    return self._process_data(da

[2020-07-01 06:27] ngimel commented on #40770
cc @pearu, pca_lowrank implementation author.

[2020-07-01 07:06] eitanrich commented on #40768
Thanks for the quick response. Passing A-C to _svd_lowrank works, but I think it still allocates new storage for A-C, which can be very large (same size as the input A). I tried avoiding this and use the svd_lowrank argument M (mean) instead:
_svd_lowrank(A, q, niter=niter, M=C), but I get some matmul errors in:
https://github.com/pytorch/pytorch/blob/b9cca4b186797b4ccdc12197b3b71db94d8e2297/torch

[2020-07-01 07:42] crayonshine opened #40854 "Build pytorch with cuda11"
I want to measure the performance of pytorch with cuda11.  But looks magma is incompatible with CUDA11:
https://bugs.archlinux.org/task/67094
I wonder if we can build pytorch with cuda11 now, or need to wait for magma support for CUDA 11? Will pytorch get bad performance magma MAGMA with CUDA 11?

[2020-07-01 08:07] kikirizki commented on #12339
Hi @goldsborough , do you still have the plan for providing libtorch for arm64 ? or would you mind pointing out some resource to help me build it my self, thanks

[2020-07-01 08:40] Korijn opened #40855 "Don't know how to translate op Conv"
(sent here from https://github.com/onnx/onnx/issues/2822)

I'm only seeing this error on Windows. It's working fine on Linux (Docker).

I can't find any other issues or documentation, but I get the impression that the op registry is not populated fully. Is there some kind of setup that I need to go through? Prerequisite installation needed?

I'm working on Windows 10, python 3.6, I've installed `o

[2020-07-01 09:08] GraphGrailAi commented on #5434
Similar problem: RAM is 4GB, GPU with 12 GB memory, my model i try to load is 5GB. But i see error "you tried to allocate 108216000 bytes" - that is 108mb - that is strange

[2020-07-01 09:17] yl-to commented on #40803
Will work on this to create a PR, thanks for pointing out!

[2020-07-01 09:46] inflex56 commented on #19353
@federicotomat,

I've experienced the same issue recently, having a complex project with yarp, gazebo, cuda and fcl. Project was compiling, but adding  ${TORCH_LIBRARIES} in cmake's target_link_libraries resulted in multiple "undefined references" from fcl and yarp. Notably, all problematic functions had std::string in the signature.
Solution that worked for me: downloading cxx11ABI libtorch (cpu

[2020-07-01 09:54] ibrahimsoliman97 commented on #35547
This error of `RuntimeError: [enforce fail at roi_align_op.h:39] . Not Implemented` still exists on PyTorch 1.5.1 C++ CPU version.
is there any solution for this issue ?

[2020-07-01 10:06] co42 commented on #38607
I had the same issue and fixed it with:

[code]

[2020-07-01 10:31] peterjc123 commented on #40855
Would you please try pytorch>=1.5? We tried to fix that by loading all DLLs on startup in https://github.com/pytorch/pytorch/pull/35362.

[2020-07-01 10:43] xuezu29 commented on #39649
I met the same problem. Have you solved it?

[2020-07-01 10:48] federicotomat commented on #19353
Hi @inflex56,

Thank you very much. With your solution I solved all the problems.

[2020-07-01 11:01] EoinKenny commented on #33215
Sorry for my ignorance, but it seems so strange to not have batch first as the default, why is that?

[2020-07-01 11:13] otakuxiang commented on #39649
First, when you measure the model running time in C++ code,you need call cudaDeviceSynchronize() function before you call time function such as clock().
Second, if you use .pt model, there is nothing wrong that program run slower than python when you first call foward() function.Just call foward() function again,you will find that speed as fast as it in python.
If you don't mind it,you can call fo

[2020-07-01 11:26] imkhoa99 commented on #23853
I tried to look for information on how to use pdb to figure out which tensor is on the wrong device, but I could not find relevant information. Could you help me where should I look into?

[2020-07-01 11:42] zhuzilin commented on #28886
@ghltshubh
Did you find any solution to this problem? I've encountered the same error...

[2020-07-01 12:40] wangtingwei1993 opened #40858 "CrossEncropyLoss() Bug: It can not detect wrong label id on gpu side"
## 🐛 Bug

CrossEntropyLoss() Bug: CrossEntropyLoss() can not detect wrong label id on gpu side

## To Reproduce
[code]

## Environment

 - PyTorch Version : 1.5.0
 - OS : Linux
 - How you installed PyTorch : Conda
 - Python version: 3.7.6
 - CUDA/cuDNN version: 10.2

cc @ngimel

[2020-07-01 13:08] nnuk commented on #40663
Stuck with same error kindly help. PyTorch 1.5.

[2020-07-01 13:37] hgaiser opened #40859 "Option to allow loading state dict with mismatching shapes."
## 🚀 Feature
My proposal is to include a flag in `Module.load_state_dict` to allow loading of weights that have mismatching shapes. Similarly to the [`strict`](https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/module.py#L939-L941) flag, it will allow loading of state dicts where there is a correspondence in weight names, but the weights might not all match. The weights that don't mat

[2020-07-01 13:45] lw commented on #39138
Done in #39909 I believe.

[2020-07-01 13:45] #39138 closed

[2020-07-01 13:57] martinrebane commented on #19840
@Ze-Yang Pytorch DDP has a serious flaw which is not documented: the computational graphs for all the nodes must be the same or you will get this error or training sometimes just hangs at 100% CPU (even when training on GPU) on backward() call. You can debug your problem by visualising the computational graphs on each node and see if they are the same. If not, make them (or fix the pytorch source)

[2020-07-01 14:01] albanD commented on #40859
Hi,

Thanks for the issue that add some context.
From the PR description, it was not clear that these mismatched weights were skipped.
I think it makes sense to add this but the flag could contain `skip` to make it clear what we do.

Also this flag only makes sense when `strict=False` so you should make sure that strict is False when the user asks to skip mismatched weights.

[2020-07-01 14:12] hgaiser commented on #40859
@albanD thank you for your feedback. Is there anything you would like me to change on the PR to make it more clear, or will this issue, that is now referenced, suffice?

Also, as I mentioned on the PR, there are multiple implementations of `_load_from_state_dict` that need to change to include the extra flag. Shall I modify them, or should we wait for more feedback on this feature request?

Yes yo

[2020-07-01 14:16] wolfv commented on #40213
@seemethere @ezyang anything I can do to help you guys implement this?

[2020-07-01 14:24] Ze-Yang commented on #19840
Thanks for your advice. I seek help from Pytorch repo and find that the real cause is that the `dist.all_gather`  is not an autograd function, so all operations prior to all_gather is not linked to the out tensor in the autograd graph  (refer to pytorch/pytorch#40690). I need to manually implement the backward function at present, but I think it will be added into the official release soon (pytorc

[2020-07-01 14:35] albanD commented on #40859
Yes a ValueError is the right thing here I think.

@mruberry any specific feedback on this?

[2020-07-01 14:42] Korijn commented on #40855
That fixed it! Thanks!

[2020-07-01 14:42] #40855 closed

[2020-07-01 14:45] peterjc123 commented on #35547
It is interesting that the test itself is fixed. See https://github.com/pytorch/pytorch/pull/40857

[2020-07-01 14:45] peterjc123 commented on #35547
Could you please post the stacktrace since you are using the Debug version?

[2020-07-01 14:46] cloudhan commented on #40771
I can't reproduce the bug with value 3.5, 5.5, 7.5, 9.5, etc. Maybe just don't use 2.5 as argument for round ;) or, even better, only call round on <odd number>.5   XDDD

FYI, python part is using Bankers Rounding.

[2020-07-01 14:51] peterjc123 opened #40861 "Caffe2 BoundShapeInference.Reshape fails on Windows"
## 🐛 Bug

From https://app.circleci.com/pipelines/github/pytorch/pytorch/186966/workflows/741bd7f4-9228-4e0a-9b29-36ebe470b8c6/jobs/6079993

[code]

cc @peterjc123 @nbcsm @guyang3532

[2020-07-01 15:34] anshkumar opened #40863 "RuntimeError: CUDA out of memory"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. python3 main.py

## Expected behavior

Training of maskrcnn with mobilenet_v2 backbone

## code

### main.py
[code]

### data_gen_l1_mask.py
[code]

data is [here](https://drive.google.com/file/d/1E_akMSmQ-DDFU1h86GT7IlZA6oj_5oGF/view?usp=sharing).

## Error

## Environment
PyTorch version: 1.5.1
Is debug build: No
CUDA used to build

[2020-07-01 15:45] aocsa commented on #19546
Hi @smessmer.
I wasn't able to reproduce this bug. I tried with this code on PyTorch 1.5
[code]

[2020-07-01 16:31] mruberry commented on #40859
Let me think about this for a bit. I'm not in love with having a kwarg that depends on another kwarg's value, and there is a cost to adding a new kwarg.

[2020-07-01 16:32] malfet commented on #40472
Please create a cherry-pick PR

[2020-07-01 16:44] glaringlee commented on #40663
@lawpdas @nnuk
I tried with the latest pytorch code in master branch with ubuntu16.02+gcc7+cuda9.2+cudnn7, it works fine for me.
Can you guys try pytorch 1.5.1 or just clone the code from master?
We do have some libs issues in pytorch 1.5 though I am not sure whether that is related.

[2020-07-01 16:44] seemethere commented on #40472
Letting everyone know here that we will be cutting an RC2, any cherry picks below this comment will not be included in the RC2

[2020-07-01 16:50] AshkanAliabadi commented on #40472
Please merge the following patches in the order below.  It is all or none situation, including the one David linked to:

0) https://github.com/pytorch/pytorch/pull/37243
1)  https://github.com/pytorch/pytorch/commit/bdc00196d1b63a339a5b9b6aaec44cefe069a6ea (no PR - originated from a Phabricator diff)
2) https://github.com/pytorch/pytorch/pull/40522
3) https://github.com/pytorch/pytorch/pull/40520

[2020-07-01 16:51] AshkanAliabadi commented on #40668
Fix merged.

[2020-07-01 16:51] #40668 closed

[2020-07-01 16:52] scintiller commented on #40803
Oh sorry... I've been working on it yesterday and forgot to reply.

[2020-07-01 16:57] dreiss commented on #40472
Requesting #40587

[2020-07-01 17:12] nnuk commented on #40663
@glaringlee  Actually I have PyTorch 1.5.1 and I am working with VS Code , Windows 10.

[2020-07-01 17:17] ezyang commented on #40363
I was affected by this today when scripting the seq2seq model in https://github.com/stanfordnlp/stanza In that case, `requires_grad=False` so it was fairly easy to remove.

[2020-07-01 17:18] ezyang commented on #40363
Dupe of https://github.com/pytorch/pytorch/issues/19393

[2020-07-01 17:18] #40363 closed

[2020-07-01 17:21] ezyang commented on #28303
I was affected by this when porting the seq2seq in https://github.com/stanfordnlp/stanza to TorchScript

[2020-07-01 17:25] ezyang opened #40867 "[JIT] Infer type of argument foo = None to be Optional[Tensor]"
A pretty common pattern in PyTorch code is to write things like:

[code]

(this example taken from `stanza/models/common/seq2seq_model.py` in https://github.com/stanfordnlp/stanza)

When I script functions like this, I have to add the annotation `pos: Optional[Tensor]` manually. But it seems very modest and easy for JIT to extend its special case (where it default infers all arguments to be Tensor

[2020-07-01 17:43] ezyang opened #40869 "[JIT] list() builtin doesn't work on tensors"
Workaround is to call `tolist()` on the Tensor, but it would be better if `list(tensor)` worked directly.

cc @suo @gmagogsfm

[2020-07-01 17:44] glaringlee commented on #40663
Can you guys post your cuda version, complier and version, and related env parameters?

@nnuk can you try latest master brunch?

There is a similar error which is solved by upgrading cuda version.
https://github.com/pytorch/vision/issues/1893

[2020-07-01 17:54] mattip commented on #36578
Since #38747 was merged and the CI seems to pass, I think this can be closed.

[2020-07-01 17:55] ezyang opened #40870 "[JIT] cannot statically infer the expected size of a list in this context for positional arguments to Tensor.view()"
This program doesn't work:

[code]

however, if you remove the asterisk, it is ok. I have seen this in the wild as `x.view(20, *y.size())` as a convenient away to avoid tuple concatenation. The explicit tuple form works (`x.view((20,) + y.size())`)

[2020-07-01 18:12] yzs981130 commented on #12873
I found that libtorch.so call so many (~30,000) `__cudaRegisterXXX`, load them in to GPU memory and only use tens of them in a simple DLT example. In my opinion, it consumes much more both CPU memory and GPU memory for loading unnecessary kernel functions.

[2020-07-01 18:33] yl-to commented on #40426
I tried this in the latest 1.7 Pytorch and with python 3.7 installed, mypy shows:
`Success: no issues found in 1 source file`
Maybe this problem was fixed in newer versions?

[2020-07-01 18:40] suo opened #40874 "Inconsistent behavior when tracing dictionaries"
https://gist.github.com/suo/16a961731de67e6db1e4b36976946d5e

cc @suo @gmagogsfm

[2020-07-01 19:21] mrshenli opened #40880 "Allow TLS to keep distributed autograd context alive"
As of today, we release the distributed autograd context when exiting the context manager:

https://github.com/pytorch/pytorch/blob/c71ec1c717e5b225f28ef3bacde416c69f3c4d77/torch/distributed/autograd/__init__.py#L32-L37

As a result, the following code wouldn't work, as when running the `run_backward` callback function, the distributed autograd context might have been released.

[code]

### Pitch

[2020-07-01 20:33] ezyang commented on #40472
Please merge https://github.com/pytorch/pytorch/pull/40881

[2020-07-01 20:35] ailzhang opened #40882 "JIT fuser result of dropout doesn't fully match eager mode"
Running this test with legacy executor should repro:
[code]
cc: @ngimel @Krovatkin

[2020-07-01 20:42] ezyang commented on #40213
Our binary packaging is kind of wild and wooly but if you don't mind YOLOing (as in submitting a patch without testing it) you could try updating https://github.com/pytorch/builder/tree/master/conda/cpuonly to be a mutex package. If the PyTorch package itself also needs updating, a diff for that would be helpful too. It'll probably be difficult for you to actually build the packages unless you hav

[2020-07-01 20:45] #36578 closed

[2020-07-01 20:48] ezyang commented on #40426
Yes, it was fixed in 159835e66669b593ee14eff895d0829060adcdb4

[2020-07-01 20:48] #40426 closed

[2020-07-01 21:16] bootpin commented on #40581
I modified my model to create replicas only on the first call to _**clone**_ for each GPU.  Subsequent calls to _**clone**_ simply return cached model pointers after updating parameters.  The results in terms of performance are night and day.  I now get about 1.2x speed up with two GPUs.  Not great but way better than the roughly 0.3x I was seeing previously.

I am updating the parameters by calli

[2020-07-01 21:36] spandantiwari commented on #39053
@killTheHostage - I am not able to repro this issue in Opset 11 myself. In opset 11 Clip operator should be exported with min and max as inputs and not attributes as seen [here](https://github.com/pytorch/pytorch/blob/d1352192e21001521035dacc0eda574b58224198/torch/onnx/symbolic_opset11.py#L45) and [here](https://github.com/pytorch/pytorch/blob/d1352192e21001521035dacc0eda574b58224198/torch/onnx/sy

[2020-07-01 21:38] suo opened #40886 "Improve error messaging when using dictionaries as inputs to a trace"
## 🚀 Feature
## Motivation

The JIT tracer supports using dictionaries as input, like:
[code]

However, the tracer "burns in" the structure of the dict (more precisely, it inlines all keys as constants and burns in the value types). The resulting graph looks like:
[code]

If you try to use a dictionary with a different key, you will get a very opaque error message
[code]

We ought to improve the e

[2020-07-01 21:39] atemysemicolon commented on #40501
It would work for my use case, thanks!

[2020-07-01 21:39] #40501 closed

[2020-07-01 21:40] eellison commented on #40869
I landed a PR for this, but it got unlanded bc of `pytorch_linux_xenial_cuda10_1_cudnn7_py3_slow_test` :'( i can try to reland

[2020-07-01 21:42] eellison commented on #40847
HI, could you include a repro please ?

[2020-07-01 22:17] neginraoof commented on #39323
@mdztravelling
Please confirm if this issue is resolved.
I'm unable to repro using pytorch 1.5.

[2020-07-01 22:46] #40701 closed

[2020-07-01 23:27] nnuk commented on #40663
Cuda -> 10.1
cudnn -> 7.0
PyTorch -> 1.5.1
Visual Studio Code -> 1.46.1
Python 3.7
OS Windows 10.

[2020-07-01 23:42] seemethere commented on #40472
Could you elaborate on what this actually does and why it's needed for `1.6`?

Also could you make these cherry pick PRs to the `release/1.6`?

[2020-07-02 00:03] AshkanAliabadi commented on #40472
Right, they are optimizations for PyTorch Mobile and bug fixes for those optimizations.

[2020-07-02 00:07] SsnL opened #40891 "[FR] torch.floor/ceil should support output int dtype"
[code]

Ideally, a `dtype` option should also be added.

[2020-07-02 00:53] rwightman commented on #3169
@albanD I should have some time to start working on this soon, a question before I begin adding, what is the preferred ordering for inserting new changes? I don't see an obvious pattern (always insert new at the top/bottom, insert alphabetical, etc)

Random example from `Activation.h`
[code]

[2020-07-02 01:07] tairen99 commented on #27212
+1

[2020-07-02 01:07] xuezu29 commented on #39649
@otakuxiang
Thanks . I know the first  call foward() will take longer，I load the python trained model by torch::jit::load() ，C++ takes 60-70 ms longer than python. Is this normal?

[2020-07-02 01:08] #40158 closed

[2020-07-02 01:13] snash4 commented on #40273
Hi Tramac,
Were you able to fix the error?

[2020-07-02 01:20] otakuxiang commented on #39649
No, it's not normal, can you show your time measuring code both in python and C++?

[2020-07-02 01:25] xuezu29 commented on #39649
python
[code]
c++
`
class CTimeStamp
	{
	public:
		CTimeStamp() :
			start(0.0)
		{
			start = getTimestamp();
		}

		~CTimeStamp()
		{
			start = 0.0;
		}
		//return cost time: ms
		double getCostTimeMs()
		{
			double time = getTimestamp() - start;
			reset();
			return (time / (static_cast<double>(cv::getTickFrequency())) * 1000);
		}
		void reset()
		{
			start = getTimestamp();
		}
		void log

[2020-07-02 01:32] otakuxiang commented on #39649
Well, in C++ code,have you call cudaDeviceSynchronize() function?In my case, when I second call the forward() function and use the right time measure code ,python and C++ cost the same time.

[2020-07-02 01:40] xuezu29 commented on #39649
how to call cudaDeviceSynchronize() in torch C++?

[2020-07-02 01:44] otakuxiang commented on #39649
If you use Cmake ,just add cudaDeviceSynchronize() before you call time function and change 'add_executable()' to 'cuda_add_executable',otherwise you may search how to use nvcc to compile the program.

[2020-07-02 01:53] xuezu29 commented on #39649
@otakuxiang
yeah, I konw .thanks a lot!  I will try.

[2020-07-02 01:59] williamlzw opened #40892 "Unable to locate program input point"
win10 x64 | libtorch1.5.0 release x64| cuda10.2 |
---------------------------------------------------------
I tried to compile the project into a DLL. Then loading the DLL with LoadLibraryA prompted the following error:
Unable to locate program input point
?dispatchKeySetToDispatchKey_@DispatchKeyExtractor@c10@AEBA?AW4DispatchKey@2@VDispatchKeySet@2@00@Z on dynamic link library D:\Project2\x64\Rel

[2020-07-02 02:02] ibrahimsoliman97 commented on #35547
Here is the stacktrace:
`The following operation failed in the TorchScript interpreter.
Traceback of TorchScript, serialized code (most recent call last):
  File "code/__torch__.py", line 11, in forward
    _1 = torch.as_tensor([height, width, 1], dtype=6, device=None)
    info = torch.unsqueeze(_1, 0)
    _2 = (self.traced_model).forward((image, info), )
[code]

[2020-07-02 02:26] glaringlee commented on #40663
@nnuk can you try pytorch in master brunch?
@peterjc123 any thoughts on this? I saw a similar issue pytorch/vision#1893 and solved by upgrade cuda 10.1 to newer version.

[2020-07-02 03:04] peterjc123 commented on #35547
I mean the C++ one, not the python one.

[2020-07-02 03:30] wangtingwei1993 commented on #39769
@Naruto-Sasuke  @ngimel
It seems that the same thing happens to me. I test the code on both CPU side and GPU side.
1. CPU side works correctly:
Line `output = loss(m(input), target)` raises an error: `IndexError: Target 5 is out of bounds.` I think this is what we want.

2. GPU side fails to detect the error label id:
Implementation: `(1) input.cuda() & target.cuda(); (2) input.to(torcvh.device('c

[2020-07-02 03:32] ibrahimsoliman97 commented on #35547
The orignal model is scripted using python, This is the C++ Error that i catch when i want to infer the TorchScript model using c++:
![image](https://user-images.githubusercontent.com/30038478/86313375-85baa600-bc57-11ea-910f-2d3022579c53.png)

[2020-07-02 04:49] cloudhan commented on #38616
You count from 0, so there are 20 GPUs

[2020-07-02 04:54] SsnL opened #40899 "[jit] can't script simple unflatten op"
Is there no way to script the following op?

[code]

Script complains `cannot statically infer the expected size of a list in this context`

cc @suo @gmagogsfm

[2020-07-02 05:12] SsnL commented on #36048
single dim version

[code]

[2020-07-02 05:19] ngimel commented on #39769
If you are on pytorch 1.5 please update to 1.5.1. There was a bug in 1.5 that could result in this behavior.

[2020-07-02 05:25] san7988 commented on #40803
Hi. Won't we close the issue after the PR is merged?

[2020-07-02 05:39] pmeier commented on #40426
@ezyang Indeed this is fixed in the current nightly, but not from #31130 alone. The stubs landed with `torch=1.5.0` and I'm seeing these issues in `torch==1.5.1`. I suspect #36358 is the missing part in the current stable release.

[2020-07-02 06:13] peterjc123 commented on #40892
Is there a reason that you have to do this explicitly? Have you loaded the DLLs beforehand? (Since you are using VS, the loaded DLLs are shown in the `Output` window.)

How did you build this DLL? Could you please share more details about it? Alternatively, when it is possible, could you please upload the whole project to a github repo and write down the steps to build your project?

[2020-07-02 06:15] peterjc123 commented on #35547
@ibrahimsoliman97 Could you please post the result in the `Call Stack` window?

[2020-07-02 06:16] ibrahimsoliman97 commented on #35547
I get it working using CPU, It only works with the **Nightly version** . Thank You.
Note: the error has not been fixed on v1.5.1.

[2020-07-02 06:17] peterjc123 commented on #35547
@ibrahimsoliman97 Okay, thanks for the info. So it's fixed on master. I'll put up a fix to re-enable the test.

[2020-07-02 07:03] mcarilli commented on #38942
Great work, thanks for fixing this!

[2020-07-02 07:09] wolfv commented on #40213
I can just remove the actual build step or `touch` some files to generate the packages ;)

[2020-07-02 07:14] laizewei commented on #40892
Demo link:https://github.com/laizewei/errordemo

I tried to compile it to run as a DLL to speed up debugging.

[2020-07-02 07:19] wangtingwei1993 commented on #39769
@ngimel That is the pytorch version I use. Thanks a lot for your kind reply!

[2020-07-02 07:39] yl-to commented on #40227
Creating a new PR for this issue.

[2020-07-02 07:48] peterjc123 commented on #40892
@laizewei There's no README in the project. So I have to guess all the things in your question.

### Steps
You are trying to warp all the libs in Project2.DLL and load it explicitly in Project1. So build Project2 and then Project1.

### Purpose
I guess what you said "debugging" in the previous post actually refers to the configuration of the Visual Studio project. Actually we have CMake. But you s

[2020-07-02 08:02] laizewei commented on #40892
How do I change the project2.SLN project properties so that project2.DLL can be loaded.
I will use Project2.DLL in C and other languages.So I tried to compile project2.dll.
----------------------------------
demo
   -Project.sln
   -Project1
       -Project1.vcxproj
       -Project1.vcxproj.filters
       -Project1.vcxproj.user
       -testmain.cpp
       -testmain.h
   -Project2
       -Project2.

[2020-07-02 08:30] hgaiser commented on #40859
@mruberry I agree. Personally I am more in favor of changing the `strict` behavior to not error when some weight shapes are different. Would this be an option?

[2020-07-02 08:59] tdeboissiere opened #40904 "[Bug] torch.linspace returns different results on CPU vs GPU"
## 🐛 Bug

`torch.linspace` returns different results on CPU vs GPU

## To Reproduce

[code]

## Expected behavior

Expected output of linspace call to return the exact same result on CPU and GPU

## Environment

[code]

## Additional context

- Same behaviour with CUDA 10.2

cc @ngimel

[2020-07-02 09:29] HumberMe opened #40906 "will you support SRU on mobile?"
## ❓ Questions and Help

Now I have a nlp model contained SRU, but it seems that pytorch cannot deploy SRU on the Android.

[2020-07-02 09:50] FabianIsensee opened #40907 "Gradient clipping with torch.cuda.amp"
Hi there,
I am not sure how gradient clipping should be used with torch.cuda.amp. Right now, when I include the line `clip_grad_norm_(model.parameters(), 12)` the loss does not decrease anymore. This is probably just me getting something wrong but I could not find any documentation about hot it should be used.

Here is a fully working example based on the pytorch mnist example:
[code]

If you comm

[2020-07-02 10:17] pulkin opened #40908 "Cannot assign a subclassed array"
[code]

[2020-07-02 10:28] yangyixiao commented on #25087
Hi, I meet the same issue when the tensor("intersection" in this issue) has size 0.

[2020-07-02 11:23] lawpdas opened #40909 "build error: use of enum ‘cudaGraphExecUpdateResult’ without previous declaration"
I try to build pytorch from source with cuda10.2 .
But there are some error about cuda:

[code]

cc @malfet

[2020-07-02 11:37] vadimkantorov opened #40910 "Apex Amp causes model to fail tracing with a strange error"
I have a DenseNet-like model for speech recognition (https://arxiv.org/abs/1904.03288). My code:  https://github.com/vadimkantorov/convasr/blob/master/models.py#L94

When I export it to ONNX as is, everything works okay. When I apply `model = apex.amp.initialize(model, opt_level = 'O3')` prior to export (basically to have model params converted to float16 and have input/output casts from float32),

[2020-07-02 11:53] pearu commented on #40768
What are the errors? Can you provide a small example as a reproducer?

[2020-07-02 11:59] pearu commented on #40768
I think I understand why matmul errors on `M=C` input:
The input `M` has to be the same size as `A` but `C` is not. The expression `A - M` relies on broadcasting but broadcasting is not effective within `matmul`.

[2020-07-02 12:01] timediv commented on #17990
This doesn't seem to be fixed. Code to reproduce:
[code]
Which will give
[code]

[2020-07-02 12:18] pearu commented on #40768
Here's a stride-trick idea that saves memory for non-batch cases:

Define `M = C.as_strided(A.shape, (0, 1))` and then use `_svd_lowrank(A, q, niter=niter, M=M)`.

[2020-07-02 12:44] FabianIsensee opened #40911 "System memory leak with mixed precision training"
Hi there,
training a 2D U-Net with the new torch.cuda.amp package results in a system memory (RAM, not GPU memory) leak. Specifically, at every validation at the end of an epoch, and only if `with autocast(True):` is used, the memory utilization of the main python process jumps by 600-700MB until the entire system memory is full and the process is killed. This does not happen when `with autocast(F

[2020-07-02 12:49] alexge233 commented on #34223
Sorry it took so long to reply.

I agree, having looked at the links you've provided, I'll just keep this into a separate repository, will probably still end up using ATen, and would like to conform to how PyTorch does things, but it seems unnecessary to place it in PyTorch.
Feel free to close this.

[2020-07-02 12:51] pearu commented on #40768
The stride trick can be generalized to batch cases. The suggested change is submitted as https://github.com/pytorch/pytorch/pull/40853#discussion_r448975081

[2020-07-02 12:57] halostorm opened #40912 "torch.jit.TracingCheckError: Tracing failed sanity checks! When I am using torch.utils.checkpoint ?"
## ❓ Questions and Help

**define function_factory**

[code]

**part of my model**

[code]

**export model to torch script**

[code]

When I use torch.utils.checkpoint to group model, there is error as bellow... It works if i don't use torch.utils.checkpoint,
Such as " x = bn_function (x)", but "x = cp.checkpoint(bn_function1, x)" not work to export torch script .

**If someone others meet this is

[2020-07-02 13:29] #40803 closed

[2020-07-02 13:33] SsnL opened #40914 "Inconsistent handling of torch.Size.__add__"
`+ list` is allowed in JIT scripting, but not regularly.

[code]

`TypeError: can only concatenate tuple (not "list") to tuple`

[2020-07-02 13:37] SsnL opened #40915 "[FR] JIT can't handle list(range(k))"
Currently it fails with `range cannot be used as a value`

cc @suo @gmagogsfm

[2020-07-02 14:02] capn-freako commented on #17492
I just downloaded the file: `libtorch-cxx11-abi-shared-with-deps-latest.zip`.
Now, what do I do with it?

[2020-07-02 14:17] robot0321 opened #40916 "Vectorized torch.eig()"
## 🚀 Feature

The **torch.eig()** function does not support vectorized calculation. It only takes a single matrix (n, n) as input.
Please make it to support vectorized(batched?) matices like (*, n, n). * is for batch.

## Motivation

Even though the **torch.symeig()** takes vectorized(batched?) matrices with a shape of (*, n, n), **torch.eig() does not**

## Pitch

If I put a tensor with shape (ba

[2020-07-02 14:36] eitanrich commented on #40768
The following code reproduces the error:

[code]
I think the problem with the line below is that matmul doesn't support broadcasting the singleton dimension in M or M_H.
https://github.com/pytorch/pytorch/blob/b9cca4b186797b4ccdc12197b3b71db94d8e2297/torch/_lowrank.py#L79

A simple solution that worked for me is changing the above (and two other similar lines) line to:

[code]
I'm not sure why two

[2020-07-02 14:51] albanD commented on #3169
I don't think there is a rule. Where it makes sense.
Since you're going to make something very close to sigmoid, I would recommend close to sigmoid.

Note that because the main benefit we expect here is from the autograd and not the low level implementation, I would recommend as a first step that the changes in the aten folder are limited to a new function in `native_functions.yaml` and a generic

[2020-07-02 15:01] mrshenli commented on #40166
We don't have to support collectives. In the future, when we get rid of ProcessGroup, we should still be able to worker infos from Store. Wouldn't that be sufficient?

The original motivation was actually not for shutdown. Instead, it is for per-iteration synchronization inspired by [this discussion](https://discuss.pytorch.org/t/distributed-pagerank-with-pytorch/78529/17). The developer is trying

[2020-07-02 15:12] malfet commented on #40472
@dreiss can you please cherry-pick PR to `release/1.6`?

[2020-07-02 15:19] JeremySun1224 commented on #21270
Hello, may I ask you about your NVIDIA driver version?

[2020-07-02 15:32] multinucliated opened #40922 "Can't load the model in Virtual environment"
`tacotron2 = torch.hub.load('nvidia/DeepLearningExamples:torchhub', 'nvidia_tacotron2')`

I'm not able to load this model when I'm making the virtual environment and loading.
Though this same line of code is working fine in my Jupyter notebook .

Also Im using windows 10 and cuda 10.2 and latest pytorch !

Traceback (most recent call last):
  File "/voice/tts.py", line 9, in <module>
    tacotron2

[2020-07-02 15:40] smitheric95 commented on #21270
Of course!

Here are the versions reported by `nvidia-smi`:
[code]

When using an older version of PyTorch, I use an anaconda environment that reports the following:

[code]

This works fine on my RTX series cards.

[2020-07-02 15:47] pbelevich commented on #40908
It works as expected AFAIK, you need to convert x to tensor explicitly: t[:] = torch.tensor(x)

[2020-07-02 15:47] #40908 closed

[2020-07-02 15:49] mrshenli commented on #40107
Assigned to myself to reserve for bootcamp

[2020-07-02 15:53] byronyi commented on #38419
PyTorch Dataloader is a pain in the ass for any data not reside in mounted file system. It encourages the users to store a huge number of small files which is an effective DoS attack to the storage system itself.

The whole multi worker pre-processing design causes huge amount of wasted CPU cycles and even GPU hours because of frequent OOMs of work processes.

It’s a nightmare for infrastructure S

[2020-07-02 16:03] JeremySun1224 commented on #21270
WoW, thank you so much.👍

[2020-07-02 16:05] ngimel commented on #40784
Adding triage review to prioritize in the meeting, This is not the first time a request to expose TensorIterator and at least its pointwise kernels (reductions would be great too) appears.

[2020-07-02 16:06] ngimel commented on #39769
Closing, please reopen if updating to 1.5.1 does not fix it.

[2020-07-02 16:06] #39769 closed

[2020-07-02 16:20] #38942 closed

[2020-07-02 16:40] FabianIsensee commented on #40911
Interestingly this does not happen with the nvcr.io/nvidia/pytorch:20.06-py3 docker

[2020-07-02 16:45] eellison commented on #40915
dup of https://github.com/pytorch/pytorch/issues/40915

[2020-07-02 16:45] #40915 closed

[2020-07-02 16:47] SsnL commented on #40915
@eellison hey you referred to this same issue...

[2020-07-02 16:48] SsnL commented on #40899
dup of https://github.com/pytorch/pytorch/issues/40870

[2020-07-02 16:48] #40899 closed

[2020-07-02 17:20] eellison commented on #40915
oop lol. this one https://github.com/pytorch/pytorch/issues/40869. as i commented on that one, i landed a PR for this but it can unlanded bc of aa slow test, i'll try to reland it.

[2020-07-02 17:26] Griffintaur commented on #32520
Is the fix available in  version 1.5 or it will be part of next release 1.6

[2020-07-02 17:30] spandantiwari commented on #39046
@pancho111203 - would it be OK to close this issue?

[2020-07-02 17:31] heiner commented on #17492
@zhuoyw

Are you certain? I just installed one of them via `conda install pytorch=1.5.1 torchvision cudatoolkit=10.1 -c pytorch` and afterwards ran `python -c "import torch; print(torch._C._GLIBCXX_USE_CXX11_ABI)"` and it prints `False`, so `_GLIBCXX_USE_CXX11_ABI=0`.

[2020-07-02 17:35] SsnL commented on #40915
@eellison ohh i see. that would be great! thanks!

[2020-07-02 17:48] pbelevich commented on #40922
Not able to reproduce (win10, macos)

[2020-07-02 17:51] peterjc123 commented on #40922
Related: https://github.com/scipy/scipy/issues/12400
Workground:
Option 1: Downgrade scipy to 1.4.1
Option 2: Use the scipy from Anaconda Cloud

[2020-07-02 17:56] gchanan opened #40929 "Get rid of 'backend_types' in codegen"
See this declaration: https://github.com/pytorch/pytorch/blob/1a74bb84f2b0fd0e1a532941645e24e2cfea1e6a/aten/src/ATen/Declarations.cwrap#L349

it's the only current usage of `backend_types` and can be replaced with relatively simple code with Dispatch (https://github.com/pytorch/pytorch/blob/1a74bb84f2b0fd0e1a532941645e24e2cfea1e6a/aten/src/ATen/Dispatch.h) and templates similar to how https://gith

[2020-07-02 17:59] glaringlee commented on #3169
Assign to me for now. This seems to me a good onboarding task, will assign this to onboarding people later.

[2020-07-02 18:04] zhuoyw commented on #17492
@heiner

This option is misleading. If you look at libtorch_cpu.so and libtorch_python.so, you will find that both of them are using _GLIBCXX_USE_CXX11_ABI.

To my knowledge, many of the previous ABI issues are resolved by recompiling PyTorch from source. People complain that they still have ABI issues although they checked this option torch._C._GLIBCXX_USE_CXX11_ABI (https://github.com/pytorch/ex

[2020-07-02 18:11] pearu commented on #40768
This would be even worse because this would generate more large temporary tensors (`A_H - M_H`) during the iteration.
Notice that `Q` has small number of columns so that `matmul(A_H, Q) - matmul(M_H, Q)` is very memory efficient compared to `matmul(A_H - M_H, Q)`.

[2020-07-02 18:20] ngimel commented on #40768
2 matmuls are more memory efficient (unless M_H is blown up in matmul, I'm not sure), but typically would be less compute-efficient, depending on the sizes. If you don't backprop through pca_lowrank and don't otherwise need A_H, you can compute A_H-M_H inplace, which will give you the best of both worlds - a single matmul and no additional memory.

[2020-07-02 18:22] glaringlee commented on #3169
Hi, @rwightman, we have a newly joined people in the team, I think this could be a good onboarding task for him, do you mind letting him doing this?

[2020-07-02 18:24] #35547 closed

[2020-07-02 18:25] pancho111203 commented on #39046
@spandantiwari Yes, the issue ended up being unrelated to ONNX. Thanks for your help

[2020-07-02 18:25] snie2012 commented on #16123
Any updates on supporting ModuleDict indexing?

[2020-07-02 18:26] pbelevich commented on #40904
Reproducible on some environments

[2020-07-02 18:26] spandantiwari commented on #38760
@DancingJane - can you please share your model code (smaller the better) and export code.

[2020-07-02 18:28] BowenBao commented on #39575
Took a look, can confirm the issue is coming from `_jit_pass_onnx_prepare_inplace_ops_for_onnx`. The root cause seems to be that the outer `If` node emitted empty output. This is due to inplace `aten::copy_` emitted for code `state[:] = prev_state`, and inplace op outputs are not part of subblock outputs.

Any suggestions @eellison ? Would it be a good idea utilizing aliasDb and adding to `if` out

[2020-07-02 18:28] rwightman commented on #3169
@glaringlee sure no problem, it does make a good intro task

[2020-07-02 18:32] glaringlee commented on #3169
@rwightman Thank you!

[2020-07-02 18:36] pearu commented on #40768
If the input to pca_lowrank is already centered, then use `center=False` that eliminates dealing with `M` in the svd algorithm.

[2020-07-02 18:41] ngimel commented on #40768
If batched (3d) matrices go into matmul, their expanded form is materialized, so it's expensive in terms of memory:
https://github.com/pytorch/pytorch/blob/5db5a0f2bb6b5bfa1822fd8c4e1ad67af88cab00/aten/src/ATen/native/LinearAlgebra.cpp#L482-L483. 2d tensors going to matmul call at::mm, and ultimately also materialize expanded tensor https://github.com/Quansight/pytorch/blob/0154de5ccf32cf37c611d11

[2020-07-02 18:46] pearu commented on #40768
@ngimel Notice that `tensor1_expand_size == tensor1.size()`. Does the `expand` still return a copy in this case?

[2020-07-02 18:49] multinucliated commented on #40922
Something weird I observed though this should not be the case but
1. I was running that venv in Pycharm so that Error traceback was printed .
2. But When i activated the same venv in the normal command promt console they gave me error of "module not found Numba"

[code]

So I installed these two with specific version as the latest was not supporting and Now it made it run fine.

Can you please exp

[2020-07-02 18:50] ngimel commented on #40768
`expand` does not return a copy, but contiguous does.
[code]

[2020-07-02 18:51] pearu commented on #40768
Ah, the problem might be in `M_H` that is not contiguous even when `M` is.

[2020-07-02 18:52] ngimel commented on #40904
@pbelevich what are the environments you can reproduce it in? My cuda 10.1 build produces correct answer.

[2020-07-02 18:54] pearu commented on #40768
So, it looks like that the most memory and processor efficient way is to ensure that the input to `pca_lowrank` is already centered and use `torch.pca_lowrank(A, center=False)`.

[2020-07-02 18:57] HelenaHlz opened #40932 "MultiheadAttention set(-inf) cause 'Nan' in loss computing"
## 🐛 Bug

I plan to reimplement a transformer variant model. I import MultiheadAttention from torch.nn.modules.activation.
In the encoder part, to be specific, the self multi-head attention part, if **the whole input is padded**, it means the key_padding_mask parameter is full of True.

"When the value is True, the corresponding value on the attention layer will be filled with -inf."

This setting

[2020-07-02 19:29] pbelevich commented on #40907
Please use https://discuss.pytorch.org/ for questions

[2020-07-02 19:29] #40907 closed

[2020-07-02 19:34] lw opened #40936 "[RFC] [RPC] Automatic retries of all requests in TensorPipe agent"
To increase resiliency to infra issues, we could provide an automatic transparent retry mechanism in the RPC agent.

There already exists something of that kind, but my understanding is that it's an internal API used only for RRef operations. A challenge of extending it to all requests is that, due to that retry system living outside the agent, it retries each failed request as a new separate requ

[2020-07-02 19:36] lw commented on #40936
CC @kiukchung

[2020-07-02 19:55] spandantiwari commented on #39053
@killTheHostage - could you please share a repro.

[2020-07-02 19:57] spandantiwari commented on #38218
Can you please share a repro with exact model and export code?

[2020-07-02 19:59] spandantiwari commented on #39046
@pancho111203 - OK, thanks for confirming.

[2020-07-02 19:59] #39046 closed

[2020-07-02 20:18] jjlilley commented on #40936
Adding a mechanism for this could be worthwhile, and preferable to users all having to "roll their own."
That said, having sufficient mechanisms to enable/disable and customize the logic could make it easier/safer to deploy.

There are real situations where retry might be un-desirable, many of which were mentioned above. e.g.
 - The calls not being idempotent.
 - An app might be tight on memory an

[2020-07-02 20:25] #37746 closed

[2020-07-02 20:26] davidbnk commented on #24807
[code]
In settings.json fixes for me

[2020-07-02 20:30] jamesr66a opened #40941 "ICE compiling `pow_test.cpp` with GCC7"
Getting this internal compiler error when building PT:

[code]

[code]

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @anjali411 @malfet @seemethere @walterddr

[2020-07-02 20:30] dotXem commented on #27837
Encountered the same problem (cashes at random epochs during training) yesterday with LSTM networks on a NVIDIA GTX 1070.

Solved the problem by updating the drivers to 451.48. Unfortunately I don't know the drivers I had when I was getting the crashes.

[2020-07-02 20:33] pbelevich commented on #40904
@ngimel
[code]

[2020-07-02 20:39] svideloc commented on #33292
Hi, I am having the same issue downloading torch=1.5.1+cpu for linux, any help on this?

ERROR: Could not find a version that satisfies the requirement torch==1.5.1+cpu (from versions: 0.1.2, 0.1.2.post1, 0.1.2.post2, 0.3.1, 0.4.0, 0.4.1, 1.0.0, 1.0.1, 1.0.1.post2, 1.1.0, 1.2.0, 1.3.0, 1.3.1, 1.4.0, 1.5.0, 1.5.1)
ERROR: No matching distribution found for torch==1.5.1+cpu

[2020-07-02 20:52] pbelevich commented on #40909
Obviously we need more information like: what environment/tools do you use, how did you get pytorch source code, what commands did you run, etc.

[2020-07-02 21:32] pbelevich commented on #40854
I don't know the answer, but https://github.com/pytorch/builder/pull/450 might be related
@zasdfgbnm @peterjc123

[2020-07-02 22:16] #40032 closed

[2020-07-02 22:29] zasdfgbnm commented on #40854
Hi @crayonshine, I myself is a big fan of archlinux, and I am waiting for archlinux to upgrade CUDA and pytorch versions :)
I am able to build magma successfully at https://github.com/pytorch/builder/pull/461 inside a redhat docker. You would need to patch the cmake files I think? See: https://github.com/pytorch/builder/pull/461

Let me know if you need further information, and I will be happy to

[2020-07-02 22:36] zasdfgbnm commented on #40854
In brief, you need to  disable magma sparse from the cmake file. PyTorch is not using magma sparse.

[2020-07-03 00:08] AshkanAliabadi commented on #40472
@malfet @dreiss I created cherry-pick PRs against release/1.6 for my PRs and David's.  Here's the list:

1. #40951
2. #40953
3. #40954
4. #40955
5. #40956

If you have any concerns lets follow up on the PRs individually to avoid cluttering this thread.  Thanks!

[2020-07-03 00:16] aayn commented on #40018
What would I put as the derivatives of `gcm` and `lcm`? Just `grad` (letting the gradient pass through without change), or throwing an exception saying that it is undefined? :thinking:

@mruberry

[2020-07-03 00:29] lawpdas commented on #40909
Thanks for your reply. I got pytorch source by `git clone` and ran these commands within a conda environment.
[code]
ubuntu18.04
cuda10.2.89
gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
python3.7

packages in environment
[code]

[2020-07-03 00:38] Balandat commented on #35735
Is anyone working on this? Would be nice to have this to streamline dealing with buffers.

[2020-07-03 00:55] #40768 closed

[2020-07-03 02:20] zherlock030 opened #40959 "Will the model run slower when deployed using libtorch ?"
I'm trying to deploy a yolov5s model in my C++ program.
I followed the instructions in [https://gist.github.com/jakepoz/eb36163814a8f1b6ceb31e8addbba270](url) to get a torchscript converted model.
These are my C++ code, I put these code in a thread in ORBSLAM (a SLAM system), meanwhile there are other SLAM threads running.
[code]

It took 720ms to load the model and 1300ms to run the model once.
B

[2020-07-03 03:15] SsnL opened #40960 "tensor.narrow arg parsing & typing are wrong"
[code]

`dim` arg is not accepted?

[2020-07-03 03:15] #40960 closed

[2020-07-03 03:25] muupan commented on #39178
👍 for this feature. TensorFlow's `MixtureSameFaimily` has a `reparameterize` option using using implicit reparameterization gradients. https://www.tensorflow.org/probability/api_docs/python/tfp/distributions/MixtureSameFamily

[2020-07-03 03:29] CaichaoGitHub opened #40961 "how could i get old version of libtorch , thanks"
## ❓ Questions and Help

hello, please help
my server is running a old version centos ,right now it can only support C++11,
i wanted to install a old version of libtorch , but i can't find it anywhere ,

![image](https://user-images.githubusercontent.com/12059897/86428772-296f8900-bd20-11ea-921f-2646f526163e.png)

[2020-07-03 03:31] zherlock030 commented on #40959
I tested that again, it requires around 400ms in a single application without any other threads.

[2020-07-03 04:03] ngimel commented on #40904
This is fixed on master/nightly builds.

[2020-07-03 04:54] #34223 closed

[2020-07-03 06:55] lw commented on #40936
Other libraries have a `num_retries` argument, which goes alongside the timeout: a request is retired up to `num_retries` times and up to a total timeout, whichever comes first. We could start with a global `num_retries` parameter (like timeout used to be), making it configurable per-request if there's demand. We can start by leaving its default value to 0 (so it's effectively disabled and it give

[2020-07-03 06:57] zherlock030 commented on #40959
And I used CPU of course

[2020-07-03 07:17] tehreemnaqvi commented on #9446
Hi, I also got this error. How to fix this?

**RuntimeError: The size of tensor a (8) must match the size of tensor b (4) at non-singleton dimension 3**

[2020-07-03 08:49] luluyouyue commented on #17326
I think we should solve this problem by error hint

[2020-07-03 11:22] surya00060 opened #40964 "Differences in PyTorch and ONNX graphs"
## 🐛 Bug

The model graph and the onnx exported graph are different for Proxyless-NAS from torch hub. ProxylessNAS has batch norm layer, followed by ReLU and then Conv2d in PyTorch model but when it is exported to ONNX the computation graph becomes Conv2d followed by batch norm which is followed by ReLU.

## To Reproduce

Steps to reproduce the behavior:
[code]
print(net) produces following output

[2020-07-03 11:42] DanielAtKrypton commented on #4793
[This](https://stackoverflow.com/questions/59752559/how-to-specify-pytorch-cuda-version-in-pipenv) looks like a great solution. But it requires a Pytorch website small change.

[2020-07-03 11:57] rick-heig opened #40965 "Linux libtorch c++ cmake not compatible with newer versions of cuDNN (for Caffe2)"
## 🐛 Bug

When building C++ examples with libtorch and CUDA the build scripts no longer work with newer versions of cuDNN.

[code]

The reason is because `libtorch/share/cmake/Caffe2/public/cuda.cmake` uses a regular expression on `/usr/include/cudnn.h` to infer the version but for cuDNN v8 and above the version is in `/usr/include/cudnn_version.h` which is included by `/usr/include/cudnn.h`, howe

[2020-07-03 12:05] he-y opened #40966 "Move the pruning module to a higher level"
## 🚀 Feature
Call the pruning function needs several sub-functions, e.g., [`torch.nn.utils.prune.BasePruningMethod`](https://pytorch.org/tutorials/intermediate/pruning_tutorial.html).
Move the pruning module to a higher level might be better.

## Motivation
When more pruning methods are added, as discussed [here](https://github.com/pytorch/pytorch/issues/39765) and [here](https://github.com/pytorc

[2020-07-03 12:07] he-y commented on #40966
@mickypaganini
How do you think about this suggestion?

[2020-07-03 12:13] lw commented on #40166
Not necessarily or, at least, not until this is needed. As all nodes have a common store, each node is able to look up the address of any other node and connect to it, but it doesn't do so until it has a reason to connect.

Imagine a client-server topology. The server's address is advertised in the store. Clients can come, look that address up, connect to the server, send a request, obtain a respo

[2020-07-03 12:20] SergioRAgostinho commented on #31546
Commenting just to declare support for implementing this new behavior.

For those asking for workarounds, the only one existing is inefficient as stated https://github.com/pytorch/pytorch/issues/31546#issuecomment-569035545. It goes as follows: assuming you're solving a linear system as
[code]

[2020-07-03 12:22] rick-heig commented on #40965
A quick and dirty edit of `libtorch/share/cmake/Caffe2/public/cuda.cmake` at line 148

Replacing : `file(READ ${CUDNN_INCLUDE_PATH}/cudnn.h CUDNN_HEADER_CONTENTS)`
By : `file(READ ${CUDNN_INCLUDE_PATH}/cudnn_version.h CUDNN_HEADER_CONTENTS)`

Allows me the get the expected result :
[code]

So a possible fix would be to append the contents of `cudnn_version.h` to `CUDNN_HEADER_CONTENTS` if the file

[2020-07-03 12:36] tdeboissiere commented on #40904
Thanks ! Closing the issue, feel free to reopen if needed.

[2020-07-03 12:36] #40904 closed

[2020-07-03 13:12] CosmicHunter commented on #22488
I exported an LSTM model with multiple inputs , Now to check it I am using onnx runtime . How to pass multiple inputs to the onnx runtime . The code is giving error on passing multiple inputs

[2020-07-03 14:24] tcapelle commented on #1706
Is this still on the way?

[2020-07-03 15:06] pyscorcher opened #40967 "Inconsistent behaviour when parameter appears multiple times in parameter list"
## 🐛 Bug

When we pass a list of parameters or parameter groups to an optimizer, and one parameter appears multiple times we get different behaviours, and it is not clear whether this is intended that way:

* If the parameter appears twice within one parameter group, everything works. That parameter will get updated *twice* though.
* If the parameter appears in distinct parameter groups, then we g

[2020-07-03 15:20] peterjc123 commented on #40961
https://pytorch.org/get-started/previous-versions/

[2020-07-03 15:20] #40961 closed

[2020-07-03 15:21] peterjc123 commented on #40961
And the format of the download link for libtorch files is almost consistent. You can just replace 1.5.1 with any version you want.

[2020-07-03 15:23] peterjc123 commented on #40961
For example, https://download.pytorch.org/libtorch/cu102/libtorch-shared-with-deps-1.4.0.zip

[2020-07-03 15:30] surak opened #40968 "Pytorch 1.4 compilation hangs on AMD Epyc"
## 🐛 Bug

[1352/3291] : && /software/CMake/3.14.0-GCCcore-8.3.0/bin/cmake -E remove lib/libfbgemm.a && /software/binutils/2.32-GCCcore-8.3.0/bin/ar qc lib/libfbgemm.a  third_party/fbgemm/CMakeFiles/fbgemm_generic.dir/src/ExecuteKernel.cc.o third_party/fbgemm/CMakeFiles/fbgemm_generic.dir/src/ExecuteKernelU8S8.cc.o third_party/fbgemm/CMakeFiles/fbgemm_generic.dir/src/Fbgemm.cc.o third_party/fbgemm/

[2020-07-03 16:11] surak commented on #31883
Did you try with
[code]

[2020-07-03 16:27] vainaijr opened #40969 "Regarding graphs page on site"
## 🚀 Feature

A graphs page on site, to track the evolution of PyTorch, along with the time required to train neural networks, along with the data available.
## Motivation

Without graph it become difficult to see, where things are headed.
## Pitch

I suggest a few graphs, a few more could be added,
1) Evolution of PyTorch
2) Evolution of time required to train neural network, since the beginning

[2020-07-03 16:40] mcarilli commented on #40073
Your code snippet is text formatted, are you running it with forward indented under autocast or not?
[code]
or
[code]

[2020-07-03 17:36] zhouwei25 opened #40971 "The values calculated according to the document isn't equal to the values calculated by framework"
## 📚 Documentation

https://github.com/pytorch/pytorch/blob/master/torch/optim/lr_scheduler.py#L448

If set T_max =5, initial learning_rate of optimizer are 0.5, eta_min=0:

The value calculated by framework are as flow :
![image](https://user-images.githubusercontent.com/52485244/86489287-7726d880-bd96-11ea-83a5-3f4077fdcd94.png)

But the value calculated by formula in the document[https://pytorc

[2020-07-03 18:19] SsnL commented on #40966
I personally would just use the `import X as Y` here. I.e., `import torch.nn.utils.prune as prune`.

[2020-07-03 18:29] hwchase17 opened #40972 "len of dataloader when using iterable dataset does not reflect batch size"
## 🐛 Bug

If I construct an iterable dataset of length 100, and want to then use that in a dataloader with batch_size=4, one would expect the length of the dataloader to be 25, but instead it is 100. This is because it is implemented as
[code]

## To Reproduce

Steps to reproduce the behavior:

[code]
this prints:
[code]

## Expected behavior

I would expect this to print:
[code]
## Environment

P

[2020-07-03 20:48] williamdias opened #40973 "Memory leak when evaluating model on CPU"
## 🐛 Bug

Pytorch seems to be leaking memory when evaluating a model on cpu.

![Screen Shot 2020-07-03 at 17 28 51](https://user-images.githubusercontent.com/686915/86496455-e8916780-bd53-11ea-8c01-cbbab95bce5c.png)

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

I expected memory consumption would reach a plateau after some time and not keep growing indefinitely.

[2020-07-03 21:24] nairbv commented on #40891
cc @mruberry

[2020-07-03 22:19] #40304 closed

[2020-07-03 22:31] IvonMa commented on #1249
I tried these codes but it report `RuntimeError: view size is not compatible with input tensor's size and stride (at least one dimension spans across two contiguous subspaces). Use .reshape(...) instead.`

Maybe the `view(-1)` should be changed to `reshape(-1)`, or `.contiguous().view(-1)` ?

[2020-07-04 01:13] mrshenli opened #40974 "Add a launching script for RPC"
See forum discussion: https://discuss.pytorch.org/t/distributed-model-parallel-using-distributed-rpc/87875/3

This might be helpful to provide launching script for RPC as we did for DDP.

[2020-07-04 01:17] boakotoko commented on #31758
Do you solve this problem？I have the same problem.Can you tell me how to do this
?

[2020-07-04 04:39] zosel260 commented on #32937
I have a same problem. Did you resolve this? In my case, the error happens also with torch v.1.1 with cuda v.10.1. Did your working version(1.1) use the different cuda version?

[2020-07-04 05:10] EricCousineau-TRI opened #40977 "nn.Module: Confusing contract for `.register_parameter(name, None)` and `.register_buffer(name, None)`?"
## 📚 Documentation

*Note*: I'm linking 1.5.0, not 1.5.1, b/c I can't get a permalink to 1.5.1 docs :(

I was trying to get familiar with how BatchNorm stuff works:
https://pytorch.org/docs/1.5.0/nn.html?highlight=batchnorm#torch.nn.BatchNorm1d
The docs and paper xref were great! But I didn't have a good grasp of how the running estimates were actually implemented, so I looked at the code:
https:/

[2020-07-04 06:00] SsnL opened #40978 "[FR] NCCL and bool type"
NCCL should support `bool`. Currently if you use a `bool` buffer in your module then DataParallel complains since
https://github.com/pytorch/pytorch/blob/5b194b0fb21e4cb1ef0357b3315e311db4432338/torch/csrc/cuda/nccl.cpp#L95
gets triggered in replicate.

We should just map `bool` to `ncclChar` too.

[2020-07-04 06:05] umgupta commented on #19126
I think I encounter this too. Looking at the implementation https://pytorch.org/docs/master/_modules/torch/nn/utils/weight_norm.html#weight_norm

I think modifying the `compute_weight` function as below should do the trick.

[code]
Inspired by https://gist.github.com/rtqichen/b22a9c6bfc4f36e605a7b3ac1ab4122f

[2020-07-04 07:24] #40964 closed

[2020-07-04 11:33] XiaomoWu commented on #37068
I'm a content creator as well as a deep learning researcher. It would be great that I can do distributed training on my Windows machine without relying on WSL2 (which is still in its early stage regarding CUDA support) or dual booting. Thanks.

[2020-07-04 12:33] #31084 closed

[2020-07-04 12:48] pandeydeep9 opened #40980 "Polygamma function for n>=2"
## 🚀 Feature

In pytorch, polygamma function is not implemented for n>=2. I need to use higher-order polygamma functions in loss functions.
## Motivation
I am running experiments where I need to experiment with higher order derivatives of digamma function. I can't find a solution for how to do this.

## Pitch
I want to be able to have output for polygamma at least upto n =3.

## Alternatives
I hav

[2020-07-04 13:08] wangyujiewj commented on #28293
So how to set the values of l and h?

[2020-07-04 15:21] mariosasko commented on #40967
I believe this is a valid behavior and there is no reason to change it. The idea of parameter groups is to enable the user to have a different set of optimizer parameters (lr, weight decay, ...) for each group. If the last definition was allowed, it would mean that it's possible to have ambiguous param groups that share same parameters with different optimizer policies, e.g. `torch.optim.SGD([{'pa

[2020-07-04 15:28] kleingeo opened #40981 "Easier method for model inference and deployment"
I have been looking into ways to deploy and use models after they are trained. I originally started machine/deep learning using Keras/Tensorflow, and one of the options with them is the ability to save the model architecture as a `.json` file and loading the weights into that. Is there any plans on doing something like with with PyTorch? For a lot of use cases, it isn’t ideal to use the same devel

[2020-07-04 15:43] mariosasko commented on #33215
It's for efficiency reasons. Basically, for each timestamp you can feed the recurrent cell with all the values from the batch at that timestamp and the time-first format means faster indexing.

[2020-07-04 16:03] Wuyxin opened #40983 "loss.backward() can't update model parameters"
## ❓ Questions and Help

Here's a simple model with two self-designed pooling layers(self.node_pooling, self.edge_pooling), the problem is that the layers' **parameters remain unchanged** during training. Further, I check the **gradients** of some variables (e.g. self.model.readout, x, edge_attr) after loss.backward,  and all of these turn out to be **None**.

[code]

I don't know if the way I use

[2020-07-04 19:01] #40658 closed

[2020-07-04 19:22] MANISH007700 commented on #40983
After the optimizer.step() , new weights and bias are made , so you have to clear the old bias and weight  and hence you should add optimizer.zer0_grad() after optimizer.step() , so that new weights can be updated !

Cheers !

[2020-07-04 20:22] albanD commented on #40983
Hi,

We use github issues only for bugs or feature requests.
Please use the forum to ask questions: https://discuss.pytorch.org/

For your particular question,
`k` is not used to compute the loss, so it is expected that it has no gradient.
For things like `model.readout`, you seem to only use a subset of it, so I guess that the original Tensor's .grad field is not populated indeed.

Don't hesitate

[2020-07-04 20:22] #40983 closed

[2020-07-04 20:24] albanD commented on #40981
Hi,

You can look up online, there is a lot of material about this. This blogpost should give a good intro: https://pytorch.org/blog/model-serving-in-pyorch/
Also don't hesitate to open a new topic on the forum (https://discuss.pytorch.org/) if you have any follow up questions.

[2020-07-04 20:24] #40981 closed

[2020-07-04 20:26] albanD commented on #40980
Hi,

Thanks for the report. We would be happy to accept a PR adding this feature!

[2020-07-04 20:31] albanD commented on #40858
@ngimel is this missing assert in the GPU code or is it expected?

[2020-07-04 20:32] albanD commented on #40863
Hi,

It looks like another program (other than pytorch) is already using all the GPU memory.
Are you sure that there isn't something else running at the same time that causes this?

[2020-07-04 21:39] ngimel commented on #40858
This is fixed in 1.5.1, nightlies and master. Closing, please reopen if the problem persists.

[2020-07-04 21:39] #40858 closed

[2020-07-04 22:18] jzju opened #40985 "Dataloader convert to cuda"
## 🚀 Feature
Add a flag for dataloader to convert output to cuda

## Motivation
Avoiding boilerplate code.
In case whole dataset fits in GPU memory avoid copy from cpu to gpu every epoch.

From
[code]
To
[code]

cc @SsnL

[2020-07-04 22:47] #40603 closed

[2020-07-05 00:31] kleingeo commented on #40981
I have done a lot of reading on this topic, and the link for the blog post doesn't have much information relevant in it. I am not using an embedded system or any other special kind of system. I am simply looking to use the trained model's in a simpler way, but not with any kind of special system, server, or other framework. All info about using model inferencing through the PyTorch site deals with

[2020-07-05 03:16] luckyvs1 commented on #33290
This issue was resolved as part of PR: [39508](https://github.com/pytorch/pytorch/pull/39508) -- can this issue be closed?

[2020-07-05 04:06] ngimel opened #40986 "In-place operation between cpu scalar and gpu scalar throws an error"
## 🐛 Bug

## To Reproduce

[code]
results in
[code]

## Expected behavior

No error (that's tricky to implement though) or better error message

cc @mruberry, @albanD

[2020-07-05 06:19] jiecaoyu commented on #39765
Hi @he-y , I have some thoughts on the implementation:

- For the fine-grained block sparsity, ```l1_unstructured``` can be directly used with some modifications. When [computing the mask](https://github.com/pytorch/pytorch/blob/4fef3763dd7266195e8ef20c0a5d4dd1219afeb0/torch/nn/utils/prune.py#L510), we can put weights in blocks with the same size (e.g., 4), and use the square sum of the weights in

[2020-07-05 07:08] ankit-kothari commented on #16542
Hey, any updates on this issue. I am getting the same error and I tried working with the hotfix. I am not getting the result. Thanks

[2020-07-05 07:44] newwhitecheng commented on #30459
May I ask which version of tensorboardx and pytorch you use?

[2020-07-05 07:45] newwhitecheng commented on #30459
@yangsenius May I ask which version of tensorboardx and pytorch you use?

[2020-07-05 08:05] yangsenius commented on #30459
PyTorch == 1.2.0 and TensorboardX==2.0 (likely)

[2020-07-05 08:18] newwhitecheng commented on #30459
Hi @yangsenius thanks for your quick reply! I tried your method and Pytorch==1.2 and also TensorboardX==2.0 but I got the following error. Any Idea?

[code]

[2020-07-05 08:21] yangsenius commented on #30459
@newwhitecheng. Can you have a try with tensorboardX==1.4? I may have updated the version.

[2020-07-05 08:36] kir486680 commented on #10657
omg please do it

[2020-07-05 10:17] anshkumar commented on #40863
I'm 100% sure. There is nothing running on the GPU.

[2020-07-05 13:14] Gaussian01 commented on #574
After doing the cd... approach, Strangely, restarting and resetting all in my google colabs resolved this issue. Maybe trying this first first could save time. Not sure why though
[No module named 'torch._C' ]

[2020-07-05 14:34] yongtw123 opened #40988 "'_mm256_extract_epi64' was not declared in this scope when compiling on Debian 32-bit"
## 🐛 Bug

I am attempting to compile pytorch on Debian 32-bit VM. Compilation errors about AVX have been mentioned before #17901, but I still came across similar errors mentioning `_mm256_extract_epi64`, and they seemed to come from ATen not Caffe2.

## To Reproduce

Steps to reproduce the behavior:

1. Debian 32-bit install miniconda, create python 3.6 environment
1. Follow https://github.com/pyt

[2020-07-05 14:35] antimora commented on #20124
I am in favor to remove the warning. Should I file a ticket to get it done?

(CCing @ezyang since everyone is CCing him here)

[2020-07-05 15:14] xkszltl commented on #31883
No.
I'd rather avoid that since Nvidia has already provided "official" NCCL pkgs so the path should be easy to find by cmake.

Well, in reality there's only a few possible paths anyway:
- /usr/include
- /usr/local/include
- /usr/local/cuda/include

[2020-07-05 15:26] pmeier opened #40989 "Difference between allocated and reserved CUDA memory"
## ❓ Questions and Help

I've asked this [here](https://discuss.pytorch.org/t/difference-between-allocated-and-reserved-memory/87278) but got no response.

---

I imagined that that the difference between allocated and reserved memory is the following:

- **allocated** memory is the amount memory that is actually used by PyTorch.
- **reserved** is the allocated memory plus pre-cached memory.

If t

[2020-07-05 15:44] vadimkantorov commented on #40989
Tangentially related: https://github.com/pytorch/pytorch/issues/32101 https://github.com/pytorch/pytorch/issues/36990 https://github.com/pytorch/pytorch/issues/29554

[2020-07-05 16:32] surak commented on #31883
Not at all. In supercomputing installations, they are installed on the parallel file systems, so locations can vary wildly.

[2020-07-05 17:06] xkszltl commented on #31883
That part I totally agree, my words are for "standard" setup only because that can be used as default value.
For classic HPC cluster, since there're also multilib issue (for versions/compilers), only the user know which one to use.

[2020-07-05 17:09] xkszltl commented on #31883
And for HPC cluster, probably it's better to use env var `NCCL_INCLUDE_DIR` as that can be easily set by tools like `modules`.

[2020-07-05 17:34] peterbell10 commented on #40560
It is the standard definition of the [weighted mean](https://en.wikipedia.org/wiki/Weighted_arithmetic_mean#Mathematical_definition). For integral weights, this gives you the same answer as the mean where each element `i` is duplicated `weight[i]` times. And if you set the weights to all equal, you will get a normal unweighted mean.
[code]

[2020-07-05 18:52] sniklaus opened #40990 "incorrect torch.cat signature"
## 🐛 Bug

According to the documentation, the signature of `torch.cat` is `torch.cat(tensors, dim=0, out=None)`. However, it is not possible to call `torch.cat` with three positional arguments.

## To Reproduce

[code]

The following works though, notice that I only added `out=` to the third argument. However, this should not be required as per the signature definition in the documentation.

[code

[2020-07-05 18:58] ghltshubh commented on #28886
@zhuzilin The issue was with setting library paths. Once you set every path correctly it will work.

[2020-07-05 20:45] wdwit commented on #27837
I have a similar problem, but I think I have them since I updated to 451.48.

[2020-07-05 22:14] Nishikoh commented on #40315
Can I tackle this issue?

[2020-07-06 00:48] xsacha commented on #40959
How many threads are you using in C++ vs Python will affect the speed.

[2020-07-06 01:01] anguoyang opened #40994 "Torch.jit.trace error on FPN quantized model"
## 🐛 Bug

When we use torch.jit.trace on the per-channel quantized model, we got this error:
`RuntimeError: outputs_.size() == 1 INTERNAL ASSERT FAILED at /opt/conda/conda-bld/pytorch_1591914880026/work/torch/csrc/jit/ir/ir.h:388, please report a bug to PyTorch. `

## To Reproduce

Steps to reproduce the behavior:

1.Fuse and quantize a model with FPN(feature pyramid network)
2. Torch.jit.trace on

[2020-07-06 01:50] DNXie commented on #40240
@vincentqb I tried to make the document several times, but all failed.  I followed the guidance here: https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#writing-documentation
But got the error message every time:
[code]
Since it is a format issue, I really need to look at the HTML file after `make` to make sure the format is correct. Sorry for that. Please assign some other developer f

[2020-07-06 02:16] zhouwei25 opened #40997 "Is this a bug? The values calculated according to the document isn't equal to the values calculated by framework"
## 📚 Documentation
Torch 1.5.0 CPU, Linux

https://github.com/pytorch/pytorch/blob/master/torch/optim/lr_scheduler.py#L448

If set T_max =5, initial learning_rate of optimizer are 0.5, eta_min=0:

The value calculated by framework are as flow :
![image](https://user-images.githubusercontent.com/52485244/86489498-16e46680-bd97-11ea-9a10-622d48d4cf3e.png)

But the value calculated by formula in the

[2020-07-06 02:41] futureisatyourhand commented on #16542
Nothing. I'm setting it to CUDA by default.

[2020-07-06 03:29] peterjc123 opened #40998 "update_s3_htmls job is failing on CircleCI"
## 🐛 Bug

Per title. Actually the job is queued for a long time and never get running.
See
https://app.circleci.com/pipelines/github/pytorch/pytorch/187773/workflows/0c569c8f-ebfe-4247-a364-dea5f60f10ae/jobs/6113912
https://app.circleci.com/pipelines/github/pytorch/pytorch/187926/workflows/432dbe98-ca2f-484d-acc7-0482cb3fd01f/jobs/6118566

cc @ezyang @gchanan @zou3519 @seemethere @malfet

[2020-07-06 03:52] CaichaoGitHub commented on #40961
thanks very much , i have get it !

[2020-07-06 04:27] #40874 closed

[2020-07-06 05:30] mattip commented on #40553
There is no definition of `logits` in the [Categorical](https://pytorch.org/docs/master/distributions.html#categorical) documentation. It does refer to [Multinomial](https://pytorch.org/docs/master/distributions.html#multinomial) which states

and

It also has a note

So it would seem `-inf` is a valid `logit` value (should result in a `prob` of 0, which is allowed).

@alicanb it seems your commen

[2020-07-06 05:45] newwhitecheng commented on #30459
sure, thanks a lot, I think it's just a version mismatch problem. Thanks for your valuable solution!

[2020-07-06 05:48] jingxu10 opened #41001 "Enable Intel® VTune™ Profiler's Instrumentation and Tracing Technology APIs (ITT) to PyTorch"
## 🚀 Feature

Enable Intel® VTune™ Profiler's Instrumentation and Tracing Technology APIs (ITT) to PyTorch

## Motivation

This is Intel's counterpart functionality of NVidia’s NVTX (https://pytorch.org/docs/stable/autograd.html#torch.autograd.profiler.emit_nvtx).
1.	The instrumentation and tracing technology (ITT) APIs of Intel® VTune Profiler enables application to generate and control the colle

[2020-07-06 06:36] mattip commented on #40553
With gh-41002, the test at the top of the issue passes.

[2020-07-06 06:44] #26403 closed

[2020-07-06 07:25] AMDfans commented on #31106
How to install MKL for MACOS 10.15.3 on Ryzen? My MATLAB cannot work because it lacks BLAS.

[2020-07-06 07:41] pyscorcher commented on #40967
Thanks for your reply! It really is not a big problem, I just thought it would be nice to have that documented somewhere. Or alternatively I imagine one could implement a warning when the same parameter is present multiple times in the same parameter group.

[2020-07-06 08:06] yyMoming opened #41003 "When I import pytorch, there is a ImportError:Library not loaded: @rpath/libmkl_core.dylib"
Traceback (most recent call last):
  File "/Users/admin/Documents/work/sight-singing/Auto_SS_Eval/main.py", line 8, in <module>
    from onset_predict import predictor_onset
  File "/Users/admin/Documents/work/sight-singing/Auto_SS_Eval/onset_predict.py", line 7, in <module>
    import torch
  File "/Applications/anaconda3/envs/pytorch/lib/python3.7/site-packages/torch/__init__.py", line 81, in <m

[2020-07-06 09:30] lawpdas commented on #40663
@glaringlee I built it with pytorch1.5.1 and nightly. Both them are installed by `conda install'.
cuda10.1
python3.7
ubuntu18.04
gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0

I also tried to clone the latest pytorch from master, but I got another error when I built it : (

[2020-07-06 09:47] Captfan opened #41005 "Pytorch installation error"
## ❓ Questions and Help

Hi,

I am trying to install PyTorch for my Python 3.7.4, so from the Get Started page, I've selected:

PyTorch Build: Stable(1.5.1)
Your OS: Windows
Package: Pip
Language Python
CUDA: None (as I don't have Nvidia graphic card installed)

However, there is an error when run the generated command:

C:\Python\Python37-32\Scripts>pip install torch==1.5.1+cpu torchvision==0.6.1

[2020-07-06 10:58] SeanRBurton opened #41006 "Simplify Adam Optimizer"
At the moment in the Adam optimizer the exponential moving averages are decoupled from the bias correction, as per the original paper. However, it is possible to combine these operations into a single update step.

An unbiased exponential moving average with parameter <img src="https://render.githubusercontent.com/render/math?math=\beta"> can be computed using the following update rule:

<img src=

[2020-07-06 11:20] Coderx7 commented on #32691
Any help in this regard is greatly appreciated. I still am very confused of the casue of this error!!

[2020-07-06 12:15] surak commented on #31883
In any case, I'm having this again with pytorch 1.4 and still don't know how to fix it.

[2020-07-06 12:43] kfeeeeee commented on #11929
This works very well. I am just wondering if there is any way to call a destructor if the worker exited, e.g., closing the hdf5 file properly. Do you know how to do that?

[2020-07-06 12:44] peterjc123 commented on #41005
Please use a 64-bit Python installation instead.

[2020-07-06 12:44] #41005 closed

[2020-07-06 12:47] jamesbut commented on #40613
In python one can call the numpy set_printoptions but given that the C++ API uses the ATen tensors, one does not have control over the formatting.

[2020-07-06 12:49] TommasoBendinelli opened #41007 "torch.onnx.export does not preserve weights name"
## 🐛 Bug
I am exporting a onnx graph through torch.onnx.export and then visualise it through Netron.
While the bias are correctly encoded in layersX.bias the weights' name are not preserved

## To Reproduce
[code]
Current output with verbose on
[code]

## Expected behavior
I would like to have an output as:
[code]

## Environment
 - PyTorch Version (e.g., 1.0): 1.5.1
 - OS (e.g., Linux): macOS Moj

[2020-07-06 13:42] #40227 closed

[2020-07-06 13:56] malfet commented on #40663
@lawpdas can you please share a full build log (including output from configure)?

[2020-07-06 13:58] albanD commented on #40966
I would agree that you can simply import a submodule to be able to access it more easily.
Also, not having everything at the base level makes it easier to organize your code (and the library).

[2020-07-06 14:00] albanD commented on #40972
@SsnL Is this expected? Or we want to change it?

[2020-07-06 14:11] malfet commented on #40909
@lawpdas this sounds like a broken CUDA installation. That `enum` should be declared in `/usr/loca/cuda-10.2/include/driver_types.h` Can you please check, that it is there and also that you don't have `driver_types.h` header in your `/usr/include/` folder (which would indicate, that you have previous version of cuda installed via DEB packages)
Also, please check that `/usr/local/cuda` is a symlink

[2020-07-06 14:15] P1eter commented on #5301
I had this problem too. For me the error seems to happen only when the computer memory runs out (looking at `htop` or anything similar). The slowdown of the training is due to the dataloader becoming the bottleneck in the training process, so you still want as many workers as possible.

If you tune the number of workers in the dataloader to the available memory (by trial and error), you can find a

[2020-07-06 14:23] omasaht opened #41009 "Export to ONNX fails using F.interpolate with mode='area'"
## 🐛 Bug

When I try to export my model to ONNX that uses F.interpolate with mode set to 'area', I get an error. I tried changing scale_factor (both upsampling and downsampling) but error stays the same. I have attached a sample code which may be used to reproduce the error below.

## Sample Code To Reproduce Error:

[code]
## Stack Traces and Error Message

[code]

## Expected behavior

Pytorch m

[2020-07-06 14:34] he-y commented on #40966
Thanks. I agree.

[2020-07-06 14:34] #40966 closed

[2020-07-06 14:35] vadimkantorov commented on #40910
This is about Nvidia Apex that will probably become deprecated. I posted this issue mostly because it may indicate some JIT tracing / onnx export bug.

The error looks strange, and further, this all runs with `torch.set_grad_enabled(False)`, so not sure why "requiring grad" makes a difference at all. Also not sure what tensor ("Cannot insert a Tensor that requires grad as a constant") it refers to

[2020-07-06 14:37] ezyang commented on #40426
That may very well be true. 1.6.0 is coming soon so it's unlikely there will be a 1.5.2 release to fix this issue.

[2020-07-06 14:43] narpat22 opened #41010 "Need help to solve this error CUDA error: device-side assert triggered"
**I am implement simple feedforward network using MNIST data (digit recognotion)**
- [Discussion Forum](https://discuss.pytorch.org/)

[code]

**here is the full error**
[code]
**I have tried using this **
[code]

[2020-07-06 14:47] albanD commented on #40240
Yes, you need to have `katex` installed (available via node.js package manager or with apt with name "node-katex" for ubuntu-like distros).

[2020-07-06 14:47] SsnL commented on #40972
This has been mostly fixed on master, but we still need https://github.com/pytorch/pytorch/pull/40344 to fully fix. I assume the fix will be in the next release.

[2020-07-06 14:48] ezyang commented on #40843
Hello @smartcat2010. The "NVTX overhead" in the bottleneck is referring to the overhead when the tool is attached, which doesn't contradict the NVTX docs. We can't do bottleneck profiling without actually instrumenting NVTX.

The autograd profiler is another mechanism and it does have its own overhead, independently of NVTX. This is because we insert a lot of new ranges automatically.

If you are

[2020-07-06 14:50] #40744 closed

[2020-07-06 14:52] ezyang commented on #40784
IMO we should just expose these headers.

[2020-07-06 14:55] ezyang commented on #32520
[code]

It will be part of next release 1.6

[2020-07-06 14:55] smartcat2010 commented on #40843
Thank you very much!
As for the "attached", does it mean attaching a debugger to the process which calls NVTX?

[2020-07-06 14:57] #39600 closed

[2020-07-06 15:01] peterjc123 commented on #41010
What is the error if you remove the `.to(device)` call in that line?

[2020-07-06 15:01] albanD commented on #40863
The error message clearly states " 530.00 MiB reserved in total by PyTorch" and "12.50 MiB free". So something else is hanging on to the memory.
What does nvidia-smi reports (process and memory usage)? Do you have a screen attached to that GPU?

[2020-07-06 15:03] narpat22 commented on #41010
It will work fine.
As it will work on Cpu and am trying to work on GPU

[2020-07-06 15:03] albanD commented on #40986
In this case, do we really want to pass the GPU scalar which is already on the correct device by value?
Does that mean that we need to get it from the GPU first before being able to call the kernel?

[2020-07-06 15:08] albanD commented on #40981
In this case, you can follow the same instruction as for the cpp deployement above where you trace/script your model with the jit and export this. Then instead of loading it in cpp to evaluate it, you can import it in python. This will be a standalone version of your model (though not modifiable of course).

[2020-07-06 15:28] airsplay commented on #11929
Great to know that it works! If you want to explicitly close the hdf5 file, you might could add the `__del__` function to the dataloader:
[code]

However, **this destructor does not to be explicitly built**. Since the sub-processes of workers are closed when the iterator ends:
https://github.com/pytorch/pytorch/blob/461014d54b3981c8fa6617f90ff7b7df51ab1e85/torch/utils/data/dataloader.py#L1091-L109

[2020-07-06 15:33] #40320 closed

[2020-07-06 15:41] anshkumar commented on #40863
Actually I was no other process was running in background. It turn out that I was using tensorflow to check for  the integrity of an image in the data_generator:

[code]

It's just a simple operation but somehow it's the one which was causing the problem.

[2020-07-06 15:41] #40863 closed

[2020-07-06 15:59] albanD commented on #40863
Ho right. Yes Tensorflow has the habit of stealing all the GPU memory :D

[2020-07-06 16:02] kleingeo commented on #40981
I will give this a shot. However, I am not entirely sure between `torch.jit.sript(Model())` vs. `torch.jit.trace(Model())`.

[2020-07-06 16:09] narpat22 commented on #41010
i found the solution

[2020-07-06 16:18] ngimel commented on #40986
`a` is a cpu scalar, and it's not on the correct device, and we can't pass it by value because we want to change it. Whether b is passed by value (it isn't) does not matter. This case just does not fall into limited exception category that we allow for gpu - cpu scalar interop, and we should error out on it like on any other device mismatch, with a sensible error message.

[2020-07-06 16:22] wconstab commented on #38034
This issue was partially fixed by #40538.  It'd be good to know if anyone is still blocked by the remaining unfixed part.

Fixed: Sequential containers can be sliced and iterated over.  e.g.
for layer in my_seq[0:3]:
  x = layer.forward(x)

Not fixed:  Calling a sliced sequential directly.  e.g.
my_seq[0:3](input)

@eellison should we keep this open to track the remaining part?

[2020-07-06 16:24] wconstab commented on #40603
@yf225 Let me know if you're not unblocked by this change.

[2020-07-06 16:25] jamesr66a commented on #40472
Please merge https://github.com/pytorch/pytorch/pull/41013

[2020-07-06 16:26] #41010 closed

[2020-07-06 16:28] ngimel commented on #41006
Thanks for the suggestion. @vincentqb can you comment on whether this change is acceptable?

[2020-07-06 16:31] eellison commented on #39575
@BowenBao yea, something with the alias db could help here. I think we should consider consolidating around [this pass](https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/passes/create_functional_graphs.cpp#L453) then try to maintain two semantically valid passes to remove mutation. Also, I think it would be okay if ONNX through an error on parts of the model it didn't know how to rewri

[2020-07-06 16:36] jerryzh168 commented on #18106
cc @suo @zdevito @jamesr66a for `__getstate__` questions.

We are working on speeding up Histogram observer, @raghuramank100 @supriyar can you share the current status?

[2020-07-06 16:39] spandantiwari commented on #41009
@omasaht - `area` mode is not explicitly supported in ONNX spec, and therefore, not supported in the exporter.

[2020-07-06 16:40] ngimel commented on #40985
Thank you for the suggestion. Is it a common situation where you can keep the whole dataset in the GPU memory?
There are 2 issues mixed here
1) make dataloader send data to the GPU. You can currently achieve this by implementing a custom `collate_fn` that would send the data to the GPU.
2) Have the whole dataset in the gpu memory. This case is tricky because if there are multiple dataloader worker

[2020-07-06 16:46] spandantiwari commented on #41007
@TommasoBendinelli - overall the exporter does not guarantee keeping the same parameter names. This is because there's no guarantee for 1:1 correspondence between node in PyTorch model and in the ONNX graph. For example, a node in PyTorch mode may be exported as multiple nodes in ONNX, or we the parameters may be mutated due to optimizations such as constant folding. However, whenever there's a 1:

[2020-07-06 16:49] TommasoBendinelli commented on #41007
Thank you for the answer! In this case I think the correspondence is 1:1 so a correspondence of the name is possible.
I am using ONNX visualisation tool for learning neural network architectures, and a good correspondence makes things so much easier

[2020-07-06 16:51] spandantiwari commented on #41007
OK. I will take a look.

[2020-07-06 16:57] KsenijaS commented on #39762
Hi @weidezhang,
The issue is caused by empty out list in scripted function roi_pooling, out is populated inside the loop with append method, when converted to ONNX out will still be an empty list. That is a know issue in ONNX scripting. I created a test case to reproduce your issue:
[code]
And there are 2 issue here:
1. loop + append that creates an empty list in ONNX graph
2. avgpool is applied i

[2020-07-06 16:59] ezyang commented on #33292
@svideloc what command did you use to install, and where did you get the instruction from?

[2020-07-06 17:13] svideloc commented on #33292
Hey, I actually got it to work, I was having issues with download.pytorch.org not being a trusted host , so I added the below line to my pip config & it worked:

[2020-07-06 17:24] Krovatkin commented on #40472
@malfet @dreiss could you please cherry-pick the following fixes to jit's shape analysis to 1.6

https://github.com/pytorch/pytorch/pull/41014
https://github.com/pytorch/pytorch/pull/41015
https://github.com/pytorch/pytorch/pull/41016

thank you!

[2020-07-06 17:32] albanD commented on #40784
We would be happy to expose these and accept a PR for it.
It won't be a stable API though as we fairly often need to change it to support everything we need.

[2020-07-06 17:32] mrshenli opened #41019 "Disabled test_udf_remote_message_delay_timeout_to_self (__main__.FaultyAgentRpcTestWithSpawn)"
https://app.circleci.com/pipelines/github/pytorch/pytorch/187910/workflows/48b2adf2-4780-498c-97e7-b81aeffab49f/jobs/6117749/steps

[code]

[code]

cc @ezyang @gchanan @zou3519 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar @jiayisuse

[2020-07-06 17:33] albanD commented on #40911
Someone from nvidia will take a first look at this as the amp module is actively being worked on.

[2020-07-06 17:47] albanD commented on #40981
`script` will preserve the python logic (if statement, loop conditions) but won't work for everything.
`trace` will only record the ops that were performed and so won't keep conditions but it will always work.

[2020-07-06 17:54] suo commented on #40490
I can't reproduce this issue on master. Here is a slightly modified script that I ran: https://gist.github.com/5d103387e1d10e6ed2c8b4d3021f09b1.

The output:
[code]

[2020-07-06 18:04] albanD commented on #40986
Ho my bad! I though it was the scalar on the left side that was on the GPU.
In that case yes a nice error message sounds like the right thing.

[2020-07-06 18:27] jzju commented on #40985
Thanks for the reply,
If I would make a PR with a builtin move to GPU collate_fn do you think it the idea can be accepted?

Case 2 is not a bottleneck that I have experienced or measured it just feel like a waste to copy in every epoch.
I guess something like [this](https://www.kaggle.com/c/abstraction-and-reasoning-challenge) may fit in memory but I don't know if or for which memory compute ratio

[2020-07-06 18:39] ezyang commented on #31758
High priority to attempt to run the repro and get the crash.

[2020-07-06 18:43] ezyang commented on #20124
Yeah let's can it. cc @soumith

[2020-07-06 18:46] ezyang commented on #40967
I'm not sure! Maybe triage review will know.

[2020-07-06 18:48] ezyang commented on #40843
Not a generic debugger (e.g., gdb), but specifically nvprof, I believe.

[2020-07-06 18:51] hx89 commented on #40472
Could you please merge the following fixes:

#40890
#41023

Thanks!

[2020-07-06 18:59] mruberry opened #41027 "out= resizing (and restriding) behavior is confusing"
Today in PyTorch we may resize and restride tensors provided to as arguments to `out`. For example:

[code]

Here a tensor of two elements is provided as the out argument, but the tensor returned has three elements.

This behavior is silent and (anecdotally) a frequent cause of user confusion.

I would like to propose we deprecate the current behavior and implement the following:

- Tensors with n

[2020-07-06 19:29] vadimkantorov commented on #41027
Maybe sth to consider. There are some cases where it is not non-trivial to calculate the output size exactly: various kinds of convolutions and similar ops where padding is important; torch.cat. One middle ground could be allowing resizing if already allocated flat storage size is greater or equal of what is required.

[2020-07-06 19:39] mruberry commented on #40977
Hey @EricCousineau-TRI, thanks for reporting this issue!

Our documentation could probably be clearer here. Would you like to submit a PR clarifying this behavior?

[2020-07-06 19:40] kjdorow7 opened #41030 "TorchScript Fails with bias term?"
## 🐛 Bug

Hi all,

I’ve run into some behavior that I can’t explain. Below is a snippet of code that was lifted from this discussion: https://github.com/pytorch/pytorch/issues/24235.

What I’ve found is that if bias=False in testSubMod then the compilation runs with no problem and outputs test.onnx as a file but if bias=True then the compilation fails with the stack trace shown below.

I’m pretty

[2020-07-06 19:47] albanD commented on #41027
I agree with vadim that the resizing is important in many cases. And in general in the "buffer" use case.
@vadimkantorov one problem that arise, even without allocation is when the given Tensor is a partial view of a storage (due to previous call with out= or because of slicing) and we call resize_(), then the new Tensor will actually overlap with the other slices of the Tensor. Which can lead to

[2020-07-06 19:54] raghuramank100 commented on #40472
Could you merge this change that only affects the doc strings?
#41032

[2020-07-06 20:00] supriyar commented on #18106
We are just getting started on the work to speed up histogram observer, initially focusing on speeding up the convert step in the quantization workflow, specifically the `_non_linear_param_search` function in `calculate_qparams`.

[2020-07-06 20:01] BIT-silence commented on #37060
I think I can help work on this if no one already started to working on it.

[2020-07-06 20:08] mruberry commented on #41027
@zdevito Has previously suggested there's a distinction to be made between Tensors and Storages, too, and maybe for some of these scenarios we should support passing Storages to out with different semantics. For example, maybe to support the case of "I know this storage is big enough, please reuse it" we require the user pass an actual storage.

[2020-07-06 20:10] vadimkantorov commented on #41027
@albanD I experienced bad allocator behavior and fragmentation with much varying time-dimension batch sizes in time convolutional models. these problems go away if you pad e.g. by multiple of 128. Another way to handle this is to have arena allocators that effectively reset all allocations / tensor size bucketing in allocator once every training iteration (like they do in inference engines like on

[2020-07-06 20:11] mruberry commented on #40018
@albanD, what would you recommend?

[2020-07-06 20:18] #38285 closed

[2020-07-06 20:19] albanD commented on #40018
Hey,

If I'm not mistaken, these only work for integer types (IntTensor and LongTensor). And these cannot require gradients. So no need to worry about the autograd ;)

[2020-07-06 20:27] ailzhang commented on #40472
https://github.com/pytorch/pytorch/pull/41033

[2020-07-06 20:36] ngimel commented on #41027
No global flags please?

[2020-07-06 20:38] glaringlee commented on #33811
@saw-ai @JamieMair @jianyin2016
For pytorch 1.4, please follow use pickle_save under libtorch, for eg.
torch::Tensor x = torch::ones({1, 2, 3});
std::vector<char> f = torch::pickle_save(x);

And you can use torch.load under python side.

In 1.5 and later, you can use save directly. Please be aware that 1.4 saved module might not be able to load under 1.5.

[2020-07-06 20:48] mcarilli commented on #40472
optional but minor and nice to have:
https://github.com/pytorch/pytorch/pull/41036

[2020-07-06 20:55] malfet commented on #40965
This is already fixed in master and available in `release/1.6` branch:
https://github.com/pytorch/pytorch/blob/e173278348b329fa9c5e92018f959b3d95d26258/cmake/public/cuda.cmake#L148-L152

[2020-07-06 20:55] #40965 closed

[2020-07-06 21:02] mruberry commented on #36048
Thanks for the suggestion, @carlosgmartin! I added this to our NumPy function request issue.

[2020-07-06 21:27] v-goncharenko opened #41039 "TorchScript doesn't parse float NaN"
## 🐛 Bug

I need `float('nan')` value in my code (to pad a tensor, but it doesn't really matter)

I try to create NaN value but get an error.

Below reproduction for `1.5.0` but in `1.5.1` result is the same

## To Reproduce

Steps to reproduce the behavior:

1. conda install -c pytorch pytorch -y
2. python test.py

**`test.py`**

[code]

**Output**
[code]

## Expected behavior

Work same as in re

[2020-07-06 21:58] albanD commented on #41027
Yes the fragmentation is an issue. But engineering the `out=` API to avoid fragmentation sounds like doing it backward. We should solve the fragmentation issues in the allocator itself no?
I like the idea of having different behavior for Storage and Tensor as well, but might be tricky to explain to users.

[2020-07-06 21:59] ngimel commented on #40990
`out` is always a keyword-only argument (for other functions as well), having it as a positional argument would be confusing and not always possible for functions with the different number of tensor args. We will accept a PR fixing the documentation to indicate that `out` is keyword-only.

[2020-07-06 22:01] mruberry commented on #40859
I had the opportunity to think about this and review with a couple colleagues. Here's our thinking:

- expanding the behavior of the strict flag sounds good, but...
- currently this function returns a tuple of two elements with the missing and unexpected keys; for consistency, we would expect this to add a third element to the tuple that contains the mismatched tensors. Changing the return value l

[2020-07-06 22:03] ZolotukhinM commented on #40472
Please merge #41017 after @Krovatkin's #41014, #41015, and #41016. The failures in #41017 should be fixed by these three PRs.

[2020-07-06 22:06] hgaiser commented on #40859
Good points @mruberry , glad to see this is being discussed internally to such lengths.

I have a different proposal, maybe it's worth considering. How about a lambda function taking in the two sets of weights that conflict somehow and expects a `bool` to be returned. `True` could mean skip loading of this weight,`False` could mean error? That way any special case can be handled by the user in sai

[2020-07-06 22:08] #40560 closed

[2020-07-06 22:09] vadimkantorov commented on #41027
Yeah, I just wanted to point out that allocators are still not "solved" + buffers can be useful + some ops have non-trivial output size computation (so that preparing perfectly matching-sized buffer can be nasty). As we discussed, multiple solutions are possible...

About allocator, I think that first some easy dumping of allocator state: https://github.com/pytorch/pytorch/issues/1529 https://gith

[2020-07-06 22:10] sniklaus commented on #40990
Thank you for the explanation, updating the documentation would resolve this. :+1:

[2020-07-06 22:13] eellison commented on #41039
Hi, thanks for the issue and succinct repro. This is fixed on master and will be part of the 1.6 release, so i'm closing:
[code]

[2020-07-06 22:13] #41039 closed

[2020-07-06 22:15] mruberry commented on #40859
I was also thinking about a lambda and that seems reasonable, but at the point we're writing lambdas is it much more work to compare the params and buffers of a module with a state dict and load/filter the state dict values yourself?

[2020-07-06 22:19] vadimkantorov commented on #40969
This would be super-nice to have some benchmark info tracked and linked for every many torch ops. Especially those that are benchmarked against caffe2.

The (now stalled?) torch-tvm seems to have sth along these lines on its README: https://github.com/pytorch/tvm

[2020-07-06 22:24] rossimattia commented on #40561
I have a similar issue. Let us consider the following toy class:

[code]

If I call `example_scripted = torch.jit.script(Example())` I get the same error of @danieleds. The issue is the ```requires_grad```.

[2020-07-06 22:31] hgaiser commented on #40859
In my opinion it does, but maybe I'm too focused on my case, where the lambda would just always return `True`. I suspect that is how the lambda will mostly be used, but there is an option to extend it further if necessary. Would the vast majority of the cases work like that? Please correct me if I'm wrong.

All things considered, I would certainly expect a feature like this to be present in a DL f

[2020-07-06 22:45] eellison commented on #40472
@malfet could you please merge the following shape analysis fixes ? thank you!

https://github.com/pytorch/pytorch/pull/41044

[2020-07-06 22:52] wconstab opened #41046 "Human-readable names and operations for TorchScript model graphs"
<mirroring an internal FB Task on GH for consolidation of issue tracking>

For visualization and debugging purposes, we'd like to be able to parse the graph of a TorchScript model and display it in an easy-to-understand format in TensorBoard.

For regular models, we trace the model, inline the graph, and parse it, resulting in the visualization shown in the image attached to this task.

Having sim

[2020-07-06 23:02] #24557 closed

[2020-07-06 23:16] yl-to commented on #40604
Will look into this and try to create a PR.

[2020-07-06 23:52] aayn commented on #40018
Oh yeah, thanks!

[2020-07-07 00:01] xuhdev opened #41047 "`floor` and potentially other operations don't check dtype of `out` kwarg producing incorrect results"
## 🐛 Bug

When the output tensor is permuted (by `permute()`), many operators don't produce correct results.

## To Reproduce

Use `floor` as an example.

[code]

Note the strange behavior in Output 6. This issue doesn't show up on CUDA.

## Environment

PyTorch version: 1.7.0.dev20200705+cu101
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Debian GNU/Linux 10 (buster)
GCC version: (Debi

[2020-07-07 00:02] vkuzo opened #41048 "convenience function for loading a non-DP/DDP model from a DP/DDP state_dict"
## 🚀 Feature

Add a utility to PyTorch to enable users to load models without DP/DDP from a DP/DDP state dict.  This essentially means that we provide the code to strip the `module` prefix from all items in the state dict and the metadata.  One existing example is here: https://github.com/facebookresearch/fvcore/blob/master/fvcore/common/checkpoint.py#L239.

## Motivation

This is a common user ne

[2020-07-07 00:51] interesaaat opened #41057 "Performance regression for inference from pytorch 1.4.0 to >= 1.5.0"
## 🐛 Bug

With [Hummingbird](https://github.com/microsoft/hummingbird) we translate trained traditional ML models into PyTorch for faster inference. We found that most of our tree models on CPU have a 10x performance degradation when we move from pytorch 1.4.0 to => 1.5.0.

Issues related to this problem can be found [here](https://github.com/microsoft/hummingbird/issues/177) and [here](https://gi

[2020-07-07 01:43] ngimel commented on #41057
Setting high priority because of a large regression. Are you using multi-threaded or single-threaded setting?

[2020-07-07 01:48] ngimel commented on #41047
The issue here is with res datatype rather than permutation (`a` datatype is torch.float64, `out` datatype is torch.float). Setting high priority because of silent wrong results.

[2020-07-07 01:49] ngimel commented on #40973
Setting high priority because of memory leak. cc @ilia-cher in case it is omp-related.

[2020-07-07 01:59] interesaaat commented on #41057
We didn't set anything, so I am assuming this is multi-threaded.

[2020-07-07 03:00] #40784 closed

[2020-07-07 03:29] mruberry commented on #40859
Forgetting about `module.load_state_dict` - what would the function implementing the lambda look like? That is, is there a more generic function for enumerating a module's parameters and buffers and relating them to the elements of another datastructure?

I think @albanD had some ideas in that direction, too.

[2020-07-07 04:09] ToBigboss commented on #15523
I  want to get output by node_name， how to do？

[2020-07-07 04:16] nieyan commented on #34583
@misslibra   Maybe you should add QuantStub like this :   https://discuss.pytorch.org/t/quantization-how-to-quantize-model-which-include-not-support-to-quantize-layer/76528

[2020-07-07 04:38] BIT-silence commented on #37060
I prepared https://github.com/pytorch/pytorch/pull/41062 for this issue. I tested two implements for logit, one is log(x / (1-x)) and another one is log(x) - log1p(-x). Actually in my test the first one has better numerical stability. In the second one, the minus operation may suffer from the [catastrophic cancellation](https://en.wikipedia.org/wiki/Loss_of_significance) when x is around 0.5. Also

[2020-07-07 04:43] gmagogsfm commented on #40994
Hi Anguo,

I looked at the referenced thread but don't see this particular error message mentioned. So I can't repro the issue. Could you help provide a small repro?

Meanwhile, I suggest you try out latest PyTorch 1.6 to see if the issue persists. If issue is gone, perfect. Otherwise, we would only be able to fix the issue in 1.6 and forward, so you would probably need to upgrade to get the fix a

[2020-07-07 04:59] rsomani95 commented on #40847
@DJMeng were you using [Ross Wightman's repo](https://github.com/rwightman/pytorch-image-models) ?

If so, when you call `create_model`, you can pass in a `scriptable=True` to make sure you create a model with an activation function compatible with ONNX. I've tried this with `efficientnet_b3a`

[code]

[2020-07-07 05:19] ttyio commented on #24235
Hello, I hit the same issue here, the WAR to use dynamic_axes can solve case:
`
  input (trip_count, "") // Note this is analogous to a for loop
      int trip_count = ...
      for (int i=0; i < trip_count; ++i) {
        cond = ...; // ignored
      }
`
But failed to solve case that depends on a boolean condition instead of the input dims:
`
  input ("", cond) // Note this is analogous to a whil

[2020-07-07 05:51] FabianIsensee commented on #40911
Sounds great. If there is anything I can do please let me know.

[2020-07-07 07:18] GeekOrangeLuYao opened #41064 "When using _MultiProcessingDataLoaderIter in Dataloader, how to add a filelock in Dataset to make the file io thread-safety?"
## ❓ Questions and Help
When I use DataLoader to load a dataset consisted of several files, I find when I cannot set the `num_workers > 0` because it will occurs a Error `TypeError: function takes exactly 5 arguments (1 given)`.

When I set `shuffle = True` into DataLoader,  this Error when occur randomly (e.g. I will train it for several epochs and the Error happens), however, when I set the `shu

[2020-07-07 07:26] lawpdas commented on #40909
I can find `driver_types.h` in `cuda-10.2/include`, and `enum cudaGraphExecUpdateResult` is declared in this file.  Because there are three version of cuda in my computer, and all of them are installed via runfile, I do not create any symlink in `/usr/local/` and never have the header in `/usr/include/`.  I just select a specific version in the conda environment by using `anaconda3/envs/pynightly/

[2020-07-07 07:33] #40593 closed

[2020-07-07 07:52] lawpdas commented on #40663
I cannot build pytorch source code with cuda10.2 #40909, but I can build pytorch with cuda10.0 successfully.
However, the problem remains unsolved.
[log.txt](https://github.com/pytorch/pytorch/files/4883340/log.txt)

[2020-07-07 07:56] lizhongguo commented on #33296
Similar problem happened to me, and even cv2 was just imported in dataloader. Set num_workers=0 or comment 'import cv2'  then problems is solved. pytorch 1.4 ,python 3.8 , opencv 3.4.2(built from source).

[2020-07-07 08:28] Micla-SHL opened #41065 "How to use (torch.utils.data.DataLoader) in android?"
Now , I try running PSENet in Android .  Project urls : https://github.com/whai362/PSENet
Its testcode need  （torch.utils.data.DataLoader）。 you can look PSENet Project .> test_ic15.py    72 lines
I have torch==1.4.0    change PSENet.pth ==> PSENet.pt  and  model load  in Android is OK。But，
next I don't know what to do.
       I want  a little alittle translation the PSENet testcode in Android 。

[2020-07-07 08:40] vadimkantorov commented on #32867
I renamed to enlarge the scope a little bit :) BitTensors could be very helpful for binary neural networks. Even if few operators on them are supported (such as bit packbits/unpackbits, binary operations, popcnt), they are already useful for reducing memory footprint, e.g. for storing masks instead of full inputs when sufficient for backward ops. E.g. in https://github.com/pytorch/pytorch/pull/410

[2020-07-07 09:34] zjjott opened #41067 "torch/distributed/launch.py better control multiprocessing relationship"
## 🚀 Feature
When we are using multiprocess train,there is some issue when one fail other process running
1. when some subprocess fail,end other process,this will avoid deadlock when one wait other one,and also avoid program hung
2.
## Motivation
Make Multi-Process Single-GPU (MPSG) which using `python -m torch.distributed.launch` more friendly to use,

## Pitch

1. all suceess, exit 0
2. one fail

[2020-07-07 09:40] KnightYao commented on #22134
I want to  know this error has fixed？@suo

[2020-07-07 09:43] hgaiser commented on #40859
I don't feel capable of answering that question yet (I only recently moved to pytorch :)), but I would like to hear the ideas that @albanD has.

[2020-07-07 10:00] vadimkantorov commented on #27522
logaddexp applied to several tensors (without having to stack them and calling logsumexp) would also be useful to a CTC impl as above.

Given that https://github.com/pytorch/pytorch/pull/38384 is merged, I thought of bringing this up again: maybe via nested tensor.

Another instance that could be useful: torch.argmax across two tensors (without stacking them first). E.g. if we pass two tensors in

[2020-07-07 10:02] ag14774 commented on #41064
I would go with your choice num 1 where you open and close for every fetch. It is quite a common practice in my opinion. Even the pytorch tutorial here: https://pytorch.org/tutorials/beginner/data_loading_tutorial.html does exactly that where they use `io.imread` to read the image for every __getitem__ which would effectively open and close a new fd. Other alternatives would be to use some other p

[2020-07-07 10:10] vadimkantorov commented on #27522
Yay! NestedTensor seems to support reductions now: https://github.com/pytorch/nestedtensor/blob/master/examples/naryops_and_reduce.ipynb

some API musings:
[code]

@cpuhrsch

[2020-07-07 10:14] lawpdas commented on #40663
I cannot build pytorch source code with cuda10.2 #40909, but now I can build pytorch with cuda10.0.
By using master version and setting -std=c++14 in setup.py, this extension has been built successfully.
Thanks!

[2020-07-07 10:14] #40663 closed

[2020-07-07 10:23] Arjunsekar commented on #2491
Im gettin a different error after doing this
  File "C:\Users\arjun\anaconda3\lib\multiprocessing\reduction.py", line 60, in dump
    ForkingPickler(file, protocol).dump(obj)

TypeError: can't pickle module objects

[2020-07-07 10:28] mattip commented on #32004
xref pytorch/examples#798 which now runs examples via CI (github actions).

[2020-07-07 10:44] mattip commented on #38011
After gh-41068 the only warnings are emitted by [quantization](https://pytorch.org/docs/master/quantization.html) which needs some curation. In particular, it has these sections that I think should be separate pages:
[code]

The remaining warnings are due to repeating names of some of the classes in those modules. For instance, ConvBn2d appears in both [torch.nn.intrinsic](https://pytorch.org/docs

[2020-07-07 11:32] sbonner0 opened #41069 "Support for torch.mm with Sparse Half Tensors? "addmm_sparse_cuda" not implemented for Half"
Hi,

I am trying to perform sparse and dense matrix multiplication using half precision tensors in pytorch.

The following code:
[code]
will produce this error: `RuntimeError: "addmm_sparse_cuda" not implemented for 'Half'`

Is there anyway to solve this?

## Environment

-PyTorch version: 1.5.0
-Is debug build: No
-CUDA used to build PyTorch: 10.2

-OS: Arch Linux
-GCC version: (GCC) 10.1.0
-CMak

[2020-07-07 11:36] zimmer-m commented on #29814
I am getting this Runtime error when using basic SGD with momentum = 0.9, on pytorch 1.5.0 cpu_py37hd91cbb3_0.

[2020-07-07 12:12] webstorms opened #41070 "Cannot define v_dim in MultiheadAttention"
## 🐛 Bug

I am trying to define the dimensions of features of the values in the multiheaded attention operation. However, when I set this value it raises an AssertionError.

## To Reproduce

[code]

This raises the AssertionError

`assert len1 == embed_dim and len2 == value.size(-1)`

## Expected behavior

I would expect this to run without raising any issues, as defining the dimensionality of fea

[2020-07-07 12:14] snippler commented on #40561
The answer is yes as I just read here
![Picture1](https://user-images.githubusercontent.com/32570046/86779614-0f091880-c05c-11ea-9d22-7b5d56508bae.png)
That's from this book: https://pytorch.org/deep-learning-with-pytorch

[2020-07-07 13:09] qinhaihong-red commented on #25540
@Arjunbala Hi, I met the same problem in LibTorch. Have you found the solution ?

[2020-07-07 14:03] clementabary opened #41072 "TorchScript to ONNX weird conversion failure when using nn.Upsample layer from saved model"
## 🐛 Bug

`nn.Upsample` layer converts ok from PyTorch to ONNX, but fails from TorchScript to ONNX with type inconsistency, only when it is saved & loaded beforehand.

## To Reproduce

[code]

## Expected behavior

`onnx.checker.check_model` and `onnxruntime` should run OK for TorchScript upsampling layer saved and loaded beforehand.

What I get instead is :
[code]
Nodes `Mul 5` and `Mul 13` have

[2020-07-07 14:19] #38913 closed

[2020-07-07 14:42] lw commented on #37783
I think this has been done, right? Please reopen if not.

[2020-07-07 14:42] #37783 closed

[2020-07-07 15:16] emilianozm24 commented on #33292
How did you do this? I'm having this same issue with Windows 10 and nothing seems to work.

[2020-07-07 15:19] svideloc commented on #33292
if you are seeing the same issue as me, I was able to download when I made pytorch.org a trusted host in my pipconfig file, see the line of code below:

[2020-07-07 15:25] emilianozm24 commented on #33292
Sorry if this seems to amateur, but how did you edit your config file? Or did you just add it to the CLI like: " pip install ... trusted-host = download.pytorch.org ... "?

[2020-07-07 16:07] svideloc commented on #33292
You should be able to do that as well. If you want to change your pip config file there should be a directory .pip (it is hidden and it is in my home directory, I'm not sure where yours will be. Inside that dir, there is a pip.conf file, and you can just add the above line to it.

[2020-07-07 16:59] SsnL commented on #41064
Is there no traceback for TypeError?

[2020-07-07 17:42] ailzhang commented on #40914
Hmmm this looks like an easy fix although we do need to decide whether to converge on eager or JIT behavior. @SsnL  Do you have any preference?

[2020-07-07 17:46] williamdias commented on #40973
Apparently the nightly build fixes the problem. I've performed the same test with the preview version and the memory consumption seems to be stable.

[2020-07-07 17:47] SsnL commented on #40914
I don't really have a preference :)

[2020-07-07 18:04] liu-jc commented on #9674
@santient Are you using torch.sparse.mm(S, D)? or you use torch.mm(S, D)? I found if I use torch.mm(S, D) or S.mm(D), I would get`RuntimeError: calculating the gradient of a sparse Tensor argument to mm is not supported`. But if I use torch.sparse.mm(S, D), everything would be fine. I am not sure why torch.sparse.mm(S, D) behaves differently with S.mm(D)? If anyone has the idea about how to fix th

[2020-07-07 18:06] mruberry commented on #41027
Note from offline conversation with @gchanan: let's be v. careful about what the "zero-element tensor" can actually be, and which of its properties are/aren't respected. For example, we probably want to respect its dtype, but do we want to respect the number of dimensions it has?

[2020-07-07 18:24] #40666 closed

[2020-07-07 18:27] ngimel commented on #41027
My take: TensorImpl (i.e. sparse/dense), device, dtype should be respected, similar to what resize_ does, number of dimensions should not be. That prevents us from providing better debugging info to users who actually wanted to compute the correct output size but made a mistake resulting in a tensor with 0 elements, but otherwise that provides a more streamlined interface, zero elements is pretty

[2020-07-07 18:39] mrshenli opened #41081 "Add a function to convert SyncBatchNorm layers back to BatchNorm Layers"
`SyncBatchNorm` provides a classmethod to convert `BatchNorm` layers to `SyncBatchNorm` layers:

https://github.com/pytorch/pytorch/blob/881c1adfcd916b6cd5de91bc343eb86aff88cc80/torch/nn/modules/batchnorm.py#L510-L556

It will be helpful to provide an API to do the reverse conversion as well.

cc @ayush29feb

[2020-07-07 18:42] mruberry commented on #41027
SGTM. What would you think about requiring zero elements and 1 dim? (Like the tensor returned from torch.empty(0)?)

[2020-07-07 18:52] ngimel commented on #41027
I thought about it, and this is the way the tensors to be resized are created in ATen (at::empty({0})), but to me requiring 1d seems too strict and does not serve any good purpose. I don't have a strong opinion on it though.

[2020-07-07 18:54] zou3519 commented on #41047
On 1.5.1 this produces an error:
[code]
So I'd also mark this as a regression. We should try to figure out if the release branch for 1.6 has this problem

[2020-07-07 19:03] rgommers commented on #25785
PR gh-40697 implements this feature - some input there would be very welcome.

[2020-07-07 19:22] mrshenli commented on #40226
Closed by #40291

[2020-07-07 19:22] #40226 closed

[2020-07-07 19:23] suo commented on #40350
hey sorry for the delay @JBamberger, we'd be happy to take a PR with your proposed change :)

[2020-07-07 19:25] kurtamohler commented on #15359
@ngimel , I've been thinking about how to user `CUBLAS_WORKSPACE_CONFIG` to ensure deterministic stream usage, and I think there are two main approaches that should be considered.

If someone is using one of the affected CUDA versions (10.2 or higher at the moment), and `torch.set_deterministic(True)` is called, use `std::getenv` to make sure that `CUBLAS_WORKSPACE_CONFIG` is either `:16:8` or `:4

[2020-07-07 19:29] mrshenli commented on #41067
Hey @zjjott, if I understand the request correctly, this is for DDP failure handling. Can you check if [torchelastic](https://pytorch.org/elastic) is sufficient?

[2020-07-07 19:41] boeddeker opened #41084 "Support complex torch.solve on the GPU"
## 🚀 Feature

Support torch.solve on the GPU

## Motivation

In https://github.com/pytorch/audio/issues/768 I asked about the complex support in torch for some linear algebra functions and
@anjali411 said, I should post here my feature request.

## Pitch

It would be nice, when the following code would not fail in the last line:
[code]

## Alternatives

Currently, I am using
https://github.com/kam

[2020-07-07 19:59] ngimel commented on #41047
Changed the title to reflect this issue. non-contiguous `out` arguments can lead to confusing behavior, but that's a separate issue and we are tracking it in #41027

[2020-07-07 20:58] mrshenli commented on #40472
#41089, port for #40963

This is a doc-only change, no impact on binary. cc @jlin27 @malfet

[2020-07-07 21:22] malfet commented on #40472
#41091 to fix PY37 check
#41090 to stop embeddeding protobuf symbols in every shared library

[2020-07-07 21:24] ilia-cher commented on #40973
do you see any difference if you use `torch.set_num_threads(1)`?

[2020-07-07 21:35] JBamberger commented on #40350
Hi, thanks for your response. I've created the PR.

[2020-07-07 21:36] vadimkantorov commented on #41081
A more radical proposal: unite BatchNorm*d / SyncBatchNorm in one module BatchNorm (with option `sync = False|True`). I think now BatchNorm*d are all same except shape checking.

There may be same proposal to unite Conv*d into Conv, MaxPool*d into MaxPool etc. Dimensionality may be defined by shape of kernel_size.

Fusion code may become simpler, several versions of fused modules (that now separat

[2020-07-07 21:47] ezyang commented on #41057
Thanks for the report. If you can easily do so, running the benchmark on a recent nightly would also be helpful.

[2020-07-07 21:52] JiahongXue commented on #40024
Hello I am experiencing same issue. without CUDA verision.
at
torch::jit::script::Module module = torch::jit::load(model.pt);
where it raise an "bad memory alloc" unhandled exception error
Did you guys get any solution?
Thanks

[2020-07-07 21:53] gmagogsfm commented on #40914
I suppose it makes more sense to converge on eager? Strictly speaking, the expression is indeed ambiguous, torchscript is simply making a (very good and likely) guess.

[2020-07-07 22:01] gmagogsfm opened #41095 "Support Enum in TorchScript"
Enum is widely used in Python but not yet supported in TorchScript. Opening this issue to track effort of adding Enum support.

cc @suo @gmagogsfm

[2020-07-07 22:49] mruberry commented on #40472
https://github.com/pytorch/pytorch/pull/41098 fixes high priority #41047

[2020-07-07 22:50] ailzhang opened #41099 "max_pool2d always compute indices even when it's not required"
https://github.com/pytorch/pytorch/blob/bdc00196d1b63a339a5b9b6aaec44cefe069a6ea/aten/src/ATen/native/Pooling.cpp#L145-L147
Proposed fix by @albanD :
- if the user explicitly calls, it, they must have a good reason to ask for the indices.
- If they call `torch.max_pool2d`, then in the implementation of this in "ATen/native/Pooling.cpp", we should only use "max_pool2d_with_indices" if the input req

[2020-07-07 23:00] baobablyh opened #41101 "DDP should provide an option for not touching grad of locally unused params"
## 🐛 Bug

For multi task training with different ranks running different tasks, parameters of inactive tasks are unused locally, even though used globally. By default DDP would allreduce these parameters and update all with the mean of grad across all ranks. Such grad update could trigger the weight decay with some optimizers (such as SGD) even for those inactive tasks on rank. Such weight update

[2020-07-07 23:01] baobablyh commented on #41101
@mrshenli

[2020-07-07 23:41] mruberry commented on #41101
Thank you for filing this issue, @baobablyh! I'll let @mrshenli comment on the proposal itself.

[2020-07-07 23:45] mruberry commented on #41084
Thanks for the suggestion, @boeddeker! I updated the title to clarify the request is for complex solve.

[2020-07-07 23:55] mruberry commented on #41070
Hey @webstorms, sorry you're hitting this issue. Could you produce a single brief snippet that includes the error you're seeing? In the above it's not clear how v_proj_weight_non_opt is being generated. Maybe you can add a few lines to your first snippet and not involve the jit?

[2020-07-08 00:00] spandantiwari commented on #41030
@kjdorow7 - can you please try with PyTorch 1.5.1 or possible even the nightly build. There are lot of updates that have gone in since 1.3.

[2020-07-08 00:00] josiahdavis opened #41106 "Missing Code for Audio Classification Tutorial"
## 📚 Documentation

It looks as though the code is missing for the [Audio Classification Tutorial](https://pytorch.org/tutorials/beginner/audio_classifier_tutorial.html). I didn't see code in the html document or at the [linked GitHib url](https://github.com/pytorch/tutorials/blob/master/beginner_source/audio_classifier_tutorial.py).

This is what I see:

<img width="1440" alt="Screenshot 2020-07-

[2020-07-08 00:00] mruberry commented on #41069
Thanks for filing this issue, @sbonner0. You can perform the operation with a float32 tensor, of course, but short of that I think you'd have to write your own kernel or get one added to PyTorch, unfortunately.

[2020-07-08 00:01] spandantiwari commented on #22134
Can you please try with latest PyTorch 1.5.1?

[2020-07-08 00:03] mruberry commented on #41106
Yikes! Good catch, @josiahdavis! Thanks for reporting this issue. Looks like we should either take this tutorial down or fix it. A PR for either solution would be welcome!

[2020-07-08 00:06] mruberry commented on #41106
The corresponding Colab looks complete: https://colab.research.google.com/github/pytorch/tutorials/blob/gh-pages/_downloads/audio_classifier_tutorial.ipynb,

[2020-07-08 00:08] jspisak commented on #41106
@jlin27 - Can you take a look?

[2020-07-08 00:10] spandantiwari commented on #39762
@weidezhang - As @KsenijaS mentioned this is know issue that stems from the fact that TorchIR is not functional IR whereas ONNX is. This root issue is also captured in this issue https://github.com/pytorch/pytorch/issues/39362. Could you please try the workaround and see if it unblocks you for now. We are investigating how to address this issue long-term. If the workaround unblocks you, we can clo

[2020-07-08 00:11] josiahdavis commented on #41106
Thanks! I didn't see that link before. Strange. The one I am getting from the [tutorial html](https://pytorch.org/tutorials/beginner/audio_classifier_tutorial.html) is this one:

https://colab.research.google.com/github/pytorch/tutorials/blob/gh-pages/_downloads/d794b962832747e444249edb72d88494/audio_classifier_tutorial.ipynb

[2020-07-08 00:11] mruberry commented on #41065
Hi @Micla-SHL, sorry you're having a problem with PyTorch on Android.

You should try asking this question on the PyTorch Forums (https://discuss.pytorch.org/) and reviewing the PyTorch Android documentation (https://pytorch.org/mobile/android/).

[2020-07-08 00:11] #41065 closed

[2020-07-08 00:12] mruberry commented on #41003
Sorry you're hitting this issue, @yyMoming. Could you add some more details about the system and version of PyTorch you're using?

[2020-07-08 00:25] jlim13 commented on #33185
Is there any workaround for this?

[2020-07-08 01:17] rohan-varma commented on #41048
I wonder if it's better to do this with a utility or to build this directly into the `model.load_state_dict()` code so that it "just works"?

[2020-07-08 01:33] mrshenli commented on #41101
Hey @baobablyh, thanks for the request.

The use case makes sense to me, but I am not sure if this should be added to DDP, as this will break DDP's invariant that it will keep the wrapped model synchronized across all processes. And thing can go wrong if, say after a few iterations, R1 starts to run task B and R2 starts to run task A.

If the input model has a common components across all tasks, w

[2020-07-08 01:34] mrshenli commented on #41067
cc @kiukchung

[2020-07-08 01:50] vkuzo commented on #41048
+1 if that's landable and there aren't gotchas.  That would be better for the user.

[2020-07-08 02:00] malfet commented on #40909
@lawpdas as you can see from the log you've provided, it tries to include cudnn.h from `/usr/local/cuda/include/cudnn.h`

Does `/usr/local/cuda/` symlink points to `cuda-10.2` or some other version of cuda? If later, that that would probably is causing the build failure.

[2020-07-08 02:02] vkuzo commented on #37270
https://github.com/pytorch/pytorch/pull/38587, https://github.com/pytorch/pytorch/pull/39031, https://github.com/pytorch/pytorch/pull/38368, https://github.com/pytorch/pytorch/pull/38478 fixed this issue.

[2020-07-08 02:02] #37270 closed

[2020-07-08 02:05] vkuzo commented on #36802
thanks for the report! https://github.com/pytorch/pytorch/pull/39031 should fix this, which is a part of v1.6.

[2020-07-08 02:07] vkuzo commented on #35182
hi @eleflea , thanks for the report! https://github.com/pytorch/pytorch/pull/37032 fixed this issue.

[2020-07-08 02:07] #35182 closed

[2020-07-08 02:20] Micla-SHL commented on #41065
I‘m sorry, now，I can't access https://discuss.pytorch.org/.  the PyTorch Android document help me  load model in Android，but  not have next action

[2020-07-08 02:42] malfet commented on #40563
@griff4692 to avoid subtle interoperability issues, current model requires that pytorch and extensions to be compiled against the same version of CUDA. If you want to use CUDA-11, please recompile pytorch with CUDA-11 as well.

[2020-07-08 02:58] zjjott commented on #41067
@mrshenli yes, `torchelastic` is a better solution to resolve a large train cluster, but I just want fix this simple code: https://github.com/pytorch/pytorch/blob/master/torch/distributed/launch.py#L254
[code]
this `wait()` will wait until process end, even at this time,other processes have exited

[2020-07-08 03:23] smartcat2010 commented on #40843
Thanks a lot! Really helpful!

[2020-07-08 03:30] gmagogsfm commented on #40640
An initial glossary is added to repo. Closing.

[2020-07-08 03:30] #40640 closed

[2020-07-08 03:31] DelightRun commented on #37757
@AugF `LD_LIBRARY_PATH` should be `/home/xxx/anaconda3/envs/pyg/lib/python3.8/site-packages/torch/lib:${LD_LIBRARY_PATH}.
There should be a `/lib` after `site-packages/torch/`

[2020-07-08 03:32] GeekOrangeLuYao commented on #41064
I add a `try-catch` to debug, so some traceback is missing, it's:
[code]
If I set the `shuffle=False`, there could be no traceback about the `fetcher`, but only the `TypeError: function takes exactly 5 arguments` because the problem is randomly happen when the `fd.seek` is wrong between two process.

[2020-07-08 03:37] mrshenli commented on #41067
@zjjott I see. How do you plan to fix this?

[2020-07-08 03:37] peterjc123 commented on #40024
@JiahongXue You are probably going out of memory.

[2020-07-08 03:39] yongtw123 commented on #17901
@t-vi Regarding your comment on building pytorch on Debian/32-bit, may I ask which version of pytorch were you building and on what platform (i686, x86, ...)? I'm trying to build v1.4.0 with your fixes for `cmake/MiscCheck.cmake` and `cmake/Modules/FindAVX.cmake` plus latest version of `sleef`, but `_mm256_extract_epi64` errors still occur.

[2020-07-08 03:40] mrshenli commented on #41067
This LGTM. Just one question, how do plan to handle the case where the first process hangs while the second process returned non-zero code?

[2020-07-08 03:43] vkuzo commented on #32082
looks like https://github.com/ttumiel/pytorch/commit/15abfa68d3846dafab339e67fcc6a21a6973a13b fixed this issue.  We also landed various other bugfixes in the past couple of months and QAT + DDP works correctly now.  Closing, please reopen if there are further issues!

[2020-07-08 03:43] #32082 closed

[2020-07-08 03:44] vkuzo commented on #30348
thanks for fixing this, @hx89!

[2020-07-08 03:44] #30348 closed

[2020-07-08 03:47] yongtw123 commented on #40988
One suspicion I have is that some files use `_mm256_extract_epi64` without rigorously checking if compiler is on x86_64. According to gcc header source file `_mm256_extract_epi64` is only included if system is x86_64.

To illustrate, `aten/src/ATen/native/quantized/cpu/kernels/QuantizedOpKernels.cpp.AVX.cpp` and `aten/src/ATen/native/cpu/batch_norm_kernel.cpp.AVX.cpp` both use `aten/src/ATen/cpu/v

[2020-07-08 03:49] vkuzo commented on #30125
for the original blog post, the QAT part of the training was done using a single GPU.  We've since added support for multi-GPU QAT.  The accuracy of 71%+ on ImageNet1k + MobileNetV2 is reproducible using the script here (https://github.com/pytorch/vision/blob/master/references/classification/train_quantization.py), as @raghuramank100  mentioned.

I'm closing this since we verified reproducibility

[2020-07-08 03:49] #30125 closed

[2020-07-08 03:59] usamazf opened #41114 "Linux Build Failing"
## 🐛 Bug

I tried to install latest version of Pytorch from source but the build seems to be failing.

## To Reproduce

Steps to reproduce the behavior:

1. git clone
2. python setup.py install / python setup.py build

## Expected behavior

A successful build / clean istallation

## Environment

PyTorch version: N/A
Is debug build: N/A
CUDA used to build PyTorch: N/A

OS: Ubuntu 16.04.6 LTS
GCC ve

[2020-07-08 04:00] #40072 closed

[2020-07-08 04:00] #40067 closed

[2020-07-08 04:01] #40069 closed

[2020-07-08 04:08] SsnL commented on #41064
Is your `fmgr` empty in the data loader workers? E.g., if you use the reader outside the dataloader, the `fmgr` cache will be filled and the worker processes (assuming linux and `fork`) will all share the same `fd`s for those entries, which might cause trouble. Try clearing it in `worker_init_fn`.

Also, could you isolate the problem by trying to reproduce without the data loader framework? It see

[2020-07-08 04:11] anguoyang commented on #40994
@gmagogsfm Thank you so much for the feedback, as 1.6 is not released yet, we have to install it from source right?

[2020-07-08 04:14] vkuzo commented on #29648
This works now, closing:

[code]

[2020-07-08 04:14] #29648 closed

[2020-07-08 04:24] malfet commented on #41114
From the log it looks like you forgot to checkout submodules recursively, as documented here: https://github.com/pytorch/pytorch/#get-the-pytorch-source
Please make sure that all PyTorch submodules have been checked out and try running configure again.

[2020-07-08 04:26] vkuzo commented on #36888
this is fixed by https://github.com/pytorch/pytorch/pull/40310

[2020-07-08 04:26] #36888 closed

[2020-07-08 04:26] cloudhan commented on #40696
The value `20.9999999999999` is not representable in a float.

[code]
yields a `array(21., dtype=float32)`.

There might be somewhere in JIT code that is doing casting from `double` to `float`, which causes the problem.
Learn more about casting from double to float: https://stackoverflow.com/questions/16737615/how-is-floating-point-conversion-actually-done-in-cdouble-to-float-or-float

[2020-07-08 04:29] peterjc123 commented on #40998
Looks like https://github.com/pytorch/pytorch/pull/41000 has not fixed that. @seemethere Could you please look into it?

[2020-07-08 04:32] vkuzo commented on #33466
closing since this is fixed by @kimishpatel

[2020-07-08 04:32] #33466 closed

[2020-07-08 04:37] vkuzo commented on #23944
this is done, closing

[2020-07-08 04:37] #23944 closed

[2020-07-08 04:37] kiukchung commented on #41067
could you describe the deadlock scenario in more detail? To echo @mrshenli I’d like to understand:

1. Is the deadlock you are observing due to the wait() call in the launcher or is it deadlocking on the gpu kernel (we’ve had issues in the past where using backend nccl in a multi worker topology with worker failures result in surviving workers to hang indefinitely on a nccl op)

2. In torchelastic

[2020-07-08 04:39] vkuzo commented on #25621
@AshkanAliabadi , seems like we went with the fork.  Should we keep this open or ok to close?

[2020-07-08 04:41] vkuzo commented on #29032
this was fixed, so closing

[2020-07-08 04:41] #29032 closed

[2020-07-08 04:43] gmagogsfm commented on #40994
Sorry I didn't realize 1.6 wasn't final yet. Please try installing from source using this branch:

https://github.com/pytorch/pytorch/tree/release/1.6

[2020-07-08 04:46] #25621 closed

[2020-07-08 04:53] usamazf commented on #41114
Oh, wait let me try again with a fresh copy.

[2020-07-08 04:59] usamazf commented on #41114
Ah, sorry about that, made a stupid mistake. Closing the issue!

[2020-07-08 04:59] #41114 closed

[2020-07-08 05:18] ngimel opened #41115 "All cpu allocations after calling _make_per_tensor_quantized_tensor on a cuda tensor are in pinned memory"
## 🐛 Bug

After some quantization operations are called on cuda tensors (in particular, _make_per_tensor_quantized_tensor, maybe some others) all subsequent cpu allocations are using pinned memory
## To Reproduce
[code]
Quantization operations should not affect subsequent cpu allocations
This is important because with pinned allocations all the cpu operations will be slowed down significantly. E.g

[2020-07-08 05:21] mruberry commented on #4494
Closing due to age and lack of response. If this is still an issue please update and reopen.

[2020-07-08 05:21] #4494 closed

[2020-07-08 05:50] interesaaat commented on #41057
Thanks @ezyang. I tried with the nightly build (`1.7.0.dev20200705+cpu`) and I indeed see performance similar to 1.4.0. I am going to close the issue.

[2020-07-08 05:50] #41057 closed

[2020-07-08 06:30] lawpdas commented on #40909
Yes! You are right! I have solved this problem by setting `USE_CUDNN=0`. Because I did not install cudnn in cuda10.2, it uses the cudnn installed in another version of cuda.

[2020-07-08 06:30] #40909 closed

[2020-07-08 06:40] gmagogsfm commented on #40912
Thanks for reporting this issue Halo.

I tried to reproduce this issue but your example isn't complete so I wrote my own repro case, but the error I got is different.
Here is my repro:https://gist.github.com/gmagogsfm/b4fea857ccc1372b75117b943d9924d9

Could you help me look deeper into this issue by
1) Providing a complete (and preferably minimal repro)?
2) Verify whether the error message in orig

[2020-07-08 06:48] spandantiwari commented on #39053
@killTheHostage - I will close this issue for now. Please feel free to reopen if you have a repro for this issue and we will look into this. Thanks.

[2020-07-08 06:48] #39053 closed

[2020-07-08 06:59] janblumenkamp commented on #16797
@mmcdermott Are you aware of a similar workaround for `loads`? `pickle.Unpickler` seems to only work for `load`.

[2020-07-08 07:18] mmcdermott commented on #16797
@janblumenkamp I'm not, sorry.

[2020-07-08 08:33] thinking-tower commented on #40316
Hey @z-a-f, is this issue still open? If so, can I work on it?

[2020-07-08 08:54] thinking-tower commented on #41081
Hey @mrshenli, I noticed that this has the label `topic: bootcamp`. If this is still open, I'd be happy to participate in this!

[2020-07-08 09:34] sakura-iv opened #41118 "Error when exporting torch model HRNet-Semantic-Segmentation to onnx"
## ❓ Questions and Help

I am trying to transform torch HRNet-Semantic-Senmentation model to onnx model, but I met the error:
RuntimeError: Failed to export an ONNX attribute, since it's not constant, please try to make things (e.g., kernel size) static if possible

Traceback (most recent call last):
  File "tools/torch2onnx.py", line 118, in <module>
    main()
  File "tools/torch2onnx.py", line

[2020-07-08 09:42] y78h11b09 commented on #37068
I hope this could be supported,  all of my work is  on windows 10

[2020-07-08 10:04] t-vi commented on #25210
So I've been building PyTorch with anything from ROCm 2.8 to 3.5. Is this still active?
(This is my build process: https://lernapparat.de/pytorch-rocm/ )

[2020-07-08 10:04] t-vi commented on #25210
cc @jeffdaily

[2020-07-08 11:24] halostorm commented on #40912
Sorry, I didn't give all issue information, the following code can be used to test the problem I encountered. And the error like "graph diff, node diff" is new to me...

[code]

[2020-07-08 12:04] matthewchuang97987536 commented on #20030
put this in terminal,hope it works. It took me 2hrs to fix this and I hope you can fix it faster, jeeez...

install_name_tool -change @rpath/libc++.1.dylib /usr/lib/libc++.1.dylib /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/_cvxcore.cpython-37m-darwin.so

[2020-07-08 12:17] MagicFrogSJTU commented on #41101
@baobablyh
Is this your case?
There are multi-class heads, and in a DDP epoch, only 3 of them are activated. But during loss.backwards(), weight decay of all heads are triggered. However, in non-DDP mode, only 3 heads should be in the loss of weight decay.

[2020-07-08 12:33] yongtw123 commented on #40988
@malfet OK I'm going to try that and report back. Technically I am attempting to build pytorch for Rasbperry Pi, but I don't have a unit on hand so I'm experimenting the build process on a VM running a 32-bit OS. It crosses my mind now that maybe building against ARM may present issues orthogonal to building on x86/i*86, but I'm unsure.

[2020-07-08 13:01] MagicFrogSJTU commented on #41101
@mrshenli
I look through the cpp code.
If a variable's grad is globally None, its grad will remain None in every replica. Am I right?

[2020-07-08 13:15] fzwqq commented on #6570
Yes, the example works well. But it seems to set all the parameters of model without grad, how to do if we load the model from checkpoint.

[2020-07-08 13:23] nassarofficial commented on #24899
Same problem

[2020-07-08 13:34] malfet commented on #40988
@yongtw123 can you share the log with the failure.
And if you goal is to build for ARM, then what you probably would want to do is to cross-compile it for the platform (or build natively on the system). Please note, that ARM64 PyTorch wheels are already available from https://status.openlabtesting.org/builds/builds?project=pytorch%2Fpytorch&job_name=pytorch-arm64-build-daily-master-py37

[2020-07-08 14:01] albanD commented on #4501
Why do we want to bind all of them?
If we do so, should we use a special submodule?

[2020-07-08 14:26] mrshenli commented on #41101
@MagicFrogSJTU

Yep, this is correct. @baobablyh authored that part of code in #28883. I guess that's still not enough for the multi-class heads use case discussed above, due to 1) weight delay 2) grads for all params, even if they are globally unused, are still communicated using `AllReduce` in the backward pass, so DDP still pays the comm overhead. I curious to know if this can be solved by just

[2020-07-08 14:35] kjdorow7 commented on #41030
@spandantiwari Updating to PyTorch 1.5.1 fixed it. Thank you!

[2020-07-08 14:35] #41030 closed

[2020-07-08 14:37] Flamefire opened #41119 "TORCH_CUDA_ARCH_LIST deprecation warning"
## 🐛 Bug

During build with `TORCH_CUDA_ARCH_LIST=5.2 python setup.py install` a warning is shown:
[code]

However as it seems to be impossible to pass options directly to the invoked cmake this cannot be fixed.

## Expected behavior

No warning/error is shown

[2020-07-08 14:48] MagicFrogSJTU commented on #41101
Could you please tell me #28883 apply to which pytorch version? I am currently using pytorch1.5.

[2020-07-08 14:50] mrshenli commented on #41101
It is included in v1.5.0+

[2020-07-08 14:58] anjali411 commented on #41084
@boeddeker Thanks for creating the issue! I agree that it would be super useful to have `torch.solve` supported for complex so that we won't need the hacks anymore. I or someone else will work on adding this once `torch.matmul` is supported for complex numbers (since it's used in the backwards).

[2020-07-08 15:01] Flamefire opened #41120 "Submodules redownloaded even when present for the case of (Q)NNPACK not available"
## 🐛 Bug

Usually PSIMD_SOURCE_DIR is set at https://github.com/pytorch/pytorch/blob/de4fc23381bead802a5a750f2de50cc54e096292/cmake/Dependencies.cmake#L259

However for some reason this is not done *NNPACK is not used and those variables are left undefined.
This causes the subsequent code (e.g. https://github.com/pytorch/pytorch/blob/de4fc23381bead802a5a750f2de50cc54e096292/aten/src/ATen/native/qu

[2020-07-08 15:26] boeddeker commented on #41084
Thanks, that would be great

[2020-07-08 15:46] sbonner0 commented on #41069
Hi @mruberry thanks so much for your reply! Do you think it would be challenging to code a kernel to do this and submit it to pytorch? I would be very happy to give it a go.

[2020-07-08 15:47] kjdorow7 commented on #34002
I have the same issue with:
torch                 1.5.1
torchaudio        0.5.1
torchvision        0.6.1
Setting training as a constant in batchnorm.py did not make a difference and I ran exactly what @IlyaOvodov ran.
[code]

[2020-07-08 15:51] kshitij12345 opened #41122 "[CI] DOCKER Image not Found"
[code]

https://app.circleci.com/pipelines/github/pytorch/pytorch/188826/workflows/ee84571b-a3de-4fa3-85a7-76384907afdd/jobs/6162249/steps

https://app.circleci.com/pipelines/github/pytorch/pytorch/188826/workflows/ee84571b-a3de-4fa3-85a7-76384907afdd/jobs/6162273/steps

https://app.circleci.com/pipelines/github/pytorch/pytorch/188826/workflows/ee84571b-a3de-4fa3-85a7-76384907afdd/jobs/6162253/ste

[2020-07-08 15:53] baobablyh commented on #41101
@mrshenli Thanks a lot for the reply which is very insightful.

I am not sure either if this should be added to DDP. That's why I have suggested maybe adding an option to support this special case :-)

Yes, for our case there is a common part shared across tasks. It would work as you suggested with one DDP for the common part and separate DDPs for task-specific parts. The thing is we also have use

[2020-07-08 15:54] williamdias commented on #40973
@ilia-cher

[2020-07-08 15:57] mrshenli opened #41123 "async_execution and RRef helpers do not work together"
The following code does not work

[code]

This is because the `_local_invoke` function ignored the attribute installed by the decorator. To fix this, we will need to have another version of `_local_invoke` which is decorated by `@rpc.functions.async_execution` and returns the `Future` object from the wrapped function.

https://github.com/pytorch/pytorch/blob/03eec07956a61cb824f4685ba3630f553b1a0a6

[2020-07-08 15:57] baobablyh commented on #41101
Yes, we have been handling two cases:
1. Run task A and B in round robin fashion on R1 and R2. The same task is active on all ranks at any given time. #28883 addressed this case.
2. Run A on R1 and run B on R2. This is the case we are trying to address with this ticket.

[2020-07-08 15:57] yongtw123 commented on #40988
Thanks for the heads-up. Build output is as below.

[code]

[2020-07-08 15:59] SsnL commented on #40641
fixed

[2020-07-08 15:59] #40641 closed

[2020-07-08 16:12] mrshenli commented on #41101
I see. One possibility might be having a `ddp.ignore_none_grad()` context manager to wrap the iterations that should ignore local non grads. And it can also force model sync across all processes on exit. As this is a separate feature, this won't have any impact on existing use cases. But the downside is that the comm still takes place, and it just DDP ignores the communicated results.

cc @zhaojua

[2020-07-08 16:18] mcarilli commented on #40911
With apex amp, did you also observe a system/CPU memory leak, as opposed to a GPU-side memory leak?

Does it have anything to do with the `no_grad()` interaction?  can you try running the eval like an ordinary forward pass, not under `with no_grad()` and see if it persists?  I don't know why this would affect it, but it's a useful data point.

Does running `gc.collect()` after each iteration durin

[2020-07-08 16:31] houseroad commented on #40472
https://github.com/pytorch/pytorch/pull/41117 update the recompute_scale_factor to False, which keeps the consistency of scale_factor in C++ and Python. We started printing warning in 1.5, and told users we will turn this to False in 1.6. Also verified no impact on torchvision and detectron2 models with @fmassa and @ppwwyyxx

[2020-07-08 16:35] houseroad commented on #37060
Thanks @BIT-silence, will try your diff and benchmark our PyPer model again.

[2020-07-08 17:15] spandantiwari commented on #41030
Thanks for following up @kjdorow7.

[2020-07-08 17:18] spandantiwari commented on #4359
Circling back on this issue - max_pool3d is now supported in the exporter.

[2020-07-08 17:18] #4359 closed

[2020-07-08 17:20] zhaojuanmao commented on #41101
the proposal about adding a context manager sounds good to me. @baobablyh I have a few noob questions:
1.  why not simply setting unused parameters with required_grad = false?  is it because these parameters could become used parameter from unused parameters during training?
2. if local/global unused parameters could change during training, is there a case like this?  is the result what you want?

[2020-07-08 17:23] liu-jc opened #41128 "Memory bug for backward on torch.sparse.mm?"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

import numpy as np
print(f'GPU memory usage: {torch.cuda.memory_allocated(device=None)/10**9}')
n = 110000
nnz = 860000
rows = np.random.randint(0, n, nnz)
cols = np.random.randint(0, n, nnz)
values = torch.randn(nnz)
X_sparse = torch.sparse_coo_tensor([rows,cols], values, size=(n,n)).cuda().requires_grad_(True)
Y_dense = torch.randn((n,

[2020-07-08 18:07] vadimkantorov commented on #1529
IBM's Large Model Support https://github.com/IBM/pytorch-large-model-support/ did interesting work on allocators that page CUDA memory to RAM. Maybe their modifications can inform how allocators can be made more extensible / instrumentable / observable. And maybe switchable in runtime? (I wonder if torch_xla / DNNL / xilix support already does sth similar)

About dumping all tensors / allocations,