[2019-10-14 16:24] qsundarr commented on #14464
I am using PyTorch 1.1 and running in to the same issue described above.  Has this issue been resolved?
For multiple reasons, I am unable to upgrade to PyTorch1.2 or PyTorch1.3. Is there a work around for this issue? Thanks.

[2019-10-14 16:27] peterjc123 commented on #27840
We need Python3 actually.

[2019-10-14 16:34] SsnL commented on #27466
I feel that this should be labeled as high pri bug instead of BC breaking.

[2019-10-14 16:35] gchanan commented on #27466
Unfortunately we expose this function in the top-level namespace and it's listed in the JIT documentation.  So we probably want to deprecate it (and we should remove it from the top-level namespace, it's not documented and the name is not good).

[2019-10-14 16:35] gchanan commented on #27466
@SsnL I just wrote why I think it's BC breaking.

I don't see why it's high priority, though.  It's strange behavior for a function that IMO shouldn't even be exposed.

[2019-10-14 16:38] SsnL commented on #27466
I see.  I thought this is part of the batch norm call and this would be a
pretty bad bug. Probably I am wrong.

On Mon, Oct 14, 2019 at 12:36 gchanan <notifications@github.com> wrote:

[2019-10-14 16:40] Ir1d opened #27874 "[docs] math formula render failure in docs for CosineAnnealingWarmRestarts"
## 📚 Documentation

https://pytorch.org/docs/master/optim.html#torch.optim.lr_scheduler.CosineAnnealingWarmRestarts

![image](https://user-images.githubusercontent.com/10709657/66767963-1b54b080-eee4-11e9-92bf-71d0d176d8f0.png)
![image](https://user-images.githubusercontent.com/10709657/66767998-2dceea00-eee4-11e9-90b1-41440665df6b.png)

cc @vincentqb

[2019-10-14 16:46] gottbrath commented on #24081
@jpellman -- Thanks for the update. I'll ping my contacts at NVIDIA and make sure they are aware of this.

[2019-10-14 16:46] ljk53 commented on #27726
@RuABraun another thing our java wrapper does which you might miss is to set AutoGradMode before running inference: https://github.com/pytorch/pytorch/blob/master/android/pytorch_android/src/main/cpp/pytorch_jni.cpp#L617
[code]

This is because our mobile libtorch library is inference only, which will fail if autograd is enabled.

But I don't see why it complains about missing "_adaptive_avg_pool2

[2019-10-14 16:46] gchanan commented on #27614
this doesn't crash, it throws an error.

[2019-10-14 16:48] jeffswt opened #27875 "torch.device reporting an error as it should when using msnpu"
## 🐛 Bug

When specifying MSNPU for `torch.device` it throws a RuntimeError inside the C library instead of catching it and raising it as a Python error.

## To Reproduce

Steps to reproduce the behavior:

1. Create a `msnpu` device with `device = torch.device('msnpu')
2. Boom

[code]

## Expected behavior

It ought have thrown something like this:

[code]

## Environment

[code]

## Additional co

[2019-10-14 16:50] gchanan commented on #27614
I also don't think this is related to broadcasting.  The same example works in the forward pass if you replace the "1" with a "2", which isn't broadcast compatible.

We've had various consistency issues with what scatter/gather functions supported in CPU/CUDA forward/backward.  We should do a audit of this code across those axes.

[2019-10-14 16:51] gchanan commented on #27595
CC @mcarilli.

[2019-10-14 16:52] elnazsn1988 commented on #27840
@peterjc123 so I had previously used python 3.7, then read this tutorial : http://gianni.rosagallina.com/en/posts/2018/10/04/caffe2-gpu-windows-1.html#step-4-build and moved to python 2.7 as I was getting the same errors with pybind11_state missiing.  Should I delete all caffe2 folders and pytorch folders, copy python_37 to the lib folder under build, and resubmit build_windows, or should I just c

[2019-10-14 16:53] gchanan commented on #27600
Maybe related to https://github.com/pytorch/pytorch/issues/18853.

[2019-10-14 16:58] Lalaland commented on #27542
It seems like the solution for this is to:

1. Implement a stable implementation of topk that handles ties better.
2. Measure the performance impact of #1 relative to the current implementation.
3. If it's cheap, roll that out as the default and remove the unstable implementation.
    Otherwise, if it's expensive, add a flag for stable behavior.

[2019-10-14 17:01] gottbrath commented on #27729
Thanks @dzhulgakov !

[2019-10-14 17:08] gchanan commented on #27072
We may want to unify generators first.

[2019-10-14 17:10] gchanan commented on #16574
We probably want to wait for python 2 to go away.

[2019-10-14 17:13] gchanan commented on #27426
We don't have any current plans to do this.

[2019-10-14 17:13] ezyang commented on #26334
@cpuhrsch We processed this issue in triage review and we could not understand why you labeled it triage review (and didn't do anything.)

[2019-10-14 17:18] ezyang commented on #9382
Some history: https://github.com/torch/torch7/issues/617

[2019-10-14 17:20] suo commented on #26948
I suspect this has to do with OpenMP contention; can you try running your benchmark with `OMP_NUM_THREADS=1` set?

[2019-10-14 17:21] gchanan commented on #27278
@SsnL thoughts on turning off the test?

[2019-10-14 17:21] gchanan commented on #27278
Or just running on master?

[2019-10-14 17:22] gchanan commented on #27278
We should at least do something, whether that is fixing, turning it off on PRs, or turning it off overall.

[2019-10-14 17:24] vincentqb commented on #27833
Have you tried the following?
* `python setup.py clean --all` before compiling
* creating a new conda environment to compile in, using `conda create -n pytorch python=3.6` and `conda activate pytorch`
* compiling without CUDA: `NO_CUDA=1 python setup.py install`
* making sure you are on the lastest master commit

[2019-10-14 17:24] SsnL commented on #27278
@gchanan I think we should identify which test is causing the trouble and temporarily switch it off. Turing entire `test_dataloader.py` off seems an overkill.

[2019-10-14 17:31] vincentqb commented on #27837
Can you provide a minimal code example to reproduce? Please also copy and paste the output from our [environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py). You can get the script and run it with:
[code]

[2019-10-14 17:32] raghuramank100 commented on #27747
Hi, quantization aware training will require more memory than regular floating point training as additional modules (fake quantization modules) are inserted during training. The focus of quantization aware training is to produce a quantized model for inference with higher accuracy than other techniques.
Apex can be used for training models, even with quantization aware training. We havent complete

[2019-10-14 17:33] vadimkantorov commented on #27466
There is no bug, eps is taken care of in the caller, it's just confusing when reading the code.

@gchanan This function is used in SyncBN and maybe for some JIT un-lowering to do fusion. I have a [mini-PR](https://github.com/pytorch/pytorch/pull/27621) to use it for a first step towards inplace batchnorm.

[2019-10-14 17:34] zou3519 commented on #27753
When one does not set the default dtype, the tensor prints without scientific notation, pushing the names attribute to the new line. I don't know why this is, but the fix is easy.

The test is checking that the tensor repr has `names`, so one approach is to strip all whitespace from the string.

[2019-10-14 17:39] albanD commented on #27542
That sounds good. Will you have some time to work on that implementation?

[2019-10-14 17:41] ssnl opened #27878 "[FR] torch context with default device & dtype"
## 🚀 Feature

There has been needs to set default device. This FR proposes an API that is compatible with 3rd party libs.

## Motivation

There has been a lot of discussion around default device flag in pytorch (https://github.com/pytorch/pytorch/issues/7535). Yet, implementing such an API has been mostly blocked by the concern that 3rd party libraries may assume that tensors are created on CPU.

[2019-10-14 17:41] gchanan commented on #27626
I'm going to close this, because it's really a question for the forums (Please use https://discuss.pytorch.org (https://discuss.pytorch.org/) for questions).  If you find it's a bug, please reopen this.

[2019-10-14 17:41] #27626 closed

[2019-10-14 17:43] gchanan commented on #27754
Because you'd always type infer float64s if you did that.  E.g. `torch.tensor(1.)` would give you a float64.  That's not usually what you want, so we give the default_dtype as a setting.

[2019-10-14 17:44] gchanan commented on #27542
I marked this as "topic: determinism".

I don't see any reason this should be marked high priority.

[2019-10-14 17:47] raghuramank100 commented on #27793
Can we list the use-cases where this is needed to help prioritize this work?

[2019-10-14 17:48] gchanan commented on #27595
marking dependency bug until we hear otherwise.

[2019-10-14 17:49] zou3519 opened #27880 "torch.onnx.export links to "onnx-export" which does not exist"
https://pytorch.org/docs/stable/onnx.html#torch.onnx.export

![image](https://user-images.githubusercontent.com/5652049/66771893-71e0d100-ee89-11e9-9ef1-6004b6fc2373.png)

[2019-10-14 17:51] gchanan commented on #27678
@cpuhrsch why is this marked both "triaged" and "triage review"?

[2019-10-14 17:56] albanD commented on #27600
I cannot reproduce this locally:
[code]

Not sure what happens in your case.
Could you check what happens if you call `torch.cuda.empty_cache()` between the two calls of `oom()`. You must call this in the command line and **not** in the oom() function itself.

[2019-10-14 17:58] gchanan commented on #22815
removing triage since it's back in "triage review".

[2019-10-14 17:59] gchanan commented on #22815
CC @mruberry, who I discussed this with in person.

[2019-10-14 18:02] gchanan commented on #27714
Removing "triaged" because this wasn't triaged.

[2019-10-14 18:03] gchanan commented on #27714
Related issue: https://github.com/pytorch/pytorch/issues/27754 for better handling of numpy scalars.

I'd also probably not make it high priority, but it's a reasonable request, and it doesn't have complicated issues like https://github.com/pytorch/pytorch/issues/27754 does.

[2019-10-14 18:05] gchanan commented on #27671
Removing "triage review" because the proper person (@pritamdamania87) has triaged this.

[2019-10-14 18:05] mcarilli commented on #27595
@CoinCheung Amp patches the `step` method to skip the step whenever inf/nan gradients are encountered.  Therefore, with `opt_level=O1`, I expect you should see this warning intermittently (for the occasional iterations where an inf/nan gradient is encountered, including the first few iterations as the scale calibrates).  I don't think it actually breaks anything.

[2019-10-14 18:06] gchanan commented on #27678
Removing "triaged" because this wasn't triaged.

[2019-10-14 18:06] alexeygolyshev commented on #27837
Hello @vincentqb,

Code example: https://github.com/pytorch/pytorch/files/3723821/PyTorch.zip

Output from the environment collection script:

[code]

`nvidia-smi`:

[code]

[2019-10-14 18:09] gchanan commented on #27627
Removing triaged as this wasn't triaged.

[2019-10-14 18:15] albanD commented on #27837
@alexeygolyshev  is that a minimal example? Looks like there is a lot of code in there.
If you could reduce the size of the code, it would really help with finding what is the root cause, thanks !

[2019-10-14 18:22] mansoorcheema commented on #25883
Hi @yf225 I am interested to work on any Normalization Layer. I am beginner, so which one would you suggest. Thanks

[2019-10-14 18:25] alexeygolyshev commented on #27837
Hello @albanD,
Yes, this is a minimal example. I don't think I can greatly reduce the code. I have already deleted the data preprocessing.

[2019-10-14 18:31] vincentqb commented on #22107
#26423 has been merged and addresses this.

[2019-10-14 18:31] #22107 closed

[2019-10-14 18:39] vincentqb commented on #27824
@izdeby -- This does look like a bug. Can you respond to this?

[2019-10-14 18:40] ezyang commented on #24422
@raghuramank100 I took the liberty of adding you to the CC list for quantization. If you don't want to be cc'ed on these feel free to remove yourself

[2019-10-14 18:41] gchanan commented on #27466
that PR looks fine, it doesn't affect the python API because the out variant gets collapsed there.

[2019-10-14 18:51] raghuramank100 commented on #7553
Closing this issue as we now have quantization support in eager mode, tutorial is at:
https://pytorch.org/tutorials/advanced/static_quantization_tutorial.html

[2019-10-14 18:51] #7553 closed

[2019-10-14 18:58] elbamos commented on #27627
@ezyang I tried to bisect this. Its coming from the named tensor code; that's why it wasn't showing up until named tensors were permanently activated.  Trying to go further back and compiling with named tensors enabled, its present in 44bd63c at the end of August.

Going back further than that, and we get to a place in the code where there are layers of other errors that prevent compilation or loa

[2019-10-14 19:03] raghuramank100 commented on #18318
There is no nn.Add() available as Add is a tensor method with no learnable parameters. Wherever there are existing nn Modules, the quantization method works off of those.
You are correct about QuantWrapper, you can instead manually insert quant/dequant stubs.   We are working on graph mode quantization, where even this part will be automated.

[2019-10-14 19:10] CoderHam opened #27902 "Slowdown due to thread specific model caching"
## 🐛 Bug

PyTorch appears to have an issue with threads that causes it to not properly warm up models if executed by different threads  in succession. This is why when using multi-instances of the model on the same GPU, it does not provide a speedup and in some cases is even slower than a single instance.

## To Reproduce

**Steps to reproduce the behavior:**

I have a simple libtorch code snippet

[2019-10-14 19:32] gchanan commented on #2228
We don't have anyone whose primary focus is on numpy compatibility, but we gladly accept PRs in this area :).

[2019-10-14 20:19] raghuramank100 commented on #27451
@gottbrath : Can we close this issue?

[2019-10-14 20:20] raghuramank100 commented on #27450
@gottbrath : Can we close this issue?

[2019-10-14 20:22] raghuramank100 commented on #27380
I agree, we should support arbitrary code in observers and not require scripting. Have you verified if this approach works for histogram observers?

[2019-10-14 20:24] alexeygolyshev commented on #27837
@albanD My inputs: [sentences, words, characters]. I have 2 varying dimensions: different number of words in a sentence and different number of characters in a word.

[2019-10-14 20:28] vincentqb commented on #27730
Similar issue for OneCycle, see [here](https://pytorch.org/docs/master/optim.html#torch.optim.lr_scheduler.OneCycleLR).

[2019-10-14 20:31] eellison commented on #27771
I don't think we're going to do this because we only bind to constant python values. For this reason we don't close over tensors either.

Also in the future it would be helpful to post a reproducible example so less context is needed to understand the issue.

[2019-10-14 20:32] eellison commented on #27743
@wanchaol you were working on supporting named tuple outputs right ? That would cover this use case.

[2019-10-14 20:33] eellison commented on #27771
If someone else runs into this or @li-roy you want to discuss it further please reopen. I am going to close it for now.

[2019-10-14 20:33] #27771 closed

[2019-10-14 20:35] eellison commented on #27549
Fix in https://github.com/pytorch/pytorch/pull/27763 landed

[2019-10-14 20:35] #27549 closed

[2019-10-14 20:40] volcacius commented on #27542
It affects accuracy computation of quantized image classification models, which is probably the main benchmark scenario when it comes to quantization. With the release of official quantization support in 1.3, you are going to see more users being affected by it. I think it would be a missed opportunity to not prioritize it, integer arithmetic has much more of a chance of being reproducible across

[2019-10-14 20:42] mruberry commented on #27278
A more recent test_dataloader hang that might help diagnose:

https://circleci.com/gh/pytorch/pytorch/3194293?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link/console

[2019-10-14 20:42] mruberry commented on #27278
Also:

https://circleci.com/gh/pytorch/pytorch/3193447?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link/console

Which hung in test_dataloader (didn't error out).

[2019-10-14 20:44] RuABraun commented on #27726
Thanks for the hint about disabling autograd!

I'll make a simple android app with pytorch to make things simpler (I have lots of other C++ dependencies) and make it easier to reproduce the error. Will post tomorrow.

[2019-10-14 20:46] jjsjann123 opened #27926 "`num_batches_tracked` update in `_BatchNorm` forward should be a single scalar update on host regardless of the residence of the layer"
## 🚀 Feature

`num_batches_tracked` is single scalar that increments by 1 every time `forward` is called on the `_BatchNorm` layer with both `training` & `track_running_states` set to true. Our current implementation stores it as a single-element buffer that resides on the same device as with the rest of its parameters/buffers.

We request the update & storage of `num_batches_tracked` to be moved

[2019-10-14 20:47] mruberry commented on #27278
Another one:

https://circleci.com/gh/pytorch/pytorch/3191123?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link/console

Could this be a Python2 issue? If so it will fix itself soon.

[2019-10-14 20:47] jjsjann123 commented on #27926
Filing the issue to track this problem, as I'm currently not available to work on it.
cc'ing @ngimel @ptrblck @csarofeen for visibility.

[2019-10-14 20:47] wanchaol commented on #24235
So I took a look at this, if you want to use ONNX export, you don't need to make the model into a ScriptModule, the below should works:
[code]
If you want to script this model instead of using ONNX export, consider using the new script API documented [here](https://pytorch.org/docs/stable/jit.html#migrating-to-pytorch-1-2-recursive-scripting-api). The following scripting api should work as well:
[

[2019-10-14 20:50] mruberry commented on #27278
Maybe not, here's a Python3 test_dataloader error:

https://circleci.com/gh/pytorch/pytorch/3179983?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link/console

[2019-10-14 20:53] rohan-varma opened #27928 "RRefs can leak when joining workers"
## 🐛 Bug / Enhancement

In distributed training, if `rpc.join_rpc()` is called when the locally created rrefs are not garbage collected, this can result in leakage errors. See the example script below to reproduce.

## To Reproduce
1. Run the following script
[code]

Results in the error:
[code]

## Expected behavior

Open for discussion, but I don't think we should have a user error here. The scr

[2019-10-14 20:54] zou3519 commented on #27278
From @mruberry's logs, it looks like the following tests have issues:

Flaky:
test_multi_drop
test_random_seed
test_proper_exit

Hangs and causes the entire test to time-out:
test_iterable_style_dataset

[2019-10-14 20:54] zafartahirov commented on #26429
I think it's a must to have it on CI's, but I don't think the users need it. We can change it in the `test_nn.py` the same way it is in the `common_utils.py`. What do you say?

[2019-10-14 20:56] wanchaol commented on #25682
Hi I took a look at this. Basically tracing only allows the input/output being Tensors or Tuple of Tensors, and all intermediate results will be turned into tensors, we don't actually allow torchscript class to be in the middle of tracing because tracer won't able to understand on how to turn a class to a tensor. That's why your program fails.

To workaround, scripting are fully compatible with To

[2019-10-14 20:56] zafartahirov commented on #26279
@jerryzh168 Did it fix it? SHould we close this issue?

[2019-10-14 20:57] mrshenli commented on #27928
Yes, it will get tricker if there are circular dependencies (#27096). Is it OK that after join (everyone agrees to terminate), all owners clear their RRefs?

cc @aazzolini @xush6528

[2019-10-14 20:59] wanchaol commented on #25682
I am going to close this issue but feel free to re-open it if you think this is not enough for your use case :)

[2019-10-14 20:59] #25682 closed

[2019-10-14 21:02] jerryzh168 commented on #26279
I think so, closing now, please open another issue if similar problems comes up again. @ezyang

[2019-10-14 21:02] #26279 closed

[2019-10-14 21:11] Lalaland commented on #27542
Feel free to assign this to me. I can quickly try making the CPU version more stable and benchmark that. this weekend. I looked briefly at the GPU implementation of topk, it's a mess though and might need more work.

[2019-10-14 21:14] raghuramank100 commented on #27326
Closing this issue as we are not looking at this.

[2019-10-14 21:17] albanD commented on #27837
Unfortunately I don't have a setup with notebook available. Could you run your code with `anomaly_mode` enabled and post here the extended stack trace?

[2019-10-14 21:21] z-a-f commented on #25248
The problem is that making the hypothesis always run the same set of tensors defies its purpose. I wanted to make sure that the hypothesis performs guided random testing, and finds failing corner cases over time. An alternative would be testing exhaustively, which will be extremely slow.

Ideas?

[2019-10-14 21:23] jerryzh168 commented on #27380
It should work with recent changes to JIT, I'll try again soon

[2019-10-14 21:26] raghuramank100 commented on #25962
Closing this issue as we cannot repro this error anymore and the code has been rewritten significantly from the time this issue was raised

[2019-10-14 21:26] #25962 closed

[2019-10-14 21:27] raghuramank100 commented on #25120
Closing, nn.quantized serves both server and mobile backends

[2019-10-14 21:27] #25120 closed

[2019-10-14 21:27] suo commented on #25248
We can rotate the seed manually once in a while. This will increase coverage while eliminating non-determinism. It is very important that our tests be deterministic, as flakiness affects all PRs and parts of the project.

[2019-10-14 21:28] panfeng-hover opened #27936 "Specifying `pos_weight` in F.binary_cross_entropy_with_logits leads to RuntimeError: class size not match"
The function `F.binary_cross_entropy_with_logits` should to able to handle arbitrary logits shapes, but the argument, `pos_weight` still assumes the size of the second channel should the number of classes.

Example:

[code]

`F.binary_cross_entropy_with_logits(inputs, targets)` works fine, but `F.binary_cross_entropy_with_logits(inputs, targets, pos_weight=pos_weight)` would gives out error:

[cod

[2019-10-14 21:30] raghuramank100 commented on #24359
Closing this issue, current flow works with these modules.

[2019-10-14 21:30] #24359 closed

[2019-10-14 21:31] raghuramank100 commented on #24265
This test is now stable. So closing this issue

[2019-10-14 21:31] #24265 closed

[2019-10-14 21:35] raghuramank100 commented on #24210
Can you add more details (specific examples) or close this issue @z-a-f ?

[2019-10-14 21:37] z-a-f opened #27938 "Some of the quantized functions lack documentation"
## 📚 Documentation

For example: https://pytorch.org/docs/stable/quantization.html#torch-nn-quantized-functional

![Screen Shot 2019-10-14 at 2 34 10 PM](https://user-images.githubusercontent.com/4216323/66784641-ec145400-ee8f-11e9-8404-3717bad82df8.png)

This also includes #27849

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100

[2019-10-14 21:39] #23984 closed

[2019-10-14 21:40] #23763 closed

[2019-10-14 21:41] #23827 closed

[2019-10-14 21:41] jamesr66a commented on #23871
Pretty sure all layout issues have been addressed

[2019-10-14 21:41] #23871 closed

[2019-10-14 21:42] jamesr66a commented on #23877
Is this considered to be completed?

[2019-10-14 21:43] jamesr66a commented on #23883
What is actionable on this issue?

[2019-10-14 21:44] jamesr66a commented on #23944
Is this completed?

[2019-10-14 21:44] #23950 closed

[2019-10-14 21:44] jamesr66a commented on #23986
@zrphercule I know you mentioned you were looking into this. Did you make any progress?

[2019-10-14 21:49] jamesr66a commented on #25248
@z-a-f I don't think it's appropriate to do randomized testing on the main-line PR CI system. That would make sense if we're doing some sort of quantization-specific contbuild where the signals go directly to us, but it is a hard sell to say that causing failures on random unrelated PRs is acceptable.

Proposal:
1) Fully fix hypothesis seed in OSS CI
2) Spin up internal testing wil randomized test

[2019-10-14 21:50] jamesr66a commented on #25401
This is completed, correct?

[2019-10-14 21:50] #25401 closed

[2019-10-14 21:54] #27317 closed

[2019-10-14 21:54] nbcmguarin0 commented on #11800
`Traceback (most recent call last):
  File "pytorch_run.py", line 165, in <module>
    train()
  File "pytorch_run.py", line 99, in train
    loss.backward()             # backprop
  File "/Users/mg/anaconda3/envs/docemb/lib/python3.7/site-packages/torch/tensor.py", line 118, in backward
    torch.autograd.backward(self, gradient, retain_graph, create_graph)
  File "/Users/mg/anaconda3/envs/docemb

[2019-10-14 21:55] pritamdamania87 commented on #27928
@mrshenli Why do we need to explicitly destroy the RRefContext? Wouldn't the singleton automatically be garbage collected when the program exits?

[2019-10-14 21:57] jerryzh168 commented on #25248
Yeah hypothesis tests are derandomized on OSS CI right now.
For 2). I think we talked about this before, is xla doing similar things right now? @ailzhang

[2019-10-14 22:04] jerryzh168 commented on #25248
Talked with @ailzhang offline, she mentioned we can use `slowTest`, @ezyang can you share something about that? when does the tests marked with `slowTest` run?

[2019-10-14 22:05] nazanint opened #27944 "Cholesky Error for positive definite matrix"
## 🐛 Bug

All eigenvalues of the tensor below is positive but we still get a cholesky error:

a = tensor([[ 2.0409e-01,  1.5395e-01,  7.7433e-02,  1.9877e-02, -3.3970e-03,
         -5.2508e-03, -1.8392e-03,  3.6019e-05,  2.3410e-04, -2.0681e-05,
         -1.8481e-04, -2.5390e-04, -2.8913e-04, -2.7244e-04, -1.8783e-04,
         -7.9907e-05, -8.9461e-06,  9.9558e-06,  2.9799e-06, -3.9881e-06],

[2019-10-14 22:13] vishwakftw commented on #27944
Hi @nazanint, `torch.cholesky` requires that the matrix is symmetric, and it seems that the matrix that you have provided isn't.

[2019-10-14 22:15] soumith commented on #27902
this looks like a good repro and a fix that would likely get a lot of long-tail "serving" perf unblocked. cc: @wanchaol @suo

[2019-10-14 22:18] lfsando commented on #17203
I'm having the same issue.
Python 3.7.2 and CUDA 10.0

[2019-10-14 22:18] #27944 closed

[2019-10-14 22:19] meganset opened #27946 "torch.rand() skewed for large tensors"
## 🐛 Bug

[code]

[2019-10-14 22:20] soumith commented on #27878
after one framework finally got rid of a global context after 3 years, are you saying the competing framework should add one? :P

[2019-10-14 22:21] soumith commented on #27426
i'll close the issue until we actually have plans to do it

[2019-10-14 22:21] #27426 closed

[2019-10-14 22:24] ailzhang commented on #27844
Thanks @daniel-j-h for reporting! I'll push a fix!

[2019-10-14 22:26] gtamba commented on #27944
@vishwakftw , (a - a.T) does give a matrix that is almost zero, I believe the real issue here is the condition number of the tensor provided is really high which makes it unstable for numeric computation

`print(np.linalg.cond(a.numpy()))`  => 517008.34 which is really high

[2019-10-14 22:29] soumith commented on #27845
it's somewhere deep in this file: https://github.com/pytorch/pytorch/blob/90ffab6e3713a40f47f4c9d3d3b16d56e83f97c4/aten/src/ATen/native/RNN.cpp#L956

_VF.py routes in a complicated way to our aten:: C++ implementations of the said operators.

[2019-10-14 22:29] #27845 closed

[2019-10-14 22:29] vishwakftw commented on #27944
@gtamba we require an exact equality. I got:
[code]

[2019-10-14 22:30] soumith commented on #27738
@phongnhhn92 upgrade your NVIDIA driver

[2019-10-14 22:30] SsnL commented on #27878
:D a different kind of context

[2019-10-14 22:32] vishwakftw commented on #27944
FYI, Cholesky algorithms work independent of condition number, as long as the input is symmetric and positive definite.

[2019-10-14 22:43] ailzhang commented on #27830
@svenkreiss Is https://pytorch.org/docs/master/hub.html#torch.hub.download_url_to_file good for your case?
In that API we allow renaming and you can directly `torch.load('<renamed_file>')` right after it which is essentially `load_state_dict_from_url`.

I personally feel it's more clear than adding a kwarg to `load_state_dict_from_url` as it gives more control. But feel free to let me know if that

[2019-10-14 22:45] gtamba commented on #27944
@vishwakftw : thanks for confirming that, just for my curiosity, where could I find the source of .cholesky() ?
[code]

@nazanint: I don't know if conditioning numbers carry over in operations, but maybe a poor conditioning number of the input that was supposed to generate a symmetric matrix caused this loss of precision. (since you expected it to be positive-definite)

[2019-10-14 22:47] ailzhang commented on #27830
@soumith Hmm I haven't tried adding Google Drive yet, but yea it's achievable with some tweaks (to avoid adding additional dependency for PyTorch).
I'm not sure how useful it'll be tho. If users would like `torch.hub.download_url_to_file` and `torch.hub.load_state_dict_from_url ` to handle Google drive url, maybe thumb-up this comment?

[2019-10-14 22:48] soumith commented on #27830
kinda agree with ailing here

[2019-10-14 23:11] albanD commented on #27946
Hi,

I cannot reproduce that locally:
[code]

Also this could be accumulation errors, what does the following return on your system: `torch.rand(8000000000).double().mean()` ?

[2019-10-14 23:15] eellison commented on #27493
This is another python_torch_functions error

[2019-10-14 23:22] jerryzh168 commented on #27380
To be precise, we are still trying to make the observer scriptable, it's just we achieve it by ignoring non-scriptable functions.

[2019-10-14 23:40] raghuramank100 opened #27949 "Dynamic quantization with 8 bit weights leads to poor accuracy on BERT Models"
cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100

[2019-10-14 23:41] z-a-f commented on #25248
I agree that CI should only run deterministic tests. Maybe we can get extra machines to have third option: run randomized tests (or any monte carlo methods) continuously?

[2019-10-14 23:47] raghuramank100 commented on #23877
Yes, closing this issue

[2019-10-14 23:47] #23877 closed

[2019-10-14 23:48] raghuramank100 commented on #23883
We have an improved API for fusion that allows for users to specify a list or a list of lists without doing complicated string manipulation. This is now documented in the tutorials, so this can be closed.

[2019-10-14 23:48] #23883 closed

[2019-10-14 23:49] raghuramank100 commented on #23874
This is not solved in the release 1.3 code. We keep bias in float32 and quantize it for every forward call in eager mode. We can cache the quantized value as a later optimization. Does this address your concern @hongzhen1

[2019-10-14 23:49] #23873 closed

[2019-10-14 23:51] raghuramank100 commented on #23838
Fixed in release 1.3

[2019-10-14 23:51] #23838 closed

[2019-10-14 23:51] raghuramank100 commented on #23919
Completed in 1.3

[2019-10-14 23:51] #23919 closed

[2019-10-15 00:04] #27949 closed

[2019-10-15 00:36] thequilo commented on #27600
I kind of expected this. I noticed that, in a notebook, it happens more frequently if the exception is not handled within the function but by the notebook environment. The modified function

[code]
called two times with
[code]
almost always causes the error in my environment.

Yes, it frees a few MB of memory from the GPU (visible in `nvidia-smi`), but the remaining few GBs still remain on the GPU

[2019-10-15 00:42] thequilo commented on #27600
Also, calling `oom` in `except` does the same thing:

[code]
produces (every time I tested it):
[code]
Even with `gc.collect()` and/or `torch.cuda.empty_cache()` before the second call of `oom`.

[2019-10-15 01:12] g-karthik opened #27953 "RuntimeError: _th_normal_ not supported on CPUType/CUDAType for Int"
## 🐛 Bug
[code]

## To Reproduce

Steps to reproduce the behavior:

In a Deep Learning AMI EC2 instance, do `source activate pytorch_p36` first, followed by:

[code]

## Expected behavior

No errors.

## Environment

 - PyTorch Version (e.g., 1.0): 1.1.0
 - OS (e.g., Linux): Amazon Linux AMI 2018.03
 - How you installed PyTorch (`conda`, `pip`, source): conda (I think? This is the standard pytorch

[2019-10-15 01:36] g-karthik commented on #27953
Actually never mind, I guess I cannot use `dtype=torch.int` with `randn()` and should instead just use the `randint()` method.

[2019-10-15 01:36] #27953 closed

[2019-10-15 01:40] wizardk commented on #26948
export OMP_NUM_THREADS=1

1 process:
/test 1 10000 => CPU usage : 100
/test 2 10000 => CPU usage : 200
/test 3 10000 => CPU usage : 300
/test 4 10000 => CPU usage : 400
/test 5 10000 => CPU usage : 500

2 processes:
./test 1 10000 => CPU usage : 100+100
./test 2 10000 => CPU usage : 200+200
./test 3 10000 => CPU usage : 300+300
./test 4 10000 => CPU usage : 400+400
./test 5 10000 => CPU usage : 50

[2019-10-15 01:45] jamesr66a opened #27954 "[quantization] Dynamic LSTM doesn't serialize properly when traced"
Repro

[code]

Output

[code]

cc @suo @jerryzh168 @jianyuh @dzhulgakov @raghuramank100

[2019-10-15 01:47] meganset commented on #27946
sorry, I don't have enough memory to try the mean in double precision on the 8 billion-element tensor.
64g total memory on my linux box.

I see the skew on somewhat smaller tensors over on an imac with 32g memory,
but the mean looks good in double precision.
e.g.

[code]

[2019-10-15 02:22] ferriswym commented on #27834
@gtamba Thank you, that's exactly the problem and I solved it.

[2019-10-15 02:22] #27834 closed

[2019-10-15 02:34] Jianhui-Li opened #27955 "Expand Pytorch C10D backend to dynamic load third party communication library"
## Motivation
Expand Pytroch C10D backend to allow dynamic loading non-built-in communication libraries,  as a preparation step to integrate Intel CCL (aka MLSL) to Pytorch as another c10d backend for supporting BFloat16 and future HW.
 
## Pitch
Enrich Pytorch for better scaling efficiency on multi-node training

## Additional Context
Expand Pytorch c10d built-in communication module mechanism to

[2019-10-15 02:38] yf225 commented on #25883
@mansoorcheema Thanks a lot for your interest! I think `LocalResponseNorm` would be a great one to start with. Let me know if you are interested in working on it :D

[2019-10-15 03:12] thequilo commented on #27600
Just tested it with PyTorch 1.3 compiled for CUDA 9.0 and have the same issue

[2019-10-15 03:35] CasonTsai opened #27958 "how to use libtorch library in cuda file with nvcc compiler(c++)?"
## ❓ Questions and Help

# Motivation
i want to implement nms in parallel processing with libtorch library.
i use this cuda code(https://github.com/gdlg/pytorch_nms)

# Environment
PyTorch version : 1.2.0
CUDA (nvcc compiler ) : 10.0
libtorch version : 1.2.0
system : win10

# Operation
the command :`i use nvcc -c nms_kernel.cu -L -lcudart -I D:\Code-software\NNF\libtorch\libtorch\include -I D:\Cod

[2019-10-15 03:38] wangguojun2018 opened #27959 "'torch.onnx' do not support ' torch.where' , 'torch.nonzero' and 'torch.masked_selected' operators?"
## 🐛 Bug

the 'torch.masked_select' are used in my model, when I convert to onnx with 'torch.onnx.export' the error is
[code]
when I use 'torch.where' to replace 'torch.masked_select', the error is
[code]
when I use 'torch.nonzero' to replace 'torch.masked_select', the error is
[code]
But, I see 'torch.nonzero' and 'torch.where' are support in [official documentaments](https://pytorch.org/docs/sta

[2019-10-15 03:49] zzd1992 opened #27961 "ImportError: undefined symbol: _THError when cpp extention"
I build a cpp extension of PyTorch and it is successfully compiled and installed.
[code]
However, when I import it via
[code]
An error appears:
[code]
The following headers are included in my sources:
[code]
I work on torch-1.1.0, cuda-10.0, and ubuntu-16.04.
What are the probable causes of this error?

[2019-10-15 03:58] alexeygolyshev commented on #27837
No errors when `True`, errors when ` False`. Very strange.

[code]

[2019-10-15 05:19] ryul99 commented on #27833
I tried the following:
1. `python setup.py clean --all`
1. creating a new conda env with python 3.6
1. `conda install numpy ninja pyyaml mkl mkl-include setuptools cmake cffi typing` and `conda install -c pytorch magma-cuda100`
1. `git pull` , `git submodule sync` and `git submodule update --init --recursive`
1. `export CMAKE_PREFIX_PATH=${CONDA_PREFIX:-"$(dirname $(which conda))/../"}`
1. `python

[2019-10-15 05:50] mansoorcheema commented on #25883
@yf225 sure, I shall work on LocalResponseNorm!

[2019-10-15 05:50] neverUseThisName commented on #1204
This is my case. Always remember to change n_class of the final fc layer after changing dataset.

[2019-10-15 05:53] Naresh1318 commented on #27078
Thanks for that.

I tried adding that but the test seems to fail. Here's the python test function and the c++ one that I have written
https://github.com/pytorch/pytorch/blob/848d1ba13a3f77bb6f14656f2d84e2228e37a8ef/test/test_nn.py#L8898

[code]
Could you let me know if there's anything c++ equivalent to `torch.random.get_rng_state()`, `torch.random.set_rng_state(seed)` and `torch.finfo()`.

 Also,

[2019-10-15 05:55] peterjc123 commented on #27840
No need for this, just ensure your `PATH` contains the location of your python 3.7 installation and make sure your set `BUILD_PYTHON` to `ON`.

[2019-10-15 06:08] peterjc123 commented on #15156
The problem is for the release binaries, which is unrelated to your question. Please don't add more replies here.

[2019-10-15 06:29] dzhulgakov opened #27963 "[quantization] Packed sequence support for dynamic quantized RNN"
## 🐛 Bug

Currently quantized LSTM supports only non-packed sequence, we should fix it.

## To Reproduce

[code]

Today it fails with `AssertionError: assert batch_sizes is None`.

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100

[2019-10-15 07:11] Fariha1123 commented on #27839
I just commented the control flow, and my forward method is as following now:
`def forward(self, images, targets=None):
        """
        Arguments:
            images (list[Tensor] or ImageList): images to be processed
            targets (list[BoxList]): ground-truth boxes present in the image (optional)

        Returns:
            result (list[BoxList] or dict[Tensor]): the output from the

[2019-10-15 07:25] BIT-silence commented on #27633
PR https://github.com/pytorch/pytorch/pull/27634 should resolve this issue.

[2019-10-15 07:26] Bsting commented on #24237
i am facing the similar problem
https://discuss.pytorch.org/t/heap-size-increase-constantly-when-inference-with-new-thread/57621/4

[2019-10-15 07:29] svenkreiss commented on #27830
Thank you all for looking into this. Very much appreciated.

@ailzhang I can use `download_url_to_file` followed by `torch.load`, but that is not all I need. `load_state_dict_from_url` also determines the checkpoint directory and makes sure it exists. Effectively, I need to make my own `load_state_dict_from_url`. I am fine putting a custom `load_state_dict_from_url` in [openpifpaf](https://github.

[2019-10-15 08:20] gtamba commented on #27839
@Fariha1123 : Ah then it probably isn't because of the if conditions, I'm assuming it works without error for a forward pass without trace, could you share a snippet to initialize the module and the input y to try and reproduce this?

[2019-10-15 08:25] chenhuiji commented on #18268
Hi, turboxin. what's your environment? GPU, PyTroch, machine version

------------------ 原始邮件 ------------------
发件人: "turboxin"<notifications@github.com>;
发送时间: 2019年10月11日(星期五) 晚上8:26
收件人: "pytorch/pytorch"<pytorch@noreply.github.com>;
抄送: "陈辉"<764187653@qq.com>;"Mention"<mention@noreply.github.com>;
主题: Re: [pytorch/pytorch] DistributedDataParallel (#18268)

@chenhuiji, hi, did you figure it ou

[2019-10-15 08:25] DuckSoft commented on #27820
Pull request submitted! Would you mind have a look at #27966?
@SsnL

[2019-10-15 08:42] ryul99 commented on #27833
I face another problem but I solved this problem with adding `export CPLUS_INCLUDE_PATH=/usr/local/cuda-10.0/include:$CPLUS_INCLUDE_PATH C_INCLUDE_PATH=/usr/local/cuda-10.0/include:$C_INCLUDE_PATH` to .bashrc

[2019-10-15 08:45] zhuj06 commented on #17796
@elnazsn1988 sorry, just saw it. i never try this on windows yet.

[2019-10-15 08:49] SebastienEske commented on #27595
Hello, I have a similar issue which hapenning without amp. The way I see it, it is due to the scheduler initialization.

`scheduler.step()` is supposed to be used after `optimizer.step()` as indicated [here](https://github.com/pytorch/pytorch/blob/19d83ab8007aa5f295b3d69e8283bfbb994a011a/torch/optim/lr_scheduler.py#L45).

But [a few lines below](https://github.com/pytorch/pytorch/blob/19d83ab8007a

[2019-10-15 09:00] marcoleewow commented on #24235
@wanchaol I don't think your code works as expected. If I use
[code]

It will give me this RuntimeError:
[code]

I am using pytorch 1.3.0 and onnx 1.6.0

[2019-10-15 09:11] zhuj06 commented on #23258
I get the exactly same problem when I trying to convert this model to onnx version. It also call the trace.

[2019-10-15 09:14] nlgranger commented on #24235
@marcoleewow I think what he meant was that you should export the non-jitted version and compile it for use separately.

[2019-10-15 09:20] turboxin commented on #18268
hi @chenhuiji, thanks for replying~
My environment is:
GPU: Nvidia v100
Pytorch: 1.1.0
Cuda 9.2
cudnn: 7.2
ubuntu 16.04

[2019-10-15 09:20] yuwl798180 opened #27968 "MultiheadAttention incorrectly handles mask"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

the print is:

         tensor([[[0.2822, 0.2024, 0.1926, 0.2565, 0.1463],
         [0.2020, 0.1906, 0.1721, 0.2159, 0.2425],
         [0.2074, 0.2127, 0.0882, 0.2422, 0.3333],
         [0.2298, 0.1938, 0.2093, 0.1432, 0.2335],
         [0.2531, 0.1772, 0.3045, 0.1246, 0.1881]],

        [[0.3693, 0.3857, 0.3561, 0.0000, 0.0000],

[2019-10-15 09:20] Exlsunshine commented on #22960
Facing the same problem [here](https://discuss.pytorch.org/t/exporting-fasterrcnn-fasterrcnn-resnet50-fpn-to-onnx/55246), @houseroad / @spandantiwari do we have any rough ETA about the torch vision exporting task?

[2019-10-15 09:22] preethamsridhar commented on #11430
So nobody has a solution to this error?

[2019-10-15 09:23] yuwl798180 commented on #27968
when seq_len>1, and mask to 1, the attention weight cant correctly calculated.

[2019-10-15 09:37] Exlsunshine opened #27969 "Cannot export fasterrcnn/keypointrcnn/fasterrcnn to ONNX."
## 🐛 Bug

Cannot export torchvision.models.detection.fasterrcnn_resnet50_fpn to `ONNX` format.
There already many reports about this error, such [issue1](https://github.com/pytorch/pytorch/issues/24009), [issue2](https://discuss.pytorch.org/t/exporting-fasterrcnn-fasterrcnn-resnet50-fpn-to-onnx/55246), [issue3](https://github.com/pytorch/pytorch/issues/22960):
[code]

## To Reproduce

Steps to rep

[2019-10-15 09:47] heqilearning opened #27970 "can't load model on cuda after call cudaDeviceReset functions"
## 🐛 Bug
hello,  I load my .pt model in libtorch(version 1.0.0) and it works well,  and then the code call the cudaDeviceReset function, I try to load the model again but it can't be loaded on gpu any more. If it doesn't call  the cudaDeviceReset function, everything is ok. I don't know how this function affects the model.

 std::shared_ptr<torch::jit::script::Module> module_1 = torch::jit::load("

[2019-10-15 10:05] thequilo commented on #27600
I just noticed that the last example does not clean up the exception in the except block. This should work (and it indeed does work in a totally different environment...), but not for me:

[code]

[2019-10-15 10:06] Fariha1123 commented on #27839
sure, I am trying to trace maskrcnn-benchmark, git [link](https://github.com/Idolized22/maskrcnn-benchmark.git), forked from facebookresearch/maskrcnn-benchmark.

Here is complete trace.py:

[code]
Kindly help me diagnosing the error, thanks already.

[2019-10-15 10:11] andres-fr commented on #27824
@vincentqb thanks a lot. After seeing the boolean label I tested the mask with int16 and int32, and can confirm that the issue also applies to those types, so maybe that label is too specific

[2019-10-15 10:23] lopuhin opened #27971 "High memory usage for CPU inference on variable input shapes (10x compared to pytorch 1.1)"
## 🐛 Bug

In pytorch 1.3, when doing inference with resnet34 on CPU with variable input shapes, much more memory is used compared to pytorch 1.1 (both CPU-only builds on one core): 6 GB for pytorch 1.3 vs. ~0.5 GB for pytorch 1.1

## To Reproduce

Steps to reproduce the behavior:

Run the following script https://gist.github.com/lopuhin/0d100ef7df01fdfc91d9685f6e01ff64 - it performs inference with

[2019-10-15 10:47] zzd1992 commented on #27961
This problem is solved in pytorch forums.

[2019-10-15 10:47] #27961 closed

[2019-10-15 10:56] tilman151 opened #27972 "torch.save cannot find source of moduls"
## 🐛 Bug

Since 1.3 the torch.save function throws a UserWarning when trying to save a nn.Module. It claims that it cannot find the source code of the module.

## To Reproduce

Steps to reproduce the behavior:

    import torch
    m = torch.nn.Linear(500, 10)
    torch.save(m, './test.pth')

    [..]/lib/python3.6/site-packages/torch/serialization.py:292: UserWarning: Couldn't retrieve source cod

[2019-10-15 11:14] surgan12 opened #27973 "torch.det incorrectly handles 0x0 matrix"
According to [https://math.stackexchange.com/questions/1913141/is-the-0x0-matrix-zero-times-zero-matrix-a-well-defined-concept](url), the determinant of the zero space should be 1 wheras current **det** implementation errors on the empty matrix.

[2019-10-15 11:43] chenhuiji commented on #18268
Hi, I list my situation below.

Single GPU mode:
When the model is loaded, it costs 2200M GPU memory, and it costs 8174M GPU memory in the training phase.

DDP mode: similar situation. A bit more GPU cost than Single-GPU mode.

It would cost more GPU memory in the training phase. In my situation, around 4 times.
My env: Tesla P40, PyTorch 1.1.0, FloatTensor.
Hope this would help!

----------------

[2019-10-15 12:23] DuckSoft commented on #27973
[code]

Tested with no error on Arch Linux, `pytorch` version `1.2.0-3`.
Could you please provide with us the code that will repeat the problem?

[2019-10-15 12:27] phongnhhn92 commented on #27738
It works. Thanks!

[2019-10-15 12:36] 99991 opened #27974 "backward pass slow when using Conv2d"
## 🐛 Bug

My backward passes are roughly 300 times slower than my forward passes when using `nn.Conv2D` layers. For example, a forward pass using just a convolutional layer takes 0.003 seconds, while the backward pass takes more than one second.

## To Reproduce

Here is some code to reproduce the problem, which will print the time for a forward and a backward pass on a batch of 32 images with dep

[2019-10-15 12:38] surgan12 commented on #27973
@DuckSoft , oh yeah my bad, just made some errors on shape broadcast.
Thanks

[2019-10-15 12:38] #27973 closed

[2019-10-15 12:39] CarMiranda commented on #25883
@yf225 since the loss PRs are (almost) done, and the pixel shuffle one is right around the corner, I'd like to work on the recurrent layers!

[2019-10-15 13:16] tchernitski opened #27975 "Sending CUDA tensors via queue between processes, memory of Consumer process grows infinitely"
## 🐛 Bug

When sending CUDA tensors via queue between processes, then memory of Consumer process grows infinitely.

## To Reproduce

Here is simple code snippet that demonstrates the issue:

[code]

## Expected behavior

Producer/consumer memory shouldn't grow

## Environment

PyTorch version: 1.4.0a0+19d83ab
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Ubuntu 16.04.6 LTS
GCC version:

[2019-10-15 13:41] ezyang commented on #27627
I find it hard to believe that named tensor would cause this. In any case, at this point, I think one of us has to repro it.

[2019-10-15 13:47] ezyang commented on #25248
@jerryzh168 slow tests run in the "slow-test" job. This job runs by default on all PRs.

If your randomized tests aren't catching errors at a single seed, you need to run more instances of your randomized tests. Also, when you discover regressions, you should hard code those examples as test cases that always get run.

[2019-10-15 13:55] Mut1nyJD opened #27976 "PyTorch1.3 VS2017 C++ moving model to GPU causes crash in debug libraries"
## 🐛 Bug

When using PyTorch1.3 C++ distribution in Visual Studio 2017 and follow the tutorial of loading a TorchScript model from C++ described here https://pytorch.org/tutorials/advanced/cpp_export.html

It all works fine as long as the model and the tensor data stays on the CPU, but as soon as I try to move the model to GPU (CUDA) via

.to(at::kCUDA) I'll get a crash when using the debug versio

[2019-10-15 14:01] #25347 closed

[2019-10-15 14:04] ezyang commented on #11430
@preethamsridhar Are you on the latest of PyTorch? If so, please file a new issue

[2019-10-15 14:23] peterjc123 commented on #27976
Should be a duplicate of https://github.com/pytorch/pytorch/issues/22681.

[2019-10-15 14:24] zou3519 commented on #27848
Fixed by @standbyme  in #27828 (thank you!)

[2019-10-15 14:24] #27848 closed

[2019-10-15 14:31] lorenzhs commented on #21738
fwiw, I have the same problem with a completely unrelated application linking against MKL (dynamically). Are you using the gold linker by any chance? I only need to add `-Wl,--no-as-needed` when using the gold linker, not with bfd.

[2019-10-15 14:31] #27976 closed

[2019-10-15 14:35] prolulu commented on #26595
@arf1372
Hi,
I am sorry to repsonse you so late. Because I leave that company, I can't  ask your questions about those versions. But I will keep working in the deep learning area. In conclusion, THANK YOU FOR YOUR CONCERNED, see you ~

[2019-10-15 14:35] #26595 closed

[2019-10-15 14:45] albanD commented on #27600
Hi,

This is expected as the exception holds on to the frame where the error was raised. Which holds onto all the Tensors on the GPU and so they cannot be freed yet as you could access them.
This is why collect or empty_cache have no effect.

I would except that as well as the notebook has the tendency to hold onto the last error for a while and so the same problem as above can happen.

So I think

[2019-10-15 14:48] albanD commented on #27946
I would guess that the mean does `t.sum().div(t.nelements())` and so if you have too many elements, you can loose precision when doing this.

[2019-10-15 15:01] albanD commented on #27833
You want to make sure that CUDA is properly detected in the first phase of the compilation. Otherwise, make sure it will be found with `CUDA_HOME` or by adding a simlink from `/usr/local/cuda` to your current version.

[2019-10-15 15:01] #27833 closed

[2019-10-15 15:07] vincentqb commented on #27824
Marking as high priority since this can lead to seg faults, and affect booleans, int16 and int32.

[2019-10-15 15:41] elbamos commented on #27627
What can I do to convince you?

[2019-10-15 15:42] #27820 closed

[2019-10-15 15:55] vdantu commented on #27610
@praateekmahajan @soumith @suo : Sorry for delay in responding. Firstly, thanks for your comments and interest. We will work on detailing the internals and update the RFC. We will also detail the model management in detail.

As mentioned above, we will provide more details of the internal design, but just to touch upon some of the concerns,
1. We do envision supporting eager mode python script, ``

[2019-10-15 16:04] jaiabhayk opened #27982 "cuda.model() takes too much time to load on PyTorch 1.3"
## 🐛 Bug

cuda.model() take too much time to load
## To Reproduce

Steps to reproduce the behavior:

Running a simple script like this gives me the following results:

import torch
from datetime import datetime

for i in range(10):
    x = torch.randn(3, 4)
    t1 = datetime.now()
    x.cuda()
    print(i, datetime.now() - t1)

0 0:08:25.137066
1 0:00:00.000090
2 0:00:00.000042
3 0:00:00.000047
4

[2019-10-15 16:06] jatentaki opened #27983 "Inconsistent handling of 0-sized dims in `distributions.categorical` between CPU and GPU"
## 🐛 Bug

`Categorical` refuses to sample from logit/probability tensor which has a 0-sized dimension if it is on gpu but does not refuse that when the tensor is on cpu (returning, as expected, a 0-sized sample tensor).

## To Reproduce

[code]

will result in

[code]

## Expected behavior
I see that this is a corner case, but if we change to `dev = torch.device('cpu')` we get
[code]
which I see a

[2019-10-15 16:09] zou3519 commented on #27627
I can't reproduce this locally with the built binary (does that crash for you, @elbamos?). I can't reproduce this while building from source, but I don't have the same configuration (I'm using Apple LLVM version 10.0.1, Python 3.6.7, and no CUDA)

[2019-10-15 16:17] lara-hdr commented on #27176
@gchanan any thoughts?

[2019-10-15 16:20] zasdfgbnm opened #28009 "GitHub Action clang-tidy report error on cuda related files"
## 🐛 Bug

Whenever a PR changes some file that includes Cuda runtime, clang-tidy would report error like:

[code]

For example see the clang-tidy error at: https://github.com/pytorch/pytorch/pull/27935

This is fixed in: https://github.com/pytorch/pytorch/pull/27967

cc @ezyang

[2019-10-15 16:29] Balandat opened #28010 "Bad value assignment using list indices when type-promoting"
## 🐛 Bug

When type-promoting while assigning values using a list index, e.g. `A[:, [i]] = b`, where `A` and `b` are of different `dtype`, the assignment produces incorrect values.

## To Reproduce

[code]

## Expected behavior

Type promotion should work correctly and the second assignment above should assign correct values.

## Environment

pytorch master, linux, CPU (on fb infra)

cc @ezyang @g

[2019-10-15 16:31] elbamos commented on #27627
No, it doesn’t crash unless it’s been compiled with gpu support.

That isn’t surprising - from the valgrind output, the error occurs when the cuda libraries are being loaded. If I included more of the valgrind trace, you can see which of the libraries have loaded successfully. Would that be helpful to you?

[2019-10-15 16:49] Vincentqyw commented on #16805
thx!!! solved!

[2019-10-15 17:09] RuABraun commented on #27726
Oh man, I went through the bother of reproducing the error by creating a simple app, then added `torch::autograd::AutoGradMode guard(false);` and that fixed everything (also in my real app)!

I've uploaded the app code [here](https://github.com/RuABraun/android-with-pytorch). I'm hoping that should make it easy for you to reproduce the `_adaptive_avg_pool2d_backward` error.

[2019-10-15 17:24] gottbrath commented on #26305
this is still open

[2019-10-15 17:25] gottbrath commented on #26308
this is done. Thanks @jlin27!

[2019-10-15 17:25] #26308 closed

[2019-10-15 17:27] gottbrath commented on #26464
done

[2019-10-15 17:27] #26464 closed

[2019-10-15 17:27] gottbrath commented on #26469
this is done.

[2019-10-15 17:27] #26469 closed

[2019-10-15 17:29] gottbrath commented on #26470
this is done

[2019-10-15 17:29] #26470 closed

[2019-10-15 17:30] spandantiwari commented on #22960
cc: @fmassa @lara-hdr
@Exlsunshine we are working on getting torchvision's fasterRCNN, MaskRCNN and other models to ONNX. A couple of PRs have been merged, and a few are open. https://github.com/pytorch/vision/pull/1461, https://github.com/pytorch/vision/pull/1401

[2019-10-15 17:33] gottbrath opened #28015 "is it right that we only have "default mapping" for prepare_qat()"
Just want to check that we are doing the right thing with the mapping parameter in prepare, convert(), and prepare_qat(). They all have a "mapping" argument. In earlier versions of the code we had a default mapping for all three. Right now only prepare_qat shows that mapping. Just want to check that this is correct.

Note: Obviously using the default of None looks better in the doc ( the alternati

[2019-10-15 17:33] gottbrath commented on #28015
This is a low priority thing. Just a question.

[2019-10-15 17:40] blacksailer commented on #25705
I have met same error while building mobile version for SailfishOS. How to deal with it? [log](https://gist.github.com/blacksailer/ee1d139a65f166ec78d441eae422f808)

[2019-10-15 17:43] jamesr66a commented on #27954
cc @suo

[2019-10-15 17:58] gchanan commented on #13402
I don't think this issue is small -- fixing it properly probably involves fixing a fair amount of codegen.

[2019-10-15 18:05] gchanan commented on #27522
do you mean `torch.sum(tensors)` or (python built-in) `sum(tensors)`?

[2019-10-15 18:05] gchanan commented on #27522
fwiw NumPy supports `np.sum(tuple of nd-arrays)`.

[2019-10-15 18:08] vpirogov commented on #27974
gujinghui @PenghuiCheng @XiaobingSuper @jianyuh

[2019-10-15 18:10] wanchaol commented on #24235
what I mean is as @nlgranger described, `torch.jit.script` is specifically used for the TorchScript compilation, it should not combined with onnx export. if you use the `torch.onnx.export`, you don't need to use `torch.jit.script`, they are mutual exclusive.

[2019-10-15 18:14] zou3519 commented on #27974
The backward pass is 300x slower than the forward pass, but I'm not sure how long it should actually take. We should investigate if it's not supposed to take that long.

[2019-10-15 18:16] zrphercule commented on #23986
yeah I looked into this problem last week in order to support glow<=>pytorch intermediate result. However, since we are now focusing on making the model running, we would like to do it later.

[2019-10-15 18:17] zou3519 commented on #28010
This is a correctness issue for a feature that is commonly used (indexing) so I am marking it as high priority.

[2019-10-15 18:18] zou3519 commented on #27983
Inconsistency is bad; it would be good for both code paths (CPU/CUDA) to have the same zero-sized-dim tensor support.

[2019-10-15 18:20] zou3519 commented on #27982
What is your CUDA runtime version?

[2019-10-15 18:20] fmassa commented on #27522
@gchanan

This is not equivalent to `sum(tuple of nd-arrays)` though.

In fact, numpy convert its input into an array in `np.sum` (and in pretty much all other methods), so `np.sum(tuple of nd-arrays)` becomes `np.sum(np.asarray(tuple of nd-arrays))`, which gives a number (sum over all elements).

But `sum(tuple of nd-arrays)` perform the sum of all the arrays, giving a `nd-array`.
[code]

TF has

[2019-10-15 18:23] zou3519 commented on #27972
Not being able to read the source code means that there won't be consistency checks on loading, which is bad. In addition, this doesn't sound hard to fix so I am marking it as high priority.

[2019-10-15 18:23] jaiabhayk commented on #27982
No separate CUDA runtime version, I am just using the one which is packaged with pytorch installation.

[2019-10-15 18:24] jamesr66a commented on #27954
As a workaround, users can apply this post-processing to their model after calling `quantize_dynamic`:

[code]

[2019-10-15 18:25] jaiabhayk commented on #27982
Used the following command to install==>

conda install pytorch torchvision cudatoolkit=10.1 -c pytorch

[2019-10-15 18:25] zou3519 commented on #27971
10X memory usage compared to pytorch 1.1 is bad so I am marking this as high pri.

[2019-10-15 18:26] jamesr66a commented on #27954
This is an intersection of multiple issues:

* Overload mechanism doesn't work for tracing
* Tracing doesn't capture attribute lookups for list attributes

[2019-10-15 18:27] zou3519 commented on #16574
Is there a reason why we didn't mark this issue as "triaged" after removing "triage review"?

[2019-10-15 18:29] zou3519 commented on #27875
We should definitely change the error message. This is easy to do so I am marking it as high pri

[2019-10-15 18:34] zou3519 commented on #27968
cc @zhangguanheng66

[2019-10-15 18:35] zou3519 commented on #27968
This seems high pri because it is a correctness issue.

[2019-10-15 18:35] vadimkantorov commented on #27522
@fmasssa can we adapt `torch.add` to do this?

[2019-10-15 18:36] jerryzh168 commented on #25248
right now we are abusing hypothesis to do unittest actually, and we are wondering how hard is it to have a separate CI service, which does not block the PRs to land, that can run randomized hypothesis tests?

[2019-10-15 18:36] #26797 closed

[2019-10-15 18:37] bzinodev commented on #18776
Below proposed fix:

# These functions we don't want to record for tracing, because we always want
# to trace their constituent parts.  This is a temporary hack in lieue
# of proper scopes, where subsequent compilation passes can ask for the unfolding
# on demand.  Only concrete ATen methods can be disabled this way; it will have
# NO EFFECT otherwise.
 DONT_RECORD_TRACE = {
-    'convolution', 'c

[2019-10-15 18:37] vadimkantorov commented on #27522
I meant equivalent of `sum(tensors)`

[2019-10-15 18:39] gchanan commented on #26546
I believe this is a known issue.  @albanD is there another issue tracking this?

[2019-10-15 18:40] hadaev8 opened #28017 "Error then try to modify dropout value RuntimeError: one of the variables needed for gradient computation has been modified by an inplace operation"
Code for reproduce:
https://colab.research.google.com/drive/1YjqlhWjjTQffANSGvOKT3yfFgIO1NxEp
Related thread:
https://discuss.pytorch.org/t/how-to-increase-dropout-rate-during-training/58107/10

cc @ezyang @SsnL @albanD @zou3519 @gqchen

[2019-10-15 18:41] bzinodev commented on #18776
Wow! sorry for the formatting.

Tried to post diff as test :(

[2019-10-15 18:41] bzinodev commented on #18776
The patch just removes 'convolution' from DONT_RECORD_TRACE.

[2019-10-15 18:46] gchanan commented on #27522
@vadimkantorov thanks for clarifying.

I _think_ all the dispatch building blocks are there for this, it's the same as `torch.cat` AFAICT.

[2019-10-15 18:49] fmassa commented on #27522
@vadimkantorov

we could, but `torch.add` already has two overloads, and I think adding support for a `tuple` / iterable to it might make it more confusing.

[2019-10-15 18:51] gchanan commented on #28010
CC @nairbv.

[2019-10-15 18:51] zou3519 commented on #28017
Could you run and paste the output of https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py?

Furthermore, it would be great if you could isolate the example more.

[2019-10-15 18:51] zou3519 commented on #28017
I suspect that everything is working OK in autograd and that this may be a user error, but it's hard to tell what is going on right now.

[2019-10-15 18:52] gchanan commented on #27974
do we use mkldnn backward?  It might not be a dependency bug.

[2019-10-15 18:53] vadimkantorov commented on #27522
One way is to factor out the fused multipy-add into a separate method `torch.multiply_add` and then have `torch.add(*args)`

[2019-10-15 18:53] zou3519 commented on #1259
This definitely needs better documentation

[2019-10-15 18:53] albanD commented on #26546
Not really. #26546 tries to address this but has too many side effects at the moment as discussed in the PR.
Short answer is that there is a not so simple fix for this issue only. Potentially a simpler fix when we have a cleaner view of what we allow in the autograd.

[2019-10-15 18:59] yf225 commented on #25883
@mansoorcheema Thanks a lot! I just mentioned your name next to it :D

[2019-10-15 19:00] hadaev8 commented on #28017
Reduced example, it work fine if i use activation with inplace = false
Also it work if i replace x += residual by x = x + residual
I have this error on 1.3 too.

[code]

[2019-10-15 19:02] yf225 commented on #25883
@CarMiranda Thanks a lot! I think the RNN layers are due for a rewrite as well to make sure they maintain parity with the Python version, but I think we can tackle the cells first. Thanks again for your help!

[2019-10-15 19:03] albanD commented on #28017
Hi,

This is expected behavior:
If some value is needed to compute gradients and you modify it inplace, then you get an error (gradients cannot be computed anymore).
You just have to remove the inplace operation to remove the error.

[2019-10-15 19:03] #28017 closed

[2019-10-15 19:05] vadimkantorov commented on #28017
I also stumbled on this here: https://discuss.pytorch.org/t/relu-dropout-inplace/13467/9

Basically PyTorch currently doesn't work very well when two inplace operations are chained (even when it's mathematically correct). As a workaround, you can create your own autograd function that will handle forward and backward.

[2019-10-15 19:06] hadaev8 commented on #28017
How can i use not inplace tanh?

[2019-10-15 19:06] vadimkantorov commented on #28017
The problem is that you have two inplace ops chained: inplace tanh and then inplace adding of the reisdual

[2019-10-15 19:08] vadimkantorov commented on #28017
You can keep one or the other. If you want to keep both, you need to do it in the style of invertible modules and make an autograd function yourself: I have an example of inplace batchnorm + inplace residual adding + inplace leaky_relu in https://github.com/pytorch/pytorch/issues/26288#issuecomment-539251421

[2019-10-15 19:10] gchanan commented on #26546
@albanD: I would suggest editing the title of the post.  You aren't going to remember that the issue is in-place ops on views in autograd by reading the title.

[2019-10-15 19:10] hadaev8 commented on #28017
Thanks

[2019-10-15 19:11] zou3519 commented on #27974
The autograd profiling result suggests that we do:
[code]

[2019-10-15 19:17] zou3519 commented on #27982
This is the same as https://github.com/pytorch/pytorch/issues/27738 and https://github.com/pytorch/pytorch/issues/27807. Uninstalling and reinstalling PyTorch from Anaconda will fix it. Please reopen this issue if that does not help.

[2019-10-15 19:17] #27982 closed

[2019-10-15 19:27] gchanan commented on #27176
@lara-hdr: sorry for the slow response, getting caught back up after the release and DevCon.

It generally seems okay to take both, if for no other reason than to match up the C++ and the python API.

There is an issue with serialized torchscript models though, and it's not obvious to me how this will be done without an adapter. Maybe @suo or @houseroad can provide some guidance on how to do this.

[2019-10-15 19:48] vishwakftw commented on #27946
@meganset could you try `torch.randn(3000000000).sum()` and check if it is close to `1500000000`?

[2019-10-15 19:48] vpirogov commented on #27974
The best way to see what's going on with Intel MKL-DNN is to run the script with `MKLDNN_VERBOSE=1`.

[2019-10-15 19:52] neerajprad commented on #27983
I am not able to replicate this on pytorch 1.3, and both versions give identical (arguably non-sensical) results. That said, I don't think the behavior of 0 sized dims is well-defined at least for pytorch 1.3, so this seems like a more basic pytorch issue regarding how 0 sized dims should behave.

e.g. **pytorch 1.3**

[code]

[2019-10-15 20:14] Balandat commented on #28010
This is likely related to #26780

[2019-10-15 20:23] albanD commented on #27946
I would expect `torch.randn()` not to suffer from the same issue, even for `torch.randn(8000000000).mean()` as the sum will remain close to 0 and so there won't be precision loss.

[2019-10-15 20:25] vishwakftw commented on #27946
Oh sorry, I meant `torch.rand`.

[2019-10-15 20:32] lara-hdr commented on #23258
This error should be fixed in PyTorch 1.3 for exporting to ONNX, with https://github.com/pytorch/pytorch/pull/25889

[2019-10-15 20:48] zou3519 commented on #27703
This does not seem like an issue (the docs test is behaving as intended), so I am closing this. Please feel free to reopen if I misinterpreted anything.

[2019-10-15 20:50] zou3519 opened #28033 "TestTorch.test_doc should be in TestDocCoverage"
Afaict TestTorch.test_doc tests that certain functions on torch are documented. This is similar to what TestDocCoverage does and it would be great to have all of the documentation tests in one single location.

https://github.com/pytorch/pytorch/blob/fd3d6587e60de816106d6b8dc0f586f9fa52a7ac/test/test_torch.py#L183

[2019-10-15 20:50] #27703 closed

[2019-10-15 20:54] zou3519 opened #28035 "Easy way to create previews of the docs website after any changes"
It would be nice to be able to preview documentation changes; I find that in code review at least one of the following happens:
1. The reviewer asks for images of the documentation
2. After the PR gets merged, we discover that the syntax or formatting is incorrect.

`pytorch.github.io` has some infrastructure that previews changes to the website; maybe we can reuse that and provide some option.

c

[2019-10-15 21:16] divyanshsinghvi commented on #26606
I think we can close this issue now. @ShahriarSS

[2019-10-15 21:25] #26606 closed

[2019-10-15 21:40] #25856 closed

[2019-10-15 21:41] driazati commented on #27970
Can you include the full output of the crash?

[2019-10-15 21:43] BIT-silence commented on #27633
Reopen for XLA test failures

[2019-10-15 21:45] vishwakftw commented on #28035
I think this is probably hard because our documentation lives separately in `pytorch.github.io`, but I'm not an expert...

Perhaps, one way to do this is use the doc push test to create a preview.

[2019-10-15 21:56] z-a-f commented on #26429
Bump @gchanan @dzhulgakov

[2019-10-15 22:00] z-a-f commented on #24210
We needed a scalar add and scalar multiply. They are landed as #25622, #25545, #24447, #24873, #25080. Closing it now, as there is no current need for other broadcasting ops

[2019-10-15 22:00] #24210 closed

[2019-10-15 22:26] GuanhuaWang commented on #1567
So what is the solution here? What I did is like this:

[code]

which gives me the same error as people mentioned above:
[code]

[2019-10-15 23:56] hhbyyh opened #28055 "torch script module memory usage increases during inference."
## 🐛 Bug
Memory consumption increases when running inference with torch script module.
## To Reproduce

code samples:
[code]

output
[code]

## Expected behavior

memory consumption stays constant as the first iteration.
## Environment

(or fill out the checklist below manually).
Collecting environment information...
PyTorch version: 1.3.0
Is debug build: No
CUDA used to build PyTorch: 10.1.243

O

[2019-10-16 00:06] dashesy commented on #27969
Either `__torch__.torchvision.ops.misc.FrozenBatchNorm2d` can register a custom ops using `torch::jit::RegisterOperators().op(...)` and then you patch ONNX to make that a normal BN.
Or as a workaround you can use `cfg.MODEL.BACKBONE.USE_BN = True` and make sure normal BN is used during tracing.

[2019-10-16 00:43] heqilearning commented on #27970
hello,  since I use the release version of libtorch, the code crashed without any output information, I will try the debug version to  get the full output of the crash,  thanks!

[2019-10-16 00:55] standbyme commented on #27848
: )

[2019-10-16 01:49] divyanshsinghvi commented on #25883
@yf225 I am interested to work on Normalization Layers. Could you suggest me one to start with?

[2019-10-16 02:31] eric-mu opened #28060 "Pytorch1.3 can't be compiled successfully with Python3.8.0"
When use Python3.8.0, it's impossible to compile Pytorch1.3 directly. Wish that could be repaired later and thanks a lot!

cc @ezyang @gchanan @zou3519

[2019-10-16 02:54] changwuxie opened #28061 "how pytorch v1.3 support muti Ai-chips,such as habana、NNP-I and TPU"
i found pytorch Ecosystem have many tools,such as glow/xla. i think pytorch support habana、NNP-I by glow,and support tpu by xla,do you think so?

[2019-10-16 05:19] elbamos commented on #27627
Here's the full valgrind output...
[errors.txt](https://github.com/pytorch/pytorch/files/3732540/errors.txt)

[2019-10-16 05:23] turtleizzy commented on #3415
I couldn't get DataLoader to work for num_workers>1 even with this trick.

[2019-10-16 05:31] zhuj06 commented on #23258
@lara-hdr Thanks, it worked.

[2019-10-16 05:48] yuwl798180 commented on #27968
and hopely add batch first api, because some nlp researchers really like putting batch as the first dim.

just see the above code.

[2019-10-16 05:52] yuwl798180 commented on #27968
and hopely add attention_mask api, for at training time prune some heads to see what the specific head learning

by the way, can i modify the code and commit pr?

[2019-10-16 05:55] 99991 commented on #27974
[code]

For reference, this is run on an Intel i5-2400.

[2019-10-16 05:58] soumith commented on #14727
will kick off new binary builds as the fix went in. will close the issue after the builds are uploaded and live.

[2019-10-16 06:21] jeroneandrews commented on #3022
I also have this issue using 4 x Geforce RTX2080 TI - 11GB and a 1600W EVGA SuperNOVA Platinum PSU (I also tried swapping the PSU with a 1600W SuperNOVA  EVGA Gold PSU) and the issue still occurs when using PyTorch with the 4 GPUs.

[2019-10-16 06:23] gimgane opened #28064 "How can I run Caffe2 model on Android using GPU"
Hello,
Based on [this project](https://github.com/cedrickchee/pytorch-android), I am trying to test some Caffe2 models on Android GPU.
But I couldn't find any sample code or documents that explains how to.
Did anyone succeed to test on Android GPU?

[2019-10-16 06:23] heqilearning commented on #27970
hello, I test the code on the debug version, it crashed with the output below:

Exception thrown at 0x0000007FEFD69BDED:  MircoSoft C + + exception:  c10::Error,  at memory location 0x0000000119CCC0.

[2019-10-16 06:25] heqilearning commented on #27970
Maybe it's a memory problem, but I don't know why it can't be loaded into GPU again after clear GPU memory.

[2019-10-16 06:34] YuhengLi9621 commented on #25537
I had this problem and it turns out I had a inf loss in my previous calculation.
In my case I have a mask for loss and I need to do something like 1/mask.mean() to scale loss value, and if mask is all zero, it would trigger this bug.

[2019-10-16 06:49] hongzhen1 commented on #18363
@soumith you only fix arrange shape, range has the same issue, right?

[2019-10-16 06:53] hongzhen1 commented on #23874
@raghuramank100 LGTM, thanks

[2019-10-16 07:05] Vodake97 commented on #20315
你试试加在tensor后面加上.clone()吧，我一开始是转mat后分成9张，怎么reshape/permute/view都没用，加了clone就好了

[2019-10-16 07:19] PingHGao opened #28066 "How to speed up installing pytorch1.3?"
I am installing pytorch1.3 using pip. The command from the official site is `pip3 install torch===1.3.0 torchvision===0.4.1 -f https://download.pytorch.org/whl/torch_stable.html`.
![pytorch](https://user-images.githubusercontent.com/19465753/66896730-02551800-f028-11e9-8301-42856ef44589.png)
My pip are using a mirror source which is fast for me. But the `-f https://download.pytorch.org/whl/torch_s

[2019-10-16 07:46] exciting678 commented on #28061
I think so.

[2019-10-16 07:52] XiaobingSuper commented on #27974
@99991 , can your try build PyTorch master code which will use MKLDNN v0.21.1? I test it on skx-8180 and there hasn't this problem when using the latest code.  I will also test it on other deveices which not have AVX instruction . Thanks!

[2019-10-16 07:54] red0orange commented on #23432
Run the following command in the proto folder to change the root directory of your own pytorch
`protoc --cpp_out=./ --proto_path=/home/red0orange/allLib/pytorch caffe2/proto/caffe2_legacy.proto`

[2019-10-16 07:59] GrzegorzKarchNV commented on #24235
@wanchaol
I would combine `torch.jit.script` with `torch.onnx.export` to capture Python loops in the exported model:
[code]
Output:
[code]
Without TorchScript, the loop would be unrolled. For me, the example given by @marcoleewow is of interest.

[2019-10-16 08:12] marcoleewow commented on #24235
@GrzegorzKarchNV I am in the same boat as you, what I am interested in is how to deal with dynamic looping within `forward()` function. I am trying to export a seq2seq model from pytorch to ONNX hence I want to use `torch.jit.script` function + `torch.onnx.export`. I am guessing currently its not possible.

[2019-10-16 08:18] peterjc123 commented on #28066
It is actually impossible because the switch `-f` only points to the index, which doesn't contain the actual files. So as a mirror, he should download this file, extract links from it, download those files, upload them and then regenerate the index file, which is quite complex. The better idea may be to set up a CDN, which hosts files on multiple servers to accelerate the download speed.
@soumith

[2019-10-16 08:39] peterjc123 commented on #28066
The issue is somehow related to https://github.com/pytorch/pytorch/issues/990.

[2019-10-16 08:51] PingHGao commented on #28066
It is the same problem, but #990 can be solved by setting pip or conda source to the right mirrors. But this command using `-f site` making the solution above useless. So I think this should be a new problem and really need help. @peterjc123

[2019-10-16 08:57] peterjc123 commented on #28066
@PingHGao Could you please open a new issue at https://github.com/tuna/issues/issues? Actually, https://github.com/tuna/issues/issues/363 is not resolved. Only anaconda and pypi packages are hosted.

[2019-10-16 09:05] Exlsunshine commented on #27969
I'd like to try the second workaround, but I don't have too much background about pytorch and onnx. It would be nice if you could explain more about how to set `cfg.MODEL.BACKBONE.USE_BN = True`? Really appreciate your help : )

[2019-10-16 09:10] PingHGao commented on #28066
OK, with pleasure^_^

[2019-10-16 09:16] yongchaoding opened #28069 "run quantization on GPU"
## 🚀 Feature

net.qconfig = torch.quantization.get_default_qat_qconfig('fbgemm')
net = torch.quantization.QuantWrapper(net)
fuse_list = ['module.conv1', 'module.bn']
net = torch.quantization.fuse_modules(net, fuse_list)
net = torch.quantization.quantize(net, calibration, trainloader)

If i do net.to('cuda'), The error is showed as below. So I want to know if I can just run function quantize_per_ch

[2019-10-16 10:24] martin-sicho commented on #16407
@destinyzs I know it has been a while, but I think you tried to install the wheel for a different python version. The wheel you downloaded is for python 3.6 (indicated by `cp36` in the wheel name) so maybe that is different from the python version you actually had installed on your system...

[2019-10-16 10:27] fbcotter commented on #27690
Perhaps you are right @cpuhrsch. From past experience I thought copying host to device and device to host would take similar times. However, testing a simpler version of the above code with only 1 GPU gives the same 5:1 time difference.

[2019-10-16 10:27] #27690 closed

[2019-10-16 10:32] vippeterhou opened #28070 "PyTorch1.3 cannot find kernel to dispatch when runing a Quantization Model"
## ❓ PyTorch1.3 cannot find kernel to dispatch when running a Quantization Model
When I tried to quantize mobilenet_v2, I followed the [tutorial](https://pytorch.org/tutorials/advanced/static_quantization_tutorial.html). I'm sure I have done `layer fusion`, `set quant config`, `calibration`, `model conversion`, and finally I got the quantized model with a smaller size. However, an error occurs whe

[2019-10-16 11:24] ryul99 commented on #27833
My sever have `CUDA_HOME` and simlink from `/usr/local/cuda` properly. I solve this issue by adding this code snippet to bashrc.
[code]
Also I set shell variable `USE_NINJA=OFF`.(`export USE_NINJA=OFF` on command line)(ref: https://github.com/pytorch/pytorch/issues/13061)
I could build PyTorch in Ubuntu server without these setting. I think there is some difference between Ubuntu gcc and Centos gc

[2019-10-16 11:40] Zhizh1 commented on #15612
my torch version is 1.3.0, torchvision version is 0.4.1, when i use "print(torch.version.cuda)
print(torch.backends.cudnn.version()",the output are 10.1.243 and  7603 separately，I use this command “cat /usr/local/cuda/version.txt ”to see my cuda version,the output is 9.0.176.
I fellowed yagamimisa‘s steps and changed cu80 to cu90，but it didn't work for me.
anyone meet this problem?

[2019-10-16 11:47] jeffswt commented on #27875
Oh, and by the way other devices are throwing similar errors as well (Facepalm)

[2019-10-16 11:57] yongchaoding opened #28071 "net after quantize_qat can not improve accuracy"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.
I have a vgg net, and want to using training-aware quant function in pytorch-1.3, then i do as follows:

[code]

in train_echo, the code is follows:

[code]

I can see that parameters in net is modified every echo, but the Acc is always 10% which means randn in CIFAR10.
So I am very c

[2019-10-16 12:06] soumith commented on #28066
download.pytorch.org is already on Amazon CloudFront CDN.

[2019-10-16 12:09] peterjc123 commented on #28066
Okay, maybe the connection speed from China to the CloudFront servers are not good enough.

[2019-10-16 12:15] ptrblck commented on #26112
I tried to reproduce this issue on V100 PCIE 16GB GPUs for different PyTorch, CUDA and cudnn versions:

[code]

I'll try to run the repro with a V100 SXM2 next.

[2019-10-16 12:19] ccqu commented on #17165
Yes, in 1.3.0 I got:
`error: no matching function for call to 'c10::ivalue::Tuple::create(std::vector<c10::IValue, std::allocator<c10::IValue> >&, std::shared_ptr<c10::TupleType>&)'`

[2019-10-16 12:40] lukas-schott commented on #27134
yes, I guess so.

So `d/db a**b` for `a=0` and `b=0`, the derivative should be `nan`.

This can be seen by approach limits from `a`, and `b` which lead `-inf` and `0`. However, I'm not sure because tf has `0` for this scenario though.)

[2019-10-16 12:56] mvmnt commented on #22336
Hi @peterjc123
Thanks for your info there about this.

I have a question however: for projects that depend on the libcaffe2_gpu.so, do we have to change those places that ask for the library to say libtorch.so instead of libcaffe2_gpu.so?

[2019-10-16 13:18] albanD commented on #27134
I would be happy with the following:
at `a = 0`:
- if b < 0: the gradient is `+/- inf * -inf = nan`.
- if b = 0: the gradient is `1 * -inf = -inf`. (not sure why tf has 0 here either)
- if b > 0: the gradient is `0`.

I would be happy to review a PR that adds this :)

[2019-10-16 13:46] ezyang commented on #27971
Paging the MKL-DNN folks as this is almost certainly MKLDNN related

[2019-10-16 13:53] ezyang commented on #27842
@yyb1995 You don't need an `.in` file, the problem is just you need to add type stubs in `transformer.pyi`. Check out mypy docs like https://github.com/python/mypy/wiki/Creating-Stubs-For-Python-Modules for info how to do it (we've also got plenty of examples you can work off of.) Tag me on a PR if you make one.

[2019-10-16 13:57] ezyang commented on #25248
This is what nightlies are for. You can ask @kostmo or @mingbowan for more information about how these are setup.

[2019-10-16 13:58] nairbv commented on #28010
also #27824

[2019-10-16 14:09] ezyang commented on #27627
I wish we had an OS X machine with GPU machines locally, this would make it a lot easier XD. (I guess there's no chance of this happening on Linux, is there...)

[2019-10-16 14:19] #27600 closed

[2019-10-16 14:49] fmassa commented on #27969
As @RicCu mentioned, support for ONNX will be added very soon to torchvision models

[2019-10-16 15:00] yaynouche commented on #3022
From my experience, reboot occur often when nvidia-persistenced is not installed and running.
Link: https://docs.nvidia.com/deploy/driver-persistence/index.html

Updating the Bios is also a crucial part of the solution. Hope it helps.

Best regards,

Yassine

[2019-10-16 15:01] lopuhin commented on #27971
Thanks for the hint. Are there any environment variables or options that might influence result? I just tried the benchmark on an AMD Ryzen CPU and got the same results.

[2019-10-16 15:07] vadimkantorov opened #28090 "[discussion] Smarter version of torch.reshape (can avoid realloc in some cases)"
Imagine a following situation:
[code]
Currently `a_.reshape(2, -1)` seems to reallocate, but it's not necessary for all operations, especially elementwise ones (given that frequently will reshape back the result). These things happen in C++ sometimes. I guess currently the solution is manual handling of strides.

If it doesn't reallocate, the semantics seems different, but it may still be worthwhi

[2019-10-16 15:52] lopuhin commented on #27971
FWIW ONNX runtime looks almost unaffected by this issue, so as a workaround it's possible to use it for inference, here are benchmark results on the same machine.

Model exported with (no other optimizations applied):

[code]

And results are:

[code]

[2019-10-16 16:22] #15476 closed

[2019-10-16 16:50] daniel-j-h opened #28110 "Stable docs show dead __config__ section link"
## 📚 Documentation

Hey folks, there is a `__config__` section showing up in the docs which leads to a 404 page; see
- https://pytorch.org/docs/stable/index.html
- https://pytorch.org/docs/stable/__config__.html

See screenshot below

![torch-config](https://user-images.githubusercontent.com/527241/66940551-6b975400-f045-11e9-9bb4-555399ab72fe.png)

Should probably be removed or the linked page fi

[2019-10-16 17:01] ati6868 opened #28111 "AssertionError: Torch not compiled with CUDA enabled"
Hi ... when i am running this code:
https://github.com/Hananel-Hazan/bindsnet/blob/master/examples/mnist/reservoir.py

I get this error:

`AssertionError: Torch not compiled with CUDA enabled`

I have not installed cuda and i don't want to do that
How can i run this code on CPU
I will appreciate if anyone give me a help on this

[2019-10-16 17:02] #28009 closed

[2019-10-16 17:14] raghuramank100 commented on #25248
How about having a mix of hypothesis tests: Deterministic, but focus on testing corner cases and randomized tests, with a fixed seed: Deterministic, but test more typical cases?

________________________________
From: Edward Z. Yang <notifications@github.com>
Sent: Wednesday, October 16, 2019 7:00 AM
To: pytorch/pytorch <pytorch@noreply.github.com>
Cc: Raghuraman Krishnamoorthi <raghuraman@fb.com>

[2019-10-16 17:14] ruotianluo opened #28113 "Ghost memory usage when start cuda"
## 🐛 Bug

There is some memory usage shown in the nvidia-smi but not in torch.cuda when torch starts to use cuda. The amount of this usage differs on different machines.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

The nvidia-smi will show an increase in memory usage, while the torch.cuda says it's using 0 memory.

The nvidia-smi shows from 200+mb to 700+mb.

#

[2019-10-16 17:26] jerryzh168 commented on #25248
We can have two types of tests:
1). unit tests that test typical cases and run on every PR.
2). randomized hypothesis tests that test corner cases and runs separately

[2019-10-16 17:36] #26792 closed

[2019-10-16 17:39] #25801 closed

[2019-10-16 17:56] ljk53 commented on #26764
Reopen for https://github.com/pytorch/android-demo-app/issues/19

Repro setups:
1. checkout "https://github.com/junjuew/pytorch-android-issue-19" and follow the readme to get traced model: "serialized.pt";

2. run "scripts/build_mobile.sh -DBUILD_BINARY=ON" to create a host binary with mobile build config (disable autograd, use static dispatch, etc);

3. run "build_mobile/bin/speed_benchmark_torch

[2019-10-16 18:21] gchanan commented on #27968
@yuwl798180: sure, we generally accept PRs.  @zhangguanheng66 would probably have more guidance but he's out currently.

[2019-10-16 18:22] gchanan commented on #26429
sgtm.

[2019-10-16 18:30] gchanan commented on #27542
A bit about the (lack of) high priority designation: I don't think marking a single non-determinism issue really makes sense if we don't make a serious effort at improving determinism globally -- right now we just have a couple of notes about determinism, but it's not straightforward to enforce determinism.  So any one change has limited value.

That doesn't mean it's not worth doing (particularly

[2019-10-16 18:32] gchanan commented on #9382
Too bad that history doesn't explain why it's "by design".

[2019-10-16 18:33] gchanan commented on #27753
That's weird, I thought the default should only change whether the dtype is printed, not whether it prints in scientific notation or not.  Can you figure out why that is?

[2019-10-16 18:37] yf225 commented on #27078
@Naresh1318 my apologies for the late reply and thanks so much for writing the detailed tests! Currently we don't have `torch.random.get_rng_state()` / `torch.random.set_rng_state(seed)` / `torch.finfo()` in the C++ API, but it's on our list to add them. I suspect that it's probably difficult to write tests for `gumbel_softmax` that are as comprehensive as the Python tests, and I think just checki

[2019-10-16 18:39] ngimel opened #28119 "Provide function similar to cdist that returns dist_p^p"
## 🚀 Feature
Provide a function similar to cdist (or add an option to cdist) that would compute \sum_k (x_ik - xj_k)^p instead of (\sum_k (x_ik - xj_k)^p(^(1/p)

## Motivation

The function proposed above is differentiable at zero, while norm is not. Requested in #25799

## Alternatives
Raising existing cdist output to power p does not solve the problem of differentiability at 0

cc @balandat, @if

[2019-10-16 18:52] ezyang commented on #28010
Confirming that this repros still on master:

[code]

[2019-10-16 18:54] yf225 commented on #25883
@divyanshsinghvi Thanks a lot for your interest! Would you be interested in working on InstanceNorm1d / 2d / 3d? We would need to follow the design of AvgPool / MaxPool in `torch/csrc/api/include/torch/nn/modules/pooling.h` and templatize over a `InstanceNormImpl` base implementation. Also the modules / functionals / options should live in `instancenorm.h` / `.cpp` to reflect the file organization

[2019-10-16 18:54] ezyang commented on #27974
I cannot reproduce on master:

[code]

mkldnn debug:

[code]

cpuinfo

[code]

[2019-10-16 18:55] ezyang commented on #27972
This reproduces on master:

[code]

[2019-10-16 19:00] Naresh1318 commented on #27078
@yf225, Thanks for the clarification. Here's my PR: https://github.com/pytorch/pytorch/pull/28121

[2019-10-16 19:08] ezyang commented on #27971
I can reproduce this on master.

[code]

[2019-10-16 19:11] ezyang commented on #27971
You can get more information about MKLDNN by setting env var `MKLDNN_VERBOSE=1`. I get logs that look like:

[code]

(I don't really know what it means though XD)

[2019-10-16 19:13] rohan-varma opened #28123 "Store and retry futures that are created when nodes cleanup DistAutogradContext"
## 🚀 Feature
In #27951, we add RPCs to clean up the dist autograd context on other nodes when it is cleaned up on one node. Currently, we do not store the futures that are created as a result of sending this message. We should:
1. Store these futures in a struct
2. Retry them upon failure

cc @ezyang @gchanan @zou3519 @jerryzh168 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @a

[2019-10-16 19:16] nairbv commented on #28010
FYI this type of operation was an error in pytorch 1.2. The ability to perform this operation was not added intentionally.

e.g., Pytorch 1.2:
[code]

[2019-10-16 19:16] rohan-varma opened #28124 "Test DistAutograd context cleanup with multiple nested RPCs"
## 🚀 Feature/Enhancement
Per discussion in #27951, we should add a test that tests the dist autograd context cleanup in the case of multiple RPCs for Python UDFs, once #27576 lands.

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528

[2019-10-16 19:29] albanD commented on #19769
After some investigation, a minimal example to reproduce is the following:

[code]

By adding some printing in the graph executor [here](https://github.com/pytorch/pytorch/blob/b0f1b5c75740c285a61ff63b91cf93277a2d84ed/torch/csrc/jit/graph_executor.cpp#L338), It seems like the formulas that get computed are weird.
Here is a gist https://gist.github.com/albanD/3990b979f2e470d79ac9f1b96293e0bc with t

[2019-10-16 19:40] vpirogov commented on #27971
@ezyang, unfortunately verbose log does not tell us anything about memory consumption.

[2019-10-16 19:43] divyanshsinghvi commented on #25883
Sure. I will work on it.

[2019-10-16 19:46] lastlap commented on #22866
I had a similar problem of high cpu usage. [This](https://discuss.pytorch.org/t/cpu-usage-extremely-high/52172/5. ) solved it for me. Set pin_memory=False in DataLoader.

[2019-10-16 19:48] lastlap commented on #24809
I had a similar problem of high cpu usage. [This](https://discuss.pytorch.org/t/cpu-usage-extremely-high/52172/5. ) solved it for me. Set pin_memory=False in DataLoader.

[2019-10-16 19:48] SsnL commented on #22866
@lastlap the memory pinning bug was fixed in 1.3 btw.

[2019-10-16 19:50] lastlap commented on #22866
@SsnL Oh ok I'm using 1.1.0

[2019-10-16 19:52] rohan-varma opened #28126 "Implement destructor for ProcessGroupAgent that cleans up resources and doesn't wait"
## 🚀 Feature
This blocks #26336 from landing, since we need to be able to force a worker to exit without having to `join` and wait for the other workers. If we currently do this, then we get an exception:

`terminate called without an active exception`, since the process group agent did not join it's joinable thread. One idea is to implement a destructor that cleans up everything without waiting,

[2019-10-16 19:57] gchanan commented on #28010
It wasn't added intentionally because the intention was to only support cross-dtype operations on add, mul, sub, div?

[2019-10-16 19:58] yf225 commented on #25883
@divyanshsinghvi Thanks! I mentioned your name next to the InstanceNorm layers :D

[2019-10-16 20:01] vpirogov commented on #27971
Observed behavior is likely the result of caching mechanism implemented outside of the library.

[2019-10-16 20:22] wanchaol commented on #24235
@GrzegorzKarchNV @marcoleewow dynamic looping can be done with example in the [doc](https://pytorch.org/docs/stable/onnx.html), but we are only supporting scripting part of the module that the scripting part better to be tensors for input and output.  nn.LSTM or nn.RNN is supported via directly `onnx.export` I think, so you don't miss any dynamic control flows inside.

About why it fails in here f

[2019-10-16 20:33] driazati commented on #27970
Could you also try it with our most recent release (v1.3)? This bug may have been fixed between 1.0 and 1.3

[2019-10-16 20:36] ezyang commented on #27968
@yuwl798180 What implementation of `seq_len_to_mask` are you using? Is this an accurate reproduction of your problem?

[code]

Running this I get:

[code]

[2019-10-16 20:39] ezyang commented on #27824
reproduces for me on master:

[code]

[2019-10-16 20:45] volcacius commented on #27542
I understand what you are saying and I definitely share the sentiment when it comes to numerical computing in general.

My point was really more specific about reproducibility in the context of a (fake) integer datapath. In my experience the relative error introduced by leveraging different and possibly inconsistent floating point backends is often going to be rounded away when you are doing fake

[2019-10-16 20:46] gchanan commented on #27824
Could be related to type promotion -- same as https://github.com/pytorch/pytorch/issues/28010, maybe?

[2019-10-16 20:47] gchanan commented on #27542
@volcacius:

Yes, I think we are in agreement.  I thought I just owed more explanation than "not high priority".

[2019-10-16 20:49] SsnL commented on #28113
That is the size of the CUDA context. It happens for every CUDA program, not just PyTorch.

[2019-10-16 20:53] Balandat commented on #28010
I guess the question is whether it makes sense for this operation to be supported going forward. Are there any downsides of supporting it?

[2019-10-16 20:53] ezyang commented on #27780
@bhuvanakundumani OK! Feel free to add any of us when you submit the PR

[2019-10-16 21:01] #28113 closed

[2019-10-16 21:02] ruotianluo commented on #28113
Is the size of cuda context normal, a few megabytes?

[2019-10-16 21:03] nairbv commented on #27824
Can also be repro'd without the in-place op, seems related to how the mask is indexed:

[code]

@colesbury any thoughts on how indexing interacts with the promotion changes?

[2019-10-16 21:06] mansoorcheema commented on #25883
Hi @yf225 , I am working on LocalResponseNorm layer. I see in the python api that that i need pad function along with avg_pool2d/3d from functional but Pad and PadOptions are not available yet in the pytorch master branch. You can have a look at the proposed implementation in my commit here [https://github.com/mansoorcheema/pytorch/commit/76d8bdeb86ab00dc0311ea9c64382e27c12a27aa](url)

[2019-10-16 21:08] pramenku opened #28137 ".jenkins/caffe2/build.sh is failing to run"
https://github.com/pytorch/pytorch/blob/master/.jenkins/caffe2/build.sh Line:9

sudo yum install -y centos-release-scl command is throwing error

++ dirname .jenkins/caffe2/build.sh

+ source .jenkins/caffe2/common.sh

++ set -ex

++++ dirname .jenkins/caffe2/common.sh

+++ cd .jenkins/caffe2

+++ pwd

++ LOCAL_DIR=/root/caffe2/.jenkins/caffe2

+++ cd /root/caffe2/.jenkins/caffe2/../..

+++ pwd

+

[2019-10-16 21:25] nairbv commented on #28010
That's right (plus the comparison ops)

Just the time it would take / prioritization afaik -- I'll probably re-add the error messages for this case in the meantime.

We'll have to fix #27824, and it seems that once that's fixed it may turn out to be trivial to add a correct version of this functionality.

[2019-10-16 21:26] ruotianluo commented on #28113
I found answers in other issues. Thanks.

[2019-10-16 21:29] srush opened #28142 "Named Tensor: Support -1 in `unflatten`."
Would be convenient to write:

`tensor.unflatten("h", (("height", 8), ("q", -1))).shape`

Similar to view.

[2019-10-16 21:34] srush opened #28146 "Named tensor: align_to align_as error messages"
For new users `align_as` and `align_to` seem synonymous. If you write `align_to(tensor)` it should either fail nicely or call align_as. Currently you get a very scary error message (if you don't know what ellipses are).

[code]

[2019-10-16 21:35] zou3519 commented on #28146
Both ideas seem reasonable and at the very least we should improve the error message. @SethHWeidman also brought up the idea that `align_as` and `align_to` seem synonymous.

[2019-10-16 21:36] ezyang commented on #27692
Reproduces on master:

[code]

I'm checking if the l1 loss port fixes it.

[2019-10-16 21:37] frkl commented on #20822
We have projects dealing with annotations from multiple datasets, e.g. coco, vqa, visual genome, coco-stuff. Annotations from multiple datasets need to be merged before going to the model. Some images have annotations from all datasets, and some other images may have only 1 type of annotations.

In current public implementations, merging multiple datasets into 1 and building dataloaders take a lot

[2019-10-16 21:38] ezyang commented on #27678
@gchanan I think it's fine if the triager adds triaged, saves us from having to add the label in the triage meeting

[2019-10-16 21:40] ezyang commented on #27678
@cpuhrsch my *impression* is that we don't have any concrete POWER plans in our mid-term roadmap. Accepting a patch like this may be quite involved because we would need to work out how to test VSX in CI; we are already having trouble with higher priority AVX512 (which our CI doesn't support) and I think the situation here is even worse. (@VitalyFedyunin, @ngimel, do you have any more information?

[2019-10-16 21:42] ezyang commented on #24422
@VitalyFedyunin @ngimel @mruberry I tentatively added you to the "performance" label. If you don't want to be cc'ed on these free to remove yourself. I'm also not sure if I've gotten everybody who works on "performance", if there are other relevant people, let's please add them to the label as well.

[2019-10-16 21:45] zasdfgbnm commented on #26401
@VitalyFedyunin Is there any update on this issue at the Facebook side? I am thinking of taking this issue.

[2019-10-16 21:46] ezyang commented on #27627
I reviewed the valgrind output, and while I agree that there are CUDA related errors in the output, the actual illegal instruction is, IMO, unrelated. The backtrace for the illegal instruction is clearly related to our vectorization support.

Since we're having trouble reproducing, what I would like to see is if, when you do a build with CUDA disabled, the same error occurs. I think it will! If it

[2019-10-16 21:46] VitalyFedyunin commented on #24422
Does it CC when label is applied? When issue/PR submitted? Or both?

[2019-10-16 21:49] ezyang commented on #27598
@MHRiday please feel free to add one of us as reviewer when you submit the PR

[2019-10-16 22:07] z-a-f commented on #28015
Thisshould not look like that in the docs. I will assign it to myself, will send a PR later today

[2019-10-16 22:18] z-a-f commented on #28069
CUDA quantization is not yet supported. We will update the documentation to make it more clear

[2019-10-16 22:20] #28069 closed

[2019-10-16 22:23] ljk53 commented on #27726
Glad to know it helps. Did it fix the "_adaptive_avg_pool2d_backward" error or not?

In case you don't know, we also created a sample android app that you can play with: https://github.com/pytorch/android-demo-app

More information can be found at: https://pytorch.org/mobile/home/

[2019-10-16 22:24] z-a-f commented on #28070
You need to quantize the input before pushing it into a quantized model:

[code]

The quantization parameters are just an example here

[2019-10-16 22:30] ngimel commented on #26401
@zasdfgbnm please do, we won't get to it soon. Let me know if you have any questions.

[2019-10-16 22:36] ailzhang commented on #27830
@svenkreiss yea I agree that a slightly customized `load_state_dict_from_url` might work better for your case. Btw for the checkpoint directory, I wonder whether it helps if we have a public API to expose the hub dir? Similar to `torch.hub.set_dir()` but the getter version of it. Let me know if that helps. :D
Btw for the checkpoint downloading, since yours is pretty small ~30MB, making it a releas

[2019-10-16 22:45] elbamos commented on #27627
You're correct - I do get the same error without cuda. (Valgrind output attached.) I also tried the distribution on conda, and get the same error from that.
[errorsnocuda.txt](https://github.com/pytorch/pytorch/files/3736651/errorsnocuda.txt)

So, it has to be conflicting with something installed somewhere on my system. If you have any advice for tracking it down, I'd appreciate it.

Regarding an

[2019-10-16 22:52] quickwritereader commented on #27678
@edelsohn

[2019-10-16 23:00] RuABraun commented on #27726
Yes it fixed it.

The announcement is why I bothered to try and give pytorch on mobile another go (this is my 4th attempt)!

[2019-10-16 23:11] edelsohn commented on #27678
IBM provides public Power development systems through
[OSUOSL Powerd development hosting](https://osuosl.org/services/powerdev/request_hosting/). I can sponsor VMs to run the ci.pytorch.org Jenkins instance for Power.

PyTorch libATen already includes some support for Power VSX and the architecture-specific support in libATen is well isolated for each architecture.  IBM and @quickwritereader solel

[2019-10-16 23:27] jerryzh168 commented on #28071
Does it train correctly without qat? can you post the result of training with and without qat?

[2019-10-16 23:28] nuka137 commented on #25883
@yf225

Hi, I almost done `BatchNorm1d`.
If no one tackle to `Dropout{1,2,3}d`, I would like to tackle these modules.

[2019-10-16 23:41] mruberry opened #28177 "ROCm CI can timeout in blobs_queue_db_test.py::BlobsQueueDBTest::test_create_blobs_queue_db_tensor."
## 🐛 Bug

See https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-devtoolset7-rocmrpm-centos7.5-test/41068//console where it timed out in blobs_queue_db_test.py::BlobsQueueDBTest::test_create_blobs_queue_db_tensor.

See also https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-devtoolset7-rocmrpm-centos7.5-test/40962//console where it timed out in the same test.

cc @ezyang

[2019-10-16 23:42] mruberry opened #28178 "ROCm CI can fail test_sync_params_with_buffers"
## 🐛 Bug

See https://ci.pytorch.org/jenkins/job/pytorch-builds/job/py3.6-clang7-rocmdeb-ubuntu16.04-test2/1741//console, which shows the failure.

cc @ezyang

[2019-10-16 23:44] z-a-f commented on #28070
@raghuramank100 I think we might need to add a note about that somewhere

[2019-10-16 23:48] mruberry opened #28179 "atomic_ops_test.py::TestAtomicOps::test_atomic_ops intermittently segfaults in CI"
## 🐛 Bug

See https://circleci.com/gh/pytorch/pytorch/3237590?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link/console, where the dump occurs around test_atomic_ops. See also https://circleci.com/gh/pytorch/pytorch/3224131?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link/console which shows the same.

See https://circleci.com/gh/p

[2019-10-16 23:57] #27182 closed

[2019-10-16 23:58] elbamos commented on #27627
I looked a little further.  I note this line from valgrind: `==96361==    by 0x1153E93C8: _GLOBAL__sub_I_AVX2.cpp (AVX2.cpp:0)`  This CPU doesn't support AVX2 instructions.  So it seems something in the build is forcing the use of AVX2 without checking for CPU support?

[2019-10-16 23:58] #27355 closed

[2019-10-17 00:13] jcatanza commented on #4418
Sorry -- setting num_workers = 0 does not qualify as a solution. The problem is Pytorch under Windows 10 throws a broken pipe error if you try to use the GPU. I have not seen a solution on this thread, as of 10/16/2019

[2019-10-17 01:30] jjsjann123 opened #28191 "[JIT] Allow user to provide aliasing information on input tensors and model parameters"
## 🚀 Feature

We need to create API that allows user to provide aliasing information on input tensors and model parameters. Graph mode does not own parameters and takes them as input through `prim::GetAttr` and `ClassType<xxx>`. User has full visibility of aliasing information on direct tensor inputs and model parameters. It is possible for user to provide aliasing information when scripting their

[2019-10-17 01:37] jjsjann123 commented on #28191
cc'ing @mruberry @csarofeen @royju

[2019-10-17 01:48] marcoleewow commented on #24235
@wanchaol yes, I understood that tutorial, but when we want to use the class' own `nn.Module` instances it will fail because `self` is not a tensor. Can you help shed some light on how to deal with  exporting dynamic loop in that case? Using the example given from @GrzegorzKarchNV :

[code]
Would fail as expected:
[code]

@wanchaol how would you export this module?

[2019-10-17 01:52] touqir14 opened #28194 "New Stochastic Optimization Algorithms in Pytorch"
## 🚀 Feature
I would like to suggest new stochastic optimizer additions to Pytorch.

### For non-convex loss functions
It is known that adaptive stochastic optimizers like Adam, Adagrad, RMSprop can indeed fail to converge. Moreover the test error of the trained models can be larger when compared to the models trained by SGD even though if they attain lower training error than with SGD - in other

[2019-10-17 02:03] yongchaoding commented on #28071
I solve this problem, the net should set into train, net.train(), and do quantize_qat, so it works

[2019-10-17 02:22] Zhizh1 opened #28195 "After I update the pytorch version from 1.0 to 1.2 and cuda.is_available return FALSE"
when i use pytorch1.0 and enter the following commands：

1.0.0.dev20190102

0.2.1

True

9.0.176

# cat /usr/local/cuda/version.txt
CUDA Version 9.0.176
after i update pythorch to version1.2,and enter the following commands:
print(torch.__version__)
1.2.0

0.4.0

False

10.0.130

# cat /usr/local/cuda/version.txt
CUDA Version 9.0.176

when i run my program，the msg is that my Nvidia version is too

[2019-10-17 02:26] vippeterhou commented on #28070
It works. Thanks!
(For whom it may concern: The input data type should be `torch.quint8` in my case.)

[2019-10-17 02:29] yuwl798180 commented on #27968
@ezyang  your seq_len_to_mask function is not equal with me.
the key_padding_mask key means for mask the pos that is padding.
so my func is just reverse with you, just print below:

[code]

and reproducing my results,  you can just set the length is: [5, 4, 1, 0]

`key_padding_mask = seq_len_to_mask(torch.tensor([5, 4, 1, 0]), max_len=5)`

and print:

[code]

[2019-10-17 02:35] nsrishankar commented on #25883
@yf225  Are the Conv layers/Losses still available?

[2019-10-17 02:52] yyb1995 commented on #27842
OK, I will try to generate one asap. Thanks for your suggestion.

[2019-10-17 03:04] shijianjian opened #28197 "PyTorch 1.3 inference output is different from PyTorch 1.2"
## 🐛 Bug

I tested with EfficientNet-b0, b3, which were trained around one week ago with promising results with PyTorch 1.2, CUDA 10.0. After I upgraded PyTorch from 1.2 to 1.3, CUDA 10.0 to 10.1, the inferencing using the exact model and weights gave different results. I am not sure is it expected or a bug in 1.3.

## To Reproduce

Steps to reproduce the behavior:

1. Inferencing with EfficientNe

[2019-10-17 03:07] JianpingChen066 opened #28198 "DLRM performance regression on #26963"
## 🐛 DLRM performance regression

This check-in cause a little regression on the [DLRM](https://github.com/facebookresearch/dlrm) benchmark.

Without this check-in the DLRM benchmark result is like:
[code]
with this check-in , the result is like:
[code]

The profiling data show that there are some time increased in the
`index_select` , `mm` and `addmm` operations

|                 | This      | B

[2019-10-17 03:14] shijianjian commented on #28195
You may need to update CUDA to make it work. It happens to me when I upgraded from 1.2 to 1.3 that I need CUDA 10.1 than CUDA 10.

[2019-10-17 03:17] yf225 commented on #25883
@mansoorcheema Thanks so much for the commit and my apologies for the work-in-progress status of `pad` (it's currently blocked by https://github.com/pytorch/pytorch/pull/26837). I will review the commit tomorrow :D

[2019-10-17 03:26] myuanqing opened #28200 "What‘s the calling stack of torch.nn.conv2d?"
I am wondering what's the calling stack of torch.nn.conv2d.
I guess that it is combined with thnn_conv2d_forward(with cpu/cuda), however there is no definition of that function. I'm not familiar with the processing of *.yaml files, but I suppose that it has something to do with the thnn_conv2d_forward function.
I look into the **nn.yaml** file and find what's below:
![nn yaml](https://user-images.

[2019-10-17 03:30] mruberry commented on #28177
fyi @gottbrath

[2019-10-17 03:30] mruberry commented on #28178
fyi @gottbrath

[2019-10-17 03:32] yf225 commented on #25883
@nuka137 Thanks a lot for your help! I think @gtamba is tackling `Dropout{1,2,3}d` (my apologies that I forgot to update the list). Curious would you be interested in working on `ConvTranspose{1, 2, 3}d`?

[2019-10-17 03:40] yf225 commented on #25883
@nsrishankar Thanks a lot for your interest! I think the Conv layers and Losses are already taken / potentially taken by someone, wondering would you be interested in working on one of the following?
[code]
Thanks a lot again for your help!

[2019-10-17 03:42] eric-mu commented on #28060
My system is a docker container of Ubuntu18.04.
I just clone the source repository and run "python setup.py install" or "make -j48". It will give a compile error like this:
[code]
I guess it's because of the init phase for nullptr, so I modify all `nullptr /* tp_print */` to `0 /* tp_print*/`, and it does work! I don't know this is the right way to fix, but anyway, I can use pytorch1.3 with Python

[2019-10-17 03:44] #27633 closed

[2019-10-17 03:56] BIT-silence opened #28201 "Optimize GroupNorm in PyTorch"
## 🚀 Feature

Improve the performance of GroupNorm operator.

## Motivation

Similar as https://github.com/pytorch/pytorch/issues/27633, the current GroupNorm implementation is reshaping the input and doing BatchNorm to get the moments of input, then using addcmul for affine. This implementation is inefficient for both CPU and CUDA.

The performance benchmark for input shape = [128, 256, 28, 28],

[2019-10-17 04:03] Arctanxy opened #28202 "How to quantize resnet in pytorch 1.3?"
I tried to quantize resnet18 refer to https://pytorch.org/tutorials/advanced/dynamic_quantization_tutorial.html

but I got this error
[code]

How can I solve it?

my environment:

torch1.3.0+cpu
windows 7
python3.6.6

[2019-10-17 04:08] nuka137 commented on #25883
@yf225

Thanks for suggestion.
`ConvTranspose{1, 2, 3}d` are interesting to me. I'll tackle them.

[2019-10-17 04:13] yf225 commented on #25883
@nuka137 Thanks a lot! I just mentioned your name next to them :D

[2019-10-17 04:16] XiaobingSuper commented on #27974
@99991 , Can you help test it using PyTorch latest master code which have upgrade mkldnn to v0.21.1? Thanks!

[2019-10-17 04:55] sitsofe commented on #20583
@mingfeima sorry to nag but it's there any follow-up on this one after my previous comment?

[2019-10-17 04:59] mingfeima commented on #20583
@sitsofe yes, it is being tracked inside intel. Hopefully this will be fixed with next mkl-dnn upgrade.

[2019-10-17 05:24] dalek-who opened #28206 "torch.utils.tensorboard.SummaryWriter.add_graph do not support non-tensor inputs"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.Run my script below:
[code]

and you can see the trace(take bug 3 as an example):
[code]

## Expected behavior

writer.add_graph should run normally.

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill ou

[2019-10-17 05:24] farleylai commented on #28197
We also noticed a similar performance reduction by -0.2% with Kinetics400 in PyTorch 1.3 compared with PyTorch 1.1.

The `cudnn.benchmark` is set to False while `cudnn.deterministic` is set to True.
A specific seed is also set to to both Python random, numpy and torch, torch.cuda.
The same results can be reproduced once switched back to 1.1.
However, PyTorch 1.3 produces different results during t

[2019-10-17 05:45] 99991 commented on #27974
Not quite sure how to do that, but `pip install torch==1.3.0+cpu torchvision==0.4.1+cpu -f https://download.pytorch.org/whl/torch_stable.html` gave me MKL-DNN v0.20.5, which works well enough for me.

Results of `export MKLDNN_VERBOSE=1; python train.py`:
[code]

Thank you everyone for your great help :)

[2019-10-17 05:45] #27974 closed

[2019-10-17 06:00] #28200 closed

[2019-10-17 06:06] t-vi commented on #28197
There is no guarantee that the same code will produce the exact same result in the "deterministic computation" sense, neither between PyTorch versions (nor between CuDNN/CUDA, I think).
These differences come from addition order sensitivity of floats and when something changes the e.g. the thread layout taken for a given configuration, this is expected to change. Giving a guarantee about this if a

[2019-10-17 06:13] Naresh1318 commented on #28202
From what I’ve seen. Dynamic quantization using the above mentioned function call does not support Conv2d.

[2019-10-17 06:19] sjzryf opened #28209 "RuntimeError: CUDA out of memory."
python3.6 train.py -save res
Save File Exists, OverWrite? <CTL-C> for no
Loading Data from  data/preprocessed.train.tsv
building vocab
done
Sorting training data by len
ds sizes:	11880	26156	684	1000	Vocab sizes:
src 6343
ent 53343
nerd 8
rel 17
out 11738
graph
cuda:0
epoch  0 lr 0.1
Training	2
/home/ryf/桌面/GraphWriter-master/models/last_graph.py:75: UserWarning: To copy construct from a tensor, i

[2019-10-17 06:24] prasunmishra commented on #4418
10/16/2019
I am also facing the same issue with Windows 10 while using GPU.
num_worker = 0 doesn't work and  if __name__ == '__main__': either

[2019-10-17 06:50] peterjc123 commented on #4418
@jcatanza @prasunmishra Code, please.

[2019-10-17 06:56] Arctanxy commented on #28202
Thank you.

[2019-10-17 06:57] #28202 closed

[2019-10-17 07:00] mansoorcheema commented on #25883
@yf225 Thanks for the update. Meanwhile I would like to work on AdaptiveLogSoftmaxWithLoss.

[2019-10-17 07:02] svenkreiss commented on #27830
@ailzhang Thank you! I did not know about Github's release assets and their lenient file size policy. I publish a few more backbones for OpenPifPaf, so it's not just one 30MB file, but also 230MB, etc but none is larger than 2GB. For me, that is the best solution:
<img width="828" alt="Screen Shot 2019-10-17 at 08 55 22" src="https://user-images.githubusercontent.com/2775078/66985069-4f82c980-f0bc

[2019-10-17 07:02] #27830 closed

[2019-10-17 07:05] nsrishankar commented on #25883
@yf225 Could I take a crack at GLU and FractionalMaxPool2d if possible?

[2019-10-17 07:09] shijianjian commented on #28197
I tested with:

1. PyTorch 1.2 with CUDA10.1
2. PyTorch 1.3 with CUDA10.1

They produced identical results. I suspect it might be something with either CUDA or cudnn.

[2019-10-17 07:12] vippeterhou commented on #28209
I think you should use `watch nvidia-smi` to monitor the GPU usage.

[2019-10-17 07:17] Crystalxd commented on #9699
I think this problem caused by the version of CUDA or CUDNN, the same problem when I compiled Pytorch on tx2. I found the version of cudnn is 6.0.21 which is a low version for requirement, so I download higher version on Nvidia, I choos the CUDNN 7.1.4 for Linux. And now I know that this version is based on x86 instead of arm64(tx2 architecture), therefore, it shows this error. But another problem

[2019-10-17 07:23] Zhizh1 commented on #28195
If i update my cuda version and then i need to upgrade the nvidia driver.This may affect other people's processes and want to see if there is any other solution first

[2019-10-17 08:06] XiaobingSuper commented on #27971
@lopuhin, This is the same problem which you said in https://github.com/intel/mkl-dnn/issues/489, Ideep will cache MKLDNN primitives to reduce the cost of create MKLDNN primitive creation, we support an environment variable named **LRU_CACHE_CAPACITY** to control the cache capacity. The default value is **1024**, you can set a smaller number to reduce the memory use by **export LRU_CACHE_CAPACITY=

[2019-10-17 08:32] lopuhin commented on #27971
Wow this works perfectly and solves the issue, thank you @XiagenFeng

Benchmark results:

[code]

[code]

[2019-10-17 09:11] yourh opened #28212 "nn.DataParallel in v1.1+(v1.1, v1.2, v1.3) is much slower v1.0"
## 🐛 Bug

Training with nn.DataParallel in v1.1(v1.2 or v1.3) is much slower than v1.0.1.

Such as run_squad.py in transformers library as its README
 [https://github.com/huggingface/transformers/blob/master/examples/run_squad.py](url)

## To Reproduce

export SQUAD_DIR=/path/to/SQUAD

python run_squad.py \
  --model_type bert \
  --model_name_or_path bert-base-cased \
  --do_train \
  --do_eval \

[2019-10-17 09:12] yourh commented on #28212
[https://github.com/pytorch/pytorch/issues/20311#issuecomment-491501747](url)

[2019-10-17 09:31] t-vi commented on #28197
Thank you for reporting back. If the difference stems from discrepancies within  numerical precision, I am afraid there is little we can do, so I am closing this bug.

[2019-10-17 09:31] #28197 closed

[2019-10-17 09:57] lsrock1 commented on #25883
@yf225 Is grid_sample stiil available? If so, i want to tackle it.

[2019-10-17 10:20] f0k opened #28213 "Tensor.max()/min() over multiple axes"
## 🚀 Feature

`Tensor.max()` and `Tensor.min()` support a `dim` argument to reduce over a single axis. They should support multiple axes just like `Tensor.sum()`.

## Motivation

Sometimes I want to pool over all spatial dimensions, or an arbitrary set of dimensions. Currently I have to decide myself whether to loop over dimensions (and in which order), or reshape the tensor to collapse multiple d

[2019-10-17 11:20] ruiyan1995 commented on #27588
@isalirezag Hi, how did you solve this issue?

[2019-10-17 12:42] yashasvi-ranawat opened #28214 "reflective padding for 5D tensor"
## 🚀 Feature

## Motivation

## Pitch

## Alternatives

## Additional context

[2019-10-17 13:05] DuckSoft commented on #28209
Have a check at `nvidia-smi`. There should be a list of all programs eating your CUDA memory.
Kill the programs that you won't need and restart your own program.

THIS IS NOT A PYTORCH PROBLEM.

[2019-10-17 13:05] ezyang commented on #26764
Yes I think that's the right call. Are you planning to redo it or should I resubmit?

[2019-10-17 13:11] ezyang commented on #24422
Label applied to issue. It doesn't work on PRs yet.

[2019-10-17 13:15] ezyang commented on #27678
Just a quick note: we're deprecating the Jenkins instance. But byob may still be possible as we need this to work for amd

[2019-10-17 13:23] ezyang commented on #27627
Bingo.

We do detection of cpu capabilities using the cpuinfo library. https://github.com/pytorch/cpuinfo You might be able to work out what the bug in the detection here is. If you need a cheap and cheerful workaround you could edit aten/src/ATen/native/DispatchStub.h to just never consider AVX2

[2019-10-17 13:37] ezyang commented on #27968
OK thanks!

[2019-10-17 13:37] timothyman opened #28216 "The div_factor parameter in OneCycleLR does not work"
## 🐛 Bug

The `div_factor ` parameter determines the initial learning rate via `initial_lr = max_lr/div_factor` in the OneCycleLR scheduler.  The default is 25, but this parameter does nothing.

## To Reproduce

Steps to reproduce the behavior:

1. Create a OneCycleLR scheduler
[code]
2. Plot the Learning Rate
[code]
3. Change the `div_factor` and plot again (step 2).
[code]

## Expected behavior

[2019-10-17 13:40] ezyang commented on #27971
Downgrading priority as a workaround is present. I'll keep the bug open in case anyone else notices high memory usage; we may want to reduce the default cache size (but hard to say without more reports.)

[2019-10-17 13:44] isalirezag commented on #27588
@ruiyan1995 nope :/

[2019-10-17 14:07] vishwakftw commented on #28060
This is a relevant issue: https://bugzilla.redhat.com/show_bug.cgi?id=1718837 and the quick fix is to replace `nullptr /* tp_print */` with `0 /* tp_vectorcall_offset */`.

[2019-10-17 14:07] nexplor opened #28218 "index_sub, index_mul and index_div"
## 🚀 Feature
Provide `index_sub`, `index_sub_`, `index_mul` etc. functions that work like existing functions `index_add` and `index_add_`

## Motivation
If we have a 2-dimensional tensor `T`, and want to multiply `T[0]`, `T[3]` and `T[15]` by 2, there seems to be no way to do this at the moment (in the case where the number of rows we want to multiply by 2 is variable). `index_mul_` would enable u

[2019-10-17 14:17] meganset commented on #27946
Thanks for looking at this.
I retreated to c++ to verify the loss of precision in any long sum of 4-byte floats:

[code]
the loss of precision in the sum begins to occur around 33 million elements,
noticeable by around 40 million, e.g.

[code]
But the torch _t.mean()_ is still correct, I assume it is using double precision in the sum.
The torch calculated mean will not go astray on my linux box un

[2019-10-17 14:21] nexplor commented on #28218
My bad. It's possible using normal slicing.

[2019-10-17 14:22] albanD commented on #28218
Hi,

You can indeed use advanced indexing to do this.
Specialized functions might be useful as well if someone needs them.

[2019-10-17 14:28] #24589 closed

[2019-10-17 15:04] VitalyFedyunin opened #28220 "TorchScript custom ops like `cuda` `byte` etc. doesn't support memory_format argument"

[2019-10-17 15:05] VitalyFedyunin opened #28221 "TorchScript doesn't support torch.channels_last or any other memory format constants"

[2019-10-17 15:09] VitalyFedyunin opened #28223 "Convert manually bound `cuda` `cpu` `byte` `float` operators to native_functions"
I am a bit skeptical that these should be manually bound. They seem like fairly simple functions that the code generator should be able to understand...

_Originally posted by @ezyang in https://github.com/pytorch/pytorch/pull/27228_

[2019-10-17 15:11] VitalyFedyunin commented on #28223
Assigning myself to track execution, but actually up to grabs.

[2019-10-17 15:30] albanD commented on #27946
Interestingly, to speed up testing, I did the following and I see the same results as you in this case:

[code]

The answer here is that the mean is actually super fast (<1s) and so you probably don't see it but it uses multithreading ;)

[code]

Basically, when the workload is big enough, we use multithreading. This has the side effect to perform several sums and then accumulate them. Leading to

[2019-10-17 15:35] yf225 commented on #25883
@nsrishankar Definitely! I mentioned your name next to them. Thanks so much for your help! :D

[2019-10-17 15:38] yf225 commented on #25883
@lsrock1 Thanks a lot for your help! Yes it's available and I just mentioned your name next to it :D

[2019-10-17 15:40] ezyang commented on #27692
No, the l1 loss port does not fix it.

[code]

[2019-10-17 15:48] Lezcano commented on #9983
The formula for the gradient of the exponential is derived in Proposition 6.1 here:
https://arxiv.org/abs/1909.09501
and an implementation for 32-bit skew-symmetric matrices can be found here:
https://github.com/Lezcano/expRNN/blob/e29e9ec4e1d419763f2edbdd983f479177771f05/trivializations.py#L10

The following things would be missing, which should be very easy to implement modulo making some design

[2019-10-17 15:51] bhuvanakundumani commented on #27780
@ezyang  @gchanan - PR at https://github.com/pytorch/pytorch/pull/27847

[2019-10-17 15:51] f0k opened #28224 "Allow to disable polling for CUDA synchronization"
## 🚀 Feature

When using CUDA, by default, synchronization of the host and GPU works through a tight loop that polls a particular memory location, running a CPU core at 100%. CUDA provides two alternative modes: (1) a tight loop that yields to other threads in between, and (2) synchronization via an interrupt (translated into an event by the driver). PyTorch should provide some way to select eithe

[2019-10-17 16:16] XiaobingSuper commented on #27692
@ezyang , I double check the PR(#26795)'s result, I can make sure it can solve this problem, please see the follwing log:
[code]

[2019-10-17 17:03] gchanan commented on #27539
going to close this as a duplicate; if you disagree, please reopen.

[2019-10-17 17:03] #27539 closed

[2019-10-17 17:08] gchanan commented on #27754
We think this should give you a float64, but this would be BC breaking, so we need to document, etc.

[2019-10-17 17:14] gchanan commented on #27838
CC @houseroad.

Should you be on the auto-tagger for onnx issues?

[2019-10-17 17:16] vincentqb commented on #27838
See #24422 for auto-tagger

[2019-10-17 17:18] gchanan commented on #27875
High priority if this turns out to be a 1-liner or so, otherwise this probably doesn't come up very often, so maybe not worth high priority.

[2019-10-17 17:21] mruberry commented on #28179
See also: https://circleci.com/gh/pytorch/pytorch/3248435?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link. testInputOrder again.

[2019-10-17 17:25] mruberry commented on #28179
See also: https://circleci.com/gh/pytorch/pytorch/3243424?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link. test_atomic_ops again.

[2019-10-17 17:26] thiagocrepaldi commented on #20248
Could you elaborate on what is the root cause of this issue? What approach would you envision to get it supported?

[2019-10-17 17:30] gchanan commented on #27678
@VitalyFedyunin will provide an answer.

[2019-10-17 17:30] mruberry opened #28232 "test_allreduce_coalesced_stress is flaky"
## 🐛 Bug

See:

https://circleci.com/gh/pytorch/pytorch/3242606?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link/console

This is on ASAN, where timing is likely much slower than other test builds.

@pietern

[2019-10-17 17:33] gchanan commented on #27627
which CPU are you using?

[2019-10-17 17:47] vadimkantorov commented on #26288
I removed my bulky "patch" comments in this thread (given that https://github.com/pytorch/pytorch/pull/27621 is merged)

The up-to-date ActivatedBatchNorm version is in this comment: https://github.com/pytorch/pytorch/issues/26288#issuecomment-539251421

I guess the scope of this issue is now to provide `inplace` argument for functional interface, so that on can do without calling internal `batch_

[2019-10-17 17:50] prasunmishra commented on #4418
Code:

model = Unet("resnet50", encoder_weights="imagenet", classes=4, activation=None)

class Trainer(object):
    '''This class takes care of training and validation of our model'''
    def __init__(self, model):
        self.num_workers = 6
        self.batch_size = {"train": 4, "val": 4}
        self.accumulation_steps = 32 // self.batch_size['train']
        self.lr = 5e-4
        self.num_ep

[2019-10-17 18:02] #28071 closed

[2019-10-17 18:04] z-a-f commented on #27430
I'm removing the 1.3 tag.

Can we close this issue now? I don't see the PR that resolves this

[2019-10-17 18:05] dashesy commented on #22169
Currently I use `torch.split` to split the channels (to different sizes) and then apply softmax separately on each tensor. It would be nice to avoid splitting and use the Dense Packed data layout on a tensor (something like `view` that does not copy data). I would need something like `torch.view_as_nested()` that could then be passed to a single `softmax` for reduction.

Currently this is how to c

[2019-10-17 18:05] eitanrich commented on #24900
I manage to reproduce the problem with the default of some=True.
Numpy manages to perform SVD on a similar-sized matrix (and much larger):
`np.linalg.svd(X, full_matrices=False)`
pytorch version is 1.2.0

[2019-10-17 18:06] #28070 closed

[2019-10-17 18:09] z-a-f commented on #28070
For the unsigned types, it makes more sense to set the `zero_point` to some non-zero value. For example, you can set it to 128 for 8-bit quantization. That way you will have symmetrical coverage for positive and negative input values. Ideally, you want to set the zero point to something that depends on the input statistics (check out the Observers in the [docs](https://pytorch.org/docs/master/quan

[2019-10-17 18:11] z-a-f commented on #24066
I am removing the 1.3 tag and adding the quantization one

[2019-10-17 18:13] houseroad commented on #27838
cc: @spandantiwari @lara-hdr

[2019-10-17 18:14] meganset commented on #27946
Ah.
I see now.
Thanks.

My issue title is misleading, should be something like
"Summary statistics on large float tensors lose precision depending on number of threads used"

This also explains how c++ might differ from python if they use a different number of threads.
I guess it's still a bug though, to get a different mean depending on how many threads are available.
And _t.mean()_ should still

[2019-10-17 18:15] z-a-f opened #28234 "`default_qconfig` doesn't exist as an attribute, so it is better to label it as ``default_qconfig``"
## 📚 Documentation

`default_qconfig` doesn't exist as an attribute, so it is better to label it as ``default_qconfig``
![image](https://user-images.githubusercontent.com/5652049/66953340-5235de00-f02c-11e9-92c5-6719ccca7ff3.png)

_Originally posted by @zou3519 in https://github.com/_render_node/MDI0OlB1bGxSZXF1ZXN0UmV2aWV3Q29tbWVudDMzNTY3NTE3Mw==/comments/review_comment_

cc @jerryzh168 @jianyuh

[2019-10-17 18:28] jerryzh168 commented on #28234
what do you mean?

[2019-10-17 18:46] vadimkantorov commented on #26288
@ezyang Do I need to call mak_dirty somewhere in https://github.com/pytorch/pytorch/issues/26288#issuecomment-539251421 ?

[2019-10-17 18:49] z-a-f commented on #28234
In the documentation we use `` :attr:`~torch.quantization.default_qconfig` ``, which is supposed to create a link to the documentation on that attribute. The problem is that `default_qconfig` is not an attribute (just a global variable), and the documentation will fail to create a link.

Instead we should use ``` ``default_qconfig`` ```

[2019-10-17 18:56] elbamos commented on #27627
@gchanan Its a Xeon, model W3680.

@ezyang That makes sense. But what's the intersection with the namedtensor code? Because that part of the codebase is definitely where this arose. When I build a commit from when namedtensor was optional, the result will run if I build without namedtensor, it'll produce the error if I turn namedtensor on.

[2019-10-17 19:07] suo opened #28239 "support class annotations in __init__"
[code]

should work.

cc @suo

[2019-10-17 19:16] srush commented on #28146
My internal intuition is that `align_as` makes sense and that `align_to` should just be `permute` with names (but I assume there is some good reason it is not).

[2019-10-17 19:18] smessmer commented on #28224
This sounds reasonable to me, I think we would accept a PR that implements this. cc @ezyang for confirmation.

[2019-10-17 19:24] smessmer commented on #28232
We would accept a PR fixing this

[2019-10-17 19:25] smessmer commented on #28179
We would accept a PR fixing this

[2019-10-17 19:26] ezyang commented on #27692
Interesting. Are you saying my build is out of date? In any case, if you add a test for this, I'll trust you on it :)

[2019-10-17 19:28] smessmer commented on #28119
We would accept a PR implementing this. cc @ezyang for guidance on if this should be a separate operator or an argument.

[2019-10-17 19:29] smessmer commented on #28110
Thanks for reporting. We would accept a PR fixing this. cc @brucejlin

[2019-10-17 19:36] harshitsankhla commented on #28194
Hi,

I am interested in implementing 3. Let me know if we can work together.

[2019-10-17 19:37] smessmer commented on #28216
Thanks for reporting this. We'll take a look at your PR.

[2019-10-17 19:39] smessmer commented on #28209
Closing this for now. Feel free to reopen if you confirmed it's actually a PyTorch issue.

[2019-10-17 19:39] #28209 closed

[2019-10-17 19:41] smessmer commented on #28212
closing as a duplicate. Feel free to reopen if this is actually a separate issue.

[2019-10-17 19:41] #28212 closed

[2019-10-17 19:41] VitalyFedyunin commented on #27627
@elbamos this is unrelated to the named tensors support, perhaps just incidental connection.

most helpful for us would be checking what cpuinfo library tells you when you call `cpuinfo_has_x86_avx` as your processor clearly doesn't support AVX instructions per Intel specs.

Also could you please try installing torch 1.3 from pip and run simple code:

[code]

And tell us if it works or not.

Also

[2019-10-17 19:42] vishwakftw commented on #24900
I'm not able to reproduce the issue:
[code]
works fine for me.

[2019-10-17 19:44] albanD commented on #24354
Is [`TORCH_WARN_ONCE`](https://github.com/pytorch/pytorch/blob/9ef86b04e5d21a4de91b525a20da9ce84fcd2c09/c10/util/Exception.h#L293) what you want?

[2019-10-17 19:47] smessmer commented on #28213
This sounds like a good idea to me. cc @gchanan for guidance on what the returned indices should be.

[2019-10-17 19:52] smessmer commented on #28137
Thanks for reporting. Can you give more information on how and where you're running this exactly?

[2019-10-17 19:55] #28137 closed

[2019-10-17 19:58] smessmer commented on #25396
The basic functionality is documented [here](https://pytorch.org/tutorials/advanced/torch_script_custom_ops.html) but we don't have documentation for the more advanced use cases yet

[2019-10-17 20:01] Naresh1318 commented on #28070
@z-a-f The forward function under the MobileNetV2 class seem to have `x = self.quant(x)`. Shouldn't this quantize its input automatically?

[2019-10-17 20:16] elbamos commented on #27627
@VitalyFedyunin cpuinfo (the isa-info executable) reports AVX: no and AVX2: no. So, that's correct.  [isainfo.txt](https://github.com/pytorch/pytorch/files/3741144/isainfo.txt)

pytorch 1.3 installed from pip, like 1.3 installed from conda, crashes on the illegal instruction error after calling `import torch`.

I'm not running any virtualization (I don't think there's any OS X virtualization that

[2019-10-17 20:26] pritamdamania87 opened #28244 "ProcessGroupMPI reports incorrect world size"
## 🐛 Bug

## To Reproduce

If you add the test method below to `ProcessGroupGlooTest` in test_c10d.py it fails:

[code]

`self.world_size` is 4, but `get_world_size` returns 1.

## Expected behavior

ProcessGroupMPI should return the world_size that we pass into `init_process_group`.

[2019-10-17 20:31] pritamdamania87 commented on #26377
@mrshenli @xush6528 Can we close this since its kind of a dup of https://github.com/pytorch/pytorch/issues/27647?

[2019-10-17 20:33] wanchaol commented on #24235
@marcoleewow you can do it like this:

[code]

output:
[code]

[2019-10-17 20:33] pritamdamania87 commented on #24252
@zhaojuanmao We can close this out right?

[2019-10-17 20:34] pritamdamania87 commented on #24250
@mrshenli I'm guessing we can close this out?

[2019-10-17 20:37] mrshenli commented on #26377
Sure

[2019-10-17 20:37] #26377 closed

[2019-10-17 20:38] pritamdamania87 opened #28245 "PyTorch Model Parallel should expose critical metrics to the application."
## 🚀 Feature

Context for Model Parallel: https://github.com/pytorch/pytorch/issues/23110

## Motivation

When applications are using complex distributed primitives like RPC, RRef and Distributed Autograd, debugging issues can be cumbersome. We should have a way of exposing metrics to applications. This could simply be a `def get_metrics() -> Dict[str, int]` API that returns information about vari

[2019-10-17 20:49] pritamdamania87 commented on #28244
cc @apaszke

[2019-10-17 20:53] d4l3k opened #28249 "Add scopes to autograd profiler"
## 🚀 Feature

Add scopes within a torchscript model so you can get profile information per scope for both the forward and backward pass.

## Motivation

For distributed execution (model parallelism) we want to be able to measure the exact CPU time spent on different parts of a torchscript module so we can shard the model in a reasonable manner to different machines. We have high level "components"

[2019-10-17 20:55] d4l3k commented on #28249
cc @dzhulgakov @ngimel @aazzolini @bddppq

[2019-10-17 21:12] #28015 closed

[2019-10-17 21:26] #24252 closed

[2019-10-17 21:29] mruberry commented on #28224
@csarofeen as an fyi

[2019-10-17 21:32] mruberry opened #28252 "Caffe2 ONNX CI Quantization tests can fail"
## 🐛 Bug

See https://circleci.com/gh/pytorch/pytorch/3242007?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link.

cc @ezyang @gchanan @zou3519 @jerryzh168

[2019-10-17 21:33] bddppq commented on #28249
cc @ilia-cher

[2019-10-17 21:43] bddppq commented on #28249
Actually even if it's not multi-threaded, since autograd has its own thread-pool, the backward ops will be invoked by a thread different from the one that executed the forward op (which is also the one that created and assigned its thread local sequence_nr to the backward op). I think we can either 1. encode the thread id into the thread local sequence_nr (like using first two bytes to store the t

[2019-10-17 21:56] albanD commented on #28249
@bddppq Why do we want to change that logic? Why would that help here?

[2019-10-17 21:56] jjsjann123 commented on #13402
Inplace operation on module parameters would be bad for JIT. Due to the aliasing assumption, any fusion / re-ordering across the node would not be possible.
The proper thing to do would be to 1) update annotation with in-place marker and 2) properly pass aliasing information to compiled method, but we don't have tools to do 2) yet.

I would suggest that we remove the in-place operation here and ha

[2019-10-17 22:06] soumith commented on #28224
@mruberry @csarofeen @ngimel please approve or deny, as this has more to do with CUDA and you are the owners of that.

[2019-10-17 22:14] soumith commented on #28110
cc: @jlin27

[2019-10-17 22:14] ilia-cher commented on #28249
I believe we already have very similar functionality (albeit it might not be available from TorchScript). Let me find a link to some previous discussion..

[2019-10-17 22:15] ilia-cher commented on #28249
Some relevant discussions in https://github.com/pytorch/pytorch/issues/19422

[2019-10-17 22:20] soumith commented on #27946
I'm going to argue that this is expected behavior as well. We've always given guidance that float32 is imprecise and is expected to be so.

[2019-10-17 22:22] ilia-cher commented on #28249
After https://github.com/pytorch/pytorch/pull/23428 we could make `with torch.autograd.profiler.record_function("scope_name")` traceable/scriptable

[2019-10-17 22:25] d4l3k commented on #28249
@albanD since the sequence IDs are multithreaded you need some way to reliably tie the backward pass to the forward pass scopes.

@ilia-cher good to know, I'll take a look at doing that

[2019-10-17 22:28] soumith commented on #9983
@vishwakftw could you guide @Lezcano

[2019-10-17 22:32] soumith commented on #28195
just update your nvidia driver and this should be sufficient.

[2019-10-17 22:32] #28195 closed

[2019-10-17 22:33] albanD commented on #27946
I'm going to close base on the comment.
Feel free to re-open if you think there is something more we could do here.

[2019-10-17 22:33] #27946 closed

[2019-10-17 22:33] soumith commented on #28195
if the 10.1 build is seeing insufficient driver version, you can try installing the pytorch cuda 9.2 version (check commands on pytorch.org ) and see if that works

[2019-10-17 22:35] soumith commented on #28202
next time, please ask questions on https://discuss.pytorch.org

[2019-10-17 22:36] matthewygf opened #28257 "Master process finishes and leave workers hanging when master and worker has different gpu numbers"
## 🐛 Bug
In a scenario where:
* World_size = 4
* { N1: 1 GPU, N2: 1 GPU, N3: 2 GPU }
Using distbackend=NCCL and distmethod=TCP on pytorch 1.2

- running epochs up to 5, using distributed Sampler and distributed data parallel
the rank0 process on N1 finishes before N3 and leaves rank2,3 in N3 hanging.

## To Reproduce

https://github.com/matthewygf/torch_interference

On Node 1
NVIDIA_VISIBLE_DEVIC

[2019-10-17 22:38] driazati opened #28258 "[jit] TorchScript classes don't work in notebooks"
In IPython:

[code]

gives

[code]

since the `inspect` module can't get the source of a class inside of a notebook

[2019-10-17 22:42] soumith commented on #20822
@frkl  am I wrong to think that it might be overlapping a lot with RAPIDS from NVIDIA?

[2019-10-17 22:48] soumith commented on #28111
you should ask those code authors. that code requires cuda

[2019-10-17 22:48] #28111 closed

[2019-10-17 22:56] soumith commented on #15612
@Zhizh1 those steps are outdated. we provide cuda 9.2 and 10.1 binaries as of today. If you upgrade your nvidia driver on your system, you should be good

[2019-10-17 22:58] dashesy opened #28259 "[ONNX] Export Pad(11) opset11"
## 🚀 Feature
[Pad(11)](https://github.com/onnx/onnx/blob/master/docs/Operators.md#Pad) gets pad values as inputs instead of attributes.

## Motivation

Currently exporting `nn.functional.pad` with computed pads results in

## Pitch

Export Pad with opset11

## Alternatives

Can use `torch.cat` to appends zeros

[2019-10-17 22:58] soumith commented on #28061
please use https://discuss.pytorch.org for questions

[2019-10-17 22:58] #28061 closed

[2019-10-17 22:59] mruberry commented on #28224
@f0k

This is a cool feature idea and the proposal is clear and well-written.

If we did have this feature, what would you recommend the default mode be and why?

Further, what guidance would you give to users about which mode they should set? How much of a difference would they experience?

[2019-10-17 23:01] soumith commented on #28064
we do not support the caffe2 frontend at the moment unfortunately

[2019-10-17 23:01] #28064 closed

[2019-10-17 23:04] bddppq commented on #28249
@ilia-cher @d4l3k Oh I didn't know the existence of `torch.autograd._push_range` (and `torch.autograd._pop_range`). But looks like they are directly operating at the `profiler::Event` level, I think we should probably change them to create (and destroy) a RecordFunction (and call its `.before` and dtor to trigger the profiler's push and pop range). The benefit is then it will work for other regist

[2019-10-17 23:05] #25807 closed

[2019-10-17 23:06] bddppq commented on #28249
@albanD Yeah what @d4l3k said (basically addressing this https://github.com/pytorch/pytorch/blob/ce16d68/torch/autograd/profiler.py#L423-L432)

[2019-10-17 23:07] #25806 closed

[2019-10-17 23:09] soumith commented on #28055
wonder if this is related to https://github.com/pytorch/pytorch/issues/27971#issuecomment-543067718 where a workaround is provided (worth quickly trying the workaround to confirm or deny the correlation)

[2019-10-17 23:13] #28066 closed

[2019-10-17 23:15] smessmer commented on #28177
cc @bddppq

[2019-10-17 23:16] smessmer commented on #28206
cc @orionr

[2019-10-17 23:20] smessmer commented on #28178
cc @bddppq

[2019-10-17 23:23] Dorozhko-Anton commented on #15821
Do you want to add the tests for kwargs in `TestAvgPool`?
https://github.com/pytorch/pytorch/blob/0b243e9c4c94bc611f99df02a15fac9b332e5432/test/test_nn.py#L479-L482

1. To add these tests do we need to implement numpy version (or using other torch functions) of avg_pool2d and then test against it?

[2019-10-17 23:38] vishwakftw commented on #9983
@soumith I'd be happy to.

@Lezcano perhaps you could try implementing the matrix exponential first, and then we can follow up with the gradient implementation.

Regarding your design choices: it would be preferable to have separate implementations based on precision. IIRC, we would have to make one more approximation for the 64-bit case.

[2019-10-17 23:54] nairbv commented on #27610
A couple of thoughts:

Related to @suo's comment, I think we want to be able to distinguish the model from model parameters (`state_dict`) in model management, as described here:
https://pytorch.org/tutorials/beginner/saving_loading_models.html
Doing so has implications for the design of the model management API and how we handle versioning, since we'd want to be update a model's code or state_dic

[2019-10-18 00:20] jaryder commented on #14573
We have hit this same issue.  It's really bizarre.  Do you have any idea why libtorch is exhibiting this behavior?

[2019-10-18 00:41] rishikksh20 opened #28267 "Problem with jit TorchScript while copying data between GRUs"
## 🐛 Bug
Not able to create TORCHSCRIPT when copying data between GRU to GRUCell using '.' operator.
It not able to identify `.` operator.

## To Reproduce

Steps to reproduce the behavior:

1. [colab](https://colab.research.google.com/drive/1A4IERK4j-veOuunrcO-sytuednfhwSlk)

[code]
[code]
## Expected behavior
Run successfully

## Environment
 - PyTorch Version (e.g., 1.0): 1.2.0
 - OS (e.g., Lin

[2019-10-18 00:45] v0dro commented on #13402
So there has been quite a bit of discussion on this issue on the Pytorch [slack channel](https://pytorch.slack.com/archives/C3PDTEV8E/p1571092762035100), and from the looks of it this issue definitely does not seem small as pointed out by @gchanan .

I'd like quantize some of the important points raised by @soumith @t-vi into this thread for future reference.

# Summary of the problem

The main pr

[2019-10-18 00:47] v0dro commented on #13402
@jjsjann123 so you suggest modifying the respective device-specific functions to bump version counter?

[2019-10-18 00:51] bddppq commented on #28178
this has been disabled in https://github.com/pytorch/pytorch/commit/0b243e9c4c94bc611f99df02a15fac9b332e5432

[2019-10-18 00:51] #28178 closed

[2019-10-18 00:57] bddppq commented on #28177
Disabling in https://github.com/pytorch/pytorch/pull/28268

[2019-10-18 01:08] driazati commented on #28267
There is a parser bug here covering up an supported feature. TorchScript functions also can't take in `nn.Module`s as arguments yet, so doing something like
[code]
will tell you
[code]

since we don't support assigning to data

[2019-10-18 01:11] Lezcano commented on #9983
I put together an implementation of the exponential of matrices and its gradients for arbitrary matrices, which chooses between the 32 and the 64 bit algorithm, and does some optimization when the input is a skew symmetric matrix. It also implements some (very) minimal tests
https://github.com/Lezcano/expm
It does not implement `expm` for batches of matrices. This could be done with a bit of effor

[2019-10-18 01:35] peterjc123 opened #28271 "Intermittent error when building CUDA binaries on Windows"
## 🐛 Bug

[code]

## To Reproduce

Trigger a nightly build

## Expected behavior

Build pass

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0): master

[2019-10-18 01:38] peterjc123 commented on #4418
@prasunmishra This code is too complex and requires external data. Could you please post a minimal reproducible example code?

[2019-10-18 01:54] v0dro commented on #16663
Since nobody has worked on this for a while, I'll take it up.

[2019-10-18 02:34] rohan-varma commented on #27440
This has been done in https://github.com/pytorch/pytorch/pull/27458, https://github.com/pytorch/pytorch/pull/27439

[2019-10-18 02:34] #27440 closed

[2019-10-18 02:49] fritzo commented on #25661
This is important for e.g. numerically stable logsumexp computations in probabilistic inference. For example to perform `matmul` in log space we can define a helper
[code]

[2019-10-18 02:52] yourh commented on #28212
[https://github.com/pytorch/pytorch/issues/20311#issuecomment-491501747](https://github.com/pytorch/pytorch/issues/20311#issuecomment-491501747)
only solved the speed problem of nn.DDP, not nn.DataParallel.

[2019-10-18 02:58] deipss commented on #27447
It is OK, I can user Transformer class and its subclass such as Transformer EncoderLayer.

[2019-10-18 03:06] v0dro commented on #25804
If this is fixed can you close this issue?

[2019-10-18 03:07] lixite commented on #4518
use torch 1.1.0, I think it was torch 1.3.0 before this.

[2019-10-18 03:08] andreaskoepf commented on #15870
Behavior with ATen port PR https://github.com/pytorch/pytorch/pull/28270 (currently only CPU) would become:

[code]

[2019-10-18 03:10] yourh commented on #28212
This only solved the speed problem of nn.DDP, not nn.DataParallel. Some one mentioned nn.DataParallel speed problem however it's not solved. It seems like nn.parallel.replicate is slower.

[2019-10-18 03:19] roderickObrist opened #28272 "Transformer.generate_square_subsequent_mask"
## 🐛 Bug

generate_square_subsequent_mask spits out reverse masks across pytorch versions 1.2 and 1.3.

Fortunately the replication code is quite simple

[code]

[2019-10-18 03:43] vippeterhou commented on #28070
@Naresh1318
Yes, you are right.
I missed this point at the very beginning.

Finally, the following code solved my problem.
[code]
Similarly, use `DeQuantStub` in the same way.

[2019-10-18 04:19] prasunmishra commented on #4418
Here is end to end - replace <Local PAth> to your local folder

import os
import cv2
import pdb
import time
import warnings
import random
import numpy as np
import pandas as pd
from tqdm import tqdm_notebook as tqdm
from torch.optim.lr_scheduler import ReduceLROnPlateau
from sklearn.model_selection import train_test_split
import torch
import torch.nn as nn
from torch.nn import functional as F
impo

[2019-10-18 04:51] #28177 closed

[2019-10-18 04:55] nexplor commented on #28218
Reopening because specialized functions will indeed have the performance improvement, as per @albanD

[2019-10-18 04:59] yourh opened #28275 "nn.parallel.replicate in v1.1+ is much slower v1.0"
[https://github.com/pytorch/pytorch/issues/28212#issue-508340762](https://github.com/pytorch/pytorch/issues/28212#issue-508340762)

I run nn.DataParallel with only replicate operation and found that is much slower in v1.3.
For v1.0, the GPU util is
![image](https://user-images.githubusercontent.com/28811637/67066706-41a97300-f1a6-11e9-86c0-a9c23b49a1ab.png)

and for v1.3 is
![image](https://user-i

[2019-10-18 05:22] lara-hdr commented on #27838
@saulzar you are getting is error because dynamic padding is not yet supported in the exporter.
But there is a PR to support it for opset 11 https://github.com/pytorch/pytorch/pull/28225.

Regarding your comment "upsampling gives a size which is off by 1": are you getting this behavior with opset 11 or with a previous opset version?
We have noted this behavior in some cases with previous opset ver

[2019-10-18 05:25] lara-hdr commented on #28259
@dashesy this is being added in https://github.com/pytorch/pytorch/pull/28225

[2019-10-18 05:37] mohamedaboali1990 commented on #27738
I get same Error but I don't have NVIDIA Driver to upgrade , Display Driver :Intel HD Graphics 4000,

so in my case what can i do ?

[2019-10-18 05:40] phongnhhn92 commented on #27738
In your case, you dont have nvidia gpu then you shouldn’t use .cuda() funtion at all.

[2019-10-18 05:44] mohamedaboali1990 commented on #27738
i get this ERROR

![18102019](https://user-images.githubusercontent.com/26040529/67068657-0a719c80-f17b-11e9-90ca-2e489aadbf83.png)

[2019-10-18 06:31] saulzar commented on #27838
Oh thanks, dynamic padding looks like exactly what is needed.

My comment about padding being off by 1 is not a bug (that I have noticed so far), but the justification for needing the padding... (once something is downscaled by 2 with ceil mode, an upsampled feature map needs trimming if the original map had an odd dimension).

[2019-10-18 06:37] Norfo opened #28276 "Can not load model"
## 🐛 Bug

Hello every one!

I use pytorch for GCN-slam (https://github.com/jiexiong2016/GCNv2_SLAM 3). I have a problem when I try to load model by torch::jit::load(). I constantly get this error:

[code]

I use win10, torch 1.3.0a0+b728ffa, cuda v10.1, Visual Studio 2017.

## To Reproduce

Steps to reproduce the behavior:

1. Download any model from https://github.com/jiexiong2016/GCNv2_SLAM/tree

[2019-10-18 07:17] hitvoice commented on #22834
@shoaibahmed will adding `torch.distributed.barrier()` after time.time() help in this case?

[2019-10-18 07:56] v0dro commented on #24669
@VitalyFedyunin since `cumsum` is a native function that internally calls `_cumsum` that is a TH function, is it okay to remove `_cumsum` altogether and simply move the logic in the TH-implemented `_cumsum` to the ATen-implemented `cumsum`?

[2019-10-18 07:58] peterjc123 commented on #22681
Should be fixed by https://github.com/pytorch/pytorch/pull/24360.

[2019-10-18 08:22] lilinxiong commented on #15982
I had the same problem, By looking at the build log, find is **ideep** build failure, is not **mkldnn**  in the [intel/ideep#26](https://github.com/intel/ideep/issues/26) as if ideep doesn't support installation on windows. Does that mean in windows no use mkldnn?

[2019-10-18 08:42] peterjc123 commented on #15982
cc @ezyang Are we using ideep in PyTorch or Caffe2?

[2019-10-18 09:31] YuryBolkonsky opened #28277 "Module 'torch.nn' has no attribute 'backends'"
Pytorch 1.3, Windows10, apex 0.1

in
10 opt_level = 'O1'
11 model.cuda()
---> 12 model, optimizer = amp.initialize(model, optimizer, opt_level=opt_level)
13 scheduler = ReduceLROnPlateau(optimizer, factor=0.5, patience=2)

c:\apps\python3.7.3_64bit\lib\site-packages\apex\amp\frontend.py in initialize(models, optimizers, enabled, opt_level, cast_model_type, patch_torch_functions, keep_batchnorm_fp3

[2019-10-18 09:45] t-vi commented on #23434
Just a quick note here that this isn't solved by the type promotion we have in 1.3, getting type promotion for matmul / bmm / mm would be the first step.

[2019-10-18 11:07] saattrupdan opened #28278 "Adding a .fit() method to nn.Module"
[from [https://discuss.pytorch.org/t/training-a-model-via-a-train-method/58567](https://discuss.pytorch.org/t/training-a-model-via-a-train-method/58567)]

## 🚀 Feature
Add a .fit() method to nn.Module, which trains the model using the parameters given.

## Motivation
Writing out a full training loop every time I'm testing a model is frustrating, if I'm simply using the same standard template each

[2019-10-18 11:19] pramenku commented on #28137
Thanks.
I found the problem

yum install is not working after command "update-alternatives --install /usr/bin/python python /usr/bin/python3.6 2"

Not sure why this command impacting, yum command.

[2019-10-18 11:24] gwzhangx commented on #15609
I still got the same problem with Pycharm 2019.2 and PyTorch 1.3.0

[2019-10-18 11:31] nlgranger opened #28280 "torch.jit.ignore messes with buffer device placement"
## 🐛 Bug

## To Reproduce

Run this minimal example

[code]

Outputs:
[code]

## Expected behavior

Scripted and non-scripted versions have identical behaviour.

## Environment

PyTorch version: 1.3.0.dev20190917
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 16.04.6 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
CMake version: version 3.5.1

Python version:

[2019-10-18 12:18] t-vi commented on #28277
This has been fixed in apex, so you would want to upgrade:
https://github.com/NVIDIA/apex/pull/466

[2019-10-18 12:49] YuryBolkonsky commented on #28277
@t-vi it's not fixed. in NVIDIA/apex#466 there is another user who also has this problem

[2019-10-18 13:10] t-vi commented on #28277
Yeah, well, if you use apex from some discontinued branch (I don't find the branch the user mentioned on github), you would not expect it to have the latest fixes. If you use apex from the branch that got the fix, it has the fix. I would advise to move the discussion to apex.

[2019-10-18 13:51] ezyang commented on #27627
cc @zou3519 for this question

[2019-10-18 14:00] andreaskoepf commented on #15870
Actually for the reduction cases the function has to return salar tensors. The output for empty inputs will be:

[code]

[2019-10-18 14:18] #22444 closed

[2019-10-18 14:18] ezyang commented on #28224
I quickly checked and there are no occurrences of `cudaSetDeviceFlags` in the codebase today. So I'm not sure why it's getting reset. @mruberry I'd assume the default mode would be what we do today in PyTorch.

If there's a way to get the first code sample to work, then we can just expose a very thin wrapper on the CUDA API, similar to some existing wrappers we have. But if it's necessary to set t

[2019-10-18 14:21] zou3519 commented on #27627
https://github.com/pytorch/pytorch/pull/26264 turns on named tensors for master.

https://github.com/pytorch/pytorch/pull/20162 is when I started working on it.

I'm the main contributor of code for named tensors, so you can look through all of the commits in my pull request history: https://github.com/pulls?q=is%3Apr+archived%3Afalse+is%3Aclosed+author%3Azou3519

[2019-10-18 14:24] vishwakftw commented on #9983
I think we should go with the maximum degree Pade approximation for all matrices in the batch.

@Lezcano we have our forward implementations in C++ residing in aten/src/ATen/native/LinearAlgebra.cpp (or a separate file MatrixFunctions.cpp) The derivatives go in tools/autograd/templates/Functions.cpp.

Would it be possible for you to port your code to C++

[2019-10-18 14:28] ezyang commented on #15821
That would be a reasonable place. There are many ways you could go about implementing these tests, but having a reference implementation is certainly one very good way of doing so.

[2019-10-18 14:30] ezyang commented on #28060
We also need to setup Python 3.8 CI. Also see https://github.com/pytorch/pytorch/issues/23490 on subinterpreter support

[2019-10-18 14:56] creotiv opened #28284 "Torch.log2 + Torch.round() different and strange behaviour"
## 🐛 Bug

During work with Mask-RCNN found such line '2**torch.tensor(approx_scale).log2().round()' which seemed strange to me due to scales<0 and round should round them to int

Different behaviour:

[code]

Also i didn't find anything about that in Docs.

PyTorch version: 1.2.0
GPU: Active
Environment: Google Colab GPU instance

[2019-10-18 14:58] csarofeen commented on #13402
My understanding is we need to get rid of this in-place operation for JIT analysis. As we would otherwise need to build alias analysis which would be challenging. CC @zdevito @mruberry

[2019-10-18 15:00] fmassa commented on #28284
Here is what you are missing.

Because `0 < scales < 1`, `scales.log2() < 0`. For example
[code]

[2019-10-18 15:00] #28284 closed

[2019-10-18 15:02] ezyang commented on #15982
I'm not sure.

[2019-10-18 15:03] creotiv commented on #28284
@fmassa
log2(2**x) == x

so 2**torch.tensor(0.123).log2() == 0.123
and torch.tensor(0.123).round() == 0. But 2**torch.tensor(0.123).log2().round() == 0.125

[2019-10-18 15:08] fmassa commented on #28284
Yes, because we are first rounding in the `log2` space, and then we do the power computation.
The code is equivalent to
[code]
If you want to get 0, just change the location of the parenthesis
[code]

[2019-10-18 15:10] steermomo commented on #7455
@suanrong Thanks a lot.

[2019-10-18 15:21] creotiv commented on #28284
@fmassa ok then why

`2 ** (torch.tensor(0.123).log2().round()) == 2 ** torch.tensor(0.123).log2().round() == 0.125`
and
`2**torch.tensor(0.123).log2() == (2**torch.tensor(0.123)).log2() == 0.123`
and
`(2**torch.tensor(0.123)).log2().round() == 0.`

There is definitely some problem with operation pipeline

[2019-10-18 15:30] albanD commented on #28284
I don't see the issue here?

In the first case, the parenthesis don't change anything. So all three are equal.

In the second case, you write `2^(log2(0.123)) == log2(2^0.123) == 0.123`

And the last one `round(log2(2^0.123)) == 0`

[2019-10-18 15:36] creotiv commented on #28284
@fmassa @albanD thanks guys.

[2019-10-18 15:53] ezyang commented on #26288
If you in-place modify inputs, yep, you should call mark_dirty. (Speaking of which, this doesn't seem to be documented in the extending autograd section, it should be...) (@albanD)

[2019-10-18 15:54] ezyang commented on #26288
Yep, that sounds like a good next step.

[2019-10-18 16:18] Lezcano commented on #9983
I could do that, but I am afraid that I don't have the time now. I will have some time for this again in December, but I will be quite busy until then.
I will leave the implementation there for now (it should be trivial to extend to batches in Pytorch) in case someone wants to go ahead and port the code. If not, I will do it in December.

[2019-10-18 16:20] vadimkantorov commented on #26288
A question: imagine we support `inplace=True` for `F.batch_norm`, would there be a way to compute grads for inputs and weights (once I undo leaky_relu)? Currently I do this with internal functions, but these are only used for `SyncBatchNorm`. Is there a way to do this in a generic way! (E.g. calling grad_fn explicitly?)

Another way would be a way to restore version of a tensor, but I think it nee

[2019-10-18 16:21] GuillaumeRochette opened #28286 "torch.mean(input, dim=()) grad_fn is not implemented."
## 🐛 Bug
It seems that for a specific case of torch.mean its grad_fn is not implemented, which raises an error during the backward pass. The same case for torch.sum is working though.

## To Reproduce
Here's is a sample code that reproduces the error:
[code]
[code]
## Expected behavior
It was working in 1.2.0 for both torch.sum and torch.mean.

## Environment
[code]

cc @zou3519

[2019-10-18 16:35] albanD commented on #26288
@ezyang The missing doc issue is already tracked here: https://github.com/pytorch/pytorch/issues/27365

What is the plan for the default value of this new argument?
Cudnn batchnorm always modifies these buffer inplace from what I see. That would mean that `inplace=False` will never use cudnn? That would lead to a potentially important perf regression if we make `False` the default.

[2019-10-18 16:41] haowu80s opened #28288 "NCCLUtils.hpp does not compile with libc++"
## 🐛 Bug

`NCCLUtils.hpp` does not compile with clang and libc++.

The following line makes a shared pointer of `NCCLComm`, whose destructor may throw exceptions.

https://github.com/pytorch/pytorch/blob/3629974c1e78b5dbd6286c4b33a5adffe2d68407/torch/lib/c10d/NCCLUtils.hpp#L55

This violates the standard.

The issue is similar to the ones reported in https://github.com/capnproto/capnproto/issues/5

[2019-10-18 16:51] vadimkantorov commented on #26288
@albanD as far as I understand, it should also store the input to compute the argument (because if it's not the case, then CudnnBatchNorm + ReLU(inplace=True) should not be correct)?

[2019-10-18 17:00] zou3519 commented on #28286
I think this may have been caused by named tensors. Named tensors change how torch.mean gets parsed at the python arg parser level. They change the behavior in the following way:
- the dimname overload is parsed before the intlist overload. `torch.mean(tensor, dim=())` used to get called with the intlist overload; now it is called with the dimname overload.

[code]

It sounds like there are two pr

[2019-10-18 17:06] ryh95 opened #28293 "RuntimeError: svd_cuda: the updating process of SBDSDC did not converge (error: 1)"
Hi,

when I run torch.svd() on a matrix with GPU, it raises the error
`RuntimeError: svd_cuda: the updating process of SBDSDC did not converge (error: 1)`

However, the torch.svd() has no problem with the matrix on CPU

Can someone help me figure out the reason?
Thank you!

The matrix is attached
[runtime_error_W.zip](https://github.com/pytorch/pytorch/files/3744970/runtime_error_W.zip)

[2019-10-18 17:18] #27844 closed

[2019-10-18 17:32] mrshenli opened #28294 "DDP should set grad to None for (globally) unused params"
Currently, DDP computes the param to bucket mapping upfront, and allreduce grads for all params in every iteration. For unused params, it will just set grad to zero. By doing this, optimizer cannot tell if a param indeed has a zero grad or it is not used in the current iteration. This could trigger convergence problems for optimizers with weight decay and momentum.

However, DDP cannot simply set

[2019-10-18 17:33] #25804 closed

[2019-10-18 17:33] jjsjann123 commented on #13402
No, I was suggesting to remove the in-place update on `running_mean` and `running_var`, as @csarofeen pointed out.

Just a note on the proposed solution 1.
Updating version counter does not resolve potential bug on JIT. If we do not properly mark function schema for batch_norm (not putting in-place annotation `(!)` to the stats input), aliasing analysis would not identify them as input/output tens

[2019-10-18 17:37] albanD commented on #26288
@vadimkantorov Sorry I though this was the issue to fix inplace operations on running_mean and running_var. Sorry. You're right !

[2019-10-18 17:38] albanD commented on #13402
@jjsjann123 note that removing the inplace update means that we cannot use cudnn batchnorm anymore.

[2019-10-18 17:47] jjsjann123 commented on #13402
Although it's not optimal, but we still can and Tensorflow does it that way.

We can have cudnn BN to run forward pass with 0 (or 1) momentum. Having a separate element-wise kernel to accumulate running_mean/running_var and then update it to the module.

[2019-10-18 17:50] jjsjann123 commented on #13402
Or if we decide to keep the in-place update here.
I'm shamelessly plugin an ad for my issue proposing handling of aliasing information [still in draft and could use some reviews & comments]: https://github.com/pytorch/pytorch/issues/28191
😜

[2019-10-18 17:56] SsnL commented on #28286
I agree that (2) sounds the correct fix here!

[2019-10-18 17:56] rishikksh20 commented on #28267
@driazati is there any way to copy all wieghts of GRU to new GRUCell by avoiding the torch script compilation error like this.

[2019-10-18 18:06] tueboesen commented on #11959
Is there any progress on this feature? I'm currently trying to implement something like this manually, but I'm having trouble.

[2019-10-18 18:16] vishwakftw commented on #9983
@Lezcano thanks. If I find time, I'll try doing it myself, or I'll leave it to anyone else to do it too. Otherwise, we'll wait for you.

Feel free to reach out with any questions you might have about the implementation anytime.

[2019-10-18 18:23] jerryzh168 commented on #28271
Can you provide more context? Maybe open a bug report and fill in the information in the template?

[2019-10-18 18:34] jerryzh168 commented on #28276
This might be a problem with the model itself, does it work in the original repo?

[2019-10-18 18:52] vishwakftw commented on #28293
Hi @ryh95, thank you for opening the issue.

This seems to an issue with MAGMA, possibly relating to the correctness of `gesdd` vs `gesvd`. Note: the matrix is well-conditioned, but has too many repeated singular values.

[2019-10-18 18:52] adamjstewart commented on #24334
For the record, this bug still occurs in the latest 1.3.0 release. Any updates on how to resolve this?

[2019-10-18 18:53] pritamdamania87 commented on #28257
IIUC, this line might be the problem: https://github.com/matthewygf/torch_interference/blob/master/image_classifier.py#L248. In Distributed Data Parallel, each worker needs to process exactly the same number of batches. Looking at your code it seems like the two processes on N3 are processing more number of batches and hence N1 finishes first and N3 is left hanging.

[2019-10-18 18:58] zhaojuanmao commented on #28257
@pritamdamania87 do we have check to throw error if number of batches are not equal btw processes?

[2019-10-18 19:14] henribru commented on #24310
My reason for wanting Windows wheels on PyPI is that I use both Windows and Linux and dependency management tools like Pipenv and Poetry do a bad job of letting you fetch packages from different locations depending on the platform. Juggling multiple requirements files gets annoying.

[2019-10-18 19:15] caiqi opened #28301 "gradient of gradient is still None after second backward"
## 🐛 Bug

## To Reproduce
[code]

[code]

To get the gradient of the gradient, I tried to use the norm of gradient as loss and backward the gradient norm. However, the gradient of the gradient is still None. It seems that the backward works but the grad is not saved.

## Environment

PyTorch version: 1.3.0
Is debug build: No
CUDA used to build PyTorch: 10.1.243

OS: Ubuntu 16.04.5 LTS
GCC version:

[2019-10-18 19:22] matthewygf commented on #28257
@pritamdamania87 apologies for my messy code, i think you are right, will test it out !

[2019-10-18 19:25] mrshenli opened #28302 "RRef.to_here() and local_value() should return future instead of blocking"
`RRef.to_here()` and `RRef.local_value()` will block until the value is retrieved. However, there are use cases where the application might want to fetch values of multiple RRefs, where returning a future can help to overlap communication delays.

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528

[2019-10-18 19:33] SsnL commented on #28301
Here your `grad` are just intermediate results, not leafs. Gradients by default are not accumulated for leaf tensors. If you need them, use `retain_grad`. Although most of the times you should just use `torch.autograd.grad` again.

[2019-10-18 19:33] #28301 closed

[2019-10-18 19:42] driazati commented on #28267
Can you copy the weights when you initialize your custom `Gru`? Since TorchScript only deals with modules after they're instantiated you can do anything that works in eager PyTorch, so maybe something like:

[code]

[2019-10-18 19:42] pritamdamania87 commented on #28294
Could you elaborate a bit on this in terms of how this causes problems? Also, we do something similar in distributed autograd with tensors that are not used. I'm assuming a similar convergence problem might be seen there?

[2019-10-18 19:44] #28257 closed

[2019-10-18 19:49] alanhdu opened #28303 "[jit][script] Support tuple unpacking assignments to class variables"
## 🐛 Bug

Right now, `torch.jit.script` does not seem to support tuple unpacking assignments to class variables (e.g. `self.a, self.b = (1, 2)`). Instead, you have to run something like:

[code]

This isn't a big deal because of the easy workaround, but it is kind of a papercut.

## To Reproduce

Using Pytorch 1.3, running the following script:

[code]

fails with

[code]

## Expected behavior

Fo

[2019-10-18 20:05] mrshenli commented on #28294
@pritamdamania87

It depends on the optimizer behavior. The problem @baobablyh is trying to solve is that, say param X is not used in one iteration, then its weight should not decay. However, by setting grads to 0, the optimizer cannot distinguish whether the grad is indeed zero or the param is actually unused. So, if we can set grad to None for globally unused params, it will be an extra signal t

[2019-10-18 20:10] baobablyh commented on #28294
For example, SGD optimizer does weight decay and momentum if grad is zero however skipping for None grad:
https://github.com/pytorch/pytorch/blob/master/torch/optim/sgd.py#L89

[2019-10-18 20:15] mruberry opened #28305 "Import torch sometimes fails in CI"
## 🐛 Bug

See

https://circleci.com/gh/pytorch/pytorch/3209401?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link/console

cc @ezyang

[2019-10-18 20:31] rajeevsrao opened #28306 "Torch ONNX export broken for RandomUniform and RandomUniformLike"
## 🐛 Bug

`torch.onnx.export` reports issues in exporting models with `torch.rand` and `torch.rand_like`.

## To Reproduce

Steps to reproduce the behavior:

Enable Case 2 or Case 4 and run the example below:

[code]

Errors reported by the torch.onnx exporter:

Case 2:
[code]

Cases 3 & 4:
[code]

## Expected behavior

ONNX RandomUniform export must by supported by torch and onnx model must be ge

[2019-10-18 20:33] SsnL opened #28307 "[jit] scripted module and user defined methods"
Currently, for a scripted module, user-defined methods that return `self` will return a **unscripted** module, yet builtin ones return the scripted one:

[code]

This could be intended. However, it is pretty unintuitive from user land. And it leads to weird cases like
[code]

The problem is more general. If the method returns, e.g., a child, then it will be a normal child, rather than a scripted,

[2019-10-18 21:00] z-a-f opened #28308 "jit script fails with `AttributeError: 'str' object has no attribute 'lineno'`"
## 🐛 Bug

## To Reproduce

minimum failing code:

[code]

Run the code above in **Python 2**.

The error message is

[code]

## Expected behavior

This code works in **Python 3**, and I was expecting it to behave similarly in 2.

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env

[2019-10-18 21:12] rohan-varma opened #28309 "Add C++ tests for process group agent"
## 🚀 Feature/Enhancement
Having C++ tests will allow us to test the behavior of process group agent at a lower level, and could be useful longer-term to prevent bugs from cropping up from process group agent. In particular, it is challenging to test some of the threads, mutexes, and condition variables that process group agent uses via Python, and having these tests in C++ will allow us to test th

[2019-10-18 21:14] ezyang commented on #16710
This is happening again on master

[2019-10-18 21:18] driazati commented on #28276
I tried your model (`gcn2_640x480.pt`), I'm running into a different error (both in Python `torch.jit.load` and C++ `torch::load`) on master (on Linux).

For
[code]

I get

[code]

Unzipping the `gcn2_640x480.pt` file and fixing that line in `./gcn2_480x640/code/gcn2_480x640.py` to be `_32 = torch.squeeze(torch.grid_sampler(input, grid, 0, 0, False))` makes the model load successfully, but that se

[2019-10-18 21:24] LeviViana commented on #23233
I've made available the wheels of PyTorch 1.3 for Raspberry Pi here: https://wintics-opensource.s3.eu-west-3.amazonaws.com/torch-1.3.0a0%2Bdeadc27-cp37-cp37m-linux_armv7l.whl

[2019-10-18 21:32] pritamdamania87 commented on #28257
@zhaojuanmao I don't think we have something like this. Do you have any ideas around how we can do this though? The processes are running independently from each other so I don't think that they are aware of how many batches each one has processed.

[2019-10-18 21:40] mohamedaboali1990 commented on #27738
So what is the replacement ?

[2019-10-18 21:51] sadanand-singh commented on #21743
enforcing encoding='utf-8' breaks down the case when one uses the dill module for pickling, as dill does not take 'encoding' as an argument!

[2019-10-18 21:53] sadanand-singh opened #28313 "Using dill pickle module for load and save"
In the latest codebase enforcing encoding='utf-8' breaks down the case when one uses the dill module for pickling, as dill does not take 'encoding' as an argument!

cc @ezyang @gchanan @zou3519 @jerryzh168

[2019-10-18 21:55] isalirezag commented on #27738
I still see that error, although i have cuda 10.1 and nvcc -V shows that i have cuda 10.1

[2019-10-18 21:57] smessmer commented on #26171
Most of these concerns should be fixed now in a recent series of PRs. Most notably https://github.com/pytorch/pytorch/pull/26337, https://github.com/pytorch/pytorch/pull/28314 and https://github.com/pytorch/pytorch/pull/28186.

[2019-10-18 22:18] rishikksh20 commented on #28267
@driazati thanks I already supposed that the last option actual I tried to avoid to copy weights in `__init__()` no problem this resolve the issue anyway.
But also I am not able to create new data tensor with `.new()` operator, is any solution for that:
[code]
[code]

[2019-10-18 22:21] samuelstanton opened #28318 "`torch.nn.Module._load_state_dict` catch-all error message can be misleading"
## 🐛 Bug

`torch.nn.Module._load_state_dict` loads parameter values by an in-place `copy_` operation on the module parameters. Sometimes the parameter values may be initialized to an expanded tensor, in which case the `copy_` call fails with a catch-all error message,

[code]

## To Reproduce

[code]

## Expected behavior

At the very least the correct error message should be displayed,

[code]

I

[2019-10-18 22:35] HeikoSchuett opened #28319 "Seg-fault in LayerNormKernelImpl"
## 🐛 Bug

While implementing a recurrent neural network with Layer normalization on the GPU I get a segmentation fault in the kernel implementation of the normalization. The model runs fine on CPU.

## To Reproduce

Steps to reproduce the behavior:

1. create a model with layerNormalization and try to run it on GPU
2. run forward pass

Error message in debugger is:

Thread 1 "python" received sign

[2019-10-18 22:51] tharindu-mathew opened #28320 "Unable to install pytorch with cuda 10.0 using conda"
## 🐛 Bug

Corrupted archive of pytorch 1.3.0 with cuda 10.0

## To Reproduce

Steps to reproduce the behavior:

install pytorch with cuda 10.0 in conda

## Expected behavior

installation of pytorch with cuda 10.0

## Environment
Collecting environment information...
PyTorch version: N/A
Is debug build: N/A
CUDA used to build PyTorch: N/A

OS: Debian GNU/Linux 9.11 (stretch)
GCC version: (Debian 6

[2019-10-18 22:56] tharindu-mathew opened #28321 "CUDA unavailable when pytorch 1.3.0. installed with cudatoolkit 10.1"
## 🐛 Bug

torch.cuda.is_available returns false

## To Reproduce

simply install pytorch conda install pytorch torchvision cudatoolkit=10.1 -c pytorch

## Expected behavior

cuda being available

## Environment
Collecting environment information...
PyTorch version: 1.3.0
Is debug build: No
CUDA used to build PyTorch: 10.1.243

OS: Debian GNU/Linux 9.11 (stretch)
GCC version: (Debian 6.3.0-18+deb9u

[2019-10-18 23:00] elbamos commented on #27627
The issue doesn't appear with #20162, but I'm not sure how to test if the namedtensor code is even being included in that revision of it.   The build reports that named tensors will be enabled, but when I run, `is_named` etc don't appear to be members of the tensor class.

The issue definitely does appear with #26264, which I tested above.

I tried working through the commits in zou3519's pull his

[2019-10-18 23:04] BowenBao opened #28322 "[jit] Bug with list remove tensor"
## 🐛 Bug

Does not work with tensors of size > 1.

## To Reproduce

Steps to reproduce the behavior:

A small change from zeros(1) to zeros(2) in the existing test case.

[code]

Errors with

[code]

## Environment

PyTorch built from master.

cc @ezyang @gchanan @zou3519 @jerryzh168 @suo

[2019-10-18 23:06] z-a-f opened #28323 "[quantization] fix the seed for hypothesis in CI"
Currently the hypothesis is semi-random on CI. We need to fix the seed to something constant.

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100

[2019-10-18 23:20] driazati commented on #28307
This is expected, but like you said a little surprising and it’s unclear what’s going on. `set_mult_` isn’t compiled since nothing uses it, so it gets called entirely in Python, whereas `train` and `forward` are compiled.

It should work if you add `@torch.jit.export` to `set_mult_`.

We could consider not allowing Python methods to be called from compiled script modules (though we have to keep th

[2019-10-18 23:24] apoms commented on #24081
Any updates or workarounds? Observing this same issue with a DGX-1 (Tesla V100s) running CUDA 10, driver 430.50, and pytorch 1.3.0.

[2019-10-18 23:24] SsnL commented on #28307
@driazati I agree. Actually keeping them around and doing on-demand compiling sounds reasonable to me.

[2019-10-19 00:02] dskhudia commented on #28323
Wouldn't that result in less coverage? Currently every run of hypothesis in CI tries some random examples from search space. If random seed is fixed, it will try the same examples. Wouldn't it?

[2019-10-19 00:08] jerryzh168 commented on #28323
They are derandomized I think, as long as you import TestCase in common_utils.py

[2019-10-19 00:08] ssbotelh commented on #25888
The authors of this paper (https://arxiv.org/abs/1706.02677) claim to achieve great scaling on ResNet50 training by, among other things, overlapping gradient computation and communication:

If I understand it correctly, this would only be possible using something like `register_backward_hook` on modules. Since it seems like it'll be a while before this feature is fixed in Python (#598 and #12331)

[2019-10-19 00:12] z-a-f commented on #28323
My idea is that we run a fixed seed on CI in order ot make it deterministic, but locally we force it to run with a different seed every time. Ideas?

[2019-10-19 01:26] peterjc123 commented on #28321
Please update your GPU driver to at least 418.39 for CUDA 10.1.

[2019-10-19 01:29] peterjc123 commented on #28320
Maybe it was just because the downloaded file is incomplete. You could remove `/home/blah/.conda/pkgs/pytorch-1.3.0-py3.7_cuda10.0.130_cudnn7.6.3_0.tar.bz2` and try again.

[2019-10-19 01:47] ryh95 commented on #28293
It seems that `gesdd` is used for both CPU and GPU versions of torch.svd(), according to the documentation.

So, why this relate to the correctness of `gesdd` vs `gesvd`?

[2019-10-19 02:04] peterjc123 commented on #28271
@jerryzh168 Information added.

[2019-10-19 04:14] tharindu-mathew commented on #28320
I did not mention it in the original ticket but I did try that. After a few
attempts only I opened this ticket.

On Fri, Oct 18, 2019 at 9:30 PM peterjc123 <notifications@github.com> wrote:

--
Regards,

Tharindu

blog: http://mackiemathew.com/

[2019-10-19 04:15] jokerkeny commented on #25883
Hi @yf225 , I want to give UpsamplingNearest2d a try, as I did superresolution before and I am really interested in this part. It's my first time contribute C++ in such a big project. Could I?

[2019-10-19 04:23] yuli-future-dreamer opened #28328 "Copy from torch.QInt8Storage to torch.QInt8Storage isn't implemented"
## 🐛 Bug

I want a deepcopy of a quantized model. However, when I am applying copy.deepcopy() to a quantized model, it returns to me "copy from torch.QInt8Storage to torch.QInt8Storage isn't implemented". What should I do?

## To Reproduce

Steps to reproduce the behavior:

1. Quantize a model follow the quantization tutorial. (model fuse + prepare + calibrate + convert)
2. apply copy.deepcopy() f

[2019-10-19 05:23] snehabhapkar10 commented on #22676
Can you please tell, how to do it ? because uninstalling and installing tensorboard didn't work for me too.

[2019-10-19 06:00] bdusell opened #28329 "No in-place version of where()"
## 🚀 Feature
There is no way to perform the functionality of `torch.where()` in-place. This feature would either add a `.where_()` method to `Tensor` or an `out` parameter to the existing `torch.where()`, or both.

## Motivation

All of the usual reasons for doing operations in-place.

## Pitch

As stated above, add a `.where_()` method to `Tensor` or an `out` parameter to the existing `torch.wher

[2019-10-19 06:19] t-vi commented on #28319
Could you fill us in on some more details here?
Ideally you'd have a small runnable code bit that crashes PyTorch in the way you describe. If that isn't an option, shape information and the relevant parameters would be great.

[2019-10-19 06:37] qzhu2017 commented on #10661
I got the similar speed as @artemru reported. I also attempted to use [opt-einsum](https://pypi.org/project/opt-einsum/) to optimize the order in my code where einsum was used in several places. However, it does not help in general. Will someone work on this in near future?

[2019-10-19 07:20] t-vi commented on #10661
So the issue we dealt with here was slowness of `torch.bmm` underlying `torch.einsum`. This has been solved.
The issue that you want solved is recorded as https://github.com/pytorch/pytorch/issues/21760.
From what I read there, it is being worked on.

[2019-10-19 07:55] vippeterhou opened #28331 "How to save quantized model in PyTorch1.3 with quantization information"
## ❓ How to save the quantized model in PyTorch1.3 with quantization information
Is there any way to save the quantized model in PyTorch1.3, which keeps the original information remaining?

I have known that I can save it after tracing it by:
[code]
Although `mq` has the right result, it, **however**, losts the quantized information, such as module(layer) name, zero point, scale, etc.

cc @jerryzh

[2019-10-19 08:11] WarBean commented on #19057
I encounter the same problem when compiling torch 1.2.0 with gcc 5.3 or gcc 4.9. However, when compiling with gcc 4.8, everything is ok: the COMPILER_SUPPORTS_LONG_DOUBLE check does not block, but just fails and skip to the next check.

[2019-10-19 09:00] sipan17 opened #28332 "Passing 'pretrained' parameter to torch.hub.load raises error"
## 🐛 Bug

Tried to load FB released pre-trained model on Instagram on PyTorch Hub. It works without passing the 'pretrained' parameter. But if the parameter is passed it raises error. I think this will cause inconsistency with loading of other models.

## To Reproduce

Steps to reproduce the behavior:

model = torch.hub.load('facebookresearch/WSL-Images', 'resnext101_32x8d_wsl', pretrained=True)

[2019-10-19 09:25] WarBean commented on #19057
Very interesting that when I try gcc-5.4, the COMPILER_SUPPORTS_LONG_DOUBLE check neither blocks nor fails.

[2019-10-19 12:55] natezhenghy commented on #24081
Same issue. Pytorch 1.3, Driver 418.87, CUDA 10.1.

[2019-10-19 15:00] ayush-1506 commented on #28033
@zou3519 I'd like to work on this issue, if that's not a problem? Please let me know if I should go ahead.

[2019-10-19 15:15] SsnL commented on #28332
The error is due to their `hubconf`. See
https://github.com/facebookresearch/WSL-Images/blob/c4dac640995f66db893410d6d4356d49a9d3dcc0/hubconf.py#L22-L39

You should open an issue in their repo. This repo is about pytorch core code.

[2019-10-19 15:15] #28332 closed

[2019-10-19 15:52] vadimkantorov commented on #26288
@ezyang Concerning the native C++ methods for batch_norm forward, it seems the relevant methods are:
[`std::tuple<Tensor, Tensor, Tensor> batch_norm_cuda_template(const Tensor& input_, const Tensor& weight_, const Tensor& bias_, const Tensor& running_mean_, const Tensor& running_var_, bool train, double momentum, double epsilon)`](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native

[2019-10-19 16:01] ismarou commented on #24870
@riccardosamperna I believe you have to choose the first option as the grid_sample documentation page states that the final_grid should lie between -1 and 1, but I am not sure either, as most implementations found after a bit of searching select the second option.

[2019-10-19 17:06] lironmo commented on #20532
@IouJenLiu, no - we had to switch to different framework.

[2019-10-19 17:11] t-vi commented on #28318
Thank you for this! The error message should absolutely be improved.

Personally, I would be very hesitant to make this silently change weights that the user might have carefully arranged (e.g. I could imagine a model where all parameters in one large continuous chunk of memory).

[2019-10-19 17:52] samuelstanton commented on #28318
Sure, I can see why that would be undesirable. Thanks for taking up the issue!

[2019-10-19 18:26] yurivict opened #28336 "The reporitory is mislabeled: The master git label v1.0rc0-8021-g56eb4f7daa doesn't match the latest release v1.3.0"
```git describe --tags``` on the master branch says that it is a release candidate for the version ```1.0```: ```v1.0rc0-8021-g56eb4f7daa```, but the releases page lists ```1.3.0``` as the latest release.

[2019-10-19 18:45] yurivict opened #28337 "Compillation breaks with clang8: no matching constructor for initialization of 'fbgemm::ReQuantizeOutput<false, fbgemm::QuantizationGranularity::TENSOR, float>'"
[code]

Version 1.3.0
clang8
FreeBSD 12

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100

[2019-10-19 21:18] alanhdu opened #28339 "[jit][script] torch.jit.script does not support nn.ModuleDict"
## 🐛 Bug

`torch.jit.script` does not seem to support code that uses an `nn.ModuleDict`.

## To Reproduce

If we try to run this code, using the example module from the `nn.ModuleDict` docstring:

[code]

we get the following stack trace:

[code]
## Expected behavior

## Environment

[code]

cc @suo

[2019-10-19 23:46] twoertwein opened #28340 "None buffer doesn't get set by load_state_dict"
## 🐛 Bug
A module might declare a buffer of unknown size in its init function by using:
[code]
The buffer might later contain a valid tensor. Saving this (now non-None) buffer with `state_dict()` works but loading this state dict to a newly instantiated module (where the buffer is currently None) with `load_state_dict()` fails as the buffer is unexpected.

## To Reproduce

Steps to reproduce the b

[2019-10-20 00:00] Balandat opened #28341 "LinearOperator Abstraction / Structure-Exploiting LazyTensors for Linear Algebra"
## Feature
Abstraction for lazy evaluation of tensors that can make use of special matrix structure for linear algebra operations, similar to Tensorflow's / scipy's `LinearOperator`.

## Motivation
In many situations, sequences of operations involving tensors can often be expressed and computed without ever instantiating the involved tensors. This can be achieved using lazy evaluation, so that a c

[2019-10-20 00:12] qzhu2017 commented on #21760
What is the status of this issue? I just checked Pytorch-1.3.0. For big arrays, `torch.einsum` is still much slower than `numpy.einsum` at CPU level.
[code]

I also tried to optimize the order of summation based on [opt_einsum](https://pypi.org/project/opt-einsum/).
[code]

It gains somewhat improvement, but still far slower than Numpy. It would be nice to have this function in torch. I am recentl

[2019-10-20 01:25] adam-erickson commented on #16805
Also, be sure to use MacOS clang and not LLVM clang...

[2019-10-20 07:21] kindloaf commented on #16847
@suo It seems that `jit.trace` still doesn't support dicts when value types are not the same. Following is a snippet that breaks:
[code]
output:

Is this expected? If yes, any plan to support dicts with different value types?

[2019-10-20 07:25] kwea123 commented on #13807
similar issue here, I am using windows 10.

[2019-10-20 08:15] lutzroeder opened #28345 "error executing torch_shm_manager in cifar10_tutorial.py"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

[code]

## Environment

PyTorch version: 1.3.0
Is debug build: No
CUDA used to build PyTorch: None

OS: Mac OSX 10.15
GCC version: Could not collect
CMake version: version 3.15.4

Python version: 3.7
Is CUDA available: No
CUDA runtime version: No CUDA
GPU models and configuration: No CUDA
Nvidia driver version: No CUDA
cuDNN vers

[2019-10-20 09:27] PyExtreme commented on #25883
Hi @yf225 , I have been working on `CrossEntropyLoss` and since there is no C++ Aten implementation of it, I have planned to write the code for the functional module's `loss.h` (_torch/csrc/api/include/torch/nn/functional/loss.h_) which doesn't rely on C/C++ either.
However, the formula of `CrossEntropyLoss` is not clear here in the docs:
https://pytorch.org/docs/stable/nn.html#crossentropyloss
Th

[2019-10-20 11:43] kgodara commented on #28345
Experienced the same issue on OSX. Setting `num_workers=0` on the DataLoaders solved it, even though the tutorial only recommends it for Windows.

[2019-10-20 13:23] skywalker023 commented on #16203
Is there any fix to this?
I'm also having the same problem.

[2019-10-20 14:15] mirth opened #28346 "Error for quantize_dynamic(resnet18) + torch.jit.trace + ios-demo-app/PyTorchDemo"
## 🐛 Bug

I'm getting an error while loading quantized resnet18 on iphone with [ios-demo-app/PyTorchDemo](https://github.com/pytorch/ios-demo-app/tree/master/PyTorchDemo).

[code]

## To Reproduce
Convert the model with:
[code]

Run the [ios-demo-app/PyTorchDemo](https://github.com/pytorch/ios-demo-app/tree/master/PyTorchDemo) with `resnet18_qint8.pt`. Get the stacktrace above.
Here is the forked

[2019-10-20 14:51] ezyang commented on #28033
Sure! However, I am not sure we are quite clear what exactly should be done here (unless @zou3519 you have a better idea than me). I suggest reading the code and then writing up a short proposal here that we can check over before you start coding.

[2019-10-20 16:16] yf225 commented on #25883
@jokerkeny Thanks a lot for your interest! I just found that `UpsamplingNearest2d` subclasses from `Upsample` and therefore we'll need to have `Upsample` first. @jon-tow Curious are you working on `Upsample`, or do you mind handing it over to @jokerkeny ? Thanks a lot! :D

[2019-10-20 16:25] yf225 commented on #25883
@PyExtreme Thanks a lot for the investigation! I believe the `CrossEntropyLoss` module calls `F::cross_entropy()`, and in the Python version, `F.cross_entropy()` does the following:
[code]
We already have `F::log_softmax` in C++ functional modules, but we still need to implement `F::nll_loss`. Therefore I believe the best way to sequence the work is for us to work on `torch::nn::NLLLoss` first (wh

[2019-10-20 16:25] xsacha commented on #26391
[code]

Still happening in 1.3.0

[2019-10-20 16:38] PyExtreme commented on #25883
Hi @yf225 , yeah planning to translate that only but first work on `NLLLoss`.

[2019-10-20 16:52] yf225 commented on #25883
@PyExtreme Thanks a lot for your help!

[2019-10-20 17:11] jon-tow commented on #25883
Hey @yf225! I’ve been working on `Upsample` but it’s been a bit awkward to port to C++. The Python API uses optional `size` and `scale_factor` List parameters for {1, 2, 3}D based inputs. The closest dynamic behavior would be using a `c10::optional<std::vector<...>>` for the two args but this leads to  unergonomic `UpsampleOptions` construction. For example, to provide a `scale_factor` option one

[2019-10-20 17:23] leopd opened #28347 "arange sometimes changes dimensionality of output tensor"
## 🐛 Bug

Using `torch.arange` with an `out=` target Tensor object, it will sometimes change the dimensionality of the target Tensor.  I'm creating a (1,N) tensor, and sometimes calling `arange` changes it to a (N+1) vector.  Same on cuda or cpu.

## To Reproduce

[code]

This will output:
[code]

## Expected behavior

`torch.arange` should not change the shape of the target Tensor.

## Environmen

[2019-10-20 17:48] yf225 commented on #25883
@jon-tow Thanks so much for the investigation! Yes I think in that case we do need to use `c10::optional<std::vector<...>>` for `size` and `scale_factor` - I am wondering would `UpsampleOptions().scale_factor({0.5})` work or does it give an error?

Thanks a lot for the catch about the deprecation of `UpsamplingNearest2D` and `UpsamplingBilinear2D` as well! @jokerkeny My apologies for the confusion

[2019-10-20 19:23] 13952522076 commented on #15513
So, if there is any method to speed up group convolution in PyTorch? Thanks a lot.

[2019-10-20 19:24] 13952522076 commented on #15513
I have tested cuDNN 7.6.3 + PyTorch1.3, there is almost no improvement for ResNeXt.

[2019-10-20 20:16] yaysummeriscoming commented on #15513
I tested with MobileNet V2 & ShuffleNet V2, saw maybe 10%

[2019-10-20 21:07] apaszke commented on #23475
Explicit jacobian and hessian are still relatively easy to do as shown [in this gist](https://gist.github.com/apaszke/226abdf867c4e9d6698bd198f3b45fb7). We should upstream those functions so that people don't have to write them out by hand though. In the future we'll also be able to compute batched gradients, thanks to the nested tensor patches that @cpuhrsch is working on.

[2019-10-20 22:18] #27726 closed

[2019-10-20 22:39] goksuguvendiren commented on #20356
https://github.com/pytorch/pytorch/pull/25502 seems to have merged, are there any updates?

[2019-10-20 22:58] agadetsky commented on #20240
@igorsyl do you have any updates?

[2019-10-21 00:44] licangqiong commented on #24891
I have also got this error, after updating pytorch 1.3.0, this issue is solved.

[2019-10-21 01:44] suo commented on #28322
Thanks for the report!

[2019-10-21 02:05] jokerkeny commented on #25883
@yf225 That's ok. It's my bad that I didn't check the newest python api source code, where `UpsamplingNearest2D` and `UpsamplingBilinear2D` just call its parent `Upsample`'s method and depreciated.

Can I try `clip_grad_value_` in Utilities?

[2019-10-21 02:14] heqilearning commented on #27970
The result on the version1.1 and version1.2 are the same, but I don't test  on version1.3

[2019-10-21 02:20] frankong commented on #24900
I am able to reproduce this issue with large enough N, such as `N = 150000 * 10`.
I believe the issue has to do with memory allocation of `VT` in `svd`. Even when `some=True`, `VT` still allocates an `n x n` matrix. See:
https://github.com/pytorch/pytorch/blob/1e4832ffad3f2911c15611c107d77c4e43fadad6/aten/src/ATen/native/LinearAlgebraUtils.h#L290-L296

Whereas `U` only allocates an `m x min(m, n)`