[2020-02-26 11:49] #32500 closed

[2020-02-26 11:52] JamieMair opened #33811 "Models saved in C++ LibTorch with torch::save, cannot be loaded in python using torch.load"
## 🐛 Bug

Models saved in C++ LibTorch with torch::save, cannot be loaded in python using torch.load. When I save a custom model (a class which inherits from torch::nn::Module) using torch::save(model, filepath), the result is a zip archive (.pt). The archive has the same structure as [it should](https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/docs/serialization.md) but python comes

[2020-02-26 11:56] JamieMair commented on #33088
I have used cmake on both Windows and Linux and it works as expected on both.

[2020-02-26 11:56] #33088 closed

[2020-02-26 12:50] h6197627 opened #33812 "unsupported operation: more than one element of the written-to tensor refers to a single memory location"
## Bug report
In recent version of PyTorch this code
[code]
throws

while for older versions it was legal code. Is it expected new behavior or some bug?

cc @ezyang @gchanan @zou3519

[2020-02-26 13:25] bhaveshkr opened #33813 "Transformer to ONNX: we don't have an op for aten::uniform but it isn't a special case."
## 🐛 Bug

I've trained a transformer_iwslt_de_en model and loaded using TransformerModel.from_pretrained. I'm getting runtime error (aten:uniform is not available) while exporting to ONNX. Am I missing something? Or It is the expected behaviour at the moment.

## To Reproduce

Steps to reproduce the behavior:

Load the pre-trained transformer_iwslt_de_en model and export it to ONNX.

src_tokens =

[2020-02-26 13:58] agolynski commented on #33811
The error seems a bit strange "ModuleNotFoundError: No module named '__torch__'". Have you tried saving/loading models from py<->py or cpp<->cpp to make sure that works for you?

[2020-02-26 14:12] guaidoukx commented on #28500
Oh, I meet the same thing!

[2020-02-26 14:12] huangjun12 commented on #12533
hi,  I meet the same error, so what's the version of caffe2 are you used in such case?

[2020-02-26 14:13] guaidoukx opened #33814 "sparse tensor on cuda error. RuntimeError:device of indices (0) must match device of values"
## 🐛 Bug

when I want to build a tensor on cuda, a RuntimeError: device of indices (0) must match device of values (5) comes up.

## To Reproduce

Steps to reproduce the behavior:
I just want to build a sparse matrix, to run on cuda, but there are some bugs.

[code]
It reports:
[code]
But 'index' and 'data' are all in device(cuda:5).
I guess, it may be caused by https://github.com/pytorch/pytorch/

[2020-02-26 14:57] albanD commented on #33661
Hi,

This is not really runable locally as we don't have the checkpoint or your custom modules.
Could you try to get a smaller code sample that does not use these?

[2020-02-26 14:59] #33814 closed

[2020-02-26 15:33] albanD commented on #33613
Thanks for the smaller repro !
I tried it on two different machines (macos and centos-based linux) but both run all the way to the end of the script without any issue. I was using python 3.6/3.7 and pytorch 1.4+

Could you try running with latest pytorch ?

[2020-02-26 15:49] ilia10000 commented on #33613
It says I already have the latest when I try to update.
When I get the environment though, it says PyTorch Version 1.3.1+cpu but below, the actual version of PyTorch is listed as 1.4.0.
[code]
I also tried with the nightly build and still had the segfault.

[code]
Did you use the cpuonly PyTorch install when you were trying to repro? Maybe that's where the issue arises.
I used these commands to in

[2020-02-26 15:57] albanD commented on #33613
I'm not using conda. And using a cpu build as I'm running on machine without gpu.
But the version show `PyTorch version: 1.3.1+cpu`. You have multiple pytorch install (one from pip and one from conda) and the one from pip hides your update from conda:
[code]

[2020-02-26 16:02] ilia10000 commented on #33613
Wow, I can't believe I didn't realize that!
I assumed torch was a separate package from pytorch (and also didn't realize it would supercede the conda install).
Sorry for wasting your time on that!
Closing the issue since it seems like removing the pip one fixes the segfault.

[2020-02-26 16:02] #33613 closed

[2020-02-26 16:07] saryazdi commented on #33798
@ngimel With numpy, eventhough you don't know what the iteration order is, if you run the experiment multiple times, it will give you the same result (no stochasticity) which is not the case for Torch with CUDA backend.

@xwang233 Then this is something the developers are already aware of for [index_add_](https://pytorch.org/docs/stable/tensors.html#torch.Tensor.index_add_), but no mention of it f

[2020-02-26 16:08] zimenglan-sysu-512 commented on #22488
any updates? thanks.

[2020-02-26 16:08] albanD commented on #33613
Very likely that it was picking some C libraries from one install and some others from the other. Leading to wrong cpp functions and segfault.
Good that it is solved!

[2020-02-26 16:51] 1926627357 commented on #13061
I come with this bug: #13061 and I successfully fix it after reading all comments above
I just make a summary about it
Centos 7 Cuda10.0+Cudnn
... do according to the requirements of the README.md
but before you execute "setup.py":

1. python setup.py clean
2. export CUDA_HOME=%your cuda root dir%
3. export CUDNN_LIB_DIR=%your cuda root dir%/lib64
4. export CUDNN_INCLUDE_DIR=%your cudnn root dir%/

[2020-02-26 17:08] Baranowski commented on #33439
The cause is in `_legacy_load()` in `torch/serialization.py`. In line 766 we try to load the entire tensor (`result = unpickler.load()`) and validate that indices are valid. But the indices are stored in another (dense) tensor and its storage has not yet been loaded by this point. The storages will be only loaded in the following statements of the same function:

[code]

Possible solutions:
* Load

[2020-02-26 17:14] ezyang commented on #20376
I'm raising the priority of this as the lack of dtype check is why https://github.com/pytorch/pytorch/issues/33651 was not caught in testing.

[2020-02-26 17:21] nikitamehrotra12 commented on #33661
I think the error is in the data loader so you can try the data loader code on some toy dataset. And as I mentioned earlier this error comes after a variable number of iteration/epoch so I am not sure whether if it will come on the toy dataset or not.

[2020-02-26 17:21] ngimel commented on #33798
numpy explicitly does not give guarantees that result will be the same. The fact that it is the same is a current implementation detail that can be broken and no one should rely on that. `index_put_` documentation already has a relevant language:
[code]

[2020-02-26 17:36] albanD commented on #33661
How do you know that? Can you get a stack trace where the error happens exactly?

[2020-02-26 17:39] ezyang commented on #32305
Yeah, it is pretty weird that bincount returns only float or double tensor.

[2020-02-26 17:45] ezyang commented on #20376
Note that we've always done conversions for a really long time; it's as old as 88b42324e73a603fa585583555e2a7a270ac1e89

[2020-02-26 17:54] orionr commented on #24157
Looks like we are at a good spot with PyTorch 1.4, so closing. Please open a new issue if you continue to have problems and thanks.

[2020-02-26 17:54] #24157 closed

[2020-02-26 17:59] vadimkantorov commented on #33804
@peterjc123 @owenhust one debugging option may also be getting stack traces from a live process via sth like Process Explorer

[2020-02-26 18:03] #32006 closed

[2020-02-26 18:11] nikitamehrotra12 commented on #33661
Okay...I will try to get a stack trace and get back to you.

It would be great if you can you guide me for generating a stack trace here, as I am new to this?

[2020-02-26 18:12] #23925 closed

[2020-02-26 18:21] mruberry commented on #33809
Hi @lyc6749, thanks for your question. Please ask it on the forums: https://discuss.pytorch.org/. They're very active and the best place to get an answer to your question.

[2020-02-26 18:21] #33809 closed

[2020-02-26 18:21] #33647 closed

[2020-02-26 18:23] KsenijaS commented on #31464
Can you please send info about your environment, what versions of pytorch, onnx, etc you use?

[2020-02-26 18:24] mruberry commented on #33804
@owenhust It will be difficult for us to help with this issue without a smaller code snippet that reproduces the issue. Can you try simplifying the network and still get the hang?

Another place to get more advice on debugging your backwards pass (in general) is the PyTorch forums: https://discuss.pytorch.org/.

[2020-02-26 18:32] vincentqb commented on #33801
Closed by #33428. Please feel free to re-open if the issue continues.

[2020-02-26 18:32] #33801 closed

[2020-02-26 18:41] zasdfgbnm opened #33820 "Redirect docs.pytorch.org to pytorch.org/docs"
This page is 404:
http://docs.pytorch.org/

This can be confusing, and we should issue a redirect to pytorch.org/docs

cc @ezyang @gchanan @zou3519

[2020-02-26 18:42] mruberry commented on #33757
I just tried this and got a torrent of errors, which isn't especially surprising. If you're only receiving this error you may not be setting your MYPYPATH environment variable properly. Regardless, you probably want to ignore PyTorch imports when using MyPy.

Please see the MyPy documentation for more on its (complex) import semantices.

[2020-02-26 18:47] ezyang opened #33821 "Method overrides and instantiate_device_type_tests don't play nicely"
Steps to reproduce:
1. Add an override to `assertEqual` in a class that is instantiated by `instantiate_device_type_tests`
2. Run the test and see if your override is called

Expected result: It is called
Actual result: it is not

cc @mruberry

[2020-02-26 18:51] ezyang commented on #33821
This is because the determination of members per

[code]

will exclude all members that already exist on the parent class. Thus, overriding is not possible.

[2020-02-26 18:52] riyadshairi979 opened #33822 "Scalablity of concurrent pytorch models"
Hi, what is a good way to utilize all threads when running multiple pytorch models. For example, if I run inference on one single model like below, all threads do almost equal amount of work.

[code]

But if I run multiple models like below, one thread gets heavily loaded.<br/>

[code]
Any suggestion, on how to configure/design etc.?

cc @VitalyFedyunin @ngimel

[2020-02-26 18:55] mruberry commented on #33821
Yep. Thanks Ed! I'll fix this.

[2020-02-26 18:57] ezyang commented on #33821
@mruberry Here's what I'm using locally to work around:

[code]

[2020-02-26 18:58] mruberry commented on #33821
Haha, do you just want to submit a PR, @ezyang?

[2020-02-26 19:01] ezyang commented on #33821
If you like my modification I can roll it up with the work I'm doing

[2020-02-26 19:03] cjolivier01 commented on #19764
This doesn't happen when I use anaconda python3, but does when using system ubuntu python3 (default). presumably, anaconda links to older mkl which doesn;t do the dlopn on libomp5

[2020-02-26 19:23] mruberry commented on #33821
Let me test a few things and I'll let you know.

[2020-02-26 19:28] ezyang commented on #33821
There is a submarine problem with the patch, btw, which is that `super(classname, self)` doesn't work as we removed `classname` from `globals()` so it's out of scope. So you have to hardcode the superclass to call.

[2020-02-26 19:49] jerryzh168 opened #33827 "change dtype for scales/zero_points in per channel quantization to float Tensor and int Tensor"
Currently it's double and long since previously we are using python list and python only have double and long, now that we have changed type of scale/zero_point to Tensor, we can have float Tensor and int Tensor now.

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a

[2020-02-26 19:52] suo opened #33828 "RFC: JIT C++ source code reorganization"
Right now the, the layout of `torch/csrc/jit/` is pretty random. It's mostly flat, with some folders that may or may not make sense.

I propose reorganizing the JIT source tree to better reflect the actual components of the JIT. There are three goals for this reorg:
1. Help newcomers navigate the JIT codebase by providing hints about the structure. Experienced JIT developers probably know what fil

[2020-02-26 19:58] jamesr66a commented on #33828
LGTM.

Where does Operator-related stuff go? e.g. `register_prim_ops`

[2020-02-26 19:59] suo commented on #33828
ccing frequent contributors to this part of the code:
@zdevito, @ezyang, @jamesr66a, @eellison, @driazati, @ZolotukhinM, @t-vi, @jerryzh168, @Krovatkin, @xuhdev, @spandantiwari, @jjlilley, @ljk53, @iseeyuan, @ailzhang, @wanchaol

[2020-02-26 19:59] suo commented on #33828
today they are in `runtime`. They do cut across things so I am not sure about that placement. Conceivably: a separate `operators` folder?

[2020-02-26 20:00] supriyar opened #33830 "Error when calling `prepare_qat` on model with PerChannelQuant support"
## 🐛 Bug

In QAT, we save the quantized_state_dict for evaluation during inference. This state_dict is saved after calling `convert` on the model.
When loading the state_dict, we should be able to call `prepare_qat` on the model, but that throws the following error

[code]
## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

If in the above code, we change `prepare_qat`

[2020-02-26 20:03] eellison commented on #33828
LGTM. one suggestion is to have python-only files mirror the rest of the file structure, so for instance `python_sugared_value.cpp` would be `python/frontend/python_sugared_value.cpp`. but i don't care that much, in general i would say this is an improvement and we can always separately merge follow ups instead of holding this up.

[2020-02-26 20:03] t-vi commented on #33828
Sounds great.

[2020-02-26 20:08] #26123 closed

[2020-02-26 20:11] Sentient07 opened #33831 "Allow typecasting of uint16 to float32"
## 🚀 Feature

Currently, `torch.tensor` does not support conversion of `uint16` to `float32` format.

[code]

## Motivation

A present easy workaround as mentioned in the error message would be to convert to `int16` and then to `float32`. I think this redundancy can be removed

## Pitch

Useful in case of depth -> disparity conversion.

## Alternatives

[code]
works just as fine for my case

[2020-02-26 20:12] ngimel commented on #33822
Please see this note https://pytorch.org/docs/master/notes/cpu_threading_torchscript_inference.html and also ask questions on the forums (discuss.pytorch.org)/

[2020-02-26 20:12] #33822 closed

[2020-02-26 20:23] albanD commented on #33661
If this is a hard crash, the simplest is to use `gdb`. You can find online how to install it for your platform.
Then you want to run your program in gdb as: `gdb --args python your_script.py --your_args`.
Once it starts, you can type "run" to start the execution.
It will return into the prompt after the abort. Once that happens, you can type "bt" to get the stack trace.

Thanks !

[2020-02-26 20:50] driazati commented on #33828
This sounds pretty good. It’d also be nice if we could get rid of the `docs` folder and break it up into readmes distributed into the corresponding folder. (maybe now is also good time for file owners to update those docs)

[2020-02-26 20:55] #22745 closed

[2020-02-26 20:56] kurtamohler commented on #33054
I found a workaround for the AT_WARN issue I was having. Apparently the issue has something to do with the __FILE__ macro in nvcc, because if I avoid using it, I no longer see the extra line printed out at the end of the warning.

[2020-02-26 21:14] mruberry commented on #33821
I like your patch. You can also invoke the non-overridden methods like by calling super like this: `super(self.__class__, self)`. I also looked at a few variants but I think your approach preserves the assertion best.

What do you think about adding a note to your PR explaining the super behavior?

[2020-02-26 21:27] albanD commented on #30632
After multiple discussion. The current conclusion is that the are going to return Tensors full of 0s and add a flag `strict=False` in each function that can be set to True if the user wants to ensure that all the computed values are properly connected.

[2020-02-26 21:28] ezyang commented on #29548
@ailzhang has made me realize that there is one minor problem with XLAPreAutograd design: you won't be able to easily interpose on factory functions in this way, because the dispatch key selection happens in BackendSelect (XLA never is given a chance to interpose). We can "solve" this by updating BackendSelect to include XLAPreAutograd when it sees an XLA device type.

[2020-02-26 22:33] owenhust commented on #33804
@peterjc123 @Tomhouxin @vadimkantorov @mruberry folks, thanks to Tomhouxin's reminder of the version issue. I upgraded my pytorch to the latest version which is now: **torch===1.4.0 torchvision===0.5.0 with cuda 10.1.**. And now it runs pretty smooth.

version issues are always some kinda road blocks that causes some weird issues.

I will close this issue now.

[2020-02-26 22:33] #33804 closed

[2020-02-26 22:35] amorgun opened #33841 "Results of MultiheadAttention depend on the query length"
## 🐛 Bug

MultiheadAttention should yield the same result if I split the key into several chunks and then concatenate chunk results back together. Now it does not work for some chunk sizes.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior
The example script should print True three times.

## Environment

[code]

## Additional context

[2020-02-26 22:39] owenhust commented on #33804
Yeah, I also published this on the pytorch discussion forum. Thanks.

[2020-02-26 22:40] owenhust commented on #33804
Thanks for this, definitely will try in future.

[2020-02-26 22:41] owenhust commented on #33804
thanks, this is fixed now!

[2020-02-26 23:13] mbabadi commented on #20343
@jamestwebber do you get a chance to test your implementation?

[2020-02-26 23:15] lly-zero-one opened #33843 "Performance improvement of qmul/qadd_scalar/qmul_scalar"
## 🐛 Bug
Currently, the implementation of these quantized op are not vectorized. It shows very low performance when running on X86 CPU. We need to add vectorized version with tensor iterator.

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/

[2020-02-26 23:16] jamestwebber commented on #20343
Yes, I tested it, things worked on my end at least. I don't know if the PR fell by the wayside or if there is some internal work happening that I can't see. You could maybe poke them on #31278

[2020-02-26 23:28] riyadshairi979 commented on #33822
From that note I can see that we can use torch.jit._fork() to do parallel execution of forward() methods in my loop. But what is the equivalent forking function in C++ libtorch runtime?

[2020-02-26 23:28] riyadshairi979 commented on #33822
From that note I can see that we can use torch.jit._fork() to do parallel execution of forward() methods in my loop. But what is the equivalent forking function in C++ libtorch runtime?

[2020-02-26 23:44] driazati opened #33844 "[jit] Returning different types with `Any` segfaults"
We should have a better error message here.

[code]

[2020-02-27 00:13] kurtamohler commented on #33054
The performance of my implementation is fairly close to the original one. It's a little worse for smaller tensors, but a little better for larger tensors.

Unfortunately it's not as possible to improve the performance as I had hoped earlier on. The main performance sink is calculating a cumulative sum of the mask, so that we know where each selected element from the input will be placed in the out

[2020-02-27 00:41] ezyang commented on #33821
This is wrong though, right? Because `self.__class__` will dynamically changed based on what self actually is, if you subclass it more.

Note sounds good, I'll add it soon.

[2020-02-27 00:44] ezyang commented on #33757
Should be an easy enough fix, just need to add stubs for AdamW. Add me as reviewer on a PR if you fix this.

[2020-02-27 00:49] ezyang commented on #17658
@beichen2012 can you try building from source and see if that resolves the problem?

[2020-02-27 00:58] spandantiwari commented on #33828
cc: @houseroad @BowenBao @lara-hdr

[2020-02-27 01:09] mruberry commented on #33821
It's true that `self.__class__` changes dynamically, although I think I would be interested in a scenario where someone inherits from a class created at runtime by the generic test framework and gets an unexpected result here. Your proposal sounds great, though: let's just go with that.

[2020-02-27 01:20] dmitrivainbrand commented on #7601
**UPD**: after proper numerical testing, it appeared that the case was still broken with the latest build. As I said, it seem as producer-consumer dependencies were all kept and respected, but the diffs between no-stream and multi-stream version of the same code were consistently large. @mcarilli suspected that the problem is with the cache allocator and proposed to add .recodStream() to synchroni

[2020-02-27 01:45] beichen2012 commented on #17658
what's the fastest way(easiest way) for building on windows?

[2020-02-27 02:11] ezyang commented on #33780
Sounds like a promotion bug :)

[2020-02-27 02:11] ezyang commented on #32867
We haven't looked! You're probably right :)

[2020-02-27 02:12] #20402 closed

[2020-02-27 02:30] v0dro commented on #33367
Ah ok. How about calling it `default_grain_size` with documentation suggesting that the value might not be the grain size for specific functions? Maybe the C++ variable should also be changed the `DEFAULT_GRAIN_SIZE` to make it more descriptive.

[2020-02-27 02:37] #21478 closed

[2020-02-27 02:55] #32605 closed

[2020-02-27 03:11] #33480 closed

[2020-02-27 03:18] #33381 closed

[2020-02-27 03:20] #28998 closed

[2020-02-27 03:25] robotcator commented on #32082
@jerryzh168 Great, sorry for miss the message, I will try  and check it.

[2020-02-27 03:44] #33641 closed

[2020-02-27 03:53] ralzq01 opened #33855 "Unclear output for Pytorch Profiler"
## 📚 Documentation on PyTorch Profiler

I don't fully understand the output of [PyTorch Profiler](https://pytorch.org/docs/stable/autograd.html#torch.autograd.profiler.profile) after using `torch.autograd.profiler` (combined with `torch.autograd.profiler.record_function` for labeling). To be specifically, the output of `prof.key_averages().table(sort_by="cuda_time_total")` gets the following table

[2020-02-27 04:38] ezyang commented on #33439
Hmm. This seems like some very useful sleuthing. But what I am a little uncertain about, is why the validation happens before we have everything. Is this because we're doing something like allocating the sparse tensor upfront with uninitialized storage, and then setting the storage to real data afterwards? I wonder why we do that...

[2020-02-27 05:18] #32289 closed

[2020-02-27 05:33] diwu1990 opened #33859 "Possibility to support int4 data type"
There are two motivations. First, the low precision inference is becoming popular, int4 could make full advantage of latest NV GPUs. Second, we are doing some quantum simulation stuff based on PyTorch, int4 based on NV GPUs will significantly improve the simulation speed in our framework.

[2020-02-27 06:52] mruberry commented on #7601
Great you have a workaround, @dmitrivainbrand! I spoke with @mcarilli and we'll coordinate a follow-up. He may ask you to open a tracking issue.

[2020-02-27 08:09] nikitamehrotra12 commented on #33661
Many thanks for the help :).

[2020-02-27 08:47] JesperLindberg opened #33862 "Can't save to ostream using documentation example"
## 🐛 Can't save to ostream

I want to save my model as a `istream` for later processing.
I found the following on the api:

https://pytorch.org/cppdocs/api/function_namespacetorch_1a99dc9f736064b2179cc58e6436f7a021.html#exhale-function-namespacetorch-1a99dc9f736064b2179cc58e6436f7a021

https://pytorch.org/cppdocs/api/function_namespacetorch_1a4b369494adfb10b9a005aeb0bb6207cb.html#exhale-function-n

[2020-02-27 09:05] mkmkmk commented on #10050
I had a similar problem with the "CeLU" class, I rolled it like this, and it helped

[code]

[2020-02-27 10:32] traits opened #33863 "Windows build breaks (CUDA 10.2: template type error)"
## Issue description

The current Windows build fails, caused probably by some erroneous type, provided to a CUDA C++ class. I made a fresh build after removing all the content of the ./build directory

## System Info

collect_env.py:
[code]
## Output
[code]

[2020-02-27 12:49] vadimkantorov commented on #32867
int4 support request in https://github.com/pytorch/pytorch/issues/33859 is also related

[2020-02-27 12:51] dulex123 commented on #20643
Is there a fix for this?

[2020-02-27 13:03] root20 opened #33864 "Memory leak in embedding layer and LSTM"
## 🐛 Bug

Memory leaks when forwarding embedding layer and LSTM.

## To Reproduce

Run this code,
The memory usage doesn't increase every iteration, but it increases over time.
[code]
Output of the code:
[code]

## Expected behavior
Memory usage should not be increased.

## Environment
 - PyTorch Version (e.g., 1.0): 1.4.0
 - OS (e.g., Linux): 16.04.5 LTS
 - How you installed PyTorch (`conda`, `pi

[2020-02-27 13:10] peterjc123 commented on #33863
Duplicate of https://github.com/pytorch/pytorch/issues/25393. The workground is to continue build with `set MAX_JOBS=1`.

[2020-02-27 13:10] #33863 closed

[2020-02-27 13:15] peterjc123 commented on #33862
cc @yf225

[2020-02-27 14:48] Baranowski commented on #33439
It appears so. We are creating a storage with desired size before the data is read, and I think that means allocation.

My guess is simply developers' convenience. The storages are serialized at the end of a pickle. So it's easier to initialize objects in the order they appear in the file.

As for why that's the order of the file, I have two guesses:

* The only alternative I can think of would be

[2020-02-27 15:21] ezyang opened #33867 "cuDNN batchnorm with non-contiguous running mean silently discards updates"
[code]

This looks highly suspect. If running mean/var are not contiguous, then we will allocate a new tensor to make the contiguous, and thereby end up losing updates to the running mean/var entirely.

Discovered while looking into #13402

[2020-02-27 15:31] #31663 closed

[2020-02-27 15:32] #26418 closed

[2020-02-27 15:34] #24707 closed

[2020-02-27 16:03] Dubrzr commented on #24081
I've posted an issue, here is the answer from Nvidia :

[2020-02-27 16:05] albanD opened #33870 "Scalar cuda Tensors are automatically moved to different device"
Scalar cuda Tensors are automatically casted to the right device.
This enables automatic device copy. But the autograd does not expect that to be possible.

[code]

Is the forward behavior expected?
If so, then we need to fix the autograd engine.

cc @ezyang @gchanan @zou3519 @SsnL @albanD @gqchen

[2020-02-27 16:27] fmassa commented on #33103
This should be fixed in torchvision now, let us know if this isn't the case

[2020-02-27 16:27] #33103 closed

[2020-02-27 16:34] Baranowski commented on #33439
It's challenging to skip tensors and read in storages first because the size of the tensor pickle is not known. `cPickle` has the `noload()` method on `Unpickler` to do just that but PyTorch by default uses the (python) `pickle` which doesn't offer this functionality.

JIT has its own `Unpickler` and it could probably be modified to read data without instantiating objects but there is a risk it mi

[2020-02-27 16:39] ParticularlyPythonicBS opened #33876 "Torchscript incompatible with torch.cat for tensor lists"
## 🐛 Bug

Torch.cat throws error for tensor lists when used within torchscript

## To Reproduce
Here is a minimal example to reproduce the bug
[code]
Steps to reproduce the behavior:

1. run the code shown above in a pytorch python env

This is the error message provided:

[code]
## Expected behavior

torch.cat is expected to work seamlessly within torchscript if it works outside of it.

## Enviro

[2020-02-27 17:00] #33620 closed

[2020-02-27 17:00] zou3519 commented on #5261
Here's a repro on master:
[code]
We could probably improve the error message to include a short description of why it is not implemented and what the workaround is (use the non-cudnn-lstm). We get this question quite often so I think it would be worth it.

[2020-02-27 17:42] ailzhang commented on #33831
This seems to be related our API between torch and numpy.

[2020-02-27 17:43] ailzhang commented on #33841
cc: @zhangguanheng66 would you mind taking a look here?

[2020-02-27 17:44] ailzhang commented on #33855
It'll definitely help if we could improve the documentation there.

[2020-02-27 18:02] ailzhang commented on #33870
I'd vote for errorring out for forward. ;)
Looks like it worked only because of empty storage.
[code]

[2020-02-27 18:03] spandantiwari commented on #20643
Are you all seeing this issue in latest version of PyTorch? If you haven't tried, I would recommend trying it out. Let us know if you still see this issue.

[2020-02-27 18:13] driazati opened #33882 "DISABLED test_script_pack_padded_sequence (test_jit.TestScript)"
This is a temporary issue to get a clean master (via #29944) while failures like [this](https://circleci.com/gh/pytorch/pytorch/4619085?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link/console) are investigated (revert was not clean)

cc @suo

[2020-02-27 18:25] yf225 commented on #33862
@anjali411 Would you like to take a look at this?

[2020-02-27 18:47] driazati opened #33887 "[jit] Python arg parser / TorchScript incompatibilities"
Certain parts of the Python arg parser aren't mirrored in the jit, for example

[code]

See https://discuss.pytorch.org/t/torch-cat-throws-error-for-tensor-list-when-compiling-with-torchscript/71317/2 for details.

[2020-02-27 18:51] zou3519 commented on #32705
I can't reproduce this nor https://github.com/pytorch/pytorch/issues/28650 so both look to be fixed on master.
@bnehoran could you try installing a nightly build of pytorch to confirm if the problem still persists for you?

[2020-02-27 18:58] p-morais opened #33890 "Libtorch segfault when used with libqpOASES"
## 🐛 Bug

I'm trying to use pytorch C++ to solve an optimization problem formulated as quadratic program solved with qpOASES, but it seems like some sort of linking error related to BLAS is triggering a segfault. Not sure if this is strictly a libtorch problem (or the bazel linker setup) but it's a bit over my head so any guidance would be greatly appreciated

## To Reproduce

As far as I can tell

[2020-02-27 19:10] ParticularlyPythonicBS commented on #33876
changing `axis` to `dim` fixes the error

[2020-02-27 19:17] Enealor commented on #31136
I've been looking into this again, and I wanted to check if I am understanding what changes are necessary here. There are two places where `pytest` is installed in `.circleci/docker/common`, and this leads me to believe we are testing in two environments. In the environment used by [install_travis_python.py](https://github.com/pytorch/pytorch/blob/b10761d8900af1dc48bee807ab39c80fd4334b79/.circleci

[2020-02-27 19:20] avacariu commented on #16797
I'm seeing this issue even when using `torch.load(f, map_location='cpu')`; it seems it loses the `map_location` somewhere along the way. In my case the pickle file is storing `{ "state_dict": model.state_dict() }`.

[2020-02-27 19:31] VitalyFedyunin commented on #32707
Might be same as #32835 as I have seen this funny CUDA errors when autograd threads went nuts.

[2020-02-27 20:18] Enealor commented on #32703
@zou3519 @kurtamohler I wanted to follow-up on this by checking if there are any other conditionally compiled submodules, and asking for some testing advice. At the moment, the change I plan on would add a check to `docs/source/conf.py` so that certain submodules are verified before their documentation is built. This would add a function such as the one below. However, I don't know if `distributed

[2020-02-27 20:52] zou3519 commented on #32703
@Enealor one use case I had is for torchvision. Right now the pytorch doc build assumes that the torchvision docs exist; it would be nice for a developer to be able to compile the docs without it spilling warnings about torchvision not existing. I don't think there are any cases other than distributed & torchvision.

In terms of testing: it's probably not worth testing the behavior with distribute

[2020-02-27 20:53] VitalyFedyunin commented on #33799
SGTM

[2020-02-27 20:55] ezyang opened #33898 "Docs for uniform_ don't make any sense"
It says `P(x) = 1/(to - from)` but this formula is only true for discrete types (also there needs to be a condition on x anyway)

cc @fritzo @neerajprad @alicanb @vishwakftw

[2020-02-27 20:59] ben-heil opened #33899 "Segfault upon calling torch.Tensor on a gpu tensor"
## 🐛 Bug

I accidentally called `torch.Tensor` on a Tensor object, thinking it was a numpy array. Instead of doing nothing or throwing a warning, the program segfaulted.

## To Reproduce

Minimal code example:

[code]

Upon running the final line, python prints "Segmentation fault (core dumped)" and dies.

## Expected behavior

I would have expected casting a Tensor to a Tensor to have to result

[2020-02-27 21:01] jpellman commented on #24081
¯\\_(ツ)_/¯

Lock up your Linux gamer workstations in a closet I guess.  If you're concerned about a DMA attack from some sort of rogue peripheral, it's probably easier to block peripheral ports in some way- either via epoxy resin on the low-tech end of things or at the firmware/driver level (I believe this is fairly common practice in fintech and some healthcare institutions).  It seems that there

[2020-02-27 21:12] #33500 closed

[2020-02-27 21:27] #33629 closed

[2020-02-27 21:27] izdeby commented on #33629
fixed via https://github.com/pytorch/pytorch/pull/33874

[2020-02-27 21:55] Evpok commented on #32544
This should also fix https://github.com/pytorch/pytorch/issues/30965

[2020-02-27 22:20] mruberry commented on #33752
PR landed. Thanks again, @HearyShen!

[2020-02-27 22:20] #33752 closed

[2020-02-27 22:26] zou3519 commented on #32705
I'm optimistically closing this because it seems fixed on master. Please feel free to reopen if this is not the case.

[2020-02-27 22:26] #32705 closed

[2020-02-27 22:51] dmitrivainbrand opened #33909 "backward() on multiple streams and devices is not recording streams properly"
## 🐛 Bug

@mcarilli recently fixed a bug in streaming backward with cross-device synchronization.
However, running my multi-GPU, multi-Stream code for model pipelining I encountered with the flowing behavior:
It seems that producer-consumer dependencies were all kept and respected, but the diffs between no-stream and multi-stream version of the same code were consistently large. @mcarilli suspecte

[2020-02-27 23:05] mruberry commented on #33909
(updated the title to be more precise)

[2020-02-27 23:05] jerryzh168 opened #33910 "[jit] constant prop works for ops that output Objects"
**What**: We need to make sure constant prop works for constant Object
**Why**:  Without this constant prop will not be able to fold the prepack op. After constant propagation we’ll have constant PackedParams Object

cc @suo

[2020-02-27 23:06] jerryzh168 opened #33911 "[jit] clone_instance support deep copy of Tensor"
**What**: Right now clone_instance will do shallow copy of Tensor, but we need it to support deepcopy
**Why**: Everytime we insert observers we’ll do clone_instance, deepcopy of Tensor prevents different observer instances sharing the same Tensor, although right now it won’t cause any problems since current observers don’t inplace change Tensor attributes

cc @suo

[2020-02-27 23:07] jerryzh168 opened #33912 "[jit] inplace `_construct` RecursiveScriptModule"
**What**: inplace option to construct RecursiveScriptModule
**Why**: This is needed to support inplace option for graph mode quantization, and we want this to be able to align with eager mode quantization API

cc @suo

[2020-02-27 23:07] jerryzh168 opened #33913 "[jit][tracing] Preserve module type names during tracing"
**What**: Preserve module type names during tracing
**Why**: Folding batch norm into conv is blocked for traced models currently. Right now we use module names to do ConvBatchNorm folding, so we need tracing to preserve module name in order to get automatic convbn folding in traced models
cc @suo @jamesr66a

[2020-02-27 23:25] suo commented on #33828
Closing as this has landed. Thanks for the comments, I'll work on addressing them!

[2020-02-27 23:25] #33828 closed

[2020-02-27 23:32] jjsjann123 opened #33918 "[cuDNN FAILURE] NHWC conv2d fails on Windows CI"
## 🐛 Bug

NHWC 2d convolution triggers cuDNN failure.
cuDNN reports `RuntimeError: cuDNN error: CUDNN_STATUS_BAD_PARAM` on legit cudnn config.

Failure was captured by windows CI in PR #33784

## To Reproduce

Steps to reproduce the behavior:
[code]

## Environment

Unfortunately I don't have the repro (it originates from CI).
CI got this issue in Windows PyTorch build with CUDA 10.1 cuDNN 7.6.4.3

[2020-02-28 00:08] #32835 closed

[2020-02-28 00:08] #5834 closed

[2020-02-28 01:03] ptrblck commented on #33867
Thanks for raising this issue.
After discussing it with @jjsjann123, we think checking the running stats for `is_contiguous()` and making them contiguous could be added before the `cudnn_batch_norm` call, as they are passed as references.

Let me know, if that would work or if we're missing something, and we can create the PR.

[2020-02-28 01:22] SsnL commented on #33898
Density is also `1/(to-from)` for continuous dtypes.

[2020-02-28 03:03] back2yes commented on #30379
How can I build the minimal project in Debug mode?

[2020-02-28 03:17] xubin1994 commented on #31464
torch version is 1.3.1.
onnx version is  1.5.0.

[2020-02-28 03:18] cmpute opened #33928 "Caffe2 CMake exported target has hard-coded path under linux"
## 🐛 Bug

`Caffe2Targets.cmake` from pytorch installed by conda has hard-coded library path, which will make targets depending on torch unable to build, if the CUDA installation directory is different from `/usr/local/cuda`. Specifically in my case, I installed pytorch `py3.6_cuda9.2.148_cudnn7.6.3_0` and the Caffe2 target file contains:

[code]
## To Reproduce

I'm working on an example for pytor

[2020-02-28 03:20] xubin1994 commented on #31464
Can you tell me what kind of environment you use for the opset version 11? I can try the same configuration as you

[2020-02-28 03:28] back2yes commented on #30379
Following the instructions at https://stackoverflow.com/questions/59006561/using-a-pytorch-model-in-c-application-on-windows I finnally managed to make it work in _Debug_ mode.

[2020-02-28 03:58] peterjc123 commented on #30379
You'll need to copy the PDBs along with your executable.

[2020-02-28 06:40] jasonkena commented on #33047
Are you sure you used the same version of Numpy? Numpy's random number generator might have changed.

[2020-02-28 07:04] ptrblck commented on #33899
Backtrace for:
[code]
[code]

It seems that the code tries to throw the `TypeError` from [here](https://github.com/pytorch/pytorch/blob/e5cf7afd0a8cc47ab9ce044b94c264619a22db62/torch/csrc/utils/tensor_new.cpp#L122), but segfaults on `strlen-avx2`.

[2020-02-28 07:14] shuiqingliu commented on #15523
you save my life！

[2020-02-28 07:15] Pluto1944 opened #33932 "Error: convert pytorch int8 maxpool to onnx to c2"
🐛 Bug

I get the same error when I try to convert pytorch int8 **maxpool** to onnx to c2.

## To Reproduce

Steps to reproduce the behavior:

1. I run torch2onnx_maxpool.py(the code list bellow) to get onnx and get this warning:
"symbolic_helper.py:176: UserWarning: ONNX export failed on max_pool2d because input size not accessible not supported"

2. when I run run_onnx_maxpool.py to load onnx mod

[2020-02-28 07:25] kazemSafari opened #33933 "torch.save cpu memory leak"
## 🐛 Bug

Saving multiple model instances during training, if the save name used is the same, causes no leak. However when model is being saved with different names (e.g. via an index), the free memory goes down and moves (leaks) into buffer/cache memory . Also the buffer/cache memory does not get release by os after the code exits on its own.

## To Reproduce

Steps to reproduce the behavior:

1.

[2020-02-28 07:54] shoaibahmed commented on #22834
Yes, but that will slow down the process. Since I was doing some benchmarking, I instead decided to fix the number of iterations.

[2020-02-28 07:55] shoaibahmed commented on #22834
Can you please share a code snippet that will help in the identification of the error?

[2020-02-28 08:11] back2yes commented on #30379
Exactly, thanks a lot

[2020-02-28 08:54] mpariente opened #33934 "Wrong error is raised for property of nn.Module"
## 🐛 Bug

When there `__getattr__` raises an error inside a property in nn.Module, it's on the property itself, not on the attribute that caused the error.

## To Reproduce
Here is a small script to reproduce the issue.
[code]
This raises `AttributeError: 'MyModule' object has no attribute 'something'`

## Expected behavior

I'd expect this to be raised `AttributeError: 'MyModule' object has no at

[2020-02-28 09:49] SebastienMarmin commented on #29981
Hello,
Formulas in the general case for the derivatives w.r.t. location and covariance exists but they are quite complicated, and computationally expensive as they requires several numerical integrations. I derived them while ago (see last page of https://arxiv.org/pdf/1503.05509.pdf, there should be a earlier work on this but I didn't find).
I made an attempt to bring this in PyTorch:
https://git

[2020-02-28 10:00] 522730312 opened #33937 "Is there a way to parallelize independent sequential steps?"
I am currently working with a model which has a fixed set of heavy operations applied on different versions of the same input. It would be really nice if I could perform these operations in parallel as each one of them takes a big chuck of total execution time. In Theano, with graph optimizations, this would have been automatically executed in parallel. But I am not sure how to parallelize these o

[2020-02-28 12:24] whoiscris commented on #16357
@dai-dao is this still open ?

[2020-02-28 12:29] whoiscris commented on #26411
@pandeykartikey what's the status on this ? Still open ?

[2020-02-28 12:48] Baranowski commented on #973
I can still reproduce this on master.

@VitalyFedyunin, are you still working on this? I should have some spare time soon and I'm looking for issues to fill it with.

[2020-02-28 12:58] dulex123 commented on #20643
@spandantiwari yes, 1.4.0

[2020-02-28 13:58] kontrabas380 commented on #21626
@albanD @knsong, I'm having similar issue to @tchaton:
I'm running my script in docker, and **on few machines it works properly**, but when I try to load my model on specific machine, I've got the same error as @kparaju which looks like:

`[2020-02-24 15:27:38,215: ERROR/ForkPoolWorker-76] Task fastai-models[c40b5516-3461-484f-b9cf-c6caf9608f0a] raised unexpected: RuntimeError('read(): fd 33 faile

[2020-02-28 14:17] Nithin-Holla commented on #33785
@ngimel What prevents deepcopy from working when the models are replicated with `nn.parallel.replicate`?

[2020-02-28 14:57] albanD commented on #21626
The errors seems to point to a bad file. Maybe you're moving files around while they're being used by docker? Or they are corrupted?

Without more information, it will be hard to help you I'm afraid.

[2020-02-28 15:02] doudoubobo opened #33939 "Wrong error is raised when RPC APIs deal with sparse tensor"
## 🐛 Bug

When RPC APIs deal with sparse tensor, a wrong error is raised.

## To Reproduce

Here is a small script to reproduce the issue.
[code]

## Environment
 - PyTorch Version (e.g., 1.0): 1.4.0
 - OS (e.g., Linux): Linux
 - How you installed PyTorch (`conda`, `pip`, source): pip
 - Python version: 3.6.0

## Expected behavior
`result1` should be equal to `result2`

cc @pietern @mrshenli @prit

[2020-02-28 15:24] ezyang commented on #33580
This was NACKed in our weekly meeting, the justification is that the average user should get a notice when they change the default value as it is probably an error; expert users can just whitelist their op.

[2020-02-28 15:44] xdever opened #33941 "Some operations crash autograd if parameter size is changed."
## 🐛 Bug

Some operations cache something in the backward pass, so changing parameter size crashes autograd. This happens only if there was already a backward pass, never on the first.

Not all operations crash. Cat is just an example I found by ablating my code until I found something that breaks down. The same code works fine without the cat. Chaining matrix multiplications and removing rows/col

[2020-02-28 15:52] pbelevich commented on #33299
Fixed in https://github.com/pytorch/pytorch/commit/095de1e872671c4da2cc0965976058cf752c3be0
https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/test/cpu_rng_test.cpp#L93 demonstrates how to generate uint64_t max value, (2^64 - 1)

[2020-02-28 15:52] #33299 closed

[2020-02-28 16:10] choidongyeon commented on #24176
Going off of @AppleHolic 's comment, it seems that there is a reference invalidation in CuFFTPlanCache. After doing some digging, I think [commit 54777b1](https://github.com/pytorch/pytorch/commit/54777b1e736becb12ded6dcf34d9f01d32b4f896) addresses the issue. I am unable to reproduce the original bug that @pietern reported.

[2020-02-28 16:12] pbelevich commented on #33299
[code]

[2020-02-28 16:19] pbelevich commented on #16944
Fixed in https://github.com/pytorch/pytorch/commit/095de1e872671c4da2cc0965976058cf752c3be0
[TEST_F(RNGTest, Random64bits)](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/test/cpu_rng_test.cpp#L93) {demonstrates how to generate uint64_t max value, (2^64 - 1)

[2020-02-28 16:19] pbelevich commented on #16944
[code]
In [1]: import torch

In [2]: "{0:b}".format(torch.empty(1, dtype=torch.int64, device='cpu').random_(torch.iinfo(torch.int64).max, None)[0])
Out[2]: '111111111111111111111111111111111111111111111111111111111111111'

In [3]: "{0:b}".format(torch.empty(1, dtype=torch.int64, device='cuda').random_(torch.iinfo(torch.int64).max, None)[0])
Out[3]: '111111111111111111111111111111111111111111111111

[2020-02-28 16:19] #16944 closed

[2020-02-28 16:24] edouardoyallon commented on #24176
Thanks 👍 !

[2020-02-28 16:35] KsenijaS commented on #31464
I built my pythorch from master branch and it's now 1.5 and ONNX 1.6

[2020-02-28 17:19] agadetsky commented on #26411
@whoiscris yes, maybe @anjali411 will finish it soon here https://github.com/pytorch/pytorch/pull/32876

[2020-02-28 17:39] vibhatha opened #33943 "Continuous Integration of an existing MPI application with Pytorch MPI Backend"
## 🐛 Bug

Using Pytorch MPI backend with an existing MPI application. I am trying to use a data pre-processing logic done with MPI (using mpi4py) and feed the processed data to Pytorch.
Here I found a problem in doing this using the distributed packaged with the MPI backend.

## To Reproduce

In order to reproduce the error, please run the following code. In simply, by just re-running the followin

[2020-02-28 17:57] spandantiwari commented on #20643
@dulex123 - I am not able to repro this. I just tried the master branch from a week ago and I was able to export softmax (repro code at the top) correctly. I am not sure why you are seeing an issue. To help investigate, could you please try using the latest nightly build from pytorch.org? If you still see this issue, please share the exact repro code you are using.

[2020-02-28 18:01] supriyar commented on #33932
Yeah, we don't have a mapping for max_pool2d from pytorch to c2.
I created a quick patch here - https://github.com/pytorch/pytorch/pull/33945, you can try with this to see if it unblocks your testing.

For future ops, you can follow similar flow to add mapping from pytorch to C2 (if the op exists in C2).

[2020-02-28 18:01] kurtamohler commented on #24753
I based my changes on other ATen operations, like div and mul, which made me think I might as well include complex number support. The TH version did not have complex support. Is that alright?

[2020-02-28 18:09] VitalyFedyunin commented on #24753
Sure, as soon as you extend test coverage.

[2020-02-28 18:16] bnehoran commented on #32705
Yeah, awesome. It seems to have been fixed sometime over the past couple of weeks.

[2020-02-28 19:25] #24752 closed

[2020-02-28 19:38] suo commented on #33412
cc @spandantiwari

[2020-02-28 19:38] suo commented on #33813
cc @spandantiwari

[2020-02-28 19:38] suo commented on #33399
cc @spandantiwari

[2020-02-28 19:42] mrshenli opened #33948 "test_remote_script_module is flaky"
Failed run:
https://app.circleci.com/jobs/github/pytorch/pytorch/4605753

Passed run:
https://app.circleci.com/jobs/github/pytorch/pytorch/4605780

cc @ezyang @gchanan @zou3519 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar

[2020-02-28 19:44] ezyang opened #33950 "Make StorageImpl untyped for non-POD types"
Right now StorageImpl records a dtype. We should remove the dtype and store bytes directly. Non-POD dtypes should still support custom destruction, but that is built on top of an otherwise untyped representation. Representing storage impls in an untyped way means that we can reinterpret cast tensors, e.g., view a float tensor as a complex tensor.

In the user side we still expose ByteStorage/LongS

[2020-02-28 20:23] vivekmig opened #33953 "Tensor Shape Type Hint Issue"
## 🐛 Bug

Type hint changes to a Tensor causes an error when type checking code accessing tensor shape indices after 0 when using nightly build. This is causing type checking failures for downstream applications, particularly in Captum.

## To Reproduce

Type check code such as:
[code]

MyPy error: error: Tuple index out of range

## Expected behavior
Shape should be type hinted to be an arbitrary

[2020-02-28 20:24] algoterranean commented on #30635
@pietern @suo

What's the plan for supporting DataParallel in the JIT?

I see https://discuss.pytorch.org/t/how-to-trace-jit-in-evaluation-mode-using-multi-gpu-learned-model/33280/4 -- is tracing inside of the module still the recommended route here?

Referencing #15421 #16891 #17540 ... the last one in particular might be the most relevant, but I'm not sure.

[2020-02-28 20:51] albanD commented on #33941
Hi,

This metadata is stored in the `AccumulateGrad`.
We should double check but we most likely just want `.set_()` to reset the weak pointer to the grad accumulator if it exists.

[2020-02-28 20:52] kiukchung commented on #33799
Thanks @VitalyFedyunin I'll rework the RFC into a proper diff and add you as the reviewer.

[2020-02-28 21:15] glaringlee commented on #30696
Removed _do_forward. Looking into removing more legacy functions, will update pr later.

[2020-02-28 21:18] gchanan commented on #33351
that's not a shape mismatch, that's the shape of the result, right?

[2020-02-28 21:22] ailzhang commented on #33351
Aha yeah shape of out should always match result. Broadcasting is not an issue here.

[2020-02-28 21:43] rohan-varma opened #33961 "profiler.export_chrome_trace does not generate valid JSON when profiler is used with CUDA"
## 🐛 Bug

Exporting chrome trace with a profiler that was enabled with cuda results in invalid json being generated, and thus, we cannot view the chrome trace. To repro, use this script:

[code]

This generates the following JSON (pretty-printed for visibility):

[code]
As we can see the JSON is not formatted correctly so we can't open this up in chrome://tracing

## Expected behavior

The JSON sh

[2020-02-28 21:44] stephenroller opened #33962 "Gradient checkpointing fails to backprop in some cases"
## 🐛 Bug

I'm attempting to use `torch.utils.checkpoint.checkpoint`. I've found that it fails to properly call of `CheckpointFunction.backward` in some cases.

## To Reproduce

[code]

Produces the output:
[code]

## Expected behavior

All test cases should produce 0 None grads, or at least RuntimeErrors. The fourth case, in which only 3/4 layers have gradients produces is VERY concerning.

## Env

[2020-02-28 21:50] stephenroller commented on #33962
And with nightly:

[code]

[2020-02-28 21:56] zhaojuanmao commented on #33948
the error is "Received error while processing request type 4: vector::_M_range_check: __n (which is 0) >= this->size() (which is 0)", I checked this test, did not find suspicious causes. Also can not reproduce locally in stress runs, I checked master runs as well, it only happened once. I suspect it is due to some transient failure that is not related to our code bases.

I will keep monitoring thi

[2020-02-28 22:10] stephenroller commented on #33962
It's worth noting that i have a real case with a transformer, where the issue seems much more nuanced than "first/last layers". I have not yet identified the pattern.

[2020-02-28 22:18] gchanan commented on #33547
The issue here is that the codegen couldn't match up the _out and non-out variant of the function.  We should clarify the error message.

[2020-02-28 22:21] vincentqb commented on #33890
Can you provide a minimal example to reproduce this? Thanks!

[2020-02-28 22:22] vincentqb commented on #33918
I don't see any errors in the CI of #33784. Can you provide the link to the failure?

[2020-02-28 22:26] vincentqb commented on #33898
I don't seem to find the place you are referring to, [here](https://github.com/pytorch/pytorch/blob/master/torch/distributions/uniform.py) or [here](https://github.com/pytorch/pytorch/blob/master/torch/nn/init.py#L74) or elsewhere?

[2020-02-28 22:36] kurtamohler commented on #24753
I thought a bit more carefully about how I was attempting the calculate the remainder for complex numbers. I assumed that it would be the same as what we're doing for floating point numbers, but that idea doesn't really make sense. At the moment, I'm not exactly sure what it would mean to have a remainder for a complex division.

Wolfram defines their remainder function as "_m_ mod _n_". If m and

[2020-02-28 22:42] osalpekar opened #33976 "TensorPipes RPC Agent"
## 🚀 Feature
Initial implementation of TensorPipes RPC Agent with working `send` and `listener` functionality. It should work with the existing RPC API for CPU-to-CPU communication, and can be verified through Python unit tests.

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar @jiayisuse @lw @beauby

[2020-02-28 22:47] rohan-varma commented on #33961
Pretty sure this is caused by https://github.com/pytorch/pytorch/pull/30724/files. Looking into it.

[2020-02-28 23:00] vincentqb commented on #33899
Have you tried the workaround you mentioned [here](https://github.com/pytorch/pytorch/issues/25518#issuecomment-526839485)?

[2020-02-28 23:04] vincentqb commented on #33899
Marking as high priority since it can be reproduced, and leads to segmentation fault.

[2020-02-28 23:06] vincentqb commented on #33928
Thanks for reporting this. Would you be interested in opening a pull request?

[2020-02-28 23:09] vincentqb commented on #2548
You can also use `MultiplicativeLR` for this now. Since there are solutions for this, I will close this issue. Please feel free to re-open if you would like to continue the discussion.

[2020-02-28 23:09] #2548 closed

[2020-02-28 23:13] osalpekar opened #33979 "TensorPipes RPC Agent CUDA Support"
## 🚀 Feature
CUDA support would require the following items:

- Support memory allocation and communication for GPUs.
- Update RPC API to support args placement and result placement on CUDA devices.
- Update `RRef.to_here()` to accept device placement arguments

[2020-02-28 23:14] suo commented on #33672
This was changed by: https://github.com/pytorch/pytorch/pull/29342. We can re-add it. Seems like a reasonable thing to do

[2020-02-28 23:16] osalpekar opened #33980 "TensorPipes Rpc Agent Timeout Watchdog"
## 🚀 Feature
TensorPipes RPC Agent should honor the `rpcTimeout` passed to the `RpcAgent` class. This involves timing out stale RPCs after the set timeout, and can be implemented using a separate timeout watchdog thread (like ProcessGroupAgent).

Since there could potentially be 3 hops (as opposed to 2) for the original sender to receive an ACK when the result is placed on a different machine than

[2020-02-28 23:18] suo commented on #33672
Hm I guess that's reasonable too…I think it's fair for `@ignore` and `@unused` to be exceptions to the "ScriptModule is a view" rule, since they are explicitly designated as escape hatches for that behavior?

[2020-02-28 23:21] osalpekar opened #33982 "Initialize TensorPipe RPC Agent Transport"
## 🚀 Feature
Allow the Tensorpipes RPC Agent to be initialized with any underlying transport (shm, libuv, thrift, TLS, etc.) This may need to be added as an option to the RPC Backend Options to initialize from Python.

[2020-02-28 23:23] osalpekar opened #33983 "TensorPipes RPC Agent Listener shortcut"
## 🚀 Feature
Support an optimization in the TensorPipes RPC Agent listener when sending a message to yourself. This is similar to an optimization in the ProcessGroupAgent `listenLoopInternal`.

[2020-02-28 23:24] osalpekar opened #33984 "TensorPipes RPC Agent Metrics Collection"
## 🚀 Feature
Log metrics for production monitoring in the TensorPipes RPC Agent (as is currently supported by the ProcessGroupAgent).

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar @jiayisuse @lw @beauby

[2020-02-28 23:25] suo commented on #33672
//github.com/pytorch/pytorch/pull/33981

[2020-02-28 23:27] VitalyFedyunin commented on #973
Go ahead!

On Fri, Feb 28, 2020 at 7:48 AM Wojciech Baranowski <
notifications@github.com> wrote:

[2020-02-28 23:38] msbaines opened #33986 "Unable to load nvprof trace"
## 🐛 Bug

Unable to load an nvprof trace (tried CUDA toolkit 10.1 and 10.0)

## To Reproduce

Steps to reproduce the behavior:

1. Wrap pyTorch code with autograd profiling
[code]
2. Profile code using nvprof
3. Try to load profile with autograd
[code]
4. Hit assertion
[code]

## Expected behavior

No assertion.

## Environment

PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch:

[2020-02-28 23:50] fanbeatsman opened #33988 "max_pool2d doesn't check if input is contiguous: max_pool2d_with_indices_out_cuda_frame failed with error code 0 with specific inputs"
## 🐛 Bug

I have a specific tensor that crashes `torch.max_pool2d`. Curiously if I copy the values themselves into a fresh Tensor with all the attributes set to be the same as the problematic tensor, it works.

## To Reproduce
Download my problematic tensor here https://github.com/fanbeatsman/pytorchBug and run the following script.

[code]
`RuntimeError: max_pool2d_with_indices_out_cuda_frame fai

[2020-02-28 23:56] kurtamohler commented on #24753
So after some more searching and thinking, I haven't found any convincing definition of a remainder or mod function for complex numbers. With real numbers, the remainder is defined as `mod(a, b) = a - b * floor(a / b)`. The `floor(a / b)` basically means "the integer number of times you can subtract `b` from a without going negative", or "the integer number that you can multiply `b` by to get the

[2020-02-28 23:59] jjsjann123 commented on #33918
There we go: https://circleci.com/gh/pytorch/pytorch/4615662?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
It's failing on commit 59f2141

[2020-02-29 00:06] osalpekar opened #33989 "TensorPipes RPC Agent Message Acknowledgements"
## 🚀 Feature
Since TensorPipes RPC Agent will support a `result_placement` argument, which allows the receiver to send the computed result to a worker that's not necessarily the sender, we must ensure that the sender receives confirmation of message success/failure.

For example, if CPU0 sends a message to CPU1, and indicates that the result should be sent to GPU0, then GPU0 must indicate to CPU0

[2020-02-29 00:15] albanD commented on #33962
This is expected behavior I'm afraid.

- The first one raise an error because, since you checkpoint all the way to the end, you try to backward something that does not require gradient and so it fails.
- The second one works because the first module is not checkpointed and it's output requires grad. So the next checkpoint will work
- The third one, the first modules won't work, but since the last

[2020-02-29 00:28] osalpekar opened #33990 "TensorPipes RPC Agent Multiple Placement Retries"
## 🚀 Feature
Since multiple machines can receive the result of a remote operation, it is possible that only some of these replies fail. We have 2 options for dealing with message failures:

- We mark the original future as complete only if all the recipients received the result. We can maintain a list on the sender of the recipients that received the result, and only retry those that failed.
- We

[2020-02-29 00:29] Darktex commented on #22439
Reviving this thread to cross-link to the issue on Lightning [here](https://github.com/PyTorchLightning/pytorch-lightning/issues/973) and to spur more discussion. Let's take Lightning as an example of a library on top of PyTorch that might want to handle some wrapping for the pretty printing. This would align well with the [proposal](https://github.com/pytorch/pytorch/issues/22439#issuecomment-566

[2020-02-29 00:30] osalpekar opened #33991 "TensorPipes RPC Agent Default Args/Result Device Mapping"
## 🚀 Feature
The Tensorpipes RPC Agent should accept an optional default mapping for args and results device placement. The RPC Agent will default to this default mapping if no mapping is provided by the user when sending an RPC.

[2020-02-29 01:24] dreiss opened #33993 "ModuleList doesn't support slicing in TorchScript"
## 🐛 Bug

Slicing a ModuleList works in eager mode, but fails to script.

## To Reproduce

[code]

## Environment

[code]

## Additional context

Look, folks.  I don't write these models.  I just need to get them running on mobile.

I'm currently working around this by tracing the model because it has no data-dependent control flow.

[2020-02-29 01:49] ptrblck commented on #33988
Thanks for the report @fanbeatsman!

It seems the error is thrown, as `problemTensor` is not contiguous, as can be seen by the strides.
Calling `problem_tensor = problem_tensor.contiguous()` solves the issue.

@xwang233 will have a look at it.

[2020-02-29 02:06] stephenroller commented on #33962
Thanks again for the thorough answer. This is a failure of me boiling down my test case properly. I have operations before/after and my actual checkpoints.

I've found the error boils down to some LayerNorms, and possibly some view operations I'm doing in there. That makes me think this might be #26546. I will check back when I figure more out.

[2020-02-29 02:06] ptrblck commented on #33986
I can reproduce this failure locally using the nightly binary from today + CUDA10.1.
As a workaround, could you use [`torch.autograd.profiler.profile(use_cuda=True)`](https://pytorch.org/docs/stable/autograd.html#torch.autograd.profiler.profile), which seems to take another path.

We'll try to isolate this issue.

[2020-02-29 02:13] msbaines commented on #33986
When I use  `torch.autograd.profiler.profile(use_cuda=True)`, my application (training a MT model using [fairseq](https://github.com/pytorch/fairseq)) runs 3.2x or 220% slower.

[2020-02-29 02:14] ptrblck commented on #33986
I'm not sure at the moment, but the first command might skip the actual profiling, thus creating an invalid file and just run "fast".

[2020-02-29 02:31] #33113 closed

[2020-02-29 02:36] #31864 closed

[2020-02-29 02:36] #31950 closed

[2020-02-29 02:42] stephenroller commented on #33962
Alright well I think I've sorted out out, so I'll close it.

Something about doing this operation like this:

https://github.com/facebookresearch/ParlAI/blob/b927d8e4f2a4d18cbc797c78d38d7506e08e6426/parlai/agents/transformer/modules.py#L43-L50

inside this block:

https://github.com/facebookresearch/ParlAI/blob/b927d8e4f2a4d18cbc797c78d38d7506e08e6426/parlai/agents/transformer/modules.py#L595-L604

[2020-02-29 02:42] #33962 closed

[2020-02-29 02:42] jotterbach opened #33999 "Behavior of mixed derivatives is unexpected"
## 🐛 Bug

For a research project, I want to implement a mixed second derivative wrt. to the input *and* parameters, i.e. $\partial_x\partial_\theta L(x, \theta)$. This works reasonably well using the `torch.autograd.grad` functionality as proven in the snippet below, but incurs significant memory overhead due to having to store a separate set of activations (which I am not sure why yet) and prohib

[2020-02-29 03:07] #30775 closed

[2020-02-29 04:03] cmpute commented on #33928
@vincentqb actually I have no experience with Caffe2, so I don't know which part in the CMakeLists.txt of Caffe2 lead to this. Anyone could help?

[2020-02-29 04:05] cmpute commented on #33928
And I'm also a little bit confused, why is the exported `torch` target depends heavily on Caffe2 targets?

[2020-02-29 04:49] ruotianluo opened #34001 "_broadcast_coalesced_reshape doesn't respect zero-size tensor"
## 🐛 Bug

_broadcast_coalesced_reshape doesn't respect zero-size tensor

## To Reproduce

[code]

## Expected behavior

[[tensor([], device='cuda:0', size=(0, 1))], [tensor([], device='cuda:1', size=(0, 1))]]

## Environment
PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: CentOS Linux 7 (Core)
GCC version: (GCC) 4.9.4
CMake version: version 2.8.12.2

Python version:

[2020-02-29 06:05] ngimel commented on #33812
It is a bug, thanks for reporting.

[2020-02-29 06:21] msbaines commented on #33986
I am able to load the nvprof file from the first case with nvvp and I can see the autograd emitted nvtx annotations. I just can't load it with autograd (assertion).

In the second slow case, I export a chrome trace.  For measuring overhead, I compared the time for a single iteration using time.perf_counter().

[2020-02-29 07:29] whl287 opened #34002 "Cannot export ScriptModule models to ONNX format"
## 🐛 Bug

when i try to export a script module to onnx format, i got a runtime error
## To Reproduce
import torch
import torchvision

model = torchvision.models.resnet18(pretrained = True)
model2 = torch.jit.script(model)
input = torch.rand([1, 3, 224, 224])
example_output = torch.rand([1, 1000])
torch.onnx.export(model2, input, "resnet18.onnx", example_outputs = example_output)

(pytorch) D:\test

[2020-02-29 07:49] peterjc123 commented on #33918
Could you please print the loaded DLLs through the following code?
[code]

[2020-02-29 08:27] jjsjann123 commented on #33918
Unfortunately I do NOT have a repro on the Windows machine.
The failure is on circle ci. I don't know if one can (and how to) access CI machine directly. :cry:

[2020-02-29 08:49] v0dro commented on #24621
CC : @nikitaved

# Porting approaches

There are three ways of porting the scatter operation from TH to ATen:

1. Directly copy the TH looping approach and utilize the same CUDA kernels. (non-deterministic)
2. Use TensorIterator similar to https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/IndexKernel.cu . (non-deterministic)
3. Sort indices before iteration so that it always

[2020-02-29 11:08] Marceliny opened #34010 "Neural Style Transfer Tutorial typo"
## 📚 Documentation

In style transfer tutorial, under the [gradient descent](https://pytorch.org/tutorials/advanced/neural_style_tutorial.html#gradient-descent) section, second paragraph's last sentence has a typo that 'module' is written as 'modul'.

The last sentence,

needs to be

[2020-02-29 12:22] acairncross commented on #33692
This is being caused by `torch.testing.assert_allclose`, which tries to subtract tensors from each other, being called on pairs of bool tensor constants in the original and traced modules [here](https://github.com/pytorch/pytorch/blob/v1.4/torch/jit/__init__.py#L609). `numpy.testing.assert_allclose` doesn't have this problem since [it promotes (one of) its arguments to at least some float type](ht

[2020-02-29 12:49] AbdelsalamHaa commented on #30655
Hi I have the exact same issue. @ljk53 I have tried ur suggested answers but the Tensor.getRawDataBuffer() function is a private function therefore I can't use it.
I can call getDataAsFloatArray() but I have no idea How to convert a float to a bitmap.
When I try to call getDataAsBufferArray() the program will crash because my Tesnor is a float.

[2020-02-29 12:55] AbdelsalamHaa commented on #30655
Hi, I have tried the suggest solution but it didn't work for me. Tensor.getRawDataBuffer() is a private function therefore I can't really use it.
I can call Tensor.getDataAsFloatArray() but I don't know how to convert to a bitmap from there.
I also tried to call Tensor.getDataAsBufferArray() but my tensor is a type float so it will cause my program to crash.

[2020-02-29 17:40] tvinith commented on #16417
I'm getting this error during inference time....i'm ru
 CUDA out of memory. Tried to allocate 102.00 MiB (GPU 0; 15.78 GiB total capacity; 14.54 GiB already allocated; 48.44 MiB free; 14.67 GiB reserved in total by PyTorch)

-----------------------------------------------------------------------------+
| NVIDIA-SMI 440.59       Driver Version: 440.59       CUDA Version: 10.2     |
|---------------

[2020-02-29 18:03] peterbell10 commented on #33562
`HANDLE_TH_ERRORS` already includes a catch clause that should cover all standard exception types:
https://github.com/pytorch/pytorch/blob/5a8562a6af2f4097975ad079e982a88924c4fd07/torch/csrc/Exceptions.h#L76-L80

Is it possible there's some weirdness because the exception is thrown from a shared library (`c10`)?

[2020-02-29 20:51] hermanius commented on #18626
support++

[2020-02-29 22:45] anjali411 commented on #20686
Making this high priority because my build is failing when I try to add a new file with function at::native::computeStrideForComplex with this error which seems related to this issue.
```UnaryOpsKernel.cpp.AVX.cpp:(.text+0x483f0): multiple definition of `at::native::computeStrideForComplex(c10::ArrayRef<long>)'
caffe2/CMakeFiles/torch_cpu.dir/__/aten/src/ATen/native/cpu/UnaryOpsKernel.cpp.AVX2.cpp

[2020-02-29 23:34] zhangwenwen commented on #16805
It works for me, thx!

[2020-03-01 00:29] peterbell10 commented on #22338
I think exporting `ATEN_CPU_CAPABILITY=default` should work:
https://github.com/pytorch/pytorch/blob/a23109e12e12db35ca48cf1f991d89304b4bfc73/aten/src/ATen/native/DispatchStub.cpp#L12

[2020-03-01 01:08] nkalavak opened #34028 "'LocalFileSystem' object has no attribute 'makedirs'"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

While working with the `add_embedding` method for TensorBoard (for the first time), there seems to be an issue with one of the lines in the `writer.py` files that is invoked. The simplest way to reproduce would be to test the **Adding a "Projector" to TensorBoard** section of the TensorBoard tutorial (Link: https://pytorch.org/tutorials/

[2020-03-01 01:33] peterbell10 commented on #22338
Actually, that's not quite right. It looks like `TH` has it's own cpu capability detection and with it it's own environment variables:
https://github.com/pytorch/pytorch/blob/327e94f51bcbbe78046f0fbfcdb7c9a240487589/aten/src/TH/vector/simd.h#L144
So, you would actually need `TH_NO_AVX=1 TH_NO_AVX2=1` as well.

@ezyang Would it make sense to have `TH` call `at::native::get_cpu_capability` to avoid

[2020-03-01 02:16] hczhu opened #34029 "A minor bug in unused grad_input check of run_backward()"
## 🐛 Bug

A pretty obvious bug that `num_inputs` is always 0.

https://github.com/pytorch/pytorch/blob/877c96cddfebee00385307f9e1b1f3b4ec72bfdc/torch/csrc/autograd/autograd.cpp#L103-L113

cc @ezyang @SsnL @albanD @zou3519 @gqchen

[2020-03-01 03:05] Atcold opened #34032 "Documentation is super heavy"
## 📚 Documentation

The documentation webpage is ridiculously heavy (~300MB on Chrome) and will crash any phone's browser. Can we section it into smaller chunks?

<img width="514" alt="Screenshot 2020-02-29 22 02 32" src="https://user-images.githubusercontent.com/2119355/75618659-82939a00-5b3f-11ea-8d57-a01994277f22.png">

cc @ezyang @gchanan @zou3519

[2020-03-01 03:12] dreiss opened #34034 "TorchScript should ignore comment indentatoin (like Python)"
## 🐛 Bug

Python doesn't care about indentation of comment lines, but the TorchScript parser can get confused by non-indented comments (which is what Jupyter produces when you comment code out with ctrl-/).

## To Reproduce

[code]

[code]

cc @suo

[2020-03-01 03:38] Atcold opened #34036 "LSTM swaps batch with time when time.size() = 1"
## 🐛 Bug

When I send a batch (first) to an LSTM and the temporal dimension is unitary, the LSTM output has batch and time swapped.
The documentation says:

## To Reproduce

[code]

## Expected behavior

[code]

## Environment
[code]

[2020-03-01 04:03] Atcold commented on #34036
Ah...

Regardless the bath-first thingy.

[2020-03-01 04:03] #34036 closed

[2020-03-01 04:59] MicaelCarvalho commented on #26072
I finished that project a while ago and haven't touched that code again. I also don't have access to the same cluster anymore; and haven't re-detected the problem ever since. All the investigation I did back then is reported in the thread, unfortunately I don't have any new data to share.

[2020-03-01 07:16] 372046933 commented on #17703
@boxwh1 Have you got it work? Could you throw some light on your solution?

[2020-03-01 09:05] 522730312 commented on #33937
upper

[2020-03-01 10:05] skmatz commented on #34010
@Marceliny

Please post any tutorials issues to https://github.com/pytorch/tutorials.

[2020-03-01 10:32] shepherd1530 opened #34040 "Can't compile pytorch from source"
## 🐛 Bug

I have been trying to build pytorch v1.4 from the GitHub repo on a device running arm64 but I get an error once I start building.
I have looked through the issues page for similar issues but the one's I saw are for v1.0.

Here's my stacktrace.

`[ 53%] Building C object confu-deps/XNNPACK/CMakeFiles/XNNPACK.dir/src/math/sigmoid-neonfma-rr2-lut64-p2-div.c.o

[2020-03-01 11:32] KaiHoo opened #34042 "cannot use group norm in torchvision API"
## 🐛 Bug

Cannot use nn.GroupNorm for "norm_layer" in torchvision.models.resnet50. However, nn.GroupNorm is supposed to be OK since there are codes to initialize the weights of nn.GroupNorm in the resnet50 file.

## To Reproduce

## Expected behavior

Both nets should be OK, however the second raised an error in torchvision/models/resnet.py line 143

## Environment

PyTorch version: 1.4.0
Is debug

[2020-03-01 15:35] solarflarefx opened #34044 "Torchscript Inference with DLL Creation"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

I am developing in Windows with Visual Studio 2019 and am trying to create a callable DLL.  I creat

[2020-03-01 16:11] nikitamehrotra12 commented on #33661
I got this error with the dataloader

![image](https://user-images.githubusercontent.com/20640205/75629121-4e82ac80-5c05-11ea-8eb9-fd1c800cd891.png)

[2020-03-01 16:15] peterjc123 commented on #34044
Please remove the `extern "C"` because it is c++ code.

[2020-03-01 18:17] ngimel commented on #33812
The bug is not numpy-specific, removing numpy label. It happens because the stride for the 0-th dimension of size 1 is set to 0, and memory overlap check does not ignore size-1 dimensions when checking for 0 strides.

[2020-03-02 00:00] peterbell10 commented on #33535
I was able to reproduce, it appears to be a bug in `pycocotools`. The stack trace lead me to cocodataset/cocoapi#354 which does fix the issue, although it isn't in any released version yet.

In the mean time, I can confirm that downgrading to `numpy==1.17` is a valid workaround.

Closing since this is already fixed in `pycocotools`, pending a new release.

[2020-03-02 00:00] #33535 closed

[2020-03-02 04:32] dreiss commented on #6570
Confirming that it's possible to use CUDA models from Java with a little help from TorchScript: https://github.com/dreiss/java-demo/issues/2

[2020-03-02 05:53] #33345 closed

[2020-03-02 06:01] xubin1994 commented on #31464
I tried this environment: torch1.4 + onnx 1.6. But there are still problems. This time the problem is on the clip OP. I'm not sure if there is a problem with the gather OP. Can you help me to transform the Class SpatialTransformer to the onnx file and verify  on onnxruntime？
Here is my Class SpatialTransformer:
[code]

[2020-03-02 06:01] riyadshairi979 opened #34052 "Model loaded in C++ runtime is not thread safe"
[code]

[2020-03-02 07:19] #33045 closed

[2020-03-02 07:22] peterjc123 commented on #29327
Resolved by https://github.com/pytorch/pytorch/pull/33250.

[2020-03-02 07:22] #29327 closed

[2020-03-02 07:25] peterjc123 commented on #28369
The original issue https://github.com/pytorch/pytorch/issues/28369#issuecomment-544793834 is resolved.

[2020-03-02 07:25] #28369 closed

[2020-03-02 08:17] ginngu commented on #21819
I met the same problem, It randomly happened when distributed training on 4 GPUs, and always on GPU 0. (Ubuntu 16.04, 1080ti x 3 and Titan Xp x 1, Driver Version: 430.50, CUDA Version: 10.1

[2020-03-02 08:48] kontrabas380 commented on #21626
@albanD, it is correctly working on my machine with the same docker, so files are not corrupted. And model file is inside the docker so I'm not moving them around.

What information should I prepare?

[2020-03-02 08:57] Rxma1805 commented on #16417
thank u,you are right

[2020-03-02 09:14] Enolerobotti opened #34054 "Export to ONNX models including logical masks"
## 🐛 Bug

This is a bug in torch.onnx module during export. Unable to handle with a logical mask due to TypeError.

## To Reproduce

Steps to reproduce the behavior:

1. type to the forward method something like

2. export the model to onnx:

3. load the model by

4. catch the error.

5. see the log

  %334 : Bool(20, 50, 6) = onnx::Cast[to=9](%333) # C:\Users\....\file.py:49:0
  %335 : Long() = o

[2020-03-02 09:24] EricLucife opened #34056 "A Problem"
I have installed PyTorch in miniconda. I can import torch in Anaconda Prompt. But when I try to import torch in IDLE, the first time there is a Warning. Then I try it again, there are nothing wrong. the path of IDLE is "D:\Miniconda3\Lib\idlelib\idle.bat"
![image](https://user-images.githubusercontent.com/35440115/75662736-90196300-5caa-11ea-9abc-dfb708391554.png)

[2020-03-02 09:58] VitaMusic commented on #33343
Could you clear the situation about convertion of libtorch models in onnx format ?
This option is critical for me, and I can not use the solution proposed by **michaelboth** via JIT in Python.
Whom and how to ask that this option be implemented in the near future? Thanks

[2020-03-02 10:01] 522730312 opened #34057 "Computation graph optimization during training"
Hi, is it possible or neccessary to optimize the dynamic computation graph generated during training for a higher throughput?If it is, then what is the recommended way to achieve that? Thanks in advance.

cc @suo

[2020-03-02 10:19] boulabiar opened #34058 "libtorch.so file size is very large"
## 🐛 Bug

The library size of torch is very large (~267MB without CUDA, 1.2 GB with CUDA).
This can be caused by using a library like Intel IPP similar to this opencv bug.
https://github.com/opencv/opencv/issues/15177
This limits the use of pytorch models in small environments (without CUDA).

## To Reproduce

Steps to reproduce the behavior:
1. Download the libtorch C++ library

## Expected behav

[2020-03-02 10:34] peterjc123 commented on #34056
The warning is thrown by numpy, please open a ticket at https://github.com/numpy/numpy/issues instead.

[2020-03-02 10:34] #34056 closed

[2020-03-02 11:23] thomas-beznik commented on #5285
Hello everyone,

I am trying to deploy a 3D-UNet model (from here: https://github.com/wolny/pytorch-3dunet) on CPU instances and I am running into similar problems. My input size is (96, 96, 96) and I one of the convolutions in the decoder uses more than 18 GB of memory...

Is there a way to use less memory (preferably without reducing the complexity of the network or the size of the input)? I tri

[2020-03-02 11:34] tstumm opened #34060 "Discrepancy of matrix multiplication due to the size"
## 🐛 Bug

`MultiHeadAttention` seems to be influenced by the batch size. Calculating attention for some random tensor of shape `(L, N, E)` and with a slice `[:, 0, :]` with unsqueezed dim=1, yields different results for the slice `[:, 0, :]`.

## To Reproduce

Code to reproduce the behaviour:

[code]

## Expected behavior

Calculating attention using `MultiheadAttention` for some specific instance

[2020-03-02 12:20] kakri commented on #30571
" Last time we met this when compiling torchvision using VS 2017 14.16 [here](https://circleci.com/gh/pytorch/vision/32385?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link&fbclid=IwAR2CUUfQzPSxdno_YCEHOeslpTI2jRRVHX0W62bpJrwo-nEVjfqPZRG8Qew) and finally we resolved that problem by updating to VS 2019. Alternatively, you could downgrade to VS 2017 14.11."

While I

[2020-03-02 12:22] Alexander-H-Liu opened #34061 "Incorrect det value on CPU"
## 🐛 Bug

Incorrect det value on CPU

## To Reproduce

[code]

## Expected behavior

[code]

## Environment

[code]

cc @VitalyFedyunin @vishwakftw @SsnL @jianyuh

[2020-03-02 13:41] alexjc commented on #33812
I'm getting the same error running this repository with ``--cpu`` as a flag:
https://github.com/ClovaAI/WCT2

The error is in loading the pretrained modules.  I tested and it works with Pytorch 1.2.0.

[2020-03-02 14:07] albanD commented on #21626
You should get a script to reproduce this issue (30/40 lines).
Then open a new issue with the script + all the information requested in the bug-report template when you create an issue.
Thanks !

[2020-03-02 14:18] tstumm commented on #34060
I could pinpoint the issue to the linear transformations for q,k and v. So, this seems to be caused by `torch.matmul`.

[code]

[2020-03-02 14:21] vadimkantorov opened #34062 "[docs] Unclear scatter_ signature wrt src|value and a typo"
https://pytorch.org/docs/master/tensors.html#torch.Tensor.scatter_

1. The function signature `scatter_(dim, index, src) → Tensor` has no mention of `value`, so it is confussing to find it in argument spec. I think it'd be clearer if the argument spec just mentioned that `src` can be a scalar:
[code]
The function description also has no mention of `value`.
 2. Typo: 'incase" in one word

[2020-03-02 14:27] vadimkantorov opened #34063 "[docs] Unclear description of indices arg in torch.index_put_"
https://pytorch.org/docs/master/tensors.html#torch.Tensor.index_put_

[code]

However if we follow the suggested link [indices](https://pytorch.org/docs/master/tensors.html#torch.Tensor.indices), it only explains something about sparse tensors: `If self is a sparse COO tensor (i.e., with torch.sparse_coo layout), this returns a view of the contained indices tensor. Otherwise, this throws an error.

[2020-03-02 14:40] #32014 closed

[2020-03-02 14:49] GoranDubajic opened #34064 "pip --requirement installs incorrect CUDA version"
## Issue description

When installing PyTorch using pip with requirements file provided it installs PyTorch for CUDA 9.2 while when installed from command line it would install for CUDA 10.1.
[requirements.txt](https://github.com/pytorch/pytorch/files/4275930/requirements.txt)

## Code example
[code]
On the other side if PyTorch is installed from command line.
[code]
## System Info
[code]

PyTorch

[2020-03-02 14:56] albanD commented on #33661
You should set the number of workers in the dataloader to `0` to avoid any noise created by it :)

[2020-03-02 15:10] nikitamehrotra12 commented on #33661
Yeah, I tried that and it is working fine with 0 workers,  but then it is very slow

[2020-03-02 15:17] albanD commented on #33661
And running with `1` worker does crash?

[2020-03-02 15:24] nikitamehrotra12 commented on #33661
I did not try that..but probably it will work with 1 worker also..as in that case also main process will be doing this data loading stuff

[2020-03-02 15:43] albanD commented on #33661
No, it will only be done in the main process if you specify `0`. For `1`, it will use another process for data-loading.
You can try to attach to the one created process. If you use fork you can use `set follow-fork-mode child` in gdb.
Otherwise, you will have to put a break in your code to give you time to attach gdb to the new process. You can find the new id with `ps u` then attach with `gdb -p

[2020-03-02 15:53] ngimel commented on #33812
Bumping priority based on activity in comments

[2020-03-02 16:00] VitalyFedyunin commented on #32707
@adefossez  can you please retest with pytorch nightly build. It should be fixed.

[2020-03-02 16:00] #32707 closed

[2020-03-02 16:04] #34010 closed

[2020-03-02 16:10] zhangguanheng66 commented on #33841
It seems some floating point difference. Not sure it's because of nn.MultiheadAttention module or torch.cat func. May worth some investigations.

[2020-03-02 16:34] #24667 closed

[2020-03-02 16:34] #24669 closed

[2020-03-02 16:37] #24708 closed

[2020-03-02 16:37] #24688 closed

[2020-03-02 16:37] #24687 closed

[2020-03-02 16:40] fanbeatsman commented on #33988
@ptrblck Thanks for such a fast response. I think i see my problem. I called view to preprocess my data and didn't know it doesn't actually change the underlying content when feeding into VGG. Is there an API call that does what `view()` does but that actually changes the content? Or do I have to do something lie `view().contigous()`?

[2020-03-02 17:15] ezyang commented on #17658
Check out the instructions in the README

[2020-03-02 17:22] hczhu opened #34067 "Optimize autograd engine init_to_execute() performance"
## 🚀 Feature

`GraphTask::init_to_execute()` uses manually unrolled version of depth first search to traverse the autograd graph. The purpose is to determine whether each node/function needs to be computed (calling `apply()`). A node needs to be computed, iff any of its child nodes needs to be computed.

The method uses an unnecessary `any()` to check each out edges of a node when all edges are vi

[2020-03-02 17:23] ezyang commented on #31136
Both of these environments are being used for testing, and we should pin both.

[2020-03-02 17:27] anjali411 commented on #33862
Hi @JesperLindberg sorry about this. this seems like a documentation issue (cc. @yf225 ). you will need to input the params(or param_groups) and options to initialize the sgd optim. this should work
[code]

[2020-03-02 17:28] ezyang commented on #33867
@ptrblck I don't think that works, because if there is ever a `contiguous()` call on a non-contiguous tensor you'll end up with a new tensor that isn't contiguous, and so updates won't be reflected in the original. In cases like this, you need to explicitly `copy_` the results back to the original tensor.

BTW, I doubt anyone is actually using noncontiguous running mean, so I don't think this is t

[2020-03-02 17:29] anjali411 opened #34068 "[C++ API Parity] Incorrect documentation for optim initialization in serialization docs"
https://pytorch.org/cppdocs/api/function_namespacetorch_1a99dc9f736064b2179cc58e6436f7a021.html#exhale-function-namespacetorch-1a99dc9f736064b2179cc58e6436f7a021

https://pytorch.org/cppdocs/api/function_namespacetorch_1a4b369494adfb10b9a005aeb0bb6207cb.html#exhale-function-namespacetorch-1a4b369494adfb10b9a005aeb0bb6207cb

see issue: https://github.com/pytorch/pytorch/issues/33862#issuecomment-59

[2020-03-02 17:29] #33862 closed

[2020-03-02 17:34] nikitamehrotra12 commented on #33661
Thanks, I will add the code in collab and let you know.

Also this time I got this error with 0 workers also.
![image](https://user-images.githubusercontent.com/20640205/75701450-d4702780-5cd9-11ea-8d00-30c566aa396a.png)

I am using PyTorch geometric library and it provides its own data loaders. But I have used the ones provided by PyTorch. I hope this is not causing any issue

[2020-03-02 17:37] ezyang commented on #33898
It's in `torch/_tensor_docs.py`

[code]

[2020-03-02 17:42] Baranowski commented on #973
@ivanprado, I know it's been almost two years but is there any chance you still have the code for which you noticed the FD leak?

[2020-03-02 17:58] albanD commented on #33661
When you see this error, you should type `bt` in gdb to get the stack trace. That would be super helpful !

[2020-03-02 17:59] ezyang commented on #24753
cc @anjali411 @dylanbespalko

[2020-03-02 17:59] ezyang commented on #24753
@kurtamohler For a porting task, I would definitely not expect you to add extra functionality that didn't exist before. So not handling complex is fine.

[2020-03-02 18:02] ezyang commented on #24621
OK, sounds reasonable. cc @ngimel if she has any further thoughts.

[2020-03-02 18:02] ezyang commented on #33562
Yes, there could be some weak symbol fiasco and we're ending up with two RTTI copies of `std::exception`. However, if that's true, then adding `std::domain_error` guard probably wouldn't help either.

[2020-03-02 18:04] ezyang commented on #20686
@anjali411 Are you building in-source? If you're using `setup.py` that shouldn't be the case, so I don't see how you could be triggering this problem.

[2020-03-02 18:05] VitalyFedyunin commented on #24534
Unassigning due to priority

[2020-03-02 18:06] VitalyFedyunin commented on #24596
Hi-Pri because we need it to add complex numbers support.
Unassign due to priority.

[2020-03-02 18:07] ezyang commented on #22338
@peterbell10 Yes, absolutely. This is a nice find.

[2020-03-02 18:13] VitalyFedyunin commented on #20376
WIP for test_torch
cc @VitalyFedyunin create issues one per test_* files.

[2020-03-02 18:15] ezyang commented on #5285
@thomas-beznik I'd suggest asking this question on the forums

[2020-03-02 18:20] VitalyFedyunin commented on #33941
Hi-Pri per @albanD

[2020-03-02 18:21] VitalyFedyunin commented on #33941
Check with `t_`

[2020-03-02 18:22] VitalyFedyunin commented on #20686
Unlabeling as more info needed

[2020-03-02 18:22] VitalyFedyunin commented on #4320
Might extend to other functions, requires checking.

[2020-03-02 18:22] VitalyFedyunin commented on #33820
@soumith is it related to the cloudfare move?

[2020-03-02 18:23] VitalyFedyunin commented on #24623
Hi-Pri because of complex numbers support

[2020-03-02 18:23] VitalyFedyunin commented on #24759
Hi-Pri because of complex numbers support

[2020-03-02 18:24] anjali411 commented on #20686
yeah I am

[2020-03-02 18:34] raghuramank100 commented on #33648
@supriyar Can we close this issue now?

[2020-03-02 18:34] vincentqb commented on #33898
Can you mention what you would expect? `P(x) = 1/(to - from)` seems correct to me. Since picking x between `[from, to]` uniformly at random means that each `x` must have the same probability `p`. Since the density `P(x)` must sum to 1, `p*(to - from)=1` so `p=1/(to-from)`. Is that what you meant?

[2020-03-02 18:34] jjsjann123 commented on #33867
Good catch! I got confused at the python binding part, updating `running_mean = running_mean.contiguous()` would not update the buffer in the layer to the new one. And I don't know if there's any way to do that. I stand corrected and we do need to update the original tensor.

`copy_` would work. We could add that in the `cudnn_batch_norm` if we wanted the support. But that means unnecessary copy f

[2020-03-02 18:34] driazati commented on #34034
This annoying but tough to fix since the bug is coming from Python's `ast` module rather than any code in TorchScript

Closing as duplicate of #25043

[2020-03-02 18:34] #34034 closed

[2020-03-02 18:38] #33648 closed

[2020-03-02 18:42] cpuhrsch commented on #33129
@skn123 - could you expand a bit more on what you mean by "custom python wrapped library"?

[2020-03-02 18:45] ezyang commented on #2576
This still applies on master

[code]

[2020-03-02 18:49] #33417 closed

[2020-03-02 18:50] #33420 closed

[2020-03-02 18:52] ezyang commented on #33934
For comparison:

[code]

[2020-03-02 18:56] raghuramank100 opened #34074 "Add support for static and dynamic quantization with Conv1D operator"
Conv1D is invoked as part of GPT2 (instead of matmul) and is also used in speech models. We will need dynamic quant support and static quant support for this operator in pytorch. Also, see:
https://github.com/pytorch/pytorch/issues/33433
https://github.com/pytorch/pytorch/issues/33487
#32768

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a

[2020-03-02 18:57] ezyang commented on #33943
I would agree with your diagnosis. Do you think you'd be able to submit a PR fixing this?

[2020-03-02 18:57] amorgun commented on #33841
It is possible to rewrite the example script without `tocrh.cat`:
[code]
Also, I've found a bug in the original script. It does not work correctly for chunk size 64 either.
Do I understand correctly that `MultiheadAttention(a[:i], b, c)[0]` should always be equal to `MultiheadAttention(a, b, c)[0][:i]`?

[2020-03-02 18:59] ezyang commented on #33953
You're absolutely right. Do you think you could submit a PR fixing this?

[2020-03-02 19:01] raghuramank100 commented on #33433
@carter54 , thanks for flagging this issue. This issue is better answered in the pytorch forums on quantization. We are currently not planning to add fp16 support for conv1D as we expect int8 quantization to provide acceptable accuracy with more speedup.  We will plan on adding conv1D support for quantization (int8) and are tracking the feature request at: https://github.com/pytorch/pytorch/issues

[2020-03-02 19:01] #33433 closed

[2020-03-02 19:04] vibhatha commented on #33943
Sure, I will do that. Thanks a lot for checking this.

[2020-03-02 19:04] raghuramank100 commented on #33487
@vcjob : We do not currently support dynamic or static quantization for Conv1D operator in pytorch, so no conversion will be done. Also, quantize_dynamic keeps all activations in float and only quantizes the weights, so there is no need to insert Quant or DeQuantStubs. Also, questions regarding a particular model not working with quantization are better asked at the pytorch forums: https://discuss

[2020-03-02 19:05] #33487 closed

[2020-03-02 19:10] ngimel commented on #24621
How strongly do we feel about determinism? If the answer is "not particularly", I'd suggest using approach 1. Approach 3 with sorted indices might still result in some very awkward access patterns when scattering along last dimension.

[2020-03-02 19:19] mrshenli opened #34075 "Improve ProcessGroupRpcBackendOptions Python constructor"
Currently, applications need to do the following

[code]

We should make this easier, e.g.,

[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar

[2020-03-02 19:41] ezyang commented on #33986
Marking as high priority as it seems like basic functionality in the autograd profiler does not work. We may revise priority down if it turns out this only happens in rare circumstances, but given that ptrblck could repro that probably is not the case.

[2020-03-02 19:41] ezyang commented on #34028
Marking as high priority as it seems that basic functionality in tensorboard does not seem to work

[2020-03-02 19:42] ezyang commented on #34029
well spotted

[2020-03-02 19:43] ezyang commented on #34032
related https://github.com/pytorch/pytorch/issues/20984

[2020-03-02 19:44] ezyang commented on #34032
Marking as high priority as this is a recurring major ux issue for users of our docs, as seen in the old bug. It seems we've fixed load time but not memory usage.

[2020-03-02 19:47] xuhdev opened #34079 "Debug build over CUDA 10.1 always fails"
When building with CUDA 10.1, gcc 8.3 on Linux, I always got the following error message:

[code]
## To Reproduce

Steps to reproduce the behavior:

1. `DEBUG=1 ONNX_ML=0 MAX_JOBS=8 CMAKE_CXX_COMPILER_LAUNCHER=ccache CMAKE_C_COMPILER_LAUNCHER=ccache CMAKE_CUDA_COMPILER_LAUNCHER=ccache USE_OPENMP=0 USE_DISTRIBUTED=0 USE_MKLDNN=0 USE_NCCL=0 USE_CUDA=1 USE_CUDNN=0 USE_STATIC_CUDNN=0 USE_NNPACK=0 USE_

[2020-03-02 19:48] ezyang commented on #33937
@zou3519 I think this would be solved by vmap

[2020-03-02 19:49] ezyang commented on #33937
If all operations support batching you could manually stack the inputs and then run everything in batched mode. May be annoying to do in some situations though.

[2020-03-02 19:52] ezyang commented on #34040
cc @AshkanAliabadi

Can you post your full cmake log? There don't seem to enough log lines from the bottom.

[2020-03-02 19:52] ezyang commented on #34040
Also, PyTorch v2.0 is not a thing; can you post what the real version you're trying to compile is?

[2020-03-02 20:00] ezyang commented on #34052
This static initializer should be thread safe:

[code]

What version of PyTorch are you running?

[2020-03-02 20:04] ezyang commented on #34057
In principle the JIT compiler with TorchScript should be able to help with this; in practice you'll get most speed ups from fusing pointwise operations together. Check out https://pytorch.org/blog/optimizing-cuda-rnn-with-torchscript/ for an example

[2020-03-02 20:04] #34057 closed

[2020-03-02 20:06] ezyang commented on #34058
cc @soumith marking high priority to at least respond to this issue; this might be non-actionable

[2020-03-02 20:07] ezyang commented on #34060
cc @zhangguanheng66 marking as high priority as the results are silently different.

[2020-03-02 20:21] osalpekar opened #34080 "RPC API Changes for TensorPipes"
## 🚀 Feature
In order for RPC Agent to support the full functionality of TensorPipes' fast point-point communication, the following API-level changes will need to be made:

* Results Placement: Process A can send a message to Process B with instructions to send the result of the computation to Process C. We must also support the case where the result is a nested structure (list, dict, etc.), and s

[2020-03-02 20:25] ezyang commented on #24422
@seemethere I added you to 'module: ci' and 'module: binaries'

[2020-03-02 20:29] #33630 closed

[2020-03-02 20:29] ezyang opened #34082 "Autograd deep copy avoidance optimization unsound in the presence of views"
Right now, we have the following optimization in accumulate grad:

[code]

We test the use count on the Tensor object to see if we can steal it into the input buffer (to be accumulated into when we make subsequent modifications). However, this is unsound if `new_grad` is a view on another tensor, because then we will save a view into `variable.grad()` and the aliasing is now observable.

There is

[2020-03-02 20:30] VitalyFedyunin opened #34083 "`max_pool2d` fails with channels_last and specific shapes."
To reproduce:
[code]

Result:

[code]

cc @ngimel @VitalyFedyunin @jamesr66a

[2020-03-02 20:30] tstumm commented on #33841
The input shape for the attention module is `(SeqLen, BatchSize, EmbeddingDim)`. You're slicing the sequence dimension, which does indeed influence the calculation. If you want to chunk at the batch dimension, you should go for the second dimension.

[2020-03-02 20:31] VitalyFedyunin commented on #34083
CC @jjsjann123

[2020-03-02 20:34] albanD commented on #33941
For reference, another similar issue from the forum: https://discuss.pytorch.org/t/tensor-set-seems-not-to-correctly-update-metadata-if-the-shape-changes/67361

[2020-03-02 20:35] VitalyFedyunin opened #34084 "CUDA's `cat` implementation doesn't support memory_format"
[code]

cc @ngimel @VitalyFedyunin @jamesr66a

[2020-03-02 20:35] VitalyFedyunin commented on #34084
cc @jjsjann123

[2020-03-02 20:39] VitalyFedyunin opened #34085 "CUDA`s `dropout` doesn't support channels last memory format"
[code]

cc @ngimel @VitalyFedyunin @jamesr66a

[2020-03-02 20:39] VitalyFedyunin commented on #34085
CC @jjsjann123

[2020-03-02 20:39] ezyang commented on #34064
This is pretty weird, although I'm not sure there is much we can do about this without redoing our packages entirely, as somehow pip is treating requirements.txt differently.

[2020-03-02 20:40] ezyang commented on #34064
cc @seemethere

[2020-03-02 20:42] ezyang commented on #33988
Adding the contiguity check (or just running `.contiguous()` on the input) should be easy to do

[2020-03-02 20:43] ezyang commented on #33988
cuda kernel crash marking high priority

[2020-03-02 20:47] rohan-varma opened #34086 "Enable profiler tracing tests on windows"
## 🚀 Feature
As mentioned in https://github.com/pytorch/pytorch/pull/33987/files, the tests for `export_chrome_trace` in `test/test_autograd.py` are currently disabled on Windows due to a file permission issue.

A correct fix here would be to pass the file object directly to `export_chrome_trace`, however, this would require modifying its API.

When this is done we should re-enable the two tests t

[2020-03-02 20:53] amorgun commented on #33841
@tstumm I agree that chunking along the batch dimension is correct. But it looks like chunking along the sequence dimension should also be possible because queries do not attend to themselves, and each result element depends just on its respective query, all keys, and all values.

[2020-03-02 21:18] albanD commented on #34082
### The view problem
I agree that this is dangerous.
I kind of remember discussion of moving this `use_count()` check to the storage. But I can't find it anymore (maybe it was just in my head a long time ago :D ).

### The hook problem
The hooks should **never** change the grad inplace and should `.clone()` them if they want to save them.
So in that sense, the hook is not an issue.
Hopefully every

[2020-03-02 21:27] #33899 closed

[2020-03-02 21:29] ducha-aiki opened #34089 "Conv3d depthwise is slower than conv2d depthwise + for loop"
## 🐛 Bug

Conv3d depthwise  seems much slower, at least for small number of channels than conv2d depthwise  + for loop

Timings:

## To Reproduce
Run this code (or this colab)
https://colab.research.google.com/drive/1HL3VqE5AH_ZlHT2SQfIub2AVjwdTor5U

Steps to reproduce the behavior:

[code]

## Expected behavior

Well, not be  slower than for loop. Although it is probably cudnn issue

## Environme

[2020-03-02 21:32] peterbell10 commented on #18853
@pritamdamania87, @mrshenli any thoughts as to why the graph task might be expiring here?

[2020-03-02 21:37] AshkanAliabadi commented on #34040
I would try the following:

- Make sure you have saved all your work, then do a "git clean -xfd" followed by a "git reset --hard" to remove build artifacts and pending changes, if any.  As mentioned, make sure you have saved all your changes prior to issuing these commands.

- Update to the tip of master.  Then do a "git submodule sync" followed by "git submodule update --init --recursive".

- In

[2020-03-02 21:47] marcindulak commented on #19190
You don't need kubeflow to use tensorflow-serving https://www.tensorflow.org/tfx/serving/serving_basic

[2020-03-02 22:15] vishwakftw commented on #34061
Hi, thank you for opening the issue. The bug has been isolated:
[code]

Sounds like some kind of out-of-bounds access in the `prod` implementation.

[2020-03-02 22:29] gkucsko commented on #32507
I can confirm i also see the error on pytorch 1.4.0 and mkl 0.21.1 as well

code to reproduce:
[code]

MKLDNN_VERBOSE:
[code]

[2020-03-02 22:43] ailzhang opened #34096 "Adding and use `assertAllClose` API in our tests."
Currently we have many uses of
[code]
in our tests. e.g. https://github.com/pytorch/pytorch/blob/master/test/test_torch.py#L11270
`torch.allclose` won't work well here as it only accept two tensors.
But this way is hard for backends like XLA to override precisions :P
We want to propose make an API
[code]
to replace it.
@mruberry @gchanan @ezyang Does this sound good?
cc: @JackCaoG

[2020-03-02 22:45] kurtamohler commented on #24753
The single-core performance of the ATen implementation of remainder is a bit slower than it was in TH:

dtype | num_elements | th time | aten time | cpu_aten_speedup
-- | -- | -- | -- | --
torch.float32 | 1000 | 0.0000404 | 0.000045 | 0.8977777778
torch.float32 | 10000 | 0.0001216 | 0.0002138 | 0.5687558466
torch.float32 | 100000 | 0.0009386 | 0.001894 | 0.4955649419
torch.float32 | 1000000 | 0.01

[2020-03-02 22:53] kurtamohler commented on #24615
The performance of this ATen port compared with the previous TH implementation is below. I'm getting a little bit better performance in all cases.

dtype | num_elements | th time | aten time | gpu_aten_speedup
-- | -- | -- | -- | --
torch.float32 | 1000000 | 0.0000588 | 0.0000466 | 1.261802575
torch.float32 | 10000000 | 0.0000608 | 0.0000474 | 1.282700422
torch.float32 | 100000000 | 0.000063 | 0.0

[2020-03-02 23:05] shepherd1530 commented on #34040
@ezyang my bad I edited the version it's actually v1.4 and I added more logs.

[2020-03-02 23:11] zhangguanheng66 commented on #33841
I thought about if we should expect the behaviors in this issue for MultiheadAttention. Since the difference is very small, I tend to say "yes". If we take a close look at the MHA module, the heads are split at embedding dimension. But I may miss something within the MHA.
Another thing interesting: the hypothesis is wrong for the 64 case but correct for the 128 case.
If someone are interested in t

[2020-03-02 23:13] shepherd1530 commented on #34040
@AshkanAliabadi I tried the commands and I still get the same error but building actually speeds up considerably.

My steps include

`sudo apt install libopenblas-dev libblas-dev m4 cmake cython python3-dev PyYaml python3-setuptools`

[code]

[2020-03-02 23:43] z-a-f commented on #32892
@masahi is it still there after #32886?

[2020-03-02 23:49] AshkanAliabadi commented on #34040
Can you also post the CMake logs?  You can find it inside ./build or ./build_android under CMakeFiles/CMakeOutput.log and CMakeFiles/CMakeError.log.  The output you have posted only shows warnings, and a final error that a CMake invocation failed, but not where or why the error happened.  I will look into replicating it using the instructions you sent on my end on macOS since I don't have access t

[2020-03-03 00:02] masahi commented on #32892
No I said #32886 resolved my issue. Thanks :)

[2020-03-03 00:04] #32892 closed

[2020-03-03 00:05] shepherd1530 commented on #34040
@AshkanAliabadi
These are the log files thanks.

[CMakeError.log](https://github.com/pytorch/pytorch/files/4278597/CMakeError.log)
[CMakeOutput.log](https://github.com/pytorch/pytorch/files/4278598/CMakeOutput.log)

[2020-03-03 00:08] z-a-f commented on #32859
I am sure this will be resolved after rebase

[2020-03-03 00:18] ekhahniii commented on #22496
Experienced this issue for nelement > 2**31. Picked up recent [changes](https://github.com/pytorch/pytorch/issues/22496#issuecomment-571266749) on master from @zasdfgbnm. Issue is resolved in my use case.

[2020-03-03 01:11] AshkanAliabadi commented on #34040
OK unfortunately couldn't replicate on macOS.  PyTorch built successfully following your instructions.  By the way when you say building on ARM64, you mean your host is running on an ARM64, right?  Not that you are cross compiling for an ARM64 device, which is what I thought originally?

Can you also do a "python3 setup.py build >> output.txt" and upload the results as well?  I'm thinking maybe go

[2020-03-03 01:22] raghuramank100 opened #34113 "Implement range reduction for activations on dynamic quantization kernels and enable per-tensor and per-channel dynamic quant with range reduction"
We do not backoff activations to eliminate overflow in dynamic quantization: https://bddppq.github.io/codebrowser/pytorch/pytorch/aten/src/ATen/native/quantized/cpu/qlinear_dynamic.cpp.html#70

We need to support range reduction for both per channel and per tensor dynamic quantization as a valid qconfig option.
This should enable better accuracy for dynamic quantization.

cc @jerryzh168 @jianyuh @

[2020-03-03 01:25] raghuramank100 commented on #32768
@snakers4 : Can you elaborate on what fusions you are looking for? Is this conv1D->relu?

[2020-03-03 01:26] riyadshairi979 commented on #34052
PyTorch 1.3

[2020-03-03 01:27] mingfeima commented on #32507
@gkucsko thanks for the report, we are closely looking into this.

[2020-03-03 01:29] jianyuh commented on #32743
Check the progress in https://github.com/pytorch/pytorch/issues/32644. Closing the issue.

[2020-03-03 01:29] #32743 closed

[2020-03-03 01:30] raghuramank100 commented on #32262
@jerryzh168 : After prepare, the module will contain qconfig as it is prior to swapping. What is the exact error?

[2020-03-03 01:36] raghuramank100 commented on #32644
@z-a-f : This could be related to hypothesis, can you please take a look?

[2020-03-03 01:38] raghuramank100 commented on #31316
@aminsabetsarvestani : You should be able to quantize only the feature extraction trunk and keep the rest of the model in float.

[2020-03-03 02:25] dzhulgakov commented on #33545
Yes, it's a bug - all other observers return `x_orig` and it's needed to make QAT work.

[2020-03-03 02:58] kroq-gar78 opened #34116 "autograd with TorchScript does not match finite differences"
## 🐛 Bug

Some code does not match finite differences (`torch.autograd.gradcheck`) if scripted. Below is a minimum reproducible example:

## To Reproduce

[code]
Output:
[code]

I experimented with a few other cases. The scalar multipliers (here `1.001`) must be the same, and cannot be `0.` or `1.`. Replacing `unbind` with indexing (as commented in the example) also solves the issue.

## Expected

[2020-03-03 03:17] jerryzh168 commented on #32262
I don't remember anymore..but I think we should remove it during swapping since it's not useful anymore

[2020-03-03 03:49] sh0416 commented on #27680
@liushuan Where can I found "C/C++->Language"? Do you use "Visual Studio 2017", not "Visual Studio 2017 Build tool"?

[2020-03-03 03:59] peterjc123 commented on #27680
@sh0416 If you use "Visual Studio 2017 Build tool", please remove '/permissive-' from the argument list in the compiler command line.

[2020-03-03 04:02] sh0416 commented on #27680
@peterjc123 Thanks for fast reply, I tried to extend my C++ code to python code using `torch.utils.cpp_extension`. So, I just use "python setup.py install". What do I do in this case?

[2020-03-03 04:04] peterjc123 commented on #27680
Could you please open a new issue with the full log and the commands you entered?

[2020-03-03 04:08] seemethere commented on #33188
Just merged in #33471, binaries should be available in the nightly channels starting tomorrow.

[2020-03-03 04:16] sh0416 commented on #27680
@peterjc123 For now, I use "Visual Studio 2015 Build tool". I tried it with "Visual Studio 2017 Build tool" and open a new issue if the problem remains.

[2020-03-03 04:39] michaelklachko commented on #32868
Sorry for off-topic, but I'm curious about `y = torch.as_tensor(cupy.asarray(x), device="cuda")` line - I was looking for a way to pass torch cuda tensors to cupy for some ops not available in pytorch, then passing them back to pytorch all while keeping the data on the same GPU. I thought the best way to do this is to use DLPack (e.g. see [this cupy page](https://docs-cupy.chainer.org/en/stable/re

[2020-03-03 04:48] zhoudoufu commented on #28414
I had same error when I export onnx model on a small vm on aws, For my case the RAM did run out.
It might worse a try to make smaller batch / maximum size per batch for the model.

[2020-03-03 05:30] JoyHuYY1412 commented on #19896
Sorry I met the same problem using torch-1.0.0.dev20190328.  How can I solve this? Thanks.

[2020-03-03 05:44] sh0416 commented on #27680
@peterjc123 I reinstall all compilation tools. I install "Visual Studio 2019" and "CUDA 10.1". Now, that error doesn't occur, but other errors emerge. After searching the solution, I found https://github.com/facebookresearch/detectron2/issues/9#issuecomment-549013090 and it works for me.
The problem was about `constexpr`, which needs to be fixed in the compile time. I just changed it to `const`, w

[2020-03-03 06:46] JoyHuYY1412 opened #34120 "Runtime Error when using DistributedDataParallel with torch.no_grad()"
I meet the similar problem in https://github.com/pytorch/pytorch/issues/19896, while I use torch-1.0.0.dev20190328. I tried to edit the distributed.py while finally, it says: `AttributeError: module 'torch.distributed' has no attribute '_compute_bucket_assignment_by_size'`. I find it is out of my control.

cc @ezyang @SsnL @albanD @zou3519 @gqchen @pietern @mrshenli @pritamdamania87 @zhaojuanmao @

[2020-03-03 06:59] shiyongde opened #34121 "CMake Error at third_party/protobuf/cmake/cmake_install.cmake:48 (file):"
## 🐛 Bug
When build pytorch from source . Return Error  !!
[2388/2389] Install the project...
-- Install configuration: "Release"
CMake Error at third_party/protobuf/cmake/cmake_install.cmake:48 (file):
  file INSTALL cannot find
  "pytorch/build/third_party/protobuf/cmake/CMakeFiles/CMakeRelink.dir/protoc".
Call Stack (most recent call first):
  cmake_install.cmake:80 (include)

FAILED: CMakeFile

[2020-03-03 07:19] tstumm commented on #33841
[code]
Prints `tensor(4.2136e-06)`, so this may be related to https://github.com/pytorch/pytorch/issues/34060

[2020-03-03 07:38] snakers4 commented on #32768
@raghuramank100

I use mostly Conv1D => BatchNorm1D=> relu

[code]

[2020-03-03 07:39] amorgun commented on #33841
I tried several different values for `embedding`, `chunk_size` and `num_heads`.
My assumption works for some combinations, but not all of them.
My script:
[code]

Output:
[code]

[2020-03-03 07:41] fushuyue commented on #24081
Works for me. Many thanks!

[2020-03-03 07:47] tstumm commented on #34060
The error is neglible if double precision is used, so most probably a floating point issue.
Nevertheless, F.linear / torch.matmul needs to be numerically more robust in the FP32 case.

[2020-03-03 08:12] shiyongde commented on #34121
Finally ,I fixed it .
remove your ***/bin/protoc  in your PATH, then conda install protobuf.
rebuild it .

[2020-03-03 08:33] mpariente commented on #33934
Should I try to fix it? I can give it a try.

[2020-03-03 08:54] shepherd1530 commented on #34040
Here is the output [output.txt](https://github.com/pytorch/pytorch/files/4280160/output.txt)

And yes I my host Device is arm64(arch64).

[2020-03-03 09:25] alex-zador opened #34124 "Windwos Install libtorch issue"
When trying install libtorch as in https://pytorch.org/cppdocs/installing.html I've got error:
 C:\libtorch\include\ATen/core/PhiloxRNGEngine.h(183): error C2719: 'ctr': formal parameter with requested alignment o
f 16 won't be aligned [C:\Users\alex\Desktop\Uni 201x\Uni19-20\МИШ\CTorch\CTorch\build\CTorch.vcxproj]
  C:\libtorch\include\ATen/core/PhiloxRNGEngine.h(183): error C2719: 'in_key': form

[2020-03-03 09:45] peterjc123 commented on #34124
Looks like some alignment things are not working on some old versions of MSVC.  Related issue: https://github.com/recp/cglm/issues/4. The workground is to use VS >= 1413 (2017 Update 6).

[2020-03-03 10:03] 522730312 commented on #33937
I don`t think vmap can help me while traing
Would you tell me how can JAX.vmap work with pytorch?  JAX.vmap work with Gpu?

[2020-03-03 10:04] ivanprado commented on #973
@Baranowski a lot time ago! I have uploaded the code I have found here: https://github.com/ivanprado/imaterialist_kaggle . Sorry, but the code is very wild and unpolished. It was for this Kaggle competition: https://www.kaggle.com/c/imaterialist-challenge-fashion-2018/overview. Probably the problem arises when running https://github.com/ivanprado/imaterialist_kaggle/blob/master/run_infers.py but I

[2020-03-03 10:07] 522730312 commented on #33937
my problem maybe define as below, How can a and b compute in parallel:
a = my_func1(x1)
b = my_func2(x2)
result = a + b
return result

[2020-03-03 10:21] FantasyJXF opened #34125 "sizeof(torch::kF32)=1 and sizeof(torch::kU8)=1 ?"
## ❓ Questions and Help

* libtorch 1.2 CU100 or libtorch 1.4 cpu

When I try to convert the the `torch::Tensor` to `cv::Mat`, I use the following code:
[code]

The tensor type is `CPUFloatType` and I use `sizeof(torch::kF32)` to get the tensor data, but failed, and I notices that `sizeof(torch::kF32)`  and  `sizeof(torch::kU8)` are all equal to `1`, which was not usual, since `sizeif(float)` shou

[2020-03-03 10:23] vadimkantorov commented on #34125
I think it's because kF32 and kU8 are sort of enum value constants?

[2020-03-03 10:38] boydyang1 commented on #33932
Thank you for your reply!
The new patch #33945  unblocks your testing.
When I add the "ceil_mode" attribute in kwargs, I get a new error:
` @parse_args('v', 'is', 'is', 'is', 'is', 'i')
  def max_pool2d(g, input, kernel_size, stride, padding, dilation, ceil_mode):
       if input not in sym_help._quantized_ops:
           from torch.onnx.symbolic_opset9 import max_pool2d
           return max_pool

[2020-03-03 10:45] leolb-aphp commented on #24081
The concern is not only about plugging a rogue device. It's also about the device itself failing to respect the host system security policy. We have no information on the device internals and how it enforces security constraints to user-submitted GPU workloads.

If not enforced correctly, a user submitted GPU task could write to kernel memory at arbitrary address and escalate privileges.

[2020-03-03 10:47] Baranowski opened #34126 "torch::jit::script::Object::attr should throw AttributeError instead of RuntimeError"
## 🐛 Bug

Not doing so breaks the `hasattr` builtin, as per https://docs.python.org/3/library/functions.html#hasattr

## To Reproduce

[code]

[code]
## Expected behavior

`hasattr` should not throw

[2020-03-03 10:47] sefibk opened #34127 "Export to ONNX doesn't support basic operations"
## 🐛 Bug

'torch.onnx.export' can't convert a simple convolutional layer in FP16 with error:
RuntimeError: "unfolded2d_copy" not implemented for 'Half'

## To Reproduce

Steps to reproduce the behavior:

1. Create a **standard** NN (e.g. Resnet18) = nn_module
2. Convert it and it's input to FP16 => nn_module.half( ), dummy_input.half( )
3. Run torch.onnx.export(nn_module, dummy_input, destination_

[2020-03-03 10:52] leolb-aphp commented on #24081
Not all other GPUs, but rather, all available main system memory on the system. GPUs have their own separate memory subsystem.

[2020-03-03 10:52] FantasyJXF commented on #34125
Not sure about this, some guides on [pytorch forum](https://discuss.pytorch.org/t/libtorch-c-convert-a-tensor-to-cv-mat-single-channel/47701/6) use misleading codes.

[2020-03-03 11:10] boulabiar commented on #34058
I have problems deploying to C++, conversion to onnx is not always direct for non standard models (and to Caffe2 you need to go through onnx), and with a scripted model, the library size is very large.
Getting it at least below 150MB is already a big advantage, and as I said, this can be done deactivating a flag in the build or providing a pytorch_tiny mode.

[2020-03-03 11:16] SeniorCtrlPlayer opened #34128 "roi_pool is seem to be different from which in FasterRCNN"
[code]
i expect that out would be [[10 12],[26 28]]
but it's [[26 26],[26 28]]
and, i try more
[code]
out is
[[4.373779945881600000e+15	4.373779945881600000e+15],
[4.373779945881600000e+15	4.373779945881600000e+15]]
that is so werid, i think roi_pool should be like [this](https://deepsense.ai/region-of-interest-pooling-explained/)

[2020-03-03 11:27] KaiyuYue commented on #31684
Thanks for trying that. Yes, 64 bits is the future. But massive conventional business companies have their own software system to offer the services for society. But their software systems are commonly large and be running for a long time. So the update cycle for system including both software and hardware is also long (more than one-two years). Most of them still use old system frameworks. To sup

[2020-03-03 12:30] mdztravelling opened #34129 "KeyError: 'tril' occured while export onnx model"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. `KeyError: 'tril'  ` occured while  running torch.onnx.export  pytorch model to onnx. There is `torch.tril(ret, out=ret)` in code.  how to convert it ?
1. onnx opset_version=10

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pyto

[2020-03-03 12:48] peterjc123 commented on #31684
As for PyTorch, we support building 32-bit binaries but we won't provide them, at least for desktop OS. According to the posts here, the number of the users that request 32-bit support for those platforms is limited. What's more, some dependencies dropped their support for x86, like CUDA.

[2020-03-03 13:33] MinaAbdElMassih commented on #34121
@shiyongde Hey, I am facing the same error, i don't quiet understand which path are you referring to.
Could you clarify it, please ?
Thanks. :)

[2020-03-03 13:53] twostay commented on #32822
It seems that tracing autograd functions isn't working for versions from 1.2.0 to 1.4.0(CPU version), I think it worked on 1.1.0 or 1.0.1(I can't remember the exact version I used); I didn't test it on nightly.

[2020-03-03 14:09] pyetras opened #34130 "ExceptionWrapper cannot handle exceptions with more than one argument"
## 🐛 Bug

_utils.py: ExceptionWrapper cannot handle exceptions with more than one argument

## To Reproduce

Steps to reproduce the behavior:

1. Create a DataLoader
2. Raise an error that takes multplie arguments in the constructor, eg. `urllib.error.HTTPError`

[code]

## Expected behavior

ExceptionWrapper shouldn't throw in reraise. The exception should be wrapped in a generic Exception or ini

[2020-03-03 14:58] kaszperro commented on #22439
That looks really nice.
I like freedom that it provides and separation Model from Metrics (unlike lightning, which combines model with evaluation).

And as I understand, sklearn functions replacement would be useful for small datasets, in which you don't have to accumulate state, because everything fits into memory, potentially increasing performance?

[2020-03-03 15:12] stocks29 commented on #4969
I was running into this same issue on my mac. Ran fine with `num_workers=0` but not with more than zero unless I set the pixels to 80 or lower.

I made a few changes and now things are working:
- switched from python 3.6.8 to 3.7.6
- increased shared memory settings as described here: http://flummox-engineering.blogspot.com/2014/05/increasing-shared-memory-for-os-x.html
- installed latest versions

[2020-03-03 15:30] zhanyike commented on #28202
I met the same error,have you solved this problem?thanks

[2020-03-03 15:36] nikitamehrotra12 commented on #33661
This is the backtrace for the above error:

![image](https://user-images.githubusercontent.com/20640205/75791293-620f4e00-5d92-11ea-82b9-10120438937b.png)

![image](https://user-images.githubusercontent.com/20640205/75791397-8408d080-5d92-11ea-81f7-52ff9b2897fe.png)

![image](https://user-images.githubusercontent.com/20640205/75791492-a4d12600-5d92-11ea-93e2-485044f6ce89.png)

![image](https://use

[2020-03-03 15:48] albanD commented on #33661
I think we fixed an issue with cuda stream in the engine.
Can you try to use a nightly build and see if it still happens? It should be fixed now.

[2020-03-03 15:49] zhangguanheng66 commented on #34060
@tstumm is correct. This is expected and not a pytorch specific thing. A float number will only give you 6/7 digits precision, which is true in the above case. If you want to double the precision, you need to use `double()` or `float64`, like
[code]

Feel free to re-open the issue if you have any follow-up questions.

[2020-03-03 15:52] zhangguanheng66 commented on #33841
Investigated by @tstumm in https://github.com/pytorch/pytorch/issues/34060. IMO, this is expected and not a pytorch specific thing. A float number will only give you 6/7 digits precision.

Feel free to re-open the issue if you have any follow-up questions.

[2020-03-03 15:52] #33841 closed

[2020-03-03 16:03] nikitamehrotra12 commented on #33661
Okay

[2020-03-03 16:06] zhangguanheng66 commented on #32590
Link two issues here. It's not related to nn.MHA but to `float/double` precision.
https://github.com/pytorch/pytorch/issues/34060
https://github.com/pytorch/pytorch/issues/33841

[2020-03-03 16:12] meganset commented on #33192
It looks like moving the two private _push_back()_ methods from private -> public in
_nn/modules/container/sequential.h_ doesn't cause any build problems using _master_ from this morning.

Does it seem reasonable to make these methods public?
(_AnyModule_ is part of the public interface, and _Sequential_ is a vector of _AnyModule's_)

Thanks

[2020-03-03 16:14] meganset commented on #12383
Closing this as the evolution of TensorOptions and Tensor clears up most of the trouble

[2020-03-03 16:14] #12383 closed

[2020-03-03 16:15] izdeby commented on #34125
Please use our [forum](https://discuss.pytorch.org) for questions and help.

[2020-03-03 16:15] #34125 closed

[2020-03-03 16:44] ngimel commented on #34084
Per offline conversation, we expect `cat` to preserve channels-last layout only if all the inputs are in channels-last layout.

[2020-03-03 16:55] adizhol opened #34134 "Getting Nan's on model-parallel"
Hi,

I've been trying to train a maskcrnn-benchmark with backbones of Resnet-FPN and ResneXt-FPN on multiple GPUs (V100) using model-parallel approach as described in https://pytorch.org/tutorials/intermediate/model_parallel_tutorial.html.

After a few iterations both model encounter Nan's in backbone output.
This problem doesn't occur when training on a single GPU (same learning rate).

pytorch 1

[2020-03-03 16:57] andrewdelong commented on #33562
Raising `std::runtime_error` instead of `std::domain_error` fixes the problem on Mac, so not sure if that's consistent with "extra RTTI copy" hypothesis 🤔.

[2020-03-03 17:10] ptrblck commented on #34134
Could you update to the latest stable release (`1.4.`) and retry our code?
Also, could you post a code snippet to reproduce this issue?

[2020-03-03 17:14] ptrblck commented on #34120
The mentioned method seems to be added in this [PR](https://github.com/pytorch/pytorch/pull/18953), which landed after the `1.0` release, while you are using a `1.0` pre-release.
Are you seeing the same issue with the latest stable release or do you need to stick to this particular version?

[2020-03-03 17:49] JeremiahKamama commented on #20704
I would like to tackle this

[2020-03-03 17:59] xsacha commented on #32865
I don't seem to get this anymore with the latest nightly. Not sure when it was fixed.

[2020-03-03 17:59] #32865 closed

[2020-03-03 18:20] kmecpp commented on #7318
Also still experiencing this issue with torch.tensor

[2020-03-03 18:21] nlsmrg opened #34138 "Exception "tensor does not have a device" after casting with to"
## 🐛 Bug
`torch::nn::Linear` without bias throws an error when `to` is called.

## To Reproduce
[code]
This is the output, but this MWE is only executed as a test in a larger project
so the output might differ.
[code]
## Environment

 - PyTorch Version: 1.4 from source
 - OS: Linux

cc @yf225

[2020-03-03 18:27] Baranowski commented on #973
Thanks a lot, that is a huge help!

On Tue, Mar 3, 2020 at 11:04 AM Iván de Prado <notifications@github.com>
wrote:

--
*Wojciech Baranowski*
*Software Engineer*
[image: www.quansight.com] <http://www.quansight.com>

[2020-03-03 19:01] nikitamehrotra12 commented on #33661
I could not use nightly build as the library ([pytorch geometric](https://pytorch-geometric.readthedocs.io/en/latest/index.html)) that I am using requires torch 1.4

[2020-03-03 19:08] rohan-varma opened #34141 "test_dist_optim is flaky"
## 🐛 Bug

`test_dist_optim` in `dist_optimizer_test.py` is flaky:

[code]

See https://app.circleci.com/jobs/github/pytorch/pytorch/4668683

cc @ezyang @gchanan @zou3519 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar

[2020-03-03 19:11] z-a-f commented on #32644
Could it be that `qmin == qmax`? or `fmin == fmax`? In such a case we will get division by 0

[2020-03-03 19:13] z-a-f commented on #32710
PR #33004 landed it a month ago -- please, rebase

[2020-03-03 19:13] #32710 closed

[2020-03-03 19:14] z-a-f commented on #32859
Please, reopen if this shows again

[2020-03-03 19:14] #32859 closed

[2020-03-03 19:24] albanD commented on #33661
There should not be any big change between 1.4 and nightly. So you can override the 1.4 by nightly after installing pytorch geometric.

But I am pretty sure this is fixed in master.

[2020-03-03 19:27] zasdfgbnm commented on #34079
The behavior of DEBUG build is changed in https://github.com/pytorch/pytorch/commit/c66ca74f03b6ff090142c34b602b5a4c45523d47 which might be related. (`REL_WITH_DEB_INFO` behavior was also changed in the same PR, but `REL_WITH_DEB_INFO` is working pretty well). And that error message looks like a compiler bug to me.

[2020-03-03 19:28] zasdfgbnm commented on #34079
But for now, let me try if replacing the debug flag ` -g -G --source-in-ptx` with ` -g -lineinfo --source-in-ptx` could solve the problem

[2020-03-03 19:31] zasdfgbnm commented on #34079
Quote from NVCC document:

[code]

[2020-03-03 19:34] jianyuh commented on #32644
Not likely.

- For `qmin` vs. `qmax`, it is either [0, 255] or [0, 127].

- For `fmin` vs. `fmax`, check https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/quantized/cpu/quant_utils.h#L65-L67

According to the log, it is likely to be a NaN issue. You can check https://github.com/pytorch/pytorch/issues/32644#issuecomment-580034403 .

[2020-03-03 19:42] rdanesh1367 opened #34147 "is there a way to Initalize the weights of nn.ConvTranspose2d by k-nearest interpolation using nn.init?"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

Provide a short description.

## Code example

Please try to provide a minimal example to repro the

[2020-03-03 20:02] mrshenli commented on #34147
Hey @rdanesh1367 could you please use the PyTorch [forum](https://discuss.pytorch.org/) for questions? I am closing this issue for now. If you have any specific feature request, please feel free to open another issue for it. Thanks!

[2020-03-03 20:02] #34147 closed

[2020-03-03 20:07] mrshenli commented on #34134
Hey @adizhol, could you please share a minimum repro for this problem? It could go wrong in various ways, e.g., streams not synchronized properly, accumulated batch size are different model-parallel vs non-model-parallel runs, etc.

[2020-03-03 20:09] gchanan commented on #1178
@vishwakftw do you want to take something like this into core?

[2020-03-03 20:13] gchanan commented on #1927
@t-vi can you clarify if you still think there is something useful to implement here and if so, what it is exactly?  The current description is a bit unclear.

[2020-03-03 20:15] gchanan commented on #1173
we use a fused implementation of the current activations, so we can't support this (without an advanced compiler) without a significant performance reduction.  While we plan to use a compiler, much of the community has moved on to transformers, so we think freezing the current API makes the most sense.

[2020-03-03 20:15] #1173 closed

[2020-03-03 20:17] gchanan commented on #16599
Just getting the loss should be fairly easy, but an efficient algorithm may be more challenging.

[2020-03-03 20:19] gchanan commented on #16599
we would accept a PR that does the exact computation; talk to us if you want to do a more complex implementation.

[2020-03-03 20:26] gchanan commented on #33122
We should change torch.multinomial to have the same behavior as:
https://pytorch.org/docs/master/_modules/torch/distributions/multinomial.html#Multinomial

[2020-03-03 20:26] gchanan commented on #33122
We probably won't do the probability dimension part; it works to do the transposes manually.

[2020-03-03 20:28] gchanan commented on #1249
We will accept a PR implementing this.

[2020-03-03 20:34] t-vi commented on #1927
So what the feature request is about is an easy way to take a nn.Module (or a function) that works on some `batch x something` and apply it for each sequence element in on a `seq_len x batch x something` or `batch x seq_len x something` or a packed input.
(See the code above for the functional part.)
I'm not aware that we have that, it seems to come up now and then.

[2020-03-03 20:38] rohan-varma opened #34149 "Enhance failure reporting for distributed tests"
## 🚀 Feature
Currently the way many of our tests fail in distributed/RPC are non-intuitive and time consuming. For example, if only one process encounters an exception, then we don't actually get that error back until all other processes are done timing out. Therefore, it is often the case that we have a simple test that fails, but it can take minutes to get the actual failure back, since we wait

[2020-03-03 20:39] t-vi commented on #1927
Recent example from the forums: https://discuss.pytorch.org/t/timedistributed-cnn/51707/6
In particular, the code snippet offered in that thread is *not* the equivalent of Keras's TimeDistributed as it duplicates the layers instead of applying the same to all of them.

[2020-03-03 20:42] #33182 closed

[2020-03-03 21:15] #33545 closed

[2020-03-03 21:31] Darktex commented on #22439
Yes, and we can factor out components as needed so that they share as much code as possible

[2020-03-03 21:38] rgemulla commented on #18906
The following addition to pytorch may be enough for us:

https://github.com/pytorch/pytorch/issues/4115#issuecomment-471632622

[2020-03-03 21:44] VitalyFedyunin commented on #34085
Looks like fixed by #33879

[2020-03-03 21:44] #34085 closed

[2020-03-03 21:48] morawi commented on #2341
After using Ubunto for quire some time, I am trying Windows10 lately (just for prototyping before using the cluster machine) and bumped into the same error, setting num_workers to 0 helped. Make sure you are setting all dataloaders, train, test, and validate.

[2020-03-03 22:09] z-a-f commented on #31872
I don't think we will work on this feature, as this is needed only for eager, and in eager we were expecting the user to have the burden of fusion. @neolinsu  I am closing this feature request for now, however if there is a PR with this feature implemented, I will be happy to review it.

[2020-03-03 22:09] #31872 closed

[2020-03-03 22:38] nairbv opened #34167 "promotion of float with int never increases precision of float"
I noticed that:

[code]

I would expect the numpy behavior.

This results from the values in the _promoteTypesLookup table in ScalarType.h. The values for floating types don't change regardless of the size of the integral type they're being combined with.

@gchanan do you agree that the numpy would be better here? (the change I'm suggesting wouldn't change behavior for `tensor + scalar` type ops).

[2020-03-03 22:39] ezyang commented on #33898
I'm wrong! Sorry about the false alarm.

[2020-03-03 22:40] ezyang commented on #33867
Yeah, the point is you'd only copy_ if you noticed it was non-contiguous; so no performance hit in the fast case.

[2020-03-03 22:41] vincentqb commented on #33898
Glad we clarified :)

[2020-03-03 22:42] ezyang commented on #24621
Well, we definitely will want to provide a speedy non-deterministic scatter at some point. And there are beneficial side effects to migrating to TH to ATen, so you don't *have* to fix "all the problems" when you do a port; a slavish port is OK too, and then fix it up afterwards.

[2020-03-03 22:46] ezyang commented on #34082
But you can't just `use_count` on storage, because `storage.use_count() == 1` if you have a single tensor referring to the storage, which itself has nonzero use count.

I don't mind saying that the hook problem is not actually a problem.

[2020-03-03 22:47] #33821 closed

[2020-03-03 22:54] ezyang commented on #34096
Existing `assertEqual` has tolerance kwargs; is this not working for the xla case for some reason?

[2020-03-03 22:55] ezyang commented on #24753
OK, see you on the PR.

[2020-03-03 22:58] albanD commented on #34082
I guess you want both then:
- The backing storage should have a single reference
- The Tensor that uses this storage should have a single use count as well

One thing that can be a bit dangerous with that it does not take into account the weak pointers that could exist.
Do we ever create weak refs to Tensor though?

[2020-03-03 23:05] gchanan commented on #34167
No, I don't agree.

We probably captured the thinking in some of the initial type promotion PRs but roughly:
1) people very rarely train in fp64, as it is way slower and doesn't typically improve accuracy.  Most of the pull is to use precisions lower than fp32 (bfloat16, quantization).  If you really want fp64, you can set the default dtype and you'd get the promotion behavior for free.
2) Our API

[2020-03-03 23:06] vadimkantorov commented on #31829
@albanD Could you please tag this as "topic: NaNs and Infs"? https://github.com/pytorch/pytorch/issues?q=is%3Aissue+is%3Aopen+label%3A%22topic%3A+NaNs+and+Infs%22

[2020-03-03 23:14] yf225 commented on #34138
This problem should have been fixed by https://github.com/pytorch/pytorch/pull/30523 and https://github.com/pytorch/pytorch/pull/30626, and the fixes should be in 1.4 release. I wasn't able to reproduce this error when using libtorch 1.4 downloaded from https://pytorch.org/ either. Do you mind giving the downloaded libtorch 1.4 a try?

[2020-03-03 23:17] yf225 commented on #33192
@meganset Yes I think it would make sense to make `push_back(AnyModule)` methods public. Curious would you be interested in opening a PR for it? Thanks!

[2020-03-03 23:21] cpuhrsch opened #34172 "END_HANDLE_TH_ERRORS_PYBIND prevents pybind11 Exception translation"
## 🐛 Bug

[pybind11 allows exception translation](https://pybind11.readthedocs.io/en/stable/advanced/exceptions.html#built-in-exception-translation) by [catching and translating C++ exceptions](https://github.com/pybind/pybind11/blob/1376eb0e518ff2b7b412c84a907dd1cd3f7f2dcd/include/pybind11/detail/internals.h#L215). This is similar to what we do within [END_HANDLE_TH_ERRORS_PYBIND](https://github.

[2020-03-03 23:23] cpuhrsch commented on #34172
@albanD - you created https://github.com/pytorch/pytorch/issues/30027 which is affected by this.

[2020-03-03 23:24] yf225 commented on #20963
Static linking libtorch doesn't work well yet, please see https://github.com/pytorch/pytorch/issues/21737 for details.

[2020-03-03 23:30] v0dro commented on #24621
Hmmm in that case it might be worthwhile to see if Demmel's algorithm is faster than performing the index sorting.

[2020-03-03 23:31] albanD commented on #34172
cc @peterbell10 that changed the CATCH_TH_ERROR to CATCH_ALL_ERROR in there https://github.com/pytorch/pytorch/pull/30588. Is that the expected behavior or a typo that we should fix?
I would agree with @cpuhrsch  that in this case we don't want to catch all, but I might be missing something?

[2020-03-03 23:39] SsnL commented on #33898
Looking at this again, I think we should add an indicator function. The density is only that value when `x` is between ` to ` and `from`.

[2020-03-03 23:40] ailzhang commented on #34096
@ezyang `assertEqual` works since XLA can override the precision.
But when PyTorch test calls `np.allclose` instead of `assertEqual`(e.g. https://github.com/pytorch/pytorch/blob/master/test/test_torch.py#L11270) , it'll be tricky for XLA to override precision. ;)

[2020-03-03 23:43] peterbell10 commented on #34172
Prior to #30588, `CATCH_TH_ERROR` was the only macro and it was equivalent to the current `CATCH_ALL_ERROR`, including catching `std::exception`. The reason it does that is to translate C++ type names in the error message into the python-friendly type names (`torch::processErrorMsg`).

AFAIK, there is no way to catch a generic `std::exception` and edit the error message without loosing the type of

[2020-03-03 23:45] vadimkantorov commented on #32867
Another useful functionality would be scatter/gather-like functionality for compressing index tensors.

In a practical usecase it can help to compress the hybrid sparse+dense tensor indices by a lot: https://discuss.pytorch.org/t/sparse-torch-topk/71832/4

[2020-03-03 23:55] houseroad commented on #33787
Actually, this is not ONNX specific question. It's a general question about why we implement this MSELoss in such way. Is there any problem with C++ backward function so we try to avoid it?

cc: @albanD

[2020-03-04 00:22] albanD commented on #34172
Ho right so the reason is to translate cpp names into python names.

I guess we need a to make a choice:
- We keep general exception types but we don't have nice names except for our own exceptions.
- We always change the names but we override the exception types (current behavior).

[2020-03-04 00:42] nikitaved commented on #24753
Are complex numbers implemented as the Gaussian numbers? If so, then [this](http://fermatslasttheorem.blogspot.com/2005/06/division-algorithm-for-gaussian.html) could help.

[2020-03-04 00:44] #34075 closed

[2020-03-04 01:12] nikitaved commented on #24753
Are the complex numbers for this method supposed to be implemented as Gaussian Integers? If so, then this could help. It assumes the abs norm defined as |a+ib| = sqrt(a^2 + b^2), a,b in Z and makes sure that y=kx+r with |r| < |x|. Did not check for correctness however... If they are not represented as Gaussian Integers, then the remainder is always 0.

[2020-03-04 02:34] shiyongde commented on #30532
k40m with cuda10.0 get the same error!!!
build from source get more Error!!!

[2020-03-04 02:37] shiyongde commented on #24205
WHy kick out  K40?????
Build pytorch From source is horrible!!

[2020-03-04 03:00] Multihuntr commented on #30704
There's a simple workaround until the fix gets released. If you pass `p=2`, then it calculates it as you expect.

Not sure why it works, when the default `p='fro'` doesn't.

[2020-03-04 03:05] driazati commented on #33882
Closing since this should be fixed

[2020-03-04 03:05] #33882 closed

[2020-03-04 03:13] alex-zador commented on #34124
Thank you peterjc123! Update to VC 2019 solved the problem.

[2020-03-04 03:13] #34124 closed

[2020-03-04 03:20] pyotr777 commented on #6041
Have the same problem.
Installed Pytorch with
```pip3 install torch torchvision```

Ubuntu 16.04

```print(torch.__version__)```
1.4.0

[code]

[code]

Reboot didn't help.

[2020-03-04 03:42] un-knight opened #34186 "Compiling error with tag v1.4.0"
## 🐛 Bug

## To Reproduce
I build pytorch from source on aarch64 platform.
Steps to reproduce the behavior:

1. checkout to `v1.4.0`
1. compiling with command `USE_SYSTEM_NCCL=0 USE_NCCL=OFF VERBOSE=1  USE_OPENMP=1  python setup.py build develop`

Then get the following error message:
[code]

## Additional context

I inspect the statement of `onnxInitGraphFunction` which is:
[code]
While the gener

[2020-03-04 03:59] #34029 closed

[2020-03-04 04:45] peterjc123 commented on #25393
Another occurrence: https://app.circleci.com/jobs/github/pytorch/pytorch/4683459
[code]
This time it seems to claim the error is around the usage of `ArrayRef`.

[2020-03-04 06:33] zjjMaiMai opened #34191 "Topk backward twice (the second input is NAN) to trigger cuda assert."
## 🐛 Bug

Topk backward twice (the second input is NAN) to trigger cuda assert.

## To Reproduce

[code]
## Environment
[code]

cc @ezyang @gchanan @zou3519 @ngimel

[2020-03-04 07:41] lsrock1 opened #34202 "nn.Linear with empty tensor backward error (CUDA)"
**EDITED** by @colesbury

## 🐛 Bug

Calling an nn.Linear layer with an empty tensor results in an error in the backward pass. In master, the error only occurs with CUDA tensors. In PyTorch 1.4 the error also occurs with CPU tensors.

## To Reproduce

Steps to reproduce the behavior:

[code]

[code]

## Environment

PyTorch 1.5.0a0+f3a5081

Note that with PyTorch 1.4.0 the equivalent CPU code also

[2020-03-04 07:42] xwang233 commented on #34083
The direct cause of the problem is at here https://github.com/pytorch/pytorch/blob/2ba74b741e75940649556ff50a032f97d321363e/aten/src/ATen/native/cuda/DilatedMaxPool2d.cu#L377-L383

The third parameter of the cuda kernel launch, shared memory per block, exceeds 48 kb. If you change 512 to 256, it runs. If you change 512 to 257, it fails with the same error message.

The cuda error code 0 is from a

[2020-03-04 07:53] xwang233 commented on #33988
This problem is similar to #34083. A fix will be provided.

The `problem_tensor` has a size of (1, 256, 32, 32). The requested shared memory size per block is 64 kb, which is greater than the 48 kb limit.

[2020-03-04 08:07] adizhol commented on #34134
@ptrblck @mrshenli
I don't have a public repo, but basically, my code is like this:
initializing trainer:
[code]
The forward of maskrcnn:
[code]
There are no Nans until calling the roi_head

[2020-03-04 08:08] 1171257311 commented on #17211
hello,have you solved this problem?

[2020-03-04 08:14] peterjc123 commented on #31611
I just found out that this issue could be solved by using the `/INCLUDE` switch. torch_cuda.dll contains the function signature "?warp_size@cuda@at@@YAHXZ" ("int __cdecl at::cuda::warp_size(void)"). So adding `/INCLUDE:"?warp_size@cuda@at@@YAHXZ"` to the linker flags will force the library/executable to link against `torch_cuda.dll`. What do you think, @ezyang ?

[2020-03-04 08:39] kulalexey commented on #15738
Get wrong distribution for a=b=1e-2 on cuda with float32.
For a=b=1e-3 bug exist on both cuda and cpu even with float64
pytorch: 1.4.0
cuda: 10.2

[2020-03-04 08:57] shamoons commented on #1173
Can transformers be used for seq2seq?

[2020-03-04 09:00] fsi-tk opened #34204 "Accuracy reduces, after converting Pytorch model to ONNX model"
## Summary
I converted OSNet (https://github.com/KaiyangZhou/deep-person-reid) Pytorch model (.pth) to ONNX model (.onnx), using "torch.onnx.export". Then, I compared the outputs of Pytorch model and ONNX model. The errors between those outputs are 1e-1 in maximum. Because of these errors, Accuracy of ONNX model severely reduces (mAP less than 1%). I want to solve this problem to get as high accur

[2020-03-04 09:08] adizhol commented on #34134
update: The Nan's are from the poolers, probably from ROIAlign...
Any idea if there special care needs to be taken in .cu code to support model-parallel?

[2020-03-04 09:23] vadimkantorov opened #34206 "[docs] Unclear arg signature of torch.meshgrid: kwargs"
https://pytorch.org/docs/master/torch.html?highlight=meshgrid#torch.meshgrid

arg spec has some "**kwargs", but it's not described in the doc string and there is no code example

I think it should be removed

[2020-03-04 09:32] villmow commented on #20897
I would appreciate this feature as well!

[2020-03-04 09:32] Muhtasham commented on #30459
Could you solve the problem ? If so can you please share

[2020-03-04 09:50] un-knight commented on #34186
It's my fault to forget to update submodule.
[code]

[2020-03-04 09:50] #34186 closed

[2020-03-04 09:53] vadimkantorov opened #34207 "Support vars/__dict__ on torch.return_types tuples e.g. topk"
It is sometimes useful to convert them to dict (for custom serialization purposes) and supporting __dict__ method would be an idiomatic solution

[2020-03-04 09:58] adizhol commented on #34134
update: upgrading to 1.4 did not solve the problem

[2020-03-04 10:00] matteocollina commented on #23466
My workaround
`
$ conda activate [MYENV]
$ pip uninstall torch
$ pip install torch
`

[2020-03-04 10:12] FantasyJXF commented on #26456
Same here, I traced CRAFT model, and the results between CPU and CUDA are different, that's really strange, the Python code with CPU/CUDA is all right.

Have you solved the bug?

[2020-03-04 10:44] adizhol commented on #34134
solved by replacing ROIALIGN with torchvision's ROIAlign

[2020-03-04 11:04] xsacha commented on #34204
Why for ONNX only?

[2020-03-04 11:26] nlsmrg commented on #34138
I applied some patches in order to use gcc-9.1.
Sorry didn't think about that, when I opened the issue.
I've now switched to the current nightly and the error is gone
and I can use gcc-9.

[2020-03-04 11:26] #34138 closed

[2020-03-04 11:40] huangrichen11 commented on #33003
what is your complie version ? i got same error

[2020-03-04 11:49] sytrus-in-github opened #34209 "missing doc for torch.nn.functional.group_norm"
## 📚 Documentation

When browsing through the docs on normalization layers, I realized that `torch.nn.functional.group_norm` is missing from the documentation (the `torch.nn.GroupNorm` layer counterpart is there). I am wondering why it is missing. My guess would be that this is not the intended behaviour.

[2020-03-04 12:02] vadimkantorov opened #34210 "[docs] Unclear arg spec for torch.full"
https://pytorch.org/docs/master/torch.html?highlight=torch%20full#torch.full

`fill_value – the number to fill the output tensor with.`

the arg spec or the arg description doesn't specify if the "number" must be Python scalar or Torch scalar is also fine. Wording `number` is quite vague.

Also argument name `size` is used - maybe better to replace it with `shape`? `shape` property name was adopte

[2020-03-04 12:51] LieutenantChips commented on #18626
++

[2020-03-04 13:51] soumith commented on #33820
hopefully should be fixed in a few hours. there was a spurious DNS record (from the CloudFlare migration) that was overriding my Page Rule

[2020-03-04 14:04] PartheshSoni commented on #18981
It worked for me too!

[2020-03-04 15:00] vibhatha commented on #33943
@ezyang

I am following the contributor's guide. In my understanding, I may need to modify some of the places in the code where MPI has been initialized without checking whether it is initialized or not.

Is there a developer guide for running cpp test cases?

For instance the following test,

https://github.com/pytorch/pytorch/blob/master/caffe2/mpi/mpi_test.cc

[2020-03-04 15:21] nairbv commented on #34167
I don't think we modified the ScalarType.h matrix of types in any of the initial PRs. We did add logic to ignore the dtype of the int if there was a difference in kind/dimension, but looking back it feels like some of that specificity wasn't necessary if we actually don't want to promote floats when the dimension is the same.

that doesn't affect this case though. Even if using half + long, the re

[2020-03-04 15:29] mrshenli opened #34213 "DISABLED test_script_pack_padded_sequence (test_jit.TestScript)"
Previous failed runs:
https://circleci.com/gh/pytorch/pytorch/4682966

Subsequent succeeded runs:
https://circleci.com/gh/pytorch/pytorch/4682247
https://circleci.com/gh/pytorch/pytorch/4682241

Today, it consistently fails:
https://circleci.com/gh/pytorch/pytorch/4687625
https://circleci.com/gh/pytorch/pytorch/4687610
https://circleci.com/gh/pytorch/pytorch/4686149

@ljk53 tried reverting the see

[2020-03-04 15:32] #34120 closed

[2020-03-04 16:41] frgfm opened #34219 "Additions and subtractions are not implemented for FP16"
## 🐛 FP16 inplace operations

Hello there,

I was trying to switch an inference script to FP16. But I encountered an issue, as inplace additions/subtractions are not implemented for `torch.float16`. It prevents the user from using `torchvision.transforms.functional.normalize` inplace for instance.

## To Reproduce

Steps to reproduce the behavior:

[code]

which yields
[code]

## Expected behavior

[2020-03-04 16:42] Penuoz opened #34220 "RuntimeError: CUDA error: an illegal memory access was encountered when bactchsize > 1"
## ❓ Questions and Help

### When batchsize = 1, the training process is normal. Once it is set to a number greater than 1, an error is reported: CUDA error: an illegal memory access was encrypted.

[code]

Process finished with exit code 1

Related code snippets
`self.loss_hm = self.criterion(self.output, self.target)`
` self.loss_hm.backward()`
`errors_ret = []`
`for name in self.loss_names:`
`

[2020-03-04 16:47] DNXie commented on #138
Could anyone tell me where can I find the source code of torch.matmul?

[2020-03-04 17:04] ailzhang commented on #34096
@gchanan Yup but we do need an `allclose`-like API since it doesn't check dtype while `assertEqual` might/will?

[2020-03-04 17:22] EmmaRocheteau commented on #4741
I am getting an issue like this

[2020-03-04 17:27] zou3519 commented on #33937
@522730312 are your `my_func1`, `my_func2` different functions?

[2020-03-04 17:27] ngimel commented on #138
https://github.com/pytorch/pytorch/blob/22506ae71d0982018b9c7db8fa31813772a0c451/aten/src/ATen/native/LinearAlgebra.cpp#L355-L464

[2020-03-04 17:30] VitalyFedyunin commented on #34083
Thanks @xwang233 this is very helpful

[2020-03-04 17:46] alexge233 opened #34223 "reinforcement learning dataloading and algorithms"
## 🚀 Feature
Implement a dataloading functionality for reinforcement learning state, action pairs, with assigned policy scores, transitional probabilities and rewards.
Implement a set of gradient algorithms (qlearning, actor-critic, etc) in order to populate policy maps and use them or export them for other models.

## Motivation

I feel there is a gap in pytorch, which doesn't address a relativel

[2020-03-04 17:55] apaszke commented on #15359
What's the rationale for "I want to be deterministic everywhere, but _not in this particular operator_"? Is this really supposed to be a common enough use case to warrant adding an extra input to many of our operators (and most of the complex ones)? IMO it would be better to provide context managers for toggling determinism.

[2020-03-04 17:59] apaszke commented on #1927
Maybe we could just provide a function decorator that does this? Then you'd do:
[code]

[2020-03-04 18:02] albanD commented on #33787
Hi,

Yes the doc states this, but the implementation has always been doing broadcasting. So for BC-breaking reasons, we need to keep supporting broadcasting. And added a warning when the user breaks that assumption.

They actually do, just that the broadcasting logic is done by the subtraction `input - target`.

The efficient cpp implementation has the limitation that it cannot compute gradients f

[2020-03-04 18:08] smritiRGI commented on #20423
Gives me this error on colab

Downloading http://yann.lecun.com/exdb/mnist/train-images-idx3-ubyte.gz to data/MNIST/raw/train-images-idx3-ubyte.gz
0it [00:00, ?it/s]
---------------------------------------------------------------------------
HTTPError                                 Traceback (most recent call last)
<ipython-input-5-97a905300148> in <module>()
      6

[2020-03-04 18:11] kurtamohler commented on #24753
Maybe a new issue should be created for complex remainder. But here's what I'm thinking at the moment.

I'm lacking the math knowledge to know the answers, but I have some more questions. If we have a choice between two different methods, which would both give different results, maybe we shouldn't just pick one. Are there only two choices, or are there many possible algorithms that could fit the d

[2020-03-04 18:14] #27644 closed

[2020-03-04 18:15] gchanan commented on #34167
Right, but I don't think that's a common pattern, at least with the new APIs.  The common pattern is to just not specify a dtype or to use something like Apex to handle it for you.

I agree this seems a little strange but I don't think it's really a comparable situation; a `torch.double` can be perfectly represented as a `torch.complex128`; it "is a" `complex128`.  A `torch.int64` isn't a `torch.d

[2020-03-04 18:18] nikitaved commented on #24753
@kurtamohler, the mathematical perspective is like this. If you have a complex number defined as a polinomial x = a + i *b, the question is what are these a, b are? Are they reals? Are they Integers? If you restrict them to integers, then the reminder and the division result have to be represented as a pair of Integers, otherwise reals would do.
If, on the other hand, both (a,b) are always reals,

[2020-03-04 18:22] kurtamohler commented on #15359
@apaszke , yeah I think you're right that it would be better to just use context managers to toggle determinism. I wouldn't say that we should add the `deterministic` argument to any operators, but some operators already have it. Would it be best to remove all of those and break BC, or would it be best to keep them around and allow them to override `torch.experimental.deterministic`?

[2020-03-04 18:28] colesbury commented on #34206
Yeah, it looks like it's not doing anything useful. It should be removed from both the code and documentation. It got added in this PR:

PRs welcome.

https://github.com/pytorch/pytorch/pull/11600

[2020-03-04 18:31] colesbury commented on #34207
Can you give an example usage of what you want to work? I don't fully understand the request.

I'm under the impression that `__dict__` is an attribute, not a method, and that it doesn't implement conversion to a `dict` (unlike, for example, `__iter__`)

[2020-03-04 18:36] colesbury commented on #34204
It sounds like something might be wrong with your preprocessing. Check the outputs of the first layer. If those match, keep checking outputs of subsequent layers.

I'm not sure there's enough information here for other people to help debug your ONNX conversion.

[2020-03-04 18:38] colesbury commented on #34219
Arithmetic (add, sub, mul, div) is not implemented for float16 on CPU. (Not just in-place ops).

It is implemented for GPU.

It hasn't been a high priority because float16 is ops are generally slower on CPU than float32 ops.

[2020-03-04 18:39] mrshenli opened #34237 "DISABLED test_stress_heavy_rpc_torchscript (__main__.RpcTestWithSpawn)"
`test_stress_heavy_rpc_torchscript` is flaky

https://app.circleci.com/jobs/github/pytorch/pytorch/4688332

[code]

cc @ezyang @gchanan @zou3519 @suo @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar

[2020-03-04 18:40] SsnL opened #34238 "[cpp_ext] tmp build dir permission issue"
## 🐛 Bug

In systems where multiple users share the tmp folder, the first a CPP extension build creates `/tmp/torch_extensions/build` with `os.makedirs` with the current umask value. https://github.com/pytorch/pytorch/blob/ac6e75a1651cd14cec7f2f41b2c7b9ec7dcb3ecf/torch/utils/cpp_extension.py#L1348-L1353

If that is restrictive, subsequent builds from other users will fail with
[code]

So I propose

[2020-03-04 18:44] colesbury commented on #34219
We should document support (or lack thereof) for torch.float16 and torch.bfloat16. I didn't see bfloat16 even mentioned on https://pytorch.org/docs/master/tensors.html.

[2020-03-04 18:47] colesbury commented on #34220
Would you please re-open the issue with additional information? There's not enough currently to figure out what's going on.  A self-contained repro would be ideal.

[2020-03-04 18:47] #34220 closed

[2020-03-04 18:50] colesbury commented on #34191
Thanks for the bug report. I was able to reproduce the issue when running with `CUDA_LAUNCH_BLOCKING=1`.

[2020-03-04 19:00] xieshuqin opened #34242 "RuntimeError: radix_sort: failed on 2nd step: invalid argument"
## 🐛 Bug

Hello, I encountered the following error when using `torch.unique` inside my code:
[code]

The line causing this problem is `torch.unique(label)`.

The weird thing is that sometimes I can run the code without running into any issue, but if I stop it (ctrl+c) and run again, the above error showed up again. And if I write a test file `test.py` that contains the following code
[code]
and ru

[2020-03-04 19:00] colesbury commented on #34238
If this is a temporary directory, why aren't we using normal temporary directory mechanisms (e.g. tempfile in Python)?

[2020-03-04 19:02] SsnL commented on #34238
@colesbury I'm not sure, but I assume caching across sessions.

[2020-03-04 19:04] ngimel commented on #34191
Adding high-pri because it's a crash.

[2020-03-04 19:09] colesbury commented on #34242
Thanks for the report. I don't think this error is from torch.unique or even PyTorch. CUDA errors are reported asynchronously because CUDA functions execute asynchronously. So it's likely from some call **before** `torch.unique`. It just gets reported by `torch.unique` because that function synchronizes with the GPU (and therefore reports prior errors).

I don't see any code in PyTorch with that s

[2020-03-04 19:11] zhaojuanmao commented on #34237
@mrshenli was it disabled? or should I disable it now?

[2020-03-04 19:14] colesbury commented on #34242
Mmm... actually could be PyTorch via CUDA's thrust library which we use for sorting. And I think we use sorting to implement unique.

https://github.com/thrust/thrust/blob/d4b79851c2407e904da25cd39a1ffe3cc0430233/thrust/system/cuda/detail/sort.h#L1488

Can you try running your program with `CUDA_LAUNCH_BLOCKING=1` set?

[2020-03-04 19:14] p4vlos commented on #1376
pip install torchvision

[2020-03-04 19:19] xieshuqin commented on #34242
@colesbury Thanks for the quick response. I didn't use `vchoutas/torch-mesh-isect#2`, although I also found similar issue at that library. I setup a new conda envs but it still not works.

I tried `CUDA_LAUNCH_BLOCKING=1 python my_file.py` and the same error showed up again.

[2020-03-04 19:30] vadimkantorov commented on #34207
Python's namedtuple supports `_asdict()`, python2 also did `__dict__ = property(_asdict)`, but python3 seems to have removed it

[2020-03-04 19:31] xieshuqin commented on #34242
It's very weird that `torch.unique` can sometimes work but sometimes fail with the same code. After putting a breakpoint at the line before `torch.unique(label)`, if `torch.unique(label)` failed, then `print(label)` will throw the following error:
[code]
But run `print(label)` again can print the variable. This is also confusing.

[2020-03-04 19:38] xieshuqin commented on #34242
The `RuntimeError: radix_sort: failed on 2nd step: invalid argument` happens everytime when I run `torch.unique(label, return_counts=True, return_inverse=True)`. Is some bugs showing up when calling this function?

[2020-03-04 19:46] colesbury commented on #34242
@xieshuqin it sounds like the bug depends on either the values or shape of `label` (and maybe both). Can you try the following:

Replace the uses of `torch.unique(label, ...)` with:

[code]

This will save the label to a file called `label.pt`. Assuming it fails at torch.unique or the following synchronize call, you can verify consistently fails with:

[code]

Please then attach the `label.pt` to

[2020-03-04 19:47] #34167 closed

[2020-03-04 19:48] gchanan commented on #3348
This was fixed.

[2020-03-04 19:48] #3348 closed

[2020-03-04 19:53] mrshenli commented on #34237
@zhaojuanmao

It should have already been disabled by our chrono job. Currently disabled tests can be found here: https://github.com/zdevito/pytorch_disabled_tests/blob/master/result.json

[2020-03-04 19:56] colesbury commented on #34207
That's doable, but it means `torch.return_types.topk` needs to implelemnt `keys()` and `__getitem__`.

[2020-03-04 19:57] xieshuqin commented on #34242
@colesbury Thanks for your suggestion. Saving to `label.pt`, loading it again and running `torch.unique(label, return_inverse=True, return_counts=True) works just fine, although in the original code it still fails.

[2020-03-04 19:58] colesbury commented on #34242
@xieshuqin and can you try both those steps with `CUDA_LAUNCH_BLOCKING=1`? Failing that, I'm not sure how to debug further unless you can share a full repro.

[2020-03-04 20:00] ksanjeevan opened #34256 "JIT: Hidden tensors aren't changing device correctly with traced RNNs"
## 🐛 Bug
Chaning deviced of traced RNNs doesn't correctly move the hidden tensors which results in device errors at inference.

## To Reproduce
[code]

Will give:
[code]
## Environment
PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Ubuntu 18.04.3 LTS
GCC version: (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0
CMake version: Could not collect

Python version: 3.6
Is CUDA ava

[2020-03-04 20:01] colesbury commented on #34207
We could also just implement `_asdict`. That won't make it work with `**` but, still allows easy conversion to a dict via `return_value._asdict()`.

[2020-03-04 20:04] vadimkantorov commented on #34207
That would work too! `dict(..., **topk(...)._asdict())` is still better than a temp variable (and python3-idiomatic)

[2020-03-04 20:09] xieshuqin commented on #34242
@colesbury It's still failing.
Sorry I can't share the repo due to some policy but I will try to build a minimal environment to reproduce this bug.
Don't know if it's related to multiple conda envs in my environments.

Thank you so much for your help!

[2020-03-04 20:20] mickypaganini opened #34257 "CustomFromMask pruning stores a copy of the user-provided mask"
## 🐛 Bug

(Not a bug, strictly speaking, because it doesn't compromise correctness, but still an issue because it affects model size).
The pruning method called `CustomFromMask` in `torch/nn/utils/prune.py` is designed to prune parameters by applying a user-provided mask. An instance of this class is then attached to the pruned module as a `forward_pre_hook`. The issue is that each hook carries (a

[2020-03-04 20:48] peterbell10 commented on #33334
It looks like #33534 has fixed this and the benchmarks look better on my machine, so closing.

[2020-03-04 20:48] #33334 closed

[2020-03-04 20:48] mrshenli opened #34260 "DISABLED test_torchscript_functions_not_supported (__main__.JitRpcTestWithSpawn)"
test_torchscript_functions_not_supported is flaky

Passed :
https://app.circleci.com/jobs/github/pytorch/pytorch/4691744

Failed:
https://app.circleci.com/jobs/github/pytorch/pytorch/4692485

[code]

cc @ezyang @gchanan @zou3519 @suo @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar

[2020-03-04 21:14] colesbury commented on #34238
Then it seems like we should be using a cache directory not tmp. e.g. https://github.com/pypa/pip/blob/c04798f5fddd8d29425e9f15dd13fa1c3bb5d176/src/pip/_vendor/appdirs.py#L268

[2020-03-04 21:16] zhaojuanmao commented on #34260
something is wrong, why these tests start to be flaky today?

[2020-03-04 21:25] mrshenli opened #34262 "DISABLED test_accurracy (__main__.TrainMnist)"
Try if our chrono job also works for tests from other repo.

https://app.circleci.com/jobs/github/pytorch/pytorch/4693216

The failure is due to torchvision dataset downloads from `http://yann.lecun.com/exdb/mnist/`. We can reenable this after torchvision dataset is switched to S3 mirror.

[code]

cc @ezyang @gchanan @zou3519 @ailzhang

[2020-03-04 21:33] vincentqb commented on #33898
Indeed, nothing prevents the user from evaluating `P(x)` outside of `[to, from]`.

[2020-03-04 21:44] mrshenli opened #34264 "DISABLED test_backward_simple_script_call (__main__.DistAutogradTestWithSpawn)"
Test is flaky

https://app.circleci.com/jobs/github/pytorch/pytorch/4694579

[code]

cc @ezyang @gchanan @zou3519 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar

[2020-03-04 21:48] kurtamohler opened #34266 "Complex support for torch.remainder"
## 🚀 Feature
Add complex number support for `torch.remainder`.

## Motivation

When porting remainder from TH to ATen, I noticed that other operators, like `torch.div`, have support for complex numbers. It wasn't mathematically clear to me how to implement support for complex numbers in `torch.remainder`, and since the original TH implementation did not have it, it was outside the scope of that is

[2020-03-04 21:52] kurtamohler commented on #24753
Thanks for all the details @nikitaved ! I think this discussion should be continued in #34266

[2020-03-04 22:11] ezyang commented on #33934
@mpariente Sure! It probably has to do with the fact that we define `__getattr__` and `__setattr__` on `Module` base class.

[2020-03-04 22:19] apaszke commented on #15359
I'd say that we should remove it or make it private at least.

[2020-03-04 22:26] ezyang commented on #34060
@zhangguanheng66 I don't think float versus double precision has anything to do with the issue here. What is likely happening is the size of the matrix multiply is causing our internal algorithm to switch between two different versions, which have different numerical properties. I agree this is surprising to users, although there may not be too much we can do about it (maybe #15359 can help). Shou

[2020-03-04 22:31] ezyang commented on #33562
Weird. Well, I'll accept a PR that changes the type. Or you can try adding an extra try-catch and see if that works too.

[2020-03-04 22:32] ezyang commented on #7318
Thanks for the comments. We've been fixing lots of small type hint bugs over the last few months; if you notice things that are not working on the latest release or master please open bugs for them and we'll look. Thanks!

[2020-03-04 22:41] Philip-Bachman opened #34270 "Model parameters are not synchronizing across processes as expected when using DDP and AMP with opt level O2"
## 🐛 Bug

This is a cross-post with Apex/AMP.

With my current setup, it appears that model parameters are not synchronized across processes when running with DDP and AMP set to opt level O2. However, opt level O1 seems to behave as expected -- i.e., all processes appear to be working with the same version of the model.

It's possible that this is intended behavior or that I am doing something wro

[2020-03-04 22:56] ezyang commented on #34082
I think very rarely (mcarilli's patch is doing it). For weak pointers I don't think I care about handling them correctly.

[2020-03-04 23:05] ezyang commented on #34052
can you try upgrading?

[2020-03-04 23:08] ezyang commented on #31611
@peterjc123 Hmm, while I'm not so hot about hard coding one specific symbol (I guess if we document it appropriately it's fine), I don't have any better ideas. SGTM.

[2020-03-04 23:10] ezyang commented on #33943
@vibhatha The Python location looks reasonable. I wouldn't worry too much about the C++ tests; they'll run when you open a PR on our CI, we can talk about how to run them if they're specifically failing. (BTW, the caffe2 tests aren't applicable, don't worry about those).

[2020-03-04 23:11] ezyang commented on #34096
assertEqual currently doesn't check dtype, and even after my tightening up, you can expliictly request no dtype check with `exact_dtype=False`

[2020-03-04 23:22] zhangguanheng66 commented on #34060
Sure. We can keep the issue open to keep the snippet code.

[2020-03-04 23:23] ailzhang commented on #34096
Nice, sounds like an easier solution is just replace all uses of `np.allclose` in our tests with `assertEqual(..., exact_dtype=False)`?
I'll send a PR if that sounds good!

[2020-03-04 23:34] Balandat commented on #25785
FWIW here is our a python implementation that adaptively adds jitter (that is of course way slow b/c of the python looping): https://github.com/cornellius-gp/gpytorch/blob/master/gpytorch/utils/cholesky.py

[2020-03-04 23:35] Balandat commented on #25785
Also, seems like this is a duplicate of #12435 ?

[2020-03-04 23:38] vishwakftw commented on #1178
@gchanan unless we have proper support for sparse tensors, this seems like a very special op to have.

[2020-03-04 23:46] Balandat commented on #32552
I know @nazanint mentioned that she is working with a square root representation for mvns.

This would be helpful to also for speeding up sampling if lots of evals are zero (i.e. maintain only a `n x m` matrix where `m` is the number of nonzero eigens, instead of a `n x n`).

Related question: I assume the cost for indexing/reshaping would probably outweigh the benefits of maintaining `scale_tril`

[2020-03-04 23:57] gchanan commented on #1178
define proper :).

[2020-03-05 00:00] Balandat opened #34272 "torch.cholesky fails exceedingly slow on non-pd matrices"
## 🐛 Bug

If a tensor is not positive definite, `torch.cholesky` takes forever to raise an error. In the example below it takes almost **100 times longer to raise an error than to actually perform the decomposition** for a positive definite matrix of the same size. That happens even if the matrix has evals far from zero, or if the matrix is far from symmetric.

This is really problematic, since at

[2020-03-05 00:01] Balandat commented on #25785
Also, let's first fix this issue: #34272

[2020-03-05 00:01] Balandat commented on #32552
Cross-referencing the issue of cholesky taking forever to fail: #34272

[2020-03-05 00:07] lsrock1 commented on #34202
@colesbury Thank you!
Is this bug also in lower versions?

[2020-03-05 00:07] vishwakftw commented on #1178
Oh, sorry about the confusion. I'm not quite aware of the progress that was made for sparse matrices - last I checked @weiyangfb was working on it.

My opinion is that once we have a whole bunch of basic operations, it would be useful to add it.

[2020-03-05 00:08] neonbjb opened #34273 "Allow accessing or save/restore of SavedVariables"
## 🚀 Feature
Allow users to save and restore the state of the intermediate variables used to compute the backward pass of a graph.

## Motivation
Some interesting model parallelism schemes involve splitting a computational graph up into several chunks, then scheduling the forward and backward passes on these chunks so that the CPU/GPU is saturated on each computational node. This effectively means

[2020-03-05 00:09] vishwakftw commented on #34272
Too bad we don't a way to efficiently test for positive definiteness.

Even symmetry is hard to validate.

[2020-03-05 00:11] Balandat commented on #34272
Yeah I mean that's a fundamental limitation, not blaming pytorch for that. But numpy doesn't seem to have any overhead in raising the exception, so we should at least be able to match that.

[2020-03-05 00:14] gchanan commented on #1178
@weiyangfb isn't working on it anymore.  I agree with your take, I'm going to put this as "low priority" -- if you want to give more details about what some of the "whole bunch of basic operations are", that would be helpful.

[2020-03-05 00:16] fsi-tk commented on #34204
Thank you for reply!

You are right.
Even though I surely converted BGR image to RGB for both models, I overlooked the code you point to me (so I edited my question. For both models, image is converted).
On that assumption, anyone know good way to minimize error?

[2020-03-05 00:43] PetrochukM opened #34279 "`torch.norm` is 113x slower than `torch.sqrt(a**2 + b**2)`"
## 🐛 Bug

`torch.norm` is really slow compared to `torch.sqrt(a**2 + b**2)`. The specific `input_` size is based on the output of `torch.stft`.

## To Reproduce

[code]

[code]

## Expected behavior

The performance should be similar...

## Environment

[code]

[2020-03-05 00:54] fsi-tk commented on #34204
@colesbury

Thank you for reply!

This is my ONNX conversion code. I use this script the directory where I clone https://github.com/KaiyangZhou/deep-person-reid.

[code]

[code]

If necessary, I add more information.

[2020-03-05 01:00] fsi-tk commented on #34204
And my ONNX execution code which contains pre-processing is here.

[code]

[2020-03-05 01:09] PiPiNam commented on #2341
I also have same problem on Win10. I got the error message '**[Errno 32] Broken pipe**' when I set the num_workers greater than 0.
And my code is download from Pytorch official tutorial.

I guess that is a bug for Win10, and I am looking forward to see a fixed version on next release.

[2020-03-05 01:12] Kaka1127 opened #34282 "MNIST sample error"
Hi Team,

Today, we could not work the MNIST sample by 403 error. But the download URL was worked by direct access from bowser.

***
mnist# python main.py
Downloading http://yann.lecun.com/exdb/mnist/train-images-idx3-ubyte.gz to /data/MNIST/raw/train-images-idx3-ubyte.gz
0it [00:00, ?it/s]Traceback (most recent call last):
  File "main.py", line 116, in <module>
    main()
  File "main.py", line

[2020-03-05 01:15] Luonic commented on #33643
Looks like i have the same problem, getting absolutely random noise from properly trained HRNet. Any possible workaround of this issue?

[2020-03-05 01:19] kaonick commented on #26456
No.Not yet.
CRAFT is really good,So I deploy in python to run then call by socket directly.
Speed is fast then run in Libtorch.

[2020-03-05 01:32] FantasyJXF commented on #26456
@kaonick  Flask + gunicorn + pytorch for my case.

[2020-03-05 02:31] huangrichen11 commented on #30512
I got same error. set opset 11 not work for me

[2020-03-05 03:08] yangsenius commented on #30459
I think just the `None` appearing in forward function breaks the JIT like what lanpa has pointed. A common neural network without None has no problems. @Muhtasham

[2020-03-05 03:19] 522730312 commented on #33937
@zou3519   yes,they are different, did multi stream in gpu can slove this problem

[2020-03-05 05:02] peterjc123 commented on #25389
Duplicate of https://github.com/pytorch/pytorch/issues/25393.

[2020-03-05 05:02] #25389 closed

[2020-03-05 05:04] #25298 closed

[2020-03-05 05:07] #24186 closed

[2020-03-05 05:07] #22318 closed

[2020-03-05 05:08] #18999 closed

[2020-03-05 05:31] l4zyf9x opened #34290 "ONNX export failed on ATen operator round because torch.onnx.symbolic_opset9.round does not exist"
## 🐛 Bug

## To Reproduce

Run following code:
[code]
Got output:
[code]

## Environment

[code]

## Additional context
Following  [onnx  documentation](https://pytorch.org/docs/stable/onnx.html#supported-operators), round operator is supported but when I looked [symbolic_opset9.py](https://github.com/pytorch/pytorch/blob/master/torch/onnx/symbolic_opset9.py) there is no round function

cc @suo @h

[2020-03-05 05:50] Lovebear912 commented on #27837
I have the same issue when I train with LSTM + classification, the error occurs in random epoch on windows 10 + Pytorch 1.4
waiting for a solution

[2020-03-05 07:39] FantasyJXF commented on #26456
Hi, @kaonick . I have solved the problem.

The problem comes from moving `torch::Tentor` data to `cv::Mat` with the following line:
[code]

The reason is supposed to be `contiguous` operation within pytorch, the libtorch-cuda maybe has some bug moving data from CUDA to CPU, we could check the model outputs from CPU/CUDA device, they are the same. But if you move tensor data from CPU to `cv::Mat` w

[2020-03-05 08:39] songyuc opened #34293 "How can I change the torch.Size?"
Hi, guys,
today I want to create an zeros tensor based on similar shape of another torch.Tensor,
so I change the shape like:
[code]
However, an error appeared as

So how can I realize this task?

Any answer or idea  will be appreciated!

[2020-03-05 09:08] prajjwal1 commented on #34293
Hi,
You should discuss such questions on [Pytorch forums](https://discuss.pytorch.org/). There's an amazing community to help you out with your Pytorch related queries.
Regarding your query, I think this will do.
[code]

[2020-03-05 09:11] prajjwal1 commented on #34282
A similar issue was highlighted here. Please have a look at this [thread](https://discuss.pytorch.org/t/http-error-on-google-colab-using-torchvision-models/69443/4).

[2020-03-05 09:22] songyuc commented on #34293
Hi, Prajjwal,
I am sorry for not post this question on  Pytorch forums, but for some unknow reasons, I cannot successfully to connect to this website today, which might be due to the censorship firewall in my country.
And I think your code just shows how to get the shape of a torch tensor using  `t.shape`, but my question focuses on how to change the obtained shape, as I have known about getting t

[2020-03-05 09:24] prajjwal1 commented on #33953
Hi,
I want to take a shot at this if that's okay. Could you please suggest some pointer regarding where to start ?

[2020-03-05 09:32] kaonick commented on #26456
OW~~~you so good.
That's too hard to me....
Your mean is when traced_script_module pth to pt just use random input not any preprocessing(like permute...) ?
But why ?
Why will cause this....

[2020-03-05 09:36] wazizian opened #34294 "torch.cat does not call __torch_function__ properly"
## 🐛 Bug

```torch.cat``` (and ```torch.stack```) do not call ```__torch_function__``` properly on non ```Tensor``` objects. The first argument of ```torch.cat``` is supposed to be a sequence of tensors, but it seems to look for a ```__torch_function__``` method on the sequence object and not the individual elements of the sequence.

## To Reproduce

Steps to reproduce the behavior:

Consider the

[2020-03-05 09:42] shiyongde opened #34295 "Floating point exception (core dumped)"
## 🐛 Bug

Floating point exception (core dumped)

## To Reproduce
import torch
import torch.nn.functional as F
prev_features = torch.ones((2,22,22,4))*0.1
prev_features =prev_features.cuda()
F.interpolate(prev_features, scale_factor=2)# mode="nearest")

## Environment

Collecting environment information...
PyTorch version: 1.4.0a0+7963631
Is debug build: No
CUDA used to build PyTorch: 10.0

OS: Ub

[2020-03-05 09:44] shiyongde commented on #34295
prev_features = torch.ones((2,22,22,4))*0.1
prev_features =prev_features
F.interpolate(prev_features, scale_factor=2)# mode="nearest")
is well
So ,It must cuda() problem

[2020-03-05 09:49] KaiyuYue commented on #31684
Yes, agree. I think the most meaningful part of supporting on x86 is to make Quantization engine (FBGEMM)  be running with CPU for inference. Training or doing inference with GPU using x86 indeed seems like unnecessary.

[2020-03-05 10:01] lisa0314 opened #34296 "Derive onnx model from caffe2 int8 related model using torch"
As we all know, `torch.onnx.export(*args, **kwargs)` could derive onnx model from caffe2. However, I didn't find the int8 related ops(https://github.com/pytorch/pytorch/tree/master/caffe2/quantization/server#quantization-operators) in the op list which torch support.  So I want to make sure if I could use pytorch to tranfer the int8 caffe2 model into onnx  and how to transfer.

cc @houseroad @span

[2020-03-05 10:03] prajjwal1 commented on #33757
Hi,
I can work on this.
I am seeing stub file defined for AdamW [here](https://github.com/pytorch/pytorch/blob/master/torch/optim/adamw.pyi). It is also imported in the __init__ [here](https://github.com/pytorch/pytorch/blob/master/torch/optim/__init__.pyi). Could you please provide a pointer on what needs to be done ?

[2020-03-05 10:30] peterjc123 commented on #31684
Closing it because the original issue should be resolved. If users want 32-bit quantization support, they can open a new issue.

[2020-03-05 10:30] #31684 closed

[2020-03-05 10:48] mmalghamdi commented on #18626
support this feature.

[2020-03-05 10:58] juliusbierk commented on #27036
For the `m > n` case here's a slightly slower version which allows calculation of gradients...

[code]

[2020-03-05 11:02] AZ-Visuals opened #34297 "libtorch: Enable static dispatch"
Hello. I would like to enable static dispatch (USE_STATIC_DISPATCH) in libtorch C++ because some tensor operations are very CPU consuming (for instance, stack etc.) - I am assuming that this happens due to the dynamic dispatch.

However, the macros USE_STATIC_DISPATCH is unavailable from CMake when I build libtorch. Is there any way to enable static dispatch correctly? Defining
    #define USE_STA

[2020-03-05 11:24] chaitanyarit commented on #31881
One way to solve this in linux is to limit the memory to a process by using cgroups.

# install cgroups:
sudo apt-get install cgroup-bin cgroup-lite cgroup-tools cgroupfs-mount libcgroup1
# create group
sudo cgcreate -t $USER:$USER -a $USER:$USER  -g memory:myGroup
# set memory limits
echo 500M > /sys/fs/cgroup/memory/myGroup/memory.limit_in_bytes   # restrict memory
echo 5G > /sys/fs/cgroup/memor

[2020-03-05 11:36] maaft commented on #18631
Any update on this? :)

[2020-03-05 11:38] robosina commented on #24308
I have had this issue too, I just clear doxygen lines and everything solved(Visual Studio 2017)

[2020-03-05 11:41] prajjwal1 commented on #33757
@ezyang I checked locally about this change. Mypy didn't throw any error after making the edit. Could you please have a look ?

[2020-03-05 12:40] vadimkantorov opened #34300 "Inconsistent semantics of converting inf/-inf to long"
Note that on cpu both `inf` and `-inf` produce a negative number (int64_min)
[code]

The mere possibility of converting inf/-inf to long is already doubtful (and probably worth a mention in the docs somewhere)

[2020-03-05 13:50] JosephDiPalma commented on #33143
@ngimel @ptrblck Are there any updates on this issue?

[2020-03-05 14:03] amberhappy opened #34302 "can't scripting ModuleList"
I can't scripting nn.MouleList, and more qustion about idex the modulelist.
When I run code like this:
[code]
then erros occurs:
[code]
Thanks!

cc @suo

[2020-03-05 14:22] rrkarim commented on #30402
Have implemented the version with the update of some values, maybe could be useful for someone:
[code]

[2020-03-05 14:23] vibhatha commented on #33943
Great :)

I will look into the code and evaluate the possible changes.
And then do some tests on python-test level.

Keep you posted :)

[2020-03-05 14:40] mpariente commented on #33934
It actually is more complicated than I thought and it's a common issue.
It turns out that `property` directly calls `getattr` and doesn't go through `__getattribute__` so if an error occurs in a property and `__getattr__` is overwritten by the class, this type of misleading error will appear.

See [this](https://github.com/encode/django-rest-framework/pull/2530/files#diff-6dc9b019ec1d96c56e0e31dac

[2020-03-05 15:17] mrshenli opened #34304 "DISABLED test_torchscript_function (__main__.JitRpcTestWithSpawn)"
https://app.circleci.com/jobs/github/pytorch/pytorch/4702075

[code]

cc @ezyang @gchanan @zou3519 @suo @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar

[2020-03-05 15:22] mrshenli commented on #34262
Looks like our chrono job does not work for this test.  I am landing #34261.

https://app.circleci.com/jobs/github/pytorch/pytorch/4702077

@ailzhang @seemethere Please enable this test when https://github.com/pytorch/vision/pull/1940 is in. Thanks!

[2020-03-05 15:25] #34270 closed

[2020-03-05 15:30] mahiratmis opened #34305 "K4200"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2020-03-05 15:31] #34305 closed

[2020-03-05 15:47] vadimkantorov opened #34306 "[docs] Missing docs online for conv_tbc"
No docs online: https://pytorch.org/docs/master/search.html?q=conv_tbc&check_keywords=yes&area=default

Docstring in code:
https://github.com/pytorch/pytorch/blob/857eb4145e603db0941eb115e28e3aae654c49f8/torch/nn/functional.py#L212

Code: https://github.com/pytorch/pytorch/blob/877c96cddfebee00385307f9e1b1f3b4ec72bfdc/aten/src/ATen/native/ConvolutionTBC.cpp

In general, is there a benchmark on `co

[2020-03-05 16:17] vadimkantorov opened #34308 "copy_ doesn't allow NumPy arguments, += does"
[code]

The relevant discussion is probably here: https://github.com/pytorch/pytorch/issues/22402 https://github.com/pytorch/pytorch/issues/28361  https://github.com/pytorch/pytorch/pull/34303 https://github.com/pytorch/rfcs/pull/3

[2020-03-05 16:20] rohan-varma opened #34309 "test_jit_py3 is broken on py 3.5"
## 🐛 Bug

`test_jit_py3` is broken on python 3.5, there is a test that uses f-strings which is only py 3.6+. See https://app.circleci.com/jobs/github/pytorch/pytorch/4695225

cc @suo

[2020-03-05 16:52] zou3519 commented on #33953
@prajjwal1 https://github.com/pytorch/pytorch/blob/4a194f89aadc7cd1d7e24622b53855cfb885da75/torch/__init__.pyi.in#L73 looks like the offending line. Things that would be good to figure out
1. what should we change that to? (probably Tuple[_int, ...] should work, according to the issue description)
2. how do we test that the change works? (Running mypy on some code that uses torch.Size should trigg

[2020-03-05 17:01] Jthora commented on #32040
@xta0 What is the ETA on the fix?

The lack of simulator is a blocker for our production team's ability to go next-stage with PyTorch. We have opened discussions to use TensorFlow instead as a result of this blocker, but PyTorch would have been preferred by some elements in our development pipeline.

If you can estimate a time range for when the issue will be resolved: We can create a plan around

[2020-03-05 17:09] Enealor commented on #32703
After experimentation, I found my previous suggestion fails to work as desired. (Problem: the module is imported before the function is called, and so the import errors still show up.) A solution that does work to remove the import warnings that kurtamohler shared is to use `suppress_warnings`. This means adding
[code]
near the start of `docs/source/conf.py`. (I test using `init_process_group` as

[2020-03-05 17:36] colesbury commented on #34060
#15359 will not change the behavior. Bitwise determinism is only a goal for operations with the same inputs. The distributive property does not hold for floating point calculations (nor does associativity) and we shouldn't expect it to hold for larger ops built upon them. That's surprising, but I don't see much value in keeping these sorts of issues open.

[2020-03-05 17:53] VitalyFedyunin commented on #34300
It is better to document, as changing this behaviour will have perf. impacts

[2020-03-05 17:59] VitalyFedyunin commented on #34297
Hello! It is better to ask such kind of questions at https://discuss.pytorch.org/ . Because of it, I will close this issue, feel free to reopen it if you think that you need to report a bug or make feature proposal. Thanks.

Also have you tried to set USE_STATIC_DISPATCH as env variable?

[2020-03-05 17:59] #34297 closed

[2020-03-05 18:05] VitalyFedyunin commented on #34293
`shape = list(pred_batch.shape)` should do the trick

[2020-03-05 18:05] #34293 closed

[2020-03-05 18:06] #34282 closed

[2020-03-05 18:15] gchanan commented on #34060
I agree with @colesbury -- I added "topic: determinism" in case we want to find related issues in the future, but addressing this seems unlikely so I'm going to close.

[2020-03-05 18:15] #34060 closed

[2020-03-05 18:23] vadimkantorov commented on #34300
In every case, this is not critical, but what's the actual cause of `torch.tensor(float('inf')).long() < 0`?

[2020-03-05 18:48] ptillet commented on #9222
For those of you who are interested, I have just implemented block-sparse linear modules using the Triton language and compiler in the following repo:

https://github.com/ptillet/torch-blocksparse

[2020-03-05 19:38] driazati commented on #34302
This should be supported now with #29236, it looks like you're on a very old version of PyTorch (you can check with `print(torch.__version__)`. For you to get the fix, you'll have to use the nightly version of PyTorch (version should be 1.5 or greater). Closing since this should be fixed, please re-open if you have any problems

[2020-03-05 19:38] #34302 closed

[2020-03-05 20:05] adampauls commented on #33811
I'm experiencing the same issue. cpp <-> cpp works fine, but loading from python does not work.

In __torch__.py in the saved module, I see
```class Module(Module):```

I'm pretty new to python so I don't know if the name clash is a problem. I did not provide the name `Module` (I named the module `test`), so I'm a little bit confused as to how the name became `Module`.

[2020-03-05 20:35] adampauls commented on #33811
Okay, my problem was that I was calling `torch.load` on a `torch::jit::script::Module.` `torch.jit.load` seems to work.

[2020-03-05 20:51] zasdfgbnm commented on #33143
Hi @JosephDiPalma , I can not reproduce the error at https://github.com/pytorch/pytorch/issues/33143#issuecomment-586544313 , but https://github.com/pytorch/pytorch/pull/33073 should fix that kind of errors.

[2020-03-05 22:17] mpariente commented on #33934
The only way I can make it work is by having the old `__getattr__` code inside the `__getattribute__` so that `name` is not lost during the error.

[code]

If there is no `__getattr__` method in `nn.Module`, it will never be called. So the code is intent of the code is even clearer in this way IMO.

[2020-03-05 22:23] riyadshairi979 opened #34323 "PyTorch GPU memory allocation"
How to prevent shared libraries from allocating memory in GPU? I see that even before any shared library function is used, GPU memory uses increases significantly with PyTorch as soon as the process gets started. Any workaround?

[code]

[2020-03-05 23:40] #31453 closed

[2020-03-05 23:55] driazati opened #34329 "[jit] Hook support tracking"
TorchScript today does not support hooks (either on modules or tensors). Hooks can be:

1. Module forward hooks
2. Module pre-forward hooks
3. Module backward hooks
4. Tensor backward hooks

This example shows an `nn.Module` with forward and pre-forward hooks. The module compiles fine but is silently different from eager Python since the hooks are not run. The hooks should instead be compiled and

[2020-03-06 00:03] #33812 closed

[2020-03-06 00:07] jerrybai1995 opened #34330 "Question about memory consumption in no_grad()"
Hi,

I was trying to use `torch.no_grad()` to avoid storing intermediate tensors, but I noticed a weird phenomenon... see the simple example below:

[code]
The printed output is:
[code]

Question: why is that memory equivalent to **2** copies of `z` is consumed? Is there any way that I can free this additional part of the memory? (Apparently `torch.cuda.empty_cache` doesn't work...)

Thanks!

[2020-03-06 00:12] ptrblck commented on #34295
Thanks for reporting this issue.
I can neither reproduce this issue with the stable binaries + CUDA10.1 and CUDA9.2 nor with a build from source + CUDA10.2.

I assume you've compiled PyTorch from source, as you are using CUDA10.0?
Could you try to update CUDA to 10.1 or 10.2 and run the code again?

Also, could you post the stacktrace from gdb please?

[2020-03-06 00:19] vadimkantorov commented on #34063
(better than only docs fix, would be to have it really support `tensor[indices] = value <=> tensor.index_put_(indices, value)` )

[2020-03-06 00:49] IsThatYou commented on #4661
Recently I need to double backprop on the gradients of the embedding layers for NLP tasks. This requires me to retrieve gradients of the embedding layer before they get added up (if there are multiple tokens in the same sentence, then `autograd.grad` return the same of the gradients). Hence I have to use backward_hooks to get the gradient. This requires me to either call `.backward(create_graph=Tr

[2020-03-06 01:08] #31336 closed

[2020-03-06 01:17] riyadshairi979 opened #34340 "torchvision missing in PyTorch built from source"
I built pytorch from source as described here: https://github.com/pytorch/pytorch#from-source
But now i get "ModuleNotFoundError: No module named 'torchvision'"
What command should I use in conda environment to install torchvision now?
If i use "conda install torchvision" it tries to install pytorch again!
[code]

cc @fmassa

[2020-03-06 01:20] riyadshairi979 commented on #34323
I see increased gpu memory even before the first CUDA operation. Trying to see where it gets allocated.

[2020-03-06 01:30] Kaka1127 commented on #34282
Hi
Thank you for your comments, but it happened the other issue...
*****
root@learning-6bcb799dfd-lbpv6:/opt/pytorch/examples/upstream/mnist# python main.py --save-model
Downloading http://yann.lecun.com/exdb/mnist/train-images-idx3-ubyte.gz to /data/MNIST/raw/train-images-idx3-ubyte.gz
0it [00:00, ?it/s]Traceback (most recent call last):
  File "/opt/conda/lib/python3.6/urllib/request.py", line 1

[2020-03-06 01:30] zasdfgbnm commented on #1664
fixed in https://github.com/pytorch/pytorch/pull/33073

[2020-03-06 01:30] #1664 closed

[2020-03-06 01:46] PetrochukM commented on #34279
Found this a similar thread
https://discuss.pytorch.org/t/torch-norm-3-6x-slower-than-manually-calculating-sum-of-squares/14684

[2020-03-06 01:52] dashesy opened #34342 "ONNX Export option to exclude a function from tracing"
## 🚀 Feature

When exporting a model some times to fix the shape of an intermediate tensor.
For example the shape could be `1x3x10x10`  but we want to continue tracing with `2x3x10x10`.
In this case since the network is such that it can handle different batch sizes, the output is valid.

## Motivation

Currently some ONNX ops are exported assuming fixed shapes and the input shape determines the lo

[2020-03-06 02:13] kiukchung commented on #33799
@VitalyFedyunin , @agolynski I've cleaned up the RFC diff. Please take a look at D20104741 when you guys get a chance. Thanks!

[2020-03-06 02:30] pinzhenx opened #34344 "Conv3d backward occasionally got wrong results on CPU"
## 🐛 Bug

The results of Conv3d backward is unstable.

## To Reproduce

Steps to reproduce the behavior:

[code]

[code]

## Expected behavior

Weights grad should be all the same with value 3.2062

## Environment

PyTorch version: 1.5.0a0+2b79bab
Is debug build: No
CUDA used to build PyTorch: None

OS: CentOS Linux 7 (Core)
GCC version: (GCC) 7.3.1 20180303 (Red Hat 7.3.1-5)
CMake version: versio

[2020-03-06 02:38] jerryzh168 opened #34351 "All quantized ops should take scalar_type as an argument"
https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/quantized/cpu/qconcat.cpp#L111

because quantized::cat is fused from `dequant - aten::cat - quantize` and quantize has scalar_type argument.

We'll need to first implement a requantize that can change the scalar_type of a Tensor, maybe just use the `to` API?
And then add `scalar_type` argument for all the quantized ops, we can cha

[2020-03-06 03:04] SsnL commented on #34330
When you do `z = layer(z)`, during the `layer(z)` call, the `z` variable still has ref, and can not be freed. Thus pytorch needs to allocate another chunk of memory to store `layer(z)` result. After the assignment is done, the original `z` memory is freed, but still cached. If you look at the allocated memory, things are expected.
[code]

[2020-03-06 03:04] #34330 closed

[2020-03-06 03:05] SsnL commented on #34330
btw, synchronize does not affect memory allocation.

[2020-03-06 03:29] XiaobingSuper commented on #34344
There has a quick patch can solve this problem, you can verify it.
[code]

[2020-03-06 03:37] reddandelion217 opened #34352 "torch.nn.PixelShuffle does not support dynamic_axes when using onnxruntime.InferenceSession.run?"
## 🐛 Bug

torch.nn.PixelShuffle does not support dynamic_axes when using onnxruntime.InferenceSession.run

## To Reproduce

Steps to reproduce the behavior:

[code]

 %2 : Tensor = onnx::Reshape(%input, %1)
  %3 : Tensor = onnx::Transpose[perm=[0, 1, 4, 2, 5, 3]](%2)
  %4 : Tensor = onnx::Constant[value=-1  1  8  8 [ CPULongType{4} ]]()
  %output : Float(2, 1, 8, 8) = onnx::Reshape(%3, %4) # D:\py

[2020-03-06 03:49] XiaobingSuper commented on #34344
The reason is that multi thread will write same buffer which get wrong result.