[2021-11-11 11:26] wukong1992 commented on #68052
OK！Thank you so much！

[2021-11-11 12:46] kshitij12345 commented on #68110
On digging a bit,

[code]

This happens due to dispatch to different function depending on whether `q` is specified.
https://github.com/scipy/scipy/blob/e32fc2329d3dd23298725153c5b2cc7fcd0f14f1/scipy/special/_basic.py#L2577-L2580

Will look a bit more into that.

[2021-11-11 13:05] rasemailcz commented on #67992
@H-Huang I've got a hunch about the cause - currently, I train on a single GPU. Nevertheless, in my code, there is

`set_start_method('forkserver', force=True)`

- I commented out this line, since it is not required due to a single-GPU training, and so far, the training goes all right...

[2021-11-11 13:19] Yuwei1Tian commented on #20011
Have you solved the problem yet? I tried to use cudaMemcpy to convert tensor directly to GpuMat, but only it only works for some conditions.  For inputs of 2560*2560, it will return a fine result, however, other resolutions don't work.
"cudaMemcpy(gMat.data, output.data_ptr(), sizeof(torch::kU8)*t_out.numel(), cudaMemcpyDevicetoDevice); "

[2021-11-11 13:33] fritzo commented on #68050
Sure, @nonconvexopt, feel free to implement this.

[2021-11-11 13:48] zpks commented on #67763
**I now notice that I made an error in my feature request, having confused the upper with the lower incomplete gamma function (`gammainc()` instead of `gammaincc()`). Both however have the same flag directing the reader to open a feature request for backward bass support. Should I change the title of this request?**

**TL:DR I need to calculate my loss through several functions, bottoming out at `

[2021-11-11 14:08] igormcsouza commented on #68114
Just to clarify things a little! This image will help to show what I meant.

![image](https://user-images.githubusercontent.com/38996012/141311542-b1c4179d-4c43-41b2-9643-031fba331b8f.png)

One can see from line 47 on the memory kept the 366.9mb it loaded and it didn't go out until the script is shut down! The device is `'cpu'` in this case. Even though, the cache is maintained!

[2021-11-11 14:12] mruberry commented on #67646
A test_jit_fuser_te example: https://github.com/pytorch/pytorch/runs/4174435190?check_suite_focus=true

[2021-11-11 14:17] mruberry opened #68171 "DISABLED test_nadam (__main__.TestOptim)"
Platforms: dynamo

https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-bionic-rocm4.3.1-py3.6-test2/9605//console

[code]

cc @ezyang @gchanan @zou3519 @jansel @lezcano @fdrocha @bdhirsh @jbschlosser @vincentqb @jeffdaily @sunway513 @jithunnair-amd @ROCmSupport @KyleCZH

[2021-11-11 14:18] mruberry opened #68172 "DISABLED test_Conv2d_naive_groups_cuda_float16 (__main__.TestNNDeviceTypeCUDA)"
Platforms: rocm

https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-bionic-rocm4.3.1-py3.6-test2/9624//console

12:34:17 ======================================================================
12:34:17 FAIL [4.075s]: test_Conv2d_naive_groups_cuda_float16 (__main__.TestNNDeviceTypeCUDA)
12:34:17 ----------------------------------------------------------------------
12:34:17 Tracebac

[2021-11-11 14:19] mruberry opened #68173 "DISABLED test_ddp_sync_bn_training_vs_eval (__main__.TestDistBackendWithSpawn)"
Platforms: rocm

https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-bionic-rocm4.3.1-py3.6-test-distributed/4865//console

[code]

Happening consistently after https://github.com/pytorch/pytorch/pull/67445

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @SciPioneer @

[2021-11-11 14:33] mruberry opened #68174 "RFC: “What’s in a (NumPY) name?” — Changing PyTorch Operator Names"
**Should we change the names of some popular PyTorch operators to make PyTorch more consistent with NumPy?**

Today in PyTorch there are operations — like repeat() —  that do one thing in PyTorch and another in NumPy. This is a surprising pain for NumPy users coming to PyTorch, and it means that regular users of both frameworks have to remember which ops are different.

Removing “stumbling blocks”

[2021-11-11 14:58] Lezcano commented on #67763
What about something like this:
[code]

Note that this just allows for computing derivatives wrt the second argument. The derivatives wrt. the first argument are considerably more difficult, and we don't have the means to approximate them atm in PyTorch.

cc @kshitij12345 in case you want to implement it as a C++ kernel.

[2021-11-11 15:09] Lezcano commented on #67763
Scratch all I said above, this function already supports differentiation wrt. the second variable. Is it differentiation wrt. the first variable that you want?

[2021-11-11 16:00] gao462 opened #68179 "torch.nn.Linear wrong type annotation for bias"
## 🐛 Bug

It seems that `torch.nn.Linear` gives wrong type annotation for bias:
Expect `NoneType`, but get `torch.nn.parameter.Parameter`.

## To Reproduce

I am using PyTorch 1.9.0.

[code]

## Expected behavior

`torch.nn.Linear.bias` should be `Union[types.NoneType, torch.nn.parameter.Parameter]`, or have a `torch.nn.LinearNoBias` as a subclass?

## Environment

Please copy and paste the output

[2021-11-11 16:14] Kyeongpil opened #68181 "Out of gpu memory error when consolidate_state_dict"
## ❓ Questions and Help

Hi, I'm trying to train the large-size model using DDP and ZeroRedundancyOptimizer on A100 GPUs.
I successfully progressed a few training steps including the forward, backward, and optimizer steps.

However, I failed to save the optimizer's state_dict.
Especially, I run optimizer.consolidate_state_dict(), it throws out-of-gpu-memory error.

Does the consolidate_state_dict

[2021-11-11 16:33] vfdev-5 commented on #62237
@fumihwh thanks for reporting ! However, it is not a bug between pytorch versions as torch interpolate is intended to match opencv behaviour. If you check other input/output sizes, 1.8.1 and 1.10.0 both matches the opencv results.
The case with output size equals one for a dimension that you are reporting looks like was a bug for 1.8.1 and it was fixed in 1.9.0 and since 1.9.0 the result matches o

[2021-11-11 16:49] ZaydH commented on #67864
FWIW, my code has been thoroughly tested with torch 1.6-1.9.  I only started seeing this error in 1.10 (specifically `1.10.0+cu111`).  I ran into the issue with a Tesla K80.

[2021-11-11 16:55] #67904 closed

[2021-11-11 17:06] gchanan commented on #65761
could this potentially be a header only thing in order to reduce the maintenance/release burden?  Or is the value-add of a python library shipped on Pypi too great here?

[2021-11-11 17:18] #60866 closed

[2021-11-11 17:46] malfet commented on #68086
@xwang233 does it mean that Conv-Bias-Relu  is faster but returns less accurate results on M60?

[2021-11-11 17:48] ngimel commented on #68145
You can try compiling it from source, but officially it's not supported. Official mac binaries don't support cuda at all, so I'm not sure what the question is here.

[2021-11-11 17:48] #68145 closed

[2021-11-11 18:09] xwang233 commented on #68086
Generally speaking, conv-bias-relu should be faster than and have at least the same accuracy as the non-fused version.

The unit test failure in https://github.com/pytorch/pytorch/pull/65594#issuecomment-948989177 was a `CUDNN_STATUS_NOT_SUPPORTED` error on M60, e.g. https://github.com/pytorch/pytorch/runs/3877542278?check_suite_focus=true

[2021-11-11 18:13] sjfleming commented on #10043
For single-cell types of biology applications, all I need to be able to do is quickly row-slice a CSR tensor on GPU.  Currently it is way faster for me to conduct sparse operations on CPU using `scipy.sparse` and then move the data to GPU, rather than slicing a sparse torch CSR tensor on GPU directly.

Please see this explanation in the discussion forum:
https://discuss.pytorch.org/t/slice-a-spars

[2021-11-11 18:26] garymm commented on #66250
@BowenBao @jcwchen can we add a dependency from PyTorch onto https://github.com/onnx/optimizer and then replace calls to `onnx.optimizer` with `onnxoptimizer`?

[2021-11-11 18:40] jcwchen commented on #66250
Yes the user used an older ONNX as a workaround.

Yes I believe that's the right way. Caffe2 should be able to use the optimizer from: https://github.com/onnx/optimizer. Otherwise, currently users cannot use the latest caffe2 with newer ONNX.

[2021-11-11 18:53] maxwellzh commented on #68181
AFAIK, invoking this function collects all the parameter groups of optimizer on to a specific device. So it's reasonable that the memory consumption increases.
I also wonder if we could move this to CPU for reducing the memory footprint of GPU.

[2021-11-11 19:05] malfet opened #68189 "DISABLED test_ddp_profiling_torch_profiler (__main__.TestDistBackendWithSpawn)"
Platforms: rocm

See https://hud.pytorch.org/ci/pytorch/pytorch/master?name_filter=rocm.*distributed
For example, see https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-bionic-rocm4.3.1-py3.6-test-distributed/4890//console
Seems to be caused by https://github.com/pytorch/pytorch/pull/67901

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @pietern @mrshenli @pritamdamania87 @zha

[2021-11-11 19:06] jamesr66a opened #68190 "[FX][docs] Document gotcha about `training` flag"
When using functionals like `torch.nn.functional.dropout`, it will be common for the `training` argument to be passed in as `self.training`. During FX tracing, this will likely be baked in as a constant value:

[code]

However, when the standard `nn.Dropout()` submodule is used, the training flag is encapsulated and--because of the preservation of the `nn.Module` object model--can be changed.

[co

[2021-11-11 19:08] malfet commented on #68173
See also https://github.com/pytorch/pytorch/issues/68189

[2021-11-11 19:12] garymm commented on #66250
Tracked internally at Microsoft by https://msdata.visualstudio.com/Vienna/_workitems/edit/1512053

[2021-11-11 19:13] dzhulgakov opened #68193 "clang-tidy shows false positive failure on PRs that rename files"
##  🐛 CI Bug

Example PR https://github.com/pytorch/pytorch/pull/67943 renames the file:

[code]

Failing CI job still looks for the old one https://github.com/pytorch/pytorch/runs/4145667458

[code]

I tried to run clang-tidy tool locally on this PR but couldn't reproduce it.

[2021-11-11 19:18] jamesr66a opened #68195 "[FX] Canonical retracing procedure breaks for n-ary operator dispatch"
Example script: https://gist.github.com/nkreeger/de850a106c394ebbd213fd29ed3955ba

This script throws an error because the calls to the `Proxy` constructor in the inner loop each instantiate a new `GraphAppendingTracer`. When these `Proxy`s with different tracers are used together in an n-ary operator (e.g. binary operators like `add`), an exception is thrown because more than one tracer instance

[2021-11-11 19:27] mrshenli commented on #68173
Is it possible to only disable this on ROCm? If it is impossible to do that using GH issue,  I can send a PR to skip rocm for this test

cc @malfet @janeyx99

[2021-11-11 19:40] mruberry commented on #68173
This is skipped only on ROCm. "Platforms for which to skip the test: rocm"

[2021-11-11 20:15] malfet commented on #68086
@xwang233 sorry, I'm having a hard time connecting statement in the first and 2nd sentence together. Does it mean that cudnn-7.6.5 have a bug on just M60? Or in general, this codepath should be avoided for CuDnn-7.6.5 on all GPUs? Or for a particular shapes of convolution kernels?

[2021-11-11 20:29] mrshenli commented on #68173
Nice! Thanks! Is this achieved by adding the `Platforms: rocm` header in the issue body?

[2021-11-11 20:39] mruberry commented on #68173
Yep

[2021-11-11 20:44] xwang233 commented on #68086
That's right, on M60 only. We've only detected failures on particular shapes on M60 only. Cudnn 7.6.5 works fine on all other devices.

[2021-11-11 20:49] #67386 closed

[2021-11-11 20:49] #62810 closed

[2021-11-11 21:05] #67012 closed

[2021-11-11 21:05] #46741 closed

[2021-11-11 21:31] silvasean opened #68204 "Feature Request: Scriptable Python Source-of-Truth for operator shape functions"
## 🚀 Feature

It would be great if, analogous to `torch.ops.*`, there was `torch.shapes.*` which contains Python functions the define shape computations. This already kind of exists in the form of [symbolic_shape_registry.cpp](https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/runtime/symbolic_shape_registry.cpp).

## Motivation

In [Torch-MLIR](https://github.com/llvm/torch-mlir), we h

[2021-11-11 21:31] silvasean commented on #68204
CC @eellison @makslevental

[2021-11-11 21:32] xsacha commented on #20011
The solution provided above does exact what you're asking for.

[code]

[2021-11-11 21:51] silvasean commented on #68204
Related RFC: https://github.com/pytorch/pytorch/issues/54982#issuecomment-811550929

[2021-11-11 21:56] #29013 closed

[2021-11-11 22:03] #64995 closed

[2021-11-11 22:17] ParamsRaman commented on #2517
I am facing a related issue. Details here: https://discuss.pytorch.org/t/runtimeerror-cuda-error-initialization-error-when-calling-torch-distributed-init-process-group-using-torch-multiprocessing/136625

Wondering if anybody has suggestions on how to go about fixing this problem?

[2021-11-11 22:24] malfet commented on #68193
I guess it's not just renames, but any deletes

[2021-11-11 22:32] malfet commented on #68039
After adding debug prints to
https://github.com/pytorch/pytorch/blob/cdd5d16489fa4563b16ddd3ef338dbeb37063d80/aten/src/ATen/core/ivalue.h#L1230
and
https://github.com/pytorch/pytorch/blob/cdd5d16489fa4563b16ddd3ef338dbeb37063d80/aten/src/ATen/core/custom_class.cpp#L90-L91
I finally know what is going on: even though the name of method is the same, hash code can be different, probably due to non-un

[2021-11-11 22:35] #61251 closed

[2021-11-11 22:41] kurtamohler opened #68208 "Make `torch.Tensor.view` support autograd for appropriate cases"
## 🚀 Feature
When viewing a real tensor as complex, or the other way around, `torch.Tensor.view` should support autograd.

## Motivation

This feature was asked for here: https://github.com/pytorch/pytorch/pull/66493#issuecomment-966655813

## Pitch

It should be possible to support autograd for all cases where we view a real or complex as a complex or real (respectively), where the real dtype mat

[2021-11-11 23:28] eellison opened #68221 "[JIT][C++ Parser] Bug in processing ternary expressions"
## 🐛 Bug

I ran into the following bug when specifying shape functions in C++. Because we rely on the python ast parser generally, and then export ternary expressions as if statements, this doesn't come up very often.

[code]
throws an exception

[2021-11-11 23:30] eellison commented on #68204
cc @zou3519 @bdhirsh more motivation for one central source of truth & sharing of logic with pytorch/xla

[2021-11-11 23:34] mruberry opened #68222 "DISABLED test_ddp_profiling_torch_profiler (__main__.TestDistBackendWithSpawn)"
Platforms: rocm

https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-bionic-rocm4.3.1-py3.6-test-distributed/4942//console

[code]

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @SciPioneer @H-Huang @jeffdaily @sunway513 @jithunnair-amd @ROCmSupport @KyleCZH

[2021-11-11 23:52] malfet commented on #68222
Hmm, it's already supposed to be disabled by https://github.com/pytorch/pytorch/issues/68189 but it does not seem to work correctly, let's add an old fashioned skip here

[2021-11-11 23:57] mruberry commented on #68222
That's worrying! cc @janeyx99

[2021-11-12 02:46] malfet commented on #68086
Hmm, then perhaps instead of compile time check it can be replaced with a runtime one if CUDNN version is 7?

[2021-11-12 02:56] Yuwei1Tian commented on #20011
Thank you, I'll have a try

[2021-11-12 03:15] dunesand commented on #66537
Yes, and I have solved this problem by reprogramming the model in PyG .

[2021-11-12 03:34] evfro commented on #10043
@sjfleming for your case, you may try using my small library that does what you need:
https://github.com/evfro/cofida

It was written for recommender systems datasets (i.e., user-item interactions) but for batch slicing of rows in csr format will work for any data. The example in readme does exactly what you need, have a look. It will slice data row-wise, the batch size determines the number of ro

[2021-11-12 03:38] v0dro commented on #44428
Removing my assignment to this issue since the PR is ready and a consensus whether to merge it or not is yet to be reached.

[2021-11-12 03:51] v0dro commented on #64785
I would like to take up this issue. Here's a rough outline of the implementation plan:

1. Make a list of all the operators in torch.linalg that throwing RuntimeError. List those operators here.
2. Create the LinAlgError inherting from RuntimeError along with implementation for some basic operators
   and merge into master.
3. Tackle changes to each of the other operators in separate PRs (or a bun

[2021-11-12 03:55] v0dro commented on #64785
List of functions in the linalg namespace that need to be fixed:

-[ ] cholesky
-[ ] cholesky_ex
-[ ] common_notes
-[ ] cond
-[ ] det
-[ ] eig
-[ ] eigh
-[ ] eigvals
-[ ] eigvalsh
-[ ] householder_product
-[ ] inv
-[ ] inv_ex
-[ ] lstsq
-[ ] matmul
-[ ] matrix_exp
-[ ] matrix_norm
-[ ] matrix_power
-[ ] matrix_rank
-[ ] multi_dot
-[ ] norm
-[ ] pinv
-[ ] qr
-[ ] slogdet
-[ ] solve
-[ ] svd
-[ ] sv

[2021-11-12 05:00] vinnamkim commented on #68181
I took a quick looking at the code.

https://github.com/pytorch/pytorch/blob/2d75703c6a5f53a3df956cf689a0a60a29ef6a06/torch/distributed/optim/zero_redundancy_optimizer.py#L513-L531

There would be an additional memory consumption on a device when receiving a broadcasted state. However, it is copied from the device to CPU right after.

[2021-11-12 05:08] vinnamkim commented on #68179
I ran your code in the latest master (`PyTorch version: 1.11.0a0+git08d08d9`). But, it seems no problem.
[code]
print
[code]

[2021-11-12 05:44] Kyeongpil commented on #68181
@vinnamkim Yes, I took a look at these codes. I think this function broadcasts all states and then saves them on the CPU device.
Is it impossible to save the optimizer's state_dict directly on CPU memory without consuming GPU memory?

[2021-11-12 05:45] Force1ess commented on #27729
Still not support CUDA on PyTorch 1.10..
Seems like they've already forgot this

[2021-11-12 05:46] Kyeongpil commented on #68181
@maxwellzh I guest the GPU memory will be reduced if the model parameters, which are located on GPU memory, are moved onto CPU memory.

[2021-11-12 05:58] jerryzh168 commented on #27729
We do have some prototype with FX Graph Mode Quantization here: https://github.com/pytorch/pytorch/blob/master/torch/fx/experimental/fx2trt/example/quantized_resnet_test.py

[2021-11-12 06:20] vinnamkim commented on #68181
The most promising solution would be directly to customize `consolidate_state_dict()` to broadcast only at CPU level as follows.

1. Copy local device `state_dict` to local CPU `state_dict`.
2. Broadcast local CPU `state_dict` (not broadcasting local device `state_dict` <- current code).

[2021-11-12 06:33] Matthew-Bradley commented on #55879
I'd love to see this. Right now there's CUDA on nvidia and ROCm on (some of) AMD......but every GPU architecture under the sun is getting a vulkan driver.

Mobile GPUs for smartphones/chromebooks/laptops, but also intel GPUs and AMD GPUs (not all of which are supported by ROCm). Eventually there'll also be one for Linux on apple silicon, and for whatever LibreSoC produce.

Vulkan is quickly becomi

[2021-11-12 06:37] yinrong commented on #841
after mkl.set , cpu still can NOT take > 100%

[2021-11-12 07:01] rohan-varma opened #68241 "[FSDP] Implement a standalone _recursive_wrap that is not dependent on ConfigAutoWrap"
## 🚀 Feature

https://github.com/pytorch/pytorch/pull/68155 is adding preliminary support for auto wrapping in FSDP API, but needs some follow up work. In particular, it relies on `ConfigAutoWrap.recursive_wrap` to reuse existing checked in code, but we should clean this up and only maintain the needed portion of `wrap.py`: https://github.com/pytorch/pytorch/blob/master/torch/distributed/_fsdp/wra

[2021-11-12 08:09] Lezcano commented on #64785
I think this might be even simpler.

All the error coming from BLAS / LAPACK / etc are parsed in https://github.com/pytorch/pytorch/blob/e795315c638228d4170f3797356c09a70b2ed4cd/aten/src/ATen/native/LinearAlgebraUtils.h#L245-L279

As such, you just need to change the errors there.

The plan looks good to me, this only means that rather than having to do many different PRs, one simple PR updating t

[2021-11-12 08:09] mszhanyi commented on #67844
stacktrace
[code]

[2021-11-12 08:39] vinnamkim commented on #68169
Perhaps `torch.histogram` will behave similarly to `np.histogram`. From `np.histogram` docs (https://numpy.org/doc/stable/reference/generated/numpy.histogram.html),

Therefore, because `.hist` is a pdf (not pmf), you need to multiply `.hist` with bin interval lengths. After that, take a summation to obtain the integral (`= 1`).
[code]

[2021-11-12 09:08] csukuangfj commented on #67983
How about changing
[code]
to
[code]

---

You did not initialize `SuperPointNet` correctly as you forgot to invoke ` super().__init__()`.

[2021-11-12 09:16] xuzhuang1996 commented on #67983
Sorry，This is my complete Net：

[code]

[2021-11-12 09:19] shengchunnan opened #68243 "Can we register forward hooks for functional calls?"
As we know, we can register forward hooks for **`nn.Module`** instances. But there are functional operations like **`nn.functional.interpolate()`**,  or **`torch.cat()`**, or even an implicit callable like **`<built-in function add>`**  for element-wise summation of tensor_a and tensor_b like this:

[code]
Can we use hooks for these functional calls?

[2021-11-12 09:29] csukuangfj commented on #67983
Is there any documentation saying that `traced_script_module_optimized.code` contains the `exported` methods other than `forward`?

You can use `traced_script_module_optimized. post_processing` to access that exported method.
If you remove `@torch.jit.export`, you will not able to use `traced_script_module_optimized.post_processing`.

---

By the way,  looks like we are departing from your origina

[2021-11-12 09:35] xuzhuang1996 commented on #67983
when I run in Android Studio, `module.runMethod("post_processing")` will show ''Undefined method post_processing".
we not depart from my original issue.It seemed that `@torch.jit.export` does not work . Thank you very much!

[2021-11-12 09:38] csukuangfj commented on #67983
Then I don't know the reason. I have been doing similar projects in C++ and it works fine.

[2021-11-12 09:40] xuzhuang1996 commented on #67983
That's ok. I'm trying to figure out why. Thank you very much

[2021-11-12 11:06] julywater commented on #64208
I am also looking for that function

[2021-11-12 11:28] cdespina commented on #46642
mse_loss(input, target, size_average, reduce, reduction)
   2924
   2925     expanded_input, expanded_target = torch.broadcast_tensors(input, target)
-> 2926     return torch._C._nn.mse_loss(expanded_input, expanded_target, _Reduction.get_enum(reduction))
   2927
   2928

**RuntimeError: "mse_cpu" not implemented for 'ComplexDouble'**

[2021-11-12 11:58] function2-llx commented on #34660
Hello, is there any progress on this issue? Still looking forward to the update on this.

[2021-11-12 13:10] zw-xxx opened #68248 "bug when loss backward, related to AdaptiveAvgPool1d"
## 🐛 Bug

< Bug comes when loss backward, and it is related to AdaptiveAvgPool1d >

## To Reproduce

When I am training the deep-learning network, I get the following ` RuntimeError ` :
[code]
Note that I use quite a lot of ` nn.AdaptiveAvgPool1d ` in my network.

## Environment

 - PyTorch Version (e.g., 1.0): 1.7.0
 - OS (e.g., Linux): Ubuntu 18.04
 - How you installed PyTorch (`conda`, `pip`, s

[2021-11-12 13:19] fwz-fpga opened #68249 "Does Pytorch1.10 enable cuda graph default?"
I have lot's of script model, and want to optimize them with pytorch 1.10  new feature(cuda graph).
So  I want to konw, with pytorch 1.10 c++ api (load script model), does cuda graph enabled default or I have to write some code to enable this feature.
Another question, If I build pytorch1.10(for libtorch.so) from source,  should I modify some cmake code to build with cuda graph?

[2021-11-12 14:11] vkuzo opened #68250 "FX graph mode quantization broken for torchvision MobileNetV3"
## 🐛 Bug

FX graph mode quantization does not correctly quantize torchvision MobileNetV3.

Original report: https://discuss.pytorch.org/t/recreating-fx-graph-quantization-on-mobilenetv3-notimplementederror/136718

## To Reproduce

[code]

error:

[code]

cc @jerryzh168 @jianyuh @raghuramank100 @jamesr66a @vkuzo

[2021-11-12 14:20] mruberry commented on #68173
I'm not sure this is being skipped properly as it happened again here: https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-bionic-rocm4.3.1-py3.6-test-distributed/5082//console.

cc @janeyx99

[2021-11-12 15:35] yinrong commented on #10043
i'm looking for support like:

output = embed_layer( sparse_matrix)

where spase_matrix.shape=500,10e7

10e7 is common for industry recommend systems.

[2021-11-12 16:09] csvance commented on #1355
I have tried everything mentioned here:

- Increase ulimit
- Increase SHM size
- cv2 thread counts (this doesn't matter though because I am using spawn for workers when I do use them)
- 0 workers for DataLoaders
- Sleep between epochs / before evaluation

Still for an object detection problem I am working on I get a training deadlock after the first epoch of training 100% of the time when using DD

[2021-11-12 16:18] LetsGit-it commented on #68049
Hello I'm Minjung Cho.

I accidentally pressed the close button and opened it again, but it was assigned to in progress.

I'd like to ask if the issue is being dealt with.

Thank you for your attention to this matter.
Have a nice day.

Yours faithfully, Minjung Cho.

cc @brianjo @mruberry @jbschlosser

[2021-11-12 16:19] mrshenli commented on #68173
Hey @janeyx99, we used to have spawn and fork tests. So avoid code duplication, individual test cases are organized into a separate class. Then `TestDistBackendWithSpawn` inherit from both `DistributedTest._DistTestBase` and `TestDistBackend`. The later is a subclass of `common_utils.TestCase`.

https://github.com/pytorch/pytorch/blob/c37f413e7505b2e9c51bc6ca3e13aa0856e96690/test/distributed/test_

[2021-11-12 16:26] janeyx99 commented on #68173
I have seen that code, and it looks like the common_utils.TestCase setUp code is not getting called for this particular test case. How can I verify that it is/isn't getting called?

[2021-11-12 16:31] ParamsRaman opened #68256 "RuntimeError: CUDA error: initialization error when calling torch.distributed.init_process_group using torch multiprocessing"
## ❓ Questions and Help

I created a pytest fixture using decorator to create multiple processes (using torch multiprocessing) for running model parallel distributed unit tests using pytorch distributed. I randomly encountered the below CUDA initialization error all of a sudden (when I was trying to fix some unit tests logic). Since then, all my unit tests have been failing and I traced the failur

[2021-11-12 17:15] szmigacz opened #68258 "Option to configure TorchElastic multiprocessing/api.py PContext.close() timeout"
## 🚀 Feature

Enable a way to configure TorchElastic multiprocessing/api.py PContext.close timeout.
Currently e.g. on upscaling event TorchElastic sends SIGTERM to the training process, after a delay (currently hardcoded to 30 seconds) this signal is followed by SIGKILL which terminates the training. This delay between SIGTERM and SIGKILL should be configurable by the user.

## Motivation

Configu

[2021-11-12 17:31] janeyx99 opened #68259 "Support CUDA 11.5"
This issue will track the current progress on adding CUDA 11.5 support

- [x] Installing to conda-builder and libtorch containers
     - [x] Push pytorch/conda-builder
     - [x] Push the libtorch image
- [x] Add setup to manywheels
     - [x] Push pytorch/manylinux-builder
- [x] Update MAGMA
     - [x] Push magma-cuda115 to conda
- [x] Add Windows builder for 11.5
     - [x] Update Windows driver

[2021-11-12 17:33] janeyx99 opened #68260 "Shard mac tests on CI"
Mac tests take super long and are one of the longest jobs in CI currently. We should shard them into at least 2 shards.

cc @seemethere @malfet @pytorch/pytorch-dev-infra

[2021-11-12 17:35] janeyx99 opened #68261 "CI: Further shard ASAN tests"
Following some discussion about time to signal (TTS), ASAN tests are some of the longest CI jobs in PyTorch. Thus, to cut down overall time-to-signal for any pull request, we should focus on cutting down our ASAN test time.

One way to do this is to further shard the ASAN tests. This can be done by changing the num_test_shards variable here https://github.com/pytorch/pytorch/blob/master/.github/sc

[2021-11-12 17:41] rgommers commented on #54172
This is a bug in the install instructions on the website. The files on https://download.pytorch.org/whl/torch_stable.html are named:
[code]
It looks like what is happening here is that the CUDA 10.2 versions don't have `+cu102` because for Linux that is the wheel tthat gets uploaded to PyPI. Makes sense, however on Windows the CPU rather than the CUDA 10.2 wheels go on PyPI. For Linux the instruct

[2021-11-12 17:44] ngimel commented on #68249
Graphs are not enabled by default, you have to manually capture and replay graph.
You don't have to change cmake to build with cuda graphs.

[2021-11-12 17:56] rgommers commented on #53601
This is very likely to be a a case of "`pip` is too old". OS version reported here is: `OS: macOS 11.1 (x86_64)`. The wheels are named `macosx_10_9_x86_64.whl`. Older versions of `pip` will fail to pick up `10_9` wheels, this was only fixed in Pip `21.2` or `21.3` IIRC.

I'm quite certain that will fix the problems you were seeing, so I will close this issue. Please comment/reopen if you still see

[2021-11-12 17:56] #53601 closed

[2021-11-12 17:59] rgommers commented on #54172
Also, this is a duplicate of gh-52662, so I'll close this issue and move my comment there.

[2021-11-12 17:59] #54172 closed

[2021-11-12 17:59] mcarilli commented on #68249
Currently, the public API for graphs is Python-only
https://pytorch.org/docs/master/notes/cuda.html#cuda-graphs
If your goal to reduce CPU overhead, graphs reduce CPU overhead enough that simply doing everything in Python:
1. script the model (make sure to use nvfuser jit backend)
2. run warmup iterations
3. graph the scripted model
4. replay

may deliver good GPU utilization and you don't need to

[2021-11-12 18:03] zou3519 opened #68265 "_make_wrapper_subclass's storage_offset arg doesn't work"
## 🐛 Bug

storage_offset in `_make_wrapper_subclass` doesn't work.

## To Reproduce

[code]

## Expected behavior

The WrapperTensor should report storage offset as 1.

cc @albanD @bdhirsh

[2021-11-12 18:09] zou3519 commented on #68265
Okay I think I know what the problem is, going to try to see if I can fix it...

[2021-11-12 18:10] rgommers commented on #52662
Copying my comment from the duplicate issue gh-54172:

_This is a bug in the install instructions on the website. The files on https://download.pytorch.org/whl/torch_stable.html are named:_
[code]
_It looks like what is happening here is that the CUDA 10.2 versions don't have `+cu102` because for Linux that is the wheel tthat gets uploaded to PyPI. Makes sense, however on Windows the CPU rather th

[2021-11-12 18:17] garymm commented on #54483
Duplicate of #42230

[2021-11-12 18:17] #54483 closed

[2021-11-12 18:18] rohan-varma commented on #68173
Might make sense that it happens after the referenced PR which is a kineto update, as this test uses the profiler to verify that some collectives are called/not called. So maybe some sort of issue with the profiler is being hit.

I think we can refactor this test to get rid of needing the profiler and having some other way to check if the collective was called (e.g. were gradients synchronized or

[2021-11-12 18:19] garymm commented on #42230
Pretty sure this works in the latest PyTorch nightly:

[code]

Produces output:
[code]

So I guess this got fixed at some point.

Closing. If you have code that reproduces the issue on the latest PyTorch nightly, please post it here and I'll gladly re-open the issue, or open a new issue.

[2021-11-12 18:19] #42230 closed

[2021-11-12 18:24] rgommers commented on #53601
Also xref gh-47978, this is a duplicate from that issue.

[2021-11-12 18:37] rgommers commented on #47978
The original issues about `pip` not recognizing wheels marked for `10_9` were fixed in the most recent Pip releases.

PyTorch 1.10.0 has `arm64` wheels for Python 3.8 and 3.9 now, from https://pypi.org/project/torch/1.10.0/#files

[code]
So this was fixed, and should now work even with older `pip` versions. So this is doubly-fixed with PyTorch 1.10.0, plus has a workaround (`export SYSTEM_VERSION_

[2021-11-12 18:37] #47978 closed

[2021-11-12 19:35] janeyx99 commented on #68173
I did more investigation, and I was wrong before when I thought the setUp was not being called. It _is_ called, however, the disabled_tests_dict was None at the time.

I added code to print disabled_tests_dict in common_utils.py here right before this line https://github.com/pytorch/pytorch/blob/master/torch/testing/_internal/common_utils.py#L1284

When running locally with PYTORCH_TEST_WITH_ROCM=

[2021-11-12 19:38] janeyx99 opened #68270 "CI: test cases run in subprocesses cannot be disabled"
For more context please read https://github.com/pytorch/pytorch/issues/68173#issuecomment-967153656

This is bad because most distributed tests are now run in a subprocess, and they cannot be disabled by an issue currently.

The code for how the subprocess is spawned is here: https://github.com/pytorch/pytorch/blob/master/torch/testing/_internal/common_utils.py#L601

cc @ezyang @gchanan @zou3519 @

[2021-11-12 19:54] tranthanhsongitrepo commented on #32284
I'm encountering this problem in version 1.9.0

[2021-11-12 19:58] rohan-varma commented on #68173
Can we just use unittest.skip() decorator for now?

[2021-11-12 19:58] dfalbel opened #68272 "Query CUDA version LibTorch has been compiled with"
## 🚀 Feature

Allow runtime querying the CUDA version LibTorch has been compiled with.

## Motivation

We might want to use different code paths depending on the CUDA version LibTorch has been compiled with. Depending on the implementation, this can only be found at runtime.

## Pitch

We want to be able to identify the CUDA version LibTorch has been compiled with. Ideally there would be a functio

[2021-11-12 20:12] eash3010 commented on #67938
Hi,
Thank you @dust_nv. This issue was due to
[code]
and was resolved by adding swap memory following the steps on https://github.com/dusty-nv/jetson-inference/blob/master/docs/pytorch-transfer-learning.md#mounting-swap.

[2021-11-12 20:12] #67938 closed

[2021-11-12 20:14] NivekT commented on #68079
Note that the test has been disabled for now by issue #68171

[2021-11-12 20:24] rohan-varma commented on #68173
@janeyx99 The log after the subprocess diff landed should show the way to repro the failure -

[code]

i.e. grep for "command to reproduce" here https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-bionic-rocm4.3.1-py3.6-test-distributed/4942//console

[2021-11-12 20:27] xuzhao9 commented on #68086
Can we add a runtime check to only disable fusion on M60?

[2021-11-12 20:30] janeyx99 commented on #68173
Yes, we always can do this, but we may have to retroactively do this for all disabled dist tests

[2021-11-12 21:02] HDCharles opened #68278 "quantized linear dynamic should get reduce range from the observer rather than overwritting it in qnnpack/fbgemm"
## 🚀 Feature
see title (also applies to qconv_dynamic)

## Motivation

currently the way this is handled is fairly unintuitive, https://github.com/pytorch/pytorch/blob/f6e45102d20c223f3e0bef8178ed249ba2c52a97/torch/nn/quantized/dynamic/modules/linear.py#L49 simply sets reduce_range to true and then the c++ op dispatches to qnnpack/fbgemm which then discards it for qnnpack https://github.com/pytorc

[2021-11-12 21:34] saketh-are commented on #68181
Thanks @maxwellzh and @vinnamkim for the helpful discussion here.

On a separate note, we use github issues only for bug reports or feature requests. It's preferrable to use the forum to ask questions: https://discuss.pytorch.org/

[2021-11-12 21:34] #68181 closed

[2021-11-12 21:43] saketh-are commented on #68169
@noppelmax thanks for raising this. @vinnamkim's explanation in the comment above is spot on.

This issue suggests that the documentation of the `density` kwarg is unclear and difficult to understand. Documentation for the closely related `torch.histogramdd` function is more direct about what `density=True` means.

I can review a PR updating `torch.histogram`'s documentation of `density` to match

[2021-11-12 21:50] NumberChiffre commented on #33388
Has there been any separate PRs to deal with this issue, interested to see how its been dealt with.

[2021-11-12 22:10] jiafatom commented on #68170
@toby-htx There are several example of using dynamic_axes in https://github.com/pytorch/pytorch/blob/master/test/onnx/test_pytorch_onnx_onnxruntime.py
Also you can search for `def _lstm_test(` in that file.
Please let us know if you can find answers there. If it is still having error, please provide a small model that reproduce the issue.

[2021-11-12 22:15] saketh-are commented on #68243
Hi @shengchunnan, hooks can be registered on `nn.Module` objects, not on operators.

On a separate note, we use github issues only for bug reports or feature requests. Please use the forum to ask questions: https://discuss.pytorch.org/

[2021-11-12 22:15] #68243 closed

[2021-11-12 22:16] Krovatkin opened #68287 "[Lazy] Add torch.autograd.Function wrappers for the following ops in order to support dynamic shapes"
Add torch.autograd.Function wrappers for the following ops similar to https://github.com/pytorch/pytorch/blob/71b89a9c85fb37844bef5ba0be5e8b7765c210de/lazy_tensor_core/test/dynamic_lazy_tensor5.py#L22-L35

- [ ] `addmm(Tensor self, Tensor mat1, Tensor mat2, *, Scalar beta=1, Scalar alpha=1) -> Tensor` grad for `mat1` : `mm_mat1_backward(grad, mat2, mat1.sizes(), mat1.strides(), alpha)`
- [ ] `cat(

[2021-11-12 22:29] eqy commented on #68248
Would it be possible to narrow this down to a specific shape/workload?

[2021-11-12 22:29] ptrblck commented on #68248
@Wei-Zhuo could you post the input activation shape to this layer which is failing as well as the layer setup?
If possible, a minimal executable code snippet would be great to have for debugging.
Are you also seeing the issue using the latest stable release (`1.10.0`) or the nightly?

[2021-11-12 22:31] Krovatkin opened #68288 "List of issues to unblock dynamic shapes in Lazy Tensor"
- [ ] Materialize arguments for an unsupported op that triggers an eager fallback. In fallback, we query sizes in order to copy the tensors from the lazy device. If the arguments aren't materialized yet, we will query the sizes from the IR Node
- [ ] Add autograd wrappers for ops that use sizes in their derivatives: https://github.com/pytorch/pytorch/issues/68287
- [ ] Add autograd wrappers for op

[2021-11-12 22:33] eellison commented on #68086
@ngimel thoughts on fix here ?

[2021-11-12 22:33] bonassifabio commented on #37762
Is there any update on this proposed enhancement?
The poor docstrings displayed in IDEs are quite annoying, and force one to keep an interactive session open just to use help() or to use the browser, which can be a non-marginal waste of time.

[2021-11-12 22:35] ngimel commented on #68248
It probably happens for a large input, the assert is like
[code]
where sharedMemPerBlock is hardware limit obtained with cudaGetDeviceProperties.

[2021-11-12 22:38] stanleyjs opened #68291 "INTERNAL ASSERT FAILED at "/opt/conda/conda-bld/pytorch_1634272068185/work/aten/src/ATen/native/LinearAlgebraUtils.h":244"
## 🐛 Bug

Calling `torch.linalg.svd` on a large float64 tensor on the CPU (size 90k x ~34k) leads to this error. `torch.linalg.eigh` on `tensor.T@tensor` seg faults.
## To Reproduce

Steps to reproduce the behavior:

1. I don't know. I have a large tensor of type float64. Calling `torch.linalg.svd`on it produces this error.

[code]
## Expected behavior

## Environment

Please copy and paste the ou

[2021-11-12 22:39] ngimel commented on #68086
@xuzhao9 does reenabling fusion fix the perf regression?
Yes, we can replace with the runtime check for cudnn version and hardware capability.

[2021-11-12 22:46] eellison commented on #68086
Not sure what's going on with
test_eval[mnasnet1_0-cuda-jit]: -96.00715%
test_eval[mobilenet_v3_large-cuda-jit]: -50.97254%
though..

[2021-11-12 23:18] rohan-varma opened #68297 "[DDP] Debug mode should ensure reduction is finished in backward pass"
## 🚀 Feature

Currently if something goes wrong in DDP reduction, it will be reported in the next forward pass, i.e. in `ensure_prior_reduction_finished`: https://github.com/pytorch/pytorch/blob/master/torch/csrc/distributed/c10d/reducer.cpp#L1657.

This is due to perf reasons where we don't want to do a hard wait/barrier in the backwards pass for performance reasons.

However, this can have issue

[2021-11-12 23:27] Krovatkin opened #68298 "[Lazy] Add torch.autograd.Function wrappers for the following ops in order to support dynamic shapes"
Add torch.autograd.Function wrappers for the following ops similar to https://github.com/pytorch/pytorch/blob/71b89a9c85fb37844bef5ba0be5e8b7765c210de/lazy_tensor_core/test/dynamic_lazy_tensor5.py#L22-L35

- [ ] `as_strided(Tensor(a) self, int[] size, int[] stride, int? storage_offset=None) -> Tensor(a)`
- [ ] `as_strided_(Tensor(a!) self, int[] size, int[] stride, int? storage_offset=None) -> Ten

[2021-11-12 23:36] arindamroy-eng opened #68299 "test_caching_pinned_memory_multi_gpu: Test has a race condition leading to flakiness"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. python3.6 test/test_cuda.py TestCuda.test_caching_pinned_memory_multi_gpu

## Expected behavior
The test should pass.

Current Output:
Sometimes the test fails with the following error

======================================================================
FAIL: test_caching_pinned_memory_multi_gpu (__main__.TestCuda)
----------------

[2021-11-12 23:36] arindamroy-eng commented on #68299
@jeffdaily @jithunnair-amd

[2021-11-13 00:03] alexander-soare opened #68301 "[FX] Tensor.{inplace_method}_(.) is eliminated as dead code"
## To Reproduce

Steps to reproduce the behavior:

[code]

I would expect the two `print` outputs to be the same but what I get is

[code]

Using `mul` instead of `mul_` makes the example work as expected. And I've also confirmed a different variation for `add` vs `add_`.

## Real life example + more context

I encountered this with the NormFree nets from timm. See [here](https://github.com/rwight

[2021-11-13 00:33] malfet commented on #68086
@xuzhao9 for comparison, can you please share changes in the same tests for PyTorch+cu111 or PyTorch+cu113 builds?

[2021-11-13 03:03] vadimkantorov commented on #49038
I would say this is a feature request: this was implemented in nvidia apex: https://github.com/NVIDIA/apex/blob/master/apex/amp/README.md#function-annotation

[2021-11-13 03:05] vadimkantorov commented on #49038
My own additional feature request: a module class decorator so that I could take existing module class (not object) and force it to always use fp32 or fp16:

[code]

[2021-11-13 03:42] vadimkantorov opened #68315 "[docs] Strange signatures for torch.autocast"
Is `torch.autocast` a class or a function? If class, what are the arguments listed in the header? Constructor arguments?

Below in the code the classes/functions are not qualified and imports are missing. So it's not clear how can `autocast()` be called if `device_type` is mandatory argument

![image](https://user-images.githubusercontent.com/1041752/141604407-ae6add7d-7377-41d7-a353-a3f786fe364f.

[2021-11-13 03:47] vadimkantorov commented on #68315
Typically, input and model is already on the correct device. Is `device_type` a mandatory argument?

[2021-11-13 03:57] #68270 closed

[2021-11-13 04:27] vadimkantorov commented on #49038
Basically it's not very clear at what point autocast context manager casts the tensors and how to avoid double casts fp32->fp16->fp32 (that's what would happen if I just use float() calls within the model, right?)

[2021-11-13 04:33] vadimkantorov commented on #55752
Alternatively, in some verbose mode even the regular Linear/Conv ops could print warning messages about problems with divisibility

[2021-11-13 05:06] rgommers commented on #58734
Someone just asked about other uint types on Slack. And from https://github.com/pytorch/vision/pull/4326#discussion_r697371491:

16-bit image support making `uint16` the most interesting one of the missing dtypes had been my guess before.

There are no plans to work on this issue currently I think, unless more demand materializes.

[2021-11-13 05:13] famzah commented on #67669
❌ It didn't work with Python 3.6 on Windows 10.
✔️ It works with Python 3.9 on Windows 10.

[2021-11-13 07:09] rgommers commented on #32284
@tranthanhsongitrepo please open a new issue with enough detail that it can be investigated.

[2021-11-13 11:31] vadimkantorov commented on #66073
Also, the frozen mode in core could eliminate slight discrepancies between https://github.com/pytorch/vision/blob/d24ef4c40e31a233525b1b6a1082e8796688ae4c/torchvision/ops/misc.py#L89 and https://github.com/facebookresearch/detectron2/blob/cbbc1ce26473cb2a5cc8f58e8ada9ae14cb41052/detectron2/layers/batch_norm.py#L57

[2021-11-13 13:03] wa008 commented on #47702
Great news!!!

[2021-11-13 13:06] sunshineinwater commented on #47702
Wow!!

发自我的iPhone

------------------ Original ------------------
From: wa007 ***@***.***&gt;
Date: Sat,Nov 13,2021 9:04 PM
To: pytorch/pytorch ***@***.***&gt;
Cc: sunshineinwater ***@***.***&gt;, Comment ***@***.***&gt;
Subject: Re: [pytorch/pytorch] GPU acceleration for Apple's M1 chip? (#47702)

[2021-11-13 13:34] NicolasHug commented on #58734
Another tangible need for uint16 support in torchvision is https://github.com/pytorch/vision/issues/4731

We added support for native 16 bits png decoding in torchvision, but we can't make this API public for now, because we output int32 tensors and this wouldn't be compatible with the rest of our transforms.
It'd be great if we could make it public because Pillow 16 bits png support is fairly lim

[2021-11-13 16:07] zpks commented on #67763
No, I want to differentiate with respect to the second variable. I now notice that the variable I want to differentiate to is `other_i`, not `input_i`, meaning that my feature request, in the way that I need it,  has always been satisfied; I merely misinterpreted the documentation.
My apologies for the inconvenience, and thank you for your support!

[2021-11-13 16:07] #67763 closed

[2021-11-13 17:20] BarclayII commented on #36922
Gravedigging this issue but @vadimkantorov 's conjecture might be true.  For instance, when the tensor is allocated by somebody else (say numpy), the test worked fine:
[code]

[2021-11-13 17:29] mruberry opened #68319 "DISABLED test_nccl_barrier_timeout_new_group_non_member (__main__.CommTest)"
Platforms: rocm

https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-bionic-rocm4.3.1-py3.6-test-distributed/5283//console

[code]

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @SciPioneer @H-Huang @jeffdaily @sunway513 @jithunnair-amd @ROCmSupport @KyleCZH

[2021-11-13 18:41] AmitGarage commented on #10604
Using half_pixel_centers = True along with align_corners = False in tf.image.resize_bilinear will work same as torch.nn.functional.interpolate with align_corners = False

[2021-11-13 21:16] talhaanwarch commented on #51344
Here is comparison of same data loaded on same pc but in two different os ie windows and linux
**Windows 10**
Finish with:80.83345198631287 second, num_workers=2
Finish with:78.34166359901428 second, num_workers=4
Finish with:90.41332364082336 second, num_workers=6
Finish with:108.79571604728699 second, num_workers=8
Finish with:131.13191103935242 second, num_workers=10
Finish with:152.95715427398

[2021-11-13 22:04] vadimkantorov opened #68320 "Potential race conditions between multiple workers trying to download and cache the same file"
https://github.com/pytorch/pytorch/blob/577a4d34a7c017bf57b997967bf965255fd61909/torch/hub.py#L585

There should be a recommendation how to cache / download   files and checkpoints correctly betwen multiple workers or at least warn of these problems

[2021-11-14 04:11] beginner401 opened #68321 "expected dtype XXX but got dtype XXX"
## To Reproduce
Steps to reproduce the behavior:
1. just make sure that the dtype of weights differs from that of input tensor
## Expected behavior
PyTorch may automatically cast one of the dtype to the other to make sure the dtypes stay the same.
## Environment
torch 1.8.1
## Addition
This bug may be widely known, however, to some extent, some adaptive operation can be carried out to make it easi

[2021-11-14 04:34] llv22 commented on #68145
@ngimel thanks a lot, I modified official torch 1.10.0 and made it working for macOS10.13.6 with cuda10.1. github repository is here https://github.com/llv22/pytorch-macOS-cuda/tree/v1.10.0-built.

[2021-11-14 05:32] Force1ess opened #68322 "Quantization: torch._make_per_channel_quantized_tensor doesn't work well"
## 🐛 Bug

## To Reproduce

Here's how this bug produce

[bug.ipynb](https://drive.google.com/file/d/1mXDh5HU5Zro3RFaYNqoSrGt8gPcezAJa/view?usp=sharing)

I've installed the nightly version of torch

cc @jerryzh168 @jianyuh @raghuramank100 @jamesr66a @vkuzo

[2021-11-14 08:45] tonychang0618 commented on #67968
Could you show me setup.py you use to build .pyd file? Thanks. I got the errors when I try to use pybind11 to bind the function and when I include a torch::tensor input variable in the binding function like this "void lltm_backward(torch::Tensor grad_h)." Otherwise, I can successfully compile it if torch::tensor is not used as input variable.
1>DL_Pytorch.obj : error LNK2001: unresolved external s

[2021-11-14 09:07] JavierCoronaA01023063 commented on #34704
Hey @AliaksandrSiarohin and @BaldrLector In what exact archive did you change: def grid_sample. ??? help pls I have the same Runtime error. Hope you answer

[2021-11-14 09:47] tranthanhsongitrepo commented on #32284
I've found the problem elsewhere, the memory usage was rising when I call max pool but I've failed to notice that I still have some hidden reference to it down the line

[2021-11-14 10:36] darkecho789 commented on #42653
Hi I am also facing this problem. I got an error that stated "RuntimeError: Unsupported: ONNX export of operator adaptive_avg_pool2d, since output size is not factor of input size. Please feel free to request support or submit a pull request on PyTorch GitHub." when trying to use dataloader with input size of (128, 3, 100, 100).

[2021-11-14 10:42] saluto opened #68323 "sparse.mm: CUDA error: internal error when calling `cusparseSpGEMM_workEstimation [...]`"
Consider the following script:

[code]

Running it, I get this error:

[code]

Is this a bug or a user error?
My thesis deadline is coming fast, so any help would be greatly appreciated.
Anyway, thanks for your valuable work!

---

PyTorch version: 1.10.0+cu113
GPU: Nvidia Titan Xp (via Slurm)
CUDA Version: 11.4
OS: Ubuntu 20.04.3 LTS

[2021-11-14 14:22] saluto commented on #68323
The error from above occurs when running e.g. on this hardware:

- (36 x) Intel Xeon CPU E5-2697 v4
- (8 x) Nvidia Titan Xp (each 12 GB VRAM)
- ca. 500 GB RAM

On the following hardware it runs **without** error:

- (36 x) Intel Xeon Gold 6254
- (8 x) Nvidia Rtx A6000 (each 48 GB VRAM)
- ca. 1.5 TB RAM

Though it is sparse, could the error be due to not enough (V)RAM, for some reason? Or a bug wit

[2021-11-14 15:58] boykovdn commented on #37410
Hi, I've ran into a use case for resetting the state of an optimizer (Adam in my case), for when I want to freeze a part of my network. It seems the momentum carries on updating the layer parameters even after I freeze them (set requires_grad = False), and it would be nice to call reset() to remove the accumulated momentum off the optimizer without changing internal state. I am using pytorch 1.9.1

[2021-11-14 17:35] stas00 commented on #55374
It appears that the doc wasn't fully updated to incorporate the bf16 support, e.g.:

https://pytorch.org/docs/stable/amp.html#ops-that-can-autocast-to-float16

needs to mention both.

Thank you!

[2021-11-14 19:14] SamtFish commented on #67968
The .pyd file (setup.py) I used is from the CornerNet source code and looks like this:

---------------------------------- setup.py -------------------------------------
from setuptools import setup
from torch.utils.cpp_extension import BuildExtension, CppExtension

setup(
    name="cpools",
    ext_modules=[
        CppExtension("top_pool", ["src/top_pool.cpp"]),
        CppExtension("bottom_pool

[2021-11-14 22:25] andrewilyas opened #68326 "Tensor.norm() returns incorrect results with float32 and large CPU tensors"
## 🐛 Bug

When on CPU, the Tensor.norm() function returns incorrect results for very large tensors at 32-bit precision. The output of ``torch.sqrt(x.pow(2).sum()`` is actually correct in this case, and the issue is resolved on GPU and at 64-bit precision.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Output lines [3 and [4] should match above, and output line [6

[2021-11-14 23:55] vadimkantorov commented on #49394
Maybe related: https://github.com/pytorch/pytorch/issues/25297

[2021-11-15 00:12] tonychang0618 commented on #63479
Thanks for your sharing of solution. I can confirm that the right way and the best way to successfully build your custom pytorch .pyd file is to include and link all libraries from Python and Pytorch package under Python. You need torch_python.lib to avoid link error like this: https://github.com/pytorch/pytorch/issues/67968
Cross libraries build using both Pytorch and Libtorch (even in the same v

[2021-11-15 00:16] tonychang0618 commented on #67968
Thank you for pointing out this topic. It absolutely helps me figure this issue out. I posted my code and setup with successful build in both VS and setup.py. Hopefully, it will help you build it in VS.

[2021-11-15 00:28] gorcurek opened #68327 "Spectral Normalization issue."
## 🐛 Bug

I am working on a GAN network, and am making use of *spectral normalization*.
I ran into an error of the implementation when using **from torch.nn.utils.parametrizations import spectral_norm**.
However, everything went fine when using **from torch.nn.utils import spectral_norm**.

I am getting error saying:
**RuntimeError: one of the variables needed for gradient computation has been mod

[2021-11-15 00:54] leslie-fang-intel commented on #55374
Thanks, this is more like a page specific for CUDA. Does anyone knows how to generate a page for `torch.cpu.amp.autocast`?

[2021-11-15 02:14] BaldrLector commented on #34704
Hi, @JavierCoronaA01023063  I just use the new function of @AliaksandrSiarohin to replace the official grid_sample.

[2021-11-15 02:47] vincenthesiyuan commented on #34704
Hi, @AliaksandrSiarohin
thanks for your code, i suffered from the similar problem
"RuntimeError: derivative for grid_sampler_3d_backward is not implemented"

and i create a new grid sample function like
`
def grid_sampler(feature_3d, grid):
    N, C, iD, iH, iW = feature_3d.shape
    _, D, H, W, _ = grid.shape

    ix = grid[..., 0]
    iy = grid[..., 1]
    iz = grid[..., 2]

    ix = ((ix + 1) /

[2021-11-15 03:18] vincenthesiyuan commented on #34704
Hi, @AliaksandrSiarohin
thanks for your code. i currently suffer from a similar problem `RuntimeError: derivative for grid_sampler_3d_backward is not implemented`

i achieve a grid sample function for 3d following your code. the output is inconsistent with F.grid_sample, and i have no idea where is error.
Thank you in advance for any help you might be able to provide.

    def grid_sampler(feature

[2021-11-15 03:20] fumihwh commented on #62237
@vfdev-5 Awesome! I've tried and got exactly result you said.

[2021-11-15 04:14] starryskyyl commented on #65540
@BowenBao @ig177 when i use  the latest version of  pytorch to export prophetnet model(similar to transformer, with beam search),  the above issue is solved. but i get a new error: RuntimeError: prim::TupleIndex not matched to tuple construct. Any suggestions?  Thanks.
-----------------------
Traceback (most recent call last):
  File "prophetnet_beam_search.py", line 889, in <module>
    main()

[2021-11-15 05:42] sujoysaraswati commented on #67428
@rgommers - the comment is about the arguments of clamp, not the return value. I checked the effect on XLA, here is what I find -

Test:
-----
import torch
import numpy as np
import torch_xla.core.xla_model as xm

device = xm.xla_device()
x = torch.randn(2,3,4).to(device)
y = torch.randn(1).to(device)
z = torch.randn(1).to(device)

c = x.clamp_(z[0], y[0]) #By default, clamp_ will convert z[0] and

[2021-11-15 06:32] #67678 closed

[2021-11-15 06:34] ngimel commented on #68326
Dupe of #65815

[2021-11-15 07:01] #66855 closed

[2021-11-15 07:09] c9412600 commented on #57289
hello,is your problem solved?

[2021-11-15 07:52] Sunzz1996 commented on #53336
**问题描述：**在使用 pytorch 1.8.0 版本的时候出现的CUDNN_STATUS_NOT_INITIALIZED的情况，但是

`torch.cuda.is_available() = True`
**已有解决方案：**有人提出将 pytorch 1.8.0 退回到 1.7.0，可以解决问题。 但是对于必须要使用 pytorch 1.8+版本的用户来说就很不友好。

**新的解决方案：**

_原因分析：是 pytorch 1.8.0 版本与 CUDA 10.2 不兼容导致的_

_步骤：只需升级pytorch 至 1.8.1 即可_

`pip install torch==1.8.1 --upgrade`
**tips:**

- CUDA 版本一定要是 10.2
- NVIDIA driver 版本一定要是 440+， 本文使用的是470， 2080Ti GPU
- 无

[2021-11-15 08:09] sungh66 commented on #34743
I had the same problem, but i solved the problem by changing the` F.avg_pool2d(x, x.shape[2:])` to `F.avg_pool2d(x, [7,7])`

[2021-11-15 08:35] Lezcano commented on #68327
This was fixed in master, and I believe it made it into 1.10. Please update your PyTorch version and the snippet will work.

[2021-11-15 08:35] #68327 closed

[2021-11-15 09:27] congchan commented on #32346
First thanks for your codes, I try to use it, but found that it failed to reproduce the same evaluation mode results after loading a checkpoint

[2021-11-15 09:32] ReAktx commented on #58817
Hello all,
seems I have the same error on my srv can someone help me to solve this ?

[2021-11-15 09:34] etern commented on #68221
I checked this bug, which is in the parsing phase.
It can be solved if we parse TernaryIf as right associative.
Should I make a PR to fix this ?

[2021-11-15 09:34] SefaZeng opened #68330 "isObject()INTERNAL ASSERT FAILED at "../aten/src/ATen/core/ivalue_inl.h":115, please report a bug to PyTorch. Expected Object but got Tensor"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. I followed the NMT demo for android-app-demo [https://github.com/pytorch/android-demo-app](url) to make my own app, and converted my NMT model into a lite model via torch.jit.trace. And the python scripts is like this:

[code]
2. Then I try to run the model in android. It raise an error in decoder step. The core code is like this:
[co

[2021-11-15 09:51] lucgiffon opened #68331 "Casting real parameter to complex during forward produces warning on backward"
## 🐛 Bug

If I have a `Parameter` with `real` `dtype` but need to cast it as `complex` in the forward pass, then I get a `UserWarning`  during the backward:

[code]

## To Reproduce

[code]

## Expected behavior

I am not sure if the warning should be disabled by default because I can see when there could actually be a mistake and the warning would be desirable. But I think there should be a way t

[2021-11-15 10:24] CosmosShadow commented on #47702
Happy news!

[2021-11-15 10:46] luckywyy commented on #61571
If I don't want this "nottorch.use_deterministic_algorithms(True)", what can I do?

[2021-11-15 11:05] vadimkantorov opened #68332 "[feature request] Provide functional form of LR scheduler formulas (and reconsider older decisions of not doing it)"
I propose to have publicly-facing functions of closed-form scheduling formulas depending only on input iteration number.

This way people who are having troubles with current LR scheduler design (IMO statefulness, problems of overriding learning rates after restoring from checkpoint, inability to handle only specific param groups) can still use the tested formulas and wouldn't need to copy this pi

[2021-11-15 11:17] SefaZeng commented on #68330
I have struggled with this problem for one week. Is there any advices?

[2021-11-15 12:16] nikitaved opened #68337 "`nn.functional.max_unpool{n}d`: shape checks fail with `output_size=(C, ...)`."
## 🐛 Bug
`max_pool` accepts inputs of shape `(N, C, ...)` and `(C, ...)` and so should `max_unpool` be able to detect present or absent batch dimension.
The following, however, fails:
[code]

## Environment

[code]

[2021-11-15 13:25] TV4Fun commented on #47702
Really wish GitHub had a 📣 reaction.

[2021-11-15 13:35] timfu248 commented on #50685
torch.onnx.export(predictor.model.eval(), dummy_input, "FPNInception.onnx",
training=TrainingMode.TRAINING,do_constant_folding=False,
input_names=inputs, output_names=outputs, dynamic_axes=dynamic_axes,
opset_version=12)

[2021-11-15 14:19] luisArandas opened #68340 "Torch 1.10.0 - RuntimeError: requires_grad_ is not supported on ScriptModules"
## 🐛 Bug

Hello.
I was having a MAGMA problem and updated my torch version as was recommended in [#67955](https://github.com/pytorch/pytorch/issues/67955) to 1.10.0. Now, the code that ran in 1.9. is raising this function error:

[code]

## To Reproduce

Running the VQGAN+CLIP code provided in line 243 of https://github.com/rkhamilton/vqgan-clip-generator/blob/main/src/vqgan_clip/engine.py and I g

[2021-11-15 14:21] SamtFish commented on #67968
Thanks... Those were the library files I was looking for. Now the project can also be compiled in VS.

[2021-11-15 14:48] mruberry commented on #46642
This is expected behavior because this feature tracks implementing support for complex inputs to losses, and complex support has not been added to MSELoss yet.

[2021-11-15 14:50] matzuu opened #68349 "SIGILL, Illegal Instruction from libtorch_cpu.so when callling backward() function in a VM."
## 🐛 Bug

I try to run a FL project, which uses pytorch. After using some pytorch methods, it crashes when it calls the pytorch "backward()" function.
The code failed and crashed with Illegal Instruction in an Ubuntu VM, but the same code works on a Windows "normal"/Non-VM machine.

## To Reproduce

Steps to reproduce the behavior:
It's a little bit more complicated to reproduce the behavior, but

[2021-11-15 15:17] Lezcano opened #68352 "`Delta` not defined in the docs of `HingeEmbeddingLoss`"
As per title. See https://pytorch.org/docs/stable/generated/torch.nn.HingeEmbeddingLoss.html

[2021-11-15 15:37] cbalioglu commented on #67972
Hi @ParthaEth, when you say "it hangs at random times", do you know where exactly it hangs? Is it during the process startup while initializing the stores, or during calls to `get()` and `set()`? Note that the `get()` call will block until the requested key becomes available in the store.

Although in your code snippet, it looks like you are setting all rank specific `dummy_keys`, make sure that t

[2021-11-15 15:45] bobapopgongcha commented on #47702
@soumith
Please open the development as soon as you can, so that we, the community, may help to contribute and accelerate this faster.

Thanks for taking this seriously.

[2021-11-15 16:26] #67675 closed

[2021-11-15 16:44] jbschlosser commented on #68179
Printing is correct, but `reveal_type` outputs `torch.nn.parameter.Parameter` on master.

[2021-11-15 16:46] jbschlosser commented on #68352
Nice catch, those docs could use some improvement :)

[2021-11-15 16:57] jbschlosser commented on #68048
Confirmed this was fixed in master. As mentioned above, #64280 refactored the bias gradient computation to use `sum_out` instead of manual accumulation.

[2021-11-15 16:59] vadimkantorov commented on #64208
A similar function is also needed for permuting / batch-indexing across a dimension, e.g.
[code]

where I is permutation / batched index across a dimension

[2021-11-15 17:12] ngimel commented on #68105
Type promotion for matmul operations is currently not supported #56356.
Note that even if `torch.mm(A, B, out=result)` with the different types was supported, it would not be differentiable (functions with `out` kwargs don't support automatic differentiation.

[2021-11-15 18:00] seemethere commented on #50535
0.1.2 releases have been removed (_deleted_) from PyPI as of now and @rgommers has gone ahead and uploaded the sdists from these releases to https://github.com/pytorch/pytorch/releases/tag/v0.1.2

[2021-11-15 18:09] mruberry commented on #68048
Notes from triage meeting:

@ngimel: @jbschlosser we should be sure our tests will catch this
@malfet: we should create a plan to do 10.1 or not and designate fixes for it
@ngimel: If we do 10.1 we should take this

[2021-11-15 18:16] malfet commented on #67992
Looks like a duplicate of https://github.com/pytorch/pytorch/issues/67864

[2021-11-15 18:17] #67992 closed

[2021-11-15 18:27] gao462 commented on #68179
@jbschlosser is correct. The problem I noticed is `reveal_type(x.bias)` (which is in the comment, since reveal_type is only for mypy, and is not runnable).

I expect mypy (or other static typing toolkits) to hint `x.bias` (not print output) as `Union[torch.nn.parameter.Parameter, None]` (since it is None when `bias=False`), but it seems it will always be `torch.nn.parameter.Parameter` which is wro

[2021-11-15 18:27] carmocca commented on #49370
This issue is affecting the PyTorch Lightning CI for the python 3.9 jobs.

[code]

on tests running DDP spawn on CPU

[2021-11-15 18:36] cocoaaa opened #68362 "Autograd mechanics documentation (grad_fn._saved_self, .save_result)"
## 📚 Documentation

Hi, I'm going through the documentation on [Autograd's mechanics](https://pytorch.org/docs/stable/notes/autograd.html), and am encountering the following errors in the `Saved tensors` section:
[code]
Same AttributeError occurs with `exp()` function.

There is also a typo in the paragraph that follows these examples (in the same section):
"Under the hood, to prevent reference cy

[2021-11-15 18:48] rgommers commented on #50535
When trying to install `torch` from PyPI on an unsupported platform, the installer will now report that there is no matching wheel. The error message is whatever the installer says as its default message for that. So currently for `pip` it will say:
[code]
(as determined by https://github.com/pypa/pip/blob/8b0745678cccdb3a4f7370b07c1f9e99ae93dea2/src/pip/_internal/commands/index.py#L128)

For Poet

[2021-11-15 18:53] xuzhao9 commented on #68086
Since #68087 reverts only when `CUDNN < 8000` and all perf numbers are back, I believe cu111/cu113 are not affected.

[2021-11-15 19:12] rgommers commented on #67428
Yes, I agree with prioritizing `Tensor?`. The current behavior is pretty bad, I think it's fair to say it's a bug.

Thanks for explaining. This was just a terminology thing. With _"My sense is that "extracting a scalar from a tensor" happens very rarely."_ I meant semantically, that the user gets their hands on an actual Python scalar. Rather than "this happens to be a thing the C++ code does unde

[2021-11-15 19:51] jonah-chen opened #68377 "Misleading Error Message from nn.RNN when Passing Incorrect Data Type"
## 🐛 Bug

When using `nn.RNN`, I forgot to cast my output (from `nn.functional.one_hot`) to a float before passing into the RNN. However, I was prompted with the error message `RuntimeError: expected scalar type Long but found Float`, but I *did* passed in a long.

## To Reproduce

Steps to reproduce the behavior:

1. Execute the following script and it should produce the error message below.
[cod

[2021-11-15 19:58] #68034 closed

[2021-11-15 20:16] Medaminemairech commented on #48520
Hi, can you help me implement something similar for a more general Gaussian Mixture Distribution?

[2021-11-15 20:16] eellison commented on #68221
Hi @etern, a fix would be great thanks! haven't thought much if the right associative is the fix but that sounds right !

[2021-11-15 20:31] #31475 closed

[2021-11-15 20:53] ngimel commented on #68272
We will be happy to accept a PR implementing this. In showConfig currently cuda runtime version is queried via `cudaRuntimeGetVersion` API, which is different from "what CUDA version LibTorch has been compiled with", but depending on your goals, current runtime maybe more relevant than whatever libtorch was compiled with.

[2021-11-15 20:56] pritamdamania87 commented on #68256
@ParamsRaman Can you try with PyTorch 1.9? A bunch of logic for init_process_group was changed where we no longer use barrier as part of init_process_group.

[2021-11-15 20:58] ngimel commented on #68125
cc @eqy

[2021-11-15 21:03] janeyx99 opened #68379 "CI: Run tests in parallel on multi-gpu runner"
This is a followup task to https://github.com/pytorch/pytorch/issues/66511.

Once tests are running on one GPU, we can parallelize them to improve time to signal

cc @seemethere @malfet @pytorch/pytorch-dev-infra

[2021-11-15 21:37] SsnL opened #68383 "CUDA initialization makes DataLoader slower"
## 🐛 Bug

For some reason, DataLoader with forked workers becomes slower if CUDA is initialized before iteration.

Consider the following script.

[code]

On several environments (all Ubuntu), with `x = torch.randn(1).to(0)` commented out, the iteration speed significantly increases:
1. On PyTorch 1.8.1, CUDA 11, 2080 Ti, from 600 it/s to 100 it/s.
2. On PyTorch 1.10.0, CUDA 11.3, 2080 Ti, from 70

[2021-11-15 21:40] colesbury commented on #49370
https://bugs.python.org/issue42969 is the relevant bug in the Python issue tracker

[2021-11-15 21:51] josephrocca opened #68384 "RuntimeError: Exporting the operator lerp to ONNX opset version 12 is not supported."
## 🚀 Feature
Support for exporting the `lerp` operator to ONNX.

## Motivation
I'm trying to export the generator of StyleGAN to ONNX, and am getting this error (no matter the opset version):
[code]

Here's a Colab reproducing the error:
* https://colab.research.google.com/gist/josephrocca/b8fc780ac8e04408b69cce361a16a4f3/stylegan3-to-onnx-conversion.ipynb
* https://gist.github.com/josephrocca/b8f

[2021-11-15 22:00] AshvantSelvam commented on #14867
I am trying to infer the input shape from a traced model too. I still believe that the traced model contains this information based on the fact that the constant propagation pass successfully determines reshape parameters. I verified this by dumping the graph. But, I am unable to infer the input shapes. Am I misunderstanding something here?

[2021-11-15 22:04] mrshenli commented on #68384
cc @garymm

[2021-11-15 22:05] stanleyjs commented on #68291
I have been trying to figure out what is special about this tensor that is causing the algorithm to fail.

I note that `torch.linalg.svdvals` is successful.

[2021-11-15 22:12] AdirRahamim opened #68385 "ImportError: cannot import name 'ProcessGroup' from 'torch.distributed'"
## 🐛 Bug

When trying to import ProcessGroup from torch.distributed I get import error: 'ImportError: cannot import name 'ProcessGroup' from 'torch.distributed''. I guess it comes from the fact that I am using macOS with M1 chip and PyTorch does not provide torch.distributed with its pre-built package. Indeed, torch.distributed.is_available() is False.
## To Reproduce

Steps to reproduce the behav

[2021-11-15 22:12] mrshenli commented on #68322
Hey @Force1ess, could you please paste the error message in the issue body and also describe the platform, cuda version, etc. that are you using? Thanks!

[2021-11-15 22:14] mrshenli commented on #68321
Hey @beginner401, I believe this is intentional to prevent silent and unintentional type conversions. @albanD @gchanan, please correct me if I was wrong.

[2021-11-15 22:29] xta0 commented on #67956
Why was this marked as mobile?

[2021-11-15 22:37] #66511 closed

[2021-11-15 22:51] stanleyjs commented on #68291
Ok, I am now able to replicate this problem using just `torch.rand` and `torch.linalg.svd`.

The following fails:
[code]

[2021-11-15 23:05] CasellaJr commented on #67956
My mistake

[2021-11-15 23:05] #67956 closed

[2021-11-15 23:10] rohan-varma opened #68391 "DISABLED test_forward_overlap (__main__.TestForwardOverlapWorldSizeTwo)"
## 🐛 Bug

`test_forward_overlap (__main__.TestForwardOverlapWorldSizeTwo)` FSDP test is flaky, see:
https://github.com/pytorch/pytorch/runs/4217545932?check_suite_focus=true

Relevant snippet:

[code]

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @SciPioneer @H-Huang

[2021-11-15 23:17] garymm commented on #68384
@mrshenli please don't CC me on general ONNX issues. Adding the `module: onnx` label is sufficient. Someone from my team will look at it as long as it has that label.

[2021-11-15 23:25] jerryzh168 opened #68392 "[subgraph_rewriter] A small bug in subgraph_rewriter"
## 🐛 Bug
Looks like https://github.com/pytorch/pytorch/blob/master/torch/fx/subgraph_rewriter.py#L273 should be
[code]
instead of
[code]
Is that correct?

cc @ezyang @SherlockNoMad

[2021-11-15 23:28] cpuhrsch commented on #68323
I tried reproducing this, but didn't get an error.
[code]

I'm ran this on an A100. Could you collect more information by running https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py and posting the result?

[2021-11-16 00:00] jerryzh168 opened #68393 "[subgraph_rewriter] Support for non-Tensor replacement"
## 🐛 Bug

Currently the pattern subgraph-rewriter can only represent Node, not primitive numbers etc.

## To Reproduce

[code]

[code]

## Expected behavior
`+` should be `replaced` to `-`

[code]

[2021-11-16 00:04] heyitsguay opened #68394 "INTERNAL ASSERT FAILED at "../aten/src/ATen/MapAllocator.cpp":323, please report a bug to PyTorch. unable to mmap 68 bytes from file </torch_530808_7992>: Cannot allocate memory (12) ---------------------------------------------------------------------------"
## 🐛 Bug

Running into this issue when using PyTorch 1.10.0+cpu and multiprocessing. I can't share the source code, but it uses a multiprocessing pool to download ~60000 images from AWS and run some simple torch ops on them. The process reliably crashes at about 25% completion with this traceback:

[code]

In my last debug run, i used psutil to display RAM usage during the process to confirm that

[2021-11-16 00:22] #28418 closed

[2021-11-16 00:38] ngimel commented on #68394
see also #67844

[2021-11-16 01:27] Liyang90 commented on #59973
+1 for this feature. fairscale's OSS seems to accept param groups dictionary as `params` input, so it would be nice to have it in PyTorch as well.

[2021-11-16 01:51] eqy commented on #68125
Ah, looks like I neglected to add the switch here after #67946 .
Opened #68399

[2021-11-16 02:38] ai1361720220000 commented on #41791
hello did you solve the problem?

[2021-11-16 02:39] ai1361720220000 commented on #41791
hello, did you solve the problem?

[2021-11-16 02:53] awaelchli commented on #24422
Note, some labels don't have any subscribers. If a new issue opens with this label, chances are lower that someone will reply. An example is the label `oncall: jit`.

[2021-11-16 03:08] XiangL-Xr commented on #12449
Solution: export Torch_DIR as env variable before cmake,
if you don't install pytorch via pip or conda, please install first, then run:
$ mkdir build
$ cd build
$ cmake -DCMAKE_PREFIX_PATH=/home/anaconda3/envs/adop/lib/python3.8/site-packages/torch/share/cmake/Torch/ ..
$ make

[2021-11-16 03:27] huang229 opened #68405 "Windows multi machine multi card training, card initialization in GLOO communication."
[## 📚 Documentation
Thank you very much for your support for windows distributed training, which is a very friendly and excellent work. However, according to the documents in the following links, I have encountered some problems under Windows:
https://pytorch.org/docs/stable/distributed.html

The following problems occur when there are multiple machines and multiple cards:
It is stuck in GLOO comm

[2021-11-16 03:38] Force1ess commented on #68322
Errorinfo:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
RuntimeError: Setting strides is possible only on uniformly quantized tensor
cudavision: 10.2 and cpu
platform: windows and linux

[2021-11-16 03:55] david-waterworth opened #68406 "Previous Version out of date"
## 📚 Documentation

The `previous versions` doesn't seem to be getting updated anymore as new versions are released. The current release is 1.10 (https://pytorch.org/get-started/locally/) but the latest `previous version` is still 1.8.0 (https://pytorch.org/get-started/previous-versions/)

At one point this was being updated with minor updates (i.e. 1.7.1 appears on previous releases but 1.8.1 doe

[2021-11-16 04:01] heathersherry opened #68407 "[Runtime Error in ddp_pipeline.py] RuntimeError: unsupported operation: some elements of the input tensor and the written-to tensor refer to a single memory location. Please clone() the tensor before performing the operation."
## 🐛 Bug

When following the [PyTorch tutorial (Training Transformer models using Distributed Data Parallel and Pipeline Parallelism)](https://github.com/pytorch/tutorials/blob/master/advanced_source/ddp_pipeline.py), there is a Runtime Error.
[code]
The full error message is as follows.
[code]

## To Reproduce

Steps to reproduce the behavior:

1. Execute [ddp_pipeline.py](https://github.com/pyto

[2021-11-16 06:49] Lezcano commented on #68362
Which version of PyTorch are you using? This snippet works for me both en 1.10 and in master.

On the second point, that is indeed an errata. We would accept a PR fixing this one :)

[2021-11-16 06:50] Lezcano commented on #68362
On a side note, if you're interested in these things and you want to delve deeper, there's this post that explains how things are implemented in the C++ side that may or may not be useful: https://dev-discuss.pytorch.org/t/how-to-read-the-autograd-codebase/383

[2021-11-16 06:55] Lezcano commented on #68331
This seems like a bug in the implementation of the derivative of `to(dtype)`. That warning should not be happening there. cc @anjali411

As a side note, remember that you can simply call `.cfloat()` in your case, that has the same semantics as `.to(torch.complex64)` but it's shorter :)

[2021-11-16 06:57] Lezcano commented on #68291
Thank you for the tiny repro! I can reproduce in master. cc @IvanYashchuk

[2021-11-16 07:08] andjelatodorovich commented on #57289
I have the same problem when using Wav2Vec2 from HuggingFace. How to avoid it?

[2021-11-16 07:30] henbucuoshanghai opened #68414 "I used libtorch train a model,how to convert it to onnx?"
libtorch trained a model

[2021-11-16 08:26] IvanYashchuk commented on #68291
The problem is related to https://github.com/pytorch/pytorch/issues/51720.

The optimal workspace size for the input of this size is `2.70021e+09` which doesn't fit into `int` type. In PyTorch, we use a 32-bit interface to backend linear algebra libraries.
We can "fix" the internal assert with this patch
[code]
The issue is likely there for other functions as well and we could include checks of th

[2021-11-16 09:09] etern commented on #68221
The fix is one line of code, I've tested myself, it works as expected.

Should I add a test case for it, in file `test/cpp/api/jit.cpp` ?

[2021-11-16 09:28] purplesword opened #68418 "Why do I get "CUDA error: illegal memory access" instead of "Cuda error: out of memory"? (at maxpool2d step)"
## Problem:

I have a task whose input tensor size varies. At extreme case I got batches like [200, 1, 64, 3000] (N, C, H, W). When I put it through a simple feature extraction net (see below) the memory usage is undoubtedly high.

So it is fully understandable I got "Cuda error: out of memory" from a bunch of machines like RTX 5000.

The odd thing is, when I tried it on a RTX 8000, it became "CUD

[2021-11-16 09:32] Misterion777 commented on #47702
Can't wait!

[2021-11-16 09:42] SefaZeng commented on #68330
Anything new?

[2021-11-16 10:21] NicolasHug commented on #68320
Can you describe in which setting you needed to call this with multiple workers, as well as the race condition that you got?

I would assume that in the worst case, multiple downloads get triggered, but the end result should hopefully be the same, without errors.

As usual @vadimkantorov , we greatly appreciate any PR that improves the docs.

[2021-11-16 11:45] nikitaved opened #68420 "`nn.functional.max_unpool(2|3)d`: failing shape check for correct inputs with specified `output_size`"
## 🐛 Bug

When `max_unpool` receives an input produced with `max_pool` with a NON-isotropic `dilation`, an error is risen when `output_size` is set to the size of the input of `max_pool`.

## To Reproduce

Below is an example for the 2d case, but it could be extended to 3d with the same outcome.

[code]

## Additional context

It is true that `max_unpool` operation does not need the `dilation` par

[2021-11-16 12:04] nikitaved commented on #68420
On a more fundamental note, I believe `dilation` has to become a parameter to `max_unpool` because, otherwise, `max_pool` is not invertible for kernels with `dilation > 1`. The introduction of this additional parameter will not require writing any kernels, it will only affect the shape check and default output shape.

[2021-11-16 12:05] saluto commented on #68323
[`collect_env.py`](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py) output on problematic machine:

[code]
The script uses `ldconfig -p | grep libcudnn | rev | cut -d" " -f1 | rev` to get the CuDNN versions, but this does not find any CuDNN libraries in our setup. So instead I run `ldconfig -N -v $(sed 's/:/ /' <<< $LD_LIBRARY_PATH) | grep libcudnn | rev | cut -

[2021-11-16 12:26] nailimixaM commented on #48520
Hi @Medaminemairech, if you are looking to calculate the negative log likelihood of a pdf which can be described as a sum of K Gaussians with prior weights `phi = [phi_0, phi_1 ... phi_K-1]`  and where you are trying to learn the means and variances of each Gaussian, then you could try something similar to below, which is for 2 Gaussians in 3D:

[code]

Let me know if that helps!

[2021-11-16 12:46] GloryyrolG opened #68421 "Removal Note in `parametrizations.spectral_norm`"
## 📚 Documentation

In https://pytorch.org/docs/stable/generated/torch.nn.utils.parametrizations.spectral_norm.html, there is a note saying

However, I think, [`_SpectralNorm`](https://pytorch.org/docs/1.10.0/_modules/torch/nn/utils/parametrizations.html#_SpectralNorm) does not deal with `remove` with a more forward as [`SpectralNorm`](https://pytorch.org/docs/1.10.0/_modules/torch/nn/utils/spectr

[2021-11-16 12:59] YqunYang opened #68422 "There is a problem with GPU memory reclamation"
## 🐛 Bug

## To Reproduce

The following code causes the GPU memory to overflow (GPU Memory Usage: 12959MB):
[code]

However, if we compute the 'distances'in the CPU first, then move the 'distances'tensor to the GPU, the GPU memory would not overflow (GPU Memory Usage: 2659MB). The reproduced code is as follows,

[code]

It means that the 'distances' from different computing devices would utilize

[2021-11-16 13:18] stanleyjs commented on #68291
@IvanYashchuk will there be any way around this in the future for large SVDs? Or is there an upper size limit due to the 32bit interface?

[2021-11-16 13:21] kuynzereb opened #68423 "`torch.utils.checkpoint.checkpoint_sequential` is not optimal"
## 🐛 Bug

It is not exactly a bug, but some inefficiency of the implementation which is easy to fix. `torch.utils.checkpoint.checkpoint_sequential` splits given sequential model into `segments` approximately equal pieces. The problem is that now last piece may be significantly larger than the other pieces which leads to some ineffeciency of the memory footprint (assuming that all submodules of seq

[2021-11-16 13:35] IvanYashchuk commented on #68291
Unfortunately, there is no workaround available.
From the MKL documentation the workspace size (`lwork`) can be computed using these guidelines:
[code]
`lwork` must be smaller than `2147483647` (maximum `int`) in order to not hit the limitation of the 32-bit interface.

[2021-11-16 13:55] steczol commented on #47351
Hi, @ejguan  I just encountered the same problem as @juWuBabaaaa
I wouldn't  say it's a bug, but you have definitely an error in the tutorial [https://pytorch.org/tutorials/advanced/cpp_frontend.html](https://pytorch.org/tutorials/advanced/cpp_frontend.html).

In C++-API the class `torch::optim::AdamOptions` does not have function named `beta1(double)`.
It has a function `betas(std::tuple<double,

[2021-11-16 14:15] mszhanyi commented on #67844
The root cause is the producer process might exit earlier than the consumer process to open the event.
One way to verify it is to add time.sleep(3) in producer function, thus the script won't throw exception.
[code]
So, I think the sync logic should be improved.

The below script could reproduce the error more easily.
We only add time.sleep(5) before reading the queue.
[code]

[2021-11-16 14:19] FirefoxMetzger commented on #19143
Anything wrong with `memoryview(tensor.numpy())` or `tensor.numpy().data`? According to [the docs](https://pytorch.org/docs/stable/generated/torch.Tensor.numpy.html) a torch tensor and its numpy array share the data buffer. (I guess exceptions apply if the tensor lives on the GPU?) Since `ndarray.data` or `memoryview(ndarray)` return a `memoryview` into the array's underlying buffer, this will be

[2021-11-16 14:37] ejguan commented on #47351
Re-open the issue and triage.

[2021-11-16 14:46] bauermeisterh opened #68425 "`torch.where` produces nan in backward pass for differentiable forward pass"
## To Reproduce

In the example below, `torch.where` properly executes a differentiable forward pass but fails for calculating the correct gradient value:
[code]
outputs
[code]

## Expected behavior

The expected gradient in the example above is `1.` for `a.grad`.

## Environment

PyTorch version: 1.9.1
Is debug build: False
CUDA used to build PyTorch: 11.1
ROCM used to build PyTorch: N/A

OS: Ubu

[2021-11-16 15:23] peterbell10 opened #68429 "istft gradcheck fails on ROCm"
## 🐛 Bug

The `OpInfo`gradcheck test being added in #68198 fails on ROCm.

## To Reproduce

Remove the test skip from `istft`'s `OpInfo`:
https://github.com/pytorch/pytorch/blob/81ab5d165f786bb64d844d89b3f596e65f5f53cb/torch/testing/_internal/common_methods_invocations.py#L8592-L8593

[2021-11-16 15:27] vfdev-5 opened #68430 "Strides issue on unsqueezed channels last tensor"
## 🐛 Bug

## To Reproduce

[code]
I'd expect stride[0] to be 3072.

On C++ side, I have an impression that due to that we can observe an incoherence with memory format:
[code]
I'd expect `t1.suggest_memory_format()` to give `ChannelsLast`

## Environment

PyTorch
[code]

[2021-11-16 15:34] Lezcano commented on #68331
I don't think we should, as they may be meaningful. In this case, we should see how to deactivate this one in particular.

[2021-11-16 15:36] Medaminemairech commented on #48520
HI @nailimixaM, yep the weighted sum should do the job. Thanks a lot! 😄

[2021-11-16 15:41] anjali411 commented on #68331
Mm. can you give an example? I could imagine this being useful for a custom Function, but not otherwise.

[2021-11-16 15:44] Lezcano commented on #68331
Using a deprecated function in the backwards of a function.

There are not many other examples, as there aren't that many warnings in PyTorch really. In any case, to suppress all the warnings in the backwards we do not need to show that some of them may not be useful, but that all of them are not useful. As such, I would err on the side of precaution and not suppress them.

[2021-11-16 15:54] mruberry commented on #67646
Another test_jit_fuser_te SIGIOT failure: https://github.com/pytorch/pytorch/runs/4221045417?check_suite_focus=true

[2021-11-16 15:58] mruberry commented on #67450
Another instance: https://github.com/pytorch/pytorch/runs/4218623413?check_suite_focus=true

[2021-11-16 16:03] albanD commented on #47351
We should update the tutorial to use the right API.

[2021-11-16 16:07] mruberry opened #68433 "DISABLED test_bottleneck_cpu_only (__main__.TestBottleneck)"
See https://github.com/pytorch/pytorch/runs/4221582535?check_suite_focus=true. Relevant snippet:

[code]

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @VitalyFedyunin @ngimel

[2021-11-16 16:09] Toukenize commented on #67426
Hi @albanD you are right, with `get_last_lr()` everything is working as expected.

Closing issue.

[2021-11-16 16:09] #67426 closed

[2021-11-16 16:33] mruberry commented on #68433
@mrshenli do you know the appropriate labels/owners for this test?

[2021-11-16 16:35] mrshenli commented on #68433
Maybe "module: cpu" and "module: performance"?

[2021-11-16 16:38] lucgiffon commented on #68331
@anjali411 If I am applying the fix you just suggested, wouldn't I risk to end up with an imaginary part different than zero?  In my specific example, it doesn't move from zero but can I be sure it won't ever be the case? The gradient of the imaginary part will always be zero if it is initialized at zero?

[2021-11-16 16:46] YqunYang commented on #68422
I found we can solve this problem by this trick:

`distance = torch.square(distance.cpu()).cuda() `

or

`distance = torch.abs(distance.cpu()).cuda()`

It means that we can conduct the `torch.square` and `torch.abs` operations in the CPU rather than in the GPU.
This is really confusing...

However, this will cause the very poor efficiency.

[2021-11-16 16:55] Lezcano commented on #68331
You will discard the imaginary part of the derivative, but that's the derivative of the operation you wrote.
In a similar fashion, if you have a vector `x` of length 1 and you write `y = torch.cat(`x`, torch.zeros(1), dim=0)`, the gradient wrt. `y` is of length 2, but then the gradient wrt to `x` is the first component of the gradient wrt `y`. The same thing is happening here, only that `x` is a r

[2021-11-16 16:56] stanleyjs commented on #68291
@IvanYashchuk Any clue as to why `svdvals` and `eigvalsh` work?

[2021-11-16 17:06] frgfm commented on #52271
Hey there :wave:
I have an ongoing PR that will most likely need this issue to be addressed, any update @gmagogsfm ? :)

[2021-11-16 17:42] #65906 closed

[2021-11-16 18:42] mruberry commented on #68049
Hi @LetsGit-it, thanks for filing this issue!

Yes, we generally accept bug fixes to our tutorials. I'm not familiar with this tutorial, unfortunately. @suo do you someone who is?

[2021-11-16 18:57] gchanan commented on #68425
@albanD this comes up quite a bit -- do we have documentation / a note we can point to for when people file these issues?

[2021-11-16 19:06] suo commented on #68049
Hey! We'd love to review a pull request to the tutorials containing your change; if you could make a PR to https://github.com/pytorch/tutorials and CC me or @gmagogsfm we can discuss there :)

[2021-11-16 19:07] malfet opened #68459 "Soft mandatory labeling for release notes"
Composing release notes has historically been a very time consuming process. Until now, we would have one dedicated engineer from the PyTorch Core team manually categorize all the commits (usually about 3-3.5k commits)  every release, which is usually about a week's worth of full-time work.

In PyTorch 1.10, we made a significant improvement, by auto-categorizing about 30% (1k) of the 3.5k commits

[2021-11-16 19:08] malfet commented on #68459
@anjali411 please feel free to edit the issue and add short description to every topic and category

[2021-11-16 19:14] anjali411 commented on #68459
We should also add a check that each PR is assigned with a **unique** category and topic label. This is important, because each PR will ultimately go under the assigned category/topic in the release notes, and we should do this work upfront because the commits will be distributed to the PoCs based on the category label.

[2021-11-16 19:27] eqy commented on #68248
This is a bit difficult for me to reproduce with a few sample large inputs, so a repro snippet/shape would be great.

[2021-11-16 20:18] pearu opened #68464 "Changing the type of dtype argument in softmax, log_softmax, and softmin is possibly BC-breaking."
## Issue description

https://github.com/pytorch/pytorch/pull/68336 changes the type of `dtype` argument of `softmax`, `log_softmax`, and `softmin` from `Optional[int]` to `Optional[DType]` where `DType = torch.types._dtype if typing.TYPE_CHECKING else int` to support MyPy and TorchScript.

This change may be BC-breaking but no evidence so far.

[2021-11-16 21:01] quickwritereader commented on #66406
`USE_KINETO=OFF`

[2021-11-16 21:06] quickwritereader commented on #66406
team @ezyang
So far, a lot of work has been done to improve and support the Z arch (z14, z15, Telum AI) and Power (power9, power10) arch.
I believe that supporting these architectures makes Pytorch widely used.
I hope you incorporate my recent changes related to z15.
thanks

[2021-11-16 21:47] #17577 closed

[2021-11-16 21:50] alanwaketan opened #68474 "[LTC][BE] Fix all compile warnings"
Currently there are a lot of warning in the staging branch. We should probably revisit and fix all compile warnings once things get merged.

[2021-11-16 21:50] alanwaketan opened #68475 "[LTC][BE] Make the compile flags more strict"
1. The staging branch flags are very loose, for example, it bypasses warnings for missing return statements. Need to investigate if the master flags are the same.
2. Consider treating warnings as error.

[2021-11-16 21:53] thomasahle opened #68476 "ParameterDict should implement `.get` and `.setdefault`"
## 🚀 Feature

`ParameterDict` implements most, but not all methods from `dict`. In particular it doesn't have:

    {'__class_getitem__',
     '__ior__',
     '__or__',
     '__reversed__',
     '__ror__',
     'copy',
     'fromkeys',
     'get',
     'popitem',
     'setdefault'}

Arguably `copy`, `fromkeys` and `popitem` are not particularly useful, as well as the various `or` methods.

However

[2021-11-16 22:07] wanchaol opened #68478 "[c10d] ProcessGroupNCCL work inconsistent with ProcessGroupGloo"
The `work.result()` of ProcessGroupNCCL and ProcessGroupGloo are inconsistent, for example, `all_gather(..).wait()` will return different values for these two process group, this is because in ProcessGroupNCCL, we flatten the output first, then result assigned based on the flattened output, instead of the original output. See https://github.com/pytorch/pytorch/blob/515d9fb2a99586e62cfb941cfc51e86e

[2021-11-16 22:35] BowenBao opened #68480 "CI test clang-format failed to run, but shown as success"
## 🐛 Bug

Link to example CI job https://github.com/pytorch/pytorch/runs/4230547278?check_suite_focus=true

Log of clang-format:

[code]

## Expected behavior

* clang-format hash to be updated.
* CI to catch this error instead of showing success.

cc @seemethere @malfet @pytorch/pytorch-dev-infra

[2021-11-16 22:39] thomasahle opened #68482 "Documentation for AdamW is wrong"
## 🐛 Bug

The second line of the formula for `AdamW` here: https://pytorch.org/docs/stable/generated/torch.optim.AdamW.html is wrong

## To Reproduce

Read the line `theta_t = theta_t  - gamma lambda theta_{t-1}`.

## Expected behavior

This should say `g_t = g_t - lambda theta_{t-1}`

It is clear that updating `theta_t` at this step doesn't make sense, since it isn't read again in the code.

Chan

[2021-11-16 23:27] garymm commented on #43237
Not sure what is meant by "specialization".
I believe the ONNX exporter makes use of the shape info in the traced graph, so it may not be OK to remove that info.
ONNX doesn't care about devices, so that's probably OK to remove.

[2021-11-16 23:46] garymm commented on #8054
@qigtang is this still an issue with the latest PyTorch nightly?
`torch.onnx.export` has a `do_constant_folding` arg which is True by default.

[2021-11-16 23:57] VitalyFedyunin commented on #68422
Can you please try adding `torch.cuda.empty_cache()`

[2021-11-16 23:58] garymm commented on #10942
@pumpkin007 or others, is this still an issue with the latest nightly PyTorch?
I tried @stephldp's example and it seems to work now.

[2021-11-17 00:02] eqy commented on #62926
Just a quick update: this should be fixed and land in some variant of cuDNN 8.3 soon.

[2021-11-17 00:03] VitalyFedyunin commented on #68414
Hello!

It is better to ask such kinds of questions at https://discuss.pytorch.org/
I am going to close this issue. Feel free to reopen it, if you think that you need to report a bug or make a feature proposal.

Thanks.

[2021-11-17 00:03] #68414 closed

[2021-11-17 00:06] ngimel commented on #68418
Probably some bug. Can you provide a script that would reproduce the error?

[2021-11-17 00:07] garymm commented on #11296
@thlinh or others is this still an issue with latest PyTorch nightly?

[2021-11-17 00:08] garymm commented on #10942
If this is still an issue, please provide full repro code.

[2021-11-17 00:08] VitalyFedyunin commented on #68430
Historically some of pytorch operations do not guarantee 'correctness' of the strides in 0,1 sized dimensions (as this excess  information).

As for second example, we not yet support CHW channels last format, so converting to 3d tensor and back to 4d is likely to loose 'channels_lastiness'. I would advice to preserve `suggest_memory_format()` info before sqeeze.

[2021-11-17 00:22] mruberry commented on #68125
Should be fixed by #68399

[2021-11-17 00:22] #68125 closed

[2021-11-17 00:38] garymm commented on #54203
Duplicate of #47887

[2021-11-17 00:38] #54203 closed

[2021-11-17 00:59] mruberry opened #68498 "Review disabling tests workflow"
Today in PyTorch tests can be disabled using issues, which is super quick and convenient.

However, this means that to understand which tests are run developers must check the test itself and see if there's an issue disabling it. It's also a little confusing what the development workflow is for resolving these skips (although we could probably educate developers about how to enable the test on the

[2021-11-17 01:01] ppwwyyxx commented on #47887
Changing this line:
https://github.com/pytorch/pytorch/blob/515d9fb2a99586e62cfb941cfc51e86e7d58c1f4/torch/csrc/jit/python/pybind_utils.h#L973
to `if (true)` should make the code trace correctly.

However that's obviously not a correct fix.
One potential solution is to add a new flag/option/tracing mode in pytorch, that would trace scripted module by executing them, instead of just including their

[2021-11-17 01:04] YqunYang commented on #68422
I tried that, but the memory still cannot be reduced.

If I do this
[code]
the memory can be reduced

In GPU: from 12959MB to about 2000MB.
In CPU: from 2659MB to about 2000MB.

It proves that distances from different devices has different memory.

This bug can be reproduced simply.

[2021-11-17 01:23] henbucuoshanghai commented on #17869
how to solve it?

[2021-11-17 01:23] ngimel commented on #68498
I agree, OnCall should be responsible for properly skipping tests. We currently have 58 open DISABLED issues, some of them dating back to beginning of 2020, so it's not a big load.

[2021-11-17 01:36] HDCharles commented on #68322
[code]

Its not intended that you can assign to the int_repr()

not sure about the stride error, will take a closer look

[2021-11-17 01:37] adamjstewart commented on #68002
@H-Huang I used your patch and PyTorch with `USE_DISTRIBUTED=ON` builds successfully, but when I try to build torchvision it crashes with:
[code]
Here are the relevant logs:

* [build log](https://github.com/pytorch/pytorch/files/7551020/spack-build-out.txt)
* [build env](https://github.com/pytorch/pytorch/files/7551021/spack-build-env-mods.txt)

Any idea what could be causing this? Does `USE_DIST

[2021-11-17 02:05] ngimel commented on #68172
Tolerance issue, should be reenabled with higher tolerance

[2021-11-17 02:06] ngimel commented on #68433
"-9" exit code is oom

[2021-11-17 02:06] ngimel commented on #68171
Tolerance issue

[2021-11-17 02:24] catqaq opened #68501 "RuntimeError: falseINTERNAL ASSERT FAILED at "../aten/src/ATen/MapAllocator.cpp":300, please report a bug to PyTorch. unable to write to file </torch_85217_8371>"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

run a bert model based simcse traing.

67%|███████████████████████▍           | 11156/16617 [1:04:38<31:12,  2.92it/s]Traceback (most recent call last):
  File "/root/miniconda3/envs/se/lib/python3.6/multiprocessing/queues.py", line 234, in _feed
    obj = _ForkingPickler.dumps(obj)
  File "/root/miniconda3/envs/se/lib/python3.6/multipro

[2021-11-17 02:53] rohan-varma commented on #68256
I see `set_start_method(spawn)` is commented out, does it work if we ensure we are spawning (instead of fork) all subprocs? CUDA has a bunch of issues with forking multiprocessing

[2021-11-17 03:00] rohan-varma commented on #68385
I tried reproducing this but couldn't, with the following steps:

In a brand new conda env, as per https://pytorch.org/get-started/locally/:
`
conda install pytorch torchvision torchaudio -c pytorch
`

then:

[code]
Do you mind sharing the specific installation command you use?

[2021-11-17 03:26] gdankel commented on #67349
Thanks Bo. Json contains a ton of GPU events. Next step: figure out why they don't appear.

[2021-11-17 03:38] jerryzh168 opened #68502 "[subgraph_rewriter] Subgraph rewriter removes unused argument from graph"
## 🐛 Bug

att

## To Reproduce

Unused argument `z` is removed after we successfully replaced a pattern

[code]

Output:
[code]

## Expected behavior

`z` should be preserved

## Environment

PyTorch master

## Problem

I think it's probably because of the `len(node.users) == 0` check here: https://github.com/pytorch/pytorch/blob/master/torch/fx/subgraph_rewriter.py#L416, just need to add another

[2021-11-17 04:08] cpuhrsch opened #68506 "cudnn_convolution_relu is 17x slower for 7x7 convolutions and channels last"
## 🐛 Bug

cudnn_convolution_relu fuses conv2d and relu, but appears much slower under certain conditions. This requires manual workarounds. Some options include landing the workaround in PyTorch or improving the performance of these cuDNN kernels.

## To Reproduce

[code]

The output is

[code]

## Expected behavior

This shouldn't be 17x slower. Ideally it'd be faster, but at least it should matc

[2021-11-17 04:11] xuzhao9 commented on #68086
I am able to reproduce the test_eval[mnasnet1_0-cuda-jit] result on the CI machine. Here are the profiling results:
When fusion is enabled (slower):
![image](https://user-images.githubusercontent.com/502017/142132790-56422d9e-37b5-4ca3-9f60-360835a349ec.png)

When fusion is disabled (faster):
![image](https://user-images.githubusercontent.com/502017/142132850-4bf87c03-deab-44b2-b428-7367efdaa345.p

[2021-11-17 04:32] xuzhao9 commented on #68086
I took a deeper look into this. First, I rule out the factor of torchvision (because both are torchvision models).
Second, I run profile on mnasnet1_0:

When disable fusion (faster, ~4ms):
![image](https://user-images.githubusercontent.com/502017/142134958-ef93780c-3fb2-4549-bea4-1fb6b1051e5b.png)

When enable fusion (slower, ~100ms):
![image](https://user-images.githubusercontent.com/502017/14213

[2021-11-17 04:37] CollinsPeriodLee commented on #65711
Hi, Could anyone tell me which optimizers work for the complex-parameter network now? I tried to find an optimizer to train a neural network with complex parameters, there is always a warning occurred, notifying me that the backward() operation will cast complex values to real and it will discard the imaginary part. The optimizers I tried include Adam, Adagrad, and the warnings will pop up for bot

[2021-11-17 05:26] Jdogzz opened #68507 "Multiprocessing hang and queue short circuiting"
## 🐛 Bug

Here is a short script which produces the behavior, launching two synchronized processes feeding a common queue which are then to consume the items on the queue before ending. First, it seems to result in hanging, which I believe is related to the previously reported bug #50669. Second, both processes seem to short circuit the queue in varying amounts, one typically immediately exiting u

[2021-11-17 06:27] HDCharles commented on #67967
looks like this is due to the weights of quantized ops not being set as parameters, not sure if this is a bug because a parameter is supposed to be a tensor and we don't actually store the tensors, we pack in a packedparams object so that they can be used quickly by the quantized op. Unsure if there's a way to remedy this.

[2021-11-17 07:07] JGameCreation commented on #67971
Is there any way to get around this? My laptop GPU only has 2GB VRAM so not being able to use the last GB is quite critical. I think this didn't happen on earlier versions of PyTorch?

[2021-11-17 07:17] mszhanyi commented on #68394
@heyitsguay
Since you couldn't share your code, could you try adding time.sleep() at the end of your downloading process?
Let's see the result if your downloading process exit after the consumer process.

[2021-11-17 07:38] helion-du-mas-des-bourboux-thales opened #68512 "'replicate' padding in convolution is 77 times slower on cpu than 'zeros'"
## 🐛 Bug

When using a 2D convolution, 'replicate' padding is 77 times slower than 'zeros' padding on cpu.
I observe only a 30% difference on gpu. I would not have expected a so big difference on cpu.

[code]

result:
[code]

[2021-11-17 07:44] #66882 closed

[2021-11-17 08:14] vfdev-5 commented on #68430
@VitalyFedyunin the context of my issue is related to torchvision (https://github.com/pytorch/vision/issues/4880#issuecomment-969068334) and leads to a performance drawback on interpolate op:
1) 3D image coming from read_image in "channels last"-like memory format
2) torchvision resize does `unsqueeze(0)` to make it 4D
3) in pytorch [output is created as channels first contiguous](https://github.c

[2021-11-17 08:15] shengchunnan opened #68513 "torch.fx cannot trace torch.Size() properly"
## 🐛 Bug

**`torch.fx`** traces **`Tensor.size()`** as a strange proxy type that cannot be handled by `torch.zeros` and many other torch functions which use dimension sizes as arguments.

## To Reproduce

Steps to reproduce the behavior:

You can run the following python script to reproduce this error easily.

[code]
And the output is:
[code]

## Expected behavior

This piece of code should work w

[2021-11-17 08:39] leofang commented on #9624
I bet most workloads can be quickly converted using CuPy's functionalities, so I would not stick to PyCUDA if interoperating with other libraries is needed.

[2021-11-17 08:40] Lezcano commented on #65711
@albanD is currently on PTO, and he's the one shepherding this issue.
In the meantime, you can use the trick mentioned in https://github.com/pytorch/pytorch/issues/59998#issuecomment-896968598 as a workaround, that is, setting `complex_tensor = torch.complex(real_part, imaginary_part)` and optimise the real and imaginary parameters. This will be Forward Compatible with the changes that we'll be ma

[2021-11-17 08:50] HELLORPG commented on #47702
Well, that's a GREAT news!
Can't wait!

[2021-11-17 09:03] ParthaEth commented on #67972
It is like this in my real code as well. It hangs after a few `set()` and `get` calls in the `get()` call. Is it possible that after one get the object in the given key is set for garbage collection and then if there is a get during this process, there is a conflict or something like that? Seems like there is a race condition somewhere and mutual exclusive access is not ensured. If I `set()` once

[2021-11-17 09:17] veritas9872 opened #68514 "Add common regularizations to PyTorch."
## 🚀 Feature
I propose including L1/L2 regularization and perhaps stochastic depth to the PyTorch library.

## Motivation

PyTorch does not currently support L1 regularization natively despite its once being a very popular method.
Indeed, the decline of L1 may in part be due to the lack of a native PyTorch implementation.
Also, the L2 regularization offered by PyTorch is specified in the optimizer

[2021-11-17 09:54] CF-chen-feng-CF opened #68515 "Dependent dll library"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

Libtorch is used for inference under C++, and both Release and Debug must be support

[2021-11-17 10:33] mszhanyi commented on #67844
@soulitzer @albanD @malfet
Could we ask users to exit producer process while the queue is empty  for safety?
[code]

[2021-11-17 11:13] YqunYang commented on #68422
This problem needs to be escalated.

[code]
The same logic yields the same result E1 and E2, but is judged to be unequal.

In this problem, the computing type of E1 would not cause the memory to overflow.
However, the computing type of E2 causes the memory to overflow.

@VitalyFedyunin

[2021-11-17 11:16] vadimkantorov opened #68516 "[ux] [feature request] Arguments to modules(), named_modules(), children(), named_children() to filter modules of specific types"
This is a very frequent pattern, so being able to specify parent module type or parent module types would make the code more concise and have less boiler plate. These methods already accept some filtering options, so adding type-based ones should be okay

[2021-11-17 11:21] YqunYang commented on #68422
Result:

[code]

[2021-11-17 11:37] YqunYang opened #68517 "Torch.square(a-b) != a^2 -2ab + b^2"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

`> tensor([True])`

## Actual behavior

Big probability is
`> tensor([False])`

Small probability is
`> tensor([True])`

## Environment

This bug is reproduced in three pytorch versions, including 1.7, 1.8, and 1.10.
Other than these three version, I haven't tried the other version.

OS (e.g., Linux): Ubuntu

[2021-11-17 12:16] tchaton commented on #66444
Hey @zou3519 @cbalioglu,

It seems TorchMetrics used within the context `init_meta_context` and `init_meta` recently merged with PyTorch Lightning fails due to a deepcopy happening on raw tensors within the `__init__` method of the Metric.

Here is a reproducible script built on top of https://github.com/pytorch/pytorch/pull/66317.

[code]

We are totally aware this feature is highly experimental

[2021-11-17 13:04] ReySadeghi commented on #45418
Hi,
I have this problem too. could you find any way to handle it?
please share with me.
thanks.

[2021-11-17 13:55] AdirRahamim commented on #68385
Have you tried on Mac with M1 chip? I suspect that this problem is specific to this machine.
I installed using the same  Conda installation line.
Thank you for your help.

[2021-11-17 14:06] CollinsPeriodLee commented on #65711
Hi, @Lezcano, thanks for your comments, I noticed that https://github.com/pytorch/pytorch/blob/0dc3f829d9d11ca7e972cb5fcc95059742fa71ea/torch/optim/_functional.py#L49

Does this mean Adagrad works for the network with complex parameters?

[2021-11-17 14:07] TheodoreSKong opened #68519 "dataloader will miss batch data when num worker>0"
## 🐛 Bug
I implement a iterable dataset and use dataloader to generate batch data,
when num worker set above 0, I find after epoch 0 (epoch 1,2,3...) will miss data.

`class pandasDataset(IterableDataset):
    def __init__(self, filelist, D, d):
        self.filelist = filelist
        self.iterlist = []
        self.D = D
        self.d = d
        for filepath in self.filelist:
            data_

[2021-11-17 14:10] Revist commented on #36650
What is the status of this issue? @VitalyFedyunin

[2021-11-17 14:13] TheodoreSKong commented on #68519
it seems when i put the following
[code]
at the begining of each epoch, the data can be generated correctly by dataloader?

is there any thing wrong with my `__iter__( )` function? have no idea..

[2021-11-17 14:15] Lezcano commented on #65711
I believe so, yes.

[2021-11-17 14:21] purplesword commented on #68418
Hi, thank you for replying. Here is a small script I can stably reproduce the "illegal memory access" on my said machine with above env.

[code]
Traceback:
[code]

[2021-11-17 14:29] zou3519 commented on #66444
Thanks for the bug report, @tchaton. If you see more please feel free to continue to surface them

[2021-11-17 14:35] CollinsPeriodLee commented on #65711
OK, thanks! You are so kind! I tried to use the Adagrad optimizer copied from
https://github.com/pytorch/pytorch/blob/0dc3f829d9d11ca7e972cb5fcc95059742fa71ea/torch/optim/_functional.py#L16
but the warning still occurs, do I need to report it as a bug?

[2021-11-17 14:38] Lezcano commented on #65711
That smells like a bug, certainly. Please fill an issue and link this conversation in it please.
cc @choward232 @albanD

[2021-11-17 14:56] malfet commented on #68394
This one is slightly different, here file was successfully opened, but its content could not be mapped, which suggests the same theme: resource leak. Here is the relevant piece of code:
https://github.com/pytorch/pytorch/blob/3e3bf40b0a5acc68db40d0c2570207f2f35ae557/aten/src/ATen/MapAllocator.cpp#L315-L325

[2021-11-17 14:59] malfet commented on #68394
@heyitsguay could you please modify the code to add following snippet to the exception handler:
`print(open("/proc/self/maps").read())`
Also, just to confirm, if you run the same pipeline using PyTorch-1.9, it will work fine?

[2021-11-17 15:00] malfet commented on #67844
@mszhanyi can you please share what exception are you seeing? Because indeed I can trigger the exception by running the code, but its not in MapAllocator, but in the multiprocessing code.

[2021-11-17 15:04] CollinsPeriodLee commented on #65711
Yeah, sure. Thank you!

[2021-11-17 15:34] maisonhai3 commented on #42653
I got the same Runtime error.
My model uses Adaptive Average Pooling, then ONNX raises that error.

Please support this operator.

[2021-11-17 15:41] malfet commented on #67992
@rasemailcz can you please share the full command you've used to reproduce the failure? I assume you are using https://github.com/KevinMusgrave/pytorch-metric-learning ?

[2021-11-17 15:49] malfet commented on #68501
@catqaq can you please confirm that you are using https://github.com/princeton-nlp/SimCSE to train?
Seems to be related to https://github.com/pytorch/pytorch/issues/67864

[2021-11-17 16:06] NicolasHug commented on #68459
Courtesy of @pmeier  we have a bot in torchvision that pings the merger of a PR if they forgot to add an appropriate label: https://github.com/pytorch/vision/blob/main/.github/workflows/pr-labels.yml and https://github.com/pytorch/vision/blob/main/.github/process_commit.py

It might need to be adapted for pytorch core because of the different merging process (at least until core switches to github

[2021-11-17 16:09] CollinsPeriodLee opened #68524 "UserWarning: Casting complex values to real discards the imaginary part"
## ❓ Questions and Help

This is a note comes from the discussion https://github.com/pytorch/pytorch/issues/65711#issuecomment-971174769.
The minimal code to reproduce the warning lists below
[code]
The output of the above code is
[code]

At very beginning, I thought it was a bug of optimizer. After digging deeper I noticed the warning comes from the custom activation function `.type()`. A way to

[2021-11-17 16:10] CollinsPeriodLee commented on #68524
This is just a note, in case others have similar warnings.

[2021-11-17 16:10] #68524 closed

[2021-11-17 16:13] CollinsPeriodLee commented on #65711
Hi, I just noticed it is not the warning from the optimizer, but from my custom activation function, and I created a closed issue in https://github.com/pytorch/pytorch/issues/68524#issue-1056309717 to help those who meet such warning in future. Thank you very much!

[2021-11-17 16:13] dbalchev opened #68525 "Deterministic integer indexing operation fails in indices size check / missing broadcast"
## 🐛 Bug

When I run advanced integer indexing on cuda with deterministic algorithms I get

[code]

This bug is similar to https://github.com/pytorch/pytorch/issues/61032, but it affects integer indexing instead of boolean indexing.

## To Reproduce

Steps to reproduce the behavior:

1. Run the following script
[code]
1. Get the error
[code]

## Expected behavior
Not getting a runtime error

## En

[2021-11-17 16:25] Lezcano commented on #68517
This happens because of rounding errors due to finite precision. What it is true is that:
[code]

Closing.

[2021-11-17 16:25] #68517 closed

[2021-11-17 16:45] CollinsPeriodLee commented on #65711
A further comment here. I followed the test procedure in testing folder https://github.com/pytorch/pytorch/blob/143491e0ad44929f4df6545314c9383ee90d4c98/test/test_optim.py#L273
with a few modifications
[code]
and did several naive tests,
[code]
`Adadelta, Adagrad, Adam, AdamW, ASGD,  RMSprop` return
[code]
For those who want to use default optimizer, it could helps.

[2021-11-17 17:05] malfet commented on #68459
I'm thinking about refactoring this logic into probot and then enable it for all the projects.

[2021-11-17 17:14] btian commented on #67349
Thanks for looking, Gisle.

I wrote a small C++ program that just uses libkineto, and still manage to replicate a bad trace - https://drive.google.com/file/d/1BRmiTUcfP3cpZynO5O2GOUZ_oqNxNhEO/view?usp=sharing

There are some garbage values in the JSON trace

[code]

I also saw errors in libkineto

[code]

[2021-11-17 17:43] ngimel commented on #68418
Can you run with environment variable CUDA_LAUNCH_BLOCKING=1?

[2021-11-17 17:50] suo commented on #68459
For each group we have oncall labels, module labels, and now release notes labels. Could we consolidate them into one? What's the case for release notes labels to be separate?

[2021-11-17 17:52] purplesword commented on #68418
I have it set already and the result is as above. I also have following values in ENV.
[code]

[2021-11-17 18:01] jbschlosser commented on #68421
cc @Lezcano what are your thoughts on this?

[2021-11-17 18:06] malfet commented on #68459
@suo, for the ones that you know label already exists, can you please edit issue description and add alias (and we definitely should fold)

[2021-11-17 18:14] suo commented on #68459
I added a few that I know of or could find through basic searching. One thing I noticed is that some of the older labels are `oncall:`, which predates the `module:` system. I would be in favor of consolidating on the `module:` system and using that not only for release notes but future CODEOWNERS stuff, but it's not relevant for now.

[2021-11-17 18:18] suo commented on #68459
Also, what do you think about doing something like: https://www.conventionalcommits.org/. The advantage being that it's a common thing and tooling exists for all the various components (linting, release note generation, etc.). The disadvantage being that it's commit based (although personally I would prefer just naming my commit instead of clicking around GH).

[2021-11-17 18:30] ngimel commented on #68418
Short repro
[code]

[2021-11-17 18:47] dzhulgakov commented on #67240
So it indeed seems to be a missing functionality. When channel_shuffle was added in #36815 it missed adding the derivative. Given it's a composite op by itself on cpu today, I believe it's sufficient to make the non-quantized kernel registered as `CompositeImplicitAutograd` instead of `CPU` here: https://github.com/pytorch/pytorch/blob/4e21d77dbb86581ba79d8b8179fb61a4e153e2e3/aten/src/ATen/native/

[2021-11-17 19:12] jerryzh168 opened #68534 "[subgraph_rewriter] Better attribute matching support"
## 🐛 Bug
Currently we only support matching submodules, not attributes, wondering if we could have support for attributes as well

## To Reproduce

[code]

Output:
[code]
## Expected behavior

We should be able to match `self.attr` in the graph

## Environment

Pytorch master

cc @ezyang

[2021-11-17 19:14] ngimel commented on #68418
https://github.com/pytorch/pytorch/blob/4e21d77dbb86581ba79d8b8179fb61a4e153e2e3/aten/src/ATen/native/cuda/DilatedMaxPool2d.cu#L59
`(n * channels + c) * height * width` overflows before it's upcast to `ptrdiff_t`. There are probably similar places in other kernels.
cc @xwang233

[2021-11-17 19:22] rohan-varma commented on #68385
I don't have a mac with M1 chip accessible to me at the moment unfortunately.

@malfet, @seemethere, @janeyx99 do we know how to test/reproduce these sort of issues from build/CI perspective?

[2021-11-17 19:24] zou3519 opened #130451 "vmap over torch.allclose doesn't work"
Because torch.allclose returns a bool rather than a Tensor.

[2021-11-17 19:27] soulitzer commented on #48417
Closing because the batched grad use case is possible now:
- On the main branch computing batched grads is now supported. Setting the `is_grads_batched` parameter to `True` will allow one extra batch dimension for your `grad_out`.
- For more general use cases involving batching one can use `vmap(grad` in functorch https://github.com/pytorch/functorch.

Feel free to reopen if there is another use c

[2021-11-17 19:27] #48417 closed

[2021-11-17 19:44] JShull commented on #67680
I am getting the exact same errors as @jakwisn . Same problem as well - building a Roberta model using MLM, It sucks up all the memory on the first step.
[MLM_Python_Error.txt](https://github.com/pytorch/pytorch/files/7557562/MLM_Python_Error.txt)

[2021-11-17 19:51] rohan-varma commented on #68405
Hi, I don't think the `init_method` is set up correctly as it looks like they point to different files.

Also, if this is 2 distinct machines, file init method will not work unless it is backed by a shared filesystem. https://pytorch.org/docs/stable/distributed.html should show you how to use TCP-based initialization to set this up.

[2021-11-17 19:53] kimishpatel commented on #67240
Thanks for the tag @dzhulgakov. I will follow up.

[2021-11-17 20:04] ShuhaoYuan commented on #47217
same issue

[2021-11-17 20:09] datumbox opened #68536 "Exporting a model with `_save_for_lite_interpreter()` fails with Segmentation fault"
## 🐛 Bug

Using `_save_for_lite_interpreter()` to export `torchvision.models.detection.fasterrcnn_mobilenet_v3_large_320_fpn` model leads to a Segmentation fault (core dumped).

## To Reproduce

We will use a modified version of a [script](https://github.com/pytorch/vision/blob/main/android/test_app/make_assets.py) added in TorchVision which is use to export the model:
[code]

The following fails

[2021-11-17 20:24] btian commented on #67349
I wonder if the reason why CUDA kernel traces don't appear is due to a huge difference in timestamp between CUDA kernels and CPU, e.g.,

[code]

But for CPU operators:

[code]

1635202069792700 vs 4687921561.

It feels like the ts for kernels are correct, but totally wrong for CPU operators.

[2021-11-17 20:26] Linux-cpp-lisp opened #68538 "`vmap` performance warnings from `jacobian`"
As requested in [the documentation](https://pytorch.org/docs/stable/generated/torch.autograd.functional.jacobian.html), I'm reporting the performance warnings I get when using `vectorize=True` on my model:
[code]
for the operations:
 - `aten::softplus_backward`
 - `aten::copy_`
 - `aten::index_put_`
 - `aten::gather`
 - `aten::_index_put_impl_`

[2021-11-17 20:28] malfet commented on #68385
@rohan-varma I believe M1 PyTorch binaries are currently build with distributed support disabled, as libUV can not be cross-compiled correctly and we don't have any native builds in CI yet

[2021-11-17 20:36] kurtamohler commented on #58970
@anjali411 following up after you mentioned that there are some internal failures after #66949.

I wrote a test to try saving and loading tensors of different dtypes that view the same data. It runs every combination and detects if `torch.load` produces an error. If it doesn't produce an error, it checks the loaded tensors against the saved tensors to detect if the loaded ones are incorrect:

<det

[2021-11-17 20:39] ejguan opened #68539 "[DataPipe] Grouper causes perf regression"
## 🐛 Bug

When working with Vision to revamp the COCO dataset, we found `Grouper` causes the perf regression..

https://github.com/pytorch/pytorch/blob/4eb772fde619c52f5877b917419beb8220160588/torch/utils/data/datapipes/iter/grouping.py#L318-L321

It only makes sense to yield the biggest group in buffer before all data absorbed from prior datapipe. But, at the end, after all data from prior datapi

[2021-11-17 21:13] xwang233 commented on #68418
This is a similar issue as https://github.com/pytorch/pytorch/issues/52822. Will submit a fix soon.

[2021-11-17 21:13] HDCharles opened #68540 "Improve documentation about meaning of different qschemes"
What exactly is symmetric and affine quantization?

The best doucmentation is kind of a side point here: https://pytorch.org/docs/stable/torch.quantization.html?highlight=torch%20minmaxobserver#torch.quantization.MinMaxObserver

there should be a clearer explanation for exactly what symmetric and affine quantization means rather than having to go backwards from the calculation of the qparams

cc @

[2021-11-17 21:19] rohan-varma opened #68541 "retry_on_connect_failures decorator appears to no longer work"
## 🐛 Bug

Seems like since https://github.com/pytorch/pytorch/pull/68226, `retry_on_connect_failures` test decorator stopped working as it does exact match on the string "Address already in use".

This is causing failures such as: https://github.com/pytorch/pytorch/runs/4242952936?check_suite_focus=true

Should be a pretty easy fix to make the decorator match on the updated string.

cc @pietern @m

[2021-11-17 21:19] rohan-varma commented on #68541
cc @H-Huang @cbalioglu

[2021-11-17 21:21] Lezcano commented on #68421
@GloryyrolG what do you mean with "it does nto support removal"? It may be removed with https://pytorch.org/docs/stable/generated/torch.nn.utils.parametrize.remove_parametrizations.html

[2021-11-17 21:37] janeyx99 opened #68543 "PyTorch CI TTS Tracker"
One of PyTorch Dev Infra's goals is to maintain acceptable time-to-signal for PyTorch PR CI. This is an investment on better developer experience for all who contribute to PyTorch. In this tracker, we will track tasks that we can do to cut down TTS without impacting test coverage.

### Decrease checkout time
- [ ] do not checkout submodules for some of the workflows (which should speed it up 10x)

[2021-11-17 22:25] pmeier opened #68548 "Change comparison strategy for quantized tensors"
From https://github.com/pytorch/pytorch/pull/58926#discussion_r751260732 @vkuzo:

cc @jerryzh168 @jianyuh @raghuramank100 @jamesr66a @vkuzo

[2021-11-17 22:30] pmeier commented on #68548
I'm ok with either strategy. `torch.testing.assert_close` and after # also `self.assertEqual` should serve the developers to enable convenient testing. Thus, you get to decide how to handle the comparison.

Still, given that we worked out the current strategy with @jerryzh168 in #58926, it would be good to get a consensus of the quantization team on what strategy should be used before we change an

[2021-11-17 22:58] btian commented on #67349
I believe I found the issue.

Profiler started working when I changed `high_resolution_clock` to `system_clock` here https://github.com/pytorch/pytorch/blob/v1.9.1/torch/csrc/autograd/profiler_kineto.cpp#L35

[2021-11-17 23:27] vadimkantorov opened #68553 "torch.elastic could react faster on exit / Ctrl+C"
I'm having a model run with torch.distributed.launch with only 1 rank for interactive debugging. I'm exiting pdb with Ctrl+D (graceful exit), but torchelastic is slow to detect an exit is requested and interpreter hangs for some seconds (which is not good because it's not clear why it's hanging). Then I hit Ctrl+C and I get the following stack trace.

I wonder if that server/api.py could also dete

[2021-11-17 23:47] xuzhao9 commented on #68086
Here is how test_eval[mnasnet1_0-cuda-jit] result profiles look like on CUDA 11.3:

PR base:
![image](https://user-images.githubusercontent.com/502017/142300252-83593a86-58e2-492e-82dd-cbbe8c161748.png)

PR tip:
![image](https://user-images.githubusercontent.com/502017/142300286-e94ccd49-be08-4b3e-9894-3c6264d81991.png)

[2021-11-17 23:54] zou3519 opened #68554 "torch.ops.aten is very broken internally"
## 🐛 Bug

See (internal-only) T106134840 for details. Using this GitHub issue to track progress and priority.

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @albanD

[2021-11-17 23:57] ngimel commented on #67864
Can you please provide some instructions and scripts on how to repro the error?

[2021-11-18 00:06] GloryyrolG commented on #68421
Basically, like what is stated in this discussion post https://discuss.pytorch.org/t/how-to-remove-spectralnorm-parametrizations-in-pytorch/137031/4?u=glory_chen

`_SpectralNorm` added in `parametrizations` in the reimplementation does not have a similar `remove` function which does one more time of forward to compute weight.

https://github.com/pytorch/pytorch/blob/53bfb00ee1bef9eedc320aebc10e21f

[2021-11-18 00:31] zou3519 commented on #68554
nvm, figured it out

[2021-11-18 00:31] #68554 closed

[2021-11-18 00:46] xuzhao9 commented on #68086
I rerun mnasnet1_0 in eager mode on CUDA 11.3, CUDNN 8.2.0 and TorchBench V2:
With fusion (default):
![image](https://user-images.githubusercontent.com/502017/142323539-70123095-a2bf-4225-967f-5676d28e8734.png)

Latency ~36.7 ms

Without fusion:
![image](https://user-images.githubusercontent.com/502017/142323769-a87fcf7b-8452-407e-9bb9-73495ed580a6.png)

Latency ~37.080 ms

[2021-11-18 00:52] ZaydH commented on #67864
@ngimel In my case, it was highly non-repeatable.  My trains the same model multiple times for variance analysis.  In most instances, everything worked fine.  Occasionally it would report the error above (along with at least one other ATen assert).  I reverted back to `torch` 1.9.1 and have not seen it since.

[2021-11-18 00:55] vadimkantorov opened #68558 "[docs] SmoothL1Loss to document behavior at beta=0"
https://pytorch.org/docs/stable/generated/torch.nn.SmoothL1Loss.html#torch.nn.SmoothL1Loss:

The docs only specify what happens when beta tends to zero (beta -> 0), it also specifies that beta must be non-negative.

What happens when beta = 0? Does it compute L1 loss in this case?

I think it would be useful to cover this case explicitly in the docs

cc @brianjo @mruberry @albanD @jbschlosser @wal

[2021-11-18 01:16] garymm opened #68559 "LibTorch -> TorchScript -> PyTorch (Python) fails with `AttributeError: 'RecursiveScriptModule' object has no attribute 'forward'`"
LibTorch -> TorchScript -> PyTorch (Python) fails when calling loaded module.

## To Reproduce

1. In C++, save to TorchScript with `torch::save(model, "model.pt")`.

2. Load and call the model in Python.

The repro case here was provided by @swilson314 [here](https://github.com/pytorch/pytorch/issues/17869#issuecomment-928238122).

[code]

Fails with:

`AttributeError: 'RecursiveScriptModule' obj

[2021-11-18 01:45] mravanelli opened #68561 "Unexpected conversion using .int()"
Hi,
when I do the following int() casting  with some specific numbers, I got the wrong result:

[code]
The correct answer should be ` tensor([1], dtype=torch.int32)`, but it actually returns  ` tensor([0], dtype=torch.int32)`.
This happens only with some specific numbers (e.g, 41.0 or 82.0) and. most of the times this is correct (see examples below).
I don't really understand why this happens. If

[2021-11-18 01:54] huang229 commented on #68405
@rohan-varma  I'm very glad to receive your reply. thank you.

I change the init_method setting mode according to the official instance.

One communication setting code of machine 0 is as follows:
init_method = f"file:///d:/distribute/ddp_example"
print("dist.init_process_group start")
dist.init_process_group(backend="gloo", init_method=init_method, rank=0, world_size=2)
print("dist.init_process_g

[2021-11-18 02:51] leslie-fang-intel commented on #55374
@stas00 I have made a PR(https://github.com/pytorch/pytorch/pull/68567) to update the CPU Autocast OP list in the document you mentioned. BTW: We will make another PR to update the CPU Autocast OP list sooner,  since there are several OPs supported BF16 recently.

[2021-11-18 02:55] freesia-sherry opened #68568 "About ModuleDict indexing when save model based on "torch.jit.script()" method"
Beblow is the definition of my network.

[code]

Run this code will have error  as below:

[code]

And I found that issue #45716 seems to have fixed this problem by adding interface type annotation. So I look at the [test/jit/test_module_containers.py](https://github.com/pytorch/pytorch/pull/45716/files/e8cd939ead8e5a8653aabdb555a8c3bb02ce7a37#diff-b43d9b6330ceacf719141b72082934dd3a2dfd69a3b15706a

[2021-11-18 03:20] cbalioglu commented on #68541
Interesting. Do you know why this failure was not detected during the PR? All tests were green at that time.

[2021-11-18 03:39] kit1980 commented on #68561
This is because floating point arithmetic is imprecise.
41 * (1/41) is actually less than 1 using fp32:

[code]

And `int()` basically rounds down (for example, `torch.tensor(0.9).int()` returns 0 tensor).

For the behavior you expect, you can call `round()` before `int()`.

[2021-11-18 03:46] mravanelli commented on #68561
True. I think we can switch from int() to round(). This should solve the issue. I bet there are other recipes with this potential issue and tomorrow I will fix all of them.

[2021-11-18 04:39] mlegore commented on #32369
I have a similar problem, I've used strict channel priority, but it still does not work...

[2021-11-18 05:48] ZyrianovS commented on #39502
On current master.

In `test/onnx/test_models.py` `TestModels` gets its `opset_version` from `torch.onnx.symbolic_helper` which is 9 by default. https://github.com/pytorch/pytorch/blob/master/test/onnx/test_models.py#L50
https://github.com/pytorch/pytorch/blob/master/torch/onnx/symbolic_helper.py#L847

[code]
[code]
So it skipped 10 tests by default, including I believe `test_fake_quant`, `test_qa

[2021-11-18 06:30] #56959 closed

[2021-11-18 06:33] catqaq commented on #68501
My code is a little different from the official code from https://github.com/princeton-nlp/SimCSE. But I discovered today that it doesn’t matter what model to use.  It might be caused by insufficient shared memory (shm) in my docker. I have encountered this situation several times. At first, due to the different error messages, I thought they were different problems, but in the end I found that th

[2021-11-18 06:33] #68501 closed

[2021-11-18 07:04] cdeepali commented on #68057
@quickwritereader, @malfet, do you have any ideas how we can get this working for powerpc?

I can try any suggestions that come along.

[2021-11-18 07:44] Lezcano commented on #68421
Could you please try the suggestion given above? Please report whether you find any problems with the proposed approach.

[2021-11-18 07:58] pearu commented on #67654
#66774 resolves this issue by introducing a new method `to_sparse_coo`.

[2021-11-18 08:56] albanD commented on #68561
Closing as expected behavior due to floating point arithmetic.

[2021-11-18 08:56] #68561 closed

[2021-11-18 08:58] albanD commented on #68516
I guess we could add a filter function but I am not sure how much more concise it would be compared to `for / in / if isinstance` ?

[2021-11-18 09:01] albanD commented on #67240
@dzhulgakov why is this 1.10.1? This is not a regression.

[2021-11-18 09:05] albanD commented on #68515
Hi,

We use github issues only for bugs or feature requests as you can see in the template of your question.
Please use the forum to ask questions: https://discuss.pytorch.org/

[2021-11-18 09:13] albanD commented on #68512
There are a few things about your code:
- The cuda timings are all wrong because you don't properly `torch.cuda.synchronize()` to see how much time the computation actually took.
- A dilation of 2**8 is expected? That is a lot bigger than your images. A more classical dilation of 1 make all the timings more consistent and closer what you expect.
- In your timings, note that replicate is 10x faster

[2021-11-18 09:20] vadimkantorov commented on #68516
I think given the frequency of the pattern, this is something that will make the code tidier

compare:
[code]

[2021-11-18 09:55] helion-du-mas-des-bourboux-thales commented on #68512
@albanD, thank you for the comments.
 - I have updated the code with `torch.cuda.synchronize()`
 - The `2**8` dilation is an example to show how bad it can be
 - Indeed the image is smaller that that dilation
 - I still find it strange a so large difference on computation time when changing padding_mode from zeros to replicate

[2021-11-18 10:06] vadimkantorov opened #68575 "[ux] Print tensor's dtype by default"
In addition to already printed device field. This will save some very frequent keystrokes / commands with interactive pdb-based debugging + will also help explorability for new users

[2021-11-18 10:50] agamemnonc opened #68576 "When `num_workers=0`, `prefetch_factor` is enforced to be `2` but this is missing from documentation"
## 📚 Documentation

While constructing a `DataLoader` with `num_workers=0`, it is currently enforced that `prefetch_factor` can only be set to the default value (which is `2`). I am not too sure why and whether this should be expected behavior, for example wouldn't it perhaps be better to also support `prefetch_factor` values of `0` or `1`?

https://github.com/pytorch/pytorch/blob/e56d3b023818f545

[2021-11-18 11:06] LucaBonfiglioli commented on #67864
Same here, I tried to isolate it but I could not, it's very time-consuming: code could run for 10 hours without a single error, then it crashes suddenly for seemingly no reason at all. Seems to happen with all our training scripts. I am not allowed to share the code, I will check if I can reproduce the bug with a boiled-down version of one of our training scripts and share it here.

As reported by

[2021-11-18 11:26] beginner401 commented on #68321
Hi, @mrshenli thanks for your help! And maybe I can close this issue.

[2021-11-18 11:26] #68321 closed

[2021-11-18 11:29] Heermosi opened #68577 "Pytorch 1.9.1 cannot be built against cuda 11.4.2"
## 🐛 Bug

The bug was exactly the same as what encountered in v1.9.0 build against cuda 11.4.2, the issue is not fixed in branch v1.9.0 and v1.9.1

`

/pytorch/caffe2/utils/math_gpu.cu(908): error: namespace "thrust" has no member "host_vector"

/pytorch/caffe2/utils/math_gpu.cu(908): error: expected an expression

/pytorch/caffe2/utils/math_gpu.cu(909): error: namespace "thrust" has no member "ho

[2021-11-18 11:50] maejav commented on #701
i got this error for torch.randn!!
what sould i do ? i can not fix it with these solutions.

[2021-11-18 12:50] rasemailcz commented on #67992
Hi @malfet , I don't use the pytorch-metric-learning library as is, I did quite a lot of changes, which is obvious from the code I pasted above...

Just to post the result of my latest experiment - it crashed even with num_workers=0, this time, there was no error at all.

The codes I use are quite complicated; I could try to make some minimal non-working example, if there is no other choice... ? I

[2021-11-18 12:52] Xia-Weiwen opened #68581 "Quantization test `test_embedding_bag_linear` raises error when looping over three qengines"
## 🐛 Bug

The quantization test `test_embedding_bag_linear` will raise error when looping over three qengines. The test script only loops over two qengines now but if there are three, the test fails.
Below is detailed explanation.

Test full name: `quantization.eager.test_quantize_eager_qat.TestQuantizationAwareTraining.test_embedding_bag_linear`
The test code is found in `pytorch/test/quantizatio

[2021-11-18 13:08] spiegelball opened #68582 "Wrong check in optimize_for_inference"
## 🐛 Bug
https://github.com/pytorch/pytorch/blob/dbbb02474b9ad8044d061caee9fb0916da93101b/torch/csrc/jit/api/module.cpp#L471-L477

The check in line 475 prevents an evaluated model to be optimized. Is this correct?

[2021-11-18 13:18] zang5xixi opened #68585 "Encountered ./gen_rules.sh: not found error when compile pytorch on linux."
I encountered a issue: ./gen_rules.sh not found. The log is:

<details>
<summary>log</summary>

[code]
</details>

cc @malfet @seemethere @ngimel

[2021-11-18 13:30] albanD commented on #68385
Trying to import most of distributed subpackages after building without distributed leads to crash.
I tried to fix it here but it makes the linter very unhappy so that would be a bit of work: https://github.com/pytorch/pytorch/pull/67556

[2021-11-18 13:49] albanD commented on #65711
The list at the top of this issue should be up to date.
Feel free to send a PR with tests for the optimizers that work so that we can cross this from here.

[2021-11-18 14:02] albanD commented on #68476
That is a great suggestion, we would definitely accept a PR adding get and setdefault that match the python dict API/behavior.

[2021-11-18 14:08] albanD commented on #68482
There is indeed a typo in the last lines. They should be using `theta_t` in the last two lines.
But the line you linked is correct, it is performing the weight decay before the adamw step itself.

[2021-11-18 14:16] albanD commented on #68425
We do have other issues where this is discussed: https://github.com/pytorch/pytorch/issues/23156
Otherwise I think the presentation on masked Tensor is a good explanation, cc @cpuhrsch is that ready to be shared more broadly?

[2021-11-18 14:32] malfet commented on #67992
Hi @rasemailcz , unfortunately stacktrace simply states that there is a problem, but to know where is the problem I need to see states of other processes. If crash happens pretty quickly and reproducer is not too sensitive, do you mind sharing the whole code (and perhaps a mock dataset) with me privately (although short reproducer will be ideal)

[2021-11-18 14:40] malfet commented on #67864
@LucaBonfiglioli, can you please try setting `torch.multiprocessing.set_sharing_strategy("file_system")` to your code and see if it will solve the problem on 1.10?

[2021-11-18 15:14] nikitaved opened #68589 "`nn.functional.max_unpool`: shape deductation is not universal -- needs documentation"
## 🐛 Bug

It was mentioned in https://github.com/pytorch/pytorch/issues/68420 that `max_unpool` has troubles with `dilation > 1` inputs.
The following example shows that the user could also run into the following issue:

## To Reproduce
[code]

## Possible solution
The problem here is that the output shape of `max_pool` is computed via floor operation, so we loose some information about the shape

[2021-11-18 15:33] pmeier opened #68590 "sparse COO comparison strategy"
In #58844 the following strategy was enacted for `torch.testing.assert_close`:

1. If `check_is_coalesced` is set (default), `actual.is_coalesced()` and `expected.is_coalesced()` have to match.
    https://github.com/pytorch/pytorch/blob/f9ef807f4d51aba8143f23c446fa723c03c3fc23/torch/testing/_asserts.py#L236-L243
2. In case the check is disabled and `.is_coalesced()` mismatches, both tensors are `

[2021-11-18 15:40] ngoel17 commented on #57457
Hello, I have the same issue during inference, and the code will eventually go OOM on a 16GB machine, although it starts with 10% use. It will be impossible for me to make it go OOM inside Valgrind. I was wondering if I could do something to libtorch to clear out the memory use or make it describe the memory use so that I can control it. Since my code, if going OOM (but replicating in valgrind may

[2021-11-18 15:44] pmeier opened #68592 "Add support for comparing meta tensors"
## 🚀 Feature

See title.

## Motivation

Originally added as comment in #67032 :

https://github.com/pytorch/pytorch/blob/b1aa45a8a78211fcfec0923b5facca2b2829311d/torch/testing/_core.py#L63

@cbalioglu could you fill me in on what the behavior should be and the priority of this?

[2021-11-18 15:53] jbschlosser commented on #68558
Yes, when beta = 0, SmoothL1Loss computes L1Loss exactly. We'd accept a PR making the wording explicit for this case if you want to take a crack at it.

[2021-11-18 15:58] rgommers commented on #68174
Because I wasn't sure, let me point out that `Tensor.size` is a method, and `Tensor.shape` is an attribute - so `shape` is indeed compatible. `.numel` is also a method, which is annoying.

[2021-11-18 16:12] saketh-are commented on #67646
Another example here: https://github.com/pytorch/pytorch/runs/4247264239?check_suite_focus=true#step:16:12598

[2021-11-18 16:16] umbertov opened #68595 "Inconsistent list indexing behavior"
## 🐛 Bug

Sometimes `t[indices] == t[indices, :]`, other times it throws an `IndexError`.
* `t` is a 2D Tensor
* `indices : list[list[int]]` is a list of list of indices

The error appears depending on the length of `indices`: if it is too short, there's the `IndexError`, if it is "long enough", then `t[indices] == t[indices, :]`.

The above might be true for Tensors other than 2D ones, but i foun

[2021-11-18 16:16] jbschlosser commented on #68516
I could be wrong, but isn't it more common to use `apply()` for e.g. weight initialization? Maybe adding a filter option there would do the trick?

[2021-11-18 16:17] vadimkantorov commented on #68516
At least, I found this pattern a lot in vision code: detectron2 and vision repos. I rarely saw anyone actually using apply

[2021-11-18 16:30] rgommers commented on #68174
Thanks for the proposal @mruberry. While I in principle like the idea of making everything 100% compatible, I think it'd be good to prioritize - some things are more important than others. Out of the proposed changes, here are the ones I think are most important:
1. `size` -> `shape`. The `.shape` attribute already works, so this doesn't seem particularly painful to start with - updating the docs

[2021-11-18 17:31] pearu commented on #68590
Copying https://github.com/pytorch/pytorch/pull/67796#discussion_r752461445:

The old assertEqual implementation was based on the following considerations:
1. there are different levels of equality tests: mathematical equality (e.g. comparing tensors with different layouts), representation equality (e.g. comparing tensors with the same layout), and internal representation equality (e.g. comparing

[2021-11-18 17:47] #45734 closed

[2021-11-18 17:47] #54258 closed

[2021-11-18 17:47] #56327 closed

[2021-11-18 17:49] addisonklinke commented on #1512
I agree that list of tensors should be supported for variable number of annotations. This is too common in object detection to not have some predefined `collate_fn` in `torchvision`

[2021-11-18 17:51] fadi212 opened #68598 "ONNX Export of LayoutLMv2"
I am trying to export LayoutLMv2 model to onnx format which is implemented in pytorch.
When I try to run the below code.

[code]

I am getting the following error.
[code]

and when I set the `do_constant_folding= False`, I am able to convert the model to onnx but at the time of loading the model in infer session, I am getting the following error.
[code]

PS: Not sure whether the issue is in onnx o

[2021-11-18 18:01] malfet commented on #68585
`gen_rules.sh` is part of nccl, see https://github.com/NVIDIA/nccl/blob/master/src/collectives/device/gen_rules.sh

Can you please check if you have `/bin/bash` on your filesystem? If not, can you please try replacing first line in that file with `#!/usr/bin/env bash` or just creating a symlink from `/usr/bin/bash` to `/bin/bash`?

[2021-11-18 18:03] albanD commented on #68265
Solved https://github.com/pytorch/pytorch/pull/68268

[2021-11-18 18:03] #68265 closed

[2021-11-18 18:08] ngimel commented on #68512
Zero padding is handled implicitly by the libraries implementing convolution (cudnn, OneDnn), replication padding has to be done explicitly before calling the convolution. The relative penalty of this explicit step will heavily depend on actual convolution parameters (e.g. if convolution itself is compute-bound, the padding penalty will be small, if convolution is not as computationally intensive,

[2021-11-18 18:08] rohan-varma commented on #68541
@cbalioglu it's more a silent failure, the decorator will not retry because the error string is no longer an exact match. So we might have more flakiness due to "Address already in use" error.

[2021-11-18 18:11] ngimel commented on #68525
Should be fixed on master, cc @vfdev-5

[2021-11-18 18:39] benjha commented on #11371
Hi @ngimel,

What's the env. variable to disable caffe2 build ?

Thanks

[2021-11-18 18:40] cpuhrsch commented on #68425
It'd be useful to get prototype feedback on [maskedtensor](https://github.com/cpuhrsch/maskedtensor), and of course anyone is welcome to use it, but I wouldn't want to put someone through the potential significant pain of building something stable on top of it. It'll likely address this issue, but it'll also still change a bit until a stable release. I don't want to commit to a timeline here on th

[2021-11-18 18:46] dbalchev commented on #45418
Hey @ReySadeghi
What version of PyTorch are you using?

[2021-11-18 18:47] nikitaved commented on #68589
Sorry, did not notice that there is actually a NOTE in the documentation about that. Closing.

[2021-11-18 18:47] #68589 closed

[2021-11-18 19:22] malfet commented on #67844
Here is the modified example that I've been running for hours without running into the problem:
[code]

[2021-11-18 19:41] stas00 commented on #67384
Here is an update to my [initial comment](https://github.com/pytorch/pytorch/issues/67384#issuecomment-953416737).

We had a call with the NVIDIA engineers who kindly spent their time to show us a lot of benchmarks on trained models they have done with the TF32-enabled pytorch and that the outcomes were on par with the FP32 results quality-wise.

We are yet to have our own experience to validate t

[2021-11-18 19:56] ngimel commented on #68595
As a workaround, you can create torch.Tensor from your indices: `windowed_data = t[torch.tensor(indices[:31]) ] `

[2021-11-18 19:58] ngimel commented on #68577
This is expected, 11.4 is not supported with pytorch 1.9

[2021-11-18 20:01] seemethere commented on #68577
Going to close this since @ngimel already mentioned that pytorch 1.9 does not support CUDA 11.4

If the same error can be observed within `master` we should re-open

[2021-11-18 20:01] #68577 closed

[2021-11-18 20:15] stas00 commented on #55374
Thank you so much! This is super helpful, @leslie-fang-intel

[2021-11-18 20:15] ngimel commented on #67384
@stas00 yes, tf32 shows great results with training nn models, and that's why it would make perfect sense to have it enabled by default in the Huggingface codebase. However, having it by default in pytorch has proven problematic, with many users facing accuracy issues. We have multiple docs mentioning tf32 and how to turn it off for more accurate results, and its associated tradeoffs, and yet that

[2021-11-18 20:19] stas00 commented on #67384
Oh, OK, then I was under the wrong impression that my suggestion was impacting the pytorch choice.

If as you're saying this is far more than just a preference for HF `transformers` then by all means please ignore my suggestion to what the ideal default might be.

Most likely we are going to choose the default for HF `transformers` once we get our hands on the hardware and get to run the quality t

[2021-11-18 20:21] ejguan commented on #68576
`prefetch_factor` is not used and not allowed to be specified for `number_worker==0` (single process mode) as suggested in the Error message. https://github.com/pytorch/pytorch/blob/e56d3b023818f54553f2dc5d30b6b7aaf6b6a325/torch/utils/data/dataloader.py#L180-L182

I personally don't see there should be a change.

[2021-11-18 20:26] kosiokarchev opened #68610 "`torch.unique_consecutive`: passing positional optional arguments results in empty tensors"
## 🐛 Bug

Passing `True` for either `return_inverse` or `return_counts` (but not both!) as **a positional argument** to `torch.unique_consecutive` results in an empty second return value.

To clarify, the issue occurs when I do:

[code]
but not for
[code]
FWIW, the `torch.Tensor.unique_consecutive` version seems to be OK in all cases:
[code]

[2021-11-18 20:53] ngimel commented on #68610
cc @eellison, this is likely due to boolean dispatch in https://github.com/pytorch/pytorch/blob/48771d1c7f01e5b26c5bf0d6d8973884f908453f/torch/functional.py#L1043

[2021-11-18 21:16] KAUSTIKR opened #68611 "torch.cuda.is_available() ---> false"
`torch.cuda.is_available() `
false
**pytorch installed**
conda install pytorch torchvision torchaudio cudatoolkit=11.3 -c pytorch-nightly

**nvidia-smi**
[code]
**python -m torch.utils.collect_env**
C:\Users\rajra>python -m torch.utils.collect_env
Collecting environment information...
PyTorch version: 1.10.0
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used to build PyTorch: N/A

OS

[2021-11-18 21:20] cbalioglu commented on #62787
This issue is also relevant for the large model materialization work. Right now working on an optimization that would store the materialization graph node as part of a custom tensor returned by `meta_init`. Unfortunately those tensors cannot be used as model parameters, which defeats the whole purpose. Do we have any ETA for this work?

[2021-11-18 22:49] t-vi commented on #65607
I'm not sure how to handle the BC breaking nature of changing the signature, but I'm working on a private branch that maps torch.dtype to the (existing (!), for two years) ScalarTypeType JIT type.

[2021-11-18 23:28] vfdev-5 commented on #68525
@dbalchev @ngimel yes, the first code snippet is working with pytorch nightly:
[code]

The second code snippet with `fasterrcnn_resnet50_fpn` should be run like :
[code]
to avoid errors like:
[code]

I think we can close this issue as solved.

[2021-11-18 23:48] vadimkantorov opened #68616 "torch.roll has arguments dims for both dim/multidim while other functions have argument dim for the same usage"
Inconsistent wrt other functions...

[2021-11-19 00:41] Linux-cpp-lisp opened #68621 "Missing operators for SparseCsrCUDA"
## 🐛 Bug

When using CSR sparse matrices and autograd, I get:
[code]

## To Reproduce
A simple example:
[code]
gives
[code]
which is a similar error that I _think_ comes from the same issue. (The original error comes from a much larger model, obviously.)

The same problem occurs with CPU.

## Expected behavior
Working autograd.

## Environment

 - PyTorch Version (e.g., 1.0): 1.10.0
 - OS (e.g., L

[2021-11-19 00:41] zou3519 opened #68622 "torch.{tensor, Tensor, LongTensor, ...} isn't captured under `enable_python_mode()`"
## 🐛 Bug

See title

## To Reproduce

[code]
The above script does not raise an error but we would expect all pytorch operations to be caught and sent to the `__torch_dispatch__` under `enable_python_mode`.

## Expected behavior

torch.tensor should dispatch to `__torch_dispatch__` under `enable_python_mode`

## Environment

PT master

[2021-11-19 00:52] ngimel commented on #68616
You are right, that's an inconsistency, however, due to bc concerns we are unlikely to fix that.

[2021-11-19 00:53] ngimel commented on #68595
Duplicate of #65218

[2021-11-19 00:58] vadimkantorov commented on #68616
`dim` argument could be added in addition to dims as an alias, and dims could be hidden from docs if bc is concern

[2021-11-19 01:46] #67367 closed

[2021-11-19 01:54] Chillee opened #68626 "`jit.script` doesn't support `device(type='cuda')`"
[code]

FX symbolic trace gives
[code]

which then causes
[code]
@eellison @ansley @jamesr66a

[2021-11-19 01:59] eellison commented on #68626
[code]

[2021-11-19 03:05] mszhanyi commented on #68611
@KAUSTIKR
I suggest you to install the pytorch in a clean virtual environment.
From your command, you installed the nightly version.
But nightly build version should be 1.11, not 1.10

[2021-11-19 03:08] mszhanyi commented on #68611
BTW, it'd better to upgrade your cudatoolkit to higher than 11.3.
Generally, the driver version shouldn't lower than runtime version.

[2021-11-19 03:17] GloryyrolG commented on #68421
## To Reproduce

[code]

## Expected behavior

[code]

By just modifying a bit the code in [#Issue 51800](https://github.com/pytorch/pytorch/issues/51800#issuecomment-793941555), we can see, this way of removal seems not to work as expected, i.e., it does not compute a more time of [`compute_weight`](https://github.com/pytorch/pytorch/blob/master/torch/nn/utils/spectral_norm.py#L43) like that in t

[2021-11-19 03:49] HK-NJUST commented on #36068
@eladrich this is same with me.  I dual with it by Removing --preload in gunicorn cmd.

[2021-11-19 05:23] ikarus-999 commented on #33435
How To solve in CMakeLists txt?
I wonder How to solve this problem in Ubuntu like this...(ubuntu 20.04 CUDA 11.1, V100 GPU)
problem still remains...

[2021-11-19 05:38] mikeseven opened #68634 "[Numeric Suite] support for multiple inputs"
## 🚀 Feature
Numeric suite has no support for models having multiple inputs, either as list of tensors, or a dict of tensors when it creates GraphModules for float model and int model.

## Motivation

support models with multiple inputs.

## Pitch

no crash

## Alternatives

1- API should be extended with concrete_args as for fx.symbolic_trace()

2- wrapping model such that: concatenating inputs i

[2021-11-19 06:29] zang5xixi commented on #68585
Thanks！
I find my mistake. The file is uploaded to Ubuntu system from Windows, so `gen_rules.sh` is a dos file. After changing the file format to unix, the above problem does not occur again.

[2021-11-19 06:32] #68585 closed

[2021-11-19 07:18] mikeseven opened #68635 "quantization of basic 3D ops missing?"
## 🐛 Bug

Conv3D is missing for qnnpack backend but it exists with fbgemm
maxpool3d is missing from fbgemm backend. (not checked with qnnpack but likely missing too)

## To Reproduce

Simply quantize slowfast model from pytorch hub as usual or with FX. Same bugs.

## Expected behavior

1- consistent support of operations in fbgemm and qnnpack backends for quantization on CPU
2- support, even non-o

[2021-11-19 07:28] eqy commented on #68422
I'm a bit confused by the expected behavior here.
[code]
would iteratively grow the stored computation graph/intermediate tensors required for autograd. This process doesn't move intermediate values from where they were computed, so it is expected that graphs created on CPU stay in host memory and graphs created on GPU stay on device memory. If there is a substantial mismatch in the amount of host

[2021-11-19 07:40] pmeier commented on #68590
Yes, `assertEqual` fully accepts containers and checks the content elementwise (the snippets below were run with the code from #67796):

[code]

Note that not letting `assertEqual` handle the sparse comparison results in less expressive error messages:

[code]

[code]

[2021-11-19 07:53] pmeier commented on #68590
The tensors that failed the tests that were popping up in #67796 were both uncoalesced but had different NNZ (code is run on #67796):

[code]

[code]

If we `.coalesce()` before the comparison, everything is fine:

[code]

[2021-11-19 08:18] Lezcano commented on #68421
Removing the randomness of your answer, one gets similar results, as expected.
Note that you were:
- Sampling a new `x` vector in every test
- Sampling a new module in every test.
- When removing the parametrisation, you were not leaving the parameter with the parametrised weight.

Note that, in the test below, there are some minimal differences between the three outputs, but this comes from the n

[2021-11-19 08:18] #68421 closed

[2021-11-19 08:24] dbalchev commented on #68525
Thanks for the quick response (:

[2021-11-19 08:58] TingfengTang opened #68638 "ONNX export support for quantize_fx"
code snippet:

[code]

error:
`RuntimeError: Exporting the operator fused_moving_avg_obs_fake_quant to ONNX opset version 13 is not supported. Please feel free to request support or submit a pull request on PyTorch GitHub.`

[2021-11-19 09:06] YqunYang commented on #68422
The problem you mentioned is not existing according to my validation:

'If there is a substantial mismatch in the amount of host memory used in the CPU version and the amount of device memory used in the GPU version, then that could be considered an issue.'

##
However, abnormal GPU memory usage still exists:

##To reproduce

[code]
Here, I've written three methods (see item 1, 2, and 3) to calcul

[2021-11-19 09:21] YqunYang commented on #68422
Now, I was finally able to run my code using Item 3 to calculate distances.
It's too hard.

[2021-11-19 09:25] JustDoItY commented on #42654
train_loader = data.DataLoader(train_data, batch_size=2, collate_fn=lambda x: x)

def selectedImg(data):
  return data[0]

batch = next(iter(train_loader))

imgs = th.stack(list(map(selectedImg, batch)), 0) # this is tensor[2, 3, 224, 224]

this is worked, but so so so weird. coco design for this? i am a problem, why dataloader return tuple struct, yet net need tensor

[2021-11-19 09:25] YqunYang commented on #68517
Thanks

[2021-11-19 10:06] vadimkantorov commented on #61686
Also, one argument, this lets you create instances but can't do forward:

[code]

[2021-11-19 10:28] zang5xixi opened #68642 "Encountered 'internal compiler error: Segmentation fault' when compile pytorch on linux"
## 🐛 Bug

[code]

## To Reproduce

Steps to reproduce the behavior:

python3 setup.py build

## Expected behavior

## Environment
[code]

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @malfet @seemethere

[2021-11-19 10:47] ZaydH commented on #67864
@malfet Our compute nodes are too loaded for me to replicate the previous setup I was using (K80).  I may be able to try on a debug workstation (RTX3090).

Since you have a proposed solution, I assume you may have a hunch what is going wrong.  For the sake of this discussion (and me trying to replicate the issue on my debug machine) let's assume your hunch on the cause is right.  I then have two (

[2021-11-19 11:35] Xavier31 commented on #36568
torch.jit.save only save modules not tensor as far as i understand. Is there a simple way to save a tensor in pytorch and load it in libtorch without making any wrapper ?

[2021-11-19 12:38] IvanYashchuk commented on #68621
Hello @Linux-cpp-lisp, thank you for submitting the bug report.
Computations with Sparse CSR matrices are currently under development. It's expected that many things might not work yet.

I'm curious for what applications you're planning to use sparse CSR matrices? What functionality (apart of autograd) is critical to have supported for your use case?

[2021-11-19 12:58] nikvaessen commented on #67680
I also have had success with downgrading the transformers library. This indicates that it might be related to transformers instead of PyTorch.

[2021-11-19 13:37] kolia1985 commented on #68598
+1

[2021-11-19 13:42] agamemnonc commented on #68576
Well, as a user/practicioner who uses configuration files to keep experiments tracking manageable, it means that whenever I have to switch from e.g. `num_workers=8` to `num_workers=0` (eg for debugging), I need to set `prefetch_factor=2`, which is definitely not intuitive. I think it would be much more elegant to default `prefetch_factor=None` and have something like the following in lieu of the c

[2021-11-19 13:46] agamemnonc commented on #68576
In case my proposal is not accepted, I would definitely recommend including in the documentation the fact that you have to set `prefetch_factor=2` in this case, as it took me quite some time trying to figure out why `num_workers=0, prefetch_factor=None` didn't work (I actually had to look into the code).

[2021-11-19 14:16] mruberry opened #68643 "DISABLED test_ind_worker_queue (__main__.TestIndividualWorkerQueue)"
Platforms: windows, mac, macos, win

See https://github.com/pytorch/pytorch/runs/4259400670?check_suite_focus=true.

Relevant snippet:

[code]

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @SciPioneer @H-Huang @SsnL @VitalyFedyunin @ejguan @NivekT @malfet @albanD

[2021-11-19 14:32] ejguan commented on #68576
I see. Sounds great. Feel free to open a PR to fix that. Thanks

[2021-11-19 14:35] vadimkantorov commented on #55374
So are resnets now runnable under bf16?

[2021-11-19 15:16] addisonklinke commented on #3867
@JakobHavtorn I don't think the currently implementation works for `stride > 1`. I made a manual `Conv2dSame` class so you can bypass the error in PyTorch 1.10.0, but you can see the spatial dimensions are not retained

[code]

[2021-11-19 15:22] pearu commented on #68590
How about using the following strategy for comparing COO tensors:
- `assertEqual` never coalesces its inputs and its implementation would use only `_indices()` and `_values()` for testing COO equality. Testing `_nnz()` equality is superfluous anyway and testing `is_coalesce()` equality is not important (and if it is for some reasone, tests should explicitly use `assertEqual(actual.is_coalesce(), e

[2021-11-19 15:23] vadimkantorov commented on #68616
What's also bad is that `dims` is second argument, so we can write tensor.flip(-1), but can't write tensor.roll(-1, shifts = 1)

[2021-11-19 15:26] JakobHavtorn commented on #3867
@addisonklinke Ah yes I get your point. I believe this comes down to what you expect.

Same padding is defined to keep the input and output shapes equal for unit strides. I often find it useful to be able to downsample an input some integer number of times in a "same padded" manner.

By this I mean that the length of the output along the convolved dimension(s) is exactly `s` times shorter than the

[2021-11-19 15:29] charlesxu90 commented on #5953
Meet with same problem. Any solutions now?

Current version of Pytorch: 1.9.1

[2021-11-19 15:34] Linux-cpp-lisp commented on #68621
Hi @IvanYashchuk —

Thanks for the quick response! I know sparse CSR is still very much a work-in-progress; I've just started to play around with it as a (hopefully) more efficient alternative to my existing dense approaches and in hopes that I can identify edge cases, which I have a habit of running into, so that they can be resolved :smile:

I work on E(3)-equivariant networks (https://github.co

[2021-11-19 15:35] Lingeer opened #68646 "docker bug"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.docker pull pytorch/pytorch:1.9.0-cuda10.2-cudnn7-devel
2.from torchvision.io import read_image
3.cant use read_image!!!

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the c

[2021-11-19 15:36] pmeier commented on #68590
Theoretical, yes. From the testing perspective it is more expressive to test that first, because otherwise the error message would tell you that the shapes doesn't match, but this shape is referring to the shape of the values / indices and not the shape of the tensor.

[2021-11-19 15:45] pearu commented on #68590
IIUC, from
https://github.com/pytorch/pytorch/blob/b1aa45a8a78211fcfec0923b5facca2b2829311d/torch/testing/_internal/common_utils.py#L1932
follows that if `_indices()` shapes do not match, the exception message will contain `Sparse tensor indices failed to compare as equal` (followed by shape-mismatch message) which should be expressive enough to conclude that the shape mismatch message corresponds

[2021-11-19 15:52] vadimkantorov opened #68648 "[feature request] Sticky/force regime of train/eval modes"
E.g. it may be useful to set a part of model to eval mode even if the whole model can be train and eval mode.

For these cases I currently do:
[code]

Instead maybe one could use `self.model_with_dropouts.eval(force = True)`, and then it would not change mode unless the upper-level operation is also called with `force=True`

[2021-11-19 15:53] dagitses commented on #68638
Re-assigning to onnx team to take a look.

[2021-11-19 16:00] ReySadeghi commented on #45418
PyTorch: 1.7.1

[2021-11-19 16:14] dagitses commented on #68622
I agree this belongs under module: __torch_dispatch and that this is a defect. @albanD , do you concur?

I am not labeling this high-priority because this behavior has likely been this way for a while and it is likely to be noticed easily. Not exactly a silent failure but obvious behavior would not be happening.

Is this blocking anything you're doing right now?

[2021-11-19 16:15] dagitses commented on #68646
What exactly happens in step 3? What can't you do with `read_image`?

[2021-11-19 16:17] dagitses commented on #68646
module: build isn't ideal, but I think it hits the right people wrto Docker.

[2021-11-19 16:20] dagitses commented on #68642
Interesting. Adding arm/build to help triage.

[2021-11-19 16:23] HuangStomach commented on #9873
All the environment variables and torch.set_num_threads(8) don't do anything for me.
Sad.

[2021-11-19 16:25] dagitses commented on #68648
Assigning to nn for further triage of this enhancement.

[2021-11-19 16:57] addisonklinke commented on #3867
@JakobHavtorn Ah interesting, I hadn't thought about it like that!

[2021-11-19 17:09] qgallouedec commented on #67864
For what it's worth, this code

[code]

gives

[code]

[2021-11-19 17:15] rohan-varma commented on #68553
Moving over to r2p oncall for elastic issue.

[2021-11-19 17:15] qgallouedec commented on #67864
For what it's worth, this code

[code]

always gives

[code]

is this related to this issue ?

- Ubuntu
- Python 3.7
- NVIDIA TITAN Xp
- Torch 1.1.0 (but also reproduced with 1.2.0 and 1.10.0)

[2021-11-19 18:11] vadimkantorov opened #68655 "[ux] F.binary_cross_entropy (and maybe other losses) to auto-cast bool category mask to float"
Will remove a bit of boiler-plate...

[2021-11-19 18:26] ngimel commented on #55374
Not on gpus, bfloat16 convolution is still not supported.

[2021-11-19 18:29] vadimkantorov commented on #55374
But on CPU yes? Cool :)

[2021-11-19 18:50] ngimel commented on #55374
On a newer CPU that supports bf16

[2021-11-19 19:09] tlightsky commented on #47702
Great news, can't wait to try it out in my new M1 Max

[2021-11-19 19:32] atalman opened #68667 "Linux + add MAGMA to CI conda"

[2021-11-19 19:48] anjali411 commented on #68459
I think that's a fair critique. I'd say that we should probably combine the module and release note labels, however we should ensure that people only add one module label on a PR. The reason is that if we add multiple module labels on the PR, then it wouldn't be useful for release notes categorization.

[2021-11-19 19:48] JShull commented on #67680
I tried downgrading, used 4.8.0 and got the same error as above. I have not tried downgrading PyTorch - will try that next.

[2021-11-19 20:10] JShull commented on #67680
This worked for me. Thank you for the information! 💯
I am now running 1.09 and also transformers 4.8.0 @nikvaessen

[2021-11-19 20:29] peterbell10 commented on #67864
Your example is hitting the open file descriptor limit (default 1024 on my system). That could be the issue here, although that wouldn't explain why it only happens on the latest PyTorch release.

[2021-11-19 20:38] #61035 closed

[2021-11-19 20:43] malfet commented on #68642
This was fixed in https://github.com/pytorch/pytorch/pull/55608, though it was landed after 1.8.1 if I'm not mistaken. Is there a particular reason why you want to build PyTorch-1.8 instead of say 1.10?

[2021-11-19 20:44] malfet commented on #68642
Removing high pri, unless this issue indeed happens in 1.10 or newer.

[2021-11-19 20:59] malfet commented on #67864
@qgallouedec this error means that one run out of shared memory, to I'm quite confused why it would be the case for just 2000 1x1 tensors

[2021-11-19 21:04] cpuhrsch commented on #63780
Only the first step landed....

[2021-11-19 21:07] dbalchev commented on #45418
Looks like the fix is available from 1.8 on.

Can you update your PyTorch (:

[2021-11-19 21:07] malfet commented on #68646
@dagitses we have `module: docker` which would be more appropriate in this case

[2021-11-19 21:19] malfet commented on #68646
@Lingeer is there a reason why you need to use PyTorch-1.9 when 1.9.1 and 1.10 are already out?
And I have a repro:
[code]

[2021-11-19 21:44] #68667 closed

[2021-11-19 22:10] vadimkantorov commented on #68553
The reason I guess is the time.sleep, and monitor_interval is a bit too large. But it would be nice if it could somehow react faster if possible. Or the main process could print something on console on termination e.g. "Please wait a few seconds for termination of worker processes...."

[2021-11-19 22:20] eqy commented on #68422
In general, the amount of memory usage is determined by the size of the intermediate tensors that are created, regardless if whether the "mathematical logic" is identical. The autograd system has no knowledge of how future computation will use intermediate results, so it cannot take shortcuts to "factor" or rewrite the expression with the intent of minimizing memory usage---that burden is currentl

[2021-11-19 22:26] ZaydH commented on #67864
Based on what @qgallouedec wrote, it looks like his issue is not exclusive to the latest release.  It seems it happens with `1.1.0` and `1.2.0` as well.

[2021-11-19 23:07] garymm commented on #17162
Can't repro on latest PyTorch nightly. Closing. If this is still an issue please open a new one.

[2021-11-19 23:07] #17162 closed

[2021-11-19 23:17] garymm commented on #18113
Original model reported by @E1eMenta can be exported with `opset_version=11` or higher.
Looking at the [ONNX 1.6.0 release notes](https://github.com/onnx/onnx/releases/tag/v1.6.0), there were changes in the `Resize` operator that I think are being used to do the conversion.

If someone still needs Upsample to be exported specifically for opset version 9, please open a new issue and please note wha

[2021-11-19 23:17] #18113 closed

[2021-11-19 23:19] Linux-cpp-lisp commented on #68582
We have (I think) this issue as well:
[code]
gives
[code]

[2021-11-19 23:20] garymm commented on #18429
Nobody is working on Caffe2 anymore, so closing this. If you have an issue involving other runtimes (e.g. ONNX Runtime) please open a new issue.

[2021-11-19 23:20] #18429 closed

[2021-11-19 23:21] garymm commented on #18521
Nobody is working on Caffe2 anymore, so closing this.

[2021-11-19 23:21] #18521 closed

[2021-11-19 23:23] garymm commented on #18647
Closing due to lack of response from @tsungruihon . Please open a new issue if needed.

[2021-11-19 23:23] #18647 closed

[2021-11-19 23:27] garymm commented on #19598
Seems this is an issue with TensorRT not torch.onnx. Closing.

[2021-11-19 23:27] #19598 closed

[2021-11-19 23:30] garymm commented on #20096
Duplicate of #14869

[2021-11-19 23:30] #20096 closed

[2021-11-19 23:31] garymm commented on #20257
Closing due to lack of response from @yxchng . If you still need help, please provide reproduction instructions, ideally runnable in Colab.

[2021-11-19 23:31] #20257 closed

[2021-11-19 23:44] garymm commented on #20453
Seems this got fixed at some point.
Exporting torchvision.models.resnet50 on the latest nightly PyTorch produces a `GlobalAveragePool->Flatten->Gemm` at the end, no `Reshape`:

[code]

Opening the model in Netron shows this at the end:
![image](https://user-images.githubusercontent.com/421339/142704589-10528389-c51b-4116-8f8a-435dc9340f3d.png)

Feel free to open a new issue with specific repro ins

[2021-11-19 23:44] #20453 closed

[2021-11-19 23:46] garymm commented on #22120
Closing due to age / lack of interest from reporters. If this is still an issue on the latest nightly PyTorch, please open a new issue with full repro instructions (including how to install `yolact` and any other dependencies).

[2021-11-19 23:46] #22120 closed

[2021-11-19 23:48] garymm commented on #22568
This is not actionable without reproduction instructions. @InstantWindy please provide full reproduction instructions, ideally something we can run in Colab.

[2021-11-19 23:57] garymm commented on #68638
@TingfengTang did this used to work in PyTorch 1.8?

Can you please provide full repro code? Ideally something we can just run in Google Colab.

[2021-11-20 00:02] garymm commented on #61813
I believe @shubhambhokare1 is working on something that will fix this.
Tracked internally at Microsoft by <https://msdata.visualstudio.com/Vienna/_workitems/edit/1096979>

For now the custom symbolic function solution mentioned above is the only way to make this work.

[2021-11-20 00:27] #65794 closed

[2021-11-20 00:33] garymm commented on #68598
I'm getting a different error on PyTorch 1.10, transformers 4.12.5:
[code]

Repro notebook: <https://gist.github.com/garymm/4e6ea79c0602bedcf2b1e4abb18ddd45>

Tracked internally at Microsoft by <https://msdata.visualstudio.com/Vienna/_workitems/edit/1524563>

[2021-11-20 00:37] garymm commented on #68384
Tracked internally at Microsoft by <https://msdata.visualstudio.com/Vienna/_workitems/edit/1524567>

[2021-11-20 00:47] garymm commented on #68003
Just reproduced from tip of onnx_ms_1.
This is tracked internally at Microsoft by <https://msdata.visualstudio.com/Vienna/_workitems/edit/1524570>

[2021-11-20 00:51] garymm commented on #54316
Closing because we think it's fixed. Please open another one with repro instructions if this is reproducible with latest nightly pytorch.

[2021-11-20 00:51] #54316 closed

[2021-11-20 00:58] garymm commented on #66935
@1309123499 could you please try benchmarking torch -> ONNX -> [ONNX Runtime with TensorRT Execution Provider](https://onnxruntime.ai/docs/build/eps.html#tensorrt)?

[2021-11-20 00:58] cpuhrsch commented on #68621
@Linux-cpp-lisp I looked at the stack trace [at the point where PyTorch throws here](https://github.com/pytorch/pytorch/blob/a84feeeadee0f408f19ea8e25697a1e72a53c73c/aten/src/ATen/core/dispatch/OperatorEntry.cpp#L414-L435) and found that the call site is within [transpose](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/TensorShape.cpp#L1725-L1749). It's a [known problem](https

[2021-11-20 01:00] garymm commented on #66537
Duplicate of #54638

[2021-11-20 01:00] #66537 closed

[2021-11-20 01:10] garymm commented on #66528
Fails reliably with:

[code]

Tracked internally at Microsoft by <https://msdata.visualstudio.com/Vienna/_workitems/edit/1524573>

[2021-11-20 01:11] garymm commented on #65614
Is this something that can be fixed in the ONNX submodule or does it need to be fixed in the PyTorch build system?
@malfet

[2021-11-20 01:14] #68541 closed

[2021-11-20 01:37] garymm commented on #64769
@jiafatom could you please take another look next time you're on duty?

I'm trying to reproducing this using the tip of onnx_ms_1, but it's a bit annoying since I have to install torch_geometric from source, which doesn't seem to be working for me.

[2021-11-20 01:39] garymm commented on #64732
As I wrote, please open a new issue for the new problem and include code that reproduces the new problem.

[2021-11-20 01:39] #64732 closed

[2021-11-20 01:52] garymm commented on #59640
@analyticsbot the error message shown doesn't indicate anything specific to the `torch.onnx.export` function, rather that the model is being run on CPU while being traced, which doesn't work. I would bet that if you replace `torch.onnx.export` in the code with `torch.jit.trace`, you'll see the same error message. Can you try that please? If so, then this is not an ONNX export issue and is an issue

[2021-11-20 01:58] garymm commented on #58567
Tracked internally at Microsoft by <https://msdata.visualstudio.com/Vienna/_workitems/edit/1524600>

[2021-11-20 03:47] Heermosi commented on #52142
I also face with the same problem with 4xA40 GPU and 2x Intel Xeon Gold 6330 on Dell R750xa
I've tested with a pytorch 1.9.0 with cuda 11.2, the module forwarding was blocked and cannot print anything

[2021-11-20 03:55] rbavery opened #68684 "discuss.pytorch.org is down"
as of 7:55pm November 19th, tried on multiple devices.

[2021-11-20 06:18] t-vi commented on #65607
My preliminary patch to ScriptTorch could be used as a POC what it takes to properly support dtypes (ONNX isn't updated yet, possibly also the fusers, but other than that, I'm relatively happy):

https://github.com/t-vi/pytorch/commit/d420f3527497a2dbc6211802d5e8d994918a8d3f

I should say that I have no ideas about how to deal with the backward compat breaking nature of the change other than bumpi

[2021-11-20 07:58] zang5xixi commented on #68642
We used the code of speedbrain in a project recently. And the speechbrain need torch >=1.7.1 ,<=1.8.1.

[2021-11-20 07:58] #68642 closed

[2021-11-20 08:15] Manoa1911 opened #68685 "1.10 build error on windows"
[code]
## Code example
I tried to add:
#include "CoreEvaluators.h"
#include "DenseBase.h"
#include "Replicate.h"
#include "util/ForwardDeclarations.h"

it had no effect on the error :(

## System Info
[code]
- PyTorch or Caffe2:
- How you installed PyTorch (conda, pip, source): source
- Build command you used (if compiling from source): python setup.py build
- OS: Windows 7 x64, CC3.5 Tesla K40m
-

[2021-11-20 12:09] cipri-tom commented on #5209
@soumith down again :( `PR_CONNECT_RESET_ERROR`

[2021-11-20 13:55] saketh-are commented on #67646
One more: https://github.com/pytorch/pytorch/runs/4271633511?check_suite_focus=true

[2021-11-20 15:45] rabahMoulai opened #68686 "the center loss"
the center loss result is vector or scalar ?

[2021-11-20 15:58] HamdiTarek commented on #62470
I have the same problem with `ImportError:failed to load Pytorch C extensions:It appears that Pytorch has loaded the ‘torch/_C’ folder of the Pytorch repository rather than the C extensions which are expected in the ‘torch._C’ namespace. `

[2021-11-20 16:50] vadimkantorov commented on #68616
with my solution, older programs will continue to work, so it should not break bc-compat (or is forward compat more correct term here?)

[2021-11-20 17:40] pearu commented on #61059
[Requiring transpose as a view](https://github.com/pytorch/pytorch/issues/61059#issuecomment-877896058) is controversial because CSR transpose permutes the elements of CSR values tensor in a non-trivial way. However, we can write:
[code]
where `P` is a certain permutation matrix that can be computed together with `new_crow/col_indices` via “CSR indices->COO indices->swap COO indices rows to get tr

[2021-11-20 19:08] cpuhrsch commented on #61059
@pearu  I think we should first introduce coverage to unblock matmul gradients and then fix transposition for sparse matrices together. We can do that right now and it should be a relatively small change.

In general, what you propose might work. Can you open a separate issue that talks about transposition currently not being a view altogether? At some point I tried to find a concrete example wher

[2021-11-20 20:20] JCBrouwer commented on #56595
Is there an update on this?

I would like to be able to script a `with torch.enable_grad():` block

[2021-11-20 21:24] quickwritereader commented on #68057
you need to dispatch missing ones as well
https://github.com/pytorch/pytorch/blob/147de8243b97f5c6e21a5bd948a4be981dea1b9e/aten/src/ATen/native/mkl/SpectralOps.cpp#L151

[2021-11-20 21:25] quickwritereader commented on #68057
REGISTER_VSX_DISPATCH(fft_fill_with_conjugate_symmetry_stub, &_fft_fill_with_conjugate_symmetry_cpu_)

[2021-11-20 23:33] mohamad-amin opened #68696 "Is it possible to use torch.linalg.cholesky for cholesky decomposition of a huge matrix that doesn't fit in memory?"
I guess the question speaks for itself.

I would like to actually do block cholesky decomposition such that each of the blocks of my huge matrix fit in the memory but the matrix itself doesn't fit.

Is it possible to do this using PyTorch?

[2021-11-21 02:02] jamt9000 commented on #12873
This has unfortunately got worse with pytorch 1.10, to the extent that when running multiple inference workers in independent processes we can no longer fit the same amount in the 16GB CPU memory of an AWS g4dn.xlarge instance. This is using the pytorch docker images (pytorch/pytorch:1.9.0-cuda11.1-cudnn8-runtime, pytorch/pytorch:1.10.0-cuda11.3-cudnn8-runtime).

<img width="608" alt="Screenshot 2

[2021-11-21 04:01] YqunYang commented on #68422
In order to be persuasive, we should count the memory usage of `dises` to measure this issue.

Therefore, I count the total memory usage `m1` first.
Then, after the `dises`  is removed from GPU, I count the total memory usage `m2`

`m1-m2` is the memory usage of `dises`.

The code is as follows,

[code]

I tried using item 4, the memory usage increases indeed.

However, the anothor confusing point

[2021-11-21 04:59] dhruvbird commented on #12873
cc @ngimel @gchanan - thoughts? IIRC @ngimel is/was working on this.

[2021-11-21 05:05] dhruvbird commented on #12873
Also cc @dzhulgakov @zdevito who have been commenting/participating on this internal post related specifically to this topic: https://fb.workplace.com/groups/pytorch.dev/posts/1002604266984720/

[2021-11-21 05:07] dhruvbird commented on #12873
Reopening for visibility - please feel free to close if this should be discussed elsewhere.

[2021-11-21 05:08] ReySadeghi commented on #45418
yes, sure

[2021-11-21 05:18] thisisalbertliang commented on #68476
Hi, my friends (@jfrucht25, @saphirasnow, @gramliu, @shawnchan2014) and I would love work on adding `.get()` and `.setdefault()` (and possibly all other unimplemented `dict` methods) to `ParameterDict`, if nobody else is working on it.

We aim to get a PR ready in the next 2 weeks.

[2021-11-21 07:03] MaxChanger opened #68698 "Questions about the inconsistent (slightly different) results obtained from multiple runs of nn.NLLLoss"
## may be a Bug?  I'm not sure

My original purpose was to fix the randomness of a network, but I fixed all seeds, benchmark, deterministic, etc., but it still didn’t work. So I started to output the value of each structure step by step, and finally found that there is a certain randomness in the loss part. Even if I use pdb to debug and repeat the calculation many times, the results are slightly

[2021-11-21 08:28] Lingeer commented on #68646
@malfet
Got it. Thanks.

[2021-11-21 08:28] #68646 closed

[2021-11-21 08:32] striki-ai commented on #47702
Will it work better with more GPU cores, or you'll rely on Neural cores, and have the same speed on all MacBook Pros with M1?

[2021-11-21 10:07] pearu commented on #61059
@cpuhrsch I agree, implementing CSR transpose as a copy operation would be a step forward.

For the sake of testing autograd with respect to invalidating "transpose is a view operation", I made strided transpose a copy operation (`transpose` implementation returns `result.clone()`). As a result, test_autograd.py has one failure in `test_view_inplace_always_creates_a_view` and 441 successful tests.

[2021-11-21 10:11] pearu opened #68699 "[DRAFT] Transpose of a sparse tensor is not a view operation"
## Issue description

Transpose operation is a non-view operation for non-strided tensors (see [COO transpose implementation](https://github.com/pytorch/pytorch/blob/c50c77b444812d6f28bb7a9071ca0eb643ab6f78/aten/src/ATen/native/TensorShape.cpp#L1697-L1700), for the CSR transpose the situation is [similar](https://github.com/pytorch/pytorch/issues/61059#issuecomment-974684741)) that
1. contradicts

[2021-11-21 10:47] Freed-Wu opened #68700 "Typos of documents"
## 📚 Documentation

In <https://github.com/pytorch/pytorch/blob/master/docs/source/jit_language_reference.rst?plain=1#L735-L737>

[code]

`continue` and `break` have incorrect indents. Should be changed to

[code]

cc @brianjo @mruberry

[2021-11-21 11:46] isomatical opened #68701 "Tensor precision manifests differently between CPU and GPU."
- Device : Nvidia Jetson Xavier Nx.
- Problem: Shown in the pic below.
![image](https://user-images.githubusercontent.com/37702903/142760216-3355449f-ce5a-4b43-ab51-86ec46b96397.png)

But when tested on another device with 1080ti, it turned out normal as expected.
![image](https://user-images.githubusercontent.com/37702903/142760309-38b06656-7690-4423-8e83-d925086ee3b4.png)

[2021-11-21 12:11] OliverFM opened #68702 "MultiHeadAttention docs are unnecessarily confusing."
## 📚 Documentation

[The docs](https://pytorch.org/docs/stable/generated/torch.nn.MultiheadAttention.html#torch.nn.MultiheadAttention) for the `forward` function give the dimensions of `key`, `query` and `value` as `E_k, E_q, E_v` respectively which is really confusing, since, if I am not mistaken they should all be the same.

The [transformer paper](https://arxiv.org/pdf/1706.03762.pdf), which is

[2021-11-21 12:20] OliverFM commented on #68702
Another point: in the original paper, the keys and querys have the same shape. Whereas the torch implementation leaves the keys and values having the same shape. Is this intentional? Perhaps it should be documented too.

[2021-11-21 12:53] poor1017 commented on #41791
Pytorch 1.7.1， same problem occurs, is there any solution for this ?

[2021-11-21 13:25] nitaifingerhut opened #68703 "eyes_like"
## 🚀 Feature
`torch.eye` only returns a nXn matrix with no batch dim. I suggest adding `torch.eye_like` that will create a nXn matrix with same number of samples in batch as another tensor.

## Motivation

eye matrices is widely used in various fields, and creating this short alias can unify its creation, by keeping the same batch, type and device as the given tensor.

## Additional context

`def

[2021-11-21 14:23] vadimkantorov commented on #68703
Related closed one: https://github.com/pytorch/pytorch/issues/9244, but I still think that eye_like will be useful, and if needed can select the dims if not wanting the last two dimension, multidim functions are common now

[2021-11-21 15:07] vadimkantorov commented on #27522
Another in-the-wild example: https://github.com/microsoft/unilm/blob/b58d3ca6da7b8521b0f7bee7d9fcf6741d82233f/layoutlmft/layoutlmft/models/layoutlmv2/modeling_layoutlmv2.py#L659

@stas00

[2021-11-21 17:42] stas00 commented on #27522
Are you suggesting that this is very inefficient memory allocation-wise and should be replaced with:
[code]

until pytorch adds an efficient operator you proposed in this issue?

[2021-11-21 18:15] vadimkantorov commented on #27522
Yeah, regular addition of many tensors would result in N intermediate tensors if I understand well + I don't know if TorchScript optimization can optimize this.

So yeah, I propose to chime in this issue if you consider such reductions useful and in the meantime inplace addition is useful.

[2021-11-21 18:16] vadimkantorov commented on #27522
for me it's a bit surprising there's a peak of just one additional tensor size

[2021-11-21 18:16] vadimkantorov commented on #27522
Maybe if your test doesn't require grads they will be deallocated quickly

[2021-11-21 18:25] stas00 commented on #27522
Yes, not O(N), but just O(2)

Feel free to experiment:

[code]
and then 4 jupyter cells:
[code]

[2021-11-21 18:46] vadimkantorov commented on #27522
From what I understand, in your test elements in `t` do not require gradients and thus this computation doesn't get tracked by autograd and are not kept around

[2021-11-21 21:15] randolf-scholz opened #68712 "torch.utils.data.Sampler is not recognized as a collections.abc.Sized"
## 🐛 Bug

According to the [documentation](https://pytorch.org/docs/stable/data.html):

However, the Sampler base class does not include `__len__` as an `@abstractmethod`. This causes `mypy` to not identify identify samplers as sized objects.

## To Reproduce

<details>
<summary>Steps to reproduce the behavior: call `mypy` on the following snippet</summary>

[code]
</details>

This will raise an e

[2021-11-21 23:08] mruberry commented on #67646
These failures seem to be happening more often:

https://github.com/pytorch/pytorch/runs/4270734613?check_suite_focus=true

[2021-11-21 23:10] mruberry opened #68716 "DISABLED test_default_store_timeout_nccl (__main__.TimeoutTest)"
Platforms: rocm

See https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-bionic-rocm4.3.1-py3.6-test-distributed/6507//console.

Relevant snippet:

[code]

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @SciPioneer @H-Huang @jeffdaily @sunway513 @jithunnair-amd @ROCmS

[2021-11-22 00:06] ruoshiliu commented on #33800
I'm getting similar error. Has this issue been resolved yet?

[2021-11-22 01:24] Xia-Weiwen commented on #68581
Please take a look at this issue. I guess it has something to do with weight initialization and might not be difficult to solve.

[2021-11-22 02:05] zou3519 commented on #68538
Hi @Linux-cpp-lisp, we've moved development of vmap into functorch (https://github.com/pytorch/functorch) where we have implemented batching rules for all of the operations you're referring to. The equivalent functorch API you will want to use is [functorch.jacrev](https://pytorch.org/functorch/generated/functorch.jacrev.html#functorch.jacrev).

Could you please let us know if using functorch.jacr

[2021-11-22 02:29] TingfengTang commented on #68638
@garymm, It works well in PyTorch1.8
the code snippet below will reproduce the runtime error:
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.quantization.quantize_fx as quantize_fx
class Model(nn.Module):
    def __init__(self):
        super(Model, self).__init__()
        self.conv_0 = nn.Conv2d(in_channels=12, out_channels=16, kernel_size=3)
        self.conv_1

[2021-11-22 03:13] thomasahle commented on #68482
I find it a little odd to change theta (the parameters), but maybe it's equivalent.
The paper doesn't do it like that (in Algorithm 2), but I agree that this is what the pytorch code seems to be doing.

[2021-11-22 03:15] indicator0 commented on #47702
Can't be more excited!!! Will new version leverages both Apple Silicon GPUs and Neural Engine? 32 GPU cores and 16 NPU cores would be cool for training and inferencing!

[2021-11-22 03:36] stas00 commented on #27522
If I use:
[code]
then everything changes depending on the many2one function from which backward is called, e.g.:

![snapshot_24](https://user-images.githubusercontent.com/10676103/142797061-dce93f9e-29c9-4b91-854f-bfb1dd912834.png)
and:
![snapshot_25](https://user-images.githubusercontent.com/10676103/142797066-0d2282da-6905-4d91-a44d-b0df9c02aade.png)

note that in both cases, your version doesn'

[2021-11-22 03:47] stas00 commented on #27522
I suppose that's now what we normally do. We do this instead:

![snapshot_27](https://user-images.githubusercontent.com/10676103/142797867-9f633887-5296-404c-9f0f-17c1523c0721.png)

Adding more elements doesn't change the memory consumption:

![snapshot_28](https://user-images.githubusercontent.com/10676103/142798013-3d116374-bae3-4285-a00a-097edb2bb19b.png)

[2021-11-22 04:15] ruipeterpan commented on #47885
I ran into this issue again and this time it's because I had exported the wrong `NCCL_SOCKET_IFNAME` environment variable. Just leaving a note here in case someone else might find it helpful...

[2021-11-22 07:26] KAUSTIKR commented on #68611
Hi Zhang,

Thanks, it worked for me.

On Fri, Nov 19, 2021 at 8:38 AM Yi Zhang ***@***.***> wrote:

[2021-11-22 07:47] #68611 closed

[2021-11-22 07:48] KAUSTIKR commented on #68611
install the pytorch in a clean virtual environment.

[2021-11-22 08:38] Heermosi commented on #52142
I've tried to disable the iommu of Linux, but it cannot help.
I still cannot use all the GPUs.
Before all, let me declare the environment:
Server Hardware:
       Hulk:  Dell R750xa
       CPU:  2xIntel Xeon Gold 6326
       Persistent storage:  8xKoxia 1.92TB
       RAM:  8x 32GB DDR4
       GPU: 4xA40 48GB
Server Software:
       OS: Ubuntu 20.04 Server LTS
       Installed Software: docker-ce,

[2021-11-22 08:45] pmeier commented on #68590
That is true for the current implementation. Using the example from https://github.com/pytorch/pytorch/issues/68590#issuecomment-973839734 and removing the `.coalesce()` calls, the error looks like this:

[code]

This works, since the `._indices()` are "fully" compared, i.e. attributes as well as values. In contrast, at this stage `assert_close` (which is functionally equivalent to the new impleme

[2021-11-22 09:07] waihokwok opened #68724 "Exported onnx graph is invalid when using a traced module with Conv and BatchNorm inside a scripted module with If"
## 🐛 Bug

When using a traced module with Conv and BatchNorm inside a scripted module with If, the output onnx graph is invalid.

## To Reproduce
### Code
[code]

### Output
[code]

I suspect that the issues comes from the jit optimization passes that try to fuse Conv and BatchNorm. The generated subgraphs torch-jit-export1 and torch-jit-export2 should not take any inputs according to onnx specifi

[2021-11-22 09:20] pearu commented on #68590
We can keep the NNZ check but this sounds like hiding a bug in the `assert_close` exception message. If `assert_close` is equivalent to `assertEqual` and `self._compare_regular_values(..., identifier="Sparse COO indices")` call seems to have enough info to compose an informative exception message, why does `assert_close` strips the `identifier` info?
It is possible that I am not following all the

[2021-11-22 09:33] pmeier commented on #68590
As the name implies, `self._compare_regular_values(..., identifier="Sparse COO indices")` will only compare the values and assumes that attributes like `.shape` or `.layout` were already checked. At the core, it simply calls `torch.isclose` on the inputs:

https://github.com/pytorch/pytorch/blob/7c6a8a47db112e6efe24d2d55d69fe634b732de1/torch/testing/_comparison.py#L774-L776

The error you see abov

[2021-11-22 09:39] pmeier commented on #68590
Leaving the NNZ discussion aside for now, what I get is that the following behavior is preferred:

1. Never check coalescences. This implies that the test contributor always needs to call `.coalesce()` themselves in case only representation equality is needed as detailed in https://github.com/pytorch/pytorch/issues/68590#issuecomment-973098211.
2. Remove the `check_is_coalesced` check as consequen