[2022-06-10 13:50] dagitses commented on #79275
@albanD @suo

[2022-06-10 14:26] julienr commented on #79274
For a fresh download from Switzerland, I get a different md5sum:
[code]

Is this some sort of CDN issue ?

[2022-06-10 15:02] #79260 closed

[2022-06-10 15:07] justinchuby opened #79279 "Support float tensors as float inputs"
### 🚀 The feature, motivation and pitch

Functions that take float tuples as inputs will complain about type mismatch when the input is `Tuple[Tensor]`. When using a dynamic computed value from tensor size as input to `upsample`, for example, the function will complain during tracing since the size is a tensor, whereas the function expects floats.

### Alternatives

_No response_

### Additional c

[2022-06-10 15:32] jbschlosser commented on #79161
@zou3519 I've gotten a PoC working locally that adds the support by enhancing the `active_if` arg that can be used with `DecorateInfo`. Usage is similar to what you've described - a lambda that accepts a dict with the params being passed to the test -> returning a bool for whether the `DecorateInfo` is active.

For the example from @kshitij12345, the relevant `OpInfo` entry would contain something

[2022-06-10 15:36] malfet commented on #79274
Can't reproduce it on my end: both `wget https://download.pytorch.org/whl/cu110/torch-1.7.1%2Bcu110-cp38-cp38-linux_x86_64.whl` and `curl -O https://pytorch.s3.amazonaws.com/whl/cu110/torch-1.7.1%2Bcu110-cp38-cp38-linux_x86_64.whl` yield binary with expected `3d7ca72d04412a82401ba0604a82a1cb` md5 sum

[2022-06-10 15:37] gchanan commented on #79268
this is consistent with NumPy.

[2022-06-10 15:44] david-engelmann opened #79283 "OOM Issues despite plenty of resources on M1 Mac"
### 🐛 Describe the bug

In a few different instances, I've run into an issue where during the loss.backward() suddenly the program will return "Killed". The first few iterations loss.backward() will be successful and then it just dies. I've tracked the disk usage as part of my troubleshooting and tons of memory remain before it fails. It only appears to be happening on my M1 Mac Mini. If I shrink

[2022-06-10 15:46] atalman commented on #79274
Can't reproduce it either
[code]
on mac from Eastern Canada

[2022-06-10 15:51] jannessm commented on #8921
I would be very interested in concatenation of packedsequences with other packedsequences or tensors!

[2022-06-10 16:03] AndreyPikunov opened #79286 "MPS device: Invalid type casting"
### 🐛 Describe the bug

Hello!
Thanks a lot for doing mps support.

I've faced the wrong type-casting of the tensors which are on the mps device.
Specifically,
[code]

This is my code:
[code]

And this is the output:
[code]

### Versions

[code]

cc @malfet @albanD @kulinseth

[2022-06-10 16:39] ezyang commented on #79279
Cc @Chillee @Krovatkin symbokic floats 🥶

[2022-06-10 16:50] #79262 closed

[2022-06-10 17:15] atalman commented on #78005
Link to landed master PR (if applicable):
*  https://github.com/pytorch/builder/pull/1055

Link to release branch PR:
* https://github.com/pytorch/builder/pull/1058

Criteria Category:
* Critical FIX

[2022-06-10 17:17] suo opened #79293 "Make MPS test workflow correctly report test stats"
It doesn't today, we should be calling the `upload-test-artifacts` action and making sure we generate the xml

cc @seemethere @malfet @pytorch/pytorch-dev-infra @kulinseth @albanD

[2022-06-10 17:18] suo commented on #79293
@malfet or @albanD, are you the right people for this

[2022-06-10 17:20] suo commented on #79293
Also, dependencies (numpy, expecttest) are not pinned

[2022-06-10 17:23] suo commented on #79293
Also, because IN_CI was not set, I think test reporting, test disabling, flaky test behavior were all not active.

This was uncovered by https://github.com/pytorch/pytorch/pull/79229 (and is a good argument for why we should use the built-in env var instead of one that we have to set ourselves!)

[2022-06-10 17:37] ezyang opened #93762 "torchdynamo does not handle tree_map correctly"
Allowed functions allows tracing tree_map but the function is not guaranteed to return a tensor so you can get

[code]

cc @soumith @msaroufim @wconstab @ngimel @bdhirsh

[2022-06-10 18:01] ezyang opened #93763 "allowed_functions_module_string_ignorelist doesn't work very well"
I noticed that adding torch.utils._pytree to the ignore list wasn't enough to induce dynamo into inlining it; I had to add it to the explicitly excluded functions list.

My hypothesis for why this is happening is that sometimes PyTorch modules accidentally reexport identifiers from other modules. These then get picked up and shoved into the allowlist.

To be honest, it's not clear to me why we ign

[2022-06-10 18:14] seemethere commented on #74480
- [ ] Migrate current templates to re-usable workflows, still codegen nightly / master builds using `generate_ci_workflows.py`
  - [ ] linux
  - [ ] windows
  - [ ] macOS
- [ ] When re-usable workflows gain the ability to use the `strategy: matrix` we can then migrate our codegen completely out

To regenerate workflows use `.github/regenerate.sh`

[2022-06-10 19:15] malfet commented on #79236
Sounds like classic object initialization hell. Distributed needs to use RAII or be linked in a particular order

[2022-06-10 19:20] MahdiNazemi opened #79299 "PyTorch gets stuck when using an NVLink/A6000 and more than two GPUs"
### 🐛 Describe the bug

When I utilize PyTorch’s distributed data parallel (DDP) to train the [ImageNet example](https://github.com/pytorch/examples/tree/main/imagenet) with two GPUs, NVLink is used successfully based on the performance counters. However, as soon as I increase the number of GPUs to three or more (up to eight), the training loop gets stuck at the very beginning.

If I set the envir

[2022-06-10 19:36] vors opened #79304 "[bazel] basic cuda tensor creation is getting program stuck"
### 🐛 Describe the bug

I'm not 100% certain that this repros on any bazel setup (since they are highly non-hermetic).
This repros for me on different machines with CUDA 11.2 and cuDNN 7.6.5

Repro:
Apply https://github.com/pytorch/pytorch/pull/79303

Run:
[code]

Expected output:

[code]

Actual output:

[code]
Then the program gets stuck.

### Versions

Recent master 4750f745bf9ab5f191d8d32c0660

[2022-06-10 19:40] andrewor14 opened #79307 "`torch.ao.quantization.quantize_fx.prepare_qat_fx` docstring doesn't run"
### 📚 The doc issue

This code example is in the docstring for `torch.ao.quantization.quantize_fx_prepare_qat_fx`:

https://github.com/pytorch/pytorch/blob/35eda5f95956c3631e5684d519213944ab66b012/torch/ao/quantization/quantize_fx.py#L495-L509

There are two issues:
(1) The import `from torch.ao.quantization import prepare_fx` doesn't actually work. The path is wrong.
(2) This example doesn't even

[2022-06-10 19:49] NivekT commented on #78005
Link to landed master PR (if applicable):
* https://github.com/pytorch/pytorch/pull/79302

Link to release branch PR:
* https://github.com/pytorch/pytorch/pull/79309

Criteria Category:
* Typo fix to regressions against the most recent minor release

[2022-06-10 20:37] jbschlosser commented on #78512
On our side we're unfortunately very busy so it's hard to prioritize this, but I'm happy to review the PR if anyone is willing to implement it.

[2022-06-10 21:06] sangkeun00 commented on #35802
This issue is still present. Can we know if anyone is working on this?

[2022-06-10 21:10] jbschlosser commented on #78878
Hey @kirk86, thanks for the detailed report!

We'd accept a PR updating the docs to make it clearer what the input / target formats should be.

There's no particular reason I can think of atm that we couldn't support an int `target` - it just hasn't been done yet.

For `CrossEntropyLoss`, note that both float (class probabilities) and int (class indices) targets are supported (this is detailed wit

[2022-06-10 21:19] lianakoleva commented on #77764
Trying to use `aten::index.Tensor`. Set `PYTORCH_ENABLE_MPS_FALLBACK=1`, but still getting the following error message:

NotImplementedError: The operator 'aten::index.Tensor' is not current implemented for the MPS device. If you want this op to be added in priority during the prototype phase of this feature, please comment on https://github.com/pytorch/pytorch/issues/77764. As a temporary fix, yo

[2022-06-10 21:32] jbschlosser commented on #78744
Hey @lessw2020, would a "set" version of `module.get_submodule('transformer.layers.0.0.fn.fn.to_qkv')` do the trick for you?

[2022-06-10 21:34] warner-benjamin opened #79321 "Using a Subclassed Tensor Results in Significant Decrease in Training GPU Throughput"
### 🐛 Describe the bug

Using a subclassed tensor results in a significant decrease in training GPU throughput. Some ~150-400 images/second using a torchvision ResNet50 depending on GPU and settings.

@tcapelle and I discovered that using a simple passthrough `torch.Tensor` subclass:

[code]
results in a ~150-200 images/second decrease in GPU throughput across Volta and Ampere generations compared

[2022-06-10 21:34] jbschlosser commented on #78868
We'd accept a PR guarding against 0 `output_size`.

[2022-06-10 21:54] #72527 closed

[2022-06-10 21:55] vors opened #79323 "[build] push containers used for PyTorch build in CI to GitHub container registry"
### 🚀 The feature, motivation and pitch

When trying to reproduce build / test problems from CI locally, one of the challenges it to get the same image that is used in CI worker. At the moment the images are stored in private registry. Although one could re-build them locally, this is both time-consuming and potentially error prone. It would be much easier to grab container with the same sha256 as

[2022-06-10 22:00] albanD commented on #35802
Hi,

No one is working on this no. But we would accept a PR fixing this!

[2022-06-10 22:07] geohot commented on #51430
Can confirm this is true, and wasted 2 hours on it.

The initial repeat is wrong, as it's also repeating the groups. Line 35 in that commit is the fix.

See my fix in my neural network library here: https://github.com/geohot/tinygrad/commit/8864b373338886a9173d3f823154815535104f28

[2022-06-10 22:09] vors commented on #79304
Stack trace

[code]

[2022-06-10 22:22] malfet commented on #78005
Link to landed master PR:

 * #78575

Link to release branch PR:

 * https://github.com/pytorch/pytorch/pull/79315

Criteria Category:

  * Fixes regression from previous release
---
@malfet: merged

[2022-06-10 22:27] davidberard98 opened #79325 "[NVFuser] hitting fallbacks on demucs (from torchbench + lazy tensor)"
### 🐛 Describe the bug

NVFuser is hitting a fallback when running demucs on torchbench + lazy tensor.

Repro:
[code]
Error:
[code]

Stacktrace:
[code]

### Versions

A100, torchbench = main, pytorch = viable/strict.

cc @jjsjann123

[2022-06-10 22:47] voznesenskym opened #93764 "Replace `make setup_nightly` with a requirements.txt workflow to take advantage of GH actions cache"
Doc: https://github.com/actions/setup-python#caching-packages-dependencies

cc @ezyang @soumith @msaroufim @wconstab @ngimel @bdhirsh

[2022-06-10 23:37] redmagnos commented on #61854
So I think this must've been fixed at some point? Running either the original code to reproduce or the snipped linked by @vadimkantorov seems to work just fine with cpu as the device.

[2022-06-11 01:14] fduwjj commented on #79022
Hi, thanks for reporting this. I tried to run this on AWS cluster and it seems to be ok. So my guess is that this is a Mac specific environment. I don't have Mac PyTorch Env, I am wondering if any of you guys have that? @rohan-varma @awgu @zhaojuanmao Thanks!

[2022-06-11 01:30] fduwjj commented on #79171
Hi, thanks for your question. I can repo this locally. If I change the flag `static_graph` to False and `find_unused_parameters` to True, it works now. To my shallow understanding and based on the wiki of DDP. When `static_graph` set to True, DDP knows the trained graph is static. Static graph means 1) The set of used and unused parameters will not change during the whole training loop; in this ca

[2022-06-11 01:42] wangchangquan commented on #51553
hello, have you solve the problem? i encounter the same.

[2022-06-11 02:06] jinfagang opened #79332 "How to reimplement same behavior in AdaptiveAvgPooling2D"
### 📚 The doc issue

Hi, am trying written an op which should mimic behavior in Pytorch's AdaptiveAvgPooling, but I can not align the result.

Here is what I do:

[code]

the `b` and `c` are not equal.

My algorithm was:

[code]

I think there maybe some gap in real algorithm in pytorch. But can not found any where said it.

so, please make me clarify.

### Suggest a potential alternative/fix

Det

[2022-06-11 03:11] wwdok commented on #46237
what if there is no 'torch.onnx.export()' ? see https://github.com/waleedka/hiddenlayer/issues/95

[2022-06-11 03:12] whatyouknow123 commented on #46237
您好，邮件我已经收到了，会尽快回复的，祝安

[2022-06-11 03:37] trantuanngoc opened #79333 "[ONNX] Internal assert error during export"
### 🐛Bug
When exporting pytorch script model to onnx, I get an error: ` input_values.size() == param_count_list.size()INTERNAL ASSERT FAILED at "../torch/csrc/jit/python/script_init.cpp":493, please report a bug to PyTorch.  `
[code]
### Expected behavior
Successful model export to ONNX.
### Environment

PyTorch version: 1.11.0+cu113
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used

[2022-06-11 03:53] jonhilgart22 opened #79336 "Batches are being duplicated from go httpd call"
### 🐛 Describe the bug

Hi there,

I'm currently testing a  sentence bert (MNLI) model hosted on torchserve GPU.  Here is the relevant encoding call.

[code]

I'm testing two entrypoints to understand latency of this model.

This first, is in python with a simple requests call

[code]

For the python call, with 10 encodings of ~6500 chars each (total 65k), I see a prediction latency of ~90-120ms.

[2022-06-11 05:38] SaoYan opened #79337 "Conda install from pytorch-nightly channel does not install the expected version on macOS"
### 🐛 Describe the bug

A similar error occurred before https://github.com/pytorch/pytorch/issues/33103
Another related issue https://github.com/pytorch/pytorch/issues/78681

Platform: macOS 12.4, Apple M1 Max
Conde version 4.13

1. When installing pytorch only the expected nightly build version (1.13) is installed

[code]

2. When installing pytorch together with torchvision, ```conda-forge``` ch

[2022-06-11 06:25] MrDavinci opened #79338 "Adamw cannot set different lrs to different parameters"

[2022-06-11 06:25] julienr commented on #79274
Problem seems solved on my end this morning in Switzerland. I get the correct `3d7ca72d04412a82401ba0604a82a1cb`.
I confirmed this from two different machines/internet connections.

[2022-06-11 06:34] frankroeder commented on #77764
The operator `aten::logical_and.out` is also missing.

[2022-06-11 06:35] AI-Guru commented on #77764
The operator `aten::cumsum.out` would be essential to get the Hugging Face models up and running

[2022-06-11 06:58] #79338 closed

[2022-06-11 10:53] nitaifingerhut opened #79346 "`torch.gradient` need to check only dims specified by user and not all input tensor's dims"
### 🐛 Describe the bug

issue [58165](https://github.com/pytorch/pytorch/pull/58165) changed `torch.gradient` behavior, which now check all dims of input tensor are >= `edge_order+1`. IMHO the check should only be applied to the dims specified for gradient computation.
steps to reproduce:
[code]
raises:
[code]
due to these lines
[code]
however, this tensor is applicable for gradient computation on

[2022-06-11 11:15] weiaicunzai commented on #30532
Agreed,  a CUDA capability matrix of Pytorch on the official website would be very helpful.

[2022-06-11 12:02] NoNick96 opened #79347 "Cannot install Torch"
### 🐛 Describe the bug

I'm trying to install torch on Windows 11 with Python 3.9 installed by using the command:
`pip3 install torch torchvision torchaudio`
I'm getting this error:
`ERROR: Could not find a version that satisfies the requirement torch (from versions: none)`
`ERROR: No matching distribution found for torch`

### Versions

Pip version 22.1.2

[2022-06-11 12:26] vors opened #79348 "[bazel] build doesn't use sccache"
### 🐛 Describe the bug

A build with sccache used to take 15 minutes according to @malfet .
Right now it take 65-70 minutes. This probably indicates that sccache is not used.
However this also could be because previously GPU build was not enabled and no it is.

This needs a quick investigation.

### Versions

master

[2022-06-11 12:28] scirocc opened #79349 "PyTorch get positive log_prob of a multivariate normal distribution"
### 🐛 Describe the bug

PyTorch get positive log_prob of a multivariate normal distribution

version is 1.11.0
here is the code:
[code]
And I get result 0.0006

### Versions

version is 1.11.0
here is the code:
[code]
And I get result 0.0006

[2022-06-11 12:53] #74380 closed

[2022-06-11 13:17] HSunshine99 commented on #28945
你好，我想问下怎么检查USE_PYTORCH_QNNPACK标志呢，感谢你的帮助

[2022-06-11 14:44] vors opened #79351 "[bazel] ability to run gpu tests on gpu machines in RBE"
### 🚀 The feature, motivation and pitch

As a user who builds pytorch using bazel and Remote Build Execution, I need a way to tell the remote build to use GPU machines for tests that require GPU. In order to achieve this, it's beneficial to consolidate all tests usage through the common macros definition.

### Alternatives

Build and test everything on GPU machines. Very expensive.

### Additional

[2022-06-11 14:45] jxtps opened #79352 "Adam not optimally implemented: unnecessary torch.div"
### 🚀 The feature, motivation and pitch

Adam is implemented in https://github.com/pytorch/pytorch/blob/master/torch/optim/adam.py#L259 using the following effective formula (terminology from the [paper](https://arxiv.org/abs/1412.6980) and the code with light abbreviations):
[code]
This formulation requires an additional division of the full-sized tensor `sqrt(v)` by `bias2`. Presumably it was do

[2022-06-11 14:52] jxtps commented on #79352
This `div` op appears to take ~15% of the Adam execution time, so the refactoring could bring a noticeable speed increase.

[2022-06-11 14:57] xiurobert commented on #79274
@restaste can you confirm if this is still an issue?

[2022-06-11 15:03] restaste commented on #79274
Just gave this a try and that seems fixed as well on my side. Must have been a Swiss thing then probably. I'll close this then, thanks everyone!

[2022-06-11 15:03] #79274 closed

[2022-06-11 15:04] jxtps commented on #79352
Adam (and presumably others) would also greatly benefit from "element-wise mixing operations" - [right now the code is](https://github.com/pytorch/pytorch/blob/master/torch/optim/adam.py#L251):
[code]
which (at least on pytorch v1.10) leads to separate kernel launches for each individual op. Since they appear 100% memory bound, fusing them would lead to a "free" speedup:
[code]
(Ideally with bette

[2022-06-11 15:11] vadimkantorov commented on #79352
I think for convex combinations alpha / 1-alpha, there already exists such an op lerp/lerp_ (although generalization for two arbitrary weights may be useful two, or explicitly documenting behavior for alpha not in [0, 1])

Related: https://github.com/pytorch/pytorch/issues/71683

[2022-06-11 15:56] nelhage commented on #69443
It looks like this fix is not yet in any released version; is that correct?

Is there a workaround available without building a new release from source?

[2022-06-11 16:42] konstin commented on #47916
This still affects torch-1.11.0-cp38-cp38-manylinux1_x86_64.wh/ and torch-1.11.0.dist-info/METADATA. Recorded: `sha256=x2b7fcuKitL9bgjcoY_QoDn6F9ocwlkDxhK5tbku_ag`, Actual: `sha256=shdSa8B3YFfHAfuF0k9niOKJDeQ8VfqWHKlsUWktK0s`. This means that the wheel violates PEP 427 and it's impossible to install torch with an installer that actually verifies the hashes

[2022-06-11 17:09] Birch-san commented on #77764
Thanks for tracking these.

`aten::index.Tensor_out` is used by [`cene555/Imagen-pytorch`](https://github.com/cene555/Imagen-pytorch).

[2022-06-11 17:26] suo commented on #77165
This would be nice…doing https://github.com/pytorch/pytorch/pull/78828 revealed a *lot* of places where our headers are comically broken.

[2022-06-11 21:33] vors commented on #79236
Stack trace from gdb

[code]

[2022-06-11 21:56] vors opened #79354 "[CI] [bazel] run GPU-requiring tests on a GPU machine"
### 🚀 The feature, motivation and pitch

At the moment we use the same CPU-only build machine for tests in bazel build.
This prevents GPU-requiring tests from being tested in CI.

There are couple of ways to go about it:
1. If https://github.com/pytorch/pytorch/issues/79348 could be addressed and the time could be dropped to 15 minutes, we can use simply use the same machine with GPU for both buil

[2022-06-11 22:24] vors opened #79355 "[bazel] build spams warnings"
### 🐛 Describe the bug

Minor annoyance about bazel build:
it doesn't use the same COPTs as the CMake build for the warning ignores, which leads to a lot of spam during the build.
It would be useful to do something like "build_variables.bzl" but for the COPTs.

### Versions

master 164029f783ba52d206862925e9341e6b851179ff

[2022-06-11 22:38] robieta commented on #69443
It will be in 1.12 which is currently in the release process. You can also download nightly binaries to track head without having to rebuild.

[2022-06-11 23:55] #31135 closed

[2022-06-12 00:25] xsacha opened #79358 "MSVC: vec_base size template fails with divide by sizeof(scalar_t)"
### 🐛 Describe the bug

When compiling the latest master libtorch on MSVC (MKL + MKLDNN + CUDA + CUDNN), I face this error:

You can see from the error it is trying to get sizeof(scalar_t) and failing for some reason.

### Versions

Master from 10th June onwards (haven't tested prior).
Was working at start of May.
Last change to the respective files was 24 days ago but I can't see any specific cha

[2022-06-12 00:56] xsacha commented on #79347
Make sure it is 64-bit python. There is no torch available on 32-bit python

[2022-06-12 01:50] jiapei100 commented on #58054
@mascguy Now, it's already google-glog 0.6.0
Any patch for that?

[2022-06-12 02:02] xiurobert opened #79359 "[build] No documented way to install C++ binaries for pure-python development of pytorch"
## Issue description

There is currently no method documented to facilitate pure python development of PyTorch. This results in unnecessary compilation and building for those who just want to work on the Python part of PyTorch.

Even after disabling almost everything as documented in the "Install from Source" portion in README, the compilation can still take a long time. This feels quite unnecessa

[2022-06-12 02:03] xiurobert commented on #79347
Can you please run the environment collection script?

[2022-06-12 03:19] lazycal opened #79361 "[ONNX Export] Interpolation likely should be exported with `half_pixel` instead of `pytorch_half_pixel`"
### 🐛 Describe the bug

PyTorch currently exports Interpolation op to ONNX Resize op with `pytorch_half_pixel` mode:
https://github.com/pytorch/pytorch/blob/5413580f9e6ce1d490d0b137595574befd28d5f4/torch/onnx/symbolic_helper.py#L798

This seems to be incorrect now as it appears that the behavior of PyTorch's Interpolation has changed to `half_pixel` (see the difference to `pytorch_half_pixel` here

[2022-06-12 08:19] cow8 commented on #79270
@xsacha IT IS! thanks  a lot!
update dated sample code:
[code]

updated sample output:
[code]

[2022-06-12 08:36] #79270 closed

[2022-06-12 08:36] xsacha commented on #79270
Looks good :)
The A10 is an awesome GPU for training too :)

The accuracy issue is why TF32 is now disabled by default :(

[2022-06-12 08:54] potulabe opened #79375 "TorchScript bidirectional lnlstm from example doesn't work"
I tried to run a bidirectional LNLSTM from example benchmarks/fastrnns/custom_lstms.py with code:
[code]

It caused such error:
[code]

[2022-06-12 12:15] acxz commented on #73113
@malfet can this issue be closed since https://github.com/pytorch/pytorch/pull/75394 has been merged in?

[2022-06-12 12:16] acxz commented on #70297
Looks like https://github.com/pytorch/pytorch/pull/75394 will also successfully resolve this. I think this can be closed @Miezhiko

[2022-06-12 12:52] RRobert92 commented on #77764
The operator`aten::_cdist_forward` is missing

[2022-06-12 14:45] xsys-technology commented on #45028
'pip3 install'  [https://pytorch.org/get-started/locally/](https://pytorch.org/get-started/locally/) worked for me

[2022-06-12 14:45] MrStarry commented on #45028
我已收到您的邮件，将尽快处理并回复

[2022-06-12 14:48] vors commented on #79354
One idea for implementing option (2):
- use https://github.com/bazelbuild/rules_docker to pack all the tests with deps into a container
- write a small test runner in the entrypoint that would execute tests sequentially in the container
- ship the container to GPU-equipped machine

[2022-06-12 16:02] khushi-411 commented on #78512
Hi, I'm picking up this issue! Looks interesting to me. Will send a PR soon :) Thanks!

[2022-06-12 17:02] xlla opened #79382 "torch failure to open libcuda.so.1 on macOS"
### 🐛 Describe the bug

the torch had a hardcode of cuda lib soname, it does not match the macOS version, it is libcuda.dylib

I just try to run an example on [stable-baselines3](https://github.com/DLR-RM/stable-baselines3) ,  it raise exception

<pre>
Traceback (most recent call last):
  File "/Users/xlla/test/test-stable-baseline3.py", line 11, in <module>
    model.learn(total_timesteps=10_000)

[2022-06-12 18:36] ngimel commented on #61854
Yeah, closing as fixed

[2022-06-12 18:36] #61854 closed

[2022-06-12 18:58] Birch-san opened #79383 "Incorrect image upscaling on MPS backend"
### 🐛 Describe the bug

Upscaling images via [Real-ESRGAN](https://github.com/xinntao/Real-ESRGAN) works on-CPU, but produces visually-incorrect output using MPS backend on M1 Max.

Using PyTorch nightly build, `1.13.0.dev20220610`.

# Setup

I've made an [mps-repro](https://github.com/Birch-san/mps-repro) repository for this.
[`repro.py` here](https://github.com/Birch-san/mps-repro/blob/main/repr

[2022-06-12 19:30] Birch-san opened #79384 "torch.load() fails on MPS backend ("don't know how to restore data location")"
### 🐛 Describe the bug

[code]

[code]

Error thrown [from serialization.py](https://github.com/pytorch/pytorch/blob/bd1a35dfc894eced537b825e5569836e6a91266d/torch/serialization.py#L178):

[code]

I think the solution will involve adding a [`register_package()` entry](https://github.com/pytorch/pytorch/blob/bd1a35dfc894eced537b825e5569836e6a91266d/torch/serialization.py#L160-L161) for the mps back

[2022-06-12 19:37] jxtps commented on #79352
Additional references:

* https://github.com/pytorch/pytorch/issues/38655
* https://github.com/NVIDIA/apex/blob/master/apex/optimizers/fused_adam.py (and https://github.com/NVIDIA/apex/tree/master/apex/optimizers )
* https://github.com/pytorch/pytorch/blob/master/torch/optim/adam.py#L168

So it looks like pytorch v1.11 added the multi-tensor ops (SIMD for tensors!? ;) and its updated Adam implemen

[2022-06-12 20:14] vadimkantorov commented on #79352
There is still no multi-tensor lerp op, so mixing is still done in two steps mul_, addcmul_. So probably it still makes twice as many memory accesses. In https://github.com/pytorch/pytorch/issues/71683 I'm proposing to introduce a multi-tensor lerp for mixing two tensors.

But in general your idea of torch.mix as a generalization of torch.lerp: a*x + b*y in one go, may still be cool

[2022-06-12 20:28] giuseppebrb commented on #77886
Same issue try running YOLOv5s with mps on M1 Pro

[code]

[2022-06-12 20:54] yoniker commented on #71381
@barissayil You closed the issue, how did you solve it?

[2022-06-12 23:17] ekhahniii commented on #79171
@fduwjj The point of this issue is to demonstrate that DDP's detection of unused parameters is incorrect for the case `static_graph=True` and `find_unused_parameters=False`.

In the example, each forward pass through `m` produces `m.a(x)` and `m.b(x)`. Notably, only `m.a(x)` is used to calculate the loss. Thus, the sets of used and unused parameters do _not_ change over time. Does this not satisfy

[2022-06-13 00:29] xsacha opened #79387 "caffe2_nvrtc is produced even when it won't be used"
### 🐛 Describe the bug

The library is produced whenever CUDA is enabled. However, in the code, lazyNVRTC is called instead of loading this library. The only situation it appears to be used in is for ROCm.

Perhaps the library should only be produced for ROCm builds?

### Versions

Has been like this for a long time. Affects any modern version.

[2022-06-13 01:17] tingweiwu opened #79388 "Init connect timeout when use torch.distributed.run"
### 🐛 Describe the bug

TRAINING_SCRIPT.py
[code]
when I run this on both node0 and node1
[code]
I get the error from both node0 and node1
[code]
but when I change the run
on node0 (use localhost instead of IP1)
[code]
on node1
[code]
it go well.

the output of node0
[code]
the output of node1
[code]
another  strange thing is that when I use deprecated module `torch.distributed.launch`, it goes we

[2022-06-13 01:57] ezyang commented on #79146
Yes that is true.

I don't think PT moves so fast that rebasing 2+ days is always necessary. But the BC tests always run and will always fail if someone adds new ops in master

[2022-06-13 02:23] teddykoker opened #79394 "Einsum producing inconsistent results to sum()"
### 🐛 Describe the bug

Given a 3-dimensional and 2-dimensional matrix, `a` and `b` respectively, `torch.einsum("bij,bj->b", a, b)` and `torch.einsum("bij,bj->bi", a, b).sum(dim=1)` will produce different output. For example:

[code]

Will produce the following output:

[code]

The norm between the two solutions increases with the size of the matrices, and `torch.allclose()` is not always `True` w

[2022-06-13 02:31] ezyang opened #79395 "SymInt equality tests are unsound"
### 🐛 Describe the bug

Current implementation is

[code]

This is unsound. Two sym ints can be referencing different symbolic variables but after guarding on their concrete values we may discover they are equal and == should return true. These need to be virtualized like the rest of the operators on SymInt.

@Krovatkin

### Versions

master

[2022-06-13 03:53] Lezcano commented on #51430
cc @nikitaved could you have a look at this one?

[2022-06-13 06:42] hxssgaa opened #79402 "Performance drops after running tensor multiplication for 15 seconds on M1 MAX (Pytorch MPS)."
### 🐛 Describe the bug

Performance drops to half of the original performance after running tensor multiplication for 15 seconds on M1 MAX (Pytorch MPS).

Python version: 3.9.7
OS: macOS 12.4
Pytorch version: 1.13.0.dev20220612

The code below reproduces the error:
[code]

The above code works fine for RTX 3090 and performance never drops (by changing mps to cuda), but the performance will drop fr

[2022-06-13 06:52] weigq opened #79405 "nesterov in SGD"
https://github.com/pytorch/pytorch/blob/cdf93b03de7ffc33e2762f7fefb8f3c7586fd051/torch/optim/sgd.py#L70-L74

Why dose set the `nesterov` as False when calling `__setstate__`?

[2022-06-13 08:14] rohan-varma commented on #79171
This makes sense - based on this example it does not appear that "not all outputs used in loss" is supported with static_graph=True.

cc @zhaojuanmao

[2022-06-13 08:29] yvr1037 opened #79407 "Conda enviroment"
### 🐛 Describe the bug

Traceback (most recent call last):
  File "/data1/yvr/.conda/envs/opt/bin/opt-baselines", line 33, in <module>
    sys.exit(load_entry_point('metaseq==0.0.1', 'console_scripts', 'opt-baselines')())
  File "/data1/yvr/.conda/envs/opt/lib/python3.7/site-packages/metaseq-0.0.1-py3.7-linux-x86_64.egg/metaseq/launcher/opt_baselines.py", line 314, in cli_main
    get_grid, postpr

[2022-06-13 08:47] chenbohua3 commented on #47162
Hi @wanchaol, is there any update on this issue?

[2022-06-13 08:47] johnnynunez commented on #77764
[code]
Using ``` PYTORCH_ENABLE_MPS_FALLBACK=1 ```

[2022-06-13 08:49] Birch-san commented on #77764
@johnnynunez thanks for reporting; that one's been reported [above](https://github.com/pytorch/pytorch/issues/77764#issuecomment-1152966536) already

[2022-06-13 10:05] kokamido opened #79410 "BUG: Segmentation fault when calling pytorch function after np.exp (numpy 1.21.2)"
### 🐛 Describe the bug

Hi! There is an issue connected to numpy and pytorch. It reproduces with numpy==1.21.2 from conda.
If I run provided code example with SIZE=15 then both print functions (they are exactly the same) will print True. If I run it with SIZE=20, the first print will display True but the second will crash because of segmentation fault. If I run it with SIZE=1000 it will display Tr

[2022-06-13 10:49] nguyenvinhlinh commented on #71381
I work around is to use different python image tag!
I use non-alpine image ex: python:3.9.7 for example.

[2022-06-13 10:53] vadimkantorov commented on #79410
As further found by @kokamido, opencv works around gcc/avx issues by doing register clean up before/after ops (and maybe detect/report incorrect state): https://github.com/opencv/opencv/pull/12964

maybe PyTorch should do the same to guard against gcc bugs and similar bugs in user code dependencies

[2022-06-13 11:31] giuseppebrb commented on #78916
Same issue using: Python-3.9.12 torch-1.13.0.dev20220612

[2022-06-13 12:32] ammaryasirnaich commented on #69519
However, `torch.histc(input, bins=100, min=0, max=0, *, out=None)` works as an alternative

[2022-06-13 13:36] domdal opened #79415 "torch.nn.modules.pooling return_indices and ceil_mode reversed"
In _MaxPoolNd the order of return_indices and ceil_mode differs from the order in MaxPool1d (and 2d, 3d)

_MaxPoolNd
https://github.com/pytorch/pytorch/blob/0e25a9490ba2991ac4a44d132e3656c9254ca453/torch/nn/modules/pooling.py#L18-L20

MaxPool1d
https://github.com/pytorch/pytorch/blob/0e25a9490ba2991ac4a44d132e3656c9254ca453/torch/nn/modules/pooling.py#L87-L90
MaxPool2d
https://github.com/pytorch/p

[2022-06-13 13:47] atalman commented on #78005
Link to landed master PR (if applicable):
* https://github.com/pytorch/pytorch/pull/79220

Link to release branch PR:
* https://github.com/pytorch/pytorch/pull/79416

Criteria Category:
*  Critical CI Fixes

[2022-06-13 15:21] suo opened #79418 "Add doc formatting check to lintrunner"
From @mruberry: Docs are difficult to build locally (our documentation for how to do so is often out of date) and formatting errors in CI appear without line numbers (in at least some cases). Some recent example errors/warnings:

[code]

If lintrunner could detect doc formatting issues it would making adding/updating docs much easier.

[2022-06-13 15:31] n2018k opened #79419 "Pytorch for PPC64LE"
### 📚 The doc issue

what versions of Pytorch are available for PPC64LE, RedHat 7.X, and CUDA 10.2?

### Suggest a potential alternative/fix

_No response_

[2022-06-13 15:57] janeyx99 commented on #79146
Back in the day, I remember we simply checked out the most recent master for this check, instead of the base of the branch. If we're going to be thinking about pinning the branch, should we just go back to checking out latest master + adding a big comment about that?

[2022-06-13 16:09] janeyx99 commented on #79074
cc @zengk95 @suo @clee2000

[2022-06-13 16:16] suo commented on #79074
This isn't related to rocm; I think sometimes github just doesn't deliver webhooks.

[2022-06-13 16:22] KarelPeeters commented on #79333
It's very easy to reproduce with just a single `MultiheadAttention` layer, `torch.jit.scipts` and then `torch.onnx.export`:

[code]

[2022-06-13 16:36] #79259 closed

[2022-06-13 16:43] ezyang commented on #79146
You mean, merge with master? IIRC people didn't like it because the CI jobs didn't reflect the code you had actually pushed.

[2022-06-13 16:48] ezyang opened #79425 "API for accessing SymIntNode mandates refcount bump even when it is unnecessary"
### 🐛 Describe the bug

For example, toSymbolicIntNode could profitably return a reference but it returns a shared pointer forcing refcount bump.

### Versions

master

cc @Krovatkin

[2022-06-13 16:50] jbschlosser commented on #77427
Hey @zaccharieramzi, thanks for the detailed report. I agree we should clarify what is going on in the docs wrt when Bessel's correction is applied. If you'd like to submit a PR doing so, I'm happy to review it.

[2022-06-13 16:57] ngimel commented on #79009
Is this a duplicate of #77742?

[2022-06-13 16:57] jansel opened #93765 "Guards for a linked list will be `O(n^2)`"
Suppose the user creates a linked list like data structure.  The guards might be something like:
[code]

Since each line in the guards starts from `f_locals`, accessing the nth item will be `O(n)` and the total guards will be `O(n^2)`.  Something similar might also happen for deep `nn.Module` hierarchies.

We should rewrite how do codegen for guards to include [common subexpression elimination](ht

[2022-06-13 17:03] seemethere commented on #79083
cc @suo

[2022-06-13 17:10] cmclean165 commented on #77886
same issue when running with stable baselines 3 contrib PPO recurrent
`/AppleInternal/Library/BuildRoots/b6051351-c030-11ec-96e9-3e7866fcf3a1/Library/Caches/com.apple.xbs/Sources/MetalPerformanceShaders/MPSCore/Types/MPSNDArray.mm:782: failed assertion `[MPSNDArray, initWithBuffer:descriptor:] Error: buffer is not large enough. Must be 576 bytes`

[2022-06-13 17:12] suo commented on #79083
Unfortunately we rely on pushing git tags in our CI infra, so it's not an easy fix to stop.

I couldn't find documentation on the atom feeds generated by GitHub repos, do you know if there's any way to customize it?

[2022-06-13 17:13] WilliamTambellini commented on #79333
@KarelPeeters  good steps.
Have you tried a JIT export:
torch.jit.save(model, 'output.jit')
?

[2022-06-13 17:15] atalman commented on #78005
Link to landed master PR (if applicable):
* https://github.com/pytorch/builder/pull/1012

Link to release branch PR:
* https://github.com/pytorch/builder/commit/72c069781f7882f60a3355765890a4c2e686d071

Criteria Category:
* Critical CI fixes

---
@malfet merged

[2022-06-13 17:26] jbschlosser commented on #51430
I'll look into rewriting the back of these APIs to use the general `convolution_backward` op now that it exists. That should remove any discrepancies and fix this bug.

[2022-06-13 17:35] zhaojuanmao commented on #79171
I see, will take a look at this, thanks for reporting

[2022-06-13 17:44] ngimel commented on #79191
For the passing case, the profile shows
[code]
so with a bigger batch (?) the gridDim.y becomes 65536 which is more than a max.

[2022-06-13 17:44] atalman commented on #78005
Link to landed master PR (if applicable):
* https://github.com/pytorch/pytorch/pull/79024

Link to release branch PR:
* https://github.com/pytorch/pytorch/pull/79429

Criteria Category:
* Critical CI Fixes

[2022-06-13 17:47] malfet commented on #79083
Let me file an issue with GitHub to see if there is way to push tags/configure RSS feed updates.

[2022-06-13 18:05] ngimel commented on #79191
Smaller repro
[code]

[2022-06-13 18:10] ngimel commented on #79394
This is expected https://pytorch.org/docs/stable/notes/numerical_accuracy.html

[2022-06-13 18:10] #79394 closed

[2022-06-13 18:15] mikaylagawarecki commented on #79405
My understanding is that this is for backward compatibility when loading old models, on master `maximize` and `foreach` are also set to their defaults in `__setstate__`

https://github.com/pytorch/pytorch/blob/dcd8900c39a288b7c7b23bdadfa24d21609908a9/torch/optim/sgd.py#L107-L112

[2022-06-13 18:29] yushangdi opened #93766 "RuntimeError: Found an argument of type numpy.int64 at index 0."
I got the following error when using `aot_module` on model fastNLP_Bert and speech_transformer .

RuntimeError: Found an argument of type numpy.int64 at index 0. Non-tensor arguments must be marked static. Please set the static_argnums correctly to mark the argument at index 0 static.

The aot_module is used like below:

[code]

@anijain2305

cc @ezyang @soumith @msaroufim @wconstab @ngimel @bdhir

[2022-06-13 18:38] jbschlosser commented on #79415
Duplicate of #62545 - closing this issue and reopening there instead.

TL;DR: we previously tried to fix this but found that it's too much trouble to be worth it. In particular, maintaining BC (especially wrt JIT) is not easily doable

[2022-06-13 18:38] #79415 closed

[2022-06-13 18:39] jbschlosser commented on #62545
Reopening since it's still an issue.

[2022-06-13 18:39] janeyx99 commented on #79146
Yeh, oh I guess with a pin the code you pushed is still what you expect and there would be no risk for a merge conflict. Alright. I'm going to give Nikita's suggestion a try.

[2022-06-13 18:51] redmagnos commented on #79346
This seems to have already been fixed at some point? Code now has checks for that:

[code]
And running the snippet in the issues is no longer raising an error.

[2022-06-13 18:55] ngimel commented on #77081
cc @zou3519, @jbschlosser were there any changes to dropout2d to support vmap/no-batch-dim? High priority for silent wrong results, thanks @thinline72 for narrowing down this bug.

[2022-06-13 19:16] shivaang12 commented on #48959
+1

[2022-06-13 19:16] albanD commented on #79421
Some summary and next step:
- When building torch with the toolchain containing clang 13.0 and torchvision with the toolchain containing clang 13.1. Some incompatibly leads to the dispatcher doing very wrong things.
- We suspect some ABI issue between the two generated binaries see @malfet comments above.
- Making sure that all libraries use the same toolchain fixes the issue and has been done now

[2022-06-13 19:16] IvanYashchuk commented on #79009
Yep, closing in favor of https://github.com/pytorch/pytorch/issues/77742.

[2022-06-13 19:16] #79009 closed

[2022-06-13 19:28] zou3519 commented on #77081
On the functorch side, I see https://github.com/pytorch/pytorch/pull/72078 but haven't tested it

[2022-06-13 19:31] zou3519 commented on #77081
https://github.com/pytorch/pytorch/pull/69885 looks suspicious

[2022-06-13 19:35] redmagnos commented on #79218
I'm gonna try to tackle this if no one else is already looking into it.

[2022-06-13 19:39] #79040 closed

[2022-06-13 19:39] stas00 commented on #76287
just to update all the other configs were apparently already part of the default SLURM config, so they made no difference but it appears that `NCCL_ASYNC_ERROR_HANDLING=1` did help.

Albeit it still takes 15min for the slurm to exit - but it's much much better now! Thank you for that suggestion, @d4l3k

[2022-06-13 19:42] drisspg opened #79447 "Update autograd engine to support nested tensors"
### Summary
This issues is the follow up to #79040, and is one in a series of issues that track adding support to autograd for nested tensors. The work needed here is to utilize the new metadata interface to be able to appropriately switch between regular and nested tensors in the autograd engine for all shape checks.

### Linked PRs
- #79553
- #79616
- #79446

### Updates
- Split  off part of #79

[2022-06-13 19:47] d4l3k commented on #76287
@stas00 if you want to reduce that timeout you can change the process group setting: https://pytorch.org/docs/stable/distributed.html#torch.distributed.init_process_group

Defaults to 30 minutes

[2022-06-13 19:52] kshitij12345 commented on #77081
#69885 did update the behaviour of `Dropout2d` and `Dropout3d` to zero entire channels instead of few random values in channel (like the docs claimed) for no-batch-dim case. So if 3-D input is passed, dims are treated as `C, H, W` and hence the whole channels will get dropped which is documented in the docs.

Relevant Issue: https://github.com/pytorch/pytorch/issues/69801

[2022-06-13 19:54] ngimel commented on #77081
But you can't just assume that if input is 3d, it has no batch dim, that's the problem reported here.

[2022-06-13 19:56] kiedanski opened #79449 "UnboundLocalError: local variable 'ws' referenced before assignment"
https://github.com/pytorch/pytorch/blob/c10908cd41f6fe18a4d61704d7013d46bb05aeaf/torch/utils/data/dataloader.py#L261

`ws` is not defined within the elif statement.

cc @VitalyFedyunin @ejguan @NivekT

[2022-06-13 19:57] mruberry commented on #78050
Summary of offline conversation:

- let's make operators have stride-agnostic semantics (ideally by changing to copy-on-write behavior in PyTorch eager, but it's OK to diverge the references from eager mode here for awhile, especially if we add some detection for when a discrepancy would occur)
- let's try to model elementwise stride propagation (we know this is inconsistent in PyTorch today)
- le

[2022-06-13 19:57] stas00 commented on #76287
Then it's something else that's hanging for ~10min after NCCL crash - as we haven't changed the defaults from 30min - so it's some other timeout.

[2022-06-13 19:57] ngimel commented on #77139
We will accept a PR fixing this

[2022-06-13 19:58] kshitij12345 commented on #77081
No-batch-dim support for Dropout2d was shipped with 1.10 and it did document that no-batch-dim shape is `C, H, W`. However, it's implementation did not actually drop channels.

1.10 Docs: https://pytorch.org/docs/1.10/generated/torch.nn.Dropout2d.html?highlight=dropout2d#torch.nn.Dropout2d

[2022-06-13 19:58] ngimel commented on #77139
cc @ejguan

[2022-06-13 20:00] ngimel commented on #77081
This is clearly a BC-breaking change that's leading to silent change of behavior.

[2022-06-13 20:02] jbschlosser commented on #77081
Old Dropout2d technically supported shape `(N, C, H, W)`, but didn't enforce this and just called standard dropout underneath. So 3D inputs have been historically supported by `Dropout2d`, and #69885 silently broke this. This silent breakage was discussed [here](https://github.com/pytorch/pytorch/pull/69885#issuecomment-1021337718) but the approach taken as not sufficient to avoid it.

[2022-06-13 20:03] nitaifingerhut commented on #79346
On which version ? Didn’t See it on the latest

[2022-06-13 20:14] vadimkantorov commented on #68320
In DDP multi-gpu single-node setting, on the first run during a pretrained torchvision construction, all ranks are downloading the same big file many times (8 times if 8 gpus are used) which is useless. Then all 8 ranks will try to save the downloaded weights file to the same location => race condition. The OS probably will resolve this, but I wonder if this can sometimes lead to crashes.

[2022-06-13 20:23] redmagnos commented on #79346
https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/ReduceOps.cpp#L895

Don't know if it's live yet but it's in the code.

[2022-06-13 20:40] kumpera opened #79452 "Use c10d broadcast_object in Zero"
### 🚀 The feature, motivation and pitch

The current implementation of Zero Redundancy optimizer has its [own implementation](https://github.com/pytorch/pytorch/blob/master/torch/distributed/optim/zero_redundancy_optimizer.py#L73) of object broadcasting.

We should replace it with c10d [broadcast_object_list](https://pytorch.org/docs/stable/distributed.html#torch.distributed.broadcast_object_list)

[2022-06-13 20:40] puririshi98 commented on #79049
@rohan-varma any ideas on this?

[2022-06-13 20:44] ngimel commented on #79106
Please ask questions in discuss.pytorch.org

[2022-06-13 20:44] #79106 closed

[2022-06-13 20:50] zaccharieramzi commented on #77427
Yes I would be happy to submit a PR after my vacation (on the 20th).

[2022-06-13 20:54] ngimel commented on #78274
cc @ejguan

[2022-06-13 20:56] mikaylagawarecki commented on #79346
@nitaifingerhut This fix was released in 1.11.0

[2022-06-13 20:56] JackCaoG opened #79453 "[LTC] Make `torch::lazy::BackendImplInterface::ExecuteComputation` takes `ComputationPtr` instead of `Computation`"
### 🚀 The feature, motivation and pitch

PyTorch/XLA is adapting to upstream LTC. In https://github.com/pytorch/xla/pull/3627 I am trying to implement the reaming of the backend interface. The issue I run into right now is `ExecuteComputation` currently takes `Computation`. The call is coming from

https://github.com/pytorch/pytorch/blob/30fb2c4abaaaa966999eab11674f25b18460e609/torch/csrc/lazy/cor

[2022-06-13 20:58] #79241 closed

[2022-06-13 21:18] #75496 closed

[2022-06-13 21:19] ngimel commented on #78005
Landed master PR #79401
Cherry pick #79455
Criteria: documentation improvements

[2022-06-13 21:29] awgu commented on #79452
Does `broadcast_object_list()` still load `Tensor`s in the broadcasted objects to the sender's GPU, or has that been changed?

This was an issue previously, so I tried landing https://github.com/pytorch/pytorch/pull/61539 to add a `map_location` argument similar to `torch.load()` to specify which device to load the `Tensor`s in the broadcasted objects. However, since I changed the underlying seria

[2022-06-13 21:31] awgu opened #79459 "[BE][ZeRO] Enable multigpu unit tests"
Following https://github.com/pytorch/pytorch/pull/77947, we should enable `ZeroRedundancyOptimizer` multigpu unit tests.

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @SciPioneer @H-Huang @kwen2501

[2022-06-13 21:53] Krovatkin opened #79460 "Adding python bindings for `SymInt`"
https://github.com/pytorch/pytorch/pull/78135

[2022-06-13 21:57] garymm opened #79461 "Validate ONNX 1.12.0 release candidate"
Please help us test ONNX 1.12.0 by running your tests with it installed.
https://test.pypi.org/project/onnx/1.12.0rc4/
https://github.com/onnx/onnx/tree/rel-1.12.0

[2022-06-13 22:04] QihanW opened #79464 "Iteration # 1-offset in DDP logging"
### 🐛 Describe the bug

When using the _get_ddp_logging_data() to collect logging data, the iteration# has 1-offset. In the first iteration, ddp logging cannot collect any data. In the next iterations, the ddl logging data are always 1 iteration offset.

Here are the results to compare the ddl logging data with the profiler traces:

Iteration \ Time (ms) | Forward_compute_time (DDP) | Forward time

[2022-06-13 22:21] albertfgu commented on #77081
Searching the docs doesn't show any `Dropout1d`: https://pytorch.org/docs/stable/search.html?q=dropout1d&check_keywords=yes&area=default

It seems like it's been the standard for years to use `Dropout2d` to emulate Dropout1d functionality: https://github.com/pytorch/pytorch/issues/6442

[2022-06-13 22:33] xsacha commented on #75496
Does that mean we can use C++17 project-wide now?

[2022-06-13 22:41] alanwaketan opened #79467 "Add autograd support for dispatch passable c10d ops"
Add autograd support for dispatch passable c10d ops as a follow up on #76722. It can probably reuse the implementation here: https://github.com/pytorch/pytorch/blob/master/torch/distributed/nn/functional.py.

[2022-06-13 22:43] alanwaketan opened #79468 "Ensure the guards in distributed_c10d.py wrappers get executed in the replay of the graph"
Ensure the guards in distributed_c10d.py wrappers get executed or reassured in the replay of the captured graph in any graph mode. A follow up on #76722.

[2022-06-13 22:44] alanwaketan opened #79469 "Add a new _broadcast_coalesced op for DDP"
Add a new _broadcast_coalesced op for DDP. A follow up on #76722.

[2022-06-13 23:16] #69346 closed

[2022-06-13 23:18] mcarilli commented on #78005
Link to landed master PR (if applicable):
* https://github.com/pytorch/pytorch/pull/77862

Link to release branch PR:
* https://github.com/pytorch/pytorch/pull/79472

Criteria Category:
* Critical fix (without this PR, CUDA graph capture of Adam and AdamW produce silently incorrect results)

[2022-06-13 23:28] janeyx99 opened #79476 "[META] Sign up here to discuss adding test configurations to our CI!"
Our CI currently tests tens of thousands of tests across many different platforms and compilers. As PyTorch grows and different modules would like to add to our CI, we should meet and discuss the added value of increased testing vs our constraints of CI capacity and time to signal (TTS).

Please sign up for a slot (Tuesdays 4:05-5:00pm ET) below! Please add a topic and an RFC/document that should

[2022-06-13 23:31] erichan1 opened #79477 "Implement NestedTensor size function"
### 🚀 The feature, motivation and pitch

NestedTensor does not implement a size method. NestedTensor has been integrated into nn.Transformer, which has revealed a couple of use cases where the sizes of intermediate tensors in the model are needed.

The three main cases are:
- PyTorch profiler fails on nn.Transformer because it attempts to find the size of all intermediate tensors, which includes N

[2022-06-13 23:58] yuguo68 commented on #79449
cc: @ejguan to take a look

[2022-06-14 00:02] anjali411 commented on #78005
Link to landed master PR: https://github.com/pytorch/pytorch/pull/78753

Link to release branch PR: https://github.com/pytorch/pytorch/pull/79481

Criteria Category: docs

[2022-06-14 00:03] kafan1986 opened #79483 "Can not export pytorch model to onnx."
### 🐛 Describe the bug

Pytorch model converts OK. But during inference would through below error.

`Fail: [ONNXRuntimeError] : 1 : FAIL : Non-zero status code returned while running ConcatFromSequence node. Name:'ConcatFromSequence_2162' Status Message: concat.cc:156 PrepareForCompute Non concat axis dimensions must match: Axis 1 has mismatched dimensions of 12 and 14`

Already raised an issue in

[2022-06-14 00:16] davidberard98 commented on #79333
cc @BowenBao

[2022-06-14 00:19] AllenTiTaiWang opened #79485 "Move OptionalHasElement/If tests from no_runtime to runtime"
Since opset 16 runtime is supported, OptionalHasElement/If tests should be added into runtime test.

1. Wait until https://github.com/microsoft/onnxruntime/issues/11717 pass
2. Move tests

[2022-06-14 00:21] davidberard98 commented on #79375
cc @eellison @Gamrix, looks like this is possibly related to shape functions?

[2022-06-14 00:28] #79485 closed

[2022-06-14 00:30] AllenTiTaiWang commented on #78119
onnxruntime issue related https://github.com/microsoft/onnxruntime/issues/11717
Will now test on the fixed branch.

[2022-06-14 00:49] fduwjj commented on #79388
Hi, @kiukchung  do you mind taking a look? I was able to only repo the single-host case but I cannot run it successfully on AWS for the multi-host case. Maybe I am missing something here and I can also learn how to set it up correctly.

[2022-06-14 00:58] pytorch-bot[bot] opened #79488 "DISABLED test_launch_user_script (__main__.TestDistributedLaunch)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_launch_user_script&suite=TestDistributedLaunch&file=distributed/test_launcher.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/6868032424).

Over the past 3 hours, it has been determined flaky in 2 workflow(s) with 2 red and 2

[2022-06-14 01:17] miladm commented on #77909
@Gamrix do we have a PR out for this issue already?

CC @Krovatkin

[2022-06-14 01:21] rohan-varma commented on #78005
Link to landed master PR (if applicable):
* https://github.com/pytorch/pytorch/pull/78752

Link to release branch PR:
* https://github.com/pytorch/pytorch/pull/79490

Criteria Category:
* Critical fix (silent correctness)

[2022-06-14 01:38] #76008 closed

[2022-06-14 02:18] ezyang commented on #79279
We are building a first class concept of symbolic integer and we were joking about how maybe we might need symbolic floats too. If we had those they would work for your case.

[2022-06-14 02:40] kazuma0606 opened #79495 "How to stacked RGB images"
### 🚀 The feature, motivation and pitch

Hi, pytorch support teams.

I want to stack a RGB images.
I want to construct a 3D or 4D RGB tensor.
And, create a GAN model using these tensor.
How do I define how to create such a tensor?
I would like to stack the attached 2D RGB images.
Or can you extract each RGB element from a 3D image as a 3D tensor?

Kind regards,
yoshimura.

### Alternatives

_No re

[2022-06-14 02:56] chausies opened #79496 "Random number generation yields different values on different devices, despite the same manual seed."
### 🐛 Describe the bug

Given the **same** manual seed, cpu and cuda generate two different sets of random numbers. See the following code.
[code]
But that shouldn't be the case, as it breaks reproducibility. At the beginning of pytorch programs, you often select either the CPU to use as the device, or the GPU if its available. But now, depending on which device is selected, different sets of rand

[2022-06-14 03:05] 601222543 commented on #78531
@timmywanttolearn how did you solve it?

[2022-06-14 03:06] #77845 closed

[2022-06-14 03:09] Lezcano commented on #79191
I believe we already encountered this in other operations and we resolved that there's not much we can do about it? @IvanYashchuk @xwang233

[2022-06-14 03:27] bfineran commented on #77455
hi @BowenBao thank you for the response, and sorry for the delay.  I believe the model I was using was using uses static quantization, going through default qat flows.  Here's a minimally reproducible example below - note that disabling the observers is the change that leads to this specific error, but another error will also be given if observers are still active.

[code]

[2022-06-14 03:37] ngimel commented on #79191
It's the number of rhs's you have for triangular solve, so you can split the computation to handle rhs's in batches?

[2022-06-14 03:40] bfineran commented on #77455
@BowenBao looks like upgrading to latest nightly (>1.13) may have resolved this issue, however if you have any insight on what changes could help resolve the issue for any more current torch versions (1.10-1.12), I would greatly appreciate that

[2022-06-14 03:40] qingqingxu2020 opened #79501 "Different results between batched and one by one inference of nn.GRU"
### 🐛 Describe the bug

Hi,

I’m getting inconsistent results during inference over the same data.
It seems that the GRU implementation gives different results for a sample by sample prediction vs batched prediction.

Here is a code to reproduce the problem:

[code]

Error seems to be in the 8e-4 range right after the RNN layers indeed.
[code]

### Versions

python==3.8.12
torch==1.10.1+cu102
cuda

[2022-06-14 03:48] myhakureimu commented on #229
maybe get x[::-1] :D

[2022-06-14 04:00] #78375 closed

[2022-06-14 04:02] malfet commented on #79181
Here is the one line reproducer to the problem:
[code]

[2022-06-14 04:19] weigq commented on #79405
Thanks, there is no bug.

[2022-06-14 04:19] #79405 closed

[2022-06-14 05:00] trantuanngoc commented on #79333
I still get the same error when running your reproduction @KarelPeeters

[2022-06-14 05:02] trantuanngoc commented on #79333
What i'm trying is to export onnx model for using, not a script model

[2022-06-14 05:17] erichan1 commented on #79477
Linking https://github.com/pytorch/pytorch/pull/79480 @eellison. Thanks for the fix! Unfortunately wasn't able to test this before the branch cut.

[2022-06-14 06:08] #78308 closed

[2022-06-14 06:43] pytorch-bot[bot] opened #79508 "DISABLED test_caching_pinned_memory (__main__.TestCuda)"
Platforms: linux, rocm

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_caching_pinned_memory&suite=TestCuda&file=test_cuda.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/6872881686).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 1 red and 1 green.

cc @ngimel

[2022-06-14 06:43] pytorch-bot[bot] opened #79509 "DISABLED test_noncontiguous_samples_nn_functional_conv_transpose3d_cuda_float32 (__main__.TestCommonCUDA)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_noncontiguous_samples_nn_functional_conv_transpose3d_cuda_float32&suite=TestCommonCUDA&file=test_ops.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/6872850782).

Over the past 3 hours, it has been determined flaky in 1 workfl

[2022-06-14 06:43] pytorch-bot[bot] opened #79510 "DISABLED test_checkpoint_wrapper_parity (__main__.CheckpointWrapperTest)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_checkpoint_wrapper_parity&suite=CheckpointWrapperTest&file=distributed/fsdp/test_checkpoint_wrapper.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/6872974643).

Over the past 3 hours, it has been determined flaky in 13 workfl

[2022-06-14 06:53] RemiLacroix-IDRIS commented on #76287
@stas00: could be that our Slurm config waits 10 min before considering that a node is unresponsive or that a process is unkillable.

[2022-06-14 08:33] IvanYashchuk commented on #79191
Failure of `trsmBatched` was briefly mentioned in https://github.com/pytorch/pytorch/issues/75494#issuecomment-1093561312. And the same problem was reported in https://github.com/pytorch/pytorch/issues/67013 but got ignored.

[2022-06-14 08:55] passerbythesun commented on #75097
Met the same problem with yolov5 recent version and pytorch 1.10. Since it won't affect training result, I should just press `Ctrl + C` within some time.

[2022-06-14 09:15] Kunlun-Zhu opened #79511 "Suggest for a polynominal lr_scheduler"
### 🚀 The feature, motivation and pitch

A polynominal lr_schduler is useful in multiple task.

### Alternatives

_No response_

### Additional context

https://github.com/cmpark0126/pytorch-polynomial-lr-decay
https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/schedules/PolynomialDecay

Here is a possible useful repo for this issue.

cc @vincentqb @jbschlosser @albanD

[2022-06-14 10:31] dbl001 commented on #77867
I got this error on AI-Feyman code that I modified to run on 'mps':
[code]
Here's the full stack trace:
[code]
Here's the code.
[code]

I'm also seeing what appears to be memory leaks with the computation slowing down dramatically after each pass through the data loader.
[code]
The issue only happens running on 'mps', not with the CPU.  How are the 'mps' tensors garbage collected and freed?

[2022-06-14 10:53] lauberto commented on #77764
Trying to get some SBERT embeddings with the sentence_transformers library and getting a `NotImplementedError` due to the missing operator `aten::cumsum.out`.

Despite setting `PYTORCH_ENABLE_MPS_FALLBACK=1` the operation is still throwing the same error.

[2022-06-14 12:11] xiurobert opened #79512 "Function to automatically calculate Conv shape"
### 🚀 The feature, motivation and pitch

Currently, there is no built in function in pytorch to calculate the output shape of some conv layer. It would be more convenient to have some function which calculates the return shape of some conv layer to make life easier.

### Alternatives

- Doing a forward pass on a test example and checking the shape of that.
- Using the formula listed [here](https:/

[2022-06-14 12:46] YosuaMichael opened #79513 "Torch FX return error "`__cuda_array_interface__` must be a dict""
### 🐛 Describe the bug

During development of raft-stereo model on torchvision, I get an error `"TypeError: ``__cuda_array_interface__`` must be a dict"` after testing it with `torch.fx.symbolic_trace`. The error comes from this particular [line](https://github.com/pytorch/vision/blob/871ea0ce32f7bc7882d9ce9fcd44e51cb5a70d4f/torchvision/prototype/models/depth/stereo/raft_stereo.py#L263) and this t

[2022-06-14 12:48] xiurobert commented on #79495
Hi, this issue tracker is only for issues. Please visit the PyTorch forum instead.

[2022-06-14 13:57] mruberry opened #79518 "Display a "reference" link for ops that points to primTorch implementations"
Users have often requested a more readable way to understand PyTorch's operators. See https://github.com/pytorch/pytorch/pull/79413#issuecomment-1153988754 for a recent reiteration of this suggestion.

[2022-06-14 14:22] antoniojkim opened #79519 "Fix warning: cast from type ‘const char*’ to type ‘char*’ casts away qualifiers"
### 🐛 Describe the bug

There is a bug in the logging and checking mechanism that casts a `const char*` into a `char*` which causes a whole bunch of warnings like the following to show up:
[code]
An example of where this happens is:
https://github.com/pytorch/pytorch/blob/64c2a275c4d463b936b9469da948a666e016bbb8/c10/util/logging_is_not_google_glog.h#L115-L119

I don't see any reason why this casti

[2022-06-14 15:00] atalman commented on #78005
Link to landed master PR (if applicable):
* https://github.com/pytorch/pytorch/pull/79324

Link to release branch PR:
* https://github.com/pytorch/pytorch/pull/79522

Criteria Category:
* Critical CI Fix

[2022-06-14 15:11] kurtamohler opened #79525 "Enable `dim=None` for all reduction functions"
Change all reduction function signatures to use `int[1]? dim`. This will make `dim=None` possible, which needs to perform an all-reduce.

#79881 does this for `sum`, so it can be used as a reference

[2022-06-14 15:24] delnatan opened #79527 "torch.nn.BCELoss throws 'invalid axes' error when using "mean" or "sum" reduction on torch.device("mps")"
### 🐛 Describe the bug

Computing BCELoss with tensors on torch.device("mps") with reduction gives an 'invalid axes' error:

[code]

The code to reproduce

[code]

However, computing the loss without reduction and then calling `.mean()` or `.sum()` method on the non-reduced tensor works fine.

### Versions

[code]

cc @albanD @mruberry @jbschlosser @walterddr @kshitij12345 @saketh-are @kulinseth

[2022-06-14 15:42] janeyx99 opened #79528 "test_ops.py extremely slow on cuda11.3"
Since the merge of #78304, our Linux 11.3 CUDA tests have increased in test time by 3 hours. @0x00b1's PR introduces several OpInfos that are culprit.

![image](https://user-images.githubusercontent.com/31798555/173619363-3ddd8433-30f9-4c16-b8da-5e8440e0011d.png)
Before the change, our total test time was averaging around 7.5 hrs. After, it was consistently 10.5hrs.

[2022-06-14 16:00] atalman commented on #78005
Please note we are currently in Phase 2 (after 06/13): perform extended integration/stability/performance testing based on Release Candidate builds. Therefore, the only accepted changes are Release-blocking critical fixes for: [silent correctness](https://github.com/pytorch/pytorch/issues?q=is%3Aissue+is%3Aopen+label%3A%22topic%3A+correctness+%28silent%29%22), [backwards compatibility](https://git

[2022-06-14 16:02] suo commented on #79528
Here is some investigation. https://observablehq.com/d/8d617293616bfbe9

@ngimel can we add a timeout to jiterator compilation? This is the second such time we have caught a ginormous regression.

[2022-06-14 16:04] #78331 closed

[2022-06-14 16:06] azhx opened #79531 "torch.nn.CrossEntropyLoss output shape specification does not match behaviour"
### 📚 The doc issue

https://pytorch.org/docs/stable/generated/torch.nn.CrossEntropyLoss.html#torch.nn.CrossEntropyLoss

Just slightly changing the provided example we can see
[code]

This does not match the provided shape specification that

`Output: If reduction is ‘none’, same shape as the target. Otherwise, scalar.`

### Suggest a potential alternative/fix

`Output: If target contains probabil

[2022-06-14 16:07] malfet commented on #79528
Hmm, why wasn't this test classified as slow? (and as such moved to trunk-only?)

[2022-06-14 16:08] stas00 commented on #76287
Is this something you had configured in Slurm config?

Can a user override this setting?

[2022-06-14 16:08] suo commented on #79528
our slow test infra takes the average runtime it looks like https://github.com/pytorch/test-infra/blob/generated-stats/stats/slow-tests.json

[2022-06-14 16:13] jbschlosser commented on #79477
Note that the size of a nested tensor is a nested data structure itself. It's unlikely we would ever implement `sizes()` directly for nested tensors as its signature returns an `IntArrayRef`.

I think it's better to abstract out call-site-specific querying of tensor size. A good example for autograd is providing an `is_same_size()` abstraction that can be implemented differently for nested vs. non

[2022-06-14 16:21] dbl001 commented on #77764
File "/Users/davidlaxer/anaconda3/envs/AI-Feynman/lib/python3.9/site-packages/aifeynman/S_gradient_decomposition.py", line 76,  in evaluate_derivatives_andrew
    return grad[:, s].detach()
NotImplementedError: The operator 'aten::index.Tensor' is not current implemented for the MPS device.

[2022-06-14 16:28] #70898 closed

[2022-06-14 16:43] jessecanada commented on #77764
Got ```NotImplementedError: aten::index.Tensor_out```. I've set ```PYTORCH_ENABLE_MPS_FALLBACK=1``` in my environment but got this error ``` indices should be either on cpu or on the same device as the indexed tensor (cpu)```

[2022-06-14 17:22] RemiLacroix-IDRIS commented on #76287
We have `SlurmdTimeout=600` so it seems like it's a Slurm config that cannot be modified by the user.

[2022-06-14 17:24] stas00 commented on #76287
oh, that must be it then. glad we found where the 10min delay comes from.

[2022-06-14 17:27] Gamrix commented on #77909
Yes, it just landed #77917

[2022-06-14 17:39] pclucas14 opened #79542 "Unable to use a parameter with torch.sparse_coo layout with DDP"
### 🐛 Describe the bug

*Description :* DDP's parameter verification step fails when one of my parameters is a `torch.sparse_coo_tensor`

*To reproduce the bug :* Run the following script
[code]

This is the error that I get :
[code]

### Versions

[code]

[2022-06-14 17:55] eqy commented on #78005
Link to landed master PR (if applicable):

+ https://github.com/pytorch/pytorch/pull/79537
Link to release branch PR:

+ https://github.com/pytorch/pytorch/pull/79539
Criteria Category:

documentation improvements

[2022-06-14 18:01] mikaylagawarecki commented on #79495
Hi, as @xiurobert mentioned, we use github issues only for bug reports or feature requests. Please use the forum to ask questions: https://discuss.pytorch.org/

[2022-06-14 18:01] #79495 closed

[2022-06-14 18:04] #79519 closed

[2022-06-14 18:07] mikaylagawarecki commented on #79407
Hi @yvr1037, would you be able to provide a self-contained script which we could use to reproduce the problem and run and paste the output of https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py please?

[2022-06-14 18:16] mikaylagawarecki commented on #79332
Hi, We use github issues only for bug reports or feature requests. Please use the forum to ask questions: https://discuss.pytorch.org/.

Feel free to reopen the issue if you would like to report a gap in the algorithm for AdaptiveAvgPool2D or would like to request better documentation for it :)

[2022-06-14 18:16] #79332 closed

[2022-06-14 18:17] Vaycold commented on #73775
could you explain how to fix it? I struggle to fix this same error.... Like you, I wanna keep this docker container... isn't a solution..?? Also I wonder why this problem occur

[2022-06-14 18:19] #76970 closed

[2022-06-14 18:32] mikaylagawarecki commented on #79347
Hi, as @xiurobert mentioned, we use github issues only for bug reports or feature requests. Please use the forum to ask questions: https://discuss.pytorch.org/

[2022-06-14 18:32] #79347 closed

[2022-06-14 18:47] zhaojuanmao commented on #79464
thanks for reporting, will take a look at it

[2022-06-14 18:50] limuyiju commented on #77764
I've got a non supported op: aten::grid_sampler_2d

[2022-06-14 19:03] vanthonguyen commented on #77523
Hi,
I have the same error on Windows 10 and Pytorch 1.11.3 when using ipv4 addresses.
When using ipv6, there was no warnings nor errrors. The proccess just hangs at init_process_group.
Master node:
[code]

Second node:
[code]

The communication between twos nodes is good. If I kill the master process the process in the second node is terminated.

![error](https://user-images.githubusercontent.com/

[2022-06-14 19:04] #79449 closed

[2022-06-14 19:07] pritamdamania87 commented on #79016
I believe https://github.com/pytorch/pytorch/pull/78120 is trying to solve this problem.

This is the same issue as 2. right? We want to load a ShardedTensor as a regular torch.Tensor at inference time? Or am I missing something here?

[2022-06-14 19:12] ejguan commented on #78005
Link to landed master PR (if applicable):
* https://github.com/pytorch/pytorch/pull/79524

Link to release branch PR:
* https://github.com/pytorch/pytorch/pull/79550

Criteria Category:
* Critical fix (silent correctness)
* See issue: https://github.com/pytorch/pytorch/issues/79449

[2022-06-14 19:24] kiukchung commented on #79388
this is most likely due to the internal method [`_matches_machine_hostname("IP1")`](https://github.com/pytorch/pytorch/blob/master/torch/distributed/elastic/rendezvous/utils.py#L110) not returning `True` on node0. `localhost` references the loopback device (which the `_matches_machine_hostname("localhost")` has special handling logic for).

torchelastic will call `_matches_matchine_hostname()` on

[2022-06-14 19:36] jbschlosser commented on #79512
Hey @xiurobert, thanks for the request! I agree this seems fairly useful as a utility under e.g. `torch.nn.utils`. On the C++ side, we already do these calculations (at least for conv), and it wouldn't be too hard to expose them. I want to wait for a bit of discussion on how the API should look, etc.

[2022-06-14 19:39] ngimel commented on #79501
This is expected https://pytorch.org/docs/stable/notes/numerical_accuracy.html

[2022-06-14 19:39] #79501 closed

[2022-06-14 19:41] ngimel commented on #79496
This is expected https://pytorch.org/docs/stable/notes/randomness.html

[2022-06-14 19:41] #79496 closed

[2022-06-14 19:52] janeyx99 commented on #79509
@jbschlosser Would you be the right POC to look into this?

[2022-06-14 20:42] abhudev commented on #79181
We aren't able to reproduce this issue, could you please update to latest nightly and try again?

[2022-06-14 20:57] pcicales commented on #1355
@namespace-Pt I have experienced a similar issue, except with `pin_memory=True` when accumulating evaluation results. I have not yet tried @dem123456789 solution, but it seems to work for others. Would be great to have some official guidance on this issue from the devs though.

[2022-06-14 21:04] ajavadov commented on #42078
torch-1.11.0,  torchvision-0.12.0,  python 3.8.13. Worked for me.

[2022-06-14 21:10] #68299 closed

[2022-06-14 21:10] #70875 closed

[2022-06-14 21:18] jbschlosser commented on #79509
Getting this error:
[code]

Looks like we just need to bump up the tolerance for the test in the `OpInfo` entry for `nn.functional.conv_transpose3d` in `torch/testing/_internal/common_methods_invocations.py`:

[code]

[2022-06-14 21:39] colin2328 commented on #79016
Hi @zhuzilin ,

Great question, thanks for raising.

We recommend using torchsnapshot. Here is an example with TorchRec: https://github.com/facebookresearch/torchsnapshot/blob/main/examples/torchrec_example.py. This is backed by the ShardedTensor checkpointing APIs (which @pritamdamania87  linked above, cc @kumpera ). please try it out and leave any feedback. we're also happy to discuss on Thursda

[2022-06-14 21:59] jbschlosser commented on #77081
Sure enough, you're right. For 1.12, I'll propose we:
* #79545 (why does this not exist..)
* #79549 - warn for the 3D case, suggesting moving to `Dropout1d` for a release
* After a release, reinstate no-batch-dim semantics for 3D inputs in `Dropout2d`

This will break those depending on no-batch-dim inputs now, which is unfortunate but unavoidable. I expect fewer users depending on that vs. those

[2022-06-14 23:23] kulinseth commented on #79383
Thanks @Birch-san  for filing the issue and detailed instructions. I was able to repro the issue, locally:
![out_mps_half_False](https://user-images.githubusercontent.com/453004/173705088-ca1f6939-57d6-49dd-8990-b13807e5ed8f.jpg)
![out_mps_half_True](https://user-images.githubusercontent.com/453004/173705091-fe7193b4-a4da-4293-9c6f-277c74dafe3f.jpg)
The Half results are wrong. We would need to iso

[2022-06-14 23:31] kulinseth commented on #79112
Hi @liulhdarks, thanks for the issue. Currently we don't have support for `cumsum` op in MPS layer but looking into it. As we have the API support available we will enable it for MPS backend.

[2022-06-14 23:34] kulinseth commented on #79286
Hi @AndreyPikunov , please verify and re-open if you still see the issue.

[2022-06-14 23:34] #79286 closed

[2022-06-14 23:36] xiurobert commented on #79512
That's great. Maybe I can open a PR once everything is good on your end

[2022-06-14 23:49] garymm commented on #76486
@shubhambhokare1 can you take a look when you have time?

[2022-06-14 23:49] shubhambhokare1 commented on #76486
I can take a look.

[2022-06-14 23:53] kulinseth commented on #79283
Hi @david-engelmann , thanks for the issue.
`First part is that the M1 Mac GPU is not recognized ie. torch.cuda.is_available() returns false and "mps" `
https://pytorch.org/docs/master/notes/mps.html. For Mac GPU acceleration we have added `mps` device. And to use it:

[code]

The MPS device will be available in 1.12 stable release onwards. Currently you can use the Nightly binaries in the selecto

[2022-06-15 00:00] Birch-san commented on #79383
thanks for trying this out. 🙂 sorry the repro wasn't simpler.

I'll see what I can do about narrowing it down.

inferences begin in the Real-ESRGAN helper class's [`enhance` method](https://github.com/xinntao/Real-ESRGAN/blob/e2db57602068a839b0f53df9efca7e57fa3c8a99/realesrgan/utils.py#L174), which performs some traditional matrix processing.

I see mentions of "tile processing", and "all the proc

[2022-06-15 00:01] xsacha opened #79583 "Torchscript Serialisation is broken for numbers over 1000 if global locale is set"
### 🐛 Describe the bug

For deeper models, I can no longer load the serialised model due to the commas placed in numbers >= 1000.

### Versions

1.12.0-dev

cc @ezyang @seemethere @malfet @ngimel

[2022-06-15 00:54] JackCaoG opened #79586 "[LTC] `torch::lazy::Computation` to include a device"
### 🚀 The feature, motivation and pitch

Currently `torch::lazy::Computation` is defined as a virtual class in

https://github.com/pytorch/pytorch/blob/e10b762537214ad152724d772b72b17a4448f145/torch/csrc/lazy/backend/lowering_context.h#L17-L34

The current flow is `torch::lazy::Computation` -> Compile -> `torch::lazy::Computation`

https://github.com/pytorch/pytorch/blob/e10b762537214ad152724d772b

[2022-06-15 01:21] davidberard98 commented on #79583
@xsacha are you able to provide a repro?

[2022-06-15 01:31] xsacha commented on #79583
It needs to be quite a large model, then trace and save.
Don't freeze it.
Something like IR_200 may be sufficient.

[2022-06-15 01:48] david-engelmann commented on #79283
@kulinseth Amazing for point one, for now I can use nightly and it will be in the 1.12 release. For the second point, I'll set up a repo with a minimum viable example and comment it here!

[2022-06-15 01:48] fduwjj commented on #79022
<img width="826" alt="image" src="https://user-images.githubusercontent.com/6937752/173718149-d85f91f2-38cf-4588-a242-8549b4eb71f7.png">

I run it on my local mac, the test actually passed. I have run it 20 times. all passed.

python3 collect_env.py
Collecting environment information...
PyTorch version: 1.13.0.dev20220614
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build Py

[2022-06-15 01:51] kulinseth commented on #79200
Currently we don't have native Int64 support in MPS. We cast the operations to Float. In-order to be transparent and not change the dynamic-range of the operation behind User's back we have a `TORCH_CHECK` to error [out in-case](https://github.com/pytorch/pytorch/blob/e10b762537214ad152724d772b72b17a4448f145/aten/src/ATen/native/mps/operations/UnaryOps.mm#L18) of Int64 support.

We can relax the E

[2022-06-15 01:51] #79200 closed

[2022-06-15 01:58] JackCaoG opened #79592 "[LTC] Introduce a `MetricsReport` python binding and allow backend to add their report as string"
### 🚀 The feature, motivation and pitch

`Metrics` and `Counters` classes were originally introduced in https://github.com/pytorch/xla/blob/master/third_party/xla_client/metrics.h and then got upstream to LTC in https://github.com/pytorch/pytorch/blob/master/torch/csrc/lazy/core/metrics.cpp.

As part of the LTC migration, pytorch/xla wants to adapt the upstream `Metrics` class but we run into an i

[2022-06-15 02:00] dsedov commented on #77764
I've got NotImplementedError: The operator 'aten::index.Tensor_out' is not current implemented for the MPS device.

[2022-06-15 02:15] HuangPengGui commented on #27212
my torch version is 1.9.1
RuntimeError: Exporting the operator grid_sampler to ONNX opset version 13 is not supported. Please feel free to request support or submit a pull request on PyTorch GitHub.

[2022-06-15 02:26] davidberard98 commented on #79583
@xsacha This is what I'm testing with and I haven't been able to repro:

[code]

[2022-06-15 02:31] dbl001 commented on #79022
Curious.
I just ran 'python test/run_test.py' again ...
[code]

[2022-06-15 02:37] xsacha commented on #79583
That repro worked (as in it failed) on my end
[code]

I'm using pytorch installed via pip:
pip list | grep torch
torch                       1.13.0.dev20220613+cu116
torchvision                 0.14.0.dev20220613+cu116

[2022-06-15 02:42] xiurobert commented on #79512
This can also probably be extended to calculate the return shape of an entire fully-convolutional/pooling sequential container

[2022-06-15 03:01] davidberard98 commented on #79583
@xsacha could you get a stacktrace by running with `TORCH_SHOW_CPP_STACKTRACES=1` environment variable

[2022-06-15 03:07] xsacha commented on #79583
This didn't print out any extra information for me:
TORCH_SHOW_CPP_STACKTRACES=1 python3 test.py

[2022-06-15 03:33] jnordberg commented on #77764
+1 for `aten::cumsum.out`

[2022-06-15 03:35] RacerChen opened #79594 "Apply for Training Pytorch YOLOv5 by Apple M1 GPU"
### 🚀 The feature, motivation and pitch

Pytorch supports Apple Silicon M1 GPU now. It is said that using `torch.device("mps")` can implement it. I found there is related interface in `torch_utils.py`. But I cannot train my model by pass the `mps` into '--device'.
I got this Error: `RuntimeError: Expected one of cpu, cuda, xpu, mkldnn, opencl, ideep, hip, ve, ort, mlc, xla, lazy, vulkan, meta, hpu

[2022-06-15 03:40] zhuzilin commented on #79016
@pritamdamania87
Thank you for the link for the on-working PR~

Actually 2 is the loading Tensor into ShardedTensor. The reason for this case is that we cannot have overlap between shards of ShardedTensor. So in some configuration of torchrec, to have one replication of a small embedding on each rank, we will save it as Tensor instead of ShardedTensor, which, makes it hard to load for other config

[2022-06-15 03:42] zhuzilin commented on #79016
@colin2328 I'll give it a try :)

[2022-06-15 04:15] #79594 closed

[2022-06-15 04:48] davidberard98 commented on #79583
@xsacha can you report the results when you run `locale` ?

[2022-06-15 04:50] jinfagang opened #79599 "pytorch result not same as torchscript traced mod"
### 🐛 Describe the bug

[code]

output from terminal:

[code]

### Versions

1.13

[2022-06-15 04:51] #79599 closed

[2022-06-15 05:02] xsacha commented on #79583
$ locale
LANG=en_AU.UTF-8
LANGUAGE=en_AU:en
LC_CTYPE="en_AU.UTF-8"
LC_NUMERIC="en_AU.UTF-8"
LC_TIME="en_AU.UTF-8"
LC_COLLATE="en_AU.UTF-8"
LC_MONETARY="en_AU.UTF-8"
LC_MESSAGES="en_AU.UTF-8"
LC_PAPER="en_AU.UTF-8"
LC_NAME="en_AU.UTF-8"
LC_ADDRESS="en_AU.UTF-8"
LC_TELEPHONE="en_AU.UTF-8"
LC_MEASUREMENT="en_AU.UTF-8"
LC_IDENTIFICATION="en_AU.UTF-8"
LC_ALL=

[2022-06-15 05:28] davidberard98 commented on #79583
I was able to repro with this change:
https://github.com/pytorch/pytorch/compare/master...davidberard98:locale-demo?expand=1

Is it possible that any other libraries that you're using are setting global locale settings? Possibly in a way that specifically adds thousand-separator commas instead of relying on environment settings?

AFAIK https://github.com/pytorch/pytorch/blob/83e575c51024746b9f5174

[2022-06-15 05:32] mikaylagawarecki commented on #79419
Hi, We use github issues only for bug reports or feature requests. Please use the forum to ask questions: https://discuss.pytorch.org/

[2022-06-15 05:32] #79419 closed

[2022-06-15 05:35] xsacha commented on #79583
Thanks. It's just a Ubuntu 22.04 install with python, pytorch and related python dependencies installed. Not much else on there.

[2022-06-15 07:30] zerovl commented on #43259
@maxwellzh Thanks a lot! The solution works for my code. Without  added lines, bugs will be raised. I am wondering the reason. Do you have any thoughts?

[2022-06-15 07:44] thipokKub commented on #79402
I don't think it is a matmul problem, this behaviour seems to stem from repeatedly calling `torch.rand`. For M1 Max this happen around `40` seconds mark. The speed drop from `~165 its/s` to `~110 its/s`, then `~60 it/s`

[code]

[2022-06-15 07:48] freezhh commented on #77764
/AppleInternal/Library/BuildRoots/b6051351-c030-11ec-96e9-3e7866fcf3a1/Library/Caches/com.apple.xbs/Sources/MetalPerformanceShadersGraph/mpsgraph/MetalPerformanceShadersGraph/Runtimes/MPSRuntime/Operations/GPUConv2DOps.mm:214: failed assertion `Source and weight input channels mismatch'

[2022-06-15 07:50] freezhh commented on #77764
The code works well on CPU and cuda with 3090ti

[2022-06-15 07:52] kit1980 commented on #79182
A bootcamper is going to work on this.

[2022-06-15 08:26] zeakey commented on #43259
The error tells that there are parameters not used to compute the loss. If you add all the parameters into the loss, though with a multiply factor of zero, all parameters are technically used for loss computation.

[2022-06-15 08:38] mgiessing commented on #79419
@n2018k [OpenCE ](https://github.com/open-ce/open-ce/) provides common deep learning libraries - such as pytorch - for ppc64le & x86.
You can find the latest open-ce release (v1.6.1) which relates to PyTorch 1.10.2 publicly hosted at e.g. Oregon State University:
https://ftp.osuosl.org/pub/open-ce/1.6.1/

OpenCE 1.7.0 with PyTorch 1.11 will probably be released around end of june.

[2022-06-15 08:41] awfsgdf opened #79601 "Exporting the operator mode to ONNX opset version 12 is not supported"
### 🐛 Describe the bug

when I exporting pytorch model to onnx, I use F.interpolate in my pytorch model, finally it got error:

RuntimeError: Exporting the operator mode to ONNX opset version 12 is not supported. Please open a bug to request ONNX export support for the missing operator.

### Versions

Versions of relevant libraries:
[pip3] numpy==1.21.2
[pip3] torch==1.7.1
[pip3] torch-summary==1.

[2022-06-15 09:00] GoingMyWay commented on #13918
Same issue. Pytorch 1.9 has such an issue.

[2022-06-15 09:42] maxwellzh commented on #43259
@zerovl  No... I was trying all the ways to fix the issue at that time and occasionally found the workaround. Probably a bug of pytorch I guess.

@zeakey Though torch tells there are unused parameters, I think it's a false alarm. Please have a look at the code I pasted above. All parameters were indeed used in loss computation, but somehow torch just thought it weren't.

[2022-06-15 09:58] zerovl commented on #43259
@maxwellzh @zeakey
Thanks for your replying. I agree with @maxwellzh that this error could be a false alarm, and parameters of my network are all used in loss computation.
I run into this error since I use "with torch.no_grad" in a call function of a manually defined class. If I use "with torch.no_grad" in a normal training loop, no error is raised.
[code]
Without Line 1 and Line 2, the error will

[2022-06-15 10:34] vigji commented on #77764
Getting
[code]
Even though I've set it and by printing environment variables I get  `... 'PYTORCH_ENABLE_MPS_FALLBACK': '1', ...`

[2022-06-15 10:38] xsacha commented on #79583
As far as I can tell, I have a stock standard Ubuntu. Can't see any locale issue going on.

Pushed a sample solution. There's probably no reason for those to be stringstreams.

I assume there's multiple places this needs to be changed though.

[2022-06-15 10:46] GoingMyWay commented on #39988
The same issue, can someone provide some clues?

[2022-06-15 11:16] hxssgaa commented on #77764
I'm trying to run GTN (Graph Attention Network) and get the following error: `NotImplementedError: The operator 'aten::index.Tensor_out' is not current implemented for the MPS device.`

[2022-06-15 11:18] j-adamczyk opened #79603 "RuntimeError: CUDA error: an illegal memory access was encountered on RTX 3080 with enough memory"
### 🐛 Describe the bug

I am training a Graph Neural Network with PyTorch, PyTorch Geometric, PyTorch Lightning and Optuna on Lipophilicity dataset, provided through OGB library (PyTorch Geometric interface). I am getting the following error:
[code]

This is not a memory problem, as I am using only about 3-6 GB of VRAM, out of 12 GB on my RTX 3080. It is happening randomly: random epoch, random ne

[2022-06-15 11:20] xsacha commented on #79402
Are you sure it's not related to throttling at all?
I only have the Mac Mini but I assume laptops may need to throttle after running for a while.

[2022-06-15 11:22] Daemonhost opened #79604 "Some unit tests are failing"
### 🐛 Describe the bug

Some distributed tests and some core tests are failing.

Note: initially I got these error while running unit tests in v1.11.0, but then I've tried running them in the master branch, and got the same errors. The first 2 gists (see the links below) that are linked below contain the output of the unit tests in the master branch, while the last gist contains the output of the

[2022-06-15 11:23] xiurobert commented on #79603
Consider taking the issue to pytorch_geometric

[2022-06-15 12:03] giuseppebrb commented on #78916
Bug it's still happening even after upgrading to the latest nightly 1.13.0.dev20220614.

YOLOv5 🚀 2022-6-15 Python-3.9.12 torch-1.13.0.dev20220614 MPS

I'm training a YOLOv5 model and this is the outcome:
[code]

here's how trigger training
[code]

[2022-06-15 12:05] florian-ivadolabs commented on #77764
I add to the pile: I'm failing on `aten::bitwise_or` not implemented.

[2022-06-15 12:06] pacman100 opened #79605 "[FSDP] RuntimeError when using FSDP with auto wrap for sequence-to-sequence language models such as T5, Pegasus"
### 🐛 Describe the bug

When using FSDP with the latest PyTorch Nightly version, it throws below error when using  sequence-to-sequence language models such as T5, Pegasus on tasks such as translation, summarization ...

### Steps to reproduce the error:
1. Run below command for the official transformers script [run_translation.py ](https://github.com/huggingface/transformers/blob/main/examples/py

[2022-06-15 12:07] pacman100 commented on #79605
Including similar issue raised in transformers repo [#17681](https://github.com/huggingface/transformers/issues/17681)

[2022-06-15 12:52] hxssgaa commented on #79402
Thanks. It does look like the issue of `torch.rand`. The following code works fine for me:

[code]
The performance of the above code never throttles.

[2022-06-15 13:01] cozyGalvinism commented on #70245
This was also my issue... yeah I should keep track of my env vars.

[2022-06-15 13:08] hxssgaa commented on #79402
I will close the issue, as this is not a `matmul` problem but rather a `torch.rand` problem. Thanks!

[2022-06-15 13:08] #79402 closed

[2022-06-15 13:19] malfet commented on #78005
Cherry-picked https://github.com/pytorch/pytorch/pull/78326  (as https://github.com/pytorch/pytorch/commit/1d5ecdb3b913b03273ff2477822719b36679eb2b) into release 1.12, which should have been done as related change

[2022-06-15 14:23] albanD commented on #79512
I think this is exactly the kind of things that should be possible with "meta" Tensors (a Tensor that has only metadata and no actual memory allocated).

I would expect something like this to work (it does not today as we don't have the Meta impl):
[code]

cc @anjali411 do you know how hard it would be to add meta support for `convolution_overrideable` from python give that we already have the for

[2022-06-15 14:28] #79531 closed

[2022-06-15 14:51] zou3519 opened #79609 "binary_cross_entropy_with_logits forward-over-reverse rule is silently incorrect"
### 🐛 Describe the bug

1. Comment out the skip for the following test
2. run `python test/test_ops_gradients.py -k "test_fn_fwgrad_bwgrad_nn_functional_binary_cross_entropy_with_logits"`
gradcheck ends up failing.
[code]

It's possible that this is a numerical precision error, but I would expect us to not be skipping the test and instead lowering the tolerances in that case.

### Versions

main

[2022-06-15 15:01] nikitaved commented on #79609
This is weird! I had same issues in the `kl_div`, where removing out-of-place code was the solution....

[2022-06-15 15:04] gchanan commented on #79525
are expected to be any BC issues with this?

[2022-06-15 15:07] zou3519 commented on #79609
The gradcheck error message was very long, but at the end it says the following:
[code]

"This means that the test might've passed in slow_mode!"
So maybe this is just a numerical precision error? But the error message doesn't commit to telling us that

[2022-06-15 15:14] jbschlosser commented on #78005
Link to landed master PRs: #79545 and #79549
Link to release branch PRs: #79610 and #79611
Criteria Category: Critical fix for silent BC-breaking behavior

[2022-06-15 15:36] xiurobert commented on #79603
GPU issue?

[2022-06-15 16:57] #79146 closed

[2022-06-15 17:00] albanD commented on #79421
The simplest way to repro this is to install the binaries from a few days ago:
[code]
After doing so, the repro from above will fail:
[code]

Setting `TORCH_SHOW_CPP_STACKTRACES=1` while running this does show that `at::native::conjugateFallback` is being called by the dispatcher even though this should only ever be possible for complex Tensors that were conjugated.

[2022-06-15 17:14] awgu opened #79620 "[FSDP] Verify that FSDP-managed parameters are the same across ranks"
Similar to https://github.com/pytorch/pytorch/issues/68803, we can add a check that the FDSP-managed parameters (i.e. all parameters minus the ignored parameters on that rank, which may be different across ranks) are the same across ranks in debug mode.

cc @zhaojuanmao @mrshenli @rohan-varma

[2022-06-15 17:15] #68278 closed

[2022-06-15 17:22] xkszltl commented on #78880
Any news?
I sounds strange to me that it can vary by distros (or kernel versions)

[2022-06-15 17:23] wconstab commented on #79586
I'm flexible, it seems like it wouldn't hurt anyone to add BackendDevice to Computation, but it also seems like @Krovatkin's suggestion could work without requiring the API change.

To clarify @Krovatkin's idea, is it that
 - the `XLAComputation : public Computation` class would add the device field,
 - the `LoweringContext->Build()` is what creates the `XLAComputation` and it already knows the de

[2022-06-15 17:25] wconstab commented on #79592
Yea, I think this is a good idea too.

It's probably simplest as @JackCaoG proposed.  But just wondering, is there any reason we'd rather have the backend API return an object instead of a string from the backend?  (e.g. let us merge the metrics and format them)?   I am not going to push for this, i'd be fine with the string-append approach too.

[2022-06-15 17:42] ngimel commented on #79603
Can you run with `CUDA_LAUNCH_BLOCKING=1 TORCH_SHOW_CPP_STACKTRACES=1`?

[2022-06-15 17:56] janeyx99 opened #79630 "Eradicate TestCase.setUp() calls in the code for super().setUp()"
### 🐛 Describe the bug

There are a few places in the code where there is TestCase.setUp() instead of super().setUp(). We wanted to enroll as many test cases into our infra as possible, and when super().setUp() ran into issues, like with https://github.com/pytorch/pytorch/runs/6904228666?check_suite_focus=true for https://hud.pytorch.org/pytorch/pytorch/pull/79543?sha=ec20ad81fc54cc3748333ff6f4ce7

[2022-06-15 17:59] JackCaoG commented on #79592
I think it is better to return string instead of `metric object` from backend because it is very hard to return the same `metric` project from our runtime given the dependency issue. I don't think we need to merge metrics even they have the same name, we can use the namespace for counter.

[2022-06-15 18:32] #79346 closed

[2022-06-15 18:51] Lezcano commented on #79609
This will be fixed in https://github.com/pytorch/pytorch/pull/79381

[2022-06-15 18:56] kulinseth commented on #79527
The issue is addressed in [commit](https://github.com/kulinseth/pytorch/pull/36), we will create a PR soon for master.

[2022-06-15 18:56] nikitaved commented on #79609
@Lezcano , the issue comes from backward?

[2022-06-15 19:00] Lezcano commented on #79609
I don't think there's more issues, as now all the tests pass...

[2022-06-15 19:00] Lezcano commented on #79609
I don't think there's more issues, as now all the tests pass...

[2022-06-15 19:01] nikitaved commented on #79609
The question is, what was wrong in the backward? :)

[2022-06-15 19:02] Lezcano commented on #79609
I mean, the tests pass now, so I don't think that's too important, but feel free to investigate further if you want.

[2022-06-15 19:14] zou3519 commented on #79609
The implication here is that there is some silently incorrect behavior in forward-mode AD when in-place operations are involved, right? So I think it's worth figuring out what went wrong, because a user may be able to trigger this in situations outside of binary_cross_entropy

[2022-06-15 19:18] wconstab commented on #79592
yea, sounds ok to me.  go for it.

[2022-06-15 19:25] limuyiju commented on #77764
Hi,
Could you please double check whether plus add have implementation issues? Or did I miss anything.
In following test, plus add result seems wrong.

tensor([[1., 1.],
        [1., 1.]], device='mps:0')

tensor([[2.0000, 2.0000],
        [1.0000, 1.0000]], device='mps:0')

[2022-06-15 19:25] kulinseth commented on #78879
Can you please check whether this works with latest nightly. We have tested and it works locally.

[2022-06-15 19:25] #78879 closed

[2022-06-15 19:32] kulinseth commented on #78886
Hi @danieldk , we have reproduced the issue and are actively working on a fix.

[2022-06-15 19:54] JackCaoG commented on #79586
Yea, I think I am OK with Nick's idea, I will try that out.

[2022-06-15 20:40] soulitzer commented on #79609
The issue with `kl_div` was actually in-placing on an input, so shouldn't really be an issue with forward AD in general. I don't know if binary_cross_entropy is failing for the same reason though (so probably not too important to investigate at this stage, unless we have reason to think its indicative of deeper issues).

[2022-06-15 20:43] jbschlosser commented on #69801
Reopening this thanks to #79549

TL;DR: The fix for this issue was silently BC-breaking for those who depended on `Dropout2d` to do 1D channel-wise dropout for 3D inputs. For some reason, `Dropout1d` didn't exist before, so `Dropout2d` was the only option. We'll revert to the old behavior for 1.12 with a warning to move to the newly-added `Dropout1d`. In a release, we'll switch back to a no-batch-

[2022-06-15 20:59] #78608 closed

[2022-06-15 21:00] pclucas14 commented on #4925
Lol 4 years later, still googling the same things

[2022-06-15 21:26] albanD commented on #79512
Let's do that!

[2022-06-15 21:28] albanD commented on #77764
@limuyiju this issue is for new ops request. Can you open a new issue with your code sample please to reduce the noise here?
(and yes it is most likely an issue with the inplace function, but let's continue the discussion in a separate issue).

[2022-06-15 21:48] LinjianMa opened #79644 "[FSDP] Progress of ParamExecOrderWrapPolicy"
## Description

This issue is used to track the development progress of ParamExecOrderWrapPolicy in PyTorch distributed FSDP, initial PR: #79238.

## Remaining TODOs:

- [ ] Starting from the second iteration, remove all internal FSDP wraps from the root FSDP module. In addition, register all removed FSDP wraps as attributes of the root FSDP. These FSDP wraps will be used to schedule parameter com

[2022-06-15 21:57] eellison opened #79646 "test_neg_conj_view_istft_cpu_complex128 fails on DEBUG=1"
### 🐛 Describe the bug

`python test/test_ops.py -k test_neg_conj_view_istft_cpu_complex128`

Traceback (most recent call last):
  File "/private/home/eellison/anaconda3/lib/python3.8/site-packages/torch/testing/_internal/common_device_type.py", line 390, in instantiated_test
    raise rte
  File "/private/home/eellison/anaconda3/lib/python3.8/site-packages/torch/testing/_internal/common_device_ty

[2022-06-15 22:10] ppwwyyxx opened #79647 "tensorboard SummaryWriter.add_graph fails when model uses empty tuples"
### 🐛 Describe the bug

I'd like to add the following model to tensorboard correctly, because the model is traceable and can produce a graph:
[code]

However, the `add_graph` method fails to parse the graph due to the empty tuple. It gives the following error:
[code]

### Versions

My code was run in `pytorch/pytorch:1.10.0-cuda11.3-cudnn8-runtime` official docker container.

[2022-06-15 22:53] vadimkantorov commented on #29523
Another perf improvement could be a load_state_dict + lazy torch.load impl. It would avoid having to read all the weights on RAM at once and would directly allow to copy the pretrained weights onto GPU (if the model is going to be in GPU at the end). Maybe the most impactful and self-contained could be torch.load returning LazyTensors that are actually read from file when the tensor contents is re

[2022-06-16 00:04] Birch-san commented on #79383
@kulinseth okay, I've made a more minimal repro. 🙂

[code]

fails on the final line.
it's weird. if I save the offending input to a hardcoded tensor, then try unsqueezing that on both backends… it works fine (they get the same result).

but if I compute the tensor in a realistic way (still getting the same tensor, to within 0.0001 precision): we get wildly different results from the two backends.

[2022-06-16 00:08] justinchuby commented on #79461
@jcwchen @BowenBao we are seeing errors like "Don't know how to translate op BlackmanWindow" Could you take a look?

https://github.com/pytorch/pytorch/runs/6909270220?check_suite_focus=true

[code]

[2022-06-16 00:14] ssbotelh commented on #51328
Hi there, was wondering if there was any progress on this effort.
If not, does anybody know if there are plans to support `jit::script::Module` to `nn::Module` conversion in the near future? Thanks!

[2022-06-16 00:18] garymm commented on #79461
Caffe2 doesn't know how to execute new ops, which is expected. You need to disable all the Caffe2 tests for new ops. See previous PRs that updated ONNX submodule for examples.

[2022-06-16 00:20] xiurobert commented on #79512
Yeah, I'd like to give it a try but I have one more question: should I be exposing a c++ API or is a python implementation fine?

[2022-06-16 00:48] kit1980 commented on #74805
I'm having the same issue on MacOS now trying to build master from scratch.

[2022-06-16 00:49] kit1980 commented on #74805
clang --version
Apple clang version 13.0.0 (clang-1300.0.29.30)
Target: x86_64-apple-darwin21.5.0
Thread model: posix
InstalledDir: /Applications/Xcode_13.2.1_fb.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin

[2022-06-16 01:09] kit1980 commented on #74805
It looks like D100581 was reverted https://reviews.llvm.org/rG6d8d1338629ceeaf6f56dc9eabc72e1a63f05169

[2022-06-16 01:16] kit1980 commented on #74352
`-Wno-unused-but-set-variable` doesn't exist in "Apple clang version 13.0.0 (clang-1300.0.29.30)"
Not sure when exactly it was introduced (also it was reverted at some point).
Maybe change to `VERSION_GREATER 13.1.0` ?

[2022-06-16 02:00] #78510 closed

[2022-06-16 02:11] Chillee opened #79670 "FakeTensor doesn't work with `logical_not_()`"
### 🐛 Describe the bug

[code]

results in
[code]

cc: @samd @eellison

### Versions

N/A

[2022-06-16 02:13] juju812 commented on #67538
SIGHUP handler in Pytorch undoed `signal(SIGHUP, SIG_IGN)` by nohup, so pytorch program still received SIGHUP and exited.
Check this: [why-nohup-background-process-is-getting-killed](https://unix.stackexchange.com/questions/446625/why-nohup-background-process-is-getting-killed)

[2022-06-16 02:44] Lezcano commented on #79609
There's some in-place operations like `log_()` in the path that has subclasses so it could be simply that?

[2022-06-16 02:45] Lezcano commented on #79609
Fwiw, Re https://github.com/pytorch/pytorch/issues/79609#issuecomment-1156832635, I would not say that these are silent. There were some xfails that https://github.com/pytorch/pytorch/pull/79381/ removed so, if anything, these failures were known before.

[2022-06-16 02:52] aphedges commented on #74805
I haven't gotten around to writing up my findings in the past couple of months, but the core problem is that Apple uses a different versioning scheme than upstream Clang. What Apple says is Clang 13 is actually upstream Clang 12. This makes reading release notes a lot more annoying. The full alignment of upstream and Apple versions is available at <https://en.wikipedia.org/wiki/Xcode#Xcode_11.x_-_

[2022-06-16 02:55] Lezcano commented on #79161
Note that this would be very useful for regular OpInfos.

There are some operations that have valid outputs, but that are not differentiable on those outputs. The most recent example I've bumped into is `logdet` which returns `NaN` if the input is real and has negative determinant. We could potentially skip gradchecks for these inputs, while still test them in all the other tests without having ot

[2022-06-16 02:56] limuyiju opened #79672 "Tensor plus add result seems wrong [with Mac mps]"
### 🐛 Describe the bug

Hi,
I am running pytorch with latest M1 support on Mac.

Seems plus add(+=) have implementation issue --- The result is different to normal add.

Attached is a simple test:

[code]

### Versions

[code]

cc @kulinseth @albanD

[2022-06-16 03:26] #78336 closed

[2022-06-16 03:35] nikitaved commented on #79609
@zou3519 , right. Turns out the issue was that the forward grad for `add.Scalar` was mutated, hence causing issues in https://github.com/pytorch/pytorch/pull/79007. https://github.com/pytorch/pytorch/pull/79664 Is supposed to fix that.
Regarding cross entropy with logits, it seems you were right, looks like a numeral issue which https://github.com/pytorch/pytorch/pull/79381 is solving.

[2022-06-16 04:26] #74805 closed

[2022-06-16 04:52] Krovatkin commented on #79592
https://github.com/pytorch/pytorch/pull/79679 https://github.com/pytorch/pytorch/pull/79678

[2022-06-16 04:53] stas00 commented on #29523
That would be amazing, @vadimkantorov!

I'm trying to get Deepspeed to implement that, but if pytorch would have that it'd be wonderful, as it'd be available under any framework.

I have made various proposals/requests:
1. https://github.com/pytorch/pytorch/issues/64327
2. https://github.com/pytorch/pytorch/issues/75242

in particular the first one where the `state_dict` is a tied dbm which of cou

[2022-06-16 05:08] DenisVieriu97 commented on #79672
Thanks @limuyiju for reporting this issue!
This issue is handled in https://github.com/kulinseth/pytorch/pull/38 (currently in PR). Once it gets merged, the case you provided should start to pass.

[2022-06-16 05:25] sanjaythakur commented on #32694
I was able to fix this problem by installing `clang` on Ubuntu using ```sudo apt install clang-12 --install-suggests```.

[2022-06-16 06:05] alabamagan commented on #50715
I think this is still an issue

[2022-06-16 06:10] HuangPengGui commented on #27970
I test the code .
after cudaDeviceReset();
the model only can be load to CPU.  My libtorch version is 1.9

[2022-06-16 06:11] ghostplant opened #79684 "Does Torch JIT Support Trace High-level Custom Op?"
### 🚀 The feature, motivation and pitch

e.g. What I need is something like this:

[code]

By tracing this operator, I expect to get is
[code]
instead of **expanding every internal small computation functions** (because serveral of internal functions doesn't support jit tracing)

Is this requirement possible in current pytorch?

### Alternatives

_No response_

### Additional context

_No response

[2022-06-16 06:31] sumo2017 commented on #72790
I have the same problem as well

[2022-06-16 06:56] j-adamczyk commented on #79603
@xiurobert it is a brand-new GPU, with no configuration changes. On stress tests, benchmarks, games etc. it seems to work fine, so I do not suspect a hardware issue.

@ngimel I did, and interestingly after 19 Optuna trials (which means that 19 networks trained without any problems), during 20th trial, process suddenly ended in random training epoch with `Process finished with exit code -1073741819

[2022-06-16 07:20] vadimkantorov commented on #29523
I wonder if some sort of lazytensor could be a good concept for implementing this…

[2022-06-16 07:28] xiurobert commented on #79603
Ah okay, I'm not so sure then. Sometimes it is a hardware issue. Better to leave it to the folks who are familiar with cuda

[2022-06-16 09:10] zeakey commented on #43259
@maxwellzh Oh my bad. It might be a false alarm from PyTorch. I occasionally ran into this error due to unused parameters during training. In my case, there is a `find_unused_parameters` flag in `torch.nn.parallel.DistributedDataParallel` to suppress this error.

[2022-06-16 09:22] Devoe-97 opened #79693 "Does torch.utils.checkpoint support custom cuda operators"
[Does torch.utils.checkpoint support custom cuda operators](https://discuss.pytorch.org/t/does-torch-utils-checkpoint-support-custom-cuda-operators/154183)
Using the checkpoint function should make the training slower. However using the checkpoint function on my custom cuda operator makes the training faster compared to not using checkpoint, is this normal?
Thanks!

python3.8
pytorch: 1.10.1+cu111

[2022-06-16 09:34] j-adamczyk commented on #79603
The problem (both memory error and 0xC0000005) also happens with a simple, pure PyTorch model (`global_add_pool` just sums the channels):
[code]

[2022-06-16 11:03] xiurobert commented on #79603
@j-adamczyk can you try simply allocating a tensor on the gpu

[2022-06-16 12:02] vadimkantorov commented on #64327
+1 for evaluating hdf5. maybe it can support appending tensors or even tensor chunks to an existing file

[2022-06-16 13:52] albanD commented on #29523
Note that now that you have Tensor subclass, you can relatively easily create such a class from python.
That might require pre-processing the checkpoint though to make it possible to read each Tensor independently.

[2022-06-16 13:57] albanD commented on #79512
Hi,

if you follow what is done in @anjali411 's comment above, you will be able to have a python implementation that will get registered into our c++ backend. So that it will be available from both c++ and Python.
And the code sample I shared above will be the simple way to get the result you are looking for.

[2022-06-16 14:01] aperezlebel opened #79703 "Float and double tensors randomly initialized with the same seed get different values for size >= 16"
### 🐛 Describe the bug

Hello, when randomly initializing with the same seed two size-n tensors with dtypes float and double, they get different values for n >= 16. For n <= 15 they are equal as expected.

### Sample code to reproduce the problem
[code]

### Expected result
`t1` and `t2` should contain the same values.

### Obtained result
`t1` and `t2` have different values for n >= 16. For examp

[2022-06-16 14:06] xiurobert commented on #79512
Oh, so the code snippet I provided in the issue can be written in python, but if I register it under the `_meta_registrations.py` it will work in the C++ backend? Or do I need to write C++ here

[2022-06-16 14:25] IvanYashchuk opened #79705 "gradgradcheck fails for torch.native_layer_norm"
### 🐛 Describe the bug

gradgradcheck fails when `weights=None` and bias is defined for `torch.native_layer_norm`.
[code]
[code]

### Versions

Fails on Colab (1.11.0+cu113) and master branch.

[2022-06-16 14:31] vadimkantorov commented on #29523
I guess for load_state_dict to work with such a subclass, it should support some interface so that torch.as_tensor would work on it. Also, it would be nice for load_state_dict to call torch.as_tensor on values to be loaded. Then even NumPy / HDF5+h5py dataset objects should work https://github.com/pytorch/pytorch/issues/67549

[2022-06-16 14:43] justinchuby commented on #79461
All checks passed with rc5

[2022-06-16 15:20] albanD opened #79708 "`backward(inputs=)` is not working as expected when inplace are involved (and grad() does work fine)"
### 🐛 Describe the bug

[code]

The autograd.grad call behaves as expected while the backward() call does not populate the .grad field.

### Versions

master

cc @ezyang @gchanan @zou3519 @albanD @gqchen @pearu @nikitaved @soulitzer @Lezcano @Varal7

[2022-06-16 15:23] vkuzo opened #79709 "Quantization tests broken in trunk on Mac OS"
### 🐛 Describe the bug

When I run

[code]

on master (revision c6c207f620d01c02f192613c5a231f2581dc3997), there are test failures. There should be no test failures.

Log of failures: https://gist.github.com/vkuzo/d33ce5313b2ac2180064a5a55b9093a2

### Versions

https://gist.github.com/vkuzo/f5683a595a1481aac892e3c300de3acd

[2022-06-16 15:23] vkuzo commented on #79709
assigning to oncall

[2022-06-16 15:26] zengk95 opened #79711 "test_dtypes__masked_amin_cuda is breaking with memory access issues"
### 🐛 Describe the bug

See these logs:
https://hud.pytorch.org/failure/test_dtypes__masked_amin_cuda%2C%20TestCommonCUDA

### Versions

n/a

[2022-06-16 15:34] #79711 closed

[2022-06-16 15:35] zengk95 commented on #71248
Reopening since we're seeing some more issues https://hud.pytorch.org/failure/test_dtypes__masked_amin_cuda%2C%20TestCommonCUDA

[2022-06-16 15:35] zengk95 opened #79712 "DISABLED test_comprehensive__masked_amin_cuda_uint8 (__main__.TestDecompCUDA)"
Platforms: linux

This test was disabled because it is failing on master and pull ([recent examples](http://torch-ci.com/failure/test_comprehensive__masked_amin_cuda_uint8%2C%20TestDecompCUDA)).

[2022-06-16 15:37] zengk95 opened #79714 "DISABLED test_comprehensive__masked_amin_cuda_uint8 (__main__.TestDecompCUDA)"
Platforms: linux

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_comprehensive__masked_amin_cuda_uint8%2C%20TestDecompCUDA)).

[2022-06-16 15:37] sydneyhauke opened #79715 "[FX] TypeError when tracing cat taking split's output as input"
### 🐛 Describe the bug

Hi,

Let's say I'd like to feed `cat` with `split`'s output and trace it :

[code]

When running this, I get a `TypeError` because the tracer causes `split` to output a `Proxy` object (as expected, thanks to FX), but `cat` currently needs a sequence of tensors :
[code]

IMO issue #34294 seems to be closely related to what we see here.

### Versions

PyTorch version: 1.11.0+

[2022-06-16 15:37] #79714 closed

[2022-06-16 15:39] zengk95 opened #79716 "DISABLED test_dispatch_meta__masked_amin_cuda_uint8 (__main__.TestMetaCUDA)"
Platforms: linux

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_dispatch_meta__masked_amin_cuda_uint8%2C%20TestMetaCUDA)).

[2022-06-16 15:54] vkuzo commented on #79709
found the issue, will fix

[2022-06-16 15:58] gmastrapas commented on #76373
Hey @adeandrade so you were using `--ipc=host` and the problem went away with `--ipc=private`? I think this issue is relevant to https://github.com/SeldonIO/seldon-core/issues/3720 and seems to be specific to python3.9

[2022-06-16 16:11] vkuzo commented on #79709
immediate issue will be fixed by https://github.com/pytorch/pytorch/pull/79718, back to oncall for follow-ups

[2022-06-16 16:41] stas00 commented on #29523
and one of the performance-oriented ideas is to deploy NVME drives with GPUDirect https://developer.nvidia.com/gpudirect, which allows one to directly move data GPU <=> NVME which would be (much?) faster than doing it via CPU.

[2022-06-16 16:45] jbschlosser commented on #79708
Backward graph during iteration 0:

![backward_graph_0](https://user-images.githubusercontent.com/75754324/174123450-80494fe8-f948-499d-b450-e74ecf312dd0.png)

Backward graph during iteration 1:
![backward_graph_1](https://user-images.githubusercontent.com/75754324/174123545-aa4f1ed8-579e-47fe-b8f5-8bc32acc9ad9.png)

[2022-06-16 16:48] AngledLuffa opened #79720 "ChainedScheduler documentation typoo"
### 📚 The doc issue

[code]

### Suggest a potential alternative/fix

[code]

[2022-06-16 16:49] AngledLuffa commented on #79720
https://pytorch.org/docs/stable/generated/torch.optim.lr_scheduler.ChainedScheduler.html#torch.optim.lr_scheduler.ChainedScheduler

[2022-06-16 16:49] CeadeS commented on #74824
Any solution

[2022-06-16 16:50] jaketae commented on #78512
This seems interesting! Linking a previous RFC thread that discusses related higher-level questions: https://github.com/pytorch/pytorch/issues/71329. I think it would be helpful to extend this discussion to think about specific operations we would like to support for container classes.

[2022-06-16 16:54] vadimkantorov commented on #29523
@albanD btw load_state_dict could check and call `copyto` in some cases to transform param.copy_(lazy_tensor) to lazy_tensor.copyto(param) that would do smarter chunk-based or mmap or GPUDirect copy.

Btw in NumPy exist a functional method numpy.copyto(src, dst), so introducing an instance method lazy_tensor.copyto would make perfect sense, and then torch.copyto(src, dst) could also be implemented

[2022-06-16 16:57] ngimel commented on #79603
`global_add_pool` uses `scatter` from `torch_scatter`, so that could still be a torch_scatter bug.

[2022-06-16 16:58] mikaylagawarecki commented on #79336
Hi, if I understand correctly you are using torchserve for the http requests? Perhaps you could open this issue in https://github.com/pytorch/serve/issues :)

[2022-06-16 17:05] jbschlosser commented on #79708
`autograd.grad()` and `backward()` both calling into the underlying `Variable._execution_engine.run_backward()` function. The flags they pass to this call differ slightly:
* for `autograd.grad()`: `allow_unreachable=False` and `accumulate_grad=False`
* for `backward()`: `allow_unreachable=True` and `accumulate_grad=True`

[2022-06-16 17:30] jbschlosser commented on #77081
Closing as addressed in #79545 and #79549.

[2022-06-16 17:30] #77081 closed

[2022-06-16 17:50] #79603 closed

[2022-06-16 18:18] ezyang commented on #79359
cc @Chillee when you gonna package up some of the options.

[2022-06-16 18:48] Chillee opened #79734 "Registering decompositions to all overloads is problematic for meta functions now."
### 🐛 Describe the bug

Now, registering a meta implementation to a CompositeImplicitAutograd op causes "bad things to happen" (cc: @bdhirsh).

So, first, we have a behavior with `register_decomposition` today where it registers the decomposition to all overloads of a function. So, since we register the `where` ref as a decomposition for `torch.ops.aten.where`, we also end up writing the `where` r

[2022-06-16 18:50] kumpera commented on #64327
I'm working on a solution under torch.distributed._shard.checkpoint that can handle arbitrarily large models in a SPMD fashion including transparently handling changes in distribution topology such distributed training -> single GPU inference or going from X to X*2 nodes.

[2022-06-16 18:57] zazyzaya opened #79735 "Typo in nn.utils.parametrizations.orthogonal"
### 🐛 Describe the bug

Small typo report: in `torch.nn.utils.parametrizations.orthogonal.py` line 261 the error message reads:

            "Module '{}' has no parameter ot buffer with name '{}'".format(module, name)

I believe 'ot' should be 'or'.

### Versions

PyTorch version: 1.11.0
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.4 LTS

[2022-06-16 19:15] kulinseth commented on #78551
Can you please check with latest Torch nightly. This issue should be resolved with serialization fix @albanD added for MPS device.

[2022-06-16 19:15] #78551 closed

[2022-06-16 19:30] zengk95 opened #79738 "Cuda 11.3 Pull and Periodic Jobs are Failing"
## Current Status
Ongoing

## Error looks like
[code]

## Incident timeline (all times pacific)
*Include when the incident began, when it was detected, mitigated, root caused, and finally closed.*

<details>
<summary> Click for example </summary>

e.g.
- 10/30 7:27a incident began
- 10/30 8:30a detected by <method>
- 10/30 9:00 pm root caused as…
- 10/30 9:10 pm mitigated by…
- 10/31 10: am closed

[2022-06-16 19:54] albanD commented on #79708
From some discussion offline with @soulitzer
- The retain_grad flag on AutogradMeta should be reset when rebasing history
- The old retain_grad hook should be removed when rebasing history and a new one should be added to the new grad_fn
- The backward(inputs=) should remove the retain_grad hooks it installed on exit

[2022-06-16 19:56] #74166 closed

[2022-06-16 20:03] daskol opened #79740 "Compliance with PEP-0523"
### 🚀 The feature, motivation and pitch

Simple PyPI API index which is used to install PyTorch with `pip` does not meet [PEP-0523][1]. Here is an example of installation script.
[code]
The issue is that simple PyPI API does not redirect to `/`-URL and uses relative paths to wheels URLs. This is what PEP-0523 says.

Despite the fact PEP-0523 does not requires mandatory redirect, it is expected and

[2022-06-16 20:13] macmorn commented on #77764
+1 vote for `aten::_slow_conv2d_forward`

[2022-06-16 20:21] #79527 closed

[2022-06-16 20:28] tstandley commented on #9168
Not to reanimate this zombie, but this issue really isn't solved. It seems like it is solved for pickling models (in the above PR) but it is not solved for tensors themselves. If I pickle a tensor ".numpy()" i get much smaller pickles and much faster reads of those pickles (at least 12x faster reads).

[2022-06-16 20:29] Birch-san commented on #79383
@kulinseth I've made another, _even more minimal_ repro.

I wasn't able to trim it down any more than this (I tried eliminating more steps from `get_tensor`, eliminating dimensions from `arr` and making `arr` smaller, but all these ideas made it stop exhibiting symptoms).

[code]

fails on the final assertion.
outputs:

[code]

it's weird. transferring tensors from MPS to CPU _sometimes_ works.
an

[2022-06-16 21:14] eellison commented on #79734
Some other culprits: https://github.com/pytorch/functorch/blob/fb70a3cb588c4b937bb21479de762179b61b7661/functorch/_src/aot_autograd.py#L112

[2022-06-16 21:16] drisspg commented on #79447
The three PRs have been merged, now time to implement ops and the backward formulas

[2022-06-16 21:16] #79447 closed

[2022-06-16 21:38] kshitij12345 opened #79748 "[forward ad] squeeze_, unsqueeze_ : the shape of the tensor was modified directly without going through the PyTorch dispatcher"
### 🐛 Describe the bug

In the below snippet, the code fails with
[code]
and it only happens when both `primal` and `tangent` are CCT.

[code]

### Versions

master

[2022-06-16 21:38] kshitij12345 commented on #79748
cc: @soulitzer

[2022-06-16 21:41] pytorch-bot[bot] opened #79750 "DISABLED test_custom_stream (__main__.TensorPipeTensorPipeAgentCudaRpcTest)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_custom_stream&suite=TensorPipeTensorPipeAgentCudaRpcTest&file=distributed/rpc/cuda/test_tensorpipe_agent.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/6922724494).

Over the past 3 hours, it has been determined flaky in 1 wo

[2022-06-16 21:44] davidberard98 opened #79751 "[JIT] failures with nested with blocks + loop continuation"
### 🐛 Describe the bug

loop continuation + single `with` was fixed in #79749, but nested `with` blocks are still failing:

Add this to `test/jit/test_with.py` to repro:

[code]

### Versions

based on #79749

[2022-06-16 22:07] vadimkantorov commented on #29523
i guess the benefit could be if the object-to-be-copied from is a dynamic python-defined type (that has copyto method) that the copy_ dispatched knows nothing of

[2022-06-16 22:08] eellison commented on #79670
have fix in https://github.com/pytorch/pytorch/pull/79581

[2022-06-16 22:12] erichan1 commented on #78005
Link to landed master PR (if applicable):
* https://github.com/pytorch/pytorch/pull/79480
Link to release branch PR:
* TODO - master PR has not been landed yet, although asap (by EOD 6/16)
Criteria Category:
* Critical fix for Torchscript + nn.Transformer being broken
* I understand that this is late - @atalman let me know if we can get this in.

[2022-06-16 22:33] #79738 closed

[2022-06-16 22:53] abhudev commented on #78445
I think the testing code is wrongly configured, because when you change `data` inside the function (which is global), you change it when it is operated on by permute the second time. A test like this:

`import torch

cpu = torch.device("cpu")
gpu = torch.device("mps")

data = torch.randint(0, 20, (1, 2, 2, 3))
mps_data = data.to('mps')

cr = data.permute(0, 3, 1, 2)
gr = mps_data.permute(0, 3, 1,

[2022-06-17 01:38] rohan-varma opened #79766 "[FSDP] Test that module using mixed precision can be loaded into non-mp module"
### 🚀 The feature, motivation and pitch

In FSDP, mixed precision checkpoint is taken with the full parameter precision, but we're missing a test that does this and restores into a non-mixed precision module. Having this test will help provide confidence that use cases which use these such as finetuning / inference work as expected.

### Alternatives

_No response_

### Additional context

_No res

[2022-06-17 02:13] Number1JT opened #79771 "Linear not check shape"
### 🐛 Describe the bug

the shape is not matched, but no exception is raised
[code]

### Versions

torch : 1.9.0+cu111

cc @albanD @mruberry @jbschlosser @walterddr @kshitij12345 @saketh-are

[2022-06-17 05:01] stas00 commented on #76287
I don't think it works well. We just had another hanging for 9h and elastic failed to time out :(

Apparently one of the nodes got stuck and it can't even exit the slurm process - stuck in COMPLETING after I manually cancelled it. Obviously can't get a trace since the node is complete non-responsive so I don't know at which stage it went into a hanging state.

[2022-06-17 05:50] namespace-Pt commented on #1355
@pcicales Thanks but it not work for me. (torch==1.10.1+cu111)

[2022-06-17 06:46] pytorch-bot[bot] opened #79776 "DISABLED test_inherit_tensor (__main__.TestMultiprocessing)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_inherit_tensor&suite=TestMultiprocessing&file=test_multiprocessing.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/6928965625).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 1 red and 1 green.

cc

[2022-06-17 07:01] KnurpsBram opened #79778 "iSTFT length mismatch when center=False"
### 🐛 Describe the bug

When calling `torch.istft(..., center=False)` the resulting audio tensor has one fewer element than what `librosa` would return for an equivalent operation. This causes shape mismatches. Compatibility with `librosa` would be much appreciated. There is no shape mismatch when `center=True`.

Minimal code to reproduce the problem:
[code]
Gives me the following output:
[code]

[2022-06-17 07:13] snakers4 commented on #52286
We encountered this problem when migrating from PyTorch `1.9` to `1.10` in our production environment.

**Some further info for people who will be googling for solutions and for maintainers:**

- All of this refers mostly to CPU version, though larger models have this behavior sometimes even on GPU;
- The "warmup" problem used to be noticeable only in large models with MHA modules and rotary embed

[2022-06-17 09:41] pytorch-bot[bot] opened #79780 "DISABLED test_binary_op_tensorlists_fastpath__foreach_add_cuda_bool (__main__.TestForeachCUDA)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_binary_op_tensorlists_fastpath__foreach_add_cuda_bool&suite=TestForeachCUDA&file=test_foreach.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/6930451583).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) w

[2022-06-17 09:45] pzfm3022 opened #79781 "onnx export with dict parameter problems"
### 🐛 Describe the bug

When trying to export a model to onnx that has a dict parameter, I'm getting a graph printed out (verbose=True) but am getting an onnx.CheckerError raised later, complaining about an unknown type related to that dict parameter.

Here's the example code:

[code]

The verbose print of the graph is:
[code]

with the later error traceback being:
[code]

### Versions

PyTorch ve

[2022-06-17 09:54] wangchangquan commented on #51553
@raphael410  hello, have you solve the problem? i encounter the same.

[2022-06-17 11:46] vadimkantorov commented on #76287
Maybe a solution for these clusters without root or limited introspection, could be launching under some guard process that would get a memory dump / cause a crash if the worker does not advance / does not produce heartbeats. @mrshenli probably packaging such a guard wrapper with pytorch would be useful for HPC clusters and would help debugging

[2022-06-17 12:30] TCherici commented on #64520
Has anyone made any discoveries or progress on this? It seems really weird that we're not able to install a cuXXX version of torchvision that relies on a cuXXX version of torch.

[2022-06-17 12:38] #72654 closed

[2022-06-17 12:38] ThomasRobertFr commented on #64520
@TCherici I have spent a full day (in May) trying all possible ideas I could think of to solve this issue. The least shitty solution I chose is this:

[code]

To create a dev venv on mac we do:

[code]

And in the dockerfile to use on GPU server we do:

[code]

[2022-06-17 12:46] TCherici commented on #64520
@ThomasRobertFr Thank you very much for the thorough explanation!
I am honestly baffled that this is necessary at all, but I'm really glad I don't have to figure it out myself.

[2022-06-17 13:00] ilyarepko opened #79784 ".backward() on MSELoss fails with IndexError: Dimension out of range on MPS"
### 🐛 Describe the bug

[code]
[code]

### Versions

[code]

cc @ezyang @albanD @zou3519 @gqchen @pearu @nikitaved @soulitzer @Lezcano @Varal7 @kulinseth

[2022-06-17 13:12] ThomasRobertFr commented on #64520
@TCherici As mentioned by https://github.com/pytorch/pytorch/issues/64520#issuecomment-918407388 the bug is clearly on poetry's side. And I agree it's very annoying for people using pytorch. Either you don't use poetry or you have to use hacks to choose the right cuda version...

I just created a new issue there: https://github.com/python-poetry/poetry/issues/5863

[2022-06-17 13:49] BangwenHe commented on #78348
I solved my problem [here](https://github.com/mileyan/AnyNet/issues/35). I don't know whether this is a bug in pytorch or onnx, or whether users should not write in this way.

[2022-06-17 14:11] niklasstoehr commented on #77764
Anyone working on `aten::cumsum.out`?

[2022-06-17 14:24] IamExperimenting commented on #32469
I'm still getting this issue, could you please tell me what version of torch torchvision should be used?

please find my system details:
[code]

[2022-06-17 14:30] albanD commented on #29523
That's where `__torch_function__` shines, it actually make all of the `torch.` function dynamically dispatched! https://pytorch.org/docs/master/notes/extending.html#extending-torch has more details

[2022-06-17 14:34] albanD commented on #76232
I'm afraid there is nothing we can do about this.
Floating point operations are not associative. So the order in which you do the operation does matter.

[2022-06-17 14:36] janeyx99 opened #79785 "android-tests is often flaky"
### 🐛 Describe the bug

Twice every day or so, this test will fail to download important things and flakily fail. This detriments CI reliability
https://github.com/pytorch/pytorch/runs/6923556353?check_suite_focus=true and causes confusion for the oncall and any HUD viewers.

It looks like we have been trying to download certain things and failing. Could we wrap downloads with retries? cc. @kit198

[2022-06-17 14:37] janeyx99 commented on #65439
# Completed between 4.11 and 6.17
- [x] https://github.com/pytorch/pytorch/issues/70881

[2022-06-17 14:38] albanD commented on #79512
Exactly!
No C++ code needed!
You can see average pooling as an example there for example: https://github.com/pytorch/pytorch/blob/9acbaaaf051dc8080e98bf0fa23e4d1a219d7a1e/torch/_meta_registrations.py#L194-L200
That should be enough!

[2022-06-17 14:42] xiurobert commented on #79512
Got it. I'll see if I can get something written over the weekend or so for review.

[2022-06-17 14:46] janeyx99 opened #79787 "Improve clarity by making sharding a static nightly update"
Currently, sharding is done at every CI job, which involves downloading and parsing data from the outside world in the job, which can allow for flakiness or redness that is NOT the fault of the commit. Now that we have GH1, we can write test times to the repo every night and the CI jobs can read from that file in the repo instead of needing to access the outside world.

[2022-06-17 15:32] malfet commented on #79787
Is flakiness information stored in https://github.com/pytorch/test-infra repo? If so, I don't think any further changes are warranted as pytorch already depends on 10+ submodules, and test-infra as dependency should be considered as just one more submodule.

And imo keeping code and data(test statistics in this case) separate is good design principle.

[2022-06-17 15:53] TCherici commented on #64520
I've played around with stuff, and managed to get torch and torchvision to run with poetry.

installation of torch==1.11.0+cu113 and torchvision==0.12.0+cu113:

 - Upgrade poetry to version `1.2.0b2` or later (you might have to uninstall and reinstall poetry completely if your version is <=1.1 and you installed it with the get-poetry.py script).
- Set torch repo as source: `poetry config repositor

[2022-06-17 15:55] TCherici commented on #64520
my `pyproject.toml` (cleaned up):
[code]

[2022-06-17 16:05] anjali411 commented on #79512
@xiurobert sounds great! let me know if you have any questions and feel free to add me as a reviewer once you have a PR

[2022-06-17 16:07] kit1980 commented on #79785
@malfet The action for running tests doesn't support docker containers.

[2022-06-17 16:12] janeyx99 commented on #79787
Flakiness is stored in Rockset only and manipulated in test-infra code.

I see 3 goals in this task:
1. Remove dependencies from S3 stats by migrating to use Rockset stats
2. Minimize network access in a CI job. If we want test-times to live in test-infra, this is also okay, as it's better than querying from S3.
3. Make sharding a more replicable process by having it be nightly--instead of hiding

[2022-06-17 16:24] jbschlosser opened #79788 "Parameter.__deepcopy__ doesn't preserve view relationships"
When deepcopying a module with `Parameter`s that share the same storage, the resultant copy does not maintain the view relationship.

[code]

This happens because memoization for `Parameter.__deepcopy__()` is done at the `Parameter` level, and so will only kick in if it sees the same `Parameter` object twice:

https://github.com/pytorch/pytorch/blob/bcc4dba439db7a9e11dec9bc98a41069a7adef57/torch/n

[2022-06-17 16:43] datu925 opened #79791 "lite interpreted model performs differently in Python and Android"
### 🐛 Describe the bug

This may be expected, but I haven't seen it documented anywhere. I have an NLP model that produces sentence embeddings, and I want to use it in an Android app. Based on PyTorch Mobile tutorials, I'm saving it like this:

[code]

Then loading in Android (Kotlin) with:
[code]

What's interesting is that the models in Python and Android perform slightly differently. Inspecting

[2022-06-17 16:52] marziyemahmoudifar commented on #15645
Hi, no I could not solve that problem. I changed the version of Pytorch.

[2022-06-17 17:42] #49523 closed

[2022-06-17 17:43] yuguo68 commented on #49523
fixed by https://github.com/pytorch/pytorch/pull/77919

[2022-06-17 18:19] xiurobert commented on #79512
Will do.

[2022-06-17 18:35] BowenBao opened #79802 "[ONNX] Replace test inheritance for `test/onnx/test_models.py` with parameterizing"
### 🚀 The feature, motivation and pitch

`test/onnx/test_models_onnxruntime.py` Inherits tests from `test/onnx/test_models.py`, swapping the onnx backend to test with.
Rewrite with parameterizing to clear test cases and test files relation.

### Alternatives

_No response_

### Additional context

_No response_

[2022-06-17 19:37] RRobert92 commented on #78551
Works for me. Huge thanks!

[2022-06-17 20:43] janeyx99 commented on #66178
# 5/9 –5/16
## No PR signal
1. #78795 on behalf of https://github.com/janeyx99 due to Broke profiler tests https://hud.pytorch.org/pytorch/pytorch/commit/a299a2fa262ba26a2aa3519d2b6d27a33e82f580
2. #79219 on behalf of https://github.com/malfet due to Broke binary jobs see https://hud.pytorch.org/pytorch/pytorch/commit/1a2d95c68a11dd95b4699e7a74d679d8b9a5fb5a
3. #79007 on behalf of https://github.c

[2022-06-17 21:44] a2bhulla opened #79812 "Could not run aten::empty_strided with arguments from the 'PrivateUse1' backend"
### 🐛 Describe the bug

I am trying to register kernels with the PrivateUse1 backend and use the PrivateUse1 device type. I have built pytorch branch release/1.12 from source to enable this. My code is as follows:

[code]

I have also registered empty_strided, my registration code looks like:
[code]

But I see
[code]

### Versions

[code]

[2022-06-17 21:53] liufeimath opened #79813 "torch.Tensor.to(memory_format=torch.contiguous_format) does not work properly."
### 🐛 Describe the bug

`torch.Tensor.to(memory_format=torch.contiguous_format)` has a bug when the underlying tensor is contiguous in memory blocks but not row-major / C-ordering. E.g. if a tensor is col-major/F-ordering, the `.to(...)` operation is a no-op, which goes against the description of what [`torch.contiguous_format`](https://pytorch.org/docs/stable/tensor_attributes.html#torch.torch.me

[2022-06-17 22:28] kiukchung commented on #76287
@vadimkantorov see: https://pytorch.org/docs/stable/elastic/errors.html#methods-and-classes, once you decorate your main function with `@record` and launch your training script with `torchrun` (aka `torch.distributed.run`) we capture exceptions on workers and print out and error summary and also [register faulthandler](https://github.com/pytorch/pytorch/blob/eff74ed7bdb97693535c202a669bc24dbd12464

[2022-06-17 22:38] mruberry opened #79818 "[primTorch] `test_python_ref_executor` often fails due to concrete arg mismatch"
See the many xfails in common_methods_invocations, like:

[code]

cc @ezyang @gchanan @zou3519 @mruberry @ngimel @Chillee

[2022-06-17 22:56] #74812 closed

[2022-06-18 00:48] a2bhulla commented on #79812
I realized I did not include my c++ extension. sorry

[2022-06-18 00:48] #79812 closed

[2022-06-18 01:06] selezenart commented on #51858
Sorry for reopening it.
![telegram-cloud-photo-size-2-5289949869903036446-x](https://user-images.githubusercontent.com/47925608/174416495-eda4e7fe-3563-420c-af51-142c65bbc714.jpg)
that's my nvidia-smi.
and pip list
ertifi            2022.6.15
charset-normalizer 2.0.12
idna               3.3
numpy              1.22.4
opencv-python      4.6.0.66
Pillow             9.1.1
pip                22.0.4
req

[2022-06-18 01:14] ejguan opened #79828 "Distributed shared seed in DataLoader should be moved to cuda with NCCL Process Group"
### 🐛 Describe the bug

After this https://github.com/pytorch/pytorch/pull/78765 is landed, when running training script in multi-GPUs environment with `DataLoader` + `DataPipe`, there will an Error raised `RuntimeError: Tensors must be CUDA and dense`

See the user reported issue: https://fburl.com/teyw5gen

### Versions

nightly

cc @SsnL @VitalyFedyunin @ejguan @NivekT @pietern @mrshenli @prita

[2022-06-18 02:21] kulinseth commented on #79383
@Birch-san thanks ! . This is very helpful. We will update here with a fix.

[2022-06-18 02:28] #79179 closed

[2022-06-18 03:33] mike-burl commented on #21683
Another +1 for this feature.  I've gotten pretty far into a project on the assumption that if I could export to onnx that I'd be able to go the other direction.  I don't think it's unreasonable to think this functionality should be included in pytorch itself

[2022-06-18 04:15] richardrl commented on #12873
Still have this issue, just running any function on GPU takes up 2GB video ram...

[2022-06-18 06:33] danieldk opened #79835 "Scalar add returns incorrect results for `int32` MPS array"
### 🐛 Describe the bug

Scalar addition to an MPS `int32` array returns garbage. For example:

[code]

Expected:

[code]

### Versions

**Note** about the output: this is 7d17e3b88 with b9c5b97a3 reverted to fix the failing build.

Collecting environment information...
PyTorch version: 1.13.0a0+git7d17e3b
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: m

[2022-06-18 07:08] vadimkantorov commented on #76287
As evidenced by @stas00 , this process may have bugs currently (maybe related to being stuck somewhere in network drivers), so some “cruder” mechanism of liveness of individual worker may be useful as a means for debugging. Maybe this mechanism could be quite high-level, e.g. process should respond to some heartbeat signal and signalise it advances semantically

[2022-06-18 07:12] #79601 closed

[2022-06-18 08:46] Force1ess commented on #77732
@apaszke  @colesbury @ptrblck
Hi, sorry to bother you, but I've been stuck with this problem for months.
you guys were great community participants, I wonder if you have any advanced opinions about this.
Thanks for your patience
Best Wish

[2022-06-18 13:06] aphedges commented on #74812
This should be re-opened because the fix was reverted after slow tests failed on trunk: <https://github.com/pytorch/pytorch/pull/74813#issuecomment-1159353429>.

[2022-06-18 15:37] HaoboGu opened #79839 "[ONNX] Internal assertion failure when export gpt2 model with `export_modules_as_functions=True`"
### 🐛 Describe the bug

Hello, I'm using `torch.onnx.export` to convert my gpt2 model to onnx format. But when I set `        opset_version=15` and `export_modules_as_functions=True`, the program reports an error:
[code]

### Versions

Collecting environment information...
PyTorch version: 1.11.0
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A
OS: macOS 12.4

[2022-06-18 15:55] kaali-billi commented on #77764
Was trying to implement Detectron2 :
Operator not implemented on mps :
'aten::sort.values_stable'

[2022-06-18 16:26] vors commented on #79304
Sorry, my bad. This is just PTX JIT.
Recompiling with sm_75 for my T4 works.

[2022-06-18 16:26] #79304 closed

[2022-06-18 17:07] cmclean165 commented on #77764
would like to add 'aten::linalg_qr.out' to the list! the addition would be most appreciated!

[2022-06-18 18:58] dbl001 opened #79840 "Memory usage and iteration time increases indefinitely on Intel iMac 27" with MPS"
### 🐛 Describe the bug

Memory and computation time increase with each iteration of training with 'mps',  but not with 'cpu'.
Is there as way to display allocated 'mps' memory?
E.g.
print(torch.mps.memory_allocated() / torch.mps.max_memory_allocated())

[code]

### Versions

% python collect_env.py
Collecting environment information...
PyTorch version: N/A
Is debug build: N/A
CUDA used to build Py

[2022-06-18 19:43] tanmoyio commented on #79835
Yes this needs to be fixed but you can use something like this -
[code]
the output will be something like
[code]

[2022-06-18 20:07] axeln31459 opened #79841 "Distributed Data Parallel +cuda.amp shows incorrect unused parameters for lstm with state burn-in"
### 🐛 Describe the bug

If I use DDP and Autocast I get errors about unused parameters (or the list of unused parameters if I set find_unused_parameters=True).
DDP without Amp does not generate these errors.
This only happens for an R2D2-like RL sequence LSTM model (where you sample sequences and a  stale initial hidden state from replay and then burn-in the model with no-grad on the start of the

[2022-06-18 20:12] busFred commented on #75502
See lanpa/tensorboardX#516

This is a limitation set by Tensorboard and I don't think there is anything that PyTorch can do to fix it.

[2022-06-18 20:20] busFred commented on #46739
I also encounter the same issue and I looked into their `make_sprite` implementation. I think to make it works for all image size, some kind of optimization problem needs to be solved so that a minimum square sprite image can be created to hold all the input images.
I think the following line in `make_sprite` assumes the `label_img` be sqaure images.
https://github.com/pytorch/pytorch/blob/d4bbebb

[2022-06-19 01:03] kiukchung commented on #76287
that’s basically what NCCL_ASYNC_ERROR_HANDLING=1 is for. When set, pytorch creates a watchdog process and force-crashes the trainer if a collective op doesn’t finish within the pg timeout. If the workers still get stuck then maybe there’s an edge case we don’t account for. If you have a stuck job around, it would help if we could get a stack dump of the stuck workers so that we can diagnose what

[2022-06-19 01:50] vadimkantorov commented on #76287
I guess an orthogonal thing that'd be useful is a log of this watchdog process. I hope there's such an option.

[2022-06-19 04:05] stas00 commented on #76287
The stuck node is unresponsive - it is impossible to collects that information. This has happened more than once (i.e. stuck in a way that one can neither ssh to the node, nor SLURM can stop it).

[2022-06-19 06:37] #32960 closed

[2022-06-19 06:57] 1049451037 opened #79847 "Multi-node training meets unknown error"
### 🐛 Describe the bug

Multi-node training meets unknown error!

The code I use is

[code]

Then I use the following commands to run:

[code]

where node 0 ip is 10.1.4.144.

This error occurs on node_rank 0:

[code]

While node_rank 1 is hanging.

### Versions

Python version: 3.8.13 (default, Mar 28 2022, 11:38:47)  [GCC 7.5.0] (64-bit runtime)
Python platform: Linux-4.15.0-163-generic-x86_64-w

[2022-06-19 09:51] danieldk commented on #79835
That definitely works, but if the scalar addition is outside software you can make this modification (e.g. HF Transformers), it won't do much good.

[2022-06-19 09:57] xiurobert opened #79848 "Automatically calculate output_shape of sequential model (or any other fCNN)"
### 🚀 The feature, motivation and pitch

Follow up on #79512, if support for meta conv layers is added, hypothetically, it should be possible to do this:

[code]

### Alternatives

[code]

### Additional context

_No response_

[2022-06-19 10:36] qqaatw commented on #72790
Supported by #73103, in `1.12` release branch.

[2022-06-19 10:42] qqaatw commented on #72307
Supported by https://github.com/pytorch/pytorch/pull/73103, in `1.12` release branch.

[2022-06-19 11:00] 1049451037 commented on #79847
This error fixed after I update torch to torch1.11

[2022-06-19 11:02] l0r3m1psum opened #79849 "Bug while summing Boolean tensors on MPS device"
### 🐛 Describe the bug

Hello I was trying to sum a bunch of boolean tensors on a MPS device and for some reason I get a strange result. This is the code that reproduces the problem:

[code]

Running it prints `tensor(1006567434, device='mps:0')` on my machine. I'm running Python 3.9.13 on macOS Monterey using PyTorch 1.13.0.dev20220530.

### Versions

[code]

[2022-06-19 12:44] Yang-Hyun-Jun commented on #36881
In document, It seems that the log should be taken as a whole in the second term. It seems it's missing

[2022-06-19 14:41] mouryarahul commented on #79849
Hi  [l0r3m1psum](https://github.com/l0r3m1psum), I had run the same operation, and I get the correct result:

Collecting environment information...
PyTorch version: 1.13.0.dev20220619
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: macOS 12.4 (arm64)
GCC version: Could not collect
Clang version: 13.1.6 (clang-1316.0.21.2.5)
CMake version: Could not colle

[2022-06-19 15:26] l0r3m1psum commented on #79849
Sorry I wasn't on the latest development version of PyTorch, now that I have upgraded it works for me too.

[2022-06-19 15:27] #79849 closed

[2022-06-19 15:58] alejandrojcastaneira commented on #12873
I confirm that I am also having the same issue, it is becoming very difficult to deploy models to production across multiple inference workers as CPU RAM is running out fast.

[2022-06-19 17:25] VitalyFedyunin commented on #79604
You can install cmake with `pip install cmake`

Also can you please trim gust files to particular errors you are getting, thanks.

[2022-06-19 17:27] VitalyFedyunin commented on #79693
Hello!

It is better to ask such kinds of questions at https://discuss.pytorch.org/
I am going to close this issue. Feel free to reopen it, if you think that you need to report a bug or make a feature proposal.

Thanks.

[2022-06-19 17:27] #79693 closed

[2022-06-19 17:28] VitalyFedyunin commented on #79735
We would happily accept PR with the fix.

[2022-06-19 17:37] VitalyFedyunin commented on #79646
@anjali411 is it safe to assume complex module?

[2022-06-19 17:39] VitalyFedyunin commented on #79771
pytorch 1.12 checks shape and returns `RuntimeError: mat1 and mat2 shapes cannot be multiplied (100x256 and 128x2)`

[2022-06-19 17:39] #79771 closed

[2022-06-19 18:57] HanatoK commented on #62094
@jbschlosser
I like the feature, but I don't think that calling `get_extra_state` in the base class (`torch.nn.Module`) should raise a `RuntimeError`. Returning `None` or throwing other meaningful exception is a better choice.
The reason is that if I have two classes `A` and `B`, and `A` is derived from `torch.nn.Module` while B is derived from `A`. In this case, I would call the parent method of

[2022-06-19 21:52] vadimkantorov commented on #68332
Related: https://github.com/pytorch/pytorch/pull/79817

[2022-06-19 21:54] rwightman commented on #79583
@davidberard98 has seen the slack discussion, but this issue is also impacting codegen for nvfuser on cu116 pt 1.12 wheels on my system. The conda 11.3 install of pt 1.12 is fine on the same system.

[2022-06-19 22:12] xsacha commented on #79583
When I build it myself, I cannot reproduce the issue which makes it difficult to produce a fix.

[2022-06-19 22:21] vors opened #79851 "[bazel] [ci] CUDA error: CUDA driver version is insufficient for CUDA runtime version"
### 🐛 Describe the bug

I made a run of bazel in CI with GPU enabled and a long timeout.
PR: https://github.com/pytorch/pytorch/pull/79844

The logs contain all errors that CI hit https://github.com/pytorch/pytorch/runs/6955918249?check_suite_focus=true

If you search for `Test output for //:module_test` you will find the following error

[code]

Despite the timeout at the end, the test fails earl

[2022-06-19 22:27] vors opened #79852 "[bazel] [ci] `//:modulelist_test` Found no NVIDIA driver on your system"
### 🐛 Describe the bug

I made a run of bazel in CI with GPU enabled and a long timeout.
PR: https://github.com/pytorch/pytorch/pull/79844

The logs contain all errors that CI hit https://github.com/pytorch/pytorch/runs/6955918249?check_suite_focus=true

If you search for `Test output for //:modulelist_test` you will find the following error

[code]

Despite the kernel de-registration failure at t

[2022-06-19 22:28] vors commented on #79851
Same error is present for `//c10/cuda/test:test`

[code]

[2022-06-19 22:31] vors opened #79853 "[bazel] [ci] `//:lazy_tests` Could not run 'aten::mul.Tensor' with arguments from the 'Lazy' backend"
### 🐛 Describe the bug

I made a run of bazel in CI with GPU enabled and a long timeout.
PR: https://github.com/pytorch/pytorch/pull/79844

The logs contain all errors that CI hit https://github.com/pytorch/pytorch/runs/6955918249?check_suite_focus=true

If you search for Test output for //:lazy_tests you will find the following error

[code]

This error repros locally for me.

### Versions

maste

[2022-06-19 22:34] vors commented on #79852
Same for `//:tensor_options_cuda_test`

[code]

[2022-06-19 22:35] vors commented on #79851
Same for `//:serialize_test`, etc (I will stop posting concreate example)

[2022-06-20 00:43] freezhh commented on #77764
NotImplementedError: The operator 'aten::_slow_conv2d_forward' is not current implemented for the MPS device.

[2022-06-20 02:01] fschiffers commented on #60931
Why was this issue closed ?

I think DataParallel still returns a real valued complex tensor which fully breaks my code.

I'm using DataParallel because I want to do interactive optimization using a Jupyter Notebook, hence DDP is not an option for me rn.

Is there any current work around ? I only have a minimal working example of this behavior in Pytorch Lightning, but I'll work to provide one in

[2022-06-20 02:22] chengjunlu commented on #68876
Hi all,
After investigate the latest pytorch. All the missed header issue has been solved. No longer need this requirements.
Close it.

Thanks
John

[2022-06-20 03:08] pyjhzwh opened #79856 "torch-1.13.0a0+git802efc9 Build failed from source"
### 🐛 Describe the bug

Pytorch(torch-1.13.0a0+git802efc9) build failed from source.
command to build:
[code]

Error message:
[code]

### Versions

PyTorch version: N/A
Is debug build: N/A
CUDA used to build PyTorch: N/A
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.6 LTS (x86_64)
GCC version: (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
Clang version: 6.0.0-1ubuntu2 (tags/RELEASE_600/final)
CMake vers

[2022-06-20 03:21] ptrblck commented on #79583
As discussed in the Slack thread I cannot reproduce any issues in a new Ubuntu 20.04 and 22.04 container by installing `miniforge` and the current 1.12.0+cu116 RC pip wheels.

My `locale` setting inside this container are reported as:
[code]

Neither `LANG="C" LC_ALL="C" python benchmark.py --amp --model resnet50 --torchscript` nor `LANG=en_AU.UTF-8 LC_ALL=en_AU.UTF-8` reproduce the issue in `nvid

[2022-06-20 04:13] davidberard98 commented on #79583
@ptrblck what about `LC_NUMERIC="en_AU.UTF-8"` ?

[2022-06-20 04:19] rwightman commented on #79583
I'm `en_CA.UTF-8`

[2022-06-20 06:46] Egozjuer opened #79859 "Exporting the operator '::argsort' to ONNX opset version 16 is not supported"
### 🐛 Describe the bug

Exporting the operator '::argsort' to ONNX opset version 16 is not supported

/home/zjlab/anaconda3/envs/py113/lib/python3.8/site-packages/torch/onnx/symbolic_helper.py:1160: UserWarning: ONNX export mode is set to False, but operator 'dropout' is set to train=False. Exporting with train=False.
  warnings.warn(
/home/zjlab/anaconda3/envs/py113/lib/python3.8/site-packages/to

[2022-06-20 08:13] qqaatw commented on #77764
Hi, I'm working on `aten::glu.out`

[2022-06-20 09:05] Lezcano commented on #77954
Fixed in master in https://github.com/pytorch/pytorch/pull/77079

[2022-06-20 09:05] #77954 closed

[2022-06-20 09:29] JH-Xie opened #79862 "[QAT][quant] QAT training can't converge"
### 🐛 Describe the bug

I use a mobilenetv2 from timm respository, and modify:
1. relu6 -> relu
2. '+' -> nn.quantized.FloatFunctional().add
3. add quant and dequant

then I use a small learning rate to fintune a model pretrained in float32, but the loss can't converge

[code]

I use QAT followed the [guide](https://pytorch.org/docs/stable/quantization.html)
[code]

I experimented to verify where

[2022-06-20 09:42] jinfagang commented on #75723
@BowenBao Does the newest torch version support fx quantized model export?

[2022-06-20 12:39] #79735 closed

[2022-06-20 13:11] tingweiwu commented on #79388
@kiukchung hi~I mistakenly replaced the domain server  with the IP1.
allow me to re-describe this case, I run distributed experiment on k8s cluster.

1、Firstly, Create worker-0 Service with worker-0 pod backend, and worker-1 pod. I replace the startcmd with `top -b` for Starting the test manually

[code]

2、 I run this inside worker-0 and worker-1
[code]
it will be failed because `_matches_machine

[2022-06-20 13:16] Ahmed-Fayed opened #79863 "Replicate PyTorch transforms like transforms.ToTensor() and transforms.Normalize() in opencv c++"
## Issue description

In my development code, I have pytorch transforms on my test dataset (torchvision.transforms), I have exported the model into ONNX and I want to replicate these transforms with OpenCV c++. but, when i make predictions using pytorch (with the exported ONNX model), I get different result than when making predictions with OpenCV c++

## PyTorch transforms

[code]

## My Inferenc

[2022-06-20 13:52] rgommers commented on #36560
The `Tensor.numpy` method now has a `force=False` keyword, see gh-78564. This missed the 1.12 branch cut, so it should become available in PyTorch 1.13.0.

That's as much as can be done here I think, until NumPy adds a `force=False` keyword to `numpy.ndarray.__array__`. If that happens, then it can easily also be added to `torch.Tensor.__array__`.

[2022-06-20 14:10] pclucas14 commented on #79542
Right now the easiest fix is to store `values` and `indices` as parameters, and create a `torch.sparse_coo_tensor` at every forward pass.

[2022-06-20 14:21] kulinseth commented on #77764
We are adding support for ‘cumsum’ in mps (OS bits) layer but it will take sometime. Since it’s requested by many people we are looking into enabling the support sooner .

[2022-06-20 14:59] fschiffers commented on #55375
This code no longer works for me. I'm on PyTorch 1.11.0+cu113

The error continues to be:

[2022-06-20 15:08] rpuenter opened #79870 "Error using JIT with internal pytorch function dataloader.py"
## Issue description

I'm trying to compile a pytorch model with JIT so it can be deployed from C++ using the C++ API.

I get the error:
NotSupportedError: Compiled functions can't take variable number of arguments or use keyword-only arguments with defaults

Python pdb postmortem points to the source of the error at torch/utils/data/dataloader.py. I don't think I should be modifying internal pyto

[2022-06-20 15:25] vors opened #79871 "[bazel] cpp fronted `nn.linear->to(int)` throws exception"
### 🐛 Describe the bug

Running this code throws an exception in bazel build

[code]

[code]

This is tested in CMake build by this tests:
https://github.com/pytorch/pytorch/blob/228e082ca9cef631f9fd73e43d94b90c59b451c1/test/cpp/api/module.cpp#L346

### Versions

master 7d17e3b884c83a11b2453b8ab13f054fda160474

[2022-06-20 15:27] qqaatw commented on #77764
Working on this: `aten::softplus_backward.grad_input`.

[2022-06-20 15:47] alealv commented on #77538
Hi again, I still cannot solve this error. Any ideas?

[2022-06-20 15:55] datu925 commented on #79791
An important clarification: I tried this without the `optimize_for_mobile` call, and still found the same effect, so this isn't explained by that.

[2022-06-20 16:09] antoniojkim commented on #77445
I think this is working now. Closing the issue.

[2022-06-20 16:56] anjali411 commented on #55375
cc. @osalpekar

[2022-06-20 17:03] yakupakkaya opened #79875 "A/libc: Fatal signal 6 (SIGABRT), code -6 in tid 11742 (objectdetection)"
### 🐛 Describe the bug

I trained a D2Go model and converted to torchscript_int8. When I tried to run on an android device, it raised the following error.

E/libc++abi: terminating with uncaught exception of type c10::Error: isTuple()INTERNAL ASSERT FAILED at "../../../../src/main/cpp/libtorch_include/arm64-v8a/ATen/core/ivalue_inl.h":1306, please report a bug to PyTorch. Expected Tuple but got St

[2022-06-20 17:05] pyjhzwh commented on #79856
Solved by `git submodule update --init`

[2022-06-20 17:06] atalman opened #79876 "Change documentation to reflect CUDA 11.6 wheels inclusion"
### 📚 The doc issue

Problem description for release 1.12
It takes several minutes to jit-compile those kernel due to nvrtc bugs in 11.3, so users who want to run ops on complex numbers would experience very long startup times.
complex32 is experimental, but a lot of regular (complex64) kernels are jiterated also, so all users of complex are affected.

### Suggest a potential alternative/fix

We w

[2022-06-20 17:07] VitalyFedyunin commented on #78867
@suo Can you please take a look

[2022-06-20 17:09] jbschlosser commented on #78867
@Lezcano / @nikitaved are looking into this, should be solved in #69212

[2022-06-20 17:11] vors commented on #79871
This was introduced in https://github.com/pytorch/pytorch/pull/78436

[2022-06-20 17:26] eellison opened #79877 "test_meta_vstack_cuda_int16 (__main__.TestMetaCUDA) Fails with DEBUG=1"
### 🐛 Describe the bug

`python test/test_meta.py -k test_meta_vstack_cuda_int16`

Traceback (most recent call last):
  File "/scratch/eellison/pytorch/test/test_meta.py", line 325, in run_meta_crossref
    meta_rs = func(*meta_args, **meta_kwargs)
  File "/private/home/eellison/anaconda3/lib/python3.8/site-packages/torch/overrides.py", line 1768, in wrapped
    return f(self, *args, **kwargs)
  F

[2022-06-20 17:44] janeyx99 commented on #78100
We should install these into our Docker containers so we aren't trying to download these dependencies every time.

[2022-06-20 17:45] malfet commented on #78100
Our docker build definitions are in https://github.com/pytorch/pytorch/tree/master/.circleci/docker

[2022-06-20 18:03] albanD commented on #79877
Hey!
I'm afraid this is expected? These subclasses do not behave the way they should with respect to views. They should either have storage that do point to the same place or if you don't have storage, make sure they do report the same storage to reflect the fact that you are doing the view behavior as it should.

[2022-06-20 18:16] ngimel opened #93767 "Common benchmarking infrastructure for Torchbench, TIMM and huggingFace"
To monitor our progress according to benchmarks agreed upon in https://docs.google.com/document/d/1g9imM66GaDpYZGFJH8WEtYEssvv0_EniKsky7dup6iM/edit# we need to work on a common benchmarking infrastructure that would allow us to get comparable benchmarking results for the different backend technologies.
`torchbench.py` benchmarking harness in torchdynamo provides a lot of options needed for benchma

[2022-06-20 18:37] igormcsouza commented on #68114
Hey.. I didn't anything that might help.. but I decided to change the approach to use lambda functions instead.. a little of serveless doesn't hurt.  :)

[2022-06-20 18:43] pytorch-bot[bot] opened #79885 "DISABLED test_delayed_reduce_scatter_offload_false_backward_prefetch_post_forward_prefetch_shard_grad_op (__main__.TestParityWithDDP)"
Platforms: linux, rocm

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_delayed_reduce_scatter_offload_false_backward_prefetch_post_forward_prefetch_shard_grad_op&suite=TestParityWithDDP&file=distributed/fsdp/test_fsdp_core.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/6968080598).

Over t

[2022-06-20 18:43] pytorch-bot[bot] opened #79886 "DISABLED test_delayed_optim_step_offload_true_backward_prefetch_post_no_forward_prefetch_shard_grad_op (__main__.TestParityWithDDP)"
Platforms: linux, rocm

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_delayed_optim_step_offload_true_backward_prefetch_post_no_forward_prefetch_shard_grad_op&suite=TestParityWithDDP&file=distributed/fsdp/test_fsdp_core.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/6968080598).

Over the

[2022-06-20 18:59] mnicely commented on #72709
@IvanYashchuk FYI, here's an example of [gesv](https://github.com/NVIDIA/CUDALibrarySamples/tree/master/cuSOLVER/gesv). It be helpful to you.

[2022-06-20 19:07] lessw2020 opened #79887 "[FSDP] activation checkpointing errs out on T5 HF model"
### 🐛 Describe the bug

Applying the new FSDP activation checkpointing works great on standard exposed models (ala DeepViT) but fails out with an error on HF T5:

[code]

 You can reproduce this with our t5 repo here:
 https://github.com/lessw2020/t5_11

 Verify that fsdp checkpointing is set in config/defaults.py:

<img width="747" alt="config_checkpointing" src="https://user-images.githubusercon

[2022-06-20 19:08] idfah opened #79888 "`CosineAnnealingWarmRestarts` does not update parameters added with `add_param_group`"
### 🐛 Describe the bug

## Background

The `torch.optim.Optimizer.add_param_group` method is often used with transfer learning in order to unfreeze layers during training.  For example, this is the approach used in the PyTorch Lightning fine tuning callbacks:
https://pytorch-lightning.readthedocs.io/en/stable/api/pytorch_lightning.callbacks.BackboneFinetuning.html#pytorch_lightning.callbacks.Backb

[2022-06-20 19:18] #79828 closed

[2022-06-20 19:27] peterbell10 commented on #79646
Is the assert actually adding value here? `self.clone()` will resolve a negative conjugated tensor correctly, so we're looking for a situation where the user wants the neg bit to still be set on the output.

[2022-06-20 19:31] idfah commented on #79888
I have also verified that this is still an issue on the latest nightly build of torch:
[code]

[2022-06-20 19:34] ejguan commented on #78005
Link to landed master PR (if applicable):
* https://github.com/pytorch/pytorch/pull/79829
Link to release branch PR:
* https://github.com/pytorch/pytorch/pull/79890
Criteria Category:
* Critical fix for TorchData + PyTorch Distributed with NCCL backend

cc: @atalman

[2022-06-20 19:38] vadimkantorov commented on #68332
https://github.com/pytorch/pytorch/issues/79888

[2022-06-20 20:10] jerryzh168 commented on #34613
@aryan461 sorry just saw this, can you print the model?

[2022-06-20 20:10] jerryzh168 commented on #34613
please checkout: https://pytorch.org/docs/stable/quantization.html#passing-a-quantized-tensor-into-a-non-quantized-kernel

[2022-06-20 20:11] seemethere commented on #78005
Link to landed master PR (if applicable):
* n/a

Link to release branch PR:
* https://github.com/pytorch/pytorch/pull/79884

Criteria Category:
* [backwards compatibility](https://github.com/pytorch/pytorch/issues?q=is%3Aissue+is%3Aopen+label%3A%22topic%3A+bc-breaking%22+sort%3Aupdated-desc)

[2022-06-20 20:34] swang392 opened #79892 "Delete internal php code for viable/strict promotion"
Since we have have migrated promoting to the viable/strict branch to an open-source GHA, we can now delete the internal php code that previously handled promoting from master to viable/strict on `pytorch/pytorch`.

cc @seemethere @malfet @pytorch/pytorch-dev-infra

[2022-06-20 20:41] swang392 opened #79893 "Write lint for isGreen"
group workflows together to avoid using an allow list/regex in isGreen method

[2022-06-20 20:45] swang392 opened #79895 "Modify update-viable-strict GHA to use internal version of checkout"
I previously encountered an error regarding workflow permissions (linked [here](https://github.com/pytorch/pytorch-canary/runs/6921418059?check_suite_focus=true)) which was temporarily resolved by using `actions/checkout@v2` instead of our internal version of checking out pytorch, which would be more reliable.

[2022-06-20 21:10] VitalyFedyunin commented on #77732
hello! there is some weird circular referencing going on here. I'm debugging it now.

[2022-06-20 21:18] jbschlosser commented on #62094
Hey @HanatoK, thanks for bringing this up! I'd be happy with the base behavior changing to return `None` instead of throwing an error, along with the relevant doc and testing changes. If you'd like to contribute, please free to open a PR with the changes and I can review it :)

[2022-06-20 21:29] #78089 closed

[2022-06-20 22:05] justinchuby commented on #79361
Thanks for reporting this issue! It would be greatly appreciated if you could open a PR for this

[2022-06-20 22:06] Birch-san commented on #77764
@joshstrike [found `aten::bitwise_and.Tensor_out` to be unsupported](https://github.com/lucidrains/imagen-pytorch/issues/68). this blocks [`lucidrains/imagen-pytorch`](https://github.com/lucidrains/imagen-pytorch) from running on MPS.

[2022-06-20 22:16] malfet opened #79907 "PR can not be merged/reverted, CircleCI jobs are not schedueld"
## Current Status
*ongoing*.

## Error looks like
@pytorchbot does not respond to commands, CircleCI jobs aren't scheduled

## Incident timeline (all times pacific)

## Root cause
https://www.githubstatus.com/incidents/gvzcw6sd0xxb

## Mitigation
*How did we mitigate the issue?*

## Prevention/followups
*How do we prevent issues like this in the future?*

[2022-06-20 22:45] VitalyFedyunin commented on #77732
It was interesting issue with two take aways:
1) `mp.Manager` actually does something weird with Queue (pulls items from it and puts them back, causing the error in question). Please avoid using it.
2) Putting model in the Queue is bad. Please put `state_dict` of the model instead.

Below is modified example (not optimized, but working):

[code]

[2022-06-20 23:22] malfet commented on #78005
Link to landed master PR:

* https://github.com/pytorch/pytorch/pull/79865

Link to release branch PR:
* https://github.com/pytorch/pytorch/commit/50090861500adfd7da975a875aca0df636956df4

Criteria Category:
* Critical infra fixes: restores tagged doc builds on release branch

[2022-06-20 23:41] malfet commented on #79907
Closing as incident is resolved

[2022-06-20 23:41] #79907 closed

[2022-06-20 23:58] adityakillekar commented on #70028
@ilia-cher torch profiler is showing -38.50Gb for record_function() block, while my GPU is 24Gb. Doesn't makes sense to me releasing more memory than available. Can you please shed some more light on "Self CUDA Mem" interpretation?

[2022-06-21 00:04] #76952 closed

[2022-06-21 00:13] cpuhrsch opened #79914 "mul_out_sparse_cuda creates invalid CUDA configuration arguments"
### 🐛 Describe the bug

To reproduce the issue

[code]

Note that this yields values of 0 for grid.x and block.x within [mul_out_sparse_cuda](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/sparse/cuda/SparseCUDATensorMath.cu#L509) while launching `sparseElementwiseKernelScalar`.

I suspect that this is a long-standing issue that we haven't discovered or haven't fixed.

### Ver

[2022-06-21 00:16] cpuhrsch commented on #79914
@nikitaved - do you have time to take a look?

[2022-06-21 00:21] robieta commented on #70028
Unfortunately the profiler doesn't currently have any way to reason about "net" memory usage. So if I allocate X in op A and release it in op B and I run that 1000 times in a loop you will see 1000X under A and -1000X under B. Which, I admit, is not particularly intuitive.

[2022-06-21 00:21] #70028 closed

[2022-06-21 02:53] malfet commented on #79583
By the way, here is a very simple [reproducer](https://godbolt.org/z/3d44eed7s) (work on Windows, MacOS or any version of ubuntu that has `language-pack-en` installed):
[code]

[2022-06-21 02:56] xsacha commented on #79583
Is there a std::locale / imbue hiding in pytorch codebase?

[2022-06-21 02:58] malfet commented on #79583
No, I assume same is achievable by changing OS locale. Sorry, joining this discussion late, but do you get this only with 11.6 or 11.3 is affected as well?

[2022-06-21 03:06] xsacha commented on #79583
Attempting uninstall: torch
    Found existing installation: torch 1.13.0.dev20220613+cu116
    Uninstalling torch-1.13.0.dev20220613+cu116:
      Successfully uninstalled torch-1.13.0.dev20220613+cu116
  Attempting uninstall: torchvision
    Found existing installation: torchvision 0.14.0.dev20220613+cu116
    Uninstalling torchvision-0.14.0.dev20220613+cu116:
      Successfully uninstalled torch

[2022-06-21 03:08] malfet commented on #79583
This is wild!

[2022-06-21 03:14] xsacha commented on #79583
Installed with:
[code]

I believe the user in the other issue was on Python3.9 and reproduced in Python3.8 as well.

[2022-06-21 03:16] malfet commented on #79583
Yeah, I have a repro with 3.7. `sudo apt remove language-pack-en` fixes it, but I have no clue why 11.3->11.6 makes a difference....

[2022-06-21 03:32] xsacha commented on #79583
Tried disabling CUDA, disabling all locale stuff and removing language-pack-en but I still get it on the latest nightly cu116

[code]

[2022-06-21 03:50] ptrblck commented on #79583
I'm not also able to reproduce the issue in a docker after `apt install language-pack-en`.
Trying to bisect the nightly 11.6 binaries now as the issue seems to have shown up ~1 month ago.

[2022-06-21 03:57] ptrblck commented on #79583
Yeah, I just confirmed that the very first 11.6 nightly build (`1.12.0.dev20220422+cu116`) is also failing.

[2022-06-21 04:41] malfet commented on #79583
Modified example for a bit (by setting global locale context and then creating `std::stringstream`)
Also, I can catch this function call as breakpoint while using cuda-11.6 binaries, but not using 11.3 ones:
[code]
Grepping thru codebase to find `_GLOBAL__sub_I_dn_mat.cpp` symbol

[2022-06-21 05:04] xsacha commented on #79583
Thanks for that @malfet
Explains why my builds don't reproduce it too.

Upstream issue then?

[2022-06-21 05:12] Force1ess commented on #77732
Hi, @VitalyFedyunin
Your code looks works for me,  you helped a lot, thanks!
Do you have any idea about my other problem, why ```queue.get()``` take so long, since it just passed a file descriptor?

[2022-06-21 05:13] malfet commented on #79583
We are using 11.6.0 for builds, see https://github.com/pytorch/builder/blob/336733a6f7425f47b3d6a220896893cad6410f81/common/install_cuda.sh#L83
Going to push change to update it to 11.6.2, but also I think we need to imbue that string stream with good old `C` locale, in case some other app decided to setup global locale

[2022-06-21 05:19] ptrblck commented on #79583
@xsacha if you are building from source you might also dynamically link to `libcusparse.so` (this is from my source build with 11.6):
[code]

Thanks for isolating the issue @malfet! I'll create an internal issue for cusparse. Btw. I guess you've already verified that cusparse from 11.6.2 doesn't set the locale or should I check it?

[2022-06-21 06:10] TrackDR opened #79930 "Would like the tutorial notebooks in the pytorch github"
### 🚀 The feature, motivation and pitch

It would be nice to have the jupyter notebooks along with the original .py files in https://github.com/pytorch/tutorials

### Alternatives

I started to do something like this here: https://github.com/TrackDR/deeplearning/tree/master/pytorch_tutorials

### Additional context

_No response_

[2022-06-21 06:52] lizhenstat commented on #70700
@damianr13 Thanks a lot!!!  I encounter the same problem here and your solution works!
Note: when using pytorch-1.9, the error message is the following
`RuntimeError: Expected all tensors to be on the same device, but found at least two devices, cuda:0 and cpu!`
while in pytorch-1.10, the error message is the same as yours.

[2022-06-21 06:52] yaox12 opened #79933 "[Bug] D2H copy with a different dtype is pageable even with non_blocking=True"
### 🐛 Describe the bug

Copying a tensor from device to host with a different dtype is always pageable even with `non_blocking=True`.

[code]

![image](https://user-images.githubusercontent.com/3831900/174734763-e206966f-b0f3-479e-8449-cb908ee30945.png)

### Versions

PyTorch version: 1.12.0a0+8a1a93a
Is debug build: False
CUDA used to build PyTorch: 11.7
ROCM used to build PyTorch: N/A

OS: Ubunt

[2022-06-21 07:45] YaqiXia opened #79934 "Problems with inconsistencies in assignment operations"
### 🐛 Describe the bug

As shown in the code demo below, I want to update the data at the specified location of data_store through tensor
[code]
When
[code]
I get "True", however when I switch
[code]
I get "False".

### Versions

pytorch 1.9.0
cuda 11.0

[2022-06-21 08:13] DISAPPEARED13 commented on #40497
It seems that fp16 is not fit with attention or transformer, cause that attention need matmul operations in blocks which alway cause some overflow problem, my problem is come from here, after a big number matmul and with softmax followed, and I get bunches of inf and nan value, then my gradient collapse at the first iteration. How can I just run fp32 in attention block and fp16 the rest of the mod

[2022-06-21 08:58] geometrikal commented on #73487
I tried every single command I could find on the web but no luck, until I tried the above on a **clean** WSL2 instance (Ubuntu 20.04 LTS)

[2022-06-21 09:37] bennimmo commented on #77764
The operator `aten::bitwise_not.out` is not currently supported on the MPS backend and is not in the list. Currently similar to the above comment this is causing a "RuntimeError: indices should be either on cpu or on the same device as the indexed tensor (cpu)"

[2022-06-21 11:50] MiuGod0126 commented on #49161
thank you, this method worked.

[2022-06-21 12:19] Force1ess commented on #77732
@VitalyFedyunin
Also, putting ```state_dict``` in the queue cannot use ```share_memory```
So, does it directly transfer data between processes and that's why it takes so long?
If I use  ```state_dict```, is there any method to pass a file descriptor instead of data

[2022-06-21 12:45] Remponator commented on #71613
Has this issue been fixed yet?

[2022-06-21 13:03] xiurobert commented on #79930
Have you checked out https://github.com/pytorch/examples?

[2022-06-21 13:13] xiurobert commented on #79848
Currently, it looks like `aten::relu` is not implemented for meta tensor.

[2022-06-21 13:18] albanD commented on #79813
cc @mruberry who looked into the stride behavior of ops recently.

[2022-06-21 13:19] xiurobert opened #79938 "Implement ReLU for meta Tensor"
### 🚀 The feature, motivation and pitch

It looks like `aten::relu` is not currently implemented for meta tensors.

Running the code in #79848 is almost possible if using branch with #79834, however it looks like ReLU is not supported on meta. This seems a bit strange, since `Sigmoid` seems to be supported.

### Alternatives

Remove activation when using meta device.

### Additional context

[code

[2022-06-21 13:27] mruberry commented on #79778
@peterbell10 -- want to take a look?

[2022-06-21 13:35] albanD commented on #79887
Hi,

I'm afraid that the checkpoint API does not work for function that take kwargs as input. Can you pass these as positional arguments?

[2022-06-21 13:38] dbl001 commented on #79840
[code]

[2022-06-21 13:51] #79583 closed

[2022-06-21 13:52] liuzhy71 commented on #22095
thanks a lot!!! This solves my problem.

[2022-06-21 13:52] dbl001 commented on #79840
The processing time for each iteration is increasing.  I pulled 'nightly' software a day or two ago and now the memory usage seems to have stabilized 1t 48gb, but the code is very slow and the GPU does not appear to be used.
Is there a GPU memory display?
E.g.
#print(torch.mps.memory_allocated() / torch.mps.max_memory_allocated())

Could tensors from the data loader be accumulating (e.g. - not get

[2022-06-21 14:43] xiurobert commented on #79938
Nice. I'll try to get a PR in tomorrow.

[2022-06-21 15:26] lazycal commented on #79361
Will do it today

[2022-06-21 16:17] Daemonhost commented on #79604
@VitalyFedyunin

1. The issue is that the incorrect version of cmake gets installed into the docker image. Most likely Dockerfile needs to be fixed.
2. Here are the trimmed gists:
`python test/run_test.py |& tee test_log_master.txt` - [Output (errors only)](https://gist.github.com/Daemonhost/6cabdce2ef54c9ce763aef53ceef10be#file-test_log_master-txt)
`python test/run_test.py --core |& tee test_log_

[2022-06-21 16:23] seemethere commented on #79323
Current docker images are built using this script:
* https://github.com/pytorch/pytorch/blob/master/.circleci/docker/build_docker.sh
Push actually occurs here:

https://github.com/pytorch/pytorch/blob/2ede28724d45996842c60d06aee0218a3ab7062e/.circleci/docker/build_docker.sh#L50-L52

We could use the `GHCR_PAT` secret as the credential to push these images

Steps to achieve this would be to

1. Re-

[2022-06-21 17:13] #77532 closed

[2022-06-21 17:25] justinchuby opened #79950 "[ONNX] Expose export training mode to public"
### 🚀 The feature, motivation and pitch

Users may need to use the training mode information for creating extensions.

e.g. https://github.com/microsoft/onnxruntime/pull/11900

### Alternatives

### Additional context

_No response_

[2022-06-21 17:26] justinchuby commented on #79950
Can we expose some kind of context instead of global fields?

[2022-06-21 17:32] bwasti commented on #41164
@Tylersuard If you're interested, I've been working on a proposal for a torch.js API here: https://dev-discuss.pytorch.org/t/proposal-torch-js-a-javascript-frontend-for-pytorch/650/1

[2022-06-21 17:32] bwasti commented on #25091
@keyvan-m-sadeghi  If you're interested, I've been working on a proposal for a torch.js API here: https://dev-discuss.pytorch.org/t/proposal-torch-js-a-javascript-frontend-for-pytorch/650/1

[2022-06-21 17:33] bwasti commented on #54035
@batrlatom As I've just commented in some other feature requests, I've been working on a proposal for a torch.js API here: https://dev-discuss.pytorch.org/t/proposal-torch-js-a-javascript-frontend-for-pytorch/650/1

[2022-06-21 17:47] ngimel commented on #79938
We have a decomposition for relu in primTorch, so there should be possible to run meta shape propagation for it, but unfortunately I don't know the exact syntax off the top of my head.

[2022-06-21 18:09] Yebi1837 opened #79951 "Export to ONNX failure with mismatched devices"
### 🐛 Describe the bug

hi PyTorch, I am trying to do ONNX conversion for a module and encountered following error:

[code]

The code to reproduce this is:
[code]

### Versions

Collecting environment information...
PyTorch version: 1.4.0
Is debug build: False
CUDA used to build PyTorch: 10.1
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.6 LTS (x86_64)
GCC version: (Ubuntu 7.5.0-3ubuntu1~18.04

[2022-06-21 18:13] ptrblck commented on #79841
I think the behavior we are observing is similar to the one described [here](https://discuss.pytorch.org/t/autocast-and-torch-no-grad-unexpected-behaviour/93475/3?u=ptrblck).

In summary:
* `amp.autocast` uses an internal cache to avoid transforming parameters if the cached FP16 copies can be reused
* if the parameters are updated in each iteration, the cache is invalid, and the transformation to

[2022-06-21 18:17] #79190 closed

[2022-06-21 18:47] qqaatw commented on #77764
Working on `aten::l1_loss_backward.grad_input`.

[2022-06-21 18:53] #78923 closed

[2022-06-21 19:12] johnnynunez commented on #77764
anyone is working on aten::index.Tensor and aten::index.Tensor_out? :'(

[2022-06-21 19:28] wschin opened #79963 "Linkage of `void Lint(const AliasDb* db)` is internal"
### 🐛 Describe the bug

I expect the function
[code]
has external linkage so my library can reference it. However, I got a missing symbol error and ELF tool also shows

File: pytorch/torch/lib/libtorch_cpu.so
1606970: 00000000072194fe   902 FUNC    `LOCAL`  DEFAULT   12 _ZN5torch3jit4LintEPKNS0_7AliasDbE

Any idea to make it `GLOBAL`? Or this is by design?

### Versions

Latest Pytorch branch shou

[2022-06-21 20:19] vadimkantorov opened #79967 "[feature request] LazyTensor that provides/loads/computes its contents only upon request"
### 🚀 The feature, motivation and pitch

Discussed in https://github.com/pytorch/pytorch/issues/29523#issuecomment-1157729352

Scenario: do not load materialize state_dict all at once at torch.load time and provide some sort of lazy tensors that either + maybe some usecases by @stas00 also referenced in the issue above:
* know how to lazy_tensor.copyto(param) -> this would be the most efficient an

[2022-06-21 20:20] vadimkantorov commented on #29523
@albanD I factored out some of this discussion into https://github.com/pytorch/pytorch/issues/79967

[2022-06-21 20:30] jansel opened #79968 "PrimTorch burns in static shapes"
With the latest version of PyTorch, I've been migrating TorchInductor to prims (see https://github.com/pytorch/torchdynamo/pull/431) and I've noticed many cases where PrimTorch burns in shapes in cases where the prior _decomps didn't.

The top culprits I see are:
- `prims.broadcast_in_dim` with static integer args
- Tensor constants containing shapes (e.g. numel)

cc @ezyang @mruberry @ngimel @Chi

[2022-06-21 20:41] janeyx99 commented on #79907
Future mitigation:
- Let's monitor the frequency of this-->if it's more frequent than every 6mo, we should look into the solutions.
  - We could write scripts to backfill HUD stats on Rockset when webhooks are broken
  - We could try to make mergebot work when webhooks aren't good
- We could better warn users on their PRs when the bot isn't work (like manually commenting OR writing a spam bot :p)

[2022-06-21 20:50] janeyx99 commented on #76708
We can do this, but we would need to allow this feature for PRs as well. cc @malfet

[2022-06-21 20:55] justinchuby commented on #79950
We can have it in the symbolic context

[2022-06-21 21:04] mruberry commented on #79968
I think these should be traceable without "burn-in" because the values passed to them are derived from tensor metadata?

[2022-06-21 21:05] ngimel commented on #79967
cc @wconstab

[2022-06-21 21:29] wconstab commented on #79967
It might be worth writing down a little more of a design proposal before deciding if this intersects any of the existing lazytensor infra, or is better suited to a new python tensor subclass.

Are you intending to accumulate operations on these lazy tensors and execute them all at some point (when materialized)?  Or do you just want tensors that don't require their memory/state loaded at creation

[2022-06-21 21:33] janeyx99 opened #79977 "[CI] Do we run all cpp tests on CI?"
### 🐛 Describe the bug

We should! But recently, @vors pointed out that there have been regressions not caught by CI before. https://github.com/pytorch/pytorch/pull/79926

Proposal:
We should make sure all cpp tests that are expected to run are run somewhere in CI.

### Versions

CI

[2022-06-21 21:49] shingjan opened #93768 "Model opacus_cifar10 failed at jit.trace"
My repro:
[code]
Stacktrace:
[code]
But running this model in `eager` mode is fine. Is that the case that this model shouldn't be jit-traced?

[2022-06-21 21:51] wconstab commented on #79967
ok, yea i would start with a new python subclass to demonstrate the behavior.

The existing lazytensor functionality is mostly used for accumulating operations and then allowing for them to be compiled.  Its not impossible to make use if it, but it'd probably be quicker to get started separately.

[2022-06-21 22:19] atalman commented on #78005
Link to landed master PR (if applicable):
* https://github.com/pytorch/pytorch/pull/79929

Link to release branch PR:
* https://github.com/pytorch/pytorch/pull/79983

Criteria Category:
* Critical CI fix

[2022-06-21 22:33] eqy opened #79987 "Deterministic `index_put` on CUDA fails when broadcasting is required"
### 🐛 Describe the bug

`index_put` with `torch.use_deterministic_algorithms(True)` when broadcasting is implied fails on CUDA while it succeeds on CPU and without `use_deterministic_algorithms`.

Note that while this appears to be related to previous issues, I do not believe this is a duplicate of an existing bug that has been _already_ fixed. See also: #57515, #61032, #61612, #67189, #72053

Rep

[2022-06-21 22:49] ngimel commented on #79987
This is an almost duplicate of https://github.com/pytorch/pytorch/issues/76176#issuecomment-1105343572, modulo broadcasting dimension

[2022-06-21 22:56] swilson314 commented on #17869
Any progress on this? Is there any way to raise the priority?

[2022-06-21 23:22] bigfootjon commented on #79892
Yeah I support deleting the PHP code. We don’t have any other internal users of this feature besides PyTorch/PyTorch and an internal test repo

[2022-06-21 23:55] zengk95 opened #79992 "[ci] Linux Docs is Running out of Memory (exit code 137)"
### 🐛 Describe the bug

Linux doc is randomly failing within trunk and pr with OOM errors/exit code 137.

Exampes:
https://hud.pytorch.org/pytorch/pytorch/commit/eff74ed7bdb97693535c202a669bc24dbd124641
https://hud.pytorch.org/pytorch/pytorch/commit/f5d7e5a19293c231610147b70ecbc8e705d93bf3
https://hud.pytorch.org/pytorch/pytorch/commit/73f6601cfcd9b869dde5613ab9c8aec2da28527b
https://hud.pytorch.o

[2022-06-21 23:56] zengk95 commented on #79992
cc @janeyx99 @malfet @kit1980 @seemethere

[2022-06-22 01:20] gchaperon opened #79997 "Comprehensive documentation for Tensor indexing?"
### 📚 The doc issue

Is there a comprehensive doc page for Tensor indexing, like there is for [numpy.ndarray](https://numpy.org/doc/stable/user/basics.indexing.html)?

I am facing some inconsistencies, particularly when using combined advanced boolean indexing and basic indexing, where the behaviour is clearly documented in the numpy side of things, but I am getting IndexError s in pytorch.

Would

[2022-06-22 02:16] Chillee opened #80004 "torch.ops.aten.stride doesn't have a default overload"
### 🐛 Describe the bug

`torch.ops.aten.stride.default`

[code]

cc: @anjali411

### Versions

N/A

[2022-06-22 02:27] leon-liangwu opened #80006 "mps bug in Sclising"
### 🐛 Describe the bug

[code]
gives:
[code]

### Versions

1.13.0.dev20220620

cc @kulinseth @albanD

[2022-06-22 02:49] Elec-coder commented on #74824
I  encountered the same problem.

[2022-06-22 02:51] ngimel commented on #79997
Can you provide examples where behavior is divergent from numpy?

[2022-06-22 03:20] zyDotwei opened #80007 "when forward use **kwargs，how to construct the example_ Inputs parameter in jit.trace?"
### 🐛 Describe the bug

import torch

class Model(nn.Module):
    def forward(self, **kwargs):
         # kwargs contains more than dozens of tensors
         pass

model = Model()
trace_model = torch.jit.trace(model, example_inputs=??)

### Versions

PyTorch version: 1.6.0+cu101
Is debug build: False
CUDA used to build PyTorch: 10.1
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.3 LTS (x86_64)

[2022-06-22 03:55] pytorch-bot[bot] opened #80008 "DISABLED test_device_map_gpu_default_to_non_default (__main__.TensorPipeTensorPipeAgentCudaRpcTest)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_device_map_gpu_default_to_non_default&suite=TensorPipeTensorPipeAgentCudaRpcTest&file=distributed/rpc/cuda/test_tensorpipe_agent.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/6993225618).

Over the past 3 hours, it has been

[2022-06-22 03:59] leon-liangwu commented on #80006
Actually, it's the bug in slicing.
[code]

gives
[code]

[2022-06-22 04:21] carsonswope opened #80009 "bug in mps tensor type conversion (uint8 -> float32)"
### 🐛 Describe the bug

Title says it all. I see the same behavior in python and C++.

Script:
[code]
Output:
[code]

C++ example:
[code]

Output:
[code]

### Versions

[code]

cc @kulinseth @albanD

[2022-06-22 04:43] CeadeS commented on #74824
can you printenv HOSTNAME? Is it maybe a local hostname with the name of a docker container? Then you could start the script with HOSTNAME="YOURHOSTNAME"  torchrun ...

[2022-06-22 04:48] VitalyFedyunin commented on #79870
You should not put the training loop and data loader into the Model code, it is an anti-pattern. Also, DataLoader is not JIT-able in any condition.

[2022-06-22 04:48] #79870 closed

[2022-06-22 05:55] powderluv opened #80012 "static builds are broken by MKL / MKL_DNN"
### 🐛 Describe the bug

Building with BUILD_SHARED_LIBRARIES=OFF  will fail if MKL / MKL DNN is enabled.

[code]
Tensor pipe has another issue with static builds here: https://github.com/pytorch/tensorpipe/issues/449

Errors out like
[code]

This is because when MKL is enabled and it is a static build it generates wrong targets in the Ninja file:

[code]

### Versions

Top of main

[2022-06-22 06:03] powderluv commented on #80012
Workaround set USE_MKLDNN=OFF

[2022-06-22 06:10] gchaperon commented on #79997
Sure.
I have a 3-dim tensor, and I want to index the first 2 using a 2-dim boolean mask, and index the third dimension using a slice object. Here is what I have:
[code]

The [relevant](https://numpy.org/devdocs/user/basics.indexing.html#boolean-array-indexing) numpy docs state that the above indexing should be equivalent to `...[mask.nonzero() + (slice(1, None, None),)]` (using numpy's `nonzero()`

[2022-06-22 06:26] gchaperon commented on #79997
oh, and btw I opend a docs issue because I didn't find any doc page documenting tensor indexing (specially advanced indexing). The closest I could find was in [Tensor Views](https://pytorch.org/docs/stable/tensor_view.html), in a note at the bottom, but since it doesn't really say "pytorch indexing has the _exact same_ semantics as numpy indexing" I didn't think of this as a bug

[2022-06-22 06:35] QiusongYang opened #80016 "[ONNX] Input node deleted when converting a Conditional random field model"
### 🐛 Describe the bug

CRF model py:
[code]

Convert script:

[code]

Part graph:
[code]
Conversion success only have 'mask' input node, don't have 'emissions' input node?

### Versions

torch version: 1.10.0
onnx version: 1.11.0

[2022-06-22 06:48] Mapleshade20 commented on #77487
pip / conda reinstalling didn't solve this problem.
Eventually I uninstalled anaconda completely along with the package libs, and then install & configure it all again. Solved

[2022-06-22 06:48] #77487 closed

[2022-06-22 06:57] kshitij12345 commented on #79748
Fixed in #79902

[2022-06-22 06:57] #79748 closed

[2022-06-22 07:10] qqaatw opened #80018 "`USE_PRECOMPILED_HEADERS` is not supported on Apple M1"
### 🐛 Describe the bug

I set `USE_PRECOMPILED_HEADERS` on and built PyTorch from source, errors occurred due to the following lines:

`error: Objective-C was disabled in PCH file but is currently enabled`

https://github.com/pytorch/pytorch/blob/7751ed41a6f81041c7eb0b21f45ac96a8bebe7dd/caffe2/CMakeLists.txt#L838-L840

### Versions

[code]

cc @malfet @seemethere

[2022-06-22 07:30] IvanYashchuk commented on #78923
Still, it might be useful to support kwargs in `make_fx`. It would simplify its usage.
https://github.com/pytorch/pytorch/pull/79858#issuecomment-1161193185

[2022-06-22 07:46] sssimpleboy commented on #56911
hi, have you solved this problem？

[2022-06-22 08:04] francescocarzaniga opened #80020 "canUse32BitIndexMath not working properly in Conv2D layer"
### 🐛 Describe the bug

_This small preamble serves to explain the apparently big batch size my data has and why I want to increase it further._
I have a series of data containing different channels (think images for simplicity), which I am passing through a relatively small CNN. Since I want the same convolutional filters to be applied to each channel, I reshape each batch to have a single channe

[2022-06-22 08:16] andreabonvini commented on #23066
If you already set the CUDA_HOME, remember to delete your building directory (which contains the CMakeCache.txt file) first!

[2022-06-22 09:24] ZhiYuanZeng opened #80022 "memory leaking when doing all_to_all_single communication"
### 🐛 Describe the bug

I observed memory-leaking problem (CPU memory is always decreasing) when training an moe model on (pytorch 11.0, CUDA 11.3, NCCL 2 .10.3). I found that the problem comes from `all_to_all_single` API. But the problem could not be found on (pytorch 1.9, CUDA 11.1, NCCL 2 .708)

The following script could reproduce the problem.

[code]

### Versions

Collecting environment inf

[2022-06-22 09:42] ThomasRobertFr commented on #64520
@Bonnevie Hi,

The following file resolved and installed properly with `poetry install` (`1.2.0b2`):

[code]

Are you sure you're using poetry `1.2.0b2` ? On the server I tried it it installed in a different place than poetry 1.1 and was thus initially not in my path.

However, with your `poetry add` command, I get:

[code]

Which is a different error compared to you, and I'm not getting the same

[2022-06-22 09:52] whr778 commented on #77764
NotImplementedError: The operator 'aten::histc' is not current implemented for the MPS device. If you want this op to be added in priority during the prototype phase of this feature, please comment on https://github.com/pytorch/pytorch/issues/77764. As a temporary fix, you can set the environment variable `PYTORCH_ENABLE_MPS_FALLBACK=1` to use the CPU as a fallback for this op. WARNING: this will

[2022-06-22 12:14] h-grieve commented on #21683
Another +1 from me, really surprised it isn't a feature.

[2022-06-22 13:06] realsarm commented on #42838
Any update on this issue? Will this be supported by amp?
I'm using the latest version

[2022-06-22 13:08] Dvrki opened #80027 "`torch.matmul` does not work properly with tensor indexing"
### 🐛 Describe the bug

There seems to be an inconsistency with the results received from `torch.matmul` when using tensor indexing

[code]

### Versions

Pytorch version: 1.11.0

[2022-06-22 13:19] otaj commented on #75725
Hi @albanD , Cna I ask if is this moving forward somehow? Thanks a lot!

[2022-06-22 13:36] MohamedAliRashad commented on #24243
Is there any updates on this issue ?

[2022-06-22 13:52] albanD commented on #75725
I don't know of any update i'm afraid.
cc @mrshenli from the distributed team

[2022-06-22 13:54] ashishpapanai opened #80029 "PyTorch model converted to ONNX generates scatterNDupdate layers"
### 🐛 Describe the bug

Hi,
I converted a PyTorch model to ONNX to run inferences on it using OpenVINO on NCS2 (VPU). The converted model comprises scatterNDupdate layers which are not supported by the VPU. Is there any specific reason for the creation of those layers? and a way to avoid them?

From the PyTorch ONNX logs, I’ve found the code segment which is creating those layers, It will be of gr

[2022-06-22 14:02] GF-Huang commented on #22083
Same to me, I'm training same model (with same data) on my laptop and server.

### Windows Laptop
- OS: Win10 21H2 Pro 64-bit, 19044.1766
- CPU: Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz
- GPU: GTX 960M 2GB RAM
- RAM: 16GM
- Python: `3.9.12`
- PyTorch: `1.11.0`

#### Speed:

About 6 hours to train 2,000,000 steps.

![image](https://user-images.githubusercontent.com/4510984/175043792-14c9fb02-a8de-

[2022-06-22 14:22] cobacoba opened #80033 "Support `antialias` option on `torch.interpolate` for ONNX export"
### 🚀 The feature, motivation and pitch

Hi, I'm working on a model that uses `torch.interpolate` for upsampling/downsampling with `antialias` function, i.e., `torch>=1.11.0`.  Antialiasing is necessary before downsampling to remove upper half frequency components.

I would like to be able to export this model with ONNX. But, currently it does not yet support the exportation with `antialias` optio