[2022-04-25 16:59] eellison commented on #75903
cc @ZolotukhinM, thoughts here ? maybe this would be a good issue for intel to pick up?

[2022-04-25 17:03] janeyx99 commented on #48251
Hey @Bhavay192! I don't think this issue has been resolved as @imaginary-person had closed the linked attempt (not merged). However, I do not have the expertise to propose resources to solve this particular problem. Would @ngimel @VitalyFedyunin @imaginary-person and maybe @peterbell10 make better suggestions?

[2022-04-25 17:05] #76224 closed

[2022-04-25 17:05] mruberry commented on #76224
This should be fixed by https://github.com/pytorch/pytorch/pull/69640.

[2022-04-25 17:10] mruberry commented on #76063
cc @suo

[2022-04-25 17:10] ngimel commented on #76191
While we are at it, we also might add "full" that produces a tensor that's one larger than input with "0" at the start and inclusive some in the end, it's used sometimes.
THe problem with that is that cub functions blow up binary size and compile time, they are one of biggest offenders, and each of these functions will require a slightly different cub kernel compiled.

[2022-04-25 17:12] ezyang commented on #76063
you can do `make lint` to get mypy; idk what quicklint is supposed to be for

[2022-04-25 17:13] gchanan commented on #76244
@emad can we assign someone to be the POC here?

[2022-04-25 17:13] albanD commented on #76305
Hey!

Small numerical differences are expected due to floating point numbers. See https://pytorch.org/docs/stable/notes/numerical_accuracy.html for more details.

[2022-04-25 17:13] ngimel commented on #76305
This is not losing precision, precision is within expected floating point limits.

[2022-04-25 17:13] #76305 closed

[2022-04-25 17:14] mruberry commented on #76108
Thank you for reporting this issue, @JeffersonQin.

[2022-04-25 17:14] seemethere commented on #76244
Do we have any CI machines that we can use to actively test this as well?

[2022-04-25 17:17] mruberry commented on #76128
cc @seemethere

[2022-04-25 17:18] seemethere commented on #76128
Assigning myself to look into

[2022-04-25 17:18] ngimel commented on #76280
This issue should probably be filed in torchvision repo

[2022-04-25 17:19] ngimel commented on #76284
This is fixed on master/1.11, please reopen if still reproes.

[2022-04-25 17:19] #76284 closed

[2022-04-25 17:20] jbschlosser commented on #76302
Hey @jamesrobertwilliams, there are several expected sources of non-determinism that could result in different outputs for the same input: use of dropout, CUDA-based non-determinism, etc. See the notes [here](https://pytorch.org/docs/stable/notes/randomness.html) for more details on reproducibility within PyTorch.

In general, the issues here are for problems within PyTorch itself, so we kindly su

[2022-04-25 17:21] mruberry commented on #76176
@ngimel or @kurtamohler is one of you working on this?

[2022-04-25 17:22] #76276 closed

[2022-04-25 17:36] #76195 closed

[2022-04-25 17:38] jamesrobertwilliams commented on #76302
@mrshenli
@jbschlosser with all due respect, you are totally wrong here. Please consider the following:

- the model is jit traced, and run on cpu.
- the model gives exactly the same results on consecutive runs on different (production type server) machines.
- the model gives different results on consecutive runs on consumer grade (laptops) hardware. The results as I show are wildly different.

I

[2022-04-25 17:39] davidberard98 commented on #75903
https://github.com/pytorch/pytorch/compare/master...davidberard98:mutator-caching?expand=1 - would something like this work?

[2022-04-25 17:58] suo commented on #76063
make lint and make quicklint will both run mypy, through lintrunner. In both cases, it will only run on your changed files.

check out https://github.com/pytorch/pytorch/wiki/lintrunner to get set up with it

[2022-04-25 18:10] 0x00b1 opened #76324 "Generic Bessel functions"
### 🚀 The feature, motivation and pitch

I have a pull request open that adds the remaining so-called fast Bessel functions (e.g., `j0`, `y0`, `k0`, etc.) but I now want to start thinking about adding the generic Bessel functions as they are extremely useful (and are needed to provided nice derivatives for the existing and previously proposed Bessel functions). This is a sketch of the API I have b

[2022-04-25 18:12] kumpera opened #76325 "[checkpoint] Use fsspec to support object storage"
### 🚀 The feature, motivation and pitch

Extends FileSystemStorageReader / FileSystemStorageWrite to work with fsspec so they can be used with object storage.

### Alternatives

_No response_

### Additional context

_No response_

[2022-04-25 18:15] kumpera opened #76326 "[checkpoint] Support models with different cross-rank metadata"
### 🚀 The feature, motivation and pitch

Some models can have different checkpoint metadata across ranks.

Extend our API / implementation to handle those scenarios.

### Alternatives

_No response_

### Additional context

_No response_

[2022-04-25 18:17] ykabusalah commented on #71458
Hello, I see not much work has been done on this since January 25. Would I be able to get started on working on this issue?

[2022-04-25 18:18] ykabusalah commented on #57031
Hello, I see that this issue has still not been addressed. Would I be able to tackle this along with the two other issues I asked for?

Thank you!

[2022-04-25 18:18] davidberard98 commented on #76315
DataParallel unfortunately doesn't support scripting: https://github.com/pytorch/pytorch/issues/30635

[2022-04-25 18:18] #76315 closed

[2022-04-25 18:22] jbschlosser commented on #76302
@jamesrobertwilliams I recommend the following:
1. Ensure you've placed the model in `eval()` mode before tracing to avoid e.g. updating batch norm stats. As I'm sure you're aware, the mode the model is placed in before tracing is the mode that the traced model will be in.
2. Run with the latest nightly version of PyTorch to see if your issue persists. If it does, please run the environment gather

[2022-04-25 18:23] janeyx99 commented on #74341
@ykabusalah Yea, feel free! I don't see updates from @tanmoyio in the past 2 weeks so go ahead. Please feel free to ping me in your attempt PR when it is available :D

[2022-04-25 18:29] kumpera opened #76327 "[checkpoint] Add extension points to avoid the default serialization behavior"
### 🚀 The feature, motivation and pitch

Checkpointing code currently uses pickle and torch.load/torch.save for serialization.
We should have extension points to allow users to override those as they happen outside of the storage layer.

### Alternatives

_No response_

### Additional context

_No response_

[2022-04-25 18:35] pmeier commented on #76280
FCOS models were only added in pytorch/vision#4961. You need at least `torchvision==0.12.0` to access it.

[2022-04-25 18:35] H-Huang commented on #76069
I think there are 2 issues:

1. As you described there are 4 nodes and the nodes all need to rendezvous onto **one** node. Therefore you should not be using `localhost` as in your case each individual node is acting as the "rendezvous point". You should be using `(scontrol show hostnames "$SLURM_JOB_NODELIST" | head -n 1)` to allocate one node as master.

2. Each process is calling `port = get_ope

[2022-04-25 18:58] justinchuby opened #76329 "[ONNX] Reduce import inside functions"
### 🚀 The feature, motivation and pitch

We have quite a few import-when-use in the onnx exporter. These imports are largely there to prevent circular imports.

An example is

https://github.com/pytorch/pytorch/blob/f4200600e44d8696134b14aac142cfc20b276e36/torch/onnx/utils.py#L598-L603

Importing in the middle reduces readability and complicates analysis. It is also more prone to error. Proposed s

[2022-04-25 19:01] ptrblck commented on #76186
Cross-posting:
`apex.amp` is deprecated in favor of the native implementation via `torch.cuda.amp`, which should work fine with `torch.fx`.

[2022-04-25 19:03] #76280 closed

[2022-04-25 19:05] kumpera opened #76331 "[checkpoint] Avoid loading whole tensor when resharding"
### 🚀 The feature, motivation and pitch

The FileSystem implementation of the storage layer uses torch.load / torch.save to serializer tensors.
While this is ok for saving, it's a problem when resharding during load as we can't do a partial read and load the whole tensor in memory first before copying a small part of it to its destination.

This could lead to OOM when resharding to a small memory

[2022-04-25 19:07] jamesrobertwilliams commented on #76302
@jbschlosser thank you for reconsidering my issue :)

[1] The model is def in eval mode - as evidenced by my runs on other machines (where I get reproducible results across different servers - the results are EXACTLY the same on consecutive runs).,
[2] This was built directly from the master source. Please note that this is a libtorch issue (not pytorch) and thus these are my environments:

[code]

[2022-04-25 19:23] NivekT commented on #57031
Hi, what are DataPipes are you looking for and what are the two other issues?

We are in the process of providing more guidance to users about `MapDataPipe`. In general, rather than duplicating the same functionalities twice for `Iter` and `Map`, we believe it is better to use `IterDataPipe` and provide a converter to convert `IterDataPipe` to `MapDataPipe` when necessary. We are open to feedback

[2022-04-25 19:57] nikitaved commented on #75721
@BichenWuUCB , could you please share your code that uses `index_select`? I would love to benchmark it for https://github.com/pytorch/pytorch/pull/72710.

[2022-04-25 20:02] ykabusalah commented on #74341
@janeyx99 Thank you! Would you mind assigning me to the item?

[2022-04-25 20:04] ykabusalah commented on #57031
I am looking at two other good first issues that I have commented on, so please ignore that part.

And what do you mean by what are DataPipes are you looking for? @NivekT

[2022-04-25 20:15] #73212 closed

[2022-04-25 20:23] seemethere commented on #76128
Linking the original PR for context: https://github.com/pytorch/pytorch/pull/50745

Submitted https://github.com/pytorch/pytorch/pull/76336 to resolve

[2022-04-25 20:23] NivekT commented on #57031
I thought you wanted us to add specific `MapDataPipe` due to your use case, but if that is not the case, nevermind.

[2022-04-25 20:27] ykabusalah commented on #57031
You certainly could I just didn't understand initially. But could I tackle this issue then? @NivekT

[2022-04-25 20:29] ykabusalah commented on #16663
@SplitInfinity Hello, would I be able to tackle this issue as I see it hasn't been addressed for some time?

Thank you.

[2022-04-25 20:34] vadimkantorov commented on #76324
Some naming considerations:
- it may be simpler to google things if they have some prefix
- it may also save some code when importing just these functions from the module `from torch.special import k` as there currently may be clashes with other variables `k`/`i` (`as bessel_k` is possible of course, but doing without this and keeping the naming standard across codebases may be good)
- on the othe

[2022-04-25 20:51] ZitongZhou opened #76338 "torch.bucketize doc typo on the left boundary when 'right=True'"
### 📚 The doc issue

In https://pytorch.org/docs/stable/generated/torch.bucketize.html#torch.bucketize, the text says "If right is False (default), then the left boundary is closed. More formally, the returned index satisfies the following rules:", but the table below illustrates the opposite: left boundary is closed when right=True.
<img width="868" alt="Screen Shot 2022-04-25 at 1 48 46 PM" src=

[2022-04-25 21:29] LJ-00 opened #76341 "Sudden"
### 🐛 Describe the bug

Hello I have problem with pytorch
!pip install torch==1.9  #I NEED TO USE THIS VERSION and the following code has been working so far until now.
I don't know why I get this error just now

from torchvision import transforms

ModuleNotFoundError: No module named 'torch.ao.quantization'

Full code:
###############################
!pip install torch==1.9
import numpy as np
fro

[2022-04-25 21:46] neerajprad commented on #76160
cc. @nonconvexopt.

I believe there's a small probability of sampling singular values which results in this error. @nonconvexopt: please correct if my understanding is off. I see that we are not fixing the seed here, so it can happen non-deterministically. Let me push a fix for this.

[2022-04-25 21:56] jjsjann123 commented on #76046
Lerp issue is getting addressed in https://github.com/csarofeen/pytorch/pull/1612

[2022-04-25 22:06] dashesy opened #76344 "[ONNX] Use topk to export max(keepdim) to onnx"
### 🐛 Describe the bug

### Model 1:

[code]

![image](https://user-images.githubusercontent.com/873905/165182186-9cd3b5f8-aea8-4ae0-80b2-42aff27674f5.png)

### Model 2:

[code]

![image](https://user-images.githubusercontent.com/873905/165182316-95dbc0df-52c5-4666-aad9-4c4348ef1ffd.png)

### Export:

[code]

There are two issues with exporting "Max(1,keep_dim=True)"

1. It is not efficient (to ca

[2022-04-25 22:08] NivekT commented on #57031
Thanks for your interest. There are several open PRs related to this issue so we are good for now.

There are [other good first issues here for TorchData](https://github.com/pytorch/data/contribute), let us know if you are interested in working on any of those that do not have existing open PRs.

[2022-04-25 22:26] #75708 closed

[2022-04-25 22:28] nikitaved opened #76347 "`index_select` allows negative `index` for sparse but not for strided `self`"
### 🐛 Describe the bug

As per title:

[code]

### Versions

[code]

[2022-04-25 22:29] eellison commented on #75903
This might be solved by off-thread compilation as well... tbd on implementation in nvfuser or jit

[2022-04-25 22:33] eellison commented on #76110
I think you're running a new test with an old version of pytorch. Do you mind repro-ing on master ? Closing, feel free to re-open if you run into this on master.

[2022-04-25 22:33] #76110 closed

[2022-04-25 22:41] soulitzer commented on #76290
When you specify `batched_grads=True`, only the grad_out is intepreted as having an additional batch dimension. For example if  output has a shape of `(2,)` then grad_out should have a shape of `(B, 2)`. If you'd like to batch the forward as well, you should checkout `vmap` in [functorch](https://github.com/pytorch/functorch.)

[2022-04-25 22:41] #76290 closed

[2022-04-25 22:44] zdevito opened #124423 "`__getitem__` fails to vmap for one dimensional tensors"
Example code:

    from functorch import vmap
    import torch
    def f(x):
        return torch.ones(4)[x]

    y = torch.arange(2)
    print(vmap(f)(y))

Output:

    RuntimeError                              Traceback (most recent call last)
    [<ipython-input-3-8b227da701ad>](https://r6s5at9hp4a-496ff2e9c6d22116-0-colab.googleusercontent.com/outputframe.html?vrz=colab-20220422-060045-RC00_44

[2022-04-25 23:26] Lezcano commented on #76300
Is the matrix close to singular? If so, perhaps you want to run the computation in double precision?
In any case, if the matrix is close to singular you might bump into these problems, as different systems may have different backends that may implement different algorithms with different properties.

[2022-04-25 23:41] seemethere commented on #76128
Closing since https://github.com/pytorch/pytorch/pull/76336 should resolve

[2022-04-26 00:13] HDCharles commented on #76310
Can you clarify the ask? It seems like in the previous diff the issue was creating the python scaffolding for the quantized kernel. That scaffolding now exists and after a cursory glance I don't see what the blocker would be as far as the python scaffolding and i don't hit ANY error when I try to test it, it seems to work already.

[code]

[2022-04-26 00:18] davidberard98 opened #76354 "NVFuser failing extremal opinfos"
### 🐛 Describe the bug

[failure logs](https://gist.github.com/davidberard98/d6e30e7c888e04cd884397d0e5922139)

- [ ] nn_functional_binary_cross_entropy_with_logits
- [x] nn_functional_conv_transpose3d (#75363)
- [ ] nn_functional_nll_loss
- [ ] nn_functional_prelu
- [ ] unique_consecutive (https://github.com/pytorch/pytorch/issues/76571)
- [ ] unique  (https://github.com/pytorch/pytorch/issues/76

[2022-04-26 00:20] HDCharles commented on #76298
We might also be able to help more if you give some more context, for example, why doesn't quint8 suit your needs in this case?

[2022-04-26 00:34] ngimel commented on #76354
Of these most are RuntimeErrors, where eager function errors out on invalid inputs. Most of remaining ones involve random number generation one way or another (dropout, normal, randn, rand), I'm not sure we can expect similar results for nvfuser/eager in this case (how does regular OpInfo testing pass?) but NVFuser team can confirm.
Can we modify the PR to catch eager mode errors and not attempt t

[2022-04-26 00:37] HDCharles commented on #76304
The issue is the quantized kernel itself doesn't support those padding modes, we can perhaps throw a better error but it would be up to the fbgemm team for their kernel to add support for this. @kimishpatel is there any plans to support this or should we add a check for the padding or something like that?

[2022-04-26 01:05] xkszltl commented on #76103
It used to work quite nicely on parallel.

[2022-04-26 01:50] liuyongcan commented on #76219
Do you have any plans to solve this problem? if pytorch don't have memory leak, it's perfect!
@ngimel @albanD

[2022-04-26 02:48] jjsjann123 commented on #76107
We had a few PRs fixing vectorization validation in the past few months: I think the exact PR that fixes this error is: https://github.com/csarofeen/pytorch/issues/1523

[2022-04-26 02:54] ezyang commented on #76294
making them install functorch to use the functionality seems very mild, if it means we can unify the UX earlier rather than later

[2022-04-26 03:00] davidberard98 commented on #76107
@casparvl fwiw, nvfuser wasn't enabled by default in 1.11 - if you don't expect to be using nvfuser specifically, it would probably be fine to wait for 1.12

[2022-04-26 03:33] bhosalems opened #76361 "ComplexFloat support for clamp() in Pytorch?"
### 🐛 Describe the bug

I am getting below error,

[code]
RuntimeError: "clamp_min_cpu" not implemented for 'ComplexFloat'

### Versions

pytorch 1.11.0

How do I bypass this error?

[2022-04-26 03:37] Francis0103 opened #76362 "Whether 'targetSize' in inferExpandGeometryImpl needs to be checked when it is less than 0"
### 🐛 Describe the bug

when I run below code
[code]

I got error message as below:

It seems to report 'reshape' has invalid parameter， actually expand op does.  It causes confuse sometime. Maybe torch should check 'targerSize' in inferExpandGeometryImpl to make sure it is greater than or equal to 0

### Versions

'1.12.0a0+git0aa3c39'

[2022-04-26 03:50] jansel opened #93747 "Add documentation for adding training backends to README.md"
Currently, [README.md documents adding inference backends](https://github.com/jansel/torchdynamo#adding-backends), but not training backends with AOT Autograd.

We should add some details on this, and also perhaps make it a bit easier.

One thing that could help streamline the process would be to extend AOTAutogradStrategy:
https://github.com/jansel/torchdynamo/blob/8db8efc7681e4ae5851c3a298250993

[2022-04-26 05:58] mruberry commented on #76324
cc @rgommers @Lezcano

[2022-04-26 06:00] mruberry commented on #76324
When it comes to operator naming we can have aliases, too, if there are two reasonable names for operations.

@0x00b1 -- how would this interface compare or be consistent with PyTorch's current operations and SciPy's special operations? Are there other popular frameworks or libraries we can look at for datapoints, too, like Matlab or Julia?

[2022-04-26 06:08] leslie-fang-intel commented on #75956
Hi @jjsjann123 and @davidberard98, as the issues we reported here and https://github.com/pytorch/pytorch/issues/75866 for the `Autocast JIT Pass`. Can we make this pass default off for now?

[2022-04-26 06:25] nonconvexopt commented on #76160
@neerajprad Thank you for your effort in the maintenance. It is my bad that I didn't applied practical solution for the numerical instability in matrix distributions. Sorry for that I have been also halting the implemenation of the Invese Wishart distribution (#70275) for several months.

This is the second time that the Wishart distribution fails the test with some change in the PyTorch core. Cur

[2022-04-26 06:32] ishaan-mehta commented on #76361
https://github.com/pytorch/pytorch/issues/36444#issuecomment-613153990

In summary: this is not a bug. Comparison operations such as `clamp`, `min`, `max`, etc. are not supported for complex types in PyTorch.

[2022-04-26 08:40] rgommers commented on #76324
For SciPy [docs](http://scipy.github.io/devdocs/reference/special.html#bessel-functions) most functions have an extra "v", so `jv`, `jve` instead of `j`, `je` as proposed here. And `hankel` is spelled in full.

For Matlab I can only find a subset [here](https://www.mathworks.com/help/matlab/special-functions.html?s_tid=CRUX_lftnav) so quickly, but names are `besselj` etc.

One-letter function name

[2022-04-26 08:42] Lezcano commented on #76324
Disclaimer: I don't know much more about Bessel functions than what you study on a first / second course on ODEs (which is not much).

Now, my 2cts on this are:

I would go with `bessel_*` names rather than just with the names from `scipy`. The ideas in https://github.com/pytorch/pytorch/issues/76324#issuecomment-1109014097 for doing this are very compelling. Even more, otherwise you get awkward t

[2022-04-26 09:00] DRJYYDS commented on #25481
Hi, this code doesn't work for me.
The error tip is  'Tensor' object has no attribute 'mH'
could you help me to fix this?

[2022-04-26 09:01] Lezcano commented on #25481
You should update to a newer version of PyTorch.

[2022-04-26 09:37] DRJYYDS commented on #25481
Got it, Thanks.

And I found this function seems produce different output compared with  scipy.linalg.sqrtm,

![1a776a59a007734415c00f5d1662675](https://user-images.githubusercontent.com/102657334/165266815-e9c43392-7947-4f72-b5ab-21953505b7e8.png)

And btw the function that @xmodar  provided also  has the same output as yours.

Is the function has bigger error compared with scipy.linalg.sqrtm?

[2022-04-26 09:39] tingweiwu opened #76367 "torch.distributed.launch don't set the right MASTER_ADDR"
### 🐛 Describe the bug

it  run well in torch 1.8.1,but get hang in torch 1.10.2 and 1.11.0，I guess the reason is the MASTER_ADDR value。

TRAINING_SCRIPT.py  as following
[code]
node1:
[code]
node2:
[code]
I add print in launch.py
![image](https://user-images.githubusercontent.com/29671725/165267978-7076be0d-d64b-4962-a1df-a0f85aba6336.png)
the output of node1
[code]

the output of node2
[code]

w

[2022-04-26 10:03] PMMon opened #76368 "Inconsistent behavior when using Adam optimizer with PyTorch's CUDA Graphs API"
I am currently trying to accelerate my PyTorch code using Pytorch's new advanced CUDA feature, CUDA Graphs <https://pytorch.org/blog/accelerating-pytorch-with-cuda-graphs/>.
However, when training my accelerated network, I stumbled across inconsistencies regarding the network's weight update.
When using `torch.optim.Adam()` optimizer, it appears that the weight update of the accelerated network is

[2022-04-26 10:35] Lezcano commented on #25481
Or does `linalg.sqrtm` have a larger error than this one (I'd doubt that tbh). You should measure that.

Now, I don't think this discussion should go here but into the forum or stackoverflow. Please feel free to post it there, cross link it editing your post if you want, and we can discuss all these points there.

[2022-04-26 10:47] franchesoni commented on #16897
Nudging here

[2022-04-26 12:28] vadimkantorov commented on #76287
This also happens sometimes even in a single-node DDP setup...

[2022-04-26 13:29] albanD commented on #76219
The problem is that if you're unlucky and the cuda context is already dead, we don't have a choice. You either leak memory or segfault.

[2022-04-26 13:51] casparvl commented on #76110
I'm not sure what you mean by this comment. I've compiled from the 1.11.0 tagged release, [this test](https://github.com/pytorch/pytorch/blob/v1.11.0/test/test_jit_cuda_fuser.py#L2839) came with the sources for that release, so it should work, right? Or am I missing something here?

Maybe a bit of context: I'm managing an HPC cluster, and would like to offer PyTorch 1.11 on this cluster. My main c

[2022-04-26 14:04] 0x00b1 commented on #76324
Easy.

We cannot just differentiate the forward but they are relatively easy to implement and can probably be implemented in their entirety in derivatives.yaml as they are usually implemented in terms of other Bessel functions.

Not easy but not especially challenging. I agree that complex inputs would be super valuable. In fact, this is my use case!

[2022-04-26 14:06] 0x00b1 commented on #76324
I agree. I also like the written format for special functions as it saves me a trip to Wikipedia to remember the notation. However, one challenge is consistency with `i0`, i0e`, i1`, and `i1e`. What would you do here?

[2022-04-26 14:10] trifasico commented on #76031
The nvidia-smi shows the same result as the task manager.
Any other ideas I can try?

[2022-04-26 14:13] kimishpatel commented on #76298
So we already added support for symmetric qat (qint8 activation with qint8 weights with value restriction + zero point=0). @digantdesai landed the change here https://github.com/pytorch/pytorch/pull/74507. There are many operators which are not fully supported but conv, linear and add are and likely a whole bunch others have non-performant implementations. If you can quantize your model with this

[2022-04-26 14:14] xuzijian629 opened #76371 "[ONNX] Intermediate values are encoded when exporting operators with custom namespace"
### 🐛 Describe the bug

# Bug description
From torch 1.11, when exporting a module with custom operator, the intermediate values are encoded. Intermediate `value_info`s have `dim_param`s named by https://github.com/pytorch/pytorch/blob/bc2c6edaf163b1a1330e37a6e34caf8c553e4755/torch/csrc/jit/serialization/export.cpp#L563

Before torch 1.10, `value_info`s for intermediate values are not encoded into

[2022-04-26 14:17] 8scarlet8 commented on #75252
Thank you for your reply, @BowenBao.

I've managed to solve the problem by initializing model with all batchnorms in `track_running_stats=True` mode, then loading model weights and converting to onnx.

Your solution seems plausible as well, in case we need to fix already converted model for example.

What bothers me is that this problem seems counter intuitive to me. Please correct me, if I'm wron

[2022-04-26 14:20] bhosalems commented on #76361
Thanks for pointing that out, Also as suggested https://discuss.pytorch.org/t/complexfloat-supported-in-clam-pytorch/150076 will open the feature request.

[2022-04-26 14:20] #76361 closed

[2022-04-26 14:27] salilsdesai commented on #76310
We are specifically interested in the fx quantization workflow. Quantized softmax works for both datatypes and any input scale/zero point in general, but we have added an optimized version for uint8 with input scale 1/256 and zero point 0, and we are planning to land a similarly optimized version for int8 with input scale 1/256 and zero point -128. So we want the fx quantization workflow to allow

[2022-04-26 14:42] adeandrade opened #76373 ""Address already in use" from DataLoader on different process with num_workers > 1"
### 🐛 Describe the bug

On a system with multiple GPUs, several independent PyTorch jobs can be run. If a first job has a DataLoader with num_workers > 1, and a second job is launched with num_workers > 1, the latter will throw the following exception:

[code]

The process will become a zombie process that does not die and does not do anything.

### Versions

1.11.0

cc @SsnL @VitalyFedyunin @ejgu

[2022-04-26 14:53] rgommers commented on #76324
The `torch.special` versions of those functions are pretty new and not heavily used yet I assume. So I would just give them better/consistent new names and deprecate the existing ones.

I'm not sure if that was considered when they were first implemented. @kshitij12345 can you comment on that?

[2022-04-26 14:56] kumpera commented on #71458
Yes, feel free to work on this issue.

[2022-04-26 15:25] hanlint commented on #76086
@davidberard98 Thanks, your assessment is accurate. I will close this as this is a known unsupported feature.

[2022-04-26 15:25] #76086 closed

[2022-04-26 15:29] neerajprad commented on #76160
What does scipy do? For as long as we have a comparable implementation, it is okay to have the user adjust the number of tries for parameter values which are known to be unstable.

[2022-04-26 15:50] ykabusalah commented on #71458
Can you please assign me to the issue?

[2022-04-26 15:57] awgu commented on #75255
https://github.com/pytorch/pytorch/pull/75431

[2022-04-26 15:57] #75255 closed

[2022-04-26 16:12] MrDaniLLka commented on #75579
Change of versions solved everything, sorry for disturbing

[2022-04-26 16:17] justinchuby opened #76378 "[ONNX] Format ONNX exporter code with Black"
### 🚀 The feature, motivation and pitch

Now that the black linter is added #76352, we can opt in to the check and standardize formatting for ONNX with Black.

The paths are

[code]

### Alternatives

_No response_

### Additional context

_No response_

[2022-04-26 16:20] kshitij12345 commented on #76324
While adding these functions, the idea was the match the names from `scipy.special` as `torch.special` is meant to be analogous. However I agree that one-letter names are not the must intuitive and it would be nice to have clear prefix.

Like @vadimkantorov mentioned we can add these new aliases and gradually deprecate the shorter names (or keep them but publicize the new names).

[2022-04-26 16:34] mikaylagawarecki opened #76379 "`Tensor.to(dtype)`on SparseCSR Tensor raises an error"
### 🐛 Describe the bug

[code]
Raises the error
```RuntimeError: copy_sparse_csr_: only tensors with the same number of specified elements are supported.```

This seems to arise from the call to `copy_` in `_to_copy`
https://github.com/pytorch/pytorch/blob/68a9057aa6da0de7f2eee5327e5dfda3469827f9/aten/src/ATen/native/TensorConversions.cpp#L67-L71
which calls into `copy_sparse_csr_` where there is

[2022-04-26 16:47] awgu opened #76382 "[RFC] Support Multiple Parameter Groups in FSDP"
### Problem & Motivation
Currently, `FullyShardedDataParallel` (FSDP) flattens parameters into a single `FlatParameter`, losing the ability to manipulate at the granularity of the original unflattened parameters. This prevents users from defining multiple optimizer parameter groups, where unflattened parameters comprising the same `FlatParameter` span different parameter groups. This RFC addresses

[2022-04-26 16:59] seva100 opened #76383 "Suggestion to throw a UserWarning when the user has forgotten .eval() mode during inference"
### 🚀 The feature, motivation and pitch

It happens really often that during inference time, one forgets to put the model in eval mode `model.eval()` beforehand. When the network has layers with different train/test behavior, such as Dropout / BatchNorm, this can be a source of bugs that are really hard to trace afterwards.

I was wondering if it's possible for PyTorch to throw a warning when the

[2022-04-26 17:00] #69222 closed

[2022-04-26 17:07] venabled commented on #52286
For reference, in the detectron2 deployment example, I get an issue with that assignment (gcc10, cuda toolkit 11.6):

[code]

[2022-04-26 17:22] kwen2501 commented on #76103
Hi @xkszltl Setting environment variable `NCCL_DEBUG=WARN` may help printing the error encountered here. `NCCL_DEBUG=INFO` may provide more information but it would also be more verbose.

[2022-04-26 17:32] xkszltl commented on #76103
INFO will be too much as it's running parallel tests with all the others.
I can schedule one during the next idle slot of build machines.

[2022-04-26 17:33] kwen2501 commented on #76288
Hi it looks like an AllGather operation timed out. This could be due to a rank not arriving at this collective call, or the ranks providing different size arguments.

The following debug flags may help reveal more information:
[code]

[2022-04-26 17:39] kwen2501 commented on #76103
As @mruberry suggested, this may not be a supported behavior. We are happy to look at the error log once you have it.

[2022-04-26 17:53] zzzwen opened #76386 "[WIP]Checkpoint state_dict and enable resharding for Sharded Tensor"
### 🚀 The feature, motivation and pitch

with @kumpera  @pritamdamania  @aazzolini  @xunnanxu @yifuwang

## TL;DR
The proposal here is to introduce a default solution to save, load and resharding ShardedTensor. It will complete the ecosystem, and offer users the "battery included" optional when working with  ShardedTensor.

## API

### For the WIP code, see this PR https://github.com/pytorch/pytor

[2022-04-26 17:54] kumpera opened #76387 "[checkpoint] Make prepare_sharded_tensor_read and prepare_sharded_tensor_write public"
### 🚀 The feature, motivation and pitch

Those two functions are required by torchrec and should be part of the public API.

They currently lack good docstrings and unit tests, so those two itens must be addressed.

### Alternatives

_No response_

### Additional context

_No response_

[2022-04-26 18:08] kiukchung commented on #76367
@tingweiwu could you rerun the commands with the environment variable `LOGLEVEL=INFO`. Example:

[code]

and copy-paste the output from both nodes here?

[2022-04-26 18:10] JulienBalianSonos opened #76390 "8 bits Quantization Inference overflow provide unexpected results"
### 🐛 Describe the bug

8bit Quantization with Conv1d & Linear operations provide unexpected overflow results.

Code snippet to reproduce:
[code]

Computing by hand expected result for case 1:

[code]

### Versions
Tested on  Pytorch v1.6.0,1.8.0,v1.11.0, Linux OS with X86 on CPU.
Libc version: glibc-2.29
Python version: 3.7.12+ (heads/3.7:d5650a1, Nov 15 2021, 10:15:08)  [GCC 9.3.0] (64-bit runti

[2022-04-26 18:15] kiukchung commented on #76367
FWIW, the easy fix here is to use the **same** command to launch on both nodes, since `torch.distributed.launch` by design assumes that the same parameters will be passed on all nodes. So instead of

[code]

Run

[code]

[2022-04-26 18:34] jbschlosser commented on #76302
Looks like your model consists of batch norm, conv, dropout, linear and prelu.. also confirmed that the serialized model correctly puts the batch norm and dropout layers into eval mode. So it seems like `Conv2d` is likely the culprit for non-determinism. @jamesrobertwilliams Perhaps you could dig into the backend selected across the two types of machines:
https://github.com/pytorch/pytorch/blob/4b

[2022-04-26 18:40] yoanisgil commented on #76198
Yes. Actually, I realized that I was not setting `max-restarts` to a value greater than 0. Once I started passing `--max-restarts=5` to `python -m torch.distributed.run` everything started working as expected.

[2022-04-26 18:40] #76198 closed

[2022-04-26 18:51] yifuwang commented on #76387
Thanks for filing this issue @kumpera!

The intention was to provide a utility that, given `ShardedTensor` `A` and the `ShardedTensorMetadata` of `ShardedTensor` `B` (with the same logical shape as `A` but potentially different sharding), figures out how to copy the content of `B` to `A`.

I believe is the core logic for `ShardedTensor` resharding. Providing this utility as a public API would allo

[2022-04-26 19:04] #76390 closed

[2022-04-26 19:06] zengk95 commented on #66178
# 4/11–4/18
## No PR signal
#76045
#75974

## Ignored signal
#76262
#76076
#73770

## Land races
#76038

## Weird
#72302 this caused internal regressions but didn't cause errors, just performance degradation
#75983 broke something in torchvision

## GitHub first-related
#76075
#75538

[2022-04-26 19:14] kumpera opened #76395 "[checkpoint] SPMD distributed checkpoint coordination"
### 🚀 The feature, motivation and pitch

The current implementation provides no coordination around completion or failure.

A call to `load_state_dict` or `save_state_dict` should complete either when:

- the global checkpoint has successfully being written and sync'd to storage.
- one or more ranks ran into an error

It should be possible to know if a checkpoint ran to completion by only looking

[2022-04-26 19:16] jamesrobertwilliams commented on #76302
@jbschlosser firstly thank you ever so much for looking into it - so, I was not really insane :D
Now, in libtorch, how do I check the backend selected? is this something I specify when I compile libtorch?
Is it possible to print out what backend libtorch is using? Apologies if these are dumb questions :(

I am looking at this:
https://github.com/pytorch/pytorch/issues/18776
and this:
https://githu

[2022-04-26 19:35] zengk95 commented on #76243
Yes I will do that. Sorry, I missed this!

[2022-04-26 19:47] glenn-jocher commented on #74016
Still present in `torch=1.11.0`

[2022-04-26 19:57] thiagocrepaldi commented on #75623
All planned PRs have been merged

[2022-04-26 19:57] #75623 closed

[2022-04-26 20:27] zzzwen commented on #76387
IIUC, the use case here is to load one tensor instead of the entire state_dict? sounds like a validate use case. Shall  we update the name to get_read_requests_for_tensor()?
I guess the prefix "prepare" hints that's not a public function

[2022-04-26 20:28] JackCaoG commented on #76243
Thanks @zengk95 , @yeounoh is verifying upstream test is passing on our current master. We can ping you again when we think it is safe to turn on test again.

[2022-04-26 20:41] seemethere commented on #75169
Assigning to @jeffdaily to fix

[2022-04-26 20:47] jbschlosser commented on #76302
@jamesrobertwilliams I was not able to reproduce the issue - my results are consistent across runs. My current hypothesis is that your issue is related to the backend being selected on your hardware.

The backend is selected dynamically as a function of the input parameters. You'll have to make some changes to the source and recompile to print out the backend. The [diff here](https://github.com/py

[2022-04-26 21:01] jruales opened #76401 "404 when trying to get pytorch-mutex-1.0-cuda.tar.bz2 from Conda"
### 🐛 Describe the bug

As part of a Dockerfile, we have a line that runs the following:
`conda install pytorch torchvision torchaudio torchtext cudatoolkit --channel pytorch && pip install torchinfo torchsummary`

This has been working fine, but it stopped working today with the error "404" NOT FOUND for url https://conda.anaconda.org/pytorch/noarch/pytorch-mutex-1.0-cuda.tar.bz2

If you go to th

[2022-04-26 21:11] davidberard98 commented on #75956
@leslie-fang-intel
First, you can use `torch._C._jit_set_autocast_mode(False)` to disable autocasting.

Regarding https://github.com/pytorch/pytorch/issues/75866: thanks for the report, I'll look into getting the JIT autocasting pass better aligned with eager autocasting

Regarding extending op list & making it consistent with eager: we can add a global function that allows modifying the casting p

[2022-04-26 21:24] sclarkson commented on #25891
Closing, since this only affected Python 2 which is no longer supported.

[2022-04-26 21:24] #25891 closed

[2022-04-26 21:24] pritamdamania87 commented on #76387
Don't we need some sort of knowledge of the storage system here though? For example prepare_sharded_tensor_read returns List[TensorReadRequests] which contains a storage_key. The storage_key is something that is specific to the StorageWriter/Reader interface.

If we have a ShardedTensor B in a checkpoint and we want to figure out how to copy it to ShardedTensor A in memory, it seems like you need

[2022-04-26 21:26] HDCharles commented on #76304
As of now the fbgemm team doesn't look like they're support this so I'm going to mark this as closed.

[2022-04-26 21:28] HDCharles commented on #76304
After speaking witht he fbgemmm team they say they aren't looking to support this so I'll add a better error message.

[2022-04-26 21:29] zengk95 commented on #76243
So it's not safe to turn it back on? Can you accept this #76403 when it's fixed? We may be losing signal on this test the longer it's disabled and if there's a PR that breaks it while it's disabled, it may take a while to bisect it.

[2022-04-26 21:34] HDCharles commented on #76310
when you say allow for and enforce, are you looking for the workflow to forcibly select these optimized scale/zero_point and not allow other parameters?

[2022-04-26 21:48] jjsjann123 commented on #75903
cc'ing @zasdfgbnm

I believe you are looking at the compilation time issue for nvfuser. David's small example doesn't repro with nvfuser unfortunately. But I did try with the original script with nvfuser turned on and observed the hang.

[2022-04-26 21:55] zou3519 commented on #76401
I can reproduce this

[2022-04-26 21:57] zou3519 commented on #76368
@PMMon -- how much do the results differ by? It's generally not a good idea to use "==" to compare two floating-point numbers

[2022-04-26 21:58] zou3519 commented on #76362
Agree that the error message could be clearer

[2022-04-26 22:05] jamesrobertwilliams commented on #76302
That's disappointing for me! the bizzare thing is there is another jit traced model I use within libtorch and that is totally consistent across all machines.I am pretty sure that has conv2d.

Thanks a tonne - I will look how to do this.

[2022-04-26 22:17] peterbell10 opened #76410 "TorchFunction handling and overload resolution very slow in `torch.ops`"
### 🐛 Describe the bug

This was noticed while investigating a perf hit after using `torchbind` custom classes in the profiler api, see https://github.com/pytorch/pytorch/pull/72302#issuecomment-1107887355

We get a 30x slowdown on `_record_function_exit` after switching to the second of two overloads, changing from `Tensor` to `_RecordFunction` respectively. Tensor is much faster both because it'

[2022-04-26 22:27] jbschlosser commented on #76302
As the backend is selected dynamically based on the input parameters, the selected backend can be different across conv2d invocations.

Another thing: could you try `torch.jit.load()`ing the model from Python and seeing if the issue is there as well? I'd like to get a sense for if it is libtorch-specific or not.

[2022-04-26 22:34] seemethere commented on #76401
Myself and @atalman are currently looking into this

[2022-04-26 22:42] KyleCZH commented on #75139
@malfet please close this issue as we have a fix (https://github.com/pytorch/pytorch/pull/76136) to deal with an odd number of world_size now

[2022-04-26 22:50] clee2000 opened #76413 "rocm averages 20m to pull docker image"
For the past week, rocm (specifically linux-bionic-rocm5.0-py3.7 / test) averages about 20m to pull the docker image, while the other linux jobs generally take about 2m.

Example GHA runs: https://github.com/pytorch/pytorch/runs/6178824044?check_suite_focus=true, https://github.com/pytorch/pytorch/runs/6178824044?check_suite_focus=true, https://github.com/pytorch/pytorch/runs/6132356305?check_suit

[2022-04-26 22:50] seemethere commented on #76401
Pinning this issue since this will affect all conda users until it gets resolved

[2022-04-26 22:51] atalman commented on #76401
Issue created for anaconda repo [here](https://github.com/conda/conda/issues/11437)

[2022-04-26 23:14] BowenBao commented on #76344
Interesting, this should be doable for opset >= 11 where attribute `largest` was added to onnx topk.

[2022-04-26 23:20] BowenBao commented on #76274
hi @davidyang180 , it appears your arguments `pooled_height`, `pooled_width`, `spatial_scale` are python numbers. How to pass them in the symbolic depends on whether these arguments are `inputs` or `attributes` to your custom operator.

If they are expected as `inputs`, you will need to wrap them inside an ONNX Constant node such that to insert them into the IR graph.
e.g.
`pooled_height = g.op("C

[2022-04-26 23:22] jiamings commented on #76401
Same here. I used the simplest install command `conda install pytorch torchvision torchaudio cudatoolkit=11.3 -c pytorch`, and it complains that pytorch-mutex-1.0-cuda.tar.bz2 does not exist when downloaded.

[2022-04-26 23:24] seemethere commented on #76401
Update to this, this is an outage from anaconda directly. They have an incident page up here: https://anaconda.statuspage.io/incidents/t1xrstmkf13x

[2022-04-27 00:08] KyleCZH commented on #75052
@malfet please close this issue as we have a fix (https://github.com/pytorch/pytorch/pull/76136) to deal with an odd number of world_size now

[2022-04-27 00:15] HamidShojanazeri opened #76422 "Saving T5-3B model on multi-nodes using FSDP Fails"
### 🐛 Describe the bug

Training a T5-3B model with FSDP, during saving the model it throws following
"
_warning Failed to clone() tensor with name _fsdp_wrapped_module.decoder.block.23.layer.1.EncDecAttention.o.weight. This may mean that this state_dict entry could point to invalid memory regions after returning from state_dict() call if this parameter is managed by FSDP. Please check clone imple

[2022-04-27 00:16] HamidShojanazeri commented on #76422
cc @rohan-varma

[2022-04-27 00:33] BowenBao commented on #76088
Type(datatype) is important to ONNX as it is strongly typed. Here is one example of propagating for custom symbolic functions
https://github.com/microsoft/onnxruntime/blob/cbc7bd1d2a050ef0df7a4ec270b9fe6e6a2fc129/onnxruntime/python/tools/pytorch_export_contrib_ops.py#L80

[2022-04-27 00:53] shakeebmurtaza commented on #11201
Is it safe to use this snippet? Are there any side effects of this that I should be worried about?

[2022-04-27 01:40] nonconvexopt commented on #76160
Thank you for your advice. We can loose the current tests and make users to handle unstability little bit to make implementation and test faster.

These are the implementation and the tests for the Wishart: [multivariate.py](https://github.com/scipy/scipy/blob/653fd090fe18e28254986cd4c446c47b7051ef57/scipy/stats/_multivariate.py#L1619-L2222), [test_multivariate.py](https://github.com/scipy/scipy/b

[2022-04-27 01:41] #76219 closed

[2022-04-27 01:53] leslie-fang-intel commented on #75956
@davidberard98 Thanks for the comment.

- I think it's better to re-use the operation list in eager mode, since it's already extensible by third party and distinguishable by different devices by dispatch key. It will save our efforts to maintain another operation list for the `autocast jit pass`. But I am not sure if it's applicable in technique.
- If the first one is not applicable. Then we can a

[2022-04-27 02:50] jinfagang commented on #76088
@BowenBao so, it was becuase of I didn't specific type, then it says mgiht cause shape inference error? I though I need something like spefic shape here.

[2022-04-27 03:13] tingweiwu commented on #76367
This way fixed it.

is this assumption from version 1.10, because it goes well when we use torch 1.8,1?
[code]

[2022-04-27 03:18] kiukchung commented on #76367
even in prior versions of torch the expectation was that the parameters to the launcher would be the same. This is because ddp is run SPMD (single process multiple data) style.

[2022-04-27 03:19] #76367 closed

[2022-04-27 03:57] pytorch-bot[bot] opened #76428 "DISABLED test_DistributedDataParallel_non_default_stream (__main__.TestDistBackendWithSpawn)"
Platforms: linux, rocm

This test was disabled because it is failing in CI. See [recent examples](http://torch-ci.com/failure/test_DistributedDataParallel_non_default_stream%2C%20TestDistBackendWithSpawn) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/6185568007).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 5 red and 1 green.

cc @H

[2022-04-27 03:57] pytorch-bot[bot] opened #76429 "DISABLED test_fn_grad_nn_functional_fractional_max_pool3d_cuda_float64 (__main__.TestGradientsCUDA)"
Platforms: linux, win, windows

This test was disabled because it is failing in CI. See [recent examples](http://torch-ci.com/failure/test_fn_grad_nn_functional_fractional_max_pool3d_cuda_float64%2C%20TestGradientsCUDA) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/6185628356).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 1 red and

[2022-04-27 04:42] jruales commented on #76401
Thanks, all. This is fixed.

[2022-04-27 04:42] #76401 closed

[2022-04-27 04:55] SsnL opened #76430 "[regression] int_tensor.mean(dtype=float32) should work"
### 🐛 Describe the bug

https://github.com/pytorch/pytorch/pull/61643 broke the originally working case `non_fp_tensor.mean(dtype=fp_dtype)`.

Original code checks
[code]
but the new code doesn't consider `opt_dtype` in checking:
[code]

CC @ysiraichi who authored the PR, and @ezyang who merged it.

### Versions

1.10+

[2022-04-27 05:00] Shahrullo opened #76431 "Torch.utils.mobile_optimizer.optimize_for_mobile is resulting different output than torch model and jit model"
### 🐛 Describe the bug

When I convert torch model for mobile optimizer, it is giving different outputs. But the output is the same for torch model and jit model.

[code]

[code]
1. INFERENCE TORCH MODEL
[code]
2. INFERENCE JIT MODEL
[code]
3. INFERENCE OPTIMZED MODEL
[code]
I tested with several examples. The same result: after optimizing for mobile, the model's output is different

### Versions

[2022-04-27 05:30] CaoE commented on #75866
The reason is similar to https://github.com/pytorch/pytorch/issues/75956: JIT Autocast operation list does not align with Imperative path Autocast.
In this eaxmple, JIT Autocast pass will intert `aten::_autocast_to_full_precision` node for softmax to cast the BF16 input into FP32 since softmax is belong to `CastPolicy::fp32_set_opt_dtype` in `JIT Autocast operation list` shown as https://github.co

[2022-04-27 08:06] PMMon commented on #76368
Hi @zou3519, thanks for the fast reply!
This seems to depend on the learning rate, but even when comparing with `torch.allclose` an AssertionError occurs:

[code]

[2022-04-27 08:07] vadimkantorov commented on #76430
would also be nice if booltensor was supported: https://github.com/pytorch/pytorch/issues/64897 ...

[2022-04-27 08:28] Francis0103 opened #76432 "Results of MaxPool2d are different using cpu and cuda when dilation is 2, input is transposed numpy array"
### 🐛 Describe the bug

[code]
I got result as below:

When input comes from (1), the result of 'MaxPool2d' using cpu is different from one using cuda.
When input comes from (2), the results of 'MaxPool2d' using different devices are the same.
Does this have something to do with tensor stride?

### Versions

'1.12.0a0+git0aa3c39'

cc @ezyang @gchanan @zou3519 @ngimel

[2022-04-27 09:07] Chillee opened #76433 "Remove _log_softmax/_softmax in favor of log_softmax and softmax respectively."
### 🚀 The feature, motivation and pitch

Similar rationale to https://github.com/pytorch/pytorch/issues/73135

The only difference between `_softmax` and `softmax` is that `softmax` takes an optional dtype argument, while `_softmax` takes a `half_to_float` argument. However, this `half_to_float` arg is not needed in the backwards pass, and even if it were, we could simply reconstruct it from the a

[2022-04-27 10:24] jamesrobertwilliams commented on #76302
@jbschlosser I followed what you have said and did this in python:

[code]

I did 5 runs and they are all EXACTLY the same.

So yea, if it definitely a libtorch issue :(

[2022-04-27 10:30] tszhang97 commented on #57086
same problem

[2022-04-27 10:43] cc-crick commented on #74028
I think you can fix the tutorial in [quantization doc on PyTorch website](https://pytorch.org/docs/stable/quantization.html?highlight=get_default_qat_qconfig). I have confused about this web page before I see the issue.

[2022-04-27 11:44] LiuHaoChina commented on #38222
Any news? It is 2022/4/27

[2022-04-27 12:15] otaj opened #76434 "`torch.nn.Module` keeps an owning reference that prevents it from properly deleting Module"
### 🐛 Describe the bug

When using method `_register_load_state_dict_pre_hook` of `torch.nn.Module` with argument `with_module=True`, the call to `functools.partial` keeps an owning reference which prevents the `Module` to be cleanly deleted when using `del module`, because there is still an owning reference.

To reproduce:

[code]

This issue surfaced in https://github.com/PyTorchLightning/pytorc

[2022-04-27 12:58] gjegoj commented on #5301
pin_memory=False worked for me.

[2022-04-27 13:48] #76169 closed

[2022-04-27 13:50] vkuzo opened #93748 "Support for inline with __closure__"
DBR quant currently uses functions updating nonlocal variables for some functionality.  torchdynamo is currently unable through this syntax.  How hard would it be to get this supported?

Here is a toy example:

[code]

Result of attempting tracing through this: https://gist.github.com/vkuzo/d759a66bfc376add626b57550011d590

Relevant part of the stack trace:

[code]

cc @ezyang @soumith @msaroufim

[2022-04-27 13:57] jbschlosser commented on #75287
Someone just complained about the usage of `_register_load_state_dict_pre_hook()` maintaining an owning reference to the module and preventing it from being deleted: #76434. Might be relevant to the design or implementation.

[2022-04-27 14:04] EikanWang opened #76437 "Optimize channels-last contiguous tensor vectorization by dimension collapse."
The loop order of the channels-last tensor is that the channel is the most inner loop and then the w, h, n. Then if the channel dimension is small than 256bit (#element * element bit width), it is hard to be vectorized. So we can optimize it by collapsing the channel and width.

[2022-04-27 14:23] EikanWang opened #76438 "[NHWC] Propagate the channels-last memory layout within the fusion group"
Currently, we always convert the non-contiguous tensor and channels-last contiguous tensor to contiguous. But channels-last memory layout is popular and its performance is better in general. It might impact the E2E performance if we always convert the input and output tensors to contiguous.

[2022-04-27 14:36] EikanWang opened #76439 "[NHWC] Extend the lowering function to support explicitly defining the output strides"
Currently, we always convert the input and output tensor to contiguous regardless of channles-last. So the lowering function does not need the output stride information because it is always contiguous. But the situation will be changed as long as NNC supports channels-last without converting to contiguous. Hence, the lowering function needs to create the output `Buf` according to the stride inform

[2022-04-27 14:52] mruberry opened #76440 "RFC: Controlling fp32 matmul’s internal precision"
Float32 matmuls are one of the most important operations in PyTorch, and considerable attention has been paid to running them faster with specialized math libraries and new math modes. For example, NVIDIA’s Ampere (and later) CUDA devices support computing fp32 matrix multiplication using tf32 math mode, and Google’s TPUs have [bfloat16](https://cloud.google.com/blog/products/ai-machine-learning/b

[2022-04-27 14:54] gaceladri commented on #47217
Same here!

[code]

[2022-04-27 15:04] kumpera opened #76441 "[checkpoint] Switch away from pickle-base serialization"
### 🚀 The feature, motivation and pitch

We currently use pickle for serializing everything.
Beyond efficiency issues, it makes backwards compatibility quite hard.

This proposal is to switch entirely to a flatbuffers based serialization.
There's a precedent in the mobile front and it's a reasonable format to begin with.

### Alternatives

_No response_

### Additional context

_No response_

[2022-04-27 15:11] otaj commented on #76434
https://docs.python.org/3/library/gc.html

[2022-04-27 15:16] sssilvar commented on #48273
This seems to be an error in an old file [`THTensorRandom.cpp`](https://github.com/pytorch/pytorch/blob/20607a99a31ec5405ca6aa92bc7e7bf768b7bc43/aten/src/TH/generic/THTensorRandom.cpp#L344-L347) that did all the validations including checking for zero values inside the weights `n_zeros`.

[code]

Now the file in charge of checking for the right behavior is [`Distributions.cpp`](https://github.com/

[2022-04-27 15:26] janeyx99 commented on #73658
@clee2000 feel free to update progress here!

[2022-04-27 15:27] janeyx99 opened #76443 "Add ciflow/trunk label to PRs touching certain files"
A part of enabling required status checks (#73657) is testing more and more on PRs.

One thing we can start doing is automatically adding ciflow/trunk label to pull requests that touch certain files.
- [ ] IOS files see https://github.com/pytorch/pytorch/pull/76251#issuecomment-1111129808
- [ ] mac files (as mac tests are not triggered by default)
- [ ] rocm files (as rocm is not triggered by defa

[2022-04-27 15:39] zzm-hl commented on #76288
Hello, thank you for your reply, I have tried the method of debug you gave, the output is as follows, but I do not know what the problem, please can you guide it, thank you very much

no apexno apex

No TensorflowNo Tensorflow

No APEX!No APEX!

2022-04-27 01:53:12,144 - INFO - Distributed training: True
2022-04-27 01:53:12,153 - INFO - torch.backends.cudnn.benchmark: False
2022-04-27 01:53:14,311

[2022-04-27 15:46] stas00 commented on #76440
What about getter? May I suggest `torch.float32_matmul_precision` that is a setter when passed an arg and a getter otherwise?

I'm not at all sure this is an easy to comprehend API since it abstracts away the actual values. e.g. for a normal torch user high and medium mean the same. and highest is sort of meaningless when the user is after an explicit fp32.

It'd be much easier to read the code if

[2022-04-27 16:03] iexpos opened #76444 "check params shape for mkldnn_convolution"
fix #73193.

[2022-04-27 16:31] kumpera commented on #76395
One extension to consider is that ranks should checksum their files and communicate that back so the final metadata includes this information as well.

[2022-04-27 16:32] rohan-varma opened #76449 "Enhance _verify_param_shape_across_processes"
### 🚀 The feature, motivation and pitch

This check in reducer.cpp serves the purpose of checking the parameter shape (and # of params) across processes, although, when there is an issue, the issue is only reported on non-0 ranks and rank 0 must be taken down through either async error handling or nccl_blocking_wait.

We should enhance this to make rank 0 fail more quickly with an appropriate erro

[2022-04-27 16:37] kumpera opened #76451 "[checkpoint] Extension hooks to support logging and telemetry"
### 🚀 The feature, motivation and pitch

The current load/saving code, in particular the FileSystem one, doesn't have any hooks to enable telemetry or logging of its activity.

Given how fragile and time consuming checkpointing is, this is an important feature to support production usage of this API.

### Alternatives

_No response_

### Additional context

_No response_

[2022-04-27 16:41] clee2000 commented on #73658
PR with python scripts for GHA: https://github.com/pytorch/pytorch/pull/76262
PR in test-infra for probot: https://github.com/pytorch/test-infra/pull/305
For testing: https://github.com/pytorch/pytorch/pull/76448

[2022-04-27 16:48] vkuzo commented on #76310
The default logic of which scale and zero point are used for quantized softmax is here: https://github.com/pytorch/pytorch/blob/master/torch/ao/quantization/observer.py#L1495-L1498

@salilsdesai , are you using the defaults?  They are set for `quint8`.  Have you tried modifying this qconfig with the scale and zero_point that you need?

[2022-04-27 16:48] vadimkantorov commented on #76441
Related? https://github.com/pytorch/pytorch/issues/52181

[2022-04-27 17:09] agomezmoron commented on #74950
Hi team,

Do you have any extra information about this and an estimation about by when could it be handled?

Thanks!

[2022-04-27 17:21] jeffdaily commented on #76413
We discussed this with @seemethere yesterday.  Proposing #76415 to help.  ROCm runners shouldn't need to completely wipe out all docker images, just the containers.  This should hopefully speed up docker image pulls.

Follow-up: Is there a way to generate this time-to-pull metric rather than looking at individual job logs?

[2022-04-27 17:27] vitrioil commented on #76034
I can contribute here to this. Not sure how much improvement it would bring but I can check that.

I had a quick look at how __doc__ is being used:

1) Assigning to __doc__
https://github.com/pytorch/pytorch/blob/04b3313379712098183dfe5bea002a5e43b5af48/torch/nn/functional.py#L2335

2)  Directly
https://github.com/pytorch/pytorch/blob/04b3313379712098183dfe5bea002a5e43b5af48/torch/nn/modules/conv.

[2022-04-27 17:30] kimishpatel commented on #76310
affine is what gets used for softmax quantization from what i remember. And that has scale=1/256 and zero point = 0 for quint8. That matches what we expect for quint8?

qint8 is the missing one?

[2022-04-27 17:34] vkuzo commented on #76310
you can set any values you want for this when you specify the qconfig you want to use for each op.  Have you tried specifying a qconfig with the values you need, and configuring quantized softmax to use your custom qconfig?

The default qconfig for this op is assuming quint8 activations, you can to override it with values which make sense for your use case.

[2022-04-27 17:38] mcarilli commented on #76368
Looks like Adam maintains per-param `'step'` [on the CPU](https://github.com/pytorch/pytorch/blob/3fa77fa51ac3cf627c86d0aa1fdbb71e1a922db2/torch/optim/adam.py#L133)
and later [updates and uses it for bias_correction logic on the CPU](https://github.com/pytorch/pytorch/blob/3fa77fa51ac3cf627c86d0aa1fdbb71e1a922db2/torch/optim/adam.py#L241-L245).

I could change `'step'` to be on the same device as

[2022-04-27 17:42] ptrblck commented on #76440
I think getter methods might indeed be useful.

CC @eqy could you take a look at this RFC and prepare a PR for it, please?

[2022-04-27 17:46] vadimkantorov commented on #76440
I also propose allowing per-call optional precision options. In many cases (during performance debugging), this is often more understandable than global options and context managers. In general, it would be nice to improve a quasi-standard mechanism of giving execution hints to ops. Currently, different ops use different naming for this stuff.

Similar issues occur when wanting to force a certain

[2022-04-27 17:48] #75761 closed

[2022-04-27 17:48] #74047 closed

[2022-04-27 18:25] MrNeither commented on #72330
@xta0 @[axitkhurana](https://github.com/axitkhurana) @jbschlosser
Hello! Is there anything known about this issue?

[2022-04-27 18:51] jeffdaily commented on #76440
Related to #67384, as well?

[2022-04-27 18:51] jfix71 opened #76462 "FX function normalization broken for some cases due to FX operator schema change"
### 🐛 Describe the bug

Certain ops are no longer normalized correctly due to the changes in https://github.com/pytorch/pytorch/pull/75896

I created https://github.com/pytorch/pytorch/pull/76457 to consider backing out https://github.com/pytorch/pytorch/pull/75896. The PR includes the below test added to `test/test_fx_experimental.py` which exhibits the issue:

[code]

### Versions

Collecting en

[2022-04-27 18:56] jfix71 commented on #76462
Hi @peterbell10, do you have any quick thoughts on the right fix here? This is causing some issues for some internal use cases and we'd love to fix it quickly if possible, or else may try to back out the original PR.

[2022-04-27 18:57] jerryzh168 commented on #76310
in current fx graph mode quantization, we would override the qconfig for these operators actually: https://github.com/pytorch/pytorch/blob/master/torch/ao/quantization/backend_config/native.py#L510, we'd need to cleanup this key to allow using a different observer/fake_quant

[2022-04-27 19:03] albanD opened #76464 "Add post-AccumulateGrad hook as a nice public API"
This is used by DDP to trigger synchronization of the gradients and we also have other users that want the optimizer to run alongside the backward pass.

Today a workaround is doing `t.weight.view_as(t.weight).grad_fn.next_functions[0][0].register_hook(my_hook)` but that is pretty shady.

cc @ezyang @albanD @zou3519 @gqchen @pearu @nikitaved @soulitzer @Lezcano @Varal7

[2022-04-27 19:03] edward-io opened #76465 "Pyre type checking fails"
### 🐛 Describe the bug

Pyre type checker fails on PyTorch when running any of the following:

[code]

Running pyre outputs something like the following:

[code]

### Versions

Collecting environment information...
PyTorch version: 1.11.0
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: macOS 12.3.1 (arm64)
GCC version: Could not collect
Clang version: 13

[2022-04-27 19:04] ptrblck commented on #76432
I cannot reproduce the issue in `1.12.0.dev20220425` and get:
[code]
While your commit is also quite new, could you update to the latest commit and in case you are still seeing the differences, fill out the environment information, please?

[2022-04-27 19:07] jjsjann123 commented on #76046
On #76459 I don't see tanhshrink failure...
[code]

Looking at the test, nvfuser handles math in fp32, reference is decompose op in fp16, so I think numerical difference is expected. Do you think it make sense to enable it and have a tolerance override?

[2022-04-27 19:21] yifuwang commented on #76387
@pritamdamania87 to clarify, I'm not insisting on making these two function public APIs as-is. I agree with the problems you pointed out with these functions.

This is not needed. Please see below for explanation.

- On save, we save the `ShardedTensorMetadata` and the shards without `StorageWriter`.
- On load, for each shard to restore, I want to use the proposed APIs to find out which shards to

[2022-04-27 19:32] albanD commented on #76434
Ho right! Thanks for the link.
Well in general, the memory usage might be very very large if you disable it completely. So I wouldn't go as far as "optional" I think even core CPython library do create such cycles.

[2022-04-27 19:42] albanD commented on #76368
That would indeed cause major perf regression: https://github.com/pytorch/pytorch/issues/74424

[2022-04-27 20:09] Aidyn-A commented on #76432
I was able to reproduce both working and non-working case.
I will take a deeper look at this. To me it seems like an issue somewhere in `DilatedMaxPool2d.cu`

[2022-04-27 20:15] pritamdamania87 commented on #76387
On load, for each shard to restore, I want to use the proposed APIs to find out which shards to load along with the source/target offsets/sizes, load the required tensor without StorageReader and then perform the view copies.

So would an API like this be sufficient instead:

[code]

So StorageWriter/Reader is an interface and this seems more like implementation detail that you can still have in y

[2022-04-27 20:22] toshas commented on #74442
Moreover, calling `contiguous()` directly on arguments does not help either. Below is my way of discovering the issue:
`torch.kron(torch.eye(2), torch.randn(2,1))` - works
`torch.kron(torch.eye(2), torch.randn(2,2).svd().U[:, :1])` - error
`torch.kron(torch.eye(2), torch.randn(2,2).svd().U[:, :1].contiguous())` - error
`torch.kron(torch.eye(2), torch.randn(2,2).svd().U.contiguous()[:, :1])` - work

[2022-04-27 20:26] toshas commented on #54135
Possibly related: https://github.com/pytorch/pytorch/issues/74442#issuecomment-1111445351

[2022-04-27 20:38] clee2000 commented on #76413
I look at rockset to get averages, but outside of that, I'm not sure

[2022-04-27 20:45] BowenBao commented on #47217
@jinfagang @gaceladri Could you please try with pytorch nightly? This operator should be supported
https://github.com/pytorch/pytorch/blob/ea1901693e92266a61950ed61bfe8f6068a81b98/torch/onnx/symbolic_opset10.py#L336

[2022-04-27 20:47] toshas commented on #74442
A workaround for matrices:
[code]

[2022-04-27 20:50] BowenBao commented on #76274
@davidyang180 it is likely due to old opset where Slice only takes 1 input. Please try exporting with newer opset version, e.g 14. And btw, did you need to create Slice node in your custom symbolic function?

[2022-04-27 20:50] albanD commented on #76034
Thanks for looking into this.
For 1. you can indeed add a None check.
For 2. I would simply remove the `__doc__ = ` and leave that string at the top. Python will properly put it in the `__doc__` field and it will also be properly removed in optimized mode.
For 3. I think we can guard this check with `if __debug__:`.

For testing, I think it is safe to assume that testing does not run in optimized

[2022-04-27 20:54] BowenBao commented on #76088
Both shape and datatype are preferred. I should mention both in the above comment. Many operator conversions in ONNX depends on both.

[2022-04-27 20:55] memray commented on #21819
Encountered the same issue with 1.11.0+cu113. I feel the problem only appears when multiple distributed jobs are running (I was running two 8-gpu training jobs). It's not about OOM (only ~25% memory usage). Sometimes the error message is `RuntimeError: CUDA error: an illegal memory access was encountered`. Any idea to solve this issue?
[code]

[2022-04-27 21:05] drisspg opened #76483 "Expand pow and float_pow sampling function for more coverage"
### 🐛 Describe the bug

This issue is linked to: https://github.com/pytorch/pytorch/issues/74279
with matching PR: #76481

After looking into gradient computations for the pow and float pow the nans arise when lhs or base tensor has values that are negative.  Since the exponent or rhs tensor has fractional values for the opinfo test the power function can and does map floats -> complex  values in

[2022-04-27 21:07] drisspg commented on #74279
Looked into the the pow, and float_power and created this issue with some findings:  #76483

[2022-04-27 21:10] BowenBao opened #76486 "[Tracer] RuntimeError: _Map_base::at when tracing fake quantization"
### 🐛 Describe the bug

RuntimeError was thrown from this sample code.

[code]

Further analysis shows the root cause is from tracing https://github.com/pytorch/pytorch/blob/09f32eba7a29e8a61a6ad1506b4097e8237b28bf/torch/ao/quantization/observer.py#L1120, when `combined_min.shape` is empty. A shorter repro below

[code]

[code]

### Versions

Collecting environment information...
PyTorch version:

[2022-04-27 21:10] gaceladri commented on #47217
@BowenBao I have installed torch from pip like:

`pip3 install --pre torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/nightly/cpu`

And I got:

[code]

Did I do something wrong?

[2022-04-27 21:15] arquolo opened #76487 "`F.interpolate` uses incorrect size when `align_corners=True`"
### 🐛 Describe the bug

Currently for given `scale_factor`  `F.interpolate` uses the same formula to compute output size for both modes of `align_corners`.
For mode `align_corners=False` it's fine, but for `align_corners=True` it's incorrect. as it's makes actual scale factor (defined as scale of image features) dependant from input image size.

Current formula has [off-by-one error](https://en.wi

[2022-04-27 21:22] ngimel commented on #76487
cc @vfdev-5, @jbschlosser

[2022-04-27 21:23] #76413 closed

[2022-04-27 21:26] ngimel commented on #76430
The easy workaround is to cast input tensor to fp, that's what would be done internally anyway.

[2022-04-27 21:29] ngimel commented on #76410
Is this a duplicate of #74943?

[2022-04-27 21:30] davidberard98 opened #76491 "[NVFuser] Automated generation of microbenchmarks"
### 🚀 The feature, motivation and pitch

The NVFuser microbenchmarks in torchbench (https://github.com/pytorch/benchmark/pull/793) provide a good way to monitor nvfuser performance. They are generated by collecting the fusion groups from a torchbench run - which gives a closer look at nvfuser performance for each of the fusion groups. However, they are not updated when nvfuser or torchbench change

[2022-04-27 21:44] davidberard98 commented on #76046
re: tanhshrink - I saw that some of the accuracy failures depend on the inputs: I suspect that depending on what other tests occur before or after, the random inputs will change and this might cause the tests to fail depending on which tests come before the test in question

[2022-04-27 22:06] soulitzer commented on #76483
Sounds like forward tests should fail also? Why were only gradient tests failing previously?

[2022-04-27 22:27] sclarkson commented on #72086
I believe this was fixed with #72928

[2022-04-27 22:39] drisspg commented on #76483
https://github.com/pytorch/pytorch/blob/a997046017aa9f97213f6bd50bc152a6445e8086/test/test_binary_ufuncs.py#L1048

I am not sure if this is the only place that the forward is tested but reading this looks like the base is bounded below by 1 or 0 .

Also running np.power() on tensors with negative elements produces the same NaN behavior

[2022-04-27 22:40] jeffdaily opened #76497 "CUDA distributed tests set WORLD_SIZE=2 while ROCm distributed tests set WORLD_SIZE=3"
### 🐛 Describe the bug

Recently #76136 added a decorator to skip odd world sizes for certain tests because the tests do not function correctly for such world sizes.  This problem only shows up for ROCm test runners because some of them contain 4 GPUs, whereas CUDA test runners for distributed tests only use 2 GPUs.

Most ROCm runners have 4 GPUs, but run_test.py sets world size to 3 for us.  The

[2022-04-27 22:42] drisspg commented on #76483
Also if i change the the low=-1 on line 1048 and run the binary_ufunc_tests:

`FAILED test/test_binary_ufuncs.py::TestBinaryUfuncsCPU::test_pow_cpu_bfloat16 - ValueError: math domain error`

[2022-04-27 22:43] xkszltl commented on #76113
Another related issue:
SequentialLR cannot be nested because its step() does not take that additional 0.

[2022-04-27 22:52] ngimel commented on #76444
Why is this an issue and not a PR?

[2022-04-27 22:52] #76444 closed

[2022-04-27 23:09] awgu opened #76501 "[RFC][FSDP] Rework `FlatParameter`, `FlattenParamsWrapper`"
### TL;DR (User Visible Changes)
- The original model parameter variables are kept as `nn.Parameter`s instead of changed to `Tensor`s.
- The original model parameter variables' `.grad` variable accesses the sharded gradient.
- The user may pass the original model parameters to the optimizer instead of the `FlatParameter`s, enabling multiple parameter groups.
- `FullyShardedDataParallel.parameters(

[2022-04-27 23:11] davidberard98 opened #76503 "[JIT] make IRAttributeError extend jit::Error"
### 🚀 The feature, motivation and pitch

This would give IRAttributeError backtraces, and make it easier to debug via logs.

### Alternatives

_No response_

### Additional context

_No response_

[2022-04-27 23:14] peterbell10 commented on #76410
The overloading part is probably the same, however #74943 doesn't have the `__torch_function__` issues because it's using `Tensor` as the argument types.

[2022-04-28 00:36] awgu opened #76510 "`Tensor.register_hook()` Source Link Broken"
### 📚 The doc issue

https://pytorch.org/docs/stable/generated/torch.Tensor.register_hook.html
Clicking the "source" link redirects to https://pytorch.org/docs/stable/_modules/torch/_tensor.html#Tensor.register_hook, which does not exist.

### Suggest a potential alternative/fix

Fix the link.

[2022-04-28 01:00] pytorch-bot[bot] opened #76511 "DISABLED test_init_rpc_without_world_size (__main__.TensorPipeRpcTest)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](http://torch-ci.com/failure/test_init_rpc_without_world_size%2C%20TensorPipeRpcTest) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/6203133044).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 1 red and 3 green.

cc @pietern @mrshenli @pritamdama

[2022-04-28 01:23] 3l1 opened #76512 "Make Torch FX function `_torchscript_type_to_python_type` public"
### 🚀 The feature, motivation and pitch

Could be make the Torch FX function `from torch.fx.operator_schemas import _torchscript_type_to_python_type` public?
This allows third party ML pipeline libraries to get arguments of `ScriptModule` objects.

### Alternatives

_No response_

### Additional context

_No response_

[2022-04-28 01:43] Chillee opened #76514 "Clean up PyTorch's private operators"
### 🚀 The feature, motivation and pitch

There are some PyTorch operators that are private (i.e. prefaced with an underscore) that show up in the dispatcher. These operators are problematic, as 1. their semantics are completely undocumented, 2. it provides confusion to folks (including backends) about whether they should to be supported, and 3. they just look ugly/confusing.

Luckily, there are no

[2022-04-28 02:53] ezyang commented on #76430
@ysiraichi think you can post the fix for this? Should be easy

[2022-04-28 02:58] louixp opened #76516 "torch.log has unexpected gradient over negative domain"
### 🐛 Describe the bug

When the input is real, the log function and its derivative are undefined over the negative domain. In torch, the log function is undefined, but its derivative evaluates to 1/x over the negative domain. I noticed this when my loss has become undefined but the gradients are still defined. I'm not sure if this is a feature or a bug.

[code]

### Versions

PyTorch version: 1.1

[2022-04-28 03:58] mikaylagawarecki opened #76519 "Fix layout of masked output when all sparse dimensions are reduced"
### 🐛 Describe the bug

From discussion on #75454, sparse reduction ops like torch.sparse.sum return a dense result if all sparse dimensions are reduced https://github.com/pytorch/pytorch/blob/a5bc02aeb20c484eb7aab045a8f5609700a75533/aten/src/ATen/native/sparse/SparseTensorMath.cpp#L1297-L1300
but `_masked` operators currently [expect the layout of the output to be the same as the layout of the in

[2022-04-28 04:40] takagi opened #76522 "`torch.clamp` does not distribute gradients as element-wise`min/max` do"
### 🐛 Describe the bug

Since #59669 was merged, element-wise `max/min` evenly distribute gradients for all values that are equal in self and the other. However, `clump`, which can be equivalently expressed using `man` and `min`, does not follow the way, resulting in different gradients between `clamp` and `min/max`. I suppose the similar fix with #59669 should be also applied to `clamp` so that i

[2022-04-28 06:21] ngimel commented on #76516
Thanks for reporting!

[2022-04-28 06:35] #76241 closed

[2022-04-28 06:42] davidberard98 commented on #76486
Stacktrace:
[code]

[2022-04-28 07:49] mszhanyi commented on #76010
Did you run    `" ...\...\vcvarsall.bat" x64 -vcvars_ver={your vc toolset version}`

[2022-04-28 08:01] davidyang180 commented on #76274
Hi! I tried exporting with a newer opset version, but it still gave the same error. Currently, I don't create a slice in custom symbolic function, is it necessary to create such a slice at present? How should this be achieved?
![image](https://user-images.githubusercontent.com/45596935/165704159-9a3c83eb-549f-4b2d-bfcc-efb202b39986.png)

[2022-04-28 08:02] mruberry commented on #76483
Nice analysis! Once the PR lands let's update the original issue to reflect it no longer applies to the pow and float_power operators

[2022-04-28 08:06] mruberry commented on #76440
Yep! This should resolve that RFC, too, this is just a more concrete proposal.

[2022-04-28 08:31] Lezcano commented on #76522
Makes sense to me. wdyt @albanD ?

[2022-04-28 08:40] Lezcano commented on #76516
Note that when the input is not in the domain of the function, the rules we follow at PyTorch is that the derivative is not defined, so we are allowed to return anything. In particular, we may return the most efficient value for this, which is that given by the formula  `grad / input`, which is what's happening here. Interestingly enough, this is the value that you would get for the gradients if t

[2022-04-28 09:01] AvivSham commented on #38138
Same behaviour here:
[code]

How can we solve this?

[2022-04-28 09:20] ysiraichi commented on #76430
Ah, nice catch. Yeah, sure. I will do it.

[2022-04-28 09:37] natxopedreira commented on #76229
I compiled from source, installed and works now.

[2022-04-28 09:37] #76229 closed

[2022-04-28 10:31] Sentient07 commented on #76522
This issue affects me as well. Commenting to follow

[2022-04-28 10:47] Francis0103 opened #76527 "Non target rank receives result of 'reduce' op when backend is 'gloo'"
### 🐛 Describe the bug

I run code using two rank.

[code]

I got result as below:

It seems that non dst rank also receives part result ([9, 11])  when backend is 'gloo'.  But the document says only dst rank receive final result.  https://pytorch.org/docs/stable/distributed.html .   'nccl' backend has no this problem.
Is this right?

### Versions

'1.12.0a0+git0aa3c39'

[2022-04-28 10:49] Sentient07 opened #76528 "Discrepancy in einsum when done in batch vs non-batch"
### 🐛 Describe the bug

Hello,

As shown in the notebook cell paste image below, I don't understand why einsten summation varies when using `float` precision between batch and non-batch. It makes sense from my previous issue : https://github.com/pytorch/pytorch/issues/75249 that this can happen between CPU and CUDA tensors, but between two same CUDA tensors, I don't understand why there should be

[2022-04-28 11:06] vfdev-5 commented on #76487
@arquolo thanks for reporting! I wonder if you have any refs on `new_size = (size - 1) * scale_factor + 1` or could cite any other known projects computing output size according to this formula for `align_corners=True` ? Thanks

Currently, pytorch `align_corners=True` does according the docs:

So, only corner pixels are aligned. Output image size is computed regardless `align_corner` value:
https:

[2022-04-28 11:20] jamesrobertwilliams commented on #76302
@jbschlosser I also wanted to add that I had built the libtorch from source using edited CMakeLists.txt. I turned off a few things to create a minimal CPU build, and I am wondering now if this is causing the issue in some machines. My edited CMakeLists is here: https://gist.github.com/jamesrobertwilliams/10c41ecd5a3bf69bff55435d74a11b40

I will meanwhile build a version with mkl-dnn - maybe this w

[2022-04-28 12:04] jamesrobertwilliams commented on #76302
@jbschlosser Think I have found out the cause for it :( I took the cpu version from pytorch's wenbsite - and built against this. Now I see repeatable results :( I wonder what change in my CMakeLists.txt caused it :( I will dig deeper.

I think you can close the issue - I apologise for wasting your time. It was clearly a mistake in my custom build :(

[2022-04-28 12:05] asadabbas09 commented on #50688
can anyone provide working python code that implements tf.scan?

[2022-04-28 13:27] Lmy0217 opened #76531 "NaNs in torch.linalg.eigh backward"
### 🐛 Describe the bug

[code]

### Versions

PyTorch version: 1.11.0+cu113
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.4 LTS (x86_64)
GCC version: (Ubuntu 9.3.0-11ubuntu0~18.04.1) 9.3.0
Clang version: Could not collect
CMake version: version 3.10.2
Libc version: glibc-2.27

Python version: 3.8.5 (default, Sep  4 2020, 07:30:14)  [GCC 7.

[2022-04-28 13:42] TOPFARMER commented on #4827
[code]
Try this first, if it doesn't work, you can add the path of your env' python manually to the kernelspec json file.

Find your your env' python' path by:

`
$ whereis python`

Copy the path and manually put it into the kernelspec newly generated:

`
$ vim /home/your_user_name/.local/share/jupyter/kernels/your_torch_env/kernel.json`

[2022-04-28 13:56] albanD commented on #76522
Yes we should make that change.

[2022-04-28 13:58] albanD commented on #76516
I think the rules as specified above are good. And I don't see any reason why we should be careful about the gradient being returned for a function that is evaluated outside of its domain.
Note that while in this case it could be relatively simple to "check" if we're in the domain or not, there are cases in linalg functions where that would be very expensive and we don't want to do it.

[2022-04-28 14:10] pmeier opened #76532 "Add ability to add custom suffixes to tensor repr"
Amongst other things #73459 cc @jbschlosser added the ability add custom "prefixes" to `Tensor.__repr__` through the `tensor_contents` parameter:

[code]

In `torchvision` we have custom tensors that would benefit from also setting custom suffixes as it is done internally for sparse tensors and the like. For example, we have a `class Image(Tensor)` that has an additional `color_space` field. It wo

[2022-04-28 14:17] peterbell10 commented on #76462
Fixed by #76469.

[2022-04-28 14:17] #76462 closed

[2022-04-28 14:25] EikanWang opened #76533 "Expose the compute function that supports the output stride at the frontend"
We have exposed some compute function at the frontend, but the exposed compute function does not support defining the output stride.
[code]

[2022-04-28 14:25] pmeier opened #76534 "Canonical way to put methods on tensor subclasses?"
Imagine I want to define a tensor subclass that adds a method. The straight-forward way is to just add them the regular way.

[code]

But it seems this is not the way PyTorch does it:

[code]

The last case, i.e. repr of an instance method, is especially annoying since it includes the full `__repr__` of the tensor.

Is there a recommended way how to do this? The [documentation](https://pytorch.org

[2022-04-28 14:37] vitrioil commented on #76034
Cool.

Just one thing, for 2 removing `__doc__` and keeping it as it is will work but not if format is used.
[code]
Problem: https://github.com/pytorch/pytorch/blob/04b3313379712098183dfe5bea002a5e43b5af48/torch/nn/modules/conv.py#L174-L233

So we might have to keep it as it is and then after declaration do the formatting if `__doc__` exists for all occurrences.

[code]

[2022-04-28 15:12] jbschlosser commented on #76302
@jamesrobertwilliams No worries - glad you got it figured out!

[2022-04-28 15:12] #76302 closed

[2022-04-28 16:10] soulitzer commented on #76483
Maybe `test_reference_numerics` would have caught if the OpInfo for pow had a `.ref` field. Would it be `np.power` here?

[2022-04-28 16:23] ngimel commented on #76528
This is likely caused by tf32, batched versions use tf32, non-batched don't. You can turn off tf32 with `torch.backends.matmul.allow_tf32=False`. Even after that, don't expect bitwise accuracy, different order of summation is expected for batched and non-batched versions https://pytorch.org/docs/master/notes/numerical_accuracy.html

[2022-04-28 16:24] albanD commented on #76034
That sounds like a good plan! A bit unfortunate that we have to do that but hey!

[2022-04-28 16:55] ngimel commented on #76368
Per offline discussion, we can expose to python a query if capture is underway, and take extra-7-kernels path only in case capture is underway (that would require keeping steps on the device though, so I'm not exactly clear how it would work).
For mta version it wouldn't be 7 kernels per parameter, we probably can make it into 7 kernels per parameter group that launches an mta kernel?
Another alte

[2022-04-28 16:55] jbschlosser opened #76540 "String repr for nested tensors no longer includes "nested_tensor(" prefix"
### 🐛 Describe the bug

[code]
[code]

The `__repr__` for a nested tensor should have the prefix `nested_tensor(` instead of `tensor(`. This was broken in #73459 by the tensor string representation changes:

https://github.com/pytorch/pytorch/blob/5b6efb824de77bf8bef8eddc7fc7362c47240ee5/torch/_tensor_str.py#L300-L307

Since `type(x)` is `torch.Tensor`, the first path is taken and the prefix is no

[2022-04-28 17:18] ngimel commented on #76430
After that fix, can we also allow `mean` to type promote, so that mean of integral tensor would be supported? cc @mruberry, what happened to #34860?

[2022-04-28 17:23] KyleCZH commented on #68171
Hi @mruberry
can we close this issue?

I found out that the test passes when running with single gpu. Because now test 1, 2 force jobs to run on only 1 gpus, I think we can close this issue:
https://github.com/pytorch/pytorch/blob/8880e3a3c72c9dc24f82ba3c12303181c0af08d8/.jenkins/pytorch/test.sh#L42

log:

$ /var/lib/jenkins/pytorch# CUDA_VISIBLE_DEVICES=0 python3 test/test_optim.py -v TestOptim.t

[2022-04-28 17:26] n3world opened #76543 "Segfault in ~PyFunctionPreHook when using python 3.10"
### 🐛 Describe the bug

Encountered a segfault when using pytorch on ubuntu 22.04, with python 3.10. It does not seem to happen on python3.9

GDB Backtrace
[code]

Python backtraces
[code]
[code]

I tried reducing the cause to a simple example but was unable to get it to occur in a simple example

### Versions

PyTorch version: 1.11.0+cpu
Is debug build: False
CUDA used to build PyTorch: None
ROCM

[2022-04-28 17:28] anijain2305 opened #93749 "Better handling for exec"
https://github.com/facebookresearch/torchdynamo/pull/184 introduces a band-aid fix to skip Dynamo on the `exec` frame. This issue is so that we don't forget to find a better solution.

For some reason, running the exec frame through Dynamo changes the `f_globals` dictionary. We can use the tests in the above PR to repro the failure.

cc @ezyang @soumith @msaroufim @wconstab @ngimel @bdhirsh @vozne

[2022-04-28 17:29] yaadhavraajagility commented on #38122
Did you manage to fix this?

[2022-04-28 17:33] Sentient07 commented on #76528
@ngimel thanks for the info. Where should i set `torch.backends.matmul.allow_tf32=False` ? The one I launch or where the operations are performed?

[2022-04-28 17:57] BowenBao commented on #76274
@davidyang180 I noticed that you are using torch 1.7. If this version is not specifically required, I'd recommend you try with latest pytorch (1.11). It is very likely that the slice issue was a bug back then that has already been fixed.

[2022-04-28 18:25] mruberry commented on #76430
Funnily enough I believe we ultimately didn't pursue #34860 because some offline feedback was "let's develop a whole framework for systematically testing op properties like this!" and then we made the OpInfo test architecture. It should be easy to resurrect that PR.

[2022-04-28 18:27] seemethere commented on #76497
Adding to triage review to talk about this, want to understand the historical context for limiting to 2 GPUs

[2022-04-28 18:54] vadimkantorov commented on #34646
Could also be useful for temp use cases when one has a GPU data ptr in Python and needs to construct a tensor, e.g. as in https://stackoverflow.com/questions/68551387/feed-opencv-gpumat-as-tensor-into-pytorch-network

[2022-04-28 19:06] jcwchen commented on #76236
Thank you for looking into this. Since it seems like a wrong behavior, is there any plan to fix this?

[2022-04-28 19:06] arquolo commented on #76487
Well, it's pretty hard to find any project using this size formula, as the most of the projects I found either don't align corners (`tf.image.resize` for example), or align but use scale factor as factor to scale dimensions, like `scale` times (`cv2.resize`), but use some padding (see [here](https://jricheimer.github.io/tensorflow/2019/02/11/resize-confusion/)).
Also, I've seen that DeepLab models

[2022-04-28 19:14] Jdragno commented on #51858
This worked.... Very odd. Are the newer versions of Pytorch builds broken for pip?

[2022-04-28 19:15] awgu opened #76553 "[FSDP] Investigate Execution Order on T5-Large"
To reproduce, see the repository: https://github.com/lessw2020/t5_11
- In `defaults.py`, set `model_name = "t5-large"` and possibly `activation_checkpointing: bool = True` and `batch_size: int = 8` to avoid out-of-memory.
- Use either pre-backward or post-backward pre-fetching.
- Run `python main.py`.

There seems to be unexpected all-gathers in the backward pass.

For now, we are relaxing the exe

[2022-04-28 19:23] #54847 closed

[2022-04-28 19:32] kshitij12345 opened #76555 "[numpy] Missing Tensor-Scalar support for multiple binary ops"
### 🐛 Describe the bug

While trying to update the test sample in https://github.com/pytorch/pytorch/pull/76364, found that there are multiple binary ops in PyTorch which don't support Tensor and Scalar inputs.

[code]

### Versions

master

[2022-04-28 19:40] suneeta-mall opened #76557 "Pip packaging and publishing improvements in pytorch wheels for better integration with poetry"
### 🐛 Describe the bug

[Poerty](https://github.com/python-poetry/poetry) is a great build toolchain for python applications that lean on pip packaging.

Please see a detailed thread here https://github.com/python-poetry/poetry/issues/4231#issuecomment-1109470128 on why the integration of applications written using PyTorch eco-system fails. As mentioned in the follow-up reply from @abn here https:

[2022-04-28 19:43] kshitij12345 opened #76558 "[jiterator] perf regression when jiterating few ops for complex dtype"
### 🐛 Describe the bug

Benchmarks (thanks @anjali411 for suggesting) of a few operators before and after jiterating for complex dtype shows that there is perf-regression in some cases (also jiterated version is faster in some cases).

Ref: https://gist.github.com/kshitij12345/6581f0aab6f2fc16648bbf0c4c3219fa

As can be seen from the benchmark, there is a noticeable regression for `sigmoid`. Divin

[2022-04-28 19:59] #70877 closed

[2022-04-28 20:12] jbschlosser commented on #76532
I like this - in the past, @albanD and I have briefly discussed adding more customization to `__repr__()`. Maybe it could accept a dictionary of additional suffixes to print?

[code]

[2022-04-28 20:28] vfdev-5 commented on #76487
you may be also interested in reading this : https://ppwwyyxx.com/blog/2021/Where-are-Pixels/

as in this mode pixels are treated as points, and scaling is applied to intervals between them, those count is 1 less then pixel count.

You can use `recompute_scale_factor=True` flag to compute target size as source size * scale :

https://github.com/pytorch/pytorch/blob/8bb720304973f9a22562d9b314edfee4

[2022-04-28 20:30] n3world commented on #76543
I have narrowed down the cause and it seems to be a bad interaction between pyarrow.flight and pytorch. If pytorch is run by a flight server the segfault occurs only if the library is loaded after flight has sent back a response. If the models are loaded before a response is sent back then there is no issue.

I have many other libraries used within the flight server for different operations but th

[2022-04-28 20:48] ppwwyyxx commented on #76487
The issue is just an ambiguity of `scale_factor`.

@arquolo said:

-- This is just __one understanding__ of `scale_factor`: it scales the distance between pixels, aka it scales the size of each section.

However, another understanding of `scale_factor` is that it scales the number of pixels.

As https://ppwwyyxx.com/blog/2021/Where-are-Pixels/#2x-Resize-Operation explains, in `align_corners=True`

[2022-04-28 20:59] n3world commented on #76543
For completeness here is a small reproducer

[code]

[2022-04-28 21:00] arquolo commented on #76487
I wouldn't call `F.interpolate` with specific size, as I'd like to keep it independent from size of input.
Also, torchscript breaks when I compute size of output at a runtime (i.e. during forward pass). For example like this:
[code]

Given the ambiguity of `scale_factor`, maybe it's better to add `stride` parameter to `F.interpolate`, and internally compute output size using one of them?

[2022-04-28 21:26] jjsjann123 commented on #76046
Type promotion has been fixed in https://github.com/pytorch/pytorch/pull/76343/files

[2022-04-28 21:27] jjsjann123 commented on #76046
The remaining one with lerp is patched in: https://github.com/pytorch/pytorch/pull/76459

[2022-04-28 21:41] n3world commented on #76543
Did a little more testing and it doesn't seem to be python 3.10 specific I was able to reproduce on python 3.9 with pytorch version 1.8 - 1.11

[2022-04-28 22:09] nikitaved commented on #76531
If you get to look at the eigenvalues of this matrix, there are 3 eigenvalues which are all approximately equal to `-0.33`. Have a closer look at the second warning in the documentation: https://pytorch.org/docs/stable/generated/torch.linalg.eigh.html?highlight=eigh#torch.linalg.eigh. Unfortunately, there is not much we can do here, unless your objective function does not depend on the eigenspace

[2022-04-28 22:16] Lezcano commented on #76531
Closing as this is expected (the function is not differentiable at the given matrix).

[2022-04-28 22:16] #76531 closed

[2022-04-28 22:18] Lezcano commented on #76543
Can this be related to what you mentioned the other day about that patch in Ubuntu @pmeier ?

[2022-04-28 22:30] jjsjann123 commented on #76354
The tracing doesn't look right.

When I look at nll_loss failures, I saw `weight` baked in the graph.
[code]

While it's taking runtime inputs for the reference.
[code]

Consider that there's no fusion for nll_loss, it's not likely that's caused by fusion at all :laughing:

[2022-04-28 22:34] davidberard98 commented on #76354
Whoops! Thanks for looking into it - I though there was supposed to be an assert checking for that but apparently it's not working

[2022-04-28 22:35] jjsjann123 commented on #76354
I'm surprised this doesn't fail.. A brief look at the `create_traced_fn` seems like we are not supposed to update non_tensor inputs...

[2022-04-28 23:05] ngimel commented on #76528
In the beginning of your script, it's a global config.

[2022-04-28 23:37] sanchitintel opened #76567 "`fbsync merge to master` failing for some PRs"
### 🐛 Describe the bug

Hi, a bit similar to issue #71592, it seems some merges through fbcode are currently not getting propagated to master.

Examples of PRs -

#74596

#76538

#76240

Each one of these PRs encountered the same issue -

![image](https://user-images.githubusercontent.com/90872293/165864197-4686b003-a181-4ed8-9ca8-2411565d780b.png)

Please help fix this issue, or please advise if

[2022-04-28 23:48] sanchitintel opened #76568 "`fbsync merge to master` failing for some PRs"
## Current Status
Hi, a bit similar to issue #71592, it seems some merges through fbcode are currently not getting propagated to master.

## Error looks like
Examples of PRs -

#74596

#76538

#76240

Each one of these PRs encountered the same issue -

![image](https://user-images.githubusercontent.com/90872293/165864197-4686b003-a181-4ed8-9ca8-2411565d780b.png)

## Incident timeline (all times pa

[2022-04-28 23:48] sanchitintel commented on #76567
Closing in favor of #76568

[2022-04-28 23:48] #76567 closed

[2022-04-28 23:48] sanchitintel commented on #76568
@pytorch label ci:sev

[2022-04-28 23:50] sanchitintel commented on #76568
@pytorch label ci: sev

[2022-04-28 23:53] sanchitintel commented on #76568
@pytorch label ci: sev

[2022-04-28 23:57] sanchitintel commented on #76568
@pytorch label ci

[2022-04-29 00:11] soulitzer commented on #76185
From offline discussion @albanD mentions that does not have `grad_fn` is in the c++ sense, so accumulate grad should also  count as grad_fn

[2022-04-29 00:15] janeyx99 commented on #75169
https://github.com/pytorch/pytorch/runs/6218599622?check_suite_focus=true Looks like there are still permission issues for ROCm report uploading. @seemethere is there documentation on how to enable permissions to fix
[code]

[2022-04-29 00:19] sanchitintel commented on #76568
Sorry, it actually looks like this CI check was run before attempting to merge a PR (eg. with a pytorchbot command),
and there are some old PRs, for which this CI check had failed, but they successfully landed nevertheless.

[2022-04-29 00:19] #76568 closed

[2022-04-29 00:25] sanchitintel commented on #71592
Hi, what does `merge fbsync to master` mean?
Thank you!

[2022-04-29 00:29] davidberard98 opened #76571 "torch.unique() nondeterministic behavior on nan inputs (on GPU)"
### 🐛 Describe the bug

[code]

output:
[code]

Two issues:
* a) the last two results output a tensor with two elements, despite the fact that there's only one unique value (and only one element in the input tensor)
* b) the last two results are different, despite having the same input.

### Versions

A100 aws cluster, pytorch master branch
[code]

cc @ngimel

[2022-04-29 00:52] mszuyx opened #76572 "Resetting random seed in data loader for every epoch"
### 🚀 The feature, motivation and pitch

Hi pytorch team,

I wrote a custom data loader in the following manner:

[code]

The hope is to reset the random seed inside **__getitem__()** as the training progresses (e.g., a different seed for each epoch). As the training examples are randomly generated inside **__getitem__()**, if we don't reset the random seed, these samples will always be the same a

[2022-04-29 01:47] davidyang180 commented on #76274
Hi! I didn't update my environment configuration in time. The above error is that I changed to torch 1.10.1 and ran with opset version 14. Is torch version 1.10 not enough? Does it need to be updated to 1.11?

[2022-04-29 02:37] davidberard98 opened #76578 "[JIT][Autocast] Batchnorm folding pass during freezing doesn't preserve types"
### 🐛 Describe the bug

The optimize_numerics pass in the freezing pass interferes with the types used by the autocasting freezing pass.

Autocast() during freezing will cast weights to half precision; but then FoldFrozenConvBatchnorm turns them into full precision, causing errors when the model is run.

[code]

Workaround for now - you can disable optimize_numerics during freezing with `torch.jit

[2022-04-29 02:40] jjsjann123 commented on #76354
Looks like for all the failing cases, we don't even have codegen kernels at all. And they all have kwargs. I think once we fix the tests we should be good. :crossed_fingers:

[2022-04-29 03:02] jansel opened #93750 "Run TorchDynamo on HuggingFace spaces"
@soumith suggested running TorchDynamo on [HuggingFace Spaces](https://huggingface.co/spaces) which contains a large number of models to try to find cases where it fails and we can improve things.

They are basically UI apps -- some javascript tagged to a flask-ish server.
And some example inputs.
The "end to end" might involve us provisioning a docker image or conda env, and sending the inputs as

[2022-04-29 05:07] gao462 opened #76580 "Random Generator for Dropout"
### 🚀 The feature, motivation and pitch

I am doing some study on dropout, and want to keep the same randomness for dropout, but may change randomness in other parts of the code.
Can we add rng as an extra argument of Dropout (like JAX did) so that we can have better control of randomness under specific study?

### Alternatives

_No response_

### Additional context

_No response_

[2022-04-29 06:12] pmeier commented on #76543
Nope, I was talking about a patch in the Python interpreter 3.[89] installed from the `conda` defaults channel.

[2022-04-29 08:02] janarez commented on #75356
Hi, from the documentation at https://pytorch.org/docs/stable/onnx.html:

[2022-04-29 08:26] vadimkantorov commented on #70166
Somewhat related: https://github.com/pytorch/pytorch/issues/76578

[2022-04-29 08:47] vadimkantorov commented on #76532
An alternative design to subclasses (poor person's subclass simulation) could be allowing a general attributes dictionary directly passed / set into a tensor instance.

This can also get ouf of hand, but may be useful for some minor tensor specifications (e.g. experimentation with structured dimension variables)

Same as with subclasses, there would be a problem of propagation of these attributes.

[2022-04-29 08:58] Ishticode opened #76582 "inconsistent result between vector_norm and norm"
### 🐛 Describe the bug

Hi PyTorch team.

For multidimensional tensor, the vector_norm and norm are supposed to have same behaviour (docs). Why does their result differ here
`>>> import torch`
`>>> x = torch.tensor([[1., 2.], [3., 4.], [5., 6.]])`
`>>> torch.linalg.norm(x, ord=2)`
` tensor(9.5255)`
while
`>>> torch.linalg.vector_norm(x, ord=2)`
` tensor(9.5394)`
Sry if its due to my lack of unders

[2022-04-29 09:00] Sentient07 commented on #76528
I get an error using that line. Did you instead mean `torch.backends.cuda.matmul.allow_tf32=False` ?

[2022-04-29 09:29] chenxinhua opened #76583 "Can the quantized model trained by pytorch qat be converted to the onnx model?"
### 🚀 The feature, motivation and pitch

Can the quantized model trained by pytorch qat be converted to the onnx model?

### Alternatives

_No response_

### Additional context

_No response_

cc @jerryzh168 @jianyuh @raghuramank100 @jamesr66a @vkuzo

[2022-04-29 11:02] upupyy opened #76585 "`torch.linalg.cond` has different results for tensor requiring autograd"
### 🐛 Describe the bug

`torch.linalg.cond` has different results for tensor requiring autograd if torch version is 1.11.0

[code]
They will output the same results when torch is 1.10.0

### Versions

torch: 1.11.0

[2022-04-29 11:29] YuxianMeng opened #76586 "Custom CUDA operator only work well on cuda:0"
### 🐛 Describe the bug

change [this line](https://github.com/pytorch/extension-cpp/blob/master/benchmark.py#L31) to other devices

### Versions

I'm learning how to write custom cuda operator by your tutorial at https://github.com/pytorch/extension-cpp

However, I found the operator only output correct results on "cuda:0", and output all_zeros tensor in other devices like "cuda:1"

[2022-04-29 11:33] upupyy opened #76587 "`max_pool` behaves differently with normal input and autograd input"
### 🐛 Describe the bug

`max_pool` behaves differently with normal input and autograd input when input is an empty tensor

[code]

### Versions

pytorch: 1.11.0

[2022-04-29 12:05] casparvl commented on #76107
Hm, seeing as how the PRs affect quite a lot of files, cherrypicking might not be a great idea. I think I'll accept the fact that this might not have been working in 1.11 and simply ignore/disable the failing tests. If nvfuser wasn't enabled by default in 1.11, I expect it would be rare for any of our users to hit any issues in this part of the framework then.

Thanks for all of your helpful repli

[2022-04-29 12:05] #76107 closed

[2022-04-29 12:43] HotzingTone opened #76588 "torch.cross outputs incorrect results"
### 🐛 Describe the bug

torch.cross output incorrect / imprecise results

e.g.
torch.cross(torch.tensor([4.294968e+09, 4.294968e+09, 4.294968e+09]), torch.tensor([3., 3., 3.]))
-> tensor([-512., -512., -512.])

torch.cross(torch.tensor([4.294968e+05, 4.294968e+05, 4.294968e+05]), torch.tensor([3., 3., 3.]))
-> tensor([-0.0625, -0.0625, -0.0625])

The correct results for both should be tensor([0.,

[2022-04-29 12:47] vadimkantorov commented on #1512
@cpuhrsch btw yep, creating a nestedtensor could become a default collate behavior if tensors have different sizes

[2022-04-29 14:14] drbeh opened #76593 "Wrong list representation in `default_collate` docstring"
### 📚 The doc issue

docstring in `default_collate` is not properly formatted: https://github.com/pytorch/pytorch/blob/0708630d9f30210b0a51d13558ad173da630ef95/torch/utils/data/_utils/collate.py#L93-L102

and resulting in a wrong smashed bullet list representation: https://pytorch.org/docs/stable/data.html#torch.utils.data.default_collate

### Suggest a potential alternative/fix

_No response_

[2022-04-29 15:03] awgu commented on #76063
Thanks for the responses everyone! I am not sure exactly what happened earlier when I filed this issue, but I can now run `mypy` with `lintrunner`.

One minor thing was that I had to change the `numpy==1.20` requirement in `.lintrunner.toml` to `numpy==1.19` since `lintrunner init` was erroring saying `ERROR: Could not find a version that satisfies the requirement numpy==1.20`. Mentioning this her

[2022-04-29 15:03] #76063 closed

[2022-04-29 16:17] danilopau opened #76595 "Testing pytorch quantized model export into onnx"
### 🐛 Describe the bug

ref https://pytorch.org/tutorials/recipes/quantization.html
float model can be exported into onnx
quantized no;
see also https://github.com/pytorch/pytorch/issues/75960

import torchvision
model_quantized = torchvision.models.quantization.mobilenet_v2(pretrained=True, quantize=True)

import torch.onnx
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')

pr

[2022-04-29 16:42] vadimkantorov commented on #64208
@jinfagang I think https://github.com/pytorch/pytorch/issues/64208#issuecomment-909077669 this should help, but its code is quite cumbersome

[2022-04-29 16:53] 0x00b1 commented on #76514
Hi, @Chillee! Nice timing since this is an issue I have been thinking about. I agree with your your reasoning. Especially for these examples!

However, if you and others are open to a discussion, I think there is a worthwhile discussion around your question: “what's the goal here?” In my opinion, there are are many (i.e., dozens, if not more) of operators that have one or more of the following cha

[2022-04-29 17:04] Aidyn-A commented on #76432
I thought that there was an issue with CUDA kernel for `max_pool2d`. However, after checking it I found out that the error comes from somewhere else. Now I suspect that there is a mismatch in the way the data is stored on the device. I suspect that tensor constructor just copies raw data of `numpy.ndarray` ignoring that there was a transpose operation.

Basically, if one would do something like th

[2022-04-29 17:08] vadimkantorov commented on #17113
yep, some sort of timeout (maybe even with a default value say of 5 minutes!) and a forced kill of all spawned processes would be a great feature! @mrshenli

[2022-04-29 17:09] vadimkantorov commented on #76287
Maybe related: https://github.com/pytorch/pytorch/issues/17113 @mrshenli

[2022-04-29 18:08] lkn2993 commented on #73487
I've been able to recreate this issue by installing pytorch or one of its dependencies as root.
This could be a permission issue.
You should make sure that all users can access:
/usr/local/cuda/
/usr/local/lib/python3.8/dist-packages
/usr/lib/python3/dist-packages
/proc/driver/nvidia/version

[2022-04-29 18:22] jjsjann123 commented on #76046
I believe all issues have been patched. This one should be good to close :tada:

[2022-04-29 18:30] ngimel commented on #76588
This is expected behavior due to finite floating point accuracy.

[2022-04-29 18:30] #76588 closed

[2022-04-29 18:31] ngimel commented on #76586
You should be setting the device guard to the device of your inputs. Please ask questions in discuss.pytorch.org.

[2022-04-29 18:31] #76586 closed

[2022-04-29 18:32] ngimel commented on #76528
yes

[2022-04-29 18:43] pytorch-bot[bot] opened #76599 "DISABLED test_pointwise_op_fastpath__foreach_addcmul_cuda_int8 (__main__.TestForeachCUDA)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](http://torch-ci.com/failure/test_pointwise_op_fastpath__foreach_addcmul_cuda_int8%2C%20TestForeachCUDA) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/6231260637).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 1 red and 3 green.

cc @crcrpar @m

[2022-04-29 19:02] rosrad commented on #75943
[Answer] yes, I have tried this separated models, which will increase overall model maintain due to too many model parts.

[Answer] the untrainable parameters are fixed during training.

[2022-04-29 19:44] #74310 closed

[2022-04-29 19:49] Linux-cpp-lisp opened #76602 "`ParameterDict` doesn't work in TorchScript"
### 🐛 Describe the bug

[code]
gives
[code]

See https://github.com/pytorch/pytorch/issues/25367.

### Versions

Occurs also on 1.10 stable.

[2022-04-29 23:47] wqh17101 commented on #73487
@lkn2993 There is no `/proc/driver/nvidia/version`. The others can be accessed normally.

[2022-04-30 00:00] rosrad opened #76607 "support FSDP with AMP"
### 🚀 The feature, motivation and pitch

Replacing the DDP with FSDP results into a loss difference, where the AMP is enabled.

Do we have some document to help users enable both FSDP and AMP ?

Currently simply changing from DDP to FSDP can lead to some loss regression as below.
![image](https://user-images.githubusercontent.com/2343640/166081973-a0099713-3be0-4ff7-942b-cbb3eb661158.png)

### Alt

[2022-04-30 00:09] xiong-jie-y commented on #76309
I realized that these full name is useful to identify source code.

So, I think this issue might be divided into these two tasks.
1. Add `max_name_column_width`  parameter to table method of EventList class.
2. Add a mode to output concise name column

Can I start working on the first one?

[2022-04-30 00:47] Chillee commented on #76514
@0x00b1 Yes, I certainly agree with many of your points.

For example, the `_fft_r2c` primitive I mention would probably be a good example of this. They're useful for implementing the public `torch.fft` package and they're nontrivial to implement.

However, the primary consideration (imo) with private operators is about how folks trying to handle PyTorch's semantics need to deal with them. For exa

[2022-04-30 00:48] norabelrose commented on #72901
@qihqi Are there any updates on this? It looks like internal Meta tests caused the PR to get reverted again.

[2022-04-30 01:41] ezyang opened #76609 "AttributeError: '_thread._local' object has no attribute 'rel_tol' (cannot use TestCase.assertEqual from other threads)"
### 🐛 Describe the bug

In a test case, write:

[code]

This will fail with

[code]

A non-contrived situation this can occur is a `__torch_dispatch__` invocation inside of an autograd backwards thread; you are unable to do test asserts from inside this callback.

### Versions

master

[2022-04-30 01:53] stas00 commented on #17113
I second Vadim's feature request. Thank you!

[2022-04-30 02:15] ezyang opened #76611 "OpInfo CUDA bfloat16 support detection is buggy"
### 🐛 Describe the bug

On my CUDA enabled machine:

[code]

OpInfo db says that, for example, addbmm supports bfloat16

[code]

but my cublas does not support it

[code]

This is probably because my GPU is too old. What we probably need to do is test compute capability instead.

### Versions

master

[2022-04-30 02:20] ezyang opened #76612 "OpInfo incorrectly advertises lu_solve support on CUDA even when compiled without magma"
### 🐛 Describe the bug

[code]

### Versions

master

[2022-04-30 03:05] tom-huntington opened #76613 "Complete normalization modules"
### 🚀 The feature, motivation and pitch

For input of shape `(N, C, L)`, batch norm lets you normalize over `N`, and `L`, layer norm lets you normalize over `C`, and `L`. However, you are missing a module that allows you to normalize over `N` and `L`.

I recently came accross this twice, once when wanting to normalize input with something `nn.functional` and just now when I realized that to do bat

[2022-04-30 06:06] ngimel commented on #76611
According to Nvidia, SM53OrLater should support bfloat16, we have this var in OpInfo tests (GP100 is SM60). But as you are discovering, bfloat16 support on pre-volta GPUs is very flaky and hardware- and size-dependent, so we mostly gave up on coming up with correct conditions.

[2022-04-30 06:17] ngimel commented on #76582
Per docs, `torch.linalg.norm` with `ord=2` computes largest SVD value and not 2-norm of a flattened tensor, so different results are expected.

[2022-04-30 08:12] #63733 closed

[2022-04-30 08:28] lkn2993 commented on #73487
@wqh17101 [wqh17101](https://github.com/wqh17101)

Try in python shell:

Please enter all the commands in the specified order in a single shell and share the results.

[2022-04-30 08:43] ShawnZhong commented on #70667
Seems that you need to set `TORCH_CPP_LOG_LEVEL=INFO` as well. c.f., https://github.com/pytorch/pytorch/pull/71746 and https://github.com/pytorch/pytorch/pull/73361

[2022-04-30 09:30] wqh17101 commented on #73487
[code]

[2022-04-30 09:31] wqh17101 commented on #73487
[code]

[2022-04-30 09:33] wqh17101 commented on #73487
However, i can not run them together.
[code]

[2022-04-30 11:21] vadimkantorov commented on #71249
currently the Sequential docs page lists only `append`. I suggest it should also include functions inherited from nn.Module / nn.Container (such as `add_module`)

[2022-04-30 11:45] TestSomething22 opened #76616 "`nn.ChannelShuffle` will crash with empty input tensor"
### 🐛 Describe the bug

`nn.ChannelShuffle` will crash with empty input tensor

[code]

### Versions

pytorch: 1.10.0

cc @ezyang @gchanan @zou3519 @albanD @mruberry @jbschlosser @walterddr @kshitij12345

[2022-04-30 11:49] TestSomething22 opened #76617 "Improve error message for `unfold` when generating tensor with negative dimension"
### 🐛 Describe the bug

`unfold` could generate tensor with negative dimension

[code]

### Versions

pytorch: 1.10.0

cc @ezyang @gchanan @zou3519

[2022-04-30 12:38] duburcqa opened #76618 "pylint segfault"
### 🐛 Describe the bug

On my setup, `pylint` segfault with `pytorch>1.8.1`. `gdb` is giving me the following backtrace:
[code]

### Versions

PyTorch version: 1.10.0+cpu
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.3 LTS (x86_64)
GCC version: (Ubuntu 9.4.0-1ubuntu1~20.04.1) 9.4.0
Clang version: Could not collect
CMake version: version 3.

[2022-04-30 15:35] vitrioil commented on #76034
Created: #76619. Still there's a lot of changes pending. Should I make it a draft PR?

[2022-04-30 16:17] ezyang commented on #76611
We should just blanket turn off those tests on pre-Volta GPUs, IMO

[2022-04-30 19:41] jonahclarsen commented on #63558
@divideconcept thank you for those instructions. This worked for x86-64, but before `mkdir pytorch-build-x86_64` (while still in the pytorch-build folder), I had to run:
`python/bin/pip install pyyaml
python/bin/pip install typing_extensions`

However, when I run the cmake build command for arm64, I get the following error (this is after running the command again so the first 48% of build steps we

[2022-04-30 20:25] wahlberg82 commented on #52286
Maybe my last question got kind of drowned in the long thread, so I'll post it again:

Final question to close this subject for me:
What about kDefaultNumProfiledRuns? (line 48 in https://github.com/pytorch/pytorch/blob/orig/release/1.11/torch/csrc/jit/runtime/profiling_graph_executor_impl.cpp)
Does the torch::jit::setGraphExecutorOptimize(false) turn that profiledruns off as well?

Cheers,
David

[2022-04-30 22:00] ngimel commented on #76611
Yeah but test_dtype complains if something supports dtype when it doesn't claim to, and getting those to pass is hard, so people who added OpInfo did what they could without skipping dtype tests altogether, and our CI is mostly pre-volta GPUs.

[2022-04-30 22:42] lkn2993 commented on #73487
I'm a bit confused about your reply.
Did you enter all 4 commands in a single python shell session in the specified order? From your replies it seems like you entered them two by two in two different sessions, and then entered them in wrong order. Just asking for clarification.

[2022-04-30 23:07] ezyang commented on #76611
oh yeah, I forgot about test_dtype. Well I guess this would be a good place to have an allowance along the lines of "yeah, assume this isn't supported, and yeah, don't complain even if it does accidentally work"

[2022-05-01 01:13] wqh17101 commented on #73487
Each code block is an independent session.

Maybe you can write a doc about how to install your env as an example?

[2022-05-01 01:22] #76572 closed

[2022-05-01 03:21] Ishticode commented on #76582
Thanks, makes sense.

[2022-05-01 03:22] #76582 closed

[2022-05-01 05:42] TestSomething22 opened #76627 "`Tensor.logit`'s signature in doc misses `eps` argument"
### 📚 The doc issue

`Tensor.logit`'s signature in [doc](https://pytorch.org/docs/stable/generated/torch.Tensor.logit.html?highlight=logit#torch.Tensor.logit) misses `eps` argument.

### Suggest a potential alternative/fix

It should be `Tensor.logit(eps=None)`

[2022-05-01 06:11] divideconcept commented on #63558
@jonahclarsen are you building it on a non-M1 mac ? I know the build crash on Intel mac, but building fine on Apple Silicon mac.

[2022-05-01 06:53] TestSomething22 opened #76630 "`torch.clamp` type promotes strangely"
### 🐛 Describe the bug

`torch.clamp` broadcast strangely that its return tensor has the same dtype as `input` argument. However, `torch.max` and `torch.min` will broadcast the return tensor to the most precise one. For example,

[code]

In the documentation of `torch.clamp`, `y = min(max(x, min_value), max_value)`, so I think it should the same broadcasting behavior as `torch.max` and `torch.min`

[2022-05-01 07:44] duburcqa opened #76631 "GTK4 segfault on Ubuntu 22.04"
### 🐛 Describe the bug

On my setup, python segfault *(at exit only!)* if GTK4 is loaded **BEFORE** `torch.nn` and not after. Here is the backtrace:
[code]

The important point is `/lib/x86_64-linux-gnu/libLLVM-13.so.1` that gets loaded with GTK4. Here is a snippet to reproduce the bug:
[code]

### Versions

PyTorch version: 1.11.0+cu115
Is debug build: False
CUDA used to build PyTorch: 11.5
ROCM

[2022-05-01 07:46] duburcqa commented on #76631
I have reported the issue to matplotlib team [here](https://github.com/matplotlib/matplotlib/issues/22948) but it seems rather related to torch.

[2022-05-01 08:56] lkskstlr opened #76632 "RestrictPtrTraits in CUDA potentially has no effect."
### 🐛 Describe the bug

Potentially `torch::PackedTensorAccessor32<T, N, torch::RestrictPtrTraits>` might be treated the same as `torch::PackedTensorAccessor32<T, N>` in CUDA given how `__restirct__` is handeled.

The pointer to the data is a class member [TensorAccessor.h#L62](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/core/TensorAccessor.h#L62)
[code]

However, this is not resp

[2022-05-01 09:42] xsacha commented on #61223
Still have this issue in latest nightly

[2022-05-01 11:32] MontaEllis commented on #34704
Same issue

[2022-05-01 12:39] jonahclarsen commented on #63558
@divideconcept Nope, I am building it on my M1 Macbook Air.

[2022-05-01 13:00] jonahclarsen commented on #63558
@divideconcept I did mange to find the crash file, it was in my system (not user) Library. I have attached it if that helps. It was originally an .ips but I had to change it to .txt to attach here, it may be easier to read if you rename it back. Thanks for your help so far by the way.

[clang-2022-05-01-095808.txt](https://github.com/pytorch/pytorch/files/8598924/clang-2022-05-01-095808.txt)

It s

[2022-05-01 14:40] divideconcept commented on #63558
You're welcome. I have the exact same machine (MacBookAir10,1) but the fact it was building using x86_64 clang instead of arm clang would be for me the reason of the crash.
Make sure your Terminal is running in native arm mode before launching the build. The Activity Monitor app should show "Apple" in the "Kind" column next to "Terminal". And when running the build, make sure clang is also showing

[2022-05-01 14:42] divideconcept commented on #63558
![image](https://user-images.githubusercontent.com/3392900/166150927-34b734aa-3a32-49e4-8f7a-183200244fbe.png)

[2022-05-01 14:44] jonahclarsen commented on #63558
@divideconcept Terminal is running in Apple, but clang shows 'Intel'. How could I fix that? By the way I am using Monterey 12.3.1, that could be part of the discrepancy between our machines.

[2022-05-01 14:53] vadimkantorov commented on #76631
@malfet another instance of fuzzying of imports

[2022-05-01 17:33] a-canela opened #76636 "WeightNorm: Add reset_parameters Linear override"
### 🚀 The feature, motivation and pitch

I have faced some problems when trying to **reset the parameters of a Linear module to which I have applied weight normalization**. I have realized that the `reset_parameters` instance method of the Linear module doesn't consider potential modifications of its parameters attributes names, i.e., `self.weights` might be split into `self.weight_g` and `self.we

[2022-05-01 18:34] divideconcept commented on #63558
@jonahclarsen I really have no idea... But in case you're mainly interested in having an universal libtorch, here's the final result of my tutorial: https://drive.google.com/file/d/14E-h4hTWDo8NK676v6q6qWsTOKUXFj51/view?usp=sharing

[2022-05-01 20:32] pearu opened #76638 "Design API for accessing sparse tensor indices"
### 🚀 The feature, motivation and pitch

A sparse tensor can be viewed as a pair of indices and values that define the set of specified tensor elements. PyTorch supports sparse tensors with COO and CSR formats and starting from https://github.com/pytorch/pytorch/pull/75831, also CSC, BSR, and BSC formats.

All mentioned sparse formats use the `.values()` method to retrieve the values of specified

[2022-05-02 00:14] The1912 commented on #1355
Thank u ,i fix it by torch.set_num_threads(N)

[2022-05-02 02:09] upupyy opened #76644 "`torch.smm` backward fail with strange error message"
### 🐛 Describe the bug

`torch.smm` backwards fail with strange error message. Besides, with the same input, `torch.mm` will backward successfully and get the correct gradients.

[code]

The error message
[code]

### Versions

pytorch: 1.11.0 and nightly version

[2022-05-02 02:25] upupyy opened #76645 "`torch.pow` and `torch.float_power` have different gradient with `bfloat16` input tensor"
### 🐛 Describe the bug

`torch.pow` and `torch.float_power` have different gradient with `bfloat16` input tensor. For example, the gradients of `exponent` are not equal.

[code]
However, when the input has `float32` or `float64` dtype, all of the gradients are equal.

### Versions

pytorch: 1.11.0

[2022-05-02 02:42] upupyy opened #76646 "`torch.nn.HuberLoss` backwards unexpectedly fail"
### 🐛 Describe the bug

`torch.nn.HuberLoss` backwards unexpectedly fail with error message `Found dtype Float but expected Double`.
For its documentation, "When delta is set to 1, this loss is equivalent to [SmoothL1Loss](https://pytorch.org/docs/stable/generated/torch.nn.SmoothL1Loss.html#torch.nn.SmoothL1Loss)". As a result, it should succeed to backward like `SmoothL1Loss`

[code]

### Version

[2022-05-02 07:07] hl475 commented on #72582
@csukuangfj Curious how do you fix it? Change the last part of this line https://github.com/pytorch/pytorch/blob/master/cmake/Dependencies.cmake#L1649 to `DTHRUST_CUB_WRAPPED_NAMESPACE=at_cuda_detail`? Anything else required to fix the problem? Thanks!

[2022-05-02 07:27] IvanYashchuk opened #76649 "Add `ldl_unpack` functionality"
### 🚀 The feature, motivation and pitch

Recently LDL factorization and solver were added to `torch.linalg` with https://github.com/pytorch/pytorch/pull/69828. The factorization is stored in the packed format in a single matrix. Similar to `torch.lu` and `torch.lu_unpack` we need to unpack the `LD` factors into (possibly permuted) lower triangular matrix `L` and tridiagonal matrix `D` matrices so

[2022-05-02 07:52] Lezcano commented on #76649
The API looks good. I just don't know about where to put this function, or whether to even expose it.

For now, we have `lu_unpack` in the `torch.` namespace. I preemptively chose not to move it to the `linalg` namespace because I figured that a better API would be to have just 2 ways of doing things:
- `linalg.lu_factor` + `linalg.lu_solve` if you need to solve many linear systems.
- `linalg.lu`

[2022-05-02 10:08] fti-vsaxena commented on #32369
I had the same problem but I have verified that if we specify torch version above 1.10  it is working without the environment too.
`conda install pytorch==1.10.1 torchvision==0.11.2 torchaudio==0.10.1 cudatoolkit=11.3 -c pytorch -c conda-forge`

[2022-05-02 10:11] Vishesh29 commented on #32369
I had the same problem but I have verified that if we specify the torch version above 1.10  it is working without the environment too.
`conda install pytorch==1.10.1 torchvision==0.11.2 torchaudio==0.10.1 cudatoolkit=11.3 -c pytorch -c conda-forge`

[2022-05-02 10:16] ldorigo opened #76652 "Fix import in torch.profile to satisfy py.typed conventions and allow type checking by Pylance"
### 🐛 Describe the bug

See this issue on Pylance: https://github.com/microsoft/pylance-release/issues/2753#event-6524698001

Due to the current way `torch/profiler/__init__.py` is written, type checkers (at least pyright, used by pylance and most vscode users) assume that torch.profiler.profiler is a private module, and throw an error when importing it as

[code]

According to Pylance devs (see i

[2022-05-02 11:16] xingyuuchen commented on #7541
Why does this issue still exists.....

The limit padding size should be obviously half of `kernel_size * dilation`........

[2022-05-02 11:19] xingyuuchen commented on #3298
can't agree more, but this issue seems still exists in Pytorch...

[2022-05-02 11:59] dagitses commented on #76534
Hey Philip, I'm viewing this as two parts:
1) there's a general question being asked. I think the forums are the right place to discuss this.
2) there's a documentation gap for this aspect of PyTorch.

I suggest figuring out the right path on the forum and then filing an issue to close the documentation gap?

What do you think?

[2022-05-02 12:02] dagitses commented on #76540
It looks like this is already fixed?

[2022-05-02 12:20] nikitaved commented on #76649
It would be great to just also have a function that "unpacks" pivots.

[2022-05-02 12:22] timmywanttolearn opened #76654 "Torch.sort slower than nn.Conv2d."
### 🐛 Describe the bug

At cpu, `torch.sort` is so slow that it is even slower than convulutional layers. I remembered that `torch.sort` is O(Nlog(N)) complexity. Convolutional layer should be heavier than that.
Here is the code
[code]
The reslut on my cpu is
[code]
Why is this happening?

### Versions

pytorch 1.12.0

[2022-05-02 12:25] pmeier commented on #76534
Which forum? https://discuss.pytorch.org/ is aimed at users so this doesn't really fit there. https://dev-discuss.pytorch.org/ could work out, but not sure if this issue fits their scope:

[2022-05-02 12:26] nikitaved commented on #76654
This happening because your sort the WHOLE tensor and it does that in optimal time using `std::sort`. The caveat is that this sort is serial.

[2022-05-02 12:50] timmywanttolearn opened #76655 "Request for no-param sort to exploit parallelization"
### 🚀 The feature, motivation and pitch

'torch.sort' can not execute parallel when there is only one dimention of tensor. I hope you could make it faster when we try to sort 1 dimention tensors.

### Alternatives

Maybe you could implement merge sort or other parallel sorting algorithms

### Additional context

https://github.com/pytorch/pytorch/issues/76654
I have a report and code here

[2022-05-02 12:51] timmywanttolearn commented on #76654
Sure! I opened here.
https://github.com/pytorch/pytorch/issues/76655

[2022-05-02 13:34] vadimkantorov opened #76656 "Clarify dependency on NumPy (related to maskedtensor?)"
### 🐛 Describe the bug

I installed torch cpu version on a new python3.8 ubuntu 20.04 system via pip. From what I understood, it did not install NumPy as dependency.

When I import torch, I get:
[code]

This has a lot of confusing details. If NumPy is needed, it should be specified as pip dependency and installed automatically.

If it's not strictly required, I propose that either no warning is sh

[2022-05-02 13:39] jbschlosser commented on #76540
Yes that's correct. For some reason, GH is not auto-closing issues when linked PRs are merged.

[2022-05-02 13:39] #76540 closed

[2022-05-02 14:04] albanD commented on #76522
To add a bit more details:
- The overload of the function that takes 3 Tensors should spread the gradients as suggested (the fact that some inputs might not require gradients should be ignored as only the differentiability is important here).
- The overload that takes numbers as input is a bit different as the numbers are not differentiable. In this case, we have locally a convex (resp concave) fu

[2022-05-02 14:12] #76593 closed

[2022-05-02 14:14] #76034 closed

[2022-05-02 14:23] albanD commented on #76034
Thanks for the fix!
I think we can open a new issue for the follow up improvements (as it now works, but not optimally).

Also I would be curious to discuss there the impact of the remaining docstrings.

[2022-05-02 14:31] albanD commented on #71249
Note that we use autosummary from sphinx for these Modules: https://github.com/pytorch/pytorch/blame/c9bd73878ae544dc53075f1802e51798f82e7a45/docs/source/nn.rst#L38 so not sure why that happens...

[2022-05-02 14:35] timmywanttolearn commented on #76654
Sorry to trouble you again. Is there any way to execute `torch.kthvalue` parallel in one dimention ? Just like the code below
[code]
to get the 2nd, 4th, and 8th smallest element in the tensor.

[2022-05-02 14:38] gchanan commented on #76656
@cpuhrsch

[2022-05-02 14:38] nikitaved commented on #76654
No, unfortunately, for now :(

[2022-05-02 14:39] nikitaved commented on #76655
Since the CPU part relies on `std::sort`, there is a couple of line fix for that once and when PyTorch adapts C++17 with the parallel execution policy.

[2022-05-02 14:41] albanD commented on #76543
Ho sorry, didn't had time to answer earlier :/

I am pretty sure that this is caused by trying to acquire the GIL while the python state is already dead.
Can you try applying the same fix as this one to the destructor of PyFunctionPreHook:
https://github.com/pytorch/pytorch/blob/4e4c80d539004e320ae0f2fba66674ede42e5c92/torch/csrc/autograd/python_function.h#L38-L46

The interaction with pyarrow is

[2022-05-02 14:49] vadimkantorov commented on #71249
about general - probably autosummary doesn't like to duplicate inherited methods?
about extend - not sure if it was added at the end...

[2022-05-02 14:55] timmywanttolearn commented on #76654
Thank you!

[2022-05-02 15:02] vitrioil opened #76659 "Remove all docstrings when python is run in optimization mode"
## Issue description
Follow up of #76034.

There are docstrings still present in *pyc files when python is run in optimization mode (`-OO`).

## Code example

[code]

This has to be separately handled.

Current *pyc file size for pytorch:

1. Without optimization
[code]
2. With optimization (`-O`)
[code]
3. With optimization (`-OO`)
[code]

I don't see any noticeable time difference while importin

[2022-05-02 15:02] vitrioil commented on #76034
Created #76659

[2022-05-02 15:10] NIRVANALAN commented on #34704
same issue

[2022-05-02 15:11] sjbling opened #76660 "tensor.shape[0] return a tensor not a constant"
### 🐛 Describe the bug

 import torch
image = torch.rand(6,3,64,64).cuda()
.....
torch.onnx.export(model, images,opset_version=13...)

Class Net():

def forward(image):
       print(image.shape[0])

### Versions

python 3.8.8
torch 1.8.0

[2022-05-02 15:16] mruberry commented on #76534
@albanD @ezyang -- maybe an opportunity to improve tensor subclass documentation?

[2022-05-02 15:18] Lezcano commented on #76522
For reference, this approach sgtm. We should document it properly when we implement it, as it's a tricky one.

[2022-05-02 15:20] albanD commented on #76659
Note that the c++ function `THPModule_addDocStr` that is used extensively is also most likely a very big offender here. We use it extensively to add docstring to our c++ bindings and I don't think there is a skip there for when the `__debug__` flag is not set.

[2022-05-02 15:26] #60197 closed

[2022-05-02 15:36] vitrioil commented on #76659
I think we can use this: https://docs.python.org/3/c-api/init.html#c.Py_OptimizeFlag

I see `THPModule_addDocStr` referencing numpy's `arr_add_docstring`.

Numpy is doing something [similar](
https://github.com/numpy/numpy/blob/5cc7ef066fca7a821a2160b095578384c301ae3c/numpy/core/src/multiarray/compiled_base.c#L1404-L1406):
[code]

I will check this. I am not sure which method uses this API though.

[2022-05-02 15:41] albanD commented on #76534
Thanks for the report @pmeier !
The thing is that most of the methods that comes from core are actually directly specified from c++ (what python calls "builtin") and so that is why they print differently.

[2022-05-02 15:43] albanD commented on #76659
Good catch!
Could you try adding that skip and see what remains in the pyc?

[2022-05-02 15:47] albanD commented on #76532
Printing all the non-private elements in `__dict__` is definitely an easy way to be extensive. But that might hide some of the core properties and not print well if you store Tensors as attributes.
But I agree that a dictionary would be nicer here.
And it will also simplify the core function as autograd/dtype/device properties can also be passed in this way to a more generic printing function.

[2022-05-02 15:56] jansel opened #76662 "[nvFuser] failing correctness tests in torchbench.py"
nvFuser is failing many correctness checks when run with TorchDynamo in [torchbench.py](https://github.com/facebookresearch/torchdynamo/blob/main/torchbench.py) using the latest PyTorch master.

If I run:
[code]
I get "INCORRECT"

While if I remove `--nvfuser` it works.

If you run all models:
[code]

You will find around a third of them are failing correctness checks.

cc @jjsjann123 @kevinstepha

[2022-05-02 16:02] vadimkantorov commented on #76440
Some functionality where selection of algo/method/precision/approximation used/execution hints is useful and is differently exposed now:
* convs
* cdist
* gelu
* linalg methods (e.g. sqrtm) often possible with different algos having different memory/runtime/stability tradeoffs

[2022-05-02 16:10] vitrioil commented on #76659
Oh I just saw this is already handled in pytorch!
Also there is no difference in pyc.
https://github.com/pytorch/pytorch/blob/54c75e1e8f179d101cc4c19b715941159b6b8009/torch/csrc/Module.cpp#L225-L227

[2022-05-02 16:13] jansel commented on #76662
It is hitting this line:
https://github.com/facebookresearch/torchdynamo/blob/0d59ce9bfae18337a88de32743777e3a75c4ad5c/torchbench.py#L1110

Which checks correctness with `torch.allclose` here:
https://github.com/facebookresearch/torchdynamo/blob/0d59ce9bfae18337a88de32743777e3a75c4ad5c/torchdynamo/testing.py#L100

For threshold `atol=rtol=1e-4`, which is a lower bar than the defaults of `rtol=1e-0

[2022-05-02 16:16] albanD commented on #76659
That code is only getting the two arguments from the function into these two objects.
If this fails it is because you passed the wrong number of arguments and that would raise an error.

[2022-05-02 16:17] jansel commented on #76662
Actually the `--float32` option is in a branch.  I'll submit a PR for that today.  But it just calls `model=model.to(torch.float32)`.

[2022-05-02 16:20] csarofeen commented on #76662
How do you decide on tolerances? I assume the default fuser doesn't trigger this?

[2022-05-02 16:26] Cenbylin commented on #64932
This will be a very useful feature.

[2022-05-02 16:26] jansel commented on #76662
TorchDynamo has [many backends](https://github.com/jansel/torchdynamo/blob/main/torchdynamo/optimizations/backends.py) and experimentally nearly all backends pass that tolerance level in float32 mode.

[2022-05-02 16:33] jansel commented on #76662
I missed a few questions:

Yes

Eager mode

[2022-05-02 16:40] s4ayub commented on #76568
@sanchitintel for these 3 PRs that failed to sync to github and merge:

https://github.com/pytorch/pytorch/pulls/s4ayub

should i just resubmit them as a PR on github?

[2022-05-02 16:42] syed-ahmed commented on #76662
Hi @jansel, I'm working on reproducing this issue. Could you please tell us what GPU architecture(s) you ran the tests on? Please provide the output of [collect_env](https://github.com/pytorch/pytorch/blob/master/torch/utils/collect_env.py) as well.

[2022-05-02 16:51] albanD commented on #76543
Tentatively marking as actionable as we should fix these anyway in general.

[2022-05-02 16:54] #30304 closed

[2022-05-02 16:54] ypfFromWhu commented on #30304
你好，你的邮件我已收到，会尽快给你回复。

[2022-05-02 16:56] janeyx99 opened #76666 "GHA Retry: Install CUDA and CUDNN (for Windows)"
See parent issue for more instructions https://github.com/pytorch/pytorch/issues/71563

cc @seemethere @malfet @pytorch/pytorch-dev-infra

[2022-05-02 16:59] janeyx99 opened #76667 "Add note about Dev Infra Office Hours in CONTRIBUTING.md"
We should add a note about the available office hours every Friday (https://github.com/pytorch/pytorch/wiki/Dev-Infra-Office-Hours) in the CONTRIBUTING.md guide so that external contributors can know where to go for help if they have questions.

cc @seemethere @malfet @pytorch/pytorch-dev-infra

[2022-05-02 17:03] zhaojuanmao commented on #76501
Thanks for the proposal and the script. The workflow looks great in the script!

Regarding current script, here are a few feedback:
1. since original parameters are restored as module's parameters outside computation, although we make the original parameters point to the underneath flat_param storage, could we still double check the peak memory impact during implementation just in case?
2. in real

[2022-05-02 17:06] jansel commented on #76662
I am running on an RTX 3090

[code]

[2022-05-02 17:07] sanchitintel commented on #76568
Hi @s4ayub, sorry for any confusion I may have caused!

I only see an fbsync failure on #76538 (out of the 3 pull requests), but I think that failure is inconsequential.
As is usual, your PR would have to be imported first & then merged.
@janeyx99, can you please confirm? Thanks!

[2022-05-02 17:07] bdhirsh commented on #76555
semi-related: https://github.com/pytorch/pytorch/issues/66491

[2022-05-02 17:08] albanD commented on #76555
I think https://github.com/pytorch/pytorch/issues/31558 and https://github.com/pytorch/pytorch/issues/50987 are related as well

[2022-05-02 17:09] b0noI commented on #76244
AWS does have support of AMD EPYC CPUs. Random example EC2 M6a

[2022-05-02 17:13] #76298 closed

[2022-05-02 17:14] dagitses commented on #76244
ping @emad. Can you assign a PoC here please.

[2022-05-02 17:18] jansel commented on #76662
The `--float32` option is added here:
https://github.com/facebookresearch/torchdynamo/pull/189

[2022-05-02 17:20] cpuhrsch commented on #1512
@cpuhrsch - a NestedTensor will need to copy to be constructed from a list of Tensors, unless we introduce some kind of special layout, since torch Tensors have a single piece of underlying Storage.

[2022-05-02 17:27] albanD commented on #76368
@mcarilli what do you think about the option of going forward with https://github.com/pytorch/pytorch/issues/71274 as a solution to this?

High priority to expose the "is capture underway" flag to python and make sure we avoid silently wrong results

[2022-05-02 17:28] #72707 closed

[2022-05-02 17:28] koparasy opened #76672 "C++ CUDA assign existing memory to forward method."
### 🐛 Describe the bug

Apologies for posting this here. I did post a question in the forum however no one replied for a couple of weeks. I would like to load a pytorch model (which Is trained in python) in a C++ application. The application has already performed device allocations and is quite memory intensive. So, I would like the model to re-use the application memory as much as possible. I am

[2022-05-02 17:30] mruberry commented on #76555
This is a valid UX bug but it seems low priority, and adding additional scalar overloads (without jiterating) will add additional CUDA kernels (increasing build time and CUDA context size). For jiterated operators adding these overloads should be easy and painless, though.

[2022-05-02 17:31] malfet commented on #76543
Removed "when using python-3.10" as crash is not 3.10 specific

[2022-05-02 17:56] jbschlosser commented on #76532
This is a definite plus, as the current function is fairly verbose.

[2022-05-02 18:01] albanD commented on #76283
From offline discussion:
We should make sure that the composite compliance test is not reading un-initialized memory which would lead to this.

[2022-05-02 18:05] salilsdesai commented on #76310
I am trying to test an fx quantized model which uses softmax (following this guide: https://pytorch.org/tutorials/prototype/fx_graph_mode_ptq_static.html#prototype-fx-graph-mode-post-training-static-quantization )- things seem to be ok when I try in a bento notebook, but when I test on my devserver I am getting the following error. Do you know how I can fix this?

[code]

[2022-05-02 18:20] vitrioil commented on #76659
Right, I can see that adding that check removes documentation from methods like:
`from torch._C import _has_torch_function` and many others.

I checked the *pyc size before and after the check and I did not see any difference.
I used `sys.pycache_prefix` to manually change *pyc to a fresh location in both the cases.

It stays at 3928 bytes, is that because the strings are dynamically added? There

[2022-05-02 18:24] salilsdesai commented on #76310
I tried putting "import torch.fx" and the top of the file, and I'm getting the same ModuleNotFoundError on that line.
Do I need to add a special dependency to the python_binary buck rule? Right now I just have "//caffe2:torch"

[2022-05-02 18:25] KyleCZH opened #76680 "DISABLED test_basic_checkpoint_end_to_end_cpu_offload_CPUOffload(offload_params=False)_offload_activations_False (__main__.TestFSDPCheckpoint)"
Platforms: rocm

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_basic_checkpoint_end_to_end_cpu_offload_CPUOffload(offload_params%3DFalse)_offload_activations_False%2C%20TestFSDPCheckpoint)).

cc @jeffdaily @sunway513 @jithunnair-amd @ROCmSupport @KyleCZH

[2022-05-02 18:26] KyleCZH commented on #76680
@jeffdaily @pruthvistony

[2022-05-02 18:26] jbschlosser commented on #67892
Update: with the addition of no-batch-dim support for dropout2d, we've now deprecated passing 2D inputs to it. As such, we don't want to document this sort of usage.

[2022-05-02 18:26] #67892 closed

[2022-05-02 18:30] vkuzo commented on #76310
yes, you need to add `"//caffe2:torch_fx"` to dependencies

[2022-05-02 18:36] awgu opened #76681 "[FSDP] Pre-backward hook race"
Assuming that autograd hooks are run as separate CPU threads, then there is a race condition in FSDP's pre-backward hook:
https://github.com/pytorch/pytorch/blob/5f98145fd9970d1edfb62acf4ac413193a90436d/torch/distributed/fsdp/fully_sharded_data_parallel.py#L2165-L2197

Suppose a FSDP module has multiple outputs, meaning that its pre-backward hook is triggered multiple times. Say that `t1` and `t2`

[2022-05-02 18:38] salilsdesai commented on #76310
Thanks that fixed that issue. So I'll try to add the qconfig that we need and see how it goes.

[2022-05-02 18:40] PaliC opened #76682 "[torch::deploy] Remove manager_ from AquireSession"
[torch::deploy](https://github.com/pytorch/pytorch/blob/master/docs/source/deploy.rst) is a runtime for getting pytorch models to run on multiple threads in eager mode. There's a great whitepaper about torch.package and torch::deploy [here](https://arxiv.org/pdf/2104.00254.pdf).

Motivation: We want to be able to breakout interpreter manager from the interpreter. In practice what this means is tha

[2022-05-02 18:45] PaliC opened #76683 "[torch::deploy] remove reliance on manager_ for unload"
[torch::deploy](https://github.com/pytorch/pytorch/blob/master/docs/source/deploy.rst) is a runtime for getting pytorch models to run on multiple threads in eager mode. There's a great whitepaper about torch.package and torch::deploy [here](https://arxiv.org/pdf/2104.00254.pdf).

Motivation: We want to be able to breakout interpreter manager from the interpreter. In practice what this means is tha

[2022-05-02 18:50] BowenBao opened #76684 "[ONNX] Improve error handling wrt missing symbolic for autograd.Function"
### 🚀 The feature, motivation and pitch

The current error handling logic does not immediately throw when detecting missing symbolic function for custom autograd.Function. This leads to potentially misleading error message, by errors thrown from converting the nodes after. One simple example could be

[code]

### Alternatives

At this part of code https://github.com/pytorch/pytorch/blob/150c307140

[2022-05-02 19:00] PaliC opened #76685 "[torch::deploy] move create_movable to interpreter_manager"
[torch::deploy](https://github.com/pytorch/pytorch/blob/master/docs/source/deploy.rst) is a runtime for getting pytorch models to run on multiple threads in eager mode. There's a great whitepaper about torch.package and torch::deploy [here](https://arxiv.org/pdf/2104.00254.pdf).

Motivation: We want to be able to breakout interpreter manager from the interpreter. In practice what this means is tha

[2022-05-02 19:01] n3world commented on #76543
The PyFunctionPreHook already has the `Py_IsInitialized()` check in 11.0 which reproduces the segfault

[2022-05-02 19:02] PaliC opened #76686 "[torch::deploy] Remove `manager_` from the constructor and deconstructor of `InterpreterSession`"
[torch::deploy](https://github.com/pytorch/pytorch/blob/master/docs/source/deploy.rst) is a runtime for getting pytorch models to run on multiple threads in eager mode. There's a great whitepaper about torch.package and torch::deploy [here](https://arxiv.org/pdf/2104.00254.pdf).

Motivation: We want to be able to breakout interpreter manager from the interpreter. In practice what this means is tha

[2022-05-02 19:42] dhudsmith commented on #42407
@jykr, I'm also interested in this one, and I think I see how to implement it. If you're not working on this, I'd like to go for it.

[2022-05-02 19:46] cbalioglu commented on #76607
cc @zhaojuanmao @rohan-varma

[2022-05-02 20:01] qihqi commented on #72901
This time it's a github CI: https://github.com/pytorch/pytorch/runs/5763579312?check_suite_focus=true

It has to do with gpu tests, I am still in process of figuring out what happened (didn't manage to repro locally yet).

[2022-05-02 20:01] kumpera commented on #76441
Yes, somewhat. There are a few issue we face with distributed checkpointing and using torch.load / torch.save beyond those inherent to pickle. In no particular order:

Split tensor metadata from data and save them separately.
Have an efficient implementation of partial loading a tensor. IE `torch.load(...).view(...)`

[2022-05-02 20:11] zhaojuanmao commented on #76681
nice catch! it may help some perf improvement for some use cases...

[2022-05-02 20:22] lanking520 opened #76689 "Performance bad on ARM AArch64 for PyTorch C++"
### 🚀 The feature, motivation and pitch

Hi PyTorch community, we have been trying to build the PyTorch on the CentOS-7/ Amazon Linux 2 on an aarch64 instance (Graviton) for our C++ project. However, we found our build performance is much worse comparing to the PyTorch aarch64 pip release. I am suspecting if there is any performance optimization libraries/flags we have not enabled during the build

[2022-05-02 20:31] vadimkantorov commented on #12760
PR on orthogonalize: https://github.com/pytorch/pytorch/pull/76673

[2022-05-02 20:45] kumpera commented on #76395
This should be extended to handle each rank producing the storage metadata for their writes.

[2022-05-02 21:00] awgu commented on #76681
https://github.com/pytorch/pytorch/pull/76687#discussion_r863163361

@mrshenli stated that there should only be one thread per device, which matches what I am seeing in my local experiments, meaning that this race does not actually exist. We can close this for now.

[2022-05-02 21:00] #76681 closed

[2022-05-02 21:42] cpuhrsch commented on #76638
Here's another idea for Proposal 3. We could add a `dim` flag to indices, e.g. `indices(dim=1)`. When called on a compressed sparse tensor `indices()` will throw, because there isn't a single Tensor that can represent it. When provided a given dimension, if it is a sparse dimension, it will return the indices. These could then potentially be compressed. Of course this concept of dimension also app

[2022-05-02 21:49] cpuhrsch commented on #76638
I don't think the defects that we currently have within BSC and CSC can wait for a resolution to this issue. `ccol_indices` and `row_indices` are descriptive and specific methods that are needed in order for us to use these layouts.

I suggest we implement Proposal 1 in any case and also right away, but I wouldn't consider torch.sparse stable before we resolved this discussion overall and perhaps

[2022-05-02 21:52] cpuhrsch commented on #76656
@vadimkantorov - thanks for filing this issue. Does this reproduce on a recent nightly for you? This was likely fixed alongside some changes to the documentation for masked operations. cc @pearu.

[2022-05-02 22:08] #27212 closed

[2022-05-02 22:13] KyleCZH opened #76696 "DISABLED test_basic_checkpoint_end_to_end_cpu_offload_CPUOffload(offload_params=True)_offload_activations_False (__main__.TestFSDPCheckpoint)"
Platforms: rocm

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_basic_checkpoint_end_to_end_cpu_offload_CPUOffload(offload_params%3DTrue)_offload_activations_False%2C%20TestFSDPCheckpoint)).

cc @jeffdaily @sunway513 @jithunnair-amd @ROCmSupport @KyleCZH

[2022-05-02 22:17] zarzen commented on #61781
Does anyone currently working on the issue?
I noticed some PR has been merged related to this, but not exactly for all-gather operations.

[2022-05-02 22:32] KyleCZH opened #76697 "DISABLED test_checkpoint_fsdp_wrapping_cpu_offload_CPUOffload(offload_params=False)_offload_activations_False (__main__.TestFSDPCheckpoint)"
Platforms: rocm

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_checkpoint_fsdp_wrapping_cpu_offload_CPUOffload(offload_params%3DFalse)_offload_activations_False%2C%20TestFSDPCheckpoint)).

cc @jeffdaily @sunway513 @jithunnair-amd @ROCmSupport @KyleCZH

[2022-05-02 22:47] syed-ahmed commented on #76662
Hi @jansel, we believe the issue you are seeing is a matter of selecting a correct metric
for comparison. Following is a summary of what I collected during triaging this issue on `attention_is_all_you_need_pytorch`.
The first two rows are the behavior you reported when nvfuser is turned on/off.
​
| `correct_result`  | `new_result`   | `(correct_result - new_result).abs().max().item()`|
| ---------

[2022-05-02 22:47] kivle commented on #73487
I have had the exact problem as described here when installing pytorch today. I found a solution in this thread in the pytorch forums: https://discuss.pytorch.org/t/trouble-installing-torch-with-cuda-using-conda-on-wsl2/136911/3.

I installed torch and torchvision with the following command on my system, and it now detects my GPU:

[code]

Note that I download the latest wheels from the pytorch we

[2022-05-02 22:50] kumpera commented on #73935
I implemented it as part of debugging some checkpointing hangs:

https://gist.github.com/kumpera/92a731f1582331006df170e96d821597

I can PR this puppy if interested

[2022-05-02 23:00] wanchaol commented on #73935
sure, feel free to PR it, thanks!

[2022-05-02 23:09] janeyx99 opened #76700 "Migrate viable/strict promotion to GHA"
Since our trunk CI is not the most reliable as of yet, we have the concept of a “viable/strict” branch where we enforce that every commit on the branch must pass all our CI checks. This branch is crucial for our build and release pipelines as we do not want to distribute broken binaries to our users. This branch is also useful for developers who want a guarantee that they will not inherit upstream

[2022-05-02 23:40] thomasahle opened #76702 "torch.matmul copies instead of broadcasting, while F.linear doesn't"
### 🐛 Describe the bug

I came across this PyTorch thread today, while debugging why my benchmarking traces were full of copy_() calls: https://discuss.pytorch.org/t/matmul-broadcasting-makes-copies/19494

Turns out `torch.matmul` doesn't do broadcasting properly.
That is, in code like this:

[code]

the matrix `W` is copied 10 times.
Meanwhile, replacing `matmul(W, U)` by `F.linear(U.mT, W.T).mT`

[2022-05-02 23:42] janeyx99 commented on #73662
Hey @zengk95, can you provide updates to this issue?

[2022-05-02 23:43] janeyx99 commented on #73659
Hey @zengk95, can you provide updates to this issue?

[2022-05-02 23:44] z-a-f opened #76704 "Need to add `expecttest` in the deps list"
### 📚 The doc issue

In the documentation the [common dependencies list](https://github.com/pytorch/pytorch/blob/b074bffa41dd272851da33dda2669acdda4dbc3d/README.md?plain=1#L182) is missing the [expecttest](https://anaconda.org/conda-forge/expecttest). It is shown as required in the [requirements.txt](https://github.com/pytorch/pytorch/blob/b074bffa41dd272851da33dda2669acdda4dbc3d/requirements.txt#

[2022-05-02 23:47] z-a-f commented on #76704
Oh nevermind -- it's in the `CONTRIBUTING.md`. Closing...

[2022-05-02 23:47] #76704 closed

[2022-05-02 23:50] thomasahle opened #76705 "Torch `x += y.bmm(z)` is faster than `x.baddbmm_(y, z)`"
### 🐛 Describe the bug

The `x.badbmm_(y, z)` method feels like something that should be fast, since it doesn't have to create a temporary tensor for `y.bmm(z)` before it adds it to `x`.

However, from profiling it seems like `badbmm_` just makes a lot of calls to `aten::addmm_` and `aten::select`, and turns out to be about twice as slow as the naiive code.

### Versions

Pytorch pre-release versi

[2022-05-03 00:04] janeyx99 opened #76708 "Rerun Red on Trunk"
Our trunk health is red more than we like. The redness is sometimes due to “bad” commits that introduce broken functionality and sometimes due to flaky tests and other times due to infrastructure flakiness. This task will be attempting to stamp out infrastructure flakiness with the power of retries! On the high level, for every red X on the HUD, we would like to retry them just in case they’re fla

[2022-05-03 00:07] Shahrullo commented on #76431
So here is the solution. The problem was related to PyTorch version.
I tried with nightly release and called the models directly without forward method:

[code]
and get:
[code]
As two pytorch versions were giving two different outputs with `optimize_for_mobile`, I tried with older version:
[code]
and get:
[code]
It is strange but the older torch version is working well and producing the same resul

[2022-05-03 00:08] #76431 closed

[2022-05-03 00:27] tillahoffmann opened #76709 "`reshape` for distributions."
### 🚀 The feature, motivation and pitch

The `expand` method for distribution instances is great for prepending batch dimensions and, possibly, changing the number of batch elements. Adding similar functionality that mirrors `reshape` on tensors would be useful for manipulating distributions.

For example, suppose we want to evaluate the probability of a batch of beta random variables on the unit

[2022-05-03 01:43] xwang233 opened #93751 "Torchdynamo with aot_autograd_speedup_strategy has increased memory usage and long overhead on ResNet50 model"
python script (please correct me if I'm using the torchdynamo API wrong)
<details>
<summary> dynamo-test.py </summary>
<p>

[code]
</p>
</details>

bash script
[code]

Tested with V100 16GB on
pytorch/pytorch@f6bbecf8b503eb6562d52b66124a49b45a57f14a ,
pytorch/vision@104073ccd5a5f06b1998e5e1a82fe813dced4cce,
torchdynamo @ 0d59ce9bfae18337a88de32743777e3a75c4ad5c,
pytorch/functorch@ac0fdf179748072cb

[2022-05-03 02:31] ezyang commented on #76571
cc @kurtamohler

[2022-05-03 02:34] awfeequdng opened #76715 "Check all input parameters k and l"
### 🐛 Describe the bug

# Bug
file: TensorImpl.h
function: size_between_dim_
bug: the function only check parameter l, not check parameter k

# reproduce
[code]

### Versions

Collecting environment information...
PyTorch version: N/A
Is debug build: N/A
CUDA used to build PyTorch: N/A
ROCM used to build PyTorch: N/A

OS: macOS 10.15.7 (x86_64)
GCC version: (Homebrew GCC 10.2.0_4) 10.2.0
Clang ver

[2022-05-03 03:08] ezyang commented on #76534
Oof, that's very unfortunate. This is just how Python decided to print reprs of bound methods: by repr'ing the object it's bound to (this is relevant, because if you assign the bound method to a variable and then call it, it's still associated with that object). The "bound method where the method is in C" appears to trigger a different codepath in CPython that doesn't trigger a repr call. Now I gu

[2022-05-03 04:40] #73298 closed

[2022-05-03 04:58] kurtamohler commented on #76571
That's seems very odd. I will look into it

[2022-05-03 06:21] KyleCZH opened #76721 "DISABLED test_checkpoint_fsdp_wrapping_cpu_offload_CPUOffload(offload_params=True)_offload_activations_False (__main__.TestFSDPCheckpoint)"
Platforms: rocm

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_checkpoint_fsdp_wrapping_cpu_offload_CPUOffload(offload_params%3DTrue)_offload_activations_False%2C%20TestFSDPCheckpoint)).

cc @jeffdaily @sunway513 @jithunnair-amd @ROCmSupport @KyleCZH

[2022-05-03 06:25] pmeier commented on #76534
So in other words, adding regular methods on tensor subclasses is the way to go, which unfortunately entails the behavior shown above? If yes, I think we can close this.

To be fair printing the repr of an instance method is a rather niche use case anyway. We just encountered it during development and wanted to make sure we aren't doing anything stupid to begin with.

[2022-05-03 06:39] ngimel commented on #76571
We are using cub::DeviceSelect::Unique for this https://nvlabs.github.io/cub/structcub_1_1_device_select.html#a5e9ea8f2581326391ea63e1808ba514d, which in turn uses `==` to determine whether keys are equivalent, and it probably doesn't work well for `nan` (or preceding sort also could be producing weird results with nans).

[2022-05-03 08:13] algat opened #76726 "Torchscript model Runtime Error after quantization"
### 🐛 Describe the bug

When applying quantization to a CNN - ReLu - Batch Norm model, and converting it to Torchscript format, the inference fails.

Reproductible code:

[code]

The error raised:

[code]

### Versions

CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: macOS 12.0.1 (x86_64)
GCC version: Could not collect
Clang version: 13.0.0 (clang-1300.0.29.3)
CMake version:

[2022-05-03 08:45] mruberry commented on #76702
cc @Lezcano @ngimel

[2022-05-03 08:52] mruberry commented on #76645
Isn't this expected because float_power computes in double but pow computes in bfloat16?

[2022-05-03 08:56] mruberry commented on #76630
It is odd that their behavior is distinct

[2022-05-03 09:02] younik opened #76728 "Error on GenerateEmbeddingSpMDM while building from source"
### 🐛 Describe the bug

I am trying to build PyTorch from source. Last week it worked fine; after fetching the last commits I get the following error:

[code]

### Versions

PyTorch version: N/A
Is debug build: N/A
CUDA used to build PyTorch: N/A
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.2 LTS (x86_64)
GCC version: (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0
Clang version: Could not collect
CMake

[2022-05-03 09:02] mruberry commented on #76728
You probably need to clean and/or update your submodules

[2022-05-03 09:02] #76728 closed

[2022-05-03 09:04] mruberry commented on #76580
cc @samdow

[2022-05-03 09:04] Lezcano commented on #76612
I wonder whether this is still present on https://github.com/pytorch/pytorch/pull/72935. I'll test it at some point.

[2022-05-03 09:12] Lezcano commented on #33152
@Ajk4 Alas, I don't have the time to work on this. I would suggest that you open a new issue describing the problem and linking the previous `log1p` PR and the discussion there.
In particular, if you wanted to have a stab at it, we'd be more than open to accept a contribution on this area.

[2022-05-03 09:14] upupyy commented on #76645
I think so. Thank you for your explanation! Let me close this issue.

[2022-05-03 09:14] #76645 closed

[2022-05-03 09:34] mruberry commented on #76236
Thank you for reporting this issue, @jcwchen -- you're correct the current behavior in PyTorch is incorrect. NumPy shows the correct behavior:

[code]

We should probably fix this

[2022-05-03 11:39] #76534 closed

[2022-05-03 11:47] ezyang commented on #76236
Idk the current behavior seems fine. Input has zero dimensions so the output has zero size. Numpy's behavior seems inconsistent with how scalars should be handled.

[2022-05-03 11:50] #76715 closed

[2022-05-03 12:02] artem-gordeev commented on #27693
Hello everyone struggling with python, I had similar problem, may be this experience will help someone
imported sklearn, but program logs said:

File "C:\Users\А\AppData\Roaming\Python\Python38\site-packages\scipy\_distributor_init.py", line 61, in <module>
    WinDLL(os.path.abspath(filename))
  File "C:\Users\А\AppData\Local\Programs\Python\Python38\lib\ctypes\__init__.py", line 369, in __init__

[2022-05-03 12:06] fritzo commented on #76709
Sounds like a great idea to me. Note this can't be done in a completely generic way, and so will require implementations in most or all distribution subclasses.

[2022-05-03 13:01] randolf-scholz opened #76730 "[JIT] magic methods do not work after reloading model"
### 🐛 Describe the bug

[code]

It would be useful if this worked, since certain models have e.g. (re-) initialization schemes that depend on the depth of the model.

### Versions

<details><summary>Environment</summary>

[code]

</details>

[2022-05-03 13:21] RossStream commented on #76101
@ptrblck @ngimel

Any update on this issue?
I searched for many solutions but still could not solve this and I am stuck here for over a week ...

Thx.

[2022-05-03 13:46] vadimkantorov commented on #76441
I wonder if HDF5 allows that...

[2022-05-03 13:47] tanmoyio opened #76732 "Adding Polyloss to `torch`"
### 🚀 The feature, motivation and pitch

# POLYLOSS: A POLYNOMIAL EXPANSION PERSPEC- TIVE OF CLASSIFICATION LOSS FUNCTIONS
(Published as a conference paper at ICLR 2022)

This loss function implementation won't be difficult as we can use builtin crossentropy loss or focal loss to implement it. This loss function has overperformed other existing loss functions in some benchmark experiments.

Here i

[2022-05-03 13:57] ezyang opened #76733 "test_python_reference_meta_functions takes too long to run"
### 🐛 Describe the bug

Currently, these tests take nearly two minutes to run on CPU:

[code]

This is far too long for 483 tests; we're spending nearly 0.2s a test. It would be good to understand why these tests take so long.

### Versions

master

[2022-05-03 14:08] ezyang opened #76734 "__torch_function__ callers should always pass kwargs"
### 🐛 Describe the bug

It is such a pain to always have to write:

[code]

we should just unconditionally pass in the kwargs argument with a fresh empty dictionary

### Versions

master

[2022-05-03 14:34] jamaliki opened #76737 "had_cuda_in_fwd is not defined in _checkpoint_without_reentrant if preserve_rng_state is False"
### 🐛 Describe the bug

If you run torch.utils.checkpoint.checkpoint with both use_reentrant and preserve_rng_state set to False, you get the following error: `UnboundLocalError: local variable 'had_cuda_in_fwd' referenced before assignment`

Looking at the code, it is clear that the problem is in _checkpoint_without_reentrant.

I will add a minimal example:

[code]

It does _not_ fail without cud

[2022-05-03 14:52] #76497 closed

[2022-05-03 15:25] #70667 closed

[2022-05-03 15:26] KyleCZH opened #76741 "DISABLED test_fsdp_memory_ckpt_no_ckpt (__main__.TestFSDPMemory)"
Platforms: rocm

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_fsdp_memory_ckpt_no_ckpt%2C%20TestFSDPMemory)).

cc @jeffdaily @sunway513 @jithunnair-amd @ROCmSupport @KyleCZH

[2022-05-03 15:27] jcwchen commented on #76236
Here is the result by NumPy:
[code]
I think the produced shape by NumPy is very likely incorrect, since they mentioned this behavior for scalar input will be deprecated in the future ([reference](https://numpy.org/doc/stable/reference/generated/numpy.nonzero.html)):
[code]
But their result for `np.nonzero(1)`, which is `[0]`, makes more sense to me.

To clarify, I suppose the inferred shape by `to

[2022-05-03 15:43] KyleCZH opened #76742 "DISABLED test_fsdp_memory_ckpt_ckpt (__main__.TestFSDPMemory)"
Platforms: rocm

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_fsdp_memory_ckpt_ckpt%2C%20TestFSDPMemory)).

cc @jeffdaily @sunway513 @jithunnair-amd @ROCmSupport @KyleCZH

[2022-05-03 15:58] jbschlosser commented on #76636
What's the status on refactoring `weight_norm` to use parametrization? cc @Lezcano @albanD I believe that would fix this issue since a proper inverse would be defined, is that correct?

[2022-05-03 16:06] jbschlosser commented on #76732
Hey @tanmoyio, thanks for the request! Note that we have a fairly strict policy governing acceptance of new modules within PyTorch core. Details can be found [here](https://github.com/pytorch/pytorch/wiki/Developer-FAQ#i-have-a-new-function-or-feature-id-like-to-add-to-pytorch-should-it-be-in-pytorch-core-or-a-library-like-torchvision), but the TL;DR is that we recommend implementing new modules i

[2022-05-03 16:07] cpuhrsch commented on #76644
cc @IvanYashchuk

[2022-05-03 16:12] shashwat1002 opened #76743 "Supporting torch.tensor.apply_ over GPU"
### 🚀 The feature, motivation and pitch

I came across a problem in my project where I needed that `apply_` function. It is interesting to see that it isn't supported over GPU.

I was wondering if it is possible to extend it to GPU, perhaps for pure lambdas to begin with.

If there are no known issues directly stopping this from happening, I would like to work on this.

I feel that extending it to

[2022-05-03 16:18] IvanYashchuk commented on #76644
Hey @upupyy, thank you for submitting this  bug report!
Please try using `torch.sparse.mm` instead of `torch.smm`.

`torch.smm` (and related `torch.sspaddmm`) are planned to be deprecated and removed eventually (see https://github.com/pytorch/pytorch/issues/46164).

[2022-05-03 16:24] jbschlosser commented on #76613
Hey @tom-huntington, thanks for the request! If you're using PyTorch's [Transformer](https://pytorch.org/docs/stable/generated/torch.nn.Transformer.html), the default expected format is `(L, N, C)` with `batch_first=False`, and you should be able to normalize over N and C by passing a 2D `normalized_shape` to [`nn.LayerNorm`](https://pytorch.org/docs/stable/generated/torch.nn.LayerNorm.html).

Hop

[2022-05-03 16:38] ngimel commented on #76702
Caused by https://github.com/pytorch/pytorch/blob/92d10decc448871cfbed258ad0ad670a9bd37047/aten/src/ATen/native/LinearAlgebra.cpp#L1704, we should instead take bmm path in this case.

[2022-05-03 16:40] kumpera opened #76745 "[checkpoint] Handle overlapping storage during save and load"
### 🚀 The feature, motivation and pitch

When loading a checkpoint, we should check whether any of the tensors have overlapping storage and, if so, we're loading data from different storage_keys. We should eliminate the superfluous load is such cases.

A similar check should be performed when saving a checkpoint and use that to reduce the amount of IO done.

### Alternatives

_No response_

### Ad

[2022-05-03 16:46] kumpera opened #76747 "[checkpoint] Stable file format for checkpoints"
### 🚀 The feature, motivation and pitch

We need to provide a stable file format at some level for checkpoints so users can, at the very least, query which PyTorch version is necessary to correctly load it.

### Alternatives

_No response_

### Additional context

_No response_

[2022-05-03 16:50] ngimel commented on #76737
cc @alband, @mcarilli, looks like recent changes to checkpointing broke recording amp state.

[2022-05-03 16:54] ngimel commented on #76743
`apply_` is an extremely slow debug-only function that should never be used on cuda tensors (if you need to debug something copy them to the cpu).
I have doubts we need it even for cpu tensors, perhaps time has come to remove it, cc @mruberry.
If you need an operation on the GPU tensors that is currently not supported by pytorch, you can either try using @torch.jit.script on your function and hope

[2022-05-03 16:58] suo opened #76750 "Bug in dataloader iterator found by mypy"
While upgrading mypy, found a call to `_BaseDataLoaderIter.reset()` that appears to trivially fail ([link](https://github.com/pytorch/pytorch/blob/543eaac415bfba59e648a3da8be5c4f964f9bc6e/torch/utils/data/dataloader.py#L557)), as it does not provide a required positional argument.

[2022-05-03 17:11] ezyang opened #76751 "Default repr of __get__ methods in __torch_function__ is bad"
### 🐛 Describe the bug

I got a function in `__torch_function__` that I couldn't handle. I wanted to print it out to see what was up:

[code]

Completely useless. In this case, I needed to call `repr(func.__self__)` to get useful information about getset_descriptor.

This is actually sort of the inverse problem as https://github.com/pytorch/pytorch/issues/76534 where for a more useful bound method

[2022-05-03 17:14] #66402 closed

[2022-05-03 17:18] daniellepintz opened #76752 "Misleading statement in optim.Optimizer docs"
### 📚 The doc issue

In the `optim.Optimizer` docs it says:
[code]

https://pytorch.org/docs/stable/optim.html#constructing-it

@albanD mentioned this is no longer the case and we can remove this statement from the doc

### Suggest a potential alternative/fix

Remove this statement from the docs

cc @brianjo @mruberry @vincentqb @jbschlosser @albanD

[2022-05-03 17:22] jonahclarsen commented on #63558
Thanks for sharing, that's great. I was getting a `dyld[31191]: symbol not found in flat namespace '_PyBaseObject_Type'` error but that was resolved by removing/not linking to libtorch_python.dylib.

[2022-05-03 17:28] thomasahle commented on #76702
Interesting. Does this mean that if `B` is 3d and `M` is 2d, then `M @ B` is slower than `B @ M`? It seems that the transpose + contiguous only happens when dim_tensor1 == 2 and dim_tensor2 >= 3, but not the other way arround?

[2022-05-03 17:59] jonahclarsen opened #76755 "Quantization in Libtorch"
### 🚀 The feature, motivation and pitch

I am working on a Libtorch program that is heavily performance constrained, and I was hoping to run inference using quantization to speed up the model and reduce memory usage. I would like for Libtorch to support static and dynamic quantization just like Pytorch, both for creating quantized models and using quantized torchscript models.

### Alternatives

I

[2022-05-03 18:13] thomasahle commented on #76702
That makes sense. I guess I should try to structure my code so it always does broadcasted multiplication from the right, rather than the left.

Here is a simple benchmark showing a 50% speed difference. If the matrices are not square, I can make it much larger.
[code]
Curiously this doesn't happen with numpy:
[code]
Though numpy is just always slower.

Do you think this will eventually be fast "us

[2022-05-03 18:17] Lezcano commented on #76702
We're fixing this soon :)

[2022-05-03 18:19] Lezcano commented on #76702
For context, `matmul` should be as good if not a better option than calling any of `vdot`, `mv`, `mm`, `bmm` for most "reasonable" outputs, so the rule should be that the user should always just use `@` (or `matmul`) unless they have very good reasons not to do so.

[2022-05-03 18:22] shashwat1002 commented on #76743
Hi @ngimel

is it slow just because it's supported on CPU's?

I think there is a case to be made for apply_ to be available at least in some limited capacity.

[2022-05-03 18:22] BowenBao commented on #76595
hi @danilopau , this issue was captured by https://github.com/pytorch/pytorch/issues/75761, which was resolved via https://github.com/pytorch/pytorch/pull/75921. Please give a try with pytorch-nightly.

[2022-05-03 18:25] BowenBao commented on #76274
@davidyang180 please give a try with latest pytorch-nightly. If the issue still persists, please share a runnable repro example for us to take a look. Thanks.

[2022-05-03 18:27] mich45208 opened #76760 "hanging process with init_process_group(backend='mpi') cannot be killed"
## Issue description

Running mpirun with torch.distributed hangs. When parts of ranks raised error intentionally and the others are doing allgather, those who raised error cannot be killed and were waiting for all other processes to exit. On the other hand, the process that is doing allgather seems to be waiting for other processes too. This leads to all process hanging eventually.

## Code examp

[2022-05-03 18:27] Lezcano commented on #76636
I don't think anyone is working on it, but it shouldn't be too difficult to implement. I've just never found the time to do it :(

[2022-05-03 18:32] cpuhrsch commented on #46164
@pearu - should we use the next release to attach deprecation warnings using the playbook in https://github.com/pytorch/pytorch/wiki/PyTorch's-Python-Frontend-Backward-and-Forward-Compatibility-Policy ?

[2022-05-03 18:39] thomasahle commented on #76702
Right, I meant maybe there is a fundamental reason why multiplying on the left can't be as fast as multiplying on the right. (Given what @ngimel said about "folding the first dims of 3D matrix, call mm, and produce contiguous".) So even if this becomes a less obvious problem, it might still be a think to keep in mind when designing algorithms?

[2022-05-03 18:43] rohan-varma commented on #76607
As @zhaojuanmao mentioned, we're building out a shard-aware gradient scaler similar to `torch.cuda.amp.GradScaler` to help with gradient scaling when training with AMP.

In addition, we have added mixed precision training with FSDP with https://github.com/pytorch/pytorch/pull/75024 that can also be used for mixed precision with FSDP. For fp16 training, both will likely require sharded_grad_scaler,

[2022-05-03 18:55] robieta opened #76762 "[Profiler] Store correlation_id implicitly"
### 🚀 The feature, motivation and pitch

The PyTorch profiler uses unique integers (correlation IDs) to correlate host kernel calls with remote (GPU) functions. Generating these IDs requires and [atomic add](https://github.com/pytorch/pytorch/blob/aca55948187ed01d18342d20aaaee45a54b09547/torch/csrc/autograd/profiler_kineto.cpp#L52) and takes up [8 bytes](https://github.com/pytorch/pytorch/blob/aca

[2022-05-03 19:13] Lezcano commented on #76702
Multiplying on either side should have a comparable performance. Perhaps a small % of variance, but certainly not a 2x.
https://github.com/pytorch/pytorch/pull/75197 is the PR to follow if you're interested in these points.

[2022-05-03 19:25] danilopau commented on #76595
In my notebook
!pip install pytorch-nightly
does not work
ERROR: Could not find a version that satisfies the requirement pytorch-nightly (from versions: none)
ERROR: No matching distribution found for pytorch-nightly

no way from !pip install --pre torch torchvision torchaudio torch-nightly -f https://download.pytorch.org/whl/nightly/cu111/torch_nightly.html

[2022-05-03 19:29] ezyang commented on #76236
0-dim scalar handling is weird, you have to get used to it. torch.nonzero's docs get it exactly right:

The scalar input has 0 dims. There is one nonzero element. So you get 1x0. To do differently would require introducing a special case to the size calculation here. Closing this for now.

[2022-05-03 19:29] #76236 closed

[2022-05-03 19:35] cpuhrsch commented on #76512
cc @jamesr66a @Chillee

[2022-05-03 19:35] danilopau commented on #76595
Can you please edit this notebook to make it super clear ?
[quantisation_pytorch_2.txt](https://github.com/pytorch/pytorch/files/8613749/quantisation_pytorch_2.txt)
just rename it as .ipynb

[2022-05-03 19:43] #75927 closed

[2022-05-03 20:01] wconstab commented on #76686
also cc @tugsbayasgalan @suo for awareness

[2022-05-03 20:06] IvanYashchuk commented on #76705
Thank you, Thomas, for reporting the problem! Could you please share what's the shape and strides (`tensor.stride()`) of `x`, `y`, `z` tensors? I assume the problem is present on a CUDA device for you? Sharing the CUDA Toolkit version would be helpful as well (accessible via `torch.version.cuda`).

[2022-05-03 20:29] rosrad commented on #76607
Yes, currently we are using the gradient scaling with DDP+amp.
By the way, is that already supported of FSDP with bfloat16?
If this is the case, can you share some examples how to use bfloat16 with FSDP or DDP

[2022-05-03 20:34] thomasahle commented on #76702
So if the plan is to switch to a "bmm path" when multiplying on the right, would that not require copying? Is there anywhere I can read about how that would work?

[2022-05-03 20:47] ssnl opened #76772 "[typing] distribution.lazy_property is not typed"
### 🐛 Describe the bug

`lazy_property` is not typed, but widely used in distribution attributes, e.g., `bernoulli_distn.probs`:
https://github.com/pytorch/pytorch/blob/8473173c36a171c9ad896804ab36049f80a99073/torch/distributions/utils.py#L95

This makes writing typed code w/ distributions ugly (e.g., having to use `cast(..)`).

Please consider making it typed, e.g.,
[code]

### Versions

all vers

[2022-05-03 20:56] pearu commented on #74916
Resolved via https://github.com/pytorch/pytorch/pull/75821

[2022-05-03 20:56] #74916 closed

[2022-05-03 21:10] 0x00b1 commented on #76709
Great idea IMO!

[2022-05-03 21:24] ngimel commented on #76705
I would assume it's cpu. CUDA never calls addmm for baddbmm, cpu does https://github.com/pytorch/pytorch/blob/fb0f285638338da93960d2b654a59c9639671fc0/aten/src/ATen/native/LinearAlgebra.cpp#L1510-L1545

[2022-05-03 21:29] JackCaoG commented on #76440
This proposal sgtm. PyTorch/XLA can implement above methods when they are averrable on the PyTorch core.

[2022-05-03 22:27] janeyx99 commented on #75169
Resolved the permissions issue

[2022-05-03 22:27] #75169 closed

[2022-05-03 22:40] #75015 closed

[2022-05-03 22:44] gao462 opened #76774 "Support Positional-only Arguments in JIT"
### 🚀 The feature, motivation and pitch

From Python 3.8, we have positional-only arguments for function definition which gives a better control of code behaviors.
However, it seems that PyTorch (1.11) JIT (`torch.jit.script`) does not support it.
For instance, if we replace the example code
[code]
to positional-only definition
[code]
It will raise error:
[code]
Can we support this in future updat

[2022-05-03 23:00] jcwchen commented on #76236
@ezyang Thanks for the explanation. I did check the spec, but it only mentions shape (which is correct) and doesn't specify it will be an empty tensor anyway for shape (0, 0) and (1, 0). I am fine if it is a global case in PyTorch, although it looks weird.

[2022-05-03 23:37] randolf-scholz opened #76775 "[JIT] Infinite RecursionError with self-referential models (also affects `__repr__`)!!"
### 🐛 Describe the bug

So, this may be a bit unorthodox, but I am working with invertible models, i.e. models for (left/right) invertible functions. These are `nn.Module`s that not only have a `.forward`, but also a `.inverse`. A popular example would be the [invertible Residual Network](https://proceedings.mlr.press/v97/behrmann19a.html).

For such models, it would be nice to have an `.invert()`

[2022-05-03 23:38] fritzo commented on #76709
Notes for whoever takes this on:
- Some distributions store one of two tensors in `self.__dict__`, e.g. either `probs` or `logits` for Categorical and Bernoulli
- Some distributions cache intermediate results, e.g. MultivariateNormal and LowRankMultivariateNormal, and we'd likely want to reshape those as well. Some of these are marked `@lazy_property`
- Some distributions contain other distributio

[2022-05-04 00:01] randolf-scholz commented on #76775
I had another bug, trying to implement via `@property`:

[code]
<details><summary>Example</summary>

[code]

</details>

[2022-05-04 00:28] upupyy opened #76778 "`torch.addmv` backward fails"
### 🐛 Describe the bug

`torch.addmv` backward fails when `input` is `float64`, `mat` and `vec` are `complex128`

[code]

However, when `input` is `complex128`, `mat` and `vec` are `float64`, it will succeed to backward

### Versions

pytorch: 1.11.0

[2022-05-04 00:30] tillahoffmann commented on #76709
Given the similarities with `expand` and the common signature between `expand` and `reshape` on the underlying tensors would it be possible to combine the two? Something like this.

[code]

[2022-05-04 00:31] thomasahle opened #76779 "Strange warning from `matmul(..., out=...)`"
### 🐛 Describe the bug

The torch.matmul `out=` parameter seems to reshape its parameter down to two dimensions, which leads to a strange UserWarning:
[code]
It seems like `temp` tensor should clearly have the right shape [2, 4, 5] and not [8, 5] like the warning says.

### Versions

Collecting environment information...
PyTorch version: 1.11.0
Is debug build: False
CUDA used to build PyTorch: Non

[2022-05-04 00:47] upupyy opened #76780 "`gradcheck` should support the comparison of NaN"
### 🐛 Describe the bug

`gradcheck` should support the comparison of NaN, like adding an argument that whether `NaN == NaN` in the check.

[code]

### Versions

pytorch: 1.11.0

[2022-05-04 00:57] pytorch-bot[bot] opened #76781 "DISABLED test_peak_memory (__main__.TestImportTime)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](http://torch-ci.com/failure/test_peak_memory%2C%20TestImportTime) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/6281255379).

Over the past 3 hours, it has been determined flaky in 2 workflow(s) with 2 red and 6 green.

cc @seemethere @malfet @pytorch/pytorch-dev-infra

[2022-05-04 01:44] upupyy opened #76782 "`rrelu` will backward fail if `training = True` and `upper=True`"
### 🐛 Describe the bug

`rrelu` will backward fail if `training = True` and `upper=True`

[code]

By contrast, if `training` is false or `upper` is an integer, it will succeed to backward

### Versions

pytorch: 1.11.0

cc @ezyang @albanD @zou3519 @gqchen @pearu @nikitaved @soulitzer @Lezcano @Varal7 @mruberry @jbschlosser @walterddr @kshitij12345

[2022-05-04 01:58] ezyang commented on #76236
The tensor is empty for those shapes because the numel (product of sizes) is zero ;)

[2022-05-04 02:02] upupyy opened #76783 "`gradcheck` fails for `torch.trace`"
### 🐛 Describe the bug

`gradcheck` fails for `torch.trace` when `dim1 > dim0 + 1`

[code]

I think the `numerical:tensor` is right since `dim0 = 3` and there are 3 elements of the diagonal. Plus, when `dim1 = 4`, it will succeed.

### Versions

pytorch: 1.11.0

[2022-05-04 02:31] upupyy opened #76785 "`addr, baddmm, dist, l1_loss` will backward fail when input tensors have different dtypes"
### 🐛 Describe the bug

`addr, baddmm, dist, l1_loss` will backward fail when input tensors have different dtypes

[code]

[code]

[code]

[code]

All of them succeed to forward but fail to backward. However, some other APIs will backward successfully even if input tensors have different dtypes, for example

[code]

### Versions

pytorch: 1.11.0

[2022-05-04 02:35] upupyy opened #76786 "`cumprod, prod` will backward fail if `dtype` argument is different than the dtype of input tensor"
### 🐛 Describe the bug

`cumprod, prod` will backward fail if `dtype` argument is different than the dtype of input tensor

[code]

[code]

### Versions

pytorch: 1.11.0

[2022-05-04 02:37] #70486 closed

[2022-05-04 03:44] hameerabbasi commented on #76751
This is impossible to do ok our end, it's a CPython type. Perhaps we can raise an issue about it upstream but I imagine it's fairly esoteric.

[2022-05-04 03:48] hameerabbasi commented on #76751
(Unless of course we define what properties are from scratch)

[2022-05-04 05:09] arodriguezca commented on #17484
I also run into this issue and it was tricky to debug. @soumith I would recommend putting a small note here: https://pytorch.org/docs/stable/generated/torch.nn.parameter.Parameter.html

[2022-05-04 05:46] davidberard98 opened #76791 "torchvision failures with NVFuser"
### 🐛 Describe the bug

There are two errors thrown in torchvision tests when nvfuser is enabled:

### first error

Error:
[code]

Repro: from the torchvision directory, run `python -m pytest test/test_models.py -k cuda-fasterrcnn_mobilenet_v3_large_fpn`.

There are also a number of other `test_detection_model` tests that are failing, which can be tested with `python -m pytest test/test_models.py

[2022-05-04 05:51] rosrad commented on #53439
the NCCL has supported the bfloat16 in the version of 2.10.3, please check this https://github.com/NVIDIA/nccl/issues/476.
do we have some plan to support bfloat16 using NCCL backend?

[2022-05-04 06:35] ngimel opened #76795 "torch.clamp doesn't propagate nan values from boundaries"
`torch.clamp_min` and `torch.maximum` are supposed to produce the same results, yet when boundary tensor contains `nan`, they are propagated for `maximum` and not propagated for `clamp/clamp_min`:
[code]
This happens both on cuda and cpu, both vectorized and non-vectorized kernels.
For primTorch decompositions, one of these functions will be expressed through the other, so behavior should match. J

[2022-05-04 07:22] KyleCZH opened #76796 "DISABLED test_quick_nn_functional_binary_cross_entropy_cuda_float16 (__main__.TestDecompCUDA)"
Platforms: rocm

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_quick_nn_functional_binary_cross_entropy_cuda_float16%2C%20TestDecompCUDA)).

[2022-05-04 07:22] KyleCZH opened #76797 "DISABLED test_comprehensive_nn_functional_binary_cross_entropy_cuda_float16 (__main__.TestDecompCUDA)"
Platforms: rocm

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_comprehensive_nn_functional_binary_cross_entropy_cuda_float16%2C%20TestDecompCUDA)).

[2022-05-04 07:23] KyleCZH commented on #76797
this test failed for rocm after this PR merged: https://github.com/pytorch/pytorch/pull/76670

[2022-05-04 07:23] KyleCZH commented on #76796
this test failed for rocm after this PR merged: https://github.com/pytorch/pytorch/pull/76670

[2022-05-04 07:24] #76742 closed

[2022-05-04 07:24] #76741 closed

[2022-05-04 07:25] #76721 closed

[2022-05-04 07:25] #76697 closed

[2022-05-04 07:25] #76696 closed

[2022-05-04 07:25] #76680 closed

[2022-05-04 07:56] Lezcano commented on #76702
Please, see the linked PR and discussion therein

[2022-05-04 08:22] upupyy opened #76798 "`gradcheck` for `torch.solve` may trigger INTERNAL ASSERT FAILED"
### 🐛 Describe the bug

`gradcheck` for `torch.solve` may trigger INTERNAL ASSERT FAILED randomly.

[code]

### Versions

pytorch: 1.11.0

[2022-05-04 08:28] CHDev93 opened #76799 "torch.jit.script unable to fuse elementwise operations"
### 🐛 Describe the bug

The gelu activation should just be a sequence of 5 elementwise operations. I've tried running an example fusing these operations with torch script shown on slide 8 from this [slide deck](https://tigress-web.princeton.edu/~jdh4/PyTorchPerformanceTuningGuide_GTC2021.pdf) from nvidia gtc but am not observing any fusion.

I used nvidia nsight to to profile the kernels and in th

[2022-05-04 09:05] MaratZakirov opened #76800 "Non symmetry of torch.median()"
### 🐛 Describe the bug

Following code shows non symmetry of torch.median in comparison, numpy shows perfect symmetry of its median function
[code]
Output:
[code]
This unexpected behavior should be at least documented, but actual documentation https://pytorch.org/docs/stable/generated/torch.median.html do not content any word about non-symmetry.

### Versions

numpy version: 1.18.3
torch version:

[2022-05-04 09:34] mruberry opened #76801 "Scalar x scalar type promotion is incorrect"
[code]

We should be consistently returning the default floating point type or double for both these cases.

cc @nairbv @mruberry @ezyang @ngimel

[2022-05-04 09:44] mruberry opened #76803 "Complex x float type promotion is incorrect"
Typical complex x float type promotion between tensors that are rank 1+ results in a complex result with the highest "value type" among the inputs. For example:

[code]

In the above the complex comes from the cfloat tensor, and the double from the double tensor. And that's fine.

When working with rank 0 x rank 1+ tensors, however, the behavior is incorrect:

[code]

In the first case the datatyp

[2022-05-04 09:53] mruberry opened #76804 "torch.add bool x bool allows integer alpha, inconsistent with other dtype type checking"
torch.add has an alpha kwarg which must be a scalar. Typically this kwarg must have a Python type that is weakly lower than the corresponding Python type of operation's computation dtype. For example, if adding two integer tensors alpha cannot be a float:

[code]

However for some reason we support integer alpha when adding bool tensors:

[code]

The integer alpha works fine, as does specifying a

[2022-05-04 09:57] mruberry opened #76805 "torch.ne and torch.eq float x complex scalar type promotion is broken"
Two tensor inputs work as expected:

[code]

But when given a complex scalar these operations throw a conversion error:

[code]

cc @nairbv @mruberry @ezyang @ngimel

[2022-05-04 10:03] mruberry opened #76806 "torch.Tensor.__rdiv__ long x scalar float type promotion is incorrect"
[code]

The result should be have dtype torch.double:

[code]

If we pursue this we should consider it in the context of https://github.com/pytorch/pytorch/issues/74616. I think type promotion works as expected in scenarios where the dunder is expected to be used:

[code]

[2022-05-04 10:31] Shahrullo opened #76807 "There is a bug with latest stable torch version and the following Nightly versions related to `optimize_for_mobile`"
### 🐛 Describe the bug

There is a bug in `optimize_for_mobile` with latest torch version and the following nightly versions. Please look at this [discussion](https://discuss.pytorch.org/t/torch-utils-mobile-optimizer-optimize-for-mobile-is-resulting-different-output-than-torch-model-and-jit-model/150183) for full details.

**The short problem description:** the model is giving different result af

[2022-05-04 11:08] nsns12 commented on #70390
pip install setuptools==59.6  ok！！！！

[2022-05-04 11:08] mruberry commented on #76733
Well, it is comparing all the Python references to their referenced operators, and it is comparing them on the reference inputs, which is an expanded set of tensors, and the references are implemented inefficiency w.r.t. eager mode... I don't know if these tests are taking that long considering all that?

[2022-05-04 12:37] cprakashagr commented on #17023
I upgraded my pip: `pip3 install --upgrade pip` and the py torch installation was very fast post that.

[2022-05-04 12:38] Minhyeok01 commented on #52142
I also encountered this problem on my machine with AMD threadripper 3990x + 4 x A6000 GPUs. I disabled iommu and it works well.

[2022-05-04 13:11] jisaacso commented on #76638
cc @jbschlosser @albanD jfyi

[2022-05-04 13:15] fritzo commented on #76709
@tillahoffmann interesting, here are some things to think about:
1. What would be the implication for custom distributions in user code?  I believe there are hundreds - thousands of instances of user-defined distributions that live outside of torch.distributions, so we need to think about backwards compatibility with those.
2. As mentioned above, it would be great to find a better design for `.res

[2022-05-04 13:17] pyscorcher opened #76811 "torch.cuda.memory_allocated(device) ignores argument"
### 🐛 Describe the bug

When polling `torch.cuda.memory_allocated` (as well as it's siblings `[max_]memory_reserved`) it seems that function ignores the argument `device` and only reports whatever device is set by `torch.cuda.set_device`. The documentation however reports that it should actually report the numbers from the argument if an argument is set:

[code]

### Versions

[code]

[2022-05-04 13:41] samdow commented on #76580
Thanks for the issue @gao462!

As a workaround for right now if your use case is able to, dropout respects `torch.manual_seed`

More generally, this is something that has come up before (#25104), but I'm not seeing a full response on that. From talking with @jbschlosser a couple months ago, this seems like something we would want, it's just hasn't gotten the bandwidth dedicated to it yet (but I th

[2022-05-04 13:52] jbschlosser commented on #76752
Thanks for the report! We'd accept a PR removing the statement from the docs.

[2022-05-04 14:14] jbschlosser commented on #76800
This is because `torch.median()` does not take the mean of the two medians when there is an even number of elements, as indicated in the [note in the docs](https://pytorch.org/docs/stable/generated/torch.median.html). The note there suggests instead using `torch.quantile()` with `q=0.5` for that behavior.

[2022-05-04 14:29] ezyang opened #76813 "TestCase.assertEqual does not respect longMessage"
### 🐛 Describe the bug

In stock unittest, setting longMessage = True on a class means that explicitly specifying a msg on an assertEqual call should also still preserve the automatically generated message. This does not happen with PyTorch's assertEqual

[code]

### Versions

master

[2022-05-04 14:51] albanD commented on #76638
I feel like 3 and 5 are pretty close where instead of having a return type that is a 2-tuple (that the user has to interpret), we provide a nice class that is easier to handle.
In particular, I think we can make it so that we have subclasses like `CooIndices`, `CsrIndices`, etc that this returns. And we have common method on these classes that allow you to access particular information in a layout

[2022-05-04 14:59] ezyang commented on #74400
So I attempted to just have IValue to Python conversion turn a wrapped number tensor back into a number, as follows:

[code]

But this doesn't work, because when we go back to the torch.ops operator, you end up with this:

[code]

in other words, it's expecting a tensor... and we don't have one anymore, we have a float. Oops.

[2022-05-04 15:06] ezyang commented on #74400
I think my plan for now is to teach torch.ops parser how to wrap scalars. But I do agree that it would be better to have torch.ops create a full fledged ArgParser.

[2022-05-04 15:09] #76796 closed

[2022-05-04 15:09] jeffdaily commented on #76797
Closing issue since PR that caused the failure was reverted.

[2022-05-04 15:09] #76797 closed

[2022-05-04 15:22] albanD commented on #74400
This might be BC-breaking when calling the overload packet because some of the signature that used to raise errors (and thus be skipped) will now work?
That does sound like an ok thing though.

[2022-05-04 16:09] davidberard98 commented on #76791
cc @jjsjann123

[2022-05-04 16:22] MaratZakirov commented on #76800
[code]
Agree

[2022-05-04 16:22] #76800 closed

[2022-05-04 17:14] vitrioil commented on #76659
Not sure how many % of docstring I was able to capture, but overall length of docstring (rough estimates):

`Without -OO: 8,848,771`
`With -OO: 2,907,888`

Same for numpy:
`Without -OO: 9,691,105`
`With -OO: 3,545,369`

Source: https://gist.github.com/vitrioil/2831ab71beccd4e5bf6a85754828a6a0

[2022-05-04 17:23] stas00 commented on #76287
It's clearly not a fluke - we had several more instances at BigScience training where the main processes exited cleanly with `sys.exit(0)` and elastic failed to kill the slurm job.

So this is slightly different from OP since this one didn't crash, but the outcome is the same.

This is a huge problem, since SLURM doesn't allow users who didn't start the job to kill it, so if a process gets stuck a