[2018-06-14 21:40] #7559 closed

[2018-06-14 21:42] jamesr66a opened #8528 "[JIT] Generalize variadic output logic for min, max and split"
Operator-level tests failed:

[code]

Affected tests:
- `test_split`
- `test_max_scalar_elementwise_broadcast_rhs`
- `test_min_scalar_elementwise_broadcast_rhs`
- `test_split_dim`
- `test_split_dim_neg0`

[2018-06-14 21:42] SsnL opened #8529 "[doc] opening nn page is very slow"
For example, see https://pytorch.org/docs/stable/nn.html#torch.nn.functional.normalize

Two reasons:

1. It renders a **lot** of mathjax.
2. We put both modules and functionals on the same html.

Can we speed it up possibly with some refactoring?

[2018-06-14 21:42] jamesr66a opened #8530 "[JIT][meta] Hybrid front-end operator-level robustness testing master task"
Tests: https://github.com/pytorch/pytorch/pull/8145

Results: https://gist.github.com/zdevito/6d62435b68edf027a98ed6c9d96ef3df

Unsupported ops:
Master https://github.com/pytorch/pytorch/issues/8527

(Note these issues are closed because they were taking up a lot of space on the issues page)
- [x] 10 tests [8507 Unsupported op descriptor index_fill](https://github.com/pytorch/pytorch/issues/8507)

[2018-06-14 21:54] simasima121 commented on #8473
I'm getting the same issue when trying to export

[2018-06-14 22:04] gau27 opened #8533 "[Caffe2] Runtime error while using a pre-trained style_transfer model"
Hello, I'm using Caffe2 on Conda / Mac OSX 10.13.1 and I was trying to replicate the model zoo tutorial on a style transfer model. I pretty much copied the same thing to see if it would work while replacing squeezenet with style_transfer/crayon.

[code]

While instantiating the net the following warnings appeared

[code]

And finally while trying to run the forward pass the script threw an error w

[2018-06-14 22:06] phalexo commented on #8483
I've been looking at the changes and unfortunately I am not seeing how everything is connected.

The first error occurs in this line:
  success = BilinearSamplerBHWD_updateOutput_cuda_kernel(output->size[1],
output is the "undefined" pointer. It does not appear to be a stream.

#include <THC/THC.h>
#include <stdbool.h>
#include <stdio.h>
#include "roi_crop_cuda_kernel.h"

#define real float

// th

[2018-06-14 22:21] TastyMuffins commented on #4518
Hi everybody, in my case it was to install the precompiled numpy package from here: https://www.lfd.uci.edu/~gohlke/pythonlibs/#numpy

My Setup:
Windows 10
python 3.6.5/pip3 - NOT CONDA
No virtual machine

My Steps to a locally installed working copy of PyTorch:
Download and Installed python 3.6.5 from https://www.python.org/downloads/release/python-365/ (I chose 64bit)
Visited https://pytorch.org

[2018-06-14 22:59] phalexo commented on #8483
I made the following mods to one file and similar mods to two others. I'd appreciate a comment if it makes sense.

#include <THC/THC.h>
#include <stdio.h>
#include "nms_cuda_kernel.h"

// this symbol will be resolved automatically from PyTorch libs
extern THCState *state;

int nms_cuda(THCudaIntTensor *keep_out, THCudaTensor *boxes_host,
                     THCudaIntTensor *num_out, float nms_ove

[2018-06-14 23:10] li-roy commented on #7435
I'm not sure why, but I can't reproduce this on master. I can reproduce on 0.4 though.

[2018-06-14 23:39] jamesr66a commented on #8499
Poking through, this seems to happen during differentiation:

[code]

[2018-06-15 00:01] jamesr66a opened #8538 "[JIT] Missing check for non-method functions in operator-level tests"
Example: tests including `torch.where` still fail because we need to pass in a ByteTensor for the first argument, but currently we pass in Double

Tests affected:

- `test_where`
- `test_where_broadcast_all`
- `test_where_scalar`
- `test_where_scalar_broadcast_mask`
- `test_where_scalar_broadcast_non_mask`

[2018-06-15 00:02] #8526 closed

[2018-06-15 00:15] jamesr66a commented on #8499
A few options for mitigations here:

1. Implement autodiff formulae for these ops (painful)
2. Extend the addmm fission/fusion scheme for these ops as well. The drawback here is that we will still not support differentiating these ops with coefficients, which represents a good chunk of these test failures

@zdevito  @apaszke  any other options you can think of?

[2018-06-15 00:31] vishwakftw commented on #8508
Can you post a `gdb` log?

[2018-06-15 00:42] vishwakftw commented on #8508
The error occurs due to the `_batch_mv` in the `rsample` method.

cc: @fritzo @apaszke

[2018-06-15 00:56] praveen-palanisamy commented on #8508
Below is the gdb log with the backtrace:
[code]

[2018-06-15 00:58] fritzo commented on #8508
I believe `loc` as scalar should not be allowed for `MultivariateNormal`; we should instead add a check
[code]

[2018-06-15 01:13] peterjc123 commented on #8394
Then what about doing this?
[code]
It is the steps we used to build the official one in Windows CI.

[2018-06-15 01:19] sgarcia22 commented on #7567
@pjh5 Thanks for the response! I was actually able to get it working using yes Anaconda3 and downloading pytorch and onnx from source. In pytorch I also had to run the setup_caffe2.py after setup.py to get caffe2 downloaded.

[2018-06-15 01:45] sharath commented on #8492
Thanks, that seems to do the trick

[2018-06-15 01:45] #8492 closed

[2018-06-15 02:02] li-roy commented on #7435
Never mind, this error happens when CUDNN is updated regardless of pytorch version.

[2018-06-15 02:33] houseroad opened #8544 "[ONNX] Make Sure PyTorch and Caffe2 aligned with ONNX's RNN spec"
https://github.com/onnx/onnx/pull/1103

- [ ] Make sure RNN/GRU/LSTM's export in PyTorch is correct.
- [ ] Make sure Caffe2 handle the RNN/GRU/LSTM ONNX models correctly.

[2018-06-15 02:57] philipshurpik commented on #3047
I had an issue with
` The version ('6.0') of the host compiler ('clang') is not supported`
It's because of installed LLVM
and we somehow need to know cmake that we want to use 'clang' and not llvm - in that case need to execute command:

`MACOSX_DEPLOYMENT_TARGET=10.13 DCMAKE_C_COMPILER=clang DCMAKE_CXX_COMPILER=clang++ python setup.py install`

[2018-06-15 03:12] rober42539 commented on #8394
@peterjc123, same issue here. Downloading mkl with tbb like the official build didn't work for me, same error.

[2018-06-15 03:51] #8498 closed

[2018-06-15 05:10] c-hofer commented on #7800
Hi guys, I'm also interested in this feature as I'm currently implementing some complex algorithm to be integrated into pytorch with a ATen backend. Stream-based parallelism is one option to get batch functionality.

It's maybe misplaced here, but do u have any advice where i can get some insight to do this on ATen level? Without any knowledge of the code base it's kind of tough ;) cheers c

[2018-06-15 05:15] gobbedy commented on #1668
@gchanan can you please provide a link? I've googled, searched the pytorch doc, tried to find it in my local 0.4.0 build, and I can't find the `to` method. It's such a common word that it's practically impossible to do a refined search.

[2018-06-15 05:58] gobbedy commented on #1668
Thank you @fmassa.

I see this as a step in the right direction. Now code can be written device-agnostically by adding .to(device) wherever you create a tensor.

This removes an if statement around each creation of a tensor, which is great.

However, this is remains a very code-heavy and not backward-compatible solution. It does not address @BoyuanJiang  and @DuaneNielsen's request to have code ru

[2018-06-15 06:13] zdevito commented on #8410
I updated this with a tweak to the formulation that encodes linearity of a block of operators by putting a UndefToPoison nodes before the op and PoisonToUndef node after it. These nodes capture the fact that the sub-graph in between the two nodes is linear. I prefer this solution to one that uses explicit subgraphs marking the Linear regions because it doesn't require us to teach other passes like

[2018-06-15 06:32] peterjc123 commented on #8394
@rober42539 Could you give me the complete log? I don't know exactly what happened without it?

[2018-06-15 07:00] rober42539 commented on #8394
@peterjc123 Here it is.

System Overview:
Windows 10 (Home), VC 2017, using instructions on https://github.com/pytorch/pytorch#from-source

Here are the commands I have run (adjusted to my system):

[code]

There's a lot of output, but here is the most important parts:

[code]

Here's the whole output:
[Complete Log](https://docs.google.com/document/d/1sXKXD7BqeCWG4wV9JP3f0yIbUOevXisdqiMFm_YmY38/e

[2018-06-15 07:09] peterjc123 commented on #8394
@rober42539 I skimmed your build log. And it seems that the user flag is not properly set. Could you do the following?
[code]

[2018-06-15 07:32] cslxiao commented on #6339
Creating Tensor without initialization sometimes lead to this error. So you can avoid the error by always initialization when creating.

[2018-06-15 07:40] romanovacca commented on #4827
For me installing these steps made it work:

1- installing ->  conda install nb_conda
2 - installing -> conda update conda
3- installing conda install mkl=2018

[2018-06-15 07:46] bhushan23 commented on #8080
@soumith I think we can drop this issue as gradient of a+b wrt to a will be 1 and we don't need to set requires_grad for this. Correct me if I am wrong.

[2018-06-15 07:46] gglinux commented on #4697
pip install https://files.pythonhosted.org/packages/8c/52/33d739bcc547f22c522def535a8da7e6e5a0f6b98594717f519b5cb1a4e1/torchvision-0.1.8-py2.py3-none-any.whl

[2018-06-15 09:24] SingL3 opened #8547 "[caffe2] Where can I get the API description of caffe2?"
Hello!
I am new to caffe2 and am trying to use caffe2 to build a network.
But I am struggling to the api. The official website didn't provide the description of api in detail.(Which just tell me to input X and it will output Y)
For example, if I want to use model.AvgPool in python, I dont know if global_pooling is supported and I try to find the api. However, I get to pool_op.cc and I didn't find

[2018-06-15 09:31] rober42539 commented on #8394
@peterjc123 It didn't seem to work just doing that, but I was able to get it to work. I believe the location would be C:\Program Files (x86)\IntelSWTools\compilers_and_libraries\windows\tbb\lib\intel64_win\vc_mt, which seems right, as I can see the tbb.lib file in that folder. But when I try to set the user flag, it doesn't change the result.

`/LIBPATH:%MKLProductDir%\tbb\lib\intel64_win\vc_mt` i

[2018-06-15 10:00] cr-hxfan opened #8548 "[caffe2] [feature request]Doese caffe2 support conv_nd with group?"
## Issue description
When I try to set the group parameter(larger than 1) for model.ConvNd, there is cudnn error.

Provide a short description.
Code:
'''
        self.prev_blob = self.model.ConvNd(
            self.prev_blob,
            'test_group_conv_%d' % (self.comp_count),
            in_filters,
            out_filters,
            kernels,
            weight_init=("MSRAFill", {}),

[2018-06-15 10:09] gothos-folly opened #8549 "[PyTorch] Output information about memory usage on OOM error"
Currently when PyTorch encounters a cuda out-of-memory error it only prints a fixed error message and a stack trace. **It'd be nice if it also printed the size of the attempted allocation and a list of all existing allocations.**

Currently I'm using a [helper function](https://gist.github.com/gothos-folly/123b70f0cf992828f0d084673bf07d0d) that enumerates tensor objects, but that has limitations c

[2018-06-15 11:45] bueche commented on #5942
I think i'm back in business. loaded pytorch 0.4. as noted in this [discussion](https://discuss.pytorch.org/t/pytorch-no-longer-supports-this-gpu-because-it-is-too-old/13803/26).

[2018-06-15 11:54] izm527 opened #8550 "caffe2: Does caffe support the model running on different device (CPU and GPU) same time ?"
I want to know whether caffe2 support building the model on different device (CPU and GPU) at the same time.
     Precisely, I want to setting part1(include some operators) of the network model running on CPU,  while part2 (others) just on GPU, just like the TF.
     If so, how can I make it ? I used to run model by the way " workspace.RunNet(model.net)"....

[2018-06-15 12:11] sjy11 commented on #7961
I am new to PyTorch and stuck with this bug.   As above, I get this error on gpu using 0.4 but not when running on cpu.  Is there a fix or work-around?

[2018-06-15 13:24] euwern commented on #1355
For me, the deadlock issue arise when I wrap my model with nn.DataParallel and use num_workers > 0 in the dataloader.  By removing the nn.DataParallel wrapper, I can run my script without any locking.
CUDA_VISIBLE_DEVICES=0 python myscript.py --split 1
CUDA_VISIBLE_DEVICES=1 python myscript.py --split 2

Without multiple gpu, my script runs slower but I can run multiple experiments at the same tim

[2018-06-15 14:23] SsnL commented on #8508
Also, pure Python code shouldn't crash with SIGFPE. We should fix this.

[2018-06-15 14:34] ezyang opened #8552 "import torch._thnn during initial setup transitively triggers import of C extension, leading to module"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

Provide a short description.

## Code example

Please try to provide a minimal example to repro the

[2018-06-15 14:34] #8552 closed

[2018-06-15 14:34] soumith commented on #8529
the fix here is to move from mathJax to Katex, which is MUCH faster: https://khan.github.io/KaTeX/

[2018-06-15 14:37] ezyang opened #8553 "import torch._thnn during initial setup transitively triggers import of C extension, leading to module 'torch' has no attribute"
Steps to reproduce:
1. Build PyTorch
2. Add a new native function and a docstring for it in `torch._torch_docs` (the key is that, there should be a new symbol added to `torch._C`, and a function in `_torch_docs` which relies on this symbol being defined)
3. Rebuild PyTorch

Expected result: It works

Actual result: In my most recent build, I get:

[code]

I believe the reason is the following diff

[2018-06-15 14:56] elanmart opened #8554 "[pytorch][build] ‘vmsLog2’ was not declared in this scope"
I tried to rebase and rebuild torch from source today, but got an error:
`../aten/src/ATen/cpu/vml.h:68:76: error: ‘vmsLog2’ was not declared in this scope`

See [full gist](https://gist.github.com/elanmart/8fca075c596378bd785abd8079567684).

For future reference, getting rid of old `mkl` install in `/opt/intel` and updating `mkl` via `conda` seems to have solved the issue.

cc @soumith @cpuhrsch

[2018-06-15 15:13] zou3519 commented on #8520
torch.Size is almost the same thing as a tuple; if we wanted to support it would treating it like a tuple work?

[2018-06-15 15:30] soumith commented on #8529
@goodlux said he'd look into it

[2018-06-15 15:35] ezyang opened #8556 "[JIT] Interleaved C++-Python execution loses inner Python stacks"
I triggered a recent shape propagation test failure:

[code]

You can see in the C++ backtrace that we go back into Python when shape propagation occurs. We should be able to extract a useful Python trace when this occurs; however, it seems to be lost.

[2018-06-15 15:36] ezyang opened #8557 "Delete Python stack frames from C++ backtraces"
They tend to be long and not informative. Example:

[code]

Maybe have an optional environment variable that can turn on wordy mode, but you can always just fire up gdb if you're reallly curious.

CC @goldsborough

[2018-06-15 15:45] ezyang opened #8558 "[JIT] CompilationUnit/ScriptModule doesn't print in detail"
[code]

Surely you can give me some useful information when I print these!

[2018-06-15 15:45] goldsborough commented on #8557
I guess we can skip frames from libpython

[2018-06-15 16:05] fmassa commented on #8520
BTW, the main reason why we created `torch.Size` was to be able to use the legacy `torch.Tensor` constructor, which was overloaded on size / data.
Now that we are mainly moving towards having a data constructor `torch.tensor` and a size constructor `torch.empty`, I believe we could deprecate at some point `torch.Size`, and once (if) we drop support for `torch.Tensor` altogether, we can probably ju

[2018-06-15 16:15] jiangwei221 commented on #8167
I have a question about caffe2 and tensorrt.

According to nvidia forum, Jetson 2 is not supporting tensorrt4 yet, it only support tensorrt3 for now(2018.6.15). Also, tensorrt3 is not supporting caffe2.
 What is the advantage building with tensorrt3?

Thank you!

[2018-06-15 16:19] yinghai commented on #8167
Caffe2 supports integration with TensorRT 3.0.

[2018-06-15 16:32] soumith commented on #8080
I confirmed with @apaszke as well that this is expected behavior.

He says:

because create_graph=True, this is expected.
In the a+b case, basically the gradient of the gradient (wrt parameters) is all 0, which means it doesn’t require grad, because it effectively never touched a single variable that does require grad.

[2018-06-15 16:32] #8080 closed

[2018-06-15 16:32] soumith commented on #8080
thanks for looking into it @bhushan23

[2018-06-15 16:52] pjh5 commented on #8377
Where did you install nccl? Run ldd on your libcaffe2.so (should be in anaconda_root_dir/envs/your_env/lib/libcaffe2.so) to see where it expects nccl to be installed.

[2018-06-15 17:20] vishwakftw commented on #8508
Is it rather this line causing the trouble? I think it should be `self.loc.new(shape).normal_()`.

https://github.com/pytorch/pytorch/blob/302408e6c225bdd0fe9c6af9108c95d10dfb6ce4/torch/distributions/multivariate_normal.py#L173

[2018-06-15 17:38] zou3519 opened #8560 "[JIT] scalars tensors inside the fuser cause an assertion failure in dimension compression."
This errors out:
[code]

This works as expected:
[code]

Relevant PR: #8058

[2018-06-15 18:04] apaszke commented on #8560
cc: @ngimel

[2018-06-15 18:33] soumith opened #8561 "cleanup BLAS detection"
PyTorch and Caffe2 use the following libraries as preferred for BLAS/LAPACK capabilities:

- MKL - first preference in pytorch
- Eigen - 2nd preference, but first preference in caffe2 if ATen is not being compiled

- PyTorch finds OpenBLAS, Accelerate, cblas if MKL is not found -- finding OpenBLAS is useful for PPC64
- I have to explore what Caffe2 does if Eigen is not found

There are however add

[2018-06-15 18:37] Yangqing commented on #8561
Thanks! Pasting replies from internal chat here:

- re "Eigen - 2nd preference, but first preference in caffe2 if ATen is not being compiled" - we can do MKL as first preference to be consistent, and use MKL if it is found.
- C2 actually needs Eigen for its vectorization work, although if we do not use Eigen for BLAS (aka, not -DBLAS=Eigen), then simple inclusion is all needed (header-only).
- on

[2018-06-15 18:44] zou3519 commented on #8499
I'm confused; is it interpreting 0.2, 0.6 as tensors and i1, i2 as the attributes? The addbmm schema we have is `addbmm(Tensor self, Tensor batch1, Tensor batch2, Tensor beta=<default>, Tensor alpha=<devault>)`

[2018-06-15 18:46] jamesr66a commented on #8503
I think this is actually the same task as https://github.com/pytorch/pytorch/issues/8516. Merging

[2018-06-15 18:46] #8503 closed

[2018-06-15 18:53] zou3519 commented on #8516
FYI: I'm changing how IntList works in the frontend (to add better support for literals to script). I'm not sure if this will conflict but keep me updated!

[2018-06-15 18:54] gothos-folly commented on #8477
@soumith In most contexts a syscall returning EINTR should be transparently retried instead of propagating to the calling code as an error.

[2018-06-15 18:56] orionr commented on #8561
FYI, the fallback to Eigen from MKL roughly matches what is being done at https://github.com/pytorch/pytorch/blob/master/cmake/Dependencies.cmake#L73-L77 so makes sense.

[2018-06-15 19:05] jamesr66a commented on #8499
@zou3519 I was a bit confused as well. Here's a quick demo i wrote:

[code]

With output:

[code]

So indeed those scalar arguments are getting correctly interpreted as the `alpha` and `beta` attributes. It's just that when running in Python (+scripting) there's an `expand` inserted on the accumulation input, but that's absent in shape propagation. Solution 2 above is basically:

1. Break down all

[2018-06-15 19:13] apaszke commented on #8557
But please let's keep an indication that they're there. Taking this particular trace, something like this would be ideal (show few first Python frames, summarise their number in the middle, show last few Python frames):
[code]

[2018-06-15 19:14] zou3519 commented on #8499
I think the problem is that the script schema for addbmm doesn't take into account the other schemas. For example,

[code]

This happens because (in aten_schema), we only have
`addbmm(Tensor self, Tensor batch1, Tensor batch2, Tensor beta=<default>, Tensor alpha=<devault>)`

But in generated/python_variable_methods.cpp, python_arg_parser uses the following three schemas (in order):
[code]

if/when

[2018-06-15 19:30] jamesr66a commented on #8499
Yeah I think you're right. What's the plan for deprecating these schema? Also is this the same for all the other accumulating ops?

[2018-06-15 19:33] jamesr66a commented on #8499
Also, I'm confused by the third schema:

[code]

What is the * for? and why is self not first like in aten_schema?

[2018-06-15 19:46] zou3519 commented on #8499
I went through the other operators on the list and it looks like they all have this ambiguity.

I'm not sure what the * is for or what the plan is to deprecate these. cc @colesbury do you know?

[2018-06-15 19:54] jamesr66a commented on #8513
@zou3519 assigning this to you because I think your changes will fix this. This is an error in schema matching for the `min` and `max` operators

[2018-06-15 20:13] bhancock8 commented on #8062
Thanks for taking a look, @li-roy. Looking at the first example:

It seems that there is a disconnect between the documentation and the implementation. The docs (https://pytorch.org/docs/stable/nn.html#torch.nn.CrossEntropyLoss) make no mention of dividing by the sum of the weights; they simply show the loss for each class being multiplied by its weight, which is the behavior I expected.

It also

[2018-06-15 20:35] ngimel commented on #8560
Fusion compiler generally does not handle scalars well,
[code]
fails in the same way.

[2018-06-15 20:39] mruberry commented on #8342
This was fixed by #8531.

[2018-06-15 20:39] #8342 closed

[2018-06-15 20:52] syed-ahmed commented on #8057
My two cents from a little debugging session:
Looks like the assertion for `torch.allclose` fails for the input hidden weights, `weight_ih`.
[code]

[2018-06-15 20:57] ngimel commented on #8057
Do you know what is the actual difference? Is it just a tolerance issue?

[2018-06-15 21:51] zou3519 commented on #8560
for the record:

nDim = 1 and uncompressedDim = 0 in my example above

[2018-06-15 21:56] syed-ahmed commented on #8057
Could be a tolerance issue. Here are the values for your reference:
<details>
    <summary>g2, g2_ge values for which assertion fails</summary>
  <p>
  <pre><code>
   (Pdb) g2
tensor([[ -4101.9272,   2228.6716,   1288.9163,    140.7879,  -3132.6646,
          -1047.6150,    335.9977,    263.0138,    617.8774,  -4023.0645],
        [ -6247.5024,   2921.8584,    373.6270,  -9893.7871,    303.9107,

[2018-06-15 22:01] jamesr66a commented on #8499
In fact, this is where the deprecated signatures are getting added to the python schema: https://github.com/pytorch/pytorch/blob/c537fd7432b1cf2d11552e485dc00dd9eea0e03c/tools/autograd/gen_autograd.py#L154

But we don't have a corresponding addition in JIT dispatch: https://github.com/pytorch/pytorch/blob/c537fd7432b1cf2d11552e485dc00dd9eea0e03c/tools/jit/gen_jit_dispatch.py#L280

I think it's leg

[2018-06-15 22:04] syed-ahmed commented on #8057
The test passes with `self.assertTrue(torch.allclose(g2, g2_ge, atol=5e-3, rtol=1e-3))`

[2018-06-15 22:40] praveen-palanisamy commented on #8508
@vishwakftw : Did you test it with your suggestion? It will cause a `RuntimeError dimension specified as -1 but tensor has no dimensions` at this line:
https://github.com/pytorch/pytorch/blob/302408e6c225bdd0fe9c6af9108c95d10dfb6ce4/torch/distributions/multivariate_normal.py#L32

I think the `SIGFPE` arises when `MultivariateNormal`'s `self.scale_tril` is expanded and reshaped to have `.dim() == 3

[2018-06-15 22:51] TommeyChang commented on #8359
Hello @cpuhrsch,

I met the bug after I had updated all the source code with the command: git pull origin maste. And I have never installed sleef. Meanwhile, I seached sleef in my computer and got nothing. Is there another method to check it?

I think the problem is just the oppsite. You may have installed sleef, and it works fine.

Thanks,
Tommey

[2018-06-15 22:56] ezyang commented on #8499
The * means that all arguments afterwards are keyword only. It affects Python binding. It's documented in the native function README (as of today).

[2018-06-15 23:05] ezyang commented on #7800
@c-hofer Start by writing a tiny wrapper function in your code for `THCState_getCurrentStreamOnDevice` and test it works. Then we can figure out where in the API it makes sense to put.

[2018-06-15 23:06] jamesr66a commented on #8501
This is actually just the check being broken. Can probably fix this quickly but @zdevito discussed more long-term solutions

[2018-06-16 00:14] mruberry opened #8577 "Debug Spew in test_autograd.py"
See recent CI, which spews the following:

23:49:53 test_anomaly_detect_nan (__main__.TestAutograd) ... No forward pass information available.
23:49:53 Enable detect anomaly during forward pass for more informations.
23:49:53 No forward pass information available.
23:49:53 Enable detect anomaly during forward pass for more informations.
23:49:53 test_autograd.py:2328: DeprecationWarning: Please us

[2018-06-16 00:33] #7435 closed

[2018-06-16 01:20] #229 closed

[2018-06-16 01:56] andreigh commented on #7912
II-Matto did you manage to get it running somehow ?

[2018-06-16 02:45] rajatpundir commented on #488
Everyone is like we can't port opencl, it is hard, we are incompetent, we are not going to do it, someone else should do it, and story goes on, blah.

[2018-06-16 03:01] goldsborough commented on #8577
Should be a simple codemod I would think?

[2018-06-16 07:40] #6285 closed

[2018-06-16 07:40] #6286 closed

[2018-06-16 07:40] #7735 closed

[2018-06-16 09:41] Kaixhin commented on #3185
Think we can close this one now and if people want to contribute specific distributions now they can open up new issues/PRs.

[2018-06-16 09:48] hughperkins commented on #488
FWIW, I totally agree with the approach of abandoning OpenCL, and moving towards more proprietary initiatives. ("why should anyone care what I think?" => I did a partial port of lua torch to OpenCL, wrote my own OpenCL framework from scratch ('DeepCL'), presented two OpenCL ports at iwocl, eg https://www.youtube.com/watch?v=O1zAFL6JrOM , and I have two OpenCL frameworks on Soumith's benchmarks pag

[2018-06-16 11:32] JerryLauzzz commented on #7030
I think this is an issue caused by incomplete download.
When I run
[code]
When downloading some necessary packages, I enter 'ctrl+c'.
However, when I run the above command again, I met the same problem.
I try to reboot to flash my cache, but I met the same problem.

[2018-06-16 11:52] mirh commented on #488
Mhh.. I thought newest OpenCL had nothing to envy to CUDA?
Then sure thing amd has some lag in there.. (though one could argue that's *due* to ROCm, rather than _in spite of_)

[2018-06-16 12:01] vadimkantorov commented on #5436
I reinstalled PyTorch in a fresh conda environment with MKL. I get:
[code]

[2018-06-16 13:55] krumo commented on #8377
@pjh5 Thank you for you answer. I have solved this problem. Because I am installing caffe2 on a debian OS without sudo right, I cannot use `apt install` to install nccl. My solution is to install nccl on my own laptop and copied libnccl.2.x.x to this PC. Now it works well. Thank you again!

[2018-06-16 13:56] #8377 closed

[2018-06-16 14:00] vishwakftw commented on #8508
There needs to be two changes in the code:
1. `bvec.size(-1)` to `bmat.size(-1)` in
https://github.com/pytorch/pytorch/blob/302408e6c225bdd0fe9c6af9108c95d10dfb6ce4/torch/distributions/multivariate_normal.py#L32

2. `*shape` to `shape` in
https://github.com/pytorch/pytorch/blob/302408e6c225bdd0fe9c6af9108c95d10dfb6ce4/torch/distributions/multivariate_normal.py#L173

The sample function works fine.

[2018-06-16 16:04] nabihach opened #8582 "Layer freezing doesn't work with model.train() in v0.4.0"
## Issue description

I just upgraded my Pytorch version from 0.3.0 to v0.4.0, and I'm running into the following issue.

I want to freeze the parameters of a layer (i.e. set `requires_grad to False` for that layer) and train. This worked fine of v0.3.0 but now, I get the following error at the line `loss.backward()`:
`RuntimeError: backward_input can only be called in training mode`

Based on wha

[2018-06-16 16:11] SsnL commented on #8577
This is weird because we have this line
https://github.com/pytorch/pytorch/blob/master/test/common.py#L484
Which py version is this?

[2018-06-16 18:48] vishwakftw commented on #4570
I believe this can be closed now.

[2018-06-16 19:49] #4570 closed

[2018-06-16 19:55] #3185 closed

[2018-06-16 21:44] Atcold opened #8583 "Combining indexing and item"
What about combining indexing and `item()` so that
[code]

[2018-06-16 23:19] rchavezj commented on #2767
How where I able to do this for saving?

[2018-06-17 04:39] minimumnz commented on #7019
I have this same problem with nccl. The code in the original post does not return. klshrinidhi's solution does not fix it for me. I do not have a /etc/nccl.conf in Ubuntu 18.04 but I did unset those environment variables and I get this:

NCCL version 2.1.15+cuda9.0
rig:2637:2637 [0] INFO NET : Using interface enp0s31f6:192.168.85.32<0>
rig:2637:2637 [0] INFO NET/Socket : 1 interfaces found
rig:263

[2018-06-17 04:45] daniel-j-h opened #8585 "PyTorch segfaults in combination with onnx on Ubuntu 16.04 with Python 3"
On Ubuntu 16.04 with

    virtualenv -p python3 .env
    . .env/bin/activate

    pip install onnx torch

The following segfaults from within PyTorch's native code:

    python3 -c 'import onnx; import torch'

Here is a backtrace I extracted from GDB
<details>

[code]
</details>

Is there any other way I can help?

## System Info

With `onnx==1.2.1` and

[code]

cc @houseroad @spandantiwari @lara-

[2018-06-17 04:55] daniel-j-h commented on #8585
To clarify here, both

    import onnx

as well as

    import torch

on their own work without problems. This looks to me as if there is a problem with the loaded native libs / shared libs when both onnx and torch gets imported.

[2018-06-17 05:56] HuaizhengZhang opened #8588 "Caffe2 can not be built from source: caffe2_gpu_generated_yellowfin_op_gpu.cu.o Error"
I have tried to install caffe2 many times but it always failed.

## Issue description

Scanning dependencies of target python_copy_files
[ 73%] Built target python_copy_files
[ 73%] Building NVCC (Device) object caffe2/CMakeFiles/caffe2_gpu.dir/sgd/caffe2_gpu_generated_yellowfin_op_gpu.cu.o
In file included from /usr/local/cuda/include/common_functions.h:50:0,
                 from /usr/local/cuda

[2018-06-17 07:53] ivankreso opened #8589 "Two segfaults in autograd/engine.cpp"
## Issue description

I believe I found segfaults at two places in autograd/engine.cpp.

The first one I already described in the following comment:
https://github.com/pytorch/pytorch/issues/5219#issuecomment-392341351

The second is related to the first one. Even if you fix the first segfault, there is another one here:
https://github.com/pytorch/pytorch/blob/master/torch/csrc/autograd/engine.cpp

[2018-06-17 10:47] c-hofer commented on #7800
@ezyang @pietern ... i've studied the source now a little and as u pointed out messing around with THCState seems the solution. However, how do I get the right THCState in my hands?

[code]

However, `globalContext()` yields a strange error during compilation:

Maybe I missed something or totally misinterpreted the role of globalContext()?
Or is there another proper way to get hands on the current

[2018-06-17 19:05] ezyang commented on #7800
Yes it is correct.

[2018-06-18 03:38] ailzhang commented on #8290
CC: @teng-li @pietern Is it something we would like to add for c10d?

[2018-06-18 03:41] minimumnz opened #8594 "PyTorch 0.4 hangs with nn.DataParallel"
I have an issue that matches [https://github.com/pytorch/pytorch/issues/7019](url) but the suggested solution does not work for me.

This code never returns a value to y:

    import torch
    import torch.nn as nn
    from torch.autograd import Variable

    class NET(nn.Module):
        def __init__(self):
            super(NET, self).__init__()
            self.dense = nn.Linear(256, 512)

[2018-06-18 04:37] jonkoi opened #8595 "[Caffe2] How to build caffe2/mobile/ulp2/ulp_test?"
I'm trying to test out the kernel implementation of quantized convolution in `caffe2/mobile/ulp2df folder. Currently, I would like to build and run the ulp_test.cc. However, I don't know how to build the files in there. Can someone tell me how? Maybe some CMakeLists files.

Thanks in advance

Cheers,

[2018-06-18 04:46] zasdfgbnm commented on #8554
Same problem here

[2018-06-18 09:23] BlanchonMarc opened #8597 "[FR, Feature Request] Segmentation Loader"
Hello,

As explained previously in another issue (sorry i'm not able to find it anymore), PyTorch had no segmentation loader innately implemented.
For this reason, I developped mine and it is working fine with all the rest of the framework.
I hope you did not implement it before, I allow myself to provide you my code which embed all the docstrings and explanation, like this you do not need to work

[2018-06-18 09:33] StatML opened #8598 "Error: ‘vmsLog2’ was not declared in this scope"
Hi, I met the following error when building from source. Does anyone have the same issue?

## Issue description

aten/src/ATen/cpu/vml.h:68:76: error: ‘vmsLog2’ was not declared in this scope

## System Info

- PyTorch or Caffe2: PyTorch
- How you installed PyTorch (conda, pip, source): source
- Build command you used (if compiling from source): python3 setup.py build
- OS: Ubuntu 16.04
- PyTorch

[2018-06-18 12:13] arogozhnikov opened #8599 "Better error messages for `grid_sample`"
## Issue description

`grid_sample` yields irrelevant errors when passing wrong arguments

## Code example

[code]

First one:
[code]

Second one:
[code]

## System Info

- PyTorch or Caffe2: pytorch 0.4
- How you installed PyTorch (conda, pip, source): pip
- Build command you used (if compiling from source):
- OS: ubuntu16.04
- PyTorch version: 0.4
- Python version: 3.6
- CUDA/cuDNN version:
- GP

[2018-06-18 12:43] themightyoarfish commented on #1382
There is [this document](http://developer.download.nvidia.com/compute/cuda/1.1-Beta/x86_website/projects/histogram64/doc/histogram.pdf) from Nvidia describing histogram computation in CUDA, can this be of help?

[2018-06-18 13:10] vishwakftw commented on #8598
Duplicate of https://github.com/pytorch/pytorch/issues/8554 .

[2018-06-18 13:28] t-vi commented on #8599
Thank you for the report! I'll move them to the new check for same GPU (which includes reasonable CPU vs. GPU reporting).

[2018-06-18 13:32] t-vi commented on #8597
Thank you for the report!
The more natural home for this might be in pytorch/vision, indeed  they have an issue for this with some discussion: https://github.com/pytorch/vision/issues/424

[2018-06-18 13:34] BlanchonMarc commented on #8597
Ah that's why I haven't found the issue, indeed glemaitre is my collegue aha !! I'll answer to the issue directly with the code. Thanks

[2018-06-18 13:48] soumith commented on #8597
closing in favor of pytorch/vision#424

[2018-06-18 13:48] #8597 closed

[2018-06-18 14:13] #8557 closed

[2018-06-18 14:38] ezyang opened #8602 "Come with a better strategy for TensorArg"
TensorArg (in `aten/src/ATen/TensorUtils.h`) is a class I came up with when I was porting CuDNN convolutions from Python to C++. The original goals were as follows:

1. Create a set of utility functions to conveniently perform input checks (e.g., does it have the correct size; is it on the correct GPU, etc.)
2. Give good error messages when these tests fail (e.g., give the name and the argument nu

[2018-06-18 15:01] zou3519 opened #8604 "[JIT] torch.full in the presence of scalar tensor math fails in interpreter sometimes"
On master:
[code]
But the following works:
[code]

[2018-06-18 15:12] vadimkantorov commented on #8447
Also hitting a bunch of warnings:
[code]

[2018-06-18 15:22] vadimkantorov opened #8605 "PyTorch crashes at import on Ubuntu 14.10 when compiled from source"
I installed PyTorch from sources using fresh Miniconda.

[code]

gdb stack-trace:
[code]

[code]

[2018-06-18 15:44] cpuhrsch commented on #8554
Hello @elanmart and @zasdfgbnm  - If the error is mitigated by updating MKL, I consider this issue resolved. It's generally recommend to have the newest dependencies for development. We ship MKL with our binary builds and link against it statically, so this won't impact our users either.

[2018-06-18 15:48] elanmart commented on #8554
@cpuhrsch I understand, just to clarify, I opened the issue following a short discussion with @soumith , quoting relevant bit by Soumith:

offending PR is https://github.com/pytorch/pytorch/pull/8458

Not sure if it's still relevant though.

[2018-06-18 16:01] cpuhrsch commented on #8554
Just talked to Soumith - I'll guard against older versions that don't have vmsLog2 available.

[2018-06-18 16:10] mruberry commented on #8577
You can see this is the 3.6 and 3.5 builds. The 2.7.9 and 2.7 builds have a lesser version of the same issue:

05:06:01 test_anomaly_detect_nan (__main__.TestAutograd) ... No forward pass information available.
05:06:01 Enable detect anomaly during forward pass for more informations.
05:06:01 No forward pass information available.
05:06:01 Enable detect anomaly during forward pass for more informa

[2018-06-18 16:11] ojus1 commented on #6780
Same problem here.

[2018-06-18 16:21] timmeinhardt commented on #8374
You can already do `from torch.multiprocessing import Pipe`. Or are you looking for something else?

[2018-06-18 16:31] domett93 opened #8607 "[Caffe2] Wrong prediction with simple FF"
Hello,
I am new to Caffe2.
For my first attempts with Caffe2 I am trying a simple Feed Forward, but I don't get a correct prediction.
Could please somebody explain my mistake?

It's a simple net to solve a XOR

[code]

[2018-06-18 17:07] zdevito commented on #8553
Related: If you introduce a segfault or exception throw in _C.so while developing, the build will break and will require the manual removal of _C.so to get working again.

[2018-06-18 17:18] pjh5 commented on #8588
What is your nvcc --version?

Are you using the Eigen in third_party (there should be a line in your cmake output, something like "Using Eigen from third_party")? If so can you try using MKL instead of Eigen?

[2018-06-18 17:21] anderspapitto commented on #8553
I'm working on replacing this code with a different approach

[2018-06-18 17:23] zou3519 commented on #8605
Can you reproduce the same error in a docker image so that we can easily repro this and look into it?

[2018-06-18 17:28] cpuhrsch commented on #8598
Closed due to duplicate. Will guard against older versions of MKL. Fix for now is to update MKL.

[2018-06-18 17:28] #8598 closed

[2018-06-18 17:30] zou3519 commented on #8583
We discussed this and it might not be worth complicating the item API just for the 1D tensor case.

[2018-06-18 17:30] #8583 closed

[2018-06-18 17:32] SsnL commented on #8577
Can you give us CI links for the two errors?

[2018-06-18 17:36] mruberry commented on #8577
Here's a link to the console log from a recent submission that passed all the tests:

https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-xenial-cuda9-cudnn7-py3-test2/1279/consoleFull

[2018-06-18 17:37] SsnL commented on #8549
The amounts of tensors might be on the scale of thousands, so it's probably no reasonable to print the list of tensors. Btw, your script doesn't detect tensors that only live in c++ side. You can use `torch.cuda.max_memory_allocated()` to get the current amount of memory used.

Printing the size of the attempted allocation is reasonable and I think we should do this.

[2018-06-18 17:37] zou3519 commented on #8494
cc @peterjc123 what do you think?

[2018-06-18 17:38] zou3519 commented on #8485
cc @peterjc123 do you know what's up here?

[2018-06-18 17:43] zou3519 commented on #8466
@rainwoodman could you pull the latest master and try again?

[2018-06-18 17:44] zou3519 commented on #8447
cc @goldsborough

[2018-06-18 17:44] zou3519 commented on #8438
Closing bc already fixed.

[2018-06-18 17:44] #8438 closed

[2018-06-18 17:46] rainwoodman commented on #8466
Sure, but which change on the master could be relevant?

[2018-06-18 17:48] goldsborough commented on #8447
I don't really have anything to do with this. This started with the recent build system changes. Maybe @orionr can look into this. I also observe in my builds that these warnings are emitted, but the builds proceed fine.

[2018-06-18 17:51] goldsborough commented on #8447
I think we used to pass these warning flags only for clang, but once we removed all the `target_compile_options` and instead use `CMAKE_CXX_FLAGS` (which is really bad), all this nuanced configuration got scrapped

[2018-06-18 17:52] SsnL commented on #8358
@ryonakamura Can you try `gdb` and give us the trace of the segfault? Thanks!

[2018-06-18 17:52] goldsborough commented on #8447
From what I can see `no-aligned-allocation-unavailable` is a clang specific warning, so the above is probably the case. @orionr maybe we need add certain flags to `CMAKE_CXX_FLAGS` only when the compiler is clang?

[2018-06-18 17:53] #8160 closed

[2018-06-18 17:54] weiyangfb commented on #7733
@rohan-varma Any updates so far? Do you need some helps?

[2018-06-18 17:56] zou3519 commented on #7900
cc @gchanan can you plan this issue?

[2018-06-18 18:02] phalexo commented on #8447
To force a build, stick "-w" as the first flag to be passed to the C
compiler in the CMake***.txt file.

On Mon, Jun 18, 2018 at 1:53 PM, Peter Goldsborough <
notifications@github.com> wrote:

[2018-06-18 18:08] SsnL opened #8610 "use lock to guard the cuda memory monitoring methods"

[2018-06-18 18:14] villmow commented on #7449
I have the same problem, what was your solution?

[2018-06-18 18:23] mruberry commented on #8577
As an aside from the immediate issue, may I suggest that the CI also fail if there's unexpected spew like this? I recently fixed another one of these spews with #8531.

[2018-06-18 18:47] goldsborough commented on #8605
@ezyang

[2018-06-18 18:47] varunagrawal opened #8611 "[feature request] Make from_numpy method externally visible"
## Issue description

Currently, most Python linters complain that `torch` has no method `from_numpy`. Since converting from a numpy array to a Pytorch tensor is pretty common, it would be nice to add `from_numpy` to the `__all__` list in the `torch` module to remedy this.

I believe this to be an easy fix and not break anything, but rather make production code linters work better with Pytorch.

#

[2018-06-18 18:52] fmassa commented on #8611
I think this is an easy fix indeed, but I wonder if `from_numpy` is not going to be deprecated in favour of `as_tensor`?

[2018-06-18 18:55] zou3519 commented on #8466
We've been having a fair number of cmake changes recently.

[2018-06-18 18:57] SsnL commented on #8611
Yeah I think we are deprecating `from_numpy`, but this should be fixed. The related issue is likely https://github.com/pytorch/pytorch/issues/7318

[2018-06-18 18:57] varunagrawal commented on #8611
Wouldn't that be a breaking change? I don't quite understand the need to deprecate `from_numpy` given numpy is the predominant library for numerical computing in Python.
Having `as_tensor` as an additional method would be great for extensibility.

[2018-06-18 18:58] SsnL commented on #8611
@varunagrawal Eventually, yes. But we won't suddenly do it. It will be a deprecation warning for a couple versions before we drop it.

[2018-06-18 18:59] SsnL commented on #8611
I don't remember the exact reasoning for deprecating it though. Maybe @fmassa knows?

[2018-06-18 19:00] rainwoodman commented on #8466
As of e62c3a470c4062cb64cea529b23b97e82a6ce765, the error is the same.
[code]

To build pytorch with Anaconda cross-compilation toolchain, I am using a workaround that purges all of the 'bad' CXXFLAGS in mpicxx. I updated the use case to pin to the older version of the package that still contains these 'bad' CXXFLAGS.

[2018-06-18 19:41] ezyang commented on #8605
I'll try to repro in `nvidia/cuda:8.0-devel-ubuntu14.04` and `ubuntu:14.10`, but note that Ubuntu 14.10 is EOLed, so if the problem turns out to be an issue related to the distro packaged software, we probably won't be able to fix it.

[2018-06-18 19:41] jamesr66a commented on #8499
Closed by https://github.com/pytorch/pytorch/pull/8574

[2018-06-18 19:41] #8499 closed

[2018-06-18 19:47] vadimkantorov commented on #8605
I then installed the pytorch 0.4 package from conda and it works.

And division by zero (?) is still strange within the map impl.

[2018-06-18 19:58] varunagrawal commented on #8611
The reasoning seems good. Though a lot of early adopters will need to update their code once `as_tensor` becomes the standard.

I'm closing this issue in favor of #7318. Thank you for your time @SsnL and @fmassa!

[2018-06-18 19:58] #8611 closed

[2018-06-18 20:00] ezyang commented on #8605
Internet suggests that it is some sort of corrupt hash map or static initialization order fiasco. It could also be a miscompilation problem.

[2018-06-18 20:07] cpuhrsch commented on #8554
Guarding has been landed. Please retry.

[2018-06-18 20:17] ezyang commented on #8605
I could not reproduce in either environment.

[code]

and

[code]

I'll give the Registry code a once over for SFINAE bugs later, but we probably won't be able to help out your local environment without more info. As a workaround, consider trying to build PyTorch from within a Docker environment similar to yours.

[2018-06-18 20:43] jamesr66a commented on #8538
Original diagnosis was incorrect, this was actually just a matter of missing the check for a test being for a tensor method when that tensor method did not exist. PR coming

[2018-06-18 20:58] jamesr66a commented on #8519
Problem is here: https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/tensor_conversions.h#L64

The number literals are emitted as 0-d tensors, but this conversion function expects 1d

[2018-06-18 21:03] jamesr66a commented on #8500
This was actually closed by https://github.com/pytorch/pytorch/pull/8574

[2018-06-18 21:03] #8500 closed

[2018-06-18 21:09] vadimkantorov commented on #8605
@ezyang What version of GCC is used within your Docker environment?

But it seems you're right, it seems to be caused that the inner map got moved or statically initialized such that the inner bucket count value is zero.

[2018-06-18 21:14] vadimkantorov commented on #8605
I can also try to build with a commit before `Registry.h` was introduced

[2018-06-18 21:22] jamesr66a commented on #8528
@zou3519 I believe this will be fixed with your changes. The schema that's being resolved here (at least for `test_{min,max}` is one that returns a tuple in the case that we pass in a scalar `dim` parameter. I believe we're matching the schema because we're treating the second tensor operand as `dim` and emitting that op with 2 outputs.

[2018-06-18 21:23] pimdh opened #8621 "[feature request] No grad decorator"
It would be nice if the context managers that enable/disable autograd could be used a decorator. This would allow one to write code like:
[code]
In Python 3, this can be trivially implemented with a [ContextDecorator](https://docs.python.org/3/library/contextlib.html#contextlib.ContextDecorator), but for Python 2 a solutions should be easy too.

As a workaround I currently use a wrapper in Python

[2018-06-18 21:28] jamesr66a commented on #8528
I think we'll also need to generalize this logic for aten::min, aten::max and aten::split as well https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/script/compiler.cpp#L494

[2018-06-18 21:31] SsnL commented on #8621
It's already implemented on master. :)

[2018-06-18 21:31] #8621 closed

[2018-06-18 21:36] jpilaul opened #8623 "clip_grad_norm_ to handle params from multiple gpus"
This PR is a request to support parameters that are on multiple gpus in `clip_grad_norm_`. I recently did something similar to:

    class MyModel(nn.Module):
        def __init__(self, split_gpus):
            self.large_submodule1 = ...
            self.large_submodule2 = ...
            self.split_gpus = split_gpus
        if split_gpus:
            self.large_submodule1.cuda(0)
            sel

[2018-06-18 21:37] SsnL opened #8626 "as_strided_backward in expanded case & dynamically created grad_fn for views"
[code]

[2018-06-18 21:39] jamesr66a commented on #8519
Nevermind, this is a specific case of varargs inputs that's failing. Merging into the other task

[2018-06-18 21:40] #8519 closed

[2018-06-18 22:13] #8501 closed

[2018-06-18 22:13] #8538 closed

[2018-06-18 22:21] ezyang commented on #8605
The default, gcc-4.9.

If you want a newer build than 0.4, you could certainly try that, but you will definitely be unable to get future commits.

[2018-06-18 22:37] goodlux commented on #8529
I was able to get Katex running relatively easily. It just involves replacing the MathJax extension with Katex, and pointing the conf.py file to the css and javascript files.

Many things render well, but It doesn't seem to handle multi-line equations, like the ones beginning with:  \begin{equation*}

[2018-06-18 22:40] SsnL commented on #8529
@goodlux A quick look at their doc make me think that they might be just assuming math env. Try removing the `equation*` env wrapper?

[2018-06-18 22:55] ailzhang commented on #8594
Hi @minimumnz I was not able to repro this issue on my local build. Would you mind try git clone the master branch and build from source there?
If it persists, could you provide a docker image for us to work on a fix? Thanks!

[2018-06-18 22:57] adam-dziedzic commented on #755
@ezyang you mentioned June, did you manage to add support for complex numbers to PyTorch?

[2018-06-18 22:58] goodlux commented on #8529
I just tried, and this worked for the equation in question. So that's a plus.

There still seems to be an issue in some other spots:
For instance, the output on the data shape output for 3dConv is getting mangled.

[2018-06-18 23:01] ailzhang commented on #8015
Seems to be fixed on master already. Closing.

[2018-06-18 23:01] #8015 closed

[2018-06-18 23:18] jamesr66a commented on #8524
Merging into https://github.com/pytorch/pytorch/issues/8528

[2018-06-18 23:18] #8524 closed

[2018-06-18 23:38] wanchaol commented on #8516
Note: we could be able to fix this issue after @zou3519 PR, then rebase #7444 with additional fix on how script handles single argument of int/list of ints.

[2018-06-18 23:49] Atcold commented on #8583
Well, not necessarily for 1D `Tensors`. It would be fine simply to point to the `index`-th element in the `Storage`.

[2018-06-19 00:07] SsnL commented on #8626
This is also kinda hard to fix because of the potential one-to-many mapping :/ Still thinking good solutions.

[2018-06-19 00:36] jamesr66a opened #8634 "[JIT] Improve coverage of `throw ErrorReport` callsites"
For robustness of error messages, we should ensure all code paths where we throw an ErrorReport are tested and return meaningful errors.

As of today, this is the coverage of the times that we `throw ErrorReport` for a run of `test_jit.py`. Format is `line, #calls, source code`:

[code]

[2018-06-19 00:46] zou3519 commented on #8583
Hmm I think the N-D case is a little strange.

For example, `tensor.index(3)`: would this be equivalent to `tensor.storage()[3]`, or `tensor.contiguous().view(-1)[3]`? (I think these are different)

[2018-06-19 01:12] HuaizhengZhang commented on #8588
@pjh5 Hi, my nvcc version is
`nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2017 NVIDIA Corporation
Built on Fri_Sep__1_21:08:03_CDT_2017
Cuda compilation tools, release 9.0, V9.0.176`

I user default system eigen3
`-- Found system Eigen at /usr/include/eigen3`
Should I change to MKL?

[2018-06-19 01:28] vadimkantorov commented on #8605
yes, maybe it somehow managed to call the library init before it initialized the static map object?

[2018-06-19 02:37] peterjc123 commented on #8485
@Vedaevolution Could you please send me the complete log?

[2018-06-19 02:42] peterjc123 commented on #8494
Maybe plan 2 is a better idea. Although plan 1 helps to eliminate this issue while running the script, plan 2 ensures the code runs well under interactive mode. @krikru Could you please do me a favor and make a PR on this?

[2018-06-19 03:16] #8282 closed

[2018-06-19 03:56] BestSonny opened #8637 "Issue for DataParallel"
When I tried to use multi-gpu trainning.

1) If I wrap the model forward function as follows:

[code]
Then
[code]
I get one error during the multi-gpu trainning
[code]

2) If I directly put all codes of _gaussian function under forward function. The multi-gpu trainning works
[code]

@soumith Do you have any comments about this?

[2018-06-19 03:57] BestSonny commented on #8637
A demo code is provided to reproduce the errors. testModude2 works fine while testModude is not good.

[code]

[2018-06-19 04:10] SsnL commented on #8637
Yeah, `testModule` won't work because you saved the method `self._realOperation`, which is bound to this particular `testModule` instance, as the attribute `self.operation_function`. When broadcasting the module to different GPUs, this attribute, as it is not a tensor, is just simply duplicated, which means that all broadcast copies of this module have the attribute refer to the same bound method,

[2018-06-19 04:15] #7933 closed

[2018-06-19 04:48] BestSonny commented on #8637
@SsnL I think probably the best solution so far is to define another module for the operation_function, according to your response. Thank you very much.

[2018-06-19 06:48] t-vi opened #8644 "avg_pool2d/3d padding behaviour default"
[Spotted by InnovArul/Arulkumar on the forums](https://discuss.pytorch.org/t/f-avg-pool2d-different-behavior-in-different-pytorch-versions/19901), thank you!

The documentation for avg_pool2d/3d says
[code]
Indeed, the default was just that up to PyTorch 0.2.
In 0.3-0.4 the default is False for 2d/3d and True 1d and the doc says it was True for all. The change in default happened when nn.yaml repl

[2018-06-19 06:56] t-vi commented on #8644
So after submitting this, I saw that the module interface uses count_include_pad=True all along, so the right option seems to be to have the same in the functional interface. I'll submit a PR.

[2018-06-19 07:18] t-vi commented on #8599
In PyTorch master, the error message has already improved for the second case:
[code]

[2018-06-19 07:40] bheinzerling commented on #8358
$ gdb python
GNU gdb (GDB) Red Hat Enterprise Linux 7.6.1-80.el7
...
(gdb) run
Starting program: /env/bin/python
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib64/libthread_db.so.1".
Python 3.6.2 |Continuum Analytics, Inc.| (default, Jul 20 2017, 13:51:32)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux
Type "help", "copyright", "credits" or "license" for more i

[2018-06-19 07:41] BIGBALLON commented on #8588
I have the same issue.

[code]

my nvcc version is

[code]

anyone have idea?

[2018-06-19 08:00] hello-fk opened #8648 "Cannot allocate memory Error from operator"
https://caffe2.ai/docs/tutorial-MNIST.html
Finally, we can plot the results using pyplot.
[code]
---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-19-aad356a03a21> in <module>()
      1 # The parameter initialization network only needs to be run once.
----> 2 workspace.RunNetOnce(tr

[2018-06-19 08:17] minzhouGithub commented on #3641
I encountered the same error today! It really confuses me. Now I've solved it thanks to your comment.
I used the COCO dataset to train a PSPNet-50, which has a auxiliary loss. And when training, the net computed the auxiliary result but I didn't add it to the loss. Then I got this same error. Once I add this auxiliary loss into the total loss, the error disappeared.

[2018-06-19 08:17] minzhouGithub commented on #3641
I encountered the same error today! It really confuses me. Now I've solved it thanks to your comment.
I used the COCO dataset to train a PSPNet-50, which has a auxiliary loss. And when training, the net computed the auxiliary result but I didn't add it to the loss. Then I got this same error. Once I add this auxiliary loss into the total loss, the error disappeared.

[2018-06-19 08:48] jinh574 commented on #1355
I have same problem on Python 3.6.2 / Pytorch 0.4.0.
and I tried to above all approach switching pin_memory, changing size of shared memory, and i use skiamge library(i am not using cv2!!), but I still have problem.

this problem raise randomly. controlling this problem is just watching console and restarting training.

[2018-06-19 08:58] Shuailong commented on #1355
@jinh574 I just set the number of data loader workers to 0, and it works.

[2018-06-19 09:17] jinh574 commented on #1355
@Shuailong I have to use large size image, so i can't use that parameters because of speed. i need to more inspecting about this problem

[2018-06-19 10:42] fehiepsi opened #8649 "[pytorch] `torch.autograd.gradcheck` failed with `torch.stack`, `torch.cat`"
The following script replicates the issue:
[code]
The same thing happened with `torch.cat`.

[2018-06-19 11:07] Tezirg-Wrld3D opened #8650 "Cannot use IterOp at runtime CUDA&CPU"
Hello, I am currently following the tutorial with a C++/CUDA implementation.

Code: https://gist.github.com/Tezirg-Wrld3D/043c0662f2611142db86b656d24456a9

I am encountering the following error in the toy example:
[code]

So I tried to run a CPU only build but I encounter the same kind of error :
[code]

I have built caffe2 from source, here is the cmake output :
[code]

I will also provide additi

[2018-06-19 11:40] pedrogarciafreitas commented on #8373
Same error on Centos 7, Conda 3, Cuda 9.0 and CuDNN 7.

[2018-06-19 13:52] SsnL commented on #8649
Could you try with double precision?

[2018-06-19 14:17] timmeinhardt opened #8651 "Returning torch object from multiprocessing pipe breaks random generator state"
While working with multiprocessing and PyTorch 0.4.0 I encountered a (for me) unintuitive behaviour of the random generator state. Sorry for the lengthy code example but I hope it helps to clarify my problem. Usually the random state of a subprocess is independent of the parent process but my example shows that if a PyTorch object is returned from a subprocess the random state of the same is alter

[2018-06-19 14:29] apaszke commented on #8649
The precision still matters in `.sum()` (the `eps` might be too small to even be reflected in the final result).

[2018-06-19 14:43] SsnL commented on #8649
@apaszke you are right :)

[2018-06-19 15:16] fehiepsi commented on #8649
@SsnL Using double precision passes the above script. But the gradchecks for MultivariateNormal distribution still fail. There might be another reason which I will try to find out.

[2018-06-19 15:21] SsnL commented on #8649
@fehiepsi It might be useful to gradcheck `_batch_lowrank_mahalanobis` and `_batch_lowrank_logdet` separately.

[2018-06-19 15:28] flauted opened #8652 "Batch Sampler and Dataset indexing too restricted"
I was trying to use a Dataloader with a sampler of strings to index my dataset. The default [BatchSampler](https://github.com/pytorch/pytorch/blob/master/torch/utils/data/sampler.py#L104) threw me an error that essentially str cannot be casted to int. The cast in question happens on line 139 (currently):
[code]
I copied the source for the Batch Loader from master, removed the cast, and everything

[2018-06-19 15:37] ryonakamura commented on #8358
@SsnL
GNU gdb (Ubuntu 7.11.1-0ubuntu1~16.5) 7.11.1
...
(gdb) run
Starting program: /home/ryo/.pyenv/versions/anaconda3-4.1.1/bin/python
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
Python 3.5.2 |Anaconda custom (64-bit)| (default, Jul  2 2016, 17:53:06)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux
Type "help", "copyrigh

[2018-06-19 15:41] SsnL commented on #8358
@ryonakamura @bheinzerling  Thank you for traces! We'll look into this.

[2018-06-19 15:46] cpuhrsch commented on #7903
We removed TBB for now. Please try again.

[2018-06-19 15:54] #8599 closed

[2018-06-19 15:55] soumith commented on #8644
we should indeed default functional interface to True as well. Thanks for the PR

[2018-06-19 15:55] #8644 closed

[2018-06-19 15:56] SsnL commented on #8529
@goodlux Thanks. I also think that 2 is better. For the above example, my guess is that it is a multiline issue causing \left to not matched with the \right on the next line. Probably just line continuation would work, i.e.
[code]

Could you try it?

[2018-06-19 15:57] SsnL opened #8653 "[docs] torch.backends.* not documented"

[2018-06-19 16:00] SsnL commented on #8651
Hi, could you elaborate on what you expect to see here? From my understanding, since you are not seeding in `'print'` case, it inherits parent rng state, and thus always prints random values. So the output looks expected to me.

[2018-06-19 16:35] JC-S commented on #7318
I'm having the same problem. I've always loved pytorch and pycharm. Such a shame they don't work along well : (
Looking forward to updates.

[2018-06-19 17:04] timmeinhardt commented on #8651
I agree that the subprocess inherits the seed but I am resetting the seed of the subprocess with the `seed` or `all` command.
I expect the console output of `RETURN TORCH OBJECT` and `RETURN NONE` to be the same because the only difference is that I return a PyTorch object which should not have an influence on the randomization.

[2018-06-19 17:17] SsnL commented on #8651
Oh I see. My bad. I somehow thought that you are starting new subprocesses. Yeah this feels unintuitive. Could you try also building the tensor, but just not returning it when `return_torch=False`? It might help locate the issue.

[2018-06-19 17:23] timmeinhardt commented on #8651
Changing the corresponding lines to
[code]
results in the same output as above.

[2018-06-19 17:42] krylea opened #8656 "models trained on previous versions do not work correctly"
## Issue description

I have a sequence to sequence model trained with pytorch 0.3.0.post4. It gave reasonable outputs when queried at the time, and I have since downloaded the model onto my computer (which uses 0.3.1.post2) and still observe reasonable responses from the model.
The server this model was trained on was recently upgraded to pytorch 0.4, and since then the model produces nonsensical

[2018-06-19 17:51] SsnL commented on #8656
Maybe a list of type of layers used is a good start for us to debug. :)

[2018-06-19 17:57] krylea commented on #8656
The model is a standard naive sequence to sequence language model with Luong attention, using 1-layer GRUs as the base RNNs. Inputs are passed into an embedding layer, then an "encoder" RNN (1-layer bidirectional GRU). The output hidden state from this is then used as the initial hidden state for a "decoder" RNN (1-layer unidirectional GRU). The decoder is given a predefined token at each decoding

[2018-06-19 18:19] weiyangfb commented on #1875
Sounds like most Numpy-like ops have already been implemented, except for the `torch.mean()` for ByteTensors. Any reason why it is not supported?

[code]
mean is not implemented for type torch.HalfTensor
(torch.float32, tensor(5.5000))
(torch.float64, tensor(5.5000, dtype=torch.float64))
mean is not implemented for type torch.ByteTensor
mean is not implemented for type torch.CharTensor
mean is not

[2018-06-19 18:22] gchanan commented on #1875
CC @cpuhrsch.

It's not implemented because it was difficult to implement with the old torch libraries, but it should be feasible now.

[2018-06-19 18:29] ezyang commented on #8656
Even if the model is complicated, if you can post it in some sort of self-contained form, that would still be helpful.

If not, here are some things to try:

1. Get the model running on master, and see if it gives nonsense or not
2. Construct a test case that can distinguish between "correct" and "nonsense" outputs, and then bisect commits between 0.3 and 0.4 which cause problems
3. Dump the inter

[2018-06-19 18:52] SsnL opened #8659 "warn/error when using gradcheck with < float64 precision"
Should prevent error usages like https://github.com/pytorch/pytorch/issues/8649

[2018-06-19 18:53] SsnL commented on #8649
I'm closing this for now. But I opened an issue to warn/raise in gradcheck if input is not double precision at https://github.com/pytorch/pytorch/issues/8659.

[2018-06-19 19:17] weiyangfb commented on #440
What is the current status of this after 0.4's Tensor and Variable merging?

[2018-06-19 19:19] SsnL commented on #440
@weiyangfb A bunch of these still needs implementation. I promised long time ago that I would get to potrf, but still haven't got to it. :(

[2018-06-19 19:19] weiyangfb commented on #339
Has this been fixed already?

[2018-06-19 19:20] krylea commented on #8656
Hmm, it looks like it might actually just be some sort of issue with how the outputs are formatted now that is leading to unexpected results.

[2018-06-19 19:20] #8656 closed

[2018-06-19 19:46] Vedaevolution commented on #8485
@peterjc123  Sure i can. [Get it here](https://drive.google.com/open?id=1A5_l4TVpiVNlkdrjKh2yQxMfpeNV21ir)

[2018-06-19 19:53] cpuhrsch commented on #8359
Did you update/initialize all your submodules using `git submodule update --init`? It might also help to run 'python setup.py clean' and then try installing it again.

[2018-06-19 20:31] #8405 closed

[2018-06-19 20:35] fmassa commented on #339
I think this can be obtained with `torch.tensor`, but I might be misunderstanding the meaning of copy here

[2018-06-19 20:45] SsnL commented on #8626
it's really unsafe.
[code]

[2018-06-19 21:04] wanchaol commented on #8528
Note: for the min, max operator, we are matching the wrong schema when we are passing in two tensors (treating the second tensor operand as dim), this will depends on the Richards' changes as well.

[2018-06-19 22:13] Atcold commented on #8583
I'd say it should return `tensor.storage()[3]`.
`item` access the number contained in the `Storage`.
If the `Tensor` is `0` dimensional, then it returns the only value.
If the `Tensor` is not a scalar, then *i*-th `item` should give you the *i*-th item in the `Storage`.
At least to me this looks natural.

[2018-06-19 22:54] pietern opened #8672 "[c10d] Automatic discovery of IP addresses to use"
This is what THD does today by retrieving all non-loopback addresses of a machine and sharing them via the TCP init method or file init method. Then each node tries using them and picks the first one that works out.

This is nice because it works out of the box, including when a machine's hostname resolves to localhost.

We can leverage the store for this. Every machine writes its list of addresse

[2018-06-19 22:58] ngimel opened #8673 "bernoulli_ is very inefficient on the GPU"
bernoulli_ call has become very inefficient recently (may be #7578 is at fault?)

[code]
if a is gpu float or half tensor this expands to
1) fill a size-1 *double* tensor with p value (should not be neccessary, but ok)
2) expand this *double* tensor to size of a and materialize it (unnecessary expensive copy op)
3) generate *double* tensor filled with bernoulli-distributed vars (unnecessary use of

[2018-06-19 23:17] ngimel commented on #8673
Indeed, #7578
https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/Distributions.cpp#L152-L153
https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/Distributions.cpp#L143

[2018-06-20 00:16] fehiepsi commented on #8649
@SsnL I am pretty sure that the implement of `_batch_lowrank_mahalanobis` or `_batch_potrf_lower`,... is not quite relevant. I disable the Mahalanobis term, errors still happen. Instead of potrf_lower, I did `matrix.exp().tril()`, errors still happen. To me, the error is relevant to the combo of `expand`, `stack`,...

[2018-06-20 00:19] SsnL commented on #8649
@fehiepsi If you can come up with an small example that reproduces the issue on current github master, I can take a look tomorrow. Please try to just use pytorch ops, i.e. without distribution objects if you can.

[2018-06-20 00:21] fehiepsi commented on #8649
Yes, confirmed!
[code]

[2018-06-20 00:23] SsnL commented on #8649
Ha expand + select. Might actually be related to the other issue I am fixing #8626 . Thanks! I will look tomorrow.

[2018-06-20 01:18] HuaizhengZhang commented on #8588
@BIGBALLON Hi, have you installed the pyblind?

[2018-06-20 01:39] weiyangfb commented on #339
@fmassa Yeah, I agree. Maybe clarify a bit can be helpful cc @soumith @apaszke

[2018-06-20 02:11] #8077 closed

[2018-06-20 02:19] weiyangfb commented on #8365
I have a naive question: since we have `torch.tensor()` that does the same thing as `torch.LongTensor()`,  why do we need `torch.LongTensor()`? Or why not just make `torch.LongTensor()`a wrapper of `torch.tensor()`?

[2018-06-20 02:53] peterjc123 commented on #8485
@Vedaevolution And your `CMake` log files, please?

[2018-06-20 02:54] peterjc123 commented on #8485
It seems the FindCUDNN is bringing some wrong flags in the linking phase of `caffe2`.

[2018-06-20 03:00] KrnTneja commented on #3805
Same problem. Here is a quick script I used to solve the problem. Help for future visitors here! 😸

[code]
Run it as: `python remove_module.py --source <source pickle file> --dest <destination pickle file>`

[2018-06-20 05:19] coyuX commented on #4518
@harlyh can you elaborate more about the second step? I've tried the openmp but that didn't work for me.

[2018-06-20 06:00] fmassa commented on #8365
We need `torch.LongTensor` for backwards compatibility, but also note that there are a few differences between both constructors. Indeed, `torch.LongTensor` has the behaviour of `torch.tensor` and `torch.empty`, but doesn't support creating scalars

[2018-06-20 06:18] shuxiaobo commented on #8369
Sorry , I changed my code to another server, the error didn't show up for several days. thanks

[2018-06-20 06:53] jhmenke commented on #8154
This issue could be related to #8255
I will test the performance if i find a quiet hour this week.

[2018-06-20 08:01] crey0 commented on #8473
I am experiencing the same issue (although through tensorboardX which I think uses onnx).

Furthermore, after trying to export the model, simply calling model(x) results in the same exception again, somehow the model gets broken.

[2018-06-20 08:38] Nigel-Amers opened #8685 "Unknown CMake command "cuda_select_nvcc_arch_flags"."
- CMake version:3.5.1

[code]

CMake suite maintained and supported by Kitware (kitware.com/cmake).

[2018-06-20 08:42] Vedaevolution commented on #8485
Sorry for inconvenience, those should be the ones:

- [Error Log](https://drive.google.com/open?id=1ZkCmHDhtKe-nAVQEo-ChAMZUvThVWUQN)
- [Output Log](https://drive.google.com/open?id=12ZOdl-3sne6adDxyG7vpZdsbnec3crPv)

And what do i need to change?

[2018-06-20 09:48] samarthbhargav commented on #1917
:+1: to @hyperfraise. this creates a memory leak.

[2018-06-20 10:10] harlyh commented on #4518
When you unpack the intel-openmp zip you will get 3 folders, one of them is called bin.
Append full path to that bin folder to your environment variable called PATH
After that when you run command prompt and use either env or set commands you should see the path to that bin folder in the PATH=.... variable

[2018-06-20 11:13] Tezirg-Wrld3D commented on #8650
Actually found the problem:

[2018-06-20 12:39] AnirbanKisku commented on #4518
how to solve this?
I cannot import torch in python.

In [1]: import torch
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-1-eb42ca6e4af3> in <module>()
----> 1 import torch

~\Anaconda3\lib\site-packages\torch\__init__.py in <module>()
     74     pass
     75
---> 76 from torch._

[2018-06-20 13:04] ezyang commented on #8685
What commit are you building? This should be fixed on master. Alternately, try updating your version of cmake.

[2018-06-20 13:06] ezyang commented on #8605
Yeah, maybe. Still haven't had a chance to review the code careuflly.

[2018-06-20 13:08] fmassa opened #8686 "Split (with sizes) doesn't work with 0 sizes"
I'd expect that once we specify the sizes of the split, as long as they sum to the number of elements, they should work. But once we have zero in some of the split sizes, this doesn't hold anymore.

The following snippet illustrates the problem
[code]

The first error happens because of [this early break](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/TensorShape.cpp#L366), an

[2018-06-20 13:57] Nigel-Amers commented on #8685
I cloned the master code in the afternoon and tried it twice. I have compared the related modification method of the previous similar problem and the relevant code that need to be modified on master, but this problem still seems to have not been solved. I'll try to update cmake version again

[2018-06-20 13:59] soumith commented on #8685
@Nigel-Amers can you reproduce this in a docker image, if so I'll investigate further

[2018-06-20 14:12] Nigel-Amers commented on #8685
enn...I still have some unfinished work at the moment. If the problem is not solved after update camke, I will upload docker image as soon as possible. Thank you very much for your reply.

[2018-06-20 15:11] ezyang commented on #8577
Yes, I think that should be doable. We can add logic to `setUp` and `tearDown` to check if there are any warnings and fail the test if so. Then, tests explicitly swallow warnings when relevant.

[2018-06-20 15:18] #8369 closed

[2018-06-20 15:34] zou3519 opened #8690 "[docs] tensor.add doesn't describe overloads"
`torch.add` describes the overloads while `tensor.add` just has a `add(value)` function. We should make a note that these overloads exist and possibly redirect to `torch.add`.

[tensor.add docs](https://pytorch.org/docs/master/tensors.html?highlight=tensor%20add#torch.Tensor.add)
[torch.add docs](https://pytorch.org/docs/master/torch.html?highlight=torch%20add#torch.add)

Originally reported here:

[2018-06-20 15:43] SsnL commented on #8685
I might know what's going on.

In the `build_torch_libs.sh`, we have `CMAKE_MODULE_PATH=/home/amers/pytorch/cmake/FindCUDA`, a now non-existent path. So our custom `FindCUDA.cmake` is not used. If users have older versions of `FindCUDA.cmake`, I think this might happen.

In #8615 , I tried to make it pointer to our custom `FindCUDA.cmake`. However, it uses `sccache` on our CI and has some (yet) un

[2018-06-20 15:44] SsnL commented on #8673
fixed via #8682

[2018-06-20 15:44] #8673 closed

[2018-06-20 15:50] ezyang commented on #8685
Here's another idea: rename `FindCUDA.cmake` to something else :)

[2018-06-20 16:01] SsnL commented on #8685
@ezyang Then it will be still be an hard error if we don't supply the proper `CMAKE_MODULE_PATH`. I guess we need to figure out how to let NCCL build use our `FindCUDA.cmake` (or whatever it will be called).

[2018-06-20 16:04] SsnL commented on #8626
two more instances
[code]

[2018-06-20 16:15] zou3519 opened #8692 "nn.init.eye_ sets requires_grad to False on tensors"
repro:
[code]

Initially reported from https://discuss.pytorch.org/t/since-0-4-using-nn-init-eye-disables-gradient/19999/2

[2018-06-20 16:17] #8484 closed

[2018-06-20 16:18] yf225 commented on #8685
@SsnL To disable `sccache` when building NCCL, we can try to remove `/opt/cache/bin/` from PATH and also set `CUDA_NVCC_EXECUTABLE` to empty or `$(which nvcc)` in https://github.com/SsnL/pytorch/blob/master/tools/build_pytorch_libs.sh#L197, and set them back when NCCL build is done. If this doesn't work well I can also dig into what's going on between `sccache` and NCCL build.

[2018-06-20 16:23] #8659 closed

[2018-06-20 16:29] zou3519 opened #8693 "torch.nn.functional.grid_sample should throw error for invalid mode"
The only valid mode is 'bilinear', but one can pass anything to it and it will not complain:
[code]

[2018-06-20 16:34] zou3519 opened #8694 "Remove "Variable" from torch.cat error message"
[code]

initially reported from https://discuss.pytorch.org/t/bad-error-message/19828

[2018-06-20 16:53] #7743 closed

[2018-06-20 17:29] Naman-ntc commented on #8694
Also it says that `got tuple instead`, torch.cat takes tuple as argument!?
So that is even more confusing, it should maybe say something like `tuple elements should be tensors` or on that lines!

[2018-06-20 17:36] vishwakftw commented on #8694
This was fixed in #8309 .

[2018-06-20 17:39] #8694 closed

[2018-06-20 17:41] vishwakftw opened #8698 "[docs] Argument names in docs don't match those actually taken by function"
## Issue description
A bunch of functions have this behaviour. Please check the script below. The functions in the script might not be exhaustive.

EDIT: Around 40 functions have this issue.
[code]

## Code example
[code]
## System Info
- PyTorch or Caffe2: PyTorch
- How you installed PyTorch (conda, pip, source): source (5ca4f5b)

[2018-06-20 17:44] vishwakftw commented on #8693
Apparently, the `mode` is not passed to the backend function for `grid_sample`. I think it should be removed.

[2018-06-20 17:56] zou3519 commented on #8693
Yes. I think the idea is that we'd like to support other modes at some point.

[2018-06-20 18:41] bhavesh2109 commented on #8692
Hey,
All the initialisation methods set the requires_grad to False. All the initialisers return the tensors with the torch.no_grad method. Is this intended?

https://github.com/pytorch/pytorch/blob/dc0faab18dd5296b66dfb00776253062def87fdf/torch/nn/init.py

[2018-06-20 18:49] simon555 commented on #7961
up ?

[2018-06-20 18:49] soumith commented on #8692
It's not all, afaik.

[2018-06-20 19:03] SsnL commented on #7961
@edchengg Yes `model.forward()` sets it to training mode. However, the `generate_soft_embed` (`sample_soft_embed` in particular) is still run in eval mode. If you look at https://github.com/wiseodd/controlled-text-generation/blob/master/train_discriminator.py#L107-L121, `x_gen_attr` is from eval mode RNN and is used as G's loss. Hence backward fails.

[2018-06-20 19:04] bhavesh2109 commented on #8692
Hey Soumith, all the init methods in the link(https://github.com/pytorch/pytorch/blob/dc0faab18dd5296b66dfb00776253062def87fdf/torch/nn/init.py) seem to use the torch.no_grad method before returning. Please correct me if I'm wrong. Thank you!

[2018-06-20 19:08] simon555 commented on #7961
@SsnL
I get the same error when I use the train() mode :

def train_epoch(self, iter, loss, optimizer, viz, win, TEXT, infoToPlot=None):
        self.train()
        self.trainingBatches=0

        train_loss = 0
        nwords = 0

        hid = None
        batch_id=0
        for batch in tqdm(iter):
            self.trainingBatches+=1

            if hid is not None:
                hid[0].deta

[2018-06-20 19:09] #7818 closed

[2018-06-20 19:11] SsnL commented on #7961
@simon555 Can you post a self-contained example? It's hard to judge what is wrong from just a method.

[2018-06-20 19:11] goodlux commented on #8529
Ok, I had a minute to debug this. It turns out that the \left and \right don't seem to make any visual difference in Katex, and also they are expressed "\left." "\right.", with a period.

So I did this:

.. math::
    D_{out} =
    \lfloor
    \frac
    {D_{in} + 2 * {padding}[0] - {dilation}[0]
      * ({kernel\_size}[0] - 1) - 1}
    {{stride}[0]} + 1
    \rfloor

Which renders:

<img width="593

[2018-06-20 19:13] vishwakftw commented on #8692
Operations done in context of `no_grad` are not recorded in the autograd history for computing the gradients. This will not affect the initialization.

[code]

[2018-06-20 19:13] simon555 commented on #7961
Sure!

I am working on Language Model, here is my model  :

[2018-06-20 19:14] SsnL commented on #8529
@goodlux This seems weird as the Katex doc claims them to be working: https://khan.github.io/KaTeX/function-support.html (Delimiter Sizing section).

[2018-06-20 19:16] simon555 commented on #7961
And here is my training loop   :

`for epoch in range(args.epochs):
        print("Epoch {}, lr {}".format(epoch, optimizer.param_groups[0]['lr']))
        train_loss, train_words = model.train_epoch(
            iter=train_iter, loss=loss, optimizer=optimizer,infoToPlot=infoToPlot, viz=viz, win=win, TEXT=TEXT)
        valid_loss, valid_words = model.validate(valid_iter, loss, infoToPlot=infoToPlo

[2018-06-20 19:17] #8692 closed

[2018-06-20 19:22] SsnL commented on #7961
@simon555 You only set training mode before the loop, but set eval mode in `generate_predictions`, which is called in the middle of the loop. So iterations after `generate_predictions` will fail.

[2018-06-20 19:39] simon555 commented on #7961
Thank You @SsnL !!!! :)

[2018-06-20 19:42] bhavesh2109 commented on #8692
@vishwakftw : Thanks for the explanation!

[2018-06-20 19:46] SsnL commented on #8649
@fehiepsi Confirm will be fixed by the patch I'm working on. But that may take 1 or 2 more days. If you need this now I can separate the fix for this into a small patch. let me know!

[2018-06-20 20:05] ezyang opened #8707 "pyHIPIFY hangs if you run it as root"
Steps to reproduce:

1. `docker run -it 308535385114.dkr.ecr.us-east-1.amazonaws.com/caffe2/py2-clang3.8-rocmnightly-ubuntu16.04:126` (note that you are running as root)
2. git clone PyTorch
3. `jenkins/pytorch/build.sh`

It hangs at:

[code]

It works if I am jenkins user (e.g., pass `-u jenkins` to docker invocation)

[2018-06-20 20:58] wanchaol commented on #8528
Note: for split in [tensor](https://github.com/pytorch/pytorch/blob/master/torch/tensor.py#L264), we have split and split_with_sizes depending on the type of split_size, currently in script we could not be able to match the schema with split_with_sizes when providing an intList. This applies with other functions like index_add, index_fill, etc. We need to find a generic way to support them after @

[2018-06-20 21:07] protossw512 opened #8710 "Incorrect calculation for torch.nn.MSELoss"
## Issue description
torch.nn.MSELoss seems to get inaccurate calculation when size_average=True and reduce=True

## Code example

For tensors of 0.1's and 0's, the desired output should be 0.01. (0.1 - 0)^2 = 0.01.
I can get correct result by code below:
[code]

However, if I do something like below, I get inaccurate results:
[code]

But when I turned off size_average and reduce and calculate mea

[2018-06-20 21:21] W4ngatang opened #8712 "segfault with PyTorch + fastText"
When I import PyTorch and fastText (either order), I get a segmentation fault.

**Versions**:
CentOS 7.5.1804
Python 3.6.5 (conda 4.5.0)
PyTorch 0.4.0, installed through conda
fastText 0.8.22, installed from source (from [these instructions](https://github.com/facebookresearch/fastText#building-fasttext) for python)

Stacktrace from gdb:
[gdb.txt](https://github.com/pytorch/pytorch/files/2121150/g

[2018-06-20 21:31] ezyang commented on #8410
I reread the new proposal in preparation of reviewing the code, and I am still nervous about the poisoning semantics because I don't understand, semantically, what the poison operations mean. As in, imagine this were an actual programming language, and you had to explain what each op means, in terms of runtime semantics. What does `UndefToPoison` mean, at runtime?

[2018-06-20 21:36] jamesr66a opened #8714 "[JIT] Improve error message for reassigning to a module-typed variable"
https://github.com/pytorch/pytorch/pull/8668#discussion_r196613240

[2018-06-20 21:37] jamesr66a opened #8715 "[JIT] Python value resolution broken for calling functions from script modules"
[code]

[2018-06-20 21:38] soumith commented on #8712
pytorch is compiled with gcc 4.9.
fasttext is likely compiled with gcc 4.8, and is loading a stdc++ symbol that has a different ABI than pytorch expects.....

[2018-06-20 21:40] jamesr66a commented on #8715
Note, this only seems to break when we're not at global scope. The following works:

[code]

The following doesn't:
[code]

[code]

[2018-06-20 21:43] soumith commented on #8712
actually, from the stack-trace, it looks like they are conflicting on `tbb` symbols.

On PyTorch master branch, tbb has been removed, so you can compile pytorch from source and it should be good.

[2018-06-20 21:43] #8712 closed

[2018-06-20 21:44] jamesr66a opened #8716 "[JIT] Traced and Script modules are not properly inlined into script functions"
[code]

[2018-06-20 21:46] #7961 closed

[2018-06-20 22:17] fehiepsi commented on #8649
@SsnL Thanks! Just take your time. It is not necessary for the mvn implementation now because it might just affect the gradcheck test.

[2018-06-20 22:38] SsnL commented on #8529
@goodlux I just tried, and it seems that KaTeX requires manually escaping underscore even in \text. Can you try that, i.e., using `\text{kernel_size}`

[2018-06-20 22:41] SsnL commented on #8710
Actually it is `0.01` and `0.00983`. But still, it should definitely be more accurate.

[2018-06-20 22:46] SsnL commented on #8710
cc @zou3519 who did reduce for MSE

[2018-06-21 00:05] wanchaol opened #8724 "[JIT] Don't support default values for Def arguments in the script"
Test fails because we are using default values for arguments in the script. Example failure:

[code]

[2018-06-21 02:14] PeterXiaoGuo commented on #1249
@IssamLaradji  Hi, I read your post and I still face a problem that what's the shape of input and target?

I try to feed it in shape of (# of batch size, channel = 1, width, height) and find that dice_loss is larger than 1. Should I feed set batch_size = 1 during each dice loss calculation?

Besides, when I calculate the dice loss, should I divide it by 2, as @rogertrullo  mentioned divided by the

[2018-06-21 03:02] ezyang opened #8729 "nccl build: nvcc fatal : redefinition of keyword 'code'"
Steps to reproduce:
1. Get a CI CUDA docker image, e.g., `30853
5385114.dkr.ecr.us-east-1.amazonaws.com/pytorch/pytorch-linux-xenial-cuda9-cudnn7-py3:218`
2. Clone PyTorch, and run `python setup.py build_deps develop`

Expected result: It works

Actual result:
[code]

Workaround: set `TORCH_CUDA_ARCH_LIST=5.2` forces only one `-gencode` to be passed.

[2018-06-21 03:04] ezyang commented on #8729
CC @SsnL; is this the nccl+sccache problem you were seeing?

[2018-06-21 03:13] edubois opened #8730 "[caffe2] AffineChannelOp"
Hi,

If I use a SpatialBN (spatial batch normalization), when using the net in production, do I need to put a AffineChannelOp or is setting the flag is_test to true enough?

What do you advise? If I need to use an AffinChannelOp, how to do this?

Thanks a lot for anybody helping me.

[2018-06-21 03:46] zou3519 commented on #8712
@soumith there were two stack traces in there. The first one is from tbb (could be conflicting symbols, but tbb does this thing where it re-catches an exception... when debugging in gdb I had to continue past the first exception). The second stack trace is
[code]
which looks like a pybind11 problem. Do you know if this is the pybind11 namespacing problem that is fixed?

[2018-06-21 03:51] twmht opened #8734 "[caffe2] how to specify cudnn install directory"
I am trying to install caffe2.

But my cudnn is located at /opt/cudnn

how to specify this location when running cmake?

[2018-06-21 03:54] zou3519 commented on #8710
I don't know off of the top of my head why the accuracy would be bad, but we will definitely look into this.

[2018-06-21 04:04] protossw512 commented on #8710
@SsnL yeah, it is 0.00983, I did a typo and thanks for pointing out.

[2018-06-21 04:37] vince62s commented on #5805
any update on this ?

[2018-06-21 05:09] SsnL commented on #8729
cc @yf225 has the exact error. CI log doesn't actually post the error.

[2018-06-21 05:16] yf225 commented on #8729
sccache probably doesn't allow passing multiple `-gencode` right now, I can look into it if needed.

[2018-06-21 06:05] bstriner opened #8736 "README should link to new cpp_extension"
Section titled "Extensions without Pain" (in main README.md) should probably include some links to cpp_extension.
- Currently just links to: https://pytorch.org/tutorials/advanced/c_extension.html
- Should also link to: https://pytorch.org/tutorials/advanced/cpp_extension.html

@goldsborough Since cpp_extension is your thing, any thoughts about how to update the description in the README? It might

[2018-06-21 06:45] goldsborough commented on #8736
Thanks for reporting! The C extension references should actually just be replaced in favor of C++ extensions altogether.

[2018-06-21 08:21] 0phoff opened #8741 "[Feature Request] Add to() method for optimizers/schedulers"
I think the optimizers and schedulers could use some extra work.
The main thing I would love, is for optimizers and schedulers to have a `to()` method so we can send their parameters to a certain device. This would allow us to save the parameters and reload them at a later stage without any problems.

Right now, the following script crashes with an error that the optimizer expects a `torch.FloatTe

[2018-06-21 12:43] vishwakftw commented on #8741
This is because `network.parameters()` is on the CPU, and `optim` has based on those parameters. When you do `network.to(torch.device('cuda'))` the location of the parameters change, and are the same as the ones that `optim` was instantiated with.

If you do re-instantiate `optim`, the optimizer will work correctly.

[2018-06-21 13:05] peterjc123 commented on #8485
It seems the `caffe2::cudnn IMPORTED_LOCATION` is not properly set by the `find_library` in `cmake\Modules\FindCuDNN.cmake` L33-39? @Vedaevolution, did you manually set the environmental variable `CUDNN_LIBRARY`? If not, then it's something wrong with the CMake script there.

[2018-06-21 13:48] #8736 closed

[2018-06-21 14:05] anderspapitto commented on #8553
the relevant code no longer exists

[2018-06-21 14:05] #8553 closed

[2018-06-21 14:37] isalirezag opened #8745 "possible bug? ToPILImage() does not work for batches>1 and dimension more than 3D"
Im using the ToPILImage() to conver an image from tensor to numpy and possibly show it or save it etc
I noticed that I need to do `squeeze` or manually make the input to be 3D, other wise the  `ToPILImage` does not works.

[code]

wornt work and i have to do:

[code]

Can you please fix this bug?

[2018-06-21 14:45] vishwakftw commented on #8745
Please post this issue in the `vision` repository.

[2018-06-21 14:50] 0phoff commented on #8741
But the point is I want to be able to continue training exactly where I left off, so this also means reloading the exact parameters of the optimizers/schedulers.

Reinstantiating would mean I lose those params right?
Implementing a `to()` method would allow more freedom in saving and loading these weights. (eg. starting the training on one devices, and at a later stage continuing on a different on

[2018-06-21 14:56] ezyang opened #8746 "test_lstm_fusion_cpu is flaky"
Sample failure:

[code]

https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-trusty-py3.6-gcc7.2-test/8640//console

[2018-06-21 15:47] zou3519 commented on #8710
Leaving this here for my reference
[code]

[2018-06-21 15:55] zou3519 commented on #8710
Okay the problem is that MSELoss with reduce=True is accumulating into float instead of double. This may be true with the other losses as well, I am going to take a look. I'll put a fix out soon.

[2018-06-21 15:56] SsnL commented on #8710
@zou3519 should we use `accreal` or `double`?

[2018-06-21 16:05] soumith commented on #8710
`accreal`

[2018-06-21 16:58] #7913 closed

[2018-06-21 16:58] #4119 closed

[2018-06-21 17:59] #6669 closed

[2018-06-21 18:02] gchanan commented on #5777
Presumably this would involve fixing dense -> sparse copy (https://github.com/pytorch/pytorch/issues/8331 and https://github.com/pytorch/pytorch/issues/8330?) and then making sure these are hooked up to the proper tensor constructors (that currently live in `tensor_new.cpp`)

[2018-06-21 18:07] goldsborough commented on #5777
It would be nice if the person implementing this could then also add the `to(Layout)` overload to `at::Tensor`. There is already test code in `test/cpp/api/tensor.cpp` to test this, just needs to be uncommented once it works :)

[2018-06-21 18:14] gchanan commented on #5777
I should also note that we've gotten rid of `layout` in `torch.tensor`, `torch.new_tensor`, the only constructor for sparse dtypes currently is `sparse_coo_tensor`; we probably want another overload that takes a single dense representation.

[2018-06-21 18:15] gchanan commented on #5777
Yes, but we probably don't want to expose that until both dense -> sparse and sparse -> dense are working; I don't know if the later is working right now, but that may be a separate issue.

[2018-06-21 18:24] wanchaol opened #8751 "[JIT] Str aren't supported in print"
randomly print any string in the script func will fail

[code]

[2018-06-21 18:46] #1413 closed

[2018-06-21 18:49] goldsborough commented on #8036
Hi @dashesy, this is mentioned in [the tutorial](https://pytorch.org/tutorials/advanced/cpp_extension.html):
![screen shot 2018-06-21 at 11 48 09](https://user-images.githubusercontent.com/6429851/41739156-13d63114-7549-11e8-958e-17c18ecc3242.png)
Let us know if you run into any more issues.

[2018-06-21 18:49] #8036 closed

[2018-06-21 19:09] dashesy commented on #8672
I have had `init_method=file://` hung on machines with many network adapters (some IB, some docker, ...).
This is why `NCCL_SOCKET_IFNAME` could be quite life-saving. Perhaps can you have a `PYTORCH_SOCKET_IFNAME` to avoid touching the network adapters that do not resolve at all (and thus hang)?

[2018-06-21 19:19] jamesr66a opened #8755 "[JIT] Weird ArgumentStash bug"
Example:
[code]

The trace of the base module fails with:

[code]

Stack trace:

[code]

[2018-06-21 19:43] yf225 commented on #8348
@Fuchai @abaisero Could you try adding the path to the correct compiler to `PATH`? It's not the ideal fix, but it would help with providing more info about where the bug is. Thanks!

[2018-06-21 19:44] t-vi commented on #8212
So I looked somewhat further (unfortunately, I first did the easy "surely OK" cases that aren't that useful by themselves).
One thing that I wondered about: Given that GCC and Clang support int128, would you accept a full implementation that uses those (MSVC doesn't support int128, so they would miss out without further dependencies)?

[2018-06-21 19:47] zou3519 commented on #8528
test_max_scalar_elementwise_broadcast_rhs
test_min_scalar_elementwise_broadcast_rhs
are now fixed; the split tests aren't.

[2018-06-21 19:48] zou3519 commented on #8513
Yes, all of these are now fixed with #8687

[2018-06-21 19:48] #8513 closed

[2018-06-21 19:49] apaszke commented on #8212
Why would we need int128 though? We never want to go down the path of solving those equations I think, we just want the rough common-case heuristics

[2018-06-21 19:49] zou3519 commented on #8514
I was able to renable the tests in #8687 but I'm not sure why my changes would have fixed these. It's probably worth looking at this again.

[2018-06-21 19:56] zou3519 opened #8757 "[JIT] Allow scalar tensors as arguments to functions that take"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

Provide a short description.

## Code example

Please try to provide a minimal example to repro the

[2018-06-21 19:56] t-vi commented on #8212
OK. I wanted to solve them. But then I'll restrain myself.

[2018-06-21 20:03] zou3519 opened #8758 "[JIT] Add bool type to the schema (fix torch.var)"
`torch.var` and `torch.std` in jit script exhibit incorrect behavior.

[code]

This is because of the following:

there are two schemas for var (and std):
(1) var(Tensor, int, *, bool, bool, Tensor)
(2) var(Tensor, *, bool)

Right now, the following is happening:
- Shorter schemas come before longer schemas
- bool, int are treated as IntType rather than DynamicType like before
So the schemas look

[2018-06-21 20:03] ptrblck commented on #8686
@gchanan
Would it be possible for me to have a look at it, since I've implemented the python code a while ago?
Or are you already working on it?

[2018-06-21 20:05] zou3519 opened #8759 "[JIT] Handle python logical operators in script"
Things like `1 and 3`, etc.

[code]

[2018-06-21 20:06] zou3519 opened #8760 "[JIT] Add peephole to delete unnecessary type_as."
Context: #8687

This peephole should be probably be run on specialized graphs (in an unspecialized graph, it is hard to tell if a type_as is unnecessary).

[2018-06-21 20:07] zou3519 opened #8761 "[JIT] Clean up math handling code"
Context: #8687

I quote,
"we should clean up the math handling code. Instead of using if statements on types, we can just register additional builtin ops like add and le. Including rdiv style ops to handle the reverse cases. This will make it easier to see how math is getting emitted and ensures the math functions always go through the same type-conversions as built in functions."

[2018-06-21 20:07] abaisero opened #8762 "Size mismatch issues with log_sum_exp when keepdim=False"
## Issue description

I've encountered two issues with `torch.distributions.utils.log_sum_exp` when using `keepdim=False`.

When the input tensor has 2 dimensions, `log_sum_exp` returns a tensor with the wrong shape (the correct output seems to be contained as the diagonal of the returned tensor;  I'm not sure what the off-diagonals represent, if anything).  In this case, a temporary workaround is

[2018-06-21 20:09] zou3519 opened #8763 "[JIT] Support mixed int/float math in python"
[code]

Blocked by #8560

[2018-06-21 20:11] zou3519 opened #8764 "[JIT][script] Support non-tensor arguments and returns in functions"
[code]

And

[code]

[2018-06-21 20:12] #8757 closed

[2018-06-21 20:14] zou3519 commented on #8762
Use https://pytorch.org/docs/master/torch.html?highlight=logsumexp#torch.logsumexp instead. It should be available on 0.4.

torch.distributions.utils.log_sum_exp is an internal function.

[2018-06-21 20:15] abaisero commented on #8348
In my case, the path to the correct compiler is already at the beginning of `PATH`.

[2018-06-21 20:32] abaisero commented on #8762
I kinda suspected as much after opening the issue.  v0.4.0 does not have logsumexp;  Is it viable for me to use log_sum_exp with the above workarounds?  The alternative would be installing a more recent unstable version from source but I'm doubtful about doing that and would rather avoid it.

[2018-06-21 20:41] abaisero commented on #8762
Another workaround:

[code]

I'll probably stick to one of these workarounds;  thanks!

[2018-06-21 20:41] #8762 closed

[2018-06-21 20:48] fmassa commented on #8686
The fix on the python side is fairly easy. Here is a quick (python) implementation (but beware that I might have missed I few checks):

[code]

[2018-06-21 20:51] ptrblck commented on #8686
@fmassa I would start with this code and run a few tests. Since I would like to familiarize myself with the C-API, I think it could be a good starter. What do you think?

[2018-06-21 20:54] W4ngatang commented on #7083
I'm running into the same issue of building with the system MKL install instead of the conda version.

I tried `export CMAKE_PREFIX_PATH=...` (set to my conda installation) but it didn't work. In particular, in the build summary the variable was empty. I added the following to CMakeLists.txt (top level)
[code]
and the build summary seemed to register that `CMAKE_PREFIX_PATH` was being set, but it

[2018-06-21 21:00] soumith commented on #7083
@W4ngatang do you have `mkl-include` in `conda list`?

[2018-06-21 21:04] Vedaevolution commented on #8485
@peterjc123  I did not change any environement variable concerning cuda. It is strange an error like that appears even though the folder is generally found. I also have no other problems with cuda or cudnn. It's just with this build process.

I try your fix when it's in master.

[2018-06-21 21:16] fmassa commented on #8686
I think having a look where the function is implemented in cpp would be simpler, it might just require a few changes (typing from my phone, or else I'd send you the place in the cpp code where this is implemented)

[2018-06-21 21:19] gchanan commented on #8686
you can take a look; if you require n-dimension empty tensors (i.e. tensors with shape [....0,...]) you won't be able to do it currently, though.

[2018-06-21 21:19] W4ngatang commented on #7083
yea, `mkl` and `mkl-include`, both v2018.0.3

[2018-06-21 21:39] fmassa commented on #8686
Ideally we would want that, or else we would need to modify this function again in the future to make it consistent

[2018-06-21 22:16] ptrblck commented on #8686
I've found `split` [here](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/TensorShape.cpp#L332) and `split_with_sizes` [here](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/TensorShape.cpp#L354).
The latter one seems to be causing the error.

[2018-06-21 22:36] wanchaol opened #8769 "[JIT] IntList arguments for call are not valid"
After PR #8687, we are unable to define something like this:

[code]
The problem is that we are now treating the IntList as a listOfInt, but input.size(0) returns a Dynamic, so it will throw up errors like:

[code]

Currently we seems not doing the TensorToNum if we are into this case. @zou3519 do you have any suggestions on how this could be fix?

[2018-06-21 22:41] #8745 closed

[2018-06-21 22:55] wanchaol opened #8771 "[JIT] Don't support varargs in script"
When scripting, we could not support varargs, like:

torch.zeros(97, 51, dtype=torch.double)

we must do it as:
torch.zeros((97,51), dtype=torch.double)

And likewise could not support
x.view(3, 4)

#7444 is trying to resolve it, but outdated and need to rebase and resolve conflicts.

[2018-06-21 22:56] wanchaol commented on #8452
Track some potential issues when scripting Time-sequence prediction:
[#8724 Don't support default values for arguments in the script](https://github.com/pytorch/pytorch/issues/8724)
[#8751 Str aren't supported in print](https://github.com/pytorch/pytorch/issues/8751)
[#8769 IntList arguments for call are not valid](https://github.com/pytorch/pytorch/issues/8769)
[#8771 Don't support varargs in scr

[2018-06-21 23:01] sleepinyourhat commented on #8712
Jumping in (@W4ngatang and I are working on the same project/cluster)—we're having unrelated issues building on the relevant cluster. Were any recent-ish older releases of PyTorch built with 4.8?

[2018-06-21 23:16] SsnL opened #8774 "[pytorch] calling t.grad_fn() segfaults"
[code]

expects to see `.... not callable`,

[2018-06-21 23:18] wanchaol opened #8775 "[JIT] Don't support dynamic args in torch.chunk"
Currently chunk argument (num_chunks) must be a constant, but in some case we want to support it as python native:

[code]

Here is the failure

[code]

[2018-06-22 00:15] wanchaol opened #8777 "[JIT] type annotations is not descending to the python signature of nn.LSTMCell after instantiazation"
After we initialize a nn.LSTMCell and run the instance by passing the input like:
[code]

The type annotation for the instance func we called [1](https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/script/init.cpp#L50) [2](https://github.com/pytorch/pytorch/blob/master/torch/jit/annotations.py#L62) get no signature (which falls back to the default_signature), source/typeline is None.

Mi

[2018-06-22 00:24] wanchaol opened #8778 "[JIT] Don't support pass tuple in a PythonOp"
We could not pass tuple to a PythonOp, the interpreter will complains [here](https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/script/init.cpp#L74) for not accepting tuple.

[code]

Mitigate:
Wrapper func outside script func to avoid tuple being analyzed by the jit script

[2018-06-22 00:30] #8685 closed

[2018-06-22 00:41] JavisPeng commented on #7318
This is really strange when I used the same code in the python console with pycharm, it is normal, but in the editor. O__O "…

[2018-06-22 01:59] zou3519 commented on #8769
I think the problem might be that `input.size(0)` is giving a DynamicType instead of an IntType.

[2018-06-22 02:01] zou3519 commented on #7318
Going to bump the priority on this because a lot of users have been requesting this... we'll try our best to look into it more.

[2018-06-22 02:12] aliceyayunji commented on #8193
It is the problem of gcc version, I reinstalled gcc to 5.4.0 and everything is OK, thanks.

[2018-06-22 02:12] #8193 closed

[2018-06-22 02:43] zasdfgbnm opened #8781 "Build system can not find cuda correctly"
## Issue description
I'm building with
[code]

Part of the build are able to find cuda correctly, but other part have trouble finding cuda:
[code]

The more detailed output (some useless lines deleted) is
[code]

The full log can be found at https://gist.github.com/zasdfgbnm/4530a36ece21c2a082e4d5695da3e196

## System Info
[code]

[2018-06-22 06:22] justinchiu commented on #8729
Seeing this exact error when building for arches 5.2 6.1 and 7.0 (on centos 7.1, gcc 7.1, cuda 9.2), is there a workaround that doesn't only emit code for a single arch (and without changing gcc versions)?

[2018-06-22 06:52] ekostem commented on #8781
Same problem with gcc 5.4.0
[code]

[2018-06-22 07:20] patrickpoirson commented on #8012
I have the same question. @mkummer225  did you have any luck with doing (a)?

[2018-06-22 09:22] danache opened #8785 "[caffe2]Insufficient cuda driver. Cannot use cuda"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

## Issue description

I build caffe2 with python 3.5, cuda 9, cudnn 7 with Driver Version: 390.30:

but when I try to run this line

`python caffe2/python/operator_test/relu_op_test.py`
the out message shows that

0622 16:52:53.349123 55004 common_gpu.cc:46] Insufficient cuda driver. C

[2018-06-22 10:21] awaelchli opened #8786 "linspace error with device='cuda' option"
Hello,
Using `torch.linspace` with the `device='cuda'` option gives an error.

## Code example
[code]
Error message:
[code]

## System Info
- PyTorch installed with pip
- PyTorch version: 0.4
- Python version: 3.6
- CUDA/cuDNN version: 8.0

[2018-06-22 10:21] danache commented on #6551
@3bobo hey ,do you solve this problem?I encounter the same problem just as you.I have two cuda directory

[2018-06-22 10:44] PhilippPelz commented on #755
I think he meant C10, not complex support. C10 is going to make adding complex easier. That's how I understood it.

[2018-06-22 11:20] fehiepsi commented on #6838
I checked the LBFGS implementation and saw that it is consistent with the algorithm in the text. In addition, I cannot replicate the old behavior of the above notebook (due to using the new version of pytorch/pyro). In the future, if I met this problem again, I will open the issue.

[2018-06-22 11:20] #6838 closed

[2018-06-22 11:35] zuoxingdong opened #8787 "[Installation] Failed to compile PyTorch on IBM Power architecture with CUDA 9.2"
I am using IBM Power 8 architecture (ppc64le) with CUDA 9.2 and latest cudnn and nvcc. Since none of this supported with conda or pip install yet, the installation is tried with build from source instruction. It leads to the following error

[code]

[2018-06-22 12:44] john7002 opened #8788 "[CAffe2] Issue compiling with Cuda 9.2, YellowFinOp error"
## Issue description
Hello,

I try to compile caffe2 on my computer ( Ubuntu 17.1), but I still get this error during linking:

[code]

Here is my system summary:
-- General:
--   CMake version         : 3.9.1
--   CMake command         : /usr/bin/cmake
--   Git version           : v0.1.11-9044-g9c426797a
--   System                : Linux
--   C++ compiler          : /usr/bin/c++
--   C++ compile

[2018-06-22 12:59] vishwakftw commented on #8786
This is related to #1070 .

[2018-06-22 13:13] Rhythmblue opened #8789 "nn.AdaptiveMaxPool3d does not support tuple composed by None"
## Issue description
Doc of  [torch.nn.AdaptiveMaxPool3d](https://pytorch.org/docs/stable/nn.html#adaptivemaxpool3d):
output_size – the target output size of the image of the form D x H x W. Can be a tuple (D, H, W) or a single D for a cube D x D x D. D, H and W can be either a int, or None which means the size will be the same as that of the input.

The option of (7, None, None) cannot work on 0.

[2018-06-22 13:49] soumith commented on #8787
@zuoxingdong where do you have your CUDA located?

Can you make add an environment variable `CUDA_HOME` to point to your cuda root directory?

[2018-06-22 13:51] soumith commented on #755
Yes, C10 will have open registration of both Tensor types and functions. So adding a complex type as a separate package will be much easier.

[2018-06-22 14:03] zuoxingdong commented on #8787
@soumith Here is the return

[code]

[2018-06-22 14:07] SsnL commented on #8789
Fixing at #8596 !

[2018-06-22 14:09] soumith commented on #8787
that's strange.
Can you please give me a full build log of:

[code]

[2018-06-22 14:12] zuoxingdong commented on #8787
[code]

[2018-06-22 15:52] V-o-y-a-g-e-r commented on #7763
Okay so how to use it then?

[2018-06-22 15:58] ezyang commented on #7763
Just get a recent enough master and it will work.

[2018-06-22 16:21] pietern commented on #8672
@dashesy Thanks for the comment!

If you end up using gloo with THD today, you're right there is no way to select the interface you want to use. For c10d this is opposite; you have to select the interface or address. This is also why I added this issue, because it is not a great out of the box experience to have to specify an interface.

In the case where you would opt out of automatic detection,

[2018-06-22 16:40] vishwakftw opened #8790 "Fatal error: THC/THC.h: no such file or directory"
## Issue description

I am trying to build from source with NO_DISTRIBUTED=1, and this error appears and the build is terminated. [Here](https://gist.github.com/vishwakftw/cf8d17f1e8dd50866488df9bdb4ca175) is the complete compilation log.

This occurred with a fresh clone of my fork https://github.com/vishwakftw/pytorch

## System Info
- PyTorch or Caffe2: PyTorch
- How you installed PyTorch (cond

[2018-06-22 17:03] isalirezag commented on #6932
This error still exist in pytorch 0.4

[2018-06-22 17:04] SsnL commented on #6932
@isacarnekvist Yes it is fixed after 0.4

[2018-06-22 17:15] isalirezag commented on #6932
@SsnL I am still getting it...

[2018-06-22 17:16] soumith commented on #6932
@isalirezag did you build pytorch from source? It was fixed after 0.4 is released, so it will be in the next pytorch release.

[2018-06-22 17:29] #7884 closed

[2018-06-22 17:29] SsnL commented on #8789
Fixed via #8596

[2018-06-22 17:29] #8789 closed

[2018-06-22 17:33] SsnL commented on #8120
fixed via #8344

[2018-06-22 17:33] #8120 closed

[2018-06-22 17:36] avmgithub commented on #8787
most likely this was caused by #8708 , try and build the commit before it  :  5a7b4840d9117a4a1a0d720cdf90273e73e770f4

[2018-06-22 17:42] vishwakftw commented on #8790
Attempting to install without NO_DISTRIBUTED=1 leads to this error

[code]

Full log [here](https://gist.github.com/vishwakftw/cae09ec524caa523fdd5574d49a31914) .

[2018-06-22 17:44] zuoxingdong commented on #8787
@avmgithub  I was building with master branch before [5a7b484](https://github.com/pytorch/pytorch/commit/5a7b4840d9117a4a1a0d720cdf90273e73e770f4) (4 hours ago) and also tried with current master branch, same problem remains.

The procedure is exactly followed by [IBM instruction](https://developer.ibm.com/code/howtos/install-pytorch-on-power)

[2018-06-22 17:45] zou3519 commented on #8790
I think I'm seeing the same thing as you @vishwakftw, will let you know if I figure out what's up...

[2018-06-22 17:48] zou3519 commented on #8790
Seems related: #8781

[2018-06-22 17:54] vishwakftw commented on #8790
Perhaps, that seems related to the comment but not the main issue.

[2018-06-22 18:28] pjh5 commented on #6551
You should have cuda installations at /usr/local/cuda-9.0 for CUDA 9 and ad /usr/local/cuda-8.0 for CUDA 8. There should be a symlink from /usr/local/cuda to the CUDA version that you want to use. You might need to add /usr/local/cuda/lib64 to your LD_LIBRARY_PATH (but follow the CUDA installation instructions). You should not have CUDA installations anywhere else.

This is the CUDA setup that you

[2018-06-22 18:36] avmgithub commented on #8787
@zuoxingdong , What OS  are you using ?   I'm using RH 7.5  Cuda 9.2 (cuda-9-2-9.2.88-1.ppc64le).   My build is fine using the commit I mentioned. But with #8708 the build fails when building nccl which is different from yours.   Some of the builds I do with cuda 9.0  succeeds fine (see https://powerci.osuosl.org/job/pytorch-linux-cuda9-cudnn7-py3-mpi-build-test-gpu/).  I also have some offline 9.

[2018-06-22 18:39] zuoxingdong commented on #8787
@avmgithub I am using Ubuntu 16.04. The commit merged 5 hours ago and #8708 was 18 hours ago, so it should be consistent with current master branch. But same problem remains.

[2018-06-22 18:50] dami23 commented on #8447
@phalexo have you solved the problem "cc1plus: error: unrecognized command line ...". I am facing the same situation, could you give me a cue to solve it? Thank you very much!!

[2018-06-22 19:12] isalirezag commented on #6932
I update it via `conda install pytorch torchvision cuda90 -c pytorch`
how should i build it from the source?

[2018-06-22 19:14] soumith commented on #6932
https://github.com/pytorch/pytorch#from-source

[2018-06-22 19:40] phalexo commented on #8447
I already said 4 days ago, that you can force PyTorch to be built by
suppressing all warnings with "-w" It is not a solution, it is a
work-around.
Modify CMake*.txt, find where all the flags are being passed to the C
compiler and put a new line in front with the "-w" flag.

On Fri, Jun 22, 2018 at 2:51 PM, dami23 <notifications@github.com> wrote:

[2018-06-22 19:43] phalexo commented on #8447
# ---[ Build flags
set(CMAKE_C_STANDARD 99)
set(CMAKE_CXX_STANDARD 11)
if(NOT MSVC)
  set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -O2 -fPIC")
  set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -Wno-narrowing")
  # Eigen fails to build with some versions, so convert this to a warning
  # Details at http://eigen.tuxfamily.org/bz/show_bug.cgi?id=1459
  # alexo added -w flag
  set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAG

[2018-06-22 20:14] #8786 closed

[2018-06-22 20:14] SsnL commented on #1070
closed via #8798

[2018-06-22 20:14] #1070 closed

[2018-06-22 20:15] SsnL commented on #8781
I fixed the build system in certain cases. Could you try again?

[2018-06-22 20:16] SsnL commented on #8790
looks like that we are installing c10d when `NO_DISTRIBUTED=1`. cc @pietern  @teng-li

[2018-06-22 20:45] ailzhang commented on #7415
@travel-go  How large was your checkpoint approximately?

[2018-06-22 20:51] avmgithub commented on #8787
@zuoxingdong can you try this :  CUDA_NVCC_EXECUTABLE="/usr/local/cuda-9.2/bin/nvcc" NO_SYSTEM_NCCL=1 VERBOSE=1 python setup.py install        The trick for me was the CUDA_NVCC_EXECUTABLE      you may not need to set NO_SYSTEM_NCCL=1,  make sure to do a python setup.py clean first.

[2018-06-22 21:11] warmspringwinds opened #8805 "Problem with terminating dataloader workers"
## Issue description

We have tried spawning a process which uses dataloader with multiple workers.
After trying to terminate the main process, the children processes created by dataloader
didn't exit and gpu memory wasn't released.

## Code example

We have used this example:
https://github.com/pytorch/examples/tree/master/mnist

and launched a process

[code]
After terminating the process with:

[2018-06-22 21:13] Corbin-A commented on #8729
I am having this same error. How can you figure out which gencode to pass? I'm trying to build from source from a Dockerfile as well, as seen in this gist:

https://gist.github.com/Corbin-A/5061afd686973a6db5517f88b18acd13

[2018-06-22 21:14] pjh5 commented on #8588
@HuaizhengZhang does this problem still exist if you use the Eigen in third_party?

I think your Eigen must've been built with a different version of CUDA than what you are now using. The eigen in third_party shouldn't have this problem

[2018-06-22 21:17] zou3519 commented on #8790
@vishwakftw Could you try `export CUDA_NVCC_EXECUTABLE=$(which nvcc)` and then building? (It didn't work for me, but I'm wondering if it'll work for you)

[2018-06-22 21:20] soumith commented on #8729
@Corbin-A this is super helpful, thanks.

[2018-06-22 21:29] SsnL commented on #8805
I don't see where you set the subprocess as daemonic. The flag is inherited from parent, but by default false I believe: https://docs.python.org/2/library/multiprocessing.html#multiprocessing.Process.daemon

[2018-06-22 21:30] colesbury opened #8806 "Proposal: move Variable.version_counter to Storage"
Currently, we store a `version_counter` in the VariableImpl wrapper that increments every time a `Variable` is modified by an in-place operation. It's used to detect modifications to variables that were saved to compute some future autograd derivative. The version counter is tracked even on Variables that do not have `requires_grad=True` because those variables may still be saved.

@ezyang suggest

[2018-06-22 21:35] pjh5 commented on #8785
What's the output of nvidia-smi ?
Where are your cuda installations and what is the output of LD_LIBRARY_PATH ?

[2018-06-22 21:38] warmspringwinds commented on #8805
@SsnL Thank you for your reply!

It doesn't work in either ```process.daemon = False``` or ```process.daemon = True``` case.
I think the problem is relevant to this one:
https://github.com/pytorch/pytorch/issues/5736

although we are getting the same problem while to safely stop the process with ```.terminate()```

[2018-06-22 22:07] LiyuanLucasLiu commented on #8582
Did you recompile with current master? It seems that the problem you met is similar to
#7722

[2018-06-22 22:10] pjh5 commented on #8734
Where is your cuda installation?

I think it'd be easiest for you if you hardcoded all the CuDNN-related files here https://github.com/pytorch/pytorch/blob/master/cmake/public/cuda.cmake#L63

[2018-06-22 23:41] vishwakftw commented on #8790
@zou3519 your solution seems to work. Also, there seems to some fix done in current master, so the export is actually not required.

Thanks @zou3519

[2018-06-22 23:45] wanchaol opened #8814 "[JIT] Don't support torch.tensor/Tensor/FloatTensor in Script"
We are unable to use create tensor using torch.tensor/Tensor/FloatTensor, throw unknown builtin op as below:

[code]

[2018-06-23 00:35] cosimo-dw opened #8816 "[bug report] ConvTranspose is not padding output with zero"
## Issue description

From the documentation of [ConvTranspose2d](https://pytorch.org/docs/stable/nn.html#torch.nn.ConvTranspose2d), `output_padding` controls the number of rows and columns being zero-padded to adjust the output shape. However, the values of the last rows/columns are not zero. They are neither padded using reflection padding nor repeated padding.

## Code example

[code]

The outp

[2018-06-23 00:57] soumith commented on #8816
I think you misunderstand what `output_padding` does, and the documentation entry for the output_padding section should be improved / corrected.
There is a note in the ConvTranspose docs section that elaborates what `output_padding` actually does. It's padding that is effectively done at the right and/or bottom of the image. See the explanation below:

<img width="693" alt="screen shot 2018-06-22

[2018-06-23 01:04] cosimo-dw commented on #8816
I see. So `output_padding` actually adds more zeros to the input, to ensure that the output shape matches its description.

Thanks for clarifying that and it would be better to have the documentation improved.

[2018-06-23 01:19] tbenst opened #8817 "Argmax performance slower than numpy"
## Issue description

torch.argmax on a cuda array is slower than transferring to CPU and then calling np.argmax

## Code example

https://gist.github.com/tbenst/de3f61ac9956778a2ca6d5db94b526ef

## System Info
PyTorch version: 0.4.0
Is debug build: No
CUDA used to build PyTorch: 8.0.61

OS: Ubuntu 16.04.4 LTS
GCC version: (GCC) 6.3.0
CMake version: version 3.5.1

Python version: 3.6
Is CUDA avail

[2018-06-23 02:32] MidoAssran opened #8818 "MPI causing job to hang --- unresponsive to external (termination) signals"
## Issue description
When running `torch.distributed` with the MPI backend in a cluster, the job fails to exit and hangs unresponsively --- essentially any node in the cluster that the runs the script becomes unresponsive when you try to terminate the job. This varies from run to run, but it happens often enough that it is problematic.

Here is a minimal reproduction script. High level steps:

1.

[2018-06-23 03:01] SsnL commented on #8790
reopen as we should fix this. cause: this line sets `CUDA_NVCC_EXECUTABLE` to empty if it was previously unset:
https://github.com/pytorch/pytorch/blob/master/tools/build_pytorch_libs.sh#L229

[2018-06-23 03:20] vishwakftw commented on #8790
`export CUDA_NVCC_EXECUTABLE=$(which nvcc)` is done earlier, why is this reset in the line you have referenced?

[2018-06-23 04:03] ailzhang commented on #8818
Hi @ngimel , could you have take a look at this when you have time? Basically the job usually fails with CUDNN_INTERNAL_ERROR, and fail to exit gracefully. Thanks! The node has P100 instead of V100 I believe.

[2018-06-23 05:30] twmht commented on #8734
@pjh5

ok.

[2018-06-23 05:30] #8734 closed

[2018-06-23 06:45] rchavezj commented on #872
@apaszke so how's 1.0 going along? ;)

[2018-06-23 07:49] danache commented on #8785
the nvidia-smi result is :
Sat Jun 23 15:45:21 2018
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 390.30                 Driver Version: 390.30                    |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage

[2018-06-23 08:08] saturdays opened #8820 "Pytorch 0.4.0: Model behavior changes heavily after save and load weights"
# Issue description
During training I save model by using: torch.save(model.state_dict(), file). And I reach 99% accuracy on both test and train data set.
Then, I load the model and test again using: model.load_state_dict(checkpoint, strict=True). The accuracy drops to 0.1%. An initial value!!

My net is quite simple, so I print all the weights in the checkpoint both before and after validation. T

[2018-06-23 08:54] saturdays commented on #8820
Here is another test:
(1) I save and load the weights every epoch, the model works fine and converges during training:
epoch=1
while acc < 0.97:
     epoch += 1
     acc1 = train(args, model, device, train_loader, optimizer, epoch)
     torch.save(model.state_dict(), 'checkpoints/mnist_gpu_%d.pkl'%epoch)
     model.load_state_dict(torch.load('checkpoints/mnist_gpu_%d.pkl'%epoch), strict=True)\

[2018-06-23 09:04] kimdwkimdw commented on #7318
A lot of users are requesting.... I should make a pull request this weekend.

[2018-06-23 09:05] saturdays commented on #8820
Here is another test, I run the inference script for three times, without change anything. The result is different everytime
python validate.py
0.1375
python validate.py
0.0025
python validate.py
0.091

[2018-06-23 09:08] saturdays commented on #8820
Here is another test that much weird.
Instead of inference in a separate script, I run validation immediately after train by save and reload. The inference result is correct. Code is:

    epoch =0
    while epoch<10:
        epoch += 1
        adjust_learning_rate(optimizer, epoch)
        acc1 = train(args, model, device, train_loader, optimizer, epoch)
        torch.save(model, 'checkpoints/mni

[2018-06-23 11:40] vishwakftw commented on #8781
Can you try building after `export CUDA_NVCC_EXECUTABLE=$(which nvcc)` (as suggested by @zou3519 in #8790 )?

[2018-06-23 11:59] vishwakftw commented on #8790
@SsnL @zou3519 The build is not fixed. It was an error on my part. @zou3519 's solution only seems to work.

[2018-06-23 12:10] apaszke commented on #8814
Oh, because the code had the `torch.tensor` line commented out, and an error on `torch.Tensor` I assumed it's the problem only with the latter. If `torch.tensor` is broken too, then we should fix it

[2018-06-23 12:23] fmassa commented on #8771
While discussing in https://github.com/pytorch/pytorch/issues/8814 about not supporting deprecated functions, I thought about this issue.

We now have two ways of constructing tensors with `torch.zeros`, `torch.rand` etc: by either passing a tuple with the sizes (as in numpy, `torch.zeros((2, 3))`) or by passing the varargs (`torch.zeros(2, 3)`).

I am personally used to passing the varargs (less

[2018-06-23 12:38] zasdfgbnm commented on #8781
@vishwakftw building with `export CUDA_NVCC_EXECUTABLE=$(which nvcc)` do make it able to find CUDA correctly, but then I get a different problem

[code]

[2018-06-23 12:49] Corbin-A commented on #8729
@soumith just wanted to make sure you saw that this is pulling from a ppc64le (IBM Power system) docker image, so you'll run into different issues if trying to build on an x64 machine.

[2018-06-23 13:04] vishwakftw commented on #8790
@SsnL I have fixed it locally. I had to modify `build_pytorch_libs.sh` to get it working. Can I send in a PR?

[2018-06-23 13:11] vishwakftw commented on #8781
Can you try `python setup.py clean && export CUDA_NVCC_EXECUTABLE=$(which nvcc) && python setup.py build develop` ?

[2018-06-23 14:08] zasdfgbnm commented on #8781
@vishwakftw It works well with gcc-5, but with gcc-6, I still have the problem as in https://github.com/pytorch/pytorch/issues/8781#issuecomment-399674946

[2018-06-23 14:15] apaszke opened #8821 "Storages still uses legacy printing"
A minor issue reported by @francoisfleuret
[code]

[2018-06-23 14:20] zou3519 commented on #8790
Please do!

[2018-06-23 14:25] thFury opened #8823 "CUDA runtime error(2) : Out of memory"
Hello. I have been trying to figure out what is happening.

## Issue description

The python script fails here:
`RuntimeError: cuda runtime error (2) : out of memory at ..\src\THC\THCGeneral.cpp:844`.
I've read from other issues that this is because I am out of memory. Weird. I used the debugger to catch exactly when the code throws the error and then I used `nvidia-smi` to check how much VRAM I h

[2018-06-23 15:11] #8790 closed

[2018-06-23 15:12] soumith commented on #8781
@zasdfgbnm can you try the latest master, #8822 should've fixed the issue.

[2018-06-23 15:13] vishwakftw commented on #8781
#8822 fixed the main issue, but there seems to be problems with GCC.

[2018-06-23 15:14] soumith commented on #8787
this should be fixed via https://github.com/pytorch/pytorch/pull/8822

[2018-06-23 15:14] #8787 closed

[2018-06-23 15:16] #8816 closed

[2018-06-23 15:17] soumith commented on #8729
I modified it very slightly for x64: https://gist.github.com/84818f986db91428b73c78a5a70c3b6d

It seems to build pytorch successfully for me (on latest master I suppose).

[2018-06-23 15:55] SsnL opened #8826 "output_padding constraint"
Currently we check that `output_padding < stride || output_padding < dilation`, e.g. [here](https://github.com/pytorch/pytorch/blob/master/aten/src/THCUNN/generic/SpatialFullDilatedConvolution.cu#L19). But the check against `dilation` doesn't quite make sense. Dilation just effectively increases the kernel size, and shouldn't cause any ambiguity in output shape of `conv` (not transpose).

So I pro

[2018-06-23 16:11] zasdfgbnm commented on #8781
@soumith It fixes the main issue.

[2018-06-23 18:34] soumith commented on #8826
it's because the underlying kernel (I think one of im2col or col2im that we have) dont support that `output_padding` setting.

[2018-06-23 18:34] soumith commented on #8826
also see https://github.com/pytorch/pytorch/pull/904

[2018-06-23 22:29] soumith commented on #8826
I see.
I removed those checks, and handled that case to handle Conv double backward. When Conv with stride > 1, dilation > 1 happens, the double-backward will involve this condition, if I remember.

[2018-06-23 22:44] krikru commented on #8494
@peterjc123 Sure. Will [this](https://github.com/pytorch/tutorials/pull/265) do?

[2018-06-24 00:54] vishwakftw commented on #8781
@zasdfgbnm Please check if current master builds successfully with GCC-6. If not, you can open a new issue for that, and close this.

[2018-06-24 01:20] qiulesun opened #8831 "intrin.h: No such file or directory #include <intrin.h>"
Editorial note: There were multiple reports in this issue; the intrin.h problem is reported further below.

----

## Issue description

running install
running build_deps
+ USE_CUDA=0
+ USE_ROCM=0
+ USE_NNPACK=0

......

-- Found CUDA: /usr/local/cuda-8.0 (found suitable version "8.0", minimum required is "7.0")
-- Automatic GPU detection failed. Building for common architectures.
-- Autodetected

[2018-06-24 03:08] benvcutilli commented on #2389
I'd like sparse autograd support as well. It is hard to build custom, non-standard layers without them while wanting to maintain the built-in parallelism and speed of the aforementioned operations. Otherwise, I'd be writing slow, looping code, or I would have to use dense tensors which wastes both compute and memory, or I'd have to write some sort of extension, which can be a very big pain if I am

[2018-06-24 04:58] zasdfgbnm commented on #8781
@vishwakftw gcc-6 problem is not fixed. Let me open a new issue.

[2018-06-24 04:58] #8781 closed

[2018-06-24 04:59] zasdfgbnm commented on #8831
I have the same problem on one of my machine.
I this this is a duplicate of https://github.com/pytorch/pytorch/issues/8729

[2018-06-24 05:13] zasdfgbnm opened #8832 "fail to build on gcc-6"
## Issue description

I'm building with command
[code]

And get the following error:
[code]
More detailed information can be found here:
https://gist.github.com/zasdfgbnm/5bd8984a17c6023cebe7419d494ba285

## System Info
[code]

[2018-06-24 06:13] xiaoxiangyeyuwangye opened #8833 "Build CUDA extension in windows 10"
Hello, everyone.
I want to write some pytorch cuda extensions in windows 10.
I succeed in writing c extensions in these links:
https://pytorch.org/tutorials/advanced/c_extension.html
https://pytorch.org/docs/master/notes/windows.html
I noted that most implementation of cuda extension is based on c extension, which means that python interact with c, and c interact with cuda.
I know how to use cffi

[2018-06-24 07:09] TensorDL commented on #8831
I got it. However, after that, the error is occured. How do I handle it?

3 errors detected in the compilation of "/tmp/tmpxft_00004442_00000000-7_THCTensorMath.cpp1.ii".
CMake Error at caffe2_gpu_generated_THCTensorMath.cu.o.Release.cmake:279 (message):
  Error generating file
  /media/hh/pytorch_dir/pytorch/build/caffe2/CMakeFiles/caffe2_gpu.dir/__/aten/src/THC/./caffe2_gpu_generated_THCTensorMa

[2018-06-24 08:55] StatML commented on #8781
Hi @vishwakftw I met the same issue. I had tried "python setup.py clean && export CUDA_NVCC_EXECUTABLE=$(which nvcc) && python setup.py build develop", but the results were the same. Can you help to fix this? Thanks a lot!

PS: I am using Ubuntu 16.04, G++ 5.4, CUDA 9.2

[2018-06-24 09:16] he13689 commented on #958
@apaszke hello, I find this error when I am using pytorch to build GAN with GP, and I have stuck here for 2 days, I have already tried several methods to solve this, but neither works. I really need some help plz.
the error is :
_RuntimeError: cuda runtime error (2) : out of memory at xx\torch\lib\thc\generic/THCStorage.cu:66_
when i am doing  backward

  _File "xxx/train_extractor.py", line 128,

[2018-06-24 09:19] zasdfgbnm commented on #8781
@StatML Are you using the latest master branch?

[2018-06-24 11:28] StatML commented on #8781
@zasdfgbnm Yeah, I am using the latest master branch.

[2018-06-24 12:08] vishwakftw commented on #8781
@StatML Can you print the output of `which nvcc`?

[2018-06-24 15:03] ezyang commented on #8821
CC @li-roy, though, if I understand correctly, I don't think it's terribly high priority to fix this.

[2018-06-24 15:14] ezyang commented on #6551
Hey @pjh5, you said "There should be a symlink from /usr/local/cuda to the CUDA version that you want to use." This isn't necessarily true; for example, setting `CUDA_HOME` to specify a different CUDA directory should be a supported operation, right?

[2018-06-24 16:31] bangbangjim commented on #3665
Hi, I am encountering the same issue too. I wonder if this has been fixed by now?

[2018-06-24 18:36] SsnL commented on #8826
@soumith makes sense. Thanks for explaining!

[2018-06-24 18:36] #8826 closed

[2018-06-24 18:58] SsnL commented on #8833
cc @peterjc123
also I think the recommended extension methods are c++ extensions by @goldsborough , although I'm not sure if Windows is well supported.

[2018-06-24 19:01] goldsborough commented on #8833
C++ extensions are well supported on Windows, thanks to @peterjc123.

@xiaoxiangyeyuwangye please check out https://github.com/pytorch/extension-cpp. C++ extensions are easier, actively maintained and the future.

[2018-06-24 19:05] #8833 closed

[2018-06-24 19:16] SsnL commented on #8729
looking into this

[2018-06-24 19:42] SsnL commented on #8831
@TensorDL Could you try the patch in #8834 and see if it builds for you? It should fix the `redefinition of 'code'` problem, but not sure about `make[3]: INTERNAL: Exiting with 9 jobserver tokens available; should be 8!`. That might be a make bug.

[2018-06-24 20:00] SsnL commented on #8832
It's an `NVCC` bug. https://devtalk.nvidia.com/default/topic/1028112/cuda-setup-and-installation/nvcc-bug-related-to-gcc-6-lt-tuple-gt-header-/

[2018-06-24 21:15] #8208 closed

[2018-06-25 01:42] #8485 closed

[2018-06-25 01:50] xiaoxiangyeyuwangye commented on #8833
@goldsborough @SsnL .Thanks a lot for your suggestions. I will try. It seems that if I use c++ extension, I don't need to compile .cu file separately. If I use c extension with dffi, the .cu file need to be compiled separately and the object file need to be added into ffi extra_objects. Am I right?

[2018-06-25 02:11] Erotemic opened #8837 "Inconsistency in implementation of _LRScheduler"
I've noticed an odd behavior when attempting to write my own scheduler based on `torch.optim.lr_scheduler._LRScheduler`.

If you write a custom get_lr() to work based on self.last_epoch, its impossible to differentiate the
0th and the 1st epoch.

Here is a minimal working example:

[code]

This results in the output

[code]

You can see the last epoch is asked to set the learning rate based on the

[2018-06-25 02:13] saturdays commented on #8820
Same code works fine on Python2.7.  but not on Python3.6.

[2018-06-25 03:01] lilong-epfl opened #8838 "pytorch canot initialize cuda"
I installed the latest version Pytorch on Nvidia Jetson TX2 develop board. But I got the following error:

File "/usr/local/lib/python2.7/dist-packages/torch/nn/modules/module.py", line 249, in cuda
    return self._apply(lambda t: t.cuda(device))
  File "/usr/local/lib/python2.7/dist-packages/torch/nn/modules/module.py", line 176, in _apply
    module._apply(fn)
  File "/usr/local/lib/python2.7/d

[2018-06-25 03:09] ezyang commented on #8838
Hi! How did you install PyTorch; was it pre-built binaries or build from source? If build from source, how did you compile it?

[2018-06-25 03:58] dqian96 commented on #6469
hey @kshitij12345 are you still working on this? can I give this a go if you don't mind? Thanks!

[2018-06-25 04:59] ptrblck opened #8840 "nn.NLLLoss example throws error"
## `nn.NLLLoss` example does not work in current stable and master doc.

Reported [in this thread](https://discuss.pytorch.org/t/help-understanding-nn-nllloss-example/20153).

The second example of `nn.NLLLoss`  from [the docs](https://pytorch.org/docs/master/nn.html?#torch.nn.NLLLoss) throws an error on creating the `target` `tensor`:
[code]

Tested under `0.4.0` and `0.5.0a0+e62c3a4`.

The fix c

[2018-06-25 05:15] lilong-epfl commented on #8838
Hi ezyang,

I built PyTorch from the source code. The command I used to install PyTorch is:

`git submodule update --init
sudo pip install -r requirements.txt
sudo python setup.py install`

Thanks for your reply!

[2018-06-25 05:43] W4ngatang commented on #7083
Hey @soumith , just wanted to follow up on this and see if you had any advice?

[2018-06-25 05:54] lilong-epfl commented on #8838
@ezyang
Hi ezyang,

I built PyTorch from the source code. The command I used to install PyTorch is:

`git submodule update --init`
`sudo pip install -r requirements.txt`
`sudo python setup.py install`

Thanks for your reply!

[2018-06-25 06:01] #8840 closed

[2018-06-25 08:38] kimdwkimdw commented on #7318
I merged my code with current `master` branch.

Type Hints are alive now.
[code]

Checkout PR - https://github.com/pytorch/pytorch/pull/8845

[2018-06-25 10:26] niranjantdesai opened #8846 "[feature request] Dataset download progress"
While downloading datasets, it would be helpful to display download progress especially on slow connections.

[2018-06-25 12:10] jhmenke commented on #8154
It is now way worse:

I just cloned and compiled PyTorch (torch-0.5.0a0+e31ab99, e31ab99) on Linux. v0.31 average was ~26 s, v0.4 average ~ 32 s.
Now the average time is: 45.49 s

torch.bottleneck runs and after a few minutes exits with the message "killed" without giving any output. here is the manual cProfile log:

`12393230 function calls (12099688 primitive calls) in 42.208 seconds

   Ordered

[2018-06-25 13:11] sbarratt opened #8847 "Runtime Error thrown when using Optimizer in a Pytorch Function: element 0 of tensors does not require grad and does not have a grad_fn"
## Issue description

When I am trying to run an optimizer on a separate variable inside a pytorch function, pytorch throws an error, ```element 0 of tensors does not require grad and does not have a grad_fn```.

## Code example

[code]

## Error
[code]

## System Info

[code]

[2018-06-25 14:11] teucer commented on #3867
[cov2d](https://pytorch.org/docs/stable/nn.html?highlight=conv2d#torch.nn.Conv2d) gives the explicit formulas for output sizes. Equating e.g. Hout with Hin one can solve for the padding:

[code]

[2018-06-25 14:54] srossi93 commented on #1917
Same problem of memory leak with the following (slightly different) code:
[code]
Memory occupation continuously increases during the for-loop. I might open a new issue with more information (if not done yet)

[2018-06-25 15:07] #8729 closed

[2018-06-25 15:08] SsnL commented on #8831
@TensorDL The patch was merged into master. Can you try again?

[2018-06-25 16:00] apaszke commented on #1917
This might not be a memory leak but simply the fact that your loop is extremely busy spawning processes faster than we can even terminate them. DataLoader iterators are not meant to be very short lived objects

[2018-06-25 16:05] samarthbhargav commented on #1917
My previous comment was incorrect. I discovered that the leak was elsewhere in the code (I was hanging on to vars without detaching for those who are curious).

[2018-06-25 16:07] colesbury commented on #3226
I think @gchanan fixed this

[2018-06-25 16:07] #3226 closed

[2018-06-25 16:12] SsnL commented on #8816
@cosimo-dw It doesn't adds zeros to input either. It is used to resolve the ambiguity when one have `stride > 1`. E.g., consider a 3x3 conv with stride = 2. You would have:
1. `3x3 input => 1x1 output`
2. `4x4 input => 1x1 output`
3. `5x5 input => 2x2 output`
4. `6x6 input => 2x2 output`.

So it is a many-to-one mapping. For convT to "revert" this shape change, it needs an extra argument like `out

[2018-06-25 16:39] ezyang opened #8852 "Better cross-referencing in changelog"
- Entries in CHANGELOG don't cross-reference earlier versions, e.g., https://github.com/onnx/onnx/blob/master/docs/Changelog.md#sub-7 even though their Operators.md counterparts do. This makes it hard to tell when reading the changelog if an operator is new, or if it was a modification of an earlier one.
- It's hard to get a bird's eye view about all the operators in a new opset version. We should

[2018-06-25 16:58] kshitij12345 commented on #6469
@dqian96 I am still working on it. Give me 2 weeks till 8th of July and I will pass it to you if still unable to do.Till then could you also please help me 😄

[2018-06-25 17:04] #8846 closed

[2018-06-25 17:14] yf225 commented on #8823
Could you share the code for `self.data_loader`? Also does it still OOM if `num_workers` is set to 0 in `DataLoader`?

[2018-06-25 17:22] pjh5 commented on #6551
@ezyang I actually didn't know about CUDA_HOME. @danache could you try setting CUDA_HOME to the CUDA installation that you want to use?

[2018-06-25 17:23] weiyangfb opened #8853 "Todo functions and autograd supports for Sparse Tensor"
Here summarizes a list of requested Sparse Tensor functions and autograd supports from previous PRs. Please feel free to comment on functions that should be added also.

## functions:
- [ ] nonzero (or more generally __gt__ or __ne__, though I'd be calling them with 0)
- [ ] sum
- [ ] log1p
- [ ] norm
- [ ] max

## distributed:
- [ ] all_reduce
- [ ] reduce
- [ ] broadcast
- [ ] all_gather

## aut

[2018-06-25 17:35] zou3519 commented on #3665
cc @ngimel What is the status on this from the cudnn team?

[2018-06-25 17:37] ngimel commented on #3665
They claim it's been fixed.

[2018-06-25 17:54] cosimo-dw commented on #8816
@SsnL Sorry I am still a bit confused. If it is not padding input how does it control the size of the output? Can you point me out the source code of the implementation so that I can read it myself?

[2018-06-25 17:59] SsnL commented on #6351
@dlmacedo The pytorch seed is already set properly in workers. It should give you deterministic behavior. If you use np in the dataset getitem, you should set np seed in `init_fn` because I don't think we should assume that np exists.

[2018-06-25 17:59] ezyang commented on #8853
Also:
- https://github.com/pytorch/pytorch/issues/1550
- https://github.com/pytorch/pytorch/issues/3158

Also Wojciej has been posting about these recently. He'd like some variant of this script to work:

[code]

[2018-06-25 17:59] ezyang commented on #8852
yep

[2018-06-25 17:59] #8852 closed

[2018-06-25 18:02] ezyang opened #8856 "torch.cuda.sparse.FloatTensor is not enabled."
[code]

on master, this fails with:

[code]

Workaround: manually initialize cuda (e.g., convert a dense tensor to cuda) before doing it on sparse.

This is almost certainly my fault (due to ATen CPU/CUDA split.)

[2018-06-25 18:02] ezyang commented on #8838
Does a simple program like `pytorch -c "import torch"` fail this way, or is there a test script that you're using to trigger this? Is it possible to post an abridged version that triggers the error?

Also, does https://github.com/pytorch/pytorch/issues/8856 sound similar to your problem? (The error message is different though.)

[2018-06-25 18:02] ezyang commented on #8853
See also https://github.com/pytorch/pytorch/issues/8856

[2018-06-25 18:07] SsnL commented on #8554
fixed via #8614

[2018-06-25 18:07] #8554 closed

[2018-06-25 18:07] soumith commented on #8816
@cosimo-dw it is padding the input, on the right hand side and on the bottom.

See: https://github.com/pytorch/pytorch/blob/master/aten/src/THNN/generic/SpatialFullDilatedConvolution.c#L242-L243

Follow the adjH and adjW variables

[2018-06-25 18:07] vishwakftw opened #8857 "[docs] "get_device" is not documented"
## Issue description

Raised earlier in https://github.com/pytorch/pytorch/issues/741 .

## System Info
- PyTorch or Caffe2: PyTorch
- How you installed PyTorch (conda, pip, source): source

[2018-06-25 18:07] SsnL commented on #8594
@minimumnz Do you have any updates on this? Thanks!

[2018-06-25 18:30] cosimo-dw commented on #8816
@soumith Thank you.
@SsnL I was talking about the actual behavior to solve the ambiguity. For your example of `2x2 input`, without `output_padding` the output is `5x5`, while with `output_padding=1`, it should sample one more row (and column) of patches in the input image by extending the size of input by 1, so that the convoluted output size becomes `6x6`. It is controlled by the params of im2col

[2018-06-25 18:39] alexge233 opened #8860 "NaN loss when using half precision"
Let me start by saying I've googled the issue and understand others have also run into it.
I've tried with Adam optimizer and by setting epsilon to `1e-4` and `1e-3` but after a few iterations my loss is still `NaN`.
Because I'm looking at very large datasets and `float` to `half` does make a difference, is there any other trick I can try in order to keep using `half`?
One of the posts on the foru

[2018-06-25 18:41] SsnL commented on #3665
@ngimel Thanks! Do you know if it's in a release yet? If so, which one?

[2018-06-25 18:58] wanchaol commented on #8814
Agree for not supporting legacy ones, torch.tensor is not working as well so I think we should fix that.

[2018-06-25 19:17] weiyangfb commented on #8853
@ezyang Ok I am adding them as well. For #1550, is it asking for matrix-matrix multiplication or element-wise multiplication, or both?

[2018-06-25 19:36] ngimel commented on #3665
Should be in the release, cudnn 7.1+, driver 384.69+

[2018-06-25 19:41] dlmacedo commented on #6351
I am NOT using numpy to dataloader.

Since I set the PYTHON seed in my code and it is changed inside dataloader code (see bellow), I need to overwrite the PYTHON seed back again (since it is being changed inside the dataloader code) in the worker init (I am not changing NUMPY seed inside the worker_init):

[code]

See below the dataloader code that changes the PYTHON (NOT numpy) seed:

[code]

I g

[2018-06-25 20:04] ptrblck commented on #8686
I've created an initial version of the fix, which returns `torch.tensor([])` for zero-length splits.
[code]
Basically I've tried to implement @fmassa's Python code.

Also I've added a test case to `test_split` in `test_torch.py`.

Unfortunately the dimension for zero-sized `tensors` will be `1`, while the splits can have an arbitrary dimension.
Could this be a problem in some use cases?

[2018-06-25 20:11] SsnL commented on #3665
Thanks @ngimel !

I'll close this issue for now. If you see this issue, please upgrade to cudnn 7.1+, driver 384.69+.

@Evpok @jiesutd @bangbangjim See above.

[2018-06-25 20:11] #3665 closed

[2018-06-25 20:15] jamesr66a opened #8867 "[JIT] Normalize representation of traced and scripted functions/modules"
Currently we have a mix of actual types when we script/trace a function/module:

[code]

[code]

This causes issues, for example, since we can only inline a `PythonValue` into a ScriptModule if it's an instance of GraphExecutor(https://github.com/pytorch/pytorch/blob/2b926aafb09575dd83ebf4fe2a76cbe239596f0b/torch/csrc/jit/script/init.cpp#L82). This causes problems in the case of calling Script/Tra

[2018-06-25 20:32] marikgoldstein opened #8868 "nn.init.orthogonal segfaults"
## Issue description

Call to nn.init.orthogonal_ causes SEGFAULT on ubuntu and not on mac

## Code example

In the following code, the call that assigns `conv1` works fine but the one that assigns `conv2` causes a SEGFAULT and dumps core when it reaches `nn.init.orthogonal_(layer.weight.data)`.

This code works totally fine on a mac installation with the same pytorch library version (the newest).

[2018-06-25 20:46] samhains commented on #7719
Stuck on this same error too.

hey @sgarcia22, i'm curious if you could elaborate on this? looking at Eigens documentation it seems it does not require an installation:

[code]

How did you identify which folders used Eigen, and where did you place the folders?

Thanks!

[2018-06-25 20:51] marikgoldstein commented on #8868
I tested the following in isolation of any other code:

[code]

The first `orthogonal_` works and the second one segfaults.

[2018-06-25 21:47] SsnL opened #8871 "Use target_compile_options to set warning flags"
They are currently set via `CMAKE_CXX_FLAGS` in root `CMakeList.txt`.

Just opening an issue to track this. It isn't high-pri.

cc @goldsborough @orionr

[2018-06-25 21:48] wanchaol opened #8872 "[JIT] Don't support enumerate in the Script"
As of now we could not support enumerate in script:
[code]

If we use it in for:
[code]

[2018-06-25 22:01] vishwakftw commented on #8868
I am not able to reproduce on master. Could you try installing from source, and check if the problem persists?

[2018-06-25 22:07] #8508 closed

[2018-06-25 22:17] #8649 closed

[2018-06-25 22:21] #8626 closed

[2018-06-25 22:22] SsnL opened #8874 "Issues with dynamically created grad_fn for views"
Currently the dynamically created `grad_fn` to point to `base`. When a view is created via
[code]
Then, if `base` is modified in-place, the `grad_fn` of `my_view` will be created to just point to `base`. Then the `retain_grad` and backward hooks on `view1` will be wrong.

E.g.,
[code]

(Un)comment the line `x[0] += 0` changes the grad of `xx`.

This was previously reported at #8626 , but that also

[2018-06-25 22:28] SsnL commented on #8820
That indeed looks rather weird! Could you share a full runnable script(s) with me so I can take a look?

[2018-06-25 22:34] ezyang commented on #8856
Please shout if you have this problem, so I can prioritize it accordingly.

[2018-06-25 22:41] SsnL commented on #6351
@dlmacedo Those code shouldn't matter... They are only run on the worker subprocesses. They won't change main process seeds.

[2018-06-26 01:06] saturdays commented on #8820
Of course. But runnable script depends on a lot of img data. How can I share them with you?

[2018-06-26 01:07] SsnL commented on #8820
@saturdays Can you try to adapt the model to some standard dataset, or a synthetically generated one?

[2018-06-26 01:08] SsnL commented on #8820
Or a trained checkpoint file, and ~50 images that we can test the model on.

[2018-06-26 01:16] saturdays commented on #8820
OK. I can do this. But How can I give you the data, this page doesn't support attachment?

[2018-06-26 01:18] SsnL commented on #8820
I see that you are training on MNIST, so I suppose just the code should be fine?

[2018-06-26 01:28] saturdays commented on #8820
no, I'm training on a color digits data set. Problem is similar to MNIST but different net structure.

[2018-06-26 01:29] li-roy commented on #8351
It's interpreting that argument as device, which is ignored because it's a cpu constructor. We also ignore cpu on the cuda constructors and just put it on device 0. Should we throw error instead?
[code]

[2018-06-26 01:31] SsnL commented on #8820
Okay. If you can, please send the code & file to ssnl@fb.com. Thanks!

[2018-06-26 01:44] ein-farbe commented on #1355
I've got the same issue on Python 3.6 / Pytorch 0.4.0. Does `pin_memory` option affect something?

[2018-06-26 01:44] saturdays commented on #8820
Sent to u. Please check. Thanks a lot.

[2018-06-26 01:54] gchanan commented on #8351
Why does it interpret the argument as device though?  Isn't device kwarg only?

[2018-06-26 02:10] liu-zhy opened #8886 "[Caffe2] Dose caffe2 support the function similar to itersize of caffe"
I don't want to decrease the batch size with limited gpus, so does caffe2 support itersize? The caffe2 doc is incomplete. And I have googled some keywords, but got nothing. I hope you can give me a hand! thanks for your help!

[2018-06-26 02:37] #8693 closed

[2018-06-26 02:41] weiyangfb commented on #339
Indeed creating a new tensor from list or NumPy array both work now, @soumith could you help to clarify what does copy mean here?

[code]

[2018-06-26 04:08] SsnL commented on #3963
@mttk @ducha-aiki @raghakot @tbung @scottyyih  This is an NVIDIA NVCC bug, which is fixed in CUDA 9.2.

closed via #8863 which adds a clear error message

[2018-06-26 04:08] #3963 closed

[2018-06-26 04:08] SsnL commented on #8832
This is an NVIDIA NVCC bug, which is fixed in CUDA 9.2.

closed via #8863 which adds a clear error message

[2018-06-26 04:08] #8832 closed

[2018-06-26 04:09] SsnL commented on #5136
gcc6: This is an NVIDIA NVCC bug, which is fixed in CUDA 9.2.
gcc5: a GCC bug, which was labeled as nofix

#8863 which adds a clear error message for the gcc 6 error.

[2018-06-26 04:09] #5136 closed

[2018-06-26 04:09] SsnL commented on #3807
This is an NVIDIA NVCC bug, which is fixed in CUDA 9.2.

closed via #8863 which adds a clear error message

[2018-06-26 04:09] #3807 closed

[2018-06-26 04:12] goldsborough commented on #6287
There is now `to(Device)`: https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/templates/Tensor.h#L93

[2018-06-26 04:12] #6287 closed

[2018-06-26 04:14] goldsborough commented on #3965
This won't work per se because `vector<A>` is unrelated to `vector<B>` in C++ even if `B` inherits `A`. The workaround I have created for this is `TensorListView(...)` which constructs a `vector<Tensor>` from a `vector<Variable>` inside: https://github.com/pytorch/pytorch/blob/master/torch/csrc/api/src/nn/modules/rnn.cpp#L156

[2018-06-26 04:14] #3965 closed

[2018-06-26 07:51] he010103 commented on #7082
@stomachacheGE @mitar I read your dicussion carefully. Do you solve the problem by running system('python -c "import torch"')  with error?

[2018-06-26 07:56] fliman commented on #2530
@apaszke you mentioned this bug has been fixed in the master, could you kindly point out which file if it's a simple one we would like to have a quick fix in our local version. The error message is really annoying and fools my logger script all the time.

[2018-06-26 08:21] homofortis opened #8894 "import torch: DLL load failed: The operating system cannot run %1. (pip installation)"
## Issue description
After the installation, torch import fails with an error.
I read the posts on other similar issues and installed intel-openml, mkl, mkl-fft, vs2017 runtime but still getting the same import error. Please note, I am not using anaconda.
P.S. I have also installed Tensorflow which makes use of CUDA and GPU.

## Code example
`import torch
Traceback (most recent call last):
  File

[2018-06-26 12:06] arogozhnikov commented on #1333
@apaszke does this introduce an additional copy (compared to just conv1d?)

[2018-06-26 12:34] fmassa commented on #8686
@gchanan when do you think we will be able to have tensors with arbitrary dimensions containing zeros?

[2018-06-26 13:09] mitar commented on #7082
I could not solve the problem. I am staying at 0.3.1 for now.

[2018-06-26 13:35] alexdepremia opened #8897 "[feature request] Expanding gradient function with variances"
Hi,
in many applications will be useful to have available not only the gradients averaged on minibatches, but also its second momentum for each parameter.
I think developers can do it with a small computation overhead by modifying accumulate_grad.cpp (I was not able to understand the underlying class structure), accumulating also the square of the individual contribution to the gradient (which is

[2018-06-26 13:39] homofortis commented on #8894
Replacing the existing numpy with **numpy‑1.14.5+mkl‑cp36‑cp36m‑win_amd64.whl** from [https://www.lfd.uci.edu/~gohlke/pythonlibs/#numpy](url) resolved the issue for me (but not before wasting hours in try-this-and-that).
It would've been nice if this issue was mentioned on the PyTorch installation page.

[2018-06-26 14:04] 541435721 commented on #7318
@kimdwkimdw should I reinstall pytorch from source? Is there any easy way to renew in the windows platform?

[2018-06-26 14:38] gchanan commented on #8686
probably this week.  `split` will likely be fixed in the patch enabling it.  @ptrblck is your code available somewhere?  FWIW you can write the test and include it now by guarding it with `@skipIfNoZeroSize`, as in: https://github.com/pytorch/pytorch/blob/8e019826c985804106f3d00600b808a5ff379a58/test/test_autograd.py#L1874

You can also write the correct code by using `#ifdef USE_TH_SIZE_ZERO_DIM`

[2018-06-26 14:42] ptrblck commented on #8686
@gchanan Thanks for the information on `@skipIfNoZeroSize`.
You can find the code [here](https://github.com/ptrblck/pytorch/commit/e88fb278e4115d7522dde9dde37b572f42cfc7f9).

I'll take a look at fixing the tests later this evening.

[2018-06-26 14:51] arogozhnikov commented on #1333
As a proposed workaround - pad from both sides in convolution, then take a slice on output.

[2018-06-26 15:09] #8447 closed

[2018-06-26 15:44] mmazeika commented on #1708
Would it be possible to port this to 3D convolutions?

[2018-06-26 16:04] marikgoldstein commented on #8868
I made a fresh ubuntu user account and did the minimal install necessary to get my python/pytorch environment setup. I installed pytorch with pip, not from source.

The issue doesn't happen anymore!

A couple of other people at school said this problem with orthogonal_ has happened to them too in the past. I'll close it for now but will see if I can track down the problem on the user account where

[2018-06-26 16:04] #8868 closed

[2018-06-26 16:20] kimdwkimdw commented on #7318
@541435721
Yes, you should. Check out https://github.com/pytorch/pytorch#install-pytorch this page.
I don't know there is more simple way to build it.

[2018-06-26 16:38] zou3519 commented on #8150
This is fixed on master because we are not building with tbb anymore: https://github.com/pytorch/pytorch/pull/8255

[2018-06-26 16:38] #8150 closed

[2018-06-26 16:59] SsnL opened #8900 "[print] improve ModuleList print format"
currently:
[code]

[2018-06-26 17:00] arogozhnikov commented on #5411
Faced this too. Also `//` is not supported.

[2018-06-26 17:16] soumith commented on #2530
@pietern would know

[2018-06-26 17:29] PetrochukM commented on #7092
Any chance applying distributed to training will be as easy as calling a function like: ``torch.nn.parallel.data_parallel``?

Thanks for your help!

Folks, btw, here is a good example of applying distributed to Pytorch: https://github.com/pytorch/examples/blob/master/imagenet/main.py

It's a bit cumbersome but doable.

[2018-06-26 17:35] soumith commented on #7092
@erogol @petrochuck @eriche2016 the distributed launcher page cleanly describes (in 4 steps) what you have to do to your code to make it use distributed.

https://pytorch.org/docs/stable/distributed.html#launch-utility

[2018-06-26 17:54] eli5168 commented on #7031
Facing the same issue.  QAQ

[2018-06-26 17:56] SerinaWei opened #8902 "[Caffe 2] Does caffe2 support Galaxy 5S with Android 6?"
I convert the detectron model to .PB format, and it runs on Google Pixel Android 7 & 8, but not Galaxy 5S with Android 6. Has anyone had experience with it?

[2018-06-26 17:57] karandwivedi42 commented on #8900
@SsnL can you post an example of the new format? I will PR this.

[2018-06-26 18:01] SsnL commented on #8900
@karandwivedi42 Sorry I don't know how it should be properly done too. The current expr looks more like the old tensor print fmt. @li-roy might have opinion on how these things should look.

[2018-06-26 18:15] DanielDworakowski opened #8904 "Advanced indexing returns values not in tensor"
## Issue description

While indexing a tensor I am receiving values that are not contained within the tensor.  I currently do not have access to a GPU, so these results are specifically CPU only.

## Code example (in terminal)
### Torch:
[code]

        -4.6117e+18])

### Comparison with Numpy:
[code]

### Torch (More simplified example):
[code]

        [ 2.],
        [ 3.],
        [ 4.],

[2018-06-26 18:16] soumith commented on #8897
hi Alex.

This is not simple as modifying accumulate_grad.cpp. A lot of our functions (in-fact 99% of our neural network layers) directly compute accumuated gradients for a full mini-batch. So, for a mini-batch, we never actually get separate gradients per sample.
To introduce the feature you propose, we probably have to change ~5k+ lines of code across the ~100 odd neural-net primitives we provid

[2018-06-26 18:16] #8897 closed

[2018-06-26 18:22] matt-erhart commented on #7031
Maybe unrelated but I needed this on windows:
torch.backends.cudnn.enabled = False # deal with cudnn X pytorch .4 bug. Might work with pytorch update.

[2018-06-26 18:24] SsnL commented on #8904
Thanks for reporting. This has been fixed on master.

[2018-06-26 18:24] #8904 closed

[2018-06-26 18:35] wanchaol commented on #8769
Hi @zou3519, yes I agree that's what actually happening, I think there're two possible solutions:

1. input.size(0) should actually returns a int type instead of a tensor.
2. we add an implicit conversion from a List of Tuple/Int mix to a Tensor

I think option 1 probably make more sense. Do you have any suggestions?

[2018-06-26 18:45] pietern commented on #2530
@fliman On master when using THD you can run `torch.distributed.destroy_process_group()` to destruct everything before interpreter shutdown. For 1.0 with c10d all distributed context is captured in Python objects (no more globals) and will be destructed before CUDA shuts down by default (no need for a separate call to destruct it).

[2018-06-26 18:46] zou3519 commented on #8769
I'd recommend (1) so that it can match python semantics more than it does right now.

[2018-06-26 19:02] wanchaol commented on #8528
Split need to wait until we have mutable list implemented, as it requires us to know the shape of the input tensor which we could only know it during runtime.

[2018-06-26 19:21] weiyangfb commented on #4204
Should we close this since there is already torch.zeros() for sparse tensor? @zou3519 @SsnL

[code]
torch.sparse.FloatTensor of size (3,3) with indices:
tensor([], dtype=torch.int64, grad_fn=<Error>)
and values:
tensor([], grad_fn=<Error>)

[2018-06-26 19:29] SsnL opened #8907 "Better ways to make CI env changes"
Currently because of `TestCollectEnv.test_expect`, if one wants to change some CI env, e.g., CUDA driver version, they need to disable that test in a PyTorch PR, update the CI dockerfile repo, then update expect file & re-enable. There should be easier ways.

cc @zou3519 @yf225

[2018-06-26 20:04] SsnL commented on #4204
grad_fn looks wrong.

[2018-06-26 20:13] avmgithub opened #8909 "[ppc64le pytorch] RuntimeError: NCCL Error 13: invalid data type"
torch (0.5.0a0+f607794)
RH 7.5
CUDA 9.2
cuDNN 7
GPU :  Pascal
cmake version 3.11.1

## Issue description
When running autograd test and other tests ,  tests fails with :
RuntimeError: NCCL Error 13: invalid data type
 Example:
ERROR: test_unused_output_gpu (__main__.TestAutograd)

Traceback (most recent call last):
  File "test_autograd.py", line 1360, in test_unused_output_gpu
    outputs = Broad

[2018-06-26 20:59] syed-ahmed opened #8913 "Multiprocessing Self Test Error"
Getting this error in multi processing self test. The bug surfaces when I issue the `run_test` command like two more times one after another.

System:
Pytorch (cca24763), CUDA 9, V100

[code]

[2018-06-26 22:32] dmitriy-serdyuk opened #8921 "[feature request] More methods for PackedSequence"
As a person who works a lot with recurrent networks and sequences, I wish it was easier to work with `PackedSequence`. I frequently find myself packing/unpacking sequence to perform some simple operation such as
[code]
 This complicates code, introduces bugs (setting `batch_first` incorrectly), and makes me write two versions of code for tensors and sequences.

`PaddedSequence` can be extended to

[2018-06-26 23:14] wanchaol commented on #8502
I am able to test this function using scriptMethod, and it works with no "undefined value None" shown. It seems that the problem is related to the CompilationUnit.

[2018-06-26 23:19] weiyangfb opened #8923 "log1p not supported on torch.FloatTensor"
For some reason torch.log1p() is broken.

[code]
RuntimeError: log1p not supported on torch.FloatTensor

[2018-06-26 23:50] ezyang commented on #8907
There is always necessarily going to be some interlock involved though, right? You need to always:

1. Modify pytorch to accept the new image
2. Deploy it
3. Modify pytorch to not accept the new image

I am OK with chalking up this `test_expect` test as a failed experiment and just removing it entirely. There's probably better ways to check that our CI env is consistent.

[2018-06-26 23:59] sidr97 commented on #3867
Since same padding means padding = (kernel_size - stride)//2, what if padding = "same" is introduced such that when written, it automatically reads kernel size and stride (as that is also mentioned in nn.Conv2d) and applies padding automatically accordingly

[2018-06-27 00:00] crazysal commented on #7781
aaaah.  A very similar error to what I go while installing tensorflow from pre-compiled binaries with cuda9.2 and cudn7.x
https://github.com/tensorflow/tensorflow/issues/16750#issuecomment-394934998

The issue is the frameworks are all last supporting CUDA9.0/9.1
with cuda 9.2 it's unable to find that file.

I did solve the issue there by installing the cuda 9.0 sdk along with the 9.2 driver. (for

[2018-06-27 00:28] burnzzz commented on #8588
Same here with:

UBUNTU 18.04
CUDA 9.2

[code]

[code]

[code]

[2018-06-27 00:42] vishwakftw commented on #8923
`log1p` seems to work fine on master.

[2018-06-27 00:57] li-roy commented on #8923
I also can't reproduce this.

[2018-06-27 01:23] weiyangfb commented on #8923
Ah, I see, it is working fine. I accidentally changed something and broke it...

[2018-06-27 01:23] #8923 closed

[2018-06-27 01:54] goswamig opened #8926 "RuntimeError: cuda runtime error (30), cuda-9.1, nvidia-driver-390.30"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description
pytorch-cuda-9.1
RuntimeError: cuda runtime error (30) : unknown error at /opt/conda/conda-bld/pytor

[2018-06-27 02:00] gautamkmr commented on #8926
(pytorch_p27) ubuntu@ip-172-31-78-23:~$ ls -lrt /usr/local/cuda
lrwxrwxrwx 1 root root 20 Jun 22 01:34 /usr/local/cuda -> /usr/local/cuda-9.0/
(pytorch_p27) ubuntu@ip-172-31-78-23:~$ echo $LD_LIBRARY_PATH
/usr/local/cuda-9.1/lib64:/usr/local/cuda-9.1/extras/CUPTI/lib64:/lib/nccl/cuda-9.1/lib:/usr/lib64/openmpi/lib/:/usr/local/lib:/usr/lib:/usr/local/mpi/lib:/lib/:/usr/lib64/openmpi/lib/:/usr/local

[2018-06-27 02:00] gautamkmr commented on #8926
``(pytorch_p27) ubuntu@ip-172-31-78-23:~$ ls -lrt /usr/local/cuda
lrwxrwxrwx 1 root root 20 Jun 22 01:34 /usr/local/cuda -> /usr/local/cuda-9.0/
(pytorch_p27) ubuntu@ip-172-31-78-23:~$ echo $LD_LIBRARY_PATH
/usr/local/cuda-9.1/lib64:/usr/local/cuda-9.1/extras/CUPTI/lib64:/lib/nccl/cuda-9.1/lib:/usr/lib64/openmpi/lib/:/usr/local/lib:/usr/lib:/usr/local/mpi/lib:/lib/:/usr/lib64/openmpi/lib/:/usr/loc

[2018-06-27 02:18] saturdays commented on #8820
Hi, do we have a fix?

[2018-06-27 02:53] mkummer225 commented on #8012
@patrickpoirson so far no luck - I'm pretty sure it's a really simple fix and that we just need to change out the input layer from a VideoInput to a blob or something then just run something like
`
data = np.random.rand(N, C, H, W) // aka your actual np arrays of video frames
workspace.FeedBlob("data", data)
`

[2018-06-27 03:04] li-roy opened #8928 "port grid sampler and affine grid generator to aten"

[2018-06-27 03:25] malisit opened #8930 "Multiple GPU, Batch Normalization - RuntimeError: the derivative for 'running_mean' is not implemented"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

I'm not able to use batchnorm when I run the code on multiple gpu. Below code works just fine when

[2018-06-27 04:42] pjh5 commented on #8588
@burnzzz that is not the same error message. Please open a new issue.

[2018-06-27 04:48] pjh5 commented on #8785
Are you sure your CUDA installation is working? Can you run the included examples okay? Are you sure that your CuDNN and driver versions are compatible with your CUDA?

[2018-06-27 05:58] t-vi commented on #8921
The binary operations are outright dangerous unless you implement erring out when feeding sequences of different length.
Personally, I use an apply method
[code]
but that has been all I ever needed. Can be used with `torch.x` functions, user-defined or lambdas.

[2018-06-27 06:03] 541435721 commented on #7318
@kimdwkimdw I tride,but it occurs some errors. I have tried to install with pip or conda followed the main page of pytorch, but it doesn't work.

[2018-06-27 07:00] williamstar opened #8932 "gather problem when batch size equal to specific value in inference time with multiple gpu"
## Issue description
Always raise exception when meet specific batch size number in inference phase, such as [9, 11, 13, 15, 19, 22], but single device  operating normally.
When downgrade to torch 4.0 stable version still meet this question.

## Code example
[code]

**output**

[code]

## System Info
PyTorch version: 0.5.0a0+6eec411
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: Ubunt

[2018-06-27 09:10] yja1 opened #8934 "RuntimeError: CUDNN_STATUS_NOT_SUPPORTED. This error may appear if you passed in a non-contiguous input."
pytorch 0.4 cuda8 cudnn6
code is:
[code]

the error is:
loss.backward()
RuntimeError: CUDNN_STATUS_NOT_SUPPORTED. This error may appear if you passed in a non-contiguous input.

I try add "torch.backends.cudnn.enabled=False"
but the error:
RuntimeError: AffineGridGenerator needs CuDNN for processing CUDA inputs, but CuDNN is not enabled

if run the code in cpu mode is ok.

[2018-06-27 09:29] apaszke commented on #8900
I think what we have now is reasonable. We don't want the full repr there, because it's more important to print the structure of the module, and not the exact weight values (which are rarely interpretable)

[2018-06-27 09:30] Nigel-Amers opened #8935 "Failed to run 'bash tools/build_pytorch_libs.sh --use-cuda --use-nnpack --use-mkldnn nccl caffe2 nanopb libshm gloo THD c10d'"
- CUDA/cuDNN version:8/5

[ 87%] Building CXX object caffe2/CMakeFiles/caffe2_gpu.dir/__/aten/src/ATen/CUDAByteStorage.cpp.o
In file included from /home/liufang/Pytorch/aten/src/ATen/native/cudnn/Conv.cpp:79:0:
/home/liufang/Pytorch/aten/src/ATen/cudnn/cudnn-wrapper.h:10:2: error: #error "CuDNN version not supported"
 #error "CuDNN version not supported"
  ^
In file included from /home/liufang/Pyt

[2018-06-27 09:30] yja1 commented on #8934
strange
I change input x to [N 256 24 8] is ok. x is [N 2048 1 1] has that error.

[2018-06-27 09:30] #8934 closed

[2018-06-27 11:00] he010103 commented on #7082
@mitar ok, but pytorch0.4.0 doesnet have fft.

[2018-06-27 11:02] #8894 closed

[2018-06-27 12:50] vishwakftw commented on #8935
Can you try updating your `cuDNN` to 7?

[2018-06-27 13:19] doulemint opened #8936 "Failed to run 'bash tools/build_pytorch_libs.sh --use-cuda --use-nnpack nccl caffe2 nanopb libshm gloo THD c10d'"
## ERROR

-- Configuring incomplete, errors occurred!
See also "/home/stone/pytorch/build/CMakeFiles/CMakeOutput.log".
See also "/home/stone/pytorch/build/CMakeFiles/CMakeError.log".
Failed to run 'bash tools/build_pytorch_libs.sh --use-cuda --use-nnpack nccl caffe2 nanopb libshm gloo THD c10d'

### The output of /home/stone/pytorch/build/CMakeFiles/CMakeError.log
## System Info
Performing C++ SOU

[2018-06-27 13:31] BIGBALLON opened #8937 "[caffe2] Is there any method to implement learning rate scheduler?"
Hello, everyone.

since tensorflow or pytorch can adjust learning rate easily by using a scheduler function.

[code]

Is there anyway to use a different learning rate scheduler(e.g. cos scheduler)???

[2018-06-27 14:45] valsworthen opened #8938 "[Feature request] Get cell state from the last layer for each t when using LSTM"
Hello there,

from the doc of `nn.LSTM`, the forward method outputs `output, (h_n, c_n)`.
Currently `output` contains the "output features (h_t) from the last layer of the LSTM, for each t". I'd find it interesting if output also returned the cell state from the last layer for each t.

Indeed, when trying to feed a LSTM with its predictions (for time series) you need to also provide the "new initi

[2018-06-27 14:47] nlgranger commented on #7318
It doesn't seem to change anything for Pycharm (2018.1, with rebuilt caches).

[2018-06-27 14:56] Hv0nnus opened #8940 "Issue in a particular case in backpropagation"
The back propagation isn't working properly in the case 0**0. For example in the code below we have an "nan" which should mathematically not be here.

x = torch.tensor([0., 1.], requires_grad=True)
loss = sum((x)**0)
loss.backward()
print(loss)
print(x.grad)

tensor(2.)
tensor([nan.,   0.])

It is probably because the derivative of loss is 0*(x^-1) which is 0/0 is the case x=0. The gradient should

[2018-06-27 14:56] SsnL commented on #8900
@apaszke Yeah, we shouldn't print the values. But we don't show classes like `torch.FloatTensor` anymore, and explicit using these classes are discouraged. We should show `dtype` and `device` instead.

We should remove the extra line either way.

[2018-06-27 14:59] zou3519 commented on #8907
Agreed, we should remove the expect test if it is too much (it seems like it is).

[2018-06-27 15:10] zou3519 commented on #7318
You should check out @kimdwkimdw 's pull request, not pytorch master. The pull request has not been merged into pytorch master yet.

This is the PR: https://github.com/pytorch/pytorch/pull/8845.

[2018-06-27 15:19] nlgranger commented on #7318
Yes, this what I did:
[code]

[2018-06-27 16:23] vadimkantorov commented on #8076
Another suggestion for `torch.broadcast` or `torch.broadcast_to` is an argument which allows to add unit dimensions on the right instead of left, so that `B x C` can be broacasted to `BxCxHxW`

[2018-06-27 16:40] kimdwkimdw commented on #7318
@nlgranger you should delete python stubs manually. it cannot be deleted with 'invalidate cache'.

When you setup project, Pycharm initialize its python stub files.

After you delete python stub directory, restart Pycharm.

PyCharm will re-generate its python stub.

[2018-06-27 16:56] nlgranger commented on #7318
Doesn't seem t change anything, but it might be my setup. Maybe we can wait for someone else to try?

[2018-06-27 17:09] gabriellapizzuto opened #8944 "[caffe2] UnicodeDecodeError when running LeNet"
## Issue description

I am getting the following error [UnicodeDecodeError: 'ascii' codec can't decode byte 0x90 in position 131: ordinal not in range(128)]  when following similar code to this: https://caffe2.ai/docs/tutorial-MNIST.html

## Code example
    workspace.ResetWorkspace()

    device_opts = core.DeviceOption(caffe2_pb2.CUDA, 0)
    init_def = caffe2_pb2.NetDef()
    net_def = caffe2_p

[2018-06-27 17:12] kimdwkimdw commented on #7318
You should find python stub directory. When you click torch, you can find stub directory.

[2018-06-27 17:22] dmitriy-serdyuk commented on #8921
Checking that sequences are the same length doesn't seem very difficult.

In 4.0 `PackedSequence` received `cuda()`, `cpu()` and type conversion methods, in 5.0 `to()`. It would be logical to continue this direction of making it to behave like `Tensor`.

[2018-06-27 17:57] ngimel opened #8949 "test_jit produces lots of mkl errors"
On a fresh build
[code]
Test is reported as passing though. Should I be concerned? Upstream CI does not have logs like this.
Cuda 9/python3/gcc5.4

[2018-06-27 18:50] dmitriy-serdyuk opened #8957 "BatchSampler docstring is outdated"
## Issue description

The examples in the BatchSampler docstring cause exceptions.

## Code example

Copy pasted from https://github.com/pytorch/pytorch/blob/master/torch/utils/data/sampler.py#L115

[code]

## System Info
PyTorch version: 0.4.0
Is debug build: No
CUDA used to build PyTorch: None

OS: Mac OSX 10.13.5
GCC version: Could not collect
CMake version: Could not collect

Python version: 3

[2018-06-27 18:51] yf225 commented on #8805
@warmspringwinds According to the Python doc (https://docs.python.org/3/library/multiprocessing.html#multiprocessing.Process.terminate), subprocesses of the spawned process will not be terminated, and they will simply become orphaned. This can explain why gpu memory wasn't released in the dataloader worker processes.

The change in https://github.com/pytorch/pytorch/pull/6606 acts as a failsafe an

[2018-06-27 18:51] #8805 closed

[2018-06-27 18:59] warmspringwinds commented on #8805
@yf225 Thank you!

I just wanted to make sure that it is an expected behavior in pytorch <= 0.4 and not a bug.

[2018-06-27 18:59] colesbury commented on #8949
cc @cpuhrsch (I'm seeing this too)

[2018-06-27 19:06] cpuhrsch commented on #8949
I saw this as well, but then it disappeared after https://github.com/pytorch/pytorch/pull/8800.

[2018-06-27 19:36] ngimel commented on #8949
I'm on 290d20b which should be after #8800, and I'm still seeing this:
[code]

[2018-06-27 20:02] cpuhrsch commented on #8949
Fix https://github.com/pytorch/pytorch/pull/8961 is out.

[2018-06-27 20:36] yf225 commented on #8651
@timmeinhardt It seems that the pickling of a `torch.Tensor` by `Connection.send()` would somehow alter the RNG state. We are working on better support of Pipe in `torch.multiprocessing` (https://github.com/pytorch/pytorch/issues/8374) which will address this issue. For now, one workaround is to do the following:
[code]

Then, we can retrieve the tensor by `tensor = torch.load(remote.recv())`.

[2018-06-27 20:37] #8651 closed

[2018-06-27 21:00] zou3519 commented on #8938
Definitely clear, @valsworthen, this is something we are working on.

[2018-06-27 21:37] SsnL commented on #8907
@ezyang @zou3519 Here's my thought: we should have a CI env that uses only the absolute minimal supported versions of everything. Configs of that env should not be changed often. And we should only enable `test_expect` for that env.

[2018-06-27 22:08] SsnL commented on #8820
Hi, in your `mydataset.py` (full script [here](https://gist.github.com/SsnL/84dea832cebf4ccc44c6f7126352508f)), there is this part
[code]

Since `set` is unordered, the mapping between `label_nm` and `label_id` is not deterministic. (They maybe are Py2, but that is undefined behavior.) So you see different results on train vs test, and different test runs.

Since those in `self.label_nms` are just

[2018-06-27 22:08] #8820 closed

[2018-06-27 23:07] #8652 closed

[2018-06-27 23:07] #8957 closed

[2018-06-27 23:28] wanchaol opened #8972 "[JIT] Variables in for loop need to escape to the outer scope"
test case failes:

[code]

I think we should fix it and let the mutated vars escape to the outer scope as it matches with the python syntax.

[2018-06-27 23:41] li-roy commented on #8853
I think norm is already implemented.

[2018-06-27 23:45] joseandrespena opened #8974 "Compiling pytorch on MacOSX 10.13.5 with support for CUDA GeForceGT 750M"
## Issue description

Compiling pytorch on MacOSX 10.13.5 with support for CUDA GeForceGT 750M 2048MB

## Code example

Error log
/Users/josepen/Development/pytorch/aten/src/ATen/native/cuda/SummaryOps.cu:222:134: warning: self-comparison always evaluates to true [-Wtautological-compare]
switch (memType) { case CUDAHistogramMemoryType::SHARED:  (__cudaPushCallConfiguration(grid, block, (CUDAHistog

[2018-06-27 23:55] li-roy commented on #8062
Sorry for the late response. We'll discuss this and get back to you!

[2018-06-28 00:03] li-roy commented on #8935
ATen requires at least cudnn 6.

[2018-06-28 00:17] li-roy commented on #3835
Closed by #3984 and #3970

[2018-06-28 00:17] #3835 closed

[2018-06-28 00:18] li-roy commented on #3824
Closed by #3970

[2018-06-28 00:18] #3824 closed

[2018-06-28 00:49] li-roy commented on #7248
I'm having a bit of trouble reproducing with what you've given. Could you provide some code that reproduces the problem?

[2018-06-28 01:46] bingo619 commented on #8974
Cuda hasn't support llvm 9.1 yet, have to use 9.0 which is Command_Line_Tools_macOS_10.13_for_Xcode_9.2 or lower versions.

[2018-06-28 02:53] 541435721 commented on #7318
@kimdwkimdw I have reinstalled and deleted the cache, but no changes.
![](http://pics.qiangbenyk.cn/2018_06_28_10_50_48_245-C.png)
![](http://pics.qiangbenyk.cn/2018_06_28_10_51_17_319-Y.png)

[2018-06-28 03:06] Lmy0217 opened #8976 "RuntimeError: DataLoader worker is killed by signal: Killed."
## Issue description

Traceback (most recent call last):
  File "/usr/lib/python3.5/runpy.py", line 184, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.5/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/media/zonstlab0/c3e7052f-24ed-4743-8506-fb7b8c6f0ba7/zonstlab0/myluo/Diagnosis/main_PVC.py", line 161, in <module>
    train(epoch)
  File "/media/zo

[2018-06-28 03:08] Lmy0217 commented on #7943
@nlgranger @SsnL
Traceback (most recent call last):
File "/usr/lib/python3.5/runpy.py", line 184, in _run_module_as_main
"main", mod_spec)
File "/usr/lib/python3.5/runpy.py", line 85, in _run_code
exec(code, run_globals)
File "/media/zonstlab0/c3e7052f-24ed-4743-8506-fb7b8c6f0ba7/zonstlab0/myluo/Diagnosis/main_PVC.py", line 161, in
train(epoch)
File "/media/zonstlab0/c3e7052f-24ed-4743-8506-fb7b8c

[2018-06-28 03:10] #7288 closed

[2018-06-28 04:31] weiyangfb opened #8977 "add() of sparse tensor has different behaviors in CPU vs CUDA"
add() two sparse tensor in CUDA generates a uncoalesced tensor:
[code]

add() in CPU generates a coalesced tensor:
[code]

Is this intended, or did I miss something?

[2018-06-28 05:04] aswin1980 commented on #6794
Having same problem
Any solutions?

Inserted 0 rows
Inserted 16 rows
Inserted 32 rows
Inserted 48 rows
Inserted 64 rows
Inserted 80 rows
Inserted 96 rows
Inserted 112 rows
Checksum/write: 1746063

Traceback (most recent call last):
  File "pytorch/caffe2/python/examples/lmdb_create_example.py", line 107, in <module>
    main()
  File "pytorch/caffe2/python/examples/lmdb_create_example.py", line 10

[2018-06-28 05:15] joseandrespena commented on #8974
@bingo619 can you point me out where in CUDA documentation says this incompatibility?
Beg your pardon, Do I have to downgrade what Apple LLVM version 9.1.0 ? How should I proceed?
Thank you.

[2018-06-28 05:45] joseandrespena commented on #8974
This one, right?
Command_Line_Tools_macOS_10.13_for_Xcode_9.2.dmg
<img width="731" alt="screen shot 2018-06-27 at 11 40 46 pm" src="https://user-images.githubusercontent.com/145929/42015212-a23419f2-7a63-11e8-958a-334ac813ed1b.png">
Uninstall the current installed Command Line Tools?

[2018-06-28 05:56] liu-zhy commented on #8886
Could anyone help me? I have got stuck with this question a few weeks.

[2018-06-28 06:13] SsnL commented on #8977
they are equivalent

[2018-06-28 06:13] SsnL commented on #8976
your data loader worker process was killed by a signal

[2018-06-28 06:50] Lmy0217 commented on #8976
@SsnL what should I do?

[2018-06-28 07:23] nlgranger opened #8978 "torch.jit.trace raises RuntimeError when torch.nn.functional.affine_grid is in the graph"
## Issue description

`torch.jit.trace` fails when `torch.nn.functional.affine_grid` exists in the graph, producing the following error:

[code]

I think to remember plotting a graph with a spatial transformer network in the past so it might be regression.

## Code example

This sample code is very close to the pytorch turorial on Spatial Transformer Networks:

[code]

## System Info

[code]

The

[2018-06-28 07:45] wenhe-jia opened #8979 "Check failed: error == cudaSuccess unspecified launch failure [caffe2]"
When I tried to resume training the maskrcnn using Detectron. The training progress goes well at the begining, but alone with the training continues, the training time for each iter grows progressly, after handreds or thousands of iterations, the training broke down with the cuda error below:

I googled this error, it seems like something about GPU memory leak, but during training time, GPU memory

[2018-06-28 08:21] quinnliu4real opened #8980 "[Caffe2]Weird error during installing caffe2 from source"
I wanted to install caffe2 from source in my Anaconda virtual env for [Densepose](https://github.com/facebookresearch/DensePose). However I've been stuck for 2 days because of this weird error.

## Issue description

I strictly followed the instructions on [caffe2.ai](https://caffe2.ai/docs/getting-started.html?platform=mac&configuration=compile#custom-anaconda-install).
Cmake output seems pretty

[2018-06-28 08:29] t-vi commented on #7313
My reason for suggesting get_output is the "explicit is better than implicit" Python-Zen.
Personally, I think the expected time spent  debugging when having dynamical output accessors as attributes is higher than the time saved by not making it explicit. But other people might get this type of stuff right all the time and I'm just imagining the problem.

[2018-06-28 08:41] t-vi commented on #7313
given the effort in #8806, maybe moving the hook to the storage, is a good idea, too.

[2018-06-28 10:04] kimdwkimdw commented on #7318
![image](https://user-images.githubusercontent.com/386070/42027503-d9cb91a0-7b04-11e8-98eb-1c25635d5c5c.png)
You cannot delete PyCharm Cache through this `invalidate Caches`

In MacOS, you should manually delete folders in `~/Library/Caches/PyCharm2018.1/python_stubs/`.

There is an another option. If you make a new project and change your interpreter setting, PyCharm will make its `python stubs`

[2018-06-28 11:17] doulemint commented on #8936
BTW,I met a different issue from #8935

[2018-06-28 12:04] nlgranger commented on #7318
This is exactly what I have done (invalidate cache, stop pycharm, `rm .PyCharm2018.1/system/python_stubs/* -rf`).
BTW I'm using python 3 in case that matters (I see some python2 tests in the PR).

[2018-06-28 12:12] doulemint commented on #8936
well,I solved my problem.....I didn't install optional dependencies......facepalm....

[2018-06-28 12:12] #8936 closed

[2018-06-28 13:06] ezyang opened #8981 "Intermittent failure of TestCollectEnv.test_expect"
The failing diff usually looks something like:

[code]

I thought this was some weird buffering problem, but then I looked more carefully at the test, and one of the regexes looks VERY suspicious:

[code]

If the size of the short version hash varies, this regex will gobble more or less. It really shouldn't be hardcoded as wildcard periods.

CC @zou3519

[2018-06-28 13:32] ezyang opened #8982 "parallelize_bmuf_distributed_test intermittently hangs"
Example: https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-gcc5-ubuntu16.04-test/6806/console

[code]

Note the timestamps.

@enosair, could you please look at it?

[2018-06-28 13:40] yl1991 commented on #1706
Any plans to officially support it?

[2018-06-28 13:53] alexge233 commented on #8860
Nevermind I managed to solve it by doing the following:
- setting `eps=1e-4`
- clamping the `Conv2d` layer propagation with `clamp(min=1e-4)`

[2018-06-28 13:53] #8860 closed

[2018-06-28 13:57] ezyang commented on #8978
Flagging @jamesr66a @zou3519

[2018-06-28 13:59] 541435721 commented on #7318
@kimdwkimdw
I did this as the guidence and my os is windows10, but I'm facing this problem.

[2018-06-28 14:45] weiyangfb commented on #8977
@SsnL ok, closing then

[2018-06-28 14:45] #8977 closed

[2018-06-28 14:49] lrsoft17 opened #8984 "[Caffe2] segmentation fault"
Hi,

I am following the installation guide for Caffe2 from https://caffe2.ai/docs/getting-started.html?platform=ubuntu&configuration=compile

When I get to the step where I have to test the Caffe2 install (by running cd ~ && python -c 'from caffe2.python import core' 2>/dev/null && echo "Success" || echo "Failure"). I get failure.

I have run the command in the python interpreter, and I received t

[2018-06-28 15:03] t-vi opened #8985 "[Feature Proposal] Conditional Batch Norm"
I'm implementing conditional batch norm.
If we (you) want it, I'd be glad to send a PR.

[2018-06-28 15:42] weiyangfb opened #8986 "add() a scalar to sparse tensor"
Do we have add() support for sparse + scalar ?

[code]

[2018-06-28 15:46] StatML opened #8987 "undefined reference to `onnx::GetEmptyStringAlreadyInited[abi:cxx11]()'"
Hi, I met the following issue when build pytorch from source. I can build caffe2 successfully by using `python3 setup_caffe2.py install`, but can not build pytorch by using `python3 setup.py install`. Does anyone know how to solve it? Thanks!

## Issue description

Failed to run 'bash tools/build_pytorch_libs.sh --use-nnpack caffe2 nanopb libshm gloo THD'

## Code example

`python3 setup.py instal

[2018-06-28 15:46] jcmgray opened #8988 "[Feature Request] tensordot"
``tensordot`` would be a useful function to have for general contractions between tensors. It looks like all the basic functionality is already present, but not a [numpy-matching api](https://docs.scipy.org/doc/numpy/reference/generated/numpy.tensordot.html). One nice gain if this was present would be that ``pytorch`` could be used as a backend by [``opt_einsum``](https://github.com/dgasmith/opt_e

[2018-06-28 16:08] SsnL opened #8989 "[proposal] out= doesn't resize storage"
Example use case: I allocate a buffer, and put multiple things using `out=` into the buffer (with views). Naturally I don't want any one of them to resize storage. But currently it's hard to make sure.

cc @colesbury @ezyang

[2018-06-28 16:09] SsnL commented on #8976
@Lmy0217 You can try running with `num_workers=0` and see if it gives you a better error (as it doesn't use subprocesses).

[2018-06-28 17:05] ailzhang commented on #7415
Discussed with @SsnL  and @colesbury , I will add a Module.load_state_from_file() function which implicitly load the checkpoint to cpu first and then move onto GPU, which avoids using doubled GPU memory.

[2018-06-28 17:18] karandwivedi42 commented on #7415
Won't this lead to a confusion of whether to use `load_state_dict` or `load_state_from_file`?

[2018-06-28 17:23] SsnL commented on #7415
I’m still advocating overloading load_state_dict’s first arg. Or maybe we
can add an additiknal kwarg.

On Thu, Jun 28, 2018 at 13:19 Karan Dwivedi <notifications@github.com>
wrote:

[2018-06-28 17:29] syed-ahmed commented on #8913
I was able to reproduce multiprocessing error consistently by changing `time.sleep` to `0.01` here https://github.com/pytorch/pytorch/blob/master/test/test_multiprocessing.py#L288, with the command `python test_multiprocessing.py -v TestMultiprocessing`. However if you run `test_fs` in isolation using `python test_multiprocessing.py -v TestMultiprocessing.test_fs`, it doesn't reproduce. So it tell

[2018-06-28 17:36] baking-soda commented on #7781
I was building from the source. That's why I was baffled. Somewhere in the build flow the CUDA version was hardcoded into the library image.

[2018-06-28 17:40] ailzhang commented on #7415
load_state_from_file will just call torch.load(, map_location='cpu') and then load_state_dict() I think. Yea this could also be done by overloading load_state_dict(), not sure changing the API is preferred.

[2018-06-28 17:52] bhushan23 commented on #8989
We can create memory pool and enforce using it for memory operations. This will allows us to control who can resize and who can't

[2018-06-28 17:54] bhushan23 commented on #8985
this sounds interesting, can you give some stats the benefits?

[2018-06-28 18:33] wanchaol commented on #8972
@zdevito do you have any ideas on how this could be fixed?

[2018-06-28 18:46] #8981 closed

[2018-06-28 18:53] weiyangfb commented on #8986
oh i forgot there was a discussion around this already #1369

[2018-06-28 18:53] #8986 closed

[2018-06-28 19:00] karandwivedi42 commented on #7415
Or we can better document the `map_location=cpu` in `torch.load`, stating that it should be used if GPU memory is low.

[2018-06-28 19:03] ailzhang commented on #7415
@karandwivedi42  Yep that's also one option we talked about.

[2018-06-28 19:10] wanchaol commented on #8972
Chatted in person, in the case of for loop not executed at all, we don't want to vars inside to escape to the outer scope as we are statically generating things, so we close it and treat this case not a valid syntax of our subset of python.

[2018-06-28 19:10] #8972 closed

[2018-06-28 19:12] t-vi commented on #8985
Ah, sorry, I should have added "...as featured by conditional [SN-GAN](https://github.com/pfnet-research/sngan_projection)". The idea is to have the output stats (weight and bias) but not input (running_var/mean) depend on a class parameter.

[2018-06-28 19:41] VirosaLi opened #8994 "After using unsqueeze and expand to add a new dimension to a tensor, assign value to one "page" of the tensor (such like tensor[:, :, 0] = 1) will change every "page" of the tensor."
## Issue description

After using unsqueeze and expand to add a new dimension to a tensor, assign value to one "page" of the tensor (such like tensor[:, :, 0] = 1) will change every "page" of the tensor.

## Code example
`
import torch

expand_length = 8

tensor = torch.randn(2, 2).mul(2)
expand_tensor = torch.zeros_like(tensor).unsqueeze(-1).expand(-1, -1, expand_length)
expand_tensor[:, :, 0] =

[2018-06-28 19:53] vadimkantorov opened #8996 "[pytorch] Warnings while compiling ATen and C2 from master"
Plenty of :
[code]
while building aten, coming from NVCC, build completes successfully though.

ubuntu 16.04, cuda 8.0, gcc 5.4.0

[2018-06-28 20:47] weiyangfb commented on #8853
also added requests from @adefazio:
ops and autograd support of 1. elementwise S x S -> S; 2. elementwise S x D -> S; and 3. dim-wise ops ( softmax)

[2018-06-28 21:16] hartb commented on #7420
I'm looking more at `test_variable_sequence_cuda`. It fails consistently in the environment listed just above--always with:

`AssertionError: tensor(1.00000e-05 *
       3.0518, dtype=torch.float16, device='cuda:0') not less than or equal to 1e-05`

The test fails only for float16.  In the failing case, the mismatch is in a single member of the tensor:

[code]

And the difference is always `3.0518

[2018-06-28 21:17] SsnL commented on #8994
Yes, this is expected because you are expanding the tensor. Expand just changes the stride at that dimension to 0, so each slice along that dimension is sharing the same memory location.

[2018-06-28 21:17] #8994 closed

[2018-06-28 21:37] hartb commented on #7420
If I test only float16 the results change a bit, but are still repeatable, now:

[code]

and

[code]

And the miss-match is now always `2**-16` (I misspoke above, `3.0518e-05` == `2**-15`).

[2018-06-28 21:54] crazysal opened #9003 "cmake error"
building caffe2 with gpu exits with the following log output

System Info :

Is debug build: No
CUDA used to build PyTorch: 9.0.176
OS: Ubuntu 18.04 LTS
GCC version: (Ubuntu 7.3.0-16ubuntu3) 7.3.0
CMake version: version 3.10.2
Python version: 3.6
Is CUDA available: Yes
CUDA runtime version: 9.2.88
GPU models and configuration: GPU 0: Tesla V100-SXM2-16GB
Nvidia driver version: 396.26
cuDNN version

[2018-06-28 22:03] srinivr commented on #5486
What is the suggested workaround in this circumstance?
`import torch`
`x = [torch.rand((3,2)), None] `
`if None in x:
    print('None found in list')`

[2018-06-28 22:43] bhushan23 commented on #8996
Issue with our makefiles,
Passing this option for c and cpp both.
https://github.com/pytorch/pytorch/blob/1a03ba51dcc8cfa5ad863ca86217beb2850b12c0/cmake/MiscCheck.cmake

[2018-06-28 23:12] #8443 closed

[2018-06-28 23:22] #5536 closed

[2018-06-28 23:23] #6572 closed

[2018-06-28 23:23] #6713 closed

[2018-06-28 23:35] li-roy commented on #5486
@srinivr Perhaps just write a small function that returns True if it's a Tensor, otherwise does the check for None?

[2018-06-28 23:45] #8867 closed

[2018-06-28 23:45] #8949 closed

[2018-06-29 01:10] boyingl opened #9011 "load pretrained inception model failure"
configuration:
pytorch 0.3.1
python 3.6

I am trying to load a pretrained inception network

code:

error:

cc @mruberry

[2018-06-29 01:30] srinivr commented on #5486
I'm currently iterating through the list and check with `is None` but I wanted to know if there was a better way around it. But thanks for the tip! I can make it a function.

[2018-06-29 01:39] Lmy0217 commented on #8976
@SsnL I set `num_workers=0` and then there are no errors.

[2018-06-29 01:55] davidbutler1 commented on #8788
@john7002 I'm having the same problem. Did you manage to solve it?

[2018-06-29 02:38] SsnL commented on #9011
What's your torchvision version?

[2018-06-29 02:51] jaxony opened #9015 "Using a FastText model inside a PyTorch DataLoader"
I'm loading images and generating sentence vectors on-the-fly inside a PyTorch DataLoader. I am using FastText embedding model loaded with FastText's Python binding i.e., `fastText.load_model(bin_file_here)`.

When I pass into `torch.utils.data.DataLoader`:
* `num_workers > 0`  and `pin_memory=True`, `DataLoader.__iter__()` **never returns** and just hangs.
* `num_workers > 0` and `pin_memory=Fals

[2018-06-29 04:10] ezyang opened #9016 "SimpleMetaNetDefInitializer intermittently hangs"
Sample run:

[code]

[2018-06-29 05:12] #8857 closed

[2018-06-29 05:42] SsnL commented on #9015
Thanks for reporting! Could you share your Dataset code and enviroment information please?

[2018-06-29 05:57] #8715 closed

[2018-06-29 06:19] #8932 closed

[2018-06-29 06:21] jaxony commented on #9015
Thanks for the fast reply @SsnL.

Environment:
* OS: Ubuntu 16.04.4
* Python distribution: Anaconda 4.5.4, Python 3.6
* PyTorch: built from master branch at `commit 77484d91db052`
* fastText: pip install from master branch at `commit 25d0bb04bf43d8b674f`

This is (most of) my Dataset code. `self.embedding` is a `FastText` object.
[code]

[2018-06-29 06:54] t-vi commented on #8938
This would preclude using CuDNN, would it?

[2018-06-29 08:47] mirraaj opened #9022 "Help needed in torch.diag()"
[code]

I am using the following code as a neural network for my reinforcement learning codes. I need to sample actions from a Gaussian distribution. My objective is to get the variance from the neural network and diagonalize it for sampling. Please let me know how should I proceed. It seems that torch.diag doesn't support batches of input.