[2020-07-22 05:36] #41666 closed

[2020-07-22 05:43] usuyama commented on #32322
I'm also getting a deadlock in the imagenet example https://github.com/pytorch/examples/tree/master/imagenet

[2020-07-22 05:59] ddummkopfer opened #41838 "Some confusions about some ops and concepts"
Wonderful Deep Learning Framework.
Now i have some questions about some ops and concepts.

1. What do OpaqueTensorImpl, TensorImpl and StorageImpl mean under source code file c10/core?

2. What is to_dense() ? In official website, there is no explanation about the op to_dense().

 Thank you for your attention.

[2020-07-22 06:00] jeongukjae opened #41839 "[Feature Request] Add `to`, `cpu`, and `cuda` method to optimizer"
## 🚀 Feature

[code]

I think there is no appropriate way to send optimizer states to gpu memory currently.

## Motivation

When training should be saved and resumed, I packed all state dict to one dictionary object like `{"model": model.module.state_dict(), "optimizer": optimizer.state_dict(), "lr_scheduler": scheduler.state_dict()}` and save it. Due to the limit of GPU memory, when resuming trai

[2020-07-22 06:26] je-santos commented on #27837
I don't know if this helps, but I'm getting that error when switching from samples that are 200^3 to samples that are 256^3. Although I have plenty of memory to store them. The program errors out when calculating one of my personal metrics.

[2020-07-22 06:29] mruberry commented on #39674
I've finally had a chance to review this more thoroughly and I appreciate your proposal. The current behavior is a little convoluted.

To recap today:

- Today, if "track running stats" is True then population statistics are tracked. This is the default.
- If the batchnorm is in training mode and track running stats if False then population stats are also used (if available).
- If the batchnorm is

[2020-07-22 06:42] bddppq commented on #41798
https://github.com/pytorch/pytorch/blob/ea03f95/torch/onnx/utils.py#L979

[2020-07-22 06:59] ppwwyyxx commented on #39674
IMO pytorch should include standard versions of standard layers. While there could be many different variants of BatchNorm, just like there could be variants of convolution, pooling, it wasn't so reasonable for pytorch to include them unless any of them become more standard.
The `num_batches_tracked` and `track_running_stats` features are examples of things that are non-standard but added in pytor

[2020-07-22 06:59] xuhdev opened #41842 "Test on the correctness of type promotion between each two dtypes"
Currently `test/test_type_promotion.py` doesn't seem to have such a comprehensive test. It may be a good idea to add it. Derived from discussion at https://github.com/pytorch/pytorch/pull/41698#discussion_r458463593

cc @mruberry @VitalyFedyunin

[2020-07-22 07:22] Coderx7 commented on #41642
Here is a self contained example with Resnet18 and SimpleNetwork ( a simple 2 layered CNN) using fake data to demonstrate the problem. You can change the use_relu and disable_single_bns to see different results:
[code]

[2020-07-22 07:23] Coderx7 commented on #41640
Here is a self contained example with Resnet18 and SimpleNetwork ( a simple 2 layered CNN) using fake data to demonstrate the problem. You can change the use_relu and disable_single_bns to see different results:
(The majority of code is boilerplate resnet18 codes)
[code]

[2020-07-22 07:43] Coderx7 commented on #41641
seems updating to the nightly 1.7 somewhoe fixed this! as I couldnt replicate this again!

[2020-07-22 07:44] #41641 closed

[2020-07-22 07:52] Flamefire opened #41844 "test_bottleneck_cuda fails on Power"
## 🐛 Bug

When running the test suite on Power (with lot's of tests already excluded to make it to this point) I get a failed test_bottleneck_cuda.

## To Reproduce

Steps to reproduce the behavior:

1. `python run_test.py --verbose -x test_cpp_extensions_jit test_torch test_autograd test_cpp_extensions_aot_no_ninja test_cpp_extensions_aot_ninja test_jit test_nn`

The message isn't helpful:

[code

[2020-07-22 07:57] mruberry commented on #39674
I don't think the intent of @frgfm's proposal is to make batchnorm less standard, it's simply to give users more control over how it operates.

[2020-07-22 09:10] ddummkopfer commented on #41838
Another Question.
Does cuDNN support BF16 data type?

[2020-07-22 09:25] somnathrakshit commented on #830
salesforce/matchbox does not work with Pytorch 1.5+. Is there an updated way of doing this?

[2020-07-22 10:37] yles9056 commented on #37209
I encountered the same issue. I noticed that pytorch seems to conflict with opencv-python if opencv-python is compiled from source with CUDA support.

I'm using Windows 10 with CUDA 10.1. All my python packages are installed in a conda virtual environment with python 3.7.7.
First, I use `pip` to install `opencv-python==4.3.0` (no CUDA) and `torch==1.5.1+cu101` (CUDA 10.1) in a conda virtual enviro

[2020-07-22 10:48] kaituoxu opened #41847 "How to fix "Unknown IValue type for pickling: Device" in PyTorch 1.3?"
## ❓ Questions and Help
I got a model trained with PyTorch 1.4. If I script and save this model with PyTorch 1.4, it will save successfully, but I need to script and save this model with PyTorch 1.3. When I save model with 1.3, I got error message:
[code]
I want to know how to fix this `Device` issue. Thx.

### Please note that this issue tracker is not a help form and this issue will be closed.

[2020-07-22 10:57] peterjc123 commented on #37209
@yles9056 It's a cudnn conflicit. Unluckily you may have to build either one from source to resolve this.

[2020-07-22 11:03] cpbotha opened #41848 "With PyTorch 1.5.1, saving to onnx, loading and then running yields: "RuntimeError: [enforce fail at conv_pool_op_base.h:160] kernel_[dim]. If you are doing convolution or pooling, you will need to set explicitly the kernel size.""
## 🐛 Bug

When I export torchvision.models.resnet50 as is, as an onnx, using pytorch 1.5.1, and then load that onnx, `rep.run(input)` yields `RuntimeError: [enforce fail at conv_pool_op_base.h:160] kernel_[dim]. If you are doing convolution or pooling, you will need to set explicitly the kernel size.`

Doing the exact same thing with pytorch 1.4 and torchvision 0.5 is fine.

See self-contained rep

[2020-07-22 11:36] ChieloNewctle opened #41849 "After replace `torch.Tensor.__getitem__` with some other implementation, indexing with tensors of one dim behaves unexpectedly."
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
[code]

This code gives:
[code]

## Expected behavior

The code should have outputs like:
[code]

Or it's even okay to have:
[code]

The most annoying problem is, when I undo the modification, indexing is still wrong.

## Environment

[code]

## Additional context

If we set `torch.Tensor.__getitem__` with `f`, which is the original `__ge

[2020-07-22 12:20] cpbotha commented on #41848
My team-mate https://github.com/dylanv just figured out that if you add `operator_export_type=torch.onnx.OperatorExportTypes.ONNX_ATEN_FALLBACK` to the `torch.onnx.export()` invocation, the error is not raised at `rep.run()`

When I do that, I can confirm that the pytorch 1.5.1 case does not crash anymore, and the reloaded onnx gives the same outputs as the model I exported.

However, with `ONNX_A

[2020-07-22 12:22] frgfm commented on #39674
Thanks for diving into this @mruberry!

Regarding (3), to the best of my understanding, it is already doing this, I was just listing everything expected from this switch. Yes sure, I'll work on a PR shortly!

@ppwwyyxx As mruberry said, I do not aim at implementing a different version of BatchNorm, but rather focusing on two things:
- clarity of interface (knowing with what it will be normalized,

[2020-07-22 12:49] yles9056 commented on #37209
Thank you. I'll give it a try and see if the issue will be resolved.

[2020-07-22 13:35] #41474 closed

[2020-07-22 14:08] SpaceView commented on #32694
In my case, I solved my problem (use vs2019 compiler) by
---->pip install ninja<----
I'm not sure whether this could help; just, I check my python packages and found that when there is NO NINJA, it will give some similar errors, as below,
[3111/3614] Linking CXX shared module caffe2\python\caffe2_pybind11_state.cp37-win_amd64.pyd
Creating library lib\caffe2_pybind11_state.lib and object lib\caffe2

[2020-07-22 14:21] lablabla opened #41852 "Difference in inference time between CUDA 10.0 & 10.2"
## 🐛 Bug

Running the same model using LibTorch that was compiled with CUDA 10.2 results in ~20x slower inference time than using LibTorch that was compiled with CUDA 10.0

## To Reproduce

Steps to reproduce the behavior:

Compile LibTorch using 10.0 & 10.2
Run the following code with both libtorch libraries

[code]

## Expected behavior

Runtime of both runs should be roughly the same

## Enviro

[2020-07-22 14:27] i-chaochen commented on #5563
same problem here. I think it probably because I installed pytorch via pip.

I can import torch in my iPython (3.6.9), but I got the ModuleNotFoundError when I run python3

[code]

[2020-07-22 14:54] geothan opened #41853 "Pytorch installation"
Hello,

i have a nvidia gpu 1650 and i want to use it for training.
I installed the last cuda version 11.2, following the below commands:

`
## Cuda toolkit
wget https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64/cuda-ubuntu1804.pin
sudo mv cuda-ubuntu1804.pin /etc/apt/preferences.d/cuda-repository-pin-600
wget http://developer.download.nvidia.com/compute/cuda/11.0.2/local_

[2020-07-22 15:36] mrshenli opened #41854 "Add tests to cover saving/loading DDP modules"
Our DDP tutorial already saves/loads `ddp_model. state_dict()`, but we don't have test to cover this feature yet. Let's add some tests to make sure DDP states can be recovered properly.

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528 @osalpekar @jiayisuse @agolynski

[2020-07-22 16:36] vadimkantorov commented on #41292
One more related dataloader issue: https://github.com/pytorch/pytorch/issues/22924 about "Make DataLoader return usable traces in the case of Ctrl+C and similar OS signals."

[2020-07-22 17:05] #41712 closed

[2020-07-22 18:01] ezyang commented on #15359
Hi, I want to talk about the plan going forward for `torch.deterministic`. There are a few high-level questions that we need to answer:

1. What are the semantics of `torch.deterministic`? What does the user expect? Is best effort actually useful for a user? If it is not useful, is it better to define `torch.deterministic` in terms of *what* operations it controls?
2. Now that we have the `torch.d

[2020-07-22 18:29] ezyang opened #41857 "Follow the JAX or Tensorflow convention for meaning of grad() with complex inputs"
cc #755

JAX and Tensorflow disagree about whether or not the grad of a complex tensor should be conjugated or not. Here is an easy way to see the difference:

[code]

gives 0.2j

However

[code]

source: https://github.com/tensorflow/tensorflow/issues/3348

PyTorch also has to decide which side of the field it will come down on. Right now on master it implements JAX. From reading the issue, here

[2020-07-22 18:30] ezyang commented on #755
People who are interested in complex autograd, you may be interested in https://github.com/pytorch/pytorch/issues/41857 which touches on what convention PyTorch will follow (JAX or TF).

[2020-07-22 18:39] vadimkantorov commented on #32867
An efficient version for padded tensors so that the relevant dim is multiple of 8 for BoolTensors, multiple of 4 for 2-bit-valued tensors:

[code]

[2020-07-22 18:44] ppwwyyxx commented on #39674
More clarity of the current interface would be a great improvement. I also feel that's needed on the current interface.
But "understudied usage of BN" is, in other words, non-standard usage of BN. There are many such understudied usage of layers: if you look at the [equivalent of BN in tensorflow](https://www.tensorflow.org/api_docs/python/tf/keras/layers/BatchNormalization), it also has such extr

[2020-07-22 18:45] #37584 closed

[2020-07-22 18:48] mruberry commented on #39674
That makes sense @ppwwyyxx, but these flags affect the current features. They're not really adding new Batchnorm features.

[2020-07-22 18:52] vincentqb commented on #41857
(just sharing a [comment in another library](https://github.com/JuliaDiff/ChainRulesCore.jl/issues/23#issuecomment-527506584) that adds a little bit to [the tensorflow thread mentioned above](https://github.com/tensorflow/tensorflow/issues/3348))

[2020-07-22 18:54] anjali411 commented on #41857
For holomorphic functions, TF returns the conjugate of gradient defined using Cauchy Riemann

[2020-07-22 18:59] priyanshuwustl commented on #41742
Picking up this issue

[2020-07-22 19:03] ppwwyyxx commented on #39674
Well, I guess adding any new flag counts as a new "feature" to me :smile:  but I see your point that the changes proposed here are more about controlling the existing behaviors rather than adding new behaviors (as opposed to, e.g., those flags in tensorflow).

[2020-07-22 19:08] gmagogsfm commented on #41289
This is causing huge perf regression for CU team. Prioritizing.

[2020-07-22 19:12] dncliss commented on #41531
@zhaojuanmao thanks for the input.  On previous runs I'd tried NCCL_DEBUG=TRACE, and per your suggestion I switched to NCCL_DEBUG=INFO for a run yesterday (and the automatic CI run last night).  So this setting was in place for runs 1144 and 1145. I'm not sure that the diagnostic messages gave any more clues beyond the the use of TRACE.  I see the same `No space left on device` error as well as ma

[2020-07-22 19:24] Rick0590 commented on #27837
I have been struggling with this problem for quite some time now, but am unable to resolve it. However, there are some things I noticed about the problem.
1> It happens only when implemented on GPU. There is no problem with the same code when all the operations are do on CPU.
2> The problem is machine specific. It runs perfectly on some other machine (even on GPU) but crashes on mine. This shows t

[2020-07-22 19:32] boeddeker commented on #41857
The following is just my opinion:

I know both definitions under the Wirtinger calculus [1].
Sometimes they are called R-Derivative and Conjugate R-Derivative [2].
In general both are valid and should work.

Let me start with homomorphic function and why this theory cannot be used:
The theory with homomorphic function requires that the real partial derivatives satisfy the Cauchy-Riemann equations:

[2020-07-22 19:55] estrulyov opened #41865 "Poor performance of dynamic quantazation"
## 🐛 Bug

I am experimenting with dynamic quantization as described here:
https://pytorch.org/blog/introduction-to-quantization-on-pytorch/

I got a pretty good speedup when running with a single thread. (This is a GRPC server application that serves pytorch models). However, I do not see any improvement when using multiple threads and processing multiple concurrent requests. This does not happen

[2020-07-22 19:56] priyanshuwustl commented on #41746
picking this one along with #41745

[2020-07-22 20:17] wickedfoo commented on #3396
@hellojialee over what dimension are you selecting the top K, and how big is N (typically)?

Note that there is a 16x size difference between the two examples you provided.

[2020-07-22 20:28] ezyang commented on #41486
Thanks, this is super useful. Without the tracemalloc I would have guessed we were leaking some other PyObject. I guess we are leaking something in C++. We probably should be able to figure this out by code reading. Maybe we can also try the "let it leak for a while and then look and see what is in the heap" trick.

[2020-07-22 20:29] nlpconf opened #41869 "TorchScript pack_padded_sequence and pad_packed_sequence run time error"
## ❓ Questions and Help
Hi, I am facing this problem and have been searching for answers for a day. Anyone can help?
'''
RuntimeError: The following operation failed in the TorchScript interpreter.
Traceback of TorchScript, serialized code (most recent call last):
  File "code/__torch__.py", line 24, in forward
    output = torch.empty_like(sorted_indices0, dtype=4, layout=0, device=torch.device("

[2020-07-22 20:31] ezyang commented on #33152
We're not going to do any more point releases of 1.4.0. Your best bet is building PyTorch from source for CUDA 10.1

[2020-07-22 20:33] Wenhao-Jin commented on #33152
OK, thanks fro your advice, I will try it!

Wenhao

[2020-07-22 20:37] spandantiwari commented on #41798
Thanks @bddppq .

[2020-07-22 20:37] #41798 closed

[2020-07-22 20:40] ezyang commented on #17835
I'm happy to help merge small patches that improve PyPy compatibility. But yes, it is going to be a bit of, you get to keep all the pieces.

[2020-07-22 20:42] ezyang commented on #41659
This is worth fixing. Can you run this under gdb and add a `catch throw` breakpoint?

More generally, when errors originate from user C++ extensions, we should STOP suppressing backtraces and print the C++ backtrace as well.

[2020-07-22 20:45] ezyang commented on #8853
^ @aocsa @pearu maybe you'd be able to answer this?

[2020-07-22 20:46] vadimkantorov commented on #41659
Will do!

[2020-07-22 20:55] anandbhattad commented on #3867
Is there any update on this?

[2020-07-22 20:56] JosueCom commented on #12598
[code]

When I run the code above, count returns a shape of (2) instead of (2, 2) like the output. How does unique works when dim is specified? I am confused with the result of the function.

[2020-07-22 21:02] ezyang commented on #41790
I don't think this question is fully formed, and even if it was, PyTorch 1.2 is too old. Please try upgrading first.

[2020-07-22 21:02] #41790 closed

[2020-07-22 21:03] redradist commented on #17835
@ezyang

How it will help ? Will I be able to compile PyTorch for PyPy ?

[2020-07-22 21:03] ezyang commented on #41768
cc @v0dro

[2020-07-22 21:11] ezyang commented on #15359
@zou3519 intersected with the Q too at https://github.com/pytorch/pytorch/pull/38683#issuecomment-662590937

[2020-07-22 21:14] ezyang commented on #32867
If the bitwise ops you need are supported by the fuser, yeah, the JIT fuser should be able to speed some of the things up. I didn't read your code so I don't know for certain if this is the case or not.

[2020-07-22 21:15] wgale commented on #41508
I added a fix [here](https://github.com/wgale/text/blob/masking_fix/torchtext/nn/modules/multiheadattention.py#L192) and can confirm it is working.

Could we make a similar fix for MHA in PyTorch itself? This bug will also impact Transformer.

[2020-07-22 21:16] albanD commented on #41659
@ezyang I realized last week that the Future API eats up error types: it only saves the message and then throw a custom FutureError in the waiting thread (which is not even a c10::Error) with the saved message.
Since we moved to use this API recently in the engine, this might be the reason :/

[2020-07-22 21:18] vadimkantorov commented on #32867
Is it possible to ask the fuser to do loop unrolling? (hopefully may exploit op reordering / parallelism)

Practically speaking, I'm using the padded version now which runs much faster.

Some problems encountered with JIT: `shape = list(out.shape)` didn't work. `out.shape[:-1] + (1,)` didn't work in JIT either. iinfo also didn't work, `slice(None)` didn't work. |=, >>= didn't work

[2020-07-22 21:20] ezyang commented on #41857
This is true, although PyTorch internally is not well set up to do this since most of our stuff that isn't going through BLAS doesn't have conjugate arguments (yet, anyway).

@boeddeker, one statement of fact I'm interested in about: is it true that in TF-style you have to do ugly gradient formulas (with extra conjugations)? I came to this conclusion after skimming TF's derivative definitions, but

[2020-07-22 21:21] vadimkantorov commented on #41659
I saw this truncation since forever. Not sure if it's related to any new changes

[2020-07-22 21:23] albanD commented on #41659
I think the fact that the line is truncated is from python. And I don't think we can do much about it.

The fact that the type of the exception is lost, we should fix.

[2020-07-22 21:23] ezyang commented on #32867
^ @suo

[2020-07-22 21:24] ezyang commented on #41659
Err, why is it truncated in Python?

[2020-07-22 21:29] SplitInfinity commented on #41742
It turns out this particular instance is in a file that export command line flags with blacklist/whitelist in the name. That means we need to fix all references to it in the codebase and in internal fbcode targets as well.

[2020-07-22 21:29] vadimkantorov commented on #41659
Is it lost in Python stack / traceback info? or is it just printed incorrectly?

[2020-07-22 21:31] vadimkantorov commented on #41659
If PyTorch controls what RuntimeError message is printed, maybe it could recover some part of stack trace that Python is missing

[2020-07-22 21:40] boeddeker commented on #41857
I expected an answer like this. Not many high level libraries expose these arguments.

In [1] we investigated complex valued operations inside an NN.
We used at that time the "TF" style to implement it in chainer, but in the publication we listed both definition.
In Table 4.1, 4.2 and 4.3 you can find the equations for both gradient definitions.
When you have a multiplication you get the conjugate

[2020-07-22 21:44] zhangguanheng66 commented on #41508
If you create a PR, I can review it and pull more people to take a look as well.

[2020-07-22 21:51] albanD commented on #41659
Just to make sure we're talking about the same thing.
You are expecting to see:
[code]
as the line being pointed at by the stack trace but you only get
[code]
right?

It's not truncated in the sense that some frames are missing. It is more that one line of code is not enough to get the information you want.

[2020-07-22 21:57] vadimkantorov commented on #41659
right! that's the case. it seems it simply doesn't print the full function call line

[2020-07-22 22:06] vincentqb commented on #41623
Can you give an code example of what you are trying to do with a learning rate scheduler? Are you trying to get the initial learning rate via `scheduler.step(-1)`?

[2020-07-22 22:13] NasirKhalid24 commented on #30865
currently facing the same issue - any fix planned?

[2020-07-22 22:14] vincentqb commented on #40971
Thanks for the follow up! You wrote to set of numbers in the description: one from pytorch, and one computed independently. I wanted to reproduce both set of numbers to isolate where the difference could come from. Can you provide how you've computed them above so I can reproduce exactly what you wrote?

[2020-07-22 22:23] SplitInfinity opened #41882 "[JIT] Module cloning fails with certain hierarchies involving module interfaces"
## 🐛 Bug

## To Reproduce
**Python**
[code]

**C++**
[code]
## Expected behavior
Module clones successfully or a clear error message is shown explaining the problem.

## Actual behaviour
Exception is thrown:
[code]

cc @ezyang @gchanan @zou3519 @suo @gmagogsfm

[2020-07-22 23:11] acxz opened #41886 "[ROCm] [Build Error] [CMake] Cannot find hip"
## 🐛 Bug

When compiling pytorch with ROCm, pytorch fails when trying to find rocblas, because rocblas fails to find hip.

[code]

## To Reproduce

Steps to reproduce the behavior:

1. git clone
2. python setup.py build

## Expected behavior

The build should successfully complete

## Environment

 - PyTorch Version (e.g., 1.0): 1.5.1
 - OS (e.g., Linux): Arch Linux
 - How you installed PyTorch (`

[2020-07-22 23:24] spandantiwari commented on #41304
@kundanapillari - is the `checkpoint_path` target available somewhere. Also, as I asked above, I don't see any clear error message in the error stack. Maybe if you run this as a Python script (not a notebook) you may get a useful error stack. Can you please send these?

[2020-07-22 23:28] acxz commented on #41886
Upstream issue: https://github.com/ROCmSoftwarePlatform/rocBLAS/issues/1156

[2020-07-22 23:43] jeffdaily commented on #41886
Did you run `python3 tools/amd_build/build_amd.py`, after step 1 but before step 2?

This blog has also been used by some of our external users with steps to build: http://lernapparat.de/pytorch-rocm/ .  @t-vi

We tend to use the script `.jenkins/pytorch/build.sh` as a one-shot script to build and install pytorch.  It's the script used by our CI to build.

[2020-07-22 23:46] curzel-it commented on #13807
Same issue

Software:
- Windows 10 v1909 b18363.959
- PyTorch 1.5.2
- Cuda 10.2
- Python 3.7.5

Hardware:
- Nvidia 2080 Super
- MSI MPG X570
- Ryzen 9 3900X

[2020-07-22 23:58] wgale commented on #41508
Okay, I'll create a PR. Do you want me to create a PR for torchtext, PyTorch, or both? We need the fix to be in PyTorch (not torchtext) for it to be useful to us.

[2020-07-23 00:15] zhangguanheng66 commented on #41508
Let's focus on pytorch first. Once we merge, the torchtext one is an easy fix.

[2020-07-23 00:37] aocsa commented on #8853
@rohanrajpal,  sparse-sparse matmul is not supported in current master branch.  Current `torch.sparse.mm(x1, x2)` function support [sparse-dense matmul](https://pytorch.org/docs/stable/sparse.html#torch.sparse.mm). The sparse-sparse matmul is an WIP in this [PR](https://github.com/pytorch/pytorch/pull/39526).

[2020-07-23 00:48] wangyuantao opened #41893 "[onnx][export] flatten op was not correctly traced with dynamic_axes"
## 🐛 Bug

[onnx][export] flatten op was not correctly traced with dynamic_axes

## To Reproduce

See attached colab notebook: [flatten.zip](https://github.com/pytorch/pytorch/files/4963341/flatten.zip)
In short, the module below
[code]
was incorrectly traced in this way - the shape is a constant:
[code]
The parameters of onnx export:
[code]
## Expected behavior

The input shape of flatten op trace

[2020-07-23 01:06] acxz commented on #41886
Thanks for responding @jeffdaily
I am on of the maintainers for [rocm-arch](https://github.com/rocm-arcm) and we are trying to get pytorch compiling with ROCm for Arch Linux users. This includes using Arch Linux packaged ROCm.

I have not ran the `build_amd.py` command specified, thanks for pointing me to it, definitely seems like something I need to be aware of when building ROCm for Arch Linux.

[2020-07-23 01:21] SpaceView commented on #35547
I don't know how this problem is solved, since I'm facing the exact errors when deploying detectron2.
I cloned the repo days ago, build the pytorch successfully on win10, detectron setup OK, and I tried to use vscode to see the debug, as below,
Traceback (most recent call last):
  File "D:\Anaconda3\envs\tchdev\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "D:\An

[2020-07-23 01:42] SpaceView opened #41896 "torch.ops._caffe2 linked no functions in windows -->RuntimeError [enforce fail at roi_align_op.h:39] Not Implemented"
## 🐛 Bug
_caffe2 has linked no functions, and I think this is a serious problem in pytorch, thus I openned this new issue report. Hope anybody familiar with pytorch compilation in windows could help...

I refered to https://github.com/pytorch/pytorch/issues/35547, but I don't know how this problem is solved, since I'm facing the exact errors when deploying detectron2 (use the detectron2 caffe2_con

[2020-07-23 01:53] #41847 closed

[2020-07-23 02:55] leockl commented on #41688
Thanks @vishwakftw.

Yeah, I guess I could do that on my end by "clamping" any eigenvalues which are very very close to 0 to be 0 in my estimator/algorithm.

This though won't fix the issue as I am sure this question would come up again in the future by others. Would be helpful, if a note can be left in the documentation that the eigenvalue signs from `torch.symeig()` for eigenvalues very very clo

[2020-07-23 03:12] qianzhang613 commented on #41673
set  `export USE_NINJA=OFF ` this bug fixed.

[2020-07-23 03:47] cfzd opened #41903 "[C++] adding type checking or type casting to torch::PackedTensorAccessor indexing"
## 🚀 Feature

For a torch::PackedTensorAccessor object, when we access the elements of its, check, or cast the indexing number type.
## Motivation
[code]

## Pitch
please consider adding type checking or type casting to the indexing number.

[2020-07-23 03:47] jncsw opened #41904 "Inconsistencies on ModelLayer"
## 🐛 Bug

Hi, we are developing some tools to help detect bugs for Python automatically. Our tool finds potential inconsistencies among the definition of ModelLayer and the instances (BatchMSELoss, BatchSigmoidCrossEntropyLoss, etc.).

## To Reproduce

The definition of ModelLayer contains the following arguments in the following sequence: model, prefix, input_record.
https://github.com/pytorch/py

[2020-07-23 03:53] JiaRu2016 opened #41905 "Specifying memory destination when copy tensor to cpu, just like numpy `out=`"
## 🚀 Feature
in numpy, we can specify the destination (maybe a slice of an large array ) of result,  is there similar way for pytorch to specify the result "destination" when copying cuda tensor to cpu?  something like:

[code]

## Motivation

I’v tried

[code]
found that is used twice time as purely
[code]
this feature request aims to avoid the unnecessary copy

cc @mruberry @rgommers

[2020-07-23 05:01] Jgoldfeder commented on #27837
Same issue. Using Pytorch 1.5.1 and GTX 1050 ti

[2020-07-23 05:02] kundanapillari commented on #41304
I get this error now when I run the script:
[code]
This is the [checkpoint_path](https://www.dropbox.com/s/5ucl9remrwy5oeg/20180505_deepvoice3_checkpoint_step000640000.pth?dl=0) file.

[2020-07-23 05:16] lablabla commented on #41852
An update after further research
I profiled this small program using both CUDAs (nvvp files can be found [here](https://github.com/lablabla/CUDA_Torch_Tester))

It seems that both use very different kernels
96.5% of the 10.2 computes are `conv2d_grouped_direct_kernel` which takes ~60-100ms on my P1000

where as the top kernels in the 10.0 run are
[code]
so it's easy to see where the time differenc

[2020-07-23 05:43] nict-wisdom opened #41909 "Dropout in TorchScript under torch.no_grad() produces incoherent results"
## 🐛 Bug

A TorchScript model produces a different result in `torch.no_grad()` when exectued with
- dropout and fork_rng
- torch._C._jit_set_profiling_executor(False)

This prevents us from using the gradient checkpointing.
The following code mimics typical steps for the gradient checkpointing, where
1. Run forward in `torch.no_grad()`
1. Restore rng state
1. Run forward again enabling auto grad m

[2020-07-23 06:09] ptrblck commented on #41852
Could you try to rerun the script with `at::globalContext().setBenchmarkCuDNN(true);`, as the kernel selection would be done by cudnn (which also changed in your setup)?

[2020-07-23 06:27] lablabla commented on #41852
@ptrblck thanks,
I added `at::globalContext().setBenchmarkCuDNN(true);` at the start of the `int main()` function. The results are the same
I am also currently building Torch with cuDNN 7.6.5 for the cuda 10.0 to verify it's not the actual cudnn that breaks it.

[2020-07-23 07:09] lablabla commented on #41852
To make sure it's not something in our model that causes it, I wanted to use some pre-trained public model
so I scripted resnet
[code]

and then run the tester app again on this torch script (change `PATCH_WIDTH/HEIGHT` to 244 to match the input)
the results aren't as extreme as our model, but are evident (18ms in 10.2 vs 11ms in 10.0)

profiled these (added nvvp files to the repo listed above)
Th

[2020-07-23 07:56] lablabla commented on #41852
To add more info that might help
I enabled the cuDNN logging as described in https://docs.nvidia.com/deeplearning/sdk/cudnn-developer-guide/index.html#api-logging

there are some differences between the 2 logs in several places
for example
10.0:
[code]
10.2
[code]
======================

10.0
[code]
10,2
[code]
======================

10.0
[code]
10.2
[code]

Hope this helps in any way

[2020-07-23 08:23] rohanrajpal commented on #8853
Alright, thanks!

[2020-07-23 08:35] moqingxinai commented on #41798
I see！Thank you very much！

--------------------------------------------------------------------------------

------------------ 原始邮件 ------------------

 发件人: bddppq  <notifications@github.com>

 发送时间: 2020-07-22 14:43:10

 收件人:pytorch/pytorch <pytorch@noreply.github.com>

 抄送:xinhua2010 <xinhua2010@139.com>,Author <author@noreply.github.com>

 主题: Re: [pytorch/pytorch] about op() function (#4179

[2020-07-23 09:04] jeongukjae commented on #31765
@ezyang

I saw this comment(https://github.com/pytorch/pytorch/pull/38211#issuecomment-640153288), this commit message(https://github.com/pytorch/pytorch/pull/38211/commits/4f26b2bb33f43535fdd7279543e3f79ffe0f12df, https://github.com/pytorch/pytorch/commit/eace0533985641d9c2f36e43e3de694aca886bd9), and bpo issue(https://bugs.python.org/issue40897). I think this issue can be closed because it is re

[2020-07-23 09:04] #31765 closed

[2020-07-23 09:43] Spenhouet commented on #12773
We face the same issue.

The pytorch installation from source is done similar to: https://github.com/pytorch/pytorch/blob/v1.5.0/docker/pytorch/Dockerfile

[code]

The container was build on a system without CUDA. Not sure if this is an issue. There were no special flags set for the build process. Not sure if that is necessary.

From within the container `nvidia-smi` does show the available GPUs b

[2020-07-23 10:14] Huzaib commented on #41743
I made a PR for this request

[2020-07-23 11:16] zt1112 commented on #30507
I face the same problem, have you solved it? @gitabtion

[2020-07-23 11:18] Diksha0510 opened #41915 "Automating the various Installation processes for Linux"
## 🚀 Feature

A python script to automate the installation process for all the different requirements according to the user's need.

## Motivation

These days no one wants to do the hardwork, everyone wants things automated and to work at one click. By automating this process of installation users could simply enter their requirement as to how they want PyTorch on their system and the script would

[2020-07-23 12:02] Flamefire opened #41916 "ASAN build broken when using USE_ASAN=1"
## 🐛 Bug

I'm trying to debug the failures on Power by building with ASAN. Checking the documentation and combining the CONTRIBUTION.MD with .jenkins/pytorch/build-asan.sh I arrived at:
`LD_PRELOAD=${LIBASAN_RT} CC="clang" CXX="clang++" LDSHARED="clang --shared" LDFLAGS="-stdlib=libstdc++"   CFLAGS="-fsanitize=address -fsanitize=undefined -fno-sanitize-recover=all -shared-libasan -pthread"   CXX_F

[2020-07-23 12:05] cloudhan opened #41917 "Allow decentralized op registration."
## 🚀 Feature

When I try to load a plugin library built with 2 cpp file,
[code]

I got the following error:
[code]

## Motivation

Currently, the only valid way to build a plugin library is to collect all op registration into one translation unit.
That is
[code]

[code]

[code]
In this way, it is hard to maintain flexible extension op set. Since to add a new op,  you need to directly modify `regis

[2020-07-23 12:07] Flamefire opened #41918 "ASAN build breaks when using third_party/protobuf"
## 🐛 Bug

When using the third_party protobuf (default?) the build breaks with `terminate called after throwing an instance of 'std::system_error'` when running the compiled protoc

## To Reproduce

Steps to reproduce the behavior:

1. setup `LIBASAN_RT`
1. `LD_PRELOAD=${LIBASAN_RT} CC="clang" CXX="clang++" LDSHARED="clang --shared" LDFLAGS="-stdlib=libstdc++"   CFLAGS="-fsanitize=address -fsaniti

[2020-07-23 12:22] Flamefire commented on #30896
As I just had this issue with ASAN: You can modify `third_party/benchmark/cmake/CXXFeatureCheck.cmake` and change this part:

[code]

The `RUN_OUTPUT_VARIABLE out` and the `message` lines are added. This should show the output of the failing command. Maybe running cmake with `--debug-output` or `--debug-trycompile` helps already

[2020-07-23 12:45] xudongwang0828 opened #41919 "What the meaning of pooled_w in roi_align function?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)
![image](https://user-images.githubusercontent.com/55836558/88287366-c40e2700-cd24-11

[2020-07-23 12:53] hellojialee commented on #3396
Yes, I know. Thank you @wickedfoo.  I reshape the search dimension into the last dim. The run time seems right, but I just wonder if we could further speed up.

[2020-07-23 13:03] Flamefire opened #41920 "Compilation on Power fails with clang due to vec_xl"
## 🐛 Bug

When compiling PyTorch with Clang on Power the compilation fails with

[code]

The reason is clear by inspection of clangs `altivec.h`: Their `vec_xl` function take non-const pointers as their 2nd argument. See e.g. https://github.com/llvm-mirror/clang/blob/master/lib/Headers/altivec.h

I opened a bug report with llvm but don't expect it to be fixed soon: https://bugs.llvm.org/show_bug.c

[2020-07-23 13:15] Flamefire opened #41921 "Failure to compile Eigen on Power with clang"
## 🐛 Bug

With clang on power I get
[code]

This issue seems to be known and solved by  https://github.com/eigenteam/eigen-git-mirror/commit/c925dd8630175bc0e303594459c7cfc00917e617

Could you update the referenced Eigen library to after that please?

[2020-07-23 13:35] Flamefire opened #41922 "System PyBind11 is not considered when using setup.py"
## 🐛 Bug

The check at https://github.com/pytorch/pytorch/blob/0ec7ba40888f07678d3a1d766817154dc90bef90/cmake/Dependencies.cmake#L958 has an issue: When the variable `pybind11_PREFER_third_party` is not set, it evaluates to empty leading to `if(NOT)` which cmake evaluates to "False" hence skipping the check

This means that during initial configuration one would need to define `pybind11_PREFER_thi

[2020-07-23 14:32] JosueCom commented on #37735
I just ran some code with the latest version of pytorch and I am getting the following error still:

[code]

[2020-07-23 14:40] vadimkantorov commented on #32867
about shapes: `(shape[:dim] + (int(math.ceil(shape[dim] / nibbles)), ) + shape[1 + dim:])` does not JIT compile:

[code]

[code]

[2020-07-23 14:51] chwan-rice opened #41926 "torch.exp() cannot be modified by an inplace operation"
## 📚 Documentation

The original question was posted [here](https://discuss.pytorch.org/t/torch-exp-is-modified-by-an-inplace-operation/90216). As `torch.exp()` leverages its output for calculating its gradient while most other functions use their input, `torch.exp()` has a different behavior when its output is inplaced, which is not natural to users. I understand that this implementation is benef

[2020-07-23 15:04] albanD commented on #41857
I think there are few levels of arguments here:
From the user point of view I see three main use cases:
- C -> C functions: there is no easy definition. So whichever we choose should be properly documented and will be good.
- C -> R functions: training complex parameters wrt to a real loss value. Having to  conjugate before the optimizer or not does not sound like a big issue (it should be clearly

[2020-07-23 15:07] gchanan commented on #40613
right, `torch.set_printoptions(sci_mode=False)`.  It seems reasonable to support something like that.

[2020-07-23 15:17] vincentqb commented on #41857
Based on the [comment](https://github.com/pytorch/pytorch/issues/41857#issuecomment-662652780) above by @boeddeker, extending the definition of the complex derivative for holomorphic functions to non-holomorphic functions by going for the Wirtinger derivatives seems to be what users would expect. Are there other extensions of the complex derivatives on holomorphic functions you wanted to consider?

[2020-07-23 15:20] ChuckTG commented on #41853
I can see that have set an anaconda environment pvcnn_env. Since you use conda, in  the anaconda prompt, execute:

`conda install pytorch torchvision -c pytorch`

[2020-07-23 15:27] albanD commented on #41857
Yes Wirtinger definition is natural here I think.
From what I understand, the difference between jax and tensorflow in this case is just a conjugate. And you can either have it built-in the autograd or in the optimizer. But maybe I'm missing something.
The one argument I could see for jax here though is that it matches the complex derivative for holomorphic functions.

[2020-07-23 16:03] vkuzo commented on #41791
Thanks for the report!  We've looked into this a few months ago and didn't find any evidence of QAT code misbehaving, it just looked like the doing QAT on random weights could lead to exploding gradients.  We verified that this issue goes away if you train for a couple of epochs before enabling QAT.

Closing for now, but feel free to reopen if we think it warrants further investigation.

[2020-07-23 16:03] #41791 closed

[2020-07-23 16:25] ezyang commented on #41857
This is a little off topic, but I suggest to @anjali411 that maybe we should support a "conjugate" flag on tensors, which means to interpret the tensor as its conjugate. Then you can very naturally write `matmul(x.conj(), y)` and that will be as efficient as `matmul(x, y, x_conj=True)`

[2020-07-23 16:28] #41477 closed

[2020-07-23 16:33] #19227 closed

[2020-07-23 16:33] #36801 closed

[2020-07-23 16:43] malfet opened #41929 "Transform ProcessGroupNCCLTest into a gtest"
To make test easily integratabtle into various CI systems it's better if it's based on one of the standard frameworks.

https://github.com/pytorch/pytorch/blob/master/torch/lib/c10d/test/ProcessGroupNCCLTest.cpp

Majority of other PyTorch C++ unit tests are using GTest framework, for example https://github.com/pytorch/pytorch/blob/master/torch/lib/c10d/test/ProcessGroupNCCLErrorsTest.cpp

cc @ezya

[2020-07-23 16:45] malfet commented on #41143
Some of the tests in that folder needs to be converted to gtest framework, for example: https://github.com/pytorch/pytorch/issues/41929

[2020-07-23 17:34] ezyang commented on #41857
@boeddeker Thanks, this is a really nice reference. I saw in the paper that you manually calculated out the derivatives; it's gonna be a lot of work to fix up all of our derivative definitions to be this :>

[2020-07-23 17:41] agolynski commented on #41614
One question here is how to manage the lifetime of such store (right now, rank 0 owns it and it must be kept alive, it also came up in https://github.com/pytorch/pytorch/issues/40633). Do we need to assume dependency between rpc system and process groups or we'd manage lifetime of store via distributed counter?

[2020-07-23 17:56] zhenhuahu opened #41935 "How to Upgrade PyTorch to 1.6 in Docker Image"
## ❓ How to Upgrade PyTorch to 1.6 in Docker Image?

### Hi, I have a docker image that has pytorch 1.4, torchvision 0.5, cudnn 7.6.5 and cuda 10.1, and other tools and packages. I want to upgrade my pytorch to 1.6. Is there some way to do it without rebuild the whole image again?

Thanks!

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary mea

[2020-07-23 18:04] boeddeker commented on #41857
I think this would be a nice feature, independent of the gradient definition.

I am not sure if Wirtinger derivative can be interpreted as extension of complex derivative for homomorphic functions.
I would more interpret it as alternative with different properties. I am not aware of an alternative.

Yes, you are right. The difference between both definitions is just the conjugate and you can chang

[2020-07-23 18:08] mrshenli commented on #41919
Hey @xudongwang0828, could you please use [the forum](https://discuss.pytorch.org/c/vision/5) for questions? You can create a new topic under the "vision" category. I am closing this issue for now, but please feel free to create a new issue if this turns out to be bug report of feature request. Thanks!

[2020-07-23 18:08] #41919 closed

[2020-07-23 18:10] mrshenli commented on #41918
Adding this to triage review, as I am not sure if this needs to be fixed before 1.6 release.

[2020-07-23 18:14] agolynski commented on #41531
I was also seen  "No space left on device" (for shm memory) errors when tests were running inside docker container, but not on ppc platform. The solution was to increase docker param for shm, e.g. --shm-size=2g (https://github.com/pytorch/pytorch/pull/41608/files)

[2020-07-23 18:14] mrshenli commented on #41917
Edited the title to replace "distributed" with "decentralized", to make it clear this is irrelevant to `torch.distributed`.

[2020-07-23 18:15] mrshenli commented on #41917
Adding to triage review as this seems require structural changes to our op registration design, and wanted to bring this to team discussion.

[2020-07-23 18:16] mrshenli commented on #41916
Adding to triage review to check if this needs to be addressed before v1.6 release.

[2020-07-23 18:28] rgommers commented on #41905
`Tensor` supports `__array__` which allows constructing a numpy array without copying data:
[code]

That should allow you to make this work. If not, can you please provide a concrete example and the timing code you're using?

[2020-07-23 18:29] kurtamohler commented on #15359
I'm glad you brought up these questions @ezyang, @zou3519, and @mruberry. I agree that the documentation I wrote is a false representation of the current state.

I like the idea of exhaustively listing all the functions that `torch.set_deterministic()` affects, at least for now, so that we're not lying to the user. Thanks for adding that to 1.6.0, @zou3519.

I agree that we shouldn't offer the `de

[2020-07-23 18:40] ngimel commented on #41865
cc @vkuzo

[2020-07-23 18:53] dreiss commented on #37475
This was an oversight, probably added automatically by one of our IDEs.  We'll update them to have the proper Facebook Open Source header.

[2020-07-23 18:53] albanD commented on #41857
@boeddeker thanks a lot for taking the time to answer all our questions, it is really helpful.
I would have a couple questions about the paper you linked.

Do I understand correctly that all the derivations that you do (in section 3) are based on the assumption that the overall function is C -> R? (allowing you to pass a single value between layers and recovering the second Wirtinger derivative by

[2020-07-23 18:55] rohan-varma commented on #41614
@agolynski is there a pointer to see where `TCPStore` is actually destructed by the rank 0? I think the dist counter or what I mentioned in that issue could be a way to ensure the store isn't destroyed until all ranks agree. Although, error handling in this case might be tough.

[2020-07-23 18:57] Miffyli commented on #23796
Another issue related to TF vs. PyTorch rmsprop implementation. Fixing epsilon alone did not work:

Tensorflow initializes squared-grad accumulator [to ones](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/rmsprop.py#L123), while PyTorch initializes [to zeros](https://github.com/pytorch/pytorch/blob/master/torch/optim/rmsprop.py#L80). In our experiments (A2C) we fou

[2020-07-23 19:05] ljk53 commented on #39724
@SoulSharer - just want to learn more about your use case: do you actually train and save models on mobile devices? Was it working before 1.5.0? I'm asking because saving model on mobile shouldn't be supported before 1.5.0 either - serialization/export.cpp was excluded from default mobile build since the initial release of PyTorch mobile in 1.3.

[2020-07-23 19:12] vadimkantorov commented on #32867
bit packing could also be used for storing masks for backward (dropout, relu, leaky_relu) instead of full input for many operations

[2020-07-23 19:22] boeddeker commented on #41857
I am happy to help. I will try to answer your questions.

Yes, the core assumption is, that we only care about C -> R.
When we want to optimize something, we can only do it for a real valued output.
Because of that we rapidly dropped the thought about C -> C and the theory about homomorphic functions.

Since the Wirtinger derivatives are defined as (first is TF style, second JAX)
![image](https://

[2020-07-23 19:29] ypsoh opened #41938 "Installing pytorch from source on Power9 (PPC64LE) + CUDA 10.2 + RHLE7"
Steps to reproduce the behavior:

After following instructions on https://github.com/pytorch/pytorch#get-the-pytorch-source
1. export CMAKE_PREFIX_PATH=${CONDA_PREFIX:-"$(dirname $(which conda))/../"}
2. python setup.py install --cmake

## Expected behavior
A successful build of pytorch

## Environment
 - PyTorch Version (e.g., 1.0): Trying to install 1.5
 - OS (e.g., Linux): RHLE7
 - How you inst

[2020-07-23 19:31] agolynski commented on #41614
@rohan-varma: tcpStoreDaemon_ is deleted here:
https://github.com/pytorch/pytorch/blob/f003008d6ec46812407ff276da5241ae533eb5d1/torch/lib/c10d/TCPStore.cpp#L306
and TCPStore (TCPStore py object) is deleted once the corresponding rank is going away.

It's interesting that there is a dist barrier implemented here
https://github.com/pytorch/pytorch/blob/f003008d6ec46812407ff276da5241ae533eb5d1/torch/

[2020-07-23 19:35] markdjwilliams commented on #41242
I am also experiencing this issue, but with 1.6.0-rc3.

[2020-07-23 19:39] rwightman commented on #23796
Since I'm cc'd on this thread, I've had great success with my variant of RMSProp that tries to stay true to the TF version. I've trained quite a number of models with excellent results and so have quite a few others. Trying similar hparams with the PyTorch RMSProp results in unstable training and often immediate blow ups in training, it's basically not usable in my trials and I've never managed ac

[2020-07-23 19:42] lopuhin commented on #17835
FWIW there was some recent progress on pybind gaining better pypy support https://github.com/pybind/pybind11/pull/2146

[2020-07-23 19:42] mattip commented on #33760
I think [this](https://github.com/Maratyszcza/pthreadpool/commit/29f0e2ced866e321d8293d4d1bdae71a5fdc90ec) is the relevant changeset in pthreadpool.

[2020-07-23 19:54] rwightman commented on #23796
The third one, the way the LR is applied to the update, is interesting but not often brought up. In steady state (of LR) the TF and PyTorch impl are equivalent, however they are not when LR changes, the TF version smooths the transition. Interestingly, many LR schedules used with rmsprop by some Google research teams change the LR quite frequently, they often have per step or per-epoch warmup ramp

[2020-07-23 20:10] AshkanAliabadi commented on #33760
This is not an easy issue to resolve from within PyTorch.  Basically the core of the problem is that XNNPACK depends on updated version of pthreadpool which exposes a new backward incompatible interface, meaning that the new version of pthradpool is required for XNNPACK to build successfully.  On the other hand, we have NNPACK and QNNPACK which still rely on the old interface which the new version

[2020-07-23 20:31] albanD commented on #40859
Hey, we had another offline discussion with @mruberry to try and find a simple solution to this problem.

I think load_state_dict does two independent things at the moment: find matching keys in the local dict and the new given one. And copy weights when matching keys are found.
What I would propose is to keep the strict flag to work with only the keys.
And add a new way to control the weight copy

[2020-07-23 20:41] mattip commented on #33760
Isn't the NNPACK author also the author of pthreadpool?

[2020-07-23 20:43] rohan-varma commented on #41614
@agolynski Thanks for digging into that, that is interesting. It seems that we can just reuse that function `waitForWorkers` in shutdown as well (as you indicated), the comment in that function seems to indicate that is the intended use case as well.

[2020-07-23 20:43] sathvikn commented on #30664
@Gailsunset I was running the same code from `wsi_bert.py`, and although `conda install -c pytorch torchvision cudatoolkit=10.1 pytorch` from the reply right after didn't end up working out, just `conda install cudatoolkit` led me to get past that issue.

[2020-07-23 21:23] CosmicHunter commented on #27212
Is there any update on how to convert the model that contains  an aTen operator grid_sampler?

[2020-07-23 21:37] pritamdamania87 commented on #41614
Sharing the TCPStore might lead to unintended consequences where two different systems might overwrite the same set of keys if we're not careful with naming. One option would be to ensure we always use the PrefixStore with different prefixes to ensure we never end up overwriting the same keys?

In terms of lifetime management, can we just wrap the TCPStore in a shared_ptr and pass it to ProcessGro

[2020-07-23 21:50] vadimkantorov opened #41950 "[docs] Clarify behavior of torch.cuda.device_count() when torch compiled without CUDA (cpu-only) or when CUDA is not available"
https://discuss.pytorch.org/t/torch-cuda-device-count-with-no-cuda-compiled-available/90328

It would be nice to have this in docs directly, since loops like `for device in range(torch.cuda.device_count())` are simpler if it is known to return 0 when no CUDA is compiled or it is not available

[2020-07-23 21:54] AshkanAliabadi commented on #33760
Yes but NNPACK is not actively maintained and we can't expect him to do all the work. :) Do you want to do (1) mentioned above and I'll handle the PyTorch side.  If you don't have the time I can do both.

[2020-07-23 21:57] glaringlee opened #41951 "Parameter registration in MultiheadAttention c++ API is incorrect"
## 🐛 Bug

MultiheadAttention c++ API did not register parameters under some conditions. The most important ones are 'in_proj_weight' and 'in_proj_bias'.

Here is the parameter registration phase in c++ impl:
https://github.com/pytorch/pytorch/blob/47766e648ff16d4b1175d04710caed566de14ab4/torch/csrc/api/src/nn/modules/activation.cpp#L450

Here is the parameter registration phase in python impl:
htt

[2020-07-23 21:59] glaringlee commented on #41951
Will put a fix since I am working on cpp transformer layer and this MultiheadAttention model will be used within transformer layer's encoder/decoder

[2020-07-23 22:21] justinblaber commented on #41651
@mruberry

Sounds good to me. I appreciate the comprehensive response.

[2020-07-23 22:21] #41651 closed

[2020-07-23 22:28] seemethere commented on #41935
We'll release official docker images for 1.6 as part of our GA release.

Look out for updated tags on https://hub.docker.com/r/pytorch/pytorch/tags

[2020-07-23 22:33] izdeby commented on #41816
@fatalfeel, can you, please, provide more info on what are you trying to do and what is going wrong?

[2020-07-23 22:34] izdeby commented on #41836
@lbin, can you please, provide a repro of an error? Please, reopen the issue once done

[2020-07-23 22:34] #41836 closed

[2020-07-23 22:35] izdeby commented on #14954
Looks like its an old issue. Please reopen if the problem reproduces.

[2020-07-23 22:35] #14954 closed

[2020-07-23 22:37] izdeby commented on #41838
@ddummkopfer, please use our [forum](https://discuss.pytorch.org/) for questions. thank you.

[2020-07-23 22:37] #41838 closed

[2020-07-23 22:40] mrshenli commented on #41614
Can we wrap the TCPStore into a PrefixStore, and let RPC use PrefixStore instead? Will that solve the key contention problem?

[2020-07-23 22:41] fatalfeel opened #41955 "can not use nn::Functional(torch::softmax(-1)) in Sequential"
nn::Sequential(nn::Linear(dim_states, h_neurons),
							nn::Functional(torch::tanh),
							nn::Linear(h_neurons, h_neurons),
	                        nn::Functional(torch::tanh),
							nn::Linear(h_neurons, dim_acts),
							nn::Functional(torch::softmax(-1)));

compile error
../src/actorcritic.cpp:13:40: error: no matching function for call to ‘softmax(int)’

nn::Functional(torch::softmax((int

[2020-07-23 22:41] izdeby commented on #41853
Please, use our [forum](https://discuss.pytorch.org/) for questions.

[2020-07-23 22:42] #41853 closed

[2020-07-23 22:52] #41922 closed

[2020-07-23 23:03] neginraoof commented on #36596
We're seeing this behavior even without the float cast. An example model would be:
[code]
The jit trace graph here still contains constant nodes for upsample_bilinear2d:

[code]

[2020-07-23 23:04] ypsoh commented on #41938
So I tried to specify some paths. This is the command I used
[code]

and this is the resulting [log ](https://gist.github.com/ypsoh/2997b3614ea359f1893ea58b45c7e65b)

It's funny who it can't recognize CUDA_cublas_LIBRARY. I was able to locate it at exactly that path

[2020-07-23 23:05] CosmicHunter opened #41957 "RuntimeError: Exporting the operator grid_sampler to ONNX opset version 9 is not supported."
Unable to Convert the model to onnx format , running into an error

[code]

I would like to ask any solution regarding this issue

The model Structure is shown below

[code]

The model is a deep text recognition model .

and I used the following script to try to exporting to the onnx format

[code]

Help Required

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2020-07-23 23:17] #41740 closed

[2020-07-23 23:23] vadimkantorov commented on #41823
numpy seems to support this through generic ufunc arguments

[2020-07-23 23:27] vadimkantorov commented on #41659
I wonder if we do not wrap these lines, would Python include the full line? :)

Unfortunately this does not help with the custom autograd function: this error message does not include the line number in my custom code.

[2020-07-23 23:50] nithin-nod opened #41961 "[jit] Problem saving nn.Module as a TorchScript module (DLRM model)"
## 🐛 Bug

I am trying to create a TorchScript module of Facebook’s deep learning recommendation model (DLRM) using torch.jit.script() method. The conversion fails owing to the following runtime error:

`RuntimeError:
cannot call a value of type 'Tensor':
  File "dlrm_s_pytorch.py", line 275
        # return x
        # approach 2: use Sequential container to wrap all layers
        return layers(x

[2020-07-23 23:56] #41745 closed

[2020-07-23 23:56] #41746 closed

[2020-07-24 00:12] SplitInfinity opened #41962 "[JIT] Compilation of Module with forward that returns Any results in segfault"
## 🐛 Bug

Attempting to compile a `Module` with a `forward` that is annotated as returning `Any` can segfault if the return type is not statically determinable.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior
A helpful error message is displayed explaining the problem.

## Actual behaviour
Segmentation fault. Stacktrace:
[code]

cc @ezyang @gchanan @zou3519 @suo @g

[2020-07-24 00:35] pritamdamania87 commented on #40255
Following up on this thread to ensure we have a good long term solution for this instead of the hack in https://github.com/pytorch/pytorch/pull/40312. This is the idea I had and looking for feedback in terms of whether this makes sense:

1. In https://github.com/pytorch/pytorch/pull/40312, we have a single global thread in DistEngine that runs all CPU continuations.
2. We can keep this thread and

[2020-07-24 01:38] jotterbach opened #41966 "SparseAdam tries to call `is_contiguous` and fails"
## 🐛 Bug

I'm writing a network that leverages sparse tensors in as trainable parameters. When using Adam the framework tells me to use SparseAdam instead. However, when using SparseAdam, it tries to access the `is_contiguous` method which then fails.

## To Reproduce

Stacktrace:

[code]

Then

[code]

## Expected behavior

## Environment

[code]

## Additional context

cc @vincentqb @aocsa

[2020-07-24 02:22] feifeibear commented on #26893
Hi, I also tried to modify opset version. It dose not work. Actually, on RTX2060, the program is stuck on the execution of the following code. I have to kill the process.
`
torch.onnx.export(model=model,
                              args=(input_ids, ),
                              f=outf,
                              input_names=['input'],
                              output_names=['output'],

[2020-07-24 02:30] nomanarshad94 commented on #41750
Working on this issue to replace all instances of **blacklist** or **whitelist** from `test/backward_compatibility/check_backward_compatibility.py` to  **blocklist** or **allowlist** respectively.

[2020-07-24 02:32] anguelos opened #41970 "torch.random.fork tries to initialize cuda even when no cuda devices are available"
## 🐛 Bug

When I try to fork_rng in a context, while only having a cpu available, torch tries to initialize cuda and raises an exception

## To Reproduce run this code in a script
[code]

## Expected behavior

I expect this would not raise an exception.
Workarounds are quite easy but ugly:
[code]

## Environment

PyTorch version: 1.5.1
Is debug build: No
CUDA used to build PyTorch: 10.2

OS: Ubunt

[2020-07-24 02:32] fatalfeel commented on #41816
the CMAKE_INSTALL_PREFIX is fixed~~~We need a command param to change install dir
EX:
python3 ./tools/build_libtorch.py -DCMAKE_INSTALL_PREFIX=/opt
then after buid done will install to /opt/torch

[2020-07-24 03:01] zz20200 opened #41975 "When import torch,ImportError: libcufft.so.10.0: cannot open shared object file: No such file or directory"
# Issue description

My device is Jetson Nano, using JetPack4.3.
After
![image2020-7-24_10-48-6](https://user-images.githubusercontent.com/40493593/88356689-3f122480-cd9b-11ea-992d-f0666c1e9fe2.png)
then
![image](https://user-images.githubusercontent.com/40493593/88356905-00c93500-cd9c-11ea-8ceb-dca17b423156.png)
Error occured!

[code]

- PyTorch :
- How you installed PyTorch (conda, pip, source):

[2020-07-24 03:02] dskhudia commented on #41865
Hi @estrulyov, I do see scaling with number of threads for both float and dynamically quantized module with something like OMP_NUM_THREADS=1 python model.py and OMP_NUM_THREADS=4 python model.py

Is this what you are doing? if not, how are you making concurrent calls to the model?

[2020-07-24 03:06] cloudhan commented on #41917
Ok, I discover `TORCH_LIBRARY_FRAGMENT_THIS_API_IS_FOR_PER_OP_REGISTRATION_ONLY`, based on the extremely long macro name, I don't think it is for end users. But actually works.

[2020-07-24 03:14] zhenhuahu commented on #41935
Thanks for the reply. I've looked at the website you shared. But if I use the official docker image as the base image, I'll need to reinstall other softwares again. Are there commands that I can use to just upgrade pytorch 1.4 to 1.6, so that I won't need to install other softwares? Thanks/

[2020-07-24 03:41] estrulyov commented on #41865
As already explained, the GRPC application has a threadpool with 10 threads. OMP_NUM_THREADS is always set to 1. You can try something like this to reproduce it:

from concurrent.futures import ThreadPoolExecutor

def run_model():
  ...

executor = ThreadPoolExecutor(max_workers=10)
futures = []
for i in range(1000):
    future = executor.submit(run_model)
    futures.append(future)

for future in

[2020-07-24 03:43] mruberry commented on #15359
Is `torch.add` deterministic?

[code]

We should probably document that overlapped tensors violate whatever determinism contract we're going for.

Listing the operations affected by a "determinism" flag sounds good. Stepping back slightly, though, it seems like we're really talking about two things:

- Requesting deterministic versions of operations, if available (`use_deterministic`?)
- Warning i

[2020-07-24 03:49] aayn commented on #41786
Yeah, that's right. No worries!

[2020-07-24 03:50] mruberry commented on #41786
Let me know if you'd like some more REAL suggestions ;)

[2020-07-24 03:53] aayn commented on #41786
I was just thin

I was just thinking of asking you for suggestions.

[2020-07-24 03:57] glaringlee commented on #41955
@fatalfeel
softmax should take a float/double tensor, a dimension, and an optional dtype as input. It doesn't support a single number.
[code]

[2020-07-24 03:58] gitabtion commented on #30507
no

[2020-07-24 04:33] #35319 closed

[2020-07-24 04:38] #41733 closed

[2020-07-24 04:47] mruberry commented on #41786
If you want something different and tricky there's [digitize](https://numpy.org/doc/stable/reference/generated/numpy.digitize.html?highlight=digitize#numpy.digitize), which is a little like [torch.bincount](https://pytorch.org/docs/master/generated/torch.bincount.html?highlight=bin#torch.bincount).

If you want something straightforward there's still [divmod](https://numpy.org/doc/stable/reference

[2020-07-24 04:52] mruberry commented on #41905
Yes you can do this. Check out the following program:

[code]

Is that what you were looking for?

[2020-07-24 05:10] subedigaurav commented on #41722
Hello, @SplitInfinity , can I work on this?

[2020-07-24 05:11] nagakei05 commented on #25523
I Installed pytorch 1.1.0 via the default conda channel as the command below, and came across the same error.
[code]

## Environment
[code]

## Additional Context
I ran the repro through gdb and got these results
[code]

Also, running the same script with PyTorch 1.1.0 from the official PyTorch channel gave me no errors

[2020-07-24 05:12] JiaRu2016 commented on #41905
@mruberry yes, that's what I'm looking for

[2020-07-24 05:14] #41905 closed

[2020-07-24 05:23] mruberry commented on #39656
Our `torch.cross` behavior is actually inconsistent with `numpy.cross` at the moment, too. It'd be nice to get a PR making them the same but we'll need to deprecated `torch.cross`'s current behavior, first.

[2020-07-24 05:25] lbin commented on #41836
@izdeby https://github.com/lbin/DCNv2/blob/pytorch1.6/src/cuda/dcn_v2_cuda.cu#L327

[2020-07-24 05:32] SplitInfinity commented on #41722
@subedigaurav Sure.

[2020-07-24 05:33] mcarilli commented on #40911
I just installed 20.04 so ill retry.

[2020-07-24 05:35] FabianIsensee commented on #40911
Thanks! So far everyone who reported problems had a 2080ti, so it could be
that the problem appears only with Turing or maybe even just the 2080ti

On Fri, Jul 24, 2020, 07:33 mcarilli <notifications@github.com> wrote:

[2020-07-24 05:53] suo opened #41980 "Re-enable type-granularity wildcard sets"
placeholder

cc @suo @gmagogsfm

[2020-07-24 06:45] suo opened #41987 "analyzeConservative does not recursively write to all contained types"
patch this in and the test will fail: https://gist.github.com/e53221954b4b6103616581dea3798ff4

cc @suo @gmagogsfm

[2020-07-24 06:53] SoulSharer commented on #39724
We do train models and save them on mobile, more specifically we work with a mobile VR device. We couldn't train models with pytorch itself because this functionality is not present since the initial release, so we implemented training algorithms ourselves. However we could save these custom-trained models before serialization changes in 1.5.0. I might be wrong though, its been sometime since we l

[2020-07-24 07:05] t-vi commented on #15359
I think we should not let the perfect be the enemy of the good here. I don't know when it was 100% safe to use self-overlapping tensors with PyTorch, and my impression is that it's not that common people use them.

My impression from the forums is that most people are surprised that they run something twice and get different gradients from it, most often because one of PyTorch's native functions u

[2020-07-24 07:22] hjc3613 commented on #5301
I got the same problem, the key is that you can define the dataloaer in any location, but should use the iter(dataloader) in the if __name__=='__main__':
    data_iter = iter(dataloader)
    data = data_iter.next()

[2020-07-24 07:24] hzhangxyz commented on #38457
indexing of named tensor maybe something like this?
[code]

[2020-07-24 07:29] hgaiser commented on #40859
Thank you for the detailed summary @albanD , it is clear to me what you mean with both proposals. As I understand it, the only difference between option 1 and 2 is that in option 1 the user is responsible for executing the loading of weights, and for option 2 that is not the case.

I'm trying to think of a case where option 1 would be used. I imagine it might be useful, but only in rare cases. For

[2020-07-24 07:48] Flamefire commented on #40472
Requesting to include:

- #41982 Fix to allow using system pybind11
- #41988 Fix flaky test
- #41989 Fix superflous download of psimd during configure
- #41991 Fix CMake warning which might become an error
- #41993 Fix failing test_tensorexpr
- #41994 Fix flaky rpc test due to missing shutdown
- #41995 Fix test failing when using at least 4 but less than 6 GPUs, see #41365 which is the open issue

[2020-07-24 07:57] FabianIsensee commented on #40911
Here is a video of the leak in action :-)

https://www.youtube.com/watch?v=aqn_4bZIWCA&feature=youtu.be

[2020-07-24 08:06] willa2016 opened #41997 "failed to load interpolate in libtorch --version1.5.0"
when a model  contains torch.nn.functional.interpolate it can be traced successfully through pytorch 1.5.0  but can not be loaded correctlly in libtorch

[2020-07-24 08:20] leockl opened #41998 "torch.argmax() returning different indices to numpy.argmax() when the element values are the same"
## 🐛 Bug

`torch.argmax()` returning different indices to `numpy.argmax()` when the element values are the same.

## To Reproduce

Code:
[code]
Output:
[code]
Code:
[code]
Output:
[code]
Code:
[code]
Output:
[code]
Code:
[code]
Output:
[code]
## Expected behavior

The returned indices should both be the same using `numpy.argmax()` or `torch.argmax()`, but the returned index for the 3rd element is

[2020-07-24 08:25] VoVAllen commented on #32351
I found if set the tensor created in the `def __getstate__(self)` as the instance attribute, it would work.
[code]

I guess the problem is due to the object reference counting issue, that the tensor might be invalid before being pickled to another process

[2020-07-24 08:28] bonlime commented on #36385
@jinfagang
Hi,
I'm encountering the same problem with GatherElements not being supported in TensorRT. Did you manage to find a workaround for this problem?

[2020-07-24 08:58] ptrblck commented on #41852
Did you run the resnet code in the same cudnn version, but different CUDA versions (CUDA10.0 vs. CUDA10.2)?
I cannot reproduce this issue currently, but I ran the test on a P100 and will try to rerun it on a your mentioned architectures later.

[2020-07-24 09:01] Flamefire commented on #41916
Workaround which works locally: Instead of `CXX_FLAGS="-pthread"` use `CXXFLAGS="-fsanitize=address -fsanitize=undefined -fno-sanitize-recover=all -shared-libasan -pthread"`, the former is unused and the latter includes the required `-shared-libasan`

I further analysed this and found the following issues:
- Overwriting `CMAKE_LINKER_FLAGS_DEBUG` due to a C&P bug: https://github.com/pytorch/pytorc

[2020-07-24 10:00] Flamefire commented on #41916
While testing this I found the next issue: "Your application is linked against incompatible ASan runtimes." is generated when `mkalias` is invoked. This is because sleef accidentally clears out the `CMAKE_C_FLAGS` containing the `-shared-libasan` but as `USE_ASAN=1` sets `-fsanitize=address` in the linker flags it still tries to link against ASAN  (last part is guessed)

This is due to 2 bugs in s

[2020-07-24 10:14] Flamefire opened #41999 "PyBind11 submodule required even when pybind11_PREFER_third_party=OFF"
## 🐛 Bug

The check at https://github.com/pytorch/pytorch/blob/f00a37dd71c8299261f0cbdb76f43d1ef2900e65/setup.py#L301 does require the pybind11 submodule to be initialized even when a system pybind11 exists and should be used.

This makes the build fail when using a non-recursive checkout with only actually required submodules populated.

## To Reproduce

Steps to reproduce the behavior:

1. Check

[2020-07-24 10:32] nomanarshad94 commented on #41750
Opened pull request for a quick fix.

[2020-07-24 10:50] vfdev-5 opened #42000 "Bad link to a tutorial about Distributed Overview"
## 📚 Documentation

"Distributed RPC Framework" documentation (master version) contains the following note:

<img width="976" alt="Screen Shot 2020-07-24 at 12 44 58" src="https://user-images.githubusercontent.com/2459423/88383996-dd0deb00-cdab-11ea-86ed-89def1b30e58.png">

The link behind "PyTorch Distributed Overview" is missing.

I could send a PR with a quick fix, but I can not figure out wher

[2020-07-24 11:36] tmlstrong commented on #27747
Hi @raghuramank100, I am following the tutorial: https://pytorch.org/tutorials/advanced/static_quantization_tutorial.html for Quantization aware training, but I have an issue when run it.
This is the error log for my issue:

  File "train_refinedet.py", line 271, in <module>
    train()
  File "train_refinedet.py", line 244, in train
    quantized_model = torch.quantization.convert(net.eval(), inp

[2020-07-24 11:50] Flamefire opened #42001 "[release/1.6] hypothesis_test fails on ROCM CI"
## 🐛 Bug

In my recent PRs against the release/1.6 branch I get frequent failures in the hypothesis_test, like: https://ci.pytorch.org/jenkins/job/caffe2-builds/job/pytorch-linux-xenial-rocm3.5.1-py3.6-test/1267/console

[code]

This looks like maybe a merge request on conflict resolution failed leading to an invalid test case.

cc @jeffdaily @sunway513

[2020-07-24 12:57] zhang-jinyi commented on #27837
The same error in neural machine translation(NMT) with OpenNMT-py using pytorch 1.5.1 and cuda 10.2 .
I think this is an error with LSTM cells.
Now, I am working with transformers,  and I will report the results.

[2020-07-24 13:02] demmerichs opened #42003 "Building offline documentation does not work"
## 🐛 Bug

Building the docs for me as an end user (offline documentation) does not work.

## To Reproduce

Steps to reproduce the behavior:

1. Check out the pytorch repo at tag `v1.5.1`.
1. Create and activate virtual environment: `cd /path/to/pytorch; python3 -m venv .venv; source .venv/bin/activate`
1. Install pytorch version 1.5.1: `pip3 install torch==v1.5.1`
1. Install requirements needed fo

[2020-07-24 13:19] summit4you commented on #31906
when I installed the torch-1.4-nocrash.whl, I found following error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/app/pt-1.4-libraries/torch/__init__.py", line 106, in <module>
    _load_global_deps()
  File "/app/pt-1.4-libraries/torch/__init__.py", line 64, in _load_global_deps
    ctypes.CDLL(lib_path, mode=ctypes.RTLD_GLOBAL)
  File "/usr/lib/python3.6/cty

[2020-07-24 13:36] kshitij12345 commented on #41998
Another Example:
[code]

[2020-07-24 13:38] albanD commented on #41659
Yes if we wrote it in a single line, it would print it all. But then the linter won't be happy :D

I think that we want to make two changes here:
- Make sure the error is propagated without alteration between the autograd worker thread and the main thread.
- Attach more info to error that happen when we know that we are running python code in the engine.

[2020-07-24 13:48] albanD commented on #31906
You might want to just install the latest version of pytorch that contains this fix.

[2020-07-24 14:02] cyyever opened #42005 "c++ tensor::save is about 5x slower to overwrite the existing tensor."
I found that it is slow to overwrite existing tensor using tensor::save.

## Code
[code]

## result
insertion used 557 ms
insertion used 82 ms

## Strace results

% time     seconds  usecs/call     calls    errors syscall
------ ----------- ----------- --------- --------- ----------------
54.03    0.051799         517       100           writev
 25.79    0.024721         103       238        92 op

[2020-07-24 14:15] cyyever commented on #40472
I need #41913

[2020-07-24 14:19] colesbury commented on #42005
@suo are you familiar with the torch::save call? It's not clear to me if this is an OS-level issue or an issue in the implementation of save.

[2020-07-24 14:22] colesbury commented on #41998
Thanks for the report. This is the same underlying issue as #22853. Let's track this there.

[2020-07-24 14:22] #41998 closed

[2020-07-24 14:28] zou3519 commented on #17935
Unassigning this because I'm not actively working on this. The issue is open because there still exists operations in PyTorch that don't check for memory overlap.

[2020-07-24 14:28] Hitarth10 commented on #27413
Kar de bhai..

[2020-07-24 14:30] colesbury commented on #42003
Per https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#writing-documentation you need katex installed. i.e.

[code]

1) We should list this as its own step on CONTRIBUTING.md, not as a code comment below "pip install -r requirements.txt"
2) Ideally, we should check for katex at the start of building docs, and give a useful error message that describes how to install it if it's missing.

[2020-07-24 14:33] leockl commented on #22853
Hey guys, looks like this issue has been going on for ages. Is this ever going to get fixed?

[2020-07-24 14:36] colesbury commented on #42000
cc @mrshenli where should the link point to?

[2020-07-24 14:48] colesbury commented on #41999
This sounds like a good idea to me, but I'm not very familiar with the build system. cc @malfet for comments.

[2020-07-24 14:52] colesbury commented on #42001
Does your branch include @rohithkrn's change to skip that test on ROCm?

https://github.com/pytorch/pytorch/commit/df252c059c3ea4c04f8c39c3b4c25a3f4572b0b7

[2020-07-24 14:54] vadimkantorov commented on #41659
Maybe if it's just a few lines in PyTorch that are at Python <-> C++ boundary (and maybe they're mostly in codegen?)?, then silencing linter is an okay solution to the truncation problem?

Also it's a bit nasty that it didn't preserve original AssertionError type in the default message

[2020-07-24 14:56] nomanarshad94 commented on #41716
Working on this issue to replace whitelist and blacklist.

[2020-07-24 14:57] Flamefire commented on #42001
This does happen on the release/1.6 branch. The linked commit is part of master and doesn't seem to part of release/1.6 yet, so no. I'll open a PR to backport that

[2020-07-24 15:01] colesbury commented on #22853
@kshitij12345 just put up a PR so it might? Won't be in time for 1.6 though.

[2020-07-24 15:03] Flamefire commented on #42001
Ok, created #42010 for that.

Is there an issue already open tracking the failure? From the CI messages it looks like results are completely bogus so understanding the cause would be useful to determine whether this could potentially affect user code

[2020-07-24 15:03] malfet commented on #41975
Can you please tell me, how did you obtained this .whl package? And it looks like it was build against CUDA-10, but author forgot to package dependent libraries inside, so you have to install CUDA dependent libraries from one of older JetPack SDK releases: https://developer.nvidia.com/embedded/jetpack-archive

[2020-07-24 15:05] Flamefire commented on #40472
Requesting to merge #42010 which disables a test for the 1.6 branch which makes CI fail all PRs against the release/1.6 branch.
Commit backported from master

[2020-07-24 15:15] corner100 opened #42012 "EMNIST looks different to MNIST"
## 🐛 Bug

Hello, the images from the mnist split from EMNIST look flipped.

## To Reproduce
[code]

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch

[2020-07-24 15:17] DavidS3141 commented on #42003
Yes thanks, seems to work now. Actually, I did not look or found via Google the `contributing.md` :/
Also I thought katex was already installed through the `requirements.txt` with sphinx (bundled or sth like that) and the `FileNotFoundError` did not help clear things up yes.
So the points you mentioned would be helpful, maybe also linking the `contributing.md` part to the docs folder via an additi

[2020-07-24 15:40] #40604 closed

[2020-07-24 15:55] sjiang2018 opened #42014 "Segment fault when calling torch::jit::Module::forward"
Hello! I was loading a nn.model generated by Gpytorch [https://github.com/cornellius-gp/gpytorch](url)

I am using the example here [https://github.com/cornellius-gp/gpytorch/blob/master/examples/04_Variational_and_Approximate_GPs/Modifying_the_variational_strategy_and_distribution.ipynb](url) with CPU for training device.
I traced the model with the same code here [https://github.com/cornellius-g

[2020-07-24 16:03] PaulLerner opened #42015 "Support additional arguments in nn.Identity.forward"
*Apologies if this was already discussed, I was not able to find any similar issue*

## 🚀 Feature
Support additional arguments in `nn.Identity.forward`

i.e.

[code]

instead of

[code]
## Motivation

Correct me if I'm wrong but I guess the point of the `Identity` module is to be able to make highly modular models by "replacing" some given module by the Identity module.

Or, since some modules tak

[2020-07-24 16:03] leockl commented on #22853
Ok many thanks for this. That sounds good as long as it won't be another couple of months :)

[2020-07-24 16:09] SsnL commented on #41966
`SparseAdam` is for dense parameter tensor with sparse gradients. It won't work for sparse parameter. The error message should be improved though.

[2020-07-24 16:09] xsidneib commented on #33443
I have the same problem. The maskRNN is from the torchvision models.

``

[2020-07-24 16:11] sjiang2018 commented on #42014
Here is the gdb trace back results
_#0 0x00007ffff7445903 in spotrf_ () from /opt/xxx/sysroot/lib/libqpOASES.so
#1 0x00007fffe76f8615 in void at::native::lapackCholesky(char, int, float*, int, int*) ()
from /usr/local/libtorch_gpu/lib/libtorch_cpu.so
#2 0x00007fffe76ff13a in at::native::cholesky_helper_cpu(at::Tensor const&, bool) ()
from /usr/local/libtorch_gpu/lib/libtorch_cpu.so
#3 0x00007fffe7

[2020-07-24 16:52] govindamagrawal opened #42017 "Inference using torchscript model generating error in c++"
## ❔Question
Hi,
I am trying to use the model yolov5s.pt for inference using c++. Repo: https://github.com/ultralytics/yolov5.  I am able to convert the model to torchscript model, which got generated using models/export.py as defined in the repo. But when I am trying to run the model in c++, I am getting error.

[code]

The code I am using to do the inference:

[code]

I am able to load the model

[2020-07-24 16:58] SplitInfinity commented on #41750
Can you link the pull request to this issue?

[2020-07-24 17:07] powderluv commented on #31611
I am noticing the same issue with Linux.  torch::cuda::is_available() returns zero.

There is a weird hack were if you create a dummy network and pass it to c++ data_parallel somehow CUDA is detected again.

[2020-07-24 17:17] powderluv opened #42018 "libtorch: torch::cuda::is_available() returns zero"
## 🐛 Bug

On Top of Master Linux libtorch torch::cuda::is_available() returns zero even when linked against torch_cuda. I have linked against the latest wget https://download.pytorch.org/libtorch/nightly/cpu/libtorch-shared-with-deps-latest.zip

If you put the code inside pytorch's build system with cpp /tests it works ok.

Snippet:

    torch::Device device = torch::kCPU;
    std::cout << "CUDA D

[2020-07-24 17:20] seemethere commented on #36541
Also experiencing this as well, this is very annoying to deal with

[2020-07-24 17:30] mrshenli commented on #42000
Hey @vfdev-5, this is expected. The page you accessed is the master instead of the stable doc release. The distributed overview page is at https://github.com/pytorch/tutorials/blob/release/1.6/beginner_source/dist_overview.rst. @jlin27 will flush contents in `release/1.6` branch into the master branch when we announce v1.6 release. After that, the link would work.

[2020-07-24 17:40] larry-rystrom opened #42020 "A suggestion for the TORCHVISION.TRANSFORMS page"
## 📚 Documentation

The transforms documentation page, https://pytorch.org/docs/stable/torchvision/transforms.html ,
has a complete lists of transforms broken down by PIL Image, Torch Tensor, Conversion Transforms, Generic Transforms, and Functional Transforms.

But I have found the RandomChoice and RandomApply transforms, which are under PIL image, useful in the context of custom transforms I hav

[2020-07-24 18:10] chenxie95 opened #42022 "[jit] [transformer] [8-bit quantize] Error when trying to quantize pytorch build-in transformer model and then export it with libtorch"
## 🐛 Bug

I found there was some strange error when I tried to apply 8-bit quantize on the pytorch build-in transformer model and then export it using libtorch.  However, if I only do 8-bit quantization or export model using libtorch, it could success without any issue.
It is important to using 8-bit quantization model for transformer model in many scenarios to speedup the evaluation.
It will be a

[2020-07-24 19:11] vadimkantorov commented on #26288
It seems that grad_input could also be updated inplace. Are there ways to check in autograd that would hint that it's safe to rewrite grad_output? (it may be safe if we have chain-like graph which is very typical in Conv+BN+Activation+Dropout kind of blocks)

[2020-07-24 19:26] chenxie95 commented on #42022
I realized that this bug has been fixed in the latest master code (I am using pytorch 1.5.1) in
https://github.com/pytorch/pytorch/blob/890b52e09ff1a758a2ac814f130a1dc1f1a46e9d/torch/nn/modules/activation.py#L869
by changing the Linear class to _LinearWithBias class, which won't be passed to dynamic quantization function to pack the out_proj.
I add this fix in my code and it works well.
Please sim

[2020-07-24 20:17] albanD commented on #26288
The full answer is that it never is. Mostly because we allow the user to add hook at any place in there. And we rely on this value not being changed to make sure the hook returns the right thing.

[2020-07-24 20:22] vadimkantorov commented on #26288
I think it was discussed somewhere recently that hooks should always clone the gradient anyway if they want to keep it?

Also, it could be checked somehow that there are no hooks.

[2020-07-24 20:26] vadimkantorov commented on #26288
I think it was this comment by you :)
https://github.com/pytorch/pytorch/issues/34082#issuecomment-593626854: "The hooks should never change the grad inplace and should .clone() them if they want to save them.
So in that sense, the hook is not an issue."

[2020-07-24 20:40] nomanarshad94 commented on #41750
#41972

[2020-07-24 20:41] ezyang commented on #41865
Relevant code is probably

[code]

This is how we go from torch.ops to the actual operators. It doesn't look like we nogil here, and we probably should.

[2020-07-24 20:59] albanD commented on #26288
"if you want to save them" But if you allow someone else to change the Tensor inplace, the input to the hook will be wrong. Which is not good.

A better example is maybe this: the last layer could have passed to you a view of the gradient it got as input. So you need to check that this other Tensor you're a view of (and all the other views of that base Tensor) are not used anymore. You can access

[2020-07-24 21:13] vadimkantorov commented on #26288
About hooks, can we not have a check that all hooks are already run?

All this grad_input inplace suggestion is much less crucial than inplace forward, but it would also improve memory utilization, especially for models that use ConvSamePadding (at least I observed that difference between reserved and allocated memory decreases significantly when forward inplace is used which is good).

It's a bit

[2020-07-24 21:27] #41758 closed

[2020-07-24 22:01] vkuzo opened #42039 "Segmentation fault (core dumped) when running optimize_for_mobile"
## 🐛 Bug: Segmentation fault (core dumped) when running optimize_for_mobile on a toy model

Seeing core dumps when running optimize_for_mobile on a quantized model which as nn.Sequentials, such as this one.  Happens on master.

[code]

## To Reproduce

Steps to reproduce the behavior:

1. run this script: https://gist.github.com/vkuzo/9589c61b03e662bd8f82874006fe2a5c

output of script: Segmentatio

[2020-07-24 22:02] vkuzo commented on #42039
cc @kimishpatel @dreiss

[2020-07-24 22:11] neginraoof commented on #41893
Looks like this issue has been recently fixed in: https://github.com/pytorch/pytorch/pull/40418
I just tested the repro with PyTorch nightly, and the graph looks different:

[code]

graph

[code]

[2020-07-24 22:13] kimishpatel commented on #42039
Am able to repro this. Will take a look.

[2020-07-24 22:15] neginraoof commented on #41833
The symbolic function creates an ONNX node according to ONNX spec.
You'd need to check https://github.com/onnx/onnx/blob/master/docs/Operators.md#MaxUnpool
and specify node inputs and attributes accordingly.

[2020-07-24 22:34] vfdev-5 commented on #42000
@mrshenli thanks for the explanation, make sense ! Let me close the issue, then.

[2020-07-24 22:34] #42000 closed

[2020-07-24 22:40] kurtamohler commented on #41388
Yes, #40924 is related. The plan for that PR is to add a new `norm` function to `torch.linalg`, once that module exists, and deprecate the current `torch.norm` and `torch.functional.norm` interfaces. In that case, it makes sense to update the current documentation, so I'll make that change.

[2020-07-24 23:25] rohan-varma opened #42044 "Document some NCCL environment variable recommendations to tune performance"
## 📚 Documentation

We occasionally see users post about performance issues when using NCCL for distributed training ([example](https://discuss.pytorch.org/t/distributeddataparallel-on-multiple-gpu-nodes-slower-than-one-gpu-node/75984), [example](https://github.com/pytorch/fairseq/issues/789)). Often tuning some NCCL environment variables such as `NCCL_MIN_NRINGS`, `NCCL_SOCKET_NTHREADS` can help

[2020-07-25 00:09] dxw1997 commented on #26608
AttributeError: module 'torch.jit' has no attribute '_script_if_tracing'
This is a similar problem , do you know how to solve it? The detailed information
are listed.
      4   raise RuntimeError('Cannot run this cell without GPU runtime.')
      5
----> 6 gpu_model = torch.hub.load('pytorch/vision', 'resnet50', pretrained=True)
      7 gpu_model.eval()
      8 gpu_model = gpu_model.to('cuda')

10

[2020-07-25 00:19] spandantiwari commented on #41893
@wangyuantao - feel free to reopen if you still see this issue.

[2020-07-25 00:19] #41893 closed

[2020-07-25 00:23] spandantiwari commented on #41833
Thanks @neginraoof .
@ArtyZe - If you are adding a symbolic yourself, then it is hard to say. Otherwise, please attach a proper repro for any issue you see and we will take a look.

[2020-07-25 00:44] sinannasir opened #42048 "[Gloo, MPI] DDP communication hook: getFuture()"
DDP communication hook implementation #39272 provides an API called `get_future` to retrieve a future associated with the completion of `c10d.ProcessGroupNCCL.work`. `get_future` API is currently only supported by NCCL #41596 , because most of the intensive models, where our gradient compression effort might be more useful, use NCCL.

To support Gloo and MPI, we can modify some of the core Process

[2020-07-25 00:47] sinannasir commented on #39272
After PRs #40848 and #41596, we enabled the communication hook where user can specify how DDP aggregates gradients across multiple workers. Note that `get_future` API is currently only supported by NCCL backend. Please refer #42048 for Gloo support.

[2020-07-25 01:15] oxanderv commented on #5181
in mac xcode-select --install solve the problem

[2020-07-25 01:24] SpaceView commented on #41896
Sorry if I didn't describe it correctly, not that familiar with pytorch details yet.
Addition information for my above Bug. I checked my ubuntu18.04 yesterday, e.g.

['AliasWithName', 'CollectRpnProposals', 'DistributeFpnProposals', 'GenerateProposals', 'ResizeNearest', '__doc__', '__loader__', '__name__', '__package__', '__spec__', 'name']

then after executing the 325th line in c10.py --> "c2_ro

[2020-07-25 01:29] pritamdamania87 commented on #41546
Thanks for the detailed response to my comments and the Special note! I had a few more follow up questions/comments:

What happens when we initialize the RPC framework with this, but haven't specified `--role` arguments to the launcher? Do we error out or assign a default set of ranks? I'm wondering if we can get rid of the `auto=True` argument completely and have RPC initialize roles based on if

[2020-07-25 01:34] #41795 closed

[2020-07-25 03:17] peterjc123 commented on #41896
@SpaceView Could you please provide the result with the nightly packages? I believe it should not be `RuntimeError: [enforce fail at roi_align_op.h:39] . Not Implemented.` anymore. This is a known issue in PyTorch 1.5.1.

[2020-07-25 03:18] Coderx7 commented on #41642
I noticed two things so far:
Pytorch has issues with branches in the model for some reason. that is, lets consider SimpleNetwork here.
[code]
This by default results in the infamous error stated in the op. However, if I simply remove :
[code]
and simply use the
[code]
in the forward pass, I no longer see that error!.
I tried to do the same thing to ResNet18, and it seems, all previous bns are fine

[2020-07-25 04:21] mruberry commented on #15359
Yes, and any programs that due might reasonable be classified as in error. I just meant we should be careful to document whatever contract we come up with for these flags.

The doc might say something like, "math library calls that are known to be nondeterministic..."?

[2020-07-25 05:42] leockl opened #42049 "Code hangs when using `set_start_method('spawn', force=True)` in `torch.multiprocessing.pool`"
## 🐛 Bug

Code hangs or keep running forever without any errors when using `set_start_method('spawn', force=True)` in `torch.multiprocessing.pool`

## To Reproduce

Code:
[code]

## Expected behavior

Expected the code to run properly.

When I removed `set_start_method('spawn', force=True)`, the code ran properly and gave me the results, but this only works for when I run the code once. When I ran

[2020-07-25 06:11] aayn commented on #41786
I think [digitize](https://numpy.org/doc/stable/reference/generated/numpy.digitize.html?highlight=digitize#numpy.digitize) sounds interesting. I'd like to work on that. It also shouldn't be too daunting since PyTorch already has [searchsorted](https://pytorch.org/docs/master/generated/torch.searchsorted.html). Thanks!

[2020-07-25 06:14] aayn opened #42050 "Implementing digitize"
Related to #38349.

cc @mruberry

[2020-07-25 06:47] #24137 closed

[2020-07-25 07:15] avloss opened #42053 "Numpy consistent aliases (clip/clamp, copy/clone)"
## 🚀 Feature
Add aliases for functions which are present in Numpy and perform similar (same?) functionality to PyTorch.

## Motivation

Too often one ends up jumping between PyTorch and Numpy (for plotting purposes, but also for scipy and other things). It's more than frequent that one encounters `AttributeError: 'Tensor' object has no attribute 'clip'`, when by inaccuracy applies function of the

[2020-07-25 07:19] kshitij12345 commented on #42053
Agreed. Many times one does naturally use the `numpy` API just for the code to crash.

AFAIK, @mruberry is looking over the aliasing of these equivalent functions.

[2020-07-25 10:22] SagnikMukherjee commented on #41904
Can you mention the inconsistencies in pytorch/caffe2/python/net_printer.py. In that specific file, I was unable to locate it.
Thank you.

[2020-07-25 12:46] xuqingyu26 commented on #41528
Thank you very much!
Even if it is doing trilinear actually in 5D condition, I find that the sampled data is wrong ,because when the point is in the border line ,mode should be 'bilinear' , corner point be 'same' , am I wrong?

[2020-07-25 13:22] longxianlei commented on #17543
I solved this problem by this method. Thank u!

[2020-07-25 14:15] jncsw commented on #41904
Thanks for your feedback. It was a potential bug on argument switch in net_printer.py. I have posted an issue [here](https://github.com/pytorch/pytorch/issues/41660). Thank you.

[2020-07-25 14:21] sigeisler opened #42062 "torch.svd_lowrank(A) seems to have quadratic space complexity"
## 🐛 Bug

I am trying to invoke a `torch.svd_lowrank(A)` on a *sparse* 659,574x659,574 matrix (with 6,416,728 non-zero elements). However, it seems like internally a dense matrix of the same shape is materialized:
[code]

I come to this conclusion because `1740151445904 / 659574^2 = 4`. So I assume the materialized matrix has an element size of 4 bytes.

## To Reproduce

Steps to reproduce the beh

[2020-07-25 16:32] acxz commented on #41886
@jeffdaily based on comments by AMD developers for the rocm-libs like rocfft (https://github.com/ROCmSoftwarePlatform/rocFFT/pull/304#issuecomment-663102731) there is a difference between 'HIP' and 'hip' which is why @t-vi 's hack in the blog link you posted is not correct. Right now pytorch code is finding HIP with FindHIP.cmake but we also need to find 'hip' from 'hip-config.cmake'. On the linke

[2020-07-25 16:41] acxz commented on #41886
@jeffdaily I have created a fix that resolves this issue and have tested it on my machine. If you could take a look at it that would be great: https://github.com/pytorch/pytorch/pull/42064

[2020-07-25 18:11] sunilkpai commented on #33152
Hi @anjali411 I am getting that the backward op `indexing_backward` is not implemented for CUDA. I'm wondering if this falls under your checklist above? If not, I can create an issue!

[2020-07-25 18:29] kalmufti commented on #41757
Hi, I'm working on this issue.

[2020-07-25 18:44] yuehniu opened #42066 "*max_iter* in LBFGS optmization"
Can anyone explain why we need more than one iterations (*max_iter*) in LBFGS optimizer?

[2020-07-25 19:16] kalmufti commented on #41754
I'm working on this issue.

[2020-07-25 19:34] t-vi commented on #41886
@acxz awesome work digging to the bottom of HIP vs. hip!

[2020-07-25 19:36] acxz commented on #41886
Thanks for the complements, really means a lot since its coming from you haha!

[2020-07-25 20:16] import-antigravity commented on #8976
Has there been an official fix to this? I'm testing a very simple model on 8 cores and 32 GB of memory and I'm still getting this error no matter how low I set `num_workers` (other than 0)

[2020-07-25 20:30] rgommers commented on #33394
@v0dro all these separate issues remains confusing, better not to do that. Right now this issue isn't linked at all to gh-22378. i believe once your PR gh-41977 is merged, the work for that issue is complete, right?

[2020-07-26 00:10] kalmufti commented on #41748
I'm working on this.

[2020-07-26 00:23] kalmufti commented on #41741
I'm working on this.

[2020-07-26 01:13] mrshenli opened #42073 "Multiple test failures in ProcessGroupNCCLErrorsTest"
background: @malfet helped us enable ProcessGroupNCCLErrorsTest C++ tests in #41985 (thanks!!). But our tests are failing in some CI envs.

https://app.circleci.com/pipelines/github/pytorch/pytorch/193421/workflows/058bcdc5-97ff-4533-a02b-474afa6bed4f/jobs/6369039/steps
https://app.circleci.com/pipelines/github/pytorch/pytorch/193477/workflows/4da23af6-dc18-4bf4-bf7a-c6f51715069a/jobs/6371710
http

[2020-07-26 01:48] antoche opened #42074 "Memory usage of torch.nn.functional.interpolate increased with v1.5.0 when run on numpy input"
## 🐛 Bug

The code below, which downscales an image by 2x, used to use 1GB of GPU memory with pytorch-1.3.0. Switching to 1.5.0, it now uses 5GB to do the same job, which makes it run out of memory on smaller GPUs.

## To Reproduce

Run the test below using pytest (`pytest -v -s test_downscale_plain.py`)

    import torch
    import numpy as np

    def test_downscale_plain():

        def get_ima

[2020-07-26 01:51] SsnL commented on #8976
@import-antigravity Could you share the dataset code?  This is usually caused by a combination of environment and dataset code.

[2020-07-26 01:55] SsnL commented on #41528
@xuqingyu26 If you have an example of the wrong output, please open a new issue with the input, PyTorch output, and your expected output. Thank you!

[2020-07-26 02:15] antoche commented on #42074
I've managed to work around the issue by forcing a copy of the numpy array after moving the axis. This definition of `get_image()` makes the test pass:

    def get_image():
        # Pixels would typically come from some image reader
        pixels = np.random.random((17173, 20400, 3)).astype(np.float32)
        # Turn pixels into a tensor bach
        pixels = np.copy(np.moveaxis(pixels, -1, -3)

[2020-07-26 04:07] Mon-ius opened #42075 "support `fftshift` and `ifftshift` in pytorch"
Currently working on the IBM Power9 series clusters.

Cannot run such code:

`x = torch.tensor(1, dtype=torch.complex64, device = 'cuda')`

Error shows below:

[code]

cc @ezyang @anjali411 @dylanbespalko

[2020-07-26 04:32] RundownRhino commented on #29383
Same problem on Python 3.7.0, PyTorch 1.5.1, CUDA 10.2. Windows7 x64, PyCharm.

Minimal code to reproduce the bug is:

[code]

[2020-07-26 06:19] pustar commented on #27212
+1

[2020-07-26 07:23] HawkRong opened #42077 "cuda runtime error (700) : an illegal memory access was encountered"
## 🐛 Bug

I performed some `torch.chunk` and `torch.cat` operations on tensors (Conv2D feature maps) during the training of my object detection network, and the forward propagation constantly crash here.
Related codes are:
[code]
The error messages are:
[code]
which is traced to `print(centernesses)` if this sentence is uncommented; else, it would be traced to the next line:
[code]
## To Reproduce

[2020-07-26 07:44] pr2tik1 opened #42078 "AttributeError: module 'torch.jit' has no attribute '_script_if_tracing'"
## 🐛 Bug
Error using the pytorch.hub API:
code:

import torch
from torch import hub
resnet18_model = hub.load('pytorch/vision:master','resnet18',pretrained=True)

## Error
-----
Downloading: "https://github.com/pytorch/vision/archive/master.zip" to /home/pratik/.cache/torch/hub/master.zip
---------------------------------------------------------------------------
AttributeError

[2020-07-26 08:57] lablabla commented on #41852
@ptrblck I just finished compiling torch again, this time using CUDA 10.0 & cuDNN 7.6.5 (rather than 7.6.3) and this time the timing are as bad as when using CUDA 10.2 with cuDNN 7.6.5 so it looks like the problem is when compiling torch with cuDNN 7.6.5
This was tested on Windows using P1000

Are there any compilation flags that might cause such issues?

[2020-07-26 09:16] dataislife commented on #37022
Same here, as @peterjc123 and @itsvivekghosh mentionned, adding the files to System32 folder does the job.

Thanks Folks!!

[2020-07-26 09:18] Markshilong commented on #41794
Same issue as yours, but I haven't found the solution yet.

[2020-07-26 09:56] mattip commented on #35363
This was fixed in gh-41608 which upgraded NCCL to 2.7.3

[2020-07-26 10:32] dipanshug124 commented on #42078
Try downgrading ` torchversion ` to ` 0.4.0 `
pip uninstall torchvision
pip install torchvision==0.4.0 -f https://download.pytorch.org/whl/torch_stable.html

[2020-07-26 10:57] lablabla commented on #41852
@ptrblck thanks, waiting for your results as well. In the meantime, I compiled CUDA10.0 with cuDNN 7.6.5 and this time it again the inference took a long time, so it does look like it's something with the cudnn version & not CUDA itself

just for sanity, I downloaded the Windows 1.5.0 prebuilt release binaries with CUDA 10.2 and used them in the tester from above and the results were the same as w

[2020-07-26 11:24] hemantranvir opened #42080 "To have single cuda context across multiple processes"
Presently, as far I have digged around, pytorch doesn't seem to use single cuda context across multiple processes. If training the network in multiple processes the 557 MB per cuda context in each process is quite expensive. It would be nice to enable pytorch to use single cuda context.

FYI:
- The multiple process training requirement could be mitigated using `torch.multiprocessing` but it would

[2020-07-26 12:01] prajjwal1 commented on #42077
Even I've been increasingly facing this error in the past few month. Seems version specific. CUDA should give better error message.

[2020-07-26 12:49] Jirui-Wu commented on #7807
I had a similar issue and solved by changing paths to LMDB in CMakeCache.txt into

//Path to a file.
LMDB_INCLUDE_DIR:PATH=PATHTOYOUROWNCONDAENV/include/

//Path to a library.
LMDB_LIBRARIES:FILEPATH=PATHTOYOUROWNCONDAENV/lib/liblmdb.so

and then reinstall using USE_LMDB = ON python setup.py install

This solves my problem.
Reference: https://github.com/facebookarchive/caffe2/issues/1074#

[2020-07-26 12:55] narfanar opened #42081 "Document optimizations enabled by JIT scripting and tracing (TorchScript)"
## 📚 Documentation

Current documentation is vague about what optimizations are possible with TorchScript. E.g.
- https://pytorch.org/docs/stable/jit.html?highlight=jit%20script#module-torch.jit
- https://pytorch.org/tutorials/beginner/Intro_to_TorchScript_tutorial.html

Documenting optimizations is risky business. But there should be a place where the usual or expected optimizations are briefly d

[2020-07-26 14:15] HawkRong commented on #42077
@prajjwal1 Do you think it's specific to certain versions of pytorch?

[2020-07-26 14:19] prajjwal1 commented on #42077
I was not getting this in 1.4. In 1.5, I started seeing this issue occasionally. This issue has been reported multiple times.

I've also raised this issue on [Transformers repo] (https://github.com/huggingface/transformers/issues/5002). I suspect that it is indeed related to `OutOfMemory` issue, but the error message doesn't indicate so.

Try reducing the memory usage, and I hope that this issue w

[2020-07-26 14:45] maxmx911 commented on #40027
@IvanKobzarev
Hi, is there any updates on this issue?

[2020-07-26 15:18] louisabraham opened #42082 "Zero shaped inputs for Linear layer"
Support `nn.Linear(0, k)`

Currently getting a bug because of kaiming initialization.

[2020-07-26 15:25] louisabraham opened #42083 "Documentation wrong for Linear layer initialization"
Documentation pretends that weights and bias are initialized uniformly in +-1/sqrt(in), whereas the code uses kaiming for weights and a kaiming variant for biases.

cc @jlin27 @albanD @mruberry

[2020-07-26 18:03] malfet commented on #42073
That's simple, they shouldn't run there, since those are CPU only tests

[2020-07-26 18:48] ngimel commented on #42077
Please provide a self-contained reproducing script for this error.

[2020-07-26 18:51] ngimel commented on #42080
The correct solution here is to use MPS, making new process use the current context inside pytorch would be an unexpected behavior.

[2020-07-26 18:52] ngimel commented on #42075
What pytorch version are you using? The snippet above works on master.

[2020-07-26 18:55] ngimel commented on #42066
Please ask questions on the forum, discuss.pytorch.org.

[2020-07-26 18:55] #42066 closed

[2020-07-26 18:58] ngimel commented on #42050
Is there an issue here? There doesn't seem to be a discussion needed (yet), so closing for now, reopen if you feel a separate issue is needed. Otherwise, just comment in #38349 that you are going to implement `digitize` is enough.

[2020-07-26 18:58] #42050 closed

[2020-07-26 18:58] ngimel commented on #42049
cc @VitalyFedyunin

[2020-07-26 19:00] ngimel commented on #5181
gcc 4.9 and cuda 9 are not supported, minimum required gcc version is 5.2

[2020-07-26 19:00] #5181 closed

[2020-07-26 19:03] ngimel commented on #42020
Thank you for your suggestion! As this issue concerns torchvision documentation, please file it in pytorch/vision.

[2020-07-26 19:03] #42020 closed

[2020-07-26 19:11] ngimel commented on #42018
cc @ezyang, @malfet - I remember there was a similar issue recently, but can't find it.

[2020-07-26 19:14] ngimel commented on #42012
This issue looks like it belongs in pytorch/vision, not pytorch/pytorch, please file it there.

[2020-07-26 19:44] ngimel commented on #42050
FYI, this functionality is implemented as torch.bucketize #34577, so all you need is an alias.

[2020-07-26 20:12] liming312 commented on #22436
Is there any way to see which parameters on earth are unused? It is useless to simply give this RuntimeError or simply set find_unused_parameters to True.

[2020-07-26 21:13] firstprayer commented on #41696
Having both zero_grad() and reset_grad() might be kind of confusing to the end users.

Are zero-ing all gradients always equivalent to setting all gradients to None? Wonder if there's any case where zero_grad() is preferred over reset_grad().

If the two are not equivalent, and have pros and cons, we probably should mention those pros and cons in the documentations to articulate the difference in

[2020-07-26 21:46] malfet commented on #42018
@powderluv can you share a more detailed instructions on how you build+link your program?
I've just compiled and run your snippet using something similar to https://pytorch.org/cppdocs/installing.html and it just worked.
Here is my CMakeLists.txt
[code]
and example.cpp
[code]
And then build it as:
[code]
And as you can see, it works as expected.

[2020-07-26 22:05] mruberry commented on #42050
Thank you, @ngimel. Sorry @aayn, looks like bucketize snuck past me, too.

[2020-07-26 22:11] priyanshuwustl commented on #41714
Picking up this issue

[2020-07-26 22:33] mruberry commented on #42015
Thanks for the suggestion, @PaulLerner! This sounds good to me. User's can work around this issue today by replacing the module's forward call, but that, as @PaulLerner says, kinda defeats the point.

@albanD would there be an issues with forward taking (*args, **kwargs) that you see? Wasn't there some issue with hooks and kwargs?

[2020-07-26 23:51] Mon-ius commented on #42075
1.4.0

[code]

[2020-07-27 00:13] ngimel commented on #42075
Please update to the latest version

[2020-07-27 00:55] peterjc123 commented on #41797
I don't think it is a correct behavior to mix multiple CUDA versions of library in a single project. Either use CUDA 10.2 with our precompiled libs or build LibTorch with CUDA 11.0 on your own.

[2020-07-27 01:57] b93901190 commented on #21737
also have this issue when building libtorch from source,
does anyone have solution for this?

[2020-07-27 02:49] oke-aditya opened #42092 "Import error from torch.distributed"
##  🐛 Bug

## To Reproduce

Steps to reproduce the behaviour:

This bug is strange as we are trying CI for Linux, Mac and Windows. I have followed the instructions from PyTorch webpage for installating and it gives the following error.
` AttributeError: module 'torch.distributed' has no attribute 'group'`
You can find the CI details [here ](https://github.com/lgvaz/mantisshrimp/pull/226)
I was abl

[2020-07-27 02:59] shihaoyin commented on #40472
Please merge #41034

[2020-07-27 03:36] mruberry commented on #42053
Great idea, @avloss. @kshitij12345 is correct, and we should deliver aliasing for the 1.7 release.

[2020-07-27 03:56] andyhahaha commented on #14464
I have the same issue. This issue also happened when you call nn.sequence one by one as below.
Really need to update this issue. Thanks!

(stem): Sequential(
(0): Conv2d(3, 48, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
(1): BatchNorm2d(48, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
)

x = stem[0](x)
x = stem[1](x)

[2020-07-27 04:04] Linzecong opened #42094 "Setting the default number of threads by torch.set_num_threads is faster than not setting it"
## 🐛 Bug

On CPU and Linux machines, setting the default number of threads is faster than not setting it. But in theory, it should be as fast.

After experimentation, it seems that this problem only occurs in the LSTM layer.

My computer has 8 cores.

This is my code

[code]

the time cost is

![image](https://user-images.githubusercontent.com/13199295/88501960-a0d2c880-cfff-11ea-8f99-98a9f6c5a542

[2020-07-27 04:32] ezyang commented on #41917
Forcing all of the operators to live in one place was an intentional design choice to make it easier for readers to find a list of all of the operators corresponding to a namespace (just one `TORCH_LIBRARY`). This also matches the behavior of pybind11 modules, which are also defined in one space.

I think there is a little extra juice in the API which you may not know about, which might solve your

[2020-07-27 04:37] ezyang commented on #42003
Another possibility is, since we switched to splitting the nn pages, we could switch back to the default sphinx rendering which will just use mathjax and then doesn't require server side rendering.

[2020-07-27 04:40] ezyang commented on #31611
@powderluv do you mind opening a new issue for this?

[2020-07-27 04:51] gunandrose4u opened #42095 "[RFC] Add Windows support to torch.distributed package"
## 🚀 Feature
Enable torch.distributed package supported on windows platform, this feature is only the first step, limited features supported compare to linux platform.

1. Function broadcast and all_reduce supported on CPU and GPU
2. Gloo backend supported only, for Gloo, libuv supported only first
3. torch.nn.parallel.DistributedDataParallel() supported
4. Shared file-system init_method supported

[2020-07-27 05:08] nbcsm commented on #37068
https://github.com/pytorch/pytorch/issues/42095

[2020-07-27 05:28] oke-aditya commented on #42092
Guess Highly linked with #42095. Maybe that is because this doesn't work. Is there any workaround for windows as of now ?

[2020-07-27 05:55] hemantranvir commented on #42080
@ngimel  Thanks for your response! Some more pointers:

For the MPS:
I started the MPS using:
[code]

And then started two similar python processes in different shells/processes using:
[code]

When checking `nvidia-smi` output:
**Without MPS**
[code]

**With MPS**
[code]

When MPS is on, it should use just one single cuda context, thus the GPU memory consumption should have been almost half of 107

[2020-07-27 06:00] ngimel commented on #42080
cc @ptrblck, do you know why there's no context sharing with mps?

[2020-07-27 06:15] powderluv commented on #31611
I have opened https://github.com/pytorch/pytorch/issues/42018

[2020-07-27 06:23] powderluv commented on #42018
Thanks. Yes I am able to recreate it with your setup and it works as expected. Still doesn't work in my actual setup where I build pytorch via CMake External Project. There is a weird hack if we use C++ data_parallel and run a dummy network then cuda is detected. It does seem like #31611 but for linux. I will dig a bit more and report back.

[2020-07-27 06:35] Godricly commented on #12773
@Spenhouet Have you specify you compiling options(sm50 like stuff)? My cuda extension compiles after setup up those things.

[2020-07-27 06:37] Spenhouet commented on #12773
@Godricly There were no further configurations than the above Dockerfile. Where would I set these compiler options?

[2020-07-27 07:26] jtao151617 commented on #29186
I changed the saving path to a different directory to make sure there is no constrain to create a new file.

[2020-07-27 07:36] munael opened #42102 "Provide `out` parameter (buffer support) for `tensordot`"
## 🚀 Feature
Add an `out` parameter to `tensordot` to allow using buffers.

## Motivation

Allow using buffers.

## Pitch

Rounds out the API. Also a first step towards making `tensordot` and `einsum` faster.

## Alternatives

N/A

## Additional context

N/A

[2020-07-27 07:37] aimasa commented on #27837
Same issue. Using Pytorch 1.2.0 and GTX 2060s cuda 10.0

[2020-07-27 07:40] worsecoder commented on #41665
Thank you for your advice! I will have a look and try

[2020-07-27 07:40] #41665 closed

[2020-07-27 07:43] ArtyZe commented on #41833
@spandantiwari @neginraoof
Thanks for your reply.
Actually, what drives me to add max_unpool op to torch/onnx/symbolic is as below:
![image](https://user-images.githubusercontent.com/32027268/88515609-8cea8f00-d01e-11ea-823f-654f53ddd83f.png)
that means torch/onnx does not recognize this op.
and I see that max_unpool2d is a torch op
![image](https://user-images.githubusercontent.com/32027268/88515

[2020-07-27 08:55] sephorae commented on #37733
I get this error OSError: [WinError 127] The specified procedure could not be found.
I installed pytorch a few days ago and hit this error for the first time today ... so I don't think it's an installation problem...
I am using  torch 1.5.1+cu101 and python 3.8.5 on windows 10
if someone could help me on this would be glad
thanks a lot

[2020-07-27 10:42] rgommers commented on #42053
It looks like there's no issue for aliases yet, so let's cross-link to the main tracking issue for NumPy compat (gh-38349) and leave this open.

+1 for aliases of sensible functions. Note that NumPy has aliases itself as well (e.g. `around`, `round`, `round_`), let's make sure to exclude those. It's sometimes unclear which one the main function is, it may not be the one that has the implementation

[2020-07-27 12:58] hongrui16 commented on #20313
I  found that this error was due to master_port was used more than once at the same time. After modifying number of master_port , I can run training smoothly.

[2020-07-27 13:00] netw0rkf10w opened #42107 "torch.distributed.launch: despite errors, training continues on some GPUs without printing any logs"
## 🐛 Bug

I launched a training of the [DETR](https://github.com/facebookresearch/detr) model on a server that automatically deletes all the files older than 30 days (which I hadn't realized before launching), which resulted in some unexpected behavior.

This is what happened, in order:

- I extracted the COCO dataset.
- I launched the training on 8 GPUs using `torch.distributed.launch`. I checked

[2020-07-27 13:04] densechen opened #42108 "The cuda version of torch.det is much slower than cpu version, why?"
I test torch.det function with the following script:

`
import torch
import time

t = torch.randn(4, 784, 4, 3, 3)
tic_start = time.time()
torch.det(t)
print("cpu: ", time.time() - tic_start)

t = t.cuda()
tic_start = time.time()
torch.det(t)
print("cuda: ", time.time() - tic_start)

`

and get the following output:
cpu:  0.01205134391784668
cuda:  1.553579330444336

I am using a TITAN X GPU.
Why

[2020-07-27 13:10] zz20200 commented on #41975
Thanks!
I have solved this problem. It is because I confused the version of jetpack. I thought it was 4.3, but it was actually 4.4. The pytorch1.4.whl I installed was not suitable for 4.4. Finally, I installed pytorch1.6 to solve this problem.

[2020-07-27 13:10] #41975 closed

[2020-07-27 14:45] mrshenli commented on #42095
Hey @gunandrose4u, thanks a lot for working on this. It looks great to me! Just a minor comment, since we plan to support file store in the initial version, I believe we don't need to set `MASTER_PORT` and `MASTER_ADDR` in that case.

cc @lw @beauby  any plan for adding Windows support to TensorPipe?

[2020-07-27 14:45] ezyang commented on #15359
I agree with @t-vi (and I really like the observation that half of the reported nondeterminism is upscaling backward). In particular, I think a state where we have partially documented functions that are known to be nondeterministic (or even partially documented some functions to be deterministic) is strictly better than one where we don't give any indication at all--the key thing is to not claim

[2020-07-27 14:52] zou3519 commented on #830
Reopening this issue due to @somnathrakshit's comment

[2020-07-27 15:14] peterjc123 commented on #37733
@sephorae I don't know what you refers to "installation problem" here. But I can infer from the error message that PyTorch is trying to load a wrong version of the library since it says "The specified procedure could not be found" which means the DLL is found but some function in it is not. The solution are listed below:
1. There may be some old DLLs in the `lib` directory so you may just clean th

[2020-07-27 15:18] colesbury commented on #29065
I was talking with @heiner about GIL deadlocks and I noticed a few bugs in the original example that lead to the deadlock (or crashes in some case). Additionally, pybind11 v.2.3.0 (used in the repro) had a [critical bug](https://github.com/pybind/pybind11/issues/1364) that would lead to crashes even when the example is fixed. You'll need to use at least v.2.4.0 (I tested with v2.5.0).

Here is my

[2020-07-27 15:19] Nikronic commented on #42083
@louisabraham I think this thread might help you:
https://discuss.pytorch.org/t/clarity-on-default-initialization-in-pytorch/84696

[2020-07-27 15:21] rotabulo opened #42109 "Slow `index_add_` on `torch.long` tensors"
## 🐛 Bug

There is a significant performance drop when running `index_add_` on tensors of `torch.long`.

## To Reproduce

Run

[code]

Output I get

[code]

where `torch.int64` is equivalent to `torch.long`.

## Expected behavior

The code with `torch.long` should run comparably fast.

## Environment
[code]

[2020-07-27 15:32] tombosc opened #42110 "No IndexError for wrong nll_loss targets on GPU"
## 🐛 Bug

Does not raise IndexError for nll_loss targets that exceed the last dimension of the log-prob tensor, on GPU only.

## To Reproduce

[code]

## Expected behavior

Should raise the 2 IndexError and print both messages, but only the second one (CPU) is raised.

## Environment

[code]

[2020-07-27 15:43] lw commented on #42095
Supporting Windows in TensorPipe isn't at the moment one of our priorities but, in principle, it shouldn't be too hard as the essential backends are supposed to already be multiplatform. No one has ever tried to build it on Windows though, so there may be something I'm missing. We could try to first build Gloo on Windows and see how hard that is.

[2020-07-27 15:43] ysyyork opened #42111 "memory leak when eval with multithread environment"
## 🐛 Bug

When I serve the model using flask with multi threaded mode on, the CPU memory keep growing as requests come in. But if I turn the flask to single thread. There is no memory leak. Also I pulled out that piece of inference code to run by a single thread script. Didn't see any memory leak. It seems the model.forward doesn't work with multi threaded environment? can anyone confirm this?

##

[2020-07-27 15:48] colesbury commented on #42003
I like that katex is faster to render and doesn't reflow the page. I think that justifies the slightly more complicated build process for the docs.

[2020-07-27 16:10] sinannasir commented on #41266
We will replace `work` by `future_work` and use `AllreduceHook` by default once `get_future` API is supported by Gloo, see #42048 . There is a PR for this issue (#41840) that can be merged `get_future` API after Gloo support and review.

[2020-07-27 16:12] colesbury opened #42112 "Function names in title should not be capitalized"
## 📚 Documentation

In the API docs, the function names should NOT be capitalized. For example, in https://pytorch.org/docs/master/generated/torch.set_flush_denormal.html#torch.set_flush_denormal

we should not write

[code]

but

[code]

Python - like many other programming languages - is case sensitive.

[2020-07-27 16:14] #42111 closed

[2020-07-27 16:15] Nikronic commented on #42108
Try to run your experiment using `timeit`. For the first run cuda might be slower due to some overload.
Here is my experiments:
[code]

[2020-07-27 16:24] albanD commented on #42015
Hi,

The two questions I would have are:
- What is the use case for you? In particular, what is before/after this module? The Sequential module does not support such things (only one Tensor as input).
- How do you return the `kwargs` in a good way? If you eat up the args/kwargs like in your example, then it's not really an identity anymore.

[2020-07-27 16:26] albanD commented on #41696
Unfortunately, it is not.
The main cases where it appears is:
- `nn.optim` optimizers have a different behavior if the gradient is 0 or None (in one case it does the step with a gradient of 0 and in the other it skip the step altogether).
- When user try to access the gradient value and perform manual ops on it. A None attribute or a Tensor full of 0s will be different.
- The few cases where we ch

[2020-07-27 16:31] Daniel-Kelvich opened #42113 "Quantized model much slower than float32"
I've tried to quantize a simple model with conv+bn+relu combination but it performs much slower in int8.

## Code To Reproduce

[code]

## Expected behavior

Int8 model to be 2-3 times faster than float32.

## Environment

PyTorch version: 1.7.0.dev20200727
Is debug build: No
CUDA used to build PyTorch: 10.2

OS: Ubuntu 20.04 LTS
GCC version: (Ubuntu 8.4.0-3ubuntu2) 8.4.0
CMake version: version 3.

[2020-07-27 16:34] albanD commented on #42083
Closing as the forum discussion clarifies the issue (they are the same in this case).

[2020-07-27 16:34] #42083 closed

[2020-07-27 16:38] rgommers commented on #32770
We now have new CI jobs with GCC 9 and with conda compilers. I can't check right now, but this may be fixed.

[2020-07-27 16:46] xkszltl opened #42115 "[Build Failure] Wrong copy path for shared DNNL"
## 🐛 Bug

`bin/dnnl.lib` is not available with `-DDNNL_LIBRARY_TYPE=SHARED` or `-DMKLDNN_LIBRARY_TYPE=SHARED`.
Instead it will be available as `bin/dnnl.dll` and `lib/dnnl.lib` (import lib).

Here's the error:
[code]

And this is what's available instead:
<img width="667" alt="image" src="https://user-images.githubusercontent.com/5203025/88568520-b1208d00-d06b-11ea-8efd-d9583e61a616.png">
<img wid

[2020-07-27 16:53] ashu170292 opened #42116 "Speech embedding LSTM model giving different results during inference(I am using model.eval() )"
I am using an LSTM model with 3 hidden layers to produce speech embeddings. The input to the model are MFCC features taken on a window of 0.025 seconds and the hop length is 0.01 seconds. I have two inputs for inference and their size is as follows:

1. torch.Size([54, 24, 40])
2. torch.Size([439, 24, 40])
The first 18 frames in both the inputs is same. I load the model as follows:
[code]
The stat

[2020-07-27 16:55] pinzhenx commented on #42115
We'll look into that. Copy @emfomenk @vpirogov

[2020-07-27 16:56] ngimel commented on #42108
It's correct that the first cuda run is slower because it includes Magma library initialization. The script in the second comment is not performing correct synchronizations either. Please use Timer utility to properly benchmark code, see [README](https://github.com/pytorch/pytorch/tree/master/torch/utils/_benchmark) and simple_timeit in the examples. You'd need a recent pytorch build for that. Wit

[2020-07-27 16:56] #42108 closed

[2020-07-27 16:56] Mon-ius opened #42117 "Error, Compiled pytorch from source on power9 machine(cannot import name '_add_docstr' from 'torch._C' (unknown location)..)"
I tried to compile pytorch from source on IBM power9.

The compile progress was success. But when I import torch insider python the error shows
[code]

cc @malfet

[2020-07-27 16:58] ngimel commented on #42117
Are you starting your python interpreter from pytorch root directory? Depending on how you installed pytorch that might lead to errors, try changing directory.

[2020-07-27 17:04] Mon-ius commented on #42117
As a non-root user, I install the pytorch on the specific folder.

`python setup.py install --prefix ~/.share/conda-env/ml`

The full log for the compile progress is on:  [Full_log](https://github.com/Mon-ius/bluebear_hpc/blob/master/compile_log.txt)

[2020-07-27 17:06] albanD commented on #41849
Don't you just need to put back the `__getitem__` to get back the pytorch behavior?
If you remove our implementation of `__getitem__`, it is expected to not behave properly.

[2020-07-27 17:06] zou3519 commented on #41516
Merged in #41564 thanks to @alvgaona, so I am closing this.

[2020-07-27 17:06] #41516 closed

[2020-07-27 17:07] ezyang commented on #41465
I ran this test case on a relatively recent develop build of master and couldn't reproduce. @lucabergamini could you try installing a nightly and see if you are affected?

[2020-07-27 17:08] malfet commented on #42117
@Mon-ius please make sure to start python interpreter with a different current working directory than source checkout folder (Those errors often appear when one tries to import pytorch from the source repository.

[2020-07-27 17:10] ezyang commented on #41782
I successfully repro'ed this on a relatively recent version of master:

[code]

[2020-07-27 17:10] albanD commented on #41782
Duplicate of https://github.com/pytorch/pytorch/issues/33546

[2020-07-27 17:11] albanD commented on #41782
Closing as duplicate. We can continue the discussion there.

[2020-07-27 17:11] #41782 closed

[2020-07-27 17:12] gchanan commented on #41916
I don't think this needs to be in 1.6.0 -- the first is getting a proper setup, the second are sleef issues that just got fixed (so can wait a release).

[2020-07-27 17:13] lucabergamini commented on #41465
Sure @ezyang, any version in particular you want me to try?

[2020-07-27 17:14] zou3519 commented on #41473
The particular issue is closed by #41828. However we would like to "un-revert the revert and fix the problem", that work is happening in #41841.

[2020-07-27 17:14] #41473 closed

[2020-07-27 17:16] ezyang commented on #41857
On Friday, @anjali411 @vincentqb @albanD and I met and we went through the derivation from Wirtinger derivatives to get the JAX formula and the TF formula. But we didn't come to an agreement about what formulation we should use. @anjali411 and @albanD thought that JAX-style would be better (primarily citing reducing the amount of work we would have to do in the framework); @vincentqb thought TF-st

[2020-07-27 17:16] powderluv commented on #42018
I have tracked down the issue. In my CMakelist.txt after building the pytorch libs I need to link it with -Wl,--no-as-needed if not they only link to the CPU libs.

You could add this line to your CMakelist to link properly:

set(CMAKE_LINK_WHAT_YOU_USE TRUE)

Closing.

[2020-07-27 17:16] #42018 closed

[2020-07-27 17:17] ezyang commented on #41465
Most recent nightly is fine! you can just follow the instructions at https://pytorch.org/get-started/locally/

[2020-07-27 17:19] ezyang commented on #41776
@leeyeetonn I'd be interested to know what kind of testing strategy you're doing for your tool

[2020-07-27 17:24] xkszltl commented on #42115
Here's the line triggering this error:
https://github.com/oneapi-src/oneDNN/blob/ab549349fc473f35e9bc41ed4d6bff5b1eaabfe0/src/CMakeLists.txt#L150-L156

[2020-07-27 17:24] #42073 closed

[2020-07-27 17:25] ChieloNewctle commented on #41849
`Tensor` doesn't actually have `__getitem__` attribute. But it's true I should put back `__getitem__` for test.

And here is the code:
[code]

And this code outputs:
[code]

It's still not working properly... :)

[2020-07-27 17:26] ivankrylatskoe commented on #41797
Ok, I switched to CUDA 10.1 and the behaviour didn't change.
The program works on Debug build, but it fails with exception on Release build.

Release libraries:
C:\Program Files (x86)\LibTorch\libtorch-win-shared-with-deps-1.5.1\libtorch\lib\c10.lib
C:\Program Files\NVIDIA Corporation\NvToolsExt\lib\x64\nvToolsExt64_1.lib
C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.1\lib\x64\cudart_stat

[2020-07-27 17:27] ezyang commented on #41486
I confirmed this reproduces on my machine:

[code]

[2020-07-27 17:28] colesbury commented on #41486
I'm confused if this is a leak in the sense that the memory consistently grows or only in the sense that memory is not returned to the OS when you expect it?

[2020-07-27 17:31] kjdorow7 commented on #30139
I too have the same error.

[2020-07-27 17:31] edwardleardi commented on #41499
Hi, just wanted to checkin to see if anyone had a chance to view this issue?

/cc @jlin27 @mruberry @VitalyFedyunin @driazati @zdevito

[2020-07-27 17:33] albanD commented on #41527
Do I correctly understand that you force the eps value to a very small values (below the default one).
I think this is expected as the eps is here to control numerical stability and changing that value can change the behavior.

That solves your issue right?

[2020-07-27 17:35] vadimkantorov commented on #41527
I think it's inverse - forcing eps to a higher value instead.

One problem is that default is a fixed eps and not a polymorphic version at least retrieving eps from torch.finfo(..).tiny. So when some model is converted with some amp, this becomes a problem.

[2020-07-27 17:36] xkszltl commented on #42115
When DNNL built by itself, this line works fine.
<img width="632" alt="image" src="https://user-images.githubusercontent.com/5203025/88573034-b33a1a00-d072-11ea-8539-9157a2034693.png">
However in PyTorch context it fails.

Besides, to me it's strange that the static lib is in `bin/`.

[2020-07-27 17:36] lucabergamini commented on #41465
I've tried the nightly on both macos and linux. No issue in macos, while I'm still getting the error in linux but with additional information:

[code]
Again, adding a `copy()` (`dt_1.append(data["d1"].numpy())`) solves the issue on linux

[2020-07-27 17:46] seemethere commented on #40472
Hey everyone! I've locked comments on this issue, we have a final RC for 1.6.0 and will therefore be no longer accepting cherry picks for 1.6.0

Thanks everyone for their submissions!

[2020-07-27 17:52] albanD commented on #41527
But the default value for both the nn.Module and the functional is `1e-5`. That should be high enough no

Yes I do think this is an issue but we would need a more general solution.
But `layer_norm()` should not have this issue given the current default right?

[2020-07-27 17:54] stas00 commented on #41782
I tried to comment there first, and nothing was happening. Clearly the original issue has been stalled - it's been submitted 5 months ago. So now it'll be buried again.

[2020-07-27 17:58] gchanan opened #42120 "mypy type annotations aren't always useful in docs"
## 📚 Documentation

Consider the documentation for Conv2d against 1.7.0:
`
torch.nn.Conv2d(in_channels: int, out_channels: int, kernel_size: Union[T, Tuple[T, T]], stride: Union[T, Tuple[T, T]] = 1, padding: Union[T, Tuple[T, T]] = 0, dilation: Union[T, Tuple[T, T]] = 1, groups: int = 1, bias: bool = True, padding_mode: str = 'zeros')
`

The "T" type is never defined and not particularly useful fo

[2020-07-27 18:04] vadimkantorov commented on #41527
@albanD you are right, for some reason the author originally used `eps=1e-12`, and default seems `1e-5`

[2020-07-27 18:20] albanD commented on #41782
Hi,

We bumped the priority of the original issue to reflect that.
Also we would be very happy to provide guidance and accept a PR fixing this!

[2020-07-27 18:22] albanD commented on #41527
Ok.
I'll close this as layer_norm should be fine here.
Forcing a very small epsilon (especially when using float16) is expected to lead to nan. You should not do that.

The general handling of the eps in the codebase though is much more complex and tricky because some are in python, some are in cpp, some can be controlled by the user or not.
But I think we would be happy to have an issue tracking

[2020-07-27 18:22] #41527 closed

[2020-07-27 18:23] vadimkantorov commented on #41527
about way forward discussion I had an earlier existing issue: https://github.com/pytorch/pytorch/issues/35666

[2020-07-27 18:33] SsnL commented on #41857
agreed!

[2020-07-27 18:36] albanD commented on #41849
Given that we don't define these functions one by one but by making the Tensor a Sequence object. You might get weird behavior when you try to change one as a plain function. Not sure.

[2020-07-27 18:41] mruberry commented on #42053
Usage stats would be very helpful if we're going to be selective about which aliases we implement.

The only alias we have today is "absolute" for "abs," which was implemented as a prototype so we could discuss how we wanted to implement aliases in the future. It's not hard to write them but I think we might want to simplify the process even further.

[2020-07-27 18:44] mruberry commented on #42074
Thank you for reporting this issue, @antoche. That is odd.

[2020-07-27 19:01] stas00 commented on #41782
Thanks a lot for bumping the priority, @albanD!

[2020-07-27 19:36] fra-luc opened #42125 "Segmentation Fault when killing uwsgi workers using PyTorch"
## 🐛 Bug

I am deploying a PyTorch model to production using `uwsgi` + `Flask`. I am using `uwsgi` config option `lazy-apps = true`: this loads the Flask application one time per worker, instead of forking from a master worker (read [here](https://uwsgi-docs.readthedocs.io/en/latest/articles/TheArtOfGracefulReloading.html#preforking-vs-lazy-apps-vs-lazy) for further details). It's needed to avoid

[2020-07-27 19:38] quickwritereader commented on #27678
Guys, I would like to know your opinions about my Pr so that I could fix it or make it suitable. I need this bounty
thanks

[2020-07-27 19:47] albanD commented on #40255
This would be mid term right? Only until we can clean up the vanilla engine threading to work with the global thread pool.
cc @gqchen Do we have an ETA on that? to have a better idea how long this new fix would be needed for?

From a solution point of view. What is the actual use case where the current implementation is problematic?
While the current solution is a hack. I would argue that these so

[2020-07-27 19:50] rohan-varma commented on #41613
Closing since this is more appropriate for the forums where it is being discussed.

[2020-07-27 19:50] #41613 closed

[2020-07-27 19:51] ngimel commented on #42110
It's a known bug in pytorch, fixed in 1.5.1, 1.6 and master. Closing, reopen if you still see it.

[2020-07-27 19:51] #42110 closed

[2020-07-27 19:54] ngimel commented on #42125
Setting high-priority because of a crash.

[2020-07-27 19:55] ngimel commented on #42116
Please provide a self-contained script that would demonstrate the problem.

[2020-07-27 19:57] pritamdamania87 commented on #40255
Yes, you are correct. Eventually the proposed rewrite of the autograd engine would be the long term solution here.

But if we don't have examples in the wild where this happens, I'm not sure why we would want to go through the trouble of doing it (because we expect to change this again in a couple months when we do the larger threading update).

This would be problematic in the scenario where ther

[2020-07-27 20:00] ngimel commented on #42109
Throughput of operations on int64 values is much lower on the GPU than the throughput for int32/float32 type, this is expected.

[2020-07-27 20:02] mrshenli commented on #42092
@oke-aditya you are right, `torch.distributed` does not support Windows yet. I am closing this issue and let's move discussions to #42095. Thanks.

[2020-07-27 20:02] #42092 closed

[2020-07-27 20:03] pritamdamania87 commented on #40255
@jia-kai Could chime in on the proposed rewrite of the autograd engine which involves the new threading model? We were wondering if you had the bandwidth to look into it?

[2020-07-27 20:03] albanD commented on #40255
That sounds good.
In that case, solution 1 definitely has a large benefit compared to the current version and should be fairly simple yes.
But the extra work to get solution 2 to work for unknown benefit compared to 1 might not be worth it.

[2020-07-27 20:18] gchanan commented on #41532
Fixed by #41672.

[2020-07-27 20:18] #41532 closed

[2020-07-27 20:27] kodonnell opened #42130 "[feature request] support for division in quantization"
As far as I can see, division isn't supported in quantization (tensor / tensor or tensor / scalar or scalar / tensor) because it's not in [nn.quantized.FloatFunctional](https://github.com/pytorch/pytorch/blob/96aaa311c0251d24decb9dc5da4957b7c590af6f/torch/nn/quantized/modules/functional_modules.py). With a division (overloaded python, or `torch.div`, `FloatFunctional().mul(a, torch.pow(b, -1))`) q

[2020-07-27 20:28] gchanan commented on #15359
I don't think we should worry about cross version/hardware determinism -- good luck with that.

it does seem tricky.  E.g. what if I'm running some op and the PyTorch implementation is deterministic, but some extension has overridden something (via a dispatch key, torch function, or else) and now I don't know.  If that's actually the source of my non-determinism, that seems like a bummer not to be

[2020-07-27 20:48] #41886 closed

[2020-07-27 20:49] mruberry commented on #41786
And I misdirected you again! Sorry @aayn, we've been very unlucky with these picks, and everytime I scrutinize our current opset a new one pops up!

I'll try not to include existing functions, of course, but maybe one of those other functions is interesting?

[2020-07-27 21:00] #41951 closed

[2020-07-27 21:14] #41722 closed

[2020-07-27 21:16] ashu170292 commented on #42116
Thanks @ngimel for your message. Following is the script:

[code]
[code]

The input files('inp1.pt' and 'inp2.pt') and models are present at the following location:
https://github.com/ashu170292/learning-pytorch/tree/master/files

[code]
[code]
Inference results on first input :
[code]
Inference results on second input:
[code]
The first 18 embeddings should be equal as the first 18 frames of the i

[2020-07-27 21:28] froody opened #42132 "GIL deadlock in exit handler"
## 🐛 Bug

torch::autograd::PyNode::release_variables() tries to acquire the python GIL during Py_Exit but it is already held by the same thread

## To Reproduce

Steps to reproduce the behavior:

1. Checkout https://github.com/facebookresearch/fairscale/tree/deadlock-testcase
2. Run pytest -k test_pipe_layer -s

backtraces at time of deadlock: https://gist.github.com/froody/ecc8bc849b8a95f89218fd5

[2020-07-27 21:31] froody commented on #39855
Maybe related to https://github.com/pytorch/pytorch/issues/42132

[2020-07-27 21:31] froody commented on #42132
Maybe related to https://github.com/pytorch/pytorch/issues/39855

[2020-07-27 21:58] danielpcox commented on #41486
It seems the memory is never returned to the OS at all.

If I actually try to _train_ an LSTM model on the CPU on Linux, it grows indefinitely (but not on MacOS). That's the particular problem which put me onto this: I've got several models training at once on the CPU in my actual use case, and although it's fine for them to take up a bunch of memory _during_ training, if they never let it go then

[2020-07-27 21:58] itshakh commented on #41852
I also encountered same behavior on GTX 980 TI.

1st run: (FAST)
- pytorch 1.5.0
- CUDA 10.0
- CUDNN 7.6.3

2nd run:(x10 SLOWER)
- pytorch 1.5.0
- CUDA 10.2
- CUDNN 7.6.5

I must say that I also tried
3rd run: (x10 SLOWER)
- pytorch 1.5.0
- CUDA 10.0
- CUDNN 7.6.5

[2020-07-27 22:00] itshakh commented on #41852
Forgot to mention that model was scripted with pytorch 1.5.0 installed with pre built binaries you provide.

[2020-07-27 22:13] ngimel commented on #42116
Since you are using `norm(x)` in your module, the values for all batch elements contribute to it, so the value of norm(x) is different for inp1 and inp2, and results are expected to be different.
Please use discuss.pytorch.org for questions.

[2020-07-27 22:13] #42116 closed

[2020-07-27 22:15] ngimel commented on #42102
Thank you for request. We will accept a PR implementing it.

[2020-07-27 22:17] ngimel commented on #42094
cc @ilia-cher

[2020-07-27 22:38] SplitInfinity commented on #41743
Duplicate of #41757. Not sure why but sorry for the inconvenience everyone.

[2020-07-27 22:38] #41743 closed

[2020-07-27 22:40] mrshenli commented on #42107
This is most likely due to those processes hang at `all_reduce`, which would show CUDA utilization at 100% even though no real computation is running.

[torchelastic](https://pytorch.org/elastic) is design to provide failure recovery for DDP. Can you check if this is sufficient for your use case?

[2020-07-27 22:44] netw0rkf10w commented on #42107
@mrshenli Unfortunately I don't want fault tolerance, I just want the faulty training to stop completely :(

This is a bug, isn't it?

[2020-07-27 22:49] SplitInfinity commented on #41760
Duplicate of #41750.

[2020-07-27 22:49] #41760 closed

[2020-07-27 22:50] SplitInfinity commented on #41750
Fixed by #41733.

[2020-07-27 22:54] mrshenli commented on #42107
Which backend are you using? If it is NCCL, can you try setting `NCCL_BLOCKING_WAIT` env var for all processes to 1, before calling `init_process_group` or creating the `ProcessGroupNCCL` instance? The test below can serve as an example. You can also control the timeout value in `init_process_group`.

https://github.com/pytorch/pytorch/blob/6ca5421a8fb92ab9fb264e3345b89896d8835438/test/distributed

[2020-07-27 22:58] #41700 closed

[2020-07-27 23:04] #41749 closed

[2020-07-27 23:07] pritamdamania87 commented on #40093
Closing this out since I can't repro it and it might've been fixed by: #40060

[2020-07-27 23:07] #40093 closed

[2020-07-27 23:17] netw0rkf10w commented on #42107
@mrshenli Great. As long as one can set a timeout that's fine. I'll try that. Thanks a lot!

[2020-07-27 23:18] bgedik opened #42142 "share_memory() support for at::Tensor"
## 🚀 Feature
In the PyTorch Python API, it is possible to move a tensor to shared memory via calling the `Tensor.share_memory_()` function. I could not find similar functionality on the  C++ side using `at::Tensor`.

## Motivation
I have code that reads tensors from network on the C++ side (using multiple threads). These tensors are then pulled into Python land and go through Python multi-processi

[2020-07-27 23:24] pritamdamania87 commented on #38710
Closing out since https://github.com/pytorch/pytorch/pull/38711 has landed.

[2020-07-27 23:24] #38710 closed

[2020-07-27 23:43] pritamdamania87 commented on #39445
Closing this out since I haven't been able to repro this in 500 runs, we can re-evaluate if we see this error again in the future.

[2020-07-27 23:43] #39445 closed

[2020-07-27 23:46] vkuzo commented on #42130
hi @kodonnell , we don't have a kernel yet for quantized division (it can be considered for future additions).  A workaround you could use in the meanwhile is surround division with `DeQuantStub` and `QuantStub` to let the computation happen in floating point.

[2020-07-28 00:11] gmagogsfm opened #42145 "Support Python type() in TorchScript"
## 🚀 Feature
Allow using of type() to get type string of a Python object in TorchScript

## Motivation

type() is commonly used when creating meaningful error messages, especially so after we [support raising exception with custom error messages](https://github.com/pytorch/pytorch/pull/41907).

## Pitch

type() should be supported and return a string in TorchScript.

## Example

[code]

Currently

[2020-07-28 00:24] pritamdamania87 commented on #36332
Closing this out since the test seems stable since #37978.

[2020-07-28 00:24] #36332 closed

[2020-07-28 01:45] Mon-ius commented on #42117
Then, I found it failed on test.

`python run_test.py`
[code]

[code]

[code]

[2020-07-28 02:17] colesbury commented on #41486
I'm still confused because the problem you describe involves memory usage that keeps increasing, but the example above doesn't show that behavior: the memory increases as more tensors are allocated and then stops. If you put a loop around the program, the memory gets reused.

The memory doesn't get returned to operating system, but that's fairly typical of contemporary memory allocators. Allocatin

[2020-07-28 02:35] mjq93 opened #42150 "Whether PixelShuffle could add support for 3D data？"
I found out that PixelShuffle module only supports 4D data input, whether PixelShuffle could add support for 5D input data？
Thanks,

cc @albanD @mruberry

[2020-07-28 03:52] gunandrose4u commented on #42095
@mrshenli , I will remove the env vars in example

[2020-07-28 04:20] jamestwebber opened #42153 "[bug] Binomial distribution has small chance of returning -1"
## 🐛 Bug

As it says in the title, I found that the binomial sampler can occasionally return `-1` (about 1 in a 100M trials). This is probably mostly a small issue, but it's a big issue if you're computing log probabilities from the output.

I created PR #38456 for this, which was then merged. Unfortunately the bug still appears which means that my fix was not relevant (I was not able to build pyt

[2020-07-28 04:53] xiwei777 commented on #42117
dont start python on you compiled file

[2020-07-28 05:05] ThisIsIsaac commented on #19165
Sorry it took so long to get back.

I've profiled a handful most used computations and there was no significant difference in the profiled time (`__restrict__` version was slightly faster but it was not big enough).

Since Pytorch seems to do the same with `__restrict__` it's likely that we can safely leave it as is.

[2020-07-28 06:06] Mon-ius commented on #42117
Same thing, when I run pytorch test from other location.

[2020-07-28 06:12] ngimel commented on #42153
High priority for silent wrong result

[2020-07-28 06:15] xuezu29 commented on #41177
I still haven't found a solution.  I want to use the latest version.  Could you help me？thanks a lot! @glaringlee

[2020-07-28 07:13] SungmanHong opened #42154 "Really want to windows"
I really want pytorch in windows as soon as possible... thank you..

[2020-07-28 07:25] Mon-ius commented on #42117
Tried to run test again. On `pytorch/run_test.py`

[code]

[2020-07-28 07:47] PaulLerner commented on #42015
Hello,

My use case is fine-tuning BERT, either by:
- keeping BERT frozen and adding a `TransformerEncoder` after it (`self.encoder=TransformerEncoder(...)`)
- keeping BERT trainable but add nothing after it (`self.encoder=Identity(...)`)

You have a good point, in my use case/example I only return the input but then it's not really an identity anymore.

[2020-07-28 07:48] cloudhan commented on #41917
should be good for now, still prefer the decentralized version.

to list all op in a namespace, a `grep -r` into src folder or `dir` in python should be sufficient.

[2020-07-28 07:48] #41917 closed

[2020-07-28 07:50] Markus-Goetz opened #42155 "BusError memory-mapped tensor"
## 🐛 Bug

I am trying to create a memory-mapped tensor, backed by a file on disk. Creating a `Storage` instance and a `Tensor` on top work without problem as applying a simple operation. The actual write to disk is not performed and the program fails with a `BusError`.

## To Reproduce

Steps to reproduce the behavior:

[code]

Fails with:

[code]

The file exists though:

[code]

However, the con

[2020-07-28 08:17] kuenishi commented on #40095
I'm very glad to find this issue. Is there any plan or ongoing work to support send/recv in NCCL backend of torch.distributed ?

[2020-07-28 08:54] rotabulo commented on #42109
@ngimel does the same apply alto to `float64` because also `float64` is equally fast, but only `int64` is slow

[2020-07-28 08:55] ptrblck commented on #42080
I don't know, but I can reproduce it locally.
I'll try to dig into it and ask our CUDA team what might be the reason.

[2020-07-28 09:34] HawkRong commented on #42077
Will using the same name for temporary variables (cuda tensors or references to cuda tensors) or `del` useless temporary variables help here? Or are there other tricks to make `forward` computation memory-efficient?

[2020-07-28 10:01] rotabulo commented on #42109
The scenario gets considerably worse with `Tesla V100-SXM2-32GB`:

The code above yields the following output:
[code]

[2020-07-28 10:01] kodonnell commented on #42130
Thanks @vkuzo - that's a clever work-around, and worked fine. I also just realised that in my case I can just replace division with multiplication and, on retraining, the weights should learn to be the inverse of themselves. (Or, if you have to do it on e.g. a pretrained model with division, you could just use a multiplication but edit the weights manually to be their inverse, achieving the same t

[2020-07-28 10:54] hemantranvir commented on #42080
@ptrblck Thank you for the response!
Look forward to it.

[2020-07-28 11:34] Mon-ius opened #42156 "Build success, test failed on IBM POWER9"
I followed https://github.com/pytorch/pytorch#from-source and tried to compile the lastest version of pytorch from source.

The compile and install was success. But It cannot pass the test on your repo: `pytorch/test/run_test.py`.

- Target system:

[code]

- Build log:

[compile.log](https://github.com/Mon-ius/bluebear_hpc/blob/master/compile.log)

- Test log:
[code]

[2020-07-28 11:41] Mon-ius commented on #42117
Create new lated issuse: [#42156](https://github.com/pytorch/pytorch/issues/42156)

[2020-07-28 11:41] #42117 closed

[2020-07-28 11:43] Godricly commented on #12773
@Spenhouet If you are compiling C++ extension, you can setup them with CUDA compiler flags.

[2020-07-28 11:46] Spenhouet commented on #12773
@Godricly I provided the dockerfile above. Could you please provide a dockerfile including these compiler flags that you are mentioning?

[2020-07-28 12:24] vadimkantorov opened #42159 "[docs] Add example of interop with DLPack +plain C"
Including creating the appropriate PyCapsule (pycapsule stuff seems to not be part of standard? or not mentioned explicitly?) and if its destructor is needed.

I recently did this work to interop with ffmpeg and made two examples:

1. https://github.com/vadimkantorov/pydlpack (relevant PyCapsule code here: https://github.com/vadimkantorov/pydlpack/blob/master/dlpack.py#L102 )
2. https://github.com

[2020-07-28 12:25] Coderx7 opened #42160 "isTensor() INTERNAL ASSERT FAILED at "C:\\w\\b\\windows\\pytorch\\aten\\src\\ATen/core/ivalue_inl.h":117"
## 🐛 Bug
I was trying to run a retinaface model in libtorch which this error popped up :
[code]
I also got another exception in another run :
[code]
## To Reproduce

Steps to reproduce the behavior:
this is the saved model : [cached_weights_retinaface.zip](https://github.com/pytorch/pytorch/files/4993649/cached_weights_retinaface.zip)

run this :
[code]

## Expected behavior

Shouldnt be raising e

[2020-07-28 12:38] lferraz opened #42161 "Weird result multiplying a cpu tensor by a cuda:1 tensor"
## 🐛 Bug

Weird behaviour multiplying two tensors (one in `cpu` and the other one in `cuda`).
If the `cuda` tensor is in `cuda:0` both of them can be multiplied.
If the `cuda` tensor is in `cuda:1` both of them can be multiplied but the result is wrong.

## To Reproduce

Example of an operation between a tensor `a` in `cuda` and another tensor `b` in `cpu`.

This code provides a correct result:
[c

[2020-07-28 13:06] pbelevich commented on #42154
it's already available on windows

[2020-07-28 13:06] #42154 closed

[2020-07-28 13:21] j-min commented on #22812
Any updates? This is still reproducible in torch 1.5.1

[2020-07-28 13:34] ChieloNewctle commented on #41849
@albanD I debugged `THPVariable_getitem` parallelly under both normal and abnormal circumstances.

When calling `treatSequenceAsTuple` ([here](https://github.com/pytorch/pytorch/blob/72b0447f8d22413a388e794e122e3056bffbb735/torch/csrc/autograd/python_variable_indexing.cpp#L204)), I find `PySequence_Check` returns `1` instead of `0` after changing `__getitem__` of `Tensor`.

But even if I revert th

[2020-07-28 13:34] #41849 closed

[2020-07-28 13:36] zou3519 commented on #42161
Thanks for the bug report. I can repro the problem on 1.5.1. It appears to be fixed on master but I am not sure which PR fixed it.
[code]

[2020-07-28 13:43] pmeier opened #42163 "torch.save produces inconsistent results between multiple runs"
## 🐛 Bug

`torch.save` produces inconsistent results between multiple runs.

## To Reproduce

Run the following snippet multiple times

[code]

Aggregated output:

[code]

## Expected behavior

Consistent hash between runs.

## Environment

[code]

## Additional context

If you replace `obj = torch.ones(1)` with `obj = np.ones(1)` (don't forget to `import numpy as np`) the output is consistently `

[2020-07-28 13:48] albanD commented on #42163
Adding triage review to discuss the priority on this.

[2020-07-28 14:22] mrshenli commented on #42107
@netw0rkf10w I am closing this issue for now. If `NCCL_BLOCKING_WAIT` does not work for you, please feel free to reopen this issue. Thanks.

[2020-07-28 14:22] #42107 closed

[2020-07-28 14:24] ggoossen opened #42170 "Tracing a[b] records converting b to fixed device type of a"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

Output:
cpu
cpu

## Expected behavior

Expected output:
cpu
cuda

## Environment

 - PyTorch Version (e.g., 1.0): trunk
 - OS (e.g., Linux):
 - How you installed PyTorch (`conda`, `pip`, source): fbsource
 - Build command you used (if compiling from source):
 - Python version:
 - CUDA/cuDNN version:
 - GPU models and configuratio

[2020-07-28 14:29] ggoossen commented on #42170
Comment from @ailzhang :

Looks like this behavior is intended for tracing - introduced to fix https://github.com/pytorch/pytorch/issues/13969.
For tracing it's possible that different devices go through different code paths, so to make traced model works with inputs on different devices, an implicit device conversion was added.

[2020-07-28 14:31] ezyang commented on #41465
Try increasing your fd limit with ulimit?

[2020-07-28 14:37] ezyang commented on #42125
Do you know how flask is killing workers? Is it sending a SIGKILL or something?

[2020-07-28 14:42] ezyang commented on #15359
Sure, but the user could also just not involve us in their nondeterministic shenanigans, and then of course you wouldn't expect to be warned then ;)

[2020-07-28 14:49] anjali411 commented on #33152
@sunilkpai thanks for reaching out! yeah it should be added to the list above.

that would be great! also make sure to link the issue in this umbrella issue

[2020-07-28 14:50] glaringlee commented on #41177
@xuezu29
Sry to reply late. Missed your previous message.
There are many changes from 1.0 to 1.3-1.5, jit, autograd, etc.
Can you put some code to test some specific parts of your code? including:
jit::load(), from_blob(), and readImage()
Compare with the old code, so I can include the right people to investigate.

[2020-07-28 14:50] ezyang commented on #41917
It's even worse than what you imply: if totally decentralized op registration is allowed, you could get operators from a completely different dynamic library that was linked in. So the grep wouldn't necessarily be sufficient ;)

[2020-07-28 14:58] #41716 closed

[2020-07-28 15:03] #41757 closed

[2020-07-28 15:11] hzhwcmhf commented on #18626
Support!  Extremely useful if I want to run several networks on a single GPU.

[2020-07-28 15:11] fra-luc commented on #42125
I am not sure, here is the output when the whole uwsgi server is stopped with Ctrl + C
[code]
And this is the strace output of the killed worker
[code]

Instead, when uwsgi cheaps a worker (this also leads to segfault), it is:
[code]

or

[code]
Hope this answers the question!
Thanks

[2020-07-28 15:17] #41393 closed

[2020-07-28 15:20] fra-luc commented on #42125
Maybe the full strace output of a worker being killed could be of use:

[code]

[2020-07-28 15:27] #31796 closed

[2020-07-28 15:29] danielpcox commented on #41486
Yes, I think I do own you an example of the indefinite increase. I have one, but I haven't posted it yet because it involves proprietary code. I'll make you a minimal, non-proprietary example today.

I don't believe this is a merely _conservative_ memory allocator though. The only way to get it to release memory allocated for LSTMs is to kill the process, which is untenable in a life long learning

[2020-07-28 15:32] astaff commented on #24422
updated PoCs for windows-related issues (`module: windows`)

[2020-07-28 15:48] danielpcox commented on #41486
Perhaps I misunderstood though. I'm not at all familiar with C and C++. I just tried running your `malloc_trim` snippet after both my memory allocation test, and your numpy example, and it worked to release memory in your numpy example but _not_ in my LSTM allocation test. Does that mean PyTorch is not using the "default glibc allocator"?

[2020-07-28 15:50] hoangcuong2011 opened #42173 "Exclusive flag in torch.cumsum"
## 🚀 Feature
A nice feature in tf.math.cumsum is having an ``exclusive" flag. For instance:
` tf.cumsum([a, b, c], exclusive=True)  => [0, a, a + b].
`
Somehow pytorch does not have this feature if I am correct. It would be nice to have it as I think it is useful (e.g. to learn the index of position with padding on the left).

[2020-07-28 16:01] guyang3532 commented on #18319
Most items on this issue have been fixed and I will close it and open some items with low priority in new issue.
Some related pr:
#37135
#38297
#38971
#39941
https://github.com/pytorch/builder/pull/442
https://github.com/pytorch/builder/pull/456

[2020-07-28 16:01] #18319 closed

[2020-07-28 16:05] ngimel commented on #41857
I also agree that we should use definition appropriate for optimization. Also, in terms of implementation, like @ezyang suggests, tensors should have "conj" flag, so the formulas can remain the same, and we could just set the flag for the `.grad`. There should be some API to materialize a tensor with the `conj` flag, similar to how now we have `.t().contiguous()`.

[2020-07-28 16:07] mruberry opened #42175 "torch.fft tracking issue"
Tracking issue for tasks related to the torch.fft namespace, analogous to NumPy's [numpy.fft namespace](https://numpy.org/doc/stable/reference/routines.fft.html?highlight=fft#module-numpy.fft) and SciPy's [scipy.fft namespace](https://docs.scipy.org/doc/scipy/reference/fft.html#module-scipy.fft).

PyTorch already has fft functions ([fft](https://pytorch.org/docs/master/generated/torch.fft.html?hig

[2020-07-28 16:17] ngimel commented on #42161
It was fixed in https://github.com/pytorch/pytorch/pull/39956. Closing, please reopen if needed.

[2020-07-28 16:17] #42161 closed

[2020-07-28 16:22] ngimel commented on #42109
You are also measuring time to generate random inputs, so your results are skewed, but volta does seem too slow. cc @ptrblck.

[2020-07-28 16:31] ngimel commented on #42153
I doubt log(u) being rounded to 0 is the culprit. log of 1-2**(-24), (the largest representable fp32 number less than 1) is  -5.9605e-8, so unless uniform returns 1. (which it should not) the log term should be non-zero. So my suspicion is, standard_uniform is not 1-exclusive.

[2020-07-28 16:38] vkuzo commented on #38081
this is completed

[2020-07-28 16:38] #38081 closed

[2020-07-28 16:46] z-a-f commented on #40316
Can you elaborate what you mean by preference? I think those two functions are different -- one is for NCHW, and the other for NHWC

[2020-07-28 16:50] #41009 closed

[2020-07-28 17:25] #41729 closed

[2020-07-28 17:33] jamestwebber commented on #42153
That makes sense...I was trying to reproduce in a notebook but I imagine that's not using the same primitives for RNG.

A fix for the binomial algorithm would be to always add at least 1 (the zero case should be adding a 1). But if standard_uniform has a bug it's probably better to fix that.

[2020-07-28 17:33] msbaines opened #42177 "record_function no longer appears in the docs"
## 📚 Documentation

Latest: https://pytorch.org/docs/stable/autograd.html (no record_function)
V1.4: https://pytorch.org/docs/1.4.0/autograd.html (record_function documented)

[2020-07-28 17:40] colesbury commented on #41486
PyTorch uses the system allocator, which is almost always the glibc allocator on Linux (also called the [GNU allocator](https://www.gnu.org/software/libc/manual/html_node/The-GNU-Allocator.html)). When I add the `malloc_trim` call to your `allocation_test.py` code (before the `while True` loop from the original post), the RSS shrinks from ~900 MB to ~100 MB. (Tested with Python 3.8.3 and PyTorch 1

[2020-07-28 17:45] #41980 closed

[2020-07-28 17:59] #41987 closed

[2020-07-28 18:06] suo commented on #42017
thanks for the report! The error message indicates is the value returned from forward is not actually a tensor. You can check this way:
[code]
Perhaps your model is returning a tuple?

[2020-07-28 18:08] suo commented on #42078
Hi, I believe this is happening due to a version skew, where torchvision is expecting a newer version of PyTorch. We have a release to PyTorch coming very very soon that will probably fix this issue if you upgrade to it, or you can downgrade to an older version of TorchScript while you're waiting for it.

Going to close out this issue, but feel free to re-open if you have additional questions!

[2020-07-28 18:08] #42078 closed

[2020-07-28 18:09] #41767 closed

[2020-07-28 18:10] suo commented on #42145
Recording what I said in the triage meeting: I think it's not great to have `type()` return a string, since in Python it returns a type object, leading to inconsistency between script and eager.

One option is to return a fake type object that can't do anything except be converted to string. This would at least provide better error messages, although it does not solve the inconsistency problem.

A

[2020-07-28 18:14] gmagogsfm commented on #42145
Makes sense, move to pending then?

[2020-07-28 18:25] rohan-varma commented on #41378
@chengjinfang1216, Yep, thanks for fixing it!

[2020-07-28 18:26] eellison commented on #42145
Yea, the solution i was envisioning was making it a first-class runtime object, and supporting `aten::str`. There are other operators such as prim::isinstance, which if types were representable first class would have been easier to support registered as `prim::isinstance(Type type, []Type type_list)`. I think the work to do this will be less than updating the 800 internal failure that are mostly b

[2020-07-28 19:03] suo commented on #17291
@gmagogsfm is there a linked PR for this?

[2020-07-28 19:09] gmagogsfm commented on #17291
yes, added

[2020-07-28 19:10] #41726 closed

[2020-07-28 19:11] zhaojuanmao opened #42183 "Skip all reduce globally unused parameters in DDP"
We can provide an option to users to skip all reduce globally unused parameters in DDP. For this option, we assume locally unused parameters are the same across the ranks. It can save communication time when these unused parameters size is large

[2020-07-28 19:19] ngimel commented on #42153
I could not repro on the cpu, on cuda using curand_uniform is the root cause : https://github.com/pytorch/pytorch/blame/5ed7cd0025661c39ae03ce4982958d91fa16baf3/aten/src/ATen/native/cuda/Distributions.cu#L72
curand_uniform is zero-exclusive one-inclusive.

[2020-07-28 19:25] jamestwebber commented on #42153
Ah you are right, I thought I had repro'd on CPU but must have been looking at a related test with different behavior.

[2020-07-28 19:29] gchanan commented on #42177
@ilia-cher is this expected?

[2020-07-28 19:32] #41741 closed

[2020-07-28 19:42] 1e100 commented on #35316
This is great. Any plans for a *.whl build as well?

[2020-07-28 20:07] albanD commented on #10223
Here are a couple update notes on this and how we plan to approach it.
To make sure to understand properly the details before designing the user facing API. We'll first do a private API version that will be used by the autograd.functional API.
A second step will then be to design a full API around the implementation to make it available directly to the users.

<details>
<summary> Design notes for

[2020-07-28 20:18] zou3519 commented on #41656
cc @ngimel for CUDA -- peterbell10 brought up in https://github.com/pytorch/pytorch/pull/41923 that we're not sure if we should support 64-bit indexing for `grid_sample` on CUDA. The downsides to supporting it is extra code/binary size/we are not sure if people use 64-bit indexing (this is the first time an issue about this has appeared I think). What are your thoughts?

[2020-07-28 20:23] sum-coderepo commented on #29516
Did you resolve the issue?

[2020-07-28 20:23] #41703 closed

[2020-07-28 20:25] tshead2 opened #42188 "Eliminate warning when cloning a tensor using `torch.tensor(x)`"
## 🚀 Feature

The following code:

[code]

generates a warning at the console:

```UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).```

This warning should be eliminated.

## Motivation

I often write code that is designed to accept any type that's conv

[2020-07-28 20:32] pritamdamania87 commented on #41353
I'm assuming the eventual goal here is to TorchScript all of the `torch.distributed` APIs. Although, there are a large number of APIs: https://pytorch.org/docs/stable/distributed.html and was wondering if we've thought about which ones to address first? I feel a good starting point is seeing what we need to torchscript [SyncBatchNorm](https://pytorch.org/docs/master/generated/torch.nn.SyncBatchNor

[2020-07-28 20:33] seemethere commented on #40472
`v1.6.0` has gone GA! Closing this issue, until the next release everyone!

[2020-07-28 20:33] #40472 closed

[2020-07-28 20:43] gmagogsfm commented on #41353
For future reference:

[APIs](https://pytorch.org/docs/stable/distributed.html)
[Entry point for these APIs](https://github.com/pytorch/pytorch/blob/master/torch/distributed/distributed_c10d.py)
[Main test suite](https://github.com/pytorch/pytorch/blob/master/test/distributed/test_c10d.py)

[2020-07-28 20:43] SplitInfinity commented on #41748
Closed by #42067.

[2020-07-28 20:43] #41748 closed

[2020-07-28 21:01] danielpcox commented on #41486
Odd that I can't recover the memory in my allocation test with `malloc_trim`. Perhaps I _am_ using a different allocator that doesn't respect it. How can I tell what allocator I'm using?

Anyway, here's some self-contained code that leaks quite quickly: https://gist.github.com/danielpcox/b5b533c5134d26e1299e88690e432627
I committed many sins writing this, and I'm sure it wouldn't train _well_, but

[2020-07-28 21:12] danielpcox commented on #41486
This is amazing. I just tried a few different threading configurations, and doing the training in a separate thread, even a single thread that's joined by the main thread immediately, leaks. That is, memory increases indefinitely, and quite quickly. But if I just call the training function from the main thread, memory usage stays below ~360MB.

This does not leak:
[code]

This _does_ leak:
[code]

[2020-07-28 21:30] ilia-cher commented on #42177
it's not expected

[2020-07-28 21:47] emilearthur commented on #42078
Tried solution at https://github.com/pytorch/pytorch/issues/42078#issuecomment-663971028 but did not work. Got the error below.

ERROR: Could not find a version that satisfies the requirement torchvision==0.4.0 (from versions: 0.1.6, 0.1.7, 0.1.8, 0.1.9, 0.2.0, 0.2.1, 0.2.2, 0.2.2.post2, 0.2.2.post3, 0.5.0, 0.5.0+cpu, 0.5.0+cu100, 0.5.0+cu92, 0.6.0, 0.6.0+cpu, 0.6.0+cu101, 0.6.0+cu92, 0.6.1, 0.6.1

[2020-07-28 21:50] gchanan commented on #42188
fwiw the documentation already covers the question I think:

[2020-07-28 21:55] gchanan commented on #42188
This part of the docs is pretty unclear:

Should say something like:
"If you want to avoid a copy, but set requires_grad, call..."
"If you want to wipe the autograd history..."

[2020-07-28 21:56] gmagogsfm commented on #41353
Specifically, for SyncBatchNorm we could use following canonical example to verify scriptability:
[example](https://github.com/pytorch/vision/blob/master/references/classification/train_quantization.py#L62)

[2020-07-28 21:59] gchanan commented on #42188
I think the motivation for this was the unclear semantics around what happens with autograd.  I think we can at least not warn if:
- the tensor data does not have requires_grad set OR
- `requires_grad=False` is passed to `torch.tensor`

That would seem to give you a usable workaround for your case, as either the first condition is already true or you can pass the second condition manually.

[2020-07-28 21:59] vkuzo commented on #41640
the error message might mean that quantization is not enabled in your PyTorch build.  It should work on Windows though.  To double check, are you able to run toy quantization examples (i.e. create a quantized tensor and run it through a quantized conv, etc), or is the issue specific to your model?

[2020-07-28 22:09] lucabergamini commented on #41465
That's not a solution though @ezyang, isn't it? It will maybe put off the error by some iterations, but I can't see why:
- this example can deplete all available fds;
- that happens only if you append data in the list;
- that doesn't happen if you add an additional copy on line -1;

My gut feeling is more about a fd leak honestly....

[2020-07-28 22:28] thinking-tower commented on #40316
@z-a-f I was asking in terms of refactoring the `qavg_pool(2,3)d_nhwc_kernel` functions into special cases of the 'general' `_qavg_poold_nhwc_kernel`. Because `qavg_pool2d_nhwc_kernel` (and the adaptive ones [here](https://github.com/pytorch/pytorch/blob/fa153184c8f70259337777a1fd1d803c7325f758/aten/src/ATen/native/quantized/cpu/kernels/QuantizedOpKernels.cpp#L1314)) uses `do_avg_pool_on_AVX2` and

[2020-07-28 23:27] Dhaval08 commented on #36056
Hello @f4hy
Could you please share the code snippet you used to directly write tensorboard logs to s3?
Thank you.

[2020-07-28 23:53] mrshenli commented on #42000
Hey @vfdev-5, v1.6 is released, and here is the link to the overview page: https://pytorch.org/tutorials/beginner/dist_overview.html

Please let us know if you hit any broken link from there, then we will need a fix for sure. :)

[2020-07-29 00:24] xuezu29 commented on #41177
thanks a lot! All code ,weight files and image data can find here:
https://github.com/xuezu29/Libtorchtest

[2020-07-29 00:26] Mon-ius commented on #42075
I tried the latest version. It does support the complex type. But I didn't see there is some function like `np.fft.fftshift `or `np.fft.ifftshift` if it has already been supported or I have to write one to do that. I don't want to switch to numpy and pytorch a lot during training.

[2020-07-29 00:43] ailzhang opened #42207 "torchscript does not support unicode strings"
[code]
produces
[code]

cc @suo @gmagogsfm

[2020-07-29 01:21] colesbury commented on #41486
This looks like a leak due to OpenMP mixing with threads. You can disable OpenMP by calling `torch.set_num_threads(1)` or by setting the environment variable `OMP_NUM_THREADS=1`.

I don't fully understand the underlying issue. There are some [similar reports](https://stackoverflow.com/questions/59588993/memory-leak-in-very-simple-code-calling-openmp-in-a-thread), but they involve constantly creati

[2020-07-29 01:28] SamChen opened #42212 "Different gradients with/without using torch.nn.utils.checkpoint in the model"
## Different gradients with/without using torch.nn.utils.checkpoint in the model
I wrote a small test to check if I use torch.nn.utils.checkpoint in the right way.  But, strangely, when I call checkpoint to run the first Conv2d layer, I realized that the gradient update is different from the similar model which does not call checkpoint at all. I am not sure where goes wrong.  Thanks

Following is

[2020-07-29 01:40] apeguero1 opened #42213 "pytorch istft runs slower than torchaudio istft especially at higher n_fft"
## 🐛 Bug

There seems to be a significant performance drop after migrating the istft from torchaudio to pytorch.
migration discussed here [#34827](https://github.com/pytorch/pytorch/pull/34827)
I've also noticed the performance gap increases with greater n_fft.

## To Reproduce

pip install torch==1.6.0

[code]

pip install torchaudio==0.5.1

[code]

## Expected behavior
I would expect similar tim

[2020-07-29 02:13] Coderx7 commented on #41640
@vkuzo thanks for the response really appreciate it. The quantization is fine on my system and working, if you for example disable PRELU in the given example, the models just do fine.

[2020-07-29 02:16] glaringlee commented on #41177
@xuezu29
Can you test the specific parts that I listed above? jit::load(), from_blob() and readimage()?
I don't have a windows machine on hand, I can try find a windows machine and setup the env and run your code to reproduce the result, but it will be much slower. If you can test these parts and let me know which part is slow, I can find the right person to look into this. Let me know whether you

[2020-07-29 02:23] #42212 closed

[2020-07-29 02:27] colesbury commented on #41486
Thanks for the reproduction script @danielpcox

A few additional observations for any other people investigating this:

1) The OpenMP library seems to be constantly creating and destroying threads, which partly explains the memory leak; i.e. it's related to the issue reported in the stack overflow [post](https://stackoverflow.com/questions/59588993/memory-leak-in-very-simple-code-calling-openmp-in

[2020-07-29 02:28] pinzhenx commented on #42115
As "mkldnn" has been rebranded to "dnnl", the compat_lib was used to generate the lib with the old name for backward compatibility.

In pytorch, I guess you could just skip building `compat_lib`. Currently, we don't have such an option to skip it. But as a quick fix, you could remove three blocks in `ideep/mkl-dnn/CMakeLists.txt` as suggested in [this comment](https://github.com/oneapi-src/oneDNN/

[2020-07-29 02:31] ezyang commented on #41465
Oh, your problem is this one: https://github.com/pytorch/pytorch/issues/13246

Reopen if you disagree.

[2020-07-29 02:31] #41465 closed

[2020-07-29 02:39] ezyang commented on #42155
The problem is probably that `from_file` requires an honest to goodness shared memory file, not just any random file on disk in your file system.

[2020-07-29 02:57] xuezu29 commented on #41177
@glaringlee  sorry,I didn't catch your meaning. I have test:
**libtorch1.0.0:**
jit::load(): 1193.32ms
from_blob(): 0.1328ms
readimage()：64.06ms
forward(): 161.881ms
total: 227.802ms

**libtorch 1.5.1:**
jit::load(): 417.05ms
from_blob(): 0.2371ms
readimage()：51.88ms
forward(): 287.18ms
total: 339.813ms

Total time does not include model loading (jit::load()).

[2020-07-29 03:26] aayn commented on #41786
It's okay! I thought packbits was also interesting, but isn't @vadimkantorov working on it? I'll take that up if he isn't, else I'll work on divmod. @mruberry

[2020-07-29 03:31] aayn commented on #41786
I could even do left/right shift (#41624) if that's still available.

[2020-07-29 03:33] pr2tik1 commented on #42078
Didn't Fix the Issue, Thanks!

[2020-07-29 03:35] pr2tik1 commented on #42078
I will upgrade to the newest version and check, btw is it out? torch==1.6 and torchvision==0.7.0??

[2020-07-29 03:36] pr2tik1 commented on #42078
Yes, @emilearthur  faced the same issue of,

 No matching distribution found for torchvision==0.4.0

[2020-07-29 03:44] glaringlee opened #42217 "Add torch.nn.Unflatten module into C++ Frontend"
## 🚀 Feature

torch.nn.Unflatten has been added into pytorch in #41564, it should be added into C++ Frontend as well.
## Motivation
This is to add torch.nn.Unflatten support in C++ Frontend, so people who is using pure c++ (libtorch for eg) can use this module as well.

cc @yf225 @glaringlee

[2020-07-29 03:44] glaringlee commented on #42217
assign to myself as a onboarding task

[2020-07-29 03:48] pr2tik1 commented on #42078
Works well on upgrading torch and torchvision to the latest release. @emilearthur, Thanks @suo !

pip install torch==1.6.0+cpu torchvision==0.7.0+cpu -f https://download.pytorch.org/whl/torch_stable.html

[2020-07-29 03:55] jh-jeong opened #42218 "Type mismatch error with torch.nn.functional.grid_sample() under AMP"
## 🐛 Bug

Found training a model with `grid_sample(input, grid)` throws the following error under AMP:
[code]
- This also happens in a form `(input, grid) = (float, c10:Half)`, depending on the model definition.
- I'm not sure, however, how could I reproduce this error in a minimal code snippet.
- Casting both `(input, grid) -> (input.float(), grid.float())` could bypass this issue.

## To Reprodu

[2020-07-29 04:45] vadimkantorov commented on #41786
I don’t work on packbits either :) so if you wish to work on it - go for it!

[2020-07-29 05:04] mruberry commented on #41786
I think packbits would be really interesting. Thanks for being so flexible, @aayn!

[2020-07-29 05:35] #38011 closed

[2020-07-29 05:48] aayn opened #42223 "Implementing packbits"
Requested in #32867 and #38349 (NumPy rollup).

cc @mruberry

[2020-07-29 05:48] aayn commented on #42223
@mruberry What would be right place to put this?

[2020-07-29 06:07] EthanZhangYi opened #42224 "Compilation error, Performing Test SUPPORT_GLIBCXX_USE_C99 Failed."
On a server with `CentOS Linux release 7.2.1511`
With **the same environment** (to ensure this, I just tried to compile pytorch1.1.0 and pytorch1.6.0 in the same terminal).
I tried to compile pytorch-1.1.0, pytorch-1.5.1 and pytorch-1.6.0 from source by `python setup.py install`.
Pytorch-1.1.0 can be compiled, but pytorch-1.5.1 and 1.6.0 failed, with `Performing Test SUPPORT_GLIBCXX_USE_C99 Failed

[2020-07-29 06:18] mruberry commented on #27171
This was fixed by https://github.com/pytorch/pytorch/pull/41912.

[2020-07-29 06:18] #27171 closed

[2020-07-29 06:26] mruberry commented on #42223
@aayn https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/TensorFactories.cpp

[2020-07-29 06:37] mattip commented on #32703
PR gh-41335 is in place so building docs will error if there are warnings. Can we close this? If migration away from KaTex is desired, it should be a separate issue.

[2020-07-29 06:40] t-vi commented on #41886
@acxz Thank you so much for fixing it. I updated [my instructions](https://lernapparat.de/pytorch-rocm/), linking the PR and using github handle. If you have other preferences for crediting you there, I'd be glad to accommodate them.

[2020-07-29 06:50] Coderx7 commented on #12506
Thanks a lot everyone, this issue is really a great source of information for libtorch!
I'm having a bit of an issue here. the input image type ic 8CU3 . and its converted into the tensor like this :
[code]
and now I want to get back the iamge and visualize it :
[code]
but this is not right! so I tried this :
[code]
which again doesnt work as the image is not displayed correctly
What should I do?

[2020-07-29 07:23] Flamefire commented on #15870
This seems to be currently fixed in https://github.com/pytorch/pytorch/pull/28270/files#diff-638f4441d15104ec8089e5c4041552caR121-R125 which directly references this and deliberately does a `0/0`

However that triggers UBSAN:

[code]

[2020-07-29 07:41] guol-fnst commented on #42163
This problem may be caused by PR [29232](https://github.com/pytorch/pytorch/pull/29232)

https://github.com/pytorch/pytorch/blob/6b3f335641e1874c5b0ae0aa719687ed5f42ab45/torch/serialization.py#L453-L470
If the "obj" is a tensor, a uniqe obj_key(actually is obj._cdata) is generated by persistent_id().  The serialized data with this obj_key is dumped into files, which  leads to inconsistent results.

[2020-07-29 07:41] vfdev-5 commented on #42000
@mrshenli links work perfectly 👍

[2020-07-29 07:53] erdmann commented on #41656
As the bug reporter, here are my two cents.

Coming from the world of cultural heritage (I'm currently photographing the Nightwatch at 5 µm resolution; see  [the 20 µm resolution version here](https://twitter.com/erdmann/status/1260118711920472070)), I can say that the ability to operate on images requiring more than 32 bits for indices is really essential, and the ability to use a GPU on these im

[2020-07-29 07:58] pmeier commented on #42163
@guol-fnst I've encountered this while converting legacy LuaTorch weights while on `torch==0.4.1`. Thus, I don't think this is exclusively caused by a recent change.

[2020-07-29 08:08] LittileFatNoRun commented on #34355
I am trapped in the same question. Is there anyone has solutions.

[2020-07-29 08:10] rgommers commented on #32703
Looks like this is complete indeed. Can you confirm that the doc builds now work with `torchvision` or `torch.distributed` missing?

That was my suggestion; I did some benchmarking and KaTeX is still significantly faster, so let's leave it as is I'd say.

[2020-07-29 08:19] dlutwy commented on #9158
try to use
`export CUDA_VISIBLE_DEVICES='2'` rather than
 `os.environ['CUDA_VISIBLE_DEVICES'] = "2"`

[2020-07-29 08:23] guol-fnst commented on #42163
@pmeier I was wrong, PR[29232] (https://github.com/pytorch/pytorch/pull/29232)  doesn't Introduce this problem.
Torch 0.4.1 has the same logic.
https://github.com/pytorch/pytorch/blob/a24163a95edb193ff7b06e98cd69bf7cfd4c0d2f/torch/serialization.py#L249-L251

[2020-07-29 08:27] codender commented on #34352
Hi @reddandelion217 , after specifying the opset_version=11, PixelShuffle supports dynamic_axes?

[2020-07-29 08:36] kaimingkuang opened #42226 "Mistakes in torch.cuda.amp docs"
There is a tiny mistake in the documentation of torch.cuda.amp.GradScaler. Under the description of __init__ parameters:
[code]
Should be for ``growth_interval`` consecutive iterations?

cc @mcarilli @jlin27

[2020-07-29 08:39] vadimkantorov commented on #32867
@aayn numpy's packbkits is quite restricted and supports packing only BoolTensors. I propose here to expand its functionalities to custom masks and arbitrary data types.

Need for fully-fledged BitTensors also needs some discussion. Same for relation with existing 2-bit quantization and quantization in general, since BitTensors and low-precision quantization could be used for binary neural net wor

[2020-07-29 08:41] gnthibault opened #42227 "AttributeError: module 'torch.jit' has no attribute '_script_if_tracing'"
Dear all, for some reason, I recently started to have problems with torchvision, although it looks like I haven't changed anything recently.

Do you have any idea what happened ?
Thank you in advance for your help

[code]

Which versions am I using:

cc @suo @gmagogsfm

[2020-07-29 09:03] vadimkantorov opened #42228 "[docs] Bitwise ops miss arguments"
It looks like bitwise_and/bitwise_and_ have no arguments (like bitwise_not_) which is not true

![image](https://user-images.githubusercontent.com/1041752/88780198-f091cb00-d18a-11ea-9b12-dcba701d339b.png)

[2020-07-29 09:16] daixiangzi opened #42229 "when i use amp on LSTM network,errro"
pytorch1.6
ubuntu20.0
code:
for i, (inp, labels) in enumerate(tqdm(train_loader)):
        inp = inp.to(device)

        with torch.cuda.amp.autocast():
            preds = model(inp)
            batch_size = inp.size(0)
            text, length = converter.encode(labels)
            preds_size = torch.IntTensor([preds.size(0)] * batch_size)
            loss = criterion(preds, text, preds_size, le

[2020-07-29 09:31] mattip commented on #32703
On master, pytorch CI builds without `torchvision` installed.

Building documentation without `torch.distributed` fails since many of the autofuntions on the [`docs/source/distributed.rst`](https://github.com/pytorch/pytorch/blob/v1.6.0/docs/source/distributed.rst) page fail to import without it. Should we pursue a fix like in the [comment above](https://github.com/pytorch/pytorch/issues/32703#iss

[2020-07-29 09:35] daixiangzi commented on #42229
i try to in forard ,modify inputs = inputs.to(torch.float32) before rnn module,it can use

[2020-07-29 09:36] maoyeLemon commented on #31994
Did you slove this problem?
I have this problem, too.
And how to slove it?

[2020-07-29 09:50] rgommers commented on #32703
Yeah that is a valid concern. Actually, as long as the docs build completes but with broken links, I think having a nonzero exit status is a good thing. When you're not working on distributed, building PyTorch without it is useful - saves time, and often avoids build problems - so people will want to do this. But one should never want to publish such doc builds.

Okay, let's call this good then, c

[2020-07-29 09:50] #32703 closed

[2020-07-29 10:55] mszhanyi commented on #35548
It has been fixed by https://github.com/pytorch/pytorch/pull/37098.
It can be closed

[2020-07-29 11:02] omaralvarez commented on #19786
Was anyone able to do this properly? Is this issue dead?

[2020-07-29 11:20] acxz commented on #41886
Thanks for updating your post and the credit!

[2020-07-29 11:31] #35548 closed

[2020-07-29 11:35] mthrok commented on #42213
Hi @apeguero1

Thanks for bringing the up.
 - Can you share the number you are talking about?
 - Can you clarify the version you are comparing and fix your issue statement? (there is no torchaudio 1.6.0 and I think you mean pytorch 1.6.0 but `pip install torchaudio==1.6.0` is confusing and I want to make sure I understand you correctly).

[2020-07-29 11:47] sidkashyap-at-Intel opened #42230 "ONNX export does not support distributions.uniform"
## 🐛 Bug

The operator torch.distributions.uniform is not supported by torch.onnx.export. It fails with the below message when a model with the uniform operation is exported:

"RuntimeError: Exporting the operator uniform to ONNX opset version 12 is not supported. Please open a bug to request ONNX export support for the missing operator."

ONNX supports RandomUniform from opset 1, it looks to be a

[2020-07-29 12:39] apeguero1 commented on #42213
The number I am talking about is just how long it takes for functional.istft to run.
For me the timings are roughly:

5.0 seconds for torch==1.6.0
0.015 seconds for torchaudio==0.5.1

Ah yes I made a typo in the issue I made on torchaudio [#834](https://github.com/pytorch/audio/issues/834). I wanted to compare torchaudio==0.5.1 with torchaudio==0.6.0 which ends up using the istft implementation of

[2020-07-29 12:59] mthrok commented on #42213
Thanks for the number. Yes your versions are correct. I will take a look on my end.

[2020-07-29 13:15] harshbafna commented on #33354
@nairbv @suo

I tried this on PyTorch 1.5.1 and 1.6.0. It seems the issue was resolved on PyTorch 1.5.1 and got introduced again in PyTorch 1.6

Used following script to save densenet161 model in script mode:

[code]

Then used the following script to run inference on densenet161-scripted model :

[code]

 - Output on torch 1.6 and torchvision 0.7.0

[code]

 - Output on torch 1.5.1 and torchvisio

[2020-07-29 13:16] apeguero1 commented on #42213
Awesome thanks!

[2020-07-29 14:18] glaringlee commented on #41177
@suo
I saw the forward() is called from a jit Module, not sure whether this is related to jit changes since version 1.3, can you advise? thx.

[2020-07-29 15:23] gchanan commented on #42228
`bitwise_xor` too.

[2020-07-29 15:24] albanD commented on #36608
Bumping priority so that we don't forget about this as it is a correctness issue (you can get silently wrong gradients).

[2020-07-29 15:40] albanD commented on #42155
@Markus-Goetz Can you confirm that passing a proper shared memory file is the culprit?

I don't think this is technically possible.
You can get cuda memory to be in ram by using host-mapped memory. But that won't allow you to have it backed by a file.

[2020-07-29 15:40] mcarilli commented on #42229
Closing as duplicate of https://github.com/pytorch/pytorch/issues/36428.

If you are using `nn.LSTM`, this is a known issue, amp doesn't work with cudnn RNNs.  they're more complicated than other ops because autocast needs to flatten weights in a particular format, in addition to casting them to FP16.

I've written a fix locally that enables autocast with cudnn rnns.  The PR should be up in the ne

[2020-07-29 15:40] #42229 closed

[2020-07-29 15:50] Markus-Goetz commented on #42155
@albanD Have not tried it or thought about it, just a quick idea from the top of my head - couldn't you first map the file into host memory and then afterwards issue several asynchronous memory copies into VRAM + kernel execution. That would obviously require that all torch operations by default are implemented as tiled stream operations.

[2020-07-29 15:55] mcarilli commented on #36428
I wrote a fix that works on my machine. The PR should be up in the next few days.

[2020-07-29 15:56] mcarilli commented on #42226
Thanks for spotting!

[2020-07-29 15:56] rajeevsrao opened #42235 "LSTM export to ONNX Scan op"
## 🚀 Feature
Export multi-layer LSTM/RNNs as ONNX scan op instead of creating multiple ONNX LSTM cells for multilayer torch.nn.LSTM.

## Motivation
Enable efficient ONNX representations of RNN ops instead of generating graphs with single cell LSTMs.

## Pitch
See "Encoding RNN using a Scan" in https://github.com/onnx/onnx/blob/master/docs/Operators.md#scan

## Example
Sample LSTM export to ONNX (p

[2020-07-29 15:59] t-vi commented on #41177
One thing is not to measure the first run.

On July 29, 2020 4:18:30 PM GMT+02:00, xyli <notifications@github.com> wrote:

[2020-07-29 16:08] xkszltl commented on #42115
@pinzhenx
This is my approach for now: https://github.com/xkszltl/Roaster/commit/84965f7679eddf3c852bf85c7ebff7b90e0eb7cd
[code]

Basically this is Windows version of `sed 's/\($<TARGET_FILE_DIR:${LIB_NAME}>\)/\1\/..\/lib/'`.

[2020-07-29 16:17] DeepakVelmurugan commented on #41701
Hi I'll be working on this

[2020-07-29 16:19] albanD commented on #42155
@ngimel would be much more knowledgeable than me here.
But from what I understand, if you use host-mapped memory, this is done inside the cuda driver and you can't do this extra step.

[2020-07-29 16:20] vadimkantorov commented on #41292
https://github.com/pytorch/pytorch/issues/13246 this would be a huge problem if the processes are kept around and not recreated

[2020-07-29 16:21] #42226 closed

[2020-07-29 16:43] tshead2 commented on #42188
Agreed on most points, and I'll take what I can get.  I would still argue that a warning is a poor solution for what is either a documentation problem (you don't think the caller understands what the API will do) or a design problem (you don't think the API will do what the user actually wants).  Perhaps copy semantics need a rethink - as always, more explicit would be better.

Cheers,
Tim

[2020-07-29 16:56] ngimel commented on #41656
@erdmann Thank you for your perspective, it's fascinating!
It's true that as resolution goes up, images become bigger. But in practical terms
1) GPU memory is usually not big enough to hold multiple large tensors
2) Even if grid_sample was fixed to properly handle 64-bit indices on the GPU, typically you'd want to call a convolution next, and it won't work because of cudnn limitation.
That said, b

[2020-07-29 17:00] iffiX commented on #41546
Sorry for the late reply! @pritamdamania87

1. The naming issue, and back-compatibility

No, I think it would be way too messy if we allow users to mix their names with auto assigned roles from torchelastic, since P2P style with manually specified names is not really elastic, the number of available rpc targets are either fixed(not elastic), or have to be manually scaled and renamed like "boo_0",

[2020-07-29 17:07] iffiX commented on #41546
If there are no more questions, I will close this RFC, then propose a new one with modifications from all comments.

[2020-07-29 17:37] mcarilli commented on #42218
`grid_sample` used to be an FP32list function in `apex.amp` to avoid slow FP16 atomics in old versions of Pytorch.  The slow atomics were fixed in recent Pytorches, so I removed `grid_sample` from the FP32list in `torch.cuda.amp`.  However, I should have moved it to the promote list, because it takes multiple inputs that must be the same dtype.

The [cast lists](https://pytorch.org/docs/stable/amp

[2020-07-29 17:40] yukw777 opened #42239 "`torch.hub.load_state_dict_from_url()` is not able to load the new zipfile serialization files"
## 🐛 Bug

If you call `torch.hub.load_state_dict_from_url()` on a file saved in the new zipfile serialization format, it raises `RuntimeError('Only one file(not dir) is allowed in the zipfile')`.

## To Reproduce

Steps to reproduce the behavior:

1. Upload a state dictionary file saved using the vanilla `torch.save()` to a server.
1. Call `torch.hub.load_state_dict_from_url()` to that url.
1. You

[2020-07-29 17:47] vadimkantorov commented on #40373
How do I define a custom Tensor generic type? To support sth like:
[code]

[2020-07-29 17:51] vadimkantorov commented on #40373
Is variadic support needed for this? https://github.com/python/typing/issues/193#issuecomment-479484916

[2020-07-29 17:53] vadimkantorov commented on #40373
Oh, this is very cool!

[2020-07-29 18:04] LvanderGoten commented on #24005
Is there any progress? I guess most users that use gradient checkpointing also use DDP.

[2020-07-29 18:19] ngimel commented on #42109
The problem here is that `atomicAdd` for long is implemented via `atomicCAS`, and it is very slow. Unfortunately, since there is no intrinsic, and no hardware acceleration for long `atomicAdd`s I don't see what we can do (other than splitting long into higher bits and lower bits and operating on them separately :-) )

[2020-07-29 18:20] #41770 closed

[2020-07-29 18:25] OMalenfantThuot opened #42242 "Accessing state_dict() of models trained with previous pytorch version"
## 🐛 Bug

Since updating to version 1.6, when trying to access `model.state_dict()` of a older pytorch trained models (where model is a subclass of torch.nn.module), I'm getting a `ModuleAttributeError`.

## To Reproduce

Steps to reproduce the behavior:

[code]
where the model was trained with an older version of pytorch.

The output is
[code]

I was able to make it work by adding the following l

[2020-07-29 18:37] KsenijaS commented on #41304
Can you please share how did you install deepvoice3_pytorch package? Using only pip install deepvoice3_pytorch doesn't allow access to  train, tests etc.
Also can you please share the pytorch and python version. I believe that tensorflow is also required for this model environment so if you could also share the tensorflow version.

[2020-07-29 18:41] ms-lilibeth commented on #42113
I'm facing the same issue
Profiling results before quantization:
[code]

After:
[code]

I seems that float32 convolution optimized for Intel CPU is working faster than int8 convolution.

[2020-07-29 18:59] AlexanderMath opened #42243 "nn.Orthogonal"
## 🚀 Feature

A module ```nn.Orthogonal``` similar to ```nn.Linear``` where the weight matrix <img src="https://latex.codecogs.com/svg.latex?W" /> is constrained to be orthogonal, i.e., <img src="https://latex.codecogs.com/svg.latex?W^T=W^{-1}"/>.

## Motivation

There has been a growing interest in orthogonal parameterization of neural networks, see, e.g., [1,2,3,4,5].
To use orthogonal parameter

[2020-07-29 19:04] mcarilli commented on #42183
Because of parameter bucketing, this incurs some performance tradeoffs (it isn't an obvious win), and I'm curious if the !/$ is worthwhile.

We'd have to either change the bucket structure before backward if prepare_for_backward discovers a new set of unused parameters in a particular iteration, or keep the same bucket structure and copy any partially-filled buckets to fully-packed sub-buckets the

[2020-07-29 19:22] zhaojuanmao commented on #42183
@mcarilli you are right about the partial bucketing! There are some cases requested by users where unused parameters could be large, and skip communicating them may potentially improve the performance.

Regarding partial bucketing, one thing we can further simplify is: we skip communicating the bucket if parameters in the bucket are all unused, this is mostly helpful when unused parameters sizes a

[2020-07-29 19:33] xuhdev opened #42246 "`torch.tensor([1, 2], dtype=torch.int).fmod(torch.tensor(0, dtype=torch.float))` leads to "RuntimeError: result type Float can't be cast to the desired output type Int""
## 🐛 Bug

`torch.tensor([1, 2], dtype=torch.int).fmod(torch.tensor(0, dtype=torch.float))` leads to

    RuntimeError: result type Float can't be cast to the desired output type Int

## Environment

PyTorch version: 1.7.0a0+79cfd85
Is debug build: Yes
CUDA used to build PyTorch: Could not collect

OS: Debian GNU/Linux 10 (buster)
GCC version: (Debian 8.3.0-6) 8.3.0
CMake version: version 3.16.3

P

[2020-07-29 19:52] rohan-varma opened #42247 "Fix distributed documentation for asynchronous collective Work objects"
## 📚 Documentation

In our [distributed docs](https://pytorch.org/docs/stable/distributed.html) under "Synchronous and asynchronous collective operations" we document `work.wait()` and `work.is_completed()`, but the documentation is not completely accurate in the case of NCCL.

For a NCCL Work object, `wait()` does not in general block the process and instead synchronizes the NCCL stream with the