[2019-05-17 11:00] harryhan618 opened #20638 "Please add support for python primitive type"
e.g. `torch.sin(1)` or `torch.sin([1,2,3])`

Numpy supports this feature, which makes programming very convenient.

Thx!

[2019-05-17 11:12] catqaq opened #20639 "The item() operation changes the value?Is this a bug?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-05-17 11:13] catqaq commented on #20639
a=torch.tensor(1.2000, device='cuda:0')
a.item()
got: 1.2000000476837158

How to avoid this?

[2019-05-17 11:23] catqaq commented on #20639
a=torch.tensor(1.2000, device='cuda:0')
a.item()
got: 1.2000000476837158

How to avoid this? It is caused by python or pytorch?

[2019-05-17 11:42] fmassa commented on #20639
This is not a bug. It's just that when we print, we truncated the displaying to a few digits. You can control it via `torch.set_printoptions` or something like that.

[2019-05-17 11:42] #20639 closed

[2019-05-17 11:46] kamathhrishi opened #20640 "Error while installing PyTorch"
This is the stack trace generated

[code]

[2019-05-17 11:49] nicolasgriffiths commented on #17492
@pjh5 I have checked `libcaffe2.so` in [this wheel](https://download.pytorch.org/whl/nightly/devtoolset7/cu100/torch_nightly-1.1.0.dev20190517-cp36-cp36m-linux_x86_64.whl) and I can find symbols from both ABIs.
As an example of old ABI, the symbol `_ZN3c105ErrorC1ENS_14SourceLocationERKSs` exists, which demangled is:
[code]
Interestingly, in the same library `libcaffe2.so` I can find symbols with

[2019-05-17 11:57] PgLoLo opened #20641 "Main page broadcasting (?) example image bug"
## 🐛 Bug

There is an image on the main page of this repo:
![image](https://user-images.githubusercontent.com/5480856/57926458-fc5dde00-78b3-11e9-819c-96119d99026e.png)

Looks like the numbers on the result tensor are wrong (and pretty unreadable btw).

[2019-05-17 12:32] Jonas1312 opened #20642 "Build error with MSVC (aten\src\ATen\native\quantized\Copy.cpp)"
## 🐛 Bug

[code]

## To Reproduce

Steps to reproduce the behavior:

[code]

[2019-05-17 12:35] Jonas1312 commented on #20642
Might be related to @jerryzh168 last push #19932 and #19816

[2019-05-17 12:42] Dreamgang opened #20643 "RuntimeError: ONNX export failed: Couldn't export operator aten::softmax"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.
Currently I am facing the errorRuntimeError: ONNX export failed: Couldn't export operator aten::softmax  According to the folks at ONNX, this is a bug in PyTorch

[2019-05-17 13:17] scholarboss commented on #4291
I have the same error in Win10, GTX1080

![image](https://user-images.githubusercontent.com/22981183/57930529-c4bd5900-78e8-11e9-9038-be157ae2b9e7.png)

[2019-05-17 13:21] TheCodez opened #20644 "[jit] support ModuleList.append inside ScriptModule constructor"
## 🐛 Bug

Currently one can't append modules to a `ModuleList` inside the constructor as the `ModuleList` is converted to a `_ConstModuleList`.

## To Reproduce

Steps to reproduce the behavior:

[code]

Results in this error:
[code]

## Expected behavior

This should be possible inside the constructor.

## Environment
 - PyTorch Version: 1.1.0

## Additional context

A workaround for this problem

[2019-05-17 13:45] Jonas1312 commented on #20635
Related to #17108

[2019-05-17 14:16] #20523 closed

[2019-05-17 14:19] SeanNaren commented on #4831
haven't ran into this issue in a while, gonna close it for now...

[2019-05-17 14:19] #4831 closed

[2019-05-17 14:24] #20568 closed

[2019-05-17 14:25] lanpa commented on #20092
That is expected. Instead, you should use `add_scalars` to get the graph you want.
The doc for pytorch repo is under review, please check:
https://tensorboardx.readthedocs.io/en/latest/tensorboard.html#tensorboardX.SummaryWriter.add_scalars

[2019-05-17 15:12] snard6 commented on #633
I would love to see this implemented. We have have an old torch7 model we'd like to convert to pytorch that uses CUDNN_SKIP_INPUT. Since it doesn't look like this is coming anytime soon, I'd also be interested in any workarounds to get that model (and its weights) converted.

[2019-05-17 15:15] pjh5 commented on #17492
@nicolasgriffiths I didn't think to check for the presence of both. I'm not sure how that's possible, since there's only one gcc version installed on the machine. Is the library in a usable state for you? I tested that the packages "work" when used through Python, but I haven't tried linking against them in a client library.

@dreiss do you have an idea how this could happen?

[2019-05-17 15:49] colesbury commented on #8831
That doesn't seem like the actual error. `intrin.h` is specific to Windows. That part is **expected** to fail on Linux. It just means that `HAS_MSC_ATOMICS` will be 0.

https://github.com/pytorch/pytorch/blob/1136ad59f91138c886c8585de0bcb6f23667ce0e/cmake/Dependencies.cmake#L1247-L1258

[2019-05-17 16:18] lanpa commented on #20579
@baldassarreFe The fix is correct, will you make a PR?

[2019-05-17 16:21] colesbury commented on #20640
Take a look at https://github.com/pandas-dev/pandas/issues/23424

You may need to upgrade your command-line tools.

[2019-05-17 16:47] colesbury commented on #20631
Please provide the details requested in the issue template (operating system, etc.) and re-open the issue.

[2019-05-17 16:47] #20631 closed

[2019-05-17 16:54] vimalthilak commented on #12084
Any update on whether torch.std() is supported for conversion to ONNX?

[2019-05-17 17:19] jerryzh168 commented on #20642
Thanks for reporting, I will take a look

[2019-05-17 17:22] colesbury commented on #20635
@Jonas1312 what's "using a specific library" refer to?

I don't have easy access to a Windows machine. Can you do some debugging to narrow down the issue?

First, try using `torch.cuda._lazy_init()` instead of `torch.cuda.current_device()`. If that works try the following at the beginning (instead of `torch.cuda.current_device()`):

[code]

[2019-05-17 17:23] colesbury commented on #20641
Why are the numbers wrong?

[2019-05-17 17:37] floridoug commented on #10232
This problem also happens for Windows builds.

The problem is the init_intrinsics_check.cc file is not compiled with the options to actually enable the AVX, AVX2, etc. instructions.

Note that several other files which rely upon the AVX, AVX2, etc. instructions *are* properly compiled with these instructions enabled (e.g. the generated files under build/aten/src/Aten/native/cpu/*, the various caff

[2019-05-17 18:01] Jonas1312 commented on #20635
@colesbury The bug appears only when I use the library `kymatio` which relies on torch tensors. As shown above, when I try to reproduce the bug in a python interpreter it doesn't crash.

With `torch.cuda._lazy_init()` it works

If I try with `torch.cuda._check_driver()` and `torch._C._cuda_init()` it crashes:
[code]

I will try to find the issue with visual c++ debugger but I can't build pytorch m

[2019-05-17 18:04] pjh5 commented on #20030
@ruohoruotsi all of that is correct

[2019-05-17 18:10] colesbury commented on #20635
@Jonas1312 thanks. I see now why the second two lines wouldn't work in general.

Can you try making a self-contained example that reproduces the issue? It's OK if the example depends on `kymatio`. I'll try it on my Windows machine at home

[2019-05-17 18:14] PetrochukM opened #20651 "torch.distributed.reduce empty tensor bug"
## 🐛 Bug

Function call:
```torch.distributed.reduce(packed, dst=0)```

Inputs:
```packed = torch.cuda.FloatTensor([])```

Trace:
[code]

## Environment

 - PyTorch Version (e.g., 1.0): 1.1
 - OS (e.g., Linux): Linux
 - How you installed PyTorch (`conda`, `pip`, source): pip
 - Python version: 3.6.7
 - CUDA/cuDNN version: 10.1
 - GPU models and configuration: 2 Tesla P100

[2019-05-17 18:24] colesbury commented on #20651
@mrshenli can you fix this? The problem is here:

https://github.com/pytorch/pytorch/blob/79c5dc313cd7332489a22fa4a6026c9501a2a55c/torch/lib/c10d/ProcessGroupNCCL.cpp#L416-L417

If the Tensor is "empty" (zero elements) then the data pointer might be null. `CUDACachingAllocator::recordStream` fails on null pointers.

I think it's fine to make `CUDACachingAllocator::recordStream` a no-op on null poi

[2019-05-17 18:25] Jonas1312 commented on #20635
@colesbury ok!
[code]
and execute the following file: https://github.com/Jonas1312/kymatio/blob/inverting-scatt-mse/examples/2d/invert_scattering.py

you should be able to comment most lines and imports except:
[code]

[2019-05-17 18:29] ezyang commented on #20046
@xkszltl Hey, quick question, what exact commands did you use to build and install PyTorch?  There are a bunch of ways to build libtorch and I want to make sure I know the correct one.

[2019-05-17 18:30] ezyang commented on #20046
@kostmo Are you actually working on this? If not, please unassign yourself.

[2019-05-17 18:38] soumith commented on #20585
this is well-known PyPI behavior. They refuse to fix it.
I filed an issue to fix this on our end by actually changing package names to also add a +cudaversion.

Here's the issue: https://github.com/pytorch/pytorch/issues/19990

See my comment on the issue for further references and link to PyPI issue

[2019-05-17 18:41] mrshenli commented on #20651
@colesbury yes, let me look into this

[2019-05-17 19:13] adamlerer opened #20655 "nn.Embedding backwards slow under high row contention"
## 🐛 Bug

nn.Embedding backward is very slow when there is high contention for a small number of rows in the embedding matrix. This can be ameliorated with different approaches to backward in this case.

## To Reproduce

Steps to reproduce the behavior:

[code]

Lets first time everything with a uniform distribution over input rows:
[code]
Everything is fine here
[code]
But if I have high contenti

[2019-05-17 19:21] SsnL commented on #20655
probably due to the atomicAdd

[2019-05-17 19:46] xkszltl commented on #20046
It's plain call to cmake with `-DBUILD_TORCH=ON`.
More details here:
https://github.com/xkszltl/Roaster/blob/af1e5cbc66e68725cc2f6ead78f57e5e176b8eb8/pkgs/pytorch.sh#L64-L104

[2019-05-17 21:45] driazati commented on #20090
This should be fixed with #18154, feel free to re-open if it's still an issue

[2019-05-17 21:45] #20090 closed

[2019-05-17 22:04] uhmwpe opened #20663 "torch.cat disconnecting graph"
### Bug
torch.cat appears to disconnect the graph. In effect, graph of each variable is cutoff when concatenated with another variable.

### To Reproduce

    import torch
    from torch.autograd import Variable

    a = Variable(torch.Tensor([1., 3., 5.]), requires_grad=True)
    b = Variable(torch.Tensor([2., 4., 6.]), requires_grad=True)
    a = a.unsqueeze(1)
    b = b.unsqueeze(1)
    c = tor

[2019-05-17 22:26] colesbury commented on #20663
You are asking for the derivative of `c` w.r.t. `z` but `c` is not specified as a function of `z`. I don't see a bug here.

You don't need `cat` or higher order differentiation to see this behavior:

[code]

[2019-05-17 22:35] colesbury commented on #20663
If you want to get the derivative w.r.t. to the cat operation you have to make `z` a function of the `cat` operation. For example:

[code]

[2019-05-17 22:35] #20663 closed

[2019-05-17 22:43] eellison opened #20664 "[JIT] List python builtin has wrong casting behavior"
## 🐛 Bug

List builtin doesn't preserve the type of its inputs.

## To Reproduce
[code]

[code]

cc @ezyang @gchanan @zou3519 @suo

[2019-05-17 22:44] abdelrahmanabdelnabi commented on #14260
@ak9250 you did not install the correct version of this command judging from the output of pip. You have to uninstall pytorch first using `pip3 uninstall pytorch` then install the correct version using the command you used.

[2019-05-17 22:44] hanmingliu2 commented on #18634
@fmassa Thank you so much for replying. By '**not all contiguous**' I mean that the resulting tensor of calling `torch.cat` may not be contiguous. Such suspicion comes from [this line](https://github.com/pytorch/pytorch/blob/master/aten/src/TH/generic/THTensor.cpp#L773) in the source code.
### My Thought Process
In my understanding, `result` points to the pre-allocated tensor that data is going to

[2019-05-17 23:09] driazati commented on #20616
Fixed in #20617

[2019-05-17 23:09] #20616 closed

[2019-05-18 00:34] XuezheMax commented on #20630
I have the same problem, but not sure if it happened only to reduce_all

[2019-05-18 01:07] tshrjn commented on #17357
I'm facing a similar issue when using a custom `collate_fn` with `num_workers>0`, I get the following error on the line which just makes zero tensor with appropriate device like this `src = torch.zeros((bs, max_src_len), dtype=torch.long, device=self.device)` :

[code]

It's works when `num_workers>0` on `cpu` and also works on `gpu` with `num_workers=0`,
but not with `num_workers>0` on `gpu` whic

[2019-05-18 01:09] tshrjn commented on #17359
I'm facing a similar issue when using a custom `collate_fn` with `num_workers>0`, I get the following error on the line which just makes zero tensor with appropriate device like this `src = torch.zeros((bs, max_src_len), dtype=torch.long, device=self.device)` :

[code]

It's works when `num_workers>0` on `cpu` and also works on `gpu` with `num_workers=0`,
but not with `num_workers>0` on `gpu` whic

[2019-05-18 02:58] yinhaoscu opened #20675 "Windows 10 CUDA 9 CUDNN 7.5 Pytorch 1.1 CUDNN_STATUS_EXECUTION_FAILED"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)
Firstly I tested tensorflow-gpu 1.12, it works on CUDA GPU well.
Then I followed pyto

[2019-05-18 03:01] yinhaoscu commented on #20675
I am sure I installed pytorch 1.1 with compitable version of cuda by pip3 install *.whl

[2019-05-18 03:39] zakizhou opened #20676 "Inconsistent behavior between jit loaded model and the one to be saved"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior
The results should be consistent between the saved and loaded

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and

[2019-05-18 03:51] TianDekuan commented on #13061
version
2af5911 - (HEAD -> master, origin/master, origin/HEAD) Modify the Insert quant-dequant test cases to look for q-dq pattern (#20672) (2 hours ago) <Nishant Pandit>

this err appears again:
../caffe2/perfkernels/common_avx512.cc:18:2: error: #error ( "You found a build system error: __AVX512F__, __AVX512DQ__, __AVX512VL__ " "is defined (via e.g. -mavx512f, -mavx512dq, and -mavx512vl) " "but

[2019-05-18 04:12] peterjc123 commented on #20675
Some essential information (like code, something about your env) is missing so it is hard to say what's wrong there. BTW, please use our [Discussion Forum](https://discuss.pytorch.org/) for user questions.

[2019-05-18 04:12] #20675 closed

[2019-05-18 04:13] TianDekuan commented on #20005
I meet this err again

[2019-05-18 04:14] nyck33 commented on #5544
what about `.size` with no `( )` following it like here:
![image](https://user-images.githubusercontent.com/25189545/57964337-1a801880-795e-11e9-9d73-7c13d336edcf.png)
Found here:  http://nlp.seas.harvard.edu/2018/04/03/attention.html

[2019-05-18 04:22] peterjc123 commented on #20635
@Jonas1312 Hi, I believe this one has the same cause with #17108, which makes it hard to reproduce at our side. Would you provide some logs so that we can have a clear image of the problem? You could use `API Monitor` and set the filters to all the functions of the CUDA DLLs (`cu*.dll` in `[Python Root]\Lib\site-packages\torch\lib`, and `nvfatbinaryloader.dll`, `nvcuda.dll` and `nvapi64.dll` in `C

[2019-05-18 05:19] lisujie opened #20678 "RuntimeError: the derivative for 'qr' is not implemented"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2019-05-18 06:09] yinhaoscu commented on #20675
My gpu card is RTX 2070. And the issue was solved when I upgraded my CUDA from 9.0 to 10.0. Thanks.

[2019-05-18 06:22] lanpa commented on #20151
This is torchvision related. I can reproduce the error if switching to torchvision 0.2.1, and I checked the release note and found that torchvision 0.2.2 can accept arbitrary input sizes for models. Therefore the mnist data can be passed to resnet without problem. I guess Orion wants to 1. demo torchvision's new feature and 2. let tensorboard display a complex graph, so changed the default mnist m

[2019-05-18 08:06] hunterbobo opened #20680 "CUDA"
## ❓ Questions and Help

why couldn't I set the used GPU by writing following code
os.environ['CUDA_VISIBLE_DEVICES']='3' ?

[2019-05-18 08:33] vishwakftw commented on #20678
The backwards pass for the QR decomposition is not implemented yet. I will be taking care of it in the near future.

[2019-05-18 08:33] #20678 closed

[2019-05-18 08:41] Jonas1312 commented on #20635
Hi @peterjc123
Again I would be happy to help but I don't really understand what I have to do with `Api monitor` exactly

Here is what I have now: https://user-images.githubusercontent.com/15847892/57966965-3df49480-7959-11e9-90d5-284f705ac850.png

[2019-05-18 08:54] PgLoLo commented on #20641
@colesbury shouldn't it be an element-wise product?

[2019-05-18 10:05] lerks commented on #17199
Thanks, that's an interesting solution, even though I don't understand why it solves the issue. And, to be honest, I'm wary of adding more threads in order to fix a problem caused by having loose threads.

I forgot to mention here how I ended up fixing my issue (credit to @adamlerer). I'm calling `torch.set_num_threads(1)` before and after spawning. This works for me because I don't need multithre

[2019-05-18 10:49] A-n-o-r-a-k opened #20681 "Caffe2 build on windows 10 fails with "ninja: build stopped: subcommand failed.""
## 🐛 Bug

following steps to build caffe2 on windows per the caffe2 install page
build_windows.bat runs for a good while then fails with

Microsoft (R) C/C++ Optimizing Compiler Version 19.20.27508.1 for x64
Copyright (C) Microsoft Corporation.  All rights reserved.

**ninja: build stopped: subcommand failed.
Traceback (most recent call last):
  File "tools\build_libtorch.py", line 22, in <module>

[2019-05-18 11:04] Jonas1312 commented on #20635
Settings: https://user-images.githubusercontent.com/15847892/57968603-114a7800-796d-11e9-8a3c-6167ddf63815.png
Results: https://user-images.githubusercontent.com/15847892/57968635-62f30280-796d-11e9-97d1-dedc3762b285.png

[2019-05-18 12:06] kefirski commented on #20630
actually, I'm too not sure whether the problem in `reduce_all`. I had removed everything including all reducing ops from my code, except `backward`, but I still get this weird deadlock that happens in ~35 hours of training

[2019-05-18 12:13] artemru commented on #17199
I agree with you and to be honest, I don't understand completely why my solution works (I found it empirically by some chance), but it does work, - so I would be thankful to find somebody who can explain this.
Concerning, setting `torch.set_num_threads(1)` before and after spawning, it works, but you still cannot use multithreading in children processes and in some cases it may be perf-suboptimal

[2019-05-18 12:54] peterjc123 commented on #20681
Well. from your log, I only know you got a build error. Would you please provide me with a full log? Usually the reason is incompatiblity between the versions of MSVC and CUDA.

[2019-05-18 13:22] prafullasd commented on #20630
In my case I don't get a deadlock if I run the same code on a single node with 8 gpus. I also don't get a deadlock if I remove the `all_reduce()` call (while keeping DistributedDataParallel for grads). It probably is related to a multi-node `all_reduce()` call then.

[2019-05-18 14:49] fehiepsi opened #20682 "[distribution] Support for various domain for AffineTransform"
## 🚀 Feature
Currently, AffineTransform's domain and codomain are `real`. So transformed distribution with affine transform will return `real` support by default. It would be great if we allow several more domains such as `greater_than` or `interval`. cc @neerajprad who is also interested in this feature.

Related issue: currently, `transform_to(constraints.interval(a, b))`'s codomain is real; whi

[2019-05-18 15:08] CoinCheung opened #20683 "random behavior is not able to be controlled"
## 🐛 Bug

When  use gpu to train a two-convolution-layer model, the random behavior is different in the running of two times.

## To Reproduce

1. write this code in some file, on my computer the source code is named `try.py`
[code]
2. run the above code for twice, and see the loss printed to the screen:
[code]
Since my practical model has a big variance, this random behavior can bring a final sco

[2019-05-18 17:22] williamluke4 commented on #16417
@fmassa Do you have any more info on this?

[2019-05-18 20:13] makslevental commented on #15060
i'm confused - is this in `torch.nn.functional` or not? when i search this repo there's an in-tree commit that has a reference to it (https://github.com/pytorch/pytorch/blob/3caf4e6985e2696cdead13aaa36d459a1aea3bdd/torch/nn/functional.py) but it's not in master

[2019-05-18 20:17] ShahriarSS commented on #19545
Hi @soumith
It has been a month since I opened this issue and I kinda need bidirectional RNNs on C++ side. I was reading another issue and apparently it has been abandoned. I just want to know if I should wait or not.

[2019-05-18 20:51] A-n-o-r-a-k commented on #20681
Here is the full log session. I am not using CUDA since I am building on a box that has a AMD Radeon GPU.

[code]

[2019-05-18 21:25] episodeyang commented on #20006
I am having the same issue

[2019-05-18 21:32] colesbury commented on #20641
Oh, maybe...

[2019-05-18 21:45] soumith commented on #19545
@yf225 @gchanan can we have an actionable outcome for this

[2019-05-18 21:56] colesbury commented on #20683
The "2d" version of CrossEntropyLoss (nll_loss2d) uses floating-point atomicAdds and is therefore non-deterministic.

[2019-05-18 22:24] soumith commented on #20680
please use https://discuss.pytorch.org for questions

[2019-05-18 22:24] #20680 closed

[2019-05-18 22:30] soumith commented on #20464
fixed via PR https://github.com/pytorch/pytorch/pull/20665

[2019-05-18 22:44] #20640 closed

[2019-05-18 22:54] soumith commented on #20632
thanks for the report. fixed.

[2019-05-18 22:54] #20632 closed

[2019-05-18 22:55] soumith commented on #16830
it's still a bug, that we should fix. I believe we shouldn't have to `detach` explicitly, because we dont need to do that in python

[2019-05-18 23:00] zasdfgbnm commented on #15060
Hi @makslevental, isn't it in https://github.com/pytorch/pytorch/blob/master/torch/nn/functional.py#L2897 ?

[2019-05-18 23:15] yf225 commented on #19545
@ShahriarSS I tried it on latest master and it seems that running `auto gru = torch::nn::GRU(torch::nn::GRUOptions(100, 256).layers(2).bidirectional(true));` doesn't cause the assert error. Is there any other code I should run to reproduce the bug?

[2019-05-18 23:15] makslevental commented on #15060
@zasdfgbnm hmm sorry i must've been browsing on some other commit. thanks!

[2019-05-18 23:35] yf225 commented on #16830
I believe we will need to add the separate dispatch for `mse_loss` in C++ API for the case when `target` requires gradient, as @fmassa mentioned. I will work on it.

[2019-05-18 23:56] CoinCheung commented on #20683
Hi,
But why the cpu version is doing as expected but the cuda version code does not?

[2019-05-19 00:43] nicolasgriffiths commented on #17492
@pjh5 unfortunately if I try to link even a simple exampled compiled with the new ABI against the latest libtorch, I get issues.
The first error that shows up is that `torch::jit::load(...)` symbol cannot be found as it is one of the symbols that appears still with the old ABI...
Could it be that even though it is using a newer version of gcc, it is being called with `-D_GLIBCXX_USE_CXX11_ABI=0` s

[2019-05-19 00:54] kamathhrishi commented on #20640
@colesbury Thank you, that worked!

[2019-05-19 02:32] lisujie commented on #20678
All right. Thanks!

[2019-05-19 02:54] peterjc123 commented on #20681
Looks like it is related to https://github.com/pytorch/pytorch/issues/18272#issuecomment-492076285. We may need to a check here to avoid adding the suffix to the source file multiple times.

[2019-05-19 03:07] peterjc123 opened #20686 "Repeating filename annotations when using CMake on Windows"
We are seeing filenames in `aten/src/ATen/native/cpu/` like the following cases:
[code]
They will slow down the build, and sometimes even make it hang if we don't clean the build cache and do the in-source build.

[2019-05-19 03:21] peterjc123 commented on #20635
Could you please send them in text form?

[2019-05-19 06:51] baldassarreFe commented on #20579
@lanpa of course, I submitted the PR shortly after opening the issue and I saw you approved it yesterday. Let's just wait for a merge and we can close the issue ;)

[2019-05-19 08:14] Jonas1312 commented on #20635
@peterjc123 there is no way to export in text form, only `.apmx64`  [capt.zip](https://github.com/pytorch/pytorch/files/3194884/capt.zip)
BTW I've found many `API monitor` softwares, here I'm using API Monitor (rohitab.com)

[2019-05-19 10:14] ali-r opened #20687 "data loader wait for all workers"
i am testing pytorch data loader in google colab platform
it seems higher workers have marginal improvement

this code is printing the time when each batch is delivered:

[code]

here is the result for 2 and 4 workers

num_workers=2 :
10.2s from start
10.4s from start
21.3s from start
21.3s from start
32.0s from start
32.0s from start
42.6s from start
42.9s from start
...

num_workers=4 :
22.7s fr

[2019-05-19 10:25] peterjc123 commented on #20635
@Jonas1312 Thanks, that's just what I wanted. I've filtered out the unrelated calls and the API log is listed below:

\# | Time of Day | Module | API | Return Value | Duration
-- | -- | -- | -- | -- | --
31934 | 06:11.5 | torch_python.dll | cudaGetDeviceCount ( ... ) | 0 | 0.5731985
31935 | 06:11.6 | cudart64_100.dll | cuDriverGetVersion ( ... ) | 0 | 0.0015398
31936 | 06:11.6 | cudart64_100.dll |

[2019-05-19 11:39] allegroai commented on #20585
@soumith but it can't install the correct wheel even with `--no-index`, see the error regarding the content type

[2019-05-19 12:47] ZaydH commented on #20006
@episodeyang Is it possible you somehow get a weird batch of size 0 or an output from a linear block of zero?

[2019-05-19 13:58] RobbyHuang commented on #12004
I used "conda install " command to install pytorch 1.1.0. And I successfully run `python3` `import torch`.
Also I successfully run `import torch` in jupyter notebook and ipython. But when I run a .py file through a sh  file, it failed with the error "ImportError: No module named 'torch'".
How can I handle it. Thank you so much!

+ set -e
+ export PYTHONUNBUFFERED=True
+ export CUDA_VISIBLE_DEVICES

[2019-05-19 15:20] peterjc123 commented on #20635
The error itself was thrown at `nvcuda.dll`:

\# | Time of Day | Module | API | Return Value | Duration
-- | -- | -- | -- | -- | --
32057 | 06:14.3 | caffe2_gpu.dll | cudaGetDeviceProperties ( ... ) | 30 | 0.000278
32058 | 06:14.3 | cudart64_100.dll | cuDeviceGetAttribute ( ... ) | 0 | 5.29E-05
32059 | 06:14.3 | cudart64_100.dll | cuDeviceGetAttribute ( ... ) | 0 | 9E-07
32060 | 06:14.3 | cudart64

[2019-05-19 15:41] ShahriarSS commented on #19545
@yf225
This is a minimal example:

[code]

and my build of PyTorch is three weeks old. I will try to build the latest master and try the code with that.

[2019-05-19 16:06] Jonas1312 commented on #20635
@peterjc123 Ok, but I'm gonna need some help 😅

So for now I've added breakpoints on the two API calls you suggested and when I launch the monitoring the following window pops up: https://user-images.githubusercontent.com/15847892/57984839-00c6fa00-7a60-11e9-9546-a7d135a923c5.PNG

Then I click `break` and I attach VS debugger to `python.exe`.  https://user-images.githubusercontent.com/15847892/579

[2019-05-19 18:04] vishwakftw commented on #20682
I haven't put much thought into this, but the names can be changed to avoid overloading:
- Transforms operating on upper / lower bounded domains can be called ConicTransform?
- Transforms operating within an interval can be called ConvexTransform?

These names are probably too specialized, in which case please disregard this. :)

[2019-05-19 22:34] tbenst commented on #14152
I have the same issue on NixOS. Building without MKL "fixes" the error. I am building with MKL `2019.3.299`. Perhaps related to https://github.com/pytorch/pytorch/issues/18365?

[2019-05-19 23:29] jamt9000 opened #20692 "Compiling NCCL does not obey MAX_JOBS, makes machine unresponsive"
## 🐛 Bug

Compiling pytorch causes my laptop to become unresponsive, requiring a hard restart. This is because NCCL is compiled with `make -j` (without a number) which is [dangerous behaviour](https://unix.stackexchange.com/questions/316644/is-make-j-with-no-argument-dangerous) since it causes an unbounded number of processes to be spawned.

This is the line:

https://github.com/pytorch/pytorch/bl

[2019-05-19 23:51] soumith commented on #20692
fix posted in https://github.com/pytorch/pytorch/pull/20693

[2019-05-19 23:53] soumith commented on #20585
hmmm, i wonder if I'm supposed to name it `stable.html` or something so that S3 bucket doesn't serve it as binary content

[2019-05-19 23:56] soumith commented on #20585
I renamed it to `stable.html`. can you give it a try?

[2019-05-19 23:59] soumith commented on #20687
Colab by default only gives 2 cpu cores, from what I know.

please use https://discuss.pytorch.org for questions

[2019-05-19 23:59] #20687 closed

[2019-05-20 00:18] linzwatt opened #20694 "nn.functional.conv functions do not take a padding_mode argument"
## 📚 Documentation

As mentioned in [this post ](https://discuss.pytorch.org/t/a-possible-bug-in-torch-nn-functional-conv1d-2d/44066)

[These docs for functional conv opperations](https://pytorch.org/docs/stable/nn.html?highlight=conv1d#torch.nn.functional.conv1d) show a optional argument `padding_mode`. However when specifying this argument an exception is raised:

`TypeError: conv1d() got an une

[2019-05-20 00:29] Roffild opened #20695 "Py_NewInterpreter()"
Now used PyGILState_Ensure() / PyGILState_Release() turns deadlock.

You must use PyEval_SaveThread() / PyEval_RestoreThread() to support Py_NewInterpreter().

https://github.com/pytorch/pytorch/blob/7b9ee598d64bd35cad9afea8276ebd1c069620d9/torch/csrc/cuda/Module.cpp#L233

https://github.com/pytorch/pytorch/blob/master/torch/csrc/utils/auto_gil.h

[2019-05-20 02:09] CoinCheung commented on #20683
Hi,
There is one thing that I do not quite understand, I modified my code like this:
[code]
Since I modified the code to use 1-d cross-entropy, there should not be randomness from the cross-entropy, but the results of two running this code become:
[code]
and
[code]
They are still different. Did not I eliminate the randomness by using the 1-d cross_entropy?

[2019-05-20 02:24] soumith commented on #6934
it was assigned to me so that I can review SSIM, and figure out whether we should add it into PyTorch core or not. I haven't gotten to it yet, will do soon.

[2019-05-20 02:39] soumith commented on #19540
@yf225 @mrshenli can either of you take a look at it. Seems important enough to bump up priority

[2019-05-20 02:47] marchss commented on #8831
@colesbury That is right, thanks.

[2019-05-20 02:47] mrshenli commented on #19540
Let me investigate.

[2019-05-20 03:13] jerry4h commented on #17433
I found it in `libtorch/include/THC/THCCachingAllocator.h`, and I found his function quite helpful with low time cost.

[2019-05-20 03:21] Kirayue commented on #20643
Is there any update?

[2019-05-20 03:34] peterjc123 commented on #20635
@Jonas1312 What about using `continue` or `step over`?

[2019-05-20 04:37] episodeyang opened #20697 "Indexing by 1-dimension `int64` tensor returns incorrect shape"
## 🐛 Bug

Sometimes indexing by a 1-dimension `int64` tensor with a single element returns a tensor with reduced rank.

## To Reproduce

Steps to reproduce the behavior:

<img width="498" alt="Screenshot 2019-05-19 21 41 52" src="https://user-images.githubusercontent.com/630490/57996908-ec462a00-7a7e-11e9-8ba2-1a7bf5f71bca.png">

This bug gets even better:

<img width="228" alt="Screenshot 2019-05

[2019-05-20 06:42] musikisomorphie commented on #6934
@soumith, I started implementing (MS)SSIM in the torch/nn/functional.py since last weekend. Because it is not so trivial to write it in C++/Cuda, I implemented them simply by using torch operations. Should I keep  going or let you take over?

[2019-05-20 07:00] richardrl commented on #7637
Shouldn't you rename this log_pdf? Probability is usually used to describe the normalized function

[2019-05-20 07:17] ali-r commented on #20687
I see
this is not a question
maybe i should put it under a feature-request

think of it in this way:
workers are independent from main process so they can process parallel to other parts
the dominant Latency in a loader is normally waiting for disk read not cpu time
you can prepare next batch in background before the iterator call
that means you can process loader part parallel to main process (no

[2019-05-20 07:34] marchss commented on #18993
I met the same issue as well

[2019-05-20 07:39] Tiger1994 commented on #9127
for me, I found set thread number equal 0 will solve this problem, namely:
num_workers=0

[2019-05-20 07:41] marchss commented on #18993
@deisler134 @yiling-chen Have you solved it? I have exactly the same error log as yours.

@soumith  is there any steps we can take to solve it?

[2019-05-20 08:31] adler-j commented on #16012
Could you please post your solution to the repeat issue? I'm also finding this very slow.

[2019-05-20 09:30] lironmo commented on #20532
@li-roy
please refer to my questions above before closing.

[2019-05-20 09:52] songziqin opened #20699 "tf.nn.embedding_lookup_sparse C++"
I have two questions:
question one : I decide to  use libtorch for my  training problems, and I want to use the function that have implemented in tensorflow,that is sparse tensor embedding. and I want to know if libtorch have the same interface.

question two: tensorflow have the function tf.concat
,and I want to know if libtorch have the similar interface.

[2019-05-20 10:10] Jonas1312 commented on #20635
@peterjc123 No it's not working sorry

[2019-05-20 10:30] nanditam1 commented on #13661
Hi, I am trying to install pytorch 0.4.1 from source, in an RTX2080 Ti with cuda-10.0. Keep getting this error : THCAtomics.cuh(100): error: cannot overload functions distinguished by return type alone . Kindly help me debug this. Thank you.

[2019-05-20 10:42] lironmo commented on #7320
@colesbury , sorry that i post on closed issue.
i  have problem with the footprint of using pytorch cuda at each process.
you can see https://github.com/pytorch/pytorch/issues/20532,
i believe that there is wrong usage in the cpp that use cuda api - i am not familiar with the torch implementation but it's s
[test_gpu.py.txt](https://github.com/pytorch/pytorch/files/3197441/test_gpu.py.txt)
eem it'

[2019-05-20 11:24] matthiasreisser opened #20700 "batched cholesky decomposition GPU vs. CPU speed"
## 🐛 Bug

Batched Cholesky Decomposition is much slower on GPU than on CPU. For small number of batches, CPU is orders of magnitude faster than the corresponding GPU implementation
## To Reproduce
[code]

Steps to reproduce the behavior:

1. Execute the above function for device "cpu" and "cuda"
2. We observe the following times on a 1080Ti
[code]
3. Investigating Nvidia Nsight logs:
![image](http

[2019-05-20 11:28] marchss commented on #14367
@jainshobhit @ezyang  Have you solved the problem yet?

[2019-05-20 12:46] soumith commented on #20699
please use https://discuss.pytorch.org for questions

[2019-05-20 12:46] #20699 closed

[2019-05-20 12:47] soumith commented on #20532
the context occupying memory is by design of the CUDA / NVIDIA software stack. It's non-actionable because there is nothing we can technically do about it.
We can release the context, because all memory will become invalid.

[2019-05-20 13:07] suchithtuple opened #20701 "DataLoader Problem"
I have training , validation and test dataset. I have created dataloaders for three of them with training shuffle = True and for valdiation and test shuffle = False . So in one of the code epoch loop contains iterator over train and validation and in another one , epoch loop contains iterator over train , validation and test.

It's obvious that train example id's must be same in both the cases but

[2019-05-20 13:22] nicolasCruzW21 commented on #1355
Same problem when using workers>0, pin memory didn't solve the problem.

[2019-05-20 13:28] fehiepsi commented on #20682
Yeah, they are a bit strange to me. :D

[2019-05-20 13:38] veritas9872 commented on #6934
@soumith @musikisomorphie Could I ask for the window size, sigma, K1, and K2 parameters be exposed for users to control? I recently requested this feature from the TensorFlow team because those parameters (especially window size) are important for what exactly SSIM is measuring. The paper I uploaded illustrates the effects of SSIM with different window sizes very nicely.

[2019-05-20 13:51] peterjc123 commented on #20635
Looks like it is caused by trying to initialize cuda (a.k.a do `cuInit`) multiple times.
Because I'm possible to reproduce the same error in https://github.com/pytorch/pytorch/issues/20635#issuecomment-493544995 by doing the following things:
[code]
Since the original issue was made when 1.0.1 is released, I checked the commits between v1.0.0 and v1.0.1 and found that https://github.com/pytorch/py

[2019-05-20 13:55] #17843 closed

[2019-05-20 14:02] soumith commented on #20701
please use https://discuss.pytorch.org for questions

[2019-05-20 14:02] #20701 closed

[2019-05-20 14:02] soumith commented on #20701
if this is a bug report, format it according to our bug report template, and give a small snippet of code that reproduces the bug

[2019-05-20 14:16] #20651 closed

[2019-05-20 15:01] Neabfi commented on #16838
That would be a first step to support hparams in tensorboard. This is a really important missing feature.

<img width="1225" alt="Screen Shot 2019-05-20 at 16 59 07" src="https://user-images.githubusercontent.com/8831940/58031415-a9d52980-7b20-11e9-9fa2-7c7f2d1a15cc.png">

[2019-05-20 15:02] helgehatt opened #20703 "[Feature request] Zero diagonal tensor elements"
## 🚀 Feature
Remove diagonal elements or replace diagonal elements with zero

## Motivation
Using tensors to represent network structure (e.g. sociomatrix) it is often useful to remove information on the diagonal.

## Alternatives
One simple alternative is to subtract the diagonal from the tensor itself.

    def nodiag(input):
        return input.sub(input.diag().diag())

[2019-05-20 15:37] iqDF commented on #4145
Sorry for arriving late. I would agree with @Stonesjtu . Here having the dimensions ordered the same for both output of the RNN, namely `output` and `h_n` are more convenient for developers. So if *input* and *output* has dimension of `(batch_size, seq_length, num_features)` then so shall be the hidden states `h_n` to have `batch_size` as first dimension for consistency.

Thus, I would like to poi

[2019-05-20 16:34] yf225 opened #20704 "Remove unpack() in torch/csrc/nn/type_checks.h and its caller functions in the codebase"
The `unpack()` function in torch/csrc/nn/type_checks.h is not used anymore because we had already killed torch.legacy.nn and all the normal NN ops go through ATen bindings right now. A proper removal of the `unpack()` function would also involve removing all of its caller functions.

[2019-05-20 16:47] umanwizard commented on #18634
@hanmingliu2 A few points:

* PyTorch tensors are **not** implemented as Numpy arrays under the hood, though they are conceptually similar.
* It is in fact possible to create non-contiguous tensors in PyTorch, and pass them to `torch.cat`'s `out` parameter:

[code]

[2019-05-20 16:56] fritzo commented on #20682
I like the idea of a `domain` arg to `AffineTransform`. Another think we should plan for is multivariate `AffineTransform`s using maybe `torch.tensordot` or `torch.einsum`.

[2019-05-20 17:04] iminfine opened #20705 "How to reserve negative values of features extracting by register_forward_hook?"
I am trying to extract features of a certain layer of a pretrained model. The fellowing code does work, however, the values of template_feature_map changed and I did nothing of it.

    vgg_feature = models.vgg13(pretrained=True).features
    template_feature_map=[]
    def save_template_feature_map(self, input, output):
        template_feature_map.append(output.detach())
        print(template_f

[2019-05-20 17:07] PranovD opened #20706 "Add support for Visual Studio 2019"
## 🚀 Feature

Can you please add support for building from source in Visual Studio 2019
## Motivation
It would allow developers who do not have the previous Visual Studio versions to work with and contribute to this repository.

## Pitch

Add support for building in Visual Studio 2019 to increase potential contributors with a relatively easy fix.  Most of what is needed would be updating scripts/b

[2019-05-20 17:09] ezyang commented on #20486
We're going to close this as a duplicate of #20527 and yes we agree this is high priority and a bug.

[2019-05-20 17:14] ezyang commented on #20376
@ailzhang suggests maybe we add a assertEqualAndDtype.  @izdeby says that he had the assumption that it had the exact same dtype checked.

I think this suggested change is fine, but we should check if there are other asserts (e.g., assertAllClose shouldn't check the dtype, since things are expected to be a little different). It will be good to find out exactly what breaks if we make it more strict

[2019-05-20 17:14] colesbury commented on #20697
This looks like the expected behavior?

[2019-05-20 17:16] colesbury commented on #20697
Also please update the "steps to reproduce" so that it's actually reproducible. For example, don't use images of code and include the full definition of variables (objs, a, etc.). The "steps to reproduce" should preferably be a self-contained script that someone else can run. It also helps to point out where the behavior is different than expected.

[2019-05-20 17:17] ezyang commented on #20156
@ilia-cher According to @VitalyFedyunin, you have a plan of attack for tackling this problem. Would you mind posting it here? (We were reviewing this issue at the weekly triage meeting.)

[2019-05-20 17:23] ezyang commented on #11695
Some thoughts:
* It seems reasonable
* Adding this support will make the Python bindings somewhat more complex, but it shouldn't result in a performance slowdown. This feature must be implemented in C++.
* It's not clear if adding this will cause some overloads to become ambiguous (because you can't tell the difference between an IntArrayRef and a Tensor anymore), this would have to be investigate

[2019-05-20 17:25] ezyang commented on #20518
cc @soumith, what do you think?

[2019-05-20 17:31] ezyang commented on #16838
cc @lanpa since apparently this is TensorBoard related

[2019-05-20 17:33] ezyang commented on #16838
@gchanan: It's really not clear if this is appropriate to put in PyTorch, or just some higher level wrapper. There doesn't seem to be any real connection to the rest of PyTorch. Is there a parameter sweep? Can I pass it to an optimizer?

[2019-05-20 17:38] ezyang commented on #20311
cc @pietern @mrshenli @VitalyFedyunin

[2019-05-20 17:39] vishwakftw commented on #20700
Hi Matthias,

Thank you for raising this issue.

I've noticed that using GPU for larger batches and/or matrices is more effective. For instance, I ran the function that you have provided with n_rep = 100, batches = 100 and dim = 160 , and the GPU implementation outperformed the CPU implementation by over a second (cumulatively).

[2019-05-20 17:40] ezyang commented on #20311
@VitalyFedyunin thinks that this might be related to the fact that we have parallelized a lot more code, and so functions which used to be single threaded are now multi threaded, and that means that you have more threads than cores and performance suffers.

CC @ilia-cher

[2019-05-20 17:41] vishwakftw commented on #20703
You can probably try this:
[code]

This makes the diagonal elements zero inplace.

[2019-05-20 18:18] umanwizard commented on #11695
@ezyang I agree with your assessment

[2019-05-20 18:27] ezyang commented on #20527
cc @chandlerzuo

[2019-05-20 18:40] gchanan commented on #20705
Please use https://discuss.pytorch.org (https://discuss.pytorch.org/) for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-05-20 18:40] #20705 closed

[2019-05-20 18:53] gchanan commented on #20697
I couldn't reproduce this, i.e.

[code]

so I'm going to close, please reopen if I've done something incorrect.

[2019-05-20 18:53] #20697 closed

[2019-05-20 18:54] cpuhrsch commented on #19001
I'm confused by the distinction between cores and threads. Usually the number of threads is twice the number of cores (due to Hyper-threading). Which one is it?

[2019-05-20 18:54] gchanan commented on #20703
seems to be supported.

[2019-05-20 18:54] #20703 closed

[2019-05-20 19:02] soumith commented on #20518
I'm pretty sure that providing a source distribution wont solve the problem -- because of dependencies (our git submodules and stuff), and the CUDA / CuDNN dependency

[2019-05-20 19:06] gchanan commented on #20683
I think this fits under https://github.com/pytorch/pytorch/issues/15359, going to mark this as a duplicate.

[2019-05-20 19:06] #20683 closed

[2019-05-20 19:10] suchithtuple opened #20717 "Problem with DataLoader"
## 🐛 Bug

## To Reproduce
I have training , validation and test dataset. I have created dataloaders for three of them with training shuffle = True and for valdiation and test shuffle = False . So in one of the code epoch loop contains iterator over train and validation and in another one , epoch loop contains iterator over train , validation and test.

Check the output of the code 1 and 2
1. https

[2019-05-20 19:10] gchanan commented on #20695
I'm not sure I understand.  Is this a request that we support multiple interpreters in Python 3.9+?

[2019-05-20 19:15] gchanan commented on #11695
One additional piece of information that I think needs to be captured:

this makes it very easy to get slow behavior and to not understand why.  This is the same reason we don't support automatically converting cuda tensors to numpy tensors.

For example:
[code]

This means each time I have to do a copying conversion.

[2019-05-20 19:17] suchithtuple commented on #20701
I formatted according to the template and raise the issue here : https://github.com/pytorch/pytorch/issues/20717

Is there anything other than this do let me know.  Apologies for the inconvenience caused.

[2019-05-20 19:22] gchanan commented on #20694
looks like a real issue.

[2019-05-20 19:32] episodeyang commented on #20697
I couldn’t reproduce this on a Mac either. This only occurs during run time
on learnfair, with CUDA loaded.

The problem is persistent and the screenshot shows the problem does exist.

On Mon, May 20, 2019 at 11:54 AM gchanan <notifications@github.com> wrote:

[2019-05-20 19:38] umanwizard commented on #11695
Oh, I didn't read the issue carefully enough, I thought it was only requesting it for cases like `torch.sqrt(9.0)`.

Accepting arbitrary python lists and silently converting them is indeed a different thing... I'm not convinced the value outweighs the drawbacks of silent copying.

[2019-05-20 19:45] colesbury commented on #20697
@episodeyang what exactly is the problem?

[2019-05-20 19:48] Jonas1312 commented on #20635
@peterjc123 Ok, so I've tried what you've suggested and unfortunately it didn't work:
[code]
[code]

[2019-05-20 19:53] episodeyang commented on #20697
Hey Sam, I tried pretty hard to reproduce this, but it seems that it only happens with an actual run. This is why I attached the screenshot to show the problem.

The issue is that somehow, if you have a 1-dimensional tensor with only 1 element, and you use it to index another tensor, the returned tensor is short on one dimension. But casting the tensor to list works:

![](https://user-images.githu

[2019-05-20 19:57] mrshenli commented on #19540
It looks like the [replicated module copies](https://github.com/pytorch/pytorch/blob/9fbce974c96a7768ce38f860bebcd9f17a66c9ec/torch/csrc/api/include/torch/nn/parallel/data_parallel.h#L41) are not [accumulating grads](https://github.com/pytorch/pytorch/blob/9fbce974c96a7768ce38f860bebcd9f17a66c9ec/torch/csrc/api/include/torch/nn/cloneable.h#L36) back to the original module (confirmed with @goldsbor

[2019-05-20 20:08] rajasrijan commented on #12819
Is there any workaround, I'm having same problem?

[2019-05-20 20:11] SsnL commented on #20717
Your iteration over test advances rng state.

[2019-05-20 20:11] #20717 closed

[2019-05-20 20:12] SsnL commented on #20619
you can already do that in dataset if you use `spawn` starting method

[2019-05-20 20:21] ilia-cher commented on #20156
@ezyang it's pretty much what I posted above - we do need to call `at::init_num_threads` from each new thread, we already do this in places we control (e.g. internal thread pools), but if users create new std::threads then they need to call it there. We might be able to do this automatically for the `main` thread.

[2019-05-20 20:21] Roffild commented on #20695
I use embedded Python 3.7 with interpreters.

Pytorch on the CPU normally performs inside the interpreter. But when you try to use a GPU, a deadlock happens. I assume that you should use PyEval_SaveThread instead of PyGILState_Ensure.

[2019-05-20 20:37] ilia-cher commented on #19001
@cpuhrsch that's the meaning used here, number of physical threads = twice the number of cores (if HT is enabled)

[2019-05-20 20:50] ngimel opened #20722 "MultiheadAttention is not scriptable"
## 🐛 Bug

When trying to use MultiheadAttention in torch.jit.ScriptModule, errors result
## To Reproduce
[code]
[code]
## Expected behavior
MultiheadAttention module can be used in ScriptModule. After the error above is resolved, the next one I think will be `.new_zeros` not being scriptable.

## Environment
Fresh compile from master (09f22d10) python 3.6

cc @zhangguanheng66

[2019-05-20 20:56] zhangguanheng66 commented on #20722
@ngimel  Thanks for reporting the bug. We are currently resolving the JIT issue related to the MultiheadAttention module.

[2019-05-20 20:57] Roffild commented on #20695
Perhaps the reason elsewhere.

But, the call stack of deadlock:

https://github.com/Roffild/RoffildLibrary/blob/c38ba6babd0935704fd30abeb58b953e33ede3e9/Libraries/Roffild/PythonDLL/PythonDLL.c#L168

[code]

[2019-05-20 20:58] zhangguanheng66 commented on #20722
@suo @soumith @cpuhrsch

[2019-05-20 21:15] skrah commented on #18862
Done in #20448.

[2019-05-20 21:15] #18862 closed

[2019-05-20 21:22] zhangguanheng66 commented on #20722
I made some tests. After removing those internal functions in multi_head_attention_forward() (see https://github.com/pytorch/pytorch/pull/20653/files), I don't run into the same error above. So I think we should fix the jit issue, and then the next step is to support new_zeros operator in TorchScript.

[2019-05-20 21:35] pjh5 commented on #17492
We believe that we've confirmed that devtoolset cannot build with the new gcc ABI. In order to fix this we would have to swap out the toolchain, which will take more effort. There will be further delays in this.

[2019-05-20 21:43] zhangguanheng66 commented on #20588
Another issue is related to jit when using torch.nn.MultiheadAttention module. https://github.com/pytorch/pytorch/issues/20722

[2019-05-20 21:44] houseroad commented on #20453
this is caused by the support of dynamic shape in pytorch jit tracer. We are working on a flag to turn this off. cc: @spandantiwari

[2019-05-20 21:57] andrewnaguib commented on #16885
@apaszke, your workaround does not seem to be working properly.

[2019-05-20 22:14] houseroad commented on #20643
@Dreamgang could you provide a script to reproduce the problem?

[2019-05-20 22:25] ngimel commented on #20722
`.new_zeros` (non-scriptable) can be replaced by `torch.zeros` (scriptable), but then all the options (dtype, device) will have to be specified. `new_zeros` is a legacy constructor, so I don't know if it makes sense to add it to jit.

[2019-05-20 22:29] yaroslavvb opened #20728 "pythonb -m torch.distributed.launch doesn't propagate non-0 status of child process"
Right now if child process crashes, with `python -m torch.distributed.launch script.py` will return with a 0 return code. It should instead propagate non-zero exit status so that the launching environment could detect the failure

[code]

[2019-05-20 22:47] yaroslavvb commented on #20403
On Mac, upgrading pytorch to 1.1 with pip results in
[code]
Solution for Mac
[code]

[2019-05-20 23:01] fuzzyBatman commented on #10203
This is not helping the rest of us :'(

[2019-05-20 23:08] wanchaol opened #20734 "[jit] set up views for Autodiff and autograd hooks"
Derived from bug #19769 , Here is what we found that is missing in our Autodiff infrastructure.  In Autodiff, we don't set up the views for inputs/outputs after we execute the forward graph(see this [TODO](https://github.com/pytorch/pytorch/blob/be33434d85953fe6f237d475cc8ae2e9a822ed34/torch/csrc/jit/graph_executor.cpp#L350)). This disables us from adding complicated Ad formulas (such as `linear`

[2019-05-20 23:58] jerryzh168 commented on #20535
close?

[2019-05-21 00:02] jerryzh168 commented on #20611
Please use https://discuss.pytorch.org (https://discuss.pytorch.org/) for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-05-21 00:02] #20611 closed

[2019-05-21 00:18] zdevito commented on #20535
This shouldn't be closed until https://github.com/pytorch/pytorch/blob/master/.gitmodules#L84 no longer points to /zdevito/sleef. It would need a PR to switch the submodule and to test it doesn't break anything.

[2019-05-21 00:54] peterjc123 commented on #20706
What error did you get when you build with VS 2019? BTW, you'll need CMake >=3.14.3.

[2019-05-21 00:56] peterjc123 commented on #20706
Sorry, I misunderstood it. The fix is on the way.

[2019-05-21 00:56] gatapia commented on #20092
Thanks, works as described.

[2019-05-21 00:56] #20092 closed

[2019-05-21 01:09] seongwook-ham commented on #20311
but i have test code on dgx-1(40core 80 thread with 8gpu) and 6950x(10core 20thread with 4gpu), same phenomenon occurs

[2019-05-21 02:27] zhangguanheng66 commented on #20588
@suo We are currently experience the JIT issue when implementing torch.nn.MultiheadAttention module. Although we have submitted a PR to work around the issue, it would be very helpful to resolve it since our transformer model/PR heavily depends on the torch.nn.MultiheadAttention module. There is another issue related to torchscript https://github.com/pytorch/pytorch/issues/20722.

[2019-05-21 03:14] keunhong commented on #15716
I'm also running into this issue where if I compute the loss based on tensors returned in a `dict` from `forward` then I get `None` as the gradients if I'm using `DataParallel`

Are there any know workarounds for this?

[2019-05-21 03:21] marchss opened #20742 "Libtorch C++ Silently Fails to Generate Static Library libtorch.a"
## 🐛 Bug

Below is all the library generated which does not contain the libtorch.a. No error messages are observed.

libprotobuf-lite.a
libclog.a
libcpuinfo_internals.a
libcpuinfo.a
libpthreadpool.a
libqnnpack.a
libnnpack_reference_layers.a
libonnxifi_loader.a
libonnxifi_dummy.so
libfoxi_loader.a
libonnxifi.so
libfoxi_dummy.so
libfoxi.so
libgloo.a
libprotobuf.a
libgloo_builder.a
libprotoc.a
libonn

[2019-05-21 03:25] hexiaoting opened #20743 "[caffe2] convert Onnx DynamicSlice operator to caffe2 failed"
## 🐛 Bug
When I convert onnx dynamicSlice operator to caffe2, it failed.
[code]
I found the reason is DynamicSlice's input_size is 3, and we should get the inputs from index 0-2 rather then 3:
caffe2/onnx/backend.cc
[code]

## To Reproduce

Steps to reproduce the behavior:
1.Original model:    tensorflow's [inceptionv4 model](https://github.com/tensorflow/models/tree/master/research/slim)
2.conver

[2019-05-21 04:40] ailzhang commented on #20638
Closing as duplicate of #11695

[2019-05-21 04:40] #20638 closed

[2019-05-21 04:54] syed-ahmed commented on #16944
Regarding the case,
[code]
when we overflow, the modulo divisor becomes 0. And it turns out the modulo by zero in CUDA is returning 0xFFFFFFFF or -1. Which gives the value -1-2**31 = 2147483647. Following is a small repro. I'm still trying to figure out why that is the case. This seems to be relevant: https://stackoverflow.com/a/12965050

#### Repro:
[code]
#### Output:
[code]

[2019-05-21 05:18] Aeroxander commented on #19374
I wasn't even using this particular style transfer project but I had the same issue! Hope it gets fixed soon, I'll just stay at 1.1 for now! (unless it will take super long for the fix but it seems it's almost fixed)

[2019-05-21 05:20] suchithtuple commented on #20717
How can I preventing that or there is no way to get the outputs of two codes same.

[2019-05-21 05:47] ameet20 opened #20747 "kernel and padding doesn't work properly"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

self.model = nn.Sequential((nn.AvgPool2d(kernel_size = 6 )))(x)
1.x = [16,1,3,6]
1.No error message despite the fact that no padding was allowed by configuration.

## Expected behavior

I was expecting an error message like in TF

## Environment

Please copy and paste the output from our
environment collection script
(or fill out the che

[2019-05-21 05:53] veritas9872 commented on #20619
Thank you. I just figured out how to do it.

[2019-05-21 05:53] #20619 closed

[2019-05-21 06:56] lizhan17 commented on #13381
put torch.cuda.synchronize() befoere start = time.time() also.
I am looking forward to your results.

[2019-05-21 07:14] jasonlovescoding commented on #20643
@houseroad I've got the same problem here. It happens when you pass a non-2D tensor to a softmax layer. For instance,
[code]
will reproduce this problem when you pass in a tensor of shape [1,3,224,224]

[2019-05-21 08:09] oftenliu opened #20748 "Segmentation fault when use torch::from_blob"
my code like this:
'''
#include <torch/script.h>
#include <torch/torch.h>
#include <opencv2/opencv.hpp>
#include <opencv2/imgproc/imgproc.hpp>

#include <iostream>
#include <memory>
#include <string>
#include <vector>

/* main */
int main(int argc, const char* argv[]) {
  if (argc < 3) {
    std::cerr << "usage: example-app <path-to-exported-script-module> "
      << "<path-to-image>  <path-to-cat

[2019-05-21 08:57] InnovArul commented on #20717
A possible solution could be: https://github.com/pytorch/pytorch/pull/20749

[2019-05-21 09:01] ShahriarSS commented on #19545
@yf225 I compiled the lastest PyTorch and the problem still persists.

[2019-05-21 09:02] selimarikan commented on #5560
Can reproduce the error but still sporadic. I have 2 GPUs in the machine. An interesting detail is that this only happens on RTX 2080Ti but not on GTX Titan.
CentOS 7
Python 3.6.5
PyTorch 1.1.0
nvidia-smi 418.43
nvidia-driver 418.43
CUDA 10.1

[2019-05-21 09:30] allegroai commented on #20585
Still doesn't work:
[code]

[2019-05-21 09:40] HelloSeeing opened #20750 "libcurand.so.8.0: cannot open shared object file"
## 🐛 Bug
import torch
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.5/dist-packages/torch/__init__.py", line 79, in <module>
    from torch._C import *
ImportError: libcurand.so.8.0: cannot open shared object file: No such file or directory

## Environment

Please copy and paste the output from our
[environment collection script](https://ra

[2019-05-21 10:01] monchin commented on #7181
@zou3519  , I'm sorry to dig this issue out, but would you please illustrate in detail how to add synchronization?
My code:
[code]
And I got the same error. I can get 2 `finish`, yet I can't `q.get()`. But if I `q.get()` right after `q.put(batch_tensor)` in `kernel`, I can get from `q`. Would you please give me some advice, for example give a doc or an example on how to add synchronization? Thank

[2019-05-21 10:14] peterjc123 commented on #20706
The fix is in https://github.com/pytorch/pytorch/pull/20752. However, we won't change the default generator this time.
Should we add a flag for the user to choose between VS 2017/2019, or just do it for the user? If the latter one is preferred, then we have two options:
1. Use `_overlay_vc_env` to get the latest env, but it is not available on all python versions.
2. Use `vswhere`, but that will i

[2019-05-21 10:24] peterjc123 commented on #12004
@RobbyHuang Would you please try this: https://stackoverflow.com/questions/2429511/why-do-people-write-the-usr-bin-env-python-shebang-on-the-first-line-of-a-pyt?

[2019-05-21 10:41] fermat97 commented on #4361
@root-master @dhpollack  Can we do something `net.module.load_state_dict(pertained_weights) ` for the optimizer?

[2019-05-21 10:51] RobbyHuang commented on #12004
@peterjc123 Thank you for your reply. I have handled this problem. I successfully run a .py file through a sh file using the command `sh ./experiments/scripts/train_linemod.sh` but  not `**sudo** sh ./experiments/scripts/train_linemod.sh`

In addition, I have tried to add either  `/usr/bin/python` or `/usr/bin/env`,  but I still failed to run a .py file through a sh file using the command `$ **sud

[2019-05-21 11:50] dhpollack commented on #4361
@fermat97 this is not the right place to be asking these questions.  You should go to the pytorch forums.

https://discuss.pytorch.org/t/saving-and-loading-a-model-in-pytorch/2610/3

That discussion seems to be what you are looking for.

[2019-05-21 12:49] Frefreak opened #20753 "cmake for Torch unusable in archlinux"
## 🐛 Bug

When running the example of using libtorch with cmake, it errors about missing `libc10_cuda` during `find_library(Torch REQUIRED)`:

[code]

It tries to find it under `/usr/lib`, but arch's package manager installs it to `/usr/lib/pytorch`. So it's either the packager didn't install it to the correct place, or the  `Caffe2Targets.cmake` file not rigorous enough about ELF location.

What'

[2019-05-21 12:50] kangkang59812 opened #20754 "Pytorch 1.1 change the pre-model path?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)
the previous path is  root/.torch/model , now in Pytorch 1.1  I found that the path i

[2019-05-21 13:12] Santiago810 commented on #2517
alternative solution: use threading to replace multiprocessing in inference function(which will call model.forward()), other data pre/post-processing function still use multiprocessing module.

[2019-05-21 13:13] vadimkantorov opened #20755 "Type conversion from float64 to float32 (cpu) sometimes crashes"
[code]

[bug.zip](https://github.com/pytorch/pytorch/files/3202664/bug.zip)

[2019-05-21 13:37] trougnouf opened #20756 "AttributeError: 'Conv2d' object has no attribute 'padding_mode' when loading model from pytorch 1.0 to 1.1"
Loading a model created with pytorch 1.0 fails on pytorch 1.1 with the error "AttributeError: 'Conv2d' object has no attribute 'padding_mode'".

This issue was also reported on https://github.com/jacquelinelala/GFN/issues/11 .

complete backtrace:
[code]
Example of problematic model: https://github.com/trougnouf/mthesis-denoise/blob/master/networks/Hul.py , loaded with model = torch.load(args.load

[2019-05-21 13:42] ygabuev commented on #10043
Don't know whether this should belong to "sparse" pytorch, but a tridiagonal solver would be very helpful, for example, for spline interpolation. cuSparse [already has](https://docs.nvidia.com/cuda/cusparse/index.html#gtsv2) the corresponding routines, the only problem is exposing them via a pytorch interface in some form.

[2019-05-21 13:57] nv-kkudrynski opened #20757 "torch.hub does not close the resource before removing"
## 🐛 Bug

In the hub.py, line 169 should be preceded by:
cached_zipfile.close()
Otherwise on Windows, it will crash with PermissionException

## To Reproduce

Steps to reproduce the behavior:

1. Call torch.hub.load() on external repo on windows

File "...\python36pytorch\lib\site-packages\torch\hub.py", line 83, in _remove_if_exists
    os.remove(path)
PermissionError: [WinError 32] The process c

[2019-05-21 13:58] akjindal53244 commented on #20518
Hi @soumith , Is there any workaround to this problem? Also, since source distribution of pytorch is available, is there a way to install pytorch from there itself? currently while installing, it says:

[2019-05-21 15:09] goncamateus commented on #19353
Any update about it?

[2019-05-21 15:38] nairbv commented on #14571
I think I need some feedback on expected behavior. Tests fail in the PR but I'm not sure if those tests are valid ... there are tests that I think are modifying grad inputs that they shouldn't be modifying.

[2019-05-21 15:49] boeddeker commented on #7609
Is there a counterpart to `numpy.transpose(x)` (or `x.T`) for more than two dims?
Or am I forced to use `x.permute([2, 1, 0])`?

[2019-05-21 16:12] colesbury commented on #20755
@vadimkantorov PyTorch version?

[2019-05-21 16:16] vadimkantorov commented on #20755
Master

[2019-05-21 16:53] HenryJia commented on #13061
Also getting this error with the lastest version of master as of this comment

../caffe2/perfkernels/common_avx2.cc:17:2: error: #error ( "You found a build system error: __AVX2__ is defined (via e.g. -mavx2) " "but CAFFE2_PERF_WITH_AVX2 is not defined.");
...
../caffe2/perfkernels/common_avx512.cc:18:2: error: #error ( "You found a build system error: __AVX512F__, __AVX512DQ__, __AVX512VL__ " "is

[2019-05-21 18:10] Kunlun-Zhu commented on #20029
what?

[2019-05-21 18:13] ezyang commented on #16608
Still failing: https://circleci.com/gh/pytorch/pytorch/1738847?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-05-21 18:18] SsnL commented on #16608
@ezyang please disable if you see it happens again. i'll add strace printing to it after neurips deadline on thursday, and hopefully we can understand what the heck is going on.

[2019-05-21 18:30] yifuwang commented on #20240
I'm interested in working on this. @kamathhrishi are you currently working on it?

[2019-05-21 18:36] eellison opened #20769 "[JIT] Better Python String Support"
## [JIT] Support All Python String methods

Tracking issue for parity with python strings.

- [x] capitalize()
- [ ] casefold() - skipped
- [x] center()
- [x] count()
- [ ] ~~encode()~~ - maybe skip this one since everything is already unicode
- [x] endswith()
- [x] expandtabs()
- [x] find()
- [x] format()
- [ ] format_map() - skipped
- [x] index()
- [x] isalnum()
- [x] isalpha()
- [x] isdecimal()

[2019-05-21 19:32] nvinayvarma189 commented on #6570
Yeah, I have the same query as @beyondpie has. Is it possible to use Pytorch through Jython? JNI is required to run the CPython extensions. Right? Even if this is possible, I'm not sure how smooth this can be considering that Jython supports only Python 2.X and JNI can handle only CPython extensions (like numpy), meaning if pytorch has dependencies other those which are CPython extensions, even JN

[2019-05-21 20:01] gchanan commented on #19545
I was able to reproduce this.

[2019-05-21 20:31] soumith commented on #20754
please use https://discuss.pytorch.org for questions

you can specify $TORCH_HOME environment variable that points to previous path and we will respect it. It's written in the documentation

[2019-05-21 20:31] #20754 closed

[2019-05-21 20:33] soumith commented on #20750
you have an older pytorch install somehow on your machine.

[2019-05-21 21:02] kamathhrishi commented on #20240
@yiruwang yep I am working on this. Just jage a bit more to go.

[2019-05-21 21:09] #15601 closed

[2019-05-21 21:32] charleshofer opened #20776 "Caffe2: executor_test.py::ExecutorGPUResNetTest fails with an AssertionError"
## 🐛 Bug

The `executor_test.py::ExecutorGPUResNetTest::test_executor` test case fails on both x86 and Power9 with an error about a blob be completely different on different runs.

## To Reproduce

Steps to reproduce the behavior:

1. Install Caffe2
2. Run `python caffe2/python/test/executor_test.py ExecutorGPUResNetTest`

The `test_executor` case fails with an error about `comp_2_sum_3_grad_autos

[2019-05-21 21:33] soumith commented on #20747
can you please actually give a working code snippet, and fill out the other parts of the bug report and reopen

[2019-05-21 21:33] #20747 closed

[2019-05-21 21:35] soumith commented on #20742
on master it's temporarily called `libcaffe2.a`. It's correct in a release branch. The PR https://github.com/pytorch/pytorch/pull/20774 will fix it back to `libtorch.a`

[2019-05-21 21:44] charleshofer opened #20777 "Caffe2: operator_test/instance_norm_test.py::TestInstanceNorm::test_instance_norm_gradients tes case fails with "RuntimeError: dim() called on undefined TensorError from operator""
## 🐛 Bug

The `operator_test/instance_norm_test.py::TestInstanceNorm::test_instance_norm_gradients` test case fails with a RuntimeError about ` test case fails intermittently

## To Reproduce

Steps to reproduce the behavior:

1. Install Caffe2
2. Run `python caffe2/python/operator_test/instance_norm_test.py TestInstanceNorm`

The test fails on `test_instance_norm_gradients` with the following err

[2019-05-21 21:46] sidazhang opened #20778 "Support One step transform to numpy"
## 🚀 Feature
Writing         `print tensor.detach().cpu().numpy()` gets really annoying. Can you provide a method that just takes you to numpy in one step?

Like `fnumpy` (force to numpy). So if it has gradient, it will detach it for you, if it is cuda, it will move to CPU for you etc.

[2019-05-21 21:52] dashesy commented on #9703
Currently `std`/`var` behave differently from the rest

[code]

[code]

[2019-05-21 21:53] fmassa commented on #20778
maybe pass an argument to `.numpy()`, something like `.numpy(force=True)`?

[2019-05-21 21:58] yifuwang commented on #20704
I'd like to take this. Question: are `check_type` and friends in torch/csrc/nn/type_checks.h still relevant?

[2019-05-21 22:07] yf225 commented on #20704
@yifuwang I think we can try to remove `unpack()` first, and then as a second step we can try to remove `check_type` and friends and see if the test complains.

[2019-05-21 22:07] ezyang commented on #20778
This seems reasonable to me. More context at issue #9934 where our implicit conversion accidentally allowed conversion to CPU, and we rejected PR #20395 because it would have affected implicit conversion.

Actually, let me say something controversial: I think that if you *explicitly* say `x.numpy()`, we should do the "force" behavior. It's just implicit conversions where they need to be O(1).

[2019-05-21 22:10] ezyang commented on #20750
Yeah, try reinstalling PyTorch; if that doesn't work, try making a fresh conda environment and installing.

[2019-05-21 22:10] #20750 closed

[2019-05-21 22:13] ezyang commented on #20756
This should work, we can probably fix it by making the deserializer smarter.

[2019-05-21 22:15] ezyang commented on #20757
cc @ailzhang

[2019-05-21 22:17] ezyang commented on #20753
I think this is a packaging problem. Could you report this problem to the python-pytorch-cuda maintainer (it's not us) and link the issue here

[2019-05-21 22:19] ezyang commented on #20748
How did you install libtorch? Does this problem occur if you install libtorch from scratch? If it does not, I think you're afflicted by: #15949

[2019-05-21 22:27] ailzhang opened #20781 "python2 imp.find_module cannot find .egg packages"
This is fixed in python3 import logic following [PEP0302](https://www.python.org/dev/peps/pep-0302/) but in python2 relies on `imp.find_module` to find dependencies. This affects `torch.hub`.
We will have to work around it using https://stackoverflow.com/questions/28962344/imp-find-module-which-supports-zipped-eggs?lq=1.
I will send a fix.

[2019-05-21 22:28] ezyang commented on #13381
To answer your original question:

Not for the code you've listed here. So there's almost certainly something wrong with the benchmarking setup here, somewhere, since at the end of the day the PyTorch code calls the ATen code.

You didn't say how you installed PyTorch and libtorch. Another thing to check is whether or not the same CUDA kernels are being run in both cases; you can quickly check usi

[2019-05-21 22:28] #13381 closed

[2019-05-21 22:29] ezyang commented on #20743
Thanks for the report. Would you like to submit a PR with your change? (I am not too familiar with this code so I cannot easily tell at a glance if it is right or not.)

[2019-05-21 22:30] ezyang commented on #20728
This sounds reasonable to me, I can review such a PR if it is submitted.

[2019-05-21 22:40] #20755 closed

[2019-05-21 23:26] ezyang commented on #6570
I'm not going to say it's impossible. It's going to take someone with determination though.

[2019-05-21 23:55] ppwwyyxx opened #20785 "grid_sample is not aligned"
`F.interpolate` has been changed to use `align_corners=False` by default, which is also the pixel model used by opencv/PIL, etc.

The input to `grid_sample` is in range `[-1, 1]`, and therefore should ideally be scale-invariant.
However, `F.grid_sample` still uses the old pixel model: https://github.com/pytorch/pytorch/blob/65b00aa5972e23b2a70aa60dec5125671a3d7153/aten/src/ATen/native/cuda/GridSam

[2019-05-22 00:54] xiaoxiaotao opened #20788 "terminate called after throwing an instance of 'c10::Error'"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2019-05-22 00:54] xiaoxiaotao opened #20789 "terminate called after throwing an instance of 'c10"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-05-22 02:15] Frefreak commented on #20753
ok, will do.

[2019-05-22 02:15] #20788 closed

[2019-05-22 02:16] #20789 closed

[2019-05-22 02:36] xiaoxiaotao opened #20792 "libtorch terminate called after throwing an instance of 'c10::Error'"
## 🐛 Bug
I use the libtorch(version 1.1.0) inference faceboxes(https://github.com/XiaXuehai/faceboxes),it can normally generate faceboxes.pt model,but when I inference the model  faceboxes.pt ,it report some error.my code:
`from networks import FaceBox
from encoderl import DataEncoder
import torch
import numpy as np
import torch.nn.functional as F
import cv2
import time

import torchvision
im=cv2.

[2019-05-22 02:59] xsacha commented on #20792
This is the correct error.

The return value of model->forward is a C10::IValue.
Faceboxes model returns a Tuple, not a Tensor.

You need to do this:

[code]

The variable `outputs` now contains your bounding boxes and your confidence tensors.

[2019-05-22 03:05] tjusxh opened #20794 "pytorch1.1.0 windows than one operator " " matches these operands"
When I compile the c++ extension on windows with pytorch1.1.0. I get the following error.
How to resolve the question? Thanks!
E:/Program Files/Python35/lib/site-packages/torch/include\THC/THCNumerics.cuh(190 than one operator "<" matches these operands:
            built-in operator "arithmetic < arithmetic"
            function "operator<(const __half &, const __half &)"
            operand type

[2019-05-22 03:08] dwilliams999 commented on #6570
It is not currently possible.   Your best best is to use the Tensorflow JNI bindings, and write a DSL layer.  The PyTorch authors have decided not to support Java, and that’s the current state.

@beyondpie @nvinayvarma189

[2019-05-22 03:13] dwilliams999 commented on #6570
One other thing, the Jython interpreter is heavy, expensive, and not thread safe.  I recommend LuaJ, Clojure, or JavaScript with Nashorn / GraalVM.

[2019-05-22 03:24] ailzhang commented on #20588
@zhangguanheng66 is it easy to get a repro from master? (do I have to revert a lot?

[2019-05-22 03:51] sidazhang commented on #20778
I agree. Like, if I am calling `.numpy()`, I am already explictly saying `detach` and if in cuda, move to cpu.

[2019-05-22 04:11] peterjc123 commented on #20794
Please provide the version numbers of VS, CUDA.

[2019-05-22 04:45] vadimkantorov commented on #20778
I think a useful framing is: should the same operation `numpy` be strictly zero-overhead or sometimes causing a copy from CUDA to CPU? Another question is: should an implicit conversion do the same thing that the explicit one (e.g. sometimes incurring a GPU-CPU copy).

Many answers make sense, but it should be well-documented.

[2019-05-22 05:12] xiaoxiaotao commented on #20792
@xsacha,thank you !

[2019-05-22 05:12] #20792 closed

[2019-05-22 05:38] tjusxh commented on #20794
@peterjc123 CUDA9.0 VS 2015

[2019-05-22 05:45] draplater opened #20798 "Version 1.1.0 get "No grad accumulator for a saved leaf!" in ScriptModule"
## 🐛 Bug

When using LayerNorm in ScriptModule in version 1.1.0, I get "RuntimeError: No grad accumulator for a saved leaf!". But it's OK in 1.0.1.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Get "RuntimeError: No grad accumulator for a saved leaf!" in 1.1.0. But it's OK in 1.0.1,or with torch.jit removed in 1.1.0.

## Environment

PyTorch version: 1.1.0
Is de

[2019-05-22 05:49] bnehoran commented on #20785
Yes. I agree that the convention for `F.grid_sample` should be updated to match that of `align_corners=False` in `F.interpolate`.
This would allow `F.grid_sample` to be agnostic to the size of the sampled image.

The way it is currently defined, -1 and 1 refer to the centers of the edge pixels, which is not a consistent location on images of different sizes. To make this size-agnostic, these shoul

[2019-05-22 05:51] peterjc123 commented on #20794
You'll need to activate VS 15.4 since 15.9 will be the default if you don't do that, and it will be not compatible with CUDA 9. Make sure you installed `VC++ 2017 version 15.4 v14.11 toolset` and try the following script.
[code]

[2019-05-22 06:00] bnehoran commented on #20785
In case it helps to see it visually, here is part of a presentation I gave last August that referenced this problem:
https://docs.google.com/presentation/d/1sjPK4DwIuI0HUHF4jvwlErxCaDVidsybt_uNdrB7aog/edit?usp=sharing

The important slides are this one, which shows the -1 and +1 reference moving around when upsampling/downsampling with the current `grid_sample` convention:
![image](https://user-im

[2019-05-22 06:07] peterjc123 commented on #20686
@ezyang May I know how are these source files generated so that I can fix this issue?

[2019-05-22 06:07] xkszltl commented on #20046
Any news on this?
FYI the issue still there so far (from a build yesterday)
![image](https://user-images.githubusercontent.com/5203025/58150972-20efe800-7c1d-11e9-9f28-6ea39a590a57.png)

[2019-05-22 06:16] tjusxh commented on #20794
@peterjc123  Thanks for your quickly reply. How to run the following script?

for /f "usebackq tokens=*" %i in (`"%ProgramFiles(x86)%\Microsoft Visual Studio\Installer\vswhere.exe" -version [15^,16^) -products * -latest -property installationPath`) do call "%i\VC\Auxiliary\Build\vcvarsall.bat" x64 -vcvars_ver=14.11
set DISTUTILS_USE_SDK=1
where cl :: save the first line of the output
set CUDAHOSTC

[2019-05-22 06:18] peterjc123 commented on #20794
in cmd

[2019-05-22 06:41] tjusxh commented on #20794
@peterjc123  I always get the error  bash: syntax error near unexpected token `"usebackq tokens=*"'.

[2019-05-22 06:48] peterjc123 commented on #20794
No, please don't type this one in bash. Please type this one in Command Prompt / Powershell (Windows Key + R -> CMD -> Enter or Hold shift -> Click the empty space in a directory in Windows Explorer -> Press mouse right button -> Open in command prompt)

[2019-05-22 06:57] tjusxh commented on #20794
@peterjc123  I get the same issue as vs2015.

E:/Program Files/Python35/lib/site-packages/torch/include\THC/THCNumerics.cuh(190): error: more than one operator "<" matches these operands:
            built-in operator "arithmetic < arithmetic"
            function "operator<(const __half &, const __half &)"
            operand types are: c10::Half < c10::Half

E:/Program Files/Python35/lib/site-pa

[2019-05-22 07:01] peterjc123 commented on #20794
Which extension are you trying to compile?

[2019-05-22 07:04] tjusxh commented on #20794
I trying to compile the flownet2 project. The setup.py as following.
#!/usr/bin/env python3
import os
import torch

from setuptools import setup, find_packages
from torch.utils.cpp_extension import BuildExtension, CUDAExtension

cxx_args = ['-std=c++11']

nvcc_args = [
    '-gencode', 'arch=compute_50,code=sm_50',
    '-gencode', 'arch=compute_52,code=sm_52',
    '-gencode', 'arch=compute_60,code=

[2019-05-22 07:28] Sureshthommandru commented on #16417
https://github.com/pytorch/pytorch/issues/16417#issuecomment-484264163

The same issue to me
Dear, did you get the solution?
(base) F:\Suresh\st-gcn>python main1.py recognition -c config/st_gcn/ntu-xsub/train.yaml --device 0 --work_dir ./work_dir
C:\Users\cudalab10\Anaconda3\lib\site-packages\torch\cuda\__init__.py:117: UserWarning:
    Found GPU0 TITAN Xp which is of cuda capability 1.1.
    PyTo

[2019-05-22 07:31] #20199 closed

[2019-05-22 07:32] Stonesjtu commented on #20199
I'm closing the issue because ref cycle in `load_state_dict` is fixed.

[2019-05-22 07:35] xinliweiyuan commented on #18032
I finally found the reason might due to the Cuda and Cudnn configuration issue. You might have several Cuda or Cudnn.  Check it. My problem was solved.

[2019-05-22 07:43] ygwangthu commented on #20642
move the sentence "float* src_data = src.data<float>();" into the function of "AT_DISPATCH_QINT_TYPES ..." solves my problem. It looks like:

  AT_DISPATCH_QINT_TYPES(self.scalar_type(), "Copy", [&]() {
    **float* src_data = src.data<float>();**
	scalar_t* self_data = self.data<scalar_t>();
    for (int i = 0; i < self.numel(); ++i) {
      self_data[i] = quantize_val<scalar_t>(
          self.q

[2019-05-22 07:46] moreheadm commented on #14573
Is there any update on this? I was able to compile a project with both libtorch and protobuf by compiling libtorch from source with the desired version of protobuf, but it would be nice if it weren't necessary to do so. Thanks!

[2019-05-22 07:49] peterjc123 commented on #20794
Please append `-D__CUDA_NO_HALF_OPERATORS__` to the `nvcc_args`.

[2019-05-22 08:11] tjusxh commented on #20794
@peterjc123  Do I need to compile pytorch again? I install pytorch by pip Now.

[2019-05-22 08:14] peterjc123 commented on #20794
No, you don't need that.

[2019-05-22 08:24] vraivon commented on #16614
@hijkzzz @mkolod

have you solved this problem?

[2019-05-22 08:35] tjusxh commented on #20794
@peterjc123  Thanks very much. There are no error. But Many warning still exist. When I run the test xx.py. (The script run right in linux.)
The prompt as  ImportError: DLL load failed: %1 Not a valid Win32 application.
The warning contains many different classes.

torch\utils\cpp_extension.py:184: UserWarning: Error checking compiler version for cl: 'utf-8' codec can't decode byte 0xd3 in positio

[2019-05-22 08:42] peterjc123 commented on #20794
The error `ImportError: DLL load failed: %1 Not a valid Win32 application.` usually means that the library is built for the wrong arch. Are you building for Win32? The warnings are safe to ignore and they didn't provide any useful info for debugging the aforementioned error.

[2019-05-22 08:49] tjusxh commented on #20794
@peterjc123   The full error message when I run the test xx.py. I guess if the compile still exist question?
resample2d_cuda was compiled according to above step.

 File "D:\GithubProject\flownet2-pytorch_10\models.py", line 8, in <module>
    from networks.resample2d_package.resample2d import Resample2d
  File "D:\GithubProject\flownet2-pytorch_10\networks\resample2d_package\resample2d.py", line

[2019-05-22 08:52] peterjc123 commented on #20794
According to this [post](https://stackoverflow.com/questions/14629818/importerror-dll-load-failed-1-is-not-a-valid-win32-application), it is also possible that it is caused by the missing DLLs. You could use https://github.com/lucasg/Dependencies to debug the DLL loading problem. Or you can just paste the full build log here and I'll check what is wrong there.

[2019-05-22 09:03] peterjc123 commented on #20686
I confirm this issue is preventing the caffe2 build job on Windows using the new Windows AMI.

[2019-05-22 09:11] tjusxh commented on #20794
@peterjc123  After I python setup.py install the c++ extension. Not any DLL is producted.
When I run python setup.py install  The log as following.

D:\GithubProject\flownet2-pytorch_10\networks\resample2d_package>python setup.py install
running install
running bdist_egg
running egg_info
writing dependency_links to resample2d_cuda.egg-info\dependency_links.txt
writing resample2d_cuda.egg-info\PKG-

[2019-05-22 09:21] peterjc123 commented on #20794
`.PYD` is the equivalent of `.DLL` on Windows.

[2019-05-22 09:30] Jonas1312 commented on #20642
I can confirm that @ygwangthu workaround works

[2019-05-22 10:08] yinxiaochuan commented on #19305
I also think this is a bug. I convert a pytorch model to cpp w/ and w/o mask_seleced operator. The inference  time in cpp will increase about 60ms.

[2019-05-22 10:11] marchss commented on #20742
@soumith Thank you for your quick reply. By the way, environment variable  `TORCH_STATIC` seems to be not used in the run_cmake function described below in tools/build_pytorch_libs.py.
[code]
In case it is helpful to anyone to build static library, a quick fix is to modify the CMakeLists.txt below

`caffe2/CMakeLists.txt:526:option(TORCH_STATIC "Build libtorch.a rather than libtorch.so" ON)`

[2019-05-22 10:25] cuixing158 commented on #19374
I meet same error to, pytorch1.1+python3.7+onnx1.5,any advices?

[2019-05-22 10:40] marchss commented on #20742
@soumith @ezyang The static library libtorch.a seems to be successfully built, b/c libcaffe2.a is the true .a library with size of 233M. The libtorch.a is actually empty with size of only 1.1k. This is normal, right? libcaffe2.a is the true libtorch c++ library as you said above.

Compiling the example-app.cpp works fine. When linking with the example-app.cpp in the tutorial here [https://pytorch.

[2019-05-22 10:57] nazarblch opened #20804 "expected ) but found 'ident' here: quantized::fake_quantize_per_tensor_affine_forward"
## 🐛 Bug

Got an error after transition from cuda 9.0 to 10.1.  The error occurs when I call methods from shared library built with cmake.

## To Reproduce

Steps to reproduce the behavior:

[code]

THE ERROR:

When I execute any method from the builded ${LIB_NAME}

[code]

## Expected behavior

no error

## Environment

PyTorch version: 1.1.0
Is debug build: No
CUDA used to build PyTorch: 9.0.176

[2019-05-22 11:11] xiaoxiaotao opened #20805 "LibTorch :About torch.jit.trace generate model.pt"
## 🐛 Bug

I use libtorch inference faceboxes,when I test generated model ,I have a problem.

1.torch.save(net1.state_dict(), \'net_params.pth\')
2.torch.save(net1, \'net.pth\')
The first way save the model,libtorch inference the model ,it make Incorrect result,the second way can make correct result. why?

 - PyTorch Version (e.g., 1.0):1.1.0
 - OS (e.g., Linux):ubuntu 16.04
 - How you installed Py

[2019-05-22 11:27] tjusxh commented on #20794
@peterjc123 Thanks very much.

There are many dll were not found.  In picture1 we can copy the dll to the run path. Another dlls seem that microsoft dll. Do you know them?

![image](https://user-images.githubusercontent.com/9691664/58170859-328dca00-7cc7-11e9-93e0-258afdf01411.png)
![image](https://user-images.githubusercontent.com/9691664/58170885-3e798c00-7cc7-11e9-8470-18d72dc8cec4.png)

[2019-05-22 11:36] peterjc123 commented on #20794
Did you open the generated PYD file in `Depends.exe`? Why does it rely on these unrelated DLLs?

[2019-05-22 12:05] tjusxh commented on #20794
@peterjc123 Yes, step one I set options->Properties->Tree build behavious (**ChildOnly**) in Denpends.exe. I found that don't find the following dll.
![image](https://user-images.githubusercontent.com/9691664/58172870-59023400-7ccc-11e9-8183-d5d1737785f4.png)

I  copy the dll to the same path  of xxx .pyd. But the issue still exist.( ImportError: DLL load failed: %1 Not a valid Win32 application.)

[2019-05-22 12:26] peterjc123 commented on #20794
I cannot reproduce this issue. That's what I do this time:
[code]

[2019-05-22 12:28] peterjc123 commented on #20794
Could you please remove the generated c++ extension in python root and try rebuilding it again?

[2019-05-22 12:32] peterjc123 commented on #20794
I'm going to close this one since it's not a bug. You may reopen it if you disagree.

[2019-05-22 12:32] #20794 closed

[2019-05-22 12:44] tjusxh commented on #20794
@peterjc123 Thanks for your helps.  Yes, I didn't produce any issues according your script.
![image](https://user-images.githubusercontent.com/9691664/58175125-062b7b00-7cd2-11e9-9085-80b53acd868f.png)

I also rebuilding the project after removing the all generated c++ extension in E:\Program Files\Python35\Lib\site-packages and the network/resample2d_cuda/build of the project.

[2019-05-22 13:04] adler-j commented on #7806
@xxtemp, could you please release your code to do this?

[2019-05-22 13:05] pmeier opened #20806 "Stabilize gradient for unfolded Tensor"
## 🚀 Feature

I propose a `stabilize_grad` flag for the `Tensor.unfold` method.

## Motivation

Imagine you want to calculate a loss between different patches of two images. Consider the following snippet:
[code]
This results in:
[code]
As you can see, some elements receive a higher gradient update, simply because they appear in multiple patches. This effect might lead to unwanted results.

## Pit

[2019-05-22 13:12] WenmuZhou commented on #18113
meet too

[2019-05-22 13:20] chagri commented on #19457
This dos not seem to be fully fixed yet. After following the above-mentioned steps, I get the following error:
[code]

[2019-05-22 13:27] kealennieh commented on #20296
Sorry.  MAX_JOBS=1 doesn't work out. I've set "export MAX_JOBS=1" in shell, before typing "python setup.py install".  Still, out of memoy.
I've even changed all the "MAX_JOBS" parameters in the project to 1. However, it doesn't work out.

And **I've found that there were many "cicc" and "cc1plus" commands when I used top command in shell**. So I think "MAX_JOBS" cannot reduce the number of threads

[2019-05-22 13:47] zhangguanheng66 commented on #20588
@ailzhang if you are on the master branch, simply add the "@weak_script" decorators back to the internal functions (see multi_head_attention_forward in torch/nn/functional.py) and you should be able to reproduce the bug. We also notice numerical discrepancy in the jit model and will ask for help in another PR.

[2019-05-22 13:56] alexdonchuk commented on #18113
Pls!!! Fix this! ASAP!!!

[2019-05-22 16:10] VitalyFedyunin commented on #20311
It is not only `DataLoader` threads, OMP by default can set up to 24 threads per process. Having `--nproc_per_node=8` you potentially ending up with 192 threads, which is way higher than your available threads. I recommend to run everything with `OMP_NUM_THREADS=10` and `OMP_NUM_THREADS=5` accordingly and compare results.

[2019-05-22 17:16] chagri commented on #19457
I was able to resolve it by fully uninstalling cuda and re-installing it (v9.2). And installing the following using conda:
conda install numpy pyyaml mkl mkl-include setuptools cmake cffi typing

[2019-05-22 17:24] chagri commented on #5400
@soumith
Installing from source does not help in my case. I installed from source (0.4) version as recommended at https://github.com/pytorch/pytorch/issues/19457
I am still having trouble with this.

*Environment:
- Ubuntu 16.04
- Cuda (tried 8, 9.1, 9.2, 10)
- CuDNN 7.5.1
- Tried Pytorch 0.3, 0.4

[2019-05-22 17:31] jerryzh168 commented on #20642
@Jonas1312 @ygwangthu could any of you submit a pr? I don't have windows environment setup right now so could not repro the compilation error.

[2019-05-22 17:41] umanwizard commented on #9703
@dashesy

What version are you on?

[2019-05-22 17:49] dashesy commented on #9703
@umanwizard 1.0.1.post2

[2019-05-22 17:51] dzhulgakov commented on #19092
@ezyang - regarding indexing I think we should stop somewhere. Different memory layout are not fully transparent and some ops should be allowed to disregard them. I'd argue that `x[0]` should be allowed to erase the tag, including `x[0].unsqueeze(0)`

As Raghu mentioned, cat/split should preserve the tag if possible though as it's quite a common usage. I think the general rule of thumb should be t

[2019-05-22 17:52] zhangguanheng66 opened #20814 "10% difference noticed between jit and python model"
## 🐛 Bug

We recently develop a jit test for torch.nn.functional.multi_head_attention_forward function. The test fails due to the numerical discrepancy between the jit version and the python version.

## To Reproduce

Steps to reproduce the behavior:

1. Check out the branch in PR (https://github.com/pytorch/pytorch/pull/20653)
2. Run the unit test "python test/test_jit.py TestScript.test_torchscr

[2019-05-22 17:54] wanchaol commented on #20798
@draplater yeah that's a known bug and this already been fixed on the master. Can you try the lastest nightly builds to see if the error still persist?

[2019-05-22 17:54] umanwizard commented on #9703
IIRC the multi-dim `std` and `var` went out in 1.1.0

[2019-05-22 17:55] zhangguanheng66 commented on #20814
@ailzhang @suo another issue related to jit. Please help us figure this out. The multihead_attention function is an important part of our recently implemented nn.transformer module. We want to release it ASAP.

[2019-05-22 18:02] ezyang commented on #19092
I agree in some cases we will lose the tag. But I would disagree about `x[0]`. That to me seems like a very common way to go from `NCHW` to `CHW`.

[2019-05-22 18:13] ezyang opened #20818 "awscli install is flaky"
If we fail to download, we end up with this error:

[code]

This is due to pip version being old. We should probably just manually retry in this case

[2019-05-22 18:14] ezyang commented on #20814
@zhangguanheng66 If you are hard blocked by this, one way you can help the JIT team out is by minimizing the test case. So remove parts of the transformer network while preserving the numerical discrepancy.

[2019-05-22 18:30] #20548 closed

[2019-05-22 18:35] syed-ahmed commented on #19508
@SsnL I see you ran this on 415.27 driver. I couldn't reproduce the illegal memory access issue on the 418 driver. Could you please test if the behavior still occurs on your driver after this PR lands: https://github.com/pytorch/pytorch/pull/20620?

[2019-05-22 19:02] ezyang commented on #20296
Hmm. Can you post your compile log? Here's the logic which handles `MAX_JOBS`

[code]

So what I am expecting to see is a call to ninja/make with `-j 1`.

[2019-05-22 19:36] pritamdamania87 opened #20822 "[Proposal] Data reading framework for PyTorch (Hive, MySQL, S3 etc.)"
At Facebook we are building a data reading framework for PyTorch which can efficiently read from data stores like Hive, MySQL, our internal blob store and any other tabular data sources. The framework allows for specifying complex input pipelines to read from different sources. For example if you have a table which stores handles for images, you can write SQL like code to read from the table, appl

[2019-05-22 19:36] soumith commented on #20585
@allegroai I changed the metadata to text/html and tested that it started working.

[2019-05-22 19:36] #20585 closed

[2019-05-22 19:44] ezyang commented on #20742
Those symbols are MKL symbols. You need to link against MKL.

IIRC, cmake should have a way to directly link agains the static library, and it will handle linking in all of the dependencies (instead of doing it manually, as you are here.) I'm not exactly sure how it is spelled off the top of my head though.

[2019-05-22 19:45] ezyang commented on #20742
Related #14367

[2019-05-22 19:48] ezyang commented on #20686
This is related to generating extra copies of files so we can build them multiple times for AVX2.  I think this code is responsible for this:

[code]

in cmake/Codegen.cmake

It sounds like the problem is that this codegen should be pointed into build, not the source dir. @peterjc123, do you think this is enough for you to be able to fix it?

cc @cpuhrsch

[2019-05-22 19:51] colesbury opened #20823 "torch.Size is not pickleable in Python 2"
## 🐛 Bug

torch.Size objects (returned by Tensor.shape) are not pickleable in Python 2.7. They can be pickled in Python 3.

## To Reproduce

[code]

## Environment

PyTorch 1.0.1.post2 (but I believe it also is present in master as of 5/22/19)
Python 2.7.15 on Mac OS X

[2019-05-22 19:54] ezyang commented on #14573
cc @soumith @pjh5

[2019-05-22 19:58] ngimel commented on #20522
cc @t-vi

[2019-05-22 20:03] ezyang commented on #14367
As the saga in #20742 suggests, no, this does not seem to be fixed.

[2019-05-22 20:04] ezyang commented on #7320
@lironmo can you please open a new issue for your problem.

[2019-05-22 20:14] ngimel commented on #20522
There's something fishy with the strides, strides [...,59,2] for a tensor with the last dimension [...,31] indicate self-overlapping tensor, which is very rarely the intention.

[2019-05-22 20:23] ezyang commented on #20823
From internal discussion:

@fmassa: Maybe it's time to consider removing torch.Size and make tensor.shape return a tuple? I believe torch.Size was necessary to support legacy constructors, like torch.Tensor(a.size()), which overloaded torch.Tensor with both a size and a data constructor.

Removing torch.Size would probably imply removing torch.Tensor and tensor.new though. Or am I missing somethin

[2019-05-22 20:25] ezyang commented on #20806
This sounds plausible. But I wonder if there is a way to do this generally for any viewing operations, not just unfold.

[2019-05-22 20:28] ngimel commented on #20630
Pytorch 1.1 uses nccl 2.4.2 which has a known issue of hanging with long running jobs that was fixed for 2.4.6. https://github.com/NVIDIA/nccl/commit/f40ce73e8987d2990e4b9ef6c75f4b3423acce78
Workaround is to export NCCL_LL_THRESHOLD=0.
cc @pietern, @mrshenli  to bump nccl submodule.

[2019-05-22 20:28] ezyang commented on #20804
What if you do a fresh rebuild from scratch on master?

cc @jerryzh168

[2019-05-22 20:31] ezyang commented on #20785
cc @fmassa

[2019-05-22 20:44] ezyang commented on #20527
@jasam-sheja, if I understand you correctly, there is not a math formula problem; you just want to not have the optimizer value reduce if it is called with the same epoch value?

[2019-05-22 21:00] Tsingularity commented on #18439
I also come across the same issue. When this happens, you cannot kill the process except rebooting the whole server. It's really terrible. Hope someone could give some guidelines on how to address this issue.

[2019-05-22 21:19] fmassa commented on #20785
I agree with this problem, and have reached the same conclusion in the past as well.
We could add another option to grid_sample, `align_corners`, like we did with `interpolate`, to handle both behaviors

[2019-05-22 21:24] VitalyFedyunin commented on #19953
It impact both training and inference, latest versions of the Pytorch use multithreading a lot, so if your hardware configuration have less CPU cores than number of total threads, you might observe performance issues.

[2019-05-22 21:29] colesbury commented on #20823
@ezyang removing `torch.Size` or the `torch.Tensor` constructors are different issues. We need to be able to pickle `torch.Size` while it exists in Python 2.

I've removed topic: bc-breaking because I don't think fixing pickling is bc-breaking.

[2019-05-22 21:40] houseroad commented on #19374
@cuixing158 checkout this: https://github.com/pytorch/pytorch/pull/20116

[2019-05-22 22:04] nicolasCruzW21 commented on #17932
same issue

[2019-05-22 22:09] SsnL commented on #20785
I agree with @fmassa that an option would be great. Whether we want to make it default is unclear, as the current implementation aligns with cudnn.

[2019-05-22 23:39] Lyken17 commented on #8021
May I know the progress of adding bfp16?

[2019-05-23 00:02] wanchaol commented on #20814
This should be fixed by https://github.com/pytorch/pytorch/pull/20824

[2019-05-23 00:02] #20814 closed

[2019-05-23 00:58] cpuhrsch commented on #20686
@ezyang - that code is indeed responsible for that, but it's been updated and moved around since I first created it, so a more recent author should have better insight. Having said that, I've never encountered this behavior. Could this be something specific to Windows?

Also cc @colesbury @VitalyFedyunin

[2019-05-23 00:59] Stonesjtu opened #20837 "[feature request] a function to empty all the cuda buffer"
## 🚀 Feature

At present the pytorch process uses about 900MB after `lazy_init` cuda context. I was searching on internet whether the CUDA context can be shutdown, but seems like such API is not provided yet. Here I'm asking if we can do a `pytorch` side context clear, so the minimal CUDA memory should be allocated to pytorch runtime.

## Motivation

I'm developing an interesting function that eac

[2019-05-23 01:33] hanmingliu2 commented on #18634
@umanwizard Thank you so much for clarifying. I am currently reading through the related parts of the code base to understand the mechanism of `torch.cat` better.

[2019-05-23 01:38] Msabih commented on #18439
Hi, I solved this issue by updating the BIOS. To check, if the problem is with your BIOS, could you run cuda multiple devices test.

[2019-05-23 01:49] episodeyang commented on #20006
@ZaydH that is the problem! Thanks for your useful comment.

[2019-05-23 03:08] jasam-sheja commented on #20527
@ezyang, I don't think there is a math formula problem. I just expect the schedule to be consistent with the epoch, as if there's a time table specifying the learning rate at each epoch. Otherwise the `epoch` parameter is misleading.
To answer your question; yes I don't want it to reduce or increase if it is called with the same epoch value.

[2019-05-23 03:15] hrbigelow opened #20843 "torch.cuda.set_rng_state() followed by torch.cuda.get_rng_state() return different result"
## 🐛 Bug

[code]

stored_state and retrieved_state differ in 400 positions out of 824016 in:
pytorch 1.0.0
Cuda 10.0.130
GeForce GTX 1070 Max-Q

they **are** the same in:
pytorch 1.1.0
Cuda 10.0.130
Tesla K80

## To Reproduce

\# contents of rng_test.sh
[code]
$ . rng_test.sh
cuda state tensors differ in **400** positions out of **824016**.
cpu state tensors differ in **0** positions out of **5048

[2019-05-23 03:26] astooke opened #20844 "possible slip on cudnn version?"
## 🐛 Bug

I think I may have just had a problem related to cudnn version.  Did a `conda install` with ` cudatoolkit=9.0`; CPU-only code was working (simple conv+mlp), GPU code was running but failing to learn; `torch.backends.cudnn.version()` returned `7501`, but I had `7003` in my `/usr/local/cuda/` (and cuda 9.0 installed).  Since upgrading that to `7501`, GPU code is learning fine.  :)

Nothing

[2019-05-23 03:36] soumith commented on #20844
@astooke we ship with our own CuDNN, it's statically linked to the pytorch binary, precisely because anaconda comes with an older version.

This does not sound right, our library does not even go looking for libcudnn.so (we dont link against it dynamically). Is there any way I might be able to reproduce it -- actually can you reproduce it again with that previous version in /usr/local/cuda? I was

[2019-05-23 03:38] eric4337 opened #20845 "NervanaSystems/nervanagpu Repository not found for 0.4.0"
## ❓ Questions and Help
NervanaSystems/nervanagpu Repository not found for 0.4.0
is there any way to workaround this? thanks

[2019-05-23 03:47] hexiaoting commented on #20743
@ezyang     I have submited a PR for this issue: [https://github.com/pytorch/pytorch/pull/20846](url)

[2019-05-23 03:55] wanchaol commented on #20099
close this as it should be fixed already

[2019-05-23 03:55] #20099 closed

[2019-05-23 05:43] maeotaku commented on #18475
@qjchen1972 did you find a fix or the cause to this?

[2019-05-23 05:56] peterjc123 commented on #20686
For in-source builds, `${CMAKE_BINARY_DIR}` is the equivalent of `${CMAKE_SOURCE_DIR}`. Are we doing in-source builds on systems other than Windows?

[2019-05-23 06:06] draplater commented on #20798
@wanchaol It's OK on the master. Thanks!

[2019-05-23 06:06] #20798 closed

[2019-05-23 06:32] ailzhang commented on #20823
In case it's helpful, I've seen a similar issue for torch.dtype. #14057 Sadly python3 and python2 are very different in terms of pickle(also import :(
If it's something worth supporting, I can look into this early next week.

[2019-05-23 06:51] marchss commented on #20742
@ezyang Thank you for your kind help. There are 37 libmkl_*.so in anaconda3/lib, as listed below.

Manually linking them is a huge pain as whenever static linking a new *.so, it will generate lots of other errors.

Are you suggesting use `-Wl,--whole-archive` to link all of them?

[code]

[2019-05-23 06:56] andywangII opened #20849 "Pytorch error when compiling libtorch library for android"
## 🐛 Bug

When I option(BUILD_CAFFE2_MOBILE "Build libcaffe2 for mobile (deprecating)" OFF) I want to compile and generate libtorch.so, Aten compile error when running build_anroid.sh. Error: Cmake Error at cmake/Codegen.cmake:162(message): Failed to get generated_cpp list Call Stack(most recent call first): caffe2/CmakeLists.txt:2(include)

[2019-05-23 07:02] HelloSeeing commented on #20750
@soumith @ezyang Thanks, it works!

[2019-05-23 07:16] jotsif opened #20851 "Fix documentation for attention mask shape"
## 📚 Documentation

The attention mask shape should be `(L, S)` since it is added to the attention weights which is of shape (N, L, S). This is only in master, and not on pytorch.org yet.

https://github.com/pytorch/pytorch/pull/20850

[2019-05-23 07:27] sth1997 commented on #2733
Excuse me, does `DistributedDataParallel'  support non-CUDA networks right now?

[2019-05-23 07:27] sth1997 commented on #2733
Excuse me, does `DistributedDataParallel` support non-CUDA networks right now?

[2019-05-23 07:45] bnehoran commented on #20785
Unfortunately, it seems that the coordinate conventions specified in the original STN paper were a bit ambiguous, and so different deep learning frameworks ended up interpreting and implementing them slightly differently. And most ended up getting them not quite right.

@SsnL do you know where the conventions for the cudnn STN implementation are specified? I understand it's not open sourced.

If w

[2019-05-23 08:02] eguendelman opened #20854 "Different behavior numpy / pytorch with broadcasting & in-place operators"
## 🐛 Bug

In the example below, I want to subtract the value of the first column from all columns of a 2D array/tensor.
i.e. `X -= X[:,0][:,np.newaxis]`
(or with pytorch can also do `unsqueeze(1)` instead of `[:,np.newaxis]`)

However, the above expression gives different results when X is a numpy array vs when it is a pytorch Tensor.  Specifically, with pytorch it seems as though the broadcasting

[2019-05-23 08:07] tjusxh opened #20855 "pytorch0.4 -> pytorch1.0.1 RuntimeError: one of the variables needed for gradient computation has been modified by an inplace operation"
The code run well in pytorch  0.4 . But in pytorch1.0.1, I got the error  as following. How to locate the question and resolve it? Thanks very much.
 File "G:/20190215-backup/bsandnielianToImage/optimizer_ExpAnglesplit_faceseg_splitBs_faceExpRecong.py", line 215, in optimizer
    loss.backward()
  File "E:\Program Files\Python35\lib\site-packages\torch\tensor.py", line 102, in backward
    torch.a

[2019-05-23 08:33] andywangII opened #20856 "Pytorch error when compiling libtorch library for android"
When I option(BUILD_CAFFE2_MOBILE "Build libcaffe2 for mobile (deprecating)" OFF) I want to compile and generate libtorch.so, Aten compile error when running build_anroid.sh. Error: Cmake Error at cmake/Codegen.cmake:162(message): Failed to get generated_cpp list Call Stack(most recent call first): caffe2/CmakeLists.txt:2(include)

[2019-05-23 08:33] #20849 closed

[2019-05-23 08:34] tjusxh commented on #20855
I resolve the issue by replacing
a += b
to
a = a + b

[2019-05-23 08:34] #20855 closed

[2019-05-23 08:50] fmassa commented on #20854
This is a duplicate of https://github.com/pytorch/pytorch/issues/906 , https://github.com/pytorch/pytorch/issues/10756 and https://github.com/pytorch/pytorch/issues/8212

We are discussing on a potential solution to this problem by solving a diophantine equation like numpy does https://github.com/pytorch/pytorch/issues/8212, but to the best of my knowledge nobody is working on it.

I'm closing thi

[2019-05-23 08:50] #20854 closed

[2019-05-23 08:57] float123 opened #20857 "[TensorRT] ERROR: Network must have at least one output"
I use the torch.onnx.export() method to convert the Alexnet to the onnx format, but when I use tensorrt, I get an error, [TensorRT] ERROR: Network must have at least one output.
How can I solve it?  thanks

this is my code：

[code]

[code]

![image](https://user-images.githubusercontent.com/39334643/58239456-a9849a80-7d7b-11e9-9bd7-4063d2318b99.png)

cc @BowenBao @neginraoof

[2019-05-23 09:04] fmassa commented on #10756
This has been partially addressed by @zou3519 in https://github.com/pytorch/pytorch/pull/17927, but only in the unary case.

[2019-05-23 09:11] hexiaoting opened #20858 "convert Onnx Slice operator to caffe2 failed"
## 🐛 Bug
When I convert tensorflow inceptionv4 model to onnx, then to caffe2, and test this model, it failed.
[code]

Slice operator in ONNX is :
[code]

The converted node to caffe2 is:
[code]

## To Reproduce

Steps to reproduce the behavior:

1.Original model: tensorflow's [inceptionv4 model](https://github.com/tensorflow/models/tree/master/research/slim)
2. convert to onnx:
[code]
3. convert t

[2019-05-23 09:15] fmassa commented on #8212
I'm raising the priority of this to high, given that this issue keeps coming over and over again. I've created a `topic: partial aliasing` label to simplify searching for those issues https://github.com/pytorch/pytorch/issues?q=is%3Aissue+label%3A%22topic%3A+partial+aliasing%22+is%3Aopen

[2019-05-23 09:54] gurkirt commented on #3022
I had a similar case, after upgrade to 1600i, it worked.

[2019-05-23 10:12] un-knight commented on #20311
Thanks, @VitalyFedyunin ! By setting `OMP_NUM_THREADS` to limit threads invoking by pytorch1.1 does really work. So the parallel scalability problem with pytorch1.1 is blamed for pytorch1.1 invokes too many threads and causes cpu overload.

In my case, starting training program with `nproc_per_node=8` will increase the system threads from around 200 to 800+, while with `OMP_NUM_THREADS=3`, the sys

[2019-05-23 10:12] #20311 closed

[2019-05-23 10:26] nazarblch commented on #20804
I have made rebuild on master (using pytorch/tools/build_libtorch.py).
The same error throws.

[2019-05-23 10:50] Jonas1312 commented on #20804
Same error I think: https://github.com/pytorch/pytorch/issues/20408#issuecomment-492250174

[2019-05-23 11:04] pbloem opened #20860 "cublas runtime error on torch.bmm() with CUDA10 and RTX2080Ti"
## 🐛 Bug

When running torch.bmm(a, b) on cuda tensors I get the following error
[code]

I'm running the appropriate CUDA for the card (plenty of other models have trained fine). The same CUDA version on a machine with a 1080Ti works fine.

## To Reproduce

Here is a minimal script to reproduce the problem:
[code]

## Environment

python env_collect.py
Collecting environment information...
PyTorch

[2019-05-23 11:52] fmassa commented on #20785
@bnehoran we can dispatch to our own kernels if `align_corners=False`, and disable cudnn in this case for now. We have done that in the past when we added new options to `grid_sample`, like the padding mode and the nearest interpolation modes.

---

There is also another point that I'd like to make about `grid_sample`, which is that even after we make this change to make it aligned, it won't match

[2019-05-23 12:11] ZaydH commented on #20006
@episodeyang Was the program the batch size or the linear block of size zero?

@zhangguanheng66 is it worth putting a check into the linear block creation to ensure valid sizes?  Seems like an easy way to prevent weird/unexpected behavior.

[2019-05-23 13:01] kayuksel commented on #17560
I also agree with the request of adding AdaBound optimizer to contrib.

[2019-05-23 13:06] nazarblch commented on #20804
After correcting that part of code I got similar sequence of errors in  pytorch/torch/csrc/jit/generated/register_aten_ops_0.cpp

for example:

terminate called after throwing an instance of 'std::runtime_error'
  what():  expected ) but found 'ident' here:
aten::embedding_bag(Tensor weight, Tensor indices, Tensor offsets, bool scale_grad_by_freq=False, int mode=0, bool sparse=False, Tensor? per_s

[2019-05-23 13:14] lironmo commented on #7320
@ezineo i already opened but the issue was closed- https://github.com/pytorch/pytorch/issues/20532
and the most wired is that torch.cuda.memory_allocated return ~43MB where the real consuming is around 700MB - and crash when i try to allocate some amount of MB that larger then what the nvidai-smi show

[2019-05-23 13:14] peterjc123 commented on #20686
Tried out-source builds, failing with https://github.com/pytorch/pytorch/issues/20642.

[2019-05-23 13:18] lironmo commented on #20532
@soumith when the torch.cuda.memory_allocated return ~43MB and the actual memory is 700MB there is a bug in the cuda internal.
kernel at cuda are only functions,  design that for each process consume that mach of memory is small design mistake.

[2019-05-23 13:20] peterjc123 commented on #20642
@jerryzh168 I can repro the error if I build the caffe2 ci win job with ninja. Just add `pip install ninja` in `scripts\build_windows.bat`.

[2019-05-23 13:46] zhangguanheng66 commented on #20006
thanks @zaydh . We will accept the PR to fix it.

[2019-05-23 14:15] mickypaganini commented on #20402
Thanks for summarizing.
Main road block now: deciding where tensor pruning will live.

1. If we go the `nn.utils` route: will the signature of `nn.utils.mypruningfunction` be `nn.utils.mypruningfunction(module, name, **kwargs)` as it's done in the `weight_norm` example I linked? That specific `.apply` method uses hooks, so it assumes that the tensor I want to prune is inside some module which will

[2019-05-23 14:40] Silas606 commented on #20681
@A-n-o-r-a-k You did not give the version of pytorch you are building with. According to the error, I do not think you are building with a stable version like 1.1.0. Build with the master does have some risks and sometimes could fail as the transition in process.
The file failed here `src/ATen/native/quantized/Copy.cpp` is related to the backbone of pytorch. It has undergone quite a few changes re

[2019-05-23 15:16] Kaixhin commented on #20822
All sounds useful. Even for single machines, providing an API to help read tabular data from CSV files or small databases would a) be very useful for data already in those forms b) make it more attractive for people to store data using those forms as opposed to writing more ad-hoc solutions.

[2019-05-23 15:19] rami3e commented on #17571
has this been addressed elsewhere ?

[2019-05-23 15:34] dtmoodie commented on #20154
I have found similar results when exporting to onnx to be consumed by tensorrt.
I ensure that the same preprocessing occurs before passing the data into pytorch and into tensorrt.

[2019-05-23 15:41] jeremycochoy opened #20862 "torch.jit.trace crash in presence of hooks, even in well determined models."
## 🐛 Bug

If one want to compile a model using hook but with a well determined behavior while traced, the trace function raise anyway. There doesn't seams to be a way to force the trace function to ignore the raise:
[code]

## To Reproduce

Just take a model with a dummy hook. Trace will fail.

## Expected behavior

Trace should only warn, or ask a special argument (something like `torch.jit.trace

[2019-05-23 15:53] colesbury commented on #20837
I don't think we should provide such a function. The way to do what you're describing is to reset the CUDA context, for example by `cudaDeviceReset()`, but that invalidates all pointers which means that any accesses to any CUDA tensors or internal CUDA state will crash.

[2019-05-23 15:54] colesbury commented on #20823
@ailzhang yes that would be great!

[2019-05-23 16:05] adodge opened #20864 "Import warning when using the wrong version of CUDA"
## 🚀 Feature

Emit some warning text on import when trying to use a version of PyTorch compiled with a different version of CUDA than is available.

## Motivation

I recently experienced basically this problem:   https://github.com/pytorch/pytorch/issues/17543 . I was using CUDA 10.0 (based on a docker image `nvidia/cuda:10.0-base-ubuntu16.04`) and installed pytorch with `pip install torch`, but t

[2019-05-23 16:09] bhack commented on #17683
@driazati  Can we recover in the c++ frontend attributes saved with `torch.jit.Attribute` in python?

[2019-05-23 16:47] #20781 closed

[2019-05-23 16:59] pritamdamania87 commented on #20822
@Kaixhin Thanks a lot for the feedback! Do you know what folks do currently to read data from CSV files/databases? Also, what are some examples of ad-hoc solutions that have been employed in the past?

[2019-05-23 17:07] Kaixhin commented on #20822
I assume many people would write their own data loaders using Python libraries, but in terms of PyTorch-specific support probably the most popular library out there for this is [fastai](https://docs.fast.ai/tutorial.data.html). Ad-hoc storage might be saving items as torch Tensors or lists/dicts of these (this is pretty convenient, but not a portable solution).

[2019-05-23 17:19] ailzhang commented on #19348
Fixed by #20190

[2019-05-23 17:19] #19348 closed

[2019-05-23 17:20] #20579 closed

[2019-05-23 17:32] dashesy opened #20867 "A function decorator for PyTorch modules, to export ONNX"
## 🚀 Feature

I would like to have a decorator like

[code]

To return correct `g.op(MeanVarianceNormalization)` to the tracer.

## Motivation

I have this `MVN` implementation:

[code]

I cannot export it because [std is not supported in ONNX](https://github.com/onnx/onnx/issues/2045) but ONNX already has [MeanVarianceNormalization](https://github.com/onnx/onnx/blob/master/docs/Operators.md#MeanV

[2019-05-23 17:35] pmeier commented on #20806
Which operations are you referring to? It is not needed for `Tensor.view()` since the number of elements stays constant, whereas `Tensor.unfold` might change it. From the above example:
[code]
This results in
[code]

[2019-05-23 17:59] jhorchler commented on #20030
Just for reference: If using macports the issue can be worked around by creating a symlink  using `sudo ln -s /opt/local/lib/libomp/libomp.dylib` in `/usr/local/opt/libomp/lib/`.

[2019-05-23 18:07] jerryzh168 commented on #20642
@peterjc123 I'm landing the change by @Jonas1312 now.

[2019-05-23 18:09] jerryzh168 commented on #20681
fix is landing: https://github.com/pytorch/pytorch/pull/20853

[2019-05-23 18:17] JanuszL commented on #20728
It seems to work in 1.1.0 - https://github.com/pytorch/pytorch/blob/v1.1.0/torch/distributed/launch.py#L229, while in 1.0.0 return value is disregarded https://github.com/pytorch/pytorch/blob/v1.0.0/torch/distributed/launch.py#L215.

[2019-05-23 18:22] #20757 closed

[2019-05-23 18:23] yaroslavvb commented on #20728
Interesting...it seems it should indeed be propagated, will reopen this with more details once I can reproduce it again

[2019-05-23 18:23] #20728 closed

[2019-05-23 18:25] jaliyae commented on #20822
We added chunk based dataloading support to libtorch.
https://github.com/pytorch/pytorch/blob/master/torch/csrc/api/include/torch/data/datasets/chunk.h

We used high level python binding to expose this to python keeping the entire dataloading pipeline in C++. Perhaps something to consider.

[2019-05-23 18:36] michaelklachko commented on #20402
FYI, there's also temporal (lifetime) sparsity for activations:
https://arxiv.org/abs/1409.2752
https://arxiv.org/abs/1903.11257

[2019-05-23 18:39] fmassa commented on #20806
But this is not a valid gradient anymore, right?

[2019-05-23 18:50] pmeier commented on #20806
What do you mean by _valid_? It would be stabilized / normalized / averaged / (whatever term you prefer) compared to the current behaviour.

[2019-05-23 19:00] fmassa commented on #20806
By valid I mean it doesn't correspond to the notion of a gradient per see, right? Overlapping elements should contribute to the gradients by summing them.

What I'm trying to say is, if you do finite differences, the gradient check wont match I think, except if you change the behavior during forward to divide the pixels of the output image by the number of overlapping regions

[2019-05-23 19:05] dtmoodie opened #20875 "BatchNorm2d implementation returns different results than expected"
## 🐛 Bug

As per https://pytorch.org/docs/stable/nn.html#torch.nn.BatchNorm2d I expect the result of BatchNorm2d to be (x - mean) * scale / sqrt(var + eps) + bias.  However this is not the case.

Given an already loaded BatchNorm2d module as bn0, I have the following:
[code]

## Environment
[code]

[2019-05-23 19:11] colesbury commented on #7320
@lironmo the issue was closed because there is no action that PyTorch can take to change the behavior. If you need support, use the discussion forums. If you want NVIDIA to change CUDA's behavior, try the NVIDIA developer forums.

The GitHub issue tracker is not the appropriate place, especially not old, closed issues.

[2019-05-23 19:14] #20642 closed

[2019-05-23 19:28] mrshenli commented on #19540
@soumith @gchanan @ezyang

I am trying to implement what `replicate.py` did in C++, but encountered a problem. The idea is to add `Broadcast` and `ReduceAdd` autograd functions to C++, broadcast every parameter from the original module to all destination devices, and then assign them to the module replicas. The assignment step seems require changes to every module class. Let's take `Linear` ([.h](

[2019-05-23 19:43] chandanjc commented on #8028
Thanks pjh5, passing the below flag to g++, as mentioned in the bugs.debian link, fixed my issue with OpenMpi3.1:
-DOMPI_SKIP_MPICXX=1

[2019-05-23 20:08] driazati commented on #20805
To save a traced module you should use `torch.jit.save()` instead of `torch.save()`. Can you post the code to get the correct and incorrect results?

[2019-05-23 20:21] pmeier commented on #20806
You are right. I didn't properly think this through. Thanks for the heads up.

[2019-05-23 20:22] #20806 closed

[2019-05-23 20:32] lironmo commented on #7320
@colesbury
Thanks for your replay , I will try nvidia as well but from quick review of nvidia it's not reasonable that nvidia will do cudamalloc just to init kernels.
I created simple c coda that use gpu with no overhead(simple multiplay function and use cuda malloc and free )

I need to read pytorch c implementation to understand why you refer to nvidia, this is the reason i replay in this closed

[2019-05-23 21:14] Stonesjtu commented on #20837
I think it's users' responsibilities to ensure no CUDA tensors are going to be accessed after calling such a function.

how about such semantic:

[code]

Without the context deleting feature, there will always be a context in `cuda:0` when someone wants to transfer all work loads from `cuda:0` to `cuda:1`, while `cuda:0` should be free.

There should at least exist such a mechanism when users can

[2019-05-23 21:36] t-vi commented on #20522
@ypw-rich thank you for reporting the bug with a repro! This is very helpful.

So what happens is that max_target_size isn't the max target length passed (which it should be) but taken from the targets shape. I'll fix this.
Also the example has a bug regarding the shape of input, the last dim should be C+1.

[2019-05-23 21:42] yifuwang commented on #20704
@yf225 it seems to me that the proper removal of `unpack()` would involve removing the logic for generating torch/csrc/nn/THNN.cpp and torch/csrc/nn/THCUNN.cpp (and maybe even torch._thnn), since without the unpacks those wrappers don't seem to make sense. Am I understanding it correctly? Or is there a meaningful intermediate change in which those wrappers should be kept around?

An example of the

[2019-05-23 22:16] EvenOldridge opened #20888 "Reindexing a huge tensor to shuffle it results in data loss at the end of the tensor"
## 🐛 Bug

Shuffling a huge tensor by reindexing into it results in all of the values past a certain point being set to 0 when the reindexing is done in GPU memory.

@colesbury  This likely relates to https://github.com/pytorch/pytorch/issues/20562 as the issue is also with reindexing and also shows up at the same point in the tensor.  Hopefully this helps with narrowing the other issue.

I initial

[2019-05-23 22:23] SsnL commented on #20875
you are not in eval mode

[2019-05-23 23:24] julioasotodv commented on #3946
Indeed, this works with the default "eager mode". However, I cannot make it to work with a for loop in TorchScript mode...

[2019-05-23 23:27] dtmoodie commented on #20875
You are incorrect, I call model.eval() in the beginning. I omitted it because that is too obvious, furthermore I've tried leaving that out as well.

[2019-05-24 00:48] LoveZL0512 commented on #19305
CUDA is asynchronous. The time duration you observed is the time needed to forward though the network.

------------------ 原始邮件 ------------------
发件人: "yinxiaochuan"<notifications@github.com>;
发送时间: 2019年5月22日(星期三) 晚上6:09
收件人: "pytorch/pytorch"<pytorch@noreply.github.com>;
抄送: "风宇同邹"<634162865@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [pytorch/pytorch] libtorch gpu efficiency (#19305)

[2019-05-24 01:17] nikhilmishra000 opened #20893 ".type() behaving incorrectly in JIT"
## 🐛 Bug

When `Tensor.type()` or `Tensor.type_as()` are called inside a JIT function, they mutate the type of the original tensor. This is inconsistent with the behavior outside of the JIT.

## To Reproduce

[code]
The original returns a `tuple(DoubleTensor, FloatTensor)`, but the traced version returns a `tuple(FloatTensor, FloatTensor)` (the type of `x` was changed).
The traced version should b

[2019-05-24 01:18] BowenBao commented on #20857
Seems like related issue to [this](https://devtalk.nvidia.com/default/topic/1045064/tensorrt/onnx-and-tensorrt-error-network-must-have-at-least-one-output/1). Do you also observe errors like ```Unsupported ONNX data type: INT64 (7)```?

Another thing I'm not sure, and it may or may not affect this error, is that why are you exporting with 17 input names?

[2019-05-24 01:21] ngimel commented on #20888
Slight correction - data is not zero'd, data is untouched.
[code]
will print ones for the last row. This https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/IndexKernel.cu#L44 has `int` argument, but I thought idx should be based on the number of elements, and that is less than 2**31. Probably launch_kernel does not handle large tensors.

[2019-05-24 01:23] #20893 closed

[2019-05-24 01:25] nikhilmishra000 commented on #20893
Apologies; false alarm (I was doing something silly)

[2019-05-24 01:37] daquexian commented on #18113
I believe it has been fixed in 93d5503f34ab54c915b640d3bc45d41e6afe0dd2 four hours ago :D

[2019-05-24 02:08] BowenBao commented on #20516
Thanks for providing the repro. Seems this part needs to be updated to handle multi dims https://github.com/pytorch/pytorch/blob/62af37aa8896848bb808a33f9205d71bccf8c969/torch/onnx/symbolic_opset9.py#L211

[2019-05-24 02:32] hzxie opened #20894 "Wrong results of torch.argsort()"
## 🐛 Bug

The torch.argsort() returns wrong results.

## To Reproduce

Steps to reproduce the behavior:

[code]
It seems that the results is not correct.

## Expected behavior

[code]

## Environment

Collecting environment information...
PyTorch version: 1.1.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Arch Linux
GCC version: (GCC) 8.3.0
CMake version: Could not collect

Python

[2019-05-24 02:45] michaelklachko commented on #20402
Also, typically activation pruning is more aggressive during training (might even be disabled during test in some cases).

[2019-05-24 02:53] XiaobingSuper opened #20895 "A bug for torch.clone() when clone a MKLDNN tensor"
## 🐛 Bug

There has a bug  when clone a MKLDNN tensor, it seems that this clone share the same memory which is different with CPU tensor's clone .
## To Reproduce
Using latest pytorch:
Steps to reproduce the behavior:

[code]

you can see that tensor  **a** is also changed after change tensor **b**.

I found the code [mkldnn_clone](https://github.com/pytorch/pytorch/blob/62af37aa8896848bb808a33f92

[2019-05-24 03:02] mrshenli commented on #19540
Trying manually setting gradient functions.

[2019-05-24 03:25] beekbin commented on #18475
A workaround is to use  `x * x ` instead of `x.pow(2)`.

[2019-05-24 03:48] #20894 closed

[2019-05-24 03:55] clumsykun opened #20897 "matrix multiply support for int type in cuda"
## 🚀 Feature
need support for matrix multiply of int matrix in cuda ( you can do it in cpu ).

## Motivation

A work of mine need achieve matrix multiply of 2 huge int matrix in cuda. if I change it to float, the memory of my gpu can't afford it (rtx titan, 24G).

Right now, you can't achieve matrix multiply of  2 int matrix, it will raise error:

## Alternatives

## Additional context

[2019-05-24 04:48] Jinghui-Wang commented on #20860
I've encountered the same bug with cuda9.0 rtx2080ti. In my case every first time of the invocation of torch.bmm raised this error, but then the following invocations went fine...

[2019-05-24 07:11] float123 commented on #20857
Yes, there will be an erro：Unsupported ONNX data type: INT64 (7) , but if upgrade tensorrt to 5.1.5.0, the problem will be solved.

I just found out the ONNX Parser shipped with TensorRT 5.1.x supports ONNX IR version 0.0.3，But the onnx version of Torch exports is 0.04.

[2019-05-24 07:20] peterjc123 commented on #20686
Now it is failing with `lib\caffe2.lib : fatal error LNK1248: image size (1000EAAC7) exceeds maximum allowable size (FFFFFFFF)`. Looks like the unification of Caffe2 and PyTorch is breaking it.

[2019-05-24 08:11] float123 commented on #20857
So, I have a new problem. How to convert an onnx model - IR version4 to IR version3?

[2019-05-24 08:44] UCASJingKun opened #20901 "Question about embed._backend.Embedding.apply"
For pytorch 0.3.1, the code is correct.

[code]

But for 0.4.0, I get an error.

[code]

[2019-05-24 09:01] JiYuanFeng opened #20902 "How to speed up the TorchScipt code ?"
## ❓ Questions and Help
Hi! Recently I use the TorchScipt Module to produce the serialized model, then, I loaded the pt and predict the input, but I find it still at a low speed? Is that any tools or method to speed up?

[2019-05-24 09:12] selaselah opened #20903 "latex of init.norm is wrong"
## 📚 Documentation

[code]
the latex should be
$$
\mathcal{N}(\text{mean},\text{std}^2)
$$

[2019-05-24 09:14] UCASJingKun commented on #20901
What can I do to get the correct code.

[2019-05-24 09:30] Haydnspass commented on #17415
Still some missing in v 1.1.0:

[code]

[2019-05-24 09:41] pandeykartikey commented on #18627
Hi all, I would like to work on `pow()` function. If nobody else is already working on it. Also, I am a first time contributor so if i should look up something else before working on it, It would be great help if you can point that out. Thanks!

[2019-05-24 13:16] yf225 commented on #20704
@yifuwang If that's the case I think we can remove all of them - as long as all the NN tests pass we should be in good shape.

[2019-05-24 13:21] alexjc commented on #10661
This is now only a factor of 3x slower on pytorch 1.1.0. (Both CPU.)
[code]

[2019-05-24 13:49] baalimago opened #20905 "torch.empty(n, dtype=torch.int) produces non-deterministic arrays, not empty ones"
## 🐛 Bug

## Code To Reproduce
[code]

## Expected behavior
Output when i run above:

[code]

## Environment
PyTorch version: torch.\_\_version\_\_ = 1.1.0
Is debug build: No
CUDA used to build PyTorch: Yes

OS: Microsoft Windows 10 Pro
GCC version: Could not collect
CMake version: Could not collect

Python version: 3.7
Is CUDA available: Yes
CUDA runtime version: 10.1.168
GPU models and configura

[2019-05-24 13:59] soumith commented on #20902
please use https://discuss.pytorch.org for questions

[2019-05-24 13:59] #20902 closed

[2019-05-24 13:59] fmassa commented on #20905
That's the expected behavior. `torch.empty` doesn't initialize the data, and just returns whatever was in that position in memory. If you want the data to be initialized with some number, use `torch.zeros` or `torch.full`

[2019-05-24 13:59] #20905 closed

[2019-05-24 14:02] baalimago commented on #20905
I see. Thank you!

[2019-05-24 14:58] SsnL commented on #20875
I can't reproduce your error.

[2019-05-24 15:16] dtmoodie commented on #20875
[code]
[code]

[2019-05-24 15:34] ezyang commented on #14554
Happened again at https://circleci.com/gh/pytorch/pytorch/1791246?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-05-24 15:35] colesbury commented on #20888
I'll look at this today. @ngimel do you have any insight into #20562?

[2019-05-24 15:44] ngimel commented on #20888
No. Isolated repro would help, I think.

[2019-05-24 15:46] #10661 closed

[2019-05-24 15:58] mrshenli commented on #19540
Hi @nmerrill67, a fix is posted in #20910. If this is blocking you, please try pulling that PR and see if that works for you. That PR might not be able to land immediately, as we need to collect feedbacks to make sure that _hack_ is acceptable.

[2019-05-24 16:26] xxtemp commented on #7806
@adler-j @negargoli Sorry I haven't been available for a while now. Someone has already released his version of the code I described in my earlier post [here](https://discuss.pytorch.org/t/cuda-error-with-cudnn-convolution-backward-weight-function/41214).
If it doesn't work for you or if you're having some compilation issues, let me know and I can try to help or release my own code with guidelines

[2019-05-24 16:35] ngimel commented on #20860
You need cuda 10 version of pytorch to run on RTX.

[2019-05-24 17:12] mrshenli commented on #20856
@andywangII

Could you share the detailed repro steps and your environment (by run and paste the output of https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py) ?

cc @ezyang @yf225

[2019-05-24 17:18] eellison commented on #20862
CC @Krovatkin

[2019-05-24 17:20] mrshenli commented on #20895
@XiaobingSuper Since you have already found the fix, are you interested in submitting your fix as a PR?  :)

[2019-05-24 17:30] mrshenli commented on #8021
cc @ailzhang

[2019-05-24 17:43] mrshenli commented on #2733
@sth1997 @marcsv87 DDP on CPU devices should be available now (see [doc](https://github.com/pytorch/pytorch/blob/master/torch/nn/parallel/distributed.py#L174)). I am closing this one,  but feel free to reopen this issue if it fails to work for you.

@rabeeh that seems to be a different issue than the original published one. If you still need assistance on that, could you please post create a new i

[2019-05-24 17:43] #2733 closed

[2019-05-24 17:48] mrshenli commented on #20851
Fixed by #20850

[2019-05-24 17:48] #20851 closed

[2019-05-24 17:48] pjh5 commented on #17415
@Haydnspass this issue more closely fits your problem https://github.com/pytorch/pytorch/issues/20030 . I thought this was fixed for 1.1.0 as well. Can you comment on that issue that you're still seeing this, and give your install command?

[2019-05-24 17:49] mrshenli commented on #20867
cc @houseroad

[2019-05-24 17:53] mrshenli commented on #20857
cc @houseroad

[2019-05-24 18:05] yifuwang commented on #20694
@gchanan I'd like to help with this one. I created a pull request which removes the argument from the documentation. Please let me know if we want to actually add support for the argument instead.

[2019-05-24 18:11] mrshenli commented on #20845
Would I be correct if I assume you are experiencing a build failure due to the `nervanagpu` submodule? The repo https://github.com/NervanaSystems/nervanagpu.git is no longer available. You can proceed with the build by removing it from [.gitmodules](https://github.com/pytorch/pytorch/blob/v0.4.0/.gitmodules#L29-L31). Then do:

[code]

Any reason for not using more recent PyTorch versions (e.g., 1.

[2019-05-24 18:11] #20845 closed

[2019-05-24 18:15] mrshenli commented on #20858
cc @houseroad

[2019-05-24 18:16] ezyang commented on #20686
@peterjc123 Our Linux build is easily less than a gigabyte (based on the size of the downloads from pytorch.org nightlies webpage). Do you have any idea why your particular build is taking 2G?

[2019-05-24 18:17] mrshenli commented on #20860
@pbloem please let us know if @ngimel's reply solves the problem.

[2019-05-24 18:20] shagunsodhani opened #20921 "sizes vs size for tensor creation"
## 📚 Documentation

For tensor creation ops like `torch.zeros` and `torch.ones`, the docs [0], [1] use `sizes` as the first argument to the function call while the correct argument is `size`.  This is tested for pytorch 1.1 installed using pip on ubuntu 19.04

An example

[code]

[0]: https://pytorch.org/docs/master/torch.html#torch.zeros
[1]: https://pytorch.org/docs/master/torch.html#torch.ones

[2019-05-24 18:20] ezyang commented on #20686
For reference, caffe2.dll from debug nightlies is 200M...

[2019-05-24 18:26] mrshenli commented on #20901
Can you try upgrade to PyTorch v1.0+ and directly call `embed(input)` ([docs](https://pytorch.org/docs/stable/nn.html#embedding))?

[2019-05-24 18:26] jerryzh168 commented on #20681
Is this fixed? @A-n-o-r-a-k could you check again

[2019-05-24 18:30] nmerrill67 commented on #19540
@mrshenli Thanks for proposing a fix! I will be sure to try it ASAP. Also if anything comes to mind I will be happy to provide feedback to make the autograd broadcasting more streamlined.

[2019-05-24 18:31] zdevito opened #20923 "Cannot trace ~ correctly"
## 🐛 Bug

Tracing ~ hard codes size.
[code]

Output:
[code]

cc @suo

[2019-05-24 19:03] ezyang opened #20926 "test_structseq_repr intermittently segfaults"
Failure is:

[code]

https://circleci.com/gh/pytorch/pytorch/1790067?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link/console

Earliest known occurrence was on bug fix 19374 - fix for upsample export 93d5503

cc @zasdfgbnm

[2019-05-24 19:03] ezyang commented on #20926
cc @dzhulgakov

[2019-05-24 19:10] amsword opened #20927 "NCCL bug. Need to upgrade NCCL submodule?"
Based on the following two threshods. NCCL 2.4 has some issues. Wondering if pytorch needs to upgrade NCCL submodule.

https://github.com/horovod/horovod/issues/893
https://github.com/NVIDIA/nccl/pull/185

[2019-05-24 19:50] mrshenli commented on #20927
Yes, a PR was submitted. See #20882

[2019-05-24 20:04] colesbury commented on #20926
I'm hoping https://github.com/pytorch/pytorch/pull/20931 fixes this

[2019-05-24 20:34] dtmoodie commented on #20875
When you say that you cannot reproduce the error, do you get the same output I get from bn?  If so then does your python give you that same correct output when you manually invoke the batch norm equation?

[2019-05-24 20:38] #20860 closed

[2019-05-24 20:46] driazati commented on #18627
@pandeykartikey Looks like we already have a `pow()` implementation, feel free to pick up something else if you'd like (maybe `divmod()`). #20769 is also a very similar task if you want to look there.

[2019-05-24 20:57] #20875 closed

[2019-05-24 21:14] omry opened #20935 "torch.full_like missing documentation for out input variable"
## 📚 Documentation
https://pytorch.org/docs/stable/torch.html#torch.full_like

The behavior when the out tensor does not match type or device of input tensor is not obvious.

[2019-05-24 21:27] Roffild commented on #20695
[code]

[2019-05-24 21:49] driazati opened #20939 "[jit] Changes to TorchScript API"
# TorchScript API

## TLDR

For TorchScript we want to make using script mode as easy as tracing, so we're proposing changing the script API to mirror the tracing API and reduce the code changes necessary to start using TorchScript

[code]

* `forward` is compiled by default, methods are lazily compiled and added to `a_scripted_module` as they are called from `forward`.
    * To add methods to `a_

[2019-05-24 22:58] bencherian commented on #20822
@jaliyae Do you have any documentation on how to use this chunk based data loading feature? Is the python binding you are referring to already in PyTorch or an internal implementation you all have created for use with PyTorch?

[2019-05-24 23:04] EvenOldridge commented on #20888
Thank you both so much for such a quick fix!  You rock!

[2019-05-24 23:18] ksarma commented on #16831
I'm still able to reproduce what @FabianIsensee posted using pytorch 1.1.0a0+9eb0f43 (NGC 19.04)

This NGC image only uses cuDNN 7.5.0, not sure if 7.5.1 or 7.6 would fix

[2019-05-24 23:27] #20888 closed

[2019-05-24 23:55] ngimel commented on #16831
@ksarma please use official pytorch 1.1 conda/pip packages or image from dockerhub/pytorch.

[2019-05-25 00:06] ksarma commented on #16831
@ngimel Apologies, was using what I thought was the latest pytorch image from NGC, but it turns out there was a new one yesterday (19.05) and the issue seems to be fixed :) This image has cuDNN 7.6.0 and pytorch 1.1.0a0+828a6a3

[2019-05-25 00:25] shawn-g-hu opened #20941 "Inconsistent type conversion across add and mul when exporting to onnx"
## 🐛 Bug

Conversion to ONNX seems to export some constants as type float and some as type double.

This part is not strictly your responsibility, but this causes type issues when trying to convert the ONNX model to other deep learning frameworks.

## To Reproduce

Steps to reproduce the behavior:

Here is a (mostly) minimal program. This was tested on the latest nightly, as well as 1.0.0 and 1.1.

[2019-05-25 00:54] dashesy opened #20942 "ONNX Exporter to support multidim operators"
## 🚀 Feature

## Motivation

I used something like `torch.mean(x, dim=(1,2,3))` for reduction.
I get this in the export:

[code]

[multidim operators](https://github.com/pytorch/pytorch/issues/9703) for `mean` and `sum` are available since 1.0, and for `std`/`var` since 1.1

## Pitch

Support having `dim=(1,2,3)` for `torch.mean`, `torch.std`, ...

## Alternatives

I use this for alternative: `x.v

[2019-05-25 01:08] XiaobingSuper commented on #20895
@mrshenli, I have submitted a [PR](https://github.com/pytorch/pytorch/pull/20943) about it, thanks!

[2019-05-25 04:09] sidazhang commented on #20778
As a follow up.

If I am going to numpy. I clearly don't care about the grad. Just want to take a look at it

[code]

[2019-05-25 04:22] SsnL commented on #20875
it seems that you have solved this since you closed the issue. but i got the same output as python arithmetic.

[2019-05-25 05:35] peterjc123 commented on #20686
@ezyang Caffe2 Windows builds is started with `BUILD_SHARED_LIB=OFF`, that way, the static library `caffe2.lib(a)` is generated instead of `caffe2.dll(.so)`. Do we want to change that?

[2019-05-25 07:29] sth1997 commented on #13061
@TianDekuan @HenryJia

I got the same error, and solved it by replacing `#include "caffe2/core/macros.h" ` with `#include "build/caffe2/core/macros.h"` in caffe2/core/common.h and caffe2/utils/cblas.h.

caffe2/core/macros.h has no content, it's just a placeholder, the real content , that is, build/caffe2/core/macros.h, will be generated by the cmake script.

I noticed that there is `-I.` and `-I..

[2019-05-25 08:46] jaliyae commented on #20822
@bencherian If you look at the CanAccessChunkSamplerWithChunkDataSet test in this [file](https://github.com/pytorch/pytorch/blob/master/test/cpp/api/dataloader.cpp), it will provide a good example. Currently we don't have a complete documentation and hopefully trying to get the python binding to PyTorch as well.  Currently what we did was to pybind a method like get_data_loader() which produce an

[2019-05-25 08:51] cwjhx commented on #13040
same problem , Centernet to onnx. "change the output of your model from dict to list".How should I  change it ?

[2019-05-25 09:14] pbloem commented on #20860
Please note the title and environment log: I'm running CUDA 10.

If I weren't, no cuda calls would work. Instead, one specific cuda call doesn't work, but other models train fine.

[2019-05-25 09:40] pbloem commented on #20860
Please note the title and environment log: I'm running CUDA 10.

If I weren't, no cuda calls would work. Instead, one specific cuda call doesn't work, but other models train fine.

[2019-05-25 09:53] pbloem commented on #20860
Yes that did the trick. For anybody else wondering how to get a cuda 10 version of pytorch (the current pip version is still cuda 9) I ended up installing through conda, from the pytorch channel:
```conda install -c pytorch pytorch```

[2019-05-25 10:54] A-n-o-r-a-k commented on #20681
I will test this today. Stand by for status later today.
-------- Original message --------From: Jerry Zhang <notifications@github.com> Date: 5/24/19  2:27 PM  (GMT-05:00) To: pytorch/pytorch <pytorch@noreply.github.com> Cc: A-n-o-r-a-k <garry.osborne1@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [pytorch/pytorch] Caffe2 build on windows 10 fails with "ninja: build stopped: subcom

[2019-05-25 11:17] Steamgjk commented on #8149
I think I still have some concerns about the problem. Though tearing will not happen, but whether it will   cause read-write conflicts?

optimizer.step() needs to use gradients to update the model parameters, but two processes generate one replica of grads each, and they will simultaneously aggregate their gradients to the model parameters. Suppose the original value of the model parameter is 1.0,

[2019-05-25 11:35] dtmoodie commented on #20875
Yes I've solved the issues and I feel I should appologize for my brash response. The problem was that calling eval() on my model was not propagating to my batch Norm layer. I don't know the reason for that yet but explicitly calling eval on bn0 fixes this.

[2019-05-25 13:24] tshrjn commented on #2517
Thanks for the alternate solution, @Santiago810. Though, I'm not using multiprocessing or threading explicitly and only pytorch's dataloader and would expect it to handle the multiprocessing.

[2019-05-25 15:28] HenryJia commented on #13061
@sth1997
That then gets me caffe2/caffe2/contrib/aten/gen_aten_op.h No such file or directory

Although I have git pulled and I'm now on 81e70ffa19c90e14c20d1369aae86d19f305dc7d

[2019-05-25 17:55] FlorianDietz opened #20947 "Tensor identity comparisons not working / unclear"
## 🐛 Bug

Performing identity comparisons between tensors does not work as expected. It looks like 'is' is overloaded but I can't find documentation to that effect.

## To Reproduce

I want to compare two tensors by identity / by reference. Normally, comparing two objects in python by identity works with ‘is’ or by comparing id() values. However, this does not seem to work:

a = torch.tensor([1,2,

[2019-05-25 18:39] colesbury commented on #20947
Tensor.data returns an alias, just like detach() -- same underlying data but different Tensor object. Two evaluations of `x.data` do **not** refer to the same thing.

No, this is because `id` returns the memory address and memory addresses can be reused once an object goes out scope. `a.data` goes out of scope before `b.data` is evaluated. `id` only uniquely identify an object **during that object

[2019-05-25 18:43] colesbury commented on #20947
Use `is` (like other Python objects)

[2019-05-25 19:35] colesbury commented on #20935
Hmmm... why does this function still have an `out` kwarg? (We've removed `out=` from zeros_like/ones_like/randn_like)

[2019-05-25 19:39] colesbury commented on #20489
Is this specific to CUDA 8? (I see pytorch-linux-xenial-cuda8 in the log)

Might be wishful thinking on my part as we dropped CUDA 8 support

[2019-05-25 19:41] FlorianDietz commented on #20947
Thanks for the explanation about id(), it makes sense to me now.

Coming back to the example though: Is there any way to compare tensors so that `a` and `b` from the example are recognized as the same thing? They refer to the same data, but one of them is detached while the other is the original.

[2019-05-25 20:28] syed-ahmed commented on #20489
Should be "solved" after this lands 😆: https://github.com/pytorch/pytorch/pull/20886

[2019-05-25 20:34] syed-ahmed commented on #20489
Btw I have only seen this on Maxwells

[2019-05-25 20:37] syed-ahmed commented on #20489
ah-ha. Maxwell it is.
[code]

[2019-05-25 21:18] jerry73204 commented on #3022
In my case my machine has 1080 and 550W PSU. Running my libtorch program in Rust once is fine. However, if I repeat killing and restarting my program every 30 seconds, the system either reliably shuts down, or the GPU gets offline. Eventually, the motherboard breaks cannot boot at all.

[2019-05-25 21:29] colesbury commented on #20947
You can check that two Tensor's data_ptr(), shape, and stride() match, but this sound pretty fragile and you should probably instead rethink your use-case.

[2019-05-25 21:44] Roffild commented on #20695
I used the CPU inside the Py_NewInterpreter() and there was no problem with the deadlock. But some commit between May 10 and 20 added the use of [AutoGIL](https://github.com/pytorch/pytorch/blob/bdce5533feb860036931f7c578f3a9f3e56fb242/torch/csrc/utils/auto_gil.h#L8) for CPU.

[Relocking occurs due to the lack of verification that the GIL is already held.](https://github.com/python/cpython/blob/71

[2019-05-25 22:24] xsacha commented on #20844
Is there any issue with the same application linking multiple CUDNN? For instance, if another dependency uses CUDNN.
I notice this seems to double memory overhead but not sure if it causes any CUDNN issues.

[2019-05-26 01:02] kishwarshafin commented on #19213
I am facing this issue with v1.1 pytorch.

![image](https://user-images.githubusercontent.com/10559039/58376098-239d5680-7f17-11e9-8ea3-956ce12ae88a.png)

I'm using CUDA 9.1 though, can that be an issue here?

[2019-05-26 02:48] Chillee commented on #20271
The instructions do not work for me as is. In particular, I run into this issue: https://github.com/pytorch/pytorch/issues/17181

~~I'm new to this codebase, but doesn't `python setup.py develop` already build `libtorch.dylib` in `build/lib/`? At the very least, I've verified that after doing the standard pytorch build, I can use the custom operators stuff.~~

Looking at the slack, it seems like T

[2019-05-26 02:56] dashidhy opened #20960 "[Bug] Error using .view(-1) after torch.meshgrid"
## 🐛 Bug

## To Reproduce
[code]
when using .view(-1):
[code]

However, there is no error when resizes to other shapes

[code]

## Environment
PyTorch version: 1.0.1.post2
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 16.04.6 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
CMake version: version 3.5.1

Python version: 3.6
Is CUDA available: No
CUDA runtime ve

[2019-05-26 04:43] shalijiang commented on #17888
thanks! this works!

[2019-05-26 05:08] fuzic opened #20962 "assignment to a twice-sliced tensor does nothing"
## 🐛 Bug

Assignment to a twice sliced tensor (for example, masking a tensor and then slicing that masked tensor) drops the assignment altogether.

The same thing is true when `tensor[][].copy_()` is invoked - nothing is actually assigned to any portion of `tensor`

## To Reproduce

tensor([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

## Expected behavior

tensor([0, -1, -1, -1, 4, 5, 6, 7, 8, 9])
## Environme

[2019-05-26 05:42] sth1997 commented on #13061
@HenryJia
I can't find this file either. Which file include this header file?

[2019-05-26 05:56] colesbury commented on #20962
Indexing using a mask is not slicing -- it returns a copy not a view.

You may want to refer to https://docs.scipy.org/doc/numpy/reference/arrays.indexing.html

[2019-05-26 05:56] #20962 closed

[2019-05-26 06:06] colesbury commented on #20960
As the error message says "Call .contiguous() before .view()". Or **use reshape()** which will do that for you when necessary.

view() is only guaranteed to succeed on contiguous tensors. x is not contiguous. Check out x.stride(), and x.storage(). Note that it uses stride 0 to repeat elements without repeating them in memory (i.e. the storage).

See https://docs.scipy.org/doc/numpy/reference/gener

[2019-05-26 06:06] #20960 closed

[2019-05-26 06:08] colesbury commented on #10322
Another one: https://circleci.com/gh/pytorch/pytorch/1804474?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-05-26 06:09] colesbury commented on #20960
Also see https://pytorch.org/docs/stable/tensors.html#torch.Tensor.view

[2019-05-26 06:36] myhub opened #20963 "official libtorch static build zip file error"
## ❓ Questions and Help

I download libtorch static zip file from https://download.pytorch.org/libtorch/cpu/libtorch-static-with-deps-latest.zip

but I find that libtorch-static-with-deps-latest.zip version still has .so files,
IT is The same as shared version from https://download.pytorch.org/libtorch/cpu/libtorch-shared-with-deps-latest.zip

I want to release my app without any .so files, and I

[2019-05-26 06:37] ailias commented on #13836
I have replaced nn.PixelShuffle with nn.Upsample and the test passed. It's great.
But I'm curious if tensorrt does not support PixelShuffle op, why not cause an error??? A wrong output answer may puzzled us.

[2019-05-26 06:48] pandeykartikey commented on #18627
Thanks @driazati . `divmod()` sounds nice. Will soon submit a PR for the same. :smile:

[2019-05-26 07:32] ailias commented on #14351
Yes, It solved the bugs for me when I update the pixel_shuffle function. Thank you very much.

[2019-05-26 07:33] ailias commented on #14351
Maybe you should update pytorch to 1.0.1 version

[2019-05-26 09:29] gurkirt commented on #3022
I think it is clear from the above discussion that mostly it is the fault of PSU, PSU not only has to have enough power outage but should be robust enough to withstand the power surge. My advice to you if you have this problem then try changing it to better PSU and keep the machine in a cold and dry place.

[2019-05-26 10:16] yifuwang commented on #14895
@ezyang I think the ConvNd call site is dead code. Submitted a #20965 to remove it.

[2019-05-26 10:56] allegroai commented on #20585
@soumith it works, but now the documentation is out of date as it says `/stable` instead of `/stable.html`. This can also be solved by adding a redirection from the former to the latter.

[2019-05-26 11:13] A-n-o-r-a-k commented on #20681
ok,

BLUF:

it failed with:
**ninja: error: dependency cycle: caffe2/contrib/aten/gen_op.py -> caffe2/contrib/aten/gen_op.py**

I performed:
git clone --recursive https://github.com/pytorch/pytorch.git
then ran the build_windows.bat per the instructions on the site. it failed with an ninja error as seen here:

[code]

[2019-05-26 12:46] link2xt commented on #19675
Duplicate? #4145

[2019-05-26 13:17] xhuvom opened #20966 "RuntimeError: cuda runtime error (11) : invalid argument at /pytorch/aten/src/THC/THCGeneral.cpp:405"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. conda create -n gan
2. conda activate gan
3. conda install -c pytorch pytorch-nightly
4. conda install -c fragcolor cuda10.0
5. python2 >> import torch

## Expected behavior
Torch should be imported

## Environment

PyTorch version: 1.0.1
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: Ubuntu 18.04.2 LTS
GCC version: (Ubun

[2019-05-26 14:59] sublee opened #20967 "Track running stats regardless of track_running_stats=False"
## 🐛 Bug

Since v1.1.0, `BatchNorm` tracks running stats even its `track_running_stats` option is `False` on the fly.

## To Reproduce

[code]

## Expected behavior

It looks like a design issue. If we decide to make `track_running_stats` as an immutable option, to modify this option should raise `AttributeError`.

Or, if we decide to allow to modify `track_running_stats` after initialization, `Ba

[2019-05-26 15:10] peterjc123 commented on #20681
You'll need CMake >= 3.14.3 to correctly suppory VS2019. Also, you'll need a fresh clone of the repo.

[2019-05-26 15:43] soumith commented on #20967
the way it's implemented, `track_running_stats` cant change from False to True (i.e. False in constructor but made True afterwards) because False to True wont create [these buffers](https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/batchnorm.py#L35-L37). It can only go from True to False and still be valid.
I think it's better in that case to actually have a way to disable it and ena

[2019-05-26 15:47] soumith commented on #20585
@allegroai where is the documentation? I just changed the urls back to `stable`

[2019-05-26 15:48] sublee commented on #20967
As you said it's modification is asymmetric. I think it's a good choice to simply make `track_running_stats` immutable.

[2019-05-26 15:49] soumith commented on #20967
yea i think that's reasonable

[2019-05-26 15:52] soumith commented on #19213
@kishwarshafin looks fine to me. we dont globally set a config -- you set the number of threads in your process' lifetime.

[2019-05-26 15:53] A-n-o-r-a-k commented on #20681
@peterjc123 understood. getting a fresh clone and updating Cmake. will post results shortly

[2019-05-26 16:10] soumith commented on #20939
@sidazhang do you like this?

[2019-05-26 16:12] soumith commented on #20694
@yifuwang
The way to fix it is to actually do what BatchNorm does, i.e. introduce [version 2](https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/batchnorm.py#L16) for the module and have a custom [_load_from_state_dict](https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/batchnorm.py#L89-L102) function that handles this

[2019-05-26 16:13] soumith commented on #20694
@yifuwang whoops, ignore my comment, they were meant for a different issue

[2019-05-26 16:15] soumith commented on #3946
@julioasotodv for loops are supported in TorchScript mode, as documented

[2019-05-26 16:27] soumith commented on #20864
This looks similar to https://github.com/pytorch/pytorch/issues/20844

This does not sound right, our library does not even go looking for CUDA or CuDNN on the system (we dont link against it dynamically). Something that seems to be happening is that you are loading another package that is attempting to load CUDA / CuDNN -- do you `import` any other GPU or deep learning package, like Rapids or Ten

[2019-05-26 16:33] soumith commented on #20532
@lironmo the CUDA driver and context take a certain amount of fixed memory for their internal purposes. on recent NVIDIA cards (Pascal, Volta, Turing), it is more and more. `torch.cuda.memory_allocated` returns only memory that PyTorch actually allocated, for Tensors etc. -- so that's memory that you allocated with your code. the rest of it (700 - 43 MB) is being taken by driver and cuda context

[2019-05-26 16:34] soumith commented on #17560
I'd agree, send a PR to https://github.com/pytorch/contrib with unit tests, I'm happy to merge

[2019-05-26 16:34] #17560 closed

[2019-05-26 16:35] soumith commented on #20785
i think we should remove CuDNN bindings and do the right thing. Our own kernels aren't that much slower than CuDNN, and if we actually wanted to we can speed them up a bit more.

[2019-05-26 16:44] zzz123xyz commented on #2539
I still have this problem which version r you using and solve this problem?

[2019-05-26 17:04] djygithub opened #20969 "Windows 10/Python 3.5 Pytorch 1.1.0 CPU increase versus 1.0.0 mnist"
## 🐛 Bug
Running the example mnist application under Windows 10/Python 3.5 Cuda 10, significant increase in CPU time 1.1.0 versus 1.0.0.  This is on an I7-7700, 32GB Ram, Nvidia GTX1050 GPU.

From VTUNE GPU Hotspots for 1.0.0:

Module / Function /   Call Stack | Effective Time
-- | --
python35.dll | 35.5
caffe2.dll | 30.2
ntoskrnl.exe | 18.4
ntdll.dll | 12
torch.dll | 6.60001
igdkmd64.sys | 5.7
wx

[2019-05-26 17:59] A-n-o-r-a-k commented on #20681
@peterjc123 I upgraded cmake to 3.14.4 as it was the most recent build at cmake.org I deleted the old pytorch repo and clones a new copy  of pytorch. followed the steps on the install page.

It failed when running build_windows.bat with the following error: **lib\caffe2.lib : fatal error LNK1248: image size (100028B9C) exceeds maximum allowable size (FFFFFFFF)
ninja: build stopped: subcommand fail

[2019-05-26 18:01] sidazhang commented on #20939
Some quick question:
[code]

Let's say the `training_only_param` is like some python class. It is also used for training inside `if self.training:`. Then what happens? Is this legal?

Can we have training only params?

[2019-05-26 18:49] iamgeo92 opened #20970 "HTTPS error in pytorch.org"
There is https error on https://www.pytorch.org/
If you remove "www" , the error goes.
This should not happen.

![http_pt](https://user-images.githubusercontent.com/7668755/58385881-0949a280-8015-11e9-8bc9-574d3c01e81b.png)

[2019-05-26 19:11] lironmo commented on #20532
@soumith - i found the answer to my question(see link below). I need to make the change at torch.cuda and test it.
Thanks.

https://devtalk.nvidia.com/default/topic/1044191/cuda-programming-and-performance/determine-memory-cuda-context-memory-usage/

[2019-05-26 19:23] soumith commented on #20494
@pdilyard we cannot upload pytorch's cpu-only wheels to pypi under a different package name, if that's what you are asking. this is because pypi has a 60MB package limit. For current `pip install torch`, we got special one-time permission to bump up the limit.

[2019-05-26 19:23] soumith commented on #20494
would conda work for you? we ship `pytorch-cpu` package on conda in our `pytorch` channel

[2019-05-26 19:42] soumith commented on #20531
The problem is here: https://github.com/pytorch/pytorch/blob/9310e600f65602360fd44461791825286e679273/torch/csrc/api/include/torch/nn/modules/sequential.h#L342-L344

It doesn't put `register_module` in a try/catch, and unwind / recover properly if `register_module` throws.

cc: @yf225

[2019-05-26 19:44] #17971 closed

[2019-05-26 19:47] soumith commented on #20524
it's well-documented in the torchvision docs: https://pytorch.org/docs/stable/torchvision/transforms.html#torchvision.transforms.ToTensor

Also, the issue should be on https://github.com/pytorch/vision

[2019-05-26 19:47] #20524 closed

[2019-05-26 19:54] #20423 closed

[2019-05-26 20:02] #20630 closed

[2019-05-26 21:36] soumith commented on #20970
this is expected. Our host Github Pages doesn't generate https cert for *.pytorch.org, just pytorch.org
If we hosted the site on our own, we could generate the cert to also cover www.pytorch.org

[2019-05-26 21:36] #20970 closed

[2019-05-26 21:40] soumith commented on #20969
because of a stupid bug, 1.0.0 did not ship with OpenMP enabled. 1.1.0 shipped with OpenMP enabled, and uses multiple cores. This is in line with expectations. MNIST as a workload is really small, so OpenMP's multithread optimizations are probably slowing down the workload because most of the time is simply spent in thread overhead.
This is fixed on master because we moved away from OpenMP to our

[2019-05-26 21:40] #20969 closed

[2019-05-26 21:40] soumith commented on #20969
a workaround for 1.1.0 for you is to use `torch.set_num_threads(1)` or use the env variable `OMP_NUM_THREADS=1` (you can replace `1` with other values to tune the perf)

[2019-05-26 21:55] #20694 closed

[2019-05-26 22:03] drewsil opened #20972 "logsigmoid fails on -inf"
## 🐛 Bug

torch.nn.functional.logsigmoid returns nan when its input is -inf, the correct return value should be -inf. Algorithm should be adjusted to return the correct value (and correct derivative), or the special case should be tested for and replaced.

The impact of the issue is that if a -inf is present in an input tensor the output is corrupted and the gradient will fail to compute for the f

[2019-05-26 22:57] fuzic commented on #20962
@colesbury that would make sense, but then why does assigning to a masked tensor work? wouldn't that be assigning to a copy, which would be a temp/discarded?

tensor([-1, -1, -1, -1,  4,  5,  6,  7,  8,  9])

[2019-05-26 23:11] gchanan commented on #19545
I'm looking into this.

[2019-05-26 23:59] soumith commented on #20962
assignment will call  __newindex__ on the same tensor

[2019-05-27 00:27] mrshenli commented on #20927
closed by #20882

[2019-05-27 00:27] #20927 closed

[2019-05-27 00:44] colesbury commented on #20962
Soumith is referring to [`__setitem__`](https://docs.python.org/3/reference/datamodel.html#object.__setitem__). (newindex is Lua)

`a[mask] = -1` is is evaluated as single operation  `a.__setitem__(mask, -1)`

This is notably different from C++ where the same syntax would be two operations (`operator[]` and `operator=`)

[2019-05-27 01:22] yanhaiming56 commented on #20005
I get the error yet. How do you fix this bug?

[2019-05-27 01:59] peterjc123 commented on #20681
Yes, it is discussed [here](https://github.com/pytorch/pytorch/issues/20686#issuecomment-495501084).
It cannot be resolved in a short time, however, as a user, you can skip this by setting `BUILD_SHARED_LIBS` to `OFF`.

[2019-05-27 03:07] ryankang95 opened #20975 "build caffe2 operators failed, 'sorry, unimplemented: non-trivial designated initializers not supported'"
## 🐛 Bug

i want to build caffe2 server operators to test fbgemm, but i meet thest problems:

## To Reproduce

Steps to reproduce the behavior:

1.turn BUILD_CAFFE2_OPS and USE_FBGEMM on in CMakelists
2.cmake and make install

/data/home/ryankang/Workspace/pytorch/caffe2/operators/conv_op_impl.h: In instantiation of ‘caffe2::ConvOp<T, Context>::RunOnDeviceWithOrderNCHW()::<lambda(caffe2::Tensor*)>

[2019-05-27 04:52] soumith commented on #20410
I am seeing this output when I ran locally:

[code]

this seems fine.

[2019-05-27 04:54] soumith commented on #20756
The way to fix it is to actually do what BatchNorm does, i.e. introduce [version 2](https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/batchnorm.py#L16) for the module and have a custom [_load_from_state_dict](https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/batchnorm.py#L89-L102) function that handles this

[2019-05-27 04:55] soumith commented on #20843
since this is already fixed in the latest release (1.1.0) I am closing the issue.
We are unlikely to port the fix to 1.0.0

[2019-05-27 04:55] #20843 closed

[2019-05-27 04:58] lironmo commented on #20410
Yes it's seems ok, but i still getting crashes.
Do you run it on mac os?
Can you please send me the pytorch version that you use?

[2019-05-27 04:59] hrbigelow commented on #20843
No problem, thanks for checking it.  I'll upgrade to 1.1.0.

[2019-05-27 05:03] soumith commented on #20410
i ran it on Linux, pytorch version 1.1.0

[2019-05-27 05:08] astooke commented on #20844
Hey sorry it took me a bit to finish this...

I think this was a false alarm / coincidence.

Ran `lsof` like you said: nothing `cudnn` opens, and the only `cuda` file open outside of torch is the driver.  I re-ran with the old cudnn back in place and it learned OK, so either I had some unlucky runs earlier or I changed something else!

Thanks for the quick responses...getting to understand PyTorch

[2019-05-27 05:08] #20844 closed

[2019-05-27 05:09] prafullasd commented on #20630
@ngimel Thanks a lot for the workaround, I can confirm that jobs have been running for longer than 50 hrs without deadlock.
@mrshenli Thanks for updating the module so fast :) I'll run my jobs again with the latest pytorch-nightly to make sure there's no deadlocks.

[2019-05-27 05:15] lironmo commented on #20410
This tester should works on linux,
It's only crash on mac os.

[2019-05-27 05:16] soumith commented on #20525
I can confirm that the binary being linked is correct (i.e. `latest` is from v1.1.0).

@peterjc123 for some reason somewhere in the Windows build scripts 1.0.0 is being hard-coded as the cmake `TORCH_VERSION` variable. Any ideas where it's hard-coded from?

[2019-05-27 05:17] soumith commented on #20583
cc: @mingfeima can someone on intel side reproduce the issue, and if its mkl-dnn bug, issue a fix

[2019-05-27 05:19] soumith commented on #20416
@virajmavani what is the proposed API?

[2019-05-27 05:34] draplater opened #20978 "Cannot print LayerNorm in ScriptModule"
## 🐛 Bug
Version: master (1.2.0.dev20190526)
Got KeyError: 'elementwise_affine' when printing a ScriptModule with a LayerNorm in it.

## To Reproduce
[code]

The result is:
[code]

## Expected behavior
In stable version, it is:
[code]

## Environment
Collecting environment information...
PyTorch version: 1.2.0.dev20190526
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: Ubuntu 18.04.1 L

[2019-05-27 05:53] soumith commented on #20518
@akjindal53244 not at this time

[2019-05-27 06:03] soumith commented on #20676
@suo fyi it was labeled jit 9 days ago, but not triaged

[2019-05-27 06:04] fuzic commented on #20962
thanks for explaining! that makes sense.

[2019-05-27 06:09] FCInter commented on #19666
I just met this problem today. I finally found that my problems was caused by an incomplete installation of the CUDA. Typically the `nvrtc.h` file should be located at directories such as `/usr/local/cuda/include`. If you cannot find it there, you should reinstall the CUDA toolkit.
Hope this could help.

[2019-05-27 06:13] soumith commented on #20637
Thanks for the request.

First, this is pretty impossible in non-jitted pytorch models by design. Unless you are actually intrusively inspecting the Class source code, and parsing `forward` (which can be as complex as one might get), it's simply not doable robustly.

You took a simple case, and showcased it, but it gets pretty complicated. @fmassa and I have thought about this use-case quite exten

[2019-05-27 06:13] #20637 closed

[2019-05-27 06:19] mingfeima commented on #20583
@soumith will try to reproduce on our side.

[2019-05-27 06:21] soumith commented on #19682
Sorry for taking time on this one. It has come up in the past (several times), and our take was simply that we should strive to make `forward` drive execution than using "layers".
That being said, a `Reshape` (not `View`) is commonly useful when you already want a simple stack of `Sequential` layers.

At this stage of time, as maintainers our view has changed, and we've been convinced otherwise.
W

[2019-05-27 06:30] soumith commented on #19742
we spent some time (@fmassa did) trying to repro it, but couldn't. Hopefully you can carve out a smaller test case. If you end up doing so, please reopen the issue.

[2019-05-27 06:30] #19742 closed

[2019-05-27 06:31] ehion commented on #16559
Get the same issue when i use multi-threads with one thread in one gpu

[2019-05-27 06:36] soumith commented on #8985
@t-vi if you are still interested in a PR, I'd be down. It looks like a simple python-level addition.
Would like to hear form @ajbrock and @Kaixhin on whether there's an API that generalizes across applications or we'd have to think hard about it. Just above, there are two variants, but there's not much disagreement.

[2019-05-27 06:41] davidenitti commented on #8913
any update on this bug?

[2019-05-27 06:48] t-vi commented on #8985
So one thing that borders on bikeshedding: with StyleGAN's Linear layer for weights the ConditionalBatchNorm here is really a CategoricalConditionalBatchNorm (I think the SNGAN uses the term somewhere). That wasn't as clear to me a year ago.

[2019-05-27 06:49] soumith commented on #5790
hey, I thought about this a bit.

I dont think hookable weights are the right solution, because we already do provide stuff that's very close.
FIrst, we provide [model.named_children](https://pytorch.org/docs/stable/nn.html?highlight=named_children#torch.nn.Module.named_children), `named_modules` and `named_parameters` via which you can comfortably do something like:

[code]

where `prune_model` l

[2019-05-27 06:51] pandeykartikey commented on #18627
@driazati here is my all pull request #20979 for `divmod()`.

[2019-05-27 06:52] soumith commented on #19536
closing via Kai's comment

[2019-05-27 06:52] #19536 closed

[2019-05-27 06:54] soumith commented on #19462
cc: @yf225 @gchanan

[2019-05-27 06:57] soumith commented on #18643
@ezyang @gchanan could you make sure someone looks into this

[2019-05-27 06:59] #7065 closed

[2019-05-27 07:03] soumith commented on #15870
would love to see this closed, if it's a nan it's a nan.

[2019-05-27 07:05] peterjc123 commented on #20525
@soumith Is it set here? https://github.com/pytorch/pytorch/blob/master/CMakeLists.txt#L224

[2019-05-27 07:17] troymaple commented on #17658
The same problem on CentOS 7.

[2019-05-27 07:21] soumith commented on #13897
@hagerrady13 i know it's been a while, but the resnet50 slowdown was related to 1.0 not having aliasing / mutation passes. Can you give 1.1 a try, and see if that fixes things (and reopen the issue if it doesn't)

[2019-05-27 07:21] #13897 closed

[2019-05-27 07:29] soumith commented on #16972
1. I've stopped relying on `_is_binary_build` for CXX ABI flags, so hopefully it shouldn't matter anymore for cpp extensions purposes.

2. 1.1.0 tag has `1.1.0` as the version, no git hash.

[2019-05-27 07:29] #16972 closed

[2019-05-27 07:33] soumith commented on #16840
this was fixed

[2019-05-27 07:33] #16840 closed

[2019-05-27 07:33] #16646 closed

[2019-05-27 07:35] soumith commented on #16843
@mboisson @ccoulombe did this ever get resolved? I have a different email thread with you about a seemingly related issue and it was fixed with a magma upgrade.

[2019-05-27 07:41] soumith commented on #16675
what you are asking for is to legitimize a hacky, possibly removable feature of `register_buffer`, so no :)

I'd say, `state_dict` is such a simple stupid format, that writing a `load_model(model, state_dict)` that works for your model is the way to go

[2019-05-27 07:41] #16675 closed

[2019-05-27 07:42] soumith commented on #16499
will accept a PR to fix this issue.

[2019-05-27 07:45] rotmanmi commented on #20477
My current workaround:

while true; do
        timeout -sHUP 1m tensorboard --logdir=runs;
done

[2019-05-27 07:46] soumith commented on #14841
this is now fixed (has been for a while) because we not statically link our own compiled mkldnn and dont rely on possibly corrupt or mismatched version of system mkldnn

[2019-05-27 07:46] #14841 closed

[2019-05-27 07:51] fmassa commented on #19682
Is there another use-case for `nn.Reshape` in a sequential outside of going from a Conv2d to a Linear?
If not, then I'd recommend instead implementing `nn.Flatten`, based on `yoech flatten`, which does what the user wants, without having to mess around with sizes, just say: flatten everything after dim 1.

[2019-05-27 08:16] Kaixhin commented on #8985
Yes after a batch norm (without an affine transformation) it's then a question of whether you want an affine transformation for continuous values (use `nn.Linear`) or discrete values (use `nn.Embedding`). I'm not sure it's worth the bloat for having two different functions/modules that do this, but one could be worth it (accepting discrete values by default).

[2019-05-27 08:18] Dezreal opened #20981 "May be a BUG in 'Conv2d' with "Padding_mode='circular', Padding=1""
## 🐛 Bug

When 'Padding_mode' is 'circular', ‘Padding=1’ and 'Padding=0' are no different.
(In fact, I am not sure whether this is a bug or a special setting.)

## To Reproduce

[code]

## Expected behavior

As code said:
[code]
the size of output is expected to equals to [1, 1, 6, 6], but the result is [1, 1, 5, 5]

## Environment

 - PyTorch Version: 1.1.0
 - OS: Win 10
 - pip
 - Python version:

[2019-05-27 08:25] marchss commented on #14367
@sinkingsugar Could you please share your code of registrations here? I am facing the same issue of CPU initialization code getting pruned away, and cannot use the --whole-archive option b/c of the circumstance limitation. Thanks.

[2019-05-27 08:54] elvindp opened #20982 "About weight in BCEWithLogitsLoss to handle imbalanced samples"
## About weight in BCEWithLogitsLoss to handle imbalanced samples

  I read document of BCEWithLogitsLoss and I find "weight" parameter is different with CrossEntropLoss's "weight". In BCEWithLogitsLoss, "weight" has to be a Tensor of size nbatch , but in CrossEntropLoss, "weight" is a shape of C (number of classes). I first not understand "nbatch" meaning, number of batch or batchsize. After tryi

[2019-05-27 09:00] AtlantixJJ commented on #18414
Hi, I need LARS in Pytorch to conduct a research. Do you have any progress? I can help you if you need it.

[2019-05-27 09:08] hshustc commented on #17658
Replacing libtorch_latest with libtorch_1.0.0 solves the issue, though the reason is not clear.

[2019-05-27 09:56] DomHudson opened #20984 "Improve torch.nn documentation loading time"
## 📚 Documentation
Hi, this is not a serious issue but can be a little frustrating. I've noticed the documentation for the `nn` package (https://pytorch.org/docs/stable/nn.html) is quite slow to load. It takes around 16 seconds to render the page on Google Chrome. Often, I am looking for the documentation for a specific class and chrome's search won't find it until the page is done rendering.

![S

[2019-05-27 10:55] Haydnspass commented on #17415
@pjh5 So I just coded a dummy file and used cmake as described in the C++ tutorial. On the linux machine doing the same works.
So installing libomp via brew ist the workaround for now?

[code]

[2019-05-27 11:13] Jonas1312 commented on #20635
@peterjc123 any ideas?

[2019-05-27 11:19] Jonas1312 commented on #20984
Takes around 11s to load `torch.nn` doc on my dual core cpu 😕

[2019-05-27 12:32] peterjc123 commented on #20635
What about using `torch.cuda.is_available()` and then `torch._C._cuda_getDevice()`?

[2019-05-27 12:41] buaacarzp commented on #7233
hey, I have a problem with it, my CUDA version is 8.0 and the Cudnn  is 6.0,  I want to know  whether the version of the pytorch in  this github can support my  machine. please help me.

[2019-05-27 12:43] buaacarzp commented on #18677
but my cuda is 8.0 , it tell me PyTorch requires CUDA 9.0 and above.
HOW can I solve it?

[2019-05-27 13:26] Hansry commented on #14682
Me the same. If you solved this, pls let me know how. Thx

[2019-05-27 13:57] KnowingNothing opened #20986 "Compile from source failed on NVIDIA TX1: class "__half" has no member "x""
I want to build pytorch v1.0.1 on NVIDIA TX1, the configs are:
Install the project...
-- Install configuration: "Release"
-- The C compiler identification is GNU 5.4.0
-- The CXX compiler identification is GNU 5.4.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Check for working CXX compiler: /usr/bin/c++
-- Check for working CXX compiler: /u

[2019-05-27 14:08] peterjc123 commented on #20635
The call stack of the three functions:
[code]

[2019-05-27 14:28] peterjc123 commented on #20635
@ezyang Could it be the CUDA version of this issue https://github.com/pytorch/pytorch/issues/17239?

[2019-05-27 14:45] Jonas1312 commented on #20635
@peterjc123 I just had an error while building pytorch [build.txt](https://github.com/pytorch/pytorch/files/3224178/build.txt)

[2019-05-27 15:46] Louis-udm opened #20988 "How to do matrix multiplication between two 2D sparse directly and quickly"
## 🚀 Feature
I want a function like torch.sparse.mm(sparse_matrix1, sparse_matrix2)

## Motivation
I know torch.sparse.mm(sparse_magrix1, sparse_matrix2.to_dense()) , but this will spend a lot of memory when sparse_matrix2's shape is large.

[2019-05-27 15:53] SsnL opened #20989 "test_multinomial broken on rocm"
[code]

https://ci.pytorch.org/jenkins/job/pytorch-builds/job/py2-clang7-rocmdeb-ubuntu16.04-test/22387/console

[2019-05-27 15:54] millawell commented on #11793
I don't have a solution here, but at least I can show you that the problem is the scattering:
[code]

[2019-05-27 15:56] Louis-udm commented on #20988
I found the TensorFlow has this function:
tf.sparse_matmul(
    a,
    b,
    transpose_a=False,
    transpose_b=False,
    a_is_sparse=False,
    b_is_sparse=False,
    name=None
)
I sincerely hope that PyTorch also has it!

[2019-05-27 16:38] rohanpandey opened #20990 "Unable to use Pytorch with CUDA"
I am unable to use pytorch with CUDA despite having installed it.

OS: Windows 10
Pytorch Version: 1.1.0
CUDA Version: 10.0

I get the following error. Any help would be appreciated.

![image](https://user-images.githubusercontent.com/31413869/58431540-f5ad4300-80cb-11e9-8f04-cc6fe98acb1e.png)

[2019-05-27 16:44] soumith commented on #20986
i think you have a botched CUDA install. `__half.x` is pretty much what nvidia ships.
reinstall your cuda

[2019-05-27 16:47] soumith commented on #20982
please use https://discuss.pytorch.org for questions

[2019-05-27 16:47] #20982 closed

[2019-05-27 16:53] Jonas1312 commented on #20635
@peterjc123 I fixed the previous build error but don't know how to fix this one: [build2.txt](https://github.com/pytorch/pytorch/files/3224521/build2.txt)

[2019-05-27 17:37] soumith commented on #14303
I concur with @fmassa

Basically, the way RePR needs to be implemented is in the training loop:

[code]

(I am simplifying the implementation here for discussion).

The reason is because it needs knowledge of "iterations", and I can see follow-up methods might want whole graph analysis (for example seeing multiple layers of conv weights at once).

Secondly, RePR doesn't have **any** citations yet,

[2019-05-27 17:37] #14303 closed

[2019-05-27 17:39] soumith commented on #19260
I think we should revert the `tuple` specialization of `checkpoint_sequential`, or provide it as an option` in the constructor.
@sublee are you interested in providing a PR?

[2019-05-27 17:40] soumith commented on #20410
@lironmo it is not crashing for me on MacOS with PyTorch 1.1.0 either:

[code]

[2019-05-27 17:44] lironmo commented on #20410
Ok,
I will upgrade from 1.01.post2 to 1.1.0 and get back to you.

Thanks!

[2019-05-27 17:47] suo commented on #20676
@zakizhou thanks for the report! This is because when we load the model, we create copies of each submodule. Can you explain your use case a little bit? e.g. why do you want to use the same module as a submodule in two different places.

[2019-05-27 17:49] soumith commented on #3428
updated robots.txt to include all of the older docs

[2019-05-27 17:50] sublee commented on #19260
@soumith Yes, I am. It would be my pleasure.

When `checkpoint_sequential` takes `len(args) != 1`, I think it should raise `DeprecationWarning` for PyTorch 1.1.x. This specialization should be completely reverted at PyTorch 1.2.0. Do you agree with this approach?

[2019-05-27 17:53] Jonas1312 commented on #20990
Duplicate #20635

[2019-05-27 17:55] soumith commented on #19128
i think the last bits of info you gave are probably the reason why.

We extract the CUDA version by inspecting the filename of `libcudart.so.xxxxx`. In your custom CUDA install, it's possible that only a single symlink `libcudart.so` is provided.

[2019-05-27 17:57] rohanpandey commented on #20990
Where should this addition be done? In the main file?

[2019-05-27 17:58] rohanpandey commented on #20990
I'm trying to run openNMT train file. And I am encountering the same issue.

[2019-05-27 18:00] rohanpandey commented on #20990
@Jonas1312. The previous command works now. But I have this error. Any ideas?

![image](https://user-images.githubusercontent.com/31413869/58434040-60b04700-80d7-11e9-9438-8dcb560d5cbc.png)

[2019-05-27 18:04] rohanpandey commented on #20990
I was able to solve this simply by using the torch.cuda.current_device() command. Thanks

[2019-05-27 18:04] #20990 closed

[2019-05-27 18:06] soumith commented on #19128
sent https://github.com/pytorch/pytorch/pull/20992 to fix this

[2019-05-27 18:15] henribru commented on #8199
But those aren't equivalent. CrossEntropyLoss expects class indices, while softmax_cross_entropy_with_logits can work with probability distributions.

[2019-05-27 18:20] vadimkantorov commented on #3428
@soumith it doesn’t prevent pages to be added to index (if they are linked somewhere on internet, like on pytorch forum) if I understand well (and wouldn’t remove pages already indexes). Meta noindex would remove them from index (and they must not be excluded in robots.txt)

[2019-05-27 18:25] suo commented on #20978
Thanks for the report! @driazati can you look into this?

[2019-05-27 18:33] Woolseyyy opened #20993 "The true value is not what it looks like"
## 🐛 Bug

The true value of the element of tensor seems not to be what it looks like and what it should be.
The debuger shows that a variable x is 1.0000, while `torch.sqrt(1.0 - torch.pow(x, 2))` is nan and `x > 1` is true.  What's worse, some other 1.0000 variable shows the opposite. They are all produced by computing cos, which means they should be no more than 1.

## To Reproduce
[code]
[code]

[2019-05-27 18:46] AlexeyAB commented on #1706
It would be nice to add a `conv-LSTM` layer that is much better for Training and Detection on Video - faster and higher mAP@0.5: https://github.com/AlexeyAB/darknet/issues/3114#issuecomment-494148968

Implementation: https://github.com/AlexeyAB/darknet/blob/24f7d94ab4214dd43805270056effd95bfd9a5d9/src/conv_lstm_layer.c#L809-L1185

You can use the same conv-LSTM approach that is used in Keras: http

[2019-05-27 18:48] Woolseyyy commented on #20993
The bug can't be avoid with clamp.
`(cosine.clamp(-1, 1) < 1)[1][1] = tensor(0, device='cuda:2', dtype=torch.uint8)`

[2019-05-27 19:34] ajbrock commented on #8985
I agree with Kai that `nn.Linear` and `nn.Embedding` will cover most use cases, and it feels like it would be worth having a module that supports either. I think the most general API would be one that just takes in `(x, gain, bias)` and returns `gain * normalize(x) +bias)` (potentially as a wrapper around an arbitrary normalizer so that it can use InstanceNorm, GroupNorm, etc, instead of just BN)

[2019-05-27 19:34] Kaixhin commented on #1706
Given the current level of the JIT, would definitely be worth getting an official module in.

[2019-05-27 19:36] mrshenli commented on #20903
Hi @selaselah, are you interested in submitting a PR to fix it? :)

[2019-05-27 20:18] soumith commented on #19260
@sublee i agree with this approach

[2019-05-27 20:26] ZhihuiYangCS commented on #13061
@HenryJia I met this problem if I replace #include "caffe2/core/macros.h" with #include "build/caffe2/core/macros.h" in caffe2/core/common.h and caffe2/utils/cblas.h.

Now, are there any suggestions?

[2019-05-27 20:37] soumith commented on #54
DistributedDataParallel handles the basic cases.
Upcoming `torch.rpc` will handle the other cases (pipeline and model parallel)

[2019-05-27 20:37] #54 closed

[2019-05-27 20:47] soumith commented on #18536
I was looking at framing an API for this and it wasn't as straight-forward as it seemed.

If one wants a Python API for setting  / getting CuDNN algorithms, is it per-layer, or global? Global doesn't seem useful, unless @jcjohnson says otherwise.

I think it should be some kind of  a per-shape setter / getter.
Maybe something like:

[code]

What do you guys think?

[2019-05-27 20:49] soumith commented on #17613
@subho406 seems to work fine for me (with 1.1.0 and the latest `examples` repo), just fyi

[2019-05-27 20:50] soumith commented on #18996
This indeed affects OSX. We'll aim to fix it by next release.

[2019-05-27 21:12] soumith commented on #20058
i think this is worth doing, but the first step to hook it up to is F.dropout in nn/functional.py
It ends up calling _VF.dropout with probability `p`. We should give a noise_shape to `_VF.dropout` which by default is the same shape as `input`, but otherwise it'll be a broadcastable shape.

For example:

[code]

In here, the same random mask will be broadcasted to shape of `10, 3, 224, 224` where,

[2019-05-27 21:14] soumith commented on #15436
@ChunML answers the above question.

In the future if you have doubts or questions, reach out at https://discuss.pytorch.org

[2019-05-27 21:14] #15436 closed

[2019-05-27 21:15] JustusWest commented on #10303
@KasperJuunge that fixed my code! Thanks so much for your comment

[2019-05-27 21:15] soumith commented on #3990
as far as I can tell, we cannot actually detect this purely from binary bits (unless we patch Magma itself to encode what CUDA it was built against.

[2019-05-27 21:49] #19265 closed

[2019-05-27 22:22] zhangguanheng66 commented on #20722
Thanks for bringing up the issue and we have fixed it. We also added two JIT unit tests to cover the applications of torch.nn.MultiheadAttention module (i.e. "test_torchscript_multi_head_attn" and "test_scriptmodule_multi_head_attn_cuda" in test_jit.py). Those two could possibly be good examples for JIT scriptable.

[2019-05-27 22:22] #20722 closed

[2019-05-27 23:05] vadimkantorov commented on #20993
A hypothesis: some of the x are actually > 1 (because of numerical issues of L2-normalization), but are shown as "1.00000" because of rounding.

The easiest fix is to add a small epsilon before taking a square root. Beware of clamp, because it would produce no gradients if the value is clamped.

[2019-05-28 00:47] #20895 closed

[2019-05-28 01:33] thuwyh opened #20997 "ReduceLROnPlateau will fail when add new parameter group to the optimizer"
## 🐛 Bug

ReduceLROnPlateau will fail when add new parameter group to the optimizer.
The `_reduce_lr` function will raise list index out of range error

## To Reproduce

Steps to reproduce the behavior:

1. initialize optimizer: `optimizer = Adam(filter(lambda p: p.requires_grad, model.parameters()), args.lr)`
1. initialize scheduler: `scheduler = ReduceLROnPlateau(optimizer, patience=1, factor=0.

[2019-05-28 02:45] sakaia opened #20999 "CPU torch.norm gives strange results for LargeTensor on Colab"
## 🐛 Bug
On Colab, CPU gives strange result for torch.norm.
But Colab GPU and my Local Machine CPU/GPU gives appropriate result.
On Colab

[code]
On Local Machine

[code]

## To Reproduce

Steps to reproduce the behavior:

Execute following script
[code]

## Expected behavior
torch.norm and other result should give similar result

## Environment
On Colab
[code]
On Local Machine

[code]

## Additio

[2019-05-28 02:48] sakaia commented on #20999
This issue is coming from following discussion.
  https://discuss.pytorch.org/t/cpu-and-gpu-tensor-norm-different/46288/4

[2019-05-28 03:09] Whisht commented on #16996
I found that the stubs of torch.*  works well in **pycharm python console**, but still cannot find reference in the **editor**.  Even I reinstall pycharm as well as remote python interpreter. So confusing.

[2019-05-28 04:31] subho406 commented on #17613
Yes, was fixed onwards pytorch 1.0.1. Thanks

[2019-05-28 04:39] mingfeima commented on #20583
@arp2600 Hi, i double checked your script on Xeon E5 2699 (broadwell, avx2) and Xeon 6148 (skylake, avx512), i can not reproduce this issue. The PyTorch version is `1.1.0a0`.

could you please specify how you installed your PyTorch environment? Build from source or conda?

[2019-05-28 04:58] peterjc123 commented on #20635
Please comment out line 277 in `c10\util\ArrayRef.h`.

[2019-05-28 05:28] MinHyung-Kang opened #21004 "PTX JIT compilation failed when running FasterRCNN"
## 🐛 Bug

Trying to run FasterRCNN newly released in torchvision 0.3 runs into PTX JIT compilation failed error. This fails on my Google Cloud instance using GPU, but does not fail using CPU

## To Reproduce

Steps to reproduce the behavior:

Simple code that fails
[code]

Error output:
[code]

## Expected behavior

To run

## Environment
[code]

## Additional context

[2019-05-28 05:57] soumith commented on #20525
yes, let's do that

[2019-05-28 06:04] sublee commented on #18414
Hi, I'm Heungsub Lee at Kakao Brain. I'm interested in large-scale training using PyTorch. As this aspect, I've implemented GPipe in PyTorch as [torchgpipe](https://github.com/kakaobrain/torchgpipe).

If still there's no one who is implementing accelerated LARS in PyTorch yet, I want to try it. May I give a chance to contribute to PyTorch?

[2019-05-28 06:28] One-sixth opened #21009 "RuntimeError: isTensor() ASSERT FAILED when torch.jit.trace with torch.jit.script"
## 🐛 Bug

I don't know which caused this problem.

## To Reproduce

Steps to reproduce the behavior:

1.

[code]

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[cod

[2019-05-28 06:34] peterjc123 commented on #21009
Are you trying to mix the debug/release build? When you build with the debug configuration, you'll need the debug binaries. Go to https://pytorch.org, select Stable, Windows, LibTorch, C++ and download the debug version of LibTorch.

[2019-05-28 06:41] One-sixth commented on #21009
I installed pytorch using pip3 install https://download.pytorch.org/whl/cu100/torch-1.1.0-cp37-cp37m-win_amd64.whl. Not built by myself. I don't use libtorch.

[2019-05-28 06:44] peterjc123 commented on #21009
Then you'll need to build with Release configuration in VS.

[2019-05-28 06:46] peterjc123 commented on #21009
Oh, sorry, I didn't see this carefully.

[2019-05-28 06:49] #20525 closed

[2019-05-28 06:52] tjusxh commented on #20794
In the end, I resolve the question by reinstall vs2015 and uninstall the visual c++ 2017 Redistributable.

[2019-05-28 07:01] fmassa commented on #20999
This is a related to https://github.com/pytorch/pytorch/issues/20551

[2019-05-28 07:22] mzhaoshuai opened #21011 "can torch.logdet() and torch.cholesky_inverse() support batch operations"
## 🚀 Feature

### can `torch.logdet()`  support batch operations
[code]
Can `torch.logdet()` support batch operations?
This function now is a little wired cause `torch.cholesky()` already support batch operations.
Then we can get a batch version according to `tensorflow`s implementation:
[code]

### can `torch.cholesky_inverse()`  support batch operations

[code]
Can `torch.cholesky_inverse` suppo

[2019-05-28 07:27] bddppq commented on #20989
Breakage introduced by #20919, reverted in https://github.com/pytorch/pytorch/commit/5ddbfc97e9ce8555a7d515d51a5461edf8675c54

[2019-05-28 07:27] #20989 closed

[2019-05-28 07:32] Jonas1312 commented on #18999
Same issue I think #20635

[2019-05-28 07:40] tjusxh commented on #5858
@Guo-Shuai  adding the code in the beginning of your code.

[2019-05-28 08:19] mfuntowicz commented on #19128
@soumith thanks for having a look. I'm totally sure this is the main problem here, as I have the versioned symlinks in /usr/lib64:

[code]

I pulled your changes and compilation is running. I'll update my comments with more insight as soon as compilation is done.

[2019-05-28 08:20] RusdiHaizim opened #21012 "Error when creating new caffe2::Predictor(_initNet, _predictNet)"
## 🐛 Bug

ML Framework used: Caffe2
IDE for Android: Android Studio
## Issue

We intend to create an Android app that runs super-resolution models on images from the gallery. We ran the example code based on https://github.com/caffe2/AICamera on Android, where we replaced the files used in _initNet and _predictNet (originally squeeze_init_net.pb & squeeze_predict_net.pb) with our own .pb models, b

[2019-05-28 08:25] vishwakftw commented on #21011
Hi @mzhaoshuai, thank you for your suggestion.

We support `torch.logdet` for general matrices, and not just symmetric positive semi-definite matrices. We are constrained by the lack of batch SVD which is used for the derivative in the general scenario. But when that's done, we should be able to support a variety of linear algebra methods in batch mode.

I will close this issue in interest of #750

[2019-05-28 08:25] #21011 closed

[2019-05-28 08:28] yelu commented on #20264
This could be closed. Thanks for the detailed test. I thought the entry dll was torch.dll, but they were caffe2.dll/c10.dll. After I set them to be delayed, the issue was gone.

BTW, the test above doesn't imply static global variables in headers are not a problem for delay loading. For pod types, it is fine. But for a class, it may bring side effect.

[code]

[2019-05-28 08:31] Man1029 commented on #566
正在尝试该方法，不是是否可以解决这个问题。

[2019-05-28 08:35] Man1029 commented on #566
(pytorch) C:\Windows\system32>pip install torch
Collecting torch
  Using cached https://files.pythonhosted.org/packages/5f/e9/bac4204fe9cb1a002ec6140b47f51affda1655379fe302a1caef421f9846/torch-0.1.2.post1.tar.gz
    ERROR: Complete output from command python setup.py egg_info:
    ERROR: Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "C:\Users\PanPan\AppDa