[2022-06-22 14:25] #79716 closed

[2022-06-22 14:27] lodo1995 commented on #59592
Any news on this? Is it supposed to be solved? I'm having the same problem as well on the master branch right now.
I'm using these configuration options:

[code]

[2022-06-22 14:29] #67539 closed

[2022-06-22 14:29] janeyx99 commented on #79712
Similar to https://github.com/pytorch/pytorch/issues/79716, closing

[2022-06-22 14:29] #79712 closed

[2022-06-22 14:30] albanD commented on #75406
Note that we can't see the error log anymore.
Also does this test still exist @suo? I can't find it locally.

[2022-06-22 14:35] malfet opened #80034 "XLA builds frequently fail during `download_and_install` step"
### 🐛 Describe the bug

See last three failure (from Jun 22nd 2022 HUD):
https://github.com/pytorch/pytorch/runs/6998408151?check_suite_focus=true
https://github.com/pytorch/pytorch/runs/6999992948?check_suite_focus=true
https://github.com/pytorch/pytorch/runs/7004452840?check_suite_focus=true

All 3 failed with similar pattern:
[code]

I wonder if its possible to cache those artifacts in the base

[2022-06-22 14:36] malfet commented on #80034
Very likely similar approach can be applied to both bazel and xla builds

[2022-06-22 14:37] janeyx99 commented on #76932
cc @robieta

[2022-06-22 14:39] janeyx99 commented on #76781
This test was removed in https://github.com/pytorch/pytorch/pull/79370

[2022-06-22 14:39] #76781 closed

[2022-06-22 14:42] janeyx99 commented on #73173
@pearu Has this been resolved?

[2022-06-22 15:01] robieta commented on #76932
Curious. Nothing has changed in that code for a long time. Something ambient must have changed.

[2022-06-22 15:05] janeyx99 commented on #70516
@ejguan could you take another look at this?

[2022-06-22 15:14] gchanan commented on #80027
does this cover your issue? https://pytorch.org/docs/stable/notes/numerical_accuracy.html#batched-computations-or-slice-computations

[2022-06-22 15:14] kumpera commented on #79016
@zhuzilin issue (1) is being actively worked on as it is a known limitation of the current API.

The current design makes the simplifying assumption that sharded tensors are present on all ranks and other tensors are replicated across all ranks.

[2022-06-22 15:37] #80027 closed

[2022-06-22 15:46] garymm opened #80037 "[ONNX] Fix test_pytorch_onnx_onnxruntime_cuda.py"
Current file is out of date due to module name changes.
The code needs to be refactored to correctly capture test cases from standard ort test, and override with cuda device.

[2022-06-22 15:50] garymm opened #80038 "[ONNX] Remove spammy warnings"
- [ ] `Warning: Constant folding - unsupported opset version. Constant folding not applied.`
- [ ] `WARNING: The shape inference of prim::Constant type is missing, so it may result in wrong shape inference for the exported graph. Please consider adding it in symbolic function.`

[2022-06-22 15:56] garymm opened #80039 "[ONNX] Increase coverage of quantization operators"
Up-to-date supported list: https://pytorch.org/docs/master/onnx_supported_aten_ops.html?highlight=onnx

------

Extending support for operators used by quantization. A few thoughts/options.

1. Support all operators documented here https://pytorch.org/docs/stable/quantization-support.html?highlight=quantization. The list is non-exhaustive and there may exist undocumented quantized operators.
    *

[2022-06-22 15:57] ejguan opened #80040 "DataLoader traverse function doesn't work with `DataPipe` that is unhashable"
### 🐛 Describe the bug

`cache` is added [here](https://github.com/pytorch/pytorch/blob/c4d558e2dafa894b07bd7308e5d02545cffa8d12/torch/utils/data/graph.py#L79) to prevent infinite recursion due to circular references of `DataPipe`.

However, this relies on the hash value of each `DataPipe` when adding DataPipe to the cache.

See the issue found by internal tests in [link](https://fburl.com/tasks/b

[2022-06-22 16:00] DanielHesslow opened #80041 "nn.init will give different result if a tensor is contiguous"
### 🐛 Describe the bug

Depending on if a target tensor is contiguous or not `torch.nn.init` will give different results

Minimal repro:
[code]

While this rarely will cause any issues, I did just spend a couple of hours debugging an issue stemming from this. And more importantly the current behavior is rather unexpected.

Thanks

### Versions

PyTorch version: 1.11.0+cu113
Is debug build: False
C

[2022-06-22 16:05] VitalyFedyunin commented on #80040
Object id seems to be good and fastest option.

[2022-06-22 16:37] malfet commented on #80009
Can reproduce the same on AMD GPU as well. Will spend a few min debugging

[2022-06-22 17:06] drorlederman opened #80047 "Inference result is different between Pytorch and ONNX model when using an efficientnet architecture"
### 🐛 Describe the bug

I trained some pytorch models, some use resnet and some use efficientnet. I exported the models to onnx using the code below. When running inference, I'm getting significant differences between the torch and onnx models, only for the efficientnet model (I'm using the geffnet package).
Any idea will be appreciated.
Thanks

[code]

### Versions

PyTorch version: 1.11.0
Is deb

[2022-06-22 17:08] #75630 closed

[2022-06-22 17:28] #77732 closed

[2022-06-22 18:29] ngimel commented on #80041
Duplicate of #71090, this is expected behavior, there's no guarantee that random initialization of transposed tensors will match.

[2022-06-22 18:36] ngimel commented on #80020
The number of elements of the output tensor is bigger than 2**31

[2022-06-22 18:43] half-potato opened #80061 "Devious Error Message when calculating gradient for Pow with wrong device"
### 🐛 Describe the bug

Here is a short snippet to demonstrate how difficult this could be to traceback.
[code]
When running with anomaly mode, it just points to the PowBackward1 as the issue, but there is no explanation of why.

### Versions

1.11.0, 1.13.0. The other issue is present across different environments and comptuers.

[2022-06-22 18:51] malfet opened #80062 "Extra pings from mergebot when PR is closed are annoyng"
### 🐛 Describe the bug

It's good to notify user when PR is reverted (as mergebot does not reopen the PR), but notifications on merge are excessive (as changing the state from opened to closed is a very obvious indication of the action taken.

### Versions

CI

[2022-06-22 18:54] JackCaoG commented on #80034
@yeounoh Can you help to take a look?

[2022-06-22 19:16] eellison opened #80067 "FakeTensor: Support torch.tensor([FakeTensor, 0])"
### 🚀 The feature, motivation and pitch

Repro:
[code]

`torch.tensor` undergoes a special path that doesn't go through a lot of the typical `__torch_dispatch__`.

### Alternatives

_No response_

### Additional context

This showed up in the `maml` benchmark with torch dynamo.

[2022-06-22 19:17] wschin commented on #79963
Modify Pytorch to use `TORCH_API void Lint(const AliasDb* db);` solves this problem.

[2022-06-22 19:50] DenisVieriu97 commented on #77764
Hi!
I am working on `aten::index.Tensor_out` and  `aten::_index_put_impl_`

[2022-06-22 20:13] axeln31459 commented on #79841
Thanks ptrblck for pointing out the forum post, I missed that. Putting separate autocast blocks around the no-grad and grad blocks seems to work and find_unused_parameters=True as well. I'll try to look into it a bit more in terms of performance and what happens under the hood, but I will close it now.
Again, thanks to everyone for your help.

[2022-06-22 20:13] #79841 closed

[2022-06-22 20:17] IvanYashchuk opened #80079 "Interpretation of torch.* functions to use primTorch refs in torch._refs fails for composition of nn.functional calls"
### 🐛 Describe the bug

The following graph shouldn't have any "aten" ops if traced under `TorchRefsMode.push()`.

[code]

Using `TorchRefsMode(strict=True)` doesn't change anything.

`torch._refs.nn.functional.mish` calls `torch._refs.nn.functional.softplus`, tracing `softplus` directly works as expected.

### Versions

Happens on master.

cc @ezyang @mruberry @ngimel

[2022-06-22 20:23] aalvan commented on #15645
This works for me.

[2022-06-22 20:26] rohan-varma opened #80080 "Complex support in DDP"
### 🐛 Describe the bug

There are a few issues to support complex tensors in DDP:

1. Currently, passing in complex tensors to DDP does not work because ProcessGroupNCCL doesn't know how to handle the type. @kumpera has a WIP fix in https://github.com/pytorch/pytorch/pull/74039.
2. Conjugated tensors won't work out of the box as they need to be materialized before calling `view_as_real` for correc

[2022-06-22 20:30] rohan-varma commented on #80080
cc @anjali411

[2022-06-22 20:32] anjali411 commented on #71613
cc. @kumpera who was working on #74039

[2022-06-22 20:35] #80062 closed

[2022-06-22 20:53] malfet commented on #74798
Would https://github.com/pytorch/pytorch/pull/79636 address the issue?

[2022-06-22 21:29] kurtamohler commented on #72948
I started an RFC (https://github.com/pytorch/rfcs/pull/43). So far I'm just focusing on listing out all the features the logging system needs. I'd appreciate any comments, especially about which features I haven't included yet

[2022-06-22 22:21] suo opened #80096 "mergebot should notify of failure as soon as any required status fails"
Right now, mergebot checks the status of the `pull` workflow to determine whether a merge will succeed or not. GitHub waits for *all* workflow jobs to finish before marking the workflow as succeeded or failed.

This means that one job can fail (and thus the merge will fail) early on but we will wait the full ~3.5h before we mark the merge as failed. I'd like to be notified of a failed merge as soo

[2022-06-22 22:29] eqy commented on #79987
Is there anything in-progress with that approach/would upstream accept a PR with this change?

[2022-06-22 23:10] malfet commented on #80034
Disabling for the time being in https://github.com/pytorch/pytorch/pull/80099 (as every build for last 5 commits have failed)

[2022-06-22 23:20] #76838 closed

[2022-06-22 23:22] ngimel commented on #79987
There's nothing in progress, upstream would accept PR with this change (if possible, make a shortcut for a common case where it's easy to determine that no broadcast of values is required). E.g. these sequence of ops https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/TensorAdvancedIndexingUtils.h#L60-L69 is shared between deterministic and nondeterministic impls, and can be refact

[2022-06-22 23:40] Christinepan881 commented on #39388
Same error here: (on AWS Cluster multi-node training)

RuntimeError: NCCL error in: ../torch/csrc/distributed/c10d/ProcessGroupNCCL.cpp:1102, internal error, NCCL version 21.0.3
ncclInternalError: Internal check failed. This is either a bug in NCCL or due to memory corruption

Any solutions?

[2022-06-23 00:07] JackCaoG commented on #80034
yea, I think it is a GCS bucket issue

[2022-06-23 01:40] #79670 closed

[2022-06-23 02:35] xwang233 opened #80118 "Allow a user provided "test name - test time" mapping file work with pytorch's test sharding mechanism"
### 🚀 The feature, motivation and pitch

We're running pytorch unit tests with sharding, but we can only do plain test sharding because "test time-based sharding" is only available from pytorch's past CI data, for example, `get_shard_based_on_S3` needs `test_times_file` from S3.

A plain sharding doesn't always work well because some shards finish in 20 minutes while other shards take longer than

[2022-06-23 02:54] suo commented on #80118
I'm not sure what "plain test sharding" means. Is the core problem that the current sharding is by file, and you would like to break the primtorch test file into smaller chunks to achieve more balanced test times between shards?

If you had the ability to export your own test time data, how would you tell the CI to use it?

[2022-06-23 03:53] zanshuxun opened #80119 "The use of validation dataloader changes the train dataloader"
### 🐛 Describe the bug

The use of validation dataloader changes the train dataloader, which is unexpected.

## Without validation

[code]

output: (the result is **reproducible** since I set the `torch.manual_seed(2022)`)
[code]

## With validation

When I use the validation dataloader after each epoch, the following training process changed:

[code]

output: (the data order has been **changed**

[2022-06-23 03:56] Force1ess commented on #77732
@VitalyFedyunin
I tried ```queue.get(block=False)```, and nothing changed at all.
It's not caused by waiting for the producer process.
Is there any more efficient way to transfer data?
You can try this:
[code]

[2022-06-23 04:54] xwang233 commented on #80118
My bad. I should make the feature request clearer. The problem we're having is some test shards are taking too long.

While the test time mapping file is one solution, there definitely could be other solutions as well.

[2022-06-23 06:45] pytorch-bot[bot] opened #80125 "DISABLED test_utils_compute_queue_depth (__main__.TestProfiler)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_utils_compute_queue_depth&suite=TestProfiler&file=test_profiler.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7015606309).

Over the past 3 hours, it has been determined flaky in 4 workflow(s) with 5 red and 4 green.

cc @il

[2022-06-23 07:29] #80020 closed

[2022-06-23 07:30] ptrblck commented on #79933
I don't think this is a bug but expected behavior.

Each approach will call into [`r.copy_(self, non_blocking)`](https://github.com/pytorch/pytorch/blob/08820cb030927200c92733436f454f5fcf19c6bd/aten/src/ATen/native/cuda/Copy.cu#L232) in `_to_copy` and eventually into [`copy_kernel_cuda`](https://github.com/pytorch/pytorch/blob/08820cb030927200c92733436f454f5fcf19c6bd/aten/src/ATen/native/cuda/Copy

[2022-06-23 08:02] yaox12 commented on #79933
Thanks, @ptrblck, very detailed explanation! We should probably leave a note in the [documentation](https://pytorch.org/docs/stable/generated/torch.Tensor.to.html) or give a warning when non_blocking is not available. For now, it's really confusing operation 2 is much slower than operation 1 and 3.

[2022-06-23 08:11] powderluv commented on #63558
I have been able to cross-compile arm64 libtorch builds using the following commands:

SHARED ARM64 LIBRARY
[code]

STATIC ARM64 LIBRARY

[code]

[code]

This is the same script the builder uses to publish arm64 wheels for PyTorch so we can just enable with a check for `$CROSS_COMPILE_ARM64`
https://github.com/pytorch/builder/blob/a56a4fb4a089aca10e59aed3c02be9e1eb03cf41/wheel/build_wheel.sh#L240

[2022-06-23 08:21] FengMu1995 opened #80127 "an error happened in prediction on Android phone with torch mobile"
### 🐛 Describe the bug

com.facebook.jni.CppException: Could not run 'aten::upsample_bilinear2d.out' with arguments from the 'Vulkan' backend.

### Versions

torch_mobile1.10.0

[2022-06-23 08:28] MTachon commented on #65528
Hi,

I am also getting the same error as @ljz756245026.

I installed pytorch with conda by running the following:

`conda install pytorch torchvision torchaudio cudatoolkit=11.3 -c pytorch`

Running the **collect_env.py** script gives me the following output:

Collecting environment information...
PyTorch version: 1.11.0
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used to build PyT

[2022-06-23 09:05] LydiaXiaohongLi opened #80129 "create input tensor on GPU device takes extremely long time when inferencing with transformer models"
### 🐛 Describe the bug

Hi Team, Good day!

Problem: create input tensor on GPU device takes extremely long time when inferencing with transformer models

Description:

I use below sample full code, to examine inferencing speed with BERT model, it uses bert-base-multilingual-uncased from huggingface's implementation, takes random 5000 texts from SQuAD1. To speed up, the code is optimised so that i

[2022-06-23 09:12] leslie-arch commented on #28950
So， have you fixed this problem? Is this a bug? I'm using pytorch 1.7.X....

[2022-06-23 09:37] zhijianli opened #80130 "ArrayRef length issue when export wav2vec model to onnx"
## ❓ Questions and Help
Hi

I have some problem converting my wav2vec model into onnx.

In the extract_features method of the Wav2Vec2Model class, I added an init_onnx method, hoping to generate onnx.
![image](https://user-images.githubusercontent.com/33283007/175247653-76fb33d1-397c-4b5e-abbf-fc60b336e632.png)

But the result is wrong

[code]

I want to know why？

#### Code
[code]

#### What's yo

[2022-06-23 11:52] Lezcano opened #80132 "Expose more MAGMA backends for solve_triangular"
### 🚀 The feature, motivation and pitch

MAGMA has quite a few (at least 3) backends for triangular solvers, and their efficiency varies wildly. We should expose as many backends as we can and do a proper benchmark of all of them to have faster triangular solvers, as triangular solvers are the basis for almost all other linalg algorithms.

This was discovered while running the benchmarks for https

[2022-06-23 11:55] AyaNasser96 opened #80133 "Conversion of finetuned resnet50 (pytorch) to onnx (not the same results)"
### 🐛 Describe the bug

The problem is when I convert the pytorch model (finetuned resnet50) to onnx the results of the pytorch inference and onnx inference are not the same, the detected class is the same in most cases but the difference in the confidence is huge at some pics that could reach 30%!!

It's not a consatn drop number in confidence, no at some img inference the drop is 2% and other co

[2022-06-23 12:08] Abermal opened #80134 "[feature request] Add support for a custom DatasetFetcher in DataLoader"
### 🚀 The feature, motivation and pitch

I'm working on a time-series dataset, and I stumbled upon a limitation withing pytorch's DataLoader that I'd like to address here.

I have a custom map-style dataset that implements a `__getitem__` and `__len__` methods.

`__getitem__`  has a following signature and returns by default features of shape `(seq_length, n_features)` and an integer label.
[code]

[2022-06-23 12:29] Asciotti commented on #77090
Update: I am actually able to get this working across multiple nodes, with <2 GPUS on each node. We had linkerd running in our kube cluster which seemed to be affecting the traffic across the nodes.

I will close this but might open another ticket since I am still having issues scaling up to more than 2 gpus on each node. I went through all the various `NCCL_X` settings and no dice.

[2022-06-23 12:29] #77090 closed

[2022-06-23 12:40] josejimenezluna commented on #52848
Bumping this. I am also encountering the same problem with `pytorch=1.11` and `cudatoolkit=11.3`.

[2022-06-23 13:35] zhuzilin opened #80137 "[torch::deploy] Cache line optimization in LoaderBalancer has negative effect to performance"
### 🐛 Describe the bug

When experimenting with `torch::deploy`, we observed that the LoadBalancer (`LoadBalancer::acquire()`) has bad performance, i.e. when running resnet18 with 4 interpreters on 1 gpu, the performance with load balancer (`model(inputs)` directly) will give us 60% gpu utilization, while if we designate a fixed interpreter to each thread, we will reach 100% gpu utilization and a

[2022-06-23 13:56] dagitses commented on #80018
@malfet @albanD

[2022-06-23 14:01] #80041 closed

[2022-06-23 14:03] dagitses commented on #80061
This is interesting. We will discuss in triage review to see if this is systematic problem.

[2022-06-23 14:33] qqaatw commented on #77764
working on `huber_loss.out` `huber_loss` `huber_loss_backward.out`

[2022-06-23 14:33] aweinmann commented on #75252
The same issue also applies to InstanceNorm

[2022-06-23 14:46] janeyx99 commented on #80118
Is the real ask here to split up big test files like test_ops.py?

[2022-06-23 14:53] cimes-isi opened #80141 "rpc_init always enables CUDA if it's available"
### 🐛 Describe the bug

When initializing RPC, it appears that CUDA is automatically initialized even if an empty device list (i.e., not `None`) is specified in the backend options.  While `None` implies default behavior, an empty list should conceptually mean that no CUDA devices are to be used by RPC, and therefore the RPC backend should not automatically init CUDA.  Setting the environment vari

[2022-06-23 14:55] NicoleMayer opened #80142 "CPUProfilingAllocator greedy allocation plan generation failed"
### 🐛 Describe the bug

Segmentation fault during greedy allocation plan generation using CPUProfilingAllocator. After carefully looking into the code, I found the root cause is the `free_size_to_offset` doesn't consider tensors with the same size.

I fixed this issue by let `free_size_to_offset` map a size to a list of offset. When there are a new tensor allocation with existing size, it will add

[2022-06-23 15:05] #73384 closed

[2022-06-23 15:05] #73383 closed

[2022-06-23 15:14] rohan-varma commented on #80141
Verified that I can repro this.

@H-Huang can we fix it by applying the same logic of `None` to empty list?

[2022-06-23 15:17] dbl001 commented on #79840
I rebuilt pytorch last night and tried running my AI-Feynman model again.
This time, the GPU activity monitor showed usage.
Unfortunately, the iMac stopped responding
E.g. - couldn’t load a web page, run ‘ps -ef’, kill terminal jobs or even reboot.
I had to power off the iMac.

[2022-06-23 15:44] rohan-varma commented on #80022
Since this is CPU memory leaking, it seems unlikely that this is a NCCL / CUDA issue IIUC. @ZhiYuanZeng could you comment as to how you're tracking CPU memory decrease?

I added a print `print(psutil.virtual_memory().available)` after the a2a single call, but could not reproduce the issue and didn't see memory available decreasing.

[2022-06-23 15:51] rohan-varma commented on #79388
@d4l3k could you help take a look at this one, and feel free to re-add oncall: distributed tag if distributed help is needed.

[2022-06-23 16:27] johnnynunez commented on #77764
Is there any documentation to develop? I would help.

[2022-06-23 16:33] NivekT commented on #80119
You can pass in a `torch.Generator` that is not used by other objects.
[code]

cc: @ejguan

[2022-06-23 16:37] naourass commented on #19184
I'm facing the same issue : python 3.8, gcc 9.4.0. Any workaround to fix this ?

[2022-06-23 16:49] mrshenli commented on #68014
self-assigned to reserve for bootcamp

[2022-06-23 16:52] d4l3k commented on #79388
Yeah, that's exactly the problem -- we don't do any DNS resolution when identifying if the local host matches. We really should fall back to DNS resolution or correctly handle the search paths in /etc/resolve.conf. Sorry you ran into this issue - we should probably fix it in trunk though that wouldn't be released until PyTorch 1.13 I believe

Your solution of using localhost on rank0 is exactly wh

[2022-06-23 16:59] DenisVieriu97 commented on #77764
Hi @johnnynunez. Thank you for the interest! Below doc. contains information on how to add an OP (including a PR).
* [Add a new PyTorch operation to MPS backend](https://github.com/pytorch/pytorch/wiki/Adding-Op-for-MPS-Backend)

[2022-06-23 17:11] d4l3k commented on #80137
@zhuzilin can you share what machines you're using (cpu model, cache sizes, manufacturer)? `lscpu`

It's surprising that something like this would be the bottleneck given all of the other much heavier computation

With just 4 interpreters it seems like 256 bytes (8 * 4 * 8) shouldn't make much of an impact on L1

Can you capture a perf trace under the two different configurations?

[2022-06-23 17:20] ejguan commented on #80119
The reason simply because a random `base_seed` is lazily generated when iteration starts even though you set `shuffle=False`.

Like @NivekT said, you should provide a generator with a manual seed to `train_dataloader` for randomness control. Besides, if you have random operations in your model after loading data, the randomness of `train_dataloader` is also affected. Providing generator to isolate

[2022-06-23 17:30] suo commented on #78540
fwiw this job is still disabled

[2022-06-23 17:34] larryliu0820 commented on #78540
I forgot to enable it in the retry PR. I’ll do it soon. Feel free to submit a PR if you have time.

[2022-06-23 17:36] voe09 opened #80150 "jit does not correctly script python enumerate"
### 🐛 Describe the bug

When setting start argument in Python enumerate function, torch jit could not script it correctly. It would ignore the start argument

[code]

### Versions

Collecting environment information...
PyTorch version: 1.11.0+cu113
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.5 LTS (x86_64)
GCC version: (Ubuntu 7.5.0-3ubu

[2022-06-23 17:36] d4l3k commented on #80137
I chatted with @zdevito about this.

Generally we recommend that you use 1 interpreter thread per GPU. Multi parallelism on a GPU doesn't really work well and can cause performance issues. If you need more throughput, batching at the application level is the recommended approach

Did you change lines other than https://github.com/pytorch/pytorch/blob/072311bb28c74eca24acc9bf20288c4de8421be9/torch/

[2022-06-23 17:37] rohan-varma opened #80151 "activation checkpointing with non_reentrant implementation memory leaks"
### 🐛 Describe the bug

This is coming from an internal report where using `CheckpointWrapper` with the `CheckpointImpl.NO_REENTRANT` gradually leaks memory, leading to CUDA OOM.

### Versions

main

[2022-06-23 17:41] rohan-varma commented on #79887
@albanD what would be required to make `checkpoint` work with kwarg inputs?

[2022-06-23 17:42] malfet commented on #80009
Fixed by https://github.com/pytorch/pytorch/pull/80049

[2022-06-23 17:42] malfet commented on #80006
Sorry, referenced wrong PR in 80049

[2022-06-23 17:51] kiukchung commented on #79388
fwiw if you are using Kubernetes I'd also encourage you to use TorchX to launch DDP jobs onto the k8s cluster. See: https://pytorch.org/torchx/latest/schedulers/kubernetes.html

TorchX is a PyTorch job launcher that we've worked on to help users launch training jobs onto various different types of schedulers. We've figured out these sort of kinks on the schedulers that we support.

[2022-06-23 17:54] malfet commented on #79835
@danieldk hmm, sorry, which commit you had(`git show b9c5b97a3`  returns an ambiguous argument error to me) to revert and what build failures are you talking about?

Also, can you please try latest nightly/1.12 RC, as I can not reproduce the problem on my end:
[code]

[2022-06-23 17:54] d4l3k commented on #79388
It would be good to fix this in elastic as well -- could probably make a call to https://docs.python.org/3/library/socket.html#socket.gethostbyaddr and check against the current IP list. PRs welcome :)

[2022-06-23 18:04] larryliu0820 commented on #78540
I see there’s some mixup in my retry PR. I’ll fix it

[2022-06-23 18:06] anfedotoff commented on #74798
Yes, #79636 fixed this problem.

[2022-06-23 18:06] #74798 closed

[2022-06-23 18:07] 0x00b1 opened #80152 "Orthogonal Polynomials"
### 🚀 The feature, motivation and pitch

# Orthogonal Polynomials

A brief proposal for providing a complete suite of orthogonal polynomials as PyTorch operators. Enjoy!

## API

### Chebyshev Polynomials

- [ ] `chebyshev_polynomial_t(input: Tensor, n, *, out=None) → Tensor`

- [ ] `chebyshev_polynomial_u(input: Tensor, n, *, out=None) → Tensor`

- [ ] `chebyshev_polynomial_v(input: Tensor, n, *,

[2022-06-23 18:11] msaroufim opened #80153 "Change `@pytorchbot merge` merged failed to Matched rule superuser to include all users"
### 🚀 The feature, motivation and pitch

When `@pytorchbot merge` is used from an external user but the code requires a review by a PyTorch team member it gives the below error which is confusing because anyone from the PyTorch team can stamp to allow a merge and not just the listed names. It should just say anyone from Meta should review this.

[code]

**The Ask:**
Change the `superuser` rule fai

[2022-06-23 18:11] mruberry opened #80154 "[primTorch] No _refs support for torch.Tensor.requires_grad.__get__"
Not sure what's going on here -- I would expect requires_grad should be a property access like ndim

cc @ezyang @mruberry @ngimel @eellison

[2022-06-23 18:12] NivekT commented on #80119
I am closing this issue for now.  Please feel free to re-open if you have further questions or suggestions for improvements. Thanks!

[2022-06-23 18:12] #80119 closed

[2022-06-23 18:17] carsonswope commented on #80009
Thanks for the quick turnaround!

[2022-06-23 18:24] half-potato opened #80155 "Mask+Index Assignment Broken"
### 🐛 Describe the bug

I want to perform advanced indexing to set the value of a channel on a masked image. However, applying the mask before the index causes a silent failed assignment. Applying the index before the mask results in a success.
[code]

### Versions

Tested on 2 different machines.

Python 3.7.11 (default, Jul 27 2021, 14:32:16) [GCC 7.5.0] :: Anaconda, Inc. on linux
torch.__versio

[2022-06-23 18:25] malfet commented on #80034
Yep, though I look at the google cloud status and it reported that everything is green

[2022-06-23 18:30] 0x00b1 opened #80157 "Elliptic Functions and Integrals"
### 🚀 The feature, motivation and pitch

# Elliptic Functions and Integrals

A brief proposal for providing a complete suite of elliptic functions and integrals as PyTorch operators. Enjoy!

- Gamma and Related Functions (#78065)
- Bessel and Related Functions (#76324)
- Orthogonal Polynomials (#80152)
- Elliptic Functions and Integrals (#)
-

## API

### Alternatives

_No response_

### Additiona

[2022-06-23 18:38] yuguo68 commented on #79813
It seems underneath `b.to(memory_format=torch.contiguous_format)` goes through the fast path https://github.com/pytorch/pytorch/blob/438142a5991a6544137d2565b47eacf4089a458b/aten/src/ATen/native/TensorConversions.cpp#L192-L195 and the `self` tensor is returned so the strides is wrong.

The implementation of `to_will_alias` seems problematic: https://github.com/pytorch/pytorch/blob/438142a5991a6544

[2022-06-23 18:46] padmaksha18 opened #80158 "Backpropagation not working on KL divergence loss function due to data type mismatch"
### 🐛 Describe the bug

Backpropagation not working on KL divergence loss function due to data type mismatch

[code]

### Versions

Using Pytorch 1.2 on Google Colab

cc @albanD @mruberry @jbschlosser @walterddr @kshitij12345 @saketh-are

[2022-06-23 18:49] DanilBaibak commented on #79323
Will do it.

[2022-06-23 18:56] suo opened #80161 "[RFC] Module specific workflows"
@jeffdaily asked for a ciflow label to trigger ROCm jobs because `ciflow/trunk` runs a lot of non-rocm things. This is totally reasonable and likely to be a common request from module maintainers, so it's worth designing a process that can scale well.

The problem definition is: module maintainers want to be able to run a set of jobs specific to their module on PRs. Sometimes those jobs are a subs

[2022-06-23 19:06] qqaatw opened #80165 "[MPS] segmentation fault when multiplying two scalar tensors"
### 🐛 Describe the bug

When multiplying two scalar tensors in mps kernel, a segmentation fault occurs.
[code]

### Versions

PyTorch version: 1.13.0a0+git44764f1
Is debug build: True
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: macOS 12.4 (arm64)
GCC version: Could not collect
Clang version: 13.1.6 (clang-1316.0.21.2.5)
CMake version: version 3.23.2
Libc version: N/A

Pyt

[2022-06-23 19:21] justinchuby commented on #80047
Could you share a minimum self-contained example that can reproduce the issue, along with the differences you have observed? This will help us locate any errors effectively. Thanks!

[2022-06-23 19:23] justinchuby commented on #80029
cc @BowenBao

[2022-06-23 19:30] #80009 closed

[2022-06-23 19:32] albanD commented on #79887
The old style one would be very hard I think.
The non reentrant version should be simple in principle. But there might be complications to allow passing them that  I'm not aware of as the current API doesn't allow it.

[2022-06-23 19:34] rohan-varma commented on #79299
@kwen2501 Does this sound like a NCCL issue when trying to use with NVLink, given that `NCCL_P2P_DISABLE=1` does not hang?

[2022-06-23 19:40] voznesenskym opened #93769 "Add support for `torch.cuda.is_available()` and `torch.cuda.current_device()`"
cc @ezyang @soumith @msaroufim @wconstab @ngimel @bdhirsh @mlazos @yanboliang @penguinwu @anijain2305 @EikanWang @jgong5 @Guobing-Chen @XiaobingSuper @zhuhaozhe @blzheng @Xia-Weiwen @wenzhe-nrv @jiayisunx @desertfire

[2022-06-23 19:40] rBenke opened #80167 "AMP step() enforce synchronization"
### 🐛 Describe the bug

# torch/cuda/amp/grad_scalar.py
def _maybe_opt_step(self, optimizer, optimizer_state, *args, **kwargs):
        retval = None
        if not sum(v.item() for v in optimizer_state["found_inf_per_device"].values()): # v is on gpu
            retval = optimizer.step(*args, **kwargs)
        return retval

### Versions

Collecting environment information...
PyTorch version: 1.1

[2022-06-23 19:41] lostmsu opened #80168 "GEGLU activation"
### 🚀 The feature, motivation and pitch

Seems to be the latest and greatest activation function for transformers.

See https://arxiv.org/abs/2002.05202v1

### Alternatives

One can copy-paste the implementation from https://github.com/pfnet-research/deep-table/blob/237c8be8a405349ce6ab78075234c60d9bfe60b7/deep_table/nn/layers/activation.py

### Additional context

_No response_

[2022-06-23 19:43] duburcqa commented on #76631
Apparently the bug does not manifest itself anymore after update of the system. So I'm closing.

[2022-06-23 19:43] #76631 closed

[2022-06-23 19:44] voznesenskym opened #93770 "Catch value errors if cell in match_nested_cell is empty"
[code]

cc @ezyang @msaroufim @wconstab @bdhirsh @anijain2305 @zou3519 @penguinwu @EikanWang @jgong5 @Guobing-Chen @XiaobingSuper @zhuhaozhe @blzheng @wenzhe-nrv @jiayisunx @chenyang78 @aakhundov @kadeng @soumith @ngimel

[2022-06-23 20:39] 94kiki commented on #5301
works for me, thanks

[2022-06-23 20:40] LunarSun commented on #5301
已收到您的来信，稍后会仔细阅读，谢谢。祝好！

[2022-06-23 20:41] Jeremalloch opened #80172 "Torch.fx: add reporting of the name of a module not found during tracing"
### 🚀 The feature, motivation and pitch

During fx tracing of modules, the function `path_of_module` tries to get the qualified name of submodules.  If it is unable to find the module (as a member of the root modules `named_modules()` method), it returns a `NameError` that does not report which module caused this issue.  This PR adds reporting of the name of that module, making debugging easier.

[2022-06-23 21:14] #76616 closed

[2022-06-23 21:18] xiaoyu-work opened #80181 "cifar10_tutorial not working on CUDA 11.3 and ROCm 5.1.1 nightly pytorch"
### 🐛 Describe the bug

Hi,

I was trying to run cifar10_tutorial (https://pytorch.org/tutorials/beginner/blitz/cifar10_tutorial.html) with ROCm 5.1.1 nightly torch:
`torch-1.13.0.dev20220619+rocm5.1.1` + `torchvision-0.14.0.dev20220619+rocm5.1.1`. But got error:
[code]

You can repro this by just running tutorial code with ROCm nightly torch and ROCm nightly torchvision:
[code]

### Versions
[cod

[2022-06-23 21:24] jeanschmidt commented on #79182
Hi @suo, the changes are now merged, thanks for reporting, and thanks @kit1980 for the support working in this task

[2022-06-23 21:40] justinchuby commented on #79839
Does `export_modules_as_functions=False` give you the same error?

[2022-06-23 21:42] yuguo68 commented on #79813
also, this is a duplicate of #62027

[2022-06-23 22:13] kwen2501 commented on #79299
With A6000 GPUs, you cannot interconnect all the GPUs with NVLinks, because one A6000 only supports one NVLink Bridge that links to another GPU. So at most you would be able to have pair-wise connections, like this:
0-1, 2-3, 4-5, 6-7.

For the gaps, PCI-e will be used for P2P, like between 1 and 2, 3 and 4, etc.

The reason that it looks like hanging may be due to the ACS setting of your PCI-e. T

[2022-06-23 22:43] ptrblck commented on #80167
I think to avoid the synchronization you would need to use a fused optimizer, which provides the `_step_supports_amp_scaling` attribute (and can thus use [this code path](https://github.com/pytorch/pytorch/blob/648224dd805c11f5f4357dbf1d501be9c234b3db/torch/cuda/amp/grad_scaler.py#L324-L331) and check for invalid gradients internally).

CC @crcrpar who is working on fused optimizers.

[2022-06-23 22:46] malfet commented on #79835
Hmm, though I see very weird results on M1 machine by running something as simple as:
[code]

[2022-06-23 22:55] davidberard98 opened #80187 "[NVFuser] Investigate modules with bad performance relative to eager"
### 🚀 The feature, motivation and pitch

In particular, `hf_DistilBert_forward_0` has ~30% regression compared to eager.

Status document (for those who have access): https://docs.google.com/document/d/1XU48ru9Cj4XFJJF6FTQ2X_QFuzyLroE1oomKGleYfP8/edit?usp=sharing

### Alternatives

_No response_

### Additional context

_No response_

[2022-06-23 23:02] davidberard98 opened #80188 "[NVFuser] Choose partitioner op list based on supported prim decompositions"
### 🚀 The feature, motivation and pitch

Currently the partitioner uses a list of supported ops that was copied from torchscript.

But for the fx -> prims -> nvfuser approach, we want the supported op list to instead be based on the list of ops that can be decomposed to prims. This could be generated by tracing through aten ops and trying to decompose them, and seeing whether or not they can be fu

[2022-06-23 23:04] davidberard98 opened #80189 "[NVFuser] Investigate models without any fusion groups found"
### 🚀 The feature, motivation and pitch

Many of the modules (29%) have no fusion groups found. It's possible that there's actually a bug in the partitioner, because this number seems high.

For those who have access: https://docs.google.com/document/d/1XU48ru9Cj4XFJJF6FTQ2X_QFuzyLroE1oomKGleYfP8/edit?usp=sharing

### Alternatives

_No response_

### Additional context

_No response_

[2022-06-23 23:20] crcrpar commented on #80167
currently we have an example in apex -- https://github.com/NVIDIA/apex/blob/master/apex/optimizers/fused_mixed_precision_lamb.py

[2022-06-23 23:30] edvul opened #80192 "MPS incorrect behavior of torch.nn.functional.pad"
### 🐛 Describe the bug

**`pad()` on mps device adds padding incorrectly:**

[code]

yields:

[code]

_**Random observations:**_

1. This appears to be incorrect behavior when falling back on CPU, as the first time running `.pad()` yields the following warning:

[code]

However, running directly on cpu yields the expected result:

[code]

returns:

[code]

2. this problem arises only when `y.size(

[2022-06-23 23:53] 1049451037 commented on #79847
I want to run 4 processes with 2 procs per node. It is weird that after the running of multi-node distributed failed, even single node code will meet same error.

[code]

where the running code is

[code]

which is demo code of PyTorch tutorial.

[2022-06-23 23:55] DenisVieriu97 commented on #80192
Hi @edvul - thank you for reporting this problem!
This issue is addressed in https://github.com/pytorch/pytorch/pull/79939 (currently in PR) - once it lands in master this should get fixed.

[2022-06-24 00:23] zhuzilin commented on #80137
@d4l3k

[code]

I'll try to do perf trace and also double check if the 8* offset is really the issue.

I've removed all the "8*" in deploy.cpp and deploy.h.

I'm refering to the `acquireSession` call here:
https://github.com/pytorch/pytorch/blob/7bf1b1dc31132f0e599ddbef7cd639677b6fd542/torch/csrc/deploy/deploy.cpp#L155-L156

I think the different between the two branch is that `acquireOne` will ru

[2022-06-24 01:05] FengMu1995 commented on #80127
Is it because the "upsample_bilinear2d.out" op is not supported in vulkan backend of torch-mobile

[2022-06-24 01:11] malfet commented on #79182
@jeanschmidt I don't believe they are...

[2022-06-24 02:46] suo opened #80201 "trymerge workflow should do a better job showing progress"
When you click a mergebot workflow link, the output is not very informative, because GitHub does not show historical logs for running jobs. It only shows logs that have been printed since you opened the page. This gives people the impression that the job is hanging even when it's actively waiting for a job to finish (feedback raised by @linbinyu).

We should be printing comprehensible updates ever

[2022-06-24 02:47] suo commented on #80201
@zengk95 do you mind taking a look?

[2022-06-24 02:47] OverLordGoldDragon opened #80202 "`randn` depends on tensor size"
### 🐛 Describe the bug

[code]
[code]
Good. But now `7` -> `8` in `randn`:

[code]

Why? Doesn't happen in NumPy. Can I guarantee generation of the same sequence?

### Versions

PyTorch 1.11.0 via `conda-forge`, Python 3.8.12, Windows 10, i7 CPU

<details><summary><b>conda list</b></summary>

[code]

</details>

<details><summary><b>conda info</b></summary>

[code]

</details>

[2022-06-24 02:54] zanshuxun commented on #80119
@NivekT @ejguan Thank you for your help

[2022-06-24 03:18] andretag commented on #51039
(apologies for the bump) - is there any update on this, or any workaround which does not involve building torch from source?

(personal background: I am interested in including torch model in a C++ ros package for deployment on a Jetson TX2, and I encounter linking problems similar to what is described [here](https://discuss.pytorch.org/t/libtorch-with-new-c-11-abi/39490), which lead me to this is

[2022-06-24 03:18] upupyy opened #80204 "`max_unpool` gives wrong gradient when `indices` has duplicate"
### 🐛 Describe the bug

`max_unpool` doesn't consider that the `indices` may have duplicate elements in its gradient formula.

[code]

In the above example, the output of `max_unpool` only has 3 elements but the gradient computed by reverse-mode has 4 elements.

I am not sure whether this is a big issue since `max_pool` could not return `indices` with duplicate elements.

### Versions

pytorch: 1.

[2022-06-24 03:19] upupyy opened #80205 "`rrelu` gives wrong gradient on cuda for particular inputs"
### 🐛 Describe the bug

`rrelu` gives wrong gradient on cuda for particular inputs

[code]

Obviously, the gradient shouldn't be 0 since the input tensor is greater than 0. This cannot reproduce on cpu.

### Versions

pytorch: 1.11.0
cuda: 11.3
RTX 6000

cc @ezyang @gchanan @zou3519 @albanD @gqchen @pearu @nikitaved @soulitzer @Lezcano @Varal7 @mruberry @jbschlosser @walterddr @kshitij12345 @saket

[2022-06-24 03:20] upupyy opened #80206 "`soft_margin_loss` gives wrong gradient when `target` with dtype uint8"
### 🐛 Describe the bug

`soft_margin_loss`gives wrong gradient when`target` with dtype uint8

[code]

If `target` has dtype `int16` or `int32`, it will return the correct gradient.

### Versions

pytorch: 1.11.0

[2022-06-24 03:23] zh794390558 commented on #12449
@XiangL-Xr  It works for me

[2022-06-24 04:14] guoyejun commented on #51039
@andretag  a dockerfile is added to support cxx11 abi build for torch wheel file, see https://github.com/pytorch/builder/blob/main/manywheel/Dockerfile_cxx11-abi, and now, we still need to build from source.

btw, the built wheel file works with manylinux_2_28.

[2022-06-24 05:09] sachinruk opened #80208 "F.binary_cross_entropy_with_logits unexpected behaviour"
### 🐛 Describe the bug

I wanted to see if I put a non-binary input into F. if it will fail. Instead it gives me an answer without failing which is odd, but I can't figure out where the numbers are coming from. See example below (3rd row is confusing).

Two questions regarding below:
1. Why is this not chucking an error because of the 7 in `targets`
2. Why do I have to manually convert targets to

[2022-06-24 08:07] iago-lito opened #80212 "Docker build fails with `no cmake or cmake3 with version >= 3.13.0 found"`"
### 🐛 Describe the bug

Hi, I the docker build failed on a fresh clone on my machine today:
[code]

### Versions

$ python collect_env.py
Collecting environment information...
PyTorch version: N/A
Is debug build: N/A
CUDA used to build PyTorch: N/A
ROCM used to build PyTorch: N/A

OS: Arch Linux (x86_64)
GCC version: (GCC) 12.1.0
Clang version: 13.0.1
CMake version: version 3.23.2
Libc version: gl

[2022-06-24 08:14] jeanschmidt commented on #79182
Given wrongly closing PR (#80128), it is not possible to merge it, I am reopening a new PR (#80211). Thanks @kit1980 and @malfet for the heads up and support.

(note: as I am opening a new PR, noticed that it might make sense to add a input `job-base-name` for the workflow)

[2022-06-24 08:21] qqaatw commented on #77764
Working on `aten::flip`.

[2022-06-24 09:54] Backlory commented on #20356
So has this problem been solved now? Could we have a brief API in libtorch to do this?

[2022-06-24 10:16] Lezcano commented on #67767
Duplicate of https://github.com/pytorch/pytorch/issues/62328. Closing in favour of that one.

[2022-06-24 10:16] #67767 closed

[2022-06-24 10:19] Lezcano commented on #52700
This is currently fixed. See
https://github.com/pytorch/pytorch/blob/3afc802c5a5111b18b91bac973ea9f3d220530fa/aten/src/ATen/native/cuda/linalg/BatchLinearAlgebraLib.cpp#L1748-L1760

[2022-06-24 10:19] #52700 closed

[2022-06-24 12:37] malfet commented on #79835
It is a regression, that happened between Jun 9 and 10th:
[code]

[2022-06-24 13:12] jbschlosser commented on #80130
Hey @zhijianli, I suggest opening a thread for help on the [PyTorch forums](https://discuss.pytorch.org/), as you're more likely to get assistance there. Note that the issues here are reserved for issues within PyTorch itself. Please feel free to reopen if investigation reveals a likely PyTorch bug - thanks!

[2022-06-24 13:12] #80130 closed

[2022-06-24 13:48] zou3519 opened #80221 "OpInfos for torch.ops.aten operations"
### 🚀 The feature, motivation and pitch

We should have OpInfos for torch.ops.aten operations that are not covered by the forward pass of our existing torch.* based OpInfos. For example: at::convolution_backward is not directly invoked by the OpInfo for torch.nn.functional.conv2d, so it falls into this category.

## Motivation

Today, to test coverage for at::convolution_backward, someone must wri

[2022-06-24 13:53] jbschlosser commented on #80202
Hey @OverLordGoldDragon, we don't currently provide a sequential equivalent guarantee within PyTorch because it interferes with vectorization. As described [here](https://colab.research.google.com/github/google/jax/blob/main/docs/jax-101/05-random-numbers.ipynb#scrollTo=Fhu7ejhLB4R_), note that JAX made a similar design decision, also diverging from numpy.

[2022-06-24 13:54] jbschlosser commented on #76939
Fixed in #77653.

[2022-06-24 13:54] #76939 closed

[2022-06-24 14:04] Lezcano commented on #80158
I'll put up a PR fixing all this, making `kl_div` a composite, next week.

[2022-06-24 14:12] jbschlosser commented on #80208
Hey @sachinruk, thanks for the report!

On CUDA, we don't do this check for performance reasons. We should also do it on CPU, as there is already a check for the input values.

This was also brought up in #78878. As mentioned there, we'd accept a PR implementing integral target support within `binary_cross_entropy_with_logits` to avoid the need to convert.

[2022-06-24 14:22] jbschlosser commented on #80168
Hey @lostmsu, thanks for the request! Note that we are very conservative with adding new modules to PyTorch core. In general, there should be a very good performance or popularity reason for them to be officially maintained here rather than implemented in a separate repo. Let's see if the request becomes popular enough to make the addition worthwhile.

[2022-06-24 14:38] macio232 commented on #42368
I am trying to extend `ImplicitFnGradientRerouting` (https://github.com/rtqichen/torchdiffeq/blob/8df757cb12f231a6b4349a96608b7a9d11166988/torchdiffeq/_impl/odeint.py#L130) for batching.

The problem I get is that gradients returned by `vjp` (form pytorch, not functorch) are incorrect - always 0. When I execute `grad` ( from pytorch) on `BatchedTensor`s that appear with `vmap`, I get:
`*** Runtime

[2022-06-24 14:59] julohaq22 opened #80225 "Hj"
## Current Status
*Status could be: preemptive, ongoing, mitigated, closed. Also tell people if they need to take action to fix it (i.e. rebase)*.

## Error looks like
*Provide some way users can tell that this SEV is causing their issue.*

## Incident timeline (all times pacific)
*Include when the incident began, when it was detected, mitigated, root caused, and finally closed.*

<details>
<summa

[2022-06-24 15:15] cimes-isi commented on #80141
Thanks for looking at this.

Looking at the current #80180, I'm not sure it's implemented in a way that has the intended effect, since I believe `None` and `[]` both evaluate to `False`.  The core of what I'm trying to say is that `None` is _not_ (and should not be treated) the same as an empty collection (`[]` in this case).  In my view:

- `devices=None` should result in some default behavior si

[2022-06-24 15:33] jbschlosser opened #80226 "Support tensor subclasses as `UninitializedParameter`s"
Tensor subclass support as `Parameter`s within modules was added in #73459. A notable gap is support for lazy modules, which utilize `UninitializedParameter`s. We need a way to specify that the `UninitializedParameter` should become a particular subtype when materialized into a `Parameter`.

https://github.com/pytorch/pytorch/blob/35268bdc2a6f0be613b9fa0b5e3da6ae68ece67f/torch/nn/parameter.py#L92-

[2022-06-24 15:37] NivekT commented on #80134
Have you considered pass in a custom `collate_fn` to `DataLoader` that purpose? The input to `collate_fn` is a batch; you are free to pick a sequence length and pad/trim the sequence in there as you need. You can also import and call the `torch.utils.data.default_collate` after your custom step if you'd like as well.

[2022-06-24 16:34] malfet commented on #80225
Closing. Not sure what this one is about

[2022-06-24 16:34] #80225 closed

[2022-06-24 16:36] malfet commented on #80165
Hmm, I'm not sure what this one as about. Can you please provide a reproducer?
I can not repro the crash by running the following:
[code]

[2022-06-24 16:59] Askejm commented on #69894
Works for me, thank you so much

[2022-06-24 17:08] qqaatw commented on #80165
@malfet

Please clone this branch https://github.com/qqaatw/pytorch/tree/add_huber_loss_mm

Build and run the following:

[code]

Then, comment out the shape arguments below like what I do in the issue content.

https://github.com/qqaatw/pytorch/blob/d49ea958ee31478077567e239d2157680aa89f91/aten/src/ATen/native/mps/operations/LossOps.mm#L1079-L1084

Build and run the following again:

[code]

[2022-06-24 17:36] SherlockNoMad opened #80230 "[Prims+NVFuser] Aten2Prim refs tracking items"
[] aten.div
[] aten.amax
[] aten.view
[] aten.new_zero
[] aten.conj_phsycial

[2022-06-24 17:41] d4l3k commented on #80137
@zhuzilin thanks for sharing -- can you share the patch/commit that removes the `8*` just want to reproduce this locally

[2022-06-24 17:45] SherlockNoMad opened #80231 "[Prims+NVFuser] Supports 0-sized inputs"
A potential fix for this issues is to add a guard to ensure inputs to nvFuser kernels are non-empty tensor. Fallback to eager for empty tensor.

Invoked with: <torch._C._nvfuser.FusionDefinition object at 0x7f144038b430>, <class 'RuntimeError'>, RuntimeError('sizes[i] > 0 INTERNAL ASSERT FAILED at "/fsx/users/bahuang/repos/pytorch_fsx/torch/csrc/jit/codegen/cuda/python_frontend/python_bindings.cpp

[2022-06-24 18:25] #79361 closed

[2022-06-24 18:26] malfet commented on #80165
@qqaatw I struggle to understand what is has to do with PyTorch? This sounds like a bug that should be filed against Apple (which develops the framework), rather than PyTorch that just uses it.

[2022-06-24 18:36] peterbell10 commented on #80018
I doubt `ATen_pch.h` itself is the issue, this is probably an issue with the CMake config. It would be helpful to get the full build log, or at least the full context for that error message.

[2022-06-24 18:39] shubhambhokare1 commented on #79859
PR #80234 should fix this issue

[2022-06-24 19:27] #79835 closed

[2022-06-24 19:43] janeyx99 opened #80238 "test_conv_backend_cudnn3d_transposed_has_bias_False_strided_False_contiguous_True_cuda (__main__.TestNNDeviceTypeCUDA)"
I have NOT disabled this test yet because it may just be transient. To disable the test, add DISABLED at the front of the issue title.

Platforms: linux

This test is failing on master ([recent examples](http://torch-ci.com/failure/test_conv_backend_cudnn3d_transposed_has_bias_False_strided_False_contiguous_True_cuda%2C%20TestNNDeviceTypeCUDA)).

https://hud.pytorch.org/pytorch/pytorch/commit/bab1

[2022-06-24 19:57] jbschlosser commented on #80238
Looks like all of the `test_conv_backend_cudnn*` tests are failing due to OOM? No idea why this would start happening now

[2022-06-24 20:11] soulitzer commented on #79708
FYI: A very hacky workaround for this is just to use `.grad` and manually accumulate:

[code]

[2022-06-24 20:26] alanwaketan opened #80241 "Change c10d APIs in ProcessGroup to accept const std::vector<at::Tensor>&"
Change c10d APIs in ProcessGroup to accept `const std::vector<at::Tensor>&` instead of `std::vector<at::Tensor>&`.

cc @mrshenli

[2022-06-24 20:34] alanwaketan opened #80242 "Write some torch.distributed.nn.* tests for the new dispatcher passable ops"
Write some torch.distributed.nn.* tests for the new dispatcher passable ops. This is a follow up on #79669.

cc @mrshenli

[2022-06-24 20:37] alanwaketan opened #80243 "Change AllReduceCommHook to accept an instrusive_ptr"
Change `class AllReduceCommHook : public CppCommHookInterface<ProcessGroup*>` to `class AllReduceCommHook : public CppCommHookInterface<intrusive_ptr<ProcessGroup>>`. Ditto for the related classes as well. This is a follow up on #79582.

cc @mrshenli

[2022-06-24 21:05] #80125 closed

[2022-06-24 21:10] #75748 closed

[2022-06-24 21:13] alanwaketan opened #80246 "Change the naming of pg/process_group to self"
Change the naming of pg/process_group to self in torch/csrc/distributed/c10d/init.cpp. Essentially pg and process_group all mean self. Therefore, it's confusing to use a different naming convention. This is a follow up on #79686.

cc @mrshenli

[2022-06-24 21:30] yeounoh commented on #80034
Hi @malfet, is there a way for us to re-use the tag? The llvm archieve will likely change every 2 ~4 weeks, and I don't want to bump up the tag (version) unless we actually make changes to the image itself.
[code]

[2022-06-24 21:32] MahdiNazemi commented on #79299
You're right. The topology is as follows:

            GPU0    GPU1    GPU2    GPU3    GPU4    GPU5    GPU6    GPU7    CPU Affinity    NUMA Affinity
    GPU0     X      NV4     NODE    NODE    SYS     SYS     SYS     SYS     0-63,128-191    0
    GPU1    NV4      X      NODE    NODE    SYS     SYS     SYS     SYS     0-63,128-191    0
    GPU2    NODE    NODE     X      NV4     SYS     SYS     SYS

[2022-06-24 21:37] jbschlosser opened #80247 "`ModuleInfo` skip logic is incorrect"
The skip logic in `ModuleInfo` is based on the old version of `OpInfo`'s skip logic:

https://github.com/pytorch/pytorch/blob/9d6e3f81d46382ed91b6ff286efe07e5cf5dd052/torch/testing/_internal/common_modules.py#L198-L199

https://github.com/pytorch/pytorch/blob/9d6e3f81d46382ed91b6ff286efe07e5cf5dd052/torch/testing/_internal/common_modules.py#L107-L119

This logic is misleading and can lead to overl

[2022-06-24 21:40] pytorch-bot[bot] opened #80248 "DISABLED test_conv_backend_slow3d_transposed_has_bias_False_strided_True_contiguous_False_cuda (__main__.TestNNDeviceTypeCUDA)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_conv_backend_slow3d_transposed_has_bias_False_strided_True_contiguous_False_cuda&suite=TestNNDeviceTypeCUDA&file=test_nn.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7046451336).

Over the past 3 hours, it has been determin

[2022-06-24 21:40] pytorch-bot[bot] opened #80249 "DISABLED test_worker_seed_reproducibility (__main__.TestDataLoader)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_worker_seed_reproducibility&suite=TestDataLoader&file=test_dataloader.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7045717650).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 1 red and 1 green.

[2022-06-24 21:43] kwen2501 commented on #79299
Yeah, I believe this is along the same line as ACS deactivation.

NCCL uses a ring topology intra-node. So your all-reduce speed would be limited by the slowest link on the ring.

Your experiment shows that on your system the PCI-e P2P speed across NUMA NODE is similar to the Shared Host Memory speed across NUMA NODE (which is not uncommon).

[2022-06-24 21:56] malfet commented on #80034
@seemethere can we make latest tag for this particular ECR mutable?

[2022-06-24 22:04] davidberard98 commented on #79963
@wschin would you like to open a PR to fix this or do you want me to do it?

[2022-06-24 22:45] malfet opened #80252 "AVX512 CPU kernels result in 5+% slower Transformer training on Cascade Lake CPU"
### 🐛 Describe the bug

Benchmarking latest nightly using [WLM_Transformers example](https://github.com/pytorch/examples/tree/main/word_language_model)  AVX512 kernels are 18% slower than using AVX2 ones:
[code]
[code]

### Versions

1.13.0.dev20220610+cpu)

cc @ezyang @gchanan @zou3519 @VitalyFedyunin @ngimel @xuzhao9 @imaginary-person

[2022-06-24 22:46] DenisVieriu97 commented on #80165
Thanks @qqaatw for filling this issue - I was able to reproduce locally as well. I'll check with the relevant engineers and update you back

[2022-06-24 23:16] jerryzh168 opened #93771 "Support capturing fully qualified name of a submodule"
I'm trying to see how we can implement quantization on subgraphs captured by torchdynamo. In quantization, we have configurations specified for submodules:
for example:
[code]
Full prepare_fx API can be found in https://pytorch.org/docs/master/generated/torch.quantization.quantize_fx.prepare_fx.html#torch.quantization.quantize_fx.prepare_fx

So we need to know the fully qualified name of a submodu

[2022-06-24 23:31] kshitij12345 opened #80256 "[complex] dropout and it's variants should support complex tensors"
### 🐛 Describe the bug

[code]

Output
[code]

### Versions

master

[2022-06-25 00:10] malfet commented on #80212
Hmm, looks like we need to install cmake from conda as the one in system image is too old. Trying to do it in https://github.com/pytorch/pytorch/pull/80258
@seemethere but do we really use this path for anything

[2022-06-25 00:19] zhengwy888 opened #80259 "Cudnn batch norm kernel (batchnorm_bwtr_nhwc_semiPersist) gets blocked by overlapping NCCL all_reduce calls"
### 🐛 Describe the bug

When cudnn + channels_last format is enabled, under distributed DDP, the backward pass of cudnn batchnorm backward can be stalled by the overlapped nccl all_reduce call.

Sorry I don't have a code snippet for repro, but here are some screenshots of torch profiler

Blocking batch_norm_backward
![image](https://user-images.githubusercontent.com/1190730/175750442-13d30ee6-5c8b

[2022-06-25 00:44] imaginary-person commented on #80252
Oops! I hope this wouldn't affect the PyTorch 1.12 release plan.

I'll submit a PR to disable AVX512 dispatch for those kernels that are slower with AVX512, i.e. enable AVX512 dispatch only for those kernels that are faster with AVX512. Perhaps we can also enable/disable AVX512 dispatch according to the platform, as more recent or upcoming platforms might have better AVX512 performance. Regardless

[2022-06-25 01:05] DenisVieriu97 commented on #80165
Hi @qqaatw,

This issue has been fixed in [macOS 13 beta 2](https://developer.apple.com/news/releases/?id=06222022c). In order to avoid doing checks based on the OS in PyTorch's MPS backend, I think the best would be to specify directly the shape (`[mpsGraph constantWithScalar: x shape:@[@1] ... ];`.

[2022-06-25 01:12] ptrblck commented on #80259
This is unfortunately expected behavior as NCCL will spin a CUDA kernel for its communications (and thus use >=1 sm) which could prevent other kernel launches which require high compute resources (large sm count) such as the persistent NHWC cuDNN batchnorm layer.
cuDNN does not have an API to limit the sm count, which might be a way to avoid these waiting times.

[2022-06-25 01:13] ptrblck commented on #79933
@ngimel Yes, that sounds like a great idea! Let me sync with @Aidyn-A

[2022-06-25 01:36] Aidyn-A commented on #79933
Sure @ngimel and @ptrblck,
I will take care of it.

[2022-06-25 01:41] seemethere commented on #80212
We do use these for our official Docker image builds

[2022-06-25 01:44] suo commented on #68480
fixed by lintrunner

[2022-06-25 01:44] #68480 closed

[2022-06-25 01:45] suo commented on #80153
There is an ellipsis, are you saying it's not clear that this list is super long (contains all meta people)?

[2022-06-25 02:14] #80212 closed

[2022-06-25 02:30] OverLordGoldDragon commented on #80202
Thanks @jbschlosser In that case I'd like to convert this to a feature request. Would this be difficult to implement? Perhaps an RNG object that behaves this way, at expense of performance.

[2022-06-25 03:14] ezyang commented on #79818
@mruberry I recommend cc'ing the person who wrote the test, in this case, @IvanYashchuk

Is this a dupe of https://github.com/pytorch/pytorch/issues/78923 >

[2022-06-25 03:25] ezyang commented on #79877
test_meta.py uses modes but there are no subclasses. Most likely culprit is the vstack meta implementation is not coded correctly.

[2022-06-25 03:26] ezyang commented on #79876
is the nvrtc bug specific to complex?

[2022-06-25 03:30] zhgqcn commented on #1907
how to rebulid by using `TORCH_CUDA_ARCH="7.2+PTX"`

[2022-06-25 03:33] ezyang commented on #79938
According to our test suite relu is supposed to work on master but I am able to reproduce the error on the script

[2022-06-25 03:37] ezyang commented on #79938
Oh it's dumb, the problem is we don't import all the refs modules on `import torch`

[2022-06-25 03:41] ezyang commented on #79968
Would these be fixed when we have dynamic shapes in proxy tensor?

[2022-06-25 03:53] ezyang commented on #80154
Add them to torch_function_passthrough

[2022-06-25 03:55] #80079 closed

[2022-06-25 03:58] ezyang commented on #80230
Note that for non-complex tensors conj physical is always a no op so it should be very easy to add.

[2022-06-25 04:02] borisfom opened #80271 "ONNX exporter uses onnx::Gather (making a copy) where onnx::Slice should be used"
### 🐛 Describe the bug

While exporting the following code, we have found that Torchscript trace() worked correctly, while onnx.export() generated onnx::Gather (creating a copy) operation where onnx::Slice() should have been - therefore, updates done via that slice, were lost in ONNX version:

https://github.com/VahidooX/NeMo/blob/casual_conformer_lookahead_newdesign_prenorm_mlp/nemo/collections/a

[2022-06-25 04:02] ezyang commented on #80256
I'd love to see PrimTorch spearheading the way for these implementations, using it to polyfill in less efficient complex implementations but more quickly

[2022-06-25 04:07] heya5 commented on #76894
Report same problem.
pytorch version: 1.11.0
GPU: RTX 3090 * 4
Driver Version: 470.42.01
CUDA Version: 11.4

[2022-06-25 04:55] kiukchung commented on #76894
Are you using nohup by any chance? one of the workers dies with signal 1 (SIGHUP). When torchelastic detects this from one of the workers it forwards the same signal to the rest of the workers since torchelastic coordinates with “gang semantics” (all or nothing).

This same issue was discussed in https://discuss.pytorch.org/t/ddp-error-torch-distributed-elastic-agent-server-api-received-1-death-si

[2022-06-25 05:10] heya5 commented on #76894
Thanks for such a quick reply!
Yes, I am using nohup, but sometimes it works fine. I will turn to screen or tmux. Thanks

[2022-06-25 05:43] msaroufim commented on #80153
Yes exactly

[2022-06-25 08:31] qqaatw commented on #80165
Hi @DenisVieriu97,

Thank you so much for your quick feedback!

Maybe this issue is worth noting on the [wiki](https://github.com/pytorch/pytorch/wiki/Adding-Op-for-MPS-Backend), which prevents people who want to contribute new mps ops from running into the bug.

[2022-06-25 08:32] ptrblck commented on #80129
CUDA operations are executed asynchronously so you would need to synchronize the code via `torch.cuda.synchronize()` before starting and stopping the timers which is not the case in your posted code.
The very first CUDA operation will initialize the CUDA context, load the kernels etc. and is expected to be slow.
Since you are not synchronizing your timers will accumulate the previous runtimes when

[2022-06-25 09:07] qqaatw commented on #80018
Here is part of log showing the errors:

[code]

Works fine When I set this:
[code]

[2022-06-25 09:22] IvanYashchuk commented on #79818
Yes, those xfails were removed in https://github.com/pytorch/pytorch/pull/79858.

[2022-06-25 09:22] #79818 closed

[2022-06-25 09:23] OverLordGoldDragon opened #80275 "Inconsistent behavior and false warning for complex dtype `backward`"
### 🐛 Describe the bug

[code]
[code]
but `device='cpu'` gives

[code]

Other combinations:

 - `device='cuda'` && `torch.abs(g)` -> `g`: no warning, no error
 - `device='cpu'` && `torch.abs(g)` -> `g`: same error
 - `[:1]` -> `[0]`: same warning
 - `[:1]` -> `[0]` && `torch.abs(g)` -> `g`: no warning, no error

"Complex to real" never happens in forward pass, and warning and error behaviors don't

[2022-06-25 09:50] eslambakr commented on #20630
For me it was solved after removing tqdm.

[2022-06-25 09:51] eslambakr commented on #22834
For me it was solved after removing tqdm.

[2022-06-25 10:30] mdciri opened #80278 "MPS strange warning"
### 🐛 Describe the bug

I am currently writing a training loop for image segmentation using my new mac which has M1 GPU.

When I pass my image tensor `X` to my device:

`device = torch.device("mps")`
`X = X.to(device)`

I get this:

/Users/marco/miniforge3/envs/torch/lib/python3.9/site-packages/torch/_tensor_str.py:103: UserWarning: The operator 'aten::bitwise_and.Tensor_out' is not currently supp

[2022-06-25 11:30] peterbell10 commented on #80018
The fix is to enable `OBJCXX` as a language in CMake, according to this post on the CMake discourse:
https://discourse.cmake.org/t/target-precompile-headers-with-macos-and-objective-c-mm-files/3205/3

I don't have an apple device to test on, but it apparently requires CMake 3.16 so would have to be guarded something like
[code]

[2022-06-25 12:59] malfet commented on #80252
@imaginary-person for the time being I plan to disable it across the board by default, because at least on any of the workflows we usually benchmarked it did not yield any gains on EC2 C5 machine. Let's continue discussion here on some microbenchmarks one could have run to more easily identify what is going on.

[2022-06-25 13:55] khushi-411 commented on #80256
Hi, this looks interesting to me! I'm picking up this. Will send a PR soon. Thanks :)

[2022-06-25 14:30] jonychoi opened #80281 "Pytorch modeling with javascript"
### 🚀 The feature, motivation and pitch

Hello, first of all, thanks for the hard and excellent for pytorch.
These days, one of the largest and most compatible platform that everyone holds, the browser has a powerful accessiblity.
Nevertheless, deep learning ecosystem is hard to adapted to the browser or web, since the development kit for the web is incredibly limited.
So I ask you whether there a

[2022-06-25 14:34] malfet commented on #80252
By dropping (profile.py)[https://gist.github.com/malfet/0a063a0663230a4cdcd2eb75324e221a] into (https://github.com/pytorch/examples/tree/main/word_language_model) int looks like `aten::_log_softmax ` is the one that regressed the most:
[code]

[code]

[2022-06-25 15:54] carsonswope opened #80285 "Bug in MPS permute for uint8"
### 🐛 Describe the bug

Permute does not work in MPS with uint8 values:

Script:
[code]

Output:
[code]

This seems to first appear in nightly release `20220623`. It was not present in `20220622`. It appears to only affect the uint8 datatype, but I only tested a few other datatypes (float32, int64, int32).

### Versions

[code]

cc @kulinseth @albanD

[2022-06-25 15:55] Chillee commented on #79968
Yes I believe so.

[2022-06-25 16:49] qqaatw commented on #77764
Working on

`aten::bitwise_not.out`,
`aten::bitwise_and.out`,
`aten::bitwise_or.out`,
`aten::bitwise_xor.out`,
`aten::bitwise_left_shift.Tensor_out`,
`aten::bitwise_right_shift.Tensor_out`.

[2022-06-25 17:36] vors commented on #79351
Issues that should be addressed to enable the `bazel test //...`:

https://github.com/pytorch/pytorch/issues/79236
https://github.com/pytorch/pytorch/issues/79851
https://github.com/pytorch/pytorch/issues/79852
https://github.com/pytorch/pytorch/issues/79853

[2022-06-25 17:37] vors commented on #79354
Issues that should be addressed to enable the bazel test //...:

https://github.com/pytorch/pytorch/issues/79236
https://github.com/pytorch/pytorch/issues/79851
https://github.com/pytorch/pytorch/issues/79852
https://github.com/pytorch/pytorch/issues/79853

[2022-06-25 17:56] malfet commented on #80278
Lack of bitwise ops is tracked in https://github.com/pytorch/pytorch/issues/77764 but can you please provide a bit more complete example?

[2022-06-25 20:05] drisspg opened #80287 "Remove @infernece_mode from nested tensor tests"
In https://github.com/pytorch/pytorch/blob/master/test/test_nestedtensor.py we decorated most of the tests with `@torch.inference_mode()` now that autograd is enabled for Nested Tensors we should remove these and make sure that the correct dispatch takes place for nested tensors.

cc @cpuhrsch

[2022-06-25 20:59] ngimel commented on #79876
It seems so, and jiterated kernels are mostly complex, so mostly complex is affected by it.

[2022-06-25 21:52] zhengwy888 commented on #80259
One of the workaround is to use native_batch_norm_backward instead of cudnn_batch_norm_backward, from my test it seems this combination will preserve most of the throughput improvement of cudnn + channels_last without introducing a blocking kernel. Do you think this 'hack' is worth implementing at the pytorch level? Or we should wait until cudnn gives some control on SM count like you mentioned.

[2022-06-25 21:56] CodingBeard opened #80288 "Bug with MPS at::native::prepare_matrices_for_broadcasting c10::Error: tensors must be 2-D"
### 🐛 Describe the bug

When running the following code using libtorch and line:61 = torch::kCPU everything runs correctly.
When running the code with torch::kMPS the following error is emitted.

I'm very new to using libtorch, so perhaps I've messed something up. But it seems strange that it works fine on cpu and not mps.

Error:
[code]

main.cpp:
[code]

CMakeLists.txt
[code]

### Versions

Coll

[2022-06-25 22:46] ptrblck commented on #80259
That's indeed an interesting observation and it would be even more interesting to see how code-generated normalization kernels would perform in this use case.

CC @csarofeen @kevinstephano in case we want to profile the nvfuser implementation for it.

As for the missing cuDNN API: we can surely follow up on this feature request (we were already talking about it), but I would not expect to see an i

[2022-06-26 00:35] fdan opened #80290 "Support LBFGS closures in torchscript"
### 🚀 The feature, motivation and pitch

From my reading of the LBFGS documentation, it doesn't seem this optimiser can be used in torchscript, as it's step method requires a closure parameter.  If I try to pass one in, torch jit complains saying: _UnsupportedNodeError: function definitions aren't supported_.  From this I gather this optimiser cannot be used with torchscript, although I'm yet to f

[2022-06-26 02:16] RockZombie4 commented on #74016
As @iyxv said, for me it just worked by changing the `--workers` parameter to 0.

[2022-06-26 02:23] #79938 closed

[2022-06-26 02:33] hehyuan opened #80291 "SequentialLR can raise bug when using pytorch_lightning"
### 🐛 Describe the bug

[code]

AttributeError: 'SequentialLR' object has no attribute 'optimizer'

### Versions

my pytorch version is '1.10.0' and python version is 3.8.0, pytorch_lightning version is '1.5.0'

cc @vincentqb @jbschlosser @albanD

[2022-06-26 02:35] hehyuan commented on #80291
I think add
[code]
in __init__() method of SequentialLR can be help, but there might cause other problems.

[2022-06-26 06:18] ngimel commented on #80155
This is expected behavior, `b[a]` returns a new tensor (not a view into the current one), `b[a][:, 0] = 1` assigns value to this intermediate `b[a]` tensor, and `b[a]` is destroyed at the end of this line as there's no reference to it.
This is a duplicate of a few other issues, not a bug and won't be fixed.

[2022-06-26 06:18] #80155 closed

[2022-06-26 08:07] eslambakr opened #80296 "Sort tensors inplace"
### 🚀 The feature, motivation and pitch

Hello Everyone,

I encounter Cuda-out-of-memory error during the sorting operation due to a huge tensor.
The tensor shape is [40000, 2048] thus I think If we can perform the sorting operation in an inplace manner it would be very nice feature to become more efficient.
Also, is there any workaround to make it inplace by myself without changing the torch vers

[2022-06-26 08:21] zanshuxun commented on #80119
@NivekT  Hi Kevin, in In some lower versions of PyTorch (e.g.,1.5.0), there is no `generator` parameter in `DataLoader`, then what should I do?

![image](https://user-images.githubusercontent.com/28911886/175805243-31c79a87-a0cc-4ed0-bf45-173314e49e8a.png)

![image](https://user-images.githubusercontent.com/28911886/175805949-de5c73c6-d7bf-40c2-b244-f7baaaf5f266.png)

Versions:
[code]

[2022-06-26 08:34] qqaatw commented on #77764
working on
`aten::normal.Tensor_float`,
`aten::normal.float_Tensor`,
`aten::normal.Tensor_Tensor`.

#80297

[2022-06-26 09:02] bennimmo commented on #77764
Do we know how to track this or timelines?

[2022-06-26 09:26] AyaNasser96 commented on #80133
@jbschlosser anyone could help soon ?

[2022-06-26 10:28] brainer3220 opened #80298 "If use Pandas and utils weight_norm, restarted Jupyter on Apple Silicon preview Pytorch"
### 🐛 Describe the bug

If just one (or more) time uses pandas and use weight_norm in nn.Module, that class to instance, restarted Jupyter

[Sample code](https://gist.github.com/brainer3220/c8e78a1644349f7f249a01198e3da08d)

### Versions

--2022-06-26 19:23:40--  https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py
Resolving raw.githubusercontent.com (raw.githubuserc

[2022-06-26 11:08] glenn-jocher commented on #74016
@RockZombie4 the side effect of `--workers 0` in YOLOv5 will be significantly slower dataloading though

[2022-06-26 11:19] MohamedAliRashad opened #80300 "[ONNX] Only prim ops are allowed to not have a registered operator but aten::mul doesn't have one either"
### 🐛 Describe the bug

Error happens when trying to export a torch model with variable input size to onnx after being scripted (not traced).

### Versions

torch v1.11.0

[2022-06-26 12:13] Birch-san commented on #77764
@bennimmo
I think it's best to give contributors the space to progress at whatever pace they prefer, and accepting whatever visiblity they choose to give.
anybody here could be an unpaid volunteer (the quoted post was sent on a weekend), and it's likely that this is only the beginning of the work required for MPS parity. best not to create your own deadlines around this; if you have time-urgency,

[2022-06-26 14:22] ajinkyaambatwar opened #80301 "Need "valid" and "same" padding mode for convTranspose2d"
### 🚀 The feature, motivation and pitch

The "valid" and "same" padding mode have been added for conv2D and it was a heavily requested feature. I request to add the similar feature for convTranspose2D (this feature is already present in tf)

### Alternatives

_No response_

### Additional context

_No response_

[2022-06-26 15:25] kvnptl commented on #49161
Thanks, it worked for me. I checked the latest torch and torchvision version with cuda from the given link. Stable versions list: https://download.pytorch.org/whl/cu113/torch_stable.html

Below versions solved the error,
`pip install torch==1.11.0+cu113 torchvision==0.12.0+cu113 -f https://download.pytorch.org/whl/torch_stable.html`

[2022-06-26 16:07] dbl001 commented on #77753
I reproduced the timing and memory issue with this simple 'utils.dataLoader' example.
The CPU is ~100 times faster then 'MPS'.
My GPU is never active during this test  accordint to the GPU activity monitor.
Any idea what's going on here?
[code]
You can get a copy of the training data file here:

https://github.com/SJ001/AI-Feynman/blob/master/example_data/example1.txt
Running a subset of the input

[2022-06-26 16:09] dbl001 commented on #79840
I reproduced the timing and memory issue with this simple 'utils.dataLoader' example.
The CPU is ~100 times faster then 'MPS'.
My GPU is never active during this test  accordint to the GPU activity monitor.
Any idea what's going on here?
[code]
You can get a copy of the training data file here:

https://github.com/SJ001/AI-Feynman/blob/master/example_data/example1.txt
Running a subset of the input

[2022-06-26 16:12] patilauminfi opened #80302 "AttributeError: 'LinearPackedParams' object has no attribute '_modules'"
### 🐛 Describe the bug

I am trying to run [easyocr](https://github.com/JaidedAI/EasyOCR) library in spark udf and getting the following error.

[code]
I am using Centos 7
Python 3.8.12
torch version - 1.11.0+cu102
torchvision version - 0.12.0+cu102

### Versions

--2022-06-26 16:11:47--  https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py
Resolving raw.githubuserco

[2022-06-26 17:00] philipturner commented on #77753
Does `torch.stack` create a Python array of tensors, then concatenate them into one larger tensor? If so, check the dimensions that you are stacking. If it's something like 1000 tensor objects, then most overhead is in allocating and managing the underlying `MTLBuffer` objects, and encoding the command(s) to combine them. Even with PyTorch's optimized heap allocator, driver-side latency may still

[2022-06-26 17:39] aydinkaraa opened #80304 "Brevitas Trained Model Does Not Get Exported To ONNX"
### 🐛 Describe the bug

I have trained my brevitas model with Brevitas. Now I am trying to export my onnx model to use it with finn. As I try to export my model with the command below:

[code]
I get the error message as:

In case if it helps, my max pool 1d line of the trained model is shown below, I have changed the code line after reading some comments, here is the new version:

[code]
On its ol

[2022-06-26 19:33] PHRABAL opened #80306 "LSTM Output Transposed w/MPS on 1.13 nightly build"
### 🐛 Describe the bug

The 1.13 nightly build, when sending an LSTM model to `device="mps"` reverses the expected order of batch and seq in the output.

Please see this discussion for code examples and further details:

https://discuss.pytorch.org/t/lstm-output-transposed/154820/2

### Versions

Collecting environment information...
PyTorch version: 1.13.0.dev20220620
Is debug build: False
CUDA u

[2022-06-26 19:59] IamExperimenting opened #80307 "unable to save the model in TorchScript format?"
### 🐛 Describe the bug

I'm trying to save my model in TorchScript format, but unfortunately getting errors.

[code]
could you please help me to fix this issue?

### Environment
PyTorch Version (e.g., 1.0):1.11.0+cu113
CPU Architecture:
OS (e.g., Linux): ubuntu 20.04
How you installed PyTorch (conda, pip, libtorch, source): pip
Build command you used (if compiling from source):
Are you using local

[2022-06-26 20:37] saadnaeem-dev opened #80308 "CosineAnnealingWarmRestarts with initial warm up and weight decay applied on consecutive cycles without warm up"
### 🚀 The feature, motivation and pitch

So far there is no optimizer in torch.optim or open-source implementations that support CosineAnnealinWarmRestarts with initial linear warmup up to n specified steps followed by CosineAnnealinWarmRestarts without any further warmup with each restart, which gets followed by weight decay.

### Initial_Warmup_Cosine_Annealing_With_Weight_Decay
![initial_warm_u

[2022-06-26 21:53] meetbryce commented on #77764
A vote for `aten::multinomial` please

[2022-06-26 21:54] jamaliki commented on #57707
@ptrblck, @ngimel any updates on this? Not having interpolate in bfloat16 is a blocker for a project right now. Also, is it still the case that convs are slow in bfloat16?

[2022-06-26 21:59] ptrblck commented on #57707
Conv support in `bfloat16` should be enabled in the cuDNN v8 API via `export TORCH_CUDNN_V8_API_ENABLED=1`.
I don't know what the status of `bfloat16` for `interpolate/upsample`, but couldn't find a commit enabling it.

[2022-06-26 22:11] saadnaeem-dev commented on #80308
I've already implemented this lr_scheduler, which could be a nice addition to torch.optim

[2022-06-26 22:32] jamaliki commented on #57707
Am I correct that the only thing that needs to change is to change the files in aten/src/ATen/native/cuda/UpSample* in the same manner as https://github.com/pytorch/pytorch/pull/57904? Because I could do that.

[2022-06-26 22:45] ngimel commented on #57707
For interpolation operations backward, intrinsic bfloat16 atomic will have to be enabled (currently gpuAtomicAdd for bfloat16 calls into a very slow CAS-based implementation.

[2022-06-27 01:01] kentaroy47 opened #80310 "Slow training of Efficientnet when updated to pytorch 1.10 from 1.8"
### 🐛 Describe the bug

When I updated to pytorch=1.10 from 1.8, I noticed slow training speed (5x slower) when I train EfficientNet (from timm).

Other network training speed was unaffected. The GPU I used is A6000, so both cuda should be supported.

Perhaps it is from updating cuda from 11.1 to 11.3, but this is quite weird. Have anyone experienced this?

### Versions

I downgraded to get the sp

[2022-06-27 03:50] suo opened #80312 "Linux docs are ooming intermittently"
e.g.
- https://github.com/pytorch/pytorch/runs/7051562218?check_suite_focus=true
- https://github.com/pytorch/pytorch/runs/7050992419?check_suite_focus=true

cc @ezyang @gchanan @zou3519 @seemethere @malfet @pytorch/pytorch-dev-infra @holly1238 @svekars

[2022-06-27 03:51] suo commented on #80312
https://github.com/pytorch/pytorch/pull/80313 disables this job

[2022-06-27 04:02] suo opened #80314 "gradcheck jobs have multiple issues"
Timeouts:
- https://github.com/pytorch/pytorch/runs/7063479932?check_suite_focus=true
- https://github.com/pytorch/pytorch/runs/7062375007?check_suite_focus=true
- https://github.com/pytorch/pytorch/runs/7059896045?check_suite_focus=true

test failures:
- https://github.com/pytorch/pytorch/runs/7063479968?check_suite_focus=true
- https://github.com/pytorch/pytorch/runs/7062375039?check_suite_focus

[2022-06-27 04:03] suo commented on #80314
disables https://github.com/pytorch/pytorch/pull/80311

[2022-06-27 05:01] malfet opened #80317 "DISABLED test_gradcheck_forward_ad_respects_requires_grad (__main__.TestAutograd)"
Platforms:  linux

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_gradcheck_forward_ad_respects_requires_grad%2C%20TestAutograd)).

[2022-06-27 05:03] malfet opened #80318 "DISABLED test_conv_backend_cudnn3d_transposed_has_bias_False_strided_False_contiguous_False_cuda (__main__.TestNNDeviceTypeCUDA)"
Platforms: linux
This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_conv_backend_cudnn3d_transposed_has_bias_False_strided_False_contiguous_False_cuda%2C%20TestNNDeviceTypeCUDA)).

cc @csarofeen @ptrblck @xwang233

[2022-06-27 06:54] voznesenskym opened #93772 "Add support for torch.nn.quantized.modules.FloatFunctional"
cc @albanD @mruberry @jbschlosser @walterddr @mikaylagawarecki @ezyang @msaroufim @wconstab @bdhirsh @anijain2305 @zou3519 @saketh-are @soumith @ngimel @jerryzh168 @jianyuh @raghuramank100 @jamesr66a @vkuzo @jgong5 @Xia-Weiwen @leslie-fang-intel

[2022-06-27 07:34] jhh0923 commented on #50032
works for me, thanks!

[2022-06-27 07:41] Nishorecolan opened #80321 "java.lang.ExceptionInInitializerError at org.pytorch.NativePeer.initHybrid(Native Method)"
### 🐛 Describe the bug

 I have used  Jitsi_meet plugin on the flutter side and PyTorch dependency in the android module. So, I have faced a duplication issue in **com.facebook.fbjni** classes then I excluded the Facebook module from PyTorch dependency. After processing the image from the Andriod module side. I'm getting the below issue.

 **My dependency** :

 kioskAppImplementation ("org.pytorch

[2022-06-27 07:46] ryznefil commented on #77886
Same issue - MacBook Pro M1

<img width="2035" alt="Screenshot 2022-06-27 at 9 45 22" src="https://user-images.githubusercon

<img width="596" alt="Screenshot 2022-06-27 at 9 46 16" src="https://user-images.githubusercontent.com/52924235/175887383-71a04091-bb39-4b08-a4ae-098220782fd6.png">
tent.com/52924235/175887266-0c64e91a-2917-4435-93ca-869dabba2f60.png">

[2022-06-27 07:49] zhuzilin commented on #80137
@d4l3k  Our test machine were rebooted this weekend and I just ran the patch without `8*` again and observed no performance improvement... I may misconfigure the build cache during last test, sorry about that...

However, we still observed that the code with "pin interpreter to thread" is faster than the one that uses load balancer (as the data in the slide we shared last Friday). So there may sti

[2022-06-27 09:10] HaoboGu commented on #79839
@justinchuby No, setting `export_modules_as_functions=False` removes this error

[2022-06-27 09:29] Lezcano commented on #79609
Fixed in https://github.com/pytorch/pytorch/pull/80083

[2022-06-27 09:29] #79609 closed

[2022-06-27 09:31] #32278 closed

[2022-06-27 09:41] pytorch-bot[bot] opened #80325 "DISABLED test_delayed_reduce_scatter_offload_false_backward_prefetch_post_no_forward_prefetch_shard_grad_op (__main__.TestParityWithDDP)"
Platforms: linux, rocm

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_delayed_reduce_scatter_offload_false_backward_prefetch_post_no_forward_prefetch_shard_grad_op&suite=TestParityWithDDP&file=distributed/fsdp/test_fsdp_core.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7062227699).

Ove

[2022-06-27 09:48] nikitaved commented on #80314
lobpcg is most likely a numerical issue. I plan on revisiting the backward and the tests to improve that.

[2022-06-27 11:15] m-aqeeljanjua commented on #67547
@qiankunli can you share the solution how u did that?
I'm having the same issue :
` File "/opt/conda/lib/python3.8/site-packages/torch/distributed/rendezvous.py", line 191, in _create_c10d_store
    return TCPStore(
TimeoutError: The client socket has timed out after 1800s while trying to connect to (127.0.0.1, 42649).`

[2022-06-27 11:54] Mark-C-Lowell opened #80337 "Illegal Memory Access from nonzero method when Tensor is Too Large"
### 🐛 Describe the bug

There is a known issue that the nonzero method fails if the input tensor exceeds INT_MAX (#51871), raising a RuntimeError. However, the nonzero method also fails for tensors that are very large but slightly smaller than INT_MAX, causing an irrecoverable illegal memory access.

To Reproduce:

[code]

Decreasing M by one eliminates the error.

Expected Behavior:

The method e

[2022-06-27 12:12] shchur commented on #52973
I have created a [small library](https://github.com/shchur/survival_distributions) that implements `logsf`, `logcdf`, `log_hazard` and `isf` for some univariate distributions in`torch.distributions`. The implementation is numerically stable (compared to naive `(1.0 - p.cdf(x)).log()`) for the distributions that don't require special functions, such as `Exponential`, `Weibull`, `Uniform`, `Logistic

[2022-06-27 12:30] IvanYashchuk commented on #80231
I think this is a good workaround for now because adding proper handling of tensors with 0 number of elements in the nvFuser itself would require a larger effort.

[2022-06-27 12:38] malfet opened #80338 "DISABLED test_lobpcg (__main__.TestAutograd)"
Platforms: linux

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_lobpcg%2C%20TestAutograd)).

cc @ezyang @albanD @zou3519 @gqchen @pearu @nikitaved @soulitzer @Lezcano @Varal7

[2022-06-27 13:03] mruberry commented on #80310
Sorry to hear you're hitting this issue, @kentaroy47. cc @ptrblck

I wonder if the upcoming PyTorch 1.12 release will address this.

[2022-06-27 13:07] mruberry commented on #80296
@eslambakr Unfortunately there's not an easy way to make this operation inplace on a CUDA device, but as a workaround the tensor can be moved to the CPU, sorted, and then the result put back on the GPU.

[2022-06-27 13:11] mruberry commented on #80281
This issue would probably make a better question on the developer forums, but maybe @bwasti would like to comment here.

[2022-06-27 13:11] mruberry commented on #80281
Actually, you probably just want to comment on https://dev-discuss.pytorch.org/t/proposal-torch-js-a-javascript-frontend-for-pytorch/650, @jonychoi

[2022-06-27 13:29] jamaliki opened #80339 "BFloat16 support for upsampling on CUDA"
### 🚀 The feature, motivation and pitch

Upsampling operations currently do not support bfloat16 on CUDA, as discussed in https://github.com/pytorch/pytorch/issues/57707

### Alternatives

_No response_

### Additional context

_No response_

cc @albanD @mruberry @jbschlosser @walterddr @kshitij12345 @saketh-are @ngimel

[2022-06-27 13:33] gscalise commented on #80306
Minimal case confirming this issue. Verified on PyTorch version `1.13.0.dev20220627`, Python version `'3.8.13 | packaged by conda-forge | (default, Mar 25 2022, 06:05:16) \n[Clang 12.0.1 ]'`

[code]

Interestingly, this doesn't happen when `batch_first` is `False`:

[code]

[2022-06-27 13:49] dbl001 commented on #77764
aten::bitwise_and.Tensor_out

[2022-06-27 14:38] Lezcano opened #80343 "Logging tensor may not log some kwargs as well as it should"
### 🐛 Describe the bug

In https://github.com/pytorch/pytorch/pull/80334 some tests started failing. See https://github.com/pytorch/pytorch/runs/7072209713?check_suite_focus=true
After trying to modify this test to use another function, I went on and tried `topk`. I wrote:
[code]
and the output was:
[code]
by the description of the test, it looks like this behaviour was not desired. wdyt? @ezyang

[2022-06-27 14:43] janeyx99 commented on #80238
It looks like this started between these two commits:
![image](https://user-images.githubusercontent.com/31798555/175968248-fe8d934c-e583-41ce-85f8-46bd1c7adc47.png)

[2022-06-27 14:45] ezyang commented on #80343
topk has this signature:

[code]

In particular, largest and sorted are accepted positionally. As such, they do not get recorded as kwargs. If we wanted them as kwargs we should have made them kwarg only.

[2022-06-27 14:46] Lezcano commented on #80343
Ops, my mistake. I was looking at the signature of `nn.functional.kl_div`, not that of `torch.kl_div` in native_functions.yaml

[2022-06-27 14:46] #80343 closed

[2022-06-27 14:47] #48591 closed

[2022-06-27 14:49] #58563 closed

[2022-06-27 14:54] jbschlosser commented on #80133
@AyaNasser96 Unfortunately, I'm not knowledgeable about ONNX - I was just applying the label for triage purposes. If no one answers here, maybe you'll get more help on the [PyTorch forums](https://discuss.pytorch.org/)?

Note that we don't guarantee 100% numerical consistency across devices or between PyTorch and ONNX, so there may be nothing we can do on our end.

[2022-06-27 15:40] H-Huang commented on #80141
Good points. Thank you!

Yep, that is the current behavior. There isn't a particular reason that CUDA need to be initialized when no devices are passed (since devices are not updated after initialization for a statically sized RPC group), so the current behavior seems like a bug. The new default behavior will have CUDA not enabled by default or when no devices are passed in (`None` and `[]`).

[2022-06-27 15:52] justinchuby commented on #79839
Could you share a script that will help us reproduce the error?

[2022-06-27 16:05] ejguan opened #80349 "Distributed Store `get` doesn't work well with `add`"
### 🐛 Describe the bug

While I was working on sharing distributed seed for DataLoader, internal users encountered a problem that the distributed process will hang when trying to `get` an integer counter from the distributed store (`PrefixStore`).

While I dived deeper on this problem, I found a comment here:
https://github.com/pytorch/pytorch/blob/590d3e5774110e4657dcaa6acdb387ef69e41b47/torch/di

[2022-06-27 16:22] ngimel commented on #80310
cc @ptrblck, does cudnn 8.2/8.3 in the latest releases fix this?

[2022-06-27 16:37] JackCaoG commented on #80034
@seemethere Seems like this issue "same tag" also blocks PyTorch/XLA master CI, if we can resolve it sooner that would be nice.

[2022-06-27 16:50] #80312 closed

[2022-06-27 16:59] suo commented on #80314
@Lezcano are you the right owner to push this forward and get these jobs re-enabled?

[2022-06-27 17:00] ZhiYuanZeng commented on #80022
I tracked the memory through the command  `free -m`. But I still observed memory decreasing  according to the print of `print(psutil.virtual_memory().available)`.

[2022-06-27 17:04] AllenTiTaiWang commented on #80304
Hi @aydinkaraa ,

I don't think this is an API we provide. You might want to raise an issue perhaps [here](https://github.com/Xilinx/brevitas).
If you are interested in using torch.nn.export to export your model, or it failed, please let me know.

[2022-06-27 17:06] janeyx99 commented on #80314
Just for tracking purposes: issue that disable tests
https://github.com/pytorch/pytorch/issues/80338
https://github.com/pytorch/pytorch/issues/80317

[2022-06-27 17:06] janeyx99 commented on #80238
Disabled some tests here https://github.com/pytorch/pytorch/issues/80318

[2022-06-27 17:08] symphonylyh commented on #73388
For TAPAS model at least, the following naive scatter implementation can be used to replace the PyTorch Geometric's scatter ops and let onnx export succeed. Note: This work was intended to make TAPAS running in TensorRT, rather than in PyTorch -- in PyTorch it's definitely much slower than PyG, but in TensorRT the end-to-end is great for inference.

[code]

[2022-06-27 17:10] janeyx99 commented on #80314
Also the OOMs have been made into a separate issue here: https://github.com/pytorch/pytorch/issues/80238

[2022-06-27 17:12] #80096 closed

[2022-06-27 17:12] albanD commented on #80314
Note that right now, the slow gradcheck is completely removed. So to be test this in you PR, you will need to both revert https://github.com/pytorch/pytorch/pull/80311 and add the proper ciflow label

[2022-06-27 17:16] suo commented on #79992
@jbschlosser: I've been told you are the closest thing the cpp frontend has to an owner 😛.

Currently, the docs build that generates the cpp docs is flaky due to intermittent ooms. We are disabling the build on PRs and running it nightly-only for now, but this is obviously a bad situation as someone could break the build.

Can you own the investigation/resolution for this issue?

[2022-06-27 17:18] mruberry commented on #80252
Discussion:

- let's file an issue to improve benchmarking -- possibly creating a benchmarking job

[2022-06-27 17:19] jbschlosser commented on #65018
Closing as addressed by #73459.

[2022-06-27 17:19] jbschlosser commented on #62787
Closing as addressed by https://github.com/pytorch/pytorch/pull/73459.

[2022-06-27 17:19] #65018 closed

[2022-06-27 17:23] kevinstephano opened #93773 "Support for DistributedDataParallel (DDP) based Multi-GPU Training in TorchDynamo"
HuggingFace models currently are restricted from using DDP for training with TorchDynamo. It would be good to either add this support or validate it is working.

[code]

https://github.com/huggingface/transformers/blob/6a5272b2054622e27b4843e0c9722cc716d5458d/tests/trainer/test_trainer.py#L1827-L1837

cc @ezyang @soumith @msaroufim @wconstab @ngimel @bdhirsh

[2022-06-27 17:28] mruberry commented on #79992
Offline discussion:

- fixing the job is an option, but it may be preferable to disable autogeneration and preserve the useful part of the docs, directing people to the actual comments associated with function implementations to best use the C++ docs
- we should message the change to C++ docs in 1.13 (if we do something)
- check with @svekars before taking any action
- short-term fix would be to d

[2022-06-27 17:30] jbschlosser commented on #80291
I believe this was addressed in #67406. @hehyuan please feel free to reopen if you find ongoing issues in a nightly build of PyTorch.

[2022-06-27 17:30] #80291 closed

[2022-06-27 17:30] mruberry commented on #80061
The error message here is imperfect, and we could probably improve it by more clearly labeling the where operation as the source for the message.

[2022-06-27 17:32] lessw2020 commented on #78744
Hi @jbschlosser - apologies for the delay on this reply.
Yes, a 'set' version received from get_submodule() would be great to handle this.
Pls ping me internally if you have a drop you'd like for me to test.
Thanks much!

[2022-06-27 17:38] ngimel commented on #80205
It seems like something is going wrong with the gradcheck, because usual `.backward` produces correct gradients

[2022-06-27 17:47] bmahlbrand commented on #79333
This also seems to trigger when I use multiple shapes in my input for a super resolution model.

[code]

If I create a random tensor of the `hr_prev` shape inside the `forward` call, this error is avoided (obviously incorrect input though)

[2022-06-27 17:48] maPiche commented on #22013
I am surprised this bug is still silently active:

`def bernoulli_i(p, size):
  return (torch.rand(size) < p).int()

c32 =bernoulli_i(0.5,32)
print(c32)
idx2 =[x == 1 for x in c32]
print(idx2.count(True))
print(c32[idx2])

c31 =bernoulli_i(0.5,31)
print(c31)
idx1 =[x == 1 for x in c1]
print(idx1.count(True))
print(c31[idx1])`

returns a tensor([], size=(0, s) for an index created with size s < 32

[2022-06-27 18:22] #80154 closed

[2022-06-27 18:28] seemethere commented on #80034
I would say we shouldn't. I don't want the xla_base image to be a source of a supply chain attack for us and immutable tags are part of that

[2022-06-27 18:48] AllenTiTaiWang commented on #80300
Hi @MohamedAliRashad ,

Could you please upload the script that I can reproduce your error? It doesn't have to as complicated as the original one. Just a simple one that point out the issue. And have you tried reproduce it with trace? or it doesn't exist in tracing?

[2022-06-27 18:51] H-Huang opened #80372 "[BE] Update ProcessGroupWrapper tests to include"
### 🚀 The feature, motivation and pitch

Context of changes are in https://github.com/pytorch/pytorch/pull/79901.

Since the updated ProcessGroupWrapper message when `TORCH_DISTRIBUTED_DEBUG=DETAIL` is set will now print the op type, tensor shape, device type, etc. of the offending collective, we should also update the tests to check for these error messages. The tests in test_pg_wrapper.py curren

[2022-06-27 18:53] jaglinux opened #80373 "test_shape_ops failed due to OOM on system with SRAM <=64G"
### 🐛 Describe the bug

python test_shape_ops.py TestShapeOpsCUDA.test_flip_large_tensor_cuda -v results in OOM / sigkill for system with low memory resource (64GB RAM system)
Issue seen on ROCm based GPU systems with 64 GB RAM.

### Versions

Collecting environment information...
PyTorch version: N/A
Is debug build: N/A
CUDA used to build PyTorch: N/A
ROCM used to build PyTorch: N/A

OS: Ubuntu 1

[2022-06-27 18:54] jaglinux commented on #80373
cc @jithunnair-amd

[2022-06-27 19:00] jaglinux commented on #80373
After the introduction of https://github.com/pytorch/pytorch/pull/67796 , the system memory requirement to run this test increased.

It requires around 81GB of memory to run the test.
https://github.com/pytorch/pytorch/pull/80369 fixes the issue

[2022-06-27 19:01] AllenTiTaiWang commented on #80133
Hi @AyaNasser96,

Could you please upload your model here if it's < 2GB, and it's not, could you upload to Cloud so that we would be able to reproduce it.

I had a quick scan on the question, and found this CI test case under onnx which you might be interested (not ResNet though):
https://github.com/pytorch/pytorch/blob/471c8330432c64b41dab7483be2f1f234efe5ef3/test/onnx/test_pytorch_onnx_onnxrunti

[2022-06-27 19:11] ericchansen commented on #74016
This issue persists in `ultralytrics/yolov5:latest` today. I think that's this one https://hub.docker.com/layers/ultralytics/yolov5/latest/images/sha256-bfcd6dddcf9cb89e9e026c3c30ab16fd2d70480d2a32931700ce55075b126544.

[2022-06-27 19:16] glenn-jocher commented on #74016
@ericchansen yes that's because the '_free_weak_ref' bug is in PyTorch, YOLOv5 fixes won't have any effect on it.

[2022-06-27 19:17] axitkhurana commented on #80142
@kimishpatel could you help here?

[2022-06-27 19:22] axitkhurana commented on #79791
cc @kimishpatel

[2022-06-27 19:23] imaginary-person commented on #80252
@mruberry , there are some existing ATen op benchmarks at https://github.com/pytorch/pytorch/tree/master/benchmarks/operator_benchmark/pt, and we can run them with different `ATEN_CPU_CAPABILITY`. Some ops work better with AVX512, but there's significant run-to-run variation. I've noticed that preloading a third-party memory allocator (jemalloc/tcmalloc) produces more consistent results. I'll post

[2022-06-27 19:25] anjali411 opened #80377 "Modify _add_docstr to also set the correct module for the APIs"
### 📚 The doc issue

Currently, many public APIs don't have their module set correctly to meet our requirements for public API (https://github.com/pytorch/pytorch/wiki/Public-API-definition-and-documentation). All the ops in `torch.linalg`, `torch.special`, `torch.sparse` etc currently use `_add_docstr` to correctly set the doc for all the functions in these modules. The proposal here is to modify

[2022-06-27 19:25] ericchansen commented on #74016
@glenn-jocher does it make sense for the latest Docker image associated with this repo to use a version of PyTorch that works, ex. doesn't show this error?

[2022-06-27 19:27] eunbyeol-cho commented on #70701
I had the same issue, but I solved it using "continuous".
For example, you can do like this:
`x_1 = dim_reduce(x)
 x_2 = avg_pool(x_1.permute(0, 2, 1).contiguous())`

[2022-06-27 19:33] suo commented on #79992
@mruberry that sounds good to me. Is @jbschlosser still the right owner to drive this forward?

[2022-06-27 19:38] jbschlosser commented on #79992
@suo Yep, I'll take it on

[2022-06-27 19:41] BowenBao opened #80379 "[ONNX] "Mostly allclose" decorator for flaky test cases"
### 🚀 The feature, motivation and pitch

We are observing a lot of test cases that are flaky which sometimes have a very small amount of element mismatches. This mismatch happens randomly, and usually occurs with larger sized tests like model test cases.

The proposal is to decorate these tests with a "mostly allclose" decorator, to still enable the test in CI pipeline. Today the test cases, once

[2022-06-27 20:01] joerg-de opened #80380 "Support for learnable p Values in LPPOOL like Pool"
### 🚀 The feature, motivation and pitch

Make a LPPOOL layer that can learn p Values. The value for p = inf is max pooling and p = 1 is Average pooling. Different from LPPOOL where p = 1 is sum pooling.
The new LPPOOL has a p value for each feature map. So for each feature map a p Value can be learned.

### Alternatives

_No response_

### Additional context

I already tested this layer in my repo

[2022-06-27 20:03] z-a-f commented on #79862
I will investigate further. Meanwhile can you try the PTQ flow?

[2022-06-27 21:02] cccclai commented on #79791
There is Python api `_load_for_lite_interpreter`. Is it the api you used in Python?

[2022-06-27 21:22] zasdfgbnm commented on #80337
I think from the description, cub is requesting a reasonable-sized workspace, but inside the kernel, there was some int overflow while indexing?

[2022-06-27 21:34] #79876 closed

[2022-06-27 22:17] datu925 commented on #79791
Ah, it wasn't. I was just using the model as loaded normally. So if I use `_load_for_lite_interpreter`, I should expect to get the same results in Python and Android?

[2022-06-27 22:31] AllenTiTaiWang commented on #80016
Hi @dagitses ,

Is there anyway we can access your model to repro?

[2022-06-27 22:46] AllenTiTaiWang commented on #79951
Hi @Yebi1837,

I can't reproduce your error. Could you try again with the latest version of Pytorch and ONNX (please provide onnx version as well)?

[2022-06-27 22:59] BowenBao commented on #78505
Should be fixed by #79552

[2022-06-27 23:28] AllenTiTaiWang commented on #78852
@justinchuby Do you think this is similar what we have in #79263 ?

[2022-06-27 23:28] vadimkantorov commented on #79967
I think, there's one aspect: file backend (dbm / hdf5 / zip), and another aspect is laziness. It may make sense to force full loading (e.g. if we want to close the file handle and actually delete the file or if it can become unavailable) in some situations. So IMO is an orthogonal aspect. Although for some backends lazy may be seeming as the reasonable default choice. So they can be conflated, but

[2022-06-27 23:35] AllenTiTaiWang commented on #74732
cc @BowenBao

[2022-06-28 00:01] justinchuby commented on #78852
Yes, just linked

[2022-06-28 00:19] AllenTiTaiWang commented on #78119
Only one test with error now, the module with loop node errors in shape inference.

[2022-06-28 00:26] soulitzer commented on #80314
These tests were previously being [skipped](https://ossci-raw-job-status.s3.amazonaws.com/log/7032407678) because only slow tests only ran on slow gradcheck. Now slow gradcheck runs correctly both slow and fast tests possibly because of https://github.com/pytorch/pytorch/pull/80144. (We'd like slow gradcheck to run both slow and fast tests because fast gradcheck is known to fail to catch some type

[2022-06-28 00:27] suo opened #80409 "DISABLED test_fq_module_per_tensor (quantization.core.test_workflow_ops.TestFakeQuantizeOps)"
Platforms: mac

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_fq_module_per_tensor%2C%20quantization.core.test_workflow_ops.TestFakeQuantizeOps)).

Note: this test is NOT flaky.

cc @jerryzh168 @jianyuh @raghuramank100 @jamesr66a @vkuzo

[2022-06-28 00:31] AllenTiTaiWang commented on #80271
Hi @borisfom ,

Could you provide a repro? A small script and model but can reproduce the issue would be ideally.

[2022-06-28 00:36] soulitzer opened #80411 "Tracker: Slow gradcheck failures possibly indicating incorrect gradients"
### 🐛 Describe the bug

For a very long time, most tests are being [skipped](https://ossci-raw-job-status.s3.amazonaws.com/log/7032407678) by slow gradcheck:
At least the following are failing in slow gradcheck (There are probably a lot more, but we can't see those right now because the test is timing out):

- [ ] test_fn_fwgrad_bwgrad___rmod___cuda_float64 (non-differentiable points encountered w

[2022-06-28 00:41] fdan opened #80412 "Cannot initialise torch.optim modules in torchscript"
### 🐛 Describe the bug

It does not seem possible to initialise torch optimisers in torchscript.  How should one create or pass in an optim object to a torchscript module?

[code]

### Versions

pytorch 1.10.2

[2022-06-28 00:43] fdan commented on #40561
It seems this can be achieved by calling the set_ method on the grad?

[code]

[2022-06-28 00:47] #79914 closed

[2022-06-28 00:53] suo commented on #80409
cc @janeyx99 looks like this is broken? The parsed output looks reasonable though so not sure what's going on

[2022-06-28 00:57] pytorch-bot[bot] opened #80413 "DISABLED test_backward_T_cuda_float32 (__main__.TestCompositeComplianceCUDA)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_backward_T_cuda_float32&suite=TestCompositeComplianceCUDA&file=test_ops.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7082013410).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 1 red and 1 green.

[2022-06-28 01:08] naveenjafer commented on #31620
@bekirbakar Did you manage to fix this? I am running into the same issue.

[2022-06-28 01:14] imaginary-person commented on #80252
Hi @malfet @ngimel @ezyang @VitalyFedyunin @mruberry,

Even after we'd finish benchmarking & analyzing performance of ATen kernels (and potentially enable dispatch of some AVX512 kernels), can we still let AVX2 be the default CPU capability, so that users may use AVX512 ATen kernels by using the environment variable `ATEN_CPU_CAPABILITY=AVX512`?

There are at least 4 factors that would also have t

[2022-06-28 01:21] malfet commented on #80409
Looks like we can only disable tests in `package.Class` if I read the implementation of [`testNameIsExpected`](https://github.com/pytorch/test-infra/blob/b96caf6fd32e11cb1ddfbcbeb77bcb978911a455/torchci/lib/bot/verifyDisableTestIssueBot.ts#L62) correctly:
[code]

[2022-06-28 01:23] rohan-varma opened #80420 "[DDP] output_device argument appears completely unused"
### 🐛 Describe the bug

In current DDP implementation, the only reference to `self.output_device` is in DDP logging to log construction data: https://github.com/pytorch/pytorch/blob/master/torch/nn/parallel/distributed.py#L760.

It does not actually appear used anywhere, possibly we should mark this argument as deprecated / unused.

### Versions

main

[2022-06-28 01:33] rohan-varma commented on #80349
@ejguan Thanks for filing the issue! Do you have a reproduction (is it as simple as calling add() followed by get()?) of the issue, if so that would be great to share.

cc @H-Huang for any thoughts.

[2022-06-28 01:37] rohan-varma commented on #79488
removing oncall: distributed as this is triaged over to r2p team, feel free to add if help is needed from distributed oncall.

[2022-06-28 01:51] malfet commented on #80252
@imaginary-person I've already switched to `avx2` by default in https://github.com/pytorch/pytorch/pull/80253

As for the rest, I think majority of the users would not know which kernel to pick, so if we want to use AVX512, then we should code the heuristics into the AVX512 kernel implementation

[2022-06-28 02:01] QiusongYang commented on #80016
Using the original randomly initialized parameter has the same effect.

[2022-06-28 02:12] LydiaXiaohongLi commented on #80129
Got it, Thank you very much!

[2022-06-28 02:13] #80129 closed

[2022-06-28 02:22] kevinstephano opened #93774 "Guard Failures in T5 Model"
In addition to the `torch.finfo` issue, that I verified was fixed, there remains several guard failures.  Are these unique instances or the hierarchy of the failure?

The last guard failure provided the most specific point in the code dealing with the shape of the input linear matmuls of the multihead attention block:

[code]

[code]

How to reproduce (the script automatically installs HuggingFace

[2022-06-28 02:52] HaoboGu commented on #79839
@justinchuby here is the script

[code]

[2022-06-28 03:25] MinttHu commented on #69460
My system is window 10+CUDA11.3. My problem is that when I use "torch. utils.cpp_extension.load_inline" to built a C++/CUDA extension, it shows: "ninja: build stopped: subcommand failed."

[2022-06-28 04:17] hackroid commented on #80278
`import torch
device = torch.device('mps')
print(f" - device : {device}")
sample = torch.Tensor([[10, 20, 30], [30, 20, 10]])
print(f" - cpu tensor : ")
print(sample)
sample2 = sample.to(device)   # warning displayed
print(f" - gpu tensor : ")
print(sample)`

[2022-06-28 06:03] kentaroy47 commented on #80310
@ngimel @mruberry
Thanks for the pointer. I just tried out the nightly-build and this fixes the training speed issue.

[code]

[2022-06-28 06:13] AyaNasser96 commented on #80133
@AllenTiTaiWang  Thank you for you reply.
Could you sent me your email to send you the model and the needed scripts ^^

[2022-06-28 06:27] Kemo-Huang commented on #45724
Still encountered this bug when using pytorch 1.11 with float32 on v100s

[2022-06-28 06:38] mayank-nference opened #80426 "Error while exporting traced torchscript model to tensorRT using torch_tensorrt"
### 🐛 Describe the bug

I am trying to convert the pre-trained **bert-base-uncased** model which I fine-tuned for the NER task. I am getting errors while compiling traced torchscript model

[code]

# Error

[code]

### Versions

I am using a prebuilt PyTorch Docker container image (as mentioned on the torch_tensorrt README) - https://catalog.ngc.nvidia.com/orgs/nvidia/containers/pytorch

Docker Co

[2022-06-28 06:39] Lancer555 opened #80427 "Torch fx print line number of each node"
### 🚀 The feature, motivation and pitch

It can be very helpful if each node in the graph, generated by symbolic_trace, would include the full path and line number of this operator, similarly to torch.onnx.export verbose output. For example:
%180 : Float(1, 512, 7, 7, strides=[25088, 49, 7, 1], requires_grad=1, device=cpu) = onnx::**Add**(%240, %243) # **C:\ProgramData\Miniconda3\lib\site-packages

[2022-06-28 07:31] majestichou commented on #79116
I find where the problem is.
I mislinked the version of the dynamic library libprofiler.
I should use the dynamic library compiled by gperf instead of the system's built-in dynamic library.

[2022-06-28 07:31] #79116 closed

[2022-06-28 07:49] Supgb opened #80430 "**torch.load() requires model module in the same folder** pytorch/pytorch#3678"

[2022-06-28 07:50] iago-lito opened #80431 "CMake Error: File /opt/pytorch/build_variables.bzl does not exist."
### 🐛 Describe the bug

Following #80212, the docker build command failed again today on a freshly cloned repo:

[code]

[log.txt](https://gist.github.com/iago-lito/61358872444050cfbbff05d18ccfea00)

Maybe related:  #78542 ?

### Versions

[code]

[2022-06-28 07:50] #80430 closed

[2022-06-28 08:40] Lezcano commented on #80338
As mentioned, this test is known to be flaky and it's fine to disable it for now. @nikitaved will take a look at it at some point.

[2022-06-28 08:42] Lezcano commented on #80411
For the linalg operations, I bet that 99% of those come from testing the gradients on a matrix that's close to being singular rather than the formulas being wrong.

[2022-06-28 08:49] Lezcano commented on #80314
I discussed this with Jane, but posting here for visibility. If you want to heavily alleviate the CI, I would very much suggest we revisit the OpInfos for `max_pool{1,2,3}d` and `max_unpool{1,2,3}d`. These PRs have a ridiculous number of samples, pretty much testing all combinations of inputs (and there's many of them). These tests are, by far, the slowest, taking about 100-1000x what normal tests

[2022-06-28 09:08] Yura52 opened #80433 "Fix the import of `Parameter` in `torch.nn.__init__.py`"
### 🐛 Describe the bug

The "bug" with `nn.Parameter` (same for `UninitializedParameter`, `UninitializedBuffer`, `DataParallel`) is not in the sense of correctness, but in how the public access to this item is defined.

- namely, it leads to issues like this: https://github.com/microsoft/pylance-release/issues/2953
- the explanation: https://github.com/microsoft/pylance-release/issues/2953#issueco

[2022-06-28 09:21] qqaatw opened #80437 "[RFC] Adding custom Metal kernel for mps ops requiring high performance"
Currently, there are a bunch of operators e.g. `aten::bitwise_*` that have not been supported by [MPS graph](https://developer.apple.com/documentation/metalperformanceshadersgraph) natively.

Therefore, in this case, we can write custom MPS kernel to support these ops as mentioned in the [wiki](https://github.com/pytorch/pytorch/wiki/Adding-Op-for-MPS-Backend). Is there any existing reference we c

[2022-06-28 09:34] sangwon6785 opened #80439 "scatter_reduce choosed indices"
### 🚀 The feature, motivation and pitch

Can i get choosed indices for scatter_reduce function? **like torch.max() -> return: max, max_indices**

### Alternatives

_No response_

### Additional context

_No response_

[2022-06-28 09:46] Lezcano commented on #80275
I believe this is fixed in master (cf. https://github.com/pytorch/pytorch/pull/75805).
@OverLordGoldDragon could you please download the nightly version (see https://pytorch.org/ for how to do it) and try this there?

[2022-06-28 10:19] jameshamm opened #80441 "torch.linalg.lstsq has confusing syntax highlighting in example"
### 📚 The doc issue

In the examples for [torch.linalg.lstsq](https://pytorch.org/docs/stable/generated/torch.linalg.lstsq.html) the statement defining `B` is split over two lines. The entire second line looks like a comment, when only part of the line contains a comment.

![Screenshot from 2022-06-28 11-13-59](https://user-images.githubusercontent.com/10179936/176154882-7db6806d-e4a7-495d-a2a4-64

[2022-06-28 10:38] Lezcano commented on #80061
My first thought is that we should probably just remove the support for mixed cpu and cuda from this operation. Now, this operation is different, as it's the one behind the notation `a ** b`. These operations, like `add` and so, often support more things than other operations. As such, if this behaviour in the forward is expected, yup, we should just fix the backward to handle this case. That bein

[2022-06-28 10:40] samvanstroud commented on #73388
Thanks @symphonylyh, unfortunately I need 2D `scatter_max`. I'm looking into whether we can get this supported directly, see https://github.com/onnx/onnx/issues/4322 and https://github.com/pyg-team/pytorch_geometric/issues/728.

[2022-06-28 12:29] macio232 commented on #42368
I experience `torch.autograd.functional.vjp` giving incorrect gradients (always 0) when called on a `BatchedTensor` object in a `vmap`ed function.

Is this a bug or feature?

[2022-06-28 13:04] ejguan commented on #80349
This is reported by internal users. See [link](https://fburl.com/jnvixeog). You can reproduce the Error if you back out the following [Diff](https://fburl.com/diff/s92k2g5r)

It seems only happening for users who are using fblearner with PrefixStore

[2022-06-28 13:23] JH-Xie commented on #79862
Hi @z-a-f , nice to hear that, I'm will take a try.
Meanwhile I I have some new discoveries，I debug the code and find Conv and BN will merge to ConvBn2d defined in torch.nn.intrinsic.qat.modules.conv_fused.py, It's forward code is below.
[code]
It seems `scaled_weight` imitate merge Conv and BN operate when doing evalution, and doing quantize using merged weights. But outputs completely changed af

[2022-06-28 13:26] albanD commented on #80061
I don't think we don't want to support this. In particular because this exercises similar code as `t * * 2` where 2 will be converted to a scalar CPU Tensor.

[2022-06-28 13:31] albanD commented on #80314
Are test runtime by name something that we can collect from the current test infra?

[2022-06-28 13:33] rBenke commented on #80167
It works. Thanks!

[2022-06-28 14:03] dbl001 commented on #77753
torch.stack is called in the default_collate() method with Automatic batching (default).
My training file is 96000x3.
I tried changing the batch size (e.g. 2048, 128, as well as None).  With 'automatic batching', the process always stalls when it grows to ~48GB.
How are these tensors garbage collected?  At the end of every batch? Every epoch? GPU memory pressure?  Never?

[2022-06-28 14:03] mvsanjeeth commented on #77764
aten::cumsum.out

[2022-06-28 14:18] ezyang commented on #80314
cc @mruberry

[2022-06-28 14:41] nikkymen commented on #42653
This solution worked for me

[code]

We can replace _AdaptiveAvgPool2d_ module with this _AdaptiveAvgPool2dCustom_.

Because this is just pooling, we don't have to retrain the model, but inference may be slightly different.

[2022-06-28 14:42] rohan-varma commented on #79049
@puririshi98 Thanks for filing this issue! I'm curious as to why switching over to try/except fixes the issue if the issue is indeed a hang (it should hang in both cases)?

If try/except does work, could you let us know the exception that is caught here?

Also, setting `TORCH_DISTRIBUTED_DEBUG=DETAIL` in your application can help with catching any mismatched collectives / hang issues. To debug fur

[2022-06-28 15:00] dbl001 commented on #77753
Any clues as to why the computation continues to slow, the process memory continues to grow, then stops.
It happens with 'mps' but not with 'cpu', for the same data and same parameters.

[2022-06-28 15:31] dbl001 commented on #77753
[code]

[2022-06-28 15:38] zou3519 commented on #42368
@macio232 do you have a repro? Please feel free to open an new issue over at https://github.com/pytorch/functorch so we can discuss in another thread

[2022-06-28 15:46] suo commented on #80314
Take a look at https://observablehq.com/d/b95f7b67261147ba

[2022-06-28 15:46] mariaalfaroc opened #80454 "Functional version of torch.nn.LSTM -> torch.nn.functional.LSTM"
### 🚀 Requesting torch.nn.Functional.LSTM

I am diving into meta-learning and need to change the weights of module during the training process, so I can’t use off-the-shelf `torch.nn.Conv2d` or `torch.nn.LSTM` module as I can’t pass weights into the module.

For convolution layers or batch normalization layers, PyTorch provides `torch.nn.Functional.conv2d` and `torch.nn.Functional.batchnorm` inter

[2022-06-28 15:58] jbschlosser commented on #80301
Hey @ajinkyaambatwar, thanks for the request! I think this is something we do want to support, but there are some implementation subtleties to get right. Details in #3867 and [this post](https://stackoverflow.com/questions/50683039/conv2d-transpose-output-shape-using-formula).

[2022-06-28 16:13] drisspg commented on #79048
Update here: https://github.com/pytorch/pytorch/pull/80396 this PR updated nested tensors to use the AutogradNested key. As well it made updates so that CompositeImplicitAutograd kernels can work with nested tensors. It kept the restriction on CompositeExplicitKernels.

[2022-06-28 16:53] jbschlosser opened #80458 "Revisit OpInfo samples for nn.functional.max_poolNd"
As mentioned [here](https://github.com/pytorch/pytorch/issues/80314#issuecomment-1168426818), the `nn.functional.max_poolNd` OpInfo entries test input combinations extensively, resulting in long test run times. From the times reported [here](https://observablehq.com/d/b95f7b67261147ba), they appear to be within the top 15 longest running tests:

[code]

We should revisit these OpInfo entries and c

[2022-06-28 16:54] jbschlosser commented on #80314
Opened #80458 for investigation.

[2022-06-28 16:55] mruberry commented on #80314
We could move some (many, most?) of the samples to "reference inputs" for those operations, instead

[2022-06-28 17:13] puririshi98 commented on #79049
I have tried this already and unfortunately nothing comes out. The full/minimal repro was including in the original bug report.

[2022-06-28 17:48] davidberard98 commented on #80290
Duplicate of https://github.com/pytorch/pytorch/issues/80412

[2022-06-28 17:48] #80290 closed

[2022-06-28 17:51] davidberard98 commented on #80412
As far as I'm aware, optimizers can't be scripted in torchscript. The expected use case for training with torchscript is to script a module, and then train it with an external optimizer. Similarly (in your other issue) torchscript doesn't support scripting function definitions within other methods or functions.

For example, you if you follow [this example](https://pytorch.org/tutorials/beginner/b

[2022-06-28 17:56] davidberard98 commented on #80307
As it says in the error message: "compiled functions can't take variable number of arguments **or use keyword-only arguments with defaults**"

You'll need to change the function signature - either don't take keyword-only arguments, or don't provide a default value for that argument.

[2022-06-28 17:56] #79992 closed

[2022-06-28 18:15] dbl001 commented on #77753
Here's the output of
[code]
[output1.txt](https://github.com/pytorch/pytorch/files/9003702/output1.txt)

Running only the dataLoader to 'mps':
[code]

[2022-06-28 18:24] kimishpatel commented on #79791
Is this just embedding lookup or some other subsequent op that consumes it? Generally each hardware is slightly different so cpus on phone may give slightly different result compared to cpu on say laptop or server due to some hardware differences combined with compiler optimizations that result in compiling code to utilize some instruction for performance reasons. Things like this show up in round

[2022-06-28 18:40] powderluv commented on #74058
We have noticed this `__torch_mangle_0` be inserted into some of the `torch-mlir` tests too. https://github.com/llvm/torch-mlir/pull/990

@Chillee any thoughts on this ?

@silvasean FYI

[2022-06-28 18:53] richinex commented on #80275
Is this a similar error?

/home/richard/anaconda3/envs/simulation_2/lib/python3.10/site-packages/torch/autograd/__init__.py:173: UserWarning: Casting complex values to real discards the imaginary part (Triggered internally at  ../aten/src/ATen/native/Copy.cpp:239.)
  Variable._execution_engine.run_backward(  # Calls into the C++ engine to run the backward pass

Because I still get this error even

[2022-06-28 19:14] kulinseth commented on #80165
@qqaatw , I agree with @DenisVieriu97, please use shape for now to avoid OS specific checks unless absolutely needed. That's a good point, we can add a section to note issues such as these.

[2022-06-28 19:14] #80165 closed

[2022-06-28 19:18] kulinseth commented on #79840
@dbl001 , can you please send us the complete code to repro this at our end?

[2022-06-28 19:18] justinchuby commented on #79951
@Yebi1837 You may need to find a way to use pytorch nightly. All fixes will only be available in the latest versions. According to Ti-Tai's experiment we think the error has been fixed in newer versions of PyTorch.

[2022-06-28 19:56] dbl001 commented on #79840
[code]
Here's the input file:
https://github.com/SJ001/AI-Feynman/blob/master/example_data/example1.txt

Here's the output of % IOAccelMemory --pid 86577 > output21.txt

[output1.txt](https://github.com/pytorch/pytorch/files/9004375/output1.txt)

I'll send out the output of  % IOAccelMemory --pid 86577 > output2.txt as soon as it completes.
I am running OS X 12.4 on an iMac 27" with an AMD Radeon

[2022-06-28 20:32] puririshi98 commented on #79049
The exception that comes out is:
[code]
despite this ugly exception, training goes through fine and  evaluation metrics are as expected

[2022-06-28 20:50] H-Huang commented on #78022
Resolved with #79724 #79901

[2022-06-28 20:50] #78022 closed

[2022-06-28 20:52] fdan commented on #80412
Cheers, I was beginning to suspect that was the case.  For my purposes I might go with a torchlib implementation then, thanks

[2022-06-28 20:52] #80412 closed

[2022-06-28 21:03] ezyang commented on #71896
I think the more forward looking direction is we use torchdynamo to automatically identify what contexts are cuda graph capturable, and then you don't need to annotate at all.

[2022-06-28 21:04] ezyang commented on #71631
What happens if you do a warmup run before capturing

[2022-06-28 21:05] ezyang commented on #68249
If we could turn on torchdynamo by default, we could enable cuda graphs by default.

[2022-06-28 21:09] ezyang commented on #51075
Updating the state on this: CUDA graphs have private memory pools, but we didn't expose a public API for people to generally use this, so I'm keeping this issue open

[2022-06-28 21:19] Yebi1837 commented on #79951
hi @justinchuby and @AllenTiTaiWang
Unfortunately this is not a personal project but a company project instead, I am not able to move to a newer version because the whole organization depends on this.
The source code I am using were picked up from v1.11 release here: https://github.com/pytorch/pytorch/tree/v1.11.0

[2022-06-28 21:51] justinchuby commented on #79951
Would it be possible for you to move all tensors to cpu before exporting?

[2022-06-28 22:45] rohan-varma commented on #80349
Bumping priority as it can affect internal workloads

[2022-06-28 22:47] kurtamohler commented on #74016
@ericchansen, PyTorch 1.12 was just released today, and it should have this fix in it

[2022-06-28 22:58] WilliamTambellini commented on #64692
up ?

[2022-06-28 23:11] vadimkantorov commented on #36706
Related: https://github.com/pytorch/pytorch/issues/55366 ?

[2022-06-28 23:15] vadimkantorov opened #80483 "torch.arange for torch.float16"
### 🐛 Describe the bug

It seems that torch.arange is not supported for torch.float16: https://github.com/speechbrain/speechbrain/issues/1470

Would be good to support for consistency? (+ maybe torch.linspace) even if precision is not good

### Versions

N/A

[2022-06-28 23:24] ngimel commented on #80483
arange is supported on cpu since 11 months ago, on cuda for longer than that.

[2022-06-28 23:44] vadimkantorov commented on #73466
One more cloud to support natively in torch.load or torch.hub.load_state_dict_from_url (maybe unify it into torch.load?): AWS S3: https://pytorch.org/blog/pytorch-1.12-released/#beta-aws-s3-integration

[2022-06-28 23:47] ngimel commented on #80458
We can reduce SampleInputs and move the rest to ReferenceInputs so the coverage for some subsystems is preserved, but regular tests are faster.

[2022-06-29 00:12] malfet commented on #80483
Well, it still does not work on CPU (which is reasonable, `torch.half` perf on CPU is horrible), but should be supported on CUDA...

[2022-06-29 01:00] Lezcano commented on #80441
We could make it something like:
[code]

Now, this is a bug in the docs rendering @brianjo

[2022-06-29 01:05] Lezcano commented on #80275
@richinex that's very odd, as that's exactly the error that was fixed in https://github.com/pytorch/pytorch/pull/75805... Does this happen in the nightly build? What does your `print(torch.__version__)` say?

[2022-06-29 01:16] EverettGrethel opened #80488 "Negative values still produced by torch.nn.functional.kl_div"
### 🐛 Describe the bug

## 🐛 Bug
Despite a fix in https://github.com/pytorch/pytorch/issues/32520, kl_div in torch.nn.functional still outputs negative values.
## To Reproduce
Say we have outputs with the same values:
[code]
Or, say we have outputs with arbitrarily-chosen different values. https://github.com/pytorch/pytorch/issues/32520 attempts to resolve negative outputs by allowing for a target

[2022-06-29 01:28] vadimkantorov commented on #32278
@Lezcano seems not very fixed for me. Yes, docs now include a warning plate explaining how input/target map to P and Q, but it may be much better to make this "renaming" in the beginning and explain the formula and functioning in familiar P/Q terms...

[2022-06-29 01:38] Lezcano commented on #32278
P, Q, although moderately standard, do not denote which one is the real distribution and which one is the predicted distribution. Hence the chosen notation in the docs.

This issue was resolved as `kl_div` does have the formula in the docs. If you still think that there's room for improvement (fair enough), feel free to open a new issue, or even better, submit a PR.

[2022-06-29 01:39] zou3519 opened #80489 "CPU-only c++ extension libraries (functorch, torchtext) built against PyTorch wheels are not fully compatible with PyTorch wheels"
### 🐛 Describe the bug

When installing functorch alongside a different PyTorch wheel (torch 1.12 {cpu, cu102, cu113, cu116}) than it was built with, we are experiencing either
1. missing symbol issues on `import functorch`
2. exception handling issues with functorch where the exception handling produces unexpected output. Independently, torchtext exhibits the same issue.

These seem to stem from

[2022-06-29 01:46] nict-wisdom opened #80490 "id() of buffer changes after model.to()"
### 🐛 Describe the bug

An id of a buffer changes after to() runs while an id of a parameter does not change.
The behavior should be consistent for both parameters and buffers.

You can reproduce it with the following code:

[code]

You can see only the id of buffer changes:
[code]

### Versions

I used PyTorch v1.11.0+cu113.

[code]

cc @albanD @mruberry @jbschlosser @walterddr @kshitij12345 @sak

[2022-06-29 01:50] zou3519 commented on #80489
for some more context: this is currently blocking the functorch release. We've brainstormed a couple of options for now:
- Option 1: just release functorch binaries that were built against torch (cu102) and live with the exception handling issues
- Option 2: build a different functorch binary for each cuda version (cpu, cu102, cu113, cu116)

[2022-06-29 01:56] richinex commented on #80275
Here is what I get from running print(torch.__version__):

1.11.0+cu102

[2022-06-29 02:15] atalman commented on #80489
+1 for Option 5 (from Ed). We plan on dropping cu102 for 1.13 release anyways here is the reference issue: [1026](https://github.com/pytorch/builder/issues/1026)

[2022-06-29 02:16] malfet commented on #80483
Sure, why not

[2022-06-29 02:17] malfet commented on #80489
Sure, but problem is bigger than cu102: i.e. if we release PyTorch, do we force devs to use exactly the same version of comipler to build extension, to do we allow some leeway here. If later, we need to figure out what is going on.

[2022-06-29 02:25] atalman commented on #80489
Yes I agree we need to figure out whats goin on anyways just to understand all our possible options here

[2022-06-29 02:30] Lezcano commented on #80275
You are somehow not running the nightly build there. In the nightly build it should say `1.13.[something else here]`

[2022-06-29 02:32] albanD commented on #80302
The structure or a print of the model that causes the error would be helpful as well. It most likely contains something that is a subclass of `nn.Module` but is not properly initialized.

[2022-06-29 02:34] zou3519 commented on #80489
Does the devtoolset change (gcc 9 vs 7) also apply to the conda binaries? (I'm trying to determine if we need to build conda binaries as well) In the past functorch has not published conda binaries (instead, our pip wheels have worked with pytorch pip wheels and conda binaries, but maybe this is not expected)

[2022-06-29 02:38] atalman commented on #80489
Yes its the same with conda [1030](https://github.com/pytorch/builder/pull/1030/files)

[2022-06-29 02:48] Leputa commented on #39245
Maybe the problem is solved by https://issuehint.com/issue/pytorch/pytorch/80016

[2022-06-29 02:52] anjali411 commented on #80275
can confirm that this doesn't error on the nightly

[2022-06-29 03:01] alstonlo opened #80493 "DataLoader runs out of memory when `batch_size` >> `len(dataset)`"
### 🐛 Describe the bug

A hack I was using to get datasets in a single batch was to create a `DataLoader` with a very large batch size. This worked fine in PyTorch 1.11.0, but a `MemoryError` is raised in PyTorch 1.12.0. The following is a minimal example:

[code]
[code]

I believe this stems from a recent change to `BatchSampler` (PR #76951) ([line](https://github.com/pytorch/pytorch/pull/76951/f

[2022-06-29 03:12] walkacross opened #80494 "[bug] libtorch bug in nn::MultiheadAttention and nn::Transformer"
### 🐛 Describe the bug

the attn_mask does not work in nn::MultiheadAttention
[code]

[code]

* 1 the attn_mask does not influence the attn_output_weights.
* 2  the API in libtorch for MultiheadAttention and Transformer is not comparable with that of in pytorch. e.g. libtorch api have np batch_first param.
* 3 more detail comparison see https://github.com/walkacross/pytorch-libtorch-API-translatio

[2022-06-29 03:14] ezyang commented on #80489
We already force people to run same version of compiler.

[code]

In fact, I'm guessing upgrading the devtoolset fixes https://github.com/pytorch/pytorch/issues/51039

[2022-06-29 03:37] Elanmarkowitz opened #80496 "DDP find_unused_parameters=True does not work for Sparse gradients"
### 🐛 Describe the bug

If you have an unused parameter that is a sparse embedding table like below

[code]

and in main, you are using `DDP(model, find_unused_parameters=True)`
then the code above fails with

[code]

It looks like `Reducer::mark_variable_ready_sparse` does not have the same checks as `Reducer::mark_variable_ready_dense`. Instead it just checks `grad.defined()`.

### Versions

Not

[2022-06-29 03:49] malfet commented on #80489
We can update toolset as frequently as we want, but we can't get rid of `_GLIBCXX_USE_CXX11_ABI=0` as all manylinux standards expect at to be set.

[2022-06-29 03:56] Elanmarkowitz commented on #80493
Couldn't you just do
`loader = data.DataLoader(dataset, batch_size=len(dataset))`?

[2022-06-29 04:21] alstonlo commented on #80493
Yes, that is what I have already updated my code to do instead!

[2022-06-29 05:27] #77831 closed

[2022-06-29 05:42] richinex commented on #80275
Thanks. Indeed the problem is resolved in the nightly. I had installed the correct nightly version but I wanted to use the vmap function from functorch. So I installed functorch and it downgraded the nightly build to version 1.11.0 which I didnt notice.

[2022-06-29 05:43] weilixiang commented on #77732
I am using Multiprocess.Manager().dict() to store the copied model state by using deepcopy, but still getting
RuntimeError: Attempted to send CUDA tensor received from another process; this is not currently supported. Consider cloning before sending.
Is it because of mp.Manager() issue?

[2022-06-29 06:19] MilesCranmer opened #80499 "std() is incorrect on "mps" backend"
### 🐛 Describe the bug

I was wondering why normalization was different on the mps backend. It turns out that `std()` produces different results:
[code]

I also tried `x.to("mps").std(unbiased=False)` but it produced the same result for the mps backend.

### Versions

OS: macOS 12.4 (arm64)
GCC version: Could not collect
Clang version: 13.1.6 (clang-1316.0.21.2.5)
CMake version: version 3.23.2
Lib

[2022-06-29 06:36] adeljalalyousif commented on #31620
/// same error

import torch
from torch import nn
import torchvision
resnet = torchvision.models.resnet101(pretrained=True)

RuntimeError: PytorchStreamReader failed reading zip archive: failed finding central directory

[2022-06-29 07:07] zhang0557kui opened #80500 "[ONNX] Exported model errors when executed with onnxruntime"
### 🐛 Describe the bug

我使用torch.onnx.export(model, x, 'model.onnx', input_names=input_names, output_names=output_names, verbose='True', opset_version=16)将pytorch模型转成onnx，pytorch版本为1.12.0GPU版，使用opset_version=16，转换过程出现如下提醒：
WARNING: The shape inference of prim::Constant type is missing, so it may result in wrong shape inference for the exported graph. Please consider adding it in symbolic function.

[2022-06-29 07:07] zhuhaozhe opened #80501 "quantize_per_tensor get diffrenet results w/o setting OMP_NUM_THREADS=1"
### 🐛 Describe the bug

For python file below (we call test_quant.py)
[code]

[code]
will get different i8_args.

### Versions

Collecting environment information...
PyTorch version: 1.13.0a0+git0922cc0
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: CentOS Stream 8 (x86_64)
GCC version: (GCC) 8.5.0 20210514 (Red Hat 8.5.0-10)
Clang version: 13.0.0 (Red

[2022-06-29 07:08] zhuhaozhe commented on #80501
with setting OMP_NUM_THREADS=1
will get all zero tensor
tensor([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0.,

[2022-06-29 07:15] zhuhaozhe commented on #80501
And if not setting OMP_NUM_THREADS
will get
tensor([-0.2394, -0.2394, -0.2394,  0.2375,  0.2375, -0.2394, -0.2394, -0.2394,
        -0.2394,  0.1066, -0.2394, -0.2394, -0.2394, -0.2394,  0.2375, -0.2394,
        -0.2394, -0.2076, -0.2394, -0.2394, -0.0430, -0.2394, -0.2394, -0.2394,
         0.1010, -0.0374,  0.2375, -0.0411,  0.2375,  0.2375,  0.2375, -0.2394,
         0.2375, -0.2394, -0.2394,

[2022-06-29 07:24] qqaatw commented on #80499
Should be fixed by the linked PR.

[2022-06-29 07:53] holmrenser commented on #77764
While running some [gpytorch](https://github.com/cornellius-gp/gpytorch) code I ran into missing `aten::triangular_solve.X`

[2022-06-29 08:17] Force1ess commented on #77732
Multiprocessing module definitely needs a separate section to illustrate instead of [original module](https://pytorch.org/docs/stable/multiprocessing.html#:~:text=Because%20of%20the%20similarity%20of%20APIs%20we%20do%20not%20document%20most%20of%20this%20package%20contents%2C%20and%20we%20recommend%20referring%20to%20very%20good%20docs%20of%20the%20original%20module.)

How can we issue this propos

[2022-06-29 08:36] bekirbakar commented on #31620
Download model manually and load it from local. See this [post][1].

[1]: https://stackoverflow.com/questions/52628270/is-there-any-way-i-can-download-the-pre-trained-models-available-in-pytorch-to-a

[2022-06-29 09:18] veriff-javiervgd commented on #80278
Happening the same here with the new pytorch version 1.12

[code]

[2022-06-29 09:19] borisfom commented on #80271
Here's a simple repo: note the generated ONNX clearly ignores cache_next modification, while TorchScript is correct.
Now if you replace "self.cache = Cache1()" with "self.cache = Cache()" (equivalent Torch code) - TorchScript would stay the same, but ONNX would now also trace cache_next assignment properly.

[code]

[2022-06-29 11:15] #80275 closed

[2022-06-29 11:19] lodo1995 opened #80505 "C++ documentation: link to full API docs disappeared"
### 📚 The doc issue

Until a few days ago, the [C++ documentation](https://pytorch.org/cppdocs/) used to include a link to the full library API documentation (generated with Doxygen, I assume), including ATen, Caffe2 and Torch. I don't remember the exact phrasing of the link, but it used to be in the left navigation bar, just below "The C++ Frontend".

Now (29 June 2022) that link has disappeared.

[2022-06-29 11:27] lodo1995 commented on #80505
Looks like this is the result of #80451.

[2022-06-29 12:17] angusturner commented on #52241
Hi, I have been working on some CTC based models and wanted to add my thoughts.

I think there is a legitimate use for non-normalised inputs, and would expect gradients to be correct in this case. (This is the first I realise they may not be, which would break my experiment).

For example, in my specific use case I believe CTC can be used to train a generative acoustic model while marginalising ov

[2022-06-29 12:23] divideconcept opened #80506 "conflicts when installing pytorch on miniconda arm"
## Issue description

When installing pytorch on miniconda arm64 on macos, conflicts prevent installation.

## Code example

[code]

output:
[code]

## System Info
macOS Monterey 12.4

[2022-06-29 12:55] peterjc123 opened #80508 "`torch.ops.aten.where` failed to run with scalar inputs"
### 🐛 Describe the bug

We use the functions in TorchScript to perform some basic parsing for a TorchScript model. When using PyTorch 1.12, the following operation failed but it used to work in previous versions of PyTorch.

[code]
I've also tried the following cases.
[code]

The reason why I need this to work is that when parsing TorchScript, we want to get the intermediate results by running the

[2022-06-29 13:01] hzhwcmhf commented on #52241
Hi, I can provide more information. Actually, it is a historical issue from CuDNN. We cannot pass existing tests because the CTC in CuDNN is implemented in that way.

I notice the description in the CuDNN documents (https://docs.nvidia.com/deeplearning/cudnn/api/index.html#cudnnCTCLoss_v8):

CuDNN fuses the backward of log_softmax and CTC loss, but PyTorch now treats log_softmax and CTC as two sep

[2022-06-29 13:23] hzhwcmhf commented on #52241
@angusturner Correct. I just cancel the effect of log_softmax backward

[2022-06-29 14:11] zou3519 commented on #80489
To reproduce this easily:
- https://github.com/pytorch/functorch/actions/runs/2573336254 are the binaries that were built against torch-cpu. This is from the latest commit in functorch's release/0.2
- https://github.com/pytorch/functorch/actions/runs/2579842152 are the binaries built against torch-cu102. This is from https://github.com/pytorch/functorch/pull/920

[2022-06-29 14:19] malfet commented on #80500
More details are needed to debug a problem. Also, please note that issue discussions are usually conducted in English

[2022-06-29 14:27] malfet commented on #80490
This sounds like a reasonable behavior to me, as `to` operation is noop when conversion is redundant, for example:
[code]

[2022-06-29 14:36] EwoutH opened #80513 "Drop Python 3.7 support (following NEP 29)"
According to the [NEP 29](https://numpy.org/neps/nep-0029-deprecation_policy.html) schedule Python 3.7 should have been dropped on Dec 26, 2021. PyTorch adopted this depreciation policy in #74203, and with PyTorch 1.12 released (which still supports Python 3.7), this seems like a good moment to drop Python 3.7 and make the minimum required Python version 3.8, in preparation of PyTorch 1.13.

[2022-06-29 14:37] EwoutH commented on #74203
Now that NEP 29 is adopted by PyTorch and PyTorch 1.12 is released, it seems like a good moment to drop Python 3.7. I opened an issue about this here: #80513

[2022-06-29 14:46] divideconcept commented on #80506
It seems the whole issue is because torchaudio requires... pytorch 1.13 ??
Looking inside https://anaconda.org/pytorch/torchaudio/0.12.0/download/osx-arm64/torchaudio-0.12.0-py39_cpu.tar.bz2
info/index.json contains the following strings:
[code]
which sounds wrong, it shouldn't depend on pytorch 1.13 but on pytorch 1.12 instead.

[2022-06-29 15:02] soulitzer commented on #80314
Since (unlike fast gradcheck) the number of times forward/jvp/vjp runs in slow gradcheck scales linearly with total numel of all the inputs, reducing how large the inputs are can also proportionally reduce runtime.

These are the slowest tests in slow gradcheck `(time in sec, name, total numel)` based on the logs from one of the time outs.
[code]
This PR reduces the input size for some of the test

[2022-06-29 15:04] sciai-ai opened #80517 "inference using wav2letter AM"
Hi, I saw that the latest release supports decoding using wav2letter which is great. I have an acoustic model (AM) trained using wav2letter (flashlight), is it possible to do inference using AM as well in pytorch?

[2022-06-29 15:06] jbschlosser commented on #80490
Note that Python aggressively reuses objects (and hence ids) for temporary objects. I would be careful about reading too much into the id behavior.

In any case, the behavior we do guarantee is that after calling `model.to(device='foo')`, parameters and buffers will be on the specified device. Closing as expected behavior, but feel free to reopen if you're not satisfied.

[2022-06-29 15:06] #80490 closed

[2022-06-29 15:23] kiukchung commented on #79388
Have you tried passing `--rdzv_endpoint='worker-0:2222`? Closing since it seems like there is a workaround, and the recommended way to launch PTD jobs on k8s is by using TorchX.

[2022-06-29 15:32] #66329 closed

[2022-06-29 15:59] malfet opened #80524 "Testing is slow due to GitHub outage"
## Current Status
*ongoing*.

## Error looks like
*Builds/tests are not running*

## Incident timeline (all times pacific)
*Include when the incident began, when it was detected, mitigated, root caused, and finally closed.*

<details>
<summary> Click for example </summary>

e.g.
- 10/30 7:27a incident began
- 10/30 8:30a detected by <method>
- 10/30 9:00 pm root caused as…
- 10/30 9:10 pm mitigate

[2022-06-29 16:14] antoniojkim opened #80527 "[LTC] Add `Use` struct to track `Node` usage"
### 🚀 The feature, motivation and pitch

There is a feature that used to be in PyTorch/XLA that doesn't seem to have made it into LTC and it is the use of the Use struct:
https://github.com/pytorch/xla/blob/r1.11/torch_xla/csrc/ir.h#L44-L62

Being able to keep track of how many other nodes were "using" a particular Node was a useful tool for pruning unnecessary model outputs. As far as I can tell,

[2022-06-29 16:24] suo opened #80529 "ROCm periodic jobs are timing out"
Examples:
- https://github.com/pytorch/pytorch/runs/7101566093?check_suite_focus=true
- https://github.com/pytorch/pytorch/runs/7104395879?check_suite_focus=true
- https://github.com/pytorch/pytorch/runs/7106030903?check_suite_focus=true

Check the [HUD](https://hud.pytorch.org/minihud?name_filter=periodic%20/%20linux-bionic-rocm5.1-py3.7-distributed%20/%20test%20(distributed,%201,%202,%20linux.ro

[2022-06-29 16:55] Yebi1837 commented on #79951
hi @justinchuby
I tried this by doing something like:
`model = model.cpu(), inputs = inputs.cpu()`
but the onnx conversion still runs into the same problem.

Do you know which commit fixed this problem? maybe we can patch our pytorch source code?

[2022-06-29 17:08] Yebi1837 commented on #79951
this change may work for this toy model, but the thing is there are many models on our plates and the GPUs are available for developers, so such hardcoding of devices are all over the place. It would be hard to modify models one by one in different places.
Are you able to reproduce this issue with[ v1.11 ](https://github.com/pytorch/pytorch/tree/v1.11.0)release?
The ONNX conversion used to be fine

[2022-06-29 17:11] ngimel commented on #80483
Keep in mind that fp16 support on cpu is very spotty, inaccurate and won't be improved, so no one should be using fp16 on cpu for anything more than prepare a model to send to gpu (not even try to run through it, because a lot of ops won't be supported).

[2022-06-29 17:12] justinchuby commented on #79951
I would try a few things: (1) move all tensors to gpu, because it only requires "all tensors to be on the same device," or (2) if possible, save the trained model and reload it with pytorch nightly. See if you can export it with the newer version.

To skip this code block, I would also try setting `do_constant_folding` to false.

[2022-06-29 17:17] davidberard98 opened #80541 "[Prims+NVFuser] Prims with missing NVFuser ops"
These prims are missing NVFuser implementations. They were found by running https://github.com/pytorch/pytorch/compare/bahuang/nvfuser_e2e with additional decompositions &

- [ ] cat
- [ ] maximum
- [ ] transpose

[2022-06-29 17:23] amjames opened #80542 "Support layout conversions via `Tensor.to(...)`"
### 🚀 The feature, motivation and pitch

The general conversion utility `Tensor.to(...)` supports modification of all other tensor option fields except layout. This is a natural extension, and the lack of it will be felt more deeply as support for sparse layouts grows. In particular functions supporting sparse output generally accept an optional `layout` argument and contain the following pattern:

[2022-06-29 17:39] jamt9000 commented on #78490
I am also getting this with python 3.10 on intel mac and the released pytorch 1.12.0

[code]

[code]

[2022-06-29 17:43] amjames opened #80549 "Allow parameterization of Layouts"
### 🚀 The feature, motivation and pitch

Some layouts can be arbitrarily parameterized. Block sparse layouts, for example require block sizes to completely specify the layout.

If we were to implement a way of parameterizing such layouts, then passing the layout in any context would be fully specified without the need for additional arguments.

### Alternatives

- All interfaces accepting a layout

[2022-06-29 17:52] jeffdaily commented on #80529
Yep, we've been discussing this internally most of the morning.  Will post observations soon.

[2022-06-29 17:58] xiaobei2 commented on #41423
I found functions col2im in https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/native_functions.yaml
but it not found it in torch/_C/_VariableFunctions.pyi. Why?
Many functions can both found in native_functions.yaml and _VariableFunctions.pyi.
What is the magic from  native_functions.yaml => _VariableFunctions.pyi

I want to find the function define in _VariableFunctions.pyi, so

[2022-06-29 17:58] kevinstephano opened #80551 "NVFuser should extend caching to remove necessity for PrimTorch's executor to Provide Tensor Contiguity Info"
### 🚀 The feature, motivation and pitch

Currently, PrimTorch's executor provides contiguity and tensor rank size information in the `FusionDefinttion` for each fusion group sent to NVFuser.  This should be removed in favor of NVFuser receiving this information at runtime and caching the graph appropriately.

Therefore, the only information NVFuser should be provided in the Tensor Definition is th

[2022-06-29 18:31] piyueh opened #80553 "Nonliner conjugate gradient optimizer + Hager-Zhang line search"
### 🚀 The feature, motivation and pitch

The nonlinear conjugate gradient (CG) method is a good alternative to the L-BFGS optimizer. Features of nonlinear CG:

1. It theoretically converges faster than gradient-descent methods (including most derived variants), and the memory footprint is just slightly higher than that of gradient-descent methods.
2. It is theoretically able to converge to machine

[2022-06-29 18:43] #79509 closed

[2022-06-29 19:09] pearu commented on #80549
^ @cpuhrsch

[2022-06-29 19:19] cpuhrsch commented on #80542
We can build a helper function within say [SparseTensorUtils.h](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/SparseTensorUtils.h) to alleviate the code complexity at least within our kernel authoring, but as you point out in #80549 we need some kind of innovation to extend `to` to be able to handle additional parameters as required by say BSR.

[2022-06-29 19:45] #80524 closed

[2022-06-29 19:57] atalman commented on #78490
@jamt9000 please use workaround this issue by setting ```KMP_DUPLICATE_LIB_OK=TRUE python -c "import numpy;import torch;print('works')"```
By accident this change was not included in the release 1.12.0

[2022-06-29 19:59] dayyass commented on #76064
Yesterday was torch v1.12 release and it still doesn't have documentation for unpack_sequence/unpad_sequence

[2022-06-29 20:12] jeffdaily commented on #80529
distributed/test_c10d_pypg.py added 7 minutes (430s).  That doesn't seem like the issue.

When I look at the last known passing job for rocm periodic, these 4 tests

distributed/test_c10d_spawn_gloo
distributed/test_data_parallel
distributed/test_launcher
distributed/test_pg_wrapper

were replaced with these 5 tests

distributed/test_c10d_pypg    (7m)
distributed/test_c10d_spawn_nccl    (5s)
distr

[2022-06-29 20:16] yushangdi opened #80561 "Cannot run scripted BERT_Pytorch"
### 🐛 Describe the bug

I tried to run the following code, but it fails with error

Traceback (most recent call last):
  File "bug.py", line 70, in <module>
    main()
  File "bug.py", line 65, in main
    script_f(*arg_list)
  File ".../pytorch/torch/nn/modules/module.py", line 1131, in _call_impl
    return forward_call(*input, **kwargs)
RuntimeError: The following operation failed in the TorchS

[2022-06-29 20:23] ifsheldon commented on #80278
Also have this weird error but in a different case.

Try this
[code]
and run `python test_torch.py`
I got:
[code]

[2022-06-29 20:35] Rui-Ren commented on #16831
@ShoufaChen Hi, I am running some experiments to test the K80 gpu and got the same error as you posted here https://github.com/lulutang0608/Point-BERT/issues/14#issuecomment-1003677580. Did you solve this error? Thanks.

[2022-06-29 20:41] divideconcept commented on #80506
fixed https://github.com/pytorch/audio/issues/2517

[2022-06-29 20:41] #80506 closed

[2022-06-29 20:56] SorourMo commented on #35881
Any update on this? I got the same error with maskrcnn_resnet_50_fpn pretrained on cpu. The scripted version of the model can be loaded in Python and gives expected results. But the c++ side doesn't work. It works fine with other models (unet type) in the same setting. This is a maskrcnn issue.

Windows 10
libtorch: libtorch-win-shared-with-deps-debug-1.10.1+cu102
MSVS 2019
Using cpu (no cuda)

Th

[2022-06-29 21:01] shingjan opened #93775 "Running Model demucs got killed with no exception thrown at Backend"
Repro:

[code]

Seems like this model from torchbench is unstable as sometimes the run succeeds but sometime the run will get Killed with no exception thrown at the backend. Is this expected or do we have a workaround here? Below is the output when it is killed.

[code]

cc @ezyang @soumith @msaroufim @wconstab @ngimel @bdhirsh

[2022-06-29 21:04] ejguan commented on #70516
Based on the log, the Error comes from:
[code]
@janeyx99 Do you have any suggestion other than using `os.environ['KMP_DUPLICATE_LIB_OK']='True'` in the test case.

This is kind weird to me as the test code should not initialize OpenMP IMHO.

[2022-06-29 21:11] pearu commented on #80549
I agree that it is not clear how to parameterize Layout's using the current implementation of the layout feature but see the idea below.

That said, it would be natural to specify dense dimensions in a sparse/sparse_csr/... layouts as well. Currently, it is impossible to construct an empty sparse hybrid tensor using `torch.empty(..., layout=torch.sparse...)` approach. The same note applies to othe

[2022-06-29 21:56] VasilyevAlexander opened #80568 "Missed "break" statements in IListRef.h (line 385, 387, 399, 401) in IListRefIterator constructor and destructor"
### 🐛 Describe the bug

Missed breaks in constructor and destructor. So ASSERT always executed
#if defined(_MSC_VER) && _ITERATOR_DEBUG_LEVEL != 0
  // See [Note: MSVC Iterator Debug]
  IListRefIterator(const IListRefIterator& iterator)
      : tag_(iterator.tag_) {
    switch (tag_) {
      case IListRefTag::Boxed:
        payload_.boxed_iterator = iterator.payload_.boxed_iterator;
      case ILi

[2022-06-29 22:04] patrickvonplaten opened #80569 "[PyTorch 1.12] New release breaks `torch.nn.weight_norm` backwards pass and breaks all Wav2Vec2 implementations"
### 🐛 Describe the bug

It seems like a new kernel implementation for `torch.nn.weight_norm` completely breaks the backwards pass for every network that makes use of `torch.nn.weight_norm`. Here a small repro that works with torch < 1.12 but breaks with torch 1.12:

[code]

The error message for torch==1.12 is as follows (very little info since the core is dumped)

[code]

Also weirdly sometimes (

[2022-06-29 22:05] patrickvonplaten commented on #80569
Note that this affects both `transformes` and `fairseq` I believe

[2022-06-29 22:10] patrickvonplaten commented on #80569
For completeness, here also the line for `fairseq`: https://github.com/facebookresearch/fairseq/blob/ba415c99ca89b212ce9c8b79c565d828b89a8761/fairseq/models/wav2vec/wav2vec2.py#L913

[2022-06-29 22:33] malfet commented on #80569
@patrickvonplaten can you please provide a bit more info about your system configuration as I can not repro it using python-3.8+torch-cu112 even after 1000 runs

[2022-06-29 22:37] patrickvonplaten commented on #80569
Interesting!

I'm using Python 3.9 instead of Python 3.8 - are there any other system requirements you wuold need?

[2022-06-29 22:39] patrickvonplaten commented on #80569
Actually something that consistently fails for me is when you run the model creation and forward pass twice:

[code]

[2022-06-29 22:43] patrickvonplaten commented on #80569
Just checked again and it works perfectly fine with `torch-1.11.0-cp39-cp39-manylinux1_x86_64.whl` but fails with `torch-1.12.0-cp39-cp39-manylinux1_x86_64.whl`

[2022-06-29 22:52] soulitzer commented on #80568
Good catch, we'd accept a PR to fix this

[2022-06-29 22:55] lostmsu opened #80574 "`bmm_sparse_cuda` kernel for `bfloat16`"
### 🚀 The feature, motivation and pitch

The kernel would be useful for sparse attention with `bfloat16` weights

### Alternatives

[code]

### Additional context

_No response_

[2022-06-29 22:55] vadimkantorov commented on #80483
@ngimel wdyt about generating a webpage with a table in an automated way that shows which ops are supporting for which combinations of dtype x sparse/dense kind etc?

i agree that fp16 on cpu doesn't make much sense anyway at this point, but armed with such an up-to-date automated table, it would be simpler to know if it's a bug or expected or actually a missing support that is a meaningful featur

[2022-06-29 23:01] soulitzer commented on #80517
Hi, https://github.com/pytorch/audio might be a better for this. Closing for now.

[2022-06-29 23:01] #80517 closed

[2022-06-29 23:01] 4davo opened #80576 "Nvidia Jetson Xavier - fails to load image Python extension and Couldn't load custom C++ ops when drawing bounding boxes"
### 🐛 Describe the bug

Errors when running approved combinations of A) Pytorch 11.0 and Torchvision 0.12.0
and B) Pytorch 12.0 and Torchvision 0.13.0

_**Case A environment and run results:**_
____________________________________________
davo@ubuntu:~$ python3 collect_env.py
Collecting environment information...
PyTorch version: 1.11.0
Is debug build: False
CUDA used to build PyTorch: 11.4
ROCM u

[2022-06-29 23:06] RedTachyon commented on #80513
Are there some specific features of 3.8 that should be included? This feels needlessly aggressive, especially seeing as colab (for whatever reason) still runs on 3.7

[2022-06-29 23:11] #80373 closed

[2022-06-29 23:15] malfet commented on #80569
Hmm, for some reason I still can not repro the crash, by running following steps on EC2 host running Ubuntu:
[code]
where `crash-nnwn.py` is the script you've shared:
[code]

Can you perhaps share the entire output of `pip freeze`? Please note that `torchvision=0.10.1` is incompatible with pytorch-1.12, though it should not cause a crash

[2022-06-29 23:28] VasilyevAlexander commented on #80568
It is strange but in GitHub repository https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/core/IListRef.h there are "breaks". But in Release source file "pytorch-1.12.0.zip" file IListRef.h is different.
Probably just rebuild of library is needed.

[2022-06-29 23:32] VasilyevAlexander commented on #80568
It was corrected 21 days ago [Prevent invariant assert failure on win+debug (](https://github.com/pytorch/pytorch/commit/7541b07f62c1af7763fa6ce49441bea63a1e5e26)https://github.com/pytorch/pytorch/pull/78636[)](https://github.com/pytorch/pytorch/commit/7541b07f62c1af7763fa6ce49441bea63a1e5e26).

But library was build with earlier sources.

[2022-06-29 23:44] vadimkantorov commented on #9190
Related? https://github.com/pytorch/pytorch/issues/80508

[2022-06-29 23:55] soulitzer commented on #80568
Ahh yeah, sounds like it was fixed on master after the branch cut. Closing.

[2022-06-29 23:55] #80568 closed

[2022-06-29 23:59] #75666 closed

[2022-06-30 00:11] zplizzi commented on #3619
Here's another alternate reproduction that still exists in `torch==1.12.0`:

[code]

Commenting out the linalg line removes the issue, as does the other solutions mentioned in this thread.

[2022-06-30 00:11] eellison opened #93776 "analysis.has_mutation version tracker does not capture all mutation"
[code]

Since `ShapeAliasingAndMutationProp` exclusively uses `_version` to capture mutation it does not capture all mutation. I'm still not yet sure when `_version` gets updated.

cc @ezyang @gchanan @zou3519 @albanD @gqchen @pearu @nikitaved @soulitzer @Lezcano @Varal7 @bdhirsh @soumith @msaroufim @wconstab @ngimel

[2022-06-30 00:16] BowenBao commented on #78505
Actually I'm re-evaluating the solution. @sreddy-es could you share the source code of `simplenet.UpsampleBlock` in the repro?

[2022-06-30 00:17] Birch-san commented on #77764
`aten::sort.values_stable` is known; just wanted to add the context that it's used by the DALLE Bart decoder in [`min-dalle`](https://github.com/Birch-san/min-dalle/tree/mps) for sorting a `FloatTensor` ([here](https://github.com/Birch-san/min-dalle/blob/9d6b6dcc92e8500c9f18bc131b14a81ecdd914e3/min_dalle/models/dalle_bart_decoder_torch.py)).

[2022-06-30 00:23] mthrok commented on #80569
I cannot repro so far.

[code]

works.

<details><summary>resulting env</summary>

[code]

</details>

[code]

works as well

<details><summary>resulting env</summary>

[code]

<details>

[2022-06-30 00:29] ngimel commented on #80508
cc @ezyang, looks like wrapping of args for `torch.ops.aten` is a bit overzealous, as `torch.where` works fine with this case.

[2022-06-30 00:34] eellison commented on #78759
Can we just special case `resize_` in the codegen logic and add the tag ? it kind of limits using tags if they're not fully general

[2022-06-30 00:38] smorad opened #80577 "2-dimensional arange"
### 🚀 The feature, motivation and pitch

When dealing with batches of variable-length sequences, we often track the start indices, length of sequences, and end indices.

[code]

When we want to index our `data` tensor, and select only the non-padded/valid data, we need to generate some indices that go from `start_idx` to `end_idx`. Currently, there is no vectorized way to do this, and so we do the

[2022-06-30 00:56] xiaobei2 commented on #41423
I have very little knowledge about ops. So I confused the relationship about them.
I just want to convert a model into onnx, but it with errors.
RuntimeError: Exporting the operator col2im to ONNX opset version 12 is not supported. Please open a bug to request ONNX export support for the missing operator.

So i want to add the col2im ops.
someone shows
1. Search define from torch/_C/_VariableFunct

[2022-06-30 00:59] xiaobei2 commented on #41423
I am ramming around like a hungry deer, thanks for any tips.

[2022-06-30 01:05] qedawkins opened #80580 "`torch.ops.aten.find` inconsistent with `str.find`"
### 🐛 Describe the bug

For empty target strings `aten::find` will always return the value of the starting position in the string, even when the given range is invalid.

[code]

As far as I can tell the cause of the discrepancy is found in `register_prim_ops.cpp` on [line 1522](https://github.com/pytorch/pytorch/blob/b4e491798c0679ab2e61f36a511484d7b8ecf8d3/torch/csrc/jit/runtime/register_prim_ops

[2022-06-30 01:08] lessw2020 opened #80581 "[FSDP] Saving full_state_dict for optimizer can result in hang for medium+ size models"
### 🐛 Describe the bug

Using FSDP with latest nightlies (ala 627), when attempting to save the optimizer via full_state_dict call, one can readily hit an internal OOM which is shown to the user as a hang.  Example, a 500M model on V100 4 gpu single node.
simplified code:
[code]
result = hang with the following debug info:
<img width="634" alt="hang2_optim_state" src="https://user-images.githubuse

[2022-06-30 01:21] awgu commented on #80581
Discussed offline, but optim state checkpointing already offloads to CPU by default:
https://github.com/pytorch/pytorch/blob/master/torch/distributed/fsdp/_optim_utils.py#L157-L162

I will look into this.

[2022-06-30 02:28] yuguo68 commented on #80150
Thank you @voe09 for reporting! linked a PR to fix, also as a work around, enumerate(a, 1) should work with PyTorch v1.11.

[2022-06-30 02:32] onlytailei commented on #78348
Same error in pytorch 1.11.0

[2022-06-30 02:54] ezyang commented on #80508
sigh, I guess I'll replicate the allowlist for scalars

[2022-06-30 02:56] BangwenHe commented on #78348
Hi, @onlytailei.  I solved my problem by returning the result after one line of code in the forward method. More Specifically, if the exporting process succeeds after returning the result below line i, return the result below line i+1 and iteratively find the final error line. Anyway, hope you can solve the problem finally.

[2022-06-30 02:58] tongchangD commented on #78233
how to solve it

[2022-06-30 03:02] xiuzhilu commented on #68394
@heyitsguay hi! Have you solved this issue. Can you tell me how to solve it? I also meet the same issue. Thx

[2022-06-30 03:04] tongchangD commented on #78233
Have you solved the problem yet?
I think the first solution is to replace upsampling with deconvolution.
I think the second solution is to break up the trained network structure into a single output.
Is there any other suitable solution?

[2022-06-30 03:13] awgu commented on #80581
I have confirmed that the hang happens when copying all-gathered tensor state from device to host:
https://github.com/pytorch/pytorch/blob/dc7066a8f00f60bd055e78100b144f3373b11aba/torch/distributed/fsdp/_optim_utils.py#L162
- Removing the `.cpu()` **resolves** the hang.
- Waiting until _all_ all-gathers have finished first before moving all tensor states to CPU **resolves** the hang.
- `torch.cuda

[2022-06-30 03:54] zphang opened #80588 "Semi-reproducible random torch.baddbmm NaNs"
### 🐛 Describe the bug

The following code snippet appears to cause `torch.baddbmm` to randomly generate NaNs when run on CPU

[code]

Despite running the same calculation each time, it often fails not on the first try, but many tries in.

(Sometimes I need to run the loop several times before it actually encounters a NaN, which seems odd to me.)

I've tried this on two different hardware setups a

[2022-06-30 04:32] neosunhan opened #80589 "`arange` returns incorrect results for certain values"
### 🐛 Describe the bug

From the documentation, `arange` should return values from the interval `[start, end)`, i.e. the end of the interval should not be included in returned tensor. However, for certain values, the end of the interval is included in the returned tensor.

[code]

There is also inconsistent behaviour when using certain data types.
[code]

### Versions

[code]

[2022-06-30 04:53] fancoltran commented on #79333
@bmahlbrand can you provide your model code?

[2022-06-30 05:00] #80150 closed

[2022-06-30 06:13] t-vi commented on #52241
So there is a problem with failing tests in my draft patch... I'll report back later.

[2022-06-30 06:29] underdogliu opened #80592 "Illustration of LeakyReLU is wrong"
### 🐛 Describe the bug

Hi all! I found in [the description of LeakyReLU](https://pytorch.org/docs/stable/generated/torch.nn.LeakyReLU.html), while the textual description is precisely correct, the illustrations associated seems not correct - it is still a ReLU function, without the negative slope at the left-hand side of the figure.

It would be great if we can fix it. Or I can submit a small PR?

[2022-06-30 06:30] mayank-nference commented on #80426
@davidberard98 I used TORCH_SHOW_CPP_STACKTRACES=1 and the following code went to an infinite loop. I am not getting any output.

[code]

[2022-06-30 07:54] TalonX1 opened #80594 "RuntimeError: DataLoader worker (pid 22822) is killed by signal: Aborted."
### 🐛 Describe the bug

I set num_workers=4 in dataloader,the training process can run normally, and an error is reported in the verification phase。

### Versions

torch                     1.11.0
torchvision               0.12.0

[2022-06-30 07:57] TalonX1 commented on #80594
[code]

[2022-06-30 08:06] li-yi-dong opened #80595 "Overlapping Optimizer.step() with DDP backward"
### 🚀 The feature, motivation and pitch

DDP `all_reduce` parameters' gradients in `buckets`, which means that some parameters would get their finial gradients earlier than others. This exposes an opportunity for `Optimizer` to optimize part of parameters before `backward` finished. So that overlapping part of `Optimizer.step` and DDP `backward` is possible and may led to higher parallelism or eve

[2022-06-30 08:28] patrickvonplaten commented on #80569
Here my pip freeze:

<details>
  <summary>Click to expand!</summary>

[code]

</details>

[2022-06-30 08:32] chikiuso opened #80598 "NotImplementedError: The operator 'aten::l1_loss_backward.grad_input' is not current implemented for the MPS device."
### 🚀 The feature, motivation and pitch

NotImplementedError: The operator 'aten::l1_loss_backward.grad_input' is not current implemented for the MPS device. If you want this op to be added in priority during the prototype phase of this feature, please comment on https://github.com/pytorch/pytorch/issues/77764. As a temporary fix, you can set the environment variable `PYTORCH_ENABLE_MPS_FALLBACK=1

[2022-06-30 08:34] IvanYashchuk commented on #80551
@kevinstephano, I plan to add this to my caching PR https://github.com/pytorch/pytorch/pull/80525, it should be a very simple change there, only this line should be removed to use `define_tensor(ndims, type)` TensorView builder: https://github.com/pytorch/pytorch/blob/3a6d6bc3cc9bda07d398ea03e838e223e96717b5/torch/csrc/jit/codegen/cuda/python_frontend/python_bindings.cpp#L191

[2022-06-30 08:40] KPJoshi commented on #31880
@XHPlus can you give steps for ignoring the check? Is it as simple as commenting out the check in your local torch install?

[2022-06-30 08:42] albanD commented on #80569
I cannot reproduce either even with a debug build of python 3.9
@patrickvonplaten can you try to quickly create a new venv on your machine with only PyTorch and see if you can still repro?

[2022-06-30 09:02] qqaatw commented on #80306
Should be fixed by the linked PR.

[2022-06-30 09:16] IvanYashchuk commented on #80551
One complication could be that currently `prims.broadcast_in_dim` records concrete/non-symbolic shapes during tracing.

[2022-06-30 09:34] ydshieh opened #80599 "PyTorch 1.12.0 weight_norm is not working with float16"
### 🐛 Describe the bug

PyTorch 1.12.0 `weight_norm` is not working with `float16`

**To reproduce**

[code]

**Error**
[code]

### Versions

[code]

cc @ezyang @gchanan @zou3519 @albanD @mruberry @jbschlosser @walterddr @kshitij12345 @saketh-are @VitalyFedyunin

[2022-06-30 09:35] ydshieh commented on #80599
The code snippet works with ` torch==1.11.0+cu113`

[2022-06-30 09:39] patrickvonplaten commented on #80569
I left my CPU-only computer at home today (can check again tonight with a clean venv)

But I can confirm that if I run the code snippet with `pip3 install torch --extra-index-url https://download.pytorch.org/whl/cpu` (PyTorch CPU-only) on a GPU-compatible machine everything works well.

Will keep you posted!

[2022-06-30 10:36] Ken1256 commented on #67834
https://github.com/cszn/SCUNet/blob/main/models/network_scunet.py
Same problem.
`net = SCUNet()

    x = torch.randn((1, 3, 128, 128))
    o1 = net(x)
    print(x.shape)

    net_jit = torch.jit.trace(net, x)
    o1_jit = net(x)
    print(o1_jit.shape)`

[2022-06-30 11:49] buptweixin commented on #38222
Any news?

[2022-06-30 11:54] qqaatw commented on #80285
I can reproduce this issue.

[2022-06-30 11:54] Akshatha-Jagadish commented on #1633
This happened to me due to anaconda update which added prefix 100 to all the packages:
https://github.com/ContinuumIO/anaconda-issues/issues/12513

[2022-06-30 12:04] jvkersch commented on #77764
I came across `aten::bincount` being not supported while trying to compute the Matthews correlation coefficient on the device. Not sure if this is called by `torch.bincount` (which is listed in the issue description).

Minimal failing example:

[code]

Output:
[code]

As expected, falling back to the CPU works in this case.

[2022-06-30 12:40] vadimkantorov commented on #80588
I hope this is not related to https://github.com/pytorch/pytorch/issues/79410 (and similar AVX512+gcc bugs)

[2022-06-30 12:56] #80499 closed

[2022-06-30 12:58] #80483 closed

[2022-06-30 13:13] vadimkantorov commented on #80483
Also cc @malfet on the idea of automated support matrix generation above

[2022-06-30 13:32] malfet opened #80604 "Windows builds are failing with "library limit of 65535 objects exceeded""
### 🐛 Describe the bug

Several PRs were reverted due to that, but it does not seem to be a particular author'ss fault.
For example see:
*  https://hud.pytorch.org/pytorch/pytorch/commit/c1fa9fdff9dc79557767bee23c66dcaa4095300c
*  https://hud.pytorch.org/pytorch/pytorch/commit/3a6d6bc3cc9bda07d398ea03e838e223e96717b5
* https://hud.pytorch.org/pytorch/pytorch/commit/cfb2034b657e8527767f1f74854bc62b

[2022-06-30 13:36] rave974 commented on #16831
the solution is to run inference in a loop, when error comes, run program again, resume until finish

[2022-06-30 13:40] malfet commented on #80604
For libtorch_cpu from 1.12.0 on MacOs we seem to expose roughly 33K symbols
[code]

[2022-06-30 13:45] albanD commented on #80604
As a side note, we do expose quite a few symbols for each op.
For a "classic" op like hardswish (chosen because it is low noise when grepping and it has a CPU,CUDA dispatch specified in native_function), grepping inside the `ops/` header folder generated by the codegen, we do expose:
- 4 functions for at:: (3 overloads for hardswish and 1 overload for hardswish_)
- 4 functions for cpu::
- 4 functi

[2022-06-30 13:50] #80599 closed

[2022-06-30 13:52] atalman commented on #80569
@ydshieh Could you please include your environment information here as well ?

[2022-06-30 13:53] randolf-scholz opened #80605 "pad_sequence and pack_sequence should support length zero tensors"
### 🚀 The feature, motivation and pitch

This situation naturally occurs when training on irregularly sampled times series data with a fixed real-time sliding window, i.e. the model received all observations made within a time interval of say 2 hours.

Since the time series is irregular, it can happen that there are no observations in this time-slice, hence the resulting tensor has a 0-length dime

[2022-06-30 14:09] Achazwl opened #80606 "[jit.script] jit.script give uncertain results using torch.half"
### 🐛 Describe the bug

`torch.jit.script` give uncertain results using `torch.half`. The result of the first execution of the function is different from that of the second execution, but the result is the same since the second execution. Here is the code to reproduce.

[code]

the result is:

[code]

please note that the problem does not exist using `torch.float`.

### Versions

Collecting enviro

[2022-06-30 14:11] ShoufaChen commented on #16831
@Rui-Ren  I am sorry that I didn't fix the problem. I just changed the pytorch version.

[2022-06-30 14:12] ydshieh commented on #80569
Here :

[code]

[2022-06-30 14:14] Rui-Ren commented on #16831
Ok, thanks, I will add some retries there and see how it goes.

[2022-06-30 14:32] patrickvonplaten commented on #80569
Essentially just:

[code]

+

[code]

[2022-06-30 14:52] buptweixin commented on #30563
+1

[2022-06-30 15:00] alstonlo commented on #80493
That makes sense, thanks!

[2022-06-30 15:00] #80493 closed

[2022-06-30 15:00] jeffdaily commented on #80529
Oddly, the periodic jobs are back to normal.

[2022-06-30 15:25] malfet commented on #80569
@patrickvonplaten which apt repo did you get python3.9 from (I'm on Ubuntu-18.04 as well, but it has only up to 3.8, where it seems to work fine)

[2022-06-30 15:37] zou3519 opened #80637 "PyTorch 1.12 cu113 wheels cudnn discoverability issue"
[code]

gives:

[code]
LD_LIBRARY_PATH:
[code]
Pytorch installed via:
[code]

cc @ezyang @seemethere @malfet

[2022-06-30 16:01] ydshieh commented on #80569
@malfet Here is the very long output (a lot of duplication)

[code]

[2022-06-30 16:10] jcwchen commented on #75677
I will submit another PR for it. There are some CIs from main branch using older ONNX (1.4.1) which do not have the new API interface I brought in ONNX 1.12.0. Still Investigating.

[2022-06-30 16:15] malfet opened #80635 "MergeBot does not preserve authorship"
### 🐛 Describe the bug

Not sure what happened between https://github.com/pytorch/pytorch/pull/78918 and https://github.com/pytorch/pytorch/commit/682c0d2615a20b30ecb95b501cd8105327686838 but for some reason commit author is not the same as PR author...

### Versions

N/A

cc @ezyang @gchanan @zou3519 @seemethere @malfet @pytorch/pytorch-dev-infra

[2022-06-30 16:16] atalman commented on #78490
reopeing, cherry-pick required for 1.12.1

[2022-06-30 16:25] kevinstephano commented on #80551
I don't think the question of contiguity caching is clear to me, yet.  So, I am hesitant to make changes along this path without more planning.

For instance, symbolic caching of the tensor rank sizes is happening below the Python Interface where we have multiple runtimes (kernels) per high level fusion definition based on the input tensor(s).  I am not sure we have plumbed that for contiguity.

[2022-06-30 16:30] t4rf9 opened #80638 "multiprocessing init_process_group based on gloo fails on Windows"
### 🐛 Describe the bug

[code]

We I try to run the above code, I received an error message:

[code]
The Chinese sentences at the end of each message basically mean that "the requested address is unavailable within its context".

When trying to print text before or after `init_process_group`, I found out that all codes before it are run first, then `init_process_group`, and finally codes after are

[2022-06-30 16:33] lessw2020 commented on #80581
*minor update - removed the references to OOM in title since we now know it's not memory issue.

[2022-06-30 16:36] sreddy-es commented on #78505
Ohh sure. I thought I had shared all code.

[code]

[2022-06-30 16:59] atalman commented on #78005
Release is completed, closing this

[2022-06-30 17:03] mikaylagawarecki commented on #80635
Also running into this in: #80464 and [f668b7e](https://github.com/pytorch/pytorch/commit/f668b7ecb02d881e9585ff2276f7c4f54a323e7d) as well as [#80324](https://github.com/pytorch/pytorch/pull/80324) and [d7847ed](https://github.com/pytorch/pytorch/commit/d7847ed23eb8880c7541319aab8864a45e239994), I think it might related to the rebase from asking pytorchbot to rebase being the most recent commit b

[2022-06-30 17:21] janeyx99 commented on #80635
Related to https://github.com/pytorch/test-infra/issues/406

[2022-06-30 17:39] vadimkantorov commented on #78489
Related: https://github.com/pytorch/pytorch/issues/80637

[2022-06-30 17:59] davidberard98 commented on #80606
cc @jjsjann123

[2022-06-30 17:59] seemethere commented on #80635
Should we re-assign to @clee2000 since this is more related to the rebase job than it is the `trymerge.py` script?

[2022-06-30 18:12] vadimkantorov commented on #23756
A recent paper on applying reversible formulation to transfomers by @karttikeya: https://karttikeya.github.io/publication/revvit/

[2022-06-30 18:14] chuston commented on #36650
+1 Vote for this. Suffering through very occasional random “SegmentationFault”* in dataloader workers, training might run for 5 hours before blowing up or it might complete (total run times are several days). Need to restart exactly at last checkpoint. Checkpoints currently save python.random, numpy.random and torch.random random generator states. Can save the shuffled indexes in the initial check

[2022-06-30 18:23] IvanYashchuk commented on #80551
I don't know the details, but using `define_tensor(size_t ndims, DataType dtype)` without setting the contiguity info (as suggested in https://github.com/pytorch/pytorch/issues/80551#issuecomment-1170929685) worked in my testing. Leaving the contiguity there as it is now produces incorrect results for tensors with the same number of dimensions but different noncontiguous strides.

[2022-06-30 18:24] kulinseth commented on #80298
Hi @brainer3220 , can you please provide:
[code]
the csv file to repro the issue. Currently its error'ing out with `FileNotFoundError: [Errno 2] No such file or directory: 'data/train_mfcc_data.csv'`.

[2022-06-30 18:28] kulinseth commented on #80298
<img width="1220" alt="Screen Shot 2022-06-30 at 11 27 45 AM" src="https://user-images.githubusercontent.com/453004/176751379-029ceff7-4cda-4d74-bee9-f9b71a119a34.png">
Looks like I was able to run without the CSV file and didn't see any issue. Can you please try with latest MPS nightly to see if the issue exists ?

[2022-06-30 18:30] kulinseth commented on #80285
@qqaatw , are you planning to take a look at fixing this issue ? Please assign it to yourself if you are.

[2022-06-30 18:35] kulinseth commented on #80437
Thanks @qqaatw , we don't have reference for adding a op using the Metal kernel but we are actively working on it. We will update it here and the [wiki](https://github.com/pytorch/pytorch/wiki/Adding-Op-for-MPS-Backend) as how to do it.

[2022-06-30 18:38] kulinseth commented on #80278
Hi @mdciri , @ifsheldon , @hackroid and @veriff-javiervgd

This is indeed expected. Currently we don't have support for bitwise ops which is used while `print` is applied on a  tensor on MPS device. For formatting the output those ops are used and currently we fallback to CPU hence the warning. We are looking into adding it as discussed here.

[2022-06-30 18:38] #80278 closed

[2022-06-30 18:44] awgu commented on #70368
https://github.com/pytorch/pytorch/pull/78856

[2022-06-30 18:44] awgu commented on #71009
https://github.com/pytorch/pytorch/pull/78856

[2022-06-30 18:44] #71009 closed

[2022-06-30 18:44] anjali411 commented on #78759
cc. @bdhirsh

[2022-06-30 18:46] awgu commented on #71418
https://github.com/pytorch/pytorch/pull/78856

[2022-06-30 18:46] #71418 closed

[2022-06-30 18:57] HDCharles commented on #79135
solved with PR https://github.com/pytorch/pytorch/commit/ffdc5eebc7e8baffa9a68f66d14213f52a222d2f

[2022-06-30 18:57] #79135 closed

[2022-06-30 18:59] #80508 closed

[2022-06-30 19:04] ClashLuke commented on #23756
Cerebras also published an extension of RevNet which allows pooling: https://arxiv.org/abs/2206.14098

[2022-06-30 19:19] eqy opened #80732 "[MPS] AdaptiveAvgPool2D doesn't accept input spatial size smaller than output shape"
### 🐛 Describe the bug

[code]

This issue is not observable on `cuda` or `cpu`.

Originated from discuss forum here: https://discuss.pytorch.org/t/vgg19-runtimeerror-stride-should-not-be-zero/155476
The root cause might be this stride calculation here? https://github.com/pytorch/pytorch/blob/421f04dd028aa9af384fddd917f6115508bdec46/aten/src/ATen/native/mps/operations/AdaptivePooling.mm#L25

CC @k

[2022-06-30 19:21] DenisVieriu97 commented on #80006
Hi @leon-liangwu!
Thank you for reporting this issue. This is fixed by https://github.com/pytorch/pytorch/pull/79939 (currently in PR). Once it gets in master, the above testcase should start passing.

[2022-06-30 19:24] #78445 closed

[2022-06-30 19:36] andrewzhang505 opened #80733 "share_memory() on CUDA tensors no longer no-ops and instead crashes in version 1.12.0"
### 🐛 Describe the bug

In PyTorch version 1.12.0, `model.share_memory()` on a CUDA tensor no longer no-ops and instead crashes with error `RuntimeError: _share_fd_: only available on CPU`. Version 1.11.0 correctly no-ops

[code]

Running above gets the output

[code]

The problem seems to be in the `_StorageBase.share_memory_` function in `storage.py`. `self.is_cuda` is being evaluated as False w

[2022-06-30 19:58] malfet commented on #80635
Hmm, there is still a bug in trymerge, as it should pick PR author as author...

[2022-06-30 20:00] HapeMask opened #80735 "Commit 32fbeb1 introduced 7-10x slowdown for th.inverse on large batch matrices."
### 🐛 Describe the bug

https://github.com/pytorch/pytorch/commit/32fbeb1 introduced a huge performance hit when inverting large batch GPU matrices.

Simple repro script:

[code]

Results on a V100 GPU:
Before:
[code]

After:
[code]

### Versions

[code]

[2022-06-30 20:25] xiaoyu-work commented on #74681
No need this request any more.

[2022-06-30 20:25] #74681 closed

[2022-06-30 20:26] xiaoyu-work commented on #80181
@mruberry Hi Mike, any update on this?

[2022-06-30 20:40] Balandat commented on #80735
@mruberry

[2022-06-30 20:46] qedawkins opened #80738 "Output for `aten::_native_multi_head_attention` appears inconsistent with entry in `native_functions.yaml`"
### 🐛 Describe the bug

The following python code is an invocation of `aten::_native_multi_head_attention` that outputs a `(Tensor, None)` tuple.

[code]

The following is an example output.

[code]

Note that the second value in the returned tuple is `None`. This appears to contradict the entry for `_native_multi_head_attention` in `native_functions.yaml` which indicates that it will always retur

[2022-06-30 21:19] kevinstephano opened #80742 "Add TorchDynamo as a submodule to Pytorch?"
### 🚀 The feature, motivation and pitch

It has been hard to recommend TorchDynamo usage with Pytorch given that TorchDynamo does not have an official release and users often want to use specific versions of Pytorch (Nvidia releases containers on a monthly basis from TOT), however, TorchDynamo requires using Pytorch TOT, currently, and can break when not in sync.

I wanted to propose adding TorchD

[2022-06-30 21:19] razarmehr commented on #78020
Hi @lhoenig . This issue was fixed in [PR 79185](https://github.com/pytorch/pytorch/pull/79185). Please try with the latest build and feel free to reopen the issue if you still see the problem. Thank you.

[2022-06-30 21:19] #78020 closed

[2022-06-30 21:19] kevinstephano commented on #80742
CC @jansel @csarofeen

[2022-06-30 22:04] jjsjann123 commented on #80606
So there's a numerical issue between TS vs eager.

I tried to run this with nvfuser disabled as well, seeing the same result.
`PYTORCH_JIT_USE_NNC_NOT_NVFUSER=1 python test.py`

This is not surprising since we are fusing the `mul` with `tanh` and preserving intermediates in promoted math in TS, vs eager where the intermediate gets downcasted into fp16.

[2022-06-30 22:07] agiachris opened #92033 "Unable to use vmap atop torch.distribution functionality"

[2022-06-30 22:08] yuguo68 commented on #80589
Thanks for reporting! It seems this is due to the casting to double, https://github.com/pytorch/pytorch/blob/adcf9647dc0d7ca7e2513777c0f69b8a9a7b3f6d/aten/src/ATen/native/RangeFactories.cpp#L161-L164

@ngimel shall we remove the casting in the case of dtype is int64?

[2022-06-30 22:20] Elanmarkowitz commented on #80496
Hacky workaround is to do
[code]
This might change weight decay things for the first index in `self.b`

[2022-06-30 22:21] clee2000 opened #80745 "vision hash update failing"
### 🐛 Describe the bug

The vision pinned hash is from a long time ago (2020?) and attempting to update it to a newer hash fails.  See #79256 for examples of CI failing when the hash is updated, and https://github.com/pytorch/pytorch/pull/79256#issuecomment-1169326961 for a possible reason why.  When fixed, we should add vision back into `update_pinned_hashes.yml`.

### Versions

n/a

cc @seemethe

[2022-06-30 22:51] yuguo68 commented on #80589
verified that removing the cast fixes the first issue that end is included in the output.
the inconsistency behavior with dtype is because for int32 args such as start, end are cast to double to compute the size of the output, whereas for int64 they are cast to int64.

[2022-06-30 23:19] patrickvonplaten commented on #80569
Hey @malfet,

I just installed Python in a clean environment on my CPU-only machine and still get this error with your script.

My pip freeze now is only:

[code]

[2022-06-30 23:45] malfet commented on #80745
Self-assigning myself to have a look at it

[2022-07-01 00:02] HapeMask commented on #80735
In case it helps, I did a bit more digging, and the following hacky diff resolves the issue while preserving some of the logging functionality. It appears that the std::string construction is causing the slowdown but I don't know how exactly since it shouldn't take 80+ms to construct the string I think? Anyway here's a small example of one possible fix:

[code]

[2022-07-01 00:34] ngimel commented on #80735
cc @IvanYashchuk

[2022-07-01 00:45] malfet commented on #80604
On Windows according to `dumpbin /exports torch_cpu.dll` we export 63301 symbols for 1.12 release:
[code]

[2022-07-01 01:09] malfet commented on #80604
#80609 dropped it down to 58693, but we still need to drive it down further

[2022-07-01 01:25] onlytailei commented on #78348
@BangwenHe   After checking [the doc](https://pytorch.org/docs/stable/onnx.html#writes-sets),  I find that it is because the miss using of multiple tensor indices for assignment.

[2022-07-01 01:25] DavidNovikov commented on #78916
Any updates? I'm running into the same error

[2022-07-01 01:32] #69017 closed

[2022-07-01 01:48] bdhirsh commented on #78759
Yeah, special casing the codegen so we can add the tag to resize_ sounds good to me. Functionalization already has to special case resize_ anyway.

[2022-07-01 01:56] ezyang opened #80753 "CapabilityBasedPartitioner requires is node supported to only return true for CALLABLE_NODE_OPS but no assertion for this invariant exists"
### 🐛 Describe the bug

Steps to reproduce:
1. Write a OperatorSupport that always returns True
2. Try to run the partitioner on a graph

Expected: an error, or it fuses the entire graph
Actual: the resulting graph is malformed

@SherlockNoMad

### Versions

master

[2022-07-01 01:59] ezyang opened #80754 "Fused graph module produced by CapabilityBasedPartitioner don't print their inner fusion groups"
### 🐛 Describe the bug

Steps to reproduce:
1. Run CapabilityBasedPartitioner
2. print the resulting graph module

Expected result: I see both the outer graph, as well as the inner subgraphs
Actual result: I only see the outer graph

cc @SherlockNoMad

@jamesr66a do you know if there is a "proper" way to do this in FX?

### Versions

master

[2022-07-01 02:03] #80635 closed

[2022-07-01 03:34] ydshieh commented on #80569
I tried with another GCP VM, probably not identical to my prev. one. This time, there is no failure. Very strange!

[2022-07-01 03:55] nnzzll opened #80756 "[ONNX] RuntimeError: 0 INTERNAL ASSERT FAILED at "/pytorch/torch/csrc/jit/ir/ir.cpp":518"
### 🐛 Describe the bug

I want to export an onnx model which contains a dynamic for loop determined by the input tensor.
However, I got the bug below.
# Full Error Information
[code]
# code to reproduce the bug.
[code]

### Versions

PyTorch version: 1.8.1+cu111
Is debug build: False
CUDA used to build PyTorch: 11.1
ROCM used to build PyTorch: N/A

OS: Microsoft Windows 10 家庭中文版
GCC version: (x86_

[2022-07-01 03:56] xiaofei05 commented on #79171
Is there any practical solution now if I have to set static_graph=True for gradient checkpointing and also need to get m.b(x)?

[2022-07-01 04:04] pytorch-bot[bot] opened #80757 "DISABLED test_chain_iterable_style_dataset (__main__.TestDataLoaderPersistentWorkers)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_chain_iterable_style_dataset&suite=TestDataLoaderPersistentWorkers&file=test_dataloader.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7141678531).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 1

[2022-07-01 04:24] #78505 closed

[2022-07-01 04:37] jansel commented on #80742
I like this idea, cc @ezyang @malfet

[2022-07-01 05:45] hezeli123 commented on #30563
+1

[2022-07-01 05:51] hezeli123 commented on #30563
grid_sample has been already implemented, why does not implement affine_grid ?  We could not deploy stn(Spatial Transformer Networks).

[2022-07-01 06:22] IvanYashchuk commented on #80735
Thank you, Gabe, for determining the exact commit that causes the performance problems and the exact cause. It seems string creation and concatenation is indeed causes the slowdown, we should change that. Meanwhile there's a variant of the inverse function that doesn't do error checking `torch.linalg.inv_ex` if that suits your use case.

[2022-07-01 06:44] UperFang commented on #77886
Same issue - macbook pro m1
![image](https://user-images.githubusercontent.com/64677874/176839103-3303fcac-50ef-4e6c-be13-198a2e1012de.png)

[2022-07-01 07:22] upupyy opened #80761 "`det` will return wrong gradient for `1x1` matrix with 0 value."
### 🐛 Describe the bug

`det` will return wrong gradient for `1x1` matrix with 0 value.

[code]

The correct gradient should be 1. Instead, when the value isn't zero, it will return the correct gradient.

[code]

### Versions

pytorch: 1.11.0

cc @ezyang @albanD @zou3519 @gqchen @pearu @nikitaved @soulitzer @Lezcano @Varal7

[2022-07-01 07:34] upupyy opened #80762 "`atan2` will gradcheck fail when `other` is a tensor with `int8` dtype"
### 🐛 Describe the bug

`atan2` will gradcheck fail when `other` is a tensor with `int8` dtype

[code]

It will fail

[code]

But when the `other` is `int16` or `int32`, it will pass the gradcheck

[code]

### Versions

pytorch: 1.11.0

[2022-07-01 07:46] upupyy opened #80763 "`acosh` has an incorrect complex derivative"
### 🐛 Describe the bug

`acosh` does not return `NaN` for complex tensor, which causes it cannot pass `gradcheck` for these invalid input.

[code]

[code]

I think it should output the `NaN` for these invalid inputs, which is mentioned in its document.

### Versions

pytorch: 1.11.0

cc @ezyang @albanD @zou3519 @gqchen @pearu @nikitaved @soulitzer @Lezcano @Varal7 @anjali411 @dylanbespalko @mruber

[2022-07-01 08:07] hkad98 opened #80764 "Multiarch docker image"
### 🚀 The feature, motivation and pitch

Currently, the PyTorch docker image does not support ARM-based CPUs, which may be an issue for some MacBooks with Apple Silicon users. Also, this fact blocks other projects using PyTorch, e.g., https://github.com/mindsdb/mindsdb/issues/2420.

### Alternatives

_No response_

### Additional context

_No response_

cc @malfet

[2022-07-01 09:14] thegodone commented on #77764
update on " aten::_index_put_impl_ " cause adding the flag environment variable `PYTORCH_ENABLE_MPS_FALLBACK=1` works but as the comment says "WARNING: this will be slower than running natively on MPS." my models are 10 to 100 times slower than on CPU.

[2022-07-01 09:14] pilgrimygy opened #80765 "Let torch.utils.tensorboard support multiprocessing"
### 🚀 The feature, motivation and pitch

In TensorboardX, [GlobalSummaryWriter](https://github.com/lanpa/tensorboardX/blob/df1944916f3aecd22309217af040f2e705997d9c/tensorboardX/global_writer.py) is implemented. I want to use torch.utils.tensorboard in multiprocessing, but I failed after a simple modification of TensorboardX’s code. I believe this feature is very important and not difficult to impl

[2022-07-01 09:29] Lezcano commented on #80735
Interestingly enough, I was once going to submit some small improvements to this function but I never did because I thought that they would not make a difference. Now, I see that they would make a big difference for very large batches. I'll submit a fix.

[2022-07-01 09:39] pablebe commented on #77764
`aten::unfold ` also seems to be currently unavailable for the MPS device. I tried it with the new stable PyTorch Build (1.12.0).

[2022-07-01 09:47] Qiza-lyhm opened #80766 "Convolution overrideable missed transposed parameter"
https://github.com/pytorch/pytorch/blob/3964b9aebca7c3b1d298728821e5fef9585820cf/tools/autograd/derivatives.yaml#L2205

I found that convolution_backward_overrideable always derivate with "transposed" params as _false_ like this:

(1):
[code]

In case we caculate the backward of a transposed conv, with params like input shape = (B, 2, H, W) and weight shape = (2, 3, H, W), a division-by-zero error

[2022-07-01 09:50] Lezcano commented on #80735
fwiw, the reason why that string construction is taking so long is two fold:
- The string has 18 chars + however many chars the number has. So, for numbers of 5 digits or more, the whole string will not fit in the small string optimisation and it will allocate memory.
- For a batch of 151k, we are allocating and deallocating 150k strings in memory.