[2022-08-07 15:15] Jamesika opened #82945 ""RuntimeError: Cannot insert a Tensor..." happened when exporting onnx"
### 🐛 Describe the bug

[code]

[code]

### Versions

Collecting environment information...
PyTorch version: 1.12.0
Is debug build: False
CUDA used to build PyTorch: 11.6
ROCM used to build PyTorch: N/A

OS: Microsoft Windows 11 Home China
GCC version: Could not collect
Clang version: Could not collect
CMake version: Could not collect
Libc version: N/A

Python version: 3.10.4 | packaged by conda-f

[2022-08-07 15:48] DongyuXu77 commented on #82932
Hi, I'm a newbie to this community and sincerely hope to take some work on it. Can I get a chance to handle this bug, what should I do?

[2022-08-07 18:55] jjsjann123 commented on #82889
It's probably both TS and nvfuser here.

Looks like even fallback path causes failures in layer here. I'll take a better look

[2022-08-07 21:01] ngimel commented on #82700
Likely caused by #79818, cc @clee2000.
@xwang233 we'll accept a PR fixing it, but I don't think supporting non-standard CI setups is our priority.

[2022-08-07 21:23] Chillee opened #93799 "[inductor] More tests and testing infra around optimizations"
It would be nice to have more testing infra around "performance of optimizations".

One idea would be to measure memory reads/writes between different kernels, and verifying that those are some value.

[2022-08-07 21:37] jansel opened #93800 "Finish implementing inductor dynamic shape guards"
Currently, guards in TorchInductor are only partially implemented.  Up until now we have relied on static shape guards at the dynamo level to protect both AOT Autograd and Inductor.  In the future we should:
1) Enable `torchdynamo.config.dynamic_shapes=True`
2) Possibly add a caching layer (or reuse the dynamo code cache)
3) Pipe symbolic shapes through AOT Autograd (dispatcher symbolic shapes is

[2022-08-07 22:34] xuzijian629 commented on #82808
Thanks.

Could you let me know which PR solved this issue? I'm just interested in why this happened.

[2022-08-08 00:13] xsacha commented on #77874
This wasn't fixed for torchscript yet:
`torch.jit.load(..., torch::kMPS);`

[2022-08-08 00:57] pytorch-bot[bot] opened #82948 "DISABLED test_no_cyclic_references (__main__.TestLRScheduler)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_no_cyclic_references&suite=TestLRScheduler&file=test_optim.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7715200087).

Over the past 3 hours, it has been determined flaky in 3 workflow(s) with 3 red and 3 green.

cc @vincent

[2022-08-08 01:06] smithblack-0 commented on #73142
I have thought exactly the same thing. I actually needed a little extra capacity (I want to preprocess code) and so I needed to be able to evaluate using arbitrary environmental information as well. It is important enough to me I went ahead and figured out how to do exactly that. I put together a context manager capable of executing a string, as though in exec, to build a module from which you can

[2022-08-08 03:44] soumith opened #93801 "[inductor] Fallback to eager on CUDA Capability < 7.0"
Triton currently only supports CUDA Capability >= 7.0

Today, I tried the Inductor unit tests (and eventually Triton unit tests) on a Titan X Maxwell GPU (CC 5.2).
Things pretty much universally failed with `Internal Triton PTX codegen error` related to using atomic ops and other ops related to CC 6.0+ or CC 7.0+

Inductor should do runtime checks for CC 7.0 and if not true, throw a warning and fa

[2022-08-08 04:02] jwcho5576 opened #82951 "torch.profiler's FLOPs measure only counts operations only involving '+' and '*' ."
### 🐛 Describe the bug

(1) c = a - b
(2) c = a + (-b)

Two operations shown above are mathematically identical.

However, torch.profiler does not count the FLOPs of operation (1).

[code]

Now test with two tensors with six elements each.

[code]

[code]

You can easily find out that the results are different.

This also happens in other operations: **, /, and other library functions like torch.p

[2022-08-08 04:53] DongyuXu77 commented on #82843
Hi, I'm a newbie to this community. I want to take this, does anyone have a recommendation on where to begin?

[2022-08-08 05:21] Xia-Weiwen commented on #65320
This is a known issue or known drawback of FX. I guess it won't be fixed in short term. It can be bypassed by `torch.nn.functional.adaptive_avg_pool2d(x, 1, 1)`.
So, close it now.

[2022-08-08 05:21] #65320 closed

[2022-08-08 05:57] DarkSynx commented on #45028
we will have to install all versions of pytorch and cuda to make the software work? aren't you serious? this is worthy of a bad joke! or do we care... when it comes to mind to produce code that does not work and that others have to patch its functioning?

[2022-08-08 05:57] MrStarry commented on #45028
我已收到您的邮件，将尽快处理并回复

[2022-08-08 06:45] cheyennee opened #82956 "torch.add triggers INTERNAL ASSERT FAILED"
### 🐛 Describe the bug

import torch
arg_1 = torch.rand([0, 5, 24, 4], dtype=torch.complex32)
arg_2 = torch.randint(-32,2,[4], dtype=torch.int8)
res = torch.add(arg_1,arg_2,)

#RuntimeError: common_dtype_ != ScalarType::Undefined INTERNAL ASSERT FAILED at "..\\aten\\src\\ATen\\TensorIterator.cpp":239, please report a bug to PyTorch.

### Versions

pytorch: 1.8.1

[2022-08-08 06:45] FLabbaf97 commented on #77764
NotImplementedError: The operator 'aten::unique_dim' is not current implemented for the MPS device.

[2022-08-08 06:48] rafariossaa commented on #82881
Hi @malfet,
  Let me try that.

[2022-08-08 07:17] QuentinCouton commented on #77764
+1 for aten::index.Tensor and aten::index.Tensor_out !  @DenisVieriu97 good luck !

[2022-08-08 07:30] rafariossaa commented on #82881
Hi,
  Thanks !
  That worked for me:

[code]

[2022-08-08 07:52] GuillaumeTong commented on #80861
Thanks.
Does that mean we can't have statements like these in our code?
`t2 = t1 + 1`
Do we have to explicitly change all of them into something like:
`t2 = t1 + torch.tensor((1), device=t1.device, dtype=t1.dtype)`

[2022-08-08 08:10] cheyennee opened #82960 "torch.bitwise_xor argument 'other' documentation wrong"
### 📚 The doc issue

The type of argument ('input' and 'other')  written on the document is the integral or boolean tensor. That is to say, parameters ('input' and 'other') must be a tensor. However, I found that when parameter 'other' is bool or number, this api also works.

[code]

The parameter 'other' on above code works well on bool and int type data.

### Suggest a potential alternative/fix

[2022-08-08 08:57] Jenny0420 commented on #82872
@davidberard98
yes i have already includes the torchvision c++
#include <torchvision/ops/ops.h>

but when i add this
#include <torchvision/vision.h>
i got another error
"
[2/2] Linking CXX executable SMOKE_libtorch
FAILED: SMOKE_libtorch
: && /usr/bin/c++ -g  CMakeFiles/SMOKE_libtorch.dir/main.cpp.o CMakeFiles/SMOKE_libtorch.dir/src/DataProcessing.cpp.o -o SMOKE_libtorch  -Wl,-rpath,/home/yqqian/C

[2022-08-08 09:26] xsacha commented on #73160
Is it just called "MPS" now?

[2022-08-08 09:41] pytorch-bot[bot] opened #82961 "DISABLED test_output_match_split_cpu_float32 (__main__.TestConsistencyCPU)"
Platforms: mac, macos

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_output_match_split_cpu_float32&suite=TestConsistencyCPU&file=test_mps.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7718932002).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 1 red and 1 gre

[2022-08-08 10:38] vadimkantorov commented on #75087
Also supporting the request for documenting `--tee`. It would be useful for debugging DDP issues especially given that `wandb` by default does some hacks for not printing from non-main rank: https://github.com/wandb/wandb/issues/3299#issuecomment-1055745184

[2022-08-08 10:39] vadimkantorov commented on #75087
In general somehow setting up duplication or redirects of stdout/stderr to corresponding rank files may be a useful function for the launcher

[2022-08-08 11:27] vadimkantorov commented on #68332
Another framework having to re-implement schedulers for predictability, simpler recovery from checkpoints and finer-grained control: https://speechbrain.readthedocs.io/en/latest/_modules/speechbrain/nnet/schedulers.html

[2022-08-08 11:56] jisaacso commented on #82565
cc @cpuhrsch @bhosmer @jbschlosser on request for computing a sparse matrix exponential

[2022-08-08 12:17] CaoE commented on #82793
The total number about 4000.

[2022-08-08 12:19] haofanwang commented on #68980
libnvrtc-builtins.so.11.1 is not existed if you install Pytorch via pip. But you can find libnvrtc-builtins.so in PATH/torch/lib, and rename libnvrtc-builtins.so to libnvrtc-builtins.so.11.1. All is well.

[2022-08-08 12:44] HYLcool commented on #30723
It's 2022 now. It seems that this bug hasn't been fixed in the latest pytorch 1.12 yet ...... 😳

[2022-08-08 12:46] pacman100 opened #82963 "[FSDP] TypeError: load_state_dict() got an unexpected keyword argument 'strict'"
### 🐛 Describe the bug

When loading trained FSDP model, the below error is observed. The expected behaviour should be to have `load_state_dict` consistent with the PyTorch API. A similar issue is raised here https://github.com/huggingface/transformers/issues/18511 when using FSDP integration of transformers.

[code]

### Versions

Collecting environment information...
PyTorch version: 1.12.0+cu10

[2022-08-08 12:47] ctwangtz opened #82964 "ValueError: Sequence must have length 1, got 3."
### 🐛 Describe the bug

class SegDataset(Dataset):
    def __init__(self, root_dir, train, size):
        self.root_dir = root_dir
        self.train = train
        self.size = size

    def __len__(self):
        list = os.listdir(self.root_dir + '/ss/')
        len_data = len(list)
        print(len_data)
        return len_data

    def __getitem__(self, index):
        # conect path
        p

[2022-08-08 12:58] Mishra1995 commented on #51010
Facing the same issue when trying to convert pretrained GAN model to ONNX.

[*** RuntimeError: 0 INTERNAL ASSERT FAILED at "/pytorch/torch/csrc/jit/ir/alias_analysis.cpp":532, please report a bug to PyTorch. We don't have an op for aten::normal but it isn't a special case.  Argument types: Tensor, float, float, None,]

Any update on the same?

[2022-08-08 13:37] alin256 commented on #77794
I am also missing the 'aten::index.Tensor' feature.

[2022-08-08 13:47] alin256 commented on #77764
I am also missing ```aten::index.Tensor```
and ```PYTORCH_ENABLE_MPS_FALLBACK=1``` does not solve the problem.

[2022-08-08 13:51] albanD opened #82966 "MPS build raises too many warnings"
There were a lot of efforts invested in making PyTorch build almost warning free to reduce noise during compilation and ease up debugging when issues happens.
But MPS build is producing thousands of these which makes the CI job very hard to work with (as it is so long that you have to download the logs to be able to see the end of them).

We need to find a way to either silence these warnings or m

[2022-08-08 13:53] #71278 closed

[2022-08-08 14:11] ezyang commented on #82633
EnableTorchFunction

[2022-08-08 14:29] atalman opened #82969 "Create basic ubuntu images without any dependencies"
Option 1:
Add following dockers build: pytorch-linux-bionic-py3.9
to:
https://github.com/pytorch/pytorch/blob/master/.github/workflows/docker-builds.yml
That would build docker image specifically for the binary validation.
Refer to https://github.com/pytorch/pytorch/blob/master/.circleci/docker/ubuntu/Dockerfile which already parametrized

Here is an example of minimal configuration image
https://

[2022-08-08 14:43] #82920 closed

[2022-08-08 14:50] atalman opened #82971 "Create Workflow to install binary builds using install instructions as per get started page for Linux"
Prerequisite task: https://github.com/pytorch/pytorch/issues/82969

Create New Workflow to validate installation instruction.
Refer to: https://github.com/pytorch/builder/pull/1101

Make sure we cover the core and domain libaries: vision, audio and text

Binaries to cover located here:
https://github.com/pytorch/pytorch/blob/master/.github/workflows/nightly.yml
https://github.com/pytorch/pytorch/b

[2022-08-08 15:01] atalman opened #82973 "Add smoke test to the validation workflow Linux"
Pre Requisite task: https://github.com/pytorch/pytorch/issues/82971

TODO: Attach smoke  test scripts to execute for each CUDA and CPU instances

cc @seemethere @malfet @pytorch/pytorch-dev-infra

[2022-08-08 15:03] alin256 commented on #82707
I am getting **infinite loss** in my project when enabling **MPS**, which never occurs in either CPU or CUDA.
Can this be related to what @philipturner describes?
It is a bit hard to isolate the issue, unfortunately.

[2022-08-08 15:04] jeffdaily commented on #82781
The offending commit that broke this test was reverted.  https://github.com/pytorch/pytorch/pull/82778.  I left a suggested code change that would fix ROCm CI if the PR is reworked.

[2022-08-08 15:04] #82781 closed

[2022-08-08 15:13] philipturner commented on #82707
The project I'm making always uses the `precise::` namespace. This isn't currently possible in PyTorch, which uses `MPSGraph` for activations. The biggest bottleneck is memory bandwidth, not ALU time - clock cycles are basically free. There's no reason to avoid `precise::`.

@alin256 could you show some of the source code that's causing infinite loss? If so, I might be able to trace back the culpr

[2022-08-08 15:28] Jamesika commented on #82945
The error message doesn't help much...

I try to merge two class into one class, then this problem is solved.
[code]

[2022-08-08 15:37] atalman opened #82977 "Reuse existing Windows AMI for the validation"
Option 1
Use existing AMI. Remove cuda/cudnn installation. And install fresh miniconda. All changes would be done in next task #82978

Option 2
Use Github Custom hosted runners (preferred option if available from GitHub)

cc @peterjc123 @mszhanyi @skyline75489 @nbcsm @seemethere @malfet @pytorch/pytorch-dev-infra

[2022-08-08 15:39] soulitzer commented on #74831
Fixed by https://github.com/pytorch/pytorch/issues/74831

[2022-08-08 15:39] #74831 closed

[2022-08-08 15:43] atalman opened #82978 "Create Workflow to install binary builds using install instructions as per get started page for Windows"
Similar to : https://github.com/pytorch/pytorch/issues/82971

cc @ezyang @seemethere @malfet @peterjc123 @mszhanyi @skyline75489 @nbcsm @pytorch/pytorch-dev-infra

[2022-08-08 15:43] pytorch-bot[bot] opened #82979 "DISABLED test_find_unused_parameters_kwarg_grad_is_view_debug_detail (__main__.DistributedDataParallelTest)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_find_unused_parameters_kwarg_grad_is_view_debug_detail&suite=DistributedDataParallelTest&file=distributed/test_c10d_nccl.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7722806533).

Over the past 3 hours, it has been determin

[2022-08-08 15:43] atalman opened #82980 "Add smoke test to the validation workflow Windows"
cc @peterjc123 @mszhanyi @skyline75489 @nbcsm @seemethere @malfet @pytorch/pytorch-dev-infra

[2022-08-08 15:55] karanprime opened #82983 "Setting torch.cfloat as default tensor type raises "invalid type" error"
### 🐛 Describe the bug

Hello, I am working on complex valued neural networks, and the new complex tensor support is a welcome addition (thanks!). When I try to set `cfloat` as `default_tensor_type`, I get `TypeError: invalid type object`.

Steps to reproduce:
[code]

Error:
[code]

Other troubleshooting: Doing complex tensor operations is fine. For example,
[code]
gives
[code]

### Versions

[cod

[2022-08-08 15:55] jbschlosser commented on #82875
Hey @mjack3! FYI you will probably have more luck getting assistance by posting on the [PyTorch forums](https://discuss.pytorch.org/). The issues here are reserved for problems within PyTorch itself. Please feel free to reopen if a bug is encountered in PyTorch - thanks!

[2022-08-08 15:55] #82875 closed

[2022-08-08 16:05] mjack3 commented on #82875
Oh sorry! I thought I had written in Pytorch/TensorRT

[2022-08-08 16:15] atalman opened #82986 "Create a workflow to validate binary presence based on the release matrix, for conda, wheels, libtorch."

[2022-08-08 16:17] atalman opened #82988 "Create a workflow to validate binary presence based on the release matrix, for conda, wheels, libtorch."

[2022-08-08 16:17] atalman opened #82989 "Create a workflow to validate binary presence based on the release matrix, for conda, wheels, libtorch."

[2022-08-08 16:21] atalman opened #82990 "Create a workflow to validate binary presence based on the release matrix, for conda, wheels, libtorch."

[2022-08-08 16:21] jansel opened #93802 "Ptx error too much parameter space from legacy_senet154"
This one might be a case where we fuse too much into a single kernel.  We should add some sort of limit the breaks kernels up if they are getting too large.

[code]

Output:
[code]

cc @ezyang @soumith @msaroufim @wconstab @ngimel @bdhirsh

[2022-08-08 16:24] #82671 closed

[2022-08-08 16:24] atalman opened #82991 "Create a workflow to validate binary presence based on the release matrix, for conda, wheels, libtorch."
Based on the following json format:
https://github.com/pytorch/pytorch.github.io/blob/site/published_versions.json
We need to make sure the json file contains list of all binaries that we plan to produce for a given release.

Following worklow already performs test for availability , however not all the binaries that we are producing listed here:
https://github.com/pytorch/pytorch.github.io/blob/s

[2022-08-08 16:26] alin256 commented on #82707
I looked deeper, and something really dodgy was going on:

My input tensors' means on GPU are nans

[code]

[code]

[2022-08-08 16:36] jbschlosser commented on #82808
I believe it was #73845 that caused the issue and #82141 that fixed it for 1.12.1 by reverting that work.

[2022-08-08 16:36] #82808 closed

[2022-08-08 16:40] davidchencsl commented on #82781
Updated and fix the issue of rocm test and merged :)

[2022-08-08 16:49] atalman opened #82996 "Design and automate generation of get_started page"
Please refer to the following PR that introduces changes to get started page: https://github.com/pytorch/pytorch.github.io/pull/1030

1. Create a script to automatically generate of json file section:
https://github.com/pytorch/pytorch.github.io/blob/site/published_versions.json#L640
Using release matrix used in validation

2. Refactor matrix in this script:
https://github.com/pytorch/pytorch.gith

[2022-08-08 16:57] #80844 closed

[2022-08-08 17:02] justinchuby opened #82998 "[ONNX] Unable to cast from non-held to held instance"
### 🐛 Describe the bug

A runtime error `RuntimeError: Unable to cast from non-held to held instance (T& to Holder<T>) (#define PYBIND11_DETAILED_ERROR_MESSAGES or compile in debug mode for type information)` can be seen when calling `_C._jit_pass_lint(graph)` in `_optimize_graph`. The cause is yet unknown but the message is opaque.

### Versions

Latest

[2022-08-08 17:06] malfet commented on #82966
Grabbing for myself

[2022-08-08 17:06] dagitses commented on #82966
Alban/Nikita: are the warnings dominated by a few specific types?

[2022-08-08 17:09] philipturner commented on #82707
Could you extract the raw data of one of those tensors before computing the mean? We can start by putting it into a calculator or simple script and validating that the CPU has it right. Understanding what values trigger the `NAN` will help investigate the GPU problems.

I'm hoping for the three raw data's that cause:
[code]

Use a `<details> </details>` if the data is quite large, otherwise you wi

[2022-08-08 17:12] kulinseth commented on #82966
Most of the warnings are due to Availability macro. We need to wrap the datatypes like `MPSGraph`, `MPSGraphTensor`, `MPSGraphTensorData` everywhere in the code with availability macro . One of the ways is to `typedef` it so that it can be put in one-place. @malfet , how are you planning to solve this ?

[2022-08-08 17:18] malfet commented on #82966
Just pass `target-macos-version`  to 12.3 for .mm files, but also enforce unused variables warning when compiling with `-Werror`

[2022-08-08 17:18] jbschlosser commented on #82913
From triage meeting: need to update runbook & change some code because we use the NVIDIA docker images

cc @ptrblck

[2022-08-08 17:19] jbschlosser commented on #82894
high pri to look into / solve the real synchronization issue; these should work in parallel

[2022-08-08 17:19] AllenTiTaiWang commented on #82870
Hi @phamkhactu ,

Could you provide a repro code for this issue? We will have to look into torch/ONNX IR to know what exactly happened during the exporting process.

[2022-08-08 17:20] kulinseth commented on #82707
Thanks @pacman100 for trying out the torch-nightly. I will consider the Correctness issue fixed with latest torch nightly. For the performance I would like to provide more context. The numbers in the Blog post were collected on M1 Ultra machine which has 4x the number of GPU cores and 128GB of unified memory. Also the benchmark used was the `torchbench` benchmark `hf_Bert` model at the specified B

[2022-08-08 17:20] #82707 closed

[2022-08-08 17:21] amiraghabiglou commented on #77764
NotImplementedError: The operator 'aten::_weight_norm_interface' is not current implemented for the MPS device. If you want this op to be added in priority during the prototype phase of this feature, please comment on https://github.com/pytorch/pytorch/issues/77764. As a temporary fix, you can set the environment variable `PYTORCH_ENABLE_MPS_FALLBACK=1` to use the CPU as a fallback for this op. WA

[2022-08-08 17:21] kulinseth commented on #82707
@alin256 , can you please file a separate issue on this and we will take a look. Thanks!

[2022-08-08 17:22] kulinseth commented on #82921
@DenisVieriu97 , can you take a look ?

[2022-08-08 17:23] AllenTiTaiWang commented on #82724
Hi @gumpcarl,

Thanks for bringing up the issue.
Could you make an easy repro showing what specific error that one can have with this issue?

[2022-08-08 17:23] philipturner commented on #82707
Please CC me as well.

@kulinseth we were still discussing performance issues on this thread, and a potential investigation. I don't think it's correct to mark it as closed on GitHub.

[2022-08-08 17:30] justinchuby commented on #47217
Please consider using the latest pytorch version (1.12.1) and let us know if that resolves your issue.

[2022-08-08 17:34] Ansh3101 commented on #77764
Does the fallback work?

[2022-08-08 17:34] kulinseth commented on #82707
The bug was tracking the `accuracy` and `f1` performance metrics in the BERT network, which was addressed. The other point on Performance was raised about not matching the Blogpost which I provided more clarification. If this is not satisfactory @pacman100 , feel free to reopen the issue.

About discussing the performance issues on this thread, I would appreciate we create a specific issue and tra

[2022-08-08 17:36] Ansh3101 commented on #77764
I've experienced this as well and i came to the conclusion that
If one of the operators being used isn't implemented, the losses start to go crazy. Maybe alter your code until it works?

[2022-08-08 17:38] kwen2501 commented on #81684
Hi, I wonder if you have tried the `batch_isend_irecv` API of PyTorch?
It was designed for uneven all-to-all cases.

[2022-08-08 17:44] Birch-san commented on #77764
Probably because any tensor that undergoes reshaping on the GPU, has its contents catastrophically broken when you transfer it to CPU.

Probably the solution is to put `.contiguous()` on any tensor that's about to be consumed by an operation that's implemented via CPU fallback.

https://github.com/pytorch/pytorch/issues/79383#issuecomment-1172883564

[2022-08-08 17:49] eellison opened #83000 "[Primtorch] Flop Calculation For All Prims"
### 🚀 The feature, motivation and pitch

There are various flop counters implemented for pytorch. To my knowledge, none of the them have complete coverage. With the limited opset provided by decompositions/prims, full coverage should be achievable.

### Alternatives

_No response_

### Additional context

_No response_

cc @ezyang @mruberry @ngimel

[2022-08-08 17:52] malfet commented on #82700
Just curious, why not just run `python3 test_ops.py -v --save-xml .`?

[2022-08-08 17:56] malfet commented on #82700
@xwang233 can you please share a list of pip/conda package you have installed in the config you've attempted to run it?

[2022-08-08 17:59] malfet commented on #82890
By the way, screenshot link seems to be broken, is there a link with particular examples

[2022-08-08 18:07] janeyx99 commented on #82890
Examples:
https://github.com/pytorch/pytorch/runs/7711173779?check_suite_focus=true
https://github.com/pytorch/pytorch/runs/7711173601?check_suite_focus=true

[2022-08-08 18:13] ngimel commented on #82956
Can't repro on more recent versions

[2022-08-08 18:13] #82956 closed

[2022-08-08 18:15] ngimel commented on #82932
DataParallel is deprecated, so we are not looking for any changes to it #65936

[2022-08-08 18:35] malfet opened #83003 "Pre-install MiniConda into Windows AMI"
### 🐛 Describe the bug

To avoid failures like the following: https://github.com/pytorch/pytorch/runs/7730532883?check_suite_focus=true

### Versions

CI

cc @peterjc123 @mszhanyi @skyline75489 @nbcsm @seemethere @malfet @pytorch/pytorch-dev-infra

[2022-08-08 18:43] kulinseth commented on #82566
Thanks @xsacha for reporting the issue. Can you please provide a small test-case to reproduce this INTERNAL_ASSERT ?

[2022-08-08 18:45] kulinseth commented on #82702
@xsacha , can you please provide a small test-case to repro the issue ?

[2022-08-08 18:51] clee2000 commented on #82700
i think you need to install pytest-xdist and pytest-rerunfailures

[2022-08-08 18:52] kulinseth commented on #82711
https://github.com/pytorch/pytorch/issues/82921, similar issue.

[2022-08-08 18:57] janeyx99 commented on #72280
Added mac as a response ^

[2022-08-08 18:59] kulinseth commented on #82663
@malfet , is this issue fixed ?

[2022-08-08 19:03] kulinseth commented on #82537
@DenisVieriu97 , can you take a look ?

[2022-08-08 19:05] kulinseth commented on #82305
@malfet , can we close this issue ?

[2022-08-08 19:09] meixitu17 commented on #79862
It is my fault.  Now I found resnet can converge.
Thank you very much.

[2022-08-08 19:09] malfet commented on #82663
There is a workaround for 12.3 and the issue seems to have been fixed in MacOS Ventura preview, so yes, let's close it

[2022-08-08 19:09] #82663 closed

[2022-08-08 19:19] huydhn commented on #83003
Thank you for the context. This is exactly what I'm doing at the moment (with help from @atalman). The PR is out for review https://github.com/pytorch/test-infra/pull/508.

Besides this, I'm also working with @atalman to see if we can improve the way we release Windows AMI. At the moment, testing new Windows AMI on canary is a bit of a pain, i.e. https://github.com/pytorch/pytorch-canary/pull/117

[2022-08-08 19:27] bdhirsh commented on #81529
Just confirming my understanding - even with the above changes, don't we need full (`nonzero`-style) dynamic shape support in order to avoid a graph break?

When you run `x[0, y:]`, the sizes of the output tensor depend on the data of `y`.

So if we want dynamo to work on this code before then, we'll need to get dynamo to graph break?

[2022-08-08 19:31] #80034 closed

[2022-08-08 19:39] ezyang commented on #81529
Oops, you're right. On the plus side if the input tensor is a constant (as it is in the example) we can use const prop to get it to work even without a graph break

[2022-08-08 19:46] amjames commented on #82494
This came up in a conversation with the sparse team and the general consensus is that `clamp` should throw if the min/max arguments are such that zeros will not be preserved (for sparse inputs).

[2022-08-08 19:50] atalman opened #83013 "Create Workflow to install binary builds using install instructions as per get started page for MacOS"
Since MacOS M1 runners are quite new and we use our custom runners which we do not shutdown between runs we would reuse existing infra.

Default to using the designated [runner temp directory](https://help.github.com/en/actions/reference/context-and-expression-syntax-for-github-actions#runner-context) that is guaranteed to be empty at the start of each job.

Following should be done in order to se

[2022-08-08 19:57] #82412 closed

[2022-08-08 19:58] alin256 opened #83015 "Incorrect tensor conversion to m1 MPS."
### 🐛 Describe the bug

When converting float 64 tensors to float tensors on m1 GPU MPS unpredictable errors occur.

As discussed in thread #82707 with @philipturner and @kulinseth

Here is the code to replicate:

[code]

The beginning of output showing the problem:

[code]

### Versions

Collecting environment information...
PyTorch version: 1.12.1
Is debug build: False
CUDA used to build PyTorch

[2022-08-08 20:13] zou3519 opened #83019 "TestCommon.test_dtypes error message is confusing"
### 🚀 The feature, motivation and pitch

Here's what I think test_dtypes is doing:
- for each dtype, check if `op(*args, **kwargs)` works
- if it works, then add the dtype to a list of "acceptable" dtypes
- if it fails, then don't add the dtype to a list of acceptable dtypes.

test_dtype suppresses the error messages of those failures. This is confusing, because the error message suggests that the

[2022-08-08 20:17] mehrdad78 opened #83020 "'Wav2Vec2ForCTC' object has no attribute 'conv'"
### 🐛 Describe the bug

hi there.
i run my code on Colab.
i want to statically quantize my Wav2Vec model.
before that i try dynamic quantization but it was not useful because i didn't speed up inference time ,unfortunetly got slower than regular model.
but i got error:
`'Wav2Vec2ForCTC' object has no attribute 'conv'`
here is my code:

[code]
Quantize snippet:
[code]
and stacktrace:
[code]

### Ve

[2022-08-08 20:18] atalman opened #83021 "Add smoke test to the validation workflow MacOS"
Add smoke test to the validation workflow MacOS

cc @malfet @seemethere

[2022-08-08 20:19] xwang233 commented on #82700
Hi @clee2000 , thank you for the suggestions. I installed the two pytest packages and the tests work now.

[2022-08-08 20:19] #82700 closed

[2022-08-08 20:38] andrewor14 commented on #82708
Hi @Xia-Weiwen, thanks for reporting the issue. The error should go away if you do this instead:
[code]
This is the recommended way to specify qconfigs moving forward. We will also improve the error message you see here to point users in the right direction.

[2022-08-08 20:59] xsacha commented on #82566
The code above is what triggers the assert. Typically this code works for all other libtorch backends.
This 'o' is a tensor that is from the result of a model that used MPS. You could also just create a tensor and move it to MPS.

I can try to reproduce in python when I have time.

[2022-08-08 21:00] albanD commented on #82700
Should these be added to a requirements.txt file?

[2022-08-08 21:06] ezyang opened #83023 "aten::inverse FuncTorchBatched has duplicate errors"
### 🐛 Describe the bug

[code]

cc @zou3519 @zou

### Versions

master

[2022-08-08 21:16] malfet opened #83024 "New PR template suggests a pattern that does not close PR"
### 🐛 Describe the bug

https://github.com/pytorch/pytorch/pull/81991 introduced new template, which makes it harder for new contributors to mark PRs as fixing particular issue

Also, it is more verbose when ignored, perhaps we should come up with strategy to skip it if not filled, otherwise committed PR descriptions looks as follows(from https://github.com/pytorch/pytorch/commit/8d1ff9fc5dc70bdc6

[2022-08-08 21:25] malfet commented on #83024
Some stats, since https://github.com/pytorch/pytorch/commit/89a6680036ee4371caad48e753d3d5e2ec4604ea were introduced, 582 PR were committed and 26 left the template blank:
[code]

[2022-08-08 21:27] janeyx99 commented on #83024
I would suggest:
- Adding back the "Fixes #<num>" to the template somewhere, maybe in the description section
- Adding a lint to verify that we don't have any more <!-- in the PR body + has content.

[2022-08-08 21:40] philipturner commented on #488
So this is basically PyTorch's answer to the TensorFlow PluggableDevice? It also sounds very similar to my new backend for S4TF, where you can register a device at runtime with full dynamic linking into the library. Is your idea similar to mine, meaning you can create a Python object wrapping the `PrivateUse1` device and pass it into the PyTorch API?

[2022-08-08 21:40] pytorch-bot[bot] opened #83026 "DISABLED test_binary_op_scalarlist_fastpath__foreach_add_cuda_uint8 (__main__.TestForeachCUDA)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_binary_op_scalarlist_fastpath__foreach_add_cuda_uint8&suite=TestForeachCUDA&file=test_foreach.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7731328050).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) w

[2022-08-08 21:40] pytorch-bot[bot] opened #83027 "DISABLED test_binary_op_scalarlist_fastpath__foreach_div_cuda_bool (__main__.TestForeachCUDA)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_binary_op_scalarlist_fastpath__foreach_div_cuda_bool&suite=TestForeachCUDA&file=test_foreach.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7731328050).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) wi

[2022-08-08 21:40] pytorch-bot[bot] opened #83028 "DISABLED test_binary_op_scalarlist_fastpath__foreach_div_cuda_int64 (__main__.TestForeachCUDA)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_binary_op_scalarlist_fastpath__foreach_div_cuda_int64&suite=TestForeachCUDA&file=test_foreach.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7731328050).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) w

[2022-08-08 21:40] pytorch-bot[bot] opened #83029 "DISABLED test_binary_op_scalarlist_fastpath__foreach_add_cuda_int32 (__main__.TestForeachCUDA)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_binary_op_scalarlist_fastpath__foreach_add_cuda_int32&suite=TestForeachCUDA&file=test_foreach.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7731328050).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) w

[2022-08-08 22:18] vgutta opened #83032 "Support for CSR Tensor with NN layers"
### 🐛 Describe the bug

When I try to pass a CSR tensor to a forward pass for a NN it outputs NaN.

Here is the NN:
`class Net(torch.nn.Module):
    def __init__(self):
        super(Net, self).__init__()
        self.conv1 = GCNConv(292, 8)
        self.conv2 = GCNConv(8, 7)

    def forward(self, data):
         x, edge_index = data.x.to_dense(), data.edge_index
         x = self.conv1(x, edge_i

[2022-08-08 22:26] jansel opened #93803 "Improve Triton constant CPU overheads in TorchInductor"
Right a limiting factor for TorchInductor on smaller models is fixed launched overheads of Triton kernels.  We are relying on cudagraphs to save us here, but that will not work for dynamic shapes.

This is something the Triton team is planning to work on, so it may improve with their upcoming changes.

Another path would be to build our own (lighter weight) caching layer for Triton and invoke the

[2022-08-08 22:27] davidberard98 commented on #82872
`FAILED: SMOKE_libtorch`: this error seems like it might be caused by ld not being able to find libtorch build location.

`my cmakelist have already link the torchvision libraries`: to confirm this, can you try to call a torchvision op from your c++ library in the same location as `torch::jit::load();` ?

[2022-08-08 22:52] malfet commented on #82966
@kulinseth can you please explain what 's the following code supposed to be doing:
https://github.com/pytorch/pytorch/blob/943553965eafac2a9490d8066e072ce2fd156c57/aten/src/ATen/mps/MPSGuardImpl.mm#L13-L14

As far as I can see, `mpsEvent_t` is just a typedef for `MPSEvent*` and as such I don't think typecasting is actually doing anything, is it?
https://github.com/pytorch/pytorch/blob/943553965eaf

[2022-08-08 23:29] justinchuby opened #83038 "[ONNX] Produce comprehensive assertion errors for quantized outputs"
### 🚀 The feature, motivation and pitch

Currently in `_compare_ort_pytorch_outputs`, quantized tensors' zero points and scales are flattened with the int8 representation for comparison. When int8 tensors do not match, one has to print out the scales and zero points to find that the mismatch is caused by different output scales and zero points. At the same time we do not have a clear indication of

[2022-08-08 23:34] chauhang commented on #82963
cc: @suo @rohan-varma

[2022-08-08 23:42] YifanShenSZ opened #83041 "Codegen for AutogradNestedTensor"
We are considering letting dispatch key `AutogradNestedTensor` to be nested-tensor-specific `CompositeImplicitAutograd`, in order to implement composite nested-tensor ops that cannot reuse the composite regular-tensor code.

To do that, we have to modify codegen.

[2022-08-08 23:45] clee2000 commented on #82894
is this supposed to pass all of the tests in the issue description or only the ldl_solve ones? I'm still getting that the non ldl_solve ones like TestCommonCUDA.test_out_linalg_lu_factor_cuda_float32 are failing

[2022-08-08 23:50] YifanShenSZ commented on #83041
First error I ran in to is when I try to add nested-tensor `reshape_as`:
[code]

Then I got:
[code]

If we look at [gen_inplace_or_view_type.py](https://github.com/pytorch/pytorch/blob/master/tools/autograd/gen_inplace_or_view_type.py#L321-L327), then we find that the regular-tensor `reshape_as` should also raise this error. The only reason why it wouldn't must be that `CompositeImplicitAutograd`

[2022-08-09 00:06] kulinseth commented on #82966
Correct, its just typedef. This can be cleaned up.

[2022-08-09 00:16] ngimel commented on #82894
To be clean, `c10::cuda::device_synchronize()` is still not a solution that can be landed, it's just a debugging tool

[2022-08-09 00:17] ngimel commented on #83023
I had errors like this, but they went away after updating pytorch and functorch

[2022-08-09 01:00] malfet opened #83044 "Test jobs should not be named `build`"
### 🐛 Describe the bug

`linux-binary-manywheel` does not seem to follow standard job names, but rather create `build/build` and `test/build` jobs, see https://github.com/pytorch/pytorch/runs/7736301147?check_suite_focus=true

### Versions

CI

cc @seemethere @malfet @pytorch/pytorch-dev-infra

[2022-08-09 01:10] davidberard98 opened #83045 "[JIT] Scripting modules fails for modules that contain nested NamedTuples"
### 🐛 Describe the bug

When scripting a module that contains a nested NamedTuple instance variable, scripting fails.

Repro:
[code]

### Versions

master branch, `e3dd4242657232d4b404465f2df848050cd7f088`

[2022-08-09 01:11] davidberard98 commented on #83045
**Workaround**:

By explicitly annotating the type of the nested NamedTuple, the model can be scripted.

[code]

[2022-08-09 01:11] davidberard98 commented on #83045
cc @jackiexu1992

[2022-08-09 01:14] malfet commented on #82966
Cleaned up in https://github.com/pytorch/pytorch/pull/83048 (among other unused variable/undefined selector warnings)

[2022-08-09 01:43] hygxy commented on #75992
How about libtorch? libtorch cuda 11.3 binaries have been shown NOT to work with CUDA 11.4 [issue](https://github.com/pytorch/pytorch/issues/73829#issuecomment-1142515258)

[2022-08-09 01:51] ykk648 commented on #35294
[msdata.visualstudio.com/Vienna/_workitems/edit/969340](https://msdata.visualstudio.com/Vienna/_workitems/edit/969340) access fail

`401 - Uh-oh, you do not have access.
Your account, ykk648@hotmail.com is not authorized to view this page. Make sure the URL is correct and your account has access. View a list of your organizations [here](https://go.microsoft.com/fwlink/?LinkId=309329). You may requ

[2022-08-09 01:57] guangyey opened #83051 "Op dispatch declaration bug"
### 🐛 Describe the bug

_fake_quantize_learnable_per_tensor_affine_backward and _fake_quantize_learnable_per_channel_affine_backward should have a dispatch in pytorch/aten/src/ATen/native/native_functions.yaml.
Currently, these two are in the CompositeImplicitAutograd category, meaning we need to provide their autograd function if we want to register a new backend. But these two are all backward o

[2022-08-09 02:04] Xia-Weiwen commented on #82708
It worked. Thanks.

[2022-08-09 02:04] #82708 closed

[2022-08-09 02:05] aimen123 commented on #47217
@justinchuby  I can try pytorch = 1.10.2+cu111, the issue is the same.

[2022-08-09 02:52] justinchuby commented on #47217
Only the latest version (1.12.1) will contain the fix. We are not able to patch older versions (in this case 1.10.2)

[2022-08-09 03:03] #82569 closed

[2022-08-09 03:03] #82878 closed

[2022-08-09 03:24] rohan-varma opened #83052 "FSDP init can crash with shared parameters"
### 🐛 Describe the bug

FSDP initialization can crash when modules with shared params are wrapped separately. For example, if wrap https://github.com/facebookresearch/multimodal/blob/679f3596e4c44b483c68d4023b24e3c7f77292b3/torchmultimodal/modules/losses/flava.py#L138 linear (decoder) separately from the main module and then wrap the main module with `device_id` argument, this will raise an error

[2022-08-09 03:28] gumpcarl commented on #82724
### version
name | #1 | #2 | #3 |
--- | --- | --- | ---
ffmpeg | 4.3 | hf484d3e_0 | pytorch
pytorch | 1.11.0 | py3.8_cuda11.3_cudnn8.2.0_0 | pytorch
pytorch-mutex | 1.0 | cuda | pytorch
torch | 1.11.0 | pypi_0 | pypi
torchaudio | 0.11.0 | py38_cu113 | pytorch
torchvision | 0.12.0 | py38_cu113 | pytorch

### repro the bug

[code]

### avoid the bug
indexing the tensor with [i, :tensor_span[i, 0], :

[2022-08-09 03:44] phamkhactu commented on #82870
@AllenTiTaiWang here [repo](https://github.com/baudm/parseq/issues/9)

The code convert to onnx(author provided)
[code]

[2022-08-09 03:57] rohan-varma opened #83053 "FSDP namedtuple support has issues"
### 🐛 Describe the bug

It seems that if we have namedtuple output from an FSDP wrapped unit, we can run into an issue where one of the elements of the namedtuple changes type to a generator. The following reproduces the issue:

[code]

the output is:

[code]

### Versions

main

cc @ezyang @gchanan @zou3519 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini

[2022-08-09 04:03] rohan-varma opened #83054 "FSDP device_id + CPU offload crash"
### 🐛 Describe the bug

There is a bug in FSDP today where we move the module due to `device_id`: https://github.com/pytorch/pytorch/blob/9e65e93c39238ec05aa7913693d7c3e4523bf257/torch/distributed/fsdp/fully_sharded_data_parallel.py#L1048

When FSDP is recursively wrapped though, this will move already wrapped modules to the GPU, but those wrapped submodules may have CPU offloaded their params, so

[2022-08-09 08:35] cheyennee opened #83060 "torch.empty_strided argument 'size'and 'stride' documentation wrong"
### 📚 The doc issue

The argument ('size' and 'stride') written on the document is tuple. However, I found that when argument ('size' and 'stride') is list, this api also works.

[code]

### Suggest a potential alternative/fix

It would be better if the document could write as this:
size (tuple/list of python:ints) – the shape of the output tensor
stride (tuple/list of python:ints) – the strides o

[2022-08-09 08:38] artyom-beilis commented on #488
Fantastic, I'm going to check it. Also how the device is called when I create on object? Today I call:

    t2=torch.randn(1,10).to('opencl:0')

or

    t2=torch.randn(1,10).to('opencl:1')

What do I do in case of private device?

[2022-08-09 10:16] cheyennee opened #83062 "torch.nn.AdaptiveAvgPool2d didn't return result after 2 minutes running"
### 🐛 Describe the bug

In this extreme example, after 2 mins running, torch.nn.AdaptiveAvgPool2d didn't return any result or throw exception.

[code]

### Versions

pytorch: 1.8.1
os: windows11
python: 3.8.3

cc @albanD @mruberry @jbschlosser @walterddr @kshitij12345 @saketh-are

[2022-08-09 10:34] cheyennee opened #83063 "torch.nn.AdaptiveMaxPool{2|3}d create tensor with negative dimension"
### 🐛 Describe the bug

It is obvious that a tensor cannot have negative dimension. However, torch.nn.AdaptiveMaxPool{2|3}d allows negative dimension in its parameter output_size.

[code]

[code]

### Versions

pytorch: 1.8.1
python: 3.8.3
os: windows11

cc @albanD @mruberry @jbschlosser @walterddr @kshitij12345 @saketh-are

[2022-08-09 11:05] paantya opened #83064 "Updating the LTS version of the torch (1.8.2 -> 1.10.2\1.11.2?)"
### 🚀 The feature, motivation and pitch

The current current version of LTS torch is already more than 4 versions behind the new one.

To maintain interprise projects, you want to update the version of the torus, or understand when it is planned to be done in order to plan your roadmaps.

### Alternatives

when is it planned to be done? to plan your roadmaps.

https://discuss.pytorch.org/t/pytorch

[2022-08-09 11:12] paantya commented on #83064
there is a little about the argumentation, although I'm not sure that it was not taken into account that this is LTS

there is also a discussion in the links above on this topic

https://github.com/Lightning-AI/lightning/pull/13155

[2022-08-09 11:27] zhaojuanmao commented on #82641
I see, this may be related to _DDPSink pass through autograd node added in the DDP wrapper, this pass through autograd node may mutate the output in an unexpected way, we will investigate it further

[2022-08-09 12:07] gitlabspy opened #83065 "Can't pickle local object 'CDLL.__init__.<locals>._FuncPtr'"
I am using `torch.multiprocessing.Process` in a reinforcement learning project.  Here's bit of my codes:
[code]
Here's the errors I got:
[code]

I wonder how to load cdll properly in multiprocessing, any solutions?

cc @VitalyFedyunin

[2022-08-09 12:08] philipturner commented on #83015
The output is going haywire. Tensors 2 and 3 all convert correctly, but tensor 1 is fragmented. The second half has several values that align with the original NumPy array, but also ones that don't. The presence of interleaved denormals + zeros in the first half could indicate failed conversions of `f64` to `f32`. The `f64` was bit-casted to `f32` without doing any conversion, splitting into a mal

[2022-08-09 12:18] awgu commented on #83052
What is the desired behavior here instead?

[2022-08-09 12:22] philipturner commented on #83015
I translated the script from Python to Swift, and I'm getting wierd results too. They are non-deterministic.

[code]

Loop iteration 1

[code]

Loop iteration 2

[code]

[2022-08-09 12:31] philipturner commented on #83015
The problem goes away if it's non-blocking. The bug is a data race! It reused memory from somewhere else in the heap allocator, or the GPU was in the middle of writing to memory. PyTorch did not make sure to synchronize memory to the CPU before reading. You can fix this by setting `non_blocking: false` instead of `non_blocking: true`.

Revised script:

[code]

Output:

[code]

[2022-08-09 12:33] philipturner commented on #83015
PyTorch version I used:

[code]

[2022-08-09 12:50] npurson opened #83066 "`torch.Tensor.size(dim)` returns `torch.Size` when `dim` is specified"
### 🐛 Describe the bug

`torch.Tensor.size(dim)` returns a `torch.Size` when `dim` is specified, which should be an int according to the [documentation](https://pytorch.org/docs/1.10/generated/torch.Tensor.size.html#torch.Tensor.size).

[code]

Is this a bug of code or doc? or it's my misunderstanding.

### Versions

Collecting environment information...
PyTorch version: 1.10.0+cu113
Is debug buil

[2022-08-09 13:12] awgu opened #83068 "[FSDP] Parameter MP + root FSDP `summon_full_params()` does not force full precision after forward"
If parameter mixed precision is enabled, the root FSDP instance does not `summon_full_params()` in full precision as expected if `summon_full_params()` is called after the forward (but before the backward).

The reason is that for the root FSDP, we have `self.reshard_after_forward = False`, so the unsharded flattened parameter is kept in memory after the forward. As a result, `_rebuild_full_params

[2022-08-09 13:20] gorkemalgan commented on #81198
I am facing the same issue on ios as well. I tried both pre-built libtorch from Cocoapods and built it from source by build_ios.sh. Both resulted the same error

[2022-08-09 13:26] csarofeen commented on #82784
Fix is just about ready to go. @zasdfgbnm and @shmsong redid our RNG to make it both partially recomputable for all tensors (so we correctly recompute RNG values on broadcasted tensors) and completely independent of the parallelization scheme. Will get it pushed upstream ASAP.

[2022-08-09 13:32] mattip opened #83069 "__dlpack__() should normalize strides"
### 🐛 Describe the bug

When converting a tensor to dlpack, the strides of single-value tensors (`t.shape==(1,)`) should be normalized to `(1,)`. This is the fallout conclusion from #82610.

Here is a demo of what is wrong:
[code]

### Versions

Collecting environment information...
PyTorch version: 1.10.0a0+git2aa19f3
Is debug build: False
CUDA used to build PyTorch: Could not collect
ROCM used t

[2022-08-09 13:54] IvanYashchuk opened #83070 "make_fx + aot_autograd segfaults"
### 🐛 Describe the bug

An example is taken from the `aot_function` docstring and I tried using `make_fx` on the callable returned by `aot_function`:
[code]

### Versions

Latest master.

[2022-08-09 14:00] mattip commented on #83069
@dalcini does this capture the problem?

[2022-08-09 14:06] #83066 closed

[2022-08-09 14:07] npurson commented on #83066
I find out that it's the problem of `fvcore.nn.FlopCountAnalysis`.

[2022-08-09 14:09] cheyennee opened #83071 "torch.nn.functional.adaptive_max_pool{1|2|3}d can get negative dimension tensor"
### 🐛 Describe the bug

Tensor's shape should be positive integral. However, the second parameter of torch.nn.functional.adaptive_max_pool1d can be set to negative integral which results in the negative integral shape.

[code]

### Versions

pytorch:1.8.1
python:3.8.3
os:windows11

cc @albanD @mruberry @jbschlosser @walterddr @kshitij12345 @saketh-are

[2022-08-09 14:36] Ansh3101 commented on #77764
I believe you might be right. But would definitely be a much more efficient fix if the implementation would be done...

[2022-08-09 14:41] samdow commented on #82577
cc @jbschlosser for any other thoughts from the nn.Module side

[2022-08-09 14:44] alin256 commented on #79383
We are discussing similar issue in #83015 which seems to be related to “non-blocking” behavior.

[2022-08-09 14:54] jjsjann123 commented on #82858
Verified that the original problem went away with this PR: https://github.com/csarofeen/pytorch/pull/1883
Let me try to cherry-pick that after we get it merged. Note that this would also have to wait until #83067 merged first...

[2022-08-09 15:01] albanD commented on #488
You can specify the index when you create the device yes.
The thing is that today, you have to do `.to('privateuseone')` or `.to('privateuseone:0')` if you want to call this as a string.

We can build a very simply torch_function mode to translate any `opencl` string into `privateuseone` automatically  before it hits the backend.

cc @bdhirsh is going to work on getting a full example working for

[2022-08-09 15:06] JayKumarr commented on #74454
Worked for me. I am sharing the commands from scratch on anaconda
[code]

[2022-08-09 15:07] mikaylagawarecki commented on #78807
Closing as this should be fixed on master

[2022-08-09 15:07] #78807 closed

[2022-08-09 15:15] pengzhangzhi opened #83074 "DPP training incompatibility with checkpoint and detach"
### 🐛 Describe the bug

I am using pytorch ddp to train my model. Turns out if I use ddp, then I can not use checkpoint or detach gradient. The incompatibility is a big problem, because these techniques are important for my use.

My model consists of two part roughly, a language model for generate representation,  where weights are detached, another part of the model is trained  with gradients.

t

[2022-08-09 15:22] jjsjann123 commented on #82889
Am I supposed to see the exception thrown within the try block? @DavidSlayback

[code]

Doesn't seem to give me any error. I tried this on our nightlies as well as on 1.12 pytorch container. `pytorch/pytorch:1.12.0-cuda11.3-cudnn8-runtime`.

[2022-08-09 15:43] awgu opened #83076 "[FSDP] `summon_full_params(offload_to_cpu=True)` keeps `_full_param_padded` on GPU"
TL;DR: `summon_full_params(offload_to_cpu=True)` does not free the GPU copy of the unsharded flattened parameter, so both a CPU and GPU copy exist when in the context.

---
Repro:
[code]
(1) Add a `print()` like
[code]
after this line:
https://github.com/pytorch/pytorch/blob/6c60a656b02fbd09661b282bec53940b184db3ca/torch/distributed/fsdp/fully_sharded_data_parallel.py#L2563

(2) Add a `print()` li

[2022-08-09 15:52] awgu opened #83078 "[FSDP] specifying `device_id` will move ignored parameters"
If the wrapped module is on CPU, then specifying `device_id` will move the entire wrapped module to the device corresponding to `device_id`: https://github.com/pytorch/pytorch/blob/6c60a656b02fbd09661b282bec53940b184db3ca/torch/distributed/fsdp/fully_sharded_data_parallel.py#L1048

We should clarify the semantics for the `ignored_modules` argument and whether FSDP should move the ignored modules'

[2022-08-09 16:05] Sand-Deep commented on #10043
Hi [weiyangfb](https://github.com/weiyangfb),

Thanks for reaching out about this and seeking suggestions. It's good to hear you are actively working on this.

As mentioned above, graphs are a key use case. I'm using a sparse matrix as an implementation for a large adjacency matrix and I back propagate through this to a front end module.

I'm not aware of the internals but I can do some simple thi

[2022-08-09 16:19] janeyx99 opened #83081 "[CI] Split up periodic.yml into forward-fixable.yml and periodic.yml"
We want to move toward a future where we do not revert people based on periodic failures (and instead opt for forward fixing). To get there, we should:

1. Split up periodic.yml into two parts. Both should be periodic, but we should start creating a distinction between forward-fixable periodic tests and ones that we will revert devs for. Eventually, we want to move the second portion of tests to t

[2022-08-09 16:22] janeyx99 opened #83082 "[CI] Create periodic fuzzy testing for PyTorch build flags"

[2022-08-09 16:29] jjsjann123 commented on #82889
Got it. Have the repro locally. Something went wrong in our fusion pass.. I'm working on it.

[2022-08-09 16:33] jjsjann123 commented on #82889
I think there's something funny with ConstantChunk here.... We are definitely abusing that and should not have push it for non-pw operations....

[2022-08-09 16:35] davidberard98 commented on #82889
@jjsjann123 so does the issue go away when we turn off nvfuser?

[2022-08-09 16:38] jjsjann123 commented on #82889
It does if I run with `PYTORCH_JIT_USE_NNC_NOT_NVFUSER=1 python repro_82899.py --cuda True`

Does NNC default not fusing normalizations? Is NNC using the same ConstantChunk optimization?

[2022-08-09 16:41] artyom-beilis commented on #488
@albanD

It would be very important! This would allow to tell users some meaningful name without showing details.

This would be major step forward. Because for me compiling custom pytorch is quite setback to push the use of OpenCL/dlprimitives backend forward! Having an ability to have human readable name would be as important as the use of mainstream pytorch.

Huge thanks!

[2022-08-09 16:43] gchanan commented on #82983
I think it's not supported as the default type, although we should improve the error message.

[2022-08-09 16:45] gchanan commented on #83000
I think we need a more precise definition of what a flop counter would do here.  it's not true that a decomposition of an op has the same number of flops as the original ops -- that is close to the opposite of the purpose of a decomposition -- so it's not clear what "full coverage" means here.

[2022-08-09 16:51] davidberard98 commented on #82889
ConstantChunk is inserted as part of CanonicalizeOps, which I think will happen either way: https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/runtime/profiling_graph_executor_impl.cpp#L340

Is that the optimization you're talking about or is there another detail ConstantChunk that you're referring to?

[2022-08-09 16:59] jjsjann123 commented on #82889
I was referring to this https://github.com/pytorch/pytorch/blob/aad3b8e4d3b00f9bd95bc52fd5242dd0f1c43557/torch/csrc/jit/passes/tensorexpr_fuser.cpp#L485-L503

nvfuser doesn't fuse ConstantChunk, instead we rely on this old optimization pass that we stole from legacy fuser: https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/passes/graph_fuser.cpp#L875

I patched it in #83083

[2022-08-09 17:16] ZainRizvi commented on #75703
+1 to the idea of identifying the dependencies that fail frequently and using scripts to tailor a solution to them.

While a comprehensive proxy would be really nice (and could end up being the route we take one day in the future) it would also come with a bunch of maintenance headaches which I'd prefer to avoid for as long as possible.

[2022-08-09 17:21] rohan-varma commented on #83068
Great catch! Shall we just have summon_full_params always force a rebuild?

[2022-08-09 17:40] Lezcano commented on #83000
A trivial remark that's worth keeping in mind: Flops mean very little in a parallel setting (CPU but even less on CPU). An svd and a matmul both are n^3 with constants that are not too far appart, but most SVD algorithms are inherently sequential and thus quite difficult to parallelise effectively.

[2022-08-09 17:48] Chillee commented on #83070
I don't think this works/should work today. Although, of course, it shouldn't segfault.

[2022-08-09 17:53] jerryzh168 opened #83090 "Remove `_` from reference modules path"
### 🐛 Describe the bug

Currently the path for reference modules contains `_` which means it's private (https://github.com/pytorch/pytorch/tree/master/torch/nn/quantized/_reference), but we would like to make it public since the reference module is now enabled by default in the fx graph mode quantization flow and it will be added to eager mode flow as well in the future.

Previous:
torch.nn.quanti

[2022-08-09 18:13] awgu commented on #83076
More detailed repro:
[code]
Trunk:
[code]
Refactored:
[code]

[2022-08-09 18:17] DenisVieriu97 commented on #81557
@zhaoBowen612 the change still didn't reach PyTorch master (currently it's in https://github.com/kulinseth/pytorch). Hoping to get it soon in the master branch of PyTorch. I'll keep this thread updated when the change gets merged

[2022-08-09 18:22] justinchuby commented on #82945
It's likely that some tensors were input to the lstm, which should have been scalar values. Were you able to run (1) directly input the tensor to the model and (2) call torch.jit.trace on the model without errors?

[2022-08-09 18:30] jerryzh168 opened #83093 "Remove WEIGHT_INDEX_DICT and BIAS_INDEX_DICT from fx quant codebase"
### 🐛 Describe the bug

## Context
FX Graph Mode Quantization is an automated flow for quantization (https://pytorch.org/docs/stable/quantization.html#prototype-fx-graph-mode-quantization), since we may target different backends that supports quantization, and different backends have different support for quantized ops/dtypes etc. we developed `BackendConfig` that is used to configure quantization

[2022-08-09 18:38] ZainRizvi commented on #83024
Principles I’d suggest are:
- PR descriptions should do two things: Explain what was changed & how it was tested.  If issues are fixed, those tickets should be closed
- We should add as little friction as possible while getting the above
- Wider feedback is needed *if* heavy process is added. If we’re not enforcing new template behavior (via, e.g. linter rules) then such feedback isn’t necessary,

[2022-08-09 18:49] jithunnair-amd commented on #82802
Looking into issues with following instructions on https://github.com/pytorch/pytorch#from-source on ROCm.

@gggh000 Regarding the #windows-from-source, that's because the chooser is set to Windows OS by default. If you were to select Linux OS, the sections below update and the links in the left sidebar are updated accordingly to https://pytorch.org/get-started/locally/#linux-from-source.

In any

[2022-08-09 19:06] Turakar commented on #16963
I can confirm that this warning still occurs.

[2022-08-09 19:15] #73659 closed

[2022-08-09 19:15] janeyx99 commented on #62136
@suo completed most of this work--closing

[2022-08-09 19:15] #62136 closed

[2022-08-09 19:15] ZainRizvi opened #83096 "Migrate DevX KPIs from Grafana to HUD"
- [x] Move metrics to https://hud.pytorch.org/kpis
- [ ] #83098

cc @seemethere @malfet @pytorch/pytorch-dev-infra

[2022-08-09 19:17] ZainRizvi opened #83098 "Redirect the old metrics.pytorch.org url to the new page"
cc @seemethere @malfet @pytorch/pytorch-dev-infra

[2022-08-09 19:18] ZainRizvi opened #83099 "Add docs tooling to validate pytorch tests were correctly built"

[2022-08-09 19:22] eellison commented on #83000
Flop counter would be a formula that gives the flops given a set of real inputs. This is same way that decompositions work today. I don't think they are opposing concepts.

[2022-08-09 19:27] ezyang opened #93804 "Direct use of torchdynamo.optimizations.analysis fails if you pass in None as an input"
Example

[code]

Dynamo will ensure that a None input can never occur but this is not the case for direct use of `compile_fx` api in inductor, for example

cc @soumith @msaroufim @wconstab @ngimel @bdhirsh @mlazos @voznesenskym @yanboliang @penguinwu @anijain2305 @EikanWang @jgong5 @Guobing-Chen @XiaobingSuper @zhuhaozhe @blzheng @Xia-Weiwen @wenzhe-nrv @jiayisunx @desertfire

[2022-08-09 19:29] malfet opened #83100 "[GHF] Merge bot should refuse to merge ghstack changes with local edits"
### 🐛 Describe the bug

ghstack is not designed to support GH UI edits, so we should refuse to merge PRs with local changes (overridable with `-f`)

### Versions

CI

cc @seemethere @malfet @pytorch/pytorch-dev-infra

[2022-08-09 19:32] ZainRizvi commented on #83024
For more context, my goals when I made the original change was to:
1. Encourage folks to actually describe why they made a specific change (I was seeing many PRs with very little context)
2. Explain how it was tested, similar to what we do in our internal diffs
3. Create a place where newer contributors can learn/discover norms that they haven’t been exposed to yet (changing the behavior of existi

[2022-08-09 19:42] Chekov2k opened #83101 "Importing torchvision.models.detection.faster_rcnn when on CPU results in GIL deadlock when torch tensor from numpy.array is deallocated"
### 🐛 Describe the bug

We are using pybind11 and torch to create a C++ binary with an embedded interpreter. When we are trying to use pytorch in a docker container with a CPU device only combined with a `torchvision.models.detection.faster_rcnn.fasterrcnn_resnet50_fpn` we can trigger a deadlock in the resource cleanup of a torch tensor. Creating torch tensor from a numpy.array `torch.as_tensor(ar

[2022-08-09 20:06] kurtamohler commented on #72948
Here is a basic plan for pieces of the new logging system that can we can start implementing soon. Specifics about them can be found in the RFC (https://github.com/pytorch/rfcs/pull/43). Alban and I discussed these briefly. The list isn't in any particular order.

* Add Python error APIs to match the existing C++ APIs:
  - `torch.check`
  - `torch.check_index`
  - `torch.check_value`
  - `torch.ch

[2022-08-09 20:53] rohan-varma opened #83107 "FSDP crash if no parameters are used in fwd pass"
### 🐛 Describe the bug

The following test raises an issue where an assert is triggered if FSDP has params that require grad, but they are not used in an iteration:

[code]

This triggers the assert here: https://github.com/pytorch/pytorch/blob/cd5efc6f082c81fd40712127638931b9e2e5ee69/torch/distributed/fsdp/fully_sharded_data_parallel.py#L3084, presumably because the FSDP managed param requires gr

[2022-08-09 20:57] janeyx99 commented on #82888
https://github.com/pytorch/pytorch/pull/82775 is the culprit...

[2022-08-09 21:08] jerryzh168 opened #83108 "Remove `duplicate_dequantize_node` and `duplicate_quantize_dynamic_node` and `remove_extra_dequantize` in lowering code"
### 🐛 Describe the bug

In the last step of fx graph mode quantization, we need to fuse a "reference quantized pattern" to a real quantized op. More details about reference quantized pattern can be found in https://github.com/pytorch/rfcs/blob/master/RFC-0019-Extending-PyTorch-Quantization-to-Custom-Backends.md

[code]

e.g. the following pattern:
[code]
will be fused into
[code]

However, since t

[2022-08-09 21:12] jerryzh168 opened #83110 "Remove `remove_quant_dequant_pairs` and fix the tests"
### 🐛 Describe the bug

This is a pass that removes adjacent quant - dequant pairs in the model:
[code]
But it's a pass that changes the numerics, it's probably added initially to fix some tests, but we should remove this pass and fix the test in other parts of the quantization flow.

### Versions

master

cc @jerryzh168 @jianyuh @raghuramank100 @jamesr66a @vkuzo

[2022-08-09 21:15] awgu opened #83111 "[FSDP] `test_summon_single_param()` is misleading"
Code pointer:
https://github.com/pytorch/pytorch/blob/6c60a656b02fbd09661b282bec53940b184db3ca/test/distributed/fsdp/test_fsdp_summon_full_params.py#L269-L288

---

WLOG suppose we have a world size of 2.
- The original parameter (i.e. the linear's weight) is like `[[X]]` where `X` is some initial value and the shape is `[1, 1]`.
- The unpadded unsharded flattened parameter is like `[X]` where the

[2022-08-09 21:16] malfet opened #83112 "One dlpack to rule them all"
### 🐛 Describe the bug

One here https://github.com/pytorch/pytorch/blob/master/caffe2/python/dlpack.h
And another there https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/dlpack.h
Should we make one reference to another one?

### Versions

1.12/CI

[2022-08-09 21:32] andrewor14 commented on #82480
Closing this since https://github.com/pytorch/pytorch/pull/82675 was merged

[2022-08-09 21:32] #82480 closed

[2022-08-09 21:40] koparasy commented on #43144
It's been a while since this has been updated and I'm curious if there is still motivation from PyTorch devs to work on this?

[2022-08-09 21:41] TV4Fun commented on #82296
Confirmed this bug does not exist in the dev build. I was able to implement your code above with a few tweaks [here](https://github.com/TV4Fun/ml-agents/blob/mps-support/ml-agents/mlagents/torch_utils/torch.py) and it appears to have set MPS as the default device.

[2022-08-09 21:43] pytorch-bot[bot] opened #83113 "DISABLED test_tensor_properties (__main__.TestTorchTidyProfiler)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_tensor_properties&suite=TestTorchTidyProfiler&file=test_profiler.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7752653860).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 1 red and 1 green.

cc @r

[2022-08-09 21:54] ezyang opened #93805 "Metadata mutation when functionalization is on doesn't work"
Internal metadata mutation in model with functionalization turned on stopped working.

[code]

Fails with

[code]

The proximal cause of the error is you can't trace a graph that does a `resize_` on a proxy tensor.  But shouldn't functionalization erase this? Well,

[code]

it seems like we first trace the joint forward backward without functionalization, so proxy tensor needs to work in this case

[2022-08-09 22:00] jamesr66a opened #83116 "[FX] Cannot deepcopy Tracer objects"
### 🐛 Describe the bug

[code]
[code]

But if we override `__deepcopy__` we can make this work:

[code]

### Versions

Collecting environment information...
PyTorch version: 1.12.0+cu113
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.6 LTS (x86_64)
GCC version: (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
Clang version: 6.0.0-1ubuntu2 (tags/RELEASE_

[2022-08-09 22:06] AllenTiTaiWang commented on #82589
**1. Is strict_mode necessary for onnxruntime?**

onnxruntime doesn't run strict mode check, but it simply extends shape type inference results from ONNX. That's why this invalid model can't be executed after all (the model has serious type inference error, but the converter doesn't error out.).

**2. Difference between passing strict_mode or not**

When strict mode is on, any errors during ONNX s

[2022-08-09 22:07] albanD opened #83117 "Add option to run anomaly mode without nan checking"
In the context of AOTAutograd, we want to be able to use anomaly mode to enhance the backward graph with information about the forward's stack trace.
Such information can be recovered from anomaly mode today but the nan checking there might be raising spurious error.

We should add a boolean flag when anomaly mode is enable to be able to disable nan checking: `torch.autograd.set_detect_anomaly(Tru

[2022-08-09 22:08] andrewor14 opened #83118 "Refactor lowering code by merging static and dynamic pattern matching"
Following https://github.com/pytorch/pytorch/pull/74128 and https://github.com/pytorch/pytorch/pull/74362, this would be part 3 of the effort to reduce code duplication in the code that lowers reference quantized patterns to native quantized ops in fbgemm/qnnpack. Although there is already a common pattern matching [helper function for static patterns](https://github.com/pytorch/pytorch/blob/maste

[2022-08-09 22:10] albanD opened #83120 "Expose c++ Node pre-hook to python"
Today, when doing `t.grad_fn.register_hook(foo)`, this registers a post hook on the Node corresponding to `t.grad_fn`.
There is no API to add a pre-hook and we should add one.
Adding a `t.grad_fn.register_pre_hook(bar)` should be enough here.

This will be needed in the context of AOTAutograd and https://github.com/pytorch/pytorch/issues/83117 to be able to set some context that will let the user

[2022-08-09 22:20] malfet commented on #82888
Hmm, it is run with 6 cores:
[code]

[2022-08-09 22:40] jjsjann123 commented on #82889
FYI, a simpler repro:

[code]

I'll put this in a python test.

[2022-08-09 23:14] shingjan opened #93806 "resnet50_quantized_qat & mobilenet_v2_quantized_qat not loading correctly with cuda"
Hi,

I tried loading the above mentioned two models by `python benchmarks/torchbench.py --only <model_name> --backend ts --device cuda` with torchdynamo/torchbench but got the following error:
[code]
Those two models runs fine on llvm/cpu. I wonder if there is more context to it. Or maybe this is an issue from the torchbench side? Thanks!

cc: @jansel @xuzhao9

cc @ezyang @soumith @msaroufim @wcon

[2022-08-09 23:34] rohan-varma opened #83129 "FSDP does not reshard params if _post_backward_hook did not fire"
### 🐛 Describe the bug

Sometimes, _post_backward_hook will not fire if gradients were not accumulated on the FSDP managed parameter, such as if all parameters in an FSDP module were unused.

This currently has a crash: https://github.com/pytorch/pytorch/issues/83107, but even if this crash is fixed, we need to make sure we are resharding parameters because _post_backward_hook will not have done t

[2022-08-10 00:21] cheyennee commented on #83071
I found the same problem on torch.nn.functional.adaptive_max_pool2d.

[code]

[2022-08-10 00:25] cheyennee commented on #83071
I found the same problem on torch.nn.functional.adaptive_max_pool3d.
[code]

[2022-08-10 00:28] clee2000 opened #83133 "github actions having a variety of issues - please dont merge without proper signal"
## Current Status
ongong

## Error looks like
*Provide some way users can tell that this SEV is causing their issue.*
- workflows not being scheduled
- jobs failing
- gh signal boxes not loading
- links to parts of github actions leading to page not found

## Incident timeline (all times pacific)

- 8/9 4:42pm incident began, detected by failures on hud
- 8/9 5:17pm githubstatus.com updated, confi

[2022-08-10 01:11] cheyennee opened #83135 "torch.nn.functional.avg_pool{1|2|3}d error message does not match what is described in the documentation"
### 📚 The doc issue

Parameter 'kernel_size' and 'stride' of torch.nn.functional.avg_pool{1|2|3}d can be a single number or a tuple. However, I found that error message only mentioned tuple of ints which means parameter 'kernel_size' and 'stride' can be only int number or tuple of ints.

[code]

[code]

[code]

### Suggest a potential alternative/fix

It would be great if the doc could be written

[2022-08-10 01:47] developer0hye opened #83138 "Typo in norm_first parameter description of transformer layer, respectivaly - > respectively"
### 🐛 Describe the bug

https://github.com/pytorch/pytorch/blob/b2363520363d8c85496f6954fde005834c188b5d/torch/nn/modules/transformer.py#L358-L359

https://github.com/pytorch/pytorch/blob/b2363520363d8c85496f6954fde005834c188b5d/torch/nn/modules/transformer.py#L563-L565

### Versions

We don't need a version to fix a typo.

[2022-08-10 01:48] cbalioglu commented on #64932
Hi @c-heat16, it is in our backlog, but we don't have a date yet.

[2022-08-10 01:48] Yzh619 commented on #42078
I have the same problem. Tried to use torch==1.4, torchvision==0.5, torchvision==0.9 and torch==1.6, torchvision==0.6. None of them solve problem.  I use python==3.6 cuda 10.1, which vision should I use.

[2022-08-10 02:05] clee2000 commented on #83133
closing, github status claims its been resolved

[2022-08-10 02:05] #83133 closed

[2022-08-10 04:11] Xmr-nxbx opened #83142 "Transformer encoder error when encoding long sequence (more than 1024 tokens)"
### 🐛 Describe the bug

In evaluation mode, Transformer encoder shows a runtime error when the number of tokens is greater than 1024.
[code]
runtime error:
[code]

But if the number of tokens is less than or equal to 1024, then it can run without error.
[code]

### Versions

PyTorch version: 1.12.1+cu116
Is debug build: False
CUDA used to build PyTorch: 11.6
ROCM used to build PyTorch: N/A

OS: Ub

[2022-08-10 04:53] rohan-varma commented on #83111
I don't think there's a strong need to test modification to the full flattened unsharded param, as user is not meant to really use this. We should just check that writes to the module params within the context are persisted (this is already technically tested via load_state_dict I believe).

[2022-08-10 04:53] KexinFeng opened #83143 "Bug in building pytorch deploy from source in macos USE_DEPLOY=1"
### 🐛 Describe the bug

I'm trying to use the `torch::deploy` feature, and follow the document in [this website](https://pytorch.org/docs/stable/deploy.html) to build pytorch from source. First, I suceeded in building it with `USE_DEPLOY=0`. Then I started fresh (I cleaned with the instruction on [this website](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#tips-and-debugging), wit

[2022-08-10 05:09] dominicshanshan opened #83144 "[MPS] Bug on training CNN+LSTM"
### 🐛 Describe the bug

Following training on M1MAX GPU

when I training a CNN+LSTM model on Pytorch v1.12.1, it goes with this error
loc("total derivative last state"("(mpsFileLoc): /AppleInternal/Library/BuildRoots/20d6c351-ee94-11ec-bcaf-7247572f23b4/Library/Caches/com.apple.xbs/Sources/MetalPerformanceShadersGraph/mpsgraph/MetalPerformanceShadersGraph/Core/Files/MPSGraphUtilities.mm":219:0)):

[2022-08-10 05:22] Musisoul opened #83148 "Cannot call CUDAGeneratorImpl::current_seed during CUDA graph capture"
### 🐛 Describe the bug

When attempting to use
[code]
and our model contains checkpoints or sequential checkpoints like this:
[code]
I got this error
[code]
Setting `preserve_rng_state=False` seems to get around this problem, but it will behave differently when recomputing activations.
If I use `use_reentrant=True` in checkpoint function, I got the following error:

```RuntimeError: Checkpointing

[2022-08-10 05:29] dominicshanshan commented on #78429
I have the same error on v1.12.1
PyTorch version: 1.12.1
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: macOS 12.5 (arm64)
GCC version: Could not collect
Clang version: 13.1.6 (clang-1316.0.21.2.5)
CMake version: Could not collect
Libc version: N/A

Python version: 3.10.5 | packaged by conda-forge | (main, Jun 14 2022, 07:07:06) [Clang 13.0.1 ] (64-bit

[2022-08-10 05:44] jay746 opened #83149 "bf16 strided tensor wrong calculation"
### 🐛 Describe the bug

Issue when transpose is taken on bfloat16 tensor and passed to sum. the output is not correct. Example has been described below:
If you run same code in float32 then it works fine.
[code]

[code]

### Versions

Collecting environment information...
PyTorch version: 1.12.0
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.0

[2022-08-10 05:46] qgao007 commented on #82793
@robieta  Hi Taylor, thanks for providing your insight on profiler overhead. Could you please help define a metric for dispatch bound? and how much do you expect the overhead to be for each range if characterized by a dispatch metric ( eg.  xx ns for a dispatch metric [##, ###]; yy ns for a dispatch metric [###, ####], etc)? As you described, are you expecting a step function for the overhead vs.

[2022-08-10 05:57] TachikakaMin commented on #8088
torch._tensor._C._TensorBase

[2022-08-10 06:02] rohan-varma opened #83151 "Make FSDP easier to debug when erroring in backward pass"
### 🚀 The feature, motivation and pitch

Recently a lot of FSDP enablement efforts have been hard to debug when there's an error in backward pass, because we just get the error "autograd returned null without setting an error" without too much additional detail.

To fix this, we should comb through the code that runs in bwd and ensure we at least use `p_assert` everywhere, and maybe consider more

[2022-08-10 06:11] cheyennee opened #83152 "When padding is big int, torch.nn.functional.fold runs too long and can't return result"
### 🐛 Describe the bug

When I run the code, there is no error information reports. After 5 mins running, there is no response and I can't stop the cmd, I have to kill the cmd.

[code]

### Versions

pytorch: 1.8.1
python: 3.8.3
os: win11

[2022-08-10 06:44] cheyennee opened #83153 "torch.nn.Hardtanh allows min_val > max_val"
### 🐛 Describe the bug

torch.nn.Hardtanh allows min_val greater than max_val. It doesn't throw exception, and the document has no 'add note' for case min_val > max_val.
[code]

Above code works.

### Versions

pytorch: 1.8.1
python: 3.8.3
os: win11

cc @albanD @mruberry @jbschlosser @walterddr @kshitij12345 @saketh-are

[2022-08-10 06:56] cheyennee commented on #83153
I found assertionError in torch.nn.Hardtanh if min_val > max_val.

[2022-08-10 07:09] jay746 commented on #83149
The same issue seen on permute and slice as well

[2022-08-10 07:52] qqaatw commented on #83144
Can you please provide a minimal repro?

Also, did you set `batch_first` of LSTM to `True`?

[2022-08-10 07:57] aimen123 opened #83156 "QAT the weights --> [-128, 127] but the relu -->[0, 255] , i can change relu to [-128, 127]?"
### 🐛 Describe the bug

i used (qconfig.py) default_symmetric_qnnpack_qat_qconfig， but   errors
the question :  expected activation data type QUInt8 but got QInt8
why?

### Versions

i used (qconfig.py) default_symmetric_qnnpack_qat_qconfig， but   errors
the question :  expected activation data type QUInt8 but got QInt8
why?

cc @jerryzh168 @jianyuh @raghuramank100 @jamesr66a @vkuzo

[2022-08-10 07:59] aimen123 commented on #47217
@justinchuby  i dont used fx ,i used qdq,     but i konw your means

[2022-08-10 08:08] JF-D opened #83157 "Fail to install torch for source"
### 🐛 Describe the bug

Hi, I try to install PyTorch from source, but I met some error.

Here is the env:
PyTorch-1.11.0 + CUDA10.2 + cudnn7.6.5 + GCC6.5 + CMAKE 3.22.1 + Ubuntu 14.04

I follow the instructions from the README doc, that is
[code]

Log sumary:
[code]

Here is the detailed error log:
https://gist.github.com/JF-D/dc2507af41343e78478261ee10c68aa8

### Versions

[code]

[2022-08-10 08:16] PhilippDahlinger opened #83159 "Expand Learning rate scheduling to any optimization hyperparameter"
### 🚀 The feature, motivation and pitch

I'm developing a new optimizer using the PyTorch optimizer framework. It does not depend on a learning rate, but on a KL-divergence. I would like to schedule other optimization hyperparameters (given in the optimizer config) with the PyTorch scheduler. Right now, the key `lr` is hardcoded inside the schedulers.

I would like to have an option where you can

[2022-08-10 08:20] dominicshanshan commented on #83144
the model is rather complicated, I will try to prepare a short demo on it, but the error was exactly like here (https://github.com/pytorch/pytorch/issues/78429), can take this as reference, due to this error message, is hard for me to infer whether it is a bad nn.LayerNorm or nn.LSTM. For the second question, yes, I indeed set 'batch_first = True'

[2022-08-10 08:23] dominicshanshan commented on #83144
the same script running on v1.12.0 was fine, but just I have manually adjust the result matrix shape from nn.LSTM, mpsbackend() is different than cuDNNbackend()

[2022-08-10 08:37] qqaatw commented on #83144
The problem is that the backward of LSTM on MPS backend has a computational correctness issue that hasn't been resolved yet, and it currently doesn't correctly take care of `batch_first`, which previously happened to the forward as well, which is why you had to manually transpose the resulting matrix of LSTM in `v1.12.0`.

Now, the `batch_first` issue is fixed in the forward pass of LSTM on `v1.12

[2022-08-10 08:39] cheyennee opened #83160 "torch.nn.functional.rrelu_ allows lower bound greater than upper bound"
### 🐛 Describe the bug

torch.nn.functional.rrelu_ allows lower bound greater than upper bound. It doesn't throw exception, and the document has no 'add note' for case lower bound> upper bound.

[code]

Above code works.

### Versions

pytorch: 1.8.1
python: 3.8.3
os: win11

cc @albanD @mruberry @jbschlosser @walterddr @kshitij12345 @saketh-are

[2022-08-10 08:43] jmdetloff commented on #82890
Ah, fastlane times out the keychain after 1 hour https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/setup_ci.rb#L111

All our failed builds took longer than an hour, all our successful ones took less. This seems to be the culprit. We need to pass a timeout param into setup_ci in our fastfile to prevent this. I'll spin up a PR

[2022-08-10 08:43] quyet-seta opened #83161 "Optimize for mobile metal model"
### 🐛 Describe the bug

Traceback (most recent call last):
  File "metal_model.py", line 15, in <module>
    script_model_metal = optimize_for_mobile(script_model, backend='metal')
  File "/anaconda3/envs/metal/lib/python3.8/site-packages/torch/utils/mobile_optimizer.py", line 69, in optimize_for_mobile
    optimized_cpp_module = torch._C._jit_pass_metal_optimize_for_mobile(script_module._c, prese

[2022-08-10 08:50] cheyennee commented on #83160
Same problem was found in torch.nn.functional.rrelu.
[code]

[2022-08-10 08:50] cheyennee commented on #83160
Same problem was found in torch.nn.functional.rrelu.
[code]

[2022-08-10 09:07] cheyennee opened #83163 "torch.nn.functional.log_softmax parameter '_stacklevel' undocumented"
### 📚 The doc issue

The documentation of the very popular torch.nn.functional.log_softmax doesn't explain what _stacklevel is, why it's set to 3 and what to do with it.

### Suggest a potential alternative/fix

_No response_

[2022-08-10 09:16] vadimkantorov commented on #83163
Related: https://github.com/pytorch/pytorch/issues/36524

[2022-08-10 09:16] cheyennee opened #83164 "parameter '_stacklevel' of torch.nn.functional.{softmax|log_softmax} can set to string"
### 🐛 Describe the bug

I'm not sure whether the parameter '_stacklevel' of torch.nn.functional.{softmax|log_softmax} can set to string since the documentation doesn't explain what _stacklevel is, why it's set to 3, what's the type of it and what to do with it.

[code]

[code]

### Versions

pytorch: 1.8.1
python: 3.8.3
os: win11

[2022-08-10 09:32] joshua-xia commented on #71458
@kumpera I am working on this issue and will provide the patch ASAP, Thanks!

[2022-08-10 10:18] yayuntian commented on #7686
I have worked hard to check the problem, comparing the performance of linux

[2022-08-10 10:56] gorkemalgan commented on #76726
Any improvements on this? I am getting the same error on quantized + scripted model. No error on quantized model though

[2022-08-10 11:51] aimen123 commented on #76298
i have a question the same,  i need you help @jerryzh168 @mrshenli @kimishpatel @HDCharles @Kentaro-Mikami

[2022-08-10 11:59] qqaatw commented on #82998
I encountered similar issues previously when VSCode Python debugger was being used and stepped over some lines which are C++ functions wrapped by pybind as yours. I guess it is probably because some objects' pointer ownership is taken by another process, e.g. Python debugger, in order to sniff the content of the objects and cannot be given back.

[2022-08-10 11:59] cheyennee commented on #83163
I want to know whether the value of '_stacklevel' can set to string❓ Even value in documentation is set to 3, I found that when it's set to string, such as "max", these two API works normally.

[code]

[2022-08-10 12:03] cheyennee commented on #83164
Same problem can be found in torch.nn.functional.softmin.
[code]
Above code works

[2022-08-10 12:16] cheyennee commented on #83163
Get it. I think you're right, because just now I found that bool / list or other value could be assigned to _stacklevel. Thank u🥰

[2022-08-10 12:20] cheyennee commented on #83164
From vadimkantorov's response:
I think the essence of the story is that _stacklevel is passed to some warnings.warn(...) function or even is unused now / cast implicitly. So it's not very interesting to inquire about its possible values.

So this parameter can be set to any type.

[2022-08-10 12:20] #83164 closed

[2022-08-10 12:44] nicolas-dufour opened #83168 "deepcopy of LazyLinear fails"
### 🐛 Describe the bug

When running
[code]
the following error is triggered
[code]
This prevents making deepcopy of models before doing forward on one of them

### Versions

Collecting environment information...
PyTorch version: 1.13.0.dev20220725
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: macOS 12.5 (arm64)
GCC version: Could not collect
Clang ver

[2022-08-10 12:58] charliebudd commented on #46460
Bump. I'm building a PyTorch extension which can accept a user's trained model as an argument. It would ideally handle `torch::nn::Module`, and `torch::jit::Module`, but there seams to be no obvious base class or interface that I can find to do so.

[2022-08-10 13:06] taotaobear opened #83169 "torch.nn.functional.softplus / torch.nn.Softplus parameter beta can be set to zero"
### 🐛 Describe the bug

According to the documentation, Softplus(x)=(1/β)∗log(1+exp(β∗x)). Beta is  the denominator. However, I found that beta can be assigned to zero. Is this reasonable?
[code]
[code]
Above code runs.

### Versions

pytorch: 1.8.1
python: 3.8.3
os: win11

[2022-08-10 13:17] bdhirsh commented on #83051
It can still be useful to implement the derivative of backward ops if you want higher order gradients to work.

`CompositeImplicitAutograd` actually implies that your operator should get autograd "for free" - it will treat your kernel as a decomposition, and just run autograd on each of the base operators that the decomposition calls.

There are some restrictions on what `CompositeImplicitAutograd

[2022-08-10 13:47] zou3519 commented on #83023
Was fixed

[2022-08-10 13:47] #83023 closed

[2022-08-10 13:50] ezyang commented on #83163
Let's drop it

[2022-08-10 13:51] ezyang commented on #82983
you might be able to adapt https://github.com/pytorch/pytorch/issues/82296#issuecomment-1198613567 into setting dtypes

[2022-08-10 13:53] ezyang commented on #82944
Try explicitly asking for 0.13, I see recent builds for that in https://download.pytorch.org/whl/nightly/torchaudio/

[2022-08-10 14:10] ejguan commented on #82933
@walkacross Could you please elaborate what Error you have encountered?

[2022-08-10 14:28] taotaobear opened #83175 "torch.nn.GRU runs long time, when num_layers is large"
### 🐛 Describe the bug

When num_layers is 100000, torch.nn.GRU runs more than 5 minutes. Program hangs and doesn't return result.
[code]

### Versions

pytorch: 1.8.1
python: 3.8.3
os: win11

[2022-08-10 14:30] #81557 closed

[2022-08-10 14:32] berlinsaint commented on #76543
I have this problem in debian bullseye-slim, python3.9 , while i changed to ubuntu18.04, the problem disappeared.

[2022-08-10 14:51] albanD commented on #83163
This argument is only used for the depraction warning raised when `dim=None`. Otherwise it is not used and its type is not checked indeed.

Since `dim=None` has been deprecated for 5+ years now (https://github.com/pytorch/pytorch/commit/98e67448fa78bd1bc6f05920ad03efceecc10066), I think it is ok to remove it (and remove the `_stacklevel` arg)

[2022-08-10 14:54] albanD commented on #76543
@berlinsaint which version of PyTorch were you using when you saw this error?

[2022-08-10 14:59] albanD commented on #83015
@kulinseth this looks like the ops are not dependent on each other properly and the equality check is triggered before the end of the non-blocking copy.

[2022-08-10 15:08] rohan-varma commented on #82641
@zhaojuanmao given the way DDP is initialized `model = torch.nn.parallel.DistributedDataParallel(model, device_ids=[args.gpu])`, this shouldn't invoke _DDPSink right? We currently only pass it through when find_unused=True or static_graph=True?

[2022-08-10 15:16] rohan-varma commented on #82641
https://github.com/pytorch/pytorch/pull/68779/files seems _slightly_ suspicious, will take a look at it

[2022-08-10 15:58] atalman commented on #82913
@malfet @ezyang
Is following driver acceptable to validate minor version compatibility, running on Tesla M60 on Linux :
| NVIDIA-SMI 470.82.01    Driver Version: 470.82.01    CUDA Version: 11.4     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|

[2022-08-10 16:12] IvanYashchuk commented on #82813
I don't have a specific need for this, just pointing out the case when it happens.
`TorchRefsMode` is fine but very similar to it `TorchRefsNvfuserCapabilityMode` crashes.

[2022-08-10 16:33] NicolasNierenbergPersyst opened #83180 "On Mac M1 MPS Conv2d produces different result than cpu when stride is different in two dimensions"
### 🐛 Describe the bug

import copy
import torch
y = torch.randn(1, 1, 3, 6)
conv = nn.Conv2d(in_channels=1, out_channels=1, kernel_size=3, stride=(1,2))
gpuconv = copy.deepcopy(conv).to(device='mps')
x = conv(y)
print (x)
ygpu = y.to(device='mps')
xgpu = gpuconv(ygpu)
print(xgpu)
print(torch.isclose(x, xgpu.to(device='cpu'),  rtol=1e-03, atol=1e-05)

### Versions

Collecting environment informati

[2022-08-10 16:35] rohan-varma commented on #82641
The change in https://github.com/pytorch/pytorch/pull/68779/files is indeed breaking this, I'll add a fix to revert the relevant snippet.

[2022-08-10 17:26] wconstab commented on #82286
IIRC we wanted to make the behavior of lazy IR match aten, which means keeping values like -1 in the IR instead of canonicalizing them.

In the TS backend this should work fine becuase we should be able to pass -1 into an op in TS interpreter and it should understand what to do with the negative value.

If that is all correct so far, then I would ask if XLA can call the canonicalization helper at

[2022-08-10 17:29] #82966 closed

[2022-08-10 17:32] jjsjann123 commented on #82858
^^^ FYI, the torchdynamo issue does repro on our nightlies, but has been fixed in the lastest devel branch for nvfuser last week and I just verified that we have it patched in our latest upstream push #83067
cc'ing @yushangdi

[2022-08-10 17:39] DenisVieriu97 commented on #83144
@dominicshanshan could you please try a newer version of PyTorch, such as the latest nightly? If using pip, you can use: `pip3 install --pre torch --extra-index-url https://download.pytorch.org/whl/nightly/cpu` to get the latest nightly build.

[2022-08-10 17:41] #82969 closed

[2022-08-10 17:50] wili-65535 commented on #707
The EXACTLY same problem I meet (during installing caffe2)

[2022-08-10 17:53] vadimkantorov commented on #68332
Related: https://github.com/pytorch/pytorch/issues/83159 if pure, closed-form functions for schedules are implemented, they already can be reused for other parameters than lr. Later on, it would make it simpler to experiment on a unifying design for different schedulers

[2022-08-10 17:56] JackCaoG commented on #82286
@wconstab This is a fair point, I think I should be able to call this function in lowering time. Let me try that and reply here.

[2022-08-10 17:59] Mirian-Hipolito commented on #30723
Is this bug expected to be solved?

[2022-08-10 18:08] rohan-varma commented on #83074
Thanks for filing this issue!

Would it be possible to get a minimal repro (DDP unused params + module + checkpoint + detach) that raises the error that you're seeing?

Assuming that you're using `torch.utils.checkpoint.checkpoint` for checkpointing, you could consider passing `use_reentrant=False` flag into checkpoint function: https://github.com/pytorch/pytorch/blob/a58876ace78df1cfeb136cad59248

[2022-08-10 18:13] rohan-varma commented on #83052
@awgu Not sure - I understand we don't support shared params wrapped in different FSDP units, but we should probably have a different error than this which makes it very hard to root cause what the issue is and provides a poor UX.

[2022-08-10 18:16] rohan-varma commented on #82851
Do we support `distributed.nn.functional.*` APIs officially?

[2022-08-10 18:19] rohan-varma commented on #82963
This seems like a bug in FSDP where we don't propagate kwargs: https://github.com/pytorch/pytorch/blob/a58876ace78df1cfeb136cad592487f34d7e02f1/torch/distributed/fsdp/fully_sharded_data_parallel.py#L2316, so we should be able to have a quick fix from our side.

Although, one workaround could be to pass in strict as an arg instead of kwarg:

[code]

which is not great for readability, but would be

[2022-08-10 18:21] #79511 closed

[2022-08-10 18:22] rohan-varma commented on #82932
As @ngimel mentioned, we are recommending use of `DistributedDataParallel` over `DataParallel`. Could you please try `DistributedDataParallel` for your workload and let us know if you face any issues?

[2022-08-10 18:50] swolchok commented on #76726
I'm not particularly familiar with the JIT.

[2022-08-10 19:23] #82832 closed

[2022-08-10 19:24] yushangdi commented on #82858
Thanks!

[2022-08-10 19:24] #82858 closed

[2022-08-10 19:25] kulinseth commented on #82543
@DenisVieriu97, can you please take a look?

[2022-08-10 19:25] wangkuiyi opened #83193 "module 'torch.distributed' has no attribute 'pipeline' - macOS, PyTorch 1.12.1"
### 🐛 Describe the bug

On macOS 12.5, I installed PyTorch 1.12.1 using Miniconda.

The following referring to class `Pipe` raised an exception `AttributeError: module 'torch.distributed' has no attribute 'pipeline`.

[code]

However, the following works

[code]

And the following works too.

[code]

### Versions

macOS 12.5

Python 3.10.5 | packaged by conda-forge

PyTorch 1.21.1 installed using

[2022-08-10 19:27] #83138 closed

[2022-08-10 19:59] kit1980 commented on #82443
Any updates on this?
DynamicQuantModule in iOS simulator tests is still not running, it's better to be able to re-enable it soon to prevent regressions.

[2022-08-10 20:00] neil3706 opened #83196 "PixelShuffle is very slow on MPS compared to ConvTranspose2d and PixelShuffle on cuda"
### 🐛 Describe the bug

I changed the decode layers of a CNN to use pixel shuffle instead of transpose_conv2d. The model immediately took 3x longer to run. GPU usage was still high and there was no warning about fallback to using the CPU. I recently starting training the CNN remotely using coda and saw a reduction in training by 66%. The only conclusion is that there is a problem with the MPS impl

[2022-08-10 20:00] rohan-varma opened #83197 "Check support of FSDP + set_materialize_grads(False)"
### 🐛 Describe the bug

We should investigate whether FSDP will work well or any assumptions break with custom functions and setting `ctx.set_materialize_grad(False)` for undefined / None gradients: https://pytorch.org/docs/stable/generated/torch.autograd.function.FunctionCtx.set_materialize_grads.html#torch.autograd.function.FunctionCtx.set_materialize_grads.

In particular, some assumptions arou

[2022-08-10 20:21] #82890 closed

[2022-08-10 20:51] redmagnos commented on #83063
Is there a reason why this and #83071 are separate issues? Also, running this locally what I get is:

[code]

So it seems like this has already been fixed in some later version of PyTorch than 1.8.1?

[2022-08-10 21:40] #82888 closed

[2022-08-10 21:51] lxuechen opened #83204 "Enable freezing parts of the model in Fully Sharded Data Parallel"
### 🚀 The feature, motivation and pitch

Due to how `FlattenParamsWrapper` is used in the current FSDP implementation, there doesn't seem to be a straightforward way to shard a parameter which doesn't need to be optimized.

The particular use case I'm aiming at is where one shards the whole model's parameters to save memory, while only computing gradients for a small subset of parameters.

### Alt

[2022-08-10 22:06] malfet commented on #82969
We should just use basic ubuntu image, for example https://hub.docker.com/layers/ubuntu/library/ubuntu/bionic/images/sha256-e4771b7160543c6e43968b4e9795be9ddcad9d573edd7cd7aebd3ce61326fc7a?context=explore

[2022-08-10 22:10] #77507 closed

[2022-08-10 22:12] awgu commented on #83204
Hi @lxuechen!

For the small subset of parameters that need gradients, are they in a small subset of the _modules_, or are they spread across many modules? If they are in a small subset of modules, with today's FSDP, you may be able to wrap those modules together in one `FullyShardedDataParallel` instance and set `requires_grad=False` for the FSDP's `FlatParameter`. If they are spread across many

[2022-08-10 22:15] cantonios commented on #80770
We at TensorFlow are having similar discussions.  The issue with defining the gradient to return a non-zero when x is zero is that it somewhat defeats the purpose of having a `xlogy` function in the first place (as opposed to using `x * log(y)`).

The main benefit of `xlogy` is that if `x == 0` and `y <= 0`, the output is still safe (i.e. not `NaN`).  If you change the gradient to return `log(y)`

[2022-08-10 22:20] AtilaSaraiva commented on #82627
I'd like to listen to the opinion of the pytorch team about this problem.

[2022-08-10 22:21] ezyang opened #93807 "[VDD] unique_by_key from _embedding_bag_dense_backward isn't blocklisted by CUDA graphs"
repro:

[code]

Fails with

[code]

Relevant backtrace:

[code]

cc @mcarilli @soumith @msaroufim @wconstab @ngimel @bdhirsh @voznesenskym @yanboliang @penguinwu @anijain2305 @EikanWang @jgong5 @Guobing-Chen @XiaobingSuper @zhuhaozhe @blzheng @Xia-Weiwen @wenzhe-nrv @jiayisunx @desertfire

[2022-08-10 22:21] lxuechen commented on #83204
There're unfortunately spread out in multiple modules.

I can understand how this is extends the current implementation, but it's a little unfortunate one'd still need to materialize the entire grad due to using FlatParameter.

[2022-08-10 22:31] JackCaoG commented on #82286
Moving `GetCanonicalDimension` to lowering phases works for me, I think we can close this issue since it is by design.

[2022-08-10 22:31] #82286 closed

[2022-08-10 22:31] JackCaoG commented on #82286
@wonjoolee95 FYI, when encounters one of ops listed in https://github.com/pytorch/pytorch/issues/82286#issuecomment-1198776854, we need to move `GetCanonicalDimensionIndices` call from `tensor_method.cpp` to corresponding lowering function.

[2022-08-10 22:34] jerryzh168 opened #83211 "Making quantizable LSTM scriptable"
### 🐛 Describe the bug

Currently it errors out in https://github.com/pytorch/pytorch/blob/master/torch/nn/quantizable/modules/rnn.py#L355, wondering if it can be supported in `torch.jit.script` and how much effort is this.

### Versions

master

[2022-08-10 22:36] jerryzh168 commented on #83211
Current error message:
![290595222_1423197471513165_6755654785440789984_n](https://user-images.githubusercontent.com/4958441/184032285-6a0675d0-a201-474d-a387-7b260df23e7d.png)

[2022-08-10 22:37] pengzhangzhi commented on #83074
Thanks. Would you like to explain the reason here? why this incompatibility occurs? How this argument help solve the error?

[2022-08-10 22:46] lxuechen commented on #83204
@awgu

I just read through your [sketch](https://github.com/awgu/views/blob/753e4b9641407072e9e5af212ad23b2e90fa0cdf/views.py).

It seems the lazy sol'n to the "freezing parts of the model" problem is really just to record the right offsets so one'd be able to index the right slices when performing updates (and zero'ing out the other slices which don't require grads, or just zero'ing out the grads

[2022-08-10 22:53] SherlockNoMad opened #83214 "torchgen.model.FunctionSchema.parse fails with following ops' schema"
### 🐛 Describe the bug

Is this expected?
Do we want to handle following case?

[code]

### Versions

master

[2022-08-10 22:56] cheyennee commented on #83063
Because they belongs to different torch module😂. #83063 belongs to torch.nn module, while #83071 belongs to torch.nn.functional module. Some issues occur in only one module for API with the same functionality. Anyway, what's pytorch version do you use?

[2022-08-10 23:01] amjames commented on #83032
Could you provide a full reproduction for this?

I tried this out and as you call `to_dense` in `forward` there shouldn't be any issue. Without that transformation there are issues with the backward pass, but not forward.

[2022-08-10 23:05] redmagnos commented on #83063
Oh I'm blind, yeah I see now that they're different titles.

I'm using version 1.12.0.

[2022-08-10 23:07] nikitaved commented on #83032
@vgutta, could you also file a feature request for compressed formats support in convolutions?

[2022-08-10 23:11] samgelman commented on #78490
I'm still getting this problem with 1.12.1. The workaround `KMP_DUPLICATE_LIB_OK=TRUE` causes a segfault for me. Going to stick with 1.11 until it gets resolved.

[2022-08-10 23:21] davidberard98 commented on #83211
@jerryzh168 I think this expression can be rewritten to be scriptable like this:

e.g., this fails:
[code]

and this scripts successfully:
[code]

[2022-08-10 23:23] cheyennee commented on #83063
Get it. Would you mind helping me to verify whether the bug #83071 is fixed in version 1.12.0?🥺

[2022-08-10 23:26] awgu commented on #83204
The challenge with computing per-original parameter gradients comes from autograd.

The current implementation relies on the `FlatParameter` being the base `Tensor` involved in autograd, and each original parameter is a view into the `FlatParameter`, propagating its gradient into the `FlatParameter`'s gradient. This is useful in giving FSDP the right time to schedule the reduce-scatter since the `

[2022-08-10 23:42] #82331 closed

[2022-08-10 23:48] redmagnos commented on #83063
It seems fixed too, yeah.

[2022-08-10 23:48] redmagnos commented on #83071
This is fixed at least as of version 1.12.0.

[2022-08-10 23:57] lxuechen commented on #83204
I think having something like option 1 could be extremely helpful. Thanks for writing up the options here.

[2022-08-10 23:59] cheyennee commented on #83063
Oh, thanks😊

[2022-08-10 23:59] #83063 closed

[2022-08-10 23:59] #83071 closed

[2022-08-11 00:15] jerryzh168 commented on #83211
that's great, thanks a lot, we'll try

[2022-08-11 00:16] cheyennee opened #83221 "torch.nn.InstanceNorm1d doesn't verify the value type of parameter num_features"
### 🐛 Describe the bug

Parameter 'num_features' is the number of features or channels C of the input. However, I found that num_features can be set to negative integral / string / list and other type value. torch.nn.InstanceNorm1d doesn't verify whether the value of num_features and input channels are equal. On the contrary, torch.nn.InstanceNorm{2|3}d verify the value of num_features.
[code]
Abo

[2022-08-11 00:35] AllenTiTaiWang commented on #82870
I was expecting an easy reproducible code that I can target the problem quickly, and get to know what's going on with this model. Could you maybe extract the CumSum part of code, and use it as a small model that can reproduce this error?

Also, if their repo claims the converter works, could you maybe also raise an issue in their repo? They should be able to target on the whole model.

[2022-08-11 00:45] pengzhangzhi commented on #83074
I follow your instruction and it works for few iterations. Then I run into this error that I can't even understand.

[code]

For your information, I include part of the training code here.
[code]

[2022-08-11 00:54] collinmccarthy commented on #28206
Is there any work-around for this right now? Trying to use this with detectron2 and the input is a dictionary of meta-data:

```Tracer cannot infer type of ({'file_name': '/home/user/data/cityscapes/leftImg8bit/train/jena/jena_000013_000019_leftImg8bit.png', 'height': 1024, 'width': 2048, 'image': tensor([[[ 37,  35,  34,  ...,  34,  35,  38],```

[2022-08-11 00:57] piglaker commented on #82461
I had the same problem.

[2022-08-11 00:57] AllenTiTaiWang commented on #82724
Tested on nightly, and error stands.

[2022-08-11 01:26] cheyennee commented on #83221
I found similar problem on torch.nn.InstanceNorm{2|3}d.
When affine is true, if num_features is not int value, torch.nn.InstanceNorm3d will throw typeerror message. However, when affine is false, if num_features is not int value, torch.nn.InstanceNorm3d runs well.
[code]
[code]
[code]
[code]

[2022-08-11 01:45] cheyennee commented on #83221
[LayerNorm](https://pytorch.org/docs/master/generated/torch.nn.LayerNorm.html#torch.nn.LayerNorm) applies elementwise affine transform, while [InstanceNorm2d](https://pytorch.org/docs/master/generated/torch.nn.InstanceNorm2d.html#torch.nn.InstanceNorm2d) usually don’t apply affine transform. So if the affine is false, num_features value doesn't matter. Can documentation describe it more clearly wh

[2022-08-11 02:10] lxuechen commented on #83204
@awgu Speaking of the sketch, do you have a newer sketch where optimizers could take in regular parameters (not the flat ones)?

I just want something quick'n dirty that I could iterate on for a moving project.

Given that, sol'n 1 doesn't seem tremendously challenging to hack up, and I can also help with implementing it.

[2022-08-11 02:34] guangyey commented on #83051
Hi @bdhirsh , thanks for your elaborations.
Can we have this change in the master code?
Actually, we would like to implement these ops' backward on our XPU backend.

[2022-08-11 02:56] philipturner commented on #77764
To everyone I'm about to ping, please mind the long off-topic comment. Could there be a spinoff thread for people who see value in FP64 operations? It might not be 100% centered around PyTorch, but I would think it's still a worthy discussion.

Why:

I was contemplating a future project to emulate FP64 precision on Apple GPUs, possibly using FP64 dynamic range with FP32 precision just like Nvidia'

[2022-08-11 03:00] cheyennee opened #83224 "parameter 'padding' of torch.nn.MaxPool1d can be set to negative integral"
### 🐛 Describe the bug

Parameter 'padding' of torch.nn.MaxPool1d must be >= 0 and <= kernel_size / 2 in documentation. However, I found that negative integral can be set to torch.nn.MaxPool2d.

[code]
Above code works.

### Versions

pytorch: 1.8.1
python: 3.8.3
os: win11

cc @albanD @mruberry @jbschlosser @walterddr @kshitij12345 @saketh-are

[2022-08-11 03:09] cheyennee commented on #83224
But if padding is set to negative integral, torch.nn.functional.max_pool1d will throw runtimeerror message. #max_pool1d() padding must be non-negative, but got -1

[code]

[2022-08-11 03:10] Jack47 commented on #83148
so we want cuda graph support capture: CUDAGeneratorImpl::current_seed

[2022-08-11 03:11] aimen123 opened #83227 "QAT the bias is the int32, how to set the int8?"
### 🐛 Describe the bug

i try to do quantization, the weight is int8 ,but the bias is int32, i want to set the bias ---> int8, what i need to do ?
thanks

### Versions

help me, thanks

cc @jerryzh168 @jianyuh @raghuramank100 @jamesr66a @vkuzo

[2022-08-11 03:51] pytorch-bot[bot] opened #83228 "DISABLED test_profiler_experimental_tree_with_memory_and_stack (__main__.TestProfilerTree)"
Platforms: linux, asan

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_profiler_experimental_tree_with_memory_and_stack&suite=TestProfilerTree&file=test_profiler_tree.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7776923545).

Over the past 3 hours, it has been determined flaky in 1 workf

[2022-08-11 03:55] cheyennee opened #83229 "torch.nn.MaxUnpool2d get negative size tensor"
### 🐛 Describe the bug

When the kernel_size is negative, torch.nn.MaxUnpool2d will output negative size tensor.
In torch.nn.MaxUnpool3d, if the kernel_size is <=0, the program will die, ctrl+c cannot quit and have to force to kill the program.
[code]

[code]

### Versions

pytorch: 1.8.1
python: 3.8.3
os: win11

[2022-08-11 04:33] dominicshanshan commented on #83144
yep, but can i choose to build the nightly version from `conda install pytorch torchvision torchaudio -c pytorch-nightly`? since I use conda env to do the MPS testing, if yes, then I will try and report back! appreciate you help

[2022-08-11 05:03] walkacross commented on #82933
hi @ejguan , here is the error
[code]

[2022-08-11 05:30] NicolasNierenbergPersyst opened #83230 "ONNX export is incorrect on Apple Silicon M1 MPS"
### 🐛 Describe the bug

@onnxbot

On the onnx site they asked me to post this here.

In the specific case of a PyTorch model with a Conv2d and a BatchNorm2d if onnx export is run on an M1 GPU mps model then a subsequent forward using onnx will not match a forward in PyTorch. If the same model is on the CPU or on CUDA then the export will produce a model that matches PyTorch. Note that PyTorch forw

[2022-08-11 05:41] pacman100 commented on #82963
Hello, Thank you for the reply and suggestion for bypassing the issue, as per https://github.com/huggingface/transformers/issues/18511#issuecomment-1211512941, the above workaround works. As a long-term thing, it would be great to have the FSDP function match the API of PyTorch for better interoperability.

[2022-08-11 05:42] lxuechen commented on #83204
By the way, reading through your example again, I think I understand how it works.

Here are a couple of questions:
- Is it always necessary to create a `.grad` with all zeros [here](https://github.com/awgu/views/blob/753e4b9641407072e9e5af212ad23b2e90fa0cdf/views.py#L115)
- I haven't thought deeply, but your example should work with gradient accumulation, right? Do you see any potential gotchas?

[2022-08-11 06:08] lessw2020 opened #83231 "torch.addcdiv_ != torch.addcdiv (in place addcdiv_ ensures higher precision vs out of place addcdiv)"
### 🐛 Describe the bug

While working on stochastic rounding for bfloat16 optimizer, started seeing very aberrant behaviour that ultimately came down to the following difference:

[code]

is very different than:
[code]

In reviewing the code, found this special exception:
<img width="1084" alt="addcdiv_upscale" src="https://user-images.githubusercontent.com/46302957/184072891-f0f152b6-0576-4250-b7

[2022-08-11 06:13] cheyennee opened #83232 "torch.nn.PixelShuffle error message wrong"
### 🐛 Describe the bug

There is something wrong in torch.nn.PixelShuffle's error message. It seems that the result is overflow.

[code]
Above code outputs: RuntimeError: pixel_shuffle expects its input's 'channel' dimension to be divisible by the square of upscale_factor, but input.size(-3)=256 is not divisible by 7766279631452241920.

But actually the error message should be RuntimeError: pixel_

[2022-08-11 06:24] berlinsaint commented on #76543
1.10.0+cu102

[2022-08-11 06:48] voznesenskym opened #93619 "Enable pyre"
I had an unused variable in a PR today, pyre (https://github.com/facebook/pyre-check) would have caught it

cc @ezyang @msaroufim @wconstab @bdhirsh @anijain2305 @zou3519 @penguinwu @EikanWang @jgong5 @Guobing-Chen @XiaobingSuper @zhuhaozhe @blzheng @wenzhe-nrv @jiayisunx @chenyang78 @aakhundov @kadeng @soumith @ngimel

[2022-08-11 07:07] thistlillo commented on #51344
The problem is not windows. My dataloader freezes on linux.

[2022-08-11 07:19] cheyennee opened #83234 "torch.nn.ReplicationPad{1|2}d supports more input dimension than are written on documentation"
### 📚 The doc issue

torch.nn.ReplicationPad1d supports (C,W) or (N, C, W) input, and needs a int or 2-tuple padding on the documentation. That is to say, torch.nn.ReplicationPad1d only supports 2D or 3D tensor.

torch.nn.ReplicationPad2d supports (C,H,W) or (N, C, H,W) input, and needs a int or 4-tuple padding on the documentation. That is to say, torch.nn.ReplicationPad2d only supports 3D or 4D

[2022-08-11 07:51] vedantroy commented on #27072
Would also be useful for me.
My specific use-case: Sometimes when testing 2 implementations against each other, you want to write deterministic tests. This would help w/ that use-case.

[2022-08-11 08:12] cheyennee opened #83238 "The type of parameter 'p' in torch.nn.TripletMarginLoss wrong"
### 📚 The doc issue

Parameter 'p' of torch.nn.TripletMarginLoss is int value on the documentation parameter part. However, in source code, p's type is float. By running code, it can be proved that parameter 'p' supports float value.

[code]
Above code works.

### Suggest a potential alternative/fix

_No response_

[2022-08-11 08:34] taotaobear opened #83241 "torch.nn.TripletMarginLoss margin can be less than 0"
### 🐛 Describe the bug

Parameter _margin_ of torch.nn.TripletMarginLoss is a value greater than 0 on documentation. However, when its value is less than 0, this API also works.
[code]

### Versions

pytorch: 1.8.1
python: 3.8.3
os: win11

cc @albanD @mruberry @jbschlosser @walterddr @kshitij12345 @saketh-are

[2022-08-11 08:51] vadimkantorov commented on #69364
Recent CUDA quantized ops https://twitter.com/Tim_Dettmers/status/1557343499225219072 by @TimDettmers open-sourced at https://github.com/facebookresearch/bitsandbytes and https://github.com/TimDettmers/bitsandbytes

@ezyang maybe these could be upstreamed

[2022-08-11 09:00] vadimkantorov commented on #83211
Is this also equivalent to `flatten(end_dim = -3)`?

[2022-08-11 09:01] vadimkantorov commented on #71403
Related: https://github.com/pytorch/pytorch/issues/83211#issuecomment-1211393484

[2022-08-11 09:18] axjing commented on #50089
Encountered the same problem, please ask you to solve it

[2022-08-11 09:23] LSTM-Kirigaya opened #83243 "RPC: wait method of Future object return 0 sometimes in rpc framework"
### 🐛 Describe the bug

I attempt to compare the performance between `rpc_sync()` and `rpc_async()`  of PyRRef object. The call of `PyRRef.rpc_async()` will return a RRefProxy object and the call of `RRefProxy.forward(x)` will return a torch.Future object. I can call wait method of Future to get the real data. But I found the return value of wait method can sometimes be zero, which is quite confus

[2022-08-11 09:25] cheyennee opened #83244 "torch.nn.Upsample's error message is inconsistent with the documentation"
### 🐛 Describe the bug

Problem 1:
Parameter 'scale_factor' shoule be float or tuple[float] on documentation. However, when I set list to 'scale_factor', the error message shows that 'scale_factor' must be a string or a number which cannot match the documentation.
[code]

Problem 2:
It's written on documentation that if 'scale_factor' is tuple, it has to match input size. That is to say, if input

[2022-08-11 09:30] linchundan88 opened #83245 "During DDP training timm densenet121, mobilenetv2(v3) models do not save state_dict correctly."
### 🐛 Describe the bug

During DDP training timm densenet121, mobilenetv2(v3) models do not save state_dict correctly.
 After load the stat dicts, the model do not act well.  However, when using torch.save save the model, it works well.

### Versions

both 1.11, 1.12 and 1.12.1

[2022-08-11 09:40] linchundan88 commented on #83245
However, other models such timm resnet50, inception-v3,xception, etc work well with DDP torch.save with save_dicts.
I do not know it is related to timm or pytorch.

[2022-08-11 09:43] pytorch-bot[bot] opened #83246 "DISABLED test_profiler_experimental_tree_with_record_function (__main__.TestProfilerTree)"
Platforms: linux, rocm

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_profiler_experimental_tree_with_record_function&suite=TestProfilerTree&file=test_profiler_tree.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7780518801).

Over the past 3 hours, it has been determined flaky in 2 workfl

[2022-08-11 09:43] pytorch-bot[bot] opened #83247 "DISABLED test_scalar_ins (__main__.TestTorchTidyProfiler)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_scalar_ins&suite=TestTorchTidyProfiler&file=test_profiler.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7780889848).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 1 red and 1 green.

cc @robieta

[2022-08-11 10:23] aimen123 commented on #83227
please help me, i dont do it

[2022-08-11 10:25] Oriient-Michael opened #83250 "Using Pytorch and Mapbox in the same project"
Hello,

I'm trying to use Mapbox and Pytorch together in the same Android project but I receive this compilation error:
2 files found with path 'lib/arm64-v8a/libc++_shared.so' from inputs:
 - /Users/eyalamir/.gradle/caches/transforms-3/39574a221961eb18fa9deadbee69fea4/transformed/common-22.1.0/jni/arm64-v8a/libc++_shared.so
 - /Users/eyalamir/.gradle/caches/transforms-3/c73fb4c1d8f48b7cbb206e3106

[2022-08-11 10:48] IvanYashchuk opened #83251 "make_fx doesn't capture symbolically boolean values returned by torch calls"
### 🐛 Describe the bug

`torch.allclose` returns True/False that doesn't work well with `make_fx` tracing leading to silent incorrect computations.
[code]

### Versions

Latest master.

cc @ezyang @SherlockNoMad @zou3519 @Chillee @samdow

[2022-08-11 11:47] cheyennee commented on #83244
Same problem was found in torch.nn.UpsamplingBilinear2d. Parameter 'scale_factor' shoule be float or tuple[float] on documentation. However, when I set list to 'scale_factor', the error message shows that 'scale_factor' must be a string or a number which cannot match the documentation.
[code]

[2022-08-11 12:11] Panter7777 commented on #77851
Still get the error
MetalPerformanceShaders/MPSCore/Types/MPSNDArray.mm:782: failed assertion `[MPSNDArray, initWithBuffer:descriptor:] Error: buffer is not large enough. Must be 135266304 bytes

torch                     1.13.0.dev20220811
torchaudio            0.13.0.dev20220811
torchmetrics         0.9.3
torchvision            0.14.0.dev20220811
tokenizers             0.10.3

MacOS: 12.5
Chip:

[2022-08-11 12:12] cheyennee commented on #83234
I found the same problem in torch.nn.ZeroPad2d. torch.nn.ZeroPad2d supports (C,H,W) or (N, C, H,W) input, and needs a int or 4-tuple padding on the documentation. That is to say, torch.nn.ReplicationPad2d only supports 3D or 4D tensor.

After running code, I find that torch.nn.ZeroPad2d also supports 5D tensor with 4-tuple padding.

[code]

[2022-08-11 12:22] w-arrior commented on #74016
Hi, I train my dataset use yolov5v6.1 in my windows system and the torch version==1.11.0, I meet  meet the same error only when I set --image-weights == True , if  set --image-weights == False, there is no error. I don't downgrate the torch version only set --workers == 0, there is no error any longer.

[2022-08-11 12:43] glenn-jocher commented on #74016
@w-arrior AttributeError: 'NoneType' object has no attribute '_free_weak_ref' is a torch issue that should be resolved in torch>=1.12.0

[2022-08-11 13:14] malfet commented on #77851
@Panter7777 can you share a minimal reproducer? I've fixed the problem in few ops, but it might remain in others

[2022-08-11 13:24] zou3519 commented on #83251
Possible ideas:
- we change allclose to return a Tensor instead of a boolean
- `make_fx` raises an error when it sees allclose due to it being "dynamic" -- it is data dependent

[2022-08-11 13:31] 1enn0 opened #83255 "Static initialization issue when building LibTorch (CPU) as static lib on Windows"
### 🐛 Describe the bug

When compiling LibTorch as a static lib (`BUILD_SHARED_LIBS=OFF`) on Windows 11, there is an issue with the static initialization.  Here is a small example how to reproduce this issue:

### Create Conda env
[code]

### Build LibTorch and e.g. `op_registration_test`

For simplicity, we are building LibTorch (CPU only, without MKL etc.) and a single test target from the `Caff

[2022-08-11 13:32] elifriedman opened #83256 "F.batch_norm uses unbiased estimator but documentation says biased estimator"
### 📚 The doc issue

The documentation for [F.batch_norm](https://pytorch.org/docs/stable/generated/torch.nn.functional.batch_norm.html?highlight=batch_norm#torch.nn.functional.batch_norm) claims that it uses the biased estimator:

However, a simple test shows that it actually uses the unbiased estimator:

[code]

### Suggest a potential alternative/fix

Update the documentation for [BatchNorm1D](

[2022-08-11 13:37] antoniojkim opened #83257 "PyYAML not listed as a dependency"
### 🐛 Describe the bug

`torchgen` is now packaged with the rest of `torch`. Seeing as `torchgen` requires the `yaml` module, it seems like a bug that its not listed as a install requirement
https://github.com/pytorch/pytorch/blob/beceb8b92f030b19a0ea48ab9ae0def8f554e7f3/setup.py#L440-L443

In fact, there is a check in the `setup.py` that will raise an error if `yaml` is not installed
https://gith

[2022-08-11 13:38] antoniojkim commented on #83257
Related issue in Torch-MLIR: https://github.com/llvm/torch-mlir/pull/1174

[2022-08-11 14:15] berlinsaint commented on #76543
ok , i have a try...

[2022-08-11 14:25] Oriient-Michael commented on #83250
Mapbox support provided a solution: https://github.com/mapbox/mapbox-maps-android/issues/1579

[2022-08-11 14:29] andrewor14 commented on #83211
Related issue: https://github.com/pytorch/pytorch/issues/75042

[2022-08-11 14:40] jbschlosser commented on #83063
out of curiosity, why run this fuzzer on such an old version of PyTorch :p

[2022-08-11 14:42] albanD commented on #77764
@philipturner feel free to open a new issue if you want to discuss FP64 support but please avoid off-topic messages on existing issues (especially ones that are already very busy). Thanks!

[2022-08-11 14:43] happened commented on #76543
# build

g++ -fext-numeric-literals -std=c++14 -fPIC -Wno-attributes  -g -O0 -o  output wrapper.cpp -I. -I/home/include -I  /usr/local/include/python3.9/  -L/usr/local/lib/ -L. -lpthread -lpython3.9

# run
./output

torch success <module 'torch.version' from '/usr/local/lib/python3.9/site-packages/torch/version.py'>
1.12.0+cu102
iteration: 1 thread: 140021118811008
thread done
free(): invalid poin

[2022-08-11 14:56] ezyang commented on #83251
Data dependent access is supposed to be caught by:

[code]

I guess we should add allclose here.

[2022-08-11 15:14] orionr commented on #28206
If you want to bring in some of the changes @lanpa did for tensorboardX to `torch.utils.tensorboard` we'd look for the contributions! cc @Reubend to see if he has anything to add as well.

[2022-08-11 15:31] philipturner opened #83264 "Emulating FP64 or higher precisions on Apple silicon"
Spinoff of https://github.com/pytorch/pytorch/issues/77764#issuecomment-1211503363 as requested by @albanD:

---

This might not be 100% centered around PyTorch, but I would think it's still a worthy discussion.

I was contemplating a future project to emulate FP64 precision on Apple GPUs, possibly using FP64 dynamic range with FP32 precision just like Nvidia's TF32/TF19 does (to get reasonable pe

[2022-08-11 15:33] awgu commented on #80872
As a follow-up to this, we should fix the warnings in `test_fsdp_clip_grad_norm.py`, e.g.:
[code]

[2022-08-11 15:43] ezyang commented on #79967
https://github.com/albanD/subclass_zoo/blob/main/deferred_init.py is a start for how you might try doing this

[2022-08-11 15:45] #82889 closed

[2022-08-11 16:02] rohan-varma opened #83266 "[FSDP] Incorrect CPU offload check always offload total_norm tensor to CPU in clip_grad_norm"
### 🐛 Describe the bug

This check: https://github.com/pytorch/pytorch/blob/a395f6e842f94fd1cbe6a334b1658f4dd31f5b8e/torch/distributed/fsdp/fully_sharded_data_parallel.py#L3648 is basically just a truthiness check, but the right way to check CPU offload is `self.cpu_offload.offload_params`, `self.cpu_offload` is always truthy.

As a result, `total_norm` tensor is always on CPU. I think this means

[2022-08-11 16:02] rohan-varma commented on #83266
cc @fduwjj

[2022-08-11 16:03] swolchok commented on #79813
@yuguo68 in what way does it seem problematic? https://github.com/pytorch/pytorch/commit/4d8fc8693cbce0693cd4e278fb3eca0cd57d8976 directly extracted it from to().

[2022-08-11 16:06] vadimkantorov commented on #79967
Maybe online quantization as in https://twitter.com/Tim_Dettmers/status/1557343499225219072 https://github.com/pytorch/pytorch/issues/69364#issuecomment-1211713774 can be nicely implemented with this future feature

[2022-08-11 16:34] ArmageddonKnight commented on #80851
@jjsjann123 Sorry for bothering you again, but may I know whether there is any update on this bug? Thank you.

[2022-08-11 16:36] redmagnos commented on #83062
This seems to have been fixed at least as of version 1.12.0:

[code]

Making the second argument positive also returns an error:
[code]

[2022-08-11 16:52] jjsjann123 commented on #80851
Oops, totally forgot about this one. Thanks for the reminder~~

I was trying to see if there's any Meta folks that can help us with Autodiff issue. Let me ping @ngimel  to see if she can point us to the right person.

[2022-08-11 17:00] ngimel commented on #80851
@eellison is the correct person for autodiff issues.

[2022-08-11 17:02] dbl001 opened #83270 "Issue with torch.utils.data.DataLoader 'shuffle=True'"
### 🐛 Describe the bug

When 'shuffle=True' the accuracy of my Resnet50 predictions drops dramatically.
The problem occurs with 'mps' backend as well as the 'cpu' device. With 'batch_size = 1' there is no problem.
When the 'batch_size' is > 1, it appears the order of the predictions (-vs- labels) is sometime reversed.
I am using Resnet50 with the 'shared_interest' Jupyter notebook on github.

http

[2022-08-11 17:04] csarofeen commented on #75903
@zasdfgbnm could you confirm that this issues is now fixed with the new transform propagation in nvFuser?

[2022-08-11 17:19] csarofeen commented on #77709
@davidberard98 can we close this issue now?

[2022-08-11 17:21] csarofeen commented on #79325
I believe this is the same as https://github.com/csarofeen/pytorch/issues/1843

[2022-08-11 17:23] zasdfgbnm commented on #75903
Yes, this is fixed on the nvFuser side. The given fusion now takes `11` seconds on my machine. Are we safe to close this issue?

[2022-08-11 17:28] davidberard98 commented on #75903
Let's leave it open, because the NNC bug still exists.

[2022-08-11 17:28] darren-pei opened #83271 "cannot import name 'ProcessGroup' from 'torch.distributed'"
### 🐛 Describe the bug

Can't import 'ProcessGroup' from 'torch.distributed'

`from torch.distributed import ProcessGroup`

Generates:

`Traceback (most recent call last):
  File "/Users/darrenthorpe/PycharmProjects/tableDetection/scripts/bug_report.py", line 1, in <module>
    from torch.distributed import ProcessGroup
ImportError: cannot import name 'ProcessGroup' from 'torch.distributed' (/User

[2022-08-11 17:38] szhengac opened #83272 "bmm operator in bfloat16 has low TFLOPS for some tensor shapes with CUDA 11.6"
### 🐛 Describe the bug

bmm operator has much lower TFLOPS on tensor shapes A=(384, 1024, 1024) and B=(384, 1024, 140) in bfloat16.
[code]
The reproducible script:
[code]

### Versions

Collecting environment information...
PyTorch version: 1.12.0a0+67ece03
Is debug build: False
CUDA used to build PyTorch: 11.6
ROCM used to build PyTorch: N/A

OS: Amazon Linux 2 (x86_64)
GCC version: (GCC) 7.3.1 2

[2022-08-11 17:42] lessw2020 commented on #83231
As promised, here is a simple repro case.  Note that if you run at small size, it's fine ...but at larger scale, it fails which is why it was failing in optimizer use cases.

(credit to @nestordemeure for noting the size is the key issue here).

Python code for easy repro:
[code]
Examples:

Works fine (tensor size = 20)
<img width="784" alt="addcdiv_small_true" src="https://user-images.githubuserc

[2022-08-11 17:46] #77709 closed

[2022-08-11 17:59] atalman commented on #82969
We where able to use  Github Custom Runners
GPU: ubuntu-20.04-m60
CPU: ubuntu-20.04
This makes it even simpler.

[2022-08-11 18:01] vadimkantorov commented on #83163
After dropping, probably even functional wrapper can be dropped or auto-generated instead?

[2022-08-11 18:29] lessw2020 opened #83281 "addcdiv_ (in and out of place) not implemented for torch.float16 and cpu"
### 🐛 Describe the bug

Running addcdiv_ or addcdiv with torch.float16 and on cpu =
RuntimeError: "addcdiv_cpu_out" not implemented for 'Half'

Probably not a pressing use case, but if people are still using fp16 it would prove an issue:
code to repro:
[code]

Results:
<img width="797" alt="addcdiv_half" src="https://user-images.githubusercontent.com/46302957/184212804-40a1b788-748e-45fa-87e3-8ad1

[2022-08-11 19:02] jjsjann123 commented on #82858
Looks like we have the issue closed already. Just a note that the original expand issue is going to be resolve in latest push with expand fixes: #83239

[2022-08-11 19:03] clee2000 commented on #82894
hi i just wanted to check if anyone is looking into this

[2022-08-11 19:03] redmagnos commented on #79218
Alright so I uh kinda forgot to keep looking at this and took a long break but I'm back.

@nikitaved what is the expected behaviour of `z = torch.rand(2, 2, 2)`? Let's take a random example of:

[code]

Should `z` be overwritten and contain the regular result of `torch.add(x, y)`?
[code]

Or should all rows of it be overwritten instead?
[code]
Or should only the first row be overwritten?
[code]

[2022-08-11 19:13] ejguan commented on #82933
You are doing private inheritance in `class CustomDataset : torch::data::Dataset<CustomDataset>{`

You should do public inheritance
`class CustomDataset : public torch::data::Dataset<CustomDataset>{`

[2022-08-11 19:19] rodrigovimieiro commented on #54131
`/INCLUDE:"?ignore_this_library_placeholder@@YAHXZ"`

Worked with:

_libtorch 1.12
cuda 11.3
Visual Studio Enterprise 2019
Windows 10_

Quoted from:

Although the code compiles fine without it, it throws `PyTorch is not linked with support for cuda devices` when executed

[2022-08-11 19:29] rohan-varma opened #83289 "Improvements to ProcessGroupGloo monitored_barrier"
### 🚀 The feature, motivation and pitch

`monitored_barrier` is a well adopted API that seeks to perform a barrier that also reports the faulty rank(s) which did not make it into the barrier. However, it has some usability issues at the moment:

1) Sometimes, we see an error where rank x, x != 0 reports that it recevied errors from rank 0. But rank 0 reports that it received errors from x, so ther

[2022-08-11 19:44] VallabhMahajan1 opened #83290 "Pytorch based Bert NER for transfer learning/retraining"
I trained an Bert-based NER model using Pytorch framework by referring the below article.

[https://www.depends-on-the-definition.com/named-entity-recognition-with-bert/.](https://www.depends-on-the-definition.com/named-entity-recognition-with-bert/.)

After training the model using this approach, I saved that model using torch.save() method. Now, I want to retrain the model with new dataset.

Can

[2022-08-11 19:48] AllenTiTaiWang commented on #80033
We have antialias in spec on Resize-18 , more detail on https://github.com/onnx/onnx/blob/main/docs/Changelog.md#resize-18. This will be implemented later.

[2022-08-11 20:02] ngimel commented on #83281
fp16 support is not prioritized for cpu (it's extremely slow anyway)

[2022-08-11 20:03] ngimel commented on #83272
cc @xwang233

[2022-08-11 20:07] ngimel commented on #83231
This works correctly on cuda, but fails on cpu. cc @mingfeima and @frank-wei, can you please route correctly?

[2022-08-11 20:15] rodrigovimieiro opened #83291 "Libtorch 1.12.1 crashes on debug mode under Windows"
### 🐛 Describe the bug

I am trying to run a simple Pytorch code using Libtorch 1.12.1. It runs perfectly under **Release** mode, but not with **Debug**. This problem happens when using the GPU.

I had to add `/INCLUDE:"?ignore_this_library_placeholder@@YAHXZ"` on VS linker to make GPU works on 1.12.1. As stated [here](https://github.com/pytorch/pytorch/issues/54131).

When using an old Libtorch 1

[2022-08-11 20:18] clee2000 opened #83292 "TorchVision testing in CI + test_fx"
Recently we had the TorchVision hash updates fail due to failing tests in test_fx related to TorchVision.  Even though they have been fixed, perhaps we should review how TorchVision is tested in core.  TorchVision has its own tests that ensure that pytorch core doesn't break TorchVision, and the tests in test_fx seem to make invalid assumptions about TorchVision models.  Should we instead just be

[2022-08-11 20:27] datumbox commented on #83292
Thanks for raising this @clee2000. Adding some additional context from my side.

Currently TorchVision has tests to [check](https://github.com/pytorch/vision/blob/main/test/test_models.py) that our models are fx-traceable. Currently Image & Video Classification and Segmentation models are fx-traceable. Models for Optical Flow and Object Detection are not because they use loops. The fx-traceability

[2022-08-11 20:35] lessw2020 commented on #83281
@ngimel  - thanks!  I figured as much, mostly just want to document it's absence to ensure this was intended, rather than any overt push to resolve.

[2022-08-11 20:44] xwang233 commented on #83272
Hi, thank you for raising this issue. I tried the script with cuda 11.7 on A100 and I got

[code]

Would you be able to upgrade the cuda/cublas version and get the same result?

[2022-08-11 20:50] #83290 closed

[2022-08-11 20:56] huydhn commented on #82367
@zou3519 I have some updates on this that I want to get feedbacks from you. So I have reviewed some approaches with Dev Infra team today (Aug 11th).  Here is the details doc FYI https://docs.google.com/document/d/1IwwqpjXxDm-U5fMNz9e7ODzhfD-Z2vdxIv5kQ33qduo.

What do you think about the approach of having a functorch-related label attached to the PR to tell the CI to skip all tests besides functor

[2022-08-11 21:09] szhengac commented on #83272
@xwang233 Thanks for the quick response. What is the driver version you are using? We also tried different CUDA and driver versions:

CUDA 11.3 and driver 465:
[code]

CUDA 11.4 and driver 470:
[code]

[2022-08-11 21:12] xwang233 commented on #83272
Hi @szhengac , the driver I was using is 470.57.02. Typically, the cuda driver version doesn't affect performances. The cuda/cublas library versions matter most.

[2022-08-11 21:15] szhengac commented on #83272
What is the reason that you use 470? From https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html, CUDA 11.7 requires >= 515.43.04

[2022-08-11 21:29] xwang233 commented on #83272
We run cuda applications in docker environment, which only requires a minimum driver version installed. https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/install-guide.html#platform-requirements

[2022-08-11 21:36] ngimel commented on #83272
So looks like 11.6 has a regression for bmm performance? that's unfortunate because 1.12 and 1.12.1 binary releases are with cuda 11.6

[2022-08-11 21:40] pytorch-bot[bot] opened #83301 "DISABLED test_find_unused_parameters_kwarg_debug_info (__main__.DistributedDataParallelTest)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_find_unused_parameters_kwarg_debug_info&suite=DistributedDataParallelTest&file=distributed/test_c10d_nccl.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7793548770).

Over the past 3 hours, it has been determined flaky in 1 w

[2022-08-11 21:53] bdhirsh commented on #83214
Some of these look like cases where we should beef up the schema parsing in torchgen, while others look like cases where we have prim ops with schemas that don't conform to torchgen's expectations. I think it would be reasonable to fix the schema in that case?

Going through a few of the examples:

Beefing up aliasing info in torchgen seems reasonable

torchgen is complaining because the alias ann

[2022-08-11 21:58] albanD commented on #83230
cc @BowenBao is that something that you would expect to work on your end? Or should we disable this with a nice error message for now?

[2022-08-11 22:06] albanD commented on #83062
Thanks for checking @redmagnos
Closing as already fixed

[2022-08-11 22:06] #83062 closed

[2022-08-11 22:06] szhengac commented on #83272
@xwang233 thanks. i will see if i can find some time to try cuda 11.7. if you have a machine with cuda 11.6, pls also try it.

@ngimel this also happens with matmul for the same tensor shape, since they use the same gemm internally when the tensor shape is 3D.

[2022-08-11 22:07] rohan-varma commented on #82461
I think this issue is because FSDP shards the model params, so after you wrap:

FSDP(model)

model will have sharded parameters. In the inference path, it appears that unwrapped_model.generate calls an `encoder` directly, which is not an individually wrapped unit, and we call the forward pass:

[code]

we can tell encoder is not individually wrapped in FSDP because it doesn't appear to go through

[2022-08-11 22:10] erichan1 commented on #83142
I'm aware of where this issue is called - we take a fastpath at 1024 tokens for mask addition and there's a bug in there. Debugging.

[2022-08-11 22:11] BowenBao commented on #83230
@albanD We will take a quick look from our end. cc @justinchuby.

@NicolasNierenbergPersyst Is BatchNorm required in order for this mismatch to happen? I wonder if the export conv-bn fusion is not working correctly on M1. Will you observe a mismatch if there is solely Conv or BatchNorm in the model, but not both at the same time?

[2022-08-11 22:23] justinchuby commented on #83230
I'd be curious to know when the mismatch happens. Do you execute both pytorch and onnxruntime on the m1 gpu? Does onnxruntime produce different results in different environments on the _same_ model, or does pytorch produce a different onnx model in different environments?

[2022-08-11 22:24] NicolasNierenbergPersyst commented on #83230
It took me a while.  It requires both Cons and BatchNorm and you have to do one forward on the model before doing the export to see the problem.  I assume that causes BatchNorm to do a calculation
Nicolas Nierenberg
CEO
Persyst Development Corporation
420 Stevens Ave., Suite 210
Solana Beach, CA 92075

[2022-08-11 22:29] lxuechen commented on #83204
Ok, since I didn't get a further response, I'll probably starting hacking the FSDP module from the latest stable release.

[2022-08-11 22:31] neil3706 commented on #83196
updated to latest nightly build on 8/10 with no change. Tried implementing the function using reshape and permute and there wasn't any improvement to the performance.

def shuffle(x, r):
    [B, C, H, W] = list(x.size())
    x = x.reshape(B, C//(r*r),r,r, H,W)
    x = x.permute(0, 1, 4, 2, 5, 3)
    x = x.reshape(B, -1, H*r, W*r)
    return x

[2022-08-11 22:35] huydhn opened #93620 "Long test time for PyTorch test_fx::TestVisionTracing with dynamo enabled"
### Issue

I'm investigating a list of slow tests on PyTorch CI, and this one stands out to me as the top of the list `linux-bionic-py3.7-clang9 / test (dynamo, 1, 2, linux.2xlarge)`.  The [metric](https://hud.pytorch.org/tts/pytorch/pytorch/master?jobName=pull%20%2F%20linux-bionic-py3.7-clang9%20%2F%20test%20(dynamo%2C%201%2C%202%2C%20linux.2xlarge)) shows that it takes close to 3 hours to finish

[2022-08-11 22:45] NicolasNierenbergPersyst commented on #83230
I don’t think onnxruntime uses the GPU at least I don’t know how to set that or see that.  When I do the export with the error the PyTorch model is on the GPU, if it is on the CPU then the correct model is exported to onnx.  A forward in PyTorch on either the GPU or the CPU produces the same correct result.  For comparison I tried this on COLAB with CUDA and I was able to export to onnx with a mod

[2022-08-11 22:51] justinchuby commented on #83230
Could you share (1) what the actual outputs are and how they differ (2) Images of the exported onnx models that produced different numbers by using netron? https://github.com/lutzroeder/netron

[2022-08-11 22:56] NicolasNierenbergPersyst commented on #83230
@justinchuby I'm happy to upload the two models that are produced, but after that maybe someone else can take it from there. test.onnx is the one created when the PyTorch model is on the CPU and testgpu.onnx is the one created when the PyTorch model is on GPU (M1).  They produce two different results, but the test.onnx result matches the PyTorch forward with the same inputs.
[Archive.zip](https://

[2022-08-11 23:01] wanchaol commented on #82851
I don't know tbh, I think the nn.functional.* apis are being used by other external folks, but I think we never officially putting them in the doc. The separation of two set of APIs is troublesome and there might be couple of issues like this one on the bugs of nn.functional, because we never manage to maintain it well, sigh..

[2022-08-11 23:02] justinchuby commented on #83230
I can see while the structure is the same, the weights are different
![image](https://user-images.githubusercontent.com/11205048/184256620-5271db86-4df9-4a86-ae13-e1d10487bf96.png)

[2022-08-11 23:08] tillahoffmann commented on #71222
For the problem I'm working on, the solution was only non-deterministic for the `gelsy` driver (presumably because the matrices I'm dealing with are not well-conditioned). See below for a script to reproduce the issue.

[code]

The output on my machine is

[code]

[2022-08-11 23:10] jerryzh168 commented on #83227
please checkout my answer in discussion forum:
https://discuss.pytorch.org/t/pytorch-qat-quantisation-slows-down-the-training-of-vit-significantly/157490/13

[2022-08-11 23:10] #83227 closed

[2022-08-11 23:10] jerryzh168 commented on #83156
please checkout my answer in discussion forum:
https://discuss.pytorch.org/t/pytorch-qat-quantisation-slows-down-the-training-of-vit-significantly/157490/13

[2022-08-11 23:10] #83156 closed

[2022-08-11 23:13] Gamrix commented on #81063
This is expected. Tensor shapes are considered ephemeral, and therefore are not serialized on save.

[2022-08-11 23:13] #81063 closed

[2022-08-11 23:19] SherlockNoMad commented on #83214
@bdhirsh, I will send a PR to fix the problematic schema definitions.

@larryliu0820 let's beef up the schema parsing :)

[2022-08-11 23:28] NicolasNierenbergPersyst commented on #83230
@justinchuby sure, that’s what I would expect.  But they are produced from the same PyTorch model as you can see in the code.

[2022-08-11 23:43] xsacha commented on #83255
Thanks for that. I gave up on building it statically earlier. There's a few CUDA ops that don't get registered too.

[2022-08-11 23:57] jerryzh168 commented on #82443
I can't repro the issue actually, are you using pytorch master?

[2022-08-12 00:14] cheyennee commented on #83063
Oh, I just want to repro the work of a paper to see if the results are consistent with those in the paper. In this paper, pytorch version 1.8.1 is used w(ﾟДﾟ)w But it seems that it would be better if I choose latest pytorch version.

[2022-08-12 00:39] walkacross commented on #82933
My bad, now it works, thanks.

by the way, the output of std::cout <<  dataset.size() is (*,*,*,*), looks weird.

I'll close this issue

[2022-08-12 00:39] #82933 closed

[2022-08-12 00:40] walkacross commented on #82933
My bad, now it works, thanks.

by the way, the output of std::cout <<  dataset.size() is (*,*,*,*), looks weird.

I'll close this issue

[2022-08-12 02:02] linchundan88 commented on #83245
if rank == 0:
            save_model_file = save_model_dir / f'valid_loss_{loss_valid_avg:.4f}_epoch{epoch}.pth'  # the loss of the last validation dataset
            if not torch_script:
                print('save model:', save_model_file)
                # torch.save(model_ddp.module.state_dict(), save_model_file) #model_ddp.state_dict() model_ddp.module.state_dict()
                torch.save

[2022-08-12 02:08] #71105 closed

[2022-08-12 02:11] ezyang commented on #83101
What happens if you delete

[code]

from main, I don't think you were holding the gil to begin with.

[2022-08-12 02:40] ezyang commented on #82886
cc @msaroufim

[2022-08-12 03:18] cheyennee opened #83311 "when input type of torch.cholesky_inverse is complex128, cpu's running result is inconsistent with gpu"
### 🐛 Describe the bug

[code]

**The result on cpu begins as follows:**
       tensor([[[[ 2.2772e+01+0.0000e+00j, -1.4934e+01-1.6002e+01j,
            7.4759e+00+1.0612e+01j, -1.6203e+00-2.7951e+00j,
           -5.8908e-01+7.1717e-01j],
          [-1.4934e+01+1.6002e+01j,  2.3012e+01+0.0000e+00j,
           -1.2838e+01-2.2871e+00j,  3.2950e+00+2.4935e-01j,
           -5.4043e-01-8.5046e-01j],

[2022-08-12 03:24] ezyang opened #83313 "torch.Tag doesn't have accurate mypy info"
### 🐛 Describe the bug

[code]

### Versions

master

[2022-08-12 03:41] cheyennee opened #83314 "torch.equal not give the same result on GPU vs on CPU"
### 🐛 Describe the bug

[code]
The result is as follows:
{'err_cpu': "ERROR:Expected object of scalar type __int64 but got scalar type signed char for argument 'other'", 'res_gpu': False}.

However, it's expected that cpu and gpu output the same result, not one outputs error message, and another runs successfully

### Versions

pytorch: 1.8.1
python: 3.8.3
os: win11

cc @VitalyFedyunin

[2022-08-12 04:01] yhy-2000 opened #83315 "dataparallel function doesn't work"
### 🐛 Describe the bug

env:
1.9.0+cu102
gpu: two Tesla v100

issue:
When I use torch.nn.parallel to distribute data onto multiple gpus, I found the Dataparallel obj `filter_model` only return output of one gpu.

[code]

### Versions

Then I checked the source code and found the problem. After I modify the code below in torch.nn.parallel.scatter_gather. this problem will be solved.
![32624cf7e3f77

[2022-08-12 04:52] rohan-varma commented on #83245
Hi, thanks for reporting the issue! A couple of q's:

1. Does the issue go away without DDP, i.e. local only training?
2. Is there a difference if you use `ddp.state_dict()` directly (you'll have to strip out the module prefix when loading the model back) versus `ddp.module.state_dict()`?
3. You mentioned this only occurs for some models - would it be possible to get an e2e repro of this?

[2022-08-12 05:23] fatalfeel commented on #10687
~/pytorch/torch/lib/c10d/example/allreduce.cpp
//auto store = std::make_shared<FileStore>("/tmp/c10d_example", size);
//to
auto store = c10::make_intrusive<FileStore>("/tmp/c10d_example", size);

~done~

[2022-08-12 05:50] rohan-varma commented on #83271
Seems like the same issue as https://github.com/pytorch/pytorch/issues/68385.

@malfet @janeyx99 @seemethere do we have plans to build distributed as part of the M1 PT binaries?

[2022-08-12 05:54] rohan-varma commented on #83243
cc @H-Huang

[2022-08-12 06:00] rohan-varma commented on #83193
I think this might be because we can only import top-levels such as `torch.distributed.pipeline`, `torch.distributed.rpc`, along with what's defined in torch/distributed/__init__.py in the first way you've tried?

[2022-08-12 06:37] szhengac commented on #83272
@xwang233 The following are the numbers I obtained with CUDA 11.7 and driver 515:
[code]
bfloat16 has consistent number with float16, though the numbers look quite different from what you obtained.

[2022-08-12 06:40] Chekov2k commented on #83101
The thread starting a scoped interpreter will hold the GIL. If I comment the line you suggested it deadlocks immediately
[code]

[2022-08-12 07:00] LawJarp-A commented on #61210
Hey, is this issue open?
I would like to contribute :)

[2022-08-12 07:35] cheyennee opened #83318 "torch.lu_solve will return tensor if input contains int type tensor"
### 🐛 Describe the bug

It's written on documentation that torch.lu_solve supports float, double, cfloat and cdouble dtypes for input excluding int type. However, I find that if input contains int type tensor, cpu will return a tensor, while gpu crashes.

[code]

results={'res_cpu': tensor([[[ 0.4699],
         [-2.0710],
         [ 1.2003]],
        [[-7.0208],
         [ 7.6626],
         [-5.09

[2022-08-12 07:55] Hukongtao opened #83320 "Torch1.10.2 is slower than torch1.9.1"
### 🐛 Describe the bug

I recently upgraded my pytorch version from 1.9.1 to 1.10.2 due to project needs. But found that the training speed dropped by 20% to 30% for the same multi-tasks model.

After profiling, I found the reason is that the code of torch1.10 has the following logic:
https://github.com/pytorch/pytorch/blob/v1.10.2/torch/nn/parallel/distributed.py#L1378

That means, When using DDP

[2022-08-12 08:03] cheyennee opened #83321 "when input type of torch.nn.AvgPool3d is bfloat16, cpu's running result is inconsistent with gpu"
### 🐛 Describe the bug

[code]

The result is:
{'err_cpu': 'ERROR:"avg_pool3d_out_frame" not implemented for \'BFloat16\'', 'res_gpu': tensor([[[[[0.5586, 0.5234, 0.6406,  ..., 0.5820, 0.4336, 0.5156].........}.

It's unexpected that cpu outputs error message, while gpu runs successfully.

### Versions

pytorch: 1.8.1
python: 3.8.3
os: win11

[2022-08-12 08:31] cheyennee opened #83322 ""clamp_min_cpu" not implemented for 'Half'"
### 🐛 Describe the bug

[code]

When I run above code, the result is {'err_cpu': 'ERROR:"clamp_min_cpu" not implemented for \'Half\'', 'res_gpu': tensor(0.6844, device='cuda:0')}. Is this an expected result since cpu's result is inconsistent with gpu's result?

### Versions

pytorch: 1.8.1
python: 3.8.3
os: win11

[2022-08-12 08:43] 1enn0 commented on #83255
I haven't tried building with CUDA, yet. I might get around to it next week and check if this approach would fix those issues, as well.

[2022-08-12 09:11] lkskstlr commented on #76632
Hi @ngimel,

I would be happy about your opinion on this, but for me it's totally fine to just close this. I am a big PyTorch fan and it seems that there are enough open issues already.

Best
Lukas

[2022-08-12 09:13] cheyennee commented on #83321
Same problem was found in torch.nn.functional.softshrink.

[2022-08-12 09:23] mastermert commented on #77764
Hello all, i saw this operator is also missing:
The operator `'aten::roll'` is not current implemented for the MPS device.

[2022-08-12 09:38] lpkoh commented on #72791
Hi @AbhijitManepatil, I faced the same issue. did you find  a solution?

[2022-08-12 09:42] jonas-doevenspeck commented on #81075
SInce LayerNorm is also part of opset 17, does it make sense to include it as well in this list?
https://github.com/onnx/onnx/blob/main/docs/Operators.md#layernormalization

[2022-08-12 09:55] bhavik-cipio commented on #61755
It is working, Thanks

[2022-08-12 11:57] cheyennee opened #83325 "torch.nn.MaxPool1d dont accept 0-batch dim tensors on gpu"
### 🐛 Describe the bug

torch.nn.MaxPool1d accept 0-batch dim tensors on cpu, however I found that torch.nn.MaxPool1d don’t accept 0-batch dim tensors on gpu. I think cpu’s result should be consistent with gpu’s result.
[code]
Above snippet code outputs: {‘res_cpu’: (tensor([], size=(0, 1, 1)), tensor([], size=(0, 1, 1), dtype=torch.int64)), ‘err_gpu’: ‘ERROR:CUDA error: invalid configuration argu

[2022-08-12 12:30] yandongwei commented on #83291
same problem too！

[2022-08-12 12:55] Panter7777 commented on #77764
NotImplementedError: The operator 'aten::sort.values_stable' is not current implemented for the MPS device.

[2022-08-12 13:02] taotaobear opened #83326 "torch.tril lacks of checking 'out of bound' on cuda"
### 🐛 Describe the bug

[code]

The result is {'err_cpu': 'ERROR:Dimension out of range (expected to be in range of [-1, 0], but got -2)', 'res_gpu': tensor([0.6544, 0.0000, 0.0000, 0.0000], device='cuda:0')}.

### Versions

pytorch: 1.8.1
python: 3.8.3
os: win11

cc @ngimel

[2022-08-12 13:03] albanD commented on #83271
There have been a lot of similar issues before and I really think that we should raise a much nicer error message when trying to use distributed when `USE_DISTRIBUTED=0` during compilation. Random missing function and classes is very confusing as an "error message".

[2022-08-12 13:34] HOMINHQUYEN-1996-TLUS commented on #17023
same error in singapore

[2022-08-12 13:41] ejguan commented on #83270
I don't think this Error comes from DataLoader. It's apparently not all of labels are reversed in your log. I believe the Error comes from your custom pre-processing logic. I am closing this Issue for now. You might want to open an issue from the shared_interest repo not in PyTorch Core.

And, skimming through your code, I guess the culprit is from here:
[code]
When you merge two DataFrames, you a

[2022-08-12 13:41] #83270 closed

[2022-08-12 13:49] ezyang commented on #81597
According to @albanD at https://github.com/pytorch/pytorch/pull/83174 using the regular dictionary classes should now work

[2022-08-12 13:51] ejguan commented on #82964
Could you please provide full log of your Error? I don't think this Error comes from PyTorch.

[2022-08-12 13:52] ejguan commented on #82964
Try to check your transformation function.

[2022-08-12 14:02] taotaobear opened #83328 "torch.nn.Conv2d will segfault when the type of input tensor is float16"
### 🐛 Describe the bug

[code]
The above code hangs, I have to kill the program. I think it's expected that if dtype is float16, it will output 'float16 is not supported'.

### Versions

pytorch: 1.8.1

cc @ezyang @gchanan @zou3519

[2022-08-12 14:07] taotaobear commented on #83328
But float16 is supported in torch.nn.functional.conv2d.

[2022-08-12 14:34] lkl2050 commented on #16417
same issue here. changing batch size won't help because "required memory and allocated memory seem to change with changing the batch size"

[2022-08-12 14:42] albanD commented on #81597
@eellison do you have details on how hard this is to do?
What is missing from `weakref.WeakKeyDictionary`?
Is it just about our custom fixup logic we need to use when using Tensor weakrefs?

[2022-08-12 15:01] DaveMariner commented on #77764
Another +1 for `aten::index.Tensor_out`

It's currently a blocker for several open-source art AI projects, including (at least):

[https://github.com/rbbrdckybk/ai-art-generator](url)
[https://github.com/lucidrains/big-sleep](url)
[https://github.com/lucidrains/deep-daze](url)

TIA  @DenisVieriu97 for your awesome efforts!

[2022-08-12 15:29] eellison commented on #81597
I don't think https://github.com/pytorch/pytorch/pull/83174 fixes the issue. it's not the hash that's the problem, it's the `__eq__`.
[code]

I mean, it was kind of tricky to do, but it's already done - see https://github.com/pytorch/pytorch/blob/master/torch/_subclasses/meta_utils.py#L16 and https://github.com/pytorch/pytorch/blob/master/torch/_subclasses/fake_tensor.py#L102. The remaining thing

[2022-08-12 15:37] bdhirsh opened #93621 "Functionalization on by default issue tracker"
Making this issue to track progress for turning on `use_functionalization=True` and `normalize_ir=False` by default for dynamo (and then eventually, hopefully removing all of the functionalization code that lives in dynamo once the functionalization from core is always-on).

I've been running the torchbench suite using AOTAutograd + the eager (no-op) backend, so I'll record the failures that I was

[2022-08-12 15:42] albanD commented on #81597
I think the `__eq__` issue was just a sidetrack due to bad `__torch_function__` implementation: you were creating a temporary object and return its `id` as the `hash()`.
And due to PyObject re-use in Python, every single Tensor had the same hash (which `is` being False). And so every match was trying to use `__eq__` to resolve hash conflicts.

With the fixed version, you will properly get a unique

[2022-08-12 16:12] eellison commented on #81597
Hmm, yea you're right. Nice! Although I'm surprised
[code]
fired for FakeTensor since it doesn't define `__torch_function__`

[2022-08-12 16:16] eellison commented on #81597
Hmm, yea you're right. Nice!

Although I'm surprised
[code]
fired for FakeTensor since it doesn't define `__torch_function__`:  `__torch_function__ = torch._C._disabled_torch_function_impl`

(admittedly copy-pasta'd from https://github.com/albanD/subclass_zoo/blob/main/base_tensor.py#L22)

[2022-08-12 16:21] malfet opened #83335 "periodic linux-xenial-cuda10.2-py3-gcc7-slow-gradcheck times out"
### 🐛 Describe the bug

See https://hud.pytorch.org/hud/pytorch/pytorch/master/1?per_page=50&name_filter=slow-gradcheck

Started on Wed Aug 10th 2022:
https://hud.pytorch.org/pytorch/pytorch/commit/22830c7c77cf51a9283e12268cc0a3a9fae2e618

Recent examples:
https://hud.pytorch.org/pytorch/pytorch/commit/0e0f8fd03e0967059456d4755c47e8fd4407796d
https://hud.pytorch.org/pytorch/pytorch/commit/ba90c9f2

[2022-08-12 16:25] jbschlosser commented on #83256
Thanks for the report! Closing as a duplicate of #77427 - we'd still accept a PR addressing this :)

[2022-08-12 16:25] #83256 closed

[2022-08-12 16:27] jbschlosser commented on #83168
Related: #65051

[2022-08-12 16:34] shingjan opened #83336 "Missing aten::eq with model fastNLP_Bert in torchbenchmark"
### 🐛 Describe the bug

The error happened while I was trying to import model `fastNLP_Bert` from torchbench and run it on torchdynamo. I am using pytorch nightly

My repro:
[code]

Error message
[code]

### Versions

PyTorch version: 1.13.0.dev20220711
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.4 LTS (x86_64)
GCC version: (Ubuntu 9.4.0

[2022-08-12 16:34] shingjan opened #93625 "Missing aten::eq with model fastNLP_Bert in torchbenchmark"
### 🐛 Describe the bug

The error happened while I was trying to import model `fastNLP_Bert` from torchbench and run it on torchdynamo. I am using pytorch nightly

My repro:
[code]

Error message
[code]

### Versions

PyTorch version: 1.13.0.dev20220711
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.4 LTS (x86_64)
GCC version: (Ubuntu 9.4.0

[2022-08-12 16:37] rohan-varma commented on #47648
We have `TORCH_DISTRIBUTED_DEBUG` now, so closing this out

[2022-08-12 16:37] #47648 closed

[2022-08-12 16:37] rohan-varma commented on #54795
We've added this feature in TORCH_DISTRIBUTED_DEBUG=DETAIL, so closing this out.

[2022-08-12 16:37] #54795 closed

[2022-08-12 16:39] #75478 closed

[2022-08-12 16:39] rohan-varma commented on #75478
This is fixed.

[2022-08-12 16:40] rohan-varma commented on #70166
This is actually a pretty cool idea - do you mean instead of having

[code]

we do something like
[code]

[2022-08-12 16:50] vadimkantorov commented on #70166
Yes, either: `module = wrap_module_instance_with_autocast(module)` or `MyModuleAutocasted = wrap_module_class_with_autocast(MyModule)`. Possibly also a `my_function = wrap_function_with_autocast(my_function, "f16", "f32")` could be considered.

All of these make it much easier to reason/debug/hack/improve about how actually autocast works, what gets casted at what time, how to exempt some parts fr

[2022-08-12 17:15] albanD commented on #83335
@soulitzer I think we want to do two things here:
- Check what is in each shard and if we can rebalance them
- Disable more stuff that doesn't do gradcheck.

[2022-08-12 17:17] malfet commented on #83320
@Hukongtao can you please try PyTorch-1.12.1 and compare the performance?

[2022-08-12 17:21] ngimel commented on #76632
Yeah, it's a legit inefficiency, but as you say, it doesn't show up as a perf regression in most cases, and doesn't lead to incorrect results, so unless you really want to fix it (we'll accept a PR) it's unlikely to be fixed.

[2022-08-12 17:22] malfet commented on #83313
What module is it part of?

[2022-08-12 17:25] soulitzer commented on #83335
We probably want TestGradients by itself in its own shard since that takes around 3h alone. Everything else goes in the other shard. Currently one shard takes 2h and the other takes 4h, making this change would balance both shards to take 3h each.

[2022-08-12 17:32] #83251 closed

[2022-08-12 17:38] malfet commented on #83311
Still reproducible on 1.12:
[code]

[2022-08-12 17:40] nikitaved commented on #83311
The input matrix should be psd. Anyway, some divergence is fine, as implementations are likely to be different.

[2022-08-12 17:41] malfet commented on #83322
Still the case, but yes, torch.float16 half implementation is not performant, so it doesn't make much sense to add more and more explicit operators

[2022-08-12 17:44] ezyang commented on #83313
it's a pybind11 enum codegen from torch._C

[2022-08-12 17:45] nikitaved commented on #83311
The input matrix has values between 0 and 1 on the diagonal, so is likely badly conditioned for inverse.

[2022-08-12 17:45] malfet commented on #83328
This sigsegvs 1.12 in fbgemm:
[code]

[2022-08-12 17:52] malfet commented on #83314
Still reproducible on nightly and documentation is a bit vague, what is the expected output. I.e.
`torch.equal(torch.tensor([1, 2]), torch.tensor([1, 2], dtype=torch.float))` raises exception, but I guess it should not

[2022-08-12 17:53] RalphMao commented on #75100
This feature will be super helpful!

[2022-08-12 17:56] makslevental opened #93622 "`functorch` mentioned but no instructions"
`functorch` is mentioned as a dep but, aside from a link to the repo, there's no instruction on how to get it.

not sure if it should go in the `requirements.txt` as such

[code]

or just as an extra line in the "Minimal Developer Setup" shell instructions.

cc @ezyang @soumith @msaroufim @wconstab @ngimel @bdhirsh

[2022-08-12 18:01] lpkoh opened #83340 "Massive growth in cpu memory use when loading model from cpu to gpu"
### 🐛 Describe the bug

I am building an application that uses the yolo object detector. I trained a darknet model from https://github.com/AlexeyAB/darknet which I then convert to pytorch in my app using https://github.com/Tianxiaomo/pytorch-YOLOv4.

I am facing a strange issue when I pass the model from cpu to gpu, the cpu memory usage explodes.

![image](https://user-images.githubusercontent.com

[2022-08-12 18:34] Sys-if opened #83343 "torch.nn.functional.pad throw 'Dimension out of range' on Apple Silicon M1 MPS"
### 🐛 Describe the bug

If I try to use torch.nn.functional.pad on a tensor on an MPS device, I get this error
```IndexError: Dimension out of range (expected to be in range of [-1, 0], but got 1)```
It doesn't happen when the device is set on 'cpu'

[code]

### Versions

PyTorch version: 1.13.0.dev20220812
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS:

[2022-08-12 19:27] albanD commented on #83335
How would we go about doing this rebalancing @malfet ?

[2022-08-12 19:30] rgommers commented on #83069
pinging the right person, @dalcinl.

[2022-08-12 19:47] bencwallace opened #83347 "Add type hints for values generated by dataloaders"
### 🚀 The feature, motivation and pitch

Given a dataloader `dataloader` of type `DataLoader[T_co]`, it should be possible to infer statically that `next(iter(dataloader))` is of type `T_co`.

The basic change required is to make [`_BaseDataLoaderIter`](https://github.com/pytorch/pytorch/blob/master/torch/utils/data/dataloader.py#L620) subclass `Generic[T_co]` and annotate its [`__next__`](https:/

[2022-08-12 19:54] kumpera commented on #66187
The fix has being merged and ST::gather no longer uses object collectives.

[2022-08-12 19:54] #66187 closed

[2022-08-12 19:55] thiagocrepaldi commented on #81871
Although `Unfold` is not supported yet, `Fold` will be soon: https://github.com/onnx/onnx/pull/3948 and https://github.com/microsoft/onnxruntime/pull/12311/ must be merged first, but then the PyTorch ONNX converter can follow and add it too.

For the `Fold` case, which model are you working on? Is it a popular one with many users? The more popular a model is, the better changes are we get an appro

[2022-08-12 19:56] thiagocrepaldi commented on #81871
ANswering your question, you can implement `Im2Col` using python instead of using `torch.nn.Unfold`. `Fold` is the `col2im` operator, which is the opposite of ìm2col`

[2022-08-12 19:57] kumpera commented on #76386
This feature has being merged.

[2022-08-12 19:57] #76386 closed

[2022-08-12 19:59] kumpera commented on #79016
This is indeed an issue with the current approach of using ShardedTensor.

As a workaround, you can create different sharded tensors on different ranks based on what each rank needs to load.

[2022-08-12 20:06] zou3519 commented on #82367
This sounds reasonable to me. I think I prefer explicitly adding the label over something more automatic (as long as folks know what they're doing).

The assumption we're making here is "functorch depends on the pytorch package but not vice versa", but this might not be true for very long. When that time comes, would we just remove this feature, or would we try to figure out if it still makes sens

[2022-08-12 20:20] ngimel commented on #83322
Closing as expected

[2022-08-12 20:20] #83322 closed

[2022-08-12 20:21] zou3519 commented on #82367
Hmm, so a comment that I have (it may already be in the doc, I haven't gone through it) is: what happens when the PR is merged into trunk? Does it respect the 'ciflow: functorch' label, or would it run everything?

[2022-08-12 20:22] ngimel commented on #83321
Closing as expected, same datatype support is not guaranteed for the different backends. If you need this operation file an issue requesting support.

[2022-08-12 20:22] #83321 closed

[2022-08-12 20:25] ontheroad87 opened #83349 "checkpoint function is not jit compatible"
When I use the checkpoint function here: https://pytorch.org/docs/stable/checkpoint.html with jit in scripting mode, I got following error:

torch.jit.frontend.NotSupportedError: Compiled functions can't take variable number of arguments or use keyword-only arguments with defaults:
  File "/opt/conda/lib/python3.8/site-packages/torch/utils/checkpoint.py", line 145
def checkpoint(function, *args, *

[2022-08-12 20:47] albanD commented on #81597
Couldn't it be due to the mode there `FakeCopyMode`?

[2022-08-12 20:50] rohan-varma opened #83351 "DDP + FSDP: Investigate behavior for nn.Module APIs"
### 🚀 The feature, motivation and pitch

Since DDP and FSDP are class wrappers, some nn.Module APIs may additional prefixing or otherwise not work in an equivalent fashion to local nn.Module instances due to the wrapping nature. This can cause some pain points in composing the modules together, checkpointing with `state_dict`, or any code that relies on module / parameter names / APIs such as `nam

[2022-08-12 21:01] janeyx99 commented on #83335
I realize the automatic sharding for periodic jobs is iffy because we use the last 3 commits from viable/strict, which may or may not include periodic jobs. We should get around to fixing this, but that's not gonna be as quick as we want..

The default sharding algorithm does a round robin on the files that are listed in alphabetical order, so it's not as easy to play with that unless you rename f

[2022-08-12 21:23] rohan-varma commented on #83320
@malfet It is possible the perf issue is still there since we still have the same logic for assigning module buffers in DDP. However, this fix is sort of needed to support (admittedly an edge) case where user can reassign module buffers in their module, so we'd have to update `self.modules_buffers`.

@Hukongtao could you possibly share your profiling and show the time spent in reassigning buffers?

[2022-08-12 21:57] huydhn commented on #82367
Yeah, this is exactly the P0 for this change.  Devs will add the label explicitly.  We're happy with the initial assumption that folks know what they are doing.

Yup, if that happens, functorch devs can just stop attaching the label to the PR.  We also plan to have a metric to record how people use this feature.  My guess is that when we see a drop in the functorch-related label, we will know that

[2022-08-12 22:04] eellison commented on #81597
The FakeCopyMode isn't actually invoked when you run the model..

[2022-08-12 22:09] huydhn commented on #82367
This is a very good observation. We discussed the 2 choices during the design review.  IMO, we should respect `ciflow/functorch` when merged into trunk and run only fucntorch tests. This is what I think we should aim for eventually because it's a logical thing to do for me (if we have unlimited capacity, we should run all the checks at PR, so why do pull and merge need to behave differently).  How

[2022-08-12 22:37] EvanZ opened #83355 "Only support when num_heads is even in transformer"
### 🐛 Describe the bug

I have verified that up until v.1.11 I can set `nhead=1` in `TransformerEncoderLayer`, but in v.1.12 this throws a Runtime Error:

[code]

As far as I can tell the docs do not specify that `nhead` must be even, unless I'm missing it.

### Versions

[code]

cc @ezyang @gchanan @zou3519 @ngimel @jbschlosser @bhosmer @cpuhrsch @erichan1

[2022-08-12 23:14] ngimel opened #93623 "Replace decompositions in torchinductor/decompositions with refs/decomps in pytorch proper"
We should audit existing decompositions and replace them with refs/decomps where appropriate, e.g. `clamp` decomposition currently incorrectly type promotes and doesn't handle non-number boundaries (see also pytorch/pytorch#93784).

cc @ezyang @soumith @msaroufim @wconstab @bdhirsh @voznesenskym @yanboliang @penguinwu @anijain2305 @EikanWang @jgong5 @Guobing-Chen @XiaobingSuper @zhuhaozhe @blzheng

[2022-08-13 00:05] #83120 closed

[2022-08-13 00:06] msaroufim opened #93624 "KeyError `shape,stack,cos` on pennylane quantum circuit"
@anijain2305 would you rather I create an "interesting model" tracker or should I keep creating unique issues for each kind of model

## Repro

`python -m pip install pennylane`

[code]

## Logs
https://gist.github.com/msaroufim/ce9ec004536e762fb5c94eb3ab2670f1

cc @ezyang @wconstab @bdhirsh @anijain2305 @zou3519 @voznesenskym @penguinwu @EikanWang @jgong5 @Guobing-Chen @XiaobingSuper @zhuhaozhe @

[2022-08-13 00:23] eellison opened #83362 "Meta Impl of native_layer_norm (math_native_layer_norm) Errors Where Cuda Succeeds"
### 🐛 Describe the bug

[code]

succeeds
meta
Traceback (most recent call last):
  File "/scratch/eellison/work/pytorch/test/tmp.py", line 15, in <module>
    torch.ops.aten.native_layer_norm(*args)
  File "/scratch/eellison/work/pytorch/torch/_ops.py", line 175, in __call__
    return self._op(*args, **kwargs or {})
RuntimeError: view size is not compatible with input tensor's size and stride (at

[2022-08-13 00:32] b0noI opened #83363 "CODEOWNERS/merge_rules/POI and mergebot bug are inconsistent with public documentation and each other"
PyTorch should have publicly visible process of development that is consistent with reality. As of Aug 10, 2022 according to [the public site](https://github.com/pytorch/pytorch/blob/master/docs/source/community/governance.rst) (that is current source of truth) we have only following three types of the folks who participate in the development of the PyTorch:
* Core contributors (out of scope of th

[2022-08-13 01:19] huydhn commented on #83003
Resolved by https://github.com/pytorch/pytorch/pull/83188

[2022-08-13 01:19] #83003 closed

[2022-08-13 01:23] philipturner commented on #81184
It’s been long enough; let’s fix that typo. But keep the thread open so I can track more typos in the future.

[2022-08-13 01:34] philipturner commented on #81224
GPUs other than Nvidia GPUs are not supported in Docker, not even through OpenCL. [nvidia-docker](https://github.com/NVIDIA/nvidia-docker) is all we have regarding GPUs in Docker. There is of course ROCm support, but that's only for AMD's Frontier supercomputer and extremely expensive accelerators. Perhaps you could set up a macOS virtual machine capable of running Metal with some other kind of so

[2022-08-13 02:33] dominicshanshan commented on #83144
@DenisVieriu97 , just tried on latest nightly, still have the same error as v1.12.1

`loc("total derivative last state"("(mpsFileLoc): /AppleInternal/Library/BuildRoots/20d6c351-ee94-11ec-bcaf-7247572f23b4/Library/Caches/com.apple.xbs/Sources/MetalPerformanceShadersGraph/mpsgraph/MetalPerformanceShadersGraph/Core/Files/MPSGraphUtilities.mm":219:0)): error: input types 'tensor<1x82x64xf32>' and 'te

[2022-08-13 11:34] jeongwhanchoi commented on #68323
I have the same issue on Pytorch 1.90 with CUDA 11.1:
[code]

[2022-08-13 14:32] egaznep opened #83376 "Complex-Valued Gaussian distributions"
### 🚀 The feature, motivation and pitch

I had been working on complex-valued variational auto encoders (CVAE) and for this purpose I required complex-valued Gaussian distributions. I coded my own implementation based on [1] and used it successfully. I essentially model it as a composite real-valued distribution. Would it be of interest if I created a PR to add this functionality?

[1] P. J. Schre

[2022-08-13 16:40] sbrodehl commented on #77818
Hi there,

it looks like MPS is only allowing rank 4 tensors, is this something we can (want to?) work around, or do we need MPS to natively support 3D (or nd) convolutions?

[2022-08-13 17:01] mikel-brostrom commented on #81871
Thank you for the suggestion @thiagocrepaldi!

[2022-08-13 18:04] ilyak93 commented on #17543
@soumith, is there anywhere torch versions 0.3.0 or 0.3.1 for cuda 10 for the RTX 2080 Ti ?

[2022-08-13 19:19] martenlienen opened #83378 "JIT compiling this specific function with grad-enabled tensors makes it always produce grad-enabled tensors"
### 🐛 Describe the bug

I into this weird JIT bug a while back and reduced it into a minimal example today. Consider the expression `a + (b / (-b))[:]` where `a` and `b` are tensors of appropriate shape. If we put this expression into a function and JIT compile it, it will work with the following caveat: If the JIT compilation is triggered by a call where `a.requires_grad`, the compiled function w

[2022-08-13 19:53] PrestigeDevop opened #83379 "[caffee2] Windows build / 'metanet_pb2' (a circular import) Anaconda"
### 🐛 Describe the bug

I want to use [Detectron](https://github.com/facebookresearch/Detectron) for an old project .
 I have Anaconda ```conda 4.13.0```

[code]

can't build PyTorch from source for various reasons
I think that has nothing to do with the issue
[code]

  I edit the script located in D:\Anaconda\lib\site-packages\caffe2\proto\__init__.py
  and run it then change it back to its origi

[2022-08-13 22:16] cccclai commented on #81198
Acutally I meant

Actually to the command to build PyTorch from source (not for Android) is
[code]
If it works, likely you've gotten all the required dependency.

Also the command I usually use to build PyTorch for Android is
[code]

[2022-08-13 22:17] cccclai commented on #81198
Does it mean the prebuilt one works for you but run into the same issue when building PyTorch for iOS from scratch? Is `build_ios.sh` the command line you use?

[2022-08-13 23:59] ptrblck opened #83381 "`test_profiler_experimental_tree_cuda_detailed` fails with mismatches in the profile output"
### 🐛 Describe the bug

https://github.com/pytorch/pytorch/pull/80797 added `test_profiler_experimental_tree_cuda_detailed` which started to directly fail after the merge with:
[code]

To reproduce using a current master build:
[code]

It seems the `void ..._kernel<...>(...)` pattern does not match the `std::enable_if<!(false), void>::type internal::gemvx::kernel` usage.

CC @robieta

I cannot see

[2022-08-14 00:04] ptrblck commented on #83381
By searching for this test a bit more it seems it also fails in CI in:
* https://github.com/pytorch/pytorch/pull/82766 - https://github.com/pytorch/pytorch/runs/7662839758?check_suite_focus=true

[2022-08-14 00:48] cheyennee opened #83382 "torch.nn.functional.conv2d runs slower on float16 type than on float32 type"
### 🐛 Describe the bug

Float16 carries less precision information than float32, so float16 should execute faster. When I run below snippet code, float16 runs slower than float32.
[code]
The result is {'time_low': 0.30806946754455566, 'time_high': 0.0019991397857666016}. Float16 is much slower than float32.

### Versions

pytorch: 1.8.1
python: 3.8.3
os: win11

cc @VitalyFedyunin

[2022-08-14 01:40] jansel opened #83383 "PyTorch profiler is spammy"
Running the TorchDynamo benchmarking scripts in coverage mode results in:
[code]

All of the `ActivityProfilerController.cpp` logging makes it hard to read the actual output of the script.

IMO we should disable this logging by default.

cc @robieta @chaekit @aaronenyeshi @ngimel @nbcsm @guotuofeng @guyang3532 @gaoteng-git @tiffzhaofb

[2022-08-14 01:46] soumith opened #83384 "M1 nightly install is broken"
### 🐛 Describe the bug

Preface:

[code]

Bug 1: `torchaudio` isn't published for M1 ARM64 binaries, but the install command on the website tries to install it.

[code]

[code]

One can confirm the non-existence of `torchaudio` from this link: https://conda.anaconda.org/pytorch-nightly/osx-arm64

Bug 2: `conda install pytorch torchvision -c pytorch-nightly`

Our env constraints seem to be incorrec

[2022-08-14 01:48] soumith commented on #83384
i think the second bug is that the `torchvision` nightlies for M1 haven't been published in ~3 weeks

[2022-08-14 02:01] phamkhactu commented on #82870
Thank you @AllenTiTaiWang

[2022-08-14 03:13] lostmsu opened #83385 "Cannot compile CUDAExtension: cublasGetStream_v2 unresolved"
### 🐛 Describe the bug

I am trying to install https://github.com/NVIDIA/apex from source.

The build (which uses `CUDAExtension`) fails with

In the log I can see linker does not have a flag to link cublas.lib: these are the only libraries linked against: c10.lib torch.lib torch_cpu.lib torch_python.lib cudart.lib c10_cuda.lib torch_cuda_cu.lib torch_cuda_cpp.lib

### Versions

Collecting environ

[2022-08-14 03:16] lostmsu commented on #83385
Does not seem to be a bug. There should be a way to add CUDA libraries to link against.

[2022-08-14 04:05] squarefaceyao opened #83386 "RuntimeError: derivative for aten::mps_linear_backward is not implemented"
### 🐛 Describe the bug

[code]
When I run the above code 👆, it will prompt the following content.

How can I solve it please?
---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
Input In [11], in <cell line: 1>()
      3 loss = model.loss(x_PDE,x_BC)# use mean squared error
      4 optimizer.zero_gr

[2022-08-14 05:29] ehuaurora opened #83388 "zero-numel tensor has "RuntimeError: strides[cur - 1] == sizes[cur] * strides[cur] INTERNAL ASSERT FAILED" in multi-thread."
### 🐛 Describe the bug

Hello,

We encountered the following error and provide a reproduction example below.
[code]
There are multiple required conditions to reproduce this bug.
(1) a zero-numel() tensor is operated on.
(2) model runs `forward` in a separate thread than the main thread.
(3) model is on a GPU device.

We provide a close-to-minimal reproduction code in the following [gist](https://g

[2022-08-14 07:48] gorkemalgan commented on #81198
No, I face the same issue if I also use the prebuilt ones from Cocoapods. Yes, I used build_ios.sh for building from source.

[2022-08-14 09:55] SM1991CODES opened #83390 "LIBTORCH: Stack smashing encountered when using malloc/ free with libtorch"
### 🐛 Describe the bug

I am trying to use libtorch + torch_tensorrt

Since I need a large array of size 1x6x320x320, I tried using malloc to first create the array locally, then use torch::from_blob().cuda() to send it to GPU.

I can print and see the values correctly from the torch cuda tensor.
However, when I later call free to release the malloc memory, I get the following error:
![image](http

[2022-08-14 10:43] lanpa commented on #28206
Hi @orionr, the add_graph function in tensorboaordX has been redirected to pytorch's implementation since https://github.com/lanpa/tensorboardX/pull/595/.  The code for JIT graph tracing might need some modification to handle this.

[2022-08-14 12:15] Jingling1 opened #83392 "How to turn off determinism just for specific operations, e.g. upsampling through bilinear interpolation?"
This is the error caused by upsampling through bilinear interpolation when trying to use deterministic algorithms:

`RuntimeError: upsample_bilinear2d_backward_cuda does not have a deterministic implementation, but you set 'torch.use_deterministic_algorithms(True)'. You can turn off determinism just for this operation if that's acceptable for your application. You can also file an issue at https:/

[2022-08-14 13:36] ezyang opened #83393 "Test public bindings in CI gives weird output on error"
### 🐛 Describe the bug

https://github.com/pytorch/pytorch/runs/7824028166?check_suite_focus=true

There is a bunch of irrelevant failures. The real failure is reproducible locally and tells me only that there are some public API in symbolic_shapes that are not exported, but the CI output is useless

### Versions

master

[2022-08-14 13:43] malfet commented on #80764
@seemethere @atalman  do you think we can start building linux-arm64 PyTorch docker images?

[2022-08-14 13:47] malfet commented on #81224
Hmm, I understand the need to regular  linux-arm64 docker, but I'm quite confused how it can be integrated with MPS, which is a feature of Mac OS.

[2022-08-14 14:40] himanshucodz55 commented on #82091
@mrshenli Yes, i am using the exact same image. the that you mentioned above same on both the machine.

[2022-08-14 16:37] vadimkantorov commented on #81102
Also, batch reading/writing functions for images / audio could be put into this new package

[2022-08-14 20:20] kvyb commented on #78915
Would be great to get an update regarding this. Thanks!

[2022-08-14 21:21] linbinyu commented on #82443
maybe not the root cause, but the crash site was touched by https://github.com/pytorch/pytorch/pull/81277 and https://github.com/pytorch/pytorch/pull/81013.

To repro just run this command on the latest nightly:
python3 test/mobile/model_test/gen_test_model.py dynamic_quant_ops

If it works, then we can just enable the ios test.

[2022-08-14 22:44] xsacha commented on #78915
Likewise. This is the main limitation for us right now.

[2022-08-14 23:03] vadimkantorov commented on #52439
A simlar issue on op-scoped execution hints control: https://github.com/pytorch/pytorch/issues/83392

[2022-08-14 23:11] philipturner commented on #83264
I got some initial ideas down, and here are the restrictions:
- Only runs on Apple GPUs, family Apple6 or greater.
- Requires pre-compiling a Metal dynamic library, which the client app can link into.

I sketched out plans for the project in a new GitHub repository: [metal-float64](https://github.com/philipturner/metal-float64). I don't think 35-bit floating point arithmetic is worth my time, and

[2022-08-15 00:22] magicse opened #83394 "[ONNX] Convert GFPGANv1.3.pth to onnx"
### 🐛 Describe the bug

converting Convert GFPGANv1.3.pth to onnx give me next errors ->
[code]
Code of converter
[code]
[model.log](https://github.com/pytorch/pytorch/files/9334348/model.log)

### Versions

Collecting environment information...
PyTorch version: 1.10.0+cpu
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: Microsoft Windows 7 Professional
G

[2022-08-15 01:57] zyqm123 commented on #43735
I reproduce this issue when I try to tain the stylegan-apa model in ubuntu with pytorch 1.7.1

[2022-08-15 02:23] ezyang commented on #83315
It's hard to say without knowing the source code for FilterModel but likely it is because you are passing around a nontrivial data structure and `scatter_map` is unable to find the object in the data structure. In any case, you should try using DDP instead; DataParallel is not recommended.

[2022-08-15 02:25] ezyang commented on #83325
It should accept 0 numel tensors; it's probably an easy fix, send us a patch and tag me on it.

[2022-08-15 02:29] ezyang commented on #83326
Should be easy to add the dimension test for tril, if you submit a PR add me as reviewer.

[2022-08-15 02:33] ezyang commented on #83340
This is in all likelihood due to CUDA initializing the CUDA context. You can try doing a simple script with only a cuda operation in it to see.

[2022-08-15 02:33] #83340 closed

[2022-08-15 02:34] ezyang commented on #83347
sgtm

[2022-08-15 02:45] Hukongtao commented on #83320
torch 1.10.2:
![image](https://user-images.githubusercontent.com/16505966/184568625-1a0c4b62-937c-4f4f-8753-a357f31af860.png)
![image](https://user-images.githubusercontent.com/16505966/184568668-9b8b53fe-d48b-4661-ab47-0c9ef738be0a.png)
![image](https://user-images.githubusercontent.com/16505966/184568687-3b6a55ff-2ca0-44c6-b22e-c8b0d711de46.png)

torch 1.9.1:
![image](https://user-images.githubu

[2022-08-15 02:47] Hukongtao commented on #83320
@rohan-varma   It can be seen that torch1.10 is 856 seconds slower than torch1.9. And named_module and _member functions took 302 seconds and 300 seconds, respectively

[2022-08-15 02:59] Hukongtao commented on #83320
@rohan-varma I think it has nothing to do with the number of buffers, but with the complexity of the model. Because it needs to traverse the model to get the buffer.
![image](https://user-images.githubusercontent.com/16505966/184569923-024a7543-216f-47fd-94cf-edf3c621dbdf.png)

[2022-08-15 03:02] ezyang commented on #83376
Do you have an idea what the API for this functionality would be?

[2022-08-15 03:03] ezyang commented on #83381
This test is very wobbly, you should accept the new output with `EXPECTTEST_ACCEPT=1`

[2022-08-15 03:04] ezyang commented on #83382
You're probably not getting any specialized kernel for float16. Try upgrading PyTorch or running it on CUDA instead.

[2022-08-15 04:07] pytorch-bot[bot] opened #83396 "DISABLED test_aot_autograd_exhaustive_matrix_exp_cpu_float32 (__main__.TestEagerFusionOpInfoCPU)"
Platforms: mac, macos

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_aot_autograd_exhaustive_matrix_exp_cpu_float32&suite=TestEagerFusionOpInfoCPU&file=/Users/runner/work/pytorch/pytorch/functorch/test/test_pythonkey.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7829747412).

Over the pa

[2022-08-15 04:07] pytorch-bot[bot] opened #83397 "DISABLED test_aot_autograd_exhaustive_sinc_cpu_float32 (__main__.TestEagerFusionOpInfoCPU)"
Platforms: win, windows

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_aot_autograd_exhaustive_sinc_cpu_float32&suite=TestEagerFusionOpInfoCPU&file=..\functorch\test\test_pythonkey.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7829766778).

Over the past 3 hours, it has been determined f

[2022-08-15 04:07] pytorch-bot[bot] opened #83398 "DISABLED test_aot_autograd_exhaustive_nn_functional_mish_cpu_float32 (__main__.TestEagerFusionOpInfoCPU)"
Platforms: mac, macos

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_aot_autograd_exhaustive_nn_functional_mish_cpu_float32&suite=TestEagerFusionOpInfoCPU&file=/Users/runner/work/pytorch/pytorch/functorch/test/test_pythonkey.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7829747412).

Ove

[2022-08-15 04:07] pytorch-bot[bot] opened #83399 "DISABLED test_aot_autograd_exhaustive_exp2_cpu_float32 (__main__.TestEagerFusionOpInfoCPU)"
Platforms: win, windows

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_aot_autograd_exhaustive_exp2_cpu_float32&suite=TestEagerFusionOpInfoCPU&file=..\functorch\test\test_pythonkey.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7829766778).

Over the past 3 hours, it has been determined f

[2022-08-15 04:07] pytorch-bot[bot] opened #83400 "DISABLED test_aot_autograd_exhaustive_special_log_ndtr_cpu_float32 (__main__.TestEagerFusionOpInfoCPU)"
Platforms: mac, macos

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_aot_autograd_exhaustive_special_log_ndtr_cpu_float32&suite=TestEagerFusionOpInfoCPU&file=/Users/runner/work/pytorch/pytorch/functorch/test/test_pythonkey.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7829747412).

Over

[2022-08-15 04:07] pytorch-bot[bot] opened #83401 "DISABLED test_aot_autograd_exhaustive_linalg_inv_cpu_float32 (__main__.TestEagerFusionOpInfoCPU)"
Platforms: mac, macos

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_aot_autograd_exhaustive_linalg_inv_cpu_float32&suite=TestEagerFusionOpInfoCPU&file=/Users/runner/work/pytorch/pytorch/functorch/test/test_pythonkey.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7829747412).

Over the pa

[2022-08-15 04:07] pytorch-bot[bot] opened #83402 "DISABLED test_aot_autograd_exhaustive_max_reduction_no_dim_cpu_float32 (__main__.TestEagerFusionOpInfoCPU)"
Platforms: mac, macos

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_aot_autograd_exhaustive_max_reduction_no_dim_cpu_float32&suite=TestEagerFusionOpInfoCPU&file=/Users/runner/work/pytorch/pytorch/functorch/test/test_pythonkey.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7829747412).

O

[2022-08-15 04:07] pytorch-bot[bot] opened #83403 "DISABLED test_aot_autograd_exhaustive_erfc_cpu_float32 (__main__.TestEagerFusionOpInfoCPU)"
Platforms: mac, macos

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_aot_autograd_exhaustive_erfc_cpu_float32&suite=TestEagerFusionOpInfoCPU&file=/Users/runner/work/pytorch/pytorch/functorch/test/test_pythonkey.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7829747412).

Over the past 3 h

[2022-08-15 04:07] pytorch-bot[bot] opened #83404 "DISABLED test_aot_autograd_exhaustive_mT_cpu_float32 (__main__.TestEagerFusionOpInfoCPU)"
Platforms: win, windows

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_aot_autograd_exhaustive_mT_cpu_float32&suite=TestEagerFusionOpInfoCPU&file=..\functorch\test\test_pythonkey.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7829766778).

Over the past 3 hours, it has been determined fla

[2022-08-15 04:07] pytorch-bot[bot] opened #83405 "DISABLED test_single_output_functionalize (make_functionalize_test.<locals>.FunctionalizeTest)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_single_output_functionalize&suite=make_functionalize_test.<locals>.FunctionalizeTest&file=/var/lib/jenkins/workspace/functorch/test/test_functionalize.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7829691060).

Over the past

[2022-08-15 04:07] pytorch-bot[bot] opened #83406 "DISABLED test_aot_autograd_exhaustive_minimum_cpu_float32 (__main__.TestEagerFusionOpInfoCPU)"
Platforms: win, windows

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_aot_autograd_exhaustive_minimum_cpu_float32&suite=TestEagerFusionOpInfoCPU&file=..\functorch\test\test_pythonkey.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7829766778).

Over the past 3 hours, it has been determine

[2022-08-15 04:07] pytorch-bot[bot] opened #83407 "DISABLED test_aot_autograd_exhaustive_mH_cpu_float32 (__main__.TestEagerFusionOpInfoCPU)"
Platforms: mac, macos

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_aot_autograd_exhaustive_mH_cpu_float32&suite=TestEagerFusionOpInfoCPU&file=/Users/runner/work/pytorch/pytorch/functorch/test/test_pythonkey.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7829747412).

Over the past 3 hou

[2022-08-15 04:07] pytorch-bot[bot] opened #83408 "DISABLED test_new_empty (__main__.TestSymbolicTracing)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_new_empty&suite=TestSymbolicTracing&file=test_proxy_tensor.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7829772649).

Over the past 3 hours, it has been determined flaky in 2 workflow(s) with 2 failures and 2 successes.

**

[2022-08-15 04:07] pytorch-bot[bot] opened #83409 "DISABLED test_aot_autograd_exhaustive_nn_functional_selu_cpu_float32 (__main__.TestEagerFusionOpInfoCPU)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_aot_autograd_exhaustive_nn_functional_selu_cpu_float32&suite=TestEagerFusionOpInfoCPU&file=/var/lib/jenkins/workspace/functorch/test/test_pythonkey.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7829693573).

Over the past 3

[2022-08-15 04:07] pytorch-bot[bot] opened #83410 "DISABLED test_aot_autograd_exhaustive_exp_cpu_float32 (__main__.TestEagerFusionOpInfoCPU)"
Platforms: win, windows

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_aot_autograd_exhaustive_exp_cpu_float32&suite=TestEagerFusionOpInfoCPU&file=..\functorch\test\test_pythonkey.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7829766778).

Over the past 3 hours, it has been determined fl

[2022-08-15 04:07] pytorch-bot[bot] opened #83411 "DISABLED test_aot_autograd_exhaustive_nn_functional_hardsigmoid_cpu_float32 (__main__.TestEagerFusionOpInfoCPU)"
Platforms: win, windows

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_aot_autograd_exhaustive_nn_functional_hardsigmoid_cpu_float32&suite=TestEagerFusionOpInfoCPU&file=..\functorch\test\test_pythonkey.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7829766778).

Over the past 3 hours, it

[2022-08-15 04:07] pytorch-bot[bot] opened #83412 "DISABLED test_aot_autograd_exhaustive_sin_cpu_float32 (__main__.TestEagerFusionOpInfoCPU)"
Platforms: win, windows

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_aot_autograd_exhaustive_sin_cpu_float32&suite=TestEagerFusionOpInfoCPU&file=..\functorch\test\test_pythonkey.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7829766778).

Over the past 3 hours, it has been determined fl

[2022-08-15 04:07] pytorch-bot[bot] opened #83413 "DISABLED test_aot_autograd_exhaustive_asin_cpu_float32 (__main__.TestEagerFusionOpInfoCPU)"
Platforms: win, windows

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_aot_autograd_exhaustive_asin_cpu_float32&suite=TestEagerFusionOpInfoCPU&file=..\functorch\test\test_pythonkey.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7829766778).

Over the past 3 hours, it has been determined f

[2022-08-15 04:07] pytorch-bot[bot] opened #83414 "DISABLED test_aot_autograd_exhaustive_double_functorch_no_channels_last_cpu_float32 (__main__.TestEagerFusionOpInfoCPU)"
Platforms: win, windows

This test was disabled because it is failing in CI. See [recent examples](https://hud.pytorch.org/flakytest?name=test_aot_autograd_exhaustive_double_functorch_no_channels_last_cpu_float32&suite=TestEagerFusionOpInfoCPU&file=..\functorch\test\test_pythonkey.py) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/7829766778).

Over the past 3 ho

[2022-08-15 04:42] ezyang commented on #83390
Your code looks correct. I'd guess there is a problem elsewhere in your code. Try compiling with ASAN, or at least get a stack trace for the stack smash.

[2022-08-15 04:42] #83390 closed

[2022-08-15 05:52] IvanYashchuk commented on #83318
The state of linear algebra functions has improved since 1.8.1 and there's no error in the latest version. The only suggestion I have is to upgrade to a newer version of PyTorch.

[2022-08-15 05:52] #83318 closed

[2022-08-15 06:01] berlinsaint commented on #76543
seems to not happen again. but we find another problem...

[2022-08-15 06:37] z6491679 commented on #74091
hi i am using torch::nn::functional::unfold and there are not any docs or blogs that give any examples，do you have any docs？