[2021-05-10 17:57] ezyang commented on #55191
sure. edit `tensor_ctor` in `torch/csrc/utils/tensor_new.cpp`. If device is meta then data is OK to be ellipses, short circuit internal_new_from_data and just directly create an empty meta tensor instead.

[2021-05-10 18:00] soulitzer commented on #57649
Do we always want to allow unused though? Keeping this error might be a good sanity check for most cases. Maybe we could enable this with a flag

[2021-05-10 18:18] francisvac opened #57964 "RuntimeError: Exporting the operator index_add to ONNX opset version 11 is not supported."
## 🚀 Feature
Support for pytroch index add operator.

https://pytorch.org/docs/stable/tensors.html#torch.Tensor.index_add_

## Motivation

Make it easier to convert pytorch models to onnx

## Pitch

Currently some manual coding required to support models with index add to onnx.

## Alternatives

NA

## Additional context

Convert to onnx to run on tensorrt

cc @houseroad @spandantiwari @lara-hdr @

[2021-05-10 18:36] driazati opened #57967 "[local linter] mypy_wrapper doesn't filter out distributed file"
mypy_wrapper's logic for excluding files doesn't totally match up with mypy itself (though the file below isn't listed in `mypy.ini`'s `exclude`s, so who knows what's really going on)

[code]

[2021-05-10 18:53] pearu commented on #57381
Use unsafe CSR constructor when it becomes available: https://github.com/pytorch/pytorch/pull/57274#discussion_r629580597

[2021-05-10 19:54] pritamdamania87 commented on #57960
In a more general case, does this mean even operations like this might not be synchronized properly?

[code]

If both RPCs use different streams, wouldn't there be a synchronization issue here too?

[2021-05-10 19:55] heitorschueroff commented on #57121
I took a closer look at this issue and turns out it's not a perf regression and I could not repro the numbers reported here.

The current master is giving me the following numbers:
[code]

I also ran the following script on different versions of pytorch

[code]

And got the following results

[code]

I'm removing the high-priority label and also removing this from 1.9 milestone. I'm leaving the is

[2021-05-10 20:13] imaginary-person commented on #57707
Hello @ngimel,

These PRs are ready for review -

Created #57907 for `lerp`,
#57905 for `hypot` & `atan2`,
#57916 for `roll` & `diag`
#57910 for `ceil`, `floor`, `frac`, `round` & `trunc`,
#57904 for  `cumsum`, `logcumsumexp`, `cumprod`, `cummin` & `cummax` ,
#57913 for `acos`, `asin`, `atan`, `cosh`, `sin`, `sinh`, `tan`, `sinc`, `exp2`, `erfc`, `expm1` & `rsqrt` (tests are still running because

[2021-05-10 20:18] pritamdamania87 commented on #57960
There is a dependency here. The user first calls rpc_sync to add a value to rref on w1 and then calls rpc_sync to multiply a value to the same rref on 1. From the user's perspective these ops should happen in that order (first add and then mul) since both operations are rpc_sync. The full code could be something like this:

[code]

[2021-05-10 20:25] mrshenli commented on #57960
Do you mean this instead?

[code]

[2021-05-10 20:30] pritamdamania87 commented on #57960
Ah yes my bad, your example above is what I meant (missed adding the += and *=).

[2021-05-10 20:37] imaginary-person opened #57982 "`nan_to_num` produces incorrect output for `BFloat16` on CUDA"
## 🐛 Bug

`nan_to_num` produces incorrect output for `BFloat16` on CUDA.

## To Reproduce

Steps to reproduce the behavior:

1. Enable BFloat16 for `nan_to_num` on CUDA, as in https://github.com/pytorch/pytorch/blob/cae432f38c4eaf394990f4faba0861ed128b4f36/aten/src/ATen/native/cuda/UnaryOpsKernel.cu#L131-L137
2. Add BFloat16 to `nan_to_num`'s OpInfo in `common_methods_invocations.py`. For example,

[2021-05-10 21:20] robieta commented on #49480
The issue here is that we use an implementation detail (the name of `functional.py`) as an API construct (`torch.nn.functional`). So when we do something like:

[code]

Python has no way of differentiating between `_bar` and `baz`; to it they're both just global variables. A couple options spring to mind for how to resolve this, but the most Pythonic I think is to move `functional.py` to a clearly

[2021-05-10 21:32] soulitzer commented on #57649
Oh I was thinking of something like:
[code]
where the user just forgets to add something when they actually meant for that computation to be part of the graph
but I suppose they would eventually find out anyway when running `.grad`

[2021-05-10 21:38] #49769 closed

[2021-05-10 21:46] mrshenli commented on #57960
Yep, as `rpc_sync` is `rpc_async` + wait.

This does not have to be the default stream, right? As long as we pick a specific stream for this synchronization, it should work, and we can also avoid messing up with the ops in the callee foreground user thread.

Right, we discussed about this in early design meetings, and ruled this out. @lw might be able to share more details.

We might need multiple

[2021-05-10 21:52] heitorschueroff commented on #57121
It's true that with `optimize=true` NumPy runs much faster, I'm working on adding some initial support for a similar feature to PyTorch. That along with other optimizations should get in by 1.10 release and hopefully get PyTorch on par with NumPy for these cases.

[2021-05-10 21:56] anjali411 commented on #55754
@mruberry yeah we should try to fix this in the upcoming release if possible

[2021-05-10 21:58] mrshenli commented on #57960
I missed this one.  How do we guarantee that the RPC launched by wait() will be executed after all previous RPCs on w1? With the following code, is it possible that the 10th RPC might need to wait for the 1st RPC, because the wait() RPC can be executed earlier?

[code]

[2021-05-10 22:00] anjali411 commented on #33152
yeah I believe so. could you file an issue requesting this functionality?

[2021-05-10 22:06] pritamdamania87 commented on #57960
Yes, I meant multiple events per `src`. In the code that you shared, you're referring to the fact that two RPCs might share the same stream on the callee side (since we have a fixed pool) and in that case we end up waiting for the other as well right? I think that should be fine since this applies to other CUDA ops in PyTorch overall where we have a fixed pool, but the user might end up using way

[2021-05-10 22:06] walterddr commented on #56210
Added list, dict and tuple support in #57363.

Please feel free to reopen/create new issue if you think this is not resolved or more PEP-585 types should be supported

[2021-05-10 22:06] #56210 closed

[2021-05-10 22:10] pritamdamania87 commented on #57960
Yes, you are right about this and it is a problem. I don't think there is a guarantee that the RPC launched by `wait()` will execute after all others. It seems like this contract needs to be somehow enforced on the caller side and not the callee, since that is what happens for CPU execution (see also the nested RPC case above where this breaks).

[2021-05-10 22:11] ngimel commented on #57121
Note that if you benchmark single-threaded perf, pytorch is much slower than numpy for cases 3,4 (although this is not a regression from 1.7)

[2021-05-10 22:13] ngimel commented on #57982
cc @kshitij12345

[2021-05-10 23:51] peterbell10 commented on #25393
Another instance, this time inside protobuf:
[code]
https://app.circleci.com/pipelines/github/pytorch/pytorch/317648/workflows/504abdce-7887-47a1-bf6a-de417da17503/jobs/13229319

Running `nvcc` with `--verbose --keep` I found the syntax error is introduced by `cudafe++` which is the cuda compiler front end. `cudafe++` operates on the output from the compiler's pre-processor and that output barely

[2021-05-11 00:27] jamesr66a opened #58004 "[FX] wrapped functions not supported in retracing"
[code]

[2021-05-11 02:12] XinWangg commented on #46586
@knaffe Have you solve the problem? I am converting swin transformer too..

[2021-05-11 04:01] mruberry commented on #33152
Extending `nan_to_num()` to handle complex values sounds good, but I'd like to then propose we declare any complex number with a real and/or complex NaN as NaN, and we follow through on this decision in other operations, like with the `equal_nan` kwarg on `isclose()` and `TestCase.assertEqual()` and the new `testing.assert_close()`. For the latter two we already have "relaxed" NaN handling, and th

[2021-05-11 04:11] SamNPowers commented on #42155
Interesting, thanks for the links. Any idea why it was using /dev/shm when I was specifying a location on-disk?

[2021-05-11 04:23] Manoa1911 commented on #9873
none of export NUM_CORES=12 MKL_NUM_THREADS=12 OMP_NUM_THREADS=12 worked for me on windows
I used torch.set_num_threads(12) in the .py file and it worked :)
torch 1.8.1

[2021-05-11 05:05] rohan-varma opened #58015 "Support a dist.group_like API"
## 🚀 Feature

Sometimes it is useful to create a process group similar to another process group, but with a different backend. For example, this came up when using DDP for dense parameter synchronization and having to create a gloo pg with the same set of ranks for DDP across the sparse part (since NCCL doesn't yet support sparse tensors).

Currently we have to do something like the following:
[co

[2021-05-11 05:27] gmagogsfm commented on #45225
Closing as custom save/load state dict methods are supported in TorchScript as long as they are compiled via `torch.jit.export`, see examples here:
https://github.com/pytorch/pytorch/pull/57886

[2021-05-11 05:27] #45225 closed

[2021-05-11 05:32] wenleix opened #58016 "Eliminate potential double device check"
#56872 adds device check support in dispatcher wrapper. See https://dev-discuss.pytorch.org/t/device-check-will-be-automatically-generated-for-functions/211 for details.

For kernels implement its own device check, this results in checking tensor device twice. We should:
1. Remove device check in kernel if possible
2. If (1) is not feasible (e.g. there is extra special logic in kernel device check

[2021-05-11 05:59] mruberry commented on #57939
cc @Balandat, have you ever wanted functionality like this?

[2021-05-11 06:00] mruberry commented on #57938
I've added the docs label to clarify our documentation to explain this behavior is expected

[2021-05-11 06:03] mruberry commented on #57955
A good opportunity to do this would be while reviewing further extensions of the torch.linalg module for scipy.linalg compatibility

[2021-05-11 07:17] tianboh commented on #57938
Thanks! It makes sense now.

[2021-05-11 07:17] #57938 closed

[2021-05-11 08:45] robin5540 opened #58030 "Add a warning when `prefetch_factor * num_worker <= batch_size`"
## 🚀 Feature

Show a warning in `torch.util.data.dataloader.Dataloader` when `prefetch_factor * num_worker <= batch_size`

## Motivation

The goal of using mp in dataloader is to avoid waiting for data. When the fetch buffer is smaller than `batch_size`, `next(dl_iter)` will end up always waiting for data. This is quite an annoying bug when misconfigured.

## Pitch

Adding a warning will make this

[2021-05-11 08:52] GoingMyWay commented on #18325
I think you are right.

[2021-05-11 09:14] Flamefire opened #58031 "Aliasing violation in vec256 leads to misoptimization"
## 🐛 Bug

At https://github.com/pytorch/pytorch/blob/43f6deb6e447aae9d2edbd9441043b03c6ff0992/aten/src/ATen/cpu/vec256/vec256_base.h#L706 an invalid reinterpret_cast is made: `reinterpret_cast<const intmax_t*>((const T*) a);`

This casts a pointer to `T` (e.g. `int32_t`) to an unrelated type which is according to the C++ standard undefined behavior.

In PyTorch 1.7.1 this codepath was used on e.g.

[2021-05-11 09:35] lezcano opened #58034 "Add a `descending` flag to `linalg.eigh` and `linalg.svd`"
At the moment the eigenvalues are returned in `linalg.eigh` in ascending order, while the singular values in `linalg.svd` are returned in descending order.

This dissonance is annoying but it goes in line with Numpy. Even then, we should at least give the user a nice interface to ask for the order they want the spectral values in. The name of the flag is in line with that present in `torch.sort`.

[2021-05-11 09:55] AdrianKs commented on #15849
@xx-zhou16 Are you at any point changing something in the dataset? As the dataloader-worker is kept alive in a separate process, the changes to the dataset won't propagate to the workers.

[2021-05-11 09:57] #24461 closed

[2021-05-11 10:05] xx-zhou16 commented on #15849
@AdrianKs https://github.com/pytorch/pytorch/issues/15849#issuecomment-838188281 https://github.com/pytorch/pytorch/issues/15849#issuecomment-838142196
Nothing is changed in the dataset during the training.

And I also find that, if I evaluate a normally trained model (only inference, but not training), the metrics of the predictions are not correct (extremely low). In detail, I do not `FastDataLo

[2021-05-11 10:20] asi1024 opened #58035 "Support `__rmod__`"
## 🚀 Feature
Support `aten::remainder` for Scalar x Tensor inputs (`aten::remainder(Scalar, Tensor)`), and `torch.Tensor.__rmod__`.
(cc: @mruberry, @rgommers, @emcastillo and @kmaehashi)

## Motivation and Pitch

To enhance the compatibility with NumPy’s interface (c.f. https://github.com/pytorch/pytorch/issues/38349).

[code]

## References

* [NumPy numpy.remainder]https://numpy.org/doc/stable/r

[2021-05-11 11:17] vadimkantorov opened #58038 "Module's confusing message of AttributeError"
[code]

It should complain about inexistent attribute `asd`, and not `myprop`

cc @albanD @mruberry @jbschlosser

[2021-05-11 13:57] rachtibat commented on #42654
In my case the problem was, that the labels were dictionaries and not tensors. You have to use collate_fn as Vincentyua suggested

[2021-05-11 14:19] zou3519 opened #58044 "aten::ops namespace with unambiguous function names"
## 🚀 Feature

An autogenerated at::ops namespace that contains:
- all operators in function form
- each operator has a unique name (e.g., there are TWO different add functions instead of a single overloaded add).
- These unique names are generated by replacing the "." in the schema name with '_'.
- These ops are regular C++ functions that directly call into the c++ operator.

So, for example, we'd

[2021-05-11 14:23] aaditya-panik commented on #56909
Hi @gmagogsfm,

I'm new to pytorch, so was going through a couple of "good first issue" labels to see if I can work on some of them. More specifically for this issue, I noticed the use of `py::getattr` without the defaults and also a comment related to `hasattr` for python modules [here](https://github.com/pytorch/pytorch/pull/52847#discussion_r587746704). Is there a reason for `hasattr` not being

[2021-05-11 14:52] ezyang commented on #58044
Yes let's do it.

This biggest objection to this is one @gchanan put forward, which is that we want to avoid a magic munging scheme for concatenating function names and overloads together. This could be worked around with a simple macro, similar to how `TORCH_META_FUNC` is implemented.

[2021-05-11 16:06] vkuzo opened #58051 "quantize_per_tensor not symbolically traceable with FX if scale+zp are proxied"
## 🐛 Bug

Unable to symbolically trace a `torch.quantize_per_tensor` method call with FX if scale and zero_point are proxied.

## To Reproduce

[code]

[2021-05-11 16:12] bertmaher opened #58053 "[nnc] Fix tensor expression for gelu"
NNC gelu sometimes produces inaccurate results (as discovered by internal testing).  Create a repro and revert #58027

[2021-05-11 16:15] xkszltl opened #58054 "PyTorch master failed to build with glog 0.5.0."
## Bug

Log:

[code]

glog 0.5 is released a few days ago.
IIRC pytorch redefined that func to expose it.
Wondering that's related.

## Environment

 - PyTorch Version (e.g., 1.0): master
 - OS (e.g., Linux): Ubuntu 18.04 / CentOS 7
 - How you installed PyTorch (`conda`, `pip`, source): source
 - Build command you used (if compiling from source): cmake+ninja+gcc
 - Python version: 3.6
 - CUDA/cuDN

[2021-05-11 16:20] mruberry commented on #58034
Should the Python Array API consider specifying they both be returned in ascending (or descending) order for consistency?

cc @rgommers

[2021-05-11 16:21] dbalchev opened #58055 "QNNPACK convolution race condition"
## 🐛 Bug

We're hitting a QNNPACK race condition, when executing quantized convolutions concurrently in more than 1 thread.

## To Reproduce

Steps to reproduce the behavior:

1. Run the following script
[code]
1. Pretty consistently I get either a segmentation fault, another memory error (e.g. double free) or
   the following message:
[code]

## Expected behavior

The script should finish without

[2021-05-11 16:41] nikithamalgifb commented on #57639
The issue here is we are making a copy of the module in `trace_module` and hence in the `create_trace_method_from_module` doesn't update the module. Code for this: https://github.com/pytorch/pytorch/blob/565550d89ae72ff9227ae8c019e08e7890503ad9/torch/jit/_trace.py#L936-L960

[2021-05-11 16:43] xkszltl commented on #58054
This commit set default visibility to hidden and could be related:
https://github.com/google/glog/commit/c30896d3d545ad15910ad4279b63e23f7d66d3e9#diff-1e7de1ae2d059d21e1dd75d5812d5a34b0222cef273b7c3a2af62eb747f9d20a

[2021-05-11 17:40] beibuwandeluori commented on #5560
maybe the numerical overflow

[2021-05-11 18:01] nikithamalgifb commented on #57740
Unfortunately, this is not supported for now. Can you call `register_buffer` from `init` instead?

[2021-05-11 18:03] nikithamalgifb commented on #57739
We do not intend to fix this at this time since it involves a lot of infrastructure work. But will be happy to look into this in the near future.

[2021-05-11 18:08] nikithamalgifb commented on #57937
cc: @iseeyuan

[2021-05-11 18:13] kshitij12345 commented on #57982
How come the `rtol=0.016`? Did I miss any setting for the same? Did you set the `precisionOverride` decorator (IIRC even this decorator sets `atol` not `rtol`?

[2021-05-11 18:22] imaginary-person commented on #57982
Oh, I see - tensors are compared after scalars in this test...
That explains it, then. There's no need to dig further. :)
Thanks again for your help!

I added default `atol`, `rtol`  values from https://github.com/pytorch/pytorch/blob/master/torch/testing/_internal/common_utils.py#L1144-L1149 to https://github.com/pytorch/pytorch/blob/master/test/test_unary_ufuncs.py#L294-L297.

[2021-05-11 19:05] iramazanli commented on #53441
Conjugate Gradient descent is useful to solve system of linear equations in particular when the representation matrix of equations is positive definite. That's why it would be great fit for linear algebra module instead of torch.optim.

[2021-05-11 19:15] kurtamohler opened #58073 "Remove beta warning for `use_deterministic_algorithms`"
Since `use_deterministic_algorithms` is stable for 1.9, we can remove beta warnings.

cc @mruberry @kurtamohler

[2021-05-11 19:25] xwang233 opened #58076 "Got build error with Kineto and CUPTI_LIBRARY_PATH"
## 🐛 Bug

Cannot build pytorch latest master 18edb77 because of cmake error in kineto and cupti. https://github.com/pytorch/pytorch/pull/57789 is probably related.

## To Reproduce

Steps to reproduce the behavior:

`python setup.py develop`

Some build logs while searching "kineto"

Before:

[code]

After:

[code]

## Expected behavior

build successful

## Additional context

We have to build wi

[2021-05-11 19:35] imaginary-person commented on #57982
Hello @ngimel, [`test_reference_numerics_extremal`](https://github.com/pytorch/pytorch/blob/master/test/test_unary_ufuncs.py#L353) doesn't use `finfo`,
but I can create `_bfloat16_extremals` (like [`_float_extremals`](https://github.com/pytorch/pytorch/blob/master/test/test_unary_ufuncs.py#L63)) with values such as:

`_bfloat16_extremals = (torch.finfo(torch.bfloat16).max + 1.0, torch.finfo(torch.

[2021-05-11 19:43] bhosmer commented on #37508
@ifeherva good point, but I think the issue is moot after #56674, which dispenses with the equality test and checks only for identity. Rationale being that testing for value equality is expensive and in the general case is purely sunk cost, and since output is the same along all paths (mod numerical stability), we're free to choose a sweet spot when it comes to optimizing the self-attention case.

[2021-05-11 19:50] ezyang commented on #42155
tmp is often mounted as a tmpfs, which is the same as /dev/shm

[2021-05-11 20:02] heitorschueroff opened #58081 "Add ONNX support for the new linalg.norm, linalg.matrix_norm and linalg.vector_norm functions."
cc @jianyuh @nikitaved @pearu @mruberry @heitorschueroff @walterddr @IvanYashchuk @xwang233 @Lezcano @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof @SplitInfinity

[2021-05-11 20:15] rgommers commented on #58034
To add to that, for `numpy.linalg.eigvals`:
[code]
`torch.linalg.eigvals` does not document its behavior.

I'm not really a fan of such keywords, because they don't do anything more than `s = s[..., ::-1]`, you rarely need them, and if you do need them it's unlikely you get it wrong. So my preference would be to just have good documentation.

[2021-05-11 20:27] Rushil231100 commented on #14260
I encountered the same problem , have you found the solution ?@liuyyy111

[2021-05-11 20:44] ngimel commented on #57982
I see that test_reference_numerics_extremal doesn't use finfo, but you can adjust numpy kwargs in the op.sample_kwargs?

[2021-05-11 21:02] SciPioneer commented on #58015
Another alternate approach is providing an API to collect all the ranks as a list.

IMO, `group_like` can be a bit ambiguous, because it's a bit unclear whether the timeout will be the copied or the default value is used. I would prefer providing a `get_all_ranks()` API instead, which can give a very precise control.

On the other hand, I don't see a way for your proposed `group_like` API to creat

[2021-05-11 21:17] iramazanli opened #58087 "TensorList upfront checks parameter types in argument parsing and throws an error unexpectedly"
It has been discussed in the following PR https://github.com/pytorch/pytorch/pull/57529#discussion_r627059296 that in the process of argument parsing, unlike other lists (IntList, ScalarList etc) type checking wants to handle TensorLists parameters upfront whether TensorList is the correct parameter of signature or not.

Specifically, in the following line we can see
https://github.com/pytorch/pyt

[2021-05-11 21:20] Lezcano commented on #58034
Note that `linalg.eigvals` does not have it because it always returns a complex tensor.

I do not have a strong preference for one or the other, but it's just a bit odd that the order for `svdvals` and `eigvalsh` is the opposite...

[2021-05-11 21:49] soulitzer opened #58091 "Follow-up updates to inference mode python bindings"
Issue tracks some things to do to follow up on #58045
 - Move tests to separate file from `test_autograd`
 - Move `inference_mode` context manager to its own file (from `grad_mode.py`
 - Python bindings for `is_inference_tensor`
 - Improved short description and example
 - Link to tutorial

[2021-05-11 22:08] #57944 closed

[2021-05-11 22:18] tueboesen opened #58093 "TrilinearBackward takes 98.4% of total computational time, is this to be expected?"
I made a new neural network yesterday that seems to be running very slow for some reason, so I used the profiler on it today and got the following. When just running it on the forward pass of the model I get the following:

[code]
In this case the bilinear operation seems to take a rather large percentage of the total time, which is a bit surprising since I wouldn't have expected it to be that big

[2021-05-11 22:41] bhosmer commented on #37508
@ifeherva closing the issue per above comment, but feel free to reopen if you see problems with the current solution!

[2021-05-11 22:41] #37508 closed

[2021-05-11 22:50] jamesr66a commented on #58051
This works if the first argument is a tuple of tensors:
[code]

[2021-05-11 23:04] kurtamohler opened #58096 "Remove deprecated `torch.set_deterministic` and `torch.is_deterministic`"
`torch.set_deterministic` and `torch.is_deterministic` were deprecated in favor of `torch.use_deterministic_algorithms` and `torch.are_deterministic_algorithms_enabled` in 1.8. Furthermore, the feature was in beta at that time. So it would most likely be safe to remove the deprecated functions.

cc @mruberry @kurtamohler

[2021-05-11 23:18] mrzzd opened #58098 "Make remote module instantiation async"
## 🚀 Feature
Make remote module instantiation async

## Motivation

Currently creating a RemoteModule is not async. meaning that by calling RemoteModule constructor, the caller has to wait until the module instantiated on the remote worker/device before it can continue. That's adds up to many hours if the user has hundreds of remote modules to be created (e.g. a GPT3 model to be created on 100 gpu

[2021-05-12 00:02] ngimel opened #58101 "jit compilation errors out in pytorch 1.8.1+cu11.1 pip wheel"
## 🐛 Bug

When jit-compiling cuda code, libnvrtc tries to dlopen libnvrtc-builtins.so.11.1, but our pip package comes with only libnvrtc-builtins.so

## To Reproduce
[code]
errors out with
[code]

The libraries that come with the wheel are
`['libc10.so', 'libc10_cuda.so', 'libcaffe2_detectron_ops_gpu.so', 'libcaffe2_module_test_dynamic.so', 'libcaffe2_nvrtc.so', 'libcaffe2_observers.so', 'libshm.s

[2021-05-12 00:05] malfet commented on #58101
Search library name changed between 10.2 and 11.x:
11.2:
[code]
10.2:
[code]

[2021-05-12 00:40] xx-zhou16 commented on #15849
https://github.com/pytorch/pytorch/issues/15849#issuecomment-839192912 @ezyang
I don't think it is about RNG.
1. For training with `FastDataLoader`, if it is only different on RNG, the models should be similar on accuracy. But now the models trained with and without `FastDataLoader` are so different on accuracy.
2. For inference, it is definitely not related to RNG. No random is used there. The ev

[2021-05-12 00:40] xx-zhou16 commented on #15849
https://github.com/pytorch/pytorch/issues/15849#issuecomment-839192912 @ezyang
I don't think it is about RNG.
1. For training with `FastDataLoader`, if it is only different on RNG, the models should be similar on accuracy. But now the models trained with and without `FastDataLoader` are so different on accuracy.
2. For inference, it is definitely not related to RNG. No random is used there. The ev

[2021-05-12 00:40] xx-zhou16 commented on #15849
https://github.com/pytorch/pytorch/issues/15849#issuecomment-839192912 @ezyang
I don't think it is about RNG.
1. For training with `FastDataLoader`, if it is only different on RNG, the models should be similar on accuracy. But now the models trained with and without `FastDataLoader` are so different on accuracy.
2. For inference, it is definitely not related to RNG. No random is used there. The ev

[2021-05-12 00:47] xx-zhou16 commented on #15849
There is another thing to be noted:
1. use `FastDataLoader` leads to much lower accuracy (very apparently at the beginning of training). But it can speed up the training procedure.
2. But everything is alright if I use `_persistent_worker=True` on Pytorch Official Implementation. The training and inference are both normal. And it can also speed up.

But not all my experiments can be done on Pytorc

[2021-05-12 00:55] #55579 closed

[2021-05-12 00:56] gchanan commented on #47112
what is happening here is that the constructor is interpreting the Tensor as an IntArrayRef because a 1-element integer tensor passed PyLong_Check.

[2021-05-12 01:25] #57706 closed

[2021-05-12 01:53] #56129 closed

[2021-05-12 02:03] wangtieqiao opened #58109 "torch.jit.trace memory leak"
## 🐛 Bug

torch.jit.trade has memory leak.

## To Reproduce

Run following code

        import gc
        import os
        import sys

        import torch
        import psutil

        nFeatures = 52

        layer_neurons = [nFeatures,128,256,512,256,128,128,64,64,32,32,16,16,8,8]
        layers = []
        for i, o in zip(layer_neurons[:-1], layer_neurons[1:]):
            layers.append(tor

[2021-05-12 02:20] rohan-varma opened #58111 "Static graph training fails if forward is called multiple times before backward"
## 🐛 Bug

The accounting for how many times a grad will have its hook called is done in the backwards pass, namely in the autograd hook for the variable. However we only do this if `num_iterations_ == 1` so we implicitly have the assumption that every forward pass will do a backwards pass before calling the next forward.

However, this assumption breaks if the user does a forward, no backward, and

[2021-05-12 03:58] mruberry commented on #13739
Closing due to age; if this still occurs on the current version of PyTorch please reopen and update the issue

[2021-05-12 03:58] #13739 closed

[2021-05-12 03:59] mruberry commented on #13764
@SsnL is this still relevant?

[2021-05-12 04:00] mruberry commented on #13711
Closing due to age; if you're still encountering this issue on the latest PyTorch please open a new issue with an updated reproduction

[2021-05-12 04:00] #13711 closed

[2021-05-12 04:01] mruberry commented on #13651
Closing due to age; if this is still occurring with the latest PyTorch please open a new issue with a new reproduction

[2021-05-12 04:01] #13651 closed

[2021-05-12 04:02] ngimel commented on #58093
cc @fmassa, @vfdev-5 for perf of interpolation operators.

[2021-05-12 04:02] mruberry commented on #13636
Closing due to age and lack of reproduction; if this issue still occurs on the latest version of PyTorch please file a new issue

[2021-05-12 04:02] #13636 closed

[2021-05-12 04:02] mruberry commented on #13628
Closing due to age

[2021-05-12 04:02] #13628 closed

[2021-05-12 04:02] mruberry commented on #13618
Closing due to age

[2021-05-12 04:02] #13618 closed

[2021-05-12 04:03] mruberry commented on #13605
@zou3519 can we close this issue?

[2021-05-12 04:04] ngimel commented on #58093
Are you running on CPU or GPU? Small reproducible example would help.

[2021-05-12 04:06] #13764 closed

[2021-05-12 04:07] mruberry commented on #58076
@malfet we might want to consider an "oncall: build" designation to filter these faster to the relevant experts

[2021-05-12 04:07] tueboesen commented on #58093
All the above was done on CPU.
I will see whether I can make a small example tomorrow.

[2021-05-12 04:11] mruberry commented on #58054
What about PyTorch 1.8, @xkszltl?

[2021-05-12 04:43] liuyyy111 commented on #14260
Sorry, I did not continue to struggle with this issue at the time. Due to time constraints, I directly use another server to train the model.

[2021-05-12 05:24] tueboesen commented on #58093
Interestingly enough I just tried out the [FullyConnectedTensorProduct](https://docs.e3nn.org/en/stable/api/o3/o3_tp.html?highlight=FullyConnectedTensorProduct#e3nn.o3.FullyConnectedTensorProduct) from e3nn as a substitute for the bilinear operation (They should be essentially the same operation in the case of scalars). Their operation takes a bit longer in the forward pass than bilinear operation

[2021-05-12 05:27] Chillee opened #58119 "[FX] Revise PyTree support in FX to move pytree logic out of `self.code`"
The idea is to move pytree-ification of a module into a separate pass, and have that pass return a tuple of `(flat_graph, reinstall_pytree_fn)`.

[2021-05-12 05:38] robert780612 commented on #48439
I also suffer from this issue, and I found a workaround as the following.

[code]

[2021-05-12 06:06] asi1024 opened #58120 "Support `__rand__`, `__ror__` and `__rxor__`"
## 🚀 Feature
Support `torch.Tensor.{__rand__, __ror__, __rxor__}`.
(cc: @mruberry, @rgommers, @emcastillo and @kmaehashi)

## Motivation and Pitch

To enhance the compatibility with NumPy’s interface (c.f. https://github.com/pytorch/pytorch/issues/38349).

[code]

## References

* [Python Array API: Reflected Operators](https://data-apis.org/array-api/latest/API_specification/array_object.html#ref

[2021-05-12 06:07] asi1024 opened #58121 "Support `__rlshift__` and `__rrshift__`"
## 🚀 Feature
Support `torch.Tensor.{__rlshift__, __rrshift__}`.
(cc: @mruberry, @rgommers, @emcastillo and @kmaehashi)

## Motivation and Pitch

To enhance the compatibility with NumPy’s interface (c.f. https://github.com/pytorch/pytorch/issues/38349).

[code]

## References

* [Python Array API: Reflected Operators](https://data-apis.org/array-api/latest/API_specification/array_object.html#reflec

[2021-05-12 06:11] gmagogsfm opened #58122 "Generate special clear error messages for known common misuses in TorchScript"
There are some common misuse patterns in TorchScript that we should issue clear error messages for instead of generating generic error that doesn't capture root cause of error.

Here are a few examples:

- Attempting to construct a `nn.Module` inside TorchScript. This currently errors out because TorchScript would attempt to compile `__init__()` method of module, which usually contains a call to `

[2021-05-12 06:13] hamishc opened #58123 "FP16 inference with Cuda 11.1 returns NaN on Nvidia GTX 1660"
## 🐛 Bug

Half precision inference returns NaNs for a number of models when run on a 1660 with Cuda 11.1

## To Reproduce

[code]

## Expected behavior

I would expect the output from each to be approximately the same for FP16 as with FP32, but the above script produces (truncated for clarity):

[code]

Testing with other nets produces the same results. e.g.
[code]

Running this same test on other

[2021-05-12 06:17] joh4n commented on #57740
The implementation I was playing with needed to update the buffer in every forward pass. But looking at the code for `.register_buffer` I could try to register it in the init and then use `self._buffers[name]` in the forward for now

[2021-05-12 06:30] ptrblck commented on #58123
I'm unable to reproduce the NaN outputs on a 2080Ti (same compute capability `sm_75` as your 1660) using the PyTorch 1.8.1 pip wheels with CUDA11.1 and get valid outputs for multiple runs.
Are you seeing this issue in every run?

[2021-05-12 06:33] gmagogsfm opened #58124 "Python API binding code generation does not need to pack TensorOptions for `xxx_like` generators"
## 🚀 Feature
Tensor generators like `zeros_like` have kernels that read tensor options like device/dtype from input tensor. Generated code for Python API bindings does not need to redundantly extract same information from input tensor at binding layer.

## Motivation

Normally extracting the tensor options early at Python binding is harmless. However, this isn't true when program is executed under

[2021-05-12 07:06] raziel commented on #57937
Not all operators are supported in the NNAPI. In this case slice, hence the reported error.
So the solution in this case is to remove such dependency.

[2021-05-12 07:08] lukasfolle commented on #7455
Any progress on this issue?

[2021-05-12 07:38] nivesh48 commented on #40316
Hey @z-a-f, I'm interested to work on this if this issue is still open!

[2021-05-12 07:40] nivesh48 commented on #20704
Hey @yf225, i would like to work on this issue

[2021-05-12 07:41] nivesh48 commented on #57698
Hey @nikithamalgifb, I'm interested to work on this.

[2021-05-12 08:10] TXacs opened #58127 "Save checkpoint error"
when I save the lr_scheduler.state_dict() to checkpoint, torch.save will report following error

Traceback (most recent call last):
  File "pytorch_imagenet_resnet50.py", line 526, in <module>
    save_checkpoint(epoch)
  File "pytorch_imagenet_resnet50.py", line 311, in save_checkpoint
    torch.save(state, filepath)
  File "/THL5/home/wql17/anaconda3/envs/py36/lib/python3.6/site-packages/torch/s

[2021-05-12 08:30] wangyunxiaa opened #58128 "the same input with different batchsize got different precision output"
## Issue description

Provide a short description.

## Code example
I have an Transform model
when i do inference with an input:
`att_out, ctc_out, state1 = encode_model(inputs, length, outlength, num_idb, state)`

and then, I got a batch input by followings:
`  batch = int(sys.argv[1])
        inputs = torch.cat([inputs for i in range(batch)], dim=0)
        length = torch.cat([length for i in ra

[2021-05-12 08:32] hamishc commented on #58123
I've managed a minimal reproducible example with just Conv2d operations - see below:
[code]
produces
[code]

[2021-05-12 08:51] Xia-Weiwen commented on #21120
Update
**PR plan for MKLDNN int8 support**
- [ ] Add MKLDNN to qengine list
- [ ] Implement qconv
- [ ] Implement qlinear

(to be continued.)

[2021-05-12 09:02] ptrblck commented on #58123
Thank you for the follow up!
I was able to reproduce the invalid outputs on a 1660Ti and will forward the api logs to cudnn.

[2021-05-12 09:10] mruberry commented on #58128
This question is probably more appropriate for the PyTorch forums: https://discuss.pytorch.org/

[2021-05-12 09:12] mruberry commented on #58127
I wonder if this is a horovod issue? @vincentqb, have you seen anything like this?

[2021-05-12 09:20] mruberry commented on #58121
Thanks @asi1024. I think we would accept PRs for each of these functions.

[2021-05-12 09:20] mruberry commented on #58120
Thanks @asi1024! I think we would accept PRs for reach of these functions.

[2021-05-12 09:22] jumlauft opened #58129 "Difference to numpy linspace with endpoint False"
## 🐛 Bug

I am trying to reproduce np.linspace() with endpoint=False with torch.linspace() but end up with numerical differences.

## To Reproduce

`np.linspace(0, 1, 10, endpoint=False) - torch.linspace(0, 1, 10+1).numpy()[:-1]`

## Expected behavior
I expect the difference to be zero and not around 10e-8.
It would be usefule to also have a `endpoint `argument in pytorch
## Environment

 - PyTorc

[2021-05-12 09:27] zeakey opened #58130 "Fake quantization produces diverse outputs under CPU and CUDA backends."
## 🐛 Bug

The `fake quantization` produces different outputs between  GPU and CPU.  In my understanding,
the behaviour of `fake quantization` should be identical no matter the model is on  CPU or GPU.

## Reproduce

Code snippet to reproduce the bug:
[code]

outputs:
[code]

When commenting `torch.quantization.prepare_qat(model, inplace=True)`, the outputs are matched between CPU and GPU.

## Expe

[2021-05-12 09:42] mruberry commented on #58129
Thanks for reporting this issue, @jumlauft. I wonder which computation is more accurate?

[2021-05-12 09:43] mruberry commented on #58035
Thanks @asi1024; we would accept a PR implementing this functionality

[2021-05-12 09:44] mruberry commented on #58031
Thank you for reporting this issue, @Flamefire; I think we would accept a fix for this

[2021-05-12 09:46] Lezcano commented on #58093
The way `Bilinear` is implemented the way it is now is to avoid too large of a memory footprint. @t-vi implemented it in https://github.com/pytorch/pytorch/pull/6110 so perhaps he can have a look at this, although it'll be difficult to say much without knowing the sizes that this particular problem is using.

[2021-05-12 10:24] rgommers commented on #58129
This is not a bug, it's simply different default for dtype:
[code]

The differences are simply of order `float32.eps`.

That said, adding an `endpoint=True` keyword is a good idea.

[2021-05-12 10:28] #56627 closed

[2021-05-12 10:28] Liujingxiu23 opened #58134 "Questions about model load and model parameters, some parameters can not load rightly"
My Model has two main sub models:
	self.model1 = SubModel1()
	self.model2 = SubModel2()
outputs = self.model2(self.model1(inputs))

Everythings works good util I want to use torch.jit.script to export the model.
The model can be exported successfully, but the weights of submodel2 is not right.

I tired the following code then:

model = Model(config)
model.load_state_dict(torch.load(checkpoint_path

[2021-05-12 10:32] #58073 closed

[2021-05-12 10:40] Liujingxiu23 commented on #58134
My actual model used is https://github.com/LEEYOONHYUNG/BVAE-TTS.
And the submodel2 correspond to the "BVAE_Blocks"

The model mainly uses "conv1d".
The only layer which I seem special to me is "sn(Spectral Normalization)"

[2021-05-12 10:48] xkszltl commented on #58054
Haven't tried but I don't think it is related to change in pytorch.
If it's hidden now, you won't be able to take it out like this:
https://github.com/pytorch/pytorch/blob/1e77ba36dbe6578ec87c4cd94127e9f4138389c0/c10/util/Logging.cpp#L194-L202

[2021-05-12 10:55] Liujingxiu23 commented on #58134
Problem solved, cause the submodel2 has sn(torch.nn.utils.spectral_norm).
"This is implemented via a hook that calculates spectral norm and rescales weight before every forward() call."

[2021-05-12 10:55] #58134 closed

[2021-05-12 11:29] zeakey commented on #58130
The mobilenets presents much larger difference in outputs compared to resnets.

[code]
outputs `tensor([0.7789, 0.7733], device='cuda:0', grad_fn=<DivBackward0>)`.
When the model is `torchvision.models.quantization.resnet.resnet18()`, the cosine similarity is 0.98.

Since I'm working on face recognition where the cosine similairty between samples are critically sensitive, this difference between

[2021-05-12 11:54] FloydHsiu commented on #57698
Hi @nivesh48,
Sorry, I'm working on this issue now.

[2021-05-12 13:10] doncat99 opened #58135 "Segmentation fault need help"
## 🐛 Bug

the codes works pretty well in CPU mode (tested in my macbook pro), and get Segmentation fault (core dumped) in GPU mode, which is my pc at home.

## To Reproduce

[code]
[code]
[code]

 - PyTorch Version (e.g., 1.0): 1.8.1+cu111
 - OS (e.g., Linux): ubuntu
 - How you installed PyTorch (`conda`, `pip`, source): pip
 - Build command you used (if compiling from source):
 - Python version:

[2021-05-12 13:13] zou3519 commented on #13605
I don't know enough about C++ to understand Adam's comment. @ezyang @swolchok what are your thoughts?

[2021-05-12 13:16] demmerichs opened #58136 "scatter_add_ 6000-times slower with int64 compared to int32"
## 🐛 Bug

`scatter_add_` is unreasonably slow on GPU for the `torch.long` data type. I understand this might be closely related to the hardware layout of GPUs, however, not getting a user warning or a mention in the docs is extremely irritating.

## To Reproduce

Steps to reproduce the behavior:

1. Run the below script and observe:
1. Observation for me:
[code]

[code]

## Expected behavior

I ex

[2021-05-12 13:22] heitorschueroff commented on #58093
I'll take a look at this too as Bilinear and Einsum share some code and I have planned performance improvements for Einsum for 1.10

[2021-05-12 13:59] anjali411 commented on #55754
I wasn't able to reproduce this locally

[2021-05-12 13:59] ejguan commented on #58030
Is that true? IIRC, each worker should have a buffer with size of `prefetch_factor * batch_size`.

[2021-05-12 14:05] anjali411 commented on #52549
closing this since it's not a Pytorch issue

[2021-05-12 14:05] #52549 closed

[2021-05-12 14:11] anjali411 commented on #48519
closing this since `torch.diag` is supported for complex types now.

[2021-05-12 14:11] #48519 closed

[2021-05-12 14:12] #51643 closed

[2021-05-12 14:40] vadimkantorov commented on #29013
Found something like this in the wild for removing exactly duplicate matrix rows: https://github.com/PFGimenez/ecf-anomaly-detection/blob/master/ecf/__init__.py#L150

[2021-05-12 14:41] vadimkantorov commented on #2569
May be useful to have hash functions as reductions (at least for integral tensors), e.g. for removing duplicates from matrix

[2021-05-12 14:51] vadimkantorov opened #58139 "[docs] Strange torch.unique function signature"
`torch.unique(*args, **kwargs)` - haven't seen any other functions with signatures not listing the arguments inline

![image](https://user-images.githubusercontent.com/1041752/117996212-40203c80-b342-11eb-9eb9-519e139c0345.png)

[2021-05-12 14:51] ProGamerGov opened #58140 "Creating an nn.Module instance with a buffer inside the init function signature of another nn.Module and then moving the main module to CUDA results in a global CUDA device being set for internal nn.Module buffers for future module instances"
## 🐛 Bug

As the title says, creating an nn.Module instance with a buffer inside the init function signature of another nn.Module and then moving the main module to CUDA results in a global CUDA device being set for internal nn.Module buffers for future module instances

I'm not 100% sure if I explained the issue correctly in the title, so hopefully it makes sense. If not, then the test code I pro

[2021-05-12 14:55] migueldeicaza commented on #47688
Two interesting observations:

(a) The folks at OctoML wrote Metal-based kernels that outperform Apple's CoreML: https://venturebeat.com/2020/12/16/octoml-optimizes-apache-tvm-for-apples-m1-beats-core-ml-4-by-29/

(b) Given that there is already a Metal backend for iOS, that this Metal backend could be repurposed for training on Mac with their GPUs.

[2021-05-12 15:07] nikithamalgifb commented on #57698
@nivesh48 : Thank you for your interest but unfortunately, this is issue is already being worked on actively by @FloydHsiu . We have plenty of other similar issues where we would be very happy to get some help. Here is the link : https://github.com/pytorch/pytorch/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22+no%3Aassignee Feel free to look at them and let us know if you are interes

[2021-05-12 15:09] ezyang commented on #13605
The line here doesn't exist anymore.

[2021-05-12 15:09] #13605 closed

[2021-05-12 15:12] nikithamalgifb commented on #57740
You can do something like this:

[code]

[2021-05-12 15:29] thomasjpfan commented on #40240
Closing because this issue was fixed in https://github.com/pytorch/pytorch/pull/37739

[2021-05-12 15:29] #40240 closed

[2021-05-12 15:30] jumlauft commented on #58129
@rgommers : Thanks for making this clear. Very helpful!

[2021-05-12 15:30] #58129 closed

[2021-05-12 15:38] thomasjpfan commented on #37431
Closing because this was fixed in https://github.com/pytorch/pytorch/pull/37989

[2021-05-12 15:38] #37431 closed

[2021-05-12 15:49] venkateshtata commented on #49480
I'm not able to import a newly created `_functional.py` into the `functional.py`, it is throwing `ModuleNotFoundError: No module named '_functional'`. Should I have to add the new .py filename somewhere before importing ?

[2021-05-12 15:51] walterddr commented on #55754
nope. I remember I was able to repro on linux. It might've been fixed, let's see how CI reports back

[2021-05-12 15:52] TXacs commented on #58127
Yeah，I use the horovod, but I am not sure the error whether  comes from horovod

[2021-05-12 15:54] robieta commented on #49480
You shouldn't need to. Are you using a relative or absolute import path?

[2021-05-12 15:56] Zhiwei-Zhai commented on #22671
Hi,
I have the same issue, Did anyone find a solution?

[2021-05-12 16:11] tueboesen commented on #58093
Here is a small example showing the problem:

[code]

When the above is run with use_e3nn=False, I get the following:

[code]

And with use_e3nn=True I get the following:

[code]

[2021-05-12 16:19] Flamefire opened #58155 ""uncorrectable NVLink error" making the tests fail"
## 🐛 Bug

Trying to build PyTorch 1.8.1 on our latest A100 cluster fails during the tests. The failing tests are

- test_nccl_errors_blocking_abort
- test_nccl_errors_blocking_nonzero_exit
- test_nccl_errors_blocking_sigkill
- test_nccl_errors_blocking_sigterm
- test_nccl_blocking_wait_with_barrier
- test_nccl_errors_blocking_clean_exit
- test_nccl_timeout

Those failures look related, so I'd gues

[2021-05-12 16:40] suo opened #58157 "Improve error reporting of packaging based on importlib.machinery extensions"
importlib.machinery provides a good way to tell whether a module's `__file__` represents source code, bytecode, an extension module, etc. We can use that to better inform users why a module failed to package.

[2021-05-12 16:42] agolynski commented on #58135
Could you add code and steps needed to reproduce the issue?

[2021-05-12 16:42] Zhiwei-Zhai commented on #22671
Hi, I have a same issue. The job is still alive but freezed.
I am using python 3.8.5, pytorch 1.6.0, GPU, Nvidia GeForce RTX 2080 ti, and CUDA Version: 11.0

[2021-05-12 16:59] mruberry commented on #58139
That is weird; we should probably fix it

[2021-05-12 17:01] seyeeet opened #58158 "Add title to the make_grid"
## 🚀 Feature
Can we have an option to add title to each grid in the make_grid? or it would be so difficult/slow?
## Motivation
basically it will helps to identify the grids by a name

[2021-05-12 17:04] BlackHC commented on #58140
Don't use defaults like that in `def __init__(self, x, test1 = Test1()):`.

This creates a single instance that will be passed to future constructor calls as default. This is a well-known trap when using default parameters.

Try:
[code]
and your bug will vanish.

[2021-05-12 17:07] ngimel commented on #58136
Duplicate of #42109. Here's a profiling result that I had for #42109
[code]
An interesting bit here is average time per kernel, the  4th column. It's 400-700 us for dtypes other than long, and 34 ms for long. Note that the exact same kernel with the different template type is called for all datatypes, yet for `long` the kernel takes 2 orders of magnitude longer than for other datatypes, because fo

[2021-05-12 17:08] mruberry commented on #29013
I wonder if @zasdfgbnm's view overload does what you'd like?

https://pytorch.org/docs/master/generated/torch.Tensor.view.html?highlight=view#torch.Tensor.view

[2021-05-12 17:11] robin5540 commented on #58030
@ejguan

When priming the loop: https://github.com/pytorch/pytorch/blob/master/torch/utils/data/dataloader.py#L973-L975
When put new work on a worker: https://github.com/pytorch/pytorch/blob/master/torch/utils/data/dataloader.py#L1206

I think going to `prefetch_factor * batch_size` may make memory size hard to control. If going to `prefetch_factor * batch_size`, I think it might be a good idea to

[2021-05-12 17:12] vadimkantorov commented on #29013
Nope, it has constraint `dtype must have the same number of bytes per element as self’s dtype.`

[2021-05-12 17:14] vadimkantorov commented on #29013
And for this usecase, NumPy makes use of

[2021-05-12 17:28] ProGamerGov commented on #58140
@BlackHC Ah, okay thanks for the help! I'll close this issue then as it's a programming mistake by me rather than PyTorch.

[2021-05-12 17:28] #58140 closed

[2021-05-12 17:37] RafailFridman commented on #15808
Same issue here. Observed that the processes disappear from `top` command output when the training hangs. Any solutions?

[2021-05-12 17:38] caseybasichis opened #58163 "Nightly Build wont install"
Torch refuses to install the nightly -- always jumping to 1.8.1 instead.

[pip3_torch_nightly.txt](https://github.com/pytorch/pytorch/files/6468075/pip3_torch_nightly.txt)

I'm on Linux Mint 20.1

cc @ezyang @seemethere @malfet @walterddr

[2021-05-12 17:40] agolynski commented on #58140
Thank you!

[2021-05-12 17:51] ejguan commented on #58030
@robin5540
Here is the inner logic to put indexes, where a batch of indexes are sampled and sent to worker if `batch_size` is set.
https://github.com/pytorch/pytorch/blob/d212bf186390fdcc3b36cd3b41489544c4f50b75/torch/utils/data/dataloader.py#L511-L512
https://github.com/pytorch/pytorch/blob/94bb1150a73e005aa23aaf13fecad79d18fa50e3/torch/utils/data/dataloader.py#L366-L375
Like I said, `prefetch_fa

[2021-05-12 17:53] eellison commented on #56385
here is a smaller repro:
[code]

[2021-05-12 17:53] thomasjpfan commented on #27852
Closing because this was fixed in https://github.com/pytorch/pytorch/pull/37778.

https://github.com/pytorch/pytorch/blob/9d5617603447297ccf730c19736f44c8dae045ab/torch/nn/functional.py#L2669-L2670

[2021-05-12 17:53] #27852 closed

[2021-05-12 17:54] Krovatkin commented on #57577
@mruberry I'd like to propose another option that is partially orthogonal, partially overlapping with what you guys discussed.
I'm running into an issue where a test doesn't pass a backward for a specific datatype:

[code]

And of course disabling the datatype gives me another error: `RuntimeError isn't raised`.

Could we just add a central option in `OpInfo` to skip the exact test names and make

[2021-05-12 17:59] SciPioneer commented on #58098
s/remote model/remote module

[2021-05-12 17:59] zhaojuanmao commented on #58111
once prepare_for_backward() call is moved to the DDP passthrough layer, we can move 'num_iterations_' counting to prepare_for_backward() and represents the number of iterations for backward passes, then this issue will be resolved.

or instead of checking 'num_iterations_==1'  to decide whether it needs to fill 'numGradHooksTriggeredMap_', we can simply checking 'numGradHooksTriggeredMap_.empty()'

[2021-05-12 18:00] mruberry commented on #57577
This is a tricky case. But we have two solutions:

- @walterddr added the ability to specify which datatypes an op supports computing a gradient for, too
- we do have skip mechanisms

Skips are defined using this class:

https://github.com/pytorch/pytorch/blob/6404184700159213f7d64df62537e238822f8b15/torch/testing/_internal/common_methods_invocations.py#L70

Example use of skips:

https://github.c

[2021-05-12 18:00] robin5540 commented on #58030
I see. `prefetch_factor * batch_size` is only true when using a batch sampler. `len(buffer) < len(batch_size)` can still be true when use `sampler`, `shuffle`, and manual `batch_size`

[2021-05-12 18:01] robin5540 commented on #58030
@ejguan
Looks like the warning should be `not batch_sample and prefetch_factor * num_worker <= batch_size`. wdyt?

[2021-05-12 18:04] #57719 closed

[2021-05-12 18:05] jakirkham commented on #29013
Also interested in this. AIUI the goal would be to recast an existing tensor to a different type as opposed to copying into a new typed tensor (`.view(...)`'s behavior).

[2021-05-12 18:29] ansley opened #58167 "Allow `Union` as a `Dict` key"
## 🚀 Feature
If we have `Union[T1, T2, ... TN]` where each internal type `TK` is an allowable dict key, then we should also allow that Union as a dict key. If one or more of the types in the Union is not an allowable Dict key, we shouldn't allow that Union as a dict key.

The difficulty here comes from making schema matching work. I think that this could be both a follow-up to `Union` as well as p

[2021-05-12 18:50] albanD commented on #58038
Is this a duplicate of https://github.com/pytorch/pytorch/issues/49726 and https://github.com/pytorch/pytorch/issues/52664 ?

[2021-05-12 18:55] albanD commented on #58128
If you use different batch size, then you are doing different operations. So it is not a problem of determinism.
Unfortunately, when you change the input size, the low level compute libraries that we use might choose a different algorithm which can lead to small difference of the order of 1e-6 for each single op (as per the floating point standard). It's not something we can change.

You can use d

[2021-05-12 19:03] IsCoelacanth opened #58171 "Error while converting model for NNAPI "Unsupported node kind ('quantized::batch_norm2d')""
## 🐛 Bug

I'm converting the Unet model from (torch-hub)[https://pytorch.org/hub/mateuszbuda_brain-segmentation-pytorch_unet/] to run on Android for a benchmark. Error happens after I've quantized the model and converted to use `NHWC`.

## To Reproduce

Steps to reproduce the behavior:

[code]

Results in:
[code]

## Expected behavior

Model is converted to NNAPI compliant version.

## Environment

[2021-05-12 19:11] IsCoelacanth opened #58172 "Mobile Android: Could not run 'aten::quantize_per_tensor' with arguments from the 'Vulkan' backend"
## 🐛 Bug

When running a model with vulkan on android (converted using the mobile recipes on PyTorch Mobile page), this error happens on forward pass. Works fine when inferencing on CPU.

## To Reproduce

### Mobile Code:
[code]

At forward this is raised:
[code]

## Expected behavior

As per the mobile recipe, optimizing for mobile with backend set to "Vulkan" should apply all the layer optimizat

[2021-05-12 19:33] albanD commented on #48439
@zixeljupo You would need to update https://github.com/pytorch/pytorch/blob/b5149513ec02fa7d9711f6f79f759654f5d3a840/aten/src/ATen/native/cudnn/Conv.cpp#L977 to either make the resize out of place. Or first take an alias of the weights before doing the inplace resize. You should also add one of the repro from this issue as a test in test_nn.py to make sure this doesn't happen again in the future.

[2021-05-12 19:38] rkoystart opened #58177 "untimeError: NCCL error in: /pytorch/torch/lib/c10d/ProcessGroupNCCL.cpp:32, unhandled cuda error, NCCL version 2.4.8"
## 🐛 Bug

i am not able to train a transformer model for the following command:

fairseq-train processed_paracrawl_wmt/ --arch transformer --share-all-embeddings --optimizer adam --adam-betas '(0.9, 0.98)' --clip-norm 0.0 --lr-scheduler inverse_sqrt --warmup-init-lr 1e-07 --warmup-updates 4000 --lr 0.0007 --min-lr 1e-09 --dropout 0.1 --weight-decay 0.0 --criterion label_smoothed_cross_entropy --la

[2021-05-12 20:04] eellison opened #58180 "[NNC] Methods for debugging"
## 🚀 Feature

There aren't great ways to debug NNC in GDB currently. I tried `std::to_string` but it did not work. To debug I had to manually add in print statements and recompile, which slows down development. It would be nice if there were a `dump` method similar to JIT or LLVM IR.

[2021-05-12 20:08] kshitij12345 opened #58181 "torch.split_with_sizes is not documented"
![Screenshot from 2021-05-13 01-35-59](https://user-images.githubusercontent.com/19503980/118037551-a1b8c900-b38b-11eb-8515-83f74946a3f2.png)

The function is available and tested. Also the name does not start with a leading underscore so I assume it is meant to be public. Looks like this was just a miss.
https://github.com/pytorch/pytorch/blob/c9eb381aac886ea39efa4ad042fa126102974905/torch/testin

[2021-05-12 20:20] RaulMurillo commented on #57724
@ezyang the problem when working on a fork of PyTorch is the lack or difficulty of maintenance. The framework that @Afonso-2403 mentioned, Deep PeNSieve, is based on an outdated fork of TensorFlow whose internals were modified ad-hod to support posits. However, attempting to incorporate subsequent commits results in numerous merge incompatibilities. I'm afraid something like this could happen if w

[2021-05-12 20:33] ezyang commented on #57724
For TensorIterator operators, it will be the difference between writing one line of code to add posit support, versus having to copy paste 100s of lines (TensorIterator ends up instantiating templated kernels for N scalar types. If you can hook into this instantiation you can put in Posit and let operator overloading do the job. If you are out of tree, there's no external extension hook for this a

[2021-05-12 20:55] #55868 closed

[2021-05-12 21:00] #55714 closed

[2021-05-12 21:20] Atliac commented on #53409
I've figured it out. There is no wrong but a missing compiler option, /permissive-.
The option, /permissive-, specifies standards conformance mode to the compiler. By default, the /permissive- option is set in new projects created by Visual Studio 2017 version 15.5 and later versions, but not for Cmake projects.
So, config CMakeLists.txt with this:
[code]
Or one can use another compiler, such as c

[2021-05-12 21:44] elementgreen commented on #47993
As hinted at by @melrobin doing a submodule update fixed this issue for me, namely:
`git submodule update --recursive`

I think this might be needed after doing a checkout of a branch or tag, such as v1.8.1 in my case.

[2021-05-12 21:46] ngimel commented on #57956
Fixed on master https://pytorch.org/docs/master/generated/torch.autograd.profiler.profile.key_averages.html?highlight=key_averages#torch.autograd.profiler.profile.key_averages

[2021-05-12 21:47] #57956 closed

[2021-05-12 21:53] samestep commented on #57967
Just tested this on commit c911c30520ed25e0f0adfde1ce5794f334512c95 and it's still happening, so it was not fixed by #57998.

[2021-05-12 21:59] samestep commented on #57967
Ahh I understand now: I was thinking that this was about `ignore_errors` (which `tools/mypy_wrapper.py` does _not_ need to handle), but it's actually about `exclude`, which we didn't have when I originally wrote our `mypy` wrapper, since it was added fairly recently in #55712.

[2021-05-12 22:00] jamesr66a opened #58190 "[FX] record_function tracing in FX"
[code]

A user may want their `record_function` ranges to be preserved in the FX-traced code. The initial conception of this was to support context managers, however I don't think it's worth it to do that since the value prop is to have a flat DAG of operations without confusing nested scopes. Instead, we could record the underlying `torch.ops.profiler._record_function_enter` and `torch.ops.profil

[2021-05-12 22:02] vfdev-5 commented on #58158
@seyeeet thanks for the request, can you give more info on where you would like to add the name, to the grid tensor itself ?

[2021-05-12 22:07] abdulsalam-bande commented on #51344
I had the same problem, I downgraded to Python 3.6 and It worked.

[2021-05-12 22:08] abdulsalam-bande commented on #1579
I had the same problem, I downgraded to Python 3.6 and It worked.

[2021-05-12 22:31] seemethere commented on #58163
We’re not currently building CUDA 11.2 binaries, can you try again with the CUDA 11.1 binaries to see if that resolves your issues?

[code]

[2021-05-12 22:40] samestep commented on #57967
I am a bit confused about what exactly is going on here, since `torch/nn/parallel/distributed.py` doesn't even match our current `exclude` regex:

https://github.com/pytorch/pytorch/blob/d09abf004cc16f8fd5f320e3d5d07c383c174ea7/mypy.ini#L46

[2021-05-12 22:42] caseybasichis commented on #58163
I have a RTX A6000 system where 11.2 is required, I'm trying to keep this system in sync with that setup.

I was able to install the nightly build with CUDA 11.2 about about month ago, for the A6000 system.

Has 11.2 support since been discontinued?

[2021-05-12 22:51] ilia-cher commented on #57956
thanks for the fix!

[2021-05-12 23:18] kumar-akshay324 commented on #29973
Is anybody working on this or has this been already resolved? I can confirm for larger 1-D tensors of length > 5000, a numpy look up is a magnitude faster than the torch access.

[2021-05-12 23:47] ZolotukhinM commented on #58180
We have a bunch of methods for printing statements and expressions:
https://github.com/pytorch/pytorch/blob/8a45006765fe0a902cf5a369c8696235e93edbff/torch/csrc/jit/tensorexpr/ir_printer.h#L94-L101
as well as
https://github.com/pytorch/pytorch/blob/8a45006765fe0a902cf5a369c8696235e93edbff/torch/csrc/jit/tensorexpr/ir_printer.h#L113-L115

Have you tried them?

[2021-05-12 23:50] ZolotukhinM commented on #48784
Fixed by #56825.

[2021-05-12 23:50] #48784 closed

[2021-05-13 01:34] doncat99 commented on #58135
sure, I will simplify a runnable subset project ASAP

[2021-05-13 02:08] #57698 closed

[2021-05-13 02:19] stas00 commented on #55240
Resolved in https://github.com/pytorch/pytorch/pull/58006

[2021-05-13 02:19] #55240 closed

[2021-05-13 02:30] venkateshtata commented on #49480
Oh yeah I wasn't importing correctly. It's working now

[2021-05-13 03:01] nelhage opened #58212 "`torch.autograd.Function` subclasses *sometimes* throw away custom subclasses"
## 🐛 Bug

`apply`ing a torch.autograd.Function usually returns the same `torch.Tensor` subclass as the input, but not always. This seems to happen when an input `requires_grad` and potentially some other requirements.

## To Reproduce

Steps to reproduce the behavior:

[code]

If you remove the `x.requires_grad_()` call, the assertion passes.

## Expected behavior

I expect `torch.autograd.Functio

[2021-05-13 03:12] bertmaher commented on #58180
Funny, I always add prints and recompile.  I wonder how much time I'd save by using gdb...  Anyways I think this is a good task if the linked methods don't do the trick

[2021-05-13 03:36] mszhanyi commented on #51344
Interesting. I don't believe it can work with Python 3.6. could you please provide a minimum reproducible script.

[2021-05-13 04:33] mruberry commented on #56356
Updated as resolved. Let's try focusing on type promotion for these three classes of operation for now and see how users respond.

[2021-05-13 04:35] mruberry commented on #56544
Updating this to resolved. The function is now documented as PROTOTYPE here: https://pytorch.org/docs/master/testing.html?highlight=assert_close#torch.testing.assert_close. Note that, as a prototype, this function and the torch.testing module are very much subject to change. So we can continue to consider alternative names and additional functions, like `assert_equal`, functions from numpy.testing

[2021-05-13 05:41] InstantWindy opened #58218 "Torch.nn.DataParallel training model, the output of the model becomes list type, the number of lists is batch size"
Using Torch.nn.DataParallel to train model, the output of the model becomes list type, the number of lists is batch size.
The first epoch training output is normal,the output types are as follows：
model= torch.nn.DataParallel(model,device_ids=[0,1]).to('cuda')
out = model(data) # out size: [batch, c,h,w]

But for the second epoch, the output type is as follows：
model= torch.nn.DataParallel(model,d

[2021-05-13 05:57] ZolotukhinM commented on #58053
Is the conclusion here that the mismatch is only against MKLDNN and not against vanilla aten implementation? Should we close this issue?

[2021-05-13 05:59] bertmaher commented on #58053
Yeah this is a false alarm, matching aten is fine.

[2021-05-13 05:59] #58053 closed

[2021-05-13 05:59] mruberry commented on #58181
cc @albanD

Before documenting split_with_sizes we should check its Python Array API or NumPy consistency

[2021-05-13 06:02] kshitij12345 commented on #58181
AFAIK, it does not have a direct name equivalent in NumPy (semantically I think it is similar to np.split with list or tuple for `indices_or_sections`)

https://numpy.org/doc/stable/reference/generated/numpy.split.html

[2021-05-13 06:06] wangtianrui opened #58220 "After the Adam optimizer used weight_decay, the model became extremely slow when tested on the CPU.(Time from 7 seconds to 46 seconds)"
## 🐛 Bug

After the Adam optimizer used weight_decay, the model became extremely slow when tested on the CPU.(Time from 7 seconds to 46 seconds)

## To Reproduce

Steps to reproduce the behavior:

1.I used different weight_decay (0.01, 0.001, 0.0001) for the same model.
2.Training on GPU, there is no abnormality during training
3.Tested on the CPU, it is found that the speed of the model in the ca

[2021-05-13 06:17] mruberry commented on #58181
You're totally right, sorry what I said was confusing. I mean we should check its consistency as part of resolving our split UX. See this issue for an example of how our split behavior is confusing: https://github.com/pytorch/pytorch/issues/50012

[2021-05-13 07:00] CoderHHX commented on #32564
It also happens to me
pytorch=1.4.0
py3
cuda 10.1.
Reduce the batch size was not working.
Finally, I change pytorch to 1.7 cuda 11.0, it works. lol~~~

[2021-05-13 07:59] BowenBao commented on #57964
should be fixed by #57830

[2021-05-13 08:07] BowenBao commented on #39245
hi @dsindex, `List[List[int]]` cannot be traced properly in tracer. That's why in the graph it shows up as constant. It is recommended to always keep the computation flow in `tensor`, in order to be traced correctly.

[2021-05-13 08:24] pearu commented on #29973
PyTorch Tensor and NumPy ndarray objects can share data storage via array interface. Hence, this issue becomes non-issue if one wraps Tensor object with ndarray.

For instance, when one needs fast indexing on a Tensor object, one can use NumPy fast indexing as illustrated by the following example:
[code]

[2021-05-13 08:56] RaulMurillo commented on #57724
That would be great!

From what I've read, this should be similar to using Array Iterator API at NumPy. However, I have no experience with PyTorch internals. After a quick search, I guess the majority of modifications should be done in [aten/src/ATen](https://github.com/pytorch/pytorch/tree/master/aten/src/ATen) and [c10/core/ScalarType.h](https://github.com/pytorch/pytorch/blob/master/c10/core/Sc

[2021-05-13 10:06] zixeljupo commented on #48439
Thank you! Despite I wrote own workaround in python, I'll try to fix this.

[2021-05-13 10:19] larsbratholm commented on #54975
@ptrblck I had a similar issue on pytorch 1.8.0/1.8.1 with cudatoolkit 11.0-11.2.2 using a RTX 3070. `CUBLAS_WORKSPACE_CONFIG=:0:0` fixed the issue for me, although not sure if it will affect performance.

[2021-05-13 10:32] msieb1 opened #58225 "[JIT] Dynamically sized for-loop not getting traced correctly"
## 🐛 Bug

When tracing a for-loop whose number of iterations is dynamic, the tracing is faulty in the sense that it will always statically assume the size of the iterable during tracing. Neither iterating through the iterable itself nor doing something like `for i in range(x.size(0))` works. Is this intended, i.e., the only way to make this work is to decorate via `@torch.jit.script`?

## To Repro

[2021-05-13 11:31] krshrimali opened #58226 "`fmod` and `remainder`: self resized on inplace variant"
## 🐛 Bug

Failures occurs for `fmod` (on CUDA and CPU both, dtype: `float32`) and same for `remainder`. This is probably because of self being resized on inplace variant for both `fmod` and `remainder`.

## To Reproduce

Steps to reproduce the behavior:

1. Once https://github.com/pytorch/pytorch/pull/57941 is merged, do: `python test/test_ops.py -k fmod` after removing the skips for `test_variant

[2021-05-13 11:43] InfiniteLife opened #58227 "Cannot perform Forward pass on CPU libtorch"
Windows 10, CUDA 10.1, C++.
I'v built libtorch 1.6.1 (Release and Debug) with GPU support on my machine. Forward pass on GPU works fine, but forward pass on CPU does not. Also I have no Debug info, although I'm building in Debug mode in Visual Studio. I have had debug info for other errors.

Program fails at this step:
`auto output = module.forward({batch}).toTuple();`

giving exception
`Access vi

[2021-05-13 11:57] #58226 closed

[2021-05-13 11:57] krshrimali commented on #58226
Sorry, a confusion caused creating this issue.

[2021-05-13 12:18] henrique commented on #25766
could we reopen this?
[code]
cpp, and caffe2 have a function for it https://github.com/pytorch/pytorch/blob/v1.8.1/caffe2/utils/math/elementwise.cc#L231-L234
thanks

[2021-05-13 12:27] kenenbek commented on #47439
Any update?

[2021-05-13 12:55] matyasbohacek commented on #47702
Does anyone know whether there are any updates on the original topic of this issue (GPU acceleration for the M1 chip)?

[2021-05-13 13:15] desertfire commented on #43568
Actually this can be reproduced by commenting out https://github.com/pytorch/pytorch/blob/6997e7bd3934f9d8fa3d425336f2e20de2705358/test/test_jit.py#L1423. @Krovatkin, it looks like you made a relevant change in https://github.com/pytorch/pytorch/pull/44815, so is the failure expected here if GRAPH_EXECUTOR != ProfilingMode.LEGACY?

[2021-05-13 13:28] 863zq opened #58228 ""_amp_foreach_non_finite_check_and_unscale_cuda" not implemented for 'ComplexFloat'"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. scaler = torch.cuda.amp.GradScaler()

RuntimeError: "_amp_foreach_non_finite_check_and_unscale_cuda" not implemented for 'ComplexFloat'

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(o

[2021-05-13 13:31] MANU-CHAUHAN commented on #47702
Any updates ?? With time more and more developers will move to M series based Macs, considering higher performance and low power consumption. Otherwise this will leave primarily TensorFlow as only available library. Some people work on both or just PyTorch.

[2021-05-13 13:33] bobturneruk commented on #53891
Related https://github.com/pykale/pykale/issues/148

[2021-05-13 13:44] #57649 closed

[2021-05-13 13:59] TangToy opened #58233 "libtorch: Error when using torch::from_blob"
I ran the codes as follows in VS2017:
`	float array[] = { 1, 2, 3, 4, 5 };
	auto options = torch::TensorOptions().dtype(torch::kFloat64);
	torch::Tensor tharray = torch::from_blob(array, { 5 }, options);`
And got the error:
![屏幕截图 2021-05-13 215823](https://user-images.githubusercontent.com/45865043/118136176-66bf9f80-b436-11eb-8173-6012f818ce89.png)
How to solve this problem?

cc @yf225 @glaringl

[2021-05-13 14:01] ezyang commented on #57724
Check out #21522 #21523 #21860 for the last time we added a new dtype (bfloat16)

[2021-05-13 14:04] ezyang commented on #57724
#44678 seems to be the most recent time we added a new scalar type. CC @supriyar

[2021-05-13 14:17] kenenbek commented on #47439
I create similar question here https://discuss.pytorch.org/t/how-to-use-gradient-checkpointing-on-packed-sequence/121145

[2021-05-13 14:22] albanD commented on #58181
The nice thing is that it is listed in the view ops in the doc haha.
I think that historically, this has been a helper function to implement many of the tensor_split/chunk functions.
But we should document it indeed.

[2021-05-13 14:26] zhiqwang opened #58234 "Numerically inconsistent of division between numpy and torch"
## 🐛 Bug

In the docs of [torch.div](https://pytorch.org/docs/master/generated/torch.div.html#torch.div), I noticed that

But it seems that there are still some numerical inconsistencies of the division between Numpy and PyTorch.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Maybe the result of division should be equivalent to true division in Python (the `/` op

[2021-05-13 14:29] ezyang commented on #58212
Hi @nelhage ;) This is pretty similar to #47117 but there's no `save_for_backward` involved here. This might actually just be straight up fixed by #56017, if you are able to build PyTorch from source give that version a try.

[2021-05-13 14:43] francisvac commented on #57964
Thank you for your PR!

[2021-05-13 14:46] kowaalczyk opened #58237 "[JIT] Cannot deterministically load frozen model (saved after `torch.jit.freeze`)"
## 🐛 Bug: Cannot deterministically load frozen model (saved after `torch.jit.freeze`)

When trying to export models to a mobile device, I noticed that `torch.jit.freeze` produces unexpected results.
Based on the existing documentation, I expected that:
- frozen modules can be saved and loaded without changing their internal structure
- running `torch.jit.freeze` on an already frozen module doesn't

[2021-05-13 15:04] kumar-akshay324 commented on #29973
This is exactly what I am doing. But Pytorch is expected to be handling this better. I had a magnitude lower performance with the tensor on the GPU and the numpy array on the CPU

[2021-05-13 15:12] #47112 closed

[2021-05-13 15:19] ezyang opened #58238 "torchdeploy doesn't prevent Obj from being used on wrong interpreter"
Repro:

[code]

This obliquely fails with an `at()` error when attempting to unwrap.

[2021-05-13 15:23] mrshenli opened #58239 "ivalue::Future then callback could hang"
It's very reproducible for me locally with the following code. After removing the `.then()` callback, it no longer hangs.

[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @jjlilley @osalpekar @jiayisuse @mrzzd @agolynski @SciPioneer @H-Huang @cbalioglu @gcramer23

[2021-05-13 15:23] mrshenli commented on #58239
cc @lw

[2021-05-13 15:23] gchanan commented on #49205
@bdhirsh this is fixed right?

[2021-05-13 15:23] #49205 closed

[2021-05-13 15:32] mrshenli commented on #58239
The problem also seems to disappear after I switch to `add_done_callback`

[2021-05-13 15:48] albanD commented on #55368
After more discussion, this is expected that after the optimizer step, you have to re-do the forward to be able to backprop as most modules (Linear, conv, batchnorm, spectral_norm, etc) save the weights and so won't allow you to do that.

[2021-05-13 15:48] #55368 closed

[2021-05-13 15:51] nivesh48 commented on #41499
Anyone working on this issue, can i be assigned if no working on this? @nikithamalgifb @edwardleardi

[2021-05-13 15:56] pearu commented on #29973
If tensor data is stored on the GPU and you'll need to explicitly iterate over the elements, then it would be more performant to first move tensor to CPU for iterations rather than moving the tensor values from GPU to CPU one by one.

[2021-05-13 15:56] #56608 closed

[2021-05-13 16:15] walterddr commented on #55754
closing this since original issue no longer reproduces

[2021-05-13 16:15] #55754 closed

[2021-05-13 16:19] #48053 closed

[2021-05-13 16:29] eellison commented on #58180
Hmm @ZolotukhinM I tried `to_string` but for some reason it gave different output than printing. I'll try `print`, I think you have linked me to it before but i forgot about it..

[2021-05-13 16:42] #25095 closed

[2021-05-13 16:42] rgommers commented on #47112
There's a `frombuffer` mention and a number of related issues linked in https://github.com/pytorch/pytorch/issues/38349#issuecomment-670444956 (the numpy compat tracking issue). That's hard find though. It's not quite clear from the above or from https://github.com/pytorch/vision/issues/3666 if this is a priority for the next release. @mruberry?

[2021-05-13 16:47] ZolotukhinM commented on #58180
I think I also had some troubles invoking `to_string` from a debugger - maybe it couldn't resolve the overload correctly or something. `print` on the other hand usually works well (but sometimes you need to specify namespace for it, e.g. `tensorexpr::print`).

[2021-05-13 16:49] rohan-varma commented on #41266
cc @agolynski @SciPioneer now that the futures are merged we should be able to do this one right?

[2021-05-13 17:37] vadimkantorov commented on #58038
seems so!

[2021-05-13 17:37] #58038 closed

[2021-05-13 17:38] #58157 closed

[2021-05-13 17:50] ejguan commented on #58030
I am sorry that I am not sure about manual `batch_size` you are referring.

Each worker will fetch a whole `batch_size` of data for each time. I don't think `prefetch_factor` is related to `num_worker`. Each worker has `prefetch_factor * batch_size`, right? So, no chance `prefetch_factor * num_worker <= batch_size` will happen.

[2021-05-13 17:56] gmagogsfm commented on #58225
Unfortunately this is intended for `jit.trace`, which observes all Tensor operations implemented by PyTorch. Using `jit.script` would address this problem.

[2021-05-13 17:56] #58225 closed

[2021-05-13 18:04] rachhele commented on #25407
@alexbarnadas Hi! Did you manage to solve this issue? 🙂 I cannot find any solution.

[2021-05-13 18:15] nikithamalgifb commented on #41499
@nivesh48 , doesn't look like anyone is working on this.  Just assigned you this

[2021-05-13 18:20] nivesh48 commented on #41499
Thank you @nikithamalgifb, ill start working on it

[2021-05-13 18:24] robin5540 commented on #58030
Ohhh, I see.
https://github.com/pytorch/pytorch/blob/master/torch/utils/data/dataloader.py#L274-L276
The sample is always wrapped into a batch sample

[2021-05-13 18:40] rachhele commented on #25407
I solved the problem by running the following:
`python3 -m pip`
Which returned me:
`/usr/local/opt/python@3.9/bin/python3.9 -m pip <command> [options]`
Thus, I installed torch by running:
`/usr/local/opt/python@3.9/bin/python3.9 -m pip install torch`

I hope that this will work for you as well 🙂

[2021-05-13 18:41] nikithamalgifb commented on #41499
Let us know if you have any questions or clarifications , will be happy to discuss. Thank you for working on this task

[2021-05-13 18:44] nivesh48 commented on #41499
Noted and sure, @nikithamalgifb. if its possible could you present a gist of the problem.

[2021-05-13 20:17] SciPioneer commented on #58177
I saw you used PyTorch 1.5, while the latest version is 1.8. (The latest fairseq version is 0.10 now.)

Can you try a newer version which may already have some fixes?

Please also set `NCCL_DEBUG=INFO` for more debugging info. Thanks!

[2021-05-13 20:20] ejguan opened #58253 "Flake8 triggers E902 FileNotFoundError: [Errno 2] No such file or directory"
## 🐛 Bug
Per title
PR is blocked due to the test.

## To Reproduce

1. Remove any file
1. run `make quicklint -j 6` or `python tools/actions_local_runner.py --file-filter '.py' --changed-only --job 'flake8-py3'`
1. `E902 FileNotFoundError: [Errno 2] No such file or directory`

## Expected behavior

No error and CI is green

I think we need to filter out the deleted file from here:
https://github.c

[2021-05-13 20:40] Lilyjjo commented on #57490
Issue isn't reproducible on master; closing for now 😳🤨

[2021-05-13 20:40] gcramer23 opened #58255 "unable to cast Python instance to C++ type in .backward()"
## 🐛 Bug

I am implementing a parameter server with an average_gradient method that returns a future and is decorated with `@rpc.functions.async_execution`. The ddp_communication hook calls the parameter server and returns the future from the parameter server. In the .backward() part of the training loop an exception is thrown `RuntimeError('Unable to cast Python instance to C++ type (compile in d

[2021-05-13 20:57] SciPioneer commented on #58218
@VitalyFedyunin @ngimel for DataParallel

[2021-05-13 21:01] samestep commented on #58253
Which PR?

[2021-05-13 21:03] ejguan commented on #58253
#58244

[2021-05-13 21:05] samestep commented on #58253
Thanks for flagging this! For that PR, please just bypass the failure and land. I'll open a PR to disable the flaky test, and also look into fixing this specific issue.

[2021-05-13 21:06] ejguan commented on #58253
It can be fixed pretty easily! Use `git diff --name-status` and filter out `D`.

[2021-05-13 21:17] #51800 closed

[2021-05-13 21:21] SciPioneer commented on #58255
I guess you have a bug in the hook:
[code]

Can you try to change `fut.wait()` in your hook to ` fut.value()[0]`?

Additionally, it seems that this callback does not have any dependency on the input future. Is `cref.record_hook_fut_end(key)` mainly used for profiling?

[2021-05-13 21:42] samestep commented on #58253
@ejguan I think there are [a couple others](https://git-scm.com/docs/git-diff#Documentation/git-diff.txt---diff-filterACDMRTUXB82308203) that would have to be accounted for, such as `R`, so I think instead of changing those commands and parsing their output more, I'll just add another check at the end of the `find_changed_files` function to filter out files that don't exist.

[2021-05-13 21:42] ngimel commented on #58218
Use of torch.nn.DataParallel is not recommended, please use DistributedDataParallel https://pytorch.org/docs/stable/generated/torch.nn.DataParallel.html?highlight=dataparallel#torch.nn.DataParallel

[2021-05-13 22:17] #58253 closed

[2021-05-13 22:22] eqy commented on #58234
Might be a type promotion inconsistency e.g.,
[code]

[2021-05-13 22:22] marcelned opened #58267 "Pytorch build issues on PowerPC"
Pytorch is struggling to compile on PowerPC architecture.

I'd like to compile pytorch without any CUDA or GPU support (the GPUs aren't properly configured).

## Environment

PyTorch version: N/A
Is debug build: N/A
CUDA used to build PyTorch: N/A
ROCM used to build PyTorch: N/A

OS: linux (ppc64le)
GCC version: (jovyan-wslcomp4) 10.1.0
Clang version: Could not collect
CMake version: version 3.20.

[2021-05-13 22:50] malfet commented on #58267
Thank you for reporting. We would accept a patch that will disable kineto profiler intergation for power architecture.

[2021-05-13 22:59] SciPioneer opened #58274 "Cannot pickle script RemoteModule over RPC"
## 🐛 Bug

Although non-script remote modules can be sent over RPC, the script ones cannot. It's because the `module_rref` of `RRef` type cannot be pickled properly. Need to somehow reuse its RPC pickler.

## To Reproduce

Re-enable the test `test_send_remote_module_over_the_wire_script` in `remote_module_test.py`, and will be able to see the following error.

[code]

## Expected Behavior
Can re-en

[2021-05-13 23:15] mctigger commented on #54408
Just want to add that I can confirm that at least my code runs ~50% faster with https://ngc.nvidia.com/catalog/containers/nvidia:pytorch on my RTX3090.

[2021-05-13 23:31] malfet commented on #58135
Sounds like a duplicate of https://github.com/pytorch/pytorch/issues/56747
Can you please try to use conda torch package (or switch to cuda10.2 wheel package, which should work for 1080 GPUs)

[2021-05-13 23:32] wconstab commented on #58238
I think a simple tracking scheme where Objs hold the ID of the interpreter they came from would solve this, and be minimal from an overhead perspective.  I haven't thought about it too carefully though.  I'll try it out.

[2021-05-13 23:33] seemethere commented on #58163
I believe you should be able to use CUDA 11.1 binaries with a CUDA 11.2 driver.

CUDA 11.2 is not built due to issues with regarding functionality and performance, see https://github.com/pytorch/pytorch/issues/50232#issuecomment-777703998

We have no plans to support CUDA 11.2, you can refer to https://github.com/pytorch/pytorch/issues/56721 to track progress on CUDA 11.3

[2021-05-13 23:34] #58163 closed

[2021-05-13 23:34] seemethere commented on #58267
As a temporary local workaround you can set `USE_KINETO=0` as an environment variable before doing your build.

[2021-05-14 01:00] skyline75489 commented on #58227
Can you please share output of `python3 -mtorch.utils.collect_env` (or run https://github.com/pytorch/pytorch/blob/master/torch/utils/collect_env.py directly) ?

Also 1.6.1 is an old version and people tend to only fix issues for the most recent versions

[2021-05-14 01:07] wkl2013DeepVision commented on #35516
same tool

ONNX IR version:  0.0.6
Opset version:    11
Producer name:    pytorch
Producer version: 1.7
Domain:
Model version:    0
Doc string:
----------------------------------------------------------------
[05/14/2021-09:03:53] [W] [TRT] onnx2trt_utils.cpp:220: Your ONNX model has been generated with INT64 weights, while TensorRT does not natively support INT64. Attempting to cast down to INT32

[2021-05-14 02:34] ShiningDeadFishEyes commented on #48382
It worked, tks!

[2021-05-14 02:35] garyzccisme commented on #21819
I met the similar error at `X.to(device)` with torch==1.7.1 and CUDA==10.0

[2021-05-14 02:45] CnybTseng commented on #47993
Your solution works for me too. My building step as follows:
$ git clone --recursive https://github.com/pytorch/pytorch
$ cd pytorch
if you are updating an existing checkout
$ git submodule sync
$ git submodule update --init --recursive
$ git checkout v1.8.1
$ git submodule update --recursive
$ export PATH=$PATH:/opt/conda/bin
$ export CMAKE_PREFIX_PATH=${CONDA_PREFIX:-"$(dirname $(which conda))/.

[2021-05-14 02:46] wangtianrui commented on #58220
Maybe this is not a problem with the optimizer. I manually implemented the l2 and l1 regulars. Found that only l2 will have the above situation. I now speculate that the reason is that l2 will cause the sparsity of the model to become worse, and the value is generally small. Some acceleration algorithms originally on the CPU cannot be applied.

[code]
[code]

But the related functions did not appe

[2021-05-14 02:59] wangtianrui commented on #58220
The problem may not be the optimizer, but the acceleration algorithm of the CPU.
I manually implemented the l1 and l2 regulars. Found that only l2 will have the above problems. I speculate that the reason is that l2 regularity will reduce the sparsity of the model (as the training progresses), which may lead to some acceleration algorithms that cannot be better applied.
The following is the releva

[2021-05-14 03:09] zhiqwang commented on #58234
Hi @eqy , the following will also output 0.385185182094574, this may cause some trouble.

[code]

[2021-05-14 03:29] vignesh-creator commented on #16417
once try this in the beginning of your code
import gc
gc.collect()
torch.cuda.empty_cache=1

and reduce the batch size and sometimes, if your network is too deep, you'll get this error(In my case, I was using MNIST for GAN, in which, I changed the size.It was (512 to 900 to 1296 to 784) initially But when I made it like (512 to 1024 ),It worked. Once check these factors.

[2021-05-14 03:31] ezyang commented on #58228
I feel like this particular error shouldn't be too hard to fix, although it is questionable whether or not AMP works at all on complex numbers

[2021-05-14 03:40] nelhage commented on #58212
Hi @ezyang :)

I built from source on #56017 and it doesn't seem to have resolved the problem. Let me know if there are other tests I can run.

I noticed #47117 when searching for this and was hoping the lack of `save_for_backward` made this one more minimal or straightforward, but then forgot to flag the related bug in the report!

[2021-05-14 03:46] wytcsuch opened #58289 "Error converting to onnx: forward function contains for loop"
Hello, there is a for loop in my forward function. When I turned to onnx, the following error occurred:

`[ONNXRuntimeError] : 1 : FAIL : Non-zero status code returned while running Split node. Name:'Split_ 1277' Status Message: Cannot split using values in 'split' attribute. Axis=0 Input shape={59} NumOutputs=17 Num entries in 'split' (must equal number of outputs) was 17 Sum of sizes in 'split'

[2021-05-14 04:14] #56014 closed

[2021-05-14 04:49] SciPioneer commented on #57865
Realized that I created a duplicate issue #58274. That one has more recent update.

[2021-05-14 04:49] #57865 closed

[2021-05-14 05:25] mruberry opened #58292 "RFC: Stop requiring OpInfos specify their dtypes"
This RFC is inspired by @eellison's suggestions for improving OpInfo usability here: https://github.com/pytorch/pytorch/issues/57577.

Today when writing an OpInfo the operator's supported dtypes must be explicitly specified, and if those dtypes vary across device types or on different versions of CUDA those variants must be specified, too. These dtype specifications can be simple or complicated,

[2021-05-14 05:27] mruberry commented on #57577
Update from offline follow-up with @kshitij12345:

- @kshitij12345 is going to start developing a tool that will automate OpInfo construction
- I created an RFC for letting OpInfos request their dtypes programmatically here: https://github.com/pytorch/pytorch/issues/58292

The OpInfos would probably acquire their dtypes programmatically from the tool. Please share your thoughts on the RFC, @eellis

[2021-05-14 05:31] mruberry opened #58294 "Create an OpInfo test for CPU vs CUDA consistency"
**Updated 6/7/2021**

PyTorch once had "tensor_op_tests", but they were removed in https://github.com/pytorch/pytorch/pull/55558. These tests would run a method once on the CPU and once on a CUDA or XLA device and compare the results. What these tests did and how they should be used was confusing, however, and they were often added when it was unnecessary to do so or removed as OpInfos were create

[2021-05-14 06:30] n-gao commented on #53903
Hi Zou,

This is the JAX function which I would like to implement in PyTorch https://github.com/deepmind/ferminet/blob/aade61b3d30883b3238d6b50c85404d0e8176155/ferminet/hamiltonian.py#L23 .
However, they don't use the complete Hessian to compute the Laplacian but instead iterate and only compute the relevant diagonal entries. They also rely on forward-mode gradients which at the moment are not ava

[2021-05-14 07:16] marcelned commented on #58267
@seemethere @malfet

Thank you for the quick response. Please see the output after setting the environment variable. It doesn't give the kinteto issue anymore, however there is some other intricacy also stopping compilation:

[code]

[2021-05-14 08:14] mruberry commented on #58234
This is a little confusing and it's happening because PyTorch's default datatype is float32 while NumPy's is float64.

[code]

When performing the division with the same datatype the result is the same.

[2021-05-14 08:14] #58234 closed

[2021-05-14 09:39] nicola-decao commented on #50345
Hi @vadimkantorov @kshitij12345 @mruberry I was wondering if we get in contact with someone from `scipy`. I saw that the `betainc` is implemented here and is quite easy to port to torch I think https://github.com/scipy/scipy/blob/master/scipy/special/cephes/incbet.c . I may have time to do it so I was wondering what would happen if port that code for `torch`

[2021-05-14 10:09] kshitij12345 commented on #50345
@nicola-decao that'd great!! Feel free to tag me for review. Also feel free ping me (on the PR) if there is any confusion regarding the same.

Thanks!!

[2021-05-14 10:15] efengler opened #58298 "[JIT] Can't handle creating new objects in compiled methods: "Class does not have an __init__ function defined""
## :bug: Bug

When I'm trying to compile a module with a method containing call to a constructor of a different class, I'm getting the following error:

[code]

When the object is created only in the constructor as a field, I can use it's methods etc. just fine.

## To Reproduce

Here is the code I used for testing:

[code]

When I was trying to reproduce it, I got another error, which happens whe

[2021-05-14 12:27] hzhwcmhf commented on #52241
I also encounter the problem and find the backward of ctc loss is really confusing.

I hope the backward of CTC can be the ``true`` gradient of the non-restricted CTC (metioned by @fabiencro), because the non-restricted CTC has its meaning. The acceptable paths in CTC are very sparse and the user can only use parts of the logits matrix (containing the labels appeared in the targets) in CTC loss to

[2021-05-14 13:26] hzhwcmhf commented on #52241
I would like to provide a workaround if someone need the true gradient like me. I build a custom function and hack the ctc_loss to obtain the true gradient.

[code]

To test the code

[code]

[2021-05-14 13:41] albanD commented on #58212
Hi,

What happens here is that we actually need the output of the custom Function to be a different object from the input.
So we internally do a shallow copy if you return the input as-is. In your case, that would create a plain Tensor and loos the subclass.

If you make sure that you never return the input, then the subclass should be maintained on exit.

[2021-05-14 13:51] albanD commented on #58292
The one thing that worries me is that we would not be catching regressions on dtypes anymore.
For example, if I forget some code when updating an operator, nothing in the test suite will tell me that this used to work on int but doesn't anymore.

Note also that it means that people implementing some backend cannot be sure that all their implementation work as they don't get an error if they failed

[2021-05-14 13:55] t-vi commented on #52241
Note that the output of "CTC loss" has no meaning if you don't feed it with log probs. This s not unique to CTC loss, but e.g. NLLLoss or KLDivLoss will also make no sense if you feed it with values matching their specs.

While it is unfortunate that you don't get "self-consistent gradients", once you are running into problems with the current gradient computation, you have already lost as you are

[2021-05-14 14:03] hzhwcmhf commented on #52241
@t-vi  Sorry, I just editted my post to present another example which is more clearer. This time I feed a correct ``log_prob`` (``log_prob.exp().sum(dim=-1) == 1``), but get wrong gradients.

https://github.com/pytorch/pytorch/issues/52241#issuecomment-841212246

[2021-05-14 14:06] serser commented on #46586
@knaffe @XinWangg  Please checkout [Twins](https://github.com/Meituan-AutoML/Twins) that is roll-op free and onnx-exportable.

[2021-05-14 14:26] t-vi commented on #52241
Note that you need to take the log relative to your formula:
[code]

[2021-05-14 14:33] nelhage commented on #58212
In that case, I'll back up and explain how I got here. I found this behavior while trying to understand the failure of the following program (itself minimized from my original code):

[code]

The observed behavior is that the `assert isinstance(input, MyTensor)` check fails only on the *second* invocation of `m(t)`, with the backwards hook registered. The reason is that full backwards hooks actual

[2021-05-14 14:42] albanD commented on #58212
Ho interesting.
We could update that Function there with `res = (inp.view_as(inp) for inp in args)`.
That would allow the view_as to go through the `__torch_function__` call and for you to generate a proper subclass.

[2021-05-14 14:46] samestep commented on #58253
For more context, this is another example of #56745.

[2021-05-14 15:00] nelhage commented on #58212
That would definitely solve my problem!

And for the current issue I think a doc note somewhere explaining the `torch.autograd.Function`/subclass interaction and offering the `view_as` workaround for user-authored functions if necessary would certainly be a good improvement.

[2021-05-14 15:06] hzhwcmhf commented on #52241
I just do not understand why we must take the ``log-prob`` as the leaf node in the example. It is really confusing and unnatural for an autograd system.

This problem can be solved painless by modifying
 https://github.com/pytorch/pytorch/blob/4f28c0b5909d5122b0beffa49a579fc0d5fe0f80/aten/src/ATen/native/LossCTC.cpp#L305
to ``res = (-std::exp(res + nll - lp)) * gr;``

The gradients will be still c

[2021-05-14 15:33] gcramer23 commented on #58255
@SciPioneer that hook works as intended. the problem is the return from the process_bucket method
[code]

I tried adding a callback to return the `fut.value()[0]`
[code]
it still produces the same `RuntimeError: Unable to cast Python instance to C++ type `

[2021-05-14 15:35] gcramer23 commented on #58255
yes, that is used to measure communication and computation time for the bucket

[2021-05-14 15:45] albanD commented on #50692
The difference seems quite big here, could it be that we actually gradcheck at a point where the function is not differentiable?

Note that the acos test is failing similarly and is similarly disabled.

[2021-05-14 16:01] xkszltl commented on #58054
I've added an API so that you don't have to use the previous hack:
https://github.com/google/glog/pull/651
But you'll need some mechanism to detect its existence.

[2021-05-14 16:27] ngimel commented on #58294
Why do we need CPU vs CUDA consistency as opposed to reference consistency?

[2021-05-14 16:29] ngimel commented on #58292
I'm with Alban here, _PROGRAMMATIC option essentially amounts to skipping the test. You can skip it today, but while skip is inherently something to be fixed, _PROGRAMMATIC normalized this situation and allows it to linger forever.

[2021-05-14 16:29] PeterL1n opened #58301 "HardSwish ONNX export is not optimized."
## 🐛 Bug

HardSwish ONNX export has been added in #48423, but it is exported as a series of primitive ops (Add, Clip, Div). ONNX already has the HardSigmoid op since opset 6 and will have a dedicated HardSwish op since opset 14. For now, we can change it to export as `x * HardSigmoid(x)` for simplicity.

In fact, nn.HardSigmoid() op has already been exported as HardSigmoid op directly in #54193. P

[2021-05-14 16:30] #38915 closed

[2021-05-14 16:36] albanD commented on #58212
I don't think we have such doc because they are not expected to work well. But I'm curious which part of the doc you would expect to find that information?

I think we should update the custom Function used by the hook to use view_as directly. Do you want to send a PR for that?

[2021-05-14 16:40] ezyang commented on #58212
@albanD arguably we should do this in the AD engine directly. Since it's custom Python autograd functions, it doesn't seem like a big problem to route through higher level Python handler here.

[2021-05-14 16:42] mruberry commented on #50692
That's possible but it seems unlikely. Currently we generate values within the function's domain and we bound away from the edges of the domain by 1e-5. So we could generate 1+1e-5 as input to acosh. But I think we also verify that if given an input outside its domain (like a value < 1) then acosh returns NaN.

[2021-05-14 16:49] albanD commented on #58212
The reason it is not done right now is that this logic lives in the shared code for python Function and c++ Function.
But we could also have a special case and route that back to python yes.

[2021-05-14 17:22] nelhage commented on #58212
The places I looked while trying to figure out this were documented were [the docs on custom subclasses](https://pytorch.org/docs/stable/notes/extending.html#subclassing-torch-tensor) and [the docs on autograd.Function](https://pytorch.org/docs/stable/notes/extending.html#extending-torch-autograd), both on the "Extending PyTorch" page.

[2021-05-14 18:43] albanD commented on #57535
Hey,

We had a chat about that and we don't think this is a good feature to add.
The main reason is that while it can be useful in that context, it is not a good default in general. And in particular, the error message that people will get if they forget to pass in the kernel size would be much worst (a weird shape error during the forward instead of a clear Error at the Module creation).

That be

[2021-05-14 18:43] #57535 closed

[2021-05-14 18:46] mruberry commented on #58292
Good points, @albanD and @ngimel. I was talking with @ngimel offline and we thought about this alternative proposal:

- we allow the _DYNAMIC or _PROGRAMMATIC keyword when submitting to CI
- this keyword programmatically identifies the operator's dtypes and runs the tests as normal, except `test_supported_dtypes` prints out the correct dtype metadata
- we add a new test, `test_no_dynamic`, that fa

[2021-05-14 18:49] ngimel opened #58314 "topk triggers device assert"
## 🐛 Bug

## To Reproduce

[code]

Causes
[code]
Fresh master build, V100
cc @eqy

[2021-05-14 18:56] #55651 closed

[2021-05-14 18:57] #25135 closed

[2021-05-14 19:21] #57710 closed

[2021-05-14 19:34] ansley commented on #58122
If any OSS contributors are interested in taking this on as a way to learn about our codebase, I can be your point of contact. Please email me at ansley@fb.com with any questions

I'll leave this up for 30 days, after which point I'll fix the errors myself
cc @gmagogsfm

[2021-05-14 19:45] ansley commented on #58298
Hi Ewa! Thank you for providing such a clear example. I'm not sure if this was a typo in your original code or not, but it looks like the real problem is that you should be calling `self.foo` (the registered submodule) in your `forward` function instead of creating another instance of `FooModule`. Example:

[code]

[2021-05-14 20:32] albanD commented on #58292
If the user doesn't have the hardware, I feel like one back and forth will be needed anyways :D So that could work yes.

[2021-05-14 20:50] nikithamalgifb commented on #57710
@yuseungwoo , we have closed the issue for now since the original issue does not reflect the error that you are seeing. . Feel free to open a new issue when you have a reproducer available with the new `RuntimeError` msg.

[2021-05-14 20:57] canertol commented on #19529
I am having exactly the same problem.

[2021-05-14 20:59] mruberry commented on #58294
Good question: this is for tests that don't compare with references. Currently only UnaryUfuncInfos have special tests that compare with NumPy references.

[2021-05-14 21:41] SciPioneer commented on #58255
Which callback raises this runtime error?

Before the return statement, can you print out `type(ret)`, where `ret` could be `fut.value[0]`, or `fut.then(callback)`?

[2021-05-14 21:51] albanD commented on #50692
I think the problem is with the assumption that if `[a, b]` is a valid real domain, then the square `[a, b] x [a, b]` is a valid complex domain (which is what is done in the make_tensor function when the dtype is complex):
[code]

[2021-05-14 21:58] ngimel commented on #58294
Then maybe the right direction is to make those tests compare with references too? These tests don't compare with references not because it's impractical or impossible, but because at the time they were written "compare with reference" was not a widely accepted approach to testing.

[2021-05-14 22:00] albanD commented on #5261
This has been "fixed". cudnn doesn't support this so users will have to fallback to pytorch's forward as intructed in the error message.

[2021-05-14 22:00] #5261 closed

[2021-05-14 22:07] albanD commented on #25736
This was fixed by moving the typing inline.

[2021-05-14 22:07] #25736 closed

[2021-05-14 22:22] mruberry commented on #58294
That's true; I guess the refinement here would be:

- we should start an effort focused on adding references for every OpInfo
- for operators that have references we can compare to the reference instead using CPU vs CUDA as the reference impl

I still want to write this test (and have the UnaryUfuncInfos skip it) because adding references is a longer term project, and adding references for functio

[2021-05-14 22:45] mruberry commented on #58294
Summary of offline discussion with @ngimel:

This test seems very limited in its appeal, and it might be interesting, instead, to start adding reference implementations to every OpInfo. We wouldn't require references, but if an OpInfo has a reference we could validate its CPU and CUDA sample inputs against it in a new test.

Adding more references to OpInfos is interesting (it's basically implemen

[2021-05-15 00:17] #58314 closed

[2021-05-15 02:46] venkateshtata commented on #58122
I am new to Pytorch and really want to understand about the codebase, can I take up this issue ? @ansley @gmagogsfm

[2021-05-15 02:52] ansley commented on #58122
@venkateshtata Yes, absolutely! Go ahead and pick one of the three issues listed above to start with. (I think it will be easier to start with one than to try to get all three done at once.) I can help you figure out where to start and answer any questions you might have

[2021-05-15 02:59] venkateshtata commented on #58122
Okay @ansley, Thank you.

[2021-05-15 03:53] rose-jinyang opened #58343 "Add the features like Keras"
## 🚀 Feature

1. The following layers are from Keras but PyTorch does NOT have these layers yet.

[code]

2.  Why does a PyTorch layer require an input channel surely?
    Keras does not require this and determines this value from a previous layer.
    Is it impossible in PyTorch?

## Motivation

I think that PyTorch has many strong points in customizing the network training workflow.
So far, Tens

[2021-05-15 06:02] InfiniteLife commented on #58227
Here is the collected information. Although it is about torch installed with pip, not one I've built. There is also a problem that prebuilt distribution of libtorch wont run with CUDA on WIndows. That's why I have to build it. I might give it a try with 1.8.1 build, though it takes some time because building libtorch takes hours.
[code]

[2021-05-15 06:02] gcramer23 commented on #58255
I found the bug. My fault,  to send sparse tensors using rpc, I convert the tensor to a list containing indices, values, and size. The future being returned from the parameter server for sparse layers contained a list, not a tensor. I converted the sparse format to tensor in the callback and got it working.

example of code that works
[code]

[2021-05-15 06:05] gcramer23 commented on #58255
it was the callback in the process_bucket method when the future contained a list representing a sparse tensor.

tensor for dense layers. list for sparse layers.

[2021-05-15 07:36] LifeBeyondExpectations commented on #40073
Is there any problem when we set `find_unused_parameters=True` ??
I also encounter memory leak problem.

[2021-05-15 09:53] 863zq commented on #58228
Yes, it's easy to fix by not using AMP. I believe AMP doesn't work on complex64 now.

[2021-05-15 10:26] Moldoteck commented on #19003
Any updates for this?

[2021-05-15 11:34] maqboolkhan commented on #2227
Updated link: https://github.com/pytorch/pytorch/blob/master/aten/src/THCUNN/ClassNLLCriterion.cu

[2021-05-15 11:35] ankitajaiswal00 commented on #4827
I had the same problem where the jupyter lab couldn't import torch after successful installation in my virtual environment. But when I checked the list of installed packages using 'conda list', PyTorch was present but not jupyterlab. After installing jupyterlab, it is working fine!.

[2021-05-15 13:03] igo312 commented on #46974
I using `CUDA_LAUNCH_BLOCKING=1`, but it's so slow that I waited for an hour still get nothing. Can anyone tell me how to fix it?

 I think it should be my model problem. I'm learning to complete a two-stage computer-vision model, and the error caused when I feed the proposal into the second stage.

[2021-05-15 13:04] vballoli opened #58350 "Unclear documentation or unintended behaviour for Lazy modules"
## 🐛 Bug

[Docs](https://pytorch.org/docs/stable/generated/torch.nn.LazyLinear.html#torch.nn.LazyLinear) mention that bias is initialized as `UninitializedParameter` but all the lazy modules have bias as a `Parameter`.
# # To Reproduce

[code]
## Expected behavior

Either bias should be an `Uninitialized parameter` or the docs should mention that bias is initialized before the weights.

## Environ

[2021-05-15 14:25] zhangqianjin opened #58351 "need sampled softmax loss function to train model to get user vector and item vector with a large dictionary"
## 🚀 Feature
refer to https://www.tensorflow.org/api_docs/python/tf/nn/sampled_softmax_loss

## Motivation
 I want to use the trained model result for model recall. The existing torch.nn.AdaptiveLogSoftmaxWithLoss does not return the nearest neighbor result. And pytorch lacks the sampled softmax loss function (refer to https://www.tensorflow.org/api_docs/python/tf/nn/sampled_softmax_loss), which i

[2021-05-15 14:35] nivesh48 commented on #58181
@albanD, could be assigned for this task if no one is working on this?

[2021-05-15 15:02] #58255 closed

[2021-05-15 16:28] KickItLikeShika opened #58352 "Broadcasting multiple tensors to all procs in distributed training"
If I got a tensor `a = tensor(100)` then `torch.distributed.broadcast(a, src=0)` works very fine, but I got an issue while broadcasting a list/tuple of tensors, for example `a_list = [tensor(100), tensor(100)]` and I want to broadcast It but I can't. Is there any way/hack to do that?
I tried to loop through and broadcast the list tensor by tensor, It broadcasts the first tensor successfully then f

[2021-05-15 17:01] PeterL1n commented on #35516
Also encountered this. The graph is so ugly even for a simple `nn.ZeroPad2d(2)`, which clearly has a constant padding. Please fix this.

[2021-05-15 19:11] mariosasko commented on #58343
1. For odd kernel sizes with default stride and dilation, to achieve the "same" padding, the formula is: `kernel_size//2`. For even kernel sizes, check the [`F.pad`](https://pytorch.org/docs/1.8.0/nn.functional.html?highlight=pad#torch.nn.functional.pad) function in the docs. It shouldn't be too hard to find online implementations of the conv layers that are missing in PyTorch (PyTorch Forums and

[2021-05-15 20:21] nelhage opened #58354 "Segmentation fault when a Tensor backward hook removes itself"
## 🐛 Bug

If a Tensor backward hook removes itself during execution *and* returns a modified gradient, PyTorch will segfault.

## To Reproduce

[code]

[code]

Stacktrace, as recorded by gdb:

[code]

## Expected behavior

It doesn't segfault. If a hook removing itself is considered an error, it should raise an exception.

## Environment

[code]
## Additional context

Tested on PyTorch built from

[2021-05-15 20:53] SciPioneer commented on #41266
@rohan-varma  Yeah, confirmed with @agolynski last week, this one is unblocked now.

[2021-05-15 20:54] SciPioneer commented on #42048
Close this PR, as collective APIs are already supported by `getFuture()` on MPI and Gloo.

[2021-05-15 20:54] #42048 closed

[2021-05-16 01:30] Gilf641 commented on #58122
Hey @ansley, I would like to work on one of them. I have a basic knowledge of PyTorch and want to contribute to OSS.

[2021-05-16 01:35] ansley commented on #58122
@Gilf641 Same deal, pick one and I'll help answer any questions you might have! Thanks in advance for contributing

[2021-05-16 01:41] ansley commented on #58122
I'm really excited that we've had so much interest in these issues (thank you, OSS community!). We have three separate problems, so I think we can have three separate people contribute. The issues will be first come, first serve. If you scroll down in the comments on this post and don't see anyone who's volunteered to take the issue, it's yours! Of course, please make sure to leave your own commen

[2021-05-16 02:22] venkateshtata commented on #58122
Right now when we do something like below :
[code]

We get this Error `RuntimeError: Type '<class '__main__.Model'>' cannot be compiled since it inherits from nn.Module, pass an instance instead`

Should I change the error message as ' cannot be compiled since a call to constructor of nn.Module has been made' ?

[2021-05-16 03:15] imaginary-person commented on #56187
@ezyang @malfet

Currently, the following tests of CI checks are failing for #56992, but I'm unable to reproduce the issues locally on various machines (AVX only, AVX + AVX2, AVX + AVX2 + AVX512), even if I download & install the artifacts of the CI builds for which those CI checks are run, and test them with various `ATEN_CPU_CAPABILITY` values.

FWIW, the CircleCI machine running `pytorch_macos_

[2021-05-16 05:00] tugsbayasgalan opened #58360 "Slicing fails for moduleList negative step size"
## 🐛 Bug

Slicing moduleList fails with given stepped size gives an error.

## To Reproduce

[code]
gives following error:
[code]
This is because slicing moduleList silently ignores the step size.

## Expected behavior
Shouldn't fail
## Additional context
This is because we refactored the original tuple slicing logic but never touched the part where we convert moduleList to tuple to slice it.

cc

[2021-05-16 05:04] xkszltl commented on #57273
We're seeing the same issue.

After that PR (https://github.com/pytorch/pytorch/pull/54895), I got a lot of warnings in one of our project.
Looks like 4 warnings for each epoch, emitted within the same second.
My guess is it's from data loader restart.
Because for this specific case we have high epoch count with small dataset, it's flooding our log.
If this is expected, should we suppress if after

[2021-05-16 05:57] lezwon commented on #58122
hey @ansley, I'd like to take up the second issue concerning `torch.distributions`. I'd like to know where I can add this check.

[2021-05-16 08:29] liubest opened #58364 "When use loss.backward, it has bugs. RuntimeError: one of the variables needed for gradient computation has been modified by an inplace operation"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. I create a specific model with pytorch when I use loss.backward, it has bugs. But it works when I use cuda gpu. When I try to run my model with cpu, it appears this bug.
1. I already try to reinstall pytorch version like 1.5.0, 1.6.0, 1.8.0. But it all not works

code:
[code]
bug:
[code]

## Expected behavior

Succeed to running my mo

[2021-05-16 09:56] #58364 closed

[2021-05-16 12:39] josh-gleason commented on #33384
I'll point out that as of version 1.8.1 the documentation has been updated for [MaxPool1d](https://pytorch.org/docs/1.8.1/generated/torch.nn.MaxPool1d.html) but it has not yet been updated for [MaxPool2d](https://pytorch.org/docs/1.8.1/generated/torch.nn.MaxPool2d.html) or [MaxPool3d](https://pytorch.org/docs/1.8.1/generated/torch.nn.MaxPool3d.html).

[2021-05-16 13:02] h6197627 opened #58366 "PyTorch fails to detect Intel® oneAPI Math Kernel Library during build"
## 🐛 Bug

PyTorch building scripts from current master fails to detect updated Intel MKL versions released as a part of OneAPI framework (which is now placed in **/opt/intel/oneapi/mkl/latest**)

## To Reproduce

[code]
results into

<details>

[code]

</details>

## Environment

 - PyTorch Version (e.g., 1.0): current master
 - OS (e.g., Linux): Ubuntu 20.04
 - How you installed PyTorch (`conda`,

[2021-05-16 14:23] Gilf641 commented on #58122
Hey @ansley, I'll take up the third issue, related to registering new buffers.

[2021-05-16 15:59] MingyangLei commented on #20785
Has this F.grid_sample problem been fixed in the latest PyTorch? How can I keep it size-agnostic while applying F.grid_sample? Thanks!

[2021-05-16 16:49] imaginary-person commented on #57273
`TORCH_WARN_ONCE` would've worked the same way as `TORCH_WARN` in #54895, as this warning is displayed only once per child process that leaks & rebuilds the Caffe2 thread-pool.

If you're referring to filtering this warning in another project, then yes.
But if you're referring to suppressing this warning in the PyTorch source code, then it'd have to be removed.

[2021-05-16 17:22] Wulfsta commented on #55762
Are there any updates on this?

[2021-05-16 18:35] t-vi commented on #52241
Ah, right. Well, if the existing tests pass with that adjustment, I'd be all for it.

[2021-05-16 20:05] david-macleod opened #58367 "ONNX exporter forces implicit cast to double"
## 🐛 Bug

After exporting a simple model using `torch.onnx.export` it is unable to be loaded into onnx runtime due to an invalid graph, which appears to be caused by PyTorch forcing a tensor to be of type double, despite it being explicitly cast to float in the code.

N.B. the model below is simply a minimal repro of a much more complex model that is failing with the same error.

## To Reproduce

[2021-05-16 20:10] Bahaabrougui opened #58368 "Torch/onnx : Variable in dynamic axes can't be used in an if statement during the forward method in the model"
**Describe the bug**
When specifying a variable appearing in the shape of the input as dynamic and not fixed, and if you're using that same variable in the forward function of the model to do some if statements and boolean tests, while exporting you get this warning :
`TracerWarning: Converting a tensor to a Python boolean might cause the trace to be incorrect. We can't record the data flow of Pyt

[2021-05-16 20:26] samringer commented on #58367
Seeing the exact same thing!

[2021-05-16 21:22] timocato commented on #27595
Simple, do the following and this warning will gone:

change your code from:

    optimizer = torch.optim.SGD(
        model.parameters(),
        lr=0.016,
        weight_decay=1e-5,
        momentum=0.9
    )
    lr_scheduler = torch.optim.lr_scheduler.StepLR(
        optimizer,
        step_size=10,
    )

    model, optimizer = amp.initialize(model, optimizer, opt_level='O1')

to this:

    op

[2021-05-16 21:25] mfkasim1 opened #58369 "Tensor subclass' type is not preserved in torch.autograd.Function"
## 🐛 Bug

When an object of tensor's subclass is saved in `torch.autograd.Function` using `ctx.save_for_backward`, the type is not preserved in the backward method when accessing it with `ctx.saved_tensors`.

## To Reproduce

This is an example script to illustrate what I meant:

    import torch

    class SubTensor(torch.Tensor):
        pass

    a = SubTensor([2]).requires_grad_()
    b = torc

[2021-05-16 22:10] mcstarioni opened #58370 "Add better python operators annotations for IDE type checking"
Back i the days you had a nice mapping from `__lt__ ` to ` torch.lt`  like in [this version](https://github.com/pytorch/pytorch/blob/fa8044d92f8a77b8008ca5e295a341abb9d26f13/torch/tensor.py#L292), and IDE got it just fine,

But current implementation of tensor hides its python magic operators so IDE's like Pycharm highligh an error when used in comparison with floats or bools like this one: "Expec

[2021-05-16 22:14] gloryVine opened #58371 "Tests do not pass even though build successful"
## 🐛 Bug

I have been trying to build PyTorch from source on a newly set up Ubuntu machine with two Nvidia GPUs for several weeks. Though the build succeeds, no matter what I try, I can't get the tests in `tests/run_test.py` to pass. I'm following the steps described [here](https://github.com/pytorch/pytorch#from-source).

[Here](https://gist.github.com/gloryVine/b1de5980b504a4e84199998e1b6bf0c6)i

[2021-05-16 23:22] ChristopherKing42 opened #58374 "The `word_language_model` example script seems to not work with RocM"
## Issue description

The `word_language_model` example script seems to not work with RocM.

## Code example

[code]

The error:
[code]

## System Info

Collecting environment information...
PyTorch version: 1.8.1+rocm4.0.1
Is debug build: False
CUDA used to build PyTorch: N/A
ROCM used to build PyTorch: 4.0.20496-4f163c68

OS: Ubuntu 20.04.2 LTS (x86_64)
GCC version: (Ubuntu 9.3.0-17ubuntu1~20.04

[2021-05-16 23:50] axitkhurana commented on #58171
Hi @IsCoelacanth,

Apologies quantized::batch_norm2d is not currently supported by the NNAPI converter. You can see list of supported ops at this time here: https://github.com/pytorch/pytorch/blob/master/torch/backends/_nnapi/serializer.py#L726

We're adding more ops soon!

[2021-05-17 01:18] SpongeBab opened #58375 "Support Mish() activation function."
## 🚀 Feature
Support Mish function.

## Motivation
Now mish is widely used by all kinds of object detection models,such as yolo,efficientdet...

cc @albanD @mruberry @jbschlosser

[2021-05-17 02:09] #56883 closed

[2021-05-17 02:22] CoinCheung commented on #27595
@timocato Since pytorch supports mixed precision natively now. Do you know how to solve this problem with pytorch native mixed precision training?

[2021-05-17 02:25] GGshawn commented on #40497
Same issue.But I think I've resolve it. When we use loss function like ,Focal Loss or Cross Entropy which have log() , some  dimensions of input tensor may be a very small number. It's a number bigger than zero , when dtype = float32. But amp will make the dtype change to float32. If we check these dimensions , we will find they are [0.]. So as the input of log(), we will get NaN. There are two wa

[2021-05-17 03:06] ashkan-leo commented on #2138
same issue here. I tried to convert the data to double, the model to double, data to float, the model to float in every combinations. I am using an iterable dataset loaded using the DataLoader. I appreciate any help on how to fix the problem.

[2021-05-17 03:55] vignesh-creator commented on #16417
Once try to free the memory.Open task manager(ctrl+alt+del) and then start releasing the memory by ending unnecessary tasks.This worked in my case

[2021-05-17 04:25] imaginary-person commented on #58371
Did you build within an Nvidia Docker, BTW?

[2021-05-17 04:34] ciaochiaociao commented on #20424
Second this

[2021-05-17 04:49] mlizhardy commented on #2138
Try this:

https://pytorch.org/docs/stable/generated/torch.set_default_dtype.html

On Sun, May 16, 2021 at 8:06 PM Ashkan ***@***.***> wrote:

--
Megan Hardy
510.688.7988

[2021-05-17 05:06] venkateshtata commented on #58122
@ansley
Right now when we do something like below :
[code]

We get this Error `RuntimeError: Type '<class '__main__.Model'>' cannot be compiled since it inherits from nn.Module, pass an instance instead`

Should I change the error message as ` cannot be compiled as a call to constructor of nn.Module is being made` ?

[2021-05-17 05:44] IsCoelacanth commented on #58171
@axitkhurana okay, that's understandable. any way to fuse conv-bn layers recursively for any model? the docs only cover MobileNet.

[2021-05-17 06:03] krshrimali commented on #58294
Thanks for the detailed description, @mruberry. I understand why having references to OpInfos is interesting assuring consistency of NumPy/SciPy with PyTorch. I'm, though, curious to hear from you or anyone who can help with this, on these points:

1. Is there any difference when we say `start adding reference implementations to every OpInfo` vs `until we add references to their OpInfos`? I'm assu

[2021-05-17 06:30] CXX1113 commented on #37377
Thanks,  reinstall numpy worked for me!
`pip uninstall numpy`
`pip install numpy`

[2021-05-17 06:32] qingyunqu commented on #55070
@ezyang Do you have any plan to support `optional scalar` (like `clamp`) and `list of tensor`(like `_cat`) to be structured?

[2021-05-17 06:37] efengler commented on #58298
That was an oversimplified example. My real case is that I _need_ to create another object.

[2021-05-17 07:56] pratX commented on #40497
But log() is listed as an op that gets autocasted to fp32 no matter the input type. https://pytorch.org/docs/master/amp.html#ops-that-can-autocast-to-float32

[2021-05-17 08:37] t-vi opened #58380 "Clarity of error message in einsum regressed in performance improvements"
## 🐛 Bug

From [Sohrab Samimi on the forums](https://discuss.pytorch.org/t/problem-with-einsum/121476):

[code]
gives

[code]

To which they say:

Clearly, the `i`-dimensions don't match, but the error message sounds relatively opaque to me.

## Expected behavior

In my opinion, it would be better to print the letter/dimension and term number where the size mismatch happens. I think the old versio

[2021-05-17 08:51] imaginary-person opened #58381 "On master branch, `test_lkj_cholesky_log_prob` fails on MacOS 10.13 with `ATEN_CPU_CAPABILITY=default`"
## 🐛 Bug

`TestDistributionsCPU.test_lkj_cholesky_log_prob` fails on MacOS 10.13 when `ATEN_CPU_CAPABILITY=default`.

## To Reproduce

Steps to reproduce the behavior on CI:

1. In `pytorch/.jenkins/pytorch/macos-test.sh`, test with `ATEN_CPU_CAPABILITY=default`, as in #58379:
https://github.com/pytorch/pytorch/blob/deb75296aea03099c8b5cfa25c48526a7501da37/.jenkins/pytorch/macos-test.sh#L66
2. `py

[2021-05-17 09:05] zbz-cool commented on #27970
I also encountered the same problem, is there a solution now?

[2021-05-17 09:57] pmeier opened #58383 "Improve error messages of `torch.testing.assert_close` in case of mismatching values"
The current implementation of `torch.testing.assert_close` already does a good job at delivering information to the user in case of mismatching values. Still, I think they can be improved in multiple ways:

1. If a scalar (tensor) is compared, the error message currently looks like this:

[code]

    This can be improved in multiple ways:

    - The header should read "Scalars are not close!" to i

[2021-05-17 10:00] lw commented on #58239
This turned out to be a lock inversion between the Future's mutex and the GIL. I have a (hacky) fix out for it in https://github.com/pytorch/pytorch/pull/58382.

Let me also perhaps explain how I found this out, so that next time you can diagnose this on your own. After launching the repro I attached GDB to the two processes (via `gdb --pid=<PID>`; I found the PIDs using `pgrep`). I looked at the

[2021-05-17 10:41] asi1024 commented on #51284
@mruberry Sorry for my late reply :bow:

I found that `einsum` is not implemented as a Python wrapper but rather implemented as a function that accepts `Tensor[] tensors` in `native_functions.yaml`. However this approach cannot be used for `result_type` because both type and number of arguments cannot be statically declared.

I then found JIT-specific implementation for functions having variadic n

[2021-05-17 11:07] lw opened #58385 "A "sanitizer" mode for the CUDA caching allocator?"
## 🚀 Feature
ASAN (a.k.a., Address SANitizer) is a tool for CPU memory that allows to find common errors such as use-after-free. I wonder if we have thought of introducing some similar (opt-in) checks for CUDA through the caching allocator?

## Motivation

One specific use case I have in mind is catching cases where we forget to record a data ptr with the caching allocator when switching streams.

[2021-05-17 11:17] lw opened #58386 "Better shared memory allocation under Docker"
## 🚀 Feature
Use the `memfd_create` syscall (when available) instead of `shm_open` to allocate shared memory to evade the system limits on how much shared memory can be allocated.

## Motivation

From "empirical" experience, it seems that CPU tensors backed by shared memory are allocated as files inside `/dev/shm`. (Not sure if this happens "directly", through `open`, or indirectly, through `shm_o

[2021-05-17 11:27] gloryVine commented on #58371
Regarding the Nvidia Docker, not as far as I know. Actually, I hadn't docker installed when I first had these issues, so I installed docker a few days ago but didn't go through with it because I do not know what's the issue. Are there advantages to building within and Nvidia docker, and should I try again?

I didn't search past issues. I had asked in the PyTorch forums about these problems and app

[2021-05-17 11:28] lw opened #58387 "Add kernel version and glibc version to collect_env"
## 🚀 Feature

TensorPipe uses some advanced features of the Linux kernel. It does so on a "best effort" basis (i.e., use them if available, fall back on something else if not). This logic is unfortunately hard to test because it would require specific kernel versions on our CI machines. So it occasionally happens that we find out about issues when users report them. To help investigate these repor

[2021-05-17 11:28] lw commented on #58387
CC @malfet

[2021-05-17 12:04] webbp commented on #20206
Is there a build flag for pytorch to use it's own protobuf include and lib and ignore system protobuf?

[2021-05-17 12:24] #34272 closed

[2021-05-17 12:41] mruberry commented on #58294
Good questions. Answers inline:

Yes, every OpInfo would support an optional reference attribute.

Yes, because the special unary elementwise tests exploit the structure of unary elementwise operations and don't rely on sample inputs.

Yes, we plan to implement specialized tests for binary elementwise and reduction options, too, again because those classes of operations are large enough and have e

[2021-05-17 12:57] mruberry commented on #58383
(1) sounds good

(2) with assert_equal not being public (yet?) I wouldn't bother with its behavior

(3) displaying the numbers consistently sounds good, we just need to be sure we're displaying the exact atol and rtol

(4) I would prefer we consider including the elements being compared (NaN vs. 5), (10 vs 3) and adding more language to clarify what "at X" means --- what's "X"? Maybe something lik

[2021-05-17 12:58] #46763 closed

[2021-05-17 13:17] albanD commented on #58181
Sure.
You can add me as a reviewer for the PR when it's ready!

[2021-05-17 13:26] pmeier commented on #58383
What do you mean by "exact"? Not rounded? If that is the case the only option we have is to use `:f` as format, which is really cumbersome for very small tolerances (`1e-7` vs `0.0000001`).

True, with my suggestion we lose the ability to locate unmatched NaN's so maybe we can leave it as is. This is only confusing if we compare NaN to NaN without setting `equal_nan=True`. Maybe we can detect this

[2021-05-17 13:29] david-macleod commented on #36478
I believe the only reason the # WORKS case works is because x1 is never used, so is removed from the graph. If you `return x1` it breaks

[2021-05-17 13:43] mullachv commented on #52053
Hi,
Can I take this on? Thank you,

[2021-05-17 14:03] ADulian opened #58392 "torch.cuda.amp.autocast nan values when model.eval()"
Hi there,

I seem to have an issue with training on mixed precision with torch.cuda.amp.autocast, during training loop i.e. when net.train() the network outputs is valid, however, changing the mode to net.eval() causes some of the data samples to produce NaN values when ran through net.forward(). This issue is not present on every epoch, however, it is present for most of the training. I checked i

[2021-05-17 14:07] walterddr commented on #58294
Adding to the discussion regarding CI cost? Do we plan to add another argument (e.g. `slow_test`) to
https://github.com/pytorch/pytorch/blob/452569dffb59a0dead6f46dc540fa46009b71c3a/test/test_torch.py#L8047
in order to guard the slowest operations?

Another alternative what @janeyx99 implemented for automatically categorizing slow test in #54456. We might need to tweak the threshold a bit though.

[2021-05-17 14:09] SS-JIA commented on #58172
Unfortunately, we don't support Quantized tensors in Vulkan at the moment. We plan to support it in the future, however.

What model are you trying to run?

[2021-05-17 14:18] hazevt04 commented on #28224
I'm using C++ and CUDA 10,  and I have been trying to set and get device flags. I noticed that if I tried to cudaSetDeviceFlags() and then cudaGetDeviceFlags(), then I would not see the flags set to what I wanted. I wound up adding a call to cudaDeviceSynchronize() between the cudaSetDeviceFlags()  and cudaGetDeviceFlags(). Then I got the flags I expected! That was ...a bit weird.

[2021-05-17 14:28] gchanan commented on #58350
@albanD

[2021-05-17 14:31] gchanan commented on #58228
can you post a full reproduction?

[2021-05-17 14:36] albanD commented on #58350
Hi,

This should already be fixed on master. Could you install the nightly version to confirm that?
Sorry for the confusion in the 1.8 doc.

[2021-05-17 14:44] penguinwu commented on #52053
@mullachv Thanks for helping out. Assigned to you.

[2021-05-17 14:48] vballoli commented on #58350
Yeah, it's fixed in the nightly version. Thanks a lot @albanD @gchanan !

[2021-05-17 14:48] #58350 closed

[2021-05-17 14:54] jbschlosser commented on #58292
Agree with @albanD and @ngimel - I generally consider it better to optimize for read-time rather than write-time since reading is done much more often than writing. I like that dtypes are currently explicit, and I like the protection against dtype regressions.

Providing a mechanism for auto-identifying dtypes that are then entered manually + explicitly seems like a good middle ground to improving

[2021-05-17 14:58] nivesh48 commented on #58181
Sure, thank you @albanD

[2021-05-17 15:06] liuguicen opened #58393 "Is there some way to recycle the memory of a model or tensor in Android?"
On Android, when I apply the model to images of different sizes multiple times, I need to create a new tensor each time, and then pass the tensor to the forward method (the tutorial provides a way to reuse tensor memory, but It seems that it can only be used on pictures of the same size). But every time a new call is made, the native memory used by the last tensor or model in Android will not be r

[2021-05-17 15:13] apozas commented on #32097
Hello,

I just stumbled upon this issue, and saw that it does not yet have a solution. I crafted a way of doing the requested (probably not as optimal as it can be done), I hope it helps

[code]

[2021-05-17 15:19] zou3519 opened #58394 "torch.new_ones should be an operator"
## 🐛 Bug

Tensor.new_ones should be an operator, otherwise there is no way for extension writers to extend it!

## To Reproduce

Most of the other `new_{blah}` methods (`Tensor.new_empty`, `Tensor.new_zeros`, ...) are operators.
`new_ones` is defined here: https://github.com/pytorch/pytorch/blob/1ad06ba3f504dae6f47fa2654b4b0eaa6a399435/torch/csrc/utils/tensor_new.cpp#L873-L886

Not sure if there's

[2021-05-17 15:23] lukasfolle opened #58395 "[DOC] Add info about differentiability of functions"
## 📚 Documentation

In order to know if a pytorch function e.g. `torch.mode` (https://pytorch.org/docs/stable/generated/torch.mode.html) can be integrated into the graph of a network it would be really helpful if there would be an indicator about differentiablitly.

Open for discussion of this idea :-)

[2021-05-17 15:38] malfet opened #58397 "Nightly PyTorch builds can not be installed using pip-21.1.1"
` python3 -mpip install -v torch -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html` will install torch-1.8.1 instead of nightly.

This issue surfaced several times recently.
Below is pip install verbose log from my local machine
<details><summary>pip install log|grep -v Skipping</summary>
<pre>
% python3 -mpip install -v torch -f https://download.pytorch.org/whl/nightly/cpu/torch_

[2021-05-17 15:51] malfet commented on #58054
Thank you for reporting. We would accept the patch that fixes it

[2021-05-17 15:53] pmeier commented on #58397
For an easier output save

[code]

in a HTML file and point `pip` to it with the `-f` flag. This is just today's nightly CPU version with the relative links replaced by absolute ones.

[2021-05-17 15:54] mwootton opened #58399 "Add cmake support for ROCm Kineto"
## 🚀 Feature
Add cmake support for kineto to build on ROCm with Roctracer support.

## Motivation

Kineto has upcoming support for a ROCm based profiler.  It will require pass-down from pytorch cmake to configure correctly.

## Pitch

Alter Pytorch CMake to pass down config (e.g. USE_CUDA, USE_ROCM) to libkineto

## Alternatives

## Additional context

cc @malfet @seemethere @walterddr @jeffdaily

[2021-05-17 15:54] pmeier commented on #58397
For some reason `pip` falls back to PyPI. If you install with `--no-index` specified, this works as expected.

[2021-05-17 15:56] pmeier commented on #58397
This has nothing to do with `pip==21`. Can confirm this also happens for `pip==19` and `pip==20`.

[2021-05-17 16:01] Krovatkin commented on #58292
@mruberry I also like the middle-ground approach. I have a tangentially related question with the discoverability of this option, though. How are we going to let users know that this option exists and how to use it? Would that be a part of an error message or would that just be default outside CI w/ test_no_dynamic() failing?

[2021-05-17 16:13] eellison opened #58402 "fx OpInfo tests don't work with nn.functional test names"
## 🐛 Bug

@Chillee @jamesr66a

see: https://github.com/pytorch/pytorch/blob/master/test/test_fx.py#L2605

[2021-05-17 16:23] imaginary-person commented on #58386
Do users usually encounter `SIGBUS` if they don't change the default Docker config? Just asking, so that someone searching for keywords of such an issue may land here.
Thanks!

[2021-05-17 16:30] imaginary-person commented on #58371
I asked this only because many folks encountered `SIGBUS` while using PyTorch in Docker due to the default Docker Config having a low max-limit on the size of `/dev/shm`.

[2021-05-17 16:37] heitorschueroff commented on #13966
Closing this issue as it seems to have been resolved.

[2021-05-17 16:37] #13966 closed

[2021-05-17 16:42] heitorschueroff commented on #58380
@t-vi I agree that this error message can be improved. I went with a similar error message as NumPy but now looking back it's not easy to understand what is going on. I'll work on an improvement as part of the changes to einsum I'm doing. Thanks!

[2021-05-17 16:46] heitorschueroff commented on #46974
@Ir1d and @igo312, could you tell me what version of PyTorch are you getting the illegal memory access?

[2021-05-17 16:51] malfet commented on #14046
Closing, as CUDA no longer supported on MacOS

[2021-05-17 16:51] #14046 closed

[2021-05-17 16:52] malfet commented on #13988
Closing, as ideep can be compiled by gcc-7.5+

[2021-05-17 16:52] #13988 closed

[2021-05-17 17:15] zasdfgbnm opened #58414 "cuDNN v8 API tracking issue"
# This issue is being written. Please come back later...

[2021-05-17 17:16] seemethere commented on #58397
Don't you need to add the `--pre` flag in order to install nightly builds?

[code]

[2021-05-17 17:17] mruberry commented on #58395
This is a fine idea. We could probably extend and uniformly apply "Supports..." style statements to include autograd support. See the documentation of `torch.sub` for an example of such a statement (https://pytorch.org/docs/master/generated/torch.sub.html). So today it says:

"Supports broadcasting to a common shape, type promotion, and integer, float, and complex inputs."

And it could say

"Supp

[2021-05-17 17:18] ansley commented on #58237
cc @eellison

[2021-05-17 17:20] t-vi commented on #58380
@heitorschueroff Thanks for looking at this!

I really love your perf work on einsum, too!

[2021-05-17 17:22] mruberry commented on #58292
@Krovatkin Discoverability is always an issue. I think the error messages for related tests, like test_supported_dtypes, can point users to this option (and to the future OpInfo metadata helper tool), and we can also extend the documentation for OpInfos in their file + in the developer wiki, too.

[2021-05-17 17:23] nelhage commented on #58369
I think this was previously reported as #47117!

[2021-05-17 17:24] eellison commented on #58292
Thank you for the writeup @mruberry.

The existing testing mechanism of adding symbolic differentiation to JIT is to add to a registry of tests like so:
`('relu', (S, S, S), (), '', (True,))`. This is *really easy*. It also runs a robust set of tests comparing forward, backward, double backward, etc. If any of these do not work in eager, we do not run the corresponding test in JIT.

A similar mech

[2021-05-17 17:25] heitorschueroff commented on #58392
@ADulian Could you share some code snippet that reproduces the problem you're describing as well as what the expected behavior should be. Any extra information will help us help you better. Thank you!

[2021-05-17 17:25] eellison commented on #58292
I appreciate that the reason the JIT tests are easier to add to is because they rely on eager correctness as a baseline, and that OpInfos are way better for the ecosystem. Still, the difference in difficulty between using our existing test mechanisms and OpInfos does give me pause for migrating our tests completely over.

[2021-05-17 17:31] mfkasim1 commented on #58369
@nelhage thanks for the pointer. I'm closing this as a duplicate.

[2021-05-17 17:31] #58369 closed

[2021-05-17 17:41] lw commented on #58386
Yes, we tend to detect these issues as SIGBUS failures, which also manifest as "Bus error" messages or as error code -7 (to add a few more keywords).

[2021-05-17 17:56] IsCoelacanth commented on #58172
Trying to run the unet model from torch-model-hub. In FP32 mode, are all ops supported on Vulkan? (assuming its optimized for mobile and converted to torchscript?)

[code]

[2021-05-17 17:56] ansley commented on #58122
@gmagogsfm will be posting some repros to make this easier for you to start with

[2021-05-17 18:02] z-a-f commented on #40316
Sure -- go ahead. Lemme know if you have any questions

[2021-05-17 18:04] IsCoelacanth commented on #58172
leaving the model as fp32 and running on mobles gives a new error:

[code]

model was converted as follows:
[code]
and Uses the same code as above on android.

[2021-05-17 18:06] shubhambhokare1 commented on #35853
This feature has been added in #45792 and #47367

[2021-05-17 18:12] SS-JIA commented on #58172
Ah, unfortunately we don't have full op coverage for the Unet model yet. We're currently working on adding the final required op (`max_pool2d`). However, this error isn't related to op coverage. As a sanity test, could you try running [this model](https://www.dropbox.com/s/k0ic8vkibixnd9n/mnet_vulkan.pt?dl=0)?

If that works, I would recommend you try re-building Pytorch from source with the `USE_

[2021-05-17 18:19] IsCoelacanth commented on #58172
The model works right away, no glitches.
I'm quite new to working with on device, by "re-building Pytorch from source with the USE_VULKAN=ON flag" you're referring to building my PyTorch install which I'm using to prepare the model for mobile right? I'm following the Vulkan recipe from (here)[https://pytorch.org/tutorials/prototype/vulkan_workflow.htm]

[2021-05-17 18:24] SS-JIA commented on #58172
Yep, rebuilding your Pytorch install.

[2021-05-17 18:25] IsCoelacanth commented on #58172
got it, Thanks!

[2021-05-17 18:33] jithunnair-amd commented on #55762
Hi @Wulfsta, this is a very broad issue since it relates to multiple unit test failures in PyTorch, which fall in a few different thematic buckets. Having said that, the nan issues definitely look concerning. Can I first understand if you have a constraint on which ROCm version you can use and also whether you can only use the stable wheels of PyTorch (as opposed to the nightly ones, which are clo

[2021-05-17 18:35] SciPioneer commented on #58352
This requires a **coalesced** API. Unfortunately, only `allreudce_coalesced` and `allgather_coalesced` are supported at this time.

Usually it can be inefficient to broadcast a list of tensors by calling broadcast multiple times, especially if you have relatively small tensors. Instead, you can 1) create a long 1D tensor to pack all the tensors you want to broadcast, 2) broadcast this single 1D te

[2021-05-17 18:41] stas00 commented on #55740
I confirm that `pytorch-1.8.1` doesn't have this fix included. And getting the same problem.

[2021-05-17 18:48] Wulfsta commented on #55762
My only constraint on the ROCm version has been that I have a Radeon VII, which has been disabled prior to kernel 5.13 due to some bug (as I understand it). To more appropriately answer your question, last night I updated to Ubuntu 21.04 and installed kernel 5.13rc1, and have a working ROCm 4.2 version as far as I can tell. I then cloned PyTorch from the ROCm fork and built from source and am stil

[2021-05-17 18:53] lukasfolle commented on #58395
Sounds like a good plan!

[2021-05-17 19:00] SciPioneer commented on #58371
I saw 2 error messages

1) "/usr/lib/bin/nvcc: not found"
You may need to add `/usr/local/cuda/bin` to your PATH variable.

2) "subprocess.CalledProcessError: Command '['ninja', '-v']' returned non-zero exit status 1".
Probably you can try a few solutions online:
https://github.com/dingjiansw101/AerialDetection/issues/45
https://github.com/nv-tlabs/GSCNN/issues/15

[2021-05-17 19:00] malfet commented on #58381
Can reproduce it locally using latest nightly:
[code]

[2021-05-17 19:21] BowenBao commented on #36478
tensor list as model input is currently not supported for ONNX export. Workarounds could be to
1. use concatenated tensor as input instead, if tensor shapes are compatible for concat.
2. send in tuple of tensors or flattened tensors as input if number of element in list is fixed.

Could you share which model is affected by this?

[2021-05-17 19:26] BowenBao commented on #58368
hi @Bahaabrougui, if statements needs to be scripted in order to be captured in the exported model. Checkout https://pytorch.org/docs/stable/onnx.html#tracing-vs-scripting for details.

[2021-05-17 19:31] malfet commented on #58381
Hmm, replacing `==` with `torch.allclose` fixes the issue (and difference if default codepath between computed distribution and the actual value is 1e-16 )

[2021-05-17 19:53] BowenBao commented on #58367
Thanks @david-macleod for reporting. I believe this has been resolved by #53307 and others with improved shape inference. Could you verify with PyTorch master/nightly?

[2021-05-17 20:02] shubhambhokare1 commented on #29551
@echan00 The difference in error statements for versions 1.3+ is due to the fact that dictionary support was added in 1.3

The support for NoneType arguments was added in #45792

[2021-05-17 20:13] #38549 closed

[2021-05-17 20:14] ansley commented on #58298
Sure! I'd love to help troubleshoot. What is your specific use case? Why do you need to create a new objet that you can't register in `__init__`?

[2021-05-17 20:17] #58381 closed

[2021-05-17 20:36] naveenkumarmarri opened #58431 "Distributed multi node training stuck in init_process_group"
## 🐛 Bug

## To Reproduce

[code]

following is the command to launch distributed training on multiple nodes. Node1 and Node2 are in same network and `--dist_url` is the IP of node1

Master node (Node 1):
[code]

Node 2:
[code]

Trace with `NCCL_DEBUG` flag enabled `export NCCL_DEBUG=INFO`
[code]
## Expected behavior

## Environment

 - PyTorch Version: 1.7.1+cu110
 - OS (e.g., Linux): Debian 9
 -

[2021-05-17 20:49] #57679 closed

[2021-05-17 20:58] rgommers commented on #58370
Thanks for the report @mcstarioni. The current annotation for `__lt__` is present under `_TensorBase` in `torch/_C/__init__.pyi.in`, and seems right:
[code]
So I'm not sure what is going on here exactly. Could you add a code example and a screenshot of what PyCharm is showing for it?

[2021-05-17 21:04] jeffdaily commented on #58374
Which AMD GPU are you trying to run on?  Why is your collect_env.py not reporting HIP or MIOpen versions?  Are you attempting to run the example using the gpu device `python main.py --cuda`  (this is also how you run on AMD gpus for ROCm builds).  Or are you running the example using a torch+rocm build, but intend to run on CPU only and this is what you're reporting as failing?

[2021-05-17 21:13] zhaojuanmao commented on #30676
has not been reported in the past 2 years, also TCP store allows dynamic port allocation now and this issue should not happen any more, closing it.

[2021-05-17 21:13] #30676 closed

[2021-05-17 21:29] jbschlosser commented on #58375
Thanks for the request! As you mentioned, this activation function is quite popular and I agree we should support it in PyTorch.

* [TensorFlow](https://www.tensorflow.org/addons/api_docs/python/tfa/activations/mish) has it
* [Papers with Code](https://paperswithcode.com/method/mish) lists several popular papers that use it
* The official [GitHub repo](https://github.com/digantamisra98/Mish) imple

[2021-05-17 21:34] Nyohohoho opened #58434 "The computation results on RTX 3090 are totally different from others"
I have once reported the speed problem of RTX 3090 in #54408
Thanks for everyone who gave me advices and reported the similar problem.

I am using the function which converts euler angles to rotation matrix (similar to [link](https://github.com/JiawangBian/SC-SfMLearner-Release/blob/master/inverse_warp.py#L77)).

I compared the computation results from the following settings:

- RTX 3090 + PyTorch

[2021-05-17 21:36] ailzhang commented on #55477
This is already fixed by https://github.com/pytorch/pytorch/pull/55835, closing.

[2021-05-17 21:36] #55477 closed

[2021-05-17 22:07] jithunnair-amd commented on #55762
That's a helpful datapoint from ROCm4.2. If you could please provide us the commit of PyTorch that you're building (and running unit tests) with, along with the full log file, I can request the relevant folks to look into the failures.

[2021-05-17 22:16] ChristopherKing42 commented on #58374
Ah, okay I think the issue is on my or `RocM`s end. When I run with `python3 main.py --cuda` it gives the following error: ```
Traceback (most recent call last):
  File "main.py", line 92, in <module>
    train_data = batchify(corpus.train, args.batch_size)
  File "main.py", line 89, in batchify
    return data.to(device)
  File "/home/christopher/.local/lib/python3.8/site-packages/torch/cuda/__in

[2021-05-17 22:17] spandantiwari commented on #35853
Closing now. Please reopen if the issue persists.

[2021-05-17 22:17] #35853 closed

[2021-05-17 22:18] spandantiwari commented on #29551
Closing now. Please reopen if the issue persists.

[2021-05-17 22:18] #29551 closed

[2021-05-17 22:18] spandantiwari commented on #13040
Closing now. Please reopen if the issue persists.

[2021-05-17 22:18] #13040 closed

[2021-05-17 23:25] naveenkumarmarri commented on #58431
Closing the issue.
Looks like the issue is with instance connectivity.

[2021-05-17 23:25] #58431 closed

[2021-05-17 23:34] HDCharles commented on #56108
fixed per: https://github.com/pytorch/pytorch/pull/56154

[2021-05-17 23:34] #56108 closed

[2021-05-17 23:44] pritamdamania87 opened #58440 "TSAN issues in libkineto"
## 🐛 Bug

TSAN complains about a data race in libkineto:

[code]

## To Reproduce

Run `test_rpc_profiling_async_function` in TSAN mode.

cc @ilia-cher @gdankel @ngimel @nbcsm @guotuofeng @guyang3532 @gaoteng-git

[2021-05-17 23:59] pritamdamania87 opened #58442 "TSAN issues in autograd"
## 🐛 Bug

TSAN complains with the following stack trace:

[code]
## To Reproduce

Run `test_backward_ddp_inside` with `@mode/dev-tsan`

[2021-05-18 00:00] EricCousineau-TRI commented on #56747
Howdy! My coworker (@kunimatsu-tri) and I also ran into this issue, we're just using the `pip` build (`torch-1.8.0+cu111` + `torch-1.8.1+cu111`, CPython 3.6, 64-bit Linux).

Any chance this is an upstream CUDA issue? (e.g. static linking issue not specific to PyTorch?)

[2021-05-18 00:19] HDCharles commented on #58130
As I understand, the scale and zero point are changing over time. Try the following:

[code]

I get

```tensor([0.7744, 0.7989], device='cuda:0', grad_fn=<DivBackward0>)```

[2021-05-18 00:21] pritamdamania87 opened #58446 "TSAN issues in jit:ProfilingRecord"
## 🐛 Bug

[code]
## To Reproduce

Run `test_dist_optim` with @mode/dev-tsan.

cc @gmagogsfm

[2021-05-18 00:22] kunimatsu-tri commented on #56747
Just to add hardware information to the post right above, it passed on Titan RTX but failed on Titan Xp.

[2021-05-18 00:25] HDCharles commented on #42801
Closing this as it doesn't seem to be a PyTorch issue and no activity for 2 weeks.

[2021-05-18 00:25] #42801 closed

[2021-05-18 00:27] pritamdamania87 opened #58447 "TSAN issues in at::RecordFunction"
## 🐛 Bug

[code]
## To Reproduce

Run `test_async_record_function_cbs_jit_call` with @mode/dev-tsan

[2021-05-18 00:32] gmagogsfm commented on #58446
@Krovatkin This seems to be part of profiling executor implementation, could you help take a look?

[2021-05-18 00:41] pritamdamania87 opened #58448 "test_init_rpc_twice fails with assertion error"
## 🐛 Bug

[code]
## To Reproduce

Run test in buck environment.

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @jjlilley @osalpekar @jiayisuse @mrzzd @agolynski @SciPioneer @H-Huang @cbalioglu @gcramer23

[2021-05-18 01:15] #52732 closed

[2021-05-18 01:16] imaginary-person commented on #56187
Hello @peterjc123, would you be able to help with Windows builds in #56992? Thank you!

[2021-05-18 01:27] pritamdamania87 opened #58452 "Data race in RecordFunction::callbackShouldRun"
## 🐛 Bug

[code]

[2021-05-18 01:35] pritamdamania87 opened #58456 "TSAN issues in torch::jit::ProfilingRecord"
## 🐛 Bug

[code]

## To Reproduce

Run `test_stress_heavy_rpc_torchscript` with @mode/dev-tsan

[2021-05-18 02:08] soulitzer commented on #58442
Seems like its complaining that there might be a data race when two threads try to modify the has_parent field of a single Node, i.e., by including it as part of next_edges. Both writes are writing `has_parent=True` though so there shouldn't be any correctness issues here.

[2021-05-18 02:18] igo312 commented on #46974
@heitorschueroff I tried two version which are `1.6` and `1.8.1`. Both of them cause same error.

here's my error information. I think it's my model problem when I feed the second-stage input to the model though single model works fine.

[code]

my model sciprt shows below. I want my two-stage model can support for multi batch. e.g. the batch size is 4 and every img output 128 proposal, so the pro

[2021-05-18 02:25] #58394 closed

[2021-05-18 03:02] mullachv commented on #52053
Hi @penguinwu
Following is the behavior with standard `Python 3.8.5` as well, not just `TorchScript`:
[code]
[code]
[code]

And we are maintaining that the behavior in `TorchScript` needs to be made different from standard Python, if `self` is annotated. Am I right?

[2021-05-18 03:15] williamlzw opened #58460 "how to convert scriptmodel to onnx?"
how to convert scriptmodel to onnx?
D:\Python\Python37\lib\site-packages\torch\onnx\utils.py:348: UserWarning: Model has no forward function
  warnings.warn("Model has no forward function")
Exception occurred when processing textline: 1

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof @SplitInfinity

[2021-05-18 03:29] ashkan-leo commented on #2138
@mlizhardy I tried `torch.set_default_dtype(torch.float64)` and it solved it! Thank you so much!

`torch.set_default_dtype(torch.float32)` doesn't work though. I was thinking by setting the default dtype to float32, I'll force the model to use flaot32 data type. However, it still raises an exception.

Is there a reason that the convolution requires float64? Is this because of numerical stability?

[2021-05-18 04:11] williamlzw opened #58463 "convert scriptmodel to onnx:ONNX export failed: Couldn't export operator aten::log_softmax"
ONNX export failed: Couldn't export operator aten::log_softmax
scriptmodelv1.6 ,pytorch1.8.1

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof @SplitInfinity

[2021-05-18 04:28] imaginary-person commented on #56187
Hello @ezyang, @malfet, @VitalyFedyunin, @limo1996

Please let me know if this quantization benchmark, based on [one written by](https://github.com/pytorch/pytorch/pull/25202#issue-311119969) @jamesr66a, seems okay:
https://gist.github.com/imaginary-person/111e9ece31a4c754bde3c41936cae496.
The results are also at this link.

On a dual-socket Intel Xeon 6142,  `quint` & `qint8` addition on AVX512 w

[2021-05-18 04:55] Ir1d commented on #46974
@heitorschueroff I forgot the exact version. In my case I believe it was related to CUDA version (> 10.0). When I downgrade the cuda version to 9.2 and use pytorch 1.7.1, everything was fine.

[2021-05-18 05:02] stepelu opened #58466 "`set_per_process_memory_fraction()` does not ensure max used GPU memory below fraction"
## Issue

`torch.cuda.set_per_process_memory_fraction(fraction)` doesn't result in a maximum used GPU memory at process level bounded by the indicated fraction (between 0 and 1).
For example, form nvidia-smi I know that the total available memory on a given GPU is GPU  10989 MB.
However, having called `torch.cuda.set_per_process_memory_fraction(fraction)`, I can observe in nvidia-smi a training in

[2021-05-18 05:35] SciPioneer opened #58467 "test_ddp_hook_parity_powerSGD fails on Gloo and MPI backends"
## 🐛 Bug

DDP communication hook should be supported on Gloo and MPI backends after #42048 is resolved. However, `test_ddp_hook_parity_powerSGD` still fails on Gloo backend.

## To Reproduce

1. Remove the following decorator in `test_ddp_hook_parity_powerSGD` of `distributed_test.py`:
[code]

2. Run the following command on a devgpu:
`buck test @mode/dev-nosan caffe2/test/distributed:distributed_

[2021-05-18 05:55] pmeier commented on #58397
@seemethere is right, one needs the `--pre` flag to install the nightlies. Internally, `pip` [picks up on the `dev` specifier](https://github.com/pypa/pip/blob/c53d88c4c374523425f4db6bef949090764465c0/src/pip/_vendor/packaging/version.py#L308) in the version which in turn is than treated as [pre-release](https://github.com/pypa/pip/blob/c53d88c4c374523425f4db6bef949090764465c0/src/pip/_vendor/pack

[2021-05-18 05:55] #58397 closed

[2021-05-18 06:36] zeakey commented on #58130
@HDCharles the scale and zero-point are a problem.
By disabling the observer,
[code]
I got `tensor([0.9988, 0.9988], device='cuda:0', grad_fn=<DivBackward0>)`.

[2021-05-18 06:39] #58130 closed

[2021-05-18 07:04] xkszltl commented on #57273
If both fork from dataloader and this warning is normal behavior, I would say possible suppression options other than a complete removal are:
- Suppress directly from user side, e.g. inside dataloader.
- Use IPC-capable counter for that "ONCE", e.g. with mmap

[2021-05-18 07:06] xkszltl commented on #58054
Given they're different functions (named the same but old one is in `google::glog_internal_namespace_` and the new one is in `google` directly), I don't know how to automatically route to the correct one.
Any ideas?

[2021-05-18 07:12] kshitij12345 opened #58469 "[testing] `floating_types_and_half` and `all_types_and_half` not exported to public interface"
Not present in the list below
https://github.com/pytorch/pytorch/blob/df44f015fe1403f0fea54b46736c07550bb85870/torch/testing/_core.py#L14-L37

Was this intended?

cc: @mruberry @pmeier

[2021-05-18 07:20] pmeier commented on #58469
@kshitij12345 I only included names there that were actually used somewhere in our test suite. If `floating_types_and_half` and `all_types_and_half` are not in there, it just means you are the first one to use them :wink: You can simply add them to the list.

[2021-05-18 07:20] yoyo001 opened #58470 "include NCCL 2.9.8 on pytorch 1.9"
## 🚀 Feature

please include NCCL 2.9.8 with latest pytorch

## Motivation

NCCL 2.9.6 has a regression on topology file,  old topology format is not recognized

## Pitch

•	Python version  3.8
•	Pytorch version 1.9 with NCCL 2.9.8
•	Cuda version  11.3
•	OpenMPI 4.1
•	Os and OS version  Ubuntu 18.04/20.04

## Alternatives

N/A

## Additional context

N/A

cc @ezyang @seemethere @malfet @walterddr

[2021-05-18 07:47] #58469 closed

[2021-05-18 08:04] rafi-cohen commented on #57273
I personally believe that if this is normal behaviour, then this warning should be removed.
This is a very basic use case in PyTorch, which, in my opinion, shouldn't trigger a warning unless something is wrong.

Also, I don't really understand the point of the warning. The Caffe2 thread-pool was leaked. Do I need to do anything about that? Should I even care?

[2021-05-18 08:18] ADulian commented on #58392
@heitorschueroff thanks for getting back to me!

If I execute the following
`self.model.eval(), out = self.model(data)`

then out will contain NaN values, the tensor is not randomly filled with just some NaNs but rather all values within it are NaNs. However, if instead I do

`self.model.train(), out = self.model(data)`

then the `out` tensor outputs expected values (for the same data sample).

Du

[2021-05-18 08:29] lmzhhh opened #58471 "Why the same training code running on different GPUs (V100 vs P100) brings a significiant difference in outputs and thus train loss / model accuracy?"
## ❓ Questions and Help

## Why running the same training code on different GPUs (V100 vs P100) brings a significiant difference in outputs ($outputs=model(inputs)$) and thus different train loss / model accuracy?

I run a resnet50 model on cifar10 dataset for only one mini-batch and print out the parameters, inputs, and outputs.

I use the script below for running on a single-GPU. And execute thi

[2021-05-18 08:53] KickItLikeShika commented on #58352
Thanks for the reply @SciPioneer!

Yes we can do this,  but  we will need to handle tuples/lists/mapping of tensors, I don't know if we can handle all of this with a hack like packing/unpacking. And regarding the code example we had this issue for months in Ignite https://github.com/pytorch/ignite/issues/1757
check the tests in this PR for an example https://github.com/pytorch/ignite/pull/1758/fil

[2021-05-18 09:10] NoRealLogin opened #58472 "RuntimeError: Exporting the operator linspace to ONNX opset version 11 is not supported."
## 🐛 Bug

RuntimeError: Exporting the operator linspace to ONNX opset version 11 is not supported. Please open a bug to request ONNX export support for the missing operator.

## To Reproduce

Steps to reproduce the behavior:

Try to export the Pytorch model from :
https://github.com/TRI-ML/KP2D
to an ONNX model.

[code]

## Expected behavior

Want `torch.onnx.export(keypoint_net,(dummy_input, ),'m

[2021-05-18 09:39] CHIMRLINUX opened #58473 "VMWARE QUESTION?"
## ❓ Questions and Help

Hello

Just wondering is it possible to Run Pytorch on vmware and what steps are required to do this.

how do you getting working correctly and running smoothly?

I have a tesla t4 GPU.

thanks a mill

Ciaran
- [Discussion Forum](https://discuss.pytorch.org/)

[2021-05-18 09:57] Bahaabrougui commented on #58368
@BrowenBao thank you for you reply, I'll try it out.

[2021-05-18 09:59] ZacharyGong opened #58474 "nn.Upsample result mismatch in 1.1.0a0+828a6a3 and 1.9.0"
## 🐛 Bug

I was using PyTorch 1.1.0a0+828a6a3 for some network training. Found that results of the bicubic model in nn.Upsample are different in 1.1.0a0+828a6a3 and 1.9.0

## To Reproduce

I just ran the demo in PyTorch doc:

In PyTorch 1.1.0a0+828a6a3:
[code]

In PyTorch 1.9.0:

tensor([[[[1., 2.],
          [3., 4.]]]])

/opt/conda/lib/python3.8/site-packages/torch/nn/functional.py:3451: UserWar

[2021-05-18 10:19] david-macleod commented on #58367
Hi @BowenBao, thanks for the quick reply, I can confirm the latest nightly fixes this issue! However it seems to introduce a new issue which is not present in 1.8.1, namely

[code]
This error is reproducible using an example lifted straight from the official documentation so it does appear to a regression. Is this a known issue in progress or should I raise a new issue?
[code]

[2021-05-18 10:24] Ankur-singh opened #58475 "OpInfo: `maximum` & `minimum`"
Reference: #54261

[2021-05-18 10:28] #58475 closed

[2021-05-18 11:04] Turakar commented on #56721
pytorch/builder#728 seems to be merged, but this is issue is not updated. Could you give a quick update on the status of CUDA 11.3 support?

[2021-05-18 11:27] InfiniteLife commented on #58227
Same problem with 1.8.1 build(Forward pass on GPU works)

[2021-05-18 12:50] eduardohenriquearnold commented on #45198
I have observed an unrelated bug, which I think has the same root cause. I will describe it here in the chance someone faces something similar.

In summary, I'm facing a memory leak when using a DataLoader with num_workers>0. The issue arises from an Open3D  operation to compute point cloud normals within the Dataset class.

After a whole day debugging, I found that this only happened when I impor

[2021-05-18 12:58] vadimkantorov commented on #45198
I wonder if PyTorch could detect that GNU OpenMP is loaded and print a warning

[2021-05-18 13:12] mcstarioni commented on #58370
@rgommers
I have
Pytorch version: '1.8.1'
Pycharm version: PyCharm 2020.3.4 (Professional Edition) Build #PY-203.7717.65, built on March 16, 2021
Here is the code:
[code]
and screenshot:
![image](https://user-images.githubusercontent.com/16031560/118649014-b235cd00-b7eb-11eb-8d4e-d3b16d1d6706.png)
Also i've checked this functionality in other Pytorch versions [with conda windows versions from here

[2021-05-18 13:19] heitorschueroff commented on #46974
Reopening this issue due to user activity.

[2021-05-18 13:27] volcacius commented on #56862
My take on the issue: https://github.com/Xilinx/brevitas/blob/fx/src/brevitas/fx/value_tracer.py

[code]

I get as output (on 1.8.1):

[code]

I'm reinterpreting the way concrete_args are used but it could also be a separate set of args.

[2021-05-18 13:41] mcstarioni commented on #58370
Also i have tried to acces the declaration of `__lt__` directly from tensor and in working versions it refers to these lines, but in 1.8 they are absent. Perhaps in conjunction with inability of Pycharm to reference the `_TensorBase` this results into bad typing.
![image](https://user-images.githubusercontent.com/16031560/118658193-d4801880-b7f4-11eb-9f62-6f4d34e76663.png)

[2021-05-18 13:52] efengler commented on #58298
My use case is that I'm compiling OFA net. I'm generating hundreds of subnets and measuring the performance. The method which returns subnet based on a configuration (it is not `forward` - I used `forward` here to simplify the example) returns new subnet object initiated with new layers with a subset of weights or different operations.

Converting each subnet separately would just take too much ti

[2021-05-18 14:20] albanD opened #58479 "Make SavedVariables aware of pyobjects"
Currently SavedVariable's goal is to avoid a reference cycle in c++ when a Tensor is saved by a Node and is an output of this Node as well.
In particular, the cycle is `Tensor.autograd_meta.grad_fn_` that points to the Node and the Node will point back to the Tensor (usually via a custom field in a subclass for Node that are codegened).

While such cycle are unrecoverable from the c++ side, python

[2021-05-18 14:24] ezyang opened #58480 "[structured] Raise error when CompositeExplicitAutograd is redundantly specified on structured_delegate"
Happened in https://github.com/pytorch/pytorch/pull/58197

[2021-05-18 14:29] ezyang commented on #58480
dupe of https://github.com/pytorch/pytorch/issues/57502

[2021-05-18 14:29] #58480 closed

[2021-05-18 14:34] ezyang commented on #55070
yes, we need to add support for all of them. optional scalar should be easy, list of tensor will be a little harder but not a huge problem

[2021-05-18 14:50] liubamboo commented on #53472
I have the same problem. Have you solve it?

[2021-05-18 14:58] ezyang commented on #58442
Yeah, just make it acquire-release atomic and you should be chivvy

[2021-05-18 15:00] ezyang commented on #56187
The benchmark looks reasonable to me, but @jamesr66a would know best!

[2021-05-18 15:02] lokinfey commented on #47702
any news about that ? Will  WWDC 21   give us surprise ?

[2021-05-18 15:11] AndreiRoibu commented on #27588
Hi all - I started experiencing this issue recently on a new set of A100 GPUs. I am using the following configuration:

NVIDIA A100 GPU
torch == 1.4.0
Python == 3.7.4-GCCcore-8.3.0
CUDA == 10.1.243-GCC-8.3.0
cudnn == 7.6.5.32-10.1

I have used the same configuration on other GPUs, such as K80, P100, V100 and RTX8000, and never had the error. Anybody found a solution to this issue?

[2021-05-18 15:17] pmeier commented on #58383
This also applies to `assert_close` when used with integers. If we make `assert_equal` a special case of `assert_close`, we need a replacement for

https://github.com/pytorch/pytorch/blob/821a97595b3b0f8b1777cdd90a639078249c1846/torch/testing/_asserts.py#L407-L410

since `_check_values_equal` would also be removed. Without the proposed change an error message for a failing integer comparison

[cod

[2021-05-18 15:42] ezyang commented on #58442
Actually I am not so sure anymore. Heading over to the PR.

[2021-05-18 15:44] ezyang commented on #58442
Wait the PR is different than the field being complained about here

[2021-05-18 15:56] janeyx99 commented on #56721
Yes, I've updated the above according to their completion--currently, we're working on debugging some of the binaries.

[2021-05-18 16:14] rohan-varma commented on #58352
Would `torch.distributed.broadcast_object_list` work for your use case: https://pytorch.org/docs/stable/distributed.html?highlight=broadcast_object_list#torch.distributed.broadcast_object_list? It allows you to pass in a list with any picklable python type, including tensors.

[2021-05-18 16:14] suo commented on #57639
Alright finally got around to looking at this. After some digging, it seems that the tracer just doesn't support attribute assignment in the graph. We do `getattr` by means of gathering up parameters/buffers and stashing their pointers so that if we ever use them as inputs to another op, we know to insert a `prim::GetAttr` call. The same approach doesn't work for detecting `setattr`.

So as of rig

[2021-05-18 16:16] agolynski commented on #58467
@SciPioneer  Seems like it means that we are giving trivial work to allreduce (nothing to reduce)? If so, it also happens for other backends, it's just we never caught it (gloo does the explicit check).

[2021-05-18 16:18] pmeier opened #58489 "Type promotion is broken for binary ops with uint8"
## 🐛 Bug

Type promotion is broken for binary ops with uint8 in some edge cases.

## To Reproduce

[code]

[code]

- There is nothing special about `torch.add`. The same happens for `torch.mul`. I haven't checked more operators.
- This only happens if the `uint8` tensor **is not scalar** and the other tensor **is scalar**.

## Expected behavior

Behavior should follow `torch.promote_types()`.

##

[2021-05-18 16:20] jbschlosser commented on #702
Closing this because it is possible to specify a custom value to use for the vector at `padding_idx`. An example of doing so is in the [Embedding docs](https://pytorch.org/docs/stable/generated/torch.nn.Embedding.html).

[2021-05-18 16:20] #702 closed

[2021-05-18 16:22] SciPioneer commented on #58467
Comm hook does not seem to work on MPI backend either. Actually #58444 that I submitted yesterday got reverted, because all the comm hook tests on MPI backend failed on CI:
https://app.circleci.com/pipelines/github/pytorch/pytorch/323731/workflows/784f6e8d-2137-4142-b2ba-5158ae47bb3b/jobs/13540765

[2021-05-18 16:44] agolynski commented on #58467
Right now we don't have any CUDA aware tests for MPI and proper setup for such tests (e.g. see https://github.com/pytorch/pytorch/issues/57547), we can test MPI with CPU model as was done for test_accumulate_gradients_no_sync*

[2021-05-18 16:55] AndreiRoibu commented on #27588
I think I actually fixed my own issue. I posted the answer here- https://discuss.pytorch.org/t/nvidia-a100-gpu-runtimeerror-cudnn-error-cudnn-status-mapping-error/121648

[2021-05-18 16:56] nikithamalgifb commented on #57639
cc: @xw285cornell

[2021-05-18 16:58] jamesr66a commented on #56187
Looks good to me! Pretty exciting that AVX512 can make the quantized stuff faster

[2021-05-18 17:31] agolynski commented on #58467
2 action items here:
1) add testing for MPI via CPU model
2) discuss whether we should fail on empty inputs (current GLOO) or give warning or do silent noop (NCCL)

[2021-05-18 17:33] jbschlosser commented on #19525
Fixed in #17300.

[2021-05-18 17:33] #19525 closed

[2021-05-18 17:49] jbschlosser commented on #25092
Was this addressed by https://github.com/pytorch/pytorch/pull/57784? @Lezcano @albanD @soulitzer

[2021-05-18 17:58] pritamdamania87 commented on #58442
@ezyang This is a different issue and the PR: https://github.com/pytorch/pytorch/pull/58449 is solving a separate TSAN issue.

[2021-05-18 17:59] #58387 closed

[2021-05-18 18:00] jbschlosser commented on #26714
Closing as I cannot reproduce this on master.

[2021-05-18 18:00] #26714 closed

[2021-05-18 18:03] jbschlosser commented on #28716
Closing since this is no longer reproducible.

[2021-05-18 18:03] #28716 closed

[2021-05-18 18:12] BowenBao commented on #58367
hi @david-macleod, glad to hear it works. For `__is_` , feel free to create a new issue. I have run your script above but I could not repro the issue. Did you forget to script the model above?
And a separate note for scripting, it is under progress to support optional input like `y=None`.

[2021-05-18 18:13] gloryVine commented on #58371
@SciPioneer I'm completely confused now. I already have `/usr/local/cuda-11.3/bin` in my path. It's correct that `/usr/lib/bin/nvcc` did not exist, but when I manually created a symlink from there to `/usr/local/cuda-11.3/bin/nvcc` I started getting the following build error: `-- Could NOT find CUDA (missing: CUDA_INCLUDE_DIRS CUDA_CUDART_LIBRARY) (found version "11.3")` which I now can't get rid

[2021-05-18 18:23] raghuramank100 commented on #58055
cc @kimishpatel

[2021-05-18 18:33] soulitzer commented on #25092
No, but I think it should be pretty easy to do now. We'd just need to implement a `.reset_parameters` function that resets the buffers `u` and `v`.

[2021-05-18 18:41] raghuramank100 commented on #57885
Cuda 11.3 is not yet supported with pytorch yet.

[2021-05-18 18:42] david-macleod commented on #58367
ok great thanks

[2021-05-18 18:42] #58367 closed

[2021-05-18 18:47] kimishpatel commented on #58055
Trouble here is that you have one model that is being run on different threads. So each thread is doing its own inference using the same underlying model. This usecase has its own trouble at the moment and it can rightfully run into race condition. Your hypothesis is pretty much on the spot, most likely.

Is your usease what I described? That is you have one model and you are doing inference on di

[2021-05-18 19:44] HDCharles commented on #58130
To clarify a bit further,

there is no guarantee between CUDA and CPU bitwise equivalence, though they should be extremely close.

The above code does have a separate issue in that the batchnorms are still updating. You can get around this with copy.deepcopy

[code]

The result of which is:

[code]

[2021-05-18 19:45] alexholehouse commented on #44282
I'm really surprised this is not a more common issue.

It's a huge problem for us - if we install everything (numpy, scipy etc) using pip, PyTorch works it works, but simply running:

[code]
This breaks what was once working code.

In Python 3.7.6 conda and pip-derived libraries could apparently co-exist (so this didn't emerge as an issue until recently), but as best as I can tell north of 3.7.6 t

[2021-05-18 19:54] albanD opened #58500 "Avoid un-necessary unwrapping of Tensor in SavedVariable"
SavedVariable is current doing unwrapping as:
- For leaf, save a weak pointer to its grad-accumulator
- If the Tensor is an output of the function, save a weak pointer to its grad_fn
- If the Tensor is none of the above, save a strong pointer to its grad_fn

On top of that, it also unpacks the version counter, forward gradients, requires grad field and a `.data` of the Tensor itself.
This allows t

[2021-05-18 19:59] SciPioneer commented on #58352
Agree with @rohan-varma  It seems that `broadcast_object_list` is the way to go in your case.

[2021-05-18 20:09] garymm commented on #28423
I believe this is fixed by https://github.com/pytorch/pytorch/pull/57564, at least for some cases (including the example given).

The commit is currently only on branch onnx_ms_1, but it should be merged into master before the 1.9 release

Could you please try it out and close this issue if it's fixed?

[2021-05-18 20:15] SciPioneer commented on #58467
A bit more context on PowerSGD part. This gradient compression algorithm divides a list of tensors into two groups, one group contains only high-dimensional tensors to compress, and the other contains only 1D tensors to skip compression. Each group of tensors needs to run allreduce and returns a future after batching the tensors. These two futures will need to be chained together.

The tricky part

[2021-05-18 20:23] z-a-f commented on #40315
If there are names that are not conforming -- please, go ahead

[2021-05-18 20:27] Krovatkin commented on #58446
@gmagogsfm  thanks for moving it to our queue!

[2021-05-18 20:45] garymm commented on #13834
I believe this was effectively done by #41548
If so, please close this.

[2021-05-18 21:17] heitorschueroff opened #58507 "OpInfo JIT tests do not work with Tensor kwarg arguments"
Remove the skip here https://github.com/pytorch/pytorch/blob/911952220ddfd8330532e516499959c1a77c613a/torch/testing/_internal/common_methods_invocations.py#L4301 to trigger the error below.

[code]

[2021-05-18 21:20] C-Underkoffler opened #58508 "RuntimeError: mkldnn_linear_backward: weight needs to be a dense tensor"
## 🐛 Bug

Cannot call loss.backward() for simple binary classification net with sigmoid when using MKLDNN utilities.

Am I not understanding the poper way to put the model weights back into a dense memory format? I thought given the [__getstate__ of each MKLDNN function ](https://github.com/pytorch/pytorch/blob/master/torch/utils/mkldnn.py) the weights would be returned as weights.to_dense() alrea

[2021-05-18 21:31] albanD opened #58509 "custom Function intermediary results are dangerous for double backward"
When using custom autograd.Function, it is easy to save an intermediary result in the context like `ctx.foo` and then use it during the backward pass.
Unfortunately, if that value is actually linked to the input/output gradient computation, the double backward computation will be wrong because the contribution of `ctx.foo` will be ignored.

We can reduce this risk by intercepting all Tensors that

[2021-05-18 22:04] rohan-varma opened #58511 "torch.autograd.Function unexpectedly modifies gradients for unused parameters"
Not sure if this is a bug or expected behavior, but opening the issue for discussion/clarification. In the following repro, `b` is not used for loss computation and therefore I'd expect the gradient for the linear layer `self.b` to stay as `None`, however, the gradient is `0`:

[code]

This produces the output:
[code]

It looks like since `out[1]` is not used in computing loss, the `torch.autograd

[2021-05-18 22:05] albanD opened #58512 "Add hooks to SavedVariables"
The goal of this tasks is to provide a convenient hook system for SavedVariables.

The hooks will be a pair of python functions:
- One that goes from the current Tensor to any python object
- A second that will be able to transform that python back into the original Tensor

These operations don't need to be differentiable and any gradient information on the returned Tensor will be overwritten to h

[2021-05-18 22:47] KickItLikeShika commented on #58352
It have tried it and it still failing, I think I have to go deeper and see what's the issue and consider trying `broadcast_object_list`, Thank you guys!

[2021-05-18 22:55] IgnacioJPickering opened #58515 "JIT fails for some types of attributes in the latest nightly"
## 🐛 Bug

When setting attributes in a module, if the attribute set is a python class with a dict that has strings as keys
JIT will fail, but if the main class has a dict with strings JIT works fine.
This is an issue only with the nightly.

## To Reproduce

[code]
This produces the output:

[code]

## Expected behavior

No error

## Environment

[code]
## Additional context

As a workaround in my

[2021-05-18 22:58] robieta opened #58516 "Unhelpful error message when type annotation is violated."
## 🐛 Bug

When a NamedTuple is passed to a ScriptModule and the input is incorrectly typed, the error message is very difficult to interpret. (And actually leads on in the wrong direction.)

Note for internal devs: Q197088 is the original customer issue.

## To Reproduce

Steps to reproduce the behavior:

[code]

[code]

## Expected behavior

The error should indicate that the schema was violated,

[2021-05-18 23:05] vkuzo commented on #57352
marking as high priority, the current behavior is not intuitive.  We should be able to either serialize qconfig directly or provide guidelines for an official workaround.

[2021-05-18 23:22] rohan-varma commented on #58511
Support for this actually exists with https://pytorch.org/docs/stable/autograd.html#torch.autograd.function._ContextMethodMixin.set_materialize_grads, closing.

[2021-05-18 23:22] #58511 closed

[2021-05-19 00:14] driazati opened #58518 "[v1.9.0] Release Tracker"
We cut a [release branch](https://github.com/pytorch/pytorch/tree/release/1.9) for the 1.9.0 release.

Our plan from this point from this point is roughly:

* Phase 1 (until 6/1): work on finalizing the release branch
* Phase 2 (after 6/1): perform extended integration/stability/performance testing based on Release Candidate builds.

This issue is for tracking cherry-picks to the release branch.

[2021-05-19 00:23] cpuhrsch opened #58520 "sparse_csr_tensor input sanitization"
## 🐛 Bug

If given a regular Python list the constructor segfaults. This is minor, but annoying to debug.

## To Reproduce

[code]
## Expected behavior

TypeError that flags a wrong type was passed.

[2021-05-19 00:44] rohan-varma opened #58522 "DDP grads dont have parity with local training when grads are undefined"
## 🐛 Bug
The following test fails for DDP:

[code]

The main reason is that if an autograd hook fires in the reducer, we will consider that param as having a grad and allreduce it. If the grad is not defined, we zero the part of the corresponding bucket and proceed, so we end up writing zero to the grad field.

Historically, the main use case of `find_unused_parameters=True` has been how we get un

[2021-05-19 00:55] 0wu commented on #13834
LGTM

[2021-05-19 00:55] #13834 closed

[2021-05-19 02:35] zeakey commented on #58130
@HDCharles thx for clarifying. things seem to be clear now.

[2021-05-19 02:53] japrogramer opened #58528 "module 'torch' has no attribute 'version' on miniforge conda"
## 🐛 Bug
[code]

[code]

cc @ezyang @seemethere @malfet @walterddr

[2021-05-19 03:05] tommy19970714 opened #58529 "NVRTCError: NVRTC_ERROR_COMPILATION with `cupy.cuda.compile_with_cache`"
## 🐛 Bug

I got the following error when I compile the model with `cupy.cuda.compile_with_cache` to jit.

[code]

## To Reproduce

This is a colab to reproduce the error.
https://colab.research.google.com/drive/1WDRCN6wPIAsl5tBFKfne0ABN49estM9P?usp=sharing

This is a minimum code.

[code]

## Expected behavior

I think the above error occurs when I use cupy.cuda.compile_with_cache.

## Environment

[2021-05-19 03:54] ramdhan1989 opened #58530 "How to remove layer use parent name"
Hi, I am a new user of pytorch. I try to load trained model and want to remove the last layer named 'fc'

[code]
print out :
[code]

is there any simple way to remove the last layer ('fc') ?

thanks

[2021-05-19 03:59] ailzhang commented on #56794
Found another callsite that need to be fixed: https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/TensorIteratorReduce.cpp#L54-L63 (copy_ are done on tensor level)
(ps. this one was found by running demucs model in pytorch/benchmark.)

[2021-05-19 04:09] MiladInk commented on #5301
I am getting the same error. setting num_workers=0 works but it is making the training slower. I am also experiencing this in a jupyter notebook. Is there any other solution?

[2021-05-19 04:38] xmlyqing00 commented on #54975
I had similar problems. They appear randomly when I train a model. My Cuda version is
`Cuda compilation tools, release 11.3, V11.3.58
Build cuda_11.3.r11.3/compiler.29745058_0`

`print(torch.backends.cudnn.version())` outputs `8005`
My torch version is 1.8.0+cu111 (I downgraded from 1.8.1 to 1.8.0 because I have the same issue on 1.8.1).  My torchvision version is 0.9.0+cu111

[2021-05-19 05:17] luvwinnie opened #58532 "OCR CNN with RNN model can't torch.jit.script with dynamic batch size inputs?"
## ❓ Questions and Help
I'm creating a Pytorch OCR model with a Resnet based feature extractor with both ctc classifier and attention based classifer outputs.
It includes a BiLSTM layer that input from the resnet so I can recognize the text image. I'm trying to use the torchserve which the model need to be torch.jit.trace or torch.jit.script. I'm able to use the torch.jit.trace to create a traced

[2021-05-19 05:19] mszhanyi commented on #51344
If we have to run Pytorch Dataloader with multi-workers on Windows Notebook. One workaround is start Jupyter server in windows WSL and start browser to connect it.
I wrote a tool (https://github.com/mszhanyi/gemini) to simplify the process.

[2021-05-19 05:33] malfet opened #58533 "Migrate wheels to manylinux2010"
PyTorch x86_64 wheels are still build without _GLIBCXX_USE_CXX11_ABI flag, which introduces additional level of complexity when writing an extension or integrating PyTorch binaries with modern compiler
If PyTorch build system are to be migrated on manylinux2010 (or manylinux2014) compatible compiler?

[2021-05-19 05:34] malfet commented on #58533
This would also allow one to reuse same binaries for both PyTorch wheels as well as libtorch binaries

[2021-05-19 05:40] malfet opened #58534 "MacOS Nightly Conda 3.9 builds timeout"
See here for example:
https://app.circleci.com/pipelines/github/pytorch/pytorch/323740/workflows/c13cf64a-77cd-4f32-b735-6b5014e826bf/jobs/13539544

No such problem exists for wheel builds, nor for arm64 conda build(which cross compiles M1 binaries on x86 host), even though the build is running on node with identical HW characteristics.

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @anjali41

[2021-05-19 06:03] pmeier commented on #58489
[`torch.result_type`](https://pytorch.org/docs/stable/generated/torch.result_type) is also affected.

[code]

[code]

If `torch.result_type` is used internally to determine the output dtype, all binary ops are probably affected by this.

[2021-05-19 06:25] pmeier commented on #58489
This is not special to `uint8` but happens for all integer dtypes:

[code]

[code]

[2021-05-19 06:26] muyuuuu commented on #33248
I met this problem.
[code]

when I run `loss.backword()`,  this bug has been rosed, why?

[2021-05-19 06:57] pmeier commented on #58489
[Type promotion docs](https://pytorch.org/docs/stable/tensor_attributes.html#type-promotion-doc) states three rules:

Not applicable here since we operate with 0d tensors.

Not applicable here since the behavior is only triggered within the integral category and only when the 0d-tensor has a smaller size, i.e. number of bits.

Not applicable here since float and complex are higher categories than

[2021-05-19 07:00] Randl commented on #48365
Any progress?

[2021-05-19 07:11] pmeier commented on #58489
It seems this is intended behavior after all since it is even featured in the docs for [`torch.result_type`](https://pytorch.org/docs/stable/generated/torch.result_type):

[code]

As shown in the above comments, this behavior is **not** explained by the type promotion rules. If it is intended behavior, we should update the rules. Plus, we should think about changing the behavior because it can lea

[2021-05-19 07:30] pmeier commented on #58489
This is not even special for the integral category, but happens for all inter-category type promotions:

[code]

[code]

[2021-05-19 07:40] Fitz13009 opened #58545 "torch.randperm given GPU random generator raise error"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

and will get an error:
`RuntimeError: Expected a 'cuda:0' generator device but found 'cuda'`

and even if I enforce the device to cuda, error still remains:
`idx_pts = torch.randperm(n=50, device='cuda', generator=rng)`

## Expected behavior

No error should raise, just like other random functions

## Environment
PyTorch version:

[2021-05-19 08:40] rgommers commented on #58489
The docs aren't super clear, but some of the examples show that this was designed behavior with the rule: _within a category, 0-D tensors do not participate in type promotion_.

I think that probably wasn't the optimal choice, but I don't see a bug here - just the docs need clarification. I'm afraid it'd be too disruptive to change, existing code is then going to upcast more which may break models

[2021-05-19 08:51] liubamboo commented on #46380
I try to add
`torch::jit::getProfilingMode() = false;`
before
`module_ = torch::jit::load(model_path);`

and it seem to work. I run the program 5 times and there is no memory leak now. But the inference time increases.
Before add the code `torch::jit::getProfilingMode() = false;`I run the yolov5s, and it cost 20ms
After add the code `torch::jit::getProfilingMode() = false;`I run the yolov5s, and i

[2021-05-19 09:33] pmeier commented on #58489
True, this is more of a documentation issue. I've added a note to my initial comment.

[2021-05-19 09:40] kylematoba opened #58547 "Pt. 2 RuntimeError: isDifferentiableType(variable.scalar_type()) INTERNAL ASSERT FAILED at "../torch/csrc/autograd/functions/utils.h":64, please report a bug to PyTorch."
## 🐛 Bug

`RuntimeError: isDifferentiableType(variable.scalar_type()) INTERNAL ASSERT FAILED at "../torch/csrc/autograd/functions/utils.h":64, please report a bug to PyTorch.
`

## To Reproduce

Steps to reproduce the behavior:
[code]

## Expected behavior

Not ask me to report a bug.

## Environment

[code]

## Additional context
I upgraded to 1.8.1 and [the earlier issue I raised](https://github

[2021-05-19 09:46] lytcherino opened #58548 "Pixel shuffle support for PyTorch Mobile NN-API"
This is a request to add pixel shuffle support in PyTorch Mobile NN-API, and also prioritize its implementation because of its importance for many computationally constrained mobile models.

## Motivation

Pixel shuffle is a computationally efficient up-sampling approach that provides comparatively better results compared to interpolation based up-sampling approaches that are currently supported w

[2021-05-19 10:01] ysiraichi opened #58549 "NumPy-like `from_buffer` for creating tensor without copying data."
## 🚀 Feature

Follow up from #47112
A NumPy-like `from_buffer` function for creating a tensor without copying data.

## Alternatives

Apparently, people were using `Storage.from_buffer` and passing it to the constructor instead. There are two problems with it, though:
- When the legacy constructor is deprecated, so will be the means to create a tensor from a `Storage` object.
- As far as I can tel

[2021-05-19 10:21] lytcherino opened #58550 "NNAPI - Multiple forward arguments in JAVA API"
## 🐛 Bug

An NNAPI mobile model that takes multiple arguments within the forward method provides a runtime error on android devices.

## To Reproduce

Steps to reproduce the behavior:

1. Define a simple dummy model for NN-API conversion:

[code]

2. Convert a model that takes 2 arguments in the forward pass to the NN API (based on this guide: https://pytorch.org/tutorials/prototype/nnapi_mobilene

[2021-05-19 10:39] ysiraichi commented on #54317
@zou3519 do you mean that it should be replaced by `or`, or should the implementation for `bool` be deleted?

[2021-05-19 10:54] DanielPerezJensen commented on #39779
Any updates on this thus far?

[2021-05-19 11:07] Flamefire opened #58551 "Wrong results for arange on VSX"
## 🐛 Bug

The arange function for integers returns wrong results when sub-steps are used, i..e the increase from value to value is not an integer.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

[code]

## Environment

[code]

[2021-05-19 11:08] grimoire opened #58552 "torch1.8 nn.functional.grid_sample throw RuntimeError on 'bilinear'+'zeros'+True"
## 🐛 Bug

Hi,
`torch.nn.functional.grid_sample` throw
[code]
when mode='bilinear', padding_mode='zeros' and align_corners=True on PyTorch==1.8

## To Reproduce

Steps to reproduce the behavior:

[code]

[code]

## Expected behavior

[code]

## Environment

[code]

cc @csarofeen @ptrblck @xwang233

[2021-05-19 11:39] Lezcano commented on #25092
Going through the OP, I see that now doing remove and adding `spectral_norm`  does work with the new implementation.

We could of course implement a `reset_parameters` function. Only that in this case, it'd be good if it accepted as a parameter the matrix it's being instantiated on, to be able to initialise the `u` and `v` properly.

[2021-05-19 12:10] Adnios commented on #58375
Hey. Is anyone working on this? I would like to have a try.

[2021-05-19 12:28] jtv8 commented on #26340
Having spent a frustrating morning trying to write a setup.py that specifies the CPU-only version of PyTorch, a +1 from me for `pip install torch` to install the minimal CPU-only version and for `pip install torch[cuda]` to install the CUDA GPU version. That will save many downstream consumers of the library over 1GB of bandwidth and disk space and drastically speed up installation times!

[2021-05-19 12:47] pmeier commented on #54581
In an effort to "autogenerate" the analysis of @asi1024, I'm running a nightly PyTorch build against the provided [test suite of the array API specification](https://github.com/data-apis/array-api-tests).

I'm tracking my progress on this branch: https://github.com/pmeier/array-api-tests/tree/pytorch. For a high level overview, see https://github.com/pmeier/array-api-tests/blob/pytorch/PYTORCH_REA

[2021-05-19 12:48] severinsimmler commented on #26340
We are no longer using PyTorch itself, but [ONNX](https://www.onnxruntime.ai/) in production (in the first place because of deployment problems with the big wheel). PyTorch supports [export to ONNX](https://pytorch.org/docs/stable/onnx.html) pretty well – if that is an option for inference. And the wheel for [`onnxruntime`](https://pypi.org/project/onnxruntime) is only ~4 MB.

[2021-05-19 13:24] Bonsen opened #58554 "How to install pytorch1.8.1 with cuda 11.3?"
How to install pytorch1.8.1 with cuda 11.3?

[2021-05-19 13:38] albanD commented on #58354
Hi,

Thanks for the report.
It is indeed worrying and most likely a bug in the way we iterate the hooks. We definitely want to fix that.

[2021-05-19 14:20] penguinwu commented on #52053
This fix does not change the fundamental behavior of TorchScript, where `def __init__(self: SecondClass, x:int)` would trigger an error in TorchScript. What this one fixes is the error message so that users encountering this error can take action to fix it.

Instead of the current error message of:
[code]

We suggest changing the error message to:
[code]

[2021-05-19 14:22] alexander-soare opened #58555 "fx: unable to symbolically trace model with torch.full(Proxy)"
This is very much like https://github.com/pytorch/pytorch/issues/44887. There the solution was to use `new_ones` but unfortunately in my case that won't work.

My scenario is that I'm trying to initialize the first set of embeddings for an RNN decoder like this:

[code]
Here is the full stack trace:

[code]

[2021-05-19 14:33] jbschlosser commented on #58375
@Adnios No one I'm aware of is working on this atm. Feel free to go for it!

[2021-05-19 14:44] QuanticDisaster commented on #47039
[code]

Here are my results, while the conv1d seems close to what ptrblck got, the conv2d model seems slower than some of the precedent results, should i worry about it ?

I am working with windows 10 on an anaconda virtual environnement with
pytorch                   1.8.0           py3.8_cuda11.1_cudnn8_0    pytorch
cudatoolkit               11.1.1
torch.backends.cudnn.version() = 8005

[2021-05-19 14:56] Adnios commented on #58375
Thanks for your reply. I am going to try to implement it. :)

[2021-05-19 14:59] tcapelle commented on #24139
this  please!

[2021-05-19 15:03] malfet opened #58557 "Binary builds pipeline is broken in trunk"
See:
https://app.circleci.com/pipelines/github/pytorch/pytorch/324416/workflows/8925167d-6658-49b2-a11e-1b6978af8b53/jobs/13572818

[2021-05-19 15:23] joshuacwnewton commented on #26340
The only tricky thing with this is if `torch` is used beyond just inference, e.g. data loading, pre/postprocessing transforms (`torchvision`), etc. which is true in our case. :sweat:

[2021-05-19 15:43] jiafatom commented on #58463
We support exporting aten::log_softmax, and
have a unit test `pytest test/onnx/test_pytorch_onnx_onnxruntime.py::TestONNXRuntime_opset12::test_logsoftmax_dtype` which runs successfully. Could you have a repro for this issue?

[2021-05-19 15:44] Flamefire opened #58563 "CPU tests use torch.cuda.synchronize()"
## 🐛 Bug

Some tests use `torch.cuda.synchronize()` unconditionally which fails when PyTorch isn't compiled with CUDA support.
Example:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Build without CUDA
1. Run test_torch.py

## Expected behavior

No error

## Environment

 - PyTorch Version (e.g., 1.0): 1.8.1
 - OS (e.g., Linux): Linux
 -
## Additional context

Why is the synchroniz

[2021-05-19 16:13] wenleix commented on #58016
May also need to improve wrapper code gen for CUDA kernels to also assert device is on CUDA. See discussion inhttps://github.com/pytorch/pytorch/pull/58502#issuecomment-844254129

[2021-05-19 16:14] Lilyjjo commented on #58532
Hi, we use GitHub as an issue tracker and not for Q&A. We have a set of listed resources available on our [website](https://pytorch.org/resources/) and our primary means of support is our discussion forum which I suggest you post this question into instead: https://discuss.pytorch.org/

[2021-05-19 16:14] #58532 closed

[2021-05-19 16:44] Mrpatekful opened #58567 "ONNX exported EmbeddingBag fails for not strictly increasing offset."
## 🐛 Bug

After exporting EmbeddingBag to ONNX and running it with onnxruntime, it raises a runtime exception, when provided with offset values that are not strictly increasing.

## To Reproduce

Steps to reproduce the behavior:

[code]

Stack trace:

[code]

## Expected behavior

Output should be the same as the pytorch version (vector filled with zeros for that bucket).

## Environment

PyTorch

[2021-05-19 16:44] garymm commented on #51657
I believe this test flaked again [here](https://app.circleci.com/pipelines/github/pytorch/pytorch/324113/workflows/36d0197e-ed6e-4397-9b8f-473c791d583a/jobs/13561591). I don't have permissions to re-open this issue. Shall I open another one?

[2021-05-19 16:51] gautamborad commented on #51138
Hi @penguinwu / @gmagogsfm , I would like to work on this issue. I looked at https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/OVERVIEW.md, but am not sure which class to start with. Any pointer would be helpful. Thanks!