[2019-10-28 16:55] zhangguanheng66 commented on #28719
For `TransformerEncoderLayer`, yes but not necessary. A lot of people apply `nn.MultiheadAttention` and pass the values above directly.

[2019-10-28 16:56] suo commented on #28739
Thanks for the report. @eellison is this fixed in the nightly? I think you had a PR for this right?

[2019-10-28 16:58] zhangguanheng66 commented on #28657
In the docs, we say that "see the docs in Transformer class". The input dimensions of `TransformerEncoderLayer` are consistent with those of `Transformer`.

Users may implement a custom `TransformerEncoderLayer` and pass it to `TransformerEncoder`. The `TransformerEncoderLayer` is a standard one based on the reference.

[2019-10-28 16:59] vadimkantorov commented on #28719
Many error messages do print out the offending values (e.g. when shapes are compared etc), I think it only helps the user.

[2019-10-28 17:00] #28747 closed

[2019-10-28 17:00] zasdfgbnm opened #28789 "[CUDA-MEMCHECK] TestTorchDeviceTypeCUDA.test_kthvalue_cuda_float64 fails"
Run `cuda-memcheck` with unit test `TestTorchDeviceTypeCUDA.test_kthvalue_cuda_float64` in `test_torch.py` gives the following error:

[code]

cc: @ngimel @mruberry

[2019-10-28 17:03] zasdfgbnm commented on #28789
See also: https://github.com/pytorch/pytorch/issues/26052

[2019-10-28 17:04] gchanan commented on #28347
high priority to at least warn.

[2019-10-28 17:06] zasdfgbnm opened #28791 "[CUDA-MEMCHECK] TestTorchDeviceTypeCUDA.test_pin_memory_from_constructor_cuda fails"
Run `cuda-memcheck` with unit test `TestTorchDeviceTypeCUDA.test_pin_memory_from_constructor_cuda` in `test_torch.py` gives the following error:

[code]

cc: @ngimel @mruberry

See also: https://github.com/pytorch/pytorch/issues/26052

[2019-10-28 17:08] zasdfgbnm commented on #28789
Same error for `test_kthvalue_cuda_int64`

[2019-10-28 17:10] gchanan commented on #28417
In the triage meeting, we agree with @ngimel's take above.

[2019-10-28 17:11] vadimkantorov commented on #28657
Also no docs there mention that dim_model must be divisible by num_heads

[2019-10-28 17:14] zasdfgbnm opened #28792 "[CUDA-MEMCHECK] TestTensorDeviceOpsCUDA.test_topk_dim_desc_sort_cuda_float64 fails"
Run `cuda-memcheck` with unit test `TestTensorDeviceOpsCUDA.test_topk_dim_desc_sort_cuda_float64` in `test_torch.py` gives the following error:

[code]

cc: @ngimel @mruberry

See also: https://github.com/pytorch/pytorch/issues/26052
Maybe related: https://github.com/pytorch/pytorch/issues/28789

[2019-10-28 17:14] lcskrishna commented on #28623
CC : @iotamudelta

[2019-10-28 17:14] zhangguanheng66 commented on #28657
I think this is a basic assumption for the transformer application. If users' setup is not correct, they will simply get an error message.

[2019-10-28 17:18] nairbv commented on #28709
I wasn't able to repro on master, this may have been fixed by:

https://github.com/pytorch/pytorch/pull/28253

[2019-10-28 17:19] gchanan commented on #8104
To quote @soumith https://github.com/pytorch/pytorch/issues/16675#issuecomment-496113069

[2019-10-28 17:21] PyExtreme opened #28795 "Getting Build Error"
I am building PyTorch and I am getting the following error. Would be great to know how to fix it.

Thank you

[code]

[2019-10-28 17:22] gchanan commented on #28313
We don't claim to support dill, but a lot of people seem to use it.

[2019-10-28 17:23] zhangguanheng66 commented on #28738
@BIT-silence

[2019-10-28 17:23] SsnL commented on #28548
@t-vi Would https://github.com/pytorch/pytorch/pull/28279 happen to fix this too?

[2019-10-28 17:25] gchanan commented on #28389
Do we know if randperm is important here?  What if we use some other torch function?

[2019-10-28 17:26] vadimkantorov commented on #28657
As a newcomer to transformer impl in PyTorch, all these inconsistencies in naming and argument order `d_model`, `dim_feedforward`; notation in Transformer shapes docs versus older GRU shapes docs; unclearness whether it's user job to do the projection needed for num_heads or if Transformer does it for you (the consequence is that simply increasing num_heads argument is not enough to increase expre

[2019-10-28 17:28] zhangguanheng66 commented on #28721
@vadimkantorov Thanks. If you create a PR for fixing, I'm happy to review.

[2019-10-28 17:38] t-vi commented on #28548
Yes. Adam says I should add complex. Would doing so and adding a comment to is complex that it means cont be acceptable to you?

[2019-10-28 17:43] SsnL commented on #28548
@t-vi I don't really have a strong opinion. I am fine with both merging that PR as-is or update it to include complex. The ideal change IMO, which is beyond the scope of that PR, is to fix `isFloatingPoint` to include complex floating point types, and fix the call sites. But I don't think we need to worry about that for your PR.

[2019-10-28 17:44] izdeby commented on #26247
Reopening while investigating

[2019-10-28 17:51] t-vi commented on #28548
OK thanks. I'll push adding complex and a comment later today.

[2019-10-28 18:00] z-a-f commented on #28375
Resolved by #28375

[2019-10-28 18:00] #28375 closed

[2019-10-28 18:12] zxydi1992 commented on #28598
@hi-ogawa Thank you for the suggestion. I believe we should have some more documents on the behavior of masked_scatter.

Btw, @zhangguanheng66,  do we have a way to do a masked copy on two tensors in the following manner?

x = some tensor(d1, d2, d3)
y = some tensor(d1, d2, d3)
m = some boolean tensor (d1, d2, d3)

z = x.masked_copy(m, y)
such that

z[i][j][k] == x[i][j][k] if m[i][j][k] = False a

[2019-10-28 18:12] anjali411 commented on #28440
To mimic the python implementation, we also need to be able to pass in a callable function to the function step. However, this should be done at the end for all the optimizers at once because the step function in the base class Optimizer will have to be modified to accept a callable parameter

[2019-10-28 18:15] flyfj commented on #15844
having same issue when using pytorch/pytorch:1.3-cuda10.1-cudnn7-devel as base docker image on p2.xlarge. any fix?

[2019-10-28 18:17] zhangguanheng66 commented on #28598
you may consider `torch.where`.

[2019-10-28 18:24] gchanan commented on #28548
I'd personally make two different PRs.  I'm not sure what exactly the right API to check is for the later and the bfloat16 fix is important enough in its own right.

[2019-10-28 18:24] zhangguanheng66 commented on #28795
Please follow the template to open an issue. We need more information.

[2019-10-28 18:33] pietern commented on #28126
@rohan-varma The underlying problem is that the recv-from-any is not interruptible.

Instead of hacking around this it should be addressed at the root. Detaching a thread means we'll invariably run into cleanup issues later on (either with the operation unblocking and accessing bad memory, or with zombie processes, or...). I created https://github.com/facebookincubator/gloo/issues/227 to track.

[2019-10-28 18:35] t-vi commented on #28548
@gchanan: Yeah well, I'd certainly not complain if the PR was merged as is. It leaves complex alone and does bfloat16 right.

[2019-10-28 18:37] zhaojuanmao commented on #28294
my understanding is over head of both solutions is from all reduce, so the performance impact of both solutions should be similar. If you've already worked on Shen's solution and close to finish it, maybe send a PR you've already had first?

[2019-10-28 18:54] rohan-varma commented on #28126
Agreed, this is a much better way to solve the problem.

[2019-10-28 19:16] zou3519 commented on #10223
It is possible to automatically get the result of the forward-mode formulas (jvp formulas) from  derivatives.yaml (that has vjp formulas) if we use the autograd trick at https://j-towns.github.io/2017/06/12/A-new-trick.html and invoking autograd twice.

I.e., for a given function `f`, its forward mode formula can be computed via two calls to autograd.grad: (working python code below)

[code]

In f

[2019-10-28 19:21] vadimkantorov commented on #28757
The proposed code change is easy enough, should I send a PR with it?

[2019-10-28 19:31] oguzaranay commented on #19406
I have got the same problem, and solved it by installing from their website pytorch.org.
[code]

[2019-10-28 19:33] RylanSchaeffer commented on #18125
What's the status of this issue? Any idea when the PR will be merged?

[2019-10-28 19:42] LudovicDelfau commented on #28389
With these functions, I got the same error :

* torch.zeros(1)
* torch.get_num_threads()

But with these functions, I didn't get the error :

* torch.empty(1)
* torch.can_cast(torch.double, torch.float)
* torch.seed()

[2019-10-28 20:07] z-a-f commented on #28234
Closing as resolved

[2019-10-28 20:07] #28234 closed

[2019-10-28 20:22] eellison commented on #28739
I have a PR for this but it's not landed yet. This is a dup of https://github.com/pytorch/pytorch/issues/27255, closing.

[2019-10-28 20:25] z-a-f commented on #27938
Removed myself

[2019-10-28 20:29] z-a-f commented on #28308
I am closing the blocked PR to reduce the clutter (#27939). Please, reopen once this is resolved

[2019-10-28 20:36] jianyuh commented on #28771
The data type of the output is quint8, and we have the accumulation type as int32 (which can grant enough accuracy during the quantization).

[2019-10-28 20:40] jianyuh opened #28808 "Consistent failure for test_numerical_consistency_per_channel test"
## 🐛 Bug

FAIL: test_numerical_consistency_per_channel (_main_.TestFakeQuantizePerChannel)
This test is failing consistently on master, we can't find a clean blame.

## To Reproduce

Check `test_numerical_consistency_per_channel` in `test/test_fake_quant.py`.

## Expected behavior

The test is failing consistently.

[2019-10-28 20:42] jianyuh commented on #28568
https://github.com/pytorch/pytorch/pull/28477 has landed. So we close the issue.

[2019-10-28 20:42] #28568 closed

[2019-10-28 20:44] vadapalliravikumar commented on #28747
@gchanan , what is the best way to consume the fix ? I am on the 1.3 release.

- Is it a simple fix that can be manually patched on top of 1.3 installation ? If yes, can u pls give a pointer to the fix.
- Otherwise, should I go for a full private installation from master ? And is master stable enough ?

[2019-10-28 20:50] jianyuh commented on #28808
Temporary disable the test:  https://github.com/pytorch/pytorch/pull/28807

[2019-10-28 20:54] mrshenli commented on #28294
I agree with @zhaojuanmao. The overhead depends on your use case.

* If your training loop uses a fixed set of params for say 1000 iterations, and then all switch to another set of params, I think @pietern's suggestion will result in a lighter overhead, as you would like to that bitwise check once every 1000 iteration.
* If you training loop switch params very frequently, and if the unused params

[2019-10-28 21:28] #26333 closed

[2019-10-28 21:49] #26401 closed

[2019-10-29 00:06] HapeMask commented on #6962
Adding an additional set of datapoints in support of @mcarilli 's approach:

* We have a model on Windows which contains th.nn.Linear layers (which will call cuBLAS), and we are calling the model in two concurrent threads.
* If left to run long enough (anywhere from a few seconds to ~20mins), the runtime will eventually hang somewhere in a GPU call w/100% GPU usage.
* If we replace the Linear laye

[2019-10-29 00:08] coffeeshop13 commented on #19406
Thanks a lot!

[2019-10-29 00:17] supriyar commented on #28778
This is possibly due to two reasons:
1. Spending time in re-quantization of bias based on the input scale.
2. Converting weights from int8 to uint8.
On mobile, we use QNNPACK which currently expects bias to be quantized and only supports uint8 weights. Relevant code is here - https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/quantized/cpu/qconv.cpp#L349

We recommend running some

[2019-10-29 00:27] #26171 closed

[2019-10-29 00:49] leimao commented on #24081
I am using `nn.DataParallel`. The training always work using PyTorch 1.2.0. But it froze and could only be killed using `sudo kill -09` when I was using PyTorch 1.3.0. Need to find out the source of the problem and a solution, without changing any of the PyTorch source code.

[2019-10-29 01:01] mrshenli opened #28819 "rpc/remote should always include autograd context id if contains UDF"
Currently, we only include context id when there is a valid context and when at least one tensor in the arg list requires grad. However, even if the request does not contain any requires_grad tensor, the response might contain some, whose grad should still belong to the same context.

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528

[2019-10-29 01:16] zhouhao-learning opened #28820 "Dataloader worker exited unexpectedly"
I am using python = 1.3.0, CPU version. I tried to load cifar10 data set of torch, but I encountered an unexpected exit error.

This is my code:
[code]

I get this error:
[code]
I saw other people's similar mistakes on the Internet, but none of them were finally solved. Please tell me what the problem is, is it because Pytorch does not support multi process? How can I solve this problem? Thank you

[2019-10-29 01:27] soumith commented on #28820
did you run with `num_workers=0`, if so did that succeed?

[2019-10-29 01:40] soumith commented on #28777
while it is unfortunate to see this effect, I don't think we can do much except page it to the CuDNN team. Maybe @ptrblck can help with that :)

[2019-10-29 01:40] soumith commented on #28776
please use https://discuss.pytorch.org for questions

[2019-10-29 01:40] #28776 closed

[2019-10-29 01:45] zhouhao-learning commented on #28820
@soumith
Thank you for your prompt. According to your prompt, I tested different results, only supporting Python > = 3.6.3

[2019-10-29 01:45] vainaijr commented on #28709
it still gives weird output
![Screenshot (63)](https://user-images.githubusercontent.com/43755000/67730703-2b6aa500-fa39-11e9-8bc1-b63169f99670.png)

[2019-10-29 01:46] hexiangquan commented on #28778
we cannot use  warmup . is that possiable to save uint8 weigths.when first infer?

[2019-10-29 01:50] soumith commented on #28754
the general answer is that this is really hard, and a team effort and we aren't in a state to execute on it right now.

Why aren't we in a good place to have ABI compatibility across versions:
- the core, dispatcher, C++ API are in high flux. I doubt that this would change for atleast another 6 months. There's just way too much development happening, with very little mapping / separation of public

[2019-10-29 01:51] soumith commented on #28753
thanks, can you send a PR, we can merge

[2019-10-29 01:57] soumith commented on #28778
I'm closing this because it's a question and has to be pointed to https:/discuss.pytorch.org
But because the discussion has started, feel free to continue the discussion.

[2019-10-29 01:57] #28778 closed

[2019-10-29 01:58] soumith commented on #28820
Great. Did it work in `num_workers` greater than 0 for Python > = 3.6.3 as well?

[2019-10-29 02:03] zhouhao-learning commented on #28820
@soumith
yes

[2019-10-29 02:19] ghltshubh opened #28823 "[ppc64le pytorch] Pytorch build failure on IBM power8, NVIDIA P100, CUDA 9.2, CUDNN 7.4, NCCL 2.4 & Python 3.6"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Follow the steps given on pytorch git repo including defining all the necessary environment variables.
2. `BUILD_CAFFE2_OPS=0 USE_GLOO_IBVERBS=1 CC=mpicc CXX=mpic++ CUDA_HOME=$CUDA_DIR CUDNN_INCLUDE_DIR=$CUDNN_DIR/include CUDNN_LIB_DIR=$CUDNN_DIR/lib NCCL_ROOT_DIR=~/summitdev/nccl2  python setup.py install
`

[code]

## Expected behav

[2019-10-29 02:21] Multihuntr commented on #28777
When building the `pytorch==1.1.0` image, conda tells me that it's installing (output edited for brevity):

[code]

And while building the `pytorch==1.2.0` image, it tells me the exact same thing (in terms of CuDNN). So it seems like it's the same CuDNN version for both `pytorch==1.1.0` and `pytorch==1.2.0` right now.

Running the above script in the `pytorch==1.1.0` image, gives:

[code]

while r

[2019-10-29 02:23] MarStarck commented on #1668
AttributeError: module 'torch' has no attribute 'device'

[2019-10-29 02:39] soumith commented on #28777
you completely ignored our conda channel, I have no idea what the effects of using cudnn 7.6.0 are. Use the commands from pytorch.org to install pytorch

[2019-10-29 02:41] sdsy888 commented on #1204
For those who use the one-hot vector, if there's one label missing, for example, you have [0,1,2,3,4,5,6,7,8,9] as the class label, and the class 2 and 4 are always missing (no class 2 and 4), you should still use `num_class=10`.

It's a quite low-level issue, but it really bugs you.

[2019-10-29 02:45] Multihuntr commented on #28777
Oh, sorry. `conda install pytorch==1.2.0 cudatoolkit==10.0 -c pytorch` fails with:

[code]

[2019-10-29 02:48] litaozijin commented on #28771
Of course , accumulating quint8 into int32  grant enough accuracy during quantization.But i wonder whether the output of quint8  will cause accuracy loss when it's passed to next accuracy-sensitive layer ,such as softmax or sigmod layer?
Otherwise,how accumulation of int32  is requantized to quint8 during quantization?

[2019-10-29 02:55] soumith commented on #28777
you should probably do `conda upgrade conda` or something first. the package is there for both linux64 and windows64: https://anaconda.org/anaconda/cudatoolkit/files

[2019-10-29 02:58] standbyme commented on #28739
Thanks~

[2019-10-29 02:58] #28739 closed

[2019-10-29 03:18] KoalaSheep commented on #27738
Thank you for reply. After make a new environment, I still face the same problem.
When I install the pytorch, cuda 10.1.168 is installed and it still takes too long to move to cuda.

[2019-10-29 03:18] distant1219 commented on #1266
@n0obcoder I think they are the same way to train with freezing some layers. The output will be same and the filter is used to avoid silly operation.

[2019-10-29 03:35] Multihuntr commented on #28777
Anyway. Regardless of the reason I can't install using the command provided on the website, it seems that I was mistaken about the CuDNN versions being used. I'll open a separate issue for the website command not working.

I understand there's not much you can do. I'll just be sad that CuDNN has had another performance regression like this. I don't have to the knowledge to give them a MWE.

[2019-10-29 03:47] Multihuntr opened #28825 "Website gives incorrect install command for cudatoolkit version"
## 📚 Documentation

According to the [getting started page](https://pytorch.org/get-started/previous-versions/), I should install older versions of pytorch with commands like `conda install pytorch==1.2.0 torchvision==0.4.0 cudatoolkit==10.0 -c pytorch`

However, I get:

[code]

Resulting in this error message if I use the command exactly as written on the website.

[code]

But this command works

[2019-10-29 03:48] yf225 commented on #25883
@mansoorcheema Thanks so much for the awesome work! I commented on the PR :D

[2019-10-29 04:08] #28820 closed

[2019-10-29 04:50] zym1119 opened #28826 "why tensor.sum() not equals sum(tensor)"
## ❓ Questions and Help

I met this error when calculating histogram of a tensor, and the histogram is calculated by torch.histc()

whatever, the hist is of type torch.Tensor.

and the following thing happened

[code]

so why these values are not the same?
is it a bug or something went wrong?

the tensor can  be found at
https://github.com/zym1119/a-hist/blob/master/hist.pth

[2019-10-29 05:06] peterjc123 commented on #28825
Oh yes, you should use one `=` instead of two. cc @soumith for fixing the commands in the quick start page.

[2019-10-29 05:15] lly-zero-one commented on #28771
For each op in static quantization, the activation input and output are always in int8 type. I think this is the contract of int8 quantization, in which each value is mapped into one of the 256 levels. Yes, if the op is accuracy-sensitive, it may cause accuracy loss. That's why we have quantization aware training to mitigate this kind of issue and make your model accuracy be robust to quantization

[2019-10-29 05:40] supriyar commented on #28778
This should be called only once - during the first call to `forward`. Is that what you mean by first infer? For each subsequent call since input scale doesn't change we don't update weights.

[2019-10-29 05:46] hexiangquan commented on #28778
yes .just first infer take about 8 on my Android test device. later infer is fast.  发自我的华为手机-------- 原始邮件 --------主题：Re: [pytorch/pytorch] andoroid  quantization  model (mobilenetv2) first forward  very slow?  but second forward  faster why how to fix it (#28778)发件人：supriyar 收件人：pytorch/pytorch 抄送：x_He ,Author This should be called only once - during the first call to forward. Is that what you mea

[2019-10-29 05:53] hexiangquan commented on #28778
i do a face liveness sdk.  do it only once when app start. but quantization model first infer so slow .i do not know how to fix it发自我的华为手机-------- 原始邮件 --------主题：Re: [pytorch/pytorch] andoroid  quantization  model (mobilenetv2) first forward  very slow?  but second forward  faster why how to fix it (#28778)发件人：supriyar 收件人：pytorch/pytorch 抄送：x_He ,Author This should be called only once - during t

[2019-10-29 06:05] bthyreau commented on #22961
As for the script just above, the default algorithm was apparently inadequate.
Using torch.backends.cudnn.benchmark=True improved the behavior drastically.

GeForce RTX 2080 Ti|GeForce RTX 2080 Ti benchmark=True
-|-
torch  1.3.0|torch  1.3.0
cudnn  7603|cudnn  7603
40 (2.77 s)|40 (0.18 s)
80 (9.10 s)|80 (0.68 s)
120 (15.44 s)|120 (1.17 s)
160 (21.78 s)|160 (1.66 s)

[code]

[2019-10-29 06:21] zhaojuanmao commented on #28819
I think if we can send context id and do autograd attach check in default for all types of messages, the codes will be much simpler, each type of message does not need to worry about how to handle autograd differently. it totally makes sense to me that autograd info is part of pytorch distributed rpc message

[2019-10-29 08:33] vadimkantorov commented on #23756
a recent Facebook flow codebase: https://github.com/XuezheMax/flowseq

[2019-10-29 09:30] patrick-kidger commented on #28754
All of what you're saying makes sense, and was about the response I expected to be honest! Thanks for the response. :)

[2019-10-29 09:32] narfanar commented on #5544
That `size` attribute is custom to the custom layers, from what I can see. `tensor.size()` is a tensor method.

[2019-10-29 10:38] villmow commented on #16029
Why is this even splitted? Can't we provide A and B to GLU?

[2019-10-29 10:56] fmassa commented on #3387
@FDSJK you might need to apply some padding on your input in order to achieve what you want.
For that, you can use `torch.nn.functional.unfold`, which supports a `padding` option. Alternatively, you can also manually pad your input.

[2019-10-29 10:56] Norfo commented on #28276
I returned to this problem and here is what I managed to find out. I deduced the dimensions of the tensors that are used in the concatenation operation and got the following:
[code]
As can be seen, tensors have the same dimension, therefore, there can be no errors associated with different dimensions.
Can you tell me which way I can still look in order to get closer to solving this problem?

[2019-10-29 11:14] fbcotter opened #28829 "torch.cuda.close request to be able to reset communications"
## 🚀 Feature

Is it possible to reinitialize communication with the cuda drivers once they have been made? At the moment, `torch.cuda.init()` calls a lazy init function which sets up communication. Is it possible to close that communication and open it again?

## Motivation
I want to set the `CUDA_VISIBLE_DEVICES` env variable programmatically. This currently works if it is set before any calls to

[2019-10-29 12:27] joacorapela opened #28831 "RuntimeError: the derivative for 'cholesky_solve' is not implemented"
## 🐛 Bug

Running code calling torch.cholesky_solve. After I call the backward method I get the error in the title.

## To Reproduce

Steps to reproduce the behavior:

import torch

aMatrix = torch.tensor([[1.0,0.0,0.0],[0.0,2.0,0.0],[0.0,0.0,3.0]])
aVec    = torch.tensor([1.0,2.0,3.0])
aVec = aVec.unsqueeze(1)
aVec.requires_grad = True
aMatrixChol = torch.cholesky(aMatrix)
aCholSol = torch.choles

[2019-10-29 12:40] zml24 commented on #24816
Still a bug in torch/nn/functional.py
<img width="705" alt="image" src="https://user-images.githubusercontent.com/17996245/67767427-87f6b000-fa8b-11e9-8dd9-bd193566978b.png">
Let's see what will happen with inf input in softmax.
<img width="563" alt="image" src="https://user-images.githubusercontent.com/17996245/67767828-3d296800-fa8c-11e9-8578-c0ecab3ab05a.png">
Can we just softmax first and mask

[2019-10-29 12:40] dtcrong opened #28832 "QAT conv layer with bias"
I have a resnet-based network. Trying to convert it to INT8 but met accuracy loss using static quant.
Tried QAT but met with assert error "Only support fusing Conv2d that does not have bias"

Look into the model structure and found all the conv layers have bias:
nn.Conv2d(in_planes, out_planes, kernel_size, stride=stride, bias=True)

is it possible to use fake quant to train it?

[2019-10-29 12:54] zml24 commented on #24816
or just
`attn_output_weights = attn_output_weights.masked_fill(key_padding_mask.unsqueeze(2).unsqueeze(3), sys.float_info.min)`

[2019-10-29 12:55] zml24 commented on #24816
or just
[code]

[2019-10-29 13:10] #28795 closed

[2019-10-29 13:14] PyExtreme opened #28833 "Build getting terminated"
## ❓ Questions and Help

I have made some changes in a file and while I am building in develop mode, the build is getting terminated due to errors in some other file. The command which I have executed is here:

`MAX_JOBS=8 DEBUG=1 USE_DISTRIBUTED=0 USE_MKLDNN=0 USE_CUDA=0 BUILD_TEST=1 USE_FBGEMM=0 USE_NNPACK=0 USE_QNNPACK=0 python setup.py develop`

The error which I am getting is this:

[code]

A

[2019-10-29 13:19] KohMat commented on #17492
In an attempt to use libtorch from the wheel file, I have been faced and trying to solve the abi::cxx11 problem for the last few days. Finally I found this issue.

FYI, Apparently the wheel on this [site](https://download.pytorch.org/whl/cu100/torch_stable.html) is build with cxx11_abi=0(only I checked 1.1.0 py35 and 1.3.0 py35).

[2019-10-29 13:24] zml24 commented on #24816
Same bug here
<img width="765" alt="image" src="https://user-images.githubusercontent.com/17996245/67770873-3140a480-fa92-11e9-94c4-308f1b2b50a2.png">
I fixed these two bugs myself and `nn.Transformer` can finally match my transformer module's learning ability.

[2019-10-29 13:37] kgizdov commented on #20206
I never heard back about this. We're having more and more issues in Arch Linux. (e.g. [FS#63346 - [python-pytorch-cuda] uses wrong protobuf version](https://bugs.archlinux.org/task/63346?project=5&string=python-pytorch))

Currently, it's impossible to ship `pytorch` to users as it conflicts `protobuf` system wide and insists of using an outdated version `protobuf-3.6.1` kept privately in `/usr/lib

[2019-10-29 14:10] zhangguanheng66 commented on #24816
It's not a bug in `nn.Transformer`. You should check out the master branch, and there was a type promotion issue fixed by https://github.com/pytorch/pytorch/pull/28253

[2019-10-29 14:29] ezyang commented on #27627
Yeah, I don't understand how this commit could have produced the error. Maybe it's the `std::all_of` call?

[2019-10-29 15:07] ezyang opened #28834 "ONNX verbose=True does not print onnx initializers"
I am investigating a test failure related to constant folding and to debug it I turned on verbose output:

[code]

I get this graph:

[code]

`%6` is a new input that takes in the constant that onnx constant folding moved to what I think is ONNX's initialization graph. But the initialization graph is never printed here! It should be.

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof @e

[2019-10-29 15:14] soumith commented on #28832
please use https://discuss.pytorch.org for questions. You can tag the questions with `quantization` tag

[2019-10-29 15:14] #28832 closed

[2019-10-29 15:24] yf225 commented on #17492
@KohMat Yes the pip wheel file is built with cxx11_abi=0. Is there a specific reason you are using libtorch from the wheel file?

[2019-10-29 15:29] nairbv commented on #28747
FYI this is the PR that fixes this issue: https://github.com/pytorch/pytorch/pull/28253

It impacts mixed-type (promoting) operations on non-contiguous tensors (so converting to same dtype or calling `.contiguous()` can workaround the issue).

[2019-10-29 15:32] Balandat commented on #28831
This is supported in 1.3

[2019-10-29 15:38] soumith commented on #28825
fixed via https://github.com/pytorch/pytorch.github.io/commit/0838ba1fbf4e02dbd73c0071f571bb4ed5f4143a

[2019-10-29 15:38] #28825 closed

[2019-10-29 15:38] ezyang opened #28835 "AttributeError: module 'onnx' has no attribute 'load'"
When I run `test/onnx/test_utility_funs.py` locally I get an error:

[code]

I can fix it by running `pip install onnx`. But the error message here is unexpected; if onnx wasn't installed, why did I get an error that it imported successfully and just doesn't have any attributes?

When I print `onnx.__file__` I get `None`. My best guess is that we are accidentally picking up `test/onnx` folder as a

[2019-10-29 15:39] soumith commented on #28826
floating point error. this is expected.

some more context: https://stackoverflow.com/questions/2100490/floating-point-inaccuracy-examples

[2019-10-29 15:39] #28826 closed

[2019-10-29 16:09] mrshenli commented on #28819
We have 23 message types for now, 6 of them always requires context id, 7 of them never requires context id, most of others requires context id when there is a valid context. I would still prefer not including the autograd context id field in `Message`, but we could add that to `RpcCommandBase` maybe.

[2019-10-29 16:40] elbamos commented on #27627
Comparing the binary produced by 8ffcbfb and the one produced by the preceding commit f9c4d0d, 8ffcbfb is 120k larger.  This makes me think that what's going on, is that the commit is causing some larger set of code to be compiled that was not being compiled before.

[2019-10-29 17:18] apdomran opened #28840 "installing error using pip"
I'm trying to install torch and torchvision using python 3.7 and pip, I tried many ways to install torch packages and every way ends with the same error which I don't understand

`Collecting torch
  Using cached https://files.pythonhosted.org/packages/f8/02/880b468bd382dc79896eaecbeb8ce95e9c4b99a24902874a2cef0b562cea/torch-0.1.2.post2.tar.gz
Requirement already satisfied: pyyaml in c:\users\apdo\a

[2019-10-29 17:42] joacorapela commented on #28831
Thanks Balandat. I upgraded to 1.3 and the problem is solved.

[2019-10-29 17:42] #28831 closed

[2019-10-29 18:07] peterjc123 commented on #28840
Well, it is yet another case that you try to install PyTorch with 32-bit Python on Windows. Please use Python x64 instead.

[2019-10-29 18:07] #28840 closed

[2019-10-29 18:48] blacksailer commented on #18757
Which initializers do you mean? I met same problem on another linux based OS.

[2019-10-29 18:58] ifedan commented on #28833
Please use https://discuss.pytorch.org for questions.

[2019-10-29 18:58] #28833 closed

[2019-10-29 19:02] ifedan commented on #28833
Also please provide the environment you use

[2019-10-29 19:31] soumith commented on #24310
in the past, we didn't upload Windows binaries due to PyPI because of worry of binary size, both current and future. PyPI has binary limits, and we were worried that with the windows binary we would exceed them.
But recently @peterjc123 and I discussed this, we might push windows binaries to PyPI from 1.4 onwards.

[2019-10-29 19:31] #24310 closed

[2019-10-29 19:32] raghavgurbaxani commented on #28483
@z-a-f
Thank you so much for your feedback, the following works for VGG16, but doesn't work for other models such as resnet18, resnet 50,etc.

I am particularly using this for a network that uses VGG as a base network

Could you provide a generic implementation for layer fusion part ?

Thanks  a lot :)

[2019-10-29 19:46] #28126 closed

[2019-10-29 19:51] vikashranjan opened #28844 "Dataset link for "Static Quantization for Eager mode in PyTorch" tutorial"
## ❓ Questions and Help

There is no download link for the dataset mentioned in section 3 in the tutorial for static quantization.

I am trying out the experimental feature for static quantization and need to download the dataset to run the tutorial.

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a

[2019-10-29 19:52] henrique commented on #21987
@yulkang Isn't it the same as x[~torch.isnan(x)].mean()
Or am I missing some corner case?

[2019-10-29 19:54] izdeby commented on #28548
Fixed via https://github.com/pytorch/pytorch/pull/28279

[2019-10-29 19:54] #28548 closed

[2019-10-29 19:57] izdeby opened #28845 "Implement operator<< for bfloat16"

[2019-10-29 20:17] mrshenli opened #28849 "Get rid of torch::save and torch::load in ProcessGroupAgent"
`ProcessGroupAgent` uses `torch::save` and `torch::load` to serde messages. It internally creates a zip archive, which can be expensive. Switching to jit::pickle could help to reduce the overhead.

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528

[2019-10-29 20:25] mrshenli commented on #25532
What about `dist.local`? I think there are two use cases here:

1. If the value is ready, and we could support something like `dist.rref(data)` which returns an `OwnerRRef`.
2. If the value needs to be acquired after running some function, we could provide a new API like `dist.local` (if the name `dist.remote` does not make sense here). The `dist.local` API could insert the task into the same thre

[2019-10-29 20:34] jerryzh168 commented on #28844
cc @raghuramank100

[2019-10-29 20:47] blacksailer opened #28850 "error for creating torch::ones at Backend.h"
## 🐛 Bug
Built static version of libtorch for Sailfish OS (Linux-based). for build followed instructions from here #21737
Trying [minimal example](https://pytorch.org/cppdocs/installing.html#minimal-example)

## To  Reproduce

Code:

[code]

#### Result:

Stack Trace:
[code]

## Expected behavior
 1  1  1
 1  1  1
[ CPUFloatType{2,3} ]

## Environment

 - PyTorch 1.3
 - Sailfish OS
 - Static linki

[2019-10-29 21:31] Novak3 commented on #21987
@henrique The method by @yulkang gracefully handles mean along axes.
Maybe I'm missing something but I don't think your proposed method does-- it flattens the tensor

[2019-10-29 22:16] spandantiwari commented on #28835
Just add some context (i.e., not exactly the answer to the question) - to the best of my knowledge, `onnx `is not installed as a dependency of PyTorch. It is only a test dependency.

[2019-10-29 22:34] spandantiwari commented on #28834
@ezyang - Could you explain what you mean by initialization graph? Do you mean the graph before constant folding was applied? Why I am asking is because ideally constant folding should not touch the real inputs (that are not parameters) of the graph.

[2019-10-29 22:54] ailzhang opened #28859 "Remove bce_with_logits in derivatives.yaml"
Its backward is done through autograd, we don't need explicitly set it at all.

[2019-10-29 23:12] albanD commented on #28583
Thanks for the report, I sent a PR to fix this.
This confusion has been introduced in 1.2 when 0-dim Tensors were introduced.

[2019-10-29 23:20] z-a-f commented on #28483
Unfortunately, this is a manual process -- you need to tell the system which parts to fuse. You can traverse the model recursively, and create a list of "fusable" layers. You can take the code below as inspiration, but in the end of the day, it all depends on the model.

[code]

This is just a 5 minute draft (not tested). But I think if you put any composite modules in the `COMPLEX_MODULES` list,

[2019-10-29 23:21] z-a-f commented on #28483
Closing this issue, as the original question was answered --

[2019-10-29 23:21] #28483 closed

[2019-10-30 00:49] Jerrynet commented on #19106
I'm testing my JIT model on c++ (CPU model),
It's 10x~15x slower than python (both Mac and Linux)
I've tried `at::init_num_threads()`, `at::set_num_threads(n)`,
Recompile libtorch (I'm sure MKL,MKL-DNN, LAPACK and OpenMP are linked),
Set `OMP_NUM_THREADS`, 'MKL_NUM_THREADS'
none of these worked.

[2019-10-30 01:10] ivder opened #28863 "Command for downloading torch 1.12.0 CUDA 10 linked to cu92 version"
I want to install pytorch 1.12 CUDA 10 in Ubuntu following this step https://pytorch.org/get-started/previous-versions/ .

Every time I input this command `pip install torch==1.2.0 torchvision==0.4.0 -f https://download.pytorch.org/whl/torch_stable.html` I always get the `cu92` version instead of CUDA 10 version.

[code]

After the package has been installed, I checked using python and it prints t

[2019-10-30 01:17] sublee commented on #20967
@jizongFox I didn't fix this issue because my PR #20985 has a backward compatibility issue as @soumith pointed.

[2019-10-30 01:18] sublee commented on #20967
@ailzhang I guess this issue should be reopened.

[2019-10-30 01:34] ivder commented on #28863
I managed to download the torch 1.12.0 CUDA 10 only using this
`pip install torch==1.2.0`

Home the link in https://pytorch.org/get-started/previous-versions/ will be fixed soon

[2019-10-30 02:37] jamesohortle commented on #28060
@eric-mu Could you please let me know the relevant files and lines that you changed?
I have changed `./torch/csrc/TypeInfo.cpp: lines 200, 250`.

I can see `Layout.cpp` and `Device.cpp` in your error output --- should I change those files too?

(BTW: I'm on mac, using Clang.)

[2019-10-30 03:46] vadapalliravikumar commented on #28747
thanks @nairbv

this is such a critical issue. It may not affect those upgrading from 1.2 to 1.3. But it has a good chance of affecting those playing with named tensors and mixed typing in 1.3, please consider doing a patch release (1.3.0.x).

[2019-10-30 03:55] soumith commented on #28747
we're planning to do a patch release (1.3.1) because of this. Can do as early as this week, or early next week. finalizing details.

[2019-10-30 04:09] wcf1065948474 commented on #22526
**This bug still exists in Pytorch 1.3.0**

[code]
Traceback (most recent call last):
  File "test.py", line 4, in <module>
    print(up(x).size())
  File "/usr/local/lib/python3.6/dist-packages/torch/nn/modules/module.py", line 541, in __call__
    result = self.forward(*input, **kwargs)
  File "/usr/local/lib/python3.6/dist-packages/torch/nn/modules/upsampling.py", line 131, in forward
    retur

[2019-10-30 04:52] wcf1065948474 commented on #22526
[code]
Traceback (most recent call last):
  File "test.py", line 4, in <module>
    print(up(x).size())
  File "/usr/local/lib/python3.6/dist-packages/torch/nn/modules/module.py", line 541, in __call__
    result = self.forward(*input, **kwargs)
  File "/usr/local/lib/python3.6/dist-packages/torch/nn/modules/upsampling.py", line 131, in forward
    return F.interpolate(input, self.size, self.scale

[2019-10-30 04:53] jjsjann123 commented on #22526
Thanks for reporting and the repro.
Let me take a look at it.

[2019-10-30 05:42] KohMat commented on #17492
Just I want to use pytorch and my pybind11-ed module which has libtorch.
In the case, the 2 torchs should be same version.

[2019-10-30 06:52] vadapalliravikumar commented on #28747
awesome! thank you @soumith

[2019-10-30 07:53] GinSoda opened #28867 "tensor.FloatTensor(100) and torch.tensor(100, dtype=torch.float) are not equal"
[code]
Is this a legacy issue or a thoughtful design？

[2019-10-30 08:12] litaozijin commented on #28771
Is there a function whose input and weights are quantized int8 and output fp32 for linear and conv2d?

[2019-10-30 08:24] ryankang95 commented on #15272
Hi, @WenmuZhou  have you find some methods to solve it ? i also want to export crnn model on cpu and run it  on both cpu and gpu. thank you！

[2019-10-30 09:23] henrique commented on #21987
@Novak3 good point, you can use e.g. mean(dim=1) etc on his neat function.
It was killing my gradients, but it was perhaps just because of the `v.clone()` as I didn't see it had an inplace option.
Either way, if you don't care about the axes `x[~torch.isnan(x)].mean()` does the job slightly faster.

[2019-10-30 09:51] zetyquickly opened #28868 "How to build caffe2 with ONNX opset version greater than 9?"
## ❓ Questions and Help

Hello,
I've currently worked with freshly merged feature pytorch/vision#1401 and won't able to find a way to make Caffe2 work with ONNX operation set 10?

Is there a way to build a Caffe2 from source with this opset?

[2019-10-30 09:53] liwei46 commented on #28404
@jerryzh168 Hello, does the fusion, support batch norm before convolution? Thanks.

[2019-10-30 09:59] fmassa commented on #28867
`torch.Tensor` (and `FloatTensor`, etc) are legacy constructors.
The reason why they were "deprecated" is because they have a dual functionality: the arguments can either represent the size of a new tensor, or the data we are passing to it.
[code]
when we introduced scalars in PyTorch (0-d tensors), there was no way of representing them with `torch.Tensor`. So we followed numpy and created two new

[2019-10-30 09:59] #28867 closed

[2019-10-30 11:49] seva100 opened #28871 "Request to add stable sorting algorithm to PyTorch"
## 🚀 Feature
My feature request is to add the algorithm of [stable sorting](https://en.wikipedia.org/wiki/Sorting_algorithm#Stability) to PyTorch. Stable sorting is a method of sorting an array that preserves order of elements with equal values. Formally, if there is a 1D tensor `A` and for some `i, j` `A[i] == A[j]`, then I would like to have `A[i]` earlier in the tensor than `A[j]` after its sor

[2019-10-30 12:49] Ian09 opened #28872 "building static libtorch on ubuntu 18.04 without CUDA failed"
## How to build libtorch static library without CUDA

### For some reason, I need to use the static library of libtorch, e.g. libtorch.a (not libtorch.so as provided by the official website". So I would like to compile it from source. My compute is Ubuntu 18.04 with CUDA, but I set NO_CUDA=1.

Here is what I tried:
`git clone https://github.com/pytorch/pytorch.git`
[code]
However, the compilation

[2019-10-30 12:55] MarsTT commented on #7334
@martinbel has this problem been solved?

[2019-10-30 13:11] eusoubrasileiro opened #28873 "Libtorch-CPU Cannot open include file: 'torch/csrc/WindowsTorchApiMacro.h'"
## 🐛 Bug

Using Libtorch-CPU get the error `Cannot open include file: 'torch/csrc/WindowsTorchApiMacro.h' `

## To Reproduce

Steps to reproduce the behavior:

1. Using the example provided at https://pytorch.org/cppdocs/installing.html
2. downloading `Pytorch Stable 1.3 / Windows / LibTorch / C++ / None`  https://download.pytorch.org/libtorch/cpu/libtorch-win-shared-with-deps-1.3.0.zip
3. Get the

[2019-10-30 13:23] 121786404 commented on #19453
@ahmedalbahnasawy
how to call flatten_parameters in C++

[2019-10-30 13:26] apdomran commented on #28840
I reinstalled Python x64 and I still got the same error ?!!

[2019-10-30 13:28] eusoubrasileiro commented on #28873
This solves everything.

https://github.com/pytorch/cppdocs/issues/3#issuecomment-428003990

[2019-10-30 13:28] #28873 closed

[2019-10-30 13:31] apdomran commented on #28840
I reinstalled Python x64 and I still got the same error ?!!

[2019-10-30 13:45] peterjc123 commented on #28840
Do you have multiple python installations? What command did you use to install PyTorch?

[2019-10-30 13:47] mrshenli opened #28874 "test_trainer_ps in dist_autograd_test is flaky"
failed: https://circleci.com/gh/pytorch/pytorch/3403921?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

passed: https://circleci.com/gh/pytorch/pytorch/3404073?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528

[2019-10-30 13:56] pbelevich opened #28875 "[C++ API] Tensor::expand fails with exception, but python version works"
`torch.rand(4).expand(16, 4)` woks in python but `torch::rand(4).expand(16, 4)` fails with
`C++ exception with description "The expanded size of the tensor (16) must match the existing size (4) at non-singleton dimension 0`

[2019-10-30 13:58] apdomran commented on #28840
I have only Python 3.8 x64
I tried ``` pip install torch ``` , ``` pip install pytorch ``` and ``` pip install torchvision ```

[2019-10-30 14:22] humandotlearning commented on #17395
hey @VitalyFedyunin, @soumith I have done the

hey @VitalyFedyunin , @soumith I have done the performance compare of norm and norm_except_dim could you guide me as in removing norm_except_dim as it seems redundant now. Thanks.

[2019-10-30 14:38] ezyang commented on #28834
@spandantiwari OK, what I am calling an "initializer graph" is what you're calling an "onnx initializer". So what I am asking for here is for the onnx initializers to get printed out.

As a broader note about the test, what I observed is that if you have a constant in the graph, that isn't consumed by any operations that support constant folder, the constant does NOT get moved into an onnx initial

[2019-10-30 14:57] RuABraun opened #28878 "Error running model on android, embedding layer not supported?"
## 🐛 Bug

I'm getting the following error trying to run a model on android:

[code]

Can one not use the embedding layer on android?

## To Reproduce

Steps to reproduce the behavior:

1. Compile pytorch for android with `scripts/build_pytorch_android.sh`

2. Take the example app I created [here](https://github.com/RuABraun/android-with-pytorch), but instead of using the provided model create a ne

[2019-10-30 15:12] VitalyFedyunin commented on #17395
Hi!

Lets start with main things:

1) Please attach benchmarking script to make sure we tested correct thing.
2) Please do same comparison for CUDA, as we need to be absolutely sure, that we safe to update both.
3) If all above is correct, lets start looking into multi-step project:
	a) Bind `norm_except_dim` calls to `norm`
	b) Deprecate `norm_except_dim`

3a will require rewriting https://github

[2019-10-30 15:16] tianlanli opened #28880 "I can not use multiple gpu because of my data type is easydict"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)
[code]
this is from torch/nn/parallel/scatter_gather.py function def scatter_map(obj)

[2019-10-30 15:20] mrshenli opened #28881 "Finalize RPC API behavior for CUDA tensors"
All tests in `rpc_test.py` and `dist_autograd_test.py` focus on CPU tensors. Nothing prevents us from supporting CUDA tensors, but we need to be clear about what promise we provide on the API. For example,

1. If a user function returns a CUDA tensor, calling that function through RPC should still return a CPU tensor, or should we try to load that tensor onto the corresponding GPU?
2. When calling

[2019-10-30 15:33] t-vi commented on #28872
Does the same work when building a shared library? To me this looks like something else.

[2019-10-30 15:39] Maybewuss opened #28884 "Why attn_mask is not 3D tensor in nn.MultiheadAttention?"
## 🚀 Feature
I think shoud add 3D attn_mask.
## Motivation

For example, if in a translation task,  I want to let every word in the target sentence focus different words in source sentence, " attn_mask" should  in shape (tgt_len, scr_len) , ok! That's fine, that's exactly what it is now. But in different sentences，the target word in same position may focus different source words, so the "broadcast

[2019-10-30 15:49] supriyar commented on #27326
@ezyang do you have a log where it fails?
 cc @jianyuh

[2019-10-30 15:51] rathken commented on #24081
Turn off ACS in the BIOS or using setpci, ACS will prevent p2p for working. I have tested this on Linux with different AMD Ryzen 9 3900X systems with 2x RTX 2080 and 2X Quadro RTX 6000  with driver 410.79  and  cuda V10.0.130

turn ACS off will let p2pBandwidthLatencyTest run as it should.....

[2019-10-30 15:56] mrshenli opened #28885 "test_graph_for_python_remote_call is flaky"
failed: https://circleci.com/gh/pytorch/pytorch/3405647?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

passed: https://circleci.com/gh/pytorch/pytorch/3402730?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link/console

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528

[2019-10-30 15:57] ghltshubh opened #28886 "[ppc64le pytorch] Pytorch build failure on IBM power8, NVIDIA P100, CUDA 9.2, CUDNN 7.4, NCCL 2.4 & Python 3.6"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
Trying to build PyTorch 1.1.0 for IBM power8, NVIDIA P100 system.
1. Follow the steps given on pytorch git repo including defining all the necessary environment variables.
2. `BUILD_CAFFE2_OPS=0 USE_GLOO_IBVERBS=1 CC=mpicc CXX=mpic++ CUDA_HOME=$CUDA_DIR CUDNN_INCLUDE_DIR=$CUDNN_DIR/include CUDNN_LIB_DIR=$CUDNN_DIR/lib NCCL_ROOT_DIR=~/summ

[2019-10-30 15:57] #28823 closed

[2019-10-30 16:38] ghltshubh commented on #19184
@beckybai what gcc version worked for you?

[2019-10-30 16:47] soumith commented on #28880
please use https://discuss.pytorch.org for questions

[2019-10-30 16:47] #28880 closed

[2019-10-30 16:58] lly-zero-one commented on #28771
If you really want to do that, you can manually insert dequant to convert the data to non-quantized domain.

[2019-10-30 17:34] jpellman commented on #24081
Interesting- I had come across the Supermicro post [here](https://www.supermicro.com/support/faqs/faq.cfm?faq=20732) describing that potential issue, but when I ran `lspci -vvv | grep ACSCtrl` I didn't get any output.  I assumed that this meant that ACS wasn't a factor, but perhaps it's named something else on the particular host I'm working with.  Apparently this was the issue for someone else us

[2019-10-30 17:40] rohan-varma commented on #28881
It seems like it would be a bit unintuitive if the caller calls RPC with a GPU tensor, and the callee receives a CPU one. We should clearly document if we decide to do this.

[2019-10-30 17:54] phamquiluan commented on #4361
problem solved =))

[2019-10-30 17:57] #24627 closed

[2019-10-30 17:57] #24537 closed

[2019-10-30 17:57] #24628 closed

[2019-10-30 18:23] jpellman commented on #24081
ACS wasn't available in my BIOS.  There was an option/optimization to "Disable Unused PLX" that was enabled, but disabling that had no effect.  Just in case Supermicro stealthily enabled ACS without providing a BIOS option, I ran the `setpci` command provided:

[code]

That had no discernible effect too.  The only interesting thing is that I was able to clobber multiple _p2pBandwidthLatencyTest_ p

[2019-10-30 18:42] jpellman commented on #24081
Actually, I missed the bit in the Supermicro knowledgebase where `setpci` wasn't persistent, and I think that I did a reboot in between when I ran the for loop in my last post and when I did the testing.

I'm unable to reproduce the bug if I run the `setpci` for loop and then immediately start testing afterwards.  Since there doesn't seem to be a way to toggle ACS on/off in my BIOS (i.e., ACS is i

[2019-10-30 18:56] drscotthawley commented on #229
I know this is closed, but I'm finding torch.flip() to be a very compute-intensive operation -- profiling my code shows that 30% of the computing ops are being used on flip().

@soumith Is this operation actually copying data?  If so, would it be more efficient to use a view?

Related: np.flip() claims that it's producing a view, and yet it runs at least 5 times slower than just using negative ste

[2019-10-30 19:07] vpirogov commented on #3146
cc @gujinghui, @XiaobingSuper, @PenghuiCheng

[2019-10-30 19:37] yf225 opened #28902 "C++ `torch::tensor` by default gives a double tensor, which is different from Python `torch.tensor` behavior"
Example:
In C++:
[code]

In Python:
[code]

cc @yf225

[2019-10-30 19:46] #28623 closed

[2019-10-30 19:57] albanD opened #28906 "Font used in documentation is not always sharp"
As discussed in this issue in the forum: https://discuss.pytorch.org/t/font-in-the-instructions-are-not-sharp-in-chrome-browser/59365/2

The font is not always sharp for all users

cc @jlin27

[2019-10-30 20:13] soumith commented on #229
torch.flip() is copying data, as we dont have negative stride support.
I think it's unlikely that we'll ever get to adding negative strides

[2019-10-30 20:15] martinbel commented on #7334
I tried this more than a year ago. Who knows.

[2019-10-30 20:16] nairbv commented on #28709
Ah I thought this was an issue with how we computed stride-bytes that was fixed on master, not sure why I wasn't able to repro when I first tried.

It looks like this issue may actually have been introduced by PR #25402 (I'm able to reproduce at commit 9c5a8997737eb0049b57cb43e988707d1d87596b, which was before type promotion landed). It wasn't intentional to add promotion capability to this operat

[2019-10-30 20:32] bernsm3 commented on #25883
@yf225 Can I take `weight_norm` and `remove_weight_norm`? Looking for a good first issue.

[2019-10-30 20:50] jlevy44 commented on #8103
I'm still getting this issue with 1.3.0

[2019-10-30 20:54] yf225 commented on #25883
@bernsm3 Yes definitely! I just mentioned your name next to it. Thanks so much for your help!

[2019-10-30 20:54] jjsjann123 commented on #22526
Same issue with the launch config, I should have done a better job with my last PR :man_facepalming:

Although I added striding on channel dimension, I forgot to limit the launch config on GPU properties (https://docs.nvidia.com/cuda/cuda-runtime-api/structcudaDeviceProp.html#structcudaDeviceProp_192d195493a9d36b2d827aaf3ffd89f1e)

Will tag my PR shortly.

[2019-10-30 20:57] #28583 closed

[2019-10-30 21:09] #27568 closed

[2019-10-30 21:21] #28886 closed

[2019-10-30 21:21] soumith opened #28919 "[v1.3.1] Release Tracker"
v1.3.1 has to be cut and release because of some correctness issues with v1.3.0's Type Promotion in the non-contiguous Tensor case.

v1.3.1 branch has been cut.

Target date: 3rd November, 2019

[2019-10-30 21:23] mrshenli commented on #28885
It seems recent remote added in `dist_autograd_test.py` are flaky under spawn mode. I am disabling them and investigate.

[2019-10-30 21:37] zhanwenchen commented on #22526
@jjsjann123 you da best

[2019-10-30 21:40] zhaojuanmao opened #28923 "Build A Generic Future<T> for PyTorch"
torch.distributed.rpc uses future heavily and we are planning to make local autograd engine non blocking as well.

The plan is to move FutureMessage in torch.distributed.rpc to a more generic Future<T> that can be used for torch.distributed package and non blocking autograd first, then can be used for other module potentially as well.

per @zdevito's suggestion, whole pyTorch codebase should have

[2019-10-30 21:44] zhaojuanmao opened #28925 "Provide rpc, remote and dist autograd C++ APIs and register them as Prim::ops"
In order to make rpc, remote and dist autograd APIs run in torch script mode, we need to provide C++ APIs of them and register them as Prim::ops.

These APIs include:

rpc_sync(), rpc_async(), remote(), dist_autograd.backward()

[2019-10-30 21:52] SsnL commented on #28919
Request: #28901
Reason: Saves many copies in backward through `reshape`. Probably have nontrivial performance implications since now many ops are implemented on top of `reshape` and `flatten` (which uses `reshape` internally).

[2019-10-30 21:53] zou3519 commented on #28919
https://github.com/pytorch/pytorch/pull/28922 fix crashing the python interpreter when using named tensors too much

[2019-10-30 22:00] mrshenli opened #28928 "test_backward_autograd_engine_error is flaky"
Failed test: https://circleci.com/gh/pytorch/pytorch/3412165?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link/console

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528

[2019-10-30 22:04] yf225 opened #28929 "torch::tensor(scalar) behaves differently from at::tensor(scalar)"
After https://github.com/pytorch/pytorch/pull/28523 is merged, C++ `torch::tensor(scalar)` behaves the same as Python `torch.tensor(scalar)` and creates a 0-dim tensor. However, C++ `at::tensor(scalar)` still creates a 1-dim tensor, and it would be great to change the behavior of `at::tensor(scalar)` to create a 0-dim tensor.

[2019-10-30 22:07] yf225 opened #28930 "Add support for multidimensional input to `at::tensor`"
`torch::tensor` currently accepts braced-init-list (such as `{{1}, {2}}`) as multidimensional input. It would be great if `at::tensor` supports the same as well.

This would involve moving `torch/csrc/api/include/torch/detail/TensorDataContainer.h` to ATen, and using it from `aten/src/ATen/templates/NativeFunctions.h`.

[2019-10-30 22:14] zou3519 commented on #28859
The implemented backward functions for bce_with_logits may be more efficient than a regular autograd backward. For instance, we have fused operations like mse_loss that (for CUDA inputs) only launches a single (CUDA) kernel in backward. What problem are you trying to solve by removing bce_with_logits from derivatives.yaml?

[2019-10-30 22:16] rohan-varma opened #28932 "test_py_built_in rpc test is flaky"
## 🐛 Bug

`test_py_built_in` rpc spawn test is flaky, see failure: https://app.circleci.com/jobs/github/pytorch/pytorch/3409933

We should probably disable this test while we investigate.

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528

[2019-10-30 22:17] soumith commented on #28919
@ssnl only critical bug fixes are accepted into v1.3.1, so your request is not getting in. It has to wait to v1.4.0 (or you can use nightlies)

[2019-10-30 22:18] soumith commented on #24205
update here, I switched builds and nightlies from 3.5 to only 3.7, because K80 is the only GPU that's still being used -- like on Colab, AWS etc. I haven't seen any K40 usage.

[2019-10-30 22:19] soumith commented on #24205
relevant commit: https://github.com/pytorch/builder/commit/2aac90bd723dfbb3dc7728152bf0e6877ec4da16

[2019-10-30 22:20] ailzhang commented on #28859
@zou3519 Yea I remember I did this one about 1 yr ago :P https://github.com/pytorch/pytorch/blob/be3808d3b1164a0073f85fc0a58f2c7c27b2ae40/aten/src/ATen/native/Loss.cpp#L122
I don't recall doing it for a particular reason (maybe I forgot :P ). I just want to double check and remove the redundancy if it was a mistake I made. :D

[2019-10-30 22:20] mrshenli commented on #28932
Yes, let's disable it for now. It seems something in RPC core become flaky recently. This one and #28920 should not be affected by the recent changes on RRef.

[2019-10-30 22:25] zhaojuanmao commented on #28928
Oct 30 21:46:27 test_backward_autograd_engine_error (__main__.DistAutogradTestWithFork) ... python: tpp.c:84: __pthread_tpp_change_priority: Assertion `new_prio == -1 || (new_prio >= fifo_min_prio && new_prio <= fifo_max_prio)' failed.
Oct 30 21:46:27 terminate called after throwing an instance of 'gloo::IoException'
Oct 30 21:46:27   what():  [/var/lib/jenkins/workspace/third_party/gloo/gloo/tran

[2019-10-30 22:26] zhaojuanmao commented on #28932
Oct 30 13:55:04 test_py_built_in (__main__.RpcTestWithSpawn) ... libc++abi.dylib: terminating with uncaught exception of type c10::Error: Need to initialize distributed autograd using torch.distributed.autograd.init() (getInstance at ../torch/csrc/distributed/autograd/context/dist_autograd_container.cpp:57)
Oct 30 13:55:04 frame #0: c10::Error::Error(c10::SourceLocation, std::__1::basic_string<cha

[2019-10-30 22:26] pritamdamania87 commented on #28928
@mrshenli Is there a way to lookup all failures for a particular test?

[2019-10-30 22:27] zhaojuanmao commented on #28932
distributed autograd is not initialized for this test

[2019-10-30 23:27] xuhdev commented on #24563
Is this already in https://github.com/pytorch/pytorch/blob/gh/xuhdev/46/orig/aten/src/ATen/native/cuda/FillKernel.cu ?

[2019-10-30 23:35] Lezcano opened #28937 "A class to perform constrained optimization through a parametrization"
## 🚀 Feature
A class that implements the following pattern:
[code]
computing `f` and its derivative only once per minibatch. Note that the value of `y` and the gradient of `x` do not depend on the elements of the minibatch.

## Motivation
### A useful example
The exponential of matrices maps the skew-symmetric matrices onto the orthogonal matrices with positive determinant. One way to perform opti

[2019-10-30 23:43] raghuramank100 commented on #28844
@SethHWeidman  will be updating the tutorial shortly with clearer instructions

[2019-10-30 23:45] z-a-f opened #28938 "Cannot select version in the tutorials page"
## 📚 Documentation

The documentation pages can be viewed for different versions using the [versions page](https://pytorch.org/docs/versions.html). However, when navigating to the "Tutorials", the versions cannot be selected. This is a problem for the experimental parts (s.a. quantization), as we update the tutorials in master, which cannot be viewed.

[2019-10-30 23:45] vishwakftw commented on #28919
Are doc-fixes / improvements included? We documented `lgamma` and `polygamma` after 1.3.0 was released.

[2019-10-31 00:24] RuABraun commented on #28878
It's seems pretty easy to get around by using `nn.Parameter` instead, but still.

[2019-10-31 00:30] rohan-varma opened #28940 "Move misc. RPC arguments to an Options structure"
## 🚀 Enhancement
There are a couple of different rpc options when we initialize model parallel right now, such as number of send/recv threads and the timeout for RPCs. It is likely that this list will grow, so it would be good to consolidate this into an options class `RpcOptions`. This can be implemented in `rpc_agent.h` since the arguments should be applicable for all rpc agents.

cc @pietern @m

[2019-10-31 00:43] vadimkantorov commented on #28937
related old discussion about CalculatedParams: https://github.com/pytorch/pytorch/issues/7313

[2019-10-31 00:50] izdeby commented on #28868
Please use https://discuss.pytorch.org (https://discuss.pytorch.org/) for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-10-31 00:50] #28868 closed

[2019-10-31 00:51] izdeby commented on #28863
Please use https://discuss.pytorch.org (https://discuss.pytorch.org/) for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-10-31 00:53] izdeby commented on #28850
Please use https://discuss.pytorch.org (https://discuss.pytorch.org/) for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-10-31 00:53] #28850 closed

[2019-10-31 01:15] pritamdamania87 commented on #28928
I haven't been able to repro this failure so far. I tried running the test 200 times on the docker container for the failed run but haven't seen any failures yet.

[2019-10-31 01:20] #28753 closed

[2019-10-31 01:24] Ian09 commented on #28872
Hi, so is there any suggestion to add the required "pthread" library? I did not find the clue about how to set the environment and you see the required library is already installed.

Thanks very much!

[2019-10-31 01:27] mrshenli commented on #28928
@pritamdamania87 I am not aware.
cc @ezyang

[2019-10-31 01:35] rohan-varma commented on #28932
@zhaojuanmao @mrshenli I'm not sure how the code path indicated by the above error trace can be executed, since this test doesn't use dist autograd. Is it possible that this could be caused by recent changes to how python UDFs are handled?

[2019-10-31 01:39] mrshenli commented on #28928
If you click into the dr.ci, and then click patterns, it will show the number of occurrences of the same failures in that PR.

[2019-10-31 01:57] gchanan commented on #7334
@MarsTT did you run into this?

[2019-10-31 02:10] hyc-xyz commented on #23999
Does any know how to fix this?

[2019-10-31 02:12] tianlanli commented on #28880
[code]
can you tell my why map type(obj) rather than map dict :

[code]

[2019-10-31 02:57] zysite opened #28943 "The `@` operation uses too much memory on GPU"
## 🐛 Bug

## To Reproduce

#### A

[code]

#### B

[code]

The above two operations are equivalent. But **A** uses 10224M of memory on GPU and **B** uses only 4024M.

Seems to be a similar problem to #18862.

## Environment

 - PyTorch Version (e.g., 1.0): 1.3.0
 - OS (e.g., Linux): Linux
 - How you installed PyTorch (`conda`, `pip`, source): `conda`
 - Python version: 3.7
 - CUDA/cuDNN version: 9

[2019-10-31 03:11] MarsTT commented on #7334
I have solved this problem, you can import the library like:
`import caffe2.python.onnx.backend as backend`

[2019-10-31 03:27] vellano opened #28945 "RuntimeError: Didn't find engine for operation quantized::conv_prepack NoQEngine"
I build pytorch 1.3 on Arm A53 from source, and run the tutorial code static_quantization_tutorial, it produce the error:

holo@ark:~/hlh/tutorials/advanced_source$ python static_quantization_tutorial.py
/usr/local/lib/python3.6/dist-packages/torchvision-0.5.0a0+1e857d9-py3.6-linux-aarch64.egg/torchvision/io/_video_opt.py:17: UserWarning: video reader based on ffmpeg c++ ops not available

 Invert

[2019-10-31 03:53] BIT-silence commented on #28738
https://github.com/pytorch/pytorch/pull/28944 should fix that and also add torch.nn.GELU as the module version.

[2019-10-31 03:59] BIT-silence opened #28947 "Add torch.nn.GELU as the module for GELU activation"
## 🚀 Feature

Add torch.nn.GELU as the module for GELU activation.

## Motivation

Currently we have a torch.nn.functional.gelu op but no corresponding module like we do for the other activations (e.g. nn.ReLU()).

## Pitch

## Alternatives

## Additional context

[2019-10-31 04:03] anands-repo commented on #3223
@ptrblck Thanks. This is a great feature.

Quick question: Is the following
` return tuple(tensor.narrow(int(dim), int(start), int(length))
        for start, length in zip(splits, split_sizes))`

faster than running it in a for loop

For example, when run on a GPU, would these statements be executed in parallel just because the multiple "torch.narrow"s are in a single statement?

[2019-10-31 04:31] rilesdg3 commented on #28579
Does any one have any thoughts on this issue?

thank you

[2019-10-31 04:46] soumith commented on #28863
the user is reporting a possible bug, not asking a question

[2019-10-31 05:36] PrachiPrakash commented on #28947
can I work on this task  looks good for a starter

[2019-10-31 05:46] ShuangjunLiu opened #28950 "ConnectionResetError when using dataLoader"
## 🐛 Bug

ConnectionResetError  when 'pin_memory=True' for dataLoader.
A simple test case is provided.
( I found the issue in a more complex training code with larger dataset. I made a simple code to pinpoint the problem)

## To Reproduce
[code]
output + error infor:

Exception in thread Thread-1:
Traceback (most recent call last):
  File "/home/jun/miniconda3/envs/py37/lib/python3.7/threading.py"

[2019-10-31 05:47] ArsenLuca opened #28951 "A question about static_quantization_tutorial"
When I run the code about static post-training quant in https://pytorch.org/tutorials/advanced/static_quantization_tutorial.html,
a warning rises that
**"/home/arsen/anaconda3/lib/python3.7/site-packages/torch/quantization/observer.py:592: UserWarning: must run observer before calling calculate_qparams.                                    Returning default scale and zero point
  Returning default s

[2019-10-31 05:47] zyl19930813 opened #28952 "Is the bias quantized when torch.quantization.convert()?"
## 🚀 Feature

When I use the torch.quantization.convert() and print the bias, I find the bias has no scale.
## Motivation

## Pitch

## Alternatives

## Additional context

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a

[2019-10-31 06:04] t-vi commented on #28872
I would suggest closing this and using the forums.

[2019-10-31 06:22] ahmedalbahnasawy commented on #19453
https://fossies.org/diffs/pytorch/0.4.1_vs_1.0.1/torch/csrc/api/src/nn/modules/rnn.cpp-diff.html

[2019-10-31 07:01] Ian09 commented on #28872
OK, thanks

[2019-10-31 07:01] #28872 closed

[2019-10-31 07:10] cswwp opened #28954 "add_graph() with pytorch 1.1.0, tensorboardx 1.9 error"
add_graph() with pytorch 1.1.0, tensorboardx 1.9 error
**error info**: torch.autograd.profiler.profile(record_shapes=True, use_cuda=use_cuda) as prof: TypeError: init() got an unexpected keyword argument 'record_shapes' @lanpa

[2019-10-31 07:12] #28954 closed

[2019-10-31 07:17] ugurkanates commented on #15012
Yes I was @soumith

[2019-10-31 07:29] qzhong0605 commented on #28745
According to your log file, the error was the following:
[code]
The used compiler when you built `PyTorch` was `/misc/opt/gcc/7.3.0/bin/g++`;  But the `linker` was `/usr/bin/ld`. Maybe your `linker` tool was too old and you need to **upgrade** your `linker` tool.

Besides, you can install [devtoolset](https://www.softwarecollections.org/en/scls/rhscl/devtoolset-7/) package for upgrading `gcc/g++`

[2019-10-31 08:01] #22526 closed

[2019-10-31 08:04] vladserkoff opened #28955 "Unable to build cuda extension without nvidia runtime with PyTorch 1.3"
## 🐛 Bug
I'm trying to build a pytorch cuda extension (https://github.com/microsoft/pytorch_od) inside a docker container, for this I'm using official dev image `pytorch/pytorch:1.3-cuda10.1-cudnn7-devel`. But the build fails with an error stating that no nvidia driver has been found, see the traceback at the bottom.
When I try to build it inside a runnig container with `--runtime=nvidia` this bui

[2019-10-31 08:20] Sisim commented on #28906
Chrome Browser in Windows 10 with two Resolutions
1. 1920 x 1080
2. 1920 x 1200
in Both case were not sharp, but it would be ok, if I zoom out my chrome browser to 90% otherwise by default setting, the problem is there.

[2019-10-31 08:22] Sisim commented on #28906
![image](https://user-images.githubusercontent.com/14979786/67930373-ede45400-fbbf-11e9-96f2-5e7161c05eb4.png)

[2019-10-31 10:20] netphantom opened #28956 "RuntimeError: CUDA error: unknown error"
Hi there,
I am issuing this problem on pytorch. I know that there are lots of similar issues like this, however none of the solution proposed works to me.

I am using this Linux system configuration:

Machine                                       : x86_64
CPU Name                                      : skylake-avx512
CPU count                                     : 64
CFS restrictions

[2019-10-31 13:22] pbelevich commented on #28956
@netphantom Could you run and paste the output of [torch/utils/collect_env.py](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)

[2019-10-31 13:29] netphantom commented on #28956
Sure, here it is the results:
[code]
by the way, both Conda and Pip gave me the same error

[2019-10-31 13:51] ezyang commented on #27326
Unfortunately I reran the job which destroyed the log. But the log is very uninformative; it's running qconv and then it segfaults. As a first step, can we make sure test_qconv is being run under ASAN? Can we also try running it under UBSAN?

[2019-10-31 13:57] SsnL commented on #28950
I believe that this has been fixed in 1.3. Could you update and try again?

On Thu, Oct 31, 2019 at 09:06 ShuangjunLiu <notifications@github.com> wrote:

[2019-10-31 14:06] sitsofe commented on #20583
I've just retested and this is working with the latest nightly using the steps from https://github.com/pytorch/pytorch/issues/20583#issuecomment-536278432 so I agree this has been fixed!

[2019-10-31 14:08] pietern commented on #28940
IMO we shouldn't do this before it becomes extreme, because you could make the same argument for every other constructor with 3 or more arguments. Also, we have the luxury of kwargs.

[2019-10-31 14:09] #20583 closed

[2019-10-31 14:15] ezyang opened #28958 "ParallelWorkersTest.testParallelWorkersInitFun is flaky"
https://app.circleci.com/jobs/github/pytorch/pytorch/3419913

[code]

cc @ezyang @gchanan @zou3519 @jerryzh168

[2019-10-31 14:18] #28198 closed

[2019-10-31 14:24] CoruNethron commented on #20070
Meet the same issue under Win10 x64
Just trying to launch very first examples from very first pytorch tutorial.
If You run `x = torch.rand(5, 3, dtype=torch.long)` instead of `x = torch.zeros(5, 3, dtype=torch.long)` then you will probably got exactly same error.
Figured it out while writing this comment. So `zeros` function accepts dtype argument just fine.

[2019-10-31 14:30] pietern commented on #28885
@mrshenli What was the PR disabling this?

[2019-10-31 14:31] qzhong0605 commented on #28955
You may set the default runtime of `dockerd` to `nvidia`  if you want to build with `cuda`. You can follow [this way](https://github.com/NVIDIA/nvidia-docker/issues/595)

[2019-10-31 14:42] ShuangjunLiu commented on #28950
I follow the official install [guide ](https://pytorch.org/) to install with command:

As I have CUDA 9.0 on my computer.

It only brought me to Pytorch1.1

Could you show me a proper way for 1.3 install?

Thanks!

[2019-10-31 14:43] BIT-silence commented on #28947
I'm sorry that we have already prepared https://github.com/pytorch/pytorch/pull/28944 to fix this as fast as possible. Maybe next time.

[2019-10-31 14:50] soumith commented on #15012
@ugurkanates can you give environment info similar to the original poster. I'd need to know the CPU model etc. Feel free to open a new issue that it is for 1.3 (the original issue was for 1.0)

[2019-10-31 14:51] soumith commented on #28952
please use https://discuss.pytorch.org for questions

[2019-10-31 14:51] #28952 closed

[2019-10-31 14:51] soumith commented on #28951
please use https://discuss.pytorch.org for questions

[2019-10-31 14:51] #28951 closed

[2019-10-31 14:53] janhaviag opened #28959 "max_norm in embedding layer modifies weight in-place leading to issues with gradient backpropogation"
## 🐛 Bug

max_norm in embedding layer modifies the embedding layer weight in-place which makes it a non-leaf variable. This leads to issues when doing gradient backpropogation.
**Error: RuntimeError: leaf variable has been moved into the graph interior**

## To Reproduce

Script to reproduce the behavior:

[code]

Stack trace:
[code]

## Expected behavior
calculating max_norm should not make the e

[2019-10-31 15:03] vladserkoff commented on #28955
In my opinion it should be possible to build on a machine without a nvidia GPU. I'm building the extension inside a CI, and then use the image on a GPU machine. And it is possible with pytorch 1.2.

[2019-10-31 15:06] mrshenli commented on #28885
@pietern #28920 is the PR.

[2019-10-31 15:18] soumith commented on #28919
if the doc fixes look harmless and cosmetic i'll take them, but no guarantees

[2019-10-31 15:21] vadimkantorov opened #28962 "[feature request] Some activations modules missing inplace argument"
E.g. nn.Tanh and nn.Sigmoid are missing inplace argument, though torch.Tensor.sigmoid_ exists (although torch.nn.functional.sigmoid does not support inplace/out argument either)

https://pytorch.org/docs/master/tensors.html?highlight=sigmoid_#torch.Tensor.sigmoid_

consistency wrt out arguments is nice to easier support inplace mode like in https://github.com/pytorch/pytorch/issues/26644#issuecomm

[2019-10-31 15:23] pbelevich commented on #28919
Fix [argmax for half datatype](https://github.com/pytorch/pytorch/issues/28623) (regression)
---
Status: PR open against v1.3.1 at #28915

[2019-10-31 15:25] tastyminerals commented on #23545
Experiencing the same issue with a custom u-net + current master apex.

[2019-10-31 16:14] vishwakftw commented on #28919
Add polygamma and lgamma to the docs [doc-fix / addition]

---
Status: PR open against v1.3.1 at https://github.com/pytorch/pytorch/pull/28964

[2019-10-31 16:18] mehdiAtCellarEye commented on #27969
@RicCu and @fmassa,

Both PRs seems to be closed and merged. However, I still cannot get it working using the nightly (torch version 1.4.0.dev20191030 and torchvision 0.5.0.dev20191031). I tried with cuda as:

`import torch, torchvision
device = torch.device('cuda') if torch.cuda.is_available() else torch.device('cpu')
model = torchvision.models.detection.fasterrcnn_resnet50_fpn(pretrained=True).t

[2019-10-31 16:50] mrshenli commented on #24252
It's #26314 I think

[2019-10-31 17:04] pbelevich commented on #28943
@zysite why do you think that this code uses GPU(I don't see anything like "device" or "cuda" in your code snippet) and how did you measure memory usage?

[2019-10-31 17:11] ezyang commented on #27326
Occurrence: https://app.circleci.com/jobs/github/pytorch/pytorch/3421437

[2019-10-31 17:12] zhaojuanmao commented on #28932
talked with @pritamdamania, he mentioned the dist autograd initialization may need barrier. it is possibly one process send rpc to another process, but another process has not finish autograd initialization yet

[2019-10-31 17:13] zasdfgbnm commented on #17241
Python 2 supporting is ending. Don't worth investing time to fix this.

[2019-10-31 17:13] #17241 closed

[2019-10-31 17:13] zasdfgbnm commented on #17246
python 2 support is ending soon, don't worth the time to fix.

[2019-10-31 17:14] #17246 closed

[2019-10-31 17:14] #16813 closed

[2019-10-31 17:18] ezyang commented on #14157
https://app.circleci.com/jobs/github/pytorch/pytorch/3420126

[2019-10-31 17:18] ezyang commented on #14157
[code]

[2019-10-31 17:19] ezyang opened #28969 "Conda downloads from anaconda.org are flaky sometimes"
[code]

https://app.circleci.com/jobs/github/pytorch/pytorch/3420118

cc @ezyang @gchanan @zou3519 @jerryzh168

[2019-10-31 17:20] ezyang opened #28970 "Sometimes Docker downloads from ECR are flaky"
[code]

https://app.circleci.com/jobs/github/pytorch/pytorch/3420066

cc @ezyang @gchanan @zou3519 @bdhirsh @heitorschueroff @jerryzh168

[2019-10-31 17:21] pbelevich commented on #28959
I was able to reproduce it in master, if device='cuda' it works

[2019-10-31 17:34] zysite commented on #28943
Sorry, I left out `cuda()` in my snippet.
The memory usage is monitored by `watch
-d -n 0.01 nvidia-smi`. And when these two operations are invoked, they differ significantly in memory usage.

[2019-10-31 17:37] albanD commented on #28959
This is a duplicate of: https://github.com/pytorch/pytorch/issues/28370

I'm closing this one in favor of the other issue, feel free to discuss it there.

[2019-10-31 17:37] #28959 closed

[2019-10-31 17:46] Pozimek opened #28973 "LSTM Peephole Connections backpropagation"
Feel free to correct me if my understanding of this issue is wrong, as I feel pretty confused about it myself. [The LSTM paper](ftp://ftp.idsia.ch/pub/juergen/TimeCount-IJCNN2000.pdf) defines a [specific rule](https://i.imgur.com/peOKqkL.png) for gradient updates of the 'peephole' connections that enable each of the gates to inspect the memory cell. The writing style is quite painful, but the part

[2019-10-31 18:00] zasdfgbnm commented on #28789
@mruberry I will fix this issue

[2019-10-31 18:10] mmaybeno commented on #22676
I had this issue in colab. Resolved by uninstalling the current `tensorboard` and installing `tf-nightly`

[code]

[2019-10-31 19:01] ezyang commented on #28973
As a question on usage of PyTorch, you will probably get better answers on https://discuss.pytorch.org/ However, you may be able to implement the behavior you're looking for using backward hooks that, for example, zero out gradients in directions you don't want them to flow.

[2019-10-31 19:01] #28973 closed

[2019-10-31 19:03] xush6528 opened #28976 "test_backward_node_failure is flaky"
## 🐛 Bug

Using sleep to simulate syncronization is flaky.

cc @ezyang @gchanan @zou3519 @jerryzh168 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528

[2019-10-31 19:26] ezyang commented on #28958
cc @kevinwilfong (original author of this test) and @akyrola (reviewer of the diff that added the test) in D5538626. How would you feel if we disabled this test?

[2019-10-31 19:28] elbamos commented on #27627
What more can I do to be helpful?

[2019-10-31 19:29] ShuangjunLiu commented on #28950
## problem
After updating to pytorch 1.3, this issue sticks there.  It randomly happened during repeating test.

## test case
Still the demo code provided above.
In 4 runs, 3 succeeded, one failed.

## env
I create a new environment py37 on my system with system infor below.

Is debug build: No
CUDA used to build PyTorch: 9.2.148

OS: Ubuntu 16.04.6 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.11

[2019-10-31 19:36] albanD opened #28980 "Unsafe use of `at::parallel_for` in current codebase"
As discussed in https://github.com/pytorch/pytorch/issues/28370 , `parallel_for` is not propagating thread local states to worker threads which can lead to subtle errors when operations relying on thread local states are performed inside it.

Here is a list of all the potentially unsafe calls we have:
- [ ] In `Aten/native/Normalization.cpp` [here](https://github.com/pytorch/pytorch/blob/42faf961c

[2019-10-31 19:40] akyrola commented on #28958
I have no objections

[2019-10-31 19:42] SsnL commented on #28950
Thanks for the update. Unfortunately I can't reproduce on 18.04 with PyTorch 1.3. Sometimes low amount of available shm can cause problems. Could you check that?

[2019-10-31 19:42] dreiss commented on #6570
This is ready for some preliminary testing.  We'll get the setup procedure significantly simplified before the 1.4 release.  Please provide feedback!

- Download and unpack libtorch 1.3 or nightly.  (From the pytorch.org homepage under "Quick Start
Locally", make sure "LibTorch" is the selected package.)
- Make sure you have a recent Gradle and CMake installed.  Also elinks if you want test result

[2019-10-31 19:55] mrshenli opened #28983 "Add document page for torch.distributed.rpc/autograd"
`distributed_c10d` has a nice doc page [here](https://pytorch.org/docs/stable/distributed.html), and the source code of that live in [here](https://github.com/pytorch/pytorch/blob/master/docs/source/distributed.rst). We should add a similar page for rpc and distributed autograd to describe the API.

@rohan-varma brought up a point that whether we want to add the new docs into the existing `distrib

[2019-10-31 19:59] ShuangjunLiu commented on #28950
The shm seems to be large enough for a loader with only 8 entries which is quoted here.
It is possible that it is not reproduced on another machine as it also works fine on a cluster node with same pytorch version and centos OS.

Filesystem             Size  Used Avail Use% Mounted on
udev                   7.8G     0  7.8G   0% /dev
tmpfs                  1.6G   26M  1.6G   2% /run
/dev/sdc1

[2019-10-31 20:00] kevinwilfong commented on #28958
If that assert is the reason it's flaky, it's fine to remove that line, the purpose of the test is really captured in the for loop above.  I'm happy to file a diff to make the change.

[2019-10-31 20:18] pritamdamania87 commented on #28819
If we have a valid context id, does this mean we should always use `RpcWithAutograd` for all RPCs we send? We can avoid attaching the send/recv functions, but always send the context id around?

[2019-10-31 20:26] dreiss opened #28986 "Put PyTorch JNI library and fbjni in libtorch distribution."
## 🚀 Feature
Put PyTorch JNI library and fbjni in libtorch distribution.

## Motivation

Demand for Java support shows up here: https://github.com/pytorch/pytorch/issues/6570

It's possible for users to build the JNI bindings themselves, but inconvenient.

## Pitch

- Build PyTorch JNI and its dependency fbjni as part of the libtorch build and bundle them with the libtorch distribution.
- The Java

[2019-10-31 20:33] pritamdamania87 commented on #25532
This would work although it isn't clean since this RRef doesn't have anything to do with RpcAgent. We would have to introduce an asynchronous task execution framework (with its own threadpool) where we can submit these tasks and get futures. Also, each RpcAgent has its own threadpool. One way might be that we have a common threadpool across all RpcAgents where they submit tasks to be executed (bas

[2019-10-31 20:34] rohan-varma commented on #28983
For 2, I think since that rpc and dist autograd interact a lot together and a user would probably use both of them if they were using one, they should live in the same page

[2019-10-31 20:55] ifedan commented on #28919
Fix torch.where to accept tensors with different dtypes(CPU), PR against v1.3.1 at https://github.com/pytorch/pytorch/pull/28992

[2019-10-31 20:58] zou3519 opened #28993 "torch.mean(x, dims=[]) has incorrect gradient in 1.2"
## 🐛 Bug

[code]
`torch.mean(x, [])` should be equivalent to `torch.mean(x)` unless I am missing something. Compare the above code to the following code:
[code]

This is on PyTorch 1.2. One can't actually run this code on PyTorch 1.3 (it says the gradient is not implemented).

cc @ezyang @gchanan @zou3519 @jerryzh168 @SsnL @albanD @gqchen

[2019-10-31 21:12] ngoldbaum commented on #27648
I've seen this several times as well.

[2019-10-31 21:13] pritamdamania87 commented on #28932
I think our initialization overall might need some barrier. Since one node might finish RPC initialization and call an RPC on another node which hasn't initialized RPC yet and this would result in the RPC call failing.

[2019-10-31 21:23] ezyang commented on #28958
@kevinwilfong yes please! I can approve it for you.

[2019-10-31 21:26] mrshenli commented on #28245
Updated `topic: model-parallel` to `module: rpc`

[2019-10-31 21:28] ezyang commented on #28980
My general heuristic here is if you're doing a fat dynamic dispatch inside a tight loop (of which `parallel_for` most certainly is), there is a performance problem in the kernel. So I generally think the kernel should be rewritten to not make these calls.

[2019-10-31 21:34] ilia-cher commented on #28980
how can I check which tensor ops rely on thread local states and which do not?

[2019-10-31 21:35] ilia-cher commented on #28980
or can we get at least some list of examples of ops that rely on thread local states

[2019-10-31 21:35] peterbell10 commented on #28389
It looks like this is the default behaviour of intel's OpenMP implementation. I say this for three reasons:

1. I can only reproduce the issue on platforms with MKL/intel OpenMP
2. Setting the environment variable `KMP_AFFINITY=disabled` fixes the issue
3. Setting `KMP_AFFINITY=verbose` explicity shows openmp setting the affinity

[code]

In normal python code I see `kmp` doing this setup when `to

[2019-10-31 21:37] mattorourke17 opened #28997 "option to save to disk when calling save_for_backward()"
## 🚀 Feature
When calling `save_for_backward` inside a built-in or custom `torch.autograd.Function`, it would be nice to have the option to store these tensors on disk rather than in memory.

## Motivation

Some operations, such as matrix decompositions, require the storage of multiple intermediate tensors using the `save_for_backward(*tensors)` method each time they are called. In applications wh

[2019-10-31 21:43] albanD commented on #28980
The dispatch of the tensor ops itself relies on thread local. So all operations rely on thread local states in some sense.

The particular trigger in the linked issue is actually a case where the dispatch is faulty and cause some ops to run on Variables while they should run on Tensors.
But with the current implementation. If this is running on code that relies on the autograd engine to track the

[2019-10-31 21:44] wanchaol opened #28998 "[jit] support self._modules in TorchScript"
[code]

now throws:

[code]

cc @suo

[2019-10-31 21:45] ilia-cher commented on #28389
I don't think we provide guarantees on thread affinity when using intra- or inter-op parallelism as of the moment. Technically, thread may change its core/processor depending on external factors (parallelization library used; afaik in some cases OS may choose to move threads, etc). Some affinity (e.g. usage of specific CPU) may be enforced on the process level (e.g. numactl).

[2019-10-31 21:47] SsnL commented on #28389
I wonder if things are different with fork vs spawn.

On Thu, Oct 31, 2019 at 17:36 peterbell10 <notifications@github.com> wrote:

[2019-10-31 21:49] ilia-cher commented on #28980
We should be able to send a fix for this, at least, for the dispatcher case.

[2019-10-31 22:03] albanD commented on #28980
At least for the data_parallel case, even if the dispatcher works, the [`grad mode`](https://github.com/pytorch/pytorch/blob/ba6defeb072e331c3ac4f106952bc35308384774/aten/src/ATen/core/grad_mode.cpp) should be transferred as well.
Otherwise you migh ignore/track gradients on some gpus but not others.

[2019-10-31 22:04] peterbell10 commented on #28389
The following code works correctly with `spawn` or `forkserver` but not with `fork`:

[code]

I'm assuming that `kmp` lazily recreates its thread pool on the first OpenMP call and that's also when the affinity is set.

[2019-10-31 22:12] SsnL commented on #28389
Then we can easily mp.util.register_after_fork to fix this.

On Thu, Oct 31, 2019 at 18:05 peterbell10 <notifications@github.com> wrote:

[2019-10-31 22:16] SsnL commented on #28950
I'm pretty out of clue then.... If you find more info, or this turns out to lead to bugs, let us know! Thanks.

[2019-10-31 22:24] HanGuo97 opened #29004 "Typo in "from .replicate import replicate as repliace""
## 🐛 Bug

In `https://github.com/pytorch/pytorch/tree/master/torch/nn/parallel`
[code]
This is supposed to be `replicate`.

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the c

[2019-10-31 22:31] HanGuo97 commented on #29004
Submitted a PR: #29005

[2019-10-31 22:33] n-gao commented on #23475
This feature would be great!
Is there any faster way than a for loop atm? I have to compute the derivatives of every network output (which is one per sample in a batch) wrt every parameter in the network. So, if my batch_size is N and I have M parameters I need a NxM matrix. The batch size has to be quite large and this has to be evalauted at every training step. The for loop is just not fast enou

[2019-10-31 22:37] ilia-cher commented on #28980
Data parallel and at::parallel_for are two separate things, data parallelism is achieved by forking (or spawning) another python interpreter; I think this should not be related to intra-op parallelism;

but, in any case, yes, we should propagate known thread local states, including grad mode, within at::parallel_for

[2019-10-31 22:46] albanD commented on #28980
What I meant is that the cpp api version of data parallel nn Module is currently implemented using `at::parallel_for`, it's the last link in the list above [link](https://github.com/pytorch/pytorch/blob/42faf961c83d192933e199f8228909cc171765ca/torch/csrc/api/include/torch/nn/parallel/data_parallel.h#L207-L227).

[2019-10-31 22:52] dashesy commented on #28259
@neginraoof any estimate as when this will merged in master?

[2019-10-31 22:55] ShuangjunLiu commented on #28950
Would you like to increase the list size like
`self.lst = list(range(1000000))`

After this, it occurs more frequently one my  machine.

[2019-10-31 22:58] pbelevich commented on #29004
@HanGuo97 thank you for the pull request!

[2019-10-31 22:59] ShuangjunLiu commented on #28950
Besides ConnectionResetError, sometimes it also shows  EOFERROR cited here.

Traceback (most recent call last):
  File "/home/jun/miniconda3/envs/py37/lib/python3.7/threading.py", line 926, in _bootstrap_inner
    self.run()
  File "/home/jun/miniconda3/envs/py37/lib/python3.7/threading.py", line 870, in run
    self._target(*self._args, **self._kwargs)
  File "/home/jun/miniconda3/envs/py37/lib/p

[2019-10-31 23:06] pritamdamania87 commented on #28976
Fixed in https://github.com/pytorch/pytorch/pull/28824

[2019-10-31 23:06] #28976 closed

[2019-10-31 23:14] pritamdamania87 commented on #28983
I think we should keep the name, since it's not necessary always collective communication (send/recv). For the new page, maybe we can title it **Distributed RPC framework**

I agree that we should have a single page for RPC, RRef and dist autograd.

[2019-10-31 23:14] BowenBao opened #29008 "[Bug] Incorrect traced graph for in-place ops in current master"
## 🐛 Bug

In PyTorch master build (275adb143e44b2348fc3ca3d3efd241e607ae34c), tracing the below snippet produces empty traced graph.

[code]

traced graph:
[code]

The traced graph was correct in PyTorch release 1.3.

[code]

cc @ezyang @gchanan @zou3519 @jerryzh168 @suo

[2019-10-31 23:22] pbelevich commented on #25878
Could not reproduce on:
[code]

[2019-10-31 23:43] ilia-cher commented on #28980
Thanks for the pointer

[2019-10-31 23:47] ricpruss opened #29010 "torch.stack does not yet support named tensors"
## 🚀 Feature
tensor.stack outputs named tensors.

## Motivation

Stack is one of those times when you are mushing together a bunch of tensors and getting the end result to match what you intended can be surprisingly tedious and finicky. Named tensors is a beautiful idea that provides names for each dimension.

## Pitch

The input tensors should be named and the names should match in all the dimens

[2019-11-01 00:42] SsnL commented on #28950
@ShuangjunLiu I'm running this in a `while True` loop yet still can't reproduce the exception.

[2019-11-01 00:57] #24063 closed

[2019-11-01 00:58] #24064 closed

[2019-11-01 00:58] jerryzh168 commented on #24066
not needed anymore since we moved layout transformation inside the ops.

[2019-11-01 00:58] #24066 closed

[2019-11-01 00:58] souryadey commented on #16417
I think it depends on the total input size a particular layer is dealing with. For example, if a batch of 256 (32x32) images go through 128 filters in a layer, total input size is 256*32*32*128 = 2**25. This number should be below some threshold, which I guess is machine specific. For AWS p3.2xlarge for example, it is 2**26. So if you're getting CuDA memory errors, try reducing batch size or numbe

[2019-11-01 01:06] dashesy commented on #25805
@neginraoof I added a PR (above) for this simple case, would appreciate if you look. I will add some test cases if you think this is fine.

[2019-11-01 01:10] z-a-f commented on #28518
As per discussion with @smessmer the landed solution creates a dependency from dispatch onto quant and back. Instead of having a specialized message for the quantization, we need to have a more generic message.

[2019-11-01 01:34] qzhong0605 commented on #28955
It's possible with `pytorch 1.2` because you were inside a running container with `--runtime=nvidia`.

However, you failed when building an image based on `pytorch/pytorch:1.3-cuda10.1-cudnn7-devel` through `Dockerfile` because the `runtime` for a started `container` was not `nvidia`.

[2019-11-01 01:44] vadimkantorov opened #29013 "[feature request] Reinterpret tensor as different dtype"
I'd like to read audio file by using a sox utility directly. Currently I can do it as:
[code]

Is there a way to reinterpret a torch byte tensor (or python's `bytearray(...)`) as another type without invoking first NumPy? (or a generic numpy.view(dtype) functionality) If not, I think it'd be quite useful (mainly for integral types, but also maybe for some integer bit-tricks on float32 tensors, whi

[2019-11-01 02:35] CoinCheung opened #29015 "BN layer buffers does not update when the model is deeply copied"
## 🐛 Bug
Just run this example code:

[code]
Run the above code I found that the running mean value does not get updated, unless I comment the line of `net = copy.deepcopy(net)`.

## Environment
Collecting environment information...
PyTorch version: 1.3.0
Is debug build: No
CUDA used to build PyTorch: 10.1.243

OS: Ubuntu 16.04.6 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
CMa

[2019-11-01 04:27] #28792 closed

[2019-11-01 04:46] SsnL commented on #14229
implemented now!

[2019-11-01 04:46] #14229 closed

[2019-11-01 04:51] SsnL commented on #22135
I think this is fixed by a couple recent PRs

[2019-11-01 04:51] #22135 closed

[2019-11-01 05:31] fahruz commented on #17203
I have the same issue. Downgrading to Python 3.7.1 didn't work.

[2019-11-01 05:39] rohan-varma commented on #28245
If the high-priority label means that it should be shipped by the next release of pytorch, then we should remove the label, since this will likely not be ready in time for the release

[2019-11-01 05:42] rohan-varma opened #29018 "Let user configure default timeouts on a per-RPC basis"
## 🚀 Feature
https://github.com/pytorch/pytorch/pull/28392 is adding timeouts per RPC, but it is currently a global timeout. Per @pritamdamania87's suggestion, we should:

1.Have a timeout parameter in RpcAgent.send().
2. For user RPCs, we always fill that in with the default rpc timeout.
3. For system RPCs, it'll default to 0 (which would be infinite) unless the system RPC sets it.
4. Later we ca

[2019-11-01 05:47] jianyuh opened #29019 "Proposal to change the offsets for the EmbeddingBag operator in PyTorch"
## 🚀 Feature
The PyTorch EmbeddingBag operator computes sums or means of “bags” of embeddings, without instantiating the intermediate embeddings. Assuming the number of “bags” is B. Let’s take a look at a simple PyTorch EmbeddingBag operator example:

[code]

Here is the simplest version of PyTorch EmbeddingBag API:

[code]

* num_embedding: the size of the dictionary of embeddings.
* embedding_di

[2019-11-01 06:07] isaac-you opened #29020 "why conda install python3.6.7 for pytorch ???"
Hello

According to https://pytorch.org/
I use the code :

[code]
to install pytorch in my ubuntu system

but when I use ipython to start python and import torch then  report :
[code]

And when I use python in the terminal to start python , then it is ok

So, when use the code to install pytorch  it is automatically install python3.6.7 for pytorch
but anaconda is under python3.6.5  then cannot imp

[2019-11-01 06:24] SixerWang commented on #19453
The bug seems to be fixed in Libtorch1.3.0. I test in cuda10.1, cudnn7 and Libtorch1.3.0.

[2019-11-01 07:18] vladserkoff commented on #28955
@qzhong0605, that's not correct. It is possible to build inside `pytorch/pytorch:1.2-cuda10.0-cudnn7-devel` without nvidia runtime.

[2019-11-01 07:56] vadapalliravikumar opened #29021 "Named Tensors: size of a named dimension"
how do we get the size of a particular named dimension ? Today, I get it as shown below, but it seems round about. Is there a better way to doing the same ?

[code]

[2019-11-01 08:00] vadapalliravikumar opened #29023 "Named Tensors: Slicing based on name"
How do we slice tensors based on their names ? Are there named equivalents for

- t[0,:,:] = blabla

- x= t.narrow(0, 0, 1)

[2019-11-01 08:04] jiacheng1gujiaxin opened #29024 "Speed slows down after model quantization"
my model is based on E-inception,after quantized  , i found it forward slower,
the original model run on CPU cost 200ms and 20ms on GPU , but the quantized model cost 290ms,

is it caused by the operation of layers concatenate??

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a

[2019-11-01 08:17] Hans0124SG commented on #20822
If I am reading time-series numerical and text data from the local SQL server through psycopg2 connection to my customized Dataset, and I would like to use DataLoader with more than 1 num_worker, I will get errors like SSL Error due to the fact that I have only one connection to the database.

May I know in the current framework, is there any good solution to this? If not, I think a data reading f

[2019-11-01 08:37] Norfo commented on #28276
I solved my problem with copying all pytorch dlls into the folder with my project. Thanks!

[2019-11-01 08:37] #28276 closed

[2019-11-01 09:25] chimoses opened #29026 "RuntimeError: !t.is_cuda() INTERNAL ASSERT FAILED at /pytorch/aten/src/ATen/native/sparse/SparseTensorMath.cpp:591"
## 🐛 Bug

RuntimeError: !t.is_cuda() INTERNAL ASSERT FAILED at /pytorch/aten/src/ATen/native/sparse/SparseTensorMath.cpp:591

## To Reproduce
File "/home/jinzhu/pro/UIL/GraphMatch/layers.py", line 42, in forward
    output = torch.spmm(adj, support)
RuntimeError: !t.is_cuda() INTERNAL ASSERT FAILED at /pytorch/aten/src/ATen/native/sparse/SparseTensorMath.cpp:591, please report a bug to PyTorch.

[2019-11-01 12:14] cepera-ang commented on #27376
I think that current behavior is a bug. The change introduced here https://github.com/pytorch/pytorch/pull/18875 causes inclusion of unnecessary ops into the onnx graph and **also** prevents export of upsampling to opset 7 and 8.

In the PR above there is vague mention in comment about "not baking the constant" as motivation to return tensor without any discussion why it is important (at least I c

[2019-11-01 12:41] daehwannam commented on #711
I made a LSTM frame, where custom LSTM is defined by a list of LSTM cell objects:
https://github.com/daehwannam/pytorch-rnn-util
https://stackoverflow.com/a/58658005/6710003

The custom LSTM supports all the __init__ options of PyTorch's standard LSTM but it must be slower than the standard LSTM.

[2019-11-01 13:43] shubho opened #29028 "Inconsistent documentation for in-place functions at https://pytorch.org/docs/stable/torch.html"
## 📚 Documentation

In-place functions are documented inconsistently. For example functions that generate samples from a distribution have a section called "In-place random sampling", however there is no other documentation for other in-place functions.

For example `pow_()` and `log_()` are not documented anywhere. Other in-place functions like `fill_()` are referenced in example code but not men

[2019-11-01 14:08] zou3519 commented on #29021
You can do `t.size('H')`.

I'm not sure this is documented well so I am going to leave this issue open as a documentation issue.

[2019-11-01 14:09] zou3519 commented on #29023
Not yet, but they are on the roadmap. Thank you for flagging, @vadapalliravikumar.

[2019-11-01 14:18] mrshenli opened #29031 "Remove worker_name_to_id from rpc init API"
As a temporary solution, we added `worker_name_to_id` to the rpc init API to simplify RpcAgent initialization process. Ideally, each RpcAgent implementation should either communicate directly to collect all names or read the names from the store (initialized by using the `init_method` arg). If it is too complicated to add the name support in store for now, we could use a temporary process group in

[2019-11-01 14:21] jafermarq opened #29032 "_load_from_state_dict in Observers should check if key is in state_dict"
If a model uses observers (for quantisation) and then this model is saved and used to initialise another model, if this second model has additional observers, `_load_from_state_dict` will raise a `key error` since it currently doesn't check if the key is present in the `state_dict`. I think this check should be enforced if `strict = False`

## To Reproduce

Steps to reproduce the behavior:

1. Def

[2019-11-01 14:34] ezyang commented on #28997
Some quick notes:
1. This wouldn't work with double backwards, as we can't conveniently serialize the autograd graph itself
2. Here's what we save for backwards:
[code]

So except for the Node bits and the version counters, it does sound possible to save this.

[2019-11-01 14:37] #28370 closed

[2019-11-01 14:46] ezyang commented on #28245
@rohan-varma no, it doesn't necessarily mean that. It's more of a way to make sure we don't forget about these bugs; we do metrics on high priority issues, we don't on non-high priority issues.

[2019-11-01 14:48] zappa- opened #29033 "Move allgather_coalesced functionality to comm.cpp."
## 🚀 Feature
Move allgather_coalesced functionality to comm.cpp.

## Motivation

allgather_coalesced does not rely on any backend specific functionality as it just uses process group's allgather. Therefore, by moving it to some more generic place we can get all supported usecases of allgather to be supported for allgather_coalesced

## Additional context

This was requested as a part of review of

[2019-11-01 14:54] albanD commented on #28997
@ezyang we don't really need to save all these fields. The problem if I understand it properly is just that the `data_` is too big.
We could make SavedVariables where data_ is either a Tensor or a Tensor serialized to a file.

Also if we keep the rest of the struct intact, it won't be a problem for double backward right?

[2019-11-01 15:15] miranthajayatilake commented on #1942
On VS code:
Add `"python.linting.enabled": false`  to the settings file. Worked for me.

[2019-11-01 15:16] miranthajayatilake commented on #701
On VS code:
Adding `"python.linting.enabled": false` also worked in this case.

[2019-11-01 15:17] alanhdu opened #29035 "[jit][script] Support namedtuples from other files"
## 🐛 Bug

`torch.jit.script` seems to choke when using namedtuples imported from other modules. There are possibly two distinct bugs here:

## To Reproduce

Suppose I have three files:

a.py
[code]

b.py:
[code]

c.py:
[code]

Then running `b.py` fails with:
[code]

while running `c.py` fails with:
[code]

Using a namedtuple defined *within* the same file works just fine though.

## Expected behav

[2019-11-01 15:36] thiagocrepaldi commented on #20822
Maybe you can use the `DataLoader`s `worker_init_fn` to create new connections for each worker

[2019-11-01 15:54] alanhdu opened #29036 "[jit][script] torch.jit.script fails on None w/o type annotation"
## 🐛 Bug

Without a type annotation, returning `None` from a `torch.jit.export`-ed function has really weird behavior when `torch.jit.script`-ed.

## To Reproduce

[code]

fails with

[code]

Interestingly, if you explicitly annotate `B.forward` as returning an `Optional[int]` (for example), then this passes runs perfectly (with the code that you would expect).

## Expected behavior

The script ab

[2019-11-01 16:02] colesbury commented on #29020
The module name is "torch": use `import torch` (not import pytorch)

If you use the Anaconda (miniconda3) Python 3.7 installer it will use Python 3.7:
https://docs.conda.io/en/latest/miniconda.html

[2019-11-01 16:02] #29020 closed

[2019-11-01 16:11] pichuang1984 opened #29037 "register_forward_hooks (and register_backward_hooks) support for TorchScript."
## 🚀 Feature
register_forward_hooks (and register_backward_hooks) supported in TorchScript.

## Motivation

A lot of times we inherent a model or get the model from some other developers and wish to trace the model quickly to understand its flop and memory requirement based on an input size. We used to be able to do that by adding a hook (through register_forward_hooks) but not anymore with the la

[2019-11-01 16:47] zappa- commented on #29033
Seems like there could be an efficiency problem if this is addressed in a straightforward manner.

The proposed solution was to call ProcessGroup::allgather API from comm::allgather_coalesced, however ProcessGroup::allgather creates a copy of output and hence incurs an extra memory allocation and memory copy (e.g. when ProcessGroupGloo::allgather calls into gloo::allgather).

One proposed solution

[2019-11-01 16:54] r734 commented on #18626
This would go with the [K8s Shared GPU Scheduler](https://github.com/AliyunContainerService/gpushare-scheduler-extender) like peanut butter with chocolate.

[2019-11-01 16:58] jspisak commented on #27610
cc @vdantu - can you address these questions? cc @vinarm

[2019-11-01 16:58] colesbury commented on #29015
I'm not sure what you're trying to do, but:

a) This seems specific to using apex. You should report bugs to NVIDIA/apex repo
b) You're copying the net, but the optimizer still has references to the original net so that's not going to work

[2019-11-01 16:58] #29015 closed

[2019-11-01 16:59] haowu80s commented on #28288
This is specific to `libc++`. Is there clang + libc++ build in your CI?

[2019-11-01 17:03] colesbury commented on #29019
This would be a significant breaking change, right?

[2019-11-01 17:07] colesbury commented on #29024
@jiacheng1gujiaxin I don't think there's enough information here to give an answer to why your model is slower. Please re-open the issue with sufficient code to reproduce the issue (for example, the model definition).

Maybe @jerryzh168 (cc'd; or anyone else working on quantization) knows something generally about why models may be slower after quantization?

[2019-11-01 17:07] #29024 closed

[2019-11-01 17:08] colesbury commented on #29026
@chimoses can you provide the PyTorch version you're using? Any code to reproduce this issue would also be helpful.

[2019-11-01 17:12] colesbury commented on #29013
FWIW, I also have needed to do this. It's difficult to do now and it would be nice to have a function that does this.

Vadim already mentions this above, but the corresponding NumPy function is `ndarray.view`:
https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.view.html

[2019-11-01 17:15] adamjstewart commented on #24437
Closing this as I think it's a duplicate of #23482

[2019-11-01 17:15] #24437 closed

[2019-11-01 17:15] haowu80s opened #29042 "Support clang+cuda builds"
## 🚀 Feature

This feature request is to officially support building CUDA code with clang and include this build in CI.

This build is not officially supported. (https://github.com/pytorch/pytorch/issues/28417#issuecomment-546501812). There has also been related bug reports (e.g. https://github.com/pytorch/pytorch/issues/28417).

## Motivation

Due to the lack of C API and the instability of C++ A

[2019-11-01 17:22] colesbury commented on #29028
The in-place Tensor methods are documented here (although it requires clicking a few links to get to meaningful documentation):

https://pytorch.org/docs/stable/tensors.html#torch.Tensor.log_
https://pytorch.org/docs/stable/tensors.html#torch.Tensor.pow_

There's also `torch.log_` and `torch.pow_` which are not documented and weren't really intended to be a  public API. I think they accidentally g

[2019-11-01 17:25] colesbury opened #29043 "Broken links on https://pytorch.org/docs/stable/tensors.html"
## 📚 Documentation

The Tensor documentation page has broken links to torchtext, torchaudio, and C++ API. These broken links do not appear on the main documentation page.

https://pytorch.org/docs/stable/tensors.html

<img width="435" alt="Screen Shot 2019-11-01 at 1 23 03 PM" src="https://user-images.githubusercontent.com/655866/68043204-1f861980-fcab-11e9-9327-8f05b4b350b9.png">

[2019-11-01 17:29] colesbury commented on #29019
Assuming the answer to the above is "yes", a follow up question: Is there a way to implement this so that both offset formats can be supported in a release and the existing offsets can be deprecated over one or more releases?

[2019-11-01 17:31] ezyang commented on #28997
Ah yes, I think that would probably work.

[2019-11-01 17:33] jerryzh168 commented on #28945
Is fbgemm enabled?
cc @jianyuh @dskhudia

[2019-11-01 17:38] jianyuh commented on #29019
Yes: If we just change the same EmbeddingBag API and add one more dimension to the `offsets`, it will not provide the backward compatibility.

[2019-11-01 17:40] shubho commented on #29028
Yeah the question really what is considered "supported and won't go away" and "use at your own risk" - mainly we are trying to support the same in CrypTen - if the in-place functions are deprecated then we won't spend any time with them in CrypTen - also tagging @soumith

[2019-11-01 17:41] jianyuh commented on #29019
See the question and answer in the end of the issue: Consider an example of input = [1,2,4,5,4,3,2,9] and offset = [0,4,8] used for old interface (the last sample in the batch has length 0). In the new interface, we'd have offset = [0,4,8,8] so we can't tell whether if the new interface is used by just looking at the last element of offset.
It appears that we need a new frontend interface to avoid

[2019-11-01 17:42] colesbury commented on #29042
This seems like it would be nice to have, but I don't have a sense for how much work it would be to maintain a clang build. cc @ezyang who knows the build infra and CI

[2019-11-01 17:47] dccastro opened #29044 "Add Wishart and inverse-Wishart distributions"
## 🚀 Feature

Implement the positive-definite-matrix-valued Wishart and inverse-Wishart distributions, currently missing from `torch.distributions`.

## Motivation

These distributions often pop up in Bayesian analysis as the conjugate priors for the covariance or precision matrix of the multivariate Gaussian. It would be great to have an official, GPU-accelerated, `torch.distributions`-compatible

[2019-11-01 17:54] kevinwilfong commented on #28958
https://github.com/pytorch/pytorch/pull/29045

[2019-11-01 17:55] fritzo commented on #29044
I believe many practitioners now recommend LKJ over Wishart and inverse-Wishart. @fehiepsi has implemented an [LKJ distribution in Pyro](https://github.com/pyro-ppl/pyro/blob/dev/pyro/distributions/lkj.py), which we may want to move upstream to PyTorch.

[2019-11-01 17:58] colesbury commented on #1359
Maybe @vincentqb can chime in on whether we plan to include a conjugate gradient implementation

[2019-11-01 18:03] fehiepsi commented on #29044
Actually, I didn't implement it. It was a great contribution by @elbamos!

[2019-11-01 18:03] dccastro commented on #29044
Sure, I agree LKJ can be well-suited for a lot of cases and it'd be great to have it in PyTorch! Though isn't the Wishart's conjugacy still a strong argument for tractable variational inference?

[2019-11-01 18:07] alicanb commented on #29044
@fritzo should we port pyro's conjugate subclass to pytorch?

[2019-11-01 18:13] yinghai commented on #29019
Yeah, we need a new flag in the frontend to have this new change. And this new change is not just for convenience. To lower this op to accelerator, we usually create a larger buffer and zero pad. For example, we want to look up indices [0, 1, 2, 3], but since we allocate the indices as max size of 8, the input to accelerator becomes [0, 1, 2, 3, 0, 0, 0, 0]. Since `0` is a valid lookup index, we d

[2019-11-01 18:17] yinghai commented on #29019
For ui, we might want to have something like
[code]
And stub a default as `False`.

[2019-11-01 18:20] zasdfgbnm commented on #11172
This seems to be fixed when I am testing on my `Python 3.7.3` now. Closing.

[2019-11-01 18:20] #11172 closed

[2019-11-01 18:25] ezyang commented on #29042
We can give it a shot, if it's not too hard to do. What clang versions should we test with?

[2019-11-01 18:25] vincentqb commented on #1359
We would welcome a PR for it :)

[2019-11-01 18:25] zasdfgbnm commented on #27619
Fixed in https://github.com/pytorch/pytorch/pull/28613

[2019-11-01 18:25] #27619 closed

[2019-11-01 18:26] jspark1105 commented on #29019
@yinghai this discussion is more about having one more element in offset not about indices. Maybe we can separate discussion about paddings for accelerators from this?

[2019-11-01 18:28] jspark1105 commented on #29019
I think @yinghai's suggestion on adding new_offset=True can be a way to do what you suggested?

[2019-11-01 18:29] #23497 closed

[2019-11-01 18:49] jzazo commented on #21819
Is this problem related to this [one](https://github.com/NVIDIA/apex/issues/319)?
I am on Ubuntu 18.04, and I have tried pytorch 1.1.0, 1.2.0, 1.3.0 and cuda's 9.2, 10.0, 10.1 with Python 3.7.4 within a conda installation. The nvidia-smi drivers I am currently using are 440.26, but I have tried a bunch as well, none working.

In my case, I get the `RuntimeError: CUDA error: an illegal memory acces

[2019-11-01 18:51] borisfom commented on #17606
Looks like it's not an issue with latest TRT6 and parser, so we can close it.

[2019-11-01 18:51] #17606 closed

[2019-11-01 18:57] colesbury commented on #29019
Yes, sounds good

[2019-11-01 19:15] peterbell10 commented on #23401
There are two issues here:
1. `torch.cuda` is not initialized when `device_count` is called:
https://github.com/pytorch/pytorch/blob/d690521cf661c5f080e9d330b9f88e5055bb2e67/torch/csrc/cuda/Module.cpp#L64-L65
@zhangguanheng66 can hopefully comment on why it was left commented out in #23030. Did it break something?

2. `atfork` handlers registered with `multiprocessing.util.register_after_fork` are

[2019-11-01 19:16] ZolotukhinM opened #29055 "TorchScript does not preserve string behavior for string with unicode characters"
## 🐛 Bug

If a function calls `len(s)`, it works differently in scripted and eager modes.

## To Reproduce

Test:
[code]

Output:
[code]

cc @suo

[2019-11-01 19:21] fritzo commented on #29044
@dccastro sure, if you already have Wishart code and you'd like to add it to `torch.distributions` (with docs and tests), then I'd be happy to review.

@alicanb sure, feel free to move Pyro's `BetaBinomial`, `DirichletMultinomial` and `GammaPoisson` upstream to PyTorch; @neerajprad and I will be happy to review.

[2019-11-01 19:31] SsnL commented on #23401
@peterbell10 Yeah, really `os.register_at_fork` should be the preferred atfork handler registration method but it is only available >= 3.7. I think `pthread_atfork` is fine here because the same problem can happen even if the fork child does not return to python interpreter. A comment would be nice.

[2019-11-01 19:33] ternaus opened #29057 "Docker issue for Pytorch 1.3"
The issue is related to the issues:

https://github.com/NVIDIA/apex/issues/486
https://github.com/NVIDIA/apex/pull/490

When I try to compline mmdetection with pytorch 1.3 docker I get an error that can be fixed by defining a few environmental variables. It would be nice to be able to perform a compilation without doing these extra steps:

Works with pytorch 1.2

[code]

After changing to
[code]

[2019-11-01 19:38] #29004 closed

[2019-11-01 19:49] traits opened #29058 "Windows build in virtual environment problem"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Create a virtual environment on Windows 10 and build pytorch from sources

## Environment

- Base Python installation (WinPython, portable): `V:/bin/scripting/python/3.7.4`
- Dedicated virtual environment: `V:/bin/scripting/python/v/pytorch`

From pytorch's setup.py configuration summary:
[code]
Error, immediately following:
[code]

T

[2019-11-01 19:51] suo commented on #29036
Thanks for the report! Your repro succeeds for me on master:
[code]
Could you try installing the nightly an seeing if the issue persists?

[2019-11-01 20:16] alanhdu commented on #29036
Confirmed that the repro succeeds on nightly.

[2019-11-01 20:16] #29036 closed

[2019-11-01 20:19] jizongFox commented on #20967
@sublee  I compared the Python code for Batch norm code between 1.0.0 (which works) and recent version, the Python part for forward seemed to be the same. I guess the C/C++ part has some issues then.

[2019-11-01 20:22] orionr commented on #24157
Thanks for the details. @lanpa, @J0Nreynolds and @sanekmelnikov are looking to improve this visualization with https://github.com/pytorch/pytorch/pull/26639 in 1.4

[2019-11-01 20:22] salexspb commented on #29042
Looks like this is a small fix? ( https://github.com/pytorch/pytorch/issues/28288 + add an actual CI job to make sure it doesn't break in the future)

Would be great to have an official support for clang cuda builds, this would allow us to experiment with PyTorch deployment :)

[2019-11-01 20:24] haowu80s commented on #29042
@salexspb That fix is for a `clang`/`libc++`/`nvcc` build.

[2019-11-01 20:25] elbamos commented on #29044
@fritzo's comment on the preference for LKJ over Wishart is accurate. The accepted best practice these days (in my world) is to separately sample from LKJ to get a decomposed correlation matrix, and from something else to get a vector of variances.  There's a significant body of papers on issues with Wishart, and the LKJ prior is also must faster computationally.

E.g., https://mc-stan.org/docs/2_

[2019-11-01 20:36] vadimkantorov commented on #29028
Also, there is a variety of inplace interfaces: torch.Tensor.fun_, torch.Tensor.fun(..., out=...), torch.nn.functional.fun(..., inplace = ...) (especially for functions like sigmoid). Not all functions implement all of these which makes it difficult to support optional inplace mode https://github.com/pytorch/pytorch/issues/26644#issuecomment-534762427

[2019-11-01 20:49] haowu80s commented on #29042
@ezyang clang 9.0.0. The build should use `libc++` as well.

[2019-11-01 20:50] #28789 closed

[2019-11-01 20:58] Smerity commented on #27738
Just to note I ran into a potentially related issue in upgrading to PyTorch 1.3 so in case this helps anyone:

My Titan V card had no issue but my GTX 1080 Ti reported "no kernel image is available for execution on the device".

This was with `conda install pytorch cudatoolkit=10.1 -c pytorch`.

Whilst this may be related to an older Nvidia driver my system decided to make upgrading that difficult

[2019-11-01 21:04] bryant1410 commented on #27738
With cudatoolkit=10.1.243?

On Fri, Nov 1, 2019 at 4:59 PM Stephen Merity <notifications@github.com>
wrote:

[2019-11-01 21:09] adamjstewart commented on #23482
@colesbury using the following patch:
[code]
I hit the exact same error. However, if I use:
[code]
I get past this error. I now hit a new error:
[code]
Have you ever seen this before? If not I'll keep investigating.

Let me know if you want me to share my `stdint.h` and `stdint-gcc.h`.

[2019-11-01 21:12] ezyang commented on #27215
As of https://github.com/pytorch/pytorch/pull/28251 this is now affecting PyTorch Windows builds

[2019-11-01 21:13] gchanan commented on #29028
@colesbury's answer is correct (although there isn't a `torch.pow_` that I can find).

We'll try to clean this up.  In the meantime, I wouldn't use any `torch.fn_` functions, those are meant to be on the Tensor only.

If you find something that you want to use and there isn't an obviously supported variant of it, open an issue (and tag me) and we'll figure it out.

[2019-11-01 21:13] Smerity commented on #27738
Using `conda install pytorch torchvision cudatoolkit=10.1.243 -c pytorch` still results in a `RuntimeError` on my 1080 Ti sadly:

[code]

[2019-11-01 21:22] adamjstewart commented on #23482
I'm not sure why PyTorch is building it's own copy of QNNPACK, as I have:
[code]
set. Let me try building a separate QNNPACK package.

[2019-11-01 21:23] ezyang opened #29063 "Trace of torch.tensor is impressively convoluted"
[code]

gives the trace

[code]

This is way more nodes than I expected to see.

cc @suo

[2019-11-01 21:24] dashesy commented on #28955
There should be no need for a cuda runtime to build for cuda. Otherwise it will be impossible to build in a machine that has no GPU, or build a code base for contiguous integration. `_get_cuda_arch_flags` should default to a fixed set of architectures when current machine has no cuda.
In fact even if the current machine has a particular GPU, we would like to be able to build for a different set of

[2019-11-01 21:24] soumith commented on #27738
ok let me get my hands onto a 1080Ti. This shouldn't happen, it is weird.

[2019-11-01 21:26] yinghai commented on #29019
Basically, if we go with proposed method, it will solve the padding on indices issue too.

[2019-11-01 21:31] alanhdu opened #29065 "PyTorch deadlocks when freeing memory in embedded Pybind interpreter"
## 🐛 Bug

When running a function that uses a PyTorch in an embedded pybind11 interpreter, freeing tensors constructed from NumPy deadlocks.

## To Reproduce
[code]

with `hello.py`

[code]

Then running the binary will print `HELLO` and hang. Going into GDB, I see:

[code]

In our actual application, I was able to hack around this by using the following function instead of `torch.tensor` or `torc

[2019-11-01 21:41] alanhdu commented on #29065
I hacked together a small Dockerfile at https://github.com/alanhdu/pytorch_29065 where you can reproduce this.

[2019-11-01 21:44] soumith commented on #23482
a copy of QNNPACK was forked into `aten/src/ATen/native/quantized/cpu/qnnpack`, so the cmake variable USE_QNNPACK is no longer being respected.

[2019-11-01 22:03] mrshenli commented on #28874
It's this the line below either never returned or crashed:

https://github.com/pytorch/pytorch/blob/41e42c34d65f7dce5f526cdb059e860bbe4d0f36/test/dist_autograd_test.py#L111

[2019-11-01 22:05] vadimkantorov commented on #29028
@gchanan for instance there is torch.Tensor.masked_fill (without an out argument) and inplace torch.Tensor.masked_fill_ - which prevents the inplace mode that you proposed to @SsnL

[2019-11-01 22:13] adamjstewart commented on #23482
Okay, if I set the undocumented `USE_PYTORCH_QNNPACK=OFF` then I can get past this next error. I'm starting to wonder if I should just directly call `cmake` instead of `python setup.py`.

Next error:
[code]
Let me see if there's a way to disable this too.

[2019-11-01 22:15] gchanan commented on #29028
@vadimkantorov that's a good point, but I think it should be a separate issue.  In my mind there are two problems:
1) The documentation is inconsistent and we expose a bunch of functions that aren't deprecated nor documented so it's hard to know what to use.
2) The actual functions provided aren't consistent so it's difficult to write generic code.

Do you mind filing an issue for the second one?

[2019-11-01 22:15] soumith commented on #27738
@Smerity can you please confirm that running https://github.com/pytorch/examples/tree/master/word_language_model with `python main.py --cuda` is also failing on your end?

[2019-11-01 22:17] soumith commented on #27738
also can you give your output of `nvidia-smi`, and preferably open a new issue. I want to get to reproducing it, so far haven't been able to.

[2019-11-01 22:28] shubho commented on #29028
Thanks for the clarifications - @soumith  also DMed that the ones I am looking for are the ones that @colesbury pointed out in https://pytorch.org/docs/stable/tensors.html#torch.Tensor.log - but good that it also uncovered some docs to clean up :)

[2019-11-01 22:43] jjsjann123 commented on #22526
Quick update, the previous PR was botched... Round 2 PR: #29016

[2019-11-01 23:05] zasdfgbnm commented on #28791
Minimum reproducing code:

[code]

[2019-11-01 23:40] zasdfgbnm commented on #28791
I don't think there is a good solution because CUDA does not provide API to check if a pointer is inside a locked page or not. All we can do is to run some API that deals with pinned memory and check if it fails.

[2019-11-01 23:55] adamjstewart commented on #23482
Got past this one with another `stdint-gcc.h` include in `llvmMathExtras.h`. Now I have another error:
[code]
Where should `pthread_setname_np` be declared? I'm going to try disabling `BUILD_CUSTOM_PROTOBUF` next.

[2019-11-02 00:02] ptrblck commented on #28777
@Multihuntr I've added synchronization points to the code and could reproduce the slowdown. I would have to run some additional tests to get a "good" baseline.
Could you post your setup for your PyTorch 1.1.0 installation, please?

[2019-11-02 00:31] v0dro commented on #23430
What's the status of this issue? It says triaged. Can I go ahead with this?

[2019-11-02 01:15] jerryzh168 commented on #28328
should be working now, please check again. Feel free to reopen the issue if it still doesn't work.

[2019-11-02 01:15] #28328 closed

[2019-11-02 01:29] pritamdamania87 opened #29083 "initializedContextIds_ field in DistEngine grows without bound"
## 🐛 Bug

`initializedContextIds_` field in DistEngine grows without bound

## Expected behavior

We should cleanup entries for this map as autograd context ids are cleaned up. Or we should have a field in `DistAutogradContext` instead.

## Additional context

https://github.com/pytorch/pytorch/blob/master/torch/csrc/distributed/autograd/engine/dist_engine.h#L86

cc @ezyang @gchanan @zou3519 @jerr

[2019-11-02 01:56] dzhulgakov commented on #29019
There's still a corner case `0,0,0,0` - is it padded sequence of empty lists or just an empty list?

Since we're discussing changing embedding_bag api - we can also consider `length` encoding instead of offsets. Pro: it has the same size without extra element, support concat to concatenate two lists. Cons: I think majority of kernels actually need to compute prefixsum anyway (and the proposed "new

[2019-11-02 02:00] dzhulgakov commented on #28945
@supriyar - would ARM be detected as mobile build or not? (so that we build qnnpack)

FBGEMM-baked quantized kernels work only on x86. We have ARM implementations with QNNPACK but we might be picking those only on mobile build right now (that support is more experimental).

@vellano - what is your system? is it embedded one?

[2019-11-02 02:25] yinghai commented on #29019
For offsets [0, 0, 0, 0], we would expect output from acclerator to be all zeros in either case? If we are going to have a flag to change the flavor of embedding bag, maybe having lengths isn't a bad idea, except for that you need to do prefix sum basically defeats the purpose of the parallel for that the proposal is pitching.

[2019-11-02 03:04] 121786404 commented on #19453
i use libtorch-cxx11-abi-shared-with-deps-1.3.0.zip
The problem still exists

[2019-11-02 03:17] peterjc123 commented on #27215
Can we get the actual memory usage during the linking stage? How much memory do we have on the build machine?

[2019-11-02 03:22] Hans0124SG commented on #20822
Thank you for your kind reply! However, I think `worker_init_fn` won't allow me to return the conn which will be used in my `Dataset` and subsequently `pd.read_sql` for example :(

[2019-11-02 03:39] qzhong0605 commented on #28955
@vladserkoff my answer is not correct. It's possible to build with `cuda runtime` just by `nvcc` tool.

@dashesy You are right.  The problem could be worked around with a fixed set of architectures.
It could be done by setting an environment `TORCH_CUDA_ARCH_LIST`

[2019-11-02 03:46] dashesy commented on #28955
Great! `TORCH_CUDA_ARCH_LIST=All` should be fine, but binary size may be large. I wonder what is a good compromise, to avoid really old hardware.

[2019-11-02 04:15] SsnL commented on #20822
@Hans0124SG You can use `torch.utils.data.get_worker_info()` to manipulate your dataset object in `worker_init_fn`.

[2019-11-02 05:14] ruppeshnalwaya1993 commented on #20124
The warning says in pytorch 1.1.0 and later optimizer step should be before lr scheduler step. But the warning does not appear in pytorch 1.1.0. It only appears in 1.2.0 and later. Is this intended or a mistake?

[2019-11-02 05:20] SsnL commented on #20124
The change was in 1.1. The warning was added in 1.2.

On Sat, Nov 2, 2019 at 01:14 RUPPESH NALWAYA <notifications@github.com>
wrote:

[2019-11-02 05:24] xsacha commented on #27840
Is it possible to have nightly static builds? Would avoid having these issues with static builds that keep popping up.

[2019-11-02 06:01] qzhong0605 commented on #28955
A default value for `TORCH_CUDA_ARCH_LIST` on `cpp_extension.py` may be more suitable than the `None` value.

[2019-11-02 07:28] kcy1019 commented on #25518
@ptrblck Thanks! I've just encountered the same problem and your `.cuda()` tip worked like a charm :)

[2019-11-02 09:29] #28363 closed

[2019-11-02 10:47] PyExtreme opened #29088 "Compilation Error in contiguous: cpp frontend"
## 🐛 Bug

I am getting this error
 `error: passing ‘const at::Tensor’ as ‘this’ argument discards qualifiers`
while running the following code

`input = input.contiguous()`

where input is torch tensor declared as const Tensor& input.

I have to perform

[code]

&

[code]

However, when I build this separately in **_libtorch_** env, I didn't get any error.

What could be the possible reason for th

[2019-11-02 11:45] KingCyrus commented on #3825
You saved my career! I have been on this for weeks. Thanks.

[2019-11-02 12:04] seanywang0408 opened #29089 "a trivial question in torch.nn.init._calculate_fan_in_and_fan_out"
## 📚 Documentation

In the below source code in the documentation,
[code]
I thought the condition ``` if tensor.dim()>2``` is of no use and the ```receptive_field_size``` could be set to tensor[0][0].numel() directly. Is there any magical effect of it which I did not noticed?

[2019-11-02 13:59] tjf801 opened #29090 "[Feature request] Provide binaries for Python 3.8"
## 🐛 Bug

Trying to install torch results in a python error.

## To Reproduce

Steps to reproduce the behavior:

1. Install Python (python-3.8.0-amd64.exe)
2. run pip install numpy
3. run pip install torch torchvision -f https://download.pytorch.org/whl/torch_stable.html

## Expected behavior

Pytorch gets installed

## Environment

[code]

## Additional context

Full console output:
[code]

cc @e

[2019-11-02 14:06] peterjc123 commented on #29090
Python 3.8 binaries are not yet available. cc @soumith

[2019-11-02 14:08] tjf801 commented on #29090
ah. didn't think of that.

[2019-11-02 14:29] isaac-you commented on #29020
···
ModuleNotFoundError: No module named 'torch'
···

anaconda default python version is python3.6.5
but
[code]
automatically installed a new python3.6.7  to support pytorch.

[2019-11-02 14:31] isaac-you commented on #29020
[code]

[code]

so the ipython from anaconda cannot use pytorch  and python can

[2019-11-02 15:25] SsnL opened #29092 "[FR] script return subclass of the original module class"
## 🚀 Feature
I would love `jit.script`ed modules to be subclasses of the original ones. Currently, the returned modules are of the same `RecursiveScriptModule` type, making them unusable with `isinstance` calls. While one can get the original name of the module, there is no general way to make the same function work for a regular module and a `RecursiveScriptModule`.

E.g., the following extremely

[2019-11-02 16:09] sztal commented on #1837
Hi, I know this issue is closed already, but I wonder why PyTorch has to implement median in such a inconsistent way with respect to other standard numerical libraries? I just got hit by this weird behavior and it took me a while to figure out what is going on.

I understand that there are some good reasons for this design decision, but I just wonder what they are?

[2019-11-02 16:12] dccastro commented on #29044
Thanks for the pointers and discussion, @fritzo & @elbamos! I'll work on it and open a PR once it's ready.

[2019-11-02 17:58] vishwakftw commented on #29089
Yes, I think you are right, since the else block is active if `dimensions == 2`.

[2019-11-02 18:17] niaoyu commented on #27969
@fmassa
I just have the same issue, my env info is show as:
`
PyTorch version: 1.4.0a0+496d232
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Ubuntu 16.04.6 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
CMake version: version 3.14.0

Python version: 3.6
Is CUDA available: Yes
CUDA runtime version: 10.1.243
GPU models and configuration:
GPU 0: Tesla V100-SXM2-16GB
GPU 1

[2019-11-02 19:26] nmilosev opened #29093 "error: 'SO_REUSEPORT' was not declared in this scope"
## 🐛 Bug

When building from master, the error in the title appears.

## To Reproduce

Steps to reproduce the behavior:

1. checkout master
1. build

## Expected behavior

Build works

## Environment

 - PyTorch Version: 1.4 master
 - OS (e.g., Linux): Fedora Linux
 - How you installed PyTorch (`conda`, `pip`, source): source
 - Build command you used (if compiling from source): `python setup.py d

[2019-11-02 19:38] adamjstewart commented on #23482
Disabling `BUILD_CUSTOM_PROTOBUF` didn't work. Any suggestions?

[2019-11-02 20:32] IlyaOvodov opened #29094 ""Unknown type constructor" error in TorchScript"
## 🐛 Bug

Scripting functions and classes with initialisation of List, Dict, Tuple fails, if `import typing` is used instead of `from typing import...`: Error "RuntimeError: Unknown type constructor typing.List"

## To Reproduce
Code 1
[code]
- works normally

Code 2 - fails:
[code]
- fails with error
[code]
The same trouble with Dict, Tuple. And with scripting classes.

## Expected behavior
Code

[2019-11-02 20:40] williamFalcon commented on #13273
Any updates on this? Currently having this issue with pt 1.3. Need to calculate a parametrized softmax using the output of DP.

[code]

[2019-11-02 21:19] sbrl commented on #488
What's the status of this? I do not posses an NVidia® Graphics Card, so I'm effectively stuck and limited to the CPU for AI-based tasks.

[2019-11-02 21:37] cathalgarvey commented on #488
AMD have been working on support for Polaris or newer GPUs, worth looking at their rocm stack for current status. Much cheaper than nVidia, and never hurts to break up a monopoly.

Sadly, very few platforms ever bother to support OpenCL. Torch7 was just approaching acceptable support when they pivoted into PyTorch.

On 2 November 2019 21:20:52 GMT+00:00, Starbeamrainbowlabs <notifications@github.c

[2019-11-02 22:05] nmilosev commented on #28313
I cannot reproduce this.

Did this get fixed in the meanwhile?

[code]

I wrote these two tests, and both are passing. @sadanand-singh can you provide an example please?

1. `save` doesn't accept `encoding`.
2. `load` does but on my machine this doesn't brake the loading when using dill. See the second test.

I maybe didn't understand the report so if you could provide an example, that would be be

[2019-11-02 22:24] nmilosev commented on #28313
To add, I modified `torch/serialization.py`:

[code]

and I got this:

[code]

Even further just firing a REPL:

[code]

So seems to me that `dill` is definitely supporting `encoding` for the `Unpickler`, which is the only thing we added with the mentioned PR.

Seems to me, that since `dill` 0.3.1 this is supported: https://github.com/uqfoundation/dill/issues/156 and checking the code https://gith

[2019-11-03 00:42] adamjstewart commented on #23482
According to https://stackoverflow.com/questions/30346649/pthread-setname-np-was-not-declared-in-this-scope, `pthread_setname_np` was defined in GLIBC 2.12, but my OS comes with:
[code]
I might be stuck unless I can figure out how to build a newer glibc.

[2019-11-03 00:56] alanhdu commented on #29065
Just as an update: it looks like the following diff:

[code]

fixes this issue. Is there any readon to prefer `AutoGIL` over `pybind11:gil_scoped_acquire`?

[2019-11-03 00:56] adamjstewart commented on #23482
Using the following patch to get around this issue:
[code]

[2019-11-03 01:13] ArgentumWalker commented on #16417
Have same issue:
`RuntimeError: CUDA out of memory. Tried to allocate 20.00 MiB (GPU 0; 7.93 GiB total capacity; 0 bytes already allocated; 3.83 GiB free; 0 bytes cached)
`
With latest pytorch (1.3) and cuda (10.1) version. Nvidia-smi also shows half-empty GPU, so amount of free memory in error message is correct. Can't reproduce it with simple code yet

[2019-11-03 01:24] Tony-Y commented on #24892
https://github.com/pytorch/pytorch/pull/28401#issuecomment-549090571

[2019-11-03 02:42] huangpan2507 commented on #6747
only installed torch-0.4.1.post2 works for me and don‘t downgrading the numpy
version  from 1.15.4 -> 1.15.0.  I  reinstall the numpy version 1.16。

[2019-11-03 02:51] soumith opened #29096 "magma functionality isn't working on K80 GPU with official binaries"
## 🐛 Bug

The bug started with me investigating that WaveGlow models, and torch.inverse are not working on K80 GPUs in Colab: https://github.com/pytorch/hub/issues/62

The summary of the bug is that one sees `RuntimeError: CUDA error: invalid device function` when running any CUDA linear algebra functions on a K80 GPU, which end up hitting magma.

Here's a minimal repro:

[code]
The print is neede

[2019-11-03 02:52] soumith commented on #29096
cc: @ngimel @csarofeen @ptrblck for any ideas

[2019-11-03 02:54] soumith commented on #29096
cc: @vishwakftw fyi

[2019-11-03 03:04] soumith commented on #29093
cc: @mrshenli @pietern a nccl upgrade might fix it because NVIDIA/nccl#244

[2019-11-03 06:59] peterzheng98 opened #29098 "The hierarchy of the demo program is not available"
## 📚 Documentation
https://pytorch.org/cppdocs/installing.html

In the section started by "We can now run the following commands to build the application from within the example-app/ folder:", the demo make a dictionary and go into it. It seems do not working probably because the CMakeList.txt and example-app.cpp is in example-app dictionary, not in ```build```.

[2019-11-03 09:05] edgarriba opened #29099 "[BUG] mypy error for TorchScript module"
## 🐛 Bug

I got the following error when I run mypy's type system  in a TorchScript module. To be precise in the forward call.

[code]

## To Reproduce

Check the issue here: https://github.com/kornia/kornia/pull/261

## Expected behavior

I expect that mypy doesn't detect any error during the static analysis for forward methods. Now we hardcoded adding ` # type: ignore` but this make torch script

[2019-11-03 09:08] #29088 closed

[2019-11-03 09:08] PyExtreme commented on #29088
Fixed

[2019-11-03 10:39] fmassa commented on #27969
@lara-hdr do you know what should be changed so that exporting to onnx work in this situation?

[2019-11-03 11:33] lkhphuc commented on #28379
@ljk53 sorry late response.
I confirmed the model converted to cpu() is able to load on the phone.

[2019-11-03 13:54] BramVanroy commented on #20070
I can confirm that passing `torch.long` (or `torch.int64`) to the dtype in `rand` or `randn` throws an error:

`RuntimeError: _th_normal_ not supported on CPUType for Long`

[2019-11-03 17:31] lara-hdr commented on #27969
The PRs to support the ONNX export for FasterRcnn and MaskRcnn are merged in Torchvision, but as you can see in https://github.com/pytorch/vision/blob/master/test/test_onnx.py the tests are still disabled.
In PyTorch, https://github.com/pytorch/pytorch/pull/28225 is required to be able to export the models correctly and is not yet merged. This PR should be sufficient to export fasterRCNN (for mask

[2019-11-03 17:35] lara-hdr commented on #27969
Also note that in https://github.com/pytorch/vision/blob/master/test/test_onnx.py the tests use opset 10 (since opset 11 was not implemented in onnxruntime for testing).
But the the models are exportable with opset 11, and test_onnx.py will be updated when enabling the tests, to use this version once the PRs are merged in PyTorch.

[2019-11-03 21:46] ezyang commented on #27215
We're running Windows on c5.2xlarge which is 16G. I don't know how much memory we're using at link time; if there's some way to run the equivalent of top continuously as we're linking we can check.

[2019-11-03 21:57] ezyang commented on #27840
@xsacha Well, we just turned off the caffe2 static windows build because of #27215; the problem has more to do with lack of expertise on how to keep it working :(

[2019-11-03 22:15] LLNLanLeN commented on #28623
hi, I'm still seeing this issue, I'm wondering have this been resolved?

[2019-11-03 22:58] vishwakftw commented on #29096
Does `torch.solve(torch.eye(10), torch.randn(10, 10, requires_grad=True))` work?

If it does, this could be a hotpatch for the upstream pytorch/hub issue.

[2019-11-03 23:12] t-vi opened #29102 "Indexed assignment of quantized Tensors yields unexpected results"
## 🐛 Bug

Indexed assignment of quantized Tensors effectively copies over the `int_repr` of the source tensors. This makes no sense in terms of values when the scale / zero_point do not match.

## To Reproduce

[code]
gives
[code]

## Expected behavior

I would expect q2 and q3 to be the same and close to q.

## Environment

masterish PyTorch

## Additional

I would suspect that this could be fixe

[2019-11-04 00:56] #29098 closed

[2019-11-04 01:08] SixerWang commented on #19453
@121786404 Your problem point to that the code with LSTM will core dump?

[2019-11-04 02:15] Lezcano commented on #28937
The discussion in #7313 is indeed rather relevant. I modified the implementation at the repository using the trick proposed by ngimel there and now the implementation is much more compact and does not need of any external call. One just uses the class as-is and everything just works.

[2019-11-04 02:59] ShaneYS opened #29105 "PyTorch 1.3 train accuracy is less than PyTorch 1.0"
First, I trained pspnet on my own data with pytorch1.0.1.post2 and torchvision0.2.2, and got the F1 score = 0.757.
And then I trained the same case with pytorch1.3.0 and torchvision0.4.1, and got the F1 score = 0.738.

In order to confirm the result， I trained pspnet on another my own dataset:
1. with  pytorch1.0.1.post2 and torchvision0.2.2, F1 = 0.658.
2. with pytorch1.3.0 and torchvision0.4.1,

[2019-11-04 03:07] soumith commented on #29105
there's not enough info to tease out.

I'd suggest starting minimizing the variability -- small network, toy dataset.
Also, maybe train a few randomly initialized networks and look at the mean / std of the accuracy. One data point doesn't say enough.

Once you get some more clear data, file a new issue.

[2019-11-04 03:07] #29105 closed

[2019-11-04 03:08] 121786404 commented on #19453
`	std::istringstream iss(std::string(gtr_lstm_binData, gtr_lstm_binData + gtr_lstm_binSize));
	hdl->net = torch::jit::load(iss);
	hdl->net.to(at::kCUDA);
	auto img_tensor = torch::from_blob(img_float.data, {1, 1, img_float.rows, img_float.cols}, torch::kFloat32);
	std::vector<torch::jit::IValue> inputs;
	inputs.push_back(img_tensor.to(at::kCUDA));
	torch::Tensor output_image = tr->net.forward(inpu

[2019-11-04 03:11] soumith commented on #29096
the torch.solve thing does work!

[2019-11-04 03:12] soumith commented on #28623
has been resolved on master, so you'll have to install a preview / nightly build for it.

[2019-11-04 03:39] vishwakftw commented on #29096
This probably means that there is some issue with MAGMA's `getri`.

[2019-11-04 03:51] ezyang commented on #23401
For the full history, read #15782, #15734, #17357.

But I believe the true constraint is that it is not permissible to initialize CUDA context when device count is called. This is because internally, we have a hack called "lazy cuda library stubs", where you can run programs that are dynamically linked against CUDA even on systems that don't have CUDA. In this situation, calls to `cudaGetDeviceCou

[2019-11-04 04:08] ngimel commented on #29096
It's an issue with magma helper functions that `getri` uses - magmablas_slacpy, magmablas_slaset, magmablas_strtri_diag etc.

[2019-11-04 04:26] Multihuntr commented on #28777
@ptrblck Sure. Using a Dockerfile (ensuring latest version of base image):

[code]

and with a GTX GeForce 1080, driver version 410.104, CUDA version 10.0

If I run the script given in the original post, I get:

[code]

<details><summary>If I modify the script to attempt synchronisation...</summary>
<p>

I get:

[code]

Since the CUDA operations are asynchronous, what's the simplest way to for syc

[2019-11-04 04:55] soumith commented on #29096
as an update, Natalia came up with the following repro: https://gist.github.com/soumith/7db66e7f6c87bb4718856c03137685d3

We've also eliminated any of the cuda pruning business as the issue, because the issue is also with conda binaries.

Additionally, Natalia verified that the appropriate sass is actually in the binary.

I've additionally started bisecting things towards how we build magma.a via

[2019-11-04 05:15] shuaihuaiyi opened #29106 "There may be a bug on BoolTensor of PyTorch 1.3"
## 🐛 Bug

`BoolTensor.eq(1)` seems to be not working properly.

## To Reproduce

Steps to reproduce the behavior:

![TIM截图20191104130514](https://user-images.githubusercontent.com/14048129/68100619-e8f70b80-ff03-11e9-96bf-083b609cae55.png)

Change the script to `a[:,0].contiguous().eq(1)` can temporarily solve this problem.

## Expected behavior

The result should be all True, or at least the same

[2019-11-04 05:44] supriyar commented on #28945
QNNPACK should be built by default if the USE_PYTORCH_QNNPACK flag is set (which is set to true by default). However if the platform is not one of Android, iOS, Linux, and macOS then we set this to OFF as qnnpack is unsupported. The build should emit a warning. https://github.com/pytorch/pytorch/blob/master/cmake/Dependencies.cmake#L323

Accessing `Context::supportedQEngines()` will give a list of

[2019-11-04 06:44] JohnZengAsr opened #29108 "a retrained and saved jit module could not be reload."
I'm try to retain a JIT module from pytorch using c++ based on Libtorch libtorch-win-shared-with-deps-1.3.0 _cpu, and save retrained module for next usage.
               the save and reload process will be like the following , but get erro while try reload.
		torch::serialize::OutputArchive output_archive;
		auto presavedModule = torch::jit::load("D:/localshare/data/model/model.pt");
		presavedMo

[2019-11-04 08:35] vellano commented on #28945
Thanks for the reply ~
yes，i build it on nxp s32v soc. The OS is ubantu 18.04.

[2019-11-04 08:37] vellano commented on #28945
Thanks for the reply ~
I checked USE_PYTORCH_QNNPACK, it is on and qnnpack is build.

[2019-11-04 08:42] JiangYi0311 commented on #20794
I compiled successfully, but there are a lot of warnings, such as "warning: field of class type without a DLL interface used in a class with a DLL interface".
Generated a .PYD file. When ‘’import resample2d_cuda‘’, an error occurred, “ImportError: DLL load failed: The specified module could not be found.”

could you tell me how to solve the problem? thanks!

[2019-11-04 08:43] JiangYi0311 commented on #20794
@peterjc123 @ys0823
I compiled successfully, but there are a lot of warnings, such as "warning: field of class type without a DLL interface used in a class with a DLL interface".
Generated a .PYD file. When ‘’import resample2d_cuda‘’, an error occurred, “ImportError: DLL load failed: The specified module could not be found.”

could you tell me how to solve the problem? thanks!

[2019-11-04 09:16] peterjc123 commented on #20794
@JiangYi0311 Use something like https://github.com/lucasg/Dependencies to find out what DLLs it depends on.

[2019-11-04 09:57] ygwangthu opened #29109 "[BUG] error for source code of submodule "android/libs/fbjni""
there is a commit error for the submodule fbjni, please check!
I guess that somebody might forget to (or wrongly) set the commit: e109650ca03e3db54ab973c14d10f176b6436c48

The error information is

git.exe submodule update --init
error: Server does not allow request for unadvertised object e109650ca03e3db54ab973c14d10f176b6436c48
Fetched in submodule path 'android/libs/fbjni', but it did not conta

[2019-11-04 10:04] JohnZengAsr opened #29110 "C++ saved script module could not be reloaded"
## 🐛 Bug

when try load a saveed torch::jit::script::Module that been saved by Module::save before using method torch::jit::load it, error happened.
## To Reproduce

Steps to reproduce the behavior:
1. a pytorch python pretrained script module been prepraed.
2. load a pretrained fron python script module  by method
  auto presavedModule = torch::jit::load("./model.pt");
3. save this module after r

[2019-11-04 10:07] narfanar opened #29111 "First element in data passed to `torch.*Tensor` constructors cannot be a tensor"
## 🐛 Bug

`torch.*Tensor` constructors can accept something like `torch.LongTensor([list, tensor])` but not `torch.LongTensor([tensor, tensor])` or `torch.LongTensor([tensor, list])`.

**Exception message:**

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Not sure.

## Environment

 - PyTorch Version (e.g., 1.0): 1.3.0
 - OS (e.g., Linux): Windows 10 64bit
 - How

[2019-11-04 10:16] lanpa commented on #24468
https://github.com/lanpa/tensorboardX/pull/528

[2019-11-04 10:18] lanpa commented on #24468
@orionr @sanekmelnikov Should we merge these two in 1.4?

[2019-11-04 11:53] #28738 closed

[2019-11-04 12:22] pietern commented on #29093
@nmilosev Can you confirm your kernel version?

The issue suggests this is a problem only on old Linux kernel, so I want to make sure this is the case for you as well before doing a NCCL upgrade. A NCCL upgrade also means we're no longer on a released version (we're on 2.4.8 today), since this fix is not part of an official release.

[2019-11-04 12:24] pietern commented on #13273
@williamFalcon Can you open a new issue for this?
Please provide an exact description of what you're trying to do and why it's not working as expected.

[2019-11-04 12:27] pietern commented on #29083
@pritamdamania87 The "high priority" label means it goes to triage review (i.e. is the right person working on this issue right now). I doubt that was your intention here.

@ezyang Is there a better label for per-(module|topic|queue) prioritization?

[2019-11-04 13:14] pietern commented on #28288
I'm not sure if we test explicitly with `libc++`, but per this issue, I highly doubt it :)

Looking at the related TVM issue this should be fixable by making the destructor `noexcept(true)`.

[2019-11-04 13:30] InfluenceFunctional commented on #23999
got the same error, only occasionally, after moving training into a separate script

[2019-11-04 13:48] hujuntao123 opened #29115 "crash when call dist.new_group(ranks=local_ranks, backend='gloo')"
## 🐛 Bug

process crash when call dist.new_group(ranks=local_ranks, backend='gloo')

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

dist.init_process_group(backend='gloo', init_method=args.dist_url, world_size=args.world_size, rank=args.rank)
local_group = dist.new_group(ranks=local_ranks, backend='gloo')

Process 3 terminated with the following error:
Traceback (most recent call las

[2019-11-04 13:54] LLNLanLeN commented on #28623
@soumith Thank you for response, I just want to ask few question about nightly build as I'm still very new to using anaconda and many times before when I install the nightly build using conda on the following link:

https://anaconda.org/pytorch/pytorch-nightly

I would overwritten my current pytorch version. I'm wondering what is the best way to install nightly build and if you can point me to a t

[2019-11-04 13:56] nmilosev commented on #29093
I tried both on Fedora 31:

[code]

and on CentOS 7:

[code]

Same output :(

[2019-11-04 14:21] vadimkantorov opened #29116 "torch.masked_fill missing out argument"
Following up on https://github.com/pytorch/pytorch/issues/29028#issuecomment-548968891, there exists `torch.masked_fill_` but cannot be accessed through `out` argument, which makes writing generic (inplace / out-of-place) code less straighforward

This is just one example, it would be nice to make a summary table for all ops and see if they are consistent about out-argument (allows for generic cod

[2019-11-04 14:39] ezyang opened #29117 "[tracking issue] RPC tests are flaky"
[code]

cc @ezyang @gchanan @zou3519 @jerryzh168 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528

[2019-11-04 14:39] ezyang commented on #29117
https://app.circleci.com/jobs/github/pytorch/pytorch/3442436

[2019-11-04 14:40] ezyang opened #29119 "TestCuda.test_copy_non_blocking is flaky on ROCm"
[code]

https://ci.pytorch.org/jenkins/job/pytorch-builds/job/py3.6-clang7-rocmdeb-ubuntu16.04-test2/4722/console

cc @ezyang @gchanan @zou3519 @jerryzh168

[2019-11-04 15:12] mgrabmair commented on #20329
I observed this in a model that uses `Sequential` to store as class properties `Conv2d` and `ConvTranspose2d` layers, i.e. it is not specific to `Embedding`. Manual chaining resolves the issue.

[2019-11-04 15:13] Rikorose opened #29122 "[jit] RuntimeError: Expected ty->isSubtypeOf(atype) to be true, but got false."
## 🐛 Bug

I am not quite sure, but I think this error occurs if a TracedModule is getting scripted.
Only present in the latest nightly from today. It works in 1.3.0.

[code]

## To Reproduce

This error message makes it quite hard to isolate and provide an reproducable example. However, if I don't trace the child module, the error is gone.

## Expected behavior

A TracedModule should be convertabl

[2019-11-04 15:13] supriyar commented on #28945
In that case, can you try setting the following before calling torch.jit.load on your model?
[code]
By default we don't set qnnpack as default engine if it is built. In the current setup it needs to be explicitly specified by the user if they want to use it.

[2019-11-04 15:14] ezyang commented on #29083
There's a few options I guess.
1. We can update the bot to only add triage review for issues labeled high priority that aren't already tagged with some other domain
2. We can keep the current behavior and adjust the core/frontend triage review to only consider issues labeled with triage review without a domain label
3. We can make another label per domain for their high priority stuff

TBH (2) see

[2019-11-04 15:27] pietern commented on #29083
Thanks, @ezyang. I agree, (2) is easiest and doesn't require everyone using a new label.

[2019-11-04 15:39] elnazsn1988 commented on #11004
@peterjc123 , can you specify where you changed these files/their names? i am hitting a semi related error while building detectron2 on a windows10 with CUDA 10.1, exiting due to :
1 error detected in the compilation of "C:/Users/aesnj/AppData/Local/Temp/tmpxft_00007274_00000000-10_deform_conv_cuda.cpp1.ii".
error: command 'C:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v10.1\\bin\\nvcc.ex

[2019-11-04 15:42] jjhelmus commented on #27738
cudatoolkit 10.1.243 packages are now available in `defaults` for the linux-64 and win-64 platforms.

[2019-11-04 15:49] orionr commented on #24468
The `torch.utils.tensorboard` implementation uses a  writer implementation in core TensorBoard that supports GCS and S3 if TF is installed and S3 if not installed. Adding GCS in that second case would be great. You would need add a new GCSFileSystem around https://github.com/tensorflow/tensorboard/blob/master/tensorboard/compat/tensorflow_stub/io/gfile.py#L206

[2019-11-04 16:05] feiwang3311 commented on #18626
same here. This feature would be useful

[2019-11-04 16:16] f0k commented on #28224
We could, but wouldn't that only reveal the calls that we found by grepping Pytorch's source code? Or do you hope to find some innocent-looking API call that calls `cudaSetDeviceFlags`?

I guess what we'd need would be a ton of `cudaGetDeviceFlags` test balloons in the code to see where they get reset. It doesn't help that even if everything is done correctly, `cudaGetDeviceFlags` returns 0 betwee

[2019-11-04 16:20] ezyang opened #29125 "_compared_saved_loaded doesn't work with torch.tensor constants"
Steps to reproduce:

1. Add this test to `test_jit.py`:

[code]

2. Run test:

[code]

Seems like there's something wrong where we are not resetting constant numbering second time around.

[2019-11-04 16:30] #28969 closed

[2019-11-04 16:36] soumith commented on #27738
thanks, noticed that over the weekend :)

[2019-11-04 16:38] soumith commented on #28623
look at pytorch.org and in the commands table, use the "Preview" button.

[2019-11-04 16:39] soumith commented on #29109
`git submodule sync` will fix it for you i think

[2019-11-04 16:45] gchanan opened #29128 "JIT should respect SKIP_PYTHON_BINDINGS and SKIP_PYTHON_BINDINGS_SIGNATURES"
The eager python frontend does not bind specific operators to python, either via SKIP_PYTHON_BINDINGS or SKIP_PYTHON_BIDNINGS_SIGNATURES:
https://github.com/pytorch/pytorch/blob/41e42c34d65f7dce5f526cdb059e860bbe4d0f36/tools/autograd/gen_python_functions.py#L19-L49

The JIT does not respect these lists, however, which means we can end up serializing operator calls that aren't considered part of th

[2019-11-04 16:51] Sxela commented on #27723
Looks like it's because of the Spectral normalization. Works fine with Weight normalization.

[2019-11-04 16:59] daidedou opened #29130 "PyTorch+Windows: is parallelization over multiple GPUs now possible?"
Hi,

I am planning to add a new GPU on my computer. Using Pytorch on Windows, I wonder if it will be possible for me to use parallelism.

In 2017 it wasn't possible: https://github.com/pytorch/pytorch/issues/4391
Has it changed? Will I have to switch to Linux? And is there a guide of how to install Pytorch for DataParallelism?

[2019-11-04 17:13] zou3519 commented on #28993
For context: the reason why the gradient is not implemented on 1.3 and master is because of https://github.com/pytorch/pytorch/issues/28286 (I am working on the fix). Separately from that problem, and as reported in this issue, the gradient seems to be incorrect.

[2019-11-04 17:23] rohan-varma commented on #29130
Hi, please use the pytorch forums for questions (https://discuss.pytorch.org/). Thanks!

[2019-11-04 17:23] #29130 closed

[2019-11-04 17:48] mattdawkins opened #29132 "Autograd AddBackwards build error on Windows with VS2017, torch v1.3"
## 🐛 Bug

I get the errors listed below trying to build v1.3.0 on Windows, 64-bit with VS2017 in the windows terminal.

## To Reproduce

[code]

cc @peterjc123

[2019-11-04 17:50] jasam-sheja commented on #24345
I'm facing the same problem as @LucaMoschella (After reducing the #samples, no error rises):
[code]
 However, I'm using the batched version of cdist, which is available on version 1.3, so I modified the workaround of @mberr to support batching (still not-optimized):
[code]

## Reproduce

[code]
`test(2**6, 2**6, 2**14)` causes `RuntimeError: CUDA out of memory`
`test(2**8, 2**6, 2**6)` causes `Run

[2019-11-04 17:52] jackm321 commented on #29019
Between the proposed method, padding with -1 and using lengths, the proposed change seems like the best one because it solves both the accelerator and parallel_for use cases at once, doesn't require prefix sum compute everywhere, and has only the drawbacks of sizeof(offsets) == 1 + sizeof(outputs) and it introduces breaking changes which can be mitigated with a flag.

[2019-11-04 17:54] mruberry commented on #28252
Updating labels per last oncall review.

[2019-11-04 17:54] mruberry commented on #28179
Updating labels per last oncall review.

[2019-11-04 18:05] colesbury commented on #28179
@ezyang suggests one issue per crash and letting the test authors know when they're disabled

[2019-11-04 18:07] colesbury commented on #28993
@gchanan suggests back porting the fix to 1.3.1

cc @soumith

[2019-11-04 18:08] zou3519 commented on #28993
@v0dro I am going to fix this in the next few hours because we might want a backport for this asap, sorry about that.

[2019-11-04 18:11] suo commented on #29122
Thanks for the speedy report! @wanchaol, can you take a look?

[2019-11-04 18:15] JiahanLiu commented on #22564
Here's a 1.3 Wheel

https://github.com/JiahanLiu/JiahanLiuThesis/blob/master/RaspberryPi4/torch-1.3.0a0%2Bde394b6-cp37-cp37m-linux_armv7l.whl

[2019-11-04 18:15] colesbury commented on #28871
@ngimel says that Thrust has a stable sort version of sorting.

@dreiss says Java has "Tim" sort, which is stable, which might be a useful reference.

[2019-11-04 18:15] JiahanLiu commented on #22898
Here's a 1.3 Wheel for armv7l:

https://github.com/JiahanLiu/JiahanLiuThesis/blob/master/RaspberryPi4/torch-1.3.0a0%2Bde394b6-cp37-cp37m-linux_armv7l.whl

[2019-11-04 18:17] colesbury commented on #28878
cc @dreiss

[2019-11-04 18:19] colesbury commented on #7334
I'm closing this because the issue is over a year old. Please re-open if you run into the problem!

[2019-11-04 18:19] #7334 closed

[2019-11-04 18:21] suo commented on #29008
@VitalyFedyunin: could this be related to https://github.com/pytorch/pytorch/pull/28839?

[2019-11-04 18:24] VitalyFedyunin commented on #29008
Doesn't looks like this, we can try it before #28839 to confirm.

[2019-11-04 18:26] colesbury commented on #28060
This would not have broken if it weren't for the large-scale "fix" of linter related issues in https://github.com/pytorch/pytorch/pull/14515, which replaced `NULL` with `nullptr`.

[2019-11-04 18:30] VitalyFedyunin commented on #29008
Im building Oct31 version of the code now to check if it is related

[2019-11-04 18:37] zou3519 opened #29137 "torch.sum(tensor, dim=()) is different from np.sum(arr, axis=())"
## 🐛 Bug

`torch.sum(tensor, dim=())` performs a full reduce, while `np.sum(arr, axis=())` performs no reduce.

## To Reproduce

Steps to reproduce the behavior:

[code]
## Expected behavior

These should probably be the same. Also, I don't think it makes sense for `tensor.sum(dim=())` to do a full reduce. This special casing caused the bug at https://github.com/pytorch/pytorch/issues/28993 and I

[2019-11-04 18:38] mattdawkins commented on #29132
In terms of compiler version, I'm slightly over the version number in the build guide but very similar

Microsoft Visual Studio Community 2017
Version 15.8.9
VisualStudio.15.Release/15.8.9+28010.2050
Microsoft .NET Framework
Version 4.7.03190

Installed Version: Community

Visual C++ 2017   00369-60000-00001-AA771
Microsoft Visual C++ 2017

ASP.NET and Web Tools 2017   15.8.05085.0
ASP.NET and Web

[2019-11-04 18:39] VitalyFedyunin commented on #29008
It is broken somewhere at (or before) 0e441dd386d2dff6663b70e8c633efa8f84d9254 (meaning before #28839 was landed)

[2019-11-04 18:49] zou3519 commented on #28993
I checked the history of this issue and I believe it has been around since multidim support for torch.sum was added. In particular, I checked pt 1.1 and pt 1.2, and the bug is present in both.

I think it is fine if we don't backport this for the following two reasons:
1. the bug is present in both 1.1 and 1.2 so it's not a "regression". Running the above code in 1.3 causes an error for "gradient

[2019-11-04 18:52] driazati commented on #29108
Are you able to share the `model.pt` you are using to get this error?

[2019-11-04 19:00] t-vi commented on #29137
So this seems to have been introduced with the switch to TensorIterator (#11908) and may be an inadvertent result of the TensorIterator logic of specifying dimensions.
Before, passing `[]` would mean no reduction.
https://github.com/pytorch/pytorch/pull/11908/files#diff-847680695fb0535da86db8b98a13b5a3L523

[2019-11-04 19:07] obilaniu commented on #29106
This resembles a manifestation of #28747 , yes a critical bug but solved in master and PyTorch 1.3.1 is due out soon.

[2019-11-04 19:24] thiagocrepaldi commented on #28743
https://github.com/pytorch/pytorch/pull/26547 includes a distributed sampler inside `ChunkDataset`, (which inherits from `IterableDataset`).

We do that because we dont know the size of the dataset and we cant fit it entirely in memory, so the sampler selects random chunks with unknown size in memory, shuffle it and return to the `DataLoader`

https://github.com/pytorch/pytorch/pull/28841 discusse

[2019-11-04 19:34] jantic commented on #27723
You can simply strip Spectral Normalization from a fully trained model just before exporting to Onnx to get rid of this error. I just ran my model through this code I hacked together:

[code]

[2019-11-04 20:26] raghuramank100 commented on #28919
Fix deepcopy for Qtensor #28328

Status merged at:  merged in [23193c1](https://github.com/pytorch/pytorch/commit/23193c155f05dcf5cf2e4d17c09e83ebc6f15dd6).

[2019-11-04 20:28] raghuramank100 commented on #28919
Support empty sequential modules for observers: https://github.com/pytorch/pytorch/pull/28384

 merged in [94757e0](https://github.com/pytorch/pytorch/commit/94757e035dbe26f2b55d1b1d30ef78fb13a4e8a7).

[2019-11-04 20:29] raghuramank100 commented on #28919
Support quantization for inplace ReLU:  https://github.com/pytorch/pytorch/pull/28710

Merged in  [57c9b1c](https://github.com/pytorch/pytorch/commit/57c9b1cefc8fed09ffb251040b9db2481ec34f81).

[2019-11-04 20:45] albanD commented on #23854
Hi,

Looking a bit more at the issue, I am thinking that `_calculate_fan_in_and_fan_out` does the right job.
The problem is that `nn.Conv2d` use some "trick" to have the weights for each group into a single Tensor.

Maybe a better fix is to change the `reset_parameters` method of `_ConvNd` to do the initialization of the weights for each group independently.
And add a warning in the doc for the `g

[2019-11-04 20:46] gchanan commented on #28993
ya, let's not fix it in 1.3.1.

[2019-11-04 20:50] meijieru commented on #23854
It looks like a pretty good solution.

[2019-11-04 21:02] suo commented on #29008
Okay, I'll take a look, thanks for investigating @VitalyFedyunin

[2019-11-04 21:29] rsokl commented on #25878
If it is any help, here is a picture of a notebook that I executed in sequence to reproduce this error:

![image](https://user-images.githubusercontent.com/29104956/68159662-34b7ae00-ff20-11e9-8419-ce67fcd57af4.png)

[2019-11-04 21:33] z-a-f commented on #28938
Is it possible to move this issue to pytorch/tutorials?

[2019-11-04 21:34] mruberry commented on #29117
This may only be for ASAN.

[2019-11-04 21:36] mruberry commented on #29117
@aazzolini Who wrote this test recently.

Does this test need a retry mechanism? Should it be disabled on ASAN builds?

[2019-11-04 21:40] mruberry opened #29150 "RpcTestWithFork.test_stress_light_rpc is flaky"
Nov 04 20:51:32 test_stress_heavy_rpc (__main__.RpcTestWithFork) ... Rank 0 finished testing heavy_rpc 20 times in 1.3649165630340576 seconds.
Nov 04 20:51:32 Rank 2 finished testing heavy_rpc 20 times in 1.364267349243164 seconds.
Nov 04 20:51:32 Rank 1 finished testing heavy_rpc 20 times in 1.367553949356079 seconds.
Nov 04 20:51:32 Rank 3 finished testing heavy_rpc 20 times in 1.373278141021728

[2019-11-04 21:43] mruberry opened #29151 "Windows CI build is flaky: cannot delete workspace... because it is being used by another process"
21:32:11 Started by upstream project "pytorch-builds/pytorch-win-ws2016-cuda9-cudnn7-py3-trigger" build number 85221
21:32:11 originally caused by:
21:32:11  Started by upstream project "pytorch-master" build number 12502
21:32:11  originally caused by:
21:32:11   Started by GitHub push by facebook-github-bot
21:32:11 [EnvInject] - Loading node environment variables.
21:32:11 Building remotely on

[2019-11-04 21:43] #28947 closed

[2019-11-04 21:47] nairbv opened #29153 "uncoalesced add(dense, sparse) missing sparse values for torch.int16 on cuda"
## 🐛 Bug

When adding (or calling to_dense()) on uncoalesced sparse tensors of dtype int16, values seem to be lost.

## To Reproduce
[code]

Wasn't able to repro on CPU or with any other dtype.

## Expected behavior

in above code, expecting  `tensor([[ 0, 11],  [ 0,  0]], device='cuda:0', dtype=torch.int16)`.
`sparse.coalesce().to_dense()` should equal `sparse.to_dense()` or raise an error. I bel

[2019-11-04 22:07] aazzolini commented on #29117
This test shouldn't be flaky neither take 400+ seconds as it is very simple. I'm investigating.

[2019-11-04 22:24] suo commented on #29008
@jamesr66a I have bisected this problem to:
[code]

Can you take a look?

[2019-11-04 22:24] rohan-varma opened #29156 "test_multi_py_udf_remote rpc test is flay"
## 🐛 Bug

`test_multi_py_udf_remote` is flaky. Example failure: https://app.circleci.com/jobs/github/pytorch/pytorch/3454576. This is again the timeout issue that we've been seeing on numerous flaky tests.

cc @ezyang @gchanan @zou3519 @jerryzh168 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528

[2019-11-04 22:30] ezyang commented on #29151
The plan on record is @mingbowan will move these CI jobs to CircleCI and then we kill the Jenkins job.

[2019-11-04 22:33] mruberry opened #29159 "Gradle build is flaky: "could not get resource""
Nov 04 22:22:52 Welcome to Gradle 4.10.3!
Nov 04 22:22:52
Nov 04 22:22:52 Here are the highlights of this release:
Nov 04 22:22:52  - Incremental Java compilation by default
Nov 04 22:22:52  - Periodic Gradle caches cleanup
Nov 04 22:22:52  - Gradle Kotlin DSL 1.0-RC6
Nov 04 22:22:52  - Nested included builds
Nov 04 22:22:52  - SNAPSHOT plugin versions in the `plugins {}` block
Nov 04 22:22:52
Nov

[2019-11-04 22:40] rathken commented on #24081
From the SuperMicro X11DPG-OT-CPU. "Select Enable to program Access Control Services (ACS) to Chipset PCI-E Root Port Bridges. Select Disable to program Access Control Services to all PCI-E Root Port Bridges.The options are Enable and Disable."  Are you saying that for this board it doesn't work? Just curious, I have several X10DRG-OT+-CPU and it work fine there. BIOS Version: 3.1 Release Date: 07

[2019-11-04 23:05] #27648 closed

[2019-11-04 23:18] adefossez commented on #27972
Also impacted since 1.3. It fails to get the source for any module.
Suspicious line: https://github.com/pytorch/pytorch/blob/b7fb2b8862f7f2cf20120f684a3e422b86e9c2af/torch/serialization.py#L290
`obj` is typically a torch module, so `''.join(obj)` will always throw an exception.
I think this commit is the culprit:
https://github.com/pytorch/pytorch/commit/df338f80a6319cbc4f411df5ca4469c56fd8ec87#di

[2019-11-04 23:31] nairbv commented on #29153
I'm not familiar with atomicCAS but it seems this is caused by an issue in THCATomics.cuh (in the implementation of struct AtomicAddIntegerImpl<T, 2> ).

Changing this gives correct results for the above test:
[code]
though that's probably not the correct fix.

[2019-11-04 23:31] soumith commented on #29096
Finally resolved the issue today.

It turns out that the CMake for magma 2.5.1 added the line `set(CUDA_SEPARABLE_COMPILATION ON)`, and doing separable compilation somehow triggers some deep nvcc interaction with CentOS7 / RHEL7 linkers and all of that doesn't go down very well.

After setting `CUDA_SEPARABLE_COMPILATION` to `OFF`, we can successfully build static binaries that work correctly on a

[2019-11-04 23:31] #29096 closed

[2019-11-04 23:33] gchanan opened #29161 "[C++] Deprecate Tensor.type() (DeprecatedTypeProperties)"
`tensor.type()` gives you a DeprecatedTypeProperties object, but we didn't actually deprecate the call.  We should do this ASAP so we can delete DeprecatedTypeProperties.

CC @ezyang.

cc @ezyang @gchanan @zou3519 @jerryzh168 @yf225 @SsnL

[2019-11-04 23:34] gchanan commented on #29161
See also https://github.com/pytorch/pytorch/pull/25306.

[2019-11-04 23:37] ygwangthu commented on #29109
thanks!

[2019-11-04 23:41] vishwakftw commented on #29096
Thanks ever so much @soumith @ngimel for helping find the bug.

[2019-11-04 23:43] ygwangthu opened #29162 "[BUG] python3.8 ---- cannnot convert nullptr to Py_ssize_t"
compiler error with python3.8, but works with python3.7.
the error information is: cannot convert nullptr to Py_ssize_t for the file with  /*tp_print*/:

For example:

could you help to solve this bug for all the files with /*tp_print*/ ?

[2019-11-04 23:59] LLNLanLeN commented on #24251
@BowenBao hi, sorry to ping you again even though the issue has been resolved a while ago, but can you help me understand why the input would have different shape at runtime?

[2019-11-05 00:25] gcp commented on #27972
@dzhulgakov take a look above, looks like the "hard to unit test" change had a typo.

[2019-11-05 00:27] lsy323 commented on #24251
Hi @LLNLanLeN , using the simple model above as an example.
The shape of the input x can be different at runtime. e.g. its length can be 10, 20, 30... And the forward function always returns elements starting from the third one to the last one.

Hope this is helpful

[2019-11-05 00:37] LLNLanLeN commented on #24251
I see, so batch size could be the reason why it's effected as well? For example, when training you'd use batch, but when doing inference, we set batch to 1.

[2019-11-05 00:41] mruberry commented on #27326
This is continuing to happen: https://circleci.com/gh/pytorch/pytorch/3462992?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link.

avx2 or newer.'
Nov 04 16:31:14 test_avg_pool2d (__main__.TestQNNPackOps) ... ok
Nov 04 16:31:14 test_mean (__main__.TestQNNPackOps) ... ok
Nov 04 16:31:16 test_qnnpack_add (__main__.TestQNNPackOps) ... ok
Nov 04 16:31:17 test_qnnpack_ma

[2019-11-05 00:46] mruberry commented on #27326
@raghuramank100, should we disable this test on MacOS until the flakiness is addressed?

[2019-11-05 01:13] mruberry opened #29168 "Conda gateway timeout in CI"
Nov 05 01:09:12 ++ PATH=/opt/conda/bin:/opt/conda/envs/testenv/bin:/opt/conda/condabin:/opt/conda/bin:/opt/rh/devtoolset-7/root/usr/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Nov 05 01:09:12 ++ export PATH
Nov 05 01:09:12 ++ /opt/conda/bin/conda install -y cpuonly -c pytorch
Nov 05 01:10:18 Collecting package metadata (current_repodat

[2019-11-05 01:27] bwasti opened #29170 "`model.copy()` is broken"
## 🐛 Bug

Calling a scripted model.copy() is broken.  Throws an error here:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. create a scripted model
2. call `model.copy()`

## Expected behavior

Expected a copy to be made.

 - PyTorch Version (e.g., 1.0): master
 - OS (e.g., Linux): linus
 - How you installed PyTorch (`conda`, `pip`, source): source
 - Build command you used (if comp

[2019-11-05 01:32] mruberry commented on #29159
See also https://circleci.com/gh/pytorch/pytorch/3464073?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link.

[2019-11-05 01:36] AshkanAliabadi commented on #28878
@RuABraun This is caused by an assertion triggered from at::native::embedding, line 19, which requires the type of the 'input' argument to be 'long.'  Changing the 'input' type to long (in C++ `inputs.push_back(torch::ones({1, 1}, at::ScalarType::Long))`)  should fix this issue.

[2019-11-05 01:59] SigmaLGX opened #29172 "Modules without copying in multiprocess"
I tried to use a multi-process inference model,but the following occurred:

process number ==1:   GPU Memory-usage:  1933mib。
process number ==2:   GPU Memory-usage:  3028mib。
                                   ......
process number ==10:   GPU Memory-usage:  11310mib。

code:
![image](https://user-images.githubusercontent.com/30401681/68172320-113d4380-ffb2-11e9-8ea0-b1b5cde756a5.png)

[2019-11-05 02:11] JohnZengAsr commented on #29108
Sorry, it has been tried much times, but failed.
seems the file size could uploaded here is limited by github. the target file is size of more than 10 Mbytes.
Maybe a comman mobileV2 module from python save as JIT script could reproduce it.
seems the saved module file will much smaller than the original module script in file size. For the talking case, original module file has a file size of  1150

[2019-11-05 02:31] LLNLanLeN commented on #28623
@soumith awesome, thank you.

[2019-11-05 02:32] jamesr66a commented on #29008
Hi @BowenBao, the original graph you posted from 1.3 returns %0. Since ONNX traces with the `force_outplace` mode, the `index_put` operation was actually originally an `index_put_` operation in the original code, and the generated `force_outplace` code is likely wrong (see instances of `force_outplace` here https://github.com/pytorch/pytorch/blob/master/tools/autograd/gen_variable_type.py)

So I b

[2019-11-05 02:50] JohnZengAsr commented on #29108
ok I've create a github repository to store the talking files, you can checkout by command
git clone https://github.com/JohnZengAsr/issue29108.git
you can get original module file and the file that been stored by and with problem to reload.

[2019-11-05 02:58] supriyar commented on #27326
Filed #29176 to temporarily disable on MacOS

[2019-11-05 03:04] SsnL opened #29177 "[FR] trace_module traces both eval and train graph"
The current `jit.trace_module` returns a `ScriptModule` that behaves the same in `eval` and `train` mode, i.e., always executing the graph that is equivalent to the module at tracing time. This makes it hard to trace a Module's train and eval graph, and combine them together in a single returned `ScriptModule`

[2019-11-05 03:16] wuwuwuxxx commented on #15612
I have two machines, one is 1080ti, the other is tesla v100, the environment is the same: driver version 430.40, cuda 10.1, pytorch 1.3, torchvision 0.4.1. Both nvidia-smi works fine.  torch.cuda.is_available() returns false on v100,  but true on 1080ti.
any advice on this problem?

[2019-11-05 03:17] yinguoxiangyi commented on #14370
Have you solved the issue?

[2019-11-05 04:09] adamjstewart commented on #23482
I finally managed to get PyTorch to build! See https://github.com/spack/spack/pull/13588 for the final patch I needed and other hacks I had to make. I realize that these patches are far too hacky to merge, and I'm far from a C++ expert, so if someone wants to come up with a safer patch, I would be more than happy to test it. Thanks for everyone's help!

[2019-11-05 04:34] soumith commented on #15612
@wuwuwuxxx V100 needs atleast CUDA 10

[2019-11-05 04:38] #28379 closed

[2019-11-05 04:39] #26764 closed

[2019-11-05 04:55] soumith commented on #27972
https://github.com/pytorch/pytorch/pull/28965#pullrequestreview-311317283 has a fix and will be merged soon

[2019-11-05 05:45] wuwuwuxxx commented on #15612
cuda 10.1 already, installed through conda cudatoolkit, should I install cuda 10 lib in a nvidia way?

[2019-11-05 05:49] XiaobingSuper commented on #27692
@ezyang, #26795 has been merged which can solve this problem, we can close this issue now. Thanks!

[2019-11-05 06:19] CoinCheung commented on #15359
After almost one year, the problem of non-deterministic interpolation is still not solved.

Hope the community to add this feature :)

[2019-11-05 06:21] CoinCheung commented on #15359
Maybe a deterministic interpolation would bring great help to users.

[2019-11-05 07:10] suo commented on #29008
To close the loop: the bug existed in 1.3, it's just that @jamesr66a's PR put an optimization pass earlier in the code, uncovering this issue earlier on in the compilation process. At no point was this correct.

It appears that for some reason `index_put_` is special, and we're not getting the appropriate value from `getValueTrace()` after outplacing it (whereas things work fine for `add_`). @hous

[2019-11-05 07:12] zsk423200 opened #29186 "PytorchStreamWriter failed opening archive."
## ❓ Questions and Help

pytorch:1.3
torchvision:0.4.1

i want to save TorchScipt model:
[code]
the same as the [tutorials](https://pytorch.org/tutorials/advanced/cpp_export.html#converting-to-torch-script-via-tracing),but has the error:
[code]
where am i wrong??

[2019-11-05 07:24] t-vi commented on #15359
I didn't really advertise it yet, but given that there seems to be more user interest than developer resources allocated, I have this listed as a project that you can vote on in my [github sponsorship page](https://github.com/sponsors/t-v) when I set this up.
I'm quite certain we could make good progress by the end of the year and interpolation certainly is one of the things that I have a plan how

[2019-11-05 07:52] vchzls opened #29187 "InstanceNorm will be converted to syncBN"
## 🐛 Bug

## To Reproduce

When I convert BN to syncBN, the InstanceNorm will become to syncBN

[code]
should be
[code]

## Environment

PyTorch version: 1.3.0
Is debug build: No
CUDA used to build PyTorch: 10.1.243

OS: Ubuntu 16.04.6 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
CMake version: version 3.5.1

Python version: 3.7
Is CUDA available: Yes
CUDA runtime version: 10.1

[2019-11-05 08:16] tsauri commented on #23475
I need to get jacobian of weights wrt outputs. Can weigth.grad be expanded?
Currently I backware n output times and zero_grad manually

[2019-11-05 08:46] alittlealone commented on #25904
I met the same problem with you!
How did you solve this problem?

[2019-11-05 08:46] wangqin4377 commented on #20477
@jj0mst really thanks! I install TF instead TB alone, the problem gone!

[2019-11-05 09:19] klust commented on #16711
It looks like a protobuf problem, I get the same error message at the same place just compiling protobuf with the Intel 2019 compilers.

[2019-11-05 09:25] linkerlin opened #29189 "Automatic ignore .cuda()"
## 🚀 Feature
When pytorch running at a pc without CUDA , the call of .cuda() do nothing but return the origin host object.

## Motivation
for people who have to run models with/without CUDA.

[2019-11-05 09:32] peterjc123 commented on #11004
@elnazsn1988 Could you please elaborate a little bit? What does the error refer to? If you are talking about `error: expression must be a pointer to a complete object type`, then please ensure the protubuf headers are not included in the sources during nvcc compilation. (Usually, you can see where it is included in the log)

[2019-11-05 10:01] GanjinZero commented on #25904
try another version of pytorch

[2019-11-05 10:09] lzj9072 opened #29190 "How to run two different jit models in two GPUs respectively in one scrip?"
I have an encoder-decoder model.  After converted encoder and decoder model into jit models, I want to load encoder on GPU:0 and the encoder outputs **Keys** and **Value**. Then I move the **Keys** and **Values** to GPU:1 since the decoder is loaded on GPU:1.
    encoder = torch.jit.load(feat_model).cuda(0)
    gru_decoder = torch.jit.load(gru_model, map_location=torch.device("cpu")).cuda(1)

[2019-11-05 10:10] vadimkantorov commented on #29187
probably there also exists a same problem with GroupNorm and maybe LayerNorm

[2019-11-05 10:40] RuABraun commented on #28878
:man_facepalming: thanks. that fixed it.

[2019-11-05 10:40] #28878 closed

[2019-11-05 10:50] Dubrzr commented on #24081
If this can provide more info, it also freezes with this motherboard : ProLiant XL270d Gen10.
Thanks

[2019-11-05 11:05] vadimkantorov commented on #29116
Currently it seems:
- some functions have underscore-suffix variant
- some functions have out-variant (sometimes functions have underscore-suffix variant but miss out-variant)
- some nn.functional functions have underscore-suffix variant
- some nn.functional functions have inplace-argument variant (but sometimes corresponding nn.Modules miss inplace-argument variant)

[2019-11-05 11:12] zlcnju opened #29191 "distribute training with both cpu and gpu"
[code here](https://github.com/kubeflow/pytorch-operator/blob/master/examples/mnist/mnist.py)

The training block in the cluster both cpu and gpu machines exist. And it work well in a cluster all cpu or gpu. So i wonder does pytorch support distribute training in a Heterogeneous cluster where both cpu and gpu exist

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen

[2019-11-05 11:36] chinibinibin commented on #5565
What is the grid_sample method doing at all in the 5D case, e.g. with 3D interpolation data, when 'bilinear' mode is active?

[2019-11-05 11:42] sbelharbi commented on #15359
a deterministic interpolation will be a huge help. [link](https://discuss.pytorch.org/t/how-to-make-torch-nn-functional-interpolate-deterministic/42870)

[2019-11-05 11:48] vadimkantorov commented on #26288
I modified [`std::tuple<Tensor, Tensor, Tensor> batch_norm_cuda_template(const Tensor& input_, const Tensor& weight_, const Tensor& bias_, const Tensor& running_mean_, const Tensor& running_var_, bool train, double momentum, double epsilon)`](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/Normalization.cuh#L514) to return only the mean/invstd.

I am now modifying `batch_n

[2019-11-05 12:00] creotiv commented on #5565
@chinibinibin by my observation it just not use third shape dimension. So result in terms of image becoming pixelated.

[2019-11-05 12:24] Con-Mi opened #29194 "Inconsistent Results on torchvision pretrained models using Python script vs C++ API"
I have tried to benchmark and compare a Python script, using a pretrained classification model from the torchvision library with the C++ API implementation in order to make sure it will work with my application.
I have tried the following script in Python:

[code]

And I used the following code in C++:
[code]

The results I get in the Python script:
Probability: 0.99, Index: 1, Label: GoldFish

Th

[2019-11-05 12:27] #29186 closed

[2019-11-05 13:01] CerryXu opened #29197 "This is the version of the problem, I see from other people's source code inside"
![Z`@NP_GBH{00V(I7A_) J`1](https://user-images.githubusercontent.com/45084662/68209933-69eef980-000f-11ea-9aa0-588cee55efa2.png)
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Disc

[2019-11-05 13:59] vadimkantorov commented on #29116
Often inplace is just a more restricted variant of out-variant (with out set to input). nn.functional ops seem to more frequently have inplace-argument, while tensor functions more frequently have out-variant. However, often the boundary between nn.functional functions and tensor ones is not very well defined, especially for things like activation functions.

[2019-11-05 14:05] pietern commented on #29117
https://circleci.com/gh/pytorch/pytorch/3467580

[2019-11-05 14:30] SsnL commented on #29189
You should use a device object and `.to` everywhere instead.

[2019-11-05 14:30] #29189 closed

[2019-11-05 14:33] loretoparisi opened #29198 "RuntimeError: CUDA out of memory with available GPU memory"
I'm running Pytorch bert with adam optimizer. I get a CUDA OOM:

`RuntimeError: CUDA out of memory. Tried to allocate 352.00 MiB (GPU 0; 7.92 GiB total capacity; 1.67 GiB already allocated; 156.00 MiB free; 124.28 MiB cached)`

but I actually I have some GiG available:

[code]

where when the error came out I had

[code]

[2019-11-05 14:49] whrhythm commented on #19835
Have you solved the proble?

[2019-11-05 15:10] #28575 closed

[2019-11-05 15:16] VitalyFedyunin commented on #29058
Have you tried building with `python setup.py install` following https://github.com/pytorch/pytorch#install-pytorch instructions?

[2019-11-05 15:18] VitalyFedyunin commented on #29044
CC @soumith do we want this in out cade base?

[2019-11-05 15:20] VitalyFedyunin commented on #29089
Nice catch! Feel free to submit PR fixing this issue.

[2019-11-05 15:20] chinibinibin commented on #5565
Well this would be critical, as it is not clear on which slice it does the interpolation then.
Looking empirically at results it seems like it is already doing some 3D interpolation currently... not sure.
I need to check this.

[2019-11-05 15:21] VitalyFedyunin commented on #29065
CC @ezyang GIL related

[2019-11-05 15:25] VitalyFedyunin commented on #29111
Nested Tensor implementation is still under development cc @cpuhrsch

[2019-11-05 15:30] VitalyFedyunin commented on #29083
I think we forget to remove it from triage queue

[2019-11-05 15:38] SArham commented on #22898
Thanks @JiahanLiu

For downloading with wget. Changed blob to raw in the url.

https://github.com/JiahanLiu/JiahanLiuThesis/raw/master/RaspberryPi4/torch-1.3.0a0%2Bde394b6-cp37-cp37m-linux_armv7l.whl

@coriolan-cs Via your terminal, go to the pytorch folder.
copy and paste this command
`sed -i '/set(CMAKE_EXPORT_COMPILE_COMMANDS ON)/a set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -latomic")' CMakeLists.

[2019-11-05 15:42] VitalyFedyunin commented on #29106
Please retest with nightly build. As it seems to be fixed in 1.3.1 and nightly.

[2019-11-05 15:42] VitalyFedyunin commented on #29106
I will close it for now, feel free to reopen if you still facing this issue.

[2019-11-05 15:43] #29106 closed

[2019-11-05 15:45] VitalyFedyunin commented on #29137
Probably need to remove from triage pipeline.

[2019-11-05 15:49] #29109 closed

[2019-11-05 15:53] VitalyFedyunin commented on #29172
Hello! I'm not seeing any error text.

[2019-11-05 15:53] #27692 closed

[2019-11-05 15:58] pietern opened #29202 "Add instructions for building torch.distributed on macOS"
## 🐛 Bug

These instructions are missing and we should add them.

Basically:
* Install pkg-config
* Install libuv
* Compile with `USE_LIBUV=ON`

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528

[2019-11-05 16:13] vadimkantorov commented on #28650
Not sure if this is relevant, but multiplying by 1 does incur a copy

[2019-11-05 16:42] soumith commented on #28919
Branch has been frozen.

Triggered Linux/OSX builds at https://github.com/pytorch/pytorch/pull/29206 and Windows builds at https://dev.azure.com/pytorch/PyTorch/_build/results?buildId=17624

[2019-11-05 16:54] VitalyFedyunin commented on #29197
Hello, please use discussion forum https://discuss.pytorch.org/ to ask PyTorch questions.

[2019-11-05 16:54] #29197 closed

[2019-11-05 16:57] VitalyFedyunin commented on #29198
Hi! Can you please provide minimal reproducible script.

[2019-11-05 17:16] edigeze commented on #27969
@fmassa  and @lara-hdr
Thanks for your comments,
The PR #28225  seems to be closed and merged. However, I can't run the above script to convert fasterrcnn_resnet50_fpn to onnx even with opset=11. Otherwise could you explain me how to use directly https://github.com/pytorch/vision/blob/master/test/test_onnx.py to export model ?

[2019-11-05 17:26] umanwizard commented on #29137
Yes this is a known issue. The problem is that downstream functions take an IntArrayRef and don't know how to distinguish between an empty one and one having not been specified at all (e.g. in the `torch.mean(x)` case). Should be fixed IMO by taking `option<IntArrayRef>` everywhere; one issue is what `torch.mean(x, dims=None)` should mean.

I vaguely think I discussed this with @colesbury at some

[2019-11-05 17:35] #25299 closed

[2019-11-05 17:35] pietern commented on #25299
No response, closing the issue.

[2019-11-05 17:38] VitalyFedyunin commented on #29162
Hello!

Can you please provide mode details such as:

1)

Instructions you are using to compile

2)

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (e.g., Li

[2019-11-05 17:45] #28658 closed

[2019-11-05 17:46] miranov25 opened #29209 "N dimensional histogram function in pytorch as in numpy.histogramdd"
## 🚀 Feature -N dimensional histogram function in pytorch as in  numpy

It  would be great to have support for multi-dimensional histograms  with similar functionality  as in the

```numpy.histogramdd```

See discussion within https://discuss.pytorch.org/t/n-dimensional-histogram-function-in-pytorch-cpu-gpu/59888

## Motivation
We are working on interactive visualization of multi-dimensional data

[2019-11-05 17:52] zou3519 commented on #29137
fwiw in numpy, `np.mean(x, dims=None)` performs a full reduce while `np.mean(x, dims=())` performs no reduce

[2019-11-05 17:53] LarsHill commented on #15609
Same here: Pycharm 2019.1.3 and Pytorch 1.2.0

[2019-11-05 17:57] suo commented on #29117
https://l.prod.workplace.com/l.php?u=https%3A%2F%2Fapp.circleci.com%2Fjobs%2Fgithub%2Fpytorch%2Fpytorch%2F3463855&h=AT0ieijWPtblu4dOMQcdK01ePQK3xCHc3mUh_U2ZCqvR4DWSZdjHrzP9jpbA2uUd6RkH5ifRSpwEMVFo0RDioThHQIcvcbd4c8KYRGTHE7rHMGgzt8N1PX_HaVFIgDrfDMYrkFatPvCv7Sno_uBdVQFIhWiiwaXuftAVaQ

[2019-11-05 18:07] nottombrown opened #29210 "Regression: "multinomial_kernel_cuda" not implemented for 'Half'"
## 🐛 Bug
In `torch==1.2.x` we could do the following. Now it throws an error:
[code]

## To Reproduce

Steps to reproduce the behavior:

1. Install nightly with `pip install -U --pre torch==1.4.0.dev20191104 torchvision -f https://download.pytorch.org/whl/nightly/cu101/torch_nightly.html`
1. Run the following script
[code]
This results in the following error
[code]

## Expected behavior

No error,

[2019-11-05 18:08] nottombrown opened #29211 ""multinomial_kernel_cuda" not implemented for 'Half'"
It appears that even after the `1.3.1` fixes, `torch.distributions.Categorical` no longer works with `half` dtypes

## To Reproduce

[code]

[code]

[code]

## Environment

[code]
## Additional context
This is not blocking us because we can convert to fp32 before sampling

[2019-11-05 18:20] rohan-varma opened #29212 "test_py_rref_args_user_share rpc test is flaky"
## 🐛 Bug

The test_py_rref_args_user_share test in `rpc_test.py` is flaky. See failure here: https://app.circleci.com/jobs/github/pytorch/pytorch/3463855. This is again part of the RPC test timeouts issue we've been seeing an increase in lately.

cc @ezyang @gchanan @zou3519 @jerryzh168 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528

[2019-11-05 18:38] traits commented on #29058
Yes, of course. I build pytorch regularly from a specific conda environment  and even from a standard WinPython-based 'installation' (portable). As I said, only virtual environments, generated with venv show this behavior (cf. 'Additional context'). I think, the following lines in pytorchs setup.py are responsible:
[code]
For this, check again the provided links. There is simply no python37.lib to

[2019-11-05 18:46] elbamos commented on #27627
Ping :)

[2019-11-05 18:47] luxe commented on #14850
does the 10 imply cuda 10?

[2019-11-05 19:15] zou3519 commented on #27627
I'm curious if you check out that commit and begin deleting parts of it to see what exactly would cause the error (crash on import torch) to go away. One thing to try is to delete the std::all_of call.

[2019-11-05 19:15] BowenBao commented on #27695
Hi @Mut1nyJD, based on your description I have created an example model with 4-dim input tensor, but I could not repro the issue.
[code]
Warnings are legit, mentioning that the symbolic names for axes are generated since not provided.
[code]
Exported ONNX graph:
![Screenshot from 2019-11-05 11-14-33](https://user-images.githubusercontent.com/9376104/68238174-7ba7b100-ffbd-11e9-86d1-3144ee2ad65b.pn

[2019-11-05 19:18] wanchaol commented on #29122
@Rikorose I did some investigation on this, it seems tracedModule can be successfully turned into ScriptModule on my side. The below works fine. Did you happen to have a re-produciable example that I could look at?

[code]

[2019-11-05 19:20] cpuhrsch commented on #29111
See https://github.com/pytorch/nestedtensor for work-in-progress.

[2019-11-05 19:21] rathken commented on #24081
Is your ProLiant XL270d Gen10 with the NVlink tray or the PCIe tray?

[2019-11-05 19:24] LLNLanLeN opened #29229 "Cannot export onnx graph with bilinear upsampling corner align True"
## 🐛 Bug

I'm trying to export a small models that only contains a single operation which is bilinear upsampling with corner_Aligned = True. But I'm getting the following error:

`RuntimeError: ONNX export failed: Couldn't export operator aten::upsample_bilinear2d`

## To Reproduce

This is the snippet of my code:

[code]

Steps to reproduce the behavior:

Simply run the code above (Make sure to c

[2019-11-05 19:32] ezyang commented on #19145
Now that Tensor-Variable is merged, there are no more problems here.

[2019-11-05 19:32] #19145 closed

[2019-11-05 19:33] #27255 closed

[2019-11-05 19:36] #27695 closed

[2019-11-05 19:37] spandantiwari commented on #27695
@Mut1nyJD - please reopen if there's still any concern.